[2021-01-02 06:44] balaji303 commented on #12919
Thanks @thewilloftheshadow  Sure I will look into it

[2021-01-02 06:44] #12919 closed, assigned to nobody

[2021-01-02 10:20] Alys opened #12920 "date on New Stuff by Bailey news posts varies based on time zone / locale"
@SnowCrasher and @beinginhisshadow and @citrusella all reported that the "2021 IS HERE!" / January Mystery Items Bailey was dated 31 December 2020.  @citrusella's time zone is UTC-5 and her screenshot is the first one below.

@SnowCrasher's post about this was in the Wizards of the Wiki guild since it was related to how the news is to be displayed on the wiki:
_"I'm confused. Today's news says 12/

[2021-01-02 23:01] thewilloftheshadow commented on #12920
Noting my (@beinginhisshadow) own time zone is UTC-6, and I have my language set to Pirate English (but I don't think that that language affects it)

[2021-01-03 04:02] shailenpatel1 commented on #12918
Can I work on this?

[2021-01-03 04:06] shailenpatel1 commented on #12920
Can I work on this?

[2021-01-03 04:06] shailenpatel1 commented on #12916
Can I work on this?

[2021-01-03 07:41] Alys opened #12922 "@Username automatic profile URLs in chat messages should be absolute not relative"
As reported by @citrusella in her post copied below, when you type an @Username in chat, the generated profile link is relative, not absolute.

This means that the link works when you're viewing the post in the habitica.com website but doesn't work in the Android app or in third-party tools. I'm not aware of whether the links work in the iOS app but I suspect they wouldn't.

I'm logging this here

[2021-01-03 10:04] paglias commented on #12916
@shailenpatel1 looks like there's already an open Pr

[2021-01-03 10:04] paglias commented on #12918
@shailenpatel1 unfortunately only issues marked as `help wanted` are available to be worked on

[2021-01-03 10:04] paglias commented on #12920
@shailenpatel1 unfortunately only issues marked as `help wanted` are available to be worked on

[2021-01-04 05:11] samamill commented on #12124
Can I work on this one?

[2021-01-04 08:05] Alys commented on #11689
Heh, this has been reported again as a possible bug by JohnJSal, exactly a year later. :smile: Just posting this note to confirm that the behaviour hasn't changed. This is still marked as "needs design" for a design decision to be made and/or for it to be closed if it's intentional that _you're_ not meant to see the names of the backgrounds.

[2021-01-04 17:38] Tressley commented on #9247
@Alys -- I'm unable to replicate this issue. Is it still happening?

[2021-01-04 17:43] Tressley commented on #12796
@citrusella -- From a design perspective, yes, I don't think it should get the focus state since we're treating the task as the whole object when casting a skill. However, I think it's just a how it was implemented since clicking on the title is technically focusing it. Not sure this needs to be an issue. Just a small artifact.

[2021-01-04 20:15] PitiTheGrey opened #12931 "Add 'questOwner' to the return data of a questActivity webhook (mainly questStarted)"
As a party leader I run a google sheet  to log questActivity via webhooks. (A google apps script web app deals as the webhook server and prints data output to a spredsheet).

The data returned by the questActivity webhook contains information about type(eg 'questStarted'), group (id, name of party), quest (key: name of quest), webhook-type ('questActivity') and user (_id of the party leader).

I b

[2021-01-04 22:35] Pyromonk commented on #12931
I agree with @PitiTheGrey, there needs to be a transparent way to identify the person who initialised the quest, both via API and the site's UI.

[2021-01-04 23:39] negue commented on #10406
Created a PR to fix it - with 2 tests so it "should" be fixed with that

[2021-01-05 05:13] margaretthompson commented on #11501
Is this available to work on?
I think I replicated this issue on my local copy. To clarify, the sample quest item I tried this with showed up in rewards after I lost it when my health went to zero. I pinned it and then re-completed the quest. When I re-received the item via the quest, the item disappeared from being pinned in the market and is no longer technically pinned (purple thumbtack icon) i

[2021-01-05 09:06] Alys commented on #9247
No, it's been fixed. Closing. Thanks @Tressley

[2021-01-05 09:06] #9247 closed, assigned to nobody

[2021-01-05 10:11] paglias commented on #12931
I'm marking this as `suggestion-discussion` for the team to give it a look. But in the meantime as @PitiTheGrey mentioned you can make a call to `GET https://habitica.com/api/v3/groups/party` to see the details of the quest, so there's a way to get this info from the API

[2021-01-05 10:34] paglias commented on #12796
I'm marking it as `help wanted` and `good first issue` since it looks like a perfect bug for a new contributor

[2021-01-05 11:14] Alys commented on #12383
@paglias I can't reproduce this bug now, and nor can @thewilloftheshadow / @beinginhisshadow according to the conversation in [Testing & Bug Squashing for Dragon Tools](https://habitica.com/groups/guild/d9a0ec1e-352b-4697-a5d5-fb45c98fb4a3). Do you know if something was changed to fix this?

[2021-01-05 11:21] thewilloftheshadow commented on #9244
I could take a stab at this one

[2021-01-05 11:24] thewilloftheshadow commented on #12126
Is there some API in weblate that will show the recently updated strings, or do I need to go the route of comparing diffs to find changed strings

[2021-01-05 11:42] Alys opened #12933 "intermittent search bug for Challenge winner in End Challenge modal"
Rae / @rayonce14 (237eae03-eec1-4e47-a4d0-ac1e569c0866) reported a problem with the Username search in the "Select Member" drop-down in the "End Challenge modal. (That's the modal that you access by clicking on the red "End Challenge" button on the right-hand side of the Challenge's page, as opposed to the other two locations you can click on to see participants.)

The Challenge ID was b62848be-4f

[2021-01-05 14:17] paglias commented on #12126
That would be a question for @SabreCat / @phillipthelen

[2021-01-05 14:17] paglias commented on #9244
@thewilloftheshadow marked as in progress!

[2021-01-05 17:32] paglias commented on #12383
I'm pretty sure we didn't change anything, maybe a dependency update? But i haven't seen anything related to this

[2021-01-05 17:33] paglias commented on #12124
sure @samamill ! I'm marking it as in progress for you

[2021-01-05 17:34] paglias commented on #11130
@samamill I'm sorry but I don't think we have a list of which API endpoints are using which fields

[2021-01-05 17:35] paglias commented on #12893
@citrusella sorry for the delay, I think the div might not appear at all if an avatar is missing, in that case the idea is to either add a new empty div in place of it or show it anyway with no content

[2021-01-05 17:39] shanaqui commented on #12819
No worries, it's not that we're in a rush! Just checking that the issue hasn't been abandoned. :)

[2021-01-05 17:39] shanaqui commented on #8735
Thanks for checking in!

[2021-01-05 18:09] veeeeeee commented on #12922
The @Alys suggested solution is fine by us. @paglias can provide more detail.

[2021-01-05 18:10] paglias commented on #12922
@Alys suggestion of using habitica.com all the times when `NODE_ENV` is set to `production` is the best solution 👍

[2021-01-05 18:17] samamill commented on #11130
@paglias Sure, I can figure this out for most APIs. If you or someone else could pick just one API and tell me which fields need to be updated for it, I can take it from there.

I am new to javascript and still learning.  If you can't provide an example API, I can just come back to this when I have a better understanding of the language.

[2021-01-05 21:06] PitiTheGrey commented on #12931
There is some progress: I managed to edit HabitRPG/website/server/lib/webhook.js and added `questOwner: group.quest.leader` to the `quest` statement in line 184 giving me this result:
`{"type":"questStarted","group":{"id":"1e53098d-642a-4042-8df5-5005cafb7903","name":"Tests Party"},"quest":{"key":"mayhemMistiflying1","questOwner":"9b2c3036-4f20-4f8b-aff3-f5ddaf8bc027"},"webhookType":"questActivity

[2021-01-06 22:20] citrusella commented on #12893
Happened by chance that I noticed this in the Tavern just now (somehow in two separate messages by JohnJSal, no clear connection issues or anything and a reload fixed it); the div is *definitely* missing, just to confirm.

[2021-01-07 01:52] Saiyara6133 commented on #12442
I am having difficulty fixing this issue. I am okay if anyone else wants to tackle this issue!

[2021-01-07 16:23] paglias commented on #12902
I can't find anything related to this on loggly

[2021-01-07 16:27] #10406 closed, assigned to nobody

[2021-01-07 16:30] #12916 closed, assigned to nobody

[2021-01-07 16:37] paglias commented on #12931
Yes for the leader name you'll have to make a query for the user profile or use a `populate` call that's already used elsewhere

[2021-01-07 16:50] paglias commented on #11130
@samamill I'm sorry about this but I think we'll want this to be handled internally, it's a bit complex

[2021-01-07 21:08] SabreCat opened #12936 "Opening and closing task edit modal changes outside elements to draggable=false"
### Description
[//]: # (Describe bug in detail here. Include screenshots if helpful.)

citrusella, the serving wench @citrusella (2d6ef231-50b4-4a22-90e7-45eb97147a2c):

[2021-01-07 21:18] SabreCat opened #12937 "Enchanted Armoire empty flag should be calculated dynamically"
### Description
[//]: # (Describe bug in detail here. Include screenshots if helpful.)

The Habitica clients use `user.flags.armoireEmpty` to tell if they should display a message stating that there are no more gear pieces available to obtain from the Enchanted Armoire. The flag needs to be manually returned to `false` via database update or migration each time new gear pieces are added. That bit

[2021-01-09 06:12] Alys commented on #12892
We see this or similar issues happen often enough to be concerning, especially considering that when you use rebirth a second time without meaning to, it always costs you 6 Gems without any warning. It's a nuisance for user support because players often don't realise that they've lost Gems until some time later and we have to hunt back to work out what happened.

I wonder if we could prevent it co

[2021-01-09 09:34] Alys commented on #12918
I believe the code responsible for the mention icon appearing for Usernames in the wrong case is this:

https://github.com/HabitRPG/habitica/blob/7433eeb883887921f3d1406694789e0fce45ec49/website/client/src/components/chat/chatCard.vue#L253

It's a case-insensitive regex. It's been case-insensitive since the mention icon was created in https://github.com/HabitRPG/habitica/pull/9074/commits/35bb5923

[2021-01-09 15:11] #12938 closed, assigned to nobody

[2021-01-09 21:52] benkelaar commented on #9845
Apologies for the long absence, I'll pick this up again.

[2021-01-09 22:59] Pyromonk opened #12940 "Add unique user identifiers to system chat messages (where applicable)"
[//]: # (Before logging this issue, please post to the Report a Bug guild from the Habitica website's Help menu. Most bugs can be handled quickly there. If a GitHub issue is needed, you will be advised of that by a moderator or staff member -- a player with a dark blue or purple name. It is recommended that you don't create a new issue unless advised to.)

[//]: # (Bugs in the mobile apps can also

[2021-01-10 03:50] Alys commented on #12442
@Saiyara6133 Thanks for letting us know! I've set it back to help wanted.

[2021-01-10 03:54] Alys commented on #5429
@x-N0 All calculations are done at the time that a task is completed, so you should see the damage multiplier having an effect on your pending damage immediately.

[2021-01-10 04:07] Alys opened #12941 "Snowball avatar transformation buff does not appear in Private Messages circle icon"
As reported by @Nakonana (33bb14bd-814d-40cb-98a4-7b76a752761c) and confirmed by me (Firefox 83 on Ubuntu):

"The snowman avatar in the round-shaped icon in the inbox is not visible on web
Win 10, Firefox 84.0.2, all Habitica related styles disabled."

The same issue does not happen with the other three avatar transformation buffs.

In Nakonana's screenshot below, you can see the red Accent items

[2021-01-10 15:02] #12555 closed, assigned to nobody

[2021-01-11 15:10] benkelaar commented on #9845
@paglias In order to make sense of the user.vue component, I abstracted the filter segment into a separate component and extracted a separate component for tag filtering out of that.

I refrained from doing other refactorings for now, since I wanted to highlight the changes that went into setting up these components.

In essence this merge request can be merged as is, but I marked it WIP so that I

[2021-01-11 15:41] Tressley commented on #9845
@benkelaar -- Similarly, I let this fall off for a bit. I did manage to get some updates in which can be found here: https://zpl.io/adlyOqe

[2021-01-11 21:07] benkelaar commented on #9845
@Tressley Nice, those already look much better.  Will work well with some of the refactorings I was thinking about as well.

[2021-01-12 21:06] SachJay commented on #12891
Apologies for the late reply but a bunch of things came up and I dont think I'll work on this soon. It won't be fair for me to hold on to this ticket so you can move it back to "help wanted". If by the time I am available again this ticket isn't completed, I can finish it.

[2021-01-12 21:38] Pyromonk opened #12963 "Headers sent by webhooks not sufficient to identify sender as Habitica"
[//]: # (Before logging this issue, please post to the Report a Bug guild from the Habitica website's Help menu. Most bugs can be handled quickly there. If a GitHub issue is needed, you will be advised of that by a moderator or staff member -- a player with a dark blue or purple name. It is recommended that you don't create a new issue unless advised to.)

[//]: # (Bugs in the mobile apps can also

[2021-01-13 08:57] codexdelta commented on #5557
Hi, is this issue available for me? 😃

[2021-01-13 12:34] codexdelta commented on #10934
hi, I would be very interested in resolving this.

I can see that I can sort the tags over here but not the challenges. The desired behavior is to make the challenges sortable over here, please correct me if I am wrong.

![image](https://user-images.githubusercontent.com/6303170/104452834-8ef2db00-55c9-11eb-8a8a-2f519279e465.png)

[2021-01-14 12:38] PitiTheGrey commented on #12931
In my last comment I suggested putting the "questOwner" into `quest`-category of the JSON-response. Since the info about the questOwner comes from the `goup`-variable, I want to ask if it was better to put the questOwner into the `group`-section of the response.
Secondly I want to ask if it better to stick to the naming that is already used and call display it this way:
`{"type:":"questStarted","g

[2021-01-14 15:51] benkelaar commented on #9845
I think I've gotten prettty close:

**Nothing selected**
<img width="673" alt="Screenshot 2021-01-14 at 16 09 04" src="https://user-images.githubusercontent.com/1822855/104612223-42210a00-5686-11eb-8441-da8cc4491e14.png">

**With selection**
<img width="572" alt="Screenshot 2021-01-14 at 16 09 11" src="https://user-images.githubusercontent.com/1822855/104612236-451bfa80-5686-11eb-9328-3696989a3322

[2021-01-14 16:44] paglias commented on #9845
@benkelaar extracting the single tag display in a separate component is great!

As for the css we usually do scoped classes but if it's just targeting markdown elements and the css selectors are easy to understand I think it'll be okay

[2021-01-14 16:45] paglias commented on #12931
I'd go for the `quest section`, note though that issues marked as `suggestion discussion` will have to be discussed internally by the team so they might have a different opinion on how to solve this one

[2021-01-14 18:22] benkelaar commented on #9845
Yeah I think I've kinda landed on the wrong side of this equation in some cases...  I'll have a look at if I can simplify it with some sensible classes (I think an extra component will help here as well).

[2021-01-15 05:51] Alys opened #12965 "website slow and jittery in Firefox"
We have three (so far) reports of the website being slow and jittery in Firefox but not in other browsers. I'm marking this both help wanted and needs investigation because I don't know what's causing it but if anyone can work it out, that would be great. :)

Anyone is welcome to investigate if they wish to without posting here first, and please add anything you find to this issue. However if you

[2021-01-15 06:58] benkelaar commented on #9845
@paglias What's your position on applying css per ID selector?  To me if you have specific styling for a single element using an ID seems to make more sense than a class, but I don't see that happen often.  Do you know why?

[2021-01-15 08:44] Alys opened #12966 ""Create Challenge" button should not appear in groups where you can't create one"
When a Guild or Party has a ticked checkbox for "Only the Leader can create Challenges", currently all players see the "Create Challenge" button on it.

The desired behaviour is that only the leader sees that button.

I'm proposing this change because currently if a player clicks the button, they can get all the way through entering the challenge title, summary, and description without any warning

[2021-01-15 09:32] benkelaar commented on #9845
I think all these problems are now pretty much resolved.  Quite happy with how it turned out with the new tag-button component.

[2021-01-15 09:38] benkelaar commented on #12796
I don't think this is a bug, but actually an accessibility feature.  When tabbing through tasks, this highlight shows the difference between whether the focus is on the title (Open edit tag on Enter), on the + or check button, or whether it is on the hamburger menu of that specific task.  I think that highlight has value and that just removing it is not the right call.

[2021-01-15 14:37] benkelaar commented on #12922
@paglias @Alys I was looking in to this, setting BASE_URL doesn't work, since that would prefix the backend base url, and it needs to be the frontend base url, which I don't think this code can dynamically determine.

Shall I just do `habitica.com` if production and leave it relative otherwise?

[2021-01-15 14:44] benkelaar commented on #12922
Created a merge request to that effect.

[2021-01-15 22:26] benkelaar commented on #12893
@paglias What seems to work pretty well for me is to add `margin-left: auto` to chat messages of others.  This does not change the layout if both elements are there, but when the avatar is not loaded, it pushes the message box all the way to the right.  Will fire up a quick merge request for this solution.

[2021-01-15 22:38] benkelaar commented on #12781
Hiya!  I was already thinking of doing this when implementing the new level-up modal.  Great idea to turn it into an issue.  I'd like to pick this up.

[2021-01-16 00:16] citrusella commented on #12893
Does that also affect system messages?

[2021-01-16 09:29] benkelaar commented on #12893
Good question.  I'll test it tonight.  Any idea how I can easily create system messages in a local install?  I guess party spell updates count?

I've thought of what might be a better solution this morning though (move the problematic conditional out of the `v-if` and into a `:class="{ invisible: ... }"`.  That way it will always take up space, just won't be shown.  I think this is more future-pro

[2021-01-16 09:48] benkelaar commented on #12893
@citrusella @paglias This distinction between system and other users is indeed a problem.  Since the problematic code is probably somewhere in the user cache, but the way the code makes the distinction between system and user messages depends on this same code.  Therefor, any solution based on the setup will leave the spacing the same for system and other user messages.

I think the best solution

[2021-01-16 11:54] benkelaar commented on #12893
@citrusella  So apparently system messages have `'system'` as uuid, so now that we can identify them like that, the distinction between those modes works well.  Updated the merge request to match.

Thanks a lot for your input, wouldn't have found this angle without it!

[2021-01-16 15:04] shanaqui opened #12970 "When saving guild description, the selected categories briefly appear as 'String " not found'"
Steps to reproduce:

- Go to edit a guild
- Press "Update guild"
- Watch the "Categories" section flicker to 'String " not found'

![image](https://user-images.githubusercontent.com/8144640/104815371-fa2bef80-580b-11eb-8150-8038ca04a8d9.png)

The categories are saved correctly, so there's no issue there, so this *seems* to be a minor cosmetic issue.

[2021-01-16 15:32] citrusella commented on #12963
I'm not the person who posted the issue here, but I know there was some discussion in Aspiring Comrades a couple days before this issue was created where someone was trying to figure out if the webhook included anything that could be used to be sure the data came from Habitica (versus, for instance, someone maliciously hitting the URL your webhook sends to (i.e. potentially with data that looks li

[2021-01-16 21:02] paglias commented on #12781
sure @benkelaar

[2021-01-17 06:41] Alys commented on #12970
For the benefit of anyone investigating the cause of this, it's been happening for months, possibly many months. I've noticed it several time. It's never occurred to me to log it for a fix though, so sorry! Thanks shanaqui for doing this.

When I've seen it, it's always been a temporary cosmetic issue, just as shanaqui says.

I'm marking it as help wanted.

[2021-01-17 07:11] Alys commented on #12922
That sounds fine to me!

[2021-01-17 07:16] Alys commented on #5557
@codexdelta Sure, thank you! Please go ahead. Post here if you have questions. :)

[2021-01-17 09:31] Pyromonk commented on #12963
@benkelaar, some of the headers sent that I currently use for identifying Habitica (I could take a look at what the other ones were again, but I don't think they are very relevant): HTTP-USER-AGENT, CONTENT-TYPE and REQUEST-METHOD. HTTP-USER-AGENT is the main one, however, like all other HTTP headers, it can be forged. I also do a check for X-REQUESTED-WITH to "defend" against Ajax requests (Habit

[2021-01-17 14:55] shanaqui opened #12971 "XML Data export error"
Report from Ceran:

Replicated by me.

Similar to (or the same as) previously fixed #12482 and #10100

---

EDIT by Alys 2021-04-19

When this issue is fully fixed, the fix must include an update for the apidoc comments for the XML export route. Currently they say:

[2021-01-17 17:19] christinabranson commented on #12733
I just wanted to confirm this issue & the (magic) solution on an identical setup as @hamboomger

**Set Up**
- MacOS Mojave 10.14.6
- Fresh install of Habitica (forked today and followed the instructions in Setting up Habitica Locally on MacOS up to `pm run mongo:dev`)
- No prior installation of MongoDB

**Error**
Running `npm run mongo:dev` results in an error, namely `MongoError: This node was no

[2021-01-17 23:15] SabreCat opened #12972 ""Show More" buttons appear in Stable even when there is nothing more to show"
[//]: # (Before logging this issue, please post to the Report a Bug guild from the Habitica website's Help menu. Most bugs can be handled quickly there. If a GitHub issue is needed, you will be advised of that by a moderator or staff member -- a player with a dark blue or purple name. It is recommended that you don't create a new issue unless advised to.)

[//]: # (Bugs in the mobile apps can also

[2021-01-18 02:03] Alys commented on #11448
I've updated the top post to add this note as a temporary work-around for anyone who may find it helpful:
EDIT 2021-01-18: Anyone needing greater contrast may like to try @citrusella's [Habitica WCAG AAA Contrast](https://habitica.fandom.com/wiki/Habitica_WCAG_AAA_Contrast) Stylus/Stylish theme.

[2021-01-18 02:50] Alys commented on #12891
@SachJay Thanks very much for letting us know! I've set this back to help wanted.

[2021-01-18 02:54] Alys commented on #11501
@margaretthompson I'm sorry about the delay in our reply! Yes, this is available to work on if you'd still like to. I'm marking it as in progress for you, but if you've changed your mind, just comment here briefly and we'll put it back to help wanted.

Your description of the current behaviour is correct! The desired behaviour is that it should be unpinned in the Rewards list when the quest gives

[2021-01-18 09:32] benkelaar commented on #12781
@paglias I have a fairly decent solution now.  It's basically a "small-modal" component that has three slots.  One for content between the stars, one for the main body and an optional one for content with a grey background.

Title and button text can be passed in as properties.

It seems to work well for these three modals, is there a list somewhere of which modals should all use this same layout

[2021-01-18 16:35] Tressley commented on #9845
@benkelaar -- Thanks for your work on this so far. Things are really looking good. Let me see if I can answer some of your questions.

Yes, both icons should only be displayed on hover.

Challenge tags should be sortable, but not editable.

This should actually be a button and use our button styles and states.

While they're not the prettiest, I think both of these are fine. Cutting off in edit mo

[2021-01-18 16:39] Tressley commented on #12796
Yeah, we defintely don't want to remove the outline by default as it is an accessibility feature. To Citrusella's point, there's a double-outline appearing when casting a skill on a task. For that instance I think the task title shouldn't have an outline since the skill is being cast on the entire task.

[2021-01-18 17:31] benkelaar commented on #9845
Are you sure?  Because I believe the current behaviour is editable but not sortable.  I agree that your version seems to make more sense though, so I'm fine with implementing it that way.

All other answers seem fine and I can work with, thanks a lot!

[2021-01-18 17:43] Tressley commented on #9845
You're right! That was my mistake, I was caught in two minds with groups. Group tags aren't editable, but Challenge tags are.

[2021-01-18 19:41] Tressley commented on #12781
@benkelaar -- Becoming a bigger fan the more I see you pop up around here. Another good catch! The sparkles should be mirrored, not rotated. Here's a quick screenshot:

![image](https://user-images.githubusercontent.com/2686586/104956939-24f87e00-599b-11eb-809e-ab015e5f9905.png)

[2021-01-19 02:11] Alys commented on #12383
This is still happening just not as often. I do not know why it doesn't happen as often. I saw it once earlier today when going from https://oldgods.net/habitica/habitrpg_user_data_display.html to https://ieahleen.github.io/habitican-randomizer/ but I couldn't make it happen a second time.

[2021-01-19 07:16] shantanu96 commented on #12970
Hi, can I take this issue?

[2021-01-19 10:12] Alys commented on #12970
@shantanu96 yes, thank you! Post here if you have questions.

[2021-01-19 21:05] seunggyupark commented on #12819
@shanaqui Hi, sorry I've gotten quite busy and having too much trouble setting up a VM to get to this issue. Is someone else able to pick it up?

[2021-01-19 23:40] danikyl commented on #12972
Hi guys,

I'd like to handle this one

[2021-01-20 10:08] Pyromonk commented on #12931
Not sure if I should create a separate issue for that, but 'questInvited' doesn't fire when you are the person inviting others, which is a big problem as well...

[2021-01-20 17:24] danikyl commented on #12937
Hi!
Is it okay if I handle this one?

[2021-01-21 08:29] Alys commented on #12937
@danikyl Yes, thank you! Post here if you have questions.

[2021-01-21 08:40] danikyl commented on #12937
Okay! I'm on it

[2021-01-21 14:11] shanaqui opened #12988 "User requests darker text in player-generated posts, guild descriptions, etc"
I asked for clarification, since the text looks dark enough for me; they replied with this screenshot:

![image](https://user-images.githubusercontent.com/8144640/105362192-7c445b80-5bf2-11eb-9355-277195113fe4.png)

[2021-01-21 14:48] Tressley commented on #12988
The color of a posted message (#4E4A57/medium-gray) meets WCAG AA and AAA contrast standards. The recommended contrast ratio is at least 4.5:1 and our ratio is 8.6:1. The sidebar non-heading font color (#4E4A57/medium-gray) also meets these standards with a 7.3:1 ratio.

However, the color for the post controls (#878190/light-gray) does not, but that's a known issue that we haven't tackled yet.

Y

[2021-01-21 14:48] #12988 closed, assigned to nobody

[2021-01-21 19:56] danikyl commented on #12937
does anyone have a idea of how to simulate a user with access to Enchanted Armoire?

[2021-01-22 03:06] Alys commented on #12988
I wrote the thing below to post here and then realised it won't reach the person who requested the change. I'll track down their bug report later and email them. I'm posting this here anyway for the benefit of anyone who may find this issue in future.

You may like to try @citrusella's [Habitica WCAG AAA Contrast](https://habitica.fandom.com/wiki/Habitica_WCAG_AAA_Contrast) Stylus/Stylish theme. I

[2021-01-22 04:21] citrusella commented on #12988
So, I saw this issue and was inspired to go looking into my style because there were a few (minor) places I knew I was going to need to mess with contrast anyhow (and one or two places that might have gotten accidental background-and-text-are-almost-the-same-color effects while I was making other changes, though I'm having trouble finding what I saw a few weeks back now, hrm).

I didn't mess with

[2021-01-22 20:07] SabreCat commented on #12937
@danikyl: Have you got a [local environment](https://habitica.fandom.com/wiki/Setting_up_Habitica_Locally) running? Any user you create there should be able to buy from the Armoire, and you can use the debug functions to quickly award lots of Gold, etc.!

[2021-01-23 06:25] shantanu96 commented on #12970
@Alys So while debugging the code I found this line of code to be the issue:
https://github.com/HabitRPG/habitica/blob/c001831e63e1904727f59d7fc8137ae79af05281/website/client/src/components/groups/groupFormModal.vue#L610-L619
The `workingGroup.categories` originally has a string as its array elements, but in the above code, it is converted to an array with objects before sending it to the server.

[2021-01-23 20:54] benkelaar commented on #12970
I think the object array is being assigned so that object array is also available when emitting the `updatedGroup` event.  To be certain of this you can look at how listeners for this event treat the array.

However, in line https://github.com/HabitRPG/habitica/blob/c001831e63e1904727f59d7fc8137ae79af05281/website/client/src/components/groups/groupFormModal.vue#L621 a copy of `this.workingGroup` i

[2021-01-24 07:06] shantanu96 commented on #12970
@benkelaar Thanks for your help

[2021-01-24 20:41] danikyl commented on #12937
@SabreCat Got it, thanks man

[2021-01-25 00:41] samamill commented on #12124
@paglias can you or another admin take a look? Another contributor signed off, but I think I need an admin to update the tags.

[2021-01-25 13:46] paglias commented on #12124
Sorry Sam but for the time being I won't be able to review PRs, @Sabrecat
should be able to help you though

Il lun 25 gen 2021, 01:41 Sam <notifications@github.com> ha scritto:

[2021-01-25 22:44] #12970 closed, assigned to nobody

[2021-01-26 07:38] Alys opened #13009 "guild details incompletely loaded when accessing guild via notification"
### Summary:
Sometimes when going from one guild to another one by using the second guild's new message notification, some of the details from the old guild are still displayed. This was reported by Altariel using Chrome on Windows.

I haven't been able to replicate this (Firefox on Ubuntu).

It may be caused by low memory in the Habitica tab but that's not certain.

### Details:

As reported by @

[2021-01-26 17:57] veeeeeee commented on #12886
For now, we'd like for the client to require the summary for all new challenges moving forward, which should help prevent the reappearance of this issue but shouldn't break the API.

Ideally this will be more neatly repaired on the eventual transition to APIv4.

[2021-01-26 17:59] veeeeeee opened #13010 "Require challenges to have summary in APIv4"
Per discussion in https://github.com/HabitRPG/habitica/issues/12886, all challenges should contain summary information in order to be valid.

[2021-01-26 18:07] SabreCat commented on #12914
Looking through, I agree with @Alys here--otherwise we have two fields recording the same data, making them overall less useful. We should only update `loggedin` the first time on a day the user crons.

[2021-01-26 20:16] lilithi commented on #12631
I would like to try fixing this issue

[2021-01-27 04:07] Alys commented on #12920
Just posting to confirm that this is still happening. From the [Wizards of the Wiki](https://habitica.com/groups/guild/9a163b28-ebcf-4e52-87de-5c040ed0f8f8) guild:

@johnjsal:

@jjgame83:

[2021-01-27 10:29] Alys commented on #12631
@lilithi Thank you! Please go ahead and post here if you have questions.

[2021-01-29 07:03] rs4231199 opened #13011 "Negative experience but no level decrease"
![image](https://user-images.githubusercontent.com/43215292/106242492-c601f700-622d-11eb-84ab-bdc57804a83a.png)
Negative experience. I checked a grey daily level my level increased and then I unchecked that daily. I thought my level would go down by one but instead I have this negative experience now.

[2021-01-29 09:15] Alys commented on #13011
It's intentional that a level-up is not reversed when performing any action that causes Experience to become negative. There are some comments about that at https://github.com/HabitRPG/habitrpg/issues/5736#issuecomment-127677025 and below. In brief, we believe it's simpler, more obvious to the players, and less bug-prone to allow negative XP after unticking a task than to reverse a level-up.

If y

[2021-01-29 09:15] #13011 closed, assigned to nobody

[2021-01-30 03:54] Alys opened #13012 "apidocs contain non-working Sample Request forms"
~~This issue is suggestion-discussion for staff to comment on which option(s) they'd like to see done. If there's no objections in a week, I'll mark it as help wanted for option 1, or if that's not possible option 2, with my idea being that the contributor who works on it would do the researched needed to work out if option 1 can be done.~~

**EDIT 2021-03-14: Option 2 has been done by @SpeedyLom.

[2021-01-30 04:10] Alys commented on #13012
When this is fixed, we should remove references to the issue from these two wiki pages:
https://habitica.fandom.com/wiki/Application_Programming_Interface - two references
https://habitica.fandom.com/wiki/Webhooks - one reference

I'm labelling this as "notify helpers" to remind me.

[2021-01-31 06:04] Alys opened #13013 "inconsistent unlock behaviour for Mystery of Masterclassers quest line quests"
_This is suggestion-discussion. It's borderline between bug and feature change request, since I believe the current code is behaving as written, but I thought it best to put here. Even if it's closed with a note that the behaviour is intentional, it will be good to have in GitHub so that we can reference it if it's reported again and/or link to it from the wiki's Quests page._

_As reported by @Na

[2021-01-31 08:22] JohnJSal commented on #13013
I'm not sure if the suggestion-discussion tag means this is only for staff and admins to discuss -- if so I apologize and I won't keep posting, but maybe this will help clarify further discussion anyway.

I'm confused by two things. First off, according to the wiki regarding The Mystery of the Masterclassers questline:

To me, this sounds like _all_ parts of each quest line must be completed, not

[2021-01-31 09:24] Nakonana commented on #13013
@JohnJSal for the first question, that's what the text says when you hover over the quest on the website, iirc.

For the second question, I completed the parts 1&2 and am currently doing part 3. Once this one is finished, I expect that the 4th part will be unlocked. This means after completing all four parts, the 1st one will be the only one I still won't be able to purchase.

Hope that clarifies

[2021-01-31 22:08] JohnJSal commented on #13013
@Nakonana I can't check on the first thing because they are all unlocked for me already, but it might help to clarify that in the wiki if that's the case.

I think I see what you mean for the other thing now. I guess I misunderstood that you were basically talking about how it _will_ be after you've finished Parts 1-4. I agree that it's kind of odd that Part 1 will remain locked even after you've

[2021-02-02 05:42] Alys commented on #12397
Another report of this, from @LindyBlues (924376bc-1045-447b-9c3f-4450516fd6c7):

"This doesn't happen every time, but it happens often: when I tag someone in a post, for some reason the "enter" key will not work, so I cannot start a new paragraph."

And from @citrusella (2d6ef231-50b4-4a22-90e7-45eb97147a2c), with mechanics that may help to investigate this:

"... where the dropdown disappears bu

[2021-02-02 22:49] Alys commented on #11516
I'm changing this from help wanted to in progress because @paglias has posted above about working on it.

Just in case it helps, we've seen a few more reports of this than usual lately (production site, not delta). For example from @minervathene (d3de6635-37f7-4369-99c3-399d036d0898):

_"Wondering if this is a bug, or just me, but I'm having semi-regular issues with the functionality that populate

[2021-02-02 22:50] Alys commented on #11516
Sorry, forgot to add to that report: "I'm using the latest version of Chrome on a Window 10 laptop."

[2021-02-03 00:15] Alys opened #13022 "Mystery Items missing for February for some players"
We saw many reports in various guilds that some players with active subscriptions had not received the Mystery Items for February.
The reports made in the Report a Bug guild were all verified and found to be correct.

The reason for the missing items is not currently known so I'm labeling this as needs investigation.

---

SabreCat ran a script to give the Items to all subscribers who were missing

[2021-02-03 08:35] PitiTheGrey commented on #12931
Would it help to make a pull request with my suggestion? So the staff can see more clearly what I would like to do?

[2021-02-03 14:49] Tressley commented on #12760
Re-opening as this bug still exists on Prod.

[2021-02-03 15:16] citrusella commented on #12760
Does it take specific steps or places to get this to happen, or does it only happen in certain browsers? I'm using production right now and not having this happen.

[2021-02-03 15:34] Tressley commented on #12760
It does look to be browser specific. I'm using Chrome Version 88.0.4324.104 (Official Build) (64-bit) on Windows 10. Doesn't look to happen on Firefox.

Here are the steps I'm taking:
1. Navigate to Tasks page
2. Click on any user's avatar to load their profile
3. Close profile

The page title does flash, but sticks with "Profile | User | Habitica"

[2021-02-03 19:07] paglias commented on #11516
I’m sorry but I won’t be able to work on this

Il giorno mar 2 feb 2021 alle 23:49 Alys <notifications@github.com> ha
scritto:

--
Matteo Pagliazzi - matteopagliazzi.com

[2021-02-04 01:31] Alys commented on #12760
The PR that closed this was a partial fix. It had "fixes #[issue number]" in it, which is why this got closed - none of us noticed that, sorry!

[2021-02-04 12:11] Alys commented on #11516
Ah, no worries. I've changed it back to help wanted.

[2021-02-04 21:21] SabreCat commented on #12760
Got this related report in the bug guild. Same thing, or worth a new ticket?

[2021-02-06 10:16] Alys opened #13023 "date-picker size changes result in mis-clicks and slowed navigation"
_This is suggestion-discussion for the staff to decide if a fix is desired._

As reported by @Nakonana:

"The calender modal changes its size depending on how many days/weeks there are in a month (see screenshot below). It's kind of minor, but if you use the left/right arrow to skip 1-2 months, you can't do that quickly because you have to adjust the position of the mouse for each month to not acc

[2021-02-06 13:53] sau226 opened #13024 "Switch wiki links from http to https"
[//]: # (Before logging this issue, please post to the Report a Bug guild from the Habitica website's Help menu. Most bugs can be handled quickly there. If a GitHub issue is needed, you will be advised of that by a moderator or staff member -- a player with a dark blue or purple name. It is recommended that you don't create a new issue unless advised to.)

[//]: # (Bugs in the mobile apps can also

[2021-02-07 06:48] Alys opened #13025 ""not participating" search/filter checkbox doesn't work in Discover Challenges page"
On the [Discover Challenges](https://habitica.com/challenges/findChallenges) page, if you tick the "Not Participating" checkbox (in the Role section of the filters), you see Challenges that you are participating in.

The expected behaviour is that you see only Challenges that aren't currently joined by you.

The same occurs if you tick both "Not Participating" and "Not Owned" so anyone fixing this

[2021-02-07 23:26] rajlego commented on #132
Was this ever implemented? If it has been, I don't see a way to do so

[2021-02-08 05:59] ceckleder commented on #13025
Hi 👋 ,

I would like to work on this issue. I checked and I could reproduce the erroneous behaviour.

- Christina

[2021-02-08 10:49] Alys opened #13042 "over-purchase warning for Gryphon eggs should ignore RoyalPurple pet and mount"
In the Market, when you start to buy more Eggs than you need for a particular breed of Pet / Mount, you see this warning:

"This purchase would exceed the number of items you need to hatch all possible [pet_name] Egg pets. Are you sure?"
(locales string `purchasePetItemConfirm`)

That works correctly for most Egg types, but not for Gryphon Eggs. If you own the Royal Purple Special Gryphon Pet and/

[2021-02-08 13:11] Tressley commented on #13023
This is partially caused by the date-picker always opening from the bottom. Since @negue worked on this last, I'll bring him into the conversation.

@negue -- Is it possible to have the date-picker open from the top or bottom, based on the user's available space?

[2021-02-08 16:50] negue commented on #13023
This datepicker component is already outdated and we only have our own version of that - which only added some more classes but thats it. I don't think there is an automatic option for that.

I could try - when the picker has to be opened - to check the current picker input position if its under / over 50% of the page show it where more space is.

But it reads like that I has to switch the positio

[2021-02-08 20:08] Tressley commented on #13023
@negue -- This is how our dropdowns work now. It opens below by default unless there isn't enough screen space. See edit modal task dropdowns.

[2021-02-08 21:56] negue commented on #13023
@Tressley

What I meant with this was, if you opened the datepicker - then changed the month -> should it also switch depending on the available screen size (and dialog size) to the other direction? Or does it only have to checked (opened in one direction) on the first show of the datepicker-dropdown ?

The task dropdowns are built on bootstrap dropdowns, I need to check the datepicker one (if its

[2021-02-08 22:14] Tressley commented on #13023
It should only be checked when it's first opened.

[2021-02-09 06:27] Alys commented on #13025
@ceckleder Thank you! Please go ahead and post here if you have questions!

[2021-02-09 14:00] ceckleder commented on #13025
Hi @Alys,

thanks for letting me help out. I analyzed the problem enough to be quite confused.
1.) The filters for myChallenges do behave weirdly too. The sidebar has Role, Membership, and Ownership. The checkboxes for Role and Membership are not independent if one is clicked the other correspondent one is marked as well.
2.) The API does have a member and owner parameter for the /challenges/user

[2021-02-10 06:05] cvuorinen opened #13043 "'questInvited' webhook not sent when the user is the one who invites the quest"
[//]: # (Before logging this issue, please post to the Report a Bug guild from the Habitica website's Help menu. Most bugs can be handled quickly there. If a GitHub issue is needed, you will be advised of that by a moderator or staff member -- a player with a dark blue or purple name. It is recommended that you don't create a new issue unless advised to.)

[//]: # (Bugs in the mobile apps can also

[2021-02-10 06:06] cvuorinen commented on #12931
FYI @Pyromonk I made a separate issue for the `questInvited` webhook #13043

[2021-02-10 08:42] Alys commented on #13025
@ceckleder I'm not actually sure about this myself. Excellent questions! I'll leave this for Habitica's staff to answer. :)

[2021-02-10 08:48] Alys commented on #12931
@PitiTheGrey If you'd still like to do a PR to show what you'd like to do, I think that would help!

I'm sure you already realise this but just in case it's not clear: Because this issue is suggestion-discussion, there's no guarantee that a fix ends up being desired for it, and your PR may not be accepted.

 However I think it's a great idea for showing what you'd like to do!

[2021-02-10 18:07] veeeeeee commented on #12920
Staff proposes removing Date from the first part of title line, but adding additional line below the Title stating that Bailey news was posted at X time in Eastern United States time.

Example: screenshot example should display as
`2021 is Here! New Mystery Items and Official Habitica Challenges`
`Posted on Jan 1, 2021 8PM EST`

[2021-02-10 22:53] PitiTheGrey commented on #12931
Thank you, Alys! Above and beyond as always!
https://github.com/HabitRPG/habitica/pull/13045

[2021-02-11 15:13] shanaqui opened #13046 "After creating or cloning a challenge, clicking "create challenge" pre-fills all fields with info from that challenge"
Reproduced:

- Clone a challenge and save it, or create a new one and save it
- Click in a guild to create a new challenge
- Expected: empty form, what happens: form prefilled with details from previously created challenge
- If you refresh and do it again, it no longer prefills and you get the expected blank form

I *didn't* get this reproduced when I tried to create a new challenge from the main

[2021-02-11 15:55] negue commented on #13023
I tried to change the direction of the datepicker by checking if the position is above or below the center of the current viewport. -> See changes in #13044  and the updated datepicker repo.

Sadly it only works for "normal" places of the datepicker if it is only in a page this works.

If it is in our bootstrap modals it can't get the scroll / viewport correct which endup opening the datepicker al

[2021-02-11 17:15] veeeeeee commented on #12966
Confirmed this is the correct approach, thank you @Alys!

[2021-02-11 17:21] veeeeeee commented on #13047
@shanaqui has reported that this is happening on web as well so we've transferred this to the main repo to make sure we don't lose track of it there.

[2021-02-11 17:26] SabreCat commented on #13012
I'd set the proposed solution 3 as preferable to 2, but I agree with this plan!

[2021-02-11 17:33] SabreCat commented on #13013
I think the simplest and most end-user-comprehensible approach here would be to include the requirements for unlocking quest 1 in the requirements for the later ones. So if Masterclassers I is locked, Masterclassers II-II will also be locked, even if you happen to have done Mastercrlassers I in a party at some point.

[2021-02-14 21:11] benkelaar commented on #13046
Apologies for not claiming etc.  Was just looking in to it and fix seemed quickly doable.  Seems to work well for me locally.

[2021-02-15 05:05] Alys commented on #13046
@benkelaar No worries, thanks for letting us know and for the PR! I've marked this as in progress.

[2021-02-17 05:31] alecbrick commented on #5557
@codexdelta Hi! Are you starting from scratch, or working off of [my existing PR](https://github.com/HabitRPG/habitica/pull/11920)?

[2021-02-17 20:38] Nakonana commented on #13023
Not a coder myself, so feel free to ignore if it doesn't make sense, but I was wondering if making the date picker have a fixed size by default (to fit 6 weeks, as this should cover all possibilities) no matter the actual number of weeks in a particular month would be an easy to implement way to fix the issue? I'm not sure it would always "look" nice because some months would have up to two blank

[2021-02-18 17:24] Tressley commented on #13023
Not a bad idea @Nakonana. Since we don't have a ton of control over the datepicker without over-hacking, let's investigate and see if we're able to add another row to account for this usecase.

@negue -- Is it possible to have the last row show even if there isn't a date in it?

[2021-02-18 17:25] saraolson commented on #13025
Following up after team review: we don't know where role came from. It can be taken out, and the 'Membership' section should be present on both My Challenges and Discover Challenges views

[2021-02-21 07:41] Alys commented on #11516
@Nakonana and I both experienced this bug in a private guild (https://habitica.com/groups/guild/1f8e73a5-b212-44ea-8176-c2e05c52e0d7 ) when typing `@c` in an attempt to tag `@cTheDragons`
We attempted this about 33 hours apart from each other so it wasn't a temporary bug. The website needed a reload to make the chat input box perform correctly again (at least for me; I didn't trouble Nakonana to g

[2021-02-21 07:48] benjaminbhollon commented on #11516
`t is undefined` would generally refer to a variable (so probably a coincidence), though I don't know which one because I haven't looked at the specific code it's referring to, and given the short variable name it's probably minimized/obfuscated Vue code. TypeError probably means you were expecting it to have a value that was a string or int or something and called a type-specific method/function

[2021-02-21 07:57] Alys commented on #11516
@benjaminbhollon It would be awesome if you'd try to analyse this - thank you! Good luck!

[2021-02-21 07:59] benjaminbhollon commented on #11516
Thanks, I'll get to work! Setting up a local environment now. I'll let y'all know if any insights crop up.

To be clear-- I've been working a lot in most of these technologies recently, but a couple, like Vue, are pretty new to me, so I might be able to find a problem but not suggest how to fix it.

[2021-02-21 13:42] CuriousCI commented on #13023
If you find a solution, can I be the one to implement it?

[2021-02-21 17:59] citrusella commented on #11516
t is definitely not referring to the typed letter. I've gotten that error on instances where I haven't typed "t"--I think it's just always what this bug brings up?

[2021-02-22 09:23] ceckleder commented on #13025
@saraolson thank you for the update. I reworked the ui yesterday to match it to the new requirements. I found something that I would like to improve.
Currently the member parameter in the API is a string and setting it true will return challenges where the user is a member. On not sending anything or sending false the server will return all challenges that belong to the same group as the user incl

[2021-02-22 18:45] thewilloftheshadow commented on #11516
I don’t work on the frontend, just the API, but wouldn't `t` be referring to the i18n object with the translation strings?

[2021-02-23 04:17] Alys commented on #13025
@ceckleder The myChallenges tab is designed to show both challenges that the player is participating in and the ones that they created (i.e., where they are the `leader`), with the optional filters being used to limit them further. That's behaviour we want to keep because there's good use cases for running challenges but not participating in them.

For your suggestions about changing the parameter

[2021-02-23 04:18] Alys commented on #12383
Another report of it from the

[2021-02-23 04:19] Alys commented on #12383
There was a report of this today in the [Habitican Randomizer (third party tool)](https://habitica.com/groups/guild/e4956785-9b42-470a-b1af-18d9c5e24769) guild so it's still happening:

[2021-02-23 10:05] Alys opened #13070 "Audio demo button causes sound effects to be played at wrong times in Edge, Chrome, maybe other browsers"
As reported by @MrGaberson (eb9b83b8-749b-4536-95af-1641a6cf4967):

"... with the webapp version
Whenever I update any task: Be it dailies, habits, or to do, the sound effect plays whenever I update a task's or checklist item's name with every click and every letter I type on my keyboard"

"i tried refreshing. from what I experience when booting up the web app, it's been fairly silent for the firs

[2021-02-23 11:54] ceckleder commented on #13025
@Alys thanks a lot for the update. In that case I think it is better to keep the api stable and the additional filtering in the frontend.
Regarding the responsiveness, my impression was that every filter change does indeed result in an api call. That's why I thought that it would be cleaner to handle the case in the backend. Maybe it's also easier to see if what can be improved in the PR.

[2021-02-23 15:05] shanaqui commented on #11865
@bigsee Just checking in on this one and whether you're still working on it/whether there's anything left to do!

[2021-02-23 15:06] shanaqui commented on #11172
@aevix Hi there! Just checking in whether you're still working on this one! If not, or if I don't hear from you within a week, I'll mark this as help wanted again so someone else can pick it up.

[2021-02-23 15:07] shanaqui commented on #12377
@LioZam Hello! Are you still working on this? If not, or if we don't hear back from you within a week, I'll mark it as help wanted again so the issue doesn't go totally stale. :)

[2021-02-23 15:08] shanaqui commented on #12525
Hi @ChengCalvin! Are you still working on this? If not, or if we don't hear back from you within a week, I'll mark it as help wanted again so the issue doesn't go totally stale. :)

[2021-02-23 15:11] shanaqui commented on #12904
Hi @saul-marquez! Are you still working on this? If not, or if we don't hear back from you within a week, I'll mark it as help wanted again so the issue doesn't go totally stale. :)

[2021-02-23 15:12] shanaqui commented on #12702
Hi @yiqcheng98, are you still working on this? If not, or if we don't hear back from you within a week, I'll mark it as help wanted again so the issue doesn't go totally stale. :)

[2021-02-24 02:24] aevix commented on #11172
@shanaqui you can mark it as help wanted again. I tried to think of a different way to resolve this issue without making any drastic changes to the backend and I am out of ideas. Maybe someone will have better idea than me.

[2021-02-24 04:41] benjaminbhollon commented on #11516
Haven't been able to do anything yet-- I keep getting an error when running `npm run client:dev` that the Javascript Heap is running out of memory. Have people encountered that before?

[2021-02-24 04:46] thewilloftheshadow commented on #11516
@benjaminbhollon There's a part about that in the Habitica Wiki for setting up on Linux, that and #7090 might help you
https://habitica.fandom.com/wiki/Setting_up_Habitica_Locally_on_Linux#Set_Up_a_Swap_File

[2021-02-24 04:52] benjaminbhollon commented on #11516
@thewilloftheshadow I'm on Windows though; does that still apply? Thanks for your help

[2021-02-24 18:33] ChengCalvin commented on #12525
Hey @shanaqui, unfortunately, I haven't been able to solve the issue with my computer. You can mark it as help wanted again. Thank you for letting me a chance at it!

[2021-02-24 21:26] thewilloftheshadow commented on #11516
@benjaminbhollon ahh i see. Would it be the same problem they were talking about in #12525?

[2021-02-25 01:33] benjaminbhollon commented on #11516
Yep that's the exact error I'm getting. I'll go discuss it there, I guess. Thanks!

[2021-02-25 09:24] saul-marquez commented on #12904
I'm afraid life has gotten in the way. Go ahead and mark it. Apologies

El mar., 23 feb. 2021 16:12, shanaqui <notifications@github.com> escribió:

[2021-02-27 19:09] wolverdude commented on #9362
I would like to upvote this. It's currently a major PITA to equip items of the same set or even just know that you have them all. Grouping by class does help, but only if the items all start with the same word, which is often not the case. There's not even a way to search for items of a common set, so the only current recourse is to hover over each of your equipment items in turn, and then reading

[2021-03-01 22:25] bigsee commented on #11865
@shanaqui apologies for the delay. I started a new job in the meantime and looks like this fell off my list. will double-check what needed finishing with this PR and try to tie up over the next few days.

[2021-03-02 01:39] alecbrick commented on #5557
I'm closing my existing PR (since I'm no longer working on it), but feel free to reference and copy anything from it @codexdelta.

[2021-03-02 08:02] alecbrick commented on #5557
Just kidding I accidentally finished it up instead

[2021-03-02 19:11] VGabriel45 commented on #12972
Can i handle this issue ?

[2021-03-03 00:27] zerkshaban commented on #12972
Can I handle this?

[2021-03-04 08:16] cvuorinen commented on #13043
I guess I could just make a PR for this, shouldn't be that big anyway...

[2021-03-04 12:33] Alys commented on #12972
@danikyl I'm sorry we didn't reply sooner! Are you still interested in working on this?
If so, I'll assign it to you. If you're no longer interested, I'll pass it on to @VGabriel45

[2021-03-05 16:15] PitiTheGrey commented on #13043
I would like to support cvuorinen's idea. Sending the webhook response to the person who invites to the quest would be useful for me, too.

[2021-03-06 08:48] Alys commented on #13070
We've had a report of this from someone using Chrome:

Lavra / @reconcile (6b6411eb-34a2-4f56-b22f-10d2274c5a47) wrote:

"For some reason, whenever I press any keyboard buttons anywhere in habitica, I get the sound effect playing. That means every letter I'm typing in this message, every time I alt+tab out of any screen on the habitica website, I'm getting the [check-in sound?]. This just started

[2021-03-06 10:36] Alys commented on #12972
@VGabriel45 I've marked this as in progress for you. Post here if you have questions or run into trouble.

[2021-03-07 17:18] LioZam commented on #12377
@shanaqui hi, no I didn't work on it since I didn't hear anything about it, back then, when I had the time for this. Sorry, I didn't catch that you changed the labels. Please go on and mark it as help wanted again. thanks.

[2021-03-08 22:08] SpeedyLom commented on #13012
Hey everyone, I'd be willing to look into this 🙂.

[2021-03-08 23:28] Alys commented on #13012
@SpeedyLom Thanks! Please go ahead and post here if you have questions.

[2021-03-09 11:43] benjaminbhollon commented on #11516
Yeah I haven't been able to get my local install working. I'll try again when I have more time. Sorry about that.

[2021-03-09 21:59] SpeedyLom commented on #13012
The simplest option (_option 1_?) I can see would be to revert to `"apidoc": "^0.25.0"` based on:
- [#915](https://github.com/apidoc/apidoc/pull/915) being included in [apidoc 0.26.0](https://github.com/apidoc/apidoc/releases/tag/0.26.0)
- [@apiSampleRequest off not working](https://github.com/apidoc/apidoc/issues/947)

With the `sampleURL` not being provided by default, it won't include the sampl

[2021-03-10 08:19] SpeedyLom commented on #13012
On further inspection, it looks like this is being addressed in [#930](https://github.com/apidoc/apidoc/pull/930).

I can look into other options in the meantime if that is still required.

[2021-03-10 15:57] ieahleen commented on #13042
there is probably a new check to add, like it was added to avoid counting the Ghost Jack-O-Lanter for Ghost Magic hatching potions
[code]

the idea that comes to mind is to just exclude the purple gryphons from this counting, or anything royal purple as those can be obtained through check-ins and not bought

can I try?

[2021-03-10 22:24] SabreCat opened #13107 "Party members list can get out of sync in some flows with invitations"
Reported by @citrusella in the Report a Bug Guild:

After some further investigation, @citrusella found a simpler flow to reproduce the situation:

[2021-03-10 22:30] SpeedyLom commented on #12966
Would I be able to work on this?

[2021-03-12 06:36] Alys commented on #13042
@ieahleen Please do, thank you! Post here if you have questions.

[2021-03-12 06:37] Alys commented on #12966
@SpeedyLom Yes, thank you! I've marked it as in progress for you.

[2021-03-12 06:38] Alys commented on #13012
@SpeedyLom I guess if there's a chance they'll fix the bug reasonably soon, then there's not too much point in us doing a complex workaround. Probably option 2 is the best approach. If you'd like to add a message as described in that option, please do!

[2021-03-12 14:56] SabbirAhmedAdor629 commented on #12796
Hi, I just got to know about open source and I want to work on this issue is it still Open. I am in my freshman year know little about HTML and CSS.

[2021-03-12 16:49] ieahleen commented on #13042
@Alys do you know if there is any plan to ever make royal purple potions purchasable? if there is not I can exclude royal purple pets and mounts, and it will still work in case of the release of any other royal purple pets and mounts. If there is the chance that royal purple potions may be sold I will target the fix to just royal purple gryphons.

[2021-03-13 15:08] SpeedyLom commented on #12920
Can I work on this please?

[2021-03-14 01:38] Saiyara6133 commented on #12765
Hi, I submitted a pull request for this issue, will it be reviewed soon?

[2021-03-14 02:29] Alys opened #13110 ""Remove Member" (Party and Guilds) appears to remove the wrong member - client-side display bug"
When a Party or Guild leader removes a member from a Party or Guild, the member they select IS removed but the website initially shows that a different member was removed. When you reload, you see that only the selected member was removed.

Steps to reproduce:
1. Go to the Guild or Party and click on the "Member List" badge. (For a Party, you can also click the "View Party" button in the header.)

[2021-03-14 08:17] #13046 closed, assigned to nobody

[2021-03-14 09:20] #12893 closed, assigned to nobody

[2021-03-14 10:08] Alys commented on #12920
@SpeedyLom Yes, thank you! Post here if you have questions.

[2021-03-14 10:22] Alys commented on #13012
I've merged the fix that implements Option 2.

I've set this back to suggestion-discussion and we'll revisit it later. I've added this note to the top post:

**EDIT 2021-03-14: Option 2 has been done by @SpeedyLom.  I've set this back to suggestion-discussion. In future, we can look at doing one of the other options if the apidocs package is modified to make it easy to turn off the Sample Request

[2021-03-14 10:26] Alys commented on #13042
@ieahleen I'm not aware of any plans to make Royal Purple potions purchasable. I like your idea to exclude all Royal Purple pets and mounts! I think it's worth doing that fix, thank you!

---

(This is not exactly related, but in case anyone is curious: If you have accidentally sold any of your Royal Purple potions, you can post to the [Report a Bug](https://habitica.com/groups/guild/a29da26b-37de

[2021-03-14 10:30] Alys commented on #12796
@SabbirAhmedAdor629 Thank you! I've marked this as in progress for you.

Habitica's website uses Vue.js so it won't be the same as the HTML and CSS that you're used to, so post here if you have any questions. If you'd like to read some introductory material about Vue, our wiki's [Guidance for Blacksmiths](https://habitica.fandom.com/wiki/Guidance_for_Blacksmiths) page has some links in the "Websit

[2021-03-14 14:59] citrusella commented on #13012
It looks, from the apidoc thing's documentation, that header parameters could be included... but I think (with my rather basic but hopefully not incorrect understanding?) that'd be a number 4 scenario that would need to be added to each one? I may be misunderstanding, though: https://apidocjs.com/#param-api-header

[2021-03-14 15:20] SpeedyLom commented on #13012
Yes, that was my understanding as well. If the forms were going to be supported then the API definitions could be updated with header information individually.

I was unable to find a way to add the header information globally, which was a shame.

[2021-03-15 09:53] Alys commented on #12796
@SabbirAhmedAdor629 I'm very sorry, I've just realised that someone else is already working on this, so I'm afraid it wasn't actually available for you to start work on. :(

Also, based on the most recent comments, I'm not sure if Habitica's staff actually want a fix done for this. It's possible that it was meant to have the "help wanted" label removed. Or is a fix desired but only for the case wh

[2021-03-15 10:04] #12631 closed, assigned to nobody

[2021-03-16 20:43] bigsee commented on #11865
Updated PR. Apologies again. 🙏🏽

[2021-03-16 23:01] habitrpguser commented on #12971
I just want to confirm this error. It is exactly the same for me.

[2021-03-17 05:25] j-dover commented on #12702
Hi, I would like to work on this issue if it is available.

[2021-03-17 12:04] Alys commented on #12702
@j-dover Thanks! I've marked this as in progress for you. Post here if you have any questions!

[2021-03-17 12:07] Alys commented on #12702
I've deleted some old comments from here that weren't directly related to the bug / fix to make the remaining comments easier to find.

[2021-03-26 19:04] Helcostr commented on #12904
I am taking a look at this, and have trouble replicating this issue.

Lvl 12 completely blocks my access, and I can't target a task.

Lvl 13 (de-leveled back to 12) shows a clickable interface, but a warning popup displays to let me know I can't use the skill.

[2021-03-26 21:22] citrusella commented on #12904
FWIW, the one(s) I've tried before aren't ones that target a task. They take the mana and also notify you that you can't use them immediately, but they do not give the mana back until you use the sync button. This is still happening because I just checked as a level 12 user trying to cast Tools of the Trade (a level 13 rogue skill).

I also made myself level 11 in this test to try the level 12 ski

[2021-03-26 21:30] Helcostr commented on #12904
Ok, I will check Tools of the Trade lvl 12 rogue.

[2021-03-27 08:05] Helcostr commented on #12904
I am now confident in my ability to fix this bug, and would like to work on the solution (familiarizing myself with the environment was daunting).

Although I am wondering if I should continue the plan of blocking the interaction on the client side (with client information), or I should have the mana (and similar) be subtracted after the server response...

[2021-03-27 14:01] Alys commented on #12904
@Helcostr Thanks for looking into this! I've marked it as in progress for you.

I believe the standard behaviour for skills is to show the deduction in mana immediately so that the player gets immediate feedback about their new mana total. I don't think we want to change that, so it's probably best to not change skills so that the mana is deducted after the server response. Blocking interaction cl

[2021-03-27 14:23] Helcostr commented on #12904
@Alys what about immediate deduction... then sync with player data on fail (just incase another client is doing simultaneous actions; I discovered this as I was using multiple tabs)? This way the mana is "refunded," and also the client stays synced with the server?

Ignoring more complex solutions, the simple "block on client side" is in the PR, but if u think I should go advance, I can make it WI

[2021-03-27 14:49] Helcostr commented on #12377
### First scenario
I replicated the first issue by typing the names back to back without a space `@name1@name2`, but I don't think that's a bug...
Any more perspective on browser specific issues/different formatting would be a great perspective to fix this issue.

### Second scenario
I have also replicated second scenario and can fix this.

[2021-03-30 06:39] Helcostr commented on #12891
I would like to work on this issue.

[2021-03-30 06:45] Helcostr commented on #9470
https://stackoverflow.com/questions/5624173/javascript-number-and-currency-localization

I would like to work on this issue.

[2021-03-30 06:48] Helcostr commented on #9470
@citrusella that seems to be the place that it is displayed (and really, you only need to make sure everything is looking proper before displaying)

[2021-03-30 12:51] shanaqui commented on #9244
Hi @thewilloftheshadow! Just checking in whether you're still working on this, so we can open it up to anyone else who is interested if not. If you don't want to keep working on it, or if you don't check in within a week, I'll go ahead and set this as "help wanted" again.

[2021-03-30 15:14] myrrien commented on #9622
is this still being worked on? I can't see any popup for RYA in the browser or in the iOS app

[2021-04-01 12:10] SpeedyLom commented on #12920
I'm not going to be able to work on this for now due to personal circumstances, sorry about that.

[2021-04-02 06:14] Alys commented on #12377
@Helcostr Thanks! I'm marking this as in progress for you.

You're correct that when typing the names back to back without a space @name1@name2 it's not a bug that the drop-down doesn't appear.

----

I've deleted some older comments that weren't directly related to the details of the bugs and fixes to make the bug information easier to find in the remaining comments.

[2021-04-02 06:17] Alys commented on #9470
@Helcostr Thanks! I've marked it as in progress for you.

---

I've deleted some of the older comments that are not directly related to the bug or its fix.

[2021-04-02 06:33] Alys commented on #12904
@Helcostr I think for this just blocking on the client side is fine. I've marked your PR as ready for review. Thanks!

[2021-04-02 06:33] Alys commented on #12891
@Helcostr Thanks! It's yours. :)

[2021-04-02 11:10] Helcostr commented on #9470
I believe I have correctly used the user's current language and spit out the correct localization for the numbers. For example: French

![Lapins de poussière sauvages Participants 100,00 / 100,00  8,4 dégâts en cours](https://i.gyazo.com/d2aa2f87e304ceb6ab7c930776c36a93.png)

will reference this issue in my PR when I am ready to make the PR

[2021-04-02 11:24] Helcostr commented on #12377
Ah, I discovered that the dropdown doesn't happen for the 2nd user IF I am typing in the middle of the paragraph... (so I think the first issue still exists)

Will see if I can upgrade the textarea into some kind of "div contenteditable" system...

[2021-04-02 23:48] Aerek commented on #12442
Hi. I'd like to get more familiar with the code base and the Vue framework. This seemed like a good first issue for that. I didn't want to claim it yet, because I was more focused on learning how the code works than actually fixing it. I've found _a_ solution now though and I'd like to add it if it is still wanted.

Any guidance on how to properly make pull requests is welcome. This is my first ti

[2021-04-03 20:38] airnyxx commented on #13110
I can't seem to reproduce this bug. Is it possible recent updates have fixed this bug already?

[2021-04-03 21:25] airnyxx commented on #13110
I tried to reproduce this bug on Linux in Chrome v88.0.4324.96, with no success. It may be a browser specific bug. Which browser and version are you reproducing the bug on?

[2021-04-04 01:49] citrusella commented on #13110
When I encountered the bug I was on Firefox 78 ESR on Windows 10. I can try seeing if I still encounter it, myself, though not right now...

[2021-04-04 03:52] Alys commented on #12377
@Helcostr Before you make that change, I think we should consider if it has any unintended side-effects. For example, will it still be as accessible for people using screen reader software; will it still be draggable to change the size; will keystrokes like Ctrl-Enter still work as they do now?

[2021-04-04 03:59] Alys commented on #12442
@Aerek Thanks! I've marked this as in progress for you.

Have a look at [Using Your Local Install to Modify Habitica's Website and API](https://habitica.fandom.com/wiki/Using_Your_Local_Install_to_Modify_Habitica%27s_Website_and_API) on our wiki. There's a lot of useful information in there including a section about submitting a change in a Pull Request.

[2021-04-04 04:01] Alys commented on #13110
It still happens for me. Firefox 85, Ubuntu.

[2021-04-04 04:43] Helcostr commented on #12377
@Alys Well, if there isn't a library to think of those for me: yes. I never leave anything unintended if possible. This is shoved to the bottom of my priority pile, unless u want me to tackle the 2nd issue first before tackling the first (these are two separate issues that can be disentangled from each other).

[2021-04-05 18:00] trs4ece opened #13160 "Gibberish code makes site unusable"
[//]: # (Before logging this issue, please post to the Report a Bug guild from the Habitica website's Help menu. Most bugs can be handled quickly there. If a GitHub issue is needed, you will be advised of that by a moderator or staff member -- a player with a dark blue or purple name. It is recommended that you don't create a new issue unless advised to.)

[//]: # (Bugs in the mobile apps can also

[2021-04-05 18:00] trs4ece commented on #13160
![Screen Shot 2021-04-05 at 10 56 53 AM](https://user-images.githubusercontent.com/15202102/113607543-2af71600-95fe-11eb-8c45-397af6223317.png)

[2021-04-05 20:04] SabreCat commented on #13160
We're investigating this now, but no Habitica staff or volunteers have yet been able to reproduce it on their own browsers.

If a session is already logged in, starting from a different page than habitica.com (the login or tasks page) may help--e.g. go to https://habitica.com/shops/quests and navigate from there.

Help from the community is urgently desired on this one! A solution would earn the C

[2021-04-05 20:07] SabreCat commented on #13160
JS console errors from `smartbanner.js` are unlikely to be the culprit; the error there occurs when `smartbanner` is unable to read the `meta` tags we've supplied. If the whole HTML document is garbled, that comes as no surprise. `bootstrap` may be a more likely avenue of investigation.

[2021-04-05 21:00] trs4ece commented on #13160
Going directly to https://habitica.com/shops/quests loads fine for me. The Inventory, Shops, Party, Guilds, Group, Challenges, and Help tabs all seem to work well.

If I go to the Tasks tab, it actually loads fine.... until I refresh the page. Other tabs refresh just fine. Then the top part of the page has gibberish and then the rest of the site has everything super zoomed in. So it seems that goi

[2021-04-05 21:04] SabreCat commented on #13160
@trs4ece I deployed an update to move us up to the latest version of `bootstrap`, which would incidentally cause us to rebuild cached frontend files and so forth--there's been one report of it getting better after that, already, can you take a look and see if it does the same for you?

[2021-04-05 21:04] trs4ece commented on #13160
Things seem to be working now in multiple browsers. Did someone change something? Was failing and then as soon as I posted the comment above, I tried refreshing again and it seems okay.

[2021-04-05 21:05] SabreCat commented on #13160
sync! 😸

[2021-04-05 21:05] trs4ece commented on #13160
Looks great now! Thanks for the quick fix!

[2021-04-05 21:06] #13160 closed, assigned to nobody

[2021-04-09 00:10] Alys commented on #12377
@Helcostr Sorry about the delay! I think it would be fine to fix the second issue first if you'd like to! If you write something like `partial fix for #12377` in your PR, it will link it to this issue without automatically closing the issue.

[2021-04-09 01:41] Helcostr commented on #12377
Uh, no, I'm good. Fixing both issue 1 and two (I almost finished fixing 1), since I realized that div-contentedatble can have a ton of JS side effects (since I have to capture so many events). (Time to make an nodejs electron version of Habitica that someone can download to their desktop haha).

I am a bit weirded out that v-model isn't updating live... 🤔 so I'm just poking around seeing if I need

[2021-04-09 17:28] lizapritchard commented on #12702
Hi @Alys I would like to work on this

[2021-04-09 21:48] j-dover commented on #12702
Hi @Alys , I was able to get the toggle centered by modifying the .backgroundFilterToggle CSS class in website/client/src/components/creatorIntro.vue. The toggle stayed in the center throughout recreating the above scenarios and by going to different pages.

I tried running the test suite according to [Creating and Running Automated Tests](https://habitica.fandom.com/wiki/Using_Your_Local_Install_

[2021-04-10 02:33] Helcostr commented on #9470
I am explicitly stating my PR is ready to be reviewed (not sure if I should ping someone, or if I have to explicitly state in this issue that the PR is ready to be reviewed).

[2021-04-10 02:33] Helcostr commented on #12377
I am explicitly stating my PR is ready to be reviewed (not sure if I should ping someone, or if I have to explicitly state in this issue that the PR is ready to be reviewed).

[2021-04-10 02:33] Helcostr commented on #12891
I am explicitly stating my PR is ready to be reviewed (not sure if I should ping someone, or if I have to explicitly state in this issue that the PR is ready to be reviewed).

[2021-04-11 19:18] morganruffner commented on #13110
Hi @Alys, I'm interested in working on this bug.

[2021-04-11 19:43] morganruffner commented on #13110
Hm I was not able to reproduce the bug on Chrome or Firefox on both MacOS and Ubuntu.

[2021-04-11 19:50] lizapritchard commented on #10934
Hi @Alys I noticed there hasn't been much activity here in a while, could I work on this issue?

[2021-04-11 22:41] gocoelho opened #13166 "Skill ("spell") to buff the party (Rogue)"
### General Info
  * UUID: 68209916-0a5b-487c-a4e8-46583244b472
  * Browser: Microsoft Edge
  * OS: Windows 10

### Description
I'm in a party and when I use a spell to buff the party, Habitica don't show the message, like it happens when another member used a spell :(
both case, I (gocoelho) use this:
![image](https://user-images.githubusercontent.com/7503127/114323845-7da06880-9afd-11eb-8ca6-f93

[2021-04-12 06:05] Nakonana commented on #13166
"Furtividade" (or: "Stealth") is not a party buff skill. It is applied to your own tasks and prevents the party from taking damage if you don't complete your tasks.

If you want to buff your party, try the skill next to Furtividade, the one for 25 Mana ("Tools of Trade"), and check if a message in the party chat appears or not. Tools of Trade should increase the PERception stats of your party.

[2021-04-12 09:23] Alys commented on #13166
@gocoelho If you find anything else that you think is a bug, please post to the Report a Bug guild (from the Help menu on the website or from the Guilds section of the website or app). As the new issue template here says:

So it's usually easier for you to post to the guild and easier for us too. :)

@Nakonana Thank you!

[2021-04-12 09:23] #13166 closed, assigned to nobody

[2021-04-12 09:25] Alys commented on #13110
@morganruffner  I'll leave this as "help wanted" for now since you can't reproduce it, but if you'd still like to investigate further and try to find a fix for it, please post again briefly and I'll mark it as in progress for you.

[2021-04-12 18:17] lizapritchard commented on #10934
I was able to make the challenges draggable like the tags but am having a little trouble handling groups. Right now, groups aren't editable at all from this module (they can't be added, deleted, or dragged) should groups be editable? Or just draggable?

I'm also having a little trouble adding groups to my local db to test the new functionality. I modified my groups document to include the followin

[2021-04-13 00:06] JohnFitzpatrick44 commented on #12936
Hello, I'm a first time contributor and wanted to take a look at this. It seems to be a good intro task. Mind if I pick it up?

[2021-04-13 19:40] SabreCat commented on #9899
Fix coming out with 46b8e7f7 later this week. Closing!

[2021-04-13 19:40] #9899 closed, assigned to nobody

[2021-04-14 03:32] Zarrindast commented on #8735
still haven't done it 😅 haven't forgotten though. if i don't make a dent this month i'll give it away.

[2021-04-14 09:29] Alys commented on #12936
@JohnFitzpatrick44 Thank you, please go ahead! Post here if you have questions or run into trouble!

[2021-04-14 09:38] Alys commented on #12702
@lizapritchard Thank you for offering but @j-dover had already claimed this one. :)

@j-dover Sometimes the tests don't run well on local installs, so I'm sure the problems you've found aren't related to your change. If you'd like to submit a pull request, you'd be welcome to!

So sorry to both of you for the delay in my reply!

[2021-04-14 09:43] Alys commented on #10934
@lizapritchard I've marked this as in progress for you. If you'd like to submit a pull request for only challenge tags, I think that would be fine! That's the part that's of most interest to the majority of Habiticans.

You could then keep working on Group Plan tags too if you wanted to, but currently the staff are making some changes to Group Plans so it's possible that they'll be adjusting tags

[2021-04-14 09:45] Alys commented on #12920
@SpeedyLom No worries at all, we understand! Thanks so much for letting us know! I'm marking this as help wanted again. :)

[2021-04-14 12:11] lilithi commented on #8462
I'll try fixing this

[2021-04-15 01:00] JohnFitzpatrick44 commented on #12936
It looks like this is due to vuedraggable rather than anything in Habitica's codebase. If you take a look at the demo [here](https://sortablejs.github.io/Vue.Draggable/#/simple), you can recreate the same effect. Each div starts with no draggable property, and one is added and set to true, then to false, when you click or drag one.

There's a couple ways to keep the cursor's appearance consistent,

[2021-04-16 10:29] Alys commented on #12971
This happens for me too, and we have a report in RaB today.

[2021-04-16 21:25] Helcostr commented on #12971
I will investigate to see if I can fix this issue.... I am pretty sure I can, but I will double check.

[2021-04-16 21:26] Helcostr commented on #12920
I would like to work on this issue.

Is the request to remove the date stamp from the title?

[2021-04-17 01:27] AlanGCruz commented on #13107
Hello @SabreCat i've been debugging this issue and this is what i found.

After following the steps to reproduce the situation above, i noticed that the problem happens when the user switches to the `invites` tab, closes the modal and before he opened the members modal again the invited user accepts the invitation.

This happens because of three things:

1. Every time you open the modal, a request

[2021-04-17 08:28] Alys commented on #8462
@lilithi Thanks! Please go ahead and post here if you have questions.

[2021-04-17 08:45] Alys commented on #12936
I'm not sure what would be best from those options. @SabreCat what do you think?

[2021-04-17 08:58] Alys commented on #12971
@Helcostr Thank you!

[2021-04-17 09:03] Alys commented on #12920
Actually, I'm sorry, but I'm going to put this back on hold. It's a tolerable bug to put up with and we have a backlog of PRs to review. :( Thank you for offering though @Helcostr !

---

I've deleted some older comments that weren't specifically about the bug and the desired fix.

[2021-04-17 14:30] Helcostr commented on #12971
With a fresh account, XML exporting is fine. And since it's an InternalServerError, I don't have many hints to go off of. Can anyone narrow this issue down?

I think my contribution here is to wrap this function in an error handler so that the error is more clear.

[2021-04-18 20:36] lizapritchard commented on #13025
Hi @saraolson, I was looking into this issue and I was wondering if "Role" was intended to have similar behavior to the Guilds screen, where the options are "Guild Leader" or "Member". I think the mistake may have been in making the options identical to the membership options, not in the presence of a role filter. The following screenshots show the filters on the guilds and challenges screens resp

[2021-04-19 08:59] Alys commented on #12971
@Helcostr There's nothing in Habitica's server logs for my failed attempt to export my data, so narrowing it down will be hard. :(

I like this partial fix you've done! That looks promising.

---

As a note for the future when (if) this issue is fully fixed, we should update the apidoc comments for the XML export route. Currently they say:

I've added a note to the top post about this.

[2021-04-19 10:21] Alys commented on #12971
We're making progress!! There's a staging server that Habitica's staff and moderators have access to. Before I merged @Helcostr's partial fix for this issue (https://github.com/HabitRPG/habitica/pull/13181), the XML export was giving me an error there, just as it was on the production site. Now that the PR's fix has been deployed to staging, the export is working there!

As @Helcostr predicted, th

[2021-04-19 12:40] Helcostr commented on #12971
Thanks to @benkelaar for tipping me off in issue #12482

I don't like this method, since this is a bandaid fix to the issue. I very much prefer an array export:
[code]

is there internal documentation on what the `res.locals.user` object is, and are the skin (before json conversion) an object name/identifier that I can look for that tips me off that what i am looking at can start with a number? (b

[2021-04-19 12:48] saraolson commented on #13025
@lizapritchard if that's the case I still think it is the right move to take it out from Challenges, as that filter's rough equivalent in My Challenges screen is already represented in the 'Ownership: Owned/Not Owned'

This wording seems much clearer in the context of Challenges, so I think it's beneficial to have the different filters that are customized to the features themselves than simply dup

[2021-04-19 15:13] Helcostr commented on #12971
@Alys currently all errors are being swollowed. is there a suggested way for me to properly handle thrown errors related to this xml export?

I was thinking of spitting the error verbosely at the user. But if there is an error tracking place that I can push the error to, that would be cool as well.

[2021-04-19 16:29] shanaqui commented on #8735
No worries, I'll check in again in a while and you can let me know how it's going then! :)

[2021-04-19 16:32] shanaqui commented on #12819
@seunggyupark Sorry I missed your message! Yes, I'll set this back to Help Wanted. :)

[2021-04-19 16:33] shanaqui commented on #12937
@danikyl Hi! Just checking in whether you're still working on this issue, or whether we should mark it as help wanted again! Please check in within about a week in order to keep the issue. :)

[2021-04-19 16:34] shanaqui commented on #12124
@samamill Hi! Are you still working on this one? Looks like it's been marked as back with you for tests to be added; will you be able to do that, or shall I set this back to help wanted? If we don't hear back, I'll do that in about a week. Thanks!

[2021-04-19 16:44] shanaqui commented on #12972
Hi @VGabriel45! Are you still working on this one? Just checking in to make sure issues don't go too stale! If we don't hear back within a week or you're not working on it anymore, I'll mark it as help wanted again. :)

[2021-04-19 16:47] thewilloftheshadow commented on #12383
@shanaqui I'm still not able to reproduce this, you can open it up again

[2021-04-19 19:47] VGabriel45 commented on #12972
Hi, sorry I did not manage to make it work and forgot to tell you guys one week ago...

[2021-04-19 22:59] Helcostr commented on #9244
I can fix this issue.

[2021-04-19 22:59] Helcostr commented on #12819
I can fix this issue.

[2021-04-20 11:14] shanaqui commented on #12972
@VGabriel45 No worries, I've marked this issue as help wanted again. Thanks for having a go at it!

[2021-04-20 11:15] shanaqui commented on #12383
@thewilloftheshadow Thanks for letting us know! I've done that now.

[2021-04-20 15:47] Helcostr commented on #12972
I can work on this.

[2021-04-20 16:20] veeeeeee commented on #9697
Fixed with recent event automation updates.

[2021-04-20 16:20] #9697 closed, assigned to nobody

[2021-04-20 16:32] veeeeeee commented on #10310
Closing for now as Safari has had quite a few updates since the last post in this issue. If something similar to this pops up again, please start a new issue ticket.

[2021-04-20 16:32] #10310 closed, assigned to nobody

[2021-04-20 16:35] veeeeeee commented on #8931
Closing due to age of issue and has not been updated with more incidents since 2019. Please open new issue if something like this pops up again.

[2021-04-20 16:35] #8931 closed, assigned to Alys

[2021-04-20 16:38] veeeeeee commented on #9691
Closing issue because this is accounted for in our roadmap and issue duplication is interfering with current processes.

[2021-04-20 16:38] #9691 closed, assigned to nobody

[2021-04-20 16:41] veeeeeee commented on #9231
We're now tracking feature requests via [Google Form](https://docs.google.com/forms/d/e/1FAIpQLScPhrwq_7P1C6PTrI3lbvTsvqGyTNnGzp1ugi1Ml0PFee_p5g/viewform), so we're closing this issue to reduce duplication of effort.

[2021-04-20 16:41] #9231 closed, assigned to nobody

[2021-04-20 16:58] veeeeeee commented on #11270
Putting this on hold until we have a chance to clarify our thinking on how best to communicate cron/RYA handling.

[2021-04-20 17:00] #8621 closed, assigned to nobody

[2021-04-22 08:00] PitiTheGrey commented on #12931
Please excuse me. I am just curious if there is any progress here.

[2021-04-22 12:48] Alys commented on #12971
The issue with changing it to work like this:
[code]
is that it would be a breaking change. Anyone who's already able to get an XML file because they don't own any of the offending items may already have code that processes the XML file using the `<skin> <eb052b>true</eb052b> ...` syntax, and their code would break if the XML format broke.

 It would also be inconsistent with how the other purchas

[2021-04-22 13:29] Helcostr commented on #12971
I think we can MAYBE do both (lul) 🙃

v1 would use the `_` prefix

v2 would be an "array" export (consistent with other purchased items, no discrimination)

[code]

I totally agree with the breaking changes part though XD... and I'm curious why it's in a `key:true` format 🤔

[2021-04-22 16:25] veeeeeee commented on #8620
We are now tracking these somewhere else to ensure proper handling.

[2021-04-22 16:25] #8620 closed, assigned to nobody

[2021-04-22 16:25] veeeeeee commented on #8619
We are now tracking these somewhere else to ensure proper handling.

[2021-04-22 16:25] #8619 closed, assigned to nobody

[2021-04-22 16:25] veeeeeee commented on #8618
We are now tracking these somewhere else to ensure proper handling.

[2021-04-22 16:25] #8618 closed, assigned to nobody

[2021-04-22 16:25] veeeeeee commented on #8617
We are now tracking these somewhere else to ensure proper handling.

[2021-04-22 16:25] #8617 closed, assigned to nobody

[2021-04-22 16:28] veeeeeee commented on #11260
This has been fixed on prod for Notification settings.

[2021-04-22 16:28] #11260 closed, assigned to nobody

[2021-04-23 12:49] shanaqui commented on #8500
I made some observations about task sorting issues related to sorting while a filter is set, when the staff checked in about this. I thought I'd add it here.

Here is my starting point:

![image](https://user-images.githubusercontent.com/8144640/115873146-8452a800-a43a-11eb-86ec-ac9edac6d701.png)

Here is what happened when I moved task 5 to the top while I had the due filter applied:

![image](ht

[2021-04-23 15:41] Helcostr commented on #11541
I can work on this.

[2021-04-26 17:23] AlanGCruz commented on #13107
Hey @SabreCat just to ask again if i can work on this issue? :)

[2021-04-27 15:27] shanaqui opened #13206 "Locked quests are still buyable even though they appear not to be"
![image](https://user-images.githubusercontent.com/8144640/116268301-19280f00-a775-11eb-9be5-930e21bd7008.png)

The Golden Knight Part 3 should be locked for the user testing (NYFairy), and it does appear to be... but the quest was purchaseable and appears in their inventory, including after refreshing.

[2021-04-27 16:58] JohnFitzpatrick44 commented on #12941
@Alys Mind if I pick this up?

[2021-04-28 21:07] #12891 closed, assigned to nobody

[2021-04-28 21:15] #9470 closed, assigned to hellosurbhi

[2021-04-28 21:29] #12702 closed, assigned to nobody

[2021-04-28 22:48] negue opened #13219 "TODO: don't allow the party leader start the quest until the leader has or rejected the invitation"
While in the review for #13112 we rediscovered an older todo inside the `questDetailsModal` (which was re-added and with that all lines marked as new)

[2021-04-29 03:49] vexx32 opened #13220 "Please add a setting to disable notifications/popups from Bailey"
I get that Bailey notifications exists for a reason, but there being no way to ignore / mute / disable the literally constant updates from Bailey is a huge deterrent to even using Habitica on my computer.

There's always so much to read through, it's like a short story every single day that I have to click through in order to just check off my tasks. It mightn't sound like a lot, but some days it'

[2021-04-29 11:50] Helcostr commented on #13110
Do you have any relational information on "who" the other person is? And how many times that "removeMember" function has been called on the page prior to the visual bug?

Regardless, I would like to tackle this.

[2021-04-29 19:10] #12904 closed, assigned to nobody

[2021-04-29 19:18] #13042 closed, assigned to nobody

[2021-04-29 19:34] #13043 closed, assigned to nobody

[2021-04-29 20:08] #12966 closed, assigned to nobody

[2021-04-29 20:18] #12781 closed, assigned to nobody

[2021-04-29 20:23] #12922 closed, assigned to nobody

[2021-04-29 20:36] SabreCat commented on #12796
@SabbirAhmedAdor629's PR removed the task title focus outline entirely, even when tabbing, which I don't think is what we wanted based on e.g. https://github.com/HabitRPG/habitica/issues/12796#issuecomment-762359870. Is it accurate to say we only want to remove this focus highlight when using a skill on the task? Or should it not light up on any click, but we keep it for tabbing? @Tressley

[2021-04-29 20:52] SabreCat commented on #9244
@Helcostr If you're still interested, I have closed @thewilloftheshadow's PR as abandoned, so feel free to proceed!

[2021-04-29 21:06] #12377 closed, assigned to nobody

[2021-04-29 21:40] SabreCat commented on #11172
Given the potential need for updates to the schema, possible addition of a mark-read button, etc., I'm moving this to on hold needing design. We can review @aevix's PR and the discussion there when we get around to tackling this!

[2021-04-29 21:57] SabreCat commented on #13220
As this isn't a bug, strictly speaking--and bug reports go through the Guild in any case--I'm closing this ticket for now. This would be good to send to the team via the [feedback form](https://docs.google.com/forms/d/e/1FAIpQLScPhrwq_7P1C6PTrI3lbvTsvqGyTNnGzp1ugi1Ml0PFee_p5g/viewform?usp=sf_link) instead!

[2021-04-29 21:57] #13220 closed, assigned to nobody

[2021-04-29 21:58] SabreCat commented on #13022
I believe I have corrected this with some updates to the cron logic for awarding mystery items. Closing for now--let's reopen if we get any further reports!

[2021-04-29 21:58] #13022 closed, assigned to nobody

[2021-04-29 23:14] citrusella commented on #13110
Both times I did it, I had my citrustest account and an additional temporary test account in my party. IIRC every time I tried it my own citrusella account was at the top of the modal, so it's not simply removing someone from the end or anything. I'm pretty sure I kicked the highest in the list I wished to remove each time. It happened on the very first time I attempted to remove anyone from my pa

[2021-04-30 07:36] Helcostr commented on #9244
I am looking at the API, and I am confused...

Why does v3 [CreateChallenge](https://habitica.com/apidoc/#api-Challenge-CreateChallenge-0.0.0) doesn't intake a challenge object like the API suggests???

It seems like it's taking it in on the first dimension (so no challenge object is actually passed for some reason 🤔)

[2021-04-30 12:41] shanaqui opened #13224 "Time-limited quests show the timer in the inventory as well"
As Fox_town reported in Report a Bug:

"The seasonal quests (e.g. Waffling with the Fool) have an expiration timer on the hover-over, in the inventory. (It's the same hover-over as when the quest is in the shop.) This is misleading and has unduly led some players to think the scroll will vanish from their inventory if they do not use it by tomorrow. Especially as these are gem purchases, I think w

[2021-04-30 20:13] #10934 closed, assigned to nobody

[2021-04-30 20:21] #12765 closed, assigned to nobody

[2021-04-30 20:37] SabreCat commented on #11151
Is this still happening in the current Gala? We've done a number of updates to the display and behavior of time-locked items since last summer...

[2021-04-30 20:47] #11865 closed, assigned to nobody

[2021-04-30 20:51] SabreCat commented on #9933
I think this has been addressed with recent Gala event code overhauls. @Alys does something remain to be addressed re this ticket?

[2021-04-30 21:23] #1703 closed, assigned to paglias

[2021-04-30 21:29] SabreCat commented on #12419
Looks like this was closed before the fix to it was merged..?

[2021-04-30 21:49] Helcostr commented on #12419
I can tackle this regex.

[2021-04-30 21:51] Helcostr commented on #11482
I can work on the abstraction of the login/registration.

[2021-04-30 22:02] SabreCat commented on #6941
As this is a feature request rather than an issue, which we've been trying to avoid tracking in the public GitHub repo for a while, I'm marking this for the staff to review and potentially move to the private repo with its accompanying project board.

[2021-04-30 22:06] SabreCat commented on #10795
While this does describe a UX pain point, it's the sort of thing we'd want to cover with the UX staff before deciding on / prioritizing a solution. Marking for staff discussion!

[2021-04-30 22:09] SabreCat commented on #9256
Given the age of this and the associated PR, and its proximity to some outstanding projects, I'm marking this for the staff to review.

[2021-05-01 04:03] SabreCat commented on #11482
OK, sounds good @Helcostr !

[2021-05-01 23:29] Helcostr commented on #9244
@SabreCat do I tag you for guidance? Do I execute how I see fit and let you see the final product?

[2021-05-02 05:37] kmacart commented on #12892
Hi! Could I take this issue? I'm not sure if it's up for grabs or not so just let me know if it isn't!

[2021-05-03 03:28] Alys opened #13226 "website scrolling slow and jerky when top bar is visible"
_As reported by @RachelAnn (7b9c41d3-6d21-4168-9dfd-e0c2489df8ff), with minor edits by me for collation:_

"After the latest update, scrolling is slow and jerky when the top bar is visible, and I had a video in another window that was also jerky, unless I switched to a different tab in the window I had Habitica open in.

"I had experienced this before and I found that turning off hardware accelera

[2021-05-03 03:40] rachelkachel commented on #13226
Here's the console log. Thanks for looking into this!

Cookie “” has been rejected as third-party. css
This page uses the non standard property “zoom”. Consider using calc() in the relevant property values, or using “transform” along with “transform-origin: 0 0”. habitica.com
Cookie “” has been rejected as third-party. loggly.tracker-latest.min.js
Some cookies are misusing the recommended “SameSit

[2021-05-03 12:53] Tressley commented on #12796
We only want to remove the outline on the task title when a skill is being cast. The outline should exist otherwise.

[2021-05-04 08:43] pierrepicaud opened #13248 "Purcharsed item not showing after unequip/equip"
[//]: # (Before logging this issue, please post to the Report a Bug guild from the Habitica website's Help menu. Most bugs can be handled quickly there. If a GitHub issue is needed, you will be advised of that by a moderator or staff member -- a player with a dark blue or purple name. It is recommended that you don't create a new issue unless advised to.)

[//]: # (Bugs in the mobile apps can also

[2021-05-04 10:29] Nakonana commented on #13248
Any chance that you have the costume option enabled...? Avatars have two different outfits, one for battle and one for looks. You can equip items to both things at the same time but only one of them will be visible. You equipped your items to the battle option, but if you activate costumes you can't see your battle equipment.

See here: https://habitica.fandom.com/wiki/Equipment#Costumes

[2021-05-04 10:46] Alys commented on #13226
@rachelkachel Thanks!

I wonder if this part may be related:

Do you use any extensions for blocking ads and/or blocking trackers and/or increasing privacy? If so, could you please try disabling them temporarily, then close the tabs that have Habitica in them, open Habitica in a new tab, and see if the slowness and jerkiness still happen?

[2021-05-04 10:53] Alys commented on #9933
I've just tested by pinning a Polka Dot Potion using a database command to update my pinnedItems array. It does look purchasable. Below are screenshots from my Rewards column.

![image](https://user-images.githubusercontent.com/1495809/116993318-aa215c00-ad1a-11eb-861d-9f05c38a82af.png)

![image](https://user-images.githubusercontent.com/1495809/116993345-b3aac400-ad1a-11eb-9fad-a8c52ab72192.png)

[2021-05-04 10:55] Alys commented on #11151
I don't recall reports of it this time so I'm closing this. We can reopen if it happens again.

[2021-05-04 10:55] #11151 closed, assigned to nobody

[2021-05-04 10:57] Alys commented on #11541
@Helcostr Thanks! I've marked it as in progress for you. Sorry about the delay in our reply. Let us know if you've changed your mind since you posted!

[2021-05-04 10:58] Alys commented on #12941
@JohnFitzpatrick44 Thanks! Please go ahead. Post here if you have questions.

[2021-05-04 13:40] rachelkachel commented on #13226
Thanks - I have my adblocker turned off for Habitica, but I do have a lot of privacy settings turned on in Firefox. I tried disabling all extensions and setting the privacy settings to Standard, but I still had the issue. Here's the log with those settings.

This page uses the non standard property “zoom”. Consider using calc() in the relevant property values, or using “transform” along with “tran

[2021-05-05 15:04] citrusella commented on #11689
If you click to buy an individual background, you can see its name and description in the buy modal, but that's the only scenario in which background names and description can be viewed, I think--you can't see it at all after buying.

[2021-05-06 19:40] SabreCat opened #13250 "Use word boundaries when parsing @mentions on server"
### Description

Currently, if a user neglects to put a space between two @-mentions of users, the server will still evaluate both of those @-prefixed strings and send mention notifications to both users if they're valid. While this sounds intuitive, it is inconsistent with established UI conventions in this space, and may result in unintended notifications being sent when a user types an email ad

[2021-05-07 03:30] patriciatiffany commented on #13250
Hi @SabreCat! Could I take this on? It'll be my first issue and my first time contributing here.

[2021-05-07 04:54] SabreCat commented on #13250
@patriciatiffany Sure, take a look with our thanks! Definitely ask here or in the Aspiring Blacksmiths Guild on Habitica if you need any help getting going.

[2021-05-07 10:25] shanaqui opened #13252 "Up/down buttons very difficult to select in Firefox, e.g. when trying to sell food items"
![image](https://user-images.githubusercontent.com/8144640/117436333-c98cd480-af26-11eb-8e60-9cfc62085acd.png)

Reported by Vikte and confirmed by me.

"[Market] In Firefox, up-down buttons when selling items only react when you hover the mouse EXACTLY over their right border, and don't react when mouse is right above the button. In Edge it works fine."

[2021-05-07 12:32] shanaqui commented on #13248
Nakonana's explanation is most likely correct, so I'm closing this issue. If you're having further problems, @pierrepicaud, please report in the [Report a Bug](https://habitica.com/groups/guild/a29da26b-37de-4a71-b0c6-48e72a900dac) guild so we can troubleshoot there. :)

[2021-05-07 12:32] #13248 closed, assigned to nobody

[2021-05-08 08:41] Alys opened #13254 "@mentions dropdown should not stay visible after selecting from it"
As reported by @citrusella and replicated by me (Ubuntu Firefox):

[2021-05-08 09:18] Alys opened #13255 "quest box not appearing on party page for players using certain languages"
We've had several reports of people who are participating in quests not being able to see the quest details on their party page.
I haven't worked out why but I'm seeking more information from the people who've reported it.
Below are the reports we've seen so far in the Report a Bug guild.

---

@-Tyr- (38009d36-5a27-4ef0-a890-e81f4c847425) one to two days ago (this is the first report):

@Transurf

[2021-05-08 10:25] 95VictorVictor2 commented on #13255
Hi, this is -Tyr-. I have the JS Console errors:
[code]

[2021-05-08 10:43] Basrara commented on #13255
i also get js console errors, on firefox, chrome, and edge (all windows 10). i'm @dicedweller on habitica.

### Firefox:

Diese Seite verwendet die nicht standardisierte Eigenschaft "zoom". Stattdessen sollte calc() in den entsprechenden Eigenschaftswerten oder "transform" zusammen mit "transform-origin: 0 0" verwendet werden. party
Einige Cookies verwenden das empfohlene "SameSite"-Attribut inkor

[2021-05-08 11:20] Alys commented on #13255
In addition to the two posts above, -Tyr- (@95VictorVictor2) and dicedweller (@Basrara) have given the following helpful information:

@-Tyr-:

@dicedweller:

So it's clearly not related to the browser!

[2021-05-08 11:35] Alys commented on #13255
Heh. Solved it. :) Or at least part of it.

Both -Tyr- and dicedweller have their language set to en_GB, and so does one of the other affected players. Another one uses pt_BR, and the remaining players have `null` as their value for `preferences.language` . When I set mine to each of those three values, I can no longer see my party's quest. When I set it back to en or to fr (as a random choice of

[2021-05-08 13:35] Alys commented on #13255
It might also be the length of the language abbreviation rather than the underscore. You could test with Pirate English, which is long but has no underscore.

[2021-05-08 17:29] citrusella commented on #13255
Judging by:

[code]

(Which seems to be the most related error...) Is it correct to assume this could be an interaction of certain languages with the recent fix that allows decimal point localization? localizeNumber was created with #13178 and line 13 includes a toLocaleString method.

https://github.com/HabitRPG/habitica/blob/4dc718fbffc9e593309f48121a5d241ca87be240/website/client/src/filters/loc

[2021-05-09 01:38] negue commented on #13255
@citrusella is right 🎉  - the issue is that `val.toLocaleString` only accepts dashed values => see https://www.w3schools.com/jsref/jsref_tolocalestring_number.asp

So in our function (`localizeNumber`) most of our `_` ones can be replaced by the dashed versions - the `en@` will have to use `en` there but all others might need to be used with `en` as fallback

[2021-05-09 04:22] Helcostr commented on #13254
That's interesting... I thought it disabled the the dropdown :O

Welp, time to fix my mistake.

[2021-05-09 04:32] Helcostr commented on #12972
Sure, I haven't actually worked on the issue since I wasn't green lit. What code section are u looking at @mannkid?

[2021-05-09 06:56] Alys opened #13256 "wrong challenges shown for guild when accessing through notifications"
_As reported by @citrusella:_

"If I visit a guild and then visit other guilds through notifications (or any method that does not involve a reload or visiting a non-guild page, i.e. using the back button to go to a guild you were previously at), the guild keeps the same challenges in the sidebar even as all the other aspects of the guild update to the new guild.

"I didn't see any errors in the co

[2021-05-09 06:56] Alys commented on #13256
Anyone who works on this issue should make sure that the fix also applies to parties.

[2021-05-09 07:47] Alys commented on #13255
@Helcostr I've marked this as in progress for you. Thanks for taking it on!

Note that the languages with the @ symbol aren't the important ones - they're just en@pirate and en@lolcat (although if you can get them working with the quest box, that would be nice; otherwise just fall back to `en` for them).  The languages with the underscores are the critical ones to fix since they are real languages

[2021-05-09 07:49] citrusella commented on #13255
I tried snooping around to see if this was maybe an established way to deal with this in Weblate and couldn't find anything there but *did* find evidence that the two English "sub-languages" Habitica has using @ (Pirate, which is currently usable, and LOLcat, which is not) are ["officially" notated with an @ in their support on Transifex](https://www.transifex.com/explore/languages/) (which is wha

[2021-05-09 07:50] Helcostr commented on #13255
[code]
literally already already executing haha. very simple fix. (and leaving comments just incase someone is confused)

[2021-05-13 18:39] Berad commented on #2652
@paglias Hello Mateo. I'm not sure if I mentioned you correctly.
But the problem with the first day of the week (Sunday or Monday) was never solved.
And it's painfull.
Is there any chance to fix it?
Should I open new issue?

[2021-05-14 12:23] shanaqui opened #13275 "Notification about reaching drop cap appears erroneously when logging in to web after using mobile"
User report: "Sometimes, when I've been using the mobile app for days instead of the web, when I then log onto the web client, I get a notification that I've reached my daily drop cap when I haven't yet reached it for the current day."

User is @emwriter (42a0f951-ce2c-43cc-ab58-acd2e2f6cb0a).

[2021-05-14 19:45] SabreCat opened #13276 "Profile links generated from @-mentions open in new tab"
[//]: # (Before logging this issue, please post to the Report a Bug guild from the Habitica website's Help menu. Most bugs can be handled quickly there. If a GitHub issue is needed, you will be advised of that by a moderator or staff member -- a player with a dark blue or purple name. It is recommended that you don't create a new issue unless advised to.)

[//]: # (Bugs in the mobile apps can also

[2021-05-16 10:45] Helcostr commented on #13276
All old mentions are fine? It's only affecting the new chat?

[2021-05-16 11:07] Alys commented on #13275
For anyone working on this, to get a drop cap notification, you need to not have an active subscription and you need to have this in your account:
[code]

When you reach your drop cap, you will then see this in your notifications array:
[code]

I think the current behaviour for that notification is that it stays in your notifications until you dismiss it, and since the mobile apps don't support th

[2021-05-16 13:19] paglias commented on #2652
Hi @Berad I am not active in the project anymore, you can try to create a new issue about it

[2021-05-16 14:10] citrusella commented on #13276
I noticed that, too, but I didn't look into it enough to be sure about saying "maybe this came with the change from relative links to absolute for some reason". (@ links were changed to absolute so that they don't break in the apps and third party tools.)

[2021-05-16 15:47] Berad commented on #2652
@paglias got it. Sorry to bother you. And thank you =)

[2021-05-16 15:56] citrusella commented on #9470
I know there's currently a "bigger fish to fry" regarding this feature right now (the disappearing boss description issue), but since it came to mind I wanted to share before I forgot: I noticed when testing out if a certain language worked with a certain quest that had rage that the localization only applied to the boss health and not to the rage bar as well. Should it apply to both?

(Tangent: I

[2021-05-17 09:20] Helcostr commented on #9470
@citrusella localization of numbers should apply to everywhere with a number. It's no issue of slapping the mixin into whever it's needed, now that we have a mixin for such an operation.

The only reason the boss value went invisible is because i passed a bad value into the `toLocaleString` function, causing it to blow up. The other numbers are fine (but they are not using the habitica language, o

[2021-05-17 12:19] citrusella commented on #9470
I only really posted it here because it was *supposed* to be relevant to the original issue and not the fix for the related bug... but then I mentioned that whole world boss thing, which tangent-ed directly into the newer bug. :thinking:

(The rage line is here, I think: https://github.com/HabitRPG/habitica/blob/4dc718fbffc9e593309f48121a5d241ca87be240/website/client/src/components/groups/questSid

[2021-05-17 14:39] Helcostr commented on #9470
@citrusella fair enough, sneaking the change into #13258 fixing the related bug.

[2021-05-18 10:14] arsalanhub commented on #12525
Can I take over the issue?

[2021-05-19 11:32] shanaqui commented on #13255
I'm reopening this since I suspect the fix for this issue is at fault for the new one: now, no matter what language I've tested, no quest details are visible for me on production or on delta.

[2021-05-19 11:43] Helcostr commented on #13255
Double checking to see if my fixes affected it. It shouldn't have 🤔

[2021-05-19 12:01] SabreCat commented on #13255
@Helcostr It is causing it, yeah, `optIn is undefined` being the exact error. Working on it here!

[2021-05-19 12:04] Helcostr commented on #13255
Oh god damit XD

[code]

I am thinking of adding this, but I forgot how default values work XD.

[2021-05-19 12:06] SabreCat commented on #13255
ha, yup, figured that out simultaneously with you! Fix headed up.

[2021-05-19 12:07] Helcostr commented on #13255
(My suggested change was because you told me optIn was undefined, i hope it works w/ linting)

[2021-05-19 12:12] SabreCat commented on #13255
Eh, I made a silly mistake in the process as well, in that during my functional test I didn't have the correct kind of quest active... 🤦

[2021-05-19 12:20] Helcostr commented on #13255
Plz tell me that the fix is in place, I'm anxious D:

[2021-05-19 12:20] SabreCat commented on #13255
It'll be live within ~5 minutes

[2021-05-19 13:50] citrusella commented on #13255
If I might ask a question: Would there be any reason a person *wouldn't* have been having the error across all languages after the original fix got pushed to delta and before the more recent one did? Asking because I played around in what should have been affected languages for the original issue on delta as soon as I could ascertain that the original fix was up on there and I didn't have any issu

[2021-05-19 13:54] Helcostr commented on #13255
It's because when I fixed the rage boss, I intentionally didn't pass in an option object, thinking I had caught it.

Apparently I didn't XD

[2021-05-19 16:13] SabreCat commented on #13255
@citrusella The issue only affected bosses with Rage bars. That's the mistake I made when testing too!

[2021-05-20 01:32] Miciaha commented on #13276
Can I take this on?

[2021-05-20 13:16] shanaqui opened #13286 "Skills are not greyed out when you don't have enough mana"
Previously(?) as far as I and the user reporting it remember, tasks used to be greyed out when you didn't have enough mana to cast them. That is no longer the case: I have only 30 mana, but all these skills look usable:

![image](https://user-images.githubusercontent.com/8144640/118984854-d4f3ed00-b975-11eb-97f9-684e132c41ab.png)

This can be confusing for users, though the correct error message d

[2021-05-21 12:30] shanaqui opened #13287 "Backgrounds don't become unpinned if you buy a set containing them"
If you pin a unique item that can only be purchased once, so that it appears in your rewards column, purchasing it should unpin it from your rewards column.

In the case of backgrounds, there are two ways to purchase them: separately, or a set. If you pin a background and then purchase it on its own, then it's unpinned correctly. If you pin a background, and then purchase a set containing that bac

[2021-05-21 18:57] SabreCat commented on #13255
Still not 100% fixed! See [this paste](https://pastebin.com/Amnuyr7e) for the error some users are running into...

[2021-05-22 02:33] Alys commented on #13255
This is the `null` case I mentioned here a couple of weeks ago. If you set your `preferences.language` to `null` or if you delete the `preferences.language` attribute, then the quest box can't be seen.

@shanaqui found three players who couldn't see the quest box and all of them had no `preferences.language` attribute.

For cases like that, one possible fix would be to cause the code to behave as

[2021-05-22 07:06] Alys opened #13288 "pinned Backgrounds should be unpinned when buying set"
If you have one or more Backgrounds from a set pinned to your Rewards area, and you buy they entire set, the individual Backgrounds are not unpinned.

They should be unpinned automatically when the set is bought.

(This bug does not occur if you buy the Backgrounds individually - they are unpinned in that case.)

_Thanks to Nakonana for reporting this._

[2021-05-22 07:13] Alys opened #13289 "aborted Quest should appear in Quest Inventory without manual sync"
As reported by @citrusella and confirmed by me:

The desired behaviour is that as soon as you abort a quest, you should be able to see it in your Inventory or restart it from the Party page without needing to sync manually.

[2021-05-23 02:17] Alys commented on #13288
Closing this in favour of the one shanaqui opened earlier (sorry).
https://github.com/HabitRPG/habitica/issues/13287

[2021-05-23 02:17] #13288 closed, assigned to nobody

[2021-05-24 10:22] Helcostr commented on #13255
[code]
this should be a valid solution 🤔 not sure what's going on... it evaluates to an empty string...

oh i see, it's not because null is a bad value to pass (may still be). it's because I'm passing an array and was also using str obj's replace function (on an array).

[2021-05-24 21:17] akmaekki commented on #13286
Can I work on this?

[2021-05-24 21:43] j-dover commented on #13287
Hi @shanaqui , I am interested in working on this issue.

[2021-05-25 01:24] patriciatiffany commented on #13250
@SabreCat Just got set up, and looking around now! Is src/components/chat/chatMessages.vue the right place to go?

[2021-05-25 09:39] Alys opened #13296 "No margin at left or bottom of Member List modal for Guilds and Challenges"
As reported by @Nakonana:

"When checking the participants list of a challenge (or guild), there's no margin on the left side (and bottom) of the modal"

Screenshots are below.

_I'm marking this as needs design for a design-related decision to be made, if desired._

![image](https://user-images.githubusercontent.com/1495809/119475510-8fc62580-bd90-11eb-82cd-bd2708405c8e.png)

![image](https://use

[2021-05-25 09:54] Alys commented on #13286
@akmaekki Thank you! I've marked this as in progress for you. Post here if you have questions or run into trouble.

[2021-05-25 09:55] Alys commented on #13287
@j-dover Thanks! I've marked this as in progress for you. Post here if you have questions or run into trouble.

[2021-05-25 14:42] Tressley opened #13297 "Update quest state on sync"
Excised from https://github.com/HabitRPG/habitica/pull/12793#discussion_r620635667

Currently, quest states are only updated when the user does a full refresh. @SabreCat and @negue have discussed and determined we need to investigate how to update on sync when the `party` property is inside the fetch.

[2021-05-25 16:26] veeeeeee commented on #13224
Confirmed there should be an exception to hide the expiration timer when quest is in inventory.

[2021-05-25 19:45] SabreCat commented on #13250
@patriciatiffany This is for the server side, so `website/server/libs/highlightMentions.js` should be the spot. I think it's just a simple edit to the regex on line 7!

[2021-05-26 10:34] shanaqui opened #13299 ""Load more" button in list of challenge participants even when there's no more to load"
User report: "The challenge I checked yesterday (via Firefox on Win 10) was the Habitversary Challenge with then 22 participants and now 23 participants. The Load More button is still visible even though there's nothing to load and I'm now on a Win7 computer using Chrome 90.0.4430.212 . After a mini-investigation, it looks like an issue that affects public challenges only (?). For example, if I ch

[2021-05-26 11:54] Pyromonk commented on #13043
So this has been implemented, by the looks of it?
`code: 400; result: {"success":false,"error":"BadRequest","message":"You already accepted the quest invitation."}`

[2021-05-26 16:42] saraolson commented on #8500
staff had a chance to look at the various task sorting issues recently and we came to an agreement on some next steps to try to figure these problems out.

We know that drag and drop doesn't work well when filters are applied, so to start we'd like to attempt to clean that flow up. There seemed to be two options to pick from in this case. Either we do not allow any drag and drop sorting of tasks w

[2021-05-26 17:52] cvuorinen commented on #13043
Yes it has. PR was merged a month ago.

[2021-05-27 08:31] Pyromonk commented on #13043
Thank you, it appears I have been overlooking the error messages in my server's logs all this time, my bad.
Would you happen to know if the data sent by a quest webhook contains information on the quest leader (the person who initiated the quest) now as well?

[2021-05-27 09:26] cvuorinen commented on #13043
@Pyromonk Seems it's not merged yet, but you can track the Issue #12931 or PR #13277

[2021-05-28 19:46] lizapritchard commented on #13224
Can I tackle this one?

[2021-05-28 19:49] lizapritchard commented on #13256
Can I work on this one?

[2021-05-28 21:37] #13255 closed, assigned to nobody

[2021-05-28 21:44] #13254 closed, assigned to nobody

[2021-05-28 21:57] #13025 closed, assigned to nobody

[2021-05-29 12:02] Alys opened #13305 "Repair negative quest scrolls on purchase of quest bundles"
Over the years, various bug conditions have allowed people to own negative numbers of quest scrolls, which meant that when they bought a new scroll, their total would become less negative, but they still wouldn't own the quest unless they bought enough to get them above zero. We had it recorded at https://github.com/HabitRPG/habitica/issues/2592

Two fixes were done, both of which first checked to

[2021-05-30 21:39] akmaekki commented on #13286
@shanaqui
I checked this feature. It is located in the file drawer.vue (https://github.com/HabitRPG/habitica/blob/develop/website/client/src/components/ui/drawer.vue).

As far as I can tell, there was never a greying out of the skill tiles, contrary to the smartphone version. E.g. on my Android phone the tiles are greyed out in case of insufficient mana. Maybe you confused the behaviour of desktop

[2021-05-30 22:19] akmaekki commented on #13286
@shanaqui
I checked this feature. It is located in the file drawer.vue (https://github.com/HabitRPG/habitica/blob/develop/website/client/src/components/tasks/spells.vue).

As far as I can tell, there was never (?) a greying out of the skill tiles, contrary to the smartphone version. E.g. on my Android phone the tiles are greyed out in case of insufficient mana. Maybe you confused the behaviour of

[2021-05-30 22:45] Alys opened #13306 "Orb of Rebirth should unpin Antidotes (Sand, etc) for Transformation Item buffs (Seafoam, etc)"
_I'm marking this as "good first issue" and also "minor" priority, so experienced Blacksmiths should leave this issue for a new coder. :)_

If you have had an avatar [Transformation Buff](https://habitica.fandom.com/wiki/Transformation_Items) cast on you, and you then use the Orb of Rebirth, the transformation effect is removed at the same time as the other Buffs (that's the correct behaviour). Ho

[2021-05-30 23:12] Alys commented on #13256
@lizapritchard Thank you, please go ahead! Post here if you have questions. Out of the three issues you've asked to work on, this one is the most important.

[2021-05-30 23:15] Alys commented on #13289
@lizapritchard Thanks! I've marked this one as in progress for you. It's significantly less important than the "wrong challenges shown for guild when accessing through notifications" issue, in case that helps you decide how to allocate your time. Post here if you have any questions or run into any issues.

[2021-05-30 23:17] Alys commented on #13224
@lizapritchard I'll actually leave this one still marked as help wanted for now, while you work on the other couple of issues you have. Since this one is "good first issue" it would be great for someone completely new to Habitica's code. However if no one else has taken this one by the time you've finished the others, post here again if you're still interested in this one. :)

[2021-05-31 00:11] citrusella commented on #13286
Tiles are greyed out in the following two cases, at least (and I know for sure this happens on web): A) If casting again will have no effect (i.e. having cast Chilling Frost, or casting Stealth enough that it covers all remaining dailies), and B) if you have not reached the level at which you unlock the skill (i.e. if you are looking at a level 13 skill and you're level 11). Here is the code that

[2021-05-31 01:24] Walker80529 commented on #13306
Can I do this?

[2021-05-31 02:02] Walker80529 commented on #13224
can me do?

[2021-05-31 04:21] patriciatiffany commented on #13250
@SabreCat Thanks! The tweak I see would involve a lookbehind in the regex... but it seems like that's not supported by all (older?) browsers. Is there another edit you had in mind?

[2021-05-31 06:38] akmaekki commented on #9786
@shanaqui
If it's ok for you, I'll take a look into this again.

[2021-05-31 10:29] akmaekki commented on #13286
@citrusella
Thanks for your very helpful input. I didn't test the cases A and B mentioned by you, but just the case of not sufficient mana.

Anyway, I will take another look at the previous changes to `spell.vue`. I also tried to compare with Habitica's Android repository, but don't have any experience with mobile development. If can't find a suspicuous previous change, then I would just add this

[2021-06-01 05:04] Alys commented on #13306
@Walker80529 Sure! Thank you! Please go ahead and post here if you have any questions or run into problems.

[2021-06-01 05:08] Alys commented on #13250
@patriciatiffany If this code is only going to be run server-side, which I think is the case, then a lack of browser support won't matter.

I believe the code that evaluates @-mentions and sends notifications is part of Habitica's API / server code, and doesn't run directly in the website.

[2021-06-01 05:11] Alys commented on #13224
@Walker80529 Since you're new to Habitica's code, see how you go with the "Orb of Rebirth should unpin Antidotes" issue and once you have a Pull Request submitted for that, if this issue is still available and you're still interested in it, post again here.

[2021-06-01 16:13] J-Sanderson opened #13312 "UI elements taking on system dark mode colours"
Created on request from Alys.

### General Info
  * UUID: cbeeb477-d5db-4efd-8f0b-68201870482b
  * Browser: Firefox 57.0
  * OS: Linux Mint 18.3

### Description
Certain UI elements take on dark mode colours when dark mode is set in the system settings. It does seem to be based on system settings as changing Firefox to light mode makes no difference.

It is worst on inputs, as the content is near

[2021-06-02 10:18] Alys commented on #13312
@J-Sanderson Thanks!

As mentioned in the Report a Bug guild, it's only the input field that's affected. The other screenshots show the standard appearance. I've inserted the input field screenshot as an inline image and I've put strikethrough around the section that isn't affected by dark mode.

Can you please also add a screenshot showing the system setting for dark mode?

[2021-06-02 16:06] J-Sanderson commented on #13312
My apologies, it looked so close to my dark mode theme that I assumed they were affected.

Here are my system settings:

http://lilaclynx.net/img/darkmodesettings.png

It looks to be the Controls setting that causes the issue - if I switch to a lighter theme it goes away.

I also noticed that the item sell dialogue input has the correct white background, so I suspect there's a missing class or sim

[2021-06-02 20:10] SabreCat commented on #13250
@patriciatiffany Agreed with @Alys's assessment--the backend code doesn't care about specific browsers!

[2021-06-03 04:49] #12931 closed, assigned to nobody

[2021-06-03 04:49] PitiTheGrey commented on #12931
Merged

[2021-06-03 05:22] cvuorinen commented on #12221
@Tressley Hey. I guess that new issue for the notification styling never happened? I can still work on this if it's still something that needs done.

[2021-06-03 11:11] Alys opened #13313 "arrow keys for purchasing items are not clickable"
When trying to purchase items, the arrow buttons that let you change the amount to buy don't respond to clicks (i.e., the arrows shown in the screenshot below). Similarly for the arrow keys when selling items. Firefox on Ubuntu.

This was also reported by @Sara-lily (80fd8da4-45bf-4105-8ff0-3434cef1b311):

![image](https://user-images.githubusercontent.com/1495809/120635533-eda0ee80-c4af-11eb-9c2a

[2021-06-03 15:15] Walker80529 commented on #13306
All we need to to is add the above code.

[2021-06-03 15:23] Tressley commented on #12221
@cvuorinen -- Ah, sorry, this was pushed onto our roadmap and is being handled internally while we work on some small UX improvements as well. Thanks for checking in though!

[2021-06-03 17:40] AlanGCruz commented on #13107
@SabreCat just to ask again if i can work on this issue.

[2021-06-04 10:00] Alys commented on #9933
Also occurs for pinned Quest Bundles so I've added them to the title.

As a (probably) separate issue, the countdown is wrong. I've mentioned that to the staff separately since it may just need a date to be adjusted somewhere.

![image](https://user-images.githubusercontent.com/1495809/120784437-6f0b8600-c56f-11eb-9569-8c3a6a0f6b42.png)

[2021-06-04 10:31] Alys commented on #13107
@AlanGCruz Thank you for asking! Please go ahead, and post here if you have any questions.

[2021-06-04 10:39] Alys commented on #13312
@J-Sanderson Thanks!

I've labelled this as "needs design" for a design-related decision to be made about if/how to fix this. Just to highlight this: J-Sanderson has offered to work on a fix.

@J-Sanderson If you have any thoughts about how you'd go about fixing it, please post here, but please be aware that Habitica's staff may make their own decision about a fix so you may not want to spend too

[2021-06-04 16:34] J-Sanderson commented on #13312
I think it's just a case of missing classes. Comparing the buy input to the sell input (which as I noted has a white background), I noticed it has a class of form-input that specifies the background colour. This class is missing from the buy input so I'd just add it in and maybe check for any other inputs similarly affected while I was at it.

[2021-06-05 09:18] Alys opened #13316 "Class icon is in middle of avatar in Profile screens and Edit Avatar screen, and might be wrong in header"
When you look at a profile screen or the edit avatar screen, the class icon is around the middle of the avatar.

Marking this "needs design" for a decision on where it's meant to be.

![image](https://user-images.githubusercontent.com/1495809/120886485-975bb900-c631-11eb-8cd0-1136adaad755.png)

![image](https://user-images.githubusercontent.com/1495809/120886915-a5123e00-c633-11eb-91ab-057ce985494

[2021-06-05 09:25] Alys commented on #13316
Also on the Edit Avatar screen. I've updated the top post with a screenshot of that.

[2021-06-06 03:11] Helcostr commented on #11482
I just realize that I suck with HTML/CSS styling, and wish to pull out of this issue ☹️

[2021-06-06 05:04] Alys opened #13318 "Countdown is wrong for limited-time items that are no longer purchasable"
Related to https://github.com/HabitRPG/habitica/issues/9933 :

If an expired limited-time item is pinned or otherwise still visible, the countdown makes it look as if it's still available.

![screenshot](https://user-images.githubusercontent.com/1495809/120784437-6f0b8600-c56f-11eb-9569-8c3a6a0f6b42.png)

_suggestion-discussion for the staff to comment on how they want this fixed, since once https

[2021-06-06 05:07] Alys commented on #9933
The countdown issue mentioned in my previous comment has been logged here: https://github.com/HabitRPG/habitica/issues/13318

[2021-06-06 23:26] Alys commented on #13316
An addition from @PixelStormArt (100fadc6-0b54-4329-8dc3-d96b5e482399):

![image](https://user-images.githubusercontent.com/1495809/120943458-5c14d380-c772-11eb-9814-b6efe5ca4920.png)

[2021-06-07 09:12] Alys opened #13325 "streak achievement appearing twice"
As reported by @Ceran (aabe567b-aa55-42c1-b612-b7699a7ba9b7):

I've confirmed that there aren't two Dailies that would have given a streak achievement at the same time.

[2021-06-07 12:15] habitrpguser commented on #13316
I just wish to confirm that I am also seeing that bug.

[2021-06-08 08:56] Alys opened #13326 "Quest modals say "New Item" where they should say what the item is"
When a Quest modal shows you the rewards for a quest, any reward that is not Gold or Experience is listed as "New Item", meaning that you have no way to tell what the item is if you don't recognise the image (that's especially undesirable for Pet Quests since some of the Eggs have names that are noticeably different than the Quest / Boss name, and so you can't guess what they'll be called, and so,

[2021-06-08 13:31] Tressley commented on #13326
These items are just missing their associated tooltips. Should be able to carry it over from The Market.

[2021-06-08 16:27] Tressley commented on #13296
Going to tag @negue in for this one.

@negue -- We'll need to double back after toasts to clean up the member modal styling. It looks like it may have picked up some artifacts from the quest information updates.

[2021-06-08 16:33] Tressley commented on #13316
This looks to be an issue with a recent PR. I think the fix is just adding `px` to the `--badge-size: 32;` line.

[2021-06-08 17:23] habitrpguser commented on #1703
This bug still happens! I don't know if challenge tasks change order if a challenge is cloned once (I couldn't reproduce that), but they definitely do if a challenge is cloned and then that clone is cloned again. Please see examples:

https://habitica.com/challenges/79fabb8c-f99a-459f-bdb7-ed810f25661b

https://habitica.com/challenges/7f96108c-c086-4ae1-9fa4-7b2006bbb965

https://habitica.com/chal

[2021-06-08 21:24] negue commented on #13326
so `New Item` stays and add the other tooltips ?

[2021-06-08 21:31] Tressley commented on #13326
Yes. New item stays because we don't have a ton of space to display longer
names. They'll just re-use the tooltip from The Market.

On Tue, Jun 8, 2021 at 5:24 PM negue ***@***.***> wrote:

[2021-06-09 00:11] Alys commented on #13326
Is it possible to make space for the item titles to be displayed? The items are the most important information about the quest since they're the primary reason for choosing which quest to buy or do. It used to be one click and scroll down to see what items you'd get, now it's a click and scroll down and a mouse move for the hover (repeated when there's more than one item type), so it's less usable

[2021-06-09 00:35] Tressley commented on #13326
I’d prefer if we just focus on fixing the sprites for now. The quest reward
items are using the same layout as items seen in inventory and market.
These are familiar, not any less usable or accessible, and actually give
the user more information that wasn’t originally available in the previous
design (next quest info, item info).

Additionally, these simpler updates do a much better job of conveyi

[2021-06-09 07:34] FarisPalayi commented on #13316
Hey, can I work on this?

[2021-06-09 08:39] Alys commented on #13316
@FarisPalayi Yes, thank you! Post here if you have questions.

[2021-06-09 08:53] Alys opened #13328 "cloned challenges should keep tasks in the same order as the original"
As noted at https://github.com/HabitRPG/habitica/issues/1703#issuecomment-856953339 (comment copied below) when you clone a challenge, the tasks sometimes do not keep the same order they were in in the original challenge.

 I reproduced this using https://habitica.com/challenges/79fabb8c-f99a-459f-bdb7-ed810f25661b - the first clone had the tasks in the correct order, but the clone of that clone h

[2021-06-09 08:54] Alys commented on #1703
@habitrpguser Thanks! I've logged it as a new issue here: https://github.com/HabitRPG/habitica/issues/13328

[2021-06-09 09:08] FarisPalayi commented on #13316
Okay👍

[2021-06-09 09:22] Alys commented on #11482
@Helcostr No worries, thanks for letting us know! :)

[2021-06-09 10:20] FarisPalayi commented on #13316
So, this is the desired class icon's position, right?
<img width="148" alt="Screenshot 2021-06-09 154603" src="https://user-images.githubusercontent.com/78663072/121337587-54a02680-c93a-11eb-8fb6-3f468d9af1d4.png">

[2021-06-09 10:23] FarisPalayi commented on #13316
And this is how the header icon should be, right?
<img width="361" alt="Screenshot 2021-06-09 155244" src="https://user-images.githubusercontent.com/78663072/121338076-cbd5ba80-c93a-11eb-93f8-e8c1c7d807b4.png">

[2021-06-09 11:03] Tressley commented on #13316
Both of those are correct. 👍🏻

On Wed, Jun 9, 2021 at 06:24 Faris P ***@***.***> wrote:

[2021-06-09 13:40] SabreCat commented on #13318
I think this is fixed in a89c7d2. @Alys let me know if it's still acting up!

[2021-06-09 13:40] #13318 closed, assigned to SabreCat

[2021-06-09 23:08] Priyanka72 commented on #13224
I'm new to Habitica's code and would love to try and tackle this issue

[2021-06-10 08:31] FarisPalayi commented on #13316
Hey guys, I solved the issue, but I can't start the web server.
when I type `npm run client:dev `, I'm getting this error:
[code]
Do I need to have vue cli installed in order to do that?

[2021-06-10 08:42] FarisPalayi commented on #13316
installed Vue CLI, but still getting the error.
Full error 👇
[code]

I did everything correctly like the 'setting up habitica locally' article.
Don't know why this is happening.

[2021-06-10 09:25] FarisPalayi commented on #13316
Solved the problem. There were some npm packages missing. Typed `npm install` again. Server is running now.😀

[2021-06-10 13:50] Tressley opened #13329 "Difficulty dropdown spacing and alignment issues"
The Create and Edit Task modal difficulty dropdown has styling issues. Menu items are no longer vertically centered and the star icons aren't far enough to the right.

![image](https://user-images.githubusercontent.com/2686586/121536470-143fb780-c9d1-11eb-940d-b01d9ca96566.png)

[2021-06-10 14:24] Godwindaniel10 commented on #13329
Hi @Tressley ,
i do like to solve this issue

[2021-06-10 14:26] Tressley commented on #13329
@Godwindaniel10 -- Great! It's all yours. 👍🏻

[2021-06-10 19:46] delightedCrow commented on #12383
Having this issue lately too from our demo at [HabiticaMagicJS](https://delightedcrow.github.io/HabiticaMagic/docs/demo/demo.html) with the error message:

[2021-06-12 13:10] ghost opened #13331 "GPL V3 use"
Hey everyone, don't know if this is the proper channel for communication, but I have some doubts about the GPL V3 license regarding habitica and browserquest. I am building a study web application where you take notes, make flashcards from those notes, and review them. I would like to implement a gamification system to make things more fun and found BrowserQuest wich then led me to Habitica which

[2021-06-13 06:34] Alys commented on #13224
@Priyanka72 Thanks! Please go ahead and post here if you have questions.

[2021-06-16 15:59] Godwindaniel10 commented on #13329
hi,

I have been getting this error in my terminal while running the ( npm run mongo:dev ) command, and I have been trying to fix it for weeks by trying different possible ways i can, but still not getting through.

![err](https://user-images.githubusercontent.com/54848535/122253484-1d92bd80-cec4-11eb-9332-a19e4124d33d.JPG)

[2021-06-16 17:43] FarisPalayi commented on #13316
Hi guys,
It's been almost a week since my PR, do I have to notify the maintainers to get a review?

[2021-06-16 18:18] Tressley commented on #13316
Thanks for getting this together quickly!

Habitica is a small team, and we all wear many hats, so we’ll get code
review on this as soon as we can.

On Wed, Jun 16, 2021 at 13:43 Faris P ***@***.***> wrote:

[2021-06-16 18:43] FarisPalayi commented on #13316
@Tressley Thanks for the quick reply 😊.
This is one of my first contributions, so I was just confused if there is anything that I'd missed or something that I should be doing that I didn't do, that's all.

[2021-06-17 10:46] Harinivas2003 commented on #13329
Hi @Tressley , I think I can solve this issue.

[2021-06-17 17:22] dabrowskif commented on #13296
Hi, i'd like to take this as soon as you redesign this, or i can just make margins and modify it so it looks better with the current design.

[2021-06-17 17:28] Tressley commented on #13296
@dabrowskif -- This is going to be handled internally by our staff. Thank you for your interest in fixing it though!

[2021-06-18 10:03] shanaqui opened #13343 "The check-ins modal has an extra string which seems superfluous"
User report:

I confirmed this in the default language setting.

[2021-06-18 10:05] shanaqui commented on #13343
citrusella added additional thoughts:

[2021-06-19 07:43] Alys opened #13344 "Task edit dropdown menus for Tags and Difficulty don't close themselves, causing overlap"
_Below is a report from @fufuj (86f37f0c-ebaf-4ee8-bf9f-00a5aa485501). I've marked this as in progress for them to work on a fix._

On Firefox and Internet Explorer (prolly on other browsers aswell), when you:
    + Click to edit a habit
    + Click on a Tags to expand dropdown list of available Tags,
    + Then, without closing Tags dropdown list, click on Difficulty to expand dropdown list of av

[2021-06-19 08:44] dabrowskif commented on #13344
Hi, as i wrote in Habitica, i will try to take care of it if possible. :)

[2021-06-20 22:07] fassina2 opened #13345 "Site won't load in any browser. (My PC language is english)."
This is what is displayed when I log into habitica, tried on chrome, edge, vivaldi, firefox etc..

It works on my phone. PC language is in english. Any clues on how to fix it ?
![Habitica bug](https://user-images.githubusercontent.com/36776815/122689633-906ca300-d1fa-11eb-9978-8cf244b8a2d2.png)

[2021-06-20 22:34] Nakonana commented on #13345
May be related: #13160

[2021-06-21 01:27] Inseut commented on #13160
It's been like this since yesterday for here and my partner, we're in Brazil. I posted about this on Twitter and another Brazilian person related the same issue.
I tried opening Habitica in Tor, where it simulated a German connection, and it worked. Maybe it's region-specific?

[2021-06-21 01:28] Inseut commented on #13345
It's been like this since yesterday for here and my partner, we're in Brazil. I posted about this on Twitter and another Brazilian person reported the same issue.
I tried opening Habitica in Tor, where it simulated a German connection, and it worked. Maybe it's region-specific?

[2021-06-21 09:49] fassina2 commented on #13345
Could be region related yes, I'm also in Brazil.

[2021-06-21 14:45] NameLessGO commented on #13345
Yo same, i thought it was because of ProtonVPN, nice to see that ppl are having the same problem

[2021-06-21 14:50] NameLessGO commented on #13160
The link https://habitica.com/groups/guild/a29da26b-37de-4a71-b0c6-48e72a900dac  opened the habitica page, but as said above, the problem might be about the Brazil connection to the server

[2021-06-21 16:03] citrusella commented on #13160
IIRC it's not a country specific problem--I think a number of other people who have had the issue in past instances of it occurring have not been in Brazil.

They have some idea of what fixes it, too, I believe, even if they're not sure about the cause, and I'm fairly beginner but the fix (a deploy that caused cached frontend files to be rebuilt) wouldn't have been something that fixed things diff

[2021-06-21 16:22] citrusella commented on #13329
I'm not Tressley (or even an admin here on Github or anything) but I think Godwindaniel10 still has it claimed (and hasn't un-claimed it at present?).

[2021-06-21 16:57] Tressley commented on #13329
@Harinivas2003 -- Godwindaniel10 is currently working on this issue. Should it become available again in the future, you're more than welcome to take it on.

@Godwindaniel10 -- Tagging in our developers @SabreCat @negue to see if they can help you with the issue you're encountering.

[2021-06-21 17:49] Godwindaniel10 commented on #13329
@Tressley alright, thanks, will be looking forward to the solution. meself is still trying out more solutions

[2021-06-21 18:50] negue commented on #13329
I'm not that experienced with the `run-rs` way. When #12335 was added - this linked issue in `run-rs` also mentions `ECONNRESET` https://github.com/vkarpov15/run-rs/issues/45

In that issue it is mentioned to not use `--keep` on the first execution, could you try to run this in your terminal:

`run-rs -v 4.2.8 -l ubuntu1804 --dbpath mongodb-data --number 1 --quiet`

It is the same command as `mong

[2021-06-22 08:11] ingomohr opened #13357 "Notifications Clutter the Information Displayed on the Page"
### General Info
  * Browser: Google Chrome 91.0
  * OS: Windows 10

### Description
When I resolve all my dailies (which I do for my daily onboarding), and I switch to the "Party" tab to check my progress on the current boss (in order to post my damage for our daily coordination), all the notifications clutter the page.

Workaround: I have to reload the webpage to get rid of the nofitications (or

[2021-06-22 08:12] ingomohr commented on #13357
This is what it looks like.
![image](https://user-images.githubusercontent.com/2838592/122888589-4a225b80-d342-11eb-9fec-2c2522a82fa4.png)

[2021-06-22 10:52] dabrowskif commented on #13306
I've already finished fixing my previous bug (having problems with git push origin, posted on aspiring blacksmith guild, waiting for help and response) and can take on this one if it's not finished yet.

[2021-06-22 11:56] dabrowskif commented on #13344
I've finished fixing this bug, but can't "git push origin name-of-branch" this. Wrote on habitica's aspiring blacksmith guild.

[2021-06-22 13:17] Walker80529 commented on #13306
That’s fine. I don’t really understand how to fix this.

-George Busby

From: ***@***.***>
Sent: Tuesday, June 22, 2021 4:52 AM
To: ***@***.***>
Cc: ***@***.***>; ***@***.***>
Subject: Re: [HabitRPG/habitica] Orb of Rebirth should unpin Antidotes (Sand, etc) for Transformation Item buffs (Seafoam, etc) (#13306)

I've already finished fixing my previous bug (having problems with git push origin, po

[2021-06-23 09:18] fish-dango commented on #13252
Hello! I would like to try this issue out if that is okay?

[2021-06-24 06:39] patriciatiffany commented on #13250
Hi! I think someone must have already fixed this before I came along. The regex `const mentionRegex = /\B@[-\w]+/g;` already looks for a word boundary, and it seems to work when I test it locally.

If it's the same user that's mentioned twice in a row, though, both will still be highlighted. That seems like okay behaviour?

[2021-06-24 11:22] Alys commented on #13252
@fish-dango Sure, thank you! Post here if you have any questions or run into problems!

[2021-06-24 12:38] shanaqui opened #13358 "Warning for overbuying Magic Potions popping up unnecessarily - possibly related to Glass + StainedGlass hatching potions"
_EDIT 2021-07-07 by Alys: see https://github.com/HabitRPG/habitica/issues/13358#issuecomment-875369365 for a guess at where the bug may be_

A user reported that they're seeing the warning about not being able to use all the Magic Potions they are trying to buy, but it's not correct.

They had previously bought and used 9, and had fed those pets to become mounts. They needed 9 more potions to reha

[2021-06-24 12:41] shanaqui commented on #13357
Hi! This is not a bug: this is the way it is currently supposed to work. You can click on those notifications in order to dismiss them, or just wait for them to time out.

It's usually a good idea to report bugs to the Report a Bug guild first, so that we can put things on Github if we're sure there's a bug, or direct you to the feedback form in the case of requests. Here's the link to that form:

[2021-06-24 12:41] #13357 closed, assigned to nobody

[2021-06-24 12:42] shanaqui commented on #13345
This should be all fixed now (and has been for several days); it happens sometimes after deploys. Is anyone still seeing a problem?

[2021-06-25 12:14] shanaqui commented on #13358
A user who had no potions at all got the warning on Glass Potions when trying to buy 18.

[2021-06-28 12:01] Alys commented on #13358
@aethelflaeda (042b3a26-fa61-47f4-b0c4-c43a22f08688) reported:

[2021-06-29 07:13] ashaindlin commented on #13013
Can I claim this issue and implement this?

[2021-06-29 15:14] saraolson opened #13372 "Set streak to 0 if it has no integer value"
If someone edits their streak on web and saved the task with an empty field, that task will disappear on mobile. If they go back and type a 0 into the field, then the task appears normally again. We'd like to change the API so all platforms will always save the field as 0 if its empty to make sure this is fixed across all platforms for good.

original issue was posted to mobile, but we decided to

[2021-06-30 12:10] Alys commented on #13013
@ashaindlin Thank you! I've marked this as in progress for you. Post here if you have any questions.

[2021-06-30 12:17] Alys commented on #13372
The fix should apply to these routes:
+ [Create a new task belonging to the user](https://habitica.com/apidoc/#api-Task-CreateUserTasks)
+ [Create a new task belonging to a challenge](https://habitica.com/apidoc/#api-Task-CreateChallengeTasks)
+ [Update a task](https://habitica.com/apidoc/#api-Task-UpdateTask)

I suggest not applying it to [Create a new task belonging to a group](https://habitica.

[2021-07-01 16:45] Tressley commented on #13312
@J-Sanderson -- Nice sleuthing! That seems like a good start. Are you still interested in working on this issue?

[2021-07-02 13:47] habitrpguser opened #13373 "Backgrounds modal: When "Hide locked backgrounds" is on, year tabs are still there despite all backgrounds being on one page."
### Description
When selecting "Hide locked backgrounds" on the Backgrounds modal, all unlocked backgrounds are shown on one page - and this is definitely a feature, please leave that as it is! But the year tabs (2021 - 2014) are still there and can be selected as if the backgrounds were grouped by year. This is misleading and makes no sense. (The tab selection does not change anything, all tabs s

[2021-07-02 14:16] habitrpguser opened #13374 "Facial Hair modal: Locked facial hair set is shown as if it includes only the beards, not the mustaches."
### Description
According to the wiki (and my memories), if one buys the facial hair set, one gets all the facial hair (including mustaches). But on the modal, when locked, only the beards (not the mustaches) have a darker grey background. So it looks as if the set would only include them and as if one would not also get the mustaches when buying the set.

I think the locked set should optically i

[2021-07-02 14:47] habitrpguser commented on #13374
I think these are the code parts where one can see that buying the facial hair set buys beards as well as mustaches:

https://github.com/HabitRPG/habitica/blob/51e8aa341dc2d46aa102b3d9014b22584aa8a756/test/common/ops/unlock.js#L14

https://github.com/HabitRPG/habitica/blob/51e8aa341dc2d46aa102b3d9014b22584aa8a756/test/common/ops/unlock.js#L227-L243

[2021-07-02 22:15] joeyzero commented on #13372
I would like to tackle this.

[2021-07-05 04:13] Alys commented on #11911
This issue still exists and is still causing confusion. @jo_march (f3f17ccf-e6ea-43fd-b1e7-cf39962ff972) reported in the Report a Bug guild:

**"I'm a subscriber so should be able to view 90 days of completed to-dos,  yet it looks as if I can only view the past month of to-dos. Can you check on this please? Thanks."**

[2021-07-06 06:59] J-Sanderson commented on #13312
Yes, I'm happy to pick it up.

[2021-07-07 07:43] Alys commented on #13358
I haven't spend any time testing this but I'm guessing that this bug occurs specifically for `Glass` hatching potions if the player already has some `StainedGlass` Pets / Mounts (and _possibly_ also if they have some unused StainedGlass hatching potions).

If my guess is correct, it may be from the line of code below, which might trigger on  pet keys containing `StainedGlass` when it should be jus

[2021-07-08 20:50] ieahleen commented on #13358
the easiest could be to use this for potions for potions
[code]
and this for eggs
[code]

or a regex that consider both like (it's to test if it works, it's just an idea for now)
[code]

[2021-07-09 00:49] joeyzero commented on #13372
Friendly reminder: I'd still love to work on this one.

[2021-07-09 05:43] Alys commented on #13372
@joeyzero Thank you! I've marked this as in progress for you.

[2021-07-09 07:16] Alys commented on #13358
I've labelled this as important priority because it's stopping players from buying the potions because they don't realise that they can just click through the warning.

[2021-07-09 09:03] ieahleen commented on #13358
I can try to see if the regex works and in that case submit a PR with that

[2021-07-09 10:23] ieahleen commented on #13358
I went through with the testing, it seems it works with a Regex like I was thinking, it is set up already in case there will be eggs with similar names like it happened with `Glass` and `StainedGlass` but maybe it's overkill
https://github.com/ieahleen/habitica/tree/fix-overpurchase-warning-stainedglass-potions

I just need authorization to open a PR

[2021-07-09 21:07] Alys commented on #13358
@ieahleen Thank you! Please go ahead. :)

[2021-07-13 17:27] Rovetown commented on #13276
This also applies to links (like the link to a guild), it also opens up a new tab

[2021-07-14 01:02] Alys commented on #13276
@Rovetown That's intentional for some links, and may be a bug for others but could be caused by a different bug than for this issue. Can you please post to the Report a Bug guild to describe which link(s) have that problem and in which part of Habitica you see those links? You can reach that guild through the Help menu on the website (or from the Guilds area, but the Help menu is fastest).

[2021-07-14 01:03] Alys commented on #13276
@Miciaha I'm so sorry, we never replied to your request to work on this! :( Are you still interested?

[2021-07-14 11:41] Alys opened #13394 "can't use Avatar Transformation Buffs (e.g., Seafoam) on all party members for parties over 30"
If your party has more than 30 members (e.g., due to a bug or because it was created before the party member limit), then you can use avatar transformation buffs such as Seafoam on only 30 of the members. There's two aspects to the bug:
- When you go to Inventory > Items and click on the avatar transformation item, you see the "Select a Party Member" modal and it contains only 30 members. There is

[2021-07-14 11:43] Alys commented on #13394
This bug also happens in the Android app (we have an emailed report from User ID: 1f472d64-139c-4d34-832e-6b92e448c609).

[2021-07-17 13:19] himanshu-0611 commented on #13306
I don't intend to take this issue, I am a newbie, can anyone please explain to me in simple words what this issue is?

[2021-07-17 13:25] himanshu-0611 commented on #13250
Hey, I am a newbie here, can anyone tell me how this issue is solved?

[2021-07-17 16:15] shanewidanagama opened #13395 "Incorrect npm version installed during local setup of habitica on linux"
[//]: # (Before logging this issue, please post to the Report a Bug guild from the Habitica website's Help menu. Most bugs can be handled quickly there. If a GitHub issue is needed, you will be advised of that by a moderator or staff member -- a player with a dark blue or purple name. It is recommended that you don't create a new issue unless advised to.)

[//]: # (Bugs in the mobile apps can also

[2021-07-18 09:19] Alys commented on #12760
A similar report from @ieahleen (c073342f-4a65-4a13-9ffd-9e7fa5410d6b) with a video showing the behaviour -- it's odd! When the Profile / Stats screen is closed, the tab title does change back to what it should be briefly, but then it switches back to the title of the Profile / Stats screen for no good reason.

[2021-07-18 10:40] Alys commented on #13395
Based on the details that I've copied from your gist to below, it looks like you have a couple of node versions installed, and that npm 6 was installed, so I'd guess that the only problem is that one of the node versions is causing npm 7 to take precedence. You might want to use nvm to manage multiple node/npm versions.

Note that for Habitica, it's best to use only the node and npm versions liste

[2021-07-19 20:59] wolverdude commented on #12664
This bug has bitten me several times by now. I'd like to go ahead and smash it. Please assign it to me.

[2021-07-19 21:30] dabrowskif commented on #13305
Hey, i want to try to fix it if possible.

[2021-07-20 16:13] wolverdude commented on #12664
This bug took 7 quest items from me just this morning... but I've taken it's very existence! PR #13401 is tested and ready to merge.

[2021-07-22 06:21] Alys commented on #13305
@dabrowskif Thank you! Please go ahead. :)

[2021-07-23 14:02] J-Sanderson commented on #13312
Chasing up, are you waiting on me to work on this or am I waiting on you to give me the okay?

[2021-07-24 11:10] Alys commented on #13312
@J-Sanderson I'm not staff and I'm not involved in the visual design aspects of the site, so I can't be sure about this, but I think it's likely that it's okay for you to go ahead. However if you want to be certain that your time isn't wasted, you may want to wait for @Tressley to comment.

[2021-07-26 13:13] shanaqui commented on #12442
Hi @Aerek! Just checking in whether you're still working on this one, or whether we should mark it as help wanted again. If we don't hear back within a week, we'll go ahead and put it back to help wanted, just so the issue doesn't go too stale! Thanks. :)

[2021-07-26 13:20] shanaqui commented on #8735
Hi @Zarrindast -- what do you think? Should I mark this as help wanted again, or would you like to give it another go now? If we don't hear back within a week, we'll mark it as help wanted again anyway, so don't worry if you're busy!

[2021-07-26 13:23] shanaqui commented on #12419
Hi @Helcostr! How're things going with this? If you're not working on it anymore, I'll mark this as help wanted again so someone else can pick it up. :) If we don't hear back from you within a week, I'll do that anyway, just so the issue doesn't go stale.

[2021-07-26 13:26] shanaqui commented on #11541
Hi @Helcostr! Just checking in about this one as well. :)

[2021-07-26 13:27] shanaqui commented on #12941
@JohnFitzpatrick44 Hi there! Are you still working on this one? If not, or if you don't reply within a week, we're going to mark this as "help wanted" again to make sure people know it's available to work on. Thanks!

[2021-07-26 13:28] shanaqui commented on #13252
@fish-dango Hi there! Are you still working on this one? If not, or if you don't reply within a week, we're going to mark this as "help wanted" again to make sure people know it's available to work on. Thanks!

[2021-07-26 13:30] shanaqui commented on #13329
@Godwindaniel10 Hi there! Are you still working on this one? If not, or if you don't reply within a week, we're going to mark this as "help wanted" again to make sure people know it's available to work on. Thanks!

[2021-07-26 13:32] shanaqui commented on #13224
@Priyanka72 Hi there! Are you still working on this one? If not, or if you don't reply within a week, we're going to mark this as "help wanted" again to make sure people know it's available to work on. Thanks!

[2021-07-26 13:33] Tressley commented on #13312
Ah, I can see how that wasn't clear. Yes, please go ahead. 😄

[2021-07-26 13:37] shanaqui commented on #13286
I think this might be a question for the designers, then -- @Tressley, tagging you in to check on what we think the desired behaviour is here. Personally, I find it odd that we have some situations where we grey out skills if they can't be used, but we aren't consistent about it.

[2021-07-26 13:38] shanaqui commented on #13289
@lizapritchard Hi there! Are you still working on this one? If not, or if you don't reply within a week, we're going to mark this as "help wanted" again to make sure people know it's available to work on. Thanks!

[2021-07-26 13:39] shanaqui commented on #13287
@j-dover Hi! Are you still interested in working on this issue? If not, or if we don't hear back in a week, I'll mark it as "help wanted" again so folks can see it's available. Thanks!

[2021-07-26 14:08] Tressley commented on #13286
Yes, the skill should be disabled (grayed out) if the user cannot cast it.

[2021-07-26 15:03] Walker80529 commented on #13224
Oh, sorry. Yeah, I stopped. I’m moving to Utah right now, so maybe choose someone else.

-George Busby

From: ***@***.***>
Sent: Monday, July 26, 2021 7:32 AM
To: ***@***.***>
Cc: ***@***.***>; ***@***.***>
Subject: Re: [HabitRPG/habitica] Time-limited quests show the timer in the inventory as well (#13224)

@Priyanka72<https://na01.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com%2F

[2021-07-26 22:17] Godwindaniel10 commented on #13329
Hi @shanaqui , I am so so sorry for the delay in working on this issue. I should have responded. and I am currently overwhelmed at the moment and I don't want the issue to wait again, so it will be best if someone else works on this issue.

[2021-07-27 03:02] j-dover commented on #13287
@shanaqui Hi! I'm still working on the issue, and I found its cause. The unlock() function from website/common/script/ops/unlock.js does not use removeItemByPath() to unpin items when there is a full set.

I implemented a foreach loop to unpin each pinned purchased item from the full set. I was able to get pinned backgrounds to unpin from the Backgrounds menu and the Rewards column when purchased

[2021-07-27 12:02] Helcostr commented on #12419
You can mark as help wanted @shanaqui

[2021-07-27 12:04] Helcostr commented on #13250
@patriciatiffany did you test removing the word boundary and seeing if both instances of the user will be highlighted?

[2021-07-27 12:04] Helcostr commented on #11541
You can mark as help wanted @shanaqui

[2021-07-28 09:27] shanaqui commented on #11541
@Helcostr Thanks for letting us know!

[2021-07-28 09:27] shanaqui commented on #12419
@Helcostr Thanks, I've done that now!

[2021-07-28 09:28] shanaqui commented on #13224
@Walker80529 That's alright, @Priyanka72 is the person assigned to work on this at the moment. :)

[2021-07-28 09:29] shanaqui commented on #13287
@j-dover Sorry, I have no technical knowledge! The best thing to do would be to create a PR for review, so the folks who do work on and review the code can take a look.

[2021-07-28 09:30] shanaqui commented on #13329
@Godwindaniel10 No problem, I'll mark the issue as "help wanted" again!

[2021-07-28 10:31] dabrowskif commented on #13394
Hi, i can try to fix this.

[2021-07-29 02:34] #13358 closed, assigned to nobody

[2021-07-29 09:21] lilithi commented on #8462
Go ahead and change it to help wanted. Unfortunately I've not had the time to mess with it

[2021-08-01 07:06] Alys commented on #13394
@dabrowskif Thanks for volunteering for this! I've marked it as in progress for you. Regarding your questions, firstly I've copied them below so that they get emailed out to everyone who is following this issue (edits to comments don't send emails). I've added my answers under each one.

Use the Load More button for this. Groups (guilds and parties) never load all members instantly because for lar

[2021-08-01 09:52] vanathi-g commented on #12972
I'd like to work on this issue. I think I've figured out how to fix it!

[2021-08-03 13:25] Alys commented on #12972
@vanathi-g Thank you! Please go ahead!

[2021-08-08 04:30] skywinder opened #13430 "Bug: Search guild should clear when you’re rap on guild"
iOS;

Im searching guild. Then start to browsing guild,challenges etc and search bar didn't disappear. But its already irrelevant to screen ![image](https://user-images.githubusercontent.com/3356474/128620809-5a3ad737-fb77-4984-9612-1283a8d1a02e.jpeg)

![image](https://user-images.githubusercontent.com/3356474/128620814-a4cc1a37-de6a-4fd3-a12e-a48a298b243d.png)

[2021-08-10 02:52] Alys commented on #13430
Can you please report this to the mobile team through the app's menu at About > Report a Bug?  That will send debugging information to them.

[2021-08-10 02:52] #13430 closed, assigned to nobody

[2021-08-10 09:24] shanaqui commented on #10786
Hi @benkelaar! Just checking in about this one since that PR has been closed rather than merged; are you still hoping to work on this, or shall I open it up for other contributors to try?

[2021-08-11 15:13] olignyf commented on #13012
I started having the sample request forms appearing in my apidoc output, now there is a "Send a Sample Request" at the bottom of each endpoint and `@apiSampleRequest off` doesn't seem to work. Also there seems to be no way to print apidoc version: `apidoc -v` would be nice or the `apidoc --help` to be printing the version number?
Currently I need to use this to check the globally installed apidoc

[2021-08-12 21:28] #13287 closed, assigned to nobody

[2021-08-14 08:35] melvio commented on #13372
Will this preserve negative integers? I like using negative integers such as `-1` to make my streaks a bit harder.

[2021-08-15 05:30] Alys commented on #13012
@olignyf Just to check, did you mean to post this to the Habitica repository (this repo), or to the apidocs repo? I'll respond to your post as if you mean to post it here to Habitica's repo, but bear in mind that the apidocs code comes from a library maintained by someone else. :)

That would be something to submit to the maintainers of the apidoc library.

If you meant to post here, I'm guessing

[2021-08-15 08:06] melvio opened #13450 "Missing checklist information in API-docs"
### background
This issue is in response to the suggestion of @Alys in the Comrade guild chat.

### Description
*Summary:* Checklist information is missing in the habitica [API-docs](https://habitica.com/apidoc/)

#### 1. CreateUserTasks endpoint
The API-docs for <https://habitica.com/apidoc/#api-Task-CreateUserTasks> are missing the `checklist` body parameter.
The wiki does give a good example he

[2021-08-15 15:55] funandgame commented on #13012
Sorry wrong repo. Will repost at correct place.

[2021-08-16 13:54] saraolson commented on #13372
@melvio im not 100% sure, but i think negative numbers may still work as they are an integer? on mobile, you've never been able to enter a negative number, but it can display one in task settings if you set a negative on web. i tested setting a habit to -5 on web then tapping the + on mobile, and it correctly updated to -4.

@Alys do you know for sure if this solution would block negative values o

[2021-08-17 14:04] Alys commented on #13372
I haven't seen @joeyzero 's solution so I can't answer that yet. Once a PR is submitted, we'll be able to tell.

[2021-08-19 01:30] AR-Student824 commented on #3705
You can also modify `title="something"` to change the hover text

[2021-08-19 18:49] melvio commented on #13372
@saraolson That's exactly how I've been using it on the web :smile: .

[2021-08-20 05:15] melvio commented on #13372
Thanks @Alys :+1: . How is it going so far @joeyzero ?

[2021-08-20 05:24] melvio commented on #13450
@Alys I can contribute to this up myself :wink:. I'm not a frontender, and I haven't used Vue.js before, so it will require time and effort on my part. However, every blacksmith gotta start somewhere right :sweat_smile:. @Alys do you want me to pick this up?

[2021-08-20 09:18] wondrousweeb opened #13457 "I cannot see any text no matter what I do."
[//]: # (Before logging this issue, please post to the Report a Bug guild from the Habitica website's Help menu. Most bugs can be handled quickly there. If a GitHub issue is needed, you will be advised of that by a moderator or staff member -- a player with a dark blue or purple name. It is recommended that you don't create a new issue unless advised to.)

[//]: # (Bugs in the mobile apps can also

[2021-08-20 12:40] sahilcode17 commented on #13329
hi @Tressley i would like to contribute to this issue @shanaqui  would love if you could help on how can I get started on this

[2021-08-20 15:03] ieahleen commented on #13457
have you tried in a different browser? in incognito mode?

[2021-08-20 20:14] creaturebytes opened #13458 "Tags Wont Delete In App"
sjaarestad13@gmail.com

Device: samsung SM-J337P
Android Version: 28
AppVersion: Version 3.3.2 (3041)
User ID: dbf5390d-6a57-42ad-ae14-af8fd8e570ca
Level: 44
Class: wizard
Is in Inn: true
Uses Costume: true
Custom Day Start: 4
Timezone Offset: 420

Tags will not delete in app, despite reloading content and uninstallling/reinstalling app.

[2021-08-21 11:24] Alys commented on #13450
@melvio Thank you, yes, please go ahead!

[2021-08-23 02:09] evelynhathaway commented on #9128
I am so thankful for @mitten's comment! If anyone is digging through old Habitica tickets to see if there's an option to just use system emojis and don't want to use two emojis next to each other, just add a zero-width emoji symbol like [`U+E0020`](https://emojipedia.org/tag-space/) next to each one. Though, this would only make sense for dailies and habits since you have to paste it in.

[2021-08-24 02:06] jeremyrader commented on #13325
I'd like to take this one if that's alright

[2021-08-24 05:38] melvio commented on #13450
Awesome @Alys. I've arranged that I can work on this ticket this weekend. Should I assign it to myself, or do you do that? (I'm not sure what the normal procedure is).

[2021-08-25 01:33] nockyQ commented on #13313
It seems like a bug of old version firefox.When I tried to reproduce it with the latest version firefox, arrow keys still can work.
After while,I changed firefox to 88.0.1 version,  and then the bug was reproduced.

[2021-08-25 04:16] Alys commented on #13450
@melvio See [Using Your Local Install to Modify Habitica's Website and API](http://habitica.fandom.com/wiki/Using_Your_Local_Install_to_Modify_Habitica%27s_Website_and_API) for the full process (it has a fair bit of useful information) but in brief once an admin has said you can work on an issue and has set its label to "status: issue: in progress", then you can start. Admins have GitHub's "member

[2021-08-25 04:16] Alys commented on #13325
@jeremyrader Sure, thank you! I've marked it as in progress for you.

[2021-08-25 04:17] Alys commented on #13458
Can you please report that to the mobile team through the app's menu at About > Report a Bug?  That will send debugging information to them.

[2021-08-25 04:17] #13458 closed, assigned to nobody

[2021-08-26 13:37] zemmyang opened #13464 "Adding Habitica API to AutoWeb/Tasker / Authorization type?"
I'm trying to follow [this tutorial](https://joaoapps.com/autoweb/adding-web-services/) for adding a web service API to Tasker using AutoWeb, but I can't seem to make a request, I get "unauthorized" error back at me. I used the username/password authentication, but I'm not sure if that's the correct one to use in Habitica's case. If not, which is it?

[2021-08-26 21:22] #13305 closed, assigned to nobody

[2021-08-26 21:33] #12664 closed, assigned to nobody

[2021-08-26 23:05] #13306 closed, assigned to nobody

[2021-08-26 23:09] #13344 closed, assigned to nobody

[2021-08-26 23:12] #12383 closed, assigned to nobody

[2021-08-26 23:33] #13316 closed, assigned to nobody

[2021-08-26 23:42] #12794 closed, assigned to nobody

[2021-08-27 00:36] #13107 closed, assigned to nobody

[2021-08-27 00:47] #12884 closed, assigned to nobody

[2021-08-28 09:22] melvio commented on #13450
Thanks @Alys. I managed to run habitica. Which was a breeze with the tips listed over here <https://habitica.fandom.com/wiki/Setting_up_Habitica_Locally_on_Docker>. I basically only had to fork the project, run `cp config.json{.example,}` and run `docker-compose -f docker-compose.dev.yml up -d` and I was good to go.

The output looks as I want it to be on <localhost:3000/apidoc>. e.g.:
![apidocs-u

[2021-08-28 15:04] SabreCat commented on #13450
@melvio I thought it only affected production environments, but there does appear to be an issue with a recent Dependabot upgrade to `storybook`. Can you try building with the latest commit from `develop` or `release` instead of the 4.203.1 tag?

[2021-08-29 04:49] Alys commented on #13457
@wondrousweeb Thanks for letting us know it fixed itself! If you have any further problems, please post to the Report a Bug guild, which you can reach from the Help menu on the website (there's a reminder about that in the template that you see when you click "New issue" here). We use GitHub issues only for problems that need code fixes. The issue you had was probably just that your browser hadn't

[2021-08-29 04:49] #13457 closed, assigned to nobody

[2021-08-29 04:51] Alys commented on #13313
The bug no longer happens for me either so I'm closing this issue.

@mornir @nockyQ Thanks for your testing!

[2021-08-29 04:51] #13313 closed, assigned to nobody

[2021-08-29 04:56] Alys commented on #10786
@davishuang9 For an issue like this that's been happening for at least three years, we wouldn't expect a rapid fix. :) When an issue is claimed by someone, we check back every so often to see how it's going, with the frequency depending to some extent on the urgency of the issue. See also [Using Your Local Install to Modify Habitica%27s Website and API](https://habitica.fandom.com/wiki/Using_Your_

[2021-08-29 06:50] melvio commented on #13450
Hey @SabreCat Great to meet you :smiley:. Building with the most recent `develop` version, (`5b346690a9cde8a09afaa3ec9770da46e918e8e6`). with the commit message `fix(storybook): temporarily disable story`, gives me the error listed above.

To be sure, I also asked `docker-compose` to clean up thoroughly:
[code]

Unfortunately, the response is the same:
[code]

I do notice the `npm ERR` message sta

[2021-08-29 07:26] melvio commented on #13450
I tagged the most recent version of habitica on my `melvio/habitica` repo with `4.203.2`.
I incremented the package.json version string to `"version": "4.203.2",`. (just locally, I did not push)

I ran docker-compose with the `--build` flag this time:
[code]

Unfortunately, the error message remains the same:
[code]

[2021-08-29 21:38] SabreCat commented on #13450
Nope, that's exactly what I wanted to check--that it was using the commit with `storybook` disabled. Hrm. Is there any way to get a more verbose error output? And/or do you have a known good commit you can reset to and step forward from, to identify when the issue started?

[2021-08-30 04:59] melvio commented on #13450
I would have to check tonight after work. (I'm in the GMT+2 timezone).
`npm` is reporting that the `gulp nodemon` is failing, so I assume a verbosity flag can be set somewhere here.
And if that doesn't work, I can bisect which commit introduced this issue. But I cannot promise that will be done this working week.

[2021-08-30 05:18] Helcostr commented on #12971
Sure!

[2021-08-30 05:19] Helcostr commented on #9244
Sure!

[2021-08-30 16:16] SabreCat commented on #13450
You can try merging #13465 which cleans up some build issues, see if that helps! It'll be on `develop` soon.

[2021-08-30 16:29] melvio commented on #13450
Perfect timing @SabreCat :smiley: I just tried `gulp -LLLL nodemon` instead of `gulp nodemon` to get some extra information:
[code]
But I got the same output; So you're just in time with your advice. I'll try it right now.

[2021-08-30 16:43] melvio commented on #13450
Unfortunately, still no luck. I ran:
[code]
But I still have the same issue. The `habitica-server` container dies after a few seconds with the same logs.

[2021-08-30 17:48] melvio commented on #13450
Okay.. don't ask me why. But It works now.

I ran:
[code]
The `nvm` use should matter; because I'm running inside a docker container...
I also pushed the changes from `fix/storybook_install` to my own repo (instead of just pulling).
However, I really don't see how the above should have made an impact, but I'm  not complaining :smile:

[2021-08-30 18:41] melvio commented on #13395
What helped me is to use `nvm use 14.0` instead of `nvm use 14`:
[code]
I'm on ubuntu 20.04 though so your mileage may vary.

[2021-08-30 23:58] Alys commented on #11283
This also applies to the modal you see when you gain a contributor tier. I'm adding that to the list in the top post and adjusting the title to make it more generic so it's more easily found.

[2021-08-31 21:16] SabreCat commented on #13395
Based on what I've seen here so far, this is unlikely to be an issue with Habitica code. We can reopen if it proves to be otherwise!

[2021-08-31 21:16] #13395 closed, assigned to nobody

[2021-08-31 21:21] SabreCat commented on #12971
Looking this over, I'm OK with making a breaking change here. In the rather unlikely event that somebody's built an application on top of the bad structure, they'll need to make a fix, but that seems like a fair price to pay for correcting this issue and making the structure more futureproof.

[2021-09-01 23:47] #13450 closed, assigned to nobody

[2021-09-02 00:06] #13289 closed, assigned to nobody

[2021-09-02 00:08] SabreCat commented on #13013
Opening back up for now. If @ashaindlin resumes work, they can reopen the PR, or if someone else comes along first, they may be able to make use of that groundwork!

[2021-09-02 00:18] #13326 closed, assigned to nobody

[2021-09-02 00:24] #13312 closed, assigned to nobody

[2021-09-02 03:38] davishuang9 commented on #13013
FWIW, from a consistency standpoint I would assume we'd want all the quests to behave similarly, something like a quest only unlocks IFF:
- the requirements to unlock the first quest in the quest line is met AND
- the previous quest in the quest line has been completed

Another question is should a quest be unlocked if someone completes it (via someone else in the party), should it be unlocked if

[2021-09-06 14:50] Lyqst commented on #13224
Hi, I would like to work on this as my first issue

[2021-09-06 16:55] SabreCat commented on #13224
@Lyqst OK, go ahead! Speak up here or in the Aspiring Blacksmiths Guild if you need help with anything.

[2021-09-07 18:02] beffymaroo commented on #12126
@thewilloftheshadow Thanks for replying! I'll put this issue back in Help Wanted

[2021-09-07 18:03] beffymaroo commented on #12972
@vanathi-g Thanks for replying! Your question may be a question for @Tressley (?)

[2021-09-07 18:04] beffymaroo commented on #13394
@dabrowskif Thank you for replying, and no worries on needing a little more time, we appreciate your help!

[2021-09-07 18:23] SabreCat commented on #12126
Weblate's documentation is here, for those interested in digging in: https://docs.weblate.org/en/latest/index.html I'll give @phillipthelen another ping to see if the answer is close at hand, though!

[2021-09-08 14:04] phillipthelen commented on #12126
I updated Weblate to the most recent version and also installed a new add-on that cleans up translation files. I'm not entirely sure if that handles the exact use case here, so we'll have to keep an eye on the changes and see

[2021-09-09 13:29] Tressley commented on #12972
@vanathi-g -- Yeah, I think that's a great suggestion!

[2021-09-09 18:14] citrusella commented on #13464
Since it's been two weeks and I don't think this has come to the guild yet and I couldn't resist answering:

https://habitica.fandom.com/wiki/Application_Programming_Interface#Using_the_API

Don't use the authentication options provided by AutoWeb at all. I don't think any of them will work for Habitica's case, though I may be wrong. (The way the secret key one works gets the closest (it sends the

[2021-09-09 18:52] zemmyang commented on #13464
Ah, I forgot to reply that I did ask in the guild and got a response.

Basically, I gave up on AutoWeb and ended up adding a function to [the old Habitica Tasker javacscript code](https://github.com/goldfndr/tasker-habitrpg) to do what I wanted. It worked in the end, but it took a lot of work.

[2021-09-10 20:49] #13464 closed, assigned to nobody

[2021-09-10 20:51] SabreCat commented on #12126
OK! I'll flip this to "investigation needed" and depending on how things shake out, we can open it back up for contributions or close it.

[2021-09-11 14:01] Lyqst commented on #13328
Hey, I can take a look into this if that's ok!

[2021-09-12 10:46] Alys commented on #13328
@Lyqst Thank you! Please go ahead and post here if you have questions.

[2021-09-13 21:23] Lyqst commented on #13328
I think I've fixed the issue. The problem was that when  querying for the tasks to be added to the new challenge, it would just search by the challenge id, which I don't think would necessarily return the tasks in the expected order:
[code]

I've changed this to instead iterate over the tasksOrder arrays in the challenge, so we get the tasks in the expected order:
[code]
I've tested this and it lo

[2021-09-14 02:40] #13224 closed, assigned to nobody

[2021-09-14 03:24] spadletskysdev commented on #10225
I saw a "hide" class on those "not-yet-purchased" that disappears. I'm new so I don't know what triggers that.
![image](https://user-images.githubusercontent.com/77564401/133189854-b61ee15e-49e2-46fc-a7d1-73e4807ac521.png)

[2021-09-14 09:59] fmaximus commented on #5557
@SabreCat seems the PR of @alecbrick got merged. "help wanted" not necessary I guess.

[2021-09-14 11:15] Alys commented on #5557
@fmaximus Thanks for posting about that!

I think there's actually been some confusion with the links and this issue doesn't yet have a PR that resolves it, as far as I can see. The link in the post here from 18 days ago is for a different issue.

@alecbrick Do you still have a PR open that you're working on? Or should this stay open for someone else to take up?

[2021-09-14 11:18] Alys commented on #13328
@Lyqst This seems like a good idea to me (although if any of the staff post here to say otherwise, listen to them not me). It sounds like you have it working in your local install - which is great! - so I think it's appropriate for you to do a PR and that will let us review the code to see what we think. Thank you for working on this!

[2021-09-14 21:43] alecbrick commented on #5557
Yup! The PR can be found [here](https://github.com/HabitRPG/habitica/pull/11920). I'm no longer working on it, but it's almost complete.

[2021-09-15 01:56] Alys commented on #5557
@alecbrick Thanks for replying! I've edited the comment from a few weeks back to insert that link, and also added it to the top post. I've made similar changes in https://github.com/HabitRPG/habitica/issues/9725

@fmaximus were you interested in working on this issue?

[2021-09-16 19:18] cybrpimp opened #13510 "No space left on device"
We have recently installed using Docker on the guide.

![image](https://user-images.githubusercontent.com/61793417/133672162-24137371-b781-4fad-9f38-30bbad9d4428.png)

[//]: # (Bugs in the mobile apps can also be reported there.)

[2021-09-17 04:49] melvio commented on #13325
Confirming this issue. I even saw my 205th streak happen 3 times this morning.

[2021-09-17 21:33] #13328 closed, assigned to nobody

[2021-09-17 22:37] NicolasCARPi commented on #13510
What makes you think this is an issue with the software and not the free space on your disks. What is the output of `df -h` ?

[2021-09-18 23:27] Lyqst commented on #13372
I will take a look at this since there's no news if that's ok

[2021-09-19 09:24] Alys commented on #13372
@joeyzero How are you going with this? If you're no longer able to work on it due to other commitments, that's totally fine - just let us know!

@Lyqst We'll wait a couple of days and then if there's no reply, it'll be free for you to start on, thanks!

[2021-09-20 01:33] Lyqst commented on #13276
If @Miciaha is not working on this, I'll take a shot

[2021-09-20 15:19] citrusella commented on #11255
So... I know this issue is closed and VERY low priority (hence why it was closed)... and it's possible I'm sniffing up the wrong tree (my JS is still very elementary), but I wanted to link something that felt suspect just because I was investigating for funsies.

https://github.com/HabitRPG/habitica/blob/d406da4081353120afe71c9f9277e8c97c0116ab/website/client/components/chat/autoComplete.vue#L158-

[2021-09-21 08:44] Alys commented on #13372
@Lyqst You're free to go ahead with this. Thank you!

[2021-09-21 16:32] beffymaroo opened #13519 "Chrome Chat Extension Not Loading"
User Report:

"The list of groups is still displayed on the right hand side. When I click on a group, the chat window pops up saying "Loading Chat..." but the chat never loads. The X is gone from the top right corner. If I click on the top bar it will minimize and you can bring it back but it never works.

I've tried restarting the computer and restarting Chrome. No luck."
![chromeextension](https

[2021-09-23 11:20] Alys commented on #13276
@Lyqst Thanks! Please go ahead.

[2021-09-23 20:06] citrusella commented on #13012
In theory, this was fixed in #13507 (I say "in theory" because it's not yet on the main website so that I could say it's certainly doing what it says and working and all, though it was tested and approved so I assume it works).

[2021-09-24 09:19] Alys commented on #13012
@citrusella Good point, thank you!

I'll leave this open for now since the change isn't live yet - and especially since you reported a bug related to this in a test site! - but I've set this page to reappear in my browser in a week and then I'll close it if it's all sorted out.

[2021-09-24 18:09] beffymaroo commented on #2433
Possible related user report:

"Device: Xiaomi Mi MIX 2
Android Version: 28
AppVersion: Version 3.3.2 (3042)
BETA
User ID: 35c3fb6f-fb98-4bc3-b57a-ac01137d0847
Level: 55
Class: healer
Is in Inn: false
Uses Costume: true
Custom Day Start: 1
Timezone Offset: 420
Details:

When experience from the Enchanted Armoire causes me to level up, the leveledUp webhook is not triggered."

[2021-09-28 03:17] JasonCarvalho-tech commented on #13252
![image](https://user-images.githubusercontent.com/55836477/135017053-6362e61e-f6bd-4665-8269-29b779f4c52d.png)
This is resolved in my end but that might be due to my browser version.
![image](https://user-images.githubusercontent.com/55836477/135017191-d7aa530e-e092-4a51-ba0f-29ac15547d5a.png)

[2021-09-28 21:20] Lyqst commented on #13372
Ok so I've added this line to the updateTask api code which does the trick:

[code]

There's no need to change anything in the create api routes, since if no streak is sent the default 0 is used (also, there's no option to enter the streak when creating a daily task, neither web or mobile)
![image](https://user-images.githubusercontent.com/78376862/135166397-3a2fa265-5b66-446c-99ce-9b4df1ce4d4d.pn

[2021-09-29 17:11] Lyqst commented on #13276
This is due to the change to absolute links, when adding the event listener it is searching for links that start with '/profile/':

[code]

If we only change `startsWith` to `includes` it would break cause it would be passing an absolute path to the router, so we also need to address that, changing `link.getAttribue('href')` to `link.pathname`:
[code]
A small issue with this change is that it will

[2021-09-30 10:46] SethFalco commented on #13331
Generic [IANAL](https://en.wikipedia.org/wiki/IANAL) disclaimer.

Copyright does not prevent you from reverse engineering software functions. It will not be considered derivative work in most cases unless you take snippets of code or content from the site directly.

That probably isn't going to work. All contributors retain copyright of their contributions. You'd need to get permission from every

[2021-10-01 22:58] #13024 closed, assigned to nobody

[2021-10-03 14:38] JohnDoe453 opened #13529 "JavaScript heap out of memory on `npm run client:dev`"
[//]: # (Before logging this issue, please contact site administrators from the Habitica website's Help menu. Most bugs can be handled quickly there. If a GitHub issue is needed, staff will let you know. It is recommended that you don't create a new issue unless advised to.)

[//]: # (Bugs in the mobile apps can also be reported there.)

[//]: # (If you have a feature request, use "Help > Request

[2021-10-04 07:31] SneakySensei commented on #13529
I would like to pick this up. Can you assign it to me?

[2021-10-04 12:31] JohnDoe453 commented on #13529
This doesn't fix the issue.

[2021-10-04 14:14] SneakySensei commented on #13529
@JohnDoe453 Can you elaborate a bit more? It doesn't happen on my pc. But setting --max_old_space_size to a bigger value is the way to fix this. Is it happening for all devs? Does it happen only on windows? What's the system specifications of the said system?

[2021-10-04 15:45] ThatGuyDavid09 commented on #8735
@shanaqui Is it alright if I take this issue? I would like to give it a shot.

[2021-10-04 16:51] Zarrindast commented on #8735
fine w me.

On Mon, Oct 4, 2021 at 8:45 AM ThatGuyDavid09 ***@***.***>
wrote:

--
Eli Zarrindast
530-650-6339
zarrindast.com -- github.com/zarrindast
*This email may contain proprietary information and is intended for its
recipient only. Please keep all communications confidential unless
otherwise discussed.*

[2021-10-05 00:49] Alys commented on #9745
Just as an update, this bug still occurs.

[2021-10-05 12:02] Alys commented on #13012
The sample forms have now been removed from https://habitica.com/apidoc/ so I'm closing this (fixed with https://github.com/HabitRPG/habitica/pull/13507).

[2021-10-05 12:02] #13012 closed, assigned to Alys

[2021-10-05 15:24] fmachado091 commented on #13373
Hey, everybody, it's my first time around here. Can I work on this issue? Thanks!

[2021-10-05 20:48] beffymaroo commented on #11257
@SabreCat Should this one get a Help Wanted tag again?

[2021-10-05 20:53] beffymaroo commented on #13329
@sahilcode17 Are you still interested in working on this issue? Please let us know if so. If not, I will mark it as Help Wanted again. Thank you!

[2021-10-05 20:54] beffymaroo commented on #10786
@davishuang9 Are you still working on this issue? Please let us know if so. If not, I will mark it as Help Wanted again. Thank you!

[2021-10-05 20:57] beffymaroo commented on #13325
@jeremyrader Are you still working on this issue? Please let us know if so. If not, I will mark it as Help Wanted again. Thank you!

[2021-10-06 06:04] davishuang9 commented on #10786
@beffymaroo hi sorry not going to be able to get to this issue in the time being.. work got busy! i appreciate the opp. and will look for a better time to contribute

[2021-10-06 11:47] #13510 closed, assigned to nobody

[2021-10-06 15:53] SabreCat opened #13542 "Task column help text hidden by tasks"
[//]: # (Before logging this issue, please contact site administrators from "Report a Bug" in the Habitica website's Help menu. If a GitHub issue is needed, staff will let you know and will most likely log one on your behalf. It is recommended that you don't create a new issue unless advised to.)

[//]: # (Bugs in the mobile apps can be reported via Menu > About > Support.)

[//]: # (If you have a

[2021-10-06 15:54] SabreCat commented on #13542
Leaving on hold to start with-- @Tressley, what behavior do we want here? Hide the help text, I think, but making sure!

[2021-10-06 16:18] Tressley commented on #13542
The original intended experience was:
User has 0 tasks: Content in the middle
User has >1 tasks: Content at the bottom
User has ≥3 tasks: Removed

[2021-10-06 17:51] SabreCat opened #13543 "Selection highlight in avatar editor carries over between tabs"
[//]: # (Before logging this issue, please contact site administrators from "Report a Bug" in the Habitica website's Help menu. If a GitHub issue is needed, staff will let you know and will most likely log one on your behalf. It is recommended that you don't create a new issue unless advised to.)

[//]: # (Bugs in the mobile apps can be reported via Menu > About > Support.)

[//]: # (If you have a

[2021-10-07 20:41] #13394 closed, assigned to nobody

[2021-10-10 16:02] SandraBiros commented on #13543
Hello can I work on this issue ? Please assign me.

[2021-10-14 19:27] SabreCat commented on #13543
@SandraBiros, you're welcome to have a look! Reach out to us here or in the Aspiring Blacksmiths Guild with any questions you have!

[2021-10-14 19:27] SabreCat commented on #13543
@kartiks26 Sandra stepped in first, but if they can't get it figured out we'll tag you in!

[2021-10-14 19:43] SabreCat commented on #13372
@Lyqst Apologies for the delay! I agree with your solution, we should definitely truncate any decimal values on this field. (Probably `===` for the undefined check, though)

[2021-10-14 19:44] #13345 closed, assigned to nobody

[2021-10-14 19:47] SabreCat commented on #13343
Agreed, we only need to display that information once! The fix should remove the upper copy of the line ("Check-ins until next reward"), keeping the lower one. Then check if the removed string is used anywhere else--if it is, let's update those other places to use the same wording. And either way, remove the superfluous string from the locale files.

[2021-10-14 19:50] SabreCat commented on #13331
Closing this ticket as it's not an issue requiring a fix in the repository--please email admin@habitica.com with your concerns and we'll get you the information you need!

[2021-10-14 19:50] #13331 closed, assigned to nobody

[2021-10-14 20:05] #13275 closed, assigned to nobody

[2021-10-14 20:30] SabreCat commented on #13250
I just gave this a try, and I believe you're right, @patriciatiffany, the mentions feature already requires a word boundary there. @Helcostr was mistaken, perhaps!

I'll follow up with @beffymaroo about the last comment separately.

[2021-10-14 20:30] #13250 closed, assigned to nobody

[2021-10-14 20:39] SabreCat commented on #12914
@DarknessCatt More that `loggedin` should only be updated at the end of the cron process, so that if there's some issue and the cron is aborted, we don't record that date as if it had. `/server/middlewares/cron.js` is what you'll want, I believe--it may be as simple as moving the `loggedin` update from line 28 down to the database update following line 140.

[2021-10-14 21:24] Lyqst commented on #13372
Ah yes, I'll change that and create the PR.

[2021-10-15 15:54] Lyqst commented on #7809
Hi, I'd like to work on this oldie

[2021-10-18 00:11] WoahdangJr142 opened #13560 "Invalid certs."
[//]: # (Before logging this issue, please contact site administrators from "Report a Bug" in the Habitica website's Help menu. If a GitHub issue is needed, staff will let you know and will most likely log one on your behalf. It is recommended that you don't create a new issue unless advised to.)

[//]: # (Bugs in the mobile apps can be reported via Menu > About > Support.)

[//]: # (If you have a

[2021-10-18 00:18] WoahdangJr142 commented on #13560
Also when I try to run a script it tells me invalid certs, so I'm assuming it's not just me.

[2021-10-18 00:19] Tranquilitea commented on #13560
Having the same trouble, on Windows 10, but with Firefox.

Additionally, when I use the Android app, (in this instance to +1 a habit) it fails to update, and there's a brief pop-up saying "Server connection lost".

Hope this helps. :)

[2021-10-18 00:21] WoahdangJr142 commented on #13560
Yeah, on my phone it also says invalid certs

[2021-10-18 00:41] bauerbach commented on #13560
I can't access the site either! Please fix this ASAP; I NEED Habitica back!

[2021-10-18 01:01] cygnoir commented on #13560
This is happening to me as well, running macOS Big Sur (11.6). Here's a screenshot from Safari.

<img width="701" alt="Screen Shot 2021-10-17 at 17 52 01" src="https://user-images.githubusercontent.com/1072244/137652156-fe69aecd-01d1-4757-86a3-a03ff2b2f851.png">

[2021-10-18 01:03] ozw-sei commented on #13560
This is happening same issue, Windows 11 Google Chrome.

[2021-10-18 01:11] blankoon commented on #13560
Same here

[2021-10-18 01:15] danndylan commented on #13560
I think its up and running again

[2021-10-18 01:34] blankoon commented on #13560
Yeah, it seems to be resolved on my end, too.
The problem seems to be resolved because the certificate be set up.

![스크린샷 2021-10-18 오전 10 34 15](https://user-images.githubusercontent.com/28880021/137655951-acb83f60-4dae-474f-a980-b02132bde253.png)

[2021-10-20 03:46] knoxydev opened #13580 "test issue"
Please delete my issue

[2021-10-20 04:00] nkr413 commented on #13580
Please delete my issue

[2021-10-20 04:10] #13580 closed, assigned to nobody

[2021-10-20 19:54] #13560 closed, assigned to nobody

[2021-10-20 20:13] CuriousMagpie commented on #12796
After some testing, I've discovered that the title outline only activates on skill use if you click on the title area. If you click on the option menu, that highlights. If you click below the title, only the complete task box highlights.

I'm not sure this is something that needs fixing--we would have to eliminate the focus outlines on a skill-click action and I don't know how that would affect ov

[2021-10-21 20:47] #13372 closed, assigned to nobody

[2021-10-21 20:49] #13343 closed, assigned to CuriousMagpie