[2015-01-10 00:02] sadanyagci commented on #4477
### Mockup and filters

[2015-01-10 00:17] atalaya commented on #3429
I have the same problem with the same "taxes" challenge. Wondering if there has been any resolution?

[2015-01-10 00:19] Alys commented on #3429
@atalaya What is your unique user ID? ([Settings -> API](https://habitrpg.com/#/options/settings/api))

[2015-01-10 00:48] Alys commented on #3429
@atalaya Actually, sorry, don't worry about the user ID; I misread this issue. There should be a completed To-Do that you can use to get rid of both the To-Do and the reward - look in your Completed To-Dos tab and follow the process described above. For extra information, see "Deleting a Challenge Task" in [Challenges](http://habitrpg.wikia.com/wiki/Challenges#Deleting_a_Challenge_Task).

[2015-01-10 01:00] crookedneighbor commented on #4490
Would it be as simple as changing `ng-change='saveDayStart()'` to `ng-blur='saveDayStart()'`?

The one case where it might be a problem is if the user clicks on something without leaving the input. I'll do some testing on my local install.

[2015-01-10 01:07] crookedneighbor commented on #4477
FYI, I was just notified that we have a HabitRPG dev working on push notifications/alarms already.

[2015-01-10 01:07] lefnire commented on #4420
FYI devs, the `current_period_end` error means the account was canceled on Stripe's end (most commonly from the cases I've seen, due to too many failed charges); however, the cancellation never hit Habit's server, since we don't have webhooks setup to listen for such an event. In any case, feel free to keep sending them my way if it makes you too nervous to handle yourselves - but the fix'em query

[2015-01-10 01:09] crookedneighbor commented on #4490
Worked even when navigating away to a different page on the site. Submitting a PR.

[2015-01-10 01:12] Alys commented on #4490
Awesome, thanks @crookedneighbor!

[2015-01-10 01:13] Alys commented on #4420
Oh cool, an easy fix! I'll update the instructions at the top of this issue to say they should just comment here.

[2015-01-10 01:59] bTackt opened #4502 "Datepicker Week numbering is off"
On the datepicker for due dates: At least for me, the weeks of January are numbered 52 through 57, which, if I'm not mistaken, is not supposed to be like that. The weeks of February are also numbered starting on 5. I don't know if we want the first partial week of January to be 1 or 52 (as the last partial week of December), but all I know is that I don't think there's a 55th week to the year, and

[2015-01-10 04:07] crookedneighbor commented on #4502
Here's a screenshot:

![screen shot 2015-01-09 at 10 06 57 pm](https://cloud.githubusercontent.com/assets/2916945/5690391/e0ca8190-984b-11e4-8637-24b9eed7542b.png)

[2015-01-10 11:58] arajg opened #4503 "Dailies still unchecking before cron -- possible sync errors"
Hi, still having issues with Dailies resetting/not saving. Lost a lot of health last night in a boss fight because a bunch of dailies got unchecked before Cron. Happened on a mac using google chrome.

[2015-01-10 12:03] Alys commented on #4503
Dailies becoming unchecked before cron is most likely due to information from your browser (or mobile app) not being sent correctly to HabitRPG's server. Have a look at the wiki's [Sync Errors](http://habitrpg.wikia.com/wiki/Sync_Errors) page, in particular the sections called "How to Minimise Sync Errors" and "Completing most/all Dailies but still losing health and streaks".

The "How to Minimise

[2015-01-11 01:44] Alys commented on #4480
@wildcate Have the gems caps still not reset for you and your husband?

[2015-01-11 04:04] pepperpanda commented on #4313
UUID: 5638de0b-7673-4e12-a14e-0e1efc244b1c
lastCron" : ISODate("2015-01-11T00:03:14.987Z")

So I had a perfect day yerterday but I seem to have taken damage and didn't have a perfect day buff. Also while our party was on a collection quest, I did gain quest items but some my Dailies didn't become UNticked. 10 Dailies have become unticked and 22 Dailies are still ticked.

[2015-01-11 04:21] nataliechan commented on #4468
Quick question - I've finally found one of the files I need to edit (still trying to figure out the file system and where things are located), and I noticed that by changing"Username" to "Login Name", it might get confusing because the variable(s) associated all use "Username", e.g. "changeUsername", "newUsername" - should I somehow change all the variables to be "changeLoginName", etc, or just le

[2015-01-11 04:23] deilann commented on #4468
No, no, don't change the variables. The coders are not confused by the
difference.

On Sat, Jan 10, 2015 at 8:21 PM, scribblypanda notifications@github.com
wrote:

[2015-01-11 05:48] Sylvain-Delafoy commented on #1621
I'm also interested.

[2015-01-11 13:12] wildcate commented on #4480
Still no reset, no....

[2015-01-11 15:38] sadanyagci commented on #4477
What radically changes the nature of the site? Default functionality would remain exactly as it is now, and the only difference would be people will have more options, which the behavior of those options still wouldn't radically change any feature currently implemented.

[2015-01-11 16:33] lefnire commented on #1621
Ctrl f the project for its use. Its used for my misc things like 3rd party
callbacks (facebook, addthis, paypal), email templates, etc
On Jan 10, 2015 10:48 PM, "Sylvain-Delafoy" notifications@github.com
wrote:

[2015-01-11 16:51] paglias commented on #1057
@Alys in this case I asked him to send them privately because I wanted to know which dailies didn't reset and maybe he didn't want to share the name here in public

[2015-01-11 17:04] Alys commented on #4480
@wildcate I've manually reset the count of gems bought for both of you. Let me know if it hasn't worked. Next month, if you experience the same problem, be sure to let us know!

[2015-01-11 18:56] grrosegr commented on #1057
The issue appears to be fixed for me, for now. Maybe it only happens to new users on their first day?

[2015-01-11 19:04] #4454 closed, assigned to nobody

[2015-01-11 19:04] #4399 closed, assigned to nobody

[2015-01-11 19:51] crypdick opened #4505 "Toggled tags are not reset with new Chrome browser sessions but are lost on new Firefox sessions"
Today, I logged in and most of my habits and dailies are missing from Chrome. I've tried refreshing and restarting, trying to switch between the "Due" tabs-- no changes.

Edit: I've figured out the issue. One of my tags was toggled in Chrome, hiding most of my habits and dailies. For some reason, the toggle persist between Chrome browser sessions but not with Firefox sessions.

Chrome Version 39.0

[2015-01-11 20:13] bTackt commented on #4505
Yesterday I also had a glitch in which I logged into Habit on a different machine (no cache yet set there, but on Chrome, Windows 8) and it appeared that all the activity I had done in the span of an hour the night before had not synced (no amount of sync buttoning was fixing it), but upon returning to my own machine hours later, everything was back (as a result, I had self-duplicated the tasks ._

[2015-01-11 20:25] Alys commented on #4505
@isomerase Click the "clear" button next to your tags, even if it looks like no tags are selected. Does that fix it?

@knittingfrenzy18 Are there still problems with your account? If so, tell us your UUID.

[2015-01-11 20:25] crypdick commented on #4505
I've figured out the issue. One of my tags was toggled in Chrome, hiding most of my habits and dailies. For some reason, the toggle persist between Chrome browser sessions but not with Firefox sessions.

[2015-01-11 20:27] bTackt commented on #4505
@Alys, no, the issue has fixed itself. I'm not sure what it was (I don't
think it was tags, it was all activity for a period of time). Then again, I
had a different machine.

On Sun, Jan 11, 2015 at 3:25 PM, Alice Harris notifications@github.com
wrote:

[2015-01-11 20:27] Alys commented on #4505
@knittingfrenzy18 Since @isomerase's issue is fixed, I'm closing this. Log a new issue if you need help with your account.

[2015-01-11 20:28] crypdick commented on #4505
@Alys shouldn't this be fixed?

[2015-01-11 20:29] Alys commented on #4505
Tags are meant to be persistent within one browser session.

[2015-01-11 20:30] crypdick commented on #4505
Right. But when I close down Chrome and reopen it the toggles persist, which it does not do in Firefox. Doesn't seem to me like that's intended.

[2015-01-11 20:32] Alys commented on #4505
Chrome is a more standard browser, so its behaviour is sometimes better than that of Firefox's. Firefox is close though. We do recommend Chrome as the best browser to use for HabitRPG.

[2015-01-11 20:35] Alys commented on #1057
Over the past few months, I have noticed cron problems being reported by a larger-than-expected proportion of new users, but that might just be because the older users are more used to the system and don't report temporary bugs as often. Not sure though. Two days ago, I did create a new account for testing, and cron ran normally at the start of the next day, so it's certainly not ALL new users. Bu

[2015-01-11 20:35] Alys commented on #4505
I'll do some testing on both Chrome and Firefox and see if I can replicate the Firefox bug.

[2015-01-11 20:36] crypdick commented on #4505
Am I mistaken?

Intended behavior: opening HabitRPG with a fresh browser session opens a fresh HabitRPG session.
Actual behavior: Opening a fresh browser session (w Chrome) gives me my last HabitRPG session, specifically tag toggles.

edit: nvm, thanks for reopening
edit edit: let me know if you want me to test something

[2015-01-11 20:44] Alys commented on #4505
The actual behaviour is the behaviour that I'd want. If I opened a new session, I'd want it to be the same as my previous session. E.g., if the browser crashed, or I had to close it due to lagginess, I'd want to be able to take up where I left off in HabitRPG.

[2015-01-11 21:11] Alys commented on #4505
Confirmed on Firefox 34.0.5 on MacOS - tag selections are not persisted through a browser crash and restart. To me, that's a bug; to others it might be a feature. Our [trello card for tags](https://trello.com/c/HzlNeTQB/274-tags-v-2-tag-ideas-enhancements) says "Selected tags should be saved between sessions if you close your browser window or refresh the page. Should be local rather than global,

[2015-01-11 21:55] Alys commented on #4477
@sadanyagci Radical changes can include additions of new features, even if existing features aren't modified. One of the reasons is that new features aren't completely without overhead, even after they've been created; there's code that needs to be maintained if other site changes affect it, user documentation that needs to be written, and support time whenever users have questions about the new f

[2015-01-11 22:26] sadanyagci commented on #4477
Windows of opportunity seem covered by accepted suggestion "Due Dates".

Changes to dailies seem to be covered in several parts by accepted suggestion "Dailies v3" (implementing "Does not apply", "mark daily incomplete" and "weekly rollover"), and accepted suggestion "ADD REPEAT EVERY __ DAYS/WEEKLIES/MONTHLIES TO HABITRPG.COM"

Time scheduling falls under accepted feature "Premium: Timer" and cur

[2015-01-11 22:27] naever opened #4506 "Additional information in the translated versions."
I posted this question on trello and was asked to come here, so here I am! I _think_ I'm in the right place, otherwise, my apologies...

I've been translating the community guidelines to portuguese on transifex and it dawned on me that a lot of what's there is really unhelpful (and even misleading) to someone without any grasp of english. It all deals solely with parts of the site where that is th

[2015-01-11 22:31] Alys commented on #4477
It sounds like this suggestion from @crookedneighbor in one of his comments above is relevant:
"For your ideas that expand upon already accepted features, I'd comment on those particular tickets or submit PRs if the route to go has already been decided upon."

[2015-01-11 22:58] Alys commented on #4506
I'm very much in favour of anything that makes the site easier to use for people who don't have good English skills, although being an English-only speaker I don't have many helpful ideas. A couple of points though:

You write _"It all deals solely with parts of the site where that is the only spoken language, and members of the team who (I'm assuming, sorry if I'm wrong.) should be spoken to in t

[2015-01-12 01:57] Feriority opened #4507 "Snowballing a user before they've logged in that day prevents them from seeing it"
A friend snowballed me, but when I logged in I couldn't see the effect (and neither could he, any more).  My best theory is that, since the snowball is reset by cron, and I hadn't logged in yet that day, when I did log in, it immediately triggered cron, which cleared my snowball state even though it hadn't been a full 24 hours.

I don't see anything explicitly setting snowball in cron, but we set

[2015-01-12 02:02] Alys commented on #4507
Duplicate of https://github.com/HabitRPG/habitrpg/issues/3071 since snowball etc are buffs. Ideally the same solution would be used for them all.

@Feriority have a look through that issue and see if there's anything there that affects your idea. Your idea so far sounds interesting to me.

[2015-01-12 06:58] theglitchedhero commented on #4132
Having the same error as most of these people. I have joined 3 guilds and tried to leave one that was inactive. I joined a challenge but it's not appeared. I get this error:

Error Runner error: Overflow sort stage buffered data usage of 33866251 bytes exceeds internal limit of 33554432 bytes" (see Chrome console for more details).

My user ID is: d7749f2f-cb09-4ede-94aa-75e315312c98
I'm using Win

[2015-01-12 07:15] wildcate commented on #4480
Thank you! (By the way, the cap had re-set and the gem showed the reset number of gems available, but until after the first gem bought, it was still translucent.)

[2015-01-12 08:46] Alys commented on #4132
@theglitchedhero Your account shows that you have joined one challenge, but that challenge doesn't actually have any tasks in it, which is probably why it looks as if it hasn't shown up. Could you tell me though, does a tag for the challenge appear in your list of tags?

If that error keeps happening for you when you try to take an action on the site, tell me what that action is and I'll see if I

[2015-01-12 18:00] meganstrickland commented on #1057
I forgot to check in to the Inn before traveling and did not log in for a few days. When I got back and logged into Habit, I took no damage and still had a perfect day buff from before my trip.

UUID: 73e5125c-2c87-4004-8ccd-972aeac4f17a

[2015-01-12 18:20] lemoness commented on #4506
I speak Spanish and some French!

I really like the idea of directing users to a certain guild when they
automatically sign in using that language - social features are really
important to keeping people interested in HabitRPG, and many of our
non-English-speakers have to work harder to search that out. Maybe display
the message over the Tavern and Guild pages?

Something like
"Welcome to the Tave

[2015-01-12 18:25] Alys commented on #1057
@meganstrickland Well that was lucky. Habit loves you. :) If you don't mind revealing this information, could you tell us when you last used Habit before your trip, and when you first used it afterwards?

[2015-01-12 18:27] paglias commented on #1057
Hey Megan, from the db it looks like your cron run 1h 30 minutes ago

2015-01-12 19:25 GMT+01:00, Alice Harris notifications@github.com:

##

Matteo Pagliazzi - paglias.net

[2015-01-12 19:31] Alys commented on #1057
@meganstrickland Immediately before you stopped using Habit before your trip, did you have ALL of your Dailies ticked off? Even any Dailies that might not have been scheduled for that day? If so, I think that would explain why you took no damage. Habit noticed that they were all ticked and ignored the skipped days for them.

Note to devs: When cron runs after a break of several days, for any Daili

[2015-01-12 19:44] Alys commented on #1057
Note to devs: When cron runs after a break of several days, for any Dailies that are NOT completed, cron will do damage for all missed days. But if the Daily IS completed, cron will ignore it and do no damage for missed days. https://github.com/HabitRPG/habitrpg-shared/blob/b0fc2a8e7c676a9492689f79340017bab77bf047/script/index.coffee#L1457
Hence meganstrickland's report isn't strictly a bug - the

[2015-01-12 19:56] meganstrickland commented on #1057
@Alys - Fantastic! Yes, they were all checked off---no unchecked gray dailies. I'm so glad that's a feature---it's a really good one!

[2015-01-12 20:22] theglitchedhero commented on #4132
@Alys I got rid of the tag yesterday when I was trying to get rid of it. It was the meditation tag.

But it seems to be working today. I got a few unable to reach server errors, but now that I'm back home everything works.

[2015-01-12 21:43] lefnire commented on #4132
TMK, this error can occur for anyone, regardless of their own groups / user object. I _think_ it occurs for the first time someone loads up the challenges page, and then mongodb will cache the query for near-future queries. @litenull we're already on that version of mongo, alas - but I'll look into disk usage thingy.

[2015-01-13 07:44] sixgunglory commented on #1107
I've started having the same problem over the last 2 days. Dailies not reseting and it's doubled some tasks that I entered once. I don't use multiple devices, it synched up fine last night and I don't have a custom roll over time.

[2015-01-13 08:18] flutterbye commented on #1057
I was hit by the bug again this morning.  I am becoming convinced that the
closer to midnight that i tick tasks off the less likely they are to
register...  it's certainly seems to be a pattern and the ones i ticked
during the day have reset.

On 12 January 2015 at 19:57, meganstrickland notifications@github.com
wrote:

[2015-01-13 08:41] galinavaks opened #4509 "232/200 XP, no level up"
User:
9183afb2-fe40-4dc4-99b0-1feeee2a52c6
![image](https://cloud.githubusercontent.com/assets/10512457/5717941/b139a2ea-9b10-11e4-9b52-eca2e85cc1d1.png)

[2015-01-13 08:44] deilann commented on #4509
Please search before opening new issues.

See: https://github.com/HabitRPG/habitrpg/issues/2143

[2015-01-13 08:44] #4509 closed, assigned to nobody

[2015-01-13 11:30] Alys commented on #1107
@sixgunglory This is a closed issue, so we'll follow up on your problem in another one, but first I need more details so I can work out which issue is best.

When your Dailies do not reset, is it ALL of the ones you have ticked that do not become unticked, or do only SOME of them stay ticked?

Are you in a quest at the moment? If so, does your party chat contain messages about your quest progress

[2015-01-13 11:34] Alys commented on #1057
@flutterbye This morning, did ALL of your completed Dailies remain ticked, or did only some of them stay ticked?

Are you in a quest at the moment? If so, does your party chat contain messages about your quest progress from yesterday/this morning? Please click "fetch recent messages" in your party chat before you look for quest progress messages.

[2015-01-13 11:43] flutterbye commented on #1057
yes I'm in a boss battle, here is the message from this morning:
flutterbye attacks The Laundromancer for 2.7 damage, The Laundromancer
attacks party for 6.7 damage

the dailies i ticked off in the afternoon (3 of them) reset, but all of the
ones i ticked off in the evening (i think it was around 10.30pm) did not
reset.  looking at the damage dealt i suspect a dark red to-do did not deal
damage an

[2015-01-13 12:25] Alys commented on #1057
@flutterbye Thanks very much for those details! They are helpful for us. They show us that you're suffering from a different cron issue, rather than this one. I know that doesn't help from your point of view :(  but it gives us a clearer idea of what's going on.

I'm very interested in the pattern you seem to be noticing, and if you continue to notice the pattern, please tell us by putting a comme

[2015-01-13 12:30] flutterbye commented on #1057
I will do that :)  I did think I was replying to the issue I had opened
lol, I've been replying through my email and just assumed.  I will make
sure I post on 4313 with any further issues.

On 13 January 2015 at 12:25, Alice Harris notifications@github.com wrote:

[2015-01-13 16:13] sixgunglory commented on #1107
Some of them stay ticked, some become unticked.

I'm not on a quest, though there is the world one at the moment.

I don't run multiple devices - run it on chrome and windows 8.1

[2015-01-13 19:54] keysmashes opened #4511 "Dragging a card off the bottom of the screen extends the page"
Title says it all, really. Once you move the card (habit, daily, to-do or reward) back up, the page shrinks again. Chrome 39, Ubuntu 14.04; some extensions (including Stylish) installed, but the issue persists even with all custom CSS disabled.
## <bountysource-plugin>

Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/7711525-dragging-a-card-off-the-bottom-of-t

[2015-01-13 20:18] zarbars opened #4512 "Some dailies remain checked the next day."
I have this issue repeatedly and it clears up after a day or two, but I cannot continue completing certain dailies because they remain checked the following day. Refreshing or syncing multiple times doesn't solve the issue. It doesn't seem like I'm taking damage from them or losing money, but it defeats the purpose of the "daily" function.
Good luck, habitrpg team!

[2015-01-13 21:37] Alys commented on #4512
Is it only SOME of your completed Dailies that remain ticked? It's not all of them?

[2015-01-13 21:58] Alys commented on #1107
Thanks for the details @sixgunglory ! This is a known issue (https://github.com/HabitRPG/habitrpg/issues/4313) and we are trying to work out what's causing it. If you have any more problems with it, could you please report it there? I've mentioned your latest report there already.

[2015-01-13 21:58] Alys commented on #4313
Another report: https://github.com/HabitRPG/habitrpg/issues/1107#issuecomment-69706766

[2015-01-13 22:27] crookedneighbor opened #4513 "Damage from Cron even though all dailies checked (caused by 3rd party programs)"
Working with a user that uses the [todoist-habitrpg module](https://github.com/Kusold/todoist-habitrpg) to sync tasks from Todoist to HabitRPG. Some todos got assigned the type of "Daily", so even though they existed in the `user.todos` object, they were being counted as dailies by the cron script because their type was "daily".

[Here's the point in the Github issue where we start figuring out wh

[2015-01-13 22:37] Alys commented on #4513
Note that I do not believe this is a HabitRPG cron bug (although I asked @crookedneighbor to create this issue here so that we would all be aware of it). Instead, it's caused by the todoist-habitrpg module producing corrupted tasks that have attributes that cron considers as Dailies (and hence does damage for) but which the HabitRPG user interface does not consider as Dailies and so doesn't let th

[2015-01-13 22:55] crookedneighbor commented on #4513
If we decide to make the type attribute immutable, [this gist from lefnire should do it](https://gist.github.com/lefnire/6b9f183d09d9a391a85b).

Edit: Wrong link, corrected now.

[2015-01-13 22:56] crookedneighbor commented on #4513
When troubleshooting Cron bugs, it would be a good idea to ask about all 3rd party programs that the user has that interact with HabitRPG. Especially ones that can create or modify tasks.

[2015-01-13 23:23] crookedneighbor opened #4514 "Converting Tasks to other Types (Should it be allowed?)"
See #4513 for why this is important.

Either the API needs to be adjusted so [type can not be changed](https://gist.github.com/lefnire/6b9f183d09d9a391a85b), or adjusted so that when type is changed, [it moves it to the appropriate user attribute](https://gist.github.com/lefnire/afbcf83f6d1dac6617dd). (Both gists from lefnire)

Anybody have thoughts or preferences?

Since data specific to the task

[2015-01-13 23:29] Alys commented on #4514
Create new task of correct type, copy appropriate data, delete old task. If you do it that way, as opposed to just editing an existing task, there's probably less chance of forgetting to change some of the attributes, especially if HabitRPG later adds new attributes to some task types and old code isn't updated to match.

[2015-01-13 23:50] paglias commented on #4513
Why do we store a type property if tasks are already separated in
user.(dailies,todos,habits)?
Il 13/gen/2015 23:56 "Blade Barringer" notifications@github.com ha
scritto:

[2015-01-13 23:58] Alys commented on #4513
Coding convenience. Example: https://github.com/HabitRPG/habitrpg-shared/blob/develop/script/index.coffee#L1448-1460 which treats todos and dailys in the same way (same loop through both types of tasks) but has extra code that's run only if `type` is `daily`. Of course there'd be other ways of doing it, but it would have been simplest and fastest to write it that way.

[2015-01-13 23:58] zarbars commented on #4512
Yes, it seems to change around different dailies, but there tend to be a few that remain checked sometimes. Most of them refresh as normal, it's just 3-4 dailies that glitch.

[2015-01-14 00:00] Alys commented on #4512
Thanks @zarbars! This is a known issue (https://github.com/HabitRPG/habitrpg/issues/4313) and we are trying to work out what's causing it. If you have any more problems with it, could you please report it there? I've mentioned your latest report there already.

[2015-01-14 00:00] #4512 closed, assigned to nobody

[2015-01-14 00:01] Alys commented on #4313
Another report: https://github.com/HabitRPG/habitrpg/issues/4512

[2015-01-14 00:03] crookedneighbor commented on #4514
@Alys So are you in favor of making the `type` attribute immutable then?

[2015-01-14 00:16] Alys commented on #4514
I haven't thought much about it, and probably won't develop a solid opinion either way for that specific question.

There's probably several ways a badly-written third-party app could mess up a task, not necessarily with the type attribute. What we probably want is a sanity-checker for all tasks that checks all attributes and gives them appropriate values when needed, if the API doesn't already en

[2015-01-14 03:19] crookedneighbor commented on #4514
From my initial testing, the simple act of forcing the type to be immutable cleared up the wonkiness I was able to create in the todoist issue. Will do some more thorough testing later.

[2015-01-14 04:47] etaiklein commented on #3579
This affects Rogue Backstabs as well as wizard Burst of Flames

[2015-01-14 07:10] etaiklein commented on #3579
Wrote a fix here: https://github.com/HabitRPG/habitrpg/pull/4516

[2015-01-14 11:48] kngspook opened #4517 "Casting Burst of Flames can grant more experience than the leveling threshold without the character leveling."
The experience bar in the screenshot sort of explains it. I just cast Burst of Flames repeatedly on a very red daily.

![screen shot 2015-01-14 at 3 46 03 am](https://cloud.githubusercontent.com/assets/37399/5738355/31adcb6a-9ba0-11e4-94c2-0f951139a93e.png)

I then checked off a habit, and immediately leveled.

[2015-01-14 12:08] Alys commented on #4517
This has been reported here: https://github.com/HabitRPG/habitrpg/issues/2143

[2015-01-14 12:08] #4517 closed, assigned to nobody

[2015-01-14 13:32] trailrunnerhabitrpg commented on #4313
I am having similar issues (8c39b6b2-3870-444d-9ba1-6838cb897a87).  On Monday night I thought I checked out of the Inn but on Tuesday morning I was still checked in.   On Tuesday night all of the habits I checked off after about 7 pm damaged me overnight and appeared checked off and grayed in the morning.   All the ones I checked off earlier in the day were fine.

[2015-01-14 15:48] crookedneighbor commented on #4233
Since I haven't heard back from @pollockjj, I'd say this is free for anyone to work on.

[2015-01-14 16:47] Alys commented on #3117
@anitli I'm very sorry we didn't get back to you about this before now. The site has had significant changes to its code since you reported this, and we haven't seen any other reports of the same issue in the past several months, so I am guessing this is fixed for you, but if it is not, please reply and I will look into it!

[2015-01-14 16:47] #3117 closed, assigned to nobody

[2015-01-14 16:47] Alys commented on #3216
@meshqwert I'm very sorry we didn't get back to you about this before now. The site has had significant changes to its code since you reported this, and we haven't seen any other reports of the same issue in the past several months, so I am guessing this is fixed for you, but if it is not, please reply and I will look into it!

[2015-01-14 16:47] #3216 closed, assigned to nobody

[2015-01-14 16:48] pollockjj commented on #4233
My apologies.

I am obviously unable to devote the time to this that it needs at this time.

I relinquish all claim to the issue.

John

##

John Pollock
Burnsville, MN  55337
(612) 293-7792

On Wed, Jan 14, 2015 at 9:48 AM, Blade Barringer notifications@github.com
wrote:

[2015-01-14 17:00] Alys commented on #3279
@Awakebutstilldreaming3 and @radicallyradish : I'm sorry we didn't get back to you about this. Are you still having this problem on the Chrome browser?

[2015-01-14 17:07] Alys commented on #3904
@lefnire A bunch of other users have the same problem (an erroneous pet called "5" which makes the count of pets incorrect). I've run this command over a local test copy of the database to fix it for all users:
`db.users.update( {'items.pets.5':{$exists:true} }, { $unset: { 'items.pets.5': 1 } }, {'multi':true})`
Result:
`WriteResult({ "nMatched" : 46502, "nUpserted" : 0, "nModified" : 46502 })`

[2015-01-14 17:10] sadanyagci commented on #4173
I posted some suggestions in this area here: https://github.com/HabitRPG/habitrpg/issues/4477
1. Summary of mentioned issues this feature needs to take into account.
   1. Strings translating into repeat calculations.
   2. Difference between completed and postponed.
   3. Difference between todo and daily, and what belongs in which category.
   4. Postponing sometimes carrying over into following

[2015-01-14 17:11] bunnyplanet commented on #4313
So, I don't know if this will help everyone, but I seem to have found a way to keep my problem from occurring. (Knock wood.)

I've been following along with the user data display. A few days ago, I noticed that when I fetched my data, it was wrong -- it didn't show most of the dailies I had checked off that day, or the drops I'd received. Nothing changed until I reloaded the user page _[edit by Al

[2015-01-14 17:16] sadanyagci commented on #4173
By the way, I have a local habitRPG instance running and am learning the site code. I'd be willing to implement the changes myself or help with implementation or testing.

[2015-01-14 17:19] Alys commented on #4313
@bunnyplanet Sorry, I'd like to confirm exactly which page you're referring to when you say you reloaded the user page. Do you mean you reloaded the User Data Display page (https://oldgods.net/habitrpg/habitrpg_user_data_display.html), or did you mean a page in HabitRPG itself (https://habitrpg.com/)?

[2015-01-14 17:24] bunnyplanet commented on #4313
Sorry, I just realized I was being obscure there. I meant the tasks page. (https://habitrpg.com/#/tasks)

[2015-01-14 17:36] Alys commented on #4313
@bunnyplanet Okay, that's definitely interesting. If I understand correctly, the sequence of events was:
1. You ticked off some Dailies in HabitRPG. Everything looked okay in HabitRPG (all the right Dailies were marked as completed).
2. You fetched your data in the Data Display Tool (DDT) and noticed it was outdated
3. You reloaded HabitRPG using your browser's "refresh" feature. Everything still

[2015-01-14 17:49] crookedneighbor commented on #4173
One thing to keep in mind with the "Strings translating into repeat calculations." (similar to Todoist) is that HabitRPG is a multilingual site and we shouldn't force non-English speakers to use English phrases to create repeating events.

[2015-01-14 17:52] bunnyplanet commented on #4313
Yes, that's the sequence.

I had been having problems about every other day. I think it began shortly after I joined.

[2015-01-14 17:55] sadanyagci commented on #4173
True. Why not have the system check what language the user uses and run the strings through for interpretation based on that?

[2015-01-14 17:56] Alys commented on #4313
@bunnyplanet Thanks for confirming! Could you please tell us your unique user ID (from [Settings -> API](https://habitrpg.com/#/options/settings/api)).

And would it be okay if I looked up the date that you joined HabitRPG and posted it into this issue? It will help us get a feel for how long this has been happening.

[2015-01-14 18:03] kusold commented on #4173
I'm not good at languages, but you might run into grammar issues.

Examples with how languages might strictly be translated into English:

`every month` vs `month every`
`every X days` vs `X every days` vs `every days X` vs something other variation

[2015-01-14 18:10] bunnyplanet commented on #4313
Sure. 0396e6e1-0edc-46f5-9449-24891ba16698

I think I also posted early on in the newbie guild, if that helps.

[2015-01-14 18:18] thepeopleseason commented on #3852
Hey, sorry. I've been in the midst of baby and work. @melissamcewen, if you want to go ahead and update the script, feel free!

[2015-01-14 18:31] sadanyagci commented on #4173
Fetch a different interpretation function depending on the language, and/or provide a key for how they should type things in the box, grammatically. If a language doesn't have a function yet, default to the current system.

Two possible options for creating translations are:
1. Create a translation questionnaire and have popup messages for people who use languages that have no functions, requestin

[2015-01-14 18:43] paglias commented on #4514
There's something I don't understand looking at the code, we store habits/dailies/todos/rewards in different object in the user model (https://github.com/HabitRPG/habitrpg/blob/develop/src/models/user.js#L349-L352) so I think we could simply remove the `type` attribute at all

[2015-01-14 18:45] paglias commented on #4513
@Alys I see, (I also commented here https://github.com/HabitRPG/habitrpg/issues/4514 but the content is the same, so ignore it)

[2015-01-14 19:16] Alys commented on #4313
@bunnyplanet I would be VERY interested to know if reloading HabitRPG using your browser's refresh button every night prevents the cron problems you've been having OR if it does not help in future. In theory, it should not have any effect, but in theory these cron problems should not be happening. :-/

bunnyplanet joined HabitRPG on 2014-12-03T00:41:45.991Z (see above her comment "I had been havin

[2015-01-14 19:23] bunnyplanet commented on #4313
I'll keep checking my data and report back if anything else happens. (I'm a her, btw. :-) ) I do sometimes have wifi issues, perhaps that could contribute to a caching problem?

[2015-01-14 19:36] Alys commented on #4313
@bunnyplanet I've edited my post to adjust the pronoun. :) Wifi issues should just produce [Sync Errors](http://habitrpg.wikia.com/wiki/Sync_Errors), which is where your browser / app temporarily has data that has not been saved to the server, and then when you reload, the browser's data is completely overwritten by the server's data. That doesn't seem to be what's happening here. But really, I ha

[2015-01-14 20:21] paglias commented on #4313
@Alys if i'm not wrong we also had reports where refreshing didn't solve the issue. When you send an action to the server it sends also a `version` attribute which tells which data you have, if it doesn't correspond to the one the server has than it assumes that you don't have the most recent one and thus resend the whole user object to the browser.

Caching: we don't cache anything nor tell the b

[2015-01-14 20:34] paglias opened #4518 "Automatically sync at cron time"
Steps:
- [ ] Calculate next cron time
- [ ] Use $interval
- [ ] Reschedule $interval after CDS changed
- [ ] Reschedule $interval after manual sync or change in `dayStart` or `lastCron` after sync
## <bountysource-plugin>

Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/7767642-automatically-sync-at-cron-time?utm_campaign=plugin&utm_content=tracker%2F68393&utm

[2015-01-14 21:16] BrassOtter opened #4519 "Challenge daily still there, Challenge is not"
Alright, so after a brief leave of absence, I returned to habit RPG to find myself back at level one. Not surprising at all. But, I've got four challenges on my tasks list, and they don't how up in the challenges tab. I can't rejoin them to remove the tasks, and I'm stuck with a broken daily that I have to complete and get 'free' EXP and gold or it damages me.

[2015-01-14 21:40] lefnire commented on #4514
@paglias we could remove it, but the type attr is used as a convenience in various locations (html, cron, score, etc) - which would be overhead to determine given the list it's in.

Eventually, I'm moving to tasks stored as objects, which would mitigate a lot of this ([main](https://github.com/habitrpg/habitrpg/tree/tasks-obj), [shared](https://github.com/habitrpg/habitrpg-shared/tree/tasks-obj))

[2015-01-14 22:43] Alys commented on #4518
Is the idea that this would force a cron to happen at the CDS time even if the user doesn't log in?

[2015-01-14 22:46] Alys commented on #4519
Please see "Deleting a Challenge Task" in the wiki's [Challenges](http://habitrpg.wikia.com/wiki/Challenges#Deleting_a_Challenge_Task) page. If the full process described there doesn't help, tell us here and we will reopen this issue.

[2015-01-14 22:46] #4519 closed, assigned to nobody

[2015-01-14 23:06] paglias commented on #4518
No, it's just in case the user keeps habit open through cron time, in which
case it sync so that it gets cron results to the browser
Il 14/gen/2015 23:43 "Alice Harris" notifications@github.com ha scritto:

[2015-01-14 23:16] Alys commented on #4518
So if the HabitRPG website was left open overnight in a browser on a running (not hibernating) computer with an active internet connection, cron would occur at the CDS time?

If HabitRPG had been left open but the computer was hibernating overnight or the internet connection was turned off, would cron occur as soon as the computer or connection was woken up the next morning, even if the user didn'

[2015-01-14 23:17] deilann commented on #4518
It's more when it's left open that when the user ticks off a task (making
cron happen) it forces a sync, yes?

On Wed, Jan 14, 2015 at 3:16 PM, Alice Harris notifications@github.com
wrote:

[2015-01-14 23:18] Alys commented on #4518
But that was already happening wasn't it? A sync occurs every time a task is ticked off?

[2015-01-14 23:24] deilann commented on #4518
Other things can force cron, though, that don't force a sync.

On Wed, Jan 14, 2015 at 3:19 PM, Alice Harris notifications@github.com
wrote:

[2015-01-14 23:35] Alys commented on #4518
Basically, @paglias, we just need to know how cron behaviour will change so we can describe it to the users. :)

[2015-01-15 01:47] iunn-sh commented on #4116
Tasks syncing is trouble-free. Items syncing is having issue.
iOS 8.1.2

[2015-01-15 07:41] Alys commented on #4116
@jbytw Can you tell us what kinds of items you're referring to when you say that item syncing is having issues?

[2015-01-15 11:27] iunn-sh commented on #4116
It is somewhat fixed now! Thanks.

[2015-01-15 12:27] djstinkay opened #4520 "Cron related issue between mobile and browser?"
I am having a cron issue - and it seems to be related to using my browser and my mobile device.  I'll check off as many dailies as i can on my browser before I go to bed, then make sure to hit sync, shut down my browser and machine, and use my mobile device to check of the remaining items just before hitting the sack.
Starting a few days ago, when I make this switch, many of the tasks I already ch

[2015-01-15 15:25] paglias commented on #4518
@Alys @deilann so what I want to make is that if you leave habit open trough cron time you might see things as they still have to reset but that's not exactly true because the first action you take will trigger cron so what you see on the site is not what you _should_ see. I understand that cron is not meant to run automatically but I want to avoid a situation where while cron has yet to run anyth

[2015-01-15 15:34] paglias commented on #4520
@djstinkay thanks for the report. Could you check that you're using the latest version of the app and that Google Play shows no updates for it?

[2015-01-15 15:57] Bewildebeest opened #4521 "Progress not toggling on some habits"
My User ID: fc1b3c1a-fb3c-4070-acf3-7acf64432156
And I'm currently in the most recent version of Chrome, operating in Windows 7.

About half of my habits are currently not doing anything when I click on the progress bar. The other half, and my dailies, seem to work fine, but these just don't react. I don't get any error messages when this happens.

[2015-01-15 16:29] djstinkay commented on #4520
I just double checked, and everything is up to date.

Sent from my ludicrously huge smartphone.

---- Matteo Pagliazzi wrote ----

[2015-01-15 16:43] Atomk opened #4522 "Part of the site doesn't use translated strings"
As the title says, I have found parts of the site using English strings even if there is a translated string available. I checked only the Italian translation but I am pretty sure that such problems can be found also in other languages (it's not the first time I discover these issues in the site).
What I've found till now:
1.  **[solved]** Backgrounds descriptions
2. **[solved]** "Subscribe" form

[2015-01-15 18:11] Shibara opened #4523 "Quest stats not updating?"
Hi,
It seems something might be off with my quest stats. When the quest system first was introduced, I did a lot of quests on my own. A few weeks ago I joined a party and we have been questing together, even quests I did before on my own. My stat monitor still does show that I did all quests only x1, and at least one quest is even completely missing (Laundromancer/Mundane pt. 3). As a result, I al

[2015-01-15 18:23] deilann commented on #4518
no, no, I definitely want it to trigger cron... it should!

On Thu, Jan 15, 2015 at 7:25 AM, Matteo Pagliazzi notifications@github.com
wrote:

[2015-01-15 18:38] crookedneighbor commented on #4523
Using the member look up service in the api, this is what is displayed for your completed quests:

[code]

I believe mundane quest line has the key of atom1, atom2, atom3. You should have the nameless helm (`head_special_2`) if you completed the mundane quest line, but I don't see it in your owned equipment object. Did you die and lose it? If so, is it available for purchase in your rewards?

Devs

[2015-01-15 18:40] deilann commented on #4523
No, it shouldn't.

There's also a question: did you actually participate in the atom3 quests?
Does your party chat show you ever doing damage/finding items? If you join
a party in the middle of a quest or they start before you accept, you are
not actually participating and you will not get the achievement/rewards.

On Thu, Jan 15, 2015 at 10:38 AM, Blade Barringer notifications@github.com
wrote:

[2015-01-15 18:43] SabreCat commented on #3904
Wow, 46.5k affected. I wonder where these came from!

[2015-01-15 19:12] paglias commented on #4518
@Alys as for the `what happens when the computer is suspended` question, it looks like it _should_ get executed when it wakes up http://stackoverflow.com/questions/6346849/what-happens-to-settimeout-when-the-computer-goes-to-sleep

[2015-01-15 19:57] Shibara commented on #4523
Thanks for checking :)
I should have participated, yes. When I first joined the party, they were already in a quest, that's where I learned about participation (earlier I had tried to recruit my own party, had a member and he was not doing any damage because he was in the party, but not in the already started quest).
Problem is, this has happened... probably at the beginning of December, and I can

[2015-01-15 20:37] Alys commented on #4520
The only time I ever had a cron problem (excluding the problems of cron just not running at all or running twice) was when I was using both phone and mobile (something I don't usually do): https://github.com/HabitRPG/habitrpg/issues/4313#issuecomment-67069390  I wasn't able to replicate it.

@djstinkay's report here is another instance of there seeming to be two "versions" of his data like this: h

[2015-01-15 20:39] Alys commented on #4313
Another report with interesting features (refresh not helping, etc): https://github.com/HabitRPG/habitrpg/issues/4520 "Cron related issue between mobile and browser?"

[2015-01-15 20:51] crookedneighbor commented on #4523
I just want to clarify, you said "guild" a couple of times, but you meant "party", right? I ask because guilds don't do quests, just parties. I'm sure that's what you meant, since you describe participating in a collection quest with the party later.

Just to be sure, whenever a quest is initiated from another member of your party, a modal pops up for you that asks if you want to accept the quest.

[2015-01-15 20:51] Alys commented on #4523
Free Yourself of the Dragon's Influence is "vice1" which is in your list of accomplished quests.

To be sure of seeing all quest log entries, you need to click the "Fetch Recent Messages" button. Don't rely on a reload or full-page sync.

Note to devs, the "Mandalorian Guild" party is huge - close to 40 members the last time I looked (less than a month ago).

[2015-01-15 20:51] Alys commented on #4523
@crookedneighbor, the "Mandalorian Guild" is definitely a party. :) I've looked into it before.

[2015-01-15 20:55] lemoness commented on #4313
Minor note - last night, when I fetched data on the Data Display Tool, it
did not update to my most recent information. I tried fetching data several
times, and then, remembering this ticket, refreshed Habit fully. The Data
Display Tool then updated to the expected stats when I fetched my data.
This morning, all of my tasks refreshed normally. If it happens again,
should I take one for the team an

[2015-01-15 21:01] Shibara commented on #4523
Oh myyy... sorry, yes, of course I meant a party, not guild! (confusing name! ;) )
Yes, I know the popup, and I have experienced all possible outcomes (declined, accepted and party started without me). I was a member of the party and I had accepted the invitation. I also was shown in the quest list before the initiator started the quest as having accepted.

However... it might just be that I had n

[2015-01-15 21:06] Alys commented on #4313
Blimey... this bug...!!!! @lemoness yes, I think it would be useful to see what happens if you don't refresh.

[2015-01-15 21:10] lemoness commented on #4313
Okay, I will keep an eye out!

On Thu, Jan 15, 2015 at 1:06 PM, Alice Harris notifications@github.com
wrote:

[2015-01-15 21:11] Alys commented on #4518
@paglias So this change WILL cause cron to run at the CDS time if HabitRPG has been left open in a browser on a non-hibernated computer - is that right?

What about if the HabitRPG app is running on a smartphone overnight? Will that cause cron to run at CDS?

[2015-01-15 21:16] Alys commented on #3904
I'm assuming old code or a temporarily-broken migration script. I'm not planning to hunt through the code to find out. What I am going to do (if lefnire lets me run that command) is after that wait a day, check for new "5" pets, then wait a week and check again, then a month and check again. If there's no new occurrences, I'll assume the code doesn't exist any more.

[2015-01-15 22:06] lemoness commented on #4449
How's this wolf look on the avatar?
![mount_wolf1b](https://cloud.githubusercontent.com/assets/3494081/5767751/a971f016-9cbf-11e4-8289-62ad04978596.png)
![mount_wolf1a](https://cloud.githubusercontent.com/assets/3494081/5767750/a96d2518-9cbf-11e4-8ddb-45422f766d9c.png)

[2015-01-16 01:37] vermilly commented on #3745
I am also unable to check out of the inn, and I tried what you said above but I still can't get my dailies to uncheck the next day or make the zzz's go away :(

[2015-01-16 02:14] crookedneighbor commented on #3745
@vermilly Can you post your user id here? It can be found in [settings > api](https://habitrpg.com/#/options/settings/api) (be sure to copy only the user ID, not the API Token).

[2015-01-16 03:12] jakechen opened #4525 "Habit progress chart duplicate date"
Hi all,

Clicked '+' on a habit tonight and checked the chart. Instead of modifying the existing score it added a new point as if it was tomorrow. However both dates now displays today. See below for example.

![screen shot 2015-01-15 at 8 56 21 pm](https://cloud.githubusercontent.com/assets/449311/5771004/744f5bb8-9cfa-11e4-8fb5-acafc17db277.png)

Perhaps something with the timezone? E.g. my loca

[2015-01-16 04:57] vermilly commented on #3745
7a2caff8-af0f-4103-b6bb-523599559aa4

[2015-01-16 06:19] Alys commented on #4313
I am wondering if this is not actually a cron bug at all, but instead is a "two versions of my data" bug, and the only reason cron is involved is because the "two versions" bug becomes really obvious when cron acts on just one version of the data. We have two reports now ([bunnyplanet](https://github.com/HabitRPG/habitrpg/issues/4313#issuecomment-69951871) and [Lemoness](https://github.com/HabitRP

[2015-01-16 06:45] crookedneighbor commented on #3745
I can confirm that @vermilly 's user is set to `sleep: true`. I don't see anything out of the ordinary though.

So you're in the tavern, you click the green check out button, you wait for the blue bar to disappear from the top (signifying that the sync is complete) and you refresh, but you're still in the inn?

Can you give me some details about your operating system and web browser? Would you min

[2015-01-16 13:34] trailrunnerhabitrpg commented on #4313
My bug hit again last night.  The first time this happened, I checked the problematic things off on my iPad, but yesterday I did it on the computer.   I'll try to better document--thought the problem was solved because I was fine on Thursday morning.

[2015-01-16 13:42] cthiess1 opened #4526 "Can't accept quest invite"
User ID-  c32d7d5b-3faf-42c8-8a45-10d7a0b17048

Whenever I click accept on my quest invite, this message pops up in my browser.

"Error Cannot read property 'rage' of undefined" (see Chrome console for more details).

This occurs even when I close everything and try again in Internet Explorer. Here are the Javascript errors that came up after I tried to load the page in Chrome with all my extensio

[2015-01-16 13:57] Alys commented on #4526
The two error messages are likely from the same source. Something is stopping the party from loading correctly, and the quest error is probably saying it can't read property 'rage' of an undefined party.

@cthiess1 is definitely in a party (gid aa7fbf5d-4c6c-4025-8b62-1d817316bc81, has nine members in total).

I could adjust the party data to record cthiess1's acceptance of the quest invitation, b

[2015-01-16 14:28] Neopkwaii commented on #4526
cthiess1-I'm in the same boat, although I only have the first error.

UserID: 2e17c18a-54d6-4a85-9a18-117541a4222b

I have been in the inn for the past week (during the Ragemonster strike), and I am the last person to accept the quest for my party of 4, and I receive this error:

Error cannot read property 'rage' of undefined"  (see Chrome console for more details.

When I visit the party screen,

[2015-01-16 14:38] amichaeln commented on #4086
This is now an issue with the Winter gear as well. Bought the Gumdrop Sword but receiving no buff on it while on the mobile version. Makes me not want to use the mobile version, because my character will perform better on the web version (unless the actual character stats is on the server, in which case please let me know).

UID: cdef4bf0-269f-4429-9d3d-dc88e24d01d9  on behalf of  1ca90ee9-0d06-40

[2015-01-16 14:39] Alys commented on #4086
Actual character stats IS calculated on the server (even if messages you see in the app say otherwise). You're losing nothing by using the app. It's purely cosmetic.

[2015-01-16 14:47] Anon141 opened #4527 "I bought gems but I doesn't work well."
I was building a guild, I bought gems for it ($5), paid by Paypal.
While check out, page didn't work.
it didn't back to HabitRPG page from Paypal page. (page does not responsive..??),
I couldn't get any gems but I paid my $5 to HabitRPG..

My User ID : 08da4688-1f5d-4c3f-9f24-be87902b8365
Broweser : Chrome.
OS : Win8

what should I do now?
please help me and thank you.

[2015-01-16 14:57] Alys commented on #4527
@Anon141 This is just a quick note to reassure you that we will look into this very soon and we will sort it out for you. I'm not going to now because it's way past my bedtime :) but other devs should be online in the next few hours.

[2015-01-16 15:16] nhessler commented on #4526
Error: "Error Cannot read property 'rage' of undefined" (see Chrome console for more details).

We are having this problem in our group as well. The person with this error is unable to accept quest invites or invite others to a quest. We've removed member from group and re-added, as well as trying different quests and different browsers (Safari, Chrome) but the error still pops up for them in ever

[2015-01-16 15:20] crookedneighbor commented on #4527
ping @lefnire

@Anon141 Based on your description, it sounds like you tried to purchase 20 gems for $5 (rather than paying $5 a month for a subscription).  Can you forward a copy of the receipt you received from Paypal to tyler@habitrpg.com?

[2015-01-16 15:22] Alys commented on #4313
I have this "two versions of my data" bug myself now!!!  My cron has not happened yet, and won't for another 4.5 hours, and my previous cron this morning was normal as far as I noticed (certainly all my Dailies become unticked) so what I am reporting here has nothing to do with cron. I am writing each part of this as I investigate. At the end will be a summary highlighting the important points. No

[2015-01-16 15:28] unclebeard commented on #4526
This error troubled my party today when trying to accept Moonstone Chain. No matter which user was last to accept, the last user got the error. We canceled and tried one of the new dinosaur quests with no problem.

[2015-01-16 15:30] Alys commented on #4526
Are all of the quests that are showing this problem collection quests? I.e., no boss? If so, it could be that there's code somewhere that references `boss.rage` without checking to see if `boss` exists. I'll look into that soon if no one else does first.

[2015-01-16 15:37] Neopkwaii commented on #4526
Alys; we are trying to do the polarbear pet quest from last winter season.  I honestly don't know if it's collection or not, but I believe so.

And I thought you were going to bed 2 hours ago!!!!

[2015-01-16 15:46] Alys commented on #4526
@Neopkwaii yes, it is, thank you!

[2015-01-16 15:53] Alys commented on #4526
**devs**:

I reckon this is it: https://github.com/HabitRPG/habitrpg/blob/develop/views/options/social/boss.jade#L56-61

When HabitRPG tries to display the quest box in the party page, it fails for collection quests because there's no `boss.rage` to satisfy the `ng-if` and other code there.

I'm lacking sleep so I shouldn't be programming for production fixes. :) Can someone else do a fix?

[2015-01-16 16:03] crookedneighbor commented on #4526
@Alys I'll look at it now. GO TO SLEEP.

[2015-01-16 16:07] Alys commented on #4526
I can't! Too wired!!!! :)  Thanks for taking this.

[2015-01-16 16:21] crookedneighbor commented on #4526
It's actually this line: https://github.com/HabitRPG/habitrpg/blob/develop/src/controllers/groups.js#L665

The if conditional above that checks for boss needs brackets. Pushing now.

[2015-01-16 16:23] #4526 closed, assigned to nobody

[2015-01-16 16:24] SabreCat commented on #4526
Whoops! My bad there!

[2015-01-16 16:24] crookedneighbor commented on #4526
No problem. Happens to everyone!

[2015-01-16 16:28] crookedneighbor commented on #4526
We'll be deploying this fix in the next half hour. Thanks for your patience everyone!

[2015-01-16 16:37] Alys commented on #4313
paglias has told me now that we do actually do some caching. We use the browser's local storage, so the ["two versions of my data" bug](https://github.com/HabitRPG/habitrpg/issues/4313#issuecomment-69973523) probably is a real thing, and this issue isn't about a cron bug at all (cron merely makes the "two versions" bug more obvious).

https://github.com/HabitRPG/habitrpg-shared/commit/4a22b1dc57d1

[2015-01-16 17:03] Neopkwaii commented on #4526
Thank you so very much @crookedneighbor !   I'm fixed!

[2015-01-16 17:26] bunnyplanet commented on #4313
"When I click HabitRPG's sync button in the browser, literally nothing happens! There is no blue bar across the top of the page and nothing changes."

That's the same issue I've been intermittently having.

[2015-01-16 17:29] paglias commented on #4313
@bunnyplanet we just fixed it :) it will take some more time to get to the mobile app but the browser is fine now

[2015-01-16 17:31] paglias commented on #4525
@jakechen I would say this is the normal behavior for a plus habit, you can have multiple entries in a single day. Dailies instead will show the score only once per day

[2015-01-16 17:31] #4525 closed, assigned to nobody

[2015-01-16 17:33] paglias commented on #4518
@Alys it's right. As for phone we can add it there too but I think the app doesn't run in background

[2015-01-16 17:42] paglias commented on #4521
@Bewildebeest thanks for the report. Could you please open HabitRPG in Google Chrome, then open the console Ctrl+Shift+J and click the progress the progress bar. If any error appears in the console, you should report it here.

[2015-01-16 17:43] jwd0503 commented on #1057
I'm having the same issue, and I just wanted to share my experience, in case it helps.

I use Habit on multiple devices: my work computer, my smartphone, and my home computer. Yesterday, I made a lot of changes to my Habit setup while on my work computer: cleaning out old items, adding new items, editing existing items, etc.

When I got home last night, none of those changes I'd made at work were

[2015-01-16 17:51] Alys commented on #4518
@lemoness @blade @deilann and anyone else who often does user support in the Tavern:

This change probably won't affect many people, but we might see occasional questions that result from it, and we should start mentioning it when we describe the time at which cron happens.

Typically, we'll tell a user that cron happens when they take their first action on HabitRPG after their Custom Day Start (C

[2015-01-16 18:04] Alys commented on #1057
@jwd0503 So to confirm, this morning all your Dailies were still ticked off - is that correct?

All of the changes that you made on your work computer - have they now shown up on your home computer, or are they still missing?

[2015-01-16 18:22] paglias opened #4528 "Error handler for failed sever calls never executed"
This is for @lefnire

When a request end with an error (either on the server or because of a lack of connection) it pass through [an interceptor](https://github.com/HabitRPG/habitrpg/blob/develop/public/js/app.js#L232)

At the end of it we [return the response](https://github.com/HabitRPG/habitrpg/blob/develop/public/js/app.js#L265). This causes it to be handled by the [succcess handler](https://g

[2015-01-16 19:34] lemoness commented on #4518
Would it make sense to say something like: "Cron happens at your Custom Day
Start, unless the browser is closed, in which case it will happen as soon
as you next open Habit"?

On Fri, Jan 16, 2015 at 9:51 AM, Alice Harris notifications@github.com
wrote:

[2015-01-16 19:38] nhessler commented on #4526
My group is fixed as well. Thanks Guys!

[2015-01-16 19:38] lemoness commented on #4527
@Anon141 Please copy leslie@habitrpg.com on the email if you haven't
already sent it! We will get your gems back soon.

On Fri, Jan 16, 2015 at 7:20 AM, Blade Barringer notifications@github.com
wrote:

[2015-01-16 19:41] Alys commented on #4518
It might do. It sounds almost like the opposite of what we've been telling them so far, but I think it makes more sense.

[2015-01-16 19:42] jwd0503 commented on #1057
@Alys Looking at my list on my work computer, it appears that one Daily I'm 90% was checked off tomorrow has reset to unchecked. But yes, the rest are still ticked off. If I got to All I can see them there with a checkbox in them.

I'll have to check my home computer later this evening, and will update the thread then.

[2015-01-16 19:53] paglias commented on #4518
I think that what @Alys outlined about healing is just a trick and the assumption should be that cron runs at cds as @lemoness says

[2015-01-16 21:39] lefnire commented on #4528
God our repo is ugly. Sorry world. Anyway, investigating

[2015-01-16 22:23] lefnire commented on #4528
I'm a bit lost in code. I'm showing:
- I updated the _website_ [Jun 11](https://github.com/HabitRPG/habitrpg/blame/develop/public/js/app.js) to conform to Angular update.
- You updated _mobile_ [Sept 29](https://github.com/HabitRPG/habitrpg-mobile/blame/master/scripts/app.js) (message "final touches")

There's quite a few difference between the two blocks of code, we'll probably want to consolidat

[2015-01-16 23:04] kangabell commented on #4440
I'm trying to hunt down how the margin is being calculated. It is proving to be somewhat difficult. If anyone has any clues let me know!

[2015-01-16 23:15] Alys commented on #4518
_tl;dr: Users understanding cron timing properly is helpful to them and reduces questions. I'll put a suitable description on the wiki and we'll make sure the Tavern regulars understand the new situation._

I don't think we should let it be an assumption that cron runs at CDS. It was for a long time and we've only fairly recently gotten most people realising that cron can run after CDS. My feeling

[2015-01-16 23:25] lefnire commented on #4528
@paglias _great_ find! This is definitely why offline isn't working. As I recall, `$q.reject(response)` caused the chain of listeners to halt there in a previous version of Angular; where `return response` would continue to propagate to listeners, including whether or not the response is a success or error. It must be that since Angular 1.3, that had been fixed and everything works as expected. Su

[2015-01-17 00:04] Alys opened #4531 "Dinosaur mounts put a white vertical bar to the right of the avatar"
Dinosaur mounts cause a white vertical bar to appear to the right of the avatar.

It looks like this with any dinosaur mount:
![screen shot 2015-01-17 at 9 56 39 am](https://cloud.githubusercontent.com/assets/1495809/5786373/a8b52f6e-9e2f-11e4-8206-681f13319167.png)
See also all the other colours of mounts in the hidden section at [The Dinosaur Unearthed](http://habitrpg.wikia.com/wiki/The_Dinosau

[2015-01-17 00:16] sadanyagci commented on #4173
Would anyone object to me starting development on this project in the way I [described above](https://github.com/HabitRPG/habitrpg/issues/4173#issuecomment-69951804), with option 2 of [the other above comment of mine](https://github.com/HabitRPG/habitrpg/issues/4173#issuecomment-69965728), keeping as much exactly as is as possible?

[2015-01-17 00:28] deilann commented on #4173
Yes. Your translation solution causes a significant amount of overhead for Habit's developers, where there was previously none.

The subtask solution is a major change that may not be desired implementation.

I don't like the idea of editing tasks in modal.

I don't like the term Repeater.

(Brief because I'm running out the door not because I'm trying to be passive-aggressive.)

[2015-01-17 00:37] Alys commented on #4173
I'm troubled by the natural language translation idea. I think unless it's very clear to the users how to use it, it would be confusing and prone to user-error, and because so many languages are involved (some of them translated by inexperienced translators, or not translated at all), the possibility for confusion is increased.

Initially, I think I'd like to see a less flexible but easier to unde

[2015-01-17 00:45] lemoness commented on #4531
@sabrecat

Is this related to the resizing frustrations we had?

On Fri, Jan 16, 2015 at 4:04 PM, Alice Harris notifications@github.com
wrote:

[2015-01-17 00:52] lemoness commented on #4173
For ease of explanation and user onboarding, I would like repeating To-Dos
to be kept as simple as possible - I liked the previous ideas that Blade
and Alice were discussing. We already have complaints that HabitRPG is not
intuitive enough for the average user, and I'd like to avoid exacerbating
that.

On Fri, Jan 16, 2015 at 4:38 PM, Alice Harris notifications@github.com
wrote:

[2015-01-17 01:09] sadanyagci commented on #4173
Ok, editing in modal was to fix something that could be fixed without it, so I can skip that.

We should probably vote on a word at some point. Daily will need replacing eventually, as it's hardly even applicable now, what with being able to make a daily weekly, and now further adding functionality.

Subtasks would keep the user side of things as-is and allow minute changes to individual dailies,

[2015-01-17 01:16] sadanyagci commented on #4173
Future possible addition to that. Schedule a task to be completed after a different task. Perhaps you want to do something, but only after you've already done something else, or at the very least you want a reminder to do that following thing, so you can if you do need to do it, but if you don't need to do it you can press "N/A" and it will know you don't need to do it.

[2015-01-17 01:22] Alys commented on #4173
How would subtasks work from a user's perspective? What would they do to create a subtask? How would they see subtasks in relation to the parent task? Would there be potentially many subtasks for a single parent task? If so how would they all be displayed to avoid confusion?

If subtasks are done for Dailies, how is damage from incomplete subtasks and/or the parent task handled?

[2015-01-17 01:34] lefnire commented on #4528
`$q.reject(response)` back in. Refactored mobile + web => shared. Closing now, @paglias if you get a chance could you double check it works for you on local - if not, re-open

[2015-01-17 01:34] #4528 closed, assigned to nobody

[2015-01-17 01:39] sadanyagci commented on #4173
It would only be a subtask from a development standpoint. A daily would be one task that schedules itself for multiple days and times. Each event would have that daily's settings, except if the person wanted to change something, like click an N/A button so they don't have to do it that day, or add a note, or change it from 4:30 to 5:30, or postpone it to tomorrow. From a database perspective, the

[2015-01-17 01:41] emeraldmir commented on #4340
Hi, I'm new here. My friend gifted me a three-month subscription in December, and I was able to buy my allotted 30 gems with gold before December 31. However, it has been a few weeks since the gems should have reset for January, and that hasn't happened. Is there a way to fix this problem?
My User ID: e3fcddc8-495a-4d13-b616-36aeeebbe233
Safari, Mac OSX Yosemite.

[2015-01-17 01:57] emeraldmir commented on #4480
My friend gifted me a three-month subscription in December, and I was able to buy my 30 gems with gold before December 31. But the gems didn't reset in January, and it's been a few weeks now. I have logged out and back in, as well as cleared my browser's cache or tried a different computer.
My User ID: e3fcddc8-495a-4d13-b616-36aeeebbe233
Safari, Mac OSX Yosemite.

[2015-01-17 01:59] Alys commented on #4480
investigating now

[2015-01-17 03:01] Alys commented on #4480
@emeraldmir I've reset your gem balance so you should be able to buy all of your monthly gems now. You can ignore the rest of this comment if you wish; it's just about fixing the bug for other users too.

@lefnire: I've also reset emeraldmir's purchased.plan.dateUpdated value to today, so that cron won't cause the balance to be reset again until next month.

The problem was this:
https://github.co

[2015-01-17 04:13] Alys commented on #4173
Subtasks really do seem like a big change for the backend - changes to the database structure, much extra code, and differences in how cron processes damage for Dailies. We've had various issues with cron over the past many months which we are only recently getting under control; I wouldn't like to see more changes made to cron until our current code is proved to be stable and correct in the long

[2015-01-17 04:16] SabreCat commented on #4531
Could be an error in how I shifted the images leftward to fit in the frame.
I will investigate!

[2015-01-17 04:27] crookedneighbor commented on #4531
Yeah, that's exactly it. Batch removing the white space now.

[2015-01-17 04:34] crookedneighbor commented on #4531
Done

[2015-01-17 04:34] #4531 closed, assigned to nobody

[2015-01-17 04:38] crookedneighbor commented on #4531
@SabreCat Sorry, realizing now that I should have asked if you were in the process of adjusting them already. Haven't had enough sleep the last couple of nights and it's making me foggy.

[2015-01-17 05:00] SabreCat commented on #4531
@crookedneighbor No big, I was away from my computer so wouldn't have had a chance to fix it until just now!

[2015-01-17 06:22] bunnyplanet commented on #4313
The exact same sequence happened tonight. Fetched my data, it was off by 5 dailies. Sync button did nothing at all. Refreshing the tasks browser fixed it.

[2015-01-17 06:34] paglias commented on #4313
@bunnyplanet it shouldn't but if it happens again you should open the
chrome console (Ctrl+shift+j) and paste here any error you see
Il 17/gen/2015 07:23 "bunnyplanet" notifications@github.com ha scritto:

[2015-01-17 06:58] #4480 closed, assigned to nobody

[2015-01-17 07:09] Alys commented on #4480
I've run the script over the production database after it was checked by lefnire. For the remaining people who did not have their gems balance reset, it will be reset after their next cron, even if they are resting in the inn (a mini-cron runs for sleeping accounts).

[2015-01-17 08:25] zoli90 opened #4532 "Lost HP twice in a quest"
(i couldn't find this issue submitted, I hope this isn't a duplicate)
I was participating in a quest(moonstone pt. III) and I checked in to the inn yesterday. This morning when I refreshed the website(I only suspend the laptop without closing Firefox for the night) I lost some HP because of a party member. Then I went to the inn to check out. I pushed the button before the world boss quest was loa

[2015-01-17 10:03] Alys commented on #4532
I'm looking at your party's data (thanks for providing the party ID!) but I'd like a little more information about what you noticed. How much health did you lose each time? How many minutes, approximately, were there between the first loss and the second?

[2015-01-17 11:04] zoli90 commented on #4532
Thank you Alys! Necro-vice did 30.7 damage both times and I died after the second time(I fixed the character values after this). The time interval was probably 1 minute or less.

[2015-01-17 11:16] flutterbye commented on #4313
hit by the bug again this morning.  3 dailies reset, the rest did not
from the boss battle..flutterbye attacks The Laundromancer for 4.5 damage, The Laundromancer attacks party for 4.4 damage.
i can't remember what time i ticked everything off, but the ones that reset were the same ones that reset last time the bug hit.

[2015-01-17 11:25] Alys commented on #4532
What I'm seeing in the system logs for quest damage is that one party member did 30.7 points of damage at 2015-01-17 12:07:39 and then did the same amount of damage at 2015-01-17 16:57:54. I'm not sure what timezone those timestamps are in, so the times might look really odd to you, but the point is that they did 30.7 damage twice in five hours, which might indicate some sort of cron problem with

[2015-01-17 11:35] Alys commented on #4313
@flutterbye Is it possible to give us a rough approximation of how many hours ago you ticked off the last of your Dailes for yesterday? To the nearest hour or two? I'm hoping to find out if it was before or after we pushed a change to the site.

flutterbye's previous reports: https://github.com/HabitRPG/habitrpg/issues/4317 and https://github.com/HabitRPG/habitrpg/issues/1057#issuecomment-65208452

[2015-01-17 11:49] flutterbye commented on #4313
I think it was around 13-14 hours ago.  It's 11.45am here now, and I had
logged off before 11pm last night.  Although it was the later ones that did
not reset last time, this doesn't appear to be the case this time, but it
it the same dailies.
Thanks Alice :)

On 17 January 2015 at 11:35, Alice Harris notifications@github.com wrote:

[2015-01-17 11:55] flutterbye commented on #4313
Sorry Alice I've just looked again as I was resetting them, and it is
possible that the ones that reset were ticked off earlier.  I'm sorry that
I can't be sure this time.

On 17 January 2015 at 11:49, Carolyn Gara saltergara@gmail.com wrote:

[2015-01-17 11:56] flutterbye commented on #4313
to clarify:  i meant ticked off earlier in the day.  i hope what i'm
writing isn't too confusing!

On 17 January 2015 at 11:55, Carolyn Gara saltergara@gmail.com wrote:

[2015-01-17 11:56] Anon141 commented on #4527
@lemoness @crookedneighbor @Alys thanks for all kind comment and your help. :)
I sent the receipt to leslie@habitrpg.com. please let me know if you need anything else!

[2015-01-17 12:08] Alys commented on #4313
That's fine @flutterbye , thanks! It's the kind of information I was hoping for.

The change https://github.com/HabitRPG/habitrpg-shared/commit/4a22b1dc57d1167b24e225f2253d9272120daf63 which is related to this bug was deployed about 19 hours ago which is before flutterbye ticked off the last of her Dailies, and the ones that did not reset look like they were the last ones (which would make sense b

[2015-01-17 14:41] zoli90 commented on #4532
I've asked them and I'm waiting for their reply. The 30.7 damage only shows up once in the chat and it says it happened on 2015/01/17 03:07:39
The party member told us he lost his internet connection and couldn't check off his dailies.
It seems plausible that I had to check out twice because the page wasn't loaded fully at the time when I pushed the button.

[2015-01-17 14:53] paglias commented on #4528
@lefnire working perfectly :) I'm going to deploy with this change

[2015-01-17 15:00] paglias commented on #4514
@crookedneighbor since your pr is merged, we can close?

[2015-01-17 15:29] #4514 closed, assigned to nobody

[2015-01-17 15:50] crookedneighbor commented on #4313
@Alys Is it possible that @flutterbye had't refreshed the page, or the browser was holding onto old versions of the code? So even though it had been deployed, it hadn't been active?

[2015-01-17 16:08] crookedneighbor commented on #4440
I believe it's being calculated by the bootstrap plugin that generates the popover.

[2015-01-17 17:34] flutterbye commented on #4313
hello, no chance of if being because it needed refreshing. my laptop was
turned off overnight and before midnight.

On 17 January 2015 at 15:50, Blade Barringer notifications@github.com
wrote:

[2015-01-17 18:17] crookedneighbor commented on #4313
:+1: Thanks, that's good to know.

[2015-01-17 18:20] flutterbye commented on #4313
no problem, if i can be any more help just let me know.

On 17 January 2015 at 18:17, Blade Barringer notifications@github.com
wrote:

[2015-01-17 20:02] sadanyagci commented on #4173
Stages. Ok, I like that idea as well. I'll start on it the way you suggested.

I can understand not wanting to destabilize cron again. I wouldn't say subtasks would make a difference for how cron processes damage for dailies though. There would be changes to what it considers a daily, but other than that the only difference would be that if one of a daily's events is rescheduled for the next day o

[2015-01-17 23:44] Alys commented on #4532
@zoli90 Are you certain that it shows up only once? It's definitely in the database twice. I would be very grateful if you could check, because if it is showing up only once, we have another bug. If you have time, please click "Fetch Recent Messages" and look back for 30.7 damage. If there are two messages, they should be fairly close to each other - probably just a few messages apart.

[2015-01-18 02:27] Icemelts opened #4534 "All account data lost?"
I just logged on today, was informed I died despite completing my dailies yesterday, lost all of my equipment, gold, pets, and mounts, as well as my checklists and the challenges I was subscribed to? My dalies and habits have been reset to the default ones... basically, every thing on my account is gone!

User ID: 4c1506d8-7178-4189-8922-41f7a54d5748

[2015-01-18 02:53] Alys commented on #4534
You most likely have a duplicate account. If you delete it, you'll get access back to your old account, with all your tasks and everything still in it. Basically, don't worry, it's not all gone, and even if it is we could restore from back up. :)  However before you do anything, let me do a little investigation into the situation, just to check that I'm right. I'll get back to you in a few minutes

[2015-01-18 03:00] Alys commented on #4534
@Icemelts I can see that the account with the user ID you gave us uses a facebook login. Do you normally log in with facebook, or have you used a username and password in the past?

[2015-01-18 03:22] Alys commented on #4534
@Icemelts Okay, I've done some digging. The account for user ID 4c1506d8-7178-4189-8922-41f7a54d5748 was created about a year ago and uses facebook login. It's hardly been used, so I'm guessing you created a different account in the past and have been using that one (not using facebook login).

I recommend deleting the account that uses facebook login right now, so that it can't confuse the situat

[2015-01-18 03:27] Icemelts commented on #4534
@Alys OH! Haha, you're right! Wow, I feel a little silly, that worked, thank you!

[2015-01-18 03:43] #4534 closed, assigned to nobody

[2015-01-18 05:23] lemoness commented on #4527
I've restored your gems!

[2015-01-18 05:42] Anon141 commented on #4527
Thanks a lot, Lemoness! now I can make a guild and drag my friends.
have a nice day all of you!  :)

[2015-01-18 07:05] Alys commented on #4412
Verabird's latest changes in https://github.com/HabitRPG/habitrpg-shared/issues/433 caused the skill to be stronger still:
Level 15 player with no buffs will have 7 CON added.
Level 50 player with no buffs and all points to CON will have 55 CON added.
Level 100 player with perfect day buff and all points to CON will have 100 CON added.
Level 100 player with CON already buffed to 1000 CON will have

[2015-01-18 07:12] zoli90 commented on #4532
Now it shows up later in the party chat the second time, but honestly, I don't remember it was there yesterday morning.

[2015-01-18 07:33] Alys commented on #4417
Verabird's latest changes in https://github.com/HabitRPG/habitrpg-shared/pull/433 cause this:
Level 15 player with no buffs will have 2 CON added.
Level 50 player with no buffs and all points to CON will have 11 CON added.
Level 100 player with perfect day buff and all points to CON will have 20 CON added.
Level 100 player with CON already buffed to 1000 CON will have 35 CON added.

[2015-01-18 07:41] Alys commented on #4419
Verabird's latest changes in https://github.com/HabitRPG/habitrpg-shared/pull/433 cause this:
Level 15 player with no buffs will have 1 CON added.
Level 50 player with no buffs and all points to CON will have 7 CON added.
Level 100 player with perfect day buff and all points to CON will have 12 CON added.
Level 100 player with CON already buffed to 1000 CON will have 21 CON added.

[2015-01-19 01:45] crookedneighbor opened #4535 "Patch for for Shared-277: Fixes getting 'perfect day' buff if there were no active dailies."
https://github.com/HabitRPG/habitrpg-shared/pull/277.patch

From @efim

## <bountysource-plugin>

Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/7859596-patch-for-for-shared-277-fixes-getting-perfect-day-buff-if-there-were-no-active-dailies?utm_campaign=plugin&utm_content=tracker%2F68393&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysou

[2015-01-19 01:55] crookedneighbor opened #4536 "Patch for for Shared-232: Update npc.json"
https://github.com/HabitRPG/habitrpg-shared/pull/232.patch

@wc8

[2015-01-19 04:24] crookedneighbor commented on #3439
Down to 6 PRs:

[My Mount Master/Triad Bingo Achievement](https://github.com/HabitRPG/habitrpg-shared/pull/388) (ready to be merged, just needs a Bailey announcement)

3 PRs from @Alys
[allow Quest Scrolls to be sold for Gold](https://github.com/HabitRPG/habitrpg-shared/pull/417)
[create a "Dated" To-Dos tab](https://github.com/HabitRPG/habitrpg-shared/pull/350)
[change behaviour of chain quests (

[2015-01-19 04:27] Alys commented on #3439
Ah geeeeez....

[2015-01-19 04:56] #3579 closed, assigned to nobody

[2015-01-19 04:57] #4490 closed, assigned to nobody

[2015-01-19 08:21] Alys commented on #3439
[change behaviour of chain quests (scrolls to owner only)](https://github.com/HabitRPG/habitrpg-shared/pull/303)  --- This one will need a Bailey announcement too, when it's ready, which will be soon. Any day now.

[2015-01-19 10:03] LostInAForest opened #4537 "subscription issues"
user id: b92c0adf-1741-47b4-8710-163b906409ed

i've been away from habitrpg for something like six months, and when i logged back in a couple of days ago i saw a stack of mystery items waiting for me. huh? must've forgotten to unsubscribe. strange, but oh well. (didn't log on to my bank to double check if i'd been charged, because lazy.)

however, yesterday i thought i'd buy some gems and... i can

[2015-01-19 10:29] Alys commented on #4537
I've checked your account from a database backup that was made earlier this month (i.e., from before your subscription changes today) and your previous subscription had a termination date of 2014-08-01. You do have mystery items available to you from after that date (up to December 2014) but I suspect that's due to a bug, which we'll investigate - thank you for letting us know about this!

You sai

[2015-01-19 12:36] LostInAForest commented on #4537
the last payment to HABITRPG is from 2014-07-25 so that checks out fine. i was pretty sure i terminated the subscription around that time, good to know my memory isn't completely untrustworty after all. =)

so if you could remove all the mystery items from august to december that'd be great. or, actually a litte bit sad... but only fair, haha!

[2015-01-19 17:02] jwd0503 commented on #1057
@Alys I can confirm that when I got home Friday evening (the day my cron didn't run) the changes I'd made to Habit the day before on my work computer were now synced with my home computer and was a mirror image of what I was seeing at work.

Friday night everything updated and I'm back up and running.

[2015-01-19 17:23] Shibara commented on #4523
We just finished one of the dinosaur quests (the one with the rage bar) and for the first time since joining the party I see how much damage everyone was dealing (can't see any damage I dealt, but that's probably because I log in only in the evening and everyone else had dealt a lot of damage already). So... maybe my problem might be solved if the questlog now apperas correct. I will update you wh

[2015-01-19 17:33] SabreCat opened #4538 "Update NPM version for deploys"
When deploying to the site, Heroku displays a warning that npm 1.2.8 has various issues/vulnerabilities, and recommends upgrading to npm 2.2.0. Any reason not to?
## <bountysource-plugin>

Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/7876109-update-npm-version-for-deploys?utm_campaign=plugin&utm_content=tracker%2F68393&utm_medium=issues&utm_source=github)**

[2015-01-19 17:35] paglias commented on #4538
No one :) but be sure to specify one in the engines part of package.json
because otherwise it will use that installed in your version . 2.x.x should
be ok
Il 19/gen/2015 18:33 "Sabe Jones" notifications@github.com ha scritto:

[2015-01-19 17:47] SabreCat opened #4539 "Plusses on Habit buttons are slightly zoomed out"
On Chrome, the + on the new style of Habit buttons looks slightly misproportioned, more like a religious symbol than a plus sign:

![image](https://cloud.githubusercontent.com/assets/4501321/5805010/c124451a-9fd0-11e4-8c31-51394b461df6.png)

If I zoom in to 110%, the symbol is correctly proportioned:

![image](https://cloud.githubusercontent.com/assets/4501321/5805021/e2ed8fb2-9fd0-11e4-80dd-baa29

[2015-01-19 18:10] SabreCat commented on #4539
Ping to @benmanley!

[2015-01-19 18:38] Bewildebeest commented on #4521
Hi there!

Here's the full error report:

Given URL is not allowed by the Application configuration.: One or more of
the given URLs is not allowed by the App's settings.  It must match the
Website URL or Canvas URL, or the domain must be a subdomain of one of the
App's domains.
app-ef854652.js:6 Error: [$sce:unsafe] Attempting to use an unsafe value in
a safe context.
http://errors.angularjs.org/1

[2015-01-19 20:22] crookedneighbor commented on #4521
@Bewildebeest Any chance the text for the habits that are funky have some emoji in them?

May be related to the PR I just opened.

[2015-01-19 20:27] Bewildebeest commented on #4521
I'm afraid not; I don't use emoji.

Thanks!

On Mon, Jan 19, 2015 at 3:22 PM, Blade Barringer notifications@github.com
wrote:

[2015-01-19 20:40] paglias commented on #4521
I got it in the console but can't replicate anymore...

[2015-01-19 20:42] freeman26 opened #4541 "Completed To-dos not showing"
I completed some To-Dos and clicked on "Completed," but the Completed section is empty. :frowning: What do I do?

(Edit: You want the User ID? Oops! Here: 7ffb2a83-1ff5-4884-bf26-c2d185e3009d

[2015-01-19 20:49] crookedneighbor commented on #4539
Also, the progress graph is overlapping on the buttons:

![screen shot 2015-01-19 at 2 48 46 pm](https://cloud.githubusercontent.com/assets/2916945/5807584/6686ae62-9fea-11e4-8db6-c6d9f1dd379f.png)

[2015-01-19 20:51] crookedneighbor commented on #4541
Can you post your user id here? It can be found in [settings > api](https://habitrpg.com/#/options/settings/api) (be sure to copy only the user ID, not the API Token).

Is it possible you have a tag enabled? Click the clear button just in case, even if you don't think you have a tag enabled:

![clear tag](https://cloud.githubusercontent.com/assets/2916945/5807619/a9474b30-9fea-11e4-9db5-cf52099894

[2015-01-19 20:56] Alys commented on #4541
If the tag clear button doesn't help, keep in mind that completed To-Dos are archived three days after they have been completed, and then you can't see them again through that web interface. You can see them if you export your data (Settings -> Export -> "user data" option) and you can also see them through Data -> Data Display Tool -> To-Dos Completed.

[2015-01-19 21:17] Alys opened #4542 "sprite image glitches when site images are updated -- css not updating at same time"
This issue is so we can discuss solutions for the common problem of image glitches every time the sprites change. If anyone has any suggestions, or wants technical information about the problem so that they understand it better, comment here!

[2015-01-19 22:01] freeman26 commented on #4541
I cleared it, and it still didn't work. I made it/marked it today, and checked the Completed section moments later, so it should still be there. I tried the Data -> Data Display Tool -> To-Dos Completed thing, and found it.
I don't need to unmark it or anything, but I wanted to mention the issue because other people might bump a checkmark (or the wrong one) before they are finished, and won't be a

[2015-01-19 22:05] Alys commented on #4541
Did this To-Do have a date assigned to it?

I think there's a bug related to the new Dated tab that's causing dated To-Dos to not appear in Completed.

[2015-01-19 22:07] Alys commented on #4541
In fact, I've confirmed it. Thanks for reporting this @freeman26! We'll get this fixed.

[2015-01-19 22:19] Alys commented on #4541
Oh no, it's all completed To-Dos that aren't showing. This, I do not understand. I am CERTAIN that I tested completed To-Dos in the change that introduced the Dated tab!

[2015-01-19 22:34] Alys commented on #4541
Hmmmm. Completed To-Dos ARE showing up in the Completed tab on my local install. I'm going to see if we can do another deployment, in case some change didn't get deployed properly to production and beta. <shrug> That clutching at straws though.

[2015-01-19 22:56] Alys commented on #4541
Deployment didn't help. We're looking into whether a recent change to third-party libraries caused the Completed tab's code to break.

[2015-01-19 23:19] freeman26 commented on #4541
Yes, it did have a due date: January 21 (this Wednesday).

[2015-01-19 23:24] kawunngg commented on #3207
i won't recreate what was happening, because it would cost me gems ... maybe in a few days again, because right now i'm shopping seasonal gear.
also i can't provide the exact words of everything, because i use habitrpg in german.
so... i clicked "change class".
habitrpg: "3 gems ok?"
me: "ok"
there was the dialogue "choose new class or deactive class system". well, the button was not named like th

[2015-01-19 23:35] Alys commented on #4541
Okay, fixed now. lefnire ran grunt over habitrpg-shared and deployed that. Thanks again for reporting this @freeman26. You might need to reload to get the fix working for you.

[2015-01-19 23:35] #4541 closed, assigned to nobody

[2015-01-19 23:44] freeman26 commented on #4541
Okay, great! Thanks!

[2015-01-19 23:56] deilann commented on #3207
Opting out doesn't give you all the benefits of the class system. It allows
you to purchase warrior armor, but doesn't allow you to allocate attribute
points or to use warrior spells. Whenever you opt out, you can later opt in
and choose a new class for free. That is expected.

Also, when you click change class, it should say more than 3 gems ok? And
in fact, I just checked it and it does at least

[2015-01-20 00:14] Alys opened #4543 "tags do not filter tasks"
Clicking on a tag does not reduce the number of tasks shown.

They were working in a browser tab that I had open from before the most recent grunt compile and push to production, and now that I've reloaded that tab, they no longer work, so possibly something in the latest habitrpg-shared grunt compile stopped them working.

[2015-01-20 00:16] kawunngg commented on #3207
of course it said more than "3 gems ok?" ;)

i guess it would make more sense to show the options and after that to ask the question if one's shure. as i said i really did not read too close. which i did not because i thought i "know" the procedure. totally my fault. but now i wonder if this would not be too weird for people, who are not aware of what they can choose.

[2015-01-20 00:52] beffymaroo commented on #4430
So this same issue has just started happening to me again, with both To-Do's and Dailies with checklists (I noticed as of today, 1/19/15).

[2015-01-20 01:01] Alys commented on #4543
fixed by blade in https://github.com/HabitRPG/habitrpg-shared/commit/42e1020c60b974424beca74b508442d720cf8b67

[2015-01-20 01:01] #4543 closed, assigned to nobody

[2015-01-20 01:41] crookedneighbor commented on #4430
Seems to be something with the `bo-id` attribute. Did upgrading Angular break bindonce?

[2015-01-20 01:42] deilann commented on #4430
I really hope not.

On Mon, Jan 19, 2015 at 5:41 PM, Blade Barringer notifications@github.com
wrote:

[2015-01-20 02:06] jakechen commented on #3079
In relation to the issue your data display tool (which links here), the issue stems from timezones. Preening combines dates based on GMT, whereas most displays will show local. This explains why your data display tool will occasionally display 2 records for the same day. For example from your data display tool:
![image](https://cloud.githubusercontent.com/assets/449311/5811044/e0d593ec-a015-11e4-8

[2015-01-20 02:28] Alys commented on #3079
I would like to see the preening function not merge any datapoints that have been made in the previous couple of days. That would allow people to see the times of all of their clicks for today and yesterday, which is a common request (e.g., to see if they remembered to record a particular instance of a Habit).  The downside is that more database space would be required.

If preening can be modifie

[2015-01-20 02:31] jakechen opened #4544 "Habit count/history feature proposal/discussion"
Been chatting with @Alys and in Aspiring Coders/Legends regarding a Habit Count/History feature that I will be personally working on. I would like to kickoff discussions on this feature.

It sounds like there's a good amount of demand for the ability to:
1. see how many times you completed a habit in a given day
2. see how many times you completed a habit over time (similar to value)
3. export the

[2015-01-20 02:32] deilann commented on #4544
(this should definitely _not_ be moved into shared as we are working on
getting rid of shared)

On Mon, Jan 19, 2015 at 6:31 PM, Jake Chen notifications@github.com wrote:

[2015-01-20 02:35] Alys commented on #4544
Can you give us some information about what you have in mind for preening the count field? For example, I think you said elsewhere that you'd change the count to zero at the start of each day - is that correct?

[2015-01-20 02:37] ladyvoldything commented on #4132
I'm having the same error. I'm really new to HabitRPG, so I'm not really sure what I'm doing wrong. I tried joining my first guilds, and when I tried to look at their challenges, it keeps taking me to MY "challenges" tab, which is blank except for the green button and the angry red error message.

It happens every time, no matter how many times I refresh, with every guild. I can't look at any of t

[2015-01-20 02:51] ladyvoldything commented on #4132
It also is not letting me leave my party. Which is a problem, since it's a solo party and I want to join a real one. This is really screwing with my ability to be a part of the game.

[2015-01-20 02:52] crookedneighbor commented on #4132
I'm sorry you're having those issues.

Can you post your user id here? It can be found in [settings > api](https://habitrpg.com/#/options/settings/api) (be sure to copy only the user ID, not the API Token). This should give us some info to figure out what's going on.

[2015-01-20 02:54] ladyvoldything commented on #4132
Sure.
d0e22b31-10f3-4ec3-8c50-99ea3cc350f7

[2015-01-20 03:07] crookedneighbor commented on #4132
Hmmm... don't see anything particularly weird. Maybe another dev with direct access to the DB could look further.

In the meantime, let's take a look and see if Google Chrome can report any errors for us.

[Here's a download link for Google Chrome.](https://www.google.com/intl/en/chrome/browser/desktop/index.html)

When on the HabitRPG site while using Chrome, press `crtl + option + j (pc)` or `cm

[2015-01-20 03:12] jakechen commented on #3079
It seems to me that task.value is never tracked more than once a day, instead the task.value is incremented every time score() is called:

[code]

(https://github.com/HabitRPG/habitrpg-shared/blob/develop/script/index.coffee#L1078)

As such I think the core issue lies outside of preenHistory().

In order to track a habit's daily occurrences then the functionality of score() needs to be modified no

[2015-01-20 03:33] Alys commented on #4132
These sort of problems tend to be temporary and purely in the browser, rather than due to any database issues - i.e., there'll be nothing wrong with ladyvoldything's account. The problems tend to fix themselves after a couple/few hours. We could adjust the database data manually, but it's a bit risky and not the ideal solution - definitely a last resort if there's still problems after a day or two

[2015-01-20 03:39] crookedneighbor commented on #4132
Good to know @Alys. Any idea what causes it in the first place?

@ladyvoldything can you update us in the next two days and see if you're still having trouble?

[2015-01-20 03:45] Alys commented on #4132
Just what lefnire wrote above in various comments. I've had no useful thoughts of my own. :)

[2015-01-20 03:45] lolai opened #4545 "I have lost 14 gems by sending them to myself as a gift"
My user ID is: 6692d9ce-2c4e-42d0-b97e-704f25716fd5
Here is a screen shot saying I sent the 14 gems:
![screenshot](https://cloud.githubusercontent.com/assets/10591133/5811934/a7e4cc6c-a013-11e4-838a-caf554a804e4.png)

[2015-01-20 03:57] Alys commented on #4545
Hi @lolai. We're looking into this!

[2015-01-20 03:58] jakechen commented on #4544
Sure thing. I think the resetting the count was Ryan's idea. My idea was to mirror how Values are currently done: if it's a new day then add a new date/value pair to history, else increment current date/value pair. This logic is shown here:

[code]

(https://github.com/HabitRPG/habitrpg-shared/blob/develop/script/index.coffee#L1078)

This means
1. daily preening isn't needed since every day will h

[2015-01-20 04:03] Alys commented on #4545
@lolai Are you certain that is your unique user ID? It seems to be someone else's. Please go to Settings -> API and paste in your User ID as listed there. Don't paste the API Token!

[2015-01-20 04:08] Alys commented on #4545
Actually, never mind. You've changed your display name in the past couple of days, which is fine. :) I've given you back 14 gems. Let us know if they haven't appeared after you've reloaded the page!

[2015-01-20 04:08] #4545 closed, assigned to nobody

[2015-01-20 04:11] #4527 closed, assigned to nobody

[2015-01-20 08:37] Alys commented on #4537
@LostInAForest I've removed those items. We appreciate your honesty! If you notice any problems with your gear, be sure to comment here and we'll reopen this issue.

For the record, this was the gear owned object before:

[code]

and this after:

[code]

[2015-01-20 08:37] #4537 closed, assigned to nobody

[2015-01-20 14:30] benmanley commented on #4539
@sabrecat That’s weird. Not getting it on Chrome for Mac. I don’t have an easy way to test on Chrome for Windows. Any chance you could try inserting the following at [tasks.styl#L499](https://github.com/HabitRPG/habitrpg/blob/develop/public/css/tasks.styl#L499):

[code]

@crookedneighbor Ah. Looks like it’s an existing layout issue with the progress graph. It does the same thing for Dailies and al

[2015-01-20 15:47] SabreCat commented on #4539
No effect from adding that style attribute in the console, at least.

[2015-01-20 17:33] dkemmer opened #4547 "No quest reward?"
Hello! My character name is Ferin and my User ID is d9b9c1f8-e78a-4e21-9cdf-f15abacc49ad.

I completed the "Egg Hunt" quest about a month ago. Never received a reward and didn't think too much about it. I waited a while but it never registered that I had completed the quest. Everyone else, 4 others, in the party received them and have the quest listed as completed in their profile.  I don't know i

[2015-01-20 18:15] crookedneighbor commented on #4547
@dkemmer Weird.

I can confirm that @dkemmer does not have any egg eggs, or egg pets in inventory and does not have the quest achievement.

[code]

I'm going to award you the 10 eggs from the quest. Let us know if you continue to have quest weirdness!

[2015-01-20 18:15] #4547 closed, assigned to nobody

[2015-01-20 19:24] MHDante opened #4548 "SP rewards (value < 1) are off by one on the notification in the browser. a reward of value 0.01 shows undefined."
uid: e5804925-e53c-48b5-90ed-03d656da0f2e
Browser: Chrome Version 39.0.2171.99 m
OS: Windows 10 Build 9879

How to reproduce:
Create a Reward with a value of 0.01. Other values that are messed: 0.02, 0.51, etc
Purchase the Reward.
Observe the top right notification.
![bug](https://cloud.githubusercontent.com/assets/4652122/5824082/fe48d5a2-a0af-11e4-90a4-303080f24933.png)
## <bountysource-plugin>

[2015-01-20 21:13] dkemmer commented on #4547
Wonderful! Thank you so much for taking care of this so quickly! Am I just out of luck with the achievement though? This quest is no longer available.  I can confirm that the eggs went in my inventory.  Again, thank you for the quick response and support!

[2015-01-20 21:18] Alys commented on #4547
The achievement is a bit more complex. It requires direct database manipulation. I'll do that for you, but it will take a bit of time. :)

[2015-01-20 21:57] lemoness opened #4549 "Can enter letters in Rewards field"
After I got a Twitter report, I tested this and confirmed it. After I saved it, it displayed a blank number. Purchasing the reward took a long time to load but had no other effect.
## <bountysource-plugin>

Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/7910412-can-enter-letters-in-rewards-field?utm_campaign=plugin&utm_content=tracker%2F68393&utm_medium=issue

[2015-01-20 22:03] crookedneighbor commented on #4549
Related to #4018

If the save and close button is clicked, a validation popup appears to fix the value. If the x or checkmark are used, it saves and, depending on the system, can crash the browser.

[2015-01-21 06:59] Alys commented on #4313
For everyone who has been having this problem often, can you please tell us if you've had it over the past two days? If you experience it again from now onwards, please also tell us that.

[2015-01-21 08:00] stave24 opened #4551 "cron resets twice a day"
Hello everyone. So, I'm experiencing an issue with cron - it reset twice during the night resulting to massive hp loss. This happened again last week. Is there something you can do to fix that?

My ID is : c7461f02-d081-4974-97c3-92e2c78af156
## <bountysource-plugin>

Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/7920676-cron-resets-twice-a-day?utm_campaign=

[2015-01-21 09:46] flutterbye commented on #4313
Hi Alice, no problems since my last report :)

On 21 January 2015 at 06:59, Alice Harris notifications@github.com wrote:

[2015-01-21 11:02] pikestaff commented on #4313
Hello!  I was told to comment here.  Basically what happened is last night I made sure that all of my dailies were checked before going to bed.  However, having woken up, it says that I lost health (so presumably not all of the dailies counted as finished), and that two of my dailies are already completed.  I think that the two that are marked as completed are the last two I completed before going

[2015-01-21 11:09] Alys commented on #4313
To everyone who is having this problem: **It is possible that it won't occur if you reload HabitRPG using your browser's refresh button just before you stop using HabitRPG for the day. After you've reloaded, do a sync using the sync button in the top right hand corner of the tasks page and then check that your Dailies are still ticked off. If they aren't, tick them again and then repeat the reload

[2015-01-21 12:10] trailrunnerhabitrpg commented on #4313
I have also been good since the changes were made.

On Wed, Jan 21, 2015 at 6:10 AM, Alice Harris notifications@github.com
wrote:

##

Hilary Eppley
heppley@gmail.com

[2015-01-21 14:51] dkemmer commented on #4547
Well thank you! If its too much of a hassle don't worry about it. Not a big deal. :)

[2015-01-21 21:11] Alys commented on #4547
@dkemmer It's done. :)  Comment here if the Egg Hunt achievement doesn't appear correctly in your achievements tab.

[2015-01-21 22:46] kangabell commented on #4440
That's what I figured. However, when I tried commenting-out all of the content of popover.js, tooltip.js, jquery.ui.tooltip.js, jquery.ui.tooltip.min.js, along with a ton of other code I thought might potentially be causing the popover, the popovers still mysteriously persist. I don't get it...

[2015-01-21 23:00] Aemilia opened #4552 "Didn't get Find the Cub reward"
Hi,

My party (e5c9f3da-364b-456e-b3ae-fc3ebfd294b3) has just completed the Find the Cub quest, but we haven't received the polar bear pet. I'm afraid I'm not sure if I received the gold and xp - I don't pay that close attention to my levels.

My ID is 12349e1a-219a-4d9b-ae81-23f0ce0c4b73

Thanks,
Emily

[2015-01-22 01:35] crookedneighbor commented on #4552
Here's your party object on your user. Looks like you're still in progress on that quest.

[code]

Other devs, am I reading that wrong?

@Aemilia would you try [using the data display tool](https://oldgods.net/habitrpg/habitrpg_user_data_display.html?uuid=12349e1a-219a-4d9b-ae81-23f0ce0c4b73) and click the Quest Progress link. I'm curious what it says.

Can you show me a screenshot of the quest co

[2015-01-22 01:39] Alys commented on #4552
@crookedneighbor You're reading that correctly, although iirc, I've seen cases in the past where a party's quest has finished, but one or more of the participants have not had that recorded correctly in their own user object - so the quest completion screenshot is important to see, as you've said. The DDT will display the same thing as that json data; that's all it reads. :)

[2015-01-22 02:07] Aemilia commented on #4552
Hi, thanks for the swift response.

I've attached a screenshot.

On Thu, Jan 22, 2015 at 12:39 PM, Alice Harris notifications@github.com
wrote:

##

0415 175 296
emilyderango@gmail.com

[2015-01-22 02:09] deilann commented on #4552
Jsyk you cant attach the screen shot via email or we cant see it... you
have to go to the issue on github and upload the image there.
On Jan 21, 2015 6:07 PM, "Aemilia" notifications@github.com wrote:

[2015-01-22 02:10] Aemilia commented on #4552
Ah right! Here tis.

![habitrpg](https://cloud.githubusercontent.com/assets/8978258/5849303/ebaf8b5a-a237-11e4-82e2-387c35104623.png)

[2015-01-22 02:25] Alys commented on #4252
Another example of this bug where a quest ends but one of the participants doesn't have the quest removed from their party object and doesn't have the rewards and achievement:  https://github.com/HabitRPG/habitrpg/issues/4552

[2015-01-22 02:26] Alys commented on #4552
@Aemilia We can get all this fixed up for you within the next six or seven hours, maybe sooner.

Thanks very much for the screenshot. It's confirmed which bug this is, which definitely helps us.

[2015-01-22 02:27] Alys commented on #4552
@Aemilia Also, thanks very much for the screenshot. It's confirmed which bug this is, which definitely helps us.

[2015-01-22 02:30] Aemilia commented on #4552
No worries at all, thanks for your help. :)

I really appreciate how swift and friendly you've been.

On Thu, Jan 22, 2015 at 1:27 PM, Alice Harris notifications@github.com
wrote:

##

0415 175 296
emilyderango@gmail.com

[2015-01-22 09:19] Alys commented on #4552
@Aemilia Thank you. :)

You should now have the Polar Bear Cub pet and the Achievement for the quest ("Find the Cub"). Could you please check both of those and tell me if they're not right?

I've also removed the outdated quest information from your user object, so you won't have any troubles starting a new quest with your party.

The quest should have given you 100 XP and 20 GP. I have not assign

[2015-01-22 09:19] #4552 closed, assigned to nobody

[2015-01-22 09:25] Aemilia commented on #4552
Hi Alice,

Cub and achievement are both there.

Thanks again for sorting this so quickly, you Habit folks are ace.

Cheers,
Emily
On 22/01/2015 8:19 PM, "Alice Harris" notifications@github.com wrote:

[2015-01-22 10:59] Alys commented on #4544
I reckon ignore #3079 for now. We've certainly been ignoring it for a while. Don't let its existence hold you back from making a new feature.

If I understand correctly, your change would cause the user.habits.history object to look like this (new 'count' fields):

[code]

Is that right?

If @lefnire doesn't reply here with comments about data cost, we can track him down elsewhere. (He's the co-fo

[2015-01-22 15:02] jakechen commented on #4544
Yep, that's correct. In that case I'll skip past #3079 for now.

On Thursday, January 22, 2015, Alice Harris notifications@github.com
wrote:

##

Sent from a mobile device, please excuse any overeager autocorrects.

[2015-01-22 16:05] paglias commented on #4544
@jakechen @Alys

A few random notes:
1. If we make this change then we'll have to calculate the value for each score on habits manually when there's more than one per day. I mean, if we click 'plus' on a habit twice in a single day the database would have:

[code]

To get the values (in graphs for example) of the single events on the habits we would have to calculate them every time.
1. Data cost

[2015-01-22 16:29] jakechen commented on #4544
@paglias thanks for the notes.
1. Can you elaborate on "we'll have to calculate the value for each score on habits manually when there's more than one per day"?
...
1. Yup, holding on until I hear back.
2. I didn't think it would be too massive :( but you would know better.
3. Let me rephrase that. Daily preening as defined by "resetting the score every day" wouldn't be needed. That was one of the

[2015-01-22 16:48] benmanley commented on #4539
Thanks. I'll think I'll try a different way of achieving the same effect and see if that solves the problem.

[2015-01-22 18:19] Alys commented on #4489
@knittingfrenzy18 We've been tracking this problem in https://github.com/HabitRPG/habitrpg/issues/4313  and are still working on it there, so I'm going to close your issue. If you want to follow the progress of the bug fix, you can subscribe to notifications from that issue (button in the right-hand column). If this happens to you again, we'd love it if you could post in that issue so we can track

[2015-01-22 18:19] #4489 closed, assigned to nobody

[2015-01-22 18:41] Alys commented on #4544
@paglias The migration you spoke about - is that to add an estimated (or zero) `count` element to all existing history entries? If so, I think we should not bother and just make sure that all code that displays/exports counts gracefully ignores any entries that don't have a count value.

_"To get the values (in graphs for example) of the single events on the habits we would have to calculate them

[2015-01-22 18:48] Verabird commented on #4473
I submitted a PR but the test build didn't work. I'm a little confused about the error though. Is it more obvious to anybody else?

[2015-01-22 18:57] Alys commented on #4473
`expected 1 to sort of equal 0`  What's not to understand? ;) :)

You can ignore that. It's a test that's been failing for a while now due to code changes that aren't related to your work. We need to fix the test (or possibly the code; I haven't looked into it, but I expect others have).

I'll try to look through your code at least briefly today (Friday for me) but I will definitely look at it in

[2015-01-22 18:59] dkemmer commented on #4547
@Alys... YOU ROCK! Thank you, it's there. :) I appreciate the hard work you put into this! Awesome support like yours and @crookedneighbor is why I subscribe to help out.  Have a great day and stay wonderful!

[2015-01-22 20:35] netman42 opened #4553 "Can't do quests anymore"
This has been annoying me for some time but it's probably my lack of knowledge on it
but at one time I could do quests and now I can't. I keep buying more quests every now and then but it never shows up. It takes my gems but nothing happens. I was intending to do them solo as I did before but it never works. I also have tried many times to get into other parties but I never get added. Maybe they a

[2015-01-22 20:43] crookedneighbor commented on #4553
This is interesting. Here's the party info from the uuid:

[code]

Seems to think @netman42 is on a quest currently, with a key of `null`.

[2015-01-22 20:44] crookedneighbor commented on #4523
@Shibara Thanks, keep us updated!

[2015-01-22 20:47] crookedneighbor commented on #4252
This could be related: #4553

[2015-01-22 20:52] Alys commented on #4553
@crookedneighbor That party json data is standard for a user who is not in a quest.

@netman42 You own about eight quest scrolls at the moment. You'll find them in your Inventory in the Market page (on the left hand side of the page where you buy them). Click one to start the quest. Does that help?

[2015-01-22 20:56] Alys commented on #4553
@crookedneighbor When I say standard, I mean, probably more or less standard. Here's the data for one of my accounts that is not currently in a quest:

[code]

There's differences with respect to nulls and empty strings or missing data, but not anything that looks totally wrong to me. The `key` is definitely okay.

[2015-01-22 20:59] crookedneighbor commented on #4553
Interesting. Did not realize that.

[2015-01-22 21:08] Alys commented on #4553
@netman42 I've checked your party status and you're in a party by yourself. This means you can start solo quests.

You can't be invited to other people's parties because you are already in your own party. You'd need to leave your own party before an invitation could be sent.

BUT, before you leave your party, please do try to click on one of the quest scrolls in your inventory to make sure that yo

[2015-01-22 22:18] netman42 commented on #4553
I have bought several quests but they just don't show up like they used to. I left my solo group awhile back and deleted it but I couldn't get into any other parties so I thought I would go back to solo questing but nothing appears. maybe I will try another browser. using chrome now
netman42

Sent from my iPhone

[2015-01-22 22:22] Alys commented on #4553
@netman42 Please show us a screenshot of the entire Inventory area (left hand side) of this page: https://habitrpg.com/#/options/inventory/drops
Use your browser's zoom function to zoom out far enough to get all of the inventory items in. Something like this: http://gyazo.com/781528cb782b8a9a6cee28240a5cbc38 is what I'd like to see, although of course there wouldn't be quest scrolls in yours. I'd

[2015-01-22 22:32] Alys commented on #4553
@netman42 Also please send us a screenshot of your party page: https://habitrpg.com/#/options/groups/party
The database is showing that you are still in a solo party and so I need to see what's being displayed for you in case there's a bug there.

Note that if you are not in a party, you won't be able to start quests.

It would probably also be helpful if you go into more detail about what exactly

[2015-01-22 22:34] crookedneighbor commented on #4553
@netman42 Just so you know, attaching pictures via email won't upload the picture here. You'll have to click on the Github link and attach the images to your comment.

[2015-01-22 23:40] Hiraelle commented on #4313
Hi, I've experienced this bug today. My user ID is 8a164f87-9393-4707-82bf-b7c0d17f4da1
FIrst time I've had this, but I didn't play the past three days.
Thanks !

[2015-01-22 23:54] Alys commented on #4313
Hiraelle had put these details in the Tavern: "I took damage from dailies that I had done, and now from this new day I have some dailies that appear checked, and I didn't do it. And I lost my perfect day too"

[2015-01-22 23:56] Hiraelle commented on #4313
Yes. Also : "6) I go back to my main page, hit refresh. My list shows all of the tasks I did on the previous day checked for TODAY." -> Not all the tasks I checked for the previous day are checked for today, about half are unchecked like they are supposed to be. Other than that it's the same as the first post say.

[2015-01-23 00:40] ShwetaNarayan opened #4554 "Strange set of glitches - extra level, habits changed color, extra todos spawned"
When I switched between the tavern and my tasks at about 10:30pm GMT on Jan 22 2015, at least three different weird things happened.
1) I levelled, going from about 3500/5220 XP into level 124 to about 2000 XP into level 125, for no apparent reason
2) Several (maybe all?) of my habits got much bluer; at least two went from yellow to teal or blue.
3) One of my todos replicated itself 8 or so times.

[2015-01-23 00:42] crookedneighbor commented on #4554
Thank you @ShwetaNarayan, 1000 x :+1:

[2015-01-23 00:44] ghost opened #4555 "Extra Notes Popover doesn't automatically re-align"
When editing text in the Extra Notes Popup, while having mouse over task, Popup acts a bit abnormal:

While deleting a majority of large text in the popup, the mini arrow of popup, will reposition to the right hand side. See image.
![Extra Notes Popup Problem](https://cloud.githubusercontent.com/assets/9618738/5867824/f551d8e8-a26e-11e4-93e0-ae596bddac1b.png)
## <bountysource-plugin>

Want to back

[2015-01-23 00:48] crookedneighbor commented on #4555
Duplicate of #4307

[2015-01-23 00:50] ghost commented on #4551
Are you sure you just didn't have two tabs open at the same time? Because if it isn't refreshed over the time of one cron, sometimes the website will appear as though it is giving you hp loss, while it may just be updating.

Also if you are chaining the cron time on the website, there might be some bugs:
http://habitrpg.wikia.com/wiki/Settings#Custom_Day_Start

You should also note that the defaul

[2015-01-23 00:50] SabreCat opened #4556 "Vertical dividing line in Market doesn't extend all the way"
In the Market, the dividing line between the player's inventory and Alexander's items for sale doesn't extend all the way through the page:

![image](https://cloud.githubusercontent.com/assets/4501321/5867901/775b7d88-a267-11e4-9838-1142699af517.png)

It's somewhat resolution-dependent. The above was on my 4:3 monitor; if I move it to my widescreen, the line makes it past the first row of Food ite

[2015-01-23 00:54] ghost commented on #4555
It's not exactly the same. The issue I have presented is caused when there is a CHANGE in the text of Extra Notes.

Once task is saved, and the mouse scrolls out of and back into the task, the popup will be in the correct place again.

[2015-01-23 00:54] crookedneighbor commented on #4556
It's because the border is applied to the div on the left, not the right, and in most cases, since the market will have more items than the user, the div on the left has a shorter height than the one on the right.

[2015-01-23 01:01] crookedneighbor commented on #4555
You are correct, I misread a key detail. I thought looking at the screenshots, that they were behaving the same way as the issue I linked to, but you're right, it's different.

This is happening because the popover placement is not dynamic, it gets generated at the time of appearance based on the width of the popover. So when the notes field gets changed, either made longer or shorter, it adjusts

[2015-01-23 01:12] Verabird commented on #4473
Thanks Alys. I just wasn't sure if the error might be applicable because I actually touched cron code this time.

[2015-01-23 01:28] netman42 commented on #4553
Here is a screenshot of the inventory:
![habit-inventory](https://cloud.githubusercontent.com/assets/10659810/5868281/3c0cad70-a275-11e4-8eea-70af9dbbec3b.jpg)

Also the party page:
![partypage](https://cloud.githubusercontent.com/assets/10659810/5868319/9d029a18-a275-11e4-900f-fd7a1b0b3702.jpg)

[2015-01-23 01:29] taldin commented on #4544
Here's an extra twist for you to think about:
- if I click a '-' habit, I should get -1 point, -2 for the second bad habit today, and so on.
- This is because if I have a +/- habit, + should make a count in the positive direction, but flip to -1 if you subsequently click '-', and vice versa.

[2015-01-23 01:34] netman42 commented on #4553
I guess I have to say my bad. I forgot I had to click on the quest again after buying it from my inventory page. I figured it was something I was doing wrong. I see the quests just fine now. Thanks for listening.
netman42

[2015-01-23 01:51] #4553 closed, assigned to nobody

[2015-01-23 03:27] ShwetaNarayan commented on #4554
Follow-up note: At cron, a number of extra copies of my newest daily popped up. It's now listed 6 times. Here's a screenshot in case that's useful - the reduplicated daily is "inhalors", the green one. http://vorpus.org/~shweta/habitrpg-bug-screenshot-jan2315.png

And... I'm not 100% certain of this, sorry, but I _think_ my habits may have reset to how they were before they got blued? Or maybe it'

[2015-01-23 03:31] ghost commented on #4555
Actually markdown emoticons as well as markdown effects can only be seen through the popup, and it is quite usefull. A better solution would be to keep the div the same size when editing, and the only have the placement change when the mouse goes over it after the task has been updated.

[2015-01-23 03:39] Alys commented on #4554
I suspect that the extra copies of the Daily did not appear at cron, but appeared at the same time as the earlier glitches, only you didn't notice because they'd already been completed. The extras are exact copies of the original, so they would have appeared already ticked off. Cron would have caused them all to become unticked.  Tell me if this does not sound believable!

I'm going through your t

[2015-01-23 03:43] ShwetaNarayan commented on #4554
That's entirely possible. I _did_ look at my dailies to see if anything was weird at the time, but I am so out of it today I may well not have noticed 6 checklisted ones in a row.

Query, are you suggesting I do a screenshot before/after the next cron, that is, the one in 23 hours? Just want to make sure I'm doing the right thing/providing the right data.

[2015-01-23 03:57] ShwetaNarayan commented on #4554
Actually just looking at the numbers I can say pretty confidently that cron did not undo the glitch on the habits, it just did its usual thing - because several habits that are normally yellow have values above 3, while others that are normally green have values in the 1-2 range; so the 3s are a ways higher than I'd expect.

I've taken one screenshot, and will take another after tomorrow's cron.

[2015-01-23 04:05] Alys commented on #4554
The duplicated Daily has been fixed. I haven't found any indication that other duplicates might occur. Of course if they do, we definitely want to know! :)

I wouldn't expect cron to be able to reverse the effects of the glitch, so I think you're correct in your previous comment. A screenshot before and after the next cron, is what I was referring to. But this is just if you would like to; we don'

[2015-01-23 06:06] kamni opened #4557 "Mana not updating correctly"
Mac OSX 10.9
Browser is Fluid, Version 1.8.3 (Safari Version 8.0.2 (10600.2.5)), possibly Android v0.0.46

I'm seeing two strange behaviors related to Mana, which may or may not be affecting each other.

1) I don't seem to be receiving the 10 Mana each morning when I log in. I noticed it first yesterday, and thought perhaps it was a browser sync issue. However, I did not use my phone to spend any

[2015-01-23 06:14] kamni commented on #4557
One more comment I should mention: I am currently traveling in a different time zone than I normally play. I may have noticed the issue on the day of travel, where I used my laptop in the morning, and then used my cell phone (updated automatically) in a different time zone later in the day.  The next day I used my laptop (on the old time zone) and noticed something odd with the Mana but attributed

[2015-01-23 06:19] kamni commented on #4557
Finally, notice the difference in armor between the party member on the far right (I just noticed the difference myself) between the 2 screen shots. For some reason scrolling a few pixels seems to be alternating between an old set of data and a newer set of data.

[2015-01-23 07:41] dxsmiley opened #4558 "Date format setting doesn't apply to progress charts"
I'm currently using the d/m/y date format, but it does not apply to the dates displayed on the progress charts, as seen below.
![image](https://cloud.githubusercontent.com/assets/7530928/5871278/044c3b2a-a32f-11e4-9ba0-010f3dacb06a.png)
I also tried using the y/m/d format and it didn't affect it either.

[2015-01-23 08:57] Alys opened #4559 "members[uid].items.weapon prevents use of cached members data"
ping @lefnire and @paglias because this seems to be ancient code. ("It was like that when I got here")

In public/js/services/memberServices.js, we have [this line](https://github.com/HabitRPG/habitrpg/blob/develop/public/js/services/memberServices.js#L67):

`if (members[uid] && members[uid].items && members[uid].items.weapon) {`

which seems wrong because there is no `items.weapon` in our schema

[2015-01-23 11:55] jeffnielson opened #4560 "Quest stuck even though it should have completed"
My quest won't complete. It is stuck with about 12 health remaining.  Been like that 2 days.   Thanks.

4e08a4fe-1f1e-4000-9143-551ca628dec2

[2015-01-23 12:19] Alys commented on #4560
According to the database, your quest has ended. Have you reloaded the party page? That's likely to show you that the quest is gone. If it doesn't, log out of HabitRPG, clear your browser's cache (make sure it really is the cache you are clearing, not just browsing history or anything else), log back in, go to the party page, and if necessary reload it again.

[2015-01-23 12:47] JimMackin opened #4561 "Consecutive Months Count not updating"
It seems like my Consecutive Months count isn't updating. I have a recurring paypal subscription that was set up in November and has had 3 payments. "Consecutive Months" still shows as 1 however.

User Id: cbb3d5ce-0d66-4555-ab35-841f2d4aa7aa
Browser: Firefox 34 on Ubuntu
No console/ JS errors
## <bountysource-plugin>

Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/

[2015-01-23 13:00] Verabird commented on #4558
Thanks for finding this

I'll get right on it

[2015-01-23 13:09] Lexidh opened #4562 "Died, but have 2 days streak on tasks"
I died today, even though I marked all my dailies as done yesterday, and I have a 2 day streak (should be much much more) on all those tasks except one, that task is only for one day in the week. None of the daily tasks I should do every day are blue, the only blue I have today are tasks that wasn't active yesterday.
I did 1.9 damage on my guild quest, it's usually over 20. Suffered 39.4 damage. I

[2015-01-23 13:12] deilann commented on #4562
Is 39 damage what was recorded on the party page? If so, do remember that
you take both the boss damage from your dailies and the boss, so that does
actually make sense.

The rest definitely does sound buggy though.

@Alys does this sound like the two versions of data bug to you?
On Jan 23, 2015 5:09 AM, "Lexidh" notifications@github.com wrote:

[2015-01-23 13:15] Lexidh commented on #4562
Ah yes, that makes sense, boss + dailies damage. Totally forgot about that.

[2015-01-23 13:27] Magoosducki opened #4563 "Double clicking habits"
When I go to mark a habit either a plus or minus, I am receiving double the rewards/damage. I have made sure this is not just an issue on my computer by testing on the phone app, and it is occurring there as well.
My User ID is: 9985235a-c8b6-4dde-8511-42767bb02867

Thank you.

[2015-01-23 13:31] Lexidh commented on #4562
I guess I found the tasks that did damage, two that are blue today and have 22 days streak. That makes no sense at all either, since it is tasks I do 7 days a week, and I haven't died (or paused) since December 2nd (the day we couldn't reach the site).

[2015-01-23 13:32] deilann commented on #4562
The tasks that would have done damage are the ones with too low of streaks,
not the ones with high streaks/are blue. Alys should be able to give more
info.

On Fri, Jan 23, 2015 at 5:31 AM, Lexidh notifications@github.com wrote:

[2015-01-23 13:36] Lexidh commented on #4562
Biggest issue is that they are almost all greyed out today, like I've done them, but I haven't. I did them yesterday, marked them, but died anyway. And still have 2 day streaks. I'm also quite sure I marked the two that must have done damage, are blue today and have 22 day streaks at the same time as the rest. They are kinda connected to other tasks, can't be marked until other things are done.

[2015-01-23 13:39] deilann commented on #4562
Yeah, that definitely sounds like the issue Alys has been looking at.
She'll be able to give more info.

What you can do, though, is grab your stats, uncheck them, then use Fix
Character Values to put your stats where they should be. Then, you'll be
able to do your tasks and won't have lost your XP and GP.

The ones that probably did the damage are NOT the ones that are blue
today... they are the

[2015-01-23 13:40] deilann commented on #4562
Oh, on top of the Fix Character Values (which is in Settings > Site by the
way) you can also manually fix your streaks if you know approximately how
long they were in the Advanced settings under each daily.

On Fri, Jan 23, 2015 at 5:39 AM, Ryan yandoryn@gmail.com wrote:

[2015-01-23 13:45] deilann commented on #4562
Here is the ticket on the issue:

https://github.com/HabitRPG/habitrpg/issues/4313

I'm going to close this ticket, and you can follow more info there!

On Fri, Jan 23, 2015 at 5:40 AM, Ryan yandoryn@gmail.com wrote:

[2015-01-23 13:45] #4562 closed, assigned to nobody

[2015-01-23 15:03] clusterpainter opened #4564 "Skeletal T-Rex Healed beyond initial 500 HP"
Hello, lovely bug crushers. We are fighting the Skeletal T-Rex. One of my party members didn't log in for a few days and the T-Rex did a whopping 60 pts of damage to our party! That filled up the fossil's rage bar and now, the dreaded bone beast has 523 HP! Per Blade's suggestion, I am opening this ticket.

[2015-01-23 15:03] Lexidh commented on #4313
I'm reluctantly joining the club of people that has experienced this bug. Only two of the 20+ daily (7 days a week) tasks I did yesterday are blue today, the rest are marked as done and have a streak of 2 days (in stead of since December 2nd, the day we couldn't reach the site).

Should I leave everything as it is for someone to have a look? I haven't touched anything since I discovered the error.

[2015-01-23 15:23] deilann commented on #4313
No, go ahead and record your stats, then uncheck them, then fix your stats
using Fix Character Values, like I said, so you can do your tasks today. :)

On Fri, Jan 23, 2015 at 7:03 AM, Lexidh notifications@github.com wrote:

[2015-01-23 15:27] Lexidh commented on #4313
Ok, thanks =)

[2015-01-23 15:29] SonicWizard commented on #1497
I think this is an important fix before you get too many duplicate usernames. Also, login logic (and registration and all other username checks) should ignore case.

[2015-01-23 15:40] crookedneighbor commented on #4564
Thanks, you rock! Now we just have to figure out if that's a "feature" or a bug. :smile:

[2015-01-23 16:30] #4563 closed, assigned to nobody

[2015-01-23 16:34] crookedneighbor commented on #4563
@Magoosducki Did you figure out what was going on?

[2015-01-23 16:36] Magoosducki commented on #4563
Yes, I believe it is an issue with my mouse. I first noticed it on Habitrpg, but have since noticed it on other pages.

[2015-01-23 16:36] crookedneighbor commented on #4563
Okay, thanks for the update!

[2015-01-23 17:09] SabreCat commented on #4564
Fixed in https://github.com/HabitRPG/habitrpg/commit/ec114d6a3e277242fefcd3bdb9640a2a034ab2f8.

[2015-01-23 17:09] #4564 closed, assigned to nobody

[2015-01-23 20:09] paglias commented on #4559
@Alys good catch! I don't think I wrote it but _maybe_ we check for `items.weapon` because otherwise we could have `members[uid]` cached but with less data than needed for displaying the member modal. Maybe if you have the user in a guild you already have it cached but the only data is username and uuid... But it's just an idea

[2015-01-23 20:16] paglias commented on #4544
@jakechen
1. @Alys is right, we don't store multiple events on the same day so ignore my previous comment
2. Since we don't store multiple events we don't need the migration either
3. Ok, got it

So, sorry for the confusion :)

[2015-01-23 20:41] jakechen commented on #4544
Perfect, sounds like my original plan should still get the job done :) just
waiting on the storage cost sign-off from the boss upstairs.

On Friday, January 23, 2015, Matteo Pagliazzi notifications@github.com
wrote:

##

Sent from a mobile device, please excuse any overeager autocorrects.

[2015-01-23 22:27] Alys commented on #4562
I agree with everything @deilann said. There's a workaround here in case it keeps happening: https://github.com/HabitRPG/habitrpg/issues/4313#issuecomment-70820170 . Sorry it's such a nuisance! It's a hard bug to track down.

[2015-01-23 22:54] Alys commented on #4562
I agree with everything @deilann said. There's a workaround here in case it keeps happening: https://github.com/HabitRPG/habitrpg/issues/4313#issuecomment-70820170 . Sorry it's such a nuisance! It's a hard bug to track down.

[2015-01-23 23:36] lemoness opened #4568 "Fix to Nameless Helm"
The original art file for the Nameless Helm was the wrong size, because it was based on a old, incorrect file. The resized version did not look the way it was intended to look, which has bugged me for a while. I've been meaning to update it since it was released - here it is!
![head_special_2](https://cloud.githubusercontent.com/assets/3494081/5884685/a2b54924-a315-11e4-9589-51db39020088.png)

[2015-01-24 16:57] #4568 closed, assigned to SabreCat

[2015-01-24 17:27] Verabird opened #4569 "Completed Todos don't show up on rebalancing-2014-12 branch"
rebalancing-2014-12 branch:
![image](https://cloud.githubusercontent.com/assets/8468001/5888207/dbce1138-a3c3-11e4-8887-8b7455ef6678.png)

develop branch:
![image](https://cloud.githubusercontent.com/assets/8468001/5888217/3bb2d44e-a3c4-11e4-8518-a5ae13c8fe33.png)

Not sure if this is known already or not

[2015-01-24 19:08] Alys commented on #4569
Oh yes, that's a bug that was fixed in develop. I just haven't rebased rebalancing for a few days. I've made a to-do to do that later today. Thanks!

[2015-01-24 19:08] #4569 closed, assigned to nobody

[2015-01-24 22:08] hespa commented on #4552
Hello all,

I'm not sure if people will see this comment given it's a closed thread, but I thought I would try rather than just start a new one. I'm another member of Emily's party and I did not receive the polar bear pet quest rewards either. Help?

Cheers,

Hespa

[2015-01-24 22:10] Alys commented on #4552
We see all comments. We are all-knowing and all-powerful.  :) Let us know your "User ID" from [Settings -> API](https://habitrpg.com/#/options/settings/api) and we'll get you fixed up within a couple of days.

[2015-01-24 22:11] hespa commented on #4552
Oops, sorry! It's 4338c3b0-48b4-44ab-b6fb-62cf07dad9fb

[2015-01-24 22:13] deilann commented on #4552
Apparently we are NOT all-knowing and all-powerful enough to see UUIDs
yet...

On Sat, Jan 24, 2015 at 2:11 PM, hespa notifications@github.com wrote:

[2015-01-24 22:24] Alys commented on #4552
I could have worked it out from database mining. I'm just also all-lazy.

@hespa That's fixed for you now. You should have the pet and the quest achievement (reload if you don't see either).

[2015-01-24 22:41] Alys commented on #4569
merge done and pushed to github.

Sorry about that @Verabird. It must have made testing with completed To-Dos harder than it should have been.

[2015-01-24 23:24] hespa commented on #4552
Brilliant, all is fixed - thank you!

[2015-01-25 02:09] #3387 closed, assigned to nobody

[2015-01-25 13:58] Sporax opened #4570 "A Stern Talking To: Quest Description Incomplete"
The description of the quest in the inventory says "Checked off a - habit?"
while in the wiki the description reads "Checked off a negative habit?":
![screen shot 2015-01-25 at 7 19 49 pm](https://cloud.githubusercontent.com/assets/10322112/5891638/a3db8f26-a4c7-11e4-8fb1-ae3b9c4a18bf.png)

I believe this is entry level coding, and if so, I'd like to take it up.
The issue is the same on Chrome (on

[2015-01-25 14:45] wswld opened #4571 "Notable loss of data on iOS client"
I've lost a substantial amount of data today. Basically around 12 hour worth of new to-dos, habits, rewards and even a levelup were just rolled back as if nothing really happened. It was iOS client and I had semi-stable connection throughout the day, but I certainly have updated it several times having a strong or cellular WiFi connection, relaunched the app. It seemed to have synced and then it j

[2015-01-25 16:13] deilann commented on #4570
The wiki is wrong, then. (One can't check off a missing habit, but one can
check off a - (minus) habit)

On Sun, Jan 25, 2015 at 5:58 AM, Saagar Saini notifications@github.com
wrote:

[2015-01-25 16:17] paglias commented on #4571
I think it's done to the offline syncing that had some bugs. It should be ok in an update that should come in a few days, waiting for apple to approve it

[2015-01-25 16:26] wswld commented on #4571
So, this is irreversible? I just should abstain from using the iOS app before the next update to avoid other issues like that? Could the state of my profile be rolled back to the 11 AM MSK today, or it's impossible?

[2015-01-25 16:32] paglias commented on #4571
Sadly we can't rollback your account to a precious version because probably
it never really synced to the server. You should try not to use it offline
in the meantime and if you do make sure to close the app before using it
again (from the list of open apps)
So, this is irreversible? I just should to abstain from using the iOS app
before the next update to avoid other issues like that? Could the s

[2015-01-25 18:48] wswld commented on #4571
OK then. Thanks for the assistance.

[2015-01-25 19:39] Alys commented on #4570
I've fixed the wiki

[2015-01-25 23:49] ghost commented on #4252
Hi, I'm having a similar issue. My party started the Easter Egg quest and I did not get the reward even though we finished the quest together. The other people got it I think....

My I.D.: 78c66554-385e-4a74-8b84-17018ece366d
Group ID: 66a08637-e8ee-4344-8bde-b87377bcb9aa

[2015-01-26 00:36] Alys commented on #3364
@cevn I've very sorry we didn't respond to this when you logged it! We've recently made changes to the Habit buttons. Has that fixed the problem?

[2015-01-26 00:52] Alys commented on #4252
@sniderlm You should now have the achievement for one Egg Hunt quest in your User -> Stats page, and have ten "Egg" eggs in your Inventory. Your party page should not longer show the Egg Hunt quest, and instead should show the invitation screen for a new quest that someone in your party has started. Let me know if any of that isn't right! You might have to reload or log out and back in before you

[2015-01-26 06:03] Sporax commented on #4570
Sorry I seem to have misunderstood the - in the description, I read it as a hyphen, not minus. There wasn't anything wrong with the wiki, I wrote missing instead of negative to begin with, so thats my fault. What I mean to say is that [- habit] when read is just a little bit confusing for regular users (even RPG ones)

[2015-01-26 06:09] Alys commented on #4570
Hmmm. Good point. "- habit" is second nature to those who are very familiar with HabitRPG but I can see what you mean now about it being confusing.

@Lemoness, we're talking about this text for the Golden Knight quest:

_"The Golden Knight has been getting on poor Habiticans' cases. Didn't do all of your dailies? Checked off a **\- habit**? She will use this as a reason to harass you about how you

[2015-01-26 10:32] Alys commented on #4559
@paglias, thank you! That does seem plausible. I'll advertise this in the Aspiring Coders guild to see if anyone wants to investigate it.

[2015-01-26 13:19] scheidm commented on #3889
user id: cd74cac2-86f3-4aa4-956e-9362e1bb628e
chrome version: 39.0.2171.99 (64-bit)

I hit "rest in the inn" at the beginning of the day on Thursday. I am all but certain I saw the resultant zzz expression on my character. I used it for other things during the day, but did not pay attention to my avatar. This morning I logged in after returning to work, and I am mysteriously dead. it did not seem

[2015-01-26 15:57] HSalgo opened #4572 "Wacky Cron: some dailies grayed out, no perfect day, drop cap already reached"
Ran into an odd problem today, after refreshing my account after cron.

1) **Some of my dailies were already checked off.** The first four were not (which are active today). Then there's something that is normally grayed out because it's Monday. After that, everything that had been checked off yesterday remained checked off.

2) **No perfect day.** Despite this, all of my streaks have been preserv

[2015-01-26 16:03] HSalgo commented on #4572
Wait, some additional notes:

2a) **Streak values have been mysteriously altered.** After unchecking all of the pre-checked off things today, I realized that anything that anything I'd unchecked now had a Streak Value of 1. This means that anything that started off gray today had a streak value of 2 for no reason. Note that other things that were NOT checked off (including tasks that should have b

[2015-01-26 16:31] cevn commented on #3364
Yes, it's fixed now. Thanks for checking in

[2015-01-26 16:31] #3364 closed, assigned to nobody

[2015-01-26 17:46] lemoness commented on #4570
That's fine! I agree about capitalization, too.

On Sunday, January 25, 2015, Alice Harris notifications@github.com wrote:

[2015-01-26 19:46] DPlatz opened #4574 "Pet progress"
With the pets, the growth progress bar isn't showing up.
![petprogressbarnotshowing](https://cloud.githubusercontent.com/assets/10714076/5907037/f79820a0-a569-11e4-9cd2-135bad5b05ca.PNG)

[2015-01-26 19:51] Alys commented on #4574
That's a known issue with Internet Explorer, which has several non-standard features that cause problems like this. If you use Chrome or Firefox, you won't experience this problem.

Do let us know if you are not using IE but are still seeing this!

We would like to fully support IE and we probably will at some time in the future, but unfortunately the extra code required to work around IE's bugs t

[2015-01-26 19:58] Alys commented on #4570
@Sporax Please do go ahead with the change if you would still like to!

Also, if you wish, while you are editing that file, you could look for any instance of "Habit", "Daily", and "To-Do" that is not capitalised exactly like that, and change them (including plurals of course). The only exception would be if the word was referring to, for example, an actual real-life habit rather than a Habit task

[2015-01-26 20:02] DPlatz commented on #4574
Yes, I was using IE.
Will check Chrome...

[2015-01-26 20:05] DPlatz commented on #4574
Works fine in chrome. Thanks!

[2015-01-26 20:06] #4574 closed, assigned to nobody

[2015-01-26 20:16] paglias commented on #4574
@DPlatz which version of IE you were using?

[2015-01-26 20:33] nagledb opened #4575 "Quest scrolls difficulty for the colorblind"
The new feature that adds a color border to each quest scroll indicating its difficulty level ("Easy Boss = Green, Medium Boss = Yellow, Hard Boss = Red, Collection Quest = Blue, Rage Bar Boss = Purple speckles") is a great addition, but as a colorblind person I can't differentiate some of them. Would it be possible to represent that difficulty information in a non-color-coded way as well?

Even j

[2015-01-26 20:34] deilann commented on #4575
+1
On Jan 26, 2015 12:33 PM, "David Nagle" notifications@github.com wrote:

[2015-01-26 21:12] Sporax commented on #4570
So do I have to change the - to negative for every language?

[2015-01-26 21:21] deilann commented on #4570
No, only change it in en. Do not even change en_GB. Read the read me files
for more info.
On Jan 26, 2015 1:12 PM, "Saagar Saini" notifications@github.com wrote:

[2015-01-26 21:41] Sporax commented on #4570
<a href="https://github.com/HabitRPG/habitrpg-shared/pull/453">Changes made.</a> I assume I don't have to also change habit and daily to capitals in other files, right?

[2015-01-26 22:21] #4468 closed, assigned to nobody

[2015-01-26 23:15] lemoness commented on #4575
Frankly, I would like to make it so that instead of displaying the quest
text on hover, it instead displays relevant details, for example:

Vice Awakens
HP: 1500
Str: 3
Rewards:
Stephen Weber's Shaft of the Dragon
2 Dragon Eggs
2 Shade Hatching Potions
100 GP
1000 XP

On Mon, Jan 26, 2015 at 12:34 PM, deilann notifications@github.com wrote:

[2015-01-26 23:34] SabreCat opened #4576 "Rooster mounts artwork not consistent with style"
Most mount, pet, and equipment artwork features a dark outline--not necessarily black, but more than 50% of the way there. Rooster mounts, however, feature artwork whose outline doesn't differ much from the interior colors of the sprite, leading to an odd washed-out look compared to other sprites. It makes the mount look more like it's part of the background than the hero's accoutrements:

![image

[2015-01-26 23:40] Alys commented on #4576
I agree.

Useful new wiki page (still underconstruction) for comparing all Mount images: http://habitrpg.wikia.com/wiki/Art_Credits#Mounts

[2015-01-26 23:40] lemoness commented on #4576
Beffymaroo is already working on the revamped art! She's nearly done :)
I'll link here when she's finished.

On Mon, Jan 26, 2015 at 3:34 PM, Sabe Jones notifications@github.com
wrote:

[2015-01-26 23:57] lemoness opened #4577 "Additional Sample To-Dos"
I know we want to revamp the tutorial to make it better, but as a quick stop-gap, I think we could add some extra Sample To-Dos so that people's accounts have some guidance.

Ideally, the mobile app and the website would have different ones, because the website supports links but links block the mobile app (at least on iOS). If that won't work, we could take out the links in favor of listing the d

[2015-01-27 00:34] Alys commented on #4577
The sample tasks are placed into the user's database record when the user creates their account, so different tasks for website versus mobile would require some large(?) changes. And if users start off by using both website and app together (the ideal situation I would think), separate sets of tasks could be troublesome. I think it would actually be an advantage to specify the menu path rather tha

[2015-01-27 00:35] crookedneighbor commented on #4577
I agree with Alys. Really, we need to make fixing the bug where you can't exit the in-app browser a priority.

[2015-01-27 00:37] fioskal opened #4578 "Have to Re-Buy Seasonal Items after using Orb of Rebirth"
User ID: 53be6816-f011-4c25-99dd-682fcab643a8
Browser: Firefox

I bought every single item in the Seasonal Shop earlier this month. I used the Orb of Rebirth yesterday to restart my character. None of those items are still in my inventory, I can't re-buy them for coins, and the Seasonal Shop wants me to repurchase these items for one gem an item.

[2015-01-27 00:43] deilann commented on #4578
You can repurchase then if you are the right class. So say seasonal mage
armor, you need to be a mage
On Jan 26, 2015 4:37 PM, "fioskal" notifications@github.com wrote:

[2015-01-27 00:45] fioskal commented on #4578
I bought all of them with no problem earlier, however. And I am a warrior right now - it is still showing me as having to spend gems to get the warrior items back, in addition to all the other items.

[2015-01-27 00:47] crookedneighbor commented on #4578
@fioskal It might just appear that you need to purchase from the seasonal shop.

I'm remembering now that I wrote the code to conditionally apply that class if the value is in your inventory, since you did the orb of rebirth, the values for those items are set to `false` instead of not being in existance. The code that applies the transparent class doesn't know the difference, and will need to be

[2015-01-27 00:49] fioskal commented on #4578
If you can wait until the 1st, I'd be happy to - I'm all out of gems for the month. :)

[2015-01-27 00:50] crookedneighbor commented on #4578
@fioskal Can you check your rewards column on the tasks page? That's where the seasonal warrior gear should be for purchase with coins after rebirth.

[2015-01-27 00:54] crookedneighbor commented on #4578
Should look like this (after unlocking item drops):

![screen shot 2015-01-26 at 6 54 33 pm](https://cloud.githubusercontent.com/assets/2916945/5911571/d1b03bde-a58c-11e4-834a-05c2ccf1aff4.png)

[2015-01-27 00:56] crookedneighbor commented on #4578
This commit should fix the seasonal shop view: https://github.com/HabitRPG/habitrpg/commit/3b1743dee86d9b81a3d6fa5fefd263bee91dd013

[2015-01-27 01:12] jen2472 commented on #2760
For the second time in perhaps a week (possibly 2), my character has died out of the blue.  This last time, I had 48/50 life points yesterday afternoon, I check in this evening, and I'm dead. The boss we’re battling has only taken 7.6 points from us in the last 17 hours.
my ID: 111f9978-217f-4755-8fef-a469ded53947
Group ID: ea8af266-a349-49b5-bb18-21090ae83cad
Hope this is enough info; I'm complet

[2015-01-27 01:15] jen2472 opened #4579 "my character has died out of the blue"
For the second time in perhaps a week, my character has died out of the blue.  This last time, I had 48/50 life points yesterday afternoon, I check in this evening, and I'm dead.
my ID: 111f9978-217f-4755-8fef-a469ded53947
Group ID: ea8af266-a349-49b5-bb18-21090ae83cad

The boss we’re battling has only taken 7.6 points from us in the last 17 hours.  I'm completely non computer savvy, so I hope thi

[2015-01-27 01:18] jen2472 commented on #4579
It turns out that two of my fellow party members have died, too.  Not sure what's going on.

[2015-01-27 01:22] Alys commented on #4579
Click the "Fetch Recent Messages" button above party chat and then look back over the past 24 hours for red messages listing boss damage. You'll probably find one or more with a very high amount of damage that caused the three of you to die. Let us know if that's not the case.

[2015-01-27 01:26] fioskal commented on #4578
Yes, the warrior ones (none of the other classes) are on the task page now, I didn't see them earlier.

[2015-01-27 01:28] jen2472 commented on #4579
18 hours ago, the Rat King attacked for 49.1 damage.  That's all.  Is that enough to kill 3 of us?

[2015-01-27 01:31] crookedneighbor commented on #4578
@fioskal Would you do me a favor and take a screenshot of your rewards column and attach it to a comment here? Note, you won't be able to do it through email, it'll have to be on the issue page on Github.com.

[2015-01-27 01:38] crookedneighbor commented on #4579
That's 49.1 damage to each member of the party.

[2015-01-27 01:49] lemoness commented on #4576
And she's done! (@sabrecat)

All recolored files here: https://trello.com/c/5laTwynp/22-rooster-recolors

[2015-01-27 01:51] fioskal commented on #4578
![rewardscolumn](https://cloud.githubusercontent.com/assets/10717368/5912136/e849eac4-a583-11e4-8b0b-c68306e9f3be.png)

[2015-01-27 01:52] jen2472 commented on #4579
Well, then, that explains it, doesn't it?  Thanks for the help.

[2015-01-27 01:52] fioskal commented on #4578
That's as much as I could fit on one page without splicing an image together. I think that's all of the items, just missing custom rewards.

[2015-01-27 01:56] #4579 closed, assigned to nobody

[2015-01-27 01:58] crookedneighbor commented on #4579
@jen2472 Time to snowball whoever forgot to do their dailies :smile:

[2015-01-27 01:58] crookedneighbor commented on #4578
@fioskal You're a warrior right now, so the only seasonal items from last year that you can purchase as a warrior are the yeti-tamer items. The rest are available to be purchased, but you need to be the appropriate class to buy them.

[2015-01-27 01:59] crookedneighbor commented on #4578
It is, admittedly, a little confusing since you were able to purchase them for gems no matter what class you were.

[2015-01-27 01:59] #4578 closed, assigned to nobody

[2015-01-27 02:55] Alys commented on #4570
No, that's fine. Changing capitalisation was optional. :)

[2015-01-27 04:49] veeeeeee commented on #4577
What if we start them off with a few "gimme" tasks, like "register for HabitRPG"? Or even more straight forward, "Demo task: Watch what happens when you check this off!" Mildly interactive, but shouldn't require any extra coding.

*Edited for a completely screwing up a word.

[2015-01-27 04:53] crookedneighbor opened #4580 "Issues with Footer on /static/front"
- [x] Language select box doesn't actually let you select a language.
- [ ] Twitter, Facebook, and Google Plus missing from social tab
- [x] ~~Donate button missing from company column (probably because it's designed to give user gems for donating)~~

![screen shot 2015-01-26 at 10 47 21 pm](https://cloud.githubusercontent.com/assets/2916945/5913652/727d27e6-a5ad-11e4-8fb9-15077fdf11b5.png)

[2015-01-27 04:56] crookedneighbor commented on #4577
:+1: for "Demo task"

[2015-01-27 04:57] ghost opened #4581 "Challenge owner changing habit +/- , buttons not working"
User ID: 18fa2201-c6b4-4430-bc24-861e8cb43f51

I can't remove the [-] button on a habit in a challenge that I created. I have tried in Safari and Chrome, but the same thing happens when I click to remove. When I click, both [+] and [-] buttons shift positions and then go back when I release.

Actually, I just tried again and was able to remove both the [+] and [-] buttons, but it depends on where

[2015-01-27 08:34] Sporax commented on #4570
I would like to do it as well.

[2015-01-27 08:39] Alys commented on #3889
@scheidm I think this is likely to be a [Sync Error](http://habitrpg.wikia.com/wiki/Sync_Errors) which is where it appears that an action has been taken but the action was not sent to the server for permanent storage. If you look at that wiki page, the section called "How to Minimize Sync Errors" is probably most relevant. Unfortunately there is nothing we can do after the fact, but you can use [S

[2015-01-27 08:40] Alys commented on #3889
@scheidm I think this is likely to be a [Sync Error](http://habitrpg.wikia.com/wiki/Sync_Errors) which is where it appears that an action has been taken but the action was not sent to the server for permanent storage. If you look at that wiki page, the section called "How to Minimize Sync Errors" is probably most relevant. Unfortunately there is nothing we can do after the fact, but you can use [S

[2015-01-27 08:41] Alys commented on #4570
That would be lovely! Thank you. :)

[2015-01-27 08:47] Alys commented on #4572
This could be a very aggressive example of https://github.com/HabitRPG/habitrpg/issues/4313 ("two versions of your data" bug). Maybe if enough tasks were held in local storage, they could give you 14 drops when they were saved to the server after cron ran?? Although I wouldn't have expected the caching problem to last for that long - usually it's just the last few tasks ticked off at the end of th

[2015-01-27 08:48] Alys commented on #4313
https://github.com/HabitRPG/habitrpg/issues/4572 might be another example of this, although it sounds much worse than usual.

[2015-01-27 09:05] #4570 closed, assigned to nobody

[2015-01-27 09:23] Alys commented on #4577
I'd like to see a To-Do that makes users aware that we have a website and apps (especially useful for people who have started with the app). Maybe something like below, where the app links point to the app stores.

![screen shot 2015-01-27 at 7 19 13 pm](https://cloud.githubusercontent.com/assets/1495809/5916133/799a0b1e-a659-11e4-96e2-43cef789ce5b.png)

Optionally, the Note could explain that you

[2015-01-27 09:54] Sporax commented on #4570
I have a couple of questions: should the descriptions on the login page be changed as well - from _Whenever you reinforce a positive habit, complete a daily task, or take care of an old to-do_ to "positive Habit" and "To-Do", and should daily task and daily list (like in the tavern - _your daily list is frozen_) stay in lower case?

[2015-01-27 10:18] Alys commented on #4570
In the Tavern, it should be "Daily list" (because it's talking about the list of your Dailies).

For the login page, @Lemoness, could you comment? The text on that page is for people who haven't used HabitRPG and aren't familiar yet with our task types, so maybe having capitals there for Habit, Daily, and To-Do would look odd to them. (Good question, Sporax.)

[2015-01-27 14:41] paglias commented on #4580
For languages is this line https://github.com/HabitRPG/habitrpg/commit/2306b7c57289d2db9e053b528ccf3c5a473ee24e#diff-b15b92fe8a80bfe66aec828f1d8f71ceL7 which doesn't resolve to `true` anymore when on a static page

[2015-01-27 14:50] paglias commented on #4580
Fixed languages list here https://github.com/HabitRPG/habitrpg/commit/42c0b443d7d81fab5260fed7252c5fc6f807a8a1

Gems are disbled by purpose: https://github.com/HabitRPG/habitrpg/blob/develop/views/shared/footer.jade#L18

[2015-01-27 15:00] crookedneighbor commented on #4580
:+1: Awesome. I'll strike the donate button from the list.

[2015-01-27 15:10] paglias commented on #4580
and for the addThis script I think it's https://github.com/HabitRPG/habitrpg/blob/develop/views/index.jade#L13-L14 which has been moved from footerCtrl to index, but I can't test it right now

[2015-01-27 15:26] brightbold commented on #4307
This bug is definitely a bigger deal on the quests. On my computer I can't read the full text of any of the quests in the right-most column, because the tops of the popovers (mmm... popovers!) all fall offscreen, even with the selected quest scroll all the way at the bottom of my viewport.
![quest-popup](https://cloud.githubusercontent.com/assets/405068/5921041/eeecda36-a60e-11e4-8e56-597a978441c0

[2015-01-27 15:47] #4556 closed, assigned to nobody

[2015-01-27 16:46] HSalgo commented on #4572
Did anyone else have this problem yesterday? I wonder if it was something funky with the World Boss getting defeated? I have no idea.

Anyway, the problem did not persist until today, so I'm going to say that we should leave this open to see if anyone else has this problem in the long term. Sound good?

Thanks for your help!

[2015-01-27 17:54] #4576 closed, assigned to nobody

[2015-01-27 18:02] lefnire opened #4583 "Changing subscription methods interrupts consecutive counter"
From an email:

[2015-01-27 18:17] crookedneighbor commented on #4583
Did you edit the db for the user?

[2015-01-27 18:20] lefnire commented on #4583
Yeah, they're set - should've mentioned

[2015-01-27 19:25] Sporax commented on #4570
I changed the files: they were communityGuidelines, defaultTasks, npc, quests, questsContent, settings and tasks (all .json and under habitrpg-shared/locales/en/). While committing the files though the `git status -s` didn't identify the edited files and I had to use `git add -f {path to file}` to commit them. Now when making a pull request it says that there is nothing to compare. Am I editing th

[2015-01-27 19:31] Alys commented on #4570
Have you done `git commit` and then `git push ....`? If not, do that. If you have, do a pull request or paste in the URL to your branch in github so that we can see what's happened. We can always cancel the pull request if needed.

Be cautious about using any force (-f) options for any software. It often means that you're doing something that is best not done. In this particular case, -f is for ad

[2015-01-27 19:33] Sporax commented on #4570
I did do that. And while doing a regular add and commit it was ignoring the files. [Here is the link](https://github.com/Sporax/habitrpg-shared).

[2015-01-27 19:35] Sporax commented on #4570
I could also just change the files in my fork of the shared repo, it seems like that would be the easier way.

[2015-01-27 19:48] Alys commented on #4570
Nothing recent has been pushed to your github fork as far as I can see. Are you sure you did `git push...`? Did it give any error messages?

While it is simpler to edit files in your fork, editing them locally is good practice for using git. If you'd like to do more advanced coding changes (we'd love you to!) then using git will be essential, so I'd encourage you to persist with it now. Once we've

[2015-01-27 19:55] Sporax commented on #4570
Ok, I tried again. `git add 'pathtofile'` doesn't really do anything, since when I used `git commit -am "message"` it says `nothing to commit, working directory clean`

[2015-01-27 19:57] lemoness commented on #4570
Let's not capitalize the login page - we're easing them into the terms ;)

On Tue, Jan 27, 2015 at 11:55 AM, Saagar Saini notifications@github.com
wrote:

[2015-01-27 20:01] Alys commented on #4570
Thanks Lemoness!

Sporax, have you done `git push` since you committed the files? If not, you need to do that before your files will show up in github. The push command is what sends the files from your local machine to your github fork. Try just `git push` at first but if it gives you any error messages you might need to add other parameters so tell us what those messages are.

[2015-01-27 20:03] Sporax commented on #4570
I used `git push`, it says `everything up to date`, no errors

[2015-01-27 20:06] Alys commented on #4570
Please do `git log` and paste the output in here. Just include the output that's initially on the screen. Don't scroll down to see more output. We want only the recent entries, and they'll be at the top of the output (i.e., on screen as soon as you've done that command).

[2015-01-27 20:07] Alys commented on #4570
Also do `git diff upstream/develop` and show us the output

[2015-01-27 20:12] lemoness commented on #4577
Lots of good ideas!
- I agree that Item Path is important, although for external links like the
  wiki, there's no obvious route.
- How hard is it to fix the bug in mobile that opens links in the same
  page? How quickly can it be done? We want to get these in as soon as we
  can, so maybe we should do two pushes - one without links, and one with
  links.
- Idea for another to-do: check out the Da

[2015-01-27 20:14] Alys commented on #4572
We haven't seen anything as extreme as your report but there are similar, milder problems in that issue I linked to. It wouldn't be related to the World Boss; that code is very similar to the normal quest code and there's no room in it for extreme errors like this one.

I agree about leaving this open, at least until we've developed a good understanding of what has happened or until enough time ha

[2015-01-27 20:45] crookedneighbor commented on #4577
ping @negue and @huarui regarding how easy the fix for the external links bug will be: https://github.com/HabitRPG/habitrpg-mobile/issues/227

[2015-01-27 20:57] Sporax commented on #4570
`git log`:
![screen shot 2015-01-28 at 2 23 30 am](https://cloud.githubusercontent.com/assets/10322112/5926939/eca126ac-a694-11e4-8454-a90d2527aaa4.png)
`git diff upstream/develop`:
![screen shot 2015-01-28 at 2 26 29 am](https://cloud.githubusercontent.com/assets/10322112/5926958/1bce5fee-a695-11e4-9e06-84abe328a039.png)

[2015-01-27 21:13] crookedneighbor commented on #4570
@Sporax could you do `git diff upstream/develop > ~/output.txt`. That'll create a file named output.txt on your desktop with the full text of the diff. You can then copy and paste it here, rather than attaching a screenshot.

[2015-01-27 21:17] Alys commented on #4570
@Sporax The problem is that you're working in the main habitrpg repo instead of in the habitrpg-shared repo.

Do you know if you set up the habitrpg-shared repo to be a separate repository? You might have followed these instructions: http://habitrpg.wikia.com/wiki/Guidance_for_Blacksmiths#8._Work_with_habitrpg-shared which would have worked.

Please do `cd node_modules/habitrpg-shared` and then do

[2015-01-27 21:20] crookedneighbor commented on #4570
@Alys good eye. I totally missed that.

[2015-01-27 21:52] Alys commented on #4570
Sporax, note that we are merging the habitrpg-shared repo into the main repo, and that will probably be completed in a few weeks, maybe sooner. If you haven't fully set up the habitrpg-shared repo yet, or aren't sure if you have, you might like to wait until it's no longer necessary. However this might mean that you would have to re-do your capitalisation changes.

After you've shown us the output

[2015-01-27 21:59] crookedneighbor commented on #4575
@lemoness Something like this:

![screen shot 2015-01-27 at 3 58 04 pm](https://cloud.githubusercontent.com/assets/2916945/5928049/5caa07be-a63d-11e4-8e6a-32bd069a87ce.png)

[2015-01-27 22:05] Alys commented on #4575
I'd suggest "Boss health" and "Boss strength" otherwise we'll get newbies thinking it will give them 500 health.

[2015-01-27 22:05] crookedneighbor commented on #4575
Good thinking.

[2015-01-27 22:10] deilann commented on #4575
I'd like that. The quest description is too much for the pop over anyway.

On Tue, Jan 27, 2015 at 2:05 PM, Blade Barringer notifications@github.com
wrote:

[2015-01-27 22:18] lemoness commented on #4575
Agreed on the "Boss Health"/ "Boss Strength" - other than that, looks great!

On Tue, Jan 27, 2015 at 2:10 PM, deilann notifications@github.com wrote:

[2015-01-27 22:19] crookedneighbor commented on #4575
![screen shot 2015-01-27 at 4 18 22 pm](https://cloud.githubusercontent.com/assets/2916945/5928348/2ce6faac-a640-11e4-8992-dcde002bfbe9.png)

![screen shot 2015-01-27 at 4 18 31 pm](https://cloud.githubusercontent.com/assets/2916945/5928354/363926a2-a640-11e4-872e-eefd171fdedd.png)

[2015-01-27 22:31] Alys commented on #4575
So nice!

On 28 January 2015 at 08:19, Blade Barringer notifications@github.com
wrote:

[2015-01-27 22:43] lemoness commented on #4577
Okay, I've updated the original card. Let's roll out the link-free versions first, because even if we fix the bug quickly, Apple will take a million years to deploy the update, and this is a sooner-the-better fix.

Anyone else have any qualms/comments about the new version of the list?

[2015-01-27 22:56] lemoness commented on #4575
Any way to bold the bits before the colons, just to make them pop?
(Thinking in particular for the rewards.) If it's a hassle, just merge
as-is.

On Tue, Jan 27, 2015 at 2:31 PM, Alice Harris notifications@github.com
wrote:

[2015-01-28 01:41] ArachneJericho opened #4584 "Deleting reward also deducts gold"
Hello,

User ID: 6b3b90f3-619a-4a0e-90d9-6efaa33e5b5c

I deleted a reward, "Fields of Arle", which was 2000 gold. The next thing I knew, 1000 gold was deleted from my account. I'm using the Chrome browser, version 40.0.2214.91.

JS console errors:

Failed to load resource: net::ERR_CONNECTION_REFUSED
2760:1 Unhandled promise rejection Promise__proto__: Promise[[PromiseStatus]]: "rejected"[[Promise

[2015-01-28 01:43] deilann commented on #4584
Settings > Site > Fix Character Values

[2015-01-28 01:44] ArachneJericho commented on #4584
Oh, ok, thank you.

[2015-01-28 13:05] #4560 closed, assigned to nobody

[2015-01-28 13:27] benmanley commented on #4539
@SabreCat I've attempted a fix with dc5f980083a16ac91ac3465f94c6f4e0f3c2cb25. Let me know if it's done the trick.

[2015-01-28 14:45] Sporax commented on #4570
I deleted and reinstalled the local Habit again and it seemed to fix it, I had to redo the changes though. Pull request: HabitRPG/habitrpg-shared#456

[2015-01-28 14:58] hattieshoe opened #4586 "Erroneous Triad Bingo achievement notification"
Right now I'm at 89 gen-1 pets with all the mounts. I just hatched a quest pet (octopus) and got a notification that I had achieved Triad Bingo. When I checked my stats page, sure enough, the Triad Bingo achievement was listed. I refreshed the page and the achievement went away, so all is well now, but I figured I'd mention it here so someone can look into it. The temporary achievement could be co

[2015-01-28 15:12] crookedneighbor commented on #4586
@hattieshoe Can you post your user id here? It can be found in [settings > api](https://habitrpg.com/#/options/settings/api) (be sure to copy only the user ID, not the API Token).

I thought I fixed this issue, but apparently not. I'm going to try to replicate it with your pet and mount data on my local install.

[2015-01-28 15:42] hattieshoe commented on #4586
User ID 0b670754-57f5-4704-854f-9a9c92107b9b
Not sure if this helps, but it happened this morning when I hatched the first of 2 octopus pets. Possibly desert. I then hatched a second octopus - didn't think to refresh first and see if the second would give me the notification again.

[2015-01-28 16:02] crookedneighbor commented on #4586
Hmm... @hattieshoe tried it on my local install and it's working as expected.

It's possible that you have an old version of the hatching code and triad count script cached in your browser. Do you think you could reload your browser and try hatching another pet?

[2015-01-28 16:39] hattieshoe commented on #4586
I just cleared my cache, reloaded the browser and bought an octopus egg and a white potion since that's one of the two octopi I didn't have yet. I hatched the egg and got the same Triad Bingo notification, and the Triad Bingo is showing up again in my achievements. -- Then after doing ctrl-F5 again, the achievement is gone again.

[2015-01-28 16:47] crookedneighbor commented on #4586
Oh, I'm dumb. I forgot to remove the triad bingo achievement from local install. I've removed it now and I'm trying again.

[2015-01-28 16:58] crookedneighbor commented on #4586
Yep, there it is. Erroneous Triad Bingo Achievement.

I've fixed the script, now that I look at it (AGAIN), I see what was wrong. I've patched it and the new code should be deployed later today.

Thanks for your help on this!

[2015-01-28 16:59] crookedneighbor commented on #4586
Here's the commit that closed this issue: https://github.com/HabitRPG/habitrpg/commit/23c31083ef5c78ac1de4c0b5dfd190e67e1975f6

[2015-01-28 16:59] #4586 closed, assigned to nobody

[2015-01-28 18:51] SabreCat commented on #4539
@benmanley Doesn't appear to have done. I'll see what it looks like when it's deployed to the main site, but they still look lopsided on Chromium on Ubuntu.

[2015-01-28 18:52] SabreCat commented on #4539
If I give it a `zoom` attribute of `1.1` it looks fine, just as if I'd zoomed in at the browser level... xD

[2015-01-28 19:04] SabreCat commented on #4449
@lemoness:
![image](https://cloud.githubusercontent.com/assets/4501321/5944615/ff5afc7e-a6ed-11e4-822f-5b302fb8bad6.png)

I love Kiwibot's work! I would maybe move the bears 1-2 big!pixels rightward so the avatars don't look like they're in the process of dismounting (which might require also moving the bears down by a big!pixel), but otherwise they're lovely.

[2015-01-28 19:22] RakiKraki69 opened #4587 "Refresh bug"
I noticed that there's a 'refresh bug'. As an example, when I damage a world boss, and then I want to see his current health, it still shows his previous health status(like I didn't damaged it at all). The result appears only if I refresh my browser. Also, the same thing happens with tavern and party chat. When someone posts a new message in the tavern, I see the post only If I refresh the page or

[2015-01-28 19:32] paglias commented on #4580
@crookedneighbor fixed addthis https://github.com/HabitRPG/habitrpg/blob/develop/views/static/layout.jade

[2015-01-28 19:32] #4580 closed, assigned to nobody

[2015-01-28 20:26] crookedneighbor commented on #4307
This PR will help with this: https://github.com/HabitRPG/habitrpg/pull/4585

But it won't solve it completely:

## Good!

![screen shot 2015-01-28 at 2 22 46 pm](https://cloud.githubusercontent.com/assets/2916945/5946191/843886c2-a6f9-11e4-86b9-b6ae25511ca9.png)

## Still not perfect:

![screen shot 2015-01-28 at 2 22 52 pm](https://cloud.githubusercontent.com/assets/2916945/5946194/8a335b24-a6f9-

[2015-01-28 20:33] Alys commented on #4587
I believe these aren't so much bugs, but side-effects of how those features have been implemented, often to reduce server load and increase browser performance.

For example, if the header bar was to show changes in your party as soon as those changes happened, then your browser would need to be polling the database constantly to look for changes, and you would notice a decrease in the site's resp

[2015-01-28 20:39] paglias commented on #4587
Fetching the party chat should update all the party info non only the
chat, like the quest and the avatars, I think

2015-01-28 21:33 GMT+01:00, Alice Harris notifications@github.com:

##

Matteo Pagliazzi - paglias.net

[2015-01-28 21:07] crookedneighbor commented on #4555
I'll concede to your point about the markdown. I've been working on the popovers on the inventory screen and figured out how to fix the other issue I mentioned. It also fixes the initial misplacement of the popover on the tasks, but it does not fix the popover misplacement after changing the text.

After some more research, it turns out that this is a bug with the angular-ui popover library that w

[2015-01-28 21:39] #4575 closed, assigned to nobody

[2015-01-28 21:46] crookedneighbor commented on #4542
So, as I understand it, the problem is that a new concatenated and minified version of the css is getting created whenever the grunt task for production is run, but if someone is on the site when it gets deployed, they'll be using an old version of the stylesheet (since the html file never got refreshed to point to the new version), but new versions of the sprite sheets, resulting in misalignment

[2015-01-28 21:49] paglias commented on #4542
If you're already on the site you shouldn't have already downloaded the
sprite sheets?
Il 28/gen/2015 22:46 "Blade Barringer" notifications@github.com ha
scritto:

[2015-01-28 21:49] thepeopleseason commented on #4542
Timestamp/version the name of the css and spritesheets?

[2015-01-28 21:49] wswld commented on #4571
Actually I kinda localized the issue. The trouble start when I edit something within an issue (change difficulty, checklist) and then the sync seems to break (loading indicator not showing on swipedown) and all the changes after this moment seem to get lost on restart. Even issues that aren't edited just added after you edit this one are lost. Just an observation.

[2015-01-28 21:50] crookedneighbor commented on #4307
@brightbold the specific issue you pointed out will be fixed the next time a deploy to production is made (should be before the 30th).

[2015-01-28 21:51] paglias commented on #4542
It's versioned at each deploy, an hash of the file is calculated and the
file renamed accordingly
Il 28/gen/2015 22:49 "James Hsiao" notifications@github.com ha scritto:

[2015-01-28 21:52] crookedneighbor commented on #4542
@paglias I suppose that's correct. Is it just a caching issue then? The browser is holding on to one and not the other?

[2015-01-28 21:52] wswld commented on #4571
If I avoid editing issues, just adding and marking checking them off, everything seems to work fine. If I edit an issue (habit, todo, daily doesn't matter), whatever is done afterwards — lost.

[2015-01-28 21:53] crookedneighbor commented on #4542
@paglias are the sprite sheets hashed as well? I didn't think they were.

[2015-01-28 21:54] paglias commented on #4542
I think so...
Il 28/gen/2015 22:52 "Blade Barringer" notifications@github.com ha
scritto:

[2015-01-28 21:54] paglias commented on #4542
Mmm... The sprite sheets I don't know
Il 28/gen/2015 22:54 "Matteo Pagliazzi" matteopagliazzi@gmail.com ha
scritto:

[2015-01-28 21:56] crookedneighbor commented on #4554
@ShwetaNarayan Any more hiccups related to this?

[2015-01-28 21:56] paglias commented on #4542
Yeah they are according to the grunt file. It seems an intermittent issue,
myself for example I never got it
Il 28/gen/2015 22:54 "Matteo Pagliazzi" matteopagliazzi@gmail.com ha
scritto:

[2015-01-28 21:59] crookedneighbor commented on #4542
You're right, they do get copied and renamed in the grunt file, but the stylesheets still use the regular files, right? Did inspect element and the class is pointing to this image: https://habitrpg.com/bower_components/habitrpg-shared/dist/spritesmith4.png

[2015-01-28 22:01] ShwetaNarayan commented on #4554
As far as I know, no. Definitely no more duplications or extra levels. Beyond that I can't do better than "probably not" at the moment, because my brain is goo. I've failed to actually catch the habits and get screenshots before & after cron because I keep forgetting I'm doing that and clicking on things absentmindedly :/

I'll be more with it next week after I move to California, & will try to ge

[2015-01-28 22:02] crookedneighbor commented on #4554
Okay, we'll leave it open for now. I'll set a todo to check back in with you in a week.

[2015-01-28 22:04] ShwetaNarayan commented on #4554
ok! I will too, to get some screenshots next weds/thurs.  Before that is not gonna happen, reasonably speaking.

[2015-01-28 22:08] lemoness commented on #4276
Would this be a good task for an Aspiring Coder?

[2015-01-28 22:13] paglias commented on #4542
On prod? Ok, I'll check it out tomorrow
Il 28/gen/2015 23:00 "Blade Barringer" notifications@github.com ha
scritto:

[2015-01-28 22:15] akwilke opened #4588 "Tasks reappearing in to-do list - multiple duplicated To-Dos (same ID, etc)"
![image](https://cloud.githubusercontent.com/assets/10748453/5948292/643419b2-a709-11e4-8511-f1f863c5fede.png)

Several tasks will not clear from my todo list.  I cannot delete them and if I click that I completed them they reappear as soon as the screen refreshes.  On the attached image the following tasks continue to reappear  "update job description", "enter concerts", "finish real life manual

[2015-01-28 22:15] crookedneighbor commented on #4276
I don't think this is entry-level, maybe a step or two beyond that. Do you want this done soon?

[2015-01-28 22:17] crookedneighbor commented on #4542
Yeah, I checked it on prod.

In order for the image has technique to work, wouldn't we need to update the image url that `grunt sprite` generates in the stylesheets?

[2015-01-28 22:19] paglias commented on #4542
Yeah and cssmin in grunt does this (rewrite the URLs) but it's run after
cssmin so will target files not renamed.

I'm wondering how we can have had this for such a long time. Totally my
fault :facepalm:
Il 28/gen/2015 23:17 "Blade Barringer" notifications@github.com ha
scritto:

[2015-01-28 22:21] Alys commented on #4588
If this is still happening in 10 to 12 hours (after I get home from work today), I'll look into your account in the database and fix whatever the problem is.

Please let us know if the problem disappears before then!

BTW, you might like to take another screenshot that shows only your tasks and edit your comment to replace the screenshot that's there now. The current screenshot is showing your ema

[2015-01-28 22:23] akwilke commented on #4588
Ok here is my user id 30fb2640-7121-4968-ace5-f385e60ea6c5  Also a few of the tasks this has been happening for several days in multiple browser types including Chrome, IE, and Firefox.    I think I updated the screen shot.  Thanks.

[2015-01-28 22:53] lemoness commented on #4276
Nah, not high-prioirty - was just going through the art trello and found
them again.

On Wed, Jan 28, 2015 at 2:15 PM, Blade Barringer notifications@github.com
wrote:

[2015-01-28 22:58] Hyperion42 commented on #1057
Hi, I think I'm having a similar problem. I loaded Habit this morning and saw that only one of my daily's was unchecked (one that I had definitely done yesterday). Furthermore, all my streaks had been reset, a new daily that I had created yesterday is now in my list twice and I've lost a lot of health because whatever has happened meant that no damage was dealt to the boss I've been fighting for y

[2015-01-28 22:59] lemoness commented on #4449
Hm, what does it look like with the tail moved so it's fully in the box -
or is that impossible?

On Wed, Jan 28, 2015 at 11:04 AM, Sabe Jones notifications@github.com
wrote:

[2015-01-28 23:19] joshbDev opened #4589 "Casting Spooky Sparkles and a Snowman on a Character displays both a ghost and a snowman"
The heading pretty much says it. Photo for evidence. It's a really small priority, but I thought I'd at least log it.
![screen shot 2015-01-28 at 12 50 21 pm](https://cloud.githubusercontent.com/assets/5234453/5949300/09f0fde2-a701-11e4-86ee-d28e8c7303da.png)

[2015-01-28 23:32] Alys commented on #4589
I've seen more people appreciate this as a feature than consider it a bug (I personally like the effect a lot and there was another comment saying that in the Tavern within the past day), but regardless, it's already been reported as a bug at https://github.com/HabitRPG/habitrpg/issues/4335 so you can follow the progress of it there.

[2015-01-28 23:32] #4589 closed, assigned to nobody

[2015-01-28 23:33] joshbDev commented on #4589
oh, sorry! Thanks for the heads up.

[2015-01-28 23:38] Alys commented on #1057
@Hyperion42 Because the boss damaged you and one of your Dailies was unticked, we can tell that your cron did run, so you didn't experience this bug. Instead, it would have been this one: https://github.com/HabitRPG/habitrpg/issues/4313
I realise that from your point of view this doesn't help at all, and I'm sorry the bug happened to you! I'm mentioning this just so that we developers can keep tra

[2015-01-29 00:24] SabreCat commented on #4449
Put it through a -12 x offset and got this:
![image](https://cloud.githubusercontent.com/assets/4501321/5950064/df1f136e-a71a-11e4-9c55-bd0be0a0fab6.png)

Not too shabby!

[2015-01-29 01:03] lemoness commented on #4449
Awesome, I think that looks good! Will get you the rest of the wolf
recolors soon.

On Wed, Jan 28, 2015 at 4:24 PM, Sabe Jones notifications@github.com
wrote:

[2015-01-29 02:50] Hyperion42 commented on #1057
Okay, thank you very much! I'll go post over there

[2015-01-29 02:51] Hyperion42 commented on #4313
Hey guys, I'm having a similar problem, I was directed over here, so I'll start by just copy-pasting what I described originally
 I loaded Habit this morning and saw that only one of my daily's was unchecked (one that I had definitely done yesterday). Furthermore, all my streaks had been reset, a new daily that I had created yesterday is now in my list twice and I've lost a lot of health because w

[2015-01-29 10:29] Alys commented on #4588
@lefnire @paglias FYI an extreme example of duplicated tasks (same text, same id, same creation date for many tasks).

@akwilke Many of your tasks exist multiple times in the database. For example, "notes for tawny" is in there six times (that's the worst one). HabitRPG shows you only one task from each duplicate set at a time, and then when you mark that task completed or when you delete it, it s

[2015-01-29 11:55] Piskvor commented on #4189
I have been affected by the same symptoms today. No TZ changes, no time change on any device, no custom cron offset. Levelled up shortly before midnight, yet seem to have received two crons since - one when logging in via Android app in the morning ("okay, I am at thirty-something"), other when logging in via browser ("how did I lose 28 HP since midnight?!").

Devices: Android 4.0.4 with HRPG app

[2015-01-29 12:02] Alys commented on #4189
@Piskvor Did you notice any other signs of cron apart from health loss? For example, did any Dailies you'd recently ticked become unticked? Are you in a party doing a boss quest? If so, please go to the party page and click "Fetch Recent Messages" then look for red messages that show damage caused by the boss - are there any that add up to 28 HP? Please also tell us your User ID from Settings -> A

[2015-01-29 12:17] Piskvor commented on #4189
- Did not tick any dailies today yet, so I don't have any indication there
  - (but I did tick dailies shortly before midnight yesterday, in the Android app - which is very laggy on my device; perhaps that might be related?).
- Boss quest: yes - _Attack of the Mundane Questline, Pt. 2: The SnackLess Monster_

- I see 15.6 HP in total
  - (of which 5.6 was erased by the level up @ about 11:30 PM lo

[2015-01-29 14:12] akwilke commented on #4588
Hi Alice,

I am not using a third party application to create tasks.  I do sometimes
have Habit open in both my app and on my desk top and I had wondered if
that could cause issues.  The ways that I access Habit are through the web
on my desk top, the web on my tablet, the app on my phone, and occasionally
the web on my phone when I have trouble getting the app to load (this has
mostly been taken

[2015-01-29 14:15] akwilke commented on #4588
Also, I thought I would mention that "notes for tawny" doesn't show up in
my task list.  I completed that one a few days ago and did not get
duplicates for it.  So it is interesting that there are still duplicates of
it on the server.

On Thu, Jan 29, 2015 at 8:11 AM, Autumn Wilke autumn.k.wilke@gmail.com
wrote:

##

Autumn Wilke
Residence Life Coordinator
Academic Advisor
Grinnell College

wilkea

[2015-01-29 15:57] Sporax commented on #4570
Pull request updated with changes.

[2015-01-29 16:59] paglias commented on #4542
@crookedneighbor giving a better look at this the sprites aren't renamed at all. Running ``grunt build:prod` doesn't rename them because they are not copied to the build directory so they are seved telling the browser not to cache them. And indeed if you open the network tab it shows that their max age is 0.

And also my previous comment was wrong, their path inside the css would be updated but it

[2015-01-29 16:59] #4542 closed, assigned to nobody

[2015-01-29 17:05] Hobbitmom commented on #4252
This seems to be the right thread for a problem with getting finished quest rewards.  I hope.  :D

Finished the “Trapper Santa” quest a while back, and so far as I know everyone got their rewards, however as the quest owner I did not get the “Find the Cub” Scroll, which is sometimes listed as one of the rewards.  I then bought the Find the Cub” quest and we just finished it, however only one membe

[2015-01-29 18:41] crookedneighbor commented on #4252
@Hobbitmom the "Find the Cub" scroll is not a reward for completing "Trapper Santa". So we don't have to worry about that.

Not getting the cub reward is troubling though. Can you refresh your browser and then post a screenshot of your chat where it says all items found?

I've confirmed that the user noted that did get the rewards has the polar bear cub and the achievement for evilsanta2.

I've co

[2015-01-29 18:45] deilann commented on #4252
It makes perfect sense that the one who doesn't have the quest appearing as
active is the one who got the rewards -- clearing the quest from the user
object (ending it) would involve getting the rewards.

On Thu, Jan 29, 2015 at 10:41 AM, Blade Barringer notifications@github.com
wrote:

[2015-01-29 19:39] gkjt opened #4591 "Problems setting up Vagrant dev box"
I am currently trying to set up a Vagrant box in order to start contributing, but I am unable to get npm to start. I have tried reinstalling most things, redownloading the project, and looked at similar issues with no success.

To begin with, trying `vagrant up` into git shell starts things going, and it goes well up to npm, when it outputs my first attached output below. Some of it seems optional

[2015-01-29 20:24] Hobbitmom commented on #4252
@crookedneighbor, I figured that the scroll wasn't included because I got everything else -- but it was listed when I read about the quest right before purchasing it, so I thought that might've been a similar glitch.

I'm not sure how to post my screenshot, but the pertinent line looks exactly like the one in Alys' post in this thread dated November 28, 2014.

@deilann, that was my thought, too.

[2015-01-29 20:52] crookedneighbor commented on #4591
After you `vagrant ssh`, try doing a `npm install` before `npm start`.

[2015-01-29 20:57] gkjt commented on #4591
As in destroy the current box and fresh start again? I have tried `npm install` a few times at various points and it hasn't helped, but I'll give it a go

[2015-01-29 21:02] akwilke commented on #4588
I have a new task that won't go away.  I tried to "complete" it 6 or 7
times and it keeps coming back.  It is "add people to access-roland, polly,
tawny, anne"

Thanks for your continued help!

A

On Thu, Jan 29, 2015 at 8:14 AM, Autumn Wilke autumn.k.wilke@gmail.com
wrote:

##

Autumn Wilke
Residence Life Coordinator
Academic Advisor
Grinnell College

wilkeaut@grinnell.edu
641-269-3761

[2015-01-29 21:04] crookedneighbor commented on #4252
@Hobbitmom it doesn't necessarily mean that the quest is still active, just that the data for the quest has persisted on your user. I believe that the code that sees if you can start a new quest looks at the group object, not the user object. So, once it gets accepted by all parties and begun, it should replace what you have on your user object.

You can post a screenshot here by dragging the scre

[2015-01-29 21:05] deilann commented on #4252
Find the Cub has never been a reward of Trapper Santa.

On Thu, Jan 29, 2015 at 1:04 PM, Blade Barringer notifications@github.com
wrote:

[2015-01-29 21:07] crookedneighbor commented on #4591
The grunt error indicates that `node_modules/grunt` is not installed. I don't think there's anything in the vagrant code to automatically run `npm install` and I recall, that step isn't listed in the vagrant instructions on the wiki.

Just give it ago after the vagrant ssh step, which I believe should put you in an environment where npm is already installed, and run `npm install` from there.

[2015-01-29 21:16] lemoness commented on #4252
What if we took off the ending of the completion text and added it to the
beginning of Find the Cub?

Like so:

New TS Completion:

Trapper Santa squeals in anger, and bounces off into the night. Your
grateful she-bear roars and growls. She will stay with you as a mount!

New FTC Beginning

When you take your polar bear back to the stables, Matt Boch the Beast
Master listens to her tale with a gas

[2015-01-29 21:27] Hobbitmom commented on #4252
I wasn't confused by the completion text.  The scroll was listed as a reward on Wikia before I did Trapper Santa.  That was when, if I clicked on "reward" and the pertinent Wikia page would scroll down to fit the info.  Now when I click on "reward" on that page, I get a pop up including the rewards, which does not list it.  I'd read somewhere that Wikia isn't always accurate, however, plus I'd got

[2015-01-29 21:27] Alys commented on #4252
@Hobbitmom I'll fix the quest rewards for the party members that didn't receive them within the next 24 hours (sooner if I can). I'll also remove the stale quest information from the users' accounts.

If the new quest invitation that you sent out has not yet been accepted by all players, I recommend either cancelling it (you'll get your scroll back and can reuse it later) or asking your party memb

[2015-01-29 21:29] Alys commented on #4252
@Hobbitmom Don't worry about the screenshot. Thanks anyway.

The wiki was wrong. Sorry about that! I did notice and fix one place where it gave incorrect information about the second scroll but I'll look in other relevant pages as well now.

[2015-01-29 21:29] thepeopleseason commented on #4591
Taking a look at the vagrant.sh file:

There is the line:
`npm install -g grunt-cli bower`

I don't see evidence of this in Output 1. Try running that line by itself.

[2015-01-29 21:30] Hobbitmom commented on #4252
@Alys, many thanks!

I've cancelled the quest, so hopefully that won't be an issue.

[2015-01-29 21:31] lemoness opened #4593 "Skill Rebalancing: BoF [$10 awarded]"
Bounty for https://github.com/HabitRPG/habitrpg-shared/pull/373
## <bountysource-plugin>

The **[$10 bounty](https://www.bountysource.com/issues/8140394-skill-rebalancing-bof?utm_campaign=plugin&utm_content=tracker%2F68393&utm_medium=issues&utm_source=github)** on this issue has been claimed at [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F68393&utm_medium=

[2015-01-29 21:33] gkjt commented on #4591
I'll try that next, thank you. I'm just spinning up another Vagrant VM so as soon as that is done I'll tell you what happens.

[2015-01-29 21:34] #4593 closed, assigned to nobody

[2015-01-29 21:37] crookedneighbor commented on #2958
@Mokona271 I know this is almost a year old at this point. Looks like it was only counting your contributions to the quest? (9 + 16 = 25)

I assume by this time whatever bug was happening has been resolved, so I'm closing this issue. If it is not resolved, or someone else has the same issue, let me know and I'll re-open it.

[2015-01-29 21:37] #2958 closed, assigned to nobody

[2015-01-29 21:39] gkjt commented on #4591
Ok here is the output:

[code]

[2015-01-29 21:40] crookedneighbor commented on #4252
Looking back on the various quests listed in this issue, [this report for the egg collection quest](https://github.com/HabitRPG/habitrpg/issues/4547) and [this other issue for the find the cub quest](https://github.com/HabitRPG/habitrpg/issues/4552): all the reports are from collection quests.

I find that intriguing.

[2015-01-29 21:45] novasdream commented on #4593
is that  @lemoness ?

[code]

[2015-01-29 22:00] Alys commented on #4413
@Verabird, this issue has a bounty which you are eligible to collect!

[2015-01-29 22:00] #4413 closed, assigned to nobody

[2015-01-29 22:01] Alys commented on #4417
@Verabird, this issue has a bounty which you are eligible to collect.

[2015-01-29 22:01] #4417 closed, assigned to nobody

[2015-01-29 22:03] Alys commented on #4419
@Verabird, this issue has a bounty which you are eligible to collect.

[2015-01-29 22:03] #4419 closed, assigned to nobody

[2015-01-29 22:03] Alys commented on #4474
Note to other developers, @deilann has been proceeding with the code required for this.

[2015-01-29 22:25] novasdream commented on #1057
that bug is alive for '2 years' ?

[2015-01-30 00:42] Silverai commented on #1057
Yes.  I found out about HabitRPG in March 2013, and found it to be heaven sent for me.  A few months later, this bug was bad enough that it was no longer of worth it to me.  I've been following this thread for almost two years, hoping that it gets fixed so that I can come back and gain the benefits HabitRPG gave me for those few short months, but alas no fix yet.  Yes, there a workarounds, but the

[2015-01-30 01:56] brandonjreid commented on #1057
@Silverai I created a fix for this bug and it went out not too long ago.  Since the fix has gone out, I haven't seen any evidence that there is a problem anymore.  There are a couple similar issues that still need fixed like #4313, but the problem with the custom day start should be fixed and good to go.  Maybe now's the time to give HabitRPG a try again?

[2015-01-30 10:04] Alys commented on #4252
@Hobbitmom The three of you should now have the Polar Bear pet and the "Find the Cub" quest achievement. You might need to reload the site using your browser's refresh button before you see them.  Let us know if they haven't appeared!

I have also removed the old, stale quest information from all three accounts so you should now be able to start a new quest with no problems.

The quest should have

[2015-01-30 10:08] JimMackin commented on #4561
Am I just better off cancelling and buying a block?

[2015-01-30 10:49] raisa1945 opened #4595 "all check-marked tasks suddenly unchecked"
hello, I experienced quite often of this.
I marked tasks done in my smartphone using HabitRPG app by OCDevel from google play.
But, when I logged in from my laptop, in the first things are fine, the checked tasks show exactly the same from the smartphone. But AFTER I reloaded 1 time, all tasks suddenly  unchecked, and my character's life substracted a lot!
Plus, my habit streaks became quite messy

[2015-01-30 12:30] Alys commented on #4561
@lefnire This is probably one for you to look at.

[2015-01-30 14:03] Paot opened #4596 "Being Able to Feed Pets Over and Over again."
I found a bug where when I click on food and the pets light up with the green boarder that is you click that food item again the pets lose the green boarder, but you can still feed it of the pet and the food does not disappear. I was able to do this a few times in a row, then stopped with the assumption I could go on indefinably.

[2015-01-30 14:58] Hobbitmom commented on #4252
@Alys Yep, everyone has their cub.  Yay!

I'll go send them your paragraph on how to get the XP and GP.  Thank you so much.  :)

[2015-01-30 15:56] ghost opened #4597 "Vagrant machine without npm?"
I tried setting up habitrpg locally with vagrant but there are some issues.
I have the github windows program set up, cloned the habitrpg project and opened from github in the git shell.
Vagrant up works fine but when I login through vagrant ssh the user is vagrant@precise64 and not vagrant@habitrpg. Then when trying to npm start it says that npm is not installed. When I try to apt-get it it can't

[2015-01-30 16:31] gkjt commented on #4591
Ok, so I just retried `sudo npm install -g grunt-cli bower` and it executed fine, however, still no `npm start`, and I retried `npm install` andit failed with:

[code]

[2015-01-30 16:43] sergej-brazdeikis opened #4598 "Mobile website exception"
_Observation_
Tried to access the homepage while loggedin on iPhone. When refreshing, the issue is the same.

[code]

_Browser_: iOS 8.13.3 Safari
_UserId_: 3fb933b9-522c-484a-9854-fd08a608e69f

![img_2845](https://cloud.githubusercontent.com/assets/1146115/5979420/c94d6b4c-a8a7-11e4-90f2-25439bfebd12.jpg)

[2015-01-30 16:46] paglias commented on #4598
We're sorry about this! It was a brief problem due to some broken code but
it should be fixed now. Could you try reloading one last time?

If it's still not working you should post it here.

And sorry again!
Il 30/gen/2015 17:43 "Sergej Jevsejev" notifications@github.com ha
scritto:

[2015-01-30 16:47] sergej-brazdeikis commented on #4598
Ok, I confirm, Its working! Thank for extremely fast response ;)

[2015-01-30 16:47] #4598 closed, assigned to nobody

[2015-01-30 16:53] lefnire commented on #4595
@raisa1945 were things working before, but started acting this way after a certain date? @negue any thoughts on this, could it have to do with the directive?

[2015-01-30 17:31] seahorsesrule commented on #4252
Hello,

Two members of my party did not receive the rewards of the "Find the Cub" quest. Both of us were owners of the quest, so that might have something to do with the bug. But I'm not sure whether other party members bought it or not.

My user ID is: 08ba47b6-7b90-4c42-b112-e5f0558c81f0
The other party member's user ID is: 05fe2841-f4e1-46e0-a601-4dc38cc1f9dd
Our party's group ID is: 8f8081c2-d

[2015-01-30 17:37] taldin commented on #4559
Some digging I did on my part turned up that it's used in the (non-working) Ultimate Gear achievement, and some migration code.   The 'easy' approach is just to eliminate the extra checks.  The 'thorough' solution is to maaaaybe think about getting Ultimate Gear/Gear Set achievements up and running?

[2015-01-30 17:45] raisa1945 commented on #4595
Here is the chronology :

A week ago I installed HabitRPG apk into my smartphone. I usually checkmark all of my task from smartphone because I rarely on laptop.

So something is bugging me, I have thoughts what if the tasks I have checked from the Apk remain Unchecked in the website ? I directly open my laptop and looking at the tasks from browser. At the first time logging in to the website, the