[2020-02-15 04:36] joefessenden commented on #11790
@neepsnikeep Totally agree. That's what I meant by "easy." Wasn't sure if it was already in the dataset somewhere. I'm still wrapping my head around the paths through the code and the way data is handled in the application.
Aside: If there's a guide to this to help me get up to speed, I'd be happy to hear it.

[2020-02-15 05:12] Alys commented on #11790
@joefessenden There isn't anything in the code for getting a live user count. We update it maybe once a year roughly so any automatic counting method isn't needed, and as @neepsnikeep says, the performance hit wouldn't be desirable. As for a guide, see [Using Your Local Install to Modify Habitica's Website and API](http://habitica.fandom.com/wiki/Using_Your_Local_Install_to_Modify_Habitica%27s_Web

[2020-02-15 07:09] citrusella commented on #11834
I had an idea like the other one when I read this, except modal or notification bubble instead but just hadn't mentioned it. (But I think such a thing should be opt-in/out via the settings if it were to become an official thing. I'm fine seeing tips during the loading, whether I can read them or not, but I wouldn't want a window I couldn't opt out of for that kind of thing, even if it disappeared

[2020-02-15 09:14] Alys opened #11865 "Display Name and Profile blurb editing should include checks for swear words and slurs"
As you probably know, Habitica's chat feature has code that prevents you posting a message that contains swear words or slurs - when you try to post such a message, you see an error and the message is not posted. Also, If you try to post a slur, your chat privileges are automatically revoked.

We want the same checks to be done when someone edits their profile, which they can do by clicking the Ed

[2020-02-15 10:17] Alys commented on #11833
@artur-borys I've marked this as in progress for you, thank you! The desired fix is from @Tressley 's post above ("The menu should close after you've clicked on a menu item.")

[2020-02-15 10:18] Alys commented on #11860
The desired fix is that the search algorithm in My Guilds should be the same as for Discover Guilds, although of course it should show only Guilds that you are a member of.

I've added the help wanted label.

[2020-02-15 10:19] Alys commented on #11855
@hamboomger Thanks! Please go ahead and post here if you have any questions or run into any problems.

[2020-02-15 13:13] artur-borys commented on #11863
I don't see any drawer on the Tasks page, so I'm assuming that you just want to remove the extra padding that can be seen in the screenshot at the top of this issue? Sorry for asking, but I just want to make sure that I understood everything.

[2020-02-15 20:35] joefessenden commented on #11790
@Alys No argument here.

Thanks for the info. I will look again there. I didn't see much about the actual structure of the app.

[2020-02-15 20:36] joefessenden commented on #11865
I'd like to take a crack at this one. I'm not sure I'll be able to handle it, but we've gone this long, so I don't think a couple days of me trying is going to be the end of the world.

I just realized it's not ready for the oven yet (I'm assuming that's what this status means).

[2020-02-15 23:32] Alys commented on #11865
@joefessenden Thanks for offering! Please check back when it's been given the help wanted label. Note that there might be changes to the requirements based on staff feedback, so you'd want to read the issue again and then if you still decide you want to work on it and no one else has picked it up, post here again and we'll mark it as in progress for you.

[2020-02-15 23:33] Alys commented on #11863
@artur-borys The drawer is visible when you've selected a class and it displays your class skills. It won't be visible for players below level 10 or players who have opted out of the class system.

[2020-02-16 04:34] Alys opened #11868 "pushDevices bad data cause errors for other players"
A player's `pushDevices` array can have bad data in it, as shown in the example below - the first object in the array is correct, the others are not.

[code]

When there's bad data, certain actions in Habitica become impossible due to errors thrown by the code that tries to use the array. This affects the player with the bad data of course but can also affect other players. The error at the bottom

[2020-02-16 06:03] Alys opened #11869 "most party members missing from header after viewing private messages / inbox / PMs"
EDIT 2020-02-22:

As described in the next comment, the bug occurs when you reload the website while viewing the private messages page. To reproduce:

1. Go to the [private messages page](https://habitica.com/private-messages)
2. Reload using your browser's refresh button.
3. Use the top navigation menu to visit any other page (don't use the Help menu as some parts of it work differently).
4. Obse

[2020-02-16 11:35] hamboomger commented on #11801
@Alys Can you assign it to me?

[2020-02-16 14:35] hamboomger commented on #11664
Wow, what a detailed issue description :) I could tackle this problem.

[2020-02-16 14:57] artur-borys commented on #11863
@Alys that explains a lot, because I'm <10 lvl. I will check on local instance later.

EDIT: Everything seems to work as expected

[2020-02-16 16:20] artur-borys commented on #11868
Since error was thrown at .../groups/.../removeMember maybe a problem is there.
From my understanding, Mongoose validates documents before saving them, so maybe here, in groups.js [link](https://github.com/HabitRPG/habitica/blob/0e590c362318e6e5b8fc525df60ecaa77f64c02d/website/server/controllers/api-v3/groups.js#L1000)

EDIT:
Maybe wrap member.save() in a try...catch and remove invalid pushDevices

[2020-02-16 21:17] Alys commented on #11868
Removing a member from a group is one example of the problem. There are likely to be other actions that throw errors (certainly for the player who has the bug and possibly for other players who interact with them), so that's why the files that refer to pushDevices directly might be the best place to fix this.

EDIT:

psuhDevices schema is here:
https://github.com/HabitRPG/habitica/blob/0e590c36231

[2020-02-16 21:19] Alys commented on #11664
@hamboomger Thanks! Please go ahead and post here if you have any questions.

[2020-02-16 21:20] Alys commented on #11801
@hamboomger Sure, thanks! I've marked it as in progress for you.

[2020-02-16 23:08] artur-borys commented on #11868
@Alys Right now PushDeviceSchema sets a required option on reqId and type, but before the commit I've mentioned above, it didn't, so that's why there might be some users that have invalid data and any attempt to save will throw an error.

[2020-02-17 00:38] mayajosyula commented on #11827
Hi! I read all the notes @ianrandmckenzie made, and was fiddling around with this a little earlier. I noticed that instead of directly updating the experience value, in `shops.js` you can instead add

[code]

which appears to sync the user (disclaimer: I have no idea if this is the intended fix). Then if you call `updateStats` within `buyArmoire.js` exactly as was described, you will correctly get

[2020-02-17 02:01] Alys commented on #11868
Oh for hecks sakes, I completely misread the schema even after pasting the link to it into my comment. Yeah, the schema specifies that certain parts of a pushDevices object must exist. I'll edit my previous comments for clarity. Thanks very much @artur-borys !

[2020-02-17 03:38] joefessenden commented on #11831
@Alys I know this is pretty low on the priorities to be approved and actually merged into the code, but can you have a peek and confirm that I did the pull/commit right? I just want to be sure that I didn't mess that up, still, so it's just in limbo.

[2020-02-17 05:49] ianrandmckenzie commented on #11827
Nice going, @agentx999. I wonder if the Armoire-specific error message needs to be changed so that instead of popping up by itself, it changes the default experience message. This might have to be a minor architectural decision that needs to be made. @Alys what do you think? Maybe @agentx999 should just delete the Enchanted Armoire experience-related message and instead alter the default experienc

[2020-02-17 11:07] Alys commented on #11831
@joefessenden I haven't reviewed the code (the staff will do that) or tested it on a local install but the pull request itself and the commit have been done correctly! The PR is linked to this issue, which is good, and has the basic information needed.

[2020-02-17 11:27] Alys commented on #11827
Altering the default Experience message to make it show the Enchanted Armoire message is a nice idea from that point of view, but unfortunately the default notifications aren't really designed for that to be possible (or at least not at all easy).

Here's how the default Experience notifications work (the same applies to the default gold and mana notifications):

When Habitica's website notices th

[2020-02-17 12:04] paglias commented on #11868
I think what is happening here is very similar to what happened with UserNotifications and a similar solution could be used in this case, see https://github.com/HabitRPG/habitica/blob/develop/website/server/models/userNotification.js#L98

[2020-02-17 14:01] #11790 closed, assigned to nobody

[2020-02-17 14:27] #11863 closed, assigned to nobody

[2020-02-17 14:52] #11768 closed, assigned to nobody

[2020-02-17 14:56] #11227 closed, assigned to nobody

[2020-02-17 15:19] paglias commented on #11681
As far as I know this issue hasn't been fixed

[2020-02-17 15:37] #11833 closed, assigned to nobody

[2020-02-17 15:45] paglias commented on #11868
Although the solution linked above cleans up the data so that it isn't returned to the user it never changes what's is saved in the database (which instead it should be doing). Also there's https://github.com/HabitRPG/habitica/pull/11825 which could be mixed with this one

[2020-02-17 17:18] mayajosyula commented on #11827
That clears a lot of things up - thank you so much!

I am now a little confused as to what the fix for this particular issue should look like, though. I was trying to force the Armoire to sync immediately, which was why I was running into the double XP notifications. But it sounds like in the fourth case, those double notifications would actually be different (the Armoire one would show 22 XP and

[2020-02-17 22:52] Alys commented on #11827
It is a bit of a tricky situation. My personal feeling at the moment is that it probably doesn't really matter if there's a double XP notification at the same time (one from the Armoire and one default XP notification). I _think_ that's likely to be clearer than the current situation.

You're right that for the fourth example case, the notifications would show different amounts, but technically th

[2020-02-17 23:13] Alys commented on #11681
@ianrandmckenzie Please go ahead if you're still interested and post here if you have questions or run into trouble!
Since it's been a few days though, if you've decided that you no longer have time to work on this one, that's fine, just let us know and we'll change it back to help wanted.

[2020-02-17 23:30] Alys commented on #11869
@geolojess has added:

**"I think I've figured something out with that party display/PMs bug! It seems to happen if I've been on the Messages page for a long period of time and then go to a different page!"**

I'll be doing some testing to see if I can reproduce that.

[2020-02-17 23:45] mayajosyula commented on #11827
Alternatively, it's not too difficult to change the style of the Armoire notification so that they look different.

<img width="265" alt="testexp" src="https://user-images.githubusercontent.com/10248632/74692305-84eb1100-519b-11ea-8086-67253730b762.PNG">

That way it's not as obvious that the XP notification gets duplicated? Just a possible idea I'm throwing out there, not sure if it's any better

[2020-02-18 03:52] aristizabal95 commented on #11868
Does the malformed data always looks that way? Missing the `RegId` and `type` properties? I haven't done anything about push notifications, but if my intuition is correct, any `pushDevice` instance missing this information is useless, right? This is the information that's used to reference a specific device, and if missing then that entry is nonsensical.

My guess is that the error happens because

[2020-02-18 08:24] Alys commented on #11827
@agentx999 (LOL for your last point.)
Speaking for myself alone (this is not approval to proceed), I really like that idea! Removing the XP amount from the Armoire's "gain Experience" notification and showing the default XP notification at the same time seems to me to be the best solution so far. For easy comparison for anyone reading this, here's the current Armoire Experience notification:

![im

[2020-02-18 16:00] #11824 closed, assigned to nobody

[2020-02-18 16:06] #11765 closed, assigned to nobody

[2020-02-18 16:06] #11545 closed, assigned to nobody

[2020-02-18 16:17] paglias commented on #11868
AFAIK they're always empty objects except for the `updatedAt` and sometimes `createdAt` properties which are simply metadata and are completely useless in this case.

The problem with this is finding out why it happens at all since the schema is there and has to be respected, if you try to push an empty object into `user.pushDevices` and then save it it should not work

Given the existence of this

[2020-02-18 20:30] Alys commented on #11255
Another report of it from @geolojess:

"when I'm in the Tavern and I go to tag a user, the first two options are these odd strings of numbers that don't seem to belong to any users? Or at least users that haven't posted in the Tavern recently. The top two"

and @citrusella:

"Those numbers belong to users who have posted recently, just not in the sense that they should be ordered that way in the d

[2020-02-19 02:33] ianrandmckenzie commented on #11827
@agentx999 feel free to finish it off. I already have a PR in Habitica's pipeline, and it sounds like at this point that you've put in just as much work as I have. My day job has taken over my vacation, so I can't contribute as much to open source as I had planned. I am also 5 years into my coding career, so it's not like I have anything to prove. I just wanted to help out with a game I love.

I r

[2020-02-19 02:36] ianrandmckenzie commented on #11681
Hey @Alys, I think I'll have time on Friday to work on this. If you're willing to wait until then, I will let you know if I get around to it. My work can get spikes of needing my attention, though, so if you don't hear from me by Saturday feel free to add the help wanted tag back.

Either way, I'll try to keep you updated with my availability.

[2020-02-19 15:07] #11861 closed, assigned to nobody

[2020-02-19 16:05] Tressley commented on #11827
@Alys / @agentx999 -- I think that sounds like a reasonable solution! Just to confirm I'm on the right page, the user would see:
1. A notification for how much Gold they spent.
2. A notification that says, "You wrestle with the Armoire and gain experience. Take that!"
3. A single notification that states how much experience you earned.

[2020-02-19 23:00] Alys commented on #11827
@Tressley Yes, that's correct.

@agentx999 Would you like me to mark this as in progress for you to implement your suggestion?
If you'd prefer not, that's fine, and I'll mark it as help wanted for someone else to implement your suggestion.

[2020-02-19 23:24] mayajosyula commented on #11827
@Alys Sure, I can implement it myself - I pretty much have it on my local install already. Thanks!

[2020-02-19 23:35] Alys commented on #11827
@agentx999 Great, thanks! I've marked it as in progress for you.

[2020-02-20 00:39] aristizabal95 commented on #11868
@paglias  I see, but is there proof the creation of malformed pushDevices is an ongoing problem? I've been looking at the code and everything looks alright! The controller does some validation here
https://github.com/HabitRPG/habitica/blob/f8bab04a0e66a819f6d7ca5b210d27d991446bf3/website/server/controllers/api-v3/pushNotifications.js#L28-L32
As well as validation inside the `pushDevice` schema, as

[2020-02-20 00:41] ianrandmckenzie commented on #11827
@agentx999 if you get stuck on making your changes compatible with the test suite, let me know and I can take over if you're not much of a tests guy.

[2020-02-20 09:21] shanaqui opened #11885 "Group plan creation modal has misleading title"
When setting up a group plan, the first modal you get is about the name and description of the group, but it is titled "select payment".

![image](https://user-images.githubusercontent.com/8144640/74919329-569b4a80-53c2-11ea-8afc-17f1143ddc62.png)

Reported by MaybeSteveRogers in RaB!

[2020-02-20 09:56] tsukimi2 commented on #11860
Mind if I take a crack at this?

[2020-02-20 10:53] Alys commented on #11885
I mentioned this in a staff channel a few months ago so I'm guessing there's already plans to change it, so I'm marking this as "on hold, needs design" for now (not saying that new designs are needed, it's just for a decision about whether to rename this screen).

[2020-02-20 10:57] Alys commented on #11860
@tsukimi2 Please do, thanks!

[2020-02-20 19:50] SabreCat commented on #9501
We're going to tackle the style updates separately--the main issue fix is done and on its way live.

[2020-02-20 22:51] SpeedyLom commented on #11461
I don't mind having a look at this if that's ok.

I think the `group-link` might need updating to work like `user-link`.

[2020-02-21 09:32] Alys commented on #11461
@tthorpe88 Thanks! Please go ahead and comment here if you have questions.

[2020-02-21 22:14] ianrandmckenzie commented on #11681
I'm sorry, I wasn't able to keep up with my week. I won't be able to do this. I'll check back in a couple of weeks when (hopefully) things cool down. @Alys

[2020-02-21 23:20] shanaqui opened #11888 ""Collapse checklist" hovertext persists on mouseover and blocks checkboxes for checklist items"
Reproduced in Firefox on Windows.

[2020-02-21 23:24] shanaqui commented on #11869
geolojess posted:

This made it reproducible for me in Firefox on Windows.

[2020-02-22 02:38] Alys commented on #11869
I've edited the top post to summarise the issue, deleted a comment that's now redundant, labelled this as medium priority since it affects everyone, and marked it as help wanted.

[2020-02-22 02:42] Alys commented on #11681
@ianrandmckenzie No worries. :) Thanks very much for letting us know! I've labelled this as help wanted.

[2020-02-22 08:17] Alys commented on #11865
I've labelled this as help wanted. @joefessenden Are you still interested in taking it on?

[2020-02-22 10:35] Alys commented on #10752
I've marked this as help wanted again and tidied up the comments by removing some that were just about a claiming the issue. I've also edited the top post to direct attention to Tressley's comments.

@akmaekki If you're interested in working on this, post again here briefly, otherwise it can stay as help wanted until someone claims it.

[2020-02-22 10:42] fdmcneill2019 commented on #11828
@Alys I'm thinking the corresponding JavaScript files for each of the relevant JSON files responsible for damage notifications might be the origin of the problem. If I'm not mistaken, the JavaScript files are what makes calls to trigger the notifications. What are your thoughts?

[2020-02-22 11:24] Alys commented on #11828
@fdmcneill2019 Yes, the json files are just used for storing the translatable strings; all the backend/API code is in JavaScript files. There's some front-end website code in *.vue files as well as *.js files. However the json files are often a good place to start searching for code - you can look in them for the exact string that you see on the website to find the string's "key", then use "git gr

[2020-02-22 11:58] fdmcneill2019 commented on #11828
OK. And how would I test a feature to make sure it works after I make changes?

[2020-02-22 12:14] Alys commented on #11828
@fdmcneill2019 That "Setting Up..." page I linked to has links to other pages, including "Using your Local Install..." and that page has some tips about testing (the rest of it is good to read too).

[2020-02-22 12:16] hamboomger commented on #11855
I have a problem testing migration script, it looks like migration is running on the local database server instead of a docker container... It's so strange, to be honest.
When I'm trying to connect to mongo db using cli (`mongo "mongodb://localhost:27017/habitrpg"`) it connects to database with only `groups` collection (which I think is my local database?),
but when I'm using MongoDB Compass, it c

[2020-02-22 13:16] hamboomger commented on #11801
@Alys should the faq route be cached in the same way as content route does? Almost 30k characters (but it's not too large in comparison with 1.7 million characters in a content.js file).

[2020-02-22 15:33] joefessenden commented on #11865
@Alys yes, Please.

[2020-02-22 21:04] Alys commented on #11865
@joefessenden Great, thanks! Please go ahead.

[2020-02-22 23:50] Alys commented on #11868
@aristizabal95 That's an excellent suggestion, thank you.

I've done a search over players who cronned in the past couple of days and found one with a malformed pushDevices object (below; now fixed for that player). That player created their account at 2019-10-18, which was after the commit that added validation, so the validation is not preventing bad entries from occurring (I do not know why).

[2020-02-23 06:27] tsukimi2 commented on #11860
@Alys Hi Alys, I think I"ll need some suggestion who have more experience with the code before making the changes.  Took an initial look at the code.  It seems that while "Discovery Guilds" searches by calling back the server api "/api/v4/groups" with params.search to retrieve only the guilds that satisfy the search criteria from the database each type the search box changes, "My Guilds" searches

[2020-02-23 07:11] Alys commented on #11860
Each of those behaviours is correct for the page it's on:

The "Discover Guilds" page needs to show all public guilds in Habitica and there's more than 900 of them so it doesn't load them all at once. It has a "load more" button at the bottom. When the player has specified a search term, "Discover Guilds" needs to do a new database search because there's a good chance that some of the matching gui

[2020-02-23 07:15] Alys commented on #11860
One other thing:

It's possible that the "My Guilds" search is better in some ways than the "Discover Guilds" search, while being worse in other ways. If "My Guilds" does currently have some advantages for searching, it would be nice to keep those in addition to making "My Guilds" better.

As a simple hypthetical example, say that "Discover Guilds" searches through only name and description, while

[2020-02-23 15:39] aristizabal95 commented on #11868
This just got pretty interesting out of a sudden! And sure, you're totally right. Making this silently fail is necessary no matter what. I'll get working on it then!

[2020-02-23 23:37] aristizabal95 commented on #11868
So I just reproduced the error by editing the database using the `mongo` command. I've never used mongo before, so I have to ask: does mongo applies schema validation un `collection.updateOne()`? Because it gave me no trouble while adding the malformed `pushDevices` to a test user.

[2020-02-24 10:03] hamboomger commented on #11801
@Alys let's suppose an answer without platform specified looks like this:
[code]
Then if `?platform=ios` parameter specified, which approach is better, to answer like this:
[code]
Or like this:
[code]
?
I feel like the second one makes much more sense, but still it's better to ask first.

[2020-02-24 10:14] Alys commented on #11801
@hamboomger Thanks for asking! I think the first one might be better because it allows the website/apps to use the same code to parse the returned data, regardless of whether the platform parameter was specified.
However if the staff post here to say otherwise, listen to them not me. :)

For your earlier question:

I don't have an answer for that but the weekend is nearly over in the USA so the st

[2020-02-24 12:28] paglias commented on #11801
Regarding the cache, yes for now let's use the same method, we might want to revisit it in future

[2020-02-24 15:12] naima-shk commented on #10967
can i try this one please?

[2020-02-24 15:15] hamboomger commented on #11801
@paglias have you considered using in-memory databases for these purposes? It's just seems to be a good use case for something like Redis.

[2020-02-24 15:53] paglias commented on #11801
@hamboomger yeah, it's in the big backlog of things to do :) But I prefer to do it all at once instead of introducing changes just for one case like here. Unfortunately these type of changes that impact the infrastructure need to be completed by the staff and we're a very small team

[2020-02-24 21:19] #11827 closed, assigned to nobody

[2020-02-24 21:28] paglias commented on #11868
@aristizabal95 you're right that modifying the database directly skips all validation because that is applied on the server not directly on the database. But all changes to documents in the database go through the server so it must be another bug since we never save direclty to the database without passing through the validations on the server

[2020-02-25 00:43] SabreCat commented on #11822
@DXCanas I suspect the height change was unrelated to the Bootstrap-Vue syntax fix. We've slowly been trying to be more consistent with using `rem` instead of `px` for our sizing and spacing units, but as you point out it's problematic here due to the pixel-absolute nature of the avatar. Do feel free to submit a PR!

[2020-02-25 08:14] hamboomger commented on #11801
@paglias oh, ok, I dig it :)
I actually think now that there will be no benefit in caching /faq route in a file system, the same way as it was implemented in the /content route. Max size of faq response is ~32 Kb, and if platform specified it's only about 10 Kb(a /content response is ~2.1 Mb). What do you think?

[2020-02-25 17:09] Tressley commented on #10967
We do have plans to update the Settings pages this year which will update this messaging. In the mean time, let's update the copy to:

[2020-02-25 20:37] aristizabal95 commented on #11868
So I think I figured out where the problem is, and I may need some guidance into finding the best solution.

When removing a user, the API has to update the member document so that it no longer includes the group/guild.
https://github.com/HabitRPG/habitica/blob/bad148148cb362e4f65161893362aadcef329dee/website/server/controllers/api-v3/groups.js#L1000-L1003

Because of the schema validation the mem

[2020-02-25 20:40] aristizabal95 commented on #11868
The thing is, if my conclusion is correct (which I tested by only running `member.save()` on the `removeGroupMember` function), then the user with malformed `pushDevices` cannot do anything that requires something similar to `member.save()`!! Now, I don't know if there's a way to  specify which properties of the member to update (something like `member.save(only: "guilds")`). Or if something has t

[2020-02-25 21:07] DXCanas commented on #11822
Would the better fix be to set the toolbar to `px` or the icons to `rem`?

[2020-02-25 23:59] Alys commented on #10967
I've marked this issue as help wanted.

[2020-02-26 14:08] Tressley commented on #11822
It would be better to use `rem` as it is the preferred unit. Additionally, we can convert the avatar unit to `rem` using the formula: `pixel value ÷ rem value`, e.g. `147/16 = 9.1875rem`

[2020-02-26 16:25] paglias commented on #11801
So basically what we're trying to do is that the mobile apps load the `/content` API route at every startup and it's starting to be a bit heavy at ~2mb. So to begin with we want to remove from the content API stuff that is not needed every time the apps start

[2020-02-26 16:36] paglias commented on #11868
@aristizabal95 I think the solution we adopted for notifications (which have the same problem of invalid data ending up in the database despite validation) can be used here as well.

Basically in the user's pre-save hook (a function that is run when an user is saved) we would remove any invalid data, making sure that the document can be saved.

Here https://github.com/HabitRPG/habitica/blob/develo

[2020-02-26 17:41] SabreCat commented on #9501
Per some discussion today, we are missing one piece that'd count for full implementation of this--some text on the Basi-List item that describes how to earn it without spending Gold. Re-opening until we have that in.

[2020-02-27 02:40] tsukimi2 commented on #11869
@Alys Alright if I take a look at this issue?

[2020-02-27 09:32] alecbrick commented on #10997
@SabreCat I've just looked into this a bit. I'm seeing a few sync issues as well, but I'm unable to reliably reproduce them.

[2020-02-27 10:02] alecbrick commented on #10997
So this isn't related to the original issue, but I found that the *first time* you buy anything from the store, it doesn't automatically sync. I'll look into this more, but my guess is that it's due to the fact that the objects returned by a call to `buyOp()` only list items you've bought before. If you've bought something but no longer own it, it says you have 0 of that item, whereas if you've ne

[2020-02-27 11:30] paglias commented on #10997
@alecbrick what type of items are you talking about that don't appear?

There was a similar issue that I thought we had fixed that caused items you never owned to don't show up immediately due to how Vue's reactivity works. Here you can see how new keys are added to objects to ensure they show up right away https://github.com/HabitRPG/habitica/blob/develop/website/common/script/ops/buy/purchase.js

[2020-02-27 12:38] Alys commented on #11869
@tsukimi2 Sure! Thank you!

[2020-02-27 17:37] alecbrick commented on #10997
I've verified that this occurs for food, and I'm pretty sure it happens for eggs and potions as well.

[2020-02-27 22:31] aristizabal95 commented on #11868
Makes total sense! Thanks for the explanation, I had seen this from your previous comment but wasn't able to see what exactly was it doing to fix it. I'll implement it then.

[2020-02-27 22:55] Alys commented on #10997
@alecbrick Would you like to create a new issue for it and copy your comments from here to that? That would be helpful for us! If you'd rather not, that's fine and i will later. If you do want to, you'll see that the new issue template tells you to post to the Report a Bug guild - just ignore that for this case. :)

[2020-02-27 23:01] alecbrick commented on #10997
Sure, I can do that.

[2020-02-27 23:13] alecbrick opened #11907 "Purchased items don't sync when buying them for the first time"
[//]: # (Fill out relevant information - UUID is found from the Habitia website at User Icon > Settings > API)
### General Info
  * UUID: 3c2b1d99-c6f0-4e6e-a67a-bd8e023cfc7e
  * Browser: Chrome
  * OS: Windows

### Description
When buying food, potions, or eggs for the first time (i.e. having never had this item in your inventory before), the store doesn't sync correctly. In other words, the item

[2020-02-28 00:00] Artistic18 commented on #11888
Can I get a better description of the Issue please.

[2020-02-28 07:07] alecbrick commented on #1703
It looks like this isn't an issue anymore. Should it be closed?

[2020-02-28 09:18] Alys commented on #11907
@alecbrick Thanks! I've marked this as help wanted but if you'd like to work on it post here and I'll make it in progress for you. No worries if you don't want to work on it of course. :)

[2020-02-28 09:21] Alys commented on #11888
@Artistic18 I've stepped through the description and it works exactly that way for me. What part of it doesn't work for you or doesn't make sense to you?

[2020-02-28 09:33] fdmcneill2019 commented on #11828
@Alys You might want to open this issue up for others to try. I've been having problems understanding the source code (I'm still relatively new to JS) so that I can track down the problem. There are a lot of modern JS concepts I'm still not familiar with like destructuring assignment and the use of 'this' in JS.

[2020-02-28 09:54] Alys commented on #1703
It is still an issue. What's supposed to happen is that the order of the tasks you see on the challenge's screen should be the same as the order of the task IDs in the challenge's `tasksOrder` object. Below is an example of that object in a challenge's document. (What seems to happen currently is that the tasks stay in a fixed order, but it's not the order they're meant to be in.)

However I've re

[2020-02-28 09:56] Alys commented on #1703
Ooops, here's the example I meant to paste in, although I've noticed there's already one in an earlier comment.

[code]

[2020-02-28 10:00] Alys commented on #11828
@fdmcneill2019 No worries, thanks very much for telling us!

[2020-02-28 18:06] aristizabal95 commented on #11868
Even though I implemented the changes there has been no improvements. I think the `schema.pre('save')` hook is not running because validation happens before this.

I copy-pasted the filtering inside the pre validation hook and printing `this` did show that the malformed push devices were gone, yet it seems this modifications are not carried when mongoose validates, since the error message is still

[2020-02-28 18:23] paglias commented on #11868
no worries @aristizabal95 :) post the PR and I'll give it a look.

to reproduce the bug you edited the db directly, right?

[2020-02-28 18:57] aristizabal95 commented on #11868
Yes, I used the test user to create a guild and added another user with malformed push devices. All of that modifying the db directly

[2020-02-29 11:36] Alys opened #11910 "private messages (PMs) screen is obscured by challenge/guild participant/member lists"
@mikoboy (0731c2a5-7ca8-446f-a86c-8121c1be3f1c) repored:

**"Opened my [challenges]. Opened the list of participants. And clicked to send a message I was in a chat room with this [person], but there were a list that covered up the visibility of the chat."**

It happens for me too with challenges and guilds. Below are the steps to reproduce, with screenshots.

Step 1: view list of challenge partici

[2020-02-29 11:37] alecbrick commented on #11907
I can work on this. I've got a working solution, but it's not the cleanest, and I'm wondering if there's a better way to handle it. I'll create a PR tomorrow.

[2020-02-29 12:03] Alys commented on #11907
@alecbrick Awesome, thank you! I've marked it as in progress for you.

[2020-02-29 13:27] Alys opened #11911 "Completed To-Dos tab doesn't explain why not all To-Dos appear"
The completed To-Dos tab no longer explains that only the 30 most recent completed To-Dos are shown. This leads to confusion as shown by this report from Ben Bruce / @umdotdotben (580dbf6e-0975-43f3-8c5d-d0949c9cbd61) who was trying to review his completed Group Plan To-Dos:

For reference, the current text on the completed To-Dos tab is this (also shown in the screenshot below):

In addition, the

[2020-02-29 17:46] #11461 closed, assigned to nobody

[2020-03-01 08:50] tsukimi2 commented on #11910
@Alys Can I help out with this issue? Also, would like to confirm what's the desired behaviour in this case? Should it be displaying the private-messages page and closing the Members dialog (i.e. the list of participants of the challenge) and also closing the profile dialog box.  Thanks.

[2020-03-01 09:38] Alys opened #11913 "Party Sort Order Asc / Desc (Ascending / Descending) fails for "Sort by Name" in modal"
When you click the "View Party" button in the header, a modal opens and you see a drop-down with "Sort by" options and another drop-down for  "Asc" (Ascending) and "Desc" (Descending).

The Asc / Desc options don't make any difference when "Sort by Name" has been selected.

The expected behaviour is that if you select "Sort by Name" and then switch between Asc and Desc, the party members in the mo

[2020-03-01 09:50] Alys commented on #11913
This looks like the PR where this bug crept in: https://github.com/HabitRPG/habitica/pull/11595/files
The `direction` option should be used for sorting by name.

[2020-03-01 09:51] Alys opened #11914 "sorting by name of party members in header should use case folding"
The party members that appear in the website's header can by sorted by name (click the "View Party" button and select "Sort by Name" from the drop-down then click "Apply Sort Options to Party Header"). When you do that, you see that sorting is done case-sensitively (A, B, C, a, b, c).

The desired behaviour is that sorting by name should use [locale-sensitive case folding](https://www.w3.org/Inter

[2020-03-01 09:53] Alys commented on #11913
The same bug also happens for the guild and challenge member/participant lists, and it should be fixed for them too. The same piece of code will be used for all three types of member lists.

[2020-03-01 10:18] Alys commented on #11910
@tsukimi2 Thank you! I've marked this as in progress for you.

I guess now that the private messages screen is a regular web page rather than a modal, one option is that the Members and Profile modals (dialog boxes) should be closed when you click on the PM icon. I'm not sure that's the best approach though.

Another option is that both modals should stay open and the private messages page should

[2020-03-01 10:55] hamboomger commented on #11801
@paglias can somebody from your team check my pr please?

[2020-03-01 11:02] paglias commented on #11801
@hamboomger sorry but we’re a very small team and I’m the only one reviewing PRs, so it may take some time but we’ll eventually get to it

[2020-03-01 20:09] nikonhub commented on #11914
Hello.

I can fix this one.

[2020-03-01 20:09] nikonhub commented on #11913
Hello.

I can fix this one too.

[2020-03-01 20:32] paglias commented on #11913
thanks @Nikosmonaut , I'll mark this as in progress!

[2020-03-01 20:32] paglias commented on #11914
thanks @Nikosmonaut , I'll mark this as in progress!

[2020-03-01 21:12] paglias commented on #10688
have we seen instances where the `name` was the missing property? So an `id` with no `name`

[2020-03-01 21:24] Alys commented on #10688
I don't recall seeing an id with no name.

[2020-03-01 21:36] nikonhub commented on #11888
Hello.

May i suggest to move the tooltip from bottom to top of the element ?

[2020-03-02 00:24] alecbrick commented on #5557
I'm down to take a look at this. I'll start working from #10230.

[2020-03-02 04:42] tsukimi2 commented on #11910
@Alys Sure, let's wait a few days, at least until the coming weekend, for any useful user inputs. ^_^

[2020-03-02 10:03] #10688 closed, assigned to nobody

[2020-03-02 10:03] #11805 closed, assigned to nobody

[2020-03-02 10:03] #11868 closed, assigned to nobody

[2020-03-02 11:14] Alys opened #11944 "Username profile links cause long group posts and private messages to be truncated"
Background information:
Group posts and private messages have a limit of 3000 characters. The website doesn't let you type more than that in a post or PM. After you send the post/PM, the API also checks the length and if it is more than 3000 characters, the extra characters are truncated.

Bug:
If the post is close to 3000 characters and it contains an @Username, when the Username is expanded to a

[2020-03-02 11:53] Alys commented on #11020
@kubiku I've marked this as help wanted again but if you still want to work on it, please post here and I'll label it as in progress for you again.

[2020-03-02 13:24] shanaqui commented on #10653
Hi @VickyKoblinski! Do you still want to work on this issue?

[2020-03-02 13:28] shanaqui commented on #10917
@eduardoltorres Are you still working on this one? If so, please let us know!

[2020-03-02 13:29] shanaqui commented on #10934
@Mira-M Are you still interested in working on this? If so, please let us know!

[2020-03-02 13:31] shanaqui commented on #7991
@Arsnael Are you still interested in working on this? If so, please let us know!

[2020-03-02 13:36] shanaqui commented on #11119
@jerellmendoodoo Hi there! Are you still working on this? Let us know if you are! :)

[2020-03-02 13:58] etorres07 commented on #10917
Hi @shanaqui!

No, I'm not! I should have notified it before; apologies for any issue caused by this. Feel free to give to someone else.

[2020-03-02 14:33] shanaqui commented on #10917
@eduardoltorres Thanks for confirming! I'll mark this as help wanted again. :)

[2020-03-02 20:34] #11907 closed, assigned to nobody

[2020-03-02 21:09] #11737 closed, assigned to nobody

[2020-03-02 21:43] #11794 closed, assigned to nobody

[2020-03-03 10:29] Arsnael commented on #7991
Hi @shanaqui ! I kinda am but it's quite a big feature, and I lack too much the time for it lately, deeply sorry about it. On top of that, the code I did back then is probably completely outdated.

If someone else wants to tackle it, I have no problem with that !

[2020-03-03 13:01] shanaqui commented on #7991
@Arsnael Alright, for now I'll put it back to Help Wanted and if you have the time again, you can let us know!

[2020-03-03 13:17] shanaqui commented on #11058
@LinaJohnson Are you still planning to work on this? If so, please let us know!

[2020-03-03 13:18] shanaqui commented on #9350
@jvivianwang Are you still working on this issue? If so, please let us know! :)

[2020-03-03 13:29] shanaqui commented on #10924
@margsliu Are you still interested in working on this issue? If so, please let us know!

[2020-03-03 20:52] jerell-mendoza commented on #11119
@shanaqui sorry, I'm not! Totally forgot about this one!

[2020-03-04 10:49] #11944 closed, assigned to nobody

[2020-03-04 15:43] shanaqui commented on #11119
@jerellmendoodoo Thanks for confirming! I'll mark this as help wanted again. :)

[2020-03-04 17:50] Tressley commented on #9501
Zeplin designs are here for new item layout: https://zpl.io/VQ7Z8mR

[2020-03-04 17:56] Alys commented on #9487
Closing because we do have static player profile URLs now.

[2020-03-04 17:56] #9487 closed, assigned to nobody

[2020-03-04 18:01] Alys commented on #9488
Are QR codes still meant to be a thing?

There's still a little support in the code for them, although not in any way that would allow them to work.
[code]

I'm guessing that code should be removed.

I'm changing this from on hold (since the blocker issue has been closed) to suggestion-discussion.

[2020-03-04 23:04] shanaqui opened #11946 "Disallow line breaks in display names"
A user managed to put a line break in their display name:

![image](https://user-images.githubusercontent.com/8144640/75931194-48dad000-5e6c-11ea-8656-60a4be4328ef.png)

This seems like a bad idea, so the desired fix is to disallow any linebreaks in users' display names.

[2020-03-05 01:37] Alys commented on #11946
The line breaks were inserted by typing `\n` into the profile name.

We'd want to be cautious that any change that prevented this didn't prevent legitimate uses of backslashes. For example, maybe backslashes are used when entering characters in some languages that don't use the Latin alphabet.

[2020-03-05 10:37] paglias commented on #11946
I think `\n` is the universal way to input line breaks so it should be fine to block exactly that behavior

[2020-03-05 17:10] veeeeeee commented on #9488
As we have removed them from the mobile apps for a while, I think we should go ahead and remove the code.

[2020-03-05 17:34] veeeeeee commented on #11804
This is a larger project, so we're deferring until we have more resources, at which point we'll work on breaking it down into workable chunks.

[2020-03-05 17:46] veeeeeee commented on #11803
After review we are ok to move forward on this. We have edited OP to show final bullet point parenthetical as a strikethrough, as main statement is our preferred approach.

Regarding "Or should it return a value that indicates there's no new content?" -- this can be decided at point of implementation.

[2020-03-05 17:59] veeeeeee commented on #10926
We'd like to reserve this change for APIv4 to avoid breaking changes for APIv3.

[2020-03-05 18:01] veeeeeee commented on #11705
Year-month of the set is all we really need for Amplitude purposes. Thanks!

[2020-03-05 19:08] saraolson commented on #11834
After discussion, we felt that the best way to handle this moving forward would be to delay the appearance of the tip so that under normal loading conditions, the tip will not show. Normal loading times are much too fast to read the tips, which is a good thing! We don’t want to tease people with text they won’t usually have a chance to process. When people do experience longer load times (2+second

[2020-03-06 12:24] paglias commented on #11834
@saraolson the problem is that we don't really know when the loading will end, I mean we can have them appear after 2s for example but won't know how much longer they'll be visible for

[2020-03-06 13:29] shanaqui opened #11947 "Text contained in backticks is not wrapping on web"
Reported by JohnJSal:

![image](https://user-images.githubusercontent.com/8144640/76087557-50a28d80-5fae-11ea-9009-056f81ea5c63.png)

[2020-03-06 14:31] shanaqui commented on #9211
Hi @Neumand, are you still interested in working on this? Please let us know! :)

[2020-03-06 14:32] shanaqui commented on #11172
Hi @ResamVi! Are you still interested in working on this one? Please let us know! :)

[2020-03-06 14:34] shanaqui commented on #9786
@akmaekki Hi! Are you still interested in working on this issue? Please let us know! :)

[2020-03-06 14:35] shanaqui commented on #10755
@aneesh4995 Hi! Are you still interested in working on this? Please let us know! :)

[2020-03-06 14:43] shanaqui commented on #9498
@mistergij Are you still interested in working on this? If so, please let us know!

[2020-03-06 14:44] shanaqui commented on #11504
@evelynstender Hi! Are you still interested in working on this issue? If so, please let us know!

[2020-03-06 14:45] shanaqui commented on #11083
@jackcogdill Are you still interested in working on this issue, or should I mark it as help wanted again? Thanks!

[2020-03-06 14:49] shanaqui commented on #9247
Hi @akmaekki! Are you still interested in working on this one? If so, please let me know!

[2020-03-06 14:56] shanaqui commented on #11520
@KeiferE Hi! Are you still interested in working on this issue? Please let us know. :)

[2020-03-06 14:57] shanaqui commented on #6146
@zack25 Hi! Are you still interested in working on this? Please let us know. :)

[2020-03-06 15:13] ResamVi commented on #11172
Hi,
so I had a lot to do in university so this went far into the backlog.
But I'm about finished soon.

I'll give this another try - give it a deadline of 2 weeks from now otherwise it can be dismissed/worked on

[2020-03-06 15:17] mistergij commented on #9498
I don’t have time to work on it anymore. If someone else wants to take it
up, allow them!

On Fri, Mar 6, 2020 at 9:43 AM shanaqui <notifications@github.com> wrote:

--
Alex Kral

[2020-03-06 19:21] aneesh4995 commented on #10755
the development environment is not working on my computer so if anyone wants to take it please do

[2020-03-07 06:27] Alys commented on #8863
I've changed this to suggestion-discussion for us to check if it still needs fixes since there were code changes related to the special quests relatively recently.

[2020-03-07 07:05] Alys opened #11949 "browser find feature does not work correctly in private messages"
browser: Firefox 73.0.1 (64-bit)
OS: Ubuntu 18.04.3 LTS

The browser's find feature can't be used to find old PMs that contain certain text because the message panel in the page doesn't move to show you the found text.

To reproduce:
1. Find a PM conversation that contains more than one screenful of text.
2. From an old message in the conversation (a message that's off the screen by default), copy

[2020-03-07 08:20] akmaekki commented on #9786
Hi, I'm still interested. But for me this problem was already solved. See the corresponding pull request.

[2020-03-07 11:08] paglias commented on #11949
@negue is the scrolling fixable?

There's also the issue that only the most recent messages are loaded in a conversation so even if it scrolled correctly you would only be able to search some messages.

I think we should consider adding our own search functionality but not sure about the priority of the feature. I'm marking this as `suggestion-discussion` until we get some input from @negue

[2020-03-07 12:26] Alys commented on #11949
That wasn't a significant problem for the use case I was using. I knew that a particular phrase was in a message some time in the past several months, so I scrolled back and loaded more messages a few times without trying to read any of them until there was about a year's worth of messages (that took maybe 15 seconds), and then I tried finding the phrase.

[2020-03-07 14:05] negue commented on #11949
This (and the `load messages`) is by design to not load ALL messages every time you open private messages => less CPU / DB work

A bit more background to the messages list, it uses https://github.com/mercs600/vue2-perfect-scrollbar to have the same scrollbar on all OS (not adding padding, its hidden until hovered), this hides the normal content / scrollbar (`overflow:hidden`)

And I guess this pre

[2020-03-07 17:22] jcholewa commented on #10967
Hi, could I work on this please?

[2020-03-07 17:59] jackcogdill commented on #11083
@shanaqui You can mark it as help wanted.

[2020-03-07 18:18] paglias commented on #10967
Sure @jcholewa ! I'll mark it as in progress

[2020-03-07 18:27] paglias commented on #11803
I think we should consider using the `ETag` header that is available with HTTP and meant for this type of use case instead of building something new. We just need to make sure it can be used easily from mobile apps @phillipthelen

[2020-03-07 18:32] paglias commented on #11949
yeah, we don't want to load everything but we might consider a search endpoint for the API.

Adding our own search input and hijacking the CTRL+F combination might be an easy way but I fear that the moment we introduce it people will, rightfully, expect it to search among all PMs, making it necessary to implement something at the API level

[2020-03-07 19:06] negue commented on #11949
yes! , this is probably needed

@Tressley what do you think? should the existing search above the conversations be used for that or should we integrate another search somewhere ?

[2020-03-07 23:20] shanaqui opened #11950 "PM / private message entry box cannot be expanded"
AnneLine reported:

Enlarging the box is working in Firefox, but I've confirmed the same issue happens for me in Google Chrome.

[2020-03-08 05:12] citrusella commented on #11947
I think I reported this several months back but it was decided that non-wrapping was more in line with how a code block should theoretically work? (At the very least, it matches Github's behavior, so there's that.)

(I might have copied the answer as a to-do because I was meaning to fix the cheat sheet to align with the updated behavior. I'm... still meaning to do it. Might get to editing the chea

[2020-03-08 05:30] Alys commented on #11947
@citrusella Good memory! I've found two posts in a Report a Bug guild archive. I'm posting them in separate comments here to make it clearest where each one starts and ends. I don't want to use blockquoting or anything else to make the quoting clearer in case it interferes with the backtick and leading space markdown behaviour. The wrapping and non-wrapping that you'll see in your post below have

[2020-03-08 05:31] Alys commented on #11947
**citrusella wrote at 2019-07-30 14:52 UTC:**

Is it intended for three-backtick and four-leading-space paragraphs to not wrap? I could see a reason for that, but on the flipside, the (not updated since the redesign, it seems) [Markdown Cheat Sheet](https://habitica.fandom.com/wiki/Markdown_Cheat_Sheet) on the website mentions wrapping on the three-backtick method at least.

Examples:

    This is

[2020-03-08 05:31] Alys commented on #11947
**Alys wrote at 2019-08-04 07:57 UTC:**

@citrusella I've done some reading about the use of backticks and leading spaces and I think the website's current behaviour is actually technically correct, even if it's different than it was before (and therefore [Markdown Cheat Sheet](https://habitica.fandom.com/wiki/Markdown_Cheat_Sheet) probably needs to be updated).

Text with three backticks before a

[2020-03-08 06:28] Alys opened #11951 "Group Plan completed To-Dos can't all be seen and are in random order"
When you're in a Group Plan and are looking at the Group's Task Board, only 30 of the completed To-Dos are shown. It's impossible to view the others. The completed To-Dos are in a random order - you do NOT necessarily see the 30 most recently completed. For example, a Group Plan To-Do completed today might be permanently hidden. This was reported by umdotdotben (580dbf6e-0975-43f3-8c5d-d0949c9cbd6

[2020-03-08 20:49] jcholewa commented on #10967
Just to clarify - is this making changes only in website/common/locales/en/settings.json and wherever the string is used, or modifying other settings.json files also?

[2020-03-08 20:54] paglias commented on #10967
Only the English file, the other languages are handled automatically by our translation service

[2020-03-08 20:56] jcholewa commented on #10967
Great, thanks!

[2020-03-08 21:10] cvuorinen commented on #11888
I can take a look at moving the tooltip.

[2020-03-08 21:53] shanaqui commented on #9498
Thanks! I've set this back to help wanted. :)

[2020-03-08 21:53] shanaqui commented on #11172
Alrighty, good luck! :)

[2020-03-08 21:56] shanaqui commented on #9786
Ah, I checked in because the pull request is marked as "needs work" -- is that in error, then? Or are there still changes required? @paglias

[2020-03-08 21:57] shanaqui commented on #11083
Alright, I've done that! Thanks for letting me know.

[2020-03-08 22:06] shanaqui commented on #11482
@Stevens1995 Hi! Are you still interested in working on this one? Please let us know!

[2020-03-08 22:11] shanaqui commented on #11740
Hi @youcandanch! Are you still working on this one? Please let us know!

[2020-03-08 22:15] shanaqui commented on #11738
@wScottSh Hi! Are you still interested in working on this one? Please let us know if so!

[2020-03-08 22:17] shanaqui commented on #11664
@hamboomger Hi! How's it going -- are you still interested in working on this? Please let us know!

[2020-03-08 22:20] shanaqui commented on #11831
Hi there! Are you still working on this one, @joefessenden? Let us know if so!

[2020-03-09 01:31] #11221 closed, assigned to nobody

[2020-03-09 08:33] hamboomger commented on #11664
@shanaqui Hey! Yep, as far as I remember I was able to reproduce the issue, but then I had to focus my attention on another project. I'll start working on it in a next couple of days

[2020-03-09 10:47] Tressley commented on #11740
This has been fixed in #11766. Private messages will now only display the user’s current avatar.

[2020-03-09 14:46] paglias commented on #9786
As mentioned in the PR the Stable page has some existing performance issues and the changes introduced are quite heavy in terms of computation and would need to be rewritten from Vue.js methods (re-rendered every time something changes) to computed properties that are re-rendered only when changed

[2020-03-09 14:48] #10967 closed, assigned to nobody

[2020-03-09 15:17] wScottSh commented on #11738
@shanaqui Thanks for checking in, I apologize for not closing this loop earlier.

No, now is not the time for me to take this on. Family has been in the hospital and I haven't had the cycles dedicated to getting the environment working properly. Feel free to open it back up.

[2020-03-09 16:07] Tressley commented on #11949
PMs built-in search should be searching all PMs. Similar to how the search on Stable still shows results for Pets & Mounts that may be hidden behind "Show More."

Now, the "Show More" for Stable and "Load More" for PMs may not technically work the same, but the search for both of them should.

[2020-03-09 16:27] negue commented on #11949
Currently the PMs built-in search only goes through the loaded conversations (recent message) , I'll rework this for an api search.

I'd suggest this way:
- User enters a string in the PMs built-in search
- the page will lists all conversations with users that had this string
- selecting a conversation would load the (first?) or (last?) message of this string and a range of 5 messages before / aft

[2020-03-09 16:28] #11888 closed, assigned to nobody

[2020-03-09 16:56] #11913 closed, assigned to nobody

[2020-03-09 16:59] #11914 closed, assigned to nobody

[2020-03-09 17:44] Tressley commented on #11949
If we do use this approach, I would encourage a "Jump to recent" feature to allow the user to navigate back to the current conversation.

[2020-03-09 19:08] #11018 closed, assigned to nobody

[2020-03-09 19:46] evelynstender commented on #11504
@shanaqui Hi! I'm still interested. I've been dealing with some metal health issues but I'm better now and will start working on it next weekend. But feel free to grab it and work on it! I can find other issues to work on haha

[2020-03-09 20:38] paglias commented on #11855
Sorry I had missed this comment, @SabreCat I think the migration script is written to target the local db and not the docker one?

[2020-03-09 22:19] paglias commented on #11855
@hamboomger so it looks like the only ways to run the migration against a mongodb instance inside docker is:

- run the script directly from inside the container
- or expose the database to outside the container and connect to it

[2020-03-09 23:34] whmountains commented on #11834
@paglias Good point.

It looks to me that the tips will need to be removed, or we'll need to build out a more persistent UI for displaying them.  I lean towards the former option, since users are already likely to be seeing a modal popup on checkin.  We don't want to two popups competing for their attention.

[2020-03-10 16:41] jaimeparrajr commented on #11356
Hi, can I help with this item?

[2020-03-10 23:26] joefessenden commented on #11865
@Alys I wish I could do this in a timely manner, but I just took a new job, and I won't have time to sit down with this code for a little while, so please make it available again. If no one has grabbed it when I catch up, I'll swing back around.

[2020-03-10 23:27] joefessenden commented on #11831
@shanaqui I wish I could do this in a timely manner, but I just took a new job, and I won't have time to sit down with this code for a little while, so please make it available again. If no one has grabbed it when I catch up, I'll swing back around.

[2020-03-11 07:31] safareli commented on #2516
It would be great if you restore this feature as well
<img width="222" alt="Screen Shot 2020-03-11 at 11 27 36 AM" src="https://user-images.githubusercontent.com/1932383/76392818-c41c1480-638b-11ea-98e3-8a7dc4883a82.png">

[2020-03-11 13:41] whmountains commented on #11376
So, what needs to be done to fix this?  Or are we still not sure?

[2020-03-11 17:45] SunSparc commented on #11592
I checked my inotify watches and they were good, so that did not seem to be the issue for me. What did finally work for me was this command:

`docker-compose -f docker-compose.dev.yml up -d --force-recreate --build`

Which seems to indicate that there was something cached in the old docker image that was not being cleared out.

This tip came from @Squall in the [Aspiring Blacksmiths](https://habit

[2020-03-11 19:29] shanaqui commented on #11664
Alrighty, thanks for checking in!

[2020-03-11 19:32] shanaqui commented on #11738
Thanks for updating! I'll mark it as help wanted.

[2020-03-11 19:33] shanaqui commented on #11504
I won't mark it as help wanted again yet, then! :) Thanks for taking this on!

[2020-03-11 19:34] shanaqui commented on #11865
@joefessenden Alright, I've marked it as help wanted again!

[2020-03-11 19:35] shanaqui commented on #11831
I've marked this one as help wanted again too. :)

[2020-03-12 07:55] akmaekki commented on #9786
I'll give it a try. Know about such problems from Angular :D

[2020-03-12 16:16] Tressley commented on #11834
Spoke to the rest of the team and we agree that removing the loading tips for now is the best solution. 👍

[2020-03-12 16:24] SabreCat commented on #8863
I will address the remaining pieces of this as part of the cleanup on #9501! (i.e., this is effectively a duplicate now)

[2020-03-12 16:24] #8863 closed, assigned to nobody

[2020-03-12 16:30] SabreCat commented on #11951
As a partial, quick solution, we can make sure to record `dateCompleted` when shared completion functionality checks off the master task.

When we get to implementing a "load more" for individual users' task boards, we'll replicate that functionality on shared task boards as well.

[2020-03-12 16:36] Tressley commented on #11450
@ddmaness -- Thank you for all of your feedback surrounding our tab navigation! I will admit that I find this to be a large project as it touches on most UI components on the various pages of Habitica, but I feel like you'd be a great fit for taking this it on. Would you be interested?

[2020-03-12 16:37] SabreCat commented on #2516
We're moving this to an internal project board used for prioritizing feature requests. Closing to keep the HabitRPG/habitica issues list bug-focused!

[2020-03-12 16:37] #2516 closed, assigned to nobody

[2020-03-12 16:46] veeeeeee commented on #11802
Deferring this discussion for a deep dive on how we want to handle API improvements as a whole. Removing needs discussion label for now.

[2020-03-12 16:50] veeeeeee commented on #11613
"Click to hatch!" is probably sufficient for now.

[2020-03-12 17:02] veeeeeee commented on #11566
Quests should automatically force-start when all current members have responded to quest invitation. The confusing warning message should not occur if all current members have responded, resulting in the automatic force-start.

The issue of users not knowing they can manually start a quest is a separate issue that we have designs for that we think may address this problem. Once they are implemente

[2020-03-13 15:06] inftp commented on #11865
Can I have a crack at this as my first contribution?

[2020-03-13 20:40] shanaqui opened #11969 "Page freezes after using the sort party header options"
Reproduced in Firefox.

[2020-03-13 22:35] paglias commented on #11969
Confirmed, there's an infinite loop somewhere

[2020-03-13 22:48] paglias commented on #11969
Fixed in release, will go live with the next deployment

[2020-03-13 22:48] #11969 closed, assigned to nobody

[2020-03-14 09:28] Alys commented on #11865
@inftp Thank you! Please go ahead. Post here if you have questions.

[2020-03-14 09:32] Alys commented on #11566
I've added the "status: issue: on hold - needs design" label since this was assigned to Tressley but if that's not right it might need one of the other status labels.

[2020-03-14 09:36] Alys commented on #11356
@jaimeparrajr Thank you, yes! Please go ahead and post here if you have questions.

[2020-03-14 17:10] jaimeparrajr commented on #11356
Thank you.  How can I get access to the new design?

[2020-03-15 10:31] Alys commented on #11356
@jaimeparrajr  Post your email address here and tag `@ Tressley` or if you'd prefer to not make your email address public, send an email to admin@habitica.com and include your GitHub username and this issue's URL.

[2020-03-16 09:40] ShupingHe commented on #11482
@shanaqui yep! i'd make a pr till this this weekend.

[2020-03-16 10:19] Alys opened #11988 "wrong locked equipment message for gear from another class"
The Equipment section on Shops > Market gives the wrong message for basic equipment from another class. It says:

"This item is only available once you've purchased the previous items in sequence. Keep working your way up!" (that's the `tierLockedItem` string).

You should see that string only when you're in the same class as the equipment. When you're in a different class you should see this mess

[2020-03-16 15:17] hamboomger commented on #11664
@shanaqui I have a question, does this function checks whether the `group`(party/guild) is upgraded to a group plan _and_ the upgrade is still active? Because I can't quite comprehend what it means for a group to be subscribed/unsubscribed.
https://github.com/HabitRPG/habitica/blob/33b13a86da42c255bcdff9193b04c972104c7bb7/website/server/models/group.js#L1652-L1657

[2020-03-16 18:28] laurel-thomson commented on #11988
I'd like to work on this issue!

[2020-03-16 19:03] #11860 closed, assigned to nobody

[2020-03-16 21:17] #11869 closed, assigned to nobody

[2020-03-16 21:19] oakypokey commented on #11613
Hi, looking for a first contribution to an open source project to get into it-- can I help with this issue?

[2020-03-16 22:55] Alys commented on #11988
@laurel-thomson Thank you! Please go ahead and comment here if you have questions or run into trouble.

[2020-03-16 22:56] Alys commented on #11613
@oakypokey Yes, thank you! Comment here if you have questions or run into trouble.

[2020-03-16 23:11] Alys commented on #11664
@hamboomger Yes, that's the right function for checking if a guild is subscribed.

When a player adds a Group Plan to a group (guild or party), the group's `purchased.plan` object is updated with information about the Plan and payment. You can see an example in [Using Your Local Install to Modify Habitica's Website and API](https://habitica.fandom.com/wiki/Using_Your_Local_Install_to_Modify_Habiti

[2020-03-17 15:50] Tressley commented on #11356
Invite sent @jaimeparrajr!

[2020-03-17 16:40] veeeeeee commented on #11514
We're having trouble reproducing this issue and have trouble understanding how this sequence of events would happen given that the post fills in as plain text. Closing it for the time being but feel free to reopen if other reports come up. A screen recording would be particularly helpful in diagnosis.

[2020-03-17 16:40] #11514 closed, assigned to nobody

[2020-03-17 16:47] SabreCat commented on #11398
I like @cvuorinen's idea of using atomic `findByIdAndUpdate` -- that's a good practice that will help avoid various similar issues wherever we can use it. And it'll work as a fix pending a bigger Mongo upgrade.

[2020-03-17 16:49] veeeeeee commented on #11495
We are not looking to translate that title and tagline at this time, as there is limited benefit to doing so (and little to no harm from leaving it as is).

[2020-03-17 16:49] #11495 closed, assigned to nobody

[2020-03-17 17:01] SabreCat commented on #8337
After a bit of staff discussion, I think the preferred solution here would be to obviate the need for a stored computed value by having the API return a count of Challenge participants at time of requesting Challenge data. We'd need to give careful consideration to performance especially on pages with lists of Challenges, but that's the way that will definitively solve this.

[2020-03-17 17:57] cvuorinen commented on #11398
Ok, I can take a stab at this issue.

[2020-03-17 22:20] bencelaszlo commented on #10755
@Alys can I get this issue?

[2020-03-17 22:30] Alys commented on #10755
@bencelaszlo Sure, thank you! Although you might want to check first on the habitica.com site to see if it still is an issue since it's rather old. If you don't have a Facebook account that you're willing to use to test it with, post here and I will test. It'd also be worth you/me testing if the same bug happens with Google authentication.

[2020-03-17 22:33] bencelaszlo commented on #10755
Okay, so I'm just setting up the development environment, I will likely start to work on this issue tomorrow. Of course, I will check the existence of this bug first.

I can have a throwaway account for this and yes, I can have a check on the Google-auth, too.

[2020-03-17 22:44] Alys commented on #10755
@bencelaszlo Awesome, thanks so much! Comment here if you have questions or tun into trouble.

[2020-03-17 23:17] Alys commented on #11398
@cvuorinen Thanks heaps! I've marked it as in progress for you.

[2020-03-17 23:23] Alys commented on #8337
I know I was the person to log this issue, and I know there's already been staff discussion about it so feel free to completely ignore this disagreement if you wish :smile: but I'm wondering...
If you're concerned about performance (which certainly seems like a good concern), is it actually worth fixing this now? I don't see reports of the bug often so I don't think it's too disruptive. Once we're

[2020-03-18 00:33] inftp commented on #11865
@Alys just to clarify:
* If the user's new display name or blurb contains a ***swear or slur*** the change will not be accepted.
* If the user's new display name or blurb contains a ***slur*** their chat privileges are to be revoked.

Is this correct?

[2020-03-18 02:44] Alys commented on #11865
@inftp That's correct!

[2020-03-18 20:16] bencelaszlo commented on #10755
Can you give some help? How can I set Facebook and Google API keys and secrets?

Both Google and Facebook de-register buttons have this problem in the version hosted at "habitica.com". I can't test it locally without these.

Edit: sorry, I found it.

[2020-03-19 02:50] inftp commented on #11738
Hi there,
Can I try this one?

[2020-03-19 02:52] inftp commented on #11828
Hi, I'd like to try my hand at this one

[2020-03-19 10:26] hamboomger commented on #11664
@Alys yes, right to the point of my question :) Then I guess the better name for `isSubscribed()` method would be something like `hasActiveGroupPlan()`? Then for example this method would be much easier to read:
https://github.com/HabitRPG/habitica/blob/039e7d40b85d10a6e4f8e0d3975a0d35d4c23095/website/server/models/user/methods.js#L483-L487

P.S. I can't find any tests which have groups with Group

[2020-03-19 13:25] SabreCat commented on #8337
It's a good point that it's not a high priority. If we were to tackle one of these stored-computed issues pre transactions, Guild/Party member counts would probably be more important as people run into that a lot more often!

[2020-03-19 16:34] veeeeeee commented on #10927
Not a high priority in the grand scheme of things but we'd like to take a deeper look at it at some point in the future.

[2020-03-19 16:40] veeeeeee commented on #11134
Preferred fix: screen should move with drag so you can access entire checklist with single drag motion.

[2020-03-19 16:44] veeeeeee commented on #8056
We've determined that disallowing purchases beyond usable number is not a behavior we want to implement, nor do we want to allow selling for Gems at this time. However, there is a chance that lingering issues with purchasing Magic and Wacky Hatching Potions and eggs might be due to lack of warning implementation on the mobile apps. We will open a new issue to account for that.

[2020-03-19 16:44] #8056 closed, assigned to nobody

[2020-03-19 16:47] Tressley commented on #10927
Unfortunately, this is due to the way Habitica parses emoji into Markdown. We do not support all emoji to-date because Habitica has to carefully vet emoji to ensure they meet our community guidelines and each mobile update tends to introduce a handful of new emoji.

[2020-03-19 16:49] SabreCat commented on #11050
The API should definitely catch this and return an error instead of deducting further Gems. We or a contributor can fix that much, pending a bigger refactor of how the customization "unlocks" work.

[2020-03-19 16:56] Tressley commented on #10827
For a quick solution, we should remove the empty party piece. No reason to hide it at a screen size this small. In addition, the Health, Experience, and Mana Points bars should scale accordingly so the text values are visible.

[2020-03-19 16:59] veeeeeee commented on #9842
Best approach here may be to wait until interactive task board improvements are live, see if that changes user perception of what's going on, and then survey or interview Team plan users in aggregate to ensure we develop a solution that works for them.

[2020-03-19 18:32] tog22 commented on #10927
Markdown. We do not support all emoji to-date because Habitica has to
carefully vet emoji to ensure they meet our community guidelines.

FWIW, lots and lots of innocent emoji intermittently break - ie. ~~70% of
the time they break, 30% of the time when you try retyping them in a
different order they work.

On Thu, 19 Mar 2020 at 09:47, Tressley Cahill <notifications@github.com>
wrote:

[2020-03-20 16:06] mistergij commented on #9498
Sorry if I am causing hassle, but I am wondering how the grey pawprints are shown. I am relatively new to javascript, so is there just a file with the paw print icon in it, that is assigned to the special pets? Or is an attribute assigning it. I want to know, because I might want to try picking this up again.

[2020-03-20 22:26] #10960 closed, assigned to nobody

[2020-03-21 04:14] tsukimi2 commented on #11910
@Alys Sorry for the delay.  Have been recovering from the Wuhan virus and finally feeling fit enough to write code again.  Anyway, trying to implement the "open the private messages (PMs) page in new tab" approach you mentioned before but encounter a problem.  Hope you could provide some suggestions.

Under the current code, when you click the private message icon on the profile page of a particul

[2020-03-21 06:07] Alys commented on #9498
@mistergij No worries, thanks for thinking about it again! This kind of question comes up every so often so I've just now added a new section to the wiki documentation to walk you through the process of finding where to start coding. Go to [Using Your Local Install to Modify Habitica's Website and API](http://habitica.fandom.com/wiki/Using_Your_Local_Install_to_Modify_Habitica%27s_Website_and_API)

[2020-03-21 06:26] Alys commented on #11910
@tsukimi2 I'm sorry to hear you have COVID-19 and I'm glad you're recovering!

There's nothing fundamentally wrong with having the User ID in a URL, because User IDs aren't private information. In fact it would actually be helpful to be able to bookmark a URL that takes you directly to your conversation with a specific player if you PMed them often.

However I'll leave it for Habitica's staff to r

[2020-03-21 10:24] Alys commented on #11664
@hamboomger yes, in my opinion `hasActiveGroupPlan()` would be a clearer name, although I'm not sure if Habitica's staff would want the function renamed.
@paglias What do you think? See the previous three comments for details.

There should be tests for groups with active Group Plan. If you cd into the tests directory (one step down from the top-level directory) and then run the command below, the

[2020-03-21 10:25] Alys commented on #11828
@inftp Thank you and sorry about our delay in replying! Please go ahead and post here if you have questions.

[2020-03-21 10:26] Alys commented on #11738
@inftp Sure, thank you! Post here if you have questions or run into trouble.

[2020-03-21 16:46] mistergij commented on #9498
Thank you! I would like it to be marked as in progress.

[2020-03-21 23:13] mistergij commented on #9498
@Alys The git grep command isn't giving me an output, I am running on debian 9. Any suggestions?

[2020-03-22 01:06] Alys commented on #9498
@mistergij what's the full command you're running?

[2020-03-22 12:54] mistergij commented on #9498
git grep "User already in a party" isn't giving an output, but git grep userAlreadyInAParty does give one.

[2020-03-22 23:14] Alys commented on #9498
Ah thanks! I took those examples from advice I gave someone in the past and the code has changed since then. I'll update the examples later today. The actual process described is still correct.

By the way, I've removed some of the older comments from here that aren't about the issue itself just to make info about the issue easier to find but you're welcome to post again if you have more questions

[2020-03-22 23:24] mistergij commented on #9498
Thank you! I won't be able to try the updated examples today, as it is 7:30 Pm here. I will try the new example you post tomorrow.

[2020-03-23 09:59] tsukimi2 commented on #11910
@Alys Ic.  In that case I'll wait until after the weekend before submitting the PR if there are no response by then.  Thanks.

[2020-03-23 14:35] Tressley commented on #10927
@tog22 -- That's interesting. Thanks for that feedback. Knowing that now, it sounds like we'll need to do a deeper investigation when we are able to prioritize this issue.

[2020-03-23 15:27] paglias commented on #11910
pinging @negue since he's the one most experienced with PMs

[2020-03-23 15:35] #8326 closed, assigned to nobody

[2020-03-23 16:49] #10755 closed, assigned to nobody

[2020-03-23 17:13] negue commented on #11910
Alys wrote:

Yeah, when the PM was a modal it removed the previous modals in order to be the only visible now, now the member list -> profile modal, you click to private message but then the previous modal comes back up.

@tsukimi2 as you explained in your post it sounds all correct :)

Getting the target-user data by query-param would be the only way yes 👍

What I would like to add, if the "priva

[2020-03-24 02:50] Alys commented on #11910
I love this idea!

[2020-03-24 10:18] paglias commented on #11664
The name change sounds good to me 👍 Regarding the tests there are some unit tests at `test/api/unit/models/group.test.js`, `test/api/unit/libs/payments/group-plans` and some integration ones at `test/api/v3/integration/groups`

[2020-03-24 11:10] #11855 closed, assigned to nobody

[2020-03-24 13:36] shanaqui commented on #9211
I'm marking this as help wanted again. :)

[2020-03-24 13:37] shanaqui commented on #6146
I'll mark this as help wanted again since there was no reply!

[2020-03-24 13:43] shanaqui commented on #9247
I'll set this back to help wanted since there was no reply. :)

[2020-03-24 13:43] shanaqui commented on #9350
I'll set this back to help wanted since there was no reply. :)

[2020-03-24 13:44] shanaqui commented on #10653
I'll set this back to help wanted since there was no reply. :)

[2020-03-24 13:44] zack25 commented on #6146
Sorry, my computer crashed, and then we got busy moving to a new place. I
won't be able to work on this for a while.

On Tue, Mar 24, 2020 at 8:37 AM shanaqui <notifications@github.com> wrote:

[2020-03-24 13:44] shanaqui commented on #10924
I'll set this back to help wanted since there was no reply. :)

[2020-03-24 13:45] shanaqui commented on #10934
I'll set this back to help wanted since there was no reply. :)

[2020-03-24 13:45] shanaqui commented on #11058
I'll set this back to help wanted since there was no reply. :)

[2020-03-24 13:46] shanaqui commented on #11520
I'll set this back to help wanted since there was no reply. :)

[2020-03-24 13:47] #11740 closed, assigned to nobody

[2020-03-24 22:07] erikderzweite opened #12011 "Habitica locally with Docker: 404 /api/v4/i18n/browser-script not found."
[//]: # (Before logging this issue, please post to the Report a Bug guild from the Habitica website's Help menu. Most bugs can be handled quickly there. If a GitHub issue is needed, you will be advised of that by a moderator or staff member -- a player with a dark blue or purple name. It is recommended that you don't create a new issue unless advised to.)

[//]: # (Bugs in the mobile apps can also

[2020-03-24 23:28] mistergij commented on #9498
How do you add an attribute in Javascript? I can't find any tutorials online, and I want to create the suggested fix.

[2020-03-24 23:45] Alys opened #12012 "Hide Achievements button is misformatted in Achievements modal"
_@johnjsal (624e48a3-cbea-4bbe-ae44-ca9183f49626) reports:_

UI issue: on the Achievements modal, when the "Basic Achievements" section is expanded, the button labeled "Hide Basic Achievements" has a larger than needed box around it and also does not appear below the achievement badges like the "Hide Seasonal Achievements" button does, as seen in this image.

![screenshot](https://snipboard.io/7J0

[2020-03-25 05:03] deilann commented on #8063
With everything that's going on, I think this is more of a priority. And now that shadow-muting is already implemented, it should be easier to implement. I'm starting work on this tonight, but I am moving soon, so it may not be completed as fast as I'd like.

[2020-03-25 09:39] paglias commented on #12011
Hi @erikderzweite , v4 of the API is the one used internally by Habitica and not yet available as a public API. That being said the URL is correct and works fine on my local install. From the logs you posted it seems that you're using a custom domain, can you try if it works on `localhost`?

[2020-03-25 10:29] Alys opened #12014 "Incorrect avatar for your own account in private messages"
When you're viewing your private message conversations with other players, all your previous messages show your current avatar.

The expected behaviour is that they show your avatar at the time that the message was sent.

The expected behaviour can be achieved by using the avatar appearance data that's stored in each of the chat messages. For example below is one of the PMs I've sent and the `user

[2020-03-25 10:42] Alys commented on #9498
In the sample code above from habitica/website/common/script/content/stable.js ,  `key`, `type`, and `text` are attributes.

[2020-03-25 13:51] tsukimi2 commented on #12014
@Alys Can I help out with this one?

[2020-03-25 15:41] erikderzweite commented on #12011
This particular problem seems to stem from the typo in docker-compose.yml: i have forgot to remove docker Hub's habitica/habitica image from server thus resulting in old server with new client. I'd say, the client was trying to use api v4, but the server didn't knew anything about it.

[2020-03-25 15:41] #12011 closed, assigned to nobody

[2020-03-25 16:04] paglias commented on #12011
That makes sense! let me know if you have any other issue

[2020-03-25 17:03] mistergij commented on #9498
I want to run a possible fix through you before I change the code. If I add this code to website/common/script/content/stable.js:

let hidePawPrints = {
  'Wolf-Veteran': 'veteranWolf',
  'Wolf-Cerberus': 'cerberusPup',
  'Turkey-Base': 'turkey',
  'JackOLantern-Base': 'jackolantern',
  'Tiger-Veteran': 'veteranTiger',
  'Turkey-Gilded': 'gildedTurkey',
  'Lion-Veteran': 'veteranLion',
  'Gryphon-

[2020-03-25 23:33] Alys commented on #12014
@tsukimi2 Sure, thank you!

[2020-03-26 03:22] inftp commented on #11828
Hi @Alys , I'm having trouble replicating this on my fork of the develop branch with the latest changes from upstream as of the time of this message.

Steps followed:

1. I set my character's level to 11 to unlock both classes and abilities.
2. I started the dust bunnies quest
3. I cast Brutal Smash on a todo, there is a notification that Brutal Smash has been cast on the todo
4. I complete the to

[2020-03-26 04:37] Alys commented on #11828
That should have a second notification saying how much damage was done to the boss by the skill. The notification in step 4 is just for the task's damage to the boss.

[2020-03-27 04:39] Tom-2 opened #12017 "Intermittent server error"
[//]: # (Before logging this issue, please post to the Report a Bug guild from the Habitica website's Help menu. Most bugs can be handled quickly there. If a GitHub issue is needed, you will be advised of that by a moderator or staff member -- a player with a dark blue or purple name. It is recommended that you don't create a new issue unless advised to.)

[//]: # (Bugs in the mobile apps can also

[2020-03-27 06:05] Tom-2 commented on #12017
It's working well now. Closing :)

[2020-03-27 11:31] paglias commented on #12017
Hi @Tom-2 , unfortunately Habitica is being affected by an ongoing outage of Google Cloud (https://status.cloud.google.com/)

[2020-03-27 12:08] Tom-2 commented on #12017
Thank you for letting me know! I'll keep my eye on the server status.

[2020-03-27 14:16] paglias commented on #12017
It should have been resolved, we're not seeing any issue with our servers right now so I'm going to close the issue, will reopen it if needed

[2020-03-27 14:16] #12017 closed, assigned to nobody

[2020-03-27 18:49] SabreCat opened #12018 "Incorrect task display color for some fractional values"
[//]: # (Before logging this issue, please post to the Report a Bug guild from the Habitica website's Help menu. Most bugs can be handled quickly there. If a GitHub issue is needed, you will be advised of that by a moderator or staff member -- a player with a dark blue or purple name. It is recommended that you don't create a new issue unless advised to.)

[//]: # (Bugs in the mobile apps can also

[2020-03-27 18:59] SabreCat commented on #12018
Having trouble reproducing this, but it might be browser-dependent? Changing labels as we gather more information.

[2020-03-28 01:49] Alys commented on #9498
@mistergij  Selectors like "#\34 73af356-8ccd-4c3d-8557-9232cfaf040c" are automatically generated and will change in unpredictable ways at unpredictable times (well, there'll always be a reason that they change but from the point of view of using them in code, it's effectively unpredictable). That means that using them in code won't be reliable.

[2020-03-28 10:28] Alys commented on #11072
I've tested the bug described in the top post and it's still happening for me as written there.

We also have a new bug report from @Altariel (be317a32-c027-4032-bbd5-25ccb21eb912) of behaviour that's not quite the same but is similar enough that it probably requires the same fix:

"On the website, when I feed a pet and it turns into a mount, I can click it the hatching potion+egg to hatch a new p

[2020-03-28 22:47] paglias commented on #11803
With #12020 the content api can be passed an etag, that should prevent re-downloading the data if it's not changed (cc @phillipthelen )

[2020-03-29 19:26] hamboomger commented on #11664
@Alys I actually have one question, what would be the best way to add extraMonths to the member of a group in integration test? Is it okay to modify user document in database directly? Or should I make some kind of createSubscribtion() call similar to this:
https://github.com/HabitRPG/habitica/blob/1a75c6a696850189e6870fd24e472d300045050b/test/api/v3/integration/groups/POST-groups_groupId_leave.js

[2020-03-29 22:26] paglias commented on #11664
I’d say in this case editing the database directly with an user.update call or when generating the user is probably the best way, would be too complex otherwise

[2020-03-30 00:05] alecbrick commented on #1703
I've created a PR! https://github.com/HabitRPG/habitica/pull/12021

[2020-03-30 00:11] Alys opened #12022 "notifications don't clear automatically for new PMs in a conversation being viewed"
As reported by @cTheDragons:

_"If you are in the message panel writing a message and then receive a new message while writing the message. Despite viewing the new message and clicking it the notification does not disappear until you exit the message panel and go back in."_

I.e., if you get a notification for a new message in the inbox conversation that you're already viewing, the notification sh

[2020-03-30 09:46] Alys commented on #11072
@Altariel made this update today:

"I had enough food to raise two pets to mounts, but I stayed in Avast Secure Browser and paid special attention to what happened, and everything worked as intended.  I know the issue I described before happened then and other times in the past, but I figured I should mention that it hadn't this time."

So it's clearly an intermittent bug (which is what I'd expect

[2020-03-30 16:56] hamboomger commented on #11664
After some investigation it looks like in both places checks performed before the `cancelSubscription` is called are actually the same: whether or not user is a member of any other group with active group plan.
Code in controller just double-checks everything that `cancelGroupSubscriptionForUser` is already taking care of.
The reason why `cancelSubscription` is executed only once when group type i

[2020-03-30 21:41] alecbrick commented on #10209
I'm potentially interested in looking into this. I know it's not urgent, but the error message is bothering me enough that I'm willing to do whatever it takes to get rid of it.

[2020-03-31 08:27] Alys commented on #10209
@alecbrick Awesome, thank you! I suggest waiting a couple of days though for Habitica's staff to comment.

@paglias @phillipthelen Are you happy with the proposed fix in the top post (the bolded text)? Or do you have a better idea? Or @alecbrick did you have a different idea for how you wanted to fix it?

[2020-03-31 08:47] Alys commented on #9489
Just for the record:
https://github.com/HabitRPG/habitica/pull/12031 causes an informative error message to be shown (linking back to this issue) instead of the "An unexpected error occurred" message.

[2020-03-31 10:16] Alys opened #12033 "Usernames with underscores on each side aren't displayed correctly"
If a player has a Username that starts and ends with an underscore (e.g., `@_spider_`), when their Username is mentioned in a chat post, there are three formatting problems:

- the name is in italics (that's kind of expected because underscores indicate italics in markdown but markdown parsing within a Username is not desired)
- the underscores are not visible (a side-effect of the previous point

[2020-03-31 14:11] #12012 closed, assigned to nobody

[2020-03-31 15:19] paglias commented on #10209
the fix proposed looks good to me, we should make sure the mobile apps / website don't get values in the new format, but that's pretty easy to do using the toJSON transform, but we should probably keep track of which values have been changed and which not in the database

[2020-03-31 15:20] #11613 closed, assigned to nobody

[2020-03-31 15:30] paglias commented on #11664
good catch about the user.party not being updated! I'd say that we should update that controller to remove the party from the user object manually like we do with guilds (https://github.com/HabitRPG/habitica/blob/33b13a86da42c255bcdff9193b04c972104c7bb7/website/server/controllers/api-v3/groups.js#L859) The reason why it wasn't updated is that in group.leave we're sending a direct update command in

[2020-03-31 15:49] hamboomger commented on #11664
@paglias you're right, I kinda expected that kind of response, so I already prepared the changes. I also created some unit tests for the calculation of terminationDate in the meantime, so please tell me if you have ideas how to improve this pr, I'm open to suggestions!

[2020-03-31 17:10] kareenf commented on #12033
I might be interested in doing this! Is that alright?

[2020-03-31 17:32] veeeeeee commented on #12022
Unfortunately we agree that a complete rewrite would be required, and we do not have the resources to address this behavior at this time. As it is not an experience-breaking issue, we're going to deprioritize it for now.

[2020-03-31 21:38] nathanzhu144 commented on #12018
I'm in the process of trying to work on this one!

[2020-04-01 00:24] Alys commented on #12033
@kareenf That would be great, thank you! Post here if you have questions.

[2020-04-01 00:26] Alys commented on #12022
I've added the "on hold needs design" status label so that this one has a status, but that's wrong, tell me!

[2020-04-01 00:29] Alys commented on #12018
@nathanzhu144 Thank you! I've added the "in progress" status label but I've kept "needs investigation" status label on it too since this one is odd. Note that it might be browser-dependent or intermittent in other ways so it might be hard to track down. :-/ Good luck! Post here if you have questions.

[2020-04-01 00:33] Alys commented on #10209
@alecbrick I've marked this as in progress for you. Thanks again, and post here if you have any questions or run into any trouble!

It will be lovely to stop seeing that warning message everywhere. :)

[2020-04-01 15:59] anoopravella commented on #11834
Is this issue still open? If so, I'd like to take a look.

[2020-04-01 17:11] paglias commented on #11834
@anoopravella it's! I'll mark it as in progress for you

[2020-04-02 09:31] cvuorinen opened #12036 "questFinished webhook sent multiple times"
[//]: # (Before logging this issue, please post to the Report a Bug guild from the Habitica website's Help menu. Most bugs can be handled quickly there. If a GitHub issue is needed, you will be advised of that by a moderator or staff member -- a player with a dark blue or purple name. It is recommended that you don't create a new issue unless advised to.)

[//]: # (Bugs in the mobile apps can also

[2020-04-02 09:55] paglias commented on #12036
Hi @cvuorinen and thanks for the report, we pushed some changes to webhooks last week but the main change is better logging on our side and increasing the number of retries. Is the webhook stored in your account? Could you post its id?

[2020-04-02 10:11] paglias commented on #12036
Looks like this might be partially due to the fact that our webhook sender tries to parse the response as JSON

[2020-04-02 10:18] paglias commented on #12036
It might be also due to the fact that some of your webhooks seem to return a 302 and our webhook sender isn't currently folllowing 302 redirects https://github.com/sindresorhus/got/issues/568 (we're on version 9, the bug was fixed in 10)

[2020-04-02 10:59] cvuorinen commented on #12036
The webhook is this one: fadf75a8-2fb1-4211-b09a-b87ab96a14c0

The endpoint is a google script, so I don't there are any redirects. But I just realized that it could take a while to finish, so it's possible it hits some timeout? How long do you wait for response?

[2020-04-02 11:03] paglias commented on #12036
30 seconds, but ideally it should never be hit. the idea is that you receive the webhook, respond with a success code and then process it

[2020-04-02 11:07] paglias commented on #12036
Looking at the logs looks like it's a mix of the url returning a 302 code which wasn't being followed correctly (fixed in #12038) and the timeout being hit

[2020-04-02 11:17] cvuorinen commented on #12036
@paglias yeah, I just looked into it and seems google sometimes returns a 302, just never saw it when testing with Postman as it handled it transparently. Don't know why they do that, but good to know it will get fixed.

Also just now realized the timeout issue, so I'll try to fix it asap.

[2020-04-02 11:17] #12036 closed, assigned to nobody

[2020-04-02 14:23] anoopravella commented on #11831
Hi, I'd like to pick this issue up.

[2020-04-02 15:44] somersjw commented on #11119
Hi could I look into this?

[2020-04-02 17:55] paglias opened #12039 "Remove Merchandise page and all links to it"
Right now Habitica is not running any merchandise campaign so the [Merchandise page](https://habitica.com/static/merch/) and all links to it should be removed.

Given that we may want to re-activate it sometime in future the original files should not be removed, removing the links to it and making it inaccessible by removing the entry in the client side router will be enough.

[2020-04-02 21:11] kareenf commented on #11946
I'm interested in working on this!

Edit: My colleague (@nathanzhu144) and I will be working on this together

[2020-04-03 00:01] Alys commented on #11946
@kareenf Thank you! Please go ahead and post here if you have questions or run into trouble!

[2020-04-03 00:02] Alys commented on #11119
@somersjw please do, thanks! Post here if you have questions.

[2020-04-03 00:03] Alys commented on #11831
@anoopravella Thank you! Please go ahead and post here if you have questions.

[2020-04-03 09:28] shanaqui opened #12040 "When hatching the egg at the end of a row, eggs rearrange"
Report from Geolojess:

To reproduce...

1. Egg at the end of the row is hatchable:
![image](https://user-images.githubusercontent.com/8144640/78345591-bd9d4900-7595-11ea-8ee2-42878adb9d4e.png)

2. Hatch it.

3. It has swapped with an egg from the row below.
![image](https://user-images.githubusercontent.com/8144640/78345620-c726b100-7595-11ea-9188-6a9f9bc234b8.png)

_EDIT by Alys 2020-05-13:_

As

[2020-04-03 09:57] paglias commented on #12036
@cvuorinen we've deployed some changes to make sure redirects are followed correctly and non-json responses don't cause any issue, we've also re-enabled any webhook that got disabled in the past few days so hopefully everything should be back to normal, but let me know if it's not

[2020-04-03 14:54] shanaqui commented on #11801
Hi @hamboomger! Are you still interested in working on this one?

[2020-04-03 15:00] shanaqui commented on #11172
@ResamVi Hi! Is this something you'll be able to work on now, or would you like me to mark it as help wanted again? Let us know! :)

[2020-04-03 16:11] veeeeeee commented on #7123
We're going to explore different ways of accomplishing this that would preserve user experience and allow more users to view critical information (since only a fraction of users will even visit the tavern).

[2020-04-03 16:11] #7123 closed, assigned to nobody

[2020-04-03 16:14] veeeeeee commented on #10975
Deferred until we are able to work on notifications (hopefully within a year).

[2020-04-03 16:19] veeeeeee commented on #8045
This is a large feature that would preferably get more attention and time than we currently have resources for. We're closing it for the time being.

[2020-04-03 16:19] #8045 closed, assigned to nobody

[2020-04-03 16:23] veeeeeee commented on #6426
We're now reevaluating our approach to accessibility so that we can roll out improvements incrementally.

[2020-04-03 16:25] veeeeeee commented on #6209
@shanaqui Can you include this issue in your review of challenge creator issues for next week?

[2020-04-03 16:29] veeeeeee commented on #10921
Eventually we'd like for a special loading state so that users don't see the empty party and think they've been kicked out, but for now, we're deferring this in favor of more urgent problems.

[2020-04-03 16:32] veeeeeee commented on #8307
Staff is working on new designs that should alleviate this problem, to be deployed in the next few weeks.

[2020-04-03 16:32] #8307 closed, assigned to nobody

[2020-04-03 16:37] veeeeeee commented on #10685
Bulk casting is not a desired behavior.

[2020-04-03 16:37] #10685 closed, assigned to nobody

[2020-04-03 16:40] veeeeeee commented on #8759
This is ideally part of a larger overhaul of how scheduling tasks works overall.

[2020-04-03 16:49] veeeeeee commented on #8914
Having Habitica open in two tabs is an edge case that we aren't able to dedicate resources to right now.

However, some of the sync errors we're seeing result may be resolved by a change to sync RYA tasks only after clicking the Start Day button.

[2020-04-03 16:53] veeeeeee commented on #10421
@Alys Does this still happen?

[2020-04-03 16:59] veeeeeee commented on #9292
Confirm that users should be able to leave a quest while a quest is in progress. This fix will likely need thorough testing to ensure no additional issues are created.

[2020-04-03 17:03] paglias commented on #8914
This is going to be much easier with https://github.com/HabitRPG/habitica/pull/11389 done, not sure if we're interested in finishing it

[2020-04-03 17:07] saraolson opened #12041 ""Monthly" Daily scheduling added to API"
This is stemming from an issue in the mobile apps where the scheduling of a monthly Daily won't update correctly if the start date is changed. It was decided that it'd be better to fix it through the API than locally.

You can see the detailed report from the original issue here: https://github.com/HabitRPG/habitica-android/issues/1272

[2020-04-04 00:06] Alys commented on #9292
There was discussion above about implementing this by having a player removed from the quest when they leave the party.
I'm thinking now that might no longer be the best approach and that it would be better to have a separate feature to allow a player to remove themself from the quest without leaving the party. From the way that @veeeeeee wrote her comment, I'm guessing that's the desired approach

[2020-04-04 00:27] Alys commented on #10421
We haven't seen another report of this but I believe it could still happen. I still think this was likely the cause:

This is probably still the best fix, with database transactions being easier than they were now that we're on Atlas (still a decent amount of work to implement though):

Perhaps we should close this and open a new issue that records activities in Habitica that would benefit from da

[2020-04-04 00:33] Alys commented on #3553
Just to update this, there's [a staff comment above](https://github.com/HabitRPG/habitica/issues/3553#issuecomment-344718417) saying that batch / bulk skill casting is desired, but that situation has changed now as [noted here](https://github.com/HabitRPG/habitica/issues/10685#issuecomment-608541471) by @veeeeeee (redphoenix).

[2020-04-04 03:04] tsukimi2 commented on #12014
@Alys Just want to further clarify the expected behaviour before submitting the PR.

Let's say I am logged in as player A having a conversation on PM page with player B.  So the expected behaviour on my PM page (player A's PM page) are:
(1) To show my (player A) avatar at the time that the message was sent by me (player A).
(2) To show player B's avatar at the time that the message was sent by pla

[2020-04-04 07:05] Alys commented on #12014
@tsukimi2 Yes, that's all correct.

Another way to put it is that the avatar next to a message should always be the avatar at the time the message was sent, regardless of whether it's player A or player B.
I.e., the avatar should always be constructed from the information in the message itself.

[2020-04-04 09:00] hamboomger commented on #11801
@shanaqui Hi! Yes, I'm still interested in working on this issue

[2020-04-04 10:59] Alys opened #12043 "chat post witih many @ mentions does not have links, does not give feedback about no notifications"
Habitica has a deliberate limit (5) on the number of people you can @ mention in a chat post and still have all the @ mention features work correctly:
https://github.com/HabitRPG/habitica/blob/ed25afb0b187ac10c8e1d9895313f78a1addd08e/website/server/libs/highlightMentions.js#L9

When you include more people than that, the names aren't converted to profile links and notifications aren't sent out.

I

[2020-04-04 11:39] cvuorinen commented on #12036
@paglias okay, we finished a quest last night and it was called only once :+1:

[2020-04-05 13:00] evelynstender commented on #11504
Hi @shanaqui @Alys I've been having some personal issues and I can't work on this issue right now. I hope I can get back to contributing soon!

[2020-04-06 03:48] Alys commented on #11072
A related problem from @Acorn_Sprout (2a5618da-d8c4-4530-a943-3fa871ef4859): "Some of the time after I've tamed a pet I can click on the resultant egg+potion to get the next pet. Other times (at this moment, with my Skeleton Pig) when I click on the square the page just [syncs] but does not create the pet."

[2020-04-06 07:59] Alys commented on #11504
No worries and thanks for telling us! I hope things improve for you soon!

[2020-04-06 18:53] citrusella commented on #12040
I've seen this happen when I start a quest, and it jumps down to a different spot lower on the list. At the time, I had assumed that there was a defined order to the listing but the count hierarchy took priority, i.e. the list's logic was "list in descending order of amount-of-item, then list in order-defined-somewhere".

That is, I don't think it's "random", precisely.

If one looks at the specif

[2020-04-06 21:02] benkelaar commented on #12039
Why not remove the files?

If you remove the files and the links in a single commit (e.g. by squashing before rebasing onto develop) getting it all back would be a matter of reverting that commit (And adjusting for the changed status of develop of course, but in general I would not recommend leaving dead code around)

[2020-04-06 21:58] benkelaar commented on #11504
Hi @Alys Can I pick this up to get my feet wet with contributing?

[2020-04-06 22:10] kareenf commented on #12033
Hey! So I have been digging through the code and I think I've figured out where the issue is. It seems as though the parseMarkdown/habiticaMarkdown.render function used in chatCard.vue is where the issue of italicizing is occurring. However I can not figure out how to access (/I'm not even sure if I have access to) that render function to possibly add in some checks.

My understanding is that pars

[2020-04-07 00:06] Alys commented on #11504
@benkelaar Sure! Thank you! Post here if you have questions or run into trouble.

[2020-04-07 04:48] ResamVi commented on #11172
Yeah I'm sorry. Mark it for help wanted again.

[2020-04-07 06:48] benkelaar commented on #11504
Cool, relatively smooth sailing so far. Got the local environment running both with Docker and natively on macOs. Found the highlightMentions function and its tests, but having some trouble running the tests (describe.only doesn't seem to work for me and some timers are timing out, I'll figure it out tonight).

Am a JVM guy normally, so node is not really my home game, but this might be a fun oppo

[2020-04-07 11:14] shanaqui commented on #9745
Hi @kmacart, are you still interested in working on this issue? Let us know! :)

[2020-04-07 11:18] shanaqui commented on #5557
@alecbrick Hi! Are you still interested in working on this? If so, just let us know!

[2020-04-07 11:19] shanaqui commented on #11356
@jaimeparrajr Hi there! Are you still interested in working on this one? Let us know!

[2020-04-07 11:20] shanaqui commented on #11398
Hi @cvuorinen, are you still interested in working on this? Please let us know! :)

[2020-04-07 11:25] shanaqui commented on #11801
Alrighty, thanks for checking in!

[2020-04-07 12:44] cvuorinen commented on #11398
Yep, sorry for the delay. Been busy with other work, but I was going to look into it this week.

[2020-04-07 16:35] veeeeeee commented on #4403
We should revisit this in light of the upcoming admin panel feature to determine which needs are still necessary and how to best roll this out.

[2020-04-07 16:43] #4506 closed, assigned to nobody

[2020-04-07 16:49] veeeeeee opened #12065 "Add language categories for guilds"
To enable non-English speaking users to find other users of their preferred language, we'd like to add a new category for non-English guilds.

May need investigation regarding whether guild categories need to be updated per client or it can be done via API.

[2020-04-07 16:53] veeeeeee commented on #8222
Our current understanding is that this process now is being handled through GuildBot and the Pirate Cove. Should this issue remain open? @Alys

[2020-04-07 16:56] veeeeeee commented on #9702
We'd like to move the quest completion information so a notification appears for the user rather than a modal pop up. The modal with information about the rewards would only appear the user clicks the notification (Rewards would be automatically rewarded, so the modal would only serve as information delivery.)

[2020-04-07 17:01] veeeeeee commented on #9700
We'll accept this weirdness as a part of the slotting system on avatars, especially as the user can easily remove the avatar customisation that looks wrong.

[2020-04-07 17:01] #9700 closed, assigned to nobody

[2020-04-07 18:00] paglias commented on #12039
I'm fine with removing them as long as we keep a comment maybe next to the old menu entry about the old file or we won't ever remember

[2020-04-07 20:08] shanaqui commented on #11172
No worries! I've done that now.

[2020-04-07 20:22] #11738 closed, assigned to nobody

[2020-04-07 22:03] benkelaar commented on #11504
Alright, got the tests running, also did some more research and found that all this also goes if a line starts with 4 spaces.

I also found the https://github.com/HabitRPG/habitica-markdown module, which uses tokenisation to parse the markdown, so that's not really usable for our problem.

However, I did notice that we need the same logic to run on the highlighting of user mentions in code blocks

[2020-04-07 23:15] benkelaar commented on #11504
Hmmm yeah, so I dove into https://spec.commonmark.org/0.29/. The definition of what entails a code block is (of course) even more complex than all that.

Don't think it's a good idea to write our own code for this. Did a quick google, this might be a good package to use: https://www.npmjs.com/package/gfm-code-blocks

[2020-04-07 23:48] benkelaar commented on #12033
Wouldn't it be enough to simply change the order of atHighlight and parseMarkdown?

Probably not, the user highlighting will then work, but markdown will probably still turn the underscores into em tags.

I think perhaps for now the easiest solution is to escape the underscores before the text gets send to markdown (chatCard.vue#37 and messageCard.vue#24). However this should not be done if the @m

[2020-04-08 00:06] Alys commented on #8222
@veeeeeee yes, @cTheDragons 's GuildBot process is working well for guild leaderships. If you're happy for that to be the approved way to handle this issue, then I think this could be closed.

For challenges, https://github.com/HabitRPG/habitica/pull/11798 caused "no owner" to be displayed on orphaned challenges, which is good.

[2020-04-08 00:09] #8222 closed, assigned to nobody

[2020-04-08 00:14] Alys commented on #11504
Yes. :)

[2020-04-08 00:51] Alys opened #12066 "Waffle / Confection quest scroll doesn't say that it's limited time only"
As reported by @Altariel (be317a32-c027-4032-bbd5-25ccb21eb912):

**"Not sure if I'm missing something, but the new Confectionary quest doesn't show that it's only available for a limited time anywhere that I can see."**

I'm marking this as suggestion-discussion for Habitica's staff to decide how/if this should be changed. Also marking it important priority since it's time sensitive.

[2020-04-08 05:32] benkelaar commented on #11504
Nevermind, the package is insufficient (Uses a trivial regex that doesn't cover all the usescases), will take a shot at implementing a better solution tonight.

On the whole, since we're using a custom markdown parser anyway, wouldn't it be better to integrate this somehow into the parser? You'd need to supply it with the users of course, but perhaps that can be done with some form of callBack.

[2020-04-08 08:12] shanaqui opened #12067 "Challenge winner popup showed name of a previous challenge, not the challenge just won"
Reported by JohnJSal:

I haven't been able to confirm this behaviour, so I've marked it as "needs investigation".

[2020-04-08 19:24] benkelaar commented on #11504
Alright, kinda went down the rabbit-hole on markdown parsing today.

**Conclusion**
Since inline-code blocks can invalidate fenced code blocks and any other document block (Paragraphs, list items, etc) can invalidate inline-code blocks, it's impossible to determine the distribution of code blocks in a markdown string without knowing the entire distribution of blocks in the document. i.e. to find t

[2020-04-08 19:49] kareenf commented on #11504
So, I've been working on #12033 (thanks for the comment btw!) and I'm not sure if inverting the order would necessarily help. When I was poking around and trying to get an understanding of how the code was working, I noticed that after the markdown parser ran and sent the code off to highlightUsers, all of the tags were gone. So instead of having `@_spider_` as what the code was searching for (whe

[2020-04-08 20:08] benkelaar commented on #11504
Indeed, flipping the order would not fix https://github.com/HabitRPG/habitica/issues/12033

However, if you check for presence of `@_([\w-]+)_` before, you should then just be able to do something like `s/@<em>$1<\/em>/@_$1_` after to fix the erroneous formatting right?

[2020-04-08 20:27] benkelaar commented on #11504
@kareenf BTW I noticed when testing your issue locally that the autocomplete for users also seemed to ignore the user that started with an underscore. Not sure if it's the same issue, but could be related.

[2020-04-08 20:36] saraolson commented on #12066
to make it clear the quest is seasonal, we should put the banner design we use on time-limited eggs/hatching potions on the quest purchase modal too

[2020-04-08 20:39] kareenf commented on #11504
@benkelaar That may be the case. I noticed that it doesn't pop up if I haven't used it before (i.e. no chats), however it does pop up after I've used it once. This is the case even if I delete all chats and start again. I'm guessing it might have something to do with a different part of the code but I'm not sure.

I was wondering if you could help shed light on something that has been tripping me

[2020-04-08 22:04] kareenf commented on #12033
So I was trying to work on a possible solution by matching em tags in the mentionStr and replacing them with underscores. However, I have run into an ESLint problem that says no-param-reassign when trying to reassign mentionStr. I see that there is a disable eslint comment for that exact thing in the text = text.replace() line however it seems like it is causing me troubles regardless. Are there a

[2020-04-08 23:13] kareenf commented on #12033
Also, I just found this out but, apparently Markdown recognizes `__something__` as bolding (strong tag) the word. Should I take care of that as well (granted, I can figure out this darn ESLint issue)? Would it be a possibility that someone would make a username that has a double underscore sandwich?

[2020-04-09 05:09] benkelaar commented on #12033
So we're talking about this piece of code right? https://github.com/HabitRPG/habitica/blob/9d16ab7dba6650bd40e82dc134a00fbc2b685a8d/website/client/src/libs/highlightUsers.js#L12-L20

**Where does mentionStr come from?**
What is happening here is that the version of string.prototype.replace that passes a regex and a function is being used (As documented here: https://developer.mozilla.org/en-US/doc

[2020-04-09 08:42] Alys commented on #12033
@kareenf Good catch! Yes, that's worth also taking care of.

@kareenf @benkelaar Thanks so much to both of you for all the investigation you're doing!

[2020-04-09 08:52] paglias commented on #12033
Regarding the ESLint error you should be able to disable the rule for one line with a comment links this ```
// eslint-disable-line no-param-reassign
[code]

[2020-04-09 16:28] veeeeeee commented on #8566
Closing because it's not really a large pain point and we're happy to do this manually when a new lifetime subscriber is added.

[2020-04-09 16:28] #8566 closed, assigned to nobody

[2020-04-09 17:37] kareenf commented on #12033
@benkelaar Thank you so much for all of information! I had gotten the gist of what mentionStr was but I wanted to confirm so that was very helpful!

@Alys I'll give the em tag issue a fix first and then take care of the strong tag once I'm confident the other works!

@paglias Awesome! Just to expand my understanding, does the disable line only work for the line it's on and not for the whole functi

[2020-04-09 17:52] benkelaar commented on #11504
OK, so continuing. Inverting works for this scenario for highlightUsers, but highlightMentions (which is a strange name, since it's about injecting links, not so much about highlighting anything) is actually done on saving, not on display, so this is something that you don't want to intermingle with HTML rendering.

So I looked into using the parser directly, which is actually possible. So now tha

[2020-04-09 18:01] benkelaar commented on #12033
@kareenf I did some more research just now and I think the best way to resolve this is to create a markdown-it plugin and embed that into the https://github.com/HabitRPG/habitica-markdown library.

The documentation to do this properly can be found here: https://github.com/markdown-it/markdown-it/tree/master/docs

Do you want to do this? Or perhaps we can do it together? Perhaps we could discuss i

[2020-04-09 18:24] nathanzhu144 commented on #12018
@SabreCat  Do you know what browser/OS you ran into this bug on?  Trying to reproduce the error.

[2020-04-09 18:34] nathanzhu144 commented on #12039
I'm looking into this.

[2020-04-09 19:13] nathanzhu144 commented on #12039
@paglias
I've been able to remove the link to the merchandise page from the page footer; this was the only link I found - do you know if there are any other links to the merch page?

Also, how should I go about removing the merch page?  I tried commenting out the "merch.vue" file, but the page still displays on localhost.

We are currently looking into the server folder; could you clarify what you

[2020-04-09 20:00] nathanzhu144 commented on #11946
@shanaqui
@Alys
I'm having trouble reproducing this problem.

I am adding \n to the display name, like
![Screenshot from 2020-04-09 15-58-11](https://user-images.githubusercontent.com/26507505/78935635-1af43700-7a7b-11ea-8f68-94f2f464532d.png)

However, this only shows up as \n.  Is there anything else special that needs to be done?

I noticed that in validation.js, there are some additional check

[2020-04-09 20:23] nathanzhu144 commented on #10924
@shanaqui

Do you mind if I work on the issue?  I had some ideas.  :)

[2020-04-09 22:07] kareenf commented on #12033
@benkelaar Yeah I'd love to work on that together! I'll still submit a PR for this just as a band-aid for now and for the experience (I'm doing this for one of my classes so I need proof of a PR :) ).

[2020-04-09 22:10] kareenf commented on #12033
I'm trying to add a test to POST-chat.test.js now and I was wondering if anyone had any pointers for understanding the test structure and adding a test? I'm a bit lost as to how to set up the test in a similar way as the others in the file while making sure that the mentions being tested is a username sandwiched with underscores (since it seems as though most of the tests aren't using hard-coded u

[2020-04-10 02:56] Alys commented on #10924
@nathanzhu144 I've just done some testing for this issue and it looks like the situation is actually a lot better now than it was when this issue was logged - other changes must have improved things. When I make a post containing a URL with an @ in it such as `https://medium.com/@schlaf/how-to-conduct-an-annual-life-review-that-will-catapult-you-into-the-new-year-d5aaffebac1f` the URL works and th

[2020-04-10 03:13] SunSparc commented on #12066
To be even more clear...

This is an image of the "Waffling with the Fool: Disaster Breakfast!" quest, which provides the "Confection Hatching Potion":
<img width="828" alt="Habitica-Waffle-Confection-Quest" src="https://user-images.githubusercontent.com/1380473/78958673-0aa58180-7aa6-11ea-93a7-508986b0c3bc.png">

There is no banner or indicator in the text that this quest is time limited.

This i

[2020-04-10 04:21] Alys commented on #11946
@nathanzhu144 I'm very sorry, my comment about them typing \n into their profile name didn't give enough information. I shouldn't have been that brief. :-/

I've just done some testing and the website's edit form for the Display Name will correctly convert `\n` to `\\n` (i.e., it escapes the backslash so that that `\n` no longer has special meaning).

However the API doesn't do that escaping. You

[2020-04-10 04:24] Alys commented on #11946
I think it would be sufficient for the API to escape backslashes before it inserts them into the database.

That won't fix any existing instances where a user has already inserted \n (or any other backslashed character) into their name but admins can do a database migration to fix them, or probably better a manual search and fix since there's likely to be hardly any accounts that do this. (Or we c

[2020-04-10 04:41] Alys commented on #12039
@nathanzhu144  You can do `git grep /static/merch` in the top-level directory of your local install to find all places where that string is mentioned (including in the router).

If you're on Linux or MacOS (or Windows if it lets you do this), you can do this command to find files and directories that might need to be removed: `find . -iname \*merch\*`
Note that it will show you some files that are

[2020-04-10 06:11] benkelaar commented on #12033
`POST-chat.test.js` are tests of the HTTP backend (server) endpoints which the frontend (or third-party applications) POSTs chat messages to (So basically the storing of chat messages). `highlightUsers` is called in two VueJS components (`messageCard.vue` and `chatCard.vue`) when they are being rendered (So purely when displaying the messages, no interaction with the backend).

If you want to test

[2020-04-10 06:20] benkelaar commented on #10924
@Alys Thank you for flagging this issue!

I indeed think this would also be fixed by doing this username highlighting as part of the normal markdown parsing/rendering process by writing a dedicated plugin in habitica-markdown.

@nathanzhu144 You're welcome to join our efforts in fixing these rendering problems at the source. I'll throw up an issue on habitica-markdown so we can discuss the approac

[2020-04-10 07:17] benkelaar commented on #11504
Created an issue on habitica-markdown for the user highlights, will look in to that tonight.

[2020-04-10 07:24] benkelaar commented on #12033
Awesome, what timezone are you in? Perhaps we can do a quick hangout somewhere over the weekend? You can contact me on [twitter](https://twitter.com/BartEnkelaar) or shoot me an e-mail to discuss details.

[2020-04-10 09:17] benkelaar commented on #10924
@nathanzhu144 I've invited you as collaborator to my [fork of habitica-markdown](https://github.com/benkelaar/habitica-markdown), where I've also created a [branch](https://github.com/benkelaar/habitica-markdown/tree/habitica-markdown-mention-plugin) and [draft pull-request](https://github.com/HabitRPG/habitica-markdown/pull/87) in which we can discuss work in progress.

[2020-04-10 09:19] benkelaar commented on #12033
@kareenf I've invited you as collaborator to my [fork of habitica-markdown](https://github.com/benkelaar/habitica-markdown), where I've also created a [branch](https://github.com/benkelaar/habitica-markdown/tree/habitica-markdown-mention-plugin) and [draft pull-request](https://github.com/HabitRPG/habitica-markdown/pull/87) in which we can discuss work in progress.

[2020-04-10 11:08] paglias commented on #12039
Good point @Alys about removing un-needed locales strings!

regarding this

@nathanzhu144 the merch.vue file should be deleted, but it's loaded by Vue here https://github.com/HabitRPG/habitica/blob/develop/website/client/src/router/index.js#L21 in the client side route (which is separate from the server side one) and the entry that uses it (https://github.com/HabitRPG/habitica/blob/develop/website

[2020-04-10 11:11] paglias commented on #12033
@kareenf regarding how do disable ESLint rules there are a few ways to do it, that go from disabling the rule just for one line, multiple lines or the entire file https://eslint.org/docs/2.13.1/user-guide/configuring#disabling-rules-with-inline-comments

Usually we prefer to disable lines one by one unless several are affected in which case it's okay to disable multiple ones

----

I was a bit bus

[2020-04-10 12:41] shanaqui opened #12070 "Static overview page layout is completely broken"
![image](https://user-images.githubusercontent.com/8144640/78991293-8a782e00-7b30-11ea-8bc3-652201cc0b44.png)

The footer is appearing in front of the intended text, which also appears to be displaced downwards.

[2020-04-10 14:33] paglias commented on #12070
@shanaqui where is a link to that page? can't find it anywhere

[2020-04-10 14:40] shanaqui commented on #12070
The direct link is this: https://habitica.com/static/overview

I don't know where the user found it.

[2020-04-10 14:41] #10961 closed, assigned to nobody

[2020-04-10 14:45] shanaqui commented on #9786
@akmaekki Hi! It's been a few weeks, so just checking in whether you're still interested in working on this or whether we should open it up for other contributors?

[2020-04-10 14:46] shanaqui commented on #11398
Awesome, thanks for checking in!

[2020-04-10 15:03] benkelaar commented on #11520
@shanaqui This one should also be fixed by the plugin we're writing here: https://github.com/HabitRPG/habitica-markdown/pull/87

[2020-04-10 16:37] kareenf commented on #12033
@benkelaar I'm in EST! I'll send you a quick email as well. I also took a look at the highlightUsers.spec.js file and added a test in there however I'm not sure how to run and see if it passes as it seems to me only files in the test folder get tested using the npm test commands from the wiki. I did run the full test suite and it seems like nothing broke!

[2020-04-10 18:06] benkelaar commented on #12033
The `highlightUsers` function is actually part of the client code, so you'll have to run `npm run test:unit` from the `website/client` folder in order to run the client unit tests. If you then replace `describe` by `describe.only` in `highlightUsers.spec.js` the runner should only run that test.

I haven't looked at the code long enough to see if the client unit tests are also run if you run `npm

[2020-04-10 19:35] saraolson commented on #12066
@SunSparc that colored banner is what we want to add to the quest dialogue. it's unintended that items like the garden potion don't have that banner visible right now, thanks for pointing that out!

[2020-04-10 20:31] anoopravella commented on #10828
I'd like to take a look at this.

[2020-04-10 21:29] nathanzhu144 commented on #11946
@Alys
Thanks for the comprehensive reply!  I'm currently getting these error messages when doing the curl command that you posted.  I am substituting the API name and the key variables, so I don't think that is the issue?

curl: (6) Could not resolve host: LittlennYellow
curl: (3) [globbing] unmatched close brace/bracket in column 8
{"success":false,"error":"SyntaxError","message":"Unexpected toke

[2020-04-10 22:27] SunSparc commented on #12066
I can take a look at this.

[2020-04-11 01:18] Alys commented on #12066
@SunSparc I'm sorry, the staff are working on this. It should have its status set to "in progress" so I've added that label.

[2020-04-11 03:09] Alys commented on #11946
@nathanzhu144 Ah sorry. :( Some essential backslashes weren't being displayed. I've wrapped it in backticks and it's working for me now. Post again if it's still not good for you.

[2020-04-11 05:48] SunSparc commented on #12066
@Alys, no worries. Thanks for letting me know. I am glad it is being worked on.

[2020-04-11 06:26] Alys commented on #10828
@anoopravella Thank you! Please go ahead and post here if you have questions or need any clarifications.

[2020-04-11 06:27] Alys commented on #11520
@benkelaar Awesome, thanks for letting us know! I've marked it as in progress again.

[2020-04-11 06:29] Alys commented on #12070
It's at Help > "Overview for New Users"

[2020-04-12 22:24] nathanzhu144 commented on #11946
@Alys
Thank you so much for all the detailed help! :)
I've managed to somewhat reproduce the problem.  I was not able to see the effect of the /n on the display name, but after trying other escape characters like /t, I was able to get effects on the display name.

Here's after inserting tabs.  Note the tabs in between the chars.
![Screenshot from 2020-04-12 18-18-42](https://user-images.githubuser

[2020-04-12 22:54] nathanzhu144 commented on #12039
@paglias @Alys

I've done the appropriate deletions, but when I run the test suite, I run into an assertionError on something I believe to not have touched.  Do you know what this might be caused by?

![Screenshot from 2020-04-12 18-45-15](https://user-images.githubusercontent.com/26507505/79081831-e2f52a00-7cee-11ea-9401-4d64b9c91644.png)
![Screenshot from 2020-04-12 18-45-19](https://user-images

[2020-04-13 00:14] Alys commented on #12039
"Address already in use" in that message means there's two processes trying to use port 3000. Was "npm start" still running when you ran the tests? If so, stop it before running tests.

Or is any other process using that port? It might be a process not related to Habitica development, especially if you run local servers for other development purposes.

See also "Creating and Running Automated Test

[2020-04-13 00:17] Alys commented on #11946
Try making a post in the Tavern or other chat space. Two \n in the name should show up as a line break there. Tell us if it doesn't.

[2020-04-13 07:04] Alys opened #12088 "create user.secret.text field for staff/moderator use - server/API changes only"
_I've marked this as suggestion-discussion for the staff to comment on the section in bold (and on the rest of it if they wish)._

This change is purely for server-side code (the API and user model). No website/vue changes are needed at this stage.

We need a new text field in the user document that staff and moderators can use to record private information about a player (e.g., the fact that a ch

[2020-04-13 13:39] paglias commented on #12039
@nataliechan regarding the tests error sometimes they happen, but they seem related to the API part which shouldn't be affected by these changes, if you create a PR I'll give it a look! it'll also run the tests automatically here on github so we'll see if it keeps happening

[2020-04-13 20:32] benkelaar commented on #11520
After further investigation, this is actually on the backend part, not the frontend part, so this is not going to be fixed by the plugin (Which is ready for review).

However Nathan (@nathanzhu144) mentioned he would pick up this issue, so still in progress 👍

[2020-04-13 20:36] benkelaar commented on #10924
@nathanzhu144 The plugin only fixes the frontend part of this equation (the spans), the backend still injects user links if it is an existing user, do you want to take the backend part here as well or shall I look in to it?

[2020-04-13 21:35] nathanzhu144 commented on #12039
@Alys

I believe it could've been another process I was running.
@paglias
I have made the changes and made the requested PR!

[2020-04-13 21:42] nathanzhu144 commented on #11946
@Alys
![Screenshot from 2020-04-13 17-40-35](https://user-images.githubusercontent.com/26507505/79163926-fadfb300-7dad-11ea-9a0b-c4da3daf4abd.png)

When I post in the Tavern, I don't see a linebreak in my name.

![Screenshot from 2020-04-13 17-41-48](https://user-images.githubusercontent.com/26507505/79163971-12b73700-7dae-11ea-8572-be31d8e2d426.png)

I don't see it in my display name, either, jus

[2020-04-14 02:21] Alys commented on #11822
I've just realised we have a similar issue logged from before this one: https://github.com/HabitRPG/habitica/issues/11071

I suspect it's either from the same cause or will be affected (hopefully positively) by the fix for this issue, so I'm putting that one on hold until this issue is closed. I'm labelling this issue as "notify helpers" to remind me to check on the other issue later.

[2020-04-14 02:22] Alys commented on #11071
I've put this on hold for the reasons described in this comment on a similar issue: https://github.com/HabitRPG/habitica/issues/11822#issuecomment-613189930

[2020-04-14 08:39] Alys commented on #11946
Hmm, sorry, I thought I had tested a while back with a Tavern or guild post and the line break did appear in the name but I might be misremembering.

Anyway, it's not really important to see the line break effect. The important thing is that if you enter a backslash in the name when you use that API command, the data stored in the database should have two backslashes. And if you enter two backslas

[2020-04-14 08:45] Alys commented on #7716
I'm reopening this because we've had another report of it: https://github.com/HabitRPG/habitica/issues/12067

Anyone who wants to work on this should look through all the comments above (some contain technical details that _might_ be relevant but don't necessarily rely on that), and the two linked PRs in case they give useful hints for a solution. It's _possible_ that the code has lost the fix for

[2020-04-14 08:47] Alys commented on #12067
This used to happen but was fixed, however it sounds like the bug is back, even if intermittent. I've reopened the old issue because it had technical details in it (which might or might not be relevant now) and had links to the previous PRs that fixed it (which might also help): https://github.com/HabitRPG/habitica/issues/7716

I'll close this new issue but I've linked to it from the old issue.

[2020-04-14 08:47] #12067 closed, assigned to nobody

[2020-04-14 11:43] shanaqui commented on #11356
@jaimeparrajr I've marked this as help wanted again for now, but if you do want to pick it up again, let us know!

[2020-04-14 11:44] shanaqui commented on #9745
@kmacart Since you didn't reply, I'll mark this as help wanted again, but let us know if you want to pick it back up!

[2020-04-14 11:45] shanaqui commented on #5557
Hi @alecbrick! I've marked this as help wanted again, since you didn't reply, but if you're still interested then feel free to pick it back up.

[2020-04-14 12:06] shanaqui commented on #8063
@deilann Just checking in whether you're still interested in working on this! Let me know, or I'll go ahead and set it back to help wanted in about seven days. :)

[2020-04-14 12:06] shanaqui commented on #11828
@inftp Hi! Are you still interested in working on this one? Let me know! :)

[2020-04-14 12:08] shanaqui commented on #9498
@mistergij Just checking in: are you still working on this issue? Let us know, or I'll set this back to 'help wanted' after a week or so. :)

[2020-04-14 12:13] mistergij commented on #9498
Yes, I am still working on this issue. Thanks for checking in!

On Tue, Apr 14, 2020 at 8:08 AM shanaqui <notifications@github.com> wrote:

[2020-04-14 16:33] anoopravella commented on #10828
I'm currently trying to test some changes on my local install, but I can't seem to create a guild because I don't have enough gems. Is there a way to get gems locally so I can test the guild behavior?

[2020-04-14 20:03] #11834 closed, assigned to nobody

[2020-04-14 20:14] #11801 closed, assigned to nobody

[2020-04-14 21:44] Tressley commented on #12014
@Alys / @tsukimi2 -- This is no longer the expected behavior in Private Messages. Private Messages should only display a user's current avatar. This change was made due to feedback around differing avatars in PMs causing confusion. However, messages posted in The Tavern, Party, and Guilds will still retain the user's avatar at the time of the image.

[2020-04-14 21:44] #12014 closed, assigned to nobody

[2020-04-15 01:18] Alys commented on #12066
This has been fixed so I'm closing it. I think this was the commit that fixed it: https://github.com/HabitRPG/habitica/commit/168a3a6e89cdb53fed7ed5437d8f04a642dad7f5

[2020-04-15 01:18] #12066 closed, assigned to nobody

[2020-04-15 03:19] Alys commented on #10828
@anoopravella You can use the "debug" button in the footer of your local install's website for that. There's a gem option in it. See the "Testing your Change Manually" section in [Using Your Local Install to Modify Habitica%27s Website and API](https://habitica.fandom.com/wiki/Using_Your_Local_Install_to_Modify_Habitica%27s_Website_and_API) if you'd like more details or a screenshot.

[2020-04-15 10:57] inftp commented on #11828
Hi @shanaqui , my sincerest apologies, recent events have brought some new complications into my life (as they have to many others). I will take the chance to once again look at this ticket and #11991 before the end of the week. Thank you for your patience!

[2020-04-15 12:33] benkelaar commented on #11050
I can pick this one up, all the markdown-mention work is waiting for input from others :)

[2020-04-15 18:24] Aeris1One opened #12093 "How to setup production installation"
Hi,
I'm building a YunoHost package for Habitica, which will permit installing Habitica in a few clicks on a YunoHost server. This package have been many times requested by our community and is on the wishlist since a while !
But, to create this package, I need to know how to install Habitica in production mode and no in development because people who will install the package are, for the most, no

[2020-04-15 18:36] benkelaar commented on #10924
Picking it up since it would be good to reuse some of the code I made in habitica-markdown to unify behaviour in front and backend.

[2020-04-15 21:58] paglias commented on #12093
Hi @Aeris1One ,

The production build of Habitica isn’t really different from the development one in terms of installation difficulty. The main difference is that setting NODE_ENV to production will enable a bunch of services like the payment providers but they will require you to setup your own accounts with them.

There’s also a lot of configuration specific to the Habitica.com website which isn

[2020-04-15 22:58] alecbrick commented on #5557
Sounds good. Sorry for not getting back to this earlier - I've been a bit busy with work, but I'll try and get back to this when I find the time.

[2020-04-16 01:07] Alys commented on #10924
@benkelaar thanks! I've marked it as in progress for you.

[2020-04-16 01:15] Alys commented on #11050
@benkelaar Fantastic, thanks! :)

You're probably aware of this, but if an equipment item is available in your account with either a `true` or `false` value, it means you have previously bought it (for either gold or gems), and those should always be re-purchasable with gold only (or for free, depending on the item). E.g.,:
[code]
So the API should prevent gems being spent if there's a `true` or `

[2020-04-16 09:32] shanaqui opened #12096 "Profile modal pops up incessantly if you press back button from PMs"
Reported by crThiago, reproduced by me in Firefox and Chrome:

The profile modal will go away and immediately come back over and over, if you click to dismiss it, but if you're really fast you can click on something else in the background and exit the inbox, and that seems to stop it.

[2020-04-16 10:34] crThiago commented on #12096
Even if you close the modal profile, it will continue to appear when you open any modal other than profile

[2020-04-16 12:14] shanaqui commented on #11828
No worries! We'll check in again in a couple of weeks but for now I'll leave this with you.

[2020-04-16 12:14] shanaqui commented on #9498
Great! Thanks for helping out with this one.

[2020-04-16 12:21] shanaqui commented on #10209
Hi @alecbrick, are you still interested in working on this one? If not, I'll mark it as help wanted again in about a week's time.

[2020-04-16 17:35] whitewolf1012 opened #12099 "where do i find my api id and api token. this error is showing when my red progress bar is completed Unable to log in to Habitica. Check that you have the correct user-id and api-token in C:\Users\ASUS\AppData\Roaming\Anki2\addons21\1758045507\user_files\AnkiHabitica.conf. These should not be your username and password. Post at github.com/eshapard/AnkiHRPG if this issue persists."
[//]: # (Before logging this issue, please post to the Report a Bug guild from the Habitica website's Help menu. Most bugs can be handled quickly there. If a GitHub issue is needed, you will be advised of that by a moderator or staff member -- a player with a dark blue or purple name. It is recommended that you don't create a new issue unless advised to.)

[//]: # (Bugs in the mobile apps can also

[2020-04-16 17:40] alecbrick commented on #10209
Not really. I think I might get back into it if I start getting back into the Habitica codebase, but I probably won’t be working on it soon.

[2020-04-16 17:46] #12093 closed, assigned to nobody

[2020-04-16 17:47] shanaqui commented on #12099
On the web version, you can find your user ID and API key here: https://habitica.com/user/settings/api

If those are not working, it sounds like there might be an issue with the third-party tool you're trying to use. You'd need to post to github.com/eshapard/AnkiHRPG about that, rather than here. :)

[2020-04-16 17:47] #12099 closed, assigned to nobody

[2020-04-16 21:06] somersjw commented on #9933
Hi, I'd like to try my hand at investigating this issue

[2020-04-16 22:16] benkelaar opened #12101 "Display descriptive error when tests can't be run due to absent database"
### General Info
  * UUID: d71d2c57-a73d-4591-b64d-e688584a9092
  * Browser: Command line (zshell for me)
  * OS: Definitely macOS, but also in docker containers

### Description
When developing for habitica locally, running `npm run test:api:unit` without a mongo database running on localhost (default port) will timeout and give an undescriptive timeout error.

It's rather unintuitive that runnin

[2020-04-17 09:29] hamboomger commented on #11664
@paglias could you please take a look at this issue? Before some other conflicts emerge between master and this branch.

[2020-04-17 13:26] benkelaar commented on #11050
OK, I finally managed to confirm the bug: I can curl the unlock endpoint as often as I like and it'll keep subtracting gems from the user.

[code]

[2020-04-17 19:05] paglias commented on #12101
We should try to avoid accessing the database in unit tests but that will require a bigger refactoring to be able to mock all database access. In the meantime a more descriptive error seems like a good idea

[2020-04-17 19:45] #12033 closed, assigned to nobody

[2020-04-17 20:19] #11504 closed, assigned to nobody

[2020-04-17 20:36] paglias commented on #12096
Might be fixed by https://github.com/HabitRPG/habitica/pull/12010 but not sure

[2020-04-17 20:55] #12039 closed, assigned to nobody

[2020-04-17 20:57] #11398 closed, assigned to nobody

[2020-04-18 07:28] Alys opened #12103 "purchase warning for Hatching Potions should stop you buying more than 9 when Mounts don't exist"
For premium / wacky Hatching Potions (the ones that can be obtained only with Gems), when you try to buy more than you need, you're given a warning that you don't need that many. (the `purchasePetItemConfirm` string "This purchase would exceed the number of items you need to hatch all possible <%= itemText %> pets. Are you sure?")

This does not work correctly for those potions that you can't get

[2020-04-18 13:39] theTechGoose opened #12104 "Broken sign in witj Apple from Safari"
Cant log into the guild website because  the bug prevents me from logging in.

<img width="735" alt="image" src="https://user-images.githubusercontent.com/55964540/79639225-5ddb9c00-8158-11ea-9ab9-f00200740b49.png">

[2020-04-18 13:41] paglias commented on #12104
Hi @Rofer11607 , thanks for the report, do you know you Habitica username? If yes, could you post it here? Also did you previously sign up using the iOS app?

[2020-04-18 13:49] Rofer11607 commented on #12104
I signed up with the IOS app but I am trying to log in with my macbook on safari using the sign in with apple option. When the form submits; the server responds with the JSON object above.

[2020-04-18 14:40] paglias commented on #12104
@Rofer11607 we've pushed a fix, could you try again?

[2020-04-18 14:44] Rofer11607 commented on #12104
Now its saying "sign up not complete"

<img width="465" alt="image" src="https://user-images.githubusercontent.com/55964540/79640801-90d65d80-8161-11ea-8030-7882a56eff59.png">

[2020-04-18 15:16] paglias commented on #12104
cc @phillipthelen

[2020-04-18 15:21] paglias commented on #12104
It seems to be a problem specific to Safari, we'll try to push a new fix next week but in the meantime using a different browser should work

[2020-04-18 15:22] paglias commented on #12104
Safari on mac seems to have a particular behavior that doesn't work with our current code

[2020-04-18 15:30] Rofer11607 commented on #12104
On a side note I've been teaching myself to code for the past year because I fell into a tech role within the company I work for; I'm pretty proficient with front end development and would be happy to assist with your project in exchange for the chance to work with other developers.

[2020-04-18 16:22] paglias commented on #12104
@Rofer11607 I pushed another fix, could you give it another try? I was able to login with Safari this time

[2020-04-18 16:27] Rofer11607 commented on #12104
working now

[2020-04-18 16:54] paglias commented on #12104
great! thanks for testing and regarding the development work, we're always looking for help, [this](https://habitica.fandom.com/wiki/Guidance_for_Blacksmiths) is a good place to start

[2020-04-18 16:54] #12104 closed, assigned to nobody

[2020-04-19 00:43] Alys commented on #12070
This problem is still happening in production but not on my local install (and a contributor in Aspiring Blacksmiths has also noticed it's not happening on their local install).  My install's two most recent commits are these:
[code]

And those should be what's on production now (see the [releases](https://github.com/HabitRPG/habitica/releases) page), so this bug might be related to a config diffe

[2020-04-19 01:31] CraigInches commented on #12070
It appears on a local install the elements are formatted with inline CSS, but on the production page its being sourced from https://habitica.com/static/css/static.692e5880.css.

'container-fluid static-view' appears to be the culprit editing this inline so it isn't used  fixes this issue in prod.

[2020-04-19 08:54] #11803 closed, assigned to nobody

[2020-04-19 08:55] paglias commented on #11803
Closing since the ETag offers the same functionality and is already available

[2020-04-19 09:06] Alys commented on #11279
Another instance of this has been reported by @johnjsal (624e48a3-cbea-4bbe-ae44-ca9183f49626):

**"I rebirthed for my second time just now, but the pop-up dialog box said "This is Rebirth 1...". The achievement has stacked correctly, so it may just be an error with the dialog text."**

[2020-04-19 10:22] paglias opened #12107 "Static features page is showing old screenshots"
<img width="1440" alt="Schermata 2020-04-19 alle 12 21 05" src="https://user-images.githubusercontent.com/589911/79685327-4247c280-8238-11ea-9834-34074dff52b4.png">

https://habitica.com/static/features

[2020-04-19 10:30] paglias commented on #12070
Looks like some css from a different page was leaking into the overview one (thanks @CraigInches !) It's been fixed in https://github.com/HabitRPG/habitica/commit/d4b867acc3f6f356f5cca0d6db0d70d8bf71783d

[2020-04-19 10:30] #12070 closed, assigned to nobody

[2020-04-20 05:55] benkelaar commented on #11050
Did some more research over the weekend. Both the unit tests and integration tests do not display this behaviour.

What happens is that after the request is done, the `purchased` values have not been stored in the database, and since that's what's being checked to see if the user already bought the items, the next time the endpoint is being called it just assumes you're buying it again.

Now why t

[2020-04-20 10:37] paglias commented on #11050
That is probably coming from a super old database schema from the initial days of Habitica. We fixed the ones that had the biggest impact on performances but not all of them.

Is this happening in the tests only or while making normal API requests?

[2020-04-20 10:40] paglias commented on #11050
@SabreCat or @Alys might know more about the `purchased` object behavior

[2020-04-20 10:57] paglias commented on #11050
And about the `markModified` call it's used to signal to Mongoose that an object of `Mixed` type has changed and should be saved to the database, it's used for schema-less objects like [purchased](https://github.com/HabitRPG/habitica/blob/develop/website/server/models/user/schema.js#L171) (either because they don't have a defined list of fields or because they have so many fields that they would s

[2020-04-20 14:32] #11949 closed, assigned to negue

[2020-04-20 14:35] paglias commented on #11140
Fixed in https://github.com/HabitRPG/habitica/pull/12044

[2020-04-20 14:35] #11140 closed, assigned to Tressley

[2020-04-20 15:23] #11988 closed, assigned to nobody

[2020-04-20 16:34] #10828 closed, assigned to nobody

[2020-04-20 20:13] benkelaar commented on #11050
Thanks for all the info! I'll see if I can perhaps look in to simplifying the DB model, kinda depends on whether the purchased information is used for anything else. But probably not something that should be blocking the resolution of this issue.

That's the weird thing, it's only happening when making normal API requests, but not with the tests. So besides the bug there's apparently also a test c

[2020-04-20 20:17] #11119 closed, assigned to nobody

[2020-04-20 21:12] #8248 closed, assigned to nobody

[2020-04-20 21:55] #11664 closed, assigned to nobody

[2020-04-20 22:05] paglias opened #12114 "Group Invites: Send Invites button not updated correctly"
<img width="600" alt="Schermata 2020-04-20 alle 23 59 56" src="https://user-images.githubusercontent.com/589911/79803833-107f4a80-8363-11ea-8e1b-13cd5e25b2ff.png">

The modal to invite users to a guild or party has a few issues:

- The send invites button starts enabled while it should be disabled until there's at least one invite
- When typing an email or username the validity isn't checked until

[2020-04-21 06:15] inftp commented on #11828
Just to clarify:

1. From what I was able to gather from the Habitica wiki, both Burst of Flames and Brutal Smash are "buffing" skills that cause a task to deal more damage to a boss, is this correct or have I misunderstood?
2. The expected behaviour is for two "x damage to boss" notifications to trigger sequentially (one after the other) when a "buffed" task is completed, rather than showing the

[2020-04-21 06:26] shanaqui commented on #11828
Not quite! The skills do damage instantaneously. There should be a single
damage notification immediately after they are used, and no change when the
task is checked off.

On Tue, 21 Apr 2020, 07:15 Jay, <notifications@github.com> wrote:

[2020-04-21 06:29] inftp commented on #11828
So they both do an initial amount of boss damage *and* buff a task to deal more damage when it is completed? If not, what is the purpose of casting the spell on the task itself?

[2020-04-21 06:50] shanaqui commented on #11828
No. The point of casting them on a task is that the task value is used in
calculating the damage the skill can do.

Brutal Smash does also change the task value, so will change how much
damage the task does when it is checked off, but this is a permanent change
to the task itself and does not require an extra notification.

Which Wiki page were you referring to? It sounds like something might need

[2020-04-21 12:08] shanaqui commented on #10209
Alright, I'll mark this as help wanted again, but feel free to let us know if you want to pick it back up!

[2020-04-21 12:09] shanaqui commented on #9786
I'm marking this as help wanted again so anyone can pick it up. :)

[2020-04-21 12:13] shanaqui commented on #11482
Hi @Stevens1995! Just checking in again, is this something you're still working on?

[2020-04-21 12:26] shanaqui commented on #11831
@anoopravella Are you still interested in looking into this issue? If not, I can mark it as help wanted again. :)

[2020-04-21 12:33] shanaqui commented on #12018
The user who reported this issue was using Chrome. None of the team were able to reproduce this on the browsers they tried.

[2020-04-21 16:24] veeeeeee commented on #12103
We're fine with handling this exactly the same as premium Hatching potions, with the number changed to the appropriate amount.

[2020-04-21 16:35] veeeeeee commented on #12107
We're thinking about replacing screenshots with updated images as a first step here.

[2020-04-21 17:06] paglias commented on #11864
Fixed in https://github.com/HabitRPG/habitrpg-email-server/commit/93795a29bfaa2efa081e0af8dbb097729507f8d0

[2020-04-21 17:06] #11864 closed, assigned to nobody

[2020-04-21 20:51] cvuorinen commented on #12114
I think I got this working. I'll make a PR tomorrow.

[2020-04-22 06:08] benkelaar commented on #11050
Phew, this was a fun one to track down!

The problem was that the unlock code was setting the purchased field to markModified, but the purchased field is in fact not schema-less in the schema. It has several declared sub-fields that are schema-less, but items was not among them. Therefor mongoose ignored the modified status of purchased and with it the values that were set there. Declaring a Mixed

[2020-04-23 05:53] DanAmbitous commented on #11885
I'm new here, and how can I help? Does this need CSS?

[2020-04-23 11:33] shanaqui commented on #8063
I've marked this as help wanted again!

[2020-04-24 07:02] benkelaar commented on #10605
Hi @Alys ! I could look in to this one next, but it kinda sounds like the issue might be in the way habitica communicates with Paypal.

As such I'm not sure how doable it would be to reproduce locally. Is there some (technical) information on what that connection looks like?

[2020-04-24 08:24] Alys commented on #10605
@benkelaar Thanks! I've marked this as in progress for now but it's totally fine if you tell us to set it back to help wanted!

I don't know what the connection to PayPal looks like. @paglias or @SabreCat might be able to help.

It might be worth doing a quick check to make sure the fix described in https://github.com/HabitRPG/habitica/issues/10605#issuecomment-430953794 is still in place.

Keep i

[2020-04-24 09:40] benkelaar commented on #10605
Cool, thanks, I'll have a rummage through the relevant code tomorrow and see if I can see anything suspicious that might also be causing this same behaviour.

[2020-04-24 09:53] paglias opened #12118 "highlightMentions crashes when square brackets are used"
Still investigating exactly what causes this but:

[code]

^ note that the line numbers might not match exactly the source files

It seems ton  happen when square brackets are used outside of links, for example:

[code]

[code]

[2020-04-24 10:03] paglias commented on #12118
Looks like markdown-it requires the env parameter to be passed even when not used when using `.parse`, see https://markdown-it.github.io/markdown-it/#MarkdownIt.parse and https://github.com/markdown-it/markdown-it/issues/593

The strange thing is that they don't throw an error even if it's mandatory and it only fails in some cases

cc @benkelaar

[2020-04-24 10:06] #12118 closed, assigned to nobody

[2020-04-24 10:13] paglias opened #12119 "Weblate: strings removed from English source files are not removed from other locales"
Similar to #12126
Recently we noticed that removing an entire file from `website/common/locales/en` or a single string, when the updates from Weblate are merged the removed strings remain in the other language files.

We might have to change a setting in Weblate or update the script that updates the translation files here.

This applies also to individual strings, when remove from the English sour

[2020-04-24 14:16] #11050 closed, assigned to nobody

[2020-04-25 09:26] Alys opened #12122 "blue "Contributor Achievement" notification should remain on-screen until clicked"
When a player is given a contributor tier, the next time they sync on the website, a blue blue "Contributor Achievement" notification appears as shownn in the screenshot below. If they click on that notification, then a modal opens to that shows them more details about the contributor tier process.

That's all working as expected except that the blue notification disappears automatically after a f

[2020-04-25 21:44] benkelaar commented on #10605
@Alys Are we sure this problem might not be an instance of this? https://github.com/HabitRPG/habitica/issues/11664 Or is that an entirely different kind of subscription? (The group kind?)

[2020-04-26 03:05] Alys opened #12123 "Reset should unassign Stat Points (previously known as Attribute Points)"
When you use [Reset Account](https://habitica.fandom.com/wiki/Settings#Reset_Account) (from User Icon > Settings > "Danger Zone" section), it correctly sets your Level to 1 but it does not reset your Stat Points. It should reset them as described below.

Ideally we'd fix this with the generic function described at https://github.com/HabitRPG/habitica/issues/6482 but that requires a large body of w

[2020-04-26 04:16] Alys opened #12124 "guild creation failing, gems being taken"
Recently we've seen two reports of people trying to make a guild, having their Gems removed, but the guild not existing.

This one from @Muamua_ (1039bae3-1101-4c9f-8ad1-416b04ecd93d) was 15 hours before now:
_"Then I logged in on website version and create guild but it occur error. After that, my gems disappeared but my guild didn't created.."_

This one from @tymeczekxpompa (1e3a7b23-5fde-44d5-b

[2020-04-26 04:18] Alys commented on #12124
I've labelled this as needs investigation and important priority since it's taking Gems and not all players would notice that.

[2020-04-26 04:42] Alys commented on #12124
More details from @Muamua_:

I suspect the public/private setting wouldn't have been related to this bug. The category error is probably relevant and we at least should investigate it for its own sake.

[2020-04-26 05:03] Alys commented on #10605
@benkelaar Short answer: no, it's not related. :)

The subscription that you get for free from a Group Plan works in the much same way as subscriptions that you pay for or get as a gift, except that subscription cancellation occurs automatically when you leave the Group Plan or when the Group Plan itself is cancelled. (In case it's not clear, the Group Plan is a paid feature that's applied to a gu

[2020-04-26 07:05] PitiTheGrey commented on #12123
I would like to give it a try, since I have been working with stats poitns on 3rd party tools a lot before. But I will have to set up my local Habitica install fist. May take a few days then.

[2020-04-26 07:35] Alys commented on #12123
@PitiTheGrey Great! I'll mark this as in progress for you and if you have any trouble with your local install, post to the Aspiring Blacksmiths guild and we'll help.

[2020-04-26 07:43] Alys commented on #9933
@somersjw I'm sorry it's taken us so long to reply! I've marked this as in progress for you but if you've found something else to do in the meantime, tell us and we'll set it back to help wanted.

If you have any questions or run into trouble, post here and we'll try to reply faster!

[2020-04-26 08:11] benkelaar commented on #10605
Interesting. Both that issue and this (original issue) were cause by calling `#cancelSubscription` twice right? The original fix implemented for this one in the *Instant Payment Notification* handler is indeed still in place, so something else seems to be going wrong.

However, I think it's a bad idea to do these kinds of state-based calculations with payment-related data in the first place (Here

[2020-04-26 09:20] D10master commented on #6482
Can I try to work on it?

[2020-04-26 16:21] cvuorinen commented on #11181
This has bugged mee too for a long time. Finally got around to looking into it and found an easy solution. The SortableJS library that is used for the drag-n-drop sorting has options to add a delay on touch devices for the sort. Fixes both the scrolling issue and checking off of tasks :tada:

[2020-04-26 16:56] D10master commented on #12123
Whops! wrote in the wrong issue first.
Can i work on this?

[2020-04-26 20:59] PitiTheGrey commented on #12123
Couple of questions:
1. Effects visually take effect after a page refresh only. Is that ok?
2. I don't quite get how the test code works. How can I run that?

[2020-04-26 21:17] paglias opened #12126 "Weblate: string updated in the English source files should be reset in all other languages"
Similar to #12119

When a string is updated in the English source files they should be reset to the english version in all other languages since the meaning might have changed and the translation be outdated.

We might have to change a setting in Weblate or update the script that updates the translation files here.

----------

The only solution might be to use Weblate's API https://docs.weblate.o

[2020-04-26 23:18] Alys commented on #12123
@D10master I'm sorry, @PitiTheGrey claimed it first. :) Thanks for wanting to help though!

@PitiTheGrey

Hmmm. That's a good point. It's not ideal because it will be confusing to new players. The best fix is probably to make Reset reload the website after it's done everything else. The Orb of Rebirth does that (using code that I can't actually find at the moment).
If you want to make Reset do a r

[2020-04-26 23:20] Alys commented on #11181
@cvuorinen Awesome, thank you! I've marked this as in progress for you.

[2020-04-26 23:37] Alys commented on #10605
Hmmm yes, that seems correct at least for the initial cause of this bug, based on paglias's comment above _("when a subscription is cancelled in Paypal an IPN message is then sent to our server resulting in a second cancellation")_. I'm not sure if that's still what's happening now.

What _might_ help is if any code that sets `dateTerminated` would first check to see if there's a current value for

[2020-04-27 08:57] Alys opened #12138 "chat messages containing ( or ) or [ inside backticks can't be posted: highlightMentions.js problem"
If a chat message contains `(` and/or `)` and/or `[` inside backticks, then the message can't be posted.

The user sees "An unexpected error occurs" and the errors below appear in the server logs.

If the message contains `[` inside backticks, the server error is:
[code]

If the message contains `(` or `)` inside backticks, the server error is:
[code]

[2020-04-27 09:22] inftp commented on #11828
Hi team, I must apologise but I will no longer have the free time available to work on this ticket. For whomever picks it up, a `git bisect` ought to be able to reveal the commit that introduced the bug once the intended behaviour has been identified.

Best of luck

[2020-04-27 09:24] inftp commented on #11865
Hi team,

I will unfortunately no longer have the ability to work on this ticket. Is it possible for someone else to use the state of the current PR (#11991) to work off or should I close it out?

[2020-04-27 09:31] paglias commented on #12138
@benkelaar is this something you might be able to look into? thanks

[2020-04-27 09:37] Alys commented on #11828
@inftp Thanks for letting us know! I'll set this back to help wanted.

For the next person to work on this:

The intended behaviour is as written above in the posts from me and from shanaqui. To summarise how the skills work on the website:
1. You click on the skill in your skill drawer at the bottom of the tasks page.
2. You click on any one of your own tasks (don't choose a task from a Challenge

[2020-04-27 09:48] paglias commented on #12138
Seems to happen with asterisks as well `{"message":"`*hello*`"},"query":{},"httpCode":500,"isHandledError":false,"fullError":{},"level":"error","message":"SyntaxError: Invalid regular expression: /` ?*hello* ?`/: Nothing to repeat` and ``{"message":"`*`"},"query":{},"httpCode":500,"isHandledError":false,"fullError":{},"level":"error","message":"SyntaxError: Invalid regular expression: /` ?* ?`/: N

[2020-04-27 09:51] Alys commented on #12138
@Nakonana has done some additional testing and says:
"asterisk * and \ inside of backticks don't seem to work either :o"

Here's the errors for * and \ respectively:

[code]

[code]

[2020-04-27 10:51] Alys commented on #12138
From @SuperSaraA:

"I also found through trial and error that ?^$ + between backticks make my Andriod app say server connection lost the same way it does with the * and \ signs."

Looks like it's any character that has special meaning in a regex.

[2020-04-27 11:06] shanaqui opened #12139 "Using the sync button in the private message inbox does not reload properly"
Confirmed in Firefox. Actually, it doesn't empty the message list: it sort of half refreshes it, showing only a selection of my past conversations (not the most recent ones).

[2020-04-27 11:38] Alys commented on #12139
I've marked this as suggestion-discussion.

I think the ideal behaviour here would be for the sync button to cause the conversation you're currently looking at to be updated with any new messages that had come in since you opened the conversation, and also for the left-hand panel to be updated if a new conversation had been started by someone else. That's probably why you'd click the sync button w

[2020-04-27 11:46] benkelaar commented on #12138
Ah shit, of course, forgot regex escape! Fix should be fairly simple. Great catch! Thanks!

[2020-04-27 11:59] benkelaar commented on #12138
Sorry about that. That pull request should fix it.

[2020-04-27 13:37] Tressley commented on #12139
Best to loop @negue in for this discussion since he's handled the most recent PM work.

As for a solution, I agree with Alys' suggestion. Syncing while viewing a conversation should essentially "fetch recent messages" while remaining in that conversation. The Conversations list should also be updated with new messages.

[2020-04-27 13:56] Tressley commented on #7721
Closing this for now as Challenge participants can be sorted by join date.

[2020-04-27 14:21] Tressley commented on #9559
Is this still an ongoing issue? I've reviewed both the Copy as To-Do and Report modals and both look to be displaying properly.

[2020-04-27 14:23] Tressley commented on #9455
Pulling the help wanted tag off of this as I intend to refresh these designs before we handle them internally.

[2020-04-27 14:24] mistergij commented on #9498
I'm sorry. I can't work on this anymore. Could you please mark this as help wanted?

[2020-04-27 14:48] Tressley commented on #9500
This issue also occurs on Chrome. It's on any filter type, but is only specific to the Quest and Time Travelers' shop.

[2020-04-27 14:57] negue commented on #12139
On pressing the header sync button - it reloads the user-obj, then once that is done, it emits this event `EVENTS.RESYNC_COMPLETED`.

In `private-messages.vue`:

[code]

the `this.reload()` reloads the conversation list (left sidebar) and then selects the newest (first) conversation (where the newest message is) to load the messages of this selected conversation.

But I think I found the issue:
-

[2020-04-27 15:20] negue commented on #12139
https://github.com/HabitRPG/habitica/commit/b1a348aee3b4958f4480c919cb3b592ee720dcd8 should fix it once its pushed to production

[2020-04-27 17:57] benkelaar commented on #10605
Good idea, by checking the assumption of the method and failing early we get errors instead of faulty state. I'll see if I can implement something like that.

[2020-04-27 18:22] paglias commented on #12139
Closing so that we don't forget, the next deployment should be tomorrow

[2020-04-27 18:22] #12139 closed, assigned to nobody

[2020-04-27 18:24] #12138 closed, assigned to nobody

[2020-04-27 18:45] citrusella commented on #9559
I haven't personally seen it recently (either the armoire modal flavor above or the "when the modal closes the site has made its overall width smaller" flavor). I feel like I would have noticed it if it were still happening, though I'm not *sure* about that...

[2020-04-27 19:01] citrusella commented on #12123
@Alys Is this where rebirth reloads? Appears to be in the buy modal code. o.o (I looked up how to reload a page in Javascript and then searched for stuff like that in the files, so I'm about as confident as a kindergartener who just learned a big word for the first time. XP)

https://github.com/HabitRPG/habitica/blob/5ad30e815a2e8ef1178ea97836f51344b7392869/website/client/src/components/shops/buyM

[2020-04-27 20:19] PitiTheGrey commented on #12123
I have issues with running: npm run test:
On all sub-test errors appear:
0 info it worked if it ends with ok
1 warn npm npm does not support Node.js v12.16.2
2 warn npm You should probably upgrade to a newer version of node as we
3 warn npm can't make any promises that npm will work with this version.
4 warn npm Supported releases of Node.js are the latest release of 6, 8, 9, 10, 11.
5 warn npm Yo

[2020-04-27 22:54] PitiTheGrey commented on #12123
Both reset.js files are updated. Shall I make a pull request? To Habitica's develop branch?

[2020-04-27 23:01] PitiTheGrey commented on #12123
https://github.com/HabitRPG/habitica/pull/12143

[2020-04-28 00:32] Alys opened #12144 "/api/v3/user GET route is returning only 10 inbox messages - should return all"
_Note to contributors: I'm marking this as help wanted but before you start working on it it's important that you post here first and wait for a reply because it's possible that Habitica's staff will be fixing it themselves, which means if you've already starting on it your time would be wasted!_

Until recently, the [https://habitica.com/api/v3/inbox/messages](https://habitica.com/apidoc/#api-Inb

[2020-04-28 01:10] Alys commented on #12144
I think this might be the commit that introduced the change: https://github.com/HabitRPG/habitica/commit/cbcc7cd47995744ad2f72b890f3e2d05a702c1f4
It has a "PM_PER_PAGE" variable set to 10, although I haven't checked if the functions that use that variable are used in API v3.

[2020-04-28 01:19] Alys commented on #12123
@PitiTheGrey Thanks for the PR!

@citrusella You are correct! That was a good way to find it!
Thank you! When I make an issue for reset updating the page, I'll reference that code in case that's the solution chosen.

[2020-04-28 02:11] Alys commented on #9559
I've closed this but we can reopen if it's noticed again!

Thanks @citrusella

[2020-04-28 02:11] #9559 closed, assigned to nobody

[2020-04-28 02:30] Alys commented on #9455
I've added the "status: on hold - needs design" label so that this issue has a status but if that's bad, tell me!

[2020-04-28 02:32] Alys commented on #9500
I've marked this as "help wanted" instead of "needs investigation" since this seems to be reproducible issue now - thanks @Tressley !

[2020-04-28 09:36] Chuddington commented on #12144
Hey everyone,

As the endpoint is a get method, would it be worth it to have the PM_PER_PAGE as a form of query string value, or as part of a header?  That way it can be configurable on the client side and a default of 10 can continue to be used in the backend until clients are updated to utilise said query string / header, without changing the current, unwanted behaviour until you're ready for it

[2020-04-28 10:33] Alys commented on #12144
I think the issue was that the PM_PER_PAGE limit was accidentally applied to version 3 of Habitica's API, instead of only to version 4. Version 4 is used solely by Habitica's official website and mobile apps, and it can be changed without notice to implement features that those official clients need. Version 3 of the API is used by third-party tools and its behaviour is not meant to change at all

[2020-04-28 10:39] Alys commented on #7721
That join date sort is actually the date they joined Habitica. :) Knowing when they joined the challenge is what's needed to accurately judge the participants' progress.

[2020-04-28 11:02] #11181 closed, assigned to nobody

[2020-04-28 11:50] shanaqui commented on #11831
I've marked this as help wanted again!

[2020-04-28 11:59] shanaqui commented on #11520
@nathanzhu144 Is that correct, and are you still working on this if so? If not, I'll set it back to help wanted in about seven days. :)

[2020-04-28 12:03] shanaqui commented on #11910
Hi @tsukimi2! Just checking in again whether this is still in progress! :)

[2020-04-28 13:44] #12114 closed, assigned to nobody

[2020-04-28 15:19] tsukimi2 commented on #11910
@shanaqui Sorry, been a little bit busy lately.  Will try to see whether I can finish up the associated pull request either this weekend or the next.  Sorry about that.

[2020-04-28 16:30] veeeeeee commented on #9247
This appears to have been fixed. We can reopen if that's not the case.

[2020-04-28 16:32] veeeeeee commented on #6745
This issue appears to be no longer happening, but we can reopen if that's not the case!

[2020-04-28 16:32] #6745 closed, assigned to nobody

[2020-04-28 16:39] veeeeeee commented on #9536
This behavior is no longer occurring.

[2020-04-28 16:39] #9536 closed, assigned to nobody

[2020-04-28 16:50] veeeeeee commented on #10225
This issue is still happening as of this date.

[2020-04-28 16:55] veeeeeee commented on #10210
We think this is still happening, but could someone confirm?

[2020-04-28 21:54] Alys commented on #12144
I've marked this as in progress since @negue is working on it

[2020-04-28 23:17] Alys commented on #10210
It will still be happening because it's still possible for one of the two database update commands to fail while the other one succeeds.

[2020-04-30 12:38] shanaqui commented on #11946
I just thought I'd add in case there's any confusion about how to reproduce: the post where it was seen was a system message, showing the user's progress on a quest. The person reporting didn't state having seen it anywhere else.

[2020-04-30 12:39] shanaqui commented on #11946
@kareenf, @nathanzhu144 Are you still working on this one? If not, I'll add the help wanted label back so other folks can take a look.

[2020-04-30 20:41] benkelaar commented on #10786
@Alys I can take a look at this one next.

@paglias Isn't it an option to have the groupInvite query parameter also be part of the callback url that's send to the social logins? (Assuming that's how they work)

[2020-04-30 23:11] J-Kazama commented on #4221
What worked for me was putting:
[code]
before any other app.use. I was having a middleware error as well as the code been used one, this resolved both.

[2020-05-01 10:12] Alys commented on #10786
@benkelaar I've set this as in progress. Thanks!

[2020-05-01 18:30] cvuorinen opened #12151 "Play store/App store banner shown every time"
[//]: # (Before logging this issue, please post to the Report a Bug guild from the Habitica website's Help menu. Most bugs can be handled quickly there. If a GitHub issue is needed, you will be advised of that by a moderator or staff member -- a player with a dark blue or purple name. It is recommended that you don't create a new issue unless advised to.)

[//]: # (Bugs in the mobile apps can also

[2020-05-02 11:59] benkelaar commented on #10786
I'm making good progress on this issue, have a clear idea of how to fix it but there's some work in making it testable, but also good progress there.

@Alys In order to get the most out of local testing, do you know if I can find the e-mail templates somewhere for email types `invited-guild` and `invited-party`?

I've looked at the [repository of the mail server](https://github.com/HabitRPG/habitr

[2020-05-02 12:34] cTheDragons commented on #7721
It should be noted that the [Challenge Data Tool](https://oldgods.net/habitica/cTheDragons/challenge.html) does show when the task was created for the person. However it not the same as the person join the challenge. (As task may be added throughout the challenge) And as noted earlier you do need to load all the tasks. (Which in the challenge data tool makes sense).

[2020-05-02 12:43] PitiTheGrey commented on #12123
The modal to atually post the reset is here:
habitica/website/client/src/components/settings/resetModal.vue
Adding 'windows.location.reload(true); to line 45
causes the page to reload after character reset. User is directed to the tasks page.

I am not sure to integrate this into the pull request. Maybe someone with more experience can state their concerns?

Thankx, Piti!

[2020-05-02 13:29] PitiTheGrey commented on #12123
The reset does not change the class back to warrior. I am not sure if this is intended. Is it?

[2020-05-02 16:07] paglias commented on #10786
Yes the templates are only available in the mandrill / mailchimp templates but all variables can be found in the code here or in https://github.com/HabitRPG/habitrpg-email-server

Hmm I don't remember exactly the cause here but I think the problem is that we redirect the users (for Google/FB in a popup) and when they complete the login  they get redirected back to Habitica but the URL they're redi

[2020-05-02 16:38] citrusella commented on #12123
I take it you deleted your comment because you found an answer, but just to confirm, the way I've always heard it is that it intentionally doesn't change your class to (opt-out) warrior if used after level 10.

[2020-05-02 17:59] #12088 closed, assigned to negue

[2020-05-02 18:13] paglias commented on #10472
The inbox now supports pagination for both messages and conversations (should be made mandatory before v4 is released)

[2020-05-02 19:48] #12144 closed, assigned to nobody

[2020-05-02 20:40] benkelaar commented on #10786
That does limit users to use the same e-mail they were invited on. I can imagine inviting a colleague on their work e-mail but them wanting to sign up on their private e-mail.

I think I can fix the current setup though. Right now only the `register` method is reading the query parameter. In principle the `socialAuth` query parameter can just read that same parameter and send it on to the dispatch

[2020-05-02 21:15] paglias commented on #10786
👍 i thought that the call to the sign up route happened in the popup used to redirect to facebook and google but it doesn't look like it.

For Apple yeah it's a bit more difficult since there's no client side handling but you get a redirect from the main windown and not from a popup (they do not support client side oauth unfortunately)

[2020-05-02 21:49] benkelaar commented on #10786
Yeah, so for apple we'd probably need to add the same query parameter to the redirect url that we're sending to apple so that the invite can be handled then. However that would probably require a custom landing page to handle that query parameter.

Ideally you'd abstract the handling of this parameter away into something like a request filter. Do you know if Vue.JS supports a concept akin to [requ

[2020-05-03 08:40] paglias commented on #10786
I think the problem is that any query param sent to Apple would get lost when they redirect back to us and the redirect url can’t be passed customizable parameters

[2020-05-03 11:17] paglias commented on #12151
Sounds good to me, although the doc says:

so it shouldn't actually reappear at all after you close it the first time?

[2020-05-03 12:32] benkelaar commented on #10786
Can't you just simply add a query parameter to the `redirectUrl` here?https://github.com/HabitRPG/habitica/blob/develop/website/client/src/libs/auth.js#L26 ? Or does apple strip query parameters?

[2020-05-03 13:11] paglias commented on #10786
No, basically you have to register, on the Apple Sign In platform, a list of allowed redirect url, if you pass a different one the request will not be considered valid. And the query parameters are considered part of the URL so `${window.location.protocol}//${window.location.host}/api/v4/user/auth/apple?inviteCode=code1` is different than `${window.location.protocol}//${window.location.host}/api/v

[2020-05-03 14:46] cvuorinen commented on #12151
Well, it doesn't reappear during one browser session, since it seems to be using session cookie by default. In the readme at the top it says

But anyway, since you think it's a good idea, I can make a PR.

Just one question. How long ttl should we set for the cookie? One month? One year? Something else?

[2020-05-03 16:15] paglias commented on #12151
One month seems reasonable. @Tressley do you have any preference?

[2020-05-03 16:25] benkelaar commented on #10786
Ah right. That makes sense.

Obvious alternatives are allowing people that signup via apple to specify which user invited them or just showing a message along the lines of ("Due to technical limitations of the apple authentication integration invites don't work please ask your inviter to invite you by username. "). Theoretically you could also not show the apple auth option when a user was invited

[2020-05-03 16:44] paglias commented on #10786
I don't remember why we didn't use it but @phillipthelen might know

As for the issue itself another solution, since we're only targeting web right now, would be to set a cookie with the invite data when the invitation link is opened, and on signup award the achievement based on the cookie data. It would support all sign up mechanisms including Apple. We could leave the query parameter support for

[2020-05-03 17:18] benkelaar commented on #10786
That sound like a pretty clean solution.

Is there a possibly bad interaction with cookie opt-out? (Not sure if habitica offers that but it's probably acceptable if this functionality doesn't work when someone expressly opts out of all cookies)

[2020-05-03 17:51] paglias commented on #10786
Shouldn't be an issue, if first party cookies are disabled at the browser level it won't work but not much we can do

[2020-05-03 20:33] paglias opened #12155 "Client: use Vuex instead of custom solution"
Currently the Habitica website is using its own Store implementation (https://github.com/HabitRPG/habitica/tree/develop/website/client/src/libs/store) with an API that tries to match [Vuex] one, with the notable exception of [mutations](https://vuex.vuejs.org/guide/mutations.html).

This is due to the fact that Habitica code shared between the server and client (https://github.com/HabitRPG/habitic

[2020-05-03 21:52] kareenf commented on #11946
@shanaqui hey, sorry for the late response! I just got done with all my finals so I wasn't able to respond until now. At the moment, I think it'd be best to put the help wanted label back. Thanks!

[2020-05-04 10:45] Alys commented on #10786
[This is for my reference only and can be ignored by everyone else. I've marked this as notify helpers to remind me to document the conditions under which the achievement still fails to be given when a fix for this has been merged; e.g., if the new player signs up with an Apple ID. We'll need to know that for user support.]

[2020-05-04 11:29] evolve2k commented on #9489
On 1 April 2020 in e39eafd3f072545aaf5e9faba11c9583753269f6, @SabreCat commented this feature out and added new message referring people to this thread.

[2020-05-04 11:48] evolve2k commented on #9489
I'm not that familiar with this code but for those that are interested here's the basics of what the code used to do.

**Short summary of how the PNG export works**

api.exportUserAvatarHtml
- When you look up /export/avatar-:uuid.html
- It looks up a User by the provided :uuid and selects the main attributes.
- Renders 'avatar-static' setting the user to the newly looked up details
- Returns html

[2020-05-04 12:07] evolve2k commented on #9489
**Removing the need to use AWS S3**

I'm thinking that maybe one issue with this code is that an appropriate AWS S3 account needs to be maintained and the more that this API is used the more files are saved to S3, driving up costs for core maintainers.

What about if we instead Base64 encoded results of the image conversion and returned the Base64 string, which they could then use in an < img > ta

[2020-05-04 12:16] PitiTheGrey commented on #12122
I have an Idea about this. May I have a try, please.

[2020-05-04 12:19] evolve2k commented on #9489
Further, if conversion from HTML to Image with [Pageres](https://www.npmjs.com/package/pageres) is expensive server side, what other options are there?

Thinking out loud, what if we converted the html into base64 and outputted that?
I'm imagining this might be less intensive.

Finally .exportUserAvatarHtml has been commented out, what's stopping that from being available?
It's not running Pageres

[2020-05-04 17:14] Tressley commented on #12151
One month sounds good. We can always adjust if necessary. 👍

[2020-05-05 09:26] paglias commented on #9489
It's not running Pageres or involving AWS, so I can't see the same issues with it being available.

Hi @evolve2k the problem with `exportUserAvatarHtml` is that its only usage was to render the avatar by itself in order for pageres to be able to take a screenshot of the page. Since pageres isn't available anymore it's not very useful to have it, since the avatar is available in the header at Habit

[2020-05-05 10:03] ajeffrey commented on #11950
this is caused by the following line of CSS:
`max-height: var(--textarea-auto-height,40px)`

if you change it to `height: var(--textarea-auto-height,40px)` you can resize the textarea, though the height jumps rather dramatically when you resize. I'll see about putting in a PR.

[2020-05-05 13:20] fmaximus commented on #12103
As only the wacky Hatching Potions seem to be Pets only

https://github.com/HabitRPG/habitica/blob/f60b50d6fa77d1343ae13fff50221982c0923082/website/common/script/content/stable.js#L79-L82

I think it would suffice to add

    if (item.path.indexOf("wackyHatchingPotions.") !== -1) {
        petsRemaining -= 9;
    }

to this if block
https://github.com/HabitRPG/habitica/blob/8da36bf27c62ba0397a6af2

[2020-05-05 14:14] #11910 closed, assigned to nobody

[2020-05-05 14:27] evolve2k commented on #9489
Thank you greatly for your detailed response @paglias.

I think as an interim if you could renable exportUserAvatarHtml that would be very useful.

Right now for what I want to build, without the ability to show the users avatar it's really not worth doing, so for the sake of your API ecosystem, having some way to get to the avatar at least gives us a way to keep moving.

With the html output, it

[2020-05-05 14:46] paglias commented on #9489
We're happy to accept a PR that restores the old functionality but uncommenting the code won't be enough as it wasn't already working. Also the avatar rendering code is available here https://github.com/HabitRPG/habitica/blob/develop/website/client/src/components/avatar.vue in case you want to re-use it in a separate project fetching the data with the API. I know that for example the chat extensio

[2020-05-05 15:16] paglias commented on #10605
I just tried to replicate the issue with a 3 month Paypal test plan but it worked flawlessy.

That being said I'll merge the PR so we have an extra edge case covered

[2020-05-05 16:52] #6488 closed, assigned to nobody

[2020-05-05 16:52] #8590 closed, assigned to nobody

[2020-05-05 17:16] fmaximus commented on #11828
I think I found the issue.
I'll do some tests, and if I'm right I'll create a PR

[2020-05-05 19:51] shanaqui commented on #11946
@kareenf No worries, I'll do that now. :) You can always let us know if you want to pick it up again later.

[2020-05-05 19:52] shanaqui commented on #11520
I'm setting this back to help wanted. :)

[2020-05-05 19:55] shanaqui commented on #1703
Hi @alecbrick, are you still working on this one? :) If I don't hear back, I'll set this back to "help wanted" in about a week.

[2020-05-05 20:28] benkelaar commented on #11520
@shanaqui OK I'll pick it up then. I thought it might be quite hard, but I think I just now thought of a solution that leverages the work I already did for the code blocks. So should be doable.

[2020-05-06 00:52] Danili5 opened #12175 "Why does it show this type of messages?"
Why does the program need to show, that someone found zero of something?
![Capture213](https://user-images.githubusercontent.com/54007091/81129444-f10f2280-8f09-11ea-9742-2f4c44369583.PNG)

[2020-05-06 03:21] Alys commented on #12175
We actually have a couple of guilds within Habitica for reporting problems and asking questions. :) For questions like this, the best place is the [Habitica Help: Ask a Question](https://habitica.com/groups/guild/5481ccf3-5d2d-48a9-a871-70a7380cee5a) guild, which you can reach through Help > Ask a Question from the website's menu. For bug reports, Help > Report a Bug will direct you to the bug gui

[2020-05-06 03:21] #12175 closed, assigned to nobody

[2020-05-06 09:23] fmaximus commented on #11764
The Up/Down arrows are part of Chrome's implementation of  `<input type="number" />`.
So besides showing a confirmation, I don't think there's much we can do.

[2020-05-06 12:17] paglias commented on #12123
This was fixed in https://github.com/HabitRPG/habitica/pull/12148

[2020-05-06 12:17] #12123 closed, assigned to nobody

[2020-05-06 12:20] paglias commented on #10011
Is this still in progress?

[2020-05-06 12:21] paglias commented on #10938
Is this still in progress?

[2020-05-06 14:49] negue commented on #10011
Not currently, no

[2020-05-06 16:47] paglias commented on #9501
This is now live

[2020-05-06 16:47] #9501 closed, assigned to phillipthelen

[2020-05-07 00:58] citrusella commented on #9476
Is the code in question supposed to be added to `habitica/website/client/src/assets/scss/markdown.scss` to get the blockquote to look right in chat posts? It doesn't appear to work on that front, because chat posts aren't given the markdown class. It seems like it could work if added to `habitica/website/client/src/assets/scss/typography.scss` but I don't actually know because I haven't tested it.

[2020-05-07 03:49] Alys commented on #9476
@citrusella Thank you! I've marked it as in progress for you.

[2020-05-07 09:52] Alys commented on #11831
I've marked this as in progress for @terminalstderr (https://github.com/HabitRPG/habitica/pull/11858#issuecomment-625000973)

[2020-05-07 09:56] Alys commented on #11950
@ajeffrey Thank you! I've marked this as in progress for you.

[2020-05-07 12:34] shanaqui opened #12178 "Bolding text inside a link on a task causes new tab to open with link + task to open for editing"
Reported by JohnJSal:

I've tested this out in Firefox, and it turns out it only happens with that specific format; the bolding needs to be inside the link. This would be fine:

[2020-05-07 12:38] shanaqui commented on #10225
User in RaB reports it on Chrome as well: Win 10, Chrome 79.0 (32 bit), 1920x1080

[2020-05-07 12:54] shanaqui commented on #12018
Hi @nathanzhu144, are you still interested in looking at this issue? If not, we'd love to hear about anything you found to help us decide on the status and what might have gone wrong!

[2020-05-07 14:41] paglias commented on #8663
Is this still wanted given the new onboarding achievements @Tressley ?

[2020-05-07 14:42] paglias commented on #12096
I think this has been fixed but reopen if it's not

[2020-05-07 14:42] #12096 closed, assigned to nobody

[2020-05-07 16:53] nathanzhu144 commented on #12018
@shanaqui I tried reproducing the error, and I was unable to really get much out of this one.  I don't know if we have sufficient conditions to reproduce the bug right now?

[2020-05-07 18:12] fmaximus commented on #12178
The edit task ignores the click then the element clicked on is a link.
In the first case @shanaqui mentions,
there will be a `<strong>` element inside the `<a>`,
thus not ignoring the click.

https://github.com/HabitRPG/habitica/blob/db0009ebad323bf51dbdeaf4a03c883c8a163442/website/client/src/components/tasks/task.vue#L976-L982

One option would be to move up the parent hierarchy up until the task

[2020-05-07 19:15] shanaqui commented on #12018
I think that's why it was marked as "needs investigation" and wasn't tagged as "help wanted". :) Good to know you didn't find anything!

[2020-05-07 20:32] paglias commented on #12178
pinging @Tressley , I'm slightly worried that if we let the click open the link and not the edit modal we might risk people getting confused with tasks that only have links in their name / description since then the only way to edit them would be to use the 3 dots menu

[2020-05-07 20:54] shanaqui commented on #12178
Hmm. You don't need to click on the text of a task to open the editing modal -- e.g. clicking anywhere in the yellow-highlighted bit works for me:

![image](https://user-images.githubusercontent.com/8144640/81343149-56027e00-90ac-11ea-8cc8-1cec6d108df2.png)

The current longstanding behaviour is not to open the modal. I have all my guilds all linked in a reward so I can easily jump to them, and it

[2020-05-08 09:23] fmaximus commented on #12040
In the screenshot, the eggs are sorted by *quantity*, so it makes sense that it will move to a lower position if an egg is used.

[2020-05-08 09:34] Alys commented on #12040
That's true, but it's disconcerting and annoying if you''re still trying to use that particular type of item (e.g., if you want to hatch several pets with the same type of egg). Perhaps it would be better the items didn't change order at all while you were looking at the page. They could reorder themself each time you reloaded the page, or synced, or went to another page then back again.

I'm labe

[2020-05-08 09:36] shanaqui commented on #12040
I agree.

[2020-05-08 14:41] fmaximus commented on #12155
One thing I'm trying to understand w.r.t. https://github.com/HabitRPG/habitica/tree/develop/website/client/src/libs/store/content
If content and constants are static and never change, why are they kept inside state?

[2020-05-08 20:58] paglias commented on #12155
@fmaximus good question, if you see the way it's defined here https://github.com/HabitRPG/habitica/blob/develop/website/client/src/store/index.js#L96 it's called with the `deepFreeze` funnction which uses `Object.freeze` to "freeze" the object so that it's not made reactive by Vue. I agree it's a bit confusing but this way it can be used inside components' data or computed properties without it be

[2020-05-08 21:03] paglias commented on #12155
Looks like the freezing was introduced in this PR https://github.com/HabitRPG/habitica/pull/8426 for performance reasons and I was wrong in my previous comment, when frozen it applies also to the original `common.content` object not just to `store.state.common.coment`. So I guess we could try to remove it from the state but still freeze it for perf reasons

[2020-05-08 23:45] josharmenta opened #12180 "WatchOS?"
Is anyone working on a watchOS integration? If not I can try to make a bit of time for one.

[2020-05-09 03:50] Alys commented on #12180
Drop in to the [Aspiring Comrades](https://habitica.com/groups/guild/2ff9822b-27f2-4774-98da-db349b57a38e) guild and ask there! :) That's where third-party developers hang out so if anyone's working on one, they're likely to be there. There's also information in the guild's description that's likely to help, and you can ask questions there if you run into any trouble! Thanks for offering!

[2020-05-09 03:50] #12180 closed, assigned to nobody

[2020-05-09 09:50] shanaqui opened #12181 "Searching party members via "View Party" in header fails ("unhandled promise rejection")"
From Report a Bug:

Confirmed in Chrome and Firefox; here's a dump of my console log:

To reproduce: click on "view party" in the header, type a couple of letters into the search bar.

[2020-05-09 09:59] paglias commented on #12181
I'll tackle this in #12179

[2020-05-09 16:00] #12151 closed, assigned to nobody

[2020-05-09 16:26] cvuorinen opened #12182 "Stuck on modal on mobile browser: User Profile / Stats / Achievements has no close button"
[//]: # (Before logging this issue, please post to the Report a Bug guild from the Habitica website's Help menu. Most bugs can be handled quickly there. If a GitHub issue is needed, you will be advised of that by a moderator or staff member -- a player with a dark blue or purple name. It is recommended that you don't create a new issue unless advised to.)

[//]: # (Bugs in the mobile apps can also

[2020-05-09 16:29] cvuorinen commented on #12182
And the layout of top part of the profile modal is also quite broken on mobile, but I guess that's a separate issue. Anyway, I can make a PR for this if you think it's a good idea.

[2020-05-09 16:51] cvuorinen commented on #12122
I can take a look at this. Any pointers how to award a contributor tier on the local install to test it?

[2020-05-09 17:37] #10924 closed, assigned to nobody

[2020-05-09 17:37] #11520 closed, assigned to nobody

[2020-05-09 17:38] paglias commented on #12182
Thanks for the report, pinging @Tressley in case we have something planned for the mobile website

[2020-05-09 20:02] #12122 closed, assigned to nobody

[2020-05-10 02:21] Alys commented on #12182
Confirmed on Firefox on Android.

There's also no close button on the website on a PC - you have to hit "ESC" which is good for people who prefer keyboard navigation, less convenient for those who prefer mouse.

The User Profile > Stats / Achievements screen has the same issue. I'll add that to the issue title so we don't forget it.

Perhaps adding a "x" icon in the top right corner would be a sui

[2020-05-10 07:37] Alys commented on #11151
I've changed this issue to suggestion-discussion for the developer staff to comment on my thoughts below about the `dateRange` value.

The wrong date problem described for equipment in this issue is also happening now for the Waffle quest (which shouldn't be appearing any more but that's a separate issue that I've mentioned to the staff):

![image](https://user-images.githubusercontent.com/1495809

[2020-05-10 09:33] fmaximus commented on #11151
The dates used to be right in `shops-seasonal.config.js`

https://github.com/HabitRPG/habitica/blob/5d202c761721597563b8c90aa989798c584d3a9c/website/common/script/libs/shops-seasonal.config.js#L8

commit 671c90a593a1fd51f22d8bddb777f05f50c79b22 seems to have reverted them to the state before the spring event.

https://github.com/HabitRPG/habitica/blob/671c90a593a1fd51f22d8bddb777f05f50c79b22/websi

[2020-05-11 06:42] ianrandmckenzie opened #12194 "Gem Dupe Bug"
Hi there, I have found a gem dupe bug. I am not going to describe it here, but I'd like it to be known that my account [@ianrandmckenzie](https://habitica.com/profile/9bbf6561-a894-4c31-856e-eafe79f1ce8b) on the Habitica platform is in possession of duped gems that I have from both discovering the bug and figuring out the exact steps to replicate the process. Please send me a private message in th

[2020-05-11 06:58] ianrandmckenzie commented on #12194
Sorry, I made a mistake, it turns out I was just unknowingly siphoning my guild's gem funds. >.<

[2020-05-11 06:58] #12194 closed, assigned to nobody

[2020-05-11 08:14] shanaqui commented on #12194
In future, the best way to let us know about any kind of exploit would be to email us at admin@habitica.com. :)

[2020-05-11 09:29] benkelaar commented on #9871
If the cause of https://github.com/HabitRPG/habitica/issues/8500 and https://github.com/HabitRPG/habitica/issues/7645 is indeed unsync over multiple documents upgrading to MongoDB 4 and using a transaction would fix that as well.

[2020-05-11 12:38] paglias commented on #9871
@benkelaar in terms of client driver we should be ok as the current one used by mongoose indeed supports 4.0 (and 4.2 as well since it uses 3.5.7 https://github.com/Automattic/mongoose/blob/master/package.json#L24) but we should make sure the codebase doesn't use anything that got deprecated in 4.0 https://docs.mongodb.com/manual/release-notes/4.0-compatibility/ and ideally also 4.2 https://docs.m

[2020-05-11 13:53] Tressley commented on #12182
Unfortunately, we don't have a much time to focus to the mobile web experience at the moment, but we do have plans to make improvements in the future.

As for web in general, the default modal component should have a close icon as well as ESC to close. We'll probably need to refactor modals and then properly apply it where necessary. There are exceptions though -- task modals use a "cancel" button

[2020-05-11 13:58] Tressley commented on #12178
@paglias -- Yeah, I understand where you're coming from, but I think @shanaqui makes a good point. Additionally, in this use case, I think the link style on a task title changes the expected behavior when a user clicks. Clicking a link, even if it's the title, is expected to open a link. If the task title is only a link, there will be a difference in clicking to edit, but that's expected when supp