[2018-02-21 15:36] Ieahleen commented on #9460
The issue was closed 18 hours ago, that does not mean that the Fix arrived to the website, see this wiki page, the section on the Release Cycle: http://habitica.wikia.com/wiki/Using_Your_Local_Install_to_Modify_Habitica%27s_Website_and_API

[2018-02-21 15:41] Tressley commented on #9651
@seekheart -- Probably. In the mean time, the correct fix should be updating the margins to 6px (most users are at 1280 resolution) and ensuring that the first and last item in a row have their margins zeroed properly.

[2018-02-21 15:42] jenrit commented on #4092
It's not an issue.

Thanks,
Jen

On Tue, Feb 20, 2018 at 8:06 PM, lemoness <notifications@github.com> wrote:

[2018-02-21 15:54] majestic-owl448 commented on #6209
@lemoness : yes, this still happen, the dailies or todos can be due differently for the challenge creator and some participants depending on time zone differences

[2018-02-21 16:07] TheHollidayInn commented on #9480
I think I may have :P I haven't seen any reports of this issue on the email or bug guild.

[2018-02-21 16:07] TheHollidayInn commented on #9460
We have this fixed on our Staging site and will be pushing it live soon.

[2018-02-21 16:10] mattman71 commented on #9460
My bad! I didn't notice that the "SabreCat closed this in" status was linked to a commit. I just saw it was closed without further comment and started to panic. Carry on then, and thanks muchly for the fix I'm anxiously awaiting. :)

[2018-02-21 16:14] TheHollidayInn commented on #9651
@seekheart if you want, you can use media queries to set the breakpoints that Tressley has mentioned above. Be sure to convert the px to ems for responsive design though.

[2018-02-21 16:15] TheHollidayInn commented on #9460
No problem!

[2018-02-21 16:17] shanaqui opened #10031 "Make certain error messages click-to-dismiss instead of automatically disappearing"
After discussion with the staff and other mods, we decided it would be most useful if certain error messages generated a click-to-dismiss notification instead of the floating ones that quickly disappear. This would be useful both for people who read more slowly than others, and also improve accessibility for screenreaders by providing a static target to point at to get the text read out. It would

[2018-02-21 16:21] TheHollidayInn opened #10032 "Editing Profile Doesn't Save the First time"
**Reported from the Bug Guild**

After a refresh, when I edit the my profile in the about section the edit doesn't save. However, without refreshing or closing the modal, if I edit again, the save, the update does change.

[2018-02-21 16:24] TheHollidayInn opened #10033 "Stats over 3 digits overlap"
**From the Bug Build**

On the stats tab, in the stats section at the bottom, my intelligence is 5 characters long (105.5) and overlaps with the info on the right of the block in which it's contained, partially obscuring the other info.
See https://i.imgur.com/OmbbgcR.png

![s](https://i.imgur.com/OmbbgcR.png)

[2018-02-21 16:35] TheHollidayInn commented on #10020
I've seen reports of this and it may be related:

[code]

[2018-02-21 16:39] paglias commented on #10020
It seems to be a windows specific problem, I can't replicate it on mac but on windows it seems widespread

[2018-02-21 17:00] dknestaut commented on #10020
I just want to say that I'm using Linux and I am having this problem.

[2018-02-21 17:06] Feywood commented on #10016
Okay, from what I've seen so far, it seems that the copyastodomodal is used for parties, tavern and guilds and applies the same logic for each of these with the group ID.
So that gives two options, as far as I see it:
- create a separate modal for each location you can copy from
- add in an if structure that differentiates based on the group you're copying from with guilds retaining the current st

[2018-02-21 18:03] JoshSears commented on #8735
I had almost forgotten about the other part here.  I will revisit @TheHollidayInn 's lower level view, and have to review bluebird first, and will give this a shot after that.

[2018-02-21 18:09] Feywood commented on #9248
Ok I'll be honest, I forgot about this one. I mixed it up in my head with a different issue that'd been claimed by someone else before I got to and well.
Anyhow, I have now had a look and while I have managed to find where the async joinChallenge pushes the challenge onto joiners (in challengeDetail.vue), I don't yet see where this is happening for the creator/leader. Still looking, though.

[2018-02-21 19:52] lemoness commented on #10003
We're looking into this.

[2018-02-21 20:04] rkojima commented on #9861
@Alys @Tressley,

I wanted to add some JS logic so that the size of the buttons change the longer the text inside the button is. Where would I add that? Would it be sensible to add this code in the vue file that I'm currently working in, or should I create a new js file just for this function?

[2018-02-21 20:48] lemoness commented on #9480
Closing for now - we can reopen if this happens again!

[2018-02-21 20:48] #9480 closed, assigned to nobody

[2018-02-21 20:50] lemoness commented on #4092
Since this is a feature request, I'm closing this ticket, but we'll keep the idea in mind during future development!

[2018-02-21 20:50] #4092 closed, assigned to nobody

[2018-02-21 21:23] SabreCat opened #10035 "Debug inventory options not working"
[//]: # (Before logging this issue, please post to the Report a Bug guild from the Habitica website's Help menu. Most bugs can be handled quickly there. If a GitHub issue is needed, you will be advised of that by a moderator or staff member -- a player with a dark blue or purple name. It is recommended that you don't create a new issue unless advised to.)

[//]: # (Bugs in the mobile apps can also

[2018-02-21 22:38] JenniferMartin commented on #10021
The user who reported the issue to begin with. Since my user name on Github is different, I was letting you know (or trying to) that I was the same person, not a new person with the same issue.

[2018-02-21 22:58] Alys commented on #8337
Almost certainly. There's two separate database update commands when a user
joins a Challenge and if one fails the count will be different than the
actual number of participants.

[2018-02-21 22:59] jj8huang commented on #9935
Hi, sorry for the delay. I should hopefully be done by the end of this weekend!

[2018-02-21 23:01] Alys commented on #8126
Probably. If we don't yet have success/failure checking and  failed updates
being repeated, then this bug can still occur.

[2018-02-21 23:05] Alys commented on #8735
Thanks very much, Josh!
I'm not sure if we're still using bluebird. Might be worth checking before
making plans.

[2018-02-21 23:06] Alys commented on #9861
The vue file is probably the best place since this function will be used
only there (at least for now). Thank you!

[2018-02-22 00:13] Alys commented on #9582
I believe the staging site runs in production mode. It certainly doesn't have the debug menu which I think it one of the primary differences between production and development mode.

Yes, I waited for a sync before moving the second task.

For e2e tests, we could create an issue with a checklist of all the features that need them. There might be one already, in which case I'll add this feature - t

[2018-02-22 02:22] TheHollidayInn commented on #8126
Just a note on this, to fix we should do:
1. Remove duplicate data and sync with the challenge when we can
2. Move processing to a worker via a queue system. I have a Kafka PR out now that should help with this.

[2018-02-22 03:43] TheHollidayInn commented on #10016
I can't remember, but if we aren't already, you can just pass the full group object to the component. Then create a factory function called `generateUrl` does:
1. if group.type === guild, return guild url
2. if group.type === party, return party url
3. if group._id === TAVERN_ID (a constant you can import) return tavern url.

[2018-02-22 08:21] paglias commented on #8735
Yep, we're moving awafrom it soon but native promises shwork well

[2018-02-22 08:23] kartikadur commented on #9582
The current version of code uses a watcher to change the filter to 'due' or 'all' based on user preference on the setting page. So everytime the page loads (initial load and subsequent reloads) the filter reverts to the user selected default value. Ideally this should happen only on first load and not subsequent reloads. This could be done using lifecycle methods (beforeCreate, created, beforeMoun

[2018-02-22 10:20] Alys opened #10037 "decorations cover Featured Items label in Shops > Market when zoomed in"
In Shops > Market, if you have your browser zoomed in a couple of levels, (e.g., for people with poor eyesight), one of the Valentine heart decorations covers part of the "Featured Items" label.

![screenshot_2018-02-22_20-16-11](https://user-images.githubusercontent.com/1495809/36532712-39d1c2dc-180d-11e8-8cc3-1530100a9f9f.png)

I imagine we won't get a fix made fast enough to fix it for this yea

[2018-02-22 11:29] Alys commented on #8039
When we're ready for e2e tests to be written, @kartikadur has suggested that it be done for this Dailies sorting bug: https://github.com/HabitRPG/habitica/issues/9582#issuecomment-367226321

[2018-02-22 15:00] dmitrytorba commented on #10015
Hi, I can reproduce this locally.
If its OK, Id like to try fixing this bug

[2018-02-22 16:01] SabreCat commented on #9460
@mattman71 This one, an error 401, is fixed in production. You're seeing a similar but different issue, which is an error 400 -- #8127. You should be able to work around that issue by reloading the Settings page before attempting to register, though!

[2018-02-22 16:31] mattman71 commented on #9460
@SabreCat thanks. I think I've painted myself into a corner here and don't know how to get out. My previous failed attempts at this seem to have created another beginner account with my google email, so that now when I use the register button on the settings page (of my "real" account), it just takes me to the new/bogus account using my same email. I'm not sure how to get myself out of this corner

[2018-02-22 17:37] SabreCat commented on #9531
Would it be acceptable to temporarily turn off the "Onward!" modal until this is fixed? It's sort of superfluous anyway...

[2018-02-22 18:07] paglias commented on #10015
Sure @dmitrytorba !

[2018-02-22 20:16] Alys commented on #9460
@mattman71 you can delete the new account from the Settings page. I
recommend logging out, then logging in using the Google sign-in button,
then deleting it to be sure its really that account you are deleting.

[2018-02-22 21:41] Alys opened #10041 "hard to tell which Daily repeat days are ticked"
If a Daily has only some days selected, as in the screenshot below, it's hard to work out which day the tick marks apply to for any days except Sunday and Saturday. We had a bug report about this from someone whose Dailies were becoming due on the wrong days.

It would be clearer if the spacing on either side of the checkboxes wasn't equal (i.e., each checkbox was closer to its own label) or if so

[2018-02-22 21:57] Tressley commented on #10041
Trying to keep them all on one row doesn't make this any easier. They're 8px/16px margins respectively, but if that's causing visual confusion wrapping might be the better option.

[2018-02-22 22:12] TNychka commented on #10025
I can take this

[2018-02-22 22:13] TNychka commented on #10012
I can take this

[2018-02-22 22:15] TNychka commented on #10014
A simple temporary solution would to be changing the gold icon to the same thing as the habit streaks as below
![image](https://user-images.githubusercontent.com/8963665/36567250-d6dc4db4-17f3-11e8-991e-1c94517f1953.png)

[2018-02-22 22:25] Alys commented on #10025
@TNychka thannks!

[2018-02-22 22:26] Alys commented on #10012
@TNychka Thank you! Comment here if you have questions.

[2018-02-22 22:59] Alys commented on #8892
Not recently. The issue to stop a challenge creator automatically joining a challenge is being worked on, and that will remove some reports similar to this, making it easier to identify if this does occur for people other than the creator. I'm closing this for now but will reopen it once we have a new confirmed report of it.

[2018-02-22 22:59] #8892 closed, assigned to nobody

[2018-02-23 01:33] mattman71 commented on #9460
Thanks @Alys . I was able to delete the account and make a few rounds of very careful refreshes and such, and got my real account registered successfully with google.

Thanks to all who helped. Hope my validation helps for at least validating the fix with a real user (as opposed to a dev or tester, haha).

[2018-02-23 03:40] TNychka commented on #10025
Design question, should the higher tier equipment be hidden until unlocked? Or should we just make an error message

[2018-02-23 06:45] Mahendran-Nadesan commented on #10033
I'd like to work on this, but am not sure what the proper/preferred way of dealing with this is. I've not really looked at the codebase, and am not sure how long it would take to find a similar example. Could you point me in the correct direction? Should I look at the width of that div/container and conditionally set the font to something smaller? Or look for the length of that string and conditio

[2018-02-23 13:52] TheHollidayInn commented on #10033
That would be great! Let's ask our ux designer @Tressley to see what he thinks the solution should be.

[2018-02-23 13:58] Tressley commented on #10033
I would prefer we only do whole numbers for stats.

[2018-02-23 15:13] greenkeeper[bot] opened #10044 "Action required: Greenkeeper could not be activated 🚨"
🚨 You need to enable Continuous Integration on all branches of this repository. 🚨

To enable Greenkeeper, you need to make sure that a [commit status](https://help.github.com/articles/about-statuses/) is reported on all branches. This is required by Greenkeeper because it uses your CI build statuses to figure out when to notify you about breaking changes.

Since we didn’t receive a CI status on th

[2018-02-23 17:36] Mahendran-Nadesan commented on #10033
Rounding up or down? Presumably for display purposes only, with the unrounded stats used for actions/events?

[2018-02-23 19:18] rkojima commented on #9861
If I want to write tests for this, the folder I would go to is habitica -> test -> client -> unit -> specs -> components -> ??? Or if I need to create a new folder for it, what should I name it?

[2018-02-23 20:38] #10027 closed, assigned to nobody

[2018-02-24 00:02] Alys opened #10048 "equipment piece's stat screen should adapt to different language text lengths"
When using a language other than English, the fixed widths in the stat screen for an equipment piece can cause wrapping in the middle of words:

![Wahrnehmung line break](https://snag.gy/2T9xiM.jpg)

The fix could be that the boxes within the screen and the screen itself expand themselves to be big enough to contain whatever is in them, or they are given a fixed size that is certain to be large en

[2018-02-24 01:35] Alys commented on #9372
#9235 has been merged. @jnes92 are you still interested in working on caching? If so, we'd love your help!

[2018-02-24 01:42] Alys commented on #9978
I think we should go ahead with removing the drop-down menu in the edit screen. Even if it is desired, we can bring it back later at the same time that we fix whatever bug is causing it to not work. Removing it now is a quick fix that will prevent users being confused about it. I'm marking this as a good first issue since removing it will be easy.

[2018-02-24 01:48] Alys commented on #9955
Shall we go with the second option?

That seems like the way to end up with the neatest code. We could add the `official` flag to the list of things that will be removed in the next version of the API. @paglias

I'm marking this suggestion-discussion while we finalise this, but I'll put it back to help wanted in a few days if there's no objection (or sooner if there's agreement).

[2018-02-24 01:50] Alys commented on #9923
@paglias Do you still want this marked as "help wanted" or do you want to keep handling it? Or is it on hold until we upgrade libraries?

[2018-02-24 02:08] Alys commented on #9279
Point 2 from the initial post has been fixed elsewhere. I've edited the top post to cross that out, and also cross out point three that's now in its own high-priority issue.

[2018-02-24 02:16] Alys commented on #9280
This has been fixed for the Battle Gear side of the stats section in a user's profile (when you hover, you see the name and stats of each gear piece). All that should be needed to close this issue is for the same on-hover screen to appear on the Costume side, so I'm marking this as a good first issue.

(It might seem unnecessary to display the stats on the Costume side, but I think it's good to do

[2018-02-24 02:28] Alys commented on #9335
As an example to illustrate this, if an image is inserted into chat or a task with code like this:
`![alt text](https://github.com/adam-p/markdown-here/raw/master/src/common/images/icon48.png "Logo Title Text 1")`
then when you hover your mouse over the image, the words "Logo Title Text 1" should appear. If nothing is specified in the quote marks after the URL, then there should be no on-hover eff

[2018-02-24 02:29] Alys commented on #9501
@Tressley for designs

[2018-02-24 06:24] Alys commented on #10025
The higher gear should not be hidden. It should behave the same way as for a new user who has not yet bought any equipment - i.e., it should have a lock symbol and the on-hover text should say why it's locked, like this:

![screenshot_2018-02-24_16-23-42](https://user-images.githubusercontent.com/1495809/36626471-1484486a-197f-11e8-846a-b564420dacab.png)

[2018-02-24 06:28] Alys commented on #9753
This has been fixed at some time in the past. @Userbane I'm sorry your time on it was wasted!

[2018-02-24 06:36] Alys commented on #10033
The stats should be rounded down so that players don't expect to do more damage / have greater effects from skills than they are actually capable of having.

It's unfortunate that displaying a rounded number will make them think they do less damage / effects, but that's better than being disappointed if they think they'll do more.

You are correct that this is for display purposes only - no change

[2018-02-24 07:08] csgray commented on #9978
"OldeSword" here. I would like to claim this one as my first contribution. It'll take me a day or two to spin up the dev environment and review the code, but then I'll get started. This is also my first time contributing to an open source project, so I may have some questions there.

[2018-02-24 08:34] Alys commented on #9978
@csgray Thanks very much! Comment here if you have questions or run into trouble.

[2018-02-24 09:16] Mahendran-Nadesan commented on #10033
Alright. May I have this assigned to me?
My plan of action is to add a filter for the display - I've seen some examples of this in the existing code-base. Does that sound fine?

[2018-02-24 09:53] Alys commented on #10033
@Mahendran-Nadesan  It's yours, thanks! I'm not commenting on whether the filter is the best way though - I'm not sure either way. :)

[2018-02-24 10:44] paglias commented on #9861
[code]

is okay. the specific folder wil depende on where your functionality is added in website/client, if in a component then specs/components will work

[2018-02-24 11:11] kartikadur commented on #9582
@paglias @TheHollidayInn I seem to be hitting a snag with component unit testing, are there any issues to using `vue-test-utils` package as a dev-dependency? Or are there alternatives currently being used?

@alys I found that the problem was happening because of the watcher, which was resetting the task filter on each reload/sync instead of only setting it when the component is first created/loade

[2018-02-24 11:19] Alys opened #10049 "equipment does not become unpinned when purchased; next gear does not become pinned"
As posted by Kajakas (40e9985b-8acb-4110-aeb9-a5946a83a229) in the Report a Bug guild:

**When I buy a piece of class equipment, it stays pinned in the rewards column (and looks as if it's locked) while the next piece of equipment in the series does not automatically get pinned.**

I've confirmed that. If you reload, the bought item disappears and the next one becomes pinned, however the expected

[2018-02-24 11:22] paglias commented on #9582
@kartikadur you can add that package if it's useful! Just do `npm i vue-test-utils`and commit the changes to package.json and package-lock.json to your branch

[2018-02-24 11:50] Alys commented on #10031
As an example of how important this is, here's a message someone sent us by email after they'd been having trouble logging in:

"Problem solved. The little error message only stays on the screen for a couple of seconds. When I repeatedly tried to sign in incorrectly, I had time to read it all, and found out how to do it."

[2018-02-24 12:04] kartikadur commented on #9582
@paglias thanks

[2018-02-24 15:24] SabreCat commented on #9955
I do think that's the superior option of the two. Nice occasion to remove a tiny bit of data bloat.

[2018-02-24 16:14] TheHollidayInn commented on #9335
Is the markdown working at all?

[2018-02-25 00:04] jj8huang commented on #9935
Hi, I won't be able to finish it until next weekend (something came up) if it is urgent you can reassign it and I understand, but I should definitely be good next weekend! Sorry about the inconvenience.

[2018-02-25 01:54] Alys opened #10051 ""None" option appears twice for Hair Styles"
The "None" option appears twice on the Edit Avatar > Hair > Style screen. It's trivial to fix but which option is meant to be there - the one on the first row or the one on the row of free styles? @Tressley

![screenshot_2018-02-25_11-53-04](https://user-images.githubusercontent.com/1495809/36637195-794fb538-1a22-11e8-995a-7f642879cc43.png)

[2018-02-25 03:21] TheHollidayInn commented on #10051
This is correct. I believe, because you can have both the top hair style and the pony tail lower options equipped. They were pushed together during the redesign via feedback, but we may have a better way to designate the difference now.

[2018-02-25 03:41] Alys commented on #10051
At the moment you can select only one item from that screen. Each of them becomes equipped at `preferences.hair.base` which holds a single integer. The two "none" options perform the same action to unequip any of those styles:
https://github.com/HabitRPG/habitica/blob/d5e4be85e991740e6ec622c41f7c38a307b802ea/website/client/components/creatorIntro.vue#L117
https://github.com/HabitRPG/habitica/blob/

[2018-02-25 05:59] ghost commented on #9957
Hey, just an update on my progress.

Has been a bit slow due to the amount of strings to check and I've just started a new job in the last few weeks. Still working on this though and hope to have something ready to go soon.

Cheers

[2018-02-25 06:27] jyotman commented on #9244
@lemoness  Hi, sorry for wasting time but I won't be able to work on this. Setting up the required environment is making me do some changes with my Node.js and MongoDB versions that I can't as it messes up my existing projects. I tried running Habitica with these versions but wasn't able to. Please assign to someone else.

[2018-02-25 07:14] Alys commented on #9244
@jyotman No worries, and thanks for letting us know!

[2018-02-25 07:44] Alys commented on #9955
Cool, I've set this to help wanted and edited the original post to strike-through the option we don't want.

As a note to whomever works on this: **The `official` field in the challenge schema should not be deleted because that would be a breaking change to the API. Instead it should just be ignored in the code. There's no need for us to remove the value of the flag from any existing challenges.**

[2018-02-25 07:46] Alys commented on #9335
Yes, the image appears correctly and the alt text is applied (visible if you examine the HTML source). The only change needed is for the title text to appear on hover.

[2018-02-25 10:50] paglias commented on #9335
If the alt text is applied in the source there should be nothing more to do. It's the browser's role to implement showing that alt title. Which browser are we talking about?

[2018-02-25 11:24] Alys commented on #9335
No, this issue is for the title text, not the alt text. The title text is the part that optionally appears after the URL in the markdown link ("Logo Title Text 1" in the example above). It serves a different purpose than the alt text and is meant to be handled in a different way. The alt text is what appears when the image can't be displayed (e.g., the user is browsing with images off). The title

[2018-02-25 11:35] Alys commented on #9242
From Il Mago Discorato (c073342f-4a65-4a13-9ffd-9e7fa5410d6b) in the Report a Bug guild:

"when using a notification to enter a guild often the notifications don't disappear on loading the guild, most times they disappear when I open the next notification, this time also the new notification I clicked disappear... or the notifications disappear on the next sync after I opened the guild."

[2018-02-25 15:04] #10003 closed, assigned to TheHollidayInn

[2018-02-25 20:28] paglias commented on #9242
The bug is gone for more active guilds which have most avatars cached in the messages, for guilds with less activity you'll have to wait until most messages use cached avatars, then the bug will fix itself

[2018-02-25 20:29] paglias commented on #9923
I'm making it help wanted but at this point I'm pretty sure it's caused in a bug in a library, not in our code

[2018-02-25 20:31] paglias commented on #10020
Still can't replicate on mac, @TheHollidayInn and @SabreCat can you test on windows?

[2018-02-25 20:32] #10044 closed, assigned to nobody

[2018-02-26 08:07] jnes92 commented on #9372
@Alys Yes, I would like to work on this one ! Thanks for notifying me. I will start it on the next weekend 👍

[2018-02-26 08:14] plinnie opened #10054 "Website down, app does not connect"
Website is down, can't connect with App

Website message:

[2018-02-26 08:14] plinnie commented on #10054
Well, now it works again. Sorry.

[2018-02-26 08:14] #10054 closed, assigned to nobody

[2018-02-26 09:22] Alys opened #10055 "FAQ: make sub-sections linkable, adjust cursor"
Two unrelated changes for the FAQ:

1. On the old website, the sections in the FAQ could be linked to individually, which was very useful when pointing new players at the specific information they needed. It would be good if that could be done again.

2. As reported by Shadow53 (aa21c230-34a1-44e6-92ea-07a5c46cf516): "On the static FAQ, the CSS should be modified to include the following:
`.faq-qu

[2018-02-26 10:28] Alys opened #10057 "Inventory > Equipment filter checkboxes should be clickable"
As reported in the Report a Bug guild by Poirot (699974bb-7b8f-435b-8152-06a502ebe37e)

"Equipment: unchecking the filter boxes at the left side doesn't work, reload doesn't fix it. It doesn't matter if costume mode or actual equipment is chosen. It works though when it is sorted by class and not by type."

I've confirmed this. When you click on a checkbox, it doesn't become unticked, unless you c

[2018-02-26 10:41] Alys commented on #9986
There's a report below from Anysia (db190b28-8ce5-422e-8076-d43a62a7b204) that I _think_ might be related to this issue (possibly a modal opened itself with incorrect data in it). I can't reproduce this so I'm copying it here to record it and we can investigate it if it's still happening after the PR for this issue goes live. @someoneigna You can ignore this for now. I'm just using this issue to t

[2018-02-26 10:54] Alys commented on #10054
No worries. :) Thanks for letting us know! The staff restarted the server, which fixed the problem.

[2018-02-26 15:57] mbroshi commented on #10021
This is reproducible on Linux Firefox as well. I have to click the Up/Down button in the modal, but like @JenniferMartin my page freezes for a long time. When I run `top` in a terminal, I see that "Web Content" (which is the Firefox process) is pegging CPU to 100%.

I can also recreate this same behavior in Tasks > Edit Tasks > Click in New Tag: CPU gets pegged to 100% and page is unresponsive.

T

[2018-02-26 21:25] lemoness commented on #9935
@jj8huang Thank you for letting us know! I'll mark this as help wanted now, but you are welcome to reclaim in the future if nobody else does.

[2018-02-26 21:30] Mahendran-Nadesan commented on #10033
I've made a modification that achieves the desired aim, but I'd like to ask about the conventions that are used in this project. I am using a filter called 'wholeNum' and I have put it in profile.vue, as an export:
[code]
Is this an appropriate place to keep this function? Which, is really just returning `` Math.floor(value)``

[2018-02-26 21:55] snowsignal commented on #10055
I could work on this. For the first point, should make it so the website code automatically expands that section when a link to that specific section is opened?

[2018-02-26 23:18] Alys commented on #9242
We've had a report  (below) of this for the Report a Bug guild itself, where messages go back to only 2018-02-21 17:39 UTC, which is after the caching feature was released 17 days ago. I.e., all messages have avatars cached.

Sevastra The Jester (845ef24d-7aa8-4e41-b2e2-2060781ea90d):

"It just happened again right here in this guild -- https://habitica.com/groups/guild/a29da26b-37de-4a71-b0c6-48e

[2018-02-26 23:22] Alys commented on #9242
Actually, they also added something else that I didn't include there because I thought it was a separate thing, but it just occurred to me that it could well be related:

".... (please excuse my ignorance of the correct terminology…) and no more serious than the notification message errors? (The notification errors appear even when I only have one tab open, so it's not a multiple-tabs sync thing…

[2018-02-27 14:42] Hus274 commented on #10049
I'd like to work on this if possible

[2018-02-27 19:22] paglias commented on #9242
The errors come from the fact that the notifications are read correctly on the server but the client remains out of sync due to a race condition, a sync (or any other request) will fix the count

[2018-02-27 20:12] paglias commented on #10033
@Mahendran-Nadesan you should add your filter to website/client/filter but it looks like we already have a floor filter, although it might be different from this one, and then register it in registerGlobals, then you'll be able to use it everywhere

[2018-02-27 20:17] paglias commented on #9952
I'm going to prevent the notification being added to users with no class selected

[2018-02-27 20:53] paglias commented on #4819
@Alys has this been fixed?

[2018-02-27 20:56] paglias commented on #9335
Ah okay, this is then a problem with the mardown library we're using, will see if there's an option to enable it

[2018-02-27 20:59] paglias commented on #10031
@Tressley is this okay for you?

[2018-02-27 21:02] #9952 closed, assigned to nobody

[2018-02-27 21:24] #10057 closed, assigned to nobody

[2018-02-27 21:38] Tressley commented on #10031
I'm fine with the snacks sticking around for longer when a user is logged in. I would prefer different validation for the registration and login pages.

[2018-02-27 21:43] Alys commented on #10049
@Hus274 Thanks! That would be great!

[2018-02-27 21:47] Alys commented on #10031
Tressley can you tell us what different validation you're asking for when
the user is not logged in?

[2018-02-27 22:19] Mahendran-Nadesan commented on #10033
Ah, alright. I had seen those filters, but had not gotten my new filter to work there because I hadn't looked at the registerGlobals file. FYI, it is a different floor function, so I will add it. Thanks for the info @paglias

[2018-02-27 22:32] Tressley commented on #10031
Sure! I would prefer something along these lines.

![image](https://user-images.githubusercontent.com/2686586/36759070-3c2f6df6-1be4-11e8-9a88-2b8b3154eacc.png)

[2018-02-28 01:39] TheHollidayInn opened #10065 "Quest collected items displays twice"
From the bug guild, the collected items is showing twice. The UI looks as if you have collected items for a particular type, but it is incorrect.
![2d76gqw](https://user-images.githubusercontent.com/1253400/36765250-e4d3fb8c-1bf5-11e8-8d9d-36674256683e.jpg)

Relevant code is here:
https://github.com/HabitRPG/habitica/blob/791d711298d5cd4a6633c539448ab040bc8fc746/website/client/components/groups/qu

[2018-02-28 02:41] lemoness opened #10066 "Add Completion Text to Older Quests"
Some of the older quest-lines lacked completion text, with their endings instead chaining into the beginning of the following quest. I've gone through and written some short completion text sentences for those quests. In some cases, the main quest text also needs some small edits.

The following changes should be made:

atom1 (Attack of the Mundane, Part 1: Dish Disaster!)

Completion Text: After

[2018-02-28 02:55] Alys commented on #10066
As a note to whomever works on this, when you add new strings, put them next to the existing strings for the same quest to keep all the related texts together.

[2018-02-28 11:22] probaton commented on #10037
This has been bugging me too so I wanna fix it! If I understand correctly I'm supposed to leave a comment here before doing so? Which I'm doing. Because this is a comment. And I'm leaving it here.

Also, I secretly already have a fix for this (it's only one line of css), so say the word and I'll create a PR.

[2018-02-28 11:36] probaton commented on #10037
Ok, so maybe I was impatient and already pushed the request. My most sincere apologies for scoffing at your eminently sensible guidelines.

If the timing is inopportune feel free to scrap the request; it was only a small fix anyway and I can always re-implement it if it's conflicting with more important work.

[2018-02-28 12:33] Alys opened #10068 "quest scroll should not be lost when leaving a solo party by invitation to another"
If you are in a solo party (i.e., only yourself in the party) and you are on a quest, if you accept a party invitation from another player, you are immediately removed from your party and you lose the quest. You don't regain the quest scroll.

The desired behaviour is that when you try to accept the party invitation, you see a message like the one below. The party invitation should be neither acce

[2018-02-28 12:48] Alys commented on #10068
This should be implemented in the API so that you can't accidentally lose the quest no matter what platform you're using.

[2018-02-28 14:40] Alys opened #10069 "limit chat message flagging ability for new players"
Currently, when a player clicks the report button on a chat message to flag it for moderators' attention, the message's `flagCount` is increased by 1:
https://github.com/HabitRPG/habitica/blob/d5e4be85e991740e6ec622c41f7c38a307b802ea/website/server/libs/chatReporting/groupChatReporter.js#L81

We don't want that to happen if the player's account is less than three days old. I.e., the flagCount shou

[2018-02-28 14:45] kawunngg commented on #9248
is this still wip? i noticed as a creator i'm "in the challenge", but without having the tasks in my list. i guess this is so i have the challenge in the "my challenges"-list. if i want to participate in the challenge myself i have to first leave and then rejoin to get the tasks into my list which is a bit annoying too...

[2018-02-28 14:57] shanaqui commented on #9248
It's still in progress, @Feywood hasn't pushed anything yet; the no tasks thing isn't her solution. You might want to actually report it in Report a Bug. The end idea is that the creator will create the challenge and there will be no participants as a default; the creator can then join like anyone else.

[2018-02-28 16:37] Hus274 commented on #9955
I can take a look into this.

[2018-02-28 21:23] lemoness commented on #9863
Can this ticket be closed?

[2018-02-28 21:27] mbroshi commented on #9986
This reproduces for me as follows
1. I'm on Tasks page
2. There's a new Bailey message
3. Click Dismiss
4. Edit an existing task
5. Click Save
Bailey announcement reappears.

[2018-02-28 21:30] lemoness opened #10071 "Can't edit profile in Firefox"
In Firefox but not Safari, when you click to edit your profile it completely freezes up, and you cannot edit any of the text fields or click the Save/Cancel buttons. This issue is not solved by refreshing.

[2018-02-28 21:33] lemoness commented on #10021
This may be related: https://github.com/HabitRPG/habitica/issues/10071

[2018-02-28 21:33] lemoness commented on #10020
This may be related: https://github.com/HabitRPG/habitica/issues/10071

[2018-02-28 21:35] lemoness commented on #10020
I am able to replicate freezing on Mac with both the Guild search bar (Discover Guilds, not My Guilds) and tasks page search bar.

[2018-02-28 21:37] lemoness commented on #10021
I am able to replicate this on my Mac.

[2018-02-28 22:08] TheHollidayInn opened #10072 "Google OAuth Sometimes fails on Edge"
**From the Bug Guild**

UserID: 7d97ff88-80b2-4fd6-bb6b-273f2e7c84b7
As far as I can tell, this bug hasn't been reported on the Login issues page. I occasionally use the Edge browser on Windows 10, and it appears that if a user has signed up for a Habitica account through Gmail OAuthentication, the login token is never sent to the initial page. After selecting my google account, the OAuth window c

[2018-02-28 22:24] lemoness opened #10073 "Mod Tool: Block/mute button directly in user profiles"
Right now, users who are problematic can only be blocked or muted via the Hall of Heroes, which takes a lot of time. Usually this is okay, but sometimes there are situations of urgency where we need to  move as quickly as possible to protect the community.  In those situations, it would be helpful to have a block/mute button in the profile box. This button should ONLY be visible to moderators and

[2018-03-01 04:35] rkojima commented on #9861
hmm I was updating my local install and ran into some trouble with npm install. Here's the error:
https://gist.github.com/rkojima/c87bc894f8109d071682a3187046a9de

[2018-03-01 07:15] EthanEFung commented on #10066
I can take this one. Looking to make my first contribution to Habitica.

[2018-03-01 08:35] probaton opened #10076 "Background overview could use some work"
[//]: # (Before logging this issue, please post to the Report a Bug guild from the Habitica website's Help menu. Most bugs can be handled quickly there. If a GitHub issue is needed, you will be advised of that by a moderator or staff member -- a player with a dark blue or purple name. It is recommended that you don't create a new issue unless advised to.)

[//]: # (Bugs in the mobile apps can also

[2018-03-01 08:37] probaton commented on #10076
I will shamelessly admit that I submitted this issue solely because I really want to take a stab at fixing it!

[2018-03-01 09:28] probaton commented on #10076
Preliminary improvements.
![image](https://user-images.githubusercontent.com/13566991/36836911-fe87b46a-1d3a-11e8-95e3-13082f8553de.png)

[2018-03-01 10:41] Alys opened #10077 "inventory selected item should not be offset when selecting one item after another"
_The bug report below was posted by LeonZaLion (d4a926a7-9b69-4f50-aa0c-48c5d7afdb56) in the Report a Bug guild. I've confirmed it on Firefox on Linux._

In your inventory under items, when selecting on item and having it in your hand, and selecting another item of the same type (e.g. grabbing a base potion and selecting a desert potion without deselecting the base potion) will cause the image of

[2018-03-01 10:43] Alys commented on #9275
From Il Mago Discorato (c073342f-4a65-4a13-9ffd-9e7fa5410d6b) in the Report a Bug guild:

"This Fix was partially effective, it is now possible to create a trivial task, but it is still not possible to edit one, the error "validation error" appears"

[2018-03-01 13:42] paglias commented on #10076
cc @Tressley

[2018-03-01 15:27] citrusella commented on #10071
I feel the need to note this doesn't happen in the ESR version of Firefox (52.6.0), which presumably means it only happens in the "standard" version (or more accurately, versions post-58 or whatever that update channel is on now, probably).

(I also don't have the related/referenced issues.)

[2018-03-01 15:48] Hus274 commented on #9969
`sigh` well I successfully managed to make the website eat my gems trying to just see what's happening here. It looks like the gems are automatically charged when the button is clicked to change class, not when the change class actually happens.

Also it looks like there's some weird behavior here where you can click the change class button for 3 gems and then opt out and then can opt back in for

[2018-03-01 15:59] SceptileKrash commented on #10077
Fixed it

[2018-03-01 16:05] Hus274 commented on #9969
As a note, it appears you can do the above steps with other modals. It also works with the `Fix Character Values` in place of clicking `Show Bailey`.

[2018-03-01 16:37] shanaqui commented on #9969
Mods/admin can replace gems, if you give us your user ID. :)

[2018-03-01 16:41] Hus274 commented on #9969
You guys are the best! :)
2a4d30ee-4833-420e-be7c-ad6a6e261c5f

[2018-03-01 16:48] shanaqui commented on #9969
How many times did you lose gems? Just the once, or did you try a couple of times?

[2018-03-01 16:49] Hus274 commented on #9969
Just the once, it was only three gems.

[2018-03-01 16:51] shanaqui commented on #9969
Done, with a couple of extra to thank you for the extensive testing there! :)

[2018-03-01 18:27] TheHollidayInn commented on #9969
I believe I have a fix for this. Pushing soon.

[2018-03-01 19:10] Hus274 commented on #10073
I can take a look into this.

[2018-03-01 19:30] EthanEFung commented on #10066
@lemoness @Alys

[2018-03-01 19:41] lemoness commented on #10066
@EthanEFung Wonderful! Let us know if you have any questions.

I've updated the labels on this ticket.

[2018-03-01 19:59] lemoness commented on #10073
@Hus274 Thanks so much! Let us know if you have any questions.

I've updated the labels on this ticket.

[2018-03-01 22:34] Alys commented on #10020
I expect this will also be fixed by the fix for this issue but just in case it becomes relevant later:

Blaine Brubaker (c1ab1b33-09ee-4c94-920a-01aa58bb4541): "Whenever I click the "Tags" drop-down to sort my To-Dos by tag, the whole web page freezes and does not fix itself with a refresh of the page. I have to exit out of my browser (Firefox) to get Habitica to work again."

I've asked them to r

[2018-03-02 00:45] rkojima commented on #9861
So after fetching and rebasing to the latest develop branch, I'm running into problems with the node module node-rdkafka. I have this error that's on this page:
https://github.com/Blizzard/node-rdkafka/issues/178
And the solution says that I need to set and link some flags for openssl. Can someone tell me how I do this?

[2018-03-02 04:35] leonsilicon commented on #9936
I've noticed that if you try to start a quest that you aren't allowed to and immediately click outside the quest pop-up area, you will see a message telling you the requirements for the quest. I think the bug is the fact that the message doesn't appear when the quest screen is active – but rather beneath the screen, obscuring its view from the user.
Screen Recording:
https://drive.google.com/open?

[2018-03-02 13:10] Alys opened #10083 "quest completion modal reappears if you click the "x" button to close"
When your party finishes a quest and you see the quest completion modal, if you click the "x" button on the top right corner, the screen closes but then comes back again as soon as you take another action on the site. Reloading doesn't stop it so this isn't an example of the common bug where modals reappear inappropriately. Instead, it seems that the "x" button doesn't clear your `party.quest.comp

[2018-03-02 14:26] probaton commented on #9279
I fieks! I was just going to check out how hard this was to do and then accidentally fixed it while I was debugging.

[2018-03-02 14:52] Tressley commented on #10076
@probaton -- Thanks for taking a stab at this! I like the direction you're heading and think that this is great start. My only feedback is to remove the box-shadow from the gray containers and update the padding-bottom for a set you can no longer purchase.

Here's a mock-up to give you a better idea:

![image](https://user-images.githubusercontent.com/2686586/36904701-7444f3d8-1dff-11e8-83ee-720c5

[2018-03-02 16:35] Hus274 commented on #9461
I can look into this.

[2018-03-02 18:28] EthanEFung commented on #10069
@Alys - New contributor here, and just submitted my first PR.
I'm considering taking this ticket, but I wanted to get an okay if you feel this might be more suited for a dev who is more familiar with the repository.

[2018-03-02 18:45] Hus274 commented on #10083
I can look at this.

[2018-03-02 19:02] TheHollidayInn commented on #10071
This should be fixed on prod now. Feel free to open if we get more reports.

[2018-03-02 19:02] #10071 closed, assigned to nobody

[2018-03-02 19:03] TheHollidayInn commented on #10020
This should be fixed on prod now. Feel free to open if we get more reports.

[2018-03-02 19:03] #10020 closed, assigned to nobody

[2018-03-02 19:07] TheHollidayInn commented on #10021
This should be fixed on prod now. Feel free to open if we get more reports.

[2018-03-02 19:07] #10021 closed, assigned to nobody

[2018-03-02 19:43] #9393 closed, assigned to nobody

[2018-03-02 19:43] #9969 closed, assigned to nobody

[2018-03-02 20:55] Alys commented on #9279
labels updated :)

[2018-03-02 20:56] Alys commented on #9461
@Hus274 Thanks! Labels updated.

[2018-03-02 21:07] #8127 closed, assigned to TheHollidayInn

[2018-03-02 21:12] TheHollidayInn commented on #9531
Looking at this issue now and the behavior is correct with our "Stack".  Because the hack modal goes to the hatched modal, when you dismiss the hatched modal, all modals are assumed to go backwards, and it does. So, we need to make an exception for this modal in our stack. We've done something similar for purchasing transformations.

[2018-03-02 21:30] #9243 closed, assigned to nobody

[2018-03-02 21:30] #9491 closed, assigned to nobody

[2018-03-02 21:41] Alys commented on #10069
@EthanEFung I think this should be okay for you! The code changes should be pretty easy and if you can't find anything you need, you can ask us here. This a good issue for starting to get familiar with the code base.

The date that the user created their account is stored in their user document in `auth.timestamps.created` (it's in the UTC time zone so you won't need to do any time zone conversion

[2018-03-02 21:46] Alys commented on #9461
As a note to admins: When the fix for this goes live to production (not just staging), we should search the users to find all those who completed all mmasterclasses quests and give the achievement to any that don't have it yet. I've marked this "notify helpers" to remind me to do something about it after it's closed.

[2018-03-02 21:50] Alys commented on #10083
@Hus274 Thanks!

[2018-03-03 00:04] Hus274 commented on #10083
So it looks like there are a couple of ways the user can leave the modal without clicking the OK button. The main ones being, clicking off the modal, clicking the `x` in the upper right hand corner, and clicking the escape key.

Should all of these acknowledge the message? Would it be better to simply remove the ability to dismiss the modal without the ok button?

[2018-03-03 00:18] EthanEFung commented on #10069
Thanks @Alys ! I'll let you know if I have questions moving forward

[2018-03-03 00:26] Hus274 commented on #10083
As a note, when I say remove, I mean the `x` button will go away and escape won't remove the modal.

[2018-03-03 00:31] Alys opened #10087 "clearing a tag filter does not show all tasks (Chrome)"
This was reported by donotgogentle🌼🌷🌻 (65be576c-c412-41c7-a31f-94994c8c4fc6) in the Report a Bug guild. I haven't seen other reports yet but will record them here if I do.

On the website in Chrome, when donotgogentle🌼🌷🌻 selects a tag, they correctly see the tasks that have that tag assigned to it, but then when they deselect the tag, about 10% of the time they then see no tasks at all. Before usi

[2018-03-03 00:38] EthanEFung commented on #10069
Actually @Alys, I do have a question. When running my local version of the site, I can usually get to the point where I run the `npm start` script. But on some occasions, I get this error message
[code]
Any ideas why I keep getting this message? I usually start the build in this manner
[code]

[2018-03-03 00:40] EthanEFung commented on #10069
Oh, just a correction, I usually have to switch versions of node after I check them with
`nvm use 6`

[2018-03-03 01:40] Alys commented on #10083
My personal feeling is that using ESC and clicking off the modal should be disabled since it's easy to do those by accident when you actually wanted to read the completion message. I'd like to see the "x" button kept because it's a more convenient way to dismiss that modal than by scrolling down to the bottom, and so is useful for experienced players who are repeating each quest multiple times.

I

[2018-03-03 02:17] EthanEFung commented on #10069
You can ignore this, I found out it was just a compiling issue, and has been solved now

[2018-03-03 04:33] Hus274 commented on #10083
That seems reasonable to me. Unfortunately, it looks like the modal is created and hidden multiple times on a refresh which makes in nearly impossible to detect the click on the x to close compared to the other hides. I'll spend some time looking here to see if I can prevent it from popping up and hiding multiple times.

[2018-03-03 16:31] Hus274 commented on #10068
I can take a look at this.

[2018-03-04 01:59] Hus274 commented on #9953
I can pick this up.

[2018-03-04 02:16] Alys commented on #9953
@Hus274 Thanks!

[2018-03-04 02:17] Alys commented on #10068
@Hus274 Thanks :)

[2018-03-04 04:36] Alys commented on #10087
donotgogentle🌼🌷🌻 says it happened on 4 March 2018 at 02:21 UTC but unfortunately there's nothing in Loggly for that time.

They've given me the console logs (by PM because they didn't want to reveal them all publicly). There's one "Mixed Content... the page requested an insecure image..." warning which isn't unusual and shouldn't be causing any problems. There's quite a few "net::ERR_BLOCKED_BY_CL

[2018-03-04 04:53] Alys opened #10093 "Shops > Market "Sort By" Number fails because item purchaseType is undefined"
As reported by citrusella, the despairing wench (2d6ef231-50b4-4a22-90e7-45eb97147a2c) in the Report a Bug guild:

"In the market, attempting to change the item sort from A-Z to number will result in not changing the sort and also in breaking the other two sort dropdowns on the page so they no longer work, either. This doesn't happen with sort dropdowns anywhere else on the site (at least not the

[2018-03-04 16:52] Hus274 commented on #9200
@abatula are you still working on this?

[2018-03-04 17:12] sachinhd517 opened #10094 "I have Created new Project using angular/cli command not create the project throw error Cannot find module 'ini'"
PS D:\Angular CRUD> ng new AngularCrud --skip-tests true
installing ng
  create .editorconfig
  create README.md
  create src\app\app.component.css
  create src\app\app.component.html
  create src\app\app.component.ts
  create src\app\app.module.ts
  create src\assets\.gitkeep
  create src\environments\environment.prod.ts
  create src\environments\environment.ts
  create src\favicon.ico
  create s

[2018-03-04 18:51] Hus274 commented on #8991
I have two main thoughts on what could be the cause here that I was hoping you all could provide feedback or thoughts on.

### Possible Scenario
First, I'm concerned about the consistency of the operation [here](https://github.com/HabitRPG/habitica/blob/develop/website/server/middlewares/cron.js#L18-L30). Depending on how the MongoDB is set up with respect to replicas and write and read consistenc

[2018-03-04 20:25] khipkin commented on #9958
I would like to work on this! Also, looks like this issue still needs labels applied.

[2018-03-04 20:29] khipkin commented on #9249
I can work on the simple alert() fix as a temporary solution for the failed auth and the swearword/slur cases.

[2018-03-04 21:11] paglias commented on #9958
@khipkin go ahead!

[2018-03-04 21:11] paglias commented on #10094
Hi @sachinhd517,

I'm sorry but I don't think this issue belongs to this repo, we don't use angular

[2018-03-04 21:11] #10094 closed, assigned to nobody

[2018-03-04 22:20] Alys commented on #9249
@khipkin Thanks, that would be great!

However we should have cleaned up this issue - it was logged in more detail in https://github.com/HabitRPG/habitica/issues/10031 (for a wider range of error messages) however that then became a bit more complex because the login and registration pages need different handling than the error messages for other purposes.

So, for THIS issue, the temporary JavaSc

[2018-03-04 22:22] Alys commented on #10031
For the error messages that you do NOT see on the login and registration screens (e.g., about swear words), @khipkin is improving their visibility using a JavaScript alert as outlined in this issue: https://github.com/HabitRPG/habitica/issues/9249#issuecomment-370261197

[2018-03-05 01:25] khipkin commented on #9958
The 404.vue page contains this hard-coded message, with a TODO that I'm not sure how to address. Any ideas?

.row
  .col-12.text-center
    // @TODO i18n. How to setup the strings with the router-link inside?
    img.not-found-img(src='~assets/images/404.png')
    h1.not-found Sometimes even the bravest adventurer gets lost.
    h2.not-found Looks like this link is broken or the page may have move

[2018-03-05 01:29] khipkin commented on #9958
Should the copyright notice in the footer be localized?

[2018-03-05 01:39] khipkin commented on #9958
Should the starter tasks be localized?

[2018-03-05 01:47] khipkin commented on #9958
Does modifyInventory.vue need to be localized? If I understand/remember correctly, that is for dev purposes only.

[2018-03-05 03:29] abatula commented on #9200
@Hus274 No, I've taken this one as far as I can. If you want to work on it, it's all yours!

[2018-03-05 08:42] Furgas commented on #116
I've joined in recently, and I've just got penalized for not doing everyday task on weekend. I don't see a simple way to make every day task ignore weekends (I've duplicated a task 5 times and repeat it every 7 days).

[2018-03-05 08:52] paglias commented on #9958
@khipkin

Regarding `router-link`, it won't work if you move that to i18n strings so in that case you'll have to split the string in multiple ones

Starting tasks: yes

modifyInventory / anything used by admins can be left in english, same for the copyright notice at the bottom

[2018-03-05 08:58] paglias commented on #9861
Can you try to delete your node modules and reinstall? On which os are you?

[2018-03-05 15:47] dt-rush commented on #427
This is still happening... on Android latest

[2018-03-05 17:41] Hus274 commented on #9200
Posted a pull request. Should be able to move to status: issue: in progress

[2018-03-05 21:23] lemoness commented on #10093
I've updated the labels on this ticket.

[2018-03-05 21:23] lemoness commented on #10087
I've updated the labels on this ticket.

[2018-03-05 21:24] lemoness commented on #10076
I've updated the labels on this ticket.

[2018-03-05 21:25] lemoness commented on #10072
I've updated the labels on this ticket.

[2018-03-05 21:26] lemoness commented on #10065
I've updated the labels on this ticket.

[2018-03-05 21:26] lemoness commented on #10035
I've updated the labels on this ticket.

[2018-03-05 21:27] lemoness commented on #10032
I've updated the labels on this ticket.

[2018-03-05 21:28] lemoness commented on #9997
I've updated the labels on this ticket.

[2018-03-05 21:31] lemoness commented on #9989
I've updated the labels on this ticket.

[2018-03-05 21:32] lemoness commented on #9968
I've updated the labels on this ticket.

[2018-03-05 21:33] lemoness commented on #9966
Has this been confirmed?

I've updated the labels on this ticket.

[2018-03-05 21:34] lemoness commented on #9958
I've updated the labels on this ticket.

[2018-03-05 21:35] lemoness commented on #9951
I've updated the labels on this ticket.

[2018-03-05 21:36] lemoness commented on #9901
@Tressley Is this something that we want to do?

[2018-03-05 21:37] lemoness commented on #9880
I've updated the labels on this ticket.

[2018-03-05 21:38] lemoness commented on #9876
@Tressley How would you like to handle this?

[2018-03-05 21:39] lemoness commented on #9871
I've updated the labels on this ticket.

[2018-03-05 21:39] lemoness commented on #9865
Have there been any other reports of this?

[2018-03-05 21:40] lemoness commented on #9847
I've updated the labels on this ticket.

[2018-03-05 21:42] lemoness commented on #9801
Is this still happening?

[2018-03-05 21:43] lemoness commented on #9787
Are these still occurring?

[2018-03-05 21:44] lemoness commented on #9654
@TheHollidayInn @paglias Is this still something that we want?

[2018-03-05 21:45] lemoness commented on #9550
Is this still happening? I haven't encountered it recently.

[2018-03-05 21:46] lemoness commented on #9530
Confirmed that this is still occurring.

[2018-03-05 21:47] lemoness commented on #9477
@Tressley How would you like to handle this?

[2018-03-05 21:50] lemoness commented on #8793
This is now open for someone else to jump in!

[2018-03-05 21:51] lemoness commented on #8863
This is still an issue, so I've marked this as "help wanted"!

[2018-03-05 21:52] lemoness commented on #8618
This is now open for someone to work on again!

[2018-03-05 21:54] lemoness commented on #8590
This is now open for someone to work on again!

[2018-03-05 22:00] lemoness commented on #8757
I'm going to close this for now, but if it becomes a larger problem it can be reopened!

[2018-03-05 22:00] #8757 closed, assigned to Alys

[2018-03-05 22:00] lemoness commented on #7991
This is now open for someone to work on again!

[2018-03-06 01:35] rkojima commented on #9861
Hi @paglias, I deleted my node modules folder and did "npm install" but am still having the same issue. I have macOS.

[2018-03-06 05:16] khipkin commented on #9958
I don't think this is localizable:

Even if I localize the parts before, between, and after the router-link start/end tags, the ordering of the sentence fragments would not necessarily be preserved the same in all languages, so we can't just concatenate the individually localized strings. I would need to localize the entire string.

Maybe something like this could work instead:

[2018-03-06 11:32] Alys commented on #9828
The search feature in the "Select Member" drop-down for selecting the winner isn't working at all any more. When you try to click into the search box, the menu closes (at least in Firefox on Linux). This means there's no way to select the winner if they don't appear in the list of the first ten members, and many challenges have many more participants than that. Even when the drop-down was working,

[2018-03-06 15:04] Hus274 commented on #10032
I can fix this.

[2018-03-06 16:02] paglias commented on #9654
Don't have a strong opinion here, I don't feel like the repo has got so big to create problems, cloning is a one time op

[2018-03-06 16:04] paglias commented on #9861
Have you tried installing openssl and set the flags mentioned here https://github.com/Blizzard/node-rdkafka/issues/178#issuecomment-304827021 before running npm install? You should be able to past them into the terminal before using npm install

[2018-03-06 16:07] librarianmage commented on #9654
While I like that it would increase the speed of cloning and fetching, as far as I can tell it would require everyone to install the LFS extension, though I could be wrong.
On Tue, Mar 6, 2018 at 10:02 AM Matteo Pagliazzi <notifications@github.com>
wrote:

[2018-03-06 16:08] paglias commented on #9958
if something is too messy to localize I'd just skip it for now and we can come back to it later

[2018-03-06 16:24] Tressley commented on #9901
Yes! This is something we've discussed previously and is definitely a good idea for users trying to access Habitica via mobile (especially with the responsive issues.) Helps highlight our apps as well.

[2018-03-06 17:03] #9971 closed, assigned to nobody

[2018-03-06 17:25] lex111 commented on #9901
I would like to do it.

[2018-03-06 18:58] Mahendran-Nadesan commented on #10033
I've been struggling with this for a while, so thought I'd try to get some help here.
The code is fine, but I've hit upon the line ending issue when testing - "Expected linebreaks to be 'LF' but found 'CRLF'". My autocrlf is set to true in my .gitconfig, and I'm sure it's going to be checking in as LF. I've read and tried various things to fix this, but to no avail. Is it fine to have a pull reque

[2018-03-06 19:18] lemoness commented on #9901
@lex111 Thanks very much! Let us know if you have any questions.

I've updated the labels on this ticket.

[2018-03-06 19:31] lemoness commented on #10032
@Hus274 Thanks so much! Let us know if you have any questions.

I've updated the labels on this ticket.

[2018-03-06 22:30] Alys opened #10100 "Data Export XML option does not work (export/userdata.xml file not found)"
In the [Data Export](https://habitica.com/user/settings/data-export) screen, the "Export User Data (XML)" option can't be used. You see this message (wording depends on browser):

`can't find the file at https://habitica.com/export/userdata.xml

The JSON export option does work.

_Thanks to Cyrus Krieger (a4626bcc-2bff-4c39-a1ce-cf015ee1ba50) for reporting this in the Report a Bug guild._

[2018-03-06 23:51] danwulf opened #10101 "tried to use chat for the first time but it said chat privelages had been revoked"
[//]: # (Before logging this issue, please post to the Report a Bug guild from the Habitica website's Help menu. Most bugs can be handled quickly there. If a GitHub issue is needed, you will be advised of that by a moderator or staff member -- a player with a dark blue or purple name. It is recommended that you don't create a new issue unless advised to.)

[//]: # (Bugs in the mobile apps can also

[2018-03-07 02:58] rkojima commented on #9861
@paglias I tried deleting, then pasting the two lines of code before doing npm install, and I'm not getting anything. When I reinstalled openssl, I got this:

[code]
So like you said, I need to use the flags mentioned in https://github.com/Blizzard/node-rdkafka/issues/178#issuecomment-304827021, but I tried pasting them and it didn't work.

I think having macOS High Sierra is giving me problems.

[2018-03-07 03:48] khipkin opened #10102 "Site is down"
[//]: # (Before logging this issue, please post to the Report a Bug guild from the Habitica website's Help menu. Most bugs can be handled quickly there. If a GitHub issue is needed, you will be advised of that by a moderator or staff member -- a player with a dark blue or purple name. It is recommended that you don't create a new issue unless advised to.)

[//]: # (Bugs in the mobile apps can also

[2018-03-07 03:54] citrusella commented on #10101
Did somebody ask you to report this here instead of on the website or by email?

You may want to email admin@habitica.com to discuss that if it wasn't a temporary thing (or even if it was), just in case there was a moderation related reason. I know they can't check your account without your user ID, anyway, so this blank issue probably can't help them without more information if there's somehow a

[2018-03-07 06:12] majestic-owl448 opened #10104 "Flying pig flyght too high in profile"
### General Info
  * UUID: c073342f-4a65-4a13-9ffd-9e7fa5410d6b
  * Browser: Google Chrome
  * OS: Windows 7

### Description
![habitica gamify your life](https://user-images.githubusercontent.com/26656284/37076438-e45f34e6-21d6-11e8-9c7a-0a7b8690157b.png)
In the profile the Flying Pig it's outside the box.

[2018-03-07 06:16] majestic-owl448 opened #10105 "Hippo-Crite quest icon is smaller than all others"
### General Info
  * UUID: c073342f-4a65-4a13-9ffd-9e7fa5410d6b
  * Browser: Google Chrome
  * OS: WIndows 7

### Description
![habitica gamify your life](https://user-images.githubusercontent.com/26656284/37076585-92d3917a-21d7-11e8-9b3c-e0c2170960ef.png)
In the selection quest modal the Hippo-Crite quest icon is smaller than all other quest icons

[2018-03-07 06:43] rkojima commented on #9861
@paglias I got help from a friend and got it to work! Here's what I did.
In my terminal, I typed ```source ~/.bash_profile```
In there, I typed in ```export CPPFLAGS=-I/usr/local/opt/openssl/include``` and
```export LDFLAGS=-L/usr/local/opt/openssl/lib```. I saved it, then did ```npm install``` for good measure.

I think knowing where to put these flags was the hardest part about this; that took f

[2018-03-07 07:00] paglias commented on #10102
Should be fixed now

[2018-03-07 07:00] #10102 closed, assigned to nobody

[2018-03-07 07:31] #10101 closed, assigned to nobody

[2018-03-07 10:56] Alys commented on #10105
For the coder who works on this, the problem occurs when you try to start a quest - that's the quest selection screen.

It might be a problem with the image having been uploaded at the wrong size.

@Ieahleen Thanks for logging this and the other one. I'd forgotten about them! :scream:

[2018-03-07 10:57] Alys commented on #10104
labels updated

[2018-03-07 14:32] caepenna opened #10106 "Hatched pet disappeared"
Same problem as issue #5347

I hatched a red fox and a desert bear. I got the normal message saying it hatched and to go to the pet page to view it, but when I went to view it it wasn't there.

User ID:7257f110-d8e0-473f-b54f-aa49c6249003

[2018-03-07 14:42] Hus274 commented on #9290
I can pick this one up.

[2018-03-07 16:11] paglias commented on #10033
@Mahendran-Nadesan hmm, this is weird but push the code and I'll give a look

[2018-03-07 16:14] paglias commented on #9861
great! thanks for posting a solution!

[2018-03-07 16:20] paglias commented on #10106
Hi @caepenna , thanks for the report, can you post about your issue in the Report a Bug Guild, https://habitica.com/groups/guild/a29da26b-37de-4a71-b0c6-48e72a900dac, a mod should be able to help you getting your pet back, I'm closing the issue since it's likely a one time syncing issue

[2018-03-07 16:21] #10106 closed, assigned to nobody

[2018-03-07 16:22] Hus274 commented on #10093
I can pick this up.

[2018-03-07 19:15] librarianmage commented on #9372
@paglias @Alys Should this be marked as in progress?

[2018-03-07 19:15] librarianmage commented on #9339
Is this still an issue?

[2018-03-07 20:32] majestic-owl448 commented on #9339
Yes, it's still an issue
![immagine](https://user-images.githubusercontent.com/26656284/37116571-f72f3df0-224e-11e8-88ef-57cda87cb5cd.png)

[2018-03-07 20:40] lemoness commented on #10093
@Hus274 Thanks so much! Let us know if you have any questions.

I've updated the labels on this ticket.

[2018-03-07 20:41] lemoness commented on #9290
@Hus274 Thanks so much! Let us know if you have any questions.

[2018-03-07 22:45] Hus274 commented on #10100
I've been researching this one.

[2018-03-08 01:04] Hus274 commented on #10100
So I've been looking into and debugging this issue for a fair bit now and this is what I've learned.

The problem is there is an exception thrown when converting the user doc to xml. The exception is
[code]

But it doesn't show the section of the document that it's errored on or what caused it to error. It looks like @paglias has looked into this or a similar issue and [commented on an issue for t

[2018-03-08 01:06] Hus274 commented on #10100
### TL;DR
Important section from the post above:

[2018-03-08 01:13] Alys commented on #10100
@Hus274 Awesome research, thanks so much!
I think converting the id field to a string would be best. Even though it's not directly useful to the user, I feel a bit uncomfortable about removing it in case there's occasions where it could be of interest (e.g., maybe it would help a user on their local install with debugging). However if another admin says to remove it, I don't feel strongly enough a

[2018-03-08 01:30] Hus274 commented on #10100
@Alys thanks! I definitely agree that I'd error on the side of having the data rather than wanting it and not having it. Also this way it's consistent with the JSON export which is good.

I can definitely implement this as I have both fixes already coded and mostly just need to uncomment the right one and delete the other.

If I don't hear any objections in the next couple days, I'll go ahead and

[2018-03-08 15:28] Hus274 commented on #10065
I'll pick this up.

[2018-03-08 17:22] paglias commented on #10100
That's super useful @Hus274 ! I found the way to strip invalid chars from the output but looks like it doesn't work for ObjectIds. I haven't looked in depth but if the id isn't used anywhere it's probably there because it gets added automatically and we should remove it

[2018-03-08 17:55] Hus274 commented on #10100
@paglias I do believe that the ID field is simply the object id that's automatically assigned by mongodb and it's not used anywhere in the code.

[2018-03-08 21:07] paglias commented on #10100
I think if you add `_id: false` to the array schema it should disappear

[2018-03-08 22:20] Hus274 commented on #10100
Yep, that takes care of it. The tests are passing consistently as well. I'll go ahead and post a pull-request for that change.

[2018-03-09 04:59] srhboo commented on #9935
I can take this on as a first contribution!

[2018-03-09 11:36] Alys opened #10115 "Quest Shop arithmetic follows its own rules. Laws of Mathematics are not the Habitica way."
Bulk purchasing doesn't work correctly in quest shop. Number purchased is treated as integer for 1 and as string for 2 or more (i.e., string concatenation occurs when you buy the items, instead of integer arithmetic). The number is also treated as a string if you change the number to anything and then change it back to 1.

To reproduce:

- Give yourself a chunk of gold.
- Go to the quest shop. Pic

[2018-03-09 11:38] Alys commented on #10115
I can't reproduce this for Gem-purchasable quests, which is nice.

[2018-03-09 13:01] majestic-owl448 commented on #10115
I broke also the counter in Inventory... maybe I shouldn't have tried... XD

![habitica gamify your life 1](https://user-images.githubusercontent.com/26656284/37208636-59d31a5e-23a2-11e8-8304-e6d48b0eb1b7.png)

Syncing it's fixed, but it scared me for a moment

[2018-03-09 20:40] #9279 closed, assigned to nobody

[2018-03-09 20:57] #10065 closed, assigned to nobody

[2018-03-09 20:59] #10037 closed, assigned to nobody

[2018-03-09 21:11] #10049 closed, assigned to nobody

[2018-03-09 21:17] #10093 closed, assigned to nobody

[2018-03-09 23:10] Hus274 commented on #10115
I can look into this.

[2018-03-10 00:01] Alys commented on #10115
@Hus274 Thanks!

[2018-03-10 00:29] Alys opened #10116 "`TypeError: this.quickAddText is null` when adding a To-Do"
When you click inside the "Add a To-Do" text entry box, `TypeError: this.quickAddText is null` appears in the Console (full message below). This does not happen if you click into the entry box for the other three task types.

There doesn't seem to be any incorrect behaviour caused by this (e.g., you can still add a To-Do) but the error message should not appear because it could make more important

[2018-03-10 00:54] Alys opened #10117 "Ctrl-V in a chat message can cause it to send"
We've had two reports indicating that hitting Ctrl-V to paste text into a chat message can cause the message to be sent.

The first was from donotgogentle (65be576c-c412-41c7-a31f-94994c8c4fc6) about six days ago:

_"Sorry for the double post. Whenever I use Ctrl+V my post gets sent automatically (happens in all guilds) without my clicking 'Send'"_

They never responded to my request for more info

[2018-03-10 01:20] Alys opened #10118 "Group Plan creation modals have confusing title and non-standard buttons"
When creating a Group Plan, one of the modals has a confusing title and the payment buttons don't have the normal Stripe / Amazon button appearance.

1. Click on Group in the navigation menu
1. Click the "Create Your New Group" button
1. The screen that appears is titled "Select Payment" but there's nothing on the screen about payment. The expected title would be something like, "Name your new Gui

[2018-03-10 02:02] Alys opened #10119 "userAlreadyInGroup should not be used when a user joins a group"
The `userAlreadyInGroup` error message is designed for use when a group member tries to invite another player, as shown in the two code snippets below. That works well and should not be changed.
https://github.com/HabitRPG/habitica/blob/d5e4be85e991740e6ec622c41f7c38a307b802ea/website/common/locales/en/groups.json#L225
https://github.com/HabitRPG/habitica/blob/d5e4be85e991740e6ec622c41f7c38a307b80

[2018-03-10 11:18] Alys commented on #9935
@srhboo Thank you! Post here if you have any questions.

[2018-03-10 19:36] tmkuba commented on #10119
hi @Alys, I think I can take a crack at this.  it's my first Habitica contribution!

[2018-03-11 02:27] srhboo commented on #9935
@Alys quick question! the info text ("completed to-dos are deleted...") should still appear right?

[2018-03-11 02:40] Alys opened #10123 "group plan and subscription cancellation needs double-check to ensure cancelled in Stripe, PayPal"
Last month, shanaqui cancelled a group plan. Both they and I checked at the time to see that the termination date had been set correctly in the guild's data - it had. However this month another payment for the group plan had been made - i.e., the payments had not been automatically cancelled in Stripe. I assume that at the time the plan was cancelled in Habitica, the code attempted to cancel it in

[2018-03-11 02:47] Alys opened #10124 "group plan "quantity" changes need to be more reliable"
When the leader of a group plan invites new members or removes existing members, the group's `quantity` field is updated and I think the change is also sent to Stripe / Amazon at the same time, rather than at the next scheduled billing period.

This can sometimes fail. E.g., a few months back, shanaqui's group plan had three members in it, then one member was removed. However the guild's `quantity

[2018-03-11 02:58] Alys commented on #9935
@srhboo Only on the user's own task list, not in the Challenge page or Group Plan Task Board. That's part of the bug although I neglected to mention that in this issue - thank you for asking!

[2018-03-11 05:30] Alys commented on #10119
@tmkuba Thank you!

[2018-03-11 06:46] Alys opened #10125 ""Group not found or you don't have access" appearing inappropriately"
Over the past couple of days, maybe longer, I've been seeing a lot of reports of players seeing "Group not found or you don't have access" when they've been trying to join public guilds - significantly more than I'd expect if it were just new players being confused about how to join guilds. These reports have been for the website and both mobile apps.

Those users often also report seeing the `use

[2018-03-11 06:48] Alys commented on #10125
An example from User ID d1befce6-9299-487e-a687-e8ffa99f98f7: "It's with trying to join a guild I get multiple errors I will attach a screenshot [screenshot showed `userAlreadyInGroup`]. The one error is that I'm already in the guild, which is confusing because I'm not. The other error looks very similar but says I do not have access into try again later"

[2018-03-11 08:31] tmkuba commented on #10026
Hi @Alys, I've made a change to the members.hasClass() store method and added some tests.

[2018-03-11 09:46] Alys commented on #10125
There was also this report in the Bug guild from Praxis Arete (0ce6d43b-efa2-45a3-acaa-59daad7d658d) about five days ago. It's about the userAlreadyInGroup problem more than the "not found / no access" error message but it might be related. The lag described is certainly odd.

_"I've noticed a latency issue between the time of joining a guild and when it stops displaying a "Join" button in "My Gui

[2018-03-11 10:56] Alys commented on #9865
I haven't seen any. This was likely caused by the user adjusting their Custom Day Start time to 11pm, which isn't recommended for most cases (as described in the wiki's [Custom Day Start](http://habitica.wikia.com/wiki/Custom_Day_Start) page) and/or from cron being delayed a day due to the change.

[2018-03-11 10:56] #9865 closed, assigned to nobody

[2018-03-11 11:43] shanaqui commented on #10124
I thought you fixed the quantity problem with my group plan anyway, but this month it was still $15 as if there were three members (nope)...

[2018-03-11 12:33] Alys commented on #10124
Yes, I had adjusted the quantity field back when we first found that problem in your group plan but I think this part is important for correct billing: "the change is also sent to Stripe / Amazon at the same time, rather than at the next scheduled billing period". I think if that's not done automatically at the time that the membership is changed, then Stripe never finds out that it should be char

[2018-03-11 15:55] TheHollidayInn commented on #10124
I did fix this a while back: https://github.com/HabitRPG/habitica/blob/develop/website/server/models/group.js#L1409
https://github.com/HabitRPG/habitica/blob/f59210375491c8a5de5cb30da53f016ba6e3e7b3/website/server/controllers/api-v3/groups.js#L574
https://github.com/HabitRPG/habitica/blob/develop/website/server/libs/stripePayments.js#L102
https://github.com/HabitRPG/habitica/blob/develop/website/s

[2018-03-11 15:57] TheHollidayInn commented on #10123
Can you post the guild id?

[2018-03-11 16:20] shanaqui commented on #10124
@Alys Aha, I understand now!

@TheHollidayInn I'm not entirely sure of when Alys tried to tweak my plan, etc, but I believe it was recently. Either your fix doesn't work [in some circumstances], or you haven't made it retroactive. I think the benefits of making it retroactive should speak for themselves; I hope we haven't got any other users sitting around paying Habitica extra each month and not

[2018-03-11 20:49] Alys commented on #10123
GID 0bd1137f-6391-47db-822a-f08717b33445, User ID bb089388-28ae-4e42-a8fa-f0c2bfb6f779
Group Plan was cancelled around 21 February (maybe a day different depending on time zone).

[2018-03-11 21:38] Alys commented on #10124
So for shanaqui's case, this is the relevant code for adjusting the Stripe billing when removing a member from a group plan:

https://github.com/HabitRPG/habitica/blob/70500d7c98d67f1edd4a91aa26e176c5952ebae8/website/server/libs/stripePayments.js#L273-L286

That was modified on 2017-03-06. @shanaqui Do you remember if you removed the guild member before or after that date?

Regardless of the date

[2018-03-11 21:55] shanaqui commented on #10124
It was after. I can't pin it down to an exact date, but from my records I didn't _have_ a group plan before March 2017, and I had an email conversation with @alys asking her to explain aspects of a receipt that included my third group member in which I asked if she would keep the jackalope if I removed her from the group on the 10th-11th April 2017, so I would have removed her from the group after

[2018-03-11 22:23] Alys commented on #10117
kAbi, child of Light has given these details for their browser:

Firefox version 58.0.2, Windows 10 Version 1709

(I'm about to edit this into the top post for neatness)

[2018-03-11 22:29] Alys commented on #10124
I've confirmed from Habitica's records that shanaqui's group plan had three members on 11 April 2017, so the removal of one member did occur after that code was modified.

[2018-03-12 05:00] csgray commented on #9978
Quick update: I haven't forgotten about this, but I ran into trouble setting up my development environment with Docker and then school and work hit me hard since I started a new job.

It's spring break though, so I've got nothing else competing for my time and this is jumping to the top of the list. I'll ask in the Blacksmiths' guild for help with my dev environment.

[2018-03-12 06:20] Alys commented on #9978
Have a look at the conversation in https://github.com/HabitRPG/habitica/pull/10110 - that might be the fix for your problem although note that if kafka is made optional you might not need to change your install.

[2018-03-12 19:40] EthanEFung commented on #10069
@Alys - I do want to finish this ticket. But I'd like to release this if there is someone who can handle this issue this week. I will busy interviewing this upcoming week.

[2018-03-12 20:30] SabreCat opened #10130 "Search box in Members modal not functioning"
[//]: # (Before logging this issue, please post to the Report a Bug guild from the Habitica website's Help menu. Most bugs can be handled quickly there. If a GitHub issue is needed, you will be advised of that by a moderator or staff member -- a player with a dark blue or purple name. It is recommended that you don't create a new issue unless advised to.)

[//]: # (Bugs in the mobile apps can also

[2018-03-12 20:35] paglias commented on #10130
Hmm, from a quick search that function doesn't exist, but it seems that in some places loadMembers is assigned to it

<img width="838" alt="schermata 2018-03-12 alle 13 34 17" src="https://user-images.githubusercontent.com/589911/37308083-266b7242-25fa-11e8-8b31-8d21987473f2.png">

cc @TheHollidayInn

I'll wait to fix this one in case there's somethign I'm missing

[2018-03-13 18:46] SabreCat opened #10132 ""Like" button in inbox messages does not work"
[//]: # (Before logging this issue, please post to the Report a Bug guild from the Habitica website's Help menu. Most bugs can be handled quickly there. If a GitHub issue is needed, you will be advised of that by a moderator or staff member -- a player with a dark blue or purple name. It is recommended that you don't create a new issue unless advised to.)

[//]: # (Bugs in the mobile apps can also

[2018-03-14 02:31] khipkin opened #10134 "Entire rewards column missing"
[//]: # (Before logging this issue, please post to the Report a Bug guild from the Habitica website's Help menu. Most bugs can be handled quickly there. If a GitHub issue is needed, you will be advised of that by a moderator or staff member -- a player with a dark blue or purple name. It is recommended that you don't create a new issue unless advised to.)

[//]: # (Bugs in the mobile apps can also

[2018-03-14 05:36] Cappycot commented on #10117
[Confirmed this on Google Chrome 60.0.3112.113 64-bit on Ubuntu 16.04 LTS.](https://drive.google.com/open?id=1ssk55GFSm5M6uQBaMMFs4TBGPveT-OoF)

While I've been looking for ways to make my first contribution, I have zero experience in this (lol). I speculate that this is more of a quality-of-life issue as what happens (to at least me and kAbi, child of Light) is that we fail to let go of the Ctrl

[2018-03-14 08:23] probaton commented on #9768
I don't mind taking a stab at this. Making the menu scrollable is pretty easy, let me know if you also want someone to take a look at moving menu items, either within the menu or out of it entirely.

[2018-03-14 11:10] Alys commented on #9768
@probaton thanks! Comment here if you have questions.

[2018-03-14 16:53] paglias commented on #10134
I'm not able to replicate this myself on habitica.com @khipkin can you click on the line that says `at e.exports (app.....)` in the console and post a screenshot of the code that appears?

Is this happening to you @TheHollidayInn @SabreCat @Alys ?

[2018-03-14 19:09] Cappycot commented on #9280
I'd like to take this issue as a first for me to try out.

[2018-03-14 20:48] paglias commented on #9280
@Cappycot go ahead!

[2018-03-14 22:18] Alys commented on #10134
It's not happening for me.

In the past when the Rewards column has had problems, it's been because of pinned items, but when I replicate kippikoo's pinned items in my account I don't get this problem. @khipkin This is for your kippikoo (f9c89bba-abf8-4f20-a974-cf1550ff603f) account?

[2018-03-14 22:25] Cappycot commented on #9280
Do you guys want the pop up to be on the right or the left? The pop up stats on the equipped items show to the right, but I'm not sure if you agree with putting the costume pop up stats on the left, which is what I'm doing for now.

[2018-03-14 22:26] Alys opened #10135 "pinning Rainbow potion from different locations gives different pinned item, different unpin behaviour"
If you pin the Rainbow potion from the Featured Items section of the Shop, you get this in your `pinnedItems` array:
[code]

As soon as you buy it once from your Rewards column, it becomes unpinned.

If you pin it from the Magic Hatching Potions section of the Shop, you get this:
[code]
When you buy it from the Rewards column, it remains pinned. This feels to me like the correct behaviour because

[2018-03-15 11:00] theIsaacLim commented on #9192
Should I work on this?
I'm planning to make my first contribution to Habitica and I think this would make a good first issue. I'll add @Tressley 's image.

[2018-03-15 17:29] khipkin commented on #10134
@paglias I no longer have the console available. @Alys yes.

[2018-03-15 17:42] lemoness commented on #9280
That is a question for @Tressley!

On Wed, Mar 14, 2018 at 3:25 PM, Chris Wang <notifications@github.com>
wrote:

[2018-03-15 18:25] paglias commented on #10134
@khipkin what do you mean the console is no longer available?

[2018-03-15 18:25] paglias commented on #10134
Can you try to clear local storage and login again?

[2018-03-15 18:59] #9015 closed, assigned to nobody

[2018-03-16 02:37] Hus274 commented on #8991
@paglias @TheHollidayInn @SabreCat I'd love to hear your thoughts on the above when you have some time!

[2018-03-16 11:30] Tressley commented on #9280
@Cappycot -- Ideally it opens at the bottom of the item unless there isn't enough space. Then it should open at the top.

[2018-03-16 11:41] Tressley commented on #9192
@theIsaacLim --Go for it!

[2018-03-16 15:16] paglias commented on #8991
So the database is not sharded, we have two nodes (+ an arbiter node) that are one the replica of the other but all writes and reads go to node 1, the second simply replicates the first and is only used in the very rare instance the first node is down for maintenance (it usually happens every few months)

Regarding the second scenario that looks unlikely to me because when a process tries to acqui

[2018-03-16 16:21] Hus274 commented on #8991
This isn't quite what I meant in the second scenario. I understand that the check happens against the database and not the local copy of the user object. The only reason I mentioned the locally loaded user object is because I believe this check is incorrectly being passed because the user object is already loaded in: https://github.com/HabitRPG/habitica/blob/develop/website/server/middlewares/cron

[2018-03-16 16:50] Cappycot commented on #9280
@Tressley I'll go ahead and make the changes for both the equipment icons and the costume icons on the profile stats page then.

Edit: [Done](https://drive.google.com/open?id=1Cdw31lhYDXB2WjK7diD4arnOg7l6rNJZ)

[2018-03-16 17:53] SabreCat commented on #10135
Same for the Shimmer potions. `premiumHatchingPotion` and remaining pinned after purchase is definitely the better behavior.

[2018-03-16 18:20] Hus274 commented on #8991
I am able to successfully replicate the bug I've described in option 2 above in a test environment. I did have to make some test modifications to the source code in order to replicate the asynchronous nature of the bug which means that I am unable to push the tests as part of this fix. Long story short on the source code modification, I added a psuedo thread.sleep to the second call to cron at [th

[2018-03-16 18:51] adamweldonjohnson commented on #10066
I'm still learning my way around the file structure for Habitica - in this issue, would these completion texts need to be added to other files than the json with the .t function?

[2018-03-16 19:04] paglias commented on #8991
You can open a PR and put the explanation there

2018-03-16 19:20 GMT+01:00 Travis <notifications@github.com>:

--
Matteo Pagliazzi - paglias.net

[2018-03-16 19:05] paglias commented on #10066
Just to the json files in common/locales/en

[2018-03-16 19:08] adamweldonjohnson commented on #10066
@paglias Thank you. I thought so, but wasn't sure.

[2018-03-16 19:11] razzlepdx commented on #9840
I would like to take a stab at this!

[2018-03-16 19:36] adamweldonjohnson opened #10141 "r"
[//]: # (Before logging this issue, please post to the Report a Bug guild from the Habitica website's Help menu. Most bugs can be handled quickly there. If a GitHub issue is needed, you will be advised of that by a moderator or staff member -- a player with a dark blue or purple name. It is recommended that you don't create a new issue unless advised to.)

[//]: # (Bugs in the mobile apps can also

[2018-03-16 19:36] #10141 closed, assigned to nobody

[2018-03-16 19:51] adamweldonjohnson commented on #9698
@Alys is this the functionality handled in test/api/v3/unit/libs/cron.test.js on line 1028?

[2018-03-16 20:17] Hus274 commented on #8991
Pull request posted.

[2018-03-16 20:26] guyguy2001 commented on #5279
I still need to add tests to this.
I will probably have time for it after next week (as I'll be entering the passover school-break), however until them I doubt I'll get to it. If anyone else wants to do tests, I'll give it to them. If not, I'll finish it then.

See #9751 for details if you are interested in doing the tests.

[2018-03-16 20:30] negue commented on #10134
@khipkin could you get your anonymized data, check it if there are still any data left (if so, open a different issue for that too^^) and post that data on a gist, that way we or you could use the data on our local dev-mode

https://habitica.com/api/v3/user/anonymized

While writing this I forgot that our new api-doc doesn't have a execute button for the various apis, could you write a simple api

[2018-03-17 02:15] khipkin commented on #10134
@paglias Sorry, I meant the console from that session, containing the error message.

How do you clear local storage? I can't remember the URL.

[2018-03-17 02:27] Alys commented on #10134
@khipkin https://habitica.com/static/clear-browser-data

[2018-03-17 04:21] Alys commented on #9192
I've modified the labels on this issue ("in progress")

[2018-03-17 04:23] Alys commented on #9840
@razzlepdx Thank you! Comment here if you have questions or run into trouble!

Labels updated.

[2018-03-17 04:35] Alys commented on #9966
I can't replicate it. When I get a login prize, I don't need to sync before I see it in my inventory. We can reopen this if it's reported again.

[2018-03-17 04:35] #9966 closed, assigned to nobody

[2018-03-17 04:37] Alys commented on #9787
I didn't recall seeing it at all frequently when I was doing the Bug guild on most days. Some (all?) of the problems could be due to various things that have been fixed relatively recently on the website and apps. It can be reopened if more reports occur.

(The unrelated tasksOrder sorting problems still happen, although rarely.)

[2018-03-17 04:37] #9787 closed, assigned to TheHollidayInn

[2018-03-17 04:39] Alys commented on #9936
@leonzalion Thanks very much for reporting that and providing the video! Most useful!

I'm marking this as needs designs for @Tressley

[2018-03-17 04:43] Alys commented on #10055
@JacksonCoder I'm sorry we didn't reply sooner! We'd love you to work on it if you'd still like to!

Yes, when a link is used, having that section automatically expanded would be great.

[2018-03-17 05:23] PetalsOnWind commented on #4040
Can I give this a try? (I am quite new to this and don't want to mess with something major)

[2018-03-17 10:33] Alys commented on #4040
@PetalsOnWind Sure! Thank you! Comment here if you have questions.

[2018-03-17 11:27] paglias commented on #10134
@khipkin so you haven't been able to reproduce the error anymore?

[2018-03-17 11:40] Alys commented on #9755
It would also be helpful if matches to the name of the guild were prioritised more than matches to the description. For example, we currently have five guilds specifically about YouTube but if you put "YouTube" into the guild search, the list shows 38 guilds, most of which just happen to mention "YouTube" somewhere in the description. Big guilds like Life Hackers, Procrastinators, ADHDers dominate

[2018-03-17 11:48] Alys opened #10148 "some locales strings can't be translated from Transifex due to errors in the key, code, etc"
alfill (e98e3a47-d06a-49d7-9a74-2a8b5deb9595) has very kindly worked with other translators to compile a list of translation problems: https://docs.google.com/document/d/1FSOjm782T8C0W9cZPXq_-1NDNM-p2ewJfjZwpAGMX_I/edit?usp=sharing

In the Report a Bug guild, alfill writes:

_"Hello. Commonwealth i18n guild found several non-localizable bugs, strings that can't be translated from transifex due to

[2018-03-17 15:13] snowsignal commented on #10055
Great! I'll get working on this.

[2018-03-17 20:12] #9188 closed, assigned to negue

[2018-03-17 20:13] #10116 closed, assigned to nobody

[2018-03-17 20:13] #10104 closed, assigned to nobody

[2018-03-17 21:13] #9228 closed, assigned to nobody

[2018-03-17 21:13] #9059 closed, assigned to nobody

[2018-03-17 21:15] #9994 closed, assigned to nobody

[2018-03-17 21:17] #10015 closed, assigned to nobody

[2018-03-17 21:18] #10066 closed, assigned to nobody

[2018-03-17 21:21] #10119 closed, assigned to nobody

[2018-03-17 21:22] #9935 closed, assigned to nobody

[2018-03-17 21:23] #10033 closed, assigned to nobody

[2018-03-17 21:25] #10032 closed, assigned to nobody

[2018-03-17 21:25] #9953 closed, assigned to nobody

[2018-03-17 21:26] #10068 closed, assigned to nobody

[2018-03-17 21:26] #9955 closed, assigned to nobody

[2018-03-17 21:29] #9290 closed, assigned to nobody

[2018-03-18 15:23] #9582 closed, assigned to nobody

[2018-03-18 15:24] #9280 closed, assigned to nobody

[2018-03-18 17:07] Mahendran-Nadesan commented on #9806
I'd like to work on this.

[2018-03-18 17:10] Mahendran-Nadesan commented on #9904
I'd like to work on this. May I?

[2018-03-18 17:36] paglias commented on #9904
Go ahead!

[2018-03-18 17:37] paglias commented on #9806
It's yours :)

[2018-03-18 19:58] Cappycot commented on #9951
The easiest "tweak" would be to add
`margin-left: -1em;`
`margin-right: -1em;`
to the `.header` CSS section in `habitica/website/client/components/groups/groupPlan.vue`, but maybe there's a much more elegant fix?

[2018-03-18 20:02] Cappycot commented on #9951
The easiest "tweak" to this would probably be adding
`margin-left: -1em;`
`margin-right: -1em;`
to the `.header` section of the CSS code in `habitica/website/client/components/groups/groupPlan.vue`, but there's probably a much better solution somehow...

[2018-03-18 21:39] meiastar commented on #9969
Hi!  I'm pretty new to Habitica.  I just hit level ten and chose the healer class.  But every time I log in (on pc) it prompts me to choose my class again.  I chose healer again and it said it would cost me 3 gems to change my class... so I did, and it took three gems, and continued asking me to choose a class.  When I picked healer again, it said it would take 3 gems to change my class, so I canc

[2018-03-18 21:53] Alys commented on #9969
@meiastar I'm sorry about that! The navigation menus can sometimes stop
working but if you reload the website they start again. If you post to the
Report a Bug guild briefly to say how many gems you lost from the class
change bug, we can see your Habitica account there and refund them.
Alternatively post your User ID here (from User Icon > Settings > API).
Reloading also stops the class change mod

[2018-03-18 22:02] meiastar commented on #9969
@Alys Thank you so much!  :)

[2018-03-19 03:22] Cappycot commented on #9335
From the looks of it, it seems that our custom [markdown-it-linkify-images](https://www.npmjs.com/package/markdown-it-linkify-images) library may not even support image titles at all.

Running the following code on [RunKit + npm](https://npm.runkit.com/)
[code]
yields no image title in the resulting html.

Edit: Nice. I didn't know GitHub can reference issues across repos lol

[2018-03-19 21:03] negue commented on #10011
Typescript would be nice yes, but we'd have a lot work before having a working server just with the typescript compiler instead of babel (atleast thats what I think)

Currently the classes are in ES6 so it would be already working with typescript

[2018-03-19 22:04] SabreCat opened #10154 "Repeated Guild edit in same session opens modal in creation mode"
[//]: # (Before logging this issue, please post to the Report a Bug guild from the Habitica website's Help menu. Most bugs can be handled quickly there. If a GitHub issue is needed, you will be advised of that by a moderator or staff member -- a player with a dark blue or purple name. It is recommended that you don't create a new issue unless advised to.)

[//]: # (Bugs in the mobile apps can also

[2018-03-19 22:08] SabreCat opened #10155 "Difficulty editing Guild category tags"
[//]: # (Before logging this issue, please post to the Report a Bug guild from the Habitica website's Help menu. Most bugs can be handled quickly there. If a GitHub issue is needed, you will be advised of that by a moderator or staff member -- a player with a dark blue or purple name. It is recommended that you don't create a new issue unless advised to.)

[//]: # (Bugs in the mobile apps can also

[2018-03-19 22:25] SabreCat commented on #7764
Got a report of this in the bug guild:

Has the issue recurred? Or maybe it wasn't addressed with respect to the Tavern "Guild"?

[2018-03-19 22:32] ESWAT commented on #7519
Ran into this with after cloning latest master (d7ccf2bbe). Is this another symptom of out-of-sync dependencies?

[code]

[2018-03-19 22:52] paglias commented on #7519
You should clone the latest develop branch, not master which is not used

[2018-03-19 22:59] seekheart commented on #10011
It's not a whole lot more work though. Mostly we could put all the `client` code in to TS and just have typescript transpile it or gulp it?

[2018-03-20 03:07] ESWAT opened #10157 "Issue with docker-compose with mounted volume and different host from container OS"
I noticed an issue if I try running habitica with `docker-compose` with these conditions:

1. Local habitica mounted to `/usr/src/habitrpg`
2. Host machine different from container OS

So in my experience my host machine is macOS, where my node packages are built for that OS. However the docker container will not work correctly when it tries run some of those node packages under linux, which it wi

[2018-03-20 03:53] ESWAT commented on #9786
What about showing the number of owned pets/mounts in the heading?

![screen shot 2018-03-19 at 23 53 09](https://user-images.githubusercontent.com/65468/37635210-c021f5ec-2bd0-11e8-93e3-b79c897f47ff.png)

[2018-03-20 12:56] shanaqui commented on #7764
The Hopeful Mage has added a comment that possibly further explains the recurrence of this issue:

[2018-03-20 14:12] paglias commented on #10011
I personally like Typescript but for now I'd say let's not introduce new tools :)

[2018-03-20 14:45] TheHollidayInn commented on #10011
Agreed. Typescript is something we can consider after we remove most of the code "smells"

[2018-03-20 16:41] seekheart commented on #10011
Are we following an OOP paradigm currently?

[2018-03-21 00:54] Alys commented on #9758
@thecrazycoder01 There'll be a transformation buff released soon so we'll want this fixed in the next week or so ideally, so I'm going to open this up for someone else to work on it, but if you have a fix part done already and would like to keep working on it, please comment here and I'll mark it in progress for you again.

[2018-03-21 00:55] beffymaroo commented on #10015
I'm still seeing this on the production site with Shiny Seeds.

[2018-03-21 00:58] beffymaroo opened #10160 "Transformation Item Antidotes do not work"
I'm seeing reports of this in both staging and production, and so far it's been confirmed for at least Shiny Seeds and Spooky Sparkles.

When one goes to purchase an antidote, one is able to buy multiples which may not be desired behavior since those items were instant use. Upon purchasing any amount of them, no gold is deducted and my avatar is not un-transformed. This persists upon refresh or re

[2018-03-21 01:07] Alys commented on #10160
I've marked this important priority because a Transformation item will be re-released on 3 April so we'd ideally want to have this fixed before then.

[2018-03-21 01:15] Alys commented on #9799
This appears to be fixed.

[2018-03-21 01:15] #9799 closed, assigned to negue

[2018-03-21 02:26] Alys commented on #10160
Console log from staging:
[code]

[2018-03-21 10:59] Alys commented on #10157
It sounds like you might have run `npm install` in your host OS rather than in the Docker container. If so, delete the node_modules directory and go through the installation process you'll find in [Setting up Habitica Locally](http://habitica.wikia.com/wiki/Setting_up_Habitica_Locally). There's instructions for Docker there, although we've had feedback recently that they might no longer be up to d

[2018-03-21 11:39] ESWAT commented on #10157
Ah! Yeah that makes total sense.

[2018-03-21 11:39] #10157 closed, assigned to nobody

[2018-03-21 15:52] toivomattila commented on #10035
I'd like to try this one :)

[2018-03-21 16:09] SabreCat commented on #10035
@toivomattila Go for it, thanks!

[2018-03-21 16:50] jackmakesthings commented on #9880
If this is still outstanding, I can work on it!

[2018-03-21 20:01] caleb-fung commented on #9758
I would like to work on this.

I've been testing out the Mongo file. I also have intermediate experience with component-based webdev (React, Angular, and Polymer) and Mongo.

[2018-03-21 23:41] Alys commented on #9880
@jackmakesthings Thank you!

Labels updated.

[2018-03-21 23:41] Alys commented on #9758
@CalebFung Thank you! Comment here if you have questions.

Labels updated.

[2018-03-22 03:41] Cappycot commented on #10160
The purchase of these antidotes is being treated as if it were a commodity such as a hatching potion or egg while it should behave like an instant-use health potion.

Caleb, who's currently working on issue #9758, is likely to be fixing this issue as well since we found that the two of these issues are closely tied together.

[2018-03-23 10:19] Alys commented on #9978
@csgray How are you going with your local install? Do you still need help? There's been a few changes recently so if you haven't already, delete node_modules, fetch the latest `develop` from the repo, ensure your config.json is up to date, and do `npm install` again. More info at [Setting up Habitica Locally](http://habitica.wikia.com/wiki/Setting_up_Habitica_Locally)

[2018-03-23 11:40] caleb-fung commented on #10160
@Alys I believe I found a fix to this issue and #9758.

[2018-03-23 12:02] shanaqui opened #10169 "Notifications are covered by resting in the inn status banner"
As reported by citrusella:

I've confirmed this behaviour on production and staging. Here's a screenshot.
![image](https://user-images.githubusercontent.com/8144640/37828143-04b85b2e-2e92-11e8-8822-56c59dc187ce.png)

[2018-03-23 13:51] crookedneighbor commented on #9335
v1.1.0 of markdown-it-linkify-images has been released with this feature.

Thanks @Cappycot!

[2018-03-23 14:53] paglias commented on #9335
@crookedneighbor thanks a lot for this ! I've updated `habitica-markdown` to use this latest version, and released a new version (1.3.1) but I cannot push it to npm since you're the owner there. Would you mind pushing it when you have a few minutes? https://github.com/HabitRPG/habitica-markdown/

[2018-03-23 15:12] paglias commented on #9863
Going to close this as it seems it's been resolved

[2018-03-23 15:33] Cappycot commented on #9335
@paglias are my changes eligible for contributor credit? Just wondering <sub>lol</sub>

[2018-03-23 15:41] paglias commented on #9335
@Cappycot yep! I had missed your UUID, awarding a tier now

[2018-03-23 21:24] SabreCat opened #10172 "Sound effects no longer working"
[//]: # (Before logging this issue, please post to the Report a Bug guild from the Habitica website's Help menu. Most bugs can be handled quickly there. If a GitHub issue is needed, you will be advised of that by a moderator or staff member -- a player with a dark blue or purple name. It is recommended that you don't create a new issue unless advised to.)

[//]: # (Bugs in the mobile apps can also

[2018-03-23 21:42] SabreCat opened #10173 "Task page search bar only searches task titles, not Notes"
[//]: # (Before logging this issue, please post to the Report a Bug guild from the Habitica website's Help menu. Most bugs can be handled quickly there. If a GitHub issue is needed, you will be advised of that by a moderator or staff member -- a player with a dark blue or purple name. It is recommended that you don't create a new issue unless advised to.)

[//]: # (Bugs in the mobile apps can also

[2018-03-24 09:19] Alys commented on #10169
As a note to anyone who works on this, the desired fix is to move those notifications down when the banner is in place, not to change any z-index values.

citrusella is correct that it's the navbar's z-index that places it over the top of the notifications and we want to keep doing that so that when the user opens a drop-down menu from the navbar, it opens over the top of any remaining notificatio

[2018-03-24 11:04] Alys commented on #7764
I've created [this issue for the iOS app](https://github.com/HabitRPG/habitica-ios/issues/673). We already have [this issue for the Android app](https://github.com/HabitRPG/habitica-android/issues/906). The bug and fix are the same for both.

It's likely that any third-party tools that implement leaving guilds or parties will have the same bug, and the same fix can be done for them.

The Android i

[2018-03-24 11:04] #7764 closed, assigned to nobody

[2018-03-24 16:07] #10076 closed, assigned to nobody

[2018-03-24 16:09] #9880 closed, assigned to nobody

[2018-03-24 16:15] #10026 closed, assigned to nobody

[2018-03-24 16:17] #10115 closed, assigned to nobody

[2018-03-24 16:18] #10083 closed, assigned to nobody

[2018-03-24 16:18] #9461 closed, assigned to nobody

[2018-03-24 16:18] #10073 closed, assigned to nobody

[2018-03-24 16:48] Cappycot commented on #9335
@paglias sorry to be a bother, but did you mean credit towards tier 2 rather than a whole new tier? (I got confused.)

[2018-03-24 17:31] paglias commented on #9335
Sorry the misunderstanding @Cappycot , the way tiers work is that they require increasingly more work to be obtained, level 1 is given for the first PR regardless of how big it's, then it becomes more difficult

[2018-03-24 18:31] gabrielsiedler commented on #10173
It seems that the logic stills the same, it searches also for `note`. But for some reason the **task** object has the key `notes` instead (some refactor maybe?).

[code]

To fix this just change `task.note` to `task.notes` on both calls on `/website/client/components/tasks/column.vue` line **587**.

I'm happy to create a PR to fix this if you want.

[2018-03-24 18:37] JoshSears commented on #8735
@Alys Just started a new job.  So it may be awhile before I can pick this up again.  If it isn't high priority, then I can work on it when I get free time, but if it is higher on the list, you may want to reassign it for now.

[2018-03-24 21:33] caleb-fung commented on #10160
I submitted a pull request for this issue because it is similar to #9758. Although my code failed the Coverage test, it passed all Travis tests. What other tests should I create if needed?

[2018-03-24 21:56] casmith commented on #9978
Since there was no activity on this one for a while, I went ahead and fixed it.

[2018-03-25 01:39] Alys commented on #8500
Another report of this from Glanlotiel (8ef30926-2e2a-4285-8a34-bce130acd61b) in the Report a Bug guild:

"I'm trying to get my dailies organized, but every time I move one, other things move from one random spot to another without any rhyme or reason. (I mean they're going up, down, and just all over the place without my even touching them.)"

Glanlotiel later confirmed that no Tag/Due filters we

[2018-03-25 02:00] Alys opened #10178 "intermittent failures of website UI changes and syncing (guild joining, pet hatching, maybe others)"
Over the past three days in the Report a Bug guild, @Ieahleen (c073342f-4a65-4a13-9ffd-9e7fa5410d6b, currently called Mage in Habitica) has been reporting intermittent problems with the website not updating correctly when they take an action and with syncing not being enough to cause the correct UI elements to appear. I've copied their posts below with annotations for context.

**"I joined a guild

[2018-03-25 13:29] ESWAT commented on #10132
Are there even groups associated with these kinds of private messages between users?

I tried looking into this more and reading the API docs, but it seems the API endpoint being used doesn’t match the data these user messages actually have? (I don’t see a `groupId` being associated with these types of messages, or I don’t have a clear understanding of what the `Group` object is associated with.

[2018-03-25 14:18] paglias commented on #10132
Inbox messages aren't linked to any group but simply stored inside each user document under the inbox object

[2018-03-25 17:27] Alys commented on #10132
I think the fix for this should be to remove the like button.

[2018-03-25 22:56] Alys commented on #10155
I've edited the top post to remove the staging/production details, since the worse bug from staging is now on production.

[2018-03-25 23:34] Alys opened #10183 "should not be able to buy equipment from a class that you are not currently playing"
When you lose an old Grand Gala equipment piece due to death and then change class and then try to buy the piece back, you get no notification that you're not able to buy it. If you try to buy it, you see a notification saying "You bought [gear name]" (although gold is not subtracted and the item is not actually bought).

The correct behaviour is:
- When you click on the buy button, you should see

[2018-03-25 23:36] Alys commented on #10155
This seems to be intermittent. A player who was unable to get the Category button to respond earlier has just reported that they tried again and it worked.

[2018-03-26 17:31] lemoness opened #10184 "Solid purple background behind modals"
A recent change has incorrectly caused the background behind modals to become a solid purple, instead of their normal translucent overlay. Additionally, the modals are now off-center, starting higher up on the page.
<img width="1418" alt="screen shot 2018-03-26 at 10 13 26 am" src="https://user-images.githubusercontent.com/3494081/37922168-b9b92c1a-30e0-11e8-8046-5be320c7d967.png">
<img width="142

[2018-03-27 12:08] hathix commented on #10184
Hello! Loyal Habitician here. I think I've isolated the background color problem. In `app.vue`, there's this CSS:

[code]

When I remove the `opacity` line in my browser's dev console, the purple becomes transparent (as it was before, if I recall correctly) and not solid.

I'm not sure how to fix the off-center problem, but I did notice that the `modal-dialog` class has `1.75rem` of top margin, ma

[2018-03-27 12:12] hathix commented on #10105
Yes, compare [the Hippo image](https://github.com/HabitRPG/habitica/blob/develop/website/raw_sprites/spritesmith/quests/scrolls/inventory_quest_scroll_hippo.png) to [another quest image](https://github.com/HabitRPG/habitica/blob/develop/website/raw_sprites/spritesmith/quests/scrolls/inventory_quest_scroll_basilist.png). The Hippo scroll doesn't have the right padding; it's 48x51 but should be 68x6

[2018-03-27 17:32] lemoness commented on #10184
@hathix Thank you so much! Let us know if you have any questions about contributing.

I've updated the labels on this ticket.

[2018-03-27 18:20] negue commented on #8574
@paglias  @Alys

Which error messages can be considered as developer-only messages? I'd select all errors messages which are checked if req.params exists but any others too? like if a group/task doesn't exist?

[2018-03-27 18:23] paglias commented on #8574
I'd say everything with req.something is a good start

[2018-03-27 18:37] shanaqui commented on #9249
_edit by Alys: the problem described in this comment has been logged at https://github.com/HabitRPG/habitica/issues/10256_

When someone has their chat permissions revoked, they shouldn't be able to PM another user. This is handled correctly and the PM doesn't go through, but it _appears_ to have done so until refresh on the user's end, as in this screenshot:

![image](https://user-images.githubus

[2018-03-27 21:03] SabreCat commented on #9200
Reopening. PR #10095 is live in production, but the fix is incomplete. The first time you set a Daily to have a monthly schedule, the `daysOfMonth` field does not get updated. You need to reopen the Daily and save it a second time for it to take. @Hus274 any thoughts?

[2018-03-27 21:13] Hus274 commented on #9200
Can you provide the steps to replicate? I just tried it on my main account and wasn't able to replicate the issue.

As a note, you need to click save after modifying the date, not click off the modal. That's the only other thing I can think of.

[2018-03-27 22:08] SabreCat commented on #9200
@Hus274

1. Start with a Daily with a Start Date that doesn't match the current day-of-month.
2. Open that Daily and change it to Monthly schedule. Click Save. Note that the Daily remains active. If you look at the task in the database, it will have `frequency: monthly` but an empty array in `daysOfMonth`.
3. Reopen the Daily and save again. Now it grays out as expected, and `daysOfMonth` has a va

[2018-03-27 22:25] citrusella commented on #10184
Is it important to mention the inn banner at the top of the page when you're checked in is apparently behind the background? Is it supposed to be behind the background or on the same basic level as the navbar? (I suppose this could be an entirely different issue, though...)

[2018-03-27 22:38] Hus274 commented on #9200
Got it now, thanks. Let me take a look

[2018-03-27 23:22] Hus274 commented on #9200
I believe I've fixed the issue, posted a new pull request with the changes here.

[2018-03-28 00:01] beffymaroo opened #10190 "No Option to Change or Remove Hair Style in Tutorial"
When a new user does the initial tutorial with Justin, the default avatar they are given has a ponytail. This ponytail cannot be removed during the avatar editing portion of the tutorial. Bangs can be changed and removed, and color can be changed, but there is no tab for "Style" so the ponytail remains regardless.

![nohairstyles](https://user-images.githubusercontent.com/9218855/38001249-ab62f898

[2018-03-28 03:33] theIsaacLim commented on #9192
I've just finished my first Github issue!
Whoo!
https://github.com/HabitRPG/habitica/pull/10193

[2018-03-28 20:28] che-perez commented on #9603
I want to work on this, but may I have more explanation of what it is that needs fixing?

[2018-03-28 22:43] Alys opened #10195 "decorations cover Featured Quests label in Shops > Quests"
Butterflies cover the "Featured Quests" label in the Quest Shop:

![img](https://i.gyazo.com/4a978cbe59942e0fd9012d6309076bc9.png)

Something similar happened in Shops > Market in the previous Grand Gala as reported in https://github.com/HabitRPG/habitica/issues/10037
The fix for that was to change the z-index of the Featured Items sign so that it would never be covered by the background (https://

[2018-03-28 23:32] GabrielBarbosaGV commented on #10195
Hello! I want to help, it would be my first contribution. However, here I see the butterflies around the button, not on top of it. If it's not much to ask, how do I move them to the button region so I can test the fix? Thank you very much!
![togq](https://user-images.githubusercontent.com/29243693/38061785-1ea8c53a-32c7-11e8-894b-112bdf91818f.png)

[2018-03-29 00:48] SabreCat opened #10196 "User interaction submenu on Party modal Invites tab does nothing"
[//]: # (Before logging this issue, please post to the Report a Bug guild from the Habitica website's Help menu. Most bugs can be handled quickly there. If a GitHub issue is needed, you will be advised of that by a moderator or staff member -- a player with a dark blue or purple name. It is recommended that you don't create a new issue unless advised to.)

[//]: # (Bugs in the mobile apps can also

[2018-03-29 00:53] shanaqui commented on #10196
For reference, this is what I can get (Windows, Chrome):

![image](https://user-images.githubusercontent.com/8144640/38063945-c6925690-32f3-11e8-9688-bda9aca9b5ed.png)

I can message the user by clicking on the avatar and going through their profile as usual, so the option isn't entirely absent, but to be consistent with the members tab it'd be handy and make sense to people if you could do it the

[2018-03-29 04:09] Alys commented on #10195
To reproduce this if it doesn't happen as soon as you load the page, try changing your browser's zoom level or window size.

[2018-03-29 12:22] ESWAT opened #10198 "Consider Moving Blacksmith/Developer Docs to Repository"
Has there been discussion about moving the developer-specific documentation on Wikia to this repo, either as GitHub wiki pages or Markdown files in the actual git repo?

In my opinion it would be better for two reasons:
1. Trivial to update since we can continue to use Markdown in whatever editor we want to make changes
2. Closer to the “source of truth”

With those two reasons I think it would mi

[2018-03-29 14:38] Alys commented on #10198
Having them on the wiki with the other documentation has significant advantages, such as allowing non-technical wiki editors to modiify them (useful for cases where non-technical details need to be changed), being able to use wiki templates throughout them (e.g., a message can be added  at the top of all blacksmith pages by editing a single Wikia file - that was helpful when API v3 was introduced;

[2018-03-29 14:38] #10198 closed, assigned to nobody

[2018-03-29 21:58] lemoness commented on #9603
@tressley

On Wed, Mar 28, 2018 at 1:28 PM, Josue Perez <notifications@github.com>
wrote:

[2018-03-30 04:31] mandyzhou commented on #9863
I'm still experiencing this issue -- will the fix be live soon?

[2018-03-30 05:00] Alys commented on #9863
I've reopened this because from what I can tell we didn't push a specific fix, we just thought it had been fixed incidentally by something else. We might want to look at the linked PR to see if it's still useful.

[2018-03-30 09:07] shanaqui commented on #9986
At least one user is reporting this is still happening, both with the Dysheartener defeat message and with Bailey news items.

[2018-03-30 13:10] Tressley commented on #9603
@che-perez -- Great! Let me see if I can help clarify. On a desktop browser, the site should have roughly ~24px (converted to the proper unit) padding as "gutters" on the left and right. In the screenshot above, you can see that the content below the header is not flush with the content in the header.

![image](https://user-images.githubusercontent.com/2686586/38138762-82eb1974-33fa-11e8-93af-2291

[2018-03-30 16:20] paglias commented on #9200
Closing since the commit that fixes this has been committed to release

[2018-03-30 16:20] #9200 closed, assigned to nobody

[2018-03-30 18:22] SabreCat opened #10202 "Cannot deregister social authentication"
[//]: # (Before logging this issue, please post to the Report a Bug guild from the Habitica website's Help menu. Most bugs can be handled quickly there. If a GitHub issue is needed, you will be advised of that by a moderator or staff member -- a player with a dark blue or purple name. It is recommended that you don't create a new issue unless advised to.)

[//]: # (Bugs in the mobile apps can also

[2018-03-30 20:30] #10173 closed, assigned to nobody

[2018-03-30 20:34] #9951 closed, assigned to nobody

[2018-03-30 20:36] #9649 closed, assigned to nobody

[2018-03-30 20:39] #10195 closed, assigned to nobody

[2018-03-31 03:46] Alys commented on #9335
Fixed in https://github.com/crookedneighbor/markdown-it-linkify-images/commit/0ab7a302f7dd0208ed4b0b842e52aa9c0d01919d

[2018-03-31 03:47] Alys commented on #10172
According to https://github.com/HabitRPG/habitica/pull/10179#issuecomment-377031806 , this has been fixed.

[2018-03-31 03:47] #10172 closed, assigned to nobody

[2018-03-31 03:50] Alys commented on #9136
I'm marking this as needs designs since there's questions for @Tressley

[2018-03-31 04:13] Alys commented on #10135
I'm working on this.

[2018-03-31 05:11] Alys commented on #9980
This issue is open for other conntributors to work on. @howardnoz has done a partial fix in https://github.com/HabitRPG/habitica/pull/9981 which might be a good basis for a new PR.

[2018-03-31 05:17] Alys commented on #10169
I'm reopening this because the fix was reverted in https://github.com/HabitRPG/habitica/pull/10203 but I'm setting it to in progress while we investigate what went wrong with the fix.

[2018-03-31 07:27] Alys commented on #9352
FYI this still happens. The problem is that when Grand Gala gear is available, the gear for your current class is automatically shown in your pinned rewards area (although it is not added to your `pinnedItems` array). Thus if it's been manually added to your `pinnedItems` array, it appears twice.

One possible fix is for the code that automatically shows available Grand Gala gear to look at your p

[2018-03-31 10:29] paglias commented on #9335
The new version of the `habitica-markdown` package hasn't been published to npm yet so I'm keeping this open

[2018-03-31 11:17] #9978 closed, assigned to nobody

[2018-03-31 11:20] #10132 closed, assigned to nobody

[2018-03-31 11:34] #8860 closed, assigned to nobody

[2018-03-31 11:39] #9758 closed, assigned to nobody

[2018-03-31 11:39] #10160 closed, assigned to nobody

[2018-03-31 11:46] #10135 closed, assigned to nobody

[2018-03-31 23:55] Alys opened #10209 "converting from moment().zone to moment().utcOffset"
`moment().zone is deprecated, use moment().utcOffset instead.` http://momentjs.com/guides/#/warnings/zone/

From the utcOffset docs:

It's not a matter of merely changing the code to use `moment().utcOffset` instead of `moment().zone` because we store the `zone` value in the user document in two places. Here's an example taken just after a user changed time zones from UTC+0 to UTC+10:
[code]
Despi

[2018-04-01 05:38] Alys opened #10210 "quest invitation partial failure: RSVPNeeded still true after invitation accepted in party's data, or vice versa"
When a player accepts a quest invitation, it's possible for their acceptance to be recorded in the party (e.g., see the `true` value in the party data below) but for the invitation to not be removed from the player's own party object (see the `RSVPNeeded` value below - it should have been set to false when the invitation was accepted).

This won't be from a code bug as such, but from one update be

[2018-04-01 17:42] shanaqui opened #10213 "Change links in translation strings to variables"
**See [this comment](https://github.com/HabitRPG/habitica/issues/10213#issuecomment-403245134) for current status of this issue**

Report from a user:

"Windows/Desktop browser + language Spanish, When opening an egg with the potion, appears the window:
¡Has eclosionado una nueva mascota! Cachorro de panda Base ¡Visita el Establo para alimentar y equipar a tu nueva mascota!
The "stable" link point

[2018-04-01 17:49] shanaqui opened #10214 "Flagging multiple messages include the same message in the new flags"
When you flag multiple messages on the same page, after you have flagged the first message, subsequent flags automatically include the previous text. You can delete this text and flag without including text, and going to a different guild clears the box, but the persistence of the text might still be confusing ("am I flagging the right thing? Did my last flag go through?").

[2018-04-01 17:58] citrusella commented on #10213
It appears the problem exists in [this file](https://github.com/HabitRPG/habitica/blob/0e74d25eded6100d62eb3f1c9fb99f2efeb4c8a4/website/common/locales/es/pets.json#L80)?

But it seems like it might be translatable in every language but just has (luckily) not been translated? ([Here](https://github.com/HabitRPG/habitica/blob/0e74d25eded6100d62eb3f1c9fb99f2efeb4c8a4/website/common/locales/fr/pets.js

[2018-04-01 19:43] #8671 closed, assigned to nobody

[2018-04-01 19:43] #9214 closed, assigned to nobody

[2018-04-01 21:18] Alys commented on #10213
@citrusella You are correct! It's a problem caused by a translator not realising that `(/inventory/stable)` should not be translated.

In pets.json, the English version is:
`"hatchedPetHowToUse": "Visit the [Stable](/inventory/stable) to feed and equip your newest pet!",`

Four languages have it translated incorrectly:
[code]

I'll fix the ones I can in Transifex and tell the translators about any

[2018-04-02 03:12] siege918 commented on #10117
I've been looking for a good first issue to look at, this one seems right up my alley. Mind if I take a look at it? If it's happening this consistently, I'd suspect it's not just detecting ctrl-enter, but I'd have to take a closer look.

[2018-04-02 06:48] Alys commented on #10117
@siege918 please do work on this - thanks! Post here if you have questions or run into problems.

For @Cappycot's post : I think we wouldn't want a pop up confirmation for ctrl-enter. A short delay might be acceptable if necessary. Sorry we didn't reply to that before now. :(

[2018-04-02 08:12] Alys opened #10217 ""Can't feed this pet" error message should be visible to user not shown in the console"
When you try to feed a Special pet (which can't be fed; e.g., Veteran Wolf), the message "Can't feed this pet" is reported in the browser's javascript console as shown below. The correct behaviour is that the user should see a "growl" notification showing that message (that's one of the notifications that appears near the top right of the website and then disappears after a couple of seconds).

[c

[2018-04-02 20:12] Alys commented on #10210
shanaqui says there are more reports of quest invitation problems now so this might be a code bug after all. My laptop is broken so I haven't investigated.

[2018-04-02 20:20] Alys commented on #10210
BTW if this is caused by one update failing while the other succeeds then the opposite case to what's reported here is basically the same problem (user document being updated; party document not).

[2018-04-02 21:58] allie5 commented on #10214
I can take a look at this?
@Alys

[2018-04-02 22:11] Alys commented on #10214
@alliemoon Please do, thanks! Post here if you have questions.

[2018-04-02 23:18] allie5 commented on #10183
@Alys I'd like to take a look at this one as if no one else has claimed it

[2018-04-03 10:24] Alys commented on #10183
@alliemoon Thank you! Can you wait for a couple of days though? The staff were talking last week about maybe changing how this works and I'm not sure if a decision was reached.

[2018-04-03 18:12] toivomattila commented on #10035
Apparently I can't for some reason even open the debug inventory but I haven't been able to figure out, why. Does this happen to you as well or is it just my installation?

[2018-04-03 18:27] TheHollidayInn commented on #10035
I commented this code out because it was loading all of the content which was causing severe memory leaks. So its possible you won't be able to open it.

[2018-04-03 18:41] jerell-mendoza commented on #10217
hi @Alys, can I take a look at this one?

[2018-04-04 00:01] SabreCat opened #10224 "Modal for handling broken Challenge tasks does not dismiss after user action"
[//]: # (Before logging this issue, please post to the Report a Bug guild from the Habitica website's Help menu. Most bugs can be handled quickly there. If a GitHub issue is needed, you will be advised of that by a moderator or staff member -- a player with a dark blue or purple name. It is recommended that you don't create a new issue unless advised to.)

[//]: # (Bugs in the mobile apps can also

[2018-04-04 16:58] razzlepdx commented on #9840
Wanted to pop in and say I'm still committed to finishing this, had a few bumps getting the local environment set up on my new laptop.  I hope to jump in this weekend and may have some questions then - sorry for the delay!

[2018-04-04 22:32] SabreCat commented on #10217
@jerellmendoodoo It looks like @ESWAT already created a PR for this; let us take a look and see if that covers it before putting any of your own work in!

[2018-04-04 22:33] SabreCat commented on #10210
Bumping up the priority here because of how oddly often it's occurring (and thus chewing up user support time)...

[2018-04-04 22:36] SabreCat opened #10225 "Purchasable avatar customizations disappear idiosyncratically as user changes active selection"
[//]: # (Before logging this issue, please post to the Report a Bug guild from the Habitica website's Help menu. Most bugs can be handled quickly there. If a GitHub issue is needed, you will be advised of that by a moderator or staff member -- a player with a dark blue or purple name. It is recommended that you don't create a new issue unless advised to.)

[//]: # (Bugs in the mobile apps can also

[2018-04-05 07:21] Alys commented on #9840
@razzlepdx I've just done a local install from scratch on a new linux machine and I made [a few small changes](http://habitica.wikia.com/index.php?title=Setting_up_Habitica_Locally&diff=120173&oldid=119837) to the [Setting up Habitica Locally](http://habitica.wikia.com/wiki/Setting_up_Habitica_Locally) instructions. I don't know if they'll help you. I'm pretty keen to get it updated in other ways

[2018-04-05 08:23] majestic-owl448 commented on #10178
It happened right now, I have hatched first a Golden Whale, it didn't
appear right away so I started registering, and tried to hatch a White
Whale. Both appeared after Reloading.
https://drive.google.com/open?id=1moArMh_mDyfPFeezqUbetZ_oxI5LgjOa

It hadn't had the chance to happen before as I didn't have eggs to hatch.

Time: 10:15~10:20 AM UTC+2

[2018-04-05 08:35] Alys commented on #10178
@Ieahleen Thank you!

Nothing's showing up in our logs in Loggly for your account for that time so there were no server errors of the kind that we capture there.

If you still have that browser tab open, can you copy everything in the [console](https://webmasters.stackexchange.com/questions/8525/how-do-i-open-the-javascript-console-in-different-browsers) and paste it into a comment here? Don't wor

[2018-04-05 10:30] majestic-owl448 commented on #10178
I will when/if it happens again. I don't have the window open anymore.
Sorry, I didn't think of it.

[2018-04-05 10:42] Alys commented on #10178
No worries. I didn't think to ask for it in my first post here!

[2018-04-05 21:03] SabreCat commented on #10225
Doesn't only affect skins--saw this happen just now with hair colors, too. Updated.

[2018-04-06 09:03] Alys opened #10228 "creating a challenge when not in a party shows you the "Group not found or you don't have access" error"
If you are not in a party and you start to create a new challenge, as soon as the challenge creation form opens, you see the error message "Group not found or you don't have access" in a red snackbar notification. Server logs show that the error is being thrown from the `GET /api/v3/groups/party` command (which needs to be run to find the name of your party for the case when you are in one).

That

[2018-04-06 09:11] Alys commented on #10228
This stops the player from creating "Public Challenges" (i.e., Tavern challenges to use the old terminology) because the Public Challenges entry doesn't appear in the "Add to" drop-down after the party error is thrown.

[2018-04-06 13:33] #8636 closed, assigned to nobody

[2018-04-06 13:33] #8672 closed, assigned to nobody

[2018-04-06 16:18] ghost opened #10229 "Toolset error during npm install"
Hi, i have followed your docs at http://habitica.wikia.com/wiki/Setting_up_Habitica_Locally, everything works quite well, when i get to the point where i need to do npm install, it returns me error
[code]
what to do?

[2018-04-07 04:05] ESWAT commented on #10196
So I tried looking into this and able to reproduce it easily locally… actually I can’t get that button to work correctly as a group leader.

In my case it looks like the `members-modal` component doesn’t have all the `group` data necessary to determine if the user is the group leader, so it always shows actions that only a regular member would have access to.

But I’ve had no luck in actually fixi

[2018-04-07 08:43] Alys opened #10232 "hatching pet modal does not always show all text (language-dependent)"
When you are hatching a pet, the dialog that asks you to confirm that you want to hatch is not large enough to show the full message explaining what the new pet will be, if your language has longer words than English. For example, in this screenshot, the lines of non-bolded text directly above the buttons have words cut off:

![image](https://user-images.githubusercontent.com/1495809/38453072-0d2e

[2018-04-07 09:39] Mahendran-Nadesan commented on #10229
Having an issue with the toolset as well. I've gotten past the initial error of it not even trying to install the dependencies; I didn't have nuget.exe on my PATH. Currently, can't install because

`` fatal error C1083: Cannot open include file: 'openssl/ssl.h': No such file or directory``

In your particular case, I'd guess you have to manually install the peers of vue-server-renderer@2.x, ajv@^6

[2018-04-07 18:07] shanaqui opened #10234 "Radio button for daily frequency is broken"
[//]: # (Fill out relevant information - UUID is found from the Habitia website at User Icon > Settings > API)
### General Info
  * Browser: Google Chrome
  * OS: Windows 10

### Description
[//]: # When trying to change the repeat options for a daily, the radio button for changing it to "day of the week" is highlighted without unhighlighting "day of the month". It can be unselected by opening the

[2018-04-08 02:48] allie5 commented on #10214
@Alys

I've been looking though the code, I've found the groups.json that contains the placeholder text (the "Please help our moderators by letting us know why you are reporting this post for a violation..." bit) and I've found the reportFlagModal.vue stuff.

And I realized I misunderstood the bug as well, I thought the text of the message you're flagging is persisting but it's the "Why are you re

[2018-04-08 10:25] Alys commented on #10214
@alliemoon I'm not especially experienced with vue myself, so all I really know is that website/client/components/chat/reportFlagModal.vue creates the form for adding the report comment, and there must be something that causes the value of the `reportComment` field to remain in the form after it's closed.

@TheHollidayInn what's the best way of clearing `reportComment` after the form is submitted?

[2018-04-08 12:52] #10190 closed, assigned to nobody

[2018-04-08 13:26] #4819 closed, assigned to Alys

[2018-04-08 20:27] yb50110 commented on #10196
Hey all, I was the one who created a post about this on the bug guild. Today, I found out that the "Remove Invitation" shows up for the modal window that opens when access through the main party page's button:

<img width="203" alt="screen shot 2018-04-08 at 15 26 26" src="https://user-images.githubusercontent.com/31864715/38472160-3b8b580c-3b41-11e8-8e26-69786e4c606d.png">

Although my report on

[2018-04-09 01:30] fentie commented on #10234
I'll take a crack at this

[2018-04-09 06:31] #10234 closed, assigned to nobody

[2018-04-09 06:34] #9192 closed, assigned to nobody

[2018-04-09 06:36] paglias commented on #10234
@shanaqui @Alys I've tested the fix locally and it seems to work well but if one of you can give another look on staging that would be great (it should deploy in the next 15 minutes)

[2018-04-09 11:32] shanaqui commented on #10234
Looks like it's fixed to me!

[2018-04-09 12:11] shanaqui opened #10237 "Party member selection modal for transformation items no longer works"
[//]: # (Fill out relevant information - UUID is found from the Habitia website at User Icon > Settings > API)
### General Info
  * Browser: Google Chrome
  * OS: Windows 10

### Description
[//]: # Originally reported in Report a Bug, confirmed by me. The avatar transformation items should open a modal that allows you to select which member of the party to use the item on. That no longer happens:

[2018-04-09 12:25] Alys commented on #10237
I've done brief testing. If you clear the console and then click the Shiny Seed, no new messages are added to the console.

If you reload the Inventory page, the only things in the console that might be relevant are:
[code]

[2018-04-09 13:24] paglias commented on #10237
I'm investigating but it doesn't happen all the times for me and right now I'm having an hard time trying to cause the error again

[2018-04-09 13:25] paglias opened #10238 ""Invite friends" button in header doesn't work as expected"
When you have a party with only yourself and the header shows the Invite friends button and you click on it the list of party members is shown instead of the invite modal

[2018-04-09 13:32] paglias commented on #10237
How to reproduce: click on "view party" in the header, then try to use the shiny seeds: the error will occur, if you haven't clicked the button before (loaded the party list) it doesn't happen

[2018-04-10 13:17] shanaqui opened #10242 "Search keywords no longer restricting to challenges with that keyword"
From Report a Bug:

I get nothing if I enter "pom party" with quotes, and if I do e.g. "books" I get challenges where "books" isn't even included anywhere in the description or even tasks._

[2018-04-10 14:06] Dewines commented on #10242
Thanks for raising that.  Is this a problem caused by the new "Load More" button? I've started having the same problem. I have a private challenge in my solo party which I use to add a bunch of weekly To-Dos so I don't have to recreate them from scratch each time. It's called "Dewines's weekly household tasks". I used to just go to Discover Challenges and put "Dewines" in the search box and it wou

[2018-04-10 16:29] EthanEFung commented on #10238
@paglias where would I be able to find the invite modal?

[2018-04-10 16:38] paglias commented on #10238
@EthanEFung I think it's in website/client/components/groups/inviteModal!

[2018-04-10 16:52] EthanEFung commented on #10238
@paglias hmm, okay, perhaps then I should get a little more familiar with the code base before committing to this ticket.

[2018-04-10 17:13] paglias commented on #10238
that's fine @EthanEFung, let me know if you have any question

[2018-04-11 02:17] fentie commented on #10055
I see this has been open for awhile... any objection to me taking a shot at it? I have a working solution, it's just a bit crude. I'm curious whether it's important to continue to support multiple expanded sections or not. It currently does, but I've got a scrolling issue still to work out.

[2018-04-11 09:36] Alys commented on #10055
@JacksonCoder how are you going with this? If you have a partial solution would you like to keep working on it or would you rather take up another issue?

[2018-04-11 10:47] Alys commented on #10228
This is open for anyone to work on it now. When you post here to claim it, I suggest that you tell us which method you're intending to use to fix it, so that there's a chance for the staff to comment on that if they wish to.

[2018-04-11 12:06] majestic-owl448 commented on #10178
So, I had three T-Rex eggs, I hatched the first, and nothing unusual, I hatched the secold and it didn't appear, I hatched the third, same. Now I can keep clicking on the pawprints and then on "Hatch", and there is no error shown in the upper right corner, but there is a new one in the console everytime.

[code]

[2018-04-11 20:07] veddy69 commented on #4174
Im new to the app but my Friend whos Been playing for sine time cant find the problem. It just says "dmg pending" but then it reset the dmg without dealing it.. my number is 427b0585-f863-44e3-8c91-2703ed460668

[2018-04-12 08:38] Alys opened #10246 "iOS: recreating ongoing subscriptions as new ones causes failure in cron's monthly subscription benefits"
This occurs for only Apple subscriptions but @phillipthelen says it's not occuring in the app (https://github.com/HabitRPG/habitica-ios/issues/684#issuecomment-380716620).

Mershmella (6c8e2dc6-d78a-4774-b33c-bda79d88192d) reported in the Report a Bug guild that their `gemsBought` value had not reset during cron at the beginning of this month (i.e., they couldn't buy gems with gold this month). I'

[2018-04-12 13:41] Alys commented on #10246
From examining the duplicates in our Slack records, it looks like the first recreated "new" subscription for an ongoing subscription happened around 2018-02-13 or 2018-02-14 - those are the dates when we start seeing entries that are likely to be recreated subscriptions and they're frequent from that time onwards (below are the dates that "new" subscriptions were reported in moderator Slack for pe

[2018-04-12 14:16] Alys commented on #10246
In terms of users affected, based on the data stored in Slack I think there's about 370 users who have had "new" subscriptions created when they've actually had ongoing subscriptions, but probably less than 30 who haven't been given the correct subscription benefits, perhaps significantly less than 30. To be detrimentally affected they have to have been unlucky enough for the "new" subscription to

[2018-04-12 15:49] TheHollidayInn commented on #10246
It looks like the requests on Loggly are coming from iOS. So we should stop whatever is causing those to be sent.

In addition, we can add a check here: https://github.com/HabitRPG/habitica/blob/develop/website/server/libs/payments/apple.js#L84 to ensure we don't create subs for users with an active subscription. I'll be doing that since I happen to already be working on some test coverage here.

[2018-04-12 16:29] SabreCat commented on #10246
Correct re: the release notes. I love Git, but figuring out chronological order on GitHub is an exercise in futility.

[2018-04-12 17:49] TheHollidayInn commented on #10237
Paglias' PR was merged. Is this issue fixed now?

[2018-04-12 17:53] #10237 closed, assigned to nobody

[2018-04-12 18:09] beffymaroo commented on #3571
@Feywood Are you still working on the unresolved aspects of this issue (noting that the related commits are "partial fixes")?

[2018-04-12 18:10] beffymaroo commented on #4040
@PetalsOnWind Are you still working on this issue? Please let us know. :)

[2018-04-12 18:14] beffymaroo commented on #5757
@Yutsuten Are you still working on this issue? Please let us know. Thanks! :)

[2018-04-12 18:39] beffymaroo commented on #8619
@LunarGem Are you still working on this issue? Please let us know. Thank you! :)

[2018-04-12 18:41] beffymaroo commented on #8620
@LunarGem Checking in about the status of this issue! Let us know if you're still planning to work with it. Thank you. :)

[2018-04-12 18:42] beffymaroo commented on #8663
@MathWhiz Are you still working on this issue? Please let us know when you have a chance. Thank you! :)

[2018-04-12 18:45] shadimoustafa opened #10249 "Member List number in Guilds doesn't fit"
- **Description**
When in Discover Guilds, the member list number on the left side does not fit in the box if it's over 3 digits.

- **Changes**

Before:
![before_change](https://user-images.githubusercontent.com/35777080/38686114-917a5b98-3e41-11e8-92ec-7db97b51d90c.JPG)

After:
![after_change](https://user-images.githubusercontent.com/35777080/38686119-968860f8-3e41-11e8-9cd6-8cb288375e99.JPG)

[2018-04-12 18:48] beffymaroo commented on #8834
@alexanderqchen Are you still working on this issue? Please let us know!  Thank you.

[2018-04-12 18:52] beffymaroo commented on #9216
@Feywood Hi there, are you still working on this issue? Please let us know. Thank you!

[2018-04-12 18:54] beffymaroo commented on #9248
@Feywood Please let us know if you are still working on this issue. Thank you!

[2018-04-12 18:55] beffymaroo commented on #9249
@khipkin Are you still working on this issue? Please let us know when you have a chance. Thank you!

[2018-04-12 18:58] beffymaroo commented on #9256
@TNychka Is this issue still in progress? Please let us know. Thank you!

[2018-04-12 19:02] beffymaroo commented on #9293
@qhuynh96 Are you still working on this issue? Please let us know. Thank you!

[2018-04-12 19:03] beffymaroo commented on #9305
@perkyguy Are you still working on this? Please let us know. Thank you!

[2018-04-12 19:04] beffymaroo commented on #9351
@kartikadur Are you still working on this? Please let us know. Thank you!

[2018-04-12 19:04] TNychka commented on #9256
@beffymaroo yep, there is a PR in progress here that's waiting on some input: https://github.com/HabitRPG/habitica/issues/9320

[2018-04-12 19:26] alexanderqchen commented on #8834
Hi @beffymaroo ! I apologize for my lack of communication, but I no longer be working on this issue.

[2018-04-12 19:49] paglias commented on #10249
Hi @shadimoustafa thanks for this but maybe you wanted to open a PR instead of an issue?

[2018-04-12 21:01] shadimoustafa commented on #10249
Yes, I will go ahead and open a PR since I have the fix for this issue. Thanks

[2018-04-12 21:11] Yutsuten commented on #5757
@beffymaroo Yes, my PR is ready for review, so I'm waiting for reviews or to have it merged in develop.

[2018-04-12 23:41] snowsignal commented on #10055
@fentie, feel free to work on this issue. I've been really busy and haven't been able to work on it much. I actually wanted to take on another issue as well.

[2018-04-13 00:01] Alys commented on #10055
@JacksonCoder Thanks! @fentie please go ahead! Thank you!

[2018-04-13 04:48] #10249 closed, assigned to nobody

[2018-04-13 08:17] kartikadur commented on #9351
@beffymaroo - I do want to do this, but I am currently handling a few pressing concerns. Let me know if there is someone else who wants to solve this.

[2018-04-13 13:16] #10202 closed, assigned to nobody

[2018-04-13 13:19] #10012 closed, assigned to nobody

[2018-04-13 13:22] #9630 closed, assigned to nobody

[2018-04-13 17:41] #10246 closed, assigned to nobody

[2018-04-13 19:41] SabreCat opened #10253 "UI misleadingly suggests that a Royal Purple Gryphon can be hatched from a Royal Purple Potion + Gryphon egg"
[//]: # (Before logging this issue, please post to the Report a Bug guild from the Habitica website's Help menu. Most bugs can be handled quickly there. If a GitHub issue is needed, you will be advised of that by a moderator or staff member -- a player with a dark blue or purple name. It is recommended that you don't create a new issue unless advised to.)

[//]: # (Bugs in the mobile apps can also

[2018-04-13 21:50] joe307bad commented on #9166
I think I am running into this issue. Could you elaborate on how you fixed it?

[2018-04-14 12:02] Alys commented on #10178
@Ieahleen Thank you for that! There's a couple of interesting parts:

[code]
That won't be related to this issue but it's good that we know about it!

[code]
I've seen those "No 'Access-Control-Allow-Origin' header" messages in other contexts when the server has been having trouble (e.g., when trying to fetch guild chats while 50* errors are common). Maybe what's happening here is that Habitica's

[2018-04-14 13:06] joedragons commented on #9188
Noticed today with the banner on when I was completing things that the notifications were coming in under the now pushed down header.
I'll make a note to eventually report in the guild and/or see if there's an open github issue but I recalled this ticket so posting here as well/to start.

![habiticarevampfeedback28](https://user-images.githubusercontent.com/9559205/38768509-0a5c5c32-3fc3-11e8-8ed1

[2018-04-14 13:43] guyguy2001 commented on #8619
@LunarGem I though about it a few days ago, but forgot to send until now:
If you encounter the error which I encountered, where the achievement counter jumps from 2 to about 300, it might be because it is a string and you used it as a number. If you suspect that that is the case, try logging the `typeof` of that counter.

[2018-04-14 14:13] #8574 closed, assigned to negue

[2018-04-14 14:14] paglias commented on #9188
@joedragons the issue you're looking for is #10169

[2018-04-14 14:16] #9275 closed, assigned to negue

[2018-04-14 14:37] joedragons commented on #9188
@paglias Thank you sir=) UPDATE: Bleh I can't read >.<

[2018-04-14 14:38] paglias commented on #9188
Actually that hasn't been fixed yet :)

[2018-04-15 02:36] Alys opened #10254 "checklist checkboxes should not be clickable in Group Plan's "Task Board" page"
If you try to complete a checklist item in the Task Board page in a Group Plan, a tickmark appears in the checkbox and you see the message "Task not found" (see screenshot).

The correct behaviour is that the checklist boxes should not be clickable at all, in the same way that the main checkbox for the entire task is not clickable.

The "Task not found" message should NOT be removed from the backe

[2018-04-15 08:09] Alys commented on #9809
A related problem was reported in the Bug guild: "On the level up popup, when you click share to twitter or facebook, it shares the following link, which is broken: https://habitica.com/social/level-up"

@nowmeow Are you still interested in working on this? If you don't want to create all the code needed to implement sharing, then you could hide the share menu from the "Invite Friends" feature and

[2018-04-15 09:56] Alys opened #10255 "free class change is incorrectly reported as costing gems in Amplitude"
When you reach level 10 and choose a class for the first time, the class change is recorded in Amplitude as costing 3 Gems. As an example, this is from a test account that I just created and raised to level 10:
![image](https://user-images.githubusercontent.com/1495809/38777155-9e4fa51a-40e6-11e8-9dd9-27aab9ded60e.png)

The correct behaviour for the first class change is for the `gemCost` to be re

[2018-04-15 11:40] qhuynh96 commented on #9293
Sorry @beffymaroo! I could not find the fix for this issue

[2018-04-15 12:12] Alys opened #10256 "prevent typing a private message when your chat privileges have been revoked"
When someone has their chat permissions revoked, they aren't allowed to PM another user. This is handled correctly by the API and if they type a PM in the website's Inbox, it doesn't go through to the recipient, but it appears to have been sent until refresh on the user's end. That can be quite confusing and wastes the user's time typing the message.

The desired behaviour is that when a muted use

[2018-04-15 12:13] Alys commented on #9249
@shanaqui I've copied the information from your comment to a new issue because it can be worked on separately than this one: https://github.com/HabitRPG/habitica/issues/10256 "prevent typing a private message when your chat privileges have been revoked"

[2018-04-16 01:11] ghost commented on #9809
@Alys
Yes, I am still interested in working on this. Sorry for the ridiculous amount of time.

[2018-04-16 22:35] Alys commented on #10242
The current search is no longer useful. For example, you can search for an exact phrase from the title of a challenge and it can take numerous clicks of "Load More" for the challenge to appear. Many users won't realise they need to do this and so will never find the challenges they're looking for.

I think we need an API route that searches Challenge titles and returns all of the results at once,

[2018-04-17 00:29] SabreCat opened #10261 "Cannot edit Guild information for a Group Plan"
[//]: # (Before logging this issue, please post to the Report a Bug guild from the Habitica website's Help menu. Most bugs can be handled quickly there. If a GitHub issue is needed, you will be advised of that by a moderator or staff member -- a player with a dark blue or purple name. It is recommended that you don't create a new issue unless advised to.)

[//]: # (Bugs in the mobile apps can also

[2018-04-17 01:30] SabreCat commented on #9828
The most recent comment from @Alys re: the drop-down not working seems to have been incidentally fixed somehow? At least, I'm unable to reproduce it in Staging while it does still happen to me in production.

If you're affected by that, there is a workaround: click the search field and drag away. That seems to keep your cursor in the field without closing it.

[2018-04-17 01:37] #10105 closed, assigned to nobody

[2018-04-17 03:45] TNychka commented on #9326
Hey I can take this

[2018-04-17 03:52] Alys commented on #9326
@TNychka Thanks! Go for it! :)

[2018-04-17 13:27] brightbold commented on #9295
@Alys Any progress on the design decision? Is there anything anyone can do to help move that along? I really miss seeing my header sorted by most recent login (so I can tell who's active, and see people's outfits as they change — somehow the default sort order shows all the people in my party who haven't checked in in months) so I'd be motivated to help get this to the point that @kartikadur could

[2018-04-17 14:20] LunarGem commented on #8619
Ok, so my keyboard is still wonky, and I have a *lot* of work to do before graduation. I still really want to finish, though.

[2018-04-17 19:54] beffymaroo commented on #8834
@alexanderqchen That's totally fine, thank you for letting us know!

[2018-04-17 19:55] beffymaroo commented on #9256
@TNychka Great, thank you for the update!

[2018-04-17 19:55] beffymaroo commented on #5757
@Yutsuten Excellent, thank you for the update!

[2018-04-17 19:57] beffymaroo commented on #9351
@kartikadur Thank you for responding! If you think you will not be able to get to this within the next month, please let me know so I can change the status to "Help Wanted".

[2018-04-17 19:58] beffymaroo commented on #9293
@qhuynh96 Thank you for responding!

[2018-04-17 19:59] beffymaroo commented on #8619
@LunarGem If you think you'll be able to get to it relatively soon, I'm happy to leave it as "in-progress" for now so you can continue working on it.

[2018-04-17 20:02] beffymaroo commented on #6503
Any updates on the status of this issue? @Alys

[2018-04-17 20:07] beffymaroo commented on #9477
@Tressley Can you update about what might be needed here? Thanks!

[2018-04-17 20:09] beffymaroo commented on #9654
Any updates on whether this issue should remain open?

[2018-04-17 20:12] beffymaroo commented on #9876
@Tressley Any thoughts on this?

[2018-04-17 20:18] beffymaroo commented on #7645
@TheHollidayInn @Alys Is this still in process?

[2018-04-17 20:20] Tressley commented on #9876
Oh no! This one slipped through the cracks. For now I'd prefer we show it in a disabled state.

![image](https://user-images.githubusercontent.com/2686586/38894433-39e10ae4-425b-11e8-8122-881c61d6f74b.png)

[2018-04-17 20:24] beffymaroo commented on #8813
@Alys @abatula Is this issue still in process?

[2018-04-17 20:44] beffymaroo commented on #9651
@seekheart Are you still working on this issue? Please let us know. Thank you!

[2018-04-17 20:45] Feywood commented on #9216
Hi @beffymaroo I'll have to drop this one. Too much on my plate. Sorry!

[2018-04-17 20:45] beffymaroo commented on #9694
@dprice809 Are you still working on this issue? Please let us know. Thank you!

[2018-04-17 20:46] beffymaroo commented on #9701
@BradLugo Are you still working on this issue? Please let us know. Thank you!

[2018-04-17 20:47] beffymaroo commented on #9748
@Kiwilicious Are you still working on this issue? Please let us know. Thank you!

[2018-04-17 20:48] Feywood commented on #3571
@beffymaroo I think the partial fix was in the end added onto and made into a complete fix, so as far as I know, this one is completed and merged.

[2018-04-17 20:48] beffymaroo commented on #9754
@rkojima Are you still working on this issue? Please let us know. Thank you!

[2018-04-17 20:49] Feywood commented on #9248
Still trying on this one!

[2018-04-17 20:52] ghost commented on #8350
Hey @Alys, could I take this issue? Already fixed the bug on my local install, so now I just need to write a clear comment and write tests for it.

[2018-04-17 20:53] beffymaroo commented on #9806
@Mahendran-Nadesan Are you still working on this issue? Please let us know. Thank you!

[2018-04-17 21:02] beffymaroo commented on #9861
@rkojima Is this issue still in progress? Please let us know. Thank you!

[2018-04-17 21:03] beffymaroo commented on #9899
@kartikadur Are you still working on this issue? Please let us know. Thank you!

[2018-04-17 21:04] beffymaroo commented on #9901
@lex111 Are you still working on this issue? Please let us know. Thank you!

[2018-04-17 21:05] beffymaroo commented on #9904
@Mahendran-Nadesan Are you still working on this issue? Please let us know. Thank you!

[2018-04-17 21:06] beffymaroo commented on #9932
@theubermanishere Are you still working on this issue? Please let us know. Thank you!

[2018-04-17 21:07] beffymaroo commented on #9957
@Inshabel Are you still working on this issue? Please let us know. Thank you!

[2018-04-17 21:08] beffymaroo commented on #9958
@khipkin Are you still working on this issue? Please let us know. Thank you!

[2018-04-17 21:10] lex111 commented on #9901
@beffymaroo unfortunately, I have not worked on it yet, it seems that in the near future I will not be able to find the time, sorry :(

[2018-04-17 21:15] beffymaroo commented on #10069
@EthanEFung Are you still interested in working on this issue? Please let us know. Thank you!

[2018-04-17 21:19] beffymaroo commented on #10184
@hathix @SabreCat Are there lingering things with this issue that still need fixes after merging the above PR?

[2018-04-17 21:32] TheHollidayInn commented on #10184
The above PR is merged and the transparency seems to be fixed on production.

[2018-04-17 21:32] #10184 closed, assigned to nobody

[2018-04-17 21:36] EthanEFung commented on #10069
hey @beffymaroo , you can release this ticket again. Sorry for delaying!

[2018-04-17 21:37] TheHollidayInn commented on #8790
I'm closing this because I want to rethink the solution after measuring, refactoring and consulting with mongo best practices.

[2018-04-17 21:37] #8790 closed, assigned to nobody

[2018-04-17 21:38] TheHollidayInn commented on #9220
Looks like this was fixed in the previous PR.

[2018-04-17 21:38] #9220 closed, assigned to paglias

[2018-04-17 21:43] TheHollidayInn commented on #9499
I've fixed this in a separate issue that also included mounts. https://github.com/HabitRPG/habitica/pull/9882

[2018-04-17 21:43] #9499 closed, assigned to nobody

[2018-04-17 21:45] TheHollidayInn commented on #9648
Looks like the PR was merged!

[2018-04-17 21:45] #9648 closed, assigned to nobody

[2018-04-17 22:29] Alys commented on #9295
There's been no progress so far.

@Tressley What if we did something simple for now and then it could be revisited later if needed? For example, in the party members list, just under the Sort drop-down, there could be a button labelled "Apply this sort to header". When you click it, your most recent sort selection is saved to your `party.order` setting so it would then be permanently applied to th

[2018-04-17 23:25] Alys commented on #8350
@asherdale Sorry I only just noticed your comment! Yes, please work on this. I'll remove my own claim. Have a look at the linked PR's comments in case there's anything relevant there.

[2018-04-17 23:31] Alys commented on #3571
@Feywood Thanks! :)

[2018-04-17 23:31] #3571 closed, assigned to nobody

[2018-04-17 23:58] Alys commented on #7645
The bug still happens. I don't think there's a fix currently in progress.

[2018-04-18 01:04] seekheart commented on #9651
@beffymaroo all yours homie

[2018-04-18 03:37] librarianmage commented on #8663
@beffymaroo I am not

[2018-04-18 03:52] Kiwilicious commented on #9748
Sorry, I forgot about this. If it's not yet fixed, I'm fine with someone
else taking it from here.

On Tue, Apr 17, 2018 at 1:47 PM, beffymaroo <notifications@github.com>
wrote:

[2018-04-18 06:51] kartikadur commented on #9351
@beffymaroo No worries, I was planning on hopefully getting around to it by the end of this month, but should that seem impossible I'll definitely let you know.

[2018-04-18 06:54] kartikadur commented on #9899
@beffymaroo I have a few pressing concerns to deal with at the moment. I hope to get around to it by the end of this month.

[2018-04-18 08:09] paglias commented on #9654
I'm closing this as we won't be making this change any time soon

[2018-04-18 08:09] #9654 closed, assigned to nobody

[2018-04-18 11:11] Alys commented on #9800
I'm closing this because it's not a problem right now because it's currently possible to buy off-class gear. Once we fix that bug, I'll see if this issue needs to be reopened.

[2018-04-18 11:11] #9800 closed, assigned to nobody

[2018-04-18 11:20] Alys commented on #9559
#9532 was closed without a fix because I couldn't replicate it on Firefox and we didn't see any recent reports of it.

I can't replicate this bug, but that doesn't mean it's fixed since it depended on multiple modals opening which is hard to replicate. I'm closing this but I'm about to post to Aspiring Socialites to ask them to keep an eye out for it.

[2018-04-18 11:26] Alys commented on #9801
Yes, still as shown in the screenshot. It also occurs in PC browsers in a narrow window - that's the easiest way to test for it.

[2018-04-18 11:33] Alys commented on #9550
I can't replicate it. We can reopen this if it's reported again.

[2018-04-18 11:33] #9550 closed, assigned to nobody

[2018-04-18 11:48] Alys commented on #9283
This hasn't been fixed and is open for a contributor to take up. There's an incomplete PR at https://github.com/HabitRPG/habitica/pull/9308 that might be usable as a basis for a fix but see paglias's comment in the PR.

[2018-04-18 12:11] Alys commented on #9204
I've edited the top post to indicate what needs to be done for this issue and I've deleted some old comments that didn't have any relevant content in them. This issue is open for a contributor to work on it.

[2018-04-18 12:27] Alys commented on #8794
To any contributors working on this, there's a partial fix at https://github.com/HabitRPG/habitica/pull/9034 but note these two points:
- Replacing `moment().zone` with moment().utcOffset` should not be done in this issue - see https://github.com/HabitRPG/habitica/issues/10209 for considerations about that change.
- I'm not sure we should specify any countries/cities in AVAILABLE_TIMEZONES (or any

[2018-04-18 12:35] Alys commented on #8735
@Malcorr Thanks for letting us know! I'll mark this as help wanted but if it's still here when you have more time free, you'd be welcome to claim it again!

[2018-04-18 13:37] Alys commented on #8087
For the `dueDate` parameter mentioned in my previous comment, I've added placeholder documentation in this commit: https://github.com/HabitRPG/habitica/commit/ade14edcd70fb1b17f8fd00d2302039c1eadf42b

What's the purpose of that parameter? When you specify it, it doesn't affect which Dailies (or other tasks) are returned. Instead, it changes the `nextDue` dates in Dailies in the returned data:
http

[2018-04-18 18:47] beffymaroo commented on #9216
@Feywood Thanks for the update!

[2018-04-18 18:47] beffymaroo commented on #9248
@Feywood Thanks for the update!

[2018-04-18 18:48] beffymaroo commented on #9901
@lex111 That's fine, thank you for the update!

[2018-04-18 18:49] beffymaroo commented on #10069
@EthanEFung That's fine, thank you for letting us know!

[2018-04-18 18:59] beffymaroo commented on #9651
@seekheart I will not be working on it myself, but thank you for the update. I will open it up so others know it's available.

[2018-04-18 18:59] beffymaroo commented on #8663
@MathWhiz Thank you for the update!

[2018-04-18 19:01] shanaqui commented on #9559
From citrusella in Report a Bug:

[2018-04-18 22:00] yb50110 commented on #9863
I'm not sure if this is a dumb answer, but removing the `!important` app.vue ln 111 seems to remove the extra scrollbar as well as allowing the stack on modal windows to properly show (ie. open party member and try to send message; clicking away from modal should show the party member's modal again).

 #9875 PR does indeed remove the extra scrollbar but it messes up the stack of the modal windows.

[2018-04-18 22:22] TheHollidayInn commented on #10214
You would need to reset the `Component's data`.

So here is the data: https://github.com/HabitRPG/habitica/blob/21954647725ebd28bd56484ef52f1f0b08438e3f/website/client/components/chat/reportFlagModal.vue#L91

To reset reportComment, you would need to add `this.reportComment = ''` at this line: https://github.com/HabitRPG/habitica/blob/21954647725ebd28bd56484ef52f1f0b08438e3f/website/client/compone

[2018-04-18 22:25] TheHollidayInn commented on #9863
I think you are right about the fix. It is a simple one. The issue is this: https://github.com/HabitRPG/habitica/issues/9863#issuecomment-359821737.

We have the !important mark to prevent the bootstrap class from messing up. We've updated bootstrap vue since then, so we just need to ensure we don't revert back to scrolling issues.

[2018-04-18 23:47] ghost commented on #9809
@Alys Sorry, but I have to pass on this issue.  I'm just not competent enough yet.  Hopefully in the future I will become a better contributor.  Enjoy the rest of your week, and sorry again for wasting time.

[2018-04-19 04:06] Alys commented on #9809
@ghost That's okay! Thank you for trying! And for letting us know. :)

[2018-04-19 04:12] rkojima commented on #9861
Oh I think I have a PR for it: https://github.com/HabitRPG/habitica/pull/10042
But I don't think I could work on it now; all it needs is some tests

[2018-04-19 04:12] rkojima commented on #9754
Hey sorry, I haven't been working on this. Will probably be best if you take me off this issue.

[2018-04-19 06:18] shanaqui opened #10264 "drawer text overlapping when window is small or font size is large or language is non-English with long words"
From Bug Guild, confirmed in Firefox on Linux as well:

[2018-04-19 07:01] Alys commented on #10264
Firefox screenshots with small window (note the merging of "Special" and "What does my...."):
![1](https://user-images.githubusercontent.com/1495809/38975914-ea2bffec-43f2-11e8-94d6-281baa029dcf.png)

Firefox screenshot on smaller window:
![2](https://user-images.githubusercontent.com/1495809/38975915-ea7364c2-43f2-11e8-8c5a-42d5db9cf8be.png)

Firefox screenshot with larger window but an increased

[2018-04-19 07:02] Alys commented on #10264
I expect the same thing would happen in other drawers under similar conditions so ideally the fix for this issue would consider all of them.

[2018-04-19 12:16] Mahendran-Nadesan commented on #9904
Unfortunately I haven't looked at it much recently - I ran into errors after pulling the latest version. I seem to be missing some dependencies, but it's not obvious to me how to get them. I don't mind relinquishing this issue if someone else really wants it; if not, I'll try to fix my copy asap and work on the issue over the weekend!

[2018-04-19 12:18] Mahendran-Nadesan commented on #9806
Hi, please see my comment here: https://github.com/HabitRPG/habitica/issues/9904#issuecomment-382712136

[2018-04-19 18:46] SabreCat commented on #9295
There is a design out for this now, and I've been assigned to work on implementing it. I'll link a PR here once I have something together!

[2018-04-19 23:04] ghost commented on #9278
I believe that this issue can be closed, as the "Show Bailey" works for me after being clicked just once. The last comment in [this PR that is referenced above](https://github.com/HabitRPG/habitica/pull/9315) seems to think that this issue was fixed in [this larger PR](https://github.com/HabitRPG/habitica/pull/9716).

[2018-04-20 05:41] shanaqui opened #10267 "Quest information modal doesn't respond to changing window size"
From a user in the Bug Guild:

And:

*UPDATE*

The responsive part has been fixed in https://github.com/HabitRPG/habitica/pull/10354

[2018-04-20 06:02] Alys commented on #9278
@asherdale Thanks!

[2018-04-20 06:02] #9278 closed, assigned to nobody

[2018-04-20 12:46] Tressley commented on #9295
Commenting the Zeplin art board here for quick reference: https://zpl.io/VkYM1Lb

[2018-04-20 13:14] ghost commented on #9339
Hey @Alys @lemoness, could I tackle this issue?

Just to make I'll do the right fix: the 'You lost some Experience' notification should be removed completely, correct? Or should it be changed to a 'You gained some Experience' notification? I'm assuming that we should just remove the 'You lost some Experience' notification because the 'Level Up!' notification already makes it very clear that the us

[2018-04-20 16:20] fentie commented on #8893
@Alys for what it's worth I think I encountered this bug just a few days ago:

[code]

[2018-04-20 21:54] beffymaroo commented on #9904
@Mahendran-Nadesan You're welcome to continue working on this! We're just doing a sweep to update in-progress issues is all. Thank you for responding!

[2018-04-20 21:54] beffymaroo commented on #9806
@Mahendran-Nadesan Thank you for the updates!

[2018-04-21 00:03] ghost commented on #9957
Hi beffymaroo, I am still working on this. I've identified roughly 20,000 unused strings, Including duplicates over all languages (So about 710 per language).

I've removed about 10,000 so far, but it is a fairly long manual process, so is taking a lot longer than I'd initially expected.

[2018-04-21 01:20] Alys commented on #9957
@Inshabel I'm afraid you don't need to edit the other languages at all - only the files in the locales/en/ directory. The other languages will pick up all changes from Transifex. See the README files in those directories for more details.

If you've made changes to the files in the en directory, would you like to submit just those in a pull request?

[2018-04-21 02:10] ESWAT commented on #10217
@jerellmendoodoo @SabreCat Feel free to grab this issue if you want; I won’t have time to develop a proper solution for it.

[2018-04-21 02:19] fentie commented on #9222
It appears regardless of the coding outcome, this will require some extra localized strings. Should this have a `type: translations` label as well or would that be a separate, linked issue?

[2018-04-21 02:55] Alys commented on #9222
@fentie No need for either! :) Localised strings are added to the /en/ directory only, then those files are uploaded to Transifex where the translators fill in all the other languages. Until that's done, the en strings are automatically used by default for all languages. See the _README files in the non-en directories for more details. The "type: translations" label is used for coding issues relat

[2018-04-21 03:18] ghost commented on #9957
Oh I see, sorry. Wasn't aware.

That should speed up the rest of the process then. I can submit a pull request today for that.

Thanks for the info, thought it was a longer process than it needed to be :/

[2018-04-21 22:42] Alys opened #10272 "all tags (filters) deleted from `tags` array and tasks"
In the Report a Bug guild, Sora (8e421e84-1e5d-4961-8d6c-fb33d751d795) reports:

"My filters suddenly disappeared both from the list and the task."

"I was editing a few to-dos and when I clicked the tags for one of them, they just weren't there. At first I thought I had clicked the "clear all filters" button but I have been told that's not how that function works. I was on the website but I usual

[2018-04-21 23:01] Alys commented on #9368
I'm reopening this because I've seen one report that it's still happening and I don't think  #10243 could fix it. That PR adjusts which icon is shown when you are able to re-hatch a pet but it doesn't have any code for making sure the icon does get updated at the time that you re-hatch the pet.

[2018-04-22 03:07] Alys commented on #9368
Here's an example of this bug for the case where I did not already have the mount. The screenshot below was taken immediately after I had used a Saddle to turn the Base Wolf Pet into a Mount. This was my `items.pets` and `items.mounts` data at the same time the screenshot was taken:
[code]

![image](https://user-images.githubusercontent.com/1495809/39090930-d7332c98-462d-11e8-96c0-f197cf58a18d.png

[2018-04-22 03:12] Alys opened #10273 "Pet image / hatching / rehatching confusion in the Stable; inconsistency with mobile apps"
We've had some bug reports about the way that pets are displayed in the Stable on the website and how it's confusing for telling which pets/mounts you own, harder to tell how complete your pet/mount collection is, and inconsistent with the mobile apps:

"a large portion of the pets in my stable have reverted to the black paw with question mark. I had the full set of basic ones and now about 2/3 ar

[2018-04-22 06:26] majestic-owl448 commented on #10273
also the previous behaviour (3 and 4 with the same image) was causing confusion for people that use the quick hatch from the stables as people sometimes wouldn't realise they could hatch the pet again after having obtained the mount. But there weren't bug reports because they didn't realise the function was even there, there were instead people that realised the thing after being explained what Tr

[2018-04-22 12:11] Alys opened #10275 "quest invitation partial failure: RSVPNeeded never received"
When a party member uses a quest scroll to send quest invitations to party members, two things happen:
- the party's `quest.members` object is updated with a list of all members' User IDs, each with the value `null` (later changed to true or false when the member accepts/rejects)
- each member has the quest's key added to their party data and has `party.quest.RSVPNeeded` set to true (later changed

[2018-04-22 12:44] shanaqui commented on #10273
On reflection, I'm okay with this change but think there should be actual explanation on the page -- a visual key is the simplest, but any explanation is better than none. Having four states to intuit just seems like too much.

[2018-04-22 17:10] citrusella commented on #10273
I personally think there should be a visual difference between "pet you've never gotten" and "pet you can hatch again" (even if it's not the *same* visual difference there was before).

I feel like it's less important for "gen 1" pets but I used it to determine which magic potion pets I'd never hatched as pets at all to figure out how many magic potions I might want to buy at once (because I don't

[2018-04-22 17:17] TheHollidayInn commented on #10275
This is a good use case for: https://www.mongodb.com/transactions.
Also, we should probably move this code to a queue. If we implement at retry mechanism, we definitely need it off the main server.

[2018-04-22 20:55] Alys commented on #10273
@citrusella makes a good point about the Magic Potion pets. It's highly advantageous to let the players see which pets and mounts they own at a glance to help them  buy the right number of potions. Buying too many potions adds a support burden since we have to manually remove them and return the gems.

----

Here's another bug report that helps to clarify why the black paw print is confusing for p

[2018-04-23 08:45] PetalsOnWind commented on #4040
I had some exams lately and didn't really work on this

[2018-04-23 13:59] dprice000 commented on #9694
@beffymaroo  Sorry I am not working on this.

[2018-04-23 18:14] citrusella commented on #9559
Also happens with the Copy as To-Do modal, I've just noticed.

[2018-04-23 18:23] ghost commented on #9339
@Alys @lemoness just a friendly reminder to see if I can work on this issue and also for my question above :)

[2018-04-23 20:28] majestic-owl448 commented on #9339
My two cents on this (I have received the mail and was thinking on this): right now you can't see how much experience you gained from the task you just clicked that caused level up, maybe it could be shown that so to have the same thing happen as every other time you complete a task? (Showing experience, gold and mana gained from the completed task and the Level up! notification)
I don't even know

[2018-04-23 20:38] ghost commented on #9339
That make sense, and I think either solution would be good. Like you said, however, I am not sure how easy this would be to implement (I already played around with it a little bit). Maybe I can first just fix the bug that this issue references by removing the 'You lost some Experience' notification (which I have already fixed on my local install), and then we could open another issue (or trello ti

[2018-04-24 01:49] beffymaroo commented on #4040
@PetalsOnWind Thank you for responding! I've added the "Help Wanted" label to this issue for now, but if you'd like to try again let us know.

[2018-04-24 18:37] ianoxley commented on #10264
Is it OK for me to work on this?

[2018-04-25 14:57] TheHollidayInn commented on #10242
I don't think we need a new api route. The solution should be to modify the current query to make titles more focused. We can try removing description for example. But whoever works on this should look into mongo query search.

[2018-04-25 15:14] shanaqui commented on #10242
Note: I just searched for a challenge (Read the World April) with an exact phrase from the title ("read the world"). It took 11-12 "load more"s to find it, and returned things where literally the only matching text in the challenge was the word "the" and, possibly, "already", if it was matching "read" because it's in "already".

I'd be interested to see what removing "the" (and other common words)

[2018-04-25 15:41] TheHollidayInn commented on #10242
Removing stop words could help too, yea.

But if we are assuming they are searching title and removed the description query, I think that would have solved the problem too.

[2018-04-25 17:17] ghost commented on #9339
@leahleen Any update on this?

[2018-04-25 17:27] beffymaroo commented on #9754
@rkojima Thank you for letting us know!

[2018-04-25 17:30] beffymaroo commented on #9694
@dprice809 Thank you for letting us know!

[2018-04-25 17:33] majestic-owl448 commented on #9339
@asherdale : I am not someone that can answer you, mine was just an idea that I brought up

[2018-04-25 17:34] beffymaroo commented on #10217
@jerellmendoodoo Are you still interested in working on this issue? Let us know when you have a moment. Thank you!

[2018-04-25 17:59] ghost commented on #9339
Ok thanks @Ieahleen! @Alys can I work on this?

[2018-04-25 18:16] beffymaroo commented on #10035
@toivomattila @TheHollidayInn Is this issue still in process?

[2018-04-25 20:19] shanaqui opened #10279 ""Show more" button persists in the stables even when the section it belongs to is hidden"
Reported in Report a Bug, confirmed by me:

(Edited the title because I dunno where my brain was.)

[2018-04-25 20:27] shanaqui opened #10280 "Hovering over the megaphone icon in a challenge on its own page shows "undefined""
From Bug Guild, confirmed:

![image](https://user-images.githubusercontent.com/8144640/39270919-bc2a7ed6-48d7-11e8-9ca1-d5ced38872b3.png)

[2018-04-25 20:27] shanaqui opened #10281 "Text overlapping in Seasonal Shop"
![img](https://image.ibb.co/hJd0Gx/Screen_Shot_2018_04_24_at_21_41_23.png)

[2018-04-25 21:53] Alys opened #10282 "party/guild invitations should not be possible from a player you have blocked"
When you have blocked a player from sending private messages to you, currently that player is still able to send you invitations to a party or a guild. This should be changed so that the player cannot send you any invitations.

_(FYI, we've already removed the ability for the player to send you gifts of gems and subscriptions, as well as private messages.)_

[2018-04-25 22:16] Alys commented on #9339
@asherdale I'm sorry, we should have replied days ago. :(  Yes, please work on this issue, thank you for persisting with it! We do want the "You lost some Experience" notification to be removed completely.

@Ieahleen is right that the best solution would be to show you how much XP you earned from the task but that is likely to be complicated. The way those notifications are created is by comparing

[2018-04-25 22:44] Alys commented on #10264
@ianoxley Please do, thank you! Comment here if you have questions, or would like any direction about how to fix it, or would like to discuss your preferred way of fixing it.

[2018-04-25 22:53] Alys commented on #8893
@fentie Thank you! I've reopened this issue and adjusted the labels and top post.

[2018-04-25 23:12] Alys commented on #6503
The issue still exists but I'm not sure it's important enough to fix it. The difference is very small. Also if the user's own stats have changed in between ticking and unticking the task, then the calculation would be wrong anyway.
There's been talk about keeping a history of actions and results so if that's ever done, that would be a better source of data for accurately undoing task completions.

[2018-04-25 23:12] #6503 closed, assigned to nobody

[2018-04-26 00:12] jerell-mendoza commented on #10217
@beffymaroo, Hi yeah I'd like to have a go at it!

[2018-04-26 00:56] abatula commented on #8813
I haven't had a chance to fix my local install, so I haven't been working on it.

[2018-04-26 03:09] fentie commented on #10280
I can probably take this on. It looks like the `challenge` data attached to the tasks on the Challenges page is just the ID, but on the user's Tasks page it also contains the shortName, which is used to populate that hover.

Need to dig into how mongo querying works...

[2018-04-26 04:05] Alys commented on #10280
Thanks @fentie!

BTW, my feeling is that the on-hover effect could just be removed when you're viewing the challenge's own page. I don't think it serves any purpose there.

[2018-04-26 04:19] Alys commented on #10229
The http://habitica.wikia.com/wiki/Setting_up_Habitica_Locally instructions have been rewritten for Windows, Linux, and MacOS (Vagrant and Docker will be done too), so you might find that following them from the start gives you a better result now. Can you please try that and then comment here if it was successful or if you still have trouble?

[2018-04-26 04:32] toivomattila commented on #10035
@beffymaroo Yes, I'm still working on this.
The inventory isn't working because the logic is handled by Angular code so I'm in progress of changing it to Vue.

[2018-04-26 13:57] fentie commented on #10280
... right. that's way easier. good idea 😄

[2018-04-26 15:43] Tressley commented on #10118
We do have an updated design for these: https://zpl.io/bJNwA1W
![image](https://user-images.githubusercontent.com/2686586/39316360-f8e20fd2-4946-11e8-8fcf-9b5e2dc21a8e.png)

[2018-04-26 16:12] fentie commented on #10280
... right. that's way easier. good idea 😃

[2018-04-26 20:16] Alys opened #10286 "pinned quest equipment should become unpinned when earned from a quest"
If you earn a piece of equipment from a quest then lose that gear due to death and then pin it to your Rewards area, if you regain the equipment by repeating the quest, it does not automatically become unpinned. The expected behaviour is that when you are given the piece again, it is removed from your `pinnedItems` list.

However this is a bit of an edge case and can be fixed by the user unpinning

[2018-04-26 21:58] Alys opened #10287 "Webhooks explanation is needed on Settings > API page"
On the [Settings > API](https://habitica.com/user/settings/api) page, there's a Webhooks section. It needs one or two sentences under the heading to explain what it's for (e.g., a very brief description of what webhooks are, maybe a link to a good website for more details, and a message that if you don't know what a webhook is, it's best to leave the section empty because incorrect values can caus

[2018-04-26 22:21] Alys opened #10288 ""likes" / "plus-one" count icon no longer shows +0 or turns green when you've liked"
When you click "like" on a chat message, the count increases but the count and its icon no longer turn green not even after you reload.

I'm pretty sure it turned green until very recently but I might be misremembering.

[2018-04-26 22:59] citrusella commented on #10288
The button on the website turns blue like it has since the redesign for me. The count hasn't been green (or blue) since before the redesign as far as I know.

[2018-04-26 23:03] Alys commented on #10272
There was an earlier report of this which I've reconstructed from data I've been saving from the Report a Bug guild:

Tanya (0d3ec2d8-bd44-4aed-9706-ebab1abb0ab0) 2018-03-27: **"All of my tags disappeared. I had maybe 10 of them, and now everything's just one big jumbled list. :-("**

shanaqui: "That sounds weird! Can you give us more details? Do you mean your tasks became untagged, or that the ta

[2018-04-26 23:12] Alys commented on #10272
There's nothing in our server logs for Tanya from 2018-03-25 and 2018-03-27. The earliest log record still in Loggly is 2018-03-28 so I think we've missed our chance to find any errors that might have happened. For the past three days, there's a couple of "Your session is outdated" errors but nothing that would explain another tag going missing then.

[2018-04-26 23:21] Alys commented on #10288
Maybe I was imagining it being green. `confused` Cantras also thought it was. Don't know...

Maybe I'm thinking of the app??

[2018-04-26 23:33] citrusella commented on #10100
Is this supposed to be fixed? I just had it happen.

[2018-04-27 00:21] Alys commented on #10100
Could be from a different cause. Reopening.

[2018-04-27 00:52] yb50110 commented on #10267
I have a quick idea for this that will prevent overlapping for smaller by fiddling with the CSS. Should I put up a pull request or just provide what I have adjusted as a comment?

[2018-04-27 10:53] Alys opened #10289 "option to opt out / opt in to private messages is missing from Messages / inbox screen"
The old website had an option to opt out of private messages and opt back in.  It should be added back to the new website. (It was reported as missing soon after the new website went live but we don't seem to have an issue for it yet. This might be a duplicate though.)

As well as the on/off switch, there should be a bit of text that explains what it's for - e.g., if you opt out, then no one can s

[2018-04-27 11:31] Alys commented on #10288
From AnneLine (16a107de-d519-43ce-8c30-8da5cbcbb237) in the Report a Bug guild:

"... it looks as if the area stays blank near where the 'like' should show if no one has liked anything.  It used to show a "+0" ..."

Maybe that's what's been confusing me. `shrug`

Was that a deliberate design change?

[2018-04-27 11:41] greenkeeper[bot] opened #10290 "Version 10 of node.js has been released"
## Version 10 of Node.js (code name Dubnium) has been released! 🎊

To see what happens to your code in Node.js 10, Greenkeeper has created a branch with the following changes:
- Added the new Node.js version to your `.travis.yml`
- Replaced the old Node.js version in your `.nvmrc` with the new one
- The engines config in 1 of your `package.json` files was updated to the new Node.js version

If you

[2018-04-27 14:41] pengfluf opened #10291 "Installation with 'npm install' failed because of 'memwatch-next@0.3.0'."
Hi.
I was following the [guide](http://habitica.wikia.com/wiki/Setting_up_Habitica_Locally_on_Linux), reached the node modules installation step and can't move on.
Here's what I got after ```npm install```:
[code]
Node version: 8.11.1
npm version: 5.8.0
node-gyp version (I'm not sure is it important or not): 3.6.2

In the proccess of searching, I came across the same problem, but those issues are

[2018-04-27 15:31] yb50110 commented on #10267
I added this to the `modal.scss` file:
[code]

I couldn't figure out why the CSS/SCSS changes weren't being reflected when I made changed in the `startQuestModal.vue`. And as my two cents, I think in smaller windows, stacking these side panels below the main content would be better (more legible?) than having them side by side.

[2018-04-27 15:50] ghost commented on #10253
@SabreCat Could I try to tackle this issue? Also, do you know where you guys store the valid egg+potion combos?

[2018-04-27 15:57] tmkuba commented on #9789
I just want to update this issue and confirm that the iOS version (version 1.14 (295)) has the options available and is working correctly.

![2018-04-27 08 54 32](https://user-images.githubusercontent.com/17801759/39372309-d8c0ffda-49f8-11e8-9837-b1b0968eecf5.png)

[2018-04-27 17:42] paglias commented on #10291
Are we still using this @TheHollidayInn ? I'm fine with making it an optional dep since it's only used in production

[2018-04-27 17:42] #10290 closed, assigned to nobody

[2018-04-27 17:43] paglias commented on #10291
btw, I'm having the same issue with node 10 (but not node 8)

[2018-04-27 17:45] TheHollidayInn commented on #10291
We are still using this. Making it optional for development is fine.

[2018-04-27 17:48] paglias commented on #10291
It's optional now

[2018-04-27 17:48] #10291 closed, assigned to nobody

[2018-04-27 18:58] citrusella commented on #10288
According to what I remember about the old site ([here (the No +1s section)](http://habitica.wikia.com/wiki/Chat?oldid=109709#No_.2B1s_Yet) and [here (the old site's behavior when you moused over, saw a post liked by others, and saw a post liked by you, respectively)](https://vignette.wikia.nocookie.net/habitrpg/images/4/48/Plus_One_Buttons.png/revision/20180130015350), it didn't work like that th

[2018-04-27 21:21] yb50110 commented on #9651
@Tressley Would this be the right CSS in `item.scss`:
[code]

[2018-04-28 02:37] Alys commented on #10288
I'm just going to close this. I'm clearly not remembering anything well enough. Thanks citrusella!

[2018-04-28 02:37] #10288 closed, assigned to nobody

[2018-04-28 02:58] Alys opened #10293 ""Points Available" title is visible when no points are available"
Currently this happens only on our staging site and in local installs.

When you have allocated all your unassigned points, the "Points Available" header remains visible in the Stats screen, even after reloading. Below are three screenshots:

A. From staging/production when you have points available (same on both sites).
B. From staging when no points are available.
C. From production when no poin

[2018-04-28 05:30] TheHollidayInn commented on #10293
Eh, I did this on purpose. But didn't realize the title. We should just change the title text.

[2018-04-28 06:51] Alys opened #10294 "To-Do audio sound effect plays only once"
If you mark a To-Do complete, you hear the expected sound effect but then if you mark others complete, you don't hear the sound.

If you then complete a different type of task and then a To-Do again, you hear the To-Do noise, but again it's just for one To-Do - further ones are silent again.

Note that when testing this on a local install, you can avoid interference from the drop sound effects by

[2018-04-28 07:15] Alys commented on #8500
There's been several reports of this in the Report a Bug guild over the past two days (not sure about earlier since SabreCat now does the admin support in the Bug guild except on weekends). All of the users listed below didn't have tasksOrder errors when I checked.

Ellen (e8f7c866-bee2-414d-a797-6395ed2999e5): "Almost every time I try rearranging any of my tasks without using the "To Top" or "To

[2018-04-28 15:34] #10025 closed, assigned to nobody

[2018-04-28 15:36] #8350 closed, assigned to nobody

[2018-04-28 15:37] #9339 closed, assigned to nobody

[2018-04-28 15:38] #10280 closed, assigned to nobody

[2018-04-29 01:47] Alys opened #10295 "Lunar Battle quest scrolls show wrong unlock conditions"
The three Lunar Battle quest scrolls are unlocked after a certain number of check-ins. However for the second and third scrolls, the Quest Shop says that you can unlock them by completing the preceding quests, which is wrong, as well as saying they unlock after check-ins, which is correct.

In the two screenshots below, only the first sentence is correct. The second sentence should not appear.

![

[2018-04-29 04:11] Alys opened #10297 "show accurate Experience (XP) gain in notification on level-up"
As described in https://github.com/HabitRPG/habitica/issues/9339, the Experience notification was deliberately removed when you level up because it was reporting that you lost XP. Strictly speaking, it was correct that you'd lost XP because on level-up you go from a high XP to 0 XP, however it's demotivating to see a message about losing XP.

The Experience notification should appear and should co

[2018-04-29 04:12] Alys commented on #9339
@asherdale Thanks for the fix!

I've logged a new issue as we discussed above: https://github.com/HabitRPG/habitica/issues/10297 "show accurate Experience (XP) gain in notification on level-up"

[2018-04-29 12:03] joedragons commented on #9339
Thus curious will this fix also fix the "bug" when you see this notification intermittantly when clicking a task as complete (but not leveling) or if those are distinct pieces of code.

[2018-04-29 17:30] Amethystix commented on #10294
I'm actually not even hearing the first sound effect; to-dos are just completely silent for me.  I tried refreshing the page, checking off something else before checking off a to-do, and even just creating and checking off more, but it's still silent while the other sounds play normally.  I'm using Chrome.

[2018-04-29 18:08] paglias commented on #9923
The webhooks PR has a fix to make sure invalid notifications are removed from the user object, so I'm going to close this

[2018-04-29 18:08] #9923 closed, assigned to Alys

[2018-04-29 20:54] Alys commented on #9339
@joedragons Do you mean that as you're completing tasks, you're sometimes seeing that you're losing Experience, Gold, and Mana? That means that you've had a [sync error](http://habitica.wikia.com/wiki/Sync_Errors), where your actions aren't permanently saved and are later reverted (e.g., a task becomes unticked so you lose the Experience from it). Sync errors can happen if you take several actions

[2018-04-29 20:56] shadimoustafa commented on #10281
@Alys  @shanaqui

I would assume changing the height of the font for .limitedstring in buyModal.vue would fix this bug.

   .limitedString {
        height: 16px;
        margin-left: 8px;
      }

Please let me know if I am mistaken. I would like to work on this but it's hard to test the changes.

[2018-04-29 21:07] Alys commented on #10281
@shadimoustafa Thank you for wanting to work on this! The fix isn't really something we can judge until we've seen it in place so if you'd like to experiment with it on a local install and then submit a pull request, please go ahead! I'll mark this issue as in progress for you, but if you decide to not work on it, just let us know! :)

[2018-04-29 22:08] Alys opened #10298 "Death modal appears multiple times when dying after Record Yesterdays Activites"
Embrace (9030eb72-300a-4d82-997d-8094504a3c99) reports:

**"When you die, it's super buggy. The modal div appears and then instantly goes away, and then appears and then instantly goes away, and then appears again. On the third time it finally stays put like it's supposed to."**

**"It's happening when I die from not completing dailies on the previous day. The modal pops up asking which ones you c

[2018-04-29 22:15] joedragons commented on #9339
@Alys Yeah thanks, I didn't know it was a thing big enough to have a wiki=)  I assume the xp reversion will still be a thing since it's a distinct error.  But thanks for the info, doesn't really matter I suppose, I was just curious=)

[2018-04-30 07:27] csgray commented on #9651
Is anybody working on this? If not, I think I can knock it out now that my dev environment is stable. I don't think the responsive design should be difficult. csgray@alaska.edu

[2018-04-30 14:04] LunarGem commented on #8620
Yeah, sorry, still graduating... And my keyboard has developed an issue... But I'm getting a new computer for college so...? I'll try to move forward on this but unfortunately no guarantees. (I feel terrible for not keeping my promises here... ☹️ ).

[2018-04-30 14:55] ghost commented on #10253
@Alys see above? :)

[2018-04-30 15:16] paglias commented on #10253
Go for it! Regarding where we store the valid egg+potion I'm not sure we do outside of the user's items where all valid combos are stored (set to false if an item is not valid)

[2018-04-30 20:51] SabreCat commented on #10253
@asherdale https://github.com/HabitRPG/habitica/blob/develop/website/common/script/content/stable.js is what you're after, I believe! The logic there assembles the following combination sets:

1. Base pet species + standard potion colors
2. Base pet species + premium (Magic) potion colors
1. Quest pet species + standard potion colors
2. Special pet species

The first three are hatchable, the last

[2018-04-30 20:56] SabreCat commented on #8500
I definitely have been seeing this several times throughout each week. I'm a bit at a loss, as I don't know how best to help the users affected. :(

[2018-04-30 21:52] beffymaroo commented on #8620
@LunarGem That's OK! If you don't think you'll be able to get to this within the month I can change it back to "Help Wanted" status, and if no one claims it before you have time to work on it, you can certainly claim it again! Let me know.

[2018-04-30 21:55] beffymaroo commented on #9305
@perkyguy I'm changing this to "Help Wanted" for now, but if you find time to pick it up again before it's claimed you're welcome to claim it again.

[2018-04-30 23:12] SabreCat opened #10306 "Header of mount raising modal gets stuck naming first mount of session"
[//]: # (Before logging this issue, please post to the Report a Bug guild from the Habitica website's Help menu. Most bugs can be handled quickly there. If a GitHub issue is needed, you will be advised of that by a moderator or staff member -- a player with a dark blue or purple name. It is recommended that you don't create a new issue unless advised to.)

[//]: # (Bugs in the mobile apps can also

[2018-04-30 23:46] khipkin opened #10308 "TypeError in login-incentives: Cannot read property 'nextRewardAt' of undefined"
[//]: # (Before logging this issue, please post to the Report a Bug guild from the Habitica website's Help menu. Most bugs can be handled quickly there. If a GitHub issue is needed, you will be advised of that by a moderator or staff member -- a player with a dark blue or purple name. It is recommended that you don't create a new issue unless advised to.)

[//]: # (Bugs in the mobile apps can also

[2018-04-30 23:49] khipkin commented on #10308
The little pop-up notifications on the top right of the screen also contain no text.

![image](https://user-images.githubusercontent.com/5641207/39455620-58d70bc0-4c96-11e8-97fd-fa5e624d6e95.png)

No new errors in the console after that.