[2015-05-16 22:27] damiananero commented on #5060
(tag) Yes, I did it, but it didn't help
(new tasks) Ok

[2015-05-16 22:29] deilann commented on #5060
@Alys, can you look into the db side?

On Sat, May 16, 2015 at 3:27 PM, damiananero notifications@github.com
wrote:

[2015-05-17 03:41] Alys commented on #5060
@damiananero your account in the HabitRPG database shows that you have 9 Habits (including the two 'third party' habits that can be deleted as @deilann said), 11 Dailies, 17 To-Dos, and 5 Rewards however they are all from challenges (except those two deletable ones).

I can download a database backup to retrieve your missing tasks. Can you please tell me how many hours ago did you last see all of

[2015-05-17 03:42] Alys commented on #5045
@damiananero's problem is being sorted out in https://github.com/HabitRPG/habitrpg/issues/5060#issuecomment-102698667. @damiananero Please don't report problems in two places at once. As you've seen, you'll get replies in both places and so it increases the time we spend helping you.

[2015-05-17 03:42] #5045 closed, assigned to nobody

[2015-05-17 03:51] #5203 closed, assigned to nobody

[2015-05-17 04:08] #5140 closed, assigned to nobody

[2015-05-17 04:43] Alys commented on #5204
Current stats for usage of the costume option, counting all users who created their account more than 60 days ago and logged in within the past 30 days (i.e., established, returning users):

{ "_id" : { "preferences_costume" : false }, "count" : 11418 }
{ "_id" : { "preferences_costume" : true }, "count" : 12923 }
{ "_id" : { "preferences_costume" : null }, "count" : 18774 }

About 30% are using a

[2015-05-17 05:05] #5183 closed, assigned to nobody

[2015-05-17 06:30] alestanis opened #5226 "In the Tavern, checked dailies after midnight, didn't reset the next day"
Hi,

User id: c5a8c2cc-5a4e-4526-abdc-a33b0fbbddc5

I checked in the Tavern after the dailies resetting feature was added (thanks a lot!).
The first nights, everything worked like a charm but yesterday I checked my dailies after midnight (I have a custom con time to 2am).

This morning, my dailies were not reset.

[2015-05-17 07:45] damiananero commented on #5060
@Alys The last time I saw all my tasks was ~ an hour before my post here (in my timezone it was 16th may 23:30 or something like that). I didn't add any new tasks nearly a week, so it won't do any harm if you just take a backup from 16th morning

And sorry for double commenting, it was my inadvertence

[2015-05-17 07:58] Alys commented on #5226
When you say you "checked your Dailies after midnight" do you mean that you marked them as completed after midnight, or do you mean that you looked at your Dailies after midnight to confirm that they were marked as completed and you saw that they were? Sorry about this but "checked" can have both meanings and I want to be sure which one is correct here.

Were _all_ your Dailies not reset or just s

[2015-05-17 08:04] Alys commented on #5060
@damiananero Thank you! That's very helpful. I've started downloading a backup. If we're lucky, it will be faster than average and I'll be able to restore your tasks before I go to bed in three hours, but I think it's more likely that I won't have all the data until I wake up about 12 hours from now.

I recommend that you start [Resting in the Inn](http://habitrpg.wikia.com/wiki/Rest_in_the_Inn) n

[2015-05-17 08:08] alestanis commented on #5226
I marked them as checked after midnight. This morning I manually unchecked
them, then reset my experience, money and mana values and reset my streaks.
On May 17, 2015 09:58, "Alys" notifications@github.com wrote:

[2015-05-17 08:09] alestanis commented on #5226
Oh, and this morning they were exactly as yesterday night. The ones I had
checked were checked and the ones I had not checked were unchecked.
On May 17, 2015 10:08, "Alejandra Estanislao"
wrote:

[2015-05-17 08:13] damiananero commented on #5060
@Alys Thank you) I'll wait in the inn till everything is alright. Have a good sleep)

[2015-05-17 10:41] Blommelina commented on #5013
Hello, dear HabitRPG admins!

I have a bag report, concerning my HabitRPG account. Yesterday I finished all my daily tasks and marked them done before the end of the day (which is 2 a.m. in my case), but today somehow my characters died and lose 2 levels at the time. It was ok when I refreshed the page at night but in the morning this unexpected change happened. My hero was also not sitting on her

[2015-05-17 11:23] Alys commented on #5013
@Blommelina I'm very sorry, you were hit by this bug: https://github.com/HabitRPG/habitrpg/issues/4313. Please see the Advice section near the top for ways to recover from the damage. When you die, you can always buy back the piece of equipment that you lost.

[2015-05-17 12:52] Blommelina commented on #5013
@Alys Thank you for answer!
Did I get it right, I can buy back the equipment even if that was a unique seasonal item? Sorry for asking again, but I really liked that set and that'd be a shame to lose it forever.

[2015-05-17 13:01] hairlessbear commented on #5013
@Blommelina Yes, you can buy back your equipment. From the [wiki](http://habitrpg.wikia.com/wiki/Death#Lost_Equipment) (emphasis added):

And don't forget, if you'd like to restore the gold/level/experience you lost, you can always use [Fix Character Values](http://habitrpg.wikia.com/wiki/Fix_Character_Values) to manually change the values :)

[2015-05-17 13:11] hairlessbear commented on #5204
What about a message/link on the avatar customization page? For users who only buy the standard class gear, they may never go to the equipment page, since each upgraded piece of gear is auto-equipped. But, if they want to visually alter their avatar, they will go to the avatar customization page no matter what, so I think some sort of mention/link about the costume option would be appropriate ther

[2015-05-17 13:14] hairlessbear commented on #5204
I also agree with @Alys that a question mark won't help. Currently, the "Costume" title has a popover that says "_If you prefer the look of other gear to what you have equipped, check the "Use Costume" box to visually don a costume while wearing your battle gear underneath._" If questions are still be asked with that available, I doubt a question mark will make a substantial difference.

[2015-05-17 13:42] hairlessbear opened #5228 "Ethereal Surge splits mana deduction into two parts"
![etereal surge split](https://cloud.githubusercontent.com/assets/7059890/7670601/a3f1f6e0-fc78-11e4-93d0-da37d9e5cd7e.jpg)

This doesn't occur with any other Mage spells, and I haven't tested it with any other classes.

[2015-05-17 14:07] hairlessbear commented on #5228
I just finished testing on my local copy with every spell from every class, and Ethereal Surge is the only one that exhibits this behavior.

Also, the split values vary. If using Ethereal Surge without logging out or making any other major changes, the split values stays consistent. But anytime major changes are made (e.g., change class, log out then back in), the split values can change. But even

[2015-05-17 14:13] AnitaYCheng opened #5229 "New quest modal pops up before notification of old quest completion"
My party is extremely quest-happy as of late, and someone offered a new quest immediately after we defeated the previous boss, when I wasn't online. Due to the order of notification priority (I presume), the alert for a new quest invitation popped up before "You've defeated X boss!" modal. Once I accepted the new quest, the "You've defeated X boss!" modal was underneath.

To minimize confusion, I

[2015-05-17 16:06] TheresaVestal commented on #5226
I checked into the inn yesterday and checked off some stuff before midnight. This morning the dailies have not reset. Do I need to reset everything manually? Also if I reset it manually while I am still in the inn will I need to reset my streaks? I did try refreshing the page with no effect.

[2015-05-17 16:08] TheresaVestal commented on #5226
Also if I reset it manually while I am still in the inn will I need to reset my streaks?

[2015-05-17 16:24] Alys commented on #5226
@TheresaVestal Were all your Dailies not reset or just some of them?

It's up to you whether you reset them manually or not. It's very likely that they will become reset automatically tomorrow night.

Whenever you untick a Daily (whether you are Resting or not), the streak always decreases by one, so if you do reset them manually, you might also want to increase the streaks manually.

[2015-05-17 16:26] TheresaVestal commented on #5226
It looks like none were reset.

On Sun, May 17, 2015 at 9:24 AM, Alys notifications@github.com wrote:

[2015-05-17 18:22] Alys commented on #2804
I'm closing this now that https://trello.com/c/TjZc6PnC/466-skills-v3-stat-rebalancing exists.

[2015-05-17 18:22] #2804 closed, assigned to nobody

[2015-05-17 18:25] Alys commented on #2191
I'm closing this since we've recently [modified the skills](http://habitrpg.wikia.com/wiki/User_blog:LadyAlys/Skills_Rebalancing_and_Other_Changes) and feedback can be given at https://trello.com/c/TjZc6PnC/466-skills-v3-stat-rebalancing

[2015-05-17 18:25] #2191 closed, assigned to nobody

[2015-05-17 18:32] Alys commented on #5228
The split changes depending on your INT. One notification shows how much MP the skill gives (to the other party members, not to you), and that MP depends on your INT. The other notification shows the remaining amount that you spent.

FYI, the two notifications were made to appear at the same time in https://github.com/HabitRPG/habitrpg/pull/4919 (previously, one would appear first, and then the ot

[2015-05-17 18:32] Alys commented on #2410
This behaviour changed earlier this year (https://github.com/HabitRPG/habitrpg/pull/4919). You still get two separate notifications for the MP you spend when you cast the skill, but they appear at the same time, which makes the total cost a bit clearer. See also https://github.com/HabitRPG/habitrpg/issues/5228

[2015-05-17 18:32] #2410 closed, assigned to nobody

[2015-05-17 18:37] LadyAviy opened #5230 "Paid subscription twice, did not receive two months subscription"
So I paid for a subscription once but found it was somehow going to my mom's email address. I couldn't figure out how to change the address. When I went to the credit card options I saw the 'log out' option near the email but assumed, fairly I think, that clicking it would log me out of my account and thus wasn't going to solve my problem. I eventually canceled my subscription and then immediately

[2015-05-17 18:40] Alys commented on #5230
Because this is about your private financial details, we should deal with it by email instead of here in GitHub where it's public.

Please email admin@habitrpg.com. Include the message you've written here. Please also include the user ID of your mother's account.

If the email address that you use with PayPal or Stripe is different than the one you will be using to send the email, please tell us w

[2015-05-17 18:40] #5230 closed, assigned to nobody

[2015-05-17 19:02] hairlessbear commented on #5228
Huh. The current implementation doesn't make that clear at all. The two notifications are styled identically and give no indication that they're referring to two different things. I still can't tell which value is which.

I think it would be much better if one notification was the expected `-30 MP`, and the other was something like "Your party gains <value> MP!"

[2015-05-17 19:05] Alys commented on #5228
Yes, it would be better if it gave a single notification of "-30 MP". If you can work out how to make that happen, please do a PR. I don't think we should have a second notification saying that your party gains MP, because that's the point of the skill and we don't have those notifications for any other party skill.

[2015-05-17 19:11] Alys commented on #3023
Closing because this is from March 2014.

FYI there is information about sync errors at http://habitrpg.wikia.com/wiki/Sync_Errors

[2015-05-17 19:11] #3023 closed, assigned to nobody

[2015-05-17 19:12] hairlessbear commented on #5228
I'll try to figure it out. I'm unfamiliar with any of the spells code though, so it may not happen anytime soon.

[2015-05-17 19:12] Alys commented on #3265
We never found anything that might have caused this behaviour and the skills have been rewritten now, so I'm closing this.

[2015-05-17 19:12] #3265 closed, assigned to nobody

[2015-05-17 19:14] Alys commented on #5075
I'm closing this because we now have a Trello card for commenting on problems with skills: https://trello.com/c/TjZc6PnC/466-skills-v3-stat-rebalancing

@acoundexist If you still feel that the skill needs changes, please comment there.

[2015-05-17 19:14] #5075 closed, assigned to nobody

[2015-05-17 19:18] Alys commented on #5060
@damiananero I've restored your tasks. Please let me know if there's still any problems!

[2015-05-17 19:24] Alys commented on #4067
fixed long ago

[2015-05-17 19:24] #4067 closed, assigned to nobody

[2015-05-17 19:27] Alys commented on #4148
This issue was caused by very high buffs which, since the recent skills rebalancing, are now MUCH harder to obtain. Thus this bug would be either impossible or very difficult to get now. I'm closing this, but it can be reopened if the bug reoccurs (please provide new screenshots).

[2015-05-17 19:27] #4148 closed, assigned to nobody

[2015-05-17 19:29] Alys commented on #4557
I'm closing this since it sounds like the weird behaviour was due to bugs in the Fluid browser, however it can be reopened if the same thing is happening in Chrome or Firefox.

When travelling through timezones, it's recommended to [Rest in the Inn](http://habitrpg.wikia.com/wiki/Rest_in_the_Inn) while your device's time is being changed, until all of your Dailies have been marked as completed, be

[2015-05-17 19:29] #4557 closed, assigned to nobody

[2015-05-17 19:32] Alys commented on #3770
@lemoness Is this still desired?

(FYI, to developers, the tutorials have been modified since the previous comment.)

[2015-05-17 19:32] Alys commented on #4269
I'm closing this because we fixed the bug that prevents level-up from skills.

[2015-05-17 19:32] #4269 closed, assigned to nobody

[2015-05-17 19:36] Alys commented on #5228
No hurry!
https://github.com/HabitRPG/habitrpg/blob/develop/common/script/content.coffee#L523
https://github.com/HabitRPG/habitrpg/blob/develop/common/script/content.coffee#L543

[2015-05-17 19:45] Mandragora2 commented on #4986
Hi, I cannot pass my level I have this error too :(

[code]

[code]

[code]

User-ID : 910f0443-1694-4853-a4c6-40d591dc3d54

[2015-05-17 19:48] VanZeidt commented on #4986
Try to level up without casting a spell.
On May 17, 2015 9:45 PM, "Mandragora2" notifications@github.com wrote:

[2015-05-17 19:55] lemoness commented on #5221
This makes sense!

On Sat, May 16, 2015 at 5:40 AM, k8sullyvan notifications@github.com
wrote:

[2015-05-17 19:56] Mandragora2 commented on #4986
@VanZeidt Thanks for your answer, it works for me. Sorry :(

[2015-05-17 20:04] hairlessbear commented on #5228
Thanks! I actually found that on my own; the code I was looking for was the code that actually runs the spells. I think I found it though; it's a combination of [this](https://github.com/HabitRPG/habitrpg/blob/develop/website/public/js/controllers/rootCtrl.js#L244-285) and [this](https://github.com/HabitRPG/habitrpg/blob/develop/website/src/controllers/user.js#L341-410), right? The thing I'm still

[2015-05-17 20:05] Alys commented on #1449
I'm guessing this is referring to Resting in the Inn which is now indicated by preferences.sleep, so I'm closing this.

[2015-05-17 20:05] #1449 closed, assigned to lefnire

[2015-05-17 20:06] lemoness commented on #944
@Awesumounk This GH thread is no longer in use. For feature requests, please use Trello :)

[2015-05-17 20:11] Alys commented on #1259
I'd really like this to not be implemented. The potential for new users to kill themselves accidentally is enormous and we don't need more questions and complaints about accidental death.

I don't think it's unreasonable to expect users to not buy a reward until they've earned the gold for it or to adjust the reward cost to make it cheaper (although of course that can't be done for in-game rewards

[2015-05-17 20:11] #1259 closed, assigned to SabreCat

[2015-05-17 20:17] Blommelina commented on #5013
Finally I've noticed this helmet in the Store! Sorry for asking all those silly questions. I feel so ashamed!
Many thanks for your help and patience though!

[2015-05-17 20:20] Alys commented on #821
I'm very much against putting passwords (such as the API token) in URLs. URLs are stored in browser history, web server logs, etc and can be sniffed in transit. It's very insecure.

The uuid and token gives full access to your account, which means that anyone finding them can read all your private information (including messages from other users!) and can delete your entire account. I understand t

[2015-05-17 20:20] #821 closed, assigned to nobody

[2015-05-17 20:24] Alys commented on #819
This is old, and the errors discussed here have probably been resolved. If not, someone having trouble with a local installation can ask for help in a new issue or in the Aspiring Coders guild. See also http://habitrpg.wikia.com/wiki/Guidance_for_Blacksmiths and linked pages.

Regarding the initial request to have the local installs be different than the production site: The primary purpose of a l

[2015-05-17 20:24] #819 closed, assigned to nobody

[2015-05-17 20:26] damiananero commented on #5060
@Alys Thank you! Everything is on its' place)))

[2015-05-17 20:27] Alys commented on #1499
I'm closing this because it's very old and many site changes have been made since it was logged, which have probably resolved or improved these problems. This can be reopened if needed, but I suggest that new issues are probably better.

[2015-05-17 20:27] #1499 closed, assigned to paglias

[2015-05-17 20:32] Alys commented on #2302
Old. Closing in the hope that it's magically fixed itself.

[2015-05-17 20:32] #2302 closed, assigned to nobody

[2015-05-17 20:43] Alys commented on #5228
There's a thing that watches the value of your MP and sends a notification whenever it changes:
https://github.com/HabitRPG/habitrpg/blob/develop/website/public/js/controllers/notificationCtrl.js#L44

[2015-05-17 20:44] Alys commented on #1800
The front page has been changed greatly since this was logged, so I'm closing this.

[2015-05-17 20:44] #1800 closed, assigned to nobody

[2015-05-17 20:51] hairlessbear commented on #5228
@Alys have I told you you're wonderful recently? Because you definitely are :smile:. Thank you! I didn't realize that's how some of the notifications work; that probably would've taken me a while to find on my own.

[2015-05-17 20:53] Alys commented on #2044
I'm unassigning SabreCat and adding the entry level coding tag. I'll advertise this in the Aspiring Coders guild when we've sorted out words.

To see the buttons that this issue discusses, you must go to your stats page and select "Automatic Allocation" then "Distribute points based on task activity", then edit any task and go into "Advanced Options". See screenshots below for the four buttons and

[2015-05-17 20:59] Alys commented on #1865
Fixed in a change that has been lost in the mists of ancient time.

[2015-05-17 20:59] #1865 closed, assigned to nobody

[2015-05-17 21:38] crookedneighbor commented on #1259
I fully support closing this issue.

[2015-05-17 21:41] Alys commented on #1912
I also have seen hardly any complaints about this so I'm closing it. A long period of being very good at a Daily makes it very blue, and so you're rewarded by a very slow decline back to red (it definitely does decline though).

[2015-05-17 21:41] #1912 closed, assigned to nobody

[2015-05-17 21:45] Alys commented on #5228
You may show me exactly how wonderful you think I am by documenting that somewhere on the wiki. ;)

[2015-05-17 21:49] Alys commented on #1916
Leaving a guild now triggers a page refresh which fixes this.

[2015-05-17 21:49] #1916 closed, assigned to nobody

[2015-05-17 21:50] Alys commented on #1924
Beta is now used for specific non-`develop` branches so we no longer want this.

[2015-05-17 21:50] #1924 closed, assigned to lefnire

[2015-05-17 21:55] Alys commented on #2066
I'm closing this. I think we're pretty much used to the new STR, CON, etc system now.

[2015-05-17 21:55] #2066 closed, assigned to nobody

[2015-05-17 22:03] Alys commented on #1998
I'm closing this since allowing empty challenges to remain is easier than implementing a template function.

Deleting empty parties is discussed in https://github.com/HabitRPG/habitrpg/issues/5136#issuecomment-98561702

[2015-05-17 22:03] #1998 closed, assigned to nobody

[2015-05-17 22:11] Alys commented on #2208
Being handled in  [Reorganized Equipment Page and/or Equipment Sorting - Issue #5033](https://github.com/HabitRPG/habitrpg/issues/5033) and [Added ability to group equipment by TheHollidayInn - Pull Request #5046](https://github.com/HabitRPG/habitrpg/pull/5046)

[2015-05-17 22:11] #2208 closed, assigned to nobody

[2015-05-17 22:11] Alys commented on #2167
Closing on the assumption this has fixed itself in the past couple of years.

[2015-05-17 22:11] #2167 closed, assigned to lefnire

[2015-05-17 22:13] Alys commented on #2144
Closing because this is probably best handled as a request in the art trello board, and the spritesmith information is outdated.

[2015-05-17 22:13] #2144 closed, assigned to nobody

[2015-05-17 22:19] Alys commented on #2413
I would really like this. A dedicated login page with minimal JavaScript could be a useful workaround for the Safari bug where the "play" button doesn't always work, and it's likely to be more accessible. It would also allow password managers to work (I believe some don't at the moment).

It wouldn't have to replace the existing front page. It could just be a new, relatively plain page that we can

[2015-05-17 22:20] Alys commented on #2391
The site has undergone many changes since this was logged and I haven't seen recent reports of it, so I'm closing this.

[2015-05-17 22:20] #2391 closed, assigned to nobody

[2015-05-17 22:31] Alys commented on #1497
This is being handled in https://github.com/HabitRPG/habitrpg/issues/5126

[2015-05-17 22:31] #1497 closed, assigned to nobody

[2015-05-17 22:32] Alys commented on #2390
I think this has been fixed.

[2015-05-17 22:32] #2390 closed, assigned to nobody

[2015-05-17 22:34] Alys commented on #2358
FIXED! Duplicate accounts can no longer be created (excluding duplicates created deliberately (sort of) using different-case email addresses which we're fixing in https://github.com/HabitRPG/habitrpg/issues/5126).

[2015-05-17 22:34] #2358 closed, assigned to nobody

[2015-05-17 22:35] Alys commented on #2368
This was done with the skills rebalancing: https://github.com/HabitRPG/habitrpg/issues/3029#issuecomment-68128382 and https://github.com/HabitRPG/habitrpg/pull/4736

[2015-05-17 22:35] #2368 closed, assigned to nobody

[2015-05-17 22:38] Alys commented on #2373
I'm going to advertise this in Aspiring Coders, assuming it's still desirable - @lemoness @AnitaYCheng ?

I think this should be done in two stages. First, create a separate Stats page and Achievements page by splitting the current page as described above, but with the Achievements page looking very much like the current Achievements column.

Then once that's live, we can work on improving the Ach

[2015-05-17 22:39] Alys commented on #2340
Fixed earlier this year. The + button shows a hover message when you haven't typed any text.

[2015-05-17 22:39] #2340 closed, assigned to nobody

[2015-05-17 22:51] Alys commented on #1858
Is this still an issue? Should it be moved/copied to the art trello? @SabreCat @lemoness

[2015-05-17 22:53] Alys commented on #2303
Recent changes to how you view and join challenges have fixed this issue.

[2015-05-17 22:53] #2303 closed, assigned to nobody

[2015-05-17 22:54] Alys commented on #2309
Tentatively closing because I think this doesn't happen any more....

[2015-05-17 22:54] #2309 closed, assigned to nobody

[2015-05-17 22:55] Alys commented on #2493
FIXED!

[2015-05-17 22:55] #2493 closed, assigned to nobody

[2015-05-17 23:02] Alys commented on #2599
Closing because skills have been modified since this was logged.

[2015-05-17 23:02] #2599 closed, assigned to nobody

[2015-05-17 23:04] Alys commented on #2595
Closing. It looks like the gem-related security flaw was fixed, and we don't really care about exploits that let people level up or get much gold (they can do that with Fix Character Values).

[2015-05-17 23:04] #2595 closed, assigned to nobody

[2015-05-17 23:05] #2594 closed, assigned to nobody

[2015-05-17 23:05] Alys commented on #2589
closed from lack of response

[2015-05-17 23:05] #2589 closed, assigned to nobody

[2015-05-17 23:08] Alys commented on #2578
I've posted this to Aspiring Coders.

If someone decides to work on this, please comment here to claim it. Ask for help here if you need it!

[2015-05-17 23:09] Alys commented on #2551
Closing because Death no longer removes other-class gear. Rebirth does, but Rebirth is optional.

[2015-05-17 23:09] #2551 closed, assigned to nobody

[2015-05-17 23:30] Alys commented on #2629
I'm going to close this because the initial bug has been fixed.

The To-Do checklist behaviour discussed in https://github.com/HabitRPG/habitrpg/issues/2629#issuecomment-33556040 and most of the following comments is interesting, but it might be best to add it to Trello with a link back to this issue for the details. I fear that if we try to implement it from this issue, it'll keep on being ignore

[2015-05-17 23:30] #2629 closed, assigned to nobody

[2015-05-17 23:34] Alys commented on #2667
Closing because Habit/Daily sorting problems don't seem to occur now.

[2015-05-17 23:34] #2667 closed, assigned to nobody

[2015-05-17 23:39] Alys commented on #2684
I'm pretty sure this doesn't happen any more.

[2015-05-17 23:39] #2684 closed, assigned to nobody

[2015-05-17 23:39] Alys commented on #2684
If it does, let me know and I'll do the database migration.

[2015-05-17 23:42] Alys commented on #2699
Is this still desirable? It sounds interesting. You could also use the days to hide Habits that weren't "due" that day, as is done for Dailies. @lemoness what do you think?

[2015-05-17 23:57] Alys commented on #2718
Let's assume fixed. I haven't seen anything like this, apart from the standard sync errors.

[2015-05-17 23:57] #2718 closed, assigned to nobody

[2015-05-18 00:01] #2858 closed, assigned to nobody

[2015-05-18 00:02] Alys commented on #2764
Tour has been rewritten. Closing.

[2015-05-18 00:02] #2764 closed, assigned to nobody

[2015-05-18 00:05] Alys commented on #2774
I'm sure this doesn't still happen. We'd have heard reports of it. Closing.

[2015-05-18 00:05] #2774 closed, assigned to nobody

[2015-05-18 00:05] #2777 closed, assigned to nobody

[2015-05-18 00:06] #2784 closed, assigned to nobody

[2015-05-18 00:07] Alys commented on #2793
The weeks button no longer exists. Closing.

[2015-05-18 00:07] #2793 closed, assigned to nobody

[2015-05-18 00:12] Alys commented on #2939
Death no longer breaks other-class gear.

For the attribute bug, see "Changing level with Fix Character Values doesn't adjust Attribute points" https://github.com/HabitRPG/habitrpg/issues/2041

[2015-05-18 00:12] #2939 closed, assigned to nobody

[2015-05-18 00:13] Alys commented on #2907
Looks like a once-off bug. Closing.

[2015-05-18 00:13] #2907 closed, assigned to nobody

[2015-05-18 00:14] #2905 closed, assigned to nobody

[2015-05-18 00:17] #2886 closed, assigned to nobody

[2015-05-18 00:20] Alys commented on #2882
These were likely caused by [Sync Errors](http://habitrpg.wikia.com/wiki/Sync_Errors). I'm closing this but it can be reopened if needed.

[2015-05-18 00:20] #2882 closed, assigned to nobody

[2015-05-18 00:22] Alys commented on #2859
Level 1 players now have access to equipment immediately. Closing.

[2015-05-18 00:22] #2859 closed, assigned to nobody

[2015-05-18 00:23] #2871 closed, assigned to nobody

[2015-05-18 00:25] #2991 closed, assigned to nobody

[2015-05-18 00:27] Alys commented on #2998
These bug reports are all old now and can probably all be attributed to sync errors. I'm closing this but if anyone here is still having the same problem, tell us.

[2015-05-18 00:27] #2998 closed, assigned to nobody

[2015-05-18 00:28] #3007 closed, assigned to nobody

[2015-05-18 00:31] #3036 closed, assigned to nobody

[2015-05-18 00:32] #3038 closed, assigned to nobody

[2015-05-18 00:38] #3090 closed, assigned to nobody

[2015-05-18 00:39] #3069 closed, assigned to nobody

[2015-05-18 00:42] #3052 closed, assigned to nobody

[2015-05-18 00:48] Alys commented on #3025
The inability to sort To-Dos is covered in https://github.com/HabitRPG/habitrpg/issues/2606

I don't think we still have a problem with sorting Habits and Dailies so I'm closing this. If anyone can't sort HABIT OR DAILIES, please comment here. (For To-Dos, read the information at the top of https://github.com/HabitRPG/habitrpg/issues/2606 and you don't need to comment there or here.)

[2015-05-18 00:48] #3025 closed, assigned to nobody

[2015-05-18 00:51] Alys commented on #2496
Related: https://github.com/HabitRPG/habitrpg/issues/2041 "Changing level with Fix Character Values doesn't adjust Attribute points"

[2015-05-18 00:51] Alys commented on #2041
Related: https://github.com/HabitRPG/habitrpg/issues/2496 "Reset does not remove attribute points OR lets them go negative"

[2015-05-18 01:12] Alys commented on #2373
When we're up to the stage of improving the Achievements page, we should look at https://github.com/HabitRPG/habitrpg/issues/2893 "Achievement List Renovation"

[2015-05-18 01:13] Alys commented on #2893
Progressing (probably) in https://github.com/HabitRPG/habitrpg/issues/2373 'Split up "Stats & Achievements" to "Stats" and "Achievements" (or similar)'

[2015-05-18 01:18] crookedneighbor commented on #5219
@ReyasWI If you're still experiencing this issue, please re-open this.

[2015-05-18 01:18] #5219 closed, assigned to nobody

[2015-05-18 01:40] crookedneighbor commented on #1101
@veeeeeee Any thoughts on this?

[2015-05-18 01:41] justicar347 commented on #5214
ID: 7f4483a2-b6b1-434f-82b1-899927234c98

Hello, I have had similar problem. I just died while resting in the inn. I went in a few days ago and was about to check out and discovered that I have died. I did not have any checked dailies and was not fighting a boss. I checked to see if I was synced and it looks like I am.

[2015-05-18 01:45] lemoness commented on #5204
Tweaked version of Ryan's text:

Click "Use Costume" to equip items to your avatar without affecting the
stats from your Battle Gear! This means that you can equip for the best
stats on the left, and dress up
your avatar with your equipment on the right.

[More Info]

Once you click "Use Costume" your avatar will look pretty basic... but
don't worry! If you look on the left, you'll see that your B

[2015-05-18 01:52] Alys opened #5232 "Allow Habits and To-Dos to "age" while Resting in the Inn"
When you are **not** Resting in the Inn, each time cron runs, it makes uncompleted To-Dos more red and it adjust plus-only and minus-only Habits to move towards yellow.

We would like the same thing happen when you are Resting.

Ref: https://github.com/HabitRPG/habitrpg/pull/5073#issuecomment-97277606 with approval from Lemoness at the bottom of that issue.

_edit by Alys 2017-10-22:_
When this is

[2015-05-18 01:56] lemoness commented on #5217
Sorry for the confusion, guys - the tutorial and sample tasks are all in
flux, right now, so the parts of the wiki describing it may be out of date.

On Fri, May 15, 2015 at 11:51 PM, Alys notifications@github.com wrote:

[2015-05-18 02:00] Alys commented on #2942
I can't replicate this. I opened a guild in one tab, with my task list open in another. I posted to the guild. I synced the other tab. I didn't get a notification. I think we've fixed this so I'm closing it. It can be reopened if anyone notices it happening again.

[2015-05-18 02:00] #2942 closed, assigned to nobody

[2015-05-18 02:17] Alys commented on #3616
Duplicate accounts have been removed and prevented in https://github.com/HabitRPG/habitrpg/issues/5126 and we're working on removing case-sensitivity too (not for passwords of course).

[2015-05-18 02:17] #3616 closed, assigned to nobody

[2015-05-18 02:18] Alys commented on #3702
This was probably an example of https://github.com/HabitRPG/habitrpg/issues/3904 which has been fixed.

[2015-05-18 02:18] #3702 closed, assigned to nobody

[2015-05-18 02:29] Alys commented on #3689
@oneautisticturtle I'm very sorry we never responded to this. It would have been because we had no idea what might have caused that. I'm going to close this now, but if you've noticed it happening again recently, please tell us.

[2015-05-18 02:29] #3689 closed, assigned to nobody

[2015-05-18 02:32] Alys commented on #3777
I realise this is an old issue, but for the record: Reset is best used when you have a very new account and want to remove the effects of your initial experimentation. When you use it on a more established account, it can have undesirable effects, hence its placement in the "danger zone" on the settings page. The Orb of Rebirth is a better option.

[2015-05-18 02:32] #3777 closed, assigned to nobody

[2015-05-18 02:33] #3809 closed, assigned to nobody

[2015-05-18 02:34] Alys commented on #3695
We shouldn't fix this now. The user(s) who have the wolf would have become used to it being there and it would look like a bug or an unfair event if it was removed. Closing.

[2015-05-18 02:34] #3695 closed, assigned to nobody

[2015-05-18 02:34] #2985 closed, assigned to nobody

[2015-05-18 02:35] #3847 closed, assigned to nobody

[2015-05-18 02:36] Alys commented on #3372
This was probably an example of #3904 which has been fixed.

[2015-05-18 02:36] #3372 closed, assigned to nobody

[2015-05-18 02:37] #3891 closed, assigned to nobody

[2015-05-18 02:46] Alys commented on #3071
Duplicate of https://github.com/HabitRPG/habitrpg/issues/2523 so I'm closing this issue.

@townimbecile I think cascading crons would cause problems due to players not being able to control when their own cron occurs. For example, in my party recently, one member who'd been unable to do most of their Dailies stayed off HabitRPG for several hours longer than usual, to give the current quest time to

[2015-05-18 02:46] #3071 closed, assigned to nobody

[2015-05-18 02:59] Alys commented on #3995
@AnitaYCheng Since you're looking into redesigning the subscription modal (https://github.com/HabitRPG/habitrpg/issues/4837#issuecomment-97939112) you might want to consider this.

My personal feeling is that while it is VERY nice that @m1rrag wanted to donate and gain nothing in return, I think having an extra payment option could lead to extra confusion for some users. We already have users who

[2015-05-18 03:10] #4096 closed, assigned to nobody

[2015-05-18 03:19] Alys commented on #4053
@vegangypsie Is this problem still occurring? I think we fixed it a while back but I'm not sure.

[2015-05-18 03:20] Alys commented on #4034
Oh look. We did this. :)

[2015-05-18 03:20] #4034 closed, assigned to nobody

[2015-05-18 03:22] Alys commented on #4036
Somewhat late - sorry @thrappstead - but I've removed the Reward from the Habits column and got rid of the duplicate tasks that were causing the completed To-Dos to reappear. I realise you haven't logged in to HabitRPG for a while, so you don't need to reply here if you don't want to. I'm closing this now, but if you still have problems, post here and we'll reopen it.

[2015-05-18 03:22] #4036 closed, assigned to lefnire

[2015-05-18 03:34] #3204 closed, assigned to nobody

[2015-05-18 03:37] Alys commented on #4020
Cannot replicate. Closing.

[2015-05-18 03:37] #4020 closed, assigned to nobody

[2015-05-18 03:40] Alys commented on #4104
Also for the Fortify Potion, since we might as well while we're doing this change. While it's not as big a decision, it's not something you'd do often enough that you'd become annoyed by the confirmation popup. (Note that there might already be a confirmation popup - I'm too scared to test in production and too lazy to start up my local install. :smile: )

I've advertised this issue in Aspiring Co

[2015-05-18 03:53] #4134 closed, assigned to nobody

[2015-05-18 03:54] #4119 closed, assigned to nobody

[2015-05-18 03:57] #4049 closed, assigned to nobody

[2015-05-18 03:59] Alys commented on #4176
@taldin I'm closing this since it's old, but I'm happy to reopen it if desired.

[2015-05-18 03:59] #4176 closed, assigned to nobody

[2015-05-18 04:00] #3985 closed, assigned to nobody

[2015-05-18 04:01] #4251 closed, assigned to nobody

[2015-05-18 04:01] #2640 closed, assigned to nobody

[2015-05-18 04:01] #3851 closed, assigned to nobody

[2015-05-18 04:02] #4258 closed, assigned to nobody

[2015-05-18 04:03] Alys commented on #4190
Attribute points after level 100 are no longer gained.

[2015-05-18 04:03] #4190 closed, assigned to nobody

[2015-05-18 04:05] #4300 closed, assigned to nobody

[2015-05-18 04:05] #4302 closed, assigned to nobody

[2015-05-18 04:08] #4309 closed, assigned to nobody

[2015-05-18 04:10] #4377 closed, assigned to nobody

[2015-05-18 04:15] deilann opened #5233 "MP rounds down, MP alerts round up..."
It makes sense for MP to round down... if it rounded up, it'd look like you could afford skills you can't.

However, MP alerts round up, which makes for some surprising total amounts of MP now. This is especially apparent because of the 1/4 amounts Habits give you.
## <bountysource-plugin>

Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/15592221-mp-rounds-dow

[2015-05-18 04:16] Alys commented on #3765
This is under discussion in https://github.com/HabitRPG/habitrpg/issues/4365 and any fixes will be linked to that issue.

[2015-05-18 04:16] #3765 closed, assigned to nobody

[2015-05-18 04:18] Alys commented on #2653
fixed in https://github.com/HabitRPG/habitrpg/pull/4422

[2015-05-18 04:18] #2653 closed, assigned to nobody

[2015-05-18 04:18] Alys commented on #4335
This has been "fixed", sadly.

[2015-05-18 04:18] #4335 closed, assigned to nobody

[2015-05-18 04:19] #4178 closed, assigned to nobody

[2015-05-18 04:24] Alys commented on #2565
https://github.com/HabitRPG/habitrpg/issues/4535#issue-54718874

[2015-05-18 04:29] Alys commented on #4507
Actually a duplicate of https://github.com/HabitRPG/habitrpg/issues/2523 which has more detail than #3071, and includes the idea of storing the time that the buff was cast. I'm closing this issue, but it's been linked to from #2523 for future reference.

[2015-05-18 04:29] #4507 closed, assigned to nobody

[2015-05-18 04:30] #4584 closed, assigned to nobody

[2015-05-18 05:32] ladyaynjell opened #5235 "Issue with Purchasing things with gems"
I purchased all of the new Animal ears set (all 5 gems were taken from my account), however now it is telling me that I do not own all of the items, even though I was just wearing the item it says I do not own.
It wants me to repurchase the Tiger ears for 2 gems.
This is frustrating.

[2015-05-18 05:40] Alys commented on #5235
To help you, we need to be able to identify your account. On HabitRPG, please go to Help -> Report a Bug where you'll find some instructions. One of those steps describes how to find your "User ID". Please paste the User ID into this issue.

[2015-05-18 05:47] ladyaynjell commented on #5235
Oh, many apologies

2098f113-af21-469f-a085-b259f45801dd

Here it is

[2015-05-18 06:08] Alys commented on #5235
Thanks @ladyaynjell

Could you please go to your tasks page, and look in the Rewards column. Are the Tiger Ears available to buy there for zero gold (and zero gems), in the same place where you buy swords, armour, etc? If they aren't listed there, could you please reload the page and look again?

[2015-05-18 06:12] Alys commented on #2944
I can't replicate the bug. I'm not getting notifications for any guilds that I've left. I think we have fixed this problem. I'm going to close this now, but if it's still happening for you, please comment here and I'll reopen it.

For your idea about choosing the guilds that notify you, could you please go to Help -> Request a Feature and suggest it there? That will let us assess the idea along wi

[2015-05-18 06:12] #2944 closed, assigned to nobody

[2015-05-18 06:12] ladyaynjell commented on #5235
No, it isn't there to buy under the Rewards column. I even cleared my cache.

[2015-05-18 06:17] lemoness commented on #1858
It doesn't bother me personally - Sabe?

On Sun, May 17, 2015 at 3:51 PM, Alys notifications@github.com wrote:

[2015-05-18 06:20] lemoness commented on #2413
I'd be amenable to this!

On Sun, May 17, 2015 at 3:19 PM, Alys notifications@github.com wrote:

[2015-05-18 06:24] Alys commented on #5235
Sorry about that! You should be able to see the Tiger ears now and put them on for free, from either the Avatar customisation page or your Equipment page.

I'm going to close this now, but definitely reply if it still isn't right and I'll keep helping you!

[2015-05-18 06:24] #5235 closed, assigned to nobody

[2015-05-18 06:28] lemoness commented on #2044
Not totally sure they are necessary, but here's a quick stab at them -

Physical: "e.g. relating to health, wellness, and exercise."
Mental: "e.g. relating to academic or mentally-challenging pursuits."
Social: "e.g. relating to social interaction"

On Sun, May 17, 2015 at 1:53 PM, Alys notifications@github.com wrote:

[2015-05-18 06:29] lemoness commented on #3770
We'll be revamping this soon as part of all the tutorial changes, so in the meantime, we can close this issue.

[2015-05-18 06:29] #3770 closed, assigned to nobody

[2015-05-18 06:43] deilann commented on #2044
They should also make clear what stat they are connected to because it
really isn't obvious. Personally, I'd prefer we didn't proscribe which kind
of tasks relate to which stats. It'd be better in my opinion for the
buttons to be the stat it will go towards and the popover provide ideas as
to what kind of tasks could go towards those stats.

So like:

Strength: e.g. relating to exercise and activi

[2015-05-18 06:48] Alys opened #5236 "Pet Ears cannot be obtained for free after Death or Orb of Rebirth"
With all equipment (including the Ears), when you own them, they exist in `items.gear.owned` with a `true` value. When you lose them due to Death or Rebirth, they stay in `items.gear.owned` but have a `false` value.

For all equipment except the Ears, the false value causes the item to show up in your Rewards column where you can buy it back with gold (zero gold for stats-free items).

However for

[2015-05-18 06:48] deilann commented on #2044
The reason I think this is because when I was using this system, it was
very frustrating because for it to realistic work for me, I needed to
completely work-over what the attributes "meant." With my health problems
the divvies went something like this:

Strength: Cleaning and physical tasks, but not exercise.
Intelligence: Mental tasks, learning, etc.
Constitution: Meds, self-care, anything that

[2015-05-18 07:45] Alys commented on #3031
This is no longer a problem because each notification has a cross next to it for cancelling the notification without visiting the party or guild.

[2015-05-18 07:45] #3031 closed, assigned to nobody

[2015-05-18 08:51] lemoness commented on #2373
I would like to see this, personally!

On Sun, May 17, 2015 at 6:12 PM, Alys notifications@github.com wrote:

[2015-05-18 08:54] lemoness commented on #2699
I don't have a strong opinion either way... it may add unnecessary complexity. I'd be curious to hear what @anitaycheng and @veeeeeee think about it.

[2015-05-18 09:05] Alys commented on #2373
I've mentioned this in Aspiring Coders.

To anyone who wants to work on this: comment here to claim it, and also to ask any questions you might have. I'd like to see the two new pages go live before we start work on improving the appearance of the Achievements page.

[2015-05-18 09:26] veeeeeee commented on #2699
I don't have a strong opinion either. It might add consistency to Habits and Dailies, which is in keeping with some people's using Habits as a kind of baby-Daily, or as a bonus to the Daily for those who need to structure their setups to "double dip". But adding complexity is a definite concern. Perhaps hide it under advanced options for Habits?

[2015-05-18 13:29] DebsJS commented on #4053
It is working correctly now.

On Sun, May 17, 2015 at 11:19 PM Alys notifications@github.com wrote:

[2015-05-18 13:38] #4053 closed, assigned to nobody

[2015-05-18 13:53] dragonesper opened #5237 "In iOS glitch/issue: When hatching prompt happens twice, for two different pets"
I've hatched pets twice in the app as of yet and this occurs:

I get prompted twice to hatch two different pets with the hatching potion in use.
Things I've noticed when this happens:
- There's a minor lag
- The app itself has acted slowly at that point

I'm suspecting the cause lies in the lag and is triggered by impatiently tapping to hatch while the lag occurs.

My User ID: 107b260d-4b1e-4603-8

[2015-05-18 16:08] AnitaYCheng commented on #2699
Since it's already a feature in Dailies, I don't think the added complexity would confuse people much. Needing to tighten up the UI is a concern, but I don't think the feature would confuse people.

Another thought (that will likely add a bunch of complexity to the coding end, but just throwing it out there) is to make a weekday-only tag? Or people could set a "work" tag that automatically activat

[2015-05-18 17:01] hairlessbear commented on #4816
@joyclark it's happening again. Refreshing has no effect, but opening a new page does.

[2015-05-18 17:21] lemoness commented on #2699
@anitaycheng - Weeklies and Monthlies are being built :)

Sounds like we can go ahead with this!

On Mon, May 18, 2015 at 9:08 AM, anita notifications@github.com wrote:

[2015-05-18 20:47] programablocity commented on #5218
I closed this too early.  I still can not cancel.

[2015-05-18 21:48] deilann commented on #5218
As Alys said:

" If you merely wished to cancel permanently, you don't need to take any
action now."

On Mon, May 18, 2015 at 1:47 PM, wardenkh notifications@github.com wrote:

[2015-05-18 21:51] deilann commented on #4816
If opening a new page works, a hard refresh should also work. But you have
to be doing a hard refresh.

On Mon, May 18, 2015 at 10:01 AM, hairlessbear notifications@github.com
wrote:

[2015-05-18 21:58] crookedneighbor commented on #4816
@hairlessbear When you say "refresh" do you mean pressing the sync button or refreshing the browser?

[2015-05-18 22:07] hairlessbear commented on #4816
@crookedneighbor refreshing the browser, but the sync button doesn't fix it either. But as far as I can tell, the sync button doesn't effect the member list or their quest status (pending, rejected, accepted). Pushing sync doesn't change the quest status values or hide the members, so I don't think it affects them.

Also, refresh is now working again (normal, not hard). I'm not sure why the behavi

[2015-05-18 22:13] crookedneighbor commented on #4816
I was just trying to clarify that you were indeed refreshing the browser and not just syncing. Deilann is right, refreshing the browser should have the same effect as opening a new tab or window.

[2015-05-18 22:37] smadimou opened #5238 "To-Do list multiples and random extra levels"
I just gained 7 levels I was not supposed to have

I also, and more seriously, have my to-do list covered in extra copies of my tasks and they don't delete, nor do they disappear when I complete them.

[2015-05-18 23:12] deilann commented on #5238
Try deleting the tasks from the bottom up. If that doesn't help you delete
them, let us know.

Also, if you want to go down the 7 levels, you can use Site > Settings and
click on "Fix Character Values"

On Mon, May 18, 2015 at 3:37 PM, smadimou notifications@github.com wrote:

[2015-05-19 00:12] AnitaYCheng commented on #2413
Sounds good to me!

[2015-05-19 00:14] AnitaYCheng commented on #2373
Having a separate achievement page just for badges, based on the pet and mount pages, would be awesome! I've always felt that they weren't highlighted enough, especially considering so many people work hard to get their badges.

[2015-05-19 00:16] lemoness commented on #2413
It will actually be useful to have a variety of registration pages, too, as
we go on - for example, one registration page for when you are clicking on
a link that invited you to a guild, etc.

On Mon, May 18, 2015 at 5:12 PM, anita notifications@github.com wrote:

[2015-05-19 02:25] Alys commented on #5218
wardenkh's UUID has been deleted from this issue. In case it's important for future reference, here it is:
 f5368fec-1da5-4cd6-bced-864a267d3d8b

@wardenkh Your user ID does not need to be kept secret. It's no more dangerous than your name.

[2015-05-19 03:54] smadimou commented on #5238
I managed to refresh, delete one or two, then refresh again to allow a few
more to be deleted.

On Mon, May 18, 2015 at 7:12 PM, deilann notifications@github.com wrote:

[2015-05-19 04:22] deilann commented on #5238
Awesome. Unfortuantely, we're still not entirely sure why tasks are
duplicating for some users.

Have you managed to get all the duplicated tasks sorted out?

On Mon, May 18, 2015 at 8:54 PM, smadimou notifications@github.com wrote:

[2015-05-19 05:17] smadimou commented on #5238
Yes, by refreshing, I managed to remove all the extra.  Thank you

On Tue, May 19, 2015 at 12:22 AM, deilann notifications@github.com wrote:

[2015-05-19 05:30] deilann commented on #5238
No problem! I'm closing this now (we have another ticket on duplicating
tasks in general) but if you need more help, feel free to reopen it!

On Mon, May 18, 2015 at 10:17 PM, smadimou notifications@github.com wrote:

[2015-05-19 05:30] #5238 closed, assigned to nobody

[2015-05-19 07:46] NandinVJ commented on #5206
BTW seems that the last two tiers the description of the robes are correct

[2015-05-19 07:48] deilann commented on #5206
Thanks for letting us know!

[2015-05-19 07:48] #5206 closed, assigned to nobody

[2015-05-19 09:23] habitrpguser commented on #5236
The same happens when you die and lose some pet ears. (It just happened to me with bear ears.) I'd bought the whole set of pet ears, now I still have all except the bear ears, which can't be bought back for gold in the rewards column but, apparently, can be bought back for gems. (I didn't try yet but the page offers it.)

I won't give you my User ID and won't demand my ears back for anything less

[2015-05-19 09:25] Alys commented on #5236
@habitrpguser Too late, I've already given them back to you.

I've also edited the issue to state that you can lose them through Death. I assumed that you couldn't because they don't give stats and therefore I assumed they had zero gold cost (and hence can't be lost on Death), but they're apparently worth 20 GP.

@lemoness, are the pet Ears meant to have a gold cost?

[2015-05-19 13:48] crookedneighbor commented on #5236
I think @SabreCat was modeling it after the seasonal shop purchases, which cost 20 gold because that's the price of one gem if you're a subscriber.

Would it have been better to model the ears after the flower accessory instead of headgear? Then they'd just be selectable on the avatar customization screen (but you'd also be able to wear headgear)

[2015-05-19 16:24] peweisberg-fadv opened #5240 "Quests not starting when all party members accept"
My party's last two quests have not started automatically when all party members accepted.  The latest one is particularly annoying, as the quest owner hasn't logged in to start it manually and it's been sitting there with everyone having accepted for a couple days.

Group ID: 354a79d3-0550-41b3-a901-d678ab9f88b4

My user ID: 912b1db1-3c48-45a2-9256-b57419e88b24

[2015-05-19 17:47] SabreCat commented on #3071
I would like to overhaul buffs so they last an actual 24 hours, but that
will be a fairly substantial project.

On Sun, May 17, 2015, 9:46 PM Alys notifications@github.com wrote:

[2015-05-19 18:01] lemoness commented on #5236
So, our logic was that all the head accessories so far cost  20 gold, and
can be lost through death. That includes the ones you get in the seasonal
shop (although, of course, they cost 20 gold before they were moved there).

I'm concerned that @hairlessbear said that they "can't be bought back for
gold in the rewards column" - they should be there, costing 20 gold. Was
that not the case?

They're

[2015-05-19 19:35] wildcate commented on #5082
Just FYI: I did re-allocate my attribute points after the change, using gems for the class change - as a subscriber with the one-year subscription, three gems are a very affordable thing for me. (Actually it feels like I'm swimming in gems, and giving a few to my party members who are not subscribed would be no problem at all.)

If class changes/re-allocation add to the revenue of the site, I'd sa

[2015-05-19 22:22] Alys commented on #5236
@lemoness No, they can't be bought back from the Rewards column - see the top post.

20 GP makes sense since the other head accessories cost 20 GP.

However, if we made them 0 GP temporarily, until this bug is fixed, it would mean that people couldn't lose them on death, which means fewer bug reports and fewer database fixes. It's up to you whether we do that! The database fixes are easy enough. (

[2015-05-19 23:08] lemoness commented on #5236
@sabrecat seems to think it's easy enough to fix the bug that is keeping
them from displaying in the Rewards store. If it proves to be trickier ,
then we can switch it to 0 gold cost for the interim.

On Tuesday, May 19, 2015, Alys notifications@github.com wrote:

[2015-05-19 23:09] Alys commented on #5236
@lemoness yes, I've just looked at the code and it's an easy fix. It's just changing the name of the item in the canOwn code.

[2015-05-19 23:20] Alys commented on #5240
Duplicate of https://github.com/HabitRPG/habitrpg/issues/3968

The problem is that you had a person listed in the members list who has deleted their HabitRPG account. I have removed them so that this won't happen again.

I'm sorry this most recent quest was annoying for you, but if you report problems as soon as they occur we can fix them before they get annoying.

[2015-05-19 23:20] #5240 closed, assigned to nobody

[2015-05-19 23:48] #4778 closed, assigned to nobody

[2015-05-20 00:04] peweisberg-fadv commented on #5240
Thank you

[2015-05-20 00:11] Luthien22 opened #5241 ""Set a Reminder" Feature in iOS app is Unresponsive"
Under settings in the iOS app is an option to set a reminder to log in. By default there is no reminder. There's a button you're supposed to press to set a reminder; however, this button is unresponsive.

[2015-05-20 01:15] amatoraqua opened #5242 "Empty Quest"
A party member started a solo quest, and in trying to cancel it accidentally left the party. Now there are no participants, but the quest has remained even after cron, and it's preventing us from moving on to another quest.

Group ID: cdaab70e-f844-4baf-beb3-6979afe2c253
User ID: a8007d90-0e78-4ef3-872b-fb94eebfc418
http://whatsmybrowser.org/b/A4EKGVS

[2015-05-20 01:20] crookedneighbor commented on #5242
I've removed the quest from your party. Please refresh your browser on the party page and report back here if it's not fixed.

[2015-05-20 02:40] Alys commented on #5077
I believe this is fixed, based on the linked PRs, so I'm closing this. @hairlessbear Tell me if it's not and I'll reopen it.

[2015-05-20 02:40] #5077 closed, assigned to nobody

[2015-05-20 03:24] amatoraqua commented on #5242
Thanks! It's all gone.

[2015-05-20 03:24] #5242 closed, assigned to nobody

[2015-05-20 06:05] 3onyc opened #5243 "Events are (sometimes?) carried out in the wrong order"
For example:
1. Boss hits party for 135 damage
2. Die and lose XP + gold
3. Party defeats boss 6 hours later
4. Don't have XP / gold from quest

I'd expect to receive the quest rewards death occurred before the boss was defeated.

Am I correct in thinking that HabitRPG considers you dead until you login, and dismiss the "you died" dialog, thus anything happening after death and before login isn't

[2015-05-20 06:12] DemosMirak commented on #5243
I'm in the same party, and also have this issue

[2015-05-20 06:34] deilann commented on #5243
Actually, you don't die until you log in. You just have negative HP.

So here's what happens:
1. Boss hits the party for 135 damage
2. You have negative HP
3. Party defeats boss.
4. You receive your quest rewards
5. You log in
6. Due to having negative HP, you die and lose XP and GP

The fact that this happens is actually pretty useful because a healer can
heal your party back to positive HP as lo

[2015-05-20 06:43] 3onyc commented on #5243
Is there an option to wait for a healer's revive, or do you always die when accessing the app or website?

[2015-05-20 06:45] deilann commented on #5243
You always die. The best thing for a healer to do when they see a huge
amount of boss damage is to start healing up.

On Tue, May 19, 2015 at 11:43 PM, 3onyc notifications@github.com wrote:

[2015-05-20 06:46] 3onyc commented on #5243
A "wait for revive" option would be nice though, choosing to take the full penalty if you want to revive immediately.

But that's probably cause for a new issue, or part of an existing issue.

[2015-05-20 06:47] #5243 closed, assigned to nobody

[2015-05-20 06:47] deilann commented on #5243
Features are handled on Trello, not on Github. As such, I am closing this
now.

On Tue, May 19, 2015 at 11:47 PM, 3onyc notifications@github.com wrote:

[2015-05-20 06:48] 3onyc commented on #5243
Okay, thanks!

[2015-05-20 07:14] ghost opened #5244 "optOutText (suggestion when opting out of class system) may need slightly other wording"
When opting out of class system at level 10 the optOutText says:

`"Can't be bothered with classes? Want to choose later? Opt out - you'll be a warrior and your points handled automatically. You can enable classes later under Settings."`

However it seems what really happens is:
- 10 points gained by the time class selecting dialog pops up are "temporarily" allocated to STR
- points gained from fu

[2015-05-20 08:21] Alys commented on #4837
@AnitaYCheng Something else to consider adding: this comment from Lemoness to briefly explain about gifting a subscription to yourself when you can't use the normal PayPal subscription option: https://github.com/HabitRPG/habitrpg/issues/3381#issuecomment-75918337

[2015-05-20 08:28] Alys commented on #5176
It's expected behaviour, even if it's not always desired behaviour. See https://github.com/HabitRPG/habitrpg/issues/4235 for more details; it discusses avatars mostly, but party quest stats would be handled similarly. If you wish to, you can subscribe to notifications from that issue to follow its progress, in case we make a change that affects it.

[2015-05-20 08:28] #5176 closed, assigned to nobody

[2015-05-20 08:29] #5163 closed, assigned to nobody

[2015-05-20 08:42] ghost opened #5245 "Incorrect class name in tutorial text after class change"
I've just switched from a healer to a rogue however during the class tutorial I'm told I'm a warrior. At the end of the tutorial the basic rogue gear was equipped as expected. FWIW, I did choose warrior when I initially unlocked the class system.

I considered reporting this in #5125 but figured those changes might be a while coming whereas this might be a quick fix to be done now.

![screen shot

[2015-05-20 09:04] Alys commented on #5244
@GitHubSphinx Thanks for the summary! I was finding it too hard to keep track of the conversation in the Wizards of the Wiki guild. :)

Let's ignore (at least for now) the issue in your final paragraph since it can't be replicated.

This part of the message definitely needs to be changed: "You can enable classes later under Settings."  It should now say "**You can enable classes later under User -

[2015-05-20 09:06] Alys commented on #4279
@negue  Do you know if this can be closed? Or is it still needed for more work to be done?

[2015-05-20 09:24] ak84ak opened #5246 "Error in badge string processing"
Error processing string (Ukrainian language localization).
Go to "User" -> "Stats & Achievements" -> Right side of page -> Badge "8 perfect days". Note for badge is: "Error processing string. Please report to http://github.com/HabitRPG/habitrpg". See attached
![s](https://cloud.githubusercontent.com/assets/3965127/7722658/f3a93512-feea-11e4-83f0-81eb2b21eb42.png)
 sreenshot.

[2015-05-20 15:02] habitrpguser commented on #5244
Would it make sense to, instead of not giving people who opt out any points, just use one of the default allocation mechanisms? Either evenly to all attributes, or warrior-class-based, probably? Otherwise, I'd expect some Habiticans to think _"What? I didn't want to be bothered at the time, didn't have time to read the small print, and just wanted HabitRPG to do as much as possible automatically a

[2015-05-20 15:06] ghost commented on #5246
Thanks for reporting it.
Error in translation (<%= perfects %> has been translated)
Line key perfectText
Unfortunately the line has been reviewed. I've left a comment for the reviewers on Transifex now - they should get a notification and fix the issue.

[2015-05-20 15:16] ghost commented on #5244
@habitrpguser The only auto allocation method for those who opted out of class system might be flat auto allocation. And TBH I wouldn't suggest it for people who just have no time to learn about the class system. When they get time, and opt in they might be more dissatisfied with inability to manage their points. So current behavior seems more than just logical, it's stress-proof ))

@Alys Thank y

[2015-05-20 15:38] habitrpguser commented on #5244
@GitHubSphinx _"When they get time, and opt in they might be more dissatisfied with inability to manage their points."_ - Why would that be? Wouldn't they be able to reallocate them, just like they can now when they either opt in or change class? (At least that's how I meant it.)

[2015-05-20 15:53] ghost commented on #5244
@habitrpguser Oh, I must have misunderstood you. Please forgive me, as actually your point does make sense, if we consider what @Alys has said about the mechanics (particularly: _"all your points (assigned or not) are deleted and you get a new set of points that exactly matches your current level"_).

Moreover, I believe I know what you are talking about. My first thought why and when I started to

[2015-05-20 15:58] ghost commented on #5246
The string has been fixed by @leeder on Thansifex just now. The fix should be online when @paglias updates locales in some days.

[2015-05-20 16:43] brandonjreid commented on #4488
Sorry, I got busy and wasn't able to look at this for a while.

I'm wondering if a better solution might be that when dayStart is set to a new value, check lastCron vs old_dayStart.  If old_dayStart < lastCron < new_dayStart, then set lastCron to new_dayStart.  That way cron won't run twice for one day (1 am and after 4 am based on your example).  It seems like a simpler solution than storing an e

[2015-05-20 17:38] eiron opened #5248 "Cannot update Guild description"
Error get:

I am not familiar with my browser's console.

[2015-05-20 17:49] devmage commented on #4682
Another payment platform to consider would be Braintree, which can accept PayPal as well (and is itself, in fact, a PayPal product). Among other things, they offer a [drop-in payment UI](https://www.braintreepayments.com/features/drop-in) as part of their v.zero SDK.

_Disclaimer: PayPal are my corporate overlords._

[2015-05-20 22:10] Alys commented on #5236
reopening until the fix goes live

[2015-05-20 22:14] steelstyle commented on #3684
Just to be sure is it okay for me to work on it again ?

[2015-05-20 22:22] negue commented on #4279
@Alys
- `Reminder for missed dailies/haven't used habit today...` would take a lot of server changes, at least in my opinion
- `private messages` can be added very easily, maybe also a good start for `enty level coding` since its only 2 lines to add :)
- `new chat messages` same as private messages, but if you want to get push notifications for `@mentions` we'd have to change a bit with the mentio

[2015-05-20 23:20] SabreCat commented on #5236
Ah yes, bit of a drawback to GitHub's automated issue linking, that...

On Wed, May 20, 2015 at 3:10 PM Alys notifications@github.com wrote:

[2015-05-21 03:54] SabreCat commented on #1858
Yeah, I had pretty much forgotten this was a thing I submitted. xD There are so many options out there now, if you want a hands-free look, you have many possible armors to choose from.

[2015-05-21 03:54] #1858 closed, assigned to nobody

[2015-05-21 11:25] wildcate opened #5250 "Tools of the Trade does not buff all party members"
I've cast Tools of the Trade six times this morning, resulting in a buff for me of 465 according to the data tool - but party members have buffs of 453 (mage), 852 (rogue), 42 (warrior, this includes the perfect day buff) and 426 (mage).

A similar thing happened the last few days when I spoke TotT.

[2015-05-21 11:27] deilann commented on #5250
Buffs last until a player crons, so if they cronned at different times, it makes sense that they'd have different buffs. Does that make sense?

[2015-05-21 12:08] wildcate commented on #5250
We all have cron at midnight (at least me and the un-buffed person) - so
different cron shouldn't be the reason in our case...

2015-05-21 13:27 GMT+02:00 deilann notifications@github.com:

##

Katrin Kania: "Kleidung im Mittelalter. Materialien - Konstruktion -
Nähtechnik. Ein Handbuch."
529  S. mit 357 s/w-Abb. und 51 farb. Abb. auf 24  Taf. Böhlau-Verlag Köln
2010.
Preis 67,90 €
ISBN 978-3-412-

[2015-05-21 12:27] deilann commented on #5250
I don't think you quite understand how cron works.

Cron runs the first time someone logs in after their CDS (which for you
would be midnight). Unless you are all signing in at exactly the same time,
your cron will not be simultaneous.

On Thu, May 21, 2015 at 5:08 AM, wildcate notifications@github.com wrote:

[2015-05-21 12:33] deilann commented on #5250
So what most likely happened is you cast Tools of the Trade 6 times this
morning, then your warrior logged in, so never got a chance to partake of
the buff. Does that make sense?

On Thu, May 21, 2015 at 5:27 AM, Ryan yandoryn@gmail.com wrote:

[2015-05-21 14:28] deilann commented on #3071
@SabreCat I've been thinking on this and I've come to the conclusion that having buffs last an actual 24 hours is a terrible idea and it would make the Habit experience very frustrating.

If buffs lasted an actual 24 hours, throughout your Habit day intelligence and perception buffs would wear off, meaning your max MP and drop cap would suddenly shift. Unless you have a better memory than me, you'

[2015-05-21 14:40] Alys commented on #3071
Good points. Stats that (seem to) vary randomly throughout the day would be sure to at least raise questions. I'd find it annoying to suddenly lose MP through my max MP dropping. I'm sure I usually wouldn't notice until after the excess MP was gone.

[2015-05-21 14:42] Alys commented on #2523
See also the points in https://github.com/HabitRPG/habitrpg/issues/3071 (e.g., buffs that last exactly 24 hours have disadvantages)

[2015-05-21 14:42] wildcate commented on #5250
Yes, that makes sense... it also means that either me and the other early
bird won't have the effect of a party buff during our day, if I wait for
the late folks, who usually log in in the afternoon/evening, or the
late-comers never get the buff.

I would have supposed that the buff still works for someone logging in
after the spell is cast until their next cron, not until their next login
after t

[2015-05-21 14:46] deilann commented on #5250
There's a lot of discussion on the best way to handle this. It's kind of complicated and not the highest priority. Check out these tickets:

https://github.com/HabitRPG/habitrpg/issues/3071
https://github.com/HabitRPG/habitrpg/issues/2523

One thing you could do now is ask the late-comers if they'd be able to log in earlier, even if they aren't planning on checking off any tasks. They could even s

[2015-05-21 14:46] #5250 closed, assigned to nobody

[2015-05-21 17:26] peardita commented on #4313
I get periodically hit by this bug, maybe once every 2-4 weeks. After reading through this thread, I will try watching for the blue sync bar and manually hitting reload/the sync button before I sign off at night, to see if that helps stop it. But I had a particularly bad version of it yesterday, so I thought I would report about it here. I'm not a programmer I don't know what details might be impo

[2015-05-21 20:35] jrenee25 opened #5252 "Error - cannot start new quests"
My party (Group ID: 7297fa28-47f8-4ea8-8b35-f451102cdf9e) is running into an issue starting a new quest: when a member clicks on an inventory scroll and clicks the "Invite Party" button, they get the following error message:

![image](https://cloud.githubusercontent.com/assets/12550635/7758224/b5af456a-ffcd-11e4-8dac-1337a1e4f817.png)

Members of the party get a quest invitation emailed to their l

[2015-05-21 21:52] Alys opened #5253 "when player deletes HabitRPG account, they are not removed from party (and guilds?)"
When a player deletes their HabitRPG account, they remain in the members list of the party they had been in. This can cause problems with starting quests (e.g., the quest won't start automatically once all members have accepted or rejected).

The code to delete a player's account should check to see if they are in a party and if so remove them.

We should also check to see if the same problem exis

[2015-05-21 21:52] Alys commented on #5252
@jrenee25 Your party's member list contained one person who had deleted their HabitRPG account (we'll fix the bug that makes that possible). I have removed that person from the members list. Could you please reload HabitRPG and try sending the invitation again? Just try once; if this problem still occurs then you don't need to get anyone else to try. Please let us know if it's working or not!

[2015-05-21 21:53] mxrowanthomas opened #5254 "Skills not available after leveling and choosing class in inn."
I just leveled up to level 10 (after being reborn) while in the inn and choose class (warrior) but the skills are not available under rewards. I've tried reloading, logging out and in, using a different device and checking out of the inn to not avail. User id: c03e41bd-501f-438c-9553-a7afdf52a08c

[2015-05-21 21:55] Alys commented on #5254
Skills don't become available until levels 11 to 14. Please see http://habitrpg.wikia.com/wiki/Skills for more information.

[2015-05-21 21:55] #5254 closed, assigned to nobody

[2015-05-21 21:58] mxrowanthomas commented on #5254
Whoops, thanks for the fast response.

[2015-05-21 22:46] ondrowan opened #5255 "Moving of To-Dos items doesn't work as intended"
If I have multiple items in To-Dos (and I guess there's the same issue in other lists) and move the last one to the first position, some other issue is moved instead. I cannot consistently replicate it, but it usualy looks as follows:
- Move item from the last position to the first. Frontend changes are applied as intended.
- Refresh page.
- Item in first position is either unchanged or there's so

[2015-05-21 22:55] Alys commented on #5255
Please see https://github.com/HabitRPG/habitrpg/issues/2606 for this issue. It contains a description of a workaround.

[2015-05-21 22:55] #5255 closed, assigned to nobody

[2015-05-22 01:00] PauloDeSouza commented on #5252
Thanks Alys for helping us out - Prodigy here :D

[2015-05-22 01:12] Alys commented on #5252
Does that mean that you can now start quests? Please confirm so that we know whether we need to keep investigating or not.

[2015-05-22 01:16] TheHollidayInn commented on #5253
Okay, I was taking a look into this.

I can check if the user is group, but I'm not sure if I am correctly calling the groups leave function. Can anyone help my call and pass the correct parameters? I'm looking into the Express api now, but help would be welcome!

[code]

Here is the part where I need to pass parameters.
`groups.leave();`

I included the groups controller like this

`var groups =

[2015-05-22 02:53] crookedneighbor commented on #5253
First off, you're going to want to look at the [mongoose api (v 3.8.x)](http://mongoosejs.com/docs/3.8.x/docs/api.html#model_Model.findOne), not express.

I think using `groups.leave()` here is the wrong approach. Why not just remove the member's ID from the array and then call `group.save()`?

Also, is the exec call needed here? Couldn't you do:

[code]

[2015-05-22 03:08] crookedneighbor commented on #5253
Regarding guilds, I feel like the same should be done for guilds, but I'm not sure how easy it would be to grab all the guilds that include a user. Challenges hold onto user ids too, right?

[2015-05-22 03:09] jrenee25 commented on #5252
@Alys thank you - the steps you took fixed the problem.  Our party is now able to quest again - yay!!!

[2015-05-22 03:09] #5252 closed, assigned to nobody

[2015-05-22 03:24] Alys commented on #5253
@crookedneighbor Probably. I'd be happy to see only parties fixed for now, and guilds sorted out later. Even party challenges could be sorted out later. The biggest problem is dead accounts in members lists.

BTW, for the existing parties that contain dead accounts, I can do stuff in the database to tidy that up, after the code fix goes live.

[2015-05-22 03:57] TheHollidayInn commented on #5253
Aren't the group functions in the group.js controller Express?

Also, the reason I call group.leave is because the user needs to be removed from quests and challenges.

[2015-05-22 07:46] trueriddel opened #5256 "Cannot invite party to quest"
Error message is the following: "Please reload, "Error Cannot read property 'pushDevices' of null" If the error persists, please report it at Help > Report a Bug. If you're familiar with your browser's console, please include any error messages."

Group ID: 934aaf6e-d5a0-45ed-97ed-006fb1176dca

[2015-05-22 07:49] Alys commented on #5256
We can't help with this without knowing how to find your account in HabitRPG. Please go to Help -> Report a Bug and follow the instructions there for either your user ID or party ID (either will do for this problem).

[2015-05-22 11:01] Rossalli commented on #5256
Hi,

I'm with the same problem. I'm cant' attaching evidence images, so I upload in google drive.

Evidence 1: https://drive.google.com/file/d/0B8Z_MmboIYcMRS05STBrY01pTVE/view?usp=sharing

Evidence 2: https://drive.google.com/file/d/0B8Z_MmboIYcMQ3FUdHFTWi1OMjA/view?usp=sharing

My User ID: 3a51643b-39c2-4b95-b0d6-b0e047e52df6

My Group ID: 4fa24419-47e6-47f0-b8fc-580fbfea9bb8

My Browser: whatsm

[2015-05-22 13:13] crookedneighbor commented on #5256
@Rossalli I've removed the deleted user. Please try again and report back here if it does not work.

(Mods, for reference, user id was `38f758b6-545a-4ac2-ab80-635e1360a762`)

[2015-05-22 13:14] crookedneighbor commented on #5256
Re: the deleted user comment, see here for more context: https://github.com/HabitRPG/habitrpg/issues/5253

[2015-05-22 13:41] VersorVerbi opened #5257 "Reaching Lvl 30 by Backstab Leads to 500 Internal Server Error"
User ID: 90b995d4-2cbd-4a70-88ca-dffbc6de68e5

Whatsmybrowser.org is reporting a 503 Service Not Available error at the moment, but I can at least mention that I have version 43.0.2357.65 m of Google Chrome.

JavaScript console:
POST https://habitrpg.com/api/v2/user/class/cast/backStab?targetType=task&targetId=34497e75-c35a-4efc-813d-a4f29dd5b9b9 500 (Internal Server Error)
nrWrapper @ (index):1
(

[2015-05-22 17:03] swissdot opened #5258 "Background doesn't appear in iPhone app"
I noticed that the new backgrounds (from April and May) don't appear behind my character in the iPhone app. Instead, I see only a grey background. I haven't purchased backgrounds from any other months, so I can't test to see if this happens with the old backgrounds as well. I have no problems when I use the website.

I'm using an iPhone 6 with v0.0.53 of the app.

My user ID is 1e4fb590-3ddf-4ada-

[2015-05-22 18:26] lemoness commented on #5258
So, right now the iOS is always behind with artwork, especially as it takes
Apple a long time to approve each update. The new backgrounds will be in
the next update!

On Fri, May 22, 2015 at 10:03 AM, swissdot notifications@github.com wrote:

[2015-05-22 18:26] #5258 closed, assigned to nobody

[2015-05-22 19:10] crookedneighbor commented on #5257
It's because of the quest scroll drop. Level up without a skill, get the quest scroll, then skill level ups should work as normal.

[2015-05-22 19:27] ghost commented on #4522
@Atomk
_#10 is waiting to be merged.
_#11 is waiting to be merged - but it's actually not only a button, but a dialog also, I'm looking into it now to make another commit

[2015-05-22 19:45] Alys commented on #5257
You can follow this issue at https://github.com/HabitRPG/habitrpg/issues/4986 if you want to track the progress of the fix.

[2015-05-22 19:45] #5257 closed, assigned to nobody

[2015-05-22 21:41] Atomk commented on #4522
@NotGonnaGitUs I checked and now everything is ok! The coupon / promo code change could create some confusion, but I see you already discussed that with devs. Thanks anyway!

@GitHubSphinx Thanks for the info, I'll make sure to check when everything is ready. Should I add your comments to the list of missing translations? I don't know if it's better to keep everything in this issue or create anoth

[2015-05-22 22:11] ghost commented on #4522
The dialog seems ready to me with https://github.com/GitHubSphinx/habitrpg/commit/fe2e0618b8d254b2ada03cce33c2ea60319e71b2

@Atomk IDK what's best. We used to have an all-in-one ticket https://github.com/HabitRPG/habitrpg/issues/3168 and we used to have some separate tickets for missed out translations, so I guess moderators would suggest the best practice if there are to many posts on one topic.

[2015-05-22 22:33] ghost commented on #4522
By the way, _#12 in the opening post seems like a topic for discussion to me.

If we would want https://habitrpg.com/static/contact fully translated the lines on the page may need some changes, because I'm not sure the respected staff members will be comfortable with receiving many messages in languages from all over the world.

Maybe add something like (we speak English)? E.g.:

## **[Contact Us]

[2015-05-22 22:50] Alys commented on #4522
The Contact Us text isn't my call to make, but I personally don't like the "we speak English" text. It seems unfriendly to non-English speakers. I also don't think it's necessary since some of the staff and Tier7+ contributors speak other languages, and have people they can call on for more languages still.

[2015-05-22 23:26] lemoness commented on #4313
This is a very high priority task, so I have added a Bounty of $150 to whoever can fix it!

[2015-05-22 23:40] TheHollidayInn commented on #5253
Actually, I think what I will do is abstract the functions in groups.leave to use them. I'll send some examples.

[2015-05-23 01:10] lemoness opened #5260 "Display Current Selected Customizations"
Right now, there's no way to tell which customizations are currently displayed your avatar, in contrast to the Equipment page, which highlights them. This has been especially confusing to new users.

It would be nice to have some sort of highlight or indicator for the currently selected items on the customizations page like the one on the Equipment page.

[2015-05-23 01:12] lemoness opened #5261 "Overview for New Users should be at the top of the Help dropdown"
Right now, the link for "Overview for New Users" is last in the Help drop down, and the FAQ is first. The FAQ is not helpful to new users, since it involves much for detailed information. They should be swapped so that the Overview is first and the FAQ is last.

[2015-05-23 01:27] deilann commented on #5260
I think we already have a PR for this.
On May 22, 2015 6:10 PM, "lemoness" notifications@github.com wrote:

[2015-05-23 01:46] hairlessbear commented on #5260
Yup, #5231. Just waiting for someone to review it!

[2015-05-23 01:47] lemoness opened #5262 "Text Improvements"
There is a lot of text around that site that needs improving.
- [x] Checklist Hover Text

The current Checklist hover text is overly detailed. We could possibly have a "Learn More" link somewhere, but in the meantime, the text should be simplified.

Suggested replacement text :
Break a task into smaller pieces! Checklists increase the Experience and Gold gained from a To-Do, and reduce the damage

[2015-05-23 03:40] Zian opened #5263 ">20 Days of Intermittently Missing Daily Data"
When I view my data on the [HabitRPG Official User Data Display page](https://oldgods.net/habitrpg/habitrpg_user_data_display.html?uuid=90145e45-71ca-4c83-8ecf-703e40ccdcda) and click on "Dailies History", I see a lot of gray bars even though I know I haven't been to the inn that often (see attached screenshot). I also appear to be missing a huge # of days. For example, "Did exercises" is a daily

[2015-05-23 03:40] Zian commented on #5263
![screenshot](https://cloud.githubusercontent.com/assets/1581929/7782284/cb23a95e-00c2-11e5-9739-2c77d3a03667.png)

[2015-05-23 03:41] Zian commented on #5263
I can't seem to attach the XML extract so I will copy and paste the contents.

[2015-05-23 03:41] Zian commented on #5263
<dailys>
    <text>Did exercises</text>
    <challenge/>
    <attribute>str</attribute>
    <priority>1</priority>
    <value>-2.370509252897958</value>
    <tags/>
    <notes></notes>
    <dateCreated>2015-03-10T04:57:45.660Z</dateCreated>
    <id>bf25b685-5517-432e-bb32-ed67278dda2e</id>
    <streak>2</streak>
    <collapseChecklist>false</collapseChecklist>
    <repeat>
      <su>false</su>

[2015-05-23 03:42] Zian commented on #5263
And, since GitHub wrecked the text, here's a set of screenshots from Notepad++.

[2015-05-23 03:43] Zian commented on #5263
![part 1](https://cloud.githubusercontent.com/assets/1581929/7782293/312d987c-00c3-11e5-93d0-9879a0b0c13c.png)
![part 2](https://cloud.githubusercontent.com/assets/1581929/7782292/312aff40-00c3-11e5-8e2f-6bd94cbbd415.png)

[2015-05-23 03:43] deilann commented on #5263
Are you a subscriber? If not or if you weren't during that period that's
expected. Non subscriber data is condensed to save space. See.the.details
info in the ddt for more info.
On May 22, 2015 8:40 PM, "Zian" notifications@github.com wrote:

[2015-05-23 03:47] Zian commented on #5263
What's a "ddt"? I don't see anything about subscriber vs. non subscriber data on the HabitRPG Official User Data Display page.

[2015-05-23 03:50] Alys commented on #5263
DDT = Data Display Tool

If you click "show explanation" on the section you are looking at, you will see something about subscriber vs. non subscriber data.

[2015-05-23 03:51] deilann commented on #5263
"The table below shows historical data for your dailies. If you are a
subscriber, you will see data for every day going back to the date on which
you subscribed. If you are not a subscriber, you will see data for every
day for the past week, but before that your data points start to be merged
together (this is to save on expensive database storage space). In the
table are symbols indicating your a

[2015-05-23 03:52] hairlessbear commented on #5262
@lemoness Could I add an item to the list? The mystery item popover text ([located here](https://github.com/HabitRPG/habitrpg/blob/develop/common/locales/en/generic.json#L18)) contains the sentence "_See the wiki's 'Mystery Item' page for the exact date._", but has no link to the [Mystery Item wiki page](http://habitrpg.wikia.com/wiki/Mystery_Item). I see no reason to not include a link.

[2015-05-23 04:01] Zian commented on #5263
Thanks for pointing it out. Is the data permanently lost?

It looks like the caution is only shown in the place you referred to rather than in the main documentation that is displayed before loading data. The page seems to have a lot of text even though users don't read.

I will contact Ms. Harris about it as she writes that "If you have questions, problems, or suggestions, you're welcome to conta

[2015-05-23 04:10] Alys commented on #5262
@hairlessbear Alas, the popup would disappear whenever you tried to click on the link. :)

[2015-05-23 04:14] Alys commented on #5263
The caution is shown on the page where it is relevant. If it were shown in the main documentation, even fewer people would read it. The main documentation is an overview of the entire tool. Specific information about individual sections is shown in those sections.

[2015-05-23 04:20] Alys commented on #5263
Any data that has been merged together is permanently merged. There is no way to get it back.

_"The page seems to have a lot of text even though users don't read."_  If there were less documentation on the page, we'd get more questions about it. I don't think it's unreasonable to provide text that explains the tool.

[2015-05-23 04:23] #5228 closed, assigned to nobody

[2015-05-23 04:24] hairlessbear commented on #5262
@Alys I was confused about what you meant until I tried to click on a popover's text. I totally understand now :)

Man, if we had introduced that...I cringe at the thought of the bug reports.

[2015-05-23 04:37] crookedneighbor commented on #5260
Closed with https://github.com/HabitRPG/habitrpg/pull/5231

[2015-05-23 04:37] #5260 closed, assigned to nobody

[2015-05-23 06:41] Alys commented on #5256
I've removed deleted user accounts from about 500 parties that contained them, so that should solve this problem for all parties at least in the very short term (and soon the "'pushDevices' of null" fix will go live to prevent the problem for new occurrences).

[2015-05-23 06:41] #5256 closed, assigned to nobody

[2015-05-23 09:20] Lexidh commented on #4313
@peardita : I also get a two day streak when this error occurs.

I have been waiting out the blue bar as much as humanly possible, and have not seen this error since the last time I posted here. The bar disappeared once, but I caught it quickly and it did not hurt my stats. Just reloaded the page and it came back.

[2015-05-23 10:28] Alys commented on #5262
@lemoness May I suggest another change? It's in the instructions in the quest box on the party page.
- [x] Quest instructions text:

Currently: "To hurt a boss, complete your Dailies and To-Dos. Higher task damage means higher boss damage (completing reds, Mage spells, Warrior attacks, etc)."
We've had some users asking if the first sentence means that you must finish **all** your To-Dos.

Suggest

[2015-05-23 16:15] hairlessbear opened #5265 "No in-app visual indication of user being invited to a party"
This was mentioned by a user in the tavern and I confirmed it on my local install. When a user is invited to join a party, they are sent an email, but there are no notifications in the app. The easiest fix for this would probably be to use same style of notifications that are used for new messages (i.e., a number to the left of the "social" menu that, when clicked on, takes you to the relevant pag

[2015-05-23 19:07] Alys commented on #5265
When you're invited to a party, this happens:

![screen shot 2015-05-24 at 5 06 12 am](https://cloud.githubusercontent.com/assets/1495809/7785420/a4c6dd1a-01d2-11e5-8844-1dc652bc0eb3.png)

Are you sure that didn't happen in your local install?

[2015-05-23 19:27] lemoness commented on #4522
That's true! Between us and our contacts, we speak:

English
Spanish
French
German
Portuguese
Italian
Mandarin
and probably more languages that I don't know about ;)

If we receive something that we really can't understand, we can always
write back with an apology :)

On Fri, May 22, 2015 at 3:50 PM, Alys notifications@github.com wrote:

[2015-05-23 19:36] lemoness commented on #5260
Fantastic!

On Fri, May 22, 2015 at 9:37 PM, Blade Barringer notifications@github.com
wrote:

[2015-05-23 19:42] lemoness commented on #5262
@alys - Sounds great!

On Sat, May 23, 2015 at 3:29 AM, Alys notifications@github.com wrote:

[2015-05-23 19:49] nightstitched opened #5266 "decrease in mana"
today my maximum mana suddenly decreased. Yesterday I had somewhere around 80 maximum, but now today it decreased to 58.

my Id number is: 8f711a4a-b928-4428-9de4-0c3325d84ed3

thanks

[2015-05-23 19:54] lemoness commented on #5266
Never fear - your mana varies with your avatar's Intelligence stat, so if
your Intelligence was buffed, for example by a Perfect Day, or if you
switched to different armor, your Mana will decrease. Good incentive to get
another perfect day!

I'm closing this now, but feel free to respond if you have more questions :)

On Sat, May 23, 2015 at 12:49 PM, nightstitched notifications@github.com
wrote:

[2015-05-23 19:54] #5266 closed, assigned to nobody

[2015-05-23 20:08] hairlessbear commented on #5265
Ah, I didn't see that. I was looking over in the social menu for an indication. Maybe I'm alone on this, but that location isn't at all obvious to me.

Also, is there any reason that we shouldn't have a pop-up for this?

[2015-05-24 00:33] kurohai opened #5267 "Can't Add Tag to Task in API"
When trying to add a tag to a task with the API, the tag isn't added.

Using the task schema documentation:
`tags: {type: Schema.Types.Mixed, 'default': {}}, //{ "4ddf03d9-54bd-41a3-b011-ca1f1d2e9371" : true },`

When I send my task with tag data:
`{u'_id': u'bc68a3e8-7a4d-4c91-b632-c0c6a8acf67d',
 u'attribute': u'str',
 u'challenge': {},
 u'completed': u'false',
 u'dateCreated': u'2015-05-24T00:2

[2015-05-24 01:07] crookedneighbor commented on #5265
I agree that it is not obvious.

[2015-05-24 02:47] #5267 closed, assigned to nobody

[2015-05-24 07:30] habitrpguser opened #5269 "Please delete the unnamed Tavern challenge with CID 4bd19776-15f8-4503-9479-598cd437cdd5 (created by @Austinchesworth, UID: c3e11505-815a-4307-878e-c7dd051bf19d)!"
The challenge is completely empty - no title, no text, no tasks, but 9 participants. :) The creator last logged in 24/04/2015, so I didn't even bother to message em.

I'm still proud I even found out the CID! (It's not straightforward, the only thing you can click on this challenge is "Join/Leave", you can't even click it open to read it.) In the Tavern challenge list, it can be found between "Psi

[2015-05-24 07:32] Alys commented on #5269
Done, thank you!

[2015-05-24 07:32] #5269 closed, assigned to nobody

[2015-05-24 08:54] ghost commented on #4522
@Alys @lemoness Thank you very much! Please excuse me for my suggestion - I didn't mean to doubt the international openness of the team! We feel and highly appreciate your hospitality!

**[Should be solved]** the OP _#12 https://habitrpg.com/static/contact

[2015-05-24 09:24] paglias commented on #5246
Locales are being updated now, another few days until we deploy the new version of the production site.

[2015-05-24 09:24] #5246 closed, assigned to nobody

[2015-05-24 10:14] ghost commented on #4522
@Atomk in addition to the OP#10
- **[Should be solved]** I've just noticed, that the dialog behind the Send Gift button needs translation too. Please excuse me I've missed it out before. Some lines can be used from previous translations - so it will need some additional time to see what exactly can be reused. I'll look into it tomorrow (it doesn't mean that anyone having time today shouldn't try -

[2015-05-24 19:46] Rbrinkley opened #5271 "Bubble Arrow for Settings Button is Misaligned off to the left"
Hello! I noticed this while looking around the website.

It appears that the bubble arrow for the settings button on the top right corner of the screen is off to the left. The sync button (which while taking a screenshot to use as a comparison resulted in me finding another issue which I will create a new issues as to not mix up issues) has its arrow in the center of the bubble while the settings

[2015-05-24 19:51] Rbrinkley opened #5272 "Sync Button Bubble Arrow is positioned slightly higher than bubble arrow for other buttons"
Hello! I noticed this while I was trying to document images for my previous issue on the bubble arrow alignment for the settings button (#5271).

It is incredibly minor but the arrow for the sync button is slightly higher than the arrow for the settings button and for other buttons.
## Here are some images showing the issue. Blue line for reference. Might need to zoom in to see it better. Sorry ab

[2015-05-24 20:08] Rbrinkley opened #5273 "Markdown Formatting for guilds does not appear in main guild listings"
Hello! I'm not entirely sure if this is deliberate or not but I noticed that the markdown formatting for text does not appear to be showing up in the guild listing descriptions for guilds on the main guild lists.
## Here is a photo showing 2 guilds with markdown not showing uo:

![guildlistingmarkdownnotshowing1](https://cloud.githubusercontent.com/assets/7588148/7789447/5ea64222-0226-11e5-8adb-28

[2015-05-24 20:18] Rbrinkley opened #5274 "Bubble Arrow for Leave Guild confirm button is not consistent with normal spacing between arrow and button"
Hello! Sorry for the title. I like to be specific with my titles. I noticed this while documenting images for another issue I posted earlier.

Normally the arrow for a info bubble for any button has some spacing between it and the button or interface itself.

Here is an reference image showing that:
![guildleaveconfirmspeechbubblearrowpositionissuecomparisonimage](https://cloud.githubusercontent.c

[2015-05-24 20:34] #5271 closed, assigned to nobody

[2015-05-24 20:34] #5272 closed, assigned to nobody

[2015-05-24 20:34] #5274 closed, assigned to nobody

[2015-05-24 20:37] crookedneighbor commented on #5273
I'm okay with allowing descriptions to have markdown in the list view and should be trivial to do.

@Alys @lemoness @deilann Do y'all have opinions?

[2015-05-24 20:37] Rbrinkley commented on #5274
Dang. That was fast. I thought they got closed because I did something wrong but in actuality they were just fixed. I am impressed. Props.

[2015-05-24 21:43] ghost commented on #5261
Screenshot of changes: http://oi59.tinypic.com/21eat20.jpg
Screenshot of changes for slim/mobile view: http://oi58.tinypic.com/52bb6p.jpg

@lemoness Please excuse me for asking, but could you please confirm, that I got it right:
1. The wording of FAQ and Overview for New Users remains the same ([screenshot 1](http://oi59.tinypic.com/21eat20.jpg))
2. The "mobile" menu should have the same changes (

[2015-05-24 22:31] amitverma commented on #4221
I am seeing this in my app as well. Issue started to come up all of a sudden.
Is there something that I need to be looking at?

[code]

[2015-05-24 23:43] lemoness commented on #5261
All correct, thank you!

Whether or not we should include the FAQ in the Settings list vs. the
Overview for New Users vs. Nothing is a separate debate that we can have,
but it shouldn't hold up this PR.

On Sun, May 24, 2015 at 2:43 PM, Sphinx notifications@github.com wrote:

[2015-05-25 00:07] drdiggit42 opened #5276 "Can't cancel my subscription"
When I attempt to cancel my subscription I get the this message:
 {"err":"Cannot read property 'current_period_end' of null"}

My user ID is : 8467fff2-c527-4930-a662-f7c290edcd96

Whatismybrowser.org is not working, but I am using Chrome 43 on a WIndows 7 64bit PC

[2015-05-25 01:14] Alys commented on #5276
I've fixed that for you. Your subscription should terminate in a week.

If you were cancelling so that you could resubscribe with a different method, then you would be able to do that now.

Thank you for letting us know about whatismybrowser!

[2015-05-25 01:14] #5276 closed, assigned to nobody

[2015-05-25 01:23] Alys commented on #5261
@GitHubSphinx That's a good collection of screenshots! Including the mobile view was thoughtful. Thank you!

[2015-05-25 01:32] deilann commented on #5273
I've long felt like the markdown should show.

On Sun, May 24, 2015 at 1:37 PM, Blade Barringer notifications@github.com
wrote:

[2015-05-25 02:26] #2094 closed, assigned to nobody

[2015-05-25 05:17] TyranoTank opened #5278 "Randomly died"
I completed all but 2 dailies, I had about 30 health, and not in a boss quest. I am unsure why I logged in and died. I need someone to reset me to an old state or something. I had a lot I had accomplished which is now lost. I primarily use the app on iOS. User id: 7067f595-e0b5-48ed-8386-5599668b4a2a

[2015-05-25 05:20] deilann commented on #5278
You can patch yourself up using FCV on the website. (Settings > Site > Fix
Character Values). We generally do not download database backups and upload
them for issues of this sort as it's a multi-hour process and users can use
FCV to fix it themselves for the most part.

On Sun, May 24, 2015 at 10:17 PM, TyranoTank notifications@github.com
wrote:

[2015-05-25 08:09] deilann opened #5279 "Stealth Not Acting As Planned"
According to the DDT's Task Statistics, I have 98 Dailies. 36 of them are inactive today.

My Perception is 358. However, Stealth will allow me to avoid **55** Dailies.

**Reasons why this is not as planned:**

At max, one cast of Stealth should only allow me to skip half of my Dailies, or 49.

Furthermore, as Stealth now no longer counts inactive tasks, it really should only be allowing me to ski

[2015-05-25 15:18] Rbrinkley opened #5280 "Bubble Arrow for Notifications and Audio Theme Button is Misaligned off to the left"
Hello! I noticed this yesterday and thought it might be good to point out. I'm combining these issues because it seems more appropriate considering how small the issue is. Sorry for issues before hand.

Like with my previous bubble arrow alignment issue post concerning the settings button, I noticed that both the notifications bubble arrow and the Audio Theme bubble arrow are positioned to the lef

[2015-05-25 15:52] crookedneighbor commented on #5280
All fixed in https://github.com/HabitRPG/habitrpg/commit/165dd3a4a610fe9be5ca4b3c8d76c39ac7b63d71 . Will be live on the site after the next deploy. (probably sometime this week or the next)

![screen shot 2015-05-25 at 10 49 46 am](https://cloud.githubusercontent.com/assets/2916945/7799454/e914d040-02cb-11e5-8fe6-422dd791a58d.png)
![screen shot 2015-05-25 at 10 49 52 am](https://cloud.githubuserco

[2015-05-25 15:52] #5280 closed, assigned to nobody

[2015-05-25 15:56] Rbrinkley commented on #5280
Oops. didn't notice that in the fix. Thank you for sharing that with me.

[2015-05-25 16:51] crookedneighbor commented on #4221
@amitverma Since it sounds like you're having an issue with your own app, and not Habit, I would look at the passport issue listed above: https://github.com/jaredhanson/passport-facebook/issues/93

[2015-05-25 17:32] SabreCat commented on #4695
I believe this was accomplished long ago. Closing.

[2015-05-25 17:32] #4695 closed, assigned to SabreCat

[2015-05-25 17:41] crookedneighbor opened #5281 "Add semanitc ids to community guidelines"
Right now, the different [sections of the community guidelines](https://habitrpg.com/static/community-guidelines) do not have ids, which makes it hard to link to specific sections.

It'd be useful if the major sections had an id with the name of the section, all lower case, with hyphens instead of spaces. So "Public Spaces In Habitica" would become `#public-spaces-in-habitica`

[2015-05-25 20:33] SoranDK opened #5282 "Rogue Leather Hood text missing in Danish"
It just says: "Error processing string. Please report to..."

User ID: 8202449a-82fd-4d63-827a-05fdedef016b

Firefox 38.0.1 on Windows 8

[2015-05-25 21:37] lemoness opened #5283 "Make Help Button More Obvious"
It would be nice to make the help button in the header more obvious, perhaps by changing its color.

Would this be a suitable project for an aspiring coder?

[2015-05-25 21:48] lemoness opened #5284 "Challenge Sample tasks should not be clickable"
Right now, you can click on the sample Dailies and To-Dos in a Challenge, and a checkmark appears. This is misleading - there should be no interaction.
## <bountysource-plugin>

Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/17661437-challenge-sample-tasks-should-not-be-clickable?utm_campaign=plugin&utm_content=tracker%2F68393&utm_medium=issues&utm_source=git

[2015-05-25 21:51] lemoness commented on #5262
Another piece of text to change, in Challenges:
- [x] Sample Challenge Task intro text:

OLD: "These are the challenge's tasks. As users participate, they will change color and gain graphs to show you the overall progress of the group."
NEW: "These are the Challenge's tasks that will be added to your task dashboard when you join this Challenge. The sample Challenge tasks below will change color an

[2015-05-25 22:03] crookedneighbor commented on #5283
Sure would. Just needs a [bootstrap class](http://getbootstrap.com/) applied to it.

[2015-05-25 22:29] lemoness opened #5286 "Adding Blurbs to Certain Pages"
Some of the pages on HabitRPG don't have any explanation of what they are, other than the one-time pop-up the first time a user visits those pages. To avoid confusion and minimize questions, the following blurbs should be added. (Feel free to suggest improvements to the text!)
- [ ] Hall of Heroes

This is the Hall of Heroes, where open-source contributors to HabitRPG are honored. Whether through

[2015-05-25 22:54] hairlessbear commented on #5286
#### Hall of Heroes

I don't think "open-source" is necessary; I'd remove it. Also, I think "prestigious titles" should link to the [contributor titles wiki page](http://habitrpg.wikia.com/wiki/Contributor_Titles), and "gems, exclusive equipment" should link to the [contributor rewards wiki page](http://habitrpg.wikia.com/wiki/Contributor_Rewards). Both of these links are contained in the intro pa

[2015-05-25 23:18] gsalvadi opened #5287 "Dailies Checked automatically when different days set for dailes"
When I set different set of days for different dailies, like 'Daily1' Mon, Tue, Wed, Thu and for 'Daily2' Fri, Sat, Sun and so on. I had around ten dailies with different day scheduled. After 12 00 AM, few dailies were checked done automatically. I tried unchecked it. But it appeared again checked the next day. The checked dailies were dailies they were muted on certain days of week.

[2015-05-26 00:33] Alys commented on #5286
I like "open source" being there. It emphasises that anyone can contribute. I think it's an important point.

Can "letter icon" be changed to "envelope icon"? I kept wondering what letters (of the alphabet) it was talking about until it clicked. :)

I wouldn't mention the member pop-ups for that, because they don't always have the icon, and you can only get to the ones that do from the same places

[2015-05-26 01:31] hairlessbear commented on #5261
Any particular reason this shouldn't be closed?

[2015-05-26 02:48] #5261 closed, assigned to nobody

[2015-05-26 06:40] ghost commented on #5282
Thank you for reporting it @SoranDK!

Confirmation screenshot: http://i.snag.gy/rMAoF.jpg

The issue is about translation having a small error in variable. I've left a [comment on Transifex](https://www.transifex.com/projects/p/habitrpg/translate/#da/gearjson/22883763?key=headrogue1notes) for the Danish reviewer SyntaxTerror ( @lacrimae ) and this one should be easy to fix!

[2015-05-26 07:26] Sethycakes opened #5289 "Didn't get Green Knight equipment?"
Hi, I logged in today to see Bailey saying that the subscriber set's been revealed so I went to my inventory and used the two presents. However, I didn't get a pop-up in the upper right saying what I got, so I went into my equipment and found that even though my present count is now 0 I still don't have this month's subscriber set.

User ID: 8a1db51b-01f8-4794-8f9b-a0da605b9bcb
Browser: Google Chr

[2015-05-26 07:30] deilann commented on #5289
Are you a subscriber? Have you tried refreshing?

There's absolutely no information in this ticket... no UUID, no explanation of what's going on. We'll need at least some info to go on.

[2015-05-26 07:31] Sethycakes commented on #5289
Sorry! I accidentally pressed enter after writing the title and it submitted the ticket before I could write anything. I was hoping I could edit some info into my ticket before anyone could see but I was barely too late.

[2015-05-26 07:32] deilann commented on #5289
Editing wouldn't send the info to anyone's email anyway and many of us do
support via email, not Github's site directly.

On Tue, May 26, 2015 at 12:32 AM, Sethycakes notifications@github.com
wrote:

[2015-05-26 07:33] Sethycakes commented on #5289
So then what do you suggest I do? Close this and submit a new properly written ticket?

[2015-05-26 07:33] deilann commented on #5289
Having read what you've edited in

for email posterity:

Hi, I logged in today to see Bailey saying that the subscriber set's been
revealed so I went to my inventory and used the two presents. However, I
didn't get a pop-up in the upper right saying what I got, so I went into my
equipment and found that even though my present count is now 0 I still
don't have this month's subscriber set.

User ID:

[2015-05-26 07:35] deilann commented on #5289
In the future, just respond to your regular ticket, so an email gets sent.

On Tue, May 26, 2015 at 12:33 AM, Sethycakes notifications@github.com
wrote:

[2015-05-26 07:36] Sethycakes commented on #5289
I refreshed and still can't seem to find it. I assume it would appear under the "Mystery" category because that's where most of the subscriber equipment is. http://i.imgur.com/s1oTknn.png This is a screenshot of my Mystery equipment post-refresh.

[2015-05-26 07:38] deilann commented on #5289
No, you need to do a hard refresh and the mystery box should repopulate and
you can claim it there. It won't just appear in your mystery section. If
refreshing isn't working, log out and log back in again. You need to
populate the code that's been added.

On Tue, May 26, 2015 at 12:36 AM, Sethycakes notifications@github.com
wrote:

[2015-05-26 07:40] Sethycakes commented on #5289
I got it now, many thanks!

[2015-05-26 07:40] #5289 closed, assigned to nobody

[2015-05-26 08:14] Sethycakes opened #5290 "Missing Forest Walker subscriber set despite being a subscriber from the beginning"
Hello, I've been a subscriber since Habit RPG offered the option to subscribe. However, looking at the Time Travelers seems to indicate that I don't have the Forest Walker set of March 2014. I know for a fact that I've been subscribed since before then, because I have the Winged Messenger Set (February 2014) and I also have email receipt for a subscription dated 3/07/14.

User ID: 8a1db51b-01f8-47

[2015-05-26 08:26] deilann commented on #5290
Refresh. I should have added them to your account.

[2015-05-26 08:26] #5290 closed, assigned to nobody

[2015-05-26 08:59] deilann opened #5291 "Share > Download Generates Image w/ Level w/o Contrib Color"
If you click "Share" on your avatar, you can click download, which generates an image like this:

![](https://habitrpg-dev.s3.amazonaws.com/avatar-e7b5d1e2-3b6e-4192-b867-8bafdb03eeec.png)

That's my current avatar. However, I feel if it's going to show the level, it should include the contrib color (aka, mine should be dark blue, not grey).
## <bountysource-plugin>

Want to back this issue? **[Po

[2015-05-26 10:46] ghost commented on #5245
It seems that the text is using the previous class rather than the new one. When switching back from a rogue to a warrior I see the following:

![screen shot 2015-05-26 at 11 41 35](https://cloud.githubusercontent.com/assets/2931465/7810763/d8f4f7e0-039c-11e5-964b-dd16a50d1073.png)

![screen shot 2015-05-26 at 11 41 51](https://cloud.githubusercontent.com/assets/2931465/7810765/e04f4cf2-039c-11e5-

[2015-05-26 10:50] Alys commented on #5245
This has been reported in https://github.com/HabitRPG/habitrpg/issues/4888

If you'd like to follow the progress of that issue, you can subscribe to notifications using the button in the right-hand column.

[2015-05-26 10:50] #5245 closed, assigned to nobody

[2015-05-26 13:12] gitte-k commented on #5282
Durr. Thanks, fixed ;)

[2015-05-26 15:20] GNAdv commented on #5039
This just happened to me over the long weekend. Was NOT on a quest of any kind. Went into rest mode on Friday via iOS — or so I thought (there was nothing to indicate I hadn't). Logged in on desktop this morning to find I was almost dead (2<3s left).

[2015-05-26 15:31] hairlessbear opened #5294 "Multiple issues with front page avatar sharing"
#### In game

![selection_018](https://cloud.githubusercontent.com/assets/7059890/7815992/ba95b9ae-0399-11e5-9f85-d9b8a5919381.png)
#### Front page

![selection_019](https://cloud.githubusercontent.com/assets/7059890/7816003/c35324a0-0399-11e5-846e-17d0a55a6642.png)

The front page version is missing the contributor level + colors, class, equipment and total mana and experience.

Also, something i

[2015-05-26 17:28] crookedneighbor commented on #5294
I believe the contributor title stuff is happening because the function that creates it is on the app's rootController and not on the static front page's controller. It should be extracted and put into a service.

[2015-05-26 18:51] HerrZog opened #5295 "Subscribed but did not receive gems immediately"
Hello )
I'm a subscribed user of HabitRPG, and my auto-payment has been sent 11th May - transaction ID is 0E554854MW398522U. But looks like I still don't have crystals at my account, and its very sad ((. Could you check it please?
Regards,
Anna

---

_edit by admin_:
# What to do if this happens to you:

**Please be aware that when you subscribe you are not actually meant to be given gems immediat

[2015-05-26 19:35] hairlessbear commented on #5295
Please include your user ID (follow the instructions [here](https://github.com/HabitRPG/habitrpg/issues/2760) to locate your ID) so an admin can help you. Note that there are only a few admins, so it may take a few days before they are able to help.

[2015-05-26 19:43] deilann commented on #5295
As a subscriber you don't get your gems immediately. If you go to the
market and scroll down to the bottom, you'll see you can purchase them with
gold now!
On May 26, 2015 12:35 PM, "hairlessbear" notifications@github.com wrote:

[2015-05-26 20:54] lemoness commented on #5265
I would be fine with a pop-up! I know some people find them annoying, but
presumably you're not being invited to too many parties.

On Sat, May 23, 2015 at 6:08 PM, Blade Barringer notifications@github.com
wrote:

[2015-05-26 22:49] lemoness commented on #5281
Agreed! I would find this feature very useful.

Also while you're in there, we need to add Beffymaroo to the list of mods!

I'll nab the updated mod art right now.

On Mon, May 25, 2015 at 10:41 AM, Blade Barringer notifications@github.com
wrote:

[2015-05-26 22:54] lemoness commented on #5281
![npc mods3](https://cloud.githubusercontent.com/assets/3494081/7825242/6dce0f88-03bf-11e5-9084-7172e17b1d33.png)

[2015-05-27 00:27] crookedneighbor commented on #5265
@lemoness Should the modal also popup for invitations to guilds? (I vote yes)

What should be included in the modal?
- [ ] Group logo (if present)
- [ ] Group name
- [ ] Group description (if present)
- [ ] Person who invited you
- [ ] Big join button
- [ ] Small decline button

[2015-05-27 00:30] lemoness commented on #5265
All sounds good to me!

On Tue, May 26, 2015 at 5:27 PM, Blade Barringer notifications@github.com
wrote:

[2015-05-27 02:37] Sethycakes commented on #5290
Thank you!

[2015-05-27 06:48] Crystal00 commented on #4819
It looks like this is still an issue? I had an automatic renewal on May 20th and still no mystic hourglass.

User ID 251a1749-8407-4307-91fc-6d30f5af319b

Thank you

[2015-05-27 09:47] averrin commented on #5283
![header-help-button](https://cloud.githubusercontent.com/assets/426007/7833301/71617f22-046e-11e5-82bc-1f8d54a7cfb3.png)
Something like this?

[2015-05-27 10:00] averrin commented on #5283
or this:
![header-help-button1](https://cloud.githubusercontent.com/assets/426007/7833537/4e3ef158-0470-11e5-9204-7a8d5447758e.png)

[2015-05-27 12:01] HerrZog commented on #5295
2hairlessbear - whoops, sorry. My ID is 7ad3b058-a7b2-485d-b829-426f1935faba

[2015-05-27 12:53] hairlessbear commented on #5295
HerrZog, [this](http://habitrpg.wikia.com/wiki/Subscription#Individual_Subscription) is the wiki page listing subscriber benefits. This is the list, with emphasis added:

As you can see, you aren't given gems for subscribing, but you gain the ability to buy gems with gold. If you go to the market, at the bottom of the page, you'll see that you can now buy gems for 20 gold a piece.

[2015-05-27 12:58] #5295 closed, assigned to nobody

[2015-05-27 13:04] deilann opened #5299 "First Guilds/Party Chat Notification Clicked Does Not Disappear"
When you click on a chat notification, the expected behavior is that it should disappear. However, lately, the first chat notification I click on does not go away as expected:

![image](https://cloud.githubusercontent.com/assets/6274734/7836584/0cc6992c-0436-11e5-9d15-6379d3b10c2b.png)

There, you can see that I'm in the Legendary Book Club of Habitica. I got there via the notification on the top.

[2015-05-27 13:06] deilann commented on #5283
Yes, but bright green is probably not the way to go.

On Wed, May 27, 2015 at 3:00 AM, Averrin notifications@github.com wrote:

[2015-05-27 21:10] Alys commented on #5262
EDIT: This point should be discussed in https://github.com/HabitRPG/habitrpg/issues/5125 where it's already been mentioned along with other related things. _In the Wizards of the Wiki guild, Purplatypus has pointed out "I just took the class system tour, and it said 'Your mana replenishes 10 points per day, plus 1 point per completed To-Do.' But now it can be fewer than that if you don't complete

[2015-05-27 21:15] lemoness commented on #5286
Yes, "envelope icon" is fine!

I'm happy for extra links to be included in the Hall.

I like the amended sentence that includes a mention of creating Guilds.

All Tavern Challenges are required to have a gem prize, so I think this is
fine.

On Mon, May 25, 2015 at 5:33 PM, Alys notifications@github.com wrote:

[2015-05-27 21:17] deilann commented on #5262
I pointed out a while ago that is an inaccuracy along with many other
things in the class tutorial. You can see the ticket here:
https://github.com/HabitRPG/habitrpg/issues/5125

On Wed, May 27, 2015 at 2:10 PM, Alys notifications@github.com wrote:

[2015-05-27 21:18] Alys commented on #5262
Ugh, sorry deilann. I'm editing my post to link to yours for that item to be discussed there instead of here.

[2015-05-27 21:19] lemoness commented on #5283
Agreed - can we try a shade of blue, perhaps? And not quite so bright.

On Wed, May 27, 2015 at 6:06 AM, deilann notifications@github.com wrote:

[2015-05-27 21:22] deilann opened #5301 "Inn Warning Showing Despite not Being in the Inn"
![screenshot from 2015-05-27 14 19 36](https://cloud.githubusercontent.com/assets/6274734/7847889/99221c12-047b-11e5-8499-bfa59ca09abc.png)

As you can see from my avatar I am not in the inn. However, last time I signed into HabitRPG on this computer I was. Likely this is a caching issue, however, I think it's something that needs to be addressed because it could severely mislead users and scare t

[2015-05-27 21:42] Alys commented on #5287
Is this still happening? If so, please tell us your user ID (you can find out how to get your user ID by going to Help -> Report a Bug and looking at step 6 in the instructions there). Please add it as a new comment rather than editing your post, because we don't receive email notifications for edits.

You don't need to include your user ID if it's no longer happening. In that case, it was probabl

[2015-05-27 21:48] NOMINDTR commented on #5287
I made adjustments watching for two days. I have added similar daily. Will
update if the problem prevails tomorrow.
Thanks

*Gokul Salvadi*
Chop wood; carry water

On 28 May 2015 at 03:12, Alys <notifications@github.com> wrote:

[2015-05-27 21:49] gsalvadi commented on #5287
I made adjustments watching for two days. I have added similar daily. Will
update if the problem prevails tomorrow.
Thanks

[2015-05-27 22:03] gsalvadi commented on #5287
Unlike [Issue 4313](https://github.com/HabitRPG/habitrpg/issues/4313) , I did not have any damages for dailies I did. On cron, few dailies appeared checked automatically. This happened on the day I made few dailies only for few days of the week. I will check again.

My user ID is 70d88957-673a-4edd-b97e-f1ecb018dd89

[2015-05-27 22:08] deilann commented on #5287
Did you try refreshing? Sometimes this happens to me until I refresh, and
then they show unchecked.

On Wed, May 27, 2015 at 3:03 PM, NOMINDTR notifications@github.com wrote:

[2015-05-27 22:09] gsalvadi commented on #5287
Yes. I remember I tried refreshing. I will update here.

[2015-05-27 22:49] mayajosyula commented on #5262
Could I try doing this? I don't think I can do the "pop-up button change" part, but I can definitely do all the text changes.

[2015-05-27 22:53] hairlessbear commented on #5262
@agentx999 Of course, as long as you beat @Alys to the punch ;) If you have any issues, don't hesitate to ask here.

[2015-05-28 18:17] excentris commented on #5283
@lemoness something like the subscribe button? I'd like to fix this as my first contribution :)

[2015-05-28 18:42] averrin commented on #5283
@excentris
i have already some variants: #5300 but its not so easy. To decide, not to develop.

[2015-05-28 18:57] averrin commented on #5148
![plus-fix](https://cloud.githubusercontent.com/assets/426007/7868397/856bfa4e-0584-11e5-9ade-2b08f409df1c.png)
fix: add vertical-align css property to span.glyphicon

[2015-05-28 19:02] excentris commented on #5283
@averrin @crookedneighbor Ah, alright. By the way, is there a way to see if somebody is working on an issue? I started working on this because I did not see an Assignee.

[2015-05-28 19:06] averrin commented on #5283
@excentris i dont know how it work, its my first contribution. And im slightly dissapointed.

[2015-05-28 19:23] crookedneighbor commented on #5283
Only members of the org can be listed as an assignee, unfortunately. 😔

[2015-05-28 19:25] excentris commented on #5283
@crookedneighbor Thanks! What is then the best way to indicate that you are working on an issue? Leaving a comment on the issue itself?

[2015-05-28 19:48] ghost commented on #669
Hi I am trying to change my username but it's not allowing me and it is showing error like "Login is already taken". Can you please help how to fix this. Basically I to show my name instead of ID to the users.

[2015-05-28 19:53] Alys commented on #669
@shail-mmt Go to User -> Profile and click on Edit to change your Display Name. For questions about how to use or configure HabitRPG, you'll find it easier to go to Help -> Ask a Question, instead of using GitHub. GitHub is primarily for bug reports.

[2015-05-28 19:56] ghost commented on #669
Thanks Alys,
I am able to change this (Basically it was not allowing me to change as I was giving same name which I was already given some time back)

[2015-05-28 20:43] deilann commented on #5283
Yes, that's the best way.
On May 28, 2015 12:25 PM, "Eduardo Rubio" notifications@github.com wrote:

[2015-05-29 03:46] hairlessbear opened #5303 "Occasionally being directed to alternate Tavern page (?)"
Sometimes when I go to the Tavern, I end up at `https://habitrpg.com/#/options/groups/guilds/habitrpg` instead of `https://habitrpg.com/#/options/groups/tavern`. This makes the page behave strangely in multiple ways, all of which I believe are due to the site trying to format the Tavern like a normal guild instead of, well, the Tavern.
![tavern screenshot](https://cloud.githubusercontent.com/asset

[2015-05-29 03:47] hairlessbear commented on #5303
I forgot to mention that I have yet to figure out how to reproduce this consistently. It just happens sometimes; I haven't found the pattern yet.

[2015-05-29 04:54] lemoness commented on #4449
Wolf mount repositions are done! Including a fixed version of the Base Wolf.

You should now have updated versions of all the mounts. Let me know if you need any more art!

![mount_wolf_bluebody](https://cloud.githubusercontent.com/assets/3494081/7876648/16e5e4f4-0584-11e5-94ed-5e579b0744b1.png)
![mount_wolf_desertbody](https://cloud.githubusercontent.com/assets/3494081/7876647/16e2c1a2-0584-11e5-

[2015-05-29 05:48] Alys commented on #5303
Are you a member of the "Tavern" guild (gid habitrpg)? If so, clicking on the Tavern button in your list of the guilds that you have joined will cause you to go to the guild view instead of to the proper Tavern view.

We can probably fix this most easily by adjusting the guild list page so that gid habitrpg never appears in it, and then (optionally) running a database migration script to un-join t

[2015-05-29 06:11] mayajosyula commented on #5303
I just wanted to add that this happens to me whenever I go to the Tavern from the Chrome chat extension (by using the link at the top of the Tavern chat window). I'm not a member of the Tavern guild and I haven't been able to get to the "Tavern guild" page any other way.

[2015-05-29 06:25] hairlessbear commented on #5303
@agentx999 Ah-ha! That's how I've been doing it! Thank you!

@Alys I'm not a member of the Tavern guild; I've been getting to it via the method @agentx999 described.

[2015-05-29 07:01] JWPapi commented on #5281
should be closed shouldnt it?

[2015-05-29 07:27] Alys commented on #5281
Thanks @JWPapi!

[2015-05-29 07:27] #5281 closed, assigned to nobody

[2015-05-29 14:22] SabreCat commented on #4030
The logic for dispensing quests on levelup is here: https://github.com/HabitRPG/habitrpg/blob/develop/common/script/index.coffee#L1441

I suspect the issue is that this is in `user.fns` and thus is running both on the client and the server. The quest inventory is incremented once on the server, once on the client, thus 2 scrolls. The only one that "sticks" is the server save, however, so once a re

[2015-05-29 15:48] ghost commented on #4433
@Alys for the sake of housekeeping, this issue seems a duplicate of https://github.com/HabitRPG/habitrpg/issues/4031 to me. Neither Transifex nor GitHub searches return any occurrence of typo in question ("morgends") now.

[2015-05-29 17:51] ModernHedonist commented on #5232
I agree

[2015-05-29 17:54] ModernHedonist commented on #4924
Yes! I'm having this problem as well - or at least, I think it's the same. I lose my checklists created through the app.

[2015-05-29 22:31] Alys commented on #4433
Thanks @GitHubSphinx!

[2015-05-29 22:31] #4433 closed, assigned to nobody

[2015-05-29 23:21] pompouswhompus opened #5308 "Cannot unsubscribe"
Username: whompus
As much as I love HabitRPG, I'm afraid I can't afford to subscribe anymore (grad school eats everything.) When I try to unsubscribe, however, it gives me the following error:

{"err":"Cannot read property 'current_period_end' of null"}

OS: Windows 8.1
Firefox, Chrome

[2015-05-30 00:15] Alys commented on #5308
We understand about not being able to afford subscriptions any more. Thank you for the subscription payments you've given us in the past!

Unfortunately, we can't help you without being able to identify your HabitRPG account. Please go to Help -> Report a Bug and see the instructions there for telling us your User ID (step 6).

[2015-05-30 01:13] Alys commented on #3494
I'm closing this because now, when you cancel a subscription, you can start a new one immediately before the previous subscription period runs out.

[2015-05-30 01:13] #3494 closed, assigned to nobody

[2015-05-30 01:49] Alys opened #5309 "gifting a subscription fails, maybe because a previous subscription had existed in the past"
A player reported to us via the admin@habitrpg.com email address that when they tried to gift a subscription to their sister, it failed. They tried twice with the same result so I think it was not a temporary glitch. My current theory is that it might have failed because their sister had had a subscription previously (now expired) and **possibly** that got in the way of the new gift subscription b

[2015-05-30 04:43] #5236 closed, assigned to nobody

[2015-05-30 05:12] hairlessbear commented on #5303
@Alys Should I close this since the issue is actually with the chat extension, or leave it open to encourage someone to remove the ability to view the Tavern as a normal guild?

[2015-05-30 05:16] crookedneighbor commented on #5303
Please leave it open. In my opinion, if someone navigates to the guild url with the habitrpg id, it should redirect to the tavern page.

[2015-05-30 05:20] hairlessbear commented on #5303
Sounds good to me. I might take a crack at implementing that tomorrow if no one else has done it by then.

[2015-05-30 05:30] Alys commented on #5262
All text changes have been done.

I'm working on the "Pop-up button change" task.

[2015-05-30 05:37] hairlessbear opened #5310 "No markdown in notifications"
I'm pretty sure this only matters when you cast a spell on a task with Markdown in the title, but there may be other use cases that I'm missing.

![notification no emoji](https://cloud.githubusercontent.com/assets/7059890/7895754/47239632-066c-11e5-9d2c-fed30d15555a.jpg)
![notification no markdown](https://cloud.githubusercontent.com/assets/7059890/7895755/49094370-066c-11e5-8f17-458e3c0e54bb.jpg)

[2015-05-30 05:51] Alys commented on #5262
Waiting for https://github.com/HabitRPG/habitrpg/pull/5307 to be merged.

[2015-05-30 06:54] Alys commented on #5248
@Eiron Errors like this typically happen with large groups and are often temporary. If it's still happening, tell us:
- the URL for the guild
- the current text(s) that you want removed
- the new text(s) to replace the old text(s).

If it's for a private guild and you don't want to paste the details here, PM me (for this one particular job only, not in general). If there's no need for it to be kep

[2015-05-30 06:57] Alys commented on #5244
@lemoness This is issue is proposing that for the Class system, the opt out text be changed from this:

"Can't be bothered with classes? Want to choose later? Opt out - you'll be a warrior and your points handled automatically. You can enable classes later under Settings."

to this:

"Can't be bothered with classes? Want to choose later? Opt out - you'll be a warrior with no special abilities. You

[2015-05-30 06:58] #4886 closed, assigned to nobody

[2015-05-30 07:09] ghost commented on #5310
Just for the sake of connection https://github.com/HabitRPG/habitrpg/issues/2927

TBH, I don't like the wording of the issue reported by myself previously, so that one may be actually closed in favor of this one.

Waiting for a moderator's opinion.

[2015-05-30 07:14] Alys opened #5311 "Guilds should have a new, plain-text field for a description on the guild list page"
_Do not start work on this until approved by @lemoness. This message will be removed when it is approved._

Currently, when you create a guild, you write a "Description", which can be many lines of text, with markdown. The Description is shown on the guild's own page (which is good), but also on the list of all guilds, which can look bad when the description is too long or has markdown - see https

[2015-05-30 07:15] Alys commented on #5311
@lemoness (and others) : All of that is just my initial thought about how this could work. Please state what changes you want!

[2015-05-30 07:17] Alys commented on #5273
@Rbrinkley thanks for bringing up this problem! I'm closing this now that I've created https://github.com/HabitRPG/habitrpg/issues/5311 which describes how we (probably) want to resolve this issue. Feel free to comment on that issue if you have anything you'd like to add!

[2015-05-30 07:17] #5273 closed, assigned to crookedneighbor

[2015-05-30 07:20] Alys commented on #5310
Thanks @GitHubSphinx. We should have listened to you last year. :) I'll keep this new issue open since the other one has extra conversation in it.

[2015-05-30 07:21] Alys commented on #2927
Reported again in https://github.com/HabitRPG/habitrpg/issues/5310 so I'm closing this one.

[2015-05-30 07:21] #2927 closed, assigned to nobody

[2015-05-30 07:29] Alys commented on #4488
Can anyone think of any problems with @brandonjreid's suggestion? It seems reasonable to me. If there's no comments in another couple of days, I'd suggest that @brandonjreid goes ahead with it, if he'd like to.

[2015-05-30 07:53] Alys commented on #4819
@Crystal00 Sorry about that! I've given you an extra hourglass and increased your monthly gem cap by five. If you don't have the gold saved up for the extra five gems this month, you can go to Settings -> Site -> Fix Character Values to give yourself a loan.

[2015-05-30 07:55] Alys commented on #4819
@ericbaum @iamnotabanana @FoxWhiskers I can't tell from the comments here if your problems were fixed. Please post again if they were not. @ericbaum we'd need your User ID from Settings -> API.

[2015-05-30 08:15] #3065 closed, assigned to nobody

[2015-05-30 08:20] Alys commented on #2771
@lemoness I'm assuming this is still desired? It sounds like a nice idea.

[2015-05-30 08:24] Alys commented on #3880
Cron has been modified since this was logged, so I'm closing this. Any problems like this that happen now are likely to be https://github.com/HabitRPG/habitrpg/issues/4313

[2015-05-30 08:24] #3880 closed, assigned to nobody

[2015-05-30 13:40] ericbaum commented on #4819
No, the problem is still up. I haven't received that old hourglass yet.
But I'll just be able to see if it is working with auto renewal next month =]

UUID: ac18def4-67c9-4d8c-9785-80914dbeb5c4

[2015-05-30 13:57] mollyweasley commented on #4805
Sorry, I don't have time to figure out how to post a new bug, but I just
wanted to let you know right away:

It seems to be letting me edit the FAQ area.  I'm not signed in.  I didn't
click save, but it let me add characters.  I'm sure you don't want this . .
.

The reason I was looking there was because my stats are behaving very badly
right now.  Last night I again had the undone but checked tas

[2015-05-30 14:15] pompouswhompus commented on #5308
Woops, sorry. API is: b8a9a521-bdcf-4c11-b326-91b480900098

[2015-05-30 14:19] crookedneighbor commented on #4488
Sounds reasonable to me. @brandonjreid, both of those variables are stored on the user object, so it should be very easy to manipulate both.

[2015-05-30 16:45] Momogajo commented on #5287
f3df5aad-6e4c-4825-a907-095c0928f72d I'm having the same problem, many of my dalliances were pre-checked off and dalliances I did last night apparently didn't count and damaged my party during our boss battle

[2015-05-30 17:13] Momogajo commented on #5287
I'm on chrome and am using Windows 7(I think)

[2015-05-30 17:15] deilann commented on #5303
I disagree actually. I like being able to navigate to the Tavern that way
because when it's treated like a guild it auto-updates.

On Fri, May 29, 2015 at 10:20 PM, hairlessbear notifications@github.com
wrote:

[2015-05-30 17:22] deilann commented on #5287
The reason we think this might not be
https://github.com/HabitRPG/habitrpg/issues/4313 is because this user did
not take damage. If damage was taken, Momogajo, it is that issue.

On Sat, May 30, 2015 at 10:13 AM, Momogajo notifications@github.com wrote:

[2015-05-30 17:22] crookedneighbor commented on #5303
Wait, guilds auto-update? Like, chat messages appear automatically, or do you mean something else?

[2015-05-30 17:35] Rbrinkley commented on #5273
@Alys Glad to help! I'll make sure to comment if I have anything I might want to add. Thank you for all your help on this issue. Also thanks to everyone else who helped and is currently helping with the issue too. Glad to see this getting some steam. Thanks again!

[2015-05-30 17:43] deilann commented on #5303
When you visit the Tavern, you have to click "Fetch New Messages" to make
the new messages show up. When you visit a guild, the latest messages
automatically appear.

On Sat, May 30, 2015 at 10:22 AM, Blade Barringer notifications@github.com
wrote:

[2015-05-30 17:44] crookedneighbor commented on #5303
Interesting. To me, that sounds more like a bug in the tavern versus a feature in a guild.

[2015-05-30 17:50] deilann commented on #5303
The Tavern does that on purpose for performance reasons.

On Sat, May 30, 2015 at 10:45 AM, Blade Barringer notifications@github.com
wrote:

[2015-05-30 17:58] crookedneighbor commented on #5303
Yeah, I was thinking of it on the client end, not the server end. On the client end, it wouldn't be any more resource intensive than a normal guild, but obviously on the server end, it would be a lot more resource intensive.

[2015-05-30 18:00] deilann commented on #4805
The FAQ is on our wiki, which is set to let anyone edit it, even if they
are not signed in. This is on purpose. If someone changes something that we
don't find quite right, ti's very easy to revert those changes.

As for the NaN issue... go to Settings > Site and click "Fix Character
Values"

Set your XP to a number and save the changes. NaN means "not a number" in
codese. It should then be fixed.

[2015-05-30 18:52] DSDragon opened #5312 "Challenge boss's damage taken gets SMALLER every day!"
A few days ago, the health bar of The Snackless Monster said that I had done a total of 217/300 damage to it.  Yesterday, it said I had done 203.  Today it says 194.  That is VERY BAD, especially since I have consistently done it damage, instead of it doing me damage.  Please fix this bug that makes the damage go down instead of up!
![image](https://cloud.githubusercontent.com/assets/12192688/7898

[2015-05-30 19:06] ghost commented on #5312
@DSDragon The bar shows the remaining health of the boss. You can see the amount of damage dealt to the boss by you or other party members (if there are any) in the party chat:
`DSDragon attacks The Snackless Monster for XX.X damage...`

So it's the expected behavior.

[2015-05-30 19:23] Momogajo commented on #5287
No I don't think I took damage, it just said that the party was hit for points and my dallies didn't change over

[2015-05-30 19:30] deilann commented on #5287
If your party was hit for damage, then this is different, and is 4313, like
I linked.

On Sat, May 30, 2015 at 12:24 PM, Momogajo notifications@github.com wrote:

[2015-05-30 19:31] deilann commented on #5312
Yes, the health bar is the health _remaining_, not the damage you've dealt. It starts at 300 and goes down.

[2015-05-30 19:31] #5312 closed, assigned to nobody

[2015-05-30 19:50] DSDragon commented on #5312
It's always been the other way before. In previous quests, it was the
amount of damage done.
On May 30, 2015 3:31 PM, "deilann" notifications@github.com wrote:

[2015-05-30 20:08] Momogajo commented on #5287
I asked if anyone was hit for damage and haven't received a response back from anyone so I am going with the solutions you sent in that link

[2015-05-30 21:42] Alys commented on #5312
You might have done only collection quests in the past. In the quest box for collection quests, it shows how many items you have collected (so the number goes up over time). For boss quests, the number has always been the boss's health and so it has always gone down.

[2015-05-30 22:04] Alys commented on #5308
I've investigated and what happened was that your subscription was already cancelled by the credit card processing company (Stripe) due to multiple failed payments since 21 April, but our systems weren't notified of the cancellation.

I have set the cancellation flag in your account, so your subscription is terminated. You will not be charged again for that subscription.

Thanks for letting us kno

[2015-05-30 22:04] #5308 closed, assigned to nobody

[2015-05-30 22:13] Alys commented on #4819
@ericbaum Sorry about that! I've given you the trinket that you should have received in March, and increased your monthly gem cap, and given you the extra gems you would have been able to buy in March and April had the gem cap been increased then as it should have. If you don't have the gold saved up for the extra five gems this month, you can go to Settings -> Site -> Fix Character Values to give

[2015-05-30 22:46] hairlessbear commented on #5299
I've been unable to replicate this. Is it still happening?

[2015-05-31 01:28] lemoness commented on #5244
Yes, that is more accurate, and I like that it links to the wiki.

On Fri, May 29, 2015 at 11:57 PM, Alys notifications@github.com wrote:

[2015-05-31 01:29] lemoness commented on #2771
Yes, I think it would be fun! Low-priority, obviously, but fun.

On Sat, May 30, 2015 at 1:20 AM, Alys notifications@github.com wrote:

[2015-05-31 01:38] Alys commented on #5244
I've added this to the first post:

Edit by Alys:
The wiki link is http://habitrpg.wikia.com/wiki/Class_System
The link should be part of the translatable text so that translators can link to the associated page on the wiki for their own language.

@GitHubSphinx Do you want to do this? If not, I'll advertise it in Aspiring Coders.

[2015-05-31 02:53] deilann commented on #5287
If it showed that you did boss damage, they would have been hit.

On Sat, May 30, 2015 at 1:08 PM, Momogajo notifications@github.com wrote:

[2015-05-31 02:55] deilann commented on #5299
Intermittently, yes.

On Sat, May 30, 2015 at 3:46 PM, hairlessbear notifications@github.com
wrote:

[2015-05-31 05:17] ghost commented on #5244
@Alys thank you very much! Please give me some minutes to apply changes and run it locally to make screenshots.

[2015-05-31 05:21] excentris commented on #5283
@lemoness @crookedneighbor The pull request opened by @averrin was not working for me, so I opened a new pull request #5314 taking into account the '?' improvement proposed by @averrin and using current stylus mixins and colours for consistency.

[2015-05-31 06:00] ghost commented on #5244
@Alys @lemoness Please excuse me, I've missed one thing out before when suggesting changes:

optOutText it's a popover text, and we can't have clickable links in the popovers.
The modal does provide a link to the wiki in the heading: `Choose your [Class!] Or opt out to choose later.`
Screenshot: http://snag.gy/oMROA.jpg
But it's not obvious that a user can also learn more about opting out there.

[2015-05-31 06:56] Alys commented on #5244
Oh yeah..... I'd like to see a "Learn more about classes" link in the bottom of that dialog. Then the link could be removed from "Class" in the top of that dialog, which I think would look nicer.

[2015-05-31 08:32] Crystal00 commented on #4819
@Alys Thank you very much for the quick reply and fix. Thanks for the extra
gems as well!
On May 30, 2015 12:54 AM, "Alys" notifications@github.com wrote:

[2015-05-31 09:35] ghost commented on #5244
@Alys  May I ask for some help with this one please?

Here's what I get: before / after
 ![screenshot](http://oi62.tinypic.com/viemms.jpg)
and the things changed work as expected, however there are some questions I can't make decisions about on my own:
1. **[Proposed solution: opting for a single line and deleting old parts]** Heading has been comprised of three lines: `Choose your + a(Class!) + O

[2015-05-31 09:58] Alys commented on #5244
Heh heh, you opened a can of worms. ;)
1. From what I've read about translations, I think one long string (chooseClassHeading) is best, yes? It gives the translators more flexibility, especially in cases of languages that have very different word orders than English, or languages where word forms depend strongly on context. You would know more about that than I, so I will defer to you, but my pers

[2015-05-31 11:11] ghost commented on #5244
@Alys thank you very much for your help!

Solution for the links to wiki pages about a particular class is not very elegant - I didn't want to create new strings for translation, but I guess, it's the simplest one.

Unfortunately I wasn't able to turn popover wide.

I've created the pull request stating the old bug and the new layout bug - maybe someone could fix it or give some more hints on them

[2015-05-31 13:32] ravenct opened #5316 "Discrepancy in Description: Exploding Squeak"
![screenshot from 2015-05-31 09 28 33](https://cloud.githubusercontent.com/assets/12683443/7902085/c6c7ee18-0777-11e5-9194-010d770dd545.png)

Hey, I'm new here and don't know where to report things like description errors. But, I went to the User Data Display and then Equipment Recommendations and noticed that the exploding squeak offers 12 STR. But, the description for this item says it's only 8

[2015-05-31 13:33] #5316 closed, assigned to nobody

[2015-05-31 13:34] ravenct commented on #5316
NEvermind, I realize that it's a class equip bonus!!!!! My bad.

[2015-05-31 13:58] lpezzullo opened #5317 "Exported To-Dos not readable"
I've tried opening both the CSV and JSON export files in Sublime 2 and TextEdit, and consistently, the names of my to-dos are encoded as numbers with long decimal points. My quest achievements are preserved as readable text - it's just the to-dos that are numbers. Is this a problem on my end?

[2015-05-31 15:34] crookedneighbor commented on #5317
Can you copy and paste a selection of each as a comment here? Feel free to anonymize any personal details if present.

My json export has two todos sections. A main one where everything is normal, and the details of the tasks display normally. The second one is bested under history, and just shows the value changes over time (this is what I expect you are seeing)

I'd recommend using the text sear

[2015-05-31 18:18] ghost commented on #5282
Fix is merged with develop, soon live. I guess this can be closed.

[2015-05-31 19:08] #5282 closed, assigned to nobody

[2015-05-31 19:58] ghost commented on #5180
I have the exact same issue on Xubuntu 15.04 / Firefox 38.
As far as I can tell, this appears only when feeding pets / hatching eggs. It seems that the confirmation required to feed / hatch prevents the popover to get the information that the mouse does not hover the image anymore (probably because this confirmation does steal the focus).

[2015-05-31 19:58] excentris commented on #4606
@crookedneighbor The fix seems merged, shouldn't this issue be closed?

[2015-05-31 20:11] crookedneighbor commented on #4606
Hmmm... seems to me that it's only working in the development environment. I can't get it to auto-focus on the textarea in production.

[2015-05-31 20:25] #4606 closed, assigned to nobody

[2015-05-31 20:29] crookedneighbor commented on #4606
Figured out the reason.

@TheHollidayInn The directive you wrote worked in development, but when it got  minified for production, the directive broke. The way angular does things is kinda funky, and breaks when minified unless the array syntax is used.

Here's the commit where I fixed it: https://github.com/HabitRPG/habitrpg/commit/d28ed6badf6b584eda69078e04adca14bf8631d3

If you see other directi

[2015-05-31 20:43] deilann commented on #5180
That's not what causes it. You can make this happen without feeding a pet.

On Sun, May 31, 2015 at 12:58 PM, Bleu notifications@github.com wrote:

[2015-05-31 20:52] ghost commented on #5180
You're certainly right, but I didn't find any other way to trigger it _yet_ on my system, while hatching or feeding is a way to trigger it each and every time, for me.
I'm willing to test any other trigger you can get your hands on.

[2015-05-31 20:55] deilann commented on #5180
Interesting. I used to be able to just mouse over and back, but that's
since been fixed.

Other things that trigger it:

Using keyboard commands to select things (this annoyingly causes a
permanent popup for _everything_ that you can't get rid of without the
mouse)

On Sun, May 31, 2015 at 1:52 PM, Bleu notifications@github.com wrote:

[2015-05-31 21:17] diogo-cruz opened #5320 "Failing to Update Values when Leveling Up"
The values of mana, health and experience fail to update when I try to use the skill Burst of Flames to level up (since I'm close to the maximum experience for the current level). After I use it and click on a daily, it does not update even when I reload the page or click Sync. The dailies continue to show the green square when I hover over them, and the cursor continues to show the little plus si

[2015-05-31 21:18] deilann commented on #5320
Are you using it to get to level 15, 30, 40, or 60?

On Sun, May 31, 2015 at 2:17 PM, HalexusAlmighty notifications@github.com
wrote:

[2015-05-31 21:37] hairlessbear opened #5321 "New tutorial pops up for existing users, and can't be avoided"
I'm assuming this is a result of #5307 being merged. I have all of my tasks set up how I like them, so I have no need to go through the tutorial, but there's no way to close it. You have to click "I'm ready", which I don't want to do because I don't know whether it'll force changes to my set up.

pinging @SabreCat for help

[2015-05-31 21:47] crookedneighbor commented on #5321
Just click "I'm Ready". It doesn't make any changes. (Just tried it myself)

[2015-05-31 21:55] hairlessbear commented on #5321
Awesome, thanks @crookedneighbor! Should I leave this open for users with similar concerns to see, or just close it?

[2015-05-31 21:56] ghost commented on #5180
I'm curious. I didn't find any keyboard command to select things within the application. I tried almost anything I know without triggering anything, but maybe I don't use the right commands. Which command do you use ?

[2015-05-31 22:00] hairlessbear commented on #5320
For what it's worth, I just used Burst of Flames 10 times in a row to get to level 79, and didn't experience this issue.

[2015-05-31 23:01] SabreCat commented on #5321
Leave it open. It wasn't meant to show up for existing users.

On Sun, May 31, 2015, 4:55 PM hairlessbear notifications@github.com wrote:

[2015-05-31 23:47] gsalvadi opened #5322 "Drop not rolled back"
When I clicked a task from the list, I got XP,Gold and a Hatch Potion. As it was a check done by mistake, I went to the list of tasks done and unchecked it. In rollback, the hatch potion did not disappear. I just want to record this though this is not a critical bug.

[2015-06-01 00:08] Alys commented on #5322
Already reported at https://github.com/HabitRPG/habitrpg/issues/4626
Please see the first comment that explains why this is not considered to be a bug.

[2015-06-01 00:08] #5322 closed, assigned to nobody

[2015-06-01 01:13] Alys commented on #5321
I've been running a migration to set a flag for all existing users so that they won't see the new screen. All users who logged in within the past five days have been done. The remainder are running now.

[2015-06-01 01:25] crookedneighbor commented on #5321
Since the people who are active on the site have been taken care of, I'm going to close this now.

[2015-06-01 01:25] #5321 closed, assigned to nobody

[2015-06-01 01:51] TheHollidayInn commented on #4606
Ah, dang. I keep forgetting about that syntax. I will definitely keep an eye out for it.

[2015-06-01 02:02] crookedneighbor commented on #4606
No worries. It happens to everyone. This particular quirk of Angular has bitten me before.

[2015-06-01 02:34] Alys commented on #5321
All users done now.

[2015-06-01 02:58] knifey-spooney opened #5323 "Random level and gold increase"
My level went from 92 or 93 to 110 seemingly overnight with no input from me, and my gold increased from about 1500 to over 9000 even though I did no tasks. Also, some of my habits are marked as completed for the day even though I didn't do them yet today.
I'm using Firefox and Windows 7, and my id is 1568645d-fce8-41ca-874c-009acfc796ed
## <bountysource-plugin>

Want to back this issue? **[Post a

[2015-06-01 03:13] Alys commented on #5323
Can you confirm that you use only the habitrpg.com website and never any mobile apps?

Do you use any third-party tools at all? Any extensions or scripts or anything that might use the API? Have you ever installed anything related to HabitRPG?

I've noticed that in your quest that just finished, you did 1695.2 damage at once. Was there anything you did to cause that deliberately (it's fine if ther

[2015-06-01 03:16] hairlessbear commented on #5323
To add on the the questions @Alys asked: is there any chance you left your account logged in on a device that others access (e.g., a public computer)?

[2015-06-01 03:24] Alys commented on #5323
And also did you have the website open in multiple tabs overnight?

[2015-06-01 04:49] ericbaum commented on #4819
@Alys Ok. Thanks a lot =] I'll let you know if anything goes wrong.

[2015-06-01 05:04] knifey-spooney commented on #5323
I've used the mobile app once or twice but mainly use only the regular computer version of habitrpg. I didn't do anything specific with the quest, but I did notice last night that I had trouble reaching the server so I just assumed something was down and didn't use the site last night.
I don't use any thirdparty tools and I've always been rogue class, and didn't have the site open last night at al

[2015-06-01 05:38] Alys commented on #5323
Sorry, I need to be certain of one thing: For those five Dailies that were marked as completed today, I understand that you didn't mark them as completed today (and so they should not have been appearing as completed).

However had you yourself marked all or some of those fives Dailies as completed **yesterday**?

[2015-06-01 08:07] diogo-cruz commented on #5320
Yes, to level up to level 40. I've tried again today, and it still doesn't work. It has the same issues.

[2015-06-01 08:28] knifey-spooney commented on #5323
Yes I'd marked them completed yesterday, sorry if I'm not being clear enough on stuff.

[2015-06-01 10:31] deilann commented on #5180
Through vimium.

On Sun, May 31, 2015 at 2:56 PM, Bleu notifications@github.com wrote:

[2015-06-01 10:37] Alys commented on #5320
It's probably this issue: https://github.com/HabitRPG/habitrpg/issues/4986

Do you see an error message on screen like "Error Cannot set property 'drop' of undefined"?

[2015-06-01 10:37] deilann commented on #5320
Yes, this is a known issue for levels 15, 30, 40, and 60 because of the
interaction with the quest scroll drop on these levels. You can simulate it
by using Fix Character Values in Settings > Site to add on the XP and
reduce your MP. Then trigger any task to level up... you can even create a
one time dummy task to do it. Sorry this hasn't been fixed yet.

On Mon, Jun 1, 2015 at 1:08 AM, HalexusAlm

[2015-06-01 10:40] Alys commented on #5323
No, that's okay! It's a complex situation. To be honest, I'm not at all sure what was going on. We'll have to keep this open and think about it.

If you'd like to set your values back to what they were, you can go to Settings -> Site and click on the Fix Character Values button.

[2015-06-01 11:29] diogo-cruz commented on #5320
I think it's that. The first time I tried to use the skill that message appeared. I was able to level up using a habit now (and received the quest).

[2015-06-01 11:29] #5320 closed, assigned to nobody

[2015-06-01 11:52] knifey-spooney commented on #5323
Thanks for helping, I hope this is just a weird one-off thing that doesn't happen again!

[2015-06-01 11:53] Alys commented on #5320
Thanks for letting us know.

When you're reporting bugs, it's always worth telling us if there was an error message, even if you can't remember exactly what it said. Letting us know as much as you can remember helps us solve errors faster.

[2015-06-01 15:25] AstroKicker commented on #4819
Hello! My account was renewed on May 16. I didn't receive a mystic hourglass. I think my gem caps was raised by 5 though? Is 20 the cap?

My user ID: b4b9dfad-b624-44b0-94b1-e6e47a28b1a1

Thank you!

[2015-06-01 15:49] SabreCat commented on #5148
Amusingly, it appears the + drops down to the correct position while I'm adding a task...

[2015-06-01 17:58] jakerella opened #5324 "Discussion: features with hard costs"
I submitted an integration idea on [Trello](https://trello.com/c/jW0pKNIm) for SMS, but I wanted to open an issue because I didn't find any good information on features that might incur a hard cost (like SMS). I would think these would need to be limited to users with a subscription... thoughts? How would one proceed with getting such an idea approved? In the case above it would require an account

[2015-06-01 19:28] lemoness commented on #5311
So, right now there are actually two ways to display information - in the
Description that displays on the Public Guilds page, and in the Message
from Group Leader (when you edit a group that you own), which only displays
within the Guild. Is there a way that we can consolidate this preexisting
system into the new proposal?

One example of how to do this (NOT necessarily the best way):
1. Descript

[2015-06-01 21:23] cyChop opened #5328 "Beast Master progress count incorrect"
I found a discrepancy when displaying the Beast Master progress.

I have 8 pets (not counting quest pets).
In my user stats, I have the following:
![stats](https://cloud.githubusercontent.com/assets/1841583/7923379/e2cacf18-08b2-11e5-9df5-e19cfa96ff00.png)

Yet in the inventory, I have this:
![inventory](https://cloud.githubusercontent.com/assets/1841583/7923378/e2c90e4e-08b2-11e5-9779-d029caf56cb

[2015-06-01 21:45] Alys commented on #5328
Please reload the inventory page. Does it still say 6 / 90?

FYI for devs:

[code]

[2015-06-01 21:57] Alys commented on #5324
Getting a costed feature approved and integrated is a case-by-case thing. There's no set process for it.

In this particular case, I recommend that we wait to see if other people express interest in your idea on Trello. Without sufficient interest, this is unlikely to go ahead since a cost is involved (note that this does not guarantee that it would go ahead even if there is some interest). If you

[2015-06-01 22:09] deilann commented on #5311
I'd really prefer that there's still a markdown enabled description that
doesn't go above chat. (Where the guild info is currently placed.)

Reasons for this: many guilds would want to have longer descriptions,
including resources, and images, which don't fit as well in the rather
narrow message from guild leader and that message pushes down chat.

However, I do agree that the "message from group

[2015-06-01 22:14] jakerella commented on #5324
I completely agree with your points on SMS, all valid quite valid. As for the pricing, you are correct that for International numbers it would be different all over, but for the US it could be quite cheap ($0.0075 per text with Twilio). Anyway, I can post that info on the Trello card. But I guess the answer to this particular discussion is: case-by-case... which is expected.

So, to answer this di

[2015-06-01 22:17] jakerella commented on #5324
Oh, also... who can create the actual card on Trello? Right now it's just in the "REQUEST INTEGRATION" card comments.

[2015-06-01 22:19] deilann commented on #5324
Only members of the Trello board can create new cards. Be patient. :) We're
all busy folks and even if it got its own card, it would be quite some time
before it was worked on, most likely. We've got bigger dragons to slay, you
might say.

On Mon, Jun 1, 2015 at 3:17 PM, Jordan Kasper notifications@github.com
wrote:

[2015-06-01 22:31] Alys commented on #5324
As I said, the process will be a case-by-case thing. A defined process doesn't seem necessary. Whether a staff member or an established developer or a new developer investigates or creates a new feature really depends on the feature. All feature requests can be made through Trello, as you've done, and we can take it from there each time, using whichever steps are necessary at the time.

[2015-06-02 00:04] hairlessbear commented on #4819
@AstroKicker Have you subscribed for three months consecutively?

[2015-06-02 00:06] AstroKicker commented on #4819
Yes, this is my 2nd round @ $15.00

[2015-06-02 00:08] hairlessbear commented on #4819
Sweet, just double-checking. I'm not an admin, so you'll have to wait for one of them to pop by to get real help. Thanks for subscribing!

[2015-06-02 03:54] cyChop commented on #5328
Nope, the problem seems to be fixed. Thank you!

[2015-06-02 04:04] Alys commented on #5328
Thanks for letting us know!

It's always worth doing a reload whenever you see anything odd because that will fix any temporary glitches.

[2015-06-02 04:04] #5328 closed, assigned to nobody

[2015-06-02 04:21] TheHollidayInn commented on #5190
From Pro-Angularjs Chapter 18:

"Services are commonly used to implement cross-cutting concerns, which is a catchall term for any functionality that is affected by more than one component or affects more than one component. Typical examples are logging, security, and networking. They are not part of the model (unless your business is logging, security, or networking), they don’t belong to the cont

[2015-06-02 04:57] Rbrinkley commented on #5311
Maybe have the box for the guild description at a set size and if the markdown gets too big the box will scroll. It would likely make those who are trying to have the markdown enabled to try and fix their description to that size and avoid making giant banners at the cost of making users having to go through the trouble of scrolling. Just an idea. What do you guys think of that? The box doesn't ha

[2015-06-02 05:16] ghost opened #5331 "Cron reset happening later in the day."
I was using the phone app and the web version on 2 different computers.
Since a few days my cron is messed up. It doesn't happen when it is supposed to be. My dailies keep being checked. Yesterday in the afternoon when I came home, I think a cron happened on my home computer, as if the cron time on my home computer is different to the one on my laptop.
Custom day Start is set to "0", I'm not resti

[2015-06-02 05:22] cyChop commented on #5328
As a developer myself, I am aware of the old tricks. I thought I did some reload (not sure I forced a cache-cleaning, though). I tried on another computer this morning, so no cache problem possible. Thank you anyway (for the answer and the great habit tracker for those who respond well to gamification like myself)!

[2015-06-02 05:22] Alys commented on #5331
Please check the time and timezone settings on **_all**_ PCs, laptops, phones, tablets, etc that you use HabitRPG on. They need to be identical. If they are not, you will get crons happening at "incorrect" times (HabitRPG itself thinks the crons are happening correctly because it is using the time and timezone set on your own devices).

[2015-06-02 05:28] ghost commented on #5331
You are right, my timezone was about 10 hours off on my home computer O.o

[2015-06-02 05:28] #5331 closed, assigned to nobody

[2015-06-02 06:57] pmeinertzhagen opened #5332 "HabitRPG won't open in browser at all"
I've had this problem for well over a week now. When I try and hit the "play" button on the HabitRPG website on both Safari and Chrome, the app doesn't open - there is a blue bar that quickly moves across the top of the browser, indicating something loading, but the screen stays the same. However, the web app does open on Safari on my iPad, which is where I'm having to use it currently.

[2015-06-02 08:11] noisephoenix opened #5333 "Rewards help displays 'Error processing string. Please report to http://github.com/HabitRPG/habitrpg.'"
On the Tasks page pressing the Help ? next to Rewards shows 'Error processing string. Please report to http://github.com/HabitRPG/habitrpg.'

![rewards](https://cloud.githubusercontent.com/assets/4841199/7931293/5f67fa1a-0907-11e5-9f2f-03658e7a8713.PNG)

[2015-06-02 10:13] Alys commented on #4819
@AstroKicker You should now have one new Hourglass and an extra 5 gems on your monthly cap (the base is 25). Tell us if it hasn't worked! You might need to sync or reload to see the changes.

[2015-06-02 13:03] ghost commented on #5333
@noisephoenix Thank you for reporting it!

This issue is because the code doesn't specify the link to be used with this translatable string:
[lists.jade](https://github.com/HabitRPG/habitrpg/search?l=jade&q=rewardHelp4&utf8=%E2%9C%93) has `li!=env.t('rewardHelp4')` with no variables while [tasks.json](https://github.com/HabitRPG/habitrpg/blob/develop/common/locales/en/tasks.json) suggests a line w

[2015-06-02 13:14] crookedneighbor commented on #5333
I have just fixed it.

[2015-06-02 13:16] #5333 closed, assigned to nobody

[2015-06-02 14:14] Memry opened #5334 "Double Damage in quests"
The last two quests I was in, I did double damage to the boss.  Two lines appeared when I logged in, each detailing exactly the same amount of damage.  And it definitely did actually apply.  Today I killed the boss pretty much single handedly.  My ID is e495bd8b-f2f1-48e8-8f5f-9a52710999cf

[2015-06-02 15:18] ajbadass opened #5335 "Red hatching potions won't drop!"
Hey guys,
I've been playing for a couple of months and still have no red hatching potions! I have 57 of the 90 pets and none of them are red. Is it just reeeeeally bad luck, or is something broken?

[2015-06-02 15:49] ajbadass commented on #5335
Holy wah,
I just found my first one ever!

[2015-06-02 16:33] deilann commented on #5335
Yup. Randomness is just random.

[2015-06-02 16:33] #5335 closed, assigned to nobody

[2015-06-02 18:37] ghost commented on #5180
The vimium extension for firefox is outdated, so I can't test it right now (might have to install chromium first). Anyway, seeing it in action makes me think that it somehow also adds some kind of overlay that steals the focus from the info-popover, which brings me back to my first idea.

[2015-06-02 20:07] NinthWorlder opened #5338 "Trouble cancelling subscription"
I need to cancel my subscription as I can't afford it any more, but on trying to cancel it I get the message:

{"err":"Cannot read property 'current_period_end' of null"}

My user ID is: b036008e-f7be-4b23-ac0a-9751bb2a749c

My browser is Firefox 38 on Windows 7

Thanks in advance for any help with this

[2015-06-02 20:13] deilann commented on #5338
ping @Alys

This usually happens because Stripe canceled a payment. Alys will be able to fix it for you. :)

[2015-06-02 21:08] deilann opened #5339 "Completed Challenge Persisting After Removal"
When clicking "Remove Tasks" when opening up a completed challenge (broken microphone), the blue bar goes across the screen and no error pops up. However, the tasks are not immediately removed. Once refreshing, the tasks are gone.

Because the tasks still persist, you can then click "Keep Tasks" or "Remove Tasks" again. If you do, you get the following error (which makes sense):

**Please reload,

[2015-06-02 22:44] Alys commented on #5334
Hi @Memry. We're not sure what causes this but you can follow the progress of the bug fix in https://github.com/HabitRPG/habitrpg/issues/2805. It seems to be intermittent and rare.

[2015-06-02 22:44] #5334 closed, assigned to nobody

[2015-06-02 23:22] beffymaroo commented on #5143
Yep, just came over here to say the same. I can only judge how Habits/Dailies were completed based on color and streaks, which is not that helpful when the criteria for being a potential challenge winner was "make a clear effort to keep up on the Habit and Daily".

[2015-06-03 01:05] gileryn opened #5340 "Avatar missing in Android app"
I cannot see my avatar when I view the panel on the left on the HabitRPG app for Android. When I go to "Profile" I can see it, as well as on the website. It is only missing on the left-hand panel in the app. Instead it is an empty, white space.

[2015-06-03 01:08] gileryn commented on #5340
This began immediately after the most recent update.

[2015-06-03 04:31] Memry commented on #2805
I had it happen my last two quests.  We just started another quest.  I'll see if it happens again.  I have two habit accounts, and it only happens on one account.  The account it does NOT happen to is the one I use on two devices (using the habit app on my iPad and habit in IE on my home computer).  The other account I only use in Chrome on my home computer.

[2015-06-03 04:43] TheHollidayInn commented on #5233
Can you give me the steps to replicate this error? I'm not sure what you mean by MP alerts.

If you know, is this an issue with rounding mp in scoring? https://github.com/HabitRPG/habitrpg/blob/develop/common/script/index.coffee#L1152-L1156

[2015-06-03 04:46] crookedneighbor commented on #5233
@TheHollidayInn He means the notifications you get when new mp is received by completing todos, habits, etc (similar to exp or gold gained).

Possibly related to how the rounding is done in the notification itself: https://github.com/HabitRPG/habitrpg/blob/develop/website/public/js/services/notificationServices.js#L79

[2015-06-03 11:03] Alys commented on #5338
@NinthWorlder That error was happening because our credit card processing provider made four failed attempts to renew your subscription and then cancelled your subscription but without informing our server. I've applied the cancellation to your account. You won't be charged for that subscription again.

[2015-06-03 11:03] #5338 closed, assigned to nobody

[2015-06-03 11:24] NinthWorlder commented on #5338
Thanks for your help with this :)

[2015-06-03 13:56] AstroKicker commented on #4819
Thank you Alys & hairlessbear  ;)

[2015-06-03 18:22] littlezildjian commented on #2805
I use Habit on my browser (chrome) and my mobile app. I do often have both chrome and the app open simultaneously on my phone (I use the app mostly, but keep chrome so I can use abilities). So at most it's open in 3 places.

The damage is always identical and does take effect twice (both for attack and damage to party). I'm doing the Recidivate Transformed quest, and this is the first time it's ev

[2015-06-03 19:49] NOMINDTR commented on #4174
Started the Quest yesterday. I did not damage the boss today, I figured I could have.
I am participating.

User id 70d88957-673a-4edd-b97e-f1ecb018dd89

Group ID: 11a2456c-8b39-438c-82c7-1467e10564a6

Thank you

[2015-06-03 21:38] lemoness commented on #5340
pinging @negue!

On Tue, Jun 2, 2015 at 6:08 PM, gileryn notifications@github.com wrote:

[2015-06-04 00:04] fsaxen opened #5341 "Automatically getting back mana after casting a spell"
When I cast "Valorous Presence" and any Habit immediately afterwards, I sometimes get back all 20 mana points from the spell.
I'm not totally sure that it's a bug because I'm a Warrior with 210 strength but it does not say that i landed a critical hit.

FYI: User ID: 5772e41c-5690-460b-92f6-a79a3eb5b0d3
Using windows 8, Firefox 38.0.5
## <bountysource-plugin>

Want to back this issue? **[Post a bo

[2015-06-04 00:10] negue commented on #5340
Cannot reproduce this on my galaxy s4 :( @gileryn could you please try to un- and  reinstall the App and see if it solves the problem?

[2015-06-04 00:13] crookedneighbor commented on #5341
@nuke160 Are you casting multiple spells in quick succession? In that case, likely the server was unable to catch up with the browser and didn't register that the spell was cast, giving you back the 20 mp and not actually applying it.

[2015-06-04 04:54] gileryn commented on #5340
I un- and reinstalled the app and the problem persists =[

[2015-06-04 05:53] hairlessbear commented on #5340
Have you tried clearing the app's data (settings -> application manager (or possibly "manage applications") -> HabitRPG -> clear data)?

[2015-06-04 06:56] chekunkov commented on #2433
same issue here
![habitrpg___your_life_the_role_playing_game](https://cloud.githubusercontent.com/assets/744331/7978605/d64cae48-0a9f-11e5-9433-b0403db7cec9.png)

[2015-06-04 07:30] zebular13 opened #5342 "Tasks in To-Do List are repeating themselves"
Around 4pm PDT I added some new tasks to my to-do list. When I got back to my computer I was shocked to see that not only had my character died (she was at 40 health beforehand), two of the new tasks I had added had replicated themselves ad infinitum (eg, more than 20x)
I checked the extra ones off and kept playing (I got back to my original level) but it happened again tonight around midnight wit

[2015-06-04 08:35] Alys commented on #5342
I answered your question about that in the Tavern just after you first asked it there four hours ago:

"@zebular13 : I'm sorry about that! I have heard of it happening to others but it's not common. You can restore your lost level, gold, etc by going to Settings (the gear-shaped icon) -> Site -> Fix Character Values. For the duplicated tasks, try deleting them starting from the ones closest to the

[2015-06-04 08:37] Alys commented on #5342
The issue has been reported before in https://github.com/HabitRPG/habitrpg/issues/4773. If you'd like to follow the progress of the investigation, you can subscribe to notifications from that issue.

[2015-06-04 08:37] #5342 closed, assigned to nobody

[2015-06-04 08:38] fsaxen commented on #5341
No. I cast Valorous Presence once and hit a habit quickly after it.
I also thought that maybe it has not been registered but it shows up on the party page.

[2015-06-04 13:55] #5044 closed, assigned to nobody

[2015-06-04 15:31] pivotal-rebecca commented on #5332
Are there any red messages in your console when this happens? To view the console, right click anywhere in Chrome and choose Inspect Element. Choose 'Console' from the tabs at the top of the opened interface. Paste any output you see in your console here.

[2015-06-04 15:43] SabreCat commented on #2805
I just had this happen to me this morning:

![image](https://cloud.githubusercontent.com/assets/4501321/7987926/3b19a938-0aa6-11e5-9cc7-70226b02f7cb.png)

I was trying to connect to one of the development servers, which returned a NO_RESPONSE error at first. So I opened a browser tab to connect to the production site, and in the meantime, the dev site loaded. When I made it to my party page, the d

[2015-06-04 17:18] SnowCrasher opened #5345 "Some issues on source English"
Hello! I hope I'm doing this right. It's my first time posting anything on GitHub so I'm a little lost here. XD
I was translating in Korean on Transifex (known as NaYa there) and I noticed some grammar and term issues, and @paglias told me to report here, so here I am.

**1.** There are a couple occasions where "**Options**" is mentioned in an instruction, but in the game there is no "**Options**"

[2015-06-04 20:25] hairlessbear commented on #4522
@GitHubSphinx [Here](https://github.com/HabitRPG/habitrpg/blob/develop/website/views/options/social/chat-box.jade#L2-5) are a couple more lines that aren't translatable.

[2015-06-04 21:03] cyChop opened #5346 "Messed up dailies and to-dos"
I've encountered a quite nasty bug. The to-dos and dailies I created in the latter days (yesterday and maybe the day before) have been multiplied, and I cannot delete them.

I checked the JSON being passed, and tasks indeed appear several times. I have emptied the cache, tested under Chromium and IE but the problem is still the same.

Not sure I can do something more to help, but I'll be glad to.

[2015-06-04 21:51] cyChop commented on #5346
OK, I can delete the duplicates, I only have to refresh the whole page between each deletion.

[2015-06-04 21:56] cyChop commented on #5346
Tags were affected too.

[2015-06-04 22:08] Weyrsinger opened #5347 "Hatched pet disappeared"
Today I hatched a cotton candy blue wolf. I got the normal message saying it hatched and to go to the pet page to view it, but when I went to view it it wasn't there. So now my hatching potion and egg are both gone, and no pet to show for it.

[2015-06-04 22:12] Alys commented on #2805
@SabreCat Did you notice any other signs of cron running twice, such as gaining twice the mana overnight?

[2015-06-04 22:29] Alys commented on #5347
Unfortunately we can't help you without being able to identify your HabitRPG account. Please go to Help -> Report a Bug and see the instructions there for how to find your User ID.

Before you do that, please reload both the pets page and the inventory page. That might make the pet or the egg and potion reappear.

[2015-06-04 22:32] Weyrsinger commented on #5347
I've tried reloading, and opening the page on different devices; it didn't help. My User ID is f253cc36-1630-4db5-99e1-1e4cd07f89ee

[2015-06-04 22:34] hairlessbear commented on #5346
This is a duplicate of #4470/#4773. Although there isn't yet a way to stop the bug from occurring, if you delete the duplicated tasks starting at the bottom of the list, they should be removed properly.

[2015-06-04 22:59] gileryn commented on #5340
Didn't work =[

[2015-06-04 23:37] heteroerectus commented on #4420
Same problem here, user ID is 835ca0fb-2466-4b5d-9096-91f07463f410

[2015-06-05 00:04] #4420 closed, assigned to nobody

[2015-06-05 00:57] skybluefusion opened #5348 "All non-challenge tasks disappeared"
I did all the troubleshooting I could figure out to try. Tags are cleared. Site has been reloaded, synced multiple times. The data page has been giving multiple errors as well. I've not left all but one challenge which leaves me with only one daily, one habit. No to-dos. I am EXTREMELY frustrated. I have become dependent on HRPG to guide me through my day, especially since my cognitive abilities a

[2015-06-05 01:00] Alys commented on #5348
Can you please tell us how many hours (or days) ago the tasks disappeared? We can use this information to find them in a database backup, if that turns out to be necessary. If you're not sure exactly how many hours, it's better to overestimate rather than underestimate (i.e., give us a larger nubmer of hours rather than a smaller one). Please note it does need to be a number of hours (or days) rat

[2015-06-05 01:03] skybluefusion commented on #5348
I think it was about 2-3 days ago. I struggle with perception of time, especially when thrown for a loop by technical issues and bad seizure days, which have coincided recently. Habitrpg is my guide through the day.

[2015-06-05 01:39] SabreCat commented on #2805
@Alys: Not that I recall, no, but it could well be that I didn't notice rather than that it didn't happen.

[2015-06-05 07:52] cyChop commented on #5346
OK, I did not see the original. Closing this issue as duplicate. Thanks for letting me know.

[2015-06-05 07:52] #5346 closed, assigned to nobody

[2015-06-05 10:28] cmoedk opened #5349 "Every second to last list item on each Tasks help list displays: "Error processing string. Please report to http://github.com/HabitRPG/habitrpg.""
![error](https://cloud.githubusercontent.com/assets/11811026/8004205/d78339ba-0b7d-11e5-9797-20fc2e6bc106.jpg)

UserId: 38040a8f-6adb-4bc0-93e2-be69cec72326

Chrome 43.0.2357.81 m, Windows 7 SP1

I have changed the language from danish to english, but don't know if the error was there before changing.

[2015-06-05 11:54] charlesvtiu commented on #5323
Is there a database table that records every post someone does when they check off a daily? Would be good to see if there are multiple records that just keep firing for this person to isolate the issue.

[2015-06-05 12:38] Alys commented on #5348
@skybluefusion I've started downloading a database backup. It will have finished downloading when I wake up tomorrow (in about 12 hours from now) and then I'll work on extracting your data and restoring it. That part might take another couple of hours (mostly time waiting for the database extraction to run - it's slow). You should have your tasks back within 24 hours, probably sooner.

[2015-06-05 12:49] Alys commented on #5347
@Weyrsinger I've given you the pet. Sorry about the trouble! Post here if you still can't see it.

[2015-06-05 12:49] #5347 closed, assigned to nobody

[2015-06-05 13:11] hairlessbear commented on #5349
Good catch! I'll fix this right now.

[2015-06-05 13:55] hairlessbear commented on #5345
`untilNoFace` isn't used anywhere, which makes sense, because HabitRPG has Facebook integration, so the message isn't needed. Maybe it should be removed. `questSend` seems to be the only other instance of "Options" being used like this; [search results here](https://github.com/HabitRPG/habitrpg/search?utf8=%E2%9C%93&q=options+path%3Acommon%2Flocales%2Fen).

[2015-06-05 14:01] hairlessbear commented on #5310
Closing due to #5313 fixing the issue.

[2015-06-05 14:01] #5310 closed, assigned to nobody

[2015-06-05 18:43] carolstone commented on #4591
I think this is where I'm supposed to post this.

I'm having trouble setting up my vagrant box. I'm on Win 7 with Vagrant 1.7.2. I've re-done it a couple of times, including going to the trouble of uninstalling Vagrant and VMWare and setting up my habitrpg directory from scratch and get exactly the same error, so I think I've ruled out a bad vagrant install.

I don't know if this is a sign of trou

[2015-06-05 22:46] JaeBeyBey commented on #3279
User ID: d56109ad-3b4c-4188-bcb6-0eb21a95e9c6
Browser: Chrome

Related Issue: Pet that has leveled to Mount is still showing in the Pet section but is not grayed out.

I have a Red Dragon that I fed a bunch of strawberries and it leveled to a Red Dragon Mount.  The Red Dragon shows up in both the Pets and the Mounts tab but it's not grayed out in the Pets tab.  It's not a crucial issue but I thoug

[2015-06-05 22:51] hairlessbear commented on #3279
@AwesomeJae Have you tried refreshing the page? And if so, have you tried closing the page completely, and opening HabitRPG in a new tab/window?

[2015-06-05 22:58] JaeBeyBey commented on #3279
@hairlessbear Thanks for the suggestions!  Here's what I tried:
- Refreshing Page
- Closing tab and reloading HabitRPG on a new tab
- Closing browser and reopening
- Restarting laptop
- Cleared browser cache

[2015-06-05 23:05] hairlessbear commented on #3279
That's very thorough! Since you didn't say otherwise, I'm assuming none of those worked.

Does the red dragon pet function as expected (i.e. when you click it, it shows up in your avatar, and it doesn't have a feed bar under it)? And does the red dragon mount work properly?

[2015-06-05 23:07] JaeBeyBey commented on #3279
@hairlessbear It does.  Not sure if it's supposed to show up at the same time as a mount though...
![screen shot 2015-06-05 at 4 06 16 pm](https://cloud.githubusercontent.com/assets/11524609/8016774/f6581436-0b9c-11e5-89c0-dc47201662ab.png)

[2015-06-05 23:15] hairlessbear commented on #3279
@AwesomeJae Don't worry, that's working properly ([here's my profile for another example](https://habitrpg.com/static/front/#?memberId=8ac7242d-8f18-4d6f-b4f4-8f6302f7fa0b)).

Welp, I'm out of ideas. I'm guessing that this was caused by some sort of sync error, but you'll have to wait for an admin to come by to investigate further. Out of curiosity though, would you like to keep the pet, or not?

[2015-06-05 23:19] Alys commented on #3279
@AwesomeJae your pets data in the database has become corrupted with multiple entries for the same pet. I'll fix it for you soon. If it's still not right in an hour after a reload, comment here again.

[2015-06-05 23:23] Alys commented on #3279
Actually, no, that's completely untrue. I was looking at your data too quickly. It's fine. Possibly a sync error caused you to keep the pet after you mounted it, if you're certain you didn't rehatch it. Everything looks fine apart from that.

[2015-06-05 23:47] #2232 closed, assigned to nobody

[2015-06-05 23:48] Alys commented on #2232
@SabreCat Bounty!

[2015-06-05 23:50] Alys commented on #4559
bumping this for consideration again now that ultimate gear achievement is fixed

[2015-06-05 23:51] #2881 closed, assigned to SabreCat

[2015-06-06 00:08] Alys opened #5352 "Orb of Rebirth is not unlocked by the new Ultimate Gear achievements"
The Orb of Rebirth is not unlocked by the new Ultimate Gear achievements.

Assuming we still want that - @lemoness ?

I'm thinking that it might make sense to NOT unlock the Orb when you have an Ultimate Gear achievement. Players tend to get it around level 20 to 30 I think (very roughly), which is rather soon for thinking about rebirth. And now that Ultimate Gear unlocks something else, it would

[2015-06-06 00:18] Alys commented on #5352
Assuming we still want that - @lemoness ?

[2015-06-06 01:56] Alys commented on #4420
@heteroerectus Your recurring payments were cancelled by the credit card processing company we use (Stripe) two weeks ago because it had been unable to extract a payment from your card since April, and that's why you were unable to cancel it yourself. I've applied the cancellation to your HabitRPG account.

[2015-06-06 02:31] Alys commented on #5348
@skybluefusion I'm working on restoring your tasks now. There are some problems with some giving errors when they're imported into the database, so I'm still investigating that problem. While I'm doing this, you might find your tasks appearing and disappearing, but please be assured it's only temporary. By the time I've finished, you should have back all your tasks from the backup made about four

[2015-06-06 03:47] Alys commented on #5352
I'm thinking now that it might make sense to NOT unlock the Orb when you have an Ultimate Gear achievement. Players tend to get it around level 20 to 30 I think (very roughly), which is rather soon for thinking about rebirth. And now that Ultimate Gear unlocks something else, it would still be special even without unlocking the Orb.

[2015-06-06 03:58] thebat137 commented on #5235
This just happened to me too.  In my case, I think it may have had something to do with using the Orb of Rebirth recently, possibly combined with the fact that the ears show up both as "Avatar" items and as "Equipment" items.  I repurchased them from the Avatar page (for gems) just to see what would happen, and that seems to have given them back in both places.  Also, putting them on my character

[2015-06-06 03:59] Alys commented on #5235
@thebat137 Before you bought them with gems, were they appearing for sale with gold in the Rewards column?

[2015-06-06 04:00] thebat137 commented on #5235
Alys, I think they were.  I am not 100% sure, though.  Feel free to "take" them from me again if you want me to check.

[2015-06-06 04:03] Alys commented on #5235
@thebat137 No, it's okay, all our testing showed that they would be available in Rewards, so I won't do that, but thank you for offering. I'm sorry but I'm not sure what problem you're experiencing. Can you tell me exactly what went wrong or what is wrong now?
Also tell me how many gems you spent on them. I'll return the gems to you since you didn't need to spend them.

[2015-06-06 04:06] thebat137 commented on #5235
I spent 5 gems, so, a pittance, really.  But I have a suspicion that what happened is that I bought the ears with gems, used the Orb of Rebirth, and then I didn't "have" them anymore, so the game offered to let me purchase them again in the usual (gem-based) fashion.  As far as I know, the ears are the only item that is both an avatar item and an equipment item, so I'm wondering if they may have r

[2015-06-06 04:08] thebat137 commented on #5235
To be clear, I have the ears again, and they're no longer showing as needing purchase either with gems or gold.  I can put them on and take them off and everything.  The only thing that seems wrong now is that if I put them on from the Avatar screen, they don't show up as being worn when I go to the Equipment screen, but it does seem to work when I do it the other way around.

[2015-06-06 04:10] thebat137 commented on #5235
Oh, no, looks like I'm wrong about that.  I just needed to refresh the page.  When I put them on from the Avatar screen, they go into my "costume" on the Equipment screen.

So, everything is correct now.  It was just the post-Orb repurchase that seems to have been glitched.

[2015-06-06 04:22] Alys commented on #5235
Thanks for letting us know! I've given you back the gems.

[2015-06-06 04:31] thebat137 commented on #5235
Thanks, Alys.  I'll keep a lookout for future issues with the ears and post here if I have any more problems.

[2015-06-06 04:42] Alys commented on #5348
@skybluefusion All of your tasks from about four days ago should be restored now. Please tell me if you think anything is missing.

If there are challenge tasks there that you do not want, you'll need to delete them, but if you are nervous about doing that, I can help with it. Please tell me the name of one of the tasks from the challenge, and I can use that to identify all tasks from that challen

[2015-06-06 05:41] skybluefusion commented on #5348
Only the challenge tasks returned, not the ones that  I created myself (and are more important). Thank you for attempting to fix my issues but the issues remain.

[2015-06-06 05:43] Alys commented on #5348
Okay, then the problem must have happened more than four days ago. I'll download another copy of the database. Do you have an idea of how many days back I should go?

[2015-06-06 05:44] hhirsch opened #5354 "Feature: Breaking and Repair"
Items should degrade over time, also loosing stats. The Items should be able to be repaired using Gold.

Finaly a use for Gold.

[2015-06-06 05:49] Alys commented on #5354
To request features, please go to the HabitRPG Help menu (on the website, not the mobile app) and select Request a Feature. That will take you to Trello where all feature requests are collated and analysed to choose the best way to improve the site.

Gold can be used to buy equipment, including from the [Enchanted Armoire](http://habitrpg.wikia.com/wiki/Enchanted_Armoire) released today, and for c

[2015-06-06 05:49] #5354 closed, assigned to nobody

[2015-06-06 05:52] skybluefusion commented on #5348
As I said before, my concept of time is umm difficult. I use habitrpg to help mark the days. I am in and out of it throughout the day due to a dozen or more seizures daily. Once the site started screwing up to the point I couldn't use it i lost all track. Sorry. My life is $$$$ right now and I'm not dealing with life in general so I know I'm not helping you help me well and I apologize. I greatly

[2015-06-06 05:54] Alys commented on #5348
What if I use a backup from ten days ago? Will that be too far back?

[2015-06-06 05:58] skybluefusion commented on #5348
10 days is fine. As long as at least the majority of my personal tasks get
returned i can deal with whatever might have been added since then. i just
need the backbone of my routine back so i have something to work then i can
adjust my list little by little again as i had started to work on when
things got wonky. thank you

Help The Office of Letters and Light continue to provide such wonderful
pr

[2015-06-06 06:02] hhirsch commented on #5354
Ah you mean the feature that helped me burn 500 Gold in a minute and then was exhausted? Thanks for the help.

[2015-06-06 06:07] Alys commented on #5354
There's actually ten items in the Armoire and each use of it costs 100 GP. Also it has a random feature so that it sometimes gives you food for your pets or experience. If you've spent only 500 GP on it, it sounds like there's at least another five items you could obtain from it, maybe more. You can see all the available items on the [Enchanted Armoire](http://habitrpg.wikia.com/wiki/Enchanted_Arm

[2015-06-06 06:08] Alys commented on #5348
No worries, I'll use the backup from 10 days ago. I'll download and import that over the next several hours, so you should have those tasks back in 12 to 24 hours at most.

[2015-06-06 06:11] skybluefusion commented on #5348
Thank you so much. When I'm functional enough I'll promote habitrpg on my
blog and social media and if there's anything else I can do (I lack
coding/art skills but used to do a lot of writing) please let me know.
It's been a very useful and motivating tool for me over the last months.

On Fri, Jun 5, 2015 at 11:08 PM, Alys notifications@github.com wrote:

Help The Office of Letters and Light conti

[2015-06-06 17:24] SabreCat commented on #5352
The logic for Rebirth unlock is far out of date--see the discussion on #2742. This might be a good time to go ahead and do that overhaul.

[2015-06-06 17:33] SabreCat opened #5356 "Organize the Rewards column"
At the very beginning of Habit, the most you would ever see in the static section of Rewards was five items: a weapon, an armor, a helmet, a shield, and the Health Potion. Now, however, with the Enchanted Armoire, contributor gear, and (especially) buyback items from death and Rebirth, the Rewards column can get extremely long and ungainly. A user who buys a Rebirth after many months of mystery it

[2015-06-06 17:47] crookedneighbor commented on #5356
I'm :+1: on mystery equipment not appearing in rewards section after rebirth.

[2015-06-06 18:45] ViviaMir opened #5357 "Custom Day Start thinks Saturday is Friday"
All this week I've gone without noticing this... somehow. Thinking back on some of the confusion I've been facing, I now realize this has been a problem since I first set my CDS to 16:00... it isn't resetting tasks at 16:00, it's changing its chronological date over at 16:00. I don't wake up at 16:00, I go to BED at 16:00 so at no point during my day do I ever see the correct due dailies.

I can't

[2015-06-06 20:41] Alys commented on #5356
See some ideas here: https://github.com/HabitRPG/habitrpg/issues/4981 "Rewards, Equipment, Skills need better filtering options and maybe sorting options"

[2015-06-06 20:55] SabreCat opened #5358 "Detail Costume selections when viewing other user's profile"
Often, when I pop open somebody's profile (especially a party member's!), I am curious to see what pieces of equipment make up their visible avatar. However, the modal profile view doesn't list costume pieces, only battle gear. It'd be nice to have a way to see "ooh, how did they make that?"
## <bountysource-plugin>

Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/is

[2015-06-06 21:00] Alys commented on #5357
I'm pretty sure this is expected behaviour, although obviously it's not working well for you!

There was a similar question in the Newbies guild yesterday (Help -> Ask a Question) from someone who had a CDS of 23, and here's what I wrote there but with 23 changed to 16 to make it more relevant for you, although note my uncertainty so if other devs add different information, listen to them. :)

"Yo

[2015-06-06 22:25] hairlessbear opened #5359 "Audio submenu is missing close button on mobile"
### Edit:
## The following isn't a bug; see @crookedneighbor's response for the actual bug.

All items in `menu.jade` contained within `ul.toolbar-controls` aren't being displayed. There are three instances of this.

[First instance](https://github.com/HabitRPG/habitrpg/blob/develop/website/views/shared/header/menu.jade#L72-76):

[code]

[Second instance](https://github.com/HabitRPG/habitrpg/blob/

[2015-06-06 22:28] hairlessbear commented on #5358
Oh man, this has been on my to-do list for a couple months. Maybe I'll finally get around to implementing it.

I'm certainly not laying claim or anything though; if anyone else wants to take a stab at it first, feel free!

[2015-06-06 22:36] crookedneighbor opened #5360 "Variant front page text does not display properly on iPhone"
iPhone 6:

![2015-06-06 17 34 08](https://cloud.githubusercontent.com/assets/2916945/8021746/698ee648-0c72-11e5-964e-17c122ca5873.png)

[2015-06-06 22:41] crookedneighbor commented on #5359
These are all used for the mobile menu. Shrink the window size down till each task column fills the whole screen, you'll see that the top section collapses to a few buttons. Opening each of them will show a close button at the bottom.

For some reason, the audio one is messed up and is also missing the close button:

![screen shot 2015-06-06 at 5 41 15 pm](https://cloud.githubusercontent.com/asset

[2015-06-06 22:44] PlasmoMage opened #5361 "Purchased eggs with gems do not appear in inventory."
I have purchased several eggs with gems. After the purchase they did not appear, but the gems required for the purchase were still deducted. I have refreshed and tried different browsers (Chrome, FF & IE all on Windows 7), and still my purchase has not appeared nor have my gems been refunded.

User ID: 0ed31de0-92ff-469f-819d-94b5ae4c55a7

[2015-06-06 22:45] hairlessbear commented on #5359
Ah-ha, that makes so much more sense. Thank you.

[2015-06-06 22:51] hairlessbear commented on #5360
Can't replicate on Galaxy S5 (Android 5.0; chrome and built-in browser) or Nexus 7 (Android 5.1.1; chrome and firefox).

[2015-06-06 22:53] crookedneighbor commented on #5360
@hairlessbear Thanks, looks like it's limited to iOS then. I've updated the issue title.

[2015-06-06 22:58] Alys commented on #5361
I'm afraid we can't help you without more details. Which eggs and how many of each did you buy?

[2015-06-06 23:00] Alys commented on #5361
Also, how many minutes or hours in the past did you make the purchases?

[2015-06-06 23:16] hairlessbear commented on #5359
The audio menu doesn't contain a close button because one isn't programmed to be there (the three instances above are for the left-most button [tasks/guilds etc.], notifications, and settings).

[2015-06-06 23:37] Melmel commented on #5136
Hello @Alys and @crookedneighbor I would like to inform you that I have been working on my contribution, by understanding the technologies and the code of the website.

I think I should place the deletion of the empty party in the $scope.leave of the party inside the groupsCtrl.js public controller.

I actually placed db.groups.remove({_id: $scope.selectedGroup._id});   , but that did not work -ob

[2015-06-06 23:51] PlasmoMage commented on #5361
Three rooster eggs and four slime eggs, not 100% about the slime eggs but
it was four other eggs with the rooster eggs. .
This was purchased about 23 hours ago.

On Sat, Jun 6, 2015 at 4:00 PM, Alys notifications@github.com wrote:

##

~Thaddeus Lemelle

[2015-06-07 00:14] Alys commented on #5361
Thanks for the details. I'll download a backup of the database from before the problem occurred to check out the state of your account. That might give us hints about what might have gone wrong. Once I've finished investigating, I'll add any eggs that are still missing.

[2015-06-07 00:17] ViviaMir commented on #5357
I generally rise at 00:00 to 03:00 depending on when I actually do get to bed, but most often a few minutes before the day or somewhere within the first hour.

Unfortunately the only acceptable solution for me at this time is to change the days of non-challenge tasks. I'm not all that good at completing all my tasks in time for bed, and I'm far worse at actually giving up on them. My stubborn stre

[2015-06-07 01:09] Alys commented on #4922
I'm closing this but, @cammi if you're still having trouble, tell us the information @paglias asked about and we'll reopen it.

[2015-06-07 01:09] #4922 closed, assigned to nobody

[2015-06-07 01:11] Alys commented on #4884
@evasager We're tracking iOS sync problems at https://github.com/HabitRPG/habitrpg/issues/4116 so I'm going to close this issue, but if you need further help, you're welcome to comment again!

[2015-06-07 01:11] #4884 closed, assigned to nobody

[2015-06-07 03:46] hairlessbear commented on #4816
I figured out the refresh issue I was having. I'm using the chat extension, and when you get to your party via the chat extension, it doesn't take you to `/groups/party`; it takes you to `/groups/guilds/<party_id>`. That is the page that the refresh issues were occurring on, not the `/groups/party` page. In other words, there is no refresh issue; I just confused myself.

[2015-06-07 03:50] robeden commented on #5360
I can confirm this.

[2015-06-07 13:00] Alys commented on #5348
@skybluefusion I've uploaded your tasks from 2015-05-27 which is the oldest backup we have. It seems to have some non-challenge tasks in it, so I hope it's okay. It took much longer than usual - I am sorry about the delay. I've given you some extra gems as an apology for the trouble. Please tell me if there are still problems or if you want help deleting challenge tasks. I'm going to bed now but I

[2015-06-07 13:26] crookedneighbor commented on #5136
@Melmel This is the function that will need to be modified: https://github.com/HabitRPG/habitrpg/blob/develop/website/src/controllers/groups.js#L479-L554

You'll want to use [the Mongoose model findByIdAndRemove function](http://mongoosejs.com/docs/api.html#model_Model.findByIdAndRemove), so for this case you'd do: `Group.findByIdAndRemove(group._id, function() { // do stuff })`

Things to look ou

[2015-06-07 13:28] crookedneighbor commented on #5341
Not sure what's going on. Has this been a recurring issue? Or is it back to normal now?

[2015-06-07 13:34] crookedneighbor commented on #5345
Good work.

Yes, untilNoFace should be removed.

Yes, Options should be changed to Menu

Yes, that should be a period or semicolon; I vote semicolon!

I'm advertising this issue in the [Aspiring Coders Guild](https://habitrpg.com/#/options/groups/guilds/68d4a01e-db97-4786-8ee3-05d612c5af6f)

[2015-06-07 13:50] Melmel commented on #5136
@crookedneighbor thank you very much for your feedback!! I will try to test this locally and will let you know regarding my progress!

[2015-06-07 14:20] hairlessbear commented on #5345
@crookedneighbor I think "Options" should just be removed in this case. There are no instances of instructing users to click on something by clicking "Menu -> [item]" ([search results](https://github.com/HabitRPG/habitrpg/search?utf8=%E2%9C%93&q=menu+path%3Acommon%2Flocales%2Fen&type=Code)). The phrasing is always the name of the tab, then the name of the submenu item (in this case, "Social > Part

[2015-06-07 14:51] crookedneighbor commented on #5345
Sounds good to me.

[2015-06-07 15:08] Melmel commented on #5136
Hello @crookedneighbor I added the following, on the src/controllers/groups.js, after the // FIXME comment, but again when I run it locally the group is not deleted:
      if(group.type == 'party' && group.members.length < 1) {
          Group.findByIdAndRemove(group._id, function(err) {
              if (err) throw err;
          });
      }

[2015-06-07 15:09] Melmel commented on #5136
should I also add code on the public groups controller? Moreover, since it did not work, why the error was not thrown? :(

[2015-06-07 15:21] Melmel commented on #5136
I found the reason why it was not running!! When this method is checked, the user has not yet left the party, so the groups.members.length still equals 1. I changed it and it run perfectly!! :D

Moreover, I checked the case of multiple private-guild/party members and thankfully, the private-guild/party is not deleted when a random member leaves but there are still others left! So happy, it works!

[2015-06-07 16:40] Melmel commented on #5136
@crookedneighbor hello once again! thank you for your great help!

I will be creating a pull request for typical reasons, although I understand it may not be accepted, unless me or someone else creates the additional required tests. I would be very happy to create them. Could you please direct me to some documentation regarding how these tests are created, and how they are run, so that I can start

[2015-06-07 17:27] hairlessbear commented on #5136
@Melmel it would be much easier to help you troubleshoot and write tests if you created a pull request now, even though you aren't done writing your code. That would allow experienced people (like @crookedneighbor) to more easily examine your code and assist you.

As it stands, it's difficult to understand exactly what you're changing when it's spread out across multiple comments with multiple cha