[2016-01-08 15:27] paglias commented on #6469
@Mcatll the page I linked you doesn't require login. Are you sure you can't open https://habitica.com/static/clear-browser-data?

[2016-01-08 16:28] tsunamipebble commented on #5919
Hi, my issue is that only ONE of my dailies seems to have a reset time different than the others. And it resets twice.

I discovered it caused me health damage on Thursday when I was sure that I had checked it off on Wednesday. So on Thursday the first thing I did was check that as complete. Through the day I completed all my other dailies so they were all done. By chance I couldn't get to sleep l

[2016-01-09 02:55] Alys commented on #5919
@tsunamipebble The Daily has been affected by this bug: https://github.com/HabitRPG/habitrpg/issues/4313 -- see the "Advice" section near the top.

For the Habit, please see the top post in https://github.com/HabitRPG/habitrpg/issues/1402 (in brief, it was safe to delete the Habit and it hasn't damaged your account).

[2016-01-09 03:11] Alys commented on #4837
Other related issues:

[Not clear from Subscription page whether sub is for calendar month, or 30 days - Issue #2650](https://github.com/HabitRPG/habitrpg/issues/2650)

[Subscription screen does not look secure - makes people nervous - Issue #4682](https://github.com/HabitRPG/habitrpg/issues/4682)

[2016-01-09 03:14] Alys commented on #4837
Pull requests:

[Conditional buy gem modal by AnitaYCheng - Pull Request #5875](https://github.com/HabitRPG/habitrpg/pull/5875) (closed)

[(WIP) Conditional Buy Gem modal, cont'd by SabreCat - Pull Request #6346](https://github.com/HabitRPG/habitrpg/pull/6346)

[2016-01-09 08:32] #6470 closed, assigned to nobody

[2016-01-09 11:05] ghost opened #6480 "Inactive translators on Transifex"
Hi, I have been dealing with the issue of attracting new translators for my language, because there is already a team formed on Transifex. But the only one active there is me. Many of the translators in the team came, translated 20-30 strings, applied for the badge and then disappeared. The latest translators to join told me that they hesitated to join because there "already is such a big team". B

[2016-01-09 13:00] #6434 closed, assigned to nobody

[2016-01-09 13:16] dgodovanets opened #6481 "Can't leave party"
"Ошибка Runner error: Overflow sort stage buffered data usage of 34523394 bytes exceeds internal limit of 33554432 bytes"

This error is shows, when I press "Leave" on page of party.

[2016-01-09 13:30] Alys commented on #6481
I'm afraid we can't help you without being able to identify your account.

Please go to Help --> Report a Bug on the Habitica website and see the instructions there for providing your User ID (step 6).

[2016-01-09 13:40] dgodovanets commented on #6481
Sorry, I don't read that :)
6b4563cf-ef71-4508-839e-f553d358dab9

---

After copmuter reload problem gone.

[2016-01-09 13:44] #6481 closed, assigned to nobody

[2016-01-09 14:03] Alys opened #6482 "incorrect attribute / stats points from various ways of changing levels (e.g. FCV) - need generic function to do allocation / deallocation"
Staff/Admins: Adjust anything here as you see fit.

The bugs described here happen only under non-standard conditions and aren't critical to fix. I recommend that we don't work on this issue until after the API v3 changes are live.

A player's allocated plus unallocated attribute points should add up to their current level (or to 100 if their level is over 100, with exceptions listed below). Under

[2016-01-09 14:05] Alys commented on #2041
I'm closing this in favour of [Issue #6482: incorrect attribute / stats points from various causes - need generic function to do allocation / deallocation](https://github.com/HabitRPG/habitrpg/issues/6482)

[2016-01-09 14:05] #2041 closed, assigned to nobody

[2016-01-09 14:05] Alys commented on #2496
I'm closing this in favour of [Issue #6482: incorrect attribute / stats points from various causes - need generic function to do allocation / deallocation](https://github.com/HabitRPG/habitrpg/issues/6482)

[2016-01-09 14:05] #2496 closed, assigned to nobody

[2016-01-09 14:05] Alys commented on #4385
I'm closing this in favour of [Issue #6482: incorrect attribute / stats points from various causes - need generic function to do allocation / deallocation](https://github.com/HabitRPG/habitrpg/issues/6482)

[2016-01-09 14:05] #4385 closed, assigned to nobody

[2016-01-09 14:06] Alys commented on #5803
I'm closing this in favour of [Issue #6482: incorrect attribute / stats points from various causes - need generic function to do allocation / deallocation](https://github.com/HabitRPG/habitrpg/issues/6482)

[2016-01-09 14:06] #5803 closed, assigned to nobody

[2016-01-09 20:56] dgodovanets opened #6484 "Error after syncing"
Упс, произошла ошибка! Пожалуйста, перезагрузите страницу, ваше последнее действие, возможно, было сохранено неправильно.

"Ошибка "

Если ошибка появляется вновь, пожалуйста, сообщите о ней через меню Помощь > Сообщить о проблеме. Если вы знакомы с консолью браузера, пожалуйста, включите в отчет возможные сообщения об ошибках.

Error after syncing.
Translate of error: It is could be, that last ev

[2016-01-10 00:34] Alys commented on #6484
Google Translate:

**Oops, there was an error! Please reload the page, your last action could have been stored properly**

**"Error "**

**If the problem persists, please report it via the menu Help> Report a Problem If you are familiar with the console browser, please include in your report any error messages**

Error after syncing
Translate of error: It is could be, that last event was saved wro

[2016-01-10 00:36] Alys commented on #6484
**@Eramik Please reload the site.**
**If the error still happens, go to https://habitica.com/static/clear-browser-data and click the button.**
**After that, tell us if the error still happens.**

Google Translate:
Bitte laden Sie die Seite.
Falls der Fehler immer noch geschieht, gehen Sie zu https://habitica.com/static/clear-browser-data und klicken Sie auf die Schaltfläche.
Danach sagen Sie uns,

[2016-01-10 00:44] Alys commented on #6484
Sorry, I wrong language. I was doing some German translations for someone else and the setting stuck in Google Translate.

Пожалуйста, перезагрузите сайт.
Если ошибка все еще происходит, перейдите к https://habitica.com/static/clear-browser-data и нажмите кнопку.
После этого, сообщите нам, если ошибка все еще происходит.

[2016-01-10 01:03] eiron commented on #6440
I think we are going to have to do this. If we can move all the To-Dos to a second account then I can churn through those and transfer any experience and similar over to my main as it is earned. It may be a little clumsy, but it is less clumsy than the site is at the moment under the load of all that optimism. I will also have to dedicate an off-day to Dr Meta - action what I can and lose what I h

[2016-01-10 01:07] eiron commented on #6440
~~Probably I should put most of that middle paragraph in a fresh issue...~~

No need, by the looks of things. Seems this [has a fix already](https://github.com/HabitRPG/habitrpg/commit/75f71bc2ca40f21a31795b9438c8dafc10316503)?

[2016-01-10 01:23] Alys commented on #6440
Yes, that fix was merged a few hours ago and will be in production within a week, probably less. Thanks anyway. :)

I'll work on moving your To-Dos now but it might be a while - I've found that importing a lot of data into an account can be slow. I'll comment here when done.

[2016-01-10 02:22] Alys commented on #6440
The To-Dos have been imported into your new account. Please check that you can see them (no need to check in detail because I've done my own tests that should be sufficient) and then comment here. I'll then delete them from your main account.

All of your To-Do `id`'s have changed so if you were using any of them in API scripts or third-party tools, you will need to update those scripts.

By the w

[2016-01-10 04:47] Alys opened #6485 "company logos appear in colour (should be grey / black / white) on static/front home page in Firefox"
_EDIT: The first version of this stated that there was a bug in Chrome that caused the logos to be black and white. I've changed it to indicate that the bug is in Firefox._

On the home page at https://habitica.com/static/front there are several company logos that should appear in black and white (see @anowlcalledjosh's comment below for how it's done). This works in Chrome, but not in at least so

[2016-01-10 05:22] crookedneighbor commented on #6485
I believe the design choice is intentional to make them black and white, so the "bug" is in Firefox. Maybe the intention was to have them colorize on hover?

[2016-01-10 05:40] Alys commented on #6485
Hmmmm. They do look pretty cruddy in black and white. That image above actually makes them look better than they are because it's smaller than life-size. They have that kind of choppy look around the edges that you get when images haven't been cleaned up properly. This shows it better:

![screen shot 2016-01-10 at 3 38 50 pm](https://cloud.githubusercontent.com/assets/1495809/12220171/4f7b476c-b7b

[2016-01-10 09:19] dgodovanets commented on #6484
I understand English well, and it is unnecesary to translate for me. But thanks :)
**After reloading and cleaning problem is still there.**

[2016-01-10 09:31] Alys commented on #6484
Thanks @Eramik  :)

@paglias this might be another instance of https://github.com/HabitRPG/habitrpg/issues/6478 (persistent application errors). I've bolded the most relevant parts of the above comments.

[2016-01-10 09:36] dgodovanets commented on #6484
CTL+ALT+J is not working :/
Some new info. I have invite to the party, wich I consist now.
Вас пригласили в команду! Вы хотите покинуть эту команду и вступить в jtanhabitica's Party?
You was invited to the party! Do you want to leave this party and join in jtanhabitica's Party?
I press yes, page reloaded and invite come again.

[2016-01-10 10:50] paglias commented on #6484
@Eramik if you give us your permission and your UUID we'd like to try replicating the error by making a request to the server on your behalf. We need that in order to be able to see what's really happening on our side

[2016-01-10 10:50] Alys commented on #6484
Ctrl-Alt-J not working is odd!  Can you try going through the menus? View -> Developer -> JavaScript Console.

The party invitation problem isn't related to this. It's something that happens sometimes. I've deleted the excess invitation, but it will probably come back several times before it finally disappears. I'll keep checking twice a day and deleting it when I see it until it's gone for good.

[2016-01-10 10:51] paglias commented on #6484
If you're on a mac you should use Cmd instead of Ctrl

[2016-01-10 11:11] dgodovanets commented on #6484
I give you all premissions. I using windows. Now I'll try goin trough the menu

[2016-01-10 11:13] paglias commented on #6484
@Eramik ok, we'll need your UUID for this, you can find it into Settings -> API

[2016-01-10 11:13] Alys commented on #6484
@paglias it's in the top comment. :)

[2016-01-10 11:14] paglias commented on #6484
Thanks :) Didn't see it

[2016-01-10 11:24] paglias commented on #6484
@Eramik Ok, I tried making requests on your behalf and the site loads and works correctly. Which means that the problem is probably related to your computer, which is not to say it's your fault just that the error is not due to data stored in the database.

Could you try using a different browser?

[2016-01-10 11:24] dgodovanets commented on #6484
Okay, I'll try.

[2016-01-10 11:29] dgodovanets commented on #6484
In another browser all good. But I cleaned up browser data many times :/
Developer console https://youtu.be/0DcQr-AJqgc

[2016-01-10 11:40] paglias commented on #6484
@Eramik thanks, that's very useful. So replicating the same set of actions in a different browser the error doesn't happen?  From your video it seems that the error only happen when you've visited your party page, right?

To clear browser data, try this:
1. Open the developer console
2. Switch to the Resources tab on the top of the console
3. On the left expand Local Storage and select `https://ha

[2016-01-10 11:43] dgodovanets commented on #6484
It happen ater I accept party invite and go to the party page. In another broser after accepting invite is gone and all right.

[2016-01-10 11:46] dgodovanets commented on #6484
Some offtop question. How to disable damage from tasks(not daily or habits)?
For example, I add task, that I want to do on next week, but I take damage every day.
Set do time for every tasks it's very long.

[2016-01-10 11:47] paglias commented on #6484
@Eramik you mean from Todos? You don't take damage from todos, they just become more red as time passes which means you'll get more points when you do them.

[2016-01-10 11:48] dgodovanets commented on #6484
But when they become red I took 1 damage per task :/
Daily and habits all right

[2016-01-10 11:52] dgodovanets commented on #6484
"To clear browser data, try this:"
It is not helps. Invite still there D:

I don't want to clear all browser data. I logged in many sites. And I don't like browsers, except Google Chrome. This invite is annoying :C

[2016-01-10 11:59] Alys commented on #6484
To-Dos very definitely do not cause any damage for you. We're absolutely certain of that. There's no code that could allow them to damage you.

If you're finishing all your Dailies each day and you aren't clicking negative Habits, but you are still being damaged, there's two possible causes. One is that you're being damaged by a quest boss if you are on a quest and your party mates aren't finishin

[2016-01-10 12:01] dgodovanets commented on #6484
Nice, thanks. Rather it is boss

[2016-01-10 12:20] dgodovanets opened #6487 "Challenge botton"
User ID: 6b4563cf-ef71-4508-839e-f553d358dab9

I joined to challenge. After 10 minutes I leave it, but challenge button not gone.
When I leave it, I choosed "Delete challenge tasks". Task was deleted automaticly, but button not.
http://prntscr.com/9oaudc

[2016-01-10 12:26] Alys commented on #6487
That's a deliberate feature. Please see the second comment (from me) in this issue: https://github.com/HabitRPG/habitrpg/issues/4062

If you'd like to give feedback about it, you're welcome to comment on that issue to keep the conversation in one place.

[2016-01-10 12:26] #6487 closed, assigned to nobody

[2016-01-10 13:56] paglias commented on #6470
@Alys when implementing cron in api-v3 I made the decision to not process at all completed todos, given this discussion above, should I have completed todos processed, right?

[2016-01-10 14:00] paglias opened #6488 "Freeze completed todos value when and un-freeze if they are un)done"
Currently completed todos value is updated even after the todo is done, this should be changed so that:
1. After a todo has been completed its value should not change
2. In case a completed todo is moved back to the Active column (when it's undone) its value should be updated to take into account the days after completion when the value remained unchanged. So if it's been done for 2 days when it's

[2016-01-10 14:22] paglias commented on #6480
@Miisa on this one I think we may get some input from @Alys and @lemoness

Are you sure that possible translators feel demotivated by the number of listed translators? I though that as long as one saw that some strings missed translations they would felt encouraged to help anyway

[2016-01-10 14:27] Alys commented on #6470
@paglias No, that's fine! I saw your issue about changing the To-Do's value after unticking (https://github.com/HabitRPG/habitrpg/issues/6488), which is the important thing.

[2016-01-10 15:42] eiron commented on #6440
We will work on the assumption I was never going to win any challenges the way I was playing!

Seems like all are present and correct. Let us purge! I will probably add new To-Dos to my main account as before, but try not to let things get out of hand as before. This is the aim! One day I will have my life back into order once again.

Thanks for doing all of this for me, by the by. It is appreciat

[2016-01-10 17:40] Mcatll commented on #6469
I can open that page, and it leads me to homepage, but then I can't login
to my account to check whether the problem is solved.

On Fri, Jan 8, 2016 at 11:27 PM, Matteo Pagliazzi notifications@github.com
wrote:

##

Regards, Mcat Chan

[2016-01-10 17:42] paglias commented on #6469
@Mcatll try using a different browser, it should work. If it does manually clear cookies and localstorage from Developers Tools (Ctrl/Cmd+Alt+J -> Resources tab)

[2016-01-10 17:42] JFDama commented on #5649
Hi @Alys, a party I joined recently, group UUID 1ea2408e-4c4e-4aeb-aa29-924a350ad0fc, is seeing this problem for most of our joined members as well. Would you mind taking care of this for us?

The UUIDs of the players with this issue in the party are
e7f03b14-5a7f-4539-98b7-0eec0b92872a
ec1989c9-51ab-4099-9225-7ae8d0a21f8c
7a9669fc-ddb8-41d8-b294-57b51164ba32
9349b978-c25e-40a8-8e8d-2d3ed6e0d5e6
e

[2016-01-10 17:46] Alys commented on #6440
No worries at all. :)  I've removed the To-Dos from your main account. I'd be interested to know what effect it's had on the usability of that account, and what it's like to use the new one.

Let me know if there's anything else I can do, either in the next few days or later. If you get your To-Dos reduced in your new account, I can move them back to your main one (without overwriting any To-Ds th

[2016-01-10 17:54] Mcatll commented on #6469
Oh yeahh! I've tried to use IE and it is work! then I do the manual clear
of cookies as you taught, and I've successfully login with no error! Thank
you!!

On Mon, Jan 11, 2016 at 1:42 AM, Matteo Pagliazzi notifications@github.com
wrote:

##

Regards, Mcat Chan

[2016-01-10 19:58] #6469 closed, assigned to nobody

[2016-01-10 19:59] paglias opened #6490 "Clear cookies in Clear Browser Data page"

[2016-01-10 21:07] keysmashes commented on #6485
This is caused by the following styles on `.presslogos img` (i.e. it looks intentional) from `tmp_static_front-157d70ab.css`:

[code]

Firefox has issues with `filter` according to [Stack Overflow](http://stackoverflow.com/questions/12173130/css-filter-not-working-in-firefox); adding the following will fix it (I've just tested in FF 43):

[code]

[2016-01-10 21:15] NathanMaton commented on #6336
This issue can be closed

[2016-01-10 21:19] dbarnett opened #6492 "Integrate tasks with Google Reminders (Google Inbox)"
I'd like to mirror tasks between Habitica and [Google Reminders](https://support.google.com/inbox/answer/6062813) so that when I mark a task done in one, it's marked done in the other.

[2016-01-10 21:22] dbarnett commented on #6492
This would be a part of #3750 for Google integrations in general.

I have no idea whether Google has exposed an API to do what we'd need. http://stackoverflow.com/questions/26528778/api-for-inbox-by-gmail suggests they haven't.

[2016-01-10 21:59] Alys commented on #6336
Thank you. :)

A useful github tip: If you write "fixes #6477" in the title or the description, there's an automatic association between an issue and its PR, and the issue will be closed by GitHub when the PR is merged. I find putting it in the description is good because that also creates a link for people to click on.

[2016-01-10 21:59] #6336 closed, assigned to nobody

[2016-01-10 23:19] katieshmatie commented on #5930
I have a similar problem. Our quest leader has gone inactive, and all party members except one have accepted. The remaining member is inactive as well, so we're stuck waiting for one of them to log back in (I don't want to boot them from the party). I'm trying to find the correct forum to request an admin to cancel the quest invite so an active member can start up a new quest.

Group ID is 05e7137

[2016-01-11 00:10] ghost opened #6493 "Non-member friends invited, not showing up in party"
I'm in a party, I'm not the party leader but I invited three people. They accepted and have started to play, but they are not showing up in the party as members, they're still under invited.
![capture](https://cloud.githubusercontent.com/assets/6742405/12225015/1323ef3c-b7bd-11e5-8a19-f1be6898e83c.PNG)

[2016-01-11 00:17] Alys commented on #6493
If they're not showing up in the list of members, then they most likely have not accepted their invitations. If they are part of a party now, they might have accepted an invitation to a different party.

If you'd like us to investigate further, please go to Help -> Report a Bug from the Habitica website, and see the instructions there. Step 6 tells you how to report the party's Group ID to us. We'

[2016-01-11 01:38] Alys commented on #5649
@JFDama I've deleted those invitations. They typically come back several times over a few days so I'll keep checking at least twice a day and delete them when I see them. It's unusual to get so many at once, so I'd like to work out why. Do you know if all those people were invited at the same time? And were they all invited by the same person? Can you tell me who that was?

[2016-01-11 01:46] Alys commented on #5930
@katieshmatie This is the correct place to post, as we advised you in the Newbies guild. I've deleted the quest from your party.

[2016-01-11 02:07] FruitsPonchiSamurai commented on #4252
It also happened to our group for the "Find The Cub" quest. These are the members that didn't get the reward: Fruit Punch Samurai	a76d9a36-ac2d-4f3c-96e8-fefaca16fba9
EmanonSuomynona	8cb48592-37f4-4925-a1fd-9b030f6d8619
Scylla	7666f19f-71eb-4247-8b17-7a2f2f113609
JennB	37635d5f-c9cb-4842-8c86-2a0be1263afa

[2016-01-11 03:16] JFDama commented on #5649
@Alys, thank you!

These people were not all invited at the same time or all by the same person. In fact, it might be the opposite--I joined later than most, so I can't report the full history, but 9349b978-c25e-40a8-8e8d-2d3ed6e0d5e6 invited me, e1e87003-5771-44a1-b5fe-60796e64df8f, two weeks ago, then I invited a99b33dc-b030-4bed-8573-d16b6847cff3 3 days after, and he invited 5a1bf377-517d-4c2c-

[2016-01-11 06:59] Alys commented on #4252
@FruitsPonchiSamurai I've given the quest achievement and rewards to those players. Reload if they don't appear immediately.

[2016-01-11 07:06] Alys commented on #6485
@anowlcalledjosh Thanks! I've edited this issue's description to report the bug as being with Firefox.

[2016-01-11 07:08] Alys commented on #5649
@JFDama Well that blows my theory out of the water. :) Thank you very much for the details!

[2016-01-11 07:18] Alys commented on #6480
My biggest concern about removing inactive translators is the time it might take for an admin to do it. It seems like it might be a labour-intensive process to (semi-)regularly review all the translators and work out which ones should be removed.

I wonder if a similar effect can be achieved by clearly stating in [Guidance for Linguists](http://habitica.wikia.com/wiki/Guidance_for_Linguists) and/o

[2016-01-11 08:51] Bottl commented on #4252
This happened to me too weeks ago with Dilitary Distress Pt.1: Message in a Bottle

7a1db680-def0-4bca-924d-4f271def1cd9

[2016-01-11 10:33] JFDama commented on #5649
@Alys Thank you again for the fix!

[2016-01-11 10:51] Alys commented on #4252
@Botti I've given the quest achievement and rewards to you. Reload if they don't appear immediately.

[2016-01-11 12:39] ghost commented on #6480
I only suggested this based on the feedback I got from the last two translators that came (and went again). The last one told me directly, that she hesitated to join because the translations were kept up to date and the team seemed big enough to handle it. I told her what the situation is and she helped now and then so I was kinda relying on her and then she disappeared and there was a batch of ab

[2016-01-11 14:27] ambergohn opened #6494 "Application Error (Cosmetic)"
The Application Error popover/slide-in/whatever has a cosmetic error on it.
<img width="1503" alt="2016-01-11_0924" src="https://cloud.githubusercontent.com/assets/6862467/12236014/7a161232-b845-11e5-89aa-ee91a51abf74.png">

[2016-01-11 14:27] kwhold opened #6495 "Application Error When Using PC/Chrome"
Console log attached.
[habitica.com-1452522198774.zip](https://github.com/HabitRPG/habitrpg/files/85857/habitica.com-1452522198774.zip)

[2016-01-11 14:29] kwhold commented on #6495
Additional Info:
  User ID: 4919c088-c263-4dab-bc77-7d8bd35a275b
  Browser: Chrome Version 47.0.2526.106 m
   OS: Windows 7 Enterprise, Service Pack 1

[2016-01-11 14:31] lightlines commented on #6478
Hi, I'm also getting this error. It's fluctuating wildly across chrome - have cleared data within habitica and in Chrome itself. Getting the pink boxes in multiple numbers; sometimes I can log in and sometimes I can't; sometimes I'm seeing source code.
Any help would be appreciated! This all happened when I joined a quest - everything went wonky. User ID: 4faa74d6-061e-bb9b-a9c139ef08e2 - it's sho

[2016-01-11 17:17] Alys commented on #2899
Fixed. You now see a message, "You cannot leave your party when you have started a quest. Abort the quest first."

[2016-01-11 17:17] #2899 closed, assigned to nobody

[2016-01-11 17:26] #6405 closed, assigned to nobody

[2016-01-11 18:44] gusandrews opened #6497 "Repeated errors on Chrome/Mac, slow to register input"
Using Chrome on Mac 10.10.5, I've lately had a lot of times when I complete habits and dailies, it takes forever to register them (Chrome runs a very slow loading bar while it happens), and then it gives me an error message telling me to reload. Reloading is not always helping. Once I reload, it has forgotten that I completed those habits and dailies (and even forgot that I leveled up doing them).

[2016-01-11 18:55] #6006 closed, assigned to nobody

[2016-01-11 19:57] lvdpal commented on #6495
I have this problem a lot lately as well. It's mostly complaining of a bad request:
Failed to load resource: the server responded with a status of 400 (Bad Request) https://api.amplitude.com

I'm also seeing a "Failed to load resource: the server responded with a status of 503 (Service Unavailable)" https://habitica.com/api/v2/user/batch-update?_v=80&data=1452541897649

[2016-01-11 20:02] ghost commented on #6495
I am seeing the same message again, too: the 503 Service Unavailable error. Last month when this happened, the admins just reloaded/restarted the program and it fixed it.

[2016-01-11 20:20] pigpuddle commented on #6497
I'm having the same problem with Chrome, though I'm on OS 10.11.3. I'm also having the problem while leveling up; I wonder if that's related. Having the same issue on Safari as well.

[2016-01-11 20:22] cymr0 commented on #6495
Hi, I'm getting the same problem. too. I've attached my console log.

Browser: Chrome Version 47.0.2526.106 (64-bit)
OS: OSX 10.11.2
User ID: b4219281-e2e3-4602-922a-33968e4ac5ba

[habitica.com-1452543458417.zip](https://github.com/HabitRPG/habitrpg/files/86340/habitica.com-1452543458417.zip)

[2016-01-11 20:59] Alys commented on #4181
I'm closing this because it's no longer possible to deliberately leave a party when you are the quest owner, and if this happened through a bug, we've received no other reports of it.

[2016-01-11 20:59] #4181 closed, assigned to nobody

[2016-01-11 21:02] Alys commented on #6452
I'm closing this because we're tracking the bug in https://github.com/HabitRPG/habitrpg/issues/5649

@psyclist Your invitation is currently not showing up in your account or your party, but I'll keep checking for another couple of days until I'm sure it's gone for good.

[2016-01-11 21:02] #6452 closed, assigned to nobody

[2016-01-11 21:40] aksteele commented on #6478
@Alys - no problem! Yes, signing in on an incognito chrome window does work, so the problem must be on my chrome account.

[2016-01-12 02:42] anuraags opened #6499 ""npm install" followed by "npm start" doesn't work out of the box."
Hi all,

I'm having quite a few problems running habitica locally from "upstream/develop". My first run of `npm install` outputs the following:

[code]

And then I get a whole bunch of incomplete dependencies in `node_modules`.
My second run of `npm install` then comes up with a whole bunch of unmet dependencies.

It looks like the problem is package versions are outdated. Is there a newer branch

[2016-01-12 02:46] anuraags commented on #6499
For completeness, output of second run of `npm install`:

[code]

[2016-01-12 05:25] skatergoat opened #6500 "Party Challenge "to-do's" will not go away"
I have been meaning to report/fix this problem for a while but I have been too busy to try, But I made a Challenge in my group party, mostly for me and my boyfriend/roomate to join and complete, but the point is I finished the task, but when i would click them to be done, they would not go away, i tried to delete the challenge hoping that it would make the tasks go away so not to be annoying, but

[2016-01-12 05:30] Alys commented on #6500
This bug has been reported here: https://github.com/HabitRPG/habitrpg/issues/2763

In the first comment there, there's some text in bold that links you to a wiki page with some steps to try. It sounds like you've already tried some of the steps, but please read through that section and try anything you haven't already (e.g., using the mobile app). Let us know how that goes!

[2016-01-12 05:48] skatergoat commented on #6500
Hello i went to the wiki, and the only thing i had not tried was the mobile app, i downloaded it and signed in and the it only had one of the many broken to-do's i checked it off and it went away on the app but not the site, but when closing the app and coming back it is still there, ive tired to check them off countless times and nothing happens

[2016-01-12 06:08] Alys commented on #6500
So the website is showing you tasks that don't appear on the app? It's possible that they have been deleted on Habitica's server, but your browser is still showing them to you. That would explain the "task not found" message. Please go to https://habitica.com/static/clear-browser-data and click the button there. Does that make them disappear?

[2016-01-12 08:05] keysmashes commented on #6499
I'm having a similar problem; someone in Aspiring Coders mentioned that this helped for them:

[code]

and then doing `sudo npm install -g` and `sudo npm install -g [missingpackage]` several times, where [missingpackage] is whatever package node complains about not finding.

[2016-01-12 10:56] bjcj123 opened #6501 "Getting multiple 503 errors on two different accounts."
Failed to load resource: the server responded with a status of 503 (Service Unavailable)

Anytime I refresh I get the same error for different files each time. Using Chrome 47.0.2526.106 m. Internet connection is stable, accessing from Australia.

Example:
https://habitica.com/api/v2/groups/undefined/chat/seen Failed to load resource: the server responded with a status of 503 (Service Unavailable)

[2016-01-12 11:03] AnnaFromPoland commented on #6497
in my case it either says something like "document empty" or gives me a huge popup saying "application error" and telling me to reload the page and report the bug blah blah blah.
it happens on chrome only - not in firefox, but firefox has had its own issues lately and pissed me of so i came back to using chrome, but i forgot it had this persistent utterly annoying error.
this error happens "only"

[2016-01-12 11:05] AnnaFromPoland commented on #6494
yup, it's annoying, even more than the error itself.
<img width="1440" alt="0028-01-12 11 54 08" src="https://cloud.githubusercontent.com/assets/16665256/12261948/ab4491f0-b924-11e5-8bd7-b6f1df3333cc.png">

[2016-01-12 11:26] FoxySophie commented on #6495
I'm also getting a lot of "Application Errors" on the page recently, started about 3 days ago I think (January 9th). I'm not exactly using Chrome but Opera which basically uses the same engine so I didn't want to open a separate issue.

Browser: Opera 34.0.2036.47 (64-bit)
OS: Win7 Professional 64bit SP1
User ID: 63beb263-03bc-4d2b-9a67-26642b17383f

[2016-01-12 12:52] GeorgeSG commented on #6431
I see @TheHollidayInn is taking group & chat tests. I'm doing tags & tasks :)

[2016-01-12 13:43] crookedneighbor commented on #6499
Would y'all please tell us which instructions you're using to run the app? Window? Linux? Vagrant?

[2016-01-12 13:59] paglias commented on #6431
@GeorgeSG hi, can you state exactly what you're going to work on? Converting tests to the new syntax?

[2016-01-12 14:03] GeorgeSG commented on #6431
@paglias, yup, I'll refactor the tags/tasks tests to use the new syntax.

Unrelated question - the issue description states the tests should be fixed in `api-v3-groups` and not `api-v3` - is this correct?

[2016-01-12 14:04] paglias commented on #6431
@GeorgeSG yes, it's better if you push to api-v3-groups for now

[2016-01-12 16:23] doyler opened #6503 "No way to calculate previous delta"
While calculateReverseDelta() and calculateDelta() work just fine for checking tasks, there is currently no calculatePreviousDelta() method for when a Daily or a To-Do is unchecked.

Using calculateReverseDelta() ALMOST works for this (see Issue #5648 and subsequent commit), it calculates the delta based on the current values, so ends up slightly off.

Adding a method to calculate the previous del

[2016-01-12 17:12] GeorgeSG commented on #6431
Just FIY, I also refactored the user tests and the notFound one. PR today or tomorrow :)

[2016-01-12 17:14] keysmashes commented on #6499
I'm attempting the [Vagrant](http://habitica.wikia.com/wiki/Setting_up_Habitica_Locally#Vagrant_.28Recommended_Setup.29) setup.

[2016-01-12 17:29] SabreCat commented on #6501
This might be related to a sporadic local storage issue we're investigating. Can you try visiting https://habitica.com/static/clear-browser-data and/or using an incognito browsing session and see if you can log in cleanly after that?

[2016-01-12 19:00] danielvancamp commented on #6485
Hey guys,

Was just checking into this one. Seems that everything is alright in Firefox 43.0.4 (latest version).
Than i checked if it was only in Firefox 41 buuuuut seems ok aswel.

<img width="1267" alt="screen shot 2016-01-12 at 19 57 36" src="https://cloud.githubusercontent.com/assets/8830345/12273573/e7314504-b966-11e5-964c-357144de316f.png">

I tested on mac 10.10.5 (shouldn't be the problem)

[2016-01-12 19:35] SabreCat commented on #6485
Having them switch to the colored versions on hover would imply interactivity, to me. If we were to do that, I'd want to hunt down the articles in question and have the logos link there.

[2016-01-12 22:10] anuraags commented on #6499
I'm running a Digital Ocean "Ubuntu 14.04" Droplet. So Linux instructions.

My node version is 0.12.7 and my npm is 2.11.3.

[2016-01-13 02:53] nelle013 opened #6507 "Error created each time click on a new challenge item."
I created the Lessen Screen Time challenge in the Life Hackers Guild, and am now receiving an error message each time I click on any item for that challenge, except rewards. It goes away when I reload the page but I want to make sure that it's not interrupting anyone else's data being collected into the excel sheet for the challenge. The error message I've been receiving the most is "Error Interna

[2016-01-13 05:22] ParodyKnaveBob commented on #6500
Howdy. I have some background in bug reports, but I just started playing this a couple days ago, (liking it so far!) and this is my first post here. Bear with the newbie, please. ;)

User ID: 17b3b3c0-5355-4277-a0f6-289424052d4a
Browser: latest stable Google Chrome (47.0.2526.106 m)
OS: Windows 7 Home Premium SP1
(I'm having trouble getting the Javascript console info, sorry.)

I've gotten the "Ta

[2016-01-13 05:33] Alys commented on #6500
@ParodyKnaveBob You can ignore the "Task not found" message. It occurs when a task is moved from one position in your task list to another if the new neighbour task in the new position can't be found - it's just an indication that your action to change the sort order of your To-Dos might not have occurred correctly. It can occur when ticking off a To-Do because completed To-Dos are automatically m

[2016-01-13 07:21] ParodyKnaveBob commented on #6500
@Alys - Ah! Thank you, okay. That makes me feel better. And yeah, I'm definitely taking advantage of the Dated tab. :) I'd like to take more advantage of the sorting for my own visual priority, but going between Active and Dated (and Done and reloading for any reason) messes with that, thus .. oh well.

All right, my wall of text seems unrelated then. Carry on. Thanks again. :)

[2016-01-13 09:24] habitrpguser commented on #6006
Where is it where is it? Will it take a few more days until the merged code goes live? I don't see it in Habitica yet.

[2016-01-13 09:59] Alys commented on #6006
Yes, I'm afraid it might take a few more days. We're deploying some other code that needs careful monitoring in use in production to see if it behaves as required, and we might need to revert, modify, and redeploy it a couple of times. While that's happening, we don't want to have new features being deployed, because they'd need to be reverted along with the other code, and it would look dodgy if

[2016-01-13 10:03] habitrpguser commented on #6006
Thanks! That's fine. Just wanted to know. And good luck with the other code!

[2016-01-13 10:15] danielvancamp commented on #6485
@SabreCat i see!
I did some google for this, could you verify that these links are correct?

lifehacker -> http://lifehacker.com/habitrpg-levels-up-on-android-with-a-new-beta-1748084606
the ny times -> http://open.blogs.nytimes.com/2013/06/11/gamification-done-right/
makeuseof -> http://www.makeuseof.com/tag/gamify-life-clever-iphone-apps/
forbes -> http://www.forbes.com/sites/hnewman/2015/12/31/u

[2016-01-13 11:14] Alys commented on #6006
Or, it's live now. So there you go. :)

[2016-01-13 11:15] Alys commented on #6006
@GeorgeSG You can claim the bounty at bountysource. Thank you!

[2016-01-13 13:32] GeorgeSG commented on #6006
Glad to see it live :balloon: @Alys, yeah I claimed it :) Thanks!

[2016-01-13 14:55] habitrpguser commented on #6006
Oh! Oh! It's live! It works marvellously! I just had a whole guild chat (of a guild I'm more or less expected to read) read to me while doing dishes and cooking, instead of sitting at my desk wasting time that way. That's so great! @GeorgeSG , I'll gift-send you the 20 gems I promised right away, and I'll also make the "Screen Reader Hero" challenge for you in the Aspiring Coders guild. Thank you

[2016-01-13 15:35] Kaznotar opened #6508 "Basi-list quest not received"
I joined a party and invited one friend via their User ID. When they joined I expected to receive the Basi-list quest but never did.
My User ID is: 82d32884-e683-4b7f-8b7c-23aefecd565c
The party Group ID is: 1339c2e1-545e-4e62-9169-5f2fd5ed061e
I predominately use the website (Chrome on Windows 7) and the Android App.

[2016-01-13 15:36] GeorgeSG commented on #6006
Thanks @habitrpguser, I appreciate it! :) I'm happy the solution is useful for you :)

[2016-01-13 16:31] pezbemine commented on #5428
Was any solution found for this? I'm not able to use Microsoft Edge to log into Habitica using the Facebook log in. A window pops up for a moment and then closes.

[2016-01-13 17:01] paglias opened #6509 "API v3 Short-Term Roadmap 1"
This is a list of small items regarding the upcoming API v3. If you plan to make a Pull Request just announce it with a comment. We'd like to have _atomic_ PRs so each one should only implement 1 route and its tests, if you plan to do more (awesome!) just propose separate PRs. All PRs must be done against the `api-v3-groups` branch.

**Members**
- [x] tests for getMember route
- [x] option to alwa

[2016-01-13 17:28] keysmashes commented on #6485
BTW, the nasty rendering that @Alys mentioned is due to `image-rendering: pixelated;` being applied to everything. It can be fixed by applying the `.img-rendering-auto` class to each of the images, as per [website/public/css/index.styl](https://github.com/HabitRPG/habitrpg/blob/develop/website/public/css/index.styl#L206).

[2016-01-13 17:30] paglias commented on #6509
I forgot, all PRs must be done against the `api-v3-groups` branch.

[2016-01-13 17:36] Alys commented on #6508
I've checked your account and you have two Basi-List quest scrolls. Have you reloaded the site since they accepted the invitation? A reload is always a good idea when you don't see something you're expecting to see because the change might just not have been picked up by your browser yet.

[2016-01-13 17:56] GeorgeSG commented on #6509
I want to start with something simple, so I think I'll try this one: `tests for get group route` :)

[2016-01-13 18:04] paglias commented on #6509
@GeorgeSG I may have made an error, I think that one has already been taken by @TheHollidayInn along with the one for getting all groups. I'm sorry, I'll update the issue once I get home

[2016-01-13 18:35] OrigamiSamurai opened #6510 "Cannot update credit card info (stripe) or cancel subscription"
I am currently unable to update my credit card info for my subscription, or to cancel it.

I have attempted to update the card on a Mac on OS 10.10.5 using Chrome Version 47.0.2526.106 (64-bit) and on my iPhone 6S+ using Safari on iOS 9.2, but I'd guess it has little to do with the browser or device platform.

I tried updating my credit card info for my subscription (I'm using the card directly ra

[2016-01-13 19:38] SabreCat commented on #6485
I'll defer to @lemoness and @veeeeeee regarding article links. I suggested it in the past, but we decided not to, for reasons I now can't recall. Plus it might be odd that so many of them still call us "HabitRPG".

[2016-01-13 20:01] Alys commented on #6510
The "current_period_end of null" message means that your subscription was cancelled in the past by Stripe, our payment processor company, due to multiple failed payments, however the message was not received by our systems so your subscription in Habitica appeared to continue. Your most recent payment was in April. I've removed the subscription information from your account so you should  now be a

[2016-01-13 20:01] #6510 closed, assigned to nobody

[2016-01-13 20:13] OrigamiSamurai commented on #6510
Ok, thanks. I was able to sign up again.

[2016-01-13 20:17] #6408 closed, assigned to nobody

[2016-01-13 20:19] Alys commented on #2877
I'm closing this because we have it reported in https://github.com/HabitRPG/habitrpg/issues/2763

[2016-01-13 20:19] #2877 closed, assigned to nobody

[2016-01-13 20:51] TheWebJustWorks commented on #5428
Not getting a repro here in Windows 10 and was able to log in using Facebook UI. Screenshot or Video would be helpful - thanks!

[2016-01-13 20:59] pezbemine commented on #5428
If I click on Login/Register with Facebook, this window pops up and then disappears and I'm not logged in.
![wp_20160113_15_56_35_pro](https://cloud.githubusercontent.com/assets/16688729/12307632/7d79c32c-ba0e-11e5-9405-641bd3062a02.jpg)

[2016-01-13 21:13] TheWebJustWorks commented on #5428
thanks for the feedback - still not seeing a repro whether logged in or not. Will investigate further

[2016-01-13 21:19] paglias opened #6511 "Split optOut string in 2 versions"
The optOut string is used in 2 very different contexts and should be split in two versions, one for delaying the choice of a class and one in the home page.

[2016-01-13 21:24] paglias commented on #6509
@GeorgeSG I've updated the issue, if you wanted to try something simple I'd probably suggest `tests for remove group member route` or `tests for getMember route` but this second one is currently in the `api-v3-members` branch, I'd reccomend the first one since it's in a more stable branch

[2016-01-13 22:30] KristianTashkov commented on #6509
@paglias reserving Challenges `join` and `leave`. If I take too long with the `join` route, someone can take `leave` :smile_cat:

[2016-01-13 22:30] Kaznotar commented on #6508
Thanks

[2016-01-13 22:31] #6508 closed, assigned to nobody

[2016-01-13 23:04] paglias commented on #6509
@KristianTashkov great :) I'd do `join` before since there's already the code to sync data to a user (challenge.syncToUser). Note that this method still needs testing so if it doesn't work and the reason of the fail is not obvious or not easy to fix, ignore it (maybe out a TODO) and we'll enable it when it works. Also syncToUser has been rewritten in api-v3-challenges-tasks so you should probably

[2016-01-14 00:08] MattCurry-Nano opened #6514 "Duplicate invitation to same account"
User ID: 21dbd8d5-51fa-4713-83a0-cebb5437ce7a
Group ID: 9871525b-f65a-4d32-8631-3cbe2ab0de0d

My account appears to have gotten the same invitation to the party twice, the result being that although I'm already in the party, I get a banner box asking whether or not to ditch my current party for the _same_ party.

The Members and well as the Invited lists both contain my username as well.  It's alm

[2016-01-14 00:39] Alys commented on #6514
I've deleted it but please see the comment in bold at the top of https://github.com/HabitRPG/habitrpg/issues/5649
You don't need to comment on that issue.

[2016-01-14 00:39] #6514 closed, assigned to nobody

[2016-01-14 01:08] MattCurry-Nano commented on #6514
Hmm, I did a search for duplicate invitations and nothing came up.  Thanks.

[2016-01-14 01:19] Alys commented on #6514
In your defence, that issue wasn't marked as "memorable" and didn't have that bold text at the time you created this one. :)

[2016-01-14 03:39] lemoness opened #6515 "Add Wheelchair to Avatar Customization Page"
**UDPATE**: _See the comments below. This won't be done as a back accessory._

Very exciting! We now have the art assets for adding a wheelchair to the avatar customization page. (Thank you, Balduranne!)

This should be a free back accessory available to all avatars, in its own section (since we will probably have other colors eventually).

![icon-wheelchair](https://cloud.githubusercontent.com/as

[2016-01-14 04:27] Alys commented on #6515
I am wondering if it's worth creating a new avatar layer for this, rather than making it an equipment back accessory.

My thinking is, you'll go to the Avatar page to equip it, and then later you'll go to your Equipment page to change your gear, and whenever you try on another back accessory, the wheelchair will disappear. This will make sense to those players who understand that the chair is a ba

[2016-01-14 05:03] deilann commented on #6515
Totally agree with alys and am so excited!
On Jan 13, 2016 8:27 PM, "Alys" notifications@github.com wrote:

[2016-01-14 07:23] UnexpectedMushroom commented on #6006
Thanks for that @GeorgeSG ^^ Very handy :)

[2016-01-14 08:36] longlu opened #6516 "feature request: sync tweets or rss feeds automatically to chat in the party?"
feature request: sync tweets or rss feeds  automatically to  chat in the party?

[2016-01-14 08:58] Alys commented on #6516
Hi @longlu. GitHub is used primarily for reporting bugs. Feature requests are done through the Help -> Request a Feature menu item on the Habitica website. I'm closing this that you logged, however it's an interesting idea so I definitely think you should request it.

Read through the Help -> Request a Feature instructions first, but then the card you want is probably "CHAT (Tavern Talk Enhancemen

[2016-01-14 08:58] #6516 closed, assigned to nobody

[2016-01-14 09:03] xxstaten commented on #6494
Also getting the same problem, anyone have any ideas on fixes D: ?

[2016-01-14 09:07] Alys opened #6517 ""Show chat messages in reverse order" checkbox is easy to click accidentally"
There's a few reports in the Tavern that the "Show chat messages in reverse order" checkbox can be accidentally selected when clicking on the "send chat" or "fetch recent messages" buttons.

citrusella says:

**It appears it happens most often when I approach the button from below; it seems sometimes it's catching the "hitbox" of the reverse link and not letting go when the mouse is moved to the f

[2016-01-14 09:11] Alys commented on #6517
More specifically, the "Show chat messages in reverse order" checkbox can be accidentally selected when clicking on the "send chat" or "fetch recent messages" buttons.

One possible fix is moving the checkbox to a region where there's no other UI elements above it.

(I've edited my first comment to contain this info.)

[2016-01-14 09:31] jozefspisiak commented on #5649
Same bug here. I accepted invitation and it sticks, even if I accept it multiple times afterwards.
User ID: 700a11ad-ee57-461e-b6f8-8af962e79f1c
Group ID: 79bfa2eb-9778-4187-97c9-6d6aeb45b523

Other members of group are as well affected.

[2016-01-14 09:36] Alys commented on #6215
@testsubject1987 I'm closing this since it's been a while since there was an update from you, but if you found anything interesting from the test I suggested in my previous comment, please tell us.

[2016-01-14 09:36] #6215 closed, assigned to nobody

[2016-01-14 09:40] Alys commented on #5923
@stawberri I'm so sorry, we never got back to you about this! I'm wondering if there was some weird caching of data related to messages specifically to me (e.g., maybe the first message failed due to a temporary glitch but then the corrupted version of the message hung around to corrupt all future attempts). That's wild speculation though. If it's at all accurate, then the caching has probably cle

[2016-01-14 09:50] Alys commented on #5649
@jozefspisiak I've deleted the invitations, but please read the bold text at the top of this page, if you haven't already.

[2016-01-14 09:51] GeorgeSG commented on #6517
I just checked this out. Ishmaeel is right, this is happening because the tooltip is not disappearing instantly. Clicking on the tooltip triggers the checkbox.

I think a viable solution is just to make the tooltip appear at the bottom. Or possibly try to disable the click action when hovering the tooltip?

Edit: to be clear - moving the tooltip to the bottom will just make it so this happens in t

[2016-01-14 09:53] Alys commented on #6501
@bjcj123 We haven't heard back from you so I'm guessing it's now working for you and I'm going to close this, but if you're still having trouble, please see the previous comment from SabreCat and tell us how that goes.

[2016-01-14 09:53] #6501 closed, assigned to nobody

[2016-01-14 09:54] GeorgeSG commented on #6517
Actually, do we even need the tooltip? I think the label might be enough.

The idea of the tooltip was to show which pages are affected by the checkbox (when it was on the Settings page), but now every page that is affected also has the checkbox itself...

[2016-01-14 09:55] Alys commented on #6507
@nelle013 We were having server problems yesterday and the day before which were probably causing this (it wouldn't have been due to your internet connection). We seem to have got rid of the problems, so I think this should be working for you now, but if it isn't, please do comment here again and we'll keep helping you!

Your actions wouldn't have been affecting anyone else's data, so it's safe fo

[2016-01-14 09:55] #6507 closed, assigned to nobody

[2016-01-14 09:59] Alys commented on #6517
@GeorgeSG I think you're right! The tooltip doesn't seem necessary now and getting rid of it would be an easy fix.

Perhaps wait a few hours to see if anyone objects, and then if you'd like to submit a PR for that, please do! Or do the PR without waiting if you don't mind a small risk that it might be rejected. I don't think it would be though. (If I'm wrong, I will give you five gems. ;) )

[2016-01-14 10:19] Alys commented on #6478
@aksteele Is this still happening on Chrome without using incognito mode? I'm hoping that whatever corruption was causing it has disappeared now.

If it is still happening, did you clear cookies at any time? That plus https://habitica.com/static/clear-browser-data again might fix it.

[2016-01-14 10:19] Ishmaeel commented on #6517
Chiming in:
- Moving the tooltip to the bottom would make the mouse pointer obscure the text and it would look clunky and ugly. I'd vote for removing it completely over this solution.
- I don't think the tooltip is entirely devoid of useful information. Those who are not very computer-savvy might find the note about "the oldest are on top" helpful. I, for one, wouldn't miss the tooltip though.
- M

[2016-01-14 10:20] Alys commented on #2601
We still get application errors, but the code has changed a lot since this was first logged that the causes are probably different now, so I'm closing this issue. We have more recent ones to track the errors, e.g., https://github.com/HabitRPG/habitrpg/issues/6495

[2016-01-14 10:20] #2601 closed, assigned to nobody

[2016-01-14 11:50] GeorgeSG commented on #6517
@Alys, I'm at work and can't open a PR to remove the tooltip in the next 6-7 hours anyway. :) So we have a few hours to see if anyone else has different ideas.

[2016-01-14 12:17] GeorgeSG commented on #6517
@Ishmaeel - you have a point about the "oldest are on top" info.

Can we reword the label itself to give that info? Perhaps `Show chat messages in ascending order` or something like that? Maybe something shorter - `Show older messages first` or `Order oldest to newest`? Another one is `Show newest messages at the bottom`

[2016-01-14 12:32] Ishmaeel commented on #6517
@GeorgeSG - Well, I'm trying to put my feet into the shoes of somebody who is relatively computer-illiterate, and both "show in reverse order" and "ascending order" sound like mumbo-jumbo to me. Best I can come up with at the moment is similar to one of your suggestions, only longer: "Sort messages from oldest to newest".

On the other hand, maybe I am overthinking it. We are living in a world whe

[2016-01-14 13:50] jozefspisiak commented on #5649
@Alys yes, thank you. The invitation still shows up, but as I read they will reappear for couple of days. Can you maybe check access logs, if they are enabled to see if there were multiple ajax calls which created them or only one? If the problem is in the browser or only on the server side.

Also we have all registered to habitica after we received email invitation to join party from a friend, wh

[2016-01-14 14:30] crookedneighbor commented on #6515
I agree that we should make it a new layer.

In fact, I wish we had renamed the flower layer and made the animal ears an avatar customization, not equipment. Mucks with the purchase logic to have them be equipment.

[2016-01-14 15:38] rebhill opened #6519 "No Reward for Rat King Request"
Hi, My questing party "Dapper Fellows" completed the Rat King quest and none of us got the quest rewards.

here is a copy paste of the quest being completed:

You defeated Rat King! Questing party members receive the rewards of victory. -2 days ago+1
sethed attacks Rat King for 242.4 damage, Rat King attacks party for 0.0 damage. -2 days ago+1
thejeffcho attacks Rat King for 15.6 damage, Rat King

[2016-01-14 18:10] lemoness commented on #6515
New layer sounds great!! I'd suggested Back Accessory because I wasn't sure
it was possible otherwise but I agree that it's preferable this way :)

On Thursday, January 14, 2016, Blade Barringer notifications@github.com
wrote:

[2016-01-14 18:25] Alys commented on #6515
I've advertised it in Aspiring Coders.

[2016-01-14 18:42] GeorgeSG commented on #6499
Happened to me too, doing a local OSX install. I had to install some packages (6-7) by hand after the initial `npm install`.

[2016-01-14 19:01] testsubject1987 commented on #6462
Thank you.

[2016-01-14 19:19] stawberri commented on #5923
It looks like it worked! If you received my message, I guess that means you're right! :smile:

[2016-01-14 21:04] itokro opened #6524 "Typo in "Show chat messages in reverse order" tooltip"
When I mouse over the new "Show chat messages in reverse order" text at the top of Habitica's chat spaces, I get a tooltip that says, "Show the messages in the Tarvern, Guild and Party chats in reverse order, so that the oldest are on top." This is a very helpful tooltip, but it would be even better if it said "Tavern" rather than "Tarvern" ;-)

[2016-01-14 21:19] citrusella commented on #6517
Maybe, if the tooltip is removed, the checkbox would be clearest if it read something like "reverse chat order (oldest on top)" (maybe with "messages" after "oldest"). Reasonably succinct and would explain the button fairly clearly to someone who might misunderstand "reverse"?

[2016-01-14 23:28] Tyler-Hilbert commented on #6524
I've found where the typo is. It's in \common\locales\en\settings.json on line 14. I fixed the problem locally but can't figure out how to commit it -_-. Can someone help me with git?

[2016-01-15 02:24] #6474 closed, assigned to nobody

[2016-01-15 02:28] #6517 closed, assigned to nobody

[2016-01-15 02:33] #6451 closed, assigned to nobody

[2016-01-15 02:40] #6511 closed, assigned to nobody

[2016-01-15 02:43] crookedneighbor commented on #6524
We've removed the tooltip entirely to fix another issue. It will go live soon.

[2016-01-15 02:43] #6524 closed, assigned to nobody

[2016-01-15 04:48] MikeFoden commented on #6515
@Alys I'd love to give this a try.

[2016-01-15 04:50] Alys commented on #6515
@MikeFoden   Please do! Thank you!

Post here if you have any questions or run into any problems.

[2016-01-15 10:23] montymero commented on #5465
Hello everybody,
Which language HabitRPG uses for you: czech
Where on the site the message appears: Inventory > Equipment - royal attire (I don't know the exact name, since I have it in czech)
What you clicked on (if anything) that caused the message to appear: anytime I want to select this item or hover above

[2016-01-15 12:53] Alys commented on #5923
@stawberri I did! Thank you very much for testing again!

[2016-01-15 12:53] #5923 closed, assigned to nobody

[2016-01-15 13:28] Alys commented on #6519
I've given the quest rewards to all party members who were on that quest. They should reload if they don't see them immediately. I'm closing this now but please comment here if anything is still not right.

[2016-01-15 13:28] #6519 closed, assigned to nobody

[2016-01-15 14:59] joshers commented on #6497
What extensions are you running? It seems like it may be a local issue with an adblocker or tracking blocker getting overzealous and messing everything up.

[2016-01-15 16:30] AnnaFromPoland commented on #6497
alright, i'll turn off the adblocker. tracking blocker could be disconnect, i'll set up the exception so it wouldnt activate on habitica. i'm not sure this is the case though, because this happens super randomly, and the only stable (repeating) thing i've noticed is, this happens when i click or type at normal speed. habitica seems very heavy on my system? the computer starts "panting" so to say,

[2016-01-15 22:48] melarish commented on #6401
How could this be tested on a local Habitica? Would it be enough if the "Client Authentication failed\" error was working properly, seeing as the errors all seem to come from the same place?

[2016-01-16 01:07] crookedneighbor commented on #6401
You'd need to sign up for a paypal sandbox account and put the credentials in the config.json

[2016-01-16 03:02] Alys commented on #6497
@bakatenko How many tasks do you have? The easiest way to count is to go to Data -> Data Display Tool and use the Task Statistics section.

[2016-01-16 03:04] KGBoo opened #6529 "Didn't receive Mystic Hourglass"
Hi! I didn't receive the Mystic Hourglass I was supposed to.

API: d6208b0e-a7e0-4ddd-ae0b-06a8f5853702

Thanks!

[2016-01-16 03:11] Alys commented on #6529
Sorry about that! Please reload, it's there now.

[2016-01-16 03:44] Alys commented on #6495
We made a change to the server a few days ago that seems to have reduced the frequency of application errors, so I'm closing this. However if you notice them happening again often, you can comment here and we'll keep investigating.

[2016-01-16 03:44] #6495 closed, assigned to nobody

[2016-01-16 03:45] miss-peristeronic commented on #6459
Yes, I have the same problem! Level 40 but it gave me all 100 points ><

[2016-01-16 03:48] Alys commented on #6484
@Eramik Are you still getting the errors often after syncing? We made a change to the server a couple of days ago which we think might have fixed it.

[2016-01-16 03:54] Alys commented on #6459
@miss-peristeronic I can fix that for you. I can either unassign all your points so that you can assign 40 of them to attributes, or you can tell me which attributes you want them assigned to, so that you don't have to click 40 times. :)  Please also can you tell us how long ago did you reach level 40?

[2016-01-16 04:17] miss-peristeronic commented on #6459
It's been five days maybe? But you can just unassign all the points, that's fine. Thank you!

[2016-01-16 04:26] Alys commented on #6459
@miss-peristeronic Done!

[2016-01-16 04:26] #6459 closed, assigned to nobody

[2016-01-16 09:44] AnnaFromPoland commented on #6497
52 dailies and 134 to do tasks. for the bigger ones i like to add checklists too as it helps me organise things, and every time i do this there's at last one freeze when i'm typing that closes the edit mid way erasing the typing in the checklist item i were doing. have to type very slow, typing at the normal speed guarantees the freeze. what's weirder, quite a few times the typing would suddenly c

[2016-01-16 10:10] melarish commented on #6401
Is it these settings?
"client_id":"client_id",
"client_secret":"client_secret"

Do you need both a buyer and seller or just buyer?

[2016-01-16 12:50] dgodovanets commented on #6484
No. All right.

[2016-01-16 12:51] #6484 closed, assigned to nobody

[2016-01-16 16:41] Shipmaster001 opened #6532 "Am I there?"
I had completed a habit for the second time that day. I clicked on the button to earn my reward, but then an error message pulled up. I refreshed the page ne less than three times, but the message wouldn't go away. When I went to another page and then back to the "tasks" page, it seemed that all was well. But now none of the buttons I click on do anything. I tried refreshing the page, but that jus

[2016-01-16 19:14] crookedneighbor commented on #6401
Yes and yes.

[2016-01-16 21:16] Alys commented on #6532
Sorry about this! Please go to https://habitica.com/static/clear-browser-data and click the button there (read the text above it first).

If that doesn't solve the problem, you'll need to tell us exactly what the error message says. Whenever you're reporting an error (on any system, not just Habitica), it's important to include the full text of the error, or a screenshot, because the error message

[2016-01-16 21:34] camachoborracho opened #6534 "Enchanted Armoire does not change the "equipment pieces remaining" count"
The Enchanted Armoire does not change the "equipment pieces remaining" count from 40 down to anything else. I excluded food and XP as a potential bug since those aren't equipment pieces, but I have gotten 4 equipment items from this but it still says 40 not 36. Same applies on the iOS app version.

[2016-01-16 22:04] Alys commented on #6534
Thanks for letting us know!

Can you please reload the website and tell us if the count is now accurate.

FYI for other devs, I've confirmed that camachoborracho owns four Armoire gear items, assuming that "camachoborracho" is also his Habitica profile name (@camachoborracho if it isn't, please tell us your User ID -- go to Help -> Report a Bug and see step 6 of the instructions).

[2016-01-16 22:20] camachoborracho commented on #6534
Hi Alys,

Yes, my avatar name is camachoborracho, and your investigation turned out to be correct. Unfortunately when I closed out of my browser and reset it, I have the 40 still:

![40 pieces](https://cloud.githubusercontent.com/assets/15842968/12374792/2846191e-bc5c-11e5-842d-edae279e837a.png)

![equipment collected](https://cloud.githubusercontent.com/assets/15842968/12374795/471bebac-bc5c-11e5

[2016-01-16 22:28] Alys commented on #6534
I just checked on my account, which has all the gear. There's currently 44 Armoire items. The count is correct. :)

[2016-01-16 22:28] #6534 closed, assigned to nobody

[2016-01-16 22:29] keysmashes opened #6535 "Sample tasks on front page are visually outdated"
The sample tasks on the front page look very outdated compared to the current UI.

Front page:
![image](https://cloud.githubusercontent.com/assets/9433472/12374776/a34d1fc6-bc9e-11e5-8e74-cc798a6ca769.png)

Current UI:
![image](https://cloud.githubusercontent.com/assets/9433472/12374798/5bba8a80-bc9f-11e5-8f9f-548c26884ebb.png)

[2016-01-16 22:36] camachoborracho commented on #6534
Really? Weird. It had started out as 40 as I remember it initially dropping to 38 with 2 purchases, but maybe with the update a few days ago more got added and bumped up to 44? OK fair enough. Will see after the next one. Thanks

[2016-01-16 22:38] Alys commented on #6535
I think this might be deliberate to give a clean, simple view on the front page. Those examples are intended to draw new users in, so they need to be attractive with no confusing details.

I don't think we'd want to include the icons because without the tooltips they don't all make sense immediately, and they'd add visual clutter.

The +/- positioning is definitely different, but it probably looks

[2016-01-16 22:39] Alys commented on #6534
New items are added to the Armoire every month. You can see all of them at http://habitica.wikia.com/wiki/Enchanted_Armoire

[2016-01-16 23:15] Fabalian commented on #6279
I have been experiencing difficulties leaving my party and the Newbies Guild recommended I contact you this way. I have tried to leave the party by clicking the red “leave party” button on the party page, but nothing happened (you see a think blue bar load from left to right, at the top of the browser page but then the same party page appears again).

My party is doing a quest at the moment but I’

[2016-01-17 00:06] Alys commented on #6279
@Fabalian Excellent bug report! Very thorough - thank you! I'm sorry it's been so much trouble for you.

Could you please try one more thing? On Google Chrome, please go to View > Developer > JavaScript Console, which should open a small sub-window at the bottom of the Habitica site. Then reload that page, and tell us what appears in the Console. You can either copy and paste all the text or take

[2016-01-17 00:27] Fabalian commented on #6279
Thanks Alys,

I could not find View - Developer - Java Scipt, what I've done instead is Settings - More Tools - Developer Tools, I hope that's the window you mean.

Here is the first screenshot with the developer tool open whilst reloading the Habitica Task page:
![image](https://cloud.githubusercontent.com/assets/16738401/12375238/0f0407cc-bcb1-11e5-802b-adcbf725de1e.png)

Here is another screens

[2016-01-17 00:31] Alys commented on #6279
@Fabalian Sorry about that - I'd forgotten that it's not in the same menu position. My bad. :( You can get to the correct place by clicking "Console" at the top of that sub-window (in between Elements and Sources, near the left). Reload to clear out old information from it then click "leave" and show us what appears.

[2016-01-17 00:39] Fabalian commented on #6279
thanks and sorry about the confusion!

Here is a pic after I hit reload whilst viewing the task page:
![image](https://cloud.githubusercontent.com/assets/16738401/12375275/96289e1a-bcb2-11e5-9ea7-bf291f494915.png)

Here is a pic after I click the "leave group" button:
![image](https://cloud.githubusercontent.com/assets/16738401/12375279/acd6e414-bcb2-11e5-9eb6-3d0942cad38a.png)

...the mystery con

[2016-01-17 02:31] Alys commented on #6279
@Fabalian Don't be sorry - I gave you bad instructions!

That second screenshot contains interesting information for us:
_TypeError: Cannot read property '_id' of null_

Just to confirm - you never see the popup confirmation link when you click on the leave button? Not in any browser?

[2016-01-17 02:31] Fabalian commented on #6279
nope

[2016-01-17 03:41] TanveerSehgal opened #6538 "Quest abandoned."
The quest owner (the name of the party is GrowFast) has not logged in to habitica for a while. I removed him from the party due to inactivity but the quest is still stale. http://habitica.wikia.com/wiki/Quests recommended that I post here.

Kindly reset the quest field so the party can continue with other quests.

Thank you.

[2016-01-17 04:01] Beuks opened #6539 "Typo in Dailies help (?) button"
Just joined the site and love it so far. Being new is probably what helped me catch this error:

When you click the question mark (?) beside Dailies for more information about that type of task, one of the bullet points reads "Dailies turn redder when you miss them, and bluer when you complete them. The _redder_ the Daily, the more it will _reward_ you... or hurt you."

Should this instead read, "

[2016-01-17 04:07] crookedneighbor commented on #6539
Actually, the redder the daily, the more it rewards you for completing it.

See the "Other Effects" section on this article: http://habitica.wikia.com/wiki/Dailies

[2016-01-17 04:07] #6539 closed, assigned to nobody

[2016-01-17 04:09] Beuks commented on #6539
Haha you beat me to my edit! I understand that now, I changed it to suggest a way to avoid the initial confusion for newcomers - as currently it seems that being in the red will reward you :P

[2016-01-17 04:15] Alys commented on #6538
The wiki actually asks you to comment on a specific issue and to include your User ID and the party's Group ID. We'll work with this issue that you've opened now, but if you need this done again in future, please comment on the issue that the wiki links to.

Kindly go to Help -> Report a Bug and see step 6 in the instructions there. It will tell you how to find your User ID and the party's Group I

[2016-01-17 10:10] Dewines opened #6540 "Opting out of PMs: Should be impossible for challenge/guild leaders? Give suggestion to opt-in when sending a PM?"
I am one of the pirates of Habitica who do gamified clear up of dead and abandoned guilds and thus I sometimes want to send a PM to a guild leader. I have just had a problem with one such interaction when someone had created a duplicate guild that was subsequently made private.

 _EDIT by Alys: this has been logged in_ https://github.com/HabitRPG/habitica/issues/9247 <strike>Though still logging i

[2016-01-17 10:31] Alys commented on #6540
In addition:

  3. If you are a challenge owner, you shouldn't be able to opt out of the PM system.

  4. If you have opted out and you send a PM, you should be shown a warning that the person will not be able to reply unless you opt back in to the PM system.

Items 2 and 3 might be controversial, and I'm not certain I'm in favour of them, but you can make a case that if you choose to create a gui

[2016-01-17 10:46] Alys commented on #6279
@paglias @crookedneighbor @SabreCat :
For Fabalian's case, I can't see anything wrong in the user or group data related to the party. Do you want to look into this or get Fabalian to give you any other information? If not, I'll remove Fabalian from their party manually.

[2016-01-17 10:46] Dewines commented on #6540
Those are all excellent points, @Alys. My argument for points 2 & 3 is exactly what you said, namely that if you've chosen to lead a public guild or to create a public challenge you should be contactable.

[2016-01-17 10:49] Alys commented on #6497
@bakatenko That is quite a lot of tasks. I have about that many and the site is often slow for me and occasionally freezes temporarily. It would be interesting to know if a test account with only a few tasks displayed the same lag on the same browser that you use your real account on.

[2016-01-17 11:07] AnnaFromPoland commented on #6497
i'll be watching the browser work with this load of tasks and continue to compare chrome with firefox (unfo i won't be comparing safari cause it does not support merfy's theme so well - on safari the height of each task box does not get lessened, and with as many tasks as i have, it takes too much space. merfy's skin allows for a "bird view" comparatively), and then will try the same with half the

[2016-01-17 12:03] paglias commented on #6279
@Alys I'd say the only thing @Fabalian can try if they didn't already is to logout. Otherwise just remove them from the party manually

[2016-01-17 12:19] melarish commented on #6401
I tried adding the credentials to config but it still gives me the authentication failed error. Paypal doesn't even let me create a seller account and I wouldn't know where to set it in the config.

[2016-01-17 12:44] Fabalian commented on #6279
@Alys & @paglias  I've logged in and out several times during the "clearing HAbitica  data" process and when trying different browsers - I've just tried logging in and out again and what I get in Google Chrome is the "invite your friends to a party" page for about 3 seconds before going back to the party page - so far this has only happened in Micorsoft Edge, not Chrome.

[2016-01-17 12:58] melarish commented on #5376
Is there currently server code for an Armoire purchase? I found this comment:
"If a function is inside user.ops, it has magical properties. If you call it on the client it updates the user object in the browser and when it's done it automatically POSTs to the server, calling src/controllers/user.js#OP_NAME (the exact same name of the op function)."
suggesting there should be another buy function i

[2016-01-17 18:01] Ohios commented on #4252
Hello! This happened to my party when we finished the Egg Hunt Quest. We didn't receive the rewards or  achievement. We are a large party (50+ people) and some of us seem to have gotten the Finished Quest Screen but it looks like most of us didnt get the rewards.

My User ID is 8b6880fe-dd95-423d-9191-42253eb3c0fd

My groups ID is  3908c727-60d1-4453-a545-463b431a7d86

Thank you in advance!

[2016-01-17 21:13] wswld commented on #6313
Having the same problem over there.

Group ID: `0362556c-3fdf-4e93-8040-a5bac13acbb1`
User ID: `ead43d3b-3279-4d7d-9d2f-bd0f81994edb`

[2016-01-17 21:20] Alys commented on #6313
@wswld I've made that user the leader.

[2016-01-17 21:21] wswld commented on #6313
Thanks. Do you know where the bug is? I mean is there a way I could prevent that?

[2016-01-17 21:24] Alys commented on #6313
@wswld We have no idea at the moment. Sorry!

[2016-01-17 21:26] wswld commented on #6313
That's OK, I'll try to notice some details if it happens again.

[2016-01-17 21:28] Alys commented on #5376
@melarish If you search through the code base for "armoire" (case-insensitive, without the quotes), you'll find all the code for it. From memory, the main buy code is in the same file as that comment.

[2016-01-17 21:28] Alys commented on #6313
@wswld Thank you!

[2016-01-17 21:33] wswld commented on #6313
I checked some of the stuff I did last time to possibly cause that. When you edit the group the `asign the leader` dropdown is empty. Saving changes with that empty — nothing happens. The moment I deliberately chose _myself_ in that dropdown and saved — voila, here comes the anarchy.

[2016-01-17 21:35] wswld commented on #6313
I have my wife in that group, so I can check assigning leadership to her, if you set me as the leader again. I mean to check whether It's only assigning to myself, or assigning to anyone.

[2016-01-17 21:55] wswld commented on #6313
Sorry, it does seem to be working in both cases (assigning to someone else and to myself in web app) — it's just the field is empty after the save, but it's OK after I press `fetch the new messages button`. So, it's not the culprit here, although empty field after save is misleading. With my original problem it persisted even after refresh.

[2016-01-17 21:59] melarish commented on #5376
Yep, I found the buy code in user.ops but it's only for the client-side, isn't it? I can't find the code where it actually runs on the server, to be able to send back the result from the server. If that's even possible.

[2016-01-17 22:06] crookedneighbor commented on #5376
I believe that code is run on the client _and_ the server

[2016-01-17 22:57] rmkoske opened #6544 "Errors on npm start in Vagrant-based local install on Win10."
I have been slowly pursuing this install over a few days and closed it in between sessions, so I don't have the Vagrant install log.  (Unless it saves it somewhere?)

Vagrant seems to be working as far as I can tell, I got into the virtual machine fine, but when I run npm start it errors and I'm not sure where to start troubleshooting. Even advice on what I need to go learn would be appreciated.

[2016-01-17 23:00] rmkoske commented on #6544
Based my decision to run npm install on this issue: https://github.com/HabitRPG/habitrpg/issues/5801

[2016-01-18 03:11] ghost commented on #5649
Hello!

I have a lingering invitation for someone in my party.
User ID: e93cfb63-b562-486c-9bff-4aaddb8bed1d
Group ID: a9a60bd3-0922-4c2f-82b9-08144dac995b
Any assistance would be greatly appreciated.

Also, if it's helpful, the person with the duplicate invitation was invited by email and joined the party first. The more recent member had an account already, and does not appear to have any issues

[2016-01-18 09:06] Alys commented on #6532
I'm closing this but comment here if you still need help.

[2016-01-18 09:06] #6532 closed, assigned to nobody

[2016-01-18 09:08] KristianTashkov commented on #6544
DISCLAIMER: I'm not sure it will work but here are some issues I'm seeing and how it may help you.
- Your node version is `0.37` when you need `0.40`
- `==> default: npm ERR! Maximum call stack size exceeded` is an issue with npm 3.X and it's appearing when you `npm install` with `--no-bin-links` which habitica is doing, because of legacy problems with old MAC OS systems. You can remove it from yo

[2016-01-18 09:12] Alys commented on #6279
@Fabalian I've removed you from the party. Please reload the site and tell me if it hasn't worked.

@paglias I saved a copy of all relevant information from the database in case it helps us investigate this further. Do you have any idea what `TypeError: Cannot read property '_id' of null` might have been referring to?

[2016-01-18 09:15] paglias commented on #6279
@Alys I fear I do not know, every model has an _id field and without source maps it's impossible to see where the error originated. It's strange though because I don't think mongo ever save something without an id which makes me think of a client side only error

[2016-01-18 09:28] Alys commented on #5649
@thomasohashi I've deleted the invitations, but please read the bold text at the top of this page, if you haven't already (in brief; the invitation is likely to reappear a few times but it will stop after a few days).

@jozefspisiak and @thomasohashi : Thanks for the extra information, although unfortunately the joining method doesn't seem to be consistent - we've had reports of it happening from

[2016-01-18 09:30] Alys commented on #4252
@Ohios I've given the quest achievement and rewards to your party. Reload if you don't see them.

[2016-01-18 13:22] melarish commented on #5376
Is there any interaction between the run on the server and the run on the client side? Since the suggestion was to get the result from the server. Or what's the other options? Is there a command that attempts a sync with the server? So that if it can't sync, it could give an error message instead.

[2016-01-18 13:59] rmkoske commented on #6544
Ooh, thanks.  I won't know whether I really understand until I have time to sit down in front of my machine and try to act on the advice, but I think I get what you're saying and I definitely appreciate your help.  :smile:

But I wanna be sure I'm clear on your last point ("keep in mind").  I think you're saying that the Windows install (that begins with MongoDB) might be much easier than trying f

[2016-01-18 14:03] crookedneighbor commented on #6544
I've removed the `--no-bin-links` part of the vagrant install process. Should fix the `Maximum call stack size exceeded` error. If you bring your repo up to date with `develop` it _should_ work.

[2016-01-18 14:04] KristianTashkov commented on #6544
@rmkoske Pretty much. For tests you need to run them with mocha directly and not using `npm test` or gulp since the gulp tasks are written for an UNIX OS.

[2016-01-18 14:42] rmkoske commented on #6544
@crookedneighbor - Thanks, that was the part I was least confident about dealing with on my own.

@KristianTashkov - Very clear.  I'll keep it in mind.

[2016-01-18 15:46] Ohios commented on #4252
Thank you so much @Alys ! You're the best!

[2016-01-18 15:58] Fabalian commented on #6279
thank you guys! I'm out of the party woho @paglias @Alys  if you'd like me to provide you with anything else so you know what happened I'm very happy to :)

[2016-01-18 17:34] ghost commented on #5631
@Alys Hi! Posting here not having found the new right place for reports like the following one.
Reported by Jazzis18 on Transifex
questOctopusCompletion

_Completion is not needed both in the original line and in translations as it comes from Trello where it's used to indicate the text concluding a quest_

[2016-01-18 18:23] Alys commented on #5376
The idea with this code (and much other) is that the code rus independently
on the client and the server but produces exactly the same result on both
because the client and server (supposedly) start with the same data. This
works when the initial data is the same on both (i.e., when syncing has
occurred since the previous action). It fails when the client has a
different idea of the user's stats t

[2016-01-18 19:25] lemoness opened #6546 "Community Guidelines Staff Updates"
We have a new staff member: @viirus! Hurrah!

That means that Viirus' name should be added to the list of staff members, and that the image should be switched to this:
![staff promo final](https://cloud.githubusercontent.com/assets/3494081/12400634/227988e2-bdd6-11e5-8eb8-08bd1b4950ff.png)

[2016-01-18 20:08] aksteele commented on #6478
Problem is back:

(1) Page not updating - seeing yesterday's dailies still checked off
(2) But still lost all my levels & gold (even though I accomplished a ton yesterday, so that's weird :/)

[2016-01-18 20:20] Alys commented on #5631
Thanks @GitHubSphinx and Jazzis18. I've made that change in the repo. It will go live in a few days.

[2016-01-18 20:21] ghost commented on #5631
Thank you!

[2016-01-18 20:33] starwarsthx1138 opened #6548 "Accepting Community Guidelines"
When attempting to accept the Community Guidelines if you have not clicked on the Community Guidelines link to pull up that page you get an Error saving settings please reload the page to try again message.  At this point the use has no information stating what the root cause is (not clicking on the Community Guideline's link first).  Given that most people do not actually read these types of guid

[2016-01-18 21:17] keysmashes opened #6550 "Tags tooltip is misaligned compared to other tooltips"
The tooltip when you hover over the tags icon is 1px lower than the other icon tooltips.

![tags](https://cloud.githubusercontent.com/assets/9433472/12385411/c30e8faa-bdb3-11e5-877d-546b1fd07b2a.png)

![edit](https://cloud.githubusercontent.com/assets/9433472/12385414/c8e0bd72-bdb3-11e5-80ef-cab69b2c868b.png)

[2016-01-18 21:38] #6546 closed, assigned to nobody

[2016-01-18 22:31] aksteele commented on #6478
Didn't fix when I cleared browser data :(

[2016-01-18 23:49] Alys commented on #6478
@aksteele The problem is that local storage was holding on to your actions yesterday to mark your Dailies as completed. It didn't send them to the server yesterday, so the server thought you hadn't done them and damaged you for them on cron. After cron, local storage then did send the completion actions to the server, making the Dailies appear to be completed today. Clearing local storage after th

[2016-01-18 23:54] Alys commented on #5944
I believe we've done everything required for this.

@paglias please reopen if I'm wrong.

[2016-01-18 23:54] #5944 closed, assigned to nobody

[2016-01-18 23:57] Shipmaster001 commented on #6532
I've switched to using the app full-time since it is less temperamental. After successfully completing a task on my to-do list, I received a notification that I had gotten a Desert HatchingPotion. I headed to my inventory to check it out but, to my surprise I found a piece off meat and a Wolf egg, neither of which I remember receiving. Why is this?

[2016-01-19 00:13] Alys commented on #6548
That's actually just a coincidental server error, rather than an error created by not clicking on the link. I've just tested with a new account and I was able to accept the guidelines without reading them (which isn't ideal but there's not much we can do about it; even if we did enforce opening the guidelines, people could close them without reading).

Any time you see that error, reloading usuall

[2016-01-19 00:13] #6548 closed, assigned to nobody

[2016-01-19 01:16] shiboe commented on #5649
Howdy, have a member that also shows up in the invited section.
My user ID: 35da2eae-af20-4bb7-95b5-a96cf5cc0e60
Duplicated user ID: b586f0bd-fce8-44ea-8ab8-ddf4f3ef6596
Group ID: aeda929f-044c-4f99-b050-f13be9aa076f

[2016-01-19 02:46] TheHollidayInn commented on #6509
I'm still working through the groups stuff, but I can continue working on the chat routes as we go. I need to work on them for some tests any way.

[2016-01-19 03:58] lemoness commented on #6356
The re-layers have been completed by the talented @nonight! They're ready to be put in-game. If there's any issue with the following files, let me know.

![mount_body_gryphon-base1xb_zpsi4kotjft](https://cloud.githubusercontent.com/assets/3494081/12409302/ba239ef2-be1d-11e5-8776-e535d765dd8b.png)
![mount_body_gryphon-base1xf_zpsdhfstxc8](https://cloud.githubusercontent.com/assets/3494081/12409304/

[2016-01-19 12:45] Alys commented on #5649
@shiboe I've deleted the invitation, but please read the bold text at the top of this page, if you haven't already (in brief; the invitation is likely to reappear a few times but it will stop after a few days).

[2016-01-19 16:15] thediceofliars opened #6551 "Challenge Link broken"
When a challenge is removed, the pending tasks for said challenge are still automatically generated for each user who joins. When this challenge is sub-sequentially deleted, the pending tasks are only marked with a "Challenge Link Broken" token.

How should this be resolved? If a challenge creator deletes a challenge, should the participants in said challenge still get rewarded even for simply rem

[2016-01-19 16:36] Alys commented on #6551
The behaviour you've noticed is correct. When a challenge is deleted or closed the tasks are meant to stay in the participants' task lists so that the participants can keep using them if they wish. If you click on the "broken challenge link" icon, you'll be given an option to keep or remove the tasks. If you choose to keep them, then they'll become just like normal tasks as if you'd created them y

[2016-01-19 16:36] #6551 closed, assigned to nobody

[2016-01-19 17:08] leingang opened #6552 "No Reward for Unicorn Queen quest"
Hello, my party "Notorious Streakers" completed the Convincing the Unicorn Queen quest.  Several of us (though not all of us) did not receive the quest rewards.  In the party chat log we have:

[code]

I gather from Tavern scuttlebutt than this issue can be addressed here.  I can provide other information if you need it.

[2016-01-19 17:09] joekatzman commented on #5919
For me, the real issue appears to be the way Habitica handles cron - not "a set time and we'll notify you later," but "it doesn't trigger until you log in." The distinction is invisible for things like hit point loss, but highly visible for things like Buff skills,

[2016-01-19 17:10] thediceofliars commented on #6551
Thank you very much for the swift reply!

On Tue, Jan 19, 2016 at 11:36 AM, Alys notifications@github.com wrote:

[2016-01-19 17:28] Alys commented on #5919
@joekatzman The problem described here of having different timezones on your devices really does cause cron to run more than once a day. It's not related to the way that cron runs only when you use Habitica (which has advantages over running cron at a specific time regardless of usage - for example, if you can't use Habitica for several days, you don't suffer from crons on all those days).

Buffs

[2016-01-19 17:33] SabreCat commented on #6509
I've been spending so much of my days on architecture and support that I haven't been coding as much as I'd like to, but I'd like to help out with this at least a little. Maybe some of the Quests stuff would be the right size.

[2016-01-19 17:58] paglias commented on #6509
@SabreCat just assign yourself to one of those items (or to all!) :)
@TheHollidayInn I'll assign you to the chat routes

[2016-01-19 18:23] librarianmage commented on #6494
Is the "Application Error" part an iframe? I get it occasionally, but I've never checked.

[2016-01-19 20:54] #5622 closed, assigned to nobody

[2016-01-19 22:24] lemoness opened #6555 "Collection Quest Art: Message in a Bottle and Moonstone Chain"
We have two new pieces of collection quest art to be implemented!

Message in a Bottle, by mako413:

![message_in_a_bottle_3x_zpspxgfati2](https://cloud.githubusercontent.com/assets/3494081/12433972/cfdd9392-beb8-11e5-92a5-7707b806fbdf.png)

Moonstone Chain, by eevachu:

![themoonstonechain_300p_by_eevachu-d9o91kw](https://cloud.githubusercontent.com/assets/3494081/12433879/67f46e54-beb8-11e5-99e0

[2016-01-19 23:55] Shipmaster001 commented on #6532
On Jan 18, 2016, at 4:06 AM, Alys wrote:

[2016-01-20 00:31] crookedneighbor commented on #6460
Closed with #6476

[2016-01-20 00:31] #6460 closed, assigned to nobody

[2016-01-20 01:16] rmkoske commented on #6544
I tried to follow the advice I got and ended up more confused than I expected.  I’m not sure if I made progress or made things worse.  Explanation and logs below.

**Updating node:**  I think I see where @KristianTashkov  is getting that I have the 0.37 version of node in the logs.  I tried to get node to tell me the version outside `npm start` and it said I had version 4.2.x (can't recall the las

[2016-01-20 06:56] tylernotfound commented on #6515
How would the wheelchair accessory work when paired with mounts? I'm not sure I see a scenario where a user is mounted, while on a wheelchair. So, would wheelchairs work as a mount section? It would give them room to grow with variations, as well.

I'm also willing to work on this, if @MikeFoden isn't already covering it.

[2016-01-20 07:05] UnexpectedMushroom commented on #5033
A favourites section up the top would be handy.

[2016-01-20 07:23] FruitsPonchiSamurai commented on #4252
Hi @Alys
The bug just happened again for our Dilatory Derby Quest to the same members of our group:
Fruit Punch Samurai	a76d9a36-ac2d-4f3c-96e8-fefaca16fba9
EmanonSuomynona	8cb48592-37f4-4925-a1fd-9b030f6d8619
Scylla	7666f19f-71eb-4247-8b17-7a2f2f113609
JennB	37635d5f-c9cb-4842-8c86-2a0be1263afa

This time it was especially odd because it wasn't a collection quest.

Thanks again!

[2016-01-20 07:36] Alys commented on #6515
@tylerxo Wheelchairs should be able to be used at the same time as mounts. It might look odd with some mounts, or it might look really cool in an interesting way. :) Each player can decide that for themselves.

I.e., wheelchairs should not be implemented as mounts.

[2016-01-20 07:47] KristianTashkov commented on #6544
Me and @crookedneighbor worked in the passed days to make vagrant and windows work better and we added a lot of changes, that's why you are seeing a different log. To fix the problem with the wrong node version, we are now installing node via [nvm](https://github.com/creationix/nvm).

Looking at your up script.. everything went bad, most of the dependencies didn't get installed and that's why ever

[2016-01-20 08:33] KristianTashkov commented on #6544
@crookedneighbor I made it work with a couple of [changes](https://github.com/KristianTashkov/habitrpg/commit/8ed46d6133f4a73ea994f85ad1af940b08d57856). I'm not sure if you need a subset of these to make it work or all of them (I'm really unsure about the increased memory, because I think that was needed for `api-v3` branches).
@rmkoske if you want you can cherry pick this commit and try it for yo

[2016-01-20 08:40] MikeFoden commented on #6515
I am working on this one at the moment @tylerxo but if I can't figure it out I'll handball it to you. :)

[2016-01-20 08:42] tylernotfound commented on #6515
Sounds good.

[2016-01-20 11:23] rmkoske commented on #6544
My git is definitely doing `clrf` line endings (I made a blind guess about which one would be best on my initial install and haven't done anything on a real project to discover it was a bad choice.) I see why it won't work here, and I'll change that.

I'm going to be struggling a little no matter what.  I want to take the path that makes me less of a burden and/or able to genuinely help faster.

[2016-01-20 12:09] KristianTashkov commented on #6544
The value comes from your desire to contribute and help, doesn't matter on what environment you are developing. We should try to find problems in the vagrant setup anyway and if you are willing to help, you can clear the way for future developers to setup the project more easily. I'm mentioning the Windows solution, so I give you hope and an alternative if you are giving up, because you can't get

[2016-01-20 14:16] Hydraaa commented on #6279
I seem to be having the same problem, can't leave party after "clearing Habitica data", refreshing, trying multiple browsers. In chrome (Version 47.0.2526.111 m) the console displays the same error as above after clicking leave party button:

Screenshot:
http://puu.sh/mCP4k/09ce649a21.png

For reference:
TypeError: Cannot read property '_id' of null
    at app-cd4a7de1.js:34
    at hb (app-cd4a7de

[2016-01-20 15:39] rmkoske commented on #6544
While I was reading up on what I need to do to ensure the `CRLF` settings change completely on my end, I discovered that it's possible to [set a repository-specific override of users' settings by using a `.gitattributes' file.](https://help.github.com/articles/dealing-with-line-endings/#per-repository-settings)

You all might have already decided that it's specifically not something you want, but

[2016-01-20 15:48] KristianTashkov commented on #6544
@rmkoske that's not a bad idea, since we have lint tests that rely on it and vagrant install scripts that crash without it. I'm all for it if the owners agree :)

[2016-01-20 15:55] rmkoske commented on #6544
One issue that I see is with it that not all applications respect .gitattributes (but of course, I closed that tab and can't find where I saw that, now.)

[2016-01-20 18:26] SabreCat opened #6559 "Show subscription end date on subscription page"
From an admin email:

We have that information in the user object, so it should be feasible to display it.

[2016-01-20 19:30] #6332 closed, assigned to nobody

[2016-01-20 19:30] #5148 closed, assigned to nobody

[2016-01-20 19:35] #5939 closed, assigned to nobody

[2016-01-20 22:15] keysmashes opened #6560 "Many images on front page have no alt attribute"
According to the [HTML spec](https://www.w3.org/html/wg/drafts/html/master/semantics.html#alt), every image must have an alt attribute, but most of the images on the front page don't.

I'm happy to write alt-texts for the images, but presumably they will need translating; is `common/locales/en/front.json` the right place for them?

[2016-01-20 23:46] TSalazargr opened #6561 ""Application Error" Error message"
I'm browsing habitica on chrome and I keep getting the following message: "Application Error
An error occurred in the application and your page could not be served. Please try again in a few moments.

If you are the application owner, check your logs for details."

[2016-01-20 23:47] tylernotfound commented on #6559
@SabreCat Is there a shortcut/helper in the local environment to generate fake subscriptions for testing this out?

[2016-01-20 23:53] Alys commented on #6560
`common/locales/en/front.json` is correct. I suggest that each string's key starts with a particular set of characters so that all alt texts can be clearly identified. `altAttr...` maybe (e.g., altAttrLifehacker), unless there's a different system that's already been applied for any alt attribtues.

Keep in mind this recommendation from the W3C: http://dev.w3.org/html5/alt-techniques/#sec5 -- pure

[2016-01-21 00:40] Alys commented on #6559
We should be cautious with this. The date shown is not always the start date of the CURRENT subscription. If the user buys a monthly subscription and then upgrades it to, for example, a three monthly subscription, I believe (we should check!) that the start date will NOT change and so it will not tell them when their subscription payment is next due.

[2016-01-21 02:27] rmkoske commented on #6544
I changed the `core.autocrlf` to `input`, and combined instructions from three places to [remove everything from the git index](https://help.github.com/articles/dealing-with-line-endings/#platform-all), then [replaced the local repository with the remote](http://www.ocpsoft.org/tutorials/git/reset-and-sync-local-respository-with-remote-branch/) and [updated my fork](http://habitica.wikia.com/wiki/

[2016-01-21 08:37] KristianTashkov commented on #6544
Firstly, you should probably post your logs as [gists](https://gist.github.com/), since this really makes the conversation unreadable with all the scrolling.

I would advice trashing the folder, because from your logs it seems the scripts are incomplete or at least not running as expected. After you clone the project you can check if your line endings are correct by opening a text file with multip

[2016-01-21 11:10] rmkoske commented on #6544
Re: gists:  I _knew_ there had to be a better way to post those logs. I'll do that.  Is it bad etiquitte to go back and edit the existing posts to fix them?

The rest is super-clear, at least for the moment. We'll see when I start working if I understand as well as I think I do. Thanks especially for the repo-location advice. I don't have any truely active repos, so moving it now is much easier th

[2016-01-21 11:37] Alys commented on #6279
@Hydraaa  I've removed you from the party. Please reload the site and tell me if it hasn't worked.

[2016-01-21 11:46] Alys commented on #4252
@FruitsPonchiSamurai I've fixed that for those four players. Please reload and tell me if it's still not right.

[2016-01-21 11:51] Alys commented on #6532
@Shipmaster001 If you're seeing items in your inventory that you don't recall getting, it's possible that you didn't see the notification. Do you always watch the app after ticking off a task for as long as it takes for all the notifications to appear? Try doing that for several days for every task, and check your inventory regularly.

[2016-01-21 11:55] Alys commented on #6552
@handlerbot I've given you the rewards from the Find the Cub quest.

@leingang Please give us the User ID for your account and anyone else who is missing the quest rewards. If you're not sure how to find your User ID, go to Help -> Report a Bug from the Habitica website and see step 6.

[2016-01-21 14:12] Hydraaa commented on #6279
It worked, thanks a bunch!

I hope what I posted was helpful, as well. Lemme know if you need any more info.

[2016-01-21 14:59] NicolasWebDev opened #6562 "Tags not visible when turning off the Header"
Hi,

When I turn the header off in FF 43.0.4, I don't have access to the tags list anymore (nor the search field for that matter).

[2016-01-21 18:39] SabreCat commented on #6559
@tylerxo: I think the only helper we've got is the migration `freeMonth.js`, which has two scripts (one commented out) you can use to create a subscription for a user. You can tweak that to the parameters you need for a given scenario, then run it against your local mongo.

[2016-01-21 21:00] SabreCat commented on #6509
Claimed the first one off the list. Hopefully by aiming small I can follow through OK :p

[2016-01-21 22:40] Ishmaeel commented on #4252
We caught this one again. Thanks in advance.

Quest: "Attack of the Mundane, Part 1: Dish Disaster!"
Group: 84895e1d-df4c-4af0-b72e-6187492edfd3

[2016-01-21 22:59] Alys commented on #6562
I can't replicate this in Firefox 43.0.4 on Mac OS 10.6.

@Sathors Can you please tell us your User ID? We'd like to be able to examine your exact settings to see if there's a particular combination that causes this. If you're not sure how to find your User ID, go to Help -> Report a Bug and see step 6.

Can you recall approximately when this bug first started?

[2016-01-22 02:21] stubbycorgi commented on #4252
Missing rewards for the entire group
Quest: "Attack of the Mundane, Part 1: Dish Disaster!"
Group ID: 84895e1d-df4c-4af0-b72e-6187492edfd3

[2016-01-22 15:18] NicolasWebDev commented on #6562
@Alys , my User ID is 3f6ce5ca-c64c-47ea-ad1c-22d75aaa0da4.
I am using Linux Mint 13.

Actually I created my avatar yesterday.
Now that I am toying a little bit with it, I realized that if the window is full-screen, then I see the complete menus above on two lines. The tags do not appear.
If I resize the window to half-screen, then the top menu takes up only one line, and now the tags/search bar d

[2016-01-22 15:55] rmkoske commented on #6544
Okay, I made another attempt at all this.
I totally trashed all my habitrpg repos, local and on github, and I deleted and moved the folder to higher on the filetree. I re-forked the repository and cloned it down to my new repository folder.  I confirmed that the line-endings are staying `lf` by looking at the readme in notepad.exe.  Then I added Kristian's fork as a second remote and cherry-picked

[2016-01-22 16:13] Alys commented on #6562
Could you show us screenshots of each case please? If you normally update
github issues by email, you'll need to go to the github website to add
images (drag into a new comment).

[2016-01-22 17:52] pjcunnin commented on #5649
I have a group invitation that won't go away. Any help would be greatly appreciated.
User ID: 0b6c9ca3-9d18-4cfc-96d8-b1af784a22cc
Group ID: c048bc89-c9c3-4871-ab18-e3680549f6a3

[2016-01-22 19:12] KristianTashkov commented on #6544
Welp atleast `vagrant up` ran correctly. On a side not all the necessary changes are committed in develop so you don't need my commit anymore, you just have to get the latest changes.

From the logs it looks like symlinks are not working on your system. Make sure you have `v.customize ["setextradata", :id, "VBoxInternal2/SharedFoldersEnableSymlinksCreate/vagrant", "1"]` in your `./Vagrantfile`. If

[2016-01-22 19:24] KristianTashkov commented on #6544
On a second viewing I saw this in your first log `npm ERR! Error: EPERM, rename '/vagrant/node_modules/node-forge'`. With some googling I found that _maybe_ your anti-virus is locking the files because they were just created and they can't be renamed by the install process... So maybe try making your antivirus not scan local files while you are installing :? [link for the thread I read about somet

[2016-01-22 19:41] rmkoske commented on #6544
Okay, I'll poke the antivirus and check `./Vagrantfile` too.

I'm thinking that if I need I fix either/both of those, then I start up the virtual machine and `ssh` in and then I just need to re-run `npm start`.  Yes? Or do I need to back further up the installation process to get everything in place?

Thanks so much for your help.  Clues for what to google help immensely.  Even if it can't be made

[2016-01-22 19:54] KristianTashkov commented on #6544
If you are missing the line I told you in the vagrant file I think you need to start from the beginning. If it's there just try stuff with the antivirus. Basically delete `./node_modules` every time and `npm install`. One clue that it's something with permissions and anti-virus or something similar is if every time a different modules crashes on renaming/deleting.

[2016-01-22 20:06] untonuggan commented on #6561
I am having the same issue, and it's repeated several times today. I'm running Mozilla Firefox on Fedora Linux.

[2016-01-22 20:44] wfischer42 commented on #6561
I've had that issue several times recently in Chrome. Here's my console screenshot:
![image](https://cloud.githubusercontent.com/assets/16843426/12522477/2f7c4e0e-c10e-11e5-93a9-ed089fd68db4.png)

UID: 9aeea38c-ccff-45ec-a22a-396a8bb35cd4

[2016-01-22 20:50] NicolasWebDev commented on #6562
Here is the "full-screen" case:
![First case](http://s14.postimg.org/5w9womk01/Habitica_Tasks_Pentadactyl_004.png)

Here is the "small-screen" case:
![Second case](http://s12.postimg.org/xfnvoguzx/Habitica_Tasks_Pentadactyl_005.png)

[2016-01-22 22:01] lordmatt opened #6568 "Error request entity too large"
Error triggered by attempting to join the challenge: https://habitica.com/#/options/groups/challenges/7fea221e-d48e-4a7d-ad66-9a81c87fc913

Error request entity too large.

[2016-01-22 22:42] SabreCat commented on #6509
I have tests almost done for /quest/invite. Could y'all smart people take a look at https://github.com/HabitRPG/habitrpg/pull/6565/files and share thoughts before I get into the route? There's one test I've commented that I'm not sure what the expected result should be, in particular.

[2016-01-22 22:47] TheHollidayInn commented on #6509
Awesome! I'll take a look in the next few minutes.

[2016-01-23 02:47] elocin910 commented on #6497
I'm having the same problem! Using Chrome on Mac 10.11.2, I get the 503 Service Unavailable message  on every page no matter the situation. I tried turning off adblocker and it didn't make a difference.

[2016-01-23 06:28] Alys commented on #6561
We restarted the server a few hours ago which should have prevented these errors for at least a while. I'm closing this but please comment here if they keep on happening for you and a single reload doesn't fix them.

[2016-01-23 06:28] #6561 closed, assigned to nobody

[2016-01-23 06:31] Alys commented on #5649
@pjcunnin I've deleted the invitation for you and the other two party members with the same problem, but please read the bold text at the top of this page, if you haven't already (in brief; the invitations are likely to reappear a few times but will stop after a few days).

[2016-01-23 11:38] Alys commented on #2380
There are no more gem-less Tavern challenges.

[2016-01-23 11:38] #2380 closed, assigned to Alys

[2016-01-23 14:16] leingang commented on #6552
Thank you for getting back to me.  I broadcast the message in our party chat and it seems that three people missed the challenge rewards:

| Name | User ID |
| --- | --- |
| ZauberFlotte | ca994ea3-d9a0-4e0d-ae85-30d32064d285 |
| Miranda Chavez | d6a68ff6-9ae7-4516-83c4-dfc622ab3234 |
| Tomtom9874 | dd00bdd0-d2c5-43ea-9c7a-c92a999c6aa4 |

[2016-01-23 17:29] Alys commented on #6562
Hi @shellbot. That would be great, thank you!

There's a recent change that might be relevant:
https://github.com/HabitRPG/habitrpg/pull/6404
It's possible that the values in website/public/css/variables/screen-size.styl might need tweaking.
However I haven't looked into this in any kind of detail, so that might be irrelevant.

[2016-01-23 20:54] Alys commented on #6568
@lordmatt Thanks for letting us know. This is a problem that occurs sometimes with popular challenges. We have it reported at https://github.com/HabitRPG/habitrpg/issues/1471 so I'm closing this now. Please see the text in bold at the top of that issue - in brief, it's sometimes a temporary error so if you try again it might work. If not, tell us.

[2016-01-23 20:54] #6568 closed, assigned to nobody

[2016-01-23 20:58] Alys commented on #6552
@leingang Thanks for collecting those IDs! I've given the quest rewards to those players.

[2016-01-23 20:59] #6552 closed, assigned to nobody

[2016-01-23 22:07] Alys commented on #4252
@Ishmaeel @stubbycorgi Rewards have been given to all party members.

[2016-01-23 22:16] eburcat commented on #5644
+1
I'm also running into this problem, subscribed to different guilds

[2016-01-24 12:50] Realorth commented on #4252
Hello there!! I seem to have the same problem as the first poster...
So 2 days ago I, the quest owner started "Dilatory Distress part 1: Message in a bottle" and last night we, only a majority of the party participated (more or less 17/22) finished the quest. But again, no rewards.
Another wierd thing that happened is that at my cron (02:00 am) I didnt find any quest drop... and I mean with that,

[2016-01-24 21:47] #6535 closed, assigned to nobody

[2016-01-24 23:41] mbaumanndev opened #6575 "Experience Points issue"
Hi !

I have an issue with my XP. I have 151xp/150xp.
Here is a screenshot.
![xp](https://cloud.githubusercontent.com/assets/499268/12539879/58d88ffc-c2fc-11e5-9ebe-7e65932d2a56.png)

[2016-01-25 00:00] allazaruniverse commented on #4252
Hello @Alys! Chrishaun Keller-Hanna here  and some of our party did not receive the rewards for the Night-Mare Quest:

My ID: d1e544e9-d0f1-4b2f-88a3-3f50d8bb8116

Group ID: c5787e63-cdcb-4936-9910-9e3d2408952d

The screen shots below show the team fighting as well as finishing the Quest. We have given the cron two passes (26 hours total). Could you look into it for us, please?

Please let me know

[2016-01-25 00:29] Alys commented on #6575
That's an example of this bug: https://github.com/HabitRPG/habitrpg/issues/2433 - see the text in bold at the top for an explanation. You will level up when you complete a task.

[2016-01-25 00:29] #6575 closed, assigned to nobody

[2016-01-25 02:59] pku2319 commented on #4252
Vice part 2: Find the Lair of the Worm

User id: 275add2f-77a0-4115-b217-3c55401414b4

[2016-01-25 09:51] Zelah-Meyer commented on #6296
I'm having the same problem with Internet Explorer 11.  It started off bugging out and giving me a little + cursor when I cast Tools of the Trade (even though it's not a skill that needs to be targeted) and not registering skill casts, or changes made to my task page after I hit sync (it would un-tick anything I'd ticked in the meantime, delete anything I'd added, etc.)

Now I get a page full of e

[2016-01-25 11:05] Alys commented on #6296
@Zelah-Meyer Please go to https://habitica.com/static/clear-browser-data in IE and click the button there. That will remove corrupted data that IE has stored. Let us know if it doesn't help!

[2016-01-25 11:17] Zelah-Meyer commented on #6296
Hi, thanks for that.  I had to try the link a couple of times before the button would work for me.  It eventually worked and logged me out, but when I log back in I still can't use it in IE, but I get a page with a different collection of errors to previously.  Before it looked like the one pictured with all the drop downs active - now I get this one:
![habit rpg error screen 25 jan 2016](https://

[2016-01-25 11:18] Alys commented on #6296
@Zelah-Meyer Could you please try that button again, and also user IE's built-in feature to clear cookies?

[2016-01-25 11:33] Zelah-Meyer commented on #6296
Still no joy, I'm afraid!  I get the same errored page as the one I just posted above.

It could well be IE just bugging out at my end.  So, don't worry if it's just me, as I can access the website via Chrome.  I mainly wanted to mention that it was playing up in case it was affecting other IE users (which you can probably tell from your website stats) - since I suspect that most people who report

[2016-01-25 12:26] AnnaFromPoland commented on #6497
did you try to turn off any possible -other- disconnecting plugins? if any? that _did_ help a bit in my case, now i see these errors uber rarely (and now only on chrome, ff behaves well with adblock and disconnect turned off on habitica).

it is also _quite_ possible that it’s because chrome and macs don’t mix so well - http://blog.getbatterybox.com/which-browser-is-the-most-energy-efficient-chrom

[2016-01-25 15:06] Kfearnley85 opened #6576 "Completed "Find the Cub" but did not get credited"
I purchased and started the "Find the Cub" Quest. I had one other party member join. Upon completing the quest she was credited for having completed the quest and was rewarded her polar bear. I have no credit showing that i completed the quest and I did not get my polar bear :(

2230253c-ffbb-4d41-83d2-009bcb5789c1

[2016-01-25 16:31] elocin910 commented on #6497
I've tried it with out any plugins and it still doesn't help. I'm going to be so disappointed if this doesn't get fixed.. I'm definitely not going to switch from using Chrome..

[2016-01-25 18:20] MagnusBardon opened #6577 "I did all my tasks yesterday (24/01/2016) but the system didn't save"
I could have died, and now my days in a row combos were reset

[2016-01-25 20:56] veeeeeee opened #6578 "Confirm name of user being booted from party"
When booting the party member, there is a confirmation screen, but no username present. It's hard to tell if you're booting the right person or not.
![screenshot 2016-01-24 17 48 40](https://cloud.githubusercontent.com/assets/5608909/12563644/2490642c-c360-11e5-8ff6-eeef3f4001e2.png)
I imagine booting activity doesn't happen too often, but fixing it so that the username of the player being booted

[2016-01-25 22:56] tylernotfound commented on #6578
I'll take a look at this one.

[2016-01-25 23:13] colwem opened #6580 "Can't feed pets"
When I click on a food then click on a pet it does nothing.  I might be doing it wrong but I seem to remember that this is how you feed your pets.

UID: 041abe75-7ebc-4e11-a32d-9d54f77d74f8
Browser: Google Chrome Version 47.0.2526.111 (64-bit)
OS: OS X Version 10.10.5

[2016-01-25 23:49] tylernotfound commented on #6578
@Alys how do you feel about this approach?

![image](https://cloud.githubusercontent.com/assets/977577/12568477/03a5fb80-c37b-11e5-9804-c0f32624937f.png)

This solution simply adds a header element under the action message, with the target's username. It skips the trouble of fussing with the translations. I was originally thinking of a solution like:

"Do you really want to remove **username** fro

[2016-01-26 00:25] Alys commented on #6578
I like that a lot! It will look better for long names than having them inline would, it also helps when booting multiple people because you can learn to ignore the question and focus on the name, and your point about translations is excellent.

However from a strict HTML standards point of view, it shouldn't be a heading. ;)  Just strong and large.

[2016-01-26 00:52] Alys commented on #6580
Did you get a popup in Habitica some time in the recent past, and you ticked a checkbox on it that said you did not want to see more popups? If so, that's what's stopping you feeding your pets - you need to do the confirmation step before the food will be applied.

That checkbox is a feature that your browser implements., not part of Habitica. To reset your browser's setting for it close and reope

[2016-01-26 00:55] colwem commented on #6580
Ah thanks, but that's still a bug.  Or at least it's really bad design and should be fixed.  Maybe use a JS popup rather than the native popup system.

[2016-01-26 00:55] Alys commented on #6580
Yes, we have a new design partially created.

[2016-01-26 00:55] #6580 closed, assigned to nobody

[2016-01-26 01:48] tylernotfound commented on #6578
Excellent, PR submitted.

[2016-01-26 02:30] Alys commented on #6577
@MagnusBardon I'm sorry about that! It sounds like you were affected by this bug: https://github.com/HabitRPG/habitrpg/issues/4313

There's an "Advice" section near the top that will help you recover from the unfair damage and losses.

If you have questions, comment here (even though I'm closing this now; we'll still see comments), or go to Help -> Ask a Question from the Habitica website's menu.

[2016-01-26 02:30] #6577 closed, assigned to nobody

[2016-01-26 03:40] kirbyblox commented on #6555
Just wondering, where are the quests? I'm new. Thanks in advance.

[2016-01-26 11:15] annamw opened #6584 "Party members have disappeared on my account but are still visible for everyone else"
I was added to the party of a friend while they were on a quest. After the quest was done, instead of being able to participate in the next quest, I couldn't see any of my quest members anymore. When I click on "Social -> Party" I show up as the group leader and the party is empty. My friend says she can still see me (she is the group leader).
In the Newbies Guild I was told to empty the cache of

[2016-01-26 11:16] Alys commented on #6576
Hi @Kfearnley85

I've given you the quest rewards. Reload if you don't see them immediately. Comment here if there's still a problem after that.

If it happens for future quests, you can comment on https://github.com/HabitRPG/habitrpg/issues/4252

[2016-01-26 11:16] #6576 closed, assigned to nobody

[2016-01-26 11:31] Alys commented on #6584
Your b35f53d6-739f-478f-810e-1be317d8104d account (profile name _kleine_anna) is in a party with no one else - probably a party that you created (perhaps inadvertently), rather than your friend's party.

If your friend still sees you in her party, then either she is seeing old information, or you have two Habitica accounts. There is also a small chance that you have one account that is in two part

[2016-01-26 11:42] Alys commented on #4252
@Realorth and @pku2319 I've fixed that for you. Reload if you don't see the changes straight away.

@allazaruniverse I've given the quest rewards to Chrishaun Keller Hanna and Eiskaltes Händchen
who are shown as having participated in the quest but who did not have the quest achievement.

[2016-01-26 12:12] Realorth commented on #4252
Thank you so much! all good for me :)

[2016-01-26 13:30] KristianTashkov commented on #6544
@rmkoske Did you find time and make it work?

[2016-01-26 15:13] sethscolex opened #6585 "No Reward for Ride the Night-Mare quest"
Hello, my party "We got this" completed Ride the Night-Mare quest. I didn't get any reward, but i heard it takes time so i waited. Anyway it's been three days and still zilch. In our party log we had:
"You defeated Night-Mare! Questing party members receive the rewards of victory. -3 days ago+1"

personal id:9a6005b6-67f5-4914-86e0-8f3de6afc4b5
group id:c5787e63-cdcb-4936-9910-9e3d2408952d

[2016-01-26 16:56] rmkoske commented on #6544
I'm still hacking at it, but no, I haven't made it work.  I am starting to get discouraged, and that means testing has slowed down because I don't want to stay up late for it anymore.  :unamused:

I'm getting a different module failing most times, though there have been some repeats.  I don't have the list handy, but I've finally systematized saving the logs, so I could produce one if it would hel

[2016-01-26 17:03] rmkoske commented on #6544
Oh, and I do delete the `./node_modules` folder when I try, as you recommended.

I might try updating VirtualBox to the latest version as you mentioned.  I'm trying to be systematic and so I haven't done that yet.

[2016-01-26 19:08] KristianTashkov commented on #6544
Ugh sorry you are still having issues with this. If you have no program (like anti-virus, open cmd window in the folder, explorer window in the folder, dropbox) that can somehow lock the files and interrupt vagrant's process I guess I'm out of ideas. You can try with the newest virtual box, but from what I have been reading this is still an issue with virtual box.

You can probably make `npm start

[2016-01-26 19:52] rmkoske commented on #6544
@KristianTashkov This is where I feel bad for you guys trying to help me.  You say, "explorer window in the folder" and I facepalm. :flushed:   I'm pretty sure I've been keeping a third-party explorer program focused on that folder for most of the installs I've tried.  I feel like I shoulda had a clue that this would be a problem, but I never thought of it.  I don't know the stupid stuff I'm doing

[2016-01-26 20:37] AxelDornelles opened #6588 "Got in the inn yesterday and still lost health"
As says the title, I got in the inn yesterday but lost health and even died today morning, losing a hige amount of money and when I had more than half the experience needed for the last level.
My party is taking part in absolutely no quests and, in fact, we haven't done so in the last 3 months.
I have played Habitica for a long time and that haven't happened in a long time.
Why did that happen?
Wh

[2016-01-26 21:06] KristianTashkov commented on #6544
Don't worry, it's a shot in the dark anyway :) Generally speaking it has to be a very bad explorer program to lock your files but.. who knows.

[2016-01-26 21:26] Alys commented on #6588
I'm sorry about this! I know how frustrating it must be! What would have
happened is that your browser recorded that you wanted to rest in the inn
and showed that you were, but it did not send that information to
Habitica's server, so when cron ran, it did not know that you were supposed
to be resting. It's an instance of this bug:
https://github.com/HabitRPG/habitrpg/issues/4313  There's an advic

[2016-01-26 22:28] rurupoisson commented on #4252
Hello! We finished the **Find the Cub** quest 5 days ago and some of our party members did not receive the rewards. Would you be able to help us?

**User IDs:**
b389ae1a-0330-4fc4-801c-e379c2ffac7b
3a94ba51-73de-4934-bea1-5e97ee92c5e4
305b223c-2865-495a-bfe9-4bab0c56014a
9f334c02-c04c-455e-9893-705fcd05d617
8f95cef0-45b5-4f19-aaaf-e89eac11c15f

![quest](https://cloud.githubusercontent.com/assets/1

[2016-01-26 23:10] Alys commented on #4252
@rurupoisson Rewards have been given to those players. They should reload if they don't see them immediately. Tell us if there's still problems after that.

[2016-01-26 23:13] sethscolex commented on #4252
Hello, my party "We got this" completed Ride the Night-Mare quest. I didn't get any reward, but i heard it takes time so i waited. Anyway it's been three days and still zilch. In our party log we had:
"You defeated Night-Mare! Questing party members receive the rewards of victory. -3 days ago+1"

personal id:9a6005b6-67f5-4914-86e0-8f3de6afc4b5
group id:c5787e63-cdcb-4936-9910-9e3d2408952d

Thank

[2016-01-26 23:13] #6585 closed, assigned to nobody

[2016-01-27 02:33] rmkoske commented on #6544
I got a little less systematic tonight - I changed two things at once.  In addition to previous changes, I made sure the file explorer was not focused on the folder, and I ran `npm cache clean` as per [this link](http://codebetter.com/glennblock/2012/02/27/my-tale-of-npm-woe-when-all-else-fails-clear-you-cache/).

The result looks very different from [what I was getting before.](https://gist.githu

[2016-01-27 07:03] KristianTashkov commented on #6544
Great success! This is the expected error you should be receiving from the first `npm install`! Run it again and you should be all setup :) I was the only one reproducing this two npm install behavior, but if it turns out you have it two, I will put it in the wiki, so it doesn't confuse new collaborators. :) Thank you for not giving up!

[2016-01-27 08:22] oktayacikalin opened #6592 "Subscribing via Stripe after having subscribed via PayPal gift subscription workaround"
I've subscribed via the PayPal gift subscription workaround, which covers me until the 30th of December. Now I've seen, I could also use Stripe.

What will actually happen, if I subscribe annually via Stripe now? :)

[2016-01-27 09:10] dalmationer opened #6593 "Can't log in at all!"
On the main page, all that happens when I attempt to log in is the little bar at the top slowly fills, then when it's finished, absolutely nothing happens.
I've tried loading the site on both chrome and firefox, to no avail! Oddly, this only seems to happen on my laptop, not on any other computer.

I will update this with my specs later.

[2016-01-27 10:58] Alys commented on #6593
On both of those browsers, clear your cookies and then go to https://habitica.com/static/clear-browser-data and click the button there. Does that help?

[2016-01-27 11:03] Alys commented on #6592
When you create a second subscription, it starts at the moment that the old subscription ends. If anything goes wrong with that process, you can log a bug report and we'll fix the problem.

I'm closing this now since it sounds like nothing is wrong yet, but if I'm mistaken, we can reopen this. You can also comment here if you have follow up questions. We'll see them even when this is closed.

In g

[2016-01-27 11:03] #6592 closed, assigned to nobody

[2016-01-27 11:31] emilysrisa opened #6596 "Can't add people to my party"
I am not able to add anyone to my party via email or their unique code. I am able to click on "invite, " which then allows me to add a friend's email address, however nothing happens after that. Thanks!

[2016-01-27 13:08] KristianTashkov commented on #6509
@paglias sign me up for the remaining two challenge tasks

[2016-01-27 13:13] paglias commented on #6509
@KristianTashkov the tests for create and select winner routes?

[2016-01-27 14:25] rurupoisson commented on #4252
@Alys Thanks so much for the quick fix! :)

[2016-01-27 15:46] Kiphen commented on #5428
I'm seeing the same issue in Edge on Windows 10 Mobile, build: 10.0.10586.63

When I tap on the Facebook login the page will refresh and not log me in.

[2016-01-27 16:08] rmkoske commented on #6544
@KristianTashkov, I was so excited when you said this!  First I danced around the breakfast table, then I rushed upstairs for some morning work on it (which I normally don't do).

Then I ignored that you said "just run npm install again" and messed myself up.  Gah.  My reasoning was that I had shut the vm down so I wasn't sure that just running install made sense and I figured that a successful in

[2016-01-27 16:49] AxelDornelles commented on #6588
Thank you very much, Alyss!
That solved my problems perfectly and further informed me to avoid future
inconveniences.
I also plan to use the correction tool to supply myself with more funds in
order to recover the equipment lost in the process without, of courser,
sabotaging myself by adding more than the strictly necessary.
Em 26/01/2016 19:26, "Alys" notifications@github.com escreveu:

[2016-01-27 17:50] allazaruniverse commented on #4252
Thanks so much, @Alys!

On Tue, Jan 26, 2016 at 5:42 AM, Alys <notifications@github.com> wrote:

[2016-01-27 18:11] SabreCat opened #6597 "Concern with case-sensitive usernames, given mobile environment"
From an admin email:

UPDATE: For the method of fixing this, see this comment below from @paglias : https://github.com/HabitRPG/habitrpg/issues/6597#issuecomment-176721894

[2016-01-27 19:51] vinsonizer commented on #5182
Should this issue be closed?

[2016-01-27 20:02] keysmashes opened #6598 "Quest confirmation modal doesn't respect leaving party"
If a party you're in starts a quest, the next time you log in you get a message asking if you want to accept said quest; if you click 'ask later' and then leave the party, the message will pop up again, even though you're no longer in the party.

_edit by admin:_
### What to do if this happens to you:
##### You or any member of your new party can use any quest scroll to start a new quest (and then

[2016-01-27 22:28] breebrouwer opened #6601 ""Sticking to Your Resolutions: 2016" challenge task won't remove itself"
Hey, there,

I joined the Sticking to Your Resolutions: 2016 challenge last week, and then after deciding I didn't like the tasks it was bringing up, I left the challenge. Now, however, there was one task that wasn't removed: "Joined/left a guild." I tried re-joining the challenge, adding the challenge's tag to the task, and then leaving the challenge a second time. The task is still there, and I'

[2016-01-28 00:07] sntk opened #6602 "Android App: Invalid App ID: CHANGE_ME"
Sign In with Facebook is broken on Android, it however works just fine on iOS. The Facebook error is "Invalid App ID: CHANGE_ME" ;)

Android Version: 0.0.25

![screenshot_2016-01-28-08-04-33](https://cloud.githubusercontent.com/assets/951859/12632844/27e597d0-c529-11e5-8d51-0e856ae135cb.png)

[2016-01-28 04:50] giuz09 commented on #5465
Hi!!! really for the description bug??

**Which language HabitRPG uses for you.** Spanish
**Where on the site the message appears.** in the page of habitica tasks -> Rewards: Description of "Túnica de médico" (medical tunic)
**What you clicked on (if anything) that caused the message to appear**. I used the application for android to buy a reward chest but in the next rewards ("Túnica de médico",

[2016-01-28 04:54] giuz09 commented on #6515
OMG! good job!

[2016-01-28 05:07] kraom opened #6603 "try to install the cordova in in mac os x yosemite am i getting the error "npmconf@2.1.2: this package has been reintegrated into npm and is now out of date with respect to npm.""
npmconf@2.1.2: this package has been reintegrated into npm and is now out of date with respect to npm

help me

[2016-01-28 05:27] kraom opened #6604 "cordova install error?"

[2016-01-28 09:15] Alys commented on #6601
@breebrouwer I've removed the task for you. If it happens with other challenges in future, see "Deleting a Challenge Task" in the wiki's Challenges page at http://habitica.wikia.com/wiki/Challenges

[2016-01-28 09:15] #6601 closed, assigned to nobody

[2016-01-28 09:22] Alys commented on #6597
_EDIT: This comment is wrong (see later comments for why)._

@paglias There's no longer any need for logging in to treat the username case-sensitively, is there?

Unless you say otherwise in the next day, I'll advertise this in Aspiring Coders. It should be a fairly simple matter of using `auth.local.lowerCaseUsername` in `api.loginLocal` in `website/src/controllers/api-v2/auth.js`  (and at the sa

[2016-01-28 09:24] Alys commented on #6596
Please log out of Habitica, close all browser windows, reopen your browser, delete cookies, and then go to https://habitica.com/static/clear-browser-data and click the button there.

Does that fix the problem?

[2016-01-28 10:25] paglias commented on #6597
@Alys I don't remember exactly if there are still some duplicates with different casing and so some duplicates is lowerCaseUsername. If there aren't then for me it's :+1:

[2016-01-28 10:30] Alys commented on #6597
I'll do a final check of usernames and if it's all good, I'll post to Aspiring Coders.

[2016-01-28 12:14] solariaus opened #6605 "Dailies charting like habits, showing progress as negative numbers, making task turn red"
All of my dailies started showing progress like a habit (with a graph charting history), and two of the dailies started counting each check-off alternatively as a negative value, which means my trend streak is negative and turning the daily red as time passes.

Additionally, the difficulty of all my dailies was reset to Medium overnight, though I've since manually reset all the dailies.

My user i

[2016-01-28 12:17] Alys commented on #6605
Could you please show us a screenshot of that? Note that to add a screenshot to a GitHub issue, come to this page (https://github.com/HabitRPG/habitrpg/issues/6605 ) and drag the image into a new comment (attaching it to an email won't work).

If you don't want to have your tasks displayed here, then please email the screenshot to admin@habitica.com and include this URL: https://github.com/HabitRP

[2016-01-28 12:32] Alys commented on #6597
Ugh, no, we do still have duplicates. Quite a lot. The lowercase checking is only for creating new accounts; it can't be used for logging in because then a bunch of people would lose access to their accounts.

We were going to fix this in the long term by removing usernames and using just email addresses for logging in. I still think that's the best approach, although we might be able to do some s

[2016-01-28 13:40] jpazniokas opened #6606 "Extra crons when finishing, starting quest on same day"
This seems fairly minor, because the damage done is usually very minimal, but in case it's been noticed by others:

On the (rare) days when we are so on-the-ball that we start a new quest on the same day that we completed the last one, one party member usually triggers a spurious cron in the middle of the day, or so it appears from the party chat.

As an example: yesterday, we finished the Kraken

[2016-01-28 15:02] hartopoangeline commented on #6561
got this too. Im on safari, macbook pro

![screen shot 2016-01-28 at 9 55 56 pm](https://cloud.githubusercontent.com/assets/16939963/12648078/cff685b0-c60a-11e5-998f-7dd5afb65b8c.png)

Yikes, an error occurred! Please reload the page, your last action may not have been saved correctly.

"Error

s, please report it at Help > Report a Bug. If you're familiar with your browser's console, please inclu

[2016-01-28 15:23] deadmonkies opened #6607 "Double invited to party, application errors on party page"
I was invited to join a party with a group of friends and got several application errors during signup and joining the group. I've logged out and logged back in, tried different browsers and different computers. Now, when I view the party screen, it shows me as both a member of, and also invited to this same party. I cannot decline the second invitation or I get an application error. If I accept t

[2016-01-28 15:52] paglias commented on #6597
@Alys your last suggestion looks reasonable. I hoped we would be able to migrate to lower case only logins at some point: when we have duplicates like uSer1, User2 and usEr3 we could take the most recently used and transform it to the lowercase version and then changing the others two sending them an email with the new username. But I realize that if someone used an invalid email then it would be

[2016-01-28 16:10] Alys commented on #6597
There's no guarantee that duplicates are all owned by the same person and there's very many of them. Trying to remove them would be nightmarish.

[2016-01-28 16:17] Alys commented on #6607
I've removed the invitation but please see the text in bold at the top of this issue: https://github.com/HabitRPG/habitrpg/issues/5649

[2016-01-28 16:17] #6607 closed, assigned to nobody

[2016-01-28 16:20] paglias commented on #6597
I didn't meant that they are owned by the same person just that we could keep the most recently used one and force a change on the others using a script

[2016-01-28 16:23] Alys commented on #6606
This doesn't necessarily indicate a problem. Even though her cron happened at the middle of the day for you, it could have been early in the day for her. The fact that she caused only 0.9 damage to the party indicates that she'd done almost all her Dailies, so it looks like a normal cron. Doing 0 damage to the boss just means that the quest started after she'd finished her tasks for the day.

Plea

[2016-01-28 16:25] Alys commented on #6588
@AxelDornelles Thanks for letting us know!

Good idea to give yourself gold for the lost equipment too!

[2016-01-28 16:25] #6588 closed, assigned to nobody

[2016-01-28 16:39] lightlines opened #6608 "Accepted a quest, using skills, but not a participant?"
Hi,

I hope I'm reporting this right. I was invited to join a party, which I accepted, and have been casting skills (?) for the party, which show up, but my dailies aren't doing damage and nothing like 'username did x damage to the boss' is coming up? In the app, I'm a participant, but in browser I'm just a member. What do I do?

Thanks!

[2016-01-28 16:39] jpazniokas commented on #6606
Oh, interesting.  I thought that the boss damage was calculated just at cron.  I didn't know there was a concept of "before/after the quest started," within the same day.  Good to know.

That said, she should have had a cron earlier in the day, when she logged in.  Right?  She had to have logged in to accept the new quest.  There's no party-chat log of her cron, because it happened after my quest-

[2016-01-28 16:46] Alys commented on #6608
We'll need to be able to identify your account and the party to help you with this. Please go to Help > Report a Bug and see step 6 of the instructions.

[2016-01-28 16:47] lightlines commented on #6608
Apologies, I read that and then forgot to put it in! 4faa74d6-061e-4384-bb9b-a9c139ef06e2 is the User ID. I'm using Chrome/the latest iOS

[2016-01-28 16:48] Alys commented on #6597
Ah, sorry, but even so, I don't think it's manageable. Too many users to contact, too much chance of not being able to reach some and having them locked out of their accounts. Also, some would be annoyed about their names being changed. There's no real reason to keep usernames when people can log in using their email addresses. Getting rid of usernames has the bonus of removing the confusion betwe

[2016-01-28 16:54] Alys commented on #6561
@hartopoangeline I've restarted the server which should stop the errors.

[2016-01-28 16:56] Alys commented on #6608
No worries. :)  You actually aren't a participant of the quest. The quest owner must have started the quest before you could accept the invitation, or you joined the party after the quest had started.

The quest owner can, if they wish to, abort the quest. The scroll will go back into their quests page and they can use it to restart the quest. They should not click the "begin" button on the quest

[2016-01-28 16:56] #6608 closed, assigned to nobody

[2016-01-28 17:00] berriganator commented on #6497
I am also having trouble with very very slow registering of any type of activity, and also reload errors. But I am using Firefox on Mac, not Chrome.

[2016-01-28 17:01] lightlines commented on #6608
Thanks! That's so odd - I accepted the invite before the quest started :( I've sent the screenshots to that email; it says '2' participants - I clicked on it and there are 7! Odd bug.

Thanks for your help.

[2016-01-28 17:11] breebrouwer commented on #6601
Thanks, @Alys! I didn't check trying to delete via mobile, but I had already tried waiting a day to see if I had the option to delete the task and I simply didn't.

[2016-01-28 17:11] SabreCat commented on #5182
Ahyes! I thought GitHub would have closed it automatically, but maybe the # tag wasn't in the right place.

[2016-01-28 17:11] #5182 closed, assigned to nobody

[2016-01-28 17:13] vinsonizer commented on #5182
No problem.  Perhaps on my next one @crookedneighbor won't have to re-write most of my tests.

[2016-01-28 17:57] colegleason opened #6609 "Usernames with periods are not-taggable"
I am in a party with a member called "loop.rw". Trying to type "@loo..." does not result in his name showing up in autocomplete (only mine).

I have not dug deeper to confirm the cause, but I suspect it is failing because of the period.

[2016-01-28 18:53] ninetyd commented on #4252
Hi!
I didn't get any rewards for Find the Cub. Here's my User ID: 97e0905f-cafa-44bd-848d-4816b24b5b4b.

[2016-01-28 18:56] berriganator opened #6610 "Slow server updates causing perpetual errors"
I am Firefox 43.0.4 on a Mac. Habitica has been really slow and frustrating to use for some time now, and it has gotten worse in recent weeks. I have to wait for the the blue server update bar to finish loading to do anything. If I start adding a checklist item or checking off a task in the middle of refresh, it will abort my current activity and I have to start over. It is most noticeable when I

[2016-01-28 20:20] Alys commented on #6606
@jpazniokas Boss damage is calculated only at cron. When you see a boss damage message, that person definitely cronned at that time.

"She had to have logged in to accept the new quest." -- Yes. However that doesn't mean she cronned then.

When she crons depends on what her Custom Day Start time is (midnight is the default but she could have changed it to anything else) and what timezone she's in.

[2016-01-28 20:46] Alys commented on #6605
Sanitised screenshots that were emailed to us:

![8a649af5f47a3edd745c05b9073ed988cee7ff1e](https://cloud.githubusercontent.com/assets/1495809/12658301/ee57596e-c653-11e5-8185-52d237b2965b.png)
![8a1d9c4c22757166acb4f34509a99b03c46239ca](https://cloud.githubusercontent.com/assets/1495809/12658302/ee59d586-c653-11e5-9f24-bd809e05399c.png)

[2016-01-28 20:56] Alys commented on #6605
@solariaus Dailies are meant to have those progress graphs, because they have values that change over time. Dailies are also meant to have negative values if they haven't been actioned often enough for them to turn orange.

Is the problem that you think the Dailies shouldn't be orange? Have you been marking them as completed EVERY day? If so, you're being affected by this bug: https://github.com/H

[2016-01-28 21:06] Alys commented on #6608
That is odd. Could you please check your User ID on the app? If it's not the same as 4faa74d6-061e-4384-bb9b-a9c139ef06e2, please let us know what it is. On Android, you can see it at Settings > Account Details. I'm not sure where it is on iOS but it should be somewhere similar.

[2016-01-28 21:12] Alys commented on #6609
I think the autocomplete reads from players who have posted to chat. Has that person posted any messages recently? Or any at all?

I've just tested in the Tavern and autocomplete worked on a name with a . in it.

[2016-01-29 00:35] colegleason commented on #6609
Nope, that's the problem. Please excuse my ignorance.

On Thu, Jan 28, 2016, 4:12 PM Alys notifications@github.com wrote:

[2016-01-29 00:52] Alys commented on #6609
I wouldn't call it ignorance! It's not an obvious thing. :)

[2016-01-29 00:52] #6609 closed, assigned to nobody

[2016-01-29 02:13] rmkoske commented on #6544
### Success!

@KristianTashkov - it's up!  :dancers:

Notes for posterity about what I did (I'm not sure which of these steps are actually relevant, and most of them are not special):
- Be sure antivirus is off.  I also set an exception for the repository folder so that the antivirus would ignore it even if it was somehow running.
- Be sure to run bash and pre-start Virtualbox with admin permissio

[2016-01-29 07:58] keysmashes opened #6613 "Quest invite refuses to go away"
Every time I reload Habit, the quest invite modal pops up. Regardless of what button I press, the next time I reload it pops up again. I've tried clearing local storage/cookies with the 'clear browser data' page, but nothing changed. There are several JS errors, which I'll post below.

Before pressing 'reject':

![image](https://cloud.githubusercontent.com/assets/9433472/12670130/dece194c-c65d-11e

[2016-01-29 07:59] KristianTashkov commented on #6544
Great! Good job on sticking it until the end :)

If you got `TypeError: Cannot read property 'ObjectID' of undefined` at some point that's the expected error and it's fixed with the second `npm install`. From the whole experience I think you have some timing issue on your machine that sometimes locks the fails, and sometimes releases them on time.
Does `npm test` work fine?

As for what you can do

[2016-01-29 10:29] confuser opened #6616 "PayPal Subscription callback request hanging"
Trying to subscribe to the 12 month option through PayPal.

However, after agreeing to the subscription on PayPal, it appears to hang on a request to `https://habitrpg.com` until it eventually times out.

[2016-01-29 11:19] Alys commented on #4252
@sethscolex @ninetyd I've fixed that for you. Reload if you don't see the changes straight away.

[2016-01-29 11:22] Alys commented on #6613
I've deleted the quest invitation. Comment here if it comes back.

[2016-01-29 11:22] #6613 closed, assigned to nobody

[2016-01-29 11:31] Alys commented on #6616
Sorry about this!

If PayPal has taken the payment from your account, please forward the receipt to admin@habitica.com and include the link to this issue: github.com/HabitRPG/habitrpg/issues/6616 . If you didn't get a receipt, email us anyway and tell us which email address you use to log in to PayPal. Please also include your User ID (see step 6 of Help > Report a Bug).

If the money hasn't been

[2016-01-29 12:03] paglias commented on #6597
@Alys I get you point especially if we want to drop usernames.

I'd go this route:

[2016-01-29 12:12] keysmashes commented on #6613
Cleared local storage again and it's gone! Thanks :)

[2016-01-29 13:21] hartopoangeline commented on #6561
thank you :D:D

On Thu, Jan 28, 2016 at 11:54 PM, Alys notifications@github.com wrote:

##

_Regards,_

Angeline H.
Universitas Pelita Harapan
Visual Communication Design Student, 2012

[2016-01-29 14:10] jpazniokas commented on #6606
Sorry, I didn't respond to that conjecture: same timezone.  (Same house, actually.  Same room.  She's my wife.)

[2016-01-29 14:12] rmkoske commented on #6544
I don't know if `npm test` works because I haven't tried - what happens after the install seemed too remote to read about before now. Tonight/this weekend I'll do that and work at understanding what I can help with and how to go about doing that.  I'm so excited!

[2016-01-29 14:12] #6544 closed, assigned to nobody

[2016-01-29 16:16] ninetyd commented on #4252
Thank you, @Alys!

[2016-01-29 20:15] rmkoske commented on #6602
I dropped a mention of this issue over at the [HabitRPG - android](https://github.com/HabitRPG/habitrpg-android/issues) issues list.  It seemed related to an existing issue, so it's [here](https://github.com/HabitRPG/habitrpg-android/issues/395).

[2016-01-29 20:18] SabreCat commented on #6602
Fixed with the 0.0.25.1 update!

[2016-01-29 20:18] #6602 closed, assigned to nobody

[2016-01-29 20:41] confuser commented on #6616
All sorted. Thanks :+1:

[2016-01-29 20:41] #6616 closed, assigned to nobody

[2016-01-29 22:23] ZahRey opened #6618 "Gold to Gem Conversion Cap Not resetting"
Just realized my Gem cap did not reset to 20 in the first 3 days of January. I'm assuming this happened because I haven't purchased all 20 Gems that were available at the time until after the 3rd.

Couldn't find this issue listed already elsewhere, but I hope this isn't a redundant Issue post. Thanks so much!

ID: 42beb3ec-916a-470c-987e-e6517c39fcac
Browser: But the issue persists on the app as w

[2016-01-29 22:45] Alys commented on #6618
@ZahRey Could you please give us some more details about this part: "I'm assuming this happened because I haven't purchased all 20 Gems that were available at the time until after the 3rd." I'm not sure I understand what happened there.

[2016-01-29 23:59] ZahRey commented on #6618
It's honestly just a guess at what the issue might be. The tooltip says
that the Gem Cap is supposed to reset with the first three days of the new
month. It did not. I was positing that this may have happened because the
system didn't register as needing a reset because gems were still available
for purchase on the 1st, 2nd, and 3rd of the new month. Not all 20 were
available, but however many I h

[2016-01-30 00:38] annamw commented on #6584
Dear Alys, thank you for your help! I contacted my friend but sadly she told me she stopped using habitica in the last few weeks, so I just left the party that I was in by myself - maybe I'll be able to convince my friend to come back to habitica and see if we still have the same problem, or I'll find a new party alltogether. Sorry for using up your time!

[2016-01-30 00:48] Alys commented on #6584
That's okay! Thanks for letting us know. Good luck with finding a party!

[2016-01-30 00:48] #6584 closed, assigned to nobody

[2016-01-30 00:51] Alys commented on #6618
So at the end of last month, you had about 3 gems left from December's allotment. There were still three gems available on the 1st, 2nd, and 3rd of January, and also on the 4th, 5th etc until you bought those last three gems. Is that all correct?

[2016-01-30 01:07] ZahRey commented on #6618
Right, and since I bought them there have been none available to buy.

On Fri, Jan 29, 2016 at 4:51 PM, Alys notifications@github.com wrote:

[2016-01-30 01:21] Alys commented on #6618
I've reset your number of gems bought to zero. If you don't have time to earn enough gold to buy them before the end of the month, you can use Fix Character Values (http://habitica.wikia.com/wiki/Fix_Character_Values ) to give yourself a loan or gift.

The system should definitely reset the gems bought even if there's some remaining from last month, with those remainders disappearing when the rese

[2016-01-30 01:33] ZahRey commented on #6618
Absolutely.  And if it's easier, I will email you in this thread on either
the 4th or whenever the reset happens to update you on what happens. Thanks
so much!

On Fri, Jan 29, 2016 at 5:22 PM, Alys notifications@github.com wrote:

[2016-01-30 03:25] Alys commented on #6618
Thank you! It would be interesting to hear what happens from your point of view.

[2016-01-30 06:42] melodiesonmusic opened #6619 "Disappearing dailies"
Whenever I save a daily after editing it, it disappears. I can't find it under any of the tabs, but it shows up in my data display tool.

[2016-01-30 06:58] Alys commented on #6619
Click the tag's "clear" button and delete any text that might be in the search box above the Rewards column. Do all your tasks appear now?

[2016-01-30 07:00] melodiesonmusic commented on #6619
Yes! They do.

Thank you :) I feel silly and relieved now

On Sat, Jan 30, 2016 at 1:58 AM, Alys notifications@github.com wrote:

[2016-01-30 07:20] Alys commented on #6619
No worries. It's not an uncommon question. :)

[2016-01-30 07:20] #6619 closed, assigned to nobody

[2016-01-30 09:29] KristianTashkov commented on #2523
Okay so I have been thinking about this and propose this:
- If you receive a buff and you have no pending cron to be ran on your next interaction, the buff is applied directly. This will cover the normal buffing scenario throughout the day and also you can cast CON on someone when they are away and still work for their next cron.
- If a user has a pending cron, store the buff in a pending buffs fi

[2016-01-30 09:49] Olia1 opened #6620 "issues posting Challenge in Party - player is in two parties at once"
dear tech support,

I'm trying to create a Challenge in my party (92cc50af-96bb-4b95-9871-71db926f224b) but in the list of options as to where to create the challenge, only my old solo party HardMode shows up. this has occured once before, and Alys had fixed it somehow.. but I don't remember how she did it. :(

[2016-01-30 09:50] Alys commented on #2523
@KristianTashkov Can you give some details about what you mean by "you have no pending cron to be ran on your next interaction"? Does that mean if the buff is cast before your Custom Day Start time?

[2016-01-30 09:52] Alys commented on #6620
Can you tell us your User ID please? If you're not sure how to find it, go to Help > Report a Bug and see step 6.

[2016-01-30 09:54] Olia1 commented on #6620
3f6a57c5-9321-408b-8ed6-db58dde1ad5a

[2016-01-30 10:05] Alys commented on #6620
Thanks! This is very exciting because it's evidence of a rare bug. :) Your account was in two parties at once which is not supposed to be possible.

I've removed you from your Hard Mode party, which should fix your challenge problem and any other party-related weirdness you might have been experiencing. Comment here if anything is still odd, but I don't think it will be.

For our reference, these

[2016-01-30 10:11] Olia1 commented on #6620
it works now, thanks Alys! :)

[2016-01-30 10:16] #6620 closed, assigned to nobody

[2016-01-30 10:28] Alys commented on #6606
Please ask her to post here and include her User ID and the party's Group ID (to learn how to find them, she can go to Help > Report a Bug and see step 6). To help with this we'd need to examine her account and talk to her about it.

[2016-01-30 10:29] Alys commented on #6596
@emilysrisa I'm guessing this is fixed since you haven't replied, so I'm closing this, however if you're still unable to add anyone to your party after trying the steps from my previous post, please comment here and we'll reopen it and keep helping you.

[2016-01-30 10:29] #6596 closed, assigned to nobody

[2016-01-30 10:30] Alys commented on #6604
I'm assuming this was opened by accident so I'm closing it. If you need help and it's not related to https://github.com/HabitRPG/habitrpg/issues/6603 comment here and we'll reopen this.

[2016-01-30 10:30] #6604 closed, assigned to nobody

[2016-01-30 10:37] Alys commented on #6603
Is this for working on the old HabitRPG mobile apps? They did use PhoneGap, now called Cordova, so I think that's what you're referring to. If so, please be aware that those apps are no longer supported and we aren't doing any more development on them, nor accepting code contributions.

We have two native apps now, with the source code available at https://github.com/HabitRPG/habitrpg-android and

[2016-01-30 10:39] Alys commented on #6610
I'm sorry about the delay in replying.

How many tasks do you have? The easiest way to count them is to go to Data -> Data Display Tool and use the "Task Statistics" section.

Do you have another browser installed on your Mac or are you able to install one? Is the site equally slow on it?

[2016-01-30 11:12] KristianTashkov commented on #2523
Yes :) I used pending cron to mean, on your next interaction, a cron will
be triggered before it.

On Sat, Jan 30, 2016, 11:50 Alys notifications@github.com wrote:

[2016-01-30 12:02] Alys commented on #2523
@KristianTashkov : These are just my initial thoughts. If any of it sounds negative, that doesn't mean it's a "no" vote - I'm just describing possible problems for consideration. :)

_"you can cast CON on someone when they are away and still work for their next cron."_ -- So that would apply only if you cast it before their CDS time? If you knew that a player was going to be damaged by their Daili

[2016-01-30 14:56] KristianTashkov commented on #2523
@Alys

From my understanding the fact that cron is ran when the user is logged in is because of optimization reasons. In a perfect world you will get the cron the second your CDS comes. Looking it from that point, the ability to save someone from damage even though their cron should have ran by now is gaming the system. I can see why it could be useful, but my personal opinion is that is an uninte

[2016-01-30 15:02] crookedneighbor commented on #6603
Regardless, that message is from a dependency of a dependency of the project. It is a warning, not an error. If you're having issues, it's almost certainly not related to that message.

Closing this now, but feel free to re-open this issue with more details if you're having trouble.

[2016-01-30 15:02] #6603 closed, assigned to nobody

[2016-01-30 16:38] mbanys opened #6621 "Possible data inconsistency in quest joining"
I (user ID 5a74ce44-d856-4323-b522-db126b85bba6) started a boss quest for my party (Group ID: 7a85c791-cc11-4d8a-8092-c0e60ccf6ce4) on tuesday, Jan 26. I invited all 3 of my party members.  Shortly thereafter, two of us got the Quest Started email, while the third person (goddess1903 in my party -- sorry, I don't have her User ID) did not.  However, she DID join the quest from the invite email she

[2016-01-30 16:43] Alys commented on #6621
Can you please tell us goddess1903's User ID? You can find it by clicking on her profile and it will be on the left had side not far from the top, or you can ask her what it is - she can find it from Settings -> API.

[2016-01-30 16:44] mbanys commented on #6621
Sure, here it is:  6dad373e-8211-4da2-9872-85bdb94694ed.

[2016-01-30 17:41] Alys commented on #2523
I can see how it might look like that, but it is intentional that cron runs only when the user interacts with Habitica, and future changes to the site will increase reliance on that.

But see Lemoness's comment above, "... the ability to save players before they log in, which I think is a great feature." ;)  Admittedly she was talking about healing, but buffing CON is similar. Also if a user had a

[2016-01-30 18:04] KristianTashkov commented on #2523
This still applies if you manage to buff him before his CDS, otherwise you were too late :stuck_out_tongue: . I'm going from experience in my party, but buffing is mostly a problem in the morning where you have to wait for everyone before you buff. The proposed fix deals with this issue and you won't have to wait when you log in first in the morning. Personally I don't like the solution where you

[2016-01-30 18:07] Alys commented on #6621
Based on what I seen now in goddess1903's account in the database and in the party's data, goddess1903 rejected the quest invitation rather than accepted it.

That's another sign that she had rejected. Those emails are sent to only players who accepted the quest.

A quest can also auto-start if some players reject it. It starts as soon as every player has either accepted or rejected.

That sounds

[2016-01-30 18:17] mbanys commented on #6621
Thanks Alys for the fast feedback!  It is possible she clicked the wrong button--that's what I would have figured had the iOS app not reported conflicting information.  I've attached two screenshots from the Party window as requested.
![2016-01-30 12 14 12](https://cloud.githubusercontent.com/assets/16975843/12697504/5f1f150e-c74b-11e5-872b-cae482eb69ba.jpg)
![2016-01-30 12 14 05](https://cloud.gi

[2016-01-30 18:35] Alys commented on #2523
That might be more of an inconvenience for some parties than others. For some timezone pairings, one player's work day hours could cover the entire period between CDS and cron for another player. I'm not saying that special handling for CON buffs is essential, just that it's worth discussing to see if we can come up with the best solution for a wide variety of cases.

Ah, you're right, of course,

[2016-01-30 18:53] Alys commented on #6621
Thanks for that! I've logged this as an iOS issue at https://github.com/HabitRPG/habitrpg-ios/issues/329 and linked back to this one. I'm closing this one now since there's nothing we can do about it here. Note though that you weren't wrong to report it here - it wasn't clear immediately that it was an iOS bug!

[2016-01-30 18:53] #6621 closed, assigned to nobody

[2016-01-30 19:14] mrafaeldie12 opened #6622 "Alert comes back randomly even if dismissed"
Sometimes when opening the Habitica main page the alert comes back even if perviously dismissed.

Using Chrome on Windows.

![image](https://cloud.githubusercontent.com/assets/1855740/12697879/c0f20966-c774-11e5-8600-350cf3a950a7.png)

[2016-01-30 19:28] KristianTashkov commented on #2523
Yeah I really haven't given parties with very different timezones that much thought. I will try to think what's the best way to handle it.

Random idea that popped in my head (not that fleshed out), that may or may not be related to this issue. What if we have a button that says "Okay I'm done for today", which triggers your cron? I guess we can enable it 6/12 hours before your CDS or something li

[2016-01-30 19:49] Alys commented on #6622
Are you certain you've dismissed it by clicking on the orange button, not the white one? Sorry, I know it sounds obvious but I have to ask to be thorough. :)

Has this happened with previous Bailey messages? Roughly how often has it happened?

[2016-01-30 20:10] Luthien22 opened #6623 "Scroll Bar is Appearing in front of everything on Chrome"
For the past couple of days on Habitica, the scroll bar has been appearing on top of everything. Here's an image for reference:

![image](https://cloud.githubusercontent.com/assets/10780745/12698152/81fccffe-c763-11e5-8dd2-0083176bd682.png)

I tried clearing my browser cache, as well as using https://habitica.com/static/clear-browser-data, but the problem still persists.

[2016-01-30 20:14] mrafaeldie12 commented on #6622
@Alys

Yes I have dismissed this alert several times. I don't know the criteria to make it re-appear.. but sometimes when switching computers/rebooting/opening up new windows it appears again.

This has happened with every single message in habitica since i joined. I notice this also happens to other people I know as well (not the only one thankfully

[2016-01-30 20:19] sundaresvani opened #6624 "javascript gets stuck when I apply 'burst of flames' to any task/daily etc."
This happens everytime, it hangs I wait, my dailies briefly flash to showing ALL steps & all grey & due dailies & then I get the first window:

<img width="1520" alt="screen shot 2016-01-30 at 12 17 30" src="https://cloud.githubusercontent.com/assets/15809495/12698203/7ce2817a-c74b-11e5-8108-64e9ef063119.png">

& then I usually choose 'stop script' & i can go about my business. This time I chose '

[2016-01-30 20:34] crookedneighbor commented on #2523
You're free to work on whatever you want, but no changes to cron in v2 will be reviewed and merged right now. Cron is one of the most essential pieces of the site and requires particular care that nothing breaks.

[2016-01-30 22:25] Alys commented on #2523
@KristianTashkov  Here's why I believe it's worth doing special handling for CON buffs:

CON doesn't suffer from this issue as much as the other attributes do because CON buffs applied after CDS can still protect you from your own Dailies. If we changed all buffs so that those cast after CDS don't take effect until after cron, then CON buffs actually become weaker for those players who suffer from

[2016-01-31 00:23] keysmashes commented on #6623
Seems like a Chrome problem, similar things happen to me all the time when I have overlay scrollbars enabled in chrome://flags (but for reference, that experiment isn't available on Mac). Did you install/update any extensions recently? Does it happen in other browsers?

[2016-01-31 03:38] giantfishsquid commented on #4252
Hello! My party (20969a1a-cf16-4344-aa85-fb0b1899bbe5) did not receive any rewards for completing "Attack of the Mundane, Part 1: Dish Disaster!

How should we move forward?

[2016-01-31 04:22] crystalphoenix opened #6627 "Missing Mystic Hourglass?"
I have been a subscriber ever since subscriber items were started. When the yearly subscription became an option, I did that for one year. This past December, I unfortunately had to stop my subscription because my financial situation changed. As I recall, I did not spend all of my allotted Hourglasses. I had bought up all of the Time Travelers exclusive items, but it left me with some Hourglasses

[2016-01-31 04:33] Alys commented on #6627
@crystalphoenix I'll download a database backup to examine your account from last December. Please note that this will take some time because the backups are very large. I'll post again here as soon as I have some information about this.

[2016-01-31 05:13] Alys commented on #4252
@giantfishsquid From what I can tell, four members of your party were on that quest so I have given the quest achievement and rewards to them. Reload if you don't see the changes immediately. If others were on the the quest too, paste their User IDs here.

[2016-01-31 07:30] sarojinirao commented on #5024
So I just disabled the notification for confirming the feeding and can no longer feed my pets. I've tried reloading the page multiple times and logging out/logging back in, but to no avail. Any ideas? Also, I've never seen the modal box for batch feeding -- how do I activate this?

[2016-01-31 07:33] Alys commented on #5024
@sarojinirao The checkbox that allows you to disable notifications is a browser feature and isn't under the control of Habitica. The way to reset the setting is to close all browser windows. When you reopen them, the notification will appear again. There is no need to log out of Habitica before you close the windows. The modal for batch feeding is still under development, testing, and review. When

[2016-01-31 07:34] sarojinirao commented on #5024
@Alys That was fast, thanks! I just saw that suggestion on another thread, so will do that now.

[2016-01-31 07:51] Alys commented on #6624
Could you please log out of Habitica, clear your browser's cookies, then go to https://habitica.com/static/clear-browser-data and click the button there. Does that make the problem go away?

If the problem persists:

Please go to Help > Report a Bug from the Habitica website and tell us the information listed in steps 6 and 7.

Also tell us how many tasks you have. The easiest way to count them is

[2016-01-31 09:21] Codemon72 opened #6628 "Instead of leveling up, the experience bar keeps counting"
![bildschirmfoto 2016-01-31 um 10 15 55](https://cloud.githubusercontent.com/assets/16984175/12701249/dd0b56e0-c803-11e5-8993-e70e668221fd.png)

4e73c359-4230-4b94-b37b-be832e5aa648

using chrome and osx

[2016-01-31 09:23] Alys commented on #6628
You'll level up as soon as you complete a task or click a positive Habit.

[2016-01-31 09:23] #6628 closed, assigned to nobody

[2016-01-31 09:32] Codemon72 commented on #6628
Thank you, Alys!
I thought I had done that already, but it worked.
Cheers, Ugyug

2016-01-31 10:23 GMT+01:00 Alys notifications@github.com:

[2016-01-31 15:04] dbarnett opened #6630 "Clicking sync doesn't update party members displayed"
I added a party member yesterday, but when I checked a browser tab I had open she still wasn't shown in the party. I clicked sync and still didn't see her without reloading the page.

[2016-01-31 15:48] crookedneighbor commented on #6630
This was an intentional decision to reduce load on the server. Looking up the data for every party member in a party (especially for large parties) on every sync would be an expensive operation.

That said, I could see an argument for drawing a distinction between the normal syncing that happens when using the site (making new tasks, purchasing items, checking off tasks, etc) and clicking the sync

[2016-01-31 16:20] Alys commented on #4235
Further discussion is here: https://github.com/HabitRPG/habitrpg/issues/3018
That has more details so I'm closing this one and reopening that one.

[2016-01-31 16:20] #4235 closed, assigned to nobody

[2016-01-31 16:21] Alys commented on #6630
We have this issue open here with some discussion in it: https://github.com/HabitRPG/habitrpg/issues/3018

[2016-01-31 16:22] #6630 closed, assigned to nobody

[2016-01-31 16:22] AnnaFromPoland commented on #6624
good day!

i have just encountered the same issue - warning about an unresponsive "https://habitica.com/app-3f324ec7.js:5" script.

it cannot possibly be cookies because i have formatted my entire computer yesterday! today was the _first_ time i've even opened up firefox, and the -only- site i use firefox for now is habitica.

it _can_ have to do with a super long list of to-do tasks that i've bee

[2016-01-31 18:43] berriganator commented on #6610
Hello. Yes, I have the same issue in Chrome of the tasks collapsing prematurely before I'm even done typing the checklists, tagging or editing them in anyway. It happens as well across multiple computers.

I have about 67 tasks.

Thanks!

[2016-01-31 19:14] sundaresvani commented on #6624
I do have a long list of tasks. 34 habits, 30 dailies, 88 todos. Like the other user, I participate in annual challenges that are single tasks for each week rather than checklists.

I went through the process of 'clear browser data' to no effect prior to posting.

I cannot replicate the issue on Chrome. I use Firefox 43.0.5 on Macos 10.10.5

Userid:2e9755be-bbd1-4ad3-80fb-3c906f14e5bd

I attached

[2016-01-31 22:27] Alys commented on #6605
@solariaus I'm closing this but if you'd like us to look into it further, please see my questions in my previous comment.

[2016-01-31 22:27] #6605 closed, assigned to nobody

[2016-01-31 22:30] Alys commented on #6627
@crystalphoenix I've given you five Mystic Hourglasses, which is how many you had in December shortly before you asked us to cancel your recurring subscription. Please reload if don't see them immediately.

[2016-01-31 22:30] #6627 closed, assigned to nobody

[2016-02-01 06:42] Vcarrus commented on #5649
Hi! I'm having this same issue, but as an invite for my own party? I've read the bold text!

User ID: 4fabc9f2-3c9d-42f3-917a-6280f38abaae
Group ID: e08c6ad0-ac94-4152-a764-ee3f9bf17a84

[2016-02-01 10:23] Alys commented on #5649
@Vcarrus  :)  Done!

[2016-02-01 11:27] kawunngg opened #6632 "Cron - Dailies reset, no boss damage and buffs don't reset."
Hello all,

i noticed this some days in a row now... my dalies reset normally. when my party was in a quest i did not do any boss damage, neither did the boss damage my party, it just wasn't counted. no message in the party chat, i wasn't in the Inn and i also checked if my damage happened at an other time (like accidental log in with the app or something).
but the buffs also don't reset which is

[2016-02-01 11:58] Ant0ni013 commented on #6610
Hi, I have been experiencing the same thing with chrome 47.0.2526.83 on my galaxy s5 phone (Android 5.0.0; SM-G900I Build/LRX21T) in particular, and occasionally on my laptop, also using chrome (48.0.2564.97 m), windows 10.
A related issue has also caused a strange result: I ticked off a bunch of dailies on my phone, which caused me to level up to 10. At this stage the "pick your class" box appear

[2016-02-01 12:16] MikeFoden commented on #6515
@tylerxo I've had some family stuff come up so I think I'll have to leave this one to you! Sorry for taking so long to reply!

[2016-02-01 14:46] einahpets65 commented on #6561
i'm still having this issue when I am on chrome

[2016-02-01 15:34] Luthien22 commented on #6623
Sorry it took me so long to get back to you. I tried Habitica on Firefox, and the scrollbars acted normally, so this is probably a chrome problem. I'm on Mac, so it shouldn't be chrome://flags. To my knowledge, I haven't updated any extensions lately, and I know I haven't installed any new ones recently.

[2016-02-01 15:43] sethscolex commented on #4252
Thank you @Alys ! I didn't know this was possible until recently, my party and I also missed out on some rewards in the past. Maybe it's too late for that but the quest "King of the Dinosaurs" was started by CuriousChemist on 2.12.2015. and finished ~3 days later. So I just thought I'd ask if it's possible to get the dino eggs (they're pretty cool and it took us a lot to kill that guy).

personal

[2016-02-01 17:13] keysmashes opened #6633 "Large tasks are difficult to rearrange"
When a task has many checklist items, dragging it to initiate a rearrange results in all tasks below it moving up by the size of the checklist (i.e. the large task only leaves a regularly-sized gap in the task list). This makes it difficult to see where the task will end up.

Moving a normal-sized task:

![image](https://cloud.githubusercontent.com/assets/9433472/12724680/f0afc844-c906-11e5-8524-a

[2016-02-01 17:18] keysmashes commented on #6623
Looks like it is a Chrome issue: https://stackoverflow.com/questions/16874546/strange-z-index-behavior-with-scrollbars-under-chrome

If scrolling the yellow part of [this jsfiddle](https://jsfiddle.net/kvNFW/) causes the same problem (and looks like the image below), it's definitely a problem with Chrome.

![image](https://i.stack.imgur.com/V61dh.png)

[2016-02-01 17:50] Alys commented on #6633
Click on the checklist number indicator (0/7) to collapse the checklist.
Dnes that help?

[2016-02-01 18:20] Cartogenic opened #6634 "Paypal Subscription issue..?"
Hello,

Today I bought 20 gems (5$), and everything worked fine.

Then I decided to subscribe (5$ / mo) using paypal, and the subscription was activated in the website, but paypal doesn't show any payment.

Do I only get billed after the first 30 subscription days? Paypal shows 0.00$ billed for this first month, but says there's a currently active 5$ monthly recurrent payment, so It looks like in

[2016-02-01 18:37] Luthien22 commented on #6623
It's acting the same way on the jsfiddle, so it seems chrome is the issue. How do I fix this?

[2016-02-01 19:03] taldin commented on #6623
It's not happening for me on my Chrome (Windows) installation, even on the jsfiddle.  What's your hardware/OS setup?

[2016-02-01 20:13] keysmashes commented on #6633
Yep, that works :) Thanks!

[2016-02-01 20:13] #6633 closed, assigned to nobody

[2016-02-01 20:27] Luthien22 commented on #6623
I'm running Mac OS El Capitan on a 2013 Macbook Pro.

[2016-02-01 20:56] keysmashes commented on #6623
@taldin Does it happen if you enable overlay scrollbars in chrome://flags?

[2016-02-01 21:22] Cartogenic opened #6635 "Duplicated Tag bug"
Duplicate tags appear if user enters a challenge containing one or more tags already created by the user.
For example, I have the "Health" Tag, but when joining a challenge containing "Health" tag, I got 2 of the same now.

[Screenshot](https://i.imgur.com/9I4xXqp.png)

[2016-02-01 21:49] taldin commented on #6623
Nope.   Doesn't happen to me; might be a Mac thing, possibly.
![image](https://cloud.githubusercontent.com/assets/9312226/12732468/91f54a70-c8ea-11e5-97f8-d422327d3581.png)

[2016-02-01 21:55] taldin commented on #6606
The other thing that can happen is if she's left herself logged in somewhere and her auto refresh triggers cron -- or if she accepted from a mobile device.   Our party had one person who logged in for the first time late in the day (triggering the previous day's cron) and then was still logged in after midnight (their cron time) and when they did something, it updated their cron again, so they had

[2016-02-02 00:52] KGBoo opened #6637 "Dailies checked, but considered not checked"
Few people in my party noticed that sometimes, we check all our dailies, but when we sign up the day after, we lose points from the boss. For example, last friday I did all my stuff, but we lost 17 points on the boss, when I signed up on saturday morning. Also, the dailies from the day before were still checked. The sync worked, because I used Brutal Smash many times and it worked.

[2016-02-02 00:55] KGBoo commented on #6637
My user ID : d6208b0e-a7e0-4ddd-ae0b-06a8f5853702

[2016-02-02 00:56] KGBoo opened #6638 "No buff after Tools of the trade"
Hi! It happened a few times in my party that the perception buff from Tools of the trade don't work for some people. For example, 4 people out of 5 get the buff, the other one gets nothing.

Here is my User ID: d6208b0e-a7e0-4ddd-ae0b-06a8f5853702

[2016-02-02 00:59] KGBoo opened #6639 "only 25 gems to buy this morning"
Hi! When i signed in this morning, there was only 25 gems to buy in the market. I'm supposed to have 35.

User ID: d6208b0e-a7e0-4ddd-ae0b-06a8f5853702

Thanks!

[2016-02-02 00:59] Alys commented on #6637
I'm sorry about this! You've been affected by this bug: https://github.com/HabitRPG/habitrpg/issues/4313
Please see the "Advice" section near the top for how to recover from unfair damage and how to try to avoid the bug. You can comment here if you have questions.

[2016-02-02 00:59] #6637 closed, assigned to nobody

[2016-02-02 01:03] Alys commented on #6639
Your account in the database shows that you've bought 35 gems.

If there still seems to be a problem, can you give us some more details about what you've noticed with the gems available to be bought over the past couple of days? For example, how many gems were showing as purchasable yesterday?

[2016-02-02 01:05] KGBoo commented on #6639
Few days ago, around Jan 26th, I noticed I had few gems to buy from january. I bought them all. May be they were considered as february gems?

[2016-02-02 01:06] Alys commented on #6639
They wouldn't have been considered as February gems.

So are you absolutely certain that in January you bought all the gems available?

[2016-02-02 01:09] KGBoo commented on #6639
Yes, absolutely certain, since we are Feb 1st...

[2016-02-02 01:27] taldin commented on #6555
@kirbyblox :  You can find the quests in https://github.com/HabitRPG/habitrpg/blob/8ee535b4fa10805e85029c80d702a9fcb2230e05/common/script/content/index.js
...or (habitrpg/common/script/content/index.js) in your local installation.

[2016-02-02 01:28] Alys commented on #6639
The gem cap resets in the first three days of the month so it might not have reset yet (see the message in the screen you get to when you click on the gem in the header; you can also see it if you try to buy gems after they are all bought).

However the date isn't relevant to my question - are you certain that you bought all the available gems in January? When you looked at the gem icon in the Mar

[2016-02-02 01:31] taldin commented on #6356
So the solution for this one is to download these PNG files, copy them into the spritesmith directories on top of the old ones, and then grunt spritesmith, then pull, yes?

[2016-02-02 01:37] KGBoo commented on #6639
It said zero yesterday.

[2016-02-02 01:58] Alys commented on #6639
That means that the gem cap must have reset already this month, since there were gems available to buy today. The database is definitely showing that you've bought 35 gems. Do you have a screenshot of it saying 25 gems this morning? Does it say zero gems now?

[2016-02-02 02:11] KGBoo commented on #6639
It says zero right now. I don't have the screen shot, because I thought it would have no value, I could have already bought some gems.

[2016-02-02 02:26] Alys commented on #6639
I think it must have just been a display problem. Possibly the website was showing an old cached version of the page that said only 25 gems were available. Because it said zero yesterday, and you were able to buy gems today, and the database says you've bought 35, it looks like the gem cap was 35 (the value shown on the website wouldn't have affected that). Were you buying a lot of gems at once? D

[2016-02-02 02:51] zefisio opened #6641 "Signed for a 12 month subscriber plan, but stop receiving gems at the 3rd month"
Hi,
I signed for a 12 month subscriber plan in December 2015, but I didn't received my gems on this month (February 2016)
ID: babf1497-3bf6-46d9-b1c3-a16fe7113a9c
I am using safari (Mac iOS)

[2016-02-02 03:19] Alys commented on #6641
It looks like you cancelled the subscription after buying it but the cancellation took effect far too early. I've fixed that for you now, but please check and comment here if anything still doesn't work correctly or looks wrong.

[2016-02-02 03:22] Alys commented on #6641
Actually, there's no sign in PayPal of a cancellation, although it looks like it was cancelled in Habitica. Did you try to cancel the subscription after creating it? E.g., if you wanted to subscribe for only 12 months and not have it renew automatically?

[2016-02-02 03:46] zefisio commented on #6641
Hi Alys,

I cancelled only on paypal. I did nothing on habitica. Actually, I don't
even know how to canceal the subscription on habitica.
I will check now if everything is ok. If it is, I will post it.

Many thanks!
On Feb 1, 2016 10:23 PM, "Alys" notifications@github.com wrote:

[2016-02-02 03:52] Alys commented on #6641
To cancel a subscription, you can go to the same place where you made it - either Settings -> Subscription or the gem in header (which will then direct you to Settings -> Subscription).

[2016-02-02 05:12] joeywoneill opened #6642 "Broken Title: mysterySet201601"
On the Time Travelers page, one of the titles is broken.
![screen shot 2016-02-01 at 9 10 49 pm](https://cloud.githubusercontent.com/assets/10093125/12740477/6800c684-c928-11e5-9cc4-68ccdc8ca45a.png)

[2016-02-02 05:49] #6642 closed, assigned to nobody

[2016-02-02 06:13] Alys commented on #6642
@joeywoneill Thanks! It's fixed.

[2016-02-02 08:01] Cartogenic commented on #6634
nobody answered...oh well, but I got billed 5$ now on paypal, so everything seems fine.

[2016-02-02 08:36] Alys commented on #6634
Thank you for letting us know.

Please be aware that in general, it can take us some time to respond to bug reports, especially when an error is in your favour and so isn't urgent for you. I was intending to start investigating this later tonight.

To answer your questions: You are normally billed as soon as the subscription is created; I assume in this case that there was a delay in PayPal. If yo

[2016-02-02 10:11] Alys commented on #6638
There's two possibilities for why this happened.

One is that if the buff was cast while one person is sleeping, it will wear off as soon as they start using Habitica the next day and their cron runs. This is unfortunate but it's how the buffs work currently. It is likely that the behaviour of buffs will be changed in future so that this doesn't happen.

The other possibility is that if the buffs

[2016-02-02 10:13] #6641 closed, assigned to nobody

[2016-02-02 10:31] Alys commented on #6635
This is deliberate, and the tags are actually two different tags that happen to have the same text. If you use each tag in turn, you'll see that each one shows you a different set of tasks. The tag that you created will show you the tasks that you created. The tag that came from the challenge will show you the challenge's tasks.

Every challenge comes with its own tag so that you can easily find t

[2016-02-02 10:31] #6635 closed, assigned to nobody

[2016-02-02 10:38] Alys commented on #4252
@sethscolex Please find out from your party which players missed out on the Dinosaur rewards and give me the list of User IDs (user names are not needed). I'll award them all at once.

This happens much more often with larger parties, and yours is very large. I notice that you advertise in the Party Wanted guild every day or so. You might want to consider not increasing your party size further, be

[2016-02-02 10:39] Alys commented on #6561
@einahpets65 How often are the errors appearing?

[2016-02-02 12:19] einahpets65 commented on #6561
@Alys every time I try to use any page, and has been for the past few days. It takes a few minutes for the loading bar to fill, and then the error that hartopoangeline posted a picture of pops up

[2016-02-02 12:21] Alys commented on #6561
@einahpets65 **Click the button on this page: https://habitica.com/static/clear-browser-data
If that doesn't help, try a different browser or incognito / private mode in the same browser. Tell us how that goes.**

[2016-02-02 12:27] zefisio commented on #6641
Everything fine now! Many thanks

[2016-02-02 12:31] einahpets65 commented on #6561
@alys it worked! Awesome, thank you so much!

[2016-02-02 12:46] Alys commented on #6632
Hi @kawunngg.

Firstly, I think the reset buff button is a great idea and well worth suggesting. It could go on the Fix Character Values screen, and we could also have something that allows you to add Perfect Day buffs for those cases when a bug prevents all your Dailies being recorded correctly.

The problem where you are in a quest but don't do any boss damage is something that happens sometimes

[2016-02-02 13:00] Cartogenic commented on #6634
So basically, I'll start owing paypal in case I have no funds?
Thank you!

[2016-02-02 13:01] Cartogenic commented on #6635
Thank you :+1:

[2016-02-02 13:48] einahpets65 commented on #6561
@alys Hmm, well it worked for a second, but now it's not even letting me log in anymore. I can access the site through firefox, but obviously I would ideally like to be able to access it through chrome because that's the browser I actually use.

[2016-02-02 14:07] crookedneighbor commented on #6356
Yes, except that we're no longer using grunt for it. You can run the sprite task with:

[code]

[2016-02-02 14:24] artemisclyde opened #6643 "Images way too big and group missing (Firefox)"
The images are normally sized on chromium tho.

![share_temp](https://cloud.githubusercontent.com/assets/16636453/12752091/fa0d3e84-c9c0-11e5-8f9c-9736fa4f1d58.png)

I already tried **restarting** firefox and my computer, **deleting local data**, **disabling addons**.

[2016-02-02 14:37] emalven commented on #6561
I am having the same error using Safari on a Macbook Pro.
[Habitica Error.pdf](https://github.com/HabitRPG/habitrpg/files/114086/Habitica.Error.pdf)

[2016-02-02 15:12] kawunngg commented on #6632
hello Alys!

the quest i talked about ended and i got all the rewards. in the current quest i already did some damage, it looks normal. unfortunately (in this case) we're pretty fast with quests, but i will report if i notice it again.

we have some people in our party casting a lot of spells. seems like tonight i opened the habitica app accidentally after my cron time, even though i can't renembe

[2016-02-02 16:06] AnnaFromPoland commented on #6624
new code: unresponsive https://habitica.com/app-027344d3.js:4 when i tried to drag a new daily up.

[2016-02-02 16:12] Vataro opened #6644 "Bought seasonal equipment then later it disappeared and the gold was refunded"
Last night I earned enough to purchase the Sorcerer's Snowboard, and happily did so. However, when I logged in this morning, I no longer own it (and I have the gold back). I'm using Chrome on Windows, though this seems to be more of an account issue than a browser issue (my account is displaying the same on the Android app as well). My user ID is 050772dc-2721-4ed4-9137-724ac783b089. Thank you for

[2016-02-02 16:12] Alys commented on #6643
Please reload the site and check your browser's zoom settings.Does that
help?

[2016-02-02 16:17] Alys commented on #6634
No, you'll start owing Habitica. PayPal won't give us money until it can extract money from your account.

[2016-02-02 16:17] #6634 closed, assigned to nobody

[2016-02-02 16:25] Alys commented on #6644
This happens at the end of the period when items are available. It's from timezone differences - your browser thinks we're still in the limited edition period but the server disagrees. I've put the item into your account. Reload and you'll see it.

I'm leaving this open for others with the same problem to comment on.

https://github.com/HabitRPG/habitrpg/issues/6169 is the issue we're using to dis

[2016-02-02 16:39] Alys commented on #6561
@einahpets65 _"it's not even letting me log in"_ -- What's happening when you try?

@emalven Have you tried the suggestions in my post five up from here? I've just bolded the text to make it easier to find.

[2016-02-02 17:23] Vataro commented on #6644
Thank you very much! I'll pay closer attention to the time next time!

[2016-02-02 17:49] taldin commented on #6356
Aha, so the Wiki recording is out of date.  I'll take this one for a spin for today's blog post.

[2016-02-02 18:36] Typhlosaurus commented on #1471
I'm afraid the Mobile App Download Challenge (https://habitica.com/#/options/groups/challenges/c14e8130-b22f-4e60-9bcb-7a34e5756829) is going to flood this issue with reports.  Certainly happening to me, so I imagine it will happen to a lot of others too (https://habitica.com/#/options/groups/challenges/c14e8130-b22f-4e60-9bcb-7a34e5756829).

[code]

Looking at the request, it includes full descri

[2016-02-02 18:39] ghost opened #6645 "Basi-List quest scroll gone"
Hi there, I'm Courtney and my user ID is 9654d89f-1d14-49b1-a6df-5aef8638a222.
I invited a friend to Habitica and received the Basi-list quest scroll. I have initiated this quest for my party several times. We completed it today again, but when I went to re-start the quest, the scroll was gone from my available quests! I cleared cache in my browser and refreshed the page, however it is still gone

[2016-02-02 18:42] matthardy-coraid opened #6646 ""Error request entity too large" when attempting to join 'Mobile App Challenge!'"
Attempted to join 'Mobile App Challenge!' and receive the following error:
"Error request entity too large"

Cleared cache and reloaded several times over last 2-3 hours but behavior persists.

Chrome Version 48.0.2564.97 (64-bit)  on Mavericks.

[2016-02-02 18:52] mgpcoe commented on #6646
The request sends the complete list of all participants in the challenge and a bunch of empty JSON about each one of them. 1800+ participants and the server tells you to go get stuff.

Requests to (e.g.) join challenges should send only the relevant data for the action in question--that _this_ user wants to join _that_ challenge. Nothing more, there's no use in sending all that data over the wire.

[2016-02-02 19:00] matthardy-coraid commented on #6646
Thanks. Previously I was attempting to join from the specific challenge page:
https://habitica.com/#/options/groups/challenges/c14e8130-b22f-4e60-9bcb-7a34e5756829

I was able to join it from the list of challenges:
https://habitica.com/#/options/groups/challenges

[2016-02-02 19:07] einahpets65 commented on #6561
Occasionally the log in form will pop up, but nothing happens when I click on the log in button. Usually though, I click on the blue Play Habatica button, and the blue loading bar appears, but the log in form never does so I'm not able get to the point where I can put in my username or password.

[2016-02-02 20:26] Alys commented on #6645
A quest scroll can be used once only. It disappears from your Quests page as soon as the quest starts (i.e., after all players accept or reject the quest invitation).

You get a new copy of the Basi-List scroll each time a person accepts your invitation to your party.

If you have any questions, you're welcome to ask here, or go to Help > Ask a Question from the website's menu. We'll respond to yo

[2016-02-02 20:26] #6645 closed, assigned to nobody

[2016-02-02 20:41] sryshti commented on #1471
Yes, I'm having the same issue with the Mobile App Download challenge
https://habitica.com/#/options/groups/challenges/c14e8130-b22f-4e60-9bcb-7a34e5756829

Already tried reloading and waiting a few hours and trying again.

[2016-02-02 21:15] AnnaFromPoland commented on #6624
new unresponsive one - https://habitica.com/app-027344d3.js:31 - i'm seriously getting more and more of these, now the computer starts panting with or without merfy's customization on, and it's not only the tasks page that's the problematic one, just now started panting when i tried to send a message to mara, every page reload takes eons.
i'm on firefox 44 on mac 10.11.1.

[2016-02-02 22:02] Alys commented on #1471
@sryshti @Typhlosaurus There's a new copy of the challenge at https://habitica.com/#/options/groups/challenges/1aa1adbb-0df2-4bd0-a0df-590d4021b6fa so please join that one.

[2016-02-02 22:09] Typhlosaurus commented on #1471
Thanks @Alys - my concern was not so much getting on the challenge as that an easy to complete and well publicised challenge like this will display an error message to a lot of people - most of whom probably won't report it here.

[2016-02-02 22:31] simbs commented on #6644
@Alys I think this might have happened to me too, but now I can't remember if I managed to buy the Snowboard in time or not, don't know if there's a way you can check it. id 33980d5c-67d3-4b82-bdb4-90434149148a

[2016-02-02 23:04] AtlasTurtle commented on #5748
User ID 66f0de02-8e71-40cc-8a5f-b5d1ee8597ec
Browser: Chrome
OS X El Capitan

I have had a similar problem with disappearing equipment. I purchased the shovel, one of the limited edition winter items, last night. This morning when I checked in on my dailies the shovel was gone. I have checked the equipment section of my inventory but it is not there. I have had similar things happen before but my

[2016-02-02 23:16] Alys commented on #6646
There's a new version of the challenge now, which you will be able to join: https://habitica.com/#/options/groups/challenges/1aa1adbb-0df2-4bd0-a0df-590d4021b6fa

[2016-02-02 23:16] #6646 closed, assigned to nobody

[2016-02-02 23:18] Alys commented on #6644
@simbs I've given you the missing items.

[2016-02-02 23:20] Alys commented on #5748
@AtlasTurtle I've given you the missing items.

[2016-02-02 23:20] #5748 closed, assigned to nobody

[2016-02-02 23:26] Alys commented on #1471
@Typhlosaurus The old challenge now has a link to the new one so all players can find it.

[2016-02-02 23:28] AtlasTurtle commented on #5748
<img width="1280" alt="screen shot 2016-02-02 at 6 25 58 pm" src="https://cloud.githubusercontent.com/assets/17035319/12767958/7bda3142-c9da-11e5-8a5c-423d244c9a22.png">
 I just tried it on Safari and still can't see it. Am I looking in the wrong place? I'm sorry. I'm still very new to Habitica.

[2016-02-02 23:31] Typhlosaurus commented on #1471
Great.

On 2 February 2016 at 23:26, Alys notifications@github.com wrote:

[2016-02-03 00:12] Alys commented on #5748
Sorry, my fault! I ran the command but neglected to do the confirmation step. They should be there now. Please reload if you don't see them. Thank you for asking again!

[2016-02-03 02:14] redopus commented on #6279
I have the same problem with @Fabalian and @Hydraaa .
I can't leave the party. I've tried different computers and cleared Habitica Data but the leave button stlii doesn't work. My party is doing a quest now but I'm not taking part in it.
I also tried the Developer Tools and the result is similar to Fabalian's.

My OS is Windows 7 Professional
My User ID is 4a6e7272-a4c6-46b8-b43b-1e91474f5973
Grou

[2016-02-03 09:22] habitrpguser commented on #1703
I think this issue and the closed issue #5647 ("Cannot rearrange tasks when creating or editing a challenge.") are different issues (though related). One is about tasks changing order in one's personal tasks page after joining the challenge. The other is about not being able to reorder tasks in a challenge while editing. Those are/should be two different orders. (One of the tasks inside the challe

[2016-02-03 09:53] mayajosyula opened #6649 "Custom Day Start causes newly added Dailies to show up gray"
_A quick note: it's late in my time zone and I'm tired, so I might have not checked carefully enough - if there's already an issue describing this or if this is intended behavior, I apologize in advance!_

When I created a new Daily just now, it was created gray by default. Looking at the advanced options, all the days of the week were selected as usual, it's just that the Daily itself was gray. I

[2016-02-03 10:24] kawunngg commented on #6632
same same. i woke up, had already some buffs, but clearly not as many as yesterday. i checked the party chat, i cronned shortly after my day start time at 3am. so seems like there is nothing wrong with my buffs. but i definitely did not touch my mobile phone tonight.
i only use my computer (it was off tonight) und my smartphone to access habitica. i have both the old and the new apps installed, bu

[2016-02-03 13:56] rmkoske commented on #6623
As a datapoint: I don't think I'm seeing the fiddle error either.  Mac version 10.7.5 Chrome version 48.0.2564.97.  (I say "don't think" because my screen doesn't look like what @taldin posted.  The scrollbar vanishes completely behind the red box. It's half-way down in my screenshot.)
![scrollbar screenshot_small](https://cloud.githubusercontent.com/assets/16406613/12784255/020c1568-ca54-11e5-851

[2016-02-03 14:21] madkingchris01 opened #6650 "+1 to comment caused large error notice to block one third the screen."
using Chrome
On occasion, when I'm +1ing a comment, one third of the screen is blocked by an error notice. This wouldn't be a problem, if it didn't block half of all the comments I'm trying to read. I can +1 them later, if need be. Also, reloading the page (which takes to long anyway) doesn't do away with the message. I have to close my browser completely. Reloading the page takes long enough, res

[2016-02-03 14:21] crookedneighbor commented on #6623
I see the JSFilddle (mac 10.10.5) weirdness, but have no problems on the website.

[2016-02-03 14:49] einahpets65 commented on #6561
update: I went to my chrome settings and made sure when i cleared my browser history from the beginning of time and did the habatica clear browser data button link as well and it appears to be working again

[2016-02-03 17:39] Kettlehead opened #6651 "Avatar facial hair set unlocked & gems taken but now set seems locked."
After purchasing the Avatar Facial Hair set for 5 gems yesterday, I was able to select the items and my avatar has updated its image but then an application error warning occurred. I hoped that it would correct itself but sadly not. The avatar still has the beard and moustache but any attempts to change it prompt the purchase of the set again. The gems have not been refunded.

User ID: f0340a82-57

[2016-02-03 17:52] jfannin opened #6652 "Loss of Party started an error"
User ID: 3fdb7166-1fc0-4461-8ecd-9090b7f5261e
Browser: Chrome
OS: Windows and IOS 7.1
Java Error: Failed to load resource: the server responded with a status of 400 (Bad Request)
https://habitica.com/api/v2/user/batch-update?_v=1042&data=1454521564285 Failed to load resource: the server responded with a status of 503 (Service Unavailable)
app-027344d3.js:32 ObjectresponseError @ app-027344d3.js:32

[2016-02-03 19:06] Bootporeon commented on #5649
Hello, I just joined today, and I've been invited to a party by a good friend; we are also having this problem.

My User ID: 5817d4c4-98f3-40ee-9019-41fc12b271c5

The group ID: cbd08c44-86f0-4002-b0b2-e25f44ea0a4d

I also have a few other errors I'm getting when I refresh the party page, but I don't know if they're related; I am not sure if the fact that I cannot attack the boss my party is fighti

[2016-02-03 20:23] Bootporeon opened #6653 "Unsure what causes this error...?"
I have no idea what is causing this error:

http://i.imgur.com/4jkExoU.png?1

If it helps to know, I'm using a Windows 8.1 laptop, using Chrome for the browser. My user ID is: 5817d4c4-98f3-40ee-9019-41fc12b271c5

[2016-02-03 23:53] #6638 closed, assigned to nobody

[2016-02-04 00:32] jfannin commented on #6652
Update: my IOS 7.1 is working just fine now that I've joined a new party, also the public computers are fine. It's just my laptop that has the error it might have changed.

Java Errors:
Failed to load resource: the server responded with a status of 400 (Bad Request)
https://habitica.com/api/v2/user/batch-update?_v=1039&data=1454545705884 Failed to load resource: the server responded with a status

[2016-02-04 01:07] WingsofFreedom43 opened #6656 "Application error and repeated party invites ("Cant do this... Habitica")"
It keeps on telling me to join a party that im already in and on IOS it shows that I still have my old party members... heres the error picture and dont pay attetion to anything else, I burrowed this picture, it has the same error wording so yeah: http://i.imgur.com/4jkExoU.png?1

[2016-02-04 01:31] Alys commented on #6656
@WingsofFreedom43 Did you try the things I suggested in the Tavern?

"Reload the site. If it's still not showing what you expect, go to https://habitica.com/static/clear-browser-data and click the button (read the text above it first). If you're still seeing your old party, you're probably still in that party. Leave it again and ask for a new invitation to the new party."

If not, please try them

[2016-02-04 09:58] Alys commented on #6653
Hi @Bootporeon. That "application error" usually occurs when the server is under heavy load, and generally is not caused by any action you take. It usually disappears by itself.

If it keeps on happening, there might be something temporarily wrong in your browser, so go to https://habitica.com/static/clear-browser-data and click the button there (read the text above it first). If the error keeps h

[2016-02-04 09:58] #6653 closed, assigned to nobody

[2016-02-04 10:00] seancojr commented on #6493
Question for you @Alys, somewhat related to the issue here. If a user was invited and now shows up as a member of the party but their nickname is also still shown on the invited list, what does that indicate? I wondered if it could be that they joined the party voluntarily without using the invitation. Even if so, shouldn't the user now appear only under a single header, not both? Things I've trie