[2018-11-18 10:01] Alys commented on #8063
This is on hold until https://github.com/HabitRPG/habitica/issues/10851 has been created, because that shadow-muting feature will form the basis of this optional mod approval feature.

[2018-11-18 10:27] majestic-owl448 commented on #10850
It is happening again when I try to move the Jeweled staff, which appeared in my pinned items a few hours ago after buying the previous in the sequence. other than the snack red message I have the code below in the console (I have cleaned it before that - but if you want I can give also the full content of when I just open the task page). For other sorting issues, sometimes there is a "an expected

[2018-11-18 10:40] shanaqui commented on #10806
There is definitely something new wrong, or a very very unlikely
coincidence. These reports faded to nothing for a couple of months; now I'm
typically responding to at least one a day.

On Sun, 18 Nov 2018, 10:00 Alys <notifications@github.com wrote:

[2018-11-18 11:40] phillipthelen commented on #10806
Tbh I'm not sure I can still follow the current state of investigating this.

Do we have any reports where we know this is still happening with the most recent app versions (1.6 on android and 2.1.0 on iOS). And Do we know for for any of those cases, the issue was fixed/they cronned when they logged into the website? Originally it sounded like this was likely an iOS issue, but now it's sounding mo

[2018-11-18 18:35] paglias commented on #10736
@Anysia do you have any extension enabled? Unfortunately I'm still unable to replicate. I'd try with an Private window or by deleting the cache

[2018-11-18 18:39] #10823 closed, assigned to nobody

[2018-11-18 18:39] paglias commented on #10823
Fixed by preventing multiple clicks while the message is being sent

[2018-11-18 19:09] paglias commented on #10694
Can be closed?

[2018-11-18 19:11] paglias commented on #10787
I'm going to close this one as the original issue reported at the top has been fixed, #10690 covers the dailies issue and for the switch to Single Completion as the default option there's a PR although it'll need some internal discussion

[2018-11-18 19:11] #10787 closed, assigned to nobody

[2018-11-18 19:12] paglias commented on #10646
Looks like this has been fixed during the username overhaul

[2018-11-18 19:12] #10646 closed, assigned to nobody

[2018-11-18 19:18] paglias commented on #10806
Yeah I agree that there are a lot of reports here, probably unrelated, some related issues:

- https://github.com/HabitRPG/habitica/issues/10711
- https://github.com/HabitRPG/habitica/issues/9169
- https://github.com/HabitRPG/habitica/issues/10553

As far as the VersionError and the large histories there should be no link between the two issues, VersionError(s) happen only when a document is saved

[2018-11-18 22:32] Alys commented on #10806
We've been using this issue to collect reports while we try to work out what's going on. I'd be happy to help break them up into different issues but even when we do that, probably copying them here first will help until someone with database and log access can assess each one.

@phillipthelen To the best of my knowledge, the current state of investigating this is just everything written here. I d

[2018-11-18 23:14] citrusella commented on #10849
Out of curiosity, would this have cropped up because of #10818 being merged?

(I'm not sure if that's a helpful hint to anything or not, I just wanted to ask because it seemed relevant.)

[2018-11-18 23:31] citrusella commented on #10849
Also, if [this](https://github.com/HabitRPG/habitica/blob/eca73825457317164a6c828cbc0afd2135397123/website/common/script/ops/buy/buyMarketGear.js#L30) is the code (particularly, `(item.klass !== 'special' && item.klass !== user.stats.class)`)... does that also mean mystery items wouldn't be capable of being bought for similar reasons if they somehow ended up in the rewards/shop? Maybe other things

[2018-11-18 23:51] Alys commented on #10814
As soon as this goes live, the person who reported it should be told they can now leave the guild (important since the leader is paying for them). I'm reopening this to help us not  forget but if the staff would prefer to handle this some other way that's fine with me. :)

[2018-11-19 01:14] ghost commented on #10736
I don't use extensions. It was also a problem on mobile (iOS), which doesn't allow extensions. It seems to have "fixed itself" in the last couple weeks, I think (I don't do that actions that trigger the problem very often). I have to close a challenge tomorrow, so I will check if it's still an issue on Safari but I don't think so. I'm now getting the pop up that I wasn't getting before asking to c

[2018-11-19 02:10] brightbold commented on #10849
I may have some potentially helpful data: I recently successfully repurchased an Enchanted Armoire item — unfortunately I don't remember which day, but I would have guessed within the last week. (It was the Bat Wand if that's something you're able to check on your end.) But today I get the messages  "You bought Ogre Armor!" and subsequently, "You can't buy this item." So this is definitely a recen

[2018-11-19 03:50] Arsnael commented on #10849
I second people above, this is very recent. On my Empty the Armory feature branch, I can still buy back those armoire items after resetting the equipment (was last rebased with `develop` 6th of november). While I get this issue on the latest update of `develop` branch.

And as @citrusella mentionned, likely to come from #10818 => well when I revert it locally I can buy again :)

[2018-11-19 08:28] Arsnael commented on #9698
Hi there ! Many cases I see there where user gets its progress being reset :
* Quest is finished and user was part of the quest (standard case)
* Quest is started and user is not part of the quest
* User rejects a quest
* Quest gets cancelled/aborted by owner
* User leaves current quest
* Cron

Except for the cron case, should all the other cases not reset the progress anymore? Or is there an exce

[2018-11-19 08:38] Alys commented on #9698
I'm just considering options here not trying to give a final answer but it feels like the simplest option and the nicest one for the players would be if cron was the only thing that removed Quest progress.

What do others think?

[2018-11-19 20:39] paglias commented on #10849
@negue could you give a look? thanks!

[2018-11-19 23:42] shanaqui commented on #10806
Hmmm. I don't have access to the database or to Loggly; I now have access to Amplitude, which is a big help in general, but doesn't let me differentiate between these potential bugs. Someone is always going to have to triage the reports into the right buckets, even if we identify separate problems. So is here still be the best place for me to copy them, even if we do split things up more into sepa

[2018-11-20 02:39] brightbold commented on #10849
Looks like this applies to subscriber items too? I just attempted to repurchase the Helm of Sporting and was told "You can't buy this item."

[2018-11-20 02:43] Alys commented on #10806
My feeling is that here is the best place to put them initially and then when I or other admins have collected data, we can copy them to any other issues that have been created for specific problems.

[2018-11-20 02:43] greenkeeper[bot] opened #10855 "An in-range update of aws-sdk is breaking the build 🚨"
## The dependency [aws-sdk](https://github.com/aws/aws-sdk-js) was updated from `2.358.0` to `2.359.0`.

🚨 [View failing branch](https://github.com/HabitRPG/habitica/compare/develop...HabitRPG:greenkeeper%2Faws-sdk-2.359.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

aws-sdk is a direct dependency of this project, and

[2018-11-20 07:32] Alys commented on #10806
For those three players that might have been candidates for #10553 (the new user account problem), it looks like they're not. Amplitude shows one or more crons happened before the missing one or that the cron wasn't missing (and therefore didn't run fully or the app didn't pick up the change to the Dailies).

"register" and "Cron" dates from Amplitude for each player and comments about their bug r

[2018-11-20 07:36] Alys commented on #10806
@phillipthelen From https://github.com/HabitRPG/habitica/issues/10806#issuecomment-436293458 :

Which version of the app is that? We can look out for reports from people using that version and ping you for them. Or do the logs go into Loggly where I can find them?

[2018-11-20 07:39] #10855 closed, assigned to nobody

[2018-11-20 10:55] #10694 closed, assigned to SabreCat

[2018-11-20 10:56] phillipthelen commented on #10806
The logging was added in 2.1.0. However there is an issue with linking the UserID that will be fixed with 2.1.1 that I'll release in the coming days.

[2018-11-20 11:56] shanaqui opened #10856 "Emoji don't work in tag hover, but do elsewhere"
![image](https://user-images.githubusercontent.com/8144640/48772119-4d04cd80-ecbb-11e8-8319-0bcd960f7be1.png)
"_

Followed by:

[2018-11-20 12:12] shanaqui opened #10857 "Tags have extra space at the bottom when they should be centered"
![image](https://user-images.githubusercontent.com/8144640/48772869-948c5900-ecbd-11e8-88a3-3722081ef2dc.png)

[2018-11-20 15:56] greenkeeper[bot] opened #10858 "An in-range update of mongoose is breaking the build 🚨"
## The dependency [mongoose](https://github.com/Automattic/mongoose) was updated from `5.3.12` to `5.3.13`.

🚨 [View failing branch](https://github.com/HabitRPG/habitica/compare/develop...HabitRPG:greenkeeper%2Fmongoose-5.3.13).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

mongoose is a direct dependency of this project

[2018-11-20 16:27] negue commented on #10849
On it

[2018-11-20 22:05] greenkeeper[bot] opened #10860 "An in-range update of aws-sdk is breaking the build 🚨"
## The dependency [aws-sdk](https://github.com/aws/aws-sdk-js) was updated from `2.359.0` to `2.360.0`.

🚨 [View failing branch](https://github.com/HabitRPG/habitica/compare/develop...HabitRPG:greenkeeper%2Faws-sdk-2.360.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

aws-sdk is a direct dependency of this project, and

[2018-11-21 07:31] Alys commented on #9368
There's been several changes to the code responsible for this feature since this was logged so any remaining problems are likely to be (slightly?) different to the ones reported here and/or be caused by different code. I'm closing this but if we get more reports of incorrect behaviour, we will log a new issue with specific details of the current problems.

[2018-11-21 07:31] #9368 closed, assigned to nobody

[2018-11-21 09:20] #10858 closed, assigned to nobody

[2018-11-21 09:21] #10860 closed, assigned to nobody

[2018-11-21 09:24] paglias commented on #10856
See also #10861. ~Do we want to keep support for emojis in tags @Tressley ?~ Nevermind, i see that emojis in tags are meant to be supported

[2018-11-21 11:11] shanaqui commented on #10806
Possibly not related, but:

[2018-11-21 11:20] paglias commented on #10806
So I checked the errors for Indigo PaperSnob @PaperSnob (d8d19eb3-2a2b-48da-9867-c63828176faf) and they have two VersionError errors at `2018-11-20 08:54:26.618` and `2018-11-20 08:54:26.595` so two concurrent requests for `/cron` and `tasks/redacted/score/up`. The requests are both coming from iOS

The errors are one for the user document (in the score task request) and one for a task doc (in the

[2018-11-21 11:22] paglias commented on #10806
I also checked the distribution of cron errors during the last 7 days and it's not only iOS for sure

<img width="229" alt="schermata 2018-11-21 alle 12 21 49" src="https://user-images.githubusercontent.com/589911/48838255-1a74d680-ed88-11e8-9421-926dc62e522d.png">

[2018-11-21 11:24] paglias commented on #10806
If we haven't done so yet we should add, to web, ios and android, a block so that cron can't be called if a request is in progress, my guess is that people score a task and before the request is finished they try to start the day which can cause a versionerror

[2018-11-21 11:24] shanaqui commented on #10806
Interesting! Not that I know what to do with anything, but eek.

Here's another iOS error:

[2018-11-21 11:42] shanaqui commented on #10806
Another one:

[2018-11-22 02:08] cTheDragons commented on #9698
I agree, even it just the simplest to explain to users too. (Also then aligns with how buffs work).

There is a small case when the user leaves a quest or if the quest gets cancelled or aborted. However in both cases it might be nice to not do this.

Will help with new users joining a party with a quest part way through, they at least keep the damage users have stored for the day. Similarly if a u

[2018-11-22 06:42] Arsnael commented on #9698
Well I agree as well so I started fixing the issue with that angle of thinking. If anybody thinks it's not, he is free to speak his mind of course :)

[2018-11-22 13:35] #10849 closed, assigned to nobody

[2018-11-23 21:29] Alys commented on #10823
The fix to prevent multiple clicks on the send button has gone live so if anyone sees new examples of this, please tell us because they'll have a different cause. ("the same group chat message posted two or more times in quick succession - quick enough that it's unlikely to be from the player doing this deliberately.")

[2018-11-24 03:46] Alys commented on #10806
From an email dated five hours ago:

"Hi! I haven't been able to get my dailies to properly reset today. I've tried off an on throughout the day, closed/opened the app, logged out/in. Same problem on both phone and iPad. Browser version is today's dailies but some things checked from yesterday (which reappear in iOS if I uncheck them on the browser)."

iOS Version: 12.1
Device: iPhone SE
App Versi

[2018-11-24 08:13] Alys opened #10866 "Special Pets that you don't own should show only grey pawprint"
When you do not own a Special Pet, the only indicator that you see in the Stable should be the grey pawprint, not the black pawprint or the greyed-out image of the pet.

For example, for the Royal Purple Gryphon, you should see only this light grey pawprint for the Pet when you don't own it:

![image](https://user-images.githubusercontent.com/1495809/48965954-acdcda80-f013-11e8-9931-2c195a436967.p

[2018-11-24 08:29] Alys commented on #10806
Another case like the previous one, reported in the Report a Bug guild 6 hours ago from Benjamin, the Avid Reader   @loverofbooks (fc6bd8d5-94a2-462b-ac7f-9b03bc446d45):

"My Cron didn't run this morning and none of my dailies have reset. How can I fix this?"

Not a new account, no timezone offset mismatch, `auth.timestamps.loggedin` is 2018-11-24T00:00:31.498Z but Amplitude shows the most recent

[2018-11-25 01:21] Alys commented on #10806
loverofbooks has given us some more information (I'm about to delete this comment and paste it into the previous one):

"@Alys If it helps any with the troubleshooting: When I checked in, the "Record Yesterday's Activity" box did pop up. I checked the dailies I had done. When I pressed "Start my new day", however, it threw a 502 error, meaning it probably had some sort of miscommunication with the

[2018-11-25 03:03] Alys opened #10867 "ParallelSaveError errors when deleting an account"
[Loggly](https://habitica.loggly.com/search#terms=7861de78-bf8b-481a-bc47-7057f4e98870&from=2018-11-01T00:00:00.000Z&until=2018-11-25T02:55:14.854Z&source_group=) reports errors for a user deleting their account:

`"method":"DELETE","originalUrl":"/api/v4/user"` ... `ParallelSaveError: Can't save() the same doc multiple times in parallel.`

followed by:

`"method":"GET","originalUrl":"/api/v4/user

[2018-11-25 05:17] Alys commented on #10806
The player who made the report two comments up from here ( User ID: 838936c3-82c4-4998-9580-287f3c9bd4c2) has given more details. I'm about to delete this and copy it into that comment.

"Thanks for getting back to me so quickly (and on a holiday weekend no less!). Luckily, the problem resolved this morning. But here's how yesterday went down: I loaded the app on my phone and the incomplete dailie

[2018-11-25 05:19] Alys commented on #10806
The "little red error at the bottom" could have been a 502 as for the report from loverofbooks.
From memory, we're deliberately not reporting them in Loggly, but would it help if we did?

[2018-11-26 08:58] paglias commented on #10806
Regarding 502s errors, the reason they don't appear in Loggly is because they are produced directly by our cloud provider when the server isn't reachable and since loggly is setup on the server they don't get reported.

But 502s aren't errors like 500s, it's more of a "could not complete the request because the server was unreachable", they're not produced by bugs or anything else but more likely

[2018-11-26 09:23] paglias commented on #10814
This is live now, so we should check with the user if the error is gone

[2018-11-26 09:24] paglias commented on #10834
Now that some fixes have been merged and deployed can we see if the issues reported above are still present? I can't reproduce them anymore

[2018-11-26 09:29] paglias commented on #10867
Thanks for the link to the loggly page! The erros is coming from a group method which leads me to think it's the same issue as https://github.com/HabitRPG/habitica/issues/10814 which was deployed yesterday or the day before. I'll check if any change is necessary or if it's covered by the fix #10852

[2018-11-26 09:44] #10856 closed, assigned to nobody

[2018-11-26 09:44] #10857 closed, assigned to nobody

[2018-11-26 09:50] Alys commented on #10806
A cron error where Amplitude records the cron but there's no quest progress message in party chat (I confirmed that there should have been). This was from a VersionError so we could move this one to an issue of its own and develop a fix for it.

@Meakuel (4382653f-4dbe-4f0f-84dd-6127c8a6b466):

_"Today my damage didn´t count for the Party Boss. I had 495 pending damage. With the new day it was 0 p

[2018-11-26 10:27] Alys commented on #10806
Logged in the bug guild 29 hours ago by  @CaptainMarc (74da075e-85ea-4f5b-b778-fc31477d886a):

_"Logged in on my phone app (Android) this morning. The "did you do these yesterday" list popped up and I clicked those I'd not checked off but done the day before. So far so good. A bit later I checked into my party, again on my phone app, and although we were on a Quest by damage to the boss was not re

[2018-11-26 18:38] greenkeeper[bot] opened #10868 "An in-range update of ps-tree is breaking the build 🚨"
## The dependency [ps-tree](https://github.com/indexzero/ps-tree) was updated from `1.1.0` to `1.1.1`.

🚨 [View failing branch](https://github.com/HabitRPG/habitica/compare/develop...HabitRPG:greenkeeper%2Fps-tree-1.1.1).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

ps-tree is a direct dependency of this project, and **

[2018-11-26 20:35] greenkeeper[bot] opened #10869 "An in-range update of @vue/test-utils is breaking the build 🚨"
## The devDependency [@vue/test-utils](https://github.com/vuejs/vue-test-utils) was updated from `1.0.0-beta.25` to `1.0.0-beta.26`.

🚨 [View failing branch](https://github.com/HabitRPG/habitica/compare/develop...HabitRPG:greenkeeper%2F%40vue%2Ftest-utils-1.0.0-beta.26).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

@vue

[2018-11-27 06:20] greenkeeper[bot] opened #10871 "An in-range update of aws-sdk is breaking the build 🚨"
## The dependency [aws-sdk](https://github.com/aws/aws-sdk-js) was updated from `2.362.0` to `2.363.0`.

🚨 [View failing branch](https://github.com/HabitRPG/habitica/compare/develop...HabitRPG:greenkeeper%2Faws-sdk-2.363.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

aws-sdk is a direct dependency of this project, and

[2018-11-27 08:16] Alys commented on #10834
The parts of this that I could replicate before are fixed for me. I'll close this. We will open a new one if other problems are reported.

[2018-11-27 08:16] #10834 closed, assigned to nobody

[2018-11-27 08:31] #10871 closed, assigned to nobody

[2018-11-27 16:02] greenkeeper[bot] opened #10873 "An in-range update of mongoose is breaking the build 🚨"
## The dependency [mongoose](https://github.com/Automattic/mongoose) was updated from `5.3.13` to `5.3.14`.

🚨 [View failing branch](https://github.com/HabitRPG/habitica/compare/develop...HabitRPG:greenkeeper%2Fmongoose-5.3.14).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

mongoose is a direct dependency of this project

[2018-11-27 18:15] shanaqui commented on #10806
This one came in via email and has been left in the inbox for now. Amplitude seems to have cron running okay. Asked them if it's been happening a lot or just once or twice.

EDIT: this is happening persistently for them.

_EDIT BY ALYS 2018-12-12:_
Extra details from a later email:

There's no errors for that player (none at ALL of any kind, which is unusual). Amplitude shows that cron is running

[2018-11-27 22:48] shanaqui commented on #10806
Re: the timing on CaptainMarc's issue:

[2018-11-27 22:51] shanaqui opened #10875 "Email address display breaks"
From RaB:

![image](https://user-images.githubusercontent.com/8144640/49116875-d35e7800-f296-11e8-8177-06bfe8f5e1cb.png)

[2018-11-28 00:26] greenkeeper[bot] opened #10876 "An in-range update of vuedraggable is breaking the build 🚨"
## The dependency [vuedraggable](https://github.com/David-Desmaisons/Vue.Draggable) was updated from `2.16.0` to `2.17.0`.

🚨 [View failing branch](https://github.com/HabitRPG/habitica/compare/develop...HabitRPG:greenkeeper%2Fvuedraggable-2.17.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

vuedraggable is a direct dep

[2018-11-28 00:58] greenkeeper[bot] opened #10877 "An in-range update of aws-sdk is breaking the build 🚨"
## The dependency [aws-sdk](https://github.com/aws/aws-sdk-js) was updated from `2.363.0` to `2.364.0`.

🚨 [View failing branch](https://github.com/HabitRPG/habitica/compare/develop...HabitRPG:greenkeeper%2Faws-sdk-2.364.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

aws-sdk is a direct dependency of this project, and

[2018-11-28 07:29] Arsnael commented on #7991
Ah I see there is some updates on the messages around that too. So do I need to update that?

[2018-11-28 09:49] #10876 closed, assigned to nobody

[2018-11-28 09:49] #10868 closed, assigned to nobody

[2018-11-28 09:49] #10877 closed, assigned to nobody

[2018-11-28 09:49] #10873 closed, assigned to nobody

[2018-11-28 09:50] #10869 closed, assigned to nobody

[2018-11-28 10:14] Alys commented on #7991
@Arsnael  [If the staff disagree with any of this, go with what they say]

 Regarding the text on that Trello card (good job on noticing it btw!) :

_"Has collected all the gear for at least one class and has emptied their armory X time(s)."_ - That would have been written back when we were thinking that getting an Ultimate Gear Achievement would be the unlock condition for Empty the Armory. I sti

[2018-11-29 10:09] paglias commented on #10814
I'm going to close this as the fix is live and loggly doesn't show similar errors

[2018-11-29 10:09] #10814 closed, assigned to nobody

[2018-11-29 10:14] paglias commented on #10867
This is still happening, multiple saves to the user doc when deleting an account at `/website/transpiled-babel/models/group.js:1183`. Unlinking tasks from challenges and groups was fixed in #10852, so my guess is that it could be due to this code `promises.push(payments.cancelGroupSubscriptionForUser(user, this));` trying to save the user another time

[2018-11-29 11:05] paglias commented on #10867
Actually it's likely to happen from this code in the delete user route that removes the user from all groups concurrently

[code]

[2018-11-29 13:06] Scanace commented on #10866
Hello, I want to help, can I take care of this issue?

[2018-11-29 15:45] shanaqui commented on #10806
Via email:

_EDIT BY ALYS 2018-12-12:_
I can't see any errors or any indication from Amplitude or the quest progress messages that cron didn't occur. I think this one was the app not updating itself to show that the Dailies had been reset.

[2018-11-29 21:32] Scanace commented on #10866
Hello @Alys , I already fixed this on my local installation of the website, I'll wait ulterior instructions from you!
Meanwhile I'll commit on my local repository.

[2018-11-29 22:03] Alys commented on #10866
@Scanace oh sweet! Thanks! Please do a PR for it. :)

[2018-11-30 15:05] #10716 closed, assigned to nobody

[2018-11-30 15:07] paglias opened #10880 "Account Deletion Feedback: update email"
~We had to remove the Kafka queue that handled account deletion feedbacks, it should be re-implemented but instead of sending the feedback to a Google Spreadsheet file it should send an email to the admin inbox~

See @Alys comment right below for the changes that need to be made

[2018-11-30 22:02] greenkeeper[bot] opened #10881 "An in-range update of chromedriver is breaking the build 🚨"
## The devDependency [chromedriver](https://github.com/giggio/node-chromedriver) was updated from `2.44.0` to `2.44.1`.

🚨 [View failing branch](https://github.com/HabitRPG/habitica/compare/develop...HabitRPG:greenkeeper%2Fchromedriver-2.44.1).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

chromedriver is a devDependency

[2018-12-01 04:48] Alys commented on #10880
I started writing some notes here as I was looking through the code, because I wanted to give some pointers about what changes are needed, and then I got confused because it looks very much as if the Kafka queue was already not being used for the deletion feedback. I tested by deleting a test account and the feedback email came through to us as normal, so it looks like removing the Kafka queue had

[2018-12-01 11:10] paglias commented on #10880
Ah okay, sorry I got confused. It looks like the email is sent and then the kafka queue was used to also update the Google Spreadsheet automatically. I'll rename the issue and remove the leftover code

[2018-12-01 11:12] #10881 closed, assigned to nobody

[2018-12-01 11:17] paglias commented on #10880
The leftover code was removed in https://github.com/HabitRPG/habitica/commit/7873800f87ffebf207957e4743be4d86c3c16f20

[2018-12-01 12:16] Alys commented on #10880
I was clearly confused too. I was sure the spreadsheet was done manually. :)

[2018-12-01 17:32] greenkeeper[bot] opened #10882 "An in-range update of karma is breaking the build 🚨"
## The devDependency [karma](https://github.com/karma-runner/karma) was updated from `3.1.1` to `3.1.2`.

🚨 [View failing branch](https://github.com/HabitRPG/habitica/compare/develop...HabitRPG:greenkeeper%2Fkarma-3.1.2).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

karma is a devDependency of this project. It **might n

[2018-12-01 17:53] #10882 closed, assigned to nobody

[2018-12-01 19:15] greenkeeper[bot] opened #10883 "An in-range update of karma is breaking the build 🚨"
## The devDependency [karma](https://github.com/karma-runner/karma) was updated from `3.1.2` to `3.1.3`.

🚨 [View failing branch](https://github.com/HabitRPG/habitica/compare/develop...HabitRPG:greenkeeper%2Fkarma-3.1.3).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

karma is a devDependency of this project. It **might n

[2018-12-01 22:24] #10883 closed, assigned to nobody

[2018-12-03 11:59] paglias opened #10888 "Payments Checkout Improvement - Next Phase"
Continuation of #10863

- [x] Specific success modals https://app.zeplin.io/project/57f5297225acc7213e76a733/screen/5bed96e174e6157e78dd34d9
- [x] Success message for gifting gems from balance ( no payment successful copy, no thanks for supporting habitica bottom)
- [x] Stripe group plans: always says 9$ because member count is not passed
- [x] Modals Styling https://app.zeplin.io/project/57f52972

[2018-12-04 04:20] greenkeeper[bot] opened #10889 "An in-range update of aws-sdk is breaking the build 🚨"
## The dependency [aws-sdk](https://github.com/aws/aws-sdk-js) was updated from `2.368.0` to `2.369.0`.

🚨 [View failing branch](https://github.com/HabitRPG/habitica/compare/develop...HabitRPG:greenkeeper%2Faws-sdk-2.369.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

aws-sdk is a direct dependency of this project, and

[2018-12-04 08:33] #10889 closed, assigned to nobody

[2018-12-04 08:38] #10880 closed, assigned to nobody

[2018-12-04 14:20] Tressley commented on #9247
We have updated designs on how to handle this usecase.

![image](https://user-images.githubusercontent.com/2686586/49447979-dd580d80-f7a5-11e8-860b-84d81b60f567.png)

[2018-12-04 14:21] Tressley commented on #9989
We have updated designs on how to handle this usecase.

![image](https://user-images.githubusercontent.com/2686586/49448027-f6f95500-f7a5-11e8-9445-239a96c6388a.png)

(Ghosts not included. 👻)

[2018-12-05 16:26] AliNiitsu93 commented on #6209
I've been trying to look at this problem for a while and notice, that the challenges no longer has a date-field for submitting or accepting a challenge.
Test:
- I've created an challenge, no date field required
- I've accepted a challenge, no date-field deadlines.
People have gone around the lack of date-field by placing descriptions on their title field.
So this issue shouldn't be an issue any mo

[2018-12-05 17:43] AliNiitsu93 commented on #6941
According to the first requirements. The latest version of Habitica does seem to support repeat by X days, week, month, year.
So the example cases of:
- Cleaning bathrooms once every month (Implementable)
- Replacing your home air filter once every three months (Implementable)
- Getting a free credit check once every four months  (Implementable)
So this issue should be resolved.

[2018-12-05 17:48] librarianmage commented on #6941
@AliNiitsu93 I would argue that it isn't implemented. As stated directly above the list,

The examples listed below (the ones you mention) are tasks that would be useful if they only repeated after being completed, instead of appearing on a single day before disappearing.

[2018-12-05 17:53] AliNiitsu93 commented on #6941
@MathWhiz thank you. I miss interpreted that.

[2018-12-05 17:56] evantd commented on #6941
The existing support is a fixed schedule. The request is for the next due date to be based on the most recent completion date. This has two main effects. For a task due every 3 days, for example:

* if I was supposed to do it yesterday, it should still be on the list today.
* if I did it early, the due date of the next one should be moved earlier.

This essentially changes the rule from "exactly 3

[2018-12-06 00:34] Alys commented on #6209
@AliNiitsu93 This is for dates in tasks within a Challenge. :) If you create a To-Do, you can set an optional due date. A Daily will have a Start Date, which by default will be the current day but which the Challenge owner can change. The dates are stored as UTC date-time stamps but with a value that puts them on the correct day in the Challenge owner's time zone. A participant might see the dates

[2018-12-06 13:39] SemperDisco commented on #10875
@shanaqui How can I reproduce this issue?

[2018-12-06 13:40] SemperDisco commented on #10828
@shanaqui Can I work on this issue?

[2018-12-06 13:42] SemperDisco commented on #10827
@stanhuan Can I work on this issue?

[2018-12-06 13:54] shanaqui commented on #10875
Presumably by posting an email address where the username part ends in a dot as described in the report -- I haven't tested this issue myself, so feel free to let us know if you *can* reproduce it.

[2018-12-06 13:54] shanaqui commented on #10828
'fraid I'm not the right person to ask; hopefully someone will be by soon to give you the answer!

[2018-12-06 22:20] Alys commented on #10827
@SemperDisco Best to wait until an issue is marked as "help wanted" before thinking about working on it. :) Not all issues that are posted in GitHub are suitable for working on at the moment (e.g., some need discussion first about how to best fix them). Have a look at [Guidance for Blacksmiths](https://habitica.wikia.com/wiki/Guidance_for_Blacksmiths) (the "Ways to Help" section) for some tips on

[2018-12-07 04:03] citrusella commented on #10875
It might be reproduceable using any punctuation next to the @ sign from what I just tried in my party chat. (Specifically, I tried t.@yahoo.com, y,@yahoo.com, y-@yahoo.com, and 3=@yahoo.com (though it probably would do the same if it was only the punctuation as well? IDK))

(Also if it's not obvious, I'm the reporter? XP)

[2018-12-07 10:28] SemperDisco commented on #10827
@Alys Thank you for your comment. I'm a little too eager to work on issues. I'll checkout out the Guidance page. ;)

[2018-12-07 21:35] greenkeeper[bot] opened #10901 "An in-range update of vue-template-compiler is breaking the build 🚨"
## The dependency [vue-template-compiler](https://github.com/vuejs/vue) was updated from `2.5.17` to `2.5.18`.

🚨 [View failing branch](https://github.com/HabitRPG/habitica/compare/develop...HabitRPG:greenkeeper%2Fvue-template-compiler-2.5.18).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

vue-template-compiler is a dire

[2018-12-07 21:44] greenkeeper[bot] opened #10902 "An in-range update of vue is breaking the build 🚨"
## The dependency [vue](https://github.com/vuejs/vue) was updated from `2.5.17` to `2.5.18`.

🚨 [View failing branch](https://github.com/HabitRPG/habitica/compare/develop...HabitRPG:greenkeeper%2Fvue-2.5.18).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

vue is a direct dependency of this project, and **it is very likely

[2018-12-08 03:51] Alys commented on #9596
I'm reopening this because the bug exists again (although now when you click the "sell" button, nothing happens). The fix we want is the same as in the PR that fixed it the first time: https://github.com/HabitRPG/habitica/pull/9663

For reference, this is the commit that removed the desired if-else behaviour: https://github.com/HabitRPG/habitica/commit/92e4d5cd68#diff-02353aaddddf057ac294e2caa2b18

[2018-12-08 05:07] Alys commented on #10806
@MrTea (30a44365-cc12-4d54-9a43-ac93ee3e3c6a) reported that cron failed to apply progress to the quest. This was due to a database timeout. [From Loggly:](https://habitica.loggly.com/search#terms=30a44365-cc12-4d54-9a43-ac93ee3e3c6a&from=2018-11-01T00:00:00.000Z&until=2018-12-08T05:02:22.232Z&source_group=&event=b8f54122-fa06-11e8-80a3-123ee2afbd8a,1544176741447,137634695414628642)
[code]

[2018-12-08 13:18] #10901 closed, assigned to nobody

[2018-12-08 13:18] #10902 closed, assigned to nobody

[2018-12-09 03:16] greenkeeper[bot] opened #10904 "An in-range update of node-sass is breaking the build 🚨"
## The dependency [node-sass](https://github.com/sass/node-sass) was updated from `4.10.0` to `4.11.0`.

🚨 [View failing branch](https://github.com/HabitRPG/habitica/compare/develop...HabitRPG:greenkeeper%2Fnode-sass-4.11.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

node-sass is a direct dependency of this project,

[2018-12-09 10:16] paglias commented on #10904
Problems with the coverage script, unrelated

[2018-12-09 10:16] #10904 closed, assigned to nobody

[2018-12-09 14:07] RushedLegacy commented on #9596
@Alys Hey, I'm **new** here. Just trying to help. Would appending ".inner-content" at line 24 in your referenced commit work?

The new line 24 would be:

div **.inner-content** (v-if="item.sellWarningNote")

[2018-12-09 17:46] Kirska commented on #6941
I'm actually working on an API tool for this functionality, and started on it before seeing this issue/thread, for my own use.

I've described it as repeating To-Do's (To Do Overs). This seems like the most straightforward way to implement it with the current API/app. Ideally this functionality would be part of the Daily task, as described in detail above, but it is possible with the API, using a

[2018-12-09 21:50] greenkeeper[bot] opened #10905 "An in-range update of vue-template-compiler is breaking the build 🚨"
## The dependency [vue-template-compiler](https://github.com/vuejs/vue) was updated from `2.5.18` to `2.5.19`.

🚨 [View failing branch](https://github.com/HabitRPG/habitica/compare/develop...HabitRPG:greenkeeper%2Fvue-template-compiler-2.5.19).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

vue-template-compiler is a dire

[2018-12-09 22:00] greenkeeper[bot] opened #10906 "An in-range update of vue is breaking the build 🚨"
## The dependency [vue](https://github.com/vuejs/vue) was updated from `2.5.18` to `2.5.19`.

🚨 [View failing branch](https://github.com/HabitRPG/habitica/compare/develop...HabitRPG:greenkeeper%2Fvue-2.5.19).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

vue is a direct dependency of this project, and **it is very likely

[2018-12-09 22:09] #10906 closed, assigned to nobody

[2018-12-09 22:09] #10905 closed, assigned to nobody

[2018-12-10 21:22] shanaqui commented on #10806
Are we any nearer to deciding how to divide these up/dig deeper into them/etc? Most of my recent reports don't seem to have been dug into any deeper -- should I still post new ones that come in, or do we have enough?

[2018-12-10 23:42] Alys commented on #10806
Ah heck, sorry. Those came in when I was in a really busy period so I left them alone but was planning to come back to them if no one else investigated but forgot to add that to my todo list. I'll look into them in a couple of days if no one else gets to them first.
I still want us to keep logging reports and having them investigated. There's clearly something(s) wrong and we need to track it/them

[2018-12-11 09:20] Alys commented on #10806
From RaB 3 hours ago - Cideby  @Cideby (4caf06e6-377c-404a-9dd6-7d23121e1549):

[this Loggly error](https://habitica.loggly.com/search#terms=4caf06e6-377c-404a-9dd6-7d23121e1549&from=2018-12-01T00:00:00.000Z&until=2018-12-11T09:00:41.797Z&source_group=&event=b77427b5-fd07-11e8-80b1-0234fe2ede76,1544507021442,137637998219241397) occurred at the time that their cron ran:
[code]

I've confirmed that

[2018-12-11 10:26] Alys commented on #9596
@RushedLegacy Thank you for looking at this, but I don't think that will help. I believe it's more of a problem with the `if` statements in the vue code.

[2018-12-11 10:28] Alys commented on #6941
Thank you for those details! We're about to start testing [new code](https://github.com/HabitRPG/habitica/pull/10854) for implementing Dailies that repeat based on completion date but if that falls through, the approach you describe might be something we'd look at.

[2018-12-11 12:22] SabreCat commented on #10828
@SemperDisco: Go for it!

[2018-12-11 14:21] paglias commented on #10806
If you want to keep logging issues that's fine but imho as long as they're version errors I think we have enough data already. Then it looks like there are several different problems and logging them in the same issue is a bit confusing

[2018-12-11 18:36] citrusella commented on #6941
For some reason that to-do tool idea mention got me thinking of something I have no ability to implement: Some sort of tool or script that changes the start date of a daily to the next day in the interval you want to complete it after it's done. (Which is really not that different functionally from the planned real "every X days since last completion" thing so there's not much use in trying it rig

[2018-12-12 05:03] Alys opened #10907 "challenge participant progress page should not use grey for tasks"
_EDIT: There's a partial PR at https://github.com/HabitRPG/habitica/pull/10973 which a contributor could build on if they didn't want to work on this issue from scratch._

When you are looking at a challenge's page (e.g., a page such as `https://habitica.com/challenges/6c565677-65fc-400f-b39e-52bd01e4cd7a`) and you use the "View Progress Of" > "Select a Participant" menu to view the progress of a

[2018-12-12 11:19] Alys commented on #10806
For this one from 13 days ago:

I can't see any errors or any indication from Amplitude or the quest progress messages that cron didn't occur. I think this one was the app not updating itself to show that the Dailies had been reset.

(I'm about to delete this comment and copye it as an edit into the post shanaqui made 13 days ago)

[2018-12-12 11:34] Alys commented on #10806
For this one from 15 days ago:

Extra details from a later email:

There's no errors for that player (none at ALL of any kind, which is unusual). Amplitude shows that cron is running only every second or third day. I've asked the player if they're using Habitica every day.

(I'm about to delete this comment and copy it as an edit into the post shanaqui made 15 days ago)

[2018-12-12 14:12] shanaqui commented on #10806
@paglias See my comment in the report-a-bug section on Slack for discussing the logistics on that. We'll need to figure something out since I don't have access to Loggly and can't separate the versionerror issues out, so I figured we could talk logistics there.

[2018-12-12 14:14] shanaqui commented on #10806
New report from Report a Bug, ~10 minutes before I'm posting this:

[2018-12-13 11:41] Alys commented on #10806
I can't find a reason for Zebriny's cron problem. `lastCron` and `auth.timestamps.loggedin` are both `2018-12-12T13:52:54.352Z` and that's the same time that Amplitude shows cron running. There's no quest progress message but I've confirmed that there should be. There's no errors in Loggly for Zebriny's User ID or for the party's ID. Zebriny has no large history arrays.

[2018-12-13 16:16] mrfcobf commented on #10310
Any update on this?  I have never used LastPass (in fact, I hadn't heard of it until reading this), but I have the same problem.

I'm on a brand new MacBook Pro Intel Core i9 2.9 GHz, 32 Gb of 2400 MHz DDR4 RAM, and the new video card - Intel UHD Graphics 630 1536 MB, running Mojave 10.14.3 Beta 18D21c.  (This also happens on my wife's machine and she is not running the Beta.)

[2018-12-13 17:17] jordanmehravar opened #10908 "Help with Chrome Extension: Applying Live Changes"
Hello all,

For learning purposes, I'm building a simple Chrome Extension that scores tasks. I notice that my client only makes the changes after being refreshed. Without refreshing the client, the task(s) aren't scored.

How can I make live changes to my client? Do I always have to refresh the page to update my tasks?

Cheers,
Jordan

[2018-12-13 20:36] SabreCat opened #10910 "Firefox "clear cookies at end of session" setting breaks opening new tabs"
[//]: # (Before logging this issue, please post to the Report a Bug guild from the Habitica website's Help menu. Most bugs can be handled quickly there. If a GitHub issue is needed, you will be advised of that by a moderator or staff member -- a player with a dark blue or purple name. It is recommended that you don't create a new issue unless advised to.)

[//]: # (Bugs in the mobile apps can also

[2018-12-13 20:58] Alys commented on #8931
I'll work with @shanaqui on testing this on website and Android, then if they don't have the test iOS phone by then, I'll work with Sara for iOS. I'll be sending two or more party invitations to the test accounts, then we'll see if all invitations can be viewed, accepted, rejected correctly on all platforms. I can use database searches to confirm what's happening in the backend as the front-end te

[2018-12-13 21:07] veeeeeee commented on #8307
Downgrading priority temporarily in favor of addressing payments issues and task sorting as a first priority. We have a note to revisit this in Q1 of 2019!

[2018-12-14 10:58] paglias commented on #10910
I can't find that exact setting in Firefox, can you ask Yayef about the precise steps to enable it and reproduce the problem?

[2018-12-14 11:02] paglias commented on #10910
Okay, found it, the setting is the one to set cookie expiration to when firefox is closed instead of the expiration date sent from the server. Looks like that deletes the localStorage data everytime a new tab is opened which then trigger logging in again. Not sure we can do much about it

[2018-12-14 13:38] Alys commented on #10553
I just created an account on the website and immediately checked its time zone settings in the database:
[code]

I then forced cron to run by changing `lastCron` to 24 hours ago and reloading the website (this produces the same effect as waiting a day). The time zone settings were then:
[code]

So that's the expected and correct behaviour. If a new account created on the iOS app shows different da

[2018-12-15 03:55] Alys commented on #8931
Upon further reflection, I think it's best if the testing waits until shanaqui has been sent the iOS phone. Testing on all platforms at the same time has a lot of benefits for efficiency (and hence speed), and ensuring that the test data is identical for all platforms, and keeping the same test methodology without having to write notes about it or remember / recreate what was done in the past. It

[2018-12-15 10:36] Yayef commented on #10910
I'm here. :)

FYI, Habitica is the only website acting like this. Every other one I use allows me to open as many tabs as I want without asking me to log in again.

It's not a very big deal, when I need to open multiple tabs on Habitica, I switch to Google Chrome... or I log in every new tab.

But as I ran into this issue, I wanted to share it. But it sounds like no one wants to clear its session

[2018-12-15 19:44] thebat137 commented on #9638
I've found a possibly related issue in the Food tab of the Quick Inventory.  If I:

1.  Have more than one screen's worth of food (e.g., some of each color),
2.  Scroll away from the beginning of the food list,
3.  Begin feeding pets, and
4.  Run out of enough types of food that I no longer have more than one screen's worth,

Then some of my other types of food disappear from the screen as well an

[2018-12-16 11:24] paglias commented on #10910
@Yayef I'm sorry this is happening but it looks like that settings on Firefox prevents local storage (a system to save data on your browser) from being saved correctly and since we rely on it to save your login status when you open a new tab it doesn't have the info needed to log you in. I'm not sure why this is the behavior of that setting but it's possible it's a bug in Firefox

[2018-12-17 17:52] shanaqui commented on #10806
Reported on Friday 14th Dec:

[2018-12-17 23:12] andrew-vicencio commented on #9596
@Alys I can take this issue if nobody is!

[2018-12-18 08:16] Alys commented on #9596
@andrew-vicencio Thanks very much! Comment here if you have questions.

[2018-12-18 15:26] Tressley commented on #10827
While some of Habitica's website has been optimized for mobile, there are still a lot of areas that need improvement. This is definitely on our radar, but I think we'll need to do some additional design around the mobile header and tab structure before this being ready for help.

[2018-12-18 22:19] Alys commented on #10806
For that report from Gwen (bb4a9785-82e4-49f2-a7fc-23022650e704), the data is significantly unusual and shows a clear problem. All times below are in UTC.

Account created: 2018-12-03 14:05
Cron times from Amplitude:
	December 4, 2018 2:07:10 pm
	December 7, 2018 2:24:29 pm
	December 10, 2018 3:39:42 pm
	December 11, 2018 2:26:46 pm
	December 12, 2018 2:16:52 pm
	December 13, 2018 10:07:21 pm
	Dec

[2018-12-20 11:25] Alys opened #10916 "apidocs should say how to provide comment when flagging / reporting chat messages"
The apidocs for `/api/v3/groups/:groupId/chat/:chatId/flag` should specify how to provide a reason for the flag. If my reading of the associated code is correct, the reason should be specified in a body parameter called `comment`.

Docs to be updated:
https://github.com/HabitRPG/habitica/blob/de0c62a37ff05b63dd3a46ebeb664ba4662eb5b4/website/server/controllers/api-v3/chat.js#L272-L278

Code that re

[2018-12-21 23:35] shanaqui opened #10917 "Items can't be purchased on mobile browser due to tooltip overlap"
From @ieahleen:

I can't replicate this, but here's their screenshots: https://drive.google.com/drive/folders/1bBkpAuQlUKo9Y3LcGegn8YyuciSFgD7l

[2018-12-23 00:56] Alys commented on #10758
@thebat137 (dea8a9e8-c084-438a-9a14-7fe96a73fd0a) reports that this also happens with quest scrolls:

"In the quest shop, when I expand the pet quest section and the browser window is at a certain width, the last line of pet quest scrolls is one scroll longer than all of the other lines (i.e., a "dangling" scroll), instead of the last scroll on that line being wrapped to the next row. Narrowing th

[2018-12-23 01:16] Alys commented on #7500
I'm reopening this because cTheDragons says it's still happening.

It might end up being something that needs to be fixed in HabitRPG's [Habitica Chrome chat extension](https://github.com/HabitRPG/habitica-chat-extension) but if so we can move this issue to that repo.

[2018-12-23 15:56] shanaqui opened #10918 "Rebirth unequips pet & mount even though access to same is retained"
@cTheDragons (bc10ec41-4213-4482-bbb8-558e3c3ea8d5):

_"Not sure why my mount and pet unequip when I rebrith. I have access to them again straight away to reequip."_

Related to this issue where pets/mounts aren't locked after rebirth but some of the site descriptions etc and apparently the rebirth logic thought it was: https://github.com/HabitRPG/habitica/issues/8132

[2018-12-23 18:11] paglias commented on #10908
Hi @jordanmehravar, this issue tracker is used for bugs on the website / api not for help requests, I'm sorry. You can try on the Aspiring Blacksmiths guild https://habitica.com/groups/guild/68d4a01e-db97-4786-8ee3-05d612c5af6f

But if for client you mean the habitica.com website, then yes, it doesn't have realtime updates so to see your changes you'll have to refresh the webpage / click on the sy

[2018-12-23 18:11] #10908 closed, assigned to nobody

[2018-12-23 18:12] paglias commented on #7500
It loads fine for me so I think it's an issue with the chat extension, @cTheDragons can you try to disbale it and see if it works? And if you can grab the console logs it would be great.

And yes I think it should be moved in the chat extension repo

[2018-12-23 18:12] #7500 closed

[2018-12-23 18:35] #10813 closed, assigned to nobody

[2018-12-23 18:45] #7541 closed, assigned to negue

[2018-12-23 18:56] #10213 closed, assigned to negue

[2018-12-23 22:31] cTheDragons commented on #7500
Yes, currently it only not working with the Chat Client enabled, including the latest one.

This is the error I have:
[code]

This is the errors I get when running successfully:

[code]

[2018-12-25 04:10] Zian opened #10919 "Habitica home page crashes on startup in IE11"
Steps to reproduce:
# Launch IE11
# Go to https://habitica.com/

The IE11 developer console says:

DOM7011: The code on this page disabled back and forward caching. For more information, see: http://go.microsoft.com/fwlink/?LinkID=291337
File: habitica.com
HTML1300: Navigation occurred.
File: habitica.com
HTML1500: Tag cannot be self-closing. Use an explicit closing tag.
File: habitica.com, Line:

[2018-12-25 04:11] Zian commented on #10919
Should be:

1. Launch IE11
2. Go to https://habitica.com/

[2018-12-25 10:22] Alys commented on #10806
This report from @macha33 (e7533444-4b4d-4aa1-92b7-e24fc97d9b48) on the Android app indicates that macha33 was using the app for some time in the morning before cron ran. Amplitude shows no activity at all that day before cron. I'm wondering if some of these cron problems are due to the app simply not registering actions that the players are taking.

"I think, we (my party of two members) have a b

[2018-12-25 21:16] Alys commented on #10806
Below is from magisfederal @thaiserds (991f4330-d1d0-4c68-8c19-dfe0e0ad9134). I've confirmed that their cron didn't run on 2018-12-22 but it's been okay since then. No task history problems. I can't check in Loggly because it's not working for me today (from the console logs, it's either some kind of code/dependency error at their end or the rather strict firewall at the place I"m staying at block

[2018-12-26 03:22] Alys opened #10920 "when buying new equipment, item does not disappear from Market or Seasonal Shop"
When you go to Shops > Market or Shops > Seasonal Shop to buy an equipment piece that you have not previously owned, the purchase is successful (the item appears in your Inventory immediately) but the bought item does not disappear from the Shop until you sync. I.e., it looks as if you haven't been able to buy the item, which will be confusing and frustrating to anyone attempting to use the Shop f

[2018-12-26 03:48] Alys commented on #10919
Thanks for providing all those details! This looks like the first important error from the console output:
[code]

Assuming IE11 is getting the same code as my Firefox browser, then column 1800 refers to the start of the `path` element that's shown in the view-source output below (I've added line breaks for clarity):
[code]

While it's true that that tag is self-closed, the W3C specification allow

[2018-12-26 10:42] Juliusdotsh commented on #10916
Can I take this issue?

[2018-12-26 19:46] Alys commented on #10391
I'm reopening this because it's still happening and the messages still aren't of any use. It's not uncommon for a notification to be cleared (e.g., if you're also reading chats in an app or third-party tool) and so while it's technically correct that the notification wasn't found by the website, the user doesn't need to know about that and it makes Habitica look buggier than it is.

[2018-12-26 20:59] Alys commented on #9352
Just to confirm: This still happens.

[2018-12-26 21:00] paglias commented on #10916
sure @Juliusdotsh ! let us know if you have any question

[2018-12-26 21:02] paglias commented on #10919
I think the issue comes from the second error

[code]

I can't use ie11 but if someone can it would be great if they could click on that error and see if a more precise location is given in the source map

[2018-12-26 21:23] Juliusdotsh commented on #10916
Thanks @paglias I'm fairly new to npm and node in general but watching the code and trying to log the variables i can already assume the that @Alys' fix is correct and needs to be applied only in the comment.
I have only a question that could save me a lot of time, how can i put the backend code in debug? I know that i can debug the frontend from the developer console.

[2018-12-26 21:28] Zian commented on #10919
I am using Windows 7 so I can't try Edge.

The website works in Firefox.

On Tue, Dec 25, 2018, 7:48 PM Alys <notifications@github.com wrote:

[2018-12-27 00:43] Alys commented on #9242
FYI this is still happening. I've removed some of the older comments that are no longer relevant. Here's a recent report from Il Mago, junior chemist (@ieahleen, c073342f-4a65-4a13-9ffd-9e7fa5410d6b):

_'I visit a guild from the notifications, the notification doesn't clear so next time I open the notification bubble I see the "Notification not found" (or maybe when clicking on a notification or u

[2018-12-27 14:01] paglias commented on #10919
@Zian I've found the source of the problem and working on a fix

[2018-12-27 18:38] paglias commented on #10916
@Juliusdotsh the version of Habitica that you run locally is already in development mode, but in this specific case I think that the only change needed is to a comment in the code, not to the code itself

[2018-12-27 18:39] paglias commented on #10919
@Zian this has been fixed, can you tell us if it's working properly now?

[2018-12-27 20:30] citrusella commented on #10919
I'm not Zian but I tried IE11 out and saw the same bug when I saw this earlier, but it works now (other than some visual bugs (...should these be specifically reported in their own issue? are they already reported?), like the skills window being part offscreen (and the skill titles not being constrained to the white half), the g1g1 banner (but not the inn banner) and several parts of the interface

[2018-12-27 20:52] Zian commented on #10919
The page loads now.

Thank you.

On Thu, Dec 27, 2018 at 12:30 PM citrusella <notifications@github.com>
wrote:

[2018-12-28 07:35] Alys opened #10921 "Party appears to be deleted if data loading fails"
As reported by Cynthia  @ravenlune (9272ab2c-4b66-4b74-aebd-799725885d1c) in the Report a Bug guild:

"when I first opened [a] page ... on desktop, the banner at the top of the page showed up as the "Invite Party members" text, with the mention of the Basi-list quest and everything. This caught me really of guard because I'm already in a party, and I just checked that I still am. It went away afte

[2018-12-28 18:16] #9698 closed, assigned to nobody

[2018-12-28 18:25] paglias commented on #10919
@citrusella regarding other bugs I'd say no, unless they completely break the website like this one. Unfortunately IE11 is extremely old and doesn't support many modern web features and it would take too much effort to fix all the bugs

[2018-12-28 18:25] #10919 closed, assigned to nobody

[2018-12-28 21:52] Alys commented on #10921
Another report already:

@Faranae (8fd13242-4da2-4206-b2bc-20f6ececf86e):
"I had the same issue this evening as @ravenlune, although mine was more persistent. Repeated refreshes did not restore my party, just kept getting a 502 but the rest of the site loaded. Naturally when I came here, it fixed itself! Since I knew after the second failure when I actually got the 502 that I was not unpartied, I

[2018-12-29 15:30] T-Zahil commented on #9489
Any news on this issue ? Currently, I believe there is no other way to retrieve the user's avatar from a third-party tool :/

[2018-12-30 00:27] Alys commented on #10391
As well as not showing this error to the user, it might be best to not treat it as a fatal error at all since doing so can cause other problems for the player:

_"Extra infos on the "Notification not found" thing: if a notification doesn't clear and I use the "Dismiss all" button, I get the error and the notifications are not dismissed"_ -- Il Mago, junior chemist   @ieahleen (c073342f-4a65-4a13-9

[2018-12-30 01:18] Alys opened #10924 "'@' in URL is incorrectly treated as a Username signifier"
If you post a URL that contains an '@' symbol, the website treats the URL as if it has a Username in it and it makes the URL unusable both for reading and clicking. For example, this URL was posted:

`https://medium.com/@schlaf/how-to-conduct-an-annual-life-review-that-will-catapult-you-into-the-new-year-d5aaffebac1f`

This is what the visible portion of the link looked like in the website:

`@sch

[2018-12-30 01:29] Alys commented on #10924
One way to fix this and any other similar problems that might exist would be to limit the parsing of Usernames so that it only occurs if @xxxxx is surrounded on both sides by whitespace or by the start/end of the message.

There might be rare cases where that doesn't correctly handle something that should be treated as a Username (e.g., if a player types two Usernames with no spaces between them

[2018-12-30 01:32] Alys commented on #10391
I'm changing this to suggestion-discussion for a few days to give the staff time to comment on that idea. Contributors should not attempt to implement that until/if it's changed back to help wanted.

[2018-12-31 07:44] fragmental commented on #3750
This bounty still hasn't been returned, but someone has been trying to claim it.  I rejected their claim, and need to look into what needs to happen so the donations will get returned.

[2018-12-31 08:31] fragmental commented on #3750
This is what I've found:

What happens if an issue I've backed is closed without resolution?
If the issue was closed because it was a duplicate of another issue, we will transfer the bounty to the appropriate issue.

If the issue was closed as a "won't fix", or is deemed not in line with the project's goals, the bounty is refunded.

Can I receive a refund for a bounty I posted?
If you posted a bou

[2018-12-31 12:15] hkopp commented on #829
I have a similar issue on FF 63.
The browser never prompts me to remember the password.

Best regards and happy new year

[2019-01-01 00:30] cTheDragons opened #10926 "API Content to show class name (text) instead of just key."
### Description
@Alys asked me to post this after posting in the Report of Bug Guild.

In order to assist the comrades, could we please alter the [Content.classes](https://habitica.com/apidoc/#api-Content) to have key and text like with the eggs.   (If you want to go the extra mile, notes too).

Currently it only shows keys, which leads to many new comrades using the API for the first time, puttin

[2019-01-01 02:32] Alys commented on #10926
Here's an example of how the key and text for Eggs are configured for the API's [api/v3/content route](https://habitica.com/apidoc/#api-Content-ContentGet):

https://github.com/HabitRPG/habitica/blob/de0c62a37ff05b63dd3a46ebeb664ba4662eb5b4/website/common/script/content/eggs.js#L28-L33

The notes are handled programmatically due to the need for language-specific adjectives:
https://github.com/Habi

[2019-01-01 08:43] Alys commented on #10720
I've added a note about the sell value being cached to https://github.com/HabitRPG/habitica/issues/10687 so I'm closing this issue.

[2019-01-01 08:43] #10720 closed, assigned to nobody

[2019-01-01 10:40] Alys opened #10927 "UTF emoji are being incorrect replaced with our own (missing) images"
As reported in the Report a Bug guild by @Pledge (18a6bcb4-601e-4953-a71e-b6387b7f00e4), when UTF emoji characters are entered into tasks or chat messages, they're being replaced by Habitica-hosted images even when those images don't exist. For example, for this task:

[code]
This is what it looks like:
![image](https://user-images.githubusercontent.com/1495809/50572074-5c238300-0e04-11e9-8718-eed

[2019-01-01 10:41] Alys commented on #10927
I'm marking this as suggestion-discussion so we can discuss how to best resolve this.

[2019-01-01 10:42] Alys commented on #9128
Some of the reports here might be caused by this issue: https://github.com/HabitRPG/habitica/issues/10927

[2019-01-01 17:40] GiacomoLaw commented on #10917
Isn't that what the mobile app is for?

[2019-01-01 18:22] shanaqui commented on #10917
It's not usable for everybody, e.g. people with older or incompatible phones. We have no Windows app, for instance.

[2019-01-02 06:40] GiacomoLaw commented on #10917
Ah, true. My apologies!

[2019-01-03 10:28] paglias commented on #10391
Distinguishing between different error messages is difficult right now as you can only compare the error message (which changes based on the language). So before any change is made here we should start adding unique error codes like `NOTIFICATION_NOT_FOUND` or a numberic code in this case. Then we can handle them differently based on the error

[2019-01-03 10:30] paglias commented on #9489
@T-Zahil I'm sorry but right now we don't have an ETA for this. You can look at how the website builds the avatar and try to replicate that behavior

[2019-01-03 10:31] #10916 closed, assigned to nobody

[2019-01-03 10:38] wiktordaniec commented on #10669
I see the problem still occurs. May I work on this issue?

[2019-01-03 10:47] paglias commented on #10669
@andrzejZdobywca sure, go ahead!

[2019-01-03 13:41] shanaqui opened #10929 "Staff of Sweetness duplicating part of description"
Lucas Heim @lucasheim (535a72cc-f949-4ba6-8570-639c5f763da8): "Hello!
The special item "Staff of Sweetness" is duplicating the "Two-handed item." description. Currently, it displays like this:
"This is no ordinary lollipop! The glowing orb of magic sugar atop this staff has the power to make good habits stick to you. Increases Intelligence by 15 and Perception by 7. Limited Edition 2018 Autumn Gea

[2019-01-03 14:54] shanaqui commented on #10806
New report:

"Zyldrynn Ashedoerr   @TheSpunkyGnome (6dded101-e694-42af-ab03-d0dd341ce92c) [web]
I've tried logging in on both the website and the app, and my cron won't occur, even though it is 7:20 am and my custom day start is 2 am. Thanks!"

No sign of cron via Amplitude.

----

_Edit by Alys 8 hours later (2019-01-03 22:42 UTC):_

There's nothing in Loggly either.

`lastCron` and `auth.timesta

[2019-01-03 16:45] jueast08 opened #10930 "Error on 'npm start' on a Ubuntu 18.4"
Just want to start out by saying that I love the application and really want to be able to say that I contribute to making it better. I'm starting a job in computers, but where I no longer code, and I really want to continue to grow and learn with you all.

Side note :
$\> node --version
v10.15.0

$\> npm --version
6.4.1

# The problem
$\> sudo service mongod start
$\> npm start --verbose
npm info

[2019-01-03 18:05] Rillus commented on #10917
Two potential solutions here: disable the tooltip for narrow viewports, or add a 'BUY' button to the tooltip.

There's actually some odd behaviour I  can see on Chrome/Mac where narrowing the window to single column and hovering over some equipment items makes the tooltips flicker and the item itself unclickable.

Based on this and the complications a 'Buy' button on the tooltip might cause for th

[2019-01-03 19:55] lucasheim commented on #10929
I'd be happy to do it!

[2019-01-03 21:44] paglias commented on #10929
@lucasheim thanks, that'd be great :) Let us know if you have any question

[2019-01-03 21:44] paglias commented on #10917
I think the idea of hiding the tooltip under 768px makes sense. @Tressley what do you think?

[2019-01-03 21:49] paglias commented on #10930
@jueast08 hmm never saw that error before, is there anything useful in `~/.npm/_logs/2019-01-02T10_54_58_738Z-debug.log`?

Otherwise some people with similar issues seems to have resolved them by deleting `node_modules` and running `npm install` again

[2019-01-03 22:24] Alys commented on #10391
The only places it occurs are here:
[code]

Can we just change those four pieces of code?

Another advantage of not treating this as an error would be to decrease our monthly volume of Loggly records (and also make real errors easier to find when investigating a user's bug).

[2019-01-03 22:36] paglias commented on #10391
The loggly volume isn't rest an issue and you can use isHandledError: false to filter for more important errors in loggly.

As far as the code itself I don't agree with removing the error, it's important to tell API clients if something went wrong and to distinguish between situations when an action was completed correctly and when not.

It's the responsibility of the client to treat errors differ

[2019-01-03 22:39] Alys commented on #10806
For Zyldrynn Ashedoerr, there's nothing in Loggly either. `lastCron` and `auth.timestamps.loggedin` are both `2019-01-03T12:01:25.811Z` which is usually a sign that cron did NOT stop immediately after starting, although exactly as shanaqui says there's no Amplitude record for this one (the previous cron in Amplitude is about 24 hours earlier). There's no chance this was caused by too much task his

[2019-01-04 06:44] jueast08 commented on #10930
@paglias Thanks for your response.

I've tried a clean delete and `npm install` as well as a `npm ci` but the results seem to be the same.

As far as my logs are concerned, its more or less the same information. Very vague.

0 info it worked if it ends with ok
1 verbose cli [ '/usr/bin/node', '/usr/bin/npm', 'start', '--verbose' ]
2 info using npm@6.4.1
3 info using node@v10.15.0
4 verbose run-scr

[2019-01-04 08:20] paglias commented on #10930
I don't think placing console.logs would help as the error happens before anything is started... can you try `./node_modules/.bin/gulp nodemon`?

[2019-01-04 11:34] paglias commented on #10391
I wrote a fix for this, but I'm unable to replicate the error in production, can someone list the steps to replicate it?

[2019-01-04 12:23] majestic-owl448 commented on #10391
Have some notifications, visit a guild or party from the notifications, check again the notifications and if the guild is still there try clicking on it or on "dismiss all". That makes the error appear usually

[2019-01-04 12:28] jueast08 commented on #10930
$> \~/proj_perso/habitica$ ./node_modules/.bin/gulp nodemon
[13:27:41] Using gulpfile \~/proj_perso/habitica/gulpfile.js
[13:27:41] Starting 'nodemon'...
[13:27:41] Finished 'nodemon' after 45 ms
[13:27:42] [nodemon] 1.18.7
[13:27:42] [nodemon] to restart at any time, enter `rs`
[13:27:42] [nodemon] watching: *.*
[13:27:42] [nodemon] starting `node ./website/server/index.js`
$>:~/proj_perso/habiti

[2019-01-04 13:36] paglias commented on #10930
so it started? This makes me think that it's a problem with NPM. I'd try `npm cache clean --force`, delete `node_modules`, `package-lock.json` and install again with `npm install`

[2019-01-04 13:37] Tressley commented on #10917
I agree that hiding the tooltip makes sense for now. 👍

[2019-01-04 16:54] jueast08 commented on #10930
Same error here.

[2019-01-04 16:55] jueast08 commented on #10930
And I reinstalled Ubuntu for good measure

[2019-01-05 07:17] Majed6 commented on #9489
*@**paglias <https://github.com/paglias>is it fixable by none-staffers?
does require access for some sort of configuration or is it purely
backend type of bug ?*

On 1/3/2019 1:30 PM, Matteo Pagliazzi wrote:

[2019-01-05 17:25] paglias commented on #10930
Hmm the fact that you're able to start the server with `./node_modules/.bin/gulp nodemon` makes me think that the problem is with NPM :( We run our server on Ubuntu and never had this problem unfortunately. For the time being I'd suggest starting the server directly with `./node_modules/.bin/gulp nodemon` for the backed and `node ./webpack/dev-server.js` for the client side.

[2019-01-05 18:35] jueast08 commented on #10930
I'm not actually sure that the server started, and not sure how to test it. Anyone running setting up on the newer versions of Ubuntu, 18.4 or 18.10 ?

[2019-01-06 00:48] Alys commented on #9745
Another example:
[code]

Created quite some time ago so it's possible the creation code was buggy back then, but updated recently which could also point to the update route being the problem, as we've noticed in other reports above.

_Thanks to Benjamin, the Avid Reader   @loverofbooks (fc6bd8d5-94a2-462b-ac7f-9b03bc446d45) for reporting this one._

[2019-01-06 05:18] Alys opened #10934 "Challenge and Group Plan tags cannot be sorted"
Recently, https://github.com/HabitRPG/habitica/pull/10911 was done to allow a user's personal tags to be sorted. I'm opening this issue to allow sorting to be done for Challenge tags and Group Plan tags too.

I'm marking this as a medium level task since it's likely that the code that was created for personal task sorting can be reused or expanded to allow sorting the other types of tags.

Note th

[2019-01-06 23:20] wiktordaniec commented on #10851
I think I can work on this one. It will take me some time though since I will be working on it mostly during weekends.

[2019-01-07 03:08] Alys commented on #10851
@andrzejZdobywca That's great, thanks so much! Comment here if you have questions or run into problems or if anything I've written above isn't clear.

[2019-01-07 03:37] RodEsp commented on #10690
Has this actually been fixed? I'm seeing the same behavior on the group plan I just bought.
Could I suggest just allowing the group leader to select when a group would cron or by default do it on the leader's timezone?

[2019-01-07 05:25] Alys commented on #10690
@RodEsp This hasn't been fixed. When a fix is made and approved, you'll see the "open" button at the top of this issue change to "closed", and then the fix will appear on the website in about a week (the delay is for extra testing to be done on a staging server).

For feedback about Group Plans, including suggestions, you might like to email the staff at admin@habitica.com . My personal feeling (n

[2019-01-07 05:35] RodEsp commented on #10690
Hmm... I thought I had seen this was closed... sorry! I might take a stab at fixing this then if that's alright.

After the proper discussions with the staff, of course.

[2019-01-07 18:39] andrew-vicencio commented on #10930
Hi, I have the same problem. I followed your steps for `npm cache clean --force` -> delete `node_modules`, `package-lock.json` -> `npm install`. Same error. Also using gulp nodemon directly does not start the server. No response from `localhost:8080 or :3000` as well as no node process found using `ps -aef | grep node` or `ps -ax | grep node`.

[2019-01-07 19:15] paglias commented on #10930
@jueast08 @andrew-vicencio after installing the dependencies you should open two separate terminal windows and run these commands:

[code]

and

[code]

what's the output from these commands?

After they start (the second one will take 30-60s) the API should be available at `localhost:8080` and the API at `localhost:3000` (you can verify it's working by hitting `localhost:3000/api/v3/status`)

[2019-01-07 19:17] paglias commented on #9489
@Majed6 it's fixable by non staffer and it won't require config access but the old method that required to take a screenshot of a webpage from the server isn't very efficient and should be avoided

[2019-01-07 21:04] andrew-vicencio commented on #10930
This is what I get when running `node ./webpack/dev-server.js`

[code]
and this is what I get when I run `./node_modules/.bin/gulp nodemon`

[code]
Nodemon seems to start but then never starts the express server or connect to mongo. It exits immediately after the `starting node ./website/server/index.js` line.
I also get nothing at `localhost:3000` and `localhost:8080`

[2019-01-07 23:59] Alys opened #10938 "Equipment drawer scrolling is not working"
From @Ceran (aabe567b-aa55-42c1-b612-b7699a7ba9b7):

"On the equipment page (website) with the items currently equipped: not all of the items fit in the box at the bottom of the screen. The slot for the back item for example is so far off to the right that it is nearly completely off the page. I can't see what I have equipped there and need to unequip it by finding the item amongst all of them and

[2019-01-08 03:28] Alys commented on #10938
Not actualy recent. @Ceran writes:

"It's actually not a new bug, it's been there for a few weeks at least, (I admit I was just too lazy to report XD), and I've been wondering why there is no slot for the back items for quite a while before that, until I noticed that it is there, just hidden. My back item slot is actually even further to the right than in your screenshot. The right side of the bod

[2019-01-08 13:45] shanaqui commented on #10806
Device: sperry
Android Version: 25
AppVersion: Version 1.6.1 (2040)
User ID: 031b2e9f-e37b-4324-a839-2bae68dc74eb
Details:my days aren't resetting. I tried changing the time, refreshing, & going on the website.

Their last cron was 6th January; Amplitude shows no cron since, although they have been completing tasks and using the site.

----

_edit by Alys 2019-01-10 00:45:_

for 031b2e9f-e37b-4324

[2019-01-08 17:13] Majed6 commented on #9489
@paglias  I appreciate your response. How else would we provide a PNG file if the image isn't generated in the backend ? Would you consider using a different library for the screenshot with better performance than Pageres a fix ?

[2019-01-08 18:21] Tressley opened #10941 "WEB [Dec 18] New gifting modal"
**Gifting Modal - Subscription:** https://zpl.io/VqlPvm7
**Gifting Modal - Gems:** https://zpl.io/bLxmdL7

We don't have to hold up the G1G1 promo for this, as it will still be useful to have while the event is ongoing.

[2019-01-08 18:22] Tressley commented on #10941
Want to revisit this after payments work is completed.

[2019-01-08 18:23] saraolson opened #10942 "G1G1: Implement web notification and username lookup modal"
- [ ] Implement design for the notification
- [ ] Implement design for the username lookup modal accessible from button in notification
- [ ] Send out notification to users (date pending, probably late dec, early jan?)

**Notification design:** https://zpl.io/bLKjeNM
**Username lookup modal design:** https://zpl.io/VKKpBWJ

[2019-01-08 18:35] veeeeeee commented on #5279
Removed help wanted tag bc on hold

[2019-01-08 18:43] veeeeeee commented on #4040
Removing help wanted. Open to this feature but deprioritizing in favor of more impactful changes.

[2019-01-08 18:43] phillipthelen commented on #2433
Thing that was blocking this for a long time was that we did not have a way for the client to know that a user leveled up and has not seen the level up dialog yet if they can also level up through quests. By adding a notification like "show levelup dialog" to the notifications array for the user, we could implement this then.

[2019-01-08 18:47] veeeeeee commented on #6209
Removing help wanted due to status:needing discussion

[2019-01-08 18:51] veeeeeee commented on #6426
Removing help wanted for a focused overhaul on accessibility.

[2019-01-08 18:58] veeeeeee commented on #7454
Changed priority because this likely touches on Group Plans.

[2019-01-09 00:26] librarianmage commented on #9489
I mean, it is possible <https://github.com/tsayen/dom-to-image> to generate
pngs on the client, but this does not seem the best place to do that.

On Tue, Jan 8, 2019 at 11:13 AM Majed6 <notifications@github.com> wrote:

--
Ray A.

[2019-01-09 22:11] paglias commented on #9489
Generating PNGs from the client won't probably work as the avatar must be available as as PNH image through the API...

I guess it's more complicated than I initially thought and will require some ops to be moved to a different server, sorry about that @Majed6  but I think this will have to be handled directly by staff

[2019-01-09 22:12] paglias commented on #10930
Hmm let's see if @SabreCat has some ideas

[2019-01-09 22:17] paglias commented on #10930
Unfortunately I don't use Ubuntu for my local development so I'm not able to troubleshoot but our server is running npm commands fine so my guess is there's something wrong in the npm or node installation process.

Do you maybe need to run some npm commands with `sudo`?

[2019-01-10 00:07] zmontgo commented on #10907
I think I understand what you mean. So if I'm right, you are saying that when you view the person's status, their completed dailies should show the colour that it was when they checked it off? If not, please correct me. But I'd love to take this on!

[2019-01-10 00:10] zmontgo commented on #10917
Can I take it on?

[2019-01-10 00:43] Alys commented on #10806
for 031b2e9f-e37b-4324-a839-2bae68dc74eb, they've cronned twice on 9 January (far enough apart to not be an error) but those were the first since 6 January. I can't find any errors in loggly to explain it. This one is a solid mystery. :(

[2019-01-10 00:45] Alys commented on #10806
@phillipthelen I don't have a good understanding of how the Android and iOS apps and cron interact. Can you explain briefly? E.g., does the app make call to the server to see if RYA and cron are needed when the app is started? Or when the user takes ANY action on the app? Or just some actions? Which call is it? Or does something else occur in the app to trigger RYA/cron? If you'd like to just poin

[2019-01-10 10:13] Alys opened #10943 "apidocs errors / omissions"
There's some problems with the API documentation at https://habitica.com/apidoc/ as reported by Dan Dulaney @duplaja (801998d9-f208-4357-8d2a-c792f23059a1):

- [ ] "I noticed an API documentation bug, found here (possibly the same item in other sublinks): https://habitica.com/apidoc/#api-Task-CreateUserTasks  Under frequency, for allowed values, it lists only "daily" and "weekly", but it looks lik

[2019-01-10 10:52] Alys commented on #10806
Natasha   @Natashaannan (911690dc-0c9f-4974-8754-293f1a7a2075) [android]:

"Hello, I was wondering why my dalies don't show up. I'm trying to refresh but still nothing. Did I maybe mess up with my custom day start? I really don't know"

Current time is 2019-01-10T10:45 UTC.
[code]
That shows cron started but didn't end correctly (lastCron and loggedin are different).
Amplitude doesn't have a cron

[2019-01-10 11:00] Alys commented on #10806
For the previous report (Natasha @Natashaannan (911690dc-0c9f-4974-8754-293f1a7a2075)), Amplitude does show that all actions since the previous cron were done on Android (except for some challenge actions that had platform "Unknown") so this might be from an Android app bug.

I'm about to move this comment to my previous post.

[2019-01-10 12:22] phillipthelen commented on #10806
@Alys Both apps function roughly the same. They are listening for changes to the user object in the local database. And everytime there is a change to that user object they check if certain actions are needed. One of the tests is to check if the user has `needsCron` set to true. If that is the case, they have checks to make sure the dialog is not already being displayed. If not, they pull the dail

[2019-01-10 14:01] jueast08 commented on #10930
@paglias personally,`npm run client:dev` runs fine for me. and the only issue there is

`[HPM] Error occurred while trying to proxy request /api/v4/i18n/browser-script from localhost:8080 to http://localhost:3000 (ECONNREFUSED) (https://nodejs.org/api/errors.html#errors_common_system_errors)
[HPM] Error occurred while trying to proxy request /api/v4/i18n/browser-script from localhost:8080 to http:

[2019-01-10 16:00] fncll commented on #8045
I was just wondering if natural language parsing is still being worked on? It would be such a timesaver to not have to open every task to adjust settings like difficulty, due date, etc!

[2019-01-10 16:10] NQNStudios commented on #8045
Personally I gave up on it because I have no idea how to implement the feature in question while supporting every language the user could be using.

[2019-01-10 19:59] paglias commented on #10930
@jueast08 thanks! that's quite useful. So the error seems related to the `npm start` command only, the output you're getting for `npm run client:dev` is totally expected. Could you try running `npm run client:dev` in one terminal and in another one try these three commands separately to see if one works

- `sudo npm start`
- `node ./website/server/index.js` (this should start the server but withou

[2019-01-11 15:07] jueast08 commented on #10930
@paglias Hey, buddy. You sure did put me on the right path to figuring out the problem.

@andrew-vicencio Let me know if this works for you, bud.

So I knew that `sudo npm start` wouldnn't work. I didn't need to test that. However, I had not tested `node ./website/server/index.js`. This command worked. Installing `nodemon` globably and then running `nodemon` was the most helpful command because it

[2019-01-11 20:09] cvuorinen opened #10944 "Achievements tab in user profile not clickable on mobile website"
[//]: # (Before logging this issue, please post to the Report a Bug guild from the Habitica website's Help menu. Most bugs can be handled quickly there. If a GitHub issue is needed, you will be advised of that by a moderator or staff member -- a player with a dark blue or purple name. It is recommended that you don't create a new issue unless advised to.)

[//]: # (Bugs in the mobile apps can also

[2019-01-11 23:44] greenkeeper[bot] opened #10945 "An in-range update of vue is breaking the build 🚨"
## There have been updates to the *vue* monorepo:

 + - The `dependency` [vue](https://github.com/vuejs/vue) was updated from `2.5.21` to `2.5.22`.
- The `dependency` [vue-template-compiler](https://github.com/vuejs/vue) was updated from `2.5.21` to `2.5.22`.

🚨 [View failing branch](https://github.com/HabitRPG/habitica/compare/develop...HabitRPG:greenkeeper%2Fmonorepo.vue-20190111232014).

This v

[2019-01-12 08:00] paglias commented on #10930
@jueast08 happy that it worked!

The weird thing is that `.nodemonignore` is set to ignore the files under `node_modules` https://github.com/HabitRPG/habitica/blob/develop/.nodemonignore#L1 so this shouldn't be happenign

[2019-01-12 14:39] jueast08 commented on #10938
@Alys This only happens when minimizing a bit the screen right ?
Maybe it would be nice to put the elements in a carousel ?

like

< 0 0 0 0 0 >

where < and > are arrows and 0 are the equipment squares ?

[2019-01-13 05:33] Alys commented on #10938
@jueast08 It happens for me with my browser fullscreen but I have a small laptop and a browser sidebar.

I think a carousel as on the Stable would be good. Would you like to work on it?

[2019-01-13 05:43] Alys commented on #10690
If you'd like to fix the problem described in this issue, that would be great! You can start now without further staff discussion since it's been marked as help wanted by beffymaroo, but comment here if you have questions or want extra feedback.

[2019-01-13 05:48] Alys commented on #10944
@cvuorinen Thanks! I've marked this in progress for you. Let's us know if you have any questions about creating a pull request.

[2019-01-13 08:47] manuelgrabowski commented on #10310
Same problem here, after about a minute of having the Tasks page open my Mac goes from completely silent into "it's probably gonna explode soon"-mode.

[2019-01-13 08:48] jueast08 commented on #10938
@Alys Sure, I'll take it. It'll be a nice way to get me started.

BTW, what is the resolution of your PC ? And how do I associate my avatar with my git  ?

[2019-01-13 10:43] #10391 closed, assigned to nobody

[2019-01-13 10:43] paglias commented on #10391
This has been fixed, it should go live next week

[2019-01-13 10:47] paglias commented on #10310
@manuelgrabowski which browser are you using?

[2019-01-13 14:54] manuelgrabowski commented on #10310
Safari Version 12.0.2 (14606.3.4)

[2019-01-13 17:44] RodEsp commented on #10690
Heya @Alys, sorry but I'm actually not going to be working on this.

[2019-01-13 21:47] Alys commented on #10690
@RodEsp No worries, thanks for letting us know!

[2019-01-13 21:51] Alys commented on #10938
Thanks! I've marked it as in progress for you.

You can replicate this bug on any computer by making your browser narrower until you notice it occuring. The resolution shouldn't matter.

See [Using Your Local Install to Modify Habitica%27s Website and API](http://habitica.wikia.com/wiki/Using_Your_Local_Install_to_Modify_Habitica%27s_Website_and_API) for the process of submitting pull requests and

[2019-01-14 03:22] ghost opened #10947 "Egg Hatching Issue"
Hi! I started usung Habitica a little but ago, and ive aquited a few eggs. Specifically a dragon egg. I try hatching it, and once i press hatch all my items disappear until i refresh the page. So, i am not able to hatch the egg- possible glitch?

[2019-01-14 04:41] Alys commented on #10947
Can you please report this in the Report a Bug guild? You can reach it from the Help menu in the website. We can see your account there which helps us work out what's going wrong. :) The "new issue" form here in GitHub also has a note about where to find that guild.

When you post there, please say what browser you're using including its version number and what operating system you're running, inc

[2019-01-14 04:41] #10947 closed, assigned to nobody

[2019-01-14 09:10] GiacomoLaw commented on #8757
I'm having this issue - refunded via Paypal as it was an accidental purchase. However, clicking on cancelled gives me this error. I presume my subscription is cancelled though?

Thanks!

[2019-01-14 14:40] majestic-owl448 commented on #8757
@GiacomoLaw : try writing in the Report a Bug guild inside Habitica. It is the only way that someone with the power to check would be able to take a look at your account

[2019-01-16 06:31] Jboucherie commented on #9231
I see @MathWhiz wanted to work on this, but apparently there was a blocker involved that stopped work on it until August of last year, after which there was no more discussion.

I am interested in the last listed feature, and would like to more or less repeat it just so I'm clear on the requirements:
Sunday the task appears to be completed during the week as Green.
Throughout the week, no damage o

[2019-01-17 22:16] arjunchawla commented on #10924
Hi Alys, I am willing to contribute and fix this problem.

[2019-01-18 19:59] arjunchawla commented on #10924
Please let me know if i should go ahead and work on it.

[2019-01-18 20:00] arjunchawla commented on #10943
Hi Alys, Pleas welt me know if I can start working on this problem

[2019-01-18 20:58] #10669 closed, assigned to nobody

[2019-01-18 20:58] #10866 closed, assigned to nobody

[2019-01-19 07:37] Alys commented on #10943
@arjunchawla Please do, thanks!

[2019-01-19 07:51] Alys commented on #10924
I've thought of one case where you would want the Username to be parsed when it has a character directly next to it on the left-hand side: if the user put the Username inside brackets like "(@alys )"
The best way of handling that and any other cases that we haven't thought of might be to automatically insert a space before any Username when it's been selected from the drop-down list. There's alrea

[2019-01-19 08:10] Alys commented on #9231
@Jboucherie Thank you for being willing to work on it! This has the "on hold - needs design" label which means that designs for the user interface elements are needed before work can commence (@Tressley ).

[2019-01-19 09:24] Alys opened #10954 "Habitica wiki *.wikia.com links will change to *.fandom.com in January/February 2019"
_This is on hold for now. I want it here so we don't forget later and can plan for the work when it is needed._

As described at [Help:Fandom domain migration](https://community.wikia.com/wiki/Help:Fandom_domain_migration), the wikia.com domains are being migrated to fandom.com and the process is expected to be completed in early February 2019.

This will affect our habitica.wikia.com site and all

[2019-01-19 16:33] GiacomoLaw commented on #10954
I'd be happy to take this when the time comes.

[2019-01-20 02:49] Alys opened #10955 "challenge export CSV file should include Usernames"
Currently, when a Challenge owner uses the export feature to get a CSV file, the participants are identified by only User ID and profile name. The CSV file should also have a column for Username.

I'm marking this as important priority because it makes it hard to judge challenges now as described by @Ceran (aabe567b-aa55-42c1-b612-b7699a7ba9b7):

_"With the new usernames vs display names, I find i

[2019-01-20 21:17] Mira-M commented on #10955
I can pick this one up.

[2019-01-21 12:54] youve commented on #9917
Hi!

I'm experiencing memory leaks on habitica over the past few weeks. I normally leave habitica open in a browser tab all day long so that I can check off my tasks and always have a quick view of what's next to do, but by the end of the day I'm using all 3GB of ram and all 2GB of swap space and my computer has slowed to halt. When I keep the habitica tabbed closed all day, I don't experience thi

[2019-01-21 12:56] youve commented on #4605
Hi!

I'm experiencing memory leaks on habitica over the past few weeks. I normally leave habitica open in a browser tab all day long so that I can check off my tasks and always have a quick view of what's next to do, but by the end of the day I'm using all 3GB of ram and all 2GB of swap space and my computer has slowed to halt. When I keep the habitica tabbed closed all day, I don't experience thi

[2019-01-22 01:59] Alys commented on #10806
Faelwyn the Rising Phoenix @Faelwyn (87c82b20-a762-4d27-81a5-f59bf37170bd):
_"Is there a way to force a CRON? I have not started today yet despite having my CRON set for 01:00 UTC -6. I've tried logging out of the app and back in, using the Reload Content in settings (App), deleting the cache, and refreshing the tasks screen multiple times."_

`auth.timestamps.loggedin`: `2019-01-21T07:21:54.630Z`

[2019-01-22 08:46] paglias commented on #4605
@youve sorry about that, can you try with Firefox / Chromium to see if the problems occurs with them as well?

[2019-01-22 12:24] ChesterSng commented on #9596
Hi @Alys It looks like it has been awhile since anyone has contributed to this issue, would like to work on it if it is fine!

[2019-01-22 13:58] youve commented on #4605
Hi! I experminented a little with Chromium today. Stats for just the Habitica tab.

10:00 150 k - started it.
12:00 220 k
13:06 340 k
14:00 I don't know what the memory usage was by this time because the computer froze  completely and I had to switch to a different tty to kill chromium. This was a lot earlier in the day than I usually start having memory problems probably because chromium is slowe

[2019-01-22 19:58] paglias opened #10958 "API Status Route should make a DB request"
To catch issues with the DB connection

[2019-01-22 20:01] paglias opened #10959 "Allow skipping HTTPS redirect if request comes from LB"

[2019-01-22 20:33] cTheDragons commented on #10954
Good morning, just letting you know fandom has migrated to fandom.com today.

[2019-01-22 22:14] tricksyfox commented on #9231
@Alys Are the UI designs something that help is needed on, or is it already in progress elsewhere?

[2019-01-23 00:51] Alys commented on #10954
@cTheDragons thanks very much for the notification!

**Staff**: Are you okay with all the locales files being changed in the fix for this issue? I'll wait a couple of day for objections and then mark this as help wanted if there's none.

@GiacomoLaw I'll ping you when it's marked as help wanted and you'll get first chance to confirm if you still want it. Thanks!

[2019-01-23 07:10] GiacomoLaw commented on #10954
@alys awesome, thanks!

[2019-01-23 12:40] paglias commented on #10954
@Alys I'm fine with changing them I'm just unsure how the situation regarding Transifex is and if we have a system in place to update locales across all languages

[2019-01-23 15:17] paglias opened #10960 "Webhooks: Disable a webhook after X failures"
In the same vein as #10961, bad webhooks can persist on a user indefinitely, logging errors every time they attempt to activate. Automatic cleanup would be nice!

[2019-01-23 15:20] paglias opened #10961 "Push Notifications: remove device after X failures"
We sometimes get piles of logged errors for a user who has old nonexistent devices recorded in their `pushDevices` array. We should automatically remove these bogus entries when enough pushes fail against a given device.

[2019-01-23 23:37] Alys commented on #9231
@tricksyfox The designs will be done by @Tressley

[2019-01-23 23:40] Alys commented on #10954
@GiacomoLaw You can start on this now. I've marked it as in progress for you but let us know if something's come up that prevents you having time.

For this particular change, you can ignore the usual restriction that prevents people changing the locales files for the non-"en" directories. You're welcome to change all instances of "wikia.com" to "fandom.com" in all the locates subdirectories and a

[2019-01-24 04:39] citrusella commented on #10954
I think not all the wikis in various languages have changed over. Ones that haven't do still prefix the language and *will* fail as a link (redirect to Wikia's "community doesn't exist" page) if simply changing the "wikia" to "fandom" in the link.

Links in non-English languages that have changed domain already *also* fail with the link example provided above because Wikia has changed the link's f

[2019-01-24 07:28] Alys commented on #10954
@citrusella Thank you!!! :heart:

@GiacomoLaw if you're not certain that a non-English wiki's domain name has been changed yet, just leave it as it is in all files for that language. If you'd prefer to do just the "https://habitica.wikia.com/..." links, that's fine (we can do the others later).

[2019-01-24 11:09] GiacomoLaw commented on #10954
Cool, I'll get onto it now.

[2019-01-24 11:27] GiacomoLaw commented on #10954
@Alys made the changes - hope it's all ok

[2019-01-24 16:06] shanaqui commented on #10806
Amplitude has no cron data for 24th Jan.

[2019-01-25 12:59] jueast08 commented on #10938
@Alys So, I had a busy couple of weeks with school and work and what not, and I got to take a look at the code.

For the moment, I fixed the problem (nothing special, I just added a missing css attribute). It's technically fixes the problem with a scroll bar but if I want to do what I suggested, I'd need more time to understand all of the code because the changes I've tried so far (other than that

[2019-01-26 17:44] #10955 closed, assigned to nobody

[2019-01-26 17:48] #10929 closed, assigned to nobody

[2019-01-26 17:59] #10944 closed, assigned to nobody

[2019-01-27 04:54] Alys commented on #10938
@jueast08 My personal feeling is that a scroll bar would definitely be an improvement over the current situation because right now on small screens or with larger zooms (e.g., for people with poor eyesight) the right-most equipment slots are partially or fully unusable / invisible. A quick-fix scroll bar would help the people who have this accessibility problem and a better fix could be done later

[2019-01-27 20:45] debquigg opened #10966 "Bought 42 Gems but never received them"
[//]: # (Before logging this issue, please post to the Report a Bug guild from the Habitica website's Help menu. Most bugs can be handled quickly there. If a GitHub issue is needed, you will be advised of that by a moderator or staff member -- a player with a dark blue or purple name. It is recommended that you don't create a new issue unless advised to.)

[//]: # I bought 42 gems yesterday and pa

[2019-01-28 04:59] Alys opened #10967 ""Change Username" new text needed"
From cTheDragons:

It appears the username in the settings on the web has not been updated since the changeover. It states:
"We will be transitioning login names to unique, public usernames soon. This username will be used for invitations, @mentions in chat, and messaging."

From shanaqui:
![image](https://user-images.githubusercontent.com/1495809/51815458-cd275f00-230c-11e9-8f95-457e57bc7c72.png)

[2019-01-28 05:27] Alys opened #10968 ""Apply Sort Options to Party Header" should not appear in Guilds"
As reported by @ravenlune (9272ab2c-4b66-4b74-aebd-799725885d1c):

"... when I go to a Guild page and check the member list. After I choose a different sorting method from the drop-down menu, the "Apply Sort Options to Party Header" button will show up. Said button will then stay until I refresh my browser. If I click it, my party header will be sorted according to the method I picked. But I'm ass

[2019-01-28 13:40] majestic-owl448 commented on #10966
You may want to write in the Report a Bug guild - in this way they can directly check your account and direct you as needed if they need more infos
Here is much slower than than guild

[2019-01-28 14:58] paglias commented on #10966
@debquigg sorry about that, @Ieahleen is right, could you post about your problem in the Report a Bug guild? The address is https://habitica.com/groups/guild/a29da26b-37de-4a71-b0c6-48e72a900dac

Thanks!

[2019-01-28 14:58] #10966 closed, assigned to nobody

[2019-01-28 15:50] hathix commented on #9622
Wanted to check in and see if there's any progress on this bug. This is a major missing feature and it's causing me a lot of pain, personally. I'm happy to code it up if that's OK with everyone.

[2019-01-29 01:00] Chrisyee22 commented on #10967
Hi. Could I work on this once you have chosen the new text?

[2019-01-29 02:30] Alys opened #10969 "Subscription creation fails when Stripe webook "charge.succeeded" is received"
@BennyArt (81f4bf5d-26a5-471f-8deb-3f0db7cb3e55) reported that they tried to create a subscription using Stripe, it failed due to insufficient funds, then they tried again after adding money to their credit card, and the payment succeeded (which I've confirmed in our Stripe interface) but the subscription was not created (also confirmed).

Loggly shows these errors (links will work for Habitica ad

[2019-01-29 10:02] Alys commented on #9622
@Tressley is there a design for this that @hathix could be given access to? On the original site it was a checkbox with a label "Confirm that this Daily wasn't done before applying damage". It could be in the Advanced Settings section.

[2019-01-29 10:36] paglias commented on #10969
I'll look into the second point, the 3rd one instead is expected although it shouldn't throw an error (I'll have to look into why the webhook is being sent).

The webhook handler is set to only receive and process some events related to subscriptions charges failing, the `charge.succeeded` shouldn't be sent at all so when it's received it causes an error because it's not implemented

[2019-01-29 17:49] veeeeeee commented on #9231
Hi folks! We're holding off on assigning designs to @Tressley until we have the chance to review our approach to group plans. We'd like to approach all the different use cases for tasks in a holistic fashion, and since group plans' assigning/task claiming mechanic touches on this as well, it should wait for the more thorough examination. Thanks for your interest, though--it has definitely been not

[2019-01-30 13:00] shanaqui commented on #10806
Amplitude has no cron data for 30th January, though other actions have been taken today.

[2019-01-30 14:38] Alys commented on #10969
There's another
`Cannot read property 'start' of undefined` for a new person reporting subscription problems:
[code]
https://habitica.loggly.com/search#terms=53de1835-bda2-4dce-8265-997ca3a3c1b3&from=2018-12-11T00:00:00.000Z&until=2019-01-30T14:34:55.665Z&source_group=&event=1f91dfc1-2409-11e9-80ca-12c72a2782d6,1548795721225,137680885214470081

[2019-01-30 14:40] Alys commented on #10969
And another for a Google Play subscription attempt:
TypeError: Cannot read property 'start' of undefined
    at findMysteryItems (/usr/src/habitrpg/website/transpiled-babel/libs/payments/subscriptions.js:40:116)
https://habitica.loggly.com/search#terms=942cc218-ff5a-4463-8fa0-07678e0de370&from=2018-12-11T00:00:00.000Z&until=2019-01-30T14:39:27.262Z&source_group=&event=cbd8970a-247e-11e9-8004-06515

[2019-01-30 15:04] Alys commented on #10969
The `Cannot read property 'start'` error is from the 2019-01 Mystery Set not being in website/common/script/content/mystery-sets.js . All new subscriptions will be failing since the set is meant to be given as part of them.

The other error ("Missing handler for Stripe webhook charge.succeeded") isn't related to that of course. @paglias I was assuming that webhook was being sent because a previous

[2019-01-30 22:44] shanaqui opened #10970 "Profanity blocker keeps blocking even after blocked word removed"
_@thebat137 (dea8a9e8-c084-438a-9a14-7fe96a73fd0a): "I attempted to post a message in a public guild (New Year's Resolutions) that inadvertently contained a banned word, and got the usual warning telling me to edit my message.  So I edited my message and tried to hit "send", but the warning remained in place even though the banned word was gone.  I couldn't figure out how to get the edit detected

[2019-01-31 13:10] etorres07 commented on #10917
Hey! Here coming from the Blacksmiths guild.

The screenshots don't work but I agree this sounds like HTML/CSS. I can try to recreate it myself.

Can I work on this?

Edit: @Rillus I don't mean to steal the request. I just re-read your comment and if I understood correctly you were asking first to try and work on this issue. Whichever the situation is, I'm available.

[2019-01-31 13:45] Rillus commented on #10917
Hey @eduardoltorres - I've been bogged down with paid work, so still don't have a local version running. I don't mind passing the baton, but don't have the authority to officially authorise anything!

[2019-01-31 14:09] majestic-owl448 commented on #10917
I had to clean up my drive
But confirm that the issue is still there
I don't know if with a cursor does any difference, but a touch screen with a small enough browser window cause the tooltip to cover up the item you wanted to buy

[2019-01-31 15:35] Tressley commented on #9622
There is! I would be more than happy to get that into Zeplin. Just some feedback about changes:
- The label was a bit long, so we've shortened it to "Confirm before applying damage?" with an associated tooltip.
- Toggle instead of checkbox

@hathix -- Is there an email address I can invite to our Zeplin project?

[2019-01-31 20:40] negue commented on #10692
@Tressley what do you think of increasing the width of the label ? as @fimion mentioned

[2019-01-31 21:37] Alys opened #10972 "Username should be searchable in Hall of Heroes"
When moderators view the [Hall of Heroes](https://habitica.com/hall/contributors) (`website/client/components/hall/heroes.vue`) they have a search form to search for any user (not just a contributor) by User ID. See below for a screenshot.

That search feature should also accept Usernames (not Display Names).

The placeholder text in the search form should be changed from "User ID" to "Username or

[2019-01-31 21:48] Alys commented on #10917
@eduardoltorres Thanks! Please go ahead. Comment here if you have any questions.

[2019-01-31 21:57] Alys commented on #10969
The `Cannot read property 'start'` bug has been [fixed](https://github.com/HabitRPG/habitica/commit/e294ed836dbbc8e667e677975a024fb7ea4e6f6e) (it turned out to be from a typo, not from what I wrote in my previous comment; I'd thought it was an error in mystery-sets.js because `develop` didn't have the latest version of that file at the time).

The only fix needed now is for point 3 in the top post

[2019-02-01 10:09] etorres07 commented on #10917
Awesome, thank you! @Alys

[2019-02-01 10:55] etorres07 commented on #10917
Just to make sure I'm understanding correctly, the issue here is buying a pinned item from the market using a mobile browser?

I've tried recreating this through a resized desktop browser and by USB Debugging with a phone. This is an image of the debugging recreation I was trying to make with a phone. For me, there's always the option to scroll down. Please let me know where I'm getting it wrong.

[2019-02-01 11:00] shanaqui commented on #10917
My understanding is that it isn't referring to the modal you see when you *click* on the item, but the pop-up when you hover over an item.

[2019-02-01 11:45] majestic-owl448 commented on #10917
The issue is with pinned items in the reward column, when you tap on one the tooltip appear exactly over the item and it is impossible to tap on the item to bring up the modal to buy it

Here a video of me tapping on the item (I will need to remove it at one point, but for now here it is)
https://drive.google.com/file/d/1ktrjpFsUh1XV7wM7QNpMwazTZAp7rb-5/view?usp=drivesdk

[2019-02-01 12:12] etorres07 commented on #10917
Ok, got it! I managed to at least recreate the tooltip flickering. I'll try to implement the hiding the tooltip approach discussed above. Thanks!

[2019-02-01 14:55] hathix commented on #9622
Yes, you can use neelmehta96@gmail.com! Thanks @Tressley!

[2019-02-02 14:13] Mira-M commented on #10907
I'd like take on this one please!

[2019-02-03 01:49] Alys opened #10974 "quest start process running multiple times incompletely"
On January 11, 2019 10:46:43 pm UTC, webbie @webbie_at (03117605-1b3f-4b42-a0e2-a57b135f6457) started a Veloci-Rapper quest using one scroll, and three "Your quest has started" messages appeared in party chat (see below).

There's only [one event recorded in Amplitude](https://analytics.amplitude.com/habitica/project/132025/search/03117605-1b3f-4b42-a0e2-a57b135f6457?eventFilter=quest&sessionHandl

[2019-02-03 01:50] Alys commented on #10974
I've marked this minor priority because I suspect it doesn't happen often and the damaging effect of the bug (ending up with negative quest scrolls so that future purchases seem to fail) will be fixed when this PR goes live: https://github.com/HabitRPG/habitica/pull/10953

[2019-02-03 03:25] Alys opened #10975 "Streak achievement bugs and usability problems"
As reported by thebat137 (dea8a9e8-c084-438a-9a14-7fe96a73fd0a):

"I've been getting apparently duplicate streak achievement messages lately. As I've noted before, there are certain tasks I often do together, so I will tend to check all those tasks off in a row, at which point I'll get a bunch of streak notifications in sequence.
But the strange thing I've been seeing lately is that I get several

[2019-02-03 03:55] Alys commented on #10907
Thanks @Mira-M! I've changed the label to in progress.

[2019-02-03 08:29] ChesterSng commented on #10972
I'd like to give this issue a try!

[2019-02-03 09:02] Alys commented on #10972
@ChesterSng thanks! Post here if you have any questions.

[2019-02-03 11:38] Mira-M commented on #10934
I can take this one, please!

[2019-02-03 23:05] Alys opened #10976 "cron health point loss notifications appearing twice"
As reported by webbie @webbie_at (03117605-1b3f-4b42-a0e2-a57b135f6457):

"for some time (many weeks) i noticed that the messages about how many health points i lost when starting the day appear twice. sometimes i can check if they are subtracted twice, too: they are not, i only lose them once."

I noticed that on my own account once a couple of days ago (I didn't check if the health was subtracte

[2019-02-03 23:43] majestic-owl448 commented on #10976
I noticed that the same thing happens often with the notification for mana gained at cron, today it appeared twice

[2019-02-04 14:52] Tressley commented on #9622
@hathix -- Invite sent! Here's the link to the Zeplin artboard: https://zpl.io/a3gknQy

As a note, this artboard contains a bunch of updates to styles and spacing for the modals. No need to worry about those for now. Just the label, toggle, and accompanying tooltip. 👍

[2019-02-04 15:17] hathix commented on #9622
Thanks! I'll start implementing the label/toggle/tooltip soon.

[2019-02-05 07:53] thebat137 commented on #9169
I believe I just experienced this bug again.

As I noted the last time, I have a 9 AM custom day start. I didn't do my first check-in for today ("Monday") until after midnight (i.e., real-world "Tuesday" but still Habitica "Monday").  The "record yesterday's activity" modal (i.e., finishing up "Sunday") presented me with a grayed-out task that's not normally scheduled on "Sunday", but is scheduled

[2019-02-05 07:59] thebat137 commented on #10975
An update on this bug: I just got a doubled streak achievement message right now (812 streaks), and I had to click each notification individually to make them go away. So it's possible I was misremembering what happened last time. (Or it could manifest differently under different circumstances, I suppose.)

One point which may be relevant: it happened right after my first check-in for the day, and

[2019-02-07 12:39] shanaqui commented on #9899
This seems not to have worked this time, maybe? From RaB:

[2019-02-07 14:01] ChesterSng commented on #10972
Hi @Alys can I ask where hall:getHero calls in the below code inside `website/client/components/hall/heroes.vue`?

`let hero = await this.$store.dispatch('hall:getHero', { uuid });`

[2019-02-07 17:02] #9596 closed, assigned to nobody

[2019-02-07 17:20] #10954 closed, assigned to nobody

[2019-02-07 17:39] paglias commented on #10972
@ChesterSng it comes from website/client/store/actions/hall

[2019-02-07 22:56] GiacomoLaw commented on #10721
Is there any update on this?

[2019-02-08 02:57] ChesterSng commented on #10972
Thanks @paglias!
Can I also ask where can I view/modify the API?
Currently this link here is v3: https://habitica.com/apidoc/#api-Hall-GetHero
I noticed in the code that v4 is used also. Is there a seperate documentation for it?

Edit: I realised that it calls this function.

https://github.com/HabitRPG/habitica/blob/2eab8b2c8b78fb4f0cb681632c99c9f68c543773/website/server/controllers/api-v3/hall.j

[2019-02-08 05:40] ChesterSng commented on #10972
How do I add someone to the contributor list? For example, if I have made another account, how to add that account to the contributor list to test?

[2019-02-08 05:49] Alys commented on #10972
That shouldn't be needed for testing since the search needs to work regardless of whether the searched-for user has a contributor tier, but you can add a tier to a user by filling in the fields that you see after you've searched for this User ID. The prompts in and under the empty fields should indicate what goes in there. The "Contributions" field can be left blank.

[2019-02-08 05:50] Alys commented on #10972
In my opinion, it would be best to modify that function but staff post here to say otherwise, do what they say.

[2019-02-08 05:53] ChesterSng commented on #10972
Thanks for your replies!

So all the accounts that I have created locally are supposed to appear under this list when I visit `/hall/contributors` right?

[2019-02-08 05:56] Alys commented on #10972
No, only accounts that have contributor tiers should appear there, but mods have the search form to search for any user (not just a contributor).

[2019-02-08 06:50] ghost commented on #10970
Hi! I'm new here - I might have a look at this for my first issue?

[2019-02-08 07:25] Alys commented on #10970
@bonnieetc Yes, thank you! Go ahead. Post here if you have questions.

[2019-02-08 09:52] ChesterSng commented on #10972
Hi sorry got another question again:

1.) I made another account and got its user id:
![image](https://user-images.githubusercontent.com/39242483/52470683-de545380-2bc9-11e9-977a-72b1dbf8a8b9.png)

2.) I logged into another account and got admin rights and did a search using the user id copied from above.
3.) After clicking Find User:
![image](https://user-images.githubusercontent.com/39242483/524

[2019-02-08 10:28] ChesterSng commented on #10972
Hi @Alys I made a PR, can you see if it is correct, having a bit of problem testing as seen above. Sorry for the trouble!

[2019-02-08 11:35] Alys commented on #10972
I'm replying to this in the PR since this is specifically about the code in that PR, rather than about the issue itself. :)

[2019-02-08 12:34] Tressley commented on #10721
@GiacomoLaw -- The original issue regarding the contrast in the Reward area was fixed. As for a full accessibility audit, that is a very large, time-intensive project that the Habitica staff plans to tackle in the future when it can be properly prioritized. Thanks for checking in!

[2019-02-08 15:21] CBillings92 commented on #10968
Hi! New to contributing here, but can I take a shot at this?

[2019-02-08 16:02] GiacomoLaw commented on #10721
Awesome thanks for the update 🙂

[2019-02-08 18:07] Tressley commented on #10692
@negue -- I think increasing the width of the label would help, but I'd be interested in a tooltip that could grow or shrink as needed.

[2019-02-09 03:51] Alys commented on #10875
I'm reopening this because email addresses are still being corrupted in staging:

![image](https://user-images.githubusercontent.com/1495809/52516148-ae608b00-2c71-11e9-9c34-7cf2a7de9874.png)

[2019-02-09 13:11] paglias commented on #10875
@negue hmm it looks like only some instances got fixed, it fixed cases like `test y.@gmail.com test` but not stuff like `hello@example.com`

[2019-02-09 20:05] negue commented on #10875
Alright after some hours of hacking with regex, to try having the highlights and also inside the emails... I think this highlight shouldn't be inside an email anyway.

Tomorrow I'll have a rewritten highlight method which only allows normal mentions not emails. (email`@highlight`.com)

[2019-02-10 02:58] Alys commented on #10968
@CBillings92 Sure, thanks! Comment here if you have any questions!

[2019-02-10 03:00] Alys commented on #10934
@Mira-M I'm sorry about the delay in us replying! Please do go ahead with this if you're still interested! Comment here if you have questions.

[2019-02-10 18:03] #10945 closed, assigned to nobody

[2019-02-10 22:56] CBillings92 commented on #10446
I can try my hand at this if no one has picked it up!

Is the desired functionality that the language around the Prize box should be more verbose? Does the prize from a challenge always come from the guild bank? I was thinking maybe we could do something like in the picture below. I tried adding the gem SVG within the input box but was getting the following error: 'input is a self closing element:

[2019-02-11 01:42] Alys commented on #10446
If the person creating a challenge is NOT the guild leader, then the Gems always come from their own balance.

If the person creating a challenge IS the group's leader AND there are any Gems in the group's Bank, then the Gems will be taken from the Bank. If the challenge's prize is more than the number of Gems in the Bank, all the Gems in the Bank will be used and the remaining Gems will come from

[2019-02-11 11:27] Alys commented on #10875
This is still broken in staging so I'm guessing there must be something different about local installs that allows the fix to work there. `noopener` implies that the conflict is related to markdown conversion. Maybe the markdown library is broken in local installs so no markdown conversion to a mailto link is being done there? I haven't run mine up to check though.

[2019-02-11 11:51] paglias commented on #10875
@Alys I can check on staging to see what is different than local installs but in the meantime could you post some examples of the test that cause the issues and the results on staging?

[2019-02-11 12:05] paglias commented on #10875
Actually it looks like staging wasn't properly deployed, I'm pushing it right now again

[2019-02-11 12:11] paglias commented on #10875
Deployed now

[2019-02-11 21:00] Alys opened #10985 "Group Plan tasks need second completion after approval"
As reported by @KShadowyn (0d38be36-726c-41bf-9c60-2b19d9c54d48):

"I have a group that has my family members in it. I created a daily for the kids' chores and set it so it requires approval. When they complete their chores and check it off, it requests my approval. Once I approve that daily, why do they have to go in and check the daily off again? Shouldn't it automatically complete it?"

I asked

[2019-02-11 21:32] Alys commented on #10875
The examples and results had been the same as the ones already posted here, however it's working now! Thanks for deploying.

[2019-02-11 21:32] #10875 closed, assigned to nobody

[2019-02-12 15:09] Tressley commented on #10232
I'm going to pull "needs design" off of this as I think this is a code issue. Modals should have a consistent width, but their height should always be able to accommodate varying text lengths.

[2019-02-12 15:11] Tressley commented on #10051
Since we don't allow two or more styles to be equipped, we can just remove the second instance of the "none" option. Keep the top "none" option. Going to remove the "needs design" label.

[2019-02-12 15:14] Tressley commented on #10048
This is another instance of a component that should be dynamic to account for varying text length due to translations. Removing "needs design" label as the existing design still holds up and this fix is in the code.

[2019-02-12 15:17] Tressley commented on #10041
Updated design for the day selection.

![image](https://user-images.githubusercontent.com/2686586/52645720-4c8d6480-2eaf-11e9-985d-05fe2d6d66ca.png)

[2019-02-12 15:21] Tressley commented on #9936
I believe progress has been made on this issue since it was originally opened. Trying to start a level-locked Quest shows a snack notification error.
![image](https://user-images.githubusercontent.com/2686586/52645939-c887ac80-2eaf-11e9-8f36-7c485acea728.png)

In the mean time, for additional clarity, I think we should disable the button with tooltip that states why the quest is locked.

[2019-02-12 16:04] Tressley commented on #9845
I've increased the contrast on the border-color, font-color, icon and arrow color, in addition to adding a new "Clear tags" component that will clear the current filter query.
![image](https://user-images.githubusercontent.com/2686586/52649209-e1935c00-2eb5-11e9-9262-8560c022ad0e.png)

[2019-02-12 16:23] Tressley commented on #9933
The user should still be able to view the details modal of the item, but the Buy Now button should be disabled with a small bit of text that the item is unavailable. Here's a screenshot:

![image](https://user-images.githubusercontent.com/2686586/54128914-7caf2100-43e3-11e9-99be-3578bcc68f0d.png)

[2019-02-12 17:30] shanaqui commented on #9242
And again from Report a Bug:

"Notifications have still some issues: I don't get anymore a "Notification not found error", but in a situation in which a notification didn't clear and would have resulted in that error, the "Dismiss all" button doesn't work, I need to sync and use again the button for all notifications to clear successfully"

[2019-02-12 17:50] CBillings92 commented on #10985
I'm not sure if you're looking for a more seasoned contributor for this/what the expected turn around time on this is since it's a high priority level, but I'd be willing to give it a go if that's alright!

Regardless of whether I'm actually the one who works on this, I figured I'd take a look into it just as a means to learn the code/API a little more (and who doesn't like a challenge). Trying to

[2019-02-12 17:57] Tressley commented on #9250
Here's the empty state for when a Quest isn't selected: https://zpl.io/VO09k4Q

[2019-02-12 18:02] veeeeeee commented on #9476
Adding in one level of quoting with > for now. We'll monitor the community social spaces to determine if we need to add the >> level back in to maintain quality of discourse.

[2019-02-12 18:03] Tressley commented on #9477
If A-Z is selected, we can hide the Show More/Less button since it's listing all options. If that is not the intended behavior, then the bug is the rows not collapsing as they should.

[2019-02-12 18:07] Tressley commented on #9486
This design lives in Zeplin: https://zpl.io/anxLEv2

[2019-02-13 01:22] zmontgo commented on #10985
And if you need me, I can try it, too. I'll defer to CBillings92, though!

[2019-02-13 01:23] zmontgo commented on #10969
I'm kind of new, but I have a lot of programming experience. Could I give it a go?

[2019-02-13 08:54] Alys opened #10989 "Grand Gala seasonal equipment should not appear locked when you already own it"
If you lose a piece of seasonal equipment due to death, you can buy it back at any time (which is the correct, desired behaviour) but in the Market and Rewards column the gear shows an icon and text that incorrectly indicate it's only available for a limited time (screenshots below). The icon and text should not be there.

This applies to any seasonal equipment which is in the user's account with

[2019-02-13 09:18] Alys commented on #7991
PR https://github.com/HabitRPG/habitica/pull/10826 has been tested by a few people and they've given some feedback. I've added it to the top post in this issue to keep all the requirements in one place but my edits and additions are marked with EDIT/ADD and the date (2019-02-12). Here's a summary of the main points (see the top post for full details about all of them):

- A new name is needed beca

[2019-02-13 10:25] Alys commented on #10985
@CBillings92 Thanks! Have a look at [Using Your Local Install to Modify Habitica%27s Website and API](http://habitica.wikia.com/wiki/Using_Your_Local_Install_to_Modify_Habitica%27s_Website_and_API) and search for "group plan" - one of the hits will be in a section that tells you how to add a group plan to a guild. Post here if you have questions about those details or anything else that comes up.

[2019-02-13 10:28] Alys commented on #9486
I'm putting this back on hold until I've added the details that I mentioned in the top post ("Once the design is done, I'll add some more details to this issue about how the flagging should work and what effects it should have.")

[2019-02-13 15:57] CBillings92 commented on #10985
@Alys Thanks for that suggestion! I found what you were referencing and was able to create a group and recreate the bug. I'll make sure to post here with any questions or updates.

[2019-02-13 16:17] CBillings92 commented on #10985
I suppose my first question is actually around how the UI should function ideally. Currently a user checks off a task and they're notified that it's been submitted for task approval, and the task to the assignee appears as if they have not checked it off (and no identification that it's awaiting approval). When the assigner of the task approves the task, the task still remains unchecked.

Is the i

[2019-02-13 17:16] citrusella commented on #7991
Hmm... Key to the Closet? (I changed empty to key because I like alliteration, but I could see people thinking it'd be related to the kennel keys if key was part of its name. Or maybe not. IDK.)

[2019-02-13 22:10] Alys commented on #7991
I like Key to the Closet. I think it's beneficial to reuse "Key" for this to help the players understand it. Key to the Kennels removes Pets and Mounts, Key to the Closet removes equipment.

Other ideas are still welcome. :)

[2019-02-13 22:24] Joseph67843 commented on #7991
"Closet key" does have an existing pop cultural meaning, but I don't think it would cause confusion.

https://tvtropes.org/pmwiki/pmwiki.php/Main/ClosetKey

[2019-02-13 22:27] zmontgo commented on #10985
Perhaps there should be three states for a task, in terms of how the code handles it...
1. Not Done
2. Pending approval
3. Done

[2019-02-14 14:48] brightbold commented on #7991
How about Key to the Wardrobe? It loses the nice alliteration, but retains the idea that we use  "key" for removing things, and I like it that wardrobe is an older word than closet, so it sounds more Habitican to me.

[2019-02-14 15:33] Tressley commented on #9476
![image](https://user-images.githubusercontent.com/2686586/52797443-e6861600-3043-11e9-9a32-c9d040c7592f.png)

Here's the Zeplin design: https://zpl.io/2ZL00K1

[2019-02-14 15:42] LordGreyroad opened #10991 "Dailies STILL won't reset"
I hate to post yet another one of these complaints, but from all of the many posts of this issue cropping up in the past 5+ years, I haven't found any place it's actually been resolved. Many of them refer to each other and are connected by moderators, but I haven't been able to find a resolution on any of them.
For basic info of the issue:
I'm not checked into the inn, nor have I ever been.
This h

[2019-02-14 17:51] beffymaroo commented on #7991
Commenting to note this is on my radar! I can work on some of the text changes needed, other stuff will need more discussion with the team, I think. :)

[2019-02-14 20:50] paglias commented on #10991
Hi @LordGreyroad, sorry about this, are you using the website or the mobile app? in which case, is that on android or ios?

Also could you post this in the Report a Bug Guild at https://habitica.com/groups/guild/a29da26b-37de-4a71-b0c6-48e72a900dac? As that it's where we handle all support requests

[2019-02-14 21:13] saraolson commented on #7991
alrighty! so the team just have a discussion about some of the lingering questions around this feature and have come to some conclusions we're happy with:

**The name:**
We like 'Key to the Wardrobe'! It sounds fantastical and brings up memories of the lion, the witch, and the wardrobe which is right in habitica's spirit.

**Login Incentive gear:**
We'd like to assign gold prices to this gear base

[2019-02-15 02:28] Arsnael commented on #7991
I'm busy lately but promise to check it out when I have some time. Thanks team for reviewing and clarifying the requirements ! :)

[2019-02-15 12:39] shanaqui opened #10992 "Equipment name very faint and weirdly aligned"
Reported by Maybe Steve Rogers, confirmed by me, screenshot:

![image](https://user-images.githubusercontent.com/8144640/52857292-9def5b00-311e-11e9-93c7-50ebd0d4a345.png)

The name of the item is there, but faint and bottom-aligned (where I would expect it to be centered vertically in the space available).

[2019-02-15 20:07] #10991 closed, assigned to nobody

[2019-02-16 01:49] Alys opened #10996 "Party header sort order not working reliably"
@ravenlune (9272ab2c-4b66-4b74-aebd-799725885d1c) is having a problem with the sort order in the party header and first reported it about four days ago. I haven't been able to replicate it or seen other reports but it's a consistent problem for ravenlune. Their browser is Chrome 72

**ravenlune**:
"when you pick a different sort option for your party header, is it supposed to keep resetting when y

[2019-02-16 02:34] Alys commented on #10969
@zmontgo Sorry it's taken us a few days to reply! Yes, please do go ahead with this if you'd like to! Post here if you have any questions.

[2019-02-16 03:31] zmontgo commented on #10969
Great! Do you think I need access to the link, or will the error code tell me all I need to know?
I know this is kind of a weird question from your perspective, but I don't know what that link leads to.

[2019-02-16 19:45] CBillings92 commented on #10985
Just an update on this (figure I'd share my updates since I'm still new to this code base, hoping I'm on the right path with the correct assumptions)

Seems like the issue is multi-faceted. Currently when I'm on my Tasks screen as a user that's been assigned a task that needs to be approved, and I check off that task...

1) The daily does not get marked with a check mark (stays as it was) (is this

[2019-02-16 19:54] GiacomoLaw commented on #10967
Any update on this? If @Chrisyee22 doesn't want to do it anymore, I can do so.

[2019-02-16 20:08] Chrisyee22 commented on #10967
Hi @GiacomoLaw, I'd still like to work on this issue. I was waiting for the new text to be decided upon.

[2019-02-16 20:35] GiacomoLaw commented on #10967
@Chrisyee22 awesome, thanks!

[2019-02-17 04:17] Alys opened #10997 "incorrect Pets (and maybe Mounts) displayed / starred in Stable"
There's client-side bugs in the Stable related to searching for and equipping pets.

It might affect mounts too. I haven't tested since I assume that if mounts are broken too, the pets fix would fix them as well. However any coder working on this might want to test mounts either before their fix or at least afterwards.

Here's a report by Praxis  @Praxissima (0ce6d43b-efa2-45a3-acaa-59daad7d658d)

[2019-02-17 04:34] Alys commented on #10386
I think we've suspected for a while that this might still be happening (I've found some large history entries in people reporting cron failures and I _think_ SabreCat has too but I might be misremembering). I'm more certain now so I'm reopening this. @NookaBean (77468ba2-c08a-4c12-9cb8-70c6a7ee437c) has reported:

"There was some kind of error message while I started my new day. Now it's saying I

[2019-02-17 04:36] Alys commented on #10806
I am pretty sure that the "history arrays are large" bug is still happening so I've reopened https://github.com/HabitRPG/habitica/issues/10386 however I'm certain that it's not the cause of all the cron failures (I check history arrays for many of the reports and a lot are not associated with large arrays).

[2019-02-17 04:56] Alys opened #10998 "Pale Moon browser no longer works correctly with Habitica"
There are two recent reports of Habitica not working correctly in the [Pale Moon](https://www.palemoon.org/) browser, which is "forked off from Firefox/Mozilla code a number of years ago... from mature Mozilla code and regularly updated". I'm going to copy the reports into their own comments here because they're a bit long and having them clearly separated might help. If I get time, I'll install t

[2019-02-17 04:57] Alys commented on #10998
(adding on to the end of my previous post)
... so I think this is a Habitica bug rather than a bug in Pale Moon.

[2019-02-17 04:59] Alys commented on #10998
@PixelsMom (f12552f2-05c8-4401-90b9-8ea621a5e4e2) reported in RaB 10 hours ago:

[2019-02-17 05:05] Alys commented on #10998
@shewhoknits (e1d43f13-4a7b-4188-8844-127b4f63c67c) first reported this a couple of days ago (after the release I mentioned above was released) and there's been an ongoing conversation about it in RaB:

SheWhoKnits:

shanaqui:

SheWhoKnits:

Alys:

SheWhoKnits:

Alys:

SheWhoKnits:

[2019-02-17 05:11] Alys commented on #10998
Note that SheWhoKnits (e1d43f13-4a7b-4188-8844-127b4f63c67c) has kindly offered to answer more questions, and I am guessing that PixelsMom (f12552f2-05c8-4401-90b9-8ea621a5e4e2) also wouldn't mind since they also took the time to make a detailed report (I'm about to ask them if that's okay and I'll post here if they say no). If we admins do have more questions, I'd suggest sending private messages

[2019-02-17 05:56] Alys opened #10999 "removed from Challenges inappropriately"
As reported by @ravenlune (9272ab2c-4b66-4b74-aebd-799725885d1c):

"I just noticed something very odd... Looking through my task list, several challenge tasks I had were no longer associated with the challenges I joined to get them (no megaphone icon, I could delete them as normal), but I'm certain I never left those challenges and the challenges had not ended. I have re-joined all of the challeng

[2019-02-17 09:12] majestic-owl448 commented on #10999
May the user have left the guild in which the challenges were kept or that issue has been fixed and is impossible for that to happen now?

[2019-02-17 10:12] paglias commented on #10386
I'm not sure that's the case because VersionError(s) are not a generic type
of error but they are only thrown manually by mongoose when you try to
update a document in parallel. It's more likely having clicked the start my
day button without the request for scoring a daily being complete

Il giorno Dom 17 Feb 2019, 05:34 Alys <notifications@github.com> ha scritto:

[2019-02-17 11:56] Alys commented on #10998
I think this is actually caused by a recent update in one of the node modules that Habitica uses. I did some tests on my local install with older versions of the site. Here's the sequence of staps and results:

$ rm -rf node_modules/

$ git checkout ef412c7185a82f2e2b5a3fdc776a60380a35bebd

$ npm install

\# the site works

$ git checkout 0155491a684be2d10442065e3b683624d9ce8134

\# site works

$

[2019-02-17 12:13] Alys commented on #10999
Ah, sorry, that's a good question and I meant to include a note about it! That issue was fixed (https://github.com/HabitRPG/habitica/issues/7764 "Leaving the guild removes you from the challenges") although looking at it again now I've realised that the Android version is still open: https://github.com/HabitRPG/habitica-android/issues/906
However all of the challenges that ravenlune listed are "pu

[2019-02-17 12:20] majestic-owl448 commented on #10999
It used to happen if one was a member of the Tavern guild (the one found in
the list of guilds, it still found in the iOS guild list but I don't see it
on the website), leaving the Tavern guild would cause that with public
challenge. May it be worth asking if they were a member of that guild and
then left it? Just to be sure that that is not the case.

[2019-02-17 12:21] paglias commented on #10998
It's very likely that this come from a change in Vue.js but unfortunately they don't support Pale Moon and we don't have the resources to support all existing browser apart from the major ones (Chrome, Firefox, Safari and IE/Edge).

I'll leave the issue open in case any contributor wants to propose a fix but we won't fix it ourselves. And it's possible that the necessary change will have to be don

[2019-02-17 12:22] Alys commented on #10969
@zmontgo That's a valid question! The link leads to a site that's only accessible to admins because it can contain private data about user accounts, but below is most of the data from the log file record. However I think the only relevant details are `"Missing handler for Stripe webhook charge.succeeded" at Object.handleWebhooks (/usr/src/habitrpg/website/transpiled-babel/libs/payments/stripe.js:2

[2019-02-17 12:30] paglias commented on #10969
So I checked Stripe and the error is thrown because Stripe is set to send a webhook for `charge.succeeded` events which we're not handling, I'll disable it in the next few days

[2019-02-17 12:33] Alys commented on #10999
Ha! The Tavern guild is still visible in Android too - I hadn't realised that but I've just checked now and it's there.
Also our logs show that ravenlune joined the Tavern "guild" in mid-February. From what I can see they are no longer a member now. I'll PM them to double-check, but I'll bet you're right @Ieahleen - genius,  thanks!

[2019-02-17 12:51] Alys commented on #10969
@paglias To clarify, you are saying that @zmontgo should stop working on this issue - right?

[2019-02-17 12:58] Alys commented on #10386
Cool, so preventing the start my day button being clicked while a sync is in progress would stop that kind of error happening. Is that something that can be done?

[2019-02-17 13:20] paglias commented on #10386
Yeah it can be done but it'll have to be a platform specific change (so a
fix each for web, iOS and Android)

Il giorno Dom 17 Feb 2019, 13:58 Alys <notifications@github.com> ha scritto:

[2019-02-17 13:21] paglias commented on #10969
If the only remaining issue is number 3, yes it can be solved by changing a
setting in Stripe but first I want to be sure it wasn't enabled for any
other reason.

Il giorno Dom 17 Feb 2019, 13:51 Alys <notifications@github.com> ha scritto:

[2019-02-17 23:59] Alys commented on #10997
Extra info from Praxis @Praxissima (0ce6d43b-efa2-45a3-acaa-59daad7d658d) (everything below is their post from RaB):

I think it may help to add that the selection process when it (nearly always) went wrong involved these steps:

1. Type a "type" keyword (such as quartz) in the search bar.
1. Select a specific pet species (e.g.fox) from the menu of pet icons that display in the main window.

Today

[2019-02-18 02:10] zmontgo commented on #10969
Oh, well that's good, because I can't get my local install to work for some reason.

[2019-02-18 15:37] shanaqui opened #11002 "Editing tasks not available on mobile version"
Reported via email, confirmed in Chrome on Android.

Tapping a task to edit it doesn't work on mobile version of the website, and the three dots dropdown won't open either.

[2019-02-18 21:01] greenkeeper[bot] opened #11004 "An in-range update of aws-sdk is breaking the build 🚨"
## The dependency [aws-sdk](https://github.com/aws/aws-sdk-js) was updated from `2.404.0` to `2.405.0`.

🚨 [View failing branch](https://github.com/HabitRPG/habitica/compare/develop...HabitRPG:greenkeeper%2Faws-sdk-2.405.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

aws-sdk is a direct dependency of this project, and

[2019-02-18 21:59] shanaqui opened #11006 "Can't type in who to award challenge to"
Reported by LaMama Fox:

I've reproduced this in Chrome, and confirmed it applies to all challenges. Screenshot shows exactly the field we're referring to.

![image](https://user-images.githubusercontent.com/8144640/52978212-33f9de80-33c8-11e9-9116-970ffbc66f90.png)

[2019-02-19 02:42] greenkeeper[bot] opened #11007 "An in-range update of bootstrap-vue is breaking the build 🚨"
## The dependency [bootstrap-vue](https://github.com/bootstrap-vue/bootstrap-vue) was updated from `2.0.0-rc.12` to `2.0.0-rc.13`.

🚨 [View failing branch](https://github.com/HabitRPG/habitica/compare/develop...HabitRPG:greenkeeper%2Fbootstrap-vue-2.0.0-rc.13).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

bootstrap-vue

[2019-02-19 03:51] Alys commented on #10687
Just to confirm, this is still happening, and in addition, if you accept the default value, the actual amount sold is just 1 as reported by @Chachee4 (77ac774b-4663-44a9-b00f-826b5a901767):

'After I select 2 or more in the "How many items would you like to sell?" box and move to a different egg or potion, the number (of items) remains the same in the new window, but if I select sell, it only sell

[2019-02-19 04:15] Alys opened #11008 "Tag text overlaps and tags are not in correct sort order and groupings in task edit screen"
As reported by @ravenlune (9272ab2c-4b66-4b74-aebd-799725885d1c) and confirmed by @cTheDragons:
"The text for longer tags now overlaps, making several tags unreadable as seen [below]"

ravenlune also says:
"it seems like the issue is this bit in the CSS:
`#task-modal .option label { max-height: 30px; }`
For the time being, overriding that part with max-height: none !important; seems to work fine a

[2019-02-19 04:16] Alys commented on #11008
New information from ravenlune about the tags overlapping:

"it seems like the issue is this bit in the CSS:
`#task-modal .option label { max-height: 30px; }`
For the time being, overriding that part with max-height: none !important; seems to work fine and that formats it exactly like the tags filter at the top of the tasks screen. I don't know if saying this was needed or not, I guess I felt like

[2019-02-19 04:26] Alys opened #11009 "closing one modal causes a second to close"
As reported by Alisa / @AntimonyCat (a1c898ea-8920-47f2-bf48-ef1f19d066c7):

"Whenever I check in for the first time on desktop, if I have two popups I never get to read the first one. (E.g. the one for my daily check in + one for a completed quest)."

"I'm not sure when exactly the first window closes. I see it for a split second before the second pop-up shows up either on top of the first one or

[2019-02-19 13:08] greenkeeper[bot] opened #11010 "An in-range update of hellojs is breaking the build 🚨"
## The dependency [hellojs](https://github.com/MrSwitch/hello.js) was updated from `1.18.0` to `1.18.1`.

🚨 [View failing branch](https://github.com/HabitRPG/habitica/compare/develop...HabitRPG:greenkeeper%2Fhellojs-1.18.1).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

hellojs is a direct dependency of this project, and

[2019-02-19 14:40] Tressley commented on #9902
For this feature we're looking to introduce a "developer mode" toggle that will help align with more of the power-user/developer type requests we receive. This toggle will live on the API tab of Settings and allow power-users to enable the more advanced API-level controls while more common, daily users can still use a more streamlined interface.

![image](https://user-images.githubusercontent.com/

[2019-02-19 15:29] bauerbach opened #11011 "Rewards Column Occasionally Vanishes"
[//]: # (Before logging this issue, please post to the Report a Bug guild from the Habitica website's Help menu. Most bugs can be handled quickly there. If a GitHub issue is needed, you will be advised of that by a moderator or staff member -- a player with a dark blue or purple name. It is recommended that you don't create a new issue unless advised to.)

[//]: # (Bugs in the mobile apps can also

[2019-02-19 16:35] greenkeeper[bot] opened #11012 "An in-range update of mongoose is breaking the build 🚨"
## The dependency [mongoose](https://github.com/Automattic/mongoose) was updated from `5.4.13` to `5.4.14`.

🚨 [View failing branch](https://github.com/HabitRPG/habitica/compare/develop...HabitRPG:greenkeeper%2Fmongoose-5.4.14).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

mongoose is a direct dependency of this project

[2019-02-19 17:25] paglias commented on #11011
Thanks for the console log @bauerbach ! I think this is a duplicate of https://github.com/HabitRPG/habitica/issues/10134. If it happens again coudl you click on `inAppRewards.js` and post a screenshot of what appears (it might take a few seconds for it to load correctly)

[2019-02-19 17:38] Tressley commented on #9501
As a note Feral Bust Bunnies price will go to 1 Gem and Basi-List price will go to 100G since these are our "mini-quests."

[2019-02-19 22:01] shanaqui commented on #11009
More info added today:

Alisa @AntimonyCat (a1c898ea-8920-47f2-bf48-ef1f19d066c7): "@Alys I paid more attention to how this bug looked this morning - the first pop-up window actually disappeared just before the second popped up, but too quickly for me to even have a chance to read it."

[2019-02-19 22:06] shanaqui commented on #10997
Extra info:

[2019-02-19 22:57] Alys commented on #10999
@Ieahleen You were right! Excellent work, thanks very much!

I'm closing this issue because we have two others already open which will prevent this happening to anyone else: https://github.com/HabitRPG/habitica/issues/7431 ("API must not include Tavern in list of guilds") and https://github.com/HabitRPG/habitica-android/issues/906 ("player should not be automatically removed from Challenges when l

[2019-02-19 22:57] #10999 closed, assigned to Alys

[2019-02-20 11:56] shanaqui commented on #10997
Here's a further report from Praxis:

*However*, I cannot reproduce this or indeed any of the issues they were seeing.

I can reproduce what Alys saw.

[2019-02-20 19:58] SabreCat commented on #11006
The behavior I'm seeing is that you can tab to the field and type in it, but not click it. Is that what others are experiencing?

[2019-02-20 20:19] shanaqui commented on #11006
I can't tab into it either (Windows/Chrome).

[2019-02-20 20:37] SabreCat commented on #11006
fixed in ada09f3d5ae4d4

[2019-02-20 20:37] #11006 closed, assigned to nobody

[2019-02-21 11:42] shanaqui opened #11014 "Username no longer clickable in Hall of Heroes"
Previously, clicking on someone's username in the Hall of Heroes brought up their profile. It no longer does, so contributors can no longer use the Hall of Heroes to find and message each other.

[2019-02-21 12:03] shanaqui opened #11015 "Scrollbar disabled after certain modals (popups) appear"
Confirmed in Chrome on Windows 10.

[2019-02-21 19:33] #10972 closed, assigned to nobody

[2019-02-21 19:35] #10968 closed, assigned to nobody

[2019-02-22 15:00] shanaqui opened #11016 "Navigation bar / Navbar broken on small screens/resized windows"
I'm gathering various reports about this into one issue so they're not lost and we can see the breadth of the issue.

[2019-02-22 15:03] shanaqui commented on #11016
I've also confirmed this issue on Windows 10/Chrome if I resize the window to about half the screen's width, at a resolution of 1920 x 1080 on a 24" monitor, if that helps at all.

[2019-02-22 15:08] stuttste commented on #11015
Hi Habitica team, new potential contributor here. I've confirmed this issue happens to me in Chrome and Internet Explorer on Windows 10 as well. I think this issue should be a good initial issue to dig into. Can I get confirmation from an admin to begin? I should be able to start looking into it this weekend.

[2019-02-22 15:58] SabreCat commented on #11015
We'll probably look at it ourselves too, but feel free to dig into it, @stuttste !

[2019-02-22 20:33] greenkeeper[bot] opened #11017 "An in-range update of coveralls is breaking the build 🚨"
## The devDependency [coveralls](https://github.com/nickmerwin/node-coveralls) was updated from `3.0.2` to `3.0.3`.

🚨 [View failing branch](https://github.com/HabitRPG/habitica/compare/develop...HabitRPG:greenkeeper%2Fcoveralls-3.0.3).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

coveralls is a devDependency of this pr

[2019-02-23 02:53] SabreCat opened #11018 "Official Challenges not sorting to top"
### Description
[//]: # (Describe bug in detail here. Include screenshots if helpful.)
Challenges marked "Habitica Official", such as the monthly Take This challenges, should show up at the top of the "Discover Challenges" view. Currently they aren't--you have to either filter on the category or do some very painful manual scrolling to find them.

#### Console Errors
[//]: # (Include any JavaScrip

[2019-02-23 08:01] Chrisyee22 commented on #10967
Hi @Alys. Just wondering if the staff has chosen a new text?

[2019-02-23 10:01] #11007 closed, assigned to nobody

[2019-02-23 10:07] #11017 closed, assigned to nobody

[2019-02-23 10:07] #11004 closed, assigned to nobody

[2019-02-23 10:07] #11010 closed, assigned to nobody

[2019-02-23 10:07] #11012 closed, assigned to nobody

[2019-02-23 12:13] Alys commented on #11016
@LadySam (96ff3029-60cb-4e9a-beaf-fcd95d518e81) gave us the information below as requested by SabreCat, but this bug can be replicated in any browser by dragging the browser window narrower until the navigation bar gets corrupted:

_"I'm using Google Chrome (but I have the same problem when I use Samsung Internet). I think my screen size is 5.38 inches by 2.75 inches. Thank you for your help!"_

[2019-02-23 13:13] Alys opened #11020 "profile URL for non-existent / deleted account should show an error message"
If you click on a profile URL for an account that does not exist (e.g., when someone has deleted their account), you see just whitespace where the body of the page should be - i.e., there's no message to indicate why loading the profile failed. You can see an example of this at https://habitica.com/profile/12345678-b5b9-4bb4-8b82-123456789abc which uses a User ID that isn't associated with any acc

[2019-02-23 20:03] robert-osborne commented on #11015
Confirm this happens reliably on this page.  But I've seen the disappearing scrollbars on other pages as well (just not reliably duplicatable).  Especially switching to Shops -> Quests or Inventory -> Stable so this might be related.

[2019-02-24 02:36] Alys opened #11026 "Stats modal caches old data / reload needed before allocating point after level-up"
When your Stats Points change, the User Icon > Stats modal does not show your current Stats Points until you reload the website with your browser's refresh button. A sync is not enough to make it show your current Stat Points (but it should be enough).

There's at least a couple of ways you can see the effects of this bug

---

### First way:
1. Make a note of what your Stat Points are.
2. Make a

[2019-02-24 02:55] brightbold commented on #11015
Can also confirm this happens (and appears to be consistently reproducible) in Chrome, Firefox, and Safari on Mac.

[2019-02-24 03:00] Alys commented on #11015
There's a report from @Ensorceled (4428e727-2a0e-4072-b578-fc28029b33f3) indicating that this bug might occur under other circumstances too:

"the scroll bars will sometimes disappear when I do an action (this is new behaviour):

1. Inventory -> Equipment equip an item and then the scroll bar disappears and I have to reload the page (refresh every time)
2. Switch to Shops -> Quests or Inventory ->

[2019-02-24 04:12] aszlig commented on #11015
When closing the modal, the `modal-open` class is still active, which in turn suppresses the scrollbar. There is also [this workaround](https://github.com/HabitRPG/habitica/blob/88745588277c5a9896d9378614e43f928c13680a/website/client/app.vue#L157) which I'd guess doesn't work anymore since the [upgrade of boostrap-vue to 2.0.0-rc.13](https://github.com/HabitRPG/habitica/commit/ada09f3d5ae4d47ff589

[2019-02-24 10:15] Alys opened #11027 "markdown should be parsed in Private Message (PM) previews"
As reported by @ravenlune (9272ab2c-4b66-4b74-aebd-799725885d1c):

"Markdown doesn't render in PM previews, when it does in the actual message being previewed."

![image](https://user-images.githubusercontent.com/1495809/53297879-c854bd00-3870-11e9-9373-44b999235288.png)

I.e., markdown parsing needs to be done in the preview page on the left-hand side of the PM modal.

[2019-02-24 13:55] paglias commented on #11027
I think the preview should only show the text, rendering markdown there would ruin the design when using big elements, maybe we can just render normal text without the markdown formatting @Tressley

[2019-02-24 14:08] citrusella commented on #11015
I don't know if it's the same cause (though the modal-open class *is* active), but I lost a scrollbar after RYA followed by a quest completion modal.

[2019-02-25 10:55] shanaqui opened #11028 "Using a skill on a task can check off checklist items"
_EDIT: See the first comment for a confirmation of the desired fix._

Tested and confirmed in Windows 10 / Chrome.

I agree with the poster that this behaviour is unexpected, and I think at the very least should be consistent (i.e. clicking with the skill near the main checkbox should check off the whole task, if clicking with the skill can check off the subtasks).

[2019-02-25 12:05] Alys commented on #11027
Those previews will often be messages written by other people, and if the user viewing the preview doesn't understand markdown (quite common), then the preview will appear weird and buggy. It would need to have the markdown parsed for them to understand it.

If the main objection is that header markdown will produce text that's too large, it might be best to parse the markdown normally but apply s

[2019-02-25 12:23] paglias commented on #11027
I'd say it's pretty normal around the web to have a preview of 2 lines not show any formatting apart from the basics, also because it could create problems with clickable links since clicking on the preview also opens the message but let's see what @Tressley thinks

[2019-02-25 12:31] Alys commented on #11027
That's what adjusting the css could do - it could change the text that otherwise would have special formatting (large headings, also bold/italics/code text if you want) and would make it look like normal text. It's an easy way to "remove" markdown.

[2019-02-25 12:33] Alys commented on #10967
@Chrisyee22 No, they haven't yet. It will be posted here when they have.

[2019-02-25 16:21] stuttste commented on #11015
I was unable to work on this as much as I had hoped, but I did at least confirm the issue is caused at some point after gearToEquip is assigned in the openEquipDialog() method of website/client/components/inventory/equipment/index.vue. Commenting out the code that assigns the value seemed to stop the modal from popping up, but the scrollbar remained active.

I'm unsure how helpful that is, but I t

[2019-02-25 23:03] SabreCat commented on #11015
Commit above is a temporary fix patching over the situation in just the Equip screen case. We'll want a better and more thorough solution, but it looks like it may be a `bootstrap-vue` bug? The `bv::modal::hide` event should be handling this.

[2019-02-26 07:12] alecbrick commented on #11018
I'll take a look at this.

[2019-02-26 08:03] Alys commented on #10134
From @ravenlune (9272ab2c-4b66-4b74-aebd-799725885d1c):

"My rewards column disappeared twice today. Seems to be the same as this issue on GitHub. I can't remember when it first happened (it fixed itself on refresh), but sometime this afternoon. Second time was around 12 am EST. I believe I unpinned the 3rd Dilatory Distress quest (yesterday, possibly day before that) and the shield-hand Scimitar

[2019-02-26 08:13] Alys opened #11029 "Mystery Item gift box number does not decrease when gifts are claimed"
From @cTheDragons (bc10ec41-4213-4482-bbb8-558e3c3ea8d5), confirmed by me on the habitica.com site:

"When I click on my mystery box on the website, the box number does not decrease or disappear when I pull out each item."

I'm marking this high priority because it's going to confuse subscribers over the next few days.

---

To replicate this bug in a local install, use a database update command t

[2019-02-26 08:39] Alys commented on #11018
@alecbrick Thanks! Post here if you have questions.

[2019-02-26 09:37] paglias commented on #10134
@negue looks like (from the last screenshots) that some pinned items are undefined?

[2019-02-26 13:20] ChesterSng commented on #11029
Hi @Alys I would like to try this issue!

[2019-02-26 14:41] SabreCat commented on #11016
This appears to be caused by recent updates to the `bootstrap-vue` package. Unfortunately, rolling back causes the Challenge award dropdown to break again...

[2019-02-26 16:10] SabreCat commented on #11016
Fixed in 53555a0f161a88

[2019-02-26 16:10] #11016 closed, assigned to nobody

[2019-02-26 20:14] negue commented on #10134
I checked all possible methods where the pinnedItems is modified, couldn't find any line which could insert an undefined/null entry.

But I added some more checks and cleanups (if the `user.pinnedItems` still manages to get an undefined entry, that those entries get removed, when getting the rewards)

[2019-02-27 09:43] alecbrick commented on #11026
I can look into this.

[2019-02-27 17:56] bauerbach commented on #11011
This is what appears in inAppRewards.js (the bug happened again today):

[![screenshot.png](https://i.postimg.cc/ydPQLVzF/screenshot.png)](https://postimg.cc/k62v4PG4)

[2019-02-27 17:57] bauerbach commented on #11011
Sorry, I was just curious about the permissions needed for closing an issue! I won't do it again unless an issue REALLY needs to be closed, I promise!

[2019-02-27 20:01] Tressley commented on #11027
I think @Alys suggestion is a good solution. We need to parse the Markdown so the message preview appears properly and without Markdown code. Alys suggestion just styles that Markdown to look like the preview styling in the preview column for all Markdown text elements.

[2019-02-28 06:32] paglias commented on #11027
The problem is that the moment you fully parse markdown you end up with
HTML tags like h1,h2, ... Which have their own default styling which isn't
super easy to remove.

Also, what you would need rules to hide images, links,...

If instead we have the preview only parse a subset of markdown like bold
and italics we can get some minor formatting without having to write
hundreds of lines of css

Il

[2019-02-28 10:00] alecbrick commented on #11029
Currently looking at this, but if anyone else is interested, another set of eyes would be great.

[2019-02-28 11:08] Alys commented on #9204
As a note to myself: after the PR for this has gone live, I should make a minor change to the https://mandrillapp.com/templates/code?id=flag-report-to-mods-with-comments template to remove the "... If ..._DISPLAY_NAME is unspecified..." notes. It won't be urgent and won't need to be coordinated with the release.

[2019-02-28 11:31] alecbrick commented on #11029
It looks like the issue is that the Mystery Item object is getting changed correctly in client/components/inventory/items/index.vue, but the countBadge object (line 127) isn't being re-rendered. I've considered adding a key to the countBadge which links to the inventory's data(), then updating that key whenever we open a Mystery Item - that would force the countBadge to re-render. That feels a bit

[2019-02-28 16:40] shanaqui commented on #11015
Per a report in the bug guild, the scrollbar will also disappear on quest completion, so that modal also seems to be affected.

[2019-02-28 19:50] beffymaroo commented on #11011
@bauerbach Please do not close any issues. Habitica staff will make that decision. Thank you.

[2019-02-28 22:14] shanaqui commented on #11015
Update on the current behaviour from ravenlune:

[2019-03-01 15:45] shanaqui opened #11038 "Selling a hatching potion displays the wrong price"
Reported by @JSn1nj4 (b1781515-6c3f-4314-a126-705b1e8390e8): "Hi. When I'm looking at hatching potion selling prices in the web app, it says 3 gold per potion. They still sell for the same prices that show in the mobile app (2 gold for some, 3 for others, 4 for the zombie and cotton candy, and 5 for the gold for example), but they display wrong on the web app. This may be trivial to fix (maybe), b

[2019-03-01 17:04] JSn1nj4 commented on #11038
Reporting for duty! I'd like to use this as a way to finally start contributing to the codebase if that's alright.

[2019-03-02 03:22] Grunksky opened #11040 "config.jason/config.jason.example Does Not Exist"
Hello, I am currently trying to [Set Up Habitica Locally on Windows](https://habitica.fandom.com/wiki/Setting_up_Habitica_Locally_on_Windows) and when I fork the Habitica repository then clone (git clone https://github.com/YourUsername/habitica.git), config.jason.example is not installed.

Windows 10

Any and all help is greatly appreciated
Thanks and Warmly,
IMC

[2019-03-02 12:31] alecbrick commented on #10997
I was able to reproduce what Alys saw, as well as Praxis' description from Alys' second post. I can't tell you exactly what the issue was, since I don't know Vue well enough to tell, but I think I was able to fix it. However, I wasn't able to reproduce the behavior in the original post, or in the most recent post.

[2019-03-02 13:33] paglias commented on #11040
Hi @InefableMusicalChemist the file is named `config.json.example` and it exists in your repo https://github.com/InefableMusicalChemist/habitica/blob/develop/config.json.example

[2019-03-02 13:33] #11040 closed, assigned to nobody

[2019-03-02 22:17] shanaqui commented on #11015
Is this possibly to do with your temporary patch, @SabreCat?

I've reproduced it as well, but only in Firefox, not in Chrome. Let me know if it needs a new github issue!

[2019-03-03 00:54] Alys commented on #11038
@JSn1nj4 can you please look at https://github.com/HabitRPG/habitica/issues/10687 to see if that's the cause of the problem you noticed? If so, can you post there to say you'd like to work on it? We'd love to have your help!

If you think there's a different bug in addition to that one, let us know!

[2019-03-03 16:05] #11026 closed, assigned to nobody

[2019-03-03 16:12] #9204 closed, assigned to negue

[2019-03-03 16:17] #10692 closed, assigned to negue

[2019-03-03 16:39] #11029 closed, assigned to nobody

[2019-03-03 16:50] paglias commented on #10997
Merged a fix from @alecbrick I'm not going to close the issue as it's possible not everything has been fixed but we'll see once it goes live next week

[2019-03-03 23:32] JSn1nj4 commented on #11038
@Alys sure, I'll look at it. This may still be different though.

In my case, the sell price just says 3 across the board on hatching potions. I still have to finish getting the local instance set up, but I'll take a look once I'm finished getting it up and running.

[2019-03-04 00:00] JSn1nj4 commented on #11038
@Alys I'm confirming that I do have the issue you linked to. I'm still planning to proceed at first as if these are separate issues unless I come across something suggesting otherwise. But thanks for linking me to that issue.

[2019-03-04 03:09] JSn1nj4 commented on #11038
Confirming that, on a local install, the sale prices for hatching potions are all the same. Doesn't seem to be a caching issue (this is the first time I've gotten a local instance of Habitica running successfully).

[2019-03-04 03:39] JSn1nj4 commented on #10687
@Alys, after re-reading, it does seem like this issue contains information related to #11038. I'm confirming that it does seem like the price for 1 item does get cached, though not in the item object that's loaded into the modal. Somehow it's just the value shown in the modal that's cached. Looking into this.

Please feel free to close that other issue that was opened as a result of my bug report.

[2019-03-04 04:26] JSn1nj4 commented on #10687
It looks to me like the entire `item` is being cached. The item name in the modal is updating, but this is contained directly in `itemContextToSell` instead of in the `item`. The value from `item.notes()` (shown under the item name) is also cached, showing a description of the first item clicked.

[2019-03-04 07:32] Alys opened #11042 "Add "Firefox Chat Extension" to the Settings > API page"
The [User Icon > Settings > API page](https://habitica.com/user/settings/api) contains a link to the Chrome Chat Extension. There should also be a link to the Firefox Chat Extension, which is at https://addons.mozilla.org/en-US/firefox/addon/habitica-chat-client-v2/

Both extensions do the same thing, the only difference being the browser they run on. Because of this, I think it would be most help

[2019-03-04 08:53] Alys opened #11043 "Help menu sub-items cannot be access on a mobile browser"
As reported by @ravenlune (9272ab2c-4b66-4b74-aebd-799725885d1c) and confirmed by me:

"On the mobile/small window version of the site, if you expand the menu and then tap on Help, you cannot access any of the links in the dropdown menu (the one that appears when hovering over it in a larger window) because it immediately redirects you to the static FAQ."

The same problem doesn't occur for the ot

[2019-03-04 14:21] Tressley commented on #11027
The preview shouldn't show any Markdown formatting though. Let's look at Alys' example -- What would we need to omit the `####` from the text, but still show the "Heading 4" text as it is styled in the preview column?

[2019-03-04 14:52] paglias commented on #11027
I think we can tell the markdown library to only parse some tags, so for
example headings would be formatted as plain text (removing the markdown
syntax) while formatting some tags that we choose like bold, italic,...

Il Lun 4 Mar 2019, 15:21 Tressley Cahill <notifications@github.com> ha
scritto:

[2019-03-04 17:28] JSn1nj4 commented on #10687
@Alys I think I found the issue preventing some things from updating in that modal. Looking to see if some related issues are fixed now too.

The only thing I'm not sure about is whether that `v-once` directive was important.

[2019-03-04 17:35] JSn1nj4 commented on #10687
@Alys I'm not seeing your original reported issue anymore locally. Can you confirm?

[2019-03-04 21:17] paglias commented on #10969
Fixed

[2019-03-04 21:17] #10969 closed, assigned to nobody

[2019-03-05 10:46] Alys opened #11047 "Username searches in the Hall of Heroes should be case-insensitive"
As described in issue https://github.com/HabitRPG/habitica/issues/10972 and its pull request https://github.com/HabitRPG/habitica/pull/10980 , the Hall of Heroes allows moderators to search for users by the Username. Currently that search is case-sensitive. It should be case-insensitive. I.e., searching for "examplename" would let you find a user called "ExampleName".

Any contributor who wants to

[2019-03-05 15:16] Tressley commented on #11020
I'm not entirely sure we need a new design for this. I propose we re-use our existing 404 page, but bring it within Habitica for logged in users so they have the correct navigation (instead of the one from /static).

![image](https://user-images.githubusercontent.com/2686586/53815494-c3a69d80-3f2f-11e9-949c-f0dade568854.png)

[2019-03-05 16:24] JSn1nj4 commented on #11047
@Alys I'm willing to jump in on this.

[2019-03-05 17:05] JSn1nj4 commented on #11047
@Alys can you confirm that the values searched on the back-end are always lowercase? I'm asking because I do see my UUID while testing contains only lowercase letters, and my user has a `lowerCaseUsername` value also.

[2019-03-05 21:46] SabreCat commented on #11015
@shanaqui Hmm, the screenshots are broken links :\

[2019-03-05 21:58] shanaqui commented on #11015
@Sabrecat Drat! I suspect the user has deleted them; Snag.gy normally sticks around longer than that.

Steps to reproduce: in Firefox, go to the Equipment page. Looks like: https://snag.gy/DTauI8.jpg
Click on an item and then click to equip it. Looks like: https://snag.gy/LyRucT.jpg

I promise this user will not delete the screenshots; it's Lisa. :)

[2019-03-05 23:21] Alys commented on #11047
@JSn1nj4 Thanks! Please go ahead, let us know if you have questions. :)

[2019-03-07 10:39] Alys opened #11049 "unallocated Stat Points count should be centred"
As DrPavelheer (3c2b1d99-c6f0-4e6e-a67a-bd8e023cfc7e) points out for the User Icon > Stats page:

"My unallocated stat points aren't centered in their circle, as seen here:"
![img](http://puu.sh/CWkXm/9d3f0ab315.png)

It's the same on my account.

Note that centreing should work correctly for 1 to 3 digits (unallocated stats ranging from 1 to 100 inclusive).

[2019-03-07 10:40] Alys commented on #11049
To be clear, it's the number in the orange circle after the "Stat Points" subheading.

[2019-03-07 10:55] Alys opened #11050 "Gem purchases of avatar customisation items should not be possible when you own them"
Black Rabbit / @niela (a49e76ca-5f53-44dc-9c20-36abfbec375a) says:

"I just lost 5 gems 'cause the habitica sync didn't show me that I already brought my animals' ears pack."

Confirmed in Amplitude (links will work for only admins):

[event 1](https://analytics.amplitude.com/habitica/project/132025/search/a49e76ca-5f53-44dc-9c20-36abfbec375a?eventFilter=purchase&eventFilter=acquire%20item&session

[2019-03-07 11:13] Alys commented on #11020
I think if I were a regular user, I wouldn't realise I was seeing a 404 because the player had deleted their profile; I'd think it was happening because of a bug. It would feel more like the profile page feature was broken/moved, not that the player didn't exist.

[2019-03-07 11:25] Alys opened #11051 "Profile pages show previous player temporarily - loading is slow"
When you click on a player's avatar or name to view their profile, as soon as the profile modal appears, you see the details of the previous profile that you viewed. It's visible for long enough to be confusing (it looks like a bug or that you've clicked on the wrong person or that the person has dramatically changed their name and avatar since the time they posted a message). After a second or so

[2019-03-07 12:04] Alys commented on #11038
For reference, there's comments about this at https://github.com/HabitRPG/habitica/issues/10687#issuecomment-469107911 and below.

@JSn1nj4 Thanks heaps for looking into this and posting the PR! We'll leave this issue open for now and it will be closed automatically upon merging of the PR.

[2019-03-07 12:34] JSn1nj4 commented on #11038
@Alys glad to help!

[2019-03-07 20:52] alecbrick commented on #11049
I'll take a look at this.

[2019-03-08 21:44] shanaqui commented on #10554
Group > Group flows are also doing this, per a report in Report a Bug today:

[2019-03-09 01:43] Alys opened #11055 "free Group Plan subscription from a Party should not be cancelled when leaving a Guild"
If you have a free subscription because you are a member of a **Party** that has a Group Plan, leaving any Guild will cause your free subscription to be terminated. That should not happen. Your free subscription should remain for as long as you are a member of one or more Guilds/Party that still has an active Group Plan.

Whenever someone with a free subscription leaves a Guild or Party, there is

[2019-03-09 05:30] Alys commented on #9933
This bug also occurs for pinned seasonal greeting cards as reported by @ravenlune (9272ab2c-4b66-4b74-aebd-799725885d1c):

"I believe the Valentine's Day event is over now, right? The Valentine's card is still pinned to my Rewards... on the website, I was able to successfully send it to a party member."

The fix should be the same as Tressley describes above. I'm about to edit this issue's title t

[2019-03-09 05:53] Alys commented on #10679
Months late, but I've marked this as suggestion-discussion for the staff to comment on how it would best be fixed.

[2019-03-09 06:00] Alys commented on #10678
To replicate this bug, go to any challenge that you are not the owner/creator of, click on this dropdown and any one of the names:
![image](https://user-images.githubusercontent.com/1495809/54066924-3d1df300-4284-11e9-805e-83daa420d718.png)

and you'll see this:
![image](https://user-images.githubusercontent.com/1495809/54066921-2a0b2300-4284-11e9-8b62-3b2121dcaad8.png)

The "award winner" button

[2019-03-09 17:48] thebat137 commented on #11015
I've been having a problem recently that I think might be related --- when I first log in every day, after I've gone through all the initial popups (Record Yesterday's Activity, quest completions, check-in notifications), I can't scroll the page (and there is no scroll bar) until I refresh the window.  This happens in both Chrome and Firefox.  So hopefully whatever fix is made to this issue will a

[2019-03-09 17:52] thebat137 commented on #11009
I also have had this problem for a while.  For me, the specific popup that I never get to see is the check-in popup.  All the others (record yesterday's activity, quest completion, Bailey, etc.) always seem to be able to "take turns" properly, but the check-in one always goes away before I get to see it properly, without me having taken action on my own to dismiss it.

[2019-03-10 01:30] Alys commented on #10806
There's been other reports of this problem since shanaqui's previous post here but we haven't been recording them all since they often show similar details. There's one recent one though that clearly identifies a couple of problems that are fixable (not necessarily easily fixable though):

@AC (03a02bbb-d54d-48c6-96f9-117c804d8590) wrote: "... I'm pretty sure my [boss] damage wasn't logged because

[2019-03-10 01:59] Alys opened #11057 "Sync bar / progress bar is not visible above Record Yesterday's Activity screen (RYA)"
When you're completing Dailies in the Record Yesterday's Activity modal (the one whose current title is "Check off any Dailies you did yesterday"), there's no way to tell when each tick mark has been synced to the server and so you can take unfair damage from some of your clicks not being recorded if you click too quickly.

The solution is to have the sync bar above the overlay in the stack, as de

[2019-03-10 02:04] Alys opened #11058 ""Start My New Day" button in RYA should not be clickable while a sync is progressing"
As discussed at https://github.com/HabitRPG/habitica/issues/10806#issuecomment-471237931 and at https://github.com/HabitRPG/habitica/issues/10386#issuecomment-464438026 (and its follow-up comments), when you are using the Record Yesterday's Activity (RYA) screen, if you complete a Daily and then click the "Start My New Day" button before the sync has finished, cron can halt part way through due to

[2019-03-10 02:06] #10386 closed, assigned to paglias

[2019-03-10 02:11] Alys opened #11059 "VersionError during cron should not cause cron to halt / crash"
As described at https://github.com/HabitRPG/habitica/issues/10806#issuecomment-471237931 and in https://github.com/HabitRPG/habitica/issues/10711, if a VersionError occurs while cron is processing Dailies or Habits, cron will stop prematurely.

That should not happen. Cron should either:
- ignore the error (leave the Daily unprocessed) and continue with the other Dailies and other kinds of actions

[2019-03-10 02:14] Alys commented on #10806
I've updated my previous comment with links to the two suggested fixes and also added a third:

- the "start my day" button not being clickable while a sync is occuring: https://github.com/HabitRPG/habitica/issues/11058
- cron's code being adjusted so that when an error occurs, it's not fatal (e.g., cron tries to process a task a second time, or just skips the task): https://github.com/HabitRPG/ha

[2019-03-10 02:17] Alys commented on #11058
This would also be good to have in the mobile apps but I'll wait a few days for any comments about the website fix, and then ask the staff about the same being done on mobile apps.

[2019-03-10 10:22] Alys opened #11060 "long URLs in Inbox / private messages can prevent PMs wrapping correctly"
When someone sends you a private message with a long URL in it, the URL stops the rest of the message from wrapping correctly and so some words are cut off.

For example if you send this to a test account:

You'll see this in the test account:

![image](https://user-images.githubusercontent.com/1495809/54083555-9fecb880-4370-11e9-972c-0fdc999167d8.png)

Not all long URLs will do this - if they hav

[2019-03-10 10:22] paglias commented on #11058
If anyone wants to work on this the solution should work a bit like this: when you score a daily in the RYA modal a flag should be set that prevents clicking the start my day button until the request is complete

[2019-03-10 18:23] easyMaxi commented on #11014
I am not sure, but I think this can be traced back to this change:
https://github.com/HabitRPG/habitica/commit/be4c777382f27f687c486938697bf644a8504f7f#diff-2e454d1deafd340139e9cff88b254c57L87

I just found this project and will try to run a local version in the next days and try to fix that. But can't promise anything.

[2019-03-11 14:12] cTheDragons commented on #11015
Just to add another case scenario for testing, this also occurs when gifting gems to users.

[2019-03-11 14:40] Tressley commented on #11060
This doesn't need a design. Just need to make URLs word wrap properly in the defined container. Here's an example of GitHub handling long URLs in comments:

![image](https://user-images.githubusercontent.com/2686586/54132028-dfa3b680-43e9-11e9-8141-143d49c81b08.png)

[2019-03-12 05:14] Alys opened #11062 "informative error message needed when social auth user logs in incorrectly with password"
If you have an account that uses only social authentication (Google or Facebook sign-in) but you forget that and try to log in with your Username and any password, you get an uninformative message: "an unexpected error occurred"

Steps to reproduce the bug:

1. create a Habitica account that uses Google sign-in
1. change the Username to something typable or make a note of the automatically-assigne

[2019-03-12 13:58] Tressley commented on #11020
While I could potentially see a small amount of friction, it is not an uncommon pattern to use a 404 page as the catch-all for non-existent URLs, including profiles. GitHub and Twitter are perfect examples.

https://github.com/Alys100200300
https://twitter.com/Alys100200300

Removing needs design as this is just bringing the 404 page in-app.

[2019-03-12 15:41] paglias commented on #11062
For security reasons we shouldn't reveal that an account is registered through google or fb. But we can show the same error that's shown when an email+pass user gets when the password is wrong

[2019-03-14 07:29] ChesterSng commented on #11062
I'd like to try this issue! @Alys

[2019-03-15 03:34] alecbrick commented on #11018
Bumping this issue. At the moment, there’s not an efficient solution. If we undeprecate the “official” property, though, we can easily query on that. Thoughts?

[2019-03-15 16:02] saraolson commented on #10134
not sure if this is the exact same issue but i was able to reproduce my rewards column disappearing by buying a health potion > navigating to a diff section of the site (party/shops) > back to task board. Refreshing gets it back.

[2019-03-15 22:22] Alys commented on #11060
I've edited the top post to say that the design decision is to force wrapping not to use a scroll bar.

[2019-03-15 22:36] Alys commented on #10134
Confirmed on my account. Good catch!

While testing that, I watched my `pinnedItems` array in the database. At no time did it have any inappropriate or empty entries. It stayed like this the whole time:
[code]

When I bought the health potion, this appeared in the Console:
[code]

When I moved to another page (Shops), nothing else appeared in the console.

When I moved back to Tasks, that same con

[2019-03-15 23:12] shanaqui commented on #10134
Report today:

[2019-03-15 23:35] shanaqui opened #11066 "Incorrect profile or partial profile data appears under some circumstances - caching old data"
_EDIT by Alys 2019-03-19:_   We've seen other reports in addition to the one below to indicate that sometimes profile data from a previous player who you looked at is cached and displayed when you try to view a different player. This display of cached data is permanent (until you close the profile), not temporary as in https://github.com/HabitRPG/habitica/issues/11051

Possibly the fix should be t

[2019-03-15 23:41] shanaqui opened #11067 "Text displaced off Member List button in large guilds"
Confirmed in Windows / Google Chrome.

[2019-03-16 13:03] Alys commented on #10134
On my local install, I added `console.log(JSON.stringify(user)); // eslint-disable-line no-console` at the start of this function in `website/common/script/libs/inAppRewards.js`
[code]

Then I reloaded the tasks page and confirmed that the `user` object contained the expected `pinnedItems` array:
[code]

Then I bought a health potion and examined the console again. The `user` object no longer cont

[2019-03-16 19:13] negue commented on #10134
thanks for the steps to reproduce this, it was a line that reset the pinnedItems back then, but the "buy operation" doesn't return the pinnedItems anymore and so the items at the user were reset to undefined ..., gonna add this to my open PR

[2019-03-17 11:57] randi2kewl commented on #11015
I played a little commit roulette and the issue starts at [this commit](https://github.com/HabitRPG/habitica/commit/ada09f3d5ae4d47ff589b914955d8ce4d0e306ea) which really is nothing other than an upgrade to bootstrap and a small tweak. This confirmed that it could be a Boostrap-Vue bug (@aszlig pointed in the right direction). I then rolled back to `"bootstrap-vue": "^2.0.0-rc.9"` and stepped up i

[2019-03-17 12:21] randi2kewl commented on #11015
Added an additional PR that extends @SabreCat's hack. This includes the backdrop click.

[2019-03-18 11:40] Alys opened #11071 "header misformatted in Firefox when browser default font size is reduced"
@LillaSmith (b5a69bc4-e325-417f-befe-32e3ce6f0f80) reported: **"MacOS Mojave's latest firefox version renders the header strangely, see on this image [below]. i checked on chrome (same machine), looks goog there"**

shanaqui asked: "does that persist even after a hard refresh? Just wondering if it was a single odd loading or if it looks like that permanently."

LillaSmith replied: **"yes, it still

[2019-03-18 14:50] randi2kewl commented on #11071
Tested on Mojave with FF Quantum 65.0.1 (64 bit) and FF Developer Edition 67.0b2 (64 bit) with no luck reproducing on my end.

[2019-03-18 19:11] shanaqui opened #11072 "Feeding pet to mount status and then rehatching/selecting incorrectly equips the pet"
Following those steps, I was able to replicate it exactly. In the Hall of Heroes, my current pet was listed as the pet I had fed until it became a mount, although that pet had a value of -1 (meaning previously fed to mount status).

Refreshing or syncing after the pet becomes a mount before trying to rehatch it prevents this issue.

So two issues here:
- Rehatching the pet right after feeding it i

[2019-03-19 03:37] Alys commented on #11066
I've added this to the top post:

----
 We've seen other reports in addition to the one below to indicate that sometimes profile data from a previous player who you looked at is cached and displayed when you try to view a different player. This display of cached data is permanent (until you close the profile), not temporary as in https://github.com/HabitRPG/habitica/issues/11051

Possibly the fix

[2019-03-19 03:43] Alys commented on #11072
Confirmed Aerilita's report in the database:
[code]

[2019-03-19 09:49] GiacomoLaw commented on #9476
Any update on this? I wouldn't mind looking at it if someone can link me to the markdown render files.

Thanks!

[2019-03-19 10:39] paglias commented on #11015
@randi2kewl we would prefer to avoid rolling back to the previous release as we already made some code changes to adapt the code to this new one

[2019-03-19 12:50] Tressley commented on #9476
@GiacomoLaw -- Great! You can find the Markdown css here:

`habitica/website/client/assets/scss/markdown.scss`

Are you a member of our Zeplin project? If not, can you share an email to invite? That'll give you access to the artboard that has all of the colors and properties of the design.

[2019-03-19 13:09] GiacomoLaw commented on #9476
No, I'm not. What is Zeplin?

[2019-03-19 13:13] Tressley commented on #9476
Zeplin is our hand-off tool between designers and developers. It allows our developers to interact with the design to identify colors, typography, and spacing to ensure 1-to-1 implementation.

[2019-03-19 18:18] randi2kewl commented on #11015
@paglias Figured that much. I already started digging into the bootstrap-vue code to see where the problem is happening. Hopefully, I'll find it and submit a PR to them and/or correct any changes in the Habitica code.

[2019-03-19 20:18] GiacomoLaw commented on #9476
Sorry for the late reply - don't think I have the experience to implement this, sorry!

[2019-03-19 21:16] lillaqa commented on #11071
Hi,

I am LillaSmith from the site. :) The extensions won't affect the header, however, I have found what caused it. the default font size of the firefox was 16, and making it smaller has this effect on the header. you can try it out easily by changing it in the browser's settings.

I'll test the same thing with other browsers and other parts of the site to see what else could be affected.

ps.: s

[2019-03-19 23:19] Alys commented on #10134
@negue Awesome!
@saraolson excellent find!

[2019-03-20 07:19] greenkeeper[bot] opened #11074 "An in-range update of vue is breaking the build 🚨"
## There have been updates to the *vue* monorepo:

 + - The `dependency` [vue](https://github.com/vuejs/vue) was updated from `2.6.9` to `2.6.10`.
- The `dependency` [vue-template-compiler](https://github.com/vuejs/vue) was updated from `2.6.9` to `2.6.10`.

🚨 [View failing branch](https://github.com/HabitRPG/habitica/compare/develop...HabitRPG:greenkeeper%2Fmonorepo.vue-20190320063334).

This ver

[2019-03-20 21:03] gcantieni commented on #11015
Can confirm this behavior in chromium and that it also disables all scrolling including through the mouse wheel and touch (for computers with touch screens)

[2019-03-20 22:22] rasbt commented on #10310
Same issue here. I am not using LastPass though, and I think the problem is unrelated to LastPass.

The problem occurs primarily only on one of my MacBooks. I have two macbooks, a 2015 and a 2018 model which have the exact same setup (same OS, Safari version [v 12.0.3], etc.). One the 2018 model, this issue occurs pretty frequently, but on the 2015er model it doesn't, for some reason.

My guess is

[2019-03-21 08:26] sarveshta commented on #10553
Hi , Today's was my 4th day in Habitica and my Cron didn't happen. It's feels great to know that it will be alright tomorrow.

@Alys How are you able to change the value of lastcron ?

My user ID - @Sarvesh_Thiruppathi

[2019-03-21 12:58] shanaqui commented on #10996
Ravenlune has now commented that this issue has resolved since they joined a new party.

[2019-03-21 13:01] shanaqui opened #11075 "Full screen profiles need "Stats" screen equipment text centred to match modal profiles"
_EDIT by Alys:_

As discussed in the comments below, most of the problems initially reported in this issue have been fixed.

The only remaining problem is shown in the final screenshot in this comment below: https://github.com/HabitRPG/habitica/issues/11075#issuecomment-637490023
If you compare that final screenshot with the one just above it, you'll see that the text under each equipment image is

[2019-03-21 16:54] SabreCat commented on #11015
I'll add a quick comment on the b-vue ticket you linked, @randi2kewl--my gut feeling is that our issue and https://github.com/bootstrap-vue/bootstrap-vue/issues/2809 have the same root cause, but I don't know for sure. Thanks so much for digging into this, it's proving a real nuisance!

ETA: b-vue folks are looking into it: https://github.com/bootstrap-vue/bootstrap-vue/issues/2809#issuecomment-47

[2019-03-21 18:11] SabreCat commented on #10446
@CBillings92 If you're still thinking of working on this, I approve @Alys's suggestions above!

[2019-03-21 18:12] SabreCat commented on #9899
Possibly missed. I've created a seasonal event checklist, will make sure that pinned item removal is on there for end-of-event processing!

[2019-03-21 18:16] SabreCat commented on #10866
Had some conversation with @saraolson about this at random this week--should we be showing pawprints at all, for special pets? It's not actionable information, and can be very sadness-inducing to see a slot for a pet it isn't and will never be possible to get (as in my case, where I have a lone gray pixel paw for Cerberus, reminding me that I missed the Kickstarter...).

[2019-03-21 18:22] SabreCat commented on #10930
@paglias Do we need to investigate the `.nodemonignore` issue, or can this be closed?

[2019-03-21 18:24] #10910 closed, assigned to nobody

[2019-03-21 19:00] paglias commented on #10930
I think it can be closed, we can reopen if any report comes in

[2019-03-21 19:00] #10930 closed, assigned to nobody

[2019-03-21 21:18] SabreCat commented on #10866
Ah, that's #9498. Never mind, already recorded!

[2019-03-21 21:20] SabreCat commented on #9531
I'm not seeing this happen lately. Closing, but feel free to reopen if it's still reproducible.

[2019-03-21 21:20] #9531 closed, assigned to nobody

[2019-03-21 21:23] SabreCat opened #11076 "Client slowness in Stable"
[//]: # (Before logging this issue, please post to the Report a Bug guild from the Habitica website's Help menu. Most bugs can be handled quickly there. If a GitHub issue is needed, you will be advised of that by a moderator or staff member -- a player with a dark blue or purple name. It is recommended that you don't create a new issue unless advised to.)

[//]: # (Bugs in the mobile apps can also

[2019-03-21 21:47] #10051 closed, assigned to nobody

[2019-03-21 21:49] #11049 closed, assigned to nobody

[2019-03-21 21:52] #10687 closed, assigned to nobody

[2019-03-21 21:52] #11038 closed, assigned to nobody

[2019-03-21 21:54] #10970 closed, assigned to nobody

[2019-03-23 01:59] Alys commented on #2592
I'm reopening this because I suspect the bug happened to another player (NookaBean, 77468ba2-c08a-4c12-9cb8-70c6a7ee437c) based on a recent post in the Report a Bug guild in which they bought a scroll but did not receive it. I've confirmed that the workaround for the bug (https://github.com/HabitRPG/habitica/pull/10953) works if you're buying a quest scroll with Gold but not with Gems. The code ch

[2019-03-23 17:14] GiacomoLaw opened #11080 "Scroll bar does not exist on first load"
[//]: # (Before logging this issue, please post to the Report a Bug guild from the Habitica website's Help menu. Most bugs can be handled quickly there. If a GitHub issue is needed, you will be advised of that by a moderator or staff member -- a player with a dark blue or purple name. It is recommended that you don't create a new issue unless advised to.)

[//]: # (Bugs in the mobile apps can also

[2019-03-23 17:22] #11047 closed, assigned to nobody

[2019-03-23 17:36] #11062 closed, assigned to nobody

[2019-03-23 18:34] SabreCat commented on #11080
502 would be a server error, `moment().zone` is a known but (currently) benign warning, not sure about `Input data`. Most likely culprit would be the error about `style` in `adjustPagePadding`--thanks for including those messages!

[2019-03-23 18:39] GiacomoLaw commented on #11080
No worries, thanks for the great tool!

[2019-03-23 19:28] randi2kewl commented on #11060
Browser tests:

Firefox
<img width="1772" alt="Screen Shot 2019-03-23 at 3 25 43 PM" src="https://user-images.githubusercontent.com/392859/54870662-0cf44b00-4d80-11e9-9c61-8bdc1f29bcd3.png">

Chrome
<img width="1850" alt="Screen Shot 2019-03-23 at 3 24 33 PM" src="https://user-images.githubusercontent.com/392859/54870673-26959280-4d80-11e9-8b9e-42b1f11f077c.png">

Safari

<img width="1731" alt="Sc

[2019-03-23 21:21] randi2kewl commented on #11015
@SabreCat @paglias

Update on where I am currently..seeing if it triggers anything from anyone that knows Vue better.

I noticed that if you remove the `@change="onChange($event)"` it works correctly exactly once but doesn't reopen. Trying to figure out if there is something async in this that is killing the hiding emitter for the modal. Specifically,[ this commit ](https://github.com/bootstrap-vu

[2019-03-23 21:37] paglias commented on #11015
I think that's due to the way we open this modal

[2019-03-24 00:54] Alys opened #11082 "Equipment shop "Change your class" message is confusing for new players"
Mara Jade (@MxMaraJade, 13eed6b5-c1b1-4b85-ba24-de75f5f01bf7, a new player currently below level 10) makes a great point about the message that you see in the Equipment shop if you try to buy a gear piece for a class you're not playing. For a new player it's misleading to the point of seeming buggy.

_"I tried buying a dagger from the store, but couldn't because I'm a Warrior class. It told me to

[2019-03-24 11:29] #9796 closed, assigned to nobody

[2019-03-24 23:42] Alys opened #11083 "closing one modal sometimes causes previous modal to reopen"
We've known this bug exists for a while but I can't find an issue for it.

Sometimes when you close a modal, a previous one that you looked at reopens itself.  Once this starts, it generally keeps happening until you reload the website.

Here's a report from @minervathene (d3de6635-37f7-4369-99c3-399d036d0898) today:

"Every time I hatch a pet (doing the new celestial ones) when I click the 'onwar

[2019-03-25 10:36] Alys opened #11085 "wrong player names associated with guild chat posts"
Under some circumstances (possibly a rare browser-side glitch), it's possible for the wrong names to be associated with guild chat posts.

A report from MEmry, the pink pirate (@MEmry, e495bd8b-f2f1-48e8-8f5f-9a52710999cf) is below in bold. It's referring to chat in the Report a Bug guild. At the time that MEmry was writing the message below (i.e., just before posting it), the five posts most rece

[2019-03-26 03:42] scarletwolfy commented on #5757
Hello, I'm new. How can I help? (and if I'm not good at coding?)

[2019-03-26 13:06] greenkeeper[bot] opened #11086 "An in-range update of mongoose is breaking the build 🚨"
## The dependency [mongoose](https://github.com/Automattic/mongoose) was updated from `5.4.19` to `5.4.20`.

🚨 [View failing branch](https://github.com/HabitRPG/habitica/compare/develop...HabitRPG:greenkeeper%2Fmongoose-5.4.20).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

mongoose is a direct dependency of this project

[2019-03-26 18:39] #11086 closed, assigned to nobody

[2019-03-26 18:39] #11074 closed, assigned to nobody

[2019-03-26 18:49] paglias commented on #11080
`adjustPagePadding ` should be fixed on delta, never seen this one before `vue.runtime.esm.js:1878 Error: Input data should be a String`. @GiacomoLaw is it still happening?

[2019-03-26 18:58] paglias commented on #10310
@rasbt sorry about that, you're probably right that there's some piece of js going out of control, unfortunately I've not been able to reproduce the issue on Safari myself and until we get a good reproduction it's difficult to find what causes it

[2019-03-26 19:15] GiacomoLaw commented on #11080
It happened to me once again, but not again since. Seems random.

[2019-03-27 06:44] chenl opened #11088 "[Suggestion] April fool's day idea"
Wouldn't it be fun replacing all the pets and mounts for everybody with Emojis on April first?
Just a thought -- feel free to close this issue.

[2019-03-27 09:57] Alys commented on #11088
You might like to go to Help > Request a Feature from the habitica.com website's navigation menu to suggest that. :)  That same menu has an entry for bug reports too, so you don't need to post to GitHub. In case it's helpful, you'll see reminders about that in the default text when you click the "new issue" button here in GitHub.

[2019-03-27 09:57] #11088 closed, assigned to nobody

[2019-03-27 17:05] GiacomoLaw commented on #11080
Happened now. Here are the errors:

[code]

And a warning:

[code]

Thanks

[2019-03-27 20:00] paglias commented on #11080
thank you @GiacomoLaw ! If you see it happen again could you click on the link to the source file in the console' It should open a code file with some code highlighted, can you post a screenshot of what you see there?

Also, was this on the tasks page or somewhere else?

[2019-03-27 20:04] GiacomoLaw commented on #11080
Main page, habitica.com. Sure, I will try to remember to do so.

Thanks

[2019-03-29 09:58] shanaqui commented on #10996
Report from them today:

[2019-03-29 19:01] SabreCat commented on #10996
I don't think any of the JS errors are relevant. ERR_BLOCKED_BY_CLIENT appears to be a privacy extension or setting stopping Habitica from accessing third-party error logging and analytics services. "Active resource loading limit" looks like a client-side loading throttle? New on me but probably unrelated to sorting issue.

[2019-03-29 21:58] cyxlan commented on #10996
I have Privacy Badger and uBlock Origin; disabling them does not help with this issue. The thing I mentioned in the first post about Tampermonkey is also irrelevant because disabling all my extensions that affect Habitica (Tampermonkey, Stylus and the Chat Extension beta) has no effect. It is just as inconsistent with or without.

ERR_BLOCKED_BY_CLIENT stops happening if I disable Privacy Badger a

[2019-03-30 07:43] Alys opened #11091 "participant list for challenge shows content of member list from guild/party"
If you view the member list of a guild or party then try to view the member list of a challenge, you see the member list of the guild/party again.

The expected behaviour is that you see the member list (participant list) of the challenge.

I'm marking this important priority because it's impossible for the challenge creator to properly judge the challenge when they can't see the member list.

Thi

[2019-03-30 17:37] greenkeeper[bot] opened #11092 "An in-range update of aws-sdk is breaking the build 🚨"
## The dependency [aws-sdk](https://github.com/aws/aws-sdk-js) was updated from `2.431.0` to `2.432.0`.

🚨 [View failing branch](https://github.com/HabitRPG/habitica/compare/develop...HabitRPG:greenkeeper%2Faws-sdk-2.432.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

aws-sdk is a direct dependency of this project, and

[2019-03-30 20:33] GiacomoLaw commented on #11080
@paglias got it, here you go:

![image](https://user-images.githubusercontent.com/9038673/55281350-08ed9d80-532b-11e9-87b1-bbc5d6d1c5b0.png)

[2019-03-31 17:29] paglias commented on #11080
thanks @GiacomoLaw, found the issue!

[2019-03-31 17:38] GiacomoLaw commented on #11080
@paglias awesome, what was it?

[2019-03-31 17:39] paglias commented on #11080
Passing a non string to the markdown render function. Not sure exactly where that happened but I'm making sure anything is previously casted to a String

[2019-03-31 17:40] #11080 closed, assigned to nobody

[2019-03-31 17:40] #11092 closed, assigned to nobody

[2019-03-31 18:21] paglias commented on #11091
The issue seems to be that loading challenge members seems to be broken. Opening a challenge and then trying to see the members list open an empty modal with no network request being made