[2016-08-01 17:51] Ozzystrasza commented on #3998
I'd like to try this fix, if it's ok.

[2016-08-01 19:31] #7361 closed, assigned to nobody

[2016-08-01 19:44] paglias commented on #7851
XPs and Gold are awarded both on the client and the server with the server being the only source of truth for what goes in the database, so if there's any difference the server value overrides the one on the client.

Drops are definitely awarded only on the server, also because the code has been moved from shared to the server directtory. Not sure what's going on with the notifications, I'll try t

[2016-08-01 20:19] Alys commented on #3998
@Ozzystrasza Yes, thanks!

[2016-08-01 21:12] Alys opened #7856 "quest started by booted user corrupted the next quest"
In the bug guild, mememry (2dc2722b-fdc1-4a36-894f-c22418b67a30) reported this:

_"My party (04a336df-fa91-4995-ae58-8c5896151ffd) had a member who invited to a quest and the quest immediately started with only him as a member of the quest. He hadn't logged in to Habitica for the next three days. I tried contacting him but was unable to, so I booted him and it aborted the quest and all was good. S

[2016-08-02 02:40] MrTspin commented on #7854
For the basic Skins I recommend to use a numbering approach to avoid racial profiling

[2016-08-02 02:57] librarianmage commented on #7854
Good idea!
On Mon, Aug 1, 2016 at 9:40 PM MrTspin notifications@github.com wrote:

[2016-08-02 04:20] ghost commented on #7854
`haven't looked through all the items yet`

Hmm "`Skin #2`" would look strange to me... I'd just call a basic skin a Basic Skin :smiley: I mean having one name and description for all the basic skins.

[2016-08-02 05:36] librarianmage commented on #7854
@GitHubSphinx @MeTspin The Hex values could also be used

[2016-08-02 06:38] habitrpguser commented on #7854
**"convict shirt"** sounds funny, but
a] those were horizontally striped instead of vertically, and
b) some people might have issues with it. (They might want to use it for roleplaying something else than a convict, and might feel that the "convict" label has too many negative connotations and might affect their self-esteem negatively - especially in connection with trying to overcome negative hab

[2016-08-02 08:02] habitrpguser commented on #7854
#### Basic Skins:

Would there be any issues of political correctness if the basic skins were just named by color (like you would name them if they were colors of clothing or wall paints)? (I'm not from the US, so I might lack insight into some negative connotations here.)
- For the three darkest skins, the names that come to my mind first would be just **"light brown"**, **"medium brown"**, and *

[2016-08-02 08:30] habitrpguser commented on #7854
#### Rainbow Skins:
- What's called a "pink color" in the first post is all kinds of things but (afaik) definitely not pink. The classic [colors of the rainbow](https://en.wikipedia.org/wiki/Rainbow#Number_of_colours_in_spectrum_or_rainbow) are red, orange, yellow, green, blue, indigo, and violet - but that doesn't work here because a) it's definitely not indigo either, and violet would be what's

[2016-08-02 09:16] habitrpguser commented on #7854
#### Supernatural Skins (Suggested Descriptions):

(Please add "Confers no benefit." to each of the following!)
- For the ogre skin: [**"Fee-fi-fo-fum!"**](https://en.wikipedia.org/wiki/Fee-fi-fo-fum) (Debatable because the character in ["Jack and the Beanstalk"](https://en.wikipedia.org/wiki/Jack_and_the_Beanstalk) is usually called a giant, though he is both a giant and and [ogre](https://en.wik

[2016-08-02 09:34] UnexpectedMushroom commented on #7854
I would call the red and blue special shirt "Plaid shirt"

Bangs (in order):
Soft bangs
Straight bangs
Strong bangs

Free hair:
Thin ponytail
Thick ponytail

Hairstyle set 1:
2 - Thin (twin) ponytails
4 - Thick (twin) ponytails
5 - Long curly hair
6 - Short curly hair
7 - Long straight hair
8 - Short straight hair

Hairstyle set 2:
9 - Right pigtail
10 - Right bun
11 - Left pigtail
12 - Left bun
1

[2016-08-02 09:38] habitrpguser commented on #7854
#### Duplicate "Red Hair" (Basic + Rainbow)

To avoid conflicts and confusion, I think the two red hair versions in the Basic and Rainbow Hair Colors shouldn't both simply be called "red hair". I'd suggest keeping "red hair" in the Basic Hair Colors, and choosing something more fancy (**"scarlet"**? **"cherry red"**? **"ruby red"** (or just **"ruby"**)? Any other [synonym](https://en.wiktionary.or

[2016-08-02 10:18] habitrpguser commented on #7854
#### Mustaches

I'd suggest **"short mustache"** and **"long mustache"**.  (There are many names for many mustache styles, but a) calling the long one anything would narrow it down to one style, whereas now everyone can choose to imagine it as a [handlebar moustache](https://en.wikipedia.org/wiki/Handlebar_moustache) or a [Fu Manchu mustache](https://en.wikipedia.org/wiki/Fu_Manchu_moustache) or w

[2016-08-02 11:12] habitrpguser commented on #7854
#### Basic Skins

(Commenting @UnexpectedMushroom )

I like the "food skin names" list - but I disagree on which should be which.
- ddc994 (no. 1): I rather agree with **"toffee"**. (I think it looks a lot more like [**"halva"**](https://en.wikipedia.org/wiki/Halva), but that's probably not widely known enough. An alternative might be **"sesame"**. Toffee is often darker - but sounds more yummy th

[2016-08-02 12:56] flavio88 commented on #7854
My sugestion for some descriptions of the skins

Supernatural Skins
- **ogre    - Ogre Skin -** You feel like beein part of an horde. Confers no benefits
- **skeleton2 - skeleton skin -** Roam some dark castles. Confers no benefits
- **Reptile - Reptile Skin -** Don't doubt that reptilians exists. Confers no benefits
- **transparent - Transparent Skin** - Your full body is the window to your soul.

[2016-08-02 13:07] khipkin opened #7861 "Fix super long error output when test fails in Travis build"
I'm not sure why, but lately my builds have been throwing the same error over and over again, sometimes running for more than 45 minutes.

For example, [this build](https://travis-ci.org/HabitRPG/habitrpg/builds/147853560) only stopped because the output file exceeded the limit of 4MB, with over 80k lines of output.  And this only happened after more than 48 minutes.

It's just this failure over a

[2016-08-02 13:15] crookedneighbor commented on #7861
I don't think this is a problem with Karma. Pretty sure that the same crazy output will happen when _any_ of the test suites fail.

Changing title to "Fix crazy long error output when test fails in Travis build"

[2016-08-02 14:03] crookedneighbor commented on #7861
My hunch is the problem is in gulp.

[2016-08-02 14:12] khipkin commented on #7738
I think the double icons look the best!  It also matches the way double achievement icons are shown in achievement modals.

[2016-08-02 14:15] khipkin commented on #7825
I love this entire thread! :grinning: Another idea: "Your party is counting their loot!"

[2016-08-02 14:15] habitrpguser commented on #7722
Just confirming this (though only by hearsay): Someone mentioned in guild talk on 29 July 2016:

So I went looking if this is already a known bug - and here it is! :)

[2016-08-02 14:15] khipkin commented on #7825
Also, I would like to work on this.

[2016-08-02 14:17] UnexpectedMushroom commented on #7854
Ooh! What about wood colours?
Maybe...
Pine
Oak
Cherry
Ceder
Jarrah
Walnut

[2016-08-02 14:32] froggily commented on #7854
For Shimmery or Pastel, maybe "Ooh, shiny! <color> <type> hair. Confers no benefit."? Also, Shimmery Green has the description "Shimmery blue hair. Confers no benefit."

[2016-08-02 15:40] citrusella commented on #7854
I'm not sure I agree with food names for the more "humanoid" skins (that is, most of the basic set); I know a few people who have had their skin called by food names, and it made them feel uncomfortable (none of these people I know are on Habitica AFAIK, but their discomfort shows that it could hurt some people who _do_ use Habitica).

Further, since I presume these colors would (or could be confi

[2016-08-02 16:07] pocketkey commented on #7815
@Alys Yeah I didn't know you could change the Character Values. :) Thanks. And I did actually switch parties right before it happened. Thank you.

[2016-08-02 16:07] #7815 closed, assigned to nobody

[2016-08-02 16:21] librarianmage commented on #7854
Note: there will be a changelog in the main issue, so please check that!

[2016-08-02 16:40] librarianmage commented on #7854
Current status regarding the discussion on the basic (people color) skins:

| Identifier | Image | @habitrpguser | @UnexpectedMushroom | @habitrpguser (commenting on @UnexpectedMushroom) | @UnexpectedMushroom | DDT - @citrusella |
| --- | --- | --- | --- | --- | --- | --- |
| ddc994 | ![ddc994](https://raw.githubusercontent.com/HabitRPG/habitrpg/develop/common/img/sprites/spritesmith/customize/ski

[2016-08-02 18:12] Alys commented on #2805
Another report of this (the first I've seen since my previous entry in June):

user's data:

[code]

party chat:

[code]

[Amplitude record, filtered for cron](https://amplitude.com/app/132025/activity/search?userId=444cf175-e917-4683-a40d-498b09146148&eventData=eyJ1dWlkIjoiOGRhZmM1MjYtNThkMi0xMWU2LTk4NmMtMjIwMDBhMTYwZGZhIiwiZXZlbnRJZCI6NTI5MjE3NTQyLCJjbGllbnRFdmVudFRpbWUiOiIyMDE2LTA4LTAyIDE3OjAwO

[2016-08-02 18:32] SabreCat commented on #2805
Wild. In some cases, the user's `progress` gets reset in between, in others it doesn't.

[2016-08-02 19:22] Alys commented on #6169
Judging from the blissful absence of complaints this time, this seems to be fixed. :heart: :tada: :tanabata_tree:

[2016-08-02 21:28] negue opened #7863 "/members/{uid} not returning calculated stats like maxHealth / maxMP / toNextLevel"
this would be useful for API Users

as @paglias @crookedneighbor  pointed out this could be done using virtual properties

[2016-08-02 22:27] keysmashes commented on #7854
Sorry to butt in on skin naming discussions, but I think the candycane hair should probably be called "Candy Cane Hair" rather than "Candy cane Hair" (note casing) for consistency.

[2016-08-02 22:29] librarianmage commented on #7854
Derp. My bad.
On Tue, Aug 2, 2016 at 5:27 PM Josh Holland notifications@github.com
wrote:

[2016-08-02 23:10] Alys commented on #7816
@JuliaCBrown Sorry for not replying earlier! If you're still interested, it would be great if you'd work on this! Ask here if you have any questions or run into any trouble.

[2016-08-03 01:44] Jaquel6744 opened #7864 "Habitica Naming Day and Habitica Gryphon Mount and Pet"
Excuse me, I would like to say that on 7/31/15 I had accessed the game but did not receive Melior, but this year I got her sister Meliora has somehow I get Melior?

//]: # (Before logging this issue, look through common problems at https://github.com/HabitRPG/habitrpg/issues If you find your issue there, read at least the first post to see if there is a workaround for you)

General Info
- UUID:
-

[2016-08-03 01:56] Alys commented on #7864
@Jaquel6744 could you please post that to the "Report a Bug" guild in Habitica? You can access it from Help > Report a Bug from the habitica.com website's menu, or from Guilds on the mobile app. Because that's in Habitica, it will let us see some details about your account, including your pets and mounts list and the date you joined Habitica, so we can easily check up on what's happened.

[2016-08-03 01:56] #7864 closed, assigned to nobody

[2016-08-03 02:10] sporeball commented on #7738
@lemoness Which one should we go with?

[2016-08-03 04:12] pinkfloydsgurl commented on #7854
GOGGLES! We need a goggle option. Be them up on the head or down over the eyes. No benefits but...options.  Similar to animal ears, but GOOGLES! (sorry i'm a goggle enthusiast.) The Steampunk community would be joyous, the raver community would be gaga, and the Cats of Treasure Town (mad props to those who get that movie reference) would be BESIDE THEMSELVES.

_coughs_ I enjoy my ability to read..

[2016-08-03 04:16] librarianmage commented on #7854
@pinkfloydsgurl Unfortunately, this issue is not discussing new customization options, just the names for the currently used options. If you want, you can suggest your idea on the [Trello](https://trello.com/c/odmhIqyW/440-read-first-how-to-request-a-feature-table-of-contents)

[2016-08-03 06:54] sebastienplat commented on #5618
Hello all,

First time posting here, but has there been progress/decision made about this ? My party of two is currently on the The Moonstone Chain, and we collect roughly 5 moonstones a day, which feels terribly slow (at that rate, it will take three months to complete).

The numbers suggested by lemoness seem good to me, as I find funnier to fights the bosses than collecting items. Maybe with a

[2016-08-03 07:18] habitrpguser commented on #7854
@MathWhiz , do you think you could/should add the already suggested strings to the main issue (as you already did with the striped shirt and skeleton skin), complete with change log, and mark those that are still being discussed (maybe by adding :question: or an `under discussion` label or similar)? If there are several suggestions, you can enter them all. (I know that basically everything in the

[2016-08-03 13:59] ddx98 commented on #7854
I'd like to suggest some fairly accurante and/or funny names :

Base (preferences.hair.base)
Free Set
Identifier  Image   Suggested Label Suggested Description
0   N/A No Base Removes hair base. Confers no benefit.
1   Base 1  Short Ponytail  Arranges your hair!
3   Base 3  Catogan Organizes your hair!
Hairstyle Set 1
Identifier  Image   Suggested Label Suggested Description
2   Base 2  Sideburns

[2016-08-03 14:03] Ozzystrasza commented on #4326
Is this been worked on? If not, I'd like to try it, if it's ok.

[2016-08-03 14:44] Lyraca opened #7866 "Challenge daily won't delete"
I have a stuck daily from a challenge from about a year ago that just refuses to be deleted. It is the "throw out three things". I've tried the usual fixes and tips and it still won't go. I get an error on my cell phone when attempting it from there.

User: b517af19-9d58-43c3-9a49-a80575dedec6

[2016-08-03 17:07] keysmashes commented on #7822
Please can you consider using the same validation rules on the server and client in the redesign? It seems odd to allow something to be submitted, but then reject it with an error message when there's clearly _some_ checking being done client-side.

[2016-08-03 18:14] khipkin commented on #7866
Is it a daily from an ongoing challenge that you're still participating in?

[2016-08-03 18:34] Legoguy41 opened #7867 "Weird wolf head thing"
General Info
- UUID: ce6fa251-fed2-4023-b752-9a4c5d106c9d
- Browser: Firefox
- OS: ???
### Description

[//](#): # When I went to the quest shop, the wolf head shown in front of Ian the quest shop guy showed for a frame before it disappeared. (I assume this was not intentional.) It then reappeared and roared (like it is supposed to do, I assume) and then the animation looped.
#### Console Errors

[2016-08-03 18:44] Lyraca commented on #7866
No the challenge is long since gone

[2016-08-03 19:45] Ozzystrasza commented on #7867
I don't know if that behavior is intentional or not, but I see what you are saying. The wolf head blinks once then appears again with the full animation. For me it's happening in every iteration of the loop.

[2016-08-03 20:36] SabreCat opened #7869 "No indication of which audio theme is selected"
General Info
- UUID: N/A
- Browser: Vivaldi
- OS: Windows 10
### Description

We now have six different audio themes, plus the "Off" status--enough that it can be easy to lose track of which one is which. There's no indication of what your current setting is when you drop down the speaker icon. The current status should be bolded, or have a bullet or icon indicating it's the present setting.
####

[2016-08-03 20:36] Legoguy41 commented on #7867
That's what is happening to me too, but I couldn't find a good way to describe it.

[2016-08-03 20:47] SabreCat commented on #7867
I'd always thought that was intentional--the ghosty wolf shape flickering into visibility. But it's awkward enough that I can see how it'd read as an error. Thoughts @lemoness ?

[2016-08-03 20:51] lemoness commented on #4936
The art for Egg Hunt has been completed by tigerurke!
![pink egg](https://cloud.githubusercontent.com/assets/3494081/17381556/57e2d802-5981-11e6-8f54-5d18794077f1.png)

[2016-08-03 22:06] lemoness commented on #7867
I think it was intentional at the time, but the animation would probably look better without it!

[2016-08-03 22:56] lemoness commented on #7854
This is a lot to go through, which I will need to do later. I just wanted to note two quick things:
1. We absolutely should not use food as descriptors for skin colors, as it is considered offensive by quite a few people. I prefer the numbering system for skin tones for simplicity.
2. The wiki wizards have already developed names for a lot of the customization features. We should try to be consist

[2016-08-03 22:56] lemoness commented on #7854
This is a lot to go through, which I will need to do later. I just wanted to note three quick things:
1. We absolutely should not use food as descriptors for skin colors, as it is considered offensive by quite a few people. I prefer the numbering system for skin tones for simplicity.
2. The wiki wizards have already developed names for a lot of the customization features. We should try to be consi

[2016-08-03 23:33] Hus274 commented on #7320
I'll take a look into fixing this.

[2016-08-04 00:40] khipkin commented on #7854
I agree with @lemoness that this all might be unnecessary.  Minimally, and most relevant for the moment, I think it is out of scope of the costume section of the member modal.  Maybe this should be left as suggestion/discussion for now?

[2016-08-04 02:46] librarianmage commented on #7854
@khipkin What do you suggest I do instead for the names of the options?

@lemoness the use of the descriptions is to keep consistency with the currently localized options. The [popovers used](http://getbootstrap.com/javascript/#popovers) require a title and a body as well, so without the description, it looks odd.

[2016-08-04 02:48] librarianmage commented on #7854
@habitrpguser Sorry for omitting some of your suggestions! My mistake 😳

[2016-08-04 04:11] ghost commented on #7774
Housekeeping. It seems like it has been fixed some time ago.

[2016-08-04 04:11] #7774 closed, assigned to nobody

[2016-08-04 04:17] ghost commented on #6838
It seems like no additional points for making an untranslatable token for currency, so I'm closing the issue leaving the strings mentioning "USD" translatable (as is).

[2016-08-04 04:17] #6838 closed, assigned to nobody

[2016-08-04 04:19] ghost commented on #6708
@MathWhiz It seems you are quite busy with other issues. Would you like us to advertise the issue among other aspiring coders?

[2016-08-04 04:27] librarianmage commented on #6708
@GitHubSphinx Yes, please!

[2016-08-04 05:27] librarianmage commented on #7854
@everyone Thank you all for your input! I really appreciate all of the insightful input! I will try to integrate your suggestions ASAP, I have just been super busy.

---

I have looked at the [wikia](http://habitica.wikia.com/wiki/Avatar_Customizations) (as per @lemoness' suggestion), and most of the current names (with the exception of the "convict" shirt and possibly the "redblue" shirt) have th

[2016-08-04 05:40] librarianmage commented on #7854
Looking at the current code that displays the avatar customization options, I noticed the page doesn't use `aria` labels (used by screen readers), so I was wondering if the current tooltips work with screen readers.

[2016-08-04 05:51] Alys commented on #7854
The wiki's names are at http://habitica.wikia.com/wiki/Avatar_Customizations although we don't necessarily have to keep them unchanged.

I don't recall where they came from - they might all be from the site itself. I think it's likely that the DDT uses the same names (if not, one or both of them should be changed).

[2016-08-04 05:54] librarianmage commented on #7854
@Alys looking at the identifiers used it the site, they most likely used the code

[2016-08-04 08:05] syts commented on #5428
Can repro this on Surface Pro 4, Windows 10, Microsoft Edge 38.14393.0.0

[2016-08-04 13:02] paglias commented on #7863
Working on this

[2016-08-04 16:25] afilhodaniel commented on #7807
@JuliaCBrown you have worked on this issue?

[2016-08-04 17:26] JuliaCBrown commented on #7807
@afilhodaniel No I've not. If your interested go for it.

[2016-08-04 17:37] paglias commented on #7861
When running some tests as standalone commands like `gulp test:api-v3:integration` there's no super long output... it's one more clue the problem is with gulp

[2016-08-04 17:56] #7863 closed, assigned to nobody

[2016-08-04 19:41] mcooledge commented on #7717
I don't know if I'm actually going to get to this or not, if someone else really wants it they can have it, just comment. Otherwise I'll work on it when I get the chance.

[2016-08-04 20:08] tricksyfox commented on #7599
I've made two challenges in the past month, and was careful about the ordering of the tasks in each. As soon as I hit save, the order was scrambled, so it's not even showing up in the proper order in the challenge listing, much less in participants tasks.

[2016-08-04 20:35] SabreCat commented on #7861
I still see overlong output even when running individual tests that fail. Not _as_ long as otherwise, but still enough to scroll the actual failing tests out of buffer in my terminal session. I've been resorting to running tests with `| tee testlog.txt` and paging through that output to find what actually went wrong.

[2016-08-04 21:14] lemoness commented on #7738
I also like the double knockout, for the same reason. Let's go with that
one.

On Tuesday, August 2, 2016, MrEikono notifications@github.com wrote:

[2016-08-04 21:21] Alys commented on #5618
@paulwasit The numbers listed in lemoness's most recent post can be considered to be final. If you'd like to work on that, please do! The code to change for that part is in common/script/content/index.js
 and see http://habitica.wikia.com/wiki/Guidance_for_Blacksmiths and http://habitica.wikia.com/wiki/Setting_up_Habitica_Locally for useful information. Post here if you have questions or run into

[2016-08-04 21:37] khipkin commented on #7854
@MathWhiz Exclude all of this from the costume section of the member modal; just include the gear for now as a minimum viable product.  Then, if desired, all of this can be included in a separate future change.

[2016-08-04 21:39] librarianmage commented on #7854
Ok, then my work on my PR is done!
On Thu, Aug 4, 2016 at 4:37 PM Kaitlin Hipkin notifications@github.com
wrote:

[2016-08-04 21:40] khipkin commented on #7861
The actual error in my super-long output from above was a simple syntax error, followed by many karma retries.  I've had similar super-long TravisCI runs since then for various root causes, all with endless retries of karma.

Shouldn't the build skip all remaining checks once one fails?  Why is it still trying after errors are detected?

[2016-08-04 21:52] crookedneighbor commented on #7861
It is not by design.

[2016-08-04 21:54] ESWAT commented on #6708
@GitHubSphinx looking into this. :)

[2016-08-04 22:31] ESWAT commented on #7832
One solution would be to put a link in the Settings dropdown. See the bottom of this screenshot:

![screen shot 2016-08-04 at 18 30 51](https://cloud.githubusercontent.com/assets/65468/17420585/a83dcbf4-5a71-11e6-823a-dd4b23cc835d.png)

If someone wants to confirm that this would be a good solution to merge in, I can add this and link it to https://habitica.com/static/old-news

[2016-08-04 22:44] ESWAT commented on #7869
Looking into this.

[2016-08-04 23:30] ESWAT commented on #6982
This breaks if you happen to resize the browser window during the tour also.

This could be fixed by modifying bootstrap-tour by removing the `tour-step-background` element - since it’s not needed and just causes issues when the To-Dos is resized - and modifying the `tour-step-backdrop` styles to match `tour-step-background`. I’d imagine this would affect other parts of the tour tough.

[2016-08-04 23:53] audiolion commented on #7822
Yeah id agree normal client side validation would help show hey this is a required field and reduce load on server. Might be obviously worked in during the new frontend but a good point nonetheless

[2016-08-04 23:55] khipkin commented on #7832
@ESWAT Hmm I think maybe that dropdown is already super long as-is.  But I'm not sure where else to put it... Maybe next to / instead of the "Show Bailey" button?

[2016-08-05 00:01] Hus274 commented on #7832
Why not put it in the footer where we have all the other links? That was the first place I went to look for it as a user.

[2016-08-05 12:15] Ozzystrasza commented on #4326
I added `window.scrollTo(0, 0);` to all the controller functions of all states in [app.js](https://github.com/HabitRPG/habitrpg/blob/develop/website/client/js/app.js), and it seems to be working. Tested in all pages, and also tested the page's normal functionalities and nothing seems to be broken.
Is this an acceptable solution?

[2016-08-05 16:58] #7778 closed, assigned to nobody

[2016-08-05 16:59] #7869 closed, assigned to nobody

[2016-08-05 17:00] #6708 closed, assigned to nobody

[2016-08-05 17:27] #3998 closed, assigned to nobody

[2016-08-05 17:55] #7793 closed, assigned to nobody

[2016-08-05 23:02] Alys commented on #6721
@colwem Are you still interested in working on this?

[2016-08-06 06:07] Alys commented on #4756
I'm going to close this because it's not something we hear about often, isn't critical, and is likely to disappear when we improve the website's front-end code later this year.

[2016-08-06 06:07] #4756 closed, assigned to nobody

[2016-08-06 13:33] Ozzystrasza opened #7875 "Checklists on challenge tasks always expand when site syncs"
General Info
- UUID: 8389891a-ba52-4580-b08b-2cb706c7e0b4
- Browser: Chrome
- OS: Windows 10
### Description

If you add checklists to a challenge task and click on expand/collapse to keep them hidden, they always expand back when the site syncs.

[2016-08-06 15:33] dgodovanets opened #7876 "Exp and mana are out of range."
General Info
- UUID: `6b4563cf-ef71-4508-839e-f553d358dab9`
- Browser: Google Chrome, Version 53.0.2785.8 dev-m
- OS: Windows 7

That happens, when I earn exp and mana for completing quest without completing any task. Problem can be fixed by completing any task, anyway that's bug.
![image](https://cloud.githubusercontent.com/assets/16069332/17457566/441a5888-5c04-11e6-83a8-44213346a302.png)

[2016-08-06 17:04] ghost commented on #7876
@Eramik while waiting for the mods to comment here, you may want to see the issue #2433 _Failed to Level Up..._ regarding the experience bar. As for the mana exceeding the max value there's been some discussion in https://github.com/HabitRPG/habitrpg/issues/2082#issuecomment-55074039 and https://github.com/HabitRPG/habitrpg/pull/3662

[2016-08-06 19:31] Hus274 commented on #7320
Ok, I think everything is done except for pushing the changes to all the users. I had a question in this part though. So right now, the functionality of challenge quests allows the user to edit the extra text on their copy of the challenge object. As we're now making it possible for the challenge owner to update the extra text field, how do we want to propagate these changes to the user?

The opti

[2016-08-06 19:32] Hus274 commented on #7320
Of the above, I think option four is probably the best as it maintains all current functionality and doesn't overwrite any user data while still allowing the challenge owner to update the field.

[2016-08-06 19:40] Alys commented on #7320
I agree. Option 4 is good.

On Sun, 7 Aug 2016 5:32 am Travis, notifications@github.com wrote:

[2016-08-06 19:55] crookedneighbor commented on #7320
🍀 🍀 🍀 🍀 🍀 🍀 🍀 🍀 🍀 🍀

[2016-08-06 19:56] Alys commented on #7876
@GitHubSphinx Thanks for the links!

@Eramik It's deliberate that your mana can be more than max for a short time because it allows you to use the mana that you've earned.

We have a guild now for telling us about bugs, which you might find more convenient, and which often helps us because we can see information about your Habitica account immediately. You can access it from the website's menu at

[2016-08-06 19:56] #7876 closed, assigned to nobody

[2016-08-06 20:06] Hus274 commented on #7320
So I'm having trouble because mongoose is cutting out the some of the fields I want to update (up, down for habits, due dates for tasks, etc.) because they aren't part of the TaskSchema and are therefore being removed automatically before the update occurs. Have we handled this in a specific way in the past?

[2016-08-06 20:11] paglias commented on #7320
You should use the specific mongoose models for each task type. They're
exported as in models/tasks as habit/reward/todo/daily

Il 06 ago 2016 22:06, "Travis" notifications@github.com ha scritto:

[2016-08-06 21:52] Ozzystrasza commented on #5284
I'd like to try this one, if it's ok.

[2016-08-06 22:11] crookedneighbor commented on #5284
Go for it. If no one has claimed it, feel free to just say you're looking at it and go for it. (Just comment back if you can't do it after all)

[2016-08-06 22:20] abatula commented on #7816
@JuliaCBrown are you still interested in working on this? If not, I can take a shot at it.

[2016-08-06 23:10] Hus274 commented on #7320
PR posted.

[2016-08-07 03:12] Hus274 commented on #7699
Is this a duplicate of #7320?

[2016-08-07 03:23] Alys commented on #7699
Yes, basically. Everyone, this is being tracked in  #7320  and @Hus274 is developing a fix in https://github.com/HabitRPG/habitrpg/pull/7877 so I'm closing this.

[2016-08-07 11:24] khipkin commented on #7716
This happened to me yesterday.

[2016-08-07 14:05] sebastienplat commented on #5618
@Alys I will be able to work on it in two weeks (holidays now). I will without a doubt have questions, but the links you provided should get me started ! I am not sure I understood the last part about the achievement multiplier though ?

[2016-08-07 15:09] JuliaCBrown commented on #7816
@abatula Go for it. I just started a new job so I have no free time :(

[2016-08-07 15:41] #7724 closed, assigned to nobody

[2016-08-07 15:56] abatula commented on #7816
Ok, I'll look into this one. Good luck with the new job! I hope you get your free time back soon.

[2016-08-07 20:13] lynxlynxlynx commented on #5618
I guess I'll be the lone voice here: the system is only unbalanced if you have no rogues. They collect fast to very fast.
The same complaint could be made about the toughest bosses. If you don't have mages or fighters to do the major damage, they can drag on for ages.

So I think it's better to focus on dynamic rebalancing, where participant count and type is taken into account. Class can be just

[2016-08-07 21:17] crookedneighbor commented on #5618
I just did the moonstone quest with my party as a rogue and even with spamming tools of the trade most every day, it still took 5x as long as any of the boss quests.

[2016-08-07 21:43] Alys commented on #5618
Yes, collection quests do need to be changed as described here. @lynxlynxlynx We're intending to add site-wide difficulty settings at some time, and one of the options there can be to increase the difficulty of quests. For now, it's more important to reduce the collection item numbers to help lower level players and smaller parties.

@paulwasit The achievement multiplier is something that admins w

[2016-08-07 21:48] lynxlynxlynx commented on #7803
I have no problems with this either. The report can probably be closed, since there seems to be a consensus.

[2016-08-07 22:04] sebastienplat commented on #5618
Ok i understand the achievement idea better now. A communication to impacted parties sounds great, but a more global communication could also be made ? Some parties that gave up the quests might want to give it another try if it is faster to complete.

On Sun, Aug 7, 2016 at 11:44 PM +0200, "Alys" <notifications@github.com<mailto:notifications@github.com>> wrote:

Yes, collection quests do need to

[2016-08-07 22:23] deilann commented on #5618
I actually don't think just multiplying the achievements gives fair to
those who completed the quests as done. There's a major difference between
completing many short quests and going in for the long slog. I think
current achievements should be turned into a legacy type achievement, to
mark those who went through said playtesting.

On Sun, Aug 7, 2016 at 3:04 PM, Sebastien Plat notifications@gith

[2016-08-08 00:13] Ozzystrasza commented on #5284
@lemoness I fixed it on challenge view and individual user view (under "How's everyone doing?"). Do you also want it to be non interactable when creating or editing a challenge?

[2016-08-08 01:46] crookedneighbor commented on #5284
Yes. It should not be interact able in any context where it doesn't make sense to be able to score.

[2016-08-08 09:40] ghost commented on #7106
@crookedneighbor @paglias
reporting [suggestion from a linguist on Transifex](https://www.transifex.com/habitrpg/habitrpg/translate/#pl/loadingscreentipsjson/88780307) somehow connected to this issue:

[loading screen tip 4](https://github.com/HabitRPG/habitrpg/blob/develop/common/locales/en/loadingScreenTips.json#L6) `Use the # sign before a task name to make it really big!`
might benefit from an

[2016-08-08 10:16] ghost commented on #5465
@Alys do you still need this ticket open now as you have the bug reporting guild?

[2016-08-08 10:28] Alys commented on #5465
Ah no, thank you. If you're happy with the way that I copy reports of translation problems to your i18n guild, then this isn't needed.

[2016-08-08 10:28] #5465 closed, assigned to nobody

[2016-08-08 14:53] citrusella opened #7882 "Bare Bones Cake has irregular shape compared to other cakes (and cakes as a whole have irregular shape compared to other food)"
General Info
- Browser: Firefox 47.0.1
- OS: Windows 7
### Description

Last night, I realized the Bare Bones Cake was a little taller than all the other cakes and was told to report it here. The difference is slight (and due to the room made for the smoke). Looking again this morning, I also noticed the cakes overall are all shorter than other things that display in the food column. These differe

[2016-08-08 17:09] #7803 closed, assigned to nobody

[2016-08-08 22:08] stillnotsure commented on #5428
Getting the same issue on Surface Pro 3, Windows 10, Edge 38.14393.0.0

[2016-08-08 23:40] sporeball commented on #7738
I'm probably just being a complete idiot right now, but I can't figure out how to make a single sprite with two knockout faces work without using extra CSS values... Is using extra CSS values even viable?

[2016-08-09 08:48] nurgasemetey opened #7884 "Date bug in Todo item"
General Info
- UUID: 20f56644-a84a-4fad-892b-0b43987f5d59
- Browser: Firefox 48
- OS: Linux Mint 18
### Description

Guys,

I created Todo item with "08/08/2016" as due date, then I completed task. Generally, I analyze my activity by downloading my data. I noticed that the item I created showed it's due date as "07/08/2016".

After I changed item's due date to "09/08/2016". Now exported data showe

[2016-08-09 09:40] paglias commented on #7884
@nurgasemetey you should consider that dates are stored using the UTC time zone, if you adjust the date for your own time zone is it still wrong?

[2016-08-09 10:56] nurgasemetey commented on #7884
@paglias really I must check it. Thanks

[2016-08-09 11:08] #7884 closed, assigned to nobody

[2016-08-09 13:36] khipkin commented on #2771
I think the [wait] label can be removed from this now.

[2016-08-09 13:37] khipkin commented on #6384
I think the [wait] label can be removed from this now.

[2016-08-09 13:39] khipkin commented on #5466
Is this ready to be worked on?  If so, I'm interested.

[2016-08-09 13:41] khipkin commented on #5035
I think it would be helpful to have a new label for issues that should be addressed in the frontend redesign.

[2016-08-09 13:42] khipkin commented on #2578
@Alys are you still planning to work on this?

[2016-08-09 13:42] khipkin commented on #2565
I think the [wait] label can be removed from this now.

[2016-08-09 13:48] crookedneighbor commented on #5466
I don't think it's worth working on since the UI is going to change soon.

[2016-08-09 13:48] crookedneighbor commented on #5035
Anything with the interface label will be that.

[2016-08-09 13:50] Alys commented on #2771
@khipkin, good point, thank you!

[2016-08-09 13:52] Alys commented on #6384
@khipkin Ah, yes, thanks! :)

[2016-08-09 13:58] crookedneighbor commented on #7861
Oooh! I think this happens when the server crashes.

[2016-08-09 14:01] Alys commented on #2578
@khipkin I was intending to do it, but was waiting on https://github.com/HabitRPG/habitrpg/pull/7607 which I haven't completed yet because I had some questions about what tests were appropriate, and I've been forgetting to follow up on that. However I've got holidays coming up so I'll probably just write the tests I have in mind. Once the refactored scoreTask.js is live, other changes to it will b

[2016-08-09 14:18] khipkin commented on #2771
I would like to work on this!

[2016-08-09 14:20] khipkin commented on #7861
Ohhhh good idea!!!

[2016-08-09 14:51] khipkin commented on #2893
So which achievements should be rare, i.e. potentially unearnable if not already earned?

Here's what I was thinking:
- ~~habit surveys~~
- backer NPC
- backer at any tier
- veteran
- original user

[2016-08-09 16:06] librarianmage commented on #2771
How about a "Deal no damage during a boss battle"?

[2016-08-09 16:26] SabreCat commented on #7738
@MrEikono: Additional CSS is okay. The CSS that's there is a bit of a mess of inline styles, too, so if you see opportunities to standardize things / make classes, go for it.

[2016-08-09 21:11] khipkin commented on #2893
Progress:
![image](https://cloud.githubusercontent.com/assets/5641207/17533622/a0be5d86-5e53-11e6-8c13-c3b3e51d282d.png)

Thoughts:
- I think it would be better if the grid squares were larger, which would (maybe) mean the badges should also be larger.
- Not sure how best to handle the rare/special row.  I can think of a few ideas though:
  -  Figure out when no rare achievs are displayed and show

[2016-08-09 21:40] khipkin commented on #2893
I'm also having trouble figuring out how to make the sprites grayscale?  The only thing I can think of that might work is adding all new grayscale images for all of the achievements.

[2016-08-09 21:41] SabreCat commented on #7861
Would an ordinary test assertion failure crash the server? Because I get the zillion-line spew even when the site itself runs fine, if there's a failing test.

[2016-08-09 22:00] ESWAT opened #7886 "Task Note Tooltips with Links Need Hover Improvements"
- UUID: ffee6b77-0bf8-422a-a65c-c20de17f2b32
- Browser: Chrome 52.0.2743.116
- OS: OS X & Windows 10
### Description

It normally makes sense for task note tooltips to go away once you’ve stopped hovering over the task. But I have a particular case where I use the note to store the URL. It’s handy that it becomes a link in the tooltip, but not-so-handy that I can’t click on the damn thing…

![ezgi

[2016-08-09 22:02] Alys commented on #7886
You can click on the Note icon to freeze the note's bubble in place.

We have a guild now for telling us about bugs, which you might find more convenient, and which often helps us because we can see information about your Habitica account immediately (although that's not relevant for this particular question of course, but often is useful for other reports). You can access it from the website's me

[2016-08-09 22:02] #7886 closed, assigned to nobody

[2016-08-10 02:04] mandyzhou opened #7888 "Awkward whitespace in Magic Potion Pets/Mounts sections"
General Info
- Browser: Chrome 52.0.2743.116 m
- OS: Windows 7
### Description

In the Magic Potion Pets section of the [Pets](https://habitica.com/#/options/inventory/pets) page, there's an awkward amount of whitespace between the heading and the actual pets. A similar issue occurs on the Mounts page. Note that the only magic potion pets/mounts I have are the Thunderstorm ones. See screenshot bel

[2016-08-10 02:30] Alys commented on #7866
@Lyraca I've removed that Daily. Sorry about the delay.

We have a guild now for telling us about bugs, which you might find more convenient, and which often helps us because we can see information about your Habitica account immediately (no need for you to specify your User ID, for example). You can access it from the website's menu at Help > [Report a Bug](https://habitica.com/#/options/groups/g

[2016-08-10 02:30] #7866 closed, assigned to nobody

[2016-08-11 01:14] brunohms commented on #4252
My party finished the quest Vice, Part 1: Free Yourself of the Dragon's Influence.
All items found! Party has received their rewards. 08/09/2016 11:36:27
but didn't receive any reward for it.
our group id is: 96b2b120-6ed5-4d67-b402-d50928ecf1a9

[2016-08-11 12:45] #7796 closed, assigned to nobody

[2016-08-11 13:00] habitrpguser commented on #7431
If one of the ideas behind this was that no one should make a guild named "Tavern" or "HabitRPG" - should there also be a (hopefully hidden) guild "Habitica" in the future? (Then again, that doesn't make sense - there were public guilds with duplicate names before if I remember correctly, so I guess it wouldn't stop anyone from creating such guilds.)

[2016-08-11 13:00] #4326 closed, assigned to nobody

[2016-08-11 13:04] crookedneighbor commented on #7431
@habitrpguser the confusion, I believe, is that the tavern gets returned in the public guild list when it shouldn't.

[2016-08-11 13:32] habitrpguser commented on #7431
@crookedneighbor Yes I understand that - I just wondered why there are guilds "Tavern" and "HabitRPG" in the first place. "Tavern" I could understand because the Tavern exists and is technically a guild - but "HabitRPG"? Then again, both the URLs https://habitica.com/#/options/groups/guilds/tavern and https://habitica.com/#/options/groups/guilds/habitrpg redirect to the Tavern, whereas https://hab

[2016-08-11 13:47] habitrpguser commented on #7569
Just confirming that challenge tags actually did turn green after a challenge ended, and don't anymore now. (Several people asked in the [Guild Leaders & Challenge Creators](https://habitica.com/#/options/groups/guilds/0393624e-65f0-40c1-8e87-360955fcebca) why they don't anymore.) It was very practical, too (especially when cloning a challenge and deleting the old one - you knew which tag was that

[2016-08-11 13:49] #7320 closed, assigned to nobody

[2016-08-11 14:02] crookedneighbor commented on #7431
`habitrpg` was the id of the original Tavern. After we transitioned to v3, we required all groups to have a valid `uuid`, and `habitrpg` is not that. So we created a special `uuid` for it. We keep `habitrpg` for legacy compatibility, we don't need a redirect for a guild with the id `habitica`.

I don't think we're worried about naming conventions. Any concerns we have can be brought up by moderato

[2016-08-11 18:14] nurgasemetey opened #7891 "v3: Cannot create todo with tags"
General Info
- UUID: 20f56644-a84a-4fad-892b-0b43987f5d59
- Browser: Firefox 48
- OS: Linux Mint 18
### Description

Guys,

I want to create todo with tags but it seems that it your API allows only without tags.

I can create todo by doing this:

[code]

But when I add tags field like this:

[code]

It responds me with following message:

[code]

However I have this tag:

![Image of Yaktocat](http

[2016-08-11 20:44] Alys commented on #4252
@brunohms I've given the achievement and rewards to your party. Reload if you don't see them. Tell me if they don't appear after that!

[2016-08-12 03:31] cching0L2 commented on #7847
If nobody is working on this ticket, I would like to take a look

[2016-08-12 04:35] MrTspin commented on #7854
I just thought of an interesting idea make the lightest ☺ and the darkest ☻

[2016-08-12 08:02] adribe82 opened #7892 "thunderstorm potion problem"
General Info
- UUID: 30c37c4b-3558-40dc-80fd-e60a898fd248
- Browser: Chrome
- OS: IOS 9.3
### Description

Hello! So this morning I bought around 7 thunderstorm potions and used them on 7 eggs I have. However, none of the pets have appeared on my mount list, which appears as if I hadn't used any potions at all.
#### Console Errors

[2016-08-12 09:30] paglias commented on #7847
@cching0L2 feel free to go ahead and do it!

[2016-08-12 09:32] paglias commented on #7891
@nurgasemetey the error message that you got shows `[Ljava.lang.Object;@32006254"}]` as the UUID value that was supplied instead of a plain string, are you sure that it got serialized correctly before being sent to the server?

[2016-08-12 10:29] nurgasemetey commented on #7891
@paglias it seem so.  You are correct. Following is working now.

[code]

However now, task will be created with only one tag. :smile:

[2016-08-12 10:50] paglias commented on #7891
@nurgasemetey well that happens because you're not passing anymore an array but a single string. Have you tried sending a JSON-serialized array of tags?

[2016-08-12 11:03] paglias commented on #7891
@nurgasemetey I've just tried and if you serialize correctly the multiple tags in an array of strings the task gets created correctly. What's happening is that your payload is not being sent correctly

[2016-08-12 11:03] #7891 closed, assigned to nobody

[2016-08-12 11:03] paglias commented on #7891
I've closed the issue but if you have any other question feel free to ask

[2016-08-12 11:22] nurgasemetey commented on #7891
Yeah, I tried in another client and I was able to add tags. It seems that Google Apps Script incorrectly serializes array. Sorry for interruption.

[2016-08-12 11:36] crookedneighbor commented on #7892
They will be in the pets list in the stable, not the mounts list.

[2016-08-12 11:36] #7892 closed, assigned to nobody

[2016-08-12 11:42] adribe82 commented on #7892
Yeah, when I said "pets" I meant mounts. I still see paw prints when the actual mounts are supposed to be, as if I hadn't used any of the magic potions. I'm attaching a screenshot for reference.
[Habitica_magic mount.pdf](https://github.com/HabitRPG/habitrpg/files/415202/Habitica_magic.mount.pdf)

[2016-08-12 11:52] Alys commented on #7892
As @crookedneighbor says, your hatched eggs created pets which will be in the Pets page; the screenshot you took is the Mounts page. Our logs show that you bought six of the hatching potions and your account contains six Thunderstorm pets.

We have a guild now for telling us about bugs, which you might find more convenient, and which often helps us because we can see information about your Habitic

[2016-08-12 13:53] #7825 closed, assigned to nobody

[2016-08-12 17:13] eternal44 commented on #7792
@Alys - would it be okay if I took a stab at this?  I read through the blacksmith guidance page and I'd like to give it a go.  If there are any new developments please let me know!

[2016-08-12 20:19] Shanata88 commented on #7854
Transparent Skin Description:  G-g-g-g-ghost!

[2016-08-12 20:44] lynxlynxlynx commented on #7777
This can be closed, as Alys already fixed this in 4df2b723f.

[2016-08-12 20:55] #7777 closed, assigned to nobody

[2016-08-12 21:44] Alys opened #7894 "can't flag a post if the poster's account is deleted"
If a user has deleted their account, any chat messages they've made cannot be flagged. This red notification is displayed:
`User with id "40c83fc9-4eff-4467-9396-67c125137739" not found.`

The console reports:
`GET https://habitica.com/api/v3/members/40c83fc9-4eff-4467-9396-67c125137739?userV=12670 404 (Not Found)`

The desired behaviour is:
- the person trying to flag the post does not see any er

[2016-08-12 22:22] crookedneighbor opened #7895 "Polyfill Proxy in tests to throw errors for undefined chai property assertions"
Cha now supports throwing errors on undefined properties https://github.com/chaijs/chai/pull/721

IE writing

[code]

Will fail because the property should be `exist`

However, it requires Proxies (available in Node 6). Until we can upgrade to Node 6, we should see if we can polyfill Proxy in tests to get this behavior.

[2016-08-12 22:31] #7699 closed, assigned to nobody

[2016-08-12 23:02] Hus274 commented on #7894
I can take a look into this

[2016-08-13 02:16] lemoness commented on #2893
I agree that making the badges larger is a good idea! Perhaps they could be
at x2 the size. They'll need to be scaled up with nearest neighbor (or
equivalent) to preserve the crisp pixels.

Let me know if you need help with art for making the badges greyscale.

All of the badges you listed as rare look good to me!

On Tue, Aug 9, 2016 at 2:40 PM, Kaitlin Hipkin notifications@github.com
wrote:

[2016-08-13 03:38] khipkin commented on #2893
@lemoness So does that mean all new images need to be added for the greyscale badges?  If so, I would love some help making them!

[2016-08-13 04:21] Hus274 commented on #7894
The only way I can see getting around the user not seeing the error either on the site or in the console is to have the api not return an error when querying for a user that doesn't exist and instead returning an empty object. I would be hesitant to make this change to the api as that sounds like a big change with a potentially large blast radius.

For this reason, I think that the best solution I

[2016-08-13 04:40] crookedneighbor commented on #7894
I don't understand. Can you link to some code snippets about why this would affect more than the flag route?

[2016-08-13 05:36] crookedneighbor commented on #7894
Oh I see what you mean now. On the client, we look up the member before opening the flag modal. I'm not sure it's actually necessary to do that though. All the needed member info should already be stored on the chat message.

[2016-08-13 13:33] Alys commented on #7792
@eternal44 That would be great, thank you! You're welcome to ask here if you run into any problems or have any questions.

[2016-08-13 15:19] paglias commented on #7895
Maybe https://github.com/tvcutsem/harmony-reflect

[2016-08-13 15:28] Hus274 commented on #7894
Yeah it looks like it's not needed, like you said everything that's needed is in the message object itself. Removing this call seems the right way to go about it instead of making a new api call.

[2016-08-13 15:32] Hus274 commented on #7894
- [x] the person trying to flag the post does not see any error messages
- [x] no error appears in the console
- [x] the flag action is successful
- [x] the email to moderators contains as much information as it can, taken from the post being flagged
- [x] the email to moderators contains a message that the user's account has been deleted

[2016-08-13 16:49] ghost commented on #7769
So, uhmm.. commenting again since it looks like this has been forgotten.

Still waiting for a response on how this should be done..

[2016-08-13 19:45] Joerle opened #7898 "Grand gala & Seasonal shop items missing after rebirth"
I recently rebirthed my character, and read through the warning about equipment being removed and put in the rewards box for re-purchase.
However, I must have missed the part about seasonal items! (if it was there) I have NO seasonal equipment available for repurchase, even though I bought some cross-class items with gems! Please let me know if this is a mistake, or working as intended.

name: Joe

[2016-08-13 19:55] Joerle commented on #7898
May be related to #6724 (if so, sorry for the duplicate)
https://github.com/HabitRPG/habitrpg/issues/6724

[2016-08-13 20:21] librarianmage commented on #7861
None of my tests seem to crash the server, but a few of them have run over an hour, and only the top 5% is useful information

[2016-08-13 20:23] Alys commented on #7898
@Joerle It is intentional that all equipment is removed by the Orb of Rebirth, except equipment that has a zero gold cost - that's what's referred to by the Orb's description where it says "You have no Experience, Gold, or Equipment (with the exception of free items like Mystery items)."

The Orb takes you back to a state very similar to that of a new user, which means that equipment from other cl

[2016-08-13 20:23] #7898 closed, assigned to nobody

[2016-08-13 20:24] crookedneighbor commented on #7898
It is currently working as intended. You can repurchase the gear by switching to that class. We may change the behavior in the future (as mentioned in the issue you posted), but for now it is working as it should.

[2016-08-13 21:19] Alys commented on #7335
We have [this issue](https://github.com/HabitRPG/habitica-markdown/issues/8) now for adding support for a spoiler tag (useful for trigger warnings too). I've also added a note about this in our plans for an upcoming renovation for the website. I'm closing this issue now because those two things should cover it.

[2016-08-13 21:19] #7335 closed, assigned to nobody

[2016-08-13 21:53] Joerle commented on #7898
Thanks @Alys
I was a mage previously, so I won't mention that equipment... The ones I purchased with gems is as follows:
Icicle Drake set (Rogue, Winter Wonderland 2014/2015)
Bloodred Set (Rogue, Fall Festival 2014)

As for suggestions on making it clearer... I'll see if I can find a full transcript and take a look... I think a note about seasonal/class equipment appearing after a class change wou

[2016-08-14 02:13] Shanata88 commented on #7854
@MathWhiz

I saw your comment about numbering the skins being considered ranking; I see your point and I think the easiest way is to number them from lightest to darkest or darkest to lightest. Personally I would start with the darkest as number one and go up to the lightest. I think this will get the least push back as 0 is black in Hex.

[2016-08-14 08:10] ShulamitLH commented on #7320
This still hasn't been fixed. I just tried editing an existing challenge that I created and was unable to change name or difficulty of any task within the challenge. I tried this with one I created long ago and also a test challenge I created this morning. This is true for to-do tasks. I haven't tried dailies or habits. I was able to add an additional to-do and to delete a to-do. But I can't chang

[2016-08-14 11:52] Alys commented on #7320
@ShulamitLH The fix for this issue hasn't gone live yet. Issues are closed when the proposed fix has been tested, shown to work, and accepted (GitHub then closes the issues automatically in most cases), but the fix isn't necessarily deployed to the production website until a few days afterwards. You can monitor Releases page at https://github.com/HabitRPG/habitrpg/releases if you'd like to know wh

[2016-08-14 16:03] ghost commented on #7769
Okay, I decided to go on and just make 2 versions - one where all of the pets are at the bottom middle, and another where they'all at the bottom left (except for the flying pig, which is at the top).

They can be downloaded here:

pets_middle.rar - [Google Drive](https://drive.google.com/file/d/0B7Jc0QSXtv_qNlBOWDdwWURrUUU/view) | [ZippyShare](http://www53.zippyshare.com/v/3SxNRFaE/file.html)

pet

[2016-08-15 08:52] eternal44 commented on #7792
@Alys - I wrote out the backend to meet the specs you described but wasn't sure how you wanted to display all of the pending invitations without dramatically changing the layout.  Any thoughts?

[2016-08-15 09:15] Alys commented on #7792
@eternal44 Thank you for that! But I have no thoughts at all I'm afraid.

@lemoness Did you have any designs for how multiple invitations should be displayed or any words for describing the details?  These were my thoughts (from a comment above) about what the wording would need to describe:

"it should be VERY clear to the player that they can accept only one invitation, and that once they're in

[2016-08-15 17:03] khipkin commented on #2893
@SabreCat

In [this commit](https://github.com/HabitRPG/habitrpg/commit/c90f7e2c348791effb2086d38883880301a1032b), the `achievement-helm` img was renamed to `achievement-ultimate-warrior`, but [the reference to the image in the npc achievement in the achievements list](https://github.com/HabitRPG/habitrpg/blob/c90f7e2c348791effb2086d38883880301a1032b/website/views/shared/profiles/achievements.jade

[2016-08-15 17:40] khipkin commented on #2893
@lemoness

Here's what the grid looks like with 2x achievement sprites:

![image](https://cloud.githubusercontent.com/assets/5641207/17673078/882ed5ea-62ed-11e6-81b2-40d69109147f.png)

[2016-08-15 17:52] khipkin commented on #2893
Here's what the grid looks like with 2x achievement images after I moved the survey and contributor achievements into the special section, both showing and hiding the hidden-if-unachieved achievs:

![image](https://cloud.githubusercontent.com/assets/5641207/17673493/5c9cd678-62ef-11e6-98b1-3ac56c7ffab3.png)

This way, the special section is guaranteed to never be completely empty.

_(edit: wording

[2016-08-15 22:29] cTheDragons commented on #7320
Hi @Alys  I think the confusion as arisen as the [release notes](https://github.com/HabitRPG/habitrpg/releases) do say for version v3.3.20 under API

[2016-08-15 22:40] Hus274 commented on #7320
It looks like it was reverted though, the 3.31 has the green latest release label next to it.

[2016-08-16 00:34] librarianmage commented on #7854
@all Thank you all for helping me! I am **so** grateful for all of your contributions! I am sorry for not integrating everyone's suggestions yet (very busy irl 😅), but I will look again at everyone's changes.

---

I have selected @habitrpguser as the challenge's winner, due to their many helpful and detailed suggestions. Thanks all for your help!

[2016-08-16 01:10] khipkin commented on #2893
@lemoness Nevermind about needing help with the images. I figured out how to do it myself.

[2016-08-16 01:25] khipkin commented on #2893
![image](https://cloud.githubusercontent.com/assets/5641207/17685033/806366b4-632e-11e6-86a8-7926c7ab0c87.png)

[2016-08-16 03:14] #7894 closed, assigned to nobody

[2016-08-16 03:21] #7798 closed, assigned to nobody

[2016-08-16 13:54] Olia1 opened #7905 "Android stopped working after update"
- sorry for posting in the wrong section, but I can't figure out how to post an issue at the android section from my phone.
- I have updated the app to version 0.33.1, and the app has stopped working. It crashes about 2 sec after opening it.
- tech details :
  Android 5.1.1

[2016-08-16 14:11] crookedneighbor commented on #7905
I've opened an issue for you on the android repo: https://github.com/HabitRPG/habitrpg-android/issues/598

You can click subscribe on that issue to follow the progress.

[2016-08-16 14:11] #7905 closed, assigned to nobody

[2016-08-16 14:43] mandyzhou commented on #2893
This looks really great! Two thoughts:
- Would it be possible to make the greyed out badges a little paler? Maybe it's just me, but right now they kind of look like silver badges.
- I'm not sure if this was already in the works, but for achievements that can stack, they should probably go into one achievement slot since the number of streaks and perfect days can get pretty high. Also, I feel like

[2016-08-16 18:27] mikean92 opened #7906 "Check/Uncheck task causes great damage to group Boss"
General Info
- UUID: 9ee20fbd-ed43-40c2-a900-acfc9582b902
- Group ID: bfb55d3c-2ec8-4f80-b67f-6152d2b2e32e
- Browser: Chrome 52
- OS: Linux
### Description

Checking and unchecking repeatedly a task gives and remove HP, EXP and coins. That's completely normal. But unchecking does not remove Damage deal to Boss. So if you check and uncheck a couple of times a task, you will make a huge hit unintent

[2016-08-16 18:39] khipkin commented on #2893
@mandyzhou Something like this?? :smile:

![image](https://cloud.githubusercontent.com/assets/5641207/17711460/b835a714-63bf-11e6-8081-d022ca1fb6e9.png)

[2016-08-16 19:11] khipkin commented on #2893
And does this look better?  I made the one muted badge brighter with lower contrast.  If this is better, I can do the same to the rest of the muted badges.

![image](https://cloud.githubusercontent.com/assets/5641207/17712368/9af26260-63c3-11e6-9ce7-7ec9d10fbe07.png)

[2016-08-16 21:48] Oracle-Speaks commented on #4252
My party finished the quest: Dilatory Distress, Part 1: Message in a Bottle
All items found! Party has received their rewards. 08/16/2016 07:17:52
I didn't receive any reward for it. Thank you for your help.
User ID: 39a699ce-81f3-4593-b81d-26244987f2b4
Group ID is: 1eff5ca9-4ce4-4759-b02b-6d881a517c0c

[2016-08-16 23:08] negue commented on #2893
@khipkin great work, btw! could you send me a pm in habitica, I was about to start to work on an achievement api endpoint so that the   mobile apps could have them as well, and I think we could could collaborate on this one :)

[2016-08-17 00:34] khipkin commented on #7906
@mikean92 You should report this in the [Report a Bug guild](https://habitica.com/#/options/groups/guilds/a29da26b-37de-4a71-b0c6-48e72a900dac) before creating a GitHub issue just in case they can help you over there.  @Alys 's [response on a similar issue](https://github.com/HabitRPG/habitrpg/issues/6971#issuecomment-202193264) may also be helpful.

[2016-08-17 07:38] Alys commented on #4252
@Oracle-Speaks I've given the achievement and rewards to you. Reload if you don't see them. Please tell me if they don't appear after that!

FYI for admins, for the record, another example of this bug from the Report a Bug guild, about six hours ago:
intirb (fcbeedbb-d4f9-4eca-bfc9-6e32a6f172a1)
Our party just successfully completed the egg hunt quest, but no one received any eggs. Please help!

A

[2016-08-17 14:19] mandyzhou commented on #2893
@khipkin Oooh, I really like the way you implemented the numbers. The single-digit ones may need to be bumped over to the left just slightly, but they look great overall.

For the greyed out badges, I'm not sure but they still seem a tad dark to me ... Maybe someone with more design/pixel art experience can chime in? Again, just don't want them to be mistaken for silver badges.

[2016-08-17 15:38] weedleeedle opened #7907 "Progress graph improperly sized"
General Info
- UUID: 1dafa79b-7d21-4751-ab5d-215c1c5fcc45
- Browser: Firefox 48
- OS: Windows 10
### Description

![capture](https://cloud.githubusercontent.com/assets/11594471/17742654/64ee2ac0-644d-11e6-8dfc-4f08af26c753.PNG)
When opening up a progress graph of any given daily/habit, it's impossible to see the very end of the graph, normally the last couple days. This may be related to the fact

[2016-08-17 16:32] tricksyfox commented on #2893
@khipkin Here from the Pixel guild. I see what you mean about them looking silver... but before you fiddle too much with making them look gray, I'd propose that if they're going to be larger anyway, it'd be a good opportunity for a redo of the icons. A bigger canvas allows for more detail, after all. Just a thought.

For making them look less silver, I think the "rain" icon is a great improvement.

[2016-08-17 16:56] crookedneighbor commented on #2893
I think we should hold off on creating separate grayscale versions of the icons until the website redesign is underway. We'll want the disabled look to match the aesthetic of the redesign.

[2016-08-17 19:05] tricksyfox commented on #7888
This is somewhat separate, somewhat related, but it really bothers me that the flying pig is so much higher up on the lineup than the rest of the pets. I get that it's "flying", and it doesn't bother me when it's equipped, but it throws off what is otherwise a very lovely line.

[2016-08-17 19:06] tricksyfox commented on #7882
Do you think you could post some screenshots? I "ate" all my cake.

[2016-08-17 19:59] khipkin commented on #2893
@crookedneighbor I've already done like 95% of the work, and updating the images I already made wouldn't be a big deal to me.  Is that why you're objecting?  I'd prefer if the stuff I did is used for only a little while instead of not at all.  And I'd be more than willing to update everything when the site redesign comes along.

[2016-08-17 20:43] citrusella commented on #7882
I ate the cake, too, in a moment of "oops, I meant to keep that", or I would post screenshots. (I didn't at the time because my computer was being finicky, but it's better now... but of course, now I don't have the cake...)

[2016-08-17 20:45] tricksyfox commented on #7882
I guess we can't screenshot our cake and eat it, too!

Anybody else still have theirs?

[2016-08-17 20:47] Ozzystrasza commented on #5284
After my changes nothing happens when you click on the tasks on challenge view, creation or editing. However, on creation or editing it still shows the V when you hover the mouse on the button . I'm having trouble disabling that. Any suggestions?

[2016-08-17 21:36] CarInAPark opened #7908 "ServerInternalError when trying to pay with paypal"
General Info
- UUID: becc59b5-e391-4aab-8947-5170e2e8a6d0
- Browser: Chrome 51.0.2704.103 (64-bit)
- OS: Mac OSX 10.11.4
### Description

I encountered an error when trying to subscribe to Habitica using PayPal. I was prompted to log in (which I did, successfully) and I chose to change the default credit card for payment but when I tried to proceed, all I saw on the screen was the following:
{"suc

[2016-08-18 00:31] Alys commented on #7320
@Hus274 is correct: we had to revert that entire release due to a bug with another PR that wasn't related to this one but that went live at the same time. That bug has been fixed now so my personal guess is that we'll redeploy soon. All admins have interrupted schedules at the moment so there's a delay until we're settled.

[2016-08-18 00:54] khipkin commented on #7882
Here's all the cake I still have! (I'm a hoarder.  Halp.)

![image](https://cloud.githubusercontent.com/assets/5641207/17758363/abbef226-64bc-11e6-901b-fb7e60449891.png)

[2016-08-18 01:46] crookedneighbor commented on #2893
It's less a matter of the amount of work you would have to do, and more about supporting these alternate sprites in perpetuity. We maintain all the sprites in s3 storage for the mobile apps to use. Would we need to commit to including these as well? I'm also wondering if it's necessary to have alternate images, or if we could apply whatever affect we need with css.

[2016-08-18 03:30] khipkin commented on #2893
@crookedneighbor Oh I see. Well, I agree that it would be better to accomplish this effect with CSS alone, but I couldn't figure out how to do it.

[2016-08-18 06:34] lemoness commented on #2893
As a side note, if we do decide to do greyscale art assets that are created
separately, you won't need to do those yourself -- the Artisans will handle
that. But I agree that we probably don't need to do that part yet if
there's no other way to do it.

On Wed, Aug 17, 2016 at 8:30 PM, Kaitlin Hipkin notifications@github.com
wrote:

[2016-08-18 12:02] crookedneighbor commented on #7895
Looks like the PR I mentioned has been merged in, but is slated for the 4.0.0 release.

[2016-08-18 15:03] jrenee25 opened #7909 "Completed Dailies and Tasks do not damage Boss"
General Info
- UUID: 37635d5f-c9cb-4842-8c86-2a0be1263afa
- Browser: Chrome 52.0.2743.116 m
- OS: Windows 7 Ent
- Group (Party) ID: 73d7f036-cf6a-49cf-9e29-6462f023aad0
### Description

I completed all of my tasks and dailies yesterday, but when I logged in this morning and looked at the party chat (group ID 73d7f036-cf6a-49cf-9e29-6462f023aad0), I saw this: "JennB attacks Magical Axolotl for 0.0

[2016-08-18 15:16] vickyRuiz commented on #7888
The reason these pets are so far from the title is because there are 2 invisible rows of pets in between. I'm not familiar enough with the app to say why they're invisible however: were they not developed? Are they not being loaded the right way? They're the spooky, floral and peppermint pets.

[2016-08-18 15:18] tricksyfox commented on #7888
I have a floral pet, so the white space is less for me. But in theory the space shouldn't exist unless the user has those pets, right? Or there should be paw prints like there are for the quest pets, as placeholders?

[2016-08-18 15:21] tricksyfox commented on #2893
Thinking about the "locked" badges (though I agree with @lemoness that you can definitely let the artisans handle it! We're an enthusiastic bunch :) ), we might not even need to bother with a "greyed out" version of each and every badge. It could be a consistent "there's a badge here that you haven't unlocked yet" icon, like for the quest pets that haven't hatched yet (paw print with a question ma

[2016-08-18 20:07] paglias commented on #7908
Sorry about this. Unfortunately we cannot find your error in the server logs nor reproduce it. We show an internal server error because Paypal errors are difficult to parse and sometimes we use internal server errors to avoid showing sensitive information. I agree that a nice HTML page would be much better

[2016-08-18 20:47] paglias commented on #5428
This should be fixed now, can you try it and check?

[2016-08-18 20:57] Kiphen commented on #5428
@paglias It works! Tried on Edge - Windows 10 Mobile

[2016-08-18 20:58] #5428 closed, assigned to nobody

[2016-08-18 21:33] Alys commented on #7888
So far, hatching potions for four types of Magic Potion pets and mounts have been released. We don't want to show paw prints for each set unless the user already has at least one pet for that set (and then show the full row of paw prints for both pets and mounts of that type). The website is doing that correctly except that when it hides the row of paw prints, it seems to be not hiding some whites

[2016-08-19 04:33] Alys commented on #5988
Another confirmed report from Nebrets (49d31f0b-ec0a-4629-b25e-db953f27cbe8). Their cron at Aug 16, 2016 10:02:51 am UTC ran according to Amplitude but did not produce a quest progress message for an active quest.

And from Prita (9874841c-c18f-4628-837d-02f9eaa0b46d). Their cron at Aug 18, 2016 1:51:20 am UTC  ran according to Amplitude but did not produce a quest progress message for an active q

[2016-08-19 04:40] Alys commented on #7825
A Tavern comment from Over WHAT hill?  :)

**Apropos of nothing, I'm enjoying seeing the different messages that sometimes replace "Your party is loading!" "Coming in from battle" is very good, but I think I like "materializing" even better! Whoever thought of this: great idea!.**

[2016-08-19 14:13] LadyOrTheTiger commented on #4332
This was fixed 2 years ago.

On Fri, Jul 29, 2016 at 10:06 AM, Ryan Castner notifications@github.com
wrote:

[2016-08-19 16:25] tricksyfox opened #7914 "Opening a Challenge description jumps to the top of the page"
General Info
- UUID: 90e5c4f2-d5d9-4472-ab2c-19041ee2218d
- Browser: Chrome
- OS: OS X Yosemite

Description
On the website, when I click on a challenge to open up its description, I get jumped back to the top of the page and have to scroll down to where it's opened. This isn't an issue when things are near the top, but it can get tiresome when you're further down!

Note from Alys in the Bug guild

[2016-08-19 16:29] Alys commented on #7914
Thanks @tricksyfox.

I've marked this as important because it will be extremely annoying when you're trying to view challenges far down the list and it affects potentially every user.

[2016-08-19 18:02] sporeball opened #7915 "Sprites will not compile"
- **User ID:** ce3d1e2b-be53-4e5e-8101-273157548178

Sprites are not compiling at all for me. I've tried running both `npm run sprites` and `gulp compile:sprites` in the node.js command line, with no result. Running either of those commands logs no other message, does nothing, and still lets me run any other command immediately after.

[2016-08-19 18:07] sporeball commented on #7738
I'm unable to compile sprites to test the changes I've been making recently, so I'll continue fixing this issue as soon we figure out a solution to that problem.

I just opened #7915 for the problem with compiling sprites.

[2016-08-20 12:16] crookedneighbor commented on #7915
What operating system are you using?
What node version?

When I run `npm run sprites`, I get:

[code]

When you say it does nothing, you're not even getting:

[code]

Do other gulp commands work? For instance, `npm run test:api-v3:unit`?

[2016-08-20 16:54] Alys commented on #7747
The missing space in @GitHubSphinx 's second comment (just above) has been fixed.

[2016-08-20 20:07] khipkin commented on #2893
@tricksyfox Ohhh that's an amazing idea!  What about a generic badge-shaped thing with a question mark on it?  Either greyed-out or different in some other obvious way.  That way the special badge icons can be unlocked!  Ahh this is such a good idea. :tada: :+1: :tada:

[2016-08-20 20:13] khipkin commented on #2893
@lemoness How do I go about requesting art?  Can I just ask in the Aspiring Artisans guild or should someone with authority do it?

[2016-08-20 20:41] esmanning opened #7916 "Character appears too high in avatar on profile when no pet or mount is equipped"
General Info
- UUID: 809d8b43-07a1-49ab-9bb5-ad3ba461688d
- Browser: Firefox
- OS: OS X El Capitan
### Description

With no pet or mount equipped, my avatar character appears higher up in the profile version of my avatar than on my header, so that the profile version looks like it's floating above the ground.

![screen shot 2016-08-20 at 3 57 55 pm](https://cloud.githubusercontent.com/assets/15826

[2016-08-20 21:18] paglias commented on #7725
This should be edited to permit only letters, numbers, hyphens and dashes for new users. Old users are grandfathered

[2016-08-20 21:18] Alys commented on #7916
Confirmed. Equipping and dequipping a pet shows this clearly.

[2016-08-20 22:59] sporeball commented on #7915
I'm using node.js 6.2.2 on Windows 10. Other gulp commands don't work either.

[2016-08-20 23:27] tricksyfox commented on #2893
@khipkin AFAIK a mod or admin should post it as an item on the trello board. I think they mostly come from lemoness or beffymaroo. _eyes current claims to see if I can wrap up one of them before it gets listed_

[2016-08-21 00:37] jrenee25 commented on #7909
This happened again today. Here is the message I got when I logged into the party chat: "JennB attacks Task Flotsam for 0.0 damage. Task Flotsam attacks party for 0.0 damage. -2 minutes ago"

[2016-08-21 01:47] #1023 closed, assigned to nobody

[2016-08-21 01:50] paglias commented on #2136
We're going to implement this separately, not on the website directly

[2016-08-21 01:50] #2136 closed, assigned to nobody

[2016-08-21 02:03] Alys commented on #4313
@paglias removed local storage for user's data and we haven't seen any reports of this bug that can't be ascribed to other bugs, so I am closing this.

@paglias, the bounty is yours if you want it.

[2016-08-21 02:03] #4313 closed, assigned to nobody

[2016-08-21 02:08] paglias commented on #2699
We've decided that we're not going to implement this and it's better to use tags for it

[2016-08-21 02:08] #2699 closed, assigned to nobody

[2016-08-21 02:16] #4518 closed, assigned to nobody

[2016-08-21 02:17] Alys commented on #4315
Habitica's code has undergone large changes since this was last reported, which means that the code that caused these bugs probably does not exist any more. I'm closing this, but if you notice the same problem happening again, please open a new issue.

[2016-08-21 02:17] #4315 closed, assigned to nobody

[2016-08-21 02:17] #5919 closed, assigned to nobody

[2016-08-21 02:19] Alys commented on #5919
For anyone who has a bug that seems to be covered by this, please read all the information in the top post. If you still think you experienced a bug, please describe it in the [Report a Bug](https://habitica.com/#/options/groups/guilds/a29da26b-37de-4a71-b0c6-48e72a900dac) guild.

[2016-08-21 02:24] #7688 closed, assigned to nobody

[2016-08-21 03:22] Alys opened #7917 "Orb of Rebirth: change to cost 6 gems, not remove any equipment"
Now that long-term players have so much equipment, using the Orb of Rebirth results in far too much gear to buy back and is unfair to users who have already bought cross-class previous-season gear using gems. We've decided to fix this by stopping the Orb of Rebirth from removing any equipment at all, and make it cost slightly less.

After this change goes live, we will announce it in a Bailey mess

[2016-08-21 03:41] Alys commented on #7662
I'm closing this because it will be resolved when this fix is done:

https://github.com/HabitRPG/habitrpg/issues/7917 "Orb of Rebirth: change to cost 6 gems, not remove any equipment"

[2016-08-21 03:41] #7662 closed, assigned to nobody

[2016-08-21 03:41] Alys commented on #5750
I'm closing this because it will be resolved when this fix is done:

#7917 "Orb of Rebirth: change to cost 6 gems, not remove any equipment"

[2016-08-21 03:41] #5750 closed, assigned to nobody

[2016-08-21 04:03] paglias commented on #7915
@MrEikono Habitica's using Node 4.x Try using that version

[2016-08-21 04:10] Alys commented on #7906
Thanks @khipkin !

@mikean92 We do consider this a low priority because of the way we don't try to stop cheating, as described in the issue @khipkin linked to, however we intend to fix it when we can. It's reported in https://github.com/HabitRPG/habitrpg/issues/5648 and the fix is waiting on me to do some other stuff first. :( I'm closing this but you can follow https://github.com/HabitRPG/habitrp

[2016-08-21 04:10] #7906 closed, assigned to nobody

[2016-08-21 04:15] Alys commented on #7898
@Joerle Sorry about the delay! I've given you back the Rogue gear. Tell me if any is still  missing (Data > Data Display Tool will tell you definitively).

FYI, Rebirth will be changed as described here: https://github.com/HabitRPG/habitrpg/issues/7917

[2016-08-21 04:48] Alys commented on #7909
For the record, here is my reply to JennB's first report of this when they posted the same report to the Report a Bug guild:
"JennB : I have not seen that before that I recall. It's weird. I have looked into it to some extent but haven't found any explanation. If it happens again PLEASE tell us!"

@JennB, for this second quest, can you please tell me which party member started the quest? I want to

[2016-08-21 06:09] paglias commented on #7830
A blog post by someone who setup Let's Encrypt on Elastic Beanstalk https://go-to-hellman.blogspot.com/2015/11/using-lets-encrypt-to-secure-elastic.html

[2016-08-21 06:14] paglias commented on #7832
Yeah I think the footer is the best place for it. Feel free to make a PR

[2016-08-21 06:20] paglias commented on #7846
PRs are welcome. When someone works on this they should also check that all the fields sent to the server are actually useful

[2016-08-21 06:20] #7847 closed, assigned to nobody

[2016-08-21 06:26] paglias commented on #7895
Waiting for 4.0 release

[2016-08-21 06:33] lemoness commented on #7917
A follow-up: when we make this change, we should also award the badge
for Empty the Armory (or final name) to everyone who used the
original Rebirth already. The badge will later be made generally available
when we finish the new feature.

On Saturday, August 20, 2016, Alys notifications@github.com wrote:

[2016-08-21 06:34] paglias commented on #7854
(Tagging this as `in progress` even though there's no PR because actual work is happening in the issue - feel free to ignore this comment)

[2016-08-21 06:35] lemoness commented on #2893
I will list it :) Great idea!

On Saturday, August 20, 2016, tricksyfox notifications@github.com wrote:

[2016-08-21 06:36] paglias commented on #7836
@thealia sorry for the delay, is this an issue or it solved itself after some time?

[2016-08-21 06:38] paglias commented on #7822
What we're using on the client side are native HTML5 validations and their interface is implemented directly by browsers so that could be a reason why someone is seeing messages and someone not.

[2016-08-21 06:42] Alys commented on #7917
I've updated the top post with two action items for the Empty the Armory achievement being given to Rebirthers.

[2016-08-21 06:55] Alys commented on #7841
Sorry about the delay on this! I've given you 8 gems.

Our Amplitude data shows that the Orb of Rebirth was used once for free on Jul 28, 2016 2:38:53 am UTC and a second time for 8 gems on Jul 28, 2016 2:38:59 am UTC. Your level was listed as 120 both times.

I don't yet know what caused that.

[2016-08-21 15:50] ghost commented on #7836
@paglias I ended up hatching new pets to "rewrite" the ones that I mentioned, so I legit have those pets now. Still don't know what I did to make it buggy the first time, but all's cool, thanks :)

[2016-08-21 18:27] khipkin commented on #7906
@Alys Nice catch on the duplicate issue... I couldn't find one. :stuck_out_tongue_closed_eyes:

[2016-08-21 23:36] khipkin commented on #2893
@lemoness @tricksyfox Eeeee yayy! Thank you!

[2016-08-22 03:23] lemoness commented on #2893
The badge has been listed! https://trello.com/c/xfXldYs1/11-badges-open

On Sun, Aug 21, 2016 at 4:36 PM, Kaitlin Hipkin notifications@github.com
wrote:

[2016-08-22 03:23] lemoness commented on #7917
I've listed the need for an Empty the Armory badge on Trello to assist with
this issue.

On Sat, Aug 20, 2016 at 11:42 PM, Alys notifications@github.com wrote:

[2016-08-22 06:21] cching0L2 commented on #7917
I would like to tackle this issue if nobody else is interested

[2016-08-22 13:01] jrenee25 commented on #7909
I'm so sorry - I didn't see your response in the "Report a Bug" guild until this morning.

I believe both quests were started by EmanonSuomynona (8cb48592-37f4-4925-a1fd-9b030f6d8619).

[2016-08-22 15:09] Dewines commented on #7320
I'm rather confused as to whether the challenge editing bug is supposed to be fixed or not. The version now seems to be v3.33.1 and some of the editing problems have been fixed, but not all of them.

I can now edit the title of an existing task and the changes save OK (which you couldn't do before), however, I created half of a complicated challenge two days ago and now it won't let me add the To-

[2016-08-22 16:48] Alys opened #7918 "new tasks cannot be added to an existing challenge"
When a challenge has already been created and saved, it is not possible to add new tasks to it (it should be possible). When you try, you see "Challenge not found or you don't have access." and the console reports:
`POST https://habitica.com/api/v3/tasks/challenge/0b63cb69-8942-4a17-a506-9c3e4855616e?userV=13904 404 (Not Found)`
That ID is the ID of the challenge.

[2016-08-22 16:49] Alys commented on #7320
@Dewines Thank you for telling us! I've created a new issue for it: https://github.com/HabitRPG/habitrpg/issues/7918

[2016-08-22 16:52] Alys commented on #7917
@cching0L2 That would be great, thank you! You're welcome to comment here if you have any questions or if you run into trouble.

[2016-08-22 20:20] Hus274 commented on #7918
Sorry, this is something I should have caught in the last one. I'll look into this and try to get it resolved.

[2016-08-22 20:36] #7836 closed, assigned to nobody

[2016-08-22 22:39] khipkin commented on #7916
Wow that's super bizarre. Good catch!

[2016-08-23 00:08] Alys commented on #7918
@Hus274 Thank you very much! I think it wasn't listed in the old one, so no blame to you!

[2016-08-23 01:09] Hus274 commented on #7918
Ok, so I thought I had tested this, I'm actually not able to replicate this on my local system. I've added a new habit, new daily, new todo, and new reward all locally after completely setting up the challenge and refreshing. Can you provide any more information around this so I can better try to replicate the issue?

[2016-08-23 01:21] Alys commented on #7918
I tested earlier by choosing a challenge I'd created in the past, clicking its edit button, and then I tried to add new tasks to it.

I've just tested now by creating a new challenge, saving it, then editing it, and the bug doesn't occur with it.

Looks like we'll need to work out what conditions cause it.

[2016-08-23 01:53] Hus274 commented on #7918
Hmm that's strange, there wasn't any change to the actual challenge in the database so the code shouldn't be able to tell the difference between a new challenge and an old challenge. I'll try to think about this a bit more to see if I can come up with something

[2016-08-23 02:01] khipkin commented on #5168
Just my opinion, but I think this issue can be closed, since we already have #7764.

[2016-08-23 02:06] Alys commented on #5168
@khipkin Good point! Since there were no disagreements in https://github.com/HabitRPG/habitrpg/issues/7764 to staying in challenges when you leave a guild, we can consider this inconsistency resolved in favour of that behaviour. It will be implemented in #7744

[2016-08-23 02:06] #5168 closed, assigned to nobody

[2016-08-23 03:01] khipkin commented on #2893
Updated screenshot with the current version of @tricksyfox's (WIP) "unearned" achievement badge!  Personally, I love it. :tada: :balloon: :fireworks:

![image](https://cloud.githubusercontent.com/assets/5641207/17878914/1f4cab72-68bc-11e6-9f07-5c80c1d15a5a.png)

[2016-08-23 04:08] Alys commented on #3297
We have this recorded in Trello now as a feature request so I'm closing this issue.

[2016-08-23 04:08] #3297 closed, assigned to nobody

[2016-08-23 04:08] Alys commented on #4548
Habitica's code has recently undergone large changes, which means that the code that caused these bugs probably does not exist any more. I'm closing this, but if you notice the same problem happening again, please open a new issue.

[2016-08-23 04:08] #4548 closed, assigned to nobody

[2016-08-23 04:10] Alys commented on #4113
Habitica's code has recently undergone large changes, which means that the code that caused these bugs probably does not exist any more. I'm closing this, but if you notice the same problem happening again, please open a new issue.

[2016-08-23 04:10] #4113 closed, assigned to nobody

[2016-08-23 08:06] Dewines commented on #7918
Would having a link to the challenge that is causing me problems help? I don't know when the new version of the code went live, but I only created this challenge at the weekend.

https://habitica.com/#/options/groups/challenges/663aae43-87c2-40bb-a25e-f2077f03b7b9

I set up the Habit and Dailies, but didn't have time to look up all the links I wanted to include in the To-Dos, so saved it to finish

[2016-08-23 12:18] mandyzhou commented on #2893
I love it too -- @tricksyfox, you're brilliant!

[2016-08-23 12:58] crookedneighbor commented on #2893
:+1:

[2016-08-23 14:07] Hus274 commented on #7918
The only thing I could think of looking at that challenge that might be different from what I tested was that you're trying to add to an empty list, but I'm not sure why that would make a difference. Does it work if you try and add a new habit?

[2016-08-23 14:25] Hus274 commented on #7918
It has to be being thrown here: https://github.com/HabitRPG/habitrpg/blob/develop/website/server/controllers/api-v3/tasks.js#L123

so from this it looks like one of the following has to be true
`!challenge || user.challenges.indexOf(challengeId) === -1`

It seems unlikely to me that the challenge doesn't exist which makes me think that it's not in the user's challenges array. Would this be somethi

[2016-08-23 14:27] Alys commented on #7918
@Hus274 Ah, good catch! When I leave a challenge I own, I cannot edit it, when I rejoin, I can.

@Dewines as a workaround, you'll be able to edit your challenges if you become a participant temporarily. Sorry about the hassle!

@Hus274 If you'd like to fix that, you'd be welcome to! There should be no requirement for a challenge owner to be a participant in their own challenges. They should still

[2016-08-23 14:29] Hus274 commented on #7918
Yep should be pretty easy to do, I can work on it!

[2016-08-23 15:21] tricksyfox commented on #2893
Thanks, @khipkin and @mandyzhou ! I love it, too! I don't seem to be getting any constructive criticism in the guild, so this might be approved as the final version soon! 😀

[2016-08-23 16:48] Dewines commented on #7918
@Alys No problem. I've been out all day today, but I'll rejoin the challenge tomorrow to finish editing and then leave it again. Though as you say, it used to be possible to keep total control of a challenge, including editing, even while not a member. But it's fine as a workaround until the glitch is sorted.

The reason I left was because when I first created it, I'd added the habit and the daili

[2016-08-23 20:45] citrusella commented on #7882
I forgot I had a testing account, so here's an image of the three heights of foods together in one row:

![Chocolate cake, Bare Bones cake, Chocolate Bar](https://cloud.githubusercontent.com/assets/14182450/17909033/bd897e7a-6950-11e6-926c-d461b7e57331.png)

I also note the above image seems to show a few other cakes with slightly-off heights? (Most specifically, the strawberry one.)

[2016-08-23 22:27] cmajames commented on #7654
@Alys Can this bug be closed or were you planning on doing another purge?

[2016-08-23 23:02] sporeball commented on #7915
Been busy, so haven't had time to try stuff out.

@paglias Would Node 4.5.0 work? Just asking because there are lots of 4.x versions, y'know :/

[2016-08-23 23:57] Alys commented on #7654
I still need to search again. Thanks for the reminder!

[2016-08-24 01:17] paglias commented on #7915
Yeah 4.5 should work. You'll have to delete node_modules and reinstall all
the depencies

Il 23 ago 2016 16:02, "MrEikono" notifications@github.com ha scritto:

[2016-08-24 01:52] EternisRequiem opened #7920 "Checklist can't expand/collapse "Task not found""
General Info
- UUID: cf376ed3-8c46-416b-9768-68161eed8311
- Browser: Chrome
- OS: Windows 10 64bit
### Description

When attempting to expand/minimize a checklist, the item briefly turns blank, and blue, then an error appears "Task not found".  (I can edit the task, other than the due date?)  It then reverts back to the old task, with no expansion/
#### Console Errors

At top when loading page:
De

[2016-08-24 01:54] Alys commented on #7920
Habitica admins are working on this.

[2016-08-24 01:55] EternisRequiem commented on #7920
@Alys Oh, thanks!  Sorry I didn't see it in current issues.

[2016-08-24 01:56] Alys commented on #7920
No, it's great that you logged it! I was about to thank you in the Bug guild. :) I posted that so that other contributors know that it's already being worked on. Sorry, I really should have made that clear!!

[2016-08-24 01:59] EternisRequiem commented on #7920
@Alys Yeah I saw it in there you asked someone to post, so I decided to do so.  I wish I could help with all this stuff, I love this site :).  Okay, issue only, not chat, I'll hush~ ;)

[2016-08-24 03:40] SabreCat commented on #7920
This has been addressed in production by reverting @Hus274's task editing fix. Refresh the page and the behavior should be repaired. But we'll need to do some more work to figure out how to get the task edit fix without these unfortunate side effects! So I'm not going to close this right away.

[2016-08-24 03:47] EternisRequiem commented on #7920
@SabreCat What is the issue with task editing?  (Just so I don't report that inadvertently too :P)

[2016-08-24 03:48] SabreCat commented on #7920
@EternisRequiem: If you start editing a task, then cancel (by clicking the X icon), the task still looks like it's been edited until you sync again.

[2016-08-24 05:52] Alys opened #7922 "show quest progress notification when completing task"
If the player is participating in an active boss quest (i.e., not while the quest is in the invitation stage), when a Daily or To-Do is completed or a positive Habit is clicked, there should be a notification of how much boss damage has been just been obtained (from `party.quest.progress.up`). Suggested wording: "+12.3 damage to boss"

When in an active collection quest, if the player has just fou

[2016-08-24 08:00] habitrpguser commented on #7687
The profile blurb is missing, too. Is this intentional? I think it's a pity!
(The profile photo is displayed properly though.)

[2016-08-24 13:02] RinnaB opened #7923 "Customizing avatar ears crashes app"
I purchased ears for my avatar with gems, and they did not show up on my avatar. Now every time that I click on the ears, the program crashes and shuts down.

[2016-08-24 13:10] crookedneighbor commented on #7923
Is this on the [iOS app](https://github.com/HabitRPG/habitrpg-ios), the [Android app](https://github.com/HabitRPG/habitrpg-android), or on the website?

[2016-08-24 13:27] khipkin commented on #7687
Woah I didn't even know that page existed!

[2016-08-24 13:46] #6754 closed, assigned to nobody

[2016-08-24 14:44] Hus274 commented on #7920
So looking at the code this has to be happening [here](https://github.com/HabitRPG/habitrpg/commit/fca0188172e1972c3ae7adb9ffcd4acc7411e7b8#diff-49514685bd2c2cb2207a9562c9d3cc73R297) which means that the user is saving the task when task._edit is undefined.

I'm trying to think of how the task could be opened for editing without setting that property. Refresh and sync both seem to close the tasks

[2016-08-24 14:45] Hus274 commented on #7920
Sorry about this everyone! :(

[2016-08-24 14:56] RinnaB commented on #7923
This is on iOS

[2016-08-24 15:20] Alys commented on #7923
@RinnaB Can you please report this through the app developer through Menu > About > Report a Bug? That will send useful debugging information about your phone to him. No personal details from your phone will be included.

You do need to have the email app configured in your phone for that to work. If that's a problem, comment again here and we'll give you alternate ways of reporting it (that optio

[2016-08-24 15:20] #7923 closed, assigned to nobody

[2016-08-24 15:25] Hus274 commented on #7918
Pull Request has been posted.

[2016-08-24 15:43] comprehensivelyzany commented on #4252
My party finished the quest: The Golden Knight Part I: A Stern Talking-to with the following message:
"All items found! Party has received their rewards." 08/24/2016 07:32:11
We didn't receive any rewards and can't unlock The Golden Knight Part II. Can you help us?
My User ID: 8d4543d6-3cc8-49bd-a584-01602f3ef48d
Party Group ID: c2a7c6fe-b1fc-4219-a0d9-e912e85e1dcf

Thanks!

[2016-08-24 17:08] #7918 closed, assigned to nobody

[2016-08-24 17:37] SabreCat commented on #7920
@Hus274: If you click the checklist expand/collapse badge, you'll save the task (to toggle the checklist state) without opening it for editing, regardless of the stay-open feature.

[2016-08-24 17:41] Hus274 commented on #7920
I had no idea that you could click that, didn't even know that feature existed. Ok, I can look into fixing the original commit so this doesn't break it.

[2016-08-24 17:45] SabreCat commented on #7920
@Hus274: It might be as simple as doing

`if (task._edit) angular.copy(task._edit, task);`

in /website/client/js/controllers/tasksCtrl.js. That seemed to work for me on a quick test!

[2016-08-24 17:47] Hus274 commented on #7920
@SabreCat yeah that's what I was thinking as well, I just wish I would've known that functionality was there earlier!

[2016-08-24 18:03] crookedneighbor commented on #7920
The client redesign will have comprehensive test coverage, so issues like this should be easier to fix before they're deployed.

[2016-08-24 20:02] SabreCat opened #7925 "API does not allow admin to delete or flag private posts"
### Description

Version 3 of the API does not allow administrative users to delete or flag posts found in private groups (such as parties), even if the post has been flagged by a group member. The route returns "Group not found or you don't have access."

The trouble appears to be that we don't pass the `optionalMembership` option to the `getGroup` call used to fetch the group before deleting a m

[2016-08-24 22:38] citrusella commented on #7687
Huh, I hadn't even noticed that (probably because my profile blurb is kind of old and useless, so I'd forgotten I had one XD).

EDIT: Reading around, it might be intentional (the pet/mounts might also be intentionally missing as well?).

[2016-08-24 22:42] librarianmage commented on #7907
Related: #6679

[2016-08-25 00:43] lemoness opened #7927 "Farewell Page on Logout"
When a user logs out, they should have a customized farewell page that advertises the mobile apps.  It should include pictures of the two mobile apps, buttons that link to the App Store and Google Play Store, and text such as "Heading out? Take Habitica on-the-go! Can't wait to see you again soon."

[2016-08-25 00:47] lemoness opened #7928 "Display Boss Damage Summary on Task Page"
We would like to display live updates on the Task Page for how much damage you're going to do to a boss, such as the one that is displayed on the Data Display Tool. Note that we can't actually apply the boss damage for a variety of reasons, but there's no reason we can't display the tally!

[2016-08-25 01:09] crookedneighbor commented on #7925
Working on this.

[2016-08-25 01:54] librarianmage commented on #1488
What exactly is requested?

[2016-08-25 01:56] dancerinsox opened #7929 "Change Drop Calculation To Not Rely on Seeded Stats from User"
General Info
- UUID: c1d236c4-cc77-443a-9830-265af88bd7fb
- Browser: Chome
- OS: Windows 7
### Description

I have a grey wishing well task, and I was using it. I got a lion cub egg about 16 times in a row (I overused since I was curious about the behavior :P). I then paused, and tried a different task. I then got recurring shade potions...without a pause, I went to the first task I was using. Sti

[2016-08-25 01:59] librarianmage commented on #1728
What would determine the score? Some challenges are based on streaks, some on doing something (and then being done), etc. Also, could the tasks be 'weighted' such that some tasks contribute more towards the score?

[2016-08-25 02:39] crookedneighbor commented on #7929
This is actually expected behavior right now with the way the random values are generated. That said, we no longer need to seed the random value because all drop logic is now done on the server. I'm going to change the title of this issue to reflect the work that actually needs to be done. Namely, to select the drop without relying on a seed.

Original title: _Same drop ~20 times in row on a wishi

[2016-08-25 03:28] #7925 closed, assigned to nobody

[2016-08-25 03:46] librarianmage commented on #4758
What is the status of this?

[2016-08-25 03:50] librarianmage commented on #4682
@khipkin the "Powered by Stripe" button could link to a FAQ

[2016-08-25 03:53] librarianmage commented on #4240
This works for me on mobile (iOS 9.something, Chrome)

[2016-08-25 03:58] Alys commented on #4758
I still think that we shouldn't change the behaviour for the reasons I listed above (copied below for convenience).

_I'd like to suggest that even apart from these optimisation reasons, the current behaviour isn't too bad. Yes, there can be confusion when a person changes their name - I've seen one example of that recently, but it was rapidly resolved and not troublesome, and in fact mildly amusi

[2016-08-25 03:59] Alys commented on #1488
I'm closing this because we have it in trello as a feature request. It's calendar synchronisation / integration.

[2016-08-25 03:59] #1488 closed, assigned to nobody

[2016-08-25 04:01] librarianmage commented on #3921
@Alys should we still wait on this for the UI overhaul?

[2016-08-25 04:03] Alys commented on #4240
I'm closing this because it's something that will change in an upcoming website redesign (and possibly is indeed working now on mobile browsers).

[2016-08-25 04:03] #4240 closed, assigned to nobody

[2016-08-25 04:03] Alys commented on #4240
@MathWhiz Thanks!!

[2016-08-25 04:03] librarianmage commented on #3324
Is anyone still working on this?

[2016-08-25 04:04] Alys commented on #3921
@MathWhiz Definitely, thank you!

There's some ideas here though that we might want to keep considering for the redesign so I'll copy this issue's URL to our internal docs.

[2016-08-25 04:04] #3921 closed, assigned to nobody

[2016-08-25 04:07] librarianmage commented on #4758
@Alys I agree that it shouldn't be retroactively updated, but what do you think of the "Alias history" @deilann suggested?

[2016-08-25 04:12] Alys commented on #4758
I like the "Alias history" idea! I think the users would like it too, especially if it recorded the UTC date-time stamp of when the change was made. For those who change names due to upgrades/downgrades in their personal progress, it would be a nice history archive feature.

[2016-08-25 04:13] Alys commented on #3324
This should probably wait for the website redesign, so I'm marking it `wait` but if any other admins disagree, feel free to change it!

[2016-08-25 04:19] librarianmage commented on #5678
Is this still an issue?

[2016-08-25 04:21] Alys commented on #5678
I'm closing this since I haven't heard any recent reports of it.

@MathWhiz Thanks!

[2016-08-25 04:21] #5678 closed, assigned to nobody

[2016-08-25 04:32] librarianmage commented on #5791
@Alys wair until UI update?

[2016-08-25 04:33] Alys commented on #5791
Definitely! <3

[2016-08-25 04:33] #5791 closed, assigned to nobody

[2016-08-25 04:50] librarianmage commented on #6492
@dbarnett You might want to post this on the [Trello Board](https://trello.com/b/EpoYEYod/habitica) so it can be organized with other suggestions. (@Alys, should this be closed?)

[2016-08-25 04:51] librarianmage commented on #6296
Is this still a problem?

[2016-08-25 04:54] Alys commented on #6296
Habitica's code has recently undergone large changes, which means that the code that caused these bugs probably does not exist any more. I'm closing this, but if you notice the same problem happening again, please open a new issue.

[2016-08-25 04:54] #6296 closed, assigned to nobody

[2016-08-25 04:54] librarianmage commented on #6263
The PR referenced has been merged, so this issue should probably be closed as well.

[2016-08-25 04:54] Alys commented on #6492
Yes, I'm closing this because feature requests are best collated in Trello.

[2016-08-25 04:54] #6492 closed, assigned to nobody

[2016-08-25 04:55] #6263 closed, assigned to nobody

[2016-08-25 07:54] cching0L2 commented on #7917
I saw some pull requests with a checklist progress ("7 out of 12" etc.).  Should I open a pull request as long as I've made some progress, and let admins checkoff the checklists?

[2016-08-25 12:42] crookedneighbor commented on #7917
If you're stuck and need help, feel free to open a PR that is a work in progress. If you're not stuck, it would be better to wait and open the PR when you're done.

[2016-08-25 14:49] Alys commented on #7517
I'm closing this because a website redesign will be done in the not-too-distant-future and this isn't an urgent problem. Other admins are welcome to reopen if they disagree!

[2016-08-25 14:49] #7517 closed, assigned to nobody

[2016-08-25 14:58] tricksyfox opened #7932 "Quest Infobox Cut Off"
General Info
- UUID: 90e5c4f2-d5d9-4472-ab2c-19041ee2218d
- Browser: Chrome
- OS: OS X Yosemite 10.10.5
### Description

[//](#): # When hovering over Part 2 of the dish disaster quest scroll, the infobox forms above the top of the site page and gets cut off. Not major, but worth noting.

![screen shot 2016-08-25 at 9 27 45 am](https://cloud.githubusercontent.com/assets/20846625/17974114/c23ccc0c-

[2016-08-25 15:05] Alys commented on #7932
Definitely something for us to consider in the upcoming website improvement project, if not sooner. In the project, we should test all hover features on all items that occur at the top, bottom, far left, and far right of the respective areas.

[2016-08-25 15:06] khipkin commented on #5791
@Alys Is this still an issue?  If so, perhaps the [wait] label would be better than closing the issue altogether?

[2016-08-25 15:11] khipkin commented on #3921
@Alys If this issue will be addressed in the redesign, why close it instead of leaving it open with a [wait] label?  Don't mean to be rude; I want to understand the workflow because it seems inconsistent with how this sort of situation has been handled in the past.

[2016-08-25 15:12] Alys commented on #5791
@khipkin Sorry, I should have given more details! The upcoming website improvement project will cover all pages on the site and there will be significant improvements to the code that creates the pages. Any current inconsistencies in the static pages will disappear naturally as a result of that - I don't believe there's any chance that any pages would be missed. Thus I don't think this issue will

[2016-08-25 15:14] khipkin commented on #7932
Possible duplicate of #7799.

[2016-08-25 15:15] librarianmage commented on #3921
@khipkin I think @Alys closed this because it will be handled by the UI
update (she copied the issue link for reference), and isn't something that
needs to wait until after it.
On Thu, Aug 25, 2016 at 10:11 AM Kaitlin Hipkin notifications@github.com
wrote:

[2016-08-25 15:16] khipkin commented on #5757
@Alys Would it be worthwhile to have a GitHub label specifically for translation-related issues/PRs?

[2016-08-25 15:18] khipkin commented on #5757
@Alys Just kidding; I see that we already have a translations label. :stuck_out_tongue_winking_eye:

[2016-08-25 15:19] khipkin commented on #3921
Ohh I see the distinction now.  That makes sense! Thanks, @MathWhiz!

[2016-08-25 15:20] khipkin commented on #5791
Thanks, @Alys! That makes sense. :+1:

[2016-08-25 15:23] librarianmage commented on #2650
Is this still a problem?

[2016-08-25 15:27] khipkin commented on #5180
@Alys I think this can also be closed because of the redesign.

[2016-08-25 15:28] khipkin commented on #7521
@Alys I think this can also be closed because of the redesign.

[2016-08-25 15:28] khipkin commented on #7610
@Alys I think this can also be closed because of the redesign.

[2016-08-25 15:31] khipkin commented on #4440
@Alys is this still an issue?

[2016-08-25 15:31] khipkin commented on #4307
@Alys Is this still an issue?

[2016-08-25 15:38] Alys commented on #7932
Ugh, thanks. Sorry @tricksyfox ! :( My fault.

[2016-08-25 15:38] #7932 closed, assigned to nobody

[2016-08-25 15:40] Alys commented on #7799
This also occurs for the English version.

It's something for us to consider in the upcoming website improvement project, if not sooner. In the project, we should test all hover / pop-out features on all items that occur at the top, bottom, far left, and far right of the respective areas.

[2016-08-25 15:58] Alys commented on #4307
It sounds fixed and if not, it's covered by this info about a website improvement project: https://github.com/HabitRPG/habitrpg/issues/7799#issuecomment-242433998

( @khipkin Thanks! I'll cover your other questions like this in several hours after I get back from some tourist time. :) )

[2016-08-25 15:58] #4307 closed, assigned to nobody

[2016-08-25 17:40] keysmashes commented on #7822
Ah, that might explain it. I thought Chrome had a popup for when HTML5 validation failed, but I guess something somewhere (whether in Habit, Chrome, Ubuntu or something else) broke it for me.

[2016-08-25 18:52] librarianmage commented on #7634
How about renaming the small button "Play Habitica (Login)"?

[2016-08-25 22:31] audiolion commented on #7799
one solution is to use a popout library that will dynamically extend left, right, down, or up depending on where it will fit on the screen

[2016-08-25 23:03] lemoness commented on #7792
I didn't have any designs, but here is some wording:

"You have multiple party invitations! Choose wisely, because you can only
be in one party at a time."

Confirmation:
"Are you sure you want to join the party "NAME"? You can only be in one
party at a time."

After accepting:
"Hurrah! You have joined the party "NAME. All other party invitations have
been cancelled. Enjoy your new party!"

Can we

[2016-08-26 00:02] lemoness opened #7933 "Change Default tags to match types, not times of day"
The default tags on the website, "morning", "afternoon", and "evening", have not been intuitive. Instead, we'd like to change them to match the categories created when setting up the mobile app:

Work
Exercise
Health + Wellness
School
Teams
Chores
Creativity

The default tasks should then each be pre-tagged with one of these corresponding tags, both on mobile and on the website, so that the user h

[2016-08-26 02:02] lemoness commented on #7634
That's a bit awkward.

Maybe we could try "Enter Habitica"? It's also more flavorful.

On Thu, Aug 25, 2016 at 11:52 AM, AccioBooks notifications@github.com
wrote:

[2016-08-26 02:03] librarianmage commented on #7634
That is definitely better.
On Thu, Aug 25, 2016 at 9:02 PM lemoness notifications@github.com wrote:

[2016-08-26 02:18] lemoness commented on #7922
This is linked to this issue as well: https://github.com/HabitRPG/habitrpg/issues/7928

[2016-08-26 02:18] lemoness commented on #7928
This is linked to this issue as well: https://github.com/HabitRPG/habitrpg/issues/7922

[2016-08-26 02:34] khipkin commented on #1728
Maybe we could implement a "scoring schema" enum (or something similar).  The challenge owner would choose an option when the challenge is created, and then progress could be displayed depending on which option was selected.  This may also allow for challenge winners to be chosen automatically for some scoring schemas.

[2016-08-26 06:45] Alys commented on #4440
I'm not sure, but it's low priority and it will be made redundant by the upcoming website improvement project so I'm closing it.

[2016-08-26 06:45] #4440 closed, assigned to nobody

[2016-08-26 06:50] Alys commented on #5180
True! It's low priority and it will be made redundant by the upcoming website improvement project so I'm closing it.

[2016-08-26 06:50] #5180 closed, assigned to nobody

[2016-08-26 06:50] Alys commented on #7521
True. It's low priority and it will be made redundant by the upcoming website improvement project so I'm closing it.

[2016-08-26 06:50] #7521 closed, assigned to nobody

[2016-08-26 06:51] Alys commented on #7610
True. It's low priority and it will be made redundant by the upcoming website improvement project so I'm closing it.

[2016-08-26 06:51] #7610 closed, assigned to nobody

[2016-08-26 06:58] comprehensivelyzany commented on #4252
Please see above, issue still hasn't been resolved :( Is there another thread where it would be better to post this? @Alys ?

[2016-08-26 07:02] Alys commented on #5757
Thanks @khipkin. :)

_deleted my comment that's irrelevant in light of SabreCat's idea above_

[2016-08-26 14:10] khipkin commented on #7722
Suggestion: add [translations] label.

[2016-08-26 14:12] khipkin commented on #7643
Suggestion: add [translations] label.

[2016-08-26 14:14] khipkin commented on #6815
@Alys Can this be closed?

[2016-08-26 14:23] khipkin commented on #4827
Suggestion: add [interface] label.

[2016-08-26 14:27] Alys commented on #6815
@wisteriacs I'm guessing it's all still good for you so I'm closing this, but comment again here if the problems have restarted and we'll reopen this.

@khipkin Thanks!

[2016-08-26 14:27] #6815 closed, assigned to nobody

[2016-08-26 14:32] Alys commented on #4827
I've marked this as "interface" and also "help welcome now" because even though it's something we could fix during an upcoming website improvement project, I think it would also be appropriate to fix it earlier if anyone's interested in doing it. It's also a very specific issue rather than site-wide, so would need to be documented somewhere for the project. Other admins are welcome to change the l

[2016-08-26 14:32] khipkin commented on #6813
This inconsistency is addressed in #7804.

[2016-08-26 14:34] khipkin commented on #5365
Suggestion: add [translations] label.

[2016-08-26 14:35] khipkin commented on #5223
Suggestion: add [translations] label.  Also, maybe [interface]?

[2016-08-26 14:38] khipkin commented on #2028
I'm not entirely clear on what this ticket is requesting.

[2016-08-26 14:42] mandyzhou commented on #7888
Hmm, looks like the issue's been resolved for the Pets page but not the Mounts page.

[2016-08-26 14:43] mandyzhou commented on #7888
@crookedneighbor Hmm, looks like the issue's been resolved for the Pets page but not the Mounts page.

[2016-08-26 14:56] Alys commented on #5223
I've added labels, including "status: issue: suggestion-discussion" because I'm not sure what we're doing with the share button. This might be best marked "status: issue: on hold".

I like @GitHubSphinx's idea off using an icon instead of a word, if we think enough users will recognise it (I'd expect all/nearly all mobile+website users to know what it means but maybe there's some website-only user

[2016-08-26 14:58] #6813 closed, assigned to nobody

[2016-08-26 15:09] SabreCat commented on #2028
@khipkin: Each piece of equipment has a single blob of text describing it, that includes both fanciful description irrelevant to its game effects ("Its glittering facets tell the tale of a hero.") and the in-game effects of equipping that gear ("Increases all attributes by 6."). Displaying the latter in the Costume area is misleading or at best irrelevant: equipping a Costume piece does not change

[2016-08-26 15:16] Alys commented on #6813
Closed because the Stats & Achievements change is being handled in #7804, as @khipkin says, and the "Tavern Talk" to "Tavern Chat" issue is fixed in https://github.com/HabitRPG/habitrpg/commit/320d8cac5fa47e287d53199684ddfe16ec1f0ea9

[2016-08-26 15:37] Alys commented on #2650
Yes, there's still confusion from players about when their subscriptions will renew (although that's partly because there's also no notice about what date they started). I'm marking this as "suggestion-discussion" so that we can work out how best to handle it or whether it's better done as part of other work.

[2016-08-26 15:52] khipkin commented on #2028
@SabreCat Oh yeah, that makes sense! So the ticket is just for splitting up the description strings and then making the costume section only reference the "fanciful" strings.

[2016-08-26 16:13] Alys commented on #2028
@khipkin Yes.

My concern with this issue is that splitting the strings creates a huge number of changes for the translators to do (and the players see the English versions until that's done), or we handle it by not splitting the locales strings but using a regex to break them up when displaying the Costume versions (open to failure if the strings don't contain the words that the regex expects; re

[2016-08-26 17:06] crookedneighbor commented on #7888
That's because o forgot to apply it to the mounts page :smile:

[2016-08-26 17:22] Alys opened #7935 "blocking a user should cause them to rest in the inn"
The [API](https://habitica.com/apidoc/) (see also [on the wiki](http://habitica.wikia.com/wiki/Application_Programming_Interface)) has a route for blocking a user, which prevents them using Habitica in any way. The route should also cause the user to be resting in the inn ("sleeping").  (EDIT: the API `block` route is not related to this issue. See one of my comments below for details.)

Unblockin

[2016-08-26 17:42] khipkin commented on #7935
@Alys When would non-malicious users need to be blocked?  As part of the RPG aspect of the game?

[2016-08-26 17:42] Alys commented on #4252
@comprehensivelyzany I've given your party the quest rewards and achievement. I'm on holidays and travelling at the moment so I'm not able to get to things as quickly as usual. Posting here for this bug is good (for any other bug, use Help > Report a Bug on the website or Guilds > Report a Bug on the mobile app). If this happens again over the next couple of weeks, post again here but be aware tha

[2016-08-26 17:44] khipkin commented on #2028
@Alys Maybe environment variables could be used temporarily to keep track of which locales haven't been re-translated yet, then the old strings could be used for those locales (meaning there would be no change visible to the user) until the new translations are added.

[2016-08-26 17:47] Alys commented on #7935
Never for gaming reasons. If a [child under 13](http://habitica.wikia.com/wiki/Children_Using_Habitica) uses Habitica without parent/guardian consent, we have a legal obligation to block them until permission is received. Or a user's account might be used inappropriately by a housemate or child, who then starts posting bad messages. Things like that. Rare cases, but when the user isn't at fault, t

[2016-08-26 19:02] sambokai opened #7936 ""Forgot Password" should not immediately change your password"
After clicking on the "Forgot Password" button and entering your email on habitica.com you immediately receive this email:

There should be a link that allows you to reset the password if desired. the way it is now people who have your email address can reset your password even if they do not have access to your email account.

there should be at least a warning in the email that says "if you did

[2016-08-26 19:37] crookedneighbor commented on #2028
If this is something we decide to do, I think the best course of action would be to remove the stats information entirely from descriptions and have a function that takes in the gear object and outputs the stats information. Rather than having a two translation strings for each piece of gear. (Forgive me if that was suggested already, been a while since I've looked at this)

Might be best to wait

[2016-08-26 20:34] paglias commented on #4313
Actually, I would prefer that the bounty be cancelled and returned to Lemoness and Habitica, so that they can fund other projects.

[2016-08-27 02:02] Alys commented on #2028
@crookedneighbor  That sounds great. I'm marking this as on hold.

[2016-08-27 06:26] Alys commented on #7936
@onlineshrekjr We have related suggestions in https://github.com/HabitRPG/habitrpg/issues/4499 so I'm going to close this issue, but you're welcome to add comments to that one if you wish.

[2016-08-27 06:26] #7936 closed, assigned to nobody

[2016-08-27 06:30] Alys commented on #2724
We should probably go through this to pull out anything that's still relevant (e.g., swagger is not) and then log it in a new issue or on Trello.

[2016-08-27 12:58] #6384 closed, assigned to nobody

[2016-08-27 13:09] Alys commented on #7935
My original post was wrong - the code for blocking a user from using the site is not in the API (the `block` route was badly described and I've fixed it in https://github.com/HabitRPG/habitrpg/commit/9981f450c0d49d499989f8eaf87661e9f7cd4454 ).

The code for blocking a user from using the site is:

[code]

[2016-08-27 13:23] Alys opened #7939 "Private Messages (PMs) should be exportable from Inbox"
The Social > Inbox screen needs an option for exporting all PMs in an easy-to-read format.

I suggest that the exported file be an HTML page so that the formatting from markdown can be retained (exporting as markdown itself isn't so good because many players won't have an easy way to display it). However other suggestions are welcome.

There should also be a note to explain that if the player want

[2016-08-27 13:33] Alys opened #7940 "automatic purging (deletion) of older private messages (PMs) by cron"
When a player's inbox contains more than 50 messages, the older ones should be purged to bring the total number down to 50. For a subscriber, the limit should be 200, not 50.

This should be done by cron.

The Inbox should have a clear statement at the top and bottom of the messages describing this deletion feature, telling the player how many messages they have, and also pointing out that they ca

[2016-08-27 13:59] Alys opened #7942 "optional feedback in account deletion confirmation screen"
When a player goes to Settings > Site to delete their Habitica account, they are given a confirmation modal. The modal should contain a textarea for **optional** feedback about Habitica (e.g., what they didn't like, why they decided to stop using it).

The API route ("Delete an authenticated user's account") should also accept an optional feedback message.

The feedback should be emailed to admin@

[2016-08-27 15:19] gambtho commented on #7935
Thanks for the very quick and kind responses -- I'll get my local environment working better before submitting future PRs.   Corrected version of this one on the way (assuming it passes CI)

[2016-08-27 15:52] #7935 closed, assigned to nobody

[2016-08-27 17:27] khipkin commented on #7940
For subscribers, I think there should be a grace period after their subscription ends so they have some time to export their PMs (or delete a bunch of them themselves).

[2016-08-27 19:02] gambtho commented on #7928
if no one else has started, i'm going to take a pass at this one

[2016-08-27 23:16] Alys commented on #7928
@gambtho That would be great, thanks! Below are some ideas I've been meaning to post to this issue, but if you have other ideas, let us know!

If the user is on an active collection quest, it could show the number of collected items instead of boss damage.

If the quest (of either kind) is in the invitation stage, it could still show the boss damage / collected items but with a message saying they

[2016-08-28 01:44] brightbold commented on #7727
I think this happened to me this morning. I received an email saying our quest started at 5:30AM EST. I logged in on mobile (iPhone) sometime around 8:00 I think and repeatedly refreshed the party page, first trying to get the active quest to show up (originally it was still showing that only a few members had accepted, but after a refresh or two it showed the quest in progress), and then trying t

[2016-08-28 04:33] Alys commented on #7727
@brightbold Your cron ran at 2016-08-27 08:30 UTC+0. I'm not sure how that matches up with your quest start time of 05:30 EST. I can look into it tomorrow if it doesn't give you any insights into what happened.

[2016-08-28 15:40] brightbold commented on #7727
Well it seems as if cron ran an hour before the quest started. I guess I must have left my laptop on after all, since cron triggered while I was sound asleep. So, never mind — this doesn't support your bug report after all. (Although if people started reporting this around the time that you guys made the change so that an open Habit browser page will periodically self-refresh, and their quests sta

[2016-08-28 16:56] comprehensivelyzany commented on #4252
@Alys Thanks so much, we really appreciate the help! So sorry to bother you while on your holiday. Enjoy your trip!

[2016-08-28 19:04] Alys commented on #7727
@brightbold Fantastic! Thanks for letting us know! You're right that some reports could be due to that.

There's been two or three reports since I logged this issue that I confirmed were actual failures for the quest progress message to appear. I've been forgetting to record them here though. :(

[2016-08-28 21:46] sporeball commented on #7915
Still nothing. @paglias

[2016-08-29 03:47] crookedneighbor commented on #7915
I doubt it has anything to do with the node version. Seems much more likely that it's not playing nice with Windows 10.

If I have time, I'll try to reproduce the issue on a Windows 10 vm, but it's not the highest thing on my priority list right now.

[2016-08-29 18:33] citrusella commented on #7917
I'm not sure if this is the right time or place to ask (since it's largely a "curiosity" sort of question for something that's listed as going to get a new issue), but would Empty the Armory be available free under the same circumstances (lvl 100) as free rebirth? (i.e. to replicate the feel of current post-100 rebirth--someone could empty the armory and then start a new adventure) Or would it alw

[2016-08-29 20:30] librarianmage commented on #7933
I can do this!

[2016-08-29 20:51] librarianmage commented on #7933
Would you like emoji with them?

[2016-08-29 23:23] khipkin opened #7946 "Notifications / Notification Modals no longer work."
General Info
- UUID: `f9c89bba-abf8-4f20-a974-cf1550ff603f`
- Browser: Chrome 52.0.2743.116 m
- OS: Windows 7
### Description

I've noticed that recently (maybe since #7588?) Party Up and Party On achievements don't spawn achievement modals anymore.  I've seen this behavior both in local testing and on the main site.
#### Console Errors

None.

[2016-08-30 01:18] gambtho commented on #7928
@lemoness where on the page were you wanting to show this?  I was playing around with putting it on the avatar with a tooltip, but maybe too crowded?

[2016-08-30 02:52] lemoness commented on #7928
It would be nice to have it somewhere on the main task page. Perhaps it
could be collapsible?

On Mon, Aug 29, 2016 at 6:18 PM, Tom Gamble notifications@github.com
wrote:

[2016-08-30 02:59] lemoness commented on #7933
My impulse would be to say yes, but I'm not sure if they'll show up correctly in the app. @vIiRuS, any insights?

[2016-08-30 03:00] librarianmage commented on #7933
@lemoness using the text won't work, but using the actual characters will
On Mon, Aug 29, 2016 at 9:59 PM lemoness notifications@github.com wrote:

[2016-08-30 03:02] lemoness commented on #7933
In that case, go ahead!

On Mon, Aug 29, 2016 at 8:01 PM, AccioBooks notifications@github.com
wrote:

[2016-08-30 03:03] lemoness commented on #7917
Very good question! It should be free after level 100 as well, to replicate
the previous Rebirth experience.

On Mon, Aug 29, 2016 at 11:33 AM, citrusella notifications@github.com
wrote:

[2016-08-30 03:05] lemoness commented on #4313
Aw, thanks paglias! I will investigate the best way to do that :)

[2016-08-30 03:35] Alys commented on #7933
Actually I'm not sure the emoji characters will be a good idea because they display differently (sometimes very differently) in different platforms. The text emoji we use are standardised across all official Habitica platforms and I'd really like to encourage people to use them instead. The text emoji won't work yet on the mobile apps in the tag names, but I expect they will in future. I suggest t

[2016-08-30 03:36] Alys commented on #7933
Further to that: We've had people in the past complaining about changes in emoji appearance when we switched emoji libraries. I think they are also likely to complain if their tags look different on the mobile app compared to the website. Using text emoji (or no emoji) prevents that.

[2016-08-30 03:45] lemoness commented on #7933
Very good points. Let's hold off until tag names support text emoji, then.

On Mon, Aug 29, 2016 at 8:36 PM, Alys notifications@github.com wrote:

[2016-08-30 17:01] SabreCat commented on #7946
There may be something broader going on with modals. I just got a level up but didn't see the modal, despite not having the "don't show popup" preference on.

[2016-08-30 17:59] schrodingerskat commented on #7908
I got the same error yesterday. In my case, the PayPal transaction completed successfully, but returning to Habitica gave me the same Internal Server Error string. I emailed admin@habitica.com with the transaction ID and my user information, and I'm happy to provide more information wherever it's useful.

User ID: cab07e1b-d63b-4b72-bffb-6f6d533de03e
Browser: Google Chrome 52.0.2743.82 (64-bit)
OS

[2016-08-30 19:32] tricksyfox commented on #7928
Maybe it could be to the left of the "search" box in the tasks area? Seems like enough space to add a small counter without making it too cluttered

[2016-08-30 19:45] khipkin commented on #7946
Earlier today, I got a premature level up modal, and I had no points to allocate.  Then, after checking off a few more dailies, I actually leveled up and got another modal; the second time, I actually had a point to assign to a trait.

[2016-08-30 20:37] gambtho commented on #7928
that's interesting -- i hadn't thought of that.   Was playing with putting it in the main status bar, under the MP.

[2016-08-31 04:35] Alys opened #7953 "redundant / duplicated / confusing use of "health" locales strings"
In the [Commonwealth of i18n - Aspiring Linguists of Habitica](Commonwealth of i18n - Aspiring Linguists of Habitica) guild, Aleksandra (9f98e468-9290-474b-aab8-55440f41510e) wrote:

**Hello! I have a small issue. Is it possible to change the string for "Health" in somebody's profile (when you click on their name in the chat) to the one from the character.json on Transifex instead of the front.jso

[2016-08-31 06:43] DrStrangepork commented on #7933
Only commit `a719e39` is valid

[2016-08-31 06:50] librarianmage commented on #7933
@DrStrangepork I was going to work on it 😔 (It's okay)

[2016-08-31 08:18] Alys commented on #7933
@DrStrangepork Before you start work on an issue, it's a good idea to first read through the comments to see if anyone else is working on it, and if there are recent comments indicating that they are, then it's best that you leave it to them. If you ever see an issue where the comments are old, it's okay to ask if the person is still working on the issue.

It's also best to comment on any issue be

[2016-08-31 11:45] crookedneighbor commented on #7953
Part of this work should be to write a sanity check that keys are not duplicated.

[2016-08-31 12:50] akortesmaa commented on #7939
I'd like to give this one a try!

[2016-08-31 14:10] Alys commented on #7939
@Althenis Thank you! If you have any questions or run into trouble, just ask here!

[2016-08-31 14:24] Alys opened #7955 "new message notifications are not cleared / removed when a guild / party is deleted"
When a private guild or party is deleted (i.e., when all members have left), any player who has an unread messages notification for that guild does not have the notification cleared properly. This is what remains in the player's account:

[code]

What should happen is that the `newMessages` entry for the guild is deleted.

The result of this bug is that the count that appears on the notifications

[2016-08-31 14:27] Alys commented on #6058
I've marked this as on hold until coding is started for the website improvement project, but if any other admin disagrees, I'm happy for it to be changed to help welcome.

[2016-08-31 15:40] Alys commented on #7955
Admins will have to do a migration remove the `null` notifications once this bug is fixed. I'm copying this comment to the top post.

[2016-08-31 17:34] librarianmage commented on #5125
What is the status of this?

[2016-08-31 17:47] librarianmage commented on #7832
Is anyone working on this? If not, I can do it.

[2016-08-31 17:54] librarianmage commented on #3049
Should we also have the key hidden until a user clicks on it? I remember seeing an Issue that discussed it, but I can't find it.

[2016-08-31 19:27] khipkin commented on #7653
@Alys Is this done?

[2016-08-31 19:29] khipkin commented on #7492
Should this be put on hold, or can someone start working on it?

[2016-08-31 20:21] Alys commented on #7492
@khipkin Thanks! I've marked it help welcome now. If you want to do it, comment yes briefly and I'll change it to in progress.

[2016-08-31 20:25] Alys commented on #3049
@MathWhiz Yes, having the key hidden until you click on it is something we want. I also remember seeing that idea but can't find where. It was a good idea.

We also want a "Generate New API Token" button on the Settings > API page as @crookedneighbor says.

[2016-08-31 20:34] Alys opened #7958 "do not remove Battle Gear equipment when changing class"
When a player changes class, their Battle Gear equipment should NOT be removed (nor their Costume gear of course).

They should also NOT be directed to the Equipment page, and should NOT see the "Class Gear" popup:
![image](https://cloud.githubusercontent.com/assets/1495809/18145203/034a3614-6f7f-11e6-9129-ab608eb25226.png)
(We might want to put an explanation somewhere  about the class bonus, but

[2016-08-31 20:34] Alys commented on #5125
I'm closing this in favour of this new, related issue: https://github.com/HabitRPG/habitrpg/issues/7958

Thanks @MathWhiz !!

[2016-08-31 20:34] #5125 closed, assigned to nobody

[2016-08-31 20:41] khipkin commented on #7492
@Alys Thanks! No, I'll pass this time. I'm currently super busy. :scream:

[2016-08-31 20:53] cmajames commented on #7958
@Alys I'm willing to tackle this issue.

[2016-08-31 21:10] DrStrangepork commented on #7933
I apologize for jumping in. I was using this to validate my local install and just ran with it. I'll be nicer in the future. :frowning:

[2016-08-31 22:28] Alys commented on #7958
@cmajames Thank you! Comment here if you have questions or run into problems.

[2016-08-31 22:35] Alys commented on #7653
Looks like it is! Thanks @Hus274!

[2016-08-31 22:35] #7653 closed, assigned to nobody

[2016-08-31 22:37] Alys commented on #7856
#7653 is finished, so we should see if we can replicate this bug now.

[2016-08-31 22:46] habitrpguser commented on #1703
I just cloned a challenge, and the task order changed. So now you can't sort them when you create them, you can't sort them when you edit the challenge, and you can't rely on them staying sorted when you clone the challenge. :(

The challenge I cloned was created before the change to API v3. (I'm not sure if that makes a difference but I thought I'd mention it. I haven't tested it with newer chall

[2016-08-31 22:57] gambtho commented on #7928
So -- this may still need some work (wording, and icon/location), but I wanted to get feedback.    Screenshot attached, pushing the code shortly.
<img width="522" alt="screen shot 2016-08-31 at 6 54 18 pm" src="https://cloud.githubusercontent.com/assets/14336279/18149175/bbed238e-6fac-11e6-93eb-cce5553b63b1.png">

[2016-08-31 23:22] khipkin commented on #7654
@Alys Now that #7653 is closed, this looks like it's ready for ya!

[2016-08-31 23:29] tricksyfox commented on #7928
I like it!

[2016-08-31 23:38] DrStrangepork commented on #6482
Wouldn't that require a new key-pair to be added to all user accounts? A universal boolean?

[2016-09-01 00:53] Alys commented on #6482
@DrStrangepork More or less. A missing flag would be treated as a false flag.

[2016-09-01 01:24] Alys commented on #7654
True. :) Thanks!

[2016-09-01 02:29] crookedneighbor commented on #7953
I've added the sanity check (skipped for now) https://github.com/HabitRPG/habitrpg/commit/ebef5ad60c363af3d6ab571461f424a8791f7229

Here are the duplicate keys it found:

[code]

When this is PRd, the test should be made active. (remove `.skip`)

[2016-09-01 07:33] paglias commented on #7832
@MathWhiz feel free to do it! thank you!

[2016-09-01 14:26] Alys opened #7962 "editing a challenge task deletes participants checklists"
This is not confirmed yet but there is a report in the Report a Bug guild indicating that when a challenge creator edits a challenge's Daily or To-Do, any checklist items that the participants added are deleted permanently.

If someone could test this to confirm it, that would be really helpful! I can't because I have limited internet access today.

I'm marking this as critical priority because pl

[2016-09-01 14:55] SabreCat commented on #7962
Confirmed on a local test. Changing e.g. the title of a challenge Daily or To-Do wipes out all participants' checklists on those tasks.

[2016-09-01 15:24] Alys commented on #7962
Thanks @SabreCat

We need either a fix asap or to turn of the ability to edit tasks (editing Habits and Rewards would be okay). What you do think about that idea?

[2016-09-01 15:29] khipkin commented on #7962
[This line](https://github.com/HabitRPG/habitrpg/blob/develop/website/server/models/task.js#L115) may be the problem.

[2016-09-01 15:36] SabreCat commented on #7962
@khipkin: I just saw that myself, but I don't think so. That line lists what fields _should_ be specific to the user's instance of the challenge task, instead of coming from the challenge itself. (`value` is also one, but that's protected somewhere else.) Hmm--are notes etc. also getting overridden on challenge edit? Will test that.

[2016-09-01 15:38] SabreCat commented on #7962
Notes persist fine through a challenge update. So it is specific to checklists...

[2016-09-01 17:00] SabreCat commented on #7962
Fix is in https://github.com/HabitRPG/habitrpg/commit/294681c140a279714709944dd550f1568270b892, @crookedneighbor is working on adding tests.

[2016-09-01 17:59] #7962 closed, assigned to nobody

[2016-09-01 18:05] gambtho commented on #7928
updated screenshot -- changed icon to avoid re-using one used elsewhere.  thanks @SabreCat
<img width="506" alt="screen shot 2016-09-01 at 2 04 47 pm" src="https://cloud.githubusercontent.com/assets/14336279/18178615/185e5868-704d-11e6-88f0-b24ab6b5533f.png">

[2016-09-01 18:08] tricksyfox commented on #7928
What happens if you're not currently in a quest? Does the icon disappear? Show a message that you're not in a quest?

[2016-09-01 18:14] tricksyfox commented on #7922
Can the item notifications also show the item image, like other drops do?
What colors do we have in use right now?

Green - Item Drop
Yellow - gold/silver
Purple - XP
Red - Health
Blue - Mana

...So maybe quest stuff should be orange?

[2016-09-01 18:14] gambtho commented on #7928
Right now -- the icon is visible, but there isn't a tooltip.  Clicking on it takes you to the party page (regardless of if you are in a quest or not).

Think it would be better to make it not visible?

[2016-09-01 18:17] tricksyfox commented on #7928
I would say keep it visible (things appearing/disappearing is always bound to cause confusion), but maybe add some hovertext (a tooltip? Learning the lingo, sorry!) saying something like "You're not in a quest right now" or something?

[2016-09-01 18:17] paglias commented on #1338
I think the interface label here is not needed. This is an API change. Also the priority should be medium considered that typos get a minor we want something more for this

[2016-09-01 18:17] tricksyfox commented on #7928
Also, does it/can it/should it display pending damage to party due to incomplete dailies?

[2016-09-01 18:18] gambtho commented on #7928
it does not currently -- it could though

[2016-09-01 18:19] tricksyfox commented on #7928
I'm not a mod/admin, but I think it would be handy!

[2016-09-01 18:28] paglias commented on #2634
We're going to do this with the redesign

[2016-09-01 18:28] #2634 closed, assigned to nobody

[2016-09-01 18:32] paglias commented on #2724
I think it's okay to keep this here in Github. We absolutely want to use OAuth for 3rd parties

[2016-09-01 18:35] paglias commented on #2826
Can this be moved to Trello?

[2016-09-01 18:38] gambtho commented on #7928
pending damage to your party probably should be a separate issue -- appears to be a bit more complicated than i expected 🎱

i made the update to show some text when the user isn't on a quest, and just submitted

[2016-09-01 18:39] paglias commented on #2863
What about this? If no one is going to claim the bounty @deilann should probably claim it back

[2016-09-01 19:02] deilann commented on #7928
I completely disagree -- it should disappear when not on a quest, to make
things less cluttered and confusing for new users.

On Thu, Sep 1, 2016 at 11:38 AM, Tom Gamble notifications@github.com
wrote:

##

Currently Reading
https://www.goodreads.com/user/email_signature_destination/35215676?utm_medium=reading_link&utm_source=email_signature
[image: Book Cover]
https://www.goodreads.com/user/email

[2016-09-01 19:02] Alys commented on #7922
Orange is typically an indicator of errors, warnings, or other bad/semi-bad things so it's not ideal for a positive message.

[2016-09-01 19:32] gambtho commented on #7928
fair enough.   i can change this back if needed, but I also made the icon disappear if the user doesn't have any pending damage/items for the quest.

[2016-09-01 21:34] #3079 closed, assigned to nobody

[2016-09-01 21:39] paglias commented on #3465
Putting this issue on hold until the redesign but if you have any suggestion, feel free to write about it here

[2016-09-01 21:41] #7308 closed, assigned to paglias

[2016-09-01 21:44] paglias commented on #3648
If someone wants to try to do this keep in mind that it's not super important unless it causes issues with rendering and that using a client side framework a lot of HTML code is not present in the source code but in template tags and thus not validated

[2016-09-01 21:46] paglias commented on #3750
Google login is currently being worked on and should be released shortly

[2016-09-01 21:50] paglias commented on #3909
One thing to consider is that many times when I login to a service after a long time I don't remember if I originally used email&pass or a social auth method and it's nice to be able to continue with the old account even when I chose the wrong auth method.

We can make it optional.

BUT we have to consider a thing: we don't validate email addresses so if I sign up with not-my-name@gmail.com and th

[2016-09-01 22:00] paglias commented on #4091
Should this bounty be claimed directly by HabitRPG as asked here https://github.com/HabitRPG/habitrpg/issues/4091#issuecomment-59591552 ? @lemoness

[2016-09-01 22:04] paglias commented on #4173
@SabreCat are you working on this?

[2016-09-01 22:05] paglias commented on #2489
Closing in favor of #4218 that has a bounty on it

[2016-09-01 22:05] #2489 closed, assigned to nobody

[2016-09-01 22:05] paglias commented on #4218
Some useful discussion at https://github.com/HabitRPG/habitrpg/issues/2489

[2016-09-01 22:08] paglias commented on #4297
is this still an issue?

[2016-09-01 22:13] paglias commented on #4446
pinging, is this still a problem?

[2016-09-01 22:15] paglias commented on #4500
still an issue?

[2016-09-01 22:17] paglias commented on #4511
I'm going to close it, if someone is still bothered by this behavior we can reopen

[2016-09-01 22:17] #4511 closed, assigned to nobody

[2016-09-01 23:22] gambtho commented on #7955
Question on this -- is it acceptable to have all of the guild/party messages removed any a user is removed from a group?  Also -- extra credit for writing the migration code too? :)

[2016-09-01 23:32] khipkin commented on #7955
@gambtho Can you rephrase your question please? I don't understand.  Are you asking if all messages from a user should be deleted if that user leaves a guild/party?

[2016-09-01 23:36] gambtho commented on #7955
not exactly -- i was asking if all unread messages associated with a guild/party to a given user should be deleted when that user leaves the group.

[2016-09-01 23:39] gambtho commented on #7922
leave it as is -- or?

[2016-09-02 01:51] DrStrangepork commented on #6482
Ok, then wouldn't all the 100+ people need a key pair added to their user accounts? It would be either a universal boolean of True/False for the key value or an "if exist" check of the key. In either case, the 100+ set of people would need the key to exist in their user account. And if that is true, then wouldn't that key pair addition be a prerequisite to this issue?

[2016-09-02 02:06] Alys commented on #6482
@DrStrangepork Yes, that's correct, unless the person who works on this comes up with a different solution.

[2016-09-02 02:12] DrStrangepork commented on #6550
The style for that tooltip is indeed different. The tag tooltip style="top: -19.5px" while all the other tooltips are style="top: -20.5px".

[2016-09-02 02:32] DrStrangepork commented on #6482
You could just add the logic directly, but then you'd be calculating it at every circumstance for everyone. Skipping on a boolean would be slightly faster for the (vast) majority of users who are not in the 100+ crowd.

I can take a stab at this. But I think we'd need to define what the additional key pair would be in order to test against it and exempt anyone not in the 100+ crowd.

[2016-09-02 03:17] Alys commented on #6550
This will be fixed in an upcoming website improvement project so I'm closing this.

[2016-09-02 03:17] #6550 closed, assigned to nobody

[2016-09-02 03:24] crookedneighbor commented on #6482
Before any code changes, I think we should do an audit of affected active users. That will tell us if this is worth doing.

[2016-09-02 03:34] khipkin commented on #7955
@gambtho Ohh I see.  Interesting question!  I don't know the "correct" answer to that. @staff?

[2016-09-02 09:25] paglias commented on #4561
Is this still an issue?

[2016-09-02 09:31] paglias commented on #4712
This fits inside a larger discussion about recording a player's activity

[2016-09-02 09:34] paglias commented on #4828
This should be fixed now that localstorage isn't used anymore

[2016-09-02 09:34] #4828 closed, assigned to nobody

[2016-09-02 09:35] paglias commented on #4837
I think this can be closed now, feel free to reopen if it's still valid

[2016-09-02 09:35] #4837 closed, assigned to nobody

[2016-09-02 14:09] khipkin commented on #7946
Notifications that still seem to work normally:
- Streak

[2016-09-02 15:28] SabreCat commented on #4173
@paglias: Subscription issues have moved up ahead of this in priority, but yes.

[2016-09-02 15:34] tjwds commented on #4091
I'm no longer actively maintaining this extension & haven't been keeping up with the Habitica architecture--I'd encourage the functionality being rolled into the site (if it isn't already) or be more than willing to pass the project on to someone else.

[2016-09-02 15:44] paglias commented on #5419
This can be done!

[2016-09-02 15:44] paglias commented on #5424
Going to close this since when we'll restart weekly emails we'll redesign them

[2016-09-02 15:44] #5424 closed, assigned to nobody

[2016-09-02 19:53] EHLOVader commented on #2623
I noticed that the trello card was in the Accepted list.
Does that usually mean action should start over here? or would that bring this issue ticket back to life?

Since then all conversation on Trello's side has been about how everyone would like to see this feature.

[2016-09-02 23:33] habitrpguser commented on #7764
I got thrown out of several challenges in the same way (without notice, without being given the option to keep or remove the challenge tasks, and with the challenge tasks staying in my tasks list). But I'm sure I didn't leave the guilds where the challenges were! (Some of them were Tavern challenges, some were guild challenges.) And I didn't notice being thrown out of the challenges at first becau

[2016-09-03 00:37] habitrpguser commented on #7569
Some more odd behavior of challenge tags which, I think, is probably related to the bug of tags not turning green when a challenge ends or when the person leaves the challenge:

I joined a challenge, left it (opting to keep the tasks), then joined again. I had only one tag now, and it tagged both sets of challenge tasks (one without megaphone, one with megaphone). I edited that tag so it had a dif

[2016-09-03 03:14] librarianmage commented on #3648
nvm, then 😛

[2016-09-03 09:02] paglias commented on #7908
@schrodingerskat thanks for the report. Are you using any ad blocker, incognito window or any other plugin on chrome?

[2016-09-03 09:17] paglias commented on #5696
I think that the score is rising because the value for every todo that is not done gets increased every day

[2016-09-03 09:19] paglias commented on #5760
This has been addressed in a recent discussion in the Commonwealth of i18n guild so I'm closing it

[2016-09-03 09:19] #5760 closed, assigned to nobody

[2016-09-03 09:20] #5761 closed, assigned to nobody

[2016-09-03 09:24] paglias commented on #5832
Going to do this with the rewrite

[2016-09-03 09:34] paglias commented on #6216
Let's do this with the redesign

[2016-09-03 09:35] paglias commented on #6328
Going to close this. Reopen if it happens again

[2016-09-03 09:35] #6328 closed, assigned to nobody

[2016-09-03 09:40] paglias commented on #6622
Should be fixed now that we don't use local storage anymore

[2016-09-03 09:40] #6622 closed, assigned to nobody

[2016-09-03 09:41] paglias commented on #6670
Should be fixed now

[2016-09-03 09:41] #6670 closed, assigned to nobody

[2016-09-03 10:12] paglias commented on #6682
Still happening?

[2016-09-03 10:14] paglias commented on #6713
Please comment if it happens again

[2016-09-03 10:14] #6713 closed, assigned to nobody

[2016-09-03 10:15] paglias commented on #6719
Hopefully this is resolved, reopen if it happens again

[2016-09-03 10:15] #6719 closed, assigned to nobody

[2016-09-03 10:16] paglias commented on #6723
Is this still happening?

[2016-09-03 10:16] paglias commented on #6745
This will have to be fixed by a staff member with access to Stripe

[2016-09-03 10:19] paglias commented on #6772
This is probably an android-related issue, if it happens again it should be reported in the android repo

[2016-09-03 10:19] #6772 closed, assigned to nobody

[2016-09-03 10:19] paglias commented on #6812
This should be fixed

[2016-09-03 10:19] #6812 closed, assigned to nobody

[2016-09-03 10:25] #7082 closed, assigned to nobody

[2016-09-03 10:28] paglias commented on #7123
Adding pinned posts at the top of the array is going to be a breaking change and will lead to unexpected consequences. I would lean toward an array of pinned posts ids stored in the group model

[2016-09-03 10:30] paglias commented on #7454
I'm supposing this has been fixed. Reopen if it hasn't

[2016-09-03 10:33] #7180 closed, assigned to nobody

[2016-09-03 10:33] #7181 closed, assigned to nobody

[2016-09-03 11:44] crookedneighbor commented on #6723
Yes. There is a pr to fix it.

[2016-09-03 13:17] paglias commented on #6839
I think this can be closed now, reopen if it occurs again

[2016-09-03 13:17] #6839 closed, assigned to nobody

[2016-09-03 13:21] paglias commented on #7201
I cannot reproduce, if it happens again I'll reopen

[2016-09-03 13:21] #7340 closed, assigned to nobody

[2016-09-03 13:22] paglias commented on #7436
I'm assuming this is fixed, comment if it's still happening

[2016-09-03 13:22] #7436 closed, assigned to nobody

[2016-09-03 13:23] Alys commented on #6682
If I had to guess, I'd say probably yes, but I have no direct evidence of it. Closing. Will reopen with specific examples if I find any.

[2016-09-03 13:23] #6682 closed, assigned to nobody

[2016-09-03 13:26] paglias commented on #7506
Is this still needed?

[2016-09-03 13:27] paglias commented on #7545
I think this has been fixed, please leave a comment if it happens again

[2016-09-03 13:27] #7545 closed, assigned to nobody

[2016-09-03 13:29] Alys commented on #3909
Good point about accessing someone else's account. I see enough cases of people using the wrong email address that it does have a small risk of occuring. The privacy consequences are large so I suggest we don't do this until after we have email verification.

[2016-09-03 13:30] paglias commented on #7645
Yeah fixing them at cron is the best option

[2016-09-03 13:31] paglias commented on #7645
I'm closing this in favor of #7790

[2016-09-03 13:32] paglias commented on #7667
Going to do this with the redesign, we'll also stop using Bower in favor of NPM

[2016-09-03 13:39] gambtho commented on #7929
@crookedneighbor not entirely sure my PR is what you intended --- please validate 🔢

[2016-09-03 13:40] paglias commented on #7669
This should be fixed now

[2016-09-03 13:40] #7669 closed, assigned to nobody

[2016-09-03 13:41] ltorroba commented on #7201
I've actually grown used to it, but it's still there on Chrome. Other browsers work just fine.

A few weeks back the problem briefly went away, but a few days later returned.

[2016-09-03 13:42] Alys commented on #7645
I'm reopening this because it'ssthe most useful one for players looking for a sorting bug, and because it describes what mingt be a cause of the bug and the suggested fix.I'll close the other one.

[2016-09-03 13:42] paglias commented on #7675
Confirmed on OS X with Chrome. In My case it happens only with guilds, not with my party and only freeze for a few seconds.

I'd say this is a perf problem that will be addresses with the redesign. But it's pretty annoying so if someone has a fix for it, please submit it

[2016-09-03 13:43] Alys commented on #7790
closed in favour of #7645

[2016-09-03 13:43] #7790 closed, assigned to nobody

[2016-09-03 13:43] paglias commented on #7680
Please reopen if it happens again

[2016-09-03 13:43] #7680 closed, assigned to nobody

[2016-09-03 13:43] paglias commented on #7698
Is it worth doing it before the redesign? I'll add the "on-hold" label in the mean time

[2016-09-03 13:44] paglias commented on #7702
I'll close this, please comment if it happens again

[2016-09-03 13:44] #7702 closed, assigned to nobody

[2016-09-03 13:47] Alys commented on #7506
Yes. I haen't had a chance to do it yet. :(

[2016-09-03 13:49] paglias commented on #7749
Now that local storage isn't used anymore the damage notification won't include the boss damage. We should probably add a new type of notification to user.notifications for this case

[2016-09-03 13:51] paglias commented on #7861
Bumped priority to medium

[2016-09-03 13:52] Alys commented on #7630
I haven't seen other examples of this so I think it's been fixed by a code change. I'm closing it but we can reopen if it happens again.

[2016-09-03 13:52] #7630 closed, assigned to Alys

[2016-09-03 14:08] paglias commented on #7201
@zesme strange... I'll reopen the issue. That icon isn't actually an image but a unicode character and I cannot see any .LastResort class in my source code. Can you try using an incognito window (or disabling all extensions) and clearing your cache?

[2016-09-03 14:10] paglias commented on #7645
Okay, anyone working on this: the best place to fix this is at cron

[2016-09-03 14:57] Alys commented on #7820
Note also this related problem:  "When trying to move a new tag directly after creating and saving it, I get the error message "No tag item was found with given id." Once I've reloaded the page in my browser, everything works fine again." https://github.com/HabitRPG/habitrpg/issues/7614

[2016-09-03 14:57] Alys commented on #7614
I've merged this with https://github.com/HabitRPG/habitrpg/issues/7820 so I'm closing this now.

[2016-09-03 14:57] #7614 closed, assigned to nobody

[2016-09-03 15:04] Alys commented on #7576
@Efox917 I'm really sorry I didn't get back to you sooner! I should have been keeping on top of this.

This would be an example of this issue: https://github.com/HabitRPG/habitrpg/issues/7851 so I'm going to close your issue - we'll investigate in the other one and hopefully find a fix!

[2016-09-03 15:04] #7576 closed, assigned to nobody

[2016-09-03 23:53] Joerle commented on #7898
Thanks @Alys, I have those items again!
I've only just returned from the other coast, so no worries re: the delay.

[2016-09-04 02:12] thebat137 opened #7968 "In Market, price for gems is horizontally misaligned with other prices"
Browser: Firefox (Build identifier: Mozilla/5.0 (X11; Linux x86_64; rv:45.0) Gecko/20100101 Firefox/45.0)
OS: Debian Linux (Sid)

What it says in the title --- the gem price (20 gold) is slightly higher than the other prices in the same section (fortify, rebirth, key, messages).  Trivial, but it looks slightly sloppy.

[2016-09-04 02:21] Alys commented on #7968
We're in the planning stages for a website improvement project which will fix problems like that, so I'm closing this now, but thank you for mentioning it!
We have a guild now for telling us about bugs, which you might find more convenient. You can access it from the website's menu at Help > [Report a Bug](https://habitica.com/#/options/groups/guilds/a29da26b-37de-4a71-b0c6-48e72a900dac). It's rec

[2016-09-04 02:21] #7968 closed, assigned to nobody

[2016-09-04 02:28] Alys commented on #2826
I've placed a note about this issue in this Trello card: https://trello.com/c/wYKm5cS5/98-reports-statistics-history-log-enhanced-graphs-meta-data

I'm closing this now since we primarily use GitHub for bugs rather than feature requests.

[2016-09-04 02:28] #2826 closed, assigned to nobody

[2016-09-04 05:28] thebat137 commented on #7968
Didn't realize the Bugs Guild was the preferred posting location now, not just the "easiest".  Thanks for the heads-up, I'll go there in the future.

[2016-09-04 05:34] thebat137 commented on #7882
Seems like a similar issue to #7968 --- another case of the icon size/shape being mismatched with others in the same class.

[2016-09-04 17:02] khipkin commented on #7861
It seems like whenever a test fails, that test's test suite gets rerun recursively forever.

[this build](https://travis-ci.org/HabitRPG/habitrpg/builds/156625146): **(49 min 5 sec)**
-  after the test suite with the failed test:
  -  `npm ERR! Failed at the habitica@3.35.0 test:common script 'mocha test/common --recursive'`
-  and then these messages over and over:
  -  `'test' errored after 48 s

[2016-09-04 17:15] khipkin commented on #7861
However, if the build fails because of linting errors, it just stops and says the build failed:

[this build](https://travis-ci.org/HabitRPG/habitrpg/builds/157471241):  **(5 min 6 sec)**
-  `npm ERR! Failed at the habitica@3.38.0 lint script 'eslint .'.`

[this build](https://travis-ci.org/HabitRPG/habitrpg/builds/157397424):  **(5 min 11 sec)**
-  `npm ERR! Failed at the habitica@3.38.0 lint scr

[2016-09-04 23:22] tylerdmace commented on #4376
+1 2-space (if we're still tallying votes)

[2016-09-05 00:44] alsombra opened #7970 "Can't connect to Habitica anymore! (either app or web version) - _cronSignature not reset correctly"
General Info

   Device: kltetmo
   Android Version: 22
   AppVersion: Version 0.0.33.2 (117)
   User ID: f24161df-3147-4b19-9b2a-1ae290977923
- Browser: Chrome, Firefox, Safari
- OS: Mac OS
### Description

I have been getting the same "Connection Error : There seems to be a problem with a server. Try again later" error on the App for about 3 days now and all my friends confirm that the game is u

[2016-09-05 01:18] Alys commented on #7970
Please go to https://habitica.com/static/clear-browser-data and click the red button there, then before you log in again, clear your browser's cookies for habitica.com.

I think that actually won't help, but it's worth a try. Post again here with the results. If it helps, it will be only for the website.

[2016-09-05 01:27] Alys commented on #7970
Found it! Probably. `"_cronSignature": "c5a4af61-7b89-4607-9a04-25694d902aa6",`  I've changed it to "NOT_RUNNING" which is correct. Don't worry about what it means - that's a note for us admins.

You were also affected by this bug: https://github.com/HabitRPG/habitrpg/issues/7955
but I've just cleared the bad notification. That wasn't be the cause of not being able to log in though.

Please try lo

[2016-09-05 02:36] alsombra commented on #7970
Solved, It's all working again! Thanks a ton, Alys! Really impressed with the efficiency of all Habitica team! =D

[2016-09-05 10:24] Alys opened #7971 "flags.chatRevoked does not prevent user sending private messages (PMs)"
When a user's chat permissions need to be revoked, they are given a true value for `flags.chatRevoked`. This stops them posting to any guild or the Tavern.

It should also stop them sending private messages to any player.

[2016-09-05 19:07] habitrpguser commented on #7946
I wrote the following post in the "Report a Bug" guild, and @SabreCat asked me to add it here:

I hope this helps! (If someone else confirms this, the challenge bug label should probably be added to this issue, too.)

[2016-09-05 23:20] schrodingerskat commented on #7908
@paglias No, none of the above. I have AdBlock Plus installed but disabled on most sites; I just verified that it's not active when I visit either Habitica or PayPal. My only other extensions are LastPass for password management and a Google Scholar bookmarklet, and I wasn't using an incognito window.

[2016-09-06 05:10] habitrpguser commented on #7569
Could the priority of this bug please be raised to "medium" (at least)? In combination with [the bug that throws Habiticans out of challenges without any form of notification, even if they haven't left any guild](https://github.com/HabitRPG/habitrpg/issues/7764), this bug means that the only way to be sure that you're still in a challenge is to check the tasks of every challenge for megaphones eve

[2016-09-06 12:38] habitrpguser commented on #7599
I did some testing about this in the Challenge Sandbox guild. Please read the (looong) description of the challenge [:bug: Bug Test Challenge 1: Testing Various Task Order Bugs](https://habitica.com/#/options/groups/challenges/28791b0a-72a4-4f2f-b4dd-77e687e7877c) for details!

To sum things up, there are two different bugs:
- When the challenge creator is in a challenge automatically after having

[2016-09-06 12:48] librarianmage commented on #4758
How would I store it?
On Wed, Aug 24, 2016 at 11:12 PM Alys notifications@github.com wrote:

[2016-09-06 13:05] habitrpguser commented on #1703
I did some testing about this in the Challenge Sandbox guild. Please read the (looong) description of the challenge [:bug: Bug Test Challenge 1: Testing Various Task Order Bugs](https://habitica.com/#/options/groups/challenges/28791b0a-72a4-4f2f-b4dd-77e687e7877c) for details!

To sum things up:
- When someone creates a challenge, the tasks are saved in a different order than they are shown in whe

[2016-09-06 13:30] saterHATER opened #7973 ""Report a bug" link fails. Main splash page shows instead."
General Info
- UUID: 2bcf987b-5219-4ee3-8b4e-18d18c7d1e5b
- Browser: Google Chrome 51.0.2704.84 (Official Build) m (64-bit)
- OS: Windows 7 Enterprise
### Description

"Report a bug" link fails. Main splash page shows instead. I tried it in incogneto mode w/out any extensions. Still nothing. I have a legitimate bug in addition to this one.
#### Console Errors

Deprecation warning: moment().zone is

[2016-09-06 13:33] deilann commented on #7973
Have you tried signing in? You have to be signed in to see guilds.

On Tue, Sep 6, 2016 at 6:30 AM, John Sater notifications@github.com wrote:

##

Currently Reading
https://www.goodreads.com/user/email_signature_destination/35215676?utm_medium=reading_link&utm_source=email_signature
[image: Book Cover]
https://www.goodreads.com/user/email_signature_destination/35215676?utm_medium=cover&utm_source

[2016-09-06 14:29] CrystallineCat commented on #7971
I'm working on this.

So far I've changed api.sendPrivateMessage to yield the same error as api.postChat. This seems to work locally.

Still to do, AFAICT:
- make the error message localizable (also in api.postChat)
- make an automated test (similar to the one for api.postChat)

I'm new to this, so please tell me if I'm missing anything.

[2016-09-06 15:11] CrystallineCat commented on #7971
Hmm... sending another user gems allows for a message. Should `flags.chatRevoked` block the ability to send gems entirely, or only the message, or leave it as is?

[2016-09-06 15:58] SabreCat commented on #7973
Which Report a Bug link did you run into this with? Links visible when not signed in shouldn't direct to a Guild (at least without providing an alternative in the same view).

The `moment` warning is innocuous and unrelated.

[2016-09-06 16:19] SabreCat commented on #7971
Sending Gems shouldn't be altered. Unless we worry about someone sending constant 1-Gem gifts from a subscriber-grade hoard as a spamming tactic?

[2016-09-06 16:22] paglias commented on #4758
I think we should wait before implementing this until we've taken a definitive stance on the username vs display name issue and about what to use in chat mentions

[2016-09-06 16:23] khipkin commented on #7971
Maybe disallow custom messages and instead send a bland, default message?  I personally wouldn't mind getting spammed with 1-Gem gifts from anyone as long as the messages weren't upsetting.

[2016-09-06 16:27] deilann commented on #7971
I think when someone's been harassing you, any way they can reach you is
not okay. If you've blocked someone, they should not be able to gift gems.
So when someone's blocked entirely, they should not be able to gift gems,
except _maybe_ to party members.

On Tue, Sep 6, 2016 at 9:23 AM, Kaitlin Hipkin notifications@github.com
wrote:

##

Currently Reading
https://www.goodreads.com/user/email_signa

[2016-09-06 16:30] abatula commented on #6503
Is anyone working on this? I can look into it if not.

[2016-09-06 16:53] khipkin commented on #2771
I think new achievements should wait until the following things are resolved (issues closed & PRs merged into develop):
- [x] Issue #7946 _(Notifications no longer work.)_
- [x] PR #7904 _(Achievement list visual revamp & Achievements API)_
- [x] PR #6943 _(New achievement modal service & more achievement tests)_

[2016-09-06 17:03] khipkin commented on #6969
This might have been fixed by #7870 ?

[2016-09-06 17:11] paglias commented on #6969
@khipkin I have to say I never reproduced these errors so I can't say if they're fixed or not. But if you can't see them anymore, we'll close this

[2016-09-06 17:12] crookedneighbor commented on #6969
This code has also changed since it was reported. Reopen if you reproduce it again.

[2016-09-06 17:12] #6969 closed, assigned to nobody

[2016-09-06 17:46] jjmcgaffey opened #7974 "Regularly get large pink pop-up "An error has occurred: Unexpected error) in browser"
General Info
- UUID: 8f0f2f48-73b0-4b27-a95a-40603cc919e7
- Browser: Firefox on Android - possibly also on Windows (10/7), not sure.
- OS: Android 5.x, 6.0.1
### Description

I mostly use the app, on Android. On the rare occasion I go to the website, I usually get a bunch of pop-ups - little 2-line things, in blues and greens, telling me about earned/lost mana, XP, health. And for some time (sever

[2016-09-06 20:36] librarianmage commented on #3049
Is there an API route or something to generate a new API token?

On Wed, Aug 31, 2016 at 3:25 PM Alys notifications@github.com wrote:

[2016-09-06 20:48] Ozzystrasza commented on #7914
I will try to fix this.

[2016-09-07 00:56] Alys commented on #7973
There's a lot of links to the Report a Bug guild - wiki, [GitHub](https://github.com/HabitRPG/habitrpg/issues/2760), links in chat messages (e.g., while using the app that then directs to the website). It's not unexpected to see the home page when following one. Making the play/join buttons more obvious login buttons will help reduce confusion (we have a PR for that).

However there is a "Submit B

[2016-09-07 01:57] #7634 closed, assigned to nobody

[2016-09-07 02:22] saterHATER commented on #7973
I clicked on the "Submit a bug" link while signed-in in the "Tasks" section. After signing in (again?) I'm able to see the guilds page and  I joined the "Report a bug" guild. Are Does the "Guilds" page require different authentication than the "Tasks" page? This was the case for my use case and I found this  to be very confusing. If this was intended, then I apologize, this was user error.

[2016-09-07 02:25] Alys commented on #7973
@saterHATER It should not require different authentication. This was not your fault.

Can you confirm: Did you have to actually enter your username and password again? Or did you just need to click the blue "play" or "join" button, and then you became automatically logged in?

[2016-09-07 07:31] paglias commented on #3049
No, there isn't any route actually. There are plans to have it, though

2016-09-06 22:36 GMT+02:00, AccioBooks notifications@github.com:

##

Matteo Pagliazzi - paglias.net

[2016-09-07 07:34] paglias commented on #7974
I've searched in the logs but couldn't find any error linked to @jjmcgaffey 's UUID

[2016-09-07 08:11] Alys commented on #7974
@jjmcgaffey Clearing the cache isn't likely to help. Did you try using the red button at https://habitrpg-beta.herokuapp.com/static/clear-browser-data and then clearing cookies after that (**before** logging back in to Habitica)? I'm not at all sure that will help either but it's worth trying.

A lot of those messages from the console don't seem related to Habitica so I'm wondering if you have onn

[2016-09-07 10:42] Alys commented on #7974
Here are the two screenshots from the top post, because the zoom option on the Dropbox interface isn't working well for me:

![2016-09-01 16 59 49](https://cloud.githubusercontent.com/assets/1495809/18309139/40589796-753b-11e6-859c-3cbac0935aab.jpg)
![2016-09-01 17 00 03](https://cloud.githubusercontent.com/assets/1495809/18309140/405f3790-753b-11e6-8caa-faf5783ab1eb.jpg)

[2016-09-07 10:56] Alys commented on #7974
About 48 hours ago, BrianTerrible (663f8e76-c1d5-4ef8-8ce4-a8c6c7c44313) posted the message below to the Bug guild. It might be related. I'm asking Brian about extensions. The English translations of the error messages were inserted by me from Google Translate.

"Hello, I just got an error prompt by opening the main page of Habitica. Checking the console, it seems that there are some HTTP 500 resp

[2016-09-07 11:02] Alys commented on #6503
@abatula I'm sorry about the late reply. I'm working on refactoring common/script/ops/scoreTask.js in https://github.com/HabitRPG/habitrpg/pull/7607. There's a lot of confusing code in the current live version which was masking some bugs so it's probably best that you don't work on it yet.  I'm putting this issue on hold until I've finished the tests for that PR. I'll try to get it finished soon.

[2016-09-07 11:11] Alys commented on #4252
More reports of this from the Report a Bug guild (also possibly one or two earlier ones that I missed reporting):

Squire.Western (95a2f514-8133-4063-b9bc-b27f473e60e0) :
Our party just completed the Armadillo quest but did not receive our armadillo eggs! We are distraught. Help us! Our group ID is a8dfabb3-41c1-4908-b3b4-ae798e4f37ca
 4 days ago

whispurr (9ca9cce5-7264-4531-be62-867ab1f241ee) :

[2016-09-07 11:46] Alys commented on #5988
Another report of this from Nowhere man (4e971bdc-492c-4a38-861f-b114d3974510) in the Report a Bug guild:

"I'm in a quest, but I am no longer taking any damage when the boss attacks. Last time this happened to me, I also ended up not getting the quest reward. This also happened to other members of the party, and some members of the party also didn't recieve a reward. Thank you! And don't worry ab

[2016-09-07 12:09] saterHATER commented on #7973
I clicked the "Play" button, from which I had to sign in, and then I was ushered into the Guild page after filling out the necessaries.

[2016-09-07 12:55] #7832 closed, assigned to nobody

[2016-09-07 13:07] Alys commented on #7973
@saterHATER Thanks for the details! From your first bug report, I can see you were signed in to the www.habitica.com website. The "Submit Bug" link in the footer links to the "habitica.com" website specifically - a different website from the point of view of logging in. We should adjust that link so that it's relative rather than absolute, as is the Community Guidelines link above it. I'll do that

[2016-09-07 13:18] #7973 closed, assigned to nobody

[2016-09-07 13:19] Alys commented on #7973
There are other absolute links in other parts of the site but we can fix them in an upcoming website improvement project.

[2016-09-07 13:24] #5284 closed, assigned to nobody

[2016-09-07 13:47] #4376 closed, assigned to nobody

[2016-09-07 13:59] librarianmage commented on #3049
@paglias How is a new API token normally created?

[2016-09-07 14:01] crookedneighbor commented on #3049
Manually by a database admin.

[2016-09-07 14:08] paglias commented on #3049
@MathWhiz on signup https://github.com/HabitRPG/habitrpg/blob/develop/website/server/models/user/schema.js#L17

[2016-09-07 15:36] librarianmage commented on #3049
How would it be changed?

On Wed, Sep 7, 2016 at 9:09 AM Matteo Pagliazzi notifications@github.com
wrote:

[2016-09-07 15:45] paglias commented on #3049
@MathWhiz what do you mean? Changing an API key is something that is done very rarely, so when it's necessary a member of the staff with database access manually generates a new api key and set it in the database

[2016-09-07 15:49] librarianmage commented on #3049
What I mean is how would it be potentially be changed through the codebase?

On Wed, Sep 7, 2016 at 10:45 AM Matteo Pagliazzi notifications@github.com
wrote:

[2016-09-07 17:16] jjmcgaffey commented on #7974
Yes - the red button clearing was what I meant. The only add-ons I have on the mobile browser are the video codec that comes automatically, and the Console add-on I put in to see the console - which was after I first reported this in Report a Bug.

Ok, found and put back my level-up notifications (thank you!). And the instant I did so, I got a bunch of pop-ups including the pink one - here

https:

[2016-09-07 17:48] #7928 closed, assigned to nobody

[2016-09-07 18:07] abatula commented on #6282
If no one has started on this, I can take a look at it.

[2016-09-07 18:16] librarianmage commented on #7188
I'll give this a try!

[2016-09-07 18:16] librarianmage commented on #7927
I can work on this!

[2016-09-07 18:19] librarianmage commented on #7927
My idea for implementation:

After logging out, users are redirected to a page (/static/farewell ?) instead of /static/front. This way, people can look at it for longer and click the links, and it won't suddenly disappear.

[2016-09-07 18:26] crookedneighbor commented on #7927
This should wait and be done as part of the redesign project.

[2016-09-07 18:32] crookedneighbor commented on #6282
:+1:

[2016-09-07 19:09] khipkin commented on #7188
I think a PR was already merged in to fix the broken boss image, but I can't find it any more.

[2016-09-07 19:13] librarianmage commented on #7188
I believe there has, but there are some problems and some TODOs that can be
taken care of.
On Wed, Sep 7, 2016 at 2:10 PM Kaitlin Hipkin notifications@github.com
wrote:

[2016-09-07 19:15] khipkin commented on #7188
Yeah, there's definitely still stuff to be done! I was just talking about that one issue with the page. :)

[2016-09-07 19:42] paglias commented on #3049
@MathWhiz I'm not sure allowing the API Key to change is a good move. Right now it'll mean that mobile apps, other browsers and all 3rd party extensions will need to be authenticated again.

@Alys @crookedneighbor what do you think?

I would prefer to wait for the auth overhaul we've been talking about

[2016-09-07 19:54] Alys commented on #3049
It's desirable but not high prIority. I agree that the code for changing it
yourself should wait. We could cover it now by inserting a message like
(but better worded!) "If you need a new token, post to the Bug guild.
You'll need to re-auth everything afterwards."

On Thu, 8 Sep 2016 05:42 Matteo Pagliazzi, notifications@github.com wrote:

[2016-09-07 19:55] librarianmage commented on #3049
I can do that!
On Wed, Sep 7, 2016 at 2:54 PM Alys notifications@github.com wrote:

[2016-09-07 20:24] taldin commented on #7917
Heh, that's a different way of solving the problem of 'equipment on Orb of Rebirth is too long to display'..... I approve of this issue!  (having just used an Orb for round 3, and the only thing I've bought are  a set of Wolf Ears...I know, priorities!)

[2016-09-08 01:58] JenniferMartin opened #7980 "Pending boss damage displays in scientific notation"
I'm not sure if this was deliberate or not, but the new pending boss damage "target" displays the amount of pending damage in scientific notation once past a certain threshold. (I'm not sure what the exact threshold is--see below.) I personally find standard notation to be significantly easier to read, and I wouldn't be surprised if there are a significant number of people who would not recognize

[2016-09-08 02:05] crookedneighbor commented on #7980
Agreed. I don't think i was intentional to display as scientific notation.

[2016-09-08 02:09] #7980 closed, assigned to nobody

[2016-09-08 02:09] crookedneighbor commented on #7980
Will go out in the next deploy.

[2016-09-08 02:36] mandyzhou opened #7981 "Quest progress icon mobile issues"
General Info
- UUID: 8cce502f-a91c-40c2-b782-687759c6da0a
- Browser: Firefox
- OS: Android
### Description

The Quest Progress icon isn't very mobile friendly. Tapping on the icon simply loads the Party page, without ever displaying the quest progress information. In contrast, the Sync button shows the "Sync" popup while the page is syncing. One solution could be to display the amount of damage/dr

[2016-09-08 03:05] Alys commented on #7981
Definitely things we'd want to fix but best done in an upcoming website improvement project so I'm marking this as on hold. Thanks for noticing those problems!

[2016-09-08 06:47] Alys commented on #3049
The Settings > API page now has a note about emailing us to get a new token. I'm putting this on hold until we do the auth overhaul that paglias mentioned.

[2016-09-08 06:50] Alys commented on #7188
Replacing badly outdated images with new ones would be good, especially if the images already exist on the site (e.g., press kit). @MathWhiz If you want to do that, please go ahead!

For anything else we might want to wait for an upcoming website improvement project, so ask here before  starting any other changes to that page.

[2016-09-08 12:12] librarianmage commented on #7188
Ok! Here are the things I want to work on:
-  Fix Link Paragraph
-  Update App picture
-  ~~Remove lead from paragraphs (the text looks overly large)~~
-  Fix grammatical mistakes / Inconsistencies
-  Add a link to the login modal at the bottom of the page

I don't know how soon the visual update will be, but there were a few TODOs
in there that I think we should at least prepare some content and

[2016-09-08 13:45] librarianmage commented on #2945
Should this be put on hold / closed because it will probably be changed by the visual redesign?

[2016-09-08 14:30] librarianmage commented on #3648
@paglias Should it also be put on hold for the website redesign?

[2016-09-08 16:09] librarianmage commented on #4827
Isn't there a similar Issue?

[2016-09-08 16:15] librarianmage commented on #5041
What is the status on this?

[2016-09-08 16:17] paglias commented on #3648
@MathWhiz yeah, let's revisit this after/during the redesign

[2016-09-08 16:46] khipkin commented on #4827
@MathWhiz These are the only other PM-related issues I could find:
- #6540 Not told that someone has opted out of PM's until AFTER you have composed the message
- #5205 Visiting Inbox Via Email Alerts Does Not Clear PM Notifs
- #4648 Flag issues: doesn't work in PMs, needs two flags before they can be cleared, etc

[2016-09-08 17:07] #7861 closed, assigned to nobody

[2016-09-08 17:13] librarianmage commented on #4827
Oh. I was thinking about #6540
On Thu, Sep 8, 2016 at 11:46 AM Kaitlin Hipkin notifications@github.com
wrote:

[2016-09-08 17:31] khipkin commented on #2565
I can work on this!

[2016-09-08 17:35] paglias commented on #2565
@khipkin feel free to go ahead :)

[2016-09-08 17:45] beffymaroo opened #7982 "Inconsistently Aligned Mount Sprites"
### Description

Some mount sprites (head/body) appear to be aligned inconsistently across mount colors- this is particularly noticeable with magic potion mounts.

First spotted in the wiki:

![untitled-1](https://cloud.githubusercontent.com/assets/9218855/18360009/328d44ba-75b1-11e6-8c4a-a19ec190937f.png)
#### Console Errors

n/a

[2016-09-08 18:42] sebastienplat commented on #5618
I managed to setup my local Habitica & update common/script/content/index.js like so:

| Quest Name | Quest Object Name | Old value(s) | new value(s) |
| :-- | :-- | :-- | :-- |
| Dish Disaster | atom1 | 20 | no change |
| Find the Cub | evilsanta2 | 30 (10 branches + 20 tracks) | no change |
| Find the Lair of the Wyrm | vice2 | 45 | 30 |
| Egg Hunt | egg | 100 | 40 |
| Message in a Bottle | dila

[2016-09-08 19:19] crookedneighbor commented on #5618
https://help.github.com/articles/about-pull-requests/

[2016-09-08 23:21] librarianmage commented on #5829
Is this still a thing?

[2016-09-08 23:25] librarianmage commented on #6079
Do we still want this? It seems that it would either be misused or not be heavily used.

[2016-09-08 23:27] librarianmage commented on #6329
Should this be put on hold until the redesign? It doesn't seem to be game-breaking, and it may be fixed by the new UI update.

[2016-09-08 23:31] Alys commented on #6079
I still feel that a feature to manually change your time zone will be troublesome. If it's done, I'd like to be after we implement a planned feature that will give users more protection from unexpected crons - that will  dramaticlly reduce problems from people setting their time zone incorrectly.

[2016-09-08 23:34] librarianmage commented on #7188
Is the new UI update planned to be before the end of the year?

[2016-09-08 23:37] Alys commented on #5829
It's still desirable and no current work is being done on it.

In https://github.com/HabitRPG/habitrpg/pull/6112#issuecomment-168100390, @crookedneighbor says:
**"Let's do smaller PRs extracting one grunt task at a time."**
I suggest that anyone working on this follows that advice.

[2016-09-08 23:39] Alys commented on #5829
I'm changing this to a medium priority though because it's not as important as some of the bugs we have.

[2016-09-09 00:00] Alys commented on #7971
For simplicity and safety, `flags.chatRevoked` should block the ability to send gems entirely. @CrystallineCat excellent question! I hadn't thought of that option.

Chat permissions are often revoked when bad messages are posted to chat areas, and we can't necessarily trust those users to behave appropriately. I do like khipkin's idea of a default message, but even that might be upsetting to a pla

[2016-09-09 01:25] #5852 closed, assigned to nobody

[2016-09-09 01:25] #5854 closed, assigned to nobody

[2016-09-09 01:26] #7933 closed, assigned to nobody

[2016-09-09 01:45] khipkin commented on #7971
I have been more than convinced that blocked users should not be able to send gems at all.  Sorry, @deilann, for my insensitive comment above; many abusive people would gladly pay gems in order to continue harassing their victim(s), and that must be prevented.

Also @Alys, good points that users could change their display names to something inappropriate or just transfer gems to a new account.

[2016-09-09 01:48] librarianmage commented on #7687
Are there things that can't be accessed through the front page?

[2016-09-09 01:49] librarianmage commented on #7830
Would a blacksmith be able to change this?

[2016-09-09 01:55] Alys commented on #2695
I've linked this issue to the tags feature request card (https://trello.com/c/HzlNeTQB/274-tags-v-2-tag-ideas-enhancements ) so I'm closing this. We'll assess these ideas at the same time as the other suggestions on that card.

[2016-09-09 01:55] #2695 closed, assigned to nobody

[2016-09-09 02:07] Alys commented on #7830
@MathWhiz  Good question to ask!

No, this is something for admins to do. It would require changing Habitica's server certificate.

[2016-09-09 02:19] #7174 closed, assigned to nobody

[2016-09-09 02:28] #7719 closed, assigned to nobody

[2016-09-09 02:46] #7464 closed, assigned to nobody

[2016-09-09 02:46] librarianmage commented on #6490
I can work on this!

[2016-09-09 02:51] librarianmage commented on #5067
Should this wait until the redesign?

[2016-09-09 02:52] librarianmage commented on #5583
I can work on this!

[2016-09-09 02:53] librarianmage commented on #4445
I can work on this!

[2016-09-09 02:55] librarianmage commented on #4499
What is the status on this?

[2016-09-09 02:55] librarianmage commented on #4549
I can work on this!

[2016-09-09 03:02] khipkin commented on #4445
This issue applies to the "beastMasterText2", "mountMasterText2", and "triadBingoText2" strings in `pets.json`.

[2016-09-09 05:28] khipkin commented on #7867
I think the [help welcome now] tag can be removed from this, since a PR is almost approved to close the issue.

[2016-09-09 05:30] khipkin commented on #7955
Suggestion: [help welcome now] --> [in progress]

[2016-09-09 05:30] khipkin commented on #7867
Suggestion: [help welcome now] --> [in progress]

[2016-09-09 05:31] khipkin commented on #7942
Suggestion: [help welcome now] --> [in progress]

[2016-09-09 05:33] khipkin commented on #7789
Suggestion: [help welcome now] --> [in progress]

[2016-09-09 05:33] khipkin commented on #7764
Suggestion: [help welcome now] --> [in progress]

[2016-09-09 05:34] khipkin commented on #7730
Suggestion: [help welcome now] --> [in progress]

[2016-09-09 05:35] khipkin commented on #7725
Suggestion: [help welcome now] --> [in progress]

[2016-09-09 05:38] khipkin commented on #7417
This may be addressed by #7969.

[2016-09-09 08:23] paglias commented on #7417
@khipkin I don't think #7969 is addressing this (the ability to delete an account that only has social authentication)

[2016-09-09 08:29] sebastienplat commented on #5618
I have created a PR for the issue. As mentioned by @deilann, just applying a multiplier does not do justice to those who finished this quest by collecting 500 moonstones. I think it would be more fair to create a specific achievement for it (maybe something like "Moonstones Hoarder: completed the Moonstone Chain when it required 500 moonstones" ?).

[2016-09-09 08:35] paglias commented on #4499
@MathWhiz we want the actual password reset to happen only with the user authorization (so after they click on a link in the email and not as soon as the email is sent) and if you want to work on this, go ahead. What we cannot do, with the current auth system, is invalidating old sessions, that'll have to wait

[2016-09-09 08:36] paglias commented on #5067
Not sure, it can be worked on but it'll be overwritten by the redesign.

@Alys @crookedneighbor ?

[2016-09-09 08:37] paglias commented on #7687
@MathWhiz the list of public fields is here https://github.com/HabitRPG/habitrpg/blob/develop/website/server/models/user/index.js#L9

[2016-09-09 08:43] paglias commented on #6329
Can be worked on but yeah it'll be overwritten by the redesign

[2016-09-09 08:43] paglias commented on #7188
@MathWhiz it will start before the end of the year but we don't know how much it'll take

[2016-09-09 10:48] Alys commented on #7727
Another confirmed case twice in the past two days for candybubbles🍭 (aa373af3-62b0-477b-a674-664b3da80609):
"I'm currently in a quest and my attacks/damages to the boss aren't showing up along with everyone else's."

---

UPDATES:

Another confirmed case reported at Tue Sep 13 05:08:44 AEST 2016 by Kharon (3807fed9-ada8-41eb-9174-baa26246b57e) :
"My cron ran on schedule 15 minutes ago during a bos

[2016-09-09 12:33] khipkin commented on #7417
@paglias Oh oops, my bad!

[2016-09-09 12:57] crookedneighbor commented on #7946
Figured out the party achievements problem. We're now setting those on the server https://github.com/HabitRPG/habitrpg/pull/6907

But never updated the client to account for that.  Since the party page refreshes when joining or inviting new users, the party achievement logic never gets hit.

[2016-09-09 12:58] crookedneighbor commented on #7946
Personally, I don't think it's worth working on until after the redesign unless it's a super simple fix.

[2016-09-09 13:51] #7914 closed, assigned to nobody

[2016-09-09 14:46] #6912 closed, assigned to nobody

[2016-09-09 17:01] librarianmage commented on #7188
@Alys is there anything on the list that should wait until the redesign?

[2016-09-09 20:08] CrystallineCat commented on #7971
Thanks for the replies! :)

Looks like `api.transferGems` doesn't actually check for the user being blocked, either. I've now factored out the checks from `api.sendPrivateMessage` into a function and use that in both APIs for consistency. I've also made tests for the new restrictions.

I forgot to put the issue number into the commit this time, so here is a link: https://github.com/CrystallineCat/

[2016-09-10 01:04] Alys commented on #7971
@CrystallineCat
- "Should gems be sendable to a user that opted-out of messaging?" -- That's a really interesting question with good points on both side. I recommend that we consider it to be out of scope for this issue because it could take a while to settle on an answer, and we want this issue fixed fairly soon if possible. I am definitely glad you asked though! Would you like to make a new issu

[2016-09-10 01:37] #7789 closed, assigned to nobody

[2016-09-10 03:09] Alys commented on #7917
reopening so that admins don't forget to do the tasks for them, listed in the top post. I'll start handling them now.

[2016-09-10 06:31] Alys opened #7990 "quest progress icon does not appear until some progress exists"
When you're on an active quest (or have not rejected an invitation to a pending quest), if you have not yet made any progress towards the quest today, the quest progress icon does not appear in the menu bar. It only appears after you've accumulated some boss damage or found at least one collection quest item.

This isn't a big problem for boss quests because you make progress as soon as you comple

[2016-09-10 08:55] Alys opened #7991 "Empty the Armory : create feature and achievement"
Now that the [Orb of Rebirth no longer removes equipment](https://github.com/HabitRPG/habitrpg/issues/7917), we need a similar feature that does remove gear (but does nothing else).

Features:
- [ ] The name for it is tentatively *"Empty the Armory"* but other suggestions are welcome.
- [ ] It will cost 2 gems.
- [ ] For players who are at or above level 100, it will be free.
- [ ] It will not rem

[2016-09-10 12:52] paglias opened #7992 "Migrate from Jade to Pug"
Jade doesn't exist anymore due to a legal issue with it's name (see here https://github.com/pugjs/pug/issues/2184 for more info).

The new name is [Pug](https://pugjs.org/api/getting-started.html)

We should migrate to it unless we decide to ditch server side templating in the redesign (I'd like at least to do some preprocessing of templates). Note that there are breaking changes.

Regarding linti

[2016-09-10 13:42] crookedneighbor commented on #7992
The only reason I haven't done this yet is because pug does not have a stable release yet. (At least, the last time I checked) 2.0.0-beta6 is the current version.

[2016-09-10 14:01] paglias commented on #7992
I got confused because Express now suggests to use Pug. Anyway yes beta-6 is still the latest release

[2016-09-10 14:09] crookedneighbor commented on #7992
Yeah. In theory it should be stable. But I'd prefer to not pin to a beta release.

[2016-09-10 14:10] paglias opened #7993 "Remove v2 code from /common/script"
- Some ops/fns/... were only used in v2 and can be removed (client only code must stay for now)
- Some ops return different data if `req.v2 === true`, that code can be removed

[2016-09-10 14:11] paglias commented on #7992
https://github.com/pugjs/pug-lint can be used to lint Pug files and find things that needs to be changed from Jade

[2016-09-10 14:35] crookedneighbor commented on #7992
I'm :+1: on linting

[2016-09-10 15:42] khipkin commented on #7993
Why on hold?

[2016-09-10 15:50] khipkin commented on #7991
I think new achievements should wait until the following things are resolved (issues closed & PRs merged into develop):

- [ ] Issue #7946 _(Notifications no longer work.)_
- [ ] PR #7904 _(Achievement list visual revamp & Achievements API)_

Absolutely minimally, the second one (the PR), because it will remove all achievements-related code except for updating the achievements object returned by t

[2016-09-10 15:52] crookedneighbor commented on #7946
Are we sure that it's all notifications? I've only experienced it with the party up and party on achievements.

[2016-09-10 15:55] khipkin commented on #7946
Based on what @habitrpguser said above, it's also challengeWon notifications.

The only notifications I've actually seen in the last while are streaks and level ups, so I'm not sure about the rest.

[2016-09-10 15:57] khipkin commented on #7991
But I would be interested in adding the feature!

[2016-09-10 16:18] paglias commented on #7993
@khipkin I wanted to check that all the stuff wasn't used on the client, I've removed the `on hold` status

[2016-09-10 16:24] khipkin commented on #7993
Okay cool. :smile: I would be interested in tackling this.

[2016-09-10 16:25] paglias commented on #7993
@khipkin sure! It's a bit boring and probably just removing code, but if you want to do it go ahead :)

[2016-09-10 17:04] khipkin commented on #7993
A bunch of files in common/script/ops contain the following comment:
`// TODO used only in client, move there?`

Do you want me to deal with this too?

[2016-09-10 17:09] paglias commented on #7993
@khipkin no, client only code should stay where it's. We'll remove it with the redesign but for now it's needed and doesn't make sense to spend time to move it to a client that'll be rewritten

[2016-09-11 02:49] Alys commented on #7188
I think this shouldn't be done yet:
-  Remove .lead from paragraphs (the text looks overly large)
  It's probably intended to look like that? Anyway, it's definitely a wait-for-redesign consideration.

The rest looks good I think!

[2016-09-11 02:51] Alys commented on #5067
I think it would be best to leave it to the redesign, so I'm marking it on hold. Thanks @MathWhiz!

[2016-09-11 02:54] librarianmage commented on #7188
I was suggesting removing .lead because it looks inconsistent to the rest
of the site. Also, it should only take a few minutes to complete.
On Sat, Sep 10, 2016 at 9:50 PM Alys notifications@github.com wrote:

[2016-09-11 03:13] Alys commented on #5618
I like the idea of a leaving the existing quest achievements as they are and giving separate achievement for the pre-nerfed collection quests.

However five quests will be changed and five new achievements feels like a lot for this, especially since they're once-off and no one will be able to earn them in future, so maybe we could give just one achievement to all affected players and the text of t

[2016-09-11 03:41] #6282 closed, assigned to nobody

[2016-09-11 03:56] Alys commented on #7188
It does look different to the rest of the site, but this page has a different purpose than the others and seems intended to have a different appearance. Please leave `.lead` in place for now. At the least, I'd want Lemoness to ask for it's removal, and she's on holidays.

[2016-09-11 03:57] librarianmage commented on #7188
Ok!
On Sat, Sep 10, 2016 at 10:57 PM Alys notifications@github.com wrote:

[2016-09-11 04:03] #7816 closed, assigned to nobody

[2016-09-11 04:04] Alys commented on #5041
Still suggestion-discussion.

The issue referred to in Lemoness's most recent comment has been closed.

[2016-09-11 04:08] Alys commented on #5583
I'm actually wondering if there's any point ever showing the Group ID on the page. For parties, we can easily get it from the player's account, and that's a more reliable method than asking the player to give it to us (probably also faster, given the time taken to describe how to find it). For guilds, we can ask players to send us the URL - something they can find more easily than the ID on the pa

[2016-09-11 04:09] librarianmage commented on #5583
I don't know why one would need it, but I don't know.
On Sat, Sep 10, 2016 at 11:08 PM Alys notifications@github.com wrote:

[2016-09-11 16:06] khipkin commented on #5041
I think "Health + Wellness" could be broken down further into physical health+wellness vs emotional/mental/spiritual health+wellness.

---

**Health + Wellness**

HABIT: +/- Eat healthy/junk food
DAILY: Floss
TO-DO: Pick a specific time to go to bed every night

RECOMMENDED GUILDS:
Newbies
The Health Nuts https://habitrpg.com/#/options/groups/guilds/b422b8a5-8d66-4197-9f91-d4edb8610264

---

**Rec

[2016-09-11 16:09] abatula commented on #7990
I can work on this if no one else has started.

[2016-09-11 21:11] Alys commented on #7990
@abatula Thank you! Comment here if you have questions or run into trouble!

[2016-09-11 22:40] ashes999 commented on #7820
+1 I ran into this today, good to see it's already on GitHub

[2016-09-12 02:23] abatula commented on #7990
Would you prefer the `hasQuestProgress` function to return true if the user is on a quest, regardless of any quest progress, or should there be a second function (maybe `isOnQuest`) to check if they are on a quest at all? That would leave `hasQuestProgress` in case some aspect of the site needs to know if there is progress and not just that the user is on the quest.

[2016-09-12 02:40] crookedneighbor commented on #7990
The hasQuestProgress function can be removed. All we need is a simple `ng-if="user.party.quest.key"`

[2016-09-12 03:00] #6723 closed, assigned to nobody

[2016-09-12 09:21] paglias opened #7998 "Redirect www.habitica.com to https://habitica.com"
On hold because it probably needs to be done at the DNS level.

[2016-09-12 09:41] habitrpguser commented on #7449
Looks to me like these are two different bugs:
- Bug 1: When someone creates or clones a challenge, and then just stays in it, nearly everything is buggy for the creator's challenge tasks and tag at the moment. (See #7469 which @Alys already referenced, and #7599 . #7599 is actually also 2 bugs, one of them only happening when the creator stays in the challenge.) The solution for this is always th

[2016-09-12 10:55] Alys commented on #7449
@habitrpguser Yes, could you please create a separate issue for Bug 2?

[2016-09-12 13:02] #6994 closed, assigned to nobody

[2016-09-12 17:58] corinnaj commented on #7807
Has anyone worked on this issue yet? If not, I'd be interested in fixing it.

[2016-09-12 18:24] paglias opened #8000 "Post Redesign Cleanup"
The redesign will happen in the `develop` branch so the old client will stay as long as it's not complete, after it's we'll have to do a bit of cleanup.

This list is not complete, we'll probably add new items:
- [ ] Remove Bower (and relative code, post install scripts, ...)
- [ ] Remove unused assets
- [ ] Remove common code that was only used on the client (and relative tests)
- [ ] Remove `/di

[2016-09-12 18:33] paglias opened #8001 "Pre Redesign Steps"
- [x] Move `/common` to `/common/website`
- [x] Move `/website/client` to `/website/client-old`
- [x] Create `/website/client` directory for new client (add to nodemonignore, ... and add eslint)
- [x] Expose `/website/client` at `/new-app` but hidden it with dev only middleware (for the beginning)

[2016-09-12 18:44] paglias opened #8002 "Redesign Tech Questions"
List of items that need to be addressed
- [ ] Rendering all translated strings on the client is going to be slow?
- [ ] How to reduce the amount of data sent to the browser? (500KB of uncompressed translations as of today, all the content data and images). We can lazy load components but they're not the biggest problem.
- [ ] Server Side Rendering

New items will be added as they come to mind

[2016-09-12 18:45] crookedneighbor commented on #8001
^ I'm working on `/common/` to `/common/website`

[2016-09-12 18:54] paglias opened #8003 "Big List of Redesign To-Dos"
So we don't forget.
- [x] HTML 5 History
- [ ] members modal on front page and related urls (list here https://github.com/HabitRPG/habitica/pull/9025)
- [x] PORT /static/user/auth/local/reset-password-set-new-one before deleting old client files
- [ ] i18n cache browser script
- [x] upgrade bootstrap and bootstrap-vue
- [ ] perf stable
- [x] mobile version
- [x] use color vars everywhere not #ssss

[2016-09-12 21:47] abatula commented on #7990
By using `ng-if='user.party.quest.key'`, the progress icon shows up after accepting the quest but before it has started. It also starts calculating boss damage as soon I invite my party to the quest (even if it hasn't started). Is that desired behavior on the part of the quest? It is not calculated damage for the entire day, it starts from 0 when I invite the party to a new quest. I attached an im