[2013-10-26 23:32] satyreyes opened #1647 "Daily stuck on 20 streak"
I have a daily task that I've streaked for twenty days.  When I checked it off on the 21st day, the box ticked and the task went gray as usual, but I gained no XP or GP and the streak number did not increment.  On reloading the page, the daily was unchecked again.  This behavior has persisted over the last three days.

[2013-10-27 00:39] lefnire commented on #1442
Ok, this is mostly done and just needs to be thoroughly tested. It's on the `challenges` branch, the primary commit is https://github.com/HabitRPG/habitrpg/commit/93a1e2e3485e445e42cb3f2a3febb66de3b602ba (which also handles script templates and ads, see the commit message). It also depends on https://github.com/HabitRPG/habitrpg/commit/a9d335fb6bc31c871e7b14a85c43af0cdee418c0 . Unfortunately I cou

[2013-10-27 09:58] #1647 closed, assigned to nobody

[2013-10-27 09:59] paglias commented on #1647
@satyreyes it should be fixed now, in the following days it should arrive on the site, I'll post a comment here so you can try it works. Sorry for the issue :(

[2013-10-27 10:29] startmyquest opened #1651 "Can't sell potions"
An egg is automatically selected in the inventory page, with option to sell to Alex. However, when trying to click on any of the potions to sell, because the egg is already selected and it keeps saying "you already have that pet, hatch a different combo".

Does not seem to be a way to un-select the egg and only select the potions for selling.

UID d5f4c795-cce2-4434-a1a5-8df9aa059408

[2013-10-27 11:17] paglias commented on #1543
@lefnire the achievement in now correctly awarded in habitrpg-shared https://github.com/HabitRPG/habitrpg-shared/commit/d7416117f9211d08bb42eafbffc296917d0c21a9 and a notification is shown https://github.com/HabitRPG/habitrpg/commit/a5af52a275c267b75381c2a3100210d76e4f311a, do we need to run a migration to award it to some people who may have not it?

[2013-10-27 11:20] paglias commented on #1543
also @lefnire the beast master achievement should be awarded on habitrpg-shared too I suppose, but where?because pets hatching is all client side angular....

[2013-10-27 11:22] paglias commented on #1651
Clicking on the egg doesn't have any effect? Also could you try refreshing the cache (f5 or ctrl+f5)

[2013-10-27 12:03] #1186 closed, assigned to nobody

[2013-10-27 12:17] paglias commented on #1586
It also happens on android phone, it seems, see HabitRPG/habitrpg-mobile#150

[2013-10-27 12:23] paglias commented on #1586
I tried with a facebook account and at least for me it worked

[2013-10-27 12:36] paglias commented on #1246
added in https://github.com/HabitRPG/habitrpg/commit/c9ff96af6cf086f49adf0f85ab311b2d9715e758

[2013-10-27 12:44] paglias commented on #1631
Fixed in https://github.com/HabitRPG/habitrpg/commit/cd97cc1e24b2351214e301bdae0822ec1f64c230

[2013-10-27 14:09] melarish commented on #1646
It worked today; maybe a temporary server issue :)

[2013-10-27 14:27] #1646 closed, assigned to nobody

[2013-10-27 14:57] philadams-zz commented on #1594
I was able to delete them via the web interface; I did not try to delete them via the API but have no reason to believe that wouldn't also work.

[2013-10-27 15:00] philadams-zz commented on #1603
Understood - thank you. This matches RESTful verbs; I just wasn't getting that the same action (e.g. POST :id/up) on different types of resources would do different things (mark as complete vs indicate 'up' as with a habit).

[2013-10-27 19:24] lefnire commented on #1651
Clicking the same egg unselects it. It's not obvious now though which egg
is selected, need to highlight selection somehow
On Oct 27, 2013 3:29 AM, "AverageJoey" notifications@github.com wrote:

[2013-10-27 20:29] paglias commented on #1628
Firefox on Ubuntu 13.10 seems ok...
![selezione_002](https://f.cloud.github.com/assets/589911/1416292/6977fb40-3f46-11e3-88dc-edd964c3e422.png)

Maybe the new halloween screen is working better

[2013-10-27 21:10] brightbold commented on #1628
On Firefox Mac she still looks the same, albeit pumpkinier.

[2013-10-28 07:43] aleczor opened #1652 ""Continue" after death does nothing"
My friend died and is stuck not able to do anything. The continue button does not work and he can't click anything. Username: Bazoomba

[2013-10-28 09:39] paulstaab commented on #1246
For me, if I just let firefox fill in the password, the POST request just contains my username. If I manually modify the password, e.g. add a character and delete it again, everything works fine.

[2013-10-28 14:32] paglias commented on #1652
You should ask your friend to check if there's any error in the javascript console: ctrl+shift+j on chrome, ctrl+shift+k on firefox and report here what he sees

[2013-10-28 15:00] paglias commented on #1643
Closing since pull request with migration has been sent, there's a comment in the api method for tags deletion about returning the whole user object because UI isn't updated otherwise, if someone will want to solve this

[2013-10-28 15:00] #1643 closed, assigned to paglias

[2013-10-28 16:16] #1639 closed, assigned to paglias

[2013-10-28 16:26] paglias opened #1655 "Revisit need to refresh after guild/party creation, invite acceptance..."

[2013-10-28 16:30] paglias opened #1656 "Port member avatar modal opening from members list"
https://github.com/HabitRPG/habitrpg/blob/develop/views/options/groups/group.jade#L69

@lefnire this should be possible only for parties or also for guilds?

[2013-10-28 16:37] lefnire commented on #1656
Whichever's easier, I imagine the easiest will be _all_ groups. If that's harder, we can exclude from parties since they're accessible via the header

[2013-10-28 16:45] paglias commented on #1656
Ok, it was a matter of it being a feature for all groups or only for parties... but since it's also avalaible in the tavern it's obviously for all groups :)

[2013-10-28 17:27] #1656 closed, assigned to paglias

[2013-10-28 18:25] octern commented on #1644
In addition to slow load times, I get a pause of ~10 seconds when I click my avatar in order to move between the main screen and the options screen. My entire browser is locked up during this time.

[2013-10-28 18:34] octern opened #1657 ""undefined" GP message"
It was after my daily rollover time, but the rollover hadn't happened (it was still showing dailies in the state they were for the previous day). I clicked on a daily that I hadn't completed the previous day. It seems to have handled all the logic correctly:
- I got the XP and gold for the daily, including no streak bonus
- Right after that the rollover triggered and I lost HP for my uncompleted d

[2013-10-28 18:58] lefnire commented on #1644
I'm working on a fix to many of these performance issues right now. It will come when the Challenges feature is merged into master

[2013-10-28 19:03] kitsully commented on #1644
No pressure because habit is working great for me besides this and I may have just missed it on your blog or something. But, do you have an ETA on when this branch will be merged. 

—
Sent from Mailbox for iPad

On Mon, Oct 28, 2013 at 2:58 PM, Tyler Renelle notifications@github.com
wrote:

[2013-10-28 19:05] lefnire commented on #1644
I'm hoping to have testers hitting it wednesday/thurs, and hope to be merged by Sunday

[2013-10-28 19:16] #1580 closed, assigned to paglias

[2013-10-28 20:11] aleczor commented on #1652
Update: switching from chrome to firefox solved the problem.

[2013-10-28 20:12] wc8 commented on #1259
this just came up again in tavern:

[2013-10-28 20:22] paglias commented on #1652
@aleczor he could try deleting localstorage on chrome and log in again, it should work too.

Here there are the steps to delete localstorage on chrome:

https://www.evernote.com/shard/s17/sh/eec8d98a-f9f0-4e83-920e-f5eb83d70384/f0be7cb3671608e7978e3f6a5f21e417

[2013-10-28 21:21] #1617 closed, assigned to paglias

[2013-10-28 21:25] paglias commented on #1489
Group leader and websites are implemented, I've left the "leader avatar saying leaderMessage" thing

[2013-10-29 00:02] veeeeeee commented on #1578
Having a similar issue but with a To Do, not a Daily. Let me know if I should start a new ticket instead.
![duped and stuck to do](https://f.cloud.github.com/assets/5608909/1425092/53e1c346-402d-11e3-94c3-3e1830618dae.png)

[2013-10-29 01:03] atariisoda commented on #1638
I think it was the case I changed it to the original setting and it works now...although when I had it set at 24 it worked for a bit as well..hmm well I will keep it at the original setting then :)

[2013-10-29 06:01] peppervl opened #1658 "21 Day Streak Achievements"
The 21 day streak achievement seems to be broken for me. I have three tasks that I have 59 day streaks showing in the task box as well as several in the 30s and 40s. I honestly thought I had to go 21 straight days on ALL my dailies to unlock the 21 day achievement. However, today, it gave me the 21 day streak achievement on a task that had a 38 day streak. It reset 3 of these dailies back to 1, bu

[2013-10-29 06:24] Shaners commented on #1658
The 21 day streak achievements weren't ported over since the rewrite until just recently. Unfortunately they won't be able to be retrofitted and you will only get one on the 21st streak or multiples of 21. For example if you have a 20 day streak today you should get a 21 day streak tomorrow (if you complete the daily) or if you have a 25 day streak you won't get another until streak 42.

But! What

[2013-10-29 07:42] peppervl commented on #1658
Thank you! I was able to fix everything.

[2013-10-29 07:42] #1658 closed, assigned to nobody

[2013-10-29 14:32] kriscrat commented on #1616
I am having similar issues, but I'm noticing it to my To Dos.  I can reorder them while I have one tag open, but when I go back to the website later to check something off they are back in their old order again.

[2013-10-29 15:30] paglias commented on #1616
@kriscrat no it's ok here it's the same problems for todos/dailies/habits... I hope to have it fixed for next week

[2013-10-29 15:35] paglias opened #1659 "When to use removeSelf"
@lefnire when getting a party members removeSelf is used to remove the current user from the results so that you don't have yourself in the header bar.

But this way you also don't get yourself listed among party members which is a different behavior than what is happening for guilds...

Would be ok to move removeSelf to the client side and only when displaying avatars in the header bar?

[2013-10-29 15:42] bobbyroberts99 opened #1660 "Hatching instructions on inventory seem like they need updating"
Seems like the easiest way to hatch an egg now is to click on the potion you want to use which will then green-highlight all eggs that can be hatched with that potion. I figured this out by playing around, but it would be nice to have it spelled out.

I'll update the wiki instructions http://habitrpg.wikia.com/wiki/Pets#How_to_Hatch_a_Pet if my understanding of the new process is correct.

This se

[2013-10-29 17:01] #1523 closed, assigned to paglias

[2013-10-29 19:41] therufs opened #1661 "New pet doesn't appear in stable"
I hatched a new pet but it didn't appear in my stable until I refreshed.  (I'm assuming it's supposed to show up immediately because the pop-up text says something about visiting the stable to equip your new pet.)

[2013-10-29 19:59] lefnire opened #1662 "merge challenges > develop"
Ok, @paglias so I merged challenges to develop. Many things are broken, and I haven't fully architected the ui-router setup for groups, so groups.js is going to be in major flux right now, but I want to make sure we're not getting too far out of sync.

Some things:
- If you could, merge https://github.com/HabitRPG/habitrpg/commit/9eecb977ea0ab1a4c97e6cbac3c7da67b30027b9 into [20131028_task_subdocs

[2013-10-29 20:00] lefnire commented on #1661
this will be fixed when challenges goes live, since we're using angular-ui-router which will re-display user inventory on tab access

[2013-10-29 20:00] #1661 closed, assigned to nobody

[2013-10-29 20:02] lefnire commented on #1662
Also, let me know what you think of this whole groups architecture. I'm still not sure if I'm doing it right, but trying to come up with a good nested resources setup for ui-router

[2013-10-29 21:50] lemoness commented on #1631
Got this yesterday :(

[2013-10-29 22:02] lemoness commented on #1631
...and again just now! Not for eggs, just for potions.

[2013-10-29 22:48] lefnire commented on #1662
Ok, the backend is more stable now, and I've fully merged https://github.com/HabitRPG/habitrpg/commit/77fee06fdb2da8983a9ee849b406c078b06a51b5 , including your `invites` code. Double check to make sure everything is OK, but I'm more confident in this merge and I think we can carry forward pushing up new commits. I'm going to combine your migrations into a single migration, then i'll close this tic

[2013-10-30 01:43] lefnire commented on #1616
ok, I have (mutually-exclusive) 3 hunches:
1. subdocs will solve the issue, as @paglias mentioned. We'll be releasing ~Sunday, and let's hope for the best. The guess here was that the old schema stored `user.tasks` as an object, and `user[type+'Ids']` separately for sort-order
2. `User.save()` isn't being called after sorting. So `splice` orders the user's tasks for that browsing session, and on t

[2013-10-30 05:11] Shaners commented on #1634
Here's a little excel doc to calculate things:
https://www.dropbox.com/s/v0lyxvz9givpsul/HAB-CalcDiscount.xlsx
(edit blue cells)

[2013-10-30 06:50] nextmike opened #1663 "Hatching not working"
Combined two different pairs and received the confirmation to visit the stable to see my new animal.  However, no new animals were there for either combination.  Zombie tiger and shade dragon.  Potions were still removed from my inventory however.

[2013-10-30 13:52] paglias commented on #1663
Have you tried refreshing the page?

[2013-10-30 14:47] paglias commented on #1662
Everything is ok! Exception made for angular-route not being installed by bower, it's still needed also with angular-ui-router or we can simply remove it from the module definition in public/js/app.js. It's the reason why the server you set up show a bank page.

About this changes specifically:
- challenges are broken but I think it's normal and also there are a few things not really self-explanat

[2013-10-30 14:56] paglias commented on #1662
also stable & inventory are missing

[2013-10-30 15:09] paglias commented on #1616
@lefnire I got this for dailies too.

I don't think switching to subdocs will solve the issue.

I was thinking about a "position" field under task schema, it would work also with todos (completed & not) and also when filtering tasks using a tag: when sorting end we should have the old position (absolute not relative to what is shown actually) of the task and the old position of the task "replaced"

[2013-10-30 16:20] marphod opened #1664 "Hatched 2 eggs/potions at once; got the right potion type, but wrong animal type."
I hatched (in order) a Skeleton Panda Cub and Zombie Tiger Cub.  When I went to my inventory, I instead had both as new Tiger Cubs (one Skeleton, one Zombie).

[2013-10-30 17:03] nextmike commented on #1663
I did but all good as of this morning, thanks.

[2013-10-30 17:03] #1663 closed, assigned to nobody

[2013-10-30 19:04] lefnire opened #1665 "make groups/:gid/chat a nested ngResource"
so that we can post & fetch chat independently of the whole group. Right now posting/fetching chat is part of the full Group ngResource, so if we only returned `group.chat` it will remove the members & info from the UI on `.success()` - but not removing it is extremely inefficient (groups are pretty large in data). I need see if there's some nested ngResource we could use, or maybe even just do $h

[2013-10-30 20:09] CosmicPariah commented on #1644
It's been unusably slow for me for maybe a week and a half. I have 40+ dailies and 40+ to-dos but it worked okay before. Thanks for looking into this!

[2013-10-30 20:16] wc8 opened #1666 "Logging In Death."
It looks like habitrpg decided a new day dawned when I logged in on challenges/habitrpg, so I took a hit for every incomplete task… which killed me.

I will have to see if it is only the first login or just logging in at all.

[2013-10-30 20:23] wc8 commented on #1631
restore also gives me a streak on both the old and new site. On the new site, I also randomly got it for joining a challenge (unless that was just Tyler’s idea of a joke, rewarding me for joining the wc8-should-really-join-this-challenge).

[2013-10-30 20:28] paglias commented on #1666
I think challenges.HabitRPG.com has an old version of the database
Il 30/ott/2013 21:16 "wc8" notifications@github.com ha scritto:

[2013-10-30 20:50] lefnire commented on #1666
yep, it's an old snap (yesterday morn)

[2013-10-30 20:50] #1666 closed, assigned to nobody

[2013-10-30 20:59] wc8 opened #1667 "challenge tag shows no items"
the two challenges I’ve joined have added tasks to my list but no tasks are shown when I click the challenge tag.

[2013-10-30 21:51] lemoness commented on #1666
That explains why I died too! My first-ever time ;p

[2013-10-30 21:53] lemoness opened #1668 "Challenges - extra empty checkboxes"
When I go to the challenges page, under groups it lists "Purple Party" and "HabitRPG" but in between those two are some empty checkboxes with no text attached.

[2013-10-30 21:56] bobbyroberts99 opened #1669 "Challenges not filtering by Groups/Membership"
Not sure if this is live yet, but clicking box doesn't select box or filter by that selection.

![name004](https://f.cloud.github.com/assets/4084120/1441594/0eb771da-41ae-11e3-90a5-f598348c8a9e.jpg)

[2013-10-30 21:57] lemoness opened #1670 "have to refresh to see new challenge"
I inputted the data for a sample challenge, then tried to create it, and got an error message saying "please select group". However, I am now unable to click any of the check boxes.

I navigated away and back, but I still can't click any of the boxes. The participation buttons work fine, though

[2013-10-30 22:00] lemoness opened #1671 "Challenges - Unclear which challenge is mine"
I just joined a preexisting challenge. When I did so, it took me a while to realize that MY challenge tracker was the top bar. There should be my username or something, like with the others, or it should be highlighted - SOMETHING to make it obvious which one is yours! The fact that there is an empty challenges bar at the top makes it extra confusing. Maybe have the create-a-challenge separate fro

[2013-10-30 22:05] lemoness opened #1672 "Challenges - Checking off To-Do unchecks Daily"
Joined the festivities challenge. Clicked off the Daily. Then tried to click off my first To-Do... but instead of eliminating the To-Do, it unchecked the Daily!!! Then when I tried to check off the second To-Do, it REchecked my Daily. Again, the To-Do was unaffected.

Clicking "buy reward" did nothing. No indication of gold dropping or anything. And I do have enough gold to buy it; I raised the nu

[2013-10-30 22:06] lemoness opened #1673 "Challenges appear in tags but are empty"
My Challenges appear in my tag list, but when I click on them, they are empty.

[2013-10-30 22:08] lemoness commented on #1669
Agreed. Clicking "participating" or "not participating" doesn't at all affect the list I see.

[2013-10-30 22:08] lemoness commented on #1668
And now that I see other people's screenshots, it looks like it's supposed to have entries for my groups! None of my groups showed up.

[2013-10-30 22:15] lefnire commented on #1668
pushing fix https://github.com/HabitRPG/habitrpg/commit/d2c50dc02fb76987b5ae9d62a7867d400d7e135f , live in 5

[2013-10-30 22:15] #1668 closed, assigned to nobody

[2013-10-30 22:16] lefnire commented on #1669
shoot, it does for me. ok, diagnosing

[2013-10-30 22:18] lefnire commented on #1670
how about now?

[2013-10-30 22:18] lefnire commented on #1673
confirmed

[2013-10-30 22:18] wc8 commented on #1667
#1673

[2013-10-30 22:18] #1667 closed, assigned to nobody

[2013-10-30 22:32] wc8 opened #1674 "Daily added after I joined challenge does not show up in my list."
Rather than a fix, I suggest this could be a feature: add a option to “update” your list to reflect the new challenge/changes.

That way, if the author decides to change the game midstream, you at least have some notice/control before your task list is changed.
![missing task](https://f.cloud.github.com/assets/3326182/1441897/2ccc0c30-41b3-11e3-94e3-8c8b0dc57bbd.png)

[2013-10-30 22:35] wc8 commented on #1484
This came up in tavern (again?).

[2013-10-30 22:35] bobbyroberts99 commented on #1669
It works for me now too. On a related note, the drop down list of groups to assign to a new challenge wasn't populated the first time I tried to create a challenge using Chrome. It works now though on both Safari and Chrome (Mac 10.8.5).

![name005](https://f.cloud.github.com/assets/4084120/1441916/835c2fe4-41b3-11e3-9055-00d6f9691e08.jpg)

![name006](https://f.cloud.github.com/assets/4084120/1441

[2013-10-30 22:40] lefnire commented on #1669
OK, this may have been fixed in https://github.com/HabitRPG/habitrpg/commit/d2c50dc02fb76987b5ae9d62a7867d400d7e135f then. Re-open if we experience either of those issues again

[2013-10-30 22:55] bobbyroberts99 opened #1675 "Challenges not showing up in Party"
I have a party with two members (one is a fake for testing). Each member created a challenge.

First problem:
The challenge shows in each originators challenge section but not in the other player's.

![name009](https://f.cloud.github.com/assets/4084120/1442050/d39ee684-41b5-11e3-9cb5-ff64e7282e0e.jpg)

![name008](https://f.cloud.github.com/assets/4084120/1442052/da862778-41b5-11e3-8ad3-e1d412d555c

[2013-10-30 22:57] lefnire commented on #1675
This is some fantastic testing & data, thanks @bobbyroberts99! Confirmed, will hit soon

[2013-10-30 23:14] bobbyroberts99 commented on #1675
Glad to be able to help. Love what you're doing. It's a very helpful tool for me and fun too.

[2013-10-30 23:23] lefnire commented on #1675
love your wikia work btw :) haven't forgotten, just hope to kill off drupal more by migrating most bits (sans wiki) to habitrpg.com, then we can make the official wikia leap

[2013-10-30 23:27] bobbyroberts99 commented on #1675
thanks, that's nice to hear. I'll keep pluggin away. I like the idea of integrating as much as possible to habitrpg.com.

[2013-10-30 23:46] SabreCat opened #1676 "Participant count never increases"
Despite me participating in them, the Participants number on the challenges list shows 0:

![screenclip](https://f.cloud.github.com/assets/4501321/1442399/7f80b390-41bd-11e3-8e7a-5c9429d29857.png)

[2013-10-30 23:48] SabreCat opened #1677 "All challenge links are broken for party challenge I created"
Created a challenge for my test user party. Was able to join it with the originating user, but it says all the links are broken (note red-background bullhorn icons):

![screenclip](https://f.cloud.github.com/assets/4501321/1442408/c4976eba-41bd-11e3-8331-4d0a00e3951d.png)

[2013-10-30 23:49] SabreCat commented on #1677
Users:
24593eff-c4cc-43e3-950b-51f291a3468b (created challenge)
ca9f9f7f-8eb8-4b24-9579-a64cd4f83e05 (other party member, hasn't been able to sign up due to #1675 )

[2013-10-30 23:49] wc8 commented on #1672
I wonder if it’s because I deleted the test daily—and it didn’t delete. I was trying to see if I could get the daily to show up on my list. #1674

[2013-10-30 23:53] lefnire commented on #1672
If in doubt, it's a challenges bug. Challenges overhauled a _crap ton_ of backend & database code - it was almost as heavy as the Angular migration! It's stuff that we've been hurting for for a long time, so it needed to happen - but challenges was the first feature to _require_ these changes; other features were able to workaround them.

So this sounds like a legit bug, I'll dive in deep. But yea

[2013-10-30 23:55] SabreCat opened #1678 "Can tag challenges in normal tasks, other challenges"
Started creating a fresh challenge, and noticed that the other challenges I'm participating in were available as tags in the task editor:

![screenclip](https://f.cloud.github.com/assets/4501321/1442443/7913db80-41be-11e3-9183-d0dca44c2533.png)

Seeing this, I've realized I can tag my ordinary private user tasks with the challenges I'm in. Moreover, my own tasks report that they used to be part of

[2013-10-30 23:58] SabreCat opened #1679 "Error when deleting a task from an in-progress challenge"
While building a challenge, if you try to delete a task, this JavaScript error is logged when you click the trashcan:
##

[18:56:53.714] "Error: [$rootScope:inprog] $apply already in progress
http://errors.angularjs.org/1.2.0-rc.2/$rootScope/inprog?p0=%24apply
minErr/<@http://challenges.habitrpg.com/bower_components/angular/angular.js:78
beginPhase@http://challenges.habitrpg.com/bower_components/a

[2013-10-31 00:02] SabreCat opened #1680 "Tavern broken on Challenges server"
Not sure if this was intentionally not implemented yet in the Challenges branch, but I can't post to the Tavern with my test user on challenges.habit. This Javascript error occurs:
##

[19:01:18.408] "Error: group is undefined
$scope.postChat@http://challenges.habitrpg.com/js/controllers/groupsCtrl.js:91
_functionCall/<@http://challenges.habitrpg.com/bower_components/angular/angular.js:8564
ngEven

[2013-10-31 00:07] SabreCat commented on #1678
Poking around further, the challenge-tags appear to act just like normal tags. They don't actually add tasks to other challenges you don't own (which would be hilarious, but no).

Should challenge-generated tasks be available in the list like any other tag? I feel like there are interesting use-cases there, but overall it's just going to confuse people.

[2013-10-31 00:09] SabreCat commented on #1677
Can't seem to reproduce the issue, though. Second party Challenge I created didn't behave this way.

As further detail, my connection to my party member seemed to be disrupted along the way: their avatar went empty-headed and their name vanished from the party member list (though the UID was still there). Sync didn't seem to fix it, but logout/back in did. Haven't seen it since.

[2013-10-31 00:13] SabreCat commented on #1679
Oh... you CAN delete it. But only if you hit "Cancel" on the popup! xD

[2013-10-31 00:24] wc8 commented on #1680
I was able to post earlier, can’t now. Also, Tavern no longer appears as an option in Challenges and I am asked (forced) to choose a group when creating a new challenge.

[2013-10-31 00:25] SabreCat commented on #1678
Ah: maybe you can't actually click these to effect when editing Challenge tasks. They throw an error:

##

[19:24:58.935] "Error: ensureSafeObject(...) is undefined
_objectIndex/<.assign@http://challenges.habitrpg.com/bower_components/angular/angular.js:8541
@http://challenges.habitrpg.com/bower_components/angular/angular.js:14474
checkboxInputType/</<@http://challenges.habitrpg.com/bower_componen

[2013-10-31 00:27] SabreCat commented on #1680
Haha, you could challenge the Tavern before? That's awesome.

[2013-10-31 00:28] SabreCat opened #1681 "Can't include a description when initially creating Challenge"
When you edit an existing Challenge, you have a "Description" field you can fill out. This field does not appear when you first create the challenge, and probably should!

[2013-10-31 00:33] SabreCat opened #1682 "Clicking second challenge title should open second challenge, not just close first challenge"
While browsing the list of available challenges, you can click the title of one to unfold it, seeing its tasks, users, and statistics. However, the only way to close it back up is to go somewhere else in the interface and come back, or unfold another challenge. It would be intuitive to have a second click squash the challenge back down to list form.

[2013-10-31 00:38] SabreCat opened #1683 "Challenge edit buttons briefly appear on challenge I don't own"
If I expand a challenge available to me in the list, the Save/Delete/Cancel options appear while it's loading:

![screenclip](https://f.cloud.github.com/assets/4501321/1442671/6652223a-41c4-11e3-9cb8-0ed06814e6bf.png)

It's actually possible to mash the Delete button while it's visible, and get the prompt to confirm deletion. If you try to go through with it, you might get an alert-style error "40

[2013-10-31 00:42] SabreCat opened #1684 "Challenge tasks of other users appears intercative"
## EDITED: Challenge tasks of other users appears as interactive

If you're looking at a challenge with some users' stats on display, the checkboxes and whatnot act as if they're interactive for you (the little checkmark appears on mouseover of a Daily, for instance). Following through produces this JS error:
##

[19:40:45.272] "Error: user.stats is undefined
[5]</</obj.score@http://challenges.hab

[2013-10-31 00:48] SabreCat opened #1685 "Challenge participation changes colors, adds progress graph to challenge preview"
Created a party Challenge, and hit all its tasks with the user that created the challenge (24593eff-c4cc-43e3-950b-51f291a3468b). Now when I look at the challenge in the main list, those tasks are green, and show progress bars. The progress bars can be clicked, producing this mess (note that I clicked the Todo, and this is where the graph appeared):

![screenclip](https://f.cloud.github.com/assets

[2013-10-31 00:54] SabreCat opened #1686 "Statistics shouldn't always load when browsing a challenge"
Given the large amount of page real estate each user's Statistics takes up, and the possibility that popular public Challenges could conceivably feature hundreds or thousands of users participating, showing everyone's stats to a user just popping open a Challenge to see its tasks seems like a bad idea. Here are some possibilities for improvement:
- Collapse the statistics behind a link. User must

[2013-10-31 01:03] SabreCat commented on #1685
Related to #1671: it exacerbates the lack of clarity on what that top area is all about.

[2013-10-31 01:06] SabreCat opened #1687 "Logout throws deprecation warnings"
When you log out from Habit, several warnings are logged to the JavaScript console:

[20:04:08.135] Use of getPreventDefault() is deprecated.  Use defaultPrevented instead. @ https://beta.habitrpg.com/static-15a86453.js:2
[20:04:10.540] Use of attributes' specified attribute is deprecated. It always returns true. @ https://apis.google.com/js/plusone.js:27
[20:04:11.330] "Given URL is not allowed b

[2013-10-31 01:09] lemoness commented on #1670
It worked!! Had to refresh to see it in the list, though.

On Wed, Oct 30, 2013 at 3:18 PM, Tyler Renelle notifications@github.comwrote:

[2013-10-31 01:12] lemoness commented on #1672
Just tried it again in the new Challenge I just made... sure enough, same
problem!!! Also, clicking the Daily plus/minus for my Challenge did nothing.

On Wed, Oct 30, 2013 at 4:54 PM, Tyler Renelle notifications@github.comwrote:

[2013-10-31 01:32] lemoness commented on #1674
Ditto with problem - also not showing up on Habits or To-Dos, although for me the missing tasks are just from the challenge I created. The ones that others created work just fine!!

[2013-10-31 03:37] lefnire commented on #1687
ah, those are sourcemaps that come with our bower components. benign, and naught that we can do save forking the bower projects. maybe there are different bower repos we can use that have these issues fixed

[2013-10-31 03:47] lefnire commented on #1671
not quite following this one. Your'e talking about an indicator for challenges that you've created? Or challenges that you've joined (which should be given away by the Leave button). Should I create a filter bottom-left for "challenges I've created"?

[2013-10-31 04:07] lefnire commented on #1662
stable & inventory both under the [inventory tab](http://gyazo.com/60f6c3e2b4e28c37e8434bc252f41de8). the white screen / includes / grunt file issues fixed. I still need to do a bit of optimization on the tasks page (i think we're storing too much about members in MemberServices.populate() that we can cut back on). I also want to try some better `ng-if` on task edit panes & completed/remaining tab

[2013-10-31 04:07] #1662 closed, assigned to paglias

[2013-10-31 04:35] lefnire commented on #1660
sure! Shoot me a PR, or if you prefer (for simplicity) just hit me with the text to replace [these sections](https://www.evernote.com/shard/s17/sh/54d15213-7820-49c7-a705-dffc1e374ac4/ed1003adf675b331abd407d479519934). I mean, there's instructions there - but if it's still not obvious, then updating time

[2013-10-31 04:39] lefnire commented on #1659
Yeah, that's a good point... maybe it would be best handled client-side. Play around with it if you get the chance & see what you think

[2013-10-31 06:23] lemoness commented on #1671
Sorry, I was in a rush - I meant that when I am looking at all of the
"progress reports" of users in a specific Challenge, I wasn't sure at first
which one was mine, especially because the "create a challenge" bar stayed
on top. It was visually confusing. Just having your name labeled would be
nice so that you can tell which of the thousand "Dailies" bars is the one
that applies to you.

Of course

[2013-10-31 06:47] lefnire commented on #1671
Ah, got it. Yeah, definitely not obvious - will see what I can do. This will probably look better once we get @SabreCat's collapsible-participants suggestion in

[2013-10-31 08:26] lefnire commented on #1679
cancel / confirm fixed, can't replicate the $apply bug. Will try again soon

[2013-10-31 13:48] paglias opened #1688 "[challenges] flashing content"
When you open a challenge there's a moment until the challenge has been loaded when you see "save", "delete"... buttons.

[2013-10-31 13:49] paglias opened #1689 "[challenges] guild reloaded every time?"
When you open a guild, then open another tab and come back to the guild it is completely reloaded every time

[2013-10-31 13:51] paglias opened #1690 "[challenges] participants number not shown until challenge is joined"

[2013-10-31 13:54] paglias commented on #1688
dup of #1683

[2013-10-31 13:54] #1688 closed, assigned to nobody

[2013-10-31 13:55] paglias commented on #1683
It may get deleted but only until you refresh I think since it's showing a 401, non authorized, error.

@lefnire ng-cloak may work here?

[2013-10-31 13:55] paglias commented on #1680
@wc8 I can challenge HabitRPG which I think it's the new tavern name

[2013-10-31 13:56] paglias commented on #1690
discuss in #1676

[2013-10-31 13:56] #1690 closed, assigned to nobody

[2013-10-31 13:57] paglias commented on #1676
I get the count for a single challenge when I Join it...

[2013-10-31 14:03] paglias commented on #1689
Also while loading the guild the browser freeze, memory usage go up by about 200mb every time (and it's not cleared) and cpu to 100%. I tried with a public guild "The scholars" with around 1300 users.
![selezione_003](https://f.cloud.github.com/assets/589911/1446300/3ea3d5dc-4235-11e3-895b-eefa9fa96074.png)

[2013-10-31 14:04] paglias commented on #1686
1 could still be a problem with public challenges that may have thousands of users.

I would go for 2+3

[2013-10-31 14:05] paglias commented on #1669
I still have one blank checkbox

[2013-10-31 14:42] paglias commented on #1659
Done in https://github.com/HabitRPG/habitrpg/commit/fc10e9d6e6869f6f1d0553d4f9537f37cdc23c61

[2013-10-31 14:42] #1659 closed, assigned to paglias

[2013-10-31 15:28] paglias opened #1691 "angular 1.2.0 rc3 breaks our ngresource"
Just to let @lefnire know that angular 1.2.0-rc3 breaks habitrpg's ngresource http://docs.angularjs.org/error/$resource:badcfg?p0=object&p1=array

[2013-10-31 15:59] Shaners commented on #1676
Yea mine seemed to show 0 until I joined one.

[2013-10-31 16:01] bobbyroberts99 opened #1692 "Challenges: Overall reward stats are garbled"
I bought the reward for "2nd Challenge for Test party (created by Nattyaware1)" twice and when I look at the stats it came back with illegible text.

![name004_1](https://f.cloud.github.com/assets/4084120/1447344/aa00f6e2-4245-11e3-8aec-ef6e42393950.jpg)

[2013-10-31 16:22] wc8 opened #1693 "Death Modal won’t close."
I cannot revive my character. I left most of the tasks unchecked on the challenges site. This morning, clicking the “Continue” button does nothing. Refreshing the page does nothing.

[2013-10-31 16:24] wc8 commented on #1678
I agree. Some part of me wants to explore the interesting use cases anyway, but, alas probably would generate too much confusion to be worth it.

[2013-10-31 16:25] lefnire commented on #1676
fixed in ^ commit. Here's some brainstorming @paglias (nothing to worry about, just something for the mind-grapes). I added a `memberCount` attr to ChallengeSchema & GroupSchema a while back, to avoid having to calculate count every time on load for performance reasons, and I added a `pre('save')` Mongoose hook to update the count. Well it wasn't getting updated all the time. I realized it was [be

[2013-10-31 16:26] paglias commented on #1693
Try clearing localstorage or heading to challenges.habitrpg.com/logout

[2013-10-31 16:26] #1676 closed, assigned to nobody

[2013-10-31 16:26] wc8 commented on #1693
Update: the path I was refreshing was …/options/groups/tavern
When I changed to …/tasks I was able to revive character.

[2013-10-31 16:28] paglias commented on #1693
mmm.. Interesting, there were no errors? This happened also on the non-challenge site for someone maybe it's the same reason of you

[2013-10-31 16:31] lefnire commented on #1693
ah, revive is part of TasksCtrl - not globally accessible. I'm fixing now

[2013-10-31 16:34] lefnire commented on #1693
fixed

[2013-10-31 16:34] #1693 closed, assigned to nobody

[2013-10-31 16:37] lefnire commented on #1680
Actually, HabitRPG was the old name and I was manually setting it to "Tavern" before sending down. I'm updating this in the upcoming migration to rename it officially to Tavern. What are thoughts and what the name should be? I'm thinking Public, Tavern, or HabitRPG. Leaning towards Tavern

[2013-10-31 16:38] paglias commented on #1652
same as #1693 probably which is now fixed and will arrive in a few days

[2013-10-31 16:38] #1652 closed, assigned to nobody

[2013-10-31 16:45] lefnire commented on #1680
fixed

[2013-10-31 16:45] #1680 closed, assigned to lefnire

[2013-10-31 17:03] wc8 commented on #1686
I agree, 2&3 seem good.

[2013-10-31 17:15] lefnire commented on #1683
it was a `resolve` issue (see fix ^). I'm going to revisit if we upgrade ui-router to #master, because I think they're $state.resolve doesn't work with ngResource

[2013-10-31 17:15] #1683 closed, assigned to lefnire

[2013-10-31 17:16] lefnire opened #1695 "access control on challenges"
add server handling of 401, non authorized, errors

[2013-10-31 17:19] #1660 closed, assigned to nobody

[2013-10-31 17:23] lefnire commented on #1692
fixed

[2013-10-31 17:23] #1692 closed, assigned to nobody

[2013-10-31 17:34] lefnire commented on #1686
we'll want to then color-code user names by their aggregate score so challenge leaders can still get that high-level "who needs help" view. Yeah, I agree with this ticket

[2013-10-31 17:36] lefnire commented on #1691
I'll check into this, but I think it has to do with how we're now handling GET /groups. See comments on https://github.com/HabitRPG/habitrpg/commit/d2c50dc02fb76987b5ae9d62a7867d400d7e135f#diff-de5eb65c876ca1dbc6698250c15529c4R91

[2013-10-31 17:46] lefnire commented on #1681
fixed

[2013-10-31 17:46] #1681 closed, assigned to nobody

[2013-10-31 17:55] lefnire commented on #1689
the reason I think it's taking so much memory is that we're unnecessarily using `Members.populate(group)` after each group is loaded, which _then_ loads members into memory so their avatars can be clicked. I think we should remove _all_ the Member-caching code. It's pretty rare people click one avatar twice, IMO we should instead load members every time they're clicked (maybe even with [ui-router

[2013-10-31 17:58] paglias commented on #1691
Mah, I'm getting this also on rc2 when I leave a guild, two request are made, one for leaving whihc returns an empty response and one to /groups which returns an array (why it is made?)

[2013-10-31 18:27] clmmerrill opened #1696 "Daily Progress bar opens Habit's progress window. Closes it too."
Found in Chrome browser and got same results when I used Rockmelt browser. Clicked on Dailies progress bar and the habits progress window opens. Clicking second time closes the habits progress window.

![progess in challenge habit](https://f.cloud.github.com/assets/5649804/1448615/8bc9fdcc-4259-11e3-8f2e-365703bb9206.png)

[2013-10-31 20:18] Nostos opened #1697 "21-day streak achievements."
Hello,

HabitRPG doesn't seem to recognize my 21-day streak achievements properly...
The streak counters show up correctly beside each Daily (some of them are around 35 as of now), but the Achievements section doesn't mention any of them: "Has performed 0 21-day streaks on Dailies".

I read a few posts regarding this problem, but most of them have already been corrected & closed (as far as I could

[2013-10-31 20:30] Shaners commented on #1697
Check out my response here: #1658

[2013-10-31 21:08] bre333 commented on #1057
I continue to have issues with this. Logging in and out doesn't change anything. This is so frustrating, and happens to me very regularly. Why can't we just have a button that forces a new day to start?
my userid is 7e75ed15-7682-4d7f-8e23-8535d5c3327b

[2013-10-31 21:24] Shaners commented on #942
![tiger-hatching-animation](https://f.cloud.github.com/assets/2374703/1450003/aeb37322-4272-11e3-85f1-ad3cafd79275.gif)

[2013-10-31 21:24] Pandoro commented on #942
awesome!

On Thu, Oct 31, 2013 at 10:24 PM, Shane Lister notifications@github.comwrote:

[2013-10-31 21:25] bobbyroberts99 commented on #1677
I had the same problem yesterday, but today when I created another party challenge, the links haven't broken yet.

[2013-10-31 21:29] bobbyroberts99 commented on #1697
Here's some more help on the wiki (shameless plug): http://habitrpg.wikia.com/wiki/Streaks

[2013-10-31 21:29] Nostos commented on #1697
Ok, sorry, I restored the streak counter by hand...Thanks for your reply.

[2013-10-31 21:29] #1697 closed, assigned to nobody

[2013-10-31 21:45] lefnire commented on #1674
fixed in bbb4a91 . Adding "confirm adding new task" as a v2 trello checklist item

[2013-10-31 21:45] #1674 closed, assigned to nobody

[2013-10-31 21:52] lefnire commented on #1677
fixed

[2013-10-31 21:52] #1677 closed, assigned to nobody

[2013-10-31 22:25] SabreCat commented on #1680
My vote is for Public, second choice HabitRPG. Tavern is cute but unclear.

[2013-10-31 22:33] #1695 closed, assigned to nobody

[2013-10-31 22:40] lemoness commented on #942
Fantastic!!! Can't wait for all of them!

On Thursday, October 31, 2013, Pandoro wrote:

[2013-10-31 23:30] lefnire opened #1698 "see about removing groups.challenges & user.challenges"
I've been doing two-way subdocs throughout challenges:
- User.challenges: [{ref}]
- Groups.challenges: [{ref}]
- Challenges.group{ref}, Challenges.members[{ref}], Challenges.leader{ref}

So Challenges reference groups/users, and they reference right back. Turns out we mostly use `Challenge.find({members:{$in:...}})` or `Challenge.find({group:...})` instead, and rarely reference the other way. In f

[2013-10-31 23:39] lefnire commented on #1670
fixed

[2013-10-31 23:39] #1670 closed, assigned to nobody

[2013-10-31 23:42] lefnire commented on #1671
Ok, i added a collapsible on "how's everyone doing?" for now. The better solution will be v2's re-skinning the UI to look like @wc8's comps at https://trello.com/c/k0kSlT0Q/58-challenges-individual-party-guild-public , will cross that bridge when we get there

[2013-10-31 23:42] #1671 closed, assigned to nobody

[2013-11-01 00:33] lefnire commented on #1662
btw @paglias [this is the card](https://trello.com/c/YKXmHNjY/306-customization-redo) with the upcoming customizations that will populate those white spaces

[2013-11-01 00:50] lefnire commented on #1673
fixed

[2013-11-01 00:50] #1673 closed, assigned to nobody

[2013-11-01 01:16] bobbyroberts99 commented on #1675
This seems to be fixed now. All expected challenges are showing up in both member's accounts for my test party.

Any way to collapse the space in How's everyone doing? Lots of white space. Seems like if we tighten we could avoid users having to scroll.

If I can get my local copy working, I'll give it a try (seems like I'm almost there).

[2013-11-01 01:18] bobbyroberts99 commented on #1669
This looks good on my end.

[2013-11-01 01:24] lefnire commented on #1675
v2 roll out (after we're live) will be some variation of @wc8's [comps here](https://trello.com/c/k0kSlT0Q/58-challenges-individual-party-guild-public), which will look much nicer

[2013-11-01 01:29] lefnire opened #1699 "Challenges 2nd testing pass"
My lovely testers @bobbyroberts99 @SabreCat @paglias @lemoness and anyone else: I'm about to wipe challenges.habit and do a second migration with new fixes. Hit me if you don't want me to do it yet (for whatever reason).

This new push has Gem Prizes, new layout (social > challenges), bull-horn tags, challenge short-codes, and a whole bunch of bug fixes. Also, since you'll be dealing with Prizes I

[2013-11-01 01:35] lefnire commented on #1675
this one is fixed, but only for new challenges. test again on v2 comin' up, and re-open if still an issue

[2013-11-01 01:35] #1675 closed, assigned to nobody

[2013-11-01 02:58] lefnire commented on #1699
feeling pretty good about this my friends! I just did a speed-run with my roomate to show him the ropes - there were definitely some bugs & kinks, but it's mostly there :) So I'm currently uploading the migrated database to challenges.habit, my network is dog-slow so it may take an hour or two, but it's testable with new accounts in the interim. Methinks I'll launch this puppy mid-day tomorrow.

[2013-11-01 02:58] #1699 closed, assigned to nobody

[2013-11-01 03:32] lefnire commented on #1685
I'm working on a fix, but here's some rambling for posterity:

Looks like there are some issues with TaskSchema generating both `_id` & `id` separately. `_id` is generated by default from Mongoose, but `id` is our system's legacy field (and removing it would affect mobile). But for some reason, `id` isn't being passed down on challenges, which is used to create unique graphs. Graphs are created as

[2013-11-01 03:32] wc8 opened #1701 "Challenges habit + throws ERROR 500"
Red notification Err or 500... appears when Clicking + habit that's part of a challenge.

Testing challenges siteon mobile browser (Opera for Android) and it's loading smoothly, btw; much improved since last night.

[2013-11-01 03:38] lefnire commented on #1701
fixed

[2013-11-01 03:38] #1701 closed, assigned to nobody

[2013-11-01 03:38] lefnire commented on #1701
as in I have nothing to do on halloween night. cheers @wc8.

[2013-11-01 05:25] bobbyroberts99 commented on #1699
Just created a 2nd test challenge for a party on the 2nd pass. Everything worked as expected, didn't see any problems and you made all the suggested changes. I won the challenge, but then I created it and got to decide who won. Big surprise… Any mechanics planned for letting the game decide who wins?

I like it. Looks good. Nice job!

[2013-11-01 06:20] AndreCaseyScott opened #1702 "[challenges] User not loaded correctly using Facebook Login (CastError)"
First off, is the challenges test server setup to login with facebook? If not, then this might be a useless report...

When I go to challenges.habitrpg.com, a few things happen:
- When I click play, and login with Facebook. Nothing really happens. URL bar updates with token and junk, but stays on static/front
- When I refresh the page again, with the API tokens and things in the URL, it "logs me i

[2013-11-01 06:30] lefnire commented on #1702
I think it's just that my internet connection is shit, and I'm having trouble uploading the migrated database - so you're getting a half-bake. I'm working on setting up a `screen` session from community.habit to load the migrated db to challenges.habit. Oy vey.

[2013-11-01 07:26] lefnire commented on #1702
ok, @onduhray give that a shot. I did all migrations from my server (good to know that was way faster)

[2013-11-01 07:50] lefnire commented on #1672
can't replicate. try again with the new push?

[2013-11-01 07:50] lefnire commented on #1679
should be fixed in new setup, try again?

[2013-11-01 07:51] lefnire commented on #1669
yeah me too. @paglias can you try on the recent push?

[2013-11-01 08:09] AndreCaseyScott commented on #1702
Whelp, I gave it another try and no go.
- Logged out, and tried logging back in via Facebook.
- Cleared cache and tried again.

No avail. Same errors. :/

[2013-11-01 08:10] lefnire commented on #1702
what's uuid?

[2013-11-01 08:12] AndreCaseyScott commented on #1702
73fad769-a194-4655-aefe-08bc7cb3dc39

[2013-11-01 08:24] lefnire commented on #1702
Looks like somehow _some_ of your `tasks.*.streak` are objects (specifically `{}` empty object) rather than Numbers, and with the new TaskSchema defining a strict policy on attr types it's throwing a cast error. Hmm, I'm not sure how we ended up with objects instead of Numbers, we'll need to fix that. In the mean time I'll add to the migration to clean up corrupted streaks. I'm wondering though, @

[2013-11-01 09:17] AndreCaseyScott commented on #1702
I don't know of any way built in to Mongoose to allow for fallbacks. Not terribly familiar with the framework, but in my searching, it seems you can set the defaults for an empty value, but not on a CastError.

Two thoughts:
1. Is it possible that some of my streaks are left over from derby db entries? The only thing I could find that _might_ be the culprit was [this line in the tasksCtrl](https:/

[2013-11-01 09:36] paglias commented on #1702
I'm having some connection issue so I can't do much but I got this locally
some time ago but only once. I got it after I ported the steak achievement
but I don't think it's released to this.

[2013-11-01 09:48] paglias commented on #1669
I still have an empty checkbox (the empty option when selecting a group for the challenge is due to angular)

[2013-11-01 09:48] paglias commented on #1669
![selezione_001](https://f.cloud.github.com/assets/589911/1452680/c9f59558-42da-11e3-98f1-3bf968041ecc.png)

[2013-11-01 11:23] wc8 commented on #1672
Still there… clicking Learn Spanish checked off Duolingo…

[2013-11-01 11:26] wc8 commented on #1672
Update… it happens on the Challenges page. It works correctly on my tasks list.

[2013-11-01 11:26] paglias commented on #1672
I can confirm this only in the challenge page not in your lists, and it's
not only todo -> first daily but also second daily --> first daily.
Everything check off the first daily (probably the first item of the
challenge)
Il 01/nov/2013 12:23 "wc8" notifications@github.com ha scritto:

[2013-11-01 12:32] wc8 commented on #1679
I used to not be able to delete tasks from a challenge, but I can now.

[2013-11-01 12:38] wc8 opened #1703 "challenge tasks don’t retain sort order when creating or editing a challenge"
One can reorder items on the Challenges tab but the sort reverts.

EDIT by Alys 2020-05-13: Before working on this, please read the comments below and also the comments in this pull request: https://github.com/HabitRPG/habitica/pull/12021 . If you think the code in that PR is suitable for re-use in your solution, you're welcome to use it - please mention in your PR that you've done so.

EDIT by Al

[2013-11-01 13:57] SabreCat commented on #1699
Very cool! Unfortunately I didn't see this until this morning and have some
social obligations tonight, so I won't be able to bash on it until tomorrow
at the earliest. But I'll write up anything I do spot!

[2013-11-01 16:35] lefnire commented on #1699
no worries, you were amazing in the last pass - thanks so much!

[2013-11-01 16:41] lefnire commented on #1702
Writing migration now, [asked a question](https://groups.google.com/forum/#!topic/mongoose-orm/3RERMfc9M40) on Mongoose just in case

[2013-11-01 16:45] paglias commented on #1672
Ok, this happens _only_ with todos & dailies which instead of checking off themselves check off the first daily of the list. Habits don't work -they can't be clicked- (why todos & dailies yes?) on the challenge page so i don't know about them.

[2013-11-01 16:45] paglias commented on #1672
Also dailies and todos are supposed to be clickable from the challenge page?

[2013-11-01 16:48] paglias opened #1704 "Leaving a challenge doesn't remove its tag from user's tags"

[2013-11-01 16:49] lefnire commented on #1672
ohhhh, on the challenge - not on my tasks. OK, fixed in 37027ac. Yeah, shouldn't be able to interact with tasks on challenge page - working on now. I realized that before I started with ui-router, I had chal tasks & user tasks as separate templates, and forgot that I had discarded that approach

[2013-11-01 16:56] paglias commented on #1669
It's happening only on challenges.habitrpg.com, can't reproduce on my local installation. It's probably a corrupt database record

[2013-11-01 17:20] lefnire commented on #1672
fixed

[2013-11-01 17:20] #1672 closed, assigned to nobody

[2013-11-01 17:35] paglias opened #1705 "Should not scroll to top when state change"
See https://github.com/angular-ui/ui-router/issues/110

[2013-11-01 17:55] mojganin opened #1706 "Checking Daily post-midnight, pre-later start time counts for both days"
I've changed my daily start time to 4AM. Ever since I changed that, I've encountered some odd behavior. It seems that if I check off a daily after midnight, but before 4, I am not penalized, and it counts as having been done for the previous day, as it should.

However, when I wake up the next morning, the item is still checked off. It's as though whatever function resets the tasks and checks for

[2013-11-01 17:55] lefnire commented on #1702
ok, I made our migration more strict. Tested for your account locally and all's good. See you live soon!

[2013-11-01 17:55] #1702 closed, assigned to nobody

[2013-11-01 17:58] mojganin commented on #1706
Dupe of #1057?

[2013-11-01 18:00] lefnire commented on #1685
So I fixed the charts showing on the right task. The color-changing by challenge participation for the overall tasks is _very_ deliberate - one of the strong point of challenges actually. You can see overall how the whole group is doing at particular tasks. Is there any way you can think for me to make that more obvious? I'll add a little question sign or maybe a <small> real quick so people know,

[2013-11-01 18:03] bobbyroberts99 opened #1707 "Clicking Challenge ToDo not always successful & sometimes turns off tag"
Sometimes clicking a Tavern Challenge Todo is successful, sometimes it needs a second click. I also get the beach ball spinning a lot. Sometimes the challenge tag gets turned off and I have to reapply the tag.

This all happened on the Get Ready for Thanksgiving challenge.

Speaking of filtering… Anyway to make the bullhorn mouseover say "[name of tag] Challenge" so it's easy to figure out which t

[2013-11-01 18:10] lefnire commented on #1696
fixed

[2013-11-01 18:10] #1696 closed, assigned to nobody

[2013-11-01 19:04] Shaners commented on #942
Some very minor adjustments:
![tiger-hatching-animation002](https://f.cloud.github.com/assets/2374703/1456250/015311e0-4328-11e3-8592-3883a701e87f.gif)
I was trying to make him growl and shake a bit but at this pixel res even moving one pixel was too far for that. So we have an ears back roar to give this a little different spin than the wolf baby.

[2013-11-01 19:07] lefnire commented on #942
"meep!"

[2013-11-01 19:43] lefnire opened #1708 "TypeError: Cannot read property 'type' of undefined"
Getting this on the server. Going to add a workaround until I can locate

[code]

[2013-11-01 20:12] lefnire commented on #1708
fixed

[2013-11-01 20:12] #1708 closed, assigned to nobody

[2013-11-01 20:13] lefnire opened #1709 "ReferenceError: user is not defined at api.getTasks"
[code]

[2013-11-01 20:14] #1709 closed, assigned to nobody

[2013-11-01 20:34] Shaners commented on #942
Here are all the colours:
![tiger-hatching-animation](https://f.cloud.github.com/assets/2374703/1456250/015311e0-4328-11e3-8592-3883a701e87f.gif)![tiger-hatching-animation-desert](https://f.cloud.github.com/assets/2374703/1456817/350919ba-4334-11e3-84cd-1e70e9678d6c.gif)![tiger-hatching-animation-red](https://f.cloud.github.com/assets/2374703/1456819/3c2b2f44-4334-11e3-8d06-e0a369896d1f.gif)
![tig

[2013-11-01 20:59] lefnire opened #1711 "memory quota exceeded (heroku)"
something in the backend overhauls has drastically increased server load, we're periodically exceeding 512mb/drone. Some of the things I have a hunch are causing overload:
- Model.populate(). I think a separate Mongo query is performed for each populate, we should probably switch over to async.waterfall - fetch Parent, then query its children as `Child.query({_id:{$in:children}})`
  - Am I correct

[2013-11-01 22:05] Pandoro commented on #942
soooo cute man!

On Fri, Nov 1, 2013 at 9:34 PM, Shane Lister notifications@github.comwrote:

[2013-11-01 22:21] lefnire opened #1712 "write reverse migration for removed tasks.*.tags"
https://github.com/HabitRPG/habitrpg/commit/4ac0ef4ac2551f9d583680b5d89fb03299251a9f#commitcomment-4492793

[2013-11-01 22:47] rrigor commented on #1589
I now have two members to my party... I invited them both, they both accepted the invite. Myself and the other party member both show up on both of their systems; mine shows neither.

[2013-11-01 23:39] paglias commented on #1589
They don't show up also on the members list of the party page or only in the header?

[2013-11-01 23:44] rrigor commented on #1589
They show up in neither.

[2013-11-02 01:15] w13 opened #1713 "Clicking my avatar shows error: 404: Cannot GET /partials/options"
"404: Cannot GET /partials/options"
when I click my avatar picture.

The URL in my browser keeps alternating between https://habitrpg.com/#/tasks and https://habitrpg.com/#/options every time I click.

The errors keep piling up like this: http://i.imgur.com/hhVW9wY.png

I'm using Chrome on Windows 8.1. I left HabitRPG running in an open tab overnight, I'm not sure if that has anything to do with i

[2013-11-02 01:19] LordDarkly commented on #942
Nice! My only objections would be to the zombie hatching. It's hard to make out the eyes, maybe you could make them brighter, or higher contrast?

[2013-11-02 02:11] lefnire commented on #1711
Looks like I may be wrong on the populate bit. I started experimenting on a separate branch (commit above) with NOT using .populate(), but instead running a query of our own. I'm doing some digging around to see what populate()'s performance is like, and not finding anything definitive - but my hunch was that it performs one query _for every_ subdocument, rather than collecting the ids as an array

[2013-11-02 03:18] bobbyroberts99 opened #1714 "Tavern Talk (chat) returns no results"
Is it down?

![name001](https://f.cloud.github.com/assets/4084120/1458418/4cbdf4fc-436d-11e3-8e46-ab195564a4eb.jpg)

[2013-11-02 03:37] lefnire commented on #1714
fixed https://github.com/HabitRPG/habitrpg/commit/62b2d5780b9886fc2520e560af634eba32ae29a7

[2013-11-02 03:37] #1714 closed, assigned to nobody

[2013-11-02 05:32] bobbyroberts99 opened #1715 "Add direct angular-ui-routing links to user menu"
3 clicks to Stable become 1. It's very convenient to be able to have direct browser bookmarks. This would be even better.

![name001](https://f.cloud.github.com/assets/4084120/1458537/372c9eb0-437f-11e3-96a6-ae5de9a0c8f0.jpg)

[2013-11-02 05:42] lefnire commented on #1715
Like, add all top-level options items? I guess we could do superfish-style
flyouts

On Fri, Nov 1, 2013 at 10:32 PM, bobbyroberts99 notifications@github.comwrote:

[2013-11-02 05:43] #1685 closed, assigned to nobody

[2013-11-02 05:46] lefnire commented on #1711
I've got groups widdled down pretty well, now I just need to collapse challenge participants. I can't even load an individual challenge with 40 participants at present. _rolls up sleeves_

[2013-11-02 06:10] lefnire opened #1716 "collapse participants (ui-router)"
Required for #1711 is collapsible participants (see [trello](https://trello.com/c/k0kSlT0Q/58-challenges-individual-party-guild-public) for comps), using ui-router to lazy-load them in the same way that challenges are lazy-loaded.

At present, loading a challenge with all it's participants is so much load on the server that it often crashes. What happens is we have to load all the participants' fu

[2013-11-02 06:55] kriscrat opened #1717 "All tags disappeared."
I'm not sure when exactly it happened, but it looks like all of my tags disappeared, and it's super time consuming to retag them all one by one.  Help?

[2013-11-02 06:56] lefnire commented on #1717
follow https://github.com/HabitRPG/habitrpg/issues/1712

[2013-11-02 06:56] #1717 closed, assigned to nobody

[2013-11-02 06:58] lefnire commented on #1711
after #1716 (and hopefully #1665) are fixed this issue should be good.

[2013-11-02 07:01] lefnire commented on #1686
woops, how did i forget about this ticket so fast and create a duplicate: https://github.com/HabitRPG/habitrpg/issues/1716 . Anyway, some useful commit references there, so I'm gonna close this and follow there

[2013-11-02 07:01] #1686 closed, assigned to nobody

[2013-11-02 07:07] lefnire commented on #1712
I'll start working tomorrow on a reverse migration for lost tags. I hope it's feasible.. but if I can't get it working, I'll alternatively start working on a multi-tagging feature. More soon

[2013-11-02 08:26] paglias opened #1718 "404 group not found when not in a party"
The request made to https://beta.habitrpg.com/api/v1/groups/party? returns a 404, `{"err":"Groupnotfound"}` if the user isn't in a party and shows an error on the site.

Can we remove the 404 error when requesting the party?

[2013-11-02 08:39] lefnire commented on #1718
good catch, fixed

[2013-11-02 08:39] #1718 closed, assigned to nobody

[2013-11-02 09:07] paglias commented on #1713
You kept habitrpg open in the middle of a big update so when you clicked the avatar it searched for a page that didn't exist anymore :) Thanks for the report!

[2013-11-02 09:07] #1713 closed, assigned to nobody

[2013-11-02 11:47] paglias opened #1719 "challenge title not updated until page is refreshed"

[2013-11-02 11:54] paglias commented on #1682
This doesn't work, challenge is correctly closed on click but if you want to open another one the first click simply closes the one opened and doesn't open the new one

[2013-11-02 11:58] paglias opened #1720 "Bailey should appear automatically?"
A new announcement has been posted to bailey but I had to enable it manually from the setting page, otherwise I wouldn't have noticed it.

[2013-11-02 11:58] Catmagnet opened #1721 "Check if user alraedy owns skin/set before deducting gems"
I clicked to unlock all the rainbow skins, clicked on the box that asked if I wanted to spend 5 gems, and the blue line went across the top.  Then I got an error message.  At that point, no gems had been taken from my stash, and the skins were not unlocked.  So I clicked on it again, thinking it had just had a problem and maybe it would work a second time.  It did work . . . but took 10 gems; I su

[2013-11-02 14:32] ghost opened #1722 "Clicking the 'Profile' button under 'Profile' leads to unexpected result"
Under 'Profile', clicking on the secondary-level tab to edit your profile, it goes to the 'Stats and Achievements' page instead. You must click twice to get to 'Profile'. This should not be the case.

[2013-11-02 14:36] ghost commented on #1669
I've got a blank checkbox on HabitRPG.com's challenges page myself. Tried in both Chrome and Firefox. Almost definitely a problem with the site's DB.

[2013-11-02 14:54] #1669 closed, assigned to nobody

[2013-11-02 15:33] octern opened #1723 "Other people's pet counts show zero"
When I click on a party member's avatar, it brings up their stats. Both my party members are shown as having zero pets even though they even have a pet visible with their avatars, and I know they have many more. My own pet count in my profile is correct.

[2013-11-02 16:10] lefnire commented on #1711
Looks like it's mostly caused by the user routes actually. Must be something different about .tasks => habits/dailys/todos/rewards

[2013-11-02 17:16] lefnire commented on #1711
Aha. It's the use of `TaskSchema`. If i simply switch to `Schema.Types.Mixed` (what is was before), the performance increases 4x. It's all the validation, type-casting, toJSON, etc. I'm gonna start tinkering around, because one of the main points of this re-architecting was to get the benefits of a nested task schema (default values in particular - without which was causing a lot of issues for use

[2013-11-02 17:59] lemoness commented on #1699
Quick question - do we have the ability to issue a challenge to a single
person? Like, just a roommate, or just a significant other? Right now the
smallest I can find is "party".

On Fri, Nov 1, 2013 at 9:35 AM, Tyler Renelle notifications@github.comwrote:

[2013-11-02 18:05] lemoness commented on #942
I love them. So, so cute! Shane, you are on fire.

[2013-11-02 18:05] SabreCat commented on #1699
You could create a private Guild with them, perhaps?

[2013-11-02 18:08] lefnire commented on #1699
Tis on the features [checklist](https://trello.com/c/k0kSlT0Q/58-challenges-individual-party-guild-public)

[2013-11-02 18:43] lefnire commented on #1711
Nested attributes didn't seem to improve the performance much either. Moving back to Schema.Types.Mixed for now, will revisit soon

[2013-11-02 19:56] lefnire commented on #1711
I think I pegged it: `TaskSchema.history = [{date:Date, value: Number}]` (see above commit). History arrays for some people are ~300 (our February users), and they may have 100s of tasks. It does type-and-default checking on every history entry, so that's 30k type/default checks _per_ operation for many users. This applies to User.history as well, but not as direly. Shows that we need to implement

[2013-11-02 19:56] #1711 closed, assigned to nobody

[2013-11-02 20:12] lefnire opened #1725 "Group challenges not showing on group page"
Looks like Group.challenges isn't getting populated with the child reference on challenge.save(). As per https://github.com/HabitRPG/habitrpg/issues/1698, we can probably remove the subdoc anyway and just use a reverse query. But if we decide to keep the subdoc, we'll need to run a migration to populate missing subdocs

[2013-11-02 22:20] MagicMicky opened #1726 "500 after when editign task via PUT /api/v1/user/task/:tid"
Hi there.
I'm trying to edit a task via the /PUT api. Unfortunately, I'm getting a 500 server error.
I don't really know why and where that could come from, knowing that I remember it working a few months ago.
My app is working in Java but here is what I do:
set the URL to `/api/v1/user/task/mytaskid`
set the content type of my request to `application/json`
put my user and api key
set `Accept-Enco

[2013-11-02 22:22] MagicMicky opened #1727 "500 after trying to edit a task via API"
Edit: Duplicate of #1726
Hi there.
I'm trying to edit a task via the /PUT api. Unfortunately, I'm getting a 500 server error.
I don't really know why and where that could come from, knowing that I remember it working a few months ago.
My app is working in Java but here is what I do:
set the URL to `/api/v1/user/task/mytaskid`
set the content type of my request to `application/json`
put my user and

[2013-11-02 23:07] #1716 closed, assigned to nobody

[2013-11-02 23:07] #1705 closed, assigned to nobody

[2013-11-02 23:13] lefnire opened #1728 "Show high-level progress of participants (color-coded names? total score?)"
With challenge participant lists getting way longer than I thought they'd be (already!), it's not useful to click into each member individually to determine who's in the lead. Couple things we could do: (a) sort by total score, (b) show total score next to participants' names, (b) color-code their names similar to task colors. I'm thinking (a) has to happen regardless, in order that the leader can

[2013-11-02 23:15] djuretic commented on #1723
+1 I have exactly the same problem. Also if a click on any person on the tavern, their pet count is zero.

[2013-11-02 23:18] lefnire opened #1729 "challenge tasks getting scored multiple times"
can see in http://gyazo.com/e17dce00d9a408685e8ba50afdcbd095, challenges has only been around one day but this daily has >10 completions (blue, big graph). Seems score is getting multi-counted somehow

[2013-11-02 23:23] lefnire commented on #1723
fixed

[2013-11-02 23:39] paglias commented on #1729
one score for each user in the challenge that scored the task?

[2013-11-02 23:40] lefnire commented on #1729
that should just be applied to Challenge.task. So each person has their own, and then the all aggregate on challenge.tasks - but these scores I'm seeing are on the individuals' tasks

[2013-11-02 23:45] #1727 closed, assigned to nobody

[2013-11-02 23:46] lefnire commented on #1726
Will look into this soon as I can, but because we actually don't use this route (we use the batch-api stuff so we can support offline mode) we may need your help jumping in. It's a very strange issue, I think I'm getting some crazy Mongoose edge-case: https://www.evernote.com/shard/s17/sh/112347b2-27f9-48b8-b7be-b4115624152b/408556a7fff3df0dd65420fab3f65819

[2013-11-03 10:30] MagicMicky commented on #1726
Ok, feel free to ask for my help anytime!

[2013-11-03 11:10] Vorakesh opened #1730 "Deleted Tasks reappear after Sync"
The "Example Tasks" reappear after I hit the Sync button or just re-login.

In the Android App my tasks appear after a couple of seconds on their own.

The can be edited (eating Junk Food is now a positive habit ;)) but not deleted

[2013-11-03 14:10] ghost opened #1731 "Outdated string"
The Guild Gems popup says _"Gems which your guild leader can use for prizes in the upcoming Challenges feature"_.

It's no longer upcoming!

[2013-11-03 14:39] RosemonkeyCT opened #1732 "Dailies resetting their counters as if I haven't checked them when I have"
This has happened several times now, but today's has reset 3 dailies to 1 when they were all between 40 and 50 streaking. Last time it was just one.

I'm using Firefox, my user ID is the same as this one - RosemonkeyCT.

In general, the website is still very slow and glitchy for me. I often have to reload the page and check that things have been ticked off properly. It doesn't always go through. A

[2013-11-03 14:54] hattieshoe opened #1733 "Loss of HP and streaks at time other than day reset"
I had a strange thing happen this morning, not sure what it's related to so I'll give as much detail as I can.
I leveled up last night so had 50 HP. I was actually still up after the day reset, and did a couple of dailies for Sunday before I went to bed. I didn't notice what my HP were at that time, but everything seemed normal.
This morning I opened two tabs (in Chrome, not sure that would matter

[2013-11-03 15:32] hattieshoe commented on #1733
I just had another thought. Could daylight savings time (we turned the clocks back last night) have somehow caused my account to effectively have an extra day where I started with 40 HP and only checked off those two things, getting hit by all the other uncompleted dailies? The clock change isn't supposed to happen till 2 AM and my settings give 0 as the reset time, but still, could that explain s

[2013-11-03 15:40] Verax2 commented on #1730
Same results here.  Example tasks return after re-login or refresh.

If I delete my own stuff it stays gone, but not the original example tasks.

[2013-11-03 15:51] octern opened #1734 "Custom rewards cost 0 GP"
Most but not all of my custom rewards (~20 out of 30) have been set to a cost of 0 GP. Clicking on them causes habitrpg's progress indicator to spin for several seconds, but does not deduct any GP and does not produce a status message.

[2013-11-03 15:54] octern commented on #1720
Had you ever manually disabled Bailey form the settings page? I think she's supposed to be on by default.

[2013-11-03 18:07] lefnire commented on #1720
Naw, I only recently ran the script to bring her back. The settings button brings her back, she's disabled by default

[2013-11-03 18:07] #1720 closed, assigned to nobody

[2013-11-03 18:16] paglias commented on #1691
Should be ok now, so we can update if we want

[2013-11-03 18:16] #1655 closed, assigned to paglias

[2013-11-03 19:26] MinatureCookie opened #1735 "Repeated lazy loading"
The lazy loader is repeatedly loading, even when the page is just sat in the background doing nothing (i.e. there are no changes to push)

A quick look at webkit dev-tools looks like something's .onreadystatechange method is being triggered once per second, sending a POST to https://habitrpg.com/api/v1/user/batch-update?_v=*******&data=*************

This results in the loading bar just spinning a

[2013-11-03 19:49] bobbyroberts99 opened #1736 "Hatching potion captions on inventory not wrapping"
Cotton candy overlaps

![name004](https://f.cloud.github.com/assets/4084120/1461666/00043bf8-44c1-11e3-8c74-a3584410e0a1.jpg)

[2013-11-03 19:53] bobbyroberts99 commented on #1736
Is this the same as #1028? (Looked but didn't find until after I submitted.)

[2013-11-03 21:07] gwillen commented on #1735
I'm seeing this also, and I've seen it before, too. It's sending about a request per second.

This is what it keeps sending (updating v each time):

Request URL:https://beta.habitrpg.com/api/v1/user/batch-update?_v=47267&data=1383512588151
Request Method:POST
Status Code:200 OK

Request headers:
Accept:application/json, text/plain, _/_
Accept-Encoding:gzip,deflate,sdch
Accept-Language:en-US,en;q=0

[2013-11-03 21:11] chadschultz commented on #1644
I've had this problem for weeks--HabitRPG is painfully, painfully slow. I cleared out all my To-dos, leaving a few dozen Dailies and Habits, but the problem still persists. Chrome often kills the page because it is not responding. Firefox keeps popping up an alert dialog that says
"A script on this page may be busy, or it may have stopped responding. You can stop the script now, or you can continu

[2013-11-03 22:41] deertheory opened #1737 "Tab Crashing in Google Chrome"
If I check off more than one item, and occasionally when I only check off one item, HabitRPG becomes so overwhelmed that Chrome prompts me with the "HabitRPG has ceased loading" dialogue and asks if I want to force close it. I generally select Wait, and then it seems to be a 75/25 toss-up of whether or not HabitRPG prefers to simply crash or if it loads after some minutes.

In addition, generally

[2013-11-04 00:34] deertheory opened #1738 "Due Dates Disappearing"
I enter due dates for tasks whenever I have them, but the due dates seem to have disappeared on all of my tasks. I haven't noticed what triggers this, why or when it happened.

[2013-11-04 00:38] deertheory opened #1739 "Task Creation Freezes Tab"
Using Google Chrome, creating a task occasionally causes the entire site to freeze and become unresponsive. Unlike in an earlier issue posted this does not consistently prompt Chrome's interrogative whether to force close the tab.

[2013-11-04 01:08] lemoness commented on #1721
Whoops, sorry about that! @lefnire or one of the other devs should be able to gift you some gems if they have your UUID.

[2013-11-04 01:10] lemoness opened #1740 "Chat Duplication issue"
I've been seeing the occasional repeated message in guilds and the tavern the past few days, but couldn't be sure it wasn't just user error - until it happened with one of my messages. Has this old bug come back?

[2013-11-04 01:50] lefnire commented on #1735
oh god! thanks @gwillen for that detail, it _really_ helped me narrow down the issue. I just pushed a commit. Can y'all see if this fixed the issue for you?

[2013-11-04 01:52] lefnire commented on #1740
Well, it won't be the same bug as last time. The last one was a Racer
internals issue that was duplicating database entries on the server. My
hunch is this one isn't preventing ENTER from being hit twice or something

On Sun, Nov 3, 2013 at 5:10 PM, lemoness notifications@github.com wrote:

[2013-11-04 01:53] lefnire commented on #1738
fixed

[2013-11-04 01:53] #1738 closed, assigned to nobody

[2013-11-04 02:04] lefnire commented on #1721
Yeah, @Catmagnet I just restored 5G on your account, double check that's ok. I'm gonna rename this ticket for my own reference. I double checked to see if anything was going wrong - all's ok, it's just we don't do any double checking that the user already owns something on the backend, so a slow internet connection and this issue might happen again for unknowing users.

[2013-11-04 02:11] lefnire commented on #1737
what's your UUID?

[2013-11-04 02:15] gwillen commented on #1735
I was just about to say that I didn't know what triggered the issue. But I bet I do. Could it have been triggered by the DST change? And when I saw it before could it have been triggered by a system timezone change?

(Asking because without knowing what triggered it, and having only seen it a few times, it would be hard to test if it was fixed.)

[2013-11-04 02:21] lefnire commented on #1735
yeah, it will definitely be triggered by timezone change. But more likely, as part of the challenges feature, we did a big overhaul on the backend, adding stricter requirements to the user schema. part of these requirements comes type-checking on attributes. Looks like timezone was being stored as a string for some people ("480" instead of 480) and being detected as "changed". the weird thing is,

[2013-11-04 02:24] lefnire commented on #1730
this is a critical one, i'm gonna work on this asap. There's a mismatch going on between `task._id` and `task.id` (something to look out for @paglias )

[2013-11-04 02:26] lefnire commented on #1732
how long has the slowness / unreliability been going on for you do you think?

[2013-11-04 02:31] lefnire commented on #1731
fixed

[2013-11-04 02:31] #1731 closed, assigned to nobody

[2013-11-04 02:51] lefnire commented on #1589
You caught a vestigial bug from back when we didn't have proper "already in a group" -checking on the backend. The database shows you belong to 4 parties, so what'll likely happen is when you load the page, you'll get one of the 4 setups inconsistently each time. I just removed the duplicates (which had only you in them) and left he one with 3 members. Git that a refresh & gander

[2013-11-04 02:54] lefnire commented on #1706
yeah, I believe dupe of that one. let's continue convo there

[2013-11-04 02:54] #1706 closed, assigned to nobody

[2013-11-04 02:57] #1679 closed, assigned to nobody

[2013-11-04 04:18] Caspid opened #1741 "Default items keep re-adding themselves"

[2013-11-04 05:19] lefnire commented on #1741
give that a shot

[2013-11-04 05:19] #1741 closed, assigned to nobody

[2013-11-04 05:46] gwillen commented on #1735
Well, it's not doing it now, and changing my system timezone doesn't trigger it. So it's as fixed as I can tell. :-)

[2013-11-04 06:30] lefnire commented on #1735
kk. yeah, should be fixed - I tried mucking around manually and it's good. Thanks for pointing this out. The crazy thing is this bug should have been happening for _many_ months now - since the angular rewrite; I'm surprised it wasn't caught sooner! Anyway, thanks!

[2013-11-04 06:31] lefnire commented on #1730
dupe of #1741, fixed

[2013-11-04 06:31] #1730 closed, assigned to nobody

[2013-11-04 06:34] lefnire commented on #1729
fixed, it was copying over `task.value` & `task.history` on `challenge.join()`, so new subscribers were getting the overall group's progress on their task

[2013-11-04 06:34] #1729 closed, assigned to nobody

[2013-11-04 07:02] lemoness commented on #1740
Ahhh that actually sounds really plausible! For me at least it was when I
hit enter by accident to start a new paragraph. That should be pretty
simple to test. Let me try it out.

Yep, that's definitely it!! I tested first with two enters - resulted in
two duplicate tavern messages - and then four enters - resulted in four
duplicate tavern messages. Great hunch, Tyler!!

On Sun, Nov 3, 2013 at 5:5

[2013-11-04 07:42] MinatureCookie commented on #1735
Actually, sorry - on my end this has now gotten a lot WORSE, rather than resolved!

It's now sending off the event every fraction of a second. This is what's being sent on my end

Request URL: https://habitrpg.com/api/v1/user/batch-update?_v=170531&data=1383550732223
(v increments by 2 each time, so 170531, 170533, 170535...)
Request Method: POST
Request Status: 200

Request Headers:
POST /api/v1/

[2013-11-04 07:43] lefnire commented on #1740
added a temp fix, can you give that another go?

[2013-11-04 07:49] lefnire commented on #1735
@MinatureCookie does yours have a "Request Payload" like @gwillen's did? That `[{op:set, data:{preferences.timezoneOffset:480}}]` really helped me narrow down the issue. Have you tried a hard refresh?

[2013-11-04 07:57] MinatureCookie commented on #1735
I tried clearing all history (cache etc. included) on Chrome, then reloading. No dice.

Sorry I forgot to include the request payload! Here's another request...

Request URL: https://habitrpg.com/api/v1/user/batch-update?_v=172425&data=1383551522357
Request Method: POST
Status Code: 200 OK

Request Headers:
Accept:application/json, text/plain, _/_
Accept-Encoding:gzip,deflate,sdch
Accept-Language:

[2013-11-04 08:00] lefnire commented on #1735
Crap! Exact same issue / path then.... so weird it's not getting updated in the browser for you. I even tried loading your account locally and all was fine. I'm gonna hit the sack now, sorry to leave your account like this right now - I'll tackle this moment I can this week though.

[2013-11-04 08:03] MinatureCookie commented on #1735
That's fine. I'll try experimenting around a little bit, see if I can get it to start/stop at all...

[2013-11-04 08:41] lefnire commented on #1722
fixed

[2013-11-04 08:41] #1722 closed, assigned to nobody

[2013-11-04 08:52] lefnire commented on #1728
After some investigation, we can achieve this via Mongo's `mapReduce` or `aggregate`. We could even load / show participant stats inline in the challenge view, without having to go the extra step of clicking to load a participant. Here's my thoughts: Use aggregate or mapReduce to:
1. Add a `.sumScore` value to members, which is `sum(task.*.value)`
2. `{sort:{sumScore:1}}`, so we have winners at th

[2013-11-04 09:04] BlackEdder commented on #1735
I still have the spinning loading icon and the progress bar is always there. When I open the (beta) site in opera I can clearly see the page constantly being redrawn.

Request URL:    https://beta.habitrpg.com/api/v1/user/batch-update?_v=615796&data=1383555698276
Request Method:     POST
Status Code:    HTTP/1.1 200 OK
Request Headers 09:01:38.000
x-api-user: 62cf3b41-a297-4dd9-aa2d-2d1e051abbde
x

[2013-11-04 09:32] BlackEdder commented on #1735
The response payload is also
_v: ....

Strangely enough it looks like the number increases with two everytime.

[2013-11-04 09:46] lefnire commented on #1735
FWIW, this won't have been a new problem. It's just that we added an loading indicator for http requests, so now you can see there's a problem - this has probably been going on for months :/

[2013-11-04 09:49] lefnire commented on #1725
fixed

[2013-11-04 09:49] #1725 closed, assigned to nobody

[2013-11-04 09:49] ZainabAlAnsari commented on #1704
yea I have that issue too

[2013-11-04 10:04] lefnire commented on #1712
made backup, ran reverse-migration. tags, streaks, dates, and zero'd-values should now be restored. @paglias can you verify that your tasks with the broken tags have been cleaned?

[2013-11-04 10:04] #1712 closed, assigned to nobody

[2013-11-04 10:45] BlackEdder commented on #1735
Habitrpg used to work fine in opera, but does keep reloading now (for me). I am not sure if these two things are related, but that would suggest it is a new problem.

[2013-11-04 13:05] MinatureCookie commented on #1735
Okay - I changed my timezone to Pacific (US) time, and that fixed the problem. Even having changed it back to UK time now, the problem remains fixed...

Which is great for me personally, but I can't help diagnose the problem at all now...

Is it possible that your fix would have needed a local timezone change, or possibly just a day change (the timezone change brought me back to Sunday, then forwa

[2013-11-04 13:24] paglias commented on #1500
The main problem I found with this is angular-ui-bootstrap which doesn't support bs3, yet. They have a branch on github but it's a WIP. Modals are not working (even though there are some workarounds), I'll see what about tooltips and popovers which would be difficultier to use without angular-ui-bootstrap.

[2013-11-04 14:00] BlackEdder commented on #1735
Changing timezone also fixed it for me both in firefox and opera, but the problem happened again as soon as I switched back to European time.

[2013-11-04 14:01] paglias commented on #1712
They are gone!

[2013-11-04 14:17] #1740 closed, assigned to nobody

[2013-11-04 14:17] paglias commented on #1740
@lefnire I was getting a 500 error at least on parties, I pushed a client side fix, it shoudl work fine

[2013-11-04 14:26] paglias opened #1742 "ngResource PUT/POST/DELETE send whole model to the server"
This could be quite a bottleneck for performances.

Every PUT/POST/DELETE http call made by angular $resource sends to the server the whole model.

For example deleting a chat message sends to the server the whole group model.

[2013-11-04 14:39] elprohabro opened #1743 "Challenge tasks don't update at all"
Challenge's dailies and to-dos don't update on main page and remain the same even after multiple editing in Challenges section. Refreshing and logging in/out doesn't help.

Edited version is well saved in Challenges section. But old version remains the same on main page.

[2013-11-04 14:44] paglias opened #1744 "jquery.cookie is used?"
Or we can remove it?

[2013-11-04 14:59] fro0m opened #1745 "Cant access to account"
After login i got: Error 500: Internal Server Error (see Chrome console for more details).
actions didn't renew from yesterday!
After i relogin using facebook i have 1lvl noname character and heis in the party with my
main character.
http://www.evernote.com/shard/s154/sh/0f4b8775-768d-4f62-b390-769515b662ec/0ae1cb4a92c627d1c65d42fda720e2a4

my main is Konstantin....
please take action cause i need

[2013-11-04 15:10] erichcampbell commented on #1745
I'm having the same error myself, though I am still logged in and can get to the social area, any attempt to sync or check anything off gives a new 500 error, and my dailies haven't refreshed.

[2013-11-04 15:12] MllePandaRoux opened #1746 "Very strange and important bug :("
Hello,
this morning I reloaded my page, but I had an error 500. I tried multiple times and it still didn't work, so I decided to log out then log in.

I log out, click on "Play" button, enter my username and password, click "Connect"... Nothing happens. The button doesn't respond. I close the login prompt, the page finally loads and I got this :

![bugg](https://f.cloud.github.com/assets/4671953/1

[2013-11-04 15:13] MllePandaRoux commented on #1745
I have the same problem too !

[2013-11-04 15:14] MllePandaRoux commented on #1746
Same problem as #1745 but I didn't see his post.

[2013-11-04 15:46] paglias commented on #1746
Follow on #1745

[2013-11-04 15:46] #1746 closed, assigned to nobody

[2013-11-04 15:47] cjapplepies commented on #1745
I am having this same issue too; it just started when the new challenges system was announced, so it might have something to do with that? Also, I have android 2.3 on my phone, and so I installed 2 different 3rd-party apps to use with Habit (HabitRPG and HabitAndroRPG). I cannot connect to habit through either of those apps, when they worked fine last week.

I logged in through the main page of Ha

[2013-11-04 15:47] paglias commented on #1745
Could you open the chrome console (ctrl+shif+j) and report here what you find there?

[2013-11-04 15:50] bobbyroberts99 commented on #1712
Tasks are filtering by tags again on beta for me. Thanks. I'll post this news on the wiki.

[2013-11-04 16:27] hattieshoe commented on #1733
Just noticed my streaks are back - I'm pretty sure they didn't show up yesterday (Sunday) but today the things I did Sunday seem to be accounted for, along with (as far as I can tell) the previous streaks. If someone reset this for me, thank you - if not, I figured I should report it in case it's part of the bug.

[2013-11-04 16:43] themegchan commented on #1745
This same thing is happening to me! All my todos, dailies, and habits are GONE but it's started over to the original character. This is really annoying because I don't think anything saved from last night and I can't pull up my todo list for today! I'm getting the error 500 as well, but my character appears in the corner.

I tried to do the ctrl+shift+j thing but it didn't work. I'm using a mac if

[2013-11-04 16:46] BruceWilliams opened #1747 "main interface columns don't grow to fit ads"
When I view the front page of the habitrpg site, I see four columns: habits, dailies, todos, and rewards. The ads on the bottom of the columns stick out the right side of the columns and overlaps the adjacent column (see attached picture). I expect the columns to be wide enough to fit the ads; and for my current browser width, I'd expect this to force a reflow to the stacked two-column view. (I se

[2013-11-04 16:55] wisteriacs commented on #1712
THANK YOU, THANK YOU, THANK YOU!!!!! Between this and the site being so smooth on mobile now, I can use tags on my walks!! (Which is my much preferred time to manage HabitRPG!) You've made me VERY happy today!

[2013-11-04 16:59] themegchan commented on #1745
Ok, found it, here's what it's giving me:

Uncaught TypeError: Object #<Object> has no method 'sendMessage' Browser.js:2
Failed to load resource https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?_=1383583232585
Failed to load resource https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?_=1383583232586
Failed to load resource https://pagead2.googlesyndication.com/pagead/js/a

[2013-11-04 17:02] lefnire commented on #1712
Fantastic!

On Mon, Nov 4, 2013 at 8:55 AM, wisteriacs notifications@github.com wrote:

[2013-11-04 17:03] lefnire commented on #1733
was a reset, see https://github.com/HabitRPG/habitrpg/issues/1712 . All fixed!

[2013-11-04 17:03] #1733 closed, assigned to nobody

[2013-11-04 17:07] lefnire commented on #1742
yeah, I think we should separate chat out to it's own nested resource https://github.com/HabitRPG/habitrpg/issues/1665

[2013-11-04 17:13] paglias commented on #1742
Restangular seems quite interesting and supports nested resources. Anyway it's not only a chat problem but of every ngresource. It means that leaving a guild, for example, sends the whole group to the server.

[2013-11-04 17:16] lefnire commented on #1744
I believe we're using it. IIRC we needed _some_ sort of session, just to bypass the splash page, since the website is 100% using the API. See `middleware.js:splash()`, it was kinda a hurried approach, so if you can think of an alternative doooo eeeet

[2013-11-04 17:17] bobbyroberts99 opened #1748 "Request: Add "Select/Deselect all" filter to Challenges"
Definitely minor but this would make it easier to look at Tavern or just one guild--especially if you're a member of multiple guilds.

[2013-11-04 17:26] lefnire commented on #1745
I think i have a fix for y'all. `TaskSchema.date` was of type `Date` (mongoose type casting is very strict, I'm still trying to figure out how to loosen it up). Well last night I was able to successfully restore tags, dates, and streaks that go lost in the Challenges migraiton. Turns out most people didn't store todo.date as a date format, but "today", "tomorrow", so I just needed to update the ty

[2013-11-04 17:28] lefnire commented on #1743
I have a fix ready https://github.com/HabitRPG/habitrpg/commit/7161ddf70ebe9f054390d3cd4e70ef5963c8e9b2. Waiting for NPM to come back https://twitter.com/npmjs before I can push

[2013-11-04 17:33] lefnire commented on #1500
Cool. yeah, I think tooltips/popovers are the only thing we're benefiting from right now. It looked like modals are completely different since ui-bootsrap 0.5 (which we're on) and >=0.6, and when I was looking at its format it didn't seem like we'd be easily able to use the new setup. Might be worth removing ui-bootstrap modals if popovers/tooltips are available for the bs3 branch. I'll leave it a

[2013-11-04 18:03] octern commented on #1734
The problem has spontaneously resolved. The correct prices are showing again.

[2013-11-04 18:03] #1734 closed, assigned to nobody

[2013-11-04 18:04] lefnire commented on #1734
yeah sorry about that, fixed at https://github.com/HabitRPG/habitrpg/issues/1712 and forgot about this ticket

[2013-11-04 18:15] #1442 closed, assigned to lefnire

[2013-11-04 18:27] paglias commented on #1744
Ok, I checked and it's not used. there aren't cookies just session set server-side so it's safe to remove it

[2013-11-04 20:07] lemoness opened #1749 "Dailies Disappeared?"
I deleted a couple of obsolete dailies this morning (leftover from house-sitting this weekend)... and then realized that about a fourth of my normal dailies had disappeared, too!  They were all in totally different spots from the house-sitting dailies that I deleted - the house-sitting dailies were right on top, and the other dailies were scattered through the list - so I don't think I accidentall

[2013-11-04 20:13] lemoness commented on #1749
OH thank god, they didn't disappear - when tags came back, the tags on some of my dailies disappeared, so they didn't show up in any of my tag lists. I can just manually re-add their tags. PHEW!!!!! What a huge relief.

[2013-11-04 20:18] lemoness commented on #1749
You can probably close this unless anyone else complains about tags disappearing on dailies. Sorry for the moment of terror!

[2013-11-04 20:20] fro0m commented on #1745
console

Failed to load resource: the server responded with a status of 500 (Internal Server Error) https://habitrpg.com/api/v1/user/batch-update?data=1383596339174
Arguments[1]
 app-3b6110c9.js:15
Given URL is not permitted by the application configuration.: One or more of the given URLs is not allowed by the App's settings.  It must match the Website URL or Canvas URL, or the domain must be a su

[2013-11-04 20:22] #1749 closed, assigned to nobody

[2013-11-04 20:36] Shaners commented on #1747
those ads...

[2013-11-04 20:37] litenull commented on #1747
Hahahahaha

[2013-11-04 20:51] MllePandaRoux commented on #1745
My todos are back :) My character is now both on the left AND on my party...

[2013-11-04 21:17] lefnire commented on #1745
yeah, this should be fixed for everyone now. Unfortunately npm never came back online, so I still haven't been able to push the "real" fix - so I had to set any invalid todo dates (eg "today", "March 2013", etc) to today's date "11/04/2013". keep an eye out for those. If anyone is still experiencing this issue, comment and I'll re-open

[2013-11-04 21:17] #1745 closed, assigned to nobody

[2013-11-04 21:25] #1691 closed, assigned to nobody

[2013-11-04 21:38] NotChrisPlease commented on #1554
I must be doing something wrong.
It works fine using curl but not with urllib2 in Python.

[2013-11-04 21:53] lefnire commented on #1735
can y'all try now? I did some peaking around and `user._v` was sometimes `NaN` in the database. I don't know how this happened, and certainly don't now how it popped up only recently. I did `db.users.update({_v:NaN},{$set:{_v:1}},{multi:1})` to bypass that, and I'm going to be digging into code to see where that could have come from

[2013-11-04 22:02] lefnire commented on #1749
ye ol' http://community.habitrpg.com/content/im-missing-some-or-all-my-tasks

[2013-11-04 22:48] MinatureCookie commented on #1735
I still seem to be getting it on a fresh browser! :(

Does it not replicate for you if you change your local timezone to UK, and then clear all browser history?

[2013-11-04 23:12] Catmagnet commented on #1721
Thank you so much! My computer _is_ quite slow (and it's Windows X P) so
that might be part of the problem on my end.

[2013-11-05 00:37] lemoness commented on #1749
I know!!!!!! How embarrassing that I fell for it. It's because usually all
my tasks are tagged to the nines. Ironically, it was when they DIDN'T show
up in my tags that I panicked!!!

On Monday, November 4, 2013, Tyler Renelle wrote:

[2013-11-05 00:39] tib414 commented on #1589
I have the same problem. I created a party with my friend and the chars don't show up. In my party Menu hes name are showing but in him party menu my name don't show. Please help, thanks.
Im using Chrome (he too).

[2013-11-05 07:33] lemoness opened #1751 "Challenge To-Dos Not Accurate Depiction"
I went to go check out my competitor's progress in the Pixel challenge by clicking on their name - and was horrified to discover that they'd done every single To-Do except for the hue-shifting one!! I ran around in a panic, frantically trying to rearrange my schedule ("I'll pull an all-nighter fixing jaggies!") - until I clicked on my name, and saw that my display was identical and claimed that I,

[2013-11-05 08:57] jbfp commented on #1726
I get the same error when trying to edit (or "complete" a daily), so I'm available as well.

[2013-11-05 08:57] Saraii opened #1752 "Got 2 eggs when reached level 4"
When I advanced to Level 4, I was given my first egg and hatching potion for free. The other day I opened the game on another device and was again rewarded for reaching level 4 with a second egg.

Thats nice but not meant that way I guess.

[2013-11-05 09:32] BlackEdder commented on #1735
I am still getting it as well.

EDIT: I am also in the UK by the way.

[2013-11-05 11:53] s-boardman commented on #1613
@paglias It seems to have fixed itself successfully! Thanks for the help. Now I can finally get started with it. :)

[2013-11-05 11:53] #1613 closed, assigned to nobody

[2013-11-05 11:57] wc8 commented on #1728
Hm… I was going to go on Trello and suggest coloring the participants names based on performance, which would be _b-colors_ (should that be c?).

On reading this, I’d like a—sort by progress _and_ b—task-like colors. I think both would make the challenge more interesting & competitive for the participants. Helping the challenge master pick a winner is an added bonus.

[2013-11-05 15:15] DanielTheBard opened #1753 "Ability to Change Challenge Tasks Names/Descriptions"
Is it impossible to change it so that we can change the Challenge names/descriptions? I assumed it was done this way on purpose, where we can't change them. However, most of my dailies and habits, I try to keep in an RPG-style. Such as "Sift Through Tomes" instead of "15min of Reading" or "Master the Language of My People" instead of "15min of Duolingo". By not being able to change Challenge title

[2013-11-05 16:29] Laydeneko opened #1754 "iOS w/o Inn, issues with dying?"
I forgot to 'check-in' at the inn before I left for vacation on Friday.  Saturday morning (Friday night?), I tried logging into the Inn, but there wasn't an option for this when I was using the app, and I never did get the website to load.

Later Saturday, when I broke down to spend my gold and get a potion, I had the message that I was dead.  After I bought the potion.  Now the app keeps flashing

[2013-11-05 16:36] Shaners commented on #1751
Yea for some reason it is just showing the last to do (so at the top) I added to the challenge for everyone when you click on them. I've tried rearranging those to dos since they were in the wrong order but it doesn't seem to stick. Going to try rearranging and changing the tag by 1 character and see what happens.

[2013-11-05 18:33] lefnire commented on #1726
This is the error. Will diagnose when I can, just dumping here for later ref

[code]

[2013-11-05 18:35] lefnire commented on #1492
Now getting `Error: request entity too large`. It's likely because of history (this), or because of many completed Todos. https://github.com/HabitRPG/habitrpg/issues/1644 and https://github.com/HabitRPG/habitrpg/issues/1499

[code]

[2013-11-05 20:00] lefnire commented on #1543
May need to run migration, I'll revisit that if I start hearing complaints about missing achievement. They'll gain the achievement though if they die and then re-gain their armor, so it's not a fully missed bandwagon.

Yeah... beastmaster... what we could do is award it on client with the pet. It's not ideal, but currently only the website uses pets, so no other apps could trigger the award anyway

[2013-11-05 20:13] lefnire commented on #1743
fix pushed

[2013-11-05 20:13] #1743 closed, assigned to nobody

[2013-11-05 20:23] lefnire commented on #1728
Will do. Got my commit above, which is a mostly-working WIP - will revisit in the near future

[2013-11-05 20:32] #1636 closed, assigned to nobody

[2013-11-05 20:33] Mihakuu opened #1755 "Reordering dailies"
Every time I add in a new daily in the web (I have not checked if it also happens with mobile yet) all my dailies will reset to the order in which I entered them,

[2013-11-05 20:35] lefnire commented on #1522
back on master, derby's dead so whatevs on that branch. will kill rewrite after we've closed all the prs there

[2013-11-05 20:35] #1522 closed, assigned to lefnire

[2013-11-05 20:36] lefnire commented on #1512
fixed in migration

[2013-11-05 20:36] #1512 closed, assigned to nobody

[2013-11-05 20:37] lefnire commented on #1403
i think we can close this, most things are fixed or accounted for elsewhere

[2013-11-05 20:37] #1403 closed, assigned to nobody

[2013-11-05 20:39] lefnire commented on #1547
still an issue?

[2013-11-05 20:40] lefnire commented on #1737
let's follow on #1499

[2013-11-05 20:40] #1737 closed, assigned to nobody

[2013-11-05 20:41] lefnire commented on #1644
let's follow on #1499

[2013-11-05 20:41] #1644 closed, assigned to nobody

[2013-11-05 20:46] lefnire commented on #1534
@djuretic has been all over this, closing this ticket because he's awesome.

[2013-11-05 20:46] #1534 closed, assigned to lefnire

[2013-11-05 20:48] lefnire commented on #1755
#1616

[2013-11-05 20:48] #1755 closed, assigned to nobody

[2013-11-05 21:11] Shaners commented on #1522
RIP derby :bouquet:

[2013-11-05 21:25] lefnire commented on #1522
Just spent a ton of time looking for a coffin or veiled woman or something, and realized "what am I doing?"

[2013-11-05 21:52] Shaners commented on #1522
&nbsp;&nbsp;&nbsp;&nbsp;:trollface:
:muscle::point_left:

[2013-11-05 21:56] lefnire commented on #1522
Giving @zakkain a run for his money!

[2013-11-05 22:07] edmilsonrobson opened #1756 "Can't enter party"
Chrome 30.0.1, userID: "ryanmts".

I just can't enter my friends party. I click on "accept" and it seems fine, but when I leave the page and come back, the "You're invited to <party name>,  Accept/Reject" screen appears once again.

Awesome site, btw :)

[2013-11-05 23:11] tzolking commented on #1735
Having the same problem over at my account. In Firefox, IE and at Android APP.
User id is: ea1901e5-bdac-4417-8655-88748df202f1

[2013-11-06 00:08] elprohabro commented on #1753
Tyler fixed it, but still it works only if you add new task to your challenge. Then your edited tasks change to new ones.

[2013-11-06 00:11] elprohabro commented on #1753
Sorry I misled you. I was talking about task names. They don't update unless you add new task. But challenge name changes that way too.

[2013-11-06 01:11] lefnire commented on #1492
ok, I added history preening and did as much manual testing as I could. There's some rudimentary automated testing in commit ^ . Let's see if this helps cut things down

Note, it didn't fix `Error: request entity too large`, looks like that was something else

[2013-11-06 01:11] #1492 closed, assigned to lefnire

[2013-11-06 01:29] lefnire commented on #1471
Happening very often right now. TMK it's not user routes, since User isn't an ngResource, meaning the full object isn't sent up with each request.

[2013-11-06 01:35] lefnire commented on #1499
I added preen-history to user cron, I want to see if this will fix the issue for some people. Cron (next day roll-over) doesn't happen till the next morning, so y'all won't be able to check until tomorrow. Alternatively, I added a "trigger next day" button in Options > Settings > Restore, but that'll hurt your avatar - so use with digression.

The two next big things that need to happen to improve

[2013-11-06 01:55] lefnire commented on #1726
fixed

[2013-11-06 01:55] #1726 closed, assigned to nobody

[2013-11-06 02:02] lefnire commented on #1726
@MagicMicky do you use `PUT /api/v1/user/tasks` (plural)? I think I want to remove that route

[2013-11-06 06:44] deertheory commented on #1499
Hi, all,
Apologies for delayed input. I was #1737, thanks for closing & redirecting me to this thread.
My UID is 166219e2-7f70-46cf-869a-cd4990093482. Clearing completed tasks helped, but still I get crashed every now and then, including today when I went to show someone via my own screen where to find their UID.
I am not running an old or unequipped computer. ASUS G53S.
Additionally, an archive s

[2013-11-06 17:26] Shaners commented on #1303
Been playing with a fix for these. What do you guys think of this?
![rearranged-stable](https://f.cloud.github.com/assets/2374703/1484529/20458144-4708-11e3-8680-3b40b36232f9.png)
Piggies still broken in this test.

[2013-11-06 17:49] paglias commented on #1303
Great! We could add a different margin/padding or background position only for piggies

[2013-11-06 17:50] paglias commented on #1471
A group with all the members populated and 200 chat messages could be so big to break the server? Maybe if there's only a little ram avalaible

[2013-11-06 17:52] paglias commented on #1756
After you click "accept" the party is shown? Also could you check that
the request has been completed (there's a blue loading bar at the top
when a request is being made) and also if there's any error in the
console (ctrl+shit+j to open in on chrome)?

2013/11/5, Edmilson Rocha notifications@github.com:

##

Matteo Pagliazzi - paglias.net

[2013-11-06 18:15] edmilsonrobson commented on #1756
After a few minutes or so the page "remembered" my choice and my party appeared at the top of the main page. Weird... :S

But thanks :)

[2013-11-06 18:20] lefnire commented on #1471
512 RAM. You could right actually, since it's an ngResource it also sends up the populated members - in the case of parties, that could be pretty big. If many guilds / parties are chatting at once.... ok I'll look into this possibility first

[2013-11-06 18:21] Shaners commented on #1303
Here's an alternative that keeps the same spacing but moves the tooltip down, with bonus coloured box!
![rearranged-stable002](https://f.cloud.github.com/assets/2374703/1485058/2342062c-470f-11e3-87db-a7f6fdea929a.png)
![rearranged-stable003](https://f.cloud.github.com/assets/2374703/1485095/e3acb38a-470f-11e3-94a2-ed4e5b6fb06e.png)

[2013-11-06 18:25] #1756 closed, assigned to nobody

[2013-11-06 18:40] lefnire opened #1757 "challenge dailies not down-scored on user cron"

[2013-11-06 18:46] paglias commented on #1471
This could be related to #1742, given how ngResource is implemented the
only way not to send the whole model is to use class level method, not
ideal but doable
Il 06/nov/2013 19:20 "Tyler Renelle" notifications@github.com ha scritto:

[2013-11-06 18:53] lefnire commented on #1471
Class-level method is just fine, IMO. Good call!

[2013-11-06 19:24] lefnire commented on #1499
I've started a branch called `remove-task-classes`. First commit there is using a filter instead of taskClasses to show/hide completed todos. Alternatively we could use ui-router, or even break `user.todos` into `user.todos, user.completed`.  That commit above I think might be a bit iffy though, I think {completed: true/false} check won't always give expected results for non-todos. thoughts @pagli

[2013-11-06 19:38] paglias commented on #1471
Done for groups in https://github.com/HabitRPG/habitrpg/commit/a4951e151c93a848f5fcdd592bc97a36b2b24397, for everything except for $join which doesn't send anything big to the server and $save, we could remove the chat from it before sending but:

a-) we can't set group.chat = undefined untile we copy the group object to another var with angular.copy before doing that
b-) if something is updated s

[2013-11-06 21:48] Shaners commented on #942
Thanks!

Playing with some egg redesigns:
Lion:
![lion_egg](https://f.cloud.github.com/assets/2374703/1487001/caea1c4e-472c-11e3-8e3c-1dd5aee3242f.png)
Fox:
![fox_egg](https://f.cloud.github.com/assets/2374703/1487005/d1c758ec-472c-11e3-811a-a93331cf7cd1.png)
Flying Pig:
![flypig_egg002](https://f.cloud.github.com/assets/2374703/1487008/dbd7fcd8-472c-11e3-853d-7b71b9414fc1.png)
Flying Pig again:
!

[2013-11-07 03:04] SabreCat commented on #1303
I dig the positioning you've got going with the final iteration here! The colored background is a little hard to read on Golden, though, at least with my subpar monitor.

[2013-11-07 03:07] SabreCat commented on #942
I don't have the same trouble with the current designs, but I find the snouted pig egg hilarious. ^.^

[2013-11-07 03:16] SabreCat commented on #1751
Not sure if this is the same thing I'm seeing--only the first task of each type shows up when peeking in at a participant's status. I created a Pomodoro challenge today, which looks like this (not sorted the way I wanted it to be, but that's another known issue):

![screenclip](https://f.cloud.github.com/assets/4501321/1488887/e6030b66-475a-11e3-9c58-98317434a8a2.png)

However, if I click any part

[2013-11-07 03:19] SabreCat opened #1758 "Can't see days active for Challenge dailies"
When previewing a Challenge, or once I've signed up for it, the Dailies don't include information on what days they're active. I created a Pomodoro challenge today, which has its stuff active on weekdays by default, but all I see on the subscribed task is this:

![screenclip](https://f.cloud.github.com/assets/4501321/1488907/60d75bee-475b-11e3-84d6-5b2795d6cdbe.png)

[2013-11-07 03:21] SabreCat opened #1759 "Potions and eggs are in the wrong order for suggested workflow"
The new help text for egg hatching is great! But the current arrangement of the page is backward for it. The workflow described is to first click potion, then click egg; that'd be perfectly intuitive if the potions were just beneath the help text, then the eggs. Instead (especially with lots of accumulated drops) you have to go down to the bottom for the potion, then back up for the eggs.

[2013-11-07 05:57] Shaners commented on #1759
Yea I'm a little confused because you can click on an egg first as well no? Why click on a potion first?

[2013-11-07 06:18] Shaners commented on #1751
Yea I believe it's the same thing.

[2013-11-07 06:47] rjalan63 commented on #1543
Hello,
I've bought all the available armor but haven't unlocked the ultimate gear achievement.
My user id: 9cd6a408-fe6f-4425-a1d7-db18a650e800
What am I missing?

[2013-11-07 10:36] Everyst opened #1760 "Mobile app challenge dailies can have their active days changed"
On the website you can't change what days your dailies gotten from challenges are active. But you can change them from the mobile app (running on Android), which sets them for the website too. It's neat to be able to change them but probably not intended behaviour.

[2013-11-07 10:37] Everyst commented on #1759
Perhaps the text should be changed and the page left the same. For me it makes more sense to choose what to hatch and then it's colour, not the other way around.

[2013-11-07 10:39] Everyst commented on #1758
I think this is so that participants can't change the days. You can change them from the mobile app, however (which I believe is a bug so I reported it).
They could be made visible but not editable maybe?

[2013-11-07 15:59] MagicMicky commented on #1726
Thanks a lot for this fix!

@lefnire No, I don't think I use PUT /api/v1/user/tasks. Isn't this the route to do batch updates?

[2013-11-07 16:48] bobbyroberts99 commented on #1759
I agree that the hatching process is a little confusing. I suggested the change because I thought it made it more clear, but I see what you mean.

Would it be easier and clearer if  when you click an egg it highlights all potions that can be used on it and if you already have that pet the potions don't turn green? We could leave the layout as is and players wouldn't have to switch to Inventory to

[2013-11-07 16:49] SabreCat commented on #1759
In my experience, clicking the potion first shows me a lot more
possibilities than the other way around. It's more pronounced for me given
that I've been collecting pet items for a while, but the nature of drop
probabilities (all eggs having even chances, potions having scaled rarity)
is going to trend things that way for everybody--I'm not an aberrant case.

Plus it makes sense in the imagined si

[2013-11-07 16:50] SabreCat commented on #1758
Agreed: visible but not editable is the way to go.

[2013-11-07 17:04] Shaners commented on #1759
I'm in the camp of choose the pet type then choose the colour, so egg then the potion to pour on it. I've never really though hmm I want some red pet then picked the pet type.

Isn't this already happening? But I guess it's less likely to have a useable potion so the highlighting will happen a lot less.

What if we said something like: Click an egg and the useable potions will be highlighted below

[2013-11-07 17:12] bobbyroberts99 commented on #1759
@Shaners, I like your suggested text. You're right, it works both ways. For some reason, I thought it didn't. Oops! Do you want to do a PR or shall I?

[2013-11-07 17:25] Shaners commented on #1759
@bobbyroberts99 feel free to go for it! (The PR.)

[2013-11-07 18:05] bobbyroberts99 commented on #1759
@Shaners, I tweaked the language a bit. If still unclear, I'll try again or feel free to edit.

[2013-11-07 18:48] bobbyroberts99 commented on #1759
One last note: I'm new to GitHub and don't really understand it yet. My commit got added to a previous pull request. I'm guessing @lefnire will see that the PR has been modified but I'm not really sure. I'm guessing we're all good. If not, let me know if there's something else I need to do.

[2013-11-07 19:30] paglias commented on #1759
@bobbyroberts99 your commit got added to your previous pull request because it was made on the same branch, you should probably create a new branch in order to have a new pull request, usually a new pr is created for different features

[2013-11-07 19:45] lemoness commented on #942
I definitely like the new lion and fox better! Agreed that the snouted flying pig is hilarious. I might even make it a little more obvious ;p

[2013-11-07 19:45] lemoness commented on #1751
Looks just like it to me.

[2013-11-07 19:53] Shaners commented on #942
Good enough for me! Going to replace them tonight.

[2013-11-07 20:22] hattieshoe opened #1761 "Typo in "clear completed to-dos" message"
Not a huge deal, but in the "clear completed to-dos" reminder box, when you hover over the question mark and the message pops up, it says "Be sure _ot_ clear them periodically."

[2013-11-07 21:24] ahrisah commented on #1499
Hi, I've been having this issue for like 3-4 weeks now. I use chrome and I can't get my habit to load for the life of me. I read through this thread and using the mobile iOS app I checked all of my to-dos to see if that would get it working again. alas, there hasn't been much improvement. I've been meaning to go ahead and reset my account and start fresh but haven't been able to do anything.
 my u

[2013-11-07 21:25] paglias commented on #1499
You should try deleting all your completed todos
Il 07/nov/2013 22:24 "ahrisah" notifications@github.com ha scritto:

[2013-11-07 21:30] bobbyroberts99 commented on #1759
Thanks @paglias for trying to help, but now I can't even sync a new commit (slightly different from ba2b37d) from my mac GH client. Not sure what I did, but for now I think I'll head back to the wiki. Hope I didn't create too much of a mess.

Here's the revised instruction. Feel free to change it:

Click an egg to see usable potions highlighted in green. Click that egg again to deselect it, and, i

[2013-11-07 22:41] lefnire opened #1762 "Restore saves achievements.streak as an object when !exists"
when `!achievements.streak`, restore modal saves it as `{}` which causes server errors
## <bountysource-plugin>

Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/1386175-restore-saves-achievements-streak-as-an-object-when-exists?utm_campaign=plugin&utm_content=tracker%2F68393&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://w

[2013-11-08 01:38] nathyong commented on #1736
It appears to be an issue with the layout code using the internal name (which has no spaces) instead of the screen name. Since the name has no spaces it doesn't wrap longer potion names. So no, it doesn't look related to #1028..

[2013-11-08 01:40] lefnire opened #1763 "CastError: Cast to number failed for value "NaN" at path "value""
Still getting this periodically (currently for user a4098714-0837-4305-8076-da0b36f6d8ee). Looks like TaskSchema.value still sometimes gets set to NaN, even after I ran a migration to manually set all NaNs to 0. Don't know how this can be, when the Schema ensures that everything gets cast into the database as a Number

[code]

[2013-11-08 06:06] AdrienLemaire commented on #942
Hello there,

I have no experience with pixel art, and no sense of designing, but I'd like to get the contributor achievement and access contributor gears.

So because my favorite pet is currently the zombie lion, and the mount doesn't look as cool (for me), I tried to tweak it a little:

![zombie-lion](https://f.cloud.github.com/assets/260983/1498584/3a15c1f4-483b-11e3-815a-e00370fae3a9.png)

I m

[2013-11-08 06:09] LordDarkly commented on #942
I like it! Definitely an improvement on the old version, I especially like the tweaks to the hair.

[2013-11-08 07:01] DanielTheBard commented on #968
Started trying to work on a possible tavern song but it grew into something too dark, I think. Maybe more suited for death music? https://soundcloud.com/daniel_medeiros-1/death-music-idea

Edit: Plus, a slower tempo version: https://soundcloud.com/daniel_medeiros-1/death-music-idea-slower

[2013-11-08 09:43] AdrienLemaire commented on #942
@LordDarkly Thank you :D

I also tried to play and create my own pet, to see if I could manage something. Here is my **baby sabertooth**:

![little-sabertooth](https://f.cloud.github.com/assets/260983/1499460/40cef35c-485a-11e3-888b-83d37b8be650.png)

What do you think ?

[2013-11-08 14:20] filkaris opened #1764 "Party Chat Error 500 (and party accept invitation)"
User ID: f210735b-1bea-48ab-a7a3-d3e690a8dde7

Google Chrome Version 27.0.1453.110
and the same error occurs in
Mozilla Firefox 25.0 (for ubuntu)

I get this error when I try to "Send Chat" in the party.
![screenshot](https://f.cloud.github.com/assets/1624978/1500780/ddf9649e-487f-11e3-85ff-34dfb1bde25c.png)

The Console shows this:
![screenshot-1](https://f.cloud.github.com/assets/1624978/1500792

[2013-11-08 14:38] Pandoro commented on #942
Looks cool, maybe a bit more schading? But this is a taste thing. Did you
make sure it fits size wize? Because it looks rather big, but I might just
have lost the feeling for these things.

On Fri, Nov 8, 2013 at 10:43 AM, Adrien Lemaire notifications@github.comwrote:

[2013-11-08 16:16] paglias commented on #1736
@nathyong yes, the inventory page uses a different text from the original potion name (it uses potion.name instead of potion.text)...

[2013-11-08 16:23] #1761 closed, assigned to nobody

[2013-11-08 16:23] paglias commented on #1761
Thanks @hattieshoe, fixed!

[2013-11-08 16:42] #1758 closed, assigned to nobody

[2013-11-08 16:43] paglias commented on #1758
Fixed, @Everyst I'll push a similar fix for mobile now

[2013-11-08 16:45] paglias commented on #1543
@rjalan63 did you bought them now (or some days ago) or a lot of time has passed since you bought them?

[2013-11-08 16:49] lefnire commented on #1543
@rjalan63 I updated your profile manually for now. Tried reproducing the error on a new user, no cigar.. hmmm

[2013-11-08 16:53] paglias commented on #1760
fixed in https://github.com/HabitRPG/habitrpg-mobile/commit/82fc5dd0791c212829d0a861e2ba2d6cf808cfe4, may take a while to land on google play and the app store (1 week more for ios usually)

[2013-11-08 16:53] #1760 closed, assigned to nobody

[2013-11-08 16:55] lefnire commented on #1760
awesome thanks @paglias! I'll cut a release after we get contrib gear in there too, should be today

[2013-11-08 17:03] snicker commented on #1544
Looks like this one should be closed?
![image](https://f.cloud.github.com/assets/221540/1502254/00328938-4898-11e3-9357-006b045e4eb4.png)

[2013-11-08 17:05] paglias commented on #1544
Right @snicker , closed!

[2013-11-08 17:05] #1544 closed, assigned to nobody

[2013-11-08 17:05] nafoster commented on #1303
For Golden, try making the text black or a dark grey. Other than that, these tooltips look awesome!

[2013-11-08 17:52] paglias commented on #1742
@lefnire I didn't do anything for challenges like I did for groups (using class methods) because the only two methods are $join and $leave, they require a little of works so will do them later but anyway they don't send anything big to the server (usually).

The big problem with challenges regarding performances is another and it's the number of requests made:

### Leaving a challenge

2 request b

[2013-11-08 17:53] Shaners commented on #942
Yep a little too big but a sabertooth is a really cool idea for a pet!

[2013-11-08 18:59] Shaners commented on #1759
@bobbyroberts99 https://github.com/HabitRPG/habitrpg/pull/1765 some tweaks to what you had above, hopefully this makes sense.

[2013-11-08 19:07] ghost opened #1766 "Beast Master Achievement"
After reaching 90/90 Pets the Beast Master achievement is not unlocked.

[2013-11-08 19:11] UffishThought opened #1767 "Dailies randomly not resetting with new day"
Sometimes (like today) when I log in in the morning, all the dailies I checked off the day before are still greyed out. They should reset at 2am, but occasionally (maybe once every week or two)  they don't. Any idea why not?

[2013-11-08 19:14] paglias commented on #1767
Did you checked them after midnight maybe?

[2013-11-08 19:18] UffishThought commented on #1767
Some of them, sure. But not all of them. And I should have until 2am to check them, anyway.

[2013-11-08 19:21] paglias commented on #1767
ok follow on #1057

[2013-11-08 19:21] #1767 closed, assigned to nobody

[2013-11-08 19:39] RosemonkeyCT commented on #942
I've read this whole thread through, and I think I have an idea for a pet, but I'm nervous about my skills when it comes to pixel art. If it's not good enough can someone help me a little?

[2013-11-08 19:43] lefnire commented on #1766
Oh my god! Your'e the first!! Ok, I'll look into this. We should celebrate you in tavern though :) Gimme your UUID for now so I can manually set your achievement while looking into the issue

[2013-11-08 19:46] ghost commented on #1766
I don't think I deserve the achievement, I was cheating to see if the achievement worked.

[2013-11-08 19:48] paglias commented on #1766
@Deterous it's still to be implemented, see https://github.com/HabitRPG/habitrpg/issues/1543

[2013-11-08 19:54] RosemonkeyCT commented on #942
My pet is so small!

![frog large](https://f.cloud.github.com/assets/5843898/1503713/65527000-48af-11e3-8fac-b55d0c5feb19.png)

I was thinking a frog for the little pet, and something more like a gecko for the mount version. I just like frogs =)

[2013-11-08 20:01] lefnire commented on #1766
@Deterous scoundrel! JK, glad you tested it :)

[2013-11-08 20:04] ghost commented on #1766
With the trigger new day button, it took ~600 virtual days to get all 90 pets.

[2013-11-08 20:28] LordDarkly commented on #942
Haha, looks like the contributor armor is attracting quite a few people! Nice to see all the submissions coming in.

[2013-11-08 20:37] Shaners commented on #1766
haha

[2013-11-08 20:42] lefnire commented on #1759
normally "whatever" when PRs have accidental other commits. 2 birds 1 stone! But the first commit isn't ready for prime time. I'll merge @Shaners PR (which has your wording update, @bobbyroberts99), and will up Bob's contrib lvl. Let's count #1724 broken, I want to keep it up so we have it to reference when adding to the menu options, but note to devs not to merge

[2013-11-08 20:42] #1759 closed, assigned to nobody

[2013-11-08 20:42] RosemonkeyCT commented on #942
What contributor armour? =/

[2013-11-08 20:43] lefnire commented on #1766
Yeesh, I'd better remove that button. Only other time someone mentioned using it was on accident

[2013-11-08 20:43] lefnire commented on #942
@RosemonkeyCT tavern, left side

[2013-11-08 20:45] RosemonkeyCT commented on #942
Oooooh, that's pretty ^^

[2013-11-08 20:52] nafoster commented on #942
@Shaners Those egg redesigns are great! The second Flying Pig egg is my favorite. It's simple but cute.

[2013-11-08 20:52] LordDarkly commented on #942
Agreed, the lion egg in particular is a real improvement.

[2013-11-08 21:11] AdrienLemaire commented on #942
@Pandoro @Shaners I worked in a 18 \* 24 \* 3 canvas and the baby sabertooth real size is 51 \* 60. Trello defines the soft limit to [81 \* 99](https://trello.com/c/0rXlKkwl/255-pets), so I think it's not too big, right ?

Here is a version with some shading

![little-sabertooth](https://f.cloud.github.com/assets/260983/1504289/32acb40c-48ba-11e3-995f-0e1c05d445b2.png)

fyi Pandoro in your [tutori

[2013-11-08 21:14] Shaners commented on #942
Thanks!

@RosemonkeyCT absolutely we'll be able to help you, thanks for taking the time to make a submission! Your frog is looking cute but the head may be a bit large and some of the limbs could use their form better defined. If you want to check out how other pixel artists have solved the same problem you can always google [Pixel Frog](http://www.google.com/images?q=Pixel+Frog) to get some inspi

[2013-11-08 21:17] RosemonkeyCT commented on #942
I'll figure it out some more =)

[2013-11-08 21:28] Shaners commented on #942
@Fandekasp it's generally better to work at 1x zoom, with a 1 pixel sized pencil brush at 100% opacity, and output at 3x zoom nearest neighbor. The height of the saber is a bit larger than the standard wolf. I think this can be fixed by adding a little perspective to the body since we are kind of using a 3/4ths top down view. This can be done by lowering the head, raising the hind legs, and maybe

[2013-11-08 21:30] AdrienLemaire commented on #942
thanks for the tips, I'll look into it :)

[2013-11-08 21:36] paglias commented on #1543
@lefnire if you plan to write a migration to award beast master achievements it may be a good chance to also remove those undefined pets from users

[2013-11-08 21:44] RosemonkeyCT commented on #942
Attempt 2 - trying to make him less happy... is this a bit better?

![frog2 large](https://f.cloud.github.com/assets/5843898/1504515/fd015b5a-48be-11e3-8b6a-0463435cf3a0.png)

[2013-11-08 21:57] bobbyroberts99 commented on #1759
@lefnire, thanks for bumping my contrib level, but all I did was make
work for people on this one. @shaners wrote the revision and submitted
it. If you want to count the original commit (and whatever my wiki work
is worth), that would be fine. You could also not count the first commit
because it more or less was an incorrect first draft (and learning
experience). Whatever you're comfortable with.

[2013-11-08 21:58] lefnire commented on #1471
awesome! you've covered most of these cases. I haven't seen the error for a while now, I'm going to close and re-open if I see again

[2013-11-08 22:02] lefnire commented on #1726
cool beans, thanks @MagicMicky

[2013-11-08 22:04] lefnire commented on #1543
I believe all the undefined pets have been removed - have you seen them still?

[2013-11-08 22:05] RosemonkeyCT commented on #942
Just read the above comment, ignore the eyes - I'll make them more like the first frog's eyes.

[2013-11-08 22:10] paglias commented on #1543
My pets count says 35 but I only have 34, 2 of which are rare pets, so I
believe I have some undefined ones

[2013-11-08 22:28] ghost commented on #1766
The achievement has appeared on my profile, so it appears to be fixed.

[2013-11-08 22:28] #1766 closed, assigned to nobody

[2013-11-08 23:30] RosemonkeyCT commented on #942
I had a go at what the full set might look like, to see if it sort of works -

![full set](https://f.cloud.github.com/assets/5843898/1505140/c41b8cfc-48cd-11e3-91f8-e11e43122dd1.png)

[2013-11-08 23:44] LordDarkly commented on #942
Not bad, they all turned out quite nicely. I'd only make the outline a bit lighter on the base frog, but other than that, I can definitely see these working well in the game.

Nice job.

[2013-11-09 00:18] RosemonkeyCT commented on #942
I did before, but I was trying with the black outline like the original pets. And thank you, I'm still very new to pixel art but I love doing it, and these were fun to work on =)

[2013-11-09 00:38] Shaners commented on #942
Oh yea these are looking pretty cute, I like the horizontal eyes.

[2013-11-09 01:35] AdrienLemaire commented on #942
New version following @Shaners comments
![little-sabertooth-2](https://f.cloud.github.com/assets/260983/1505618/3ab9b4ae-48df-11e3-801e-cb37124983f9.png)

And here an attempt for the mount version:

![sabertooth-mount](https://f.cloud.github.com/assets/260983/1505768/da459332-48e7-11e3-943b-5cf5531fcbae.png)

[2013-11-09 02:31] rjalan63 commented on #1543
@lefnire thanks for fixing it! I'll let you know...

[2013-11-09 02:32] Draayder commented on #942
I made a quick hare.
![image](https://f.cloud.github.com/assets/5893391/1505766/c775c3da-48e7-11e3-9a58-7389cc0ccd79.png)

Any suggestions?

[2013-11-09 02:38] lefnire commented on #1543
Oh, that was all pag!
On Nov 8, 2013 6:31 PM, "rjalan63" notifications@github.com wrote:

[2013-11-09 03:04] bobbyroberts99 opened #1769 "Add gems to local database without paying"
I'd like to be able to use gems on my local copy and and be able to take screen shots for the wiki. Is there a way to do this?

[2013-11-09 03:08] lefnire commented on #1769
you'll have to enter a MongoDB query:
`db.users.update({_id:YOUR_ID},{$set:{balance:10000}})`

[2013-11-09 06:14] busterroni commented on #942
Hey guys, I'm currently working on a weasel. It's 27x24 and it seems to look fine. When I upload it here it's really small, and I'm not sure why.

Upload:
![weasel-habit](https://f.cloud.github.com/assets/3424032/1506034/2ba98922-4906-11e3-8868-015b9717ed28.png)

Screenshot of what it's supposed to look like (zoomed in):
![screen shot 2013-11-09 at 1 14 26 am](https://f.cloud.github.com/assets/342

[2013-11-09 07:11] AdrienLemaire commented on #942
busterroni, pets must have 3x pixel zoom, and you uploaded the 1x version

[2013-11-09 08:53] Ohrange commented on #1578
New development... After letting the character die the daily turned into a 'habit'. Neither + or - button did anything when pressed but the item was able to be deleted and now seems to be gone.

![image](https://f.cloud.github.com/assets/5556164/1506296/f7537668-491b-11e3-8f9b-25bc0045a775.png)

[2013-11-09 11:36] RosemonkeyCT commented on #942
Ohhh, I love the sabertooth pet! I don't know how mounts are supposed to be, but as an image that saber looks brilliant!

Is it worth me trying to figure out the mount for mine? Little things I can do, bigger ones are more tricky.

[2013-11-09 13:29] DraguMaki commented on #1308
Hey, how about Easy - wooden/bronze sword, Medium - Silver sword, Hard - Gold sword?

PS: Hello. :P

[2013-11-09 13:45] DraguMaki commented on #942
The list with the "Habit RPG Pets Gen 2" title is totally awesome! I was gonna give my vote to all of those. :D
You have my sword. :D

[2013-11-09 14:16] AdrienLemaire commented on #942
Thank you RosemonkeyCT :)

Here is the family of baby sabertooth.

![little-sabertooths](https://f.cloud.github.com/assets/260983/1506797/4583912e-4949-11e3-831a-8657c7a5355b.png)

Please let me know if the mount is good enough so I can work on the other colors as well.
Feel free to give me any advise/critic so I can improve my work ! thanks :)

[2013-11-09 16:58] DanielTheBard commented on #1754
Yep, there's no check in tavern option yet for the iOS app. Bit of a problem. Not sure about the flashing dead part though.

[2013-11-09 17:05] Draayder commented on #942
![bunny](https://f.cloud.github.com/assets/5893391/1507045/b0a2cabc-4960-11e3-8cf5-914d0c58571b.png)
![white bunny](https://f.cloud.github.com/assets/5893391/1507047/bcd3325e-4960-11e3-9039-3dd6427b2dbc.png)
![desert bunny](https://f.cloud.github.com/assets/5893391/1507048/c25eb0f4-4960-11e3-92cb-64dcf55231ae.png)
![red bunny](https://f.cloud.github.com/assets/5893391/1507049/ca91f9fc-4960-11e3-83

[2013-11-09 17:19] SabreCat opened #1771 "Double gems!"
When contributor rewards went live, I got 40 Gems, far more than the 14 expected for tier 7. So I used the admin console to reduce my Gems total to 14. This morning, when I logged in, I had 28 Gems. Somehow they got doubled...?

UID 7f14ed62-5408-4e1b-be83-ada62d504931 on beta.habit.

I'll keep an eye out, see if my 28 becomes a 56 next cron... xD

[2013-11-09 17:25] SabreCat opened #1772 "Saving an edit to an active Challenge turns user buttons into dashes"
If you own a challenge, have some participants, Edit the challenge, and Save, the "How's Everyone Doing?" area collapses the users' buttons into little dashes without names:

![screenclip](https://f.cloud.github.com/assets/4501321/1507095/ea6841b6-4963-11e3-8e0d-d9efec45dd3d.png)

Win7 - beta.habit - Firefox - No JS errors.

[2013-11-09 17:30] lefnire commented on #1772
Ah, it's just ngResource not returning the full populated challenge object on update. Refresh will fix, will look into soonish

[2013-11-09 17:32] lefnire commented on #1771
I just gave you a boat load because you're Sabe. You fixed them, then I actually ran a migration to give all the current contribs gems according to their level. Because you manually set yours before that migration, it didn't take that into account. Nobody else (maybe save Lemon & Paglias) were effected

[2013-11-09 17:32] #1771 closed, assigned to nobody

[2013-11-09 17:32] SabreCat opened #1773 ""Close" is not a good name for button to end Challenge"
When you Edit a challenge you own, you see three buttons: Save, Cancel, and Close.

![screenclip](https://f.cloud.github.com/assets/4501321/1507103/821326f2-4964-11e3-81e3-a994e23218b9.png)

I was perplexed by these at first, because "Cancel" and "Close" mean very similar things, by UI convention. I wondered why we had two buttons to do the same thing, and worried that Close wasn't clear whether i

[2013-11-09 17:33] kriscrat commented on #942
I love the bunnies! 

From my Android phone on T-Mobile. The first nationwide 4G network.

-------- Original message --------
From: Draayder notifications@github.com
Date: 11/09/2013  9:05 AM  (GMT-08:00)
To: HabitRPG/habitrpg habitrpg@noreply.github.com
Cc: kriscrat ms.riggin@gmail.com
Subject: Re: [habitrpg] Pixel Art Thread: Pets & Mounts (#942)

here's my assortment of colored rabbits, let me

[2013-11-09 17:33] SabreCat commented on #1771
Oh, hilarious. Thank you, then! OK, I'll reset my Gems to the 40 you wanted me to have!

[2013-11-09 17:37] lefnire commented on #1773
fixed

[2013-11-09 17:38] lefnire commented on #1773
(woops, didn't tag properly in commit msg: https://github.com/HabitRPG/habitrpg/commit/8c83bc6ad2fc167a558d120e47f6917655e0f525)

[2013-11-09 17:38] #1773 closed, assigned to nobody

[2013-11-09 17:39] lefnire commented on #1771
alas, can't reset gems in admin anymore. will add back in, in the future - for now, upping a contrib level manually handles gems. I can set in DB for you if you want :)

[2013-11-09 17:40] SabreCat commented on #1771
Ack, yeah, I just discovered that. Please do, if that's your intent!

[2013-11-09 17:43] paglias commented on #1771
Not doubled but gone from 64 to 80

[2013-11-09 17:45] paglias commented on #1771
Oh, didn't see the comments following @SabreCat 's one

[2013-11-09 17:47] bobbyroberts99 commented on #1771
I should have 33 but now have 39. Stats say I'm a "Friend" but I can't tell if 1 or 2. Seems like if I'm Level 2 that I should just have received 2 (for a total of 35).

[2013-11-09 18:02] SabreCat opened #1774 "Clicking Guild Gems does nothing"
Now that I've got a few Gems (#1771 haha), I'd like to put some into the bank of the Guild I'm running, especially since I'm considering handing over leadership of the Guild to someone else. But clicking Guild Gems does nothing. This appeared in the JS console but may be unrelated:

[11:59:17.322] Unexpected value xMidYmid meet parsing preserveAspectRatio attribute. @ https://apis.google.com/u/0/_

[2013-11-09 18:07] paglias commented on #1774
It seems like it's not implemented, here what is the supposed behavior? Possibility to move gems from user account to guild, to buy gems directly for the guild or both?

[2013-11-09 18:10] lefnire commented on #1774
Yeah I haven't implemented this yet - I figured it would be a pretty rare edge case, since only guild leader can dip into guild bank, and it deducts the excess (challenge prize) from leader's gems. The only case this would be useful IMO is exactly what @SabreCat described - want to xfer ownership and leave the new leader with some cash. I'm gonna prio-minor this, but put it on the docket

[2013-11-09 18:13] SabreCat commented on #1774
It can also be a discipline/accountability thing. "I want to make sure I don't use up these Gems on potions and such--I should save some for the Guild." Also the visibility of those Guild Gems to guild members is useful for generating some chatter about challenges.

[2013-11-09 18:23] paglias commented on #1769
@lefnire the addTenGems route isn't executed... https://github.com/HabitRPG/habitrpg/blob/develop/src/routes/api.js#L40, it isn't registered as a route because unless tou export in the shell `NODE_ENV` manually it is undefined, we could use `app.get('env')` but `app` isn't accessible from the router actually. Would it be ok use `nconf` to get the environmento from `config.json`?

[2013-11-09 18:27] bobbyroberts99 commented on #1769
Sorry that I gotta ask so many questions, but where do I type db.users.update….? I checked out mongo docs, but I don't see it.

[2013-11-09 18:29] lefnire commented on #1769
@paglias yeah, nconf is legit to use there. @bobbyroberts99 you'll want to use [mongoshell](http://docs.mongodb.org/v2.2/mongo/). You on mac or windows?

[2013-11-09 18:29] paglias commented on #1769
@bobbyroberts99 from the terminal you should be able to access the mongodb shell typing `mongo` then you should select the database where habitrpg is hosted, in my case it's `habitrpg`, using `use dbName` then you should be able to type `db.users.update....`.

[2013-11-09 18:31] #1769 closed, assigned to nobody

[2013-11-09 18:32] paglias commented on #1769
@bobbyroberts99 now if you update your local copy to the latest commit you can use the button in the footer to add 10 gems with a click

[2013-11-09 18:49] lefnire commented on #1744
@paglias looks like bootstrap-tour requires jquery.cookie, even if it doesn't use it (we're using localStorage tmk). http://gyazo.com/b402fcebf03a9e590f2e8b5e4ee63b19 . Can you add back in?

[2013-11-09 18:51] bobbyroberts99 commented on #1769
I synced develop and reloaded and still get a 404.

For mongo, I get this

![name001](https://f.cloud.github.com/assets/4084120/1507244/bc038a86-496f-11e3-89a9-5b40b512d7c6.jpg)

How do I fix those warnings?

[2013-11-09 18:53] lefnire commented on #1769
Gotta put UUID in quotes. ({_id:"23b…"

On Sat, Nov 9, 2013 at 10:51 AM, Bob Steffes notifications@github.comwrote:

[2013-11-09 18:54] paglias commented on #1744
Yes, i noticed that. I added it back some time ago, don't remember the
commit but it's in public/manifest.json

[2013-11-09 18:55] lefnire commented on #1744
Ah, I'm stupid - npm & bower. _face palm_

[2013-11-09 18:55] #1744 closed, assigned to nobody

[2013-11-09 19:04] samjross opened #1775 "Easy Coin Farming?"
In my Dailies, if I click 'Completed' and then click it again to make it 'uncomplete', and then 'Completed' again, it gives me one silver coin more every time I hit completed than I lose every time I hit uncompleted.

[2013-11-09 19:12] bobbyroberts99 commented on #1769
Still have 0 gems. Does it have anything to do with the soft limits warning?

![name002](https://f.cloud.github.com/assets/4084120/1507288/c76f592e-4972-11e3-991d-e4f6e835c33c.jpg)

[2013-11-09 19:18] SabreCat opened #1776 "Difficulties are available to assign to Rewards"
Difficulties are a multiplier on task value, for how hard a Habit, Daily, or To-Do is. They have no effect (or obvious meaning) for Rewards... but you can still edit them:

![screenclip](https://f.cloud.github.com/assets/4501321/1507298/a7b47d02-4973-11e3-8117-97c257b42e44.png)

[2013-11-09 23:48] lefnire opened #1779 "Pets overhaul (mounts prep)"
@paglias & @Shaners, heads up on a big overhaul coming to Pets: https://github.com/habitrpg/habitrpg/compare/ddd45d76d4c169e91defd8c81a01ec58ba4a0c62...085919c000d87ef48165b5461d94e21e14b35bf6 . The important piece is the [UserSchema.items refactoring](https://github.com/HabitRPG/habitrpg/commit/60421a85cccd0250609be42ef8a21eb436df635d) (the rest of the code simply supports this change, so you can

[2013-11-09 23:57] #1779 closed, assigned to nobody

[2013-11-10 02:19] DanielTheBard commented on #1776
Yup, seeing that as well.

[2013-11-10 03:14] Shaners commented on #1775
Duplicate of #964

[2013-11-10 05:43] SabreCat opened #1781 "Could use select/clear all in Challenges navigation"
If you're a member of several groups, it takes several clicks to filter down the Challenges list to just one group you're interested in (say, your party, or the Tavern). It'd be handy to have a select/deselect all button or checkbox so you can get the full list / clear the list and select one, in just a couple of moves.

[2013-11-10 07:26] AdrienLemaire opened #1785 "Party invitation"
# Issue
- When I was in a party and got invited to another party, I didn't get any notification.
- When I left my party, I still didn't see any notification.

I have to ask the other party owner to reinvite me again.
## Possible Solution

Show invitations even if we are in a party. If clicking "Accept", it would make us leave our actual party, and join the new one directly.
## <bountysource-plugin

[2013-11-10 08:53] Shaners commented on #1779
Hmmm I feel like we need to map this out, it may make the solutions more obvious. I can give it a go but I'm not too familiar with mongo so I'll have to learn a bit to map the physical data model.

To do:
- Identify entities
- Define business rules (relationships)
- Define cardinality
- Magic Box View (conceptual model)
- Logical Data Model (ERD)
- Physical Data Model

[2013-11-10 15:58] #1775 closed, assigned to nobody

[2013-11-10 16:36] paglias commented on #1776
Fixed in https://github.com/HabitRPG/habitrpg/commit/e711258ced7e946a15b7305be0aaa0d7d9e4a0df

[2013-11-10 16:36] #1776 closed, assigned to paglias

[2013-11-10 16:39] lefnire commented on #1779
Oh, you mean for the possible "naming pets" component. Yes, good call

[2013-11-10 16:55] paglias commented on #1779
@lefnire just one thing, does this mean every user will store all avalaible pets as `petName: 0` until they own it?

[2013-11-10 17:14] lefnire commented on #1779
@paglias Not at the moment. I didn't add a `{'default':0}` property, so right now it stores as: `eggs: {Dragon: 3, Cactus: 1}` (only storing what's owned) and if I hatch my cactus egg, it stores as `eggs: {Dragon: 3, Cactus: 0}`. Angular views treat `null` & `0` both as falsey, so it works out well.

So this format is more lean - only storing what we need to store. If we decide we should have all

[2013-11-10 17:21] paglias opened #1786 "Angular 1.2.0 stable is broken"
@lefnire just a reminder that angular 1.2.0 is broken.

They "decided" that all properties starting with a `_` are to be considered private so they can't be used inside the templates.

It brokes a lot of thing and I don't feel we can change this easily.

The error is this http://docs.angularjs.org/error/$parse:isecprv?p0=_id and I really hope they'll revert the commit (https://github.com/angular/a

[2013-11-10 17:41] lefnire commented on #1786
Ohhh shoot.. Derby made that decision in 0.5 as well, yeah we're using `._` in many places. Good to know, thanks for the heads up - I'll start thinking about this

[2013-11-10 17:45] rjalan63 commented on #1543
@lefnire I can't seem to unlock any golden potions. I thought you could get those once you get all the armor. Or is it completely random? I'm up to 53 pets now.

[2013-11-10 17:47] lefnire commented on #1543
@rjalan63 golden pots are more rare than the rest. See [this wiki](http://habitrpg.wikia.com/wiki/FAQ#I.27m_Getting_More_Potions_Than_Eggs_.28or_Vice_Versa.29) which has distribution details

[2013-11-10 18:06] busterroni commented on #942
@Fandekasp how do I do that? I'm working on Photoshop.

Nice rabbits Draayder!

[2013-11-10 18:29] Draayder commented on #942
@Fandekasp Those look nice! They do look I tiny bit like a beaver or other rodent to me right now though, maybe try having the fangs further apart? They just kind of look like the two front teeth rather than the eye teeth to me. Other than that it looks like some of your colors might be a bit saturated compared to the rest of the pets, but that might just be my eyes fooling me.

[2013-11-10 19:47] zules commented on #942
I tried to make a baby goat pet.
![goat3](https://f.cloud.github.com/assets/5903782/1509288/c3fd46b0-4a40-11e3-83f4-ce38e743a3d4.PNG)
I might mess around with it a bit more later.

[2013-11-10 20:52] lefnire commented on #1499
I've done some testing around on affected accounts. Preening user history helped substantially, but still not enough. The issue is definitely too many tasks - and probably 95% of the time is completed To-Dos. I tried a few things - removing `taskClassses()` completely, removing `task.history` bindings (since its' the largest task attribute), but nothing seemed to help a whole lot. Adding a filter

[2013-11-10 20:58] lefnire commented on #1499
BTW @ahrisah, it's not "checking off To-Dos" that you need to do - it's _clearing completed To-Dos_ ([screenshot](https://www.evernote.com/shard/s17/sh/1a95f9cc-132d-4129-b50e-4ad6fa398414/2ccb06a007ddb91af1d0d63dd77d9b8f))

[2013-11-10 21:46] Draayder commented on #942
@zules omg that baby goat is great

[2013-11-10 22:38] clmmerrill opened #1787 "Daily day selection backwards after Inn stay"
I just got out of the inn and noticed many of my dailies were set to the opposite days. I noticed because there is one I do only on Sunday was grayed out on Sunday but not all the other days. It was not the only one that is backwards.
1. My Sunday Daily had M-Sat selected instead of just Sunday.
2. The daily I have turned off on Sunday and 'on' rest of days was opposite than should be.
3. There we

[2013-11-10 23:58] Draayder commented on #942
![image](https://f.cloud.github.com/assets/5893391/1509786/7fbccf66-4a63-11e3-8e60-e3867d17d6e6.png)
Tried out a bunny mount, I tried to keep the ears out of the way so they wouldn't obscure too much of the player sprite. I'm not really sure how the player will be put on them so I don't know how well I succeeded.

[2013-11-11 00:05] AdrienLemaire commented on #942
@busterroni I have no idea ^^ Search on google and explore your options, it's a scale transformation with no interpolation, or something like that :)

@Draayder Can you maybe update my baby sabertooth ? I'm afraid I don't know how to update it following your comment.

for your bunny mount, maybe you can try to make it a bit more impressive, hare-looking? Here a [good example](https://encrypted-tbn

[2013-11-11 00:42] lefnire commented on #1048
So from the results, [base,white,desert] are set to statistics too high, and [gold,blue,pink,zombie] far too low (1% of 50% of ~5% chance just won't happen). We should take a second pass at `algos.coffee` to make them more viable. What are people's thoughts on simply evening it out? Complete randomness? My thought there is that the closer you get to completing a set, the less likely it is for you

[2013-11-11 01:08] Draayder commented on #942
![image](https://f.cloud.github.com/assets/5893391/1509989/4674fa80-4a6d-11e3-9e26-299e0f77a0b2.png)
Just trying somethings out on it, maybe more like this? I think I was reading the mouth(?) line as a nose mostly, and the bottom of the jaw as a big smiling mouth.

[2013-11-11 01:29] AdrienLemaire commented on #942
ok, I'll redo the other colors in that shape then, thank you :)

[2013-11-11 01:45] Draayder commented on #942
![image](https://f.cloud.github.com/assets/5893391/1510100/a5628828-4a72-11e3-8e66-ba43850dbc19.png)
How's this look? It kinda feels like an elder rabbit now, lol, which I think is an improvement. The last design was pretty simple looking back on it.

[2013-11-11 02:06] lemoness commented on #943
Since we are now in Feature-Release mode, I'm going to go ahead and put out the call for more specialized class system weapons and shields! They should match the class system outfits displayed above :)

[2013-11-11 02:08] lemoness commented on #945
Okay guys! We're thinking of starting the Boss Battles soon.... so let's start seeing some ideas for bosses you can battle!

[2013-11-11 02:11] lefnire commented on #945
IIRC we were gonna start with the [4 class bosses, then dragon](https://github.com/HabitRPG/habitrpg/issues/943#issuecomment-17844808) (armored samurai, robed samurai, ninja, gladiator -> then dragon-hunter). Were you there for that convo actually? We had a pretty elaborate setup mapped out

[2013-11-11 02:16] lemoness commented on #942
WOW, tons of activity!! Fantastic!

Comment to everyone - these pets and mounts are great, and we'll probably be using a lot of them, but because Gen 2 pets and mounts are still a bit away,  a quicker way to get your art in-game (and get your contrib gear) is to work on Class System Weapons and Monsters for the Boss Battle System. Check out these threads here: https://github.com/HabitRPG/habitrpg/

[2013-11-11 02:19] lemoness commented on #945
Tyler, that was all for quests - but I thought the boss battles you were
talking about were different?? I can't talk right now but that is an
important distinction.

On Sun, Nov 10, 2013 at 6:12 PM, Tyler Renelle notifications@github.comwrote:

[2013-11-11 02:32] lefnire commented on #945
The thought was these were bosses you defeat and obtain their gear piece-by-piece. We'll catch up offline soon

[2013-11-11 02:49] Draayder commented on #942
![image](https://f.cloud.github.com/assets/5893391/1510295/98308296-4a7b-11e3-8c2f-a5bbcef54e60.png)
Good call on the head being small, I was thinking it was a little but wasn't sure. It looks much better now. I shifted the leg slightly up as well.

[2013-11-11 03:39] Draayder commented on #943
I thought that the concept of mage shields could be really interesting so I gave it a shot. They follow the tiers of the mage clothes up above and tend to stick to the color scheme/hopefully general theme. I stuck it next to a generic mage for size reference.
![image](https://f.cloud.github.com/assets/5893391/1510462/7618d404-4a82-11e3-924d-f454c6923527.png)

tiny shield -> small closed book -> la

[2013-11-11 04:03] nafoster commented on #1048
@lefnire If it's possible to do completely random with no percentages attached, that might be better. It might be chaotic, but it could be better than dealing with percentages each time something is unbalanced.

[2013-11-11 04:06] lefnire commented on #1048
Decided. @lemoness & I had a good long discussion about this offline, and with all the heartache the current drop system is giving people (+ vote of confidence Nicole), we're gonna remove "rareness" of drops. Everything will be random across the board. This (1) make it easier to get items (while still making that last stretch pretty hard); (2) make algorithm maintenance simpler. I've already coded

[2013-11-11 04:27] lefnire commented on #1048
https://github.com/HabitRPG/habitrpg-shared/commit/f99e530120656898149a014e5c235f1b1e18c53a

[2013-11-11 04:46] DanielTheBard commented on #968
Redphoenix suggested making a theme song for the HabitRPG tutorial videos and such. Thoughts? https://soundcloud.com/daniel_medeiros-1/habitrpg-video-theme-idea

Edit: And here it is with some editing to clean it up and put it in stereo.
https://soundcloud.com/daniel_medeiros-1/habitrpg-video-theme-idea-1

[2013-11-11 04:58] AdrienLemaire commented on #943
Here an idea for a new class: prehistoric man:

![class-prehistoric](https://f.cloud.github.com/assets/260983/1510685/e70acb76-4a8d-11e3-836e-861711942507.png)

I'm pretty sure this will not fit within the system, being prehistoric isn't really a class (though some 2nd gen pets would fit well with it). It's more about illustrating the idea of having part-naked clothes.

cf [Pixel Art Thread: Misce

[2013-11-11 04:59] AdrienLemaire commented on #946
I have a suggestion for the skin: add the whole body instead of just the hands and the face.

![skins-whole-body](https://f.cloud.github.com/assets/260983/1510656/9527c9b8-4a8c-11e3-9cf9-4bc17da24e12.png)

This will allow a lot more flexibility for the new classes & gears, where part of the body could be naked.

For example, [my prehistoric man](https://github.com/HabitRPG/habitrpg/issues/943#issu

[2013-11-11 07:16] lemoness opened #1789 "Beast Master Achievement counts Rare Pets"
I am still two pets away from the beast master achievement, but because I have two rare pets, it just gave it to me and says I have 90/90!

The rare pets shouldn't count towards the achievement.

[2013-11-11 07:27] lefnire commented on #1751
Ah, looks like `$elemMatch` will only return the first matched array subdocument. I'm gonna have to use aggregation to get multiple array elements matching "in this challenge" criterion. [Offending code](https://github.com/HabitRPG/habitrpg/blob/develop/src/controllers/challenges.js#L70...L72), [issue background](http://stackoverflow.com/questions/19696282/make-elemmatch-projection-return-all-obje

[2013-11-11 07:45] lefnire commented on #1751
I pushed the fix. It has poor performance (filtering at application-level), and needs revisiting - but we'll cross that bridge later. TMK this ticket mentions two issues: (1) tasks getting copied from aggregate progress (#1729), (2) participant modals not showing all tasks. # 1 was fixed a while back, I'm closing this ticket as a fix for # 2. Re-open if I'm missing anything

[2013-11-11 07:45] #1751 closed, assigned to nobody

[2013-11-11 10:39] breadstrings opened #1791 "Halloween skins disappeared despite purchase"
Hi, I just discovered that the unlocked Halloween Skins no longer show up in my profile options.

Browser: Google Chrome
UserID: 3b675c0e-d7a6-440c-8687-bc67cd0bf4e9

[2013-11-11 10:46] AndreCaseyScott opened #1792 "Halloween skins have been removed from Avatar Settings"
Bought the Halloween skins and was under the impression that they would only be available to buy for a short time, but would stay with your character to use when you wish. Mine have since disappeared, with only the Rainbow and normal skins remaining.

Were the Halloween skins supposed to be removed? Will they appear next year around halloween? Or is my account bugging out...

[2013-11-11 13:02] dbueller commented on #1792
Mine are also gone.  I was under the impression that they would stay but you could only buy them for a short time.

[2013-11-11 14:36] DanielTheBard commented on #1792
This is also happening to me. To my knowledge, they should still be there. Most likely a bug.

[2013-11-11 15:39] Starfog commented on #1792
I'd really not have purchased them if I knew they'd disappear, so I really hope it's a bug ... I bought gems because of them and purchased the full set. It'd be pretty annoying if you can only use them in halloween.

[2013-11-11 16:22] lefnire commented on #1792
Yep, bug. Sorry guys! Midnight haze. Pushing fix now

[2013-11-11 16:22] #1792 closed, assigned to nobody

[2013-11-11 16:23] lefnire commented on #1791
dupe of #1792, fixed

[2013-11-11 16:23] #1791 closed, assigned to nobody

[2013-11-11 16:27] RosemonkeyCT commented on #942
@lemoness thanks, I'm glad they worked out.

@Draayder that is looking much better.

[2013-11-11 18:21] Habitfan commented on #1638
Well looks like I'm reporting my first bug.  Yesterday, I was gone all day, so I came home approximately 12:30 AM local time and started to check off my dailies and proceed to get as many of my daily's done as I could. Particularly the ones with the longest streaks. 2:50 AM I finished what I was going to get to that day.  Logged in this morning and everything is gray that was checked off yesterday

[2013-11-11 18:24] ahrisah commented on #1499
@lefnire Yeah, I understand about deleting the completed to-dos but I can't access my account to do so. Also, I dl the chrome Advanced Rest Client and its not loading either...why would that be? If I could just get it to load I could follow your screenshot tutorial... :(

[2013-11-11 18:25] lefnire commented on #1499
advanced rest client's not loading? hmm... what's your uuid, i'll give it a shot

[2013-11-11 18:33] ahrisah commented on #1499
@lefnire just kidding- I turned off some extensions on chrome and it launched this time! I followed the screenshot replacing user and api codes with my own and hit send. Bunch of stuff came up in code that I don't quite understand.

[2013-11-11 18:34] lemoness commented on #946
We've actually already expanded up the foreheads into full heads, so I imagine that we might see the whole bodies being done sometime as well!

[2013-11-11 18:35] ahrisah commented on #1499
@lefnire Habit has loaded! Its a Christmas miracle!! Thanks for the help! Now i'm going to reset my character as planned and be sure to keep to-dos cleaned up. Is having to many uncompleted to-dos a problem at all or just completed ones? Just want to avoid this issue in the future

[2013-11-11 18:37] lefnire commented on #1499
having many tasks in general is the issue. Obviously it _shouldn't_ be an issue, and we're working hard to fix it - but the most common cause of this for everyone is that they have too many **completed** todos (since they don't even know they're there until they click the "completed" tab)

[2013-11-11 20:46] Habitfan commented on #1638
all my dailies are still gray. could this be related to participating in the challenges?

[2013-11-11 21:13] suitcase76 opened #1793 "Not so much a bug ... just a spelling error."
Hey on the Chrome Extension settings page, the save to cloud option reads:

'Settigs save to the cloud?'

...rather than 'settings'

Really enjoying Habit RPG, keep up the good work!

[2013-11-11 21:21] suitcase76 commented on #1793
Also in the Host Watcher section both codeacademy and khanacademy read:

codeacadamy.com
khanacadamy.org

Which I think means they wont work as productive site options.

I realise these can be changed by the user however. Just a heads up!

[2013-11-11 22:29] RosemonkeyCT commented on #945
I don't get what pixel work needs doing on these threads... that's why I made pets. The rest confuses me. As for bosses, what sizes are you thinking? Same as people? Smaller? Bigger? Pet sizes? I could think of loads of bosses, but I don't know what kind of things would fit your idea.

[2013-11-11 22:42] RosemonkeyCT commented on #943
I love some of the new classes and equipment. What needs doing on this now?

[2013-11-11 22:42] suitcase76 opened #1794 "Blue loading bar"
The blue loading bar at the top left of the browser window (Have only tested on Chrome) is constantly updating and re-setting even when there is no interaction with the page.

Is anyone else finding this issue? It's not a huge problem, just very distracting.

[2013-11-12 01:38] lefnire commented on #1638
TMK some people have issues with custom day start. Delete that field and
see if you hit this issue still in coming days
On Nov 11, 2013 12:46 PM, "Habitfan" notifications@github.com wrote:

[2013-11-12 02:08] Habitfan commented on #1638
Tyler just so you know this is Senica. Apparently the handle was taken already on github.

Thanks for the reply. A bonus pat on the back when you get your hug for the prompt reply.

When you say delete the field are you indicating I should go back to a midnight reset?

This feature has actually worked flawless for me. I'm hoping that everything's back to normal tomorrow. Fingers crossed.

[2013-11-12 02:15] lefnire commented on #1638
Ol' sen! Whhheeel why didn't you say so. Well if the feature has worked flawless for you, probably not what's happening here then. Another possibility is that some people experience start-of-the-week day issues if they don't live in the US (another bit we're working on). Where you from incidentally? Anyway, I'll be looking into this ticket soon. Also, [shoot me an email](mailto:tylerrenelle@gmail.

[2013-11-12 02:16] lefnire commented on #1794
dupe of #1735, follow there

[2013-11-12 02:17] #1794 closed, assigned to nobody

[2013-11-12 02:35] lefnire commented on #942
So here's the compiled spritesheet (I have the css all mapped & such). It'll probably be difficult for y'all to tell if I did it correctly until we're live, since the head-body positioning should be just fine, but positioning under the avatar might be off some pixels - when we're live, hit me if anyone has issues.

Of particular note is @RandallStanhope's skel mounts. BTW, these were impeccable! G

[2013-11-12 03:01] lefnire commented on #1781
fixed

[2013-11-12 03:01] #1781 closed, assigned to nobody

[2013-11-12 03:29] lefnire commented on #1769
instead of:

[code]

you want `dbname` to be actually `habitrpg`. Here's a shortcut entry anyway:

[code]

[2013-11-12 04:56] bobbyroberts99 commented on #1769
Thanks Tyler, that worked. I'm rich!

Now to the next problem…

I'm playing with habitrpg/views/shared/modals/new-stuff.jade but the copy I have (after syncing develop) doesn't have the most current text that's on the website.
Here's how I set up my local copy:
1. Forked Habitrpg/habitrpg (Develop branch)
2. Clicked the Clone in Desktop button on GitHub

I've done this a couple of times. Removed t

[2013-11-12 05:01] lefnire commented on #1769
You may want to go through a basic Git tutorial. [This one](https://help.github.com/articles/fork-a-repo) has some basics on forking/pulling etc; what you want to do if there are changes remote is `git pull` (or there should be a button in your UI for pulling).

Master is pretty far behind right now, all this sprinting and we haven't stabilized lately, so I'm running both herokus off develop. So n

[2013-11-12 06:15] AdrienLemaire commented on #923
Bug can be reopen, I can't save a website.

[2013-11-12 06:25] lefnire commented on #923
we should probably delete the websites feature, since you can add adhoc lists in markdown to your blurb

[2013-11-12 06:27] AdrienLemaire commented on #923
I see.. I'll do a pull request then, I guess it's just removing a few jade lines of code

[2013-11-12 06:52] paglias commented on #923
Se may remove then also from groups so

[2013-11-12 06:53] lefnire commented on #923
before merging this we're going to want to warn users and give htem enough time to copy over their websites to their blurbs. I'll work on getting out an announcement

[2013-11-12 08:49] AdrienLemaire commented on #923
@paglias Ok, I'll remove website from groups in that pull request.

@lefnire wouldn't it be better to write a script that moves all websites data to the end of the blurbs directly in mongodb ?

[2013-11-12 08:53] lefnire commented on #923
@Fandekasp brilliant! Why didn't I think of that. Cool, I'll write that script (unless you get to it first) when I merge this

[2013-11-12 08:54] AdrienLemaire commented on #923
I'll give it a try (need to learn about mongodb lol)

[2013-11-12 08:56] lefnire commented on #923
Check out some of the ./migrations samples

On Tue, Nov 12, 2013 at 12:54 AM, Adrien Lemaire
notifications@github.comwrote:

[2013-11-12 12:18] RosemonkeyCT commented on #942
They look fantastic!

[2013-11-12 13:09] nafoster commented on #942
Wow, they really do look awesome!

[2013-11-12 13:16] SabreCat commented on #1789
I agree with this one, but I wrote something very similar up a while ago and was denied, heh...

[2013-11-12 13:20] SabreCat opened #1797 "Visiting challenge from link in group should scroll to that challenge in list"
If you click a link to a Challenge from within a group, such as one of the many and varied challenges available in the Tavern, the Challenges page opens with that challenge expanded. However, unless you happen to have picked something at the top of the list, it's not immediately evident that it's done anything besides take you to the Challenges page--you need to scroll down to what you actually wa

[2013-11-12 15:10] philadams-zz commented on #946
@lemoness brilliant! those of us who shave our heads (or have no hair for baldness related reasons) can't wait to have a 'no-hair' option :+1:

[2013-11-12 16:29] filkaris commented on #1764
I installed HabitRPG locally and I can't reproduce the error with sample users and chat texts.
(obviously I don't have access to the original database)
I am a programmer and I can help debug this. What more can I do??

[2013-11-12 16:45] paglias commented on #1764
If you can reproduce this on HabitRPG.com then before sending a chat
message open the developers tools in chrome and switch to the network tab.
Then try to send the message, a new entry under the network tab should
appear in red, click on it and see what does the response contains

[2013-11-12 16:59] bobbyroberts99 commented on #1789
I got Beast Master at 89 because of rare pet and then again at 90 when I actually got them all.

On a related note (can't find an existing issue), eggs and potions that I purchased with gems aren't removed from inventory even after multiple reloads (and waiting 5 minutes)

[2013-11-12 17:10] filkaris commented on #1764
{
 "err":{
           "message": "Cast to number failed for value \"[object Object]\" at path \"_v\"",
           "name":"CastError",
           "type":"number",
           "value":{},
           "path":"_v"
       }
}

[2013-11-12 17:24] paglias commented on #1764
@phil230 thanks very much! @lefnire is this the same as the other cast errors?

[2013-11-12 17:30] filkaris commented on #1764
You're welcome!
Here is the correct message (with git markdown)

[code]

[2013-11-12 17:43] paglias commented on #1630
I've noticed that this happens, sometimes (ie the re-roll button and the sync chat button), when the tooltip should appear where the mouse is and so it makes the element lose the hover status and thus the tooltip is hidden

[2013-11-12 19:00] lefnire commented on #1303
@paglias did you mean to close-reopen the last few tix? Is it to bump them?

Re: this ticket, mounts rewrite has popovers instead of tooltips - we may need to revisit css to re-reposition

[2013-11-12 19:03] paglias commented on #1303
No sorry, I tried something like Huboard called ZenHub and I mistake the
meaning of a button which meant to be a way to close issues

2013/11/12 Tyler Renelle notifications@github.com

##

Matteo Pagliazzi - paglias.net

[2013-11-12 19:06] lefnire commented on #1764
woa! why is Group._v trying to get set as an object? I just ran a cleanup migration, see if it's fixed and we'll need to investigate why _v isn't a number here.

@paglias random note: I forgot we have `Group._v`, we could probably use that for a cleaner chat sync method

[2013-11-12 19:08] paglias commented on #1764
@lefnire couldn't it be user._v since it's modified when accepting a party invite or sending a chat message?

[2013-11-12 19:09] lefnire commented on #1764
Ah that makes sense... but does it modify when sending a chat message? I ran the script on both users and groups in any case, but I'll keep that in mind - looking at User._v

[2013-11-12 19:11] paglias commented on #1764
yes, it modifies user.party.lastMessageSeen

[2013-11-12 19:13] lefnire commented on #1303
Oh this looks awesome! I just signed up for early access

On Tue, Nov 12, 2013 at 11:03 AM, Matteo Pagliazzi <notifications@github.com

[2013-11-12 19:15] paglias commented on #1303
yes it looks quite good :) mostly its data isn't saved as github tags as huboard so multiple devs can use it at the same time, when I tried Huboard it was the same as your :)

[2013-11-12 19:18] samjross opened #1800 "'Play' Button doesn't work on WP 7.8"
I have a Windows Phone running version 7.8, and when I'm at habitrpg.com/static/front the big blue 'play' button doesn't do anything.

[2013-11-12 20:56] lefnire commented on #1786
You know what - I was thinking, "well we can remove all our private fields from the app and come up with something cleaner" - and then remembered we have User._v. We're gonna have to wait this one out and follow that convo.

[2013-11-12 20:59] paglias commented on #1786
Hopefully this pull request will be merged in 1.2.1 https://github.com/angular/angular.js/pull/4859/

[2013-11-12 21:50] lemoness commented on #945
I think there is some confusion about bosses here too, actually. Probably
thinking up creative weapons and shields for classes in the Class thread is
more straightforward. However, there is nothing wrong with making Pets! It
will just be a bit longer until they are implemented. If that's your
passion, follow it!

On Mon, Nov 11, 2013 at 2:29 PM, RosemonkeyCT notifications@github.comwrote:

[2013-11-12 22:07] AdrienLemaire commented on #946
@lemoness should I expand the foreheads in my full-body version ? I couldn't see any full-head version anywhere :)

[2013-11-12 22:07] lemoness commented on #943
Draayder, cool concepts! I especially like the first and the fourth. Some suggestions - maybe instead of matching the colors exactly to the outfits, you can choose some complimentary colors. For example, the color scheme of your book might look better with Level 1, because it will stand out more. Try also comparing the shields in size with the current warrior shields.
Also, the open book is not qu

[2013-11-12 22:11] lemoness commented on #946
No, don't worry about it just yet - they are all already done :) I will post them when they are incorporated!

[2013-11-12 22:13] lemoness commented on #946
@Aiseant - Could you shoot me an email at leslie@habitrpg.com? I want to send you the permissions form so that we can start implementing your badges :D

[2013-11-13 01:32] lemoness commented on #1789
Bob - I think we did have an issue with that, but it was closed - should we
reopen it again? @paglias @lefnire

On Tue, Nov 12, 2013 at 9:00 AM, Bob Steffes notifications@github.comwrote:

[2013-11-13 01:34] lemoness commented on #942
Can't wait! Great job, everybody :)

[2013-11-13 03:42] ianoff commented on #942
Just popping into say the mount spritesheet looks amazing!!!

[2013-11-13 04:31] nathander commented on #942
Looks great as far as I can tell! I wasn't quite sure when I made the skeletons where the heads would sit -- I really like how you put some of them a little farther to the left than for the other mounts. Thanks, Tyler! I'm super excited to see these in game.

[2013-11-13 06:30] paglias commented on #1789
Yes there's an issue with eggs/potions not disappearing but doesn't seem to
be specific with bought items, I tried but couldn't reproduce.

[2013-11-13 06:33] lefnire commented on #1789
This will likely be fixed when mounts is merged

On Tue, Nov 12, 2013 at 10:30 PM, Matteo Pagliazzi <notifications@github.com

[2013-11-13 09:28] ahstro commented on #1793
I couldn't find the "codeacadamy" or "Settigs" spelling errors, infact, I found the phrases where they were used and they were spelled correctly. I did however find the khanacadamy spelling errors and corrected them.
Here's the pull request: https://github.com/HabitRPG/habitrpg-chrome/pull/79

[2013-11-13 12:28] RosemonkeyCT commented on #943
@lemoness That's cool, thank you for giving me some guidance. I'll see what I can come up with ^^

[2013-11-13 12:31] RosemonkeyCT commented on #945
If I do think of anything I'll bob it in here anyway, but I think I'll work on the shield and weapons - I'm always open for trying new things, and I've never done that before. I'll make a mount for the frogs too. Just not rush it, because I know it's not in a hurry. If I do make anything that can be a boss I won't worry too much about size, but I'll try not to make it huge. Thanks again for the gu

[2013-11-13 13:37] filkaris commented on #1764
Guys the error is gone!

I can post normally in the party chat, and my friend has successfully joined the party!
Thanks a lot! :D

Out of curiosity, what was the problem? (I want to contribute in the future, so I want to understand the code better  :) )

[2013-11-13 13:40] filkaris commented on #1764
Never mind, I saw the commits!

@snicker you are the best!

[2013-11-13 13:57] snicker commented on #1764
Thank you for the nice words @phil230, but I do not think it was my fault that the problem is fixed, as much as I would like it to be ;) I added some features for nickname autocompletion

[2013-11-13 15:06] filkaris commented on #1764
Hmm... You fixed _chatMessage by turning it into message.content and I thought that was it. But now I realize this is only on develop branch... When I go to HabitRPG.com (is this exactly like the master branch?) I see that _chatMessage is still there.

How come it's fixed now??
@lefnire did you do something?

[2013-11-13 15:12] paglias commented on #1764
A migration has been run on the database to remove all the NaN values from
user._v and group._v and that were causing an error since the value for _v
must be a number.

[2013-11-13 15:18] marphod opened #1803 "While getting drop, Browser Application hangs"
Didn't see this elsewhere with a search for hang or delay; I apologize if I missed it.

My pattern of use is to mark what I did on the previous day; it isn't a great use pattern, but it is the only one that has worked for me for more than a few weeks at a time.
Whenever I go through my Dailies, if one generates a drop, the browser hangs.  This includes being unable to change tabs, unable to use ot

[2013-11-13 15:20] filkaris commented on #1764
I see... awesome! It makes sense that it was a database thing :) Thanks
@paglias
You guys can close the issue now since it's solved.

On Wed, Nov 13, 2013 at 5:13 PM, Matteo Pagliazzi
notifications@github.comwrote:

##

Filippos Karailanidis

[2013-11-13 16:39] bobbyroberts99 opened #1804 "Renaming a Challenges tag marks ToDo as done the next day?"
I joined the 10K Steps challenge on 11/12. I completed the Challenge and clicked it done.

Then I renamed it's tag from Challenges to 10K. I also renamed the Contribute to Habitica tag from Challenges to wikiLive. (Is "Challenges" the default if no short name is provided? Suggestion: make people provide a tag name before they can save.)

This morning, the 10K Todo is already marked done (and the s

[2013-11-13 19:57] philadams-zz commented on #946
@lemoness @Fandekasp awesome! can't wait. gonna go figure out how to include that option in the web interface in preparation for your new no-hair graphics :)

[2013-11-13 20:08] paglias commented on #1503
Mmm... chat syncing seems to leak a bit of memory, about 60mb for every syncing...

[2013-11-13 20:17] lefnire commented on #1503
_whistles_ Yowzer. Ok, new plan… um… socket.io maybe? _nervous questioning
face_

On Wed, Nov 13, 2013 at 12:08 PM, Matteo Pagliazzi <notifications@github.com

[2013-11-13 20:19] filkaris commented on #1599
Hey guys, I was thinking that sometimes (when you have a LOT of tags)
the save button is waaaay down, and is not convenient for small changes (let's say in the title of a task).

I have added a button which looks like this.
![screenshot](https://f.cloud.github.com/assets/1624978/1535211/495a1016-4ca0-11e3-952b-f5c3a6c91e1b.png)

It's not functional yet, but the front-end is ready :)
Should I compl

[2013-11-13 20:21] gwillen commented on #1599
+1 to adding the upper save button; the position can be tweaked later, but it seems like a win to have it in some form regardless. (Keeping in mind that I am not a developer on this project and can't speak for them. :-)

[2013-11-13 21:38] lefnire commented on #1803
yeah, angular-ui-bootstrap modals seem to have pretty poor performance. At least for v0.5.0. When (if) we upgrade to 0.6.0, we'll see if the new modal system (1) is compatible with our app (it seemed to have some hefty architectural differences), and (2) improves in performance. If !#2, we'll probably want to go back to vanilla bootstrap modals (will probably make upgrading to BS3 easier anyway)

[2013-11-13 21:40] lefnire commented on #1764
Thinking back, maybe I didn't run this migration in the past after all.. could be this recent migration puts is to good, because I've checked everywhere I could think of for `user._v` & `group._v` sets, and everything looks fine. We'll close, and keep a close eye out for a recurrence.

[2013-11-13 21:40] #1764 closed, assigned to nobody

[2013-11-13 21:44] lefnire commented on #1804
- the tag name is actually a required field, it looks like only browsers that don't support HTML5 required aren't triggering (who'd've thunk Firefox to be one! just checked). We'll have to do some extra "required" handling to force entry. It will default to the challenge's full name if no tag provided.
- I'd say this is one of those sporadic maybe-timezone issues, maybe day-start issues that have

[2013-11-13 22:02] lefnire commented on #1599
what about using that tiny [save icon](http://fontawesome.io/icon/floppy-o/) from FontAwesome? Right up next to the other lil' icons. I've been meaning to introduce FA to habit for an age, all it's icon goodies.

[2013-11-13 22:08] brightbold commented on #1599
Yes! That's an elegant solution.

[2013-11-13 22:36] marphod commented on #1803
(It probably is worth mentioning that I never actually view the modal dialog.  I get the long pause, and then the checkbox finally changes color and I'm back at the standard User Interface.)

[2013-11-13 23:06] bobbyroberts99 commented on #1804
I couldn't recreate the problem on my local copy. If it does it again, I send you errors.

[2013-11-13 23:11] bobbyroberts99 commented on #1769
Tyler, I think I'm all set. I basically deleted everything, reforked and cloned dev (not with the command line though).

I then did npm install again (which I think is all I really needed to do).

Anyway, the file that wasn't current now matches what's live on beta, so I think I'm good to go.

I had done the tutorial that you sent and Try Git on Code School. Nick Gordon I ain't, but I'm learning,

[2013-11-14 00:13] lefnire commented on #1769
@bobbyroberts99 great, you're doing fantastic :)

[2013-11-14 00:51] SabreCat opened #1806 "Need way to expand/search guild members list - can't assign new leader or boot member when member isn't listed"
At present, Guilds only list the first 15 members, plus a little blob saying how many more members than that you have. But there's not any way to access the rest of that list--today I wanted to know if somebody was still a guild member, and had no means of determining that.

Suggestions, in order of my most preferable to least (though you could do more than one):
1. Add a search field to the membe

[2013-11-14 00:57] SabreCat opened #1807 ""Boot Member" hover label gets cut off (and icon doesn't use space well to start with)"
In Win7 Firefox on beta.habit, one of my Guilds' member lists looks like this:

![screenclip](https://f.cloud.github.com/assets/4501321/1537491/3db33ac2-4cc7-11e3-9cdf-d812cf5b8ba1.png)

Note that the "Boot Member" tooltip gets chopped off at the left (3oot member?). It also strikes me as odd that the boot button takes an entire line, making for a lot of extra white space.

Suggestion: Move the "b

[2013-11-14 01:03] SabreCat opened #1808 "Add field for personal notes on Challenge-acquired task"
It makes sense that a Challenge participant shouldn't be able to edit the fields defined by the tasks they signed up to. However, it would make sense and be useful to give the user the ability to add their own, separate comments to the task. As a use case example, in a polyphasic sleep challenge I just started, there's a Daily for "Core Sleep" that tasks the participant with hitting their target s

[2013-11-14 01:05] SabreCat commented on #1781
:+1:

[2013-11-14 02:13] SabreCat opened #1809 "Add "Created" or "Owner" option to Challenge list filters"
The "Participating" / "Not Participating" options for filtering the Challenge list are quite useful, as are the group filters (especially with #1781 accomplished, yay!). One filter I found myself wanting but lacking, though, was a filter to show only the Challenges I created or am responsible for.

It doesn't fit well as an additional option on the other filter lists... it'd probably work somethin

[2013-11-14 02:18] SabreCat opened #1810 "Choose default for Challenge group drop-down if only one group filter is selected"
A cool shortcut we could include in the UI for creating a new Challenge: if you have only one group selected in the filter at the left when you click Create Challenge, have that group default into the dropdown menu selection. Nice and intuitive, and supports some odd but probably not uncommon workflows ("What's my Guild got... oh, hey, we don't have a challenge about X yet, I'll whip one up.").

[2013-11-14 07:03] AdrienLemaire commented on #923
It took me quite a lot of time, but I think I wrote a good migration script now.

Tested on develop:

![migration](https://f.cloud.github.com/assets/260983/1538990/bce6c0b0-4cfa-11e3-813f-8ef2fe7d5a2a.png)

@lefnire you can review and merge

[2013-11-14 07:28] kalakom opened #1812 "Changing name of a task in the Challenges-tab does not change it at task-page"
I am the creator of a challenge and edited the name of a daily after creating the challenge. The new name shows up when at the challenge-tab, but it does not change the name on the main task-page.

[2013-11-14 07:31] lefnire commented on #1812
even after a refresh or a sync-user?

[2013-11-14 07:48] kalakom commented on #1812
Both don't change it.

[2013-11-14 08:07] lefnire opened #1813 "translations merge conflicts"
### The problem

So I merged as many translations as I could simple or no conflicts. There are still some PRs left which conflict and will have to be manually handled. Unfortunately, because many of the PRs were augmentations to an existing translation, they conflicted with each other and caused conflicts which I couldn't sensibly resolve as I don't speak the languages. In most cases I did a `git

[2013-11-14 08:20] lefnire commented on #1813
- bg (c82e065)
- pt (2aa9c0e)

[2013-11-14 08:35] lefnire commented on #1813
I think that covers em, I got pt taken care of, bg we'll need to handle manually. Let's keep an eye out for fr, that one had a lot of toe-stepping.

[2013-11-14 08:35] #1813 closed, assigned to nobody

[2013-11-14 08:37] lefnire commented on #1813
(Deleted `translations` branch, @paglias, so we can work off develop now)

[2013-11-14 09:01] lefnire commented on #1813
these two PRs were closed automatically because `translations` was deleted. However, it looks like they're pretty out of sync with translations/develop and would have caused conflict. Revisit int he future if they don't respond:
- https://github.com/HabitRPG/habitrpg/pull/965
- https://github.com/HabitRPG/habitrpg/pull/1574

[2013-11-14 09:15] mutedgrey commented on #1616
I was looking to see if this had been brought up or not because how frequently my todos get reordered is driving me crazy! I haven't yet experienced dailies or habits reordering though I think rewards did once? It's really just the todos for me.

[2013-11-14 12:45] filkaris commented on #1599
I don't know how to add FA into the habitrpg installation, I'm completely new with node.js :)

What I can do (for now) is use the "check" icon (icon-ok) that is already in the bootstrap.

Also, I noticed that clicking the pencil and the cancel button does the same thing...
It hides/shows the editing area.
So cancel is NOT really "cancel", since it should Cancel all the changes the user made.

I'm

[2013-11-14 13:05] SabreCat commented on #1616
This happens to me all the time, yeah, on all types of task. If I'm tenacious about it, putting them back in my preferred order every time I see them go off, it seems to stick after a while... at least until I join a Challenge or otherwise alter the list, at which point it's a free-for-all until the glue dries again.

[2013-11-14 13:06] nafoster commented on #1813
Just confirming: you want us work off and pull request the develop branch if we want to add more translations? That is probably best so you can keep everything more organized.

[2013-11-14 13:11] paglias commented on #1813
@nafoster yes, the `translations` branch has been deleted so all the work is being done directly on `develop`

[2013-11-14 13:12] nafoster commented on #1813
Excellent; that makes things much cleaner. Thank you for confirming that.

[2013-11-14 13:51] paglias commented on #1599
#1814 for @phil230 pull request which adds the save icon from bootstrap.

@phil230 for the cancel I'll see to fix it in the next few days

[2013-11-14 20:53] lefnire commented on #1048
I added rareness back in (with a bit of cleanup). Sounds like the conversation's not fully decided. Will revisit soon https://github.com/HabitRPG/habitrpg-shared/commit/a52eaee62f018eb0d674f3cdb233f9c14be34c0c

[2013-11-14 21:44] eatmoreyogurt opened #1818 "Beast Master Achievement, Disappearing Pets"
I just got the Beast Master achievement... thing is that I only have 15 pets, so I definitely shouldn't have it yet.

My user ID is 9641c638-a0b1-4251-94cc-9598a1323f56, and I'm using Chrome as my browser.

[2013-11-14 21:48] octern commented on #1818
Just happened to me as well. It came up upon opening the page. User ID 9b508a2e-1d1b-44ee-a437-266583e756e3

[2013-11-14 21:52] nicovaras opened #1819 "Beast Master achieved without doing anything"
I reached level 3 and beast master was automatically achieved. I don't have any pets.

UUID 1d162bcb-1125-4552-bed5-bc24cd468ff0

Google Chrome 31.0.1650.57

[2013-11-14 21:52] lefnire commented on #1818
All you need to do is refresh the page.

fixed in https://github.com/HabitRPG/habitrpg/commit/224cbe2277a774c6e571183b6d1e90ec9c2cc62b , rolled out change. Beatsmaster achievement will be removed the next time your user is saved (from a + habit or whatever).

[2013-11-14 21:57] lefnire commented on #1819
dupe of https://github.com/HabitRPG/habitrpg/issues/1818 , please refresh your page and try again

[2013-11-14 21:57] #1819 closed, assigned to nobody

[2013-11-14 21:58] SabreCat commented on #1789
Interestingly, after today's inventory rollout my pets count seems to be off by one even counting my two Rare pets.

[2013-11-14 22:02] lefnire commented on #1789
minus one, or plus one?

[2013-11-14 22:04] SabreCat commented on #1789
Plus one. My count is currently (pets + rare pets + 1) out of 90. Could have happened when I hatched a pet, wasn't watching the total before/after. I'll keep an eye out if you can't spot the problem.

[2013-11-14 22:21] ighorlobianco opened #1820 "All my pets are gone..."
.Google Chorme
.ighorlobianco

i got a challenge and then i got the pet master achiev and all the pets are gone...even the veteran wolf (but i only hv +- 29 pets)

[probllem solved after a time and some refreshs]

[2013-11-14 22:26] #1820 closed, assigned to nobody

[2013-11-14 22:26] lefnire commented on #1820
please refresh the page. see https://github.com/HabitRPG/habitrpg/issues/1818

[2013-11-14 22:33] joss-c commented on #1735
I'm having this issue in both Firefox and Chrome. It's kind of annoying lol

[2013-11-14 22:59] Nostos opened #1821 "Item counter doesn't refresh"
Hello,

I noticed that the item counter in the Inventory doesn't refresh properly.
This evening I found 2 panda eggs, which were added to a single fox egg I found a few days ago; however, even after pouring 2 hatching potions on them, thereby losing 2 item both in the Eggs and in the Hatching Potions categories, the two counters didn't change.
This pic should make it clearer: http://i44.tinypic.co

[2013-11-14 23:06] Nostos commented on #1821
Ok, I wanted to lower the priority of this issue, but I could not find how I was supposed to do that...Sorry, it's not like I'm proud of my issues, it's just that I didn't know where to downgrade them.

Nostos

[2013-11-14 23:57] Hodizzle opened #1822 "Item drop, beast master, pets disappear"
My UserID is d9782b4f-6b0d-404c-a3ed-add1c0259a0d. I got a drop of a candy pink potion, then suddenly was awarded the beast master award (unfairly). When I looked in my inventory, all of my eggs and potions were gone. Then I looked in my stable, currently no pet is equipped, and all pets are missing as well.

I don't know anything about programming, but I hope this log can help:
Failed to load res

[2013-11-14 23:59] Hodizzle commented on #1803
I have this problem too. For me, I am able to click to other tabs, but when I come back, I don't see the dialog box. It usually lasts a couple minutes for me though.

[2013-11-15 00:22] lefnire commented on #1822
dupe of https://github.com/HabitRPG/habitrpg/issues/1818 , please refresh the page

[2013-11-15 00:22] #1822 closed, assigned to nobody

[2013-11-15 00:29] therufs commented on #1048
The values for rarity in algos.coffee appear to be incorrect.  Should I submit a patch for the current commit, do one for after rollback, or both?

eta:  with "rare" drops happening 20% of the time, but there being 3 different rare drops, one is more likely to get a golden potion than any one of pink, blue, or zombie.  Is this desirable?

[2013-11-15 00:35] lefnire commented on #1048
shoot me a patch. we're gonna stay with rare drops until/unless we hash this convo out and decide to remove rare, so your patch will be valuable

[2013-11-15 01:42] roseaboveit opened #1823 "Beast Master illegitimately awarded & Pets disappeared from stable"
I just got the Beast Master achievement but I don't have all that many pets. I then tried to check how many pets I had in order to make this report and my stable shows NONE of my previous pets

[2013-11-15 02:04] lefnire commented on #1823
dupe of #1818, simply refresh the page

[2013-11-15 02:04] #1823 closed, assigned to nobody

[2013-11-15 02:07] lefnire commented on #1818
Man, the dupes are coming in strong... :/ can't wait for tomorrow when everyone will have refreshed their pages anyway (crossing my fingers).

Some background info: I pushed UserSchema migration which lays the groundwork for mounts. It overhauls a lot of pets and items stuff (was a long-time coming), and we needed to roll out now so we could start writing translations to `items.coffee`.

The updat

[2013-11-15 03:24] lsprague opened #1826 "egg drop led to false achievement, inventory/stable problem"
I just checked off one of my dailies and got a Wolf Egg as a drop -- and then got a message that I'd gotten the Beastmaster achievement immediately afterward. I only had ~30 pets previously and did not go hatch the wolf before the achievement popped.

Then when I went to my inventory, my list of eggs and potions have been blanked out: there are dashes that get an active-cursor hand hovered over, b

[2013-11-15 03:37] lefnire commented on #1826
#1818

[2013-11-15 03:37] #1826 closed, assigned to nobody

[2013-11-15 03:41] lefnire commented on #1818
I'm re-opening this. Too many people aren't searching the queue, maybe if it's up top people will see it. Will close again in a couple days once people have refreshed.

[2013-11-15 04:10] SabreCat commented on #1821
No worries--dev folks will assign priorities as needed when they look over your issue. GitHub's issue reporting paradigm doesn't require the author of the ticket to assign tags etc.

If you're interested in tagging and prioritizing issues, get involved with contributing to the project, and you might gain the ability to do those things!

[2013-11-15 04:11] SabreCat opened #1827 "Inconsistent use of thousands separator in Experience bar"
Reaching the end of Level 43, I have for the first time crested 1000 XP. Oddly, my current XP is displayed differently than the same number of digits in the total needed for next level, when it comes to the thousands separator:

![screenclip](https://f.cloud.github.com/assets/4501321/1547722/073e9b0e-4dac-11e3-9218-ff4868fce6f7.png)

[2013-11-15 05:30] lefnire commented on #1735
fixed

[2013-11-15 05:30] #1735 closed, assigned to nobody

[2013-11-15 05:36] #1467 closed, assigned to nobody

[2013-11-15 05:48] kakariki opened #1828 "Creating party doesn't refresh with my new party view"
I attempted to create a party from the Party tab. It looked successful, but after leaving the page and returning to the Party tab, it asked me to create a new Party again. I tried this multiple times.

After a few attempts I created a new Party, and then invited my friend to it hoping it would stay once there were two of us in it. My friend received the invite and was able to respond to it. I stil

[2013-11-15 09:36] AdrienLemaire commented on #942
Updated sabertooth baby family:

![little-sabertooth2](https://f.cloud.github.com/assets/260983/1548944/3d2cdd0c-4dd9-11e3-969c-f8e7f4553115.png)

And new attempt for a mount.. but I preferred the first one better

![sabertooth-mount-2](https://f.cloud.github.com/assets/260983/1548951/50ba15ba-4dd9-11e3-928a-3fd87acdd7b6.png)

Any suggestion before I complete the mount family ?

[2013-11-15 12:19] SabreCat commented on #1611
This issue seems to have cropped back up. On beta.habit, I deleted a tag, and the tag icons vanished from everything I expected them to... but the next day, the tag icons had returned, and no way to get rid of them.

[2013-11-15 12:46] Pandoro commented on #942
I don't want to step on anyones toes here, but I don't really like the
mount :x The baby one looks good, (although I wonder if the teeth could be
more clear here) the mount isn't giving me the right vibe.

Just some brainstorming about what could be improved for me.
- Maybe make it a little smaller in general. Compared to a player sprite it
  looks really huge.
- The eyes look a little too small w

[2013-11-15 12:52] AdrienLemaire commented on #942
thanks for the feedback :) But yeah, seems like the mount is too hard for me to do ^^ No idea why my first try looked so good :)
If anyone wants to give a try with my mount, go ahead. Otherwise, I'll try again later, but I have no sense of design, so this is difficult :D

[2013-11-15 12:59] Pandoro commented on #942
Don't worry and hang in there :) I agree that the first one looked pretty
darn cool, just sadly not so well for a mount size-wise. But I am wondering
what the future of habit wild hold anyways. Maybe not all pets will get
mounts and it could be used for something else like a boss fight or some
quest npc ^^

On Fri, Nov 15, 2013 at 1:52 PM, Adrien Lemaire notifications@github.comwrote:

[2013-11-15 13:17] SabreCat opened #1829 "Sort Challenges in reverse created-date order"
At present, the lists of Challenges displayed in groups (Tavern most notably) show up in the order they were created. This means it takes conscious effort, scrolling down to the bottom of the list, to spot if there are any new Challenges available. Having them sort in reverse order, so the newest Challenges appear at the top, would increase the chance of users seeing new challenges in the ordinary

[2013-11-15 14:35] snicker opened #1832 "Replace 'relative-date' library with Moment.js"
Moment JS has all the functionality of 'relative-date', why does HRPG use both?
http://momentjs.com/

[2013-11-15 14:52] Frau-Eva opened #1833 "Pets Not Appearing Next to Avatar"
I've had no problems loading my pets next to my avatar before, but now none of them will load. I'll click it and the blue loading bar will appear and it'll generally act like it's doing something, and then nothing. I've tried loading all of my pets, and it never works.

ID: ef25f3fb-dd40-4ba8-b75a-7b45ce4ea2fb

[2013-11-15 15:36] RosemonkeyCT commented on #942
I'd be gutted to not see your very first mount used in something somewhere at some point. That was amazing! I think it's the perspective you're struggling with - I haven't tried to make my own mounts yet for the same reason. But keep tweaking and you'll get there ^^

[2013-11-15 18:09] kitsully opened #1834 "Dailies Reorganize Themselves"
I've been trying to organize my dailies in an order I like. After organizing them by dragging them up and down the list on page refresh they revert back to their previous locations. I am using Google Chrome latest version.

[2013-11-15 18:20] lefnire commented on #1832
we're actually using moment. You won't see it on bower because we did a this big-ol thing wrapping moment & lodash to the habitrpg-shared browserify compile (some [details here](https://github.com/HabitRPG/habitrpg-shared/pull/17)), but the skinny is that lodash and moment are available in the browser.

So yeah, let's just gut relative-date and replace it with the moment functions, good call!

[2013-11-15 18:25] paglias commented on #1834
#1616

[2013-11-15 18:25] #1834 closed, assigned to nobody

[2013-11-15 18:28] paglias commented on #1828
I believe two party have been created, you're being shown the second one and your friend has been invited in the first one...

@lefnire we doesn't actually check for user already in a party when creating one https://github.com/HabitRPG/habitrpg/blob/develop/src/controllers/groups.js#L180

[2013-11-15 19:41] loarfy commented on #943
Idk if i'm submitting this right... normally i don't participate in this kinda stuff b/c i end up making a fool outta myself,  but i really want to get whatever rare pet contributors get so uh

i made some rogue stuff, because rogues are the best, and also some magician stuff for the mage class, because that is hilarious to me

![habit](https://f.cloud.github.com/assets/5950788/1553041/64a34f20-4e

[2013-11-15 20:21] lefnire commented on #943
Aaaiiiiiiyyyy! Those are so cool!

[2013-11-15 21:28] nafoster commented on #943
That magician outfit is too funny. I could see people using it!

[2013-11-15 21:29] paglias commented on #1786
Reverted in 1.2.1 :+1: http://blog.angularjs.org/2013/11/angularjs-121-underscore-empathy.html