[2019-03-31 18:28] paglias commented on #11091
<img width="1440" alt="Schermata 2019-03-31 alle 20 27 46" src="https://user-images.githubusercontent.com/589911/55293152-77962e00-53f3-11e9-88b0-eb8ce82e4b66.png">

[2019-03-31 18:30] paglias commented on #11091
I'm not able to replicate locally but the problem seems to be that in the members modal `this.group` is undefined

[2019-03-31 18:41] #10134 closed, assigned to nobody

[2019-03-31 23:11] Alys opened #11093 "cancelled quests should have message in party chat"
When the quest owner or party leader cancels a quest that's still in the invitation phase, there's no indication for other party members that that's what happened and it can lead to confusion (there was a recent bug report from someone who understandably thought that something had gone wrong with the quest).

There should be a message posted to party chat to say, for example, "Alys cancelled the p

[2019-04-01 12:46] paglias commented on #11071
@lillaqa to write here is fine once a bug has been opened! It helps with keeping all information in one place

[2019-04-01 12:48] paglias commented on #11011
This should be fixed now with https://github.com/HabitRPG/habitica/pull/11031. @bauerbach if it happens again after Friday let us know!

[2019-04-01 12:48] #11011 closed, assigned to nobody

[2019-04-01 13:02] natfarleydev commented on #5648
Does this need (re)doing at all?

[2019-04-01 17:07] paglias opened #11094 "Unit tests failing at the end/beginning of each month"
At the end of each month and at the beginning of the next a few unit tests fail, likely because we're not handling some edge cases.

(It could also be due to the switch to daylight saving or the fact that the previous month was february?)

<img width="887" alt="Schermata 2019-04-01 alle 19 04 55" src="https://user-images.githubusercontent.com/589911/55345902-601d7a80-54b1-11e9-83dc-35ec58cc0212.pn

[2019-04-02 01:54] Alys opened #11095 "Gem icon in navigation bar sometimes fails, prevents scrollbar"
ravenlune (9272ab2c-4b66-4b74-aebd-799725885d1c) has been noticing intermittent problems with the gem icon in the menu bar:

From about two days ago:
"Clicking the gem icon in the navbar 1) does not bring up a pop-up 2) disables the scrollbar. I presume this is related to the scrollbar issue/quick fix."

From about a day ago:
"Re gem icon: It's fixed now, I guess there was a website update that ad

[2019-04-02 07:29] Alys opened #11096 "can't buy facial hair (and maybe other avatar customisations)"
My account has two facial hairs available for purchase (screenshot below). When I click on the gem icons, nothing happens (literally nothing).

No console messages appear.

![image](https://user-images.githubusercontent.com/1495809/55383737-3d03d100-556c-11e9-90a0-0ffed2772b6f.png)

[2019-04-02 08:11] Alys commented on #11082
I've marked this as help wanted for option 1.

[2019-04-02 09:03] greenkeeper[bot] opened #11097 "An in-range update of ora is breaking the build 🚨"
## The dependency [ora](https://github.com/sindresorhus/ora) was updated from `3.2.0` to `3.3.0`.

🚨 [View failing branch](https://github.com/HabitRPG/habitica/compare/develop...HabitRPG:greenkeeper%2Fora-3.3.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

ora is a direct dependency of this project, and **it is very li

[2019-04-02 10:01] #11097 closed, assigned to nobody

[2019-04-02 10:03] paglias commented on #11095
Can we ask them to try in an incognito window without extensions?

[2019-04-02 12:07] greenkeeper[bot] opened #11098 "An in-range update of image-size is breaking the build 🚨"
## The dependency [image-size](https://github.com/image-size/image-size) was updated from `0.7.2` to `0.7.3`.

🚨 [View failing branch](https://github.com/HabitRPG/habitica/compare/develop...HabitRPG:greenkeeper%2Fimage-size-0.7.3).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

image-size is a direct dependency of this pr

[2019-04-02 13:11] #11098 closed, assigned to nobody

[2019-04-02 17:12] greenkeeper[bot] opened #11101 "An in-range update of mongoose is breaking the build 🚨"
## The dependency [mongoose](https://github.com/Automattic/mongoose) was updated from `5.4.20` to `5.4.21`.

🚨 [View failing branch](https://github.com/HabitRPG/habitica/compare/develop...HabitRPG:greenkeeper%2Fmongoose-5.4.21).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

mongoose is a direct dependency of this project

[2019-04-02 18:53] greenkeeper[bot] opened #11102 "An in-range update of aws-sdk is breaking the build 🚨"
## The dependency [aws-sdk](https://github.com/aws/aws-sdk-js) was updated from `2.433.0` to `2.434.0`.

🚨 [View failing branch](https://github.com/HabitRPG/habitica/compare/develop...HabitRPG:greenkeeper%2Faws-sdk-2.434.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

aws-sdk is a direct dependency of this project, and

[2019-04-02 20:06] greenkeeper[bot] opened #11103 "An in-range update of ora is breaking the build 🚨"
## The dependency [ora](https://github.com/sindresorhus/ora) was updated from `3.3.0` to `3.3.1`.

🚨 [View failing branch](https://github.com/HabitRPG/habitica/compare/develop...HabitRPG:greenkeeper%2Fora-3.3.1).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

ora is a direct dependency of this project, and **it is very li

[2019-04-02 20:34] #11103 closed, assigned to nobody

[2019-04-02 20:34] #11102 closed, assigned to nobody

[2019-04-02 20:34] #11101 closed, assigned to nobody

[2019-04-02 20:59] miketoth commented on #11082
@Alys can I take this issue?

[2019-04-02 21:20] cyxlan commented on #11095
Ah, I found the issue; it was with a user style I wrote. Apparently trying to hide the footer also caused the pop-up to disappear, because the pop-up is contained in the footer class... It's not a big deal for me anyways, because I don't buy gems.

[2019-04-02 21:22] #11060 closed, assigned to nobody

[2019-04-02 21:56] paglias commented on #11095
thanks for the followup @ravenlune ! I'm going to close this unless we get more reports as it's not really under our control and should be an edge case

[2019-04-02 21:56] #11095 closed, assigned to nobody

[2019-04-03 12:13] paglias commented on #11096
The loggly error has been fixed but it's unrelated

[2019-04-03 13:10] paglias commented on #11094
Turns out these errors were caused by something different

[2019-04-03 13:10] #11094 closed, assigned to nobody

[2019-04-03 13:14] #10959 closed, assigned to nobody

[2019-04-03 13:14] #10958 closed, assigned to nobody

[2019-04-04 15:24] greenkeeper[bot] opened #11105 "An in-range update of mongoose is breaking the build 🚨"
## The dependency [mongoose](https://github.com/Automattic/mongoose) was updated from `5.4.21` to `5.4.22`.

🚨 [View failing branch](https://github.com/HabitRPG/habitica/compare/develop...HabitRPG:greenkeeper%2Fmongoose-5.4.22).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

mongoose is a direct dependency of this project

[2019-04-04 17:23] paglias commented on #11105
Known issue

[2019-04-04 18:56] HydeHunter2 commented on #11093
Hey!
I'd like to take this, if it's relevant.
Can I send a pull request?

[2019-04-06 10:07] Alys commented on #11093
@HydeHunter2 Thanks for the PR!

I've changed the labels on this issue to remove "help wanted".

[2019-04-06 10:13] Alys commented on #11082
@miketoth Thanks for the PR!

I've removed the "help wanted" label from this issue.

[2019-04-06 22:07] HydeHunter2 commented on #11008
Hey!
I'd like to take this

I managed to repeat this bug:
![github](https://user-images.githubusercontent.com/46248839/55675780-f85f9900-58cf-11e9-8390-2bce857551a9.png)

The bug also appears if you enter a very long word:
![github](https://user-images.githubusercontent.com/46248839/55675828-1d084080-58d1-11e9-8c00-1a787c7aa42f.png)

[2019-04-07 00:54] Alys commented on #11015
Just confirming this is still happening with this report posted today by pizazznjazz (d68d7610-6f15-41cc-910d-7124ed561459):

"I'm not sure what is going on with the website but it wont let me scroll pages. Every once in a while I can get it to scroll but for the most part I am stuck on the top of the page. Sometimes I can navigate the page by selecting something and pressing tab (Which is what I

[2019-04-07 01:05] Alys opened #11109 "claimed Group Plan task does not appear in personal task list until a sync"
As reported by Lord Kraken @mbianchi (071314b5-b684-43da-8e19-118e36ea16f6) and confirmed by me:

_"When I make a Group Task (in this case it was a To Do, but I think it applies to any kind of Task) and assign it to myself, and then click the "Tasks" button on the Nav bar, the Task I just created and assigned to myself does not show up in my list. I then Refresh my browser window with F5 and the t

[2019-04-07 01:42] Alys commented on #11091
Reopening because this is still happening in staging (and production). If you view a group's member list first, you see that list when you try to view a challenge's members. If you reload and view the challenge's members first, you get a blank list (even for challenges that have members).

Reported by AnneLine in production; confirmed by me in production and staging.

![image](https://user-images.

[2019-04-07 09:04] Alys commented on #11008
@HydeHunter2 Thanks! Please go ahead! Comment here if you have questions.

[2019-04-07 12:21] paglias commented on #11109
@SabreCat maybe something for #11107 ?

[2019-04-07 12:30] #11082 closed, assigned to nobody

[2019-04-07 14:06] paglias commented on #11091
Sorry about this, fixed again (in staging) and can't reproduce the error anymore

[2019-04-07 14:06] #11091 closed, assigned to nobody

[2019-04-07 15:50] HydeHunter2 commented on #11008
I've corrected tag text overlapping:
![Github](https://user-images.githubusercontent.com/46248839/55685964-7e2d2400-5964-11e9-9278-a0f93803ec9b.png)

But I'm not completely sure what that means:

I'm new in Habitica and I don't know how they used to be. Could you clarify?

[2019-04-07 17:16] robert-osborne commented on #11015
@Alys I am no longer able to reproduce this issue.  It used to happen EVERY time in Chrome upon equipping an item, as of now it reliably DOES NOT happen.

[2019-04-08 14:45] Tressley commented on #11109
Yeah, this is definitely on our radar. We reviewed Group Plans recently with the intention of highlighting the larger issues like this one. We prioritized some of the smaller fixes beforehand to help onboard @SabreCat into Group Plans code.

[2019-04-08 15:19] thebat137 commented on #11015
Same here for the rollover version --- the problem did not happen when I logged in today.

[2019-04-08 18:04] citrusella commented on #11015
I had it happen after a quest finished last night.

[2019-04-08 18:52] tog22 commented on #10927
The behaviour here is erratic - sometimes the exact same string with emoji will show the emoji, and sometimes it will show :colon text:. Here's an example of text which does this: http://prntscr.com/n98kwn

[2019-04-11 14:52] thebat137 commented on #11015
Odd, it just happened for me again this morning.  It's very strange that it's gotten inconsistent for me now.  It used to happen every time.

I suspect maybe this might mean that it's the quest completion popup in particular that does it.  I have been completing a quest a day for a while now, but yesterday, when the problem did not happen, I had not completed a quest, whereas today I did.

[2019-04-11 17:27] SabreCat commented on #11015
This should be fixed after a site update today--hold on, friends!

[2019-04-11 18:14] SabreCat commented on #11015
Fixed in 087498760ade54ef3d3fb

[2019-04-11 18:14] #11015 closed, assigned to nobody

[2019-04-11 18:22] SabreCat commented on #10654
Duplicate of #9128 and #10927

[2019-04-11 18:22] #10654 closed, assigned to SabreCat

[2019-04-11 23:00] Alys commented on #8056
If we want to go with the idea of allowing gem-purchasable potions to be sold for gems, we could add a "sellType" field to the various potion types in `website/common/script/content/hatching-potions.js`
`premium` and `wacky` potions would have it set to `gems`, RoyalPurple potions would have it set to `none` (we do not want people to ever sell them since they can't get them back except by asking f

[2019-04-13 03:27] Alys commented on #10806
We're still getting reports of this but most don't have new details so I haven't been recording them. This one from @MaybeSteveRogers (767e5d92-0e13-4e30-acb1-d8bba62824fc) was a bit different because the website needed a shift-reload before RYA would appear:

"My Dailies didn't reset today (and soft syncing didn't do the trick). I've been logged into the website and had the tab open for the time

[2019-04-13 03:46] Alys commented on #11071
Just as confirmation, reducing the default font size in my Firefox causes the same problem and thebat137 (dea8a9e8-c084-438a-9a14-7fe96a73fd0a) reported it too:

![scr](https://lh3.googleusercontent.com/ZvMDFbpNROrOZTighbEDOoT0Uzmo4SFo9v9mLfEirfuWtimt8yJ8-i_oYrfzTJ7GFpIGmxErQIIGC_2i6PbS1fA14YboNeQaQFHVprklfzSmoA5lNQf0p_OQtOraRjB9n-YIfh7wMRQBFgLsS4Vyfblupc8MiW2LDSkjIHGQZh-Vvw98QmH-SolCyQBWER0ZuriKH

[2019-04-13 04:14] Alys commented on #8931
One of the party invitation bugs is that if a player has an invitation in only this format:
[code]
i.e., if there's no corresponding data in the `invitations.parties`, then when the party leader tries to cancel that invitation, they see the error "User not found among group's members" (that's the `groupMemberNotFound` string from groups.json).
Two problems with that:
+ they can't cancel the invita

[2019-04-13 12:10] Alys opened #11114 "Orb of Rebirth should reload website"
When you use the Orb of Rebirth, the website should reload itself as soon as the Rebirth has occurred so that all changes caused by Rebirth are seen immediately.

Currently, there's no visual change after Rebirth has happened so it looks like Rebirth hasn't worked. Worst of all, if the user was at or above level 100 and so had Rebirth available for free, it looks like it's still free so they try t

[2019-04-14 02:33] Alys commented on #9458
The work currently required for this issue is in progress [EDIT: no longer in progress; this issue is open for someone else to take up now], and once it's gone live we'll be able to tell from Tavern/guild posts whether it's helped enough to avoid the Costume vs Battle Gear confusion that players have. If there's still confusion, I'm guessing that more adjustments would be planned so I'm copying he

[2019-04-14 15:55] #11093 closed, assigned to nobody

[2019-04-15 15:48] #11109 closed, assigned to nobody

[2019-04-15 22:06] riki137 commented on #9514
This issue is happening for me at this day. Please re-open.

[2019-04-16 11:40] shanaqui opened #11115 "Visual issue: stats order is different between profile and item stats"
_EDIT: See the first comment for the desired fix._

E.g.

![image](https://user-images.githubusercontent.com/8144640/56206541-8eb85b00-6044-11e9-8b59-53f6c416eef3.png)

vs.

![image](https://user-images.githubusercontent.com/8144640/56206577-a394ee80-6044-11e9-8d23-bbafa52f5800.png)

[2019-04-16 14:35] GiacomoLaw commented on #11114
Would adding `location.reload();` to the below function work?

https://github.com/HabitRPG/habitica/blob/e5d834b40aa4407ab8603dc911e94e052d15174a/website/common/script/ops/rebirth.js#L102-L105

[2019-04-17 05:16] Alys commented on #9514
@riki137 you reported that in the Report a Bug guild a couple of days ago and I posted a reply there to you. Can you please go back there to find my reply and give answers to my questions? Once we have the information we need to better understand the problem you are experiencing, we'll either reopen this or (more likely) admins will open a new issue with the appropriate information.

[2019-04-17 21:06] paglias commented on #9514
Confirmed that it's happening again :( Will look into it in the next few
days

Il Mer 17 Apr 2019, 07:16 Alys <notifications@github.com> ha scritto:

[2019-04-17 22:56] Alys commented on #9514
We've had two reports of it so far with the first one, from tarrasqueSorcerer (a15db324-d5f8-49e2-91ce-d91455766a59) on the 9th, fixing itself as soon as a shift-reload happened so it might have been a local glitch (and hence my question to @riki137 in RaB to see if the same behaviour occurred for them). The first report wasn't reproducible at the time so a bug now might be from a code or library

[2019-04-18 14:09] shanaqui opened #11117 "Font is very faint on quest modal"
Screenshot from user:

![image](https://user-images.githubusercontent.com/8144640/56366758-beee2e00-61eb-11e9-82ee-1b39b6483334.png)

Screenshot from me highlighting the issue since it's difficult to see:

![image](https://user-images.githubusercontent.com/8144640/56366838-ec3adc00-61eb-11e9-9b17-2741a7ffae79.png)

Seems to happen for all quests. Both me and the reporting user are on Google Chrome

[2019-04-18 18:56] SabreCat opened #11119 "Wacky Pets should not be feedable"
[//]: # (Before logging this issue, please post to the Report a Bug guild from the Habitica website's Help menu. Most bugs can be handled quickly there. If a GitHub issue is needed, you will be advised of that by a moderator or staff member -- a player with a dark blue or purple name. It is recommended that you don't create a new issue unless advised to.)

[//]: # (Bugs in the mobile apps can also

[2019-04-18 19:04] riki137 commented on #9514
@Alys sorry for late reply.
The language is switchable if i do shift+f5 force reload, but it is only switchable once. Then, i have to do shift reload yet again if i want to switch to another or previous language. So sadly still a bug.

[2019-04-18 20:15] citrusella commented on #11117
This happens on Firefox, too. Probably in all browsers. The color is set by the .row class, presumably in [questInfo.vue](https://github.com/HabitRPG/habitica/blob/9a6aa5f443a384a30ff26dab3d98037b30993d92/website/client/components/shops/quests/questInfo.vue).

[2019-04-19 01:59] citrusella commented on #11114
For what it's worth, the modal you get when you click the achievement notification (which does pop up in the corner of the page when you rebirth) still properly reloads the site when closed.

(Would making the site reload without actioning that notification prevent it from ever being available to the player? Would returning that notification into a generates-a-modal-instead-of-a-notification kind

[2019-04-19 18:44] greenkeeper[bot] opened #11120 "An in-range update of aws-sdk is breaking the build 🚨"
## The dependency [aws-sdk](https://github.com/aws/aws-sdk-js) was updated from `2.440.0` to `2.441.0`.

🚨 [View failing branch](https://github.com/HabitRPG/habitica/compare/develop...HabitRPG:greenkeeper%2Faws-sdk-2.441.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

aws-sdk is a direct dependency of this project, and

[2019-04-20 09:25] Alys opened #11121 "Check-In incentive (loginIncentives) prize not given"
tam @tamtheotter (41f9f05a-fc5a-4ed2-9530-4d237637189c) reported:

_"I believe I'm missing an item for check-in, a saddle."_

shanaqui confirmed that was correct - they were at 53 check-ins and did not have any sign of every having owned a Saddle (i.e., `food.Saddle` did not exist at all in their account; if they'd been given a Saddle then used it, `food.Saddle` would exist with `0` as the value).

[2019-04-20 09:51] Alys opened #11122 "Hall of Heroes admin interface is setting numerical values as strings"
For mods and staff, the Hall of Heroes has an admin interface that lets you assign items to a user's account (screenshot below).

When you assign an item that has a numerical value (e.g., `5` for `items.pets.BearCub-Veggie`), the interface sets it into the user's account as a string rather than an integer. For example:

[code]

I think this is a relatively recent bug. I'm pretty sure that the admi

[2019-04-20 15:10] #11120 closed, assigned to nobody

[2019-04-20 16:23] paglias commented on #11122
This is due to the PR to speed up the model perf since there's no more any automatic casting to the expected type and the form is sending strings instead of numbers/booleans/... I'll fix it after the weekend but in the meantime it would be better not to use it

[2019-04-20 16:26] paglias commented on #11121
Hmm I gave a look at the code but couldn't find anything wrong with it, did we see any reports of login incentives not working?

The save phase is the same used for the rest of cron so if there was an error while cron was running it would also affect login incentives

[2019-04-20 19:24] shanaqui commented on #11121
Aside from tamtheotter's report copied above, I haven't ever seen a report I was able to confirm before. There have been other reports of missing items, but it's difficult to confirm in most cases and it could get lost amidst the issues of misunderstanding when items are given. This one was unambiguous, though: the item was definitely not given to them at all.

(The user has been given a Saddle no

[2019-04-20 22:28] Alys commented on #11066
This also happens when trying to view the profile of a player who has deleted their account. cTheDragons reports:
"Click on an account that is deleted in chat and receive the last profile you looked at. If it is the first profile you logged on you will receive yours."

What should happen is that you see a 404 (Page Not Found) error message as described by Tressley in https://github.com/HabitRPG/ha

[2019-04-21 00:27] Alys commented on #11121
Would you expect that kind of error to appear in Loggly? There was nothing for this instance.

"Check-in incentive" is the user-facing name for `loginIncentives`. I'm about to edit the title to add loginIncentives to it.

[2019-04-21 00:28] Alys commented on #11122
I've marked this as in progress.

After the weekend, let us know if we should test forms in any other parts of the site.

[2019-04-21 04:17] renatacavalheiro commented on #11117
Hi!  Could I help on this issue? 😊

[2019-04-21 08:11] paglias commented on #11122
Thanks but it should be limited to the hall of heroes since it's the only Apu route that allows to set arbitrary values for items

[2019-04-21 08:12] paglias commented on #11117
Sure @rezzycavalheiro ! Let us know if you have any question

[2019-04-21 08:53] paglias commented on #11122
@Alys have you seen other issues with the hall of heroes not behaving correctly? For example setting a value for something else than a pet not being saved correctly?

[2019-04-21 22:02] HydeHunter2 commented on #11008
I made two pull requests, as they fix different things

[2019-04-22 09:09] HydeHunter2 commented on #11114
I'd like to take this

[2019-04-22 15:19] jerell-mendoza commented on #11119
@SabreCat, could I take a look at this? I'll probably be asking more questions as I look into it

[2019-04-22 16:14] HydeHunter2 commented on #11027
I'd like to take this

[2019-04-22 18:29] shanaqui opened #11128 "Cannot unequip an item lost due to death"
Needs investigation, not replicated.

[2019-04-22 19:21] thebat137 commented on #11071
I encountered another bug recently that had a similar cause --- the text entry boxes in the "Fix Character Values" modal displayed badly when the default font size was altered, and it seemed to have to do with discrepancies in the measurement units used to set the text box size.  I'm not seeing that other problem currently, so I assume it's been fixed, and I wonder if the fix for this might be sim

[2019-04-22 21:49] citrusella commented on #11114
Question I still feel merits some kind of response: Does the suggested solution completely remove the rebirth achievement modal by way of rendering it inaccessible (that is, is there no delay in reload that would allow the notification rebirth generates to be clicked)? (I might have a sentimental attachment to that modal because I like the information it tells me, i.e. the whole "congrats, this is

[2019-04-23 01:27] greenkeeper[bot] opened #11129 "An in-range update of express-basic-auth is breaking the build 🚨"
## The dependency [express-basic-auth](https://github.com/LionC/express-basic-auth) was updated from `1.1.7` to `1.2.0`.

🚨 [View failing branch](https://github.com/HabitRPG/habitica/compare/develop...HabitRPG:greenkeeper%2Fexpress-basic-auth-1.2.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

express-basic-auth is a d

[2019-04-23 12:32] #11129 closed, assigned to nobody

[2019-04-23 12:33] paglias commented on #11114
@Tressley do you have any indication regarding @citrusella 's question on how you'd like this to be solved?

[2019-04-23 12:34] paglias commented on #11119
@jerellmendoodoo go ahead! Happy to answer any question you might have

[2019-04-23 12:35] paglias commented on #11121
Hmm if it was a VersionError we would have something in loggly but might have happened during a server outage

[2019-04-23 12:37] paglias opened #11130 "Server Performance: only load user fields needed for route"
From an internal conversation with @phillipthelen

`authWithHeaders` should be passed an option (already supported) to only load the user fields needed for each route. Will help with performances

[2019-04-23 16:51] HydeHunter2 commented on #11114
If I understand correctly what you want, then the achievement "`Began a new Adventure`" will not be removed.

Here's how it will happen if this pull request is merged:
1) You buy `Orb of Rebirth`.
2) A notice "`You bought the Orb of Rebirth`" appears.
3) The page automatically reloads.
4) And only then the achievement "`Began a new Adventure`" appears.
5) You can click on it to see the modal with

[2019-04-23 17:20] fornsss commented on #11008
sabe jones i kill you

W dniu poniedziałek, 22 kwietnia 2019 HydeHunter2 <notifications@github.com>
napisał(a):

[2019-04-23 18:18] citrusella commented on #11114
Oh. I couldn't tell that from just reading the PR. Is this a case of my kindergarten-level understanding of Javascript again? (I might have also been remembering [a past instance where the site instead of the modal initiating the reload](https://github.com/HabitRPG/habitica/issues/9770) resulted in the modal being unreadable--though in that instance it was a modal that popped up before the site re

[2019-04-23 18:36] Tressley commented on #11114
I think points 4 and 5 should be consolidated into one. I don't think we should be tucking achievements behind snack notifications.

[2019-04-23 18:39] HydeHunter2 commented on #11114
Okay, I'll fix it soon

[2019-04-23 18:40] Tressley commented on #11114
@HydeHunter2 -- With that being said, I think we need to give the achievement modal some attention because at the moment you have no idea what you've achieved. 😅

![image](https://user-images.githubusercontent.com/2686586/56607139-c9d30500-65d5-11e9-8303-576b2cda98f5.png)

[2019-04-23 18:57] citrusella commented on #11114
In that case, is it better to just un-snack the existing notification? Clicking close on it already initiates a reload. Or is changing the reload to before, showing it after, and un-snacking better?

Apparently the snacking came from the issue I linked in my last comment, but there's like four or five modals that have been put inside snackbars? (Or [seven, apparently](https://github.com/HabitRPG/h

[2019-04-23 19:02] HydeHunter2 commented on #11114
Hmm, this is the screenshot[you sent] of what achievement?

Just the achievement "Began a New Adventure" has a description. Or are you talking about something else?
![Снимок экрана 2019-04-23 в 21 47 44](https://user-images.githubusercontent.com/46248839/56607919-50a5d300-6612-11e9-9852-720ba6c375f4.png)
![Github](https://user-images.githubusercontent.com/46248839/56607676-c9f0f600-6611-11e9-85bd-

[2019-04-23 19:15] HydeHunter2 commented on #11114
@Tressley please help me choose.
Do I have to restart page before or after the achievement modal appears?

Like:
[code]
OR
[code]

[2019-04-23 21:28] thebat137 opened #11134 "Task editing modals do not scroll in response to dragging of checklist items"
@Alys asked me to create this issue.

[//]: # (Before logging this issue, please post to the Report a Bug guild from the Habitica website's Help menu. Most bugs can be handled quickly there. If a GitHub issue is needed, you will be advised of that by a moderator or staff member -- a player with a dark blue or purple name. It is recommended that you don't create a new issue unless advised to.)

[//

[2019-04-23 22:20] Alys commented on #11134
I've marked this as suggestion-discussion for the staff to comment on the preferred fix.

Thanks @thebat137 !

[2019-04-23 22:42] Alys commented on #9242
Another report os this from Arkadiy @arkadiyjs (4401fa80-29a5-4f9e-8a51-94081fb3bffd):

"After clicking on a notification from a party I'm a member of, I'm transferred to the party's page. I click on the now greyed out icon, then I click on "Dismiss All". The notification is not dismissed. I haven't checked whether the same applies to Guild notifications."

[2019-04-24 05:17] HydeHunter2 commented on #11114
I consolidated points 4 and 5 into one. If necessary, I'll move the reloading page, wherever you want.

P.S. Thanks, @citrusella ! You were right. This issue introduced after [this](https://github.com/HabitRPG/habitica/pull/10564) pull request. Knowing this helped me thanks to you :]

[2019-04-24 06:21] HydeHunter2 commented on #10989
I'd like to take this

[2019-04-24 10:30] HydeHunter2 commented on #10678
I'd like to take this

[2019-04-24 17:51] SabreCat commented on #10985
This isn't a bug, as such; it's the current expected behavior that the first click on an approval-needed task requests approval, then after receiving approval the user clicks the task to collect their rewards. That said, there is probably a better way to do this, but it'll need some hashing out at the workflow/UX design level. I'm going to set this to needs-discussion.

ETA: The above just refers

[2019-04-24 21:13] Alys commented on #11128
From what I've seen, that user didn't lose the item due to death (it was a mystery item that should never be taken by death). I think they might have got into an odd situation with their gear from using the API somehow. I've asked them in RaB to provide any details they can think of about how the gear item became equipped and what console messages happen when they try to remove it.

I'm closing th

[2019-04-24 21:13] #11128 closed, assigned to nobody

[2019-04-25 10:54] Tressley commented on #11114
@HydeHunter2 -- The modal screenshot I shared is the modal that is displayed when you click on the snack notification. This was during testing on a new account.

As for the refresh, I think your first option is my preference.

[2019-04-25 12:40] shanaqui opened #11137 "Edit/deleting tasks in a challenge appears possible for people who are not admin/the creator"
_EDIT: see the first comment for the desired fix._

Reported today by @RobotKing (7966165f-4b5c-4ad3-b761-e99f3b729400).

Not tested at the moment; is it possible this is intentional for some reason (since we do have an error for it)?

[2019-04-25 13:15] HydeHunter2 commented on #11114
Okay, thanks for answer!
I think we've discussed everything and a pull request's code can be reviewed.

[2019-04-25 20:35] paglias commented on #11114
thanks @HydeHunter2 ! Sorry for the delay but before the end of the week I'll be sure to give a look at your PRs

[2019-04-25 20:41] #11122 closed, assigned to nobody

[2019-04-25 20:42] paglias commented on #11122
Should be fixed in staging

[2019-04-25 20:50] #9514 closed, assigned to nobody

[2019-04-25 20:52] paglias commented on #9514
Should be fixed but it might take about 1 week before it goes live

[2019-04-25 21:10] greenkeeper[bot] opened #11138 "An in-range update of superagent is breaking the build 🚨"
## The dependency [superagent](https://github.com/visionmedia/superagent) was updated from `5.0.2` to `5.0.3`.

🚨 [View failing branch](https://github.com/HabitRPG/habitica/compare/develop...HabitRPG:greenkeeper%2Fsuperagent-5.0.3).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

superagent is a direct dependency of this p

[2019-04-25 22:04] #11138 closed, assigned to nobody

[2019-04-27 09:37] Alys opened #11139 "Custom Day Start time is not used for displaying To-Do due dates"
As reported by Arkadiy @arkadiyjs (4401fa80-29a5-4f9e-8a51-94081fb3bffd) who has their Custom Day Start time set to 4am:

'It seems that the custom day start is not functional [for To-Do due dates]. [To-Dos] that are "Due Today" change to "Due a day ago" after [midnight] even though the day is supposed to start at 4 am.'

[2019-04-27 09:53] Alys opened #11140 "Inbox / private messages / PMs should be searchable by Username"
As reported by cTheDragons and confirmed by me:

"Unable to search by @username in the Messages (Inbox) section. Only via the display name."

In my opinion, the ideal situation is that Inbox conversations should be searchable by both Usernames and Display Names.

I'll leave this as suggestion-discussion for a few days in case the staff want to comment and then mark it as help wanted.

[2019-04-27 10:40] HydeHunter2 opened #11141 "Challenge can't be updated more than twice (without reloading the page)"
### General Info
  * UUID: af1477b6-509a-4611-b851-d7a8e3a9c02a
  * Browser: Safari
  * OS: OS X

### Description
Leader of Challenge cannot update it more than twice without reloading the page.
Also, after each update, some interface element disappears(Look at the screenshots)

Initial state | After the first update | After the second update.
------------|----------------------|------------------

[2019-04-27 17:21] #11008 closed, assigned to nobody

[2019-04-27 17:26] #10678 closed, assigned to nobody

[2019-04-27 17:28] #10989 closed, assigned to SabreCat

[2019-04-27 17:32] #11114 closed, assigned to nobody

[2019-04-28 12:53] shanaqui opened #11143 "Stat issues after using reset and dying"
Needs a more informative title, probably. Just trying to get this in here to start with!

Reported by @ieahleen (c073342f-4a65-4a13-9ffd-9e7fa5410d6b)

[2019-04-28 13:22] majestic-owl448 commented on #11143
If there is any need of testing, like verifying if it happens with all automatic allocation options or things like that, I will re activate my test account

[2019-04-28 13:24] majestic-owl448 commented on #11143
Even if it could still fall under this issue: https://github.com/HabitRPG/habitica/issues/6482

[2019-04-28 16:40] greenkeeper[bot] opened #11144 "An in-range update of accepts is breaking the build 🚨"
## The dependency [accepts](https://github.com/jshttp/accepts) was updated from `1.3.5` to `1.3.6`.

🚨 [View failing branch](https://github.com/HabitRPG/habitica/compare/develop...HabitRPG:greenkeeper%2Faccepts-1.3.6).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

accepts is a direct dependency of this project, and **it

[2019-04-28 20:44] #11144 closed, assigned to nobody

[2019-04-29 12:44] Alys opened #11145 "My Challenges is blank when filtering for Owned"
As reported by Ceran, Hamster Juggler (@Ceran, aabe567b-aa55-42c1-b612-b7699a7ba9b7):

"Addition to the problems on the "my challenge" page I posted a while ago: I now can't see all of my challenges. Some just won't show up there and I have to go to the guild they're posted in and access them from the guild challenge list there. When I try to filter by challenges owned, I get shown just very few c

[2019-04-29 12:45] paglias commented on #11145
@negue might be due to the changes to challenges pagination?

[2019-04-30 16:50] citrusella commented on #11057
Is this still an issue? I can't replicate it (at least not locally) and the z-index is larger right now than the z-index of the modal background (and probably of the modal itself, though I didn't check that number; the bar is over top of everything).

(I was kind of excited to try my hand at trying to maybe fix that but if it ain't broken... XP
~~I could theoretically edit the comment anyway but..

[2019-04-30 20:42] SunSparc commented on #10967
Is the transition complete? Seems like it is. In which case both should probably be removed, instead of replaced. Unless that area is to be used for explaining what the Username is for and the length/character requirements.

[2019-04-30 23:49] Alys commented on #9745
Another example has been found by ieahleen, also a case where the challenge was created a long time ago but edited recently:

[code]

I've set its prize to 0.

[2019-04-30 23:50] Alys commented on #9745
Hmmmmm. That challenge has no summary. I wonder if the update route fails because of that and that causes the prize to be set to null. That's a wild, unsubstantiated guess but it might help with the investigation.

[2019-05-01 12:25] citrusella commented on #11117
I was playing around with this myself even though it's already claimed (because I wanted to wrap my head around how editing things worked (using an issue I thought I mostly understood) and figure out if I was cut out for the Habitica coding life--apparently I might be? XD), but while I was doing all that playing, I noticed the HP/collect and difficulty labels are also extremely low contrast (in th

[2019-05-01 17:28] tog22 commented on #10654
Thanks so much for looking into this @SabreCat! Are you still planning to work on this under either of those issues? It's a major pain

[2019-05-01 17:29] tog22 commented on #10927
One emoji which is consistently doing this for me is 🌫 ('fog')

[2019-05-03 05:20] sayansur25 commented on #11139
I am ready to work on this issue. If there are any specifics, let me know.

[2019-05-03 13:21] paglias commented on #11139
@sayansur25 thanks! go ahead and let us know if you have any question

[2019-05-03 13:31] paglias commented on #11105
Mongoose is fixed

[2019-05-03 13:31] #11105 closed, assigned to nobody

[2019-05-03 13:48] paglias commented on #11117
I'd say related :) But if it includes some changes in the color let's see if @Tressley has any advice

[2019-05-03 14:33] Tressley commented on #11117
Oh, wow. That is pretty faint. Here's what the modal should look like:

![image](https://user-images.githubusercontent.com/2686586/57144235-a3a82480-6d8e-11e9-8bfc-203bb088d505.png)

And here's what the tooltips should look like:

![image](https://user-images.githubusercontent.com/2686586/57144374-f255be80-6d8e-11e9-893b-7564d9f716f8.png)

[2019-05-03 18:38] HydeHunter2 commented on #11027
@paglias -- I can't find the method that filters tags in `markdown-it` [documentation](https://markdown-it.github.io/markdown-it/#MarkdownIt).
There is `md.configure('zero')`, but it is not what we need (i.e. it doesn't parse anything)

I see no other way but to use `.replace('<tag>', '')`(not the best solution I think).
Could you(or someone else) help me?

[2019-05-03 19:20] nichwall commented on #10041
I am interested in working on this issue. I plan to add a new css rule for this form of checkboxes, probably named `custom-weekly-checkbox`. Is that an acceptable way to update the design for the weekly repeats?

[2019-05-04 09:52] paglias commented on #11027
@HydeHunter2 ah, I thought

would be the best solution but not if it doesn't parse anything...

What about rendering the markdown to html and then take the text from there? see https://stackoverflow.com/questions/822452/strip-html-from-text-javascript for example

[2019-05-04 09:56] paglias commented on #10041
@nichwall that looks like a possible solution! If it comes out to be too difficult you could also give a look at styling bootstrap's (Habitica uses it under the hood, just with a different style) button group component https://getbootstrap.com/docs/4.3/components/button-group/

[2019-05-04 15:22] nichwall commented on #10041
@paglias Ah, that's a lot easier than what I was planning to do, thanks! I haven't done much with web dev, but that's still something I think I can do. In order to maintain consistent style, I should put the `btn-group` definition in the related Tasks `.vue`, correct? There is not a master `*.vue` that other scripts pull from?

[2019-05-04 17:25] paglias commented on #10041
yes, it should be part of the task vue file.

Just a quick warning that Habitica might not be the easiest project to begin with if you're new to web design since it uses many different components to work

[2019-05-05 06:29] Alys opened #11151 "locked pinned Grand Gala seasonal equipment for your class has wrong date and wrongly mentions class"
EDIT: When this becomes help wanted again, note https://github.com/HabitRPG/habitica/issues/11151#issuecomment-626287070 and any comments below it. They are likely to be relevant to the solution.

When seasonal equipment for the class you are currently playing from the Spring 2019 Grand Gala is pinned to your Rewards column and you have never owned it, the on-hover text says **"Available until 31

[2019-05-06 05:43] Alys opened #11152 "task Notes don't disappear when deleted (client-side cache bug)"
On the website, if you have a task with a note and you delete the note, the note still appears when you view the task until you reload the website.

It is however deleted from the task immediately (I've confirmed that by database searches) so this is just a website client-side caching problem.

If you change the text of the note, the change appears immediately so this bug seems to be just related

[2019-05-06 05:46] Alys commented on #11152
I've only started seeing reports of this today so this is probably a new bug caused by recent changes in Habitica's front-end code or in a vue library that our code uses.

[2019-05-06 13:11] Tressley commented on #11027
@HydeHunter2 -- Invited you to our Zeplin project. You can view the Messages artboard here: https://zpl.io/2GG0B1j

[2019-05-06 13:24] HydeHunter2 commented on #11027
Thank you :]

[2019-05-06 20:27] sayansur25 opened #11155 "For medium & small screen view menu bar is not hiding when clicked on a menu item."
[//]: # (Before logging this issue, please post to the Report a Bug guild from the Habitica website's Help menu. Most bugs can be handled quickly there. If a GitHub issue is needed, you will be advised of that by a moderator or staff member -- a player with a dark blue or purple name. It is recommended that you don't create a new issue unless advised to.)

[//]: # (Bugs in the mobile apps can also

[2019-05-07 07:21] HydeHunter2 commented on #11043
I'd like to take this.
Is it a good solution to add buttons with arrows, clicking on which will not cause a redirect?
They will be 20% (for example) of the width to make it easier to press.
Like this:
![GitHub](https://user-images.githubusercontent.com/46248839/57279115-dadd4500-70b0-11e9-98b9-bb6a94e0fcce.png)

## +

The fact that the menu remains open may seem buggy to someone(#11155).

If we fi

[2019-05-07 15:52] Tressley commented on #11043
@HydeHunter2 -- I think this a good solution. Here's the Zeplin artboards: https://app.zeplin.io/project/59c16a1433075573feaa48fb/dashboard?seid=5cd1a9509941ae689f1fb3a3

[2019-05-07 17:42] HydeHunter2 commented on #11043
it's excellent!
Thanks for the design.

[2019-05-07 18:36] MeanderingCode commented on #9231
@veeeeeee I am deeply interested in group tasks management, and it seems there are a few issues at hand around the design of them. I am just starting to scratch at the surface. Is there a place where design discussions are happening? I would like to participate.

[2019-05-07 19:46] michelle-gong commented on #11151
Hey Alys,
I will give this a shot! : ) am I right to be looking at equipmentSection.vue or is there something related to the Grand Gala that I should be looking at?
Michelle

[2019-05-08 13:48] shanaqui opened #11159 "Guild suggestion incorrectly identifies account as new"
_edit by Alys 2019-05-21: See the comment below for the desired fix._

[2019-05-09 18:08] trixobase commented on #4221
@TigMonkey is good, but for the futures users?

[2019-05-12 04:32] garayj commented on #11152
Hi there! Is this still open? I just found this project and I really like it and I'd like to make a first time contribution. Is this something I can take on?

[2019-05-12 06:09] Alys commented on #8337
Still an issue. @ravenlune reported it today:
"I was looking around for new guilds to check out, and I found this challenge called [ISTEBRAK'S ANCIENT WEAPON CHARACTER DESIGN CHALLENGE](https://habitica.com/challenges/e20ebdbf-2ad1-4a6c-833e-32cae38ff62e) that appears to have "-1" particpants? The challenge data tool says that it has 0 participants, but on the website it gives the number -1 (with

[2019-05-12 06:22] Alys opened #11162 "Guild and Challenge categories bugs: duplication, inability to change"
As reported by @-R (3807fed9-ada8-41eb-9174-baa26246b57e):

**"on the website I noticed my private guild's assigned categories are repeated ? 4 categories instead of 2."**

**"The refresh [reloading the webpage] didn't change anything. Here's the URL: https://habitica.com/groups/guild/5189073f-56cd-4e2b-9cb6-817567371887 "**

I confirmed in the database that the guild had two categories assigned b

[2019-05-12 06:25] Alys commented on #11162
Note how in the four categories array entries shown above, there's only two unique _id attributes.

[2019-05-12 06:26] Alys commented on #11162
actually, sorry, that's wrong, there are four unique _id attributes, they're just very similar.

[2019-05-12 08:45] rafucuk opened #11164 "npm start Doesn't Start"
Hi! I'm using Linux for Habitica. I do "npm install" and other things in https://habitica.fandom.com/wiki/Setting_up_Habitica_Locally_on_Linux

But when i do "npm start" it doesn't starting.

Log:

0 info it worked if it ends with ok
1 verbose cli [ '/usr/bin/node', '/usr/bin/npm', 'start' ]
2 info using npm@5.8.0
3 info using node@v8.11.4
4 verbose run-script [ 'prestart', 'start', 'poststart' ]

[2019-05-12 09:52] Alys commented on #11164
That says
[code]
so it looks like you're using the wrong versions of npm and node. See "Install Node and NPM" in https://habitica.fandom.com/wiki/Setting_up_Habitica_Locally_on_Linux for more details.

I'll close this issue for now since hopefully that will fix all the problems however if you run into any other trouble, post again to this issue and we'll reopen it and keep helping you!

[2019-05-12 09:55] Alys commented on #11152
@garayj Sure, thank you! Post here if you have questions or run into trouble.

In case you haven't already seen this, the [Guidance for Blacksmiths](https://habitica.fandom.com/wiki/Guidance_for_Blacksmiths) wiki page and the pages it links to will give you some information about coding for Habitica. Good luck! :)

[2019-05-12 10:29] Alys commented on #11151
@michelle-gong Thank you! I've marked this as in progress for you.

Here's how I'd go about finding the right code to edit:

Once you have a local install set up, cd into the top-level directory of your local copy of the repo (the directory that contains `config.json.example`) and then pick some text from the feature that you're investigating. In this case, "Available until" is a good selection. Y

[2019-05-12 11:08] Alys commented on #11159
This is the code responsible for the buggy behaviour:

https://github.com/HabitRPG/habitica/blob/3c0cd7067a3608f4f071ea139f3103d3dd9e0be2/website/client/components/groups/publicGuildItem.vue#L28

https://github.com/HabitRPG/habitica/blob/3c0cd7067a3608f4f071ea139f3103d3dd9e0be2/website/client/components/groups/publicGuildItem.vue#L176-L180

I.e., it deliberately shows the "Suggested because you’re

[2019-05-12 16:48] rafucuk commented on #11164
Ahh again!

0 info it worked if it ends with ok
1 verbose cli [ '/usr/bin/node', '/usr/bin/npm', 'start' ]
2 info using npm@6.9.0
3 info using node@v10.15.3
4 verbose run-script [ 'prestart', 'start', 'poststart' ]
5 info lifecycle habitica@4.94.1~prestart: habitica@4.94.1
6 info lifecycle habitica@4.94.1~start: habitica@4.94.1
7 verbose lifecycle habitica@4.94.1~start: unsafe-perm in lifecycle tr

[2019-05-12 22:00] Alys commented on #11057
Yeah, it seems to be fixed again. I'll close it. Thanks @citrusella !

[2019-05-12 22:00] #11057 closed, assigned to nobody

[2019-05-13 08:52] paglias commented on #11164
@RaufSSen the logs are not very clear, I would suggest to fully remove the `node_modules` folder and `package-lock.json` file and try to run `npm install` again looking for possible errors in the logs

[2019-05-13 11:44] Alys commented on #8500
We still get these reports regularly but this one stands out because none of the usual suggestions have helped:

@Profe (3966ce12-42e3-418d-a86e-9d76941a6b4e) wrote:
"When I try to order my daily tasks, they keep re-ordering themselves! For example, if I have Tasks 1, 2, and 3, when I drag 1 to the top, suddenly 2 and 3 will switch places. With three tasks it wouldn't be a big deal, but I have a l

[2019-05-13 19:26] rafucuk commented on #11164
I'm still waitin' help.

[2019-05-13 19:27] paglias commented on #11164
@RaufSSen I posted a possible solution in the previous comment, have you tried it?

[2019-05-13 19:39] rafucuk commented on #11164
yes i tried. Same error.

[2019-05-13 19:39] rafucuk commented on #11164
And what is proxy?

[2019-05-13 20:06] paglias commented on #11164
What do you mean by proxy?

[2019-05-14 08:29] Alys opened #11168 "collection quest box on party page shows collected items for non-participants"
When a party member is not participating in a collection quest, they see "n items found" in the bottom right-hand side of the quest box on the party page. For example, this is for a party member who is NOT a quest participant:

![image](https://user-images.githubusercontent.com/1495809/57682901-07c3c600-7676-11e9-84ce-ef82a05b9579.png)

The correct behaviour is for the bottom right-hand corner of

[2019-05-14 14:35] rafucuk commented on #11164
When i try with `npm run client:dev` it saying proxy. Then it's opening server in `localhost:8080` but when i try to open account or insert a name it's givin' error.

[2019-05-14 16:03] rafucuk commented on #11164
@Alys help

[2019-05-14 16:16] rafucuk commented on #11164
I see anyone is helpin' me then im closin' this.

[2019-05-14 16:16] #11164 closed, assigned to nobody

[2019-05-14 20:14] #11027 closed, assigned to nobody

[2019-05-15 22:10] shanaqui opened #11171 "Character customisation during signup lacking options"
We've had a couple of remarks about this lately. It's not possible to remove the ponytail during setup (at least on web) for example:

![image](https://user-images.githubusercontent.com/8144640/57812996-99aafc00-7766-11e9-93c6-436bb9a9d75a.png)

Another user says:

[2019-05-16 00:16] SabreCat opened #11172 "Visiting top level private message list should not clear all PM notifications"
[//]: # (Before logging this issue, please post to the Report a Bug guild from the Habitica website's Help menu. Most bugs can be handled quickly there. If a GitHub issue is needed, you will be advised of that by a moderator or staff member -- a player with a dark blue or purple name. It is recommended that you don't create a new issue unless advised to.)

[//]: # (Bugs in the mobile apps can also

[2019-05-16 03:34] jackcogdill commented on #10804
Hey, wondering if I could work on this? I have some experience with `contenteditable` divs.

[2019-05-16 03:43] reisturm commented on #9989
Is this still available? I'm looking to get into open source contributions, but am relatively new to the programming world. Would love to learn through this.

[2019-05-16 03:55] jackcogdill commented on #11083
Hey, wondering if I can work on this? Just encountered this bug myself.

[2019-05-16 04:16] reisturm commented on #10992
If this is still available, I'd like to try and fix it.

[2019-05-16 12:23] paglias commented on #11083
sure @jackcogdill ! thanks for the help and let me know if you have any question

[2019-05-16 12:24] paglias commented on #10804
@jackcogdill thanks for the interest but I think this issue is a bit outdated as we actually addressed the contenteditable issue in this PR https://github.com/HabitRPG/habitica/pull/10872/files#diff-f9db085b45d481950984d26ae407e383R15 which is currently blocked for unrelated reasons

@SabreCat will be able to confirm

[2019-05-16 12:25] paglias commented on #10992
@reisturm sure! thanks for the help and let me know if you have any question

[2019-05-16 12:26] paglias commented on #9989
@reisturm it's still available but it's probably not the easiest issue to start with to be honest, maybe you can try this after https://github.com/HabitRPG/habitica/issues/10992?

[2019-05-16 13:37] shanaqui opened #11173 "Accepting quest does not update participant numbers until refresh"
From Report a Bug. Not confirmed.

Not sure if we expect this to update live, but filing it as the best way to get the question on the radar.

[2019-05-16 13:38] shanaqui opened #11174 "Inventory / Quick Inventory should show new items immediately"
From Report a Bug. Not confirmed. I would expect the quick inventory to update, though. Will check in whether a sync updates it.

_Edit by Alys 2019-07-27:_

This also affects the Inventory > Items page, and applies to Food, Eggs, and Hatching Potions.

**When you gain an item from a drop, if you look on the Inventory page or in either of the Quick Inventory windows, you don't see that item. You n

[2019-05-16 13:40] shanaqui commented on #11172
additional thoughts from AnneLine:

[2019-05-17 01:15] Germlord commented on #8462
This is pretty old, but I'll see if I can repro this/fix it if it's still there.

[2019-05-17 02:26] greenkeeper[bot] opened #11175 "An in-range update of express is breaking the build 🚨"
## The dependency [express](https://github.com/expressjs/express) was updated from `4.16.4` to `4.17.0`.

🚨 [View failing branch](https://github.com/HabitRPG/habitica/compare/develop...HabitRPG:greenkeeper%2Fexpress-4.17.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

express is a direct dependency of this project, and

[2019-05-17 18:55] greenkeeper[bot] opened #11176 "An in-range update of aws-sdk is breaking the build 🚨"
## The dependency [aws-sdk](https://github.com/aws/aws-sdk-js) was updated from `2.457.0` to `2.458.0`.

🚨 [View failing branch](https://github.com/HabitRPG/habitica/compare/develop...HabitRPG:greenkeeper%2Faws-sdk-2.458.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

aws-sdk is a direct dependency of this project, and

[2019-05-17 19:01] rafucuk opened #11177 "Heroku Server."
Hi, Again me! I fixed my last error. I want to share this with my friends. And I found heroku. But I don't know how can i share this. I have a question. If i give you a github account and heroku account, Can you open for me?
If answer == no:
    print("Then How can i do?")
elif answer == yes:
    print("A lot of thanks!")

[2019-05-18 08:34] reisturm commented on #10992
Should this UI match when you hover equipment on other parts of the site (i.e. shows name and description), or should it just show the name?

[2019-05-18 09:01] paglias commented on #10992
Probably a question for @Tressley

[2019-05-18 09:05] paglias commented on #11177
Hi @RaufSSen, I'm happy you managed to solve your issues but what do you mean with `I found heroku`?

Anyway we have a few heroku deployments for our own internal usage but don't support it for others, that being said you're free to deploy your own version of Habitica locally, on Heroku or any other server.

I'm going to close the issue since GH is not the most appropriate place to give support, b

[2019-05-18 09:05] #11177 closed, assigned to nobody

[2019-05-18 12:18] rafucuk commented on #11177
I'm saying Heroku, a nodejs etc. free hosting website.

[2019-05-18 23:31] MeanderingCode commented on #10690
I have created draft PR #11179 to add this functionality, as well as "uncompleting" Todos and Dailies.

The design of the implementation does the following:
* "Single" Shared Completion Dailies are marked completed for all assigned users when one assigned user completes
* Master Daily on Group Task Board is marked complete when one assigned user completes
* Dailies and Todos can be "uncompleted",

[2019-05-18 23:37] citrusella commented on #10992
I'm not Tressley but unless I've got a strong case of Mandela effect and this was never actually the case, the past behavior was just the title properly aligned and in the right color, whether or not that's intended going forward.

[2019-05-19 05:40] MeanderingCode commented on #10690
One group tasks incentive, i think, could be to earn gems for the group.

Damage from unfinished dailies is already distributed, at each user's cron, in the work I did above. Rewards (XP, GP, drops, and damage to bosses) are also already included via the scoring by the member who completes the task (incentivizing members to do the tasks).

As gems can be awarded in challenges, etc, from the group'

[2019-05-19 07:18] Alys opened #11180 "can't log in to Habitica website on non-default mobile browser"
On my Android phone, I have Firefox as my default browser. I needed to log in to the Habitica website using Chrome to test a bug, however the app does not allow me to do that. When I click the login button, it asks me if I want to open with the Habitica app or with my default browser. There's no way to scroll or click to select a different browser. See the screenshot below.

The behaviour I was ex

[2019-05-19 07:27] Alys opened #11181 "Tasks cannot be completed / modified on mobile browsers - incorrect mouseover/click behaviour"
@kugoi (ba58893d-a44a-47d6-9d1a-16b4ac8c58c8) reports:

**"On Android, viewing task list on Chrome in desktop mode, the broken challenge link no longer brings up the box to keep or remove tasks and the 3 dot more options won't bring up the options**
**"mobile chrome on desktop mode.**
**"Same problem when not in desktop mode"**

I can't replicate the 3-dots menu problem in Firefox on my Android ph

[2019-05-19 08:55] paglias commented on #11180
I think this should be in the android repo? Since the app-selection screen appears because the Habitica app is installed

[2019-05-19 14:05] majestic-owl448 opened #11182 "Conversations in Inbox often open at the beginning"
### General Info
  * UUID: c073342f-4a65-4a13-9ffd-9e7fa5410d6b
  * Browser: Google Chrome 74.0.3729.157 64bit
  * OS: Windows 10 Pro v. 1803

### Description
Below Report a Bug guild conversation
So, I can say it is not exactly every time, but for now it happens pretty often when I just got a new message. I had a notification of a new message, I went to open the conversation and found it scrolled

[2019-05-20 04:27] Alys commented on #11182
This happened to me once today: _"I had a notification of a new message, I went to open the conversation and found it scrolled up at the beginning of the conversation."_

I hadn't been paying close attention so I don't know this was relevant to my case: _"It seems it is happening when I open it a moment too early than it when it has finished loading"_
I'll watch for it next time.

[2019-05-20 08:14] Germlord commented on #8462
My first attempt to reproduce this with debug resulted in killing the boss, but not inflicting any damage for missing dailies at all--it appears that part of Cron might have been skipped? It's worth mentioning that this was after I manually set Cron, on the same day that the account was created. Unfortunately, I won't have time to further investigate, so I would encourage any other volunteers to g

[2019-05-20 09:04] paglias commented on #10992
I agree but I'm not sure about the color to use :)

[2019-05-20 09:20] #11176 closed, assigned to nobody

[2019-05-20 09:20] #11175 closed, assigned to nobody

[2019-05-20 09:30] greenkeeper[bot] opened #11184 "An in-range update of vuedraggable is breaking the build 🚨"
## The dependency [vuedraggable]() was updated from `2.20.0` to `2.21.0`.

🚨 [View failing branch](https://github.com/HabitRPG/habitica/compare/develop...HabitRPG:greenkeeper%2Fvuedraggable-2.21.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

vuedraggable is a direct dependency of this project, and **it is very likely

[2019-05-20 09:30] #11184 closed, assigned to nobody

[2019-05-20 09:33] #11168 closed, assigned to nobody

[2019-05-20 09:46] #11152 closed, assigned to nobody

[2019-05-20 11:23] Alys commented on #11180
Ah thanks, I didn't realise, I'll move it to the Android repo now.

[2019-05-20 11:30] Alys commented on #8462
@Germlord Was the Start Date of the Dailies set to be in the past? If it wasn't, then cron would have correctly ignored them.
I.e., if you created a test Daily today, it's default start date would have been today. If you did not change the Start Date to yesterday or earlier, then when you caused cron to run today, cron would have seen that the test Daily was not due yesterday, and so it would have

[2019-05-20 12:23] Alys opened #11185 "editing tasks from cloned challenge sometimes edits original challenge tasks"
_Ceran, Hamster Juggler (@Ceran, aabe567b-aa55-42c1-b612-b7699a7ba9b7) reports:_

I've noticed this several times before, and it just happened again: Sometimes if I clone a challenge, and change the tasks of the new challenge, it will instead change the task in the mother challenge (the one I cloned from) and the task of the daughter challenge that I actually edited will revert to as it was before

[2019-05-20 14:18] kugoi commented on #11181
I realized after Chris posted that I can't check tasks as done either.

[2019-05-20 14:56] Tressley commented on #10992
I'm here! You're all correct in your assumptions, but I think the vertical centering is actually a result of the item description not being included. As you can see in the mock-up example below, the name of the item starts 12px from the top of the tooltip, but without a description it easily looks like a header. The font-color should be `#FFFFFF`

![image](https://user-images.githubusercontent.com

[2019-05-20 18:55] b9chris commented on #11181
I'm a Web Dev and happy to work on this, but, it appears there are a lot of hurdles to becoming a HabitRPG dev, so I'm not clear on how long that would take to get through, and, it would help if an experienced dev could pass me a guess at where this would be. If it's jQuery based then honestly the fix is to just change .on('click' ... to .on('click touch', but, it depends on how this is written.

[2019-05-20 19:35] citrusella commented on #11181
For what it's worth, I tried this in Firefox (reasonably up-to-date, I assume) on a Samsung Android tablet (not phone) a couple days ago after seeing the reports in-guild and didn't have any of the issues, though for what it's worth I also didn't have any small screen behavior due to the tablet's size. (I did have trouble hitting the challenge link for a bit when I first tried but that was more du

[2019-05-20 19:38] kugoi commented on #11181
I'm using Chrome, so...

[2019-05-20 19:50] b9chris commented on #11181
That's interesting, could be specific to Chrome touchscreens. I definitely
can't check off Tasks in Habitica using touch on my Win10 machine, Chrome

On Mon, May 20, 2019, 3:38 PM kugoi <notifications@github.com> wrote:

[2019-05-21 07:45] paglias commented on #11181
Thanks for all the reports! Just wanted to let you know that we're aware of this bug and are investigating although so fare we've not been able to reproduce it on Chrome using touch input.

I know it's difficult to get this info on a mobile device but it would  be very useful if someone manages to see if there's any error in the console after trying to complete a task

[2019-05-21 11:59] Alys commented on #11139
This successfully considers the Custom Day Start time (CDS) when displaying a due date, however it has side-effects, at least some of which I think are because the due date is now calculated from the start of the day rather than the end of the day.

Tasks that are/were due in the near future/past are shown as being due in a number of minutes or hours. The production site delineates them by day onl

[2019-05-21 11:59] Alys commented on #11139
sorry, that was meant to be on the PR. I'm moving it there now.

[2019-05-21 14:38] b9chris commented on #11181
Well again this occurs on any touchscreen with Chrome, and it's very easy to get a Dev Console on my Win10 laptop. I get no errors when attempting to complete a task with touch. It just behaves like mouseover. I highly suspect the existing click listener simply needs to also listen for the touch event.

The only stuff that does appear in Console is what I'm sure everyone sees on Chrome, the 2 warn

[2019-05-21 17:06] #10706 closed, assigned to nobody

[2019-05-21 17:07] #10118 closed, assigned to nobody

[2019-05-21 17:08] #9425 closed, assigned to nobody

[2019-05-22 19:29] veeeeeee commented on #9231
@MeanderingCode Thanks for the inquiry! We solicit input from group plans users via email and are always open to hearing additional thoughts via that channel. If you get in touch with us over at admin@habitica.com, we can include you in the testing and feedback on some of the changes we've been working on.

[2019-05-22 20:18] MeanderingCode commented on #9231
Email sent!

On Wed, May 22, 2019 at 12:29 PM veeeeeee <notifications@github.com> wrote:

[2019-05-23 04:05] jackcogdill commented on #11083
Has anyone discovered clear steps to reproduce this? I'm having a hard time debugging. Although I suspect it has to do with `modalStack`

[2019-05-23 12:35] greenkeeper[bot] opened #11189 "An in-range update of mongoose is breaking the build 🚨"
## The dependency [mongoose](https://github.com/Automattic/mongoose) was updated from `5.5.10` to `5.5.11`.

🚨 [View failing branch](https://github.com/HabitRPG/habitica/compare/develop...HabitRPG:greenkeeper%2Fmongoose-5.5.11).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

mongoose is a direct dependency of this project

[2019-05-23 15:09] greenkeeper[bot] opened #11191 "An in-range update of nightwatch is breaking the build 🚨"
## The devDependency [nightwatch](https://github.com/nightwatchjs/nightwatch) was updated from `1.1.10` to `1.1.11`.

🚨 [View failing branch](https://github.com/HabitRPG/habitica/compare/develop...HabitRPG:greenkeeper%2Fnightwatch-1.1.11).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

nightwatch is a devDependency of thi

[2019-05-24 19:27] SabreCat commented on #10804
That is correct, @paglias, thanks for updating the labels! @jackcogdill, sorry for the misleading tag there--I hope you can find something else suited to your interests to work on!

[2019-05-25 02:35] Alys commented on #10688
Another example from User ID f2e09b75-aacd-4723-b61f-ac9ed2934be4, with a null tag array entry and two entries that contained a name but no id. I've replaced all names with ... for privacy.
[code]

[2019-05-25 06:43] jackcogdill commented on #10804
@SabreCat Thank you for following up. I was also wondering, is there a current feature request for adding keyboard support for the @mentions in the chat? It does not appear to be accessible currently.

[2019-05-26 02:00] garayj commented on #11159
Hi Alys! If no one is working on this, I can get started on this. :]

[2019-05-26 09:32] Alys opened #11193 "Amazon subscription payment failure: BillingAgreementConstraintsExist - BuyerConsentNotSet and cannot be confirmed"
SuperJunebug (a47506a0-6228-473b-980c-6e5a6007ffc6) reports:

**I am trying to buy the yearlong subscription using my Amazon account, but I keep getting an "Unexpected Error Occurred" message.**

The Loggly error is below. No subscription was created in their account.

SuperJunebug's post is still visible in the Report a Bug guild, dated about 17 hours before this issue was logged, so if any follo

[2019-05-26 09:41] paglias commented on #11193
Have they checked out the checkbox to authorize recurring biling?

[2019-05-26 09:45] #5757 closed, assigned to nobody

[2019-05-26 14:05] majestic-owl448 commented on #11185
I had this happen if you don't wait enough for the new challenge page to appear, so you are still on the parent challenge and could be editing those, but when you save the edit you are on the child challenge and the edit doesn't show, but if you go to check the parent challenge the edit is there

I don't know if this is what happens here, just wanted to bring this up as a possibility

[2019-05-26 19:32] #11191 closed, assigned to nobody

[2019-05-26 19:32] #11189 closed, assigned to nobody

[2019-05-27 09:05] gautamz07 opened #11194 "( General installation issue not an issue with the application directly ) :- is vagrent or docker compulsory to install ?"
Hi , Iám using windows 8 and i just wanted to know if vagrant or docker is compulsory to install in order to run this application locally ? or are vagrant and docker optional .. ?

Went through this link [HERE](https://habitica.fandom.com/wiki/Setting_up_Habitica_Locally) and it seems to be compulsory ..

[2019-05-27 12:21] Alys commented on #11194
No, it's not compulsory. Did you see the "Setting up Habitica Locally on Windows" link in the introduction to that page? The Windows instructions don't refer to Docker or Vagrant.

We use GitHub just for bug reports or problems with installations that need advanced help, so if you have any other questions, the Aspiring Blacksmiths guild is the best place to ask (there's a link to it in the install

[2019-05-27 12:21] #11194 closed, assigned to nobody

[2019-05-27 23:06] Alys commented on #11159
@garayj Thank you! Please go ahead. Comment here if you have questions.

[2019-05-28 03:36] gautamz07 commented on #11194
@Alys , thanks i have installed habitica successfully, was just wondering if they were compulsory ( Docker or vagrent ) , and yes i refered to the windows installation guide , Will go through the blacksmiths page.

Thank you for your help.

[2019-05-28 08:44] Alys commented on #10804
@jackcogdill https://github.com/HabitRPG/habitica/issues/9291 "@Username selection with keyboard arrow keys in drop-down mentions list in chat"
If you comment there to say you'd like to work on it, we'll mark it as in progress for you.

It's certainly an issue I'd love to see fixed!

[2019-05-28 13:21] jackcogdill commented on #9291
Hey, I'd be happy to work on this.

[2019-05-29 09:53] Alys commented on #10688
Another example reported today:

_"The tags functions seems have some problems._
_apk: When I edit tags(click the filters icon on the main screen),want to delete or add tags, after press the "done" button,it shows the message_
_connection Error: There seems to be a problem with the server.Try again later._
_website: 1.I can't add tags to any task(but I can add tags to task on the mobile phone) 2.W

[2019-05-29 10:39] Alys commented on #9291
@jackcogdill Thank you! Post here if you have questions.

[2019-05-29 19:18] LinaJohnson commented on #11058
@Alys @paglias I'm interested in helping out with this one.

[2019-05-29 19:21] LinaJohnson commented on #11014
@Alys interested in this one too.

[2019-05-29 20:18] Alys commented on #11058
@LinaJohnson Great, thank you! Comment here if you have any questions.

[2019-05-29 20:19] Alys commented on #11014
@LinaJohnson Thanks! Please go ahead! :)

[2019-05-30 07:33] paglias commented on #11014
@LinaJohnson the pr https://github.com/HabitRPG/habitica/pull/11087 has most of the work already done if you want to start from that!

[2019-05-30 20:05] SabreCat commented on #11171
This'll be fixed with today's deploy. Also corrects the poor alignment of the "color, bangs, style" headings here.

[2019-05-30 20:14] #11171 closed, assigned to nobody

[2019-05-31 00:21] LinaJohnson commented on #11014
awesome thanks @paglias!

[2019-05-31 01:29] Alys opened #11199 "Notifications not always received for private messages (PMs)"
Experienced players who receive a lot of PMs are reporting that they don't always get notifications for them. _Some_ of those case may be caused by https://github.com/HabitRPG/habitica/issues/11172 but there seems to be other cause(s) too. I haven't noticed the bug in my testing but I get far fewer PMs than AnneLine, who has observed this a few times now (see https://github.com/HabitRPG/habitica/i

[2019-05-31 10:26] #11159 closed, assigned to nobody

[2019-05-31 10:51] #11043 closed, assigned to nobody

[2019-05-31 10:51] #11155 closed, assigned to nobody

[2019-05-31 15:10] jvivianwang commented on #9350
Hi, I am just wondering if this is still an issue needed to fix since it was created a long time ago. If it is, I would love to work on it. Thanks!

[2019-05-31 15:18] paglias commented on #9350
good question @JVi-vi-an ! I think @Tressley is the most suited to respond

[2019-05-31 23:49] Alys opened #11200 "hair styles layout is unbalanced - free options mixed with purchasable sets"
This is not exactly a bug but a thing that affects usability and attractiveness of the website.

As metaphorical_snail (cb0db625-873b-4e58-a1e1-2c7d0d9ae939) reported:
"the free hair styles aren't at the top of the hair page. They're nestled among the gem options which makes them harder to see and awkward to select."

See the screenshot below. If the two free options were on the top row next to th

[2019-06-01 00:03] Alys commented on #11199
Ceran has said that they did NOT open the Messages index screen on the app:
**No, I didn't open the habitica app at all precisely to rule that out. I saw the notification on my locked screen by accident, and then straight synced and refreshed the website, thinking it odd since I hadn't seen the notification there, and knowing of AnneLine's current problems (having happened with messages I wrote he

[2019-06-01 07:51] paglias commented on #11199
Sorry, is the issue the lack of notification or sometime the messages don't appear at all? The big inbox shouldn't matter

[2019-06-01 10:22] Alys commented on #11199
It's all about notifications not appearing.

[2019-06-02 15:05] gautamz07 commented on #11185
@Alys is there anyway i can set gem to 1 locally so i can test this issue out ? As it says "need minimum 1 gen to create a challenge".

[2019-06-02 16:19] gautamz07 commented on #11002
@shanaqui works fine in chrome android actually , can you provide more details ?

Tapping on the task , does open a edit dialog and the three dots are not visible ofcourse but if clicked on the dot area it shows up and then you can click the "edit" option.

[2019-06-02 16:23] shanaqui commented on #11002
Further testing since the initial report has revealed it isn't a problem on all versions of Chrome, and may also be something to do with the device. I originally confirmed it on a Samsung S8 with the most recent version of Chrome that was available at the time if that helps. It didn't work in the Samsung browser either.

It's possible this issue may need to be closed now if it's no longer replicab

[2019-06-02 16:27] gautamz07 opened #11201 "Player's stats in header are not fully visible on website in mobile device browsers"
### General Info
  * Browser: mobile
  * OS: android

### Description
The avatar of the user is not fully visible on mobile devices eg iphone-x I.E. the the profile image is too big and hides the health bar slightly
![screenshot here](https://i.imgur.com/uLniGSY.jpg)

P.S. can work on this let me know.

[2019-06-02 22:23] Alys commented on #11185
You can give yourself gems using the debug menu in the footer of the local install website but you can also change the challenge's location to any guild or party to make it free. It's only challenges that aren't in a guild/party that need a gem prize (so-called "public" challenges, although any challenge in a public guild can be free).

[2019-06-03 20:51] gautamz07 commented on #11141
Can confirm this issues exists ,

@HydeHunter2 when the update button jams after a couple of attempts can you confirm that the issue you see in the terminal is::-

[2019-06-03 22:12] Tressley commented on #9350
@JVi-vi-an -- These were features we absolutely intended to re-introduce during our Settings overhaul, but they've been pushed to a lower priority while we focus on other features and improvements. We'd love for you to take on this issue!

[2019-06-03 23:16] Alys opened #11202 "quest system messages sometimes have double backticks (rage attack, etc)"
As reported by @Chandramani_Adil (58de0b72-3af8-4f2a-b9a1-f7d196b29757), some quest system messages are incorrectly formatted because they have nested backticks:

![index](https://user-images.githubusercontent.com/1495809/58768912-04708a00-85e5-11e9-9e10-3d686bd04505.jpeg)

It happens when the messages already contain backticks in the translatable strings. The code that displays the messages alway

[2019-06-04 14:29] HydeHunter2 commented on #11141
@gautamz07 -- Thanks!
Yeah. There is the error in console.
I updated issue

[2019-06-04 18:13] jvivianwang commented on #9350
@paglias @Tressley Thanks for replying. I see! I would love to work on it. I just started to get familiar with Github and this will be a good first issue to work on, so it will be nice to have something simple. If there are anything that you think it's good for a new contributor to work on, let me know as well.

Also before I start, I just to make sure I fully understand the problem. We want to ad

[2019-06-05 09:10] paglias commented on #9350
There are usually some easy fixes marked with the `good first issue` tag

[2019-06-05 11:48] Alys commented on #9350
@JVi-vi-an Thanks for offering and you're welcome to start on this! I've marked it as in progress for you. If you have questions about anything below, you're welcome to ask! Some of this might not be relevant depending on how you want to work on this the issue.

Yes to this: _"We want to add the two functions in the Settings - option to hide the header whenever and stick the header on the top when

[2019-06-05 16:10] greenkeeper[bot] opened #11207 "An in-range update of mongoose is breaking the build 🚨"
## The dependency [mongoose](https://github.com/Automattic/mongoose) was updated from `5.5.12` to `5.5.13`.

🚨 [View failing branch](https://github.com/HabitRPG/habitica/compare/develop...HabitRPG:greenkeeper%2Fmongoose-5.5.13).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

mongoose is a direct dependency of this project

[2019-06-05 21:22] jvivianwang commented on #9350
@Alys Thank you so much for all of the information, and it is so helpful! I will start working on this, and I will let you know if there is any questions.

[2019-06-05 22:05] shanaqui commented on #11002
This is still a problem on a Samsung S8, latest version of Chrome available. (Chrome 74.0.3729.157, Android 9; SM-G950F Build/PPR1.180610.011.)

Tapping on the task does not open an edit dialogue; tasks are not scoreable (also reported at https://github.com/HabitRPG/habitica/issues/11181); the three dots menu appears when you tap on the task, but is non-responsive. It seems like only the drag and

[2019-06-06 19:04] gautamz07 commented on #11141
Tested this locally seems to be caused by this line [HERE](https://github.com/HabitRPG/habitica/blob/develop/website/client/components/challenges/challengeModal.vue#L347).

Can somebody elaborate on what exactly is the purpose of the following lines of code ?

`this.workingChallenge.group = this.workingChallenge.group._id;
 this.workingChallenge.categories = [];`

`this.workingChallenge.group` is

[2019-06-06 19:12] paglias commented on #11141
`this.workingChallenge.group` seems to be
a string actually https://github.com/HabitRPG/habitica/blob/develop/website/client/components/challenges/challengeModal.vue#L367

Not very clear, I agree

[2019-06-07 14:47] kajsa commented on #6941
This is exactly the feature that got me interested in contributing to Habitica.

[2019-06-07 23:38] gautamz07 commented on #11141
@paglias  when `challenge` inside `computed()` is console.logged I.E. `console.log(this.$store.state.challengeOptions.workingChallenge);` it gives this value  [see screenshot](https://i.imgur.com/EsmkCrl.jpg).

But if you `console.log(this.challenge)`; inside `setUpWorkingChallenge ()` , it gives this value , [see screenshot](https://i.imgur.com/IEgnrIg.jpg) , where exactly does the value of  `thi

[2019-06-09 11:16] Alys opened #11213 "right-hand side of private messages / PMs can be hidden under edge of inbox"
As reported by @-Horizon- (5a8238ab-1819-4f7f-a750-f23264719a2d):

"The private messages box needs a little padding (the end of the text is hidden behind the scrollbar)"

This occurs in both received messages and sent ones (the right-hand side can be slightly hidden by your avatar).

FYI @Tressley in case you'd like to comment. I've marked it as needs design for now.

![image](https://user-images.

[2019-06-09 14:38] paglias commented on #11141
I think it comes from here https://github.com/HabitRPG/habitica/blob/develop/website/client/components/challenges/challengeModal.vue#L247 ? So from the state

[2019-06-10 11:28] Tressley commented on #11213
@Alys -- Thanks for the heads up! I don't think this is a design issue as much as a CSS overflow issue (and probably related to screen-size as well, judging by the avatar overlapping the message.) Would you happen to know what OS and browser @-Horizon- is using?

I do think we can have some discussion around how to handle the messages modal at smaller screen sizes. Perhaps hiding the avatars to ac

[2019-06-10 20:06] citrusella commented on #11213
I'm not that person by I have this happen on my 1280 by 800 Macbook Pro running Windows 7 and Firefox 60.7.0 ESR (up-to-date for that channel).

I also have it happen at all zoom levels on the default (Samsung) browser on the Smart TV my dad owns, which is, as far as I can tell, either 1920 by 1080 (the only online documentation I could find for any modern app size on Samsung TVs) or 3840 by 2160

[2019-06-11 03:45] jvivianwang commented on #9350
I have been having problem installing and starting npm locally on my computer in the habitica directory. I am wondering if I can please get some help or ask for references to solve this problem. Here is what I have in the terminal:

(version of MacOS: 10.13.6)
[code]

[code]

[2019-06-11 08:48] Alys commented on #11213
@Tressley I don't know about Horizon's browser but mine is Firefox on Ubuntu, on an average-sized laptop with the browser at full screen.

Speaking for myself, I'd much prefer to have the edge of the message cut off (it's still readable, just a bit annoying) than to not see the avatars. :) Hopefully though it would be possible to have both on a screen that isn't tiny.

citrusella makes a good poin

[2019-06-11 10:49] paglias commented on #9350
Hmm looks like there are some problems with too many files to watch. Searching on google one possible solution seems to be to install watchman from brew `brew install watchman` and try to reinstall the node-modules folder?

[2019-06-11 19:18] greenkeeper[bot] opened #11217 "An in-range update of superagent is breaking the build 🚨"
## The dependency [superagent](https://github.com/visionmedia/superagent) was updated from `5.0.6` to `5.0.7`.

🚨 [View failing branch](https://github.com/HabitRPG/habitica/compare/develop...HabitRPG:greenkeeper%2Fsuperagent-5.0.7).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

superagent is a direct dependency of this p

[2019-06-11 19:53] greenkeeper[bot] opened #11218 "An in-range update of aws-sdk is breaking the build 🚨"
## The dependency [aws-sdk](https://github.com/aws/aws-sdk-js) was updated from `2.472.0` to `2.473.0`.

🚨 [View failing branch](https://github.com/HabitRPG/habitica/compare/develop...HabitRPG:greenkeeper%2Faws-sdk-2.473.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

aws-sdk is a direct dependency of this project, and

[2019-06-12 01:43] doublej89 commented on #11055
Hi, I've also managed to replicate this issue, for three test users. Each time I make one of them leave a guild, while being a member of a party with a group plan, his free subscription gets cancelled. Interestingly, their respective "users" document in the mongodb database remains unaltered after the bug takes effect (or so it seems).

So, if the staff isn't already working on it, I'd like to tak

[2019-06-12 03:05] Alys commented on #11055
@doublej89 Thank you for offering to work on this!

There was a related bug that I was talking to the staff about a little while ago and I want to refresh my memory about its details in case any of them are important or helpful for you to know, or in case it means this issue is no longer suitable for being worked on. Sorry - I'd forgotten about the existence of this issue when I was investigating

[2019-06-12 10:45] Alys commented on #11055
`dateTerminated` not `terminationDate`. :roll_eyes: I thought it felt wrong. :) I'm updating my previous post now.

[2019-06-12 11:12] Alys commented on #11055
@doublej89 I've refreshed my memory about the related bug but I'm just checking with the staff about something. Most likely I or one of the staff will give you an update tomorrow or the next day.

[2019-06-12 15:04] paglias commented on #11055
Hi @doublej89 as @Alys mentioned it would be useful if you could clarify what you meant / what you saw happening with

[2019-06-12 15:04] #11218 closed, assigned to nobody

[2019-06-12 15:04] #11217 closed, assigned to nobody

[2019-06-12 15:04] #11207 closed, assigned to nobody

[2019-06-12 20:22] doublej89 commented on #11055
@Alys Ah sorry, you're right, the 'dateTerminated' property in the 'purchased.plan' object in the user document  does get updated. Maybe I was expecting the entire 'purchased.plan' object to be empty after the cancellation - my bad!

Anyway, here's an example of how the object changes for a single user with a free subscription before and after the bug takes effect.

Before:

`...,
 "plan" : {

[2019-06-12 20:38] doublej89 commented on #11055
@Alys Ah sorry, you're right, the 'dateTerminated' property in the 'purchased.plan' object in the user document does get updated after the cancellation. Maybe I was expecting the entire 'purchased.plan' object to become empty - my bad!

Anyway, here's an example of the object for a test user before and after the bug takes effect.

Before:

[code]
After:
[code]

So it seems something is causing the

[2019-06-12 21:48] gautamz07 commented on #11141
My conclusion is the below line of code needs to be removed completely , it makes no sense. sould i submit a pull with the same ?

`this.workingChallenge.group = this.workingChallenge.group._id;` [this line](https://github.com/HabitRPG/habitica/blob/develop/website/client/components/challenges/challengeModal.vue#L347).

Also `group : '' ;` might need to be changed to `group : {}` , [line here](htt

[2019-06-13 03:43] jvivianwang commented on #9350
@paglias Thanks for your suggestions. I realized that I installed the wrong version of the node, and now this problem was fixed. However, I did run into a similarly error as #9916 with the same picture displayed on the website.

Here is my error:
[code]
You mentioned in #9916-
![Screen Shot 2019-06-12 at 11 36 29 PM](https://user-images.githubusercontent.com/36670619/59402051-ee906100-8d6a-11e9-94

[2019-06-13 06:02] Alys commented on #9350
As a general guideline, your config.json file should always be exactly the same as the example file. The only time there would be a difference is if you know it's needed for your specific set-up (e.g., if you need to use different ports because other software on your computer uses Habitica's normal ports). If you're not aware of any reasons for your config.json file to be different than the exampl

[2019-06-13 08:07] paglias commented on #9350
Hi @JVi-vi-an the output you posted looks like the normal one for the client side. The `Error occurred while trying to proxy request ` error means that you haven't started the server side in a different terminal using `npm start`?

[2019-06-13 11:24] Alys commented on #11055
@doublej89 Thanks for waiting! Please go ahead whenever you wish.

As part of the fix for this issue, there should be test(s) to ensure that the bug won't occur again. [Using Your Local Install to Modify Habitica%27s Website and API](http://habitica.fandom.com/wiki/Using_Your_Local_Install_to_Modify_Habitica%27s_Website_and_API) has information about writing tests but ask here or in your PR if you

[2019-06-13 12:12] Alys commented on #10851
@andrzejZdobywca Are you still working on this? If you're not, that's fine, just let us know! :)

[2019-06-13 12:54] shanaqui commented on #11075
I've changed the title of the issue to be a bit more descriptive after a new report today:

RedmeDaily @Remeday (d0a3217a-7b92-48d6-b39a-b1b1be96702e): "Bug: when a profile loads as its own page, hovering over an achievement doesn't show its description."

[2019-06-13 13:05] shanaqui opened #11220 "Private Messages (PMs) modal scrolls to top of conversations when closed and reopened"
Confirmed in Chrome.

[2019-06-13 13:12] Alys commented on #8149
I'm doing a bit of work on this, adding to @BlkStormy's PR.

[2019-06-13 13:26] SabreCat opened #11221 "Avatar edit window layout mangled"
[//]: # (Before logging this issue, please post to the Report a Bug guild from the Habitica website's Help menu. Most bugs can be handled quickly there. If a GitHub issue is needed, you will be advised of that by a moderator or staff member -- a player with a dark blue or purple name. It is recommended that you don't create a new issue unless advised to.)

[//]: # (Bugs in the mobile apps can also

[2019-06-13 18:03] jvivianwang commented on #9350
@Alys @paglias Thanks for replying. Everything works now!!!

[2019-06-13 21:37] SabreCat commented on #11221
Tried sending up a fix, but my local dev environment isn't showing the issue, while production continues to do so.

Local:

![image](https://user-images.githubusercontent.com/4501321/59469067-6b6a1c00-8df9-11e9-9522-127cde809f06.png)

Prod:

![image](https://user-images.githubusercontent.com/4501321/59469108-82107300-8df9-11e9-9ea2-8a6cea798f15.png)

[2019-06-13 21:41] SabreCat commented on #11221
The trouble appears to be this class in `creatorIntro.vue`:

https://github.com/HabitRPG/habitica/blob/develop/website/client/components/creatorIntro.vue#L461-L463

However, if I remove it, my local instance ends up with this monstrosity:

![image](https://user-images.githubusercontent.com/4501321/59469293-1084f480-8dfa-11e9-998d-9a70469e8a43.png)

...so I'm reluctant to go ahead with that change.

[2019-06-14 11:09] shanaqui opened #11223 "Avatars may not display on old posts"
From RaB:

I found the same. Example screenshot -- my old posts show my current avatar, but these users' posts don't show any avatar and align with my posts. The users still exist.

![image](https://user-images.githubusercontent.com/8144640/59505358-213a7680-8e9d-11e9-9c96-9b42d846a143.png)

[2019-06-14 13:53] gautamz07 commented on #10907
@Alys i believe this has been fixed ? i was just checking this issue , locally and it seemed fine.

[2019-06-14 22:27] greenkeeper[bot] opened #11224 "An in-range update of mongoose is breaking the build 🚨"
## The dependency [mongoose](https://github.com/Automattic/mongoose) was updated from `5.5.15` to `5.6.0`.

🚨 [View failing branch](https://github.com/HabitRPG/habitica/compare/develop...HabitRPG:greenkeeper%2Fmongoose-5.6.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

mongoose is a direct dependency of this project,

[2019-06-15 08:38] rsamborski opened #11225 "Npm start failling (Cannot find module 'babel-core') - Ubuntu19 in VM on Windows"
### General Info
  * OS: Ubuntu 19 running in Virtualbox on Windows 10
  * Kernel: Linux 5.0.0-16-generic
  * node v10.15.2
  * npm  v6.9.0

I am running everything in Virtualbox on Ubuntu 19. What is specific to my install is that folder with Habitica files is located on Windows partition and shared to guest. Nevertheless due to known issues with such setup I have created node_modules folder on e

[2019-06-15 12:11] Alys commented on #10907
@gautamz07 Thanks for checking but it is still happening. You can see an example in https://habitica.com/challenges/3d599f05-8e14-4078-bf2c-718d6852edc4 when you look at the All tab for Dailies.

[2019-06-15 12:24] Mira-M commented on #10907
I put in a PR back then, and changes were requested, but at the time I lost my local changes due to my computer dying and haven’t had the chance to pick it back up. The branch is still there with the unit tests if someone wants to pick it up. Thanks.

[2019-06-15 13:23] Alys commented on #10907
@Mira-M Thanks for telling us! I'll mark this issue as help wanted again and the PR as "abandoned" but that's just the label we use when a PR is available to be taken up by someone else.

If you do want to work on it again or if you'd like advice about restoring your changes locally from what's in the PR, just let us know!

[2019-06-15 13:47] Alys commented on #10851
@andrzejZdobywca I'll take this over but if you have any code you'd like to submit, just let us know!

[2019-06-15 18:29] garvitkhandelwal commented on #11225
Have you tried installing `babel-core` as your dev dependency?
Try `npm install --save-dev babel-core babel-preset-env`

[2019-06-15 19:38] rsamborski commented on #11225
@garvitkhandelwal I did now, but it didn't help:
[code]

I skipped `npm audit`, because it only shows some vulnerabilities and this is a dev environment.

Additionally I was playing around with `unsafe-perm` setting, but it seems to not have any impact:
[code]

[2019-06-16 01:22] Alys opened #11227 "website footer covers task three-dots menu (z-index problem?)"
As ieahleen reports in the Report a Bug guild:

"It is not possible to access the three-dots-menu of the tasks at the bottom of the screen, the menu appear under the footer:"
![image](https://user-images.githubusercontent.com/1495809/59557859-d731cc00-9027-11e9-8992-c935190d5909.png)

It might be because the z-index of the footer is too large.

You can replicate this with a task that has no note.

[2019-06-16 18:31] freyacodes commented on #11227
I think I've found a solution. It appears to both be caused by the z-index and the overflow.

Let me see about setting up a dev environment.

[2019-06-16 20:04] freyacodes opened #11229 "TypeError [ERR_INVALID_ARG_TYPE]: The first argument must be one of type string, Buffer, ArrayBuffer, Array, or Array-like Object. Received type undefined"
[//]: # (Before logging this issue, please post to the Report a Bug guild from the Habitica website's Help menu. Most bugs can be handled quickly there. If a GitHub issue is needed, you will be advised of that by a moderator or staff member -- a player with a dark blue or purple name. It is recommended that you don't create a new issue unless advised to.)

[//]: # (Bugs in the mobile apps can also

[2019-06-16 20:18] freyacodes commented on #11229
My bad. Forgot to copy the example config to its rightful place.

[2019-06-16 20:18] #11229 closed, assigned to nobody

[2019-06-16 21:55] Alys commented on #11227
Thanks @Frederikam ! I've changed the label on this issue to in progress.

[2019-06-17 10:11] Alys opened #11231 "Group Plan Dailies approval and/or singleCompletion causing cron to fail (quest progress and user damage not applied)"
Kalani / @KalaniTheArtist (2e558a6e-5afa-485c-b7a6-b9ca8a3c56ca) reported:
_"I have an error message that says 'Cast to Number failed for value "NaN" at path "party.quest.progress.down", and I still show damage pending. I've also not taken personal damage for undone dailies. I saw this error message yesterday and today, so cron isn't reseting... whatever the problem is. Desktop version, on Chrome.

[2019-06-17 10:51] Alys commented on #11231
There might also be an interaction with this bug: https://github.com/HabitRPG/habitica/issues/10985 " Group Plan tasks need second completion after approval".
For example, perhaps the leader DOES approve the Daily before cron but the person who completed it doesn't realise that they have to mark the Daily complete a second time to work around that bug (or doesn't have time to do that if it's appro

[2019-06-17 11:03] Alys commented on #10806
A new cause of this problem has been identified: https://github.com/HabitRPG/habitica/issues/11231
Further investigation is needed to pin down exactly what's causing that but it's from a failure in one specific Daily, which is also what happens for some of the other causes that have been listed here (e.g., the Version Error bug).

If there was error handling in cron to identify when an error of an

[2019-06-17 11:28] Alys commented on #11231
Hmmmmm. Single completion isn't meant to be available for Dailies yet, is it? It's definitely turned on for that Daily though, assuming that's what `"sharedCompletion": "singleCompletion"` refers to. In commit 1135ab946e on 2019-04-29 ("fix(group-tasks): default single completion on client" in the commit comment), the tasks' model was changed from this:
`sharedCompletion: {$type: String, enum: _.v

[2019-06-17 11:45] Alys opened #11232 "unnecessary Equipment sub-heading in Market"
As reported by @ieahleen (c073342f-4a65-4a13-9ffd-9e7fa5410d6b):

"In the Market there is an Equipment sub-header in the Items section, below Food and Saddles and above Cards, I don't think it should be there:"

![scr](https://snag.gy/bQ2TuM.jpg)

[2019-06-17 11:50] Alys commented on #10406
Another instance of this has been reported by Nakonana (33bb14bd-814d-40cb-98a4-7b76a752761c):

"Minor bug: when I try to change position of the june background which I pinned to my rewards section it says "The item path 'backgrounds.backgrounds062019.underwater_vents' is not valid". The background then just appears in its previous position."

[2019-06-17 13:11] Scens commented on #11232
I would like to take this issue as my first on the website. I already solved it. What are the next steps? I don't have much experience working with Github.

[2019-06-17 15:57] SabreCat commented on #11231
Yeah, there's some contributor work going on to implement shared completion for Dailies, but it's not live. That said, it's _probably_ a red herring here, as `sharedCompletion` has nothing to do with `party.quest.progress.down`. The approval flow you were looking into upthread is a bit more likely a trouble area.

[2019-06-17 18:47] greenkeeper[bot] opened #11234 "An in-range update of aws-sdk is breaking the build 🚨"
## The dependency [aws-sdk](https://github.com/aws/aws-sdk-js) was updated from `2.476.0` to `2.477.0`.

🚨 [View failing branch](https://github.com/HabitRPG/habitica/compare/develop...HabitRPG:greenkeeper%2Faws-sdk-2.477.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

aws-sdk is a direct dependency of this project, and

[2019-06-18 00:01] Alys commented on #11232
@Scens Thanks! I've marked this as in progress for you.

Have a look through [Using Your Local Install to Modify Habitica's Website and API](http://habitica.fandom.com/wiki/Using_Your_Local_Install_to_Modify_Habitica%27s_Website_and_API). That will tell you the PR process and also give you a lot of other useful information. If you have questions after reading that, the Aspiring Blacksmith's guild

[2019-06-18 05:25] gautamz07 commented on #10907
@Alys will take this up . Let me know :)

[2019-06-18 07:17] Alys commented on #10907
@gautamz07 Thank you! Please go ahead. :)

[2019-06-18 07:19] garvitkhandelwal commented on #11225
I just checked that they have changed the command after version 6.
As for version 7, try installing it using the following command instead
`npm install --save-dev @babel/core @babel/preset-env`

[2019-06-18 07:56] Alys opened #11236 "singleCompletion Group Plan Dailies will have sudden behaviour change when PR 11390 goes live"
I'm putting this here for discussion, and so that (if necessary) we can link players to it if they have questions/bug reports about this in future.

Any Group Plan Dailies created since commit 1135ab946e went live (some time after 2019-04-29) probably have their `sharedCompletion` attribute set to `singleCompletion`. Single completion isn't yet implemented for Dailies so the Dailies will currently

[2019-06-18 08:02] Alys commented on #11231
The leader of the Group Plan that Kalani is in has said "I see the problem. I usually log in on my Android Phone. Since I don't get notifications there and we're new to groups, I didn't see that I had notifications to approve Dailies. As a temporary fix, we're done with that Daily for now so I deleted it. For now, I'll not use the approval setting as I can't guarantee I'll be prompt in approving t

[2019-06-19 09:42] gautamz07 commented on #10907
@Alys , Thank you . the challenge link that you shared [HERE](https://habitica.com/challenges/3d599f05-8e14-4078-bf2c-718d6852edc4 ) , i can see that the dailies of other users not always show in grey when inspected see [HERE](https://i.imgur.com/9y3eZ1p.jpg) , one is showing the progress correctly while one is in grey. Also i suppose this issue only happens in the ALL tab. I was unable to recreat

[2019-06-19 09:50] Alys commented on #10920
Reopening because this is happening again. Confirmed by me, reported by Aerilita (3b724a41-48d3-4048-ae27-70b258cf5a72):

"On the website, the available for me seasonal equipment doesn't disappear from the Market after buying, unless I force sync or reload the page. All four of them did that (so I tried both reload and force-sync)."

[2019-06-19 10:50] Alys commented on #10907
Dailies are grey when they've been completed (i.e., when they have a tick mark in their checkbox) or when they're not due. If you use one of your test accounts to complete a challenge Daily and then look at that account's progress from the challenge's screen, you should see that Daily appearing grey with a tick in the checkbox. Also you can edit the Daily's repeat settings (in the challenge's scre

[2019-06-20 00:22] ofekmiz commented on #11202
Hi, is this a new feature? in my party I only see messages like this:
"Player attacks Boss for 12.2 damage. Boss attacks party for 5.3 damage."

[2019-06-20 07:42] Scens commented on #11232
Now the issue is solved and additionally filter options look like this (the proper order):
<img width="215" alt="Screenshot 2019-06-20 at 09 28 02" src="https://user-images.githubusercontent.com/15756047/59829719-64359780-933e-11e9-9db6-f5942756e5cd.png">

instead of this:
<img width="211" alt="Screenshot 2019-06-20 at 09 33 22" src="https://user-images.githubusercontent.com/15756047/59829753-77e0

[2019-06-21 15:43] MeanderingCode commented on #11236
Yes, I imagine that `singleCompletion` was default for all tasks simply for the convenience of the fact that only Todos had any kind of `sharedCompletion` behaviour (and UI, as the Todos edit modal is the only one which showed the shared completion UI).

I think you are right in that the expected default behaviour for Dailies would be that they are "not shared", that they should be treated as indi

[2019-06-23 22:02] Alys commented on #11202
@ofekmiz The bug happens only when the translatable string already contains backticks. The example from your question and any others in your party chat that don't show the problem don't have backticks in their strings - the backticks are added by code when the messages are posted.

https://github.com/HabitRPG/habitica/blob/e4b2ef65993f03c1acfc88d8923363ebf917b028/website/common/locales/en/quests.j

[2019-06-25 08:32] Alys commented on #11066
Just to confirm that this still happens, here's a recent report of it:
"sometimes when I try to load and look at somebody's profile it says it's loading me but it's blank. Sometimes a profile will come up but sometimes it stays blank"

[2019-06-25 08:43] Alys commented on #11115
On the Android app, when you view a player's profile, you see both their own stats and their equipped gear's stats in the order **STR, INT, CON, PER**. That's the same order as the stats on the user's profile on the website so we'll call that one correct.

The contributor who works on this should change the on-hover pop-up for an equipment piece to match that order.

[2019-06-25 08:45] Alys commented on #11075
I'm marking this as "on hold - needs design" for a design-related decision. FYI @Tressley

[2019-06-25 08:58] Alys commented on #11201
@gautamz07 I'm sorry we didn't get back to you about this. For now I'm marking it as "on hold - needs design" so that our website designer can comment on what might be appropriate. Thank you for reporting this!
FYI @Tressley

[2019-06-25 10:11] Alys commented on #11220
I'm putting this on hold until https://github.com/HabitRPG/habitica/pull/11113 is completed, because it will make significant changes to the PM screen and might fix this issue.

[2019-06-25 10:17] Alys commented on #11182
https://github.com/HabitRPG/habitica/issues/11220  might be another case of this.

[2019-06-25 10:17] Alys commented on #11220
https://github.com/HabitRPG/habitica/issues/11182

[2019-06-25 10:17] Alys commented on #11220
https://github.com/HabitRPG/habitica/issues/11182 might be related to this.

[2019-06-25 10:23] Alys commented on #11096
This is still happening. I've edited the top post to remove the part about Loggly messages since it wasn't related.
It will almost certanly be a front-end vue error so I've marked this as medium level coding.

[2019-06-25 10:24] Alys commented on #11096
It will almost certanly be a front-end vue error so I've marked this as medium level coding.

[2019-06-25 20:04] #11234 closed, assigned to nobody

[2019-06-26 20:26] SabreCat opened #11240 "Speed up test suite"
[//]: # (Before logging this issue, please post to the Report a Bug guild from the Habitica website's Help menu. Most bugs can be handled quickly there. If a GitHub issue is needed, you will be advised of that by a moderator or staff member -- a player with a dark blue or purple name. It is recommended that you don't create a new issue unless advised to.)

[//]: # (Bugs in the mobile apps can also

[2019-06-26 22:53] Alys commented on #11072
Another two reports from @Aerilita (3b724a41-48d3-4048-ae27-70b258cf5a72):

from 10 hours ago:
"I've got that "fed the pet, tried to re-hatch, equipped the non-existent pet instead" issue happening again, with a Watery panda. The purple line ran just right at the last feeding, but I did have a 502 error in the middle (reloaded after it though...). I don't remember if there's any information needed

[2019-06-27 19:18] shanaqui commented on #11162
This same issue appears to affect challenges as well, when trying to edit them.

[2019-06-27 19:20] shanaqui opened #11242 "Tasks immediately rearrange on touch in Chrome on Android"
From RaB:

Possibly related to #11181. I haven't tested this myself yet.

[2019-06-29 11:30] Alys opened #11244 "purchasing quest scrolls / bundles should have confirmation popup"
Quest scroll purchases don't have a confirmation step.

When you buy other gem-purchasable items such as hatching potions, you see a confirmation dialog that tells you how many gems the total purchase will be and asks you to confirm:
![image](https://user-images.githubusercontent.com/1495809/60383487-c4ea7000-9ab4-11e9-9478-8e889eb7e68a.png)

The same thing should happen when you buy quest scrolls

[2019-06-29 11:39] Alys opened #11245 "deleted challenge task should disappear immediately"
As @cTheDragons reports:

When deleting a task in a challenge in the web; click the three dots on task and choose delete; The tasks does not disappear although it has been deleted. You need to refresh the page to see the task has been deleted.

[2019-06-29 12:14] kogelnikp commented on #11115
@Alys Can I work on this issue?
It keeps confusing me too, so I'd be happy to have it fixed.

[2019-06-30 03:49] domtriola commented on #11244
I would like to give this one a shot if I may?

[2019-06-30 04:33] domtriola commented on #11244
And one question: some quest items have a currency of Gold instead of Gems. Should those trigger a confirmation dialog as well?

[2019-06-30 07:24] Alys commented on #11115
@kogelnikp Thanks! I've marked this as in progress for you.

[2019-06-30 07:31] Alys commented on #11244
@domtriola Thanks! Please go ahead.

For the gold-purchasable quests, my feeling is that having the same confirmation step is probably best for consistency, and because it's annoying to own quest scrolls that you don't want (unnecessary clutter).
It's not as important though since accidentally-spent Gold can be replenished using [Fix Character Values](http://habitica.fandom.com/wiki/Fix_Character_

[2019-06-30 09:46] Alys commented on #11137
The desired fix for this is that when you are viewing a challenge's own page (i.e., a URL like https://habitica.com/challenges/cd2ad408-412a-4eba-9258-054754b26ffb ), then the three-dots menu on each task (shown in the screenshot below) should NOT appear unless you have permission to modify the challenge. This function can be used to determine if a player has permission:
https://github.com/HabitRP

[2019-06-30 10:01] Alys commented on #11028
The desired fix for this issue is the previous behaviour:

[2019-07-01 19:10] kogelnikp commented on #11245
@Alys I can take a look at this one.

[2019-07-02 02:56] Alys commented on #11151
For the current Grand Gala, the date is correct ("Available until 31 July 2019") but the lock message is still wrong ("available to a specific class").

@michelle-gong How are you going with this? Need any more advice? If real life has got in the way and you no longer have time for it, just let us know. :) We completely understand what that's like!

[2019-07-02 06:39] Alys commented on #11245
@kogelnikp Thanks! I've marked it as in progress for you.

[2019-07-02 10:53] Alys commented on #11072
More information from Aerilita:

"Regarding 'equipping the nonexistent pet instead of re-hatching', I just tried to sync using the Habitica's sync button before re-hatching, and that doesn't help either. Naturally I understand that hard-reload would be a safe choice, just wanted to try since it was mentioned in the issue."

[2019-07-02 23:30] Alys commented on #10689
Another confirmed report of this from @thebat137 (dea8a9e8-c084-438a-9a14-7fe96a73fd0a):
"I'm not seeing a tag in my tag list for the July 2019 Habitica official New Year's Resolution challenge, and the challenge tasks don't have any tags on them. I refreshed the page and it didn't seem to help."

[2019-07-03 14:12] rsamborski commented on #11225
Unfortunately the issue remains.

[2019-07-03 20:10] Alys commented on #10689
Another report, although second-hand (the affected user has not reported it directly):

@thebat137 says:
"I asked around in the NYR guild chat and [another player] said they saw it too:
@thebat137 It happened to me right this morning with the official Take This challenge. I leaved and joined it again, and refreshed the page, and the tasks appeared with their proper challenge tag. Hope this helps!"

[2019-07-04 11:27] Alys opened #11255 "Username out of order in reply list"
As reported by 🎶💖  Kira Macarthur 💖🎶 / @kiramac (0fb3db86-7009-46d6-9eea-485a8f7e6734):

_"I was posting in the tavern when I noticed this [see screenshot below]. There is no-one called @2648 who posted recently, but it's coming up first."_

I confirmed it - the @2648 Username appeared in the list when I typed "@" in the chat box.

There was no recent message from that player (not even one that ha

[2019-07-04 14:39] citrusella commented on #11255
I think I saw this once with a different numbered display name/username, but it must have only happened once and then I forgot to report. o.o Maybe that's a point in favor of all digits sorting to the top for some reason theory?

(I tried looking for what code could cause this and couldn't make heads or tails of whether I was on the right track. XP)

[2019-07-04 21:13] rbstrachan commented on #11255
@Alys @citrusella

I've also had a look in a few places I thought might help, as well as ran searches for instances of "sort" and "tavern", etc. The only thing I found was [this .js file](https://github.com/HabitRPG/habitica/blob/20fc233ad7116385594deff19ae619059e21c2d8/website/server/libs/chat/group-chat.js#L14). I think it's for sorting messages, not the reply list, but I have no idea.

Do you h

[2019-07-04 22:11] citrusella commented on #11255
I tried looking at [autoComplete.vue](https://github.com/HabitRPG/habitica/blob/d406da4081353120afe71c9f9277e8c97c0116ab/website/client/components/chat/autoComplete.vue) and a few chat files (I think chat and tavern and maybe one other one but I was kind of looking in a flurry), but there was either no indication there either of why a numbered username (or whatever is the characteristic it's looki

[2019-07-05 09:30] mbernardes19 commented on #11221
![image](https://user-images.githubusercontent.com/26047592/60712829-3def2a80-9eee-11e9-9df3-10405cc768ba.png)

I've simply found the div in which the image is and changed the top property from -22px to 44px. I believe it's just a matter of positioning it like that.

[2019-07-06 00:39] Alys commented on #9169
Another report of this from @Aerilita (3b724a41-48d3-4048-ae27-70b258cf5a72):

"I didn't interact with Habitica on Wednesday (I'm pretty sure I closed the site before local midnight on Tuesday). My Custom Day Start is 4am. It is 2am now. So it is after midnight and Thursday by calendar, but Habitica-wise, should be Wednesday still. When I opened the site, I got the RYA screen, supposedly for Tuesd

[2019-07-06 00:53] MeanderingCode commented on #9169
@alys When doing the shared dailies work, I discovered helpers for CDS. I don't know if they would be useful here, but I had to export them before using them client side. See:

https://github.com/HabitRPG/habitica/blob/e0977e3afb62930290bb1a0c41b05d4068135434/website/common/script/ops/scoreTask.js
https://github.com/HabitRPG/habitica/blob/e0977e3afb62930290bb1a0c41b05d4068135434/website/common/scr

[2019-07-06 00:56] Alys commented on #9169
@MeanderingCode Ah thanks so much! I bet that will help.

BTW, if you're interested in taking on this issue, just let us know. :)

[2019-07-06 01:34] MeanderingCode commented on #9169
Might...Just as soon as I write more tests and the last bit on shared dailies ;)

I'll let you know if so.

[2019-07-06 01:58] Alys commented on #11255
It's weird. I can't replicate it by inserting a numerical Username into an old post in a group's chat. I'm not certain it is from having a numerical Username. I'm going to mark this as needs investigation.

It's really low priority though because even if it happens again, it's at worst mildly annoying.

@rbstrachan You're right that the code you linked to is for sorting messages (it's called when

[2019-07-07 08:55] Alys commented on #9501
https://github.com/HabitRPG/habitica-android/issues/1103 describes how this is handled in the Android app

[2019-07-07 09:52] Alys commented on #9745
There's 328 challenges at the moment that have `"prize":null`

It's no longer limited to old challenges that have been recently updated. For example, one has these dates:
`"createdAt":"2019-06-20T17:41:45.106Z", "updatedAt":"2019-06-20T17:57:33.216Z"`

My wild, unsubstantiated guess from my previous comment turns out to be wrong, shockingly. :) Some challenges with summaries have a null prize.

He

[2019-07-08 14:59] phillipthelen opened #11257 "Update achievements to work with notification object"
The way achievements are displayed on web is often done by comparing the fields directly. Instead the server should update the `notifictations` property on the user to add information about the gained notification. Same way it is already done for the [Ultimate Gear achievements](https://github.com/HabitRPG/habitica/blob/0b8ce63c760838cd56e94ceea0a1df554ff72c0a/website/common/script/fns/ultimateGea

[2019-07-09 09:21] Alys opened #11259 "Challenges UI layout/formatting on My / Discover pages can be wrong; Username needed"
The screenshots below show some examples of Challenges on the My Challenges and Discover Challenges pages where the formatting isn't quite right (e.g., categories overwriting the Guild name, inconsistent wrapping of the Created By line).

The layout issues might be related to some or all of these factors:
- creator name longer than average
- creator name longer than average AND the challenge is ho

[2019-07-09 14:00] paglias commented on #11225
If you go into the node_modules folder is babel-core there? I think there are wider issues but the error you see is only about babel-core because it's the first package that gets loaded.

Can you try by deleting the node_modules folder, reinstalling with npm install and see how it goes? It would be useful to see the output of `npm install`

[2019-07-09 19:04] MeanderingCode commented on #11236
On looking at this code and thinking about it, I do not feel it is necessary or helpful to change this.

Since Group Dailies have not had Shared Completion features, the modal did not show these options and the created task defaulted to `singleCompletion`, as you are pointing out. When #11179 goes live, the options will be shown and it will be available as a choice when creating Shared Dailies. Ad

[2019-07-10 02:38] kmacart commented on #10967
I'll get rid of the text?

[2019-07-10 03:31] Alys commented on #10967
@kmacart This issue is still on hold waiting for the staff to comment so
please don't make any changes yet. Once a decision, the "on hold" label
will change to "help wanted".

[2019-07-10 05:10] kmacart commented on #10967
Ok – thanks =) Just wondering, I can’t set up Vagrant – I download it, I try to set it up, and it gives me an error... Time Out for the webpage

And I can’t use Docker, because I don’t have windows 10 pro …

Any help would be much appreciated =)

Thanks a lot,
Kira

From: Alys
Sent: Wednesday, July 10, 2019 1:32 PM
To: HabitRPG/habitica
Cc: kmacart; Mention
Subject: Re: [HabitRPG/habitica] "Change

[2019-07-10 11:21] Alys commented on #11236
@MeanderingCode I agree! I might not have been clear in my original post here. I'm not concerned about the default for new Dailies created in the future; my only concern is that the behaviour of the existing Dailies shouldn't change.

[2019-07-11 10:02] Alys commented on #8500
Some observations about this bug from @osberend (bc630499-2941-4c1b-85ed-41fed2e8959e):

"Occasionally a single daily (not always the same one) will pop to the start of the list for unclear reasons. If it's relatively far down, getting it back can be a bit of a hassle, since what does seem to work is to drag it from the top to the bottom of the screen (without attempting to force scrolling), *manu

[2019-07-11 12:39] shanaqui opened #11260 "Notification settings page formatting is badly spaced"
Reported by ieahleen:

Confirmed on Windows 10/Google Chrome.

[2019-07-11 18:08] rbstrachan commented on #11255
I can't seem to find user **@2648** anymore, however, when I first looked in to this I noticed they were sending messages in Mandarin Chinese.

Does that make a difference? I'm really lost on this one!

[2019-07-12 02:56] greenkeeper[bot] opened #11262 "An in-range update of coveralls is breaking the build 🚨"
## The devDependency [coveralls](https://github.com/nickmerwin/node-coveralls) was updated from `3.0.4` to `3.0.5`.

🚨 [View failing branch](https://github.com/HabitRPG/habitica/compare/develop...HabitRPG:greenkeeper%2Fcoveralls-3.0.5).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

coveralls is a devDependency of this pr

[2019-07-12 10:58] Chinmaygoyal commented on #11200
Can I give this one a try?

[2019-07-12 10:59] Chinmaygoyal commented on #11260
Can I go for it?

[2019-07-12 12:33] paglias commented on #11260
sure @Chinmaygoyal ! let us know if you have any issue

[2019-07-12 12:33] #11262 closed, assigned to nobody

[2019-07-12 13:56] #8149 closed, assigned to nobody

[2019-07-12 14:02] #10992 closed, assigned to nobody

[2019-07-12 14:23] #11232 closed, assigned to nobody

[2019-07-12 14:26] majestic-owl448 commented on #11223
Just to contribute to the investigation... are there more recent posts of this users in the guild? If there aren't, maybe that could be a cause

[2019-07-12 14:37] paglias commented on #11223
So the way we load the avatar has changed in the past few months and we had a fallback for older posts but it might be failing. Another cause would be the user deleting their account

[2019-07-12 15:03] #11245 closed, assigned to nobody

[2019-07-12 15:09] #11244 closed, assigned to nobody

[2019-07-12 15:13] #11115 closed, assigned to nobody

[2019-07-12 17:24] Tressley commented on #11259
Going to loop @negue in as he was the last one to touch the Challenges styles.

[2019-07-13 04:41] Alys opened #11264 "display `null` challenge prize as 0 gems"
As described at https://github.com/HabitRPG/habitica/issues/9745 it's possible for the gem prize for a challenge to be null which results in the prize box on the challenge having a blank space where the number of gems should be, as shown in the screenshot below.

As I mentioned in [one of my comments there](https://github.com/HabitRPG/habitica/issues/9745#issuecomment-508986367) a `null` prize doe

[2019-07-13 04:44] Alys commented on #9745
Since there's been no objection to my suggestion in my previous comment, I've logged https://github.com/HabitRPG/habitica/issues/11264 for a front-end fix to display a `null` prize as 0.

I've modified the top post for this issue to indicate that it's for a back-end fix (probably using the information MathWhiz provided in [this comment](https://github.com/HabitRPG/habitica/issues/9745#issuecomment

[2019-07-13 05:56] Alys commented on #9169
RYA is definitely not always showing the correct Dailies when the CDS is non-zero. An easy way to test for this on your local install is to:
- create seven Dailies with names like "due Monday"
- set each them to be due on just the day specified in its name
- make sure none of them have been completed
- set all their streaks to a non-zero value (so that you can easily tell which one cron causes dam

[2019-07-13 09:15] Alys commented on #11255
@rbstrachan I wouldn't expect the language to make a difference but I really don't know what's causing this bug. Feel free to drop this if you don't want to keep searching for the cause! :)

[2019-07-13 22:27] Alys commented on #10786
We had a report of this today so I'm copying it here as evidence that this bug still happens. We actually see a lot of reports about it but this one more clearly shows both impacts of the bug. It's from @schmyddy (9a3f4c14-3527-48c9-8d49-231cc353b7ed):

"Hey there. I face 2 problems right now: [I use the german version, so forgive me if i translate something wrong]
1.  I have invited someone to my

[2019-07-13 22:42] Alys opened #11265 "Level up modal (popup) doesn't always appear"
@shewhoknits (e1d43f13-4a7b-4188-8844-127b4f63c67c) reports:

**Sometimes I don't get the "Level up" popup although the notification bubble on the right side shows it. By now I'm pretty sure it happens on levels 15, 30, 40 and 60 when we get an unlockable quest.**
**If I'm right, it's just a minor bug, but I thought I'd tell here anyway.**

I haven't verified this myself but I'll do some tests in

[2019-07-14 10:38] Alys opened #11266 "no notification appears when gaining quest scrolls at levels 15, 30, 40, 60"
When you level up to levels 15, 30, 40, and 60, you do receive a quest scroll as expected (atom1, vice1, goldenknight1, and moonstone1) but you don't get any kind of notification that you received it. There used to be a modal; I'm not sure when it stopped happening.

I'm assuming it's a bug not a feature change since telling the players they've been given something for free is likely to be good fo

[2019-07-14 10:54] Alys commented on #11265
I've done several tests and I always saw level up modals except at levels 30, 40, and 60 (I did see a modal at level 15).

[2019-07-14 11:08] Alys commented on #11265
It looks like this is deliberate to prevent too many modals appearing when a quest scroll is given on level-up:
This is the code that prevents the level-up modal appearing when `user._tmp.drop.type` has the value `Quest`:
https://github.com/HabitRPG/habitica/blob/20fc233ad7116385594deff19ae619059e21c2d8/website/client/components/notifications.vue#L452-L457

and this is the code that sets `Quest` i

[2019-07-14 11:10] Alys commented on #11266
When a decision has been made about what changes might or might not be needed for this issue, we should consider if anything needs to be done for https://github.com/HabitRPG/habitica/issues/11265 and either take it off hold or close it.

[2019-07-14 15:55] #9291 closed, assigned to nobody

[2019-07-15 00:09] kmacart commented on #11264
I'll take the issue =)

[2019-07-15 01:44] kmacart commented on #9745
I accidentally put my fix for this issue in #11264 =| Sorry about that. The issue was that there needed to be a required: true in the prize line of the challenge.js file.

[2019-07-15 09:23] Alys commented on #9745
@kmacart No worries, I've marked this issue as in progress for you. Can you please edit your pull request to put the correct issue number in the top post, and also add "fixes #9745" to the end of the title? That will link it back to this issue.

[2019-07-16 00:48] kmacart commented on #11264
I've fixed it I think! Took me hours =|

[2019-07-16 13:28] shanaqui opened #11268 "Group plan tasks are not sortable"
Tasks associated with a group plan do not seem to be sortable in your own personal task view (i.e. I am not referring to the group plan dashboard) even with all filters disabled. You can move them by clicking and dragging, but on sync they will pop back to where they started at the top of your list. This has been reported by someone using Firefox, and I just tested it now with Chrome. So far, I've

[2019-07-16 20:41] sanjayn2096 commented on #11264
Is this issue resolved? can I work on it?

[2019-07-16 23:07] Alys opened #11270 "cron and RYA don't correct handle some past-due Dailies when missed days is > 1"
Cron and the "Check off any Dailies you did yesterday" screen (RYA) don't correctly handle incomplete Dailies when you haven't used Habitica for two or more days. **This affects only Dailies that are not due every day.**

This was reported by a couple of players in RaB (messages below) and I also noticed it a few days ago when I was investigating [an RYA bug](https://github.com/HabitRPG/habitica/i

[2019-07-16 23:20] Alys opened #11271 "Guilds and Parties are currently unavailable"
Due to a temporary problem, all Guilds and Parties are currently unavailable but the staff are working to restore them.

Players have not been removed from their Party or from any Guilds they are members of. They'll be able to access all their normal Guilds and Party once the glitch is fixed, although very new Guilds and Parties (created in the past half day roughly) might be lost but we can help

[2019-07-17 01:41] MeanderingCode commented on #11270
Hi @alys.

That is indeed the code in question. In case it's helpful, the `shouldDo` function is also involved.

I just came here to wonder if it would be better to step back through the days in that loop, but deduplicating, or modify `shouldDo` to accept a range of dates.

But since you're taking it, I'll leave it at that!

Thanks!

[2019-07-17 11:50] Alys commented on #11270
@MeanderingCode Actually I'd be very interested in hearing more about your idea if you'd like to post more! I haven't started work on it yet (and won't for several days at least) so there's certainly scope for finding a better approach and/or having you work on it instead of / as well as me!

[2019-07-17 18:32] godless-toast commented on #11051
Yes, I've experienced this as well.

But another thing I experience is viewing a profile, and then I go to another page, say tasks. I open and start editing a task, then when I save it, sometimes that profile shows up again.

Then I might look at someone else's profile. Close it. Old one shows up again. It will keep showing up here and there, but refreshing fixes it. This is on desktop in Firefox.

[2019-07-17 20:19] MeanderingCode commented on #11270
@Alys Sure! Didn't want to step on your toes!

If I can find time to work on Habitica soon, it will be to shore up a few lacking bits of my shared dailies feature. This would have to get in line behind that!

In thinking about this again just now, I think it's actually a combination of things: RYA task collection and the cron function you mention above. There are probably several pieces involved.

[2019-07-18 11:25] dl1683 commented on #11264
Is this open?

[2019-07-18 20:07] greenkeeper[bot] opened #11274 "An in-range update of aws-sdk is breaking the build 🚨"
## The dependency [aws-sdk](https://github.com/aws/aws-sdk-js) was updated from `2.494.0` to `2.495.0`.

🚨 [View failing branch](https://github.com/HabitRPG/habitica/compare/develop...HabitRPG:greenkeeper%2Faws-sdk-2.495.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

aws-sdk is a direct dependency of this project, and

[2019-07-18 21:43] Alys commented on #10605
Reopening because there's a new report of this although we might want to make a new issue. I'll think about this a bit more on the weekend or early next week and see if I can find any relevant logs (e.g., from double cancellation attempts). For now I just want to get this recorded. I've already fixed the termination date for this player. [EDIT: There were no entries in Loggly relevant to this.]

F

[2019-07-18 23:38] Alys commented on #11264
@kmacart has been looking into this so I'm marking it as in progress for them.

@kmacart Would you like to submit a pull request for the fix? So far it's just in a commit in your clone of the repo and it's easier for us to review and comment on it if there's a PR. :)

[2019-07-19 10:51] #11274 closed, assigned to nobody

[2019-07-19 18:54] michelle-gong commented on #11151
@Alys Thanks Alys, I was working on this with one of my friends but I was having difficulty figuring out the issue without her : ( I'm doing my best to understand the codebase but I'm having difficulty figuring out the root of the issue.

[2019-07-19 23:04] margsliu commented on #10924
@Alys
Hello, @pskupinski and I are able to take on this issue and could have a pull request submitted within the coming week. Would it be okay for us to start working on it?

[2019-07-19 23:19] pskupinski commented on #11014
@Alys
Hello, @margsliu and I are able to take on this issue and could have a pull request submitted within the coming week. Would it be okay for us to start working on it?

[2019-07-20 05:09] Alys opened #11276 "Habit minus streak being ludicrously negative"
@Rizz557 (d8fc75a7-6756-45bd-a12d-e0448316a31c) reported roughly a day before the time of this post that the counter on one of their Habits was incorrect - a huge negative number:

![image](https://user-images.githubusercontent.com/1495809/61574212-9b46c680-aaff-11e9-94af-db0ccc7140ba.png)

They've since reset the number. It was the Habit sorted to the top of the list, although I'm not sure that w

[2019-07-20 05:11] Alys commented on #11276
Task ID 7e20c204-e605-46f3-8f29-cd33f7a78fc8, not associated with a Challenge or Group Plan.

[2019-07-20 23:42] Alys commented on #11271
Just to document this here, the staff restored the missing guilds and parties from a backup a few days ago.  Any guilds or parties created after that backup was created could not be restored, and quests in some parties have problems with progress or participation, but anyone affected by those problems can post to the [Report a Bug](https://habitica.com/#/options/groups/guilds/a29da26b-37de-4a71-b0

[2019-07-20 23:42] #11271 closed, assigned to nobody

[2019-07-21 21:49] Alys commented on #11014
@LinaJohnson How are you going with this? Do you want to keep working on it or can @pskupinski take it over?

[2019-07-21 21:52] Alys commented on #10924
@arjunchawla How are you going with this? Do you want to keep working on it or can @margsliu  take it over?

[2019-07-23 00:14] shanaqui opened #11278 "Orb of Rebirth copy in profile indicates it is available for free even if it isn't"
![image](https://user-images.githubusercontent.com/8144640/61673352-0bfc0780-ace7-11e9-8c0a-639485efd519.png)

This text is the same even if the Orb is not currently available for free (due to the 45 day limitation).

Reported by @Sananab (2d83aab3-7a37-43b0-9ad5-6572df95c2d4, partially confirmed by me (I didn't go as far as triggering Rebirth and then setting myself to 100 again).

[2019-07-23 09:41] Alys commented on #11014
@pskupinski I'm sorry about the delay! You're welcome to take this on if you'd still like it!

[2019-07-23 09:42] Alys commented on #10924
@margsliu If you'd still like to do this, you're welcome to take it on. Thank you!

[2019-07-23 11:31] Alys opened #11279 "Orb of Rebirth doesn't always adjust displayed stats (sync needed to see change)"
@osberend (bc630499-2941-4c1b-85ed-41fed2e8959e) has reported the problem below with the Orb of Rebirth on the website. This conversation took place over a couple of weeks and involved osberend using the Orb twice.

osberend: **"Just now I used the Orb of Rebirth for the 30th time, at level 79. The pop-up then stated that this was my 29th rebirth and the highest level at which I had used it was 78

[2019-07-23 11:56] Alys opened #11280 "Saddles should not be sellable using the API"
On the website, if you try to sell a Saddle, you're prevented from doing so and you see the message "Hey! This is a pretty useful item! Are you familiar with how to use a Saddle with your Pets?" (that's the locales string `foodSaddleSellWarningNote`). This was implemented because people were selling the Saddle by accident. It was based on the assumption that no one will ever want to sell a Saddle,

[2019-07-23 12:30] Alys commented on #11278
I suggest we change that string to simply remove "now available for free in the Market" but I'm not marking it as help wanted yet in case the staff have preferred text or want to fix it themselves.

[code]

[2019-07-25 02:17] Alys opened #11283 "social media share links in various modals have been removed pending refactoring"
As reported by @passocurto (eceb52cf-f4ad-457a-a0e1-265624812200):

_Edit by Alys 2021-08-31:_

The staff decided to remove the share buttons until they have a chance to refactor the code (https://github.com/HabitRPG/habitica/pull/11536).
I've labelled this as on hold.

This issue applies to multiple modals:
* level-up
* onboarding (the modals a new user sees)
* achievement gained
* challenge won

[2019-07-25 02:23] Alys opened #11284 "404 not-found error page should point to Report a Bug guild"
As reported by @passocurto, the "Contact Us" link on the 404 error page https://habitica.com/static/not-found currently points to the Habitica Help guild (guild ID 5481ccf3-5d2d-48a9-a871-70a7380cee5a).

It should point to the Report a Bug guild (guild ID a29da26b-37de-4a71-b0c6-48e72a900dac).

_Note that you have to be logged in to Habitica to see the Contact Us link pointing to a guild. When you

[2019-07-25 07:02] lancewl commented on #11284
Hi, I would like to try on this issue!!

[2019-07-25 23:15] Alys commented on #11284
@lancewl Thanks! I've marked it as in progress for you.

[2019-07-26 11:29] lancewl commented on #11284
@Alys Thanks! I think I just solve the issue with the pr, but I’m not 100% sure I did it in the right way.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-07-27 04:15] Alys commented on #11174
Verified. A sync will fix it; reloading/refreshing isn't needed. It also affects the Inventory page. This causes people to think that they weren't actually given the item(s) advertised in the drop notifications so they report it as a bug and feel cheated.

To make the desired fix clear to contributors, I'm about to rename this issue to "Inventory / Quick Inventory should show new items immediately

[2019-07-28 17:39] paglias commented on #11174
Is this only affecting drops or any new item (for example if you bought it?) i thought I knew what was going on (new items not being set correctly in vue) but this doesn't seem the case and will need more investigation

[2019-07-30 08:52] Alys opened #11289 "Antidotes to Avatar Transformation Items should be added to Rewards by API"
When you've been affected by one of the avatar [Transformation Items](https://habitica.fandom.com/wiki/Transformation_Items) (e.g., Spooky Sparkles), your Rewards column contains an antidote (e.g., Opaque Potion). Currently the antidote is inserted into your Rewards column by client-side code, so it's visible only on the website.

This should be changed so that the API inserts the antidote into a

[2019-07-30 09:38] Alys commented on #10920
I've just tested and confirmed that this issue is still happening.

[2019-07-30 09:40] Alys commented on #11174
This issue doesn't occur when buying equipment. We have https://github.com/HabitRPG/habitica/issues/10920 ("when buying new equipment, item does not disappear from Market or Seasonal Shop") and I've just tested to confirm that issue is still happening. I.e., when you buy an equipment piece, it **does** appear immediately in your inventory (but doesn't disappear from the shop).

This issue also doe

[2019-07-30 12:08] cvuorinen opened #11290 "Webhooks: API endpoint to get users webhooks"
[//]: # (Before logging this issue, please post to the Report a Bug guild from the Habitica website's Help menu. Most bugs can be handled quickly there. If a GitHub issue is needed, you will be advised of that by a moderator or staff member -- a player with a dark blue or purple name. It is recommended that you don't create a new issue unless advised to.)

[//]: # (Bugs in the mobile apps can also

[2019-07-30 17:09] #10851 closed, assigned to Alys

[2019-07-30 17:13] paglias commented on #11290
@cvuorinen you're right that the endpoint is missing! That's likely because the webhooks are stored directly inside the user's document so you can `GET /user` and then the webhooks will be stored under `user.webhooks`.

This comes from the earlier days of HabitRPG when we stored everything inside the user document. Since then we moved most sub docs out of it but not webhooks.

But yeah this looks

[2019-07-30 17:16] paglias commented on #11174
Thanks for the investigation @Alys! I'm going to be away for the first 10 days of August but if no one has fixed it by then I'll prioritize this one

[2019-07-30 23:32] Alys commented on #9351
I'm just noting here that this problem is still occurring, and that as part of it the Healer's own health will also not be updated immediately, as reported by @Aerilita:
_"On the website, when I use Healer's Blessing skill my HP won't change until I sync."_

That's an expected effect of this bug although it does look like it's a separate bug since the Healer's displayed Mana updates immediately.

[2019-07-30 23:38] Alys commented on #9351
I've deleted some older comments to tidy up this issue; they were all discussions about a previous claim on the issue and didn't contain technical details. Hopefully the shorter comment thread will make this issues more attractive to work on. :)

[2019-07-31 08:24] cvuorinen commented on #11290
Yea, I also found them under the user object since I noticed that they are listed in the Settings > API page and figured it must get them somewhere. But I can take a look at adding the endpoint for getting them.

[2019-08-02 00:54] whybin commented on #11202
May I try my hand at this, given that the PR #11250 addressing this issue hasn't been revisited in almost a month? Thus far, that code seems to universally apply backticks to all messages excluding them, which might not be the desired behavior.

[2019-08-02 02:38] Alys commented on #11202
@whybin Thanks for asking about this! I think we should give @Scens a
little longer, since that pull request is nearly complete.

It's desired to have all system messages surrounded by backticks and
currently the `translateMessage` function should be used only by system
messages (they're the only ones that have an `info` field in the chat
message):
https://github.com/HabitRPG/habitica/blob/c80de38

[2019-08-02 10:42] shanaqui commented on #9699
User reports that this issue fixed itself quite a while ago and that this issue can be closed!

[2019-08-02 11:01] shanaqui commented on #11279
Update from osberend:

[2019-08-02 12:43] #9699 closed, assigned to nobody

[2019-08-02 20:50] #11231 closed, assigned to nobody

[2019-08-03 08:46] Alys commented on #7454
It's possible that when the member count is wrong, it causes the member list to display duplicates of some members. Below are posts from the Report a Bug guild indicating that that might be happening. That's not something that would need an extra fix (the preferred fix is still to just make it impossible for the member count to be wrong) but I'm recording it here so we know about it (especially if

[2019-08-03 19:44] whybin commented on #11202
@Alys Apologies, I wasn't aware the intended behavior was for all system messages to receive backticks. I now understand the decisions made in the PR. Thanks for clarifying!

[2019-08-04 08:27] Alys opened #11295 "duplicate challenge tasks in participant's task list"
[EDIT: See the first comment below for an important update.]

@SuperSaraA (dbf5390d-6a57-42ad-ae14-af8fd8e570ca) has reported a recurring problem with duplicate challenge tasks appearing on the website. In the most recent case at least the duplicates later disappeared by themselves (unless @sabrecat cleaned them up and didn't post about it?). All the details we have so far are below.

For the mome

[2019-08-06 11:21] Alys commented on #11295
An update from SuperSaraA:
"Hi again. I just looked at Habitica on the website and all the extra challenge to do copies are still there. The challenge in question is Celebrate August! [here](https://habitica.com/challenges/c21661c0-e0f2-4cef-8b10-bd8b31b4270e). I have just checked that these extra copies are not on my android app. They are not. I can only see one copy of the to dos on my phone ver

[2019-08-06 12:26] Alys opened #11297 "Orb of Rebirth remains non-free an extra day (creates misleading message on website)"
When the Orb of Rebirth stopped being free consistently from level 100, it was announced in the Aspiring Socialites guild with this message (emphasis is mine):

However with the current code, it actually becomes free again after 46 days, not 45. I realise this is pretty minor but it would be easy to fix, and it's causing a misleading display message on the website (described below).

The current A

[2019-08-06 13:14] martineizayaga commented on #11297
@Alys can I be assigned to this issue? I want to work on this

[2019-08-07 07:24] greenkeeper[bot] opened #11299 "An in-range update of csv-stringify is breaking the build 🚨"
## The dependency [csv-stringify](https://github.com/adaltas/node-csv-stringify) was updated from `5.3.0` to `5.3.1`.

🚨 [View failing branch](https://github.com/HabitRPG/habitica/compare/develop...HabitRPG:greenkeeper%2Fcsv-stringify-5.3.1).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

csv-stringify is a direct depende

[2019-08-07 10:53] greenkeeper[bot] opened #11302 "An in-range update of coveralls is breaking the build 🚨"
## The devDependency [coveralls](https://github.com/nickmerwin/node-coveralls) was updated from `3.0.5` to `3.0.6`.

🚨 [View failing branch](https://github.com/HabitRPG/habitica/compare/develop...HabitRPG:greenkeeper%2Fcoveralls-3.0.6).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

coveralls is a devDependency of this pr

[2019-08-07 11:22] Alys commented on #11297
@martineizayaga Sure, thank you! Please go ahead. Comment here if you have questions.

[2019-08-07 11:50] shanaqui opened #11304 "Searching challenge participants is inconsistent"
I've confirmed the searching issues myself. For example, in one of my challenges, searching "Q" does not bring up QuartzFox. Searching "fo" does, but searching "fox" does not.

[2019-08-08 05:40] greenkeeper[bot] opened #11305 "An in-range update of aws-sdk is breaking the build 🚨"
## The dependency [aws-sdk](https://github.com/aws/aws-sdk-js) was updated from `2.504.0` to `2.505.0`.

🚨 [View failing branch](https://github.com/HabitRPG/habitica/compare/develop...HabitRPG:greenkeeper%2Faws-sdk-2.505.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

aws-sdk is a direct dependency of this project, and

[2019-08-08 19:20] SabreCat commented on #11304
It looks like the search might be case-sensitive, when it needn't be?

EDIT: Oh, wait, that wouldn't replicate the behavior described. Strange... 🤔

[2019-08-10 12:56] #11305 closed, assigned to nobody

[2019-08-10 12:56] #11299 closed, assigned to nobody

[2019-08-10 12:57] #11302 closed, assigned to nobody

[2019-08-12 11:12] Alys commented on #11295
There's another case of this reported by @jjgame83 (d13df193-6267-4e87-b989-f2a5e6d3f264):

_"I've noticed that I have three of the same challenge daily on website titled "Good Work! I noticed myself doing something well and gave myself a compliment at least once today" [challenge ID 5977368d-6814-4f0e-ac0e-e17684fae886]. On my app there is only one that I click, but on the website, only one of th

[2019-08-12 17:26] greenkeeper[bot] opened #11308 "An in-range update of nightwatch is breaking the build 🚨"
## The devDependency [nightwatch](https://github.com/nightwatchjs/nightwatch) was updated from `1.1.13` to `1.2.1`.

🚨 [View failing branch](https://github.com/HabitRPG/habitica/compare/develop...HabitRPG:greenkeeper%2Fnightwatch-1.2.1).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

nightwatch is a devDependency of this

[2019-08-12 18:11] greenkeeper[bot] opened #11309 "An in-range update of bootstrap-vue is breaking the build 🚨"
## The dependency [bootstrap-vue](https://github.com/bootstrap-vue/bootstrap-vue) was updated from `2.0.0-rc.27` to `2.0.0-rc.28`.

🚨 [View failing branch](https://github.com/HabitRPG/habitica/compare/develop...HabitRPG:greenkeeper%2Fbootstrap-vue-2.0.0-rc.28).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

bootstrap-vue

[2019-08-12 18:12] #11308 closed, assigned to nobody

[2019-08-12 18:30] #11309 closed, assigned to nobody

[2019-08-12 23:52] adriancerejo commented on #11284
Hey I know someone else already posted however could I try to fix this issue?

[2019-08-13 19:44] greenkeeper[bot] opened #11310 "An in-range update of aws-sdk is breaking the build 🚨"
## The dependency [aws-sdk](https://github.com/aws/aws-sdk-js) was updated from `2.508.0` to `2.509.0`.

🚨 [View failing branch](https://github.com/HabitRPG/habitica/compare/develop...HabitRPG:greenkeeper%2Faws-sdk-2.509.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

aws-sdk is a direct dependency of this project, and

[2019-08-14 00:31] greenkeeper[bot] opened #11311 "An in-range update of rimraf is breaking the build 🚨"
## The dependency [rimraf](https://github.com/isaacs/rimraf) was updated from `2.6.3` to `2.7.0`.

🚨 [View failing branch](https://github.com/HabitRPG/habitica/compare/develop...HabitRPG:greenkeeper%2Frimraf-2.7.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

rimraf is a direct dependency of this project, and **it is v

[2019-08-14 09:22] #11311 closed, assigned to nobody

[2019-08-14 09:22] #11310 closed, assigned to nobody

[2019-08-14 15:29] greenkeeper[bot] opened #11314 "An in-range update of amplitude-js is breaking the build 🚨"
## The dependency [amplitude-js](https://github.com/amplitude/amplitude-javascript) was updated from `5.2.2` to `5.3.0`.

🚨 [View failing branch](https://github.com/HabitRPG/habitica/compare/develop...HabitRPG:greenkeeper%2Famplitude-js-5.3.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

amplitude-js is a direct depend

[2019-08-15 15:00] #8718 closed, assigned to nobody

[2019-08-15 15:03] #11284 closed, assigned to nobody

[2019-08-15 15:06] #11055 closed, assigned to nobody

[2019-08-15 15:10] #11202 closed, assigned to nobody

[2019-08-15 17:26] saraolson commented on #8663
Staff are looking at implementing new user achievements, so we're putting this issue on hold for now.

[2019-08-15 17:26] saraolson commented on #8621
Staff are looking at implementing new user achievements, so we're putting this issue on hold for now.

[2019-08-15 17:27] saraolson commented on #8620
Staff are looking at implementing new user achievements, so we're putting this issue on hold for now.

[2019-08-15 17:27] saraolson commented on #8619
Staff are looking at implementing new user achievements, so we're putting this issue on hold for now.

[2019-08-15 17:27] saraolson commented on #8618
Staff are looking at implementing new user achievements, so we're putting this issue on hold for now.

[2019-08-15 17:28] saraolson commented on #8617
Staff are looking at implementing new user achievements, so we're putting this issue on hold for now.

[2019-08-18 15:28] #11014 closed, assigned to nobody

[2019-08-20 00:40] rjbernaldo commented on #11028
I'd like to give this one a try if it hasn't been fixed.

Please let me know @Alys :)

[2019-08-20 11:19] Alys commented on #11028
@rjbernaldo Thank you! Please go ahead. Comment here if you have questions.

[2019-08-20 21:56] rsamborski commented on #11225
@paglias I tried removing node_modules folder several times with no luck :(
You can find `npm install` output here: https://gist.github.com/rsamborski/cb5e582ebf8b22c48a5cea587e52558c

I have also included `npm start` and `ls | grep babel`.
I believe this is related to running Ubuntu in VM but I don't have another choice. Maybe someone is using similar configuration successfully?

[2019-08-21 00:03] Alys commented on #6146
I'm reopening this because it's happening again.

I'm assuming that the desired fix is the [same one that was implemented previously](https://github.com/HabitRPG/habitica/pull/6314) but I'll leave this as suggestion-discussion for a few days in case there's other preferences.

If the same fix is done, the text shown in that PR should be adjusted to use the correct form for the task types ("Habit",

[2019-08-21 07:14] paglias commented on #11225
@rsamborski unfortunately I really have no idea of what could be causing this :( The only thing I'd try is to reinstall everything from scratch following the Wiki instructions (we recently upgraded to node 12)

[2019-08-21 09:53] Alys commented on #2592
We've had another report of a failed quest scroll purchase that was probably due to this.

I've confirmed the bug still exists -- I gave myself -1 of a gem-purchasable scroll, then bought the scroll, and ended up with 0 scrolls, so the fix that was done for gold-purchasable quests definitely still needs to be applied to gem quests. I'm raising this to a high priority since it's taking gems from pl

[2019-08-21 17:59] Markkop commented on #11042
Hey! This is a great first issue. Can I take it? I'm still setting up the development environment, but I'm pumped to contribute on Habitica and learn/practice VueJS

[2019-08-22 00:33] rjbernaldo commented on #11028
Please take a look @Alys and let me know 👍

[2019-08-22 03:09] rjbernaldo commented on #11028
Updated my PR to fix the issue according to the desired behavior mentioned above. It's a simpler solution actually, just wrap `castEnd` inside a setTimeout to add the execution to the back of the queue and let the immediate event handlers handle the event.

[2019-08-22 16:03] rsamborski commented on #11225
@paglias I found a solution to this issue here: https://github.com/npm/npm/issues/10013#issuecomment-189176273, https://github.com/yarnpkg/yarn/issues/6069#issuecomment-404198052

It seems that this doesn't work:
`lrwxrwx--- 1 root vboxsf       0 Aug 21 21:46 node_modules -> /home/ubuntu/misc/habitica_node_modules`

But this does:
`lrwxrwx--- 1 root vboxsf       0 Aug 21 21:46 node_modules -> /hom

[2019-08-23 01:09] SabreCat opened #11326 "Policy links on FAQ page don't work"
[//]: # (Before logging this issue, please post to the Report a Bug guild from the Habitica website's Help menu. Most bugs can be handled quickly there. If a GitHub issue is needed, you will be advised of that by a moderator or staff member -- a player with a dark blue or purple name. It is recommended that you don't create a new issue unless advised to.)

[//]: # (Bugs in the mobile apps can also

[2019-08-23 07:37] paglias commented on #11225
Looks like even bcrypt had issues being installed correctly. To be honest i'm not sure this is ever going to work on Virtualbox. We have several people working on Ubuntu with no issues and our CI pipeline runs several times on Ubuntu every day so it's possible it's a Virtualbox issue

[2019-08-23 08:34] H-Wolf commented on #3515
Last evening I used a hatching potion on a dragon egg. On the screen it showed the Royal Purple Dragon and congratulations. I don't find it anywhere, and the egg and potion are gone. I've restarted habitica, waited until the morning, but no dragon. Can anybody help?

[2019-08-23 12:18] SebastiaanNijland commented on #11326
Seems to be an issue with the background being on top, I can take a look!

[2019-08-24 06:36] Alys commented on #11295
This happened to SuperSaraA again, after joining the challenge using the Android app:

"I am having trouble with duplicated items from a challenge again. I joined the Habitica official back to school challenge a few days ago (using my android app) and today see on the website version that I have two copies of all the tasks. I do only see one set on my android app. Lucky me there are no daily tasks

[2019-08-24 06:43] Alys commented on #11295
As a note for admins: The fact that the duplicates don't appear in tasksOrder makes it pretty easy to identify and remove the duplicates, although you do need to check that other, unrelated tasks haven't been affected by the tasksOrder bug.

[2019-08-24 13:21] jaydinsweo opened #11328 "Bad description in repo's README"
Is there a reason why Habitica doesn't have a proper README?
It lacking information and needed some description about the project. That way, people can easy nav around the project and contribute.

I'm planning to do a template README, but not sure if there are anything else I need to include in it

[2019-08-24 23:49] Alys commented on #11328
The reason is that we use our wiki as the primary source of our documentation and we don't want to have it duplicated in another place - there'd be far too much chance that the two sets of information would get out of sync.

If you see anything that could be added to the wiki documentation after you've read the pages that the README links to and all the pages that they link to, you'd be most welco

[2019-08-26 02:20] Alys commented on #11145
I'm reopening this because it's happening again. I own several challenges but when I got to https://habitica.com/challenges/myChallenges and click the "Owned" filter checkbox, I see the "You don't have any Challenges" message.
My owned challenges do appear when I untick the "Owned" filter checkbox.

I don't know if the exact behaviour described by ceran is still happening for some players.

[2019-08-26 02:26] Alys commented on #11145
My owned challenges do appear when I untick the "Owned" filter checkbox.

(I'm about to merge this comment into my previous one for neatness.)

[2019-08-26 04:41] Alys commented on #11200
@Chinmaygoyal I'm very sorry no one replied to you! Are you still interested in working on this? If so, post a brief reply and we'll mark it as in progress for you.

[2019-08-26 04:54] Alys opened #11331 "sorting Group Plan tasks in personal task list produces error "Not authorized to manage tasks""
After I have claimed tasks from a Group Plan, why I look at my personal task list and try to sort the tasks there, I see a red notification error message saying "Not authorized to manage tasks!" -- i.e., this message:

`groups.json:  "onlyGroupLeaderCanEditTasks": "Not authorized to manage tasks!"`

At the same time, the error below appears in the console.

[code]

This might be related to https:/

[2019-08-26 04:56] Alys commented on #11331
Sorry, submitted that accidentally, here's the full details:

After I have claimed tasks from a Group Plan, why I look at my personal task list and try to sort the tasks there, I see a red notification error message saying "Not authorized to manage tasks!"

At the same time, the error from the top post appears in the console.

[2019-08-26 04:57] Alys commented on #11331
This might be related to https://github.com/HabitRPG/habitica/issues/11268

[2019-08-26 04:58] Alys commented on #11268
I've observed similar behaviour, although sometimes a reload is needed before the tasks jump back to the top. Might be related to https://github.com/HabitRPG/habitica/issues/11331

I've confirmed that tasksOrder bug (https://github.com/HabitRPG/habitica/issues/7645) is not responsible for the sorting problems I observe.

[2019-08-26 04:59] Alys commented on #11268
I've confirmed that tasksOrder bug (https://github.com/HabitRPG/habitica/issues/7645) is not responsible for the sorting problems I observe.

[2019-08-26 06:26] Alys commented on #11028
@rjbernaldo Thanks! I've marked your PR as ready for review by the staff.

[2019-08-26 06:26] Alys commented on #11042
@Markkop Thanks, please go ahead! Comment here if you have questions.

[2019-08-27 00:18] gpalsingh commented on #11280
Hi, I looked into the issue and would like to work on it.

Would a solution like this be acceptable?
[code]
Since `Saddle` is the only item with a `sellWarningNote` it just checks the item name.
About the error message, should I add a special string for this case or reuse existing message? and which one in that case?

[2019-08-27 06:30] atlas-comstock commented on #9489
Seems the api still broken. Not work:
 https://habitica.com/export/avatar-29bfa638-cb88-40e8-a0d0-48f455e7b2bd.png

[2019-08-27 06:51] atlas-comstock opened #11333 "API route to export avatar as PNG file, shows invalid UUID"
API is : https://habitica.com/apidoc/#api-DataExport-ExportUserAvatarPng

For example, `curl  "https://habitica.com/export/avatar-:106c172a-7799-49a5-b108-ebb23bae8a64.png"` shows:

`{"success":false,"error":"BadRequest","message":"Invalid request parameters.","errors":[{"message":"\"member\" must be a valid UUID.","param":"memberId","value":":106c172a-7799-49a5-b108-ebb23bae8a64"}]}`

However,  `

[2019-08-27 06:59] atlas-comstock commented on #11333
Dig into the code, seems that it is validated by `express-validator`.
So it may cause by this?

[2019-08-28 13:44] shanaqui opened #11334 "Orb of Rebirth should reset Habit streaks"
Reported via RaB by Eliot the New Recruit [tmto]   @EliotThe (0d77107e-9128-4656-8c02-6e06331fa396):

I have not tested this personally.

[2019-08-30 14:56] shanaqui opened #11336 "Categories cannot be selected while creating a new challenge"
Reported in RaB:

_@Cooldude_McRadd (380f843b-87eb-4ab4-b909-dbc484e499fb): "having issues creating a new challenges on PC - category tickboxes do not select, instead it filters current challenges behind the 'setup screen', which results in a challenge not being able to be created"_

Confirmed by me in Google Chrome.

[2019-08-30 17:05] #11336 closed, assigned to nobody

[2019-09-01 05:58] Alys opened #11337 "Stats, Achievement menu options link to Profile modal; Edit Avatar option is sometimes wrong"
Clicking on User Icon > Stats or User Icon > Achievement opens the Profile modal. You then have to click on the Stats or Achievement subheading to get to the screen you want.
The correct behaviour is that those two menu options should link directly to the Stats or Achievement modal.

~The User Icon > Edit Avatar menu option works correctly most of the time (i.e., it takes you to the avatar editing

[2019-09-01 12:36] Scens commented on #11337
Hi!
I've just checked and Stat and Achievement menu options work good in the most recent develop version.

[2019-09-01 12:54] paglias commented on #11333
@YongHaoWu `curl "https://habitica.com/export/avatar-:106c172a-7799-49a5-b108-ebb23bae8a64.png"  ` inclused `:` in front of the uuid, if you remove it the error doesn't appear anymore although the route is still broken due to #9489

[2019-09-01 12:54] #11333 closed, assigned to nobody

[2019-09-02 03:22] Alys opened #11339 "can't close challenges - participants can't be searched or viewed in drop-down"
Multiple reports of this.

When you're trying to close a challenge from the "End Challenge" button, the "Select Member" drop-down list is empty and the name search field there doesn't accept input (clicking in it doesn't put a cursor there and typing doesn't cause letters to appear).

Similarly, the "View Progress Of" drop-down doesn't accept input.

I'm marking this high priority since it's very

[2019-09-02 03:23] Alys commented on #11339
Any contributor is welcome to take this on but please only do that if you're able to submit a fix in a couple of days ideally. Also be aware that the staff might fix this themselves so post here to check before starting to work in it.

[2019-09-02 03:58] Alys opened #11340 "checklist items can't be completed in (Record Yesterday's Dailies (RYA) screen"
Lorem Ipsum / @loremi (64d5d2fa-4ab1-4ff2-bc93-e46a18d44b25) writes:

"I'd like to report a "end of day popup checklist bug": When checking off checklists of dailies at the cron popup prompt, the items don't get checked off IN the popup – but I can see it gets checked off in the background. (By background I mean the popup darkens the rest of the screen; the actual darkened daily behind the popup i

[2019-09-02 07:56] Alys commented on #11337
@Scens Thanks for finding that and for the PR! I've marked this as in progress for you.

[2019-09-02 12:30] paglias commented on #11340
yeah it's the same thing, the issue is that checkboxes must have different ids or they won't work, not sure why it worked until now

[2019-09-02 12:36] paglias commented on #11340
fixed in release

[2019-09-02 12:38] #11340 closed, assigned to nobody

[2019-09-02 14:51] shanaqui commented on #11145
This is happening to me as well.

Some of my owned challenges do appear in my challenges, when I filter by owned, but *only* if I am also a member of the challenge.

I have a recording of my screen showing this if anyone needs it to investigate.

[2019-09-02 16:28] negue commented on #11145
my previous PR was redone with #11222, but with this the `Owned` filter stopped working again, seems that both changes are not "right" ^^

@SabreCat any idea on how to fix it for (hopefully) the last time? :D

[2019-09-03 06:16] rjbernaldo commented on #11028
Any update or feedback on this @Alys ?

[2019-09-03 07:10] Alys commented on #11028
@rjbernaldo Nothing yet! :) The staff will post here when they've reviewed your PR with either a message stating that it's ready to be merged or with feedback about code that would need to be adjusted. If you'd like more information about the review process, have a look at [Using Your Local Install to Modify Habitica's Website and API](https://habitica.fandom.com/wiki/Using_Your_Local_Install_to_M

[2019-09-03 07:53] rjbernaldo commented on #11028
Alright, thank you!

[2019-09-03 08:19] Alys commented on #11334
Confirmed. Rebirth currently resets the streaks on a Daily but not on a Habit. This screenshot shows tasks immediately after Rebirth occurred:

![image](https://user-images.githubusercontent.com/1495809/64155910-19c0b300-ce77-11e9-81f2-168daab97fc1.png)

The desired behaviour is that the positive and negative streaks on Habits should be reset to zero by Rebirth, in the same way that streaks on Dai

[2019-09-03 09:02] Alys commented on #11280
@gpalsingh Thanks for wanting to work on this!

It would be best if the `if` statement in the API matched the one in the website's Vue code (that's the first code block above). That way if we ever change any related code, there's more chance that the same fix can be made in both places, and if we ever add another non-sellable item, the API will automatically prevent selling. Post here if you have

[2019-09-03 14:02] cheng-shiqi commented on #11339
Can I take on this one? I've work out a solution in my local install and will submit the PR immediately.

[2019-09-04 07:45] Xaz16 commented on #11334
Hi folks!
Can I take this one @Alys ?

[2019-09-04 10:35] Alys commented on #11334
@Xaz16 Sure, thanks! Post here if you have questions. :)

[2019-09-04 10:56] Xaz16 commented on #11334
@Alys thank you.
I created PR with fix for this issue https://github.com/HabitRPG/habitica/pull/11345

[2019-09-04 20:01] Xaz16 commented on #11331
Hi folks!
@Alys can I take this one?
I already created group on my local (thanks that I worked with stripe before) :)

[2019-09-04 20:30] #11339 closed, assigned to nobody

[2019-09-04 20:48] Xaz16 commented on #11331
Could you show steps for reproduce as well? Due to I can't reproduce issue by myself...

[2019-09-04 21:06] Scens commented on #11331
1. Claim some group tasks as a non-leader of a group
2. Try to rearrange them at your personal tasks list.

[2019-09-05 07:30] Xaz16 commented on #11331
Thank you @Scens.
How can I accept invite on non leader user, without working emails? I tried through MongoDB (modify leader field with another user token), and I have no result. I'm not so strong in Mongo. Can you provide some queries for me?

[2019-09-05 11:06] Alys commented on #11331
@Xaz16 Yes, it would be great if you could work on this, thanks! I've marked it as in progress for you.
Emails shouldn't be necessary for invitations. When a player is invited to a guild (with or without a group plan), they'll see the invitation in their notification menu so they can accept it from there. Does that answer your question? Post again if it doesn't. :)

@Scens Thank you!!

[2019-09-05 11:09] Alys commented on #11051
@godless-toast I'm sorry we didn't reply to you before now. The issue you described with a profile reopening is https://github.com/HabitRPG/habitica/issues/11083

[2019-09-05 13:28] Xaz16 commented on #11331
Yeah, @Alys. It answers, thank you. For some reason I totally forgot about this method of applying invitation.

I reproduced that case and start working on it.

[2019-09-05 14:34] Xaz16 commented on #11268
Hi folks!
I have strange feeling that when this PR will be merged this one will be resolved.
https://github.com/HabitRPG/habitica/pull/11348

[2019-09-05 14:38] Xaz16 commented on #11137
Hi folks!
@Alys, could you please assign this task to me? :)

[2019-09-05 21:35] Jacqland commented on #8248
I'm in this boat too - you can see yesterday that I collected my 22nd and 23rd mistifly (out of 15 needed). It's painful essentially rolling the dice each day hoping to finish this quest. I wouldn't even mind if it didn't count pending items, but as-is you can be stuck in an RNG loop indefinitely.

![image](https://user-images.githubusercontent.com/26366747/64382347-9c20c100-d089-11e9-9247-bcee26f

[2019-09-05 22:08] Alys commented on #11137
@Xaz16 Thanks! I've marked it as in progress for you.

[2019-09-05 22:20] Alys commented on #11268
@Xaz16 Thanks for mentioning that! I'll put this on hold for now.
I'm also marking it as "notify helpers" so I'll see it when I do my regular sweep of that label and that will prompt me to test it again later. :)

EDIT 2019-10-23: it's fixed

[2019-09-06 10:16] Xaz16 commented on #11137
@Alys or @shanaqui I noticed that such situation we have for group tasks. I mean that I can be non leader user, but have all options to edit and delete group task. When I'm tried to delete it I of course get the "Non Authorised user" error and when I try to edit something I can do that (even assign task, but only for my current user) but when I push "Save" button of group task I retrieve the same

[2019-09-06 10:18] Xaz16 commented on #11137
PR: https://github.com/HabitRPG/habitica/pull/11349

[2019-09-06 11:28] Xaz16 commented on #11289
Hi folks!
@Alys, can I take this one?

[2019-09-06 11:37] Xaz16 commented on #11185
Hi folks!
@Alys can I take this task? As I understand @gautamz07 is not working on it anymore...

[2019-09-06 11:40] Xaz16 commented on #10920
Hi folks!
@Alys can I take this one?

[2019-09-06 12:10] Scens commented on #11304
Does someone know how to replicate this? When I try to do this it doesn't bring up QuartzFox because the search is case-sensitive. But even when I type "Fo" or "Fox", the latter always works better for me, narrowing down the list of participants.

I can understand how the above may occur because of the 10 users limit and the inability to scroll down (for example the user we search for might be an

[2019-09-06 15:56] Scens commented on #11096
I've created a pull request that fixes the issue. The issue wasn't only clicking on the gem icon, but anywhere in the lower part of the option's square.

[2019-09-07 08:09] Alys commented on #10920
@Xaz16 Sure! Thanks! :)

[2019-09-07 08:10] Alys commented on #11289
@Xaz16 Yes, thank you!

[2019-09-07 08:14] Alys commented on #11185
@gautamz07 How are you going with this? Would you like to keep working on it? If you ended up being too busy to be able to do it, just let us know - we understand what that's like. :)

[2019-09-07 08:16] Alys commented on #11137
@Xaz16 Thanks for noticing that! Feel free to add a fix to your current PR now if you wish. It's not essential to have an issue for it first.

[2019-09-07 13:52] Xaz16 commented on #11137
@Alys got it. I pushed fix for groups as well in current PR.

[2019-09-07 18:11] anushkajj commented on #11297
Hi! Beginner here. Can I work on this issue?

[2019-09-07 19:28] Xaz16 commented on #11289
Ok, it is not so easy to understand how to make test data for that issue.
@Alys, may you help please?
How can I add transformation item for my local user? Or maybe it is better to understand how to start seasonal event on local machine...

[2019-09-07 19:36] Xaz16 commented on #11289
It looks like I understand the magic @Alys. Sorry for disturbing :)

[2019-09-08 05:58] Alys commented on #11297
@martineizayaga how are you going with this? Would you like to keep working on it? If you've become too busy just let us know - we know what that's like. :)

[2019-09-08 13:06] martineizayaga commented on #11297
Hi! I would like to keep working on it if that's ok
On Sep 8, 2019, 1:58 AM -0400, Alys <notifications@github.com>, wrote:

[2019-09-08 20:42] Alys commented on #11297
@martineizayaga Sure, carry on, thanks! :)

@anushkajj I'm sorry, no, this issue is taken. :)

[2019-09-09 12:29] Xaz16 commented on #11289
I made PR for this issue, but the solution is minimal as I can implement.
You can check it here https://github.com/HabitRPG/habitica/pull/11353

[2019-09-09 13:46] #11096 closed, assigned to nobody

[2019-09-09 13:46] #11331 closed, assigned to nobody

[2019-09-09 13:46] #11268 closed, assigned to nobody

[2019-09-09 13:46] #11334 closed, assigned to nobody

[2019-09-09 13:47] #11137 closed, assigned to nobody

[2019-09-09 13:47] #11326 closed, assigned to nobody

[2019-09-09 13:50] #11028 closed, assigned to nobody

[2019-09-09 22:19] Alys opened #11355 "can't remove guild/party/group members; members appear in member list twice"
@SuperSaraA (dbf5390d-6a57-42ad-ae14-af8fd8e570ca) reports problems removing members from a guild:

"So as a newish guild leader I have been trying to delete the members who are years unactive. Recently I have noticed that they are not moving off of my member list after I click the "yes remove" button. I am working on the website version. ...
One other person commented in the [Habitica Help] guild

[2019-09-10 23:44] Alys commented on #9458
I've removed some old comments that were just related to claiming this issue and getting access to Zeplin, just to make it easier for us to review the requirements. All technical and design comments are still present.

If anyone wants to claim this issue, post here and say what email address you'd like us to use for inviting you to Zeplin to see the design (if you don't want to make your email add

[2019-09-11 07:54] SebastiaanNijland opened #11356 "Skills Layout is a bit off"
[//]: # (Before logging this issue, please post to the Report a Bug guild from the Habitica website's Help menu. Most bugs can be handled quickly there. If a GitHub issue is needed, you will be advised of that by a moderator or staff member -- a player with a dark blue or purple name. It is recommended that you don't create a new issue unless advised to.)

[//]: # (Bugs in the mobile apps can also

[2019-09-11 07:59] SebastiaanNijland commented on #11356
Note that I'd like to work on this myself if that's okay :)

[2019-09-11 09:51] Alys commented on #11356
This is something @Tressley might like to comment on so I've marked it with the design on hold label.

[2019-09-11 13:03] akmaekki commented on #11264
Hi, is this issue still open? I would like to work on it.

[2019-09-11 14:20] anushkajj commented on #11297
@Alys No issues! Thank you :)

[2019-09-11 14:37] paglias commented on #11264
@akmaekki for now someone is still working on it but if we don't get an answer in a couple of weeks it'll be made available again

[2019-09-11 16:44] akmaekki commented on #11264
Ok, thank you for your answer. Just one more question. Is there another
possibility to contribute? Like reviewing pull requests, or something code
related?

On Wed, Sep 11, 2019 at 4:37 PM Matteo Pagliazzi <notifications@github.com>
wrote:

[2019-09-12 09:18] paglias commented on #11264
@akmaekki reviewing pull requests is done by the staff usually but there are a lot of issues to work on if you want to ! Just pick any that doesn't have an `in progress` or `on hold` ticket and comment that you want to work on it

[2019-09-12 10:26] akmaekki commented on #9786
Hi, I would like to work on this bug / feature.

[2019-09-12 13:10] Alys commented on #9786
@akmaekki Fantastic, thanks! Post here if you have any questions.

[2019-09-13 15:43] paglias commented on #11337
I've edited the description to say that a part of the issue has been resolved

[2019-09-13 15:54] #11280 closed, assigned to nobody

[2019-09-13 22:56] akmaekki commented on #9786
I have a question, referring to the screenshot in the first post.

- 12/90 means that there are 90 pets and the user already owns 12, am I right?
- What do we want to display additionally?

[2019-09-14 07:25] Alys commented on #9786
@akmaekki

That's right, and that's already working on the website.

The "Show More" buttons on the Inventory > Stable page need to be changed as the fix for this issue. If you look on the habitica.com website now, you'll see they say just "Show More". The screenshot in the top post on this issue shows what they should say (i.e., add the number of pets owned in each section).

Note that the screen

[2019-09-14 08:03] Xaz16 commented on #11257
Hello @phillipthelen!
Is it still Help wanted issue? As I can see we already have PR for that

[2019-09-14 08:04] Xaz16 commented on #11174
@Alys can I take this one?

[2019-09-14 08:06] Xaz16 commented on #11141
Hi folks!
@gautamz07 will you work on that?
@Alys can I take this one?

[2019-09-14 08:07] paglias commented on #11174
@Xaz16 sure!

[2019-09-14 08:09] paglias commented on #11257
@Xaz16 I'll remove the label as this is being handled by @phillipthelen

[2019-09-14 08:11] Xaz16 commented on #11257
@paglias thank you :)

[2019-09-14 09:08] akmaekki commented on #9786
Thank you Alys. Now I got it and will orient toward the screenshot. Previously it was not clear to me, if you agreed upon a design solution.

[2019-09-14 19:44] akmaekki commented on #9786
I now have a "working version". The screenshot displays how it looks right now. Is this ok in principle?

Another question arises => if the user has 0 or 1 pet, the string should display singular "standard pet". If the user has more than 1 pet, it should display "standard pets", am I right? If so and plural is important, I would probably introduce a new variable to pets.json. But this would requir

[2019-09-15 19:41] Xaz16 commented on #10920
@Alys, could you check please this issue again? As I can see all items which I can buy/purchase for gold/gems are disappearing immediately.

If you can reproduce it, could you please describe steps for reproduce comprehensively? (which season, which item)

[2019-09-16 05:05] noobling commented on #11328
The README of a github project is the number one place a dev would look at initially. A suggestion could be to put minimal unlikely to change information that is relevant to developers.

Some ideas include
* Getting started
* FAQ
* Social/Community links
* License
* Creating issues

I could make a PR for this but I lack the context for this project.

[2019-09-16 06:20] Alys commented on #11328
Thanks, that's good feedback! I'll update the readme later today to either
provide that information or indicate where it's found.

[2019-09-16 10:40] Alys commented on #10920
@Xaz16 I've just tested on habitica.com and it's still happening as described in the first paragraph of this issue.

I haven't tested on a local install because I'm using a new computer and still getting the local install set up. :-/

If you want to test it in production, tell me your Habitica Username or User ID and I'll remove some of the basic class equipment that you own. That will let you rep

[2019-09-16 10:42] Alys commented on #11141
@gautamz07 I'm so sorry we never replied to you back in June! Are you still interested in doing a pull request for this? If so, I'll mark this issue as in progress for you.

(@Xaz16 Sorry about the delay but we'll see what @gautamz07 says first.)

[2019-09-17 11:49] Alys opened #11364 "punctuation in wrong place in RTL text (Arabic, maybe others)"
@sora-01 (30647f40-eeb7-4d3a-a52a-40491b3eab84) reports:

"Hi! I'm from the Pirate Cove. When I posted Arabic messages in a chat, I noticed periods at the end of a paragraph were displayed on the right like English. It's not the correct position, because periods are usually on the left in Arabic. The same problem happened to exclamation marks. This display problem happens on website and I'm using

[2019-09-17 11:55] Alys commented on #11364
I've posted to both those guilds to ask if anyone has any more information or suggestions.

[2019-09-18 14:46] Xaz16 commented on #10920
@Alys no, thanks. Production is production. Can you please just describe step by step what are you doing exactly? Which tab of market do you use (special, equipment, quests)? What item and for what currency do you buy it?

[2019-09-18 14:52] kushpvo commented on #11020
I can take this up. What's the final solution?
404 page or custom message page?

[2019-09-19 04:06] Alys commented on #10920
To replicate this: "When you go to Shops > Market or Shops > Seasonal Shop
to buy an equipment piece that you have not previously owned, the purchase
is successful (the item appears in your Inventory immediately) but the
bought item does not disappear from the Shop until you sync":

1. Go to Shops > Market (or Shops > Seasonal Shop when items are available
there).
2. Pick an equipment piece that y

[2019-09-19 06:43] Xaz16 commented on #10920
Thank you @Alys
For now I can say that on my local machine I use old seasons for enable seasonal shop and buy eqiupment for gems and gold (I changed one if condition to get all equipment for gold) and I can say that all works as expected.

I will try to replicate this one for Market one, but I'm really sure that here we can see the same behavior (I tested it in market before seasonal). I will make

[2019-09-19 20:09] #11328 closed, assigned to nobody

[2019-09-20 14:47] #11290 closed, assigned to nobody

[2019-09-20 15:03] paglias commented on #9694
I've added a note at the beginning about the a PR containing most of the fixes that can be used as a starting point

[2019-09-20 22:36] greenkeeper[bot] opened #11369 "An in-range update of aws-sdk is breaking the build 🚨"
## The dependency [aws-sdk](https://github.com/aws/aws-sdk-js) was updated from `2.532.0` to `2.533.0`.

🚨 [View failing branch](https://github.com/HabitRPG/habitica/compare/develop...HabitRPG:greenkeeper%2Faws-sdk-2.533.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

aws-sdk is a direct dependency of this project, and

[2019-09-21 08:57] #11369 closed, assigned to nobody

[2019-09-21 09:04] greenkeeper[bot] opened #11370 "An in-range update of smartbanner.js is breaking the build 🚨"
## The dependency [smartbanner.js](https://github.com/ain/smartbanner.js) was updated from `1.14.3` to `1.14.4`.

🚨 [View failing branch](https://github.com/HabitRPG/habitica/compare/develop...HabitRPG:greenkeeper%2Fsmartbanner.js-1.14.4).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

smartbanner.js is a direct dependenc

[2019-09-21 09:19] #11370 closed, assigned to nobody

[2019-09-22 11:18] paglias opened #11373 "Bootstrap 2 Migration guide"
See https://github.com/bootstrap-vue/bootstrap-vue/blob/dev/CHANGELOG.md#v200

[2019-09-23 10:23] Alys opened #11376 "pet eggs not given when quest ends"
@bgmary (512cab82-38b9-46cf-b00e-8fa4efbcb575; "🔮 Beautiful Gorgeous Mary 🔮") reports:
_"My party just finished a pet quest-- while the eggs are unlocked in the market for me and I got the notice saying I'd defeated the boss and received the eggs, I didn't actually get any eggs. I'm certain that I actually participated in this quest as I was the one who dealt the death blow. It was the cobra quest

[2019-09-23 10:27] Alys commented on #11376
Here's the data I referred to but forgot to include.

[code]

[code]

[2019-09-23 10:31] Alys commented on #11376
At least one of the other quest participants does have the eggs:
[code]

[2019-09-23 10:51] Alys commented on #11376
I've done tests and this is irrelevant:
_"... unless there's new code on the website or app or in a third-party library that now deletes an `items` entry when its number drops to zero? If there is code that does that, making it stop would be highly advantageous for troubleshooting user support problems."_
(and it wouldn't be in the mobile app anyway since the app just uses the API, sorry). Selling

[2019-09-23 18:57] akmaekki commented on #9786
Hi, is there anyone who can help me with this?

[2019-09-24 11:12] Zarrindast commented on #11376
Hey, I'm bgmary, the user experiencing the issue. My internet has been spotty in my current location; could flickering wifi interrupt the item update process midway and thus yield an incomplete version of what should be a single action?

I polled my party (most of whose active members read the party chat daily) and no one else came forward to report having not received the eggs, with two users (@T

[2019-09-24 11:55] Alys commented on #11376
@Zarrindast Hi! Thanks for taking the time to post here and for polling your party! It's useful to know that there's no other reports there for this bug.

Internet access problems shouldn't have caused this because the quest rewards are given in Habitica's database stored on its server. The website and mobile apps merely show you a view of what's stored in the database, so interruptions at your en

[2019-09-24 11:57] Alys commented on #11376
To the staff:

I've looked through the code for the end of a quest and it still assigns the achievement and eggs in a single update command, although the achievement is in an `$inc` and the eggs are in a `$set` (code below). Does the database apply the inc and set separately? If the inc succeeded but the set failed, would the `User.update` query return success so that the retry didn't happen?

htt

[2019-09-24 12:00] Alys commented on #11020
@kushpvo Thank you!

Tressley's decision is final so the 404 page should be shown.

[2019-09-24 13:51] paglias commented on #11376
regarding the db update, no, single queries are atomic so if one part completed correctly the other one should have too

[2019-09-24 18:48] noelo-cohelo commented on #9478
I have this problem now on Android app.

[2019-09-24 21:02] Alys commented on #11376
Thanks paglias! Good to know.

I've added the "priority: important" label since this bug seems inexplicable and we don't know what its impact will be, and also it results in players not getting items that they've effectively paid gems via buying a quest scroll.

If there was another `items` update being performed at the same time (e.g., if a user's account was in the process of being given a drop

[2019-09-25 01:38] Alys commented on #10920
@Xaz16 How are you going with this? If you haven't yet had time to set up a test account to replicate it, you can see the bug in production with the new Grand Gala gear if you try to buy it from the Market (not from the Rewards column).

[2019-09-25 06:59] Xaz16 commented on #10920
Hi @Alys
For now I have not so much time for contributing to habitica, but I will try to fix it (not sure that this week).

[2019-09-25 16:12] paglias commented on #9478
Hi @noelo-cohelo and thanks for the report, could you report it directly from the app? In the app, Menu>About>Report a Bug. thanks!

[2019-09-25 16:16] paglias commented on #11376
Hmm... changes are applied separately so what could happen is that a second update changes the value to something else so it would have to be a $set that replaced the affected field but given that it completely disappeared the only options would be an $unset or a $set against a parent object.

So for example if the user had

[code]

it could be affected by something replacing `user.items` or `user

[2019-09-25 16:16] noelo-cohelo commented on #9478
Thank you for your response @paglias. Unfortunately, I already uninstalled the app (partially because this was really annoying). But I will remember that I can use this option if I'll ever use it again.

[2019-09-25 16:20] paglias commented on #9478
Sorry about that @noelo-cohelo , in case you change your mind we're happy to help :)

[2019-09-25 19:58] tvaz commented on #11200
If this one is still available, I'd like to take a crack at it for Hacktoberfest if that's OK!

[2019-09-25 20:13] Alys commented on #11200
@tvaz Thanks! Please go ahead! Comment here if you have any questions.

[2019-09-25 20:19] Alys commented on #11376
Yes, that's the sort of thing I was thinking of. Would this do it?
https://github.com/HabitRPG/habitica/blob/749138df4d3c3e77be1412b5033cacb4b0c51332/website/common/script/fns/randomDrop.js#L90

If Amplitude was working, we could check to see if an egg drop had happened around the time of the quest end. :-/

[2019-09-25 20:54] Alys commented on #9786
@akmaekki I'm sorry we haven't replied before now!

Firstly as a general note, when new strings do need to be added to the locales files, you have to add them to only the files in the "en" directory. From there, they are uploaded to Weblate (the website that contributors do translations in) and they're automatically copied to all the other language files. Thus it's easy for a programmer to add a n

[2019-09-26 02:18] kushpvo commented on #11020
@Alys Alright, I'll work on it! Thanks!

[2019-09-26 10:20] paglias commented on #11376
[code]

doesn't directly change the eggs object but I can see this bug happening if the random drop happened at the same time the quest ended and the rewards were given

[2019-09-26 17:13] citrusella commented on #11117
The PR that closed this issue appears to have only fixed the pale numbers on the white background, not the dark text on the dark popover background.

I think I got a working fix for that happening way back when I was playing around to get the hang of editing things for Github in May. My installation is a bit behind but I could update it and see if the fix still works, if that's wanted/okay.

...Wh

[2019-09-26 20:17] Neumand commented on #9211
I'd like to work on this!

[2019-09-26 21:16] Alys commented on #11117
@citrusella  XD Thanks! Please do. :)

[2019-09-26 21:48] citrusella commented on #11117
Okay! I'll get my install updated (and hope I don't make brain farts and run into problems like the last two times I updated) and test it out! :)

[2019-09-29 05:14] Alys opened #11385 "challenge's tasksOrder array must not have duplicated task IDs"
I have found a challenge that has duplicate task IDs in its tasksOrder object, as shown below. It's possible that this is causing https://github.com/HabitRPG/habitica/issues/11295 which is a highly inconvenient bug so I'm marking this as a high priority.

The expected behaviour is that every challenge task should appear once and only once in the challenge's tasksOrder object.

For anyone who wants

[2019-09-29 05:23] Alys commented on #11295
SuperSaraA has reported this again. For a challenge that contained 31 tasks, 123 duplicate tasks were added (in addition to the 31 that should be there).

I'm raising this to a high priority because duplicate tasks can make your task list unusable, especially when there's that many extra and the tasksOrder aspect prevents you reordering your tasks.

This time I've been able to find some informatio

[2019-09-29 10:54] Alys opened #11386 "Gem gift modal: purchase buttons sometimes appear when "From Balance" is selected"
Sometimes when you go to give Gems to another player using your Gem balance, the purchase buttons appear when they should not. AnneLine and I have observed this. In the screenshot below (taken by AnneLine), you can see that the "From Balance" option is selected but the buttons for credit card, etc appear.

Steps to reproduce:
1. Ensure you have at least 1 Gem.
2. Click on a player's profile then c

[2019-09-29 17:43] cheng-shiqi commented on #2592
@Alys Can I take this one? And thanks a lot for the information and suggestions above, giving huge help in looking into such a long issue!

[2019-09-29 21:35] Alys commented on #2592
@cheng-shiqi Yes, please do, thank you! Post here if you have questions.

Good to hear my comments helped, thanks. :)

[2019-09-30 20:35] bmasetto commented on #11297
@martineizayaga, do you still working on it? I've passed the last couple days reading about how to contribute with Habitica project and now I'm excited to solve my first issue in the project . If you happen too busy to go on with this issue, I could take it for me :)

[2019-09-30 21:28] bmasetto commented on #10475
@shanaqui, I could not reproduce this bug. Does this issue still happening? If so, could you please attach a GIF with the steps you are following to reproduce this bug? Then, I could work on it if @negue agree :)

[2019-09-30 21:34] shanaqui commented on #10475
The issue was reported by a user, so I have no insight into whether the bug is still occurring for them. :)

[2019-09-30 22:12] bmasetto commented on #10475
Thanks for the quick answer, @shanaqui. In this case, should we close this issue, @negue?

[2019-09-30 22:29] negue commented on #10475
Yeah I think since the begin of this issue, the modals and the base (bootstrap-vue) was updated quite often, and should be all fixed by now :), if this issue ever occurs again, please re-open this.

Closing this until then.

[2019-09-30 22:29] #10475 closed, assigned to nobody

[2019-10-01 10:55] Alys opened #11392 "Background preview feature doesn't work"
As reported by Lorem Ipsum / @loremi (64d5d2fa-4ab1-4ff2-bc93-e46a18d44b25):

'Pop-up bug: In the background menu, when I click on a un-bought background to try it on, the preview pop-up shows up behind the pop-up with all the backgrounds showing. You then have to close the "all backgrounds" pop-up first, then the preview pop-up, then the "all backgrounds" pop-up again.'

I assume the intention is

[2019-10-01 11:20] Alys commented on #9211
@Neumand Thank you! Please go ahead!

There might be quite a few places where alert() and confirm() are used so if you want to submit a pull request for just some of them, I think that would be fine. However if Habitica's staff comment here to say differently, listen to them not me. :)

[2019-10-01 11:30] Alys commented on #11376
Thanks, that's what I was thinking.

Data from Amplitude shows that there were drops close to the time of the quest ending, but not within a few seconds of it:

acquireMethod Drop
itemName Honey
Client Event Time Sep 23, 7:12:08 am UTC

acquireMethod Drop
itemName Lion Cub Egg
Client Event Time Sep 23, 7:12:10 am UTC

acquireMethod Drop
itemName Fish
Client Event Time Sep 23, 7:12:11 am UTC

"text

[2019-10-01 13:51] bmasetto commented on #11042
@Markkop, do you still working on this issue? If not and if @Alys agrees, I could go ahead with this implementation.

[2019-10-01 13:53] paglias opened #11393 "Monorepo Next Steps"
After https://github.com/HabitRPG/habitica/pull/11391

- [ ] server package and upgrade deps
- [ ] common package -> remove unused wrapper files
- [ ] common / server remove default api exports in favor of multipla named exports
- [ ] lerna?
- [ ] locales -> generate files for clients? remove unused?
- [ ] assets size is huge
- [x] bootstrap vue separate imports
- [x] modern build
- [x] ditch spri

[2019-10-01 14:35] Markkop commented on #11042
I've finished this issue with #11375, but it can't be resolved before the extension being avaliable again in Firefox's marketplace.
https://github.com/HabitRPG/habitica-chat-extension/issues/49

[2019-10-01 14:54] citrusella commented on #11392
For what it's worth, this isn't happening on the delta site. Is there a difference between delta and production that would explain this?

I wonder, is it possible #11384 will fix this? It appears to be active on delta (where the background list is z-index 1040 and background preview modal is 1041) but isn't on production yet (where both modals are 1040 but the list modal is being overridden by 104

[2019-10-01 15:07] bmasetto commented on #11042
Ok, @Markkop. What do you think about adding an “on hold” label to this issue in this case, @Alys?

[2019-10-01 15:22] stefankeys commented on #10998
Still not working....

[2019-10-01 18:14] bmasetto commented on #6146
@Alys, I agree to the suggestion about having diferent texts to each task type. This approach gives the user the entire corcerning about about its action. Can I be assigned to this issue? I wanna to work on this issue :)

[2019-10-01 18:21] SunSparc commented on #11355
I have noticed a similar behavior in the iOS app for a party that I am in. Members that have long since departed will continue to show up, sometimes for quite a while. I cannot remember seeing this in the website version though. If I can get some time, I will see if I and duplicate it locally.

[2019-10-01 21:07] Alys commented on #11392
@citrusella Thanks so much! I must have been too tired to think about checking delta/staging. :scream: It would be z-index related and I think you're right that it's been fixed so I'm closing this. We can reopen it if needed later.

[2019-10-01 21:07] #11392 closed, assigned to nobody

[2019-10-01 21:08] Alys commented on #6146
@bmasetto Thanks! Please go ahead. I've marked it as in progress for you.

[2019-10-01 21:13] Alys commented on #11042
@bmasetto "on hold" is usually used if an issue isn't suitable for someone to start working on it, but for this one there's already a full fix, so it's sort of borderline between the two situations. :) I'll leave it marked as "in progress".

As a general guideline, if you see an "in progress" issue that hasn't had any action for several weeks, it's okay to ask if the claimant is still working on i

[2019-10-01 21:19] Alys commented on #11355
@SunSparc Thanks! Let us know if you can duplicate it and want to work on it.

[2019-10-01 22:13] Alys opened #11394 "challenge creation/edit screen should not close except by buttons"
As reported by @caesg (e05cd0c8-038c-4606-82cf-744eea3568f6):
"If I click outside the foreground challenge box, while creating or editing the challenge, then the challenge box disappears and work up to that point is lost."

The desired behaviour is that the challenge creation / editing modal (screen) should close only if you click on the "x" button on the top right corner or the "Add Challenge Tas

[2019-10-01 22:33] Alys opened #11395 "Bronze and Silver Hatching Potion should not specify "Available for purchase until...""
As reported by @Baleseard (4f934148-56b2-4242-bc5b-90fda99710a3)"

"I found an error on the purchase popup for bronze potions:
Bronze Potion
Pour this on an egg, and it will hatch as a Bronze pet. Not usable on quest pet eggs.
Available for purchase until String 'dateEndundefined' not found..
How many would you like to buy?"

The same occurs for Silver potions. Both of those are obtained from ques

[2019-10-01 22:34] yoel44 opened #11396 "the android app when quickly double tap on the + of - button on habits tab it counts to 1 instead of 2"
[//]: # (Before logging this issue, please post to the Report a Bug guild from the Habitica website's Help menu. Most bugs can be handled quickly there. If a GitHub issue is needed, you will be advised of that by a moderator or staff member -- a player with a dark blue or purple name. It is recommended that you don't create a new issue unless advised to.)

[//]: # (Bugs in the mobile apps can also

[2019-10-01 22:34] #11396 closed, assigned to nobody

[2019-10-01 22:35] Alys commented on #11395
The fix for this should also be tested when attempting to buy the potions using the API. It should not be possible if you have not yet done the quest - it should return an informative error message in that case (not the limited time message). It should not display the limited time message after you have completed the quest.

[2019-10-02 07:14] leodalmacio commented on #11394
Hi @Alys, I'm interested with this one, can I take it?

[2019-10-02 08:46] paglias commented on #11394
@leodalmacio sure! let us know if you have any question!

[2019-10-02 11:46] Alys opened #11398 "simultaneous quest invitation accept/reject/force-start are not all recorded correctly"
Miikethepriest (ee687a55-8b32-4e74-b935-2da33248a033) reported that they accepted a quest invitation but did not become a participant in the quest. Usually when this happens it's because the quest owner force-started the quest first, but in this case I've confirmed they really did accept the invitation in time and really were not recorded as a participant.

From Amplitude data I found that another