[2013-03-23 15:23] switz commented on #714
This is definitely plausible. I'll look into it today, thanks for bring it it up.

[2013-03-23 15:29] lefnire commented on #713
[shoot me](mailto:tylerrenelle@gmail.com) your user id, parties are experiencing some issues - so i'll dig

[2013-03-23 15:32] lefnire commented on #709
i'll close this and re-open that since we have some background info from there to go off of. [shoot me](mailto:tylerrenelle@gmail.com) your user id and i'll investigate

[2013-03-23 15:32] #709 closed, assigned to nobody

[2013-03-23 15:32] lefnire commented on #233
reopening due to #709

[2013-03-23 15:36] lefnire commented on #708
can you rejoin her party? (she may have to re-invite you). If not, [shoot me](mailto:tylerrenelle@gmail.com) your user id and I'll investigate. May be related to https://github.com/lefnire/habitrpg/issues/644

[2013-03-23 15:41] janepernille commented on #713
cbab9282-8989-4ca4-a4c2-3f3e66252b6d

User id ;)

On Sat, Mar 23, 2013 at 4:29 PM, Tyler Renelle notifications@github.comwrote:

[2013-03-23 15:45] lefnire commented on #713
So when you go to User -> Party, it shows the "create new party" dialog?

On Saturday, March 23, 2013, janepernille wrote:

[2013-03-23 15:48] janepernille commented on #713
Yes

After I activated the partyfunction, it now does

On Sat, Mar 23, 2013 at 4:45 PM, Tyler Renelle notifications@github.comwrote:

[2013-03-23 15:52] lefnire commented on #713
Ok, I zero'd your party property - can you try having the person invite you
again?

On Saturday, March 23, 2013, janepernille wrote:

[2013-03-23 16:03] janepernille commented on #713
WOHOOOO!

I'm officially in a party ^^

Thank you!

Sincerely,
Jane

p.s. I accidentally logged out and in after you sent that last message. I
didn' try to log out and in after the invitation was sent and I didn't get
the invite. Perhaps you want to try to check that out.

And the name of the party didn't show up on the invite - it actually
doesn't show anywhere :P

Just thought I should let you k

[2013-03-23 16:04] lefnire commented on #713
Oh dear. Party bugs galore! Well, glad you're in :)

On Saturday, March 23, 2013, janepernille wrote:

[2013-03-23 16:14] lefnire commented on #585
@zakkain I added a "Hotfixes" Trello card for organization: https://trello.com/card/re-design-hotfixes/50e5d3684fe3a7266b0036d6/258

And added a "Design" column for any other design tasks

[2013-03-23 18:26] switz commented on #714
I've reproduced this bug. It's scoring on the checkbox check, along with the `score` call. I'll push up a fix soon. Thanks @pjf

[2013-03-23 18:35] ShabbyX commented on #702
Sorry about the duplicate. I took a look over the interface tag and didn't find that issue. D'oh!

[2013-03-23 19:08] switz commented on #714
Gonna wait for @lefnire to pair up on this one. This has to do with our batch updates. Sorry for the issue.

[2013-03-23 19:26] lefnire commented on #332
we decided on Drupal, and it's launched in a bare mim. form right now at http://community.habitrpg.com. I was playing with Discourse fo a bit, and it started to look like it would be a project in and of itself - so I switched to Drupal for convenience. After setting up the site, I realized it was the right decision because we can do a **ton** more with Drupal - FAQ, Blog, Podcast, Forum, static pa

[2013-03-23 19:26] #332 closed, assigned to nobody

[2013-03-23 19:58] StanLindsey commented on #585
Can I suggest one thing for when tasks turn multi-line;

![Quicksuggestion](https://f.cloud.github.com/assets/3317882/294525/089f582a-93f4-11e2-8d2f-37a94bb30baf.jpg)

[2013-03-23 20:48] jamesmgg commented on #698
thanks @switz doing that got rid of the problem I had in the screenshot. However, now connecting to the to localhost:3000 just hangs. And it returns an error after trying to load the page for a while

[2013-03-23 20:51] switz commented on #698
Make sure you pull in the most recent code.

`git pull origin develop`

`npm install`

`git submodule init && git submodule update`

edit: updated

[2013-03-23 21:02] caycefischer commented on #585
You know Stan, I thought that would look really shitty so I never even tried it.... But it looks GREAT actually, much better than how it is now. Consider it done. Good call man.

[2013-03-23 21:06] Pandoro commented on #585
I would be a little cautious here, I think it will indeed look shitty if we
go to three lines. Or four etc. Then  I guess what we have right now looks
better :x ?

On Sat, Mar 23, 2013 at 10:02 PM, Zachary Kain notifications@github.comwrote:

[2013-03-23 21:15] wc8 commented on #585
Maybe a mock-up would help see if it would look ugly or not.
I do like the 2 line version.
Also, how would it look/work if it was changed for 2 lines and not for 4 lines?

[2013-03-23 21:19] StanLindsey commented on #585
@pandoro - maybe we need a line limit? There are notes on each task for a reason.

[2013-03-23 21:26] StanLindsey commented on #585
With 4 lines of text; I think it still looks better personally.

![habitsuggestion2](https://f.cloud.github.com/assets/3317882/294618/4ff2d380-9400-11e2-8be9-98fdcb2e9b22.jpg)

[2013-03-23 21:30] StanLindsey commented on #585
And I thought i'd add it in context:

![suggestion3](https://f.cloud.github.com/assets/3317882/294623/d257e108-9400-11e2-9496-948e869dd7c4.jpg)

[2013-03-23 21:39] Pandoro commented on #585
Personally, I like the square best, I agree that the little lighter space
that is under the square if you only have two lines looks a bit funny, but
I also think it looks a bit funny if the square is no longer a square.

On Sat, Mar 23, 2013 at 10:30 PM, Stan Lindsey notifications@github.comwrote:

[2013-03-23 22:35] Shmuel510 commented on #585
I'm on Team Square. Ideally with @wc8's border suggestion from yesterday.

[2013-03-23 22:48] lefnire commented on #585
Poll?
On Mar 23, 2013 4:35 PM, "Shmuel510" notifications@github.com wrote:

[2013-03-24 00:16] wc8 commented on #585
Can we do images in a poll?

[2013-03-24 00:17] Shmuel510 commented on #585
A poll sounds good. But one refinement first... one thing I suspect @SlappyBag is reacting to is the text flowing underneath the square, which I would agree doesn't look so great. How about this? Square retained, borders omitted, space under the square left open:
![square and whitespace](https://f.cloud.github.com/assets/3933734/294800/aabf09ca-9417-11e2-9a4b-236fd76c1554.png)
(Top is present beha

[2013-03-24 00:55] wfjackson3 commented on #704
Yeah that makes me feel silly, but hey, at least I wasn't the only person who missed it here.

[2013-03-24 01:02] wfjackson3 commented on #714
I am seeing two potentially related bugs just testing out some TODO middleware I am writing.

First:
Create todo via API call, give it a value of 1 (not sure why that isn't default behavior).
Complete said todo via webapp.
Appears to double count the gold, giving 1g 97s.

Second:
Create todo via API call, give it a value of 1.
Complete said todo via API PUT
Observe that you get a positive XP/gold

[2013-03-24 02:11] pjf opened #716 "What format is history timestamps in via the API?"
History data that comes back via the API seems a little odd. For example, check out the date here (from a fragment generated with `hrng dump` and from a regular habit goal):

[code]

That's not seconds from the epoch, unless we're _way_ in the future:

[code]

However if we chop it down to the first 10 characters, it _is_ a valid time:

[code]

So, what are those extra digits? Are we reporting wit

[2013-03-24 02:14] lefnire commented on #716
Likely a bug, that's just +new Date
On Mar 23, 2013 8:11 PM, "Paul Fenwick" notifications@github.com wrote:

[2013-03-24 06:02] pjf opened #717 "RFC: Allow (specially flagged) resettable accounts via the API"
One of the gotchas when working with APIs is testing them, both from a producer and a consumer standpoint. I'd love to expand the test suite of WebService::HabitRPG to do all sorts of things and make sure we see consistent results, but that either requires lots of mocking (which I should do anyway), or a live account. And resetting live accounts isn't exactly easy.

So, two possible ideas here are

[2013-03-24 08:33] Veovis-Muaddib commented on #585
@SlappyBag's bar all the way down looks incredibly nice, but the checkmark is the issue.  Centered vertically might end up rather ugly for three or more lines, top-aligned would look unbalanced.  But a checkable box as discussed earlier in the thread might look nice at the top of the full-height bar.

@Shmuel510's suggested text flow change would work well in the absence of full-height boxes.

I t

[2013-03-24 11:32] wildcate commented on #697
Same in my husband's account. He'd prefer having the info as mouseover, btw (similar to how it's done for the party members) than obscuring his avatar...

[2013-03-24 11:41] Pandoro commented on #700
This happened to me as well today. Lately stuff is a bit weird. Actually I became lvl 11 two days ago. But yesterday morning I was back at lvl 10. I figured it didn't transmit my final checks to the server. (I just survived, going from 23 to 3 hp.) I checked those off again and leveled up. I thus had 50 hp yesterday night and pretty much checked everything but one green daily. This morning I died.

[2013-03-24 13:10] caycefischer commented on #585
I'll have some iterations on the options talked about here up this
afternoon, and we'll see how it looks. For my money, I like your solution
muaddib: a box at the top of a full height colour bar.

On Sunday, March 24, 2013, Veovis-Muaddib wrote:

##

_– Zachary Kain_

Designer, Developer
Writer, Educator
416-712-8895
zakkain@gmail.com
➝ http://draftingcode.com

[2013-03-24 13:25] AndreCaseyScott commented on #587
I don't know if there is any way to test this, but the custom day start might actually be working, just highlighting things incorrectly past midnight.

Saturday I wanted to give myself a day off from productive things, but thinking that it was always a day ahead, I turned off Sunday in the Repeat Schedule. When my custom day start passes, I still got docked HP even though all was grey since it was

[2013-03-24 17:45] StanLindsey commented on #585
Solution: Have a char limit for the task title. You dont need to write an essay for the title of the task do you? Thats what the notes input is for.

[2013-03-24 18:18] StanLindsey commented on #717
Settings > Reset account.

=D

[2013-03-24 18:33] wildcate commented on #585
Please don't put in a char limit. That would be a total killer for me. Even
if it's ugly (or at least not as sleek as a one-line only thing) I
sometimes have tasks that have a long name, and I don't want to split it up
and put half of it into the notes. A char limit that would limit tasks to
one line is one that would make the list totally useless for me.

Yes, I like words and I might tend to lon

[2013-03-24 21:02] Alys commented on #585
@SlappyBag , I don't think a char limit is a good solution. It takes what is currently a once-off developers' problem (how to make the application look good with long items) and turns it into an ongoing users' problem (how to work around a length limitation by shrinking their task titles or moving text into a note when they'd really rather have that text always visible). To a user who is not aware

[2013-03-24 22:52] weelillad commented on #587
Custom Day Start is working, it is the mechanism for resetting Dailies that needs to change to reflect the Custom Day Start.

Even though I have Custom Day Start set to 6am, at midnight, any dailies that are checked get toggled/reset. Hence, when 6am rolls along, the daily is considered undone, and I am penalised.

This is a critical bug that breaks the functionality of the Custom Day Start, in my

[2013-03-24 23:22] caycefischer commented on #585
​I agree, a character limit that's anything under tweet-length would be
really restrictive, and even then I'm not sure there's a point to it.

[2013-03-24 23:25] mutedgrey commented on #585
I was just wondering, would there be a way to let more users know the polls exist and they could weigh in on these choices? They're kind of a bit difficult to find unless you're actively looking into bugs, changes, or wish to complain about an issue and there's very few votes registered. The poll's responses might be different and more accurate if it were accessed by the wider userbase. Even if it

[2013-03-25 02:30] pjf commented on #717
@SlappyBag : Perfect! Now, is that something I can call via the API?  `make test` shouldn't require touching a web browser.  ;)

[2013-03-25 02:33] hjalmberi opened #718 "different fonts for different languages"
The picture says it all:
![2013-03-25_063018](https://f.cloud.github.com/assets/3543515/296367/18a21ffe-94f4-11e2-96ce-1d2859f78954.png)

For me it would be perfect to be able to choose the font for English that doesn't require anti-aliasing to be turned on, the current one looks a bit blurry.
## <bountysource-plugin>

Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/

[2013-03-25 03:07] mgopher opened #719 "Minor bug: Text won't scroll when entering new item"
Chrome 25.0.1364.172, Windows 7

![habitrpgbug](https://f.cloud.github.com/assets/3960155/296430/0397cf92-94f8-11e2-94a3-1bcde811bd80.png)

[2013-03-25 03:11] mgopher commented on #466
Agreed, the extra click is a bit annoying, especially as I find if I close the browser without logging out at work, and then log in again at home, I sometimes lose my last few actions from the previous session (separate issue obviously, but my temporary fix means I am always logging in and out).

[2013-03-25 03:17] mgopher commented on #585
Agree with @mutedgrey re:polls.
Any solution without the text wrapping will get my vote, it's making me want to abbreviate all my tasks so I don't have to look at it :P I think the bar all the way down looks niiiiiice.

[2013-03-25 07:24] ra100 opened #720 "Negative XP points"
This morning I refreshed HabitRPG and got tons of messages with negative XP and Coins (as if I've undone many quests) and I got with XP to -60 or so. But when I complete daily, habit... I counts new XP and adds it's value. But this way I've lost about 200 XP or so.
![Screenshot - 03252013 - 08:20:42 AM](https://f.cloud.github.com/assets/3185410/296905/f24f17ac-951c-11e2-943c-d622d5a5ce0c.png)

[2013-03-25 07:28] ra100 opened #721 "UI issues in Opera - CSS outlines"
There are some graphical issues in Opera, as you can see, the lines(borders) of boxes visible on top of everything. And are not in perfect shape.
![Screenshot - 03252013 - 08:26:32 AM](https://f.cloud.github.com/assets/3185410/296913/6163604e-951d-11e2-86e8-6a4eec8477fc.png)

[2013-03-25 13:07] Gooseus opened #722 "Dailies change active/inactive indicator before end of day"
I set my EOD to be 2am and I have some dailies that run on weekends and others set for weekdays.

When I check at 1am on Sunday, it's confusing because my Monday daily is active and my Sunday daily is de-activated.

It appears that the style state of the page doesn't follow the same timing as the backend system.

[2013-03-25 13:35] StanLindsey commented on #585
When I meantioned char limit i meant for about 3/4 lines. But if people would prefer without then no problem for me =D

[2013-03-25 13:40] caycefischer commented on #585
Hey all,

I'm working on the checkbox thing, but such a simple visual change is rarely easy where CSS is concerned. This will get rolled into some more general bugfixes and tweaks in a short while, it requires some changes to the markup and pretty major changes to the styling. Stay tuned, folks.

[2013-03-25 13:49] caycefischer commented on #585
so far we got this:

![Screen Shot 2013-03-25 at 9 49 08 AM](https://f.cloud.github.com/assets/546495/298111/d81f97ea-9552-11e2-82fc-5891b9382ff6.png)

(the last one is in mid-hover even though you can't see the cursor)

[2013-03-25 14:43] lefnire commented on #720
woa mama. upgraded to crit

[2013-03-25 16:20] Shmuel510 commented on #585
I love the proposed return of an actual box to tick... but I once again protest having the box disappear after it's ticked. Why not change the second of those to match the third?

[2013-03-25 16:30] lefnire opened #724 "duplicate"
removed

[2013-03-25 16:33] lefnire opened #725 "Recent account loss issues"
A few people have chimed in today having experienced potential account loss. Similar issues are #459 #268, but those should be fixed by now. Creating this ticket here to gather some follow up information.

Divana

Wine Guy

Questions for both of you: when did you sign up? When did you experience this issue? Do you have your user ids or emails handy that you can [send to me](mailto:tylerrenelle@gma

[2013-03-25 16:34] Shaners commented on #585
The HP and EXP bars are sexy by the way, sometimes I just mouse over them for fun now.

[2013-03-25 16:39] #724 closed, assigned to nobody

[2013-03-25 16:58] caycefischer commented on #585
@SHmuel510 We ca​n maybe get that back when we switch up the way the CSS
works (Unicode characters and pseudo-elements), right now having it overlay
like that is janky on a lot of browsers so it's just a appear/replace.

[2013-03-25 17:23] Shmuel510 commented on #585
@zakkain Pardon the stupid question, but why overlay instead of using a unified tick-in-box graphic or character? ☑

[2013-03-25 17:33] caycefischer commented on #585
I have ​yet to find a font that

a) has a glyph for that character that I think is remotely decent
b) is common to android/iphone/mac/windows/linux so that the glyph actually
shows up instead of a blank box.

:(

[2013-03-25 18:05] mutedgrey commented on #585
@zakkain I don't think what you have so far would satisfy the ticking boxes enjoyment. I don't know how to describe this and maybe it's just me. The box and check mark are so faint and lackluster, the whole thing feels kind of weak. Before, if memory serves, the tick box had some shading to give it some depth and ticking it off felt like you were actively filling the tick mark. I'm sorry I couldn'

[2013-03-25 19:25] lefnire commented on #697
tagging @zakkain - sounds like most people preferring mouseover on main avatar

[2013-03-25 19:58] Shmuel510 commented on #585
I've been looking around at web fonts... currently we're using the version of Lato from Google Web Fonts, which does indeed leave most of the glyphs out. However, Adobe has its own free web font service, at http://html.adobe.com/edge/webfonts/ , which offers the full version of Lato and others, including the glyphs for both unticked and ticked boxes. (You can enter "U+2610 (☐), U+2611 (☑)" as samp

[2013-03-25 20:01] caycefischer commented on #697
Hmm, I liked someone's idea of bringing the user menu into the avatar. That two-line wrapping is a real problem across the board though, party members too.

Will remove the Level from the top to get more room as a hotfix

[2013-03-25 20:04] caycefischer commented on #697
BOOM: https://github.com/lefnire/habitrpg/pull/726

That should help right away, I'll think on a permanent solution.

[2013-03-25 20:05] caycefischer commented on #697
(note, I know I haven't removed the actual overlay to only show it on hover—I'll do that maybe tonight, I want to re-jigger a few things)

@lefnire can you deploy the hotfix?

[2013-03-25 20:06] caycefischer commented on #585
Shmuel510, that's AMAZING. I had no idea the adobe edge version had more
glyphs. Looking into this asap!

[2013-03-25 20:11] Shmuel510 commented on #585
Pleased to be of service, and thank you! :-)

(Note the bit about "Subsets" in the Edge documentation; I'm guessing we'd need to specify "all" for this.)

[2013-03-25 20:16] caycefischer commented on #585
I'm noticing that the glyph actually isn't any different for many of the
fonts, it's falling back to the basic Lucida Unicode or whatever it is.

I'm gonna roll with a custom icon font as planned, and that'll get us
well-made glyphs for these characters we want (checks, boxes, all the other
icons on the site). I'm looking at what's available on
http://icomoon.io/app/ and http://fontello.com/ right

[2013-03-25 20:35] Shmuel510 commented on #585
Yeah. On looking more closely, it's the same in _all_ of them; only the line height changes. Hmmph.

(And I hadn't known about those two sites. Coolness.)

[2013-03-25 21:52] MarilynLau opened #727 "Dailies are on my HabitRPG are still checked from yesterday"
I have a problem today with my Habit RPG. Am I the only one? All the "daily" I checked yesterday are still checked today! Since this morning, I don't know how many times I loaded the page to see if it would get okay and it don't! Now I'm scared that I won't be able to check them again today and that I'll lose all my life during the night!

[2013-03-25 22:14] wc8 commented on #727
Just to start off, what is your end of day/custom start time setting, if any? (You can find it under your username menu > Settings)

Also, try clearing your browser cache. Which browser are you using?

[2013-03-25 23:06] lefnire commented on #122
currently in progress

[2013-03-25 23:10] Naea opened #728 "I would like more tracking/history"
Sometimes I forgot if I tracked something or not or I'd like to see a history of things I have completed.

Please add this!!

Thanks :)

[2013-03-25 23:15] lefnire commented on #720
i noticed your Opera issue, and looking at that screenshot - looks like you hit this particular issue with Opera as well? Can you access the error logs at all? (Chrome console, Firebug - not sure with Opera)

[2013-03-25 23:36] mgopher commented on #585
Not sure if you guys changed something, but since yesterday I no longer have working check boxes in Chrome (just [?]'s).  In FF they look fine (although seem to be a little below centre, unless I'm imagining it) so I guess something is not as browser compatible as you thought?

[2013-03-25 23:43] mgopher commented on #585
Re: design choices, not very fussed about a persistent check box, but the coloured bar extending all the way down looks awesome.  Now I look at it, could we have the same for habits?  not sure how that would work with habits that have both + & - though.  I would be happy with one under the other, but you guys might disagree.  Alternatively perhaps make them a little smaller, so the darker coloured

[2013-03-25 23:57] ra100 commented on #720
exactly, on Opera 12.15 (linux x64), and in JS console is something like this:
Updating, _1, due to, set, of, users.3f6b885f-c6fe-46ff-b800-14fd182b7111.habitIds
Updating, _2, due to, set, of, parties.b5e9a2ab-8fa4-4462-8b66-aac07bb0e822
IMfKVa-4X5K-hQB95t92hg.js:4840
Updating, _1, due to, set, of, users.3f6b885f-c6fe-46ff-b800-14fd182b7111
Updating, _4, due to, set, of, users.3f6b885f-c6fe-46ff-b

[2013-03-26 00:08] lefnire commented on #720
all of what you listed is legit. But yowser, just downloaded opera to see - over 1000 errors, 90% caused by 3rd party libraries we're using (and extremely established ones too, like bootstrap). I know this sucks, but I _think_ for the time being you should probably stick to chrome or firefox until we get more stable. Try that for a few days and if this error still happens in one of those browsers,

[2013-03-26 00:14] wc8 commented on #728
You may wish to add your vote to [Progress & History Views](https://trello.com/c/h0pezwDR) or for the related suggestions listed there.

[2013-03-26 00:22] electblake commented on #614
@lefnire Did you discover/research anything you can report? I think I experienced this myself (not sure if it's same bug) but trying to recreate locally now

_From my understanding of this bug description.._
It's when a user clicks the plus (or minus) icon for an action, and although the points do tally, they don't update exp/health live (but do after refresh)

[2013-03-26 00:24] lefnire commented on #700
I have a feeling that many of these issues we're experiencing are due to data not registering, similar to the old bugs we experienced due to the memory leak. Eg, you check-boxed your tasks, but they never went through - next day you refresh, and get hurt by all of them. I have a hunch it's due to the migration to AWS, 2 possible causes: (1) the cron time was upped since we now have more RAM - I ju

[2013-03-26 00:28] ra100 commented on #720
I get it, there are mor important thing s to do :) but  if I have some time, I'll try to understand those errors, and maybe find the solution, but probably not. And maybe Opera wll have WebKit core then :)

[2013-03-26 00:30] Pandoro commented on #700
I actually refresh the page after everything I do. I get the idea, that at
least in my case, this is caused due to the custom day restart thing.

On Tue, Mar 26, 2013 at 1:24 AM, Tyler Renelle notifications@github.comwrote:

[2013-03-26 00:30] lefnire commented on #717
cool beans, will definitely add this API bit down the pike. I'll mark as "important | API", but heads up that we'll probably not be getting to some of the edge-case API bits until the future. Our hands our full at present to fulfill the [kickstarter promises](http://www.kickstarter.com/projects/lefnire/habitrpg-mobile). good to have these tickets handy though, so keep them coming - and if you ever

[2013-03-26 00:34] lefnire commented on #722
same issue as https://github.com/lefnire/habitrpg/issues/587?

[2013-03-26 00:51] lefnire commented on #727
@MarilynLau are you familiar with Chrome Console or Firebug that you can see if there are any javascript errors? (I really need to write an FAQ page for js error debugging). If you can't do that, [shoot me](mailto:tylerrenelle@gmail.com) your user id and I'll debug you locally

[2013-03-26 00:56] pjf commented on #717
No probs, and congrats on the successful kickstarter. :)

[2013-03-26 01:08] pjf opened #729 "Daily tasks only clear via the web interface, not the API"
Original report at pjf/WebService-HabitRPG#16 .

Daily tasks only get cleared when the HabitRPG webpage is loaded. If one is exclusively using the API (eg: phone/cmdline) then they never get cleared.

[2013-03-26 01:33] lefnire commented on #614
I tried logging in as @Skater6780 on local just now to test his account. The actions register, @Skater6780 are they working for you ok on production right now? @electblake can you [send me](mailto:tylerrenelle@gmail.com) your user id that I can test your account? any javascript errors happening in chrome console / firebug?

[2013-03-26 02:00] pjf opened #730 "PUT requests with changed task-id via API: bug or feature?"
It's possible to use a `PUT` operation in the API to submit a _different_ task-id than the task which is being modified. This has the effect of creating a new task which the id specified, which clones its values from the task specified in the original URL.

This is either a feature (since it allows us to have task 'templates'), or a bug (which I suspect is more likely).

I've got a hunch I can ove

[2013-03-26 02:07] caycefischer commented on #585
Habits are tough, I've been thinking about that. It would be _extremely_
difficult (as far as I can think of how to do it) to have the + and –
switch​ from side-by-side to vertical when the habit goes onto more than
one line.

Anyone have any cool ideas for this? It's pretty good right now to be
honest but a more elegant solution could be out there somewhere.

[2013-03-26 05:45] mgopher commented on #585
I was thinking maybe something like this horrible, 30 second mock-up pleasedon'tjudgemeI'msupposedtobewritingmythesis:
![shittyhabitmockup](https://f.cloud.github.com/assets/3960155/301525/43dc926e-95d8-11e2-8802-59ec717c3130.png)
although probably with the +/- centred if there is only one.
Even if the +/- is the same size it is now, the darker section might as well go all the way down the left si

[2013-03-26 07:21] ra100 commented on #721
I have found, that problem is with outline: 1px solid rgba(0, 0, 0, 0.149); and different implementations, outline should be used to higlight element, not for borders. Could you change all outlines to box-shadows? like box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.149);

[2013-03-26 07:23] ra100 commented on #720
I maybe found CSS solution, comment in https://github.com/lefnire/habitrpg/issues/721

[2013-03-26 11:18] Veovis-Muaddib commented on #585
![mockup](https://f.cloud.github.com/assets/2359968/302479/ee5c0f0c-9606-11e2-92ef-17eb9d993e25.png)

Obviously the text doesn't fit an up/down system.

For longer than one line, have a divider at the bottom of the down button.

Centering, symbols, and line thickness/darkness are all up for grabs, this was a minute in Paint.NET.

[2013-03-26 11:42] StanLindsey commented on #585
I think i'd prefer the tickbox/tick to be centered vertically if the coloured background is going to resize.

Also this is how it shows up my end atm
![cropped](https://f.cloud.github.com/assets/3317882/302587/24d25e3a-960a-11e2-9658-b2f9f369ddad.jpg)

[2013-03-26 11:43] Alys commented on #585
I like Veovis-Muaddib's diagonal +/- a LOT! It looks very classy.

On 26 March 2013 21:19, Veovis-Muaddib notifications@github.com wrote:

[2013-03-26 11:44] StanLindsey commented on #585
The +/- might not work so well with touch, accidently hitting minus would be annoying. Plus it stands out as the only diagonal design element we currently would have.

[2013-03-26 12:18] Veovis-Muaddib commented on #585
@SlappyBag:

Centered horizontally and top aligned such that it is centered on a one line task is how I think it'd look nicest myself, but that's just personal preference.  Mobile Chrome is showing it exactly that way and it looks very nice.  Desktop Chrome is aligning it weirdly.

I figure having it at the top gives a single place across all of the tasks to check.  You don't have to scan for the

[2013-03-26 17:43] wc8 commented on #585
If it could be worked out for a touchscreen, the +/- looks the nicest so far.
Touchscreen-wise, perhaps some padding in between would help?

It would be the only diagonal, but it currently is the only column with two boxes, and only some of the items have occupy two box-worths of space.

[2013-03-26 17:47] #728 closed, assigned to nobody

[2013-03-26 17:49] wc8 commented on #711
Closing since it's listed on Trello.

[2013-03-26 17:49] #711 closed, assigned to nobody

[2013-03-26 17:51] Shaners commented on #107
First attempt run at a cheese inventory item:
![Item-CheeseMock](https://f.cloud.github.com/assets/2374703/304459/2b950668-963d-11e2-8c8f-9bb40fa4267e.png)
Not sure how well it's reading right now so will probably tweak.

I have sketches for milk, potato, watermelon, honey, chocolate, strawberry, meat, fish, rotten meat, cotton candy, seaweed, gold dust, flask of acid, dark soul ash, and a gem / j

[2013-03-26 17:55] lefnire commented on #107
Sounds like @lemoness started on hatching potions, might be conflict? Y'all
should catch up (we could use cheese for something anyway, even if we go
potions)
On Mar 26, 2013 10:51 AM, "Shane Lister" notifications@github.com wrote:

[2013-03-26 18:11] Shaners commented on #107
I was under the impression that hatching potions were to be temporary solution or that food and potions could be in the same system.

i.e. potions have a higher chance to alter pet colours but are very rare (or bought) and food items would be more common but have less of a chance to get a coloured pet. Food items could also have dual use of healing the player ( like a potion ) if they ate them ins

[2013-03-26 18:27] lefnire commented on #107
Fair enough, we'll figure out a use for the food. Roll with pots v1, let
one thing lead to another down the pike.

On Tuesday, March 26, 2013, Shane Lister wrote:

[2013-03-26 18:59] wc8 commented on #326
Just a note: discussion on the need to balance rewards to specific work done has been revived [here](http://community.habitrpg.com/content/how-much-gold-coin-worth).

[2013-03-26 19:27] derekantrican commented on #326
Thanks!

-Derek

deltamu.com

Philippians 1:18,20-21

On Tue, Mar 26, 2013 at 2:59 PM, wc8 notifications@github.com wrote:

[2013-03-26 19:41] lefnire commented on #725
ok, wineguy's was a wrong username. Waiting to hear back from Divana

[2013-03-26 20:12] lefnire commented on #644
turns out it's a conflict of party invitations and not having parties unlocked yet, which I thought I had already solved. I'm just going to enable parties from the start, and simply notify at level 4 if they haven't started using already. sorry everyone, y'all were right all along about parties being unlocked

[2013-03-26 20:27] Shaners commented on #107
Yea, I think my original idea was for these food items to be used as part of random drops then it got merged into the idea that pets could be fed food to be raised. So they'll probably end up somewhere at least!

More:
![Item-WaterMelonPotatoMilkHoneyMOCK](https://f.cloud.github.com/assets/2374703/305242/53506c86-9653-11e2-920b-50e4f7768d28.png)
Watermelon, Potato, Milk, and Honey.

Felt sad for t

[2013-03-26 20:35] Pandoro commented on #107
Sparkling potato :D

On Tue, Mar 26, 2013 at 9:27 PM, Shane Lister notifications@github.comwrote:

[2013-03-26 20:42] lemoness commented on #107
I totally agree - food can be crucial for the upgrade-to-mounts system, as
well as other things!!!!

That honey looks delicious. Mm.

I started laughing when I saw the potato.

On Tue, Mar 26, 2013 at 9:35 PM, Pandoro notifications@github.com wrote:

[2013-03-26 20:48] antistic commented on #585
Hi, I'm also getting that question mark in a box. It seems to only happen on chrome, though, not firefox, and also affecting the "re-roll" option too. However I don't particularly like how it appears on firefox. I think it would look better just being some sort of image (and therefore looking the same between browsers), if possible...
I like the diagonal idea too, it's better visually (though I'm

[2013-03-26 21:55] lefnire commented on #644
ok, fixes to this should be coming in now in a few hours. re-open if anyone else experiences this issue

[2013-03-26 21:55] #644 closed, assigned to nobody

[2013-03-26 23:34] Silverai commented on #727
This seems like what I have.  Last Saturday, I knew I'd be out late so I made my EOD 2am.  I got home and ticked off my last daily at 1:30am.  When I checked it next day (Sunday), it was still grey out, and the progress calendar said I had ticked it on Sunday, and I lost health from apparently not ticking it the day before.  This is a daily set for all days.  Thinking it could be an hour +/- that

[2013-03-26 23:42] ghost commented on #107
Hiyo, I'm the person who opened up the Dark Matter PR. Although I'm no artist myself, my brother is, and not only that he's an excellent one - I can ask him to whip up a few sprites. It looks like we're looking into classes here - what classes are we looking at?
- [x] Fighter (Default textures seem to fit this)
- [x] Mage (Pretty much complete by lemoness)
- [ ] Rouge
- [ ] Any other classes

(I h

[2013-03-27 01:02] lefnire commented on #107
@Shaners - another possibility: future release, maintaining your active pet. You have to feed it to keep it alive, another "don't die" incentive to complete your tasks to find more food. It eats all food, but it's "specialized food" helps it the most. I'm really just trying to bring back the Tamagachi (which is why I'm getting the Skel Cactus soon as we release, looks just like one!).

Course, you

[2013-03-27 06:27] emilysalmon opened #734 "Adjusted browsing times/days and still being docked"
I have tried to set my browsing tracking to allow for free browsing in the evenings and on my days off, but it still docks me points regardless of the day/time. In frustration, I even went so far as to remove Facebook from the list of "vice" sites, but STILL I'm being docked for it. Fix this please?

[2013-03-27 10:32] Darwinning opened #736 "Being able to change missed days"
There are some days where I'm not at a computer or not able to get to the internet due to travelling, work, etc. I find it disappointing when I lose health or sometimes even die because I'm away from my computer for a certain length of time. Is there a way to implement a system to go back to previous days?

[2013-03-27 12:50] ShadowBB opened #737 "I request a warning: "If nothing changes you will die when the day ends.""
I suggest the following:
- A simple red alert warning that is clearly visible if you will die when the day ends when no other dailies are filled in today.

This will prompt you to try and get more dailies filled so you won't die or push to complete some tasks/good habits so you level up and safe yourself that way.

Possible variants:
- Maybe a yellow warning for when you are close to the above men

[2013-03-27 14:16] lemoness commented on #107
@aLaserShark - cool! We could definitely use more pixel art. If he's interested in doing art for us, he should definitely get a github account so that we can talk to him easily :)  We already have some rogues from @Orangyfresh, so we'd need to itemize a little bit, but that's definitely an important next step.

Speaking of which.... @Orangyfresh and @jjjjesse , are you guys still around? Haven't h

[2013-03-27 15:42] wc8 commented on #734
It seems this is a [Chrome Extension issue](https://github.com/lefnire/habitrpg-chrome/issues), no?

[2013-03-27 16:01] wc8 commented on #737
Duplicate of [this](http://community.habitrpg.com/content/warning-if-nothing-changes-you-will-die-when-day-ends), right?

[2013-03-27 16:12] ShadowBB commented on #737
Yes it is. I posted it here as well because I got a reply stating that it should be posted here. But yesterday they posted a protocol in the forums for feature requests that told me to post it on the forum. I posted a post explaining the double post on the forums but that one isn't up there yet because it needs to be approved by an admin.

[2013-03-27 16:31] lefnire commented on #737
Ha! Sorry about all that, we're still re-jigging all the community stuff
and workflow. We're almost there, and things will be much less duplicable
in the future.

On Wednesday, March 27, 2013, ShadowBB wrote:

[2013-03-27 16:43] wc8 commented on #737
Also, @ShadowBB thanks for confirming.
I wanted to make sure before I closed this for organization, which is [has been] our usual practice once a suggestion is on our Trello feature/suggestion tracker.
Speaking of which, you can find your suggestion [here](https://trello.com/c/NpknHuDm). The card needs some updating, but it's a start—see also my question in the forum thread.

[2013-03-27 16:44] #737 closed, assigned to nobody

[2013-03-27 17:06] wc8 commented on #736
If either of these meet your needs, you can show your interest by voting and share any comments you may have:
- [Rest in Tavern](https://trello.com/c/A2w2orSc)
- [Account Freeze](https://trello.com/c/UqxYFiqG) which includes a possibly enhanced version of [Record Yesterday's Activity](https://trello.com/c/CaAm7APS)

[2013-03-27 17:07] wc8 commented on #736
Closing for organization, you can still reply back if something was missed.

[2013-03-27 17:07] #736 closed, assigned to nobody

[2013-03-27 20:53] Shaners commented on #107
Few more food items:
![Item-ChocStrawberryMeatFishMOCK](https://f.cloud.github.com/assets/2374703/310398/6b34cbe4-971b-11e2-9581-56d245a539a0.png)
Chocolate Bar, Strawberry, Meat, and Fish. Need some tweaks but are coming along.

@lefnire I like that idea but as Lemoness mentioned might be a discouragement to some. Would be neat as part of a opt in Habit Hardcore mode: feed your pet every day or i

[2013-03-27 22:09] lemoness commented on #107
@aLaserShark Rogues are definitely the current priority, though.

@Shaners I am laughing my head off at the fish. I love it.

I am trying to imagine myself feeding cheese to a sentient cactus.

Now I am trying to imagine myself explaining to people that I am feeding
cheese to a sentient cactus in order to get my kitchen cleaned.

What an awesome website this is.

On Wed, Mar 27, 2013 at 9:54 PM, S

[2013-03-27 22:20] ghost commented on #107
Alright I will ask my brother to get a github acct. Barring that I’ll just asking to draw up some rouge sprites. (He seems to really love doing the work, it shouldn’t be a problem either way.)

Any other classes we’re considering? There isn’t much variation off those three classes, but I’d like to see things like a Paladin class or a Ranger class.

[2013-03-27 22:33] lemoness commented on #107
@aLaserShark We are starting with those three for simplicity's sake, but who
knows for the future! The sky (and our time) is the limit :)

Rogues are definitely a huge priority for us right now.

[2013-03-27 23:11] lefnire commented on #165
Instructions for testing:
- Checkout the `memleak` branch, `npm install` (it adds [node-webkit-agent](https://github.com/c4milo/node-webkit-agent))
- `node server.js` - follow the instructions it tells
- Load localhost:3000, take a memory heap snapshot in webkit-agent
- Refresh localhost:3000, take another heap snapshot
- [Compare the diff](https://developers.google.com/chrome-developer-tools/docs

[2013-03-27 23:41] StanLindsey commented on #737
On that subject @wc8 or @lefnire could you give me admin rights over on the community.habit site? I'd like to rejig some stuff its that alright. Try and bring this community into unison.

[2013-03-27 23:47] lefnire commented on #737
@wc8, you wanna give it a shot, Drupal practice? Else I'll do it soon
On Mar 27, 2013 4:41 PM, "Stan Lindsey" notifications@github.com wrote:

[2013-03-28 00:05] wc8 commented on #737
@SlappyBag & @lefnire Slappybag is now an admin

[2013-03-28 00:06] krivers opened #738 "Tiny visual glitch when combining yellow clothing & second helm"
When my female character has both yellow clothing and the second helm upgrade (I think the chain helmet?), the helmet only shows up halfway. The same helmet works fine when pink clothing is chosen instead. Here are example pics for both yellow and pink to demonstrate the problem:
![Screen shot 2013-03-27 at 8 00 17 PM](https://f.cloud.github.com/assets/699757/311322/00cc9f46-973b-11e2-9c0b-8d1cc85

[2013-03-28 00:06] lefnire commented on #737
Ninja!
On Mar 27, 2013 5:05 PM, "wc8" notifications@github.com wrote:

[2013-03-28 00:09] lefnire commented on #738
Actually by design but not obviously so. It's really armor sets 1 and 2,
though we're showing it as pink and yellow shirts. We should change the
selector in the settings
On Mar 27, 2013 5:06 PM, "krivers" notifications@github.com wrote:

[2013-03-28 00:39] emilysalmon commented on #734
YES thank you. Looks like an ongoing problem...

On Mar 27, 2013, at 8:42 AM, wc8 wrote:

[2013-03-28 02:15] NoisyText opened #740 "Drag to reorder Rewards column not working"
For Habits, Daily, and ToDo you can click and drag to reorder the entries in each column. The Rewards column will do this the first time, but on the second try it will highlight the text (as it would on a regular text block) and stop trying to move the entry.

Work around: You can reload the page and it will work but only the first time. Then you have to refresh again to move the next item.

[2013-03-28 02:17] NoisyText commented on #740
Sorry, I forgot to mention that I am using Firefox 19.0.2. Thanks.

[2013-03-28 11:08] wizonesolutions commented on #520
...I'd be interested in a Ruby gem implementing the API.

[2013-03-28 12:24] wc8 commented on #740
This issue sounds like #324

[2013-03-28 13:08] freeman42x opened #741 "NPM install errors"
Trying to install locally following https://github.com/lefnire/habitrpg/wiki/Running-Locally on windows but I receive the following errors on `npm install`:

E:\SoftwareDev\habitrpg>npm install
npm WARN `git config --get remote.origin.url` returned wrong result (git://github.com/Unroll-Me/derby) undefined
npm WARN `git config --get remote.origin.url` returned wrong result (git://github.com/Unroll-

[2013-03-28 15:41] ancientcampus commented on #107
Random nitpick:
I know it's an RPG staple, but it might be worth avoiding naming any items with a "Demon-" prefix, because that might be an obstacle to using Habit RPG in schools, etc. It may be silly, but there it is.
I love the "random drop" idea. I dislike it in RPGs usually, but it's great for Habit RPG - adding one more motivation to the mix

[2013-03-28 15:46] lefnire commented on #107
good call, thanks @ancientcampus! double checked, thank goodness @lemoness
& @shaners had the foresight to name it "Shade" instead of "Demon"

On Thursday, March 28, 2013, ancientcampus wrote:

[2013-03-28 16:00] jasoncyu opened #742 "Checking off multiple tasks in quick succession"
When I do this (usually for two tasks), subsequent tasks refuse to be checked off and give exp/gold until I refresh the page. The checkmark will fill the box but no exp/gold gets added.

[2013-03-28 18:25] caycefischer commented on #738
I thought we were getting rid of the yellow and pink "default bodies" and just going with a white shirt as per the ol' gender equality discussion?

[2013-03-28 18:29] lefnire commented on #738
I'm down with that. Sad to see made armor go by the way side, b t seems to
confuse more people than please, so we can remove
On Mar 28, 2013 11:25 AM, "Zachary Kain" notifications@github.com wrote:

[2013-03-28 18:43] wc8 commented on #738
I guess I'm behind the times but I thought the solution was more options, rather than less, i.e., white, yellow or pink.
- How about white or pink, or white or yellow? Then those who would want long hair can still have a white shirt and you can still do the armor options. Mouseover on white/alternate could explain the armor set 1 and armor set 2.
- Alternatively, with/without colored shirts, anoth

[2013-03-28 19:02] caycefischer commented on #738
Oh, yeah of course more options are better, for both default body types. We just gotta make those sprites.

[2013-03-28 20:17] Shaners commented on #107
Yep Shade pets weren't ever intended to be demonic, more of a self-reflection negative image type of thing. However, the backer armor I was calling the demon skin set but we can change that around to shade or dark armor.

Few more items:
![Item-RottenMeatCottonCandySeaweedTokenMOCK](https://f.cloud.github.com/assets/2374703/315337/2a9ab3f4-97e4-11e2-93b9-002a35995ea1.png)
Some rotten meat, cotton

[2013-03-28 20:50] caycefischer commented on #107
Calling tokens gems is a good idea, I like that a lot. Classy.​

[2013-03-28 21:00] lefnire commented on #107
Cool. I say we wait a bit for the dust to settle, since backers are looking
for "tokens" right now. Then we'll make the shift after a couple weeks

On Thursday, March 28, 2013, Zachary Kain wrote:

[2013-03-28 21:36] wc8 commented on #107
Suggestion: if & when you get ready to change over, start using both for a little while: eg. "gems (tokens)" and have a FAQ entry, for example: "What are Gems? Where did Tokens go?"

[2013-03-28 21:37] lefnire commented on #742
Are you able to get exp/gp at all now, or is it just in the browsing
session after you rapid-click? If 1, i'll mark this as crit & investigate,
if 2 I'll mark important I'm come back to

On Thursday, March 28, 2013, Jason Yu wrote:

[2013-03-28 22:54] jasoncyu commented on #742
After I refresh the page I can get exp/gold again.

On Mar 28, 2013, at 2:38 PM, Tyler Renelle notifications@github.com wrote:

Are you able to get exp/gp at all now, or is it just in the browsing
session after you rapid-click? If 1, i'll mark this as crit & investigate,
if 2 I'll mark important I'm come back to

On Thursday, March 28, 2013, Jason Yu wrote:

—
Reply to this email directly or view

[2013-03-28 23:53] #630 closed, assigned to nobody

[2013-03-29 00:27] switz commented on #630
Is this gone? I haven't had a second to look into it, sorry.

[2013-03-29 00:28] dfjkla commented on #727
I have the same issue. Custom day end set at 6am. I typically update well after midnight. It's now 1:30am, and I still have items checked which I checked 24 hours ago. Latest Opera.

[2013-03-29 00:29] NotChrisPlease commented on #630
@switz I discovered that it was just a visual problem, Everything's fine upon page refresh.

[2013-03-29 00:37] lemoness commented on #107
Loving that cotton candy! And the gem, too. I can't wait to hoard my
treasure like a happy pixel dragon.

@Shaners Does the seaweed have a breed equivalent?

[2013-03-29 01:12] SyntaxPickax commented on #740
I also can't reorder the Rewards column, not even the first time.  I also can't click on any of the reward items. Well, I can, but they are just links directed to habitrpg.com/# which have no effect.

I'm guessing the new heading for my Daily list is not unrelated:
![Screen Shot 2013-03-28 at 6 09 15 PM](https://f.cloud.github.com/assets/1245093/316285/6b78f3d0-980d-11e2-878a-bd3c56940325.png)

:-

[2013-03-29 01:20] wc8 commented on #742
Marking important as you can, with a workaround, get gold & XP
@lefnire I trust you'll upgrade to critical if that's not what you intended.

[2013-03-29 01:31] wc8 commented on #740
@SyntaxPickax are you also using Firefox?
If either of you are familiar with firebug, do you see any errors through it? If so, that may help the developers.

[2013-03-29 01:56] SyntaxPickax commented on #740
@wc8 Forgot to mention. No, Chrome on a Mac. I don't see any errors in the JS console.

[2013-03-29 03:00] NinKenDo64 opened #744 "Can't Login to Beta and Non-Beta alike."
When I input my login details, it loads for a bit, then just drops me back at the anonymous interface again.

Happened first with the Beta site, which I was never able to login to, but now also happening with the vanilla site.

[2013-03-29 03:11] horusofoz commented on #744
@CapitalistKenCat Can you try clearing your browser cache or an alternative to see if that has any impact?

[2013-03-29 03:17] horusofoz commented on #219
@zakkain Has this issue been resolved with your re-implementation of the history function?

[2013-03-29 03:18] NinKenDo64 commented on #744
Tried it and it didn't help. Beta page reports password as incorrect.

[2013-03-29 03:18] horusofoz commented on #37
Resolved through the interface tweaks introduced by Zak.

[2013-03-29 03:18] #37 closed, assigned to nobody

[2013-03-29 03:21] wc8 commented on #740
I'm getting en.app.Daily, suddenly, too. No problems with drag & drop, though.
P.S. Fluid browser

[2013-03-29 03:22] horusofoz commented on #146
Confirmed now working on Firefox Mobile.

[2013-03-29 03:22] #146 closed, assigned to nobody

[2013-03-29 03:23] horusofoz commented on #220
@lefnire Should this be on Trello for tracking?

[2013-03-29 03:25] horusofoz commented on #323
Is this discussion still active or is the consensus to stick with fuctions unlocked through levelling?

Do we need a poll to help decide?

[2013-03-29 03:26] horusofoz commented on #409
@noidexe Is this still an issue with the recent extension rewrite?

[2013-03-29 03:26] horusofoz commented on #414
@lefnire Is this ticket still required?

[2013-03-29 03:31] Gragriel commented on #219
I'm still seeing the issue, unless the re-implementation @horusofoz is referring to isn't official yet. Another possible fix I thought of would be to use the same data points to plot as before, but change the plot format to be a scatter plot and have the x axis be "date/time" rather than "index" or whatever it is now. Mousing over each part of the plot shows date, so that information should alread

[2013-03-29 03:31] horusofoz commented on #425
@ancientcampus With the new [forum](http://community.habitrpg.com) up with sections for the addon, mobile app and web app, are you cool closing this ticket?

[2013-03-29 03:33] horusofoz commented on #435
@switz Is this ticket ready to close?

[2013-03-29 03:33] horusofoz commented on #328
Is this still an issue for anyone as it's no longer affecting myself?

[2013-03-29 03:34] horusofoz commented on #467
@wc8 Is this still an issue?

[2013-03-29 03:37] wc8 commented on #467
No.

[2013-03-29 03:37] #467 closed, assigned to nobody

[2013-03-29 03:38] horusofoz commented on #744
Can you confirm that is for both using an alternative browser and clearing
the browser cache?

If so can you advise;
OS: (Windows, Mac OSX, *Linux, *BSD, Android, iOS, Symbian, Windows Phone,
etc)
Browser: (Firefox, Chrome, Internet Explorer, Safari, Lynx, etc)
Version: (Version number of browser usually found under Help>About)
Connection Type: (Ethernet, Wifi, 3G, 4G, satellite, etc)

[2013-03-29 04:01] danj3ris commented on #323
I originally came up with this idea due to @lefnire's want of features being brought to the player's attention gradually. If features were unlocked via leveling, all a player had to do was cheat for a few minutes before they had all of the features made available to them. My idea was to not have the addition of features be a reward for cheating, if the whole point of gradual introduction of featur

[2013-03-29 04:50] NinKenDo64 commented on #744
Browsers Confirmed: Chrome v26.0.1410.43 m, Internet Explorer 10 v10.0.9200.16521
OS: Windows 7 x64
Connection Type: ADSL through Ethernet

[2013-03-29 06:52] BelgarathS opened #745 "JS scripts very slow / "script not responding""
Hi,

I am using ubuntu (12.10 and 13.04) and tried all major browsers (Opera, Firefox, Chromium) and all of them are very slow (adding a todo item takes about a minute).
My network connection should be OK (20Mbps and no noticeable lag to server)
Whenever I add or complete a todo or a daily task the cpu usage goes to 100% and stay there for prolonged period of time (with the browser being the main

[2013-03-29 07:42] noidexe commented on #409
I haven't tested it extensively but on my daily usage damage seems to be much more reasonable. As far as I'm concerned you can consider the issue resolved.

[2013-03-29 07:49] horusofoz commented on #409
Thanks

[2013-03-29 07:49] #409 closed, assigned to nobody

[2013-03-29 09:28] janepernille opened #746 "Can not buy tokens"
I really want to buy a token to buy my golden potion thing for pet - is that not enabled yet, or is it a bug?

[2013-03-29 10:49] StanLindsey commented on #746
I've tagged the devs on this feature below, till then try some refreshed. Sorry, Thanks for the bug report though! We'll get it fixed ASAP.

@lefnire @switz  - I've marked this down as important.

[2013-03-29 10:50] StanLindsey commented on #425
There is also this page;
https://habitrpg.com/static/extensions

And yeah, lets close this =D

[2013-03-29 10:50] #425 closed, assigned to nobody

[2013-03-29 11:22] kalmduck commented on #328
The issue with the Daily graphs appears to be resolved for me.  I still have the problem with some of my "onlies" in the habits, but if I delete them and make a new one, it works just fine.

[2013-03-29 11:29] KeatonKafei commented on #328
Same here, looks like the redesign fixed whatever caused it. Hopefully it's working for everyone; I'm gonna close the issue.

[2013-03-29 11:29] #328 closed, assigned to nobody

[2013-03-29 11:40] wc8 commented on #323
Maybe we should start a discussion on the [community site](http://community.habitrpg.com/) about how to make the game harder (or how not to, for those who find it hard already) and close this ticket on the bug tracker?

[2013-03-29 14:37] lunikilo opened #747 "Died mysteriously when I went to bed with 50 health, most of tasks checked off, etc"
I woke up this morning and my toon was dead. I went to bed with full health, and most of my tasks checked off, so that shouldn't have happened. What I think is part of the problem is that I set up a lot of new dailies yesterday, and they're missing. I also ticked off some to-dos that are now back in my list. It shouldn't have been a connectivity problem because I always refresh before I check thin

[2013-03-29 15:43] dmagracia commented on #725
Hello~ My name is Divina and I wrote about the Account loss issue before.
I used to sign in with my Facebook account however just the other day my HabitRPG looks like the Beta (I don't remember switching), has a new UserID and API, and all of my stats and progress are gone. My UserID used to start with 8b32be40 but now it starts with 508d2d48.
I'm particularly worried since tokens are supposed to

[2013-03-29 16:06] dmagracia commented on #725
I also signed up quite a while ago... I don't recall the exact date but it was before the party system was established.

[2013-03-29 16:32] lefnire commented on #725
Some of the original players (sounds like you're one) were effected along time ago by [this](https://github.com/lefnire/habitrpg/wiki/Restoring-Your-Account#user-not-found). It's no longer happening, but some players get hit much later since their login session doesn't get invalidated for 2months or so. Follow [these](https://github.com/lefnire/habitrpg/wiki/Restoring-Your-Account#user-not-found)

[2013-03-29 16:53] kriscrat commented on #720
I have the same problem.  I used chrome, firefox, and internet explorer.  Logged out and back in.  ideas?

[2013-03-29 17:17] kriscrat commented on #720
![image](https://f.cloud.github.com/assets/4007169/318339/82dd0872-9894-11e2-9bba-fd6b24f0cc89.png)

[2013-03-29 17:47] lefnire commented on #745
this is most certainly due to https://github.com/lefnire/habitrpg/issues/165, which as recently gotten worse than before. Let's follow up there

[2013-03-29 17:52] switz commented on #745
So this is happening on the server and the client? I'll do some more poking around.

On Friday, March 29, 2013 at 1:47 PM, Tyler Renelle wrote:

[2013-03-29 17:57] lefnire commented on #414
nope!

[2013-03-29 17:57] #414 closed, assigned to nobody

[2013-03-29 17:57] lefnire commented on #220
naw, this quite technical and non-feature-ish. I'll keep keep this open until I fix it.

[2013-03-29 17:59] lefnire commented on #740
this is due to recent translations framework in place. @switz thoughts?

[2013-03-29 18:07] switz commented on #740
Hmm, no idea why this is happening. Should we disable translations for now?
fwiw, I'm not seeing it.

On Friday, March 29, 2013 at 1:59 PM, Tyler Renelle wrote:

[2013-03-29 18:08] switz commented on #740
Okay for some reason beta.habit has Daily and habit.com has Dailys. So someone must have changed something recently.

On Friday, March 29, 2013 at 1:59 PM, Tyler Renelle wrote:

[2013-03-29 18:09] lefnire commented on #740
yeah, let's disable but leave the framework files in place?

On Friday, March 29, 2013, Daniel Saewitz wrote:

[2013-03-29 18:10] lefnire commented on #745
not a client issue, just seems like it because the server is streaming portions to the client slowly while it's working undre 6gb load. Yeah, still an issue (the mem leak)

[2013-03-29 18:17] switz commented on #220
Why do you need a date string? Why not use epoch time?

On Friday, March 29, 2013 at 1:57 PM, Tyler Renelle wrote:

[2013-03-29 18:51] BelgarathS commented on #745
I humbly disagree, even if the server is not responding the client should not go to 100% cpu usage because of it (waiting shouldn't take all cpu cycles) and after further investigation it really looks like the client is waiting for server response (one last or last two calls out of the series - all the others are done straight away) but somehow it manages to kill the thread by waiting.

[2013-03-29 18:57] lefnire commented on #745
oh word! I'm sorry, I didn't do your ticket a just reading because I was so quick to attribute it's cause - "slowness.. yep, mem leak."

Ok, re-opening for investigation

[2013-03-29 18:57] ancientcampus opened #749 "[Suggestion] Epic quest (for long-term goals)"
Tasks now support "due dates". This got me thinking -
Many people have long-term goals that they break up into smaller parts. Example:
-finalize requirements
-build wireframe
-code back end
-code UI
-QA
-publish
(For me, I'm studying for board exams. Others may have fitness goals, writing projects, etc.)

Suggestion:
Allow users to create an "Epic Quest". This ain't no "collect 10 lizard heads", i

[2013-03-29 19:01] lefnire commented on #220
just simpler storage, no? I can't remember what the issue was, it may have been in mongo date comparison or something? But previously I had some trouble working with js date obj stored in the db. I saw in all derby examples they store dates as `+new Date`, so I didn't think anything of it and switched over. Do you prefer to use js objects instead of string? (is that what you mean by epoch time?)

[2013-03-29 19:06] BelgarathS commented on #745
let me know if I can help, I tested beta and have same issue (both ff and chrome) and in ff I can't even switch tabs unless the call is complete.

[2013-03-29 20:40] switz commented on #435
No, we're still using xhr-polling. Soon, hopefully!

On Thursday, March 28, 2013 at 11:33 PM, horusofoz wrote:

[2013-03-29 21:33] switz commented on #746
Not reproducing this. We'll look into it further.

[2013-03-29 21:36] switz commented on #746
Clear you cookies and your cache. Should work again.

[2013-03-29 21:47] litenull opened #750 "ads are not showing"
The ads are not showing, as you see in this pic:

![Screen Shot 2013-03-29 at 10 19 04 PM](https://f.cloud.github.com/assets/2871471/319313/302e16e0-98ba-11e2-9798-05b87132567e.png)

[2013-03-29 22:09] lefnire commented on #750
it's a problem where derby redraws very the app shortly after loading the page, and google ads won't allow client-side rendering of ads (or maybe they don't allow multipel loading on the same session or something). It sounds like something's triggering `model.emit('bulkUpdate')` when it wouldn't make sense to, like are there too many `model.set()`s being triggered right after page load?

Solution

[2013-03-29 22:14] lefnire commented on #746
naw, I'm able to repro this on all my browsers too (even after clearing cache / cookies) - doesn't bring up the stripe modal from the various points in the app that normally would. I wonder if there are too many open modals and JS is wigging out?

[2013-03-29 22:16] litenull commented on #746
It works fine for me.

Did you checkout if there are any errors ? SlappyBag got

Uncaught TypeError: Cannot call method 'postMessage' of null checkout.js:602

On Fri, Mar 29, 2013 at 11:14 PM, Tyler Renelle notifications@github.comwrote:

##

LP, Tomaž :)

[2013-03-29 22:22] lefnire commented on #746
Yep, that's the one. `frame` is undefined in checkout.js. It might be related to the redraw issue in the "ads not showing" ticket. @litenull, when this works fine for you - are ads showing ok?

[2013-03-29 22:29] litenull commented on #746
No, not really.

The ads are another error:

Uncaught TypeError: Cannot read property 'contentWindow' of null

it seems like the DOM is redrawn and the scripts fail.

On Fri, Mar 29, 2013 at 11:22 PM, Tyler Renelle notifications@github.comwrote:

##

LP, Tomaž :)

[2013-03-29 22:35] switz commented on #746
@lefnire Derby should only load scripts once. Unless, that is, they're in a require tag, in which case they might be loaded multiple times.

[2013-03-29 22:39] lefnire commented on #746
it won't re-draw the `<Scripts:>` section on `app.render()` (when invoked multiple times)? Could be this isn't the issue, I'll keep digging - but the stripe error is quite intermittent, sometimes it works sometimes not

[2013-03-29 22:45] lefnire commented on #165
One thing that will help is updating to latest SLaks/racer#master, but our [custom update function](https://github.com/codeparty/racer/issues/93) is incompatible with that new racer code. I need to merge this properly - this will be a job for me most likely, just thinking out loud.

[2013-03-29 22:46] litenull commented on #746
Can you do a setTimeout with 10s on the ad script appending so we can see
if we can solve the consistency part ? Just wondering, i dont know how you
add the script stuff.

On Fri, Mar 29, 2013 at 11:39 PM, Tyler Renelle notifications@github.comwrote:

##

LP, Tomaž :)

[2013-03-29 22:49] litenull commented on #746
Oh, the tokens dont work for me anymore. +1 for not consistent

On Fri, Mar 29, 2013 at 11:45 PM, Tomaž Korenika litenull@gmail.com wrote:

##

LP, Tomaž :)

[2013-03-29 22:49] lefnire commented on #746
As per some comments here
http://stackoverflow.com/questions/1142861/jquery-append-google-adsense-to-divwe
gotta make sure we're not violating any adsense policies when
appending
google ads to the dome via jquery (currently they're part of the
server-rendered html)

On Friday, March 29, 2013, litenull wrote:

[2013-03-29 22:54] litenull commented on #746
OK, not sure if right way, but worth a shot.
Also, its 90% possible <script> rendering is causing problems

On Fri, Mar 29, 2013 at 11:49 PM, Tyler Renelle notifications@github.comwrote:

##

LP, Tomaž :)

[2013-03-30 05:10] horusofoz commented on #477
Is this still in progress?

[2013-03-30 05:10] horusofoz commented on #54
Resolved.

[2013-03-30 05:10] #54 closed, assigned to nobody

[2013-03-30 05:10] horusofoz commented on #81
Appears no further instances. Closing ticket.

[2013-03-30 05:10] #81 closed, assigned to nobody

[2013-03-30 05:11] #473 closed, assigned to nobody

[2013-03-30 05:11] horusofoz commented on #502
@tmas Is this still an issue?

[2013-03-30 05:17] horusofoz commented on #509
I've linked to this thread on the [Mobile App Trello Card](https://trello.com/c/FYmitllH) so the relevant devs are aware of your suggestion. Feel free to navigate to the card and add your voice to the discussion around the Mobil App's development direction.

[2013-03-30 05:17] #509 closed, assigned to nobody

[2013-03-30 05:20] horusofoz commented on #487
I understand what your requesting and though it would be truly awesome, it won't be on the cards for a long time. We don't have the knowledge or capacity to introduce prediction into the app just yet.

A great suggestion and we'll review it again in a year or so.

[2013-03-30 05:20] #487 closed, assigned to nobody

[2013-03-30 05:21] horusofoz commented on #488
@danj3ris With the tweaks to the algorithms and proposed features, would you consider this resolved?

[2013-03-30 05:22] horusofoz commented on #499
@jlriddell Is this still an issue with the changes introduced since you posted this bug?

[2013-03-30 05:23] horusofoz commented on #299
Please refer to [Shading Onlies](https://trello.com/c/YSXfecBt) for further discussion on this subject.

[2013-03-30 05:23] #299 closed, assigned to nobody

[2013-03-30 05:28] horusofoz commented on #331
@wc8 Maybe write an explanation in the forum?

The FAQ section linked in the app footer currently goes to a page inaccessible for myself. I assume when the FAQ is completed it would include this info?

[2013-03-30 05:29] horusofoz commented on #524
@switz What is the status on this issue?

[2013-03-30 05:48] horusofoz commented on #323
I think the forum would be a better platform for this kind of discussion. Going to be fun trying to migrate the various discussed ideas over.

[2013-03-30 06:17] Shaners commented on #107
@lemoness nope it was just an idea for an food item, I think because I was eating seaweed at the time...

Right now I guess we have:
- Rotten meat : Zombie
- Cotton candy pink / blue : Pink Blue
- Strawberry : Red
- Potato : Desert? this is kind of weird
- Milk : Albino? this is also kind of weird

[2013-03-30 08:05] wildcate commented on #107
My association would run more like seaweed -> water -> blue - maybe it could be the blue food?

[2013-03-30 10:03] Shaners commented on #107
@wildcate Yea that's a way it could go but it's not like it necessarily has to be a part of the pet rearing system. Plus I think the seaweed graphic is a bit weak right now so may need a lot of revision.

Few more items:
![Item-GoldDustAcidFlaskShadeDustMOCK](https://f.cloud.github.com/assets/2374703/320193/a8c1f980-9920-11e2-91e5-7909a0abc6b7.png)
Gold dust, a flask of acid, and some shade ash.

[2013-03-30 11:01] ghost opened #752 "Link to FAQ broken"
When I try to open the FAQ on the bottom of the page, it links to http://community.habitrpg.com/faq-page. Here it only says "Access denied You are not authorized to access this page."

[2013-03-30 11:21] killroy42 commented on #487
I have a personal interest in machine learning. Perhaps this can be an external service via the API.

[2013-03-30 11:42] wc8 commented on #331
The FAQ is now [here](http://community.habitrpg.com/faq-page). The footer link must need updating.
I have now added a Q&A in the FAQ: [What happens when my character dies?](http://community.habitrpg.com/content/what-happens-when-my-character-dies).
It can be updated as any adjustments are made.

[2013-03-30 11:42] #331 closed, assigned to nobody

[2013-03-30 12:19] wc8 commented on #752
I think I'm fixing this, hang on.

[2013-03-30 12:20] wc8 commented on #752
I believe this should be fixed now. If not, reply back.

[2013-03-30 14:55] JellyBean22 opened #753 "Checkbox Error"
Since the latest update the checkboxes are not displaying correctly (see image).
Also the re-roll button too.

Occurs in release and beta versions.

Chrome version: 27.0.1453.3 dev-m

![Untitled](https://f.cloud.github.com/assets/3935712/320531/8f15dbf4-9949-11e2-84e3-f348f62631fa.png)

[2013-03-30 15:10] wc8 commented on #753
It's a font problem, I think. I believe @zakkain is aware of it and working on a fix.

[2013-03-30 15:11] wc8 commented on #487
Does Scrum Master have/work with an API or do you know of a similar Scrum app that does?

[2013-03-30 15:21] JellyBean22 commented on #753
Cool, just thought I should let you guys know about it!

[2013-03-30 16:14] killroy42 commented on #487
Our sscrum masters API is Whiskey and a pencil I guess ;) I was more thinking perhaps this would have to be created fro mscratch and integrated via the API.

[2013-03-30 16:27] caycefischer commented on #753
Thanks! Can you report your browser and OS/device?

[2013-03-30 16:28] caycefischer commented on #107
Ohhh those look so awesome. I want to reach out and grab them.

[2013-03-30 16:29] lefnire commented on #753
Android 2.3 for me

On Saturday, March 30, 2013, Zachary Kain wrote:

[2013-03-30 16:29] JellyBean22 commented on #753
Windows 7 64bit
Chrome version: 27.0.1453.9 dev-m

Also...
Android 2.2.2
Stock Android Browser

[2013-03-30 16:47] Pandoro commented on #107
Awesome stuff, the other colors will fit in with quest rewards or something
like that :)

I really like the shade ash, although on my screen I cannot see the faces
very well. Maybe a little more contrast would be good there. But very cool!

On Sat, Mar 30, 2013 at 5:28 PM, Zachary Kain notifications@github.comwrote:

[2013-03-30 18:10] lefnire commented on #477
@MdmeLibrarian I can transfer your account if you want. [email me](mailto:tylerrenelle@gmail.com) and we can get this under way

[2013-03-30 18:16] lefnire commented on #744
So it loads your actual account for a bit, but then it turns you into anonymous? I'm wondering if it's not [this issue](https://github.com/lefnire/habitrpg/wiki/Restoring-Your-Account#user-not-found). How long ago (roughly) did you first register?

[2013-03-30 18:17] lefnire commented on #727
@dfjkla I've been hearing some Opera issues all around, can you try Chrome / Firefox?

[2013-03-30 18:23] Eevachu commented on #727
I've got the same problem in Firefox, my custom day start is 6am, but whenever I check something off past midnight it checks it off for the next day and I lose health when the custom day starts.

[2013-03-30 20:12] lemoness commented on #107
Potato seems more like a basic food than something for the desert. We can
come up with something better, I'm sure.

I'm a little weirded out by the things that can't really be eaten - the
gold dust, shade ash, and acid in particular. Ouch! I wouldn't want to feed
any of those to my poor fox! Here are my suggested lists based on your
graphics:

NORMAL FOODS:
- Potato
- Cheese
- Seaweed
- Watermelon

[2013-03-30 20:57] Shaners commented on #107
@lemoness

What about a vial of sand? Could also be used as a quest item. Weird to fed your pet some sand but not as bad as acid! Or Maybe some cactus juice? That's a cuter idea.

What about different ideas for Albino / white, I'm thinking the milk idea is a bit weird too. Snowball?

Will respond more later but I like where these ideas are going!

[2013-03-31 00:26] lemoness commented on #107
I still think that we should avoid non-edible items. Acid and sand as quest
items are great, but less so for food.

I would be all for the cactus juice except that one of the pets is a
cactus. Suddenly 'cute' turns to 'cannibalism'. Everyone cries. We receive
a strongly-worded letter from the Cactus Rights Protection Association.
Slowly HabitRPG crumbles under veiled threats and looming lawsuits.

[2013-03-31 01:31] dfjkla commented on #727
It works now.

[2013-03-31 01:56] lefnire commented on #746
Ok, fixed this particular one (see https://groups.google.com/forum/?fromgroups=#!topic/derbyjs/x8FwdTLEuXo for the solution). Now to try to fix the adsense one

[2013-03-31 01:56] #746 closed, assigned to nobody

[2013-03-31 02:08] jaybers commented on #727
i'm having the same issue.... but it's not a consistant problem, sometimes they do reset.... i'm a night owl so pretty much every day i have checked off the last of my dailies after midnight... i have my custom day start set at 5am and i am using chrome on a mac or chrome on my galaxy s3..

[2013-03-31 07:17] lefnire commented on #750
so it appears you can't use adsense with derby! pretty big incompatibility, but whatevs (see [the conversation](https://groups.google.com/forum/?fromgroups=#!topic/derbyjs/x8FwdTLEuXo)). switching to amazon affiliate. this is actually cooler, because I ended up linking the books in each column that guided my decision to create those columns in the first place - so it's kinda like "backstory tutori

[2013-03-31 07:17] #750 closed, assigned to nobody

[2013-03-31 15:35] kriscrat commented on #587
same issue here.

[2013-03-31 16:01] SiakelA opened #754 "Missing Helm"
I am on Chrome and Windows Vista. I just bought the plate helm. It removed the gold from my character, but my avatar did not update to show the helm. I tried to refresh to see if that would fix the issue, but it did not. So, no gold and no helm. :(

[2013-03-31 16:06] JellyBean22 commented on #754
Check if the "Show Helm" checkbox is ticked, in your avatar section

[2013-03-31 16:16] ClearlyClaire opened #755 "Please provide a way to avoid using external websites when self-hosting HabitRPG"
Hi,
I'm using HabitRPG on my home server for a little over a week, and I've to admit I've been quite shocked when I've discovered it started to use Google ads, and CloudFlare for third-party JS and CSS files...
The point of self-hosting it is to not relying/be tracked by third-parties, and I consider such changes to be an issue... Thus, I would like a convenient way to:
- disable ads globally
- us

[2013-03-31 16:21] SiakelA commented on #754
It is. I can see the chain mail helm.

[2013-03-31 16:22] wizonesolutions commented on #520
I already went with node.js, so no worries. Rolled my own with what I needed. https://github.com/wizonesolutions/habitrpg-todo-sync

[2013-03-31 16:44] lefnire commented on #754
Use the restore tool for now to increase your helm:
https://github.com/lefnire/habitrpg/wiki/Restoring-Your-Account#restoring-your-avatar-stats-items-accidental-death-etc.
There's a known issue where sometimes purchasing an item lags out,
I'll
be working on it.

On Sunday, March 31, 2013, SiakelA wrote:

[2013-03-31 16:49] lefnire commented on #755
We added CDN scripts for technical reasons: https://github.com/lefnire/habitrpg/issues/658 (and ads / stripe so we can survive). Pull requests will indeed be appreciated, self-hosting is a bit self-serve - so I thank you for being willing to contribute patches.

[2013-03-31 16:55] lefnire commented on #755
There are a lot of references to "if NODE_ENV is production", "if NODE_ENV is development" - best bet would be add a third option "local" to check for removing ads, using public/vendor/\* js / css, etc

[2013-03-31 19:02] ClearlyClaire commented on #755
#658: Hum, what about not having derby concat/minify them, and just refer to them with "/vendor/..." instead of "//cdn..."?
NODE_ENV: sorry if this is a dump question, but isn't that also used by libs HabitRPG depends on? What if I want a “development” or “production” setting while disabling ads and the like?
Another question: is views/static/head.html used? It contains references to third-party s

[2013-03-31 21:41] ClearlyClaire opened #756 "Sorting rewards works only once, item tooltips don't show up"
Hi,
I've noticed rewards can only moved only once.
Additionally, item tooltips will not show up on unlocking, and will stop showing up if the user changes the order of the rewards.

[2013-03-31 23:43] SiakelA commented on #754
Thanks :)

[2013-03-31 23:52] lemoness commented on #738
Hm. What modifications are needed? We already seem to have all of the colors for both body types in the master sprite sheet....

[2013-03-31 23:54] lemoness commented on #673
I really like this! I think it would be an excellent GTD feature :D

[2013-03-31 23:55] wizonesolutions commented on #429
Easy workaround while we wait:

Run server.js with:

`{ ulimit -n 4096; node server.js; }`

Real-time was broken for me until I stopped the EMFILE stuff from happening.

[2013-04-01 01:36] lefnire commented on #738
Here are my thoughts:
We have the art designed, let's keep it. I'll make it bit more obvious about "armor set 1" v "armor set 2" (a la recommendations above). We can possibly add a mechanic in the future for set 2, maybe tokens, maybe earned. This may really get me in trouble, but here goes: guys get less up-in-arms about this stuff, so I don't think this setup needs be "equality or nothing" - we

[2013-04-01 02:07] rewdra commented on #673
Cool.

I think it would bring a very unique flavor to life planning. I've never
seen anything like it. I can write up some more if needed.
 On Mar 31, 2013 6:54 PM, "lemoness" notifications@github.com wrote:

[2013-04-01 05:00] horusofoz commented on #384
@kalmduck Is this still an issue?

[2013-04-01 05:01] horusofoz commented on #288
@Sabin144 Is this still and issue for you?

[2013-04-01 05:01] horusofoz commented on #307
@lefnire Is this still an issue?

[2013-04-01 05:03] horusofoz commented on #507
@loldude101 IS this still occurring for you?

[2013-04-01 05:04] #426 closed, assigned to nobody

[2013-04-01 05:05] horusofoz commented on #530
@mykill18 Is this still happening?

[2013-04-01 05:06] horusofoz commented on #472
Has there been any further occurrences of this for anyone since we updated the algorithm?

[2013-04-01 05:12] horusofoz commented on #500
Fixed through Zak's interface tweaking

[2013-04-01 05:12] #500 closed, assigned to nobody

[2013-04-01 05:16] horusofoz commented on #513
Is this going forward or getting scratched?

[2013-04-01 05:18] horusofoz commented on #544
@Krosty have you had any further instances of this issue?

[2013-04-01 05:19] horusofoz commented on #545
Should this be moved to Trello?

[2013-04-01 05:20] horusofoz commented on #534
Is this something we can fix? Use the server time?

[2013-04-01 05:21] horusofoz commented on #551
@kwilson328 Is this still an issue?

[2013-04-01 05:26] horusofoz commented on #376
@zakkain With your tweaks is this ticket still needed?

[2013-04-01 05:27] horusofoz commented on #508
What was the required action for this ticket? Is it just adding the info to the FAQ?

[2013-04-01 05:33] horusofoz commented on #541
@lefnire Has this been looked at?

[2013-04-01 05:34] horusofoz commented on #494
@wildcate Is this still an issue?

[2013-04-01 05:50] horusofoz commented on #573
@lefnire Is this ticket still required?

[2013-04-01 06:09] NinKenDo64 commented on #744
As far as I can tell, it never loads my account. It stays on Anonymous the whole time as far as I can see.

[2013-04-01 06:24] lefnire commented on #744
so you had an account in the past with data, and now that you're trying to log in it's not allowing you? how long ago did you register originally? i wanna make sure you're not victim to https://github.com/lefnire/habitrpg/wiki/Restoring-Your-Account#user-not-found, in which case let's see if we can restore your old account

[2013-04-01 06:36] NinKenDo64 commented on #744
I had an account a while before the kickstarter closed. Although I've never been able to access the Beta which I contributed for, the non-Beta worked a little while after Beta came out, but has since stopped working.

[2013-04-01 06:38] lefnire commented on #744
can you [email me](mailto:tylerrenelle@gmail.com) your user id, username, or email? I can take a stab at the backups in the morning to see what's wrong

[2013-04-01 07:22] NinKenDo64 commented on #744
Done.

[2013-04-01 11:13] dbueller commented on #288
Less of an issue since the graph data of habits were reset, but it would
still be a nice feature to have.

On Mon, Apr 1, 2013 at 1:01 AM, horusofoz notifications@github.com wrote:

[2013-04-01 11:31] Pandoro commented on #738
While I don't mind the idea of not doing the whole gender thing. However, the sprite version I did a while back kind of relies on not having it, as it fused both sprites into  one larger sprite, containing 1 character, with different visual looks for whatever kind of customization you want. In the end it became clear that the skin model can be the same for both genders so you just should pick the

[2013-04-01 11:32] kalmduck commented on #384
Looks like this is fixed, now.

[2013-04-01 11:32] #384 closed, assigned to nobody

[2013-04-01 11:35] Pandoro commented on #685
Looks very interesting :D

Especially seeing Guilds there, with leader boards seems to make a lot of sense here as well! If people are motivated to become stronger thus becoming better in the ranking will motivate them to work harder to complete their tasks :)

[2013-04-01 12:30] fawques commented on #752
Now it works, although the redirect is a little buggy in Firefox (Windows 8).
When you press the back button, it sends you back to https://habitrpg.com/static/faq, which redirects again to http://community.habitrpg.com/faq-page.

[2013-04-01 14:06] cleave29 commented on #508
Either adding it to the FAQ, changing it so armor works against self-made undeserved rewards, or voting on it.

[2013-04-01 14:17] loldude101 commented on #507
No.

On 2013-04-01, at 1:03 AM, horusofoz notifications@github.com wrote:

@loldude101 https://github.com/loldude101 IS this still occurring for you?

—
Reply to this email directly or view it on
GitHubhttps://github.com/lefnire/habitrpg/issues/507#issuecomment-15704426
.

[2013-04-01 14:57] caycefischer commented on #376
I suppose not!

[2013-04-01 14:57] #376 closed, assigned to nobody

[2013-04-01 16:00] geebru opened #758 "Unable to purchase rewards if coin amount is exact in gold"
This has happened twice so I figured I'd put in a bug report. I have 25g 98s and am unable to purchase the Chain Coif. Once I get to 26g I'll be able to purchase it (based on what happened last time, I had to go OVER the price to actually buy it).

I should be able to purchase it because I still have silver left over (negating the fact that this might be a safeguard to avoid letting you go absolut

[2013-04-01 16:07] wc8 commented on #508
I think @lefnire needs to weigh in on whether this is a bug or not.
If he says no, armor isn't supposed to protect against "stolen" rewards, then a FAQ is in order, else a fix and/or voting as @cleave29 said.

[2013-04-01 17:57] lefnire commented on #508
I'm actually neutral on the issue, I'll defer to you @wc8. If you think we should apply armor though, should we "minor" tag this, or is it actually important?

[2013-04-01 17:58] lefnire commented on #758
It's actually a bug. Filed somewhere, but can't find it now. Will fix later

[2013-04-01 18:03] lefnire commented on #738
@Pandoro So is the suggestion nix the second armor set?

On Monday, April 1, 2013, Pandoro wrote:

[2013-04-01 18:07] lefnire commented on #744
Ken & I solved this offline. Looks like he was unable to progress in login / registration until the "end tour" button was clicked, a very strange bug which I'll be looking into on local.

[2013-04-01 18:07] #744 closed, assigned to nobody

[2013-04-01 18:20] lefnire commented on #573
Let's keep it open. You can add decimal numbers to your rewards value, but it breaks the css, doesn't validate the html5 validation rule, and I'm not sure if it works properly when you purchase rewards (I haven't tested). Will revisit

[2013-04-01 18:21] lefnire commented on #541
this has been fixed in a recent push, yay!

[2013-04-01 18:21] #541 closed, assigned to nobody

[2013-04-01 18:24] lefnire commented on #534
this is going to be difficult to fix, and is extremely edge case. I hate to say it, but i don't think we're going to be addressing this ticket this year - use the "Restore" tool to get your character back on track.

We can't use server time for user cron. Server v Client cron is something I've wrestled with for as long as habit has been under development, and the definite conclusion is cron has to

[2013-04-01 18:24] lefnire commented on #545
Yep!

[2013-04-01 18:24] lefnire commented on #307
fixed :)

[2013-04-01 18:24] #307 closed, assigned to nobody

[2013-04-01 18:36] Pandoro commented on #738
No exactly the opposite ;) Add additional support for different versions of
1 item and remove the whole gender thing. You just buy for example the 1
helmet and then you can pick 1 out of several different looks. Same goes
for most armors, as many have a female and male look. You can thus exactly
reproduce your current look, but without choosing your gender.

The advantage is that if a guy likes a

[2013-04-01 18:41] lefnire commented on #664
https://github.com/lefnire/habitrpg/pull/757 might be the fix! I'll take a look at this soon

[2013-04-01 18:47] lefnire commented on #738
Just read that comment a couple times, but I'm having a hard time following how that's not going to add a bunch of extra work for us? We'd have to add multiple versions of every helmet piece, weapon colors, etc? It sounds great, and extra customization is always :+1:  - but we may have to postpone that?

Edit: I mean, I defer to you, @Shaners & @lemoness - since y'all are the pixelists anyway, but

[2013-04-01 18:57] Pandoro commented on #738
Sorry, I figured it might not have been my best written post :x

Well not for everything, just what is there already. It is in the sprite
sheet I uploaded a while back. Pretty much it gives both the male and
female version to every player, which sometimes is the same, but sometimes
the girl had 2 and the male had 1 giving 3 already. So art wise this is
good to role already. Especially for the star

[2013-04-01 19:40] cleave29 commented on #508
OK, sounds like there are bigger fish to fry.
How about put it in the FAQ and call it good?

[2013-04-01 20:58] wc8 commented on #508
I'm neutral, as well. (No idea where/when important came in, changed it to minor.)
FAQ entry: [What are the benefits of wearing armor?](http://community.habitrpg.com/faq-page#n78)

[2013-04-01 20:58] #508 closed, assigned to nobody

[2013-04-01 22:43] Shaners commented on #107
This is how I had imagined the pet system eventually working, not saying it's the best and only way it could happen:

### A Wolf Egg Drops!

![Wolf-Egg](https://f.cloud.github.com/assets/2374703/325784/a94edf5c-9b15-11e2-8591-6fe466123341.png)

At this point a timer starts and in 3 days the egg will hatch into a hatchling. Perhaps  the static image of the egg in your inventory would go through the

[2013-04-01 22:51] wc8 commented on #107
Are food items rewards you purchase and/or drops you find by doing tasks?

[2013-04-01 23:10] lemoness commented on #738
I'm all for using what we've already got, and new customization options are
great, but let's definitely hold off on making new versions of armor for
now.  Otherwise, I think your ideas sound great!!

I think a good way to distinguish our two body types would be "slim" and
"stocky", what do you guys think?

Regarding hairstyles, since I am hoping to get to them as soon as I finish
some NPC stuff an

[2013-04-01 23:54] lemoness commented on #107
@wc8 Definitely drops, and I imagine that at the very least the special
ones would be purchasable.

@Shaners Interesting system! Here are my reactions.
1. If there is a time option to hatch the pet, I think that it's pretty
   unlikely that people will buy the hatching potions... certainly not the
   base one! This seems like a pretty complicated mechanic to add, and one
   that would decrease rev

[2013-04-02 00:14] wc8 commented on #107
So long as people can ignore pet drops I don't think it's too much. If the system starts battering them with messages, that'd be another thing.
I like the idea of food > color. I like the idea of a percentage of colored food to get a color and alternate of colored hatching potion. As far as unexpected color changing being upsetting, just give 'em a clear message warning [at some point before it ha

[2013-04-02 00:16] lefnire commented on #107
I love all this brainstorming! Lemon & Shane are starting to own the pet system, tons of fun :) Some more thoughts (I agree with Lemon on many issues):
- Complexity: on one hand  we don't want to over-complicate things, on the other hand - the pet system is already a mini-game, providing a good hook for people who are getting bored of the default system. I'm pretty torn on this issue. I'm inclined

[2013-04-02 00:20] Pandoro commented on #738
Yes, I think creating new stuff right now isn't needed. But for future
iterations it might be possible to add additional versions for armor sets
if someone has a nice idea, or likes to add a different color. Like a blue
armor instead of a red armor etc.

Slim and stocky, SOUNDS good, but is hard to realize ;) If you succeed in
making the characters look slimmer, that is cool, but it is hard to do,

[2013-04-02 00:20] wc8 commented on #754
Can this be closed then, since you're addressing it already, @lefnire?

[2013-04-02 00:21] wc8 commented on #756
Perhaps related to #740

[2013-04-02 00:24] wc8 commented on #722
@Gooseus if it's not #587, comment back and we'll reopen.

[2013-04-02 00:24] #722 closed, assigned to nobody

[2013-04-02 00:26] lefnire commented on #747
let's follow up on https://github.com/lefnire/habitrpg/issues/700 (duplicate)

[2013-04-02 00:26] #747 closed, assigned to nobody

[2013-04-02 00:27] lefnire commented on #700
I suspect rogue tasks that should have been deleted, and not showing up in the lists - I'll be looking into this very soon

[2013-04-02 00:28] wc8 commented on #749
[Checklists](https://trello.com/c/PJ1iJ413)? Checklists has been suggested as a one way of engaging a [Boss Battle](https://trello.com/c/WP3dXij9)

[2013-04-02 00:29] lefnire commented on #756
TMK ThibG fixed in the PR, I'll be merging that soon as I ge a moment to test it

[2013-04-02 00:36] Pandoro commented on #107
My brainstorm input would be:
1. Hatch your egg with time, or a hatching potion. Hatching points give a
   bias towards to type of potion, timed hatching gives a random bias towards
   some type.
   (Here different tiers of hatching poitions could be made. Low for 1 token,
   20% bias  medium for 3 tokens 40% bias and high for 6 tokens, 100% bias.)
2. You always get the basic pet, however based on

[2013-04-02 03:56] Shaners commented on #107
Fair enough, seems like most are against adding anymore complexity to the pet rearing system and I'm ok with that.

I think the questions now are:

### Should people have the ability to change their pet colour?

I'm thinking no here since it's kind of strange to change an already established pet's colour and any system implemented is not going to be too much different than just having the user get

[2013-04-02 05:45] cleave29 commented on #508
Thanks for adding it to the FAQ.

[2013-04-02 05:52] wildcate commented on #494
Since I repaired mine as per the instructions further up - no. And lefnire said that he fixed the broken default selectors - so I think this can be closed.

[2013-04-02 05:52] #494 closed, assigned to nobody

[2013-04-02 05:54] wildcate commented on #472
I cannot tell because it's been a while that I completed all my dailies :(

[2013-04-02 06:09] wildcate commented on #107
For me, feeding a pet to the point of it becoming a mount sounds really logical. Maybe with special kinds of food? Or giving it growth potions (random drop or token-shop), and finalising the transition with a saddle.

[2013-04-02 06:58] awar2000 commented on #107
I was just wondering if any of these things have already been thought of or are already being worked on. Just some ideas of mine and a few friends.
- Chat (Between people in your party, maybe global, or maybe a help chat)
- Auction House (Selling rate item drops with gold, being able to bid on it, or just buy it.)
- PvP (My friends thought it would bring on a new competitive feel to the game espec

[2013-04-02 07:03] awar2000 commented on #107
Also somewhat of a problem that you might want to fix (not technical). You guys were talking about rare item drops, and right now there is only hatching potions and eggs. You can just keep completing a task and then undoing it, so that your level does not increase at all yet you can still get eggs and hatching potions. Though someone could just keep completing tasks without actually doing them thi

[2013-04-02 11:26] pjf commented on #729
And sometimes they don't seem to clear even when I do visit the website. o_O
Have no idea if this is time related. It's 22:24 localtime (GMT+11), which is later than I'd normally visit.

I can probably manually uncheck tasks using the PUT API, but I suspect that's not what mere mortals will do. :)

[2013-04-02 11:38] pjf commented on #729
When using the command-line client, `hrpg clear daily` can now be used to force a clear of daily tasks.

[2013-04-02 11:40] Ferk commented on #269
Wouldn't using the same graph put all the habits on the same scale?

Something you do pretty often might get higher values and change more drastically, shadowing the habits with lower frequency, it will be harder to notice progress on them.

Specially if you use some apps/extensions that use the API to regularly reward/punish on some habits, the distribution of points will be uneven against the ha

[2013-04-02 12:35] smokey186 opened #759 "Character death due to refresh"
Hello, I've twice had an issue where I simply refresh my page, and all the of negative hp refreshes along with it, basically double hitting me with an unfair amount of negative points, killing my character.

Is there any way to sort this out or perhaps even revert the last changes? I lost a level 7 the first time and just lost a level 9 i believe. . It's very frustrating to get pretty far along, r

[2013-04-02 12:45] Ferk commented on #168
It would be nice for sharing tasks if there was a way to pass a URL to a friend and get a task added to his character.

Something like clicking on a link like this and then having the "Help Joe with his stuff'" added to your TODO list: https://habitrpg.com/task/add?taskid=Help%20Joe%20with%20his%20stuff&date=2013.05.03&difficulty=normal

The same link would work for everyone (without needing to as

[2013-04-02 12:56] #507 closed, assigned to nobody

[2013-04-02 13:18] wc8 commented on #107
@awar2000
You can check our [feature tracker](https://trello.com/board/habitrpg/50e5d3684fe3a7266b0036d6) to see if an idea has been shared and share new requests on our forum: see [new ideas](http://community.habitrpg.com/content/so-you-have-idea-habitrpg)
Chat: between parties members, see [Parties](https://trello.com/c/GPc3MvYv); between random players, see [Tavern](https://trello.com/c/A2w2orS

[2013-04-02 13:38] wc8 commented on #759
Does it happen at a specific time of day? Does it happen at all near the custom start date or midnight?
In the meantime... for bug induced deaths: check out Restore under Settings in the drop-down menu where you login.

[2013-04-02 13:45] wc8 commented on #168
@Ferk Something like or an enhancement for [Cross Profile Challenges](https://trello.com/c/k0kSlT0Q) and/or [Reward/Habit/Task Sharing](https://trello.com/c/5G7rcMpR)?

By the way, you can now share new ideas on our [Community Site](http://community.habitrpg.com/forum).

[2013-04-02 13:46] lemoness commented on #738
AHH no no, I just meant re-labeling the two body types we already have as
"slim" (previously the girl body) and "stocky" (previously the guy body)! I
wasn't talking about changing them any further, just re-labeling them so
that they're gender neutral. I really love the distinction you made, and
definitely couldn't improve on it. Sorry that wasn't clear!!

With mages and also potentially rogues, yo

[2013-04-02 14:16] janepernille opened #761 "Turns back time when I level up"
I just leveled up from level 2, and when I refreshed it was like my profile went back in time. Old todos came up and I was back on 47/160 xp

I think this has happened several times as well.

User-ID: c336c106-03fc-4954-a611-e3cea91a87d5

[2013-04-02 14:52] janepernille commented on #761
I just went to settings and restored myself --> Thank you for that option :)

[2013-04-02 16:33] GrandBastard opened #762 "Dying when I log in the next day"
Pretty much the title. I was not using it for a while but came back to HabitRPG, the character had died obviously, but then the character has continued to die for the the past few days every time I log in again the next day. I have now used restore and given myself a level 5 to see if it happens again once I re-log tomorrow.
I will update and tell you what happens. In the meantime, any other tips?

[2013-04-02 17:02] wc8 commented on #762
If you skipped habitrpg for awhile, you probably have many orange/red/dark red daily tasks. Anytime you miss them, they'll exact a hefty HP loss. Reroll will reset them to yellow.

[2013-04-02 17:04] wc8 commented on #762
P.S. if you're finishing everything and still dying, that's different. In that case, certainly reply back.

[2013-04-02 17:07] GrandBastard commented on #762
Hey thanks,
That seems to be the issue, forgot about dark red items.

[2013-04-02 17:36] smokey186 commented on #759
Ah, thanks, hadn't noticed the restore function, could have saved myself loads of trouble there. Thanks.

It just seems to happen on a refresh, after not completing a task, I refresh, and the negative points are applied again.

[2013-04-02 17:51] lefnire commented on #754
let's leave this open unless we can find the duplicate ticket, since it's a bug that needs to be fixed

[2013-04-02 18:51] lefnire commented on #107
Drops do indeed have a 2/day cap. So yes you can cheat until you get your 2
(we're working in a system to prevent), but you can cheat just about
everything in habit.
On Apr 2, 2013 6:18 AM, "wc8" notifications@github.com wrote:

[2013-04-02 19:12] awkwardsoul opened #763 "Gold disapeared"
I had just added a new daily, labelled it not active for today (but accidentally checked it off), and then all my gold/silver vanished! I had about 45g in there.

I didn't spend it or anything. I had a screenshot of early yesterday http://wp.me/a2xq6p-bC

and after the glitch, http://wp.me/a2xq6p-bH (i tested a todo and I got 2 gold)
logging in and out didn't fix it, or refreshing.

[2013-04-02 19:14] wc8 commented on #754
#514 or #507 (closed) might be the original ticket.

[2013-04-02 19:19] wc8 commented on #763
I couldn't replicate it (not saying it didn't happen, just I couldn't reproduce it). What browser are you using?
Meanwhile: Drop-down menu (arrow by your username) > Settings > Reset, correct the gold.

[2013-04-02 19:20] awkwardsoul commented on #763
Google Chrome Version 25.0.1364.172 m

Cool, I'll fix my gold - TY!

[2013-04-02 19:41] awar2000 commented on #107
Thank you very much. I have noticed that there is a maximum of 2 eggs/potion per day. It seems like the chance for finding eggs/potions has decreased though, or I just have the max amount of eggs/potions in my inventory (1 egg, 2 potions).  I haven't tested this out very accurately though.

[2013-04-02 20:39] Ferk commented on #168
@wc8 Well, not sure if it's an enhancement or a simplification of those, since this would be just sharing a normal task, without a reward defined for it. My proposal would be easier to implement, I think.

But if at some point tasks are extended to include an associated reward as if it was a quest, then I think it would make sense to add that property also to the task creation URL scheme I was tal

[2013-04-02 20:44] octern opened #764 "Displayed name doesn't change"
Is it possible to change a character's name? The option under "Profile" looks like it's supposed to do that, and when I change it the name displayed in the box on my profiles screen changes. However, the name that's displayed on my main screen and the name party members see for my character don't change.

Name on profile screen:
![Name on profile screen ](https://f.cloud.github.com/assets/1575692/

[2013-04-02 21:03] wc8 commented on #764
Hm... I think the name above the character is the username and the name in the profile is supposed to be your name (although, theoretically, you could enter something else).
I'm marking this down as a suggestion, since I think it's functioning as designed. Would the [option to change username](https://trello.com/c/4h5W1gMd) meet your needs?

[2013-04-02 21:09] wc8 commented on #168
OK, sounds good. For now, I added a subtask item with a link to this post on the Cross Profile Challenges card, to help avoid this simply getting overlooked.

[2013-04-02 21:57] octern commented on #764
That is what I'm looking for, thank you.

[2013-04-02 21:57] #764 closed, assigned to nobody

[2013-04-02 23:13] lefnire commented on #107
It's modifies by task value. Reds give you much higher chance, blue is very
rare
On Apr 2, 2013 2:41 PM, "awar2000" notifications@github.com wrote:

[2013-04-03 05:18] llqt opened #765 "Dropped item disappeared"
I'd received a base hatching potion from a random drop, but when I later logged on and checked my inventory it wasn't there and I also lost some experience. I understand it's not possible to reset token items like exp (for obvious reasons), but that was kinda frustrating. Anyway:

Browser: Firefox 17.0
System: Fedora 17

[2013-04-03 14:06] DesignLemming opened #766 "Item/gold bug Chrome mobile"
Tried to purchase gold armor on Chrome mobile, site/server froze and on refresh gold was gone but the item was not added.

[2013-04-03 14:59] wc8 commented on #766
Seems related to #754, see the restore instructions there.

[2013-04-03 15:43] wc8 commented on #762
I'll close this then, if it seems to have occurred for a different, unexpected reason, reply back and it can be reopened.

[2013-04-03 15:43] #762 closed, assigned to nobody

[2013-04-03 16:23] wildcate commented on #765
The same happened to me - due to no internet connection when I clicked the completed list item; this resulted in the completed item reappearing and the potion disappearing, of course, once the connection was re-established. The "offline-reconnect" thingie, unfortunately, only appeared after that. Clicking reconnect, btw, does not do anything for me, I have to reload the page.

[2013-04-03 16:33] wildcate commented on #738
@Pandoro and @lemoness, that all sounds really, really cool - I'm looking forward to having your hard work available for avatar customisation!

[2013-04-03 18:16] lefnire commented on #765
I can hook both of you up with your deserved pets if you want - [email me](mailto:tylerrenelle@gmail.com) your user ids and what egg / potion you want. For now, as with almost everything - the real problem is the memory leak, which I devote 30m each day to fixing. Once we get that solve we'll be good.

The long story - memory leak causes restart, y'all are performing actions in-between session re-

[2013-04-03 18:59] Shaners commented on #107
@wildcate that's kind of a cool idea, feed your pet a certain amount of food until it grows up and gets a little too big / wild and then tame it or teach it by using a saddle, it really marries the two ideas well.

Here's a little outline:

## Pet System

### A Wolf Egg Has Dropped!

![Wolf Egg](https://f.cloud.github.com/assets/2374703/325784/a94edf5c-9b15-11e2-8591-6fe466123341.png)

User must n

[2013-04-03 21:15] switz opened #767 "Protocol for testing"
@lefnire @yangit I see more tests being added. Moving forward, what's the protocol I should be following for ensuring the build passes before I send out a pull request. Also, any ideas on adding tests? It seems about time we should start doing that with new features.

[2013-04-04 01:15] kriscrat opened #768 "New To-Dos being moved to the bottom of the list on refresh"
New To-Dos are moving to the bottom of the list after I reload the page.

[2013-04-04 01:34] yangit commented on #767
Switz,
I'm working on it. So far there is no protocol as we are having troubles with tests consistency (i.e. they pass and fail randomly :) ).
Once it is figured out we will update you.

[2013-04-04 01:49] yangit opened #769 "UI freezing in certain conditions."
After you start new session (w.o. cookies) at locally running development branch at url localhost:3000/?play=1 UI will be frozen for some time until "activate" it somehow by dragging, scrolling or opening dev console.
See videos below.
It appears in Chrome and Firefox on MacOS
It can also be somewhat reproduced on iphone4s in chrome browser, UI stays unresponsive for 5-10 sec after you can see the

[2013-04-04 01:50] yangit commented on #769
Here are video links:
http://www.youtube.com/watch?v=fV5Me6ARfEI
http://www.youtube.com/watch?v=AV-IOEIka0c
http://www.youtube.com/watch?v=VbMIEdWelwM

[2013-04-04 02:13] yangit commented on #614
Issue #769 could be related.

[2013-04-04 03:09] lefnire commented on #605
@yangit has mentioned this only happens in `NODE_ENV=development` - will investigate

[2013-04-04 03:23] lefnire commented on #769
Notes for further research (could be unrelated, I'm just thinking out loud):

We're using SLaks' racer & derby forks (Unroll-me/Derby, SLaks/racer) instead of codeparty/*. A long while back I added character.coffee:bulkUpdate() which coincides with a Racer modification I made for bulk updates at https://github.com/codeparty/racer/issues/93 . This could be incompatible with the racer/derby forks we

[2013-04-04 03:34] yangit opened #771 "app.reset() in production branch removes everything even preset Rewards"
app.reset() in production branch removes everything even preset Rewards.
Probably should reset to the original new user state with some Tasks and Rewards in place

[2013-04-04 05:29] kriscrat opened #772 "item paid for but not received"
I've been saving up for a golden sword.  I clicked to buy it, the page became unresponsive, and when I refreshed by gold was gone but I don't have the sword.  Help?

[2013-04-04 06:11] litenull commented on #769
I confirm this on production. I cant click anything until about 20 sec.

On Thu, Apr 4, 2013 at 5:23 AM, Tyler Renelle notifications@github.comwrote:

##

LP, Tomaž :)

[2013-04-04 10:56] wizonesolutions commented on #769
Thirded. I have 120 tasks, and this happens after every action too. Check
off a task? OK, gotta wait like 10 seconds for the app to come back before
I can do another one. I mostly use @pjf's hrpg client these days for this
reason.

On Thu, Apr 4, 2013 at 8:11 AM, litenull notifications@github.com wrote:

[2013-04-04 11:58] wc8 commented on #771
Previously requested, #139

[2013-04-04 12:19] wc8 commented on #139
In consideration of #771 and previous comments, for clarity for the user, I suggest:
- Reset returns the account to "factory state," i.e. what they would get if they were a new user: preset items, tour, unlock levels, etc. with full warning.
- Exception(s) with full warning: Tokens, spent tokens are not restored

Users wanting more nuanced account "reset" can mostly do so manually with some or all

[2013-04-04 12:27] wc8 commented on #35
[Restore Samples](https://trello.com/c/3q5fHAdQ) now has its own spot on our feature tracker, those interested can follow the link to vote for it.

[2013-04-04 12:38] wc8 commented on #772
#754 is the same issue; see the instructions there.

[2013-04-04 13:18] kriscrat commented on #772
thank you!

[2013-04-04 13:18] #772 closed, assigned to nobody

[2013-04-04 13:32] applejess opened #773 "UI Problem - elements all appear at once"
![habitrpg](https://f.cloud.github.com/assets/4059212/339027/0f62cd3c-9d2b-11e2-86a3-5a67baf3167f.jpg)

The page loads this way in both Firefox and IE, on every computer I've access to, and has been doing so for a week or two now. Every notification, every menu, all opens at once and gets stuffed up at the top of the page so I have to scroll all the way to the bottom to actually use the site.

[2013-04-04 15:11] lefnire commented on #773
holy crap! is anyone else experiencing this? I can't replicate. This is basically what happens on localhost if you don't have an internet connection, because it can't find the CDN js/css files. There's no reason it should be happening on prod however. I'll mark to crit and investigate

[2013-04-04 15:38] lefnire commented on #769
oh god... ok, i'm marking as current and will make top prio. @litenull @wizonesolutions how long has it been this way for you two?

[2013-04-04 15:52] lefnire commented on #107
I love this! This adds to the pets/mounts mini game without making things
confusing. Those are clear actions with simple mechanics, yet giving the
system substance. Also, it renders the pet system complete as it stands,
now we have details for the mount system to tackle. Shane feel free to edit
the mount trello card description with these details
On Apr 3, 2013 3:00 PM, "Shane Lister" notification

[2013-04-04 16:02] wizonesolutions commented on #769
It's worth noting that my own computer's performance seems to have some
impact on this. But I don't even dare to open Habit on my phone at the
moment, heh.

On Thu, Apr 4, 2013 at 5:38 PM, Tyler Renelle notifications@github.comwrote:

[2013-04-04 17:20] wc8 commented on #107
Looking forward to it. :paw_prints:

[2013-04-04 17:48] kriscrat opened #774 "no weapons after restore"
I bought a weapon, but had to use restore to get it because things froze partway through buying it.  Now I have no weapons I can buy.  Help?

![Capture](https://f.cloud.github.com/assets/4007169/340407/da688fca-9d4f-11e2-9205-4c05b6254ea6.PNG)

[2013-04-04 17:51] lefnire commented on #774
Did you restore the Gold Sword? That's the last weapon, buy armor instead

On Thursday, April 4, 2013, kriscrat wrote:

[2013-04-04 18:15] cgardner commented on #585
I've noticed that the input fields for the lists is partially covered by the add button.  It would be nice if I could see the last few characters of my to-do items.

Changing the width on .addtask-field input to 89% seems to fix the issue.

[2013-04-04 19:00] heyimzsa commented on #585
Agreed and I would like to be able to use urls in my info box for my todo list.

Sent from my iPad

On Apr 4, 2013, at 11:15 AM, Craig Gardner notifications@github.com wrote:

[2013-04-04 19:30] applejess commented on #773
Opened up the error console in Firefox. I'm seeing a lot of "error in parsing value... declaration dropped" and "unknown property... declaration dropped" etc. if that helps at all.

[2013-04-04 19:41] lefnire commented on #769
@yangit can you try the [remote-list-cleanup](https://github.com/lefnire/habitrpg/tree/remote-list-cleanup) branch? (be sure to `npm update`)

@wizonesolutions @litenull can you try your accounts on http://habitrpg.herokuapp.com to see if the problem is still there? (it's a database snapshot, not production - so you can safely mess up your accounts)

[2013-04-04 19:43] lemoness commented on #107
Shane. Shane, this is so perfect. There are nearly tears in my eyes over
how perfect this is. Here I was opening up this email, prepared to try to
slog through a bunch of opinions and list a bunch of compromise solutions
and INSTEAD, INSTEAD I find this gorgeously-outlined beauty!

... so now we just need to:

A) Finish food - DONE
B) Assign food strengths based on pet type - DONE
C) Make a saddle

[2013-04-04 19:55] lefnire commented on #725
solved this offline with both

[2013-04-04 19:55] #725 closed, assigned to lefnire

[2013-04-04 19:56] lefnire commented on #639
gonna close, the problem is #165

[2013-04-04 19:56] #639 closed, assigned to nobody

[2013-04-04 19:57] lefnire commented on #622
demoted to `important`, since stopgap is working fine

[2013-04-04 20:17] litenull commented on #769
No, the problem is solved.

On Thu, Apr 4, 2013 at 9:42 PM, Tyler Renelle notifications@github.comwrote:

##

LP, Tomaž :)

[2013-04-04 20:28] kriscrat commented on #774
Ok! Sorry for a silly question.  In the restore I noticed I could go above level 6, so I thought there were more. Thank you! 

From my Android phone on T-Mobile. The first nationwide 4G network.

-------- Original message --------
From: Tyler Renelle notifications@github.com
Date:
To: lefnire/habitrpg habitrpg@noreply.github.com
Cc: kriscrat ms.riggin@gmail.com
Subject: Re: [habitrpg] no weapons a

[2013-04-04 20:47] lefnire commented on #769
ok, i'm pushing to beta.habitrpg.com - if y'all could, use that one for a while? I'm gonna use it too. some potential mem leak fixes, potential fix for this ticket - my main concern is the task id lists emptying issue mentioned in the commit message above. As long as nobody gets any empty task lists, we'll push to prod. (if you do get wiped, visiting production will restore you - it's super janky,

[2013-04-04 21:13] justuswilhelm commented on #427
I still have the same symptoms. When I try to create new elements or click on existing ones the UI does not react and often I am forced to reload the page to make it work again. This pretty much makes the site unusable.

[2013-04-04 21:17] lefnire commented on #427
@justuswilhelm can you try on beta.habitrpg.com?

[2013-04-04 21:18] litenull commented on #427
The problem is persisting on beta.

On Thu, Apr 4, 2013 at 11:17 PM, Tyler Renelle notifications@github.comwrote:

##

LP, Toma¾ :)

[2013-04-04 21:22] litenull commented on #427
There's a message:
Client timed out; asking for snapshot!

[2013-04-04 21:35] litenull commented on #769
Basically, there is a socket.io reconnect after about 20s. It takes about 10s to reconnect. There is a message that says: Client timed out; asking for snapshot!

[2013-04-04 21:39] lefnire commented on #769
but it work just fine on heroku? i wonder if it's an environment issue...

[2013-04-04 21:41] litenull commented on #769
Yeah, it works fine.

[2013-04-05 12:19] dbueller opened #775 "Pets Suggestion"
I was thinking that down the road when people have found more eggs and potions they might want to trade them to get a certain combination.  Maybe we could add a "Swap" tab where players could do a 1 to 1 trade of an egg for egg or potion for potion.  Maybe you could charge 1 token from each user for the swap that way you aren't taking away too much functionality from the "Market" and at the same t

[2013-04-05 12:44] wizonesolutions commented on #769
I'll run off beta for a bit and let you know. Good thing I have BETA_MODE
in habitsync :D

On Thu, Apr 4, 2013 at 11:41 PM, litenull notifications@github.com wrote:

[2013-04-05 13:41] heyimzsa opened #776 "Gifting pets"
I have 2 pandas that are already hatched, and I only need one. Would it be possible to spend tokens to gift my extra panda to a friend? It could be a party member (i'm currently not in one), or maybe gift a redeem code to get the panda?

[2013-04-05 16:34] lefnire commented on #775
a fine suggestion! will keep in mind

[2013-04-05 16:47] wc8 commented on #776
See also #775

[2013-04-05 17:24] BrianFinifter opened #777 "Lost Points and Health Over Night / Random Death"
Checked all of my Dailies over the course of the day, along with a number of To Dos. Woke up this morning having lost points and health and my To Dos reset to earlier yesterday (two items checked off yesterday had returned, and I'm assuming other items I had added and checked after those two were also erased).

Using Chrome Version 26.0.1410.43. I was going back and forth between my laptop and des

[2013-04-05 19:11] fsiah2 opened #778 "Missing Rewards"
When the potential mem-leak fix was released today I lost the list for standard rewards, such as armor and weapons.  I do not use custom rewards, so I do not know if that was affected.  When I switched to the beta server the list reappeared.  After the server reboot today my rewards list reappeared.

[2013-04-05 19:13] lefnire commented on #769
so is it :+1: or :-1: on production now? I pushed 1c2cc06 . here's what I realized is happening. `.set()` operations are async, meaning `page.render()` is called before all the character-cleanup stuff is finished. Seems like the client waits for these transactions to finish, though it's already been rendered, before making some other scripts available. I removed that character-cleanup (which re-co

[2013-04-05 19:19] lefnire commented on #778
I think this is fixed now. The production server was having some chef-client permission & disk usage issues, we got that solved, rebooted - and it sounds like that fixed your error. We should be in the clear now, re-open if this comes back.

[2013-04-05 19:19] #778 closed, assigned to nobody

[2013-04-05 19:30] litenull commented on #769
alas, still there. are you sure its habitrpg? it seems to me that the synchronization logic is kinda messy when it comes to 1k+ connections. The XHR long pooling sockets are firing 20 secs after page render.

[2013-04-05 19:34] litenull commented on #769
pardon me, there seems to be a pause. the DOM is responding the first 10 seconds, then there is a pause of 20 secs. happens every time.

[2013-04-05 19:35] amirdt22 commented on #777
Me too.  I was surprised to see that I died today.  I leveled up last night so that should not have happened.  I'm usually careful to make sure I'm not offline when checking off tasks.

[2013-04-05 19:36] lefnire commented on #769
I'm going to look into moving beta to websockets, see if that helps

[2013-04-05 20:28] Shaners commented on #107
@lemoness glad you like it the idea!

So I noticed this before in the BQ art and meant to bring it up at some point. There is what looks like a dog house graphic or it could be a building window or something:
![dog_house3x](https://f.cloud.github.com/assets/2374703/345877/9b506c56-9e2e-11e2-9013-a179b2eec35e.png)

Anyone think it would be cool to store their pet in this? Not sure how exactly it wo

[2013-04-05 20:48] lefnire commented on #107
Oh, I hadn't noticed that dog house before! Yeah, I'll add that to the
stable page. We'll put that in once we have Matt Boch (the beast master)
designed as well.

On Friday, April 5, 2013, Rudd Fawcett wrote:

[2013-04-05 20:48] lefnire commented on #107
We'll probly wanna use some BQ art for the the tavern too, once we get that
built

On Friday, April 5, 2013, Rudd Fawcett wrote:

[2013-04-05 21:10] Shaners commented on #107
@ruddfawcett fair enough!

@lefnire there is some cool stuff in there, I think it's at 1x zoom though so may need to be converted first to match.

[2013-04-05 22:07] litenull commented on #769
Yeah, try this. Do you know how are users (sessions) persisting in the XHR fallback ? MongoDB or memory ? Just out of curiosity.

[2013-04-05 22:40] lefnire commented on #769
Mongo

On Friday, April 5, 2013, litenull wrote:

[2013-04-06 03:16] lefnire commented on #777
I think this is due to rogue deleted tasks hanging around behind the scenes, i'll be tackling this asap. I think there's a dupe ticket somewhere, I'll find later

[2013-04-06 10:34] Swizz opened #780 "How change locale setting ?"
Hi,
I want to make a french translation.
Nevertheless, i did not find the way to change the locales on my own server.
I try to set this for yesterday evening, to check my translation localy.

Thanks for your help.

[2013-04-06 10:44] bussiere opened #781 "Cannot find module 'ini'"
bussiere@ubuntu:~/workspace/todo/habitrpg$ node server.js

module.js:340
    throw err;
          ^
Error: Cannot find module 'ini'
    at Function.Module._resolveFilename (module.js:338:15)
    at Function.Module._load (module.js:280:25)
    at Module.require (module.js:364:17)
    at require (module.js:380:17)
    at Object.<anonymous> (/home/bussiere/workspace/todo/habitrpg/node_modules/nconf/l

[2013-04-06 11:08] Swizz commented on #781
Try : 'npm install ini'

[2013-04-06 11:31] lemoness commented on #107
@lefnire Oooh, loving that dog house as a background for the Beast Master! I wonder... if I just.....

![stablemasterbg](https://f.cloud.github.com/assets/3494081/347216/0719413c-9ead-11e2-818c-0a86294abca6.png)

;)

Actually, all our pets fit really nicely inside it - this could just be the basic stable graphic? Only issue is that some of the backgrounds fade.
![stablehousetiger](https://f.cloud.

[2013-04-06 12:19] wc8 commented on #777
Maybe #700 is the duplicate

[2013-04-06 13:39] lemoness commented on #775
I really like this! A fun inter-party or inter-group feature, and the nominal token charge would probably keep it from breaking the system. Once we'd tested it for balancing, I think it could be enjoyable!

[2013-04-06 14:11] lemoness opened #782 "Drop Frequency"
We've been debating back and forth about the drop frequency, so I figured I would post it here and start getting some outside feedback.

Personally, despite knocking off tons of tasks each day, many of them orange and even a few red, I haven't gotten a single drop since we implemented the system, so I am inclined to think that we should adjust things. Other people have gotten drops, and like the s

[2013-04-06 15:24] Shaners commented on #107
@lemoness How would it work on the stable tab? Each pet would be in their own house? For some reason I can't see that transparent background version you posted. The version I posted was just quickly scraped out from the BQ tile set and resized in irfranview so people could see it. Not meant to be used for anything, in fact its actually missing a shadow it has in the original.

[2013-04-06 15:27] lefnire commented on #780
Translations haven't been implemented yet, check out https://trello.com/card/translations/50e5d3684fe3a7266b0036d6/12 . Let's follow up there or https://github.com/lefnire/habitrpg/issues/62

[2013-04-06 15:27] #780 closed, assigned to nobody

[2013-04-06 15:32] lefnire commented on #107
Also we gotta fit Matt Boch in the tab in some way - his full avatar with a
word bubble saying "welcome to the stables, you can select your pets, etc
etc". I defer to you lovely creatives on how to position house, active pet,
inactive pets, & Matt

On Saturday, April 6, 2013, Shane Lister wrote:

[2013-04-06 15:37] lefnire commented on #782
very good. I linked this ticket from http://community.habitrpg.com/node/99

[2013-04-06 15:39] lefnire commented on #781
`node --version` ? Wanna make sure you're on 8.x

[2013-04-06 15:43] Jcatgrl opened #783 "Tried to sign up, e-mail simultaneously already taken yet not registered?"
I tried to sign up, but when I put in my usual username for sign-ups (the same my username here) and my e-mail, it told me that the username and e-mail were already taken. Unfazed, I tried to sign in, figuring that I had made an account and forgotten about it (after all, it's happened before). It then told me that there was no user with that username. Now I'm getting a little worried, so I click "

[2013-04-06 15:51] lefnire commented on #783
see https://github.com/lefnire/habitrpg/issues/669 - try again in a bit, if still an issue i'll restart the server. the issue is #165

[2013-04-06 15:51] #783 closed, assigned to nobody

[2013-04-06 15:53] Jcatgrl commented on #783
Okay, thanks.

[2013-04-06 16:00] lefnire commented on #107
actually, quick idea: it might be nice to layout inactive pets in 10x9 grid just like [Shane's grid](https://github.com/lefnire/habitrpg/issues/107#issuecomment-13683017), and filling in missing pets with a question mark or grey animal silhouette. Two benefits: (1) users know what's out there, and what they're missing - so they can strive for those collectibles - Mario 64 -ish, if you're following

[2013-04-06 16:34] Shaners commented on #107
Kind of like that idea. It might look something like this with the missing pets in silhouette or question marks:
https://f.cloud.github.com/assets/2374703/347528/c0d2e50e-9ed7-11e2-9106-1a7fd962dc60.JPG

I think some mock-ups need to be made.

[2013-04-06 16:37] lefnire commented on #107
Exactly! Fighter games, what am I babbling about mario 64...

On Saturday, April 6, 2013, Shane Lister wrote:

[2013-04-06 17:21] JellyBean22 commented on #782
I agree, especially with 3.
Also, as mentioned, I am above level 4 too but have yet to get an egg drop (have gotten five potions though)

[2013-04-06 18:15] lemoness commented on #107
Oh, I meant the house covered in pets to be as a background for Matt... So it looks like a stable teeming full of animals! If we ever have a meet-the-NPCs page, we can use it for that, but I agree that it would be cluttered if he's standing on the main stable page.

I was indeed thinking of having your active pet in the house at the top, and the other pets in a simple stable graphic - really just

[2013-04-06 18:32] lefnire commented on #107
Well, we currently don't allow duplicate pets (it gives the user an error). Not seeing why they'd want them anyway? It would introduce mechanic difficulty for a fringe perk (they can't pull out multiple pets at once besides). Someone mentioned in another ticket "I already have a {modifier} {pet}, can I gift my egg to a friend instead?" - which is what I see others doing with their excess. We may a

[2013-04-06 18:36] Amyndrael opened #785 "purchasing armor"
Hi,

I purchased leather armor for 30g, closed the window, and reopened it. the money was gone, and I had no armor.

[2013-04-06 18:40] lefnire commented on #785
let's follow up here: https://github.com/lefnire/habitrpg/issues/233

[2013-04-06 18:40] #785 closed, assigned to nobody

[2013-04-06 18:41] lefnire commented on #233
still a problem, upping to critical. users who experience this - [use this](https://github.com/lefnire/habitrpg/wiki/Restoring-Your-Account#restoring-your-avatar-stats-items-accidental-death-etc) to restore your deserved weapon / armor while I work on this ticket

[2013-04-06 18:51] Amyndrael commented on #785
thanks. the restore function worked for me.

~Jacob Done
JD Candidate - Class of 2014
ASU Sandra Day O'Connor College of Law
jacob.done@asu.edu

"Tantum Eruditi Sunt Liberi" - Epictetus

On Sat, Apr 6, 2013 at 11:41 AM, Tyler Renelle notifications@github.comwrote:

[2013-04-06 19:40] lexa opened #786 "[API] POST with Content-Length redirect to /500.html"
This issue appear when using POST message to update task. If request header contain "Content-Length" field then response is redirect to /500.html page, but not return proper json answer.

Example using curl:

[code]

I belive that denotation length of request should not affect API behaviour.

[2013-04-06 21:22] wizonesolutions commented on #786
You don't need `Content-Length`. Make sure you use `--compressed` in your `curl` invocation though.

[2013-04-06 21:24] wizonesolutions commented on #786
Actually, you've tried using the plugin API with the full API syntax.

From the wiki: `curl -X POST -H "Content-Type:application/json" -d '{"apiToken":"{TOKEN}"}' localhost:3000/v1/users/{UID}/tasks/productivity/up`

Not headers — you pass it in the data.

[2013-04-07 11:23] bussiere commented on #781
i've done npm install ini

i'am on v0.10.3
and now i get ::
module.js:340
    throw err;
          ^
Error: Cannot find module 'derby-auth/node_modules/nodemailer'
    at Function.Module._resolveFilename (module.js:338:15)
    at Function.Module._load (module.js:280:25)
    at Module.require (module.js:364:17)
    at require (module.js:380:17)
    at sendEmail (/home/bussiere/workspace/todo/habitr

[2013-04-07 11:41] wizonesolutions commented on #781
Looks like you should just do

[code]

On Sun, Apr 7, 2013 at 1:23 PM, bussiere notifications@github.com wrote:

[2013-04-07 12:11] lemoness commented on #107
Pets - Okay, that's fine about the duplicates! I do think that it looks much better if the stable page itself is clean, with the additional space option, and the pet collection page is just something to reference. Plus it makes it more obvious how to see the close-up details of any pet you want to click on.

Now for the real news: MAGE COSTUMES ARE COMPLETELY DONE!!!!!

Level five:
![compmage5blac

[2013-04-07 12:55] lexa commented on #786
The library which i use for http request always adds "Content-length" header in any post request, this does not turn off, and i can't switch to another library. Moreover i belive that adding "Content-length:0" should not affect http server behavior.

I don't understand what do you mean by "Actually, you've tried using the plugin API with the full API syntax." . In my example uses full API with one

[2013-04-07 14:16] JacquelineChoo commented on #405
Hi there! I too suddenly died when I opened Firefox in Windows 7. I had tabs from my last session, but I don't know when I last opened firefox. I'm guessing it was at least 3 days ago.

I will email you to request for an account restore. Thanks in advance Lefnire :)

[2013-04-07 14:25] lefnire commented on #107
Yaaaaaaaaaaaay! Three cheers for lemon!
On Apr 7, 2013 8:11 AM, "lemoness" notifications@github.com wrote:

[2013-04-07 14:30] lefnire commented on #781
also downgrade to 0.8.x, Derby (and many other node modules) don't work on
0.10.x yet

On Sunday, April 7, 2013, Kevin Kaland wrote:

[2013-04-07 16:23] lefnire commented on #405
Hey @dirged , use https://github.com/lefnire/habitrpg/wiki/Restoring-Your-Account#restoring-your-avatar-stats-items-accidental-death-etc to restore your account for now. Let's follow up on the particular bug at https://github.com/lefnire/habitrpg/issues/700

[2013-04-07 19:25] lefnire commented on #769
I found a repro-able account to test locally. It's fixed when `NODE_ENV=development` (no clue why) or when using Websockets:

[code]

It seems simply to be an availability performance issue. I'm going to see if I can get Websockets enabled on beta.habit (still wrapping my head around Chef, needing to override the Nginx cookbook version attribute). This should stop-gap the problem, but I still need

[2013-04-07 19:33] litenull commented on #769
Ok, i knew it. :P

[2013-04-07 21:29] ghost opened #787 "Losing HP and connectivity"
I am being told I am offline. Checked internet connectivity, and nothing was wrong, so I cannot gain XP currently. I switched from chrome to firefox to see if it was the browser. I lost extra HP, so it is not syncing well, I guess.

[2013-04-07 21:34] ghost commented on #787
update, refreshed on chrome and my HP went down again. It is still telling me I am offline, and I cannot even buy a potion or check anything off.

[2013-04-07 22:06] lefnire opened #788 "Conversation on partial user objects (object not having all it's fields)"
https://groups.google.com/forum/?fromgroups=#!topic/derbyjs/Itvh1OixCrA

Of interest to @toebu @switz @yangit , I think we've all spotted this at some point. Anyway, self-destructing ticket

[2013-04-07 22:06] #788 closed, assigned to nobody

[2013-04-07 22:13] lefnire commented on #787
@faerieafterdark can you try on beta.habitrpg.com? you can use https://github.com/lefnire/habitrpg/wiki/Restoring-Your-Account#restoring-your-avatar-stats-items-accidental-death-etc to restore your stats for the time being, hit me up with beta.habit results

[2013-04-08 00:23] lefnire commented on #233
that commit should fix it (will deploy with next restart)

[2013-04-08 00:23] #233 closed, assigned to nobody

[2013-04-08 00:46] lefnire commented on #777
I pushed a possible fix. if my theory is correct, some tasks aren't being deleted properly when the trashcan is clicked (likely because it's clicked on a server crash or peak memleak), leaving a rogue / invisible task that's unfairly docking points. This fix restores the task the next morning if it wasn't properly deleted, so that you can click the trash-can to properly delete it this time. I coul

[2013-04-08 00:49] lefnire commented on #700
got a duplicate over at https://github.com/lefnire/habitrpg/issues/777#issuecomment-16027991 , let's follow up there since I have some more info there

[2013-04-08 00:49] #700 closed, assigned to nobody

[2013-04-08 00:57] lefnire commented on #727
When they aren't unchecked, it's almost certainly a case that a javascript error halted execution of the page scripts, and "cron" is never reached. If anyone experiences this issue, open up firebug / chrome console / etc, to get the javascript error and paste it here. If you get it consistently, [email me](mailto:tylerrenelle@gmail.com) your user id and I can test it locally to see what's up

[2013-04-08 00:58] ghost commented on #787
Hi, I restored my HP and beta is working for me. Thanks for your help!

On Apr 7, 2013, at 6:13 PM, Tyler Renelle wrote:

[2013-04-08 01:00] lefnire commented on #619
dupe of #614, and I believe #769 too (at least, I think 769's resolution will solve this)

[2013-04-08 01:00] #619 closed, assigned to nobody

[2013-04-08 01:00] lefnire commented on #614
#769 definitely related (at least, I think 769's resolution will solve this). Let's follow up there

[2013-04-08 01:00] #614 closed, assigned to nobody

[2013-04-08 01:02] lefnire commented on #635
this is a mystery bugger! I'll keep this on my mind as I go through fixing crits, but I'm not sure yet how to approach this. I'll keep y'all posted

[2013-04-08 01:04] lefnire commented on #472
let's follow up at #777, dupe and i added some detailed comments there

[2013-04-08 01:04] #472 closed, assigned to nobody

[2013-04-08 01:06] lefnire commented on #727
@mihakuu i think you were experiencing this too

[2013-04-08 01:15] lefnire commented on #787
I honestly think it's the recent surge of traffic causing 165 & data issues (we got a recent big push from France). I'd say use beta.habit as your primary until we get 165 fixed

[2013-04-08 02:21] wizonesolutions commented on #786
Yeah, you're right. Probably the only thing you are missing is `--compressed`. It really will fail without that.

[2013-04-08 02:26] switz commented on #786
I'll take a look into this. It has nothing to do with `--compressed` (well, you do need it, but that's not why it's failing here).

[2013-04-08 03:00] wizonesolutions commented on #786
lexa: Try changing it to `Accept: application/json` instead of
`Content-Type` (or sending that as well). That helped me with a `DELETE`
error I was getting. @arscan have you gotten weird 500s?

On Mon, Apr 8, 2013 at 4:26 AM, Daniel Saewitz notifications@github.comwrote:

[2013-04-08 03:46] Mihakuu commented on #727
I did yesterday. My habits refreshed over night for today though.

[2013-04-08 07:04] tellezhector opened #789 "Bad sync with tomato.es"
tomato.es gives you a 15m break after 4 tomateos.

After 5 mnutes of this long break, HabitRPG extension keeps taking your lifepoints!

I have died too many times because of this.

[2013-04-08 10:10] StanLindsey commented on #789
This is a known bug at this stage; check out the habitrpg-chrome board;
https://github.com/lefnire/habitrpg-chrome/issues?sort=updated&state=open

specifically these issues;

https://github.com/lefnire/habitrpg-chrome/issues/60
https://github.com/lefnire/habitrpg-chrome/issues/59

Cheers =D

[2013-04-08 10:10] #789 closed, assigned to nobody

[2013-04-08 14:07] dbueller opened #790 "Alternate input methods suggestion"
Personally, I don't like having to use the mouse if I don't have to.  I was wondering if we could get some keyboard shortcuts for habit so that I can arrow around and check off items from the keyboard.  If that is possible, mapping the keyboard inputs to a usb gamepad would be trivial and (in my opinion) quite amazing.

[2013-04-08 14:40] wizonesolutions commented on #790
A workaround for this at the moment is to use a Vim-like plugin for your browser.

Vimperator or Pentadactyl for Firefox.

Vimium for Chrome.

There's something for Safari too that isn't really maintained, but I think it still worked last time I tried.

But yeah, native keyboard shortcuts would be cool!

[2013-04-08 15:59] dadadel opened #791 "Failed to run server.js"
Hi,

I'm trying to install habitrpg on a Raspberry pi. I followed the Running Locally wiki page but I encounter an issue running the server.
- Context:

On Linux Raspbian Wheezy I've compiled:
Raspie-MongoDB (MongoDB shell version 2.1.1)
node v0.8.22
then cloned and installed habitrpg
I kept the initial config.json.example renamed into config.js
- Issue:

running:

   node server.js

The program p

[2013-04-08 19:05] bussiere commented on #781
thanks

[2013-04-08 21:15] arscan commented on #786
Since you aren't posting any content in the body, you probably should remove the Content-Type header.  When I have that header, I get this error on my locally running server:

[code]

When I removed it, it seemed to work just fine.

[2013-04-08 21:48] arscan commented on #786
Seems like the appropriate way to handle this in connect is actively being discussed: https://github.com/senchalabs/connect/issues/415

Regardless, if you are not sending anything in the body, I think the best course of action is to remove that Content-Type header, as that's a lie ;-)

[2013-04-09 01:27] arscan commented on #786
...or if its easier, just put in "{}" in the body, as that's valid json (which will change the content-length, of course).

[2013-04-09 02:15] willross33 opened #793 "Re-Roll doesn't provide feedback or avoid double-submits"
1. I paid money to buy tokens.
2. I clicked Re-Roll.
3. I clicked Re-Roll again because the UI hadn't responded and I assumed my first click had been lost.
4. I noticed that I was down 8 tokens.

Not optimal.

[2013-04-09 02:18] lefnire commented on #793
Did the Reroll work at all after second time? What's your user id I'll give
you our more tokens
On Apr 8, 2013 10:15 PM, "willross33" notifications@github.com wrote:

[2013-04-09 02:20] willross33 commented on #793
The re-roll did work after the second time.

I don't know if it worked after the first time; the re-roll dialog was still up and I didn't think to close it and check.
It is entirely possible that it worked the first time and I just didn't realize.

username: wross

[2013-04-09 02:33] wc8 commented on #759
#777 perhaps

[2013-04-09 02:37] wizonesolutions commented on #587
Yup, custom day starts work fine, but the coloring doesn't. If nobody else is having a shot at this, I might. It's probably trivial no?

[2013-04-09 02:38] wc8 commented on #793
I almost re-rolled twice, thinking the first one didn't take, but I happened to think to check first.
Hence this suggestion: [Feedback on Spending Tokens](https://trello.com/c/1H9muPdK)
It could probably avoid some future tickets regarding lost tokens, failed purchases if users had a clear notification after clicking something that spent tokens. "Re-roll applied" or "Re-roll applied, 4 tokens spen

[2013-04-09 03:11] lefnire commented on #793
@willross33 increased your tokens. I think these are actually two bugs: (1) large actions still taking a long time to processes (batch update issues I'm working on), and (2) page rewrite issues futzing with modal-closing scripts. In the past the transaction was more obvious, but those two issues make it less obvious. Then there's @wc8's suggestion which will help too. so 2 bugs, 1 feature request.

[2013-04-09 06:09] rixx commented on #777
@lefnire: I had this issue, too (and died twice because of it). I make sure to refresh to see if my Dailies are really checked.

This might or might not be of help: I use two PCs, my work PC and my laptop at home. (Both running an up-to-date Linux with Firefox.) They never seemed to be completely in sync: Tasks were all right, but Dailies an XP weren't. So when I marked all Dailies as 'done' at wo

[2013-04-09 06:15] rixx commented on #775
I wouldn't charge a token; I'd rather let two eggs be exchanged for one (or make that an alternative option).

[2013-04-09 06:27] rixx commented on #768
Can't confirm - I think it would help if you could specify what OS and browser you are using.

[2013-04-09 06:31] rixx commented on #761
Might be related to #777?

[2013-04-09 06:39] rixx commented on #745
I've hade this problem forever - I don't even remember if it was different in the very beginning, though it might have been. Have had it on up-to-date Firefox under Android, Arch Linux and Ubuntu Linux.

[2013-04-09 06:50] rixx commented on #685
I'm all for a ranking, too. It's motivating for some, and we don't need to make it too prominent so no-one will be discouraged.

[2013-04-09 06:54] rixx commented on #678
Since python-habitrpg doesn't exist anymore, I'd guess you now both work on pyhabit? In that case we might close this ticket.

(Also, let me know if I can help over there!)

[2013-04-09 06:56] rixx commented on #663
I've had this happen, too, but thought it was intentional, since levelling down would be difficult - e.g. what to do with the HP you gained when you got the level up? I thinkit might be kind of complicated to take them away again, but leving you with full HP doesn't seem right, either.

[2013-04-09 06:58] rixx commented on #659
I think this is not an issue anymore, since pets were moved a bit downwards.

[2013-04-09 06:59] rixx commented on #655
Doesn't happen anymore, I think.

[2013-04-09 07:00] rixx commented on #651
#777

[2013-04-09 07:02] rixx commented on #640
Happened for me until yesterday or so; seems to be fixed now. (At least in Firefox/Ubuntu.)

[2013-04-09 07:27] ghost commented on #678
Affirmative. I have renamed my version to pyhabit (https://github.com/xeross/pyhabit), however unfortunately both me and elssar have been a bit busy so it's almost identical to python-habitrpg except for the name

[2013-04-09 07:34] rixx commented on #635
I think this might also be the same (or related to) #777? I'm experiencing this, too, and I'd be more than happy to help in any way I can.

[2013-04-09 07:41] rixx commented on #678
Ok, thanks, then I know where to go.

(Can you close this issue then? I always feel sorry for lefnire when I see the gazillion open issues.)

[2013-04-09 07:56] TheRise88 opened #794 "HabitRPG freezed"
The page is not responding anymore. Cannot edit tasks, cannot delete them, cannot flag them. Cannot find my inventory, stable and market anymore. Since two days everything is completely stuck. Tried to access from different devices, and both logging in as standard user and beta user.
Critical thing: I'm realizing I was somewhat dependent on habitrpg since I'm not doing much work since Sunday :S

A

[2013-04-09 07:57] rixx commented on #697
Huh? What did I miss; why'd you reopen this issue? It looks fixed for me.

[2013-04-09 08:00] tellezhector commented on #789
Oh! My bad, I couldn't find something related so I thought I was being helpful. Next time I'll be a little more careful. Thank you very much. I love the app!

Sent via the HTC Vivid™, an AT&T 4G LTE smartphone

----- Reply message -----
From: "Stan Lindsey" notifications@github.com
To: "lefnire/habitrpg" habitrpg@noreply.github.com
Cc: "bloodyvesp" bloody.vesp@gmail.com
Subject: [habitrpg] Bad syn

[2013-04-09 08:47] BelgarathS commented on #745
Actually in current betta it seams to be much better on all actions other than initial load (or reload)

[2013-04-09 08:51] lemoness commented on #777
Also been happening to me! I think that mine is related to my dailies not staying checked if they are every-other-daylies or weeklies, ie I complete my exercise on Wednesday and check it off, but then it unchecks it and by the time the reset on Sunday rolls around, I get massively docked :/

At least for me, I think this is partially related to the fact that my custom day start is 6am, but the eve

[2013-04-09 08:57] rixx commented on #745
Same here; the initial load remains problematic, though, and sometimes comes close to crashing my browser.

[2013-04-09 09:00] #678 closed, assigned to nobody

[2013-04-09 11:23] lemoness commented on #775
If people are sending to friends, though, that doesn't balance out. It
would be nice to have one system that could be used for both the
inter-party trading as well as a possible NPC trade, and the single token
covers that very cleanly. Plus, you'd only be paying 25 cents, which is a
third of what you'd normally pay for an egg, but it could help out Habit a
lot in the long run.

On Tue, Apr 9, 2013

[2013-04-09 12:28] willross33 commented on #793
Oh yeah that's a few more tokens!

Thanks for the ultra fast support.

Those fixes sound about right. Keep up the good work -- I frickin' love this app!!

[2013-04-09 12:28] #793 closed, assigned to nobody

[2013-04-09 12:58] wc8 commented on #794
Try beta.habitrpg.com
See #427 & #787 for more instructions

Note: possibly related to #619 and #769

[2013-04-09 15:31] caycefischer commented on #697
O_o I'm not sure. Could have been a mis-click

[2013-04-09 15:31] #697 closed, assigned to nobody

[2013-04-09 17:22] lefnire commented on #755
fixed, see above commit lot

[2013-04-09 17:22] #755 closed, assigned to nobody

[2013-04-09 17:22] lefnire commented on #773
@applejess can you try beta.habitrpg.com and see if the above commit fixed the problem?

[2013-04-09 18:06] lefnire commented on #769
There's a chance that https://github.com/lefnire/habitrpg/commit/72ee444608c97a5395275d94c504fd3ec9d43ea1 fixed this issue, could someone test on https://beta.habitrpg.com?

[2013-04-09 18:12] lefnire commented on #587
@wizonesolutions please do! i'm not working on it now, so you won't be stepping on any toes

[2013-04-09 18:16] TheRise88 commented on #769
nothing changes :(

[2013-04-09 18:17] TheRise88 commented on #769
Actually it's even less responsive: before I could open the window clicking on my avatar at least

[2013-04-09 18:30] lefnire commented on #777
Is there anyone on this thread _not_ using multiple computers?

[2013-04-09 18:36] amirdt22 commented on #777
I am using multiple computers.  I didn't notice deleted tasks come back.

[2013-04-09 18:37] lefnire opened #795 "nginx maxes out filesystem with log writes"
tasks:
- √ run logrotate in `chef-client` run-list
- √ limit logrotate to smaller number
- increase aws filesize

[2013-04-09 19:12] rawbherb opened #796 "Just randomly died"
I just leveled up yesterday, and I had 45 health today, but when I went to Habitrpg it gave me a game over screen! Has this been a common problem?

-I was CLOSE to dying before I levelled up. Would that have anything to do with it?
-Is there any way to get my armor/level back? :$

[2013-04-09 19:26] lefnire commented on #796
Follow up on https://github.com/lefnire/habitrpg/issues/777 . I'm diagnosing currently, most likely case is using multiple computers

[2013-04-09 19:26] #796 closed, assigned to nobody

[2013-04-09 20:59] kriscrat commented on #768
The issue has stopped now.  I don't remember if I was using Chrome or
Firefox.  Windows 7 home premium.

On Mon, Apr 8, 2013 at 11:27 PM, Rike Kunze (rix)
notifications@github.comwrote:

[2013-04-09 21:37] lefnire commented on #791
Can you try this with the latest push to the develop branch? Does node.js
work normally on Raspberry Pi? How about DerbyJS?

On Monday, April 8, 2013, dadadel wrote:

[2013-04-09 21:41] lefnire commented on #777
It seems multiple computers is the common denominator. I'm going to upgrade nginx a la https://github.com/lefnire/habitrpg/issues/769 and try enabling websockets today and tomorrow, I'll see if that doesn't help with this issue. Will get back to y'all in a few days

[2013-04-09 21:44] lefnire commented on #635
yeah, I'm almost certain #777 & #635 are related. These two are on my forefront.

[2013-04-09 22:26] lemoness commented on #777
Ahh, I am using the same computer every time - but I really do think that
mine is linked to the time disparity, so it might need a separate ticket.

On Tue, Apr 9, 2013 at 11:41 PM, Tyler Renelle notifications@github.comwrote:

[2013-04-09 22:28] lefnire commented on #777
@lemoness can you try custom day at 0 for a couple days to see if it changes it, while I work on my other theories in the background?

[2013-04-09 23:18] SamPearson commented on #794
Same issue here; My account (name: spizzo, id: b19c741d-1afd-4f1f-bb8c-88f7a7aec703) has all tasks locked into the state they were in on saturday or sunday night. Clicking unfinished tasks will not mark them grey or add xp/gold to my character. I cannot edit habits, dailies, todos, or rewards. Attempting to modify the character via the restore tool doesn't affect the character.

Same behavior is s

[2013-04-10 00:20] applejess commented on #773
I would, but I just keep getting "The server is experiencing issues."

On the bright side, everything isn't loading at once anymore! Only because nothing is, but it's a start. Sort of.

[2013-04-10 00:23] lefnire commented on #773
can you try again? you probly hit it on the 165 2h cron restart cusp.

[2013-04-10 00:24] applejess commented on #773
Nope. Been trying for the past four hours now, periodically.

[2013-04-10 00:26] lefnire commented on #773
@applejess what's your uuid or username?

[2013-04-10 00:27] applejess commented on #773
6e59b675-7168-4088-a2ad-6c08e5a1d26b

[2013-04-10 02:34] mkirmes commented on #794
Same issue as SamPearson, stuck on stats from Sunday night.
Not the behavior described from #427, #787,
Also seems different from #769.

bug both on beta & normal, in Firefox and Chrome (on Windows 7 & 8), different laptops, also in private mode.

Firebug says:
TypeError: t[n] is null
...ion"==typeof e[e.length-1]&&(t=e.pop()),this._sendOp("unshift",e,t)}},insert:{ty...
HQ5bLe...dhBQ.js (Line 3)

[2013-04-10 02:41] lefnire commented on #794
Ok, we have Websockets on beta.habit - can someone try that one again?

[2013-04-10 02:43] mkirmes commented on #794
While I have no idea what websockets are, it does work on beta now.

EDIT: and now also again on normal habit.

[2013-04-10 02:50] SamPearson commented on #794
Verifying that it's working for me on beta.habit as well. Grey habits were present but could be deleted.

[2013-04-10 03:26] lefnire commented on #795
thanks @alanthing!

[2013-04-10 03:26] #795 closed, assigned to lefnire

[2013-04-10 03:27] alanivey commented on #795
YABURNT!

[2013-04-10 03:28] lefnire commented on #794
what whaaaat! we're live on prod with websockets, is anyone here experiencing this issue any more?

[2013-04-10 03:29] lefnire commented on #769
what whaaaat! we're live on prod with websockets, is anyone here experiencing this issue any more?

[2013-04-10 03:31] lefnire commented on #773
The story gets more interesting! I'm debugging your account locally, everything loads just fine for me. Now, beta.habit is running great, low resources & I can load my account. also, We just pushed websockets to beta & prod. I have a hunch... can you clear cookies for habitrpg.com and try again?

[2013-04-10 03:34] lefnire commented on #795
lol

[2013-04-10 03:48] rixx commented on #768
Why not close the issue then? :)

(Just so poor lefnire has one ticket less on his list.)

[2013-04-10 03:53] rixx commented on #774
The issue can be closed, then?

[2013-04-10 03:55] lefnire commented on #794
@mkirmes that JS dump will be _most_ helpful. I'm hoping websockets will stop-gap the issue while I diagnosing the underlying cause, and those errors will help me a ton. Thanks

[2013-04-10 03:57] rixx commented on #441
Was fixed and can be closed.

[2013-04-10 04:00] rixx commented on #635
Btw, for everyone experiencing this: move your Dailies to normal Habits, and instead of ticking them off, click the + or - in the evening depending on how you did. It isn't nice, but it's a workaround that will not dock HP of its own.

[2013-04-10 04:03] rixx commented on #399
Now it's different (for me, at least, Firefox/Arch Linux), but the tooltip still behaves differently. Sometimes it doesn't appear, then flickers if you hit the right spot.

[2013-04-10 04:04] lefnire commented on #441
ah yes, thanks @rixx

[2013-04-10 04:04] #441 closed, assigned to nobody

[2013-04-10 04:06] lefnire commented on #399
actually should be fixed as of https://github.com/lefnire/habitrpg/pull/757, @rixx is that the case for all rewards?

[2013-04-10 04:06] rixx commented on #558
#777, I think.

[2013-04-10 04:06] lefnire commented on #558
yes indeed, let's follow up there

[2013-04-10 04:06] #558 closed, assigned to nobody

[2013-04-10 04:10] rixx commented on #399
Nope, just the re-roll one.

(BTW, I hope it's ok that I go through old tickets and comment on the ones that should or could be closed. If not: just say a word.)

[2013-04-10 04:13] rixx commented on #572
Fixed for me. Entering 0.1 Gold docks 10 Silver as it should.

[2013-04-10 04:17] rixx commented on #596
but persists - wouldn't it be fixed if HP was actually always rounded up?

[2013-04-10 04:18] lefnire commented on #399
you're doing great :) i'll just wait a bit to hear back from the ticket owners & close otherwise, thanks for the help

[2013-04-10 04:19] SamPearson commented on #794
Looks good on production, nice job.

[2013-04-10 04:21] rixx commented on #403
It's been some time - do you still experience this problem, @NinjaOtt3r?

[2013-04-10 04:34] DevonOrxi commented on #794
Same issue here... But then it came back today and my lv 8 character was dead.

My user is Hariel Cid   (b025b30e-373f-4324-96ff-400a4ecd85be)

[2013-04-10 04:37] DevonOrxi commented on #777
I randomly died after several days frozen.

And I am using a single computer.

User: Hariel Cid    (b025b30e-373f-4324-96ff-400a4ecd85be)

[2013-04-10 05:21] TheRise88 commented on #794
@TheOneAndTrueAcid you can go to settings->danger zone->restore

[2013-04-10 05:27] TheRise88 commented on #794
Also for me the issue is not persisting. Great job!! =)

[2013-04-10 08:47] Dayde opened #797 "show/hide header doesn't move up/downwards the content"
While showing/hiding the header the content doesn't stick to the top of the page (it needs refreshing the whole page).

While it is not really a problem when hiding, the header is overlapping the content when showing it.

This bug was experienced on google-chrome, ubuntu 12.10.
![hiding](https://f.cloud.github.com/assets/1503452/361183/2fa39d62-a1bb-11e2-8a5b-0f09321586d9.png)
![showing](https://f

[2013-04-10 10:24] rixx commented on #574
(And if you posted it over there, you might close this ticket.)

[2013-04-10 10:28] MiriamELewis commented on #574
I'll close it now. Changes to the website have made it completely unusable by me and the same has happened to the Chrome extension. I don't have the time to look into the issues so I've simply left for the time being. Its a shame as it worked fine enough until the Kickstarter finished and you got my money. >.<

[2013-04-10 10:28] #574 closed, assigned to nobody

[2013-04-10 10:32] rixx commented on #497
@cmock13 @a7h13f: Does it work by now? If not, you should maybe consider closing this Issue and opening another one over at https://github.com/lefnire/habitrpg-chrome.

[2013-04-10 10:33] rixx commented on #602
Has this happened again or were you able to reproduce it?

[2013-04-10 10:43] lemoness commented on #777
@lefnire I'll give it a try for the sake of the team. Let's be real, it's
probably better for me to get more sleep anyway.

On Wed, Apr 10, 2013 at 6:37 AM, TheOneAndTrueAcid <notifications@github.com

[2013-04-10 11:25] wildcate commented on #782
I've had an egg drop (though not the automatic first one on implementation) and two base potions, despite doing quite a bunch of tasks including some very, very red ones. It's a tricky question really - and like so many things in Habit, it will never be deemed fair all across the board.

I think tying an automatic egg drop (or maybe an automatic potion drop) to certain levels would even out things

[2013-04-10 12:55] dadadel commented on #791
Thanks for your reply.

I pulled the develop branch and there was a difference.

The server.js run without stopping :).
The web browser replies "Cannot GET /".
The server provides errors and in particular one message concerning a bad identity for gmail account.
So I created an account and set the config.json with login/pwd.

After that, there was still an error related to mongodb "Error connecting

[2013-04-10 13:29] lefnire commented on #574
Miriam what specifically isn't working on the website?
On Apr 10, 2013 6:28 AM, "MiriamELewis" notifications@github.com wrote:

[2013-04-10 13:32] hoylemd commented on #602
I haven't actually been using HabitRPG regularly for quite awhile, but I don't remember it happening again sicne I opened this issue.

[2013-04-10 13:38] rixx commented on #602
Might aswell close it, then :)

[2013-04-10 13:39] #602 closed, assigned to nobody

[2013-04-10 13:46] lefnire commented on #791
The "Cannot GET /" thing is fine, you just need to refresh the page again after that. The Gmail thing is fine too, it's just trying to email you the error it just showed you https://github.com/lefnire/habitrpg/pull/632 .

Is mongo configured and running properly? Everything looks fine to me except `Erreur du bus` , is that a seg fault? Also, you're definitely not going to be able to get it working

[2013-04-10 13:48] lefnire commented on #777
@TheOneAndTrueAcid good! That means it's working again :) Sorry about the death though, go to User -> Settings -> Danger Zone -> Restore

[2013-04-10 13:52] lefnire commented on #619
@inbasso3 @Skater6780 how are things now?

[2013-04-10 13:53] lefnire commented on #794
ok, i'm gonna knock this down to `important` unless it comes up again - i'll keep it open for now while i investigate the underlying cause

[2013-04-10 13:53] Overflow0xFFFF opened #798 "Scrollable Party Menu"
Small backstory:

I began actively using your wonderful creation a few weeks ago. About two days ago, one of my friends complained about the difficulty in forming new habits, so I suggested HabitRPG to him. Due to his competitive nature, we thought it would be best to create a party together to track one another's status. Soon, HabitRPG began to spread like wildfire amongst my friends, and we all

[2013-04-10 13:54] lefnire commented on #769
should be fixed now, knocking down to `important` unless it comes up again

[2013-04-10 14:30] rixx commented on #609
This issue is fixed - at least for me on a Galaxy S mini.

[2013-04-10 15:31] DevonOrxi commented on #777
Thanks a lot! :D

[2013-04-10 15:34] lefnire commented on #777
added tokens for all the woes, sorry 'bout that

[2013-04-10 15:50] Gooseus opened #799 "Lost Party Members"
Hey Tyler, we used to have 6 member in our party and as of yesterday we suddenly had 4.  Has a party limit been instituted or was there a glitch?  Both of the other members who were dropped are apparently no longer in a party.

[2013-04-10 15:58] dadadel commented on #791
Mongo seems to work properly. Is there something special to do to configure it? Shall I create manually a database?

It seems that "Erreur du bus" means "core dump"

[2013-04-10 16:05] lefnire commented on #791
Do `mongo habitrpg` and you get a console just fine? So after the core
dump, it crashes the server and you can't load localhost:3000?

On Wed, Apr 10, 2013 at 11:58 AM, dadadel notifications@github.com wrote:

[2013-04-10 16:16] pjf opened #800 "Calling /down on a daily task via the API causes XP and GP loss, not HP loss"
To begin with, I have 35.6 HP:

[code]

I'm using a tweaked `hrpg` to clear daily tasks...

[code]

Note that my XP and GP have gone _down_, but my HP is the same.

Expected behaviour: I take damage when I `/down` a daily task via the API. Calling `/down` on habits works just fine.  (I haven't tested with TODOs.)

Even better: Tasks clear (and damage the user) without needing to visit the website.

[2013-04-10 16:36] UnicornTamer opened #801 "Purchasing items disables item comments until refreshing"
1. Hover over an item's comments, works fine
2. Purchase an item
3. Hover over another item's comments, they don't show
4. Refresh, they work again

Chrome Version 26.0.1410.63
Mac OS X: Version 10.8.2

[2013-04-10 19:17] a7h13f commented on #497
@rixx The issue is resolved, at least for me

[2013-04-10 20:00] ghost opened #802 "Item purchase didn't subtract any gold"
Today I purchased the Sword. I think I did see the pop-up that it cost me money (I didn't check money right away). But a bit later, I noticed I still had the same amount of gold, even though now I only have the option to buy an Axe, so the order did go through.
Maybe relevant: I had both the beta and normal server open at the same time while this happened, and I think I was using the beta server a

[2013-04-10 20:32] kriscrat opened #803 "lost todos"
I randomly lost a bunch of Todos.  As far as I can tell, all the ones I've added in the last week or so are gone.  Is there any way to restore them?  I had some stuff for work saved in the notes.  :/

[2013-04-10 20:41] lefnire commented on #803
can you name one? the exact text, so i can do a mongo search?

[2013-04-10 21:07] kriscrat commented on #803
I have long titles,  but I'll try! 

S 4/14 act training

D 4/15 4:30 Amelia c/t/prep

From my Android phone on T-Mobile. The first nationwide 4G network.

-------- Original message --------
From: Tyler Renelle notifications@github.com
Date:
To: lefnire/habitrpg habitrpg@noreply.github.com
Cc: kriscrat ms.riggin@gmail.com
Subject: Re: [habitrpg] lost todos (#803)

can you name one? the exact text,

[2013-04-10 21:28] applejess commented on #773
I didn't even need to clear cookies. It's working now! Thanks.

[2013-04-10 21:37] lefnire commented on #803
can you try now on beta.habitrpg.com? I pushed the above commit which restores missing tasks. It's issue with habit since the dawn of time, but I thought we'd solved it so I previously moved it to the cron function (meaning your tasks should have been restored tomorrow morning, but that's not acceptable obviously). I made a backup of the database in case we need to revert anything.

Now, I noticed

[2013-04-10 21:38] #773 closed, assigned to lefnire

[2013-04-10 22:29] kriscrat commented on #803
Yaaaaay!  thank you.

All of my tasks have reappeared in both beta.habitrpg.com and habitrpg.com.  They have appeared at the bottom instead of at the top, but I can handle moving them around.

I am not sure how many tasks I have, but that seems right!  Things perform well enough most of the time.  I LOVE having my crazy todo list in game form!  Things do get laggy sometimes, and I have to refresh

[2013-04-10 23:34] lefnire commented on #803
Ok, made one final edit. Double check that everything is kosher, and then yes - I'd recommend clearing completed. Over time I'll be moving as many dynamic bindings out to static bindings as is functional, but at present most things int eh interface are dynamic bindings. A single task has about 4-5 bindings, plus 4-5 listeners - multiply that by 300, and every click or drag could cause some major s

[2013-04-10 23:38] #803 closed, assigned to lefnire

[2013-04-11 00:59] Shaners commented on #803
Oh wow didn't realize I had about 153 completed tasks clogging things up. Cleared them and now I can drag Todos around to rearrange them. Previously it would just hang there forever when click dragged in chrome but worked fine in firefox so I just thought it wasn't supported for chrome...

How hard would it be to implement an archive completed tasks button? This feature might remove all your compl

[2013-04-11 07:02] ghost commented on #803
Having an archive of completed tasks, that doesn't do any binding would be nice :+1:

[2013-04-11 07:50] dadadel commented on #791
'mongo habitrpg' open a console, then 'show dbs' outputs:
habitrpg        (empty)
local   (empty)

Yes, when the server crashes it is impossible to load localhost:3000. And it crashes before having any response from localhost:3000

The pity is that there is no debug information to investigate where does it crash!

[2013-04-11 14:25] lefnire commented on #803
The easier temporary solution for now will be to remove all dynamic
bindings (save Title) on the "completed" task templates, then I'll
implement the recommended.

On Thursday, April 11, 2013, Xeross wrote:

[2013-04-11 14:39] lefnire commented on #798
We'll add that. I'm marking as minor only because I originally intended to limit the party sizes to 5 - there are some subscription performance issues with large parties, as well as interface problems (which you're experiencing). Having a very large party is sort of living on the edge until I can get some other things squared away, so I'll revisit this when I can. Also tagging @zakkain as we were

[2013-04-11 15:49] HHF opened #804 "Habits, Dailies, Todos, and Rewards all gone*"
*But somehow, one Daily survived.

I refreshed HabitRPG this morning and it was all just gone. I don't think I've created a new task for days, and I'm fairly sure the vast majority of these were weeks or even over a month old at this point, so I don't think this is a "refreshed during a server restart" issue. I don't know if this is relevant, but last night I was having trouble with my router, so

[2013-04-11 16:03] lefnire commented on #804
@HHF can you try now?

[2013-04-11 16:06] HHF commented on #804
Looks like everything's back, awesome. Everything's listed in a completely different order for some reason, but that's easy enough to fix. Thank you!

[2013-04-11 16:12] lefnire commented on #804
Nail on the coffin for refLists. id-lists just get wiped all the freaking time, we'll definitely be moving to arrays https://github.com/lefnire/habitrpg/issues/634

[2013-04-11 16:12] #804 closed, assigned to nobody

[2013-04-11 19:06] kriscrat commented on #803
I am! I work multiple jobs, so I use a code for each and H for home so I know what to ignore when.  A possible future feature idea: ability to hide certain categories of todos, so when I'm at job1, I could filter to see only tasks for job1. 

From my Android phone on T-Mobile. The first nationwide 4G network.

-------- Original message --------
From: Tyler Renelle notifications@github.com
Date:
To

[2013-04-11 19:08] lefnire commented on #803
https://trello.com/card/tags-categories/50e5d3684fe3a7266b0036d6/43

On Thu, Apr 11, 2013 at 3:06 PM, kriscrat notifications@github.com wrote:

[2013-04-11 19:23] kriscrat commented on #803
gorgeous!

On Thu, Apr 11, 2013 at 12:08 PM, Tyler Renelle notifications@github.comwrote:

[2013-04-11 19:46] lefnire commented on #804
I know what happened. We're tracking unroll-me/derby#master and lefnire/racer#habitrpg. derby up'd the Racer dep to  0.3.15, but lefnire/racer was still at 0.3.14 - showing incompatible versions. So the good racer was installed top-level node_modules/, but never used - while the bad racer was installed within node_modules/derby. So all our old errors (which got fixed when we switched to SLaks/race

[2013-04-11 19:59] ianjohnsa opened #805 "Due date calendar and text display for Todos don't agree"
When I select a due date using the pop up calendar for a todo task, the actual text date that is inputted into the due date field is one day later than the calendar date I select. So, for example, if I choose my task to be due on 4/12 by clicking on that date with the pop up calendar, the date that is automatically filled into the due date field is 4/13. This is confusing because I don't know whet

[2013-04-11 21:37] lemoness commented on #782
So far it seems like
1. Having eggs at set levels seems popular! What levels would those be?
2. The automatic egg drop for people over level 4 did not work.
3. Tying drops to streaks and rewards should definitely happen.... in the
   future.

I'm still not sure that the percentage isn't too small.... 1% as a base is
just really, really low.

On Wed, Apr 10, 2013 at 1:25 PM, wildcate notifications@

[2013-04-12 07:03] wildcate commented on #782
Regarding the set levels... probably not too many, so it still is an incentive. Maybe every 7 levels? Starting with lv 4 - so 4, 11, 18, ... and so on. (Am I the only one who feels that leveling up is still really easy, btw?)

And yes, 1% as a base is very low, but the question is how much the base increases for red tasks and really red tasks. If for a longtime list lounger task it would increase

[2013-04-12 15:22] AdrienLemaire commented on #542
Getting the same issue, {"err":"No user found."}  using my user id and api key. No idea why, and there is no option for regenerating keys. Any support would be appreciated, thanks in advance.

[2013-04-12 15:48] lemoness commented on #782
Hm. Maybe every 8 levels (since it starts at 4, and 8 is a multiple)?
So level 4, 12, 20, 28...
I also feel like I level up very quickly, but I think it's because I have
the lv 6 sword.

Apparently the highest it can get is 25%, so that's pretty high. I don't
know. I just still haven't gotten a single drop despite doing a bunch of
yellow, orange, and red activities everyday, but I seem to be the o

[2013-04-12 17:56] Shaners commented on #782
I'd just keep it to levels 10, 15, 20, 25, 30 or 10, 20, 30, 40 to simplify things unless you wanted to semi obscure which I don't see much of a point to doing.

[2013-04-12 19:37] lefnire commented on #805
See https://github.com/lefnire/habitrpg/blob/master/src/app/browser.coffee#L200 - I actually _deliberately_ set the date a day ahead, because from all my testing it was setting it a day behind. Either there's some client-side inconsistency going on, or datepicker may have fixed the original issue rending the current solution a bug. I'll explore soon. Marking as critical only because it'll be reall

[2013-04-12 19:56] wizonesolutions opened #809 "Ignore lib in .gitignore"
Do we still need to not ignore this for nodejitsu or did you figure out how to run `make`?

[2013-04-12 20:25] lefnire commented on #809
we can remove. the `require('coffeescript')` would make it run just fine on nodejitsu anyway

[2013-04-12 21:22] wizonesolutions commented on #809
Hmm then people would have to `make` before it'd work in dev? Would we update Running Locally?

[2013-04-12 21:26] lefnire commented on #809
no. this makes sure you don't need lib at all:

[code]

if you want lib for some reason (eg, when debugging without sourcemaps on local), you run `make` and replace `src/server` with `lib/server`. I was uploading the `make`'d lib/ directory along with the app up to nodejitsu before, so i removed it from .gitignore. well now with `require('coffee-script')` that's unnecessary, so we can .gitignore i

[2013-04-12 21:35] wizonesolutions commented on #809
ah I see. well that's this one. I'll probably open another one for having an nconf var to alter the behavior when I get tired of this :P

ok will do this...next time.

[2013-04-12 21:36] lefnire commented on #587
people of the ticket: this will go to https://beta.habitrpg.com if you wanna test there. will push to master after a couple days

[2013-04-12 22:06] wizonesolutions commented on #587
working for me. custom day start 4 AM, it's 12:05. colors are correct. will check in morning when the daily update hits.

others?

[2013-04-12 23:57] lemoness commented on #782
I guess it might keep people a little more on their toes if it's not a
round number? I kind of like the fact that it lends significance to
normally insignificant levels. Plus that leaves the nice round levels free
for enabling other features.

But 10, 20, 30 etc is okay with me, as well! It all depends on how everyone
else feels.

On Fri, Apr 12, 2013 at 7:56 PM, Shane Lister notifications@github.

[2013-04-13 04:09] wizonesolutions commented on #587
:+1: works after cron has run. YAY

[2013-04-13 04:21] lefnire commented on #587
Awesome, will push of prod soon
On Apr 13, 2013 12:09 AM, "Kevin Kaland" notifications@github.com wrote:

[2013-04-13 05:54] wizonesolutions commented on #587
Cool. People watching, chime in if it works!

[2013-04-13 07:02] AdrienLemaire opened #812 "No user found (API)"
Hi,

When trying to run a curl request, it always return the same thing:

[code]

So basically, only this command works for me:

[code]

Any idea why ? Issue is related to #542, which I don't have enough permissions to re-open.

Thanks for your help

[2013-04-13 08:58] switz commented on #812
Hm, no one else seems to be having this issue anymore. If I remember correctly, the issue had to do with `findById` in the motif queries. But, I believe we removed all of those. So… @lefnire, have any ideas?

If you don't mind sharing your user id, I can test out your account locally and see what's up.

On Saturday, April 13, 2013 at 3:02 AM, Adrien Lemaire wrote:

[2013-04-13 09:50] AdrienLemaire commented on #812
Well I mind a bit if you cannot reset my keys.. Anybody could do anything on my lists ^^ Will send you a private message

EDIT: I cannot send you a private message. Please let me know if you can reset my keys afterwards, and I wiill share them

[2013-04-13 14:18] switz commented on #812
You don't have to share your API key, just your user id.

On Saturday, April 13, 2013 at 5:50 AM, Adrien Lemaire wrote:

[2013-04-13 14:21] AdrienLemaire commented on #812
sure :) 84497c76-4028-4dd5-8403-69b4f5b12575

[2013-04-13 16:15] wildcate commented on #782
That was one of the reasons I suggested the "weird" numbers. It wouldn't even need to be evenly spaced, there could be drops after 6 levels, then after 8, then after 7... I think it would be more of a surprise that way, thus also keeping folks motivated. Semi-obscure is nice! (I think so, at least.)

[2013-04-13 20:16] NinjaOtt3r commented on #403
I don't experience the problem any more. Not on my computer or my iPod. It started working with the change of the way to add them.

[2013-04-13 20:21] rixx commented on #403
Might aswell close the issue, then. :)

[2013-04-13 20:37] lefnire opened #814 "Facebook login redirects to /static/front without logging user in (Chrome)"
A user experienced this. I'll see what I can figure out

[2013-04-13 23:35] pjf opened #815 "API fails to return JSON when an egg or potion drops"
This one's a little bit a hard to reproduce, since drops are random, but since the API has no way to signal when an egg or potion drop, it gets confused and returns HTML and not JSON (possibly as part of an error page, but I need to add more diagnostics to HabitRPG.pm to find out) when an `/up` route is called that results in a drop.

The ideal solution to this is to add a field to the JSON return

[2013-04-13 23:37] pjf commented on #714
I don't think I've seen this behaviour recently, but I haven't gone out of my way to check. Has this been resolved?  (Ulterior motive: I get XP for closing issues.)

[2013-04-14 05:57] kriscrat commented on #782
Yes, I agree.  Semi random is super motivating, even if it's not truly random, it will feel like it to many users. Maybe spread them out a bit more as the levels get higher. 

From my Android phone on T-Mobile. The first nationwide 4G network.

-------- Original message --------
From: wildcate notifications@github.com
Date:
To: lefnire/habitrpg habitrpg@noreply.github.com
Subject: Re: [habitrpg] D

[2013-04-14 09:55] AndreCaseyScott commented on #587
the custom day start highlighting seems to be working correctly on the beta
server. Nice work! :)

On Fri, Apr 12, 2013 at 10:54 PM, Kevin Kaland notifications@github.comwrote:

[2013-04-14 10:39] lemoness opened #816 "Weekly items don't stay checked off"
I have two weekly items that need to be done sometime before Sunday each week, so I set them to be due on Sunday. Unfortunately, when I check them off any time before Sunday, the checkmarks disappear within a day, and when Sunday rolls around I get docked HP!

This happened even when my day start was set to 0.

(I've restored my stats, but the problem persists.)

[2013-04-14 14:09] wizonesolutions commented on #816
Hmm yeah I don't think the system has a concept of early completion.
@lefnire maybe only day-relevant dailies should be zeroed out?
On Apr 14, 2013 12:39 PM, "lemoness" notifications@github.com wrote:

[2013-04-14 14:22] lefnire commented on #587
Awesome, pushing up to prod

On Sunday, April 14, 2013, onduhray wrote:

[2013-04-14 14:38] lefnire commented on #325
This is starting to re-surface, I'm hearing more and more that Habit is either too difficult or too easy. See http://community.habitrpg.com/content/habitrpg-too-easy for example. While we do want to reward adding more challenges for oneself, I think normalization might be in order in some capacity

[2013-04-14 14:54] lefnire commented on #812
Copied / pasted the command, putting in your id & api key (got api key from
database). Returning the user just fine. You sure you have the right API
key? Maybe you caught the server on a down swing? Can you try again, if if
no cigar I'll up this to "important" & revisit when I can

On Saturday, April 13, 2013, Adrien Lemaire wrote:

[2013-04-14 15:03] switz commented on #812
+1 from me. Looks a-ok from here.

On Sunday, April 14, 2013 at 10:55 AM, Tyler Renelle wrote:

[2013-04-14 15:03] #812 closed, assigned to nobody

[2013-04-14 15:04] switz commented on #815
Yeah, this is definitely an issue. Thanks for bringing it up.

[2013-04-14 15:05] AdrienLemaire commented on #812
Still getting "No user found" :(

I thought it might be a problem with zsh, but escaping the brackets, or testing from a bash shell returns the same result as well. Also tested from a seedbox in another country, and getting the same error...

PS: you should really hash the api key in your database ^^

EDIT: I cannot reopen my own ticket once you close it

[2013-04-14 15:05] lefnire commented on #816
yeah, no early-completion feature currently. I added as a checklist item on the "repeat every n days" [Trello card](https://trello.com/card/repeat-every-n-days-weekly-monthly/50e5d3684fe3a7266b0036d6/108), but for now just have to make sure to tick it on Sunday instead. You still get points for ticking non-due dailies, however

[2013-04-14 15:10] switz commented on #812
Please ensure you have no extra whitespace around your api key and user id. If you can join IRC, I may be able to help you a bit easier. We're on freenode at #habitrpg. http://webchat.freenode.net/

I don't really believe encrypting the API key is necessary at the moment. If you're truly concerned, please go ahead and open another issue thread and we can have a serious discussion about it.

[2013-04-14 15:18] AdrienLemaire commented on #812
thanks for the good support on IRC. My problem was that I let the brackets around my keys. Issue closed

[2013-04-14 15:21] switz commented on #812
I've gone ahead and updated the wiki to make this clearer. https://github.com/lefnire/habitrpg/wiki/API

[2013-04-14 15:23] NinKenDo64 opened #817 "Tasks for only select days do not become "coloured" by custom day start, but by roll over in date."
For example. I have my custom day beginning at 5am. I have a bunch of tasks due on Thursdays, which are not due Wednesday. However, on Thursday 00:00, these tasks become coloured, rather than greyed out, as they should be, given that my "Wednesday" is, in a sense, still going.

I'm unsure of whether the now coloured tasks are ignored at 5am, or are considered incomplete and therefore penalised, as

[2013-04-14 15:55] lefnire commented on #817
fixed by https://github.com/lefnire/habitrpg/pull/811 . will go out in next production push

[2013-04-14 15:55] #817 closed, assigned to nobody

[2013-04-14 15:57] sehiralti opened #818 "Character resetted and dead after page refresh"
I just refreshed the page because the page was disconnected (as I usually do with this problem). This time though, I was logged out of the page and sent back to the home page. When I logged back in, all my dailies, to dos, tasks, rewards were gone, and my character was dead. I know that I can get back my levels and golds etc., but is there a way to get back the dailies? That's the most important b

[2013-04-14 16:02] lefnire commented on #818
Is this Oguz from Facebook? (just wanna make sure it's not happening to multiple people right now). What's your [user id](https://github.com/lefnire/habitrpg/wiki/User-ID) ? How long ago (roughly) did you register on the site, and when was the last time you remember having had to re-login (expired cookie, for example). See https://github.com/lefnire/habitrpg/issues/459 for what I'm currently mulli

[2013-04-14 16:06] sehiralti commented on #818
Yeah, it's me! :) My Id is: 5b28c7d6-bf1b-441f-ac08-9c16b28ef2a9. I registered a long time ago, it should be January. I never had to re-login before. The only problem was, if I tried logging in from another computer, I would die, so I was always using my computer which logged in automatically. But using Safari in my computer never resulted in a log out. Maybe it's a Safari problem?

By the way, no

[2013-04-14 16:43] frrmack commented on #818
Same thing happened to me. User id: 0b3ac601-1f1d-45ed-9992-3149c4a91653

I login from two computers, one Windows Vista, the other Ubuntu 10.10, using Chrome in both.

Everything, dailies, habits, inventory, profile name, etc., any data associated with the account is gone.

I don't remember when was the last time I logged in with my credentials, but both computers were logged in for a while (one o

[2013-04-14 16:45] lefnire commented on #818
for both of you - do you get full-fledge blank tasks, or is the account back to the "start" form with dummy tasks (1h productivity, cake, etc)

[2013-04-14 16:45] frrmack commented on #818
Start form with dummy tasks

[2013-04-14 16:46] sehiralti commented on #818
Yes, dummy tasks. They're all red though. It's as if I've been using those since signing up and failing miserably (around -400 in points).

[2013-04-14 16:48] frrmack commented on #818
My dummy tasks are not all red. They are exactly the same colors as the regular start form. [I don't know if this is relevant at all, but I started using habitrpg 10-15 days ago]

[2013-04-14 16:55] lefnire commented on #818
Ok thanks my friends. Hang tight, I'm gonna be diving into database backups with your account IDs over the next hour.

[2013-04-14 17:00] sehiralti commented on #818
Thanks a lot! This made me realize how much HabitRPG became a part of my life. I feel like I must be checking off things that I do now.

[2013-04-14 17:07] lefnire commented on #818
On second thought, User Id isn't helpful in this case because it looks like the accounts were reset (including api keys). Could y'all send me your usernames or email address or something ([email me](mailto:tylerrenelle@gmail.com) if privacy concern). Sorry for all this back and forth

[2013-04-14 17:08] frrmack commented on #818
username: frrmack
email: irmak.sirer@gmail.com

[2013-04-14 17:08] lefnire commented on #818
awesome thanks, and i found your info @sehiralti so no worries

[2013-04-14 17:09] sehiralti commented on #818
Ok, thanks!

[2013-04-14 17:12] earthbutterfly commented on #818
Hey, I had a similar thing where I logged on and it said I died, even though I had full health and not many red dailies.

User ID: bfcea6b1-ed04-47d0-af76-953fa224da4f

I saw what you just posted about needing usernames etc, but I just logged on through my Facebook - did you need those details or some other ones?

My e-mail (if it helps) is: rebecca.eva.lawson@gmail.com

[2013-04-14 17:19] lefnire commented on #818
@frrmack can you just try logging out and / or clearing cache, cookies for habitrpg.com, then logging back in? I'm looking in the databsae, and the username/email account looks perfectly intact, but it's a different account from the user id you gave me in the beginning - _that_ account has no auth property associated with it, so I'm surprised it's letting you in

[2013-04-14 17:21] lefnire commented on #818
@earthbutterfly but you didn't lose any data I hope? aka, no deleted tasks? if so, this is the issue you're experiencing: https://github.com/lefnire/habitrpg/issues/777 (separate issue). Use the restore tool to set yourself back (explained in that thread). Quick, i'm gonna edit your post to remove the API token - we wanna keep that secret (user id is safe to publicize)

[2013-04-14 17:24] Cubox opened #819 "Makes local installation independent to the paid and social stuff."
Hi,

I'm posting an issue here for this little problem. I tried creating a local installation today, and I was really disappointed.

Why local installations are (nearly) the **same** as habitrpg.com? I know, you have a lot of work, but I think it's can be good to separate things, and makes local installation independant of the paid things, tokens, ability to buy tokens, facebook login (just make a

[2013-04-14 17:29] lefnire commented on #818
@sehiralti yours on the other hand is a dilema. I have a hunch yours was victim to https://github.com/lefnire/habitrpg/wiki/Restoring-Your-Account#user-not-found (last section), because I'm going through monthly backups -  back to my very oldest database backup from february, and your account is always in demo / starter mode - but with that facebook auth tied to it. I think the browser session got

[2013-04-14 17:29] frrmack commented on #818
Emptied the cache, killed the cookie, refreshed, and logged in again. (The tour started again, etc. so I know the whole fresh start thing worked). I did log in, all the data is still missing.

I looked at the settings again, and I don't know why, but now the user id is different:
39590194-a9f4-48ad-bab3-f05f2c1b0b76

[2013-04-14 17:32] sehiralti commented on #818
Hmm, in the dailies, there should be "1h Satsioppi" "1h Homework" "1h Swedish" "1h Piano Practice", among other things. There might also be "30m Schenker Research". I hope I remember them exactly. Let me know if those don't turn up, so I can think of some other titles.

[2013-04-14 17:34] earthbutterfly commented on #818
Thanks for pointing me to the right thread (yes, that is what happened).

I'm not sure what all the input values are meant to be - obviously level and HP are easy, but I forgot how many tokens I was on and XP etc - is there any way for you to find a cached copy or something and find out these details for me? Was really doing so well... :/

Also, I don't know what to put in for items. I know I had

[2013-04-14 17:44] sergiobc commented on #818
The same with me,
Login: zergio

[2013-04-14 17:51] lefnire commented on #818
@earthbutterfly can you chime in on the other ticket with those particulars? sorry, my brain's all a-scatter on this thread

[2013-04-14 17:57] earthbutterfly commented on #777
Hey, that's ok. I'm here (I'm sure you're all over the place with these things)

Basically, I "died" even though I know I shouldn't have and although I have found the restore button I'm not sure what values to put in some of the fields. Obviously level and HP are easy, but I forgot how many tokens I was on and XP/GP etc - is there any way for you to find a cached copy or something and find out the

[2013-04-14 18:03] lefnire commented on #818
@sergiobc your account looks to be having the same issue as sehiralti, can you give me an exact task name to find by?

@sehiralti, those tasks were helpful - I found your lost account as a result, so hopefully a refresh should fix you. Can you try logging back in?

I think what's happening here is everyone who was victim to that above-mentioned lost-account issue from january-ish... I think Expres

[2013-04-14 18:04] lefnire commented on #818
as for @frrmack, that one is different than other people's issues - that's a really weird bug, it looks like each time you log in, it ignores your actual account (which looks in tact in the database) and creates a new dummy account with no auth property. Can you try from a different browser? Firefox maybe?

[2013-04-14 18:14] lefnire commented on #777
@earthbutterfly looks like yesterday you were at:

armor: 5, head: 5, shield: 5, weapon: 6
exp: 312, gp: 1041, hp: 17, lvl: 47

daaayum, someone's good at this game!

[2013-04-14 18:28] earthbutterfly commented on #777
Haha yeah - hence the surprise and sadness at having died...
Thanks for that info :)

[2013-04-14 18:36] sehiralti commented on #818
Yes! Everything's back to normal. I should add that previously my name was "anonymous" and now it displays my correct name. Maybe this will fix my problem about not being able to log in from other places.

Just thinking out loud, maybe this name being displayed as "anonymous" is a symptom for this problem?

[2013-04-14 18:39] lefnire commented on #818
well, it's because you were getting the dummy user - which is anonymous.
- The symptoms: dummy tasks, anonymous name. (in fact, if you have _no_ tasks, it's a different issue)
- The cause: the login's not reaching your actual account, which has lost it's `auth` property - and your browser has been tied to a corrupt Express session, which recently got invalidated.
- The fix: give me a super-unique

[2013-04-14 18:43] frrmack commented on #818
I just logged in from firefox and it's all there!

That's really weird. But at least I got my precious, precious data :)
Thanks.

I've been using chrome on both windows and linux thus far, and this is the only time this happened. Until tonight at around 9-10, I won't know if the chrome in the windows machine also has that same problem.

[2013-04-14 18:45] lefnire commented on #818
Very weird. Someone else was experiencing Chrome login issues, but with Facebook: https://github.com/lefnire/habitrpg/issues/814 . I'm developing primarily to Chrome, since it's far-and-away the majority browser for Habit. I'll start investigating.

[2013-04-14 18:46] lemoness opened #820 "Cactus Skeleton Army (Duplicate Bug)"
Today I happily hatched myself a beautiful skeleton cactus. I then tried to make it my active pet, so that it could gaze endearingly at all of my Party Members with its cold, dead eyes.

Unfortunately, no matter how fervently I clicked, nothing happened. My loyal gold dragon refused to give up her spot at my side. Moreover, it turned out I could make NONE of my other pets into my new active pet. A

[2013-04-14 19:01] wildcate commented on #325
Instead of trying to fix a normalised difficulty for all the users of Habit, could it be a solution to add a "difficulty slider" in the menu to adjust the XP gain, and thus the overall difficulty of Habit? This way, single users could adapt the basic algorithm to their needs, for themselves and for leveling the field a bit in a party situation. It might even be worth considering to add a separate

[2013-04-14 19:53] lemoness commented on #816
Got it!

On Sun, Apr 14, 2013 at 5:06 PM, Tyler Renelle notifications@github.comwrote:

[2013-04-14 19:54] lemoness commented on #777
If I had those stats and randomly died, I would have hurled my laptop out
of the window. Props to you for finding the restore button instead!

On Sun, Apr 14, 2013 at 8:28 PM, earthbutterfly notifications@github.comwrote:

[2013-04-14 19:59] lemoness commented on #325
I'm definitely in favor of letting people pick their own difficulty setting
- that also ties in to a lot of other ideas we've been throwing around,
  like death mechanics, diseased to-dos, etc.

On Sun, Apr 14, 2013 at 9:01 PM, wildcate notifications@github.com wrote:

[2013-04-14 21:35] Pandoro commented on #325
I get what you mean, and letting people make habit work for them makes a
lot of sense, but it becomes a problem when you are playing together with
others and you want to build stuff upon competition. Then it is really bad
if everyone can just pick their own difficulty.

On Sun, Apr 14, 2013 at 9:59 PM, lemoness notifications@github.com wrote:

[2013-04-15 02:06] AdrienLemaire opened #821 "Authentication parameters in url instead of headers"
Hello,

Would it be difficult to allow a syntax as follow ?

[code]

This is the syntax adopted on other API, eg Github.
I request this feature in order to be able to pull HabitRPG data in my [hubble dashboard](https://github.com/jaymedavis/hubble) (it does not accept custom headers for the url to pull atm)

Thanks for considering it :)

[2013-04-15 04:48] ahoebeke opened #822 "dailies not reset, due to timezone issue? (gmt+8)"
Hi,
I'm living in China. I have the "reset dailies" time set at 03:00.
Yesterday evening around 1am (well early this morning..) I checked off a few dailies.
Now I booted up my pc, loaded the page and it's almost 13:00 and I see the dailies are still checked (and no penalties for the ones I didn't finish.. not yet!).

[2013-04-15 06:28] wildcate commented on #325
@Pandoro, I would have seen it as exactly the opposite - a solution to the unequal perceived or real difficulty of Habit, while not canceling out different approaches to the game by the individual members in parties.

For example, if you want to compete with two others and one of them levels much faster than you, the other much slower, then the three of you can fiddle with your difficulty settings

[2013-04-15 06:37] Pandoro commented on #325
Well maybe it is just me x) but when i'm competing with other people, I
will not fiddle until I have the same speed but rather be happy when I am
levelling faster than they are :-P
On Apr 15, 2013 8:28 AM, "wildcate" notifications@github.com wrote:

[2013-04-15 06:58] wildcate commented on #325
Then you might be their incentive to work harder, level faster ;-)  But weren't you the slow one in your party? Or has that changed?

I'm aware that it will not be a perfect solution for everybody, but what will be? If we knew that, we could probably all get very, very rich very soon.

[2013-04-15 10:03] andrew84 opened #823 "Android app won't sync with HabitRPG web"
Hey guys!

I love what you've done with HabitRPG, and I especially love the LifeRPG port you've made to Android! It's super-cool, and I especially love the new style you've put on some of the graphics, while keeping others the same.

I've paid for the premium feature pack of LifeRPG, but I can't get the android client to sync to HabitRPG, despite it being one of the features. When I copy in my use

[2013-04-15 10:20] wizonesolutions commented on #823
LifeRPG isn't provided by HabitRPG. I'd ask them.

[2013-04-15 10:26] wizonesolutions commented on #325
My subjective opinion is to just leave it. What is too hard/too easy?
Habit's Habit. Are people really going to ditch it for this reason? If it's
too easy, then challenge yourself. Add harder habits and dailies. Trust me,
you'll start losing HP in no time :)

To me, too easy is a sign that it's time to change it up and add new things
or refine existing ones. Maybe increase the difficulty (under ad

[2013-04-15 11:35] wildcate commented on #325
@wizonesolutions That's easy to say, "just add harder habits" - but not what I want. Or what would be useful for me. I have habits/dailies that are, for me, already challenging to fulfill, plus a very long to-do list. Adding more dailies would make no sense for me because that would mean unrealistic expectations on what I can do in one day - and I am happy that I am slowly getting away from these.

[2013-04-15 13:15] wizonesolutions commented on #325
Hmm, I didn't do dailies for 1 or 2 days once and almost died.

Last I heard, the difficulty should be approximately 400 days to reach
Lv100. (@lefnire?)

What level are you at? It seems like around the 20s things start to even
out because HP is constant but XP gets more demanding. Also habits become
worth less the better you do at them.
On Apr 15, 2013 1:35 PM, "wildcate" notifications@github.com

[2013-04-15 14:32] FiXato opened #824 "Incorrect amount of pets found"
The avatar overlay shows "0/90 pets found" even though I do have a base fox as clearly shown in the avatar:
![HabitRPG-0_pets_found](https://f.cloud.github.com/assets/4342/381096/23b6559a-a5d9-11e2-85d9-078ae3140ab1.png)

[2013-04-15 14:45] lefnire commented on #824
gah, rookie programmer 0-index mistake. will go out with next push

[2013-04-15 14:45] #824 closed, assigned to nobody

[2013-04-15 14:54] lefnire opened #825 "Logging in with Chrome gives anonymous user"
A few people are able to log in with other browsers just fine, but when they log in with Chrome they get the demo account. See https://github.com/lefnire/habitrpg/issues/818 for more details.

What's happening technically is the user's `auth` property is skipped on login, and they're getting a demo account with an empty `auth = {}`. This is very strange behavior, and since Chrome is our most commo

[2013-04-15 14:54] lefnire commented on #818
https://github.com/lefnire/habitrpg/issues/825 for the Chrome login issue

[2013-04-15 14:57] lefnire commented on #825
For people experiencing this issue, can you try clearing your cache / cookies to see if it fixes it?

[2013-04-15 15:08] lefnire commented on #823
Yeah, that app is not affiliated with HabitRPG. Pretty frustrating too, they made a replica of our site (without using the website's API, and not giving credit) and then branded themselves with "LifeRPG", an already trademarked name (a competitor to Habit). See my [rant here](https://play.google.com/store/apps/details?id=com.eikosol.liferpg&reviewId=Z3A6QU9xcFRPSGYxSGZRSFY2YUpYU2kyR3FSVzVkMm44NmV3

[2013-04-15 17:04] fishstix43 commented on #325
@wildcate The other option to adding more dailies or habits would be to make the ones you already have higher priority, and therefore more damaging if you miss them.  Unless of course you're completing everything every day. :)

That said, I like the idea of the difficulty slider.  I think any complex system of normalization (caps, etc.) is going to mess with someone's style of play.  The whole thi

[2013-04-15 17:19] stefanknapen commented on #825
Cleared everything from past week, didn't help.

[2013-04-15 17:21] stefanknapen commented on #825
And it works indeed in Safari

[2013-04-15 17:22] wizonesolutions commented on #325
Actually, it seems several people have mentioned parties. I'm in a party, but I don't interact much with my party, you could say. If it's a party thing, then I wonder if the option should only appear once you're in a party? Or maybe there could be a system value for "how the party as a whole is doing," and this makes the game easier or harder for the other party members?

Are there any solo player

[2013-04-15 17:40] lefnire commented on #325
Vote time: http://community.habitrpg.com/node/130 .

What aren't people liking about normalization? IMO it handles the issue for everyone, precludes cheating / party issues (not an issue now, but will be with manager accounts), and is the simplest to implement. You can add as many or as little tasks as you want.

I'm finding the "many dailies" issue to be limiting to myself as well. I've got a lon

[2013-04-15 18:25] wizonesolutions commented on #325
I like normalized or easy/medium/hard slider. Any more complex than that
and it feels unnecessary. Again, just my opinion, I'll roll with whatever
we do. Everyone's voice must be heard!

On Mon, Apr 15, 2013 at 7:40 PM, Tyler Renelle notifications@github.comwrote:

[2013-04-15 19:14] lefnire commented on #825
This seems to be happening to a lot of people. The only reason this could possibly be happening is a busted session, which would be held in cookies (you may have to clear "for all time" - or use a tool like Web developer toolbar to clear for the domain). If that's not fixing it, I dare say - I honestly don't know where to look :/

[2013-04-15 19:14] lefnire commented on #825
woops