[2016-09-12 22:08] crookedneighbor commented on #7990
You are right. It should not appear until the quest has actually started.

[2016-09-12 22:28] Alys commented on #4252
Another confirmed report from a two-person party, by Julia2593 (fd1415bf-cd16-45ab-81b5-71cfb059502b):
"Hello, I just finished the quest "Attack of The Mundane Part 1" but I didn't receive the reward. I was the leader of the quest and I had one other member, she did receive a reward."

Unless there's any objections or better ideas, I'm going to create an issue for the fix described in this comment

[2016-09-12 23:17] habitrpguser opened #8004 "Participant joins challenge, then creator adds more tasks -> new tasks aren't tagged"
If a challenge creator adds new tasks to the challenge after participants have already joined, those tasks appear in the participants' tasks lists and have the megaphone symbol, but aren't tagged with the challenge tag.

Possible **workaround** until this bug gets fixed: The creator should make sure that the participants know that new tasks were added (for example by messaging them), and should te

[2016-09-12 23:32] Alys opened #8005 "Players should be able to flag their own messages"
Currently, it is not possible to flag a message that you posted.

It should be possible. (E.g., when hiding posts you made in response to a user who has revealed themself as under-aged.)

This is probably an easy matter of just removing an `if` clause from the code so I'm marking this as entry level coding.

[2016-09-13 01:43] crookedneighbor commented on #8005
For the person working on this, I believe there is both a client side and a server side component to this.

[2016-09-13 01:53] #7633 closed, assigned to nobody

[2016-09-13 02:05] crookedneighbor commented on #7953
Closed with https://github.com/HabitRPG/habitrpg/commit/3f03aab4ee9ef627dbe08d0167567c92d455a967

[2016-09-13 02:05] #7953 closed, assigned to nobody

[2016-09-13 02:23] #7920 closed, assigned to nobody

[2016-09-13 02:30] #2565 closed, assigned to nobody

[2016-09-13 03:04] #2373 closed, assigned to nobody

[2016-09-13 03:46] cincospenguinos commented on #8005
Is someone already working on this? Is it cool if I do it?

[2016-09-13 03:50] khipkin commented on #7929
Suggestion: [help welcome now] --> [in progress]

[2016-09-13 03:51] khipkin commented on #7922
Suggestion: [help welcome now] --> [in progress]

[2016-09-13 03:52] khipkin commented on #7916
Suggestion: [entry level coding]

[2016-09-13 03:53] khipkin commented on #7788
Suggestion: [help welcome now] --> [in progress]

[2016-09-13 04:11] Alys commented on #7916
I haven't looked at the code myself so I can't be sure it's entry level, but @khipkin is probably right so I'll mark it as that. If any new contributors start this but find it troublesome, you're welcome to ask questions here in the issue!

[2016-09-13 04:17] Alys commented on #8005
@cincospenguinos It's all yours! Thank you!

[2016-09-13 13:15] #7843 closed, assigned to nobody

[2016-09-13 17:23] #8005 closed, assigned to nobody

[2016-09-13 18:35] cincospenguinos commented on #8004
I can probably do this one. Is it alright if I take it?

[2016-09-13 21:03] JSchneidler commented on #7875
Taking a look at this. New to Habitica, can you clarify what you mean by adding checklists to a challenge task? I don't see the option to add a checklist to a task so nothing is expandable for me.

EDIT: I found what you're talking about, but weirdly it does not give me the option to add a checklist to tasks. Possible bug or was it intentionally removed for some reason?

[2016-09-13 22:14] JSchneidler opened #8008 "Deleted tags are not removed from tasks"
General Info
- UUID: b1f8093a-76b7-4f80-95ce-5c00bec74c0a
- Browser: Firefox 48.0
- OS: Ubuntu 16.04
### Description

When a tag is assigned to a task and that tag is then deleted, the task still contains a reference to the deleted tag. This causes tasks to falsely display the tagged icon even if they have no existing tags. Once deleted, the tag cannot be removed from the task either.
#### Steps t

[2016-09-13 23:59] Alys commented on #8008
Can you please click the sync button on the top right of the website (the double curved arrows icon) and tell us if that causes the tag icon to be removed from the task?

It does when I tested this and also the database did not contain reference to the ID of the deleted tag (it was removed even before I did the sync).

If you can confirm that syncing fixes this for you, then all we need to do is f

[2016-09-14 00:04] JSchneidler commented on #7820
I'll try this if nobody else is currently on it.

[2016-09-14 00:10] Alys commented on #7820
@JSchneidler Thanks, please do!

[2016-09-14 00:15] JSchneidler commented on #8008
Yes, I should have mentioned syncing does fix it. That sounds good, I'll include the fix in a PR for #7820.

[2016-09-14 00:35] JSchneidler commented on #7806
I believe this is related to #7820 and should be fixed by a PR I submitted. Either way, I think the root cause is the same and this could be closed and continued in #7820?

[2016-09-14 00:48] zmbc commented on #7820
Thanks @JSchneidler!

[2016-09-14 01:30] Ozzystrasza commented on #7714
I will try this.

[2016-09-14 02:22] Ozzystrasza commented on #7888
@crookedneighbor Can I try to do this for the mounts page?

[2016-09-14 02:25] crookedneighbor commented on #7888
Sure

[2016-09-14 02:36] Ozzystrasza commented on #7875
Are you trying to add checklists to tasks while creating a challenge? If so I don't think that's ever been possible. But what I meant is adding checklists to tasks from a challenge you joined, so the tasks are on my task list, and I can add checklists by editing them. Sorry if I didn't explain so clearly.

[2016-09-14 03:09] Impendingdoom777 opened #8011 "Party Members Disappear from Website Header"
@Alys
![habitica](https://cloud.githubusercontent.com/assets/22186177/18498782/d4ab59e8-79fe-11e6-9ef5-b78abcd7f0af.jpg)

General Info
- UUID:
- Browser:
- OS:
### Description
#### Console Errors

User:Hey guys, I added a new person to my party, but now all of their avatars have disappeared from the bar. All I see is myself. How do I get my friends back lol

Alys :Have you tried reloading the webs

[2016-09-14 03:43] JSchneidler commented on #7875
When editing or creating. Is that intentional that you cannot add checklists to tasks to a challenge for everyone? Only individual users can add a checklist to a task at the moment. But I see what you mean, when running sync, the checklists become expanded. But no worries, I'm new to Habitica so some of these features I only discover through the issues so I seem confused because I am :p I'll take

[2016-09-14 08:37] rosstavo opened #8012 "To-Dos not saving Due Date changes"
General Info
- UUID: 5c2b354c-d5f1-4f54-8ab0-52136fe70309
- Browser: Chrome 52
- OS: OS X El Capitan
### Description

When adding or editing a To-Do task, the due date does not save.

While editing the task, the new due date will appear as expected alongside the task name at the top, and the field will be populated, but when I confirm my edit, the due date disappears from beside the name, and the

[2016-09-14 09:10] ShulamitLH commented on #8012
I'm having the exact same problem. I have tried to change the due-date of a to-do, and it won't change.

[2016-09-14 10:07] paglias commented on #8012
Confirmed, we'll try to fix this very soon, sorry about it!

[2016-09-14 10:09] paglias commented on #8011
@Impendingdoom777 can you tell us when the problem started to appear?

[2016-09-14 10:09] paglias commented on #8011
Also, I'd try to log out and then login

[2016-09-14 12:59] paglias commented on #8001
Working on `/website/client` -> `/website/client-old`

[2016-09-14 15:23] Impendingdoom777 commented on #8011
I have tried logging out and back in. It started up on September 12th sometime between 10 P.M. and 12 A.M. Central time

[2016-09-14 15:32] garkbit commented on #4252
We've got a large group (8dd28e15-82cc-4efd-9e83-57fc73fcd915), ~80 members or so, and are seeing members failing to get rewards on pretty much every quest. Most recently we did the Wailing Whale quest, and are seeing several members that haven't received the eggs, myself (f744cbeb-05cf-434b-9388-ff01282e34d1) included. This is especially frustrating, as I was the quest owner.

Others who have men

[2016-09-14 18:46] #8012 closed, assigned to nobody

[2016-09-14 20:16] Alys opened #8014 "reversal of level-up from level 1 to level 2 after doing website tutorial"
From the Report a Bug guild by afino (e6350942-4808-4b1b-8abe-99d646f608d9) six hours ago:

"Hi! Just created a new account, went through tutorial, advanced to level 2 and added a new to-do. Then added a new tag and saved it. Finally edited my to-do and assigned the new tag - unfortunately, that didn't work! Instead it said something about a needed valid id + i got 150 experience points + i went b

[2016-09-14 21:27] Alys commented on #7875
Yes: "When editing or creating. Is that intentional that you cannot add
checklists to tasks in a challenge,"

Only participants can add checklists.

[2016-09-14 21:29] Alys commented on #8004
@cincospenguinos Yes, thank you!  Comment here if you have any questions.

[2016-09-14 21:31] paglias commented on #8011
@Impendingdoom777 can you give a look at Chrome's console to see if there's any error? Ctrl+Shift+J

[2016-09-14 22:16] Alys commented on #4252
@garkbit I've given the quest rewards to your party members. I've already given you the rewards from your  post in the Report a Bug guild. Please see my reply to you there about a way that we can help you reduce your party size. If this happens again, please report it in just one place (preferably the guild) to avoid duplicate handling.

[2016-09-14 23:27] garkbit commented on #4252
@Alys Thanks, will do. :)

[2016-09-15 00:44] Impendingdoom777 commented on #8011
Ok that was actually the problem. It will not show up on firefox, but when I used chrome I can see them.

[2016-09-15 03:38] Alys opened #8016 "in party members box, link and underlining are inconsistent"
As reported by DStroyer (8e2cbccd-d576-4db1-9672-03cd6d2d71d7) in the Report a Bug guild:

**In the party window, inside "Members", only the name of the user is linked with clickMember(member._id, true), but not the (XX HP) part, however the whole string is underlined and looks like a link. Clicking on the HP value doesn't do a thing, that was confusing for me until I saw the clickMember() thing.*

[2016-09-15 03:52] khipkin commented on #7714
[help welcome now] --> [in progress]

[2016-09-15 08:05] Alys commented on #4252
Confirmed report from an 8-person party:

Jenny S-T (09f75fe4-cd0f-47b4-a0b9-bfd79141b98a)
I completed Vice Part 2, but haven't been given the Vice Part 3 scroll as part of the rewards - was there a bug or something?

[2016-09-15 08:10] jtgithub2016 opened #8017 "Multiple Damage During Quest?"
General Info
- UUID:
- Browser:
- OS:
### Description

My party is on the Rat King quest, and it looks to me like we took too much damage and now most of us are dead.  I understand that being dead isn't a bug, but I think we got dead in a potentially unfair way?  I don't even really know - can someone look into this and see if it was okay?  If it's okay then I guess this isn't a bug.

![image](htt

[2016-09-15 08:12] paglias commented on #8011
@Impendingdoom777 okay, try clearing your cache and following the istruction at https://habitica.com/static/clear-browser-data while on Firefox

[2016-09-15 08:33] Alys commented on #8017
Players can easily do 15 to 30 damage (or more) if they leave several of their Dailies undone. You might like to ask the players who did that much damage to try to do more of their Dailies each day. If any of them say that they did complete all their Dailies but still caused damage, please ask them to report what happened in the Report a Bug guild (from Help > Report a Bug in the website's menu or

[2016-09-15 08:49] jtgithub2016 commented on #8017
No problem.  I'm one of the people doing damage to the party. . . My UUID
is
e44e6069-2e30-49cf-ab49-db41d3134045

Our party ID is: 90d10895-0658-4893-bb3e-ccf7480c200c

Thanks again.

John

On Thu, Sep 15, 2016 at 4:33 PM, Alys notifications@github.com wrote:

[2016-09-15 10:26] Alys commented on #8017
Yesterday, you left several Dailies incomplete, so 27 damage from you isn't impossible. Did it look to as if you had completed all your Dailies? It is possible for them to appear to be marked completed but without that information being sent to Habitica's server for permanent storage. At the end of each day, click the sync button on the website or mobile app (that's the button containing a circle

[2016-09-15 10:32] jtgithub2016 commented on #8017
I thought I had checked more dailies than that - I knew I was going to do
damage, but 27 kind of took me by surprise.  I thought it was just 3-4
unchecked: record your mood, read story, enter time, and maybe the 547-15
one.

So how does Shioki's custom day work?  I thought she only got to attack or
be attacked once a day.  So she launches an attack when her day ends and we
get attacked when her da

[2016-09-15 10:34] jtgithub2016 commented on #8017
I understand ignorance is no defense, but Shioki's told me (in the past,
shortly after she joined the party) that she put her custom day at noon to
make sure she has time to do her dailies. She also doesn't have a pattern
of bringing death upon us all.  I just assumed you got your day to end once
every 24 hours - mine at midnight and hers at noon, and that you attack and
are attacked just before o

[2016-09-15 10:45] Alys commented on #8017
I count 11 of your Dailies that weren't completed yesterday. I can put a list of them here if you wish (if the texts aren't something you want to keep private).

Shioki does attack just once a day (as does any player). However her day starts at midday because that's when her Custom Day Start time is. This means that if she uses Habitica before midday, it's still "yesterday" in Habitica-time.

No,

[2016-09-15 10:50] jtgithub2016 commented on #8017
Ok, that makes sense.  Thanks.

On Thu, Sep 15, 2016 at 6:45 PM, Alys notifications@github.com wrote:

[2016-09-15 10:57] Alys commented on #8017
If you would like more information about how it works, the wiki's [Custom Day Start](http://habitica.wikia.com/wiki/Custom_Day_Start) page might help.

On the website, you can use Settings > Site > [Fix Character Values](http://habitica.wikia.com/wiki/Fix_Character_Values) to restore lost health (and gold and levels, if needed) if you feel that the damage was unfair.

[2016-09-15 10:59] jtgithub2016 commented on #8017
Ok, thanks much.

On Thu, Sep 15, 2016 at 6:57 PM, Alys notifications@github.com wrote:

[2016-09-15 11:11] #8017 closed, assigned to nobody

[2016-09-15 11:50] Egretta opened #8019 "Javascript: Volume calculator from width, length and depth"
hi experts!

I don't know is this a right section to ask your help, but i could'nt find better place too.
So, i need to create an online calculator from these inputs: width, length and height, and display the answer in **m³.** The length and width measurs are in meters, the height (this is a tricky part) in centemeters.

Found the base of that code from internet and modified a bit. [look into jsfi

[2016-09-15 12:00] crookedneighbor commented on #8019
This is not the appropriate place to ask for help with this. If you'd like some Habitican's help, try asking in one of the developer focused guilds on the site.

[2016-09-15 12:00] #8019 closed, assigned to nobody

[2016-09-15 12:06] Egretta commented on #8019
could you guide me (provide a link) to right place?

[2016-09-15 12:44] crookedneighbor commented on #8019
Here's a list of the public guilds in Habitica: https://habitica.com/#/options/groups/guilds/public

You might be interested in the [developers guild](https://habitica.com/#/options/groups/guilds/e655bb46-96ec-4d8b-b40d-f195063904c8) or the [JavaScript guild](https://habitica.com/#/options/groups/guilds/349a36c3-66f3-4bf8-91b6-475056d9b6bb)

[2016-09-15 12:46] #7714 closed, assigned to nobody

[2016-09-15 14:59] sebastienplat commented on #7851
I would love to have a look at this, if it's ok ?

[2016-09-15 16:24] jtgithub2016 opened #8020 "Slow Refresh in Vivaldi"
General Info
- UUID: e44e6069-2e30-49cf-ab49-db41d3134045
- Browser: Vivaldi
- OS: Windows 7
### Description

I've done enough damage to kill the monster in my party's quest, and I've taken damange.  I've since created to dos, completed to dos, cast spells for my party, and the party page doesn't seem to be updating, so it shows the Rat King as still alive.

![image](https://cloud.githubuserconten

[2016-09-15 16:51] paglias opened #8022 "Lint /gulp and /webpack"
- [x] /webpack
- [ ] /gulp

[2016-09-15 17:00] paglias commented on #8020
@jtgithub2016 is the chat updated? Also, what happens if you reload the page?

[2016-09-15 19:40] jjmcgaffey commented on #7974
Right. So today I went back on the website, and I see from my message above that it was 8 days ago the last time I went. I got 8 small pop-ups telling me I had 282 21-day streaks (that is, all of them said the same number, the latest one). Then I got 8 large pink pop-ups; and when I'd gotten rid of those, I had to dismiss the streak notification (the big white box) 8 times. Hmm. This is not what i

[2016-09-15 20:35] Alys opened #8023 "link to information about pet food preferences to make feeding easier"
On the Pets page, at the top of the food box (just below where it says "Food and Saddles", there should be a link to the wiki page that describes which foods are liked by which pets. The page's URL is http://habitica.wikia.com/wiki/Food_Preferences

The text could be something like:

[Learn about your pet's food preferences.](http://habitica.wikia.com/wiki/Food_Preferences)

Other suggestions welc

[2016-09-15 20:37] Alys commented on #7974
Copied from the Report a Bug guild in case it's related (although it's could just be coincidence, and you were right to post it to the guild!):

"Another no-damage-to-boss report; I'm shown as taking part in the quest (which started yesterday), but although I've (obviously) cronned today, there's no message about me dealing damage. Several other participants have. ??"

[2016-09-15 21:23] Ozzystrasza commented on #8023
Suggestion:
[Not sure what to feed your pet? Click here](http://habitica.wikia.com/wiki/Food_Preferences)

[2016-09-15 21:32] Alys commented on #8020
@jtgithub2016 The database shows more recent messages than that, and the quest has finished. What happens when you click the button just under the chat box on the far right?

[2016-09-15 21:35] Alys commented on #8020
Ah, actually, looking at timestamps, you cronned at about the same time that you posted this issue. Had the party page been open in your browser for a while before then? It might just be that it hadn't been synced recently and so hadn't picked up the latest changes. Does that sound likely?

[2016-09-15 21:51] jtgithub2016 commented on #8020
Well, I got it updated, so I guess we're okay on that front.  I also see
that a third party member (not just me and Shioki) did more than 20 points
of damage to the team, which is something I hadn't noticed before.  So I
guess it's sort of a miracle any of us lived.

Thanks again.

On Fri, Sep 16, 2016 at 5:36 AM, Alys notifications@github.com wrote:

[2016-09-15 21:59] Alys commented on #8020
Thanks for letting us know! If you notice any other odd behaviour, drop in to the Report a Bug guild and tell us about it there. That's usually faster for you and it also lets us see some information about your account immediately. You can get to it from the website's Help menu.

[2016-09-15 21:59] #8020 closed, assigned to nobody

[2016-09-15 22:06] salaxander commented on #8023
I'd love to tackle this issue :) Let me know if that's alright!

[2016-09-15 22:26] khipkin commented on #8023
"Not sure what to feed your pet? Click here to learn more."

[2016-09-15 23:52] Ozzystrasza commented on #7763
@IanThorp Did you get a chance to work on this? If not I will try to fix it.

[2016-09-16 03:01] #7888 closed, assigned to nobody

[2016-09-16 06:16] Alys commented on #7806
I've added this to the top post in #7820 :

The fix for this should also fix https://github.com/HabitRPG/habitrpg/issues/7806 or if that's not possible, https://github.com/HabitRPG/habitrpg/issues/7806 should be reopened.

[2016-09-16 06:16] #7806 closed, assigned to nobody

[2016-09-16 06:17] Alys commented on #7820
I've added this to the top post:

The fix for this should also fix #7806 or if that's not possible, #7806 should be reopened.

[2016-09-16 06:18] Alys commented on #8008
I'm closing this since we have https://github.com/HabitRPG/habitrpg/issues/7820

[2016-09-16 06:18] #8008 closed, assigned to nobody

[2016-09-16 09:50] Alys commented on #8023
@salaxander Please do! Thanks!

[2016-09-16 15:04] scbaker opened #8026 ""String 'classBonusText' not found." message on Stats page"
Hovering over the "Class Bonus" tooltip on the stats page results in a "String 'classBonusText' not found." error message:

![image](https://cloud.githubusercontent.com/assets/11615786/18590539/19ec7910-7be4-11e6-8285-36b351867ade.png)

[2016-09-16 15:31] khipkin commented on #8026
I'm not seeing this issue. 😕 _(edit: on the live site)_

[2016-09-16 15:39] khipkin commented on #8026
Also, @scbaker, did you notice this issue on the live site or on your local install?

[2016-09-16 15:51] crookedneighbor commented on #8026
I've reproduced this.

[2016-09-16 16:00] Ozzystrasza commented on #7763
I could reproduce this by joining a guild then joining a challenge in that guild, then leaving the guild. Doing that also kicked me out of the challenge but the guild name still appears in the filter list and the "all" button won't select it.
Question: Should I just fix the "all" button to select that guild along with the others, even though I'm not participating in the challenge anymore(got kicke

[2016-09-16 16:14] scbaker commented on #8026
This is on the live site.  I don't have a local install.  Another member (akirassasin) also reported it in the Bug report guild about 4 hours ago.

edit:
Searching the GitHub repository suggests that the reason the website can't find classBonusText is indeed because it isn't defined anywhere.  I get zero results.

It's also kind of weird that this tooltip says "This item matches your class, so it

[2016-09-16 17:16] #8001 closed, assigned to nobody

[2016-09-16 17:20] Ozzystrasza commented on #8026
This happens for me too. And I agree with @scbaker that it's weird to show that message for the bonus tooltip. That's the same message that shows on the items that give the bonus, I believe it's showing there unintentionally.

[2016-09-16 20:17] SabreCat commented on #8026
The trouble is here: https://github.com/HabitRPG/habitrpg/blob/develop/website/views/shared/profiles/stats/mixins.jade#L11

The mixin constructs a tooltip with `classBonus` as the heading, and `classBonusText` as the content, but the latter doesn't exist.

[2016-09-16 20:20] crookedneighbor commented on #8026
Pretty sure this was my bad. I'll fix it.

[2016-09-16 20:37] rbreu commented on #7846
I'm looking into this. I can reproduce the error with 2600 history entries.

[2016-09-16 20:40] #8026 closed, assigned to nobody

[2016-09-16 21:14] #4445 closed, assigned to nobody

[2016-09-16 22:23] Alys commented on #7763
The "all" button should be fixed so that it selects all guilds in the list.

There are other ways to be in a challenge without being in the guild, and they also cause the guild to appear in the list without being selected by the button.

Being kicked out of challenges when you leave a guild is going to be fixed in another issue.

[2016-09-17 00:17] Alys commented on #7851
@paulwasit You're most welcome to look into this, but it might not be simple to find the cause. Ask here if you run into problems!

[2016-09-17 00:46] lemoness commented on #4500
Yes, this still happens to me!

[2016-09-17 00:50] lemoness commented on #4446
Honestly, though it still happens, it's basically unimportant -- those pixels that are covered have always been covered and fixing it isn't really necessary. I'm closing this ticket, but if anyone disagrees they can comment here.

[2016-09-17 00:50] #4446 closed, assigned to nobody

[2016-09-17 00:55] lemoness commented on #4297
Yes, I believe it is, at least for Tumblr.

[2016-09-17 01:15] lemoness commented on #7917
It appears that we haven't yet awarded the Empty the Armory badge to everyone who did the old version of Rebirth! The badge art isn't quite finished yet, so perhaps we should download a list of all the users who need to get that badge when we first introduce it, before other people start using the new version of Rebirth.

[2016-09-17 02:08] AndrewPomorski commented on #8016
Hello, I'd like to try and fix this one. Is that alright? :)

[2016-09-17 02:40] Alys commented on #7917
@lemoness I captured a list of all the players who had the Rebirth achievement just before this change went live, and I'm keeping it to give them the Empty the Armory achievement once it's been created. An action item for that exists in https://github.com/HabitRPG/habitrpg/issues/7991

[2016-09-17 02:40] #7917 closed, assigned to nobody

[2016-09-17 04:03] khipkin commented on #8001
Not sure how this whole "Projects" feature works on GitHub, but I think this can be moved out of "In Progress".

[2016-09-17 04:53] AndrewPomorski commented on #7916
Hi, I can tackle this one.

[2016-09-17 05:27] Alys commented on #7916
@AndrewPomorski Thank you!

[2016-09-17 05:31] Alys commented on #8016
@AndrewPomorski That would be great, thank you!

[2016-09-17 15:18] sebastienplat commented on #7851
OK so I was able to update my profile in mongo.exe to boost my perception, and to locate the API call in the taskServices.js. As @SabreCat said, the notifications occur in userServices.js after the API call is resolved, so I think the issue is server-side. I will keep investigating further.

I had troubles to recreate the bug though: I had to click like a madman for drops to disappear.

I was not

[2016-09-17 15:50] khipkin commented on #7851
The Shared.ops.scoreTask logic is here: https://github.com/HabitRPG/habitrpg/blob/develop/website/common/script/ops/scoreTask.js

[2016-09-17 16:20] sebastienplat commented on #7851
I think I know what could cause the issue.

In `api-v3/task.js`, there is a call to `user.fns.randomDrop({task, delta}, req);` that links to `common/script/fns/randomDrop`.

The dropped item is set and added in two places of the `user` object:
- `_tmp.drop`
- `items.xxx`

The user object is then saved to the db and _tmp is included in the returned object `resJsonData` for the notification.

But wh

[2016-09-17 16:21] sebastienplat commented on #7851
thanks @khipkin !

[2016-09-17 17:37] lizgzil commented on #2176
I guess this is an old issue, but I really think my drops aren't random.

I've had 12 food items, 4 potions, and 19 eggs so far. So based on the drop probabilities of 0.4, 0.3 and 0.3 respectively for food, potions and eggs, I think the drop numbers I have experienced or more extreme than these would occur with probabilities of 31% (fine), 0.9% and 0.2%. This is based on the distributions of the o

[2016-09-17 17:53] ZeekDaGeek opened #8033 "Advanced Options collapse setting not working"
General Info
- UUID: 57fb0d85-dbcd-474d-923c-e32d95a704b6
- Browser: Google Chrome
- OS: Windows 10
### Description

The "Advanced Options in tasks start collapsed" option seemed to be bugged. Mine is disabled (unchecked) and yet when I _CREATE_ a new TODO "Advanced Options" is always collapsed. Editing a TODO seems to properly default to expanded.
#### Console Errors

[2016-09-17 18:58] crookedneighbor commented on #2176
FYI, since the random drops on longer need to be calculated on the client, there's already work underway to remove the seeding and just have the server determine what the drops will be.

[2016-09-17 19:33] salaxander commented on #8023
@Alys Got things up and running locally! Just taking some time to familiarize myself with the codebase :) I'll update when I've made some progress

Thanks!!

[2016-09-18 02:19] imwangpan commented on #8033
me too.
Browser: Google Chrome
OS: Windows 10

[2016-09-18 03:43] Alys opened #8035 "code change needed for "Quest completed but rewards and completion not recorded for quest participant(s)""
As described in https://github.com/HabitRPG/habitrpg/issues/4252, when quests finish, they sometimes do not give the rewards and achievement to all participants. I don't believe there's anything buggy with the code; I think it's just timeouts or similar, so we need code that works in a way that can't be broken by slow / overloaded web or database servers.

I proposed an idea in this comment: https

[2016-09-18 04:44] chainoy opened #8036 "chainoy"
[//]: # (Before logging this issue, look through common problems at https://github.com/HabitRPG/habitrpg/issues If you find your issue there, read at least the first post to see if there is a workaround for you)

[//]: # (Github is primarily used for reporting bugs. If you have a feature request, use "Help > Request a Feature" so that the feature request can be vetted by the larger Habitica commun

[2016-09-18 04:44] chainoy opened #8037 "chainoy"
[//]: # (Before logging this issue, look through common problems at https://github.com/HabitRPG/habitrpg/issues If you find your issue there, read at least the first post to see if there is a workaround for you)

[//]: # (Github is primarily used for reporting bugs. If you have a feature request, use "Help > Request a Feature" so that the feature request can be vetted by the larger Habitica commun

[2016-09-18 06:33] Alys commented on #8037
If you need help with any bugs, please report the problem at Help > Report a Bug from the habitica.com website's menu.

[2016-09-18 06:33] #8037 closed

[2016-09-18 06:33] #8036 closed

[2016-09-18 06:35] thebat137 opened #8038 "Collection quest progress sparkle does not update without sync or page refresh"
### General Info
- UUID: dea8a9e8-c084-438a-9a14-7fe96a73fd0a
- Browser: Firefox ESR 45.3.0
- OS: Debian Linux
### Description

(Copied from the bug guild, as requested by @Alys.)

I love the new quest progress sparkle thing. However, it seems like it's falling prey to that common page update issue --- sometimes it does not update until I hit the sync button or reload the page in my browser.

This

[2016-09-18 09:05] lizgzil commented on #2176
Thanks @crookedneighbor! Hopefully an influx of potions will come my way soon then.

[2016-09-18 11:53] paglias opened #8039 "E2E tests for new client"
They're excluded from `npm test`.

We also have to decide whether to use Nightwatch (we're having problems running it on TravisCI) or Protractor.

Anyway it doesn't makes sense to write them until the UI is ready.

[2016-09-19 16:09] SabreCat commented on #7851
Nice investigation!

[2016-09-19 22:06] Alys commented on #8038
A second report of this from cTheDragons (bc10ec41-4213-4482-bbb8-558e3c3ea8d5):
"The damage icon in the toolbar does not always report correctly particular for collection quests. IF I look at the DDT now it states I have found 4 items for today for my quest, but on the toolbar is 3. This is despite checking items off on the website only today."

[2016-09-20 01:34] thebat137 commented on #8038
Yeah, I forgot to mention that all of my activity when I was seeing this problem was through the website, no app use involved.  Also, it does seem like at least the first few tasks of the day (and possibly occasional others, not sure) will register without manual sync --- when I checked off my first couple tasks this morning, the quest sparkle showed up without manual sync, indicating that I'd fou

[2016-09-20 01:56] crookedneighbor commented on #7915
Was just able to boot up a Windows 10 VM (finally) and when I ran the command, it failed (because I'm missing the OS dependencies for compiling the sprites), but it still presented me error messages as I expected it to. @MrEikono I'm afraid I cannot reproduce your issue of gulp refusing to run on your system. Fairly certain there's something going on with your particular setup, and it has nothing

[2016-09-20 01:56] #7915 closed, assigned to nobody

[2016-09-20 02:33] #7939 closed, assigned to nobody

[2016-09-20 02:43] Alys commented on #7940
I've taken this off hold now that https://github.com/HabitRPG/habitrpg/issues/7939 has been done.

[2016-09-20 02:44] Alys commented on #7940
Ah, actually, I've just read this note of mine from the top post:
"It might also be wise to wait until some subscription problems are fixed because we don't want subscribers to lose messages if there are any problems with their subscription that cause their limit to drop to 50."
I'm still in favour of that, now that I've remembered it. I'm putting this back on hold temporarily while we think about

[2016-09-20 12:59] #7846 closed, assigned to nobody

[2016-09-20 13:08] #7763 closed, assigned to nobody

[2016-09-20 15:08] kinggre opened #8042 "Equiment not showing on Avatar"
Equipment, when selected, does not show up on my daughter's avatar.  Her email is kbsbpp@gmail.com.

She is able to customize the avatar (shirts, hair, etc.) as well as choose mounts and pets.  But, when selecting any equipment (weapons, armor, etc.), it does not display.

<img width="847" alt="screen shot 2016-09-20 at 11 06 37 am" src="https://cloud.githubusercontent.com/assets/16153595/18676103

[2016-09-20 15:11] paglias commented on #8042
@kinggre from your screenshot it looks like the Costume feature is enabled. That means that while you daughter is in fact equipped with the items for the game purposes (damage calculation...) they won't show on the avatar.

The items shown on the avatar can be selected in the Costume section in the right side of the screen. If you don't want to use a costume and simply have all the equipped items

[2016-09-20 15:11] #8042 closed, assigned to nobody

[2016-09-20 16:09] scbaker commented on #8026
Although this is now working, just wanted to note that the top part of the tooltip is still showing the "This item matches your class, so it gets an additional 1.5 stat multiplier" message from the equipment page instead of calling up the classEquipBonus string from the code linked by @crookedneighbor.

[2016-09-20 18:51] rbreu commented on #3571
I'd be interested to look into this (and #5639).

[2016-09-20 18:52] rbreu commented on #5639
I'd be interested to look into this (and #3571 ).

[2016-09-20 21:30] Efox917 commented on #7576
Yes, this is the problem.  I sold a bunch of eggs recently and did so slowly and didn’t experience the problem.
Thanks for your time and attention!

[2016-09-20 23:24] Alys commented on #3571
@rbreu Thanks! You're welcome to ask questions here if you wish to.

[2016-09-20 23:25] Alys commented on #5639
@rbreu Thanks!

[2016-09-21 00:20] Alys opened #8045 "Parse text when creating a task: e.g., "do this :: #tag, hard Monday""
As described in the [ADD NEW: PARSE TEXT: "do this :: #tag, hard Monday" on Habitica | Trello](https://trello.com/c/vDYCrh16/13-add-new-parse-text-do-this-tag-hard-monday) Trello card, we'd like Habitica to interpret certain kinds of text entry so tasks and rewards can be added/edited without a lot of clicks.

The suggestion in the card is that descriptions could be separated from parsed text with

[2016-09-21 01:32] hcorion opened #8046 "health in party doesn't reflect actual health."
General Info
- UUID: 48794933-9b73-4b05-8efd-f44fde5aedf3
- Browser: Google Chrome Version 55.0.2866.0 canary (64-bit)
- OS: Windows 10 64-bit build 14393
### Description

As shown in the picture below, the displayed health in my party is not the same as my health. I did just level up and got my health reset. Just a cosmetic change, not super important.
![habitica-bug](https://cloud.githubusercont

[2016-09-21 01:48] lemoness opened #8047 "Add Get Well Card"
We have a new type of card to be added to the Market -- the Get Well Soon card! https://trello-attachments.s3.amazonaws.com/52f73657fe2cc93e7b7bbd4a/39x39/769b64f0bd8cbc4239f375a27bdd5f2c/getwellsooncardv8.png

It should be added to the Market like the other ones.

[2016-09-21 01:54] lemoness commented on #8047
Actually, looks like the equivalent badge was never made! I've put in a request, so I am closing this for now and will reopen it when it's done.

[2016-09-21 01:54] #8047 closed, assigned to nobody

[2016-09-21 02:06] cmajames commented on #7958
@Alys sorry for not getting back sooner! I've got a draft solution for the first half of the issue, ie I've managed to stop the server from unequipping all of the user's items during class change. For the second half, I've identified the offending code, but when I go to write a solution (that involves User.set in order to create a flag) I'm getting an HTTP 401. Could you take a look at the followi

[2016-09-21 02:08] crookedneighbor commented on #8045
Thoughts and questions in no particular order:
- If a mutually exclusive update is sent via the text field and the task body, which should take precedence? IE, if I send:

[code]

  Should the value in the `repeat` object take precedence? Or should the value parsed from the `text` field take precedence?
- Tags can have spaces in them. This will make them hard to parse. If I have the tags "Tag" and

[2016-09-21 02:12] crookedneighbor commented on #7958
Only certain paths are allowed to be edited via the update user API route. This prevents someone from just updating their class/balance/etc to whatever they want. https://github.com/HabitRPG/habitrpg/blob/589b2aaf3a299dae4727e5b1e94479f579feb8a3/website/server/controllers/api-v3/user.js#L163-L167

Is there a reason you need to set a flag?

[2016-09-21 02:43] cmajames commented on #7958
@Alys sorry for not getting back sooner. I've solved the first half of this issue, ie I've made it so that armor, etc is no longer unequipped after changing classes. However, I'm running into complications with the second half, namely, the server is responding with the following:
{"success":false,"error":"NotAuthorized","message":"path `flags.shownClassChangeEquipment` was not saved, as it's a pro

[2016-09-21 02:48] cmajames commented on #7958
@crookedneighbor I'm setting the flag so that the message only shows up the first time a user changes class.  Although, if I'm misunderstanding what @Alys is asking the point is mute.

[2016-09-21 02:57] Alys commented on #7958
The message should never show up at all. :) Class changes should not remove equipment so the message won't be necessary any more.

[2016-09-21 03:29] cmajames commented on #7958
@Alys when a player chooses their class I assume they should still be awarded the basic weapon for that class. However, for _really_ new players, ie players who've reached level 10 for the first time, do we still want to equip the basic weapon automagically?

[2016-09-21 05:33] khipkin commented on #8046
I think that maybe this issue and #8038 are caused by the user's party object not having the most recent data.

[2016-09-21 06:58] rbreu commented on #8045
Re your first bullet point: Shouldn't the parsed text take precedence? Because you want to create a new task without having to look at the defaults of the other options in the interface, and if the client doesn't implement the parsing, it will probably send defaults along because it can't know that the other values aren't needed.

[2016-09-21 09:52] Alys commented on #8045
Fine with me as long as the flag is unique enough that it's unlikely to occur in normal text. I think the presence of `::` alone won't be enough. Maybe we could make it something like if the task starts with `::` and also has `::` within it (e.g., to separate the text from the other parameters) then it's considered for parsing.

[2016-09-21 09:55] Alys commented on #8038
To anyone working on this, note @khipkin's suggestion in https://github.com/HabitRPG/habitrpg/issues/8046#issuecomment-248515835 that these two issues might be caused by the user's party object not having the most recent data (that's not confirmed but it sounds like a good place to start looking).

[2016-09-21 09:58] Alys commented on #7958
They should still be awarded the basic weapon, but it shouldn't be equipped automatically because they're likely to already be using a better one.

Also, not equipping it will help them to realise that their existing gear can still be used and they haven't wasted their gold buying it (a common question).

[2016-09-21 14:09] ghost opened #8049 "Issue with wrong pets being displayed"
General Info
- UUID: d0e00de7-81e0-43b9-90ef-6ba794dbc40a
- Browser: Chrome
- OS: OS X

Description:
My pet section is showing pets that I don't have. In reality I only have the basic pets although more rare pets are being displayed now. When I equip one of the pets that appear there now it shows in my browser but on my phone it shows up as a pet that I actually have. My display picture is also me

[2016-09-21 15:27] ghost commented on #8045
@Alys I'm afraid I won't be of much help =(

If I understand you right, you want users to input keywords in the language they prefer and they should still be recognized and parsed. I know that i18n can be a can of worms for setting due dates for todos:
- slyle of dd/mm or mm/dd
- in word combinations different forms/words can be used in different context: e.g. `next` in "next week" and `next` in "

[2016-09-21 15:41] crookedneighbor commented on #8049
Please refresh. It should be fixed now.

[2016-09-21 15:41] #8049 closed, assigned to nobody

[2016-09-21 17:25] AndrewPomorski commented on #8016
I've got everything up and running. I should be done soon.

[2016-09-21 17:28] vikingmomo commented on #8049
I tried that, it doesn't work.

[2016-09-21 17:29] ghost commented on #8049
Thanks!

[2016-09-21 17:36] delphinium89 commented on #7982
It seems like the PNG images used in the wiki for floral are all cropped differently.

Compare: http://vignette4.wikia.nocookie.net/habitrpg/images/c/cc/Mount_TigerCub-Peppermint.png

To: http://vignette2.wikia.nocookie.net/habitrpg/images/8/88/Mount_TigerCub-Floral.png

[2016-09-21 20:43] dv4quadcore commented on #7784
Hi, I'm interested in addressing and fixing this!

[2016-09-22 01:53] symbolic commented on #669
Hi, I want to change my username to "w". But it is showing error like "Login is a reserved word".
When I input "https://github.com/a" "https://github.com/z" “https://github.com/0” “https://github.com/9”，they are all okay. What's wrong with "https://github.com/w"? Could you fix this?
Thanks.

[2016-09-22 02:18] crookedneighbor commented on #669
@symbolic See the comment right above your comment

[2016-09-22 09:16] Alys commented on #8045
@GitHubSphinx That was useful! It's given us extra ideas to consider.

The date format can probably be best handled by requiring the player to use the same format that they've chosen in the website's settings.

We'd probably want to limit the words that could be used as keywords (for example, mandate that in English you must use "every Monday" rather than "on Mondays"). The entry form could have a

[2016-09-22 16:06] librarianmage commented on #6490
Should this wait until the client update?

[2016-09-22 16:07] SabreCat commented on #7784
@dv4quadcore: You're welcome to have a look! Note, however, that we're working on a rewrite of the front-end design, so this issue may become moot within the next few months. If you don't mind your work being incorporated with that caveat, though, carry on!

[2016-09-22 16:08] librarianmage commented on #7687
Unless this should wait, I can work on this!

[2016-09-22 16:20] paglias commented on #6490
@MathWhiz this can go ahead! Though I think that redirecting to /logout (if it's not already done) should be enough to delete cookies

[2016-09-22 16:24] crookedneighbor commented on #6490
^ that's what it does

[2016-09-22 19:52] Ozzystrasza commented on #4681
Is this on hold because of the redesign?

[2016-09-23 01:37] lemoness commented on #6079
I'm going to close this thread for now. We can reassess it after we have other features that protect users against unplanned crons.

[2016-09-23 01:37] #6079 closed, assigned to nobody

[2016-09-23 02:12] crookedneighbor commented on #7405
Closing this as we're moving away from Angular which is where the issue lies.

[2016-09-23 02:12] #7405 closed, assigned to nobody

[2016-09-23 02:23] #7993 closed, assigned to nobody

[2016-09-23 02:39] lemoness commented on #5618
Personally, I am strongly against adding a group of new achievements that
can never be earned by new players. We unfortunately have some of those
already, but I don't want to add any new ones, because it goes counter to
our current goals of making everything in the game accessible. Sure, it may
take a long time to get things (such as buying all the Time Traveler
outfits) or be very difficult (such

[2016-09-23 02:42] #8033 closed, assigned to nobody

[2016-09-23 02:49] khipkin commented on #5618
I think it would make sense to multiply the count of achievements earned before the change by the respective amount that each quest decreased by, and maybe also grant additional quest rewards for past quests.

ex: Moonstone Chain decreased by a factor of 5, so`participant.grant(moonstoneRewards * 4 * moonstoneCount)` and then `moonstoneCount *= 5`.

[2016-09-23 02:53] Alys commented on #4681
Yes. The current undesirable behaviour might disappear completely with the
new design, and this issue isn't reported often to make it a high priority.

[2016-09-23 05:12] Merave1 opened #8053 "Choosing a class after using Orb of Rebirth costs gems"
General Info
- UUID: User ID: 7583232e-3233-4ce6-81de-8ac8b67f9a4b
- Browser: Firefox
- OS: Window 7
### Description

I've tried to choose a class after using the Orb of Rebirth to re-birth. It let me choose one (Healer) but took 3 Gems. Can't understand what happened because the first time one chooses a class it's supposed to be free.
#### Console Errors

[2016-09-23 06:06] Alys commented on #6490
clear-browser-data does redirect to /logout, but that doesn't delete all cookies - some remain. They're overwritten when you log in again, but that doesn't rule out the possibility of some site problems being caused by corrupted cookies. I'd like clear-browser-data to completely delete all existing cookies, so that when a player has used it, we can be certain that any remaining problems can't be r

[2016-09-23 08:40] paglias commented on #6490
Which cookies are retained? The only ones we care about or control directly
are for login status in and they should be deleted by /logout

Il 23 set 2016 08:06, "Alys" notifications@github.com ha scritto:

[2016-09-23 11:01] synrg commented on #6462
This is still an issue for me (fast typist, ~80 wpm, mostly typing on older/slower systems, e.g. Android tablet: Nexus 7 2013, EeePC model 1001px circa 2010, VNC server running on ~10 year old Athlon X2; but on these systems typing in textboxes on AngularJS applications of my own, I don't have this issue). Should I record any observations here or open a new bug, since this one is closed? I was ref

[2016-09-23 12:25] Alys commented on #6462
@synrg We're starting a project to rewrite the website's front-end code, and will not use Angular in the rewrite. I would guess that the new code would perform better, and even if it's not as fast as we'd desire, the causes of slowness would be different than they are now, so my personal feeling is that it would not be worth you spending time on this issue.

We don't yet have a timeframe for when

[2016-09-23 12:32] synrg commented on #6462
@Alys Nice. At work, having become less enamored of Angular the more we used it, we have started the switch to Vue.js. Where is the redesign discussion happening? I'd love to track that.

In the interim, I've started pondering if a simple userscript to s/auto-complete// in the page would work around the issue for me. I have noticed that on chats with few members, performance is excellent, so it se

[2016-09-23 12:42] Alys commented on #6462
@synrg Oh! A userscript would be popular! If you make one, drop in to the Aspiring Comrades guild and mention it there. That's a guild for people who make third-party tools. I'd also encourage you to join the Aspiring Coders guild which deals with questions and information about coding for Habitica itself. When we have any information about the website redesign, we'll mention it there.

[2016-09-23 13:33] crookedneighbor commented on #6462
Just mentioning that we chose Vue for the redesign :smile:

[2016-09-23 18:30] Memry commented on #7727
Happened to my mememry account UUID 2dc2722b-fdc1-4a36-894f-c22418b67a30 this morning.  Still shows damage pending.  Just not damage done. I was not in the inn.  No idea why it could have happened.  Kind of bummed because it should have meant we killed the Hedgebeast today and then I would have started another quest.  Oh well, after the weekend, I suppose.

[2016-09-23 21:24] SabreCat opened #8056 "Disallow purchasing Magic and Wacky Hatching Potions beyond usable number or allow selling for Gems"
### Description

It's only ever possible to use a maximum of 18 of a given Magic Hatching Potion. (Hatch the nine pets, raise them to mounts, and hatch the nine pets again.) However, there are no guard rails preventing a user from buying more than this amount, leaving the unfavorable 2-Gold sell price as the only way to get anything for the 2 Gems spent on each excess potion. We could implement a

[2016-09-24 03:17] Alys commented on #5618
@lemoness Great point about not wanting more achievements that can not be gained by new players. I agree now. We'll make a migration script that increases the achievements counts for those players who've already done the quests. Unless you think otherwise, we'll increase them by same factor as the quests were nerfed, as @khipkin suggests just above.

[2016-09-24 06:31] Alys opened #8057 "Amplitude should record the user's balance (amount of gems)"
Our  Amplitude analytics data should include the user's number of gems (the user's `balance` object) to help us track payment / purchase problems.

Ideally it should report it as something like this `Balance   0.75 (3 Gems)` to avoid us making mistakes with the mental arithmetic - I know it's not hard, but it's even easier for the computer. ;)

If for any reason the balance doesn't exist or isn't

[2016-09-24 07:03] Alys commented on #8053
@Merave1 I'm looking into this and there do seem to be odd things in the logs for your account around that time, which I'll write up here, but firstly, did you notice anything unusual about Habitica on the day that you chose your class, especially around the time of the class change itself. For example, were you experiencing any unusual slowness, or red error message notifications, or any kinds of

[2016-09-24 08:59] Alys commented on #6490
I didn't record the cookies that remained but I don't think that's
important. The reason for this feature is so we can be absolutely certain
that any unusual problems a user is having are not from cookies. If the
button deletes ALL cookies from habitica.com, that will include any left
over from an earlier version of the site (for returning users), anything
weird a user has done by editing cookies,

[2016-09-24 09:06] Couvah opened #8058 "Hello~ There is a question about challenge..."
General Info
- UUID: 29931b4a-46d7-4d5a-b000-f8eedc294397
- Browser: Microsoft edge
- OS: windows 10
### Description

Maybe it's not a bug?... A friend created a challenge in my party, but now he won't use habitica anymore, and he left my party last month. The question is, his challenge is still in my party, how can I remove it?
shanaqui told me the only people who can help me will be mods/admin,

[2016-09-24 11:38] Alys commented on #8058
It's not a bug; challenges are meant to remain until their owner closes
them. We can help though if you tell us the URL of the challenge (view the
challenge in your browser and copy what appears in the browser's address
bar, and paste it to a new comment here).

For future problems that need admin assistance, the easiest way to reach us
is through Help > Report a Bug from the website's menu. That

[2016-09-24 14:33] markwk commented on #3079
From what I can tell the data exports and user data json file doesn't record the actual click time. Instead the export merges all of these into a server datetime that must relate to a cron update.

This seems like massive manipulation of potentially very useful user data. For example, I'd love to run a report on when I check-in my various habits. Obviously the current data exports and timestamps d

[2016-09-24 14:45] DrStrangepork commented on #4331
Just a thought: I know my PayPal account is set to withdraw funds directly from my checking account if the PayPal balance is $0. Maybe this was succeeding because of a similar configuration to PayPal?

[2016-09-24 15:05] mandyzhou opened #8059 "Glyphicons not compatible with open-source license"
From http://glyphicons.com/license/

"You must not: [...] include icons in open-source projects, since this license is not compatible with most of the open-source licenses"

[2016-09-24 15:33] Alys opened #8060 "Spam prevention - prevent a player from posting too many chat messages in a short time"
We want the Tavern, guild, and party chats to have a timed limit preventing people from posting many messages in a row. It should allow only X posts per Y time, with a rolling window, where X and Y are specified as environment variables or constants (constants might be fine because we probably won't want to change this often).

Moderators are exempt. We might also want to exempt Socialites of a hi

[2016-09-24 15:36] abatula commented on #7990
I've been looking at the code for a while, and I've come up with two options:
1. Get access to the `quest.active` attribute of the party
   - Like here: https://github.com/HabitRPG/habitrpg/blob/develop/website/server/controllers/api-v3/quests.js#L173
   - I'm not sure how to get the party group passed into `hasQuestProgress()`, or even if that's a good idea
2. Add a similar `active` attribute to

[2016-09-24 15:36] crookedneighbor commented on #8059
That's weird because glyphicons are included in Bootstrap, if I recall.

In any case, we're not going to be using glyphicons in the redesign project.

[2016-09-24 15:36] Alys commented on #8059
FYI @veeeeeee

Thank you @mandyzhou!

[2016-09-24 15:44] paglias commented on #8059
From what I remember the icons we're using are a special distribution of
Glyphicons made specifically for Bootstrap

Il 24 set 2016 17:37, "Alys" notifications@github.com ha scritto:

[2016-09-24 15:45] crookedneighbor commented on #7990
IMO this isn't worth working on the old client now that work has started on the new client.

[2016-09-24 15:46] crookedneighbor commented on #8059
^ sounds accurate to me.

[2016-09-24 16:28] Alys opened #8061 "Swearword blocker"
The public (not private) chat areas in Habitica need a swearword blocker: when a user attempts to make any post, the post is scanned for blacklisted words and if any of those words are present, the post is not made. The user sees a message explaining why the post has not been made and stating the troublesome word(s) (that's important because some people don't realise that the minor swear words and

[2016-09-24 16:35] Alys opened #8062 "Automatic muting (revoking of chat privileges) for players who attempt to post a slur"
Related to the [swearword blocker](https://github.com/HabitRPG/habitrpg/issues/8061):

When a user attempts to post a slur that violates the Terms of Service, a notification should be sent to moderators and the user should have `flags.chatRevoked` set to `true` so that they cannot make any posts until moderators have determine whether or not the user needs to be blocked.

This is only for slurs, n

[2016-09-24 16:37] Alys commented on #8061
See also https://github.com/HabitRPG/habitrpg/issues/8062 "Automatic muting (revoking of chat privileges) for players who attempt to post a slur". Because of that, the file that contains the blacklisted words should  have slurs stored separately from other bad words, or stored together but marked with some kind of flag.

[2016-09-24 17:20] Alys opened #8063 "Optional moderator approval for chat posts from all new users"
We want to have a setting to temporarily turn off the ability of new users to post before allowed to do so by a moderator. This would be very helpful in situations where a single user (or several trolls) tries to make many accounts in a row to dodge a ban and spam chat.

Details:
1. All existing users are always allowed to post.
2. Under normal conditions, all new users are allowed as soon as they

[2016-09-24 17:27] Merave1 commented on #8053
I get red error messages most of my days in habitica (I usually refresh the page when it happens). I selected the Enable Class System option but nothing happened so I had to click it again. This page appeared where I have to select my class and clicked the healer. It disappeared and I went to my Task page to start buying my old Healer Equipment. Then appeared again a page to select my class (I gue

[2016-09-24 17:34] citrusella commented on #8014
I think someone reported this in the Tavern today.

Nikowski (c73d76b1-e209-4fe2-81f8-beaeadeca819) posted at 17:12:33 and 17:13:12 UTC (I think; I'm converting because the timestamps appear to be in my own timezone and I'm UTC -4):

"Okey, i just join to game and i broke it. It shows me i have 151/150 experience after i end tutorial."
"And the game was showing me, i have level two, but after relo

[2016-09-24 18:06] khipkin commented on #8061
Maybe there could be folders/files containing the blacklisted words in each locale folder?

But then that raises the question of whether or not swear words of ALL languages should be checked for on all messages?

Just checking the language the user uses for the site would be insufficient because many people set it to the language they're learning, not necessarily the language(s) they are fluent in

[2016-09-24 18:08] khipkin commented on #8063
@Alys Wouldn't this overwhelm the moderators relatively quickly once the flag was turned on?

[2016-09-24 18:08] deilann commented on #8061
I think the idea isn't to keep people from sending malicious messages. We
have moderators for those kinds of people. The idea is to let people know
that their post will be moderated if they do indeed post it trying to get
around the blocker.

On Sat, Sep 24, 2016 at 11:06 AM, Kaitlin Hipkin notifications@github.com
wrote:

##

Currently Reading
https://www.goodreads.com/user/email_signature_destin

[2016-09-24 18:10] khipkin commented on #8061
@deilann Oh I see... that makes sense! So then the issue would be just balancing the comprehensiveness of the check with the time required to do the check.

[2016-09-24 18:17] colingm commented on #8056
Is it alright if I start working on this one?

[2016-09-24 18:41] crookedneighbor commented on #8063
An alternative to this would be to require people to verify their email before granting chat permissions. I would much prefer that option.

[2016-09-24 18:51] SabreCat commented on #8056
@colingm: Sure! In some offline conversation, it's been pointed out that some folks like to keep a potion around as a collectible in addition to the pets, so a hard stop at 18 may not be the best way to solve this. One suggestion I liked was to change the sale value of Magic Hatching Potions from 2 Gold to 2 Gems (basically, you can get them refunded at will)--that may be a more involved fix, thou

[2016-09-24 18:53] crookedneighbor commented on #8056
I personally don't think this is ready to be worked on. Too much that needs to be discussed and decided on.

[2016-09-24 19:05] colingm commented on #8056
Okay it does sound like there is still some discussions that need to be resolved before this gets changed so I don't have to work on it. I can see why some people might want to have more than the limit so it is probably a good idea to decide on how that is handled before anything gets implemented.

[2016-09-24 21:27] abatula commented on #5429
Is this still an issue that should be fixed? If so I can work on it.

[2016-09-24 22:40] JTorr commented on #7807
Is anyone working on this issue? I would like to pick it up, and I have a fix ready if no one else is working on this.

[2016-09-24 23:36] Alys commented on #8063
@khipkin This would be used only in situations where one or more trolls or spammers were repeatedly making new accounts to get around a ban. In one time when that happened with just one person making a few accounts, it took me two hours of solid effort to keep blocking them and finding and deleting their messages before they stopped. If it were a group of people, or one person who continued longer

[2016-09-25 01:03] Alys commented on #7807
@corinnaj I'm sorry - we never replied to your question. It looks like no one was working on it before you, but @JTorr is interested now. @corinnaj Have you done any work on it? If so, you'd be welcome to do a pull request. Othe

[2016-09-25 01:04] Alys commented on #7807
ugh, misclick.

... Otherwise, @JTorr could take it up.

[2016-09-25 01:06] Alys commented on #5429
@abatula Please go ahead, thank you!

[2016-09-25 01:08] Alys commented on #8014
@citrusella yes, thank you! That probably is the same bug, and it's good to hear about another example of it.

[2016-09-25 04:01] khipkin commented on #8063
@Alys Ohhhhhhh did you mean that only new accounts made after the flag was set would be moderated like this?? I thought you meant all new accounts made after _the feature was added_. :facepalm:

[2016-09-25 04:16] Alys commented on #8063
@khipkin Ah yes, I was not clear enough! Definitely just when the flag is set, not all the time. :) I'll adjust the top post. Thank you for querying it!

[2016-09-25 05:39] Alys commented on #8053
@Merave1 Thanks very much for those details! That matches what I'm seeing in the logs. I've just given you 3 gems.

---

Technical details for admins and devs (Merave1, you can ignore the rest of this post if you wish to, although you're welcome to ask questions about it if you're curious!):

I can't replicate the bug in my own test account but in the Amplitude logs for Merave1's account there's c

[2016-09-25 05:44] Alys commented on #8053
@Merave1 I'd like us to work on stopping those red error messages you get so often - you shouldn't have to suffer through that and it will probably cause other problems for you. Could you please click on Settings (the gear-shaped icon on the top right of the website) and then on "Log out". Then log back in. lf you see more than one red error message in the next day after that, please tell us! Ther

[2016-09-25 06:03] Alys commented on #3079
For anyone interested in the questions @markwk asked, they were answered in the Newbies guild where markwk posted similar questions. Copying the messages here for posterity:

markwk:
How can I get the status of a task (daily or habit, for example) in the task history export? It only exports five values: Task Name, Task ID, Task Type, Date, Value.
Where can I see an exportable log of completed task

[2016-09-25 06:11] Alys opened #8066 "Enter/Return key should not post chat messages"
Currently, when typing a message in the Tavern, guilds, or party, hitting the keyboard's Enter key will post the message. This causes users who aren't familiar with this behaviour to post multiple messages when they meant to post only one.

**This should be changed so that Enter does nothing but make a new line (as Shift-Enter does now).**

This is important because we want to introduce an anti-sp

[2016-09-25 06:29] Alys opened #8067 "separate drop eggs from quest eggs in the Inventory > Market page"
_This should be worked on during the website redesign or afterwards, not now._

From a discussion in the Tavern:

On the [Inventory > Market](https://habitica.com/#/options/inventory/drops) page, in the Market section where you can buy items, all eggs are listed in one section, with the introductory text "Get these items faster with Gems if you don't want to wait for them to drop..." This implies

[2016-09-25 06:40] Alys commented on #7687
@MathWhiz My personal feeling is that this should probably wait, since the code for it would have to be redone during the site design, so I'm changing this to on hold, but if any other admins disagree, listen to them not me! :)

[2016-09-25 06:59] Kimazon opened #8068 "Character Died (Lost Health, Gold, Item, etc)"
- UUID:  4738d199-99fb-497c-a462-4521c198564a
- Browser: Chrome
- OS: Mac OSX 10.9.5

I just died (lost all my health, gold, etc) and I have no idea why? I checked my party messages and no one caused enough damage to seriously injure me. Yet, I lost all of my health in one hit. Any idea what might have happened?

I asked in the Help Guild and was directed here by Alys who looked at the logs but co

[2016-09-25 08:30] markwk opened #8069 "Provide Completion Status in Habit History Export"
In the habit history export in CSV, I'd like to add a column for completion status. Currently we merely show the Task Name, Task ID, Task Type, Date, and Value. But we don't record or display whether that task was checked off or not. This completion status appears nicely in the User Data Display tool as a checkbox in the table (See: https://github.com/Alys/tools-for-habitrpg/blob/master/habitrpg_u

[2016-09-25 08:35] markwk opened #8070 "Store Exact Completion Date for Dailies"
The habitica-user-data.json file does not store the user action update data on dailies. Instead what we have is the cron update data for dailies. This leads to some rather stage data export since we lose the timestamp of user input. I understand that a certain amount of preening is necessary for performance and database management. That said, I don't think we should delete this user history data o

[2016-09-25 09:22] Alys commented on #8069
Normally we ask that feature requests are placed in Trello, which you can access through Help > Request a Feature from the habitica.com menu. However since you're a dev, I'm guessing you want to work on this feature yourself, so I think it can stay here while it's discussed, but please be aware that if it turns out to not be possible for it to be implemented in the short term, we might close this

[2016-09-25 09:28] Alys commented on #8070
Normally we ask that feature requests are placed in Trello, which you can access through Help > Request a Feature from the habitica.com menu. However since you're a dev, I'm guessing you want to work on this feature yourself, so I think it can stay here while it's discussed, but please be aware that if it turns out to not be possible for it to be implemented in the short term, we might close this

[2016-09-25 11:28] crookedneighbor commented on #8066
I think I logged an issue about this already. My suggestion was to use ctrl/cmd + enter to send, like Github. (I believe I've already implemented that bit)

[2016-09-25 11:48] crookedneighbor commented on #8066
Actually, you opened the issue https://github.com/HabitRPG/habitrpg/issues/4460

[2016-09-25 12:44] corinnaj commented on #7807
@JTorr I started to work on it, but if you already have a fix ready, go for it.

[2016-09-25 16:00] colingm commented on #8060
@Alys Hey I was wondering if I could work on this. Any idea what would be preferred for X and Y?

[2016-09-25 19:03] paglias commented on #4460
Closing in favor of #8066

[2016-09-25 19:03] #4460 closed, assigned to nobody

[2016-09-25 19:06] paglias commented on #8070
I agree that storing the exact completion date for dailies would be a good idea, it could also help debugging problems with cron. @markwk  If you want to work on this there's code to be changed in website/common/script/ops/scoreTask and website/server/libs/cron

[2016-09-25 19:08] paglias commented on #8070
I've changed the title of the issue to reflect that it's only about dailies history. You can see the history for your tasks at https://oldgods.net/habitrpg/habitrpg_user_data_display.html

[2016-09-25 19:15] paglias commented on #8059
The Bootstrap site states that

And the Glyphicons one that

[2016-09-25 19:15] #8059 closed, assigned to nobody

[2016-09-25 19:32] paglias commented on #6490
👍  sounds good to me

[2016-09-25 20:37] Impendingdoom777 commented on #8011
I have recently added two more people into my party and the issue is happening again. This time this previous fix didn't help.

[2016-09-25 21:57] paglias commented on #8011
Have you tried clearing the cache? Also you should tell us if there are any errors in the browser console (instructions above)

[2016-09-25 21:58] Alys commented on #7727
Another confirmed report from about Sep 26 03:00 AEST 2016:

dazlious549 (68a39cf7-de3c-4f72-b79d-8d924901d908)
"Hello! For some reason, yesterday's damage hasn't dealt on my quest. My day started at 2 AM PST, and I've just logged in for the first time today at 9:15, but the damage is still pending. I've got 74.1 I'm supposed to deal. This number was 69.1 ish when I first logged in, but I've check

[2016-09-25 22:02] Impendingdoom777 commented on #8011
I have tried clearing my cache, but that did not help it. This is what the ctrl+shift+j command brought up https://docs.google.com/drawings/d/1VXTHgD8WnR-5garz6kINESPovVRNlb8Ha15xq9iwZ8o/edit?usp=sharing

[2016-09-25 22:04] JTorr commented on #7807
@corinnaj Sorry, didn't mean to step on any toes. I saw the "help welcome now" and thought it wasn't being worked on.

[2016-09-25 22:15] Alys opened #8072 "when a quest starts, a `system` message should be written to party chat"
When a quest starts (i.e., after the invitation phase is finished) a message should be posted to party chat saying something like:
`Your quest, The Call of Octothulu, has started.`

It should  be posted by the system user, as for other automated quest messages.

This would help players be aware of when they need to watch their Dailies carefully, and would help admins with troubleshooting quest bug

[2016-09-25 22:21] JTorr commented on #7807
@Alys I have a fix for the issue, but there is a failing test, and I'm not sure how it's related. I'll put up the pull request in the hopes that someone can help me out with that.

[2016-09-25 22:57] JTorr commented on #7807
There was a failing integration test when I ran it locally, but it passed the Travis CI run.

[2016-09-25 23:06] JTorr commented on #7807
A couple of notes on my pull request:
1) My code leaves the modal window open if no email/UUID is entered. If it would be better to close it and redirect, like with a successful submission, let me know and I can make that change.
2) In Safari, I was unable to see the messages 'Invites Sent', etc. This was true both before and after my code change.

[2016-09-25 23:14] Alys commented on #8011
@Impendingdoom777 Can you please add your User ID to this issue? You can get it from Settings > API on the website. "Settings" is the gear-shaped icon. Also, would you mind editing your original post to replace "Tech Support" with my name please? Those comments were made by me, and having my name there clarifies that, might help in future if we need to refer back to this issue and remember who sai

[2016-09-26 00:59] Impendingdoom777 commented on #8011
d554d21e-2fab-43d6-8deb-71663cdc8a7f
I have updated the comment.

[2016-09-26 05:10] Couvah commented on #8058
Thank you very much!!!

The challenge's address is:

https://habitica.com/#/options/groups/challenges/3756ef89-ae40-4066-b53e-60ba7859762b

I guess the URL is: 3756ef89-ae40-4066-b53e-60ba7859762b

---

发件人: Alys notifications@github.com
发送时间: 2016年9月24日 11:38
收件人: HabitRPG/habitrpg
抄送: Gh49; Author
主题: Re: [HabitRPG/habitrpg] Hello~ There is a question about challenge... (#8058)

It's not a bug;

[2016-09-26 06:44] Prutonium opened #8075 "Checklist Reordering Bug"
General Info
- UUID: 7980b927-aabf-4d68-8af1-ae3016e407a5
- Browser: Google Chrome Version 53.0.2785.116 m (up to date as of 9/26/16)
- OS: Window 10 64-bit
### Description

To-Dos Checklist is randomizing after moving a few checklist items (This particular checklist has 15 items.). The Task Adjuster Tool does not say I have the reorder bug. I've been making them weekly for school, and this is the

[2016-09-26 11:27] Alys commented on #8058
Thanks @Couvah ! I've made you the owner of the challenge so you are now able to delete it or close it and choose a winner. Let us know if you have any trouble with that.

[2016-09-26 11:27] #8058 closed, assigned to Alys

[2016-09-26 12:06] Couvah commented on #8058
O(∩_∩)OThank you very much, Alys!

---

发件人: Alys notifications@github.com
发送时间: 2016年9月26日 11:27
收件人: HabitRPG/habitrpg
抄送: Gh49; Mention
主题: Re: [HabitRPG/habitrpg] Hello~ There is a question about challenge... (#8058)

Thanks @Couvahhttps://github.com/Couvah ! I've made you the owner of the challenge so you are now able to delete it or close it and choose a winner. Let us know if you have any t

[2016-09-26 13:39] Alys commented on #8068
@Kimazon I've looked into this in a lot more detail now and I think what happened does mostly make sense. Our logs show that your cron ran at 2016-09-24 09:43 UTC (2016-09-24 early morning in your timezone) and just before then your health was actually 21, rather than 50 (see below for more about that). You had a few Dailies incomplete so the boss did 15.7 damage to the party, including to you. Th

[2016-09-26 16:05] paglias commented on #8011
@Alys The fact that it happens only on the header and the console error makes me think it's something on the client side. I'm not sure why it's happening though

[2016-09-26 16:55] #7929 closed, assigned to nobody

[2016-09-26 18:06] rbreu commented on #5639
# The big drop item translatable string roundup

We have the following translatable keys that get used in various messages and on theri own:

dropEggXXXAdjective
dropEggXXXMountText
dropEggXXXText
dropFoodXXX
hatchingPotionXXX

Full list of messages concerning drop items, with example translations to German, in this gist: https://gist.github.com/rbreu/1b56c12a302c100ec0cef1f96b9b7660

## Problem 1

[2016-09-26 21:17] thebat137 commented on #8038
I just finished my collection quest (Golden Knight Part 1) and started a boss quest (Golden Knight Part 2).  I don't seem to be seeing the problem occurring with this new quest.  I also seem to recall that I wasn't seeing it with the boss quest I was doing before Golden Knight Part 1.  So I think it's possible that the problem may be restricted to collection quests (as the coincidence of my report

[2016-09-26 21:55] crookedneighbor commented on #8038
It is only collection quests.

[2016-09-26 22:21] lemoness commented on #7991
The badge art is ready! https://trello-attachments.s3.amazonaws.com/52e9d25cd467121630c6350d/52e9d76055a08df534a7aa7f/c3bc646a80f41e47a81b117a2dab2775/empty_as_heckums.png

[2016-09-27 01:51] lemoness commented on #5618
That sounds like a good plan!

On Fri, Sep 23, 2016 at 8:17 PM, Alys notifications@github.com wrote:

[2016-09-27 02:27] lemoness commented on #8072
This looks good to me! Go ahead and mark it "help welcome."

[2016-09-27 06:48] Alys commented on #8011
@Impendingdoom777 Can you turn off all extensions in your browser and see if that makes a difference? This is only temporary while we work out if an extension might be causing the problem. Alternatively, open Habitica in incognito mode or private mode, if you have your extensions set to not be active in that mode.

[2016-09-27 08:19] paglias commented on #8075
@Prutonium sorry for the delay, do you see any error message when you try to re-order items? Also can you try closing your browser cache and logging out?

If it keep happening, can you open the browser console (Ctrl+Shift+J) and copy any error that appears there?

[2016-09-27 14:03] paglias commented on #7201
I'm going to close this, comment if you have more info

[2016-09-27 14:03] #7201 closed, assigned to nobody

[2016-09-27 19:38] Impendingdoom777 commented on #8011
@Alys I did both. Unfortunately, it did not fix the problem.

[2016-09-27 19:46] paglias commented on #8011
Your party members have your same problem?

Il 27 set 2016 21:38, "Impendingdoom777" notifications@github.com ha
scritto:

[2016-09-27 20:19] Impendingdoom777 commented on #8011
@paglias No their accounts all display the party members

[2016-09-28 04:34] Merave1 commented on #8053
Since doing what you've suggested (the proper log out instead of just closing my browser), things are way better. Haven't had a red message in the last two days :) Sometime it takes the sign a few seconds to register whatever action I take but it's fine. I don't mind that.

Was waiting with this answer to be sure the red messages didn't came back... Couldn't believe it at first :)

So simple a sol

[2016-09-28 05:12] Prutonium commented on #8075
@paglias Will do! I've currently got the list in the perfect order, but after my exam Thursday morning I'll make some attempts to replicate the bug on a new list (after closing my browser cache and logging out of course :) ). I'll post here whether or not I can replicate it, and if so I'll copy any errors I find!

[2016-09-28 05:43] Alys commented on #8053
@Merave1 Fantastic! Thanks for testing that and reporting back!

[2016-09-28 05:43] #8053 closed, assigned to nobody

[2016-09-28 08:37] markwk commented on #8069
Yup, I'm a dev, though this would be a bit outside of type of stuff I normally do. I might be able to sort some parts of it out.

For now on the question of implementation we'd need to consider the idea of storing the actual event users last took on a daily or habit. I know we can extrapolate completion status but seems a bit odd to not have this stored somewhere, especially if you want to obsess

[2016-09-28 08:48] markwk commented on #8070
Thanks for the comments and guidance @Alys and @paglias. Very helpful places to start. It might be awhile before I can dig in. My main concern was that as a tracker habitica exports fail to give me back an accurate history of my usage. This makes it hard to mashup data across tools to see productivity, life, etc. in a broader storyline.

Anyways, I'm not that great with node but I'll see what I ca

[2016-09-28 09:02] paglias commented on #8069
I agree about storing completion date for dailies, not sure about habits honestly

[2016-09-28 09:29] Alys commented on #8069
@markwk We'll leave https://github.com/HabitRPG/habitrpg/issues/8070 open for a while in case you do want to work on adding completion date-time stamps to Dailies.

I'm going to close this one though since it's not really critical for Habits. The date-time stamp of each click is already stored in their history, and whether it was a plus or minus click can be easily worked out by whether the value

[2016-09-28 09:29] #8069 closed, assigned to nobody

[2016-09-28 09:45] Alys opened #8078 "Allow moderators to unflag a post that they have flagged"
On the website, moderators no longer have the ability to unflag a message that they previously flagged.

When a non-moderator flags a chat post, they are not allowed to flag it again; if they try to, they see a notification saying "you have already flagged this message". That's correct behaviour for non-moderators.

However moderators are also seeing that notification, which is not correct. A mode

[2016-09-28 09:54] dumindux commented on #8057
Hi I am new contributor to the project. Shall I take up this issue? If so where should I start? Thank you.

[2016-09-28 10:08] Alys commented on #8057
@dumindux It would be great if you could work on this! Thank you!

See [Setting up Habitica Locally](http://habitica.wikia.com/wiki/Setting_up_Habitica_Locally), if you haven't already. For this specific issue, I think that the code you might want to change might be in `website/server/libs/analyticsService.js`. As an example, if you search in there for `gp`, you'll see how it handles the user's am

[2016-09-28 11:49] crookedneighbor commented on #8078
It should be for people who have the admin property, actually. (Amounts to the sane thing)

[2016-09-28 13:01] dumindux commented on #8057
Thank you for the information @Alys . Can I know how gems are stored in the database? Also is analytics only used in quest and payment?

[2016-09-28 13:16] #8078 closed, assigned to nobody

[2016-09-28 14:07] abatula commented on #7990
I wondered about that when all the files I was working with got moved to `client-old`. Unless someone says any differently, I will work on another issue while the new client is in progress.

[2016-09-28 14:29] sirhopcount opened #8079 "Cannot start fresh install of habitrpg"
I have created a docker image for HabitRPG but I cannot start an instance because it crashes with the following error:

[code]

You can find the full error log, Dockerfile, directory listing, etc in this gist:

https://gist.github.com/sirhopcount/68e7d1c4213a1c2f30dea373c96e594b

If you need any more information please let me know.

[2016-09-28 16:26] paglias commented on #8079
@sirhopcount can you try creating a website/build directory?

[2016-09-28 16:58] san7hos commented on #8045
Hi to all wizards and trolls,

Michal Stasa aka Santhos speaking:

I have a small insight first. You are all trying to think all cases through. While that is important, I would like to suggest a bit more agile approach. Would it be a problem to start with a limited feature, let's say target language would be english and the feature would work only when creating a new task? I am also quite busy pro

[2016-09-28 17:41] Ozzystrasza commented on #7723
@Alys Just to make sure I understand, your suggestion was to search through all users of Habitica and check if they have the gid? If so, do you know if there is already a way to access that info from all users?

[2016-09-28 18:38] Kimazon commented on #8068
Thanks for looking into it, Alys.

I do use a combination of the app and website, but mostly the website.

I have bought some potions over the last week, but I couldn't tell you when. I mostly just buy them if I notice my health is low and it's almost time for my chron.

I have noticed that sometimes I've marked tasks complete and then they didn't save and I have to mark them again.

The weirdest

[2016-09-28 19:14] librarianmage commented on #4549
Should this be delayed now?

[2016-09-28 19:19] sirhopcount commented on #8079
Yes, that fixed the problem, thanks for the help.

Before you close this issue could you please point me to the docs regarding the configuration file. Most documentation and examples I found just copy the example file without editing it and I assume the error I'm in running into now is related to the configuration:

[code]

(I followed the "Setting up Habitica Locally" guide just copied the exampl

[2016-09-28 19:43] paglias commented on #8079
Everything that's in the example configuration must stay, otherwise the server won't start but they're all placeholder values, they won't activate anything. Regarding the error you see is because we recently merged some changes that require new config options. You can copy the missing values from the config.json.example in the develop branch

[2016-09-28 19:43] #8079 closed, assigned to nobody

[2016-09-28 21:27] Alys commented on #7723
@Ozzystrasza Searching for all users with a gid is how the membership lists are created for guilds and parties, and it's done when notifications are sent, or quest damage/rewards are applied, so there'll be code for that somewhere. `members` is probably a good keyword to search for. It's possible that looking through the tests might be the fastest way to find relevant code, or to find pointers to

[2016-09-28 21:29] lemoness commented on #8060
Right now, let's make the limit 2 posts in 1 minute. Those variables should
be easy to change in the future, though, if we find that it isn't working
out.

Also, a point that we'll need to consider is how deleted posts are handled.
For example, if I post a message, realize it has a typo, delete it, and
repost with the typo fixed, is that considered one message, or two? In my
opinion, ideally it wo

[2016-09-28 21:36] Alys commented on #8060
Something I really should have put in the top post:

Before the fix for this issue is merged,  a fix for this issue needs to have been completed and proved correct:
https://github.com/HabitRPG/habitrpg/issues/8066 "Enter/Return key should not post chat messages"

Otherwise people will have their chat ability limited due to no fault of their own.

[2016-09-28 21:40] Alys commented on #8045
In general, I like the idea of starting small and adding features later, but I'm not in favour of starting with this feature only working for English. That would send a bad message to all our players for whom English is not their native language. Habitica tries to be as inclusive as possible, and that message would say the opposite. We currently don't have perfect support for other languages but a

[2016-09-28 21:48] Alys commented on #8057
Gems are stored in the user's `balance` field. A balance of 1 means 4 gems (hence `Balance 0.75 (3 Gems)` from the top post).

Analytics are used in a variety of ways but tracking the gem balance will be used for troubleshooting when people report bugs such as buying gem-purchasable items and not receiving them.

By the way, when you make a new comment, admins and anyone following the issue gets a

[2016-09-28 23:22] paglias commented on #8045
Can we start with something language agnostic like `title #tag #"multi word tag"` getting parsed into a task with title "title" and tagged with `tag` and `multi word tag`? Basically it would transform into tag the first word after # (or inside #"tag here") and remove `#tag` (note the whitespace before #) from the title

[2016-09-29 06:07] jepperson2 commented on #8075
I have had this issue as well on iOS. Here are the details of the situation in which it happened:
- iOS 9.3.5 (and now again with iOS 10.0.2)
- iPhone 5c
- Habitica Version 1.5.2 (152)

When moving an item in my Dailies from the top to the bottom (by long press and then dragging), it displaces the bottommost item to (in my case) 3 spots higher than it should be. For example, suppose I have items A

[2016-09-29 07:35] Alys commented on #8075
@jepperson2 It sounds like you're talking about problems with sorting Dailies (i.e., the entire task), not checklist items. If so, please go to Help > Report a Bug from the website's menu or Guilds > Report a Bug in the mobile app. It's likely that at least some of the problems you're having are not specific to the iOS app so I will help you in the Report a Bug guild first. In general, for any bug

[2016-09-29 09:03] san7hos commented on #8045
@alys while I understand completely, I would say it depends on how you tell the story to the habiticans. Nonetheless,it is your call ultimately.

@paglias I support that approach

[2016-09-29 09:27] dumindux commented on #8057
Thank you for the information @Alys . I have tried to run analyticsService.test with webstorm. But it quits saying,

/home/duminduk/FOSS/habitrpg/node_modules/amplitude/lib/amplitude.js:51
  if (!token) throw 'No token provided';
              ^
No token provided

Can you see why?

Thank you.

[2016-09-29 10:04] Alys commented on #8057
@dumindux Have you run through all the steps in  [Setting up Habitica Locally](http://habitica.wikia.com/wiki/Setting_up_Habitica_Locally)? If not, do all of that. If you have already, just check that your config.json file is identical to the example version (search in that page for "config.json" for more information). Ask again here if this doesn't help or if you need clarification!

[2016-09-29 10:17] dumindux commented on #8057
I have done all the steps and I can access my local version in localhost. but when I run "npm test", that problem pops up.

[2016-09-29 10:30] Alys commented on #8057
@dumindux Please show us the full output of `npm test`. You can upload it to a new gist at https://gist.github.com/ and then paste the link here.

[2016-09-29 10:39] dumindux commented on #8057
Here is the link for the gist.
https://gist.github.com/dumindux/f8478b192769fb5690f3bde2ecf7251b

[2016-09-29 10:52] paglias commented on #8057
Have you renamed config.json.example to config.json?

2016-09-29 12:39 GMT+02:00 Dumindu Buddhika notifications@github.com:

##

Matteo Pagliazzi - paglias.net

[2016-09-29 10:56] dumindux commented on #8057
Yes I have. Seems like some problem with amplitude.

[2016-09-29 11:09] dumindux commented on #8057
When I was searching I found that my config.json isnt loaded. I am trying to find why

[2016-09-29 11:20] Alys commented on #8057
Maybe its permissions aren't correct? Check that file ownership and permissions are identical to those of config.json.example. That's just a guess though.

[2016-09-29 11:57] #6966 closed, assigned to nobody

[2016-09-29 12:08] dumindux commented on #8057
Hi, I could fix the problem by renaming config.json.example to config.json in globals.helper.js in test. Thank you for the help.

[2016-09-29 12:17] Alys commented on #8057
@dumindux I'm not certain this is relevant to you, but it's important that config.json.example remains in your local copy of the repository because it's one of the files being tracked in git. If you renamed config.json.example to config.json, please now copy config.json to create a new config.json.example file. I.e., both config.json and config.json.example must exist in your local copy and they s

[2016-09-29 12:28] dumindux commented on #8057
Ah that should be the case then. I have renamed(not copied) config.json.example to config.json. I should create the config.json.example again.

[2016-09-29 15:19] colingm commented on #8060
@lemoness I will change the X and Y to match 2 posts in one minute. My current implementation doesn't count deleted messages against you, I will make sure to triple check that just to make sure.
@Alys It doesn't seem like that one has been claimed yet. I can look at seeing if I have time to claim that one as well.

[2016-09-29 16:47] synrg commented on #6462
I have given up on the idea of a userscript because I found a workaround that works great for me and my wife (we have his-and-hers Eee PC model 1001 PX systems). In Chrome, simply install the Habitica chat extension. My wife reports: "it made my typing show right away as opposed to three minutes after the fact" and I have experienced a similar benefit. It has rescued chat from being completely unu

[2016-09-29 20:57] Alys opened #8082 "drop notifications are not being received by some players"
In the Report a Bug guild, three players have reported not seeing drop notifications over the past couple of days, although they have been receiving drops (I've confirmed this with `lastDrop.count`). This isn't usually a common report there or in the Tavern so I believe it is a new bug.

CheerfulGeek (76c23037-2aa9-4ab8-9cba-c78ad6f114e6) - "I first noticed it either yesterday or the end of the da

[2016-09-29 21:00] paglias commented on #8082
I think the code for drops was changed to be server side only in the last few days, it could be the source of this bug

[2016-09-29 21:06] paglias commented on #8082
Actually the code has been server side for a long time but there's been some change to make it truly random

[2016-09-29 21:14] Alys commented on #8082
In case this helps, I've been getting notifications for eggs and potions and food, so it's not dependent on the type of drop.

[2016-09-29 21:21] paglias commented on #8082
There was a bug that prevented drop from showing for users not in a quest. Fixed in https://github.com/HabitRPG/habitrpg/commit/c3843cae80ff4b2a6dc1bd6686c4b121b352ad62

When it's deployed this'll be fixed

[2016-09-29 21:21] #8082 closed, assigned to nobody

[2016-09-29 21:26] paglias commented on #8082
Deploying the fix right now, should be online in max 30m

[2016-09-29 22:55] Raoulbarclay opened #8083 ""Notificiation not found" message and unknown hp loss"
General Info
- UUID: a2d7435c-245b-4e47-a99f-ba98d60888d0
- Browser: Firefox
- OS: Win8

Description

Hi, I had this issue when i logged in - [image](https://1drv.ms/i/s!AqiSzcHPXQ_nggeOqH80FvwopPXf) - I lost some hp (one isn't from the missed taks), I got this "notification not found" message, and the "quest completed" popup from the lvl15 quest appeared again, although I completed it the day bef

[2016-09-30 01:10] khipkin commented on #8083
@Raoulbarclay Did you notice if there were any error messages in your browser's console?

(For reference, here's an article containing instructions about how to access the console on Firefox: https://developer.mozilla.org/en-US/docs/Tools/Browser_Console)

[2016-09-30 06:27] joshuacox opened #8084 "Redmine integration"
I would really like to see integration with [Redmine](http://www.redmine.org/)

Ideally I'd like to earn XP for completing tasks

but initially i'd go for issues assigned to me showing up in my todo list

Any ideas?   I would gladly chip in on some of the work, but I'm a year long user of this project without any dev time (on HabitRPG specifically), so I admit I am not equipped to really think out

[2016-09-30 07:08] Alys commented on #8084
@joshuacox Habitica uses GitHub primarily for bugs, with feature requests being stored on Trello. You can get to Trello through Help > Request a Feature from the website's menu and then there's instructions for how to choose the correct card - search through that for "integrations" to get to the right place for this suggestion.

At this time, an integration is probably best done as a third-party t

[2016-09-30 07:08] #8084 closed, assigned to nobody

[2016-09-30 10:24] dumindux commented on #8057
Hi a question again.
when I try to run test/server_side/analytics.test.js following error pops up.

module.js:328
    throw err;
    ^

Error: Cannot find module '../../website/server/libs/api-v2/analytics'

[2016-09-30 10:31] paglias commented on #8057
@dumindux looks like those files are a left over from the old v2 API, I'll remove them. What you care about are `gulp test:api-v3:integration` that runs integration tests for the API and unit tests (more important in this case) `npm run test:api-v3:unit`. You can limit the number of tests run by adding `.only` to a test' `it()` or `describe()` block. Just remember to remove it before you commit.

[2016-09-30 11:21] habitrpguser opened #8085 "Wrong lost equipment shown in rewards after death until page reload"
The last two times I died, I noticed that I got notifications that I lost my "Royal Robes" and my "Winter-lit Staff" - but the two new equipment items that appeared in the Rewards column were two different items with different prices (a pair of ears - I think cat ears -, and a different staff which I don't remember). After reloading the page, however, the right items (the "Royal Robes" and "Winter

[2016-09-30 11:52] crookedneighbor commented on #8085
Hmm. I think this is my fault. I'll fix it.

[2016-09-30 12:42] chankeypathak commented on #6879
Facing the same issue. Getting "there seems to be a problem with the server."

[2016-09-30 13:02] crookedneighbor commented on #6879
@chankeypathak  What's your User ID? You can find it in [Settings > API](https://habitrpg.com/#/options/settings/api) on the website. Be sure to only copy the User ID and _not_ your API Token.

[2016-09-30 13:14] dumindux commented on #8057
ok great!!. Thank you for the information.

[2016-09-30 13:51] #8085 closed, assigned to nobody

[2016-09-30 16:25] #7807 closed, assigned to nobody

[2016-09-30 18:27] crookedneighbor opened #8087 "Improve API Documentation (apidocs)"
_EDIT by Alys 2018-06-30:_

The only remaining action for this PR is to document the member route. It's been started (probably mostly done) by @madpink in https://github.com/HabitRPG/habitica/pull/9760 so that needs to be taken over by someone and finished (see the staff comments in that PR).

----

The docs for the API routes are, for the most part, very sparse. Often they don't provide enough in

[2016-09-30 20:08] JTorr commented on #8087
I'm interested in tackling this.

[2016-09-30 20:56] crookedneighbor commented on #8087
How about you claim a specific group, so if someone else wants to work on another section, they can.

[2016-09-30 20:56] crookedneighbor commented on #8087
Section.

[2016-09-30 21:19] SabreCat opened #8088 "Canceling subscription redirects to Tasks page"
General Info
- UUID: e8277c2b-d1a0-47f8-9a08-31211ee578c8 (a test user)
- Browser: Chrome
- OS: Windows 10
### Description

When a user completes a subscription, the subscription settings page reloads to show them the new information. (It could maybe use a loading screen, but that's a separate matter.) Upon canceling a subscription, however, the process takes them to a reload of the Tasks page ins

[2016-09-30 22:39] JTorr commented on #8087
Sounds good. I'll work on the Challenge section.

[2016-09-30 22:39] Prutonium commented on #8075
@paglias @Alys

Alright So I Logged out, cleared my cached files and cookies, restarted chrome and logged back in and was able to replicate the bug. (Sorry for the delay, this week was crazy!)

Here's what was in the browser console:

app-480b2bc5.js:35 Deprecation warning: moment().zone is deprecated, use moment().utcOffset instead. http://momentjs.com/guides/#/warnings/zone/
Arguments:
Error

[2016-10-01 03:57] Alys commented on #8057
I'm reopening this in case anyone would like to do this part although it's not critical:

[2016-10-01 06:51] sudoct commented on #8011
UUID: 5f2ffd68-41e4-4e0e-9c3a-ed9d7ed035aa
Browser: Google Chrome
OS: Mac OS 10.9.5

I had tried Mozila Firefox, Opera and Safari, it does not work in any browser.
I hope that you can fix the problem ASAP. Thanks.

[2016-10-01 07:13] dumindux commented on #8072
Hi, I would like to work on this issue. Its great if you can point me where to get started. Thanks.

[2016-10-01 07:49] NicoSiebler commented on #8072
@dumindux I already tried to solve this for the first part of the issue in a short time without luck yet and I didn't mention this as this was my first task try. So I hope this could help:
My guess was to adjust the `startQuest()` method in **server/models/group.js** directly above the `sendTxnEmail()` with a `this.sendChat()` but the object was missing a usable chat to send the message and I didn

[2016-10-01 08:14] dumindux commented on #8072
@NicoSiebler Take this issue if you are already working on this :) .

[2016-10-01 16:01] khipkin commented on #7712
Suggestion: [help welcome now] --> [in progress]

[2016-10-01 16:09] khipkin commented on #7512
I believe this was done in #7938

[2016-10-01 17:14] #7512 closed, assigned to nobody

[2016-10-01 22:58] jakers1776 commented on #8023
Is this still an open issue? I'd love to add a page if nobody has solved it yet.

[2016-10-02 08:15] ghost commented on #8057
Hi, I'd like to start contributing to Habitica, is it ok if I take this issue?

[2016-10-02 08:31] Alys commented on #8057
@MrWalen That would be great, thank you! In case you haven't noticed, it's now just the bolded part in the top post that needs to be done -- the balance itself is already implemented. Ask here if you have any questions or run into any trouble!

[2016-10-02 08:34] ghost commented on #8057
@Alys thanks, that's great, thanks! I will probably have some questions later today, after I set my local copy up.

[2016-10-02 13:26] MrWalen commented on #8057
I ran into an issue when runing `npm install`, the error says:
`npm ERR! Windows_NT 10.0.14393
npm ERR! argv "C:\\Program Files\\nodejs\\node.exe" "C:\\Users\\Walen\\AppData\\Roaming\\npm\\node_modules\\npm\\bin\\npm-cli.js" "install"
npm ERR! node v6.7.0
npm ERR! npm  v3.10.8
npm ERR! code ELIFECYCLE
npm ERR! habitica@3.44.5 postinstall: `bower --config.interactive=false install -f; gulp build; n

[2016-10-02 13:43] b9chris opened #8089 "Avatars covered up by header at md size, 979px - 768px"
The avatars at the top of the screen get covered up by the header at what's typically the md-size on Bootstrap, 979-768px. At level 9 and below it means it's just cut off and broken looking, but level 10 and above after taking a character class it loses your health bar entirely.

Easier to just see it - here's the broken one at the top, and then one I messed with in Chrome Dev Tools to show the he

[2016-10-02 15:48] ghost commented on #8057
@Alys , should the balance in Analytics be reported as a string of a form Balance %.2f (%d Gems)?

[2016-10-02 17:30] dgodovanets commented on #7876
Is it normal?
![image](https://cloud.githubusercontent.com/assets/16069332/19022353/1aab23da-88df-11e6-8725-9f0a51aef067.png)

[2016-10-02 17:54] spdale opened #8090 "Finding Habitica on GitHub"
General Info
- UUID: 8fe24168-e547-4f24-a46e-2dddc0266ca2
- Browser: Chrome
- OS: All
### Description

Hi there. Just a quick little thing. When you go to GitHub and search for Habitica, this repo doesn't show up immediately in the search. You instead have to search HabitRPG which is a little confusing for a noob like myself. It's probably not possible to rename the repo (considering that other AP

[2016-10-02 18:45] crookedneighbor commented on #8057
No. that would make it hard to query against analytics. Separate properties is fine.

[2016-10-02 21:24] Alys commented on #7876
Yes, that's normal. For the experience, see the first link in GitHubSphinx's reply to you above. For the mana, see GitHubSphinx's other links and my previous answer.

[2016-10-02 21:38] spdale commented on #8075
Hey guys, I added an issue to the iOS repo: https://github.com/HabitRPG/habitrpg-ios/issues/410
Go ahead and correct me over there is you are experiencing a similar issue on iOS.

Cheers!

[2016-10-02 21:45] paglias commented on #8090
Repo renamed https://github.com/HabitRPG/habitica :)

[2016-10-02 21:45] #8090 closed, assigned to nobody

[2016-10-02 22:45] jakers1776 commented on #7916
Is this still an issue?

[2016-10-02 23:00] Alys commented on #7916
It is still happening. @AndrewPomorski are you still working on it?

If it turns out to be not an easy fix, requiring changing only a small amount of code, we might leave this until we do an upcoming website improvement project.

[2016-10-02 23:22] JTorr commented on #8087
I'm submitting a pull request to revise the docs for the Invite to Group section. I had just completed a pull request in that section of code, and noticed a few things that needed updating. I'll be moving on to the Challenges section next.

[2016-10-03 00:25] TheJadeFox commented on #7982
Hi.  I copy/pasted both images onto a word doc and they appear to be identical.  Maybe I could try taking them apart or layering them, to check the exact measurements but to the naked eye they look the same.
It may possibly be the flowers.  Which in my opinion are one of their best features.

[2016-10-03 00:51] Alys commented on #8023
@salaxander How are you going with this?

[2016-10-03 03:09] crookedneighbor opened #8093 "Must check for id uniqueness when creating a webhook"
From [Aspiring Comrades Guild](https://habitrpg-staging.herokuapp.com/#/options/groups/guilds/2ff9822b-27f2-4774-98da-db349b57a38e)

It is currently possible to use the same id multiple times when creating the webhook, and similarly the delete removes the first 'match' found

[2016-10-03 03:58] jtgithub2016 opened #8094 "Feeding Pets in Vivaldi"
General Info
- UUID: e44e6069-2e30-49cf-ab49-db41d3134045
- Browser: Vivaldi
- OS: Windows 7
### Description

When feeding pets, I usually have to feed the pet twice.  The first time, I get the "likes the food" message in the upper right hand corner of the screen, but the pet's development bar doesn't move, and the food doesn't disappear.  So then I re-click on the food, feed the pet the same piec

[2016-10-03 04:04] Alys commented on #8094
Can you please log out of Habitica then log back in and see if the behaviour persists. Post here if you need to be given food or eggs or potions to test it again.

[2016-10-03 05:08] chankeypathak commented on #6879
@crookedneighbor It's 507514bf-0939-40b1-a391-e3b89a8c2346

[2016-10-03 05:49] Alys commented on #6879
I'm not seeing any indication that you're getting double crons (i.e., that your Dailies are becoming unticked more than once a day), although recently you've been either resting in the inn or not logging in to Habitica so it's hard to tell. If you're still having trouble, please describe what's going wrong in as much detail as you can in the "Report a Bug" guild. You can get to it through Help > R

[2016-10-03 07:03] 32gits commented on #8023
I would love to do this as well if I could. I am in an open source class and picked Habitica as my project I want to contribute to. If not this then hopefully another minor change in the next couple weeks. I keep getting beat to the punch!

[2016-10-03 13:16] jtgithub2016 commented on #8094
Looks like that fixed the problem.  Thanks.

On Mon, Oct 3, 2016 at 12:04 PM, Alys notifications@github.com wrote:

[2016-10-03 13:28] #8094 closed, assigned to nobody

[2016-10-03 13:37] crookedneighbor commented on #8093
Fixed in https://github.com/HabitRPG/habitica/commit/8b6052a3ca51e41e424bd38fca1e19d36a36a497

[2016-10-03 13:37] #8093 closed, assigned to nobody

[2016-10-03 14:34] SabreCat commented on #7982
Sounds like the issue is just the wiki page, not the sprites here in the repo, so I'll close this. If there is some misalignment on the actual site, please update with a relevant screenshot and we can reopen the ticket!

[2016-10-03 14:35] SabreCat commented on #8089
Sure, go for it!

[2016-10-03 18:07] TheJadeFox commented on #8023
Awww....What **does** my pet like to eat?

[Awww....What **does** my pet like to eat?](http://habitica.wikia.com/wiki/Food_Preferences)

[2016-10-03 18:38] beffymaroo commented on #7982
I was told by the guild members in Wizards of the Wiki that they use the sprite images directly from the repository.

Comparison of Pandas in-game:
![panda_sprites](https://cloud.githubusercontent.com/assets/9218855/19049106/d8891b0e-895d-11e6-9b6c-9bbd1860cf9e.jpg)

[2016-10-03 21:29] Alys commented on #8094
@jtgithub2016 Habitica has a guild now for telling us about bugs, which you might find more convenient, and which often helps us because we can see information about your Habitica account immediately. You can access it from the website's menu at Help > [Report a Bug](https://habitica.com/#/options/groups/guilds/a29da26b-37de-4a71-b0c6-48e72a900dac).

[2016-10-03 23:20] Hus274 commented on #8066
I can take a look into this one.

[2016-10-03 23:48] Hus274 commented on #8066
Submitted a pull request removing the send chat by clicking enter functionality.

[2016-10-04 04:06] TheJadeFox commented on #7982
Yes. The body of the Pink Panda is shorter.
1.3 cm Orange Panda distance from head edge to tail
just under 1 cm Pink Panda

![orange](https://cloud.githubusercontent.com/assets/19853880/19063422/925ee1e0-89b7-11e6-90a0-da2326d9c77b.jpg)
![pink](https://cloud.githubusercontent.com/assets/19853880/19063427/9f4d24e8-89b7-11e6-8553-47115c8336f6.jpg)

[2016-10-04 04:40] librarianmage commented on #4549
I think that, with the new client update coming up, this Issue should be delayed until after the update.

[2016-10-04 04:44] librarianmage commented on #8087
I can work on Content and Coupon

[2016-10-04 12:35] crookedneighbor commented on #8087
For the content route, just document the top level parts of the object.

[2016-10-04 13:55] PendragnJenna opened #8097 "Damage to Boss Not Showing Up/Damage Not Resetting"
General Info
- UUID: e77d6c97-8850-4f31-bd46-c412243d6035
- Browser: Safari
- OS: MacOS (Sierra)
### Description

Some members of my party (09d91c4f-c632-4bd4-b39f-d10295a4777f), including myself, are not consistently seeing their damage to the boss show up. Today, for example, I'm showing 62.4 points of damage accrued from yesterday (according to the compass-like icon in the top right corner of t

[2016-10-04 14:07] SabreCat commented on #7982
Hmm, so maybe the front and back sprites weren't aligned consistently. But which one is correct? Or maybe they were designed a little differently for variety's sake? ( @lemoness ..?)

[2016-10-04 14:19] b9chris commented on #8089
Dunno if this is the right place to ask this, but should I be concerned that all the relevant styles appear to be in "/client-old"?

[2016-10-04 15:00] SabreCat commented on #8089
@b9chris: Those are what's used on the site at present. What's going into `/client` is a rewrite of the site frontend that we're working on!

That does mean that a fix here will likely become irrelevant once the rewrite's finished. So if it looks like it'll require a great deal of effort on your part, it may not be worth your time! Your call.

[2016-10-04 15:10] khipkin commented on #8097
@PendragnJenna Did any of you get damage messages in the party chat?

[2016-10-04 15:13] khipkin commented on #8097
Admins: This is either a duplicate of #7727 or #7909, depending on whether or not boss damage messages showed up in the party chat.

[2016-10-04 15:15] khipkin commented on #7982
In my opinion, it doesn't make sense for them to be different, except for coloring obviously.  I would be surprised if it was intentional.

[2016-10-04 15:16] PendragnJenna commented on #8097
No, we didn't. That's how we noticed there was a problem. A couple people in the party had been questioning for the past couple weeks why their damage didn't show up occasionally, but we hadn't thought it was a huge deal. It happened to a couple of us today, though, and I thought to look at the compass icon and saw that my damage points seemed to be accruing from yesterday--and is continuing to gr

[2016-10-04 15:25] PendragnJenna commented on #8097
Khipkin: Sorry for the duplication. We've seen behaviors from both https://github.com/HabitRPG/habitica/issues/7727 and https://github.com/HabitRPG/habitica/issues/7909 in our party. Sometimes a member will report that they didn't have anything at all show up in the chat feed and other times it'll show they did 0.0 damage even though they checked off all their dailies and did a bunch of to-do's/ha

[2016-10-04 17:16] beffymaroo commented on #7982
Right, I think the issue is that artists may have been unclear on how to line up the layers when doing the Magic Potion recolors (myself included, I struggled with this a bit because they didn't align intuitively when the layers were pasted together in Photoshop).

All the original Classic Mount recolors seem to be aligned consistently when equipped.

[2016-10-04 17:18] Dehtieme commented on #4252
Hi!

My party just completed **The Fiery Gryphon** quest, but nobody received the rewards, nor the achievement. Please, can you help us?

Our group ID: f8ae95c8-1ef3-4795-b80e-66751e8bf585

Thanks in advance!

[2016-10-04 18:02] lemoness opened #8100 "Hall of Heroes needs better link to item paths"
For admins, the Hall of Heroes used to contain a filtered link to all possible item paths, which we could use as a reference when awarding items to users. However, now it has changed to the API's output of the content file, which is difficult to navigate.

We should have an easy-to-read reference to all the item paths in the game.

[2016-10-04 20:25] Hus274 commented on #8100
I can take a look into this.

[2016-10-04 22:34] spdale opened #8101 "A New Habitica Chrome Extension"
General Info
- UUID: 8fe24168-e547-4f24-a46e-2dddc0266ca2
- Browser: Chrome
- OS: macOS
### Description

Hi there. I'm new-ish to the coding community and wanted to try to make a Google Chrome Extension. So I made a simple extension that launches Habitica in a new tab. It just adds a convenient button to get to Habitica faster.
Check out the extension: https://chrome.google.com/webstore/detail/hab

[2016-10-04 23:24] Alys commented on #8101
Cool! You might like to join the Aspiring Comrades guild and post about it there - that's where third-party devs hang out and you'd be most welcome there! You could also post about it in the Wizards of the Wiki guild to ask that a wiki page be created for it (we have a page for all the third-party tools we know about).

We use this repo's issues just for tracking bugs, so I'm going to close this n

[2016-10-04 23:24] #8101 closed, assigned to nobody

[2016-10-04 23:28] khipkin commented on #8097
@Alys ?

[2016-10-04 23:29] khipkin commented on #7982
@beffymaroo Would fixing the inconsistencies be a task best handled by an artisan?

[2016-10-04 23:34] spdale commented on #8101
Okay great. Thanks @Alys!

[2016-10-05 00:29] Alys commented on #8097
I was asleep when this was logged and am now getting ready for work. I'll look at it when I have free time but it won't be for several hours.

[2016-10-05 01:02] Hus274 commented on #8100
While I'm working on this, something like this might help to mitigate the issue and make the file slightly more readable. https://chrome.google.com/webstore/detail/json-formatter/bcjindcccaagfpapjjmafapmmgkkhgoa?hl=en

[2016-10-05 09:49] richardhooper commented on #8087
Could I have a crack at Tags?

[2016-10-05 11:12] Alys commented on #8097
@PendragnJenna I'm going to close this since we're tracking it in the two issues @khipkin mentioned, and automatic links have been created from those issues to this one so that we can refer back to this one easily when we need to.

When you or your party mates notice something like this happening, can the person it happens to please post to the Report a Bug guild? You can get to it from Help > Rep

[2016-10-05 11:12] #8097 closed, assigned to nobody

[2016-10-05 11:20] Alys commented on #4252
@Dehtieme I've given your party members the quest rewards and achievement. Sorry about the trouble! If it happens again, you can report it in the Report a Bug guild (from Guilds on the app or through the the Help menu item on the website) and then there's no need to give the ID since I can get it from your account.

[2016-10-06 00:39] Hus274 commented on #8100
@lemoness It's sort of the same idea, I've simply reduced it down the the key values and removed all the unnecessary data, but what do you think about this? It's definitely easier to parse with the formatter I've listed above. Here's a couple screen shots:

### All Condensed

![screen shot 2016-10-05 at 5 33 52 pm](https://cloud.githubusercontent.com/assets/17734753/19136534/2bca7eaa-8b22-11e6-8e8

[2016-10-06 10:05] Alys commented on #8087
@richardhooper That would be great, thanks!

Everyone, I've updated the top post with the claims so far.

[2016-10-06 14:55] librarianmage commented on #8087
What info should I put into the Coupons section? I'm not sure what a request example would be.

[2016-10-06 15:51] Hus274 commented on #8100
@Alys @crookedneighbor if you have any thoughts about the above feel free to let me know!

[2016-10-06 16:39] librarianmage commented on #8087
How do I generate the apiDoc client side?

[2016-10-06 16:40] paglias commented on #8087
With `gulp apidoc` or `gulp apidoc:watch`

[2016-10-06 18:16] librarianmage commented on #8087
Should we list `NotAuthorized` errors? If so, what message should we use to keep things consistent?

[2016-10-06 20:45] sonydaman opened #8108 "GETTING ERROR IN GULP FILE"
Can you please help in the issue

C:\Users\SA355398\Downloads\Vistadesk\Vistadesk\new-1.5-source-code\new-1.5-source-code>gulp
fs.js:808
  return binding.readdir(pathModule._makeLong(path));
                 ^

Error: ENOENT: no such file or directory, scandir 'C:\Users\SA355398\Downloads\Vistadesk\Vistadesk\new-1.5-source-code\new-1.5-source-code\gulp'
    at Error (native)
    at Object.fs.readd

[2016-10-06 22:05] crookedneighbor commented on #8100
Well, the important part for the mods is to know the exact path needed to add the item to the user. So while that looks nice, it doesn't actually provide the information needed for the mods.

[2016-10-06 22:07] crookedneighbor commented on #8108
This doesn't look related to Habitica. Did you mean to post here?

Going to close this, but reopen it if I am mistaken.

[2016-10-06 22:07] #8108 closed, assigned to nobody

[2016-10-06 23:52] librarianmage commented on #6710
Not sure how close it is, but we could look into the new-ish [Noto](https://www.google.com/get/noto/) font. It looks kind of close to Lato, and supports over 800 languages.

[2016-10-07 02:41] lemoness commented on #8100
It would also be nice if we did not need to use a JSON formatter to have it
be readable.

On Thu, Oct 6, 2016 at 3:05 PM, Blade Barringer notifications@github.com
wrote:

[2016-10-07 02:55] #8066 closed, assigned to nobody

[2016-10-07 03:09] crookedneighbor commented on #7722
We've decided that the leading @ should not be added.

[2016-10-07 09:19] paglias commented on #6710
@MathWhiz yes, i saw that too! We're considering it for the redesign

[2016-10-07 11:49] abatula commented on #8062
It looks like no one is working on this. If that's the case, I can start on it.

[2016-10-07 13:31] librarianmage commented on #7658
What is the progress on this?

[2016-10-07 13:49] librarianmage commented on #8087
I can work on data export

[2016-10-07 13:58] Hus274 commented on #7658
Based on paglias's last comment I wasn't really sure how to proceed. Feel free to handle this is you have any ideas.

[2016-10-07 14:28] librarianmage commented on #8087
For the [@apiParam](http://apidocjs.com/#param-api-param) option, it allows parameters to be grouped. Should we group them into (say) body parameters, query parameters, and path?

[2016-10-07 15:13] khipkin commented on #7722
Suggestion: update issue title to prevent future wasted effort

[2016-10-07 16:52] crookedneighbor commented on #8087
If that works, we should.

[2016-10-07 20:08] #4846 closed, assigned to nobody

[2016-10-07 23:49] Hus274 commented on #8100
That makes sense. What about something more like this? I've included the keys at the top to easily find a section with ctrl+f and then you can copy and paste a line into the item path field. I also kept a split between mystery and gear even though the path is the same just to make them easier to find.

### Top:

![screen shot 2016-10-07 at 4 45 58 pm](https://cloud.githubusercontent.com/assets/177

[2016-10-07 23:50] Hus274 commented on #8100
No json formatter required :)

[2016-10-08 00:23] Hus274 commented on #7814
I've posted a [pull request](https://github.com/HabitRPG/habitica/issues/8110) to remove the videos.

[2016-10-08 00:48] Hus274 commented on #7875
@JSchneidler are you still looking into this?

[2016-10-08 02:49] Alys commented on #7658
I would love for this to still be done. I've been troubleshooting a cron bug for a user who had this in one of his Habitis:

[code]

The incorrect tag entry (null) was causing cron to fail part way through, resulting in no quest progress every day, and it took me a while to track down (my fault, I should have gone straight to logs instead of assuming it was just a persistent case of https://github

[2016-10-08 04:56] Alys commented on #8100
@Hus274 That looks good! Although for the gear, the paths that exist in the user's account are like these:

[code]

and we'd occasionally have need for all three varieties. To make the list shorter though, we could display the `owned` ones and have a comment about using `equipped` or `costume` - those two are rarely needed

[2016-10-08 13:41] crookedneighbor commented on #8100
We also need what value they should be. I.e., gear items and mounts are booleans, while pets and quests and eggs are numbers.

[2016-10-08 16:13] Hus274 commented on #7658
The tag field in the [schema has a isUUID validator](https://github.com/HabitRPG/habitica/blob/develop/website/server/models/task.js#L45) on it. It seems strange to me that it would allow null. Did you try running validate on that object?

[2016-10-08 19:27] abatula commented on #5366
If no one else is working on this I can try to fix it.

[2016-10-08 19:34] sporeball commented on #7738
Okay, so I'll finally have a decent chunk of time to get back to this issue tomorrow on October 10.
Sorry for the insane delay guys. ;_;

[2016-10-08 20:02] Alys commented on #5366
@abatula Thanks! Comment here if you have questions or run into trouble!

[2016-10-08 20:04] lemoness commented on #7982
The panda alignment should match that of the classic colors, so let's use
the Base Mount for comparison.

Khipkin is right that this might be a good task for an artisan. Can I get a
list of all the inconsistent mounts that need to be tweaked? In the
meantime, let's leave the ticket open, since the sprites will need to be
added eventually, and mark it "On hold."

On Tue, Oct 4, 2016 at 4:29 PM, Kai

[2016-10-09 08:20] Alys commented on #7658
@Hus274 No, I didn't bother. I figured that since the data was in the database, the validation had already failed to notice it.

[2016-10-09 09:19] cching0L2 commented on #8063
Looks like a fun yet challenging issue... if nobody's tackling it can I take a look?

[2016-10-09 09:21] Alys opened #8113 "Habits v2 - expected frequency/counter/last time performed (from Trello)"
In the trello card [HABITS v2 (expected Habit Frequency, Onlies, Habit Maximum, Custom
Habit Names)](https://trello.com/c/cwQvDQI9/208-habits-v2-expected-habit-frequency-onlies-habit-maximum-custom-habit-names), @shalottastolat (shalott / astolat) has offered to work on part of it:
"Is anyone actively working on this (the expected frequency/counter/last time performed part)? I am finding that I wa

[2016-10-09 13:43] varjmes commented on #5988
hi!

I am doing the egg collection quest but my eggs did not get shared today after the cron was supposed to tick over. All was fine yesterday. Any help greatly appreciated!

UUID: (81d68426-6be9-4433-9e33-410a7c5e7941)

[2016-10-09 23:30] Gumnos commented on #7701
Just wanted to say thanks for this, @crookedneighbor . Use it **all the time** now.

[2016-10-10 04:07] reneamac commented on #4252
Hi! My party just completed Recidivate Transformed; however, I didn't get the rewards. I asked my other party members if anyone else didn't get them, and haven't gotten a response, so it seems I'm the only one. Thanks for your help.

862f595d-72a7-42fc-a1d0-324bbb139456

[2016-10-10 07:16] BarbarosaNervosa commented on #4252
My party completed The Iron Knight, but I did not receive any rewards. The boss disappeared from the left panel of the page and was replaced with the "start a new quest" button, but the victory banner with the list of rewards did not display and my pending boss damage for the Iron Knight remained as it was. There has been a lot of discussion in the party chat, but no one else is mentioning this, s

[2016-10-10 11:24] Alys opened #8115 "gemCost is incorrect when buying items for gems from the Seasonal Shop"
Below is a screenshot from Amplitude showing our analytics data for a purchase of (I believe) an item from the Seasonal Shop. It's listed as a gem purchase which is correct, but the `gemCost` is wrong (it looks like it's displaying the `value`, which is the gold cost). The gemCost should be 1 or 2 gems, depending on item. I haven't investigated this at all but I think that's what's going on.

![im

[2016-10-10 12:28] kawunngg opened #8116 "clone challenge: tasks were not cloned"
hey all!

i run a daily challenge in the Pomodoro Playground and today a member pointed out that there were no tasks in the challenge. i clone it everyday and therefore don't pay too much attention while doing so, i only change the name and the tag, therefore I'm not sure _when_ the tasks disappeared, whether it was while cloning or even after that? but deleting 4 to dos and 2 habits by accident w

[2016-10-10 12:36] Alys commented on #8063
@cching0L2 Thanks, please do! Comment here if you have questions or find any problems.

[2016-10-10 12:40] Alys commented on #5988
@Charlotteis From what I can see from our records, you were resting in the inn that night - is that correct? If so, it's expected that you made no progress on the quest the next morning. That's one of the effects of resting in the inn.

[2016-10-10 12:57] Alys commented on #4252
@reneamac From what I can see, you do have the rewards for that quest, including the five Rotten Meat foods (you have very few other foods, so it looks like you tend to use them soon after you get them, but you do have a stock of five Rotten Meats). Can you try reloading the website to see if they appear?

@BarbarosaNervosa I've given you the quest rewards and achievement.

[2016-10-10 12:59] Alys commented on #8116
@kawunngg Can you please tell us your User ID?

[2016-10-10 13:02] kawunngg commented on #8116
sorry, it's ce935e7f-00e6-44bc-a44a-5280553810f0

[2016-10-10 13:12] Alys commented on #8116
@kawunngg thanks!

For admin reference, below are the challenge's details from the database, including the creation date, which we can use to find appropriate log files to see if there's any concerning errors in them.

And of course the data has kawunngg's UID in it, so I didn't need to ask for it - sorry kawunngg!

[code]

[2016-10-10 13:14] kawunngg commented on #8116
haha, no problem ;)

[2016-10-10 16:46] reneamac commented on #4252
Ok, thanks @Alys! They weren't there when I posted; or at least, I didn't see them. I do see them there now. However, I definitely didn't get the experience pts and the 900 gold. But I can fix that myself! Thanks again!

[2016-10-10 19:06] Hus274 commented on #7658
Ok, I was asking because I was simply curious if it would fail validation. If it did, it seems like that would be a good indicator that there's a bug in how we interact with the database that skips the validation somewhere or that it occurred through a manual db update (which I'm not sure happen).

[2016-10-11 01:37] Hus274 commented on #8100
I've created a pull request for this addressing the comments listed above. There are screenshots attached to the pull request to show the new formatting and design.

[2016-10-11 03:30] Impendingdoom777 commented on #8011
Has there been any breakthroughs recently?

[2016-10-11 09:03] paglias commented on #7658
It's possible the validation is set to allow `null` values

[2016-10-11 10:32] paglias commented on #8011
@Impendingdoom777 no, i'm sorry :/ We cannot find out what's going on. Can you try changing the party members ordering from the party page?

[2016-10-11 12:52] abatula commented on #4879
Is this still a problem? I can work on it if it is.

[2016-10-11 13:26] Hus274 commented on #7658
So from my understanding in the [tag schema file](https://github.com/HabitRPG/habitica/blob/develop/website/server/models/tag.js) if we add required: true then this could have been prevented?

@Alys my concern with writing a specific validation method outside of mongoose is it's simply duplication of an already existing feature and also prone to bugs like this. It would be hard to manually rewrite

[2016-10-11 13:39] librarianmage commented on #6490
I was looking at the cookies generated by the code, and some of them have the `HttpOnly` tag on them, meaning that it is inaccessible to client-side scripts. Does that mean that I would need to add the code to the server-side?

[2016-10-11 13:40] paglias commented on #7658
@Hus274 the tag schema is used in user.tags not in task.tags where only the id is stored

[2016-10-11 13:42] Hus274 commented on #7658
Ahh I'm sorry, you're totally right. I'm still curious about the same question though, would putting the required: true [here](https://github.com/HabitRPG/habitica/blob/develop/website/server/models/task.js#L43) have prevented the issue?

[2016-10-11 13:44] paglias commented on #7658
@Hus274 I'm not sure... I don't remember exactly Mongoose's validation flow. I think the best thing to do is to tweak the code locally to test it

[2016-10-11 13:45] Hus274 commented on #7658
Ok, I can definitely look into that. I'll update here with what I find!

[2016-10-11 14:17] librarianmage commented on #8087
@crookedneighbor I looked into it, and I would recommend putting these snippets at the top of each file:

Body Parameters:

[code]

Query Parameters:

[code]

Path Parameters:

[code]

(Descriptions can also be added if necessary)

Then, `(:groupName:)` can be inserted after the `@apiParam` instruction.

[2016-10-11 14:38] paglias commented on #6490
@MathWhiz those are cleaned by visiting /logout that already happens in the Clear browser data page

[2016-10-11 15:48] thebat137 commented on #8038
Just noticed something interesting today.  My party started a new collection quest this morning, and, as has been usual, the progress sparkle wasn't updating (or even appearing) even though I got the little green popups saying that I'd collected quest items.  But then I cast a party-effect spell (Intimidating Gaze), and all of a sudden the progress sparkle popped up and showed the correct number o

[2016-10-11 18:11] varjmes commented on #5988
@Alys I never asked to rest in the inn, but it's possible I accidentally clicked something? That's very weird! I kept receiving eggs from my tasks.

The quest is over now, but I'll definitely check the inn next time. Thanks so much!

[2016-10-11 18:41] shalott commented on #8113
Hi all, here's my plan for the feature; comments welcome.

A habit will have a counter period that can be specified (per day, per week, per month (?)) - default is per day.

In tasks view you will see a counter on the habit box (to the left of the "top" icon, same place the streak counter goes on a daily) showing the number of times the habit has been ticked within the period.

If it is a +/- habi

[2016-10-11 20:19] supercat14 commented on #8023
What about:[ What will my pet **eat**?](http://habitica.wikia.com/wiki/Food_Preferences)

[2016-10-11 21:26] TheJadeFox commented on #8023
[The secret to what food your pet really likes](http://habitica.wikia.com/wiki/Food_Preferences)

[2016-10-11 21:27] TheJadeFox commented on #8023
[The _Secret_ to what food your pet really likes](http://habitica.wikia.com/wiki/Food_Preferences)

[2016-10-11 21:30] TheJadeFox commented on #8023
[The **_Secret**_ to what food your pet really likes](http://habitica.wikia.com/wiki/Food_Preferences)

[2016-10-11 22:07] RussWilkie commented on #8016
Is this still an issue?

[2016-10-11 23:06] Alys commented on #4252
Another case of this bug for a collection quest in a party with just three people, at 2016-10-02 02:41:09 UTC. The quest information wasn't even cleared from their accounts.

[2016-10-11 23:08] TheJadeFox commented on #8023
I like the last won the best but you could also give a heads up ....

**Spoiler alert** : [Which foods go best with which pets?](http://habitica.wikia.com/wiki/Food_Preferences)

[2016-10-11 23:44] Impendingdoom777 commented on #8011
THIS BUG IS FIXED I logged in on another computer and my party showed up. I then refreshed the page on my home computer and the party reappeared.

[2016-10-11 23:53] Alys commented on #8016
@RussWilkie Yes

[2016-10-11 23:55] Alys commented on #8011
@kikitan99  Are you still unable to see the party members in your header?

[2016-10-12 00:05] crookedneighbor commented on #8087
They only need to be put in one file. Anything you define in one is accessible everywhere.

[2016-10-12 00:47] RussWilkie commented on #8016
@Alys Would it be cool if I give it a shot?

[2016-10-12 01:38] khipkin commented on #8016
@AndrewPomorski Are you still working on this?

[2016-10-12 02:36] crookedneighbor commented on #8087
I've added them https://github.com/HabitRPG/habitica/commit/afb5b473a37325a82151bf48b0c7d54b4979e6eb

[2016-10-12 07:11] ghost opened #8122 "Ctrl/Command + Enter doesn't send chat message as expected"
According to reports in the guild and my own experience, Ctrl/Command + Enter doesn't send chat message as expected after the latest Bailey's announcement.

Platforms mentioned: Win10, Linux.
Browsers: Chrome, Firefox

Linking this issue to #8066 and #8096

[2016-10-12 08:22] DrStrangepork opened #8123 "Collection quests wrongly state that drops cannot be seen"
General Info
- UUID: 30983c37-52c3-415d-977c-38af6c7db91c
### Description

The quest details of collection quests states: "_To collect items, do your positive tasks. Quest items drop just like normal items; however, you won't see the drops until the next day, then everything you've found will be tallied up and contributed to the pile._" However, that is no longer true, as the quest progress icon i

[2016-10-12 08:31] DrStrangepork commented on #8123
I can fix the code if someone can correct the text of the quest details. I'm not sure what the proper description should be stated. Here's a start:

_To collect items, do your positive tasks. Quest items drop just like normal items; you can monitor your quest item drops by hovering over the quest progress icon._

[2016-10-12 08:44] DrStrangepork opened #8124 "Travis build icon on README.md broken"
General Info
- UUID: 30983c37-52c3-415d-977c-38af6c7db91c
### Description

The travis-ci build status icon on the README.md page points to https://travis-ci.org/HabitRPG/habitrpg which now says _The repository at HabitRPG/habitrpg was not found_ which is true, because the actual travis-ci build is https://travis-ci.org/HabitRPG/habitica.

The code climate and coverage icons still refer to "habitrp

[2016-10-12 08:45] DrStrangepork commented on #8124
I'll submit a PR for this.

[2016-10-12 09:03] DrStrangepork commented on #8124
Incidentally, is there a way I could have created my PR in this issue rather than doing the standard PR which opens another ticket (#8125)?

[2016-10-12 09:12] DrStrangepork commented on #8124
Looks like #8090 may have caused this breakage.

[2016-10-12 09:16] Alys commented on #8124
issues and PRs are separate things so you couldn't have put your PR into
this issue but if you find a problem and want to fix it immediately, you
can submit a PR with no issue - just describe the problem and the fix in
the PR. I personally think that reduces clutter (only for immediate fixes
though). However if another admin disgrees, listen to them not me. :)

Note though that there is always a b

[2016-10-12 12:37] #8124 closed, assigned to nobody

[2016-10-12 13:11] crookedneighbor commented on #8123
That's good enough for me. Open the PR and we'll have someone refine the text if need be.

[2016-10-12 13:16] Luzino opened #8126 "Some challenge updates don't reach participants"
General Info
- UUID: 972637e2-e89f-4a2d-a0c5-3a64df5998de
- Browser: Opera
- OS: Win 7 X64 professional
### Description

I'm participating in the tavern ["Pets - Collect Them All" challenge](https://habitica.com/#/options/groups/challenges/d67ef27b-5f7d-4322-aff6-2bebe6fa48ac) and one pet added as a to-do later in the challenge while I was already a participant doesn't appear as a to-do on my pers

[2016-10-12 15:55] rachelkachel commented on #8122
For the record, Command + Enter works for me (both Chrome and Firefox on Mac).

[2016-10-12 16:30] devnuhl opened #8127 "Some pages prevent oauth through Google and Facebook"
General Info
- UUID:
- Browser: Chrome (53)
- OS: Windows 10 (1607)
### Description

It would seem that there are pages on the site from which you cannot authenticate. /static/plans being at least one of them.
![error 400 oauth2 error 1 - google chrome 2016-10-12 11 26 11](https://cloud.githubusercontent.com/assets/1120006/19318607/0197c80c-906f-11e6-9d59-5aa92a1b71fe.png)
#### Console Errors

###

[2016-10-12 17:25] SabreCat opened #8128 "Critical hits on skill use are not reported in notifications"
General Info
- UUID: haha
- Browser: Chrome
- OS: Windows 10
### Description

It is possible to score a critical hit with actions like Brutal Smash, lending a modest boost to the damage done to a boss. However, unlike critical hits when scoring tasks, there is no feedback in notifications that this has occurred. In the past, this was difficult to notice, but now that we have immediate output of bo

[2016-10-12 18:39] gsalvadi opened #8129 "Boss damage on Casting Brutal Smash"
Hello,

I am a warrior. I see damage to boss done just after casting brutal smash to a task. Not when I actually complete the task. Am I missing something?

General Info
- UUID:
- Browser:
- OS:
### Description
#### Console Errors

[2016-10-12 19:48] spdale opened #8130 "Quest items not showing up"
General Info
- UUID:
- Browser: Chrome
- OS:
### Description

Hi there. I started a quest and did some tasks. There were multiple pop up dialogues that said that I had found quest items, but then when I go to the party area to check my progress, it shows 0/25 blue fins and 0/25 fire coral.

I'm a new user, so this could be an error on my end, but I would guess that this is a bug.

<img width="1440

[2016-10-12 22:04] crookedneighbor commented on #8127
@viirus

[2016-10-12 22:07] crookedneighbor commented on #8129
Boss damage from brutal smash is immediate. This is working as intended.

[2016-10-12 22:07] #8129 closed, assigned to nobody

[2016-10-12 22:23] cTheDragons opened #8132 "Pet system is not Locked after using the Orb of Rebirth"
## General Info

bc10ec41-4213-4482-bbb8-558e3c3ea8d5
Opera 37.0.2178.43
Windows 10 32-bit
## Description

Reported as per @Alys instructions
After using the Orb of Rebirth my pet was automatically unequipped. However I am able to do all things with my pets and mounts as before except receive drops. This is the case with App (Android v) and Website client.

Things tested:

| Action | Web | Android

[2016-10-12 22:24] Alys commented on #8130
Your quest progress is updated on the party page each morning, so this is
expected behaviour.

When you have questions, Help > Ask a Question from the website's menu is
the best place to go. For bug reports, go to Help > Report a Bug if you're
sure it's a bug (use Ask a Question otherwise). If a GitHub issue is needed
for complex bugs, we'll let you know from there. :)

On Thu, 13 Oct 2016, 05:48

[2016-10-12 22:30] spdale commented on #8130
Okay cool. Sorry about that.

[2016-10-12 22:30] #8130 closed, assigned to nobody

[2016-10-12 22:46] cTheDragons opened #8133 "Party page does not display after creation"
## General Info

User Id: bc10ec41-4213-4482-bbb8-558e3c3ea8d5
Opera 37.0.2178.43
Windows 8.1 32-bit
## Description

Click Invite friends another time, the system states creating party with wait icon but never lands on the party page. Had to do a manual party refresh to see the party page.

[2016-10-13 00:50] Hus274 commented on #7658
So from what I can see locally, I am unable to save a null tag to the database when using mongoose. When I tried to save the input @Alys provided above I got the following error:

[code]

And when I ran mongoose's validation method on a task with null in it's tags array, I received the following output:

[code]

[2016-10-13 01:00] Efox917 opened #8134 "8f9110b4-50d7-446b-a142-0c6ca0cb5029; Safari 10.0; OS X 10.11.6; I just tried to buy Nov. 2015 backgrounds, and was charged 15 gems. Only two of the three backgrounds have been unlocked. Help!!"
General Info
- UUID:
- Browser:
- OS:
### Description
#### Console Errors

[2016-10-13 01:25] #8122 closed, assigned to nobody

[2016-10-13 08:21] Alys commented on #8134
@Efox917 I'm closing this because I'll handle it in the Report a Bug guild from your report there. That guild is the best place to report problems and you don't need to log an issue in GitHub unless we ask you to (only done for complex problems that need investigation).

[2016-10-13 08:21] #8134 closed, assigned to nobody

[2016-10-13 09:12] habitrpguser commented on #8122
Is the fix "live" already? I just "cleaned" my browser (deleted cookies, cache, other browser data) and restarted it, and Ctrl + Enter still doesn't work for me. (Windows 10, Chrome.)

[2016-10-13 09:13] paglias commented on #8122
No it's not live yet

[2016-10-13 09:37] Alys commented on #4879
@abatula Please do work on this if you'd like to! Comment here if you have questions or run into problems.

A related issue is this one: https://github.com/HabitRPG/habitica/issues/8072 "when a quest starts, a `system` message should be written to party chat" and a fix is being developed in this PR by dumindux : https://github.com/HabitRPG/habitica/pull/8107. You might find useful code ideas there

[2016-10-13 09:39] Alys commented on #4879
A related issue is this one: https://github.com/HabitRPG/habitica/issues/8072 "when a quest starts, a `system` message should be written to party chat" and a fix is being developed in this PR by dumindux : https://github.com/HabitRPG/habitica/pull/8107. You might find useful code ideas there and/or things that could be done a similar way in your PR for this issue, for consistency.

[2016-10-13 09:44] Alys commented on #8113
@lemoness what do you think about this?

@shalott I agree with your assessment that it would be best to do just the counter for now and consider the target later. I've seen a LOT of request for counters but fewer for targets.

[2016-10-13 09:57] Alys commented on #8132
@lemoness just checking: Do we still want the Orb of Rebirth to lock the Pets and Mounts features until they are unlocked at level 3 (as for a new user)? I personally think yes - I think locking of features is one of the fun things about Rebirth.

[2016-10-13 10:17] Alys commented on #8126
@Luzino I have given you the Snail To-Do, but please check it and post here if there's anything wrong with it.

Also post here if you notice any problems sorting your To-Dos (you should not have any as a result of the change I made, but I'm mentioning it just in case I'm mistaken; you might also have had sorting problems from other causes).

As soon as I can make time, I'll do the same for the oth

[2016-10-13 10:46] Luzino commented on #8126
@Alys Unfortunately the Snail To-Do is not showing for me. I disabled all browser add-ons to make sure it's not being blocked by something, but it's not there. I cleared my cache and tried again - nothing. Then I checked via the android app and it's not showing there, either.
The order of my to-dos seems the same as before and sorting works.

[2016-10-13 11:09] Alys commented on #8126
Ugh, sorry, I see what I did wrong. Please sync and look for it again now, and I'll just delete this rather useless Snail To-Do from my own list. :)

[2016-10-13 11:16] Luzino commented on #8126
And there it is - top of the list. Even including its correct challenge tag! Thank you. :)

[2016-10-13 11:50] phillipthelen commented on #8127
Added all static pages I could find.

[2016-10-13 11:51] deraltefritz commented on #4252
About a month ago, my party completed the "Attack of the Mundane, Part 1: Dish Disaster!" quest, resulting in an "All items found! Party has received their rewards." chat message.
However, none of us have received the follow up quest scroll.

Our group ID is 30084491-9be2-45d9-a85a-c2d0458022aa
Thank you in advance.

[2016-10-13 12:21] paglias commented on #8127
There's no way to whitelist the whole domain?

[2016-10-13 19:11] nehaagarwald opened #8136 "First time sync doesn't work"
General Info
- UUID: 30028856-a5cc-4b37-a32e-97f31040aa44
- Browser: Safari
- OS: Mac
### Description

Checked out habitRPG for the first time.
When I run the command "habitsync", I gett eh folloing error in the console.
#### Console Errors

If this is OK with you, type the word yes in full
prompt: okToContinue:  yes
Now syncing with habitrpg.com...
readline.js:982
            throw err;

[2016-10-13 19:41] SabreCat opened #8137 "No notification ticker for insufficient Gold purchase of Spooky Sparkle"
General Info
- UUID: N/A
- Browser: Chrome
- OS: Windows 10
### Description

For most items, if you attempt to buy them but have insufficient Gold for the purpose, you get a "Not enough Gold" notification in the corner. If you try to buy Spooky Sparkles without having 15 Gold at hand, however, the notification just lands in the JS console with no end-user visible display.
#### Console Errors

[2016-10-13 20:38] paglias commented on #8137
It probably needs to be wrapped in code that handles notifications

Il 13 ott 2016 21:41, "Sabe Jones" notifications@github.com ha scritto:

[2016-10-13 20:38] kristian-welsh commented on #7916
I can't find this issue on the live site, was this fixed?

[2016-10-13 21:28] SabreCat commented on #8136
Hi @nehaagarwald -- this appears to be an issue with https://github.com/wizonesolutions/habitrpg-todo-sync , not with the main Habitica site. Given that repository hasn't been updated since June of last year, it's likely it needs (at a minimum) to be updated to use the current version of Habitica's API! Please reach out to the maintainers there to see if the script is likely to be updated.

[2016-10-13 21:28] #8136 closed, assigned to nobody

[2016-10-13 22:53] Alys commented on #8016
@AndrewPomorski If you're still working on this, let us know how it's going in the next day. If you've run out of free time for it, that's fine - we know how that goes! :) We'll let @RussWilkie take it on if you're not still available for it.

[2016-10-14 00:02] Alys commented on #4252
@deraltefritz I've given the achievement and rewards to you and your party. Reload if you don't see them. Please tell me if they don't appear after that!

[2016-10-14 07:56] deraltefritz commented on #4252
@Alys Thanks for the quick response! Unfortunately it seems we still haven't received anything. On my achievement page there's still only the "Basi-List", my scroll inventory is empty and the "SnackLess Monster" is still not unlocked, telling me to finish "Dish Disaster" first.

My personal ID is 3426f8d9-6f0c-4149-8ed5-d4103243c195
Anything else I can do to help get it solved?

[2016-10-14 13:02] Alys opened #8140 "language of flagger should be recorded to moderator slack"
When a post is flagged, information about the post and about the person who flagged it is posted to the moderator's slack channel. That information should be adjusted to include the language that the flagger uses in Habitica (their `preferences.language` setting).

This is because we sometimes see posts being flagged when no violation has occurred and we want to find out if specific translations o

[2016-10-14 13:18] Alys commented on #4252
@deraltefritz Sorry about that; I put your details into my script but then neglected to run it. Thanks for posting again!! Can you please check now

[2016-10-14 13:37] khipkin commented on #8087
From @crookedneighbor's comment [here](https://github.com/HabitRPG/habitica/pull/8109/files#r82929833):

[2016-10-14 14:07] dumindux commented on #8115
I will work on this issue :)

[2016-10-14 23:42] DoraEx opened #8141 "ubntu 14.04 npm install error: invalid name: '@slack/client' npm start error: cannot find module 'babel-register'"
General Info
- UUID:  -
- Browser:  -
- OS:  Ubunto 14.04
### Description

Sorry if this is a repeat issue, I tried searching issues but couldn't find anything.
After getting most of the other errors to go away by re-running `npm install` (7 times) and increasing my swap file size, there is still one that will not go away . The output looks like this:

`npm ERR! Error: Invalid name: "@slack/client

[2016-10-14 23:58] DoraEx commented on #8141
so after looking more into other issues, i tried
`sudo npm install -g`
and this was at the top of the output file...
`npm WARN engine habitica@3.48.0: wanted: {"node":"^4.3.1","npm":"^3.8.9"} (current: {"node":"v0.10.25","npm":"1.3.10"})` so i will try updating first?

[2016-10-15 00:07] crookedneighbor commented on #8141
You just have an old version of node and npm. Node should be at least v4 and npm should be at v3. Reopen if you still have trouble after updating.

You will likely need to delete the node_modules folder and then reinstall the modules with npm 3

[2016-10-15 00:07] #8141 closed, assigned to nobody

[2016-10-15 03:27] Gitmanda commented on #8140
Could I take this one?  It is truly entry-level, and so am I :)

[2016-10-15 03:42] crookedneighbor commented on #8140
Go for it.

[2016-10-15 04:48] Alys commented on #8140
@Gitmanda I hate to do bait-and-switch :) but I was going to update this issue to ask that the message sent to slack also includes the language of the person who made the flagged post. That will help moderators work out if a person's use of a bad word might be just because they are not familiar with English. If you'd like to include that in your pull request for this issue, that would be great but

[2016-10-15 07:40] Alys commented on #6721
I'm opening this up to other contributors to work on (although @colwem if you're still working on it, if you comment here before anyone else takes it up, we'll reassign it to you).

I've edited the top post to include information that was discussed in the comments here and I've put strike-out on all the comments that are no longer needed because of that and because they applied to other, related c

[2016-10-15 07:52] Alys opened #8142 "allow moderators to send a private message (PM) to any user - ignore opt-out / blocking"
A moderator (anyone with `contributor.admin` set to true) should be able to send a PM to any player, even if the player has opted out of receiving PMs.

In the player's inbox, the on-hover text that explains the opt out feature must state that it does not prevent mods from sending them PMs.

The moderator should also be able to send a PM if the player has blocked the mod. Note that this should not

[2016-10-15 17:56] Gitmanda commented on #8140
I was going to comment to ask if I should also modify test/api/v3/unit/libs/slack.js.  So this actually sends a message to a Slack channel?  That would explain why I wasn't able to test it by playing around with my local installation...

I could take some more time to figure out where to get the profile of the person who made the flagged post, or you could make that one a separate issue and give m

[2016-10-15 20:55] jakers1776 commented on #8142
How can I help?

[2016-10-16 02:15] Alys opened #8144 "challenge owner can't change Reward value when editing challenge"
When a player creates a challenge they can add a Reward to it and change the Reward's value to any number (this is correct behaviour).

However when they try to edit the challenge and edit that Reward, they are not able to adjust the value. They should be able to.

Note that this applies to editing the challenge itself, not to editing the copy of the Reward that appears in their own personal task

[2016-10-16 02:33] Alys opened #8145 "buying zero gems for a gift with PayPal produces InternalServerError"
On the gem gift screen, it's possible to attempt to purchase gems as a gift for another player without first entering the number of gems (i.e., to try to give zero gems). This produces an ugly error message when using PayPal (below). For Amazon, it allows you to click through to the Amazon site and for Stripe, it allows you to enter your credit card details, but both of those results are also wron

[2016-10-16 03:07] Alys commented on #8016
@RussWilkie If you'd like to take this on, please do!

[2016-10-16 03:20] Alys commented on #8142
@jakers821 Thanks for asking! If you don't yet have the Habitica website installed on your PC, the instructions in [Setting up Habitica Locally](http://habitica.wikia.com/wiki/Setting_up_Habitica_Locally) will let you do that. That page also contains a link near the top to the Guidance for Blacksmiths page, which will give you an overview of Habitica's technologies and other useful information. On

[2016-10-16 03:24] Alys commented on #8140
@Gitmanda Yes, please do modify `test/api/v3/unit/libs/slack.js` to update the tests for this new feature.

We'll make a separate issue for including the language of the person who made the flagged post.

[2016-10-16 03:28] khipkin commented on #8142
@jakers821 For reference, the Aspiring Coders guild is [here](https://habitica.com/#/options/groups/guilds/68d4a01e-db97-4786-8ee3-05d612c5af6f). Good luck! 😺

[2016-10-16 03:29] khipkin commented on #7697
This has started consistently happening to me recently.

[2016-10-16 03:40] Alys commented on #8133
I've just tested this on Chrome on Ubuntu 16.04 and I couldn't replicate the problem.

@cTheDragons Are you able to test again on the same browser? I'm hoping it was just a temporary glitch. If it does still happen on Opera, do you have another browser you can repeat the test on?

[2016-10-16 03:51] Alys commented on #7697
Confirmed. When I used the "START A QUEST" button that's on the party page itself, a brief sync occurred but the quest didn't appear on the page. I had to reload the page manually to make it appear. I tested twice and it happened both times.

I tested starting a quest from the Inventory > Quests page, and once the problem did not occur (the quest appeared as soon as the party page appeared) but th

[2016-10-16 09:40] lizgzil opened #8146 "No Quest Reward for Dilatory Distress Part 1"
My party and I didn't receive any rewards for completing the quest 'Dilatory Distress, Part 1 Message in a Bottle'.

On our party chat log it states 'All items found! Party has received their rewards', but it seems no one got anything. There was no pop-up in browser.

It'd be great if there was anything you can do. Many thanks!

Group ID: 640299d4-ef15-4671-869f-9be11a54ed5a

My user ID: 9143735f-

[2016-10-16 11:55] crookedneighbor commented on #8145
The API should also reject the request.

[2016-10-16 20:47] ea247 opened #8147 "Finished Find the Lair of the Wyrm Task and didn't unlock quest's part 3"
General Info
- UUID:  4361d560-8856-4216-8d31-102130deff33
- Browser: Chrome and Edge
- OS: Windows
### Description

I finished the Find the Lair of the Wyrm quest, but it's not showing up as a badge and thus not letting me unlock the next part of the quest. This has never happened before.

[2016-10-17 00:18] wdavew commented on #6721
I'm new to open source contribution but have been learning JS and Node. Fixing this issue seems like it would just be a matter of adding a few more integration tests, changing the conditional statements in the updateGroup and removeGroupMember methods in the group controller, and then updating the group view accordingly. Does that sound accurate? If so I would be happy to take this on.

[2016-10-17 01:07] crookedneighbor commented on #6721
Sounds accurate.

[2016-10-17 01:58] #8115 closed, assigned to nobody

[2016-10-17 02:02] #7814 closed, assigned to nobody

[2016-10-17 03:02] #7955 closed, assigned to nobody

[2016-10-17 04:53] wdavew commented on #6721
Great, working on it.

[2016-10-17 05:59] jakers1776 commented on #8142
Alright just got it running locally. What can I do now?

[2016-10-17 06:28] Alys commented on #8142
@jakers821 The way I start investigating issues is to look at the feature on the website that needs to change, find text there that I can grep for in the source code to track down the file that produces the client-side view of the feature (note that grepping for user-visible text will show you the "locales" files that contain translatable text, so from there you'd find the "key" for the text and g

[2016-10-17 09:26] Alys commented on #7727
Another confirmed report for a cron that happened at Oct 16, 2016 5:02:48 am UTC for kirylin ( 8bca3269-8db1-4def-9840-a1e3784eecf2 ). This was in the server logs (the final line is the most interesting):

[code]

It refers to this task:

[code]

The history array doesn't contain an entry for the cron that happened on 2016-10-16. All the other Dailies do show history entries for that day. Looks li

[2016-10-17 10:15] lucastanhe commented on #4174
Hi, it's been 3 days and still no damage dealt for me, I've followed all the steps given in this thread. The damage display states that I should deal 94.7 damage to the boss.

Here is my ID: 94a2a16e-f6f8-4343-9ac7-71427127677b
Group ID: 2a592829-f00a-467e-a5aa-0bff845c0ebf

[2016-10-17 10:36] Alys commented on #8147
I've given the achievement and rewards to you. Reload if you don't see them. Please tell me if they don't appear after that.

If this happens again, or if you experience any other bugs, please go to Help > Report a Bug from the habitica.com website's menu (or Guilds > Report a Bug on the mobile app). That's the best place for bug reports now. It's rare that a GitHub issue is needed and if one is,

[2016-10-17 10:36] #8147 closed, assigned to nobody

[2016-10-17 10:38] Alys commented on #8146
I've given the achievement and rewards to you. Reload if you don't see them. Please tell me if they don't appear after that.

If this happens again, or if you experience any other bugs, please go to Help > Report a Bug from the habitica.com website's menu (or Guilds > Report a Bug on the mobile app). That's the best place for bug reports now. It's rare that a GitHub issue is needed and if one is,

[2016-10-17 10:38] #8146 closed, assigned to nobody

[2016-10-17 10:41] Alys commented on #4174
@lucastanhe From what I can see in our logs, you've been resting in the inn at night over the past few days. Tell us if that's not the case.

Resting prevents your accumulated boss damage from being applied - if you have questions about that, you can read about it on the wiki at http://habitica.wikia.com/wiki/Rest_in_the_Inn or ask at Help > Ask a Question from the habitica.com website's menu (or

[2016-10-17 12:34] crookedneighbor commented on #7188
The grammar has been addressed here: https://github.com/HabitRPG/habitica/pull/8021
The broken image has been addressed here: https://github.com/HabitRPG/habitica/commit/540353f0247e1f1072f54a53fc67f0bc7da57b31

The rest we're deferring for the redesign.

[2016-10-17 12:34] #7188 closed, assigned to nobody

[2016-10-17 16:47] JTorr commented on #8144
@Alys Just to clarify...you're referring to the `rewards` that show up under `tasksOrder`, and not to the `prize` (number of gems). Is that right?

Example showing `prize` versus `rewards`:

[code]

[2016-10-17 20:33] RussWilkie commented on #8016
@Alys Fixed it, how would I go about submitting my changes? Do I just push it or do you guys want a snippet of the modified code?

[2016-10-17 20:59] akortesmaa commented on #8145
I can work on this.

[2016-10-17 21:56] Alys commented on #7697
This problem just occurred for me when starting from the Inventory > Quests page. I'm updating my previous comment to state that.

[2016-10-17 22:04] khipkin commented on #8016
@RussWilkie Push your changes to your fork of the repository and then [create a pull request](https://help.github.com/articles/creating-a-pull-request/).

[2016-10-17 22:10] Alys commented on #8144
@JTorr Yes, that's correct.

[2016-10-17 22:12] khipkin commented on #8062
This seems to be related to #4403

[2016-10-17 23:15] Alys opened #8149 "moderators can't edit challenge tasks"
This issue relates to editing the tasks belonging to a challenge itself (i.e., in the challenge's own page under Social > Challenge). It does not relate to editing any copies of challenge tasks that are added to any player's own list when the player joins a challenge.

Moderators must be able to edit a challenge to change or add or delete any of the challenge's tasks, in the same way that the owne

[2016-10-17 23:23] RussWilkie commented on #8016
Not seeing my addition to the list of pull requests so I'm not sure if my pull request went through successfully. If not I'll attempt another pull request.

[2016-10-17 23:45] eopuntia commented on #8149
Is it okay if I look into this?

[2016-10-18 00:32] Alys commented on #8149
@estln Please do, thanks!

Comment here if you have questions or find any problems.

[2016-10-18 01:06] eopuntia commented on #8149
@Alys Will do!

[2016-10-18 04:37] jakers821 commented on #8142
Will try that and see what I come up with.

[2016-10-18 08:55] Alys commented on #7658
I'm closing this. I'll assume that all bad data was added to the database before our current validations were added and that I can therefore use mongoose validation to find it. I'll reopen it or make a new issue if I find that the validation isn't enough.

[2016-10-18 08:55] #7658 closed, assigned to nobody

[2016-10-18 13:49] khipkin commented on #8016
Hmm I'm not seeing it either.

[2016-10-18 13:56] dbarnett commented on #3071
Closed as a dupe of #2523, right? There's no easy answer for solving that one (optimizing for mixed-CDS parties), but there's an unambiguous improvement available to store party member effects and load/check them on individual party members' first activity of the day.

[2016-10-18 19:07] ea247 commented on #8147
Hi,

Sorry for posting on the wrong place. When I googled it, it sent me to
GitHub.

Unfortunately, it doesn't seem to have worked. I still don't have a badge
or have unlocked the next part.

Thanks for your help,
Katherine

On Mon, Oct 17, 2016 at 3:36 AM, Alys notifications@github.com wrote:

[2016-10-18 23:13] Alys commented on #8147
So sorry! Try now?

[2016-10-19 00:51] ea247 commented on #8147
Woohoo! It's all good now.

Thanks. :)

On Tue, Oct 18, 2016 at 4:13 PM, Alys notifications@github.com wrote:

[2016-10-19 03:38] abatula commented on #8062
I haven't heard back on this, should I try working on it or is it still being discussed?

[2016-10-19 04:56] cyberking opened #8151 "My Pet gone after hatching"
My Pet gone after hatching. System said "You not own this pet."

[2016-10-19 05:45] jakers821 commented on #8142
Alright today was too busy tomorrow I will look.

[2016-10-19 08:07] Alys commented on #8151
If you're using the habitica.com website, please go to Help > Report a Bug to report it there. If you're using a mobile app, please go to Guilds > Report a Bug. That's an in-game location, so we'll be able to see non-private details of your account there and will be able to work out what happened.

[2016-10-19 08:07] #8151 closed, assigned to nobody

[2016-10-19 11:33] Alys commented on #8062
So sorry @abatula , yes, please start! Thanks for asking again!

Because this will use some of the same words as the [swearword blocker](https://github.com/HabitRPG/habitrpg/issues/8061) and might have similar code, you might like to post here with your ideas for how you want to implement this so that we can check that the two issues aren't going to conflict.

[2016-10-19 11:45] Alys commented on #8016
@RussWilkie I saw email notifications for a couple of commits you'd made, but we do need a pull request. Does the link that @khipkin provided help (https://help.github.com/articles/creating-a-pull-request/ )? Let us know if something's going wrong with that or if the instructions aren't clear.

[2016-10-19 12:24] eopuntia commented on #8149
@Alys Some unexpected schoolwork has come up and I'm having difficulty setting up habitica on my computer, so I don't think I'm going to be able to fix it after all. Sorry about that.

[2016-10-19 18:27] RussWilkie commented on #8016
@Alys @khipkin Hello, thanks! I made the pull request again and it went through:

https://github.com/HabitRPG/habitica/pull/8155

[2016-10-19 19:49] Alys commented on #8149
@estln That's okay! Real-life work has to come first. Thanks very much for letting us know!

[2016-10-20 01:10] PhillyMuzik opened #8157 "Missing Gems"
[//]: I donated for the first time tonight, but did not receive the 20 gems.

[2016-10-20 01:54] crookedneighbor commented on #8157
First guess without seeing your user data is that you purchased a subscription instead of a one time purchase of 20 gems. Subscriptions let you purchase gems with your gold in the market.

To confirm that, I'll need your User ID? You can find it in [Settings > API](https://habitrpg.com/#/options/settings/api). Be sure to only copy the User ID and _not_ your API Token.

[2016-10-20 02:03] #8016 closed, assigned to nobody

[2016-10-20 02:27] PhillyMuzik commented on #8157
c630fcee-069f-4cd3-bac2-9f1772bac018

Thank you.

[2016-10-20 02:31] abatula commented on #8062
I've done some brainstorming on this, let me know if my understanding/ideas area correct.
- The swearword blocker issue will provide a function to check for swearwords (not part of this pull request)
- This issue should add a method (e.g. `checkForSlur`) to check if a blocked message contains a slur
- If it finds a slur, it should set the user's `chatRevoked` flag to true and message the moderator

[2016-10-20 02:51] lemoness commented on #8113
I think that sticking with the counter is best for now. The proposed idea sounds like it would work well!

[2016-10-20 02:53] lemoness commented on #8132
Yes, no need to change that :)

On Thu, Oct 13, 2016 at 2:57 AM, Alys notifications@github.com wrote:

[2016-10-20 02:56] crookedneighbor commented on #8157
Yep. Looks like you purchased a subscription. Here are the benefits for being a subscriber: http://habitica.wikia.com/wiki/Subscription

If that was not your intention, you can forward admin@habitica.com your receipt and they'll help you sort it out.

[2016-10-20 02:56] #8157 closed, assigned to nobody

[2016-10-20 03:12] jakers821 commented on #8142
Going to set it up from start to finish and try again.

[2016-10-20 05:46] jakers1776 commented on #8142
I just rebuilt it but every time I enter:

npm start

It hangs at this:

Done, without errors.
[22:38:48] Finished 'grunt-build:dev' after 9.12 s

I cleaned the cash and reinstalled every part of npm but no luck. What do you think?

[2016-10-20 06:00] Alys commented on #8142
@jakers821 That sounds correct. It's not hanging, the server is just waiting to be used. Do you see "info: Express server listening on port 3000" and "info: Connected with Mongoose" within the recent output? If so, it's probably fine. Please see the "Run Habitica" section in http://habitica.wikia.com/wiki/Setting_up_Habitica_Locally -- it sounds like you're up to step 5 so continue from step 6.

I

[2016-10-20 07:45] Alys commented on #8157
@PhillyMuzik We actually have a guild within Habitica now for faster reporting of problems and faster fixes or advice. You can get to it from Help > Report a Bug from the website's menu and Guilds > Report a Bug from the mobile app. One advantage of it is that we can see your User ID there and so can often resolve your problem as soon as we've seen your first message.

I think there might be infor

[2016-10-20 07:52] Alys commented on #8113
@shalott You're welcome to go ahead with this whenever you wish! Comment here if you have questions or run into trouble.

[2016-10-20 10:25] lynxlynxlynx commented on #7991
I'm just noting that since the rewrite, rebirth is not displaying that seasonalShopRebirth string: https://github.com/HabitRPG/habitica/blob/009ab26711e5d8cdbd5da2fbc14a42789c538259/website/views/options/inventory/seasonal-shop.jade#L11

[2016-10-20 11:15] crookedneighbor commented on #7991
That's intentional. The code has been rewritten to only show items that can be purchased, so the string should be unnecessary now.

[2016-10-20 12:21] lynxlynxlynx commented on #7991
I know, but the OP todo list still mentions it as it was.

[2016-10-20 22:31] sergeykorn opened #8158 ""No input data" message on the monitor from minimosd-extra board running under FW V889"
Minimosd board connected to Telemetry2 port on PIXHAWK Flight controller gives "No input data" message. After pushing the reset button on the board, the screen updates and shows relevant content for a second or so and then goes back to the "No input data" message.

![image](https://cloud.githubusercontent.com/assets/22900995/19580200/c98b1a1a-96f2-11e6-9850-fcdbf002d03a.png)

![image](https://clou

[2016-10-20 22:33] crookedneighbor commented on #8158
I don't think you intended to open this issue on the Habitica Github repo. Closing now, but re-open if I'm wrong.

[2016-10-20 22:33] #8158 closed, assigned to nobody

[2016-10-20 23:54] sergeykorn commented on #8158
Looks like I'm lost here ))

[2016-10-21 01:55] E-Fir opened #8159 "Can't add webhook"
hi!

always get strange error:
http 400 {"success":false,"error":"BadRequest","message":"User validation failed","errors":[{"message":"Path `url` is required.","path":"url"}]}

while other methods works fine

code:

$.ajax({
  url: 'https://habitica.com/api/v3/user/webhook',
  type: 'POST',
  data: JSON.stringify({
    "enabled": true, // default
    "url": "http://psygel.com/?habitica=1",
    "la

[2016-10-21 02:25] crookedneighbor commented on #8159
You need to add `contentType: 'application/json'` under `dataType: 'json'`, otherwise it sends the body param as a string instead of as JSON data.

[2016-10-21 02:25] #8159 closed, assigned to nobody

[2016-10-21 02:50] tribblx commented on #8149
Hi @Alys , I've started looking into this issue to get familiar with the code-base, and think I'm close to seeing what's going on here, I think I can get a PR out soon.

[2016-10-21 03:00] #5366 closed, assigned to nobody

[2016-10-21 03:19] tribblx commented on #8149
@Alys do you have any advice for testing this?  Trying to figure out what the best way to mock an admin would be?

[2016-10-21 03:34] crookedneighbor commented on #8149
@btribble Are you talking about manual testing or programatic testing?

If manual testing, your local instance should have a `Make Admin` button in the footer.

If programatic testing, you can use the pass and update object when generating a user for integration tests to make them an admin. See: https://github.com/HabitRPG/habitica/blob/a4fd687510160fc54e5730266f4f921f63f49c53/test/api/v3/integrat

[2016-10-21 03:38] tribblx commented on #8149
ohhh both very helpful, thanks @crookedneighbor

[2016-10-21 05:02] E-Fir commented on #8159
thanx alot!!

[2016-10-21 10:48] novaakpatrik opened #8160 "I have Enchanted Armoire enabled, but I haven't ever received the Ultimate Gear Achievement yet"
General Info
- UUID: b836294e-73fa-4b40-9afb-d44f43094db6
- Browser: Chrome
- OS: Windows 10
### Description

Currently I'm level 6, but I'm pretty sure that the Armoire was enabled to me since level 1. Thinking it is a regular thing to buy, I was saving my gold for it. After I purchased it I had to brag about it to my friends. But then one of them told me that it is really impossible for me to ha

[2016-10-21 11:44] Alys commented on #8160
We're currently running randomised tests where some players receive the Armoire when they create their account and others receive it after getting the Ultimate Gear achievement. You were randomly assigned to the group that get the Armoire early.

We actually have a guild within Habitica now for faster reporting of problems and faster fixes or advice. You can get to it from Help > Report a Bug from

[2016-10-21 11:44] #8160 closed, assigned to nobody

[2016-10-21 11:53] Alys commented on #7991
@lynxlynxlynx Thank you! I've edited the OP.

[2016-10-21 12:03] novaakpatrik commented on #8160
As I was googling info it also returned some issue here on github regarding the Armoire. And I assumed I'm on the right place to report an issue.

[2016-10-21 12:12] Alys commented on #8160
@novaakpatrik Thanks for that!  I've realised that our instructions in the new issue template don't actually mention the bug guild yet! I thought we'd added that but clearly not - our mistake. I'll fix that.

[2016-10-21 15:24] librarianmage commented on #8087
I can do meta, status, and unsubscribe!

[2016-10-21 23:09] aergener commented on #158
I noticed this hasn't been implemented yet (at least on iOS). I work professionally as a developer, and I have experience with angular and node... would this be a good feature to try to tackle as a new contributor?

[2016-10-21 23:54] Alys commented on #158
@aergener No, best that you don't work on this because your change would be unlikely to be accepted. Issues are closed because they've been resolved or are duplicates of other issues or a fix isn't desired, and the latter is true in this case. This issue was never taken out of the suggestion-discussion stage. When it was first logged, if you didn't have enough gold to pay for a Reward, the missing

[2016-10-22 10:33] cmorr7 commented on #8023
"Best cuisines for your little mean things"

[2016-10-22 10:35] Alys commented on #8116
@kawunngg I wasn't able to find log file records for this. We haven't seen any other instances of it, so I'm tentatively assuming it was a once-off glitch, possibly caused by the server being under high load. I'm closing this but we can reopen it if it happens again.

[2016-10-22 19:38] jakers1776 commented on #8142
I keep running it locally and find varying degrees of success. I have destroyed and remade vagrant a few times but the biggest problem I run into is my computer crashing. Is 1 core and 4Gb of memory enough for vagrant?

[2016-10-23 04:36] cching0L2 commented on #8063
Sorry about the delay.  Have been pretty busy and finally have time now to work on this issue.
A quick question, by "chat", do you mean Tavern only, or within all guilds

[2016-10-23 05:11] Alys commented on #8063
@cching0L2 No worries about the delay - thanks for coming back to it! Chat in this case is the Tavern and all guilds and the user's party and private messages.

[2016-10-23 05:14] Alys commented on #8142
@jakers821 I'm not sure. If you keep getting crashes when running only vagrant, then it might not be. You could try installing it directly onto your PC.

[2016-10-23 05:30] Alys commented on #8062
@abatula From my point of view, what you've described sounds reasonable. @crookedneighbor or @paglias Do you want to comment on the functions described?

The moderators are any player who has `contributor.admin` set to true (that's the list of staff and mods that appears under the chat box in the Tavern). Guild leaders are not considered moderators and should not be included.

Moderators are alrea

[2016-10-23 06:11] cching0L2 commented on #8063
I have been thinking about how to link the visibility of a message to the user's account's creation time.

Since the ability to post is linked to a user, my first thought was to put a flag in the user object, and check on that flag to determine if we should show a user's post or not.  However, inside a group, the user object made available controller is the logged in user's object, and does not sa

[2016-10-23 07:40] Alys opened #8163 "cron does not run when _cronSignature is permanently not set to NOT_RUNNING"
When cron starts, it adjusts the user's document to set `_cronSignature`  to the user's UID. When cron ends, it sets the value of `_cronSignature` to `NOT_RUNNING`. This is correct behaviour and is used to prevent cron running more than once at the same time.

However if something stops cron from completing (e.g., a timeout or other error), then `_cronSignature` is never reset to `NOT_RUNNING`. Th

[2016-10-23 22:32] akortesmaa commented on #8087
I can do Hall & Member

[2016-10-24 00:35] sreecharansankaranarayanan commented on #4758
Came here to report this as a new issue but the obviously active community has been working on this for some time :). I like the idea of keeping a record of aliases. I also like the idea of posting a greyed out message in the guild chat that was suggested by @chimericdream. The concern of too many posts in large guilds is valid and and this can be handled similar to how notifications are currently

[2016-10-24 01:00] Alys commented on #4758
@sreecharan93 When you change your profile name, the change takes effect immediately. The name on your avatar changes and any new messages you post have your new name. Old messages from before your name change never have the name changed (that's deliberate since the name reflects the person at the time the message was posted). I've seen a few cases of mild confusion from name changes, but nothing

[2016-10-24 01:02] sreecharansankaranarayanan commented on #4758
@Alys Thank you for your quick response.

[2016-10-24 16:27] thaenor opened #8164 "Laggy text in iOS and OSX (performance issue?)"
I've noticed that using Habiticia on iPhone and Safari, while writing a post in the tavern or the party chat, it's laggy and the input takes a while to respond. This makes writing a post somewhat annoying experience. Since other players have reported this too (and I've tried logging out, clearing cache and whatnot). I believe this may be a performance issue worth looking into.

I've tried this on

[2016-10-25 00:40] Alys commented on #8164
@thaenor Bugs are best reported through the Help > Report a Bug guild, and I can see you've done that so I'm closing this. There is usually no need to create a GitHub issue unless an admin advises you of that in the Bug guild.

Please see this comment and the ones below it for information about this problem: https://github.com/HabitRPG/habitica/issues/6462#issuecomment-249178348

[2016-10-25 00:40] #8164 closed, assigned to nobody

[2016-10-25 02:12] abatula commented on #8062
I have some [psuedo/skeleton code](https://github.com/HabitRPG/habitica/compare/develop...abatula:8062_automatic_muting) up for the two functions (`muteUser` and `checkForSlur`. I'll keep playing with it, but let me know if I'm going in the wrong direction anywhere.

[2016-10-25 09:49] reneamac commented on #7727
This just happened to me. My party started fighting Fire Skull Swarm around 4:30am on Oct. 24, and when my tasks cron at 3:00am (Oct. 25), nothing happened. I had racked up enough damage to defeat the boss, and nothing. It's irritating because the quest should be finished, but instead, I'm still taking hits to my health.

Thanks for working on this!!

User ID: 862f595d-72a7-42fc-a1d0-324bbb139456

[2016-10-25 09:53] #6490 closed, assigned to nobody

[2016-10-25 21:48] corinnaj commented on #5538
I'd like to take a look at this issue, if no one else is working on it.

[2016-10-26 00:57] khipkin opened #8171 "Error message when opening subscriber mystery item."
General Info
- UUID:
- Browser: Chrome
- OS: Windows 10
### Description

I just got my subscriber items, but each time I tried to open one of them, I just got the pictured error message and nothing else.  This happened twice, and it was the same popup both times.

![image](https://cloud.githubusercontent.com/assets/5641207/19709451/b784a16e-9af4-11e6-8865-9804818785fa.png)
#### Console Errors

The

[2016-10-26 00:59] khipkin commented on #8171
I also just realized that I didn't get the Bailey notification, so maybe that's related?

[2016-10-26 01:00] khipkin commented on #8171
Almost definitely related to @SabreCat's #8169

[2016-10-26 01:03] khipkin commented on #8171
Pre-refresh:

I did not receive the items, but the gift box counter is at zero.  I also did not receive the Bailey notification.
![image](https://cloud.githubusercontent.com/assets/5641207/19709664/5ea58c78-9af6-11e6-8235-4bcf2cf7f4a7.png)
![image](https://cloud.githubusercontent.com/assets/5641207/19709676/6df19a14-9af6-11e6-895f-4700eecba7d3.png)

Post-refresh:

The gift box counter went back to

[2016-10-26 01:34] crookedneighbor commented on #8171
This is a known issue. See https://github.com/HabitRPG/habitica/issues/7717

[2016-10-26 01:34] #8171 closed, assigned to nobody

[2016-10-26 02:47] #7875 closed, assigned to nobody

[2016-10-26 03:17] khipkin commented on #8171
Oopsie. Sorry!

[2016-10-26 12:10] jimcullenaus opened #8172 "Automatic Allocation based on Tasks does not accurately reflect tasks completed"
## The scenario:

Nearly every time I level, the tasks I have completed are a majority either intelligence or perception, but strength and constitution ability _do_ get used quite a bit.

Using Automatic Allocation, every time I level, either intelligence or perception is increased. Strength and constitution will never go up, however.
## The problem:

Automatic Allocation is looking naïvely at the

[2016-10-26 12:30] Alys commented on #5538
@corinnaj That would be great, thank you!  Comment here if you have questions or find problems!

[2016-10-26 12:37] crookedneighbor commented on #8172
I'm neutral in this. @lemoness?

[2016-10-26 16:20] shalott commented on #8113
Tossing these up for opinions. I am inclined to skip the - symbol -- it is more intuitive to have the positive counter go first in keeping with the + appearing above the - boxes, but if you have a negative number after the : then it looks bad, and I haven't found a better separator. (There is "Positive Counter" and "Negative Counter" tooltip text on the +/- counts when both appear.)

no minus symb

[2016-10-27 00:26] lemoness commented on #4936
The art for A Stern Talking-To has been completed by khdarkwolf!

![astt_shiny](https://cloud.githubusercontent.com/assets/3494081/19749850/4908d856-9ba1-11e6-923c-524c00b66059.png)

Once this is in the game, all our collection quests will have art, and we can close this ticket.

[2016-10-27 03:17] crookedneighbor commented on #4936
:heart:

[2016-10-27 05:48] jakers1776 commented on #8142
Alright, now I have it running reliably on my laptop.

[2016-10-27 05:53] Alys commented on #8113
I think the minus symbol is necessary for clarity, even with the tooltips (users don't always read them, especially on icons that they might not realise have tool tips). I'd be interested to see what it looks like with a + symbol as well as the minus. That might make the meaning even clearer.

Have you considered using a pipe | as a separator? Perhaps it will look better? `+3|-2`

[2016-10-27 19:51] shalott commented on #8113
![screenshot 2016-10-27 15 40 03](https://cloud.githubusercontent.com/assets/415001/19782399/afcf6f0e-9c5b-11e6-9fe7-cc1ebbb3419c.png)

IDK, I still don't think it looks great? Better than with the : and the + definitely helps, but it still feels a bit clunky. But I am happy to keep it whichever way you all prefer! I also tried it with badging but I think it looks worse.

![screenshot 2016-10-27 1

[2016-10-27 22:31] shalott commented on #8113
Pullreq submitted:

https://github.com/HabitRPG/habitica/pull/8175

[2016-10-29 04:40] dumindux commented on #8144
I will take up this task

[2016-10-29 04:41] Alys commented on #8144
@dumindux Thank you! Comment here if you have questions.

[2016-10-29 05:24] reneamac commented on #4819
Hi everyone. I've been a subscriber since... February, I think. In that time, I haven't gotten any Hourglasses except when first subscribing. My Gem Cap is still at 20 as well. Thanks for looking into this.

862f595d-72a7-42fc-a1d0-324bbb139456

[2016-10-29 06:45] Alys commented on #4819
@reneamac You subscribed for a twelve-month recurring subscription in February, so you received all the benefits then and you're due to get your next Hourglasses next February (for details about subscription benefits, please see http://habitica.wikia.com/wiki/Subscription ). If the Hourglasses don't appear in February when your next payment is taken, you can go to Help > Report a Bug from the webs

[2016-10-29 08:04] reneamac commented on #4819
Thanks, @Alys. That Wiki description is much more clear than the one in the Benefits pop-up. Thanks again.

[2016-10-29 21:03] abatula commented on #8062
I have a semi-working template for preventing posting of blacklisted words: [code](https://github.com/HabitRPG/habitica/compare/develop...abatula:8062_automatic_muting)

I moved most of the checking to the chat api, as it seemed to fit better there. Right now it:
1. Goes through an array of blacklisted words to see if any are found
   - I do some _basic_ string manipulation to prevent matching par

[2016-10-30 00:45] khipkin commented on #8062
@abatula If you want more than just general feedback on your code, I think you should open a WIP pull request.  (Just my opinion.) That way, people can do full reviews of your code, or just put comments on specific lines.  Also, that will keep the issue from getting clogged up with implementation details that might not end up being part of your finished PR.

[2016-10-30 11:53] dumindux commented on #8144
@Alys In the element where we edit the price of reward, there is a ng-if,

Here  !task._edit.challenge.id' part causes this element to hide during editing. Any ideas on how to fix this? Is it ok to remove this part? Will it break any other section?.

Thanks.

[2016-10-31 11:57] Alys commented on #8144
@dumindux Removing it might be okay - I'd need to look through the code and test it to be sure, but I won't really have time for that for a while. However you can try it in your local install and see if it works! Git will make it easy to revert if it doesn't work.

This is the expected behaviour for Rewards from challenges:
- when the challenge owner creates the challenge, they can change the valu

[2016-11-01 11:44] dumindux commented on #8144
@Alys I looked in to this as you suggested. Removing "!task._edit.challenge.id" also allows the challenge rewards to be edited in tasks section which is wrong. So I think we need to find a condition which becomes true in editing section but becomes false in tasks section.

[2016-11-01 20:52] ToppleTheNun commented on #8140
Has any traction been made on this issue? If not, I'd like to start work on this.

[2016-11-02 12:26] Thomas0921 commented on #6330
because we check the "Stop creating additional dialog" after we click the trash icon. So it wont ask us about want to delete it or not anymore. Help

[2016-11-02 12:27] Thomas0921 commented on #6019
because we check the "Stop creating additional dialog" after we click the trash icon. So it wont ask us about want to delete it or not anymore. Help

[2016-11-02 19:10] Gitmanda commented on #8140
I'm sorry, I have the code, I just haven't committed because I need to update the tests.

[2016-11-02 19:15] ToppleTheNun commented on #8140
Duly noted. Thanks for the update!

[2016-11-02 20:13] Gitmanda commented on #8140
Ok, what do I do about the fact that it fails tests even with my changes stashed?  I get 1 passing, 4 failing with mocha test/api/v3/unit/libs/slack.js.  The failures are the same with or without my changes to test/api/v3/unit/libs/slack.js and website/server/libs/slack.js.

[2016-11-02 20:24] Alys commented on #8140
@Gitmanda Make sure your config.json file is identical to the example one (with the exception of anything that you know must be different - usually there's no need for differences though). If that doesn't fix the problem with the tests, we'll need to know details about what's going wrong. For example, you can paste the full output from the tests into a [gist](https://gist.github.com/) and put the

[2016-11-02 20:28] Alys commented on #6330
@Thomas0921 Close and reopen your browser to reset that setting.

We actually have a guild within Habitica now for faster reporting of problems and faster fixes or advice. You can get to it from Help > Report a Bug from the website's menu and Guilds > Report a Bug from the mobile app. It's best to post there first for any bug report because you'll get faster answers there. If you need to report a

[2016-11-02 20:28] Alys commented on #6019
@Thomas0921 https://github.com/HabitRPG/habitica/issues/6330#issuecomment-257988635

[2016-11-02 20:58] Gitmanda commented on #8140
It all passed under 'npm test'.  I think it was because I didn't supply a Slack URL with 'mocha test/api/v3/unit/libs/slack.js'.

[2016-11-02 21:52] lemoness commented on #8172
It's an interesting idea! However, it would require a lot more work to convey that information to the user and to implement, and I'm not convinced that it would be worth it. I'm willing to be persuaded, however.

[2016-11-02 22:29] #8140 closed, assigned to nobody

[2016-11-02 22:58] SabreCat commented on #8172
This has been around a while--I'm almost certain there's a duplicate issue for this. I do think it's a good idea to go proportional with it, but it would take some careful design work. I'd want, for instance, (a) a visual representation of the current weighting; and (b) a smart system of "decay" such that if you emphasize one stat for a long time, then deemphasize it, you're not locked in to that

[2016-11-03 04:44] jimcullenaus commented on #8172
To convey it to the user, I don't think it would be necessary to explain in detail everything that's going on (though maybe that information could be in the Wiki). To simply say something along the lines of "Assign points based on the Strength, Intelligence, Constitution, and Perception categories associated with the tasks you complete over time." would seem adequate to me. As it is currently, the

[2016-11-03 06:46] gpunktschmitz opened #8182 "Time zone change causes Dailies to become offset by 1 day"
General Info
  * UUID: 7894c234-4aaa-48dd-a244-adb5ef975ca3
  * Browser: Opera 41.0.2353.46
  * OS: Linux Mint 17.3 Rosa

### Description
I've set up a Daily to repeat every 7 days and the Start Date "19/08/2016" (which was a Friday). Ever since it poped up every Friday. Today however (it is Thursday) the Daily shows up under the "Due" filter.

I could set a new Start Date an reschedule this item

[2016-11-03 11:55] DeveloperHuang opened #8183 "When I cancel Paypal's automatic renewal, I lose my subscription"
I became an annual subscribe through Paypal a few months ago,and last month I canceled Paypal's automatic renewal. I found out that I had lost my subscribed status because i can't Buy Gems with Gold

My Habitica user id:ceb60e62-ffe1-436d-94e3-44d8884740cf

[2016-11-03 12:44] crookedneighbor commented on #8183
Please email your original receipt to admin@habitica.com

[2016-11-03 12:53] #5538 closed, assigned to nobody

[2016-11-03 22:26] Alys commented on #8183
@DeveloperHuang I'm closing this issue because you've already reported it in the Report a Bug guild and you sent an email based on my response to you there. The bug guild is the best place to report any problem first, and you only need to open a GitHub issue if a moderator asks you to.

[2016-11-03 22:26] #8183 closed, assigned to nobody

[2016-11-04 02:45] Alys opened #8185 "Back and Body Accessory battle gear don't add to user's equipment stats / attributes"
When you equip a Back Accessory or Body Accessory as Battle Gear, your attributes aren't boosted by the item's stats (see screenshot below).

_[Guesswork in this paragraph.]_ This is presumably because stats-boosting accessories have only recently been created and the code for calculating and displaying attributes might not take those item types into account. If so, a fix is probably simple: repli

[2016-11-04 06:06] messedupdweeb opened #8186 "Limited Edition Equipment Lost After Death"
[//]: # (Before logging this issue, look through common problems at https://github.com/HabitRPG/habitrpg/issues If you find your issue there, read at least the first post to see if there is a workaround for you)

[//]: # (Github is primarily used for reporting bugs. If you have a feature request, use "Help > Request a Feature" so that the feature request can be vetted by the larger Habitica commun

[2016-11-04 06:48] Alys commented on #8186
When you lose items due to death, you can always buy them back with gold from your Rewards column. If you don't see it there immediately, please reload the website or sync the app (or log out and log back in if syncing doesn't help).

We actually have a guild within Habitica now for faster reporting of problems. You can get to it from Help > Report a Bug from the website's menu and Guilds > Report

[2016-11-04 06:48] #8186 closed, assigned to nobody

[2016-11-04 07:01] messedupdweeb commented on #8186
Hi, the item that was taken away was a gem bought Autumn 2016 Seasonal Limited Edition Jeweled Buckler for healers. It's gone in the shops now since I bought it already. I was wondering if there's a way for a different item to be taken away instead, like my circlet or my armor, since these can be bought in the rewards tab.

Philip Reynald P. Cruz

[2016-11-04 07:02] messedupdweeb commented on #8186
Oh. Sorry. I get it now. Thank you.

Philip Reynald P. Cruz

[2016-11-04 10:08] Alys commented on #8182
Did you go through a time zone change recently? If so, the Daily is still set to repeat every 7 days, it's just become offset by one day due to the zone change. If you change the Start Date, it will appear on the correct day again.

[2016-11-04 13:23] gpunktschmitz commented on #8182
yes I did go through a time zone change and rescheduled the Daily.
so it seems like a common issue ...

[2016-11-04 21:57] Hus274 commented on #8185
I can take a look into this one!

[2016-11-05 00:03] Alys opened #8189 "Participant joins challenge, then creator adds more tasks with Notes -> new user tasks don't get Notes"
If a challenge creator edits the challenge to add a new task and at the same time adds a note to the task, the existing challenge participants get a copy of the new task but with the note missing. The desired behaviour is that when a new task is added to a challenge, the notes field should appear in the users' copies of the task.

Any participants who join the challenge after the new task has been

[2016-11-05 01:05] cmajames commented on #5639
I can comment at a basic level on Japanese. I'm guessing that a lot of what I mention is already covered by some aspect of the code base, but I've mentioned it in case it is an issue.

## Articles identifying count

In this case, articles aren't a thing: other constructions are used. The most common of those is [Noun][Particle][Number][Counter][Verb]. For single objects, [Number] and [Counter] are

[2016-11-05 09:23] Alys opened #8190 "PM-blocking a player does not stop them inviting you to a party or guild"
When a player uses the "block" feature on another user's profile to prevent that user from sending a private message to the player, the user is still able to invite the player to a party or guild. This is undesirable because blocking a user from sending you PMs should prevent all contact from that user.

This is the PM block feature that I'm referring to (see the icon at the bottom with the "Block

[2016-11-05 14:58] Viscerim opened #8191 "There is no music when I enable the music option in Google Chrome."
[//]: # (Before logging this issue, look through common problems at https://github.com/HabitRPG/habitrpg/issues If you find your issue there, read at least the first post to see if there is a workaround for you)

[//]: # (Github is primarily used for reporting bugs. If you have a feature request, use "Help > Request a Feature" so that the feature request can be vetted by the larger Habitica commun

[2016-11-05 14:59] Viscerim opened #8192 "I can't click settings!!! I hover over it and it tries to select it as text instead of a link. Using a URL does seem to work though."
[//]: # (Before logging this issue, look through common problems at https://github.com/HabitRPG/habitrpg/issues If you find your issue there, read at least the first post to see if there is a workaround for you)

[//]: # (Github is primarily used for reporting bugs. If you have a feature request, use "Help > Request a Feature" so that the feature request can be vetted by the larger Habitica commun

[2016-11-05 19:16] Alys commented on #8191
The audio themes don't have music. They are sound effects when you click on tasks, obtain achievements, etc. More details here: http://habitica.wikia.com/wiki/Audio

We have a guild within Habitica for faster reporting of problems. You can get to it from Help > Report a Bug from the website's menu (or Guilds > Report a Bug from the mobile app). For questions about Habitica features, you can go to

[2016-11-05 19:16] #8191 closed, assigned to nobody

[2016-11-05 19:21] Alys commented on #8192
This is just a problem with your browser or your mouse not behaving correctly. Please reboot your PC and try again. If you still have trouble after that, you can comment again here but you'll need to tell us your browser and OS details. There's probably not much we can do to help though since this isn't caused by Habitica. I'm going to close this but if you make another comment we'll still see it

[2016-11-05 19:21] #8192 closed, assigned to nobody

[2016-11-06 14:57] JenniferMartin commented on #8182
I'm leaving my issue here because it seems to be related, although I'm not sure it's entirely the same thing.

I have a number of dailies which are set to be due every 28 days. Two of them should have been due today. However, when I logged in today, neither were due, their streaks were missing, and I did not have the perfect day bonus I should have had from yesterday. I checked the data display to

[2016-11-06 18:32] rrgayhart commented on #8190
This looks to be where the API level code is that controls that notification: https://github.com/HabitRPG/habitica/blob/develop/website/server/controllers/api-v3/members.js#L309-L316

I'd love to take a look, but if anyone beats me to it I won't be offended 😄

[2016-11-06 19:26] Ozzystrasza commented on #7867
For some reason this is happening again.

[2016-11-06 22:49] Alys commented on #8182
@JenniferMartin

I agree.

I believe the mis-scheduling problem that happens when DST changes can depend on the (hidden and inaccessible) time portion of the start date. Start dates are stored as UTC times and converted to your local time zone when scheduling is calculated. For certain UTC times, a different local time zone can be enough to shift the Daily to the wrong day. That could explain why

[2016-11-07 01:28] JenniferMartin commented on #8182
@Alys
I had not edited the dailies in question for several months, so I don't remember what time I had most recently made changes. Today's attempts to get them to display as due were made around 9:30 AM local time (EST).

[2016-11-07 05:22] khipkin commented on #7867
There seem to be 2 copies of the gif in the repo:

![image](https://cloud.githubusercontent.com/assets/5641207/20047230/20f334aa-a480-11e6-8729-4fc95f85e400.png)

The first one has the flicker, and the second one does not.  It's possible that after the seasonal shop stuff got removed, the first one was used by mistake?

[2016-11-07 15:17] SabreCat commented on #7867
Huh. The /sprites one is the one used in production, while /img/project_files is a reference copy. I'm... not sure how just changing the /img/project_files version ever fixed the issue! I'll overwrite the production copy.

[2016-11-07 15:21] #7867 closed, assigned to nobody

[2016-11-07 16:41] lynxlynxlynx opened #8196 "Rebirth not resetting one of the dailies"
I've just been reborn again and all went as expected. All but one thing — one daily has intact value, streak count and history. Even after a forced refresh. It is the only one still part of an active challenge, so that may be a good starting point for investigation.
http://imgur.com/MDoC2LL

I didn't see any console errors. I'll let you know what happens after cron.

UUID: 10c530d0-a796-476b-8a31-

[2016-11-07 17:30] SabreCat commented on #8196
This is intentional. Because the Daily is part of an active Challenge, it is excluded from modification by skills, Fortify Potions, and Rebirth. Challenge judging often relies on task value being an indicator of how often the task has been completed, so we try to keep Challenge tasks clear of influence by factors other than completions and misses.

[2016-11-07 17:30] #8196 closed, assigned to nobody

[2016-11-07 17:39] lynxlynxlynx commented on #8196
So a bit of a corner case, but perhaps it should be mentioned in rebirth docs anyway.

[2016-11-08 00:55] TheHollidayInn commented on #8061
I believing adding the banned words to our content files would be a good idea. I'll take this issue.

[2016-11-08 20:19] Pexpy opened #8199 "Reset Account does not remove attribute points or past stats"
[//]: # (Before logging this issue, look through common problems at https://github.com/HabitRPG/habitrpg/issues If you find your issue there, read at least the first post to see if there is a workaround for you)

[//]: # (Github is primarily used for reporting bugs. If you have a feature request, use "Help > Request a Feature" so that the feature request can be vetted by the larger Habitica commun