[2018-08-09 21:40] beffymaroo commented on #10527
@fentie The icons are now done and are attached to the same card where the other images are. :)

[2018-08-09 21:42] TheHollidayInn commented on #10581
The task reordering sounds like this issue: https://github.com/HabitRPG/habitica/issues/8500. We are having trouble reproducing - as you are now. We would love for any insight in to this. So if it continues to happen and you can help us debug, that would be great.

There isn't a general architectural issue. Those are specific problems we'd like to address.

- for the task click, this is something

[2018-08-09 22:26] Alys commented on #8500
As [reported](https://github.com/HabitRPG/habitica/issues/10581#issuecomment-411902783) by @asktree (9ed86aed-d1a0-4618-b5eb-d64d1190b915):

"...  sometimes* occurs when I try to re-order tasks. When the page syncs, the tasks will not be how I ordered them; they may not have moved at all, or they may have moved to the wrong place, or sometimes even a task somewhere else in my list will have moved.

[2018-08-09 22:28] Alys opened #10586 "Equipment change needs reload before it can be seen"
As [reported](https://github.com/HabitRPG/habitica/issues/10581#issuecomment-411902783) by @asktree (9ed86aed-d1a0-4618-b5eb-d64d1190b915):

"if I change my equipment, I have to reload the page in order for it to update. I just assumed that there was some underlying architectural reason that things might not sync as cleanly as in other softwares."

Copying @TheHollidayInn's question:

"@negue are

[2018-08-09 22:34] Alys commented on #10581
Because there's a few unrelated issues reported here, I'm going to break the conversation out now into separate issues so that we can more easily track each one.

@asktree I've copied your comment about task sorting here: https://github.com/HabitRPG/habitica/issues/8500#issuecomment-411917888
If you have any additional information, as @TheHollidayInn says we'd love to hear it so please comment on

[2018-08-09 22:34] #10581 closed, assigned to nobody

[2018-08-09 23:34] buddhistpirate commented on #10310
I've also seen this on my mackbook pro for a few months now. I just tried doing some profiling with safari, but with the minified javascript it is hard to diagnose anything specific. There are a lot of events firing and a lot of repainting even while I am not interacting with the page at all. I can spend some time digging into this more if someone can send me in a specific direction.

[2018-08-10 01:57] fentie commented on #10527
Oh wonderful, I'll get those added shortly :)

[2018-08-10 02:16] fentie commented on #10527
Ok the new assets are added, but they look a little odd next to the other chair images. Like the old images take up ~60% of the "button" space, and the new ones only take up about 25%?

<img width="806" alt="screen shot 2018-08-09 at 9 15 38 pm" src="https://user-images.githubusercontent.com/273815/43935398-723f365a-9c19-11e8-95dc-2eba9ce3c849.png">

They look great on the avatar though. I've noti

[2018-08-10 02:42] buddhistpirate commented on #10310
Just dug into this more. I used the "Tree" view in the Safari profiler. For me it was LastPass. I went into LastPass and turned on "Disable Autofill" for Habitica and the CPU usage returned to normal, and the message from Safari did not show up.

[2018-08-10 03:06] SabreCat commented on #10527
Hmm, I don't think they're supposed to be at a different resolution. (The avatar screen doesn't have rescaled images the way the equipment pages do.)

[2018-08-10 06:48] stuckfly commented on #10310
Huh. Well, for what it's worth I recently ditched LastPass (because it has for over a year annoyingly kept duplicating entries). So when I read your post, I re-tried Habitica on Safari (been using in on Firefox with no problem), and so far no memory issues. Conflict between LastPass and Habitica both on Safari seemingly confirmed. And now I can stop using Firefox. Thanks for your excellent sleuthi

[2018-08-10 07:35] Arsnael commented on #10297
Hi there ! May I take a shot at this one? Sounds like a good first issue to dive into the project :)

[2018-08-10 09:00] paglias commented on #10297
@Arsnael sure, go ahead!

[2018-08-10 09:03] paglias commented on #10310
@buddhistpirate thanks for investigating the problem, this is very useful! and thanks @stuckfly for confirming that it's LastPass in your case as well

[2018-08-10 09:58] Arsnael commented on #10297
Thanks @paglias , I'm on it !

[2018-08-10 13:46] #10549 closed, assigned to SabreCat

[2018-08-10 13:51] TheHollidayInn commented on #8931
Any recent reports of this?

[2018-08-10 15:01] SabreCat commented on #8931
@TheHollidayInn We've had a ton of trouble with invitations lately, some of which sounds much like the above. But I _think_ it's a mobile app problem; I'm trying to confirm with users that Web-only flows are OK.

[2018-08-10 18:12] beffymaroo commented on #10527
@SabreCat Ah, so the buttons shouldn't be at 2x? Sorry, I'm so used to doing icons at 2x. I can resize them pretty quickly if needed.

[2018-08-10 18:13] TheHollidayInn commented on #10557
That's because `stats` is supposed to be a query param. We document that:

- https://github.com/HabitRPG/habitica/blob/8b9bf88fa0d26a9d15f9b103e7eedafc807f2363/website/server/controllers/api-v3/user/stats.js#L12.
- https://github.com/HabitRPG/habitica/blob/8b9bf88fa0d26a9d15f9b103e7eedafc807f2363/website/common/script/ops/stats/allocate.js#L12

I can see how this could be confusing, but it isn't a

[2018-08-10 18:28] TheHollidayInn commented on #8126
Have we had any recent reports on this?

[2018-08-10 18:29] SabreCat commented on #10527
@beffymaroo Yeah, should just be a recanvas rather than a resize, I believe!

[2018-08-10 20:46] beffymaroo commented on #10527
OK, buttons are now at standard Habitica pixel resolution.

[2018-08-10 23:39] fentie commented on #10527
OK cool, I'll re-pull them from Trello and update the PR

[2018-08-10 23:59] fentie commented on #10527
Looks good to me!

<img width="806" alt="screen shot 2018-08-10 at 6 58 07 pm" src="https://user-images.githubusercontent.com/273815/43985730-623a3014-9ccf-11e8-960d-7fe35e644e4c.png">

[2018-08-11 06:54] Alys commented on #10557
The [apidocs for that route](https://habitica.com/apidoc/#api-User-UserAllocate) have it listed under the heading "Body Parameters", which is probably how the confusion arises (even though it's "query parameters" in the text).

I'm reopening this for the docs to be clarified but I"m assigning it to myself to fix because I want to make a couple of other wording changes too (e.g., "Stat Points")

[2018-08-11 12:37] Arsnael commented on #10297
So I think I fixed it. I recalculate the experience needed to level up from the previous level (as level already got updated before), reusing the function 'toNextLevel', then recalculating the xp gained from it. So in this level up case I pretty much do :

``
toNextLevel(lvl - 1) - before + after
``

So for example, let's say I'm level 3, I have 290 XP and the limit for leveling up is 300. I then

[2018-08-11 12:56] joedragons commented on #10297
Disclaimer: Just a user of the site (who has seen/been affected by this) not an admin.

I'm 95% sure you can (or could) gain multiple levels at once.  I started a second account for work and jumped right into my main quests and pretty sure this happened.  That was a while ago now tho, maybe things have changed.

I do agree it's an edge case and if I understand the equation right would result in sh

[2018-08-11 13:21] Alys opened #10591 "password reset emails aren't being sent"
We've had reports of password reset emails not being received, tests that I've done on the Android app and website have not given me any emails, and our records of password reset emails sent stop two days ago.

There's no obvious error in the API route:
[code]

This might be a problem with the mail service we use rather than a code bug

[2018-08-11 13:22] Arsnael commented on #10297
Thanks for the comment @joedragons , greatly appreciated :)

[2018-08-11 13:25] majestic-owl448 commented on #10297
I am too not an admin, but maybe I could give some math advice.

There are two situations in which one could level up multiple times at once: first, when finishing a quest one could gain a lot of xp, and in this case you would have things like 1132/150 experience and your formula should work to show the experience gained when completing next task. (The level up happens only when completing a task,

[2018-08-11 13:37] Arsnael commented on #10297
Well the problem is that the notification is being built on the watch of the XP stat. So I make the assumption that user gets one level up, and apply the math there. But it seems to me that there is no way of really knowing there if the user gains one or more levels... Or if there is one, well I would love somebody to tell me how, then indeed looping on this would be possible then !

Thank you for

[2018-08-11 13:45] TheHollidayInn commented on #10557
Ah I guess that's because of the body after param. I saw the query param next to the name on the doc line.

[2018-08-11 13:58] TheHollidayInn commented on #10591
This is an issue with our settings and not code. I'm working on fixing it.

[2018-08-11 13:58] #10591 closed, assigned to nobody

[2018-08-11 17:51] negue commented on #10586
@asktree I can't reproduce any out-of-sync errors, I can select an equipment item, and its immediately visible on the avatar.

If you can reproduce your issue, pls tell me exact way (what and where do you select).

Is it for gear or costume, do you have your costume setting active? Are you on the gear/costume tab (at your drawer)?

Also what OS / Browser?

[2018-08-11 19:25] negue commented on #9847
I'd say we wait until #10428 is fully merged then we can start to tackle this one

[2018-08-12 05:42] asktree commented on #10586
@negue
Hi--
Windows 10, Chrome

How odd. I actually tested this before including it in my post, and didn't bother to record it. Now, I am trying again and it's showing changes immediately as you say for gear, costume, and pets. So as of now I'm unable to reproduce or demonstrate. I'll be sure to record while making any gear changes over the next week, for my sanity's sake if nothing else.

[2018-08-12 10:11] #10557 closed, assigned to Alys

[2018-08-12 11:36] Arsnael commented on #10548
Hi guys ! Could I take a look into this one? :)

[2018-08-12 11:39] paglias commented on #10548
Sure!

[2018-08-12 22:01] TheHollidayInn commented on #10586
@asktree no worries. It might happen under special circumstances. If you can find it, just let us know. We want the experience to be instant :)

Feel free to reopen if it happens again.

[2018-08-12 22:01] #10586 closed, assigned to negue

[2018-08-12 22:05] TheHollidayInn commented on #10433
@ulugbekna did you still want to fix this issue?

[2018-08-12 23:01] TheHollidayInn commented on #10410
The name tag is now pulled up out of the intro, so this looks fixed to me.

[2018-08-12 23:01] #10410 closed, assigned to nobody

[2018-08-12 23:07] TheHollidayInn commented on #10286
Since we haven't had an recent users complaining. I'd rather just let the user unpin. Feel free to reopen if users feel differently.

[2018-08-12 23:07] #10286 closed, assigned to nobody

[2018-08-12 23:08] TheHollidayInn commented on #10275
Have we had any recent reports of this?

[2018-08-12 23:10] TheHollidayInn commented on #8931
Can you post the users' post?

[2018-08-12 23:15] TheHollidayInn commented on #9980
I'm closing this for now. If others disagree, feel free to post.

[2018-08-12 23:15] #9980 closed, assigned to nobody

[2018-08-12 23:22] Alys commented on #10275
Yes, it's still happening.

[2018-08-12 23:26] TheHollidayInn commented on #10275
Can you post future reports here for investigation?

[2018-08-14 12:14] JacobFrericks commented on #9489
I like the solution given by @Alys. What else needs to be discussed before we remove the discussion tag and devs can start working on it?

From what I can see, the website takes all the pieces (hair, eyes, armor, pets, etc) and puts them together like a puzzle... but I'd really rather not have to do that. A simple *.png would work nicely.

[2018-08-14 15:49] thefifthisa commented on #10433
Hi! I'd like to work on this if it's not yet taken.

[2018-08-14 16:12] TheHollidayInn commented on #10433
I believe this is free now, so go for it. The fix we are wanting is something similar to this: `Bring up a modal with the text “Sorry, User deleted account…” every time the “api/v3/members/memberId” request returns 404 in chat messages view.`

[2018-08-14 16:14] TheHollidayInn commented on #10404
I'm closing this for now. Other admins feel free to ping me if you think this should be fixed, but basically the 502 comes from a separate page and I think we shouldn't worry too much about the css leak.

[2018-08-14 16:14] #10404 closed, assigned to nobody

[2018-08-15 00:05] Alys commented on #9489
Since there's been no further discussion, let's settle on the simple fix of bringing back the behaviour from before the new website was released (i.e., the feature should give you nothing but a PNG file that shows your avatar exactly as you see in the website).

How that's done is probably a question for the staff. The feature used to redirect to (for example) https://habitica-assets.s3.amazonaws.

[2018-08-15 03:21] Arsnael commented on #10548
I made a PR fixing the issue.

The current logic is that the cast is being made on client's side before doing the request to the server :
https://github.com/HabitRPG/habitica/blob/develop/website/client/mixins/spells.js#L88 (client's cast call)
https://github.com/HabitRPG/habitica/blob/develop/website/client/mixins/spells.js#L95 (server request)

Wondering if we shouldn't make a call to the server

[2018-08-15 09:22] paglias commented on #9489
cc @TheHollidayInn

This is the type of stuff that we should really avoid doing directly on the server and should be moved to a separate worker process

[2018-08-15 12:07] Alys commented on #10398
If I'm understanding the code correctly, I think this is what's going wrong:

When a quest finishes, the quest rewards and achievement are put into the `updates` variable that starts being defined here:
https://github.com/HabitRPG/habitica/blob/1eb1fe76a8917cf5cd67d317fb91f577e7470d51/website/server/models/group.js#L854-L856

Once all the rewards/achievement are in that variable, `promises` is def

[2018-08-15 12:22] Alys commented on #10553
There were time zone changes in the iOS app in the past three weeks:
https://github.com/HabitRPG/habitica-ios/commit/cdee47ffd5c2c91b35122534d02d009a37fd7dcf
https://github.com/HabitRPG/habitica-ios/commit/8e7541ac95e11792959c8e8c42dbfa4f506c7502
I'm guessing they might have fixed this bug.

@shanaqui @SabreCat (and me) : if we see any more reports of players on their second day saying that their

[2018-08-15 12:43] Alys commented on #9753
I'm working on this.

[2018-08-15 12:56] Alys opened #10605 "subscription cancellations are setting dateTerminated too early"
When twelve-month recurring subscriptions are cancelled the termination date is too early. This might also apply to other multi-month subscriptions. I don't think it happens for one-month recurring.
Whether the bug happens might depend on when the cancellation occurs compared to when the subscription is created (in my test below both were on the same day) although in theory that shouldn't matter.

[2018-08-15 13:00] Alys commented on #10605
It might also depend on the payment method - both my test and one recent other report that I'm aware of (763c8800-98b3-4b73-a607-2bed33a8aca7) were PayPal. I haven't gone searching for other reports to get their methods.

[2018-08-15 13:19] Alys commented on #10605
It's probably from this code in cancelSubscription() :
https://github.com/HabitRPG/habitica/blob/1eb1fe76a8917cf5cd67d317fb91f577e7470d51/website/server/libs/payments/subscriptions.js#L278-L288

plus the code that passes `nextBill` into cancelSubscription() :
[code]

For PayPal, I wonder if something is going wrong when getting the customer agreement details:
https://github.com/HabitRPG/habitica/b

[2018-08-15 13:42] TheHollidayInn commented on #9489
Do we send the files to AWS somewhere? Or did we remove that

[2018-08-15 13:43] TheHollidayInn commented on #10398
You're correct. Promise.all only guarantees results will be stored in order, not that the promises will complete in order 👍

[2018-08-15 14:37] paglias commented on #9489
there's https://github.com/HabitRPG/habitica/blob/develop/website/server/controllers/top-level/dataexport.js#L194 that generates a page with only the avatar but has never been updated and https://github.com/HabitRPG/habitica/blob/develop/website/server/controllers/top-level/dataexport.js#L227 get a screenshot and send it to aws

[2018-08-15 14:42] TheHollidayInn commented on #10605
I've noticed this bug last year on some payments. I added test and fixes for some but I wasn't sure if I got them all. Ill look into this.

[2018-08-15 23:36] Alys commented on #8149
I've added this to the top post:

An easy way to find the code that needs to be changed for this is to search for `onlyChalLeaderEditTasks`. You'll find code like this:
https://github.com/HabitRPG/habitica/blob/1eb1fe76a8917cf5cd67d317fb91f577e7470d51/website/server/controllers/api-v3/tasks.js#L1344

Instead of using a leader ID check, the `canModify` method could be used:
https://github.com/Habit

[2018-08-16 14:36] shanaqui commented on #10553
Seen a report in the Tavern today:

[2018-08-16 14:52] TheHollidayInn commented on #10553
@shanaqui do you know what device they are on?

[2018-08-16 15:02] shanaqui commented on #10553
@TheHollidayInn I asked (or rather, I forgot to press post on my question and have *now* asked), but I don't know if they'll see it, given it's in the Tavern. :(

[2018-08-16 15:36] TheHollidayInn commented on #10553
Thanks! And no worries if they don't :)

[2018-08-16 17:18] Alys commented on #10553
Cron-related data for that player is below. Note that `lastCron` is different than `auth.timestamps.loggedin`, which can be a sign of cron starting but not completing. Amplitude says iOS 2.0.4
[code]

[2018-08-16 18:01] TheHollidayInn commented on #10553
Thank you!

[2018-08-16 20:20] stuckfly commented on #10310
Update. The CPU load problem has returned, with LastPass gone. No new software or system changes. What could cause the problem, and make it go away when LastPass is removed, and make it show back up again after a week or two?

[2018-08-16 21:53] #10196 closed, assigned to nobody

[2018-08-16 21:54] #10224 closed, assigned to nobody

[2018-08-17 09:58] #10444 closed, assigned to nobody

[2018-08-17 10:02] #10433 closed, assigned to nobody

[2018-08-17 10:06] #10548 closed, assigned to nobody

[2018-08-17 10:23] #10527 closed, assigned to nobody

[2018-08-17 10:25] paglias commented on #10310
@stuckfly do you have any other extension enabled? can you try to disable all of them and see if anything changes?

[2018-08-17 10:26] paglias commented on #10310
I see from an older comment that you already tried an incognito window which should disable all extensions anyway...

[2018-08-17 10:28] paglias commented on #10310
@buddhistpirate can you list the steps you used to find the problem? I'm not very familiar with the Safari debugger :) that would be very useful

[2018-08-17 11:20] #10308 closed, assigned to nobody

[2018-08-17 11:29] #9934 closed, assigned to nobody

[2018-08-17 12:07] TheHollidayInn commented on #8126
Feel free to reopen with user reports. Closing for now.

[2018-08-17 12:07] #8126 closed, assigned to nobody

[2018-08-17 12:09] TheHollidayInn commented on #9242
Sounds good. This issue is actually happening to me as well still

[2018-08-17 12:20] paglias commented on #9242
It's happening to me as well, the reason is always the same: the request to clear the notification should be sent after the last one from the group page loading, otherwise one will return the notification as if it's still there

[2018-08-17 18:38] beffymaroo commented on #10446
@arunikayadav42 Since we haven't heard from you, I'm putting this issue back in "Help Wanted." You're welcome to ask for it again if it's not claimed by the time you see this message.

[2018-08-17 18:39] beffymaroo commented on #10475
@viniciusperuzza Thanks for the update!

[2018-08-17 20:55] shanaqui opened #10607 "Private message deletion deletes the wrong messages in a weird order"
From trele_morele (3b4cd0f7-1986-4068-a439-7f1df7b8e55a) in Report a Bug:

I have confirmed this, except that for me message 2 was deleted, then 3, then 4, then 5. Then 6 was finally itself deleted. Then I reloaded to check on [this bug](https://github.com/HabitRPG/habitica/issues/9530) and that's still true *except* for message one, which *had* been deleted.

[2018-08-17 21:06] shanaqui commented on #10553
Another one on iOS today in admin inbox. They removed the section giving their UUID though, so that's not much help.

[2018-08-17 22:20] stuckfly commented on #10310
3 other extensions (1Password, Pinbar, and JS Blocker 5). With all off, the problem persists.
Using Activity Monitor to watch CPU load. The problem only happens if Habitica is the active app and displaying the Tasks page while logged in.
In Safari Preferences/Advanced check Show Develop Menu, then in the Develop menu Show JavaScript Console and that's where I found the error messages I posted here

[2018-08-17 22:24] flhat commented on #10475
@beffymaroo Can this issue not be solved by simply applying a conservative top margin of say 100px across all modals?

[2018-08-17 22:56] stuckfly commented on #10310
it takes about a minute for Habitica to max out its CPU usage between ~95% and 125%, then about 15 minutes later Safari displays a message at the upper-left of the Habitica tab saying it's using a lot of resources. Previously, Console would then show errors, but now I'm not seeing any (unless I click on the message, but I assume those errors are about the message itself; not Habitica).

@buddhistp

[2018-08-17 23:40] Alys commented on #10607
I've marked this as important priority because we need a fix soon. People could be losing important messages because of this and it also could impact moderation if a flaggable PM is inadvertently removed. I expect that reloading before deleting would prevent the problem but we can't expect players to realise or remember that.

[2018-08-18 00:11] TheHollidayInn commented on #10607
So it seems to me that this bug is a side effect of #9530. If I refresh (or sync) before deleting everything seems to be okay.

So I'm going to fixed #9530 to fix this as well.

[2018-08-18 10:47] #5232 closed, assigned to nobody

[2018-08-18 12:08] negue commented on #10298
Removing the death modal from my notification PR, but the issue that it opened multiple times should be fixed by my changes anyway.

[2018-08-18 14:57] JacobFrericks commented on #8087
Any objections if I take this?

[2018-08-18 15:03] paglias commented on #8087
Go ahead @JacobFrericks !

[2018-08-18 15:20] TheHollidayInn commented on #8087
I think there is only one PR left linked above if you want to finish that

[2018-08-19 02:08] #9530 closed, assigned to nobody

[2018-08-19 02:08] #10607 closed, assigned to nobody

[2018-08-19 02:08] #5233 closed, assigned to nobody

[2018-08-19 02:15] TheHollidayInn commented on #10605
Did you see any API errors when you canceled?

[2018-08-19 02:56] Alys commented on #10605
No

[2018-08-19 04:53] Alys opened #10611 "Contributor titles don't show in full on hover over player's name"
When you hover over a contributor's name in chat, you should see, for example, "Friend Socialite". Currently you just see "Socialite". The tier types are "Friend", "Elite", "Champion", Legendary", "Guardian", "Heroic". You can see code related to them here:
https://github.com/HabitRPG/habitica/blob/1eb1fe76a8917cf5cd67d317fb91f577e7470d51/website/common/script/libs/achievements.js#L9-L32

And in f

[2018-08-20 04:30] legitmaxwu commented on #10496
Hello, I am new to this project!

I was wondering if I could work on this too, or should I search for a project that no one is working on?

Thanks,
Max

[2018-08-20 05:19] TheHollidayInn commented on #9765
Duplicate of https://github.com/HabitRPG/habitica/issues/10224

[2018-08-20 05:19] #9765 closed, assigned to nobody

[2018-08-20 10:09] Arsnael commented on #10398
I could try taking a look into this :)

[2018-08-20 10:20] paglias commented on #10398
go ahead @Arsnael, thanks!

[2018-08-20 11:40] Alys commented on #10496
@thomasward1212 How are you going with this? Are you still working on it? If real life has got in the way and you're no longer free to work on it, just let us know. :)

[2018-08-20 19:07] legitmaxwu commented on #10611
@Alys

Hello,
Could I investigate this problem?
Thank you :)
Max

[2018-08-20 20:03] Alys commented on #10611
@legitmaxwu please do, thanks! Comment here if your have questions.

[2018-08-20 21:44] titchimoto commented on #10414
Oooh, is this still up for grabs? Would like to work on it! :)

[2018-08-20 21:58] SabreCat opened #10612 "Username @ list in chat is positioned incorrectly from multiline messages"
[//]: # (Before logging this issue, please post to the Report a Bug guild from the Habitica website's Help menu. Most bugs can be handled quickly there. If a GitHub issue is needed, you will be advised of that by a moderator or staff member -- a player with a dark blue or purple name. It is recommended that you don't create a new issue unless advised to.)

[//]: # (Bugs in the mobile apps can also

[2018-08-20 22:19] TheHollidayInn commented on #10414
Yep! Please do :D

[2018-08-21 17:14] rkojima commented on #10612
Hi @SabreCat, mind if I take a look at this?

[2018-08-21 18:12] paglias commented on #10612
go ahead @rkojima !

[2018-08-21 21:44] Alys commented on #10496
@legitmaxwu I've marked this as help wanted again but if you're still interested in taking it now, comment here again briefly and I'll mark it as in progress for you.

[2018-08-22 03:23] flhat commented on #9372
@beffymaroo Does this issue still exist?  I'm unable to reproduce locally.

[2018-08-22 03:33] flhat commented on #9861
@beffymaroo Is this still an issue?  I popped in the Russian text from the language file and it looks like it fits just fine.

<img width="587" alt="screen shot 2018-08-21 at 8 32 48 pm" src="https://user-images.githubusercontent.com/4992601/44441464-76f60900-a581-11e8-9d50-e51153f3fa7f.png">

[2018-08-22 03:41] Alys commented on #9861
@BlkStormy Thanks for the screenshot! Comparing that to the one at the top of the page, it looks like the Russian translation has been changed, possibly to use words that are less appropriate but that fit in the boxes. :(  Can you make the text longer by typing in random letters and see if it stretches outside the boxes? If so, we'd still want a fix. You could also try the German translation - the

[2018-08-22 03:54] flhat commented on #10496
@alys - I'll take a stab at it

[2018-08-22 04:14] Alys commented on #10496
@BlkStormy Awesome, thanks! :)

[2018-08-22 05:11] rkojima commented on #10612
@paglias, I think the issue can be solved by automatically expanding the textarea after height of the text in the box is bigger than the textarea. Is that a viable option?

**Textarea not expanded:**
![screen shot 2018-08-21 at 10 08 35 pm](https://user-images.githubusercontent.com/4088176/44443857-d1499680-a58e-11e8-8485-8bda436f053b.png)

**Textarea expanded:**
![screen shot 2018-08-21 at 10 08

[2018-08-22 05:27] Alys commented on #10612
Even if this issue didn't exist, it would be good to have the textarea expand after you've typed more than will fit in its original size!

[2018-08-22 10:29] paglias commented on #10612
pinging @Tressley about the design change, I'm not sure expanding the textarea is a good thing UX wise

[2018-08-22 11:48] Alys commented on #10612
If you're writing a lot of text (the limit is 3000 characters), then it's helpful to see all of it at once. It means you can proofread what you've written without having to scroll up and down through your text.

[2018-08-22 12:26] paglias commented on #10612
I'm not sure how many users type 3k characters messages and imho it creates problems like shifting all the chat messages down as the textarea expands, then when the message is sent should it be collapsed again or not?

[2018-08-22 13:17] Alys commented on #10612
3000 is just the maximum size for the posts, not necessarily the size that the increase would cut in at. - the point of it is that long posts are possible.

In my browser, text that I've typed starts scrolling out of sight at less than 500 characters, which isn't a very large post. Socialites do about that often when they're giving detailed answers to questions, and discussions in various guilds c

[2018-08-22 13:35] paglias commented on #10612
In case someone wants to expand the textarea they can do it by using the handle at the bottom right of the textarea

[2018-08-22 13:54] Tressley commented on #10612
@paglias -- I'm not against auto-expanding, but I do think that there should be a max-height to the textarea. My preferred UX would be similar to how GitHub handles their comment textareas. While typing, the textarea expands until hitting the bottom of the current viewport. Dragging the handle sets the same limit.

For design feedback, the "@menu" should be snug to the bottom right corner of the `

[2018-08-22 14:25] paglias commented on #10612
@Tressley I had never noticed that github's textarea works this way! My rationale for not expanding it is that, while in github's case the textarea is at the end of the page so expanding it doesn't move anything, in our case the textarea is followed by all the chat messages which means that every time a new line is added the messages get pushed down which I find quite annoying especially if you're

[2018-08-22 15:06] Tressley commented on #10612
@paglias -- True. You can test GitHub's experience by clicking edit on other comments as well. That would give you an idea of how they handle messages below.

As for a solution, there are two things I think we can do. One would be to update the textarea's font-size to be 14px (line-height of 20px) instead of 16px. That will allow more text to be shown at the default size. And two, have the textare

[2018-08-22 15:11] TheHollidayInn commented on #9372
@BlkStormy can you post your network log to show the cached favicon?

[2018-08-22 19:22] SabreCat opened #10618 "Skills drawer jumps rightward, partially offscreen, in some browsers"
[//]: # (Before logging this issue, please post to the Report a Bug guild from the Habitica website's Help menu. Most bugs can be handled quickly there. If a GitHub issue is needed, you will be advised of that by a moderator or staff member -- a player with a dark blue or purple name. It is recommended that you don't create a new issue unless advised to.)

[//]: # (Bugs in the mobile apps can also

[2018-08-23 15:14] Joseph67843 commented on #8056
Changing the sell price from 2 GP to 2 gems would solve both problems (allowing excess purchases to be reversed and allowing collectors to buy extra), but I have no idea how much work that would be. Alternatively, the system could warn users and ask them to confirm when they are buying more hatching potions than they can use.

[2018-08-23 20:08] TheHollidayInn commented on #10618
Hmm. I can't recreate this. Maybe the chat plugin they are using is causing it?

[2018-08-24 07:27] legitmaxwu commented on #10611
@Alys `contribText() `is used solely for printing the achievements panel in the user profile modal, as shown here: (don't mind the title I put)
![image](https://user-images.githubusercontent.com/19853022/44571490-bd8c6480-a735-11e8-91e3-428578f82496.png)
This means that it isn't used when generating the name tooltip (and in the Hall of Heroes). To have it append the title prefixes everywhere (play

[2018-08-24 07:49] Alys commented on #10611
@legitmaxwu Thanks for looking into this!  Out of your two options, 1 would be the best. We don't want the title stored in user.contributor.text because it would have implications for translations and for updating the contributor details when the tier changes. However you might like to wait a day or two in case the staff chime in with other suggestions.

I like Legendary lolol :)

[2018-08-24 07:59] legitmaxwu commented on #10611
Thanks for the feedback! I will continue investigating tomorrow. I never thought about translations factoring in here—that’s a very good point! I will proceed with option 1 unless anyone has more input.

Is anyone who is more familiar with the code aware of where the code that loads user info into the chat card is? I’ve been searching but haven’t quite found it.

[2018-08-24 11:50] TheHollidayInn commented on #10611
I think what you will want to do is create a computed property  (Vue thing) inside of chatCard.vue (I think) that  returns the users title. No need to modify the user directly or use that function since it returns the wrong text.

[2018-08-24 13:34] TheHollidayInn commented on #7991
Thanks for the feedback :D We haven't discussed this in a while, but I'll pass your questoins on when we discuss.

[2018-08-24 17:11] Ieahleen commented on #7991
I think mystery items are between those with a 0 gold cost so are not affected by this, but if you loose from death previous galas gear, equipment from quests or contributors gear,they have a gold price so they can be bought back (or for quest gear regained doing the quest)

[2018-08-24 18:16] legitmaxwu commented on #10611
@TheHollidayInn Thanks for the tip! I'll try that now.

[2018-08-24 20:05] #9806 closed, assigned to negue

[2018-08-24 20:08] #9901 closed, assigned to nobody

[2018-08-24 20:23] #10398 closed, assigned to nobody

[2018-08-24 20:24] SabreCat commented on #10618
Ooh, good call, that Groups tab is a giveaway. I'll contact these users about it and have them test with and without the plugin.

[2018-08-24 20:32] SabreCat opened #10621 "Outgoing private messages appear doubled on client"
[//]: # (Before logging this issue, please post to the Report a Bug guild from the Habitica website's Help menu. Most bugs can be handled quickly there. If a GitHub issue is needed, you will be advised of that by a moderator or staff member -- a player with a dark blue or purple name. It is recommended that you don't create a new issue unless advised to.)

[//]: # (Bugs in the mobile apps can also

[2018-08-24 20:35] citrusella commented on #7991
My brain has decided to detail what I remember of losing gear through rebirth: Previously, you wouldn't lose mystery gear at all IIRC, but maybe it was in the rewards column for zero gold? (Or maybe that was just the one time Alys wiped my equipment after I missed the end of the window for "traditional" rebirth?) Gala gear technically would require gems or a rebirth if you wanted it from a class y

[2018-08-24 20:39] flhat commented on #10475
Just wanted to check in on this one.  Is there an issue with the conservative top margin?

[2018-08-24 20:39] flhat commented on #9372
@TheHollidayInn My bad on this, I realized that it wasn't actually caching when looking into it further.  I'm trying to see if I can pin this one down.

[2018-08-24 21:08] flhat commented on #9861
@Alys Got it - I'll add a pull request for this now.

[2018-08-24 21:10] brightbold commented on #7991
As in citrusella's case, Alys offered to wipe all my equipment post-rebirth because I wanted the challenge of buying it all back, and she did it for me at the beginning of this year (so the below was true as of January). All equipment has been available in the store either for gold (regular gear, quest items, gala gear, previously owned Enchanted Armoire items, and contributor rewards) or for free

[2018-08-24 21:17] TheHollidayInn commented on #10475
I think the issue was apply the css to all modals. I posted a follow up here: https://github.com/HabitRPG/habitica/pull/10513#issuecomment-413957814

Feel free to submit a PR with the conservative margin. It sounds similar to the previous solution and we'd be happy to review that.

[2018-08-24 21:19] TheHollidayInn commented on #10621
Does this happen when sending to a new user?

[2018-08-24 21:23] SabreCat commented on #10621
@TheHollidayInn That's when I'd noticed it--pull up profile of somebody you haven't messaged before, click message button, write up message, send.

[2018-08-24 21:26] SabreCat opened #10623 "Double minus sign in spent Mana notifications"
[//]: # (Before logging this issue, please post to the Report a Bug guild from the Habitica website's Help menu. Most bugs can be handled quickly there. If a GitHub issue is needed, you will be advised of that by a moderator or staff member -- a player with a dark blue or purple name. It is recommended that you don't create a new issue unless advised to.)

[//]: # (Bugs in the mobile apps can also

[2018-08-24 21:38] #9861 closed, assigned to nobody

[2018-08-24 22:02] flhat commented on #10475
@TheHollidayInn Sweet, I actually have one ready to go - I'll submit a little later today

[2018-08-25 00:10] legitmaxwu commented on #10621
maybe I could check this one out?

[2018-08-25 00:15] legitmaxwu commented on #9694
Hello, could I tackle this issue?

[2018-08-25 01:11] Alys commented on #10621
@legitmaxwu Sure, thank you! :)

[2018-08-25 01:16] citrusella commented on #7991
I believe backer gear (and the critical hammer of bug crushing, to be complete) probably ends up in the gear to buy back, too, considering the equipment table (which I think is generated from Habitica's code?) lists both things as having an actual price, which must theoretically means they can be bought... though I can't confirm either, either.

~~I liked having an ultra long list of gear to buy.

[2018-08-25 01:57] Alys commented on #7991
@Joseph67843  As others have said, currently in Habitica whenever you have previously obtained a piece of equipment using either gold or gems or been given it for free, you can **always** get it back (even gear that's no longer available to anyone else), and you can always get it back without using gems (it will be either free or will cost gold). Note that for class-specific gear you will need to

[2018-08-25 01:58] Alys commented on #7991
Ooo, I missed this:
_I liked having an ultra long list of gear to buy. I think that was the most motivating to me. XD"_

I still have my script to remove ALL gear. I can run it whenever you like. :)

[2018-08-25 02:44] TheHollidayInn commented on #9694
Go for it!

[2018-08-25 03:03] TheHollidayInn commented on #6597
This is being fixed by: https://github.com/HabitRPG/habitica/pull/10620 and some migrations we will be posting/running after discussing internally.

[2018-08-25 03:03] #6597 closed, assigned to nobody

[2018-08-25 03:06] TheHollidayInn commented on #8502
Any recent reports of this?

[2018-08-25 03:11] TheHollidayInn commented on #7759
This will be handled internally because we will most likely implement this at the devops level.

[2018-08-25 03:11] #7759 closed, assigned to nobody

[2018-08-25 03:16] TheHollidayInn commented on #9208
This is being worked on internally.

[2018-08-25 03:16] #9208 closed, assigned to nobody

[2018-08-25 03:20] TheHollidayInn commented on #9662
This isn't happening to me on Edge anymore. Any recent reports?

[2018-08-25 03:25] Alys commented on #8502
Yes, it's still happening.

[2018-08-25 03:27] TheHollidayInn commented on #8502
Can you post the reports here when they come in next? @SabreCat could you do the same, please.

[2018-08-25 04:04] Alys commented on #10509
This is still happening on my local install which is up to date with `develop` - the most recent commit there is eb99b709e0d04dd5d57c11121189a22a1b0f433f (I'm not saying that commit is in any way related to this issue, I'm just referencing it since it's the most recent one and therefore does have the previous fix in it).

I'm not really sure what's going on in the vue code but I believe these are

[2018-08-25 04:10] TheHollidayInn commented on #10509
Oh interesting. I guess there was a second issue causing the button to break. I see it now. The code you linked does have the issue as it assumes the user will be a part of a party. Fixing now.

[2018-08-25 04:25] TheHollidayInn commented on #10446
Do we have copy for this and do we already have tooltips used in forms somewhere?

[2018-08-25 08:53] paglias commented on #10621
Actually this has been fixed in https://github.com/HabitRPG/habitica/pull/10428 that will be merged soon

[2018-08-25 11:15] Arsnael commented on #9293
Hi there ! Can I take a look into this one? Seems a lot of investigations has been done. I will try to process all of it first and see if I can find a way to solve your problem, and if I need support I will ask here. Good enough? :)

[2018-08-25 11:38] Alys opened #10635 "Death causes an incorrect notification that you gained Experience"
As reported by Il Mago (c073342f-4a65-4a13-9ffd-9e7fa5410d6b) and confirmed by me:

"My character just died and I received a notification that said that I gained experience (when instead I lost them), about 1500xp which was the amount I needed to reach next level before death"

The user's level and experience are adjusted correctly, it's just the notification that's misleading.

This will be very

[2018-08-25 12:19] majestic-owl448 commented on #10635
I think it was from the PR of this issue
https://github.com/HabitRPG/habitica/issues/10297 merged without addressing the issues in the comments (the death case was something that didn't came to mind tho)

[2018-08-25 12:47] paglias commented on #9293
Sure @Arsnael !

[2018-08-25 15:00] greekboy411 commented on #9662
I haven’t noticed it at all myself.

Sent from Mail for Windows 10

From: Keith Holliday
Sent: Friday, August 24, 2018 11:20 PM
To: HabitRPG/habitica
Cc: Matthew; Manual
Subject: Re: [HabitRPG/habitica] only one pinned item is shown in MicrosoftEdge (and maybe one/some Internet Explorer versions) (#9662)

This isn't happening to me on Edge anymore. Any recent reports?
—
You are receiving this beca

[2018-08-25 15:33] brightbold commented on #7991
To be clear, I liked that too! Enough that I asked Alys to run her script on me, and 8 months later I'm still working hard to earn gold to buy back all that gear. (I use custom rewards to pay market price for the free gear, so it's taking a while!) I just like it much better now that it's on the Market page, where I can decide what I most want to earn gold for next and pin those items to the Tasks

[2018-08-25 16:14] TheHollidayInn commented on #10635
I'll look into this. @Ieahleen your suggested about looping the max xp is good too. I'll add that in as well after testing if it works.

[2018-08-25 16:14] #10623 closed, assigned to TheHollidayInn

[2018-08-25 16:15] #9693 closed, assigned to nobody

[2018-08-25 16:15] #8472 closed, assigned to nobody

[2018-08-25 23:27] Alys opened #10637 "flag/report button stops working after some time"
_From citrusella, the serving wench (2d6ef231-50b4-4a22-90e7-45eb97147a2c):_

"I reported this awhile back but: Report buttons on posts stop working after some vague probably-inconsistent period of time from first loading Habitica. I don't know if this is just changes being pushed to the site breaking the button or something (though sometimes this doesn't seem likely, since it can happen frequentl

[2018-08-26 00:34] citrusella commented on #10637
Currently on Firefox 52.9.0 ESR (latest ESR update right now), on a 32-bit Windows 7 Service Pack 1 (on mid-2011 Macbook Pro hardware, FWIW).

My adblocker is disabled on Habitica, [this CSS style](https://userstyles.org/styles/148842/end-habitica-task-columns-at-last-item) that *should* only be affecting the task columns is all I consistently have running when I encounter this (though at this *ex

[2018-08-27 14:09] kenzhemir commented on #10475
Hi!
I've inspected the problem in browser (Google Chrome) and found an interesting fact that I want to share.
The navigation bar (#app > div:nth-child(5) > nav) by default has classes
`navbar ... navbar-z-index-normal`
And when any modal shows up, it changes its classes
`navbar ... navbar-z-index-modal`

So, **expected behavior**:
1) Modal is shown => nav tag changes class from navbar-z-index-**no

[2018-08-28 19:02] shanaqui opened #10646 "List of possible usernames to mention doesn't close"
From Il Mago in the Bug guild, using Safari on iOS. Reproduced in Chrome on Windows 10.

[2018-08-29 10:31] Arsnael commented on #9293
The all process is explained on the PR :) Feel free to give a feedback if necessary !

[2018-08-29 13:45] ChariseWalraven commented on #8087
Does #9760 still need to be done?

[2018-08-29 14:22] JacobFrericks commented on #8087
@ChariseWalraven I've taken over on a separate PR (since #9760 has been abandoned). It's just waiting for approval.

[2018-08-29 16:36] negue commented on #9662
Looks good on Egde. 👍
On IE the Items just have one item per line. IE doesn't support `display: grid`. But its still usable.

I think we can close this.

[2018-08-30 16:29] negue commented on #10637
I could reproduce this, I've reported some messages in a party, then kinda wanted to report a message a second time - got an error as expected, switching to tavern, clicking on report nothing happens

[2018-08-30 17:03] Arsnael commented on #10635
Oups my bad... Yeah didn't think of the death cause sorry (didn't die yet with my character, maybe why^^'). Obviously I don't know the code enough around yet... Will try to be more careful next time !

[2018-08-30 19:52] #10611 closed, assigned to nobody

[2018-08-30 19:55] #8087 closed, assigned to nobody

[2018-08-30 20:33] flhat commented on #10496
@alys Are there steps to reproduce the issue?  It seemed like the update was straight forward, but I need a way to verify it.

[2018-08-30 23:49] Alys commented on #10496
@BlkStormy If you have yourself set up to be able to use a test Stripe or Amazon or PayPal account from your local install, you can "buy" a subscription for a test user, however getting that set up isn't trivial. Probably the faster way is to create a private guild, add a group plan to it (there's a database update command for that in the Using your Local Install... wiki page), and then invite a t

[2018-08-31 00:30] SabreCat opened #10653 "Daily checkboxes appear to roll back when using IE11 client"
[//]: # (Before logging this issue, please post to the Report a Bug guild from the Habitica website's Help menu. Most bugs can be handled quickly there. If a GitHub issue is needed, you will be advised of that by a moderator or staff member -- a player with a dark blue or purple name. It is recommended that you don't create a new issue unless advised to.)

[//]: # (Bugs in the mobile apps can also

[2018-08-31 00:56] SabreCat opened #10654 "Strange behavior with some emoji in task titles"
[//]: # (Before logging this issue, please post to the Report a Bug guild from the Habitica website's Help menu. Most bugs can be handled quickly there. If a GitHub issue is needed, you will be advised of that by a moderator or staff member -- a player with a dark blue or purple name. It is recommended that you don't create a new issue unless advised to.)

[//]: # (Bugs in the mobile apps can also

[2018-08-31 01:14] beffymaroo commented on #10569
@IceDune Are you still working on this issue? Please let us know when you have a moment. Thank you!

[2018-08-31 01:16] beffymaroo commented on #10281
@dspitz716 Checking again to see if you're still working on this issue. Please let us know when you have a moment. Thank you!

[2018-08-31 02:04] flhat commented on #10496
@Alys Thanks - I have a test stripe account I can use.  I'll see if I can reproduce that way.

[2018-08-31 02:55] flhat commented on #10432
I think I've got a fix for this.  Will publish a pull request shortly.

[2018-08-31 03:02] Alys commented on #10432
Thanks @BlkStormy

Labels updated.

[2018-08-31 04:02] flhat commented on #9372
@TheHollidayInn Opening up a pull request on this now

[2018-08-31 10:50] Arsnael commented on #9650
I could help on this one I think ! rene.cordier@gmail.com

[2018-08-31 20:47] flhat commented on #10446
I can knock this one out, but I believe we would need additional translations...

[2018-09-01 00:15] flhat commented on #10183
I'll add a PR for this one.

[2018-09-01 05:24] flhat commented on #8149
I've got a PR for this one.

[2018-09-01 06:20] Alys commented on #8149
@BlkStormy Awesome, thanks!

Labels updated.

[2018-09-01 07:02] Alys commented on #10618
We have a couple of reports in the Bug guild that this doesn't happen because of the chat plugin:

From about 6 days ago: Poirot (699974bb-7b8f-435b-8152-06a502ebe37e): "Hi @Alys, nope, I don't use any chat plug-in at all, that is , not that I am aware of. Just normal use of the website (and the 4 styles which I disabled yesterday for the testing and reloaded the site, bug still there)."
They foll

[2018-09-01 08:15] kartikpandey2 commented on #10654
hey,
Can I take this issue .?

[2018-09-01 08:16] paglias commented on #10446
@BlkStormy do you mean non-english translations? no worries about them , they'll get added later

[2018-09-01 08:16] paglias commented on #9650
@Arsnael go ahead, thanks!

[2018-09-01 08:17] paglias commented on #10297
The PR that fixed this has been reverted due to #10635

[2018-09-01 08:18] paglias commented on #10635
Should be gone since the previous PR has been reverted in the mean time

[2018-09-01 08:20] paglias commented on #9242
#10628 has been reverted so I'm reopening the issue

[2018-09-01 08:20] paglias commented on #10654
sure @kartikpandey2 , thanks!

[2018-09-01 09:43] Arsnael commented on #10297
Well I could try to rework more on it if @TheHollidayInn doesnt have much time on this. But let me know :)

[2018-09-01 09:52] Arsnael commented on #9650
@paglias great! I will wait to get an in invite to zeplin first to view the designs in question :)

[2018-09-01 10:38] Alys opened #10659 "some lost Armoire equipment is incorrectly locked and can't be found in Shop"
MarieFrog (26cace60-f1f3-4678-bd66-23d9571dfc8c):
"I've lost a level and lost a piece of equipment which is now pinned to my rewards column, so far so good. I can't buy it though because it says "locked until you've purchased the previous items in the sequence". It's the Jeweled Archer Armor"

Confirmed. When I set `items.gear.owned.armor_armoire_jeweledArcherArmor` to `false` on my account and ad

[2018-09-01 12:33] Aerilita commented on #10618
If I can offer an observation: in both of the screenshots the left side of the skills drawer splits the grey Habitica symbol exactly in the middle. As I understand, the symbol is centered. So it seems as if the left side of the drawer is centered, instead of the drawer's whole container.

[2018-09-01 12:42] paglias commented on #10659
cc @negue

[2018-09-01 14:27] TheHollidayInn commented on #8793
@paglias @Alys did we decide to not do this?

[2018-09-01 14:30] #10509 closed, assigned to nobody

[2018-09-01 17:27] #10637 closed, assigned to negue

[2018-09-02 01:38] Alys commented on #10659
Or it could be because the item is part of a set, maybe that's confusing the code.
[code]

[2018-09-02 03:19] lucubro commented on #10569
I have a fix ready locally for this that I did just to get acquainted with the code, but feel free to ping me If this still needs help, and you'd like me to submit a PR.

[2018-09-02 04:20] Zian commented on #10653
Demonstration:

https://youtu.be/HqLPvlfyjXI

[2018-09-02 06:20] kartikpandey2 commented on #10654
@SabreCat  can you tell me which file is responsible for emoji issue .?

[2018-09-02 08:50] ohnoitsadalek commented on #10605
I just subscribed to a twelve month subscription and then cancelled on the same day and have this issue. Interestingly, when I cancelled, I checked whether the date was correct and as far as I can remember, it was a date in 2019. When I checked back a day later however, it had changed to a month in the future, not a year. (I then commented in the report a bug guild and they manually changed it). T

[2018-09-02 15:45] kartikpandey2 commented on #10654
Strange behavior with some emoji is because of CDN

![screenshot 91](https://user-images.githubusercontent.com/20434963/44957846-b236f700-aef4-11e8-9565-0e839194017b.png)

src for handshake emoji : https://s3.amazonaws.com/habitica-assets/cdn/emoji/handshake.png
is not working.
@SabreCat  @paglias

[2018-09-02 17:22] SahajR commented on #10654
This is related to #9128 .
Some emojis lack images in your AWS bucket

[2018-09-02 17:38] lucubro commented on #10077
I'd like to take a stab at this if help is still welcomed.

[2018-09-02 17:49] TheHollidayInn commented on #10077
@lucubro please do :D

[2018-09-02 17:56] shanaqui opened #10660 "When cleared, the reward price shows 1.0 instead of empty, which can be confusing"
Reported by Il Mago:

Confirmed by me, screenshot:

![image](https://user-images.githubusercontent.com/8144640/44959140-f53b9f00-aee1-11e8-9ec3-c172728895cb.png)

[2018-09-02 19:30] paglias commented on #10660
1.0 is the placeholder text, which is lighter than the usual text... maybe we can make it even lighter if it's being confused @Tressley ?

[2018-09-02 20:06] shanaqui commented on #10660
I think people are likely to expect it to stay empty, based on Il Mago's reaction. But it's true that on my screen at least (I have a blue light filter on) the placeholder text looks the same shade as the normal text.

[2018-09-02 21:53] lucubro commented on #10077
Actually, the same bug affects also food items in the stable. The fix is identical so, if you don't have objections, I'll add the fix for that as well to the same PR.

[2018-09-03 08:05] Alys commented on #8793
Yes. I think the reason was that the challenge creator might have put personal details in the challenge tasks, and so if they later deleted their account and were an EU citizen, GDPR would bite us.

[2018-09-03 08:05] #8793 closed, assigned to nobody

[2018-09-03 08:17] majestic-owl448 commented on #10660
@paglias : the text is black only if you have the cursor inside the price field, if instead the price field is unselected then the colour of the text inside it is grey, and at my eye it seems the exact same grey of the placeholder text

[2018-09-04 02:37] Arsnael commented on #9650
Maybe no need to peek in the Zeplin design? Anyway, just a font... for home / static pages right? I will check it !

[2018-09-04 12:40] Tressley commented on #9650
@Arsnael -- Sorry for the delay! You should see your Zeplin invite shortly. Here's a link to the artboard once you're part of the project: https://zpl.io/awYokyM

[2018-09-04 13:27] Tressley commented on #10660
Yeah, I can see how this is confusing. Cost starts with a default value of `10`, but when deleted has `1.0` as the placeholder. Inputs don't hide the placeholder until they take an initial value, so I don't think there is a state where the input is empty. The user will either have a value or see the placeholder.

For a solution -- I think the placeholder should just read "Enter the value". We don'

[2018-09-04 14:40] Arsnael commented on #9650
@Tressley no problem ! I will check that thanks

[2018-09-04 20:24] SabreCat commented on #10569
@lucubro The previous claimant on the issue hasn't responded--I'd say go ahead!

[2018-09-05 06:19] cvuorinen opened #10662 "My Guilds page shows "You aren't member of any Guilds" message while loading"
### Description
The [My Guilds](https://habitica.com/groups/myGuilds) page displays a "You aren't member of any Guilds" message while it is loading my guilds from the server, which is kind of confusing (especially if the loading takes longer than a second for some reason).

I think it would be better to display either nothing or similar "Loading..." text as the Discover Guilds page while the netwo

[2018-09-05 07:41] paglias commented on #10662
A PR would be great @cvuorinen :)

@Tressley what do you think?

[2018-09-05 19:22] rkojima commented on #10612
@Tressley actually, I'll try to implement it like Github does. Also, I added a minimum height for the textbox. Let me know if that's something you don't want.

[2018-09-05 21:04] SabreCat opened #10664 "API allows early Stat Points allocation"
[//]: # (Before logging this issue, please post to the Report a Bug guild from the Habitica website's Help menu. Most bugs can be handled quickly there. If a GitHub issue is needed, you will be advised of that by a moderator or staff member -- a player with a dark blue or purple name. It is recommended that you don't create a new issue unless advised to.)

[//]: # (Bugs in the mobile apps can also

[2018-09-05 21:56] SabreCat opened #10666 "Migrations sometimes run over entire user population instead of query population"
[//]: # (Before logging this issue, please post to the Report a Bug guild from the Habitica website's Help menu. Most bugs can be handled quickly there. If a GitHub issue is needed, you will be advised of that by a moderator or staff member -- a player with a dark blue or purple name. It is recommended that you don't create a new issue unless advised to.)

[//]: # (Bugs in the mobile apps can also

[2018-09-07 02:56] micirox commented on #2763
USER ID: 91b6c356-db12-464d-b936-f36362fe578c

I cannot delete two of my tasks related to a challenge:

1. Put all electronics...
2. Wind down...

Please help me delete them. Thank you!

[2018-09-07 03:48] asharma0703 commented on #8590
It looks like it was intentional, although I'm not sure of the reason:

https://github.com/HabitRPG/habitica/blob/e5d834b40aa4407ab8603dc911e94e052d15174a/website/common/script/ops/scoreTask.js#L41-L45

https://github.com/HabitRPG/habitica/blob/e5d834b40aa4407ab8603dc911e94e052d15174a/website/common/script/ops/scoreTask.js#L79-L82

Seems like deleting these snippets would solve this.

[2018-09-07 04:26] Alys commented on #8590
Ah! Good work on finding that. I'd guess that you're right that that code is causing this bug. However...

All this is from memory so anyone who acts on it would want to first check the code to make sure I'm right. :)

I believe those snippets are also what causes a To-Do to earn you more XP and Gold when the player completes the To-Do if it contained completed checklist items. We definitely still

[2018-09-07 05:25] asharma0703 commented on #8590
Oh, that makes sense. Didn't know the task value was used for anything besides color. I'd be happy to put a PR after I figure out all the local setup.

[2018-09-07 06:04] Alys commented on #8590
@ashaindlin Cool, thanks! Let us know if you need help with the local install.

[2018-09-07 10:43] majestic-owl448 commented on #2763
@micirox : if you follow [the instructions in this wiki page](http://habitica.wikia.com/wiki/Challenges#Deleting_a_Challenge_Task) and post in the Report a Bug guild someone will be able to help you

[2018-09-07 13:08] cvuorinen commented on #10664
I can take a stab at this.

So the correct behavior would be to respond with some kind of error? Similar to when there are no points to allocate (but different message)?

[2018-09-07 15:59] SabreCat commented on #10272
Got a new report of this today:

**Transcender** (e64eedd4-d51c-4cdc-8635-a063fd22a62c)

Looking at logs, there is a `401 NotAuthorized: Your session is outdated. Please refresh or sync.` followed by a series of `404 NotFound: No tag item was found with given id.`...

ETA: User doesn't have multiple Web sessions, but reports they use iPhone, iPad, and Windows PC (the issue hit while using the PC).

[2018-09-07 17:27] SabreCat commented on #10664
@cvuorinen: Yes, exactly! And go right ahead, I'll update the issue labels.

[2018-09-08 06:20] Alys opened #10668 "Animal Ears should not be purchasable with gems after losing them"
When you lose Animal Ears due to Death (or the future Empty the Armory) feature, they appear in the Market to be bought back with gold (which is the correct behaviour and shouldn't be changed).

However they also appear in the User Icon > Avatar section to be bought back for Gems. This is not correct - once a player has bought them with Gems, they should never need to spend Gems on them again.

_T

[2018-09-08 13:40] cvuorinen commented on #10664
So, is the thing that I should check `user.flags.classSelected` or `!user.preferences.disableClasses` or `user.stats.lvl >= 10`? Seems like the mobile app checks `lvl >= 10` (at least the code that fixed the issue linked in description) but the website UI does not allow stats allocation even if level 10 but opted out of Class system. And what is the difference between `user.preferences.disableClas

[2018-09-08 14:12] cvuorinen commented on #10664
Found the README in locales directory, ignore the above question about translation files.

[2018-09-09 02:37] Alys commented on #10429
I'm reopening this because it's happening again for at least one person (below) although I'm not able to reproduce it on Firefox 61.0.1 64-bit on Ubuntu. I've asked papierukartka to turn off extensions and styles to see if that fixes it. This issue is on hold until we hear more (basically I just want to record these details somewhere for now so they don't get lost).

_papierukartka (743d556b-6603-

[2018-09-09 04:57] Alys commented on #10664
@cvuorinen This comment: https://github.com/HabitRPG/habitica/pull/10629#issuecomment-415933528 describes the case when anything related to the class system becomes visible/usable to the player. That specific PR is about mana notifications but the same conditions apply to being able to allocate Stat Points.

That PR uses the `hasClass` method:
https://github.com/HabitRPG/habitica/blob/2ce2100f89bb

[2018-09-09 06:48] cvuorinen commented on #10664
Thanks @Alys for the comprehensive answer, everything clear now :smile:
I will use the hasClass function.

[2018-09-09 07:23] Alys commented on #6941
I'm working on this now. I'm merging `develop` into @asifmallik's code as I've described at https://github.com/HabitRPG/habitica/pull/8962#issuecomment-419695990

[2018-09-09 08:41] Alys opened #10669 "password reset form does not work when submitted with keyboard's Enter key"
When you are resetting your password, if you try to submit the form by hitting Enter on your keyboard, you see a JavaScript alert saying "Missing email" (it's a spurious error message; the problem has nothing to do with the presence or absence of an email address).

If you submit the form by clicking the submit button with your mouse, the form works and your password is reset.

Steps to reproduce:

[2018-09-09 08:44] Alys commented on #10669
tl;dr for those staff and contractors who do admin email support and maybe for Socialites who might see reports of this occasionally (e.g., from people who have two accounts and can still use Habitica with one of them):

When you see someone report that the Reset Password form tells them "Missing Email" and doesn't let them set a new password, tell them to submit the form by clicking the "Set New

[2018-09-09 09:44] paglias commented on #10297
@Arsnael sorry for the late response! If you want to work more on this it would be great :)

[2018-09-09 09:53] #8893 closed, assigned to nobody

[2018-09-09 09:53] #9753 closed, assigned to Alys

[2018-09-09 09:56] #9293 closed, assigned to nobody

[2018-09-09 09:58] #10432 closed, assigned to nobody

[2018-09-09 09:59] #10077 closed, assigned to nobody

[2018-09-09 10:15] Arsnael commented on #10297
Yes I can give it an other shot :)

[2018-09-09 11:23] Alys commented on #10432
A comment from Il Mago in the Bug guild:

"considering issue "Sort options in Stable should be persistent" and that it seems directed inly to tbe stables, users could find confusing that instead other places that let you sort items (market, inventory, equipment pages for example) will not have the same persistency of sorting options once it goes live"

Should we create an issue for the other sorts

[2018-09-09 12:47] paglias commented on #10432
I think one single issue that lists all the remaining sorts should be enough!

[2018-09-09 14:58] evantd commented on #6941
Awesome, thanks! I'm very excited about this feature.

[2018-09-09 17:20] legitmaxwu commented on #10669
could I take a look at this?

[2018-09-09 20:57] Aonepathan commented on #10668
@Alys Is it possible I can I take a whack at this? I am totally new to becoming a Blacksmith and haven't contributed before but have spend some time reading the previous issue and looking at as much code on Animal Ears.

Could you provide any additional clues to files directly effecting this? (the only canOwn reference I could find was in content and gear index.js)

I have seen the 20 gold allocat

[2018-09-09 21:03] paglias commented on #10669
Sure @legitmaxwu !

[2018-09-10 09:03] Arsnael commented on #9650
@Tressley : work in progress but I have a question. Is it only just about the font as the issue says? Because on the Zeplin design it's clearly more than just a change of font... Some colors and spacings are different, and the signup form is quite different as well. Some texts or buttons are lightly different too. So is the task about having a final result as the design there? Or it's just about t

[2018-09-10 12:53] Tressley commented on #10612
@rkojima -- Adding a minimum height is great. We can set it to be 3 lines of text. 👍

[2018-09-10 12:56] Tressley commented on #9650
@Arsnael -- You're right in this issue being specifically about the font. The other updates need to be recorded in a new GitHub issue. If you're interested in working on those updates, let me know!

[2018-09-10 17:00] cvuorinen commented on #10664
Ok, one more question. The hasClass method is defined in `website/client/store/getters`
https://github.com/HabitRPG/habitica/blob/2ce2100f89bb9eef616fb1ebd6bb10cda75009ad/website/client/store/getters/members.js#L8-L11
so I can't probably import it in the `website/server/...` or `website/common/...`. Should I add similar function somewhere there or define it only in one place under `common` and the

[2018-09-11 03:24] Arsnael commented on #9650
@Tressley  : Maybe in the future I will ahah. But ok if it's just about the font, it will be done faster then.

[2018-09-11 09:58] paglias commented on #10664
@cvuorinen yep! moving the code in /common and importing it from the server and client is a good idea!

[2018-09-11 14:12] Arsnael commented on #9650
@Tressley : let me know if it's alright!

[2018-09-11 22:22] sliwkr commented on #10429
Hey @Alys, thanks for taking the time. I've verified it with extensions disabled; the issue still persists. Additional information:
Linux 4.17.0-1-amd64 Debian 4.17.8-1 (2018-07-20) x86_64 GNU/Linux
using screen resolution 1920 x 894
Let me know if you need any more information.

[2018-09-12 01:36] greenkeeper[bot] opened #10674 "An in-range update of aws-sdk is breaking the build 🚨"
## Version **2.313.0** of **aws-sdk** was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="https://github.com/HabitRPG/habitica/compare/develop...HabitRPG:greenkeeper%2Faws-sdk-2.313.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </th>
    <td>
      <a target=_blank href=https://github.com/aws/aws-sdk-js>a

[2018-09-12 01:44] SabreCat opened #10675 "Achievement modals generate broken static page links"
[//]: # (Before logging this issue, please post to the Report a Bug guild from the Habitica website's Help menu. Most bugs can be handled quickly there. If a GitHub issue is needed, you will be advised of that by a moderator or staff member -- a player with a dark blue or purple name. It is recommended that you don't create a new issue unless advised to.)

[//]: # (Bugs in the mobile apps can also

[2018-09-12 09:20] Arsnael commented on #10297
There you go ! This time it should do the trick ! (I hope^^)

[2018-09-12 23:01] greenkeeper[bot] opened #10677 "An in-range update of lodash is breaking the build 🚨"
## The dependency [lodash](https://github.com/lodash/lodash) was updated from `4.17.10` to `4.17.11`.

🚨 [View failing branch](https://github.com/HabitRPG/habitica/compare/develop...HabitRPG:greenkeeper%2Flodash-4.17.11).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

lodash is a direct dependency of this project, and **i

[2018-09-13 15:21] jdsandifer commented on #10675
I'm interested in helping with this issue. Is there a specific resolution in mind? That is, it sounds like we would want a more generic link that works. What would that be - the main website? Or is there a landing page designed for people who have friends using the app already? (I'm new to the project.)

The links could just be removed, but I imagine that could go against one of the purposes of ha

[2018-09-13 20:32] shanaqui opened #10678 "Award winner displays to those who are not challenge creators"
citrusella posted in Report a Bug:

Have not tested, but didn't want it to get lost before we have chance.

[2018-09-13 20:47] shanaqui opened #10679 "When cron runs, the RYA popup kills anything you're currently editing"
From katzalina in Bug Guild:

Rightfully irritating, in my opinion. If not an automatic save option, maybe not letting RYA close other modals?

[2018-09-13 22:09] SabreCat commented on #10675
@jdsandifer A simple link to the main page would be fine for now!

[2018-09-14 09:08] #10674 closed, assigned to nobody

[2018-09-14 09:09] #10677 closed, assigned to nobody

[2018-09-14 09:41] Arsnael commented on #7991
@Alys : I will if I need to, thanks :)

[2018-09-14 21:01] jdsandifer commented on #10675
Great, I'll take this one!

I have a little more to read in the Blacksmithing guide and then I'll get started.

Can you point me to the general area of the repo where I will find the code that handles the achievement modals? I can dig until I find it, too, but would love to save some time if you happen to know where that code is.

[2018-09-15 09:33] kirsty-tortoise commented on #10668
I'd like to try this one, if that's okay.

If you've already bought Animal Ears with Gems but lost them to Death, should you be able to buy them back with Gold from the User Icon > Avatar section?

[2018-09-15 09:58] kirsty-tortoise opened #10681 "Tests for shouldDo failing locally due to timezones"
[//]: # (Before logging this issue, please post to the Report a Bug guild from the Habitica website's Help menu. Most bugs can be handled quickly there. If a GitHub issue is needed, you will be advised of that by a moderator or staff member -- a player with a dark blue or purple name. It is recommended that you don't create a new issue unless advised to.)

[//]: # (Bugs in the mobile apps can also

[2018-09-15 10:12] Alys commented on #7991
@Arsnael  Any item that costs zero gold should not be removed by Empty the Armory - you can identify those items by them having a `value` of `0`. For example:
https://github.com/HabitRPG/habitica/blob/1b3dad749e8beef3289e8c564703701b1bc21c02/website/common/script/content/gear/sets/special/index.js#L1193-L1198

Any equipment piece with a `value` greater than zero should be removed (i.e., Empty the

[2018-09-15 10:44] sliwkr commented on #10429
Hey, it looks like something similar occurs on Firefox 32bit on latest Lubuntu. The checkbox description text doesn't get wrapped inside the box (see screenshot)
Details:
Screen resolution: 1024x600
Browser: Firefox 62.0 32bit
Distro: Lubuntu 32bit (Linux 4.15.0-33-generic #36-Ubuntu i686 GNU/Linux)
![zrzut ekranu z 2018-09-15 12-42-38](https://user-images.githubusercontent.com/10583086/45585472-1

[2018-09-15 10:46] Arsnael commented on #7991
alright thanks @Alys :)

[2018-09-15 11:04] Alys opened #10682 "equipment pieces can't be pinned"
When there's a gear piece in the Market that you can buy, you can't pin it to your Rewards area. If you click the pin icon, nothing happens.

This appears in the console:
[code]

@negue

[2018-09-15 11:34] Alys commented on #10659
This is still happening except that now the error message you see says just that you can't buy the item, without giving a reason.

Once you have previously obtained an Armoire item, you should always be able to buy it back with gold, assuming you have enough gold. There should be no lock conditions on it.

[2018-09-15 12:00] negue commented on #10682
oh no :/, will fix it right away

[2018-09-15 13:10] negue commented on #10659
I especially tested this in the fix #10601.

- added myself an armoire item
- lost it during de-lvl
- could re-purchase it again no issues there

I guess its time to refactor the `checkMarketGearLocked` logic prevent something like that happen again

[2018-09-15 13:15] negue commented on #10668
@kirsty-tortoise You can try this one, if you need any help just ping me

Yes, if you lost the items then they can be repurchased back with gold. (not with gems)

[2018-09-15 15:45] fentie opened #10685 "Rapidly casting buff skills results in sync issues"
### General Info
  * UUID: 8f4a567a-038c-4c48-9941-fea2dc1d2845
  * Browser: https://mybrowser.fyi/report/5b9d28885ae2040014c96e76 (I just think this is a neat tool)

### Description
If you rapidly cast a skill (ex. Tools of the Trade) from the web UI, such that the new API calls are made before the old ones finish, you end up gaining the mana back for your earlier casts. Ex.

Cast 1, 75 mana -> 5

[2018-09-15 16:54] kirsty-tortoise commented on #10668
Thanks.

I've had a go at it, but I'm running into a small problem with buying the set of all Animal Ears for gems.

I've made it so that you can't buy the set for gems if you have already bought all Animal Ears with gems for a first time (even if you've lost some to Death). I'm not sure if this is the correct behaviour, it seems reasonably sensible.

At the moment (on my branch, but also on devel

[2018-09-15 21:28] greenkeeper[bot] opened #10686 "An in-range update of mongoose is breaking the build 🚨"
## The dependency [mongoose](https://github.com/Automattic/mongoose) was updated from `5.2.14` to `5.2.15`.

🚨 [View failing branch](https://github.com/HabitRPG/habitica/compare/develop...HabitRPG:greenkeeper%2Fmongoose-5.2.15).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

mongoose is a direct dependency of this project

[2018-09-15 23:36] Alys commented on #10659
Which items did you test? It still fails for armor_armoire_jeweledArcherArmor but not necessarily for other Armoire pieces.

[2018-09-15 23:39] Alys commented on #10659
Ah, it's probably because the canOwn function has upper case J when it should be lower case. There's only two pieces affected by that:
[code]

[2018-09-16 04:51] Alys commented on #10685
It's a known problem although I'm not sure we've created an issue for it. We don't care too much about people getting free skill castings (they can do that deliberately using [Fix Character Values](http://habitica.wikia.com/wiki/Fix_Character_Values) if they want to), but it is a little annoying. There is a plan to introduce bulk skill casting which might help with this, although I think the curre

[2018-09-16 04:53] Alys commented on #10685
Staff: I've labelled this as suggestion-discussion because I'm not sure we want a specific fix for it since it's a part of a wider problem, but feel free to change that of course.

[2018-09-16 05:18] Alys opened #10687 "amount to sell, maximum possible to sell, sell value/price are cached after selling one type of items in the Market"
Steps to show/reproduce bug:

1. Go to the drawer in the Market.
2. Find two items that you own a **different** number of (e.g., you might have 5 Wolf Eggs and 7 Tiger Cub Eggs).
3. For the item that you own **less** of (Wolf Eggs in my example), sell 2 of them (it can be any number more than 1, but I'm using 2 as an example).
4. Click on the second item (Tiger Cub Eggs).
5. **Observe that the amo

[2018-09-16 05:33] Alys commented on #6867
I'm reopening this because it's happening again for both Chilling Frost and Stealth. It was originally fixed (and the fix was working) in https://github.com/HabitRPG/habitica/pull/7110 / https://github.com/HabitRPG/habitica/commit/b97d7cc9f989cd8089d3a0883933dbe80faade6a so possibly some of that code has been accidentally removed, or something new has caused it to stop working. Regardless, looking

[2018-09-16 06:11] Alys opened #10688 "null tag entry causes tag functions to fail and tasks to be hidden"
EDIT by Alys 2019-11-26: see https://github.com/HabitRPG/habitica/issues/10688#issuecomment-558213190 for the suggested fix.
It's important to state in this issue that you want to work on it before you start because as @paglias noted, he'll fix it if no one takes it up.

---

It's possible for an entry in a player's `tags` array to be `null` (i.e., not a normal object but just the value `null`). T

[2018-09-16 07:46] Alys commented on #8307
In the Report a Bug guild, cTheDragons asked if this issue could be reopened. She writes:

"Hi Amazing Database Guardians and Blacksmiths, may I ask to [reopen a ticket on Github](https://github.com/HabitRPG/habitica/issues/8307) that has reverted due to the redesign? The amount of scrolling required to edit a task on my windows tablet is difficult. [This is the view without any zooming](https://i

[2018-09-16 08:17] Alys opened #10689 "Challenge tag is not always created when a player joins a challenge"
In the Report a Bug guild, donotgogentle🌼🌷🌻 (65be576c-c412-41c7-a31f-94994c8c4fc6) says:

**When I join Challenges, sometimes the associated tag does not show up, though the tasks appear. Example of one I just joined: https://habitica.com/challenges/2350bb37-29f8-42dd-9a43-c3cc9e9d1939**

I've confirmed that they are in that challenge and don't have the tag. They joined it on Sep 11, 11:45:04 pm U

[2018-09-16 08:43] Alys commented on #10668
Yes.

I think it's best if buying the set does restore lost Ears. The code for that will be simpler, and the behaviour will be more what the users are expecting since the set is intended to make all Ears available to you. I think we'd get occasional bug reports if gold-purchasable Ears were excluded from the set. I believe it would be very rare to hear complaints if they were included.

[2018-09-16 10:49] paglias commented on #8307
cc @Tressley

[2018-09-16 10:54] #10682 closed, assigned to nobody

[2018-09-16 23:22] Alys commented on #10689
donotgogentle🌼🌷🌻  says:

"I don't use on multiple devices though sometimes I keep multiple browsers with instances of Habitica open. I don't use any third-party related tools. Ok, I'll try syncing first next time."

[2018-09-17 22:31] beffymaroo opened #10690 "State of Dailies does not change in Group Plan taskboard"
When an assigned user (or any user) in a Group Plan completes a Daily that they are able to claim, the state of that Daily does not change on the Group Task board. E.g. the color stays the same, the streak count does not change, and the Daily remains in the "Due" tab rather than the "All" tab. Refreshing on the part of either party involved does not resolve this.
![group_task_board_view](https://u

[2018-09-18 06:10] LiuJQ commented on #6716
Save my time, well done !

[2018-09-18 17:44] Tressley commented on #3553
Hey @texastoland -- Just wanted to let you know that we've been doing some work around system messages and how they're displayed in chat. We're hoping these visual changes address a lot of the users' concerns around space and usability without needing to introduce new features or components just yet.

While these are upcoming changes, I'd encourage you to continue working on your proposal and shar

[2018-09-18 19:47] texastoland commented on #3553
Can't wait to see! I decided to tackle issues with a smaller scope.

[2018-09-18 22:02] shanaqui opened #10692 "Text overlapping in Russian version"
From Report a Bug:

![scr](https://pasteboard.co/HEsYMb1.png)![hesymb1](https://user-images.githubusercontent.com/1495809/45722640-ac2d5f80-bbf0-11e8-95c4-ca184c8b8980.png)

[2018-09-19 00:12] Alys commented on #7991
@beffymaroo ^^

[2018-09-19 07:10] greenkeeper[bot] opened #10693 "An in-range update of aws-sdk is breaking the build 🚨"
## The dependency [aws-sdk](https://github.com/aws/aws-sdk-js) was updated from `2.316.0` to `2.317.0`.

🚨 [View failing branch](https://github.com/HabitRPG/habitica/compare/develop...HabitRPG:greenkeeper%2Faws-sdk-2.317.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

aws-sdk is a direct dependency of this project, and

[2018-09-19 09:50] phillipthelen opened #10694 "Frontend changes for upcoming Username changes"
For the upcoming username changes we still need the following changes:

Settings Page:
- [x] Allow users without local authentication to set a username
- [x] Remove Section with login name and email and put those values into the input fields themselves
- [x] Add option to change display name (below the part to change username)

General
- [x] Change text occurences of "Login name" to "Username"

[2018-09-19 09:56] phillipthelen opened #10695 "Fix display issues in mobile browsers"
List of fixes, so that we can link users to a working settings page

- [x] Make banner for paused dailies display correctly
- [x] Display settings pages in one column instead of two.

[2018-09-19 10:12] phillipthelen opened #10696 "Backend changes for Username changes"
- [x] Add `verifiedUsername` flag to user
- [x] Add verification to usernames by blocking slurs using the [bannesSlurs](https://github.com/HabitRPG/habitica/blob/90117625d72e71ca94af4915886b10b4952d0747/website/server/libs/bannedSlurs.js) list
- [x] Change username API to not require a password
- [x] URL to confirm username without changing it. This should open the settings page. This will be used

[2018-09-19 14:09] Tressley opened #10697 "WEB [Nov 2] Implement modal that forces users to change username"
Once we release the username feature, users have to set/confirm their username

Fixes needed from review:

- [x] Allow modal to grow correctly to accommodate validation errors
- [x] Check on why z-indexing issue sometimes recurs
- [x] Implement modal stack quick fix suggested by Matteo
- [x] Move email validations to mixin using `validator` library https://github.com/HabitRPG/habitica/pull/10757#c

[2018-09-19 14:35] paglias commented on #10693
Not sure why these issues are popping up but the tests are passing

[2018-09-19 14:35] #10693 closed, assigned to nobody

[2018-09-19 14:35] #10686 closed, assigned to nobody

[2018-09-19 21:38] JesseRatt commented on #10660
Hi, I am somewhat new at blacksmithing, so I thought this would be a good practice bug to fix, I have fixed it in my local build, I just did it for practice. But I see that there is no updates in 15 days, could I pick this up as my first bug to fix?

[2018-09-20 08:38] greenkeeper[bot] opened #10699 "An in-range update of mongoose is breaking the build 🚨"
## The dependency [mongoose](https://github.com/Automattic/mongoose) was updated from `5.2.15` to `5.2.16`.

🚨 [View failing branch](https://github.com/HabitRPG/habitica/compare/develop...HabitRPG:greenkeeper%2Fmongoose-5.2.16).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

mongoose is a direct dependency of this project

[2018-09-20 10:51] #10699 closed, assigned to nobody

[2018-09-20 19:09] JesseRatt commented on #10687
I'd like to attempt to fix this one. I have fixed some "first issue" bugs that were already assigned just as practice. I think I could handle this one.

[2018-09-21 03:13] Arsnael commented on #7991
So I'm starting going on the same basics as rebirth, as to know lvl 50 available for 2 gems, lvl 100 free... Might need to think about other criterias though, it could be abused depending what you want to do with the counter of the achievement. Like if it's just a matter of levels, the user could abuse it in resetting and making the counter go up... (not that it might be useful, but well...). The

[2018-09-21 03:30] Alys commented on #7991
@Arsnael
We typically don't care about abuse of features using Fix Character Values. In the case of a player rebirthing then deciding they want the fresh start to include having no gear, we'd encourage them to use FCV if the unlock condition was levels.

Unlocking / making it free based on number / percent of gear is an interesting idea! I'm on the fence about that or the Ultimate Gear achievement

[2018-09-21 03:41] Arsnael commented on #7991
@Alys : The ultimate gear of achievement of the current class could be yes, even if not really difficult to obtain. Well for now it's not a problem, I spend bits by bits on the code so it's rather slow, so if the mind changes around things still in discussion it should be easy to update during process :)

[2018-09-21 05:53] majestic-owl448 commented on #10695
Other things that could be considered:

often the modals are a nightmare to close (once I was blocked there trying to tap anywhere on the margins to close one until I figured out that as they have the little cross in the corner on the website I could use the same corner to close them - it was a profile modal and there it is not visible)

Scrolling through tasks, you need to use the margins of the

[2018-09-21 09:20] phillipthelen commented on #10695
The modals are a good point, since these can pop up on every page. However regarding the tasks the focus right now is on the settings page, since we will send users to that page from an email. We want to work on improving the mobile website soon though!

[2018-09-21 13:12] #10422 closed, assigned to SabreCat

[2018-09-21 13:12] #10621 closed, assigned to nobody

[2018-09-21 14:55] #10664 closed, assigned to nobody

[2018-09-21 15:09] Tressley commented on #10697
**Default:** https://zpl.io/aMvwPW3
**Error States:** https://zpl.io/brEA8LW

[2018-09-21 20:43] jdsandifer commented on #10675
Nevermind about pointing me in the right direction - the codebase was easy to navigate. It looks like website/client/components/achievements/achievementFooter.vue has the links I'll need to change on lines 73-75.

I'll spin up a local install to confirm the issue, make the changes locally, and verify they correct the issue.

[2018-09-21 21:29] SabreCat commented on #10675
Thankya! Sorry we missed your earlier message, but I'm glad it worked out. Note you can also check in on the Aspiring Blacksmiths guild for help with Habitica development!

[2018-09-21 22:14] greenkeeper[bot] opened #10705 "An in-range update of mongoose is breaking the build 🚨"
## The dependency [mongoose](https://github.com/Automattic/mongoose) was updated from `5.2.16` to `5.2.17`.

🚨 [View failing branch](https://github.com/HabitRPG/habitica/compare/develop...HabitRPG:greenkeeper%2Fmongoose-5.2.17).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

mongoose is a direct dependency of this project

[2018-09-21 22:16] shanaqui opened #10706 "Group Plan tasks look like they cannot be assigned on creation"
From Report a Bug:

Confirmed by me.

[2018-09-21 22:27] shanaqui opened #10707 "Incorrect link in French version of site"
From Report a Bug:

---
_edit by Alys: This needs to be fixed in Transifex, not by a Blacksmith._

[2018-09-21 22:31] shanaqui commented on #10707
From citrusella:

[2018-09-21 22:35] shanaqui opened #10708 "Quantities seem to persist when selling items, but do not actually persist"
[The second I could not replicate so haven't put on Github.]

Verified by me.

[2018-09-21 22:50] Alys commented on #10687
@JesseRatt Thank you, please do!

I don't think this will make any difference to the solution but there's actually been another report of this with a detail about a part of the behaviour that I hadn't noticed (the cached amount wasn't actually applied when selling): https://github.com/HabitRPG/habitica/issues/10708
"Quantities seem to persist when selling items, but do not actually persist"  -- "W

[2018-09-21 22:53] Alys commented on #10708
We have part of that but reported at https://github.com/HabitRPG/habitica/issues/10687 and I've added a comment with the extra information.

[2018-09-21 22:53] #10708 closed, assigned to nobody

[2018-09-21 23:14] shanaqui commented on #10706
Interestingly, although it *appears* that they can't be assigned (they're displayed as unassigned and when you edit them it says they're not assigned to anyone), I just did something else and realised it *had* been assigned.

[2018-09-22 00:18] Alys commented on #10707
Yes, it's a problem with the `'` symbols in the strings in Transifex. If they are escaped in Transifex as `%27` then the link works. However as citrusella suggests, it would be better to link to this page:

http://fr.habitica.wikia.com/wiki/Extensions,_modules_compl%C3%A9mentaires_et_personnalisations

This needs to be fixed in Transifex by changing the link in TWO places:

[code]

The front.json

[2018-09-22 02:01] ghost opened #10710 "No easy way to see FAQ in other languages (missing feature from before Vue redesign)"
It used to be possible to see the FAQ (or overview, probably also other static pages) in other languages by adding ?lang=[iso code] to the end of the address. This was particularly useful for Socialites, because the FAQ are in the same order across languages AND you could open one question (eg "...static/faq#task-color"), add ?lang=zh (etc) to it, and the open question would remain open.

Now, the

[2018-09-22 14:39] citrusella commented on #10710
I think there was also a dropdown somewhere on the FAQ and/or static site that changed the language for you if you didn't know the URL bit.

[2018-09-22 23:32] Alys opened #10711 "cron failing to complete due to version error"
We have a verified report of cron not producing a quest progress message in party chat for a player who was in the quest, was not resting in the inn, and who did cron with a value in user.party.quest.progress.up recorded in Amplitude. Loggly showed a version error for one of their Dailies. This used to happen often but it's rare now so I thought it worth recording the details. I suggest that if we

[2018-09-23 00:04] Alys commented on #9446
I'm going to close this because it sounds like a sync error and we haven't seen other similar reports that can't be ascribed to sync errors. Also we've made changes to improve the task history situation, which should help.

[2018-09-23 00:04] #9446 closed, assigned to nobody

[2018-09-23 00:12] Alys opened #10712 "Mana Points (MP) not decreased when removing Intelligence (INT) Stat Points"
This is a client-side display problem, not a problem with the underlying API call for allocating Stat Points.

When you allocate Stat Points to Intelligence, you're given 1 MP for each point and your total mana shown in the website is increased immediately, before you have saved your Stat Points allocation. If you change your mind and remove Stat Points from INT before saving, your Mana shown on t

[2018-09-23 07:47] kirsty-tortoise commented on #10712
Can I have a try at this?

[2018-09-23 08:34] kirsty-tortoise commented on #10690
This behaviour just doesn't seem to be implemented, see the code that handles shared tasks.

https://github.com/HabitRPG/habitica/blob/71c0939a1595872096dcb0c12947b048d0b125dc/website/server/libs/groupTasks.js#L43-L56

The code only handles Todos. Habits, Dailies and Todos with the default "recurringCompletion" are independent for everyone assigned, and seem to be more like challenges that members

[2018-09-23 08:42] paglias commented on #10712
Go ahead @kirsty-tortoise !

[2018-09-23 23:13] Alys commented on #8500
Onyxrose (21d3cf44-9b49-4a12-9408-4aec9bdd57cc) says something that might give a clue about why this happens or how to fix this (in bold):

[2018-09-24 14:11] kirsty-tortoise commented on #9691
I thought I'd have a look at this, but got confused about how sorting tasks works normally on the users page (since I was attempting to replicate that) and I feel like maybe it isn't working totally correctly.

It seems like the code attempts to sort them according to tasksOrder twice, once on fetching the tasks and again when filters are being applied.

The first is here:
https://github.com/Habit

[2018-09-24 14:32] Tressley opened #10714 "WEB - UX for confirming username from notification center (and what happens when they want to change it)"

[2018-09-24 14:34] Tressley commented on #10714
First pass on how I think the current implementation of the flow would work. Not 100%, leaving for discussion.

![image](https://user-images.githubusercontent.com/2686586/45958388-550afe80-bfe5-11e8-9349-03718ac377e6.png)

[2018-09-24 14:34] Tressley opened #10715 "WEB & MOBILE BROWSER - UX User flow for confirming username from email (and what happens when they want to change it)"

[2018-09-24 14:35] Tressley commented on #10715
![image](https://user-images.githubusercontent.com/2686586/45958480-88e62400-bfe5-11e8-84c5-9ab2b7229861.png)

[2018-09-24 15:14] paglias opened #10716 "Remove Kafka queue and move account deletion feedback to email server"
Kafka is giving a lot of problems as it doesn't compile on most systems, it's not used for anything major and is just adding complexity. We should move it to the email server queue that's used for all the jobs we have

[2018-09-24 15:32] paglias commented on #10707
Fixed both strings, @Alys pinged you in Slack

[2018-09-24 15:32] #10707 closed, assigned to nobody

[2018-09-24 15:33] paglias commented on #10692
I think this should be moved to Transifex as an issue under the corresponding string, not much we can do from here

[2018-09-24 15:33] #10675 closed, assigned to nobody

[2018-09-24 15:36] #10668 closed, assigned to nobody

[2018-09-24 15:41] paglias commented on #10660
@JesseRatt yes, go ahead! and sorry for the late response

[2018-09-24 15:46] #10569 closed, assigned to nobody

[2018-09-24 16:16] Tressley opened #10717 "WEB - Create and send out a notification to notification center immediately after email"

[2018-09-24 16:26] SabreCat commented on #10712
Hmm, shouldn't we just _not_ show notifications for Mana changing until you save the stat points? It's actually kinda misleading that the notifications appear at all.

[2018-09-24 16:29] JesseRatt commented on #10660
I went with @Tressley 's suggestion but made it "Please Enter a Value" instead of "Enter the value", hope that is ok.

[2018-09-24 16:31] kirsty-tortoise commented on #10712
Perhaps, but changing the Mana without notifications would seem equally misleading in my opinion.

[2018-09-24 16:34] Tressley commented on #10717
Incorrect repo.

[2018-09-24 16:34] #10717 closed, assigned to nobody

[2018-09-24 16:35] #10714 closed, assigned to nobody

[2018-09-24 16:36] #10715 closed, assigned to nobody

[2018-09-24 17:02] Tressley commented on #10660
Thanks for the suggestion @JesseRatt! I prefer keeping placeholders shorter, if possible, so let's go with "Enter a Value."

[2018-09-24 18:15] kirsty-tortoise commented on #10712
Also, now I think about it, is it a problem that you can close the modal without saving and go on to complete tasks etc. with the client and the server not being in agreement on mana and stat points until you save or sync?

[2018-09-24 18:58] SabreCat commented on #10712
Yes. You should get a single notification when you finish adjusting stats and click "Save", showing how much Mana you gained from the operation, and that should be it!

[2018-09-24 19:12] JesseRatt commented on #10660
No problem. I'll fix it and resubmit.  @Tressley

[2018-09-24 19:18] JesseRatt commented on #10660
Updated @Tressley , am I right to assume I don't need a new pull request?

[2018-09-24 19:44] paglias commented on #10660
@JesseRatt yes, you don't need a new PR, I'll check it tomorrow but it looks good!

[2018-09-24 20:23] JesseRatt commented on #10687
@Alys Not sure who the right person is for this. There is something weird in Vue, where the v-model property for amount to sell is not being updated in the front end. Is it permissible to destroy the sell modal vue component on exit, so it loads a new one each time? I am researching how v-model wouldn't be working while I wait for an answer.

[2018-09-24 20:48] kirsty-tortoise commented on #10712
Should the Mana also be added at the end when you click "Save", or when you add the points? It seems to me like having the notification appear at the same time as the Mana is added makes some amount of sense.

[2018-09-24 21:07] Alys commented on #10692
The problem is that the website code doesn't allow the element to expand to be large enough to hold the translated text. It could happen in other languages too where the translation is longer than the English version.

[2018-09-24 21:21] kirsty-tortoise commented on #9368
Is this still happening? This used to happen to me a lot but hasn't recently and I haven't been able to reproduce it, and I'd be interested in what is / was causing it.

[2018-09-24 21:54] SabreCat commented on #10712
Yes, the notification should coincide with the actual increase to MP.

[2018-09-24 21:58] SabreCat opened #10719 "Broken seasonal gear can show up as Gem-purchasable in Featured Items"
[//]: # (Before logging this issue, please post to the Report a Bug guild from the Habitica website's Help menu. Most bugs can be handled quickly there. If a GitHub issue is needed, you will be advised of that by a moderator or staff member -- a player with a dark blue or purple name. It is recommended that you don't create a new issue unless advised to.)

[//]: # (Bugs in the mobile apps can also

[2018-09-24 22:11] SabreCat opened #10720 "Sell modal for items in Market doesn't reset correctly between items"
[//]: # (Before logging this issue, please post to the Report a Bug guild from the Habitica website's Help menu. Most bugs can be handled quickly there. If a GitHub issue is needed, you will be advised of that by a moderator or staff member -- a player with a dark blue or purple name. It is recommended that you don't create a new issue unless advised to.)

[//]: # (Bugs in the mobile apps can also

[2018-09-24 22:37] Alys commented on #10720
The quantity spinner not resetting is recorded at https://github.com/HabitRPG/habitica/issues/10687

I suspect that the other part of this issue will also be fixed by @JesseRatt 's proposed solution there (note that they're asking for feedback about that; I'm not replying since I'm not strong in Vue) so I'm putting this on hold so we don't get two competing fixes. It should be taken off hold if I'

[2018-09-24 22:41] Alys commented on #8502
Just as a note, this is going to keep happening until the code is changed, even if players aren't reporting it. It's a difficult bug to find (only occurs when using the API directly) and due to the nature of the bug, some players who find it will not report it.

[2018-09-24 22:42] JesseRatt commented on #10687
Probably don't need to destory it after all, seems to be related to this: https://github.com/buefy/buefy/issues/401

[2018-09-24 22:46] JesseRatt commented on #10687
Seems to be related to bootstrap vue b-input not working with v-model...looking at some possible related bugs.

[2018-09-25 04:26] citrusella opened #10721 "Contrast very low on reward control area"
(Was asked by Alys to post here when I asked the best place to bring this up in Aspiring Socialites; spent a few days seeing if I could find other *glaring* issues (there are other places on the website I'm pretty sure also fail [WCAG (Web Content Accessibility Guidelines) AA contrast minimums](https://www.w3.org/TR/WCAG/#contrast-minimum), but the reward column was the most problematic and I didn

[2018-09-25 07:17] kirsty-tortoise commented on #10712
I've found another possible bug (via the UI you can decrease the stat points below what they were to start with, but the server doesn't allow this and they don't match up until you refresh). It is easy to fix, should I do this here or open a new issue?

[2018-09-25 07:37] Alys commented on #10712
@kirsty-tortoise adding that to your PR was good. Thanks for finding and fixing it!

[2018-09-25 08:29] paglias commented on #10687
@JesseRatt destroying the modal every time is possible but expensive so better not to do it. I think you have 2 solutions here: modals fire `hide` and `show` events when they're shown/hidden so you could listen to them and reset the values to the initial ones on hide or on show.

The other option is to watch for changes in the `item` computed property and when it changes, reset the values. Otherwi

[2018-09-25 15:09] seandavid1 opened #10722 "502 Error - Site is down"
[//]: # (Before logging this issue, please post to the Report a Bug guild from the Habitica website's Help menu. Most bugs can be handled quickly there. If a GitHub issue is needed, you will be advised of that by a moderator or staff member -- a player with a dark blue or purple name. It is recommended that you don't create a new issue unless advised to.)

[//]: # (Bugs in the mobile apps can also

[2018-09-25 15:49] fimion commented on #10692
If the pop over's `dd` and `dt` classes were changed to `col-6` in stead of `col-4` and `col-8` this would give more space.

The other option would be to implement a flex-box styling that would allow them to grow or shrink as needed, though this would also potentially cause the boss power and star rating to line up correctly.

[2018-09-25 16:31] #10722 closed, assigned to nobody

[2018-09-25 16:32] beffymaroo commented on #10722
Sorry for the trouble. For future reference we update during outages on the @habiticaforge Twitter account. Typically we do not open Github issues for 502 outages. Thank you.

[2018-09-25 19:14] JesseRatt commented on #10687
@paglias Thanks. I think I almost have a work around. I won't need to destroy. Basically, its not just a matter of updating it, but the fact that selectedAmountToSell is NEVER bound to the b-input. If you select 4 eggs, it only sells one. selectedAmountToSell never changes from 1. So I am looking at how to work-around using v-model to bind it.

[2018-09-25 20:15] JesseRatt commented on #10687
It now actually sells the amount you see in the front end, I'm just trying to figure out how to manually reset it to one when the form reloads. I thought I could use this.$refs but it doesn't seem to let me access the value with that.

[2018-09-25 20:28] JesseRatt commented on #10687
Problem seems to be how to update a DOM item without using v-model. I though this.$refs would let me but it doesn't seem to like value property for binding in that direction. I will work on your suggestions @paglias

[2018-09-25 22:13] shanaqui opened #10723 "If you try to send an empty message, empty error appears and persists"
Pretty much as in the title! Screenshot:
![image](https://user-images.githubusercontent.com/8144640/46046340-964ffb00-c118-11e8-9c84-1306e04b37b2.png)

Reported by Il Mago, tested by me:

[2018-09-26 07:20] kirsty-tortoise commented on #10723
The response received from the server is
[code]
If an `errors` parameter is received, then the errors is translated into snackbars by the if statement of this code.

https://github.com/HabitRPG/habitica/blob/c5fb2d65066993370bd0f38da1c0e283276491b5/website/client/app.vue#L338-L355

where the errorsToShow list is joined at the end into a snackbar message.

The case `e.param === 'message'` is not ha

[2018-09-26 07:27] kirsty-tortoise commented on #10723
Actually, rethinking it, I got confused, and `e.param === message` is because the parameter which failed validation is the `message` they were trying to send to the chat. In that case, we probably don't want to add a case to this code for each parameter that could fail validation, and instead should rewrite the code to show errors from any parameters that fail validation. I'll have a go at this la

[2018-09-26 11:40] #10695 closed, assigned to phillipthelen

[2018-09-26 11:41] #10696 closed, assigned to phillipthelen

[2018-09-26 19:18] Alys commented on #10723
@kirsty-tortoise Thanks!! I've labelled this as in progress for you.

[2018-09-26 22:40] k-stewart commented on #9989
Can I take this?

[2018-09-27 09:07] kirsty-tortoise commented on #10719
Given that non-featured items are not currently visible in the seasonal shop at all if they were previously owned, would this be reasonable for featured items as well?

Or should both featured and non-featured items in the seasonal shop be purchasable for gold if they've been purchased and then lost?

[2018-09-27 09:16] kirsty-tortoise commented on #10712
Having thought about it more, maybe changing the users actual stats should wait until after they've clicked save as well, and only the numbers in the "Stat Points" section right at the bottom should change. This would mean that if the user clicked off the modal without saving and tried to perform tasks, the client and server wouldn't be in disagreement about their stat points.

It would also mean

[2018-09-27 10:26] #10660 closed, assigned to nobody

[2018-09-27 17:21] SabreCat commented on #10712
@kirsty-tortoise I'd agree with that. We should really only be using allocateBulk here--if we're making server calls on every click, that's not necessary!

[2018-09-27 17:22] SabreCat commented on #10719
@kirsty-tortoise "should both featured and non-featured items in the seasonal shop be purchasable for gold if they've been purchased and then lost?" -- I'd say yes!

[2018-09-27 17:52] kirsty-tortoise commented on #10712
@SabreCat I believe we aren't making server calls on every click - I've checked and we are updating the client locally on each click (via `allocate`) and then making a server call (to trigger `allocateBulk`) when save is pressed.

So currently the server is using `allocateBulk`, and the client is using `allocate`.

[2018-09-27 19:57] greenkeeper[bot] opened #10725 "An in-range update of aws-sdk is breaking the build 🚨"
## The dependency [aws-sdk](https://github.com/aws/aws-sdk-js) was updated from `2.323.0` to `2.324.0`.

🚨 [View failing branch](https://github.com/HabitRPG/habitica/compare/develop...HabitRPG:greenkeeper%2Faws-sdk-2.324.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

aws-sdk is a direct dependency of this project, and

[2018-09-27 23:23] #9662 closed, assigned to nobody

[2018-09-27 23:37] beffymaroo commented on #10414
@titchimoto Are you still working on this issue? If so please let us know when you have a moment. Thank you.

[2018-09-27 23:43] beffymaroo commented on #9694
@legitmaxwu Are you still working on this issue? Let us know when you have a moment to check in. Thank you.

[2018-09-28 00:01] beffymaroo commented on #10654
@kartikpandey2 Are you still working on this issue? Please check in when you have a moment. Thank you!

[2018-09-28 00:03] beffymaroo commented on #8590
@asharma0703 Are you still working on this issue? Please check in when you have a moment and let us know. Thank you!

[2018-09-28 01:02] asharma0703 commented on #8590
@beffymaroo Hi! I ran into a roadblock while doing local setup earlier and posted in the Aspiring Blacksmiths group but didn't get an answer. I'm still happy to work on it, but I want to get fully setup locally first and haven't been able to so far.

[2018-09-28 16:49] kirsty-tortoise commented on #10712
Okay, so I've done that mostly, but I have more questions:

### Question 1
See the image below, roughly divided into two sections.

When you click the up arrows on the panel at the bottom, the numbers change but the actual attribute points don't change until you click save. Should the numbers at the top change before saving?

My feeling is 'yes' because:
 a) That's the behaviour at the moment, so

[2018-09-28 17:18] GoldenDrummer730 commented on #9470
Hey could we tackle this issue?

[2018-09-28 18:37] legitmaxwu commented on #9694
Hello, thanks for checking in on me! I submitted a pull request (linked above) and it is currently in review. In the PR thread, I resolved most of the issues but could not figure out a small problem which I described. The PR has been in "ready for review" state for quite a while.

I ended up taking a break from this but it's been some time, so I can pick it up again maybe?

[2018-09-28 22:09] shanaqui opened #10727 "Seasonal gear showing up as both Class:None and Class:[correct class]"
Per Il Mago, with a screenshot: https://snag.gy/u0XQ8I.jpg

[2018-09-28 22:11] shanaqui opened #10728 "Discrepancy in sorting between Market and Equipment"
Per Il Mago again:

[2018-09-29 08:07] kirsty-tortoise commented on #10728
Can I have a go at this?
I suspect sorting with higher attribute first is generally more useful, so would be better in both cases?

[2018-09-29 08:46] kirsty-tortoise commented on #10728
Actually I've changed my mind as I'm going to be going to university soon and won't have time to do anything after that, so if someone else wants to have a go then that's good with me.

[2018-10-01 16:43] derekdkim commented on #10496
If it already isn't being worked on, can I give this a shot?

[2018-10-01 17:20] TNychka commented on #8663
Hey! I can take a look at this!

[2018-10-01 17:20] TNychka commented on #8621
Hey! I can take a look at this!

[2018-10-01 17:20] TNychka commented on #8620
Hey! I can take a look at this!

[2018-10-01 17:20] TNychka commented on #8619
Hey! I can take a look at this!

[2018-10-01 17:20] TNychka commented on #8618
Hey! I can take a look at this!

[2018-10-01 17:20] TNychka commented on #8617
Hey! I can take a look at this!

[2018-10-02 11:12] shanaqui opened #10730 "PMs appearing out of order"
New PMs are appearing at the top older ones, although older ones remain in the correct order. I'm experiencing this (Google Chrome on Windows 10), and citrusella as well per this report:

And additionally she says:

[2018-10-02 14:24] citrusella commented on #10730
VıccTнσя, the brazilian fox is also experiencing this and has provided a screenshot of the avatar issue [here](https://snag.gy/es0dQY.jpg). I don't know if VıccTнσя's issue is limited to that person like mine is limited to Alys right now, or the exact things that could cause the avatar to change (i.e. if it's limited to the most recent conversation in the list, if it happens to any conversation wi

[2018-10-02 16:25] #10635 closed, assigned to TheHollidayInn

[2018-10-02 19:49] citrusella commented on #10730
There have been reports in the Report a Bug guild today of people who might be having the same issue, except they say they don't see the messages anywhere in their conversations. :-/ Figured I'd post them here in case they're related, so they don't get lost if not:

Charlei (d60a7a50-7482-46b8-8b40-88c6b5bf1863):

Wildling (9352b9cd-d3e2-439b-af9e-b277598f46f8) mentioned having the "same exact iss

[2018-10-02 19:52] paglias commented on #10730
This is probably due to a change we deployed a couple of days ago, sorry for the issue. If someone experiencing issues can look into their console for possible errors that would be great, thanks

[2018-10-02 19:58] shanaqui commented on #10730
@paglias I just had a go and couldn't see anything coming up that seemed specific to the inbox. Definitely nothing comes up if I clear the console and then try loading my inbox. If there's a particular order to do things that might yield helpful results, let me know.

[2018-10-02 19:59] citrusella commented on #10730
I'm not getting any abnormal console output either on loading Habitica, on loading the messages window, or on loading conversations with or without affected messages.

I wonder if someone not seeing newer messages at all would have a different experience, but...

[2018-10-02 20:20] kirsty-tortoise commented on #10730
I've been doing some investigation because this seemed interesting:
 * On older messages, the timestamp is a number while newer ones have a proper string timestamp. I wonder if they are not being compared properly somewhere? I haven't been able to test locally though due to lack of older messages locally. Possibly this code needs investigating:
https://github.com/HabitRPG/habitica/blob/362ca73c94e

[2018-10-02 20:35] paglias commented on #10730
@kirsty-tortoise you reached my same conclusions :) It's fixed here https://github.com/HabitRPG/habitica/commit/5a8366468b9686d8541b18a6f58fa7d64c1522ed and we're testing it right now

[2018-10-02 20:52] paglias commented on #10730
Sorry again for the issue, it's been fixed in https://github.com/HabitRPG/habitica/commit/5a8366468b9686d8541b18a6f58fa7d64c1522ed and will go live later today.

Some, hopefully all,  messages that didn't appear at all were simply mis-ordered so they should appear correctly after the deploy

If they do not it's possible they have placed in the user's conversation with itself.

If they're not there

[2018-10-02 22:06] trvrfrd commented on #10728
I'll take a stab at this since it seems to be open again.

Proceeding under the assumption that equipment should be sorted by highest attribute first in both places, but happy to discuss/be corrected if anyone think's there's a better way to do it.

[2018-10-03 01:44] greenkeeper[bot] opened #10733 "An in-range update of in-app-purchase is breaking the build 🚨"
## The dependency [in-app-purchase](https://github.com/voltrue2/in-app-purchase) was updated from `1.10.1` to `1.10.2`.

🚨 [View failing branch](https://github.com/HabitRPG/habitica/compare/develop...HabitRPG:greenkeeper%2Fin-app-purchase-1.10.2).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

in-app-purchase is a direct

[2018-10-03 05:24] citrusella commented on #10730
Just a note: I checked just now and my PMs to/from Alys (the only reference for the bug I had) are in the right order but I've still got her avatar. (I feel like a rebel, stealing the Kickstarter set like that. XD)

I don't know if the fix has been deployed but wanted to make that note before I went to bed since I noticed it.

[2018-10-03 06:04] kirsty-tortoise commented on #10730
@citrusella If you send a new message, does that new message still have her avatar? I think that's all the fix would do.

[2018-10-03 07:21] Alys commented on #10730
@kirsty-tortoise should be thought about that. The details that display the avatar are stored within the message and so they won't change in an existing message after a bug has been fixed. @citrusella enjoy the avatar ;)

[2018-10-03 07:57] paglias commented on #10730
Yes, old messages will keep the wrong avatar

[2018-10-03 07:57] #10730 closed, assigned to nobody

[2018-10-03 15:53] kirsty-tortoise commented on #10727
Had Il Mago by any chance already bought and then lost the seasonal equipment that was showing up on both?

That's a case I've been able to replicate this in (and seems to have nothing to do with seasonal gear). See this code:
https://github.com/HabitRPG/habitica/blob/bd81d27145b99842e386f0c0ffe793f03abf9ace/website/common/script/libs/shops.js#L190-L196

My understanding of Javascript is that orde

[2018-10-03 17:38] shanaqui commented on #10727
Il Mago definitely previously had the items and I believe they were all removed by @alys to mimic how rebirth used to work.

[2018-10-03 19:23] majestic-owl448 commented on #10727
Ow, yes, there is everything under Class:none, I had not noticed the class equipment!

And yes, any equipment that was in my account was set with a value of false, in the same way the Orb of Rebirth old edition did and the future "empty the Armoire" feature would do

[2018-10-03 22:38] ghost opened #10736 "Cannot delete chat messages or challenges in Safari desktop/iOS"
After reporting in the **Report A Bug** guild, Alys asked me to post my issue here:

Ever since the recent downtime I can no longer delete my own messages in the guilds. Safari (Version 12.0 (12606.2.11) on OS 10.12.6) just chokes when I hit the delete button. (This also happens on mobile in Safari on iOS 12).

I'm not using any extensions. I don't have the foggiest idea how to access the console.

[2018-10-04 08:45] majestic-owl448 commented on #10736
I have Safari on the phone and I have the same issue, but it usually return working after I reload (I have no idea if I can use developer console on the phone though)

Anysia, you can try looking at here if it helps you in accessing developer console: https://support.apple.com/it-it/guide/safari/use-the-developer-tools-in-the-develop-menu-sfri20948/mac

[2018-10-04 08:46] paglias commented on #10736
@Anysia thanks for the report. I wasn't able to reproduce the issue with Safari on mac os Mojave. Can you try this: open the Habitica website, right click somewhere and on the menu choose `Inspect element`, a panel will open with several tabs, choose `Console`. Then try to delete a message or a challenge, if anything appears in the console could you post it here? Thanks

[2018-10-04 18:14] ghost commented on #10736
Thanks @Ieahleen, that helped. @paglias Nope, the page just freezes (spinning beach ball). Nothing new appears in the Console.

[2018-10-05 01:27] ghost commented on #10736
Hmm. Now I can't buy the October backgrounds either in Safari (I buy them every month and last month was fine). Same behaviour as when I try to delete. Chrome is fine.

Edit: Can't change classes either. Basically anything with a confirmation dialogue (which does not show up) doesn't work anymore.

[2018-10-05 20:42] SabreCat opened #10740 "User attempting to change email address to already-taken address gets uninformative error"
[//]: # (Before logging this issue, please post to the Report a Bug guild from the Habitica website's Help menu. Most bugs can be handled quickly there. If a GitHub issue is needed, you will be advised of that by a moderator or staff member -- a player with a dark blue or purple name. It is recommended that you don't create a new issue unless advised to.)

[//]: # (Bugs in the mobile apps can also

[2018-10-06 01:21] Alys commented on #10740
That was done deliberately to prevent people using the registration form or change email form to find out if someone they know has a habitica account (e.g., in a stalking situation). It's analogous to how the forgot password feature does not confirm whether the email address exists. I recommend we don't change the message. In legit cases where a player sees it, it's (almost?) always because they h

[2018-10-08 08:56] #10733 closed, assigned to nobody

[2018-10-08 08:56] #10725 closed, assigned to nobody

[2018-10-08 19:38] #10727 closed, assigned to nobody

[2018-10-08 19:39] JesseRatt commented on #10687
I haven't made any progress fixing this, I am going to try to implement the slider in a different way.

[2018-10-08 19:54] #10723 closed, assigned to nobody

[2018-10-08 20:11] #10712 closed, assigned to nobody

[2018-10-08 20:16] #9650 closed, assigned to nobody

[2018-10-08 20:18] #10662 closed, assigned to nobody

[2018-10-08 20:22] #10414 closed, assigned to nobody

[2018-10-08 20:25] #10612 closed, assigned to nobody

[2018-10-08 21:43] shanaqui opened #10743 "Automatically pinned gala gear does not show as pinned in the market"
BrightBold (6cb6695a-abf5-48bf-bd02-9d2ac12c32ca): "You may already be aware of this (although I didn't see it on github), but automatically pinned gala gear doesn't show as pinned in the market.

I changed classes and went to the equipment shop to pin some past-years' gala gear for repurchase. None of the gear there showed as pinned so I was skimming for anything that said "Autumn" in the descrip

[2018-10-09 02:50] Alys commented on #10743
Some background information for any contributor who works on this:

When a player manually pins items, they're stored in the player's account in the `pinnedItems` array like this:
[code]

However automatically pinned items are not put in that array. Instead there's code that displays them in the Rewards area as if they were pinned. If the player chooses to unpin those items, they're stored in the

[2018-10-09 06:13] kirsty-tortoise commented on #10743
I had a look and can see the line of code that needs changing to fix this, can I take this?

[2018-10-09 07:08] paglias commented on #10743
Sure!

[2018-10-10 04:33] VickyKoblinski commented on #10653
I'd like to take a look at this ticket.

[2018-10-10 06:49] natfarleydev commented on #10287
@Alys is this done now?

[2018-10-10 08:48] paglias commented on #10653
@VickyKoblinski thanks! let us know if you have any question

[2018-10-11 02:03] Alys commented on #10287
Ah no, I still need to write that message. :( I'll get that done this weekend. Thanks @nasfarley88

[2018-10-11 04:13] natfarleydev commented on #10287
No problem, the docs seemed pretty clear when I used them this week so I
thought this might've been done to satisfaction already :)

On Thu, 11 Oct 2018, 03:03 Alys, <notifications@github.com> wrote:

[2018-10-11 11:25] natfarleydev opened #10751 "Skills used on the party are not forwarded by the groupChatReceived webhook"
[//]: # (Before logging this issue, please post to the Report a Bug guild from the Habitica website's Help menu. Most bugs can be handled quickly there. If a GitHub issue is needed, you will be advised of that by a moderator or staff member -- a player with a dark blue or purple name. It is recommended that you don't create a new issue unless advised to.)

[//]: # (Bugs in the mobile apps can also

[2018-10-11 11:25] Alys opened #10752 "notifications for "Your Invitation has been Accepted" are not shown"
When you invite someone to a group, if they accept the invitation, a notification is added to your `notifications` array like this (this is working correctly as far as I am aware):
[code]

However those notifications are never shown on the website.

To make them appear in the notifications panel, you'd need to add `GROUP_INVITE_ACCEPTED` to this array in an appropriate place:
https://github.com/Ha

[2018-10-11 19:30] beffymaroo commented on #10653
A possibly related report from a player using Microsoft Edge browser:

"Edge is doing a thing, not consistently, of course, where it doesn't properly display a checked item. The screenshots show a Daily, but it does this with To-Do's, Habits, and checklist items. If the checked task is supposed to give rewards, it will display those (not shown here), but then display the reward being deducted. I d

[2018-10-11 19:30] SabreCat commented on #10134
Had what sounds like a fresh report of this today:

Will try to get more info on the user's browser/OS.

[2018-10-11 19:44] SabreCat opened #10753 "Very large Guild member counts overflow the badge"
[//]: # (Before logging this issue, please post to the Report a Bug guild from the Habitica website's Help menu. Most bugs can be handled quickly there. If a GitHub issue is needed, you will be advised of that by a moderator or staff member -- a player with a dark blue or purple name. It is recommended that you don't create a new issue unless advised to.)

[//]: # (Bugs in the mobile apps can also

[2018-10-11 21:20] VickyKoblinski commented on #10653
Thanks, I'll look out for it and test to see if this fix helps with that. But it sounds like it may be a different issue.

[2018-10-12 17:46] #10740 closed, assigned to nobody

[2018-10-12 17:47] SabreCat commented on #10496
@derekdkim Looks like it-- we haven't heard from @BlkStormy in a while! Go ahead and see what you can come up with.

[2018-10-12 17:55] SabreCat commented on #8590
@asharma0703: hmm, I'm sorry the Blacksmiths weren't able to help! I'd definitely follow up there and see if anyone can chime in on your issue after a second ping. In the meantime, though, I'll free this issue up.

[2018-10-12 17:57] SabreCat commented on #10654
@beffymaroo Actually, this is something we have to fix on our end. I'll assign it to myself.

[2018-10-12 22:20] beffymaroo commented on #10669
@legitmaxwu Are you still working on this issue? When you have a moment please check in and let us know. Thanks!

[2018-10-12 22:24] legitmaxwu commented on #10669
Hello, I am still working on it, but since I am in school, I have not been able to devote much time. Thanks for checking in! If anyone wants to take this instead of me, feel free.

[2018-10-12 23:55] bean5 opened #10755 "When de-registering facebook, button does not update"
[//]: # (Before logging this issue, please post to the Report a Bug guild from the Habitica website's Help menu. Most bugs can be handled quickly there. If a GitHub issue is needed, you will be advised of that by a moderator or staff member -- a player with a dark blue or purple name. It is recommended that you don't create a new issue unless advised to.)
### General Info
  * Browser: Chrome
  * O

[2018-10-12 23:59] bean5 opened #10756 "path `preferences.pushNotifications.onboarding` was not saved, as it's a protected path."
### General Info
  * Browser: Chrome
  * OS: Ubuntu

### Description
* Navigate to https://habitica.com/user/settings/notifications
* Click some of the checkboxes to enable push for everything, such as "Invited to Quest"

#### Console Errors
[code]

[2018-10-13 02:56] derekdkim commented on #10496
I'm a little ashamed to say that I'm currently troubleshooting the local installation process. I'll be back as soon as I can get it running and find a solution & the appropriate unit tests.

[2018-10-13 06:50] Zian commented on #10653
Some more findings.

If you disable browser caching, then the problem goes away completely.

No errors are generated when the error occurs. The below text  is the full IE11 console output from loading the entire website.

DOM7011: The code on this page disabled back and forward caching. For more information, see: http://go.microsoft.com/fwlink/?LinkID=291337
File: habitica.com
HTML1300: Navigation

[2018-10-13 18:04] SabreCat commented on #10496
@derekdkim: Local installs for Habitica can be finicky, no shame in that! The Aspiring Blacksmiths Guild is a good resource for help on such things.

[2018-10-13 18:07] #10743 closed, assigned to nobody

[2018-10-13 18:24] #10297 closed, assigned to nobody

[2018-10-13 19:45] paglias commented on #10646
I'm not able to reproduce this on Chrome

[2018-10-13 19:45] paglias commented on #9694
I'm not able to reproduce this on Chrome

[2018-10-13 19:56] majestic-owl448 commented on #10646
@paglias : I can still reproduce them, I can try to record my screen if you want

[2018-10-13 20:06] paglias commented on #10646
@Ieahleen which browser are you using? Also the steps to reproduce it are the same as in the description above or some steps are different?

[2018-10-13 20:37] majestic-owl448 commented on #10646
@paglias
Google Chrome Versione 69.0.3497.100 (Build ufficiale) (a 64 bit)
I keep being able to reproduce the issue in the way I have reported it the
first time. If I write "hi@" and then delete the "@", the dropdown with
names is still there and disappear only when tipying a space

[2018-10-14 08:39] Alys commented on #10287
Here's my proposed message to be placed on on the [Settings > API](https://habitica.com/user/settings/api) page under the "Webhooks" title:

	Habitica provides webhooks so that when certain actions occur
	in your account, information can be sent to a script on another
	website. You can specify those scripts here. Be careful with this
	feature because specifying an incorrect URL can cause errors
	o

[2018-10-14 08:55] Alys commented on #8248
Just noting that this bug is still happening. For example, for this collection quest:
https://github.com/HabitRPG/habitica/blob/c875861dab131278d2e8897495ede426e430d533/website/common/script/content/quests.js#L2137-L2150
party 436a63dd-28d1-4e71-b4e4-865b9217215e currently has these found items:
[code]
I.e., too many dryads and brownies have been found. The recent quest progress system messages sh

[2018-10-14 09:26] Alys opened #10758 "Incorrect item wrapping on Market pages"
Il Mago (c073342f-4a65-4a13-9ffd-9e7fa5410d6b):
"In the Market sometimes there is a strange positioning of the items, for example in this case when there should be a single item on a new line it is instead positioned as last item of the previous line, and to the right of everything else:"
![scr](https://snag.gy/6HhEyr.jpg)

shanaqui:
"Before I add that to Github, do you have any idea how to get th

[2018-10-14 10:46] paglias commented on #10134
It'd be useful to get the console output here

[2018-10-14 12:59] Gimdal commented on #4174
Same issue; i have lots of pending damage, and using my damage dealing skills eats away my mana, but the damage is never registered.
1ac8b6d8-75bd-499c-a0e0-8f81fac0b758

[2018-10-14 16:26] itssoso commented on #10475
Inspecting app in local environment, I noticed that the header menu modalStack is not getting updated when this.$root.$emit('bv::show::modal', 'profile') is called from userMenu profile.  Also noticed that this occurs when switching from static pages.

[2018-10-14 18:03] majestic-owl448 commented on #4174
@MrFifths @Gimdal @veddy69 : when you have bug reports like this the best thing you could do is write in the [Report a Bug](https://habitica.com/groups/guild/a29da26b-37de-4a71-b0c6-48e72a900dac) guild - in a closed ticket like this you don't have much chance of receiving an answer

[2018-10-14 21:45] Dimini commented on #10753
Hello, I'd like to work on this issue :)

[2018-10-15 04:19] wideawake42 commented on #10475
I'd like to give this a try please.

[2018-10-15 05:11] SabreCat commented on #10753
@Dimini OK, go for it, with our thanks! Let us know here or in the Aspiring Blacksmiths Guild if you need a hand with anything.

[2018-10-15 06:49] Arsnael commented on #7991
@beffymaroo No problem ! thanks for the resize, i will be able to replace my ugly resize with this one in the code :)

[2018-10-15 07:26] majestic-owl448 commented on #10758
I have been asked to post here about any style that may affect the Market page: the only styles I have affect only the task page

The only thing that is different from before is that I recently set my screen resolution to 125%

If I have the chance to try with different computers, I will see if it can be reproduced

[2018-10-15 14:57] citrusella commented on #7991
I know this is a month ago, but on the subject of unlock conditions I'd really rather it be levels myself (or *either* levels or equipment? dunno how that would work), because I enjoy and would want to replicate old rebirth behavior and am concerned the other condition being the only metric would lead to it not being available at the same time under certain circumstances. And even though it's not

[2018-10-15 16:30] negue commented on #10281
I guess this seems to be fixed? Can't reproduce on Mac Chrome/FIrefox/Safari

[2018-10-15 17:00] dspitz716 commented on #10281
Yes I could not reproduce this anymore either.

On Mon, Oct 15, 2018, 9:30 AM negue <notifications@github.com> wrote:

[2018-10-15 17:57] paglias commented on #9871
We're running on MongoDB 3.4 now

[2018-10-15 17:58] paglias commented on #10475
@wideawake42 thanks! go ahead

[2018-10-15 17:59] paglias commented on #10281
Closing this, if it happens again I'll reopen it

[2018-10-15 17:59] #10281 closed, assigned to nobody

[2018-10-15 18:11] #10659 closed, assigned to negue

[2018-10-15 19:09] paglias commented on #10646
thanks @Ieahleen !

[2018-10-15 19:12] #10728 closed, assigned to nobody

[2018-10-16 04:02] thefifthisa commented on #10752
Hey @Alys! Can I take this?

[2018-10-16 05:38] Alys commented on #7991
@citrusella makes a good point. Also, unlocking it based on only the player's level would be easier to code,
We could make the feature unlock at level 50 for now, and then if there's significant demand for other unlock conditions later, we could reconsider it.

@Arsnael How do you feel about that? Or have you already created code for unlocking that works differently than just considering the level

[2018-10-16 09:37] natfarleydev commented on #10287
I'm happy to implement this once it is approved.

[2018-10-16 09:47] paglias commented on #10752
I think we may need some design input from @Tressley on this one

[2018-10-16 19:09] SabreCat commented on #10752
Setting this to on-hold until we can get UX advice, then. @thefifthisa, you'll be first in line to take a crack at it once we have direction, though!

[2018-10-17 01:46] thefifthisa commented on #10752
@SabreCat aw thanks, no worries at all!

[2018-10-17 04:29] Arsnael commented on #7991
@Alys : No problem. I just raised the issue while coding so that we have time to talk about it. So while nothing has been decided I kept the first decision in the code, which is unlock at lvl 50 (2 gems) and free at lvl 100. So no change for me if you want to go that way :)

[2018-10-17 04:31] Arsnael commented on #7991
I've been quite slow these days as  I'm quite busy with other matters but the code is more or less there... Just need to fix some bugs, adjust the images, add a battery of tests, etc

[2018-10-17 05:01] Alys commented on #7991
Perfect! We'll go that way.

No worries, thanks for letting us know!

[2018-10-17 12:01] Alys commented on #10287
@nasfarley88 Thanks! I've marked it in progress for you.

[2018-10-17 14:37] citrusella commented on #10721
Unrelated to the specific contrast issue above but related to contrast in general, someone on Trello mentioned the mod tools being hard to read due to contrast in [this comment on the accessibility card](https://trello.com/c/pxTcbKuD/381-accessibility-settings#comment-5bc71b5651d61f7bc2ca7494).

[2018-10-17 14:38] Tressley commented on #10697
Putting this back into Next Up due to updated design/copy.

[2018-10-17 19:21] SabreCat commented on #10666
I think I've figured out why this happens and how to work around it. Closing.

[2018-10-17 19:21] #10666 closed, assigned to nobody

[2018-10-17 20:55] Tressley commented on #10752
Alright, I'm here to chime in!

@Alys -- I agree with your suggestion and think between `NEW_CHAT_MESSAGE` and `UNALLOCATED_STATS_POINTS` is perfect.

@thefifthisa -- Are you already a member of our Zeplin project? If not, can you please provide me with an email address (that you're okay being public), so I can send over an invite to our project? Zeplin is where we house our designs for hand-off t

[2018-10-17 22:48] thefifthisa commented on #10752
@Tressley sure thing! It's ijlavandero [at] gmail [dot] com.

[2018-10-17 23:23] Alys opened #10766 "Usernames are automatically confirmed for all new local auth players with no visibility warning"
_(This is rewritten from my post in a staff channel a bit over a week ago.)_

The registration form for the local authentication option doesn't tell players that their username will be public, so new players might still be entering their real names without being willing for those names to be visible to other players. The username field on the registration form is still labelled "Login Name" so tha

[2018-10-18 10:12] paglias commented on #10605
This should be fixed in #10761, the issues was that (thanks to @SabreCat for finding it!) when a subscription is cancelled in Paypal an IPN message is then sent to our server resulting in a second cancellation that causes a mismatch in the remaining sub time.

The fix consists in not cancelling the subscription again if it was already cancelled

[2018-10-18 10:15] paglias commented on #10605
It'll go live later today

[2018-10-18 10:20] paglias commented on #10721
Ping @Tressley

[2018-10-18 12:21] #10756 closed, assigned to nobody

[2018-10-18 12:22] paglias commented on #10756
thanks for the report @bean5 ! it's been fixed and will go live soon

[2018-10-18 12:24] paglias commented on #10751
This is due to the function `group.sendGroupChatReceivedWebhooks` that's used to send the webhook being called from the `sendChat` route instead of from `group.sendChat` which is used to send system chat messages

[2018-10-18 14:44] saraolson commented on #10766
this doesn't concern me too much right now because we have been making their login name public for a long time by automatically setting it at their display name

[2018-10-18 14:48] Tressley commented on #10752
@thefifthisa -- Thank you! Invite sent. And here's a link to the Zeplin artboard: https://zpl.io/aXkWnDK

[2018-10-18 15:00] saraolson commented on #10766
i do think we should have changed the placeholder text to username instead of login name when we made the change. it looks like we did on the login screen, and on the mobile apps, but missed it on the landing. however, we have been making their login name public for awhile by automatically setting it as their display name, so i feel updating the field to be username should cover this issue.

[2018-10-18 18:51] saraolson commented on #10697
reviewed this-- only problem i found was when other modals follow it, it appears again for a second before dismissing (happened every time). or sometimes, its dismissed automatically by a certain following modal (only happened once).

[2018-10-18 19:04] saraolson commented on #10697
noticed that while autocomplete doesnt initially show before you type 1 character, if you type 1 character then delete it, it stays showing, reverting back to just displaying the 5 most recent chatters.

ideally if you type 1 character then delete it, the auto-complete window goes away until you type another character

[2018-10-18 20:07] SabreCat commented on #10766
Fix for the placeholder is on its way live shortly. I missed it on my grep because the strings there were all hardcoded English, not translation tokens... -_-;

[2018-10-18 20:34] mbiondi17 commented on #9458
I'd like to help out here if I can, but I also think it'd be useful to have a small reminder on the pop-up bar at the bottom of the equipment management page letting the user know if they're editing their equipped items or their costume.
<img width="1547" alt="current" src="https://user-images.githubusercontent.com/8240725/47182501-9a280500-d2f3-11e8-960c-a9080bea0caf.PNG">

[2018-10-18 20:48] Tressley commented on #10721
Hey @citrusella -- I really appreciate you taking charge and running through to identify some of the problem areas with respect to WCAG AA. We're aware of some of the lingering accessibility issues, but for color blindness and tiers, we tried introducing icons as well as a tooltip when hovering the display name.

In the mean time, I doubled back to correct the lingering issue on custom rewards to

[2018-10-18 22:25] majestic-owl448 commented on #10766
I just created a new account with "Log in with Google", Username is `hb-4oy1q0mj3e5z00wbk`
As a new user I imagine I would like to be asked to set that to something intelligible, instead of trying to search were it is as first thing after posting in the Tavern or in a guild (I see a future of new users panicking on that and socialites trying to explain how to change it to every newbie that create

[2018-10-18 22:40] Ieahleen commented on #7991
Can I suggest an add on to the Orb of Rebirth description that says that if you want to use the empty the armoire feature you need to do that before the Orb of Rebirth?
Or maybe an extra object that would do both things?
Something for people with memory/attention trouble that want to both use the Orb of Rebirth and Empty the Armoire features and need to remember to do them in the right order (or t

[2018-10-18 22:48] Alys commented on #10766
That label change won't be visible to any of the players who registered in the recent past; it only takes effect from now on. In addition, it still doesn't make it clear that the username will be public - that's not necessarily something that you expect when you sign up for a task management site.

It's not uncommon to see a new player posting in the Tavern using their real name to ask how they ca

[2018-10-18 22:51] Alys commented on #7991
@Ieahleen Oh yes, excellent idea!!! I hadn't thought of that. You're right that it would be something that would trip people up.
I'm not opposed to an extra object but it would take more time to create if approved by the staff so for now I'm adding a item to the list in the top post for adjusting the Rebirth description.

[2018-10-19 02:01] Arsnael commented on #7991
@Ieahleen : yes that was one of my concerns as well for trying to find an other way than levels. I will try to add some description to it. But feel free to give me your exact copy of it if you have the words in mind :)

[2018-10-19 13:37] CarmenB1 commented on #3515
Hi,
My user ID is: 7f3055a8-564f-451d-829a-b1b9db9c2244
I had a desert lion cub yesterday that is missing today... No clue how that happened but using different browsers or clearing my cache doesn't make it come back. Any help?

[2018-10-19 14:26] natfarleydev commented on #10751
What is the preferred behaviour here? Should we add `group.sendChat` to the `group.sendGroupChatRecievedWebhooks` hook or create a new hook? (This is my personal preference; it means that *everything* that happens in the party chat is forwarded)

[2018-10-19 16:14] paglias commented on #10751
Yes, I think we should change the existing hook to forward system messages as well

[2018-10-19 19:29] majestic-owl448 commented on #3515
@CarmenB1 : when you have a bug report it is better to write in the Report a Bug guild! It is pretty unlikely you will get an answer from someone that can help you if you write in an old closed issue

[2018-10-20 15:05] paglias commented on #9458
what do you think @Tressley ?

[2018-10-20 22:45] Alys opened #10771 "filters on Challenge page and Group Plan Task Board for Habits, To-Dos, Rewards don't work (sort of works for Dailies)"
_Edited by Alys 2019-12-04._

As described in detail below, most of the normal task filters (due, completed, etc), aren't of much use when looking at a Challenge's main page ([e.g., this page](https://habitica.com/challenges/14cf33bb-1e97-4a31-8f3d-49c0f9781d3a)) or at a Group Plan's "Task Board". The fixes described below should be done for both locations.

This does NOT apply to the screens you

[2018-10-21 20:55] Alys commented on #10771
<strike>I'm thinking that for consistency and code simplicity (and therefore reliability) it's best to remove all filters from the challenges' page. Only some of the filters would be useful there if they worked and none are essential. Most challenges are small enough that you can easily find a task or review them all without needing filters.</strike>  _EDIT by Alice 2019-11-26_: I no longer think

[2018-10-21 21:01] majestic-owl448 commented on #10771
There a couple of things to consider in my humble opinion:
- all dailies should always be shown (so "All" Filter always active)
- when viewings the progress of a participant is important to view both active and completed todos for eventual extra notes (as there is not an "All" Filter for todos, but for this situation it could be possible to introduce it, or keep "Active" and "Completed" filters wh

[2018-10-21 22:55] buddhistpirate commented on #10310
So when I am just sitting on the Tasks page, this is what the Safari profiler shows while the CPU usage is between 60-90%.

![screen shot 2018-10-21 at 6 55 03 pm](https://user-images.githubusercontent.com/1327812/47273495-08beca00-d563-11e8-9e42-c90c0a60b53f.png)

Not sure that's a lot of help, but without knowing how to debug/profile vue.js, I'm not sure I have much to offer. If someone wants to

[2018-10-22 12:53] Tressley commented on #9458
This is actually something that's been accounted for in the designs, but was not included in the initial post. When the user has the drawer collapsed, the active tab is displayed in the drawer header.

![image](https://user-images.githubusercontent.com/2686586/47293264-a2c05a00-d5d7-11e8-889b-c46aa6a9dc64.png)

[2018-10-22 17:03] paglias commented on #8039
I'm removing nightwatch and related deps for now (they're outdated anyway)

[2018-10-22 17:05] paglias opened #10779 "Remove monk"
We're migrating away from it in favor of mongoose, as it doesn't support newer mongodb versions

[2018-10-22 19:38] Phelilix commented on #10758
I have identified the problem.
It's a css rule.
The last div in an element with class `items` has less max width, which makes it possible to fit into a smaller gap such as the one depicted by Alys.
Because of these rules:
[code]
And:
[code]
By the way, these two css rules become ugly in more than just this situation. They also become ugly in the seasonal shop section of the market. (no margin-top,

[2018-10-23 01:21] greenkeeper[bot] opened #10781 "An in-range update of aws-sdk is breaking the build 🚨"
## The dependency [aws-sdk](https://github.com/aws/aws-sdk-js) was updated from `2.339.0` to `2.340.0`.

🚨 [View failing branch](https://github.com/HabitRPG/habitica/compare/develop...HabitRPG:greenkeeper%2Faws-sdk-2.340.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

aws-sdk is a direct dependency of this project, and

[2018-10-23 09:46] #10781 closed, assigned to nobody

[2018-10-23 11:25] #10705 closed, assigned to nobody

[2018-10-23 11:47] #10496 closed, assigned to nobody

[2018-10-23 17:21] nasfarley88 commented on #5525
Does this still need to be done?

I've been looking at this issue and I'm not sure it's as trivial to fix as starting it the next day. E.g.

My CDR is 3:00 am. If I create a daily at 1:00 am and it starts the same day, it'll cause damage on the next cron in two hours (as I am unlikely to have done it). If it starts the next day, it won't show up as due until the next day *at midnight* when I'm (ho

[2018-10-23 17:54] natfarleydev commented on #5525
I've had a go at this, see #10783.

[2018-10-23 19:10] kurokirasama commented on #7891
hello, so we can't add multiple tags with google app scripts?

[2018-10-24 18:50] saraolson commented on #10766
we had an issue to fix the flow for social usernames before the actual change goes live to address the problem of social users getting stuck with something intelligible. we just finished designs for justin to ask upfront in the first screen of onboarding like so:
<img width="197" alt="screen shot 2018-10-24 at 2 47 44 pm" src="https://user-images.githubusercontent.com/12453119/47454031-2034c780-d7

[2018-10-25 09:06] natfarleydev commented on #10751
I'm happy to implement this if it's fine with staff.

[2018-10-25 13:08] paglias commented on #10751
go ahead @nasfarley88 !

[2018-10-25 16:10] leharoperater commented on #10553
FWIW, this exact issue happened to me as a new user on day 2. I eventually deleted and re-created all my dailies, because I figured I'd done something wrong. But today I can't get cron to run for anything. I changed the time for cron to 6:00am and it came and went without running.

[2018-10-25 16:15] shanaqui commented on #10553
Can you post about that in the Report a Bug guild, please? We mostly do
troubleshooting there because we can look directly at your account -- also,
this is a different issue entirely if it's not your second day logging in.

On Thu, 25 Oct 2018, 17:10 leharoperater, <notifications@github.com> wrote:

[2018-10-25 16:17] leharoperater commented on #10553
Done. I can delete if that keeps things clean here.

[2018-10-26 14:46] #10287 closed, assigned to Alys

[2018-10-27 02:50] greenkeeper[bot] opened #10785 "An in-range update of chromedriver is breaking the build 🚨"
## The devDependency [chromedriver](https://github.com/giggio/node-chromedriver) was updated from `2.43.0` to `2.43.1`.

🚨 [View failing branch](https://github.com/HabitRPG/habitica/compare/develop...HabitRPG:greenkeeper%2Fchromedriver-2.43.1).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

chromedriver is a devDependency

[2018-10-27 11:02] Alys opened #10786 ""Invited a Friend" achievement is not awarded; party invitation is not sent (Social Signups only)"
_This bug has been happening for ages (maybe since the new website) but I've just realised we don't have an issue for it, unless I can't find it._ `shrug`

When you invite someone to Habitica and they register an account from the link in the email they received, you are supposed to get the `invitedFriend` achievement. In some or all cases (I'm not sure which), the achievement is not given.

Also t

[2018-10-27 12:23] Alys opened #10787 "single completion Group Plan To-Do don't get marked complete in task board"
When a Group Plan To-Do is set to "Single - Completes when any assigned user finishes" (`singleCompletion`) and is assigned to or claimed by a player, when that player completes it in their own task list, it moves to their own completed To-Do list but they see the message "Task not found" and the task in the Group Plan task board doesn't get marked as completed.

It is possible that this also occu

[2018-10-27 12:27] #10785 closed, assigned to nobody

[2018-10-27 13:28] Alys opened #10788 "challenge achievement going missing"
From Il Mago / @Ieahleen (c073342f-4a65-4a13-9ffd-9e7fa5410d6b) who uses the iOS app and website:

"I won a challenge while I wasn't online, and opening Habitica doesn't give any kind of notification about it
I checked the app, before checking the website and that may have deleted the notification, but the app doesn't have a notification for that, so no notification for me."

I haven't replicated

[2018-10-27 14:25] majestic-owl448 commented on #10788
I am going to do some testing with my test account once I have some time so
I can see if can reproduce it. (the testing account is under Username
testingMago)

Is fine if I post here with future updates?

[2018-10-27 15:10] Alys commented on #10788
Yes, please do! Thank you!

[2018-10-28 22:17] Alys opened #10791 "filters in Seasonal Shop broken: only Main-Hand Item is tickable/untickable"
In the Seasonal Shop (https://habitica.com/shops/seasonal ), in the Filter section on the left-hand side, when you try to untick any of the item types, the checkbox for "Main-Hand Item" is the only one that has the tick mark toggled.

This is reporducable even if you have no equipment pieces for sale there.

This does not occur in the filters for the other Shops or the Inventory pages.

_Thanks to

[2018-10-28 22:49] kirsty-tortoise commented on #10791
Can I try to fix this?

[2018-10-29 00:43] Alys commented on #10791
@kirsty-tortoise Thank you!

[2018-10-29 15:04] #10791 closed, assigned to nobody

[2018-10-29 19:45] saraolson commented on #10697
@SabreCat the image for the veteran pets on the forced modal isn't showing for me

[2018-10-29 20:03] saraolson commented on #10697
Also continuing to have modal stack issues, posted video in deploys.

[2018-10-30 14:44] probaton opened #10795 "Allocate stat points from level up dialog"
[//]: # (Before logging this issue, please post to the Report a Bug guild from the Habitica website's Help menu. Most bugs can be handled quickly there. If a GitHub issue is needed, you will be advised of that by a moderator or staff member -- a player with a dark blue or purple name. It is recommended that you don't create a new issue unless advised to.)

[//]: # (Bugs in the mobile apps can also

[2018-10-30 14:59] Tressley commented on #10697
I was testing the new social user flow today and was prompted with both the Justin and forced username modal. Is that correct or is it just a lingering modal test?

[2018-10-30 15:37] #10273 closed, assigned to negue

[2018-10-30 16:34] SabreCat commented on #10786
I think this is happening because the link that people get on invite just goes to the front page. It doesn't hook into anything.

[2018-10-30 21:18] JosephMarotta commented on #9247
Going to try and fix this

[2018-10-31 07:48] kirsty-tortoise commented on #10253
Can I attempt a fix for this?

[2018-10-31 09:35] paglias commented on #10253
@kirsty-tortoise sure!

[2018-10-31 12:24] shanaqui opened #10796 "Changing notifications for "kicked from group" fails (protected path)"
Confirmed by me in Google Chrome.

[2018-10-31 13:42] #10796 closed, assigned to nobody

[2018-10-31 13:42] paglias commented on #10796
Fixed, thanks for the report!

[2018-11-01 17:06] probaton commented on #10795
I got impatient. Sorry. Hope you guys approve of the fix, and if not I suppose it was a good learning experience?

[2018-11-02 00:04] greenkeeper[bot] opened #10800 "An in-range update of aws-sdk is breaking the build 🚨"
## The dependency [aws-sdk](https://github.com/aws/aws-sdk-js) was updated from `2.346.0` to `2.347.0`.

🚨 [View failing branch](https://github.com/HabitRPG/habitica/compare/develop...HabitRPG:greenkeeper%2Faws-sdk-2.347.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

aws-sdk is a direct dependency of this project, and

[2018-11-02 04:58] Alys commented on #9247
@JosephMarotta Thanks! Let us know here if you have any questions!

[2018-11-02 05:05] Alys commented on #10758
@Phelilix Thank you for finding that! Are you interested in fixing it if the staff comment on their preferred option from your list?

[2018-11-02 05:20] Alys commented on #10429
@papierukartka Thanks for that information and sorry about the delay in our reply! I've taken this off hold and marked it as help wanted.

[2018-11-02 06:26] Alys opened #10801 "Special Pets should not have feed bars"
_Currently this bug exists only in staging and delta, not production. If possible, it would be nice to have it fixed before it goes into production because it's the sort of thing users will notice and we'd have to handle reports. If it's not possible to fix by then, then when the next deployment from staging to production is made, the Socialites should be told that it's a known error and it doesn'

[2018-11-02 06:28] Alys commented on #10801
I've marked this as help wanted but if any contributors want to work on it, post here and wait for the go-ahead from staff because it's not impossible that staff will fix this themselves. (Posting and waiting is always a good idea but is more likely than normal to be necessary for this issue.)

[2018-11-02 08:14] Phelilix commented on #10758
@Alys Sure, i could fix it.
It looks like an hour of work or so, since I need to reinstall Habitica again.

[2018-11-02 11:41] #10800 closed, assigned to nobody

[2018-11-02 11:42] paglias commented on #10801
@negue I think it might be due to https://github.com/HabitRPG/habitica/pull/10768, can you give a look?

[2018-11-02 13:53] probaton commented on #10801
I don't mind taking a look. Obviously don't want to get in anyone's way though, just let me know if no one else can spare the time.

[2018-11-02 14:08] negue commented on #10801
@paglias will do once I'm home

[2018-11-02 15:58] #5525 closed, assigned to nobody

[2018-11-02 16:13] SabreCat commented on #10554
We have a report from @saraolson that this is still happening in some flows:

Maybe it's fixed for Challenge > Challenge flows, but not for Challenge > group flows?

[2018-11-02 16:16] #10253 closed, assigned to nobody

[2018-11-02 17:03] nasfarley88 commented on #10751
There is a fix for this at https://github.com/nasfarley88/habitica/tree/groupchatrecieved-webhook-fix but github won't let me create a pull request since one 'already exists', but the link to it does not.

Any suggestions?

[2018-11-02 18:38] kirsty-tortoise commented on #10681
Was fixed by #10783

[2018-11-02 18:38] #10681 closed, assigned to nobody

[2018-11-02 22:03] SabreCat opened #10803 "Refactor Justin intro modal to separate it from avatar edit"
### Description
[//]: # (Describe bug in detail here. Include screenshots if helpful.)

`creatorIntro.vue` is used both for initial avatar setup on account creation, and for editing a user's avatar via the user menu. This makes it difficult to consistently position both modals, because ideal positioning for the Justin sequence pushes the much larger avatar edit modal partially offscreen.

What we

[2018-11-02 22:09] SabreCat opened #10804 "Replace chat @mentioning with a text-editable plugin"
[//]: # (Before logging this issue, please post to the Report a Bug guild from the Habitica website's Help menu. Most bugs can be handled quickly there. If a GitHub issue is needed, you will be advised of that by a moderator or staff member -- a player with a dark blue or purple name. It is recommended that you don't create a new issue unless advised to.)

[//]: # (Bugs in the mobile apps can also

[2018-11-02 22:15] SabreCat opened #10805 "Add user contributor tier styling to conversations list in private messages"
[//]: # (Before logging this issue, please post to the Report a Bug guild from the Habitica website's Help menu. Most bugs can be handled quickly there. If a GitHub issue is needed, you will be advised of that by a moderator or staff member -- a player with a dark blue or purple name. It is recommended that you don't create a new issue unless advised to.)

[//]: # (Bugs in the mobile apps can also

[2018-11-03 11:02] Alys opened #10806 "cron not running or failing part way through"
We're getting reports of cron not running or partially running.

Lalaitha (7bdfa0b4-e06b-4a2f-b334-8011e9c03d95):

_"Cron issue: I had my Record Yesterday's Activity pop up, checked off things and clicked start my day. Some tasks became unticked, others not. Boss damage didn't get applied either._
_It seems like some of my dailies that are active Saturday have become active, so it sort of looks li

[2018-11-03 11:09] Alys commented on #10806
Another case was reported in the Bug guild about 23 hours before the date of this comment so that should give pointers about which log records might be relevant:

jonasisawesome (230b7172-1936-437b-8f14-c188bbdb1975):
_"My damage is still pending after I logged in to habitica"_

[2018-11-03 11:22] paglias commented on #10806
Looks like there was a brief database problem but there haven't been errors for a few hours now
<img width="241" alt="schermata 2018-11-03 alle 12 21 38" src="https://user-images.githubusercontent.com/589911/47951595-1b71cf80-df63-11e8-8464-111b56abcf19.png">

[2018-11-03 11:26] Alys commented on #10806
Another probable case from CinCrisis (faea8a98-ed8e-447d-8a32-b51500f1d706) who reported in a few messages the Bug guild that their damage from Skills wasn't applied to the boss when they logged in on 30 October.

[2018-11-03 12:45] greenkeeper[bot] opened #10807 "An in-range update of got is breaking the build 🚨"
## The dependency [got](https://github.com/sindresorhus/got) was updated from `9.3.0` to `9.3.1`.

🚨 [View failing branch](https://github.com/HabitRPG/habitica/compare/develop...HabitRPG:greenkeeper%2Fgot-9.3.1).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

got is a direct dependency of this project, and **it is very li

[2018-11-03 13:46] #10807 closed, assigned to nobody

[2018-11-03 19:54] VickyKoblinski commented on #10787
Can we change the priority of this to high? Right now I'm paying the group membership subscription for this functionality and since it's not working, I might have to go ahead and request a refund. I don't want to - I love Habitica - but my team *needs* this.

I'm not seeing the message "Task not found", but otherwise this description matches my issue.

[2018-11-03 21:40] Alys commented on #10806
I'm not sure if this is another example or not. It was posted about 8 hours before now by Mu Guiying (011bc428-8be1-4f2c-b4c2-ed82630661f4):

_"Today my tasks stayed greyed out after yesterday. Even though I press synchronize nothing happens. The only difference from normal days is that I'm resting at the inn since yesterday and that I log in from Internet Explorer this time."_

There's nothing in

[2018-11-03 21:43] Alys commented on #10806
Ah, sorry, Mu Guiying posted a second message two hours after that one:

_"Update: this time when I logged in, only one task has stayed greyed out since yesterday, the rest are normal. The one that stayed greyed out was the one I missed to fill out yesterday, and filled in earlier today in the list of tasked from yesterday that showed up when I logged in the first time today."_

Sounds like someth

[2018-11-04 02:15] Alys commented on #10758
@Phelilix Fantastic, thanks! Comment here if you run into trouble!

[2018-11-04 04:23] Alys opened #10809 "API should validate and adjust task date format"
As reported by Zags (5c08b0b0-dfc9-4bdb-b02a-b1d735bab587):

_"If a tasks has a due date (parameter 'date') formatted like '2018-11-23' (which can be done through the API), the due date show up in the web interface but not the Android mobile interface. Only due dates formatted like '2018-11-10T01:00:00.000Z' show up on the Android mobile interface."_

The desired fix is that the API should check t

[2018-11-04 07:43] greenkeeper[bot] opened #10810 "An in-range update of node-sass is breaking the build 🚨"
## The dependency [node-sass](https://github.com/sass/node-sass) was updated from `4.9.4` to `4.10.0`.

🚨 [View failing branch](https://github.com/HabitRPG/habitica/compare/develop...HabitRPG:greenkeeper%2Fnode-sass-4.10.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

node-sass is a direct dependency of this project, a

[2018-11-04 09:16] majestic-owl448 commented on #10809
There is not a code to handle that, when you use a value that can't be parsed as a date, the call goes through and it just says "Not valid" on the todo instead of the due date

[2018-11-04 10:30] Phelilix commented on #10758
@Alys I will cook something up. You can say if it follows the sensibilities of Habitica when I'm done.
Since the specifications are still absent.

[2018-11-04 10:33] Alys commented on #10809
@Ieahleen Thanks very much!

I can think of a couple of alternatives for handling the case where the date can't be parsed:
- Throw an error and not create the To-Do (not my favourite option because the user might not notice the error / the third-party developer might not provide code to display the error).
- Set the To-Do to undated (perhaps not the safest option if it was an urgent To-Do and the

[2018-11-04 10:47] paglias commented on #10809
What's happening here is that the db has some invalid date stored, so the field can't be set to a Date type, see https://github.com/HabitRPG/habitica/blob/develop/website/server/models/task.js#L322-L323

I think there's already an open issue about this, but anyway the things to do are:

1. Write a migration that tries to parse all the stored strings, and convert them to a Date if possible, otherwi

[2018-11-04 10:48] #10810 closed, assigned to nobody

[2018-11-04 15:49] paglias commented on #10809
There's another issue at #8405

[2018-11-04 15:49] paglias commented on #10809
I think this is a duplicate of #8405

[2018-11-04 21:22] Dimini commented on #10753
Issue reproduced.

**Count display in the member count badge overflows** -  reproduced after I changed the Guild Member count to 100 010 and more.
**Count display in the Guild info overflows**- reproduced after I changed desktop resolution to value below 1024x768 or after I reduced the size of the window + I changed the Guild Member count to 1010 and more.

The necessary ingredient is to have more

[2018-11-04 23:43] Dimini commented on #10753
**Reducing the amount of decimal numbers to 1** resolved the first issue - **Count display in the member count badge overflows**.

With the same solution **the second issue - **Count display in the Guild info overflows** - is resolved for resolution 1024x768**.

For 800x600 however, the issue still persists. Removing the decimals completely would result in slight overflow for 800x600 resolution.

[2018-11-04 23:45] Dimini commented on #10753
I propose decreasing the amount of decimal places from 2 to 1 for Guild Member Count and using the `floor` function instead of `round` in groupsUtilities.js.

Creating merge request.

[2018-11-05 10:25] Alys commented on #9770
This is probably no longer relevant since there's been several changes to modals since it was logged.  The streak achievement modal certainly doesn't close itself.

[2018-11-05 10:25] #9770 closed, assigned to nobody

[2018-11-05 10:32] SirLouen commented on #10685
@Alys I'm going to continue here the discussion instead of the Bug guild.

You are not seeing this as a big bug, because maybe you don't understand the problem.
The buffing issues are not related with the buffing itself, but with how they are prompted + managed.
It unfolds into two problems:

**Issue 1:**

 As I mentioned you can simply control the sync problem just by removing the possibility of

[2018-11-05 10:44] Alys opened #10813 "streak achievement notification disappears; modal nearly inaccessible"
When you get a streak achievement (i.e., the streak on a Daily reaches a multiple of 21), a blue streak achievement notification appears near the top right of the website and you can click on it to see the streak achievement modal. However the notification disappears after a few seconds so you have to click very quickly.

Also, it's not at all obvious that you can click on the notification to see

[2018-11-05 10:47] majestic-owl448 commented on #7541
Was this abandoned? Or just overlooked?
 @paglias @Tressley

[2018-11-05 11:06] Alys commented on #7541
It looks like it might have been overlooked. I'm reopening it. Thanks @Ieahleen

It's still an issue for players as indicated above and by this recent discussion about it:

_Transcender (e64eedd4-d51c-4cdc-8635-a063fd22a62c): "Hi, is there a way to reorder tags? I have many tags so it's very messy, but I can't seem to reorder them. Dragging them doesn't work :/"_

_tseren (8d1bee26-4a44-496d-89b5-

[2018-11-05 11:26] shanaqui commented on #10806
Reported via email 18 hours ago:

[2018-11-05 11:31] Alys opened #10814 "can't leave guild with group plan: ParallelSaveError"
Ioannes, Novice Bookworm (43782084-136a-457b-b2e5-f9145f9c23a7) says in the Report a Bug guild:
_"Cant leave guid. An unexpected error occured https://habitica.com/groups/guild/e9000f4c-e4f0-4c37-90b4-131b56f27b3f"_

That guild has a group plan (I have not done any testing to be sure that is related to the bug).

Ioannes, Novice Bookworm is not the leader of the guild, nor a manager.

There are se

[2018-11-05 11:33] Alys commented on #10814
I've marked this as help wanted since if there's a code bug a contributor might be able to find it, but contributors should be aware that the staff might fix this quickly so it's even more recommended than usual to post here before attempting a fix and then wait for a go-ahead message.

[2018-11-05 12:29] Alys commented on #10685
@SirLouen As I mentioned in the Report a Bug guild, it's not recommended rapidly click in Habitica. If you wait for a sync to finish after each click, problems like this won't happen. You can use the third-party tools I mentioned to more conveniently cast multiple buffs - that's likely to be easier for you than multi-clicking and will produce reliable results.

The effects you describe are buggy b

[2018-11-05 12:49] SirLouen commented on #10685
@Alys yes that could be another good solution

But you have to agree with me that it's a bug that it's not currently managed the sync issue related to the party log. This means, that as long as any user can spam the party chat by mass clicking any button, this is still under the bug section (not just a suggestion/discussion), because you cannot leave 100% of the responsability in the users special

[2018-11-05 13:27] paglias commented on #10814
Should be due to this https://github.com/HabitRPG/habitica/blob/develop/website/server/models/group.js#L1146, if there are multiple tasks the user is saved multiple times

[2018-11-05 13:28] paglias commented on #10809
Closing in favor ot #8405

[2018-11-05 13:28] #10809 closed, assigned to nobody

[2018-11-05 13:28] paglias commented on #10787
@VickyKoblinski sorry for the delay here, we're looking into this

[2018-11-05 13:45] paglias commented on #10787
So i just tried to replicate and the todo is moved correctly to the Completed tab, but the checkbox is missing the completion mark
<img width="438" alt="schermata 2018-11-05 alle 14 43 51" src="https://user-images.githubusercontent.com/589911/48001625-67f70f80-e109-11e8-8550-0f145ab86ff1.png">

@VickyKoblinski is this the same thing that's happening to you? Or the task never ends in the Completed

[2018-11-05 14:06] paglias commented on #10787
The issue of the  completed todos checkmark not being shown has been fixed in https://github.com/HabitRPG/habitica/commit/7195ac15b99b0dd969c4f2545ac097f08fc4a516

[2018-11-05 14:15] paglias commented on #10787
And we're thinking about changing the default Shared Completion to `Single
<img width="501" alt="schermata 2018-11-05 alle 15 15 37" src="https://user-images.githubusercontent.com/589911/48003070-ac84aa00-e10d-11e8-9fa1-d92ca4b0ac5e.png">

https://github.com/HabitRPG/habitica/pull/10815

[2018-11-05 21:02] beffymaroo commented on #10687
@JesseRatt Are you still working on this issue? Let us know when you have a moment. Thank you!

[2018-11-05 21:04] beffymaroo commented on #10653
@VickyKoblinski Are you still working on this ticket?  Let us know when you have a moment. Thank you!

[2018-11-05 21:56] JesseRatt commented on #10687
Sorry I started a new job and haven’t had anymore time

Sent from my iPhone

[2018-11-06 02:48] greenkeeper[bot] opened #10816 "An in-range update of in-app-purchase is breaking the build 🚨"
## The dependency [in-app-purchase](https://github.com/voltrue2/in-app-purchase) was updated from `1.10.4` to `1.10.5`.

🚨 [View failing branch](https://github.com/HabitRPG/habitica/compare/develop...HabitRPG:greenkeeper%2Fin-app-purchase-1.10.5).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

in-app-purchase is a direct

[2018-11-06 04:19] VickyKoblinski commented on #10653
@beffymaroo Yes! I'm sorry for the big delay here. I'll look at this further tomorrow and update you with my status.

11/6/2018 - I have Habitica successfully running locally now
11/8/2018 - Having issues with Habitica client talking to server, reported problem in Aspiring Blacksmiths to get help

[2018-11-06 04:29] VickyKoblinski commented on #10787
@paglias Not really. Actually, I'm sorry, maybe my bug is a different one. I was referred here. But my bug is similar. I'll leave it up to you if this should be a separate issue.

My issue is actually with the shared, assigned Dailies.

Steps:
1) Have a group task board
2) Create a new daily
3) Assign daily to yourself
4) Go to your normal task list
5) Check off item as complete, get experience an

[2018-11-06 11:19] paglias commented on #10787
@VickyKoblinski thanks for the details, I'll get back to you as soon as possible regarding your issue. Thanks for your patience

@Alys regarding the original issue, do you think the changes listed at https://github.com/HabitRPG/habitica/issues/10787#issuecomment-435886923 and in the comment about that are enough to handle the problem? I've not been able to reproduce the `Task not found` issue (the

[2018-11-06 11:19] #10816 closed, assigned to nobody

[2018-11-06 11:35] Alys commented on #10787
I'm not getting the "task not found" error now so something has fixed that, or it was an intermittent error that occurs only under certain (currently unknown) circumstances.  The checkmark change sounds like it will fix the other part of the problem. I'm fine with this being closed. We can open another if needed. I'm not closing it myself now in case you want to keep using this issue for @VickyKob

[2018-11-06 14:26] shanaqui commented on #10806
Reported via email 20 hours ago:

[2018-11-06 14:28] shanaqui commented on #10806
Also 20 hours ago:

[2018-11-06 14:34] paglias commented on #10806
Are all the reports from iOS? It might be a mobile app problem, cc @phillipthelen

[2018-11-06 14:46] shanaqui commented on #10806
That's part of what this thread is meant to figure out! We were doing it in Slack (see the channel for Report a Bug), but this was started as a better way of keeping track. Most of the reports are coming from iOS, but there have been a few reports that sound like this bug from Android (e.g. user 74ee65c1-2c52-4bdc-8280-80f5a3d221f6 reported something similar) or the web. Some we don't know which t

[2018-11-06 14:54] shanaqui commented on #10806
From above, Amplitude's best guess for the ones which we don't have recorded here:

7bdfa0b4-e06b-4a2f-b334-8011e9c03d95 -- iOS
230b7172-1936-437b-8f14-c188bbdb1975 -- Android
faea8a98-ed8e-447d-8a32-b51500f1d706 -- iOS
011bc428-8be1-4f2c-b4c2-ed82630661f4 -- web

(Although Amplitude seems to only hold one [the most recent?] access method, because it has me as web despite the fact I use Android to

[2018-11-06 14:57] shanaqui commented on #10806
Via Report a Bug, reported around 17 hours ago:

Amplitude says iOS, will ask the user to confirm.

[2018-11-06 15:29] phillipthelen commented on #10806
I have added more logging to the next build of the iOS app. If it is iOS related, that should help us get more insight. This issue might also be mixing two issues together. The initial report mentions that the dialog shows up but then doesn't check off the tasks correctly (which I'm not sure I've seen before as a report. Although it might also be that the dialog popped up again after cron already

[2018-11-06 15:40] shanaqui commented on #10806
In Amplitude, most of these (I haven't checked all) are showing as never having cronned at all for that day, if I look them up.

According to Amplitude, the first report in the thread did cron on the 3rd (the day reported), didn't cron at all on the 4th (but does have actions logged for that day), did on the 5th, hasn't for the 6th (so far? could be a timezone thing in this case). When it's been c

[2018-11-06 15:45] shanaqui commented on #10806
Just now reported:

No cron appears in Amplitude for today.

[2018-11-06 17:32] SabreCat commented on #9957
I don't see an active PR (and whatever was mentioned on 16 Jun was never linked)... moving this back to help-wanted.

[2018-11-06 18:19] majestic-owl448 commented on #10788
was something changed? I now just receive the modal after winning a challenge

[2018-11-07 01:06] greenkeeper[bot] opened #10820 "An in-range update of aws-sdk is breaking the build 🚨"
## The dependency [aws-sdk](https://github.com/aws/aws-sdk-js) was updated from `2.349.0` to `2.350.0`.

🚨 [View failing branch](https://github.com/HabitRPG/habitica/compare/develop...HabitRPG:greenkeeper%2Faws-sdk-2.350.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

aws-sdk is a direct dependency of this project, and

[2018-11-07 02:11] #10820 closed, assigned to nobody

[2018-11-07 02:52] greenkeeper[bot] opened #10821 "An in-range update of mongoose is breaking the build 🚨"
## The dependency [mongoose](https://github.com/Automattic/mongoose) was updated from `5.3.9` to `5.3.10`.

🚨 [View failing branch](https://github.com/HabitRPG/habitica/compare/develop...HabitRPG:greenkeeper%2Fmongoose-5.3.10).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

mongoose is a direct dependency of this project,

[2018-11-07 09:20] #10821 closed, assigned to nobody

[2018-11-07 11:40] shanaqui commented on #10806
eclare adds that they went to the web first on the day their cron failed partway through. (Maybe worth checking them for the excessive task history bug -- I can't do that, though. @SabreCat?) They may also have had an early cron (on iOS) due to an unrelated time zone issue.

[2018-11-07 12:00] shanaqui commented on #10806
Reported ~4 hours ago:

Amplitude says iOS.

[2018-11-07 21:53] greenkeeper[bot] opened #10822 "An in-range update of aws-sdk is breaking the build 🚨"
## The dependency [aws-sdk](https://github.com/aws/aws-sdk-js) was updated from `2.350.0` to `2.351.0`.

🚨 [View failing branch](https://github.com/HabitRPG/habitica/compare/develop...HabitRPG:greenkeeper%2Faws-sdk-2.351.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

aws-sdk is a direct dependency of this project, and

[2018-11-07 22:45] Alys opened #10823 "duplicate messages in Tavern and guilds"
Sometimes we see the same group chat message posted two or more times in quick succession - quick enough that it's unlikely to be from the player doing this deliberately. Mods usually just quietly delete the duplicates when we notice them (note to Socialites: there's no need to flag them since they aren't violations of the Community Guidelines). This issue is so that we can record examples of it.

[2018-11-07 22:48] Alys commented on #10823
For anyone adding examples to this issue:
- Post the guild URL (or name if you're on the mobile app and can't get to the website easily)
- Post the Username (or Display Name when Username isn't visible) of the player who made the posts (note that this is just for tracking not blaming!)
- Post the approximate time the posts were made (e.g., "about three hours before this GitHub comment I'm making n

[2018-11-07 23:06] greenkeeper[bot] opened #10824 "An in-range update of validator is breaking the build 🚨"
## The dependency [validator](https://github.com/chriso/validator.js) was updated from `10.8.0` to `10.9.0`.

🚨 [View failing branch](https://github.com/HabitRPG/habitica/compare/develop...HabitRPG:greenkeeper%2Fvalidator-10.9.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

validator is a direct dependency of this proj

[2018-11-08 07:07] #10822 closed, assigned to nobody

[2018-11-08 07:07] #10824 closed, assigned to nobody

[2018-11-08 09:59] paglias commented on #10787
@VickyKoblinski we've discussed your report internally and it's probably due to some confusion on how dailies are meant to work in group plans.

The shared completion setting is only available for To-Dos, so it's normal that the dailies in the group plan tasks page aren't marked as completed. We're considering changing the behavior so that dailies get marked as complete as todos but right now the

[2018-11-08 10:11] #10801 closed, assigned to nobody

[2018-11-08 13:43] greenkeeper[bot] opened #10825 "An in-range update of popper.js is breaking the build 🚨"
## The dependency [popper.js](https://github.com/FezVrasta/popper.js) was updated from `1.14.4` to `1.14.5`.

🚨 [View failing branch](https://github.com/HabitRPG/habitica/compare/develop...HabitRPG:greenkeeper%2Fpopper.js-1.14.5).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

popper.js is a direct dependency of this proj

[2018-11-08 14:48] joedragons commented on #8248
Picture version in case that helps anyone; noticed this yesterday.

![habiticarevampfeedback29](https://user-images.githubusercontent.com/9559205/48206000-5ac16700-e33b-11e8-9763-0ae1bc111509.png)

[2018-11-08 15:23] #10825 closed, assigned to nobody

[2018-11-08 15:50] shanaqui commented on #10806
iOS, reported 18 hours ago:

I think it looks like the web/Android ones might be some other weirdness, with iOS being the main culprit. Should I keep tracking people affected or have we got enough data on this one now?

[2018-11-08 15:54] shanaqui commented on #10806
Just got one in that is probably not the same thing, from Android, but just in case it's related in any way...:

Amplitude confirms they've been logging in and does not have a cron listed since Oct 5th.

[2018-11-09 07:08] Arsnael commented on #7991
Hi ! I did a PR. I still have some stuff to tests so it's not completely ready yet (hence the WIP) but it's more or less finished, so you can start checking it if you want :)

[2018-11-09 10:48] stanhuan opened #10827 "Top Banner cut off on horizontal resize"
![c84ecb33687269429dfa38fa885f0a90](https://user-images.githubusercontent.com/10003722/48258104-5dc36280-e3e2-11e8-8a8b-3a376ab51e4c.gif)

### General Info
  * Browser: Google Chrome Version 69.0.3497.100
  * OS: macOS Mojave 10.14 (18A391)

### Description
When resizing the profile page, on small horizontal viewports, the banner gets cut off

[2018-11-09 11:10] shanaqui opened #10828 "Cannot change name of party without adding a description"
Reported in Report a Bug:

Confirmed by me.

It seems to be desirable that people should be able to change their party name without adding a description; parties aren't public and descriptions aren't that important.

_edit by Alys 2020-01-19:_

This is the desired fix for this issue:

- When you edit a Party, the Description field must be optional - you should not be forced to enter a Description

[2018-11-09 19:37] majestic-owl448 commented on #10823
I have just made a double post (a few minutes ago) in the Aspiring Legends guild (display name: Il Mago)
I am almost sure I have double tapped on the send button because the first time it didn't seem to work (Safari mobile browser on iOS)

[2018-11-09 19:40] majestic-owl448 commented on #10823
There is also a double post just now from Linsanity in the Tavern if they don't delete it (they appear sent 34 and 35 seconds ago)

[2018-11-09 21:53] SabreCat opened #10829 "Changes to Challenge short name (tag name) do not save"
[//]: # (Before logging this issue, please post to the Report a Bug guild from the Habitica website's Help menu. Most bugs can be handled quickly there. If a GitHub issue is needed, you will be advised of that by a moderator or staff member -- a player with a dark blue or purple name. It is recommended that you don't create a new issue unless advised to.)

[//]: # (Bugs in the mobile apps can also

[2018-11-09 23:51] greenkeeper[bot] opened #10830 "An in-range update of mongoose is breaking the build 🚨"
## The dependency [mongoose](https://github.com/Automattic/mongoose) was updated from `5.3.10` to `5.3.11`.

🚨 [View failing branch](https://github.com/HabitRPG/habitica/compare/develop...HabitRPG:greenkeeper%2Fmongoose-5.3.11).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

mongoose is a direct dependency of this project

[2018-11-10 01:00] VickyKoblinski commented on #10787
@paglias Thank you for looking into this. I think it'd be really helpful in the present time while determining if that functionality is going to be added, is if that's made clear, both during sign up and in the UI (maybe a warning when trying to add a daily, or disabling it, or a message saying "coming soon" - right now, from a UX perspective, it appears broken).

I'd be really excited to see this

[2018-11-10 01:03] VickyKoblinski commented on #10829
Can I try this one?

[2018-11-10 05:32] Alys commented on #10829
Note that it's intentional that changes to the tag are not pushed out to the players who are already participating so that shouldn't be changed.

[2018-11-10 11:09] #10830 closed, assigned to nobody

[2018-11-10 17:04] SabreCat commented on #10787
@VickyKoblinski Thanks for the feedback! Group Plans will get some long-due attention soon after we complete this overhaul of username functionality, so changes are coming.

[2018-11-10 23:11] Alys commented on #5557
I've updated the top post in this issue, deleted a now-irrelevant comment about previous work done on it, and marked it as help wanted.

[2018-11-10 23:13] Alys commented on #9725
I've marked this as on hold until https://github.com/HabitRPG/habitica/issues/5557 is completed. That issue is significantly more useful than this one so it makes sense to get it done first without the extra time needed to handle this issue too.

[2018-11-11 02:22] Alys opened #10834 "pet feeding behaviour and display problems"
In the Report a Bug guild, Praxis (0ce6d43b-efa2-45a3-acaa-59daad7d658d) reported the bugs below. **All words in** normal font **below this line are theirs, not mine; my comments are added** _[in italics in brackets like this]_.
Below their report is a related report from Aerilita (3b724a41-48d3-4048-ae27-70b258cf5a72).

----

Hi, guys! It seems the Stable was recently changed, and glitches were i

[2018-11-11 03:29] Alys commented on #8063
Just noting here that I've made some edits to the top post and also removed some old comments, with all relevant information from them being added to the top post. This is just to make the issue easier to parse. I'm checking with the mods about some other details and will post again here when final decisions have been reached.

[2018-11-11 04:56] Alys commented on #10786
There's some additional details found by cTheDragons (on the delta test site but I expect it's the same for the production site):

"When inviting a new player to Habitica via their email. When the account signs up with that email account, the player does not automatically join the party. If you invite them again with their email account it does appear in the accept/reject which you can then accept

[2018-11-11 10:52] Alys commented on #9498
I've updated this issue to move all relevant information from comments into the top post so it now contains a neater, updated description of what we want.

[2018-11-12 13:49] Ieahleen commented on #7991
Can I point a thing on items with a 0G price?
There are various check-in incentives items that have a 0G price but have stats that are pretty high, I am sure that a lot of players that want to reset their inventory would also like to repurchase those (and maybe they value a bit more than 0G but that may be a thing to talk about somewhere else)
You can use the Empty the Armory Achievment and you ca

[2018-11-12 15:02] shanaqui commented on #10806
Another report:

[2018-11-12 20:32] #10183 closed, assigned to nobody

[2018-11-12 21:01] ianoxley commented on #10429
Is it OK if I take a look at this?

[2018-11-12 23:45] greenkeeper[bot] opened #10837 "An in-range update of aws-sdk is breaking the build 🚨"
## The dependency [aws-sdk](https://github.com/aws/aws-sdk-js) was updated from `2.353.0` to `2.354.0`.

🚨 [View failing branch](https://github.com/HabitRPG/habitica/compare/develop...HabitRPG:greenkeeper%2Faws-sdk-2.354.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

aws-sdk is a direct dependency of this project, and

[2018-11-12 23:50] Alys commented on #7991
@Ieahleen Ah yes, that's a good point.

@Arsnael You might want to hold off on changing the code for a couple of days while we think about this.

[2018-11-13 04:54] Arsnael commented on #7991
Alright sure no problem :) I still need to add more tests anyway so I will try to focus on that instead when I have a bit of time

[2018-11-13 06:04] greenkeeper[bot] opened #10838 "An in-range update of shelljs is breaking the build 🚨"
## The dependency [shelljs](https://github.com/shelljs/shelljs) was updated from `0.8.2` to `0.8.3`.

🚨 [View failing branch](https://github.com/HabitRPG/habitica/compare/develop...HabitRPG:greenkeeper%2Fshelljs-0.8.3).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

shelljs is a direct dependency of this project, and **it

[2018-11-13 07:48] paglias commented on #10429
@ianoff sure!

[2018-11-13 07:49] #10838 closed, assigned to nobody

[2018-11-13 07:49] #10837 closed, assigned to nobody

[2018-11-13 07:51] paglias commented on #10834
@negue is this something that could be due to your recent changes?

[2018-11-13 08:06] greenkeeper[bot] opened #10839 "An in-range update of in-app-purchase is breaking the build 🚨"
## The dependency [in-app-purchase](https://github.com/voltrue2/in-app-purchase) was updated from `1.10.5` to `1.10.6`.

🚨 [View failing branch](https://github.com/HabitRPG/habitica/compare/develop...HabitRPG:greenkeeper%2Fin-app-purchase-1.10.6).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

in-app-purchase is a direct

[2018-11-13 09:57] #10839 closed, assigned to nobody

[2018-11-13 12:49] shanaqui commented on #8931
From Report a Bug:

[2018-11-13 16:36] greenkeeper[bot] opened #10841 "An in-range update of mongoose is breaking the build 🚨"
## The dependency [mongoose](https://github.com/Automattic/mongoose) was updated from `5.3.11` to `5.3.12`.

🚨 [View failing branch](https://github.com/HabitRPG/habitica/compare/develop...HabitRPG:greenkeeper%2Fmongoose-5.3.12).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

mongoose is a direct dependency of this project

[2018-11-13 20:10] #10841 closed, assigned to nobody

[2018-11-13 20:18] negue commented on #10834
my recent fix shouldn't break the feeding at all (rather fix all other possibles issues ^^, now the progress is read per pet-component instead of creating the array outside) - anyway I'll look into it

[2018-11-13 21:52] ianoxley commented on #10008
I can help out with this if needed?

[2018-11-13 21:58] negue commented on #10834
@paglias there are some weird state-refresh issues, like its currently built in for example the progress (No 1 of the issues) getting the info right from the state ( `mapState`) but using it as a `computed property` the values only refreshing for already hatched pets, if I transform the computed prop to a `method` it also updates the progress for newly hatched pets (usually the normal computed way

[2018-11-14 14:31] #10697 closed, assigned to SabreCat

[2018-11-14 23:12] greenkeeper[bot] opened #10842 "An in-range update of aws-sdk is breaking the build 🚨"
## The dependency [aws-sdk](https://github.com/aws/aws-sdk-js) was updated from `2.355.0` to `2.356.0`.

🚨 [View failing branch](https://github.com/HabitRPG/habitica/compare/develop...HabitRPG:greenkeeper%2Faws-sdk-2.356.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

aws-sdk is a direct dependency of this project, and

[2018-11-14 23:55] kirsty-tortoise commented on #10787
See #10690 for @VickyKoblinski's issue, I think.

[2018-11-15 07:41] #10842 closed, assigned to nobody

[2018-11-15 10:39] Alys commented on #10806
There's nothing obvious in the logs for WintryBeth (02f75389-c930-4ee3-a901-0531beb2ff8a). Cron has run since then.

For gprimeltecan (b8194df4-a4c1-43ec-ad1d-95394210920a), their most recent `loggedin` timestamp is 2018-10-05T07:13:26.183Z - i.e., they haven't cronned since early October. Amplitude shows they used Habitica up until 2018-11-12 (about three days ago) - I didn't check for hits on ev

[2018-11-15 11:00] Alys commented on #7991
I'm not sure if the staff would want the check-in incentive items to have their price changed, but it would certainly fix the problem of emptying the armory and still having high-stat gear. Maybe those items were set to zero gold simply because there was no need to buy them to get them initially? I think it wouldn't be inconsistent if they did have a gold cost after that, so that they could be los

[2018-11-15 16:55] SabreCat commented on #8931
Nothing unusual in the invitations object for the user affected above, from what I could see:

[code]

[2018-11-15 21:40] majestic-owl448 commented on #10823
Double message from me in the Habitica Help guild (username: ieahleen), one minute ago

I am thinking that one cause could be double clicking the "Send" button, but I am almost sure now it didn't happen

[2018-11-16 03:03] Arsnael commented on #9698
Yes I noticed that a few times as well with my party, a bit confusing. Can I look into it? :)

[2018-11-16 03:16] Alys commented on #9698
@Arsnael Sure, thank you!

[2018-11-16 07:06] majestic-owl448 commented on #10823
This guild is also full of duplicated messages: https://habitica.com/groups/guild/d384d634-b8cb-4be9-93a5-61538443009e

But that may be something wrong with the automated message and not on Habitica side

[2018-11-16 16:49] shanaqui commented on #10806
Report of cron failing from web (could be task history issue though):

& then:

Along with this from Chrome and Android:

Haven't checked Amplitude yet for the cron info on these though.

[2018-11-16 19:12] greenkeeper[bot] opened #10846 "An in-range update of chromedriver is breaking the build 🚨"
## The devDependency [chromedriver](https://github.com/giggio/node-chromedriver) was updated from `2.43.2` to `2.43.3`.

🚨 [View failing branch](https://github.com/HabitRPG/habitica/compare/develop...HabitRPG:greenkeeper%2Fchromedriver-2.43.3).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

chromedriver is a devDependency

[2018-11-16 19:27] negue commented on #10834
2. cant reproduce
3. fixed so that the behavior of 4. shows up
4. the expected behavior
5. can't reproduce (may be fixed ? )
6. can't reprodude this behavior either :(

I did however refactored the `mountItem` (where I had a different wrong behavior that after the hatch it wasn't listed as a mount)

on the technical side: its mostly that `computed` props not getting refreshed (even though the stat

[2018-11-16 21:56] greenkeeper[bot] opened #10847 "An in-range update of aws-sdk is breaking the build 🚨"
## The dependency [aws-sdk](https://github.com/aws/aws-sdk-js) was updated from `2.357.0` to `2.358.0`.

🚨 [View failing branch](https://github.com/HabitRPG/habitica/compare/develop...HabitRPG:greenkeeper%2Faws-sdk-2.358.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

aws-sdk is a direct dependency of this project, and

[2018-11-17 08:38] #10847 closed, assigned to nobody

[2018-11-17 08:38] #10846 closed, assigned to nobody

[2018-11-17 08:41] paglias commented on #10834
I'm wondering why the computed props are not being refreshed, methods are fine although computed properties are faster

[2018-11-17 09:48] #10751 closed, assigned to nobody

[2018-11-17 10:01] #10429 closed, assigned to nobody

[2018-11-17 10:06] paglias commented on #10753
Fixed in #10812

[2018-11-17 10:06] #10753 closed, assigned to nobody

[2018-11-17 10:07] paglias commented on #10766
I think this has been fixed, if you sign up now you're asked to confirm your username

[2018-11-17 10:07] #10766 closed, assigned to nobody

[2018-11-17 11:18] Alys commented on #10806
webbie @webbie_at (03117605-1b3f-4b42-a0e2-a57b135f6457) posted this about 15 hours ago:

[2018-11-17 11:28] Alys commented on #10806
posted 22 hours ago by themonicabird   @themonicabird (bee248f5-bde6-49db-9cb6-fb4dba3a3150)

This player had a lot of entries in some task history arrays. I've cleared them in case that helps.

This error happened:

`VersionError: No matching document found for id "813dc586-8a4e-4be8-a584-1ba8edfbf205" version 85 modifiedPaths "value, streak, history, nextDue"`

https://habitica.loggly.com/search

[2018-11-17 21:47] Alys opened #10849 "Enchanted Armoire equipment must be purchasable after losing from Death, etc"
When your avatar dies or you use the upcoming Empty the Armory feature, if you lose a piece of gear from the Enchanted Armoire, currently you are not able to buy it back. It appears in your Rewards area and the Equipment shop but when you open its modal to try to buy it, the "Buy" button is greyed out.

The correct behaviour is that the equipment is purchasable directly with gold at any time that

[2018-11-18 02:31] Alys commented on #10849
ruby1110 has reported (below) that Habitica tells them an Armoire item can't be bought because they're the wrong class. I don't see that on the website since I can't click the button, so I'm guessing that's from the app. Regardless, that gives a pointer at the code to look at for fixing this. Any gear that's doesn't have a `class` or a `specialClass` set to `rogue`, `wizard`, `warrior`, or `healer

[2018-11-18 05:45] Alys opened #10850 "pinned items sorting can fail: VersionError"
@ieahleen (c073342f-4a65-4a13-9ffd-9e7fa5410d6b) reported in the Report a Bug guild about 18 hours before this issue was logged:

_"I bought the previous in the sequence, and the Astrologer Hat appeared in my pinned items, now every time I try to move it to the position I want (I was trying to have the pinned items in order of price there) I get this error:"_

![image](https://user-images.githubus

[2018-11-18 05:48] Alys commented on #10406
As mentioned in https://github.com/HabitRPG/habitica/issues/10850 this bug was reported by @Ieahleen (c073342f-4a65-4a13-9ffd-9e7fa5410d6b).

![image](https://user-images.githubusercontent.com/1495809/48669118-1c048b80-eb49-11e8-88bf-7ec79a794cb7.png)

I found a few examples of errors like the one below in Loggly:

[code]

[2018-11-18 06:03] Alys commented on #10806
for themonicabird's problem, this error happened:

`VersionError: No matching document found for id "813dc586-8a4e-4be8-a584-1ba8edfbf205" version 85 modifiedPaths "value, streak, history, nextDue"`

https://habitica.loggly.com/search#terms=bee248f5-bde6-49db-9cb6-fb4dba3a3150&from=2018-10-01T00:00:00.000Z&until=2018-11-17T11:28:13.700Z&source_group=&event=b163d276-e9a0-11e8-80f8-0651554be0aa,1542

[2018-11-18 06:18] Alys commented on #10806
webbie   @webbie_at (03117605-1b3f-4b42-a0e2-a57b135f6457) reported:

_"hi, i think i have another "cron not running or failing part way through" issue ( https://github.com/HabitRPG/habitica/issues/10806 ):"_

_"today, must have been about half past 10 a.m. (about 11 hours ago), after i checked off all of yesterday's dailies in the popup (it was the first perfect day for a long time, if that's imp

[2018-11-18 06:19] Alys commented on #10806
@SabreCat @paglias Is it likely that history arrays are causing a problem again or not?

I haven't found evidence of that in all of the cron failure reports I've looked at so even if it's sometimes responsible, there'll be other causes as well.

[2018-11-18 08:39] paglias commented on #10806
I don't think the history arrays are the cause but it could be. It seems that the reports in this issue are from many different problems, the initial ones were from a brief connection error, some seems to be related to the mobile apps, ...

[2018-11-18 09:51] Alys opened #10851 "shadow-mute feature is needed"
Currently Habitica has a mute feature. We want to add an additional "shadow mute" feature. (This comes from a discussion involving beffymaroo and the moderators.)

---

Shadow muting will work in a similar way to muting so here's a brief description of how the existing mute feature works (this feature does not need any changes so this description is just FYI):
- The current mute feature uses the `

[2018-11-18 10:00] Alys commented on #10806
Yeah, it does feel like a few different issues. The only thing that ties them together is that they seem to be happening more often now than before a couple of weeks ago. We started recording them around then because they'd started to stand out as more common. :-/