[2017-12-30 20:54] iabrenne commented on #9756
May I please give this one a try? This would be my first contribution to Habitica :fearful: :smile:

[2017-12-31 09:31] paglias commented on #8127
Facebook is implementing the same security issues in 2-3 months from now

[2017-12-31 11:34] Alys commented on #9756
@iabrenne Please do, thanks! Comment here if you have questions or find problems.

[2017-12-31 19:37] Alys commented on #9484
I'm reopening this because one part of it (no confirmation message) is still happening on the staging website. You do see a notification that gold has been subtracted but there's no notification that a card has been given to the recipient, and since the card buying modal reopens immediately, it looks like it didn't work.

Even if if a snackbar notification is implemented to say that the card was s

[2017-12-31 22:44] Alys opened #9758 "antidotes for avatar transformation buffs should not allow multiple purchases (salt, etc)"
When a [Transformation Item](http://habitica.wikia.com/wiki/Transformation_Items) such as Snowball is used on you, the antidote (e.g., Salt) appears in your Rewards column to buy with gold. That works correctly, however the buy modal gives you the option to buy multiples, which isn't helpful and will be confusing (e.g., makes the users think they can store salt for use later).

The buy modal shoul

[2018-01-02 03:18] ghost commented on #9210
Ah okay, thanks for that.

I might start with the "remove strings that are not used anywhere" and once I get something done, I'll move to one of the others (Just to keep it simple for my first time). If that's cool.

[2018-01-02 08:42] Alys commented on #9210
That sounds like a good place to start! Go ahead and tell us if you have
questions.

On Tue, 2 Jan 2018, 13:18 Inshabel <notifications@github.com> wrote:

[2018-01-02 10:16] goldsteal commented on #9460
I seem to have a slightly different behavior for the Facebook button pop-up.
It says:

Registering a new account works with both Facebook and Google, but that new account cannot be connected to the respective other social media in the settiings dialouge resulting in the same errors.

![image](https://user-images.githubusercontent.com/9213833/34480579-86dc67ae-efad-11e7-8866-f4787a3ce793.png)

[2018-01-03 00:45] lemoness commented on #9619
@melarish  Thank you very much!

@Tressley When you have a moment, could you add those screens?

On Fri, Dec 29, 2017 at 1:43 PM, Mel <notifications@github.com> wrote:

[2018-01-03 00:46] lemoness commented on #9619
I've updated the labels on this ticket.

[2018-01-03 01:02] Tressley commented on #9619
@melarish -- Thanks for being patient. I've uploaded the art board to our Zeplin here: https://zpl.io/2EyKXn8

Feel free to add comments with any questions!

[2018-01-03 05:56] #9587 closed, assigned to nobody

[2018-01-03 23:10] SheepD commented on #9746
@Alys I'm having some problems replicating the bug locally in a reliable manner. so far i've tried purchasing the lost item on the rewards tab and from the shop, both operations unpin the item. maybe i'm missing something?

[2018-01-04 05:14] Alys commented on #9746
The bug occurs when you buy the item from the Enchanted Armoire rather than
buying it directly (i.e., you use the Armoire and just happen to be given
the item).

[2018-01-04 06:31] Kiwilicious opened #9764 "Error with proxy requests"
[//]: # (Before logging this issue, please post to the Report a Bug guild from the Habitica website's Help menu. Most bugs can be handled quickly there. If a GitHub issue is needed, you will be advised of that by a moderator or staff member -- a player with a dark blue or purple name. It is recommended that you don't create a new issue unless advised to.)

[//]: # (Bugs in the mobile apps can also

[2018-01-04 12:05] paglias commented on #9764
The problem seems to be this error

[code]

It means that another process on your computer is using the 3000 port so it cannot be used by Habitica. You should kill that process or change the port used by Habitica by changing the `config.json` file

I'm closing this issue since it doesn't seem a problem with our code but let me know if you still have problems

[2018-01-04 12:05] #9764 closed, assigned to nobody

[2018-01-04 12:58] Alys opened #9765 "modal does not close itself when you remove one deleted challenge task"
As reported in the Report a Bug guild bu Il Mago Azzurro (c073342f-4a65-4a13-9ffd-9e7fa5410d6b), when a challenge task is deleted by the challenge owner, and the challenge participant wants to remove the task from their own list, the modal for that does not close itself after the participant has confirmed the deletion. Steps to reproduce:

- join a challenge with some tasks
- the owner deletes a t

[2018-01-04 13:24] Alys commented on #8087
Another problem to be fixed in website/server/controllers/api-v3/tasks.js  :
`@api {get} /api/v3/tasks/user` can take a `dueDate` parameter but that's not mentioned in the apidoc comments  for that route. It should be.

[2018-01-04 16:17] #9705 closed, assigned to nobody

[2018-01-04 17:05] TheHollidayInn commented on #9731
Do you need to buy head special 1 before 2? So then the error is just to show the console message to the user or are there different conditions for buying the head special 2 item?

[2018-01-04 19:37] SheepD commented on #9765
@Alys may i work on this?

[2018-01-04 19:58] TheHollidayInn commented on #9765
Please do :D

[2018-01-04 21:55] kipraske commented on #9630
I should make a status update now to this now. I have cleaned up the code and was ready to make a PR when I merged in the most recent develop branch changes. This adds the class-specific holiday equipment automatically to the rewards bar. Well it turns out that my code does not work at all with these seasonal pieces because internally the seasonal equipment does not use the isPinned flag like ever

[2018-01-04 22:16] joedragons commented on #9630
I may be over simplifying but can you borrow from the code that makes them disappear now from the Tasks page when not available?  Or are you saying pinning makes them persistent?  Just a thought.

[2018-01-04 22:55] lemoness commented on #9484
I am in agreement that the modal should stay closed.

On Sun, Dec 31, 2017 at 11:37 AM, Alys <notifications@github.com> wrote:

[2018-01-04 23:41] TheHollidayInn commented on #9630
You may have to create a new array called pinnedItemsOrder that contains the pinned items ids sorted by the user. That would be the normalized form. I'd like to not at more info to the user, but I'm not sure of a better way

[2018-01-04 23:55] spacenate commented on #9233
Okay, I think I have completed all remaining todos in my PR for this issue 👍

[2018-01-05 03:30] Alys commented on #9731
No, you don't need to buy the `*_special_*` gear in order. Different pieces with names matching that pattern come from different sources (e.g., contributor rewards, quests).

Once you've obtained a piece of equipment and then lost it due to death or reset (i.e., it's in your account with a value of `false`), then it should always be buyable with gold. These are the only exceptions:
- For class-spe

[2018-01-05 13:18] Tressley commented on #9484
Yes, I think the modal should stay closed as well. I think a snack message could be shown that says, "You sent a card to [User Name]" in addition to subtracted gold.

[2018-01-05 16:45] kipraske commented on #9630
@TheHollidayInn ~ Thanks for your help! That is how tasks are set up currently. I thought it was pretty weird, but you are totally right, I think that is worth a try.

[2018-01-05 19:20] #9366 closed, assigned to nobody

[2018-01-05 19:23] #9678 closed, assigned to nobody

[2018-01-05 19:24] #9577 closed, assigned to nobody

[2018-01-05 19:26] #9605 closed, assigned to nobody

[2018-01-05 19:29] #9359 closed, assigned to nobody

[2018-01-05 19:31] #9265 closed, assigned to nobody

[2018-01-05 19:40] Alys commented on #4665
I'm closing this because staff are discussing it internally. A new, more precise issue will be opened if it's decided to proceed with something like this and/or staff will do the coding themselves. [internal link for staff reference](https://trello.com/c/jFYr8tJC/1064-kill-the-uuid)

[2018-01-05 19:40] #4665 closed, assigned to nobody

[2018-01-05 19:51] #9682 closed, assigned to nobody

[2018-01-05 21:22] Alys commented on #8991
Another example from ImDirty4x4 (0e357e7f-8774-4312-a0e3-6988260e2817). There's nothing in loggly for that User ID at this time.
[code]

[2018-01-05 22:36] Alys opened #9768 "mobile website: Menu can't be scrolled down (can't acccess User Icon, sync button, etc)"
When viewing the website on a phone's browser, unless your phone screen is long, some of the menu entries can't be accessed. They don't appear on the screen and the menu can't be scrolled down to get to the hidden ones.

Here's a screenshot from Birkwelch (310aea01-13f5-4fb6-929e-be39d63e665b) who says "I have a Samsung J7 Galaxy Perx, and the issue occurs both in the Samsung internet browser and

[2018-01-05 23:40] lemoness commented on #9768
I've updated the labels on this ticket!

@Tressley may want to weigh in on the discussion of the placements for gems, gold, and hourglasses.

[2018-01-06 01:28] Alys opened #9769 "no quest completion modal is shown for quests with no completion text"
When a quest does not have "completion" text, players never see the quest completed modal because this error occurs:
`TypeError: e.questData.completion is not a function`

This affects these quests, none of which have completion text:
* vice1 (Vice, Part 1: Free Yourself of the Dragon's Influence)
* vice2 (Vice, Part 2: Find the Lair of the Wyrm)
* atom1 (Attack of the Mundane, Part 1: Dish Disast

[2018-01-06 01:44] Alys opened #9770 "achievement modals close themselves rapidly (Rebirth, Streak, maybe others)"
When you use an Orb of Rebirth or get a 21-day streak on a Daily, you see an achievement modal, however the modal closes after a couple of seconds, giving you no time to read it.

The desired behaviour is that it stays open until you click the button at the bottom of it.

citrusella, the serving wench reported it, with this suggestion:
"There's a window that pops up right after you rebirth, but it

[2018-01-06 02:17] citrusella commented on #9770
For what it's worth, the modal never technically closed in my case; rather, the whole page did a full refresh (rather than a sync, it loaded the purple screen with the tip again), so quickly after the action/modal that it wasn't readable.

That is to say, the process was:

+ Click rebirth (which no longer has the information about itself in the purchase modal; is that intended?)
+ Modal pops up wi

[2018-01-06 02:36] Alys opened #9771 "no search box in challenge Select a Participant drop-down member list"
On an active challenge, when you click the "Select a Participant" drop-down, the participant list that appears should have a search box at the top of it. Currently, the search box isn't displaying.

I'm pretty sure this is a recent bug (just in the past month maybe?). It's possible that the search box is still there, just hidden by other interface elements.

For clarity, since there's three partic

[2018-01-06 04:17] citrusella commented on #9771
As far as I know (at least unless something fixed it and then something re-broke), the dropdown there has always looked like that, with no visible search box. (I think I remember it being reported shortly after the redesign, or maybe even during the beta.)

[2018-01-06 16:30] TheHollidayInn commented on #9771
The search bar is hidden when you have 20+ users. The drop down needs.css to keep it below the field and/or we need to show less results.

[2018-01-06 17:32] Userbane commented on #9753
I would like to try my hand with this issue

[2018-01-06 19:47] Alys commented on #8991
Another example from Xyriath (9b12fc4e-a7e9-4e7b-b615-294d3db234aa). That's two reported in less than two days, which is unusual.

[code]

[2018-01-07 22:19] Alys commented on #7454
I've been seeing a few reports of this lately. Some could be from old glitches, but there's one report today of a recently created party, from airylef (28d8a117-dc7a-4699-a578-e8d6541a640e) in the Report a Bug guild:

"I created a party and invited my husband. He accepted, but it's saying there's 3 members. When I click on the list, it just shows us. I think some bug occurred that let him accept t

[2018-01-07 22:37] Alys commented on #8991
Another from laceituplove (44e088cd-2a26-47cc-aecd-ed9a4ff8208a). Amplitude data for Cron:
January 7, 2018 8:02:43 pm UTC
January 7, 2018 8:02:58 pm UTC

[2018-01-08 01:11] TheHollidayInn commented on #8991
How do you confirm this with the user's data? I'm curious if we have ruled out that there is an error with sending two events to Amplitude.

[2018-01-08 01:14] TheHollidayInn commented on #7454
The field is computed, so we should probably just change the remove, leave and join routes to recompute the member count since those endpoints probably don't get used a ton from a single user. If we see performance issues, we can always update for those scenarios.

[2018-01-08 01:28] Alys commented on #8991
When there's only Amplitude data here you could possibly confirm it by examining the dates in the user's Dailies' history arrays. I'm not sure there's much point trying though. We have enough examples of this bug from the quest progress messages to be sure it's happening. I only use the Amplitude data when the user wasn't on a quest.

[2018-01-08 02:02] TheHollidayInn commented on #9753
Please do!

[2018-01-08 08:38] Alys opened #9774 "misaligned count of new Private Messages in Firefox"
In Firefox 57 (and maybe other browsers), the count of new Inbox messages is misaligned:

![screenshot_2018-01-08_18-34-05](https://user-images.githubusercontent.com/1495809/34663483-d03a6000-f4a2-11e7-8f59-1d22f97cc68b.png)

It should be aligned with the word Messages rather than under it.

[2018-01-08 11:55] paglias commented on #9618
Fixed in https://github.com/HabitRPG/habitica/pull/9560

[2018-01-08 17:43] #9618 closed, assigned to nobody

[2018-01-08 18:02] citrusella commented on #9774
It might happen in lower Firefox versions, too; I'm in the latest version for the ESR channel (52.5.3) and also noticed this.

[2018-01-08 21:41] lemoness commented on #9484
That wording looks good to me!

On Fri, Jan 5, 2018 at 5:18 AM, Tressley Cahill <notifications@github.com>
wrote:

[2018-01-08 21:44] lemoness commented on #9769
It would be fairly straightforward to add a sentence of completion text to
those quests, and the consistency would be nice, but the second is
definitely something that should be done as well so that we don't run into
this issue in the future.

On Fri, Jan 5, 2018 at 5:28 PM, Alys <notifications@github.com> wrote:

[2018-01-09 22:46] rakheepatel commented on #3553
@melarish Yeah that only worked for the old layout. Since the site revamp, it'll no longer work.

[2018-01-09 23:05] Alys commented on #9243
I'm reopening this for bug fixes to the change currently in staging:

- [ ] When you hatch your final Standard Pet, the Key to the Pets doesn't appear immediately - you have to reload first. This is the sort of thing that always trips up users and we get bug reports.
- [ ] When you've used one of the keys, it remains visible and _appears_ to be usable. It should disappear immediately or not be usa

[2018-01-09 23:12] TheHollidayInn commented on #9243
This should be removed on staging, and I'll continue the fixes in a new PR.

[2018-01-10 01:17] thefridge111 commented on #9532
I finally have the time to take a look at this.. I'm actively working on it now, just trying to figure out how to get the pet hatching modal to be able to launch

[2018-01-10 01:34] thefridge111 commented on #9532
@Alys are there some resources available for what documents I should be inserting in order to create pets that will hatch to test these modals? I cant seem to find any kind of 'schema' documentation in the wiki.

[2018-01-10 03:29] Alys commented on #9532
@thefridge111 You can use the debug menu in the footer of the website on your local install to give you test user gems and then you can buy eggs and hatching potions from the market.

[2018-01-10 04:49] TheHollidayInn commented on #9745
Testing locally, I can't create or update a challenge with a prize value of 'null'. The Challenge validation is tripped.

[2018-01-10 11:26] Alys commented on #9243
I've made text changes in https://github.com/HabitRPG/habitica/commit/9b19477e2f24ddf4d259004dece8bcd426061b13

For reference, this is the commit that disabled the user interface elements for this new code: https://github.com/HabitRPG/habitica/commit/3000e2b72cfae3a0033a497aadabf207c231f495

[2018-01-10 20:01] Alys commented on #9582
@kartikadur I'm sorry no one answered your question. :( I'm not familiar enough with the new website's vue code to comment on that. Are you still interested in working on this issue? If so, I'll check back to see if one of the staff can answer you.

[2018-01-10 21:29] Alys commented on #9478
Celestine, Rogue Lady of the Moon (9e9c1391-f10c-4e07-9e72-c582daabb3a5) reports this:
"Got that can't revive if not dead thing again (the refill health modal appeared three times)."

According to amplitude, the death event was at January 10, 2018 2:35:27 pm UTC. That's 2018-01-11 00:35:27 in my timezone, which is what's used in the Loggly errors below.

Loggly reports no VersionError. @TheHollida

[2018-01-10 22:28] Alys opened #9785 "new Bailey message not appearing even after reload"
As reported in the Report a Bug guild by Anysia (db190b28-8ce5-422e-8076-d43a62a7b204):

Anysia: "I never get the current Bailey message, I?m always one behind. Today I got the one for the 4th even though, based on Habiticas Tumblr account, there should be a new message out. This has been happening since the redesign."

Alys: "If you reload the website using your browser's refresh button does that

[2018-01-11 00:36] thefridge111 commented on #9532
@Alys For whatever reason the debug menu lets me do everything but modify the inventory, any idea why?

[2018-01-11 00:53] lemoness opened #9786 "Show specific number of pets/mounts in "Show More""
Right now, it's not always obvious to users that the Show More dropdowns contain the rest of their pets and mounts. For that reason, we'd like to show the total number of pets and mounts in a given section, as follows:

![new stable](https://user-images.githubusercontent.com/3494081/34803152-92ff3d98-f626-11e7-85ee-e45f703fe9aa.png)

We may also want to apply this to other "Show More" buttons arou

[2018-01-11 01:31] Alys commented on #9532
It's probably broken in the new website. If you'd like to log an issue for it, please do!

[2018-01-11 04:28] mandyzhou commented on #9786
Hmm, I find the proposed wording a bit confusing -- just from the screenshot, it's not clear whether the 23, for example,  refers to the total number of pets owned in the Standard category, or the number of owned Standard pets that are currently hidden, and the proposed wording does not convey that the Show buttons also reveal paw prints for pets and mounts not currently in users' stables.

Maybe

[2018-01-11 06:26] kartikadur commented on #9582
@Alys I am still interested.

[2018-01-11 10:33] paglias commented on #9582
@kartikadur

which dropdown are you talking about?

The $store is a vuex feature that's available in all pages and the data stored there is persisted as long as the website remains open

[2018-01-11 10:34] Alys opened #9787 "sort problems in Dailies (not from tasksOrder errors)"
We see quite a few comments like the ones below, although I can't reproduce this at all. This might be fixed by the fix for https://github.com/HabitRPG/habitica/issues/9582 but I'm recording it here to remind us to investigate it if it still happens after https://github.com/HabitRPG/habitica/issues/9582 is fixed.

----

Chandramani Adil (Auror) (58de0b72-3af8-4f2a-b9a1-f7d196b29757): "I am trying

[2018-01-11 11:22] kartikadur commented on #9582
@paglias, sorry, I meant the task/dailies/etc filter state not a dropdown state. Currently it resets to the default filter state. I am still trying to figure if the data object, computed property, or the watched function is responsible.

I want to persist the filter state between renders and preliminary exploration indicated that the best bet was the vuex store feature.

[2018-01-11 11:32] paglias commented on #9582
Yeah the best way to persist data between renders is the vuex's $store

[2018-01-11 18:07] TheHollidayInn commented on #9787
Just to note, there are some Vue lifecycle methods that push the filters. Looking at the vue lifecycle methods in the userTask page would be a good start.

Also, there may be some benefit to normalizing the data in that page and explicitly pushing through the different user scenarios, but this is a generic approach :P

[2018-01-11 20:27] Alys opened #9788 "attribute / stat points allocated before level 10"
In the Report a Bug guild, Orruzza Ogam Li (c073342f-4a65-4a13-9ffd-9e7fa5410d6b) writes:

"Is it intended that now it's possible to allocate points at levels 1-9?
Before the redesign one got 10 points to allocate after reaching level 10, before it wasn't possible, I don't know if this is an intended change or not..."

I believe it's not intentional.

From other comments I've seen, the first 10 po

[2018-01-11 20:34] #9314 closed, assigned to nobody

[2018-01-11 21:34] Alys opened #9789 "Stat points Automatic Allocation methods can't be adjusted"
_This bug started when the new website went live but it looks like we don't have an issue for it yet._

When you select "Automatic Allocation" for assigning stat points (previously called attribute points), you should be able to choose from three automatic allocation methods:
- Distribute evenly: Assigns the same number of points to each attribute.
- Distribute based on class: Assigns more points

[2018-01-11 22:01] VisionaryLion commented on #4605
Found this place since I've been experiencing computer slow down. Habitica seems to be the cause. Seems to get worse the longer I have the tab open. Saw the memory usage spike at about 1gb.

[2018-01-12 07:33] majestic-owl448 commented on #9217
now this is working correclty I thing, it opens the profile with the stats tab open and doesn't redirect the page below

[2018-01-12 07:34] majestic-owl448 commented on #9788
About this see also: https://github.com/HabitRPG/habitica/issues/6482#issuecomment-343167628
It's an experiment I did some times ago...

[2018-01-12 11:27] kartikadur commented on #9582
@paglias
my vuejs devtools chrome extension indicates that there is no vuex store. In the code it seem like there is a proprietary store code. What would be the best way to access this store state?

[2018-01-12 11:31] paglias commented on #9582
@kartikadur you're totally right, sometime I forget we don't use Vuex (because it was incompatible with some of our code) but we use our own store that works more or less the same way except that it doesn't have mutations, only actions.

The code is in website/client/store

[2018-01-12 11:54] kartikadur commented on #9582
@paglias does this store still function similar to vuex, with the exception of mutations?

As far as I can tell the tasks / dailies / rewards etc are shown in `website/client/components/tasks/column.vue`

Is there a reason why `website/client/components/tasks/column.vue` page has access to all of the store user data? Or can I convert this to a thin / dumb component and create getters/actions for t

[2018-01-12 12:18] paglias commented on #9582
You can refactor it if you want

[2018-01-12 12:55] kartikadur commented on #9582
@paglias thanks

[2018-01-12 15:01] binary404 commented on #9758
i would like to work on it. i know some java, html, css and javscript

[2018-01-12 16:10] TheHollidayInn commented on #9758
Please do!

[2018-01-12 16:16] #9769 closed, assigned to nobody

[2018-01-12 16:16] #9680 closed, assigned to nobody

[2018-01-12 17:16] TheHollidayInn commented on #7602
I'm going to close this because:
1. I am working on cron refactoring in another PR
2. Because issues of refactoring should defer to our codecliamate: https://codeclimate.com/github/HabitRPG/habitrpg/website/server/libs/cron.js and our internal processes

[2018-01-12 17:16] #7602 closed, assigned to nobody

[2018-01-12 17:18] TheHollidayInn commented on #8301
I believe this is fixed in the new site or is not applicable anymore.

[2018-01-12 18:08] TheHollidayInn commented on #8189
@Ieahleen would you still like to take this on?

[2018-01-12 18:12] TheHollidayInn commented on #9288
This should be fixed with the new lifecycle functions I have added: https://github.com/HabitRPG/habitica/blob/develop/website/client/components/groups/group.vue#L436

[2018-01-12 18:12] #9288 closed, assigned to nobody

[2018-01-12 18:31] TheHollidayInn commented on #9785
The fix for this is in the Notifications PR now and is currently being tested internally.

[2018-01-12 18:35] TheHollidayInn commented on #9514
Sorry for my delay. The client may be messing up while awaiting a non promise. I'll try fixing the set function and go from there. We do want to wait for the set promise to finish even if currently removing await solves the issue by removing side effects. The for pointing that out!

[2018-01-12 19:00] majestic-owl448 commented on #8189
I don't think I have the time or the ability needed...

2018-01-12 19:22 GMT+01:00 Keith Holliday <notifications@github.com>:

[2018-01-12 19:45] TheHollidayInn commented on #8189
No worries! Let us know if you want to work on anything else in the future :D

[2018-01-12 20:01] TheHollidayInn commented on #8189
Hmm. Actually, testing this locally and the scenario seems to work:
1. User is a member of a challenge, leader adds a task with notes, user get task with notes
2. Challenge has tasks, user joins, user get notes of tasks.

[2018-01-12 21:58] unaimed commented on #5196
Hey there,

I think this issue has been reintroduced after the rewrite: 6fb4c1b57643aef987b381c99650e519ec57bf4b
A fix would be a great help for accesibility.

[2018-01-12 22:16] #9179 closed, assigned to nobody

[2018-01-12 22:18] #8827 closed, assigned to nobody

[2018-01-12 22:18] #9143 closed, assigned to nobody

[2018-01-12 22:25] #9683 closed, assigned to nobody

[2018-01-12 22:29] #9289 closed, assigned to nobody

[2018-01-12 22:33] #9213 closed, assigned to nobody

[2018-01-12 22:38] #9640 closed, assigned to nobody

[2018-01-12 23:00] Alys opened #9795 "no change in number of avatar transformation buffs owned when you use them (Snowball, Shiny Seed, Seafoam, Spooky Sparkles)"
When you use an avatar transformation buff items (e.g., Snowball) the number owned shown in your inventory doesn't decrease until you click the sync button.

It should decrease as soon as you use one item.

[2018-01-13 02:25] Alys opened #9796 "keyboard (tab button, etc) can no longer be used to complete tasks, buy Rewards"
_I have a feeling we have this recorded or being worked on elsewhere but I can't find it. If anyone knows it's a duplicate or in progress, please add a comment._

As described in the "Use of Tab" section in [Accessibility](http://habitica.wikia.com/wiki/Accessibility), the old website had more features that were accessible through the keyboard than the new one. citrusella, the serving wench wrote

[2018-01-13 02:26] Alys commented on #9796
Note that allowing activiation of the task completion features using "show numbers" might be a better option than using tab, since that would require a LOT of tabbing in long task lists.

[2018-01-13 02:29] lemoness commented on #9217
I'm also unable to replicate. Closing now, but we can reopen if there are
other incidents.

On Thu, Jan 11, 2018 at 11:33 PM, Ieahleen <notifications@github.com> wrote:

[2018-01-13 02:29] #9217 closed, assigned to nobody

[2018-01-13 05:02] Alys commented on #9204
~I'm reopening this for feedback on PR https://github.com/HabitRPG/habitica/pull/9761. Below are the features from the top post of this issue. I've added comments from the testing I did on that PR, and I've also added a few new points.~

_EDIT: I've moved relevant material from this comment to the top post._

[2018-01-13 07:55] Alys opened #9797 "when buying new contributor gear, item does not disappear from Shop"
_This bug is currently only visible on our private staging server (or on anyone's local test install). It can't be seen in production because of issue https://github.com/HabitRPG/habitica/issues/9179, but once PR https://github.com/HabitRPG/habitica/pull/9306 is deployed to production, I imagine we'd see this bug there too._

When you are given a contributor tier, the associated gear is available

[2018-01-13 08:10] Alys commented on #9731
This code is at fault for the "You need to purchase a lower level gear before this one" bug:

https://github.com/HabitRPG/habitica/blob/9545f692efdbea7ff4980c0c7ce20534585363e2/website/common/script/ops/buyGear.js#L40-L48

It should apply to all the items listed below but none others. Also note that the Rogue shields are zero-indexed like the weapons - that's currently not considered in the code e

[2018-01-13 08:13] Alys commented on #5196
@unaimed Thanks! We have this reported again at https://github.com/HabitRPG/habitica/issues/9796

[2018-01-13 08:26] Alys commented on #9484
I've added this to the top post:

When casting a card on someone, no confirmation is given ~and gold doesn't decrease until the page is synced or refreshed~. There should be a confirmation notification in the corner, ~and the gold should be subtracted immediately~.

_Edit by Alys 2018-01-13 to summarise the comments below:_

The desired fix for this issue is both of these:
1. When you buy a card,

[2018-01-13 08:37] Alys commented on #9745
It's still happening though. Out of the challenges created this year, there's only two with the null prize and both have also been updated at a later time this year:

[code]

Out of the challenges updated this year, there's 43 witth a null prize:
[code]

I suspect the bug is in the update process. You wouldn't be able to manually change the gem prize because that's forbidden once the challenge has

[2018-01-13 08:38] Alys commented on #9786
I agree that the "Show 23 Standard Pets" wording doesn't make it clear whether there's 23 more or 23 in total.

[2018-01-13 09:25] kbdluv commented on #9796
Throwing my vote in for making sure things play nice with Vimium.

"Mark as done" checkboxes are currently a `div>svg`. I'm no expert but I _think_ that wrapping the `svg` in a `<a>` might make it "visible" to Vimium as a link.

Thank you for Habitica and for considering keyboard accessibility important <3

[2018-01-13 09:46] Alys commented on #8189
Confirmed. This bug no longer happens (or it happens intermittently but we can reopen if needed).

[2018-01-13 09:46] #8189 closed, assigned to TheHollidayInn

[2018-01-13 10:42] Alys opened #9798 "when changing class, you can't see which class is which if you have an avatar transformation buff (Snowball, Shiny Seed, Seafoam, Spooky Sparkles)"
When you are affected by an avatar transformation buff (e.g., Snowball), and you try to change class, this happens unhelpfully:

![img](http://i.imgur.com/RCcwg0H.png)

What should happen is that the avatars you see are not affected by the buff.

[2018-01-13 10:54] Alys opened #9799 "shouldn't have to sync after casting avatar transformation buff on yourself (Snowball, Shiny Seed, Seafoam, Spooky Sparkles)"
Currently, if you cast an avatar transformation buff on yourself (e.g., Snowball), you don't see the effect on your avatar until you click the sync button. It should appear immediately.

The effect does appear immediately when you cast it on a party mate, so fixing this might be as simple as copying whatever is done for party mates.

[2018-01-13 10:58] Alys commented on #9789
There's additional problem, but this could be done as a separate issue when the above problem has been fixed. I'll create a separate issue for it if the person who works on the above issue doesn't want to fix this as well. Orruzza Ogam Li (c073342f-4a65-4a13-9ffd-9e7fa5410d6b) reports:

"the feature of allocating automatically the various points you already have is missing.
Before when you selecte

[2018-01-13 11:17] Alys opened #9800 "locked off-class-specific basic equipment shows wrong error message"
When you pin class-specific basic gear and then change class, and then try to buy the pinned gear from the Rewards column, you see the wrong error message. It says "This item is only available once you've purchased the previous items in sequence. Keep working your way up!"

It should say "This item is only available to a specific class. Change your class under the User icon > Settings > Character

[2018-01-13 11:34] majestic-owl448 commented on #9800
this happens also in the Market for items of other classes (Seasonal gear shows the correct message, the base equipment instead have this one)

this profile is an healer:
![image](https://user-images.githubusercontent.com/26656284/34905671-25e37730-f85e-11e7-9fec-fa73840b0f96.png)

[2018-01-13 12:04] Alys commented on #9800
Thanks @Ieahleen ! I missed that. I've updated the title and top post.

[2018-01-13 12:36] Alys commented on #9361
@clay-reed-a Sorry about the delay! Have a look at issues tagged with our [help wanted](https://github.com/HabitRPG/habitica/labels/help%20wanted) label. You might find something there that suits you!

[2018-01-13 18:21] TheHollidayInn commented on #9745
Ah nice. Yea let me test the update route then!

[2018-01-14 01:58] Alys commented on #9715
Sorry, I should have logged this in the Android repo! I've moved it there: https://github.com/HabitRPG/habitica-android/issues/921

[2018-01-14 01:58] #9715 closed, assigned to nobody

[2018-01-14 03:12] Alys opened #9801 "mobile website: Stat Points can't be allocated (except for PER) because arrow buttons aren't visible"
On a small browser window such as in a mobile device, Stat Points can't be allocated to anything except Perception because the arrow buttons for the other Stats aren't visible:

![screenshot_2018-01-14_13-08-26](https://user-images.githubusercontent.com/1495809/34912405-460dae94-f92c-11e7-9e50-14f7b0d5f8cf.png)

I've put this on hold while I find out what the status is of adding a bulk allocation

[2018-01-14 03:15] Alys commented on #9801
I've put this on hold while I find out what the status is of adding a bulk allocation interface to the website.

[2018-01-14 09:35] Alys opened #9802 "bugs in staging week starting 2018-01-13"
Recently we've merged a lot of PRs to staging. Below are the bugs I've found in staging so far.

- [x] I'm in a party but on staging the website's header doesn't show my party members and has the "Battle Monsters With Friends" text as if I weren't in a party. The party page on staging does show my party. Console message: `Source map error: request failed with status 401Resource URL: https://habitr

[2018-01-14 09:37] Alys commented on #9802
I've marked this as important priority and in progress because I'm assuming the staff will work on these since many must be fixed before we can deploy staging. However if that's not correct, staff should change the labels.

[2018-01-14 20:33] librarianmage commented on #9280
Should this no longer be marked as in progress?

[2018-01-14 20:33] librarianmage commented on #8730
Hello @Bb2jake! How are you doing with this issue?

[2018-01-14 20:39] librarianmage commented on #9461
@AlyxMoon How are you doing on this?

[2018-01-15 09:57] Alys opened #9806 "Completed To-Dos disappear if you sync after viewing them"
Completed To-Dos behave in a way that appears to be inconsistent and buggy although it's a sort-of-expected side-effect of the way that we don't load completed To-Dos at all until the user clicks on the "Complete" tab in the To-Dos column.

When the user does that, the completed To-Dos are read from the database and they appear after that data is synced to the website. However if the user clicks t

[2018-01-15 10:41] Alys opened #9807 "private messages inbox can't be opened"
I've seen a few reports from people saying they can't open the inbox on the website. The one below from Piti! (9226cae6-d852-45da-a51b-ec2c9cb759e6) has some specific details:

**Piti! wrote:** "After deleting 2-3 old inbox Messages, now I cannot open my inbox anymore (Edge Browser). Neither can I open the modal for writing PMs. (On my Android App everything works). (not urgent!)"

[_Note that I'm

[2018-01-15 11:27] Alys opened #9808 "rejecting a guild invitation failed repeatedly with an inappropriate error in our logs"
I haven't fully investigated this but it looks like there might be a problem with rejecting guild invitations.

In the Report a Bug guild, KrispyGamer (3518183e-c25e-4729-9057-5bd95732d7e8) wrote:

"... my notifications have been a bit buggy. I got invited to a guild by someone and no matter how many times I rejected it, the notification would go away. Now it has finally disappeared but I am not g

[2018-01-15 16:44] seekheart commented on #9651
What's the status of this issue? If it's still open I'd like to help with the template :)

[2018-01-15 17:20] #7725 closed, assigned to nobody

[2018-01-15 17:30] #5974 closed, assigned to nobody

[2018-01-15 17:32] kartikadur commented on #9582
`tasks:order` action in store/actions/tasks.js as far as I can tell only seems to reorder tasklists based on `user.tasksOrder` and returns it without altering the store. It is only used in column.vue and tasks.js and acts like a utility/lib function rather than a store mutator. Was there a reason to put it where it is now?

[2018-01-15 17:32] #9771 closed, assigned to nobody

[2018-01-15 17:37] supertassu commented on #9192
There has been no progress on this for a while, can I take it? Thanks.

[2018-01-15 17:44] TheHollidayInn commented on #9453
I believe this was fixed by our task and mobile style updates.

<img width="244" alt="screen shot 2018-01-15 at 11 43 34 am" src="https://user-images.githubusercontent.com/1253400/34955285-5b60d132-f9e9-11e7-966c-672089caa536.png">

[2018-01-15 17:44] #9453 closed, assigned to nobody

[2018-01-15 18:07] TheHollidayInn commented on #9192
@ganes1410 Would you like to continue working on this? Sorry we missed your question.

@Tressley do you have an image we can use for the Facebook meta data.

@supertassu Since we didn't answer ganes, let's see if they want to work on it before we pass it off. We also have other issues we would love your help on while we wait.

[2018-01-15 18:09] TheHollidayInn commented on #9582
I think it was just a misunderstanding. The taskOrder function should be a library function rather than a store mutator.

[2018-01-15 19:01] supertassu commented on #9247
Can I give this a go?

[2018-01-15 19:12] #8518 closed, assigned to TheHollidayInn

[2018-01-15 19:34] #9496 closed, assigned to nobody

[2018-01-15 19:40] TheHollidayInn commented on #9247
Definitely!

[2018-01-15 19:43] #9586 closed, assigned to nobody

[2018-01-15 20:30] #9464 closed, assigned to nobody

[2018-01-15 22:44] lemoness commented on #9280
I've updated the labels on this issue.

[2018-01-15 22:55] jzhou69 commented on #9798
Can I take this as a first issue? It seems setting `showVisualBuffs` to `false` when creating avatars from this page fixes the problem.

[2018-01-15 23:22] lemoness commented on #9786
What about "Show All 23 Standard Pets"?

On Sat, Jan 13, 2018 at 12:38 AM, Alys <notifications@github.com> wrote:

[2018-01-15 23:25] lemoness commented on #8301
I haven't noticed it recently, so I'm closing this for now!

[2018-01-15 23:25] #8301 closed, assigned to nobody

[2018-01-15 23:32] lemoness commented on #9651
@JustinHurt Are you still working on this issue?

@seekheart Let's wait a few days for a response. In the meantime, you can check out the help wanted tag to see some of our other issues :)

[2018-01-15 23:59] Alys commented on #9807
Two more posts today, the first with a possible workaround!

monkiii (a8eaf70b-c913-42a6-87fe-8a35c068a489): "@Alys not sure what to look for in the JavaScript Console especially there seems to be no time stamp or, well I have no idea if I used the right thing. **But since I received a new message the problem seems to be solved**, in both browsers Chrome 63 and Firefox 57. I did nothing unusual, t

[2018-01-16 00:10] Alys opened #9809 "Invite Friends > Share User ID menu items do not work"
The items in the "Share User ID" menu aren't working ("Facebook", "Twitter", "Copy User ID", etc).

Steps to reproduce:

1. Don't be in a party.
2. Click the "Invite Friends" button in the header.
3. Click "Share User ID".
4. Click on any of the items in the menu that appears. Nothing happens. No Console message.

[2018-01-16 00:48] mandyzhou commented on #9786
Hmm, maybe I'm overthinking it, but that could be interpreted as saying that there are 23 standard pets it is possible to own. Maybe something like "Show All Standard Pets Owned (23)"?

[2018-01-16 00:51] Alys opened #9810 "new messages notifications for guilds sometimes don't take you to the guild"
Sometimes new message notifications for a guild won't take you to the guild.

donotgogentle🌼🌷🌻 (65be576c-c412-41c7-a31f-94994c8c4fc6) reports:
"When I click on the Guilds from the drop down menu in the top right corner, sometimes I'm not actually taken to the Guild. Sometimes I am, but sometimes nothing happens when I click on the Guild name."

and later:

"Just had that issue of not being taken t

[2018-01-16 01:02] Alys commented on #9807
monkiii's suggested fix worked for CinnamonBell. :)
_"@Alys Thank you so much! Yes it seems like the bug has been fixed on my end here, I'll ask my party member if she has any more issues and to see what is going on with it."_

The next time I see a report of this, I'll capture their inbox before and after I send them a PM, strip out the `text` fields (the ones containing the messages which should

[2018-01-16 02:19] dprice000 commented on #9694
I would like to take a try at this issue.

**EDIT:** Is there any difference between the old client and new client? Does the redesign affect this issues?

[2018-01-16 05:44] kartikadur commented on #9582
@TheHollidayInn thanks, thats good to know.

[2018-01-16 08:34] Alys opened #9811 "when you delete all user tasks from a deleted Challenge, the tasks don't disappear immediately"
When a challenge has been deleted or closed, and the challenge participant clicks on the red megaphone icon and chooses to delete all of the challenge's tasks (using the "Remove Them" button in the modal shown below), the tasks do not disappear immediately from their tasks page. They have to sync to see the tasks disappear.

The desired behaviour is that the tasks disappear as soon as you've selec

[2018-01-16 08:43] Alys commented on #9802
In the top post, I've ticked the bugs that are fixed. The others still happen for me. Also I've noticed this:

- [x] The delete link in the tasks's Advanced Settings should not appear for Challenge tasks.

[2018-01-16 08:45] Alys commented on #9798
@jzhou69 That would be great, thank you! Comment here if you have questions or run into trouble.

[2018-01-16 13:37] paglias commented on #9810
This will be fixed in #9716

[2018-01-16 13:39] paglias commented on #7617
Most of this issues will be fixed in #9716

[2018-01-16 13:39] #7617 closed, assigned to TheHollidayInn

[2018-01-16 13:39] paglias commented on #9337
Will be fixed in #9716

[2018-01-16 13:40] paglias commented on #6058
This will be fixed in #9716

[2018-01-16 15:50] TheHollidayInn commented on #9694
Please do! This is an issue with the redesign, so there is no relation to the old client.

[2018-01-16 17:09] tanelf commented on #9807
Here's the output from the Chrome Developer Console when I tried to send a message to Alys (disabled extensions, reloaded site, and clicked on the message icon from Alys' profile):

TypeError: Cannot read property '$el' of undefined at https://habitica.com/static/js/app.893d7f899cf827b2516e.js:1:579760 at Array.<anonymous> (https://habitica.com/static/js/vendor.98d50355e51999638701.js:1:88300) at

[2018-01-17 00:33] ghost commented on #9809
I'm interested in working on this

[2018-01-17 15:48] TheHollidayInn commented on #9787
I believe this is related #9582

[2018-01-17 15:53] TheHollidayInn commented on #9770
I'm adding tags to this. I think at least for some, we can do the refresh after the confirmation button.

[2018-01-17 16:25] Joseph67843 commented on #9586
One suggestion for this one and #9780 -

There are a number of other old-style URLs that broke with the redesign. (All links below are preceded by habitica.com)

The hardest ones are /#/options/profile/achievements, /#/options/profile/stats, /#/options/profile/avatar - I don't know of any link to open those screens.

The other broken addresses that I know of (I've swapped most of these from the wi

[2018-01-17 18:33] paglias commented on #9802
Fixed the delete link for challenge tasks

[2018-01-17 18:38] TheHollidayInn commented on #9802
[code]

This should be working now. I have added this to the api with a test.

[2018-01-17 18:41] SabreCat commented on #9453
Ah yeah, this was addressed in some fixes I did a while ago. Funny of me to have authored the ticket, then worked on the fix, and not linked the two XD

[2018-01-17 20:34] Alys commented on #9809
@nowmeow Thanks! Comment here if you have questions.

[2018-01-17 22:45] SabreCat commented on #9802
* [x] Market carousel is backward: clicking the right button rotates the list rightward instead of showing you the next item rightward in the list.

<img width="996" alt="screen shot 2018-01-17 at 4 44 04 pm" src="https://user-images.githubusercontent.com/4501321/35071369-17d57f44-fba6-11e7-8757-d36c9c6541ce.png">
click >
<img width="982" alt="screen shot 2018-01-17 at 4 44 09 pm" src="https://use

[2018-01-18 03:51] tsujin commented on #9774
After checking this on multiple browsers (edge, opera, chrome, all latest version) it appears this is unique to Firefox. I think it has something to do with the way that Firefox renders white-space between elements. If you scroll to the bottom of the menu, you'll notice the image of gold Habitica coins by the "Need More Gems?" link is also misaligned. I tinkered around a little bit with it just us

[2018-01-18 08:46] Alys opened #9817 "filter screen is hideous in Group Plan's Task Board page"
In a Group Plan's "Task Board" page, click the Filter button to see this:

![screenshot_2018-01-18_18-45-26](https://user-images.githubusercontent.com/1495809/35088526-d1ef379c-fc7f-11e7-9d30-5cc930b03762.png)

Thanks to Mark Ruzicka (72a98142-8a25-4051-9ac8-9c431c24d343) for reporting this.

[2018-01-18 09:33] Alys opened #9818 "two contributor reward modal strings should be merged into one"
We have these two strings in `website/common/locales/en/contrib.json` :
[code]
and this code that uses them in `website/client/components/achievements/contributor.vue` :
[code]

That's bad because translators can't do proper translations when a sentence is split into two strings, and because it causes words to be run on in the modal:

![screenshot_2018-01-18_19-30-16](https://user-images.githubuse

[2018-01-18 09:39] kent12t commented on #9818
Just adding on to this issue - so far I have never been notified on new contributor tier, so there's a chance only one string needs to be updated. :)

Edit: I'm on Android (App Version: 1.3.3)

[2018-01-18 15:48] SabreCat commented on #9802
The above is fixed, but a new carousel issue has emerged!

* [x] If you have 5 or fewer visible items in an inventory spinner, clicking left/right does not "spin" the items, but rather hides items down to 1, then cycles to showing them all again. The spinners should probably disable if they won't do anything, or at worst they could move items from the front to the back of the list or vice versa.

[2018-01-18 16:25] TheHollidayInn commented on #9817
This is on a small screen, right?

[2018-01-18 16:34] paglias commented on #9817
No I've seen it happening on big screens too

[2018-01-18 16:54] paglias commented on #9789
<img width="811" alt="schermata 2018-01-18 alle 17 53 30" src="https://user-images.githubusercontent.com/589911/35110278-af205c84-fc78-11e7-8d42-ce61bf21692a.png">

This is what it should look like

[2018-01-18 17:08] TheHollidayInn commented on #9808
I've confirmed this happens because the notification isn't remove from the menu when rejecting. @paglias Is this fixed in your new PR?

[2018-01-18 17:49] TheHollidayInn commented on #9745
Well, it looks like we have a test for ignoring the prize field during update... so I'm not sure where this is happening :(

[2018-01-18 17:50] librarianmage commented on #9745
Could some of them come from a migration? I don't know the specifics on how
the Challenges were changed with the UI update.
On Thu, Jan 18, 2018 at 11:49 AM Keith Holliday <notifications@github.com>
wrote:

[2018-01-18 17:59] paglias commented on #9808
this is actually still happening in my PR but it shouldn't, working on it

[2018-01-18 18:34] LunarGem commented on #8619
Haven't moved since October, unfortunately, haven't actually had a dev environment until this week. I'll see what I can do about this over the weekend maybe.

[2018-01-18 20:07] SabreCat commented on #9802
whoops. Tried to reference just my comment.

[2018-01-18 21:03] TheHollidayInn commented on #9745
Yea, it's possible although the dates would be from the same day. And we haven't been running a migration on multiple days.

[2018-01-18 22:18] kipraske commented on #9630
Alright another two weeks gone by, and I am back to being in good shape for this now using a new `pinnedItemsOrder` array to keep track of everything. Here is where I am at now:

* Everything is working like it should, and when you pin or unpin items, or change class to get a new set of seasonal items the order is preserved like one would expect.
* Any new item is placed at the top of the reward a

[2018-01-19 02:05] ghost commented on #9809
@Alys Was the functionality for this feature ever created?  The look and toggle of this menu is present, but I can't find function.  I will start creating it, but I thought I'd ask.  It just seemed odd.

[2018-01-19 04:29] seekheart commented on #9651
@lemoness alrighty, I'm gonna take this time to learn some vue :)

[2018-01-19 09:04] paglias commented on #9802
I think we can close this

[2018-01-19 09:04] #9802 closed, assigned to nobody

[2018-01-19 09:58] Alys commented on #9680
@TheHollidayInn I've just thought: Is the same fix likely to be needed for Group Plan Dailies? I.e., when you claim them or are assigned them, is `isDue` being set correctly? If you're not sure I can do some tests later.

[2018-01-19 11:01] Alys opened #9825 "Orb of Rebirth does not adequately describe its effects"
The Orb of Rebirth's description screen does not list all of its effects. Currently it says:

"Instantly restart your character at Level 1 while retaining achievements, collectibles, equipment, and tasks with history. This will take effect immediately."

I suggest expanding it to something like this:

"Instantly restart your character as a Level 1 Warrior while retaining achievements, collectibles

[2018-01-19 20:34] melarish commented on #9619
Hey all; I'm going on holiday for 3 weeks and haven't had the chance to work on this yet. If anyone wants to take over, feel free; if not, I'll resume once I get back!

[2018-01-19 21:29] Alys opened #9826 "Stats Points allocation should not be available when the class system is locked / opted out"
Before a player unlocks the class system (at level 10) or when they have opted out of the class system, they should not see the Stat Points and Allocation method section at the bottom of the User Icon > Stats screen. I.e., these elements should be hidden:

![screenshot_2018-01-20_07-26-49](https://user-images.githubusercontent.com/1495809/35172440-736b6c6a-fdb3-11e7-8f26-e900a3c84cc0.png)

This is

[2018-01-19 21:34] Alys commented on #9826
For the benefit of anyone working on this, a player who has not yet unlocked the class system has this in their data:
`"flags.classSelected": false`

A player who has opted out of the class system has this:
`"preferences.disableClasses": true`

[2018-01-19 22:45] TheHollidayInn commented on #9809
No, the UI was meant to be hidden if it isn't :P

[2018-01-20 02:02] Kiwilicious commented on #9818
Can I have a go at this issue?

[2018-01-20 04:39] Alys opened #9827 "challenge participants list should not contain "Promote to Leader""
Steps to show the bug:

1. View a Challenge that you own (or any challenge if you are a mod or staff).
2. Click on the "Participants" badge to the right of the Challenge's name.
3. Click on the three-dots menu for any participant.
4. Observe that it contains an entry for "Promote to Leader". That should not appear for Challenge participants.

It **should** appear when viewing the participants of a

[2018-01-20 05:06] Alys opened #9828 ""View Progress of" and "Select a winner" cannot be used for all Challenge participants"
_EDIT by Alys 2018-07-08_

Suggested solution ([from here](https://github.com/HabitRPG/habitica/issues/9828#issuecomment-366500306)):

**The list you get to from the participants badge could have a "view progress" button next to each member (in addition to the three-dots menu so you'd still have access to those functions). When you click the "view progress" button, you see the modal that you can g

[2018-01-20 06:45] Alys commented on #9450
This is still happening. MorganLeFlay (4485e177-2203-4a07-b4e7-6ab5cda3ef60) reported in the Report a Bug guild that an invitation sent using their email address failed and I've confirmed it. I entered an email address that had not previously been used with Habitica into my party's "Invite by Email" form and received the expected "Help Alys Fight Monsters (and Bad Habits)!" email at that address.

[2018-01-20 07:01] Alys opened #9829 "small user profile images are stretched too large"
In Bug guild, citrusella, the serving wench (2d6ef231-50b4-4a22-90e7-45eb97147a2c) says:

"Small style issue: Images displayed on profile seem to take up the full width of that column of the profile, even if they're not that big. For instance, my image is the same size as a Habitica avatar and it's displaying much larger than that."  [screenshot below]

Confirmed with my profile image too.

![scre

[2018-01-20 07:23] TheHollidayInn commented on #9827
I believe this only happens if you are a mod/staff because the `isLeader` prop fails if the memberModal is not for a group. Either way, I'm adding a challenge check.

[2018-01-20 07:42] Alys commented on #9818
@Kiwilicious Sure! Thanks! Post here if you have any questions.

[2018-01-20 07:50] TheHollidayInn commented on #9031
I'm pretty sure my chat PR fixes this. I'll link it.

[2018-01-20 08:02] TheHollidayInn commented on #9450
lol okay, so some emails do use the `p` param. I'll fix this tomorrow.

[2018-01-20 08:10] Alys commented on #9827
Ah, forgive me, I should have tested for the challenge owner case instead of just assuming! Thank you for the fix.

[2018-01-20 12:50] mandyzhou commented on #9810
In case it helps, I've noticed that when I click outside of the guild name, nothing happens, but when I aim directly at the letters, I'm taken to the guild.

[2018-01-20 14:50] paglias commented on #9478
@TheHollidayInn I think the modal is appearing twice because the code to show it exists twice, here https://github.com/HabitRPG/habitica/blob/acf4b4da63e8c6666c589f0534f624d27116dfb8/website/client/components/notifications.vue#L216-L221 and https://github.com/HabitRPG/habitica/blob/acf4b4da63e8c6666c589f0534f624d27116dfb8/website/client/components/notifications.vue#L320-L323, can we just remove on

[2018-01-20 18:30] jlrg1992 opened #9832 "What about if we make it a PWA?"
[//]: # (Before logging this issue, please post to the Report a Bug guild from the Habitica website's Help menu. Most bugs can be handled quickly there. If a GitHub issue is needed, you will be advised of that by a moderator or staff member -- a player with a dark blue or purple name. It is recommended that you don't create a new issue unless advised to.)

[//]: # (Bugs in the mobile apps can also

[2018-01-20 18:59] TheHollidayInn commented on #9478
Eh, we can't just remove one because one is reactive and one is a check after notifications are deferred for RYA. The section needs to be refsctored but it sounds like the death modal isn't updating the store or the user sync is off.

I can look into it more once your notifications PR is done because that should be cleaning up this section a lot.

[2018-01-20 19:30] seekheart commented on #9651
@lemoness do you wanna put a verdict?

[2018-01-20 20:03] nmassaro commented on #9826
May I work on this issue? :)

[2018-01-20 20:16] majestic-owl448 commented on #9826
This issueoggef about two weeks ago is pretty similar: https://github.com/HabitRPG/habitica/issues/9788

[2018-01-20 20:58] seekheart commented on #9362
In the data model is there a key that we can use to sort on for grouping by sets?

[2018-01-20 22:13] Alys opened #9834 "Checklists on Challenge tasks should be private to the participant"
When a participant adds a checklist to a task from a Challenge, it should not be possible for the challenge owner or any other player to see the checklist. The checklist shouldn't appear in the CSV export file or in the "View Progress" screen.

The checklists can also be seen when using the API directly, which should also not be possible.

[2018-01-20 22:15] Alys commented on #9834
Because this is an "priority: important" issue, I'm going to ask the staff if they can fix it asap. If any contributor wants to work on this, you can comment here to ask as usual, but please be aware that there might be a delay of a day or two in our reply and we might say that it's already being fixed. If this does end up being a contributor fix, we'd like it to be done fairly quickly so we might

[2018-01-20 22:23] Alys commented on #9834
The checklists can also be seen when using the API directly, which should also not be possible.

[2018-01-20 22:30] ghost commented on #9834
To clarify, because it's not clear (to me) from the initial comment, what I was reporting was that the Challenge Data Tool is able to retrieve checklist information. It is not in the exported .csv nor viewable on Habitica (as far as I know).

[2018-01-20 22:34] Alys commented on #9834
Sorry, yes, I didn't write that clearly and should have included your report.

It's just the API that's allowing checklist data to be seen.

[2018-01-20 22:44] Alys commented on #9807
I see that there's a fix for this being developed already, but in case it's helpful, we have another report with console logs from Piti! (9226cae6-d852-45da-a51b-ec2c9cb759e6) :

"Maybe further Information helps on the bug where PMs can't be opend.
Receiving new Messages doesn't help in my case.
I tried Internet Explorer aditionally. Console says:"

TypeError: Die Eigenschaft "substring" eines und

[2018-01-20 23:00] Alys opened #9838 "tasks page and other pages not loading correctly in Chrome, maybe other browsers"
I'm seeing a few reports in the Report a Bug guild like these ones, probably just since the most recent website deployment:

Intor (07b22cb3-57c3-42fa-8a31-471555d88003):
"I'm encountering a bug on the website, where if I'm opening up a window that I previously closed with habitica as the open tab, reopening it will cause the tasks page to be basically empty, but I can switch to a few other pages

[2018-01-20 23:01] Alys commented on #9838
Also other pages / menus, as sariahsue said in their first report. I'll post more when I see more.

[2018-01-20 23:04] Alys commented on #9838
Console log messages from sariahsue are below. I haven't yet gone through them to week out the parts that won't be relevant.

"Lots of things popped up. I hope you know what all that means, because I don't. (Except the slow network warning. That's probably normal for our internet connection. Ha ha.)"

moment.js:297 Deprecation warning: moment().zone is deprecated, use moment().utcOffset instead. h

[2018-01-20 23:45] TheHollidayInn commented on #9838
It sounds to me like opening Habitica from a Chrome History menu will open an older state of the site. This could possibly even be from chrome saving the local hash of our build files before a release.

[2018-01-20 23:46] TheHollidayInn commented on #9807
Eh, the language is different, but I am seeing bits and pieces of the error I fixed :P

[2018-01-21 03:34] TheHollidayInn commented on #9826
Go for it @nmassaro!

[2018-01-21 04:07] Alys commented on #9826
@Ieahleen they are related but they each need a fix in a different part of the code so it makes sense to do them separately. :)

[2018-01-21 04:47] Alys commented on #6482
We've just found a user whose details I won't release here who currently has these allocated and unallocated Stat Points:
[code]
That's not supposed to be possible. I'm about to fix their data since they'll probably be getting unexpected behaviour or possibly causing dramatic changes to their party members' Stats if they're casting buffs. I can give the User ID to other admins if they want it. We

[2018-01-21 06:00] Alys opened #9840 "Group Plan task's "Assigned To" close button closes the entire task"
The close button shown below closes the entire Group Plan task edit screen instead of closing just the list of users.

Steps to reproduce:
1. Go to the "Task Board" screen for a Group Plan you own.
2. Create a new task.
3. Click the "None" button under the "Assigned To" label.
4. Click the "Close" button in the new screen that appears (i.e, the button shown below). Observe that the entire task edi

[2018-01-21 06:14] Alys opened #9841 "raw code error message shown for various errors (e.g., sessionOutdated, challenge not found, delete Group Plan tasks)"
When a Group Plan task has been assigned to you and you try to delete it, you are correctly shown a red snack notification saying you can't do that, but the error message contains all of this text:
[code]
I.e., you see the json object not just the `message`

We should either make that message be formatted correctly, or (probably better) prevent anyone trying to delete active Group Plan task by not

[2018-01-21 06:36] Alys opened #9842 "deleted Group Plan task does not look deleted in member's task list"
It's not obvious when an assigned Group Plan task has been deleted from the Group. Steps to reproduce:

1. Go to the "Task Board" for a Group Plan you own.
2. Create a task.
3. Assign it to a Group Plan member.
4. In that member's account, sync to make the task appear in the user's Tasks screen.
5. In the Group's Task Board, delete the task.
6. In the member's account, sync again. Observe that the

[2018-01-21 07:03] Alys opened #9843 "Tier colors and markers should show in names in private Messages"
In the Messages screen, the names of the players should show their tier colours and icons. At the moment, they are black text with no icons:

![screenshot_2018-01-21_17-01-05](https://user-images.githubusercontent.com/1495809/35191680-c65e66ba-fecc-11e7-9027-645cf4d63df5.png)

For example, my name in that screenshot should be formatted as it is in guild messages like this:
![screenshot_2018-01-21_

[2018-01-21 08:25] citrusella commented on #9841
Is it possible this "all of this text" thing is happening with all error messages? I've seen some people report they've seen it happen on certain errors, and I know I've seen it happening on "session is outdated" and "challenge not found or you don't have access" (and group not found) errors (and probably another but I'm blanking on what I thought it was... (I was mentally keeping track to make su

[2018-01-21 08:29] paglias commented on #9838
The console errors seems to indicate a not working internet connection

[2018-01-21 09:02] Alys opened #9844 "exported CSV files from Challenges are wrong when a challenge participant has left the challenge"
Thanks to Anysia (db190b28-8ce5-422e-8076-d43a62a7b204) for reporting this in the Report a Bug guild, we've found that the exported CSV files from challenges can be wrong.

For any challenge where one or more participants have left the challenge, the exported task data for some or all of the remaining participants will be attributed to the wrong user. Some users' task data will not appear.at all.

[2018-01-21 09:03] Alys commented on #9844
Because this is an "priority: important" issue, I'm going to ask the staff if they can fix it asap. If any contributor wants to work on this, you can comment here to ask as usual, but please be aware that there might be a delay of a day or two in our reply and we might say that it's already being fixed. If this does end up being a contributor fix, we'd like it to be done fairly quickly so we might

[2018-01-21 09:24] Alys commented on #9841
That's very possible! I've just tested with the "Your session is outdated" message (complete a Daily in one tab then try completing the same Daily in another tab) and it has the same bug. I'm changing this issue's title to make it more generic. Thanks @citrusella

[2018-01-21 09:25] Alys commented on #9841
@citrusella Ugh, sorry, you gave exactly the "session is outdated" example in your own post. `facepalm`  I have a headache. :)

[2018-01-21 09:37] paglias commented on #9841
This is probably partly due to https://github.com/HabitRPG/habitica/pull/9747

[2018-01-21 09:47] paglias commented on #9478
Yeah but they all check user.stats.hp which is a reactive property so if this is called https://github.com/HabitRPG/habitica/blob/acf4b4da63e8c6666c589f0534f624d27116dfb8/website/client/components/notifications.vue#L320-L323 also this will be called https://github.com/HabitRPG/habitica/blob/acf4b4da63e8c6666c589f0534f624d27116dfb8/website/client/components/notifications.vue#L216-L221 because if us

[2018-01-21 09:58] paglias commented on #9832
Making Habitica a full PWA would be great but it's not a small task or something that can be done in one single step.

Having said that, we're happy to accept new PRs that make Habitica faster to load, more responsive, etc

[2018-01-21 09:58] #9832 closed, assigned to nobody

[2018-01-21 10:12] paglias commented on #9844
I think there are two ways to fix this:

1. Convert the members array to a map `{user1Id: user1Data, user2Id: user2Data}` and then match the task to the user with `users[task.userId]` but with many users it'll be a very slow op that I'd prefer to avoid. Advantage would be that we could stop sorting the results in the query

2. Change the code here https://github.com/HabitRPG/habitica/blob/9545f692

[2018-01-21 10:26] Alys opened #9845 "Tags filter button colour change is not obvious"
In the Trello [ACCESSIBILITY SETTINGS](https://trello.com/c/pxTcbKuD/381-accessibility-settings) card, S. L. Casteel wrote:
"The Tags dropdown button on the Tasks page has very little contrast between the gray when no tags are selected and the purple when tags are selected. I only realized today that the color changes, and even now that I know it, I have trouble seeing which color it is. It'd be h

[2018-01-21 10:30] Alys commented on #9845
As a note for anyone working on this once a new design has been provided, testing should be done with a browser extension that mimics the various kinds of colour-blindness to check that the difference is visible to anyone, for accessibility reasons. There's a lot of extensions to choose from and all the ones I've used in the past have been easy to use: https://www.google.com.au/search?q=browser+ex

[2018-01-21 10:37] paglias commented on #9844
I've posted a PR with a possible fix but it should be first tested on the challenge linked by @Alys

[2018-01-21 10:40] paglias commented on #9842
What if we simply remove the task from the user list? I'm not a big fan of adding another option to keep the task as it adds more complexity to the sync code that we'll have to support and in this case  the task only exists in the user list just because someone from the group plan has assigned it to them so I think it makes sense so remove it

[2018-01-21 10:45] Alys commented on #9844
For testing in a local install with our current `develop` code (NOT with PR #9791 merged in), you can create a challenge with one task, then have three users join it. Pick the user who has the **lowest** User ID when sorted alphnumerically and have that user leave the challenge.  For either **one** of the remaining users, complete the task so that it has a different value for that user. Click the

[2018-01-21 10:52] Alys commented on #9842
There could be good reasons to keep the task.

E.g., a parent gives a child a "clean teeth" task. The child does so well at it that the parent no longer needs to keep monitoring the child. The parent deletes the task from the Group Plan. However the child is so proud of their progress that they want to keep the task with its awesome streak and keep using it to make themselves even better. The chil

[2018-01-21 11:04] paglias commented on #9844
Hmm I wasn't able to replicate, I tried your process but got a correct CSV with and without my fix

[2018-01-21 11:21] shanaqui commented on #9842
My assumption was that a deleted group plan task would be treated like a deleted challenge task. As with challenges, someone might want to keep it for their own records, because they want to continue doing it, because they've made awesome progress, etc.

(`quietly removes comment showing self has bad reading comprehension`)

[2018-01-21 12:25] paglias opened #9847 "Port Inbox notifications to user.notifications"
After #9716 has been merged and mobile has introduced its own notification panel

------------

Some code (with issues) already exists

 - [ ] user.inbox.newMessages-- when reading notification, what about markPmsRead in userDropdown?
- [ ] old code, commented out https://github.com/HabitRPG/habitica/pull/9716/commits/073961bf059468b7d92ee444d2e3af87371af587

[2018-01-21 18:22] TheHollidayInn commented on #9478
checkUserAchievements is a method and is not called reactively. That is called manually after RYA is finished. But, either way, I'll test locally to see if I can recreate the issue because the second check should work. I added the first section because in some cases it wasn't, but that was a few months ago, so I'll revaluate.

[2018-01-21 20:35] Alys commented on #9844
Sorry, those exact test steps are failing to produce a bugged export file because it looks like the bug that does not remove the challenge ID from the user's `challenges` array does not occur all the time.

You can easily simulate the situation you need to test your fix though. Instead of this:
	"Pick the user who has the lowest User ID when sorted alphnumerically and have that user leave the chal

[2018-01-21 22:44] Alys commented on #9787
Chandramani Adil (Auror) reports:

"I discovered something really interesting about the bug which I recently reported here about the inability to reorder the dailies where reshuffling the dailies was not working the way it should, view automatically shifting to the due tab and dailies moving to random position. What I did was that I went to settings and unchecked the option **Set Dailies default t

[2018-01-21 22:48] TheHollidayInn commented on #9787
I've suggested this to a few users. I'm pretty sure the issue is with the lifecycle events and setting the due filter

[2018-01-22 09:00] Sebendarius commented on #3515
USER ID:
5b950817-d8b1-4328-92b2-d502f41a8f34

This also happened to me a few hours ago.
Hatched a Royal Purple Dragon-pet and got the notification and everything, but it haven´t appeared in my stable thus far.

It was my first pet hatched, so when i saw the Stable say I had 0/90 pets I figured something was amiss.

[2018-01-22 12:21] lamelija commented on #9721
Update: the check-in pop-up seems to have reappeared. Yesterday it came up and stayed, today as well. As far as I can remember I haven't done anything special. I was checked at the inn though and I checked myself out yesterday, but I'm not sure if that is relevant.

[2018-01-22 15:19] #8004 closed, assigned to nobody

[2018-01-22 15:20] #9817 closed, assigned to nobody

[2018-01-22 15:26] paglias commented on #9721
thanks for the update @lamelija , I'll close the issue but if it happens again just comment here

[2018-01-22 15:26] #9721 closed, assigned to nobody

[2018-01-22 15:28] #9517 closed, assigned to nobody

[2018-01-22 15:44] lex111 opened #9852 "Horizontal scroll on static pages"
[//]: # (Before logging this issue, please post to the Report a Bug guild from the Habitica website's Help menu. Most bugs can be handled quickly there. If a GitHub issue is needed, you will be advised of that by a moderator or staff member -- a player with a dark blue or purple name. It is recommended that you don't create a new issue unless advised to.)

[//]: # (Bugs in the mobile apps can also

[2018-01-22 15:53] lex111 opened #9854 "Missing translations for footer"
Headers "Company", "Community", "Developers" in footer at present are not translated, it would be nice to make them translatable strings.

It's kind of easy, I wanted to do it.

[2018-01-22 16:04] kartikadur commented on #9582
__update__ : I'm still working on this. Wrapping my head around existing code so I dont introduce new / reintroduce old bugs is taking slightly longer than anticipated. I should have a PR by this weekend.

[2018-01-22 16:11] TheHollidayInn commented on #9854
Please do! Thanks :D

[2018-01-22 16:12] lex111 commented on #9854
:ok_hand:

[2018-01-22 16:14] TheHollidayInn commented on #9852
Thanks for reporting and supplying a PR :D Which page is the screen shot from? I think we will want to update those images as well.

[2018-01-22 16:15] #7581 closed, assigned to nobody

[2018-01-22 16:15] #9829 closed, assigned to nobody

[2018-01-22 16:16] lex111 commented on #9852
Any static page, in the screenshot https://habitica.com/static/features

[2018-01-22 16:19] TheHollidayInn commented on #9852
Yep! I see the issue. I just wanted to get the page so we can update the images with our new designs. Thanks :D

[2018-01-22 17:03] TheHollidayInn commented on #6941
I believe this is still in progress, just waiting on some cron refactoring from me.

[2018-01-22 17:05] TheHollidayInn commented on #9223
I believe the issue here is that the checklists are input fields in the Edit modal. I'm not sure markdown can be rendered as the value of an input field.

[2018-01-22 17:27] paglias commented on #9223
When editing the items we can just display the text instead of using the markdown directive, or not?

[2018-01-22 17:30] TheHollidayInn commented on #7716
Judging from the reports and looking at the old PR, I believe the issue is the same. The user object is not updated before the modal is shown. Looking locally, I can see there is a lag and since we return notifications on each request this lag between updating the user and showing the modal is likely with some requests being pretty slow at times.

[2018-01-22 18:09] lex111 opened #9859 "Footer not stay bottom always"
### General Info
  * UUID: 2d57fd14-0fd1-4bf5-abe9-d65bb42fbc6f
  * Browser: Google Chrome 63.0.3239.132 / Safari 11.0
  * OS: Ubuntu 17.04 / macOS High Sierra 10.13

### Description

It floats half way down up the page on pages with less content (for example https://habitica.com/user/settings/data-export)

![image](https://user-images.githubusercontent.com/4408379/35236451-756aca18-ffb8-11e7-81ff

[2018-01-22 18:29] lex111 opened #9861 "Text overflowing of social buttons for long titles on login page"
[//]: # (Before logging this issue, please post to the Report a Bug guild from the Habitica website's Help menu. Most bugs can be handled quickly there. If a GitHub issue is needed, you will be advised of that by a moderator or staff member -- a player with a dark blue or purple name. It is recommended that you don't create a new issue unless advised to.)

[//]: # (Bugs in the mobile apps can also

[2018-01-22 21:38] TheHollidayInn commented on #3625
We've decided that the current method of cancelling and resubscribing is good.

[2018-01-22 21:38] #3625 closed, assigned to TheHollidayInn

[2018-01-22 22:15] Alys commented on #9223
In case it's not clear from the issue, the problem is emoji in tags within the task edit form:

![screenshot_2018-01-23_08-12-58](https://user-images.githubusercontent.com/1495809/35247209-45e7b8c0-0015-11e8-8088-234134653ca5.png)

I'll add that screenshot to the top post since the tag form has changed since this issue was logged.

It's true that emoji aren't displayed as images within the checkli

[2018-01-22 22:17] Alys commented on #9223
Sorry, here's a more complete screenshot showing the issue. Emoji (and markdown) should be parsed in both parts of the tag section in the task edit form.

![screenshot_2018-01-23_08-16-23](https://user-images.githubusercontent.com/1495809/35247330-b76939ec-0015-11e8-815b-f16837be5f6b.png)

[2018-01-22 22:21] TheHollidayInn commented on #9223
Ohhhh. That's much easier. I'll fix that.

[2018-01-22 23:05] Alys commented on #6482
I'm increasing the priority of this to medium. I've been seeing several reports of Stat Points (previously called Attribute Points) being incorrect lately so a bug has crept in somewhere that lets you get more than your level allows. An example is below.

I'm also going to look into how many players are affected by this from the top post:

I'll report back about whether I think we can get away wit

[2018-01-22 23:22] Alys commented on #9662
Hmmm, might be just Edge. We've just received this bug report from Crashback (1f4faadf-d2cb-4fb5-994e-7d9bc0d0706a):
"I am experiencing an issue where all of my pinned rewards are stacked in one box, making it impossible to select and purchase them without going to the market. I'm using Windows 10 and Microsoft Edge."

I'm adjusting the title of this issue to mention Edge.

[2018-01-22 23:26] Kiwilicious commented on #9818
@Alys Just took a look at it and if I understood correctly, the resulting code in `website/common/locales/en/contrib.json` as well as the other locales would have this format:

[code]

and the code in `website/client/components/achievements/contributor.vue` would look like:

[code]

This would make the whole message a link unless we don't want that?

[2018-01-22 23:31] TheHollidayInn commented on #9662
Sounds good. I can test on both.

[2018-01-23 00:08] Alys commented on #9818
@Kiwilicious That's a good point, thanks for mentioning it. There's a couple of ways around this.

One is to put the URL into the string as HTML text like this:
`<%= name %>, you awesome person! You're now a tier <%= level %> contributor for helping Habitica. See <a href="http://....">what prizes you've earned for your contribution!</a>`
That's not ideal because the translators might accidentally

[2018-01-23 00:29] Kiwilicious commented on #9818
@Alys Agreed that the second option would be less confusing for others working with the code. I'll change the `contribModal` and `contribLink` to what you have as complete sentences:

[code]

and add a break between the two sentences like so:

[code]

Is this fine?

[2018-01-23 02:17] Alys commented on #9818
Sounds good! If you include a screenshot of the result in your PR we can give further feedback then if needed.

[2018-01-23 07:23] lex111 opened #9863 "Double scrollbar when using modals"
[//]: # (Before logging this issue, please post to the Report a Bug guild from the Habitica website's Help menu. Most bugs can be handled quickly there. If a GitHub issue is needed, you will be advised of that by a moderator or staff member -- a player with a dark blue or purple name. It is recommended that you don't create a new issue unless advised to.)

[//]: # (Bugs in the mobile apps can also

[2018-01-23 08:57] bricksroo commented on #9843
I'd like to work on this issue, please.

[2018-01-23 09:12] Alys commented on #9843
@bricksroo Great, thank you! Comment here if you have questions.

[2018-01-23 15:14] lex111 opened #9864 "Registration error shows whole JSON object"
[//]: # (Before logging this issue, please post to the Report a Bug guild from the Habitica website's Help menu. Most bugs can be handled quickly there. If a GitHub issue is needed, you will be advised of that by a moderator or staff member -- a player with a dark blue or purple name. It is recommended that you don't create a new issue unless advised to.)

[//]: # (Bugs in the mobile apps can also

[2018-01-23 15:15] TheHollidayInn commented on #9863
This is because we ran into issues with our modals not removing the from the body tag and preventing the body from scrolling. We've updated the libraries since then, so we could check again. Although I haven't seen complaints about the current behavior.

[2018-01-23 15:16] TheHollidayInn commented on #9864
This issue is logged here: https://github.com/HabitRPG/habitica/issues/9841

[2018-01-23 15:16] #9864 closed, assigned to nobody

[2018-01-23 15:56] TheHollidayInn opened #9865 "Habits May Not Reset When Changing Custom Day Start"
Euxaes
UserID: 74cb6f51-0481-4f8d-b27e-6ae0fc34229c
Hi, my habits that reset weekly on Mondays did not reset. I happened to adjust my cron last Sunday by an hour earlier before midnight, in order to finish off a boss and that my damage is higher than usual on that day hence the adjustment. My cron time is back to midnight now. I think that has something to do with the habits non-reset. I cannot up

[2018-01-23 16:03] TheHollidayInn commented on #8248
We received another report of this issue:

[code]

I believe the cause is that we don't check to see if the user's pending items also complete the collection items.

[2018-01-23 16:36] #9811 closed, assigned to nobody

[2018-01-23 16:58] #9827 closed, assigned to nobody

[2018-01-23 17:28] #8088 closed, assigned to nobody

[2018-01-23 17:47] TheHollidayInn commented on #8500
I've seen another issue that is similar to this but now I can't find it. I'm pretty sure this error is caused by lifecycle functions in Vue attempting restore the due setting, but I will investigate further.

[2018-01-23 17:55] #9834 closed, assigned to nobody

[2018-01-23 18:14] mandyzhou commented on #9863
I've actually been meaning to post about this for a while but never got around to it. I think this bug is more problematic than it might appear to be at first glance because once you reach the bottom (or top) of a modal, the page scroll takes over. When I try to scroll to the bottom of a modal (e.g., to allocate my attribute points), I often unintentionally start scrolling the page behind it. This

[2018-01-23 19:31] TheHollidayInn commented on #8636
I'm not sure we will be able to include the profile name because the user route is not authorized when the user is banned.

[2018-01-23 22:58] Alys commented on #8636
No worries. It's fine to leave out the name for that reason.

On Wed, 24 Jan 2018, 05:31 Keith Holliday <notifications@github.com> wrote:

[2018-01-24 01:06] Kiwilicious commented on #9818
Could you direct me to the api endpoint for modifying contribution levels?

[2018-01-24 01:46] lemoness commented on #9786
That seems a bit long to me. "Show 23 Owned Standard Pets" is a little
shorter, but still clunky. Perhaps we should circle back to the design of
it? That being said, it will make it take longer. Perhaps the "Show 23
Standard Pets" could be added as a stop-gap, and hopefully that will reduce
some of the questions about where the pets have gone while we revisit this.

On Mon, Jan 15, 2018 at 4:49 PM

[2018-01-24 01:51] seekheart commented on #9786
Could it be something like "Show All" and have an indicator of how many pets owned in a chip?

[2018-01-24 10:04] Alys commented on #9818
There's no API route for it. Admins do it in a special admin-only interface in the Hall. Use "Make Admin" in the Debug menu in the footer of your local install website to turn your account into an admin and then you can give tiers in the Hall to that account or any other.

[2018-01-24 16:17] TheHollidayInn commented on #9536
Another report

[code]

[2018-01-24 16:51] TheHollidayInn commented on #9807
Another issue (different but similar) has come up:

[code]

[2018-01-24 18:39] paglias opened #9871 "MongoDB 4.0"
Things to keep in mind when upgrading:

- [ ] maxTimeMs
- [ ] apply transactions where needed
    - [ ] transactions are only available on replica sets
- [ ] review all issues and see what could be fixed after transactions are available

[2018-01-24 19:24] TheHollidayInn commented on #9863
Ah, very good point. We should definitely try to remove this work around then.

The issue is here: https://github.com/HabitRPG/habitica/blob/develop/website/client/app.vue#L94. There is also a note about what I described above (modals being dismissed without allowing the body to scroll).

Hopefully this is fixed by upgrading to bootstrap, but I think the issue is also related to https://github.com

[2018-01-24 19:26] TheHollidayInn opened #9872 "Menu's zindex is below snackbars"
Menus are hidden behind the snackbar notifiactions

![image](https://user-images.githubusercontent.com/2686586/35277741-c11137b0-0015-11e8-979d-29ef0448a2f9.png)

The zindex should be changed to be above 1041

[2018-01-24 21:25] cassidypignatello commented on #9825
I can grab this one!

[2018-01-24 21:45] TheHollidayInn commented on #9825
Thanks!

[2018-01-24 21:48] Kiwilicious commented on #9818
Thanks for all the help and being patient. Posted a screenshot on the PR.

[2018-01-24 21:57] lemoness commented on #9619
I've marked this issue as Help Wanted.

[2018-01-24 21:58] lemoness commented on #9651
@seekheart It's yours!

[2018-01-25 11:32] LulaV14 commented on #9841
@Alys as @paglias said, is because of the PR I send that fixed just #9213
I'm sorry I didn't checked for other type of error messages.
Maybe what we can do is catch the server errors so they can be a JSON that contains a ``message`` field, and then undo the changes from the PR I send?

EDIT: I may be able to fix it quickly, maybe I can send a PR tomorrow at end of day?

[2018-01-25 11:35] Alys opened #9874 "navigation / menu bar in header wraps onto two lines"
_This might be a duplicate; I thoiught we still had one open but I can't find it._

The navigation bar still wraps onto two lines on smaller windows / larger font/zoom sizes / longer values for Gold. This is from my laptop with a browser taking up the full screen width but with a sidebar open:

![screenshot_2018-01-25_21-33-34](https://user-images.githubusercontent.com/1495809/35386329-62e39e4a-02

[2018-01-25 13:41] lex111 commented on #9863
I fixed it, look please #9875

[2018-01-25 14:08] lex111 opened #9876 "Don't show advanced settings if it's not exists"
Depending on the conditions of the settings may be absent, then we need to hide the block with them.

![image](https://user-images.githubusercontent.com/4408379/35392196-2d5b40e0-01f2-11e8-812f-95c8436c30b5.png)

[2018-01-25 14:28] lex111 opened #9877 "Party's page improvement"
Small improvements in the design, you can accepts them? I showed on the screenshots.

Before:
![image](https://user-images.githubusercontent.com/4408379/35393041-dfeb7eee-01f4-11e8-9f62-d7016c6dbb62.png)

After:
![image](https://user-images.githubusercontent.com/4408379/35393052-e5d2998c-01f4-11e8-9559-ef616af701bd.png)

[2018-01-25 14:40] lex111 opened #9878 "Allow text wrapping on "I agree to follow the Community Guidelines" button"
[//]: # (Before logging this issue, please post to the Report a Bug guild from the Habitica website's Help menu. Most bugs can be handled quickly there. If a GitHub issue is needed, you will be advised of that by a moderator or staff member -- a player with a dark blue or purple name. It is recommended that you don't create a new issue unless advised to.)

[//]: # (Bugs in the mobile apps can also

[2018-01-25 14:57] lex111 opened #9879 "Icon "Cost" on "Create Reward" modal is not vertically centered"
[//]: # (Before logging this issue, please post to the Report a Bug guild from the Habitica website's Help menu. Most bugs can be handled quickly there. If a GitHub issue is needed, you will be advised of that by a moderator or staff member -- a player with a dark blue or purple name. It is recommended that you don't create a new issue unless advised to.)

[//]: # (Bugs in the mobile apps can also

[2018-01-25 14:58] lex111 commented on #9879
![image](https://user-images.githubusercontent.com/4408379/35394678-67e5b586-01f9-11e8-9bba-5d865c72ecd0.png)

[2018-01-25 15:03] lex111 opened #9880 "Inconsistent profile actions icons"
[//]: # (Before logging this issue, please post to the Report a Bug guild from the Habitica website's Help menu. Most bugs can be handled quickly there. If a GitHub issue is needed, you will be advised of that by a moderator or staff member -- a player with a dark blue or purple name. It is recommended that you don't create a new issue unless advised to.)

[//]: # (Bugs in the mobile apps can also

[2018-01-25 15:50] paglias commented on #9877
Positioning fixes look fine but we don't want to hide empty sections

[2018-01-25 15:54] paglias commented on #9879
Thanks, fixed in https://github.com/HabitRPG/vuejs-datepicker/commit/21d4e43a14380d6c6b2821afdfaa3ab4c7b465fe and https://github.com/HabitRPG/habitica/commit/b76d731cee33816e188e880b6abad997d06c0cc2

[2018-01-25 15:54] #9879 closed, assigned to nobody

[2018-01-25 18:13] lex111 commented on #9877
Ok, then I'll do PR?

[2018-01-25 18:14] paglias commented on #9841
Can we just check if the error object has a message property and in that case use that for the notification? Most server errors have it

[2018-01-25 18:18] TheHollidayInn commented on #9841
I'm pretty sure the PR I linked fix this. I ran into this while creating the banned modal.

[2018-01-25 18:18] TheHollidayInn commented on #9877
Go for it!

[2018-01-25 19:31] spacenate commented on #9233
@lemoness bump

[2018-01-25 19:43] librarianmage commented on #9233
You'll want to @ someone other than me. I can't accept PRs
On Thu, Jan 25, 2018 at 1:31 PM Nathan Sollenberger <
notifications@github.com> wrote:

[2018-01-25 19:58] LulaV14 commented on #9841
I'm still seeing this 😕
![screen shot 2018-01-25 at 11 55 44 am](https://user-images.githubusercontent.com/1399744/35409406-f7e087e8-01c6-11e8-8dd2-3db5570defa8.png)

@paglias I can do that quick right now

[2018-01-25 21:53] TheHollidayInn commented on #9841
My PR hasn't been merged yet but we can reconcile with your new PR :)

[2018-01-25 22:01] LulaV14 commented on #9841
Ohh okok I'm so sorry, I thought it was already merged.
I can close mine, 'cause I'm seeing yours and it does fixes other tickets apart from this issue right?

[2018-01-26 14:15] Alys opened #9890 "Dailies should have a checkbox for "Confirm that this Daily wasn't done before applying damage" for RYA"
_This was removed from the new website's design and we mentioned it in the initial flurry of bug reports but I can't find an issue for it. We can close this if it is a duplicate._

Dailies used to have a checkbox labelled "Confirm that this Daily wasn't done before applying damage". The default state was ticked, which meant that the Daily would appear in the Record Yesterday's Activity screen (RYA

[2018-01-26 14:26] Joseph67843 commented on #9890
Is this the same as #9622 ?

[2018-01-26 14:28] paglias commented on #9878
Maybe we should reposition the button? @Tressley

[2018-01-26 15:15] paglias commented on #9880
The approved design is here https://github.com/HabitRPG/habitica/issues/9626 but we had this PR that seems to be merged that should have addressed this https://github.com/HabitRPG/habitica/pull/9667 @SabreCat was it ever merged into develop?

[2018-01-26 15:40] Alys commented on #9890
Oh fer goodness sakes, I can't even find my own issues. :)  Thanks @Joseph98101 ! :)

[2018-01-26 15:40] #9890 closed, assigned to nobody

[2018-01-26 15:42] Alys commented on #9622
@Tressley Should this option appear in the new Advanced Settings section of the Dailies edit screen?

[2018-01-26 15:55] TheHollidayInn commented on #9878
Yea, I think it would be good if the button is a column and breaks to fit under the text.

[2018-01-26 16:16] Tressley commented on #9878
Yeah, for quick design fix, just center the text and then center the button under it.

[2018-01-26 16:17] Tressley commented on #9622
Correct. I'll add it to my designs.

[2018-01-26 16:58] pollaro commented on #9874
I've tried reproducing this, and I can't get it. I've added a subscription, added a ton of gold, zoomed.

[2018-01-26 18:17] Tressley commented on #9192
@TheHollidayInn -- Try this one!
![fb-meta-habitica](https://user-images.githubusercontent.com/2686586/35454236-32d73dea-029b-11e8-8949-9252d5c4875a.png)

[2018-01-26 18:22] pollaro commented on #9438
I've started looking at this, and I'm new to Vue. I see that there's a isUserLoggedIn in store and checked in the Vue routes, but I never see where it's changed to true. Couldn't we just have that query the session?

[2018-01-26 18:42] TheHollidayInn commented on #9438
I believe that is updated in the `Store`. Yea, we could query the cookie in the store the same way we query the local storage.

But I think what we are wanting with this fix is to change the `/logout` route on the server to something like `/logout-server`. This way, we can just set a request to that route to remove the cookie when a user logs out. And, if the user happens to type `habitica.com/log

[2018-01-26 18:44] TheHollidayInn commented on #9192
Thanks!

[2018-01-26 19:24] lex111 commented on #9852
Any news?

[2018-01-26 20:18] pollaro commented on #9438
Ok. I'll give this a go and see what I can do with it.

[2018-01-26 21:36] mandyzhou commented on #9874
I can reproduce this by gradually resizing the window (instead of zooming).

[2018-01-26 21:57] TheHollidayInn commented on #9438
Thanks!

[2018-01-27 01:46] rkojima commented on #9754
Hi @Alys, if this hasn't been fixed already, I could look into this!

[2018-01-27 11:43] lex111 opened #9897 "Plan group modal issue"
[//]: # (Before logging this issue, please post to the Report a Bug guild from the Habitica website's Help menu. Most bugs can be handled quickly there. If a GitHub issue is needed, you will be advised of that by a moderator or staff member -- a player with a dark blue or purple name. It is recommended that you don't create a new issue unless advised to.)

[//]: # (Bugs in the mobile apps can also

[2018-01-27 15:06] Alys opened #9899 "can buy pinned off-season avatar transformation buffs (Snowball, Shiny Seed, Seafoam, Spooky Sparkles)"
If you pin an avatar transformation buff to your Rewards list, then you can buy it at any time of the year, even when it's no longer available in the Shop.

The desired behaviour is both of these:
- The API should prohibit buying the buff outside its allowed time period
- If it's been pinned, it should become unpinned or invisible outside its allowed time period

[2018-01-27 16:35] TheHollidayInn commented on #9897
The scrolling seems right.

As for adding styles, we'd welcome that :D

[2018-01-27 17:37] Feywood commented on #9216
Okay, I'm fairly stuck on this one. Too many different options in equipment vs costume, I think. Still trying, but might still take a good while. Any hints/pokes in the right direction appreciated. Sorry!

[2018-01-27 18:01] seekheart commented on #9651
@lemoness thanks, I was checking out the code and was wondering how does the class `item` work? I noticed it isn't scoped in the styles so does it propagate from some main component's scss? Additionally I'm trying to find where the `margin: .5em;` lives xD

[2018-01-27 21:23] harakuri commented on #9800
Hey y'all, could I work on this one?

Thanks!

[2018-01-27 22:11] lex111 opened #9901 "Add smart app banner to web site"
See more - https://github.com/ain/smartbanner.js

[2018-01-28 02:42] Alys commented on #9754
@rkojima Thanks! Please do! Comment here if you have questions or run into trouble.

[2018-01-28 03:49] Alys commented on #9216
Don't be sorry! As you say, it's complex.

Considering glasses:

The current code is:
https://github.com/HabitRPG/habitica/blob/9545f692efdbea7ff4980c0c7ce20534585363e2/website/client/components/creatorIntro.vue#L203-L206
and:
https://github.com/HabitRPG/habitica/blob/9545f692efdbea7ff4980c0c7ce20534585363e2/website/client/components/creatorIntro.vue#L1022-L1036

So the glasses are `blackTopFrame`

[2018-01-28 06:08] kartikadur commented on #9899
Since I've been working on the task page for other stuff can I take this as well?

[2018-01-28 06:17] kartikadur commented on #9838
I also see some SSL & CORS related warnings. Could be related to that as well, since Chrome (Google) is updating its security policies.

[2018-01-28 06:29] Alys commented on #9800
@kuriharak93 Please do, thanks! Comment here if you have questions or find problems!

[2018-01-28 06:51] Alys commented on #9806
I'm reopening this because there's an intermittent problem in staging:

1. Go to the Tasks page and reload it.
2. Click on the To-Dos "Complete" tab. Observe that completed To-Dos appear.
3. Click the sync button. Observe the one of these will happen (seems to be random):
   a. All completed To-Dos disappear (the most common result from my testing)
   b. All completed To-Dos reappear briefly but t

[2018-01-28 07:45] Alys opened #9902 "add Task Alias field to all four task types"
Now that tasks have an "Advanced Settings" section again, the Task Alias feature can be returned. Details about that feature and a screenshot from the original website can be seen on the wiki's [Task Alias](http://habitica.wikia.com/wiki/Task_Alias) page, but in brief the feature involves:

- An `input` box for entering a small amount of text (a single-line field, not a textarea).
- A title/label

[2018-01-28 07:55] Alys commented on #9629
The "selected" spacing part is no longer relevant so I'm closing this.

[2018-01-28 07:55] #9629 closed, assigned to nobody

[2018-01-28 07:58] Alys commented on #9899
@kartikadur That would be awesome!

[2018-01-28 09:20] kartikadur commented on #9899
Is there anything I should know before starting on this?

[2018-01-28 22:46] librarianmage commented on #9872
Should this be marked as "In Progress"?

[2018-01-28 22:57] seekheart commented on #9651
@lemoness @Alys PR is ready whenever you guys are.

[2018-01-28 22:59] librarianmage commented on #9672
Would an end date for all Dailies be useful?

[2018-01-28 23:05] librarianmage commented on #9550
Is this still an issue?

[2018-01-29 03:24] Alys commented on #9672
An end date for users' Dailies is certainly a requested feature! Some people ask for it so that they can keep Dailies that no longer need to be active (e.g., for pride or auditing).

There's a clear case to be made for some kind of automatic end to be implemented for Challenge Dailies for this issue, and I think end dates are the best option. It would be nice (and simpler) if the same thing was do

[2018-01-29 09:26] ganes1410 commented on #9192
@TheHollidayInn  sorry , i am not working on this anymore

[2018-01-29 10:36] Alys opened #9904 "problems with changing language"
_I thought we had these bugs recorded already but I can't find issue(s) for them. This might be a duplicate though._

----

From Scea (9ae04082-7868-4042-b073-33b7a32cd573):
"if I change the language settings for the website, the site reloads but is still showing english menus and text. I need to do a manual refresh (F5) to get the german version of the site. And if I want to change back to Englis

[2018-01-29 14:15] Tressley opened #9905 "Task tag tooltip has incorrect margins"
The tooltip for displaying tags on a Task is being pushed down by an incorrect margin.
  * Browser: Chrome Version 64.0.3282.119 (Official Build) (64-bit), Firefox Quantum 58.0 (64-bit), Safari Version 11.0.2
  * OS: macOS High Sierra 10.13.2

![image](https://user-images.githubusercontent.com/2686586/35513966-beea5982-04d2-11e8-8a86-ff5f3fef527d.png)

[2018-01-29 15:17] TheHollidayInn commented on #9192
No worries!

[2018-01-29 15:18] TheHollidayInn commented on #9904
Is it similar or the same as this but with more browsers? https://github.com/HabitRPG/habitica/issues/9514

[2018-01-29 15:25] #9872 closed, assigned to nobody

[2018-01-29 20:48] #9561 closed, assigned to nobody

[2018-01-29 20:53] #9717 closed, assigned to nobody

[2018-01-29 20:56] #7379 closed, assigned to nobody

[2018-01-29 20:57] #9756 closed, assigned to nobody

[2018-01-29 21:00] #9746 closed, assigned to nobody

[2018-01-29 21:02] #9731 closed, assigned to nobody

[2018-01-29 21:05] #9826 closed, assigned to nobody

[2018-01-29 21:08] #9852 closed, assigned to nobody

[2018-01-29 21:11] #9854 closed, assigned to nobody

[2018-01-29 21:16] #9798 closed, assigned to nobody

[2018-01-29 21:18] #9878 closed, assigned to nobody

[2018-01-29 21:27] SabreCat commented on #9880
Yeah, that was merged ages ago!

[2018-01-29 21:28] SabreCat commented on #9880
Actually, derp. That PR reinstated the block button that was missing. Tweaking the alignment etc. could still be done.

[2018-01-29 21:30] #9818 closed, assigned to nobody

[2018-01-29 21:32] #9825 closed, assigned to nobody

[2018-01-29 21:44] #2578 closed, assigned to Alys

[2018-01-29 21:44] #9877 closed, assigned to nobody

[2018-01-29 22:23] #9844 closed, assigned to nobody

[2018-01-29 23:26] lemoness commented on #9672
I also like the idea of end dates, because they're something that can be
broadly applied!

On Sun, Jan 28, 2018 at 7:24 PM, Alys <notifications@github.com> wrote:

[2018-01-30 01:14] Alys commented on #9904
No, https://github.com/HabitRPG/habitica/issues/9514 is about how Firefox won't let the new setting be saved at all. In other browsers, the setting is saved but one or more manual reloads are needed for the website to pick up the change.

[2018-01-30 01:20] Alys commented on #9899
@kartikadur I can't think of anything, but comment if you can't find the code you need.

[2018-01-30 07:08] bricksroo commented on #9843
@Alys I've got WIP fix for this, but have a question for you. The contributor info was not part of the inbox message data, which this PR adds for all new messages going forward. However, I'm not too sure how to go about fixing existing messages. That would need to be an edit to the DB, correct?

[2018-01-30 11:44] Alys commented on #9843
@bricksroo  You're right, we would need to edit the database to fix the old messages, but we won't worry about it. It's acceptable that older messages won't have the tier formatting. A migration would be slow and if anything went wrong, we might corrupt users' inboxes. Thanks for the PR!

[2018-01-30 11:47] Alys commented on #9550
Yes, I believe it is. We had this report in the Report a Bug guild earlier today from lava_rat (cb5afdee-9f22-490d-87a1-a11cdaff45de):

"on the Stable page, when I hover my mouse over my animals, these annoying black boxes keep appearing. They don't have any words on them. And it's really hard to get them to go away! I have to like wave my mouse around them. And several appear at once. It's annoyi

[2018-01-30 15:23] #8116 closed, assigned to TheHollidayInn

[2018-01-30 15:23] #9628 closed, assigned to nobody

[2018-01-30 17:44] bricksroo commented on #9843
Alright sounds good. Thanks!

[2018-01-30 17:55] paglias opened #9913 "UI lags after RYA and checkin modals are shown"
I've noticed that the first time I open Habitica during the day and the RYA (the dailies modal) and checkin modals show up the UI remains super laggy after I've closed them. Reloading the page fixes the problem.

It's possible a memory leak is being created

[2018-01-30 18:15] TheHollidayInn commented on #9913
There are plenty of event listeners around there. I'll check to make sure we are unsubscribing.

[2018-01-30 22:27] lex111 opened #9916 "Error occured while trying to proxy to..."
After the last update, I have such an error:

[code]
[code]
![image](https://user-images.githubusercontent.com/4408379/35594819-94a6d75a-0625-11e8-9bef-e9f36823e540.png)

I tried to remove `node_modules` and reinstall the modules, but this did not work. Help me please.

[2018-01-30 22:38] paglias commented on #9916
Not familiar with docker, but what the logs from the server say?

[2018-01-31 00:32] rkojima commented on #9754
Hmm I didn't realize that trying to get IE11 on OSX is pretty hard... Any suggestions?

[2018-01-31 00:58] alfill commented on #8917
Excuse me, a string "theseAreYourTasks": "These are your <%= taskType %>" in the tasks.json file better to be static, otherwise, I can't translate and it looks ugly - https://snag.gy/vBj9nH.jpg

[2018-01-31 01:17] rkojima commented on #9861
Hi @lex111, I could take a look at this!

[2018-01-31 02:30] Kiwilicious commented on #9897
If this issue is still open, I can style the checkbox and radio button.

[2018-01-31 03:17] TheHollidayInn commented on #9897
Go for it!

[2018-01-31 05:50] lex111 commented on #9916
How can I see them?

[2018-01-31 06:21] Alys commented on #9916
Look in the terminal windows where the npm start and npm run commands are running. The server's output and error messages are there.

[2018-01-31 08:10] paglias commented on #9754
Microsoft has free virtual machines that you can download to use IE11 or edge

[2018-01-31 09:34] paglias commented on #9916
@lex111 Docker has been updated recently, maybe try to reinstall? See https://github.com/HabitRPG/habitica/pull/9724 for the changes

[2018-01-31 10:55] #9337 closed, assigned to nobody

[2018-01-31 10:55] #9785 closed, assigned to nobody

[2018-01-31 10:55] #6058 closed, assigned to nobody

[2018-01-31 10:55] #9808 closed, assigned to nobody

[2018-01-31 10:55] #9810 closed, assigned to nobody

[2018-01-31 13:10] lex111 commented on #9916
Here is logs:

Client
[code]

Server
[code]

@BradLugo can you help me?

[2018-01-31 13:18] paglias commented on #9916
Ah that's due to a change in the config file we made. There are two new
keys in the config.json.sample file that you have to add to your
config.json file: session secret IV and session secret key

Il 31 Gen 2018 14:10, "Alexey Pyltsyn" <notifications@github.com> ha
scritto:

[2018-01-31 13:18] #9916 closed, assigned to nobody

[2018-01-31 13:39] lex111 commented on #9916
@paglias thanks for your help. Errors from the server were lost, but did not solve the problem :(

As before, this is:
[code]

However, the server opens in the browser, but ...

[code]

Why `localhost:8080` instead of `localhost:3000`?

[2018-01-31 13:41] paglias commented on #9916
localhost:8080 is the client server and proxies request to the webserver at port 3000. Can you try to reload after a bit? The webserver might take a bit to start. @TheHollidayInn ideas?

[2018-01-31 13:43] paglias commented on #9916
Otherwise try by deleting everything and reinstall from scratch. Unfortunately I don't use docker for my local development so I cannot help. Try to post in #9724 but I think the people there said it was working

[2018-01-31 13:47] lex111 commented on #9916
Hooray, everything worked well after I restarted a second time (it's strange, after adding the missing keys to `config.json`, I restarted the server, well, it does not matter). Thanks again @paglias

[2018-01-31 14:31] Gabomfim opened #9917 ""This web page has been reloaded because it was consuming significant memory""
Habitica is getting kinda heavy, we could clean up some codes to improve performance. I am using a MacBook Pro in safari and I am getting this error when I try to reload the page:

#"This web page has been reloaded because it was consuming significant memory"

It's not happening very often, but it could cause some problems in the future, since it's a low priority error, I suggest a constant cleanu

[2018-01-31 15:35] paglias commented on #9917
@Gabomfim do you have a large amount of tasks?

[2018-01-31 17:09] Gabomfim commented on #9917
Not really, just Brackets(text editor), terminal, safari and finder(similar to file explorer in windows)

[2018-01-31 17:11] Gabomfim commented on #9917
I had some problems with my internet connection as well, it was very very slow. But I don’t think it caused this problem.

[2018-01-31 17:11] deilann commented on #9917
Pretty sure Matteo meant tasks, as in Dailies, To-Dos, Habits, and Rewards.

On Wed, Jan 31, 2018 at 9:09 AM, Gabriel Silveira <notifications@github.com>
wrote:

--
Currently Reading
<https://www.goodreads.com/user/email_signature_destination/35215676?utm_medium=reading_link&utm_source=email_signature>
[image: Book Cover]
<https://www.goodreads.com/user/email_signature_destination/35215676?utm_med

[2018-01-31 17:16] Gabomfim commented on #9917
Nope, I just shrinked the screen. Actually i think its a problem with MacOS. If you read the link i sent up there you can see that it has more to do with the SO, than the site. Maybe we can do nothing about it

[2018-01-31 17:56] paglias commented on #9917
I'm on a macbook pro myself, although I use Chrome mainly. What I've been noticing is that there are some slowness every time you open Habitica for the first time of the day, but if you refresh later it gets much faster. But there's definitely room for improvement in how we render everything. I'm going to close this in favor of #4605 but I'm going to look into this in the next few weeks

[2018-01-31 17:56] #9917 closed, assigned to nobody

[2018-01-31 23:46] SabreCat commented on #9807
@TheHollidayInn Should #9869 have closed this?

[2018-02-01 00:23] TheHollidayInn commented on #9807
No, but I pushed the commit here: https://github.com/HabitRPG/habitica/commit/7b026fa32cc2b2794fb9af40b0435863a0d9dbef

[2018-02-01 01:12] Redmega commented on #9460
I believe it's because `client_id` is undefined? These are the request params:
[code]

[2018-02-01 05:46] amandaducrou commented on #9192
Is this issue still occurring?

![screen shot 2018-02-01 at 3 45 44 pm](https://user-images.githubusercontent.com/6693909/35663033-025467ee-0767-11e8-88fd-d544407166e4.png)

[2018-02-01 07:06] paglias commented on #9807
Was it deployed?

[2018-02-01 07:59] kartikadur commented on #9905
I can look into this if no one else wants it.

[2018-02-01 10:16] ghost commented on #9536
+1, also experiencing this issue.

[2018-02-01 10:51] paglias commented on #9905
@kartikadur thanks but there's an open PR here https://github.com/HabitRPG/habitica/pull/9910

[2018-02-01 11:55] kartikadur commented on #9905
@paglias no problem

[2018-02-01 15:35] TheHollidayInn commented on #9807
Yea, that's from release.

[2018-02-01 17:56] #9807 closed, assigned to nobody

[2018-02-01 17:57] SabreCat commented on #9192
Looks like the issue as reported is fixed, but it might be cool to get @Tressley's suggested image in there for fancification!

[2018-02-01 20:10] MrFifths commented on #4174
9b7bc28f-77a2-4e6b-a3e2-9cfd1663f4b8

I have this issue. Not doing any dmg two days in a row now despite casting dmg spells and completing tasks.

I am shown in party list, have refreshed messages, and still nothing. Other party members are doing dmg OK.

[2018-02-02 04:20] Kiwilicious commented on #9897
File at `/client/components/groups/groupPlan.vue`
Relevant SCSS at `/client/assets/scss/form.scss`
This is what I have currently with the original code commented out:
[code]
![screenshot from 2018-02-01 20-18-25](https://user-images.githubusercontent.com/20009133/35716352-4c2ff790-078d-11e8-9a78-acf47b94de7d.png)

The radio button is working fine but the checkbox input isn't registering the click.

[2018-02-02 05:38] ghost commented on #9210
Hey sorry, it's been a while. Have been finishing up another project. Getting stuck into this now but just had a question. I'm using VS Code and due to the way things are laid out, having some trouble finding an efficient way of navigating to variable implementations without checking them all manually. Any suggestions or better IDE's for doing that in?

[2018-02-02 08:11] paglias commented on #9897
The checkbox input should have an id attribute and the label a for attribute with the same value of the input id

[2018-02-02 08:46] Alys opened #9923 "corrupt notifications array causes "User validation failed" errors"
It's possible for users to have just this as their `notifications` array:
[code]

When that happens, they get repeated user validation errors like this when completing tasks, buying items, etc, etc:
[code]

![screenshot_2018-02-02_18-44-24](https://user-images.githubusercontent.com/1495809/35724352-1dc91c58-0849-11e8-9230-a0e65380d504.png)

I've searched the users who have logged in in the past tw

[2018-02-02 08:56] #9913 closed, assigned to nobody

[2018-02-02 09:00] paglias commented on #9923
Keep me updated about this, I can't find anything that would cause this so hopefully it's due to some people having corrupt notification data from before

[2018-02-02 09:15] Alys commented on #9923
A similar problem from a user who hasn't logged in today and so they weren't included in my initial search:

`"notifications":[{"updatedAt":"2016-12-07T17:48:18.877Z"}]`

That's likely to be from old corrupt data though.

[2018-02-02 09:41] Alys commented on #9923
It's more widespread because the `"seen":true` data can occur with other non-corrupt notifications. I still have no evidence about whether it's a once-off or ongoing problem but I expect to have a better idea when I've done some more searching and fixes.
[code]

[2018-02-02 09:46] Alys commented on #9923
And `null` notifications:
[code]

[2018-02-02 09:51] paglias commented on #9923
The fact is notifications have been around for months now, the only thing
that changed is that a new field was added. And validation didn't change.
So there's something that causes them to get corrupted / skip validation

Il 02 Feb 2018 10:46, "Alys" <notifications@github.com> ha scritto:

[2018-02-02 10:16] Alys commented on #9923
Proof that it's an ongoing problem:

data captured at 18:58 :
[code]

data captured at 19:13 for the same user:
[code]

data captured at 20:12 for the same user:
[code]

[2018-02-02 10:17] Alys commented on #9923
So we need to urgently either find what's causing this and push a fix, or push a temporary code change that prevents `notifications` data from throwing validation errors.

[2018-02-02 10:47] Alys commented on #9923
I've searched through all our users and found less than two dozen affected. All had `auth.timestamps.loggedin` dates from the past couple of days.

I've fixed them all but I'll periodically re-check users who've logged in in the past day to pick up new occurrences.

[2018-02-02 10:59] Alys commented on #9923
One more has appeared (now fixed). [Loggly shows](https://habitica.loggly.com/search#terms=5ea6018f-6296-4ea2-b52b-0f6af61bcabe&from=2017-01-31T00:00:00.000Z&until=2018-02-02T10:56:07.619Z&source_group=) that user had two "NotFound: Notification not found" errors around `2018-02-02 10:29` then "ValidationError: User validation failed" at `2018-02-02 10:31`

[2018-02-02 11:34] Alys commented on #9923
A new example:

at 20:53:
[code]
at 21:14:
[code]

The only [Loggly errors](https://habitica.loggly.com/search#terms=e66a1ed6-f67e-4dc2-96fd-a85604d13877&from=2017-01-31T00:00:00.000Z&until=2018-02-02T11:19:58.973Z&source_group=) for today are three `ValidationError: User validation failed` errors for these all around `2018-02-02 11:00`:

- `originalUrl:/api/v3/user/read-card/congrats`
- `original

[2018-02-02 11:55] Alys commented on #9923
After several attempts, I can't replicate the bug by triggering then clearing cron notifications, or clearing other notifications while a cron notification exists, so that's good. :)

[2018-02-02 16:14] Userbane commented on #9753
I've been getting errors, like the one shown below, on my local version (ver. 4.21.0).
Is this to be expected? If not, I may need help finding where "pushAll" is being used.

![screenshot 6](https://user-images.githubusercontent.com/18677516/35742084-635cc35e-0831-11e8-8aa6-b26246936ee8.png)

[2018-02-02 16:15] paglias commented on #9753
It looks like you're using mongodb 3.6 which we don't support yet

[2018-02-02 16:20] Userbane commented on #9753
Which version of mongo is currently supported?

[2018-02-02 16:23] Userbane commented on #9753
nvm the wikia says 3.4

[2018-02-02 18:21] #8441 closed, assigned to nobody

[2018-02-02 18:22] #9797 closed, assigned to nobody

[2018-02-02 18:24] #9450 closed, assigned to nobody

[2018-02-02 20:41] kipraske commented on #9630
Yay I figured out the popover bug. I hope I did it the right way. It turns out that vue does not work like react! Well that was the last major roadblock to getting feedback so I will open a pull request now.

[2018-02-03 03:19] Alys commented on #9923
This PR: https://github.com/HabitRPG/habitica/pull/9929 has temporarily adjusted the notification schema so that the missing fields in `{"seen":true}` notifications are no longer mandatory and hence validation errors are not thrown. This has removed the damaging effect on the users so I'm moving this down to a medium priority. We should still find and fix the root cause of course but I no longer s

[2018-02-03 04:30] EightsCuh commented on #7758
i use os=Windows 8.1

[2018-02-03 08:48] Alys opened #9932 "Tavern UI changes needed to match recent Guild and Party changes"
In PR https://github.com/HabitRPG/habitica/pull/9892, changes were made to the Guild and Party pages.

Those changes should also be made to the Tavern, where appropriate.  E.g., member list changes are not needed, changes to the buttons are.

_(Thanks to sonnet73 for pointing this out in the Report a Bug guild.)_

[2018-02-03 09:18] Alys opened #9933 "pinned off-season Magic Hatching Potions, Greeting Cards, Quest Bundles should not appear to be purchasable"
If you pin a Magic Hatching Potion to your Rewards list, when that potion is no longer available for purchase, the pinned item acts as if you can still purchase it. You can click on it, select the number to be bought, and then confirm the purchase. You see a message saying that you've bought the Potion(s).

However the Potions are not actually added to your Inventory and the Gems are not subtracte

[2018-02-03 09:50] Alys opened #9934 "Food from Enchanted Armoire should be visible immediately"
When you obtain Food from the Enchanted Armoire, and then go to your Inventory or Stable to see it, it is not immediately visible. You have to sync before it appears.

The desired behaviour is that it should appear immediately.

[2018-02-03 10:12] Alys opened #9935 ""Delete Completed" To-Dos button should not appear in Challenge page or Group Plan Task Board"
The "Delete Completed" button for removing To-Dos should not appear in a Challenge's page:

![screenshot_2018-02-03_20-09-32](https://user-images.githubusercontent.com/1495809/35766151-218d8ccc-091e-11e8-9686-575bbe07c0b0.png)

Nor in the Task Board of a group with a Group Plan:
![screenshot_2018-02-03_20-10-39](https://user-images.githubusercontent.com/1495809/35766158-499bf29e-091e-11e8-9a84-22e

[2018-02-03 10:22] Alys opened #9936 "Quests that cannot be started should have a clear message saying that"
When you own a Quest scrolll but are currently not allowed to use it to start a Quest (e.g., because you are not high level enough to start it), it should be obvious why you can't use it when you look at the scroll in your Inventory or in the Party page when you have clicked the button to choose a quest.

Currently, there is no indication that you're not allowed to start such a quest. If you try t

[2018-02-03 10:55] paglias commented on #9210
Unfortunately there isn't an IDE that helps given the way our strings are setup :(

[2018-02-03 10:59] Alys commented on #9861
@rkojima Thank you!

@Tressley What's the desired method to fix this that rkojima should implement? For example, should the buttons expand horzontally to be as wide as needed to fit the text? Or should the text wrap and the buttons expand downwards? Or something else?

[2018-02-03 11:06] Alys commented on #9210
Do we need to consider the Android and iOS repos when searching for string usage? I.e., does the source code for the apps use any of the website's strings directly?  @vIiRuS

If the apps use the strings only indirectly in messages that are returned by the API, then we don't need to search in those repos.

[2018-02-03 11:10] paglias commented on #9210
I think apps manage their own strings

[2018-02-03 11:29] Alys opened #9937 "Party name can be blank in the new message notification"
shanaqui reports that the name of their party was blank in one of the new chat message notifications they received (screenshot below). This is an intermittent error, not a constant one. They write:

"My party definitely has a name...
Once the notification was cleared and then a new one generated, it had the name...
I cleared my notifications before I went to bed last night, so that one was generat

[2018-02-03 12:31] phillipthelen commented on #9210
The apps don‘t use any of the strings from this repo directly. They only
use the content and response strings from the api

--
Phillip Thelen
Sent with Airmail

On 3. February 2018 at 12:06:23, Alys (notifications@github.com) wrote:

[2018-02-03 21:36] Alys commented on #9923
This commit was made about a day ago to prevent the invalid `{"seen":true}` notifications from causing user-visible error messages:
https://github.com/HabitRPG/habitica/commit/4e01b14874c43496296da4d8beaba181e7c62ec5

[2018-02-03 21:42] Alys commented on #9923
In the past 21 hours, there have been 78 new instances of users having just `{"seen":true}` or `null` as a notification (that's found in database data, not reported by users).

@paglias has said there's a new variant too: "with {id, seen, data} but not type"

[2018-02-03 21:46] Alys commented on #9923
The `null` notifications are a critical error. They prevent you being able to use Habitica. The console log says `Impossible to fetch user. Clean up localStorage and refresh.`
Loggly says:
[code]

I'm raising this to an important priority again until we have a fix or workaround for that. I'm going to check for the null notifications in all user accounts repeatedly today and fix them when I find th

[2018-02-03 21:48] Alys commented on #9923
Four users found with `null` notifications and fixed (one of them reported this in an email which is how I discovered this bug).

[2018-02-03 23:29] Alys commented on #9242
I'm reopening this because we've had reports that it's still happening sometimes:

Catalin (1d7e2c6a-00ea-478f-85d6-702f70a1e5aa):
"OBSERVATION: If there is say a notification from the "Party" and you click on Party on the menu, not on the notifications list, the notification won't disappear. The only way to make it disappear is if you click on it, directly, in the notifications list. EXPECTED: Th

[2018-02-03 23:37] joedragons commented on #9242
I have noticed that sometimes my number turns grey and then cleared it manually.  I noticed this morning I was more patient and the grey cleared on its own.
I also noticed once I clicked discard all and got an error.
But I haven't seen this exact behavior again...only one voice/set of eyes tho=)  Hope that helps.

[2018-02-03 23:44] Alys commented on #9923
Another 6 users with `null` notifications.

[2018-02-03 23:57] Alys opened #9944 "pending items found towards Collection Quest should be visible on the Party page"
When you take part in a Boss Quest, the amount of your pending damage is shown in the party page like this:
![screenshot_2018-02-04_09-49-18](https://user-images.githubusercontent.com/1495809/35772825-b6660082-0990-11e8-9905-c7816da8da03.png)

We want a similar display for pending items found when you take part in a Collection Quest. There is no need to state what kind of items have been found (an

[2018-02-04 00:03] Feywood commented on #9944
Would gladly take this on.

[2018-02-04 00:41] Alys commented on #9923
I'm pretty sure the invalid {"seen":true} notifications are preventing the RYA screen from appearing in the Android app (and therefore preventing cron from running). When I set my `lastCron` date to the past and add one of those invalid notifications to my account, and then sync the Android app many times, RYA never appears. As soon as I remove the invalid notification and sync, RYA appears. I've

[2018-02-04 03:05] Alys commented on #9944
Thanks! It's yours.

[2018-02-04 07:46] ghost commented on #9210
Hey thanks for the reply, found a work around that should speed things up using VS2017 :)

[2018-02-04 10:53] paglias commented on #9923
Writing a fix for this

[2018-02-04 13:51] paglias commented on #9242
This should be fixed once https://github.com/HabitRPG/habitica/pull/9679 goes live at the end of the week

[2018-02-04 14:52] paglias commented on #9923
Invalid notifications should be handled correctly after https://github.com/HabitRPG/habitica/commit/4efbbd7bac9e44a0792e50a7b0f92a882575df41 (and following commits to fix tests and typos)

[2018-02-04 15:32] Alys commented on #9923
I've fixed the notifications for about 130 users today. I've just done a final sweep now for today, and I'll do another one tomorrow morning (in about 8 hours) if the fix isn't live by then.

[2018-02-04 17:50] deilann commented on #9944
It'd be nice if we could see what items have been found for collection
quests where you have to find multiple types of items...

<http://www.avg.com/email-signature?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail>
Virus-free.
www.avg.com
<http://www.avg.com/email-signature?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail>
<#DAB4FAD8-2DD7-40BB-

[2018-02-04 20:50] lex111 opened #9951 "Excess padding left and right on groups page"
[//]: # (Before logging this issue, please post to the Report a Bug guild from the Habitica website's Help menu. Most bugs can be handled quickly there. If a GitHub issue is needed, you will be advised of that by a moderator or staff member -- a player with a dark blue or purple name. It is recommended that you don't create a new issue unless advised to.)

[//]: # (Bugs in the mobile apps can also

[2018-02-04 21:20] Alys commented on #9944
That's not possible because the types of items found are determined at cron. The user's account stores only a total number.

[2018-02-04 21:28] deilann commented on #9944
Unfortunate.

<http://www.avg.com/email-signature?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail>
Virus-free.
www.avg.com
<http://www.avg.com/email-signature?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail>
<#DAB4FAD8-2DD7-40BB-A1B8-4E2AA1F9FDF2>

On Sun, Feb 4, 2018 at 1:20 PM, Alys <notifications@github.com> wrote:

--
Currently Reading
<h

[2018-02-04 22:27] Alys opened #9952 ""UNALLOCATED_STATS_POINTS" notification for players under level 10"
When a player who has not yet unlocked the class system levels up, they get a notification that they have a Stat Point to allocate, even though they cannot yet allocate Points.

There's [a few problems](https://github.com/HabitRPG/habitica/issues?utf8=%E2%9C%93&q=is%3Aissue%20is%3Aopen%20sort%3Aupdated-desc%20in%3Atitle%20points) with Stat Point allocation at the moment but I think this one is hig

[2018-02-04 23:02] TheHollidayInn commented on #4605
@visionarylion we've fixed some memory leaks recently. Are you still noticing these issues?

[2018-02-04 23:23] Alys opened #9953 "Discover Guilds search with special characters gives Internal Server Error"
When you go to the Discover Guilds page and search for `c++`, you see  an "Internal Server Error" red snackbar notification with this in the console: `Unhandled promise rejection  Error: Request failed with status code 500`

It's reproducable: every time I search for that term (or anything containing `++`), it happens and when I search for something else, it doesn't.

I'm assuming (but have not ch

[2018-02-05 00:44] catalincodes commented on #9953
My assumption, but I may be very wrong, is that it's trying to parse `c++` in the same way as it would parse `hello world` into search `hello+world`, which would then mean launch a query for `hello` AND `world`.

In this case when parsing `c++` it gets parsed into `c++`, which would then launch a query for `c` AND `(nothing)` AND `(error!)`.

The only contradiction is that searching for `c+` shoul

[2018-02-05 02:25] citrusella commented on #9952
For what it's worth, I already don't get unallocated stat point messages as an opted-out user.

[2018-02-05 09:39] paglias commented on #9952
Hmm, I added this check to prevent showing the notification to users who shouldn't have it

[code]

Which I thought was enough, but I'll check again later. Note that the notification is still added to the user but shouldn't be displayed

[2018-02-05 09:42] paglias commented on #9952
I'm having some problem replicating this, I just tried to level up on a level 6 account and didn't get any notification. Is the report maybe from mobile? But anyway mobile shouldn't be using the new notifications

cc @vIiRuS

[2018-02-05 10:39] paglias commented on #9951
I think this might actually be the desired effect but not sure, cc @Tressley

[2018-02-05 15:06] Tressley commented on #9861
@Alys -- The buttons should expand to accommodate the length of the text.

[2018-02-05 15:31] Tressley commented on #9951
@paglias -- The purple should extend to the edges. https://zpl.io/bJry1Db

[2018-02-05 16:38] TheHollidayInn commented on #9861
@Tressley should the width or the height expand though. Looks like the width would throw of the alignment.

[2018-02-05 16:39] #9484 closed, assigned to negue

[2018-02-05 16:43] #9302 closed, assigned to nobody

[2018-02-05 16:52] #9245 closed, assigned to nobody

[2018-02-05 16:54] #9223 closed, assigned to nobody

[2018-02-05 17:27] #9342 closed, assigned to nobody

[2018-02-05 17:42] Tressley commented on #9861
The width. The buttons should remain centered, but they may be wider than the inputs. That's fine.

[2018-02-05 18:41] #9944 closed, assigned to nobody

[2018-02-05 18:41] #9843 closed, assigned to nobody

[2018-02-05 18:41] #9905 closed, assigned to nobody

[2018-02-05 18:42] #9859 closed, assigned to nobody

[2018-02-05 18:42] #8070 closed, assigned to nobody

[2018-02-05 18:42] #9720 closed, assigned to TheHollidayInn

[2018-02-05 18:43] #9233 closed, assigned to nobody

[2018-02-05 20:29] SabreCat opened #9955 "Creating an official Habitica challenge does not set "official" flag"
[//]: # (Before logging this issue, please post to the Report a Bug guild from the Habitica website's Help menu. Most bugs can be handled quickly there. If a GitHub issue is needed, you will be advised of that by a moderator or staff member -- a player with a dark blue or purple name. It is recommended that you don't create a new issue unless advised to.)

[//]: # (Bugs in the mobile apps can also

[2018-02-05 20:54] SabreCat opened #9956 "Joined and Owned Challenges should still appear in Discover, but annotated with status"
[//]: # (Before logging this issue, please post to the Report a Bug guild from the Habitica website's Help menu. Most bugs can be handled quickly there. If a GitHub issue is needed, you will be advised of that by a moderator or staff member -- a player with a dark blue or purple name. It is recommended that you don't create a new issue unless advised to.)

[//]: # (Bugs in the mobile apps can also

[2018-02-05 21:10] SabreCat commented on #9210
Oh, looks like I never got around to breaking this up. Let me go ahead and do that.

[2018-02-05 21:16] SabreCat opened #9957 "Remove unused I18N strings"
### Description
[//]: # (Describe bug in detail here. Include screenshots if helpful.)

As reported by @paglias in our internal bug tracking doc:

Especially after the site redesign, there are many I18N strings that are not actually used. We should hunt these down and remove them to clean up our repo and reduce the burden on our Transifex volunteers.

Related: #9210

### Progress

- [ ] achievemen

[2018-02-05 21:20] SabreCat opened #9958 "Replace any remaining hardcoded English strings with I18N tokens"
### Description
[//]: # (Describe bug in detail here. Include screenshots if helpful.)

In the redesign, we ended up with a number of UI elements that used hardcoded English strings instead of translatable strings with `$t` calls. We've done some cleanup of this already, but there may still be some lingering examples in our .vue files. (If we do a thorough review and find they're all dealt with al

[2018-02-05 21:20] SabreCat commented on #9210
Done. See referenced tickets above.

[2018-02-06 00:21] Alys commented on #9956
We have this PR: https://github.com/HabitRPG/habitica/pull/9535
It might be worth examining it to see if everything it currently does is still desirable.

[2018-02-06 03:10] jj8huang commented on #9935
I will work on it!

[2018-02-06 04:06] theubermanishere commented on #9935
I will be very happy to work on this issue. 😄

[2018-02-06 04:07] theubermanishere commented on #9932
I will be happy to work on this!

[2018-02-06 04:13] jj8huang commented on #9935
Is it preferred if I were to create a new clearCompletedTodosChallenges.vue file or if I do condition checking?

[2018-02-06 06:29] Alys commented on #9935
@jj8huang thanks for taking this on! Condition checking is commonly done and I suspect that will be the best solution here but that will depend on how it's currently implemented.

[2018-02-06 06:43] Alys commented on #9932
@theubermanishere thanks! Comment here if you have questions!

[2018-02-06 06:59] Alys commented on #9861
@rkojima feel free to stay on this any time now, thanks!

[2018-02-06 08:46] Alys commented on #9953
Loggly error for the `c++` search:

`SyntaxError: Invalid regular expression: /c++/: Nothing to repeat`

[2018-02-06 09:18] Alys commented on #9957
Copying viirus's comment from https://github.com/HabitRPG/habitica/issues/9210#issuecomment-362802915 :

"The apps don‘t use any of the strings from this repo directly. They only use the content and response strings from the api"

Therefore when searching for where strings are used, we need to search only the Habit.RPG/habitica repo

[2018-02-06 09:21] Alys commented on #9957
In https://github.com/HabitRPG/habitica/issues/9210#issuecomment-354697812, @Inshabel said they'd like to work on this so I've marked it as in progress for them.

[2018-02-06 09:23] Alys commented on #9210
@Inshabel I've marked https://github.com/HabitRPG/habitica/issues/9957 as in progress for you. You might like to subscribe to notifications for that issue, although it's possible you'll get them automatically since I've mentioned your name there.

[2018-02-06 09:26] Alys commented on #9957
A comment from @SabreCat in https://github.com/HabitRPG/habitica/issues/9210 :

"We should remove duplicate strings used for the same meaning. E.g. https://github.com/HabitRPG/habitica/pull/9191/commits/1717c2a5df3e649764d224eeee780f7b07d0cb24 - removed `headGear` because we had `headgearCapitalized` already. Word of caution! There are places where the same English text is used but it's used for d

[2018-02-06 14:21] #9371 closed, assigned to nobody

[2018-02-06 15:23] TheHollidayInn commented on #9953
Eh, + is a special regex character, so we may just need to sanitize those searches. Or use the Javascript regex class.

[2018-02-06 15:24] TheHollidayInn commented on #9935
If you want to extract this to a vue file, that is also good, but I don't think it would have `Challenges` as a sufix because this should only apply to the User's tasks.

[2018-02-06 19:55] TheHollidayInn commented on #9478
[code]

[2018-02-06 19:59] TheHollidayInn opened #9966 "Checkin Prizes Need Refresh"
*Needs Confirmation*

I'll look into this soon, but logging this here in case anyone else knows:

MorganLeFlay
UserID: 4485e177-2203-4a07-b4e7-6ab5cda3ef60
Ahoy! I am updating an older bug that has since been deleted, and I don't entirely remember who I was interacting with!

My last complaint was that after I got my check-in items, I didn't see them in my inventory. Now I believe that I DID recei

[2018-02-06 22:26] jj8huang commented on #9935
Hi, thanks for the input! The reason for putting Challenges at the end is because it's specific to the Challenge section. Currently the vue file is a common component so if I were to make a new one, is there a recommended name in that case? Thanks again!

[2018-02-07 05:30] TheHollidayInn commented on #9935
Maybe I'm getting it confused :P I'd suggest just starting with the conditional to prevent showing for Group and Challenges to start then.

[2018-02-07 10:05] VisionaryLion commented on #4605
@TheHollidayInn So far it seems to be running a lot smoother. I'll let you know if I experience anymore slowdown.

[2018-02-07 16:35] paglias commented on #9059
The code looks good so I'm fine merging this but I'll wait before adding the tested and approved tag if @Alys has any remaining concern

[2018-02-07 16:59] paglias commented on #9923
@Alys if we are not receiving reports anymore I'd like to lower the priority here. Will then check the numbers again at the end of next week to see if upgrading mongoose had any positive effect

[2018-02-07 17:02] paglias commented on #9952
So mobile doesn't show notifications (although Android still shows the stat allocation menu when you don't have a class) but I'm unable to replicate this on web. So maybe this is an old report or from mobile? @Alys

In the meantime I'm adding the `needs investigation` label

[2018-02-07 17:05] paglias commented on #9937
Mehh no idea how this could be happening. Anyway are the ids above correct @Alys ? Because a group with _id `cb15320c-d857-48ca-a1ee-42c8520af172` doesn't exist

[2018-02-07 17:59] paglias opened #9968 "Use babel-preset-env"
We should switch to https://babeljs.io/docs/plugins/preset-env/ instead of managing the plugins ourselves. On hold until https://github.com/HabitRPG/habitica/pull/9946 is merged

[2018-02-07 18:00] paglias commented on #9968
For both client and server `.babelrc` files

[2018-02-08 00:25] Alys commented on #9923
Fine with me. I've changed it to medium.

[2018-02-08 00:29] Alys commented on #9952
All I have is what's in the top post. I didn't do any tests myself because there were too many other bug guild reports that day. Amplitude might tell you what platform the user was on at the time.

I was assuming that the stats point notification appearing in the user's notification object was the bug. If we can stop it appearing in the notification object when the user isn't meant to see it, then

[2018-02-08 00:33] Alys commented on #9937
The IDs were correct at the time I posted them. That data was copied directly from the output of a database search for shanaqui's notifications. The ID you're querying is the notification ID, isn't it?

[2018-02-08 00:40] Alys commented on #9059
@paglias Thanks! I've commented in the PR.

[2018-02-08 00:50] Alys opened #9969 "class change modal can reappear multiple times"
As initially described in https://github.com/HabitRPG/habitica/issues/9279, the class change modal can re-appear multiple times inappropriately. This is probably just a specific case of the general problem with modals doing that, but it's especially damaging for the class change modal since it unfairly causes users to spend gems, so I'm marking this as a high priority.

[2018-02-08 00:51] Alys commented on #9279
I've copied the point about the modal reappearing to a new issue to give it more visibility: https://github.com/HabitRPG/habitica/issues/9969

[2018-02-08 01:02] TheHollidayInn commented on #9969
I logged that issue in the description of 9279. There is a confirmation modal on the gems, which is why I didn't up to important.

[2018-02-08 01:29] Alys commented on #9969
I had edited that issue to say that I had copied this part to here.

Even with the confirmation, this is more important than the other parts of that issue. Users sometimes think the first class change didn't take effect so they think they need to confirm it again. Even if they don't confirm it's a significant point of confusion and annoyance. From my testing, the only way to get rid of the extra m

[2018-02-08 06:25] shanaqui commented on #9969
Just to confirm, I know the site well and still just thought the change hadn't taken, so lost extra gems. When sync errors are *so* common, it's not unreasonable to assume that.

[2018-02-08 10:10] kartikadur commented on #9276
If the only thing required for this fix is changing from phantomJS to chromeHeadless and no one else has claimed it, I'd like to try. I kinda get antsy when unit tests are ignored.

[2018-02-08 10:16] Alys opened #9971 "Seasonal class-specific equipment lost to Death is shown under Class and under None"
_From Il Mago Azzurro (c073342f-4a65-4a13-9ffd-9e7fa5410d6b) in the Report a Bug guild_

When you loose a seasonal equipment item for death in the market it appears both under your class and under None/Classless... This happened to me with the Candy Corn Shield (2017 Autumn Gear).

Screenshots: [here](https://www.awesomescreenshot.com/image/3159617/21e79e3f5a5cfd97e2610a3133ba90e1) you can see the

[2018-02-08 10:18] Alys commented on #9971
The expected behaviour is that it appears under the Class only.

[2018-02-08 10:28] kartikadur commented on #9899
What part of the code is responsible for adding / updating transformation buffs? Is there a cron script or are these manually added to the database?

[2018-02-08 12:50] paglias commented on #9937
Ah yeah, it was the notification id. Only thing that comes to my mind: were some of the messages about boss damage / other types of system messages?

[2018-02-08 12:54] paglias commented on #9276
@kartikadur go ahead!

[2018-02-08 14:50] kartikadur commented on #9276
For self future reference :)
+ [change phantomjs to chrome](https://blog.johnnyreilly.com/2017/08/karma-from-phantomjs-to-headless-chrome.html)
+ [travis chrome addon headless](https://docs.travis-ci.com/user/gui-and-headless-browsers/#Using-the-Chrome-addon-in-the-headless-mode)
+ [travis chrome addon](https://docs.travis-ci.com/user/chrome)
+ [headless chrome testing in docker](https://hackernoo

[2018-02-08 23:38] Alys commented on #8991
Another instance reported by Seekheart (0848ed18-0966-4d90-83da-a1b4ae1500cc):
[code]

[2018-02-08 23:48] Alys commented on #9937
The one that shanaqui reported was generated when all the party accepted the quest so it would have been the quest start system message.

Another two reports:

walrus62 (54665726-61fc-473f-8062-31a950a9ae11): "My Party Name decided not to show up in my Notification. [Picture.](https://snag.gy/bTI1Fo.jpg) I loaded a second tab and the notification wasn't there at all. I sync'd on the first tab but

[2018-02-09 02:15] Kiwilicious commented on #9748
Noticed no one is on this. I'll take a look if that's fine.

[2018-02-09 03:35] harakuri commented on #9800
Hey @Alys, sorry I've been dragging my feet on this one. Pretty sure I know the issue -- guess I'm just not quite sure of the solution.

The issues comes from the [attributesPopover.js](https://github.com/HabitRPG/habitica/blob/develop/website/client/components/inventory/equipment/attributesPopover.vue#L5) in this code snippet:
[code]
For most of the class-specific items, besides the seasonal ones

[2018-02-09 08:33] paglias commented on #9841
has this been fixed?

[2018-02-09 09:56] Alys commented on #9841
No, I saw an example of it today while editing a Challenge.

[2018-02-09 10:51] paglias commented on #9937
Posted a PR

[2018-02-09 12:46] #9937 closed, assigned to nobody

[2018-02-09 12:46] #9146 closed, assigned to paglias

[2018-02-09 12:52] paglias commented on #9242
This seems to be fixed now, as long as most messages in the chat have been sent since the last deploy to prod (around 12 hours ago). Reopen if it keeps happening

[2018-02-09 14:48] paglias commented on #9841
In progress in #8753

[2018-02-09 16:00] SabreCat commented on #8991
Could it be something as simple as a double-click on RYA?

[2018-02-09 19:55] TheHollidayInn commented on #8991
The API should block concurrent CRON, but I wouldn't rule it out!

[2018-02-09 22:44] #9897 closed, assigned to nobody

[2018-02-09 22:47] #9356 closed, assigned to negue

[2018-02-09 23:04] #9795 closed, assigned to nobody

[2018-02-10 01:43] Alys commented on #9249
@AugustoEMoreira  I've marked this as Help Wanted again, but if you'd still like to work on it, let us know.

I'm also about to adjust the title to make it more generic:
"error messages disappear too quickly ("username or password is incorrect", swearword / slur warning)"

Depending on how the fix for this issue goes, we might want to consider using  a different speed (perhaps intermediate between

[2018-02-10 03:06] Alys commented on #9753
@Userbane Let us know if the information about mongodb's version didn't help or if you have any other questions about this issue!

[2018-02-10 03:21] Alys opened #9978 "Party edit screen should not contain "Leader" dropdown for changing leader"
In the new website, Party leaders are meant to be changed through members list, not through the party's edit form. However the edit form contains a drop-down menu of participants under a "Leader" heading. The heading and drop-down list should be removed.

[2018-02-10 03:23] TheHollidayInn commented on #9978
I believe we decided to have this in both places

[2018-02-10 03:27] Alys commented on #9978
The drop-down doesn't work, and it's not in the guild edit form any more.  Discussion here: https://github.com/HabitRPG/habitica/issues/9670 and it does say that it can be in both places but I'm guessing we changed our minds after that for guilds, so maybe we should change it for Parties too.

However if we want to keep it, I can change this issue to make it say that the drop-down needs to be made

[2018-02-10 03:34] Yutsuten commented on #5757
May I try doing it? I was thinking to do as @SabreCat wrote: change messages to an `env.t` string and then put `<%= userName %> casts <%= skillName %>` to the "translations" script.

[2018-02-10 04:13] Yutsuten opened #9979 "User status modal: layout breaks when there are unallocated stats points and language is Japanese"
[//]: # (Before logging this issue, please post to the Report a Bug guild from the Habitica website's Help menu. Most bugs can be handled quickly there. If a GitHub issue is needed, you will be advised of that by a moderator or staff member -- a player with a dark blue or purple name. It is recommended that you don't create a new issue unless advised to.)

[//]: # (Bugs in the mobile apps can also

[2018-02-10 06:22] Userbane commented on #9753
It was the wrong version. I was using version 3.6 instead of the recommended 3.4.

Sent from my Windows Phone
________________________________
From: Alys<mailto:notifications@github.com>
Sent: ‎10/‎02/‎2018 03:06
To: HabitRPG/habitica<mailto:habitica@noreply.github.com>
Cc: Userbane<mailto:zdeanmiloz@outlook.com>; Mention<mailto:mention@noreply.github.com>
Subject: Re: [HabitRPG/habitica] Can't vi

[2018-02-10 06:31] Alys commented on #5757
@Yutsuten Sure, thank you!

One thing to note is that the translated string has to be constructed by the API so that it's returned in the correct language no matter whether the user is using the website or mobile apps or third-party tools.

[2018-02-10 07:00] Yutsuten commented on #5757
Got it, I'll make sure the API always returns the messages in the correct language.

[2018-02-10 10:55] Alys opened #9980 "three-dots menu should not be visible in "Copy as To-Do" modal"
_From Il Mago Azzurro (c073342f-4a65-4a13-9ffd-9e7fa5410d6b) in the Report a Bug guild:_

"in the Copy message as todo it's possible to open the three dots menu of a task"

![screenshot_2018-02-10_20-55-31](https://user-images.githubusercontent.com/1495809/36061350-b7630a48-0ea4-11e8-9275-b5e290de6de0.png)

[2018-02-10 12:17] hwdnoz commented on #9980
Think I have a fix for this

[2018-02-10 21:00] catalincodes commented on #9242
@paglias  I did notice something interesting. If you are on a Guild page, click on "Sync", and there are new posts on it, a notification appears saying you have new posts on this Guild page (you actually are on it). When you click on "Dismiss All" the following error is triggered:

&nbsp;

![error](https://i.imgur.com/FRf5efx.png "error")

&nbsp;

The error makes sense since you guys have made it

[2018-02-10 21:03] catalinp86 commented on #9242
@lemoness or @paglias could you please reopen the bug. It seems that there are still some issues with it this. Good job otherwise!

[2018-02-10 21:40] Alys commented on #9789
For whomever works on this, we already have strings that can be reused for the "i" info tips:

https://github.com/HabitRPG/habitica/blob/b4cbcb172b32d1a24674004367807ece90fdacbd/website/common/locales/en/npc.json#L122-#L123.json

https://github.com/HabitRPG/habitica/blob/b4cbcb172b32d1a24674004367807ece90fdacbd/website/common/locales/en/character.json#L134-#L145.json

If those aren't suitable as w

[2018-02-10 22:40] paglias commented on #9242
So what's happening here is that the notification is actually correctly marked as read but for a concurrency issue sometimes the number isn't updated in the UI.

So the number is corrected if you sync the user and the server value is applied and when you click on Dismiss all it tries to mark as read the notification that exists on the client but not on the server and thus it fails.

The concurrenc

[2018-02-11 00:44] Alys commented on #9979
@Yutsuten Thank you for telling us about that and for offering to fix it!

@Tressley The problem is that the boxes containing the number of points aren't large enough to hold the "pts" label in languages where the label is longer. The boxes could be adjusted to expand automatically to be the right size (possibly the best option to be sure it works for all possible translations), or could be given

[2018-02-11 06:24] Alys commented on #9748
@Kiwilicious Thank you! Please go ahead.

[2018-02-11 07:15] Alys opened #9985 "Copy As To-Do for system messages shouldn't say "undefined""
When you use the Copy As To-Do feature on a system message (e.g., one of the red-on-white messages showing a player's quest progress), the To-Do's Note says:

`undefined wrote in [PartyName](https://habitica.com/groups/guild/12345678-8050-4253-1234567890abc)`

It should instead be phrased as:

`system message in [PartyName](https://habitica.com/groups/guild/12345678-8050-4253-1234567890abc)`

[2018-02-11 07:16] Alys commented on #9985
.... the To-Do's Note says:

`undefined wrote in [PartyName](https://habitica.com/groups/guild/12345678-8050-4253-1234567890abc)`

It should instead be phrased as:

`system message in [PartyName](https://habitica.com/groups/guild/12345678-8050-4253-1234567890abc)`

[2018-02-11 07:20] Alys commented on #9985
It would be good if this could be done before the World Boss is released because then there'll be system messages in the Tavern and so this feature is more likely to be used on system messages (e.g., by wiki editors making a To-Do to add the text of the message to the World Boss's page in the wiki).

[2018-02-11 07:31] Alys opened #9986 "modals reappear after being closed"
EDIT May 2018: New reports start here: https://github.com/HabitRPG/habitica/issues/9986#issuecomment-377483866

This has been a well-known problem for some time now but I've just realised we don't have an issue for it (unless I'm just not able to find it).

A modal will often re-open itself after you've closed it. We see a lot of reports of this each time there's a new Bailey message and it also h

[2018-02-11 07:33] Alys commented on #9986
https://github.com/HabitRPG/habitica/issues/9531 for the hatching modal might be another example of this but could actually be a different bug since it's only a partial screen that reopens.

Maybe also https://github.com/HabitRPG/habitica/issues/9536

[2018-02-11 07:34] Alys commented on #9211
I'm putting this on hold until https://github.com/HabitRPG/habitica/issues/9986 is fixed (modals reopening themselves) because we don't need more modals while that's happening. @shivasheeshyadav When it comes off hold it will be marked as "help wanted" but if you're still interested in working on it then you can reclaim it again.

[2018-02-11 07:35] Alys commented on #9986
### When fixed, we should take https://github.com/HabitRPG/habitica/issues/9211 off hold.

[2018-02-11 07:42] Alys commented on #9986
Also https://github.com/HabitRPG/habitica/issues/9393 (the close challenge modal), with a potential fix at https://github.com/HabitRPG/habitica/pull/9545

[2018-02-11 07:57] Alys commented on #9800
@kuriharak93 No worries, we understand that real life gets in the way. :)

I think you're right that comparing the user's class to the item class would be best, but I'm not strong on our Vue code. @TheHollidayInn or @paglias or @SabreCat what do you think?

[2018-02-11 08:59] Alys commented on #9986
Another example from CakeKnight (d8fc8d8b-a10f-416a-b089-587db2af9e4d):

"In a chat, If you press "copy message as to-do" and close the modal that pops up (pressing Close or clicking in another area on the page), then click on the avatar of another player and close it... The "copy message as to-do" reappears. I tried refreshing the page but the problem is still there, modals are weird :/"

[2018-02-11 13:54] Yutsuten commented on #5757
This change will need some planning before I can write some code...
I'll make some notes here so to organize my mind. Don't consider it final, so anyone can feel free to give opinions / help me plan it. It isn't complete yet too.

## Database change
In the chat object (Ex. query: `db.groups.find({name: "party1"}, {chat: 1})`), add a field `info` which is an object with information about the messag

[2018-02-11 15:34] #9327 closed, assigned to nobody

[2018-02-11 17:20] paglias commented on #9800
@negue might have ideas too

[2018-02-11 17:39] paglias commented on #4605
Going to close this ( once again :) ) but comment if you still experience any problem!

[2018-02-11 17:39] #4605 closed, assigned to nobody

[2018-02-11 18:40] negue commented on #9800
The `gear.locked` is set at https://github.com/HabitRPG/habitica/blob/develop/website/common/script/libs/shops.js#L107

`specialClass` is only set to seasonal gear, because the normal property `klass` get the value `special` which isn't any of the real user's class anymore.

for a short-term fix would be just to check if `item.klass` and `item.specialClass` (if existing) are not the same as `user.

[2018-02-11 19:15] TheHollidayInn commented on #9986
I'm pretty sure the issue here is we dismiss modals incorrectly sometimes. For example, we wil redirect to a page before closing a modal which breaks the modal stack. This issue will have to be addressed one by one for now.

[2018-02-11 22:18] Alys opened #9987 "Equipment descriptions missing for all weapons and for Rogue off-hand gear (shields)"
As reported by Kent the Apprentice (b82b7aa8-161f-4b02-aef9-4a319e47f7b2) in the Report a Bug guild:

"The equipment description is missing for all rogue offhand item (class specific items, non seasonal) and for all mainhand items in my android phone! (tried reloading content) Thanks :)

_edit: This is an API bug not an Android bug_

[2018-02-11 22:19] Alys commented on #9987
If this turns out to be an API problem, tell me and I'll log this in the main repo instead.

[2018-02-12 01:55] Alys commented on #9985
@someoneigna Thanks for taking this on! I've marked it as in progress for you.
If you comment on an issue before you start, we can mark it then to avoid any chance of two people working on it at once. :)

I appreciate your quick fix for this one!

[2018-02-12 02:43] someoneigna commented on #9985
Oh yes, sorry. I had made the first commit when I remember I read that on the contributing guideline.
Sadly each time a rewrite the commit it gets appended to the pull request because of the link.

[2018-02-12 10:14] Alys commented on #9247
@supertassu How are you going with this? Do you have any questions for us or need any advice? Or if real-life has got in the way and you no longer have any free time, just let us know! We understand what that's like. :)

[2018-02-12 10:27] kartikadur commented on #9899
At the end of the season should the special gear be only hidden or completely removed?

[2018-02-12 10:32] Alys opened #9989 "prevent typing a private message to a player who has deleted their account"
This is similar to https://github.com/HabitRPG/habitica/issues/9247 ("prevent typing a private message to a player who has blocked you / opted out of PMs") and the same code might be usable for both.

On the Messages screen, when the player that you're trying to send a message to has deleted their account, then there should be no "send" button or new message field at the bottom of the screen. Inst

[2018-02-12 10:33] Alys commented on #9247
I've logged https://github.com/HabitRPG/habitica/issues/9989 for a similar issue: "prevent typing a private message to a player who has deleted their account"
It could be either worked on at the same time as this issue, or after this issue is fixed, https://github.com/HabitRPG/habitica/issues/9989 could be fixed by reusing most of the new code.

[2018-02-12 11:00] Alys commented on #9899
My feeling is that hidden would be best. The advantage of leaving it pinned but hidden is that we don't have to run a migration to unpin it, and it's still pinned for the user next year when it's available again. If they've pinned it once, they're likely to be still interested the next year.

I'm not sure about your previous question about how the transformation buffs are enabled each season. @Sab

[2018-02-12 13:27] joedragons commented on #9242
FYI, I noticed this morning that I clicked on my party notifications and it stayed a grey "1" after I visited the party page.  I noticed this when I was about to return to tasks.  I hadn't noticed this yesterday so it's intermittant at best unless code changed since reopening this.
When I went to repeat (from tasks clicking to party notifications), it cleared the grey 1.
I didn't take a screen sin

[2018-02-12 13:52] Tressley commented on #9979
@Alys -- The implementation of the original design is incomplete. See https://zpl.io/ad3541V for reference. With that being said, updates to this section are on our radar and we have already have a few designs planned.

[2018-02-12 14:32] Yutsuten commented on #9979
So, can my PR be accepted at least as a temporary solution, or the new design is about to go into production?
If the latter, I guess the PR can be closed...

[2018-02-12 15:27] TheHollidayInn commented on #9987
Did you mean to log this here?

[2018-02-12 21:10] Alys commented on #9987
Ah geeeeez, no, sorry, thanks! :)

[2018-02-12 21:49] Alys commented on #9368
A related problem was just posted by NoCyg (154802ac-9567-4916-ac66-79ea5ba81ec7) in the Report a Bug guild:

"In Chrome, I discovered that when you raise a pet to a mount, the pet icon does not automatically switch to grayed out (indicating that you hatched the pet but do not currently have one). This led to a weird instance where I'd raised the pet to a mount, then clicked on its icon to try to

[2018-02-12 22:04] Alys commented on #9979
@Yutsuten I've tested it and it's a good temporary solution to improve the situation for anyone using a language that takes up more space than English. Thank you!

[2018-02-12 23:16] joedragons commented on #9242
PS: On another account I noticed the same message in the screen above, after my quest had started.  I had clicked dismiss all (knowing it had started from my first account) then noticed that the number was grey.  Further attempts to dismiss resulted in the message.  I believe this is similar to the error occurance I mentioned above.  I don't start new quests every day, so if that's the behavior, I

[2018-02-13 07:39] supertassu commented on #9247
Hey,

I have some IRL stuff so can't work on this anymore. Sorry.

[2018-02-13 17:39] TheHollidayInn commented on #9986
From Report a Bug Guild:

[code]

[2018-02-13 19:56] lemoness opened #9994 "Press Kit Zip needs updating"
Currently, when you download the press kit, you only get the boss images and the Habitica video. The video should be removed, and all the listed logos and screenshots should be added as well, so that you get a copy of all the still images that are on the Press Kit page when you download the zip.

[2018-02-14 01:14] rkojima commented on #9861
Hi @Tressley and @Alys,

Here's what I currently have. The buttons will now contain all of the text. However, as you can see in the screenshot, if one button has more text than the other, the space between the two buttons will not be aligned in the center. The buttons together are in the center. What do you think?

![screen shot 2018-02-13 at 5 07 40 pm](https://user-images.githubusercontent.com/4

[2018-02-14 11:15] paglias opened #9997 "Switch to @vue/cli"
When version 3 of @vue/cli is out we should switch to it. This way we won't have to manage webpack and its dependencies on our own but just install 1 package that hides all the complexity from us.

[2018-02-14 17:44] Majed6 commented on #9489
Same thing here : (

[2018-02-14 23:54] Alys commented on #9295
I'm reopening this because while it's fixed nicely in the "View Party" modal by kartikadur's PR, a different change is needed for allowing sorting for the header.

[2018-02-15 00:38] thefridge111 commented on #9532
Hey @Alys while I had hoped to have time to get to this my life has become a little too hectic right now. I don't want to stop someone else from tackling this if they get the time or inclination. Feel free to change the labels and take me off this ticket.

[2018-02-15 09:37] paglias commented on #9242
Most of my guilds are clearing correctly now

[2018-02-15 11:07] Alys opened #10001 "Death / Ran out of Health modal can be dismissed without reviving"
When your health drops to zero, the "You ran out of Health!" modal appears, but it's possible to dismiss it by clicking outside the box, rather than by clicking the "Refill Health & Try Again" button. This means that you can then use healing or level-up skills or Fix Character Values to avoid the effects of death.

The correct behaviour is that once you've seen the "You ran out of Health" modal, i

[2018-02-15 11:34] paglias commented on #10001
PR coming

[2018-02-15 14:12] Tressley commented on #9861
@rkojima -- Thanks for your work on this! To answer, both buttons should have the same width with the content centered in them. That button group is then centered to the form field.

Here's a quick mock-up:

![image](https://user-images.githubusercontent.com/2686586/36260733-48d9aea8-1230-11e8-87f4-89cb571c7a31.png)

[2018-02-15 14:46] Joseph67843 commented on #9295
@kartikadur Some of the backgrounds are apparently designed [to tile - i.e. produce a unified image when placed side by side in the correct order](http://habitica.wikia.com/wiki/Backgrounds#Tiling_Backgrounds). I don't think it's worth delaying a fix on the other issues and don't know how easy it would be, but maybe if you have the energy for a second round of improvements, it would be cool to arr

[2018-02-15 15:35] kartikadur commented on #9295
@Alys could you give me an update on what is needed? I figure I can work on it since I made the earlier changes.

[2018-02-15 20:07] Alys commented on #9987
Reopening. It's an API problem. As @phillipthelen writes in the Android issue:
"This is not a client issue. Looking at the content API, all of the default class weapons and shields are missing their descriptions (possibly also other gear, but that's the one where I noticed it)"

I've adjusted the [equipment table creator.html](http://oldgods.net/habitica/equipment_table_creator.html) which reads f

[2018-02-15 20:26] Userbane commented on #9753
So when I was trying to reproduce the bug, I found that I COULD view the challenge aswell as edit/close/delete, after I had left the party.

![screenshot 13](https://user-images.githubusercontent.com/18677516/36278434-bb6ccec2-128b-11e8-9232-d721252f234a.png)
![screenshot 16](https://user-images.githubusercontent.com/18677516/36278969-7b082f5a-128d-11e8-9495-b93721e2685d.png)
![screenshot 17](http

[2018-02-15 21:18] TheHollidayInn commented on #9987
Ah, that's my bad then. I'll fix it.

[2018-02-15 21:19] Alys opened #10003 "private messages (PMs) in inbox : not sorted correctly, can't see recent ones, date is wrong, etc"
There's problems with seeing new messages in the "Messages" inbox:

When you see that there's a new message, you often (always?) have to reload before it will appear in the inbox. A sync is not enough.

Conversations containing the most recent messages are not always at the top of the left-hand section of the Messages modal.

The date listed on the left-hand side is not always correct.

Here's an

[2018-02-15 23:12] Alys commented on #9295
Ah, sorry, I should have changed the labels on this to indicate it's waiting for a design decision! @kartikadur you'd be most welcome to take this on once a decision has been reached, if you're still interested then! One of us will post here when that happens.

@Tressley

[2018-02-15 23:18] Alys commented on #9532
@thefridge111 Thanks for letting us know!

[2018-02-16 06:35] kartikadur commented on #9295
No worries.

[2018-02-16 09:37] #9987 closed, assigned to nobody

[2018-02-16 09:37] paglias commented on #9987
Fixed in #10005

[2018-02-16 16:55] #10001 closed, assigned to nobody

[2018-02-16 20:50] shanaqui opened #10008 "Add alt text on navigation and header items"
Much of the text on Habitica's website either has no alt text or is not allowing screen readers to read the alt text. This is a serious accessibility issue as it means that anything that is represented solely by a graphic is essentially invisible to blind users of the site.

In some cases there is no alt text, but there is a tooltip. However, the screenreader will not read out the text unless you

[2018-02-16 21:50] Feywood commented on #10008
At a quick glance, I'm not seeing any alt text tags which is what I believe most screen readers would grab.
The bronze_small is in title tags, but I'm not seeing those either in eg the gem or gold icons in the top toolbar.

[2018-02-16 23:05] negue opened #10011 "Purchase API Refactoring - Overview"
Goal:
- extract / abstract every purchasable operation into classes
- use a factory to get the needed class
- each operation has its own checks but also the inner checks for each currency-type
- checks to prevent bulk purchases on types that can't be purchased in bulk

Todo:
- [x] Armoire [Gold] (#10153)
- [x] Market Gear [Gold] (#10010)
- [x] Health Potion [Gold] (#10152)
- [x] Quest [Gold] (#102

[2018-02-16 23:26] Alys opened #10012 "some pinned items should not become unpinned when you buy them (quests, eggs, potions, food)"
When you pin any of the following items to your Rewards column and then buy it from that column, it unpins itself as soon as the purchase has been made:
- Quest scroll
- Pet Egg
- Hatching Potion
- Food

The correct behaviour is that it should remain pinned until the user chooses to unpin it.

Other items such as the greetings cards, transformation buffs (Snowball, etc), subscriber Gems, etc shoul

[2018-02-17 00:22] Alys commented on #9698
I'm removing my claim from this. I'm sorry, I should have removed it some time ago. I ran out of time over Christmas and haven't had any spare time since.

[2018-02-17 02:18] TheHollidayInn commented on #10012
This was probably intended because gear items can only be purchased once. So We probably need to add a canPurchaseMultipe checks before removing.

[2018-02-17 02:18] citrusella opened #10014 "Streak achievement notfications are displaying like streak bonuses"
EDIT by Alys 2018-07-29:

See [this comment](https://github.com/HabitRPG/habitica/issues/10014#issuecomment-408665995) for the current status of this bug.

---

### General Info
  * UUID: 2d6ef231-50b4-4a22-90e7-45eb97147a2c
  * Browser: Firefox ESR 52.6.0 (most up-to-date ESR version)
  * OS: Windows 7 SP1

### Description
[//]: # (Describe bug in detail here. Include screenshots if helpful.)
![i

[2018-02-17 03:00] Alys commented on #10014
@citrusella Thank you!

I've marked this suggestion/discussion because I'm not sure whether the intention is for the number of streak achievements to be displayed in a snackbar notification with better labelling or if that notification is not supposed to happen at all.

[2018-02-17 03:06] Alys commented on #9532
This isn't happening for me on Firefox so I'm closing it. I haven't bothered testing on other browser since it's just a minor display issue but if anyone else still sees it, post here with the browser you're using and we'll reopen it.

[2018-02-17 03:06] #9532 closed, assigned to nobody

[2018-02-17 05:03] citrusella opened #10015 "Avatars transformed into flowers don't appear next to messages in chats"
![image of four messages by avatars with transformation buffs, all of which look fine except the flower, which doesn't show](https://user-images.githubusercontent.com/14182450/36338122-c9ac0482-1374-11e8-82d8-f4b1a492a91d.png)

Avatars transformed into flowers (with the shiny seed) don't display next to messages in chats. If they're wearing a hair flower, that flower will be visible, but the trans

[2018-02-17 05:36] Alys commented on #10015
Good bug report, thanks!

I think it must be because the Flower is the only one that needs to know the user's class (different flowers for different classes):
https://github.com/HabitRPG/habitica/blob/b4cbcb172b32d1a24674004367807ece90fdacbd/website/client/components/avatar.vue#L160-L166

and `stats.class` is not included in the `userStyles` that are saved to each chat message. That's an easy fix.

[2018-02-17 07:41] Alys opened #10016 "Copy as To-Do has wrong URLs for messages copied from Party and Tavern"
When you use Copy as To-Do on a message from your Party or the Tavern, the URLs in the To-Do are wrong.

Currently the links are:
* `[Party name goes here](https://habitica.com/groups/guild/12345678-8050-4253-1234567890abc)`
* `[Tavern](https://habitica.com/groups/guild/00000000-0000-4000-A000-000000000000)`

They should be:
* `[Party name goes here](https://habitica.com/party)`
* `[Tavern](https:

[2018-02-17 07:50] Alys commented on #10012
It also occurs for Eggs, Hatching Potions, and Food. I'll update the top post and change the issue title.

[2018-02-17 22:02] Feywood commented on #10016
I'll pick this up if that's okay

[2018-02-17 22:12] Alys commented on #10016
@Feywood Thanks! Go ahead.

[2018-02-18 04:47] someoneigna commented on #9986
I will make a pr for this, we should be thorough and check every modal.
It also happens with the "Copy As Todo -> Edit Party -> Copy as Todo" while being on Party screen.
And while being on Tasks with "View Party -> Click on Party member -> dismiss -> View party appears again".

[2018-02-18 05:50] Alys commented on #10003
Another example from AnneLine (16a107de-d519-43ce-8c30-8da5cbcbb237):
"Hi, Alys and all, is there a reason why all the PM messages are mixed up? For some reason my most recent message is at the bottom of each thread, but all the previous messages and any responses are at the top. I can live with it, but it makes it REALLY hard to follow messages! And I guess for now we just have to figure out who

[2018-02-18 07:48] Alys commented on #10003
Another problem: The most recent message in a conversation is not always shown in the left-hand side of the screen. The screenshot below was taken after reloading the website - i.e., a reload doesn't fix this problem.

![screenshot_2018-02-18_17-45-53](https://user-images.githubusercontent.com/1495809/36349477-adc22bba-14d3-11e8-80aa-a77e5ff5fa0d.png)

[2018-02-18 07:54] Alys commented on #10003
+1 on AnneLine's comment that I copied in above. I've only just seen a message she sent me a month ago - it must have been hidden amongst older messages from her the last time I looked.

[2018-02-18 08:27] Alys commented on #9828
A similar problem occurs when trying to select a winner.

The way I'd love it to work is if the list you get to from the participants badge had a "view progress" button next to each member (in addition to the three-dots menu so you'd still have access to those functions). When you clicked the "view progress" button, you'd see the modal that you can get now from the view progress drop-down. That mo

[2018-02-18 18:57] Userbane commented on #9753
@Alys I'm going to have to give this issue up since I am unable to replicate the bug, I would have no idea if I had fixed the issue or not.

[2018-02-18 23:09] Alys commented on #9753
@Userbane I'm sorry about this! I meant to reply over the weekend and do some testing myself. It's possible that this has already been fixed by a PR that wasn't linked to this issue. I'll post more here when I've done some testing.

[2018-02-19 04:58] mike-sherman1 opened #10020 "Firefox freezing on search bar click"
[//]: # (Before logging this issue, please post to the Report a Bug guild from the Habitica website's Help menu. Most bugs can be handled quickly there. If a GitHub issue is needed, you will be advised of that by a moderator or staff member -- a player with a dark blue or purple name. It is recommended that you don't create a new issue unless advised to.)

[//]: # (Bugs in the mobile apps can also

[2018-02-19 10:26] Alys opened #10021 "Shops > Market slow / unresponsive"
In the Report a Bug guild, NoCyg (154802ac-9567-4916-ac66-79ea5ba81ec7) reports:

"The Market isn't working for me in Firefox (version 58.0.1, on Windows 10). Whenever I open a modal, either to buy or sell, the entire tab stops responding--I can't change amount to buy/sell, can't click any buttons, can't close the modal (neither by clicking the x nor by clicking outside the modal), and can't refre

[2018-02-19 10:27] Alys commented on #10021
NoCyg : "My first attempt; the page reloaded and sold things while I was in the middle of getting the log (how I discovered it was a delay not a freeze). This is the log post-reload, so I'm not sure if the initial actions are still there:"

Deprecation warning: moment().zone is deprecated, use moment().utcOffset instead. http://momentjs.com/guides/#/warnings/zone/
Arguments:
k/<@https://habitica.c

[2018-02-19 10:28] Alys commented on #10021
NoCyg :  "My second attempt; this is just the actions up until the delay. I did not click on anything during the delay:"

Mutation  childList  :
MutationRecord { type: "childList", target: div.d-none, addedNodes: [], removedNodes: […], previousSibling: div, nextSibling: null, attributeName: null, attributeNamespace: null, oldValue: null }
content.js:1071:13
Mutation  childList  :
MutationRecord {

[2018-02-19 10:29] Alys commented on #10021
NoCyg : "The second attempt again, this time after changing the value after the delay and selling things (includes the lines from the pre-delay log; I didn't clear in-between):"

Mutation  childList  :
MutationRecord { type: "childList", target: div.d-none, addedNodes: [], removedNodes: […], previousSibling: div, nextSibling: null, attributeName: null, attributeNamespace: null, oldValue: null }
co

[2018-02-19 10:30] Alys commented on #10021
NoCyg :  "And a third attempt, where I made one sale without changing the amount, and then a second sale where I did try to change the amount, triggering the delay (there's some extra stuff at the end of the log from when I was moving my mouse across the page):"

Mutation  childList  :
MutationRecord { type: "childList", target: div.d-none, addedNodes: [], removedNodes: […], previousSibling: div,

[2018-02-19 12:18] paglias commented on #10021
Cannot replicate on the same Firefox version but on a Mac. Also all those logs in the console don't seem part of habitica, can they try to disable all extensions?

[2018-02-19 12:20] paglias commented on #10020
Hi, I'm unable to replicate the issue on the same Firefox version but on a Mac. Do you have any extension installed? If so can you try to disable them and see if the problem persists?

[2018-02-19 12:22] mike-sherman1 commented on #10020
Ok, I tried that once before but will try again. Issue persists with all
addons disabled. Some more info: it is just the Habitica tab that is frozen
upon trying to activate the search bar, all my other tabs are fine.

On Mon, Feb 19, 2018 at 5:20 AM, Matteo Pagliazzi <notifications@github.com>
wrote:

[2018-02-19 17:51] #9985 closed, assigned to nobody

[2018-02-19 17:52] #9979 closed, assigned to nobody

[2018-02-19 17:54] paglias commented on #9651
Fixed in #9656

[2018-02-19 17:56] #9276 closed, assigned to nobody

[2018-02-19 18:00] #9841 closed, assigned to nobody

[2018-02-19 18:01] paglias commented on #8735
Closed by #9939

[2018-02-19 18:13] paglias opened #10023 "iOS Push Notifications: switch to Provider Authentication Tokens and node-apn module"
As explained here https://github.com/node-apn/node-apn/blob/master/doc/provider.markdown#provider-certificates-vs-authentication-tokens they provide some beneifts over our current method and we should switch to them.

cc @phillipthelen

[2018-02-19 21:32] SabreCat commented on #9899
It's currently a manual process. The available transformation items are set up in https://github.com/HabitRPG/habitica/blob/develop/website/common/script/libs/shops-seasonal.config.js under `availableSpells`.

[2018-02-19 22:49] Alys opened #10025 "locked class-specific gear for your own class should show error message"
When death has caused you to lose two or more equipment pieces that belong to your class and you try to buy back a more expensive one first, the website seems to let you buy it but the purchase fails with no notification.

What should happen is that the equipment should be locked with an explanation that you can't buy it using the `tierLockedItem` string ("This item is only available once you've p

[2018-02-19 23:03] Alys commented on #6482
In my previous post I said I would report back about whether I think we can get away with removing that grandfathering. I believe we can.

There's about 250 players who have more than 105 Points. I've ignored those between 100 and 105 Points because they could easily have got the extras just from the recent bugs; maybe players with more than 105 Points have too.

There's about 140 players with mor

[2018-02-19 23:04] Alys commented on #6482
There's a report of another bug related to Stats Points, from cTheDragons (bc10ec41-4213-4482-bbb8-558e3c3ea8d5):

"Have recently change class to Mage which unallocated all my attribute (stat) points. I have it to allocate automatically by class. And although I have increased by level 2 times. The unallocate points are still there."

[2018-02-19 23:26] Alys opened #10026 "mana bar should not show in profile when user has not yet selected a class"
When a user has not yet selected a class, currently if you view their profile you see a mana bar. The correct behaviour is that no mana bar should be shown (the same as for a user who has opted out of the class system).

Below is data showing the problem. `flags.classSelected` is `false` when a player has not yet selected a class so that is what you can use to prevent the mana bar being displayed.

[2018-02-19 23:57] lemoness commented on #8182
Is this still happening?

[2018-02-20 00:39] Mimi-Kr commented on #10020
I am experiencing the same issue, on Firefox, with extensions disabled, Using 64-bit Windows 7 Home. For me once I type in the search box, it's terminal, I can no longer use that page of Habitica. Must close down the tab and open it up again. As a result I cannot use the search box at all.

[2018-02-20 00:57] lemoness commented on #6503
Is this still something that needs to be done?

[2018-02-20 00:59] lemoness commented on #6482
I agree that we can simplify the code to remove the grandfathering given the situation.

[2018-02-20 01:00] lemoness commented on #6169
Was this fixed with the Winter Wonderland gala?

[2018-02-20 01:17] dknestaut commented on #10020
I want to chime in as well. I'm experiencing the same issue of with Firefox 58.0.2 64-bit on MX LInux 17 (Debian Stretch). If I click in any text entry box, one core of my CPU gets pegged at 100% for 10-20 seconds, and then it clears up and I can use the page normally. But if I go to another page on Habitica, I have to repeat this process if I click in a text entry field. I only have this issue on

[2018-02-20 01:22] lemoness commented on #6426
@mattWillis Hi there! Hope that you're doing well. We're just checking in -- how are these fixes going?

[2018-02-20 01:31] lemoness commented on #8931
Does this still need investigation, or is it ready to be claimed?

[2018-02-20 01:32] lemoness commented on #8991
Is this still "needs investigation"?

[2018-02-20 01:38] lemoness commented on #9290
I've marked this as "help wanted"

[2018-02-20 01:40] lemoness commented on #9414
Was this actually fixed? Can this ticket be closed?

[2018-02-20 02:07] JenniferMartin commented on #8182
I haven't had the issue crop up again once I got the dailies sorted out in November, but we also haven't had a time change since then, so I cannot say for sure whether the problem still exists.

[2018-02-20 03:16] seekheart commented on #10011
@negue maybe time to move to typescript? It supports interfaces which may help with this

[2018-02-20 03:18] seekheart commented on #10026
I'm thinking someone would just need to have a conditional css style to say `if (classSelected) then show mana`?

[2018-02-20 05:05] Alys commented on #10026
No, because you'd also need to consider the case where the user has opted out of the class system, which is already covered by the existing code. Replacing that with the single `classSelected` conditional would break that case.

[2018-02-20 10:09] Alys commented on #8991
We still don't know what causes it. There's code that's supposed to prevent it. It wouldn't hurt to put something on the RYA button to prevent double clicks but that might not be the only solution.

[2018-02-20 10:36] Alys commented on #9558
I haven't seen too many reports of this lately so I'll close this. Now that we have resting start and stop events recorded in Amplitude it will be easier to investigate people's reports of this problem so I'll be able to tell if we should reopen this.

[2018-02-20 10:36] #9558 closed, assigned to nobody

[2018-02-20 10:39] Alys commented on #8182
The problem I described above with time zone changes causing a Daily to become offset by one day still happens. I thought we had a more specific issue logged for it but I can't find it.

[2018-02-20 10:43] Alys commented on #10021
Hmmm, yeah, we usually ask them to disable all extensions but we forgot that this time. I've PMed them to ask them.

[2018-02-20 10:52] Alys commented on #9582
I'm reopening this because it's still happening in our staging website, which contains PR #9898. In case this is relevant, in the Settings screen I have "Set Dailies default to 'due' tab" ticked.

[2018-02-20 10:55] paglias commented on #10021
The logs listed above are what made me think of an extension but there's another very similar issue on Firefox for Windows that's been reported recently where they tested without extensions and the problem persisted. I don't have a windows pc unfortunately but I can test this weeked

[2018-02-20 11:04] Alys commented on #8735
I'm reopening this because #9939 says it's only a partial fix. The PR works well to display a single error message (which I believe was the only intention for that PR) but for cases where there's errors with two or more invited players, only one error is shown. There's a lot of discussion about that in this issue, so I think we should keep going with this issue rather than create a new one. I'll e

[2018-02-20 13:15] kartikadur commented on #9582
@Alys could you check if it happens after toggling "set dailies default to 'due' tab" option once after the page has loaded and let me know if it still happens? Also how many dailies do you have in your dailies tab?

Most of the times I experienced this error, or similar errors, it happened the first time something was set/reset/loaded. By loading I mean when the frontend gets something from the b

[2018-02-20 13:18] Tressley commented on #9651
I am re-opening this as it was not corrected following the instructions listed in the opening comment. The gutters should be ~24px between pets. We also want to prevent the first and last item in a row from being offset by zeroing out their margins accordingly.

[2018-02-20 14:34] seekheart commented on #9651
@Tressley if it was ~24px margin the pet slots would be really far apart though...

[2018-02-20 14:46] TheHollidayInn opened #10027 "Tasks Docs API Typo"
**Reported in the bug guild**

There is a little bug in the API. If you use [Get user data](https://habitica.com/apidoc/#api-Task-GetUserTasks) with the param type and use "daily", it will not work, even if the answer says, that you can use "daily", "todo", etc. , but in reality it is always the plural "habits", "dailys":
[code]

[2018-02-20 15:31] Tressley commented on #9651
@seekheart -- I understand. This is more of a responsive design issue and how we handle that moving forward (for the left column as well.) The rows break down fairly early (1280px). I've outlined a skeleton for how I think the margins should adjust given screen size.

Desktop XL (1440) - 24px;
Desktop L (1280) - 6px;
Desktop (1024) - 12px;
Tablet (768) - 24px;
Mobile - 24px;

[2018-02-20 18:57] shanaqui commented on #10008
Me and @Feywood will take this on together. Her to do the coding, me to do the wording. But @Tressley, since you're the designer I assume you know more about accessible design than we do: do you have any guidelines for how you'd like to see us phrase the alt text? Anything which we should consider doing as a priority? (@Feywood's going to add a couple more questions relating to implementation, but

[2018-02-20 19:12] Feywood commented on #10008
As far as design goes: it's simple enough to add some alt or title tags to images on the default website, but that would not, I think, fix the issue of NVDA reading text that is under modals. I think there, it's more of a design issue and perhaps use of ARIA tags? I don't know, I only did a quick glance at accessibility but defining a role for modals seems to be the common solution

[2018-02-20 19:36] Tressley commented on #10008
Hey @shanaqui / @Feywood -- Thank you for bringing this up! I feel I may be best for ALT tags, but we may want to loop in our devs @TheHollidayInn / @paglias to handle ARIA tags.

Most of the ALT tags should be pretty straightforward. Gems should be "Gems Owned", etc. Perhaps there is a better way for the crew of us to handle this? Would section by section work?

[2018-02-20 19:41] shanaqui commented on #10008
Depends how we're going to define a section? I wonder if the best thing to do would be to start by just giving everything alt text, and see where it doesn't work... that way we try the simplest solution first. (I'm also working on finding another free screenreader to test with, which may show that the modals issue is one unique to NVDA.)

[2018-02-20 19:46] Tressley commented on #10008
I define section as a "category" of the site. Maybe we tackle Tasks first (this will touch Group Plans/Challenges) and defining the icons. We could include navigation and header in this "category." We continue from there.

[2018-02-20 19:50] shanaqui commented on #10008
Sounds good! I'm happy to follow your lead if you want to organise what people do when, which might be easiest.

[2018-02-20 20:02] paglias commented on #10008
I would prefer if this was tackled by sections instead of a single big pr. My only concern is not to add to many new strings so where possible we should re-use existing ones

[2018-02-20 20:10] shanaqui commented on #10008
@paglias I'm not sure what you mean by new strings, so forgive me if I'm being obtuse, but do we *have* existing strings that would work as good alt text? What we already have is there to supplement the images for *sighted* users. Alt text needs to *replace* the images in function...

[2018-02-20 20:13] paglias commented on #10008
Sorry, I'm talking about strings stored on website/common/locales/en.

We already send about 600kbs worth of strings over the network every time Habitica is loaded so I'd prefer if we could reuse as many strings as possible instead of adding new ones which would mean more data to send, longer loading times for the website and degraded performances for users.

But I'll give a look once a PR is made

[2018-02-20 20:16] shanaqui commented on #10008
Okay, I just don't understand then. Hence @Feywood doing the coding bit, heh.

[2018-02-20 20:21] Feywood commented on #10008
@paglias I think it's feasible to re-use a lot of the strings if load is something you're concerned about. There are a lot of strings already existing. However, I think this would complicate the coding (at least from my perspective). @Alys suggested elsewhere that it should be simple enough to add <alt> everywhere, but with the json, unless I'm quite mistaken, we'd need to add quite a bit of js to

[2018-02-20 20:57] Alys commented on #10008
Ideally, all the alt text would be translatable so that it works equally well for vision-impaired users in other languages. That means that the locales json files would need to be used to store all the alt strings and they'd be added to the images using the `$t('stringName')` function.

We can certainly reuse some strings (e.g., simple ones like `gold` could be added as alt text to the gold coin w

[2018-02-20 21:08] dangeranger commented on #10008
Does the Habitica app load only the locales for the given UI element and selected language of the user?

It appears that the locales are segregated by the UI element that they are related to, so perhaps that load optimization is already happening.

If not I wonder if it would be possible to request the locales for the UI element on the page asynchronously, and filtered to the element and language

[2018-02-20 21:17] #9460 closed, assigned to nobody

[2018-02-20 21:22] Alys commented on #9582
No worries. Here's tests I've just now performed:
- went to staging site using a test account that had no Dailies
- added three Dailies, all due today:
	- Daily called "3" is at the top
	- Daily called "2" is in the middle
	- Daily called "1" is at the bottom
- reloaded Tasks page
- went to User Icon > Settings
- turned on the setting for "Set Dailies default to 'due' tab"
- went to Tasks page
- c

[2018-02-20 21:29] paglias commented on #10008
No, all the locales for a given language are loaded together. The strings are organized by purpose but it doesn't mean that they're only used in a certain parts of the website

For example quests strings could be used in the market, for pinned items in the tasks page, in the party page, etc..

Loading them asynchronously isn't really possible without waiting for the page to render and then decide

[2018-02-20 22:06] Alys commented on #9957
I've increased the priority on this because as noted in https://github.com/HabitRPG/habitica/issues/10008#issuecomment-367126096 having excess strings is an accessibility issue that slows down the website.

[2018-02-20 22:06] Alys commented on #8574
I've increased the priority on this because as noted in https://github.com/HabitRPG/habitica/issues/10008#issuecomment-367126096 having excess strings is an accessibility issue that slows down the website.

[2018-02-20 22:48] Alys commented on #10008
I've increased the priority on the two issues referred to above (removing unused strings and developer-only strings).

@paglias Just to check something, are all locales files for ALL languages loaded for each user, or just the language that the user is using plus the `en` language?

[2018-02-20 23:02] lemoness commented on #9457
I'm updating the labels on this ticket to reflect that it's ready to claim!

[2018-02-20 23:03] lemoness commented on #9458
@MathWhiz Hi there! How is it going with this ticket?

[2018-02-20 23:09] lemoness commented on #9461
I'm adjusting the labels on this ticket to show that it is now ready to claim!

[2018-02-20 23:11] lemoness commented on #9478
Can I mark this as "help wanted" or is it still "needs investigation"?

[2018-02-20 23:20] lemoness commented on #9480
@TheHollidayInn @Tressley Has this been fixed?

[2018-02-20 23:23] lemoness commented on #9758
@thecrazycoder01 Hi there! How is progress going on this ticket?

[2018-02-20 23:24] lemoness commented on #9768
Is this still happening?

[2018-02-20 23:30] lemoness commented on #9952
Have we had any other reports of this issue?

[2018-02-20 23:36] Alys commented on #9768
Yes, it's still not possible to get access to all of a menu on a small screen. An especially critical part is the log out entry - i.e., you can't log out of the website on a small device. This is troublesome because you might have logged in on someone else's device if you were trying to persuade them to use Habitica.

[2018-02-20 23:47] Alys commented on #9952
It's definitely reproduceable that a user who has never selected a class is given a notification in their user document in the database, meaning that all three official clients and any relevant third-party tools need to suppress showing it. If it's possible to prevent creating the raw notification data when `preferences.disableClasses` is true or `flags.classSelected` is false, then I'd like to se

[2018-02-20 23:51] Alys commented on #6169
It was certainly at least much less common. Closing. We can reopen next Gala if needed.

[2018-02-20 23:53] MathWhiz commented on #9458
Hi @Lemoness! This has been going along, though I am a bit stuck on how to
get the drawer working properly.

On Tue, Feb 20, 2018 at 5:03 PM lemoness <notifications@github.com> wrote:

[2018-02-20 23:53] Alys commented on #8931
Last time I checked, the feature to allow multiple party invitations hadn't been implemented on all the code that relates to invitations (e.g., removing invitations). Working out exactly what's needed to fix it is probably a larger than average job but I'm marking this as help wanted.

[2018-02-20 23:54] Alys commented on #8931
Oh, it already was, it was just "needs investigation" as well. Although I don't think those two labels need to be mutually exclusive.

[2018-02-20 23:54] Alys commented on #9414
I haven't seen reports for ages. Closing.

[2018-02-20 23:54] #9414 closed, assigned to nobody

[2018-02-20 23:55] Alys commented on #9478
This was probably from the site-wide bug of modals reappearing, which we have reported at https://github.com/HabitRPG/habitica/issues/9986

[2018-02-20 23:55] #9478 closed, assigned to TheHollidayInn

[2018-02-21 01:41] lemoness commented on #9935
@jj8huang Hi there! How is progress going on this ticket?

[2018-02-21 01:46] lemoness commented on #9765
@SheepD Hi there! What's the current progress on this fix?

[2018-02-21 01:53] lemoness commented on #9603
That has been resolved, so this ticket is now available to be claimed!

[2018-02-21 01:53] JenniferMartin commented on #10021
This is NoCyg. I tried it with all extensions disabled and the problem behavior was the same. Nothing at all showed up in the console log this time around, though.

[2018-02-21 01:54] lemoness commented on #9393
@aalsehly86 Hi there! How are things going with this fix?

[2018-02-21 01:57] lemoness commented on #9828
I think this is a duplicate of https://github.com/HabitRPG/habitica/issues/9333

[2018-02-21 01:58] lemoness commented on #9283
Did 9308 correctly fix this?

[2018-02-21 01:59] lemoness commented on #9248
@Feywood Hi there! How is progress going on this fix? Let us know if you have any questions.

[2018-02-21 02:00] lemoness commented on #9244
@jyotman Hi there! How is progress going on this fix? Let us know if you have any questions.

[2018-02-21 02:02] lemoness commented on #8892
Have we seen any recent reports of this issue?

[2018-02-21 02:02] lemoness commented on #8790
Is this still an issue?

[2018-02-21 02:02] jyotman commented on #9244
@lemoness sorry I forgot about this. I will work on this on the weekend. If its urgent then feel free to assign it someone else.

[2018-02-21 02:02] aalsehly86 commented on #9393
The @lemoness! I've submitted some changes to modal stack on PR #9545. I need you guys to test it and let me know please. Hopefully it will take care of this annoying issue because I saw some more users reporting it. Thanks!

[2018-02-21 02:03] lemoness commented on #8337
Is this still an issue?

[2018-02-21 02:03] lemoness commented on #8126
Is this still an issue?

[2018-02-21 02:04] lemoness commented on #6209
Is this still an issue?

[2018-02-21 02:06] lemoness commented on #4092
Is this still an issue?

[2018-02-21 02:07] Alys commented on #9333
closed because https://github.com/HabitRPG/habitica/issues/9828 is now being used for this issue

[2018-02-21 02:07] #9333 closed, assigned to TheHollidayInn

[2018-02-21 02:17] Alys commented on #4092
It's more of a feature request than an issue as such. It would involve adding a counter to Rewards (ideally both Challenge Rewards and normal user Rewards, as is done for Habits), and then adjusting the Challenge export CSV to contain that data. We wouldn't necessarily have to display the Rewards counter on the Tasks page, but I believe it would be popular if we did ("how many chocolates did I eat

[2018-02-21 02:54] lemoness commented on #9393
Hurrah, thanks for letting us know! We'll take a look at that PR as soon as we can :)

[2018-02-21 02:54] lemoness commented on #9244
@jyotman If you can work on it this weekend that would be awesome! Thanks so much -- we look forward to seeing your PR :)

[2018-02-21 02:58] lemoness commented on #9458
Okay, thanks for letting us know! If you have any specific questions feel free to ping our devs and we'll help as best we can :)

[2018-02-21 02:59] MathWhiz commented on #9458
Will do!
On Tue, Feb 20, 2018 at 8:58 PM lemoness <notifications@github.com> wrote:

[2018-02-21 06:25] kartikadur commented on #9582
Yeah thats a close approximation of the tests I performed too, though I didn't have the problem. Is the website for your test account run in development mode or production mode? Are you moving the second task before the page finishes reloading after the first task is moved?

Maybe I need to account for something I am not seeing. In any case I'll check the code and look to rectifying this error.

A

[2018-02-21 08:00] paglias commented on #10008
Just the language for the user

[2018-02-21 10:46] paglias commented on #10021
@JenniferMartin what's NoCyg?

[2018-02-21 13:21] Tressley commented on #9480
@lemoness -- I don't think that this is still an issue. I believe @TheHollidayInn fixed this issue during our Retreat?

[2018-02-21 15:02] mattman71 commented on #9460
Why was this closed? It's still an issue.

I excitedly clicked on Register with Google in my Settings page, and got this error:

400. That’s an error.

Error: redirect_uri_mismatch

The redirect URI in the request, https://habitica.com/, does not match the ones authorized for the OAuth client. To update the authorized redirect URIs, visit: https://console.developers.google.com/apis/credentials/oau

[2018-02-21 15:07] seekheart commented on #9651
@Tressley should responsive design be a separate child issue of this one?