[2015-06-27 00:36] Senshi-kun commented on #5499
Thanks, everybody!

[2015-06-27 01:47] lemoness commented on #5490
For what is worth, I have seen this menu behavior cause frustration with
users during my onboarding tests - but because I was under the impression
that it was an accessibility feature, I hadn't filed a ticket about it.

However - and again, I can't find the ticket, so I may be misremembering -
I believe that the arguments for accessibility were that the menu should
not disappear when you stop hove

[2015-06-27 01:51] deilann commented on #5490
Closing it when you click outside the menu is not that helpful to those
with fine motor skill issues because if you miss a link entirely, it will
go away.

However, closing it when moving to another page is probably less
problematic.

On Fri, Jun 26, 2015 at 6:47 PM, lemoness notifications@github.com wrote:

##

Currently Reading
https://www.goodreads.com/user/email_signature_destination/35215676?

[2015-06-27 04:09] harrislapiroff commented on #4315
I have a CDS set for 4, but I noticed my dailies all just reset, even though it's only midnight here in eastern time.

[2015-06-27 04:18] Alys commented on #2378
This problem is also described in https://github.com/HabitRPG/habitrpg/issues/2763 so I'm closing this issue.

Note that the tag for the challenges is not meant to be deleted because the user might still be using it (e.g., if they created tasks for themself that are related to the challenge).

[2015-06-27 04:18] #2378 closed, assigned to nobody

[2015-06-27 04:33] Alys commented on #4315
@harrislapiroff Did you change your CDS in the past 24 hours? Has the time or timezone on your PC/mobile been changed recently? Are you using two or more PCs or mobile devices that have different timezones or different times?

[2015-06-27 04:38] harrislapiroff commented on #4315
I changed it a few days ago. I have up to three devices using HabitRPG, but they are all on the same timezone and have not changed recently.

[2015-06-27 04:52] Alys commented on #5441
I also like the first option (`var string = (type in equipmentList) ? equipmentList.get(type, window) : type;`). I think it's very neat.

For `needsLowerCase`, I'm wondering if it's worth leaving out the false values for clarity. The code shouldn't need them (or am I wrong?)  and since it's a once-off exception, I think it's clearer what's happening if it's not specified at all for the other items

[2015-06-27 09:10] Alys opened #5505 "guild / party with long name has the title running over the leave/join button"
If a guild or party has a long name, the name does not wrap neatly around the leave / join button:

![screen shot 2015-06-27 at 7 08 48 pm](https://cloud.githubusercontent.com/assets/1495809/8391264/06164572-1d00-11e5-99bf-127b3f89cb95.png)

I blame the pirates.
## <bountysource-plugin>

Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/23167905-guild-party-with

[2015-06-27 09:40] habitrpguser commented on #5505
Heh! I'm not the first though: I noticed this in other guilds before, but didn't think it grave enough to create a github issue.

[2015-06-27 10:00] Alys commented on #5505
It's watery grave now!

[2015-06-27 21:31] #5395 closed, assigned to nobody

[2015-06-27 21:58] Alys commented on #5395
A fix for this has been created and should be live in the next day or two probably.

[2015-06-27 22:27] Alys opened #5506 "if deleting challenge tasks fails, user is removed from challenge anyway"
When leaving a challenge and deleting challenge tasks, a rare bug can cause the challenge ID to become "lost" at the point where the tasks are deleted. This used to result in all non-challenge tasks being deleted (https://github.com/HabitRPG/habitrpg/issues/4466) but now it merely results in the tasks remaining while the user is removed from the challenge (https://github.com/HabitRPG/habitrpg/pull

[2015-06-28 02:32] Alys commented on #5441
Discussion is now occurring in https://github.com/HabitRPG/habitrpg/issues/5503 rather than here.

[2015-06-28 04:49] ghost opened #5507 "Guild bank goes beneath the guild description and moves leave/join buttons in slim view"
While experimenting with hiding the guild bank ( #5445 ) I've noticed that in slim/mobile view the guild bank goes beneath the guild description and moves join/leave button to the left, which looks very odd:
Screenshot (taken on ff 38.0.5):
![Screenshot](http://i.snag.gy/RswgC.jpg)

Making a connection to #5505
## <bountysource-plugin>

Want to back this issue? **[Post a bounty on it!](https://www

[2015-06-28 06:47] Alys commented on #5456
@emily381 I just now went to delete your quest but thought I should check first, and I noticed that it's been started. If you report a problem and then the problem fixes itself, please always tell us so that we don't spend time investigating something that isn't broken (and so that we don't incorrectly delete a running quest, which almost happened in this case).

I'm going to assume that the butto

[2015-06-28 06:47] #5456 closed, assigned to nobody

[2015-06-28 07:14] iiieeeoo opened #5510 "Repeat every 2 days dailies - not due yesterday but took damage/streaks reset"
I completed all but one of my dailies yesterday and confirmed with the DDT, but I took more damage than predicted and have no streaks on my every-other-dailies. The DDT now has an x for them yesterday. I know they were grey when I went to bed, the pattern of not-due days in the DDT shows that yesterday should have been an off day, and they're both showing as due today, so it seems that everything'

[2015-06-28 07:16] Alys commented on #5510
How many minutes or hours ago did your cron happen?

Please report as a number of minutes/hours in the past instead of as a specific time, because timezones make times hard to work with.

[2015-06-28 07:20] iiieeeoo commented on #5510
I think within the last half hour, certainly less than an hour ago.

[2015-06-28 08:08] Alys commented on #5510
When you look at the start date for either one of those Dailies, what date do you see? Please copy-paste it here.

What's the date and time now where you are, and the timezone as GMT+nn?

[2015-06-28 08:13] iiieeeoo commented on #5510
12/06/2015 (dd/mm/yyyy). I'm in GMT+1 (British summer time) and it's currently 0913 of the 28th of June 2015.

[2015-06-28 09:02] Alys commented on #5510
@iiieeeoo I'm really sorry, but at the moment I have no idea what went wrong. We did put some new code in place in the past few hours (https://github.com/HabitRPG/habitrpg/pull/5482) and that code is used by cron, but the changes shouldn't have changed how cron worked and they should have just fixed a display problem that was causing some "every X day" Dailies to appear due/not due on the wrong da

[2015-06-28 09:11] iiieeeoo commented on #5510
No problem, thanks for looking into it so quickly. I'll keep an eye on them and post if it happens again.

[2015-06-28 14:09] ghost opened #5512 "Fetch new messages button in Tavern is misplaced if Community Guidelines are not yet accepted"
[Fetch new messages] button is misplaced if Community Guidelines are not yet accepted:

![Screenshot](http://i.snag.gy/i0930.jpg)

Screenshot taken in ff 38.0.5 for win
## <bountysource-plugin>

Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/23240919-fetch-new-messages-button-in-tavern-is-misplaced-if-community-guidelines-are-not-yet-accepted?utm_campaign=plu

[2015-06-28 14:42] #5444 closed, assigned to nobody

[2015-06-28 15:13] LittleMupsMum commented on #5510
I just had the same issue with an "Every 3 days" daily showing up as not done.  There is a cross showing up on the Data Display tool despite it being the day after it was due.
Not sure what info you're after, so I'm going to copy what's above:

UID 32e0135e-5f3b-4dc3-b517-995f6f24d5d6

The daily which failed yesterday was "Soak apricots and check schedule".  It has a start date of "06/12/2015" and

[2015-06-28 18:20] hairlessbear opened #5514 "Addthis (i.e. "Share") button doesn't display on mouseover of avatar"
### EDIT:

It is highly unlikely that the following error message is related to this issue. See [this comment](https://github.com/HabitRPG/habitrpg/issues/5514#issuecomment-119373111) for an explanation.

---

Not sure when this started, but it's probably related to this console error:

[2015-06-28 18:27] jdrapic opened #5515 "Pirate Library (Library of Shared Lists) Challenge reorganisation - deletions, new owners, etc"
Please delete the "Getting Things Done (GTD)" Pirate Library challenge with CID 2e06fe21-e5ed-4b02-93ee-c31abb023046 (created by @Cojo Warrior Princess, UID: 07376ffd-375d-4bd6-a34a-e8f16ac25a3e)!

It has 0 tasks/habits/dailies and the owner hasn't logged in since 1/1/15. The Pirate Library is trying to clear out and organize the challenges for the guild they've taken over, and I think this one's

[2015-06-28 21:32] GloomyMoonie opened #5516 "Constant "internal server error" and subsequent loss of data upon reload"
Upon every second chage to what ever task, to-do or habit, this thing pops up, and as described in the title, when I reload the page all the modifications are lost, including the completed tasks! What's most annoying though is that when the alert doesn't pop up, as in when the day resets and I reload the page to load the new dailies, only to get a massive reduction in exp, gold and mana, because a

[2015-06-28 21:41] Alys commented on #5516
If you have a second browser installed, can you please try HabitRPG on that browser and tell us if the errors keep occurring? This is just a temporary workaround. If it fixes the problem, there are things that can be done to your preferred browser to try to make the error stop.

[2015-06-28 21:54] Alys commented on #5510
@LittleMupsMum Thank you for your report. I still don't know what's caused this but I'm continuing to investigate.

[2015-06-28 21:57] Alys commented on #5510
On my own account (d904bd62-da08-416b-a816-ba797c9ee265), I have four Every X Days Dailies with a 2-day repeat. Two of them were due yesterday and two were not. All four were handled correctly by cron (the due ones were treated as due, the others were not). Unfortunately this means that the error you've both experienced is not a predictable, constant one, which might make it harder to track down.

[2015-06-28 22:46] Alys commented on #5515
I've deleted the "Getting Things Done (GTD)" Pirate Library challenge with CID 2e06fe21-e5ed-4b02-93ee-c31abb023046

If you have other challenges to delete or that need to have new owners, add a comment here. I'm about to adjust the title of this issue to make it more generic for any challenge modifications, and I'll leave it open until the Pirate Library has finished rearranging its challenges, o

[2015-06-29 01:37] joedragons commented on #4313
Hello!  66902097-c79b-496f-acd9-b78cc5867b28 here.  This occurred to me last week (6/20) as described = I checked off some dailies and the next morning noticed a bunch were unchecked.  Despite unchecking/rechecking, this happened for 2 days then I found this thread.
First, I wanted to report that the steps in the main description DID work for me and fix my issue.

In case helpful, these seemed not

[2015-06-29 02:11] #4816 closed, assigned to nobody

[2015-06-29 02:13] jdrapic commented on #5515
Awesome possum. Thank you! 

—
Sent from Mailbox

On Sun, Jun 28, 2015 at 3:46 PM, Alys notifications@github.com wrote:

[2015-06-29 02:16] carolstone opened #5517 "Party member doesn't show up in chat @ tagging"
We have a member in our party who left for a while and has now come back. He shows up in the list of members, and his avatar is there, but when you type @ for a name in the chat, he doesn't show up. I don't know if anything else isn't quite right, but his profile says he started in Feb. of 2013 and he has Veteran and Original User achievements, so I'm wondering if this might be a known issue for u

[2015-06-29 02:25] crookedneighbor commented on #5517
The chat autocomplete is not populated by the members in the guild, but by the users that have posted recent chats. So if Naffster has not written chats recently, their name won't appear in the autocomplete list.

Closing this now, but re-open if you think there's still something wrong.

[2015-06-29 02:25] #5517 closed, assigned to nobody

[2015-06-29 02:26] hairlessbear commented on #5517
Has he actually typed anything in the chat? If I remember correctly, the only users that show up for @ tagging are those that have actually participated in the group's chat.

[2015-06-29 02:26] hairlessbear commented on #5517
Whoops, @crookedneighbor's response didn't load until I posted my own. My bad.

[2015-06-29 02:27] crookedneighbor commented on #5517
No worries.

[2015-06-29 02:42] carolstone commented on #5517
Complete misunderstanding of how it works on my part. Thank you. I don't remember if he said anything in chat last time he was in the party, but he certainly doesn't have anything recent in the chat. Someone else who left and who I know was a member and chatted and has since left (and not come back) also doesn't show up in chat, but I would think that would be a good thing. OTOH, that's how I came

[2015-06-29 04:03] logicbutton opened #5518 "Quest completed immediately"
A little over an hour ago, I sent an invitation for the Moonstone Chain quest to my party. I refreshed the page a bit later and saw this:
![image](https://cloud.githubusercontent.com/assets/13093573/8400643/a80a7f14-1de7-11e5-91c5-13e797f68fe3.png)

I received all the quest rewards, including the Part 2 scroll, and it's appearing in the list of completed quests of everyone in the party, including

[2015-06-29 04:11] Alys commented on #5518
Hi @logicbutton. To investigate this, we'll need to be able to identify user accounts and your party. Please go to Help -> Report a Bug and see the instructions there. Step 6 describes how you can find your own User ID and the Group ID. Please paste them into this issue.  Please also include the User ID of RachelG8489 which you can find in her profile by clicking on her name in the list of party m

[2015-06-29 04:17] logicbutton commented on #5518
Whoops, knew I was forgetting something!

My ID: d43f0d55-51cc-478f-ab9b-1ab76d29d2d5
RachelG8489's ID: e7282214-6e97-42e7-bd9e-e4569d3cb345
Group ID: e1b31c34-8270-42c8-af8f-9c6d212cabee

[2015-06-29 04:37] Alys commented on #5518
Duplicated with test users in a test party. The quest is completed as soon as one of the invited users logs in (presumably triggered by receiving the invitation).

![screen shot 2015-06-29 at 5 14 27 pm](https://cloud.githubusercontent.com/assets/1495809/8402841/5d5c5898-1e82-11e5-86ec-414533abf430.png)

[2015-06-29 04:47] hahansen commented on #5498
Hi Alys,
Thanks for reaching out - I decided to wait a couple of days

I did the clear filter thing - and that worked so all of my tasks are showing both on my desktop and Mobile (YEAH)

But UNFORTUNATELY - the other issues are still showing up.
Is there a way to shadow my account see why these bugs are going on?

Any help appreciated!
Holly

[2015-06-29 05:37] Alys commented on #5498
When you have bugs that you want help with, please respond promptly to our questions. Sometimes information related to the bugs is only available to us for a limited time.

Please provide screenshots of your avatar and your equipment screens from both desktop and mobile. We need to see which pieces of gear are not available on mobile. Also tell us your user ID. If you don't know how to find it, on

[2015-06-29 05:38] Alys commented on #5518
Does not occur a second time with the same test party. I'm guessing there's a configuration mismatch between the old quest code and new code that was released today-ish. I'm investigating further.

[2015-06-29 06:18] Alys commented on #5518
@logicbutton Is it possible that RachelG8489 had not been active in HabitRPG for a while? Did she last log in BEFORE a previous quest finished, and then she logged in today after you sent the invitations for the new quest?

[2015-06-29 06:35] Alys commented on #5518
@logicbutton You can ignore any messages we type here unless they are directly addressed to you with your name. I need to record things that I find in the code and database in case they're useful for other devs who might be looking at this. Ignore the rest of this message. :)

[EDIT: this was irrelevant] The new quest code contains tests that look for `user.party.quest.completed` being null, and t

[2015-06-29 06:36] Alys commented on #5518
EDIT to previous message: `quest.completed` should read `user.party.quest.completed`

[2015-06-29 06:42] Frikster commented on #5510
So I may have the same problem. However, it is only a problem on my Android device. On my Android device tasks that repeat every 2 days are shown as shown as uncompleted even though I did them yesterday. However, on the habitRPG website everything is working smoothly and these tasks are greyed out as they should be. Am scared of what will happen when I wake up tomorrow.

I'm running the latest ver

[2015-06-29 06:43] Frikster commented on #5510
UID: 0eb245f4-862b-4eec-9c67-7803cf616e9c

[2015-06-29 06:53] mgpc3 opened #5519 "Notifications do not get cleared by clicking the clear button"
When I click the little "x" next to the notification nothing happens. I tried refreshing and opening the website in a new tab and it still didn't work, however notifications still get cleared if I click the link to the page in question instead of the clear button.

![notification bug](https://cloud.githubusercontent.com/assets/5097204/8402046/137ef9e0-1e2f-11e5-87dc-82ab089038e1.png)

UUID: 8f21e4

[2015-06-29 06:58] Alys commented on #5519
Confirmed. Firefox and Chrome on Mac OS.

Thank you for telling us @ptdaisy! We'll get this fixed, although it might not be very soon because we're investigating a quest bug at the moment.

[2015-06-29 07:14] Alys commented on #5518
Code that ends a collection quest and prints the messages to party chat:
https://github.com/HabitRPG/habitrpg/blob/b72b14fe6c0496edf7e2920be3d473b558bce2e6/website/src/models/group.js#L201-233
but that function hasn't changed since February.

[2015-06-29 07:23] Alys commented on #5518
With my test party, I can make it happen a second time if I set `lastCron` for one of the invitees to be yesterday and then send the invitation before that user logs in. I.e., the problem happens if the user sees a new quest invitation during/after undergoing cron. So far I've just done this with a collection quest.

[2015-06-29 07:31] Alys commented on #5518
When I tried to do the same thing using a boss quest, this red error notification occurred:

**Please reload, "Error Cast to number failed for value "NaN" at path "quest.progress.hp""** If the error persists, please report it at Help > Report a Bug. If you're familiar with your browser's console, please include any error messages.

That happened twice with a boss quest.

When I tried again with a

[2015-06-29 07:35] Alys commented on #5518
Note that for the user who triggers the quest completion, the quest invitation modal never appears. All they see is the quest completed modal.

[2015-06-29 07:41] Alys commented on #5518
This is the user's `party.quest` object after the invitation has been sent and before the user logs in to trigger cron and the quest completion:

[code]

[2015-06-29 07:56] Alys commented on #5518
Yeah, I'm just flailing about here. I've reverted production to the previous version. I'll keep looking at the code though because I DO NOT WANT IT TO BEAT ME.

[2015-06-29 07:58] Alys commented on #5518
@logicbutton Thank you VERY much for telling us about this! We don't yet know exactly why it happened, but we will sort it out.

I'm sorry your party was affected by it. If you'd like me to revert any of the incorrect changes that happened to your party, just say so. For example, I can remove the quest achievement from all party members and/or remove the quest rewards. Of course if you'd rather ke

[2015-06-29 08:46] Alys commented on #5518
At the point where this bug happens (invitation sent, quest NOT started), [this isOnQuest line](https://github.com/HabitRPG/habitrpg/blob/b72b14fe6c0496edf7e2920be3d473b558bce2e6/website/src/models/group.js#L203) should be preventing the rest of the code in that function from executing (the same line occurs in the [boss quest code](https://github.com/HabitRPG/habitrpg/blob/b72b14fe6c0496edf7e2920b

[2015-06-29 08:50] Alys commented on #5518
Oh wait, [yes it is](https://github.com/HabitRPG/habitrpg/issues/5518#issuecomment-116504192). I should read my own notes. :)

That's where the bug lies, I think.

[2015-06-29 08:56] Alys commented on #5518
And [this is where user.party.quest.key is being set](https://github.com/HabitRPG/habitrpg/blob/b72b14fe6c0496edf7e2920be3d473b558bce2e6/website/src/controllers/groups.js#L925) when the invitations are sent, so we just need to work out why that's being done, is it necessary, and if so, what can we put in the [isOnQuest function](https://github.com/HabitRPG/habitrpg/blob/b72b14fe6c0496edf7e2920be3d

[2015-06-29 09:52] Alys commented on #5518
I'm not sure if user.party.quest.key needs to be set at that point, but regardless, it's not a good way to check for the quest being active. Checking for `group.quest.active` seems more reliable. :)

The PR fixes this problem on my local install. If it's merged when I'm not around, someone should repeat [this test](https://github.com/HabitRPG/habitrpg/issues/5518#issuecomment-116497644) before mer

[2015-06-29 11:09] WhitneyFox opened #5521 "Dailies not doing damage"
I really shouldn't complain about this too much as it means I apparently can't die, but when my day reset this morning all my checks from yesterday cleared and (I think) my streak counters updated, but I didn't take any damage from dailies that weren't checked off. I think I should have taken about 12 damage. I can't be certain as I wasn't really paying attention on the weekend, but I don't think

[2015-06-29 12:47] crookedneighbor commented on #5518
Ahh, so the reason we didn't catch this in our testing is because the PR was specifically so you didn't have to refresh the page to get the quest invitation... so we must not have bother testing cron. Whoops :disappointed:

[2015-06-29 12:48] #5518 closed, assigned to nobody

[2015-06-29 12:58] crookedneighbor commented on #5521
@WhitneyFox Is it possible that you're currently [resting in the inn](http://habitrpg.wikia.com/wiki/Rest_in_the_Inn)?

We'll need your user id to investigate further. You can find it in [Settings > API](https://habitrpg.com/#/options/settings/api). Be sure to only copy the User ID and _not_ your API Token.

[2015-06-29 13:00] crookedneighbor commented on #5519
This is probably my fault. I was doing some refactoring of the chat code. Looking into it.

[2015-06-29 13:14] hairlessbear commented on #5518
@Alys `user.party.quest.key` is being set on quest invite so the rewards section of the invite modal will display properly. Previously, it relied on `party.quest.key`, but since the modal now displays on user sync instead of party sync, the modal can pop-up _before_ party sync, causing `party.quest.key` to be unreliable. So I set `user.party.quest.key` on quest invite, and changed the rewards moda

[2015-06-29 13:24] hairlessbear commented on #5519
@crookedneighbor Possibly relevant: there's a console error being thrown every time a guild page is loaded. It doesn't happen on the party or Tavern pages.

[code]

[2015-06-29 13:38] crookedneighbor commented on #5518
Don't sweat it @hairlessbear. These things happen. I've done much much worse :smile:

[2015-06-29 13:39] crookedneighbor commented on #5519
Yeah, I just figured out why that's happening and have submitted a fix.

[2015-06-29 13:59] Ytrog opened #5522 "Tab crashes in chrome when site is left open for a while"
In Chrome (On windows 7) when I leave the tab wit HabitRPG open for a few hours (more than 4h) the tab is crashed (the "aw snap" message).

The workaround is reloading the page however.

[2015-06-29 13:59] #5519 closed, assigned to nobody

[2015-06-29 14:01] crookedneighbor commented on #4705
Closed with https://github.com/HabitRPG/habitrpg/commit/522181890e3ce068b518029f1590a9421fd490bd

[2015-06-29 14:01] #4705 closed, assigned to nobody

[2015-06-29 14:01] crookedneighbor commented on #4001
Closed with https://github.com/HabitRPG/habitrpg/commit/522181890e3ce068b518029f1590a9421fd490bd

[2015-06-29 14:01] #4001 closed, assigned to negue

[2015-06-29 14:01] crookedneighbor commented on #4293
Closed with https://github.com/HabitRPG/habitrpg/commit/522181890e3ce068b518029f1590a9421fd490bd

[2015-06-29 14:01] #4293 closed, assigned to nobody

[2015-06-29 14:04] logicbutton commented on #5518
@Alys Thank YOU (and everyone in this thread) for your prompt response! Wish my support tickets at work would get answered so quickly. :) I've asked the party what changes they'd like made; will report back.

[2015-06-29 14:12] LittleMupsMum commented on #5510
Happened again with my Make Chias (every 3rd) daily just now.  Should not have been due (29/6) as I completed it the day before (28/6).  Not due today (30/6) either.  Now shows on the DDT as incomplete 29/6 as if it were due.  I checked my DDT before midnight and it had only the two other dailies showing incomplete, not this one.  Had also repeatedly refreshed my tasks page showing tasks grey as p

[2015-06-29 15:11] Lenyberry commented on #5510
This happened last night on my every 4 days "water houseplants" daily. It showed yesterday as gray, as it should have (it was due the 27th and should be due again tomorrow, start date 6/11), and I should have had a perfect day yesterday -- completed all due dailies and double-checked it with the DDT, both the site and DDT showed that I had completed everything. This daily also would not have been

[2015-06-29 15:12] rachelkachel commented on #5510
This happened to me too, about a half hour ago (8:30ish GMT-6), on a daily set to every 2 days (Ten pushups), which has a start date of 6/17 (so it's due today, 6/29). DDT shows an X for yesterday. I don't have a Custom Day Start time set. I have been in the Inn for a few days - checked out yesterday - and did not do this daily the last time it was due, although before that I had an unbroken strea

[2015-06-29 15:37] hahansen commented on #5498
Hi Alys,
I waited based on what you said in your first response. Sorry if I misunderstood.
See Screenshots below
my user id is cd45b8f9-4a58-4fb7-99c1-3ea4b5edc7bb

The equipment missing from the mobile view was stuff earned from quests - Not the amoire or cuttle fish  (see screenshots)
DESKTOP:
![image](https://cloud.githubusercontent.com/assets/13067133/8411527/36648c54-1e39-11e5-9558-91d1d7524e

[2015-06-29 15:52] Frikster commented on #5510
_IMPORTANT UPDATE_: So last night the 'VR' daily that I had set to every 2 days was correctly greyed out on my PC. It is not also correctly greyed out on my android device. No clue if I lost health last night from this dailly but it looks like the reset fixed it? Except... I have a 'PC' dailly that repeats every two days. And what the hell, this morning it is unfinished as it should be on my lapto

[2015-06-29 16:01] hairlessbear commented on #5519
@crookedneighbor: Ignore this if the fix just hasn't been deployed yet, but I'm still getting the console error above every time I load a guild page. That being said, it doesn't seem to affect my ability to interact with the guild in any way. I reloaded the page multiple times to ensure that I have the most up-to-date version of the code.

[2015-06-29 16:01] hairlessbear commented on #5518
@crookedneighbor I'll keep that in mind; thanks :sweat_smile:

[2015-06-29 16:39] iiieeeoo commented on #5510
Frikster - the Data Display Tool (https://oldgods.net/habitrpg/habitrpg_user_data_display.html or click the "data" link from the website) will help you work out what's going on.

[2015-06-29 16:44] kinnnie commented on #5510
I have a daily that was set to every 4th day (named "Tandtråd" if you look into my details). I had missed it the last times, so Saturday I finally did it even if that wasn't due day. To try and change that, I put Saturday 27/6 as starting date, it turned yellow or orange or what it was and I checked it and it turned gray. Sunday would have been due day if I hadn't change it, but it didn't show up

[2015-06-29 18:20] logicbutton commented on #5518
@Alys Could you please remove the quest achievement from everyone's profiles, but leave the rewards?

Thanks again for your help with this!

[2015-06-29 19:06] jkshroads opened #5524 "Todo History drops hugely because of bookkeeping (unconnected to actual task value)"
I have two huge drops (from around +1500 to around -2000) in my Todo History graph now.

The first one was because I added a checklist item to a very red task. It was a long-term task and I realized I needed to subdivide it more, but adding a single item to it caused this huge negative drop, even though I did nothing "wrong" in real life. When I finally completed the task, some time later, my hist

[2015-06-29 21:41] carolstone commented on #4488
Is anyone working on this? I'm very willing to try, if nobody is knee-deep in it yet.

[2015-06-29 22:03] brandonjreid commented on #4488
Go for it!  I've been meaning to get around to it, but I've been busy, so I haven't had a chance to look at it.  Feel free to work on it.

[2015-06-29 23:05] crookedneighbor commented on #5498
Thanks for the screenshots @hahansen. I believe the egg basket mount _should_ be on the latest version of the iOS app. The most recent subscriber gear is not, but the green knight stuff should be.

Can you tell me what version of the app you're using (You can find that by going to the menu and tapping About)? And if there are any updates in the App Store?

[2015-06-29 23:16] Alys commented on #5129
There's another report of this in https://github.com/HabitRPG/habitrpg/issues/5498 and it also includes an Egg mount not being shown.

[2015-06-29 23:19] Alys commented on #5498
@hahansen That missing equipment problem is reported in https://github.com/HabitRPG/habitrpg/issues/5129 and I've added a comment there about your example of it.

I'm going to close this issue now as a duplicate, but please do give us the information @crookedneighbor asked about, so that we can refer back to it when we're working on the other issue.

Also note that we are currently rewriting the m

[2015-06-29 23:19] #5498 closed, assigned to nobody

[2015-06-29 23:21] Alys commented on #3146
I'm closing this since it's old, was fixed with a cache clear, and we now have an automatic refresh every six hours.

[2015-06-29 23:21] #3146 closed, assigned to nobody

[2015-06-30 00:16] hahansen commented on #5129
Hey there  my original ticket was 5498 - you can see my screenshots there for comparing desktop to mobile gear missing
my mobile version is v0.0.53 in case this helps

[2015-06-30 00:21] WhitneyFox commented on #5521
Hi @crookedneighbor I stayed in the inn a couple weeks ago, but I checked out and I've received damage since then. As far as I can tell, this only started happening this weekend.

My User ID is 8c487460-6480-46dc-bb7b-4850bd15ecb8

Thanks.

[2015-06-30 00:25] #5204 closed, assigned to nobody

[2015-06-30 00:26] crookedneighbor commented on #5129
@hahansen Current version is v0.0.56. There should be an update on the iOS app store.

[2015-06-30 00:37] TheHollidayInn commented on #5196
How did the task look when you selected it before? With a simple css change I can make the input selectable, but it looks like this.

![screen shot 2015-06-29 at 7 36 47 pm](https://cloud.githubusercontent.com/assets/1253400/8421557/3351973e-1e96-11e5-820d-d1da4a8ed347.png)

[2015-06-30 01:06] kaitmiller commented on #5510
I have a similar issue.

This morning (~6:30 AM EDT) when I checked Habit on my phone (iOS app), I noticed that I lost health, which surprised me, as I was pretty sure I'd had a perfect day yesterday and my party is not in a quest. I couldn't look at the streaks then, but I looked this evening and saw that my every-4-days Daily, "Back up computer," had no streak.

It should not have been due yeste

[2015-06-30 01:15] Alys commented on #5521
Are all of the Dailies that should have given you damage but didn't using the new "Every X Days" feature?

[2015-06-30 01:24] carolstone commented on #4488
Thank you. I'll probably have a bunch of questions, but I would really like to get this fixed.

[2015-06-30 02:44] WhitneyFox commented on #5521
Hi @Alys I haven't set up any of those kind of features. I just have everything set as the default everyday setting.

[2015-06-30 02:55] Alys commented on #5521
Oh... Suddenly a lot has become clear. WhitneyFox's Dailies don't have start dates because they haven't been edited since the new Daily options went live (which is fine; that's a perfectly reasonable, permitted scenario). However my new `shouldDo` code assumes a start date of today if there is no start date specified. That works well for the case where `shouldDo` is being used to determine if the

[2015-06-30 03:22] joedragons commented on #5180
Happens in Windows 7 (Firefox 38.0.5) as well.

Mousing over icon associated with the "lurking" text (eg. the eggs) causes it to vanish again.

ADDENDUM: Here's a screen of it happening when feeding pets.  Note it is affecting when you scroll as well (aka my data isn't a tiger cub=)).
![habitrpgpets](https://cloud.githubusercontent.com/assets/9559205/8506061/8e203eb8-21cf-11e5-9f10-89ee671e3435.jp

[2015-06-30 03:34] WhitneyFox commented on #5521
Yay I helped, lol. Now lets see if I can complete enough dailies to level before you fix the code ;-)

[2015-06-30 04:03] harrislapiroff commented on #4315
I checked this again tonight and it seems to be working fine now. Not sure what happened last time. Thanks for replying, though!

[2015-06-30 04:05] harrislapiroff commented on #5425
+1 on using `.btn-block` and `.btn-lg`.

[2015-06-30 04:37] hairlessbear opened #5525 "Newly created Daily's Start Date should be yesterday if the time of creation is between midnight and CDS"
_edit by admin:_

_Currently, when a Daily is created, the start date is set to the current real-world date (i.e., the date that your PC's clock reports)._
_However if you have a Custom Day Start (CDS) set and if you create the Daily after midnight but before the CDS, then the start date should be set to yesterday (because HabitRPG-time is still "yesterday" until the CDS time is reached). This all

[2015-06-30 04:42] Alys commented on #5525
That's probably because of the start date. I am guessing that the start date on that Daily is "today" in real terms, i.e., the current calendar date. However because of your CDS and the current time, in HabitRPG you are still on yesterday. Therefore the Daily is not due at the moment, but it will be after 1am.

We're taking this approach because the start date field shows just the date and doesn't

[2015-06-30 04:44] Alys commented on #5525
Also, we're pretending that I didn't type "you're" instead of "your". I do English good.

I'm still looking at the Start Date code to see if I can make it better. It is unintuitive in some circumstances and possibly broken in others.

[2015-06-30 04:49] hairlessbear commented on #5525
It seems like a daily should be due on the day it is created (i.e., before next cron). Not only that, within the daily's display (and in the DDT), it _is_ due today.

[2015-06-30 04:50] hairlessbear commented on #5525
At least, I think that's true. I'm creating a daily that I'm going to leave unchecked, as a test.

[2015-06-30 04:54] Alys commented on #5525
"within the daily's display, it is due today"  - Can you explain what you mean by that? You said it was grey, which means the display shows that it's not due.

[2015-06-30 04:55] hairlessbear commented on #5525
I mean that each day of the week is...I don't know the right word..."selected"? The visual style of each day is the style that indicates that a daily is due that day (bolder outline and slightly darker)

[2015-06-30 04:56] Alys commented on #5525
Please look at the start date. That takes precedence over all the other due/not due settings. If the start date is in the future, then it will never be due.

If the start date is today's actual date but you are still before your CDS time, then your HabitRPG-day is still yesterday, so the Daily is not due at this precise moment.

[2015-06-30 04:59] hairlessbear commented on #5525
That makes sense. In that case, the display is extremely unclear. The grey indicates it's not due (which is correct), but the style of the days of the week indicate that it is due, making it appear that something is wrong (hence why I filed this bug report :smile:)

[2015-06-30 05:05] hairlessbear commented on #5525
Just ran cron, and I _think_ the test daily did damage me, indicating that it was actually due. I don't know of a method to test this with certainty though. I believe it was ticked off because it now has a history (i.e., a blue dot) when you click on the "progress" button, whereas a new daily does nothing when the button is pressed.

[2015-06-30 05:05] Alys commented on #5525
Not exactly. The style of the days of the week indicate which days of the week you have selected as the days it should be due on. We need to have that style still applied to the days even when the start date is in the future because otherwise it would be harder to set up a Daily with all the correct days in advance of the start date.

[2015-06-30 05:07] Alys commented on #5525
It will have a history even if it didn't damage you. The history can indicate no change in value (i.e, if the Daily wasn't due, then the new history value will be the same as the old one).

[2015-06-30 05:09] hairlessbear commented on #5525
Good to know about the history.

Regarding the visual style, the issue I have is that if all days of the week are selected, and the daily is unchecked, it's very unintuitive for it to be grey. In all other situations, an unchecked daily with all days of the week selected would not display as grey, and the fact that it does in this one context is confusing.

[2015-06-30 05:16] Alys commented on #5525
But its grey because it's **not** due because the start date is in the future.

If you take any existing Daily and change its start date to the future, the Daily has to go grey because it's no longer due, regardless of any other settings it might have.

We can't adjust the appearance of the days of the week boxes when the start date changes, because those days haven't been changed. If we did make

[2015-06-30 05:31] hairlessbear commented on #5525
I understand that it's not a bug (EDIT: to clarify, I understand it, _now that you've explained it to me_ :smile:). What I'm saying is that it _feels_ like a bug; the behavior is unintuitive, and if possible, should be changed. It doesn't make sense to me to have dailies I create at one time of my "HabitRPG day" to be due before cron, and have others not be. The whole point of CDS (as I understand

[2015-06-30 05:50] Alys commented on #5525
Okay but that's a different thing than changing the days of the week appearance to make them look as if they haven't been selected.

You are right about the point of CDS - it does let you perform actions for a day up until a certain time on the next day. And you CAN add a new Daily between midnight and your CDS and still have it due immediately - you just have to adjust the start date to be "yeste

[2015-06-30 06:09] hairlessbear commented on #5525
I was unclear before: I'm not suggesting that the visual style should be modified to make days appear as not selected when they really are. In fact, I'm not suggesting that the visual style be modified in any way. I can see why it appeared that I was suggesting visual changes; I didn't mean to give that impression, and should have clarified.

What I'm suggesting is that the daily creation behavior

[2015-06-30 06:22] Alys commented on #5525
Actually I'll reopen this and adjust the title a bit, because you're right that the initial start date should take into account the CDS time and it's probably not something I'll get to today but I don't want to forget it. I'm sorry it was confusing; you were right to report it.

[2015-06-30 07:03] Alys commented on #5204
Current stats for usage of the costume option, counting all users who created their account more than 60 days ago and logged in within the past 30 days (i.e., established, returning users):

{ "_id" : { "preferences_costume" : false }, "count" : 11100 }
{ "_id" : { "preferences_costume" : true }, "count" : 13112 }
{ "_id" : { "preferences_costume" : null }, "count" : 18595 }

30% use a costume

Se

[2015-06-30 07:38] iiieeeoo commented on #5510
The same dailies were not-due again yesterday and I took damage/lost streaks again today, but this time the DDT is showing that I had a perfect day - the dailies in question are showing as not due yesterday. Weird. Would it be useful if I don't check one of them off today although it's due and see what happens?

I should probably mention that the day before yesterday (the last time they were due)

[2015-06-30 08:27] silverbucket opened #5527 "More diverse hairstyles"
There aren't any hairstyles for avatars that aren't either - fully haired or completely bald. What about other hair like:
- windows peak
- bald on top, hair on the sides
- just hair on top

[2015-06-30 09:12] Alys commented on #5518
@logicbutton I've removed the quest achievement from all party members. Please tell me if anyone reports problems with that!

[2015-06-30 10:12] Alys commented on #5510
Everyone, there's a change to HabitRPG which will be released soon (within the next day probably) that should make cron behave better for "Every X Days" Dailies. I've also released a new version of the Data Display Tool (version 6.0a) which has some small fixes. However I think we still need to make changes to both HabitRPG and the DDT to properly account for Dailies' Start Dates under some circum

[2015-06-30 11:28] cmlobue commented on #5510
I am having this problem as well.  I have an every 2 days task called "Water the Mounts" which damaged me on my last two "off days" before that even though it was not due on either of those days.  My user ID is a8769e78-9b13-400f-a24c-961ef29b80f8.  I only use HabitRPG on Firefox 38.0.5 on a machine running the latest update of Windows 7.

Edit: It also applied to my every 14 days "Care for the Ho

[2015-06-30 12:43] devbrain83 commented on #5395
Seems like it's fixed now. Good job!

[2015-06-30 15:36] hairlessbear commented on #5229
This was fixed in #5298; would someone mind closing it?

[2015-06-30 16:00] #5229 closed, assigned to nobody

[2015-06-30 16:06] LordVladneutral commented on #5515
I have recreated the "Pokemon Tasks" challenge (adcd6903-e3c6-4c27-a0e9-21f2e7515cd6 and no owner) in an other appropriated guild and told all the members where it will be gone. So I think you can delete it.

Thanks in advance.

[2015-06-30 16:09] Satvik commented on #5196
It did look like that! But that didn't bother me.

On Mon, Jun 29, 2015 at 5:37 PM, Keith Holliday notifications@github.com
wrote:

[2015-06-30 16:11] hairlessbear commented on #4618
The new wolf mount art is wider than it used to be, causing the wolf mounts to be out of alignment with the rest of the base mounts (which are aligned properly thanks to @joyclark).

![selection_013](https://cloud.githubusercontent.com/assets/7059890/8435739/034e17de-1f21-11e5-9a1f-ea80c2edbc3a.jpg)

[2015-06-30 16:16] mxrowanthomas commented on #5446
Is anyone working on this? If not I'd like to have a go as a first contribution.

[2015-06-30 16:20] TheHollidayInn commented on #5196
Sweet. :) I will fix it after I get off work.

[2015-06-30 16:39] ghost commented on #5446
Hmm, screenshots above gave me an impression that @crookedneighbor got it elegantly fixed and trying to replicate them would be a "duplicate effort". @crookedneighbor please excuse me if I got it wrong and screenshots were there only to encourage other contributors ((

[2015-06-30 18:15] josh-audio opened #5529 "HTML entities are not escaped when creating new habits/tasks/ect"
This is pretty self-explanatory. For example, I can't have a task with just a single space, but I can make a blank task by typing `&nbsp;` as the task name:

![image](https://cloud.githubusercontent.com/assets/6700184/8438211/72b4574e-1f32-11e5-9b87-44fe63ab01b4.png)

[2015-06-30 18:30] crookedneighbor commented on #5446
I didn't change any code. I just manipulated the dom using the Chrome inspector.

@mxrowanthomas Please go for it.

[2015-06-30 18:40] #5017 closed, assigned to nobody

[2015-06-30 18:55] lemoness commented on #5514
Pinging @sabrecat

On Sun, Jun 28, 2015 at 11:20 AM, hairlessbear notifications@github.com
wrote:

[2015-06-30 21:53] jylyn commented on #5518
I see this is closed but I've just had the same thing happen to me.  My browser crashed when I hit the sync button this morning and I came back to see:

TangyDragonBBQ found NaN Testimonies.
All items found! Party has received their rewards.

My cron was the first in the party to run after the quest started.  I'm using the the beta server and I probably haven't refreshed the tab in a few days.

My

[2015-06-30 22:14] hairlessbear commented on #5518
@jylyn Two things from your message jump out immediately.
1. "I'm using the beta server"
2. "I probably haven't refreshed the tab in a few days"

Either or both of those could have caused this. First of all, you shouldn't be using the beta site, at all. It's there for the devs to test out new features, and as such, is often unstable and contains bugs. Additionally, it doesn't necessarily have the

[2015-06-30 22:19] Alys commented on #5529
I see this as a good thing. You can't create a blank task by accident but you can if you go to the trouble of using nbsp. Blank tasks can be useful as separators, or placeholders for notes when you don't want visible text.

I use nbsp in several of my tasks to control word wrapping.

[2015-06-30 22:21] jylyn commented on #5518
Thanks @hairlessbear - I figured it was a combination of those things that was to blame!  I was using the beta site because I kept getting killed from #4313 but perhaps it's time to switch back.

Just thought I would also point out that this happened AFTER I accepted the quest invitation - it seems from reading the messages above that it was previously happening to users who hadn't accepted.  Not

[2015-06-30 22:24] Alys commented on #5518
@jylyn Exactly as @hairlessbear says, please don't use the beta site. We can't consider this to be a bug that needs fixing since beta is currently being used for testing a specific feature that is not related to quests. If you use the main site, this will not happen.

If the quest participants want the quest achievement to be removed, I am willing to do that. Please provide a list of UUIDs for all

[2015-06-30 22:25] hairlessbear commented on #5518
There is still no fix for #4313, especially not on the beta site. But one way to mitigate the effects of #4313 is to refresh your page every once in a while. You may have been more affected by the bug due to leaving the tab open for multiple days at a time.

[2015-06-30 22:52] hairlessbear commented on #5529
@Alys: Is it possible that this is a security risk? Is there any chance that someone could use this to affect the server or its data? I don't know enough about how the input is parsed to be sure, but it seems like something worth investigating.

[2015-06-30 22:57] josh-audio commented on #5529
I agree that it's nice to be able to add nbsps. It stops making sense with other characters, like &eacute; which could just as easily be entered as é.

[2015-06-30 23:22] Alys commented on #5529
@SecondFlight &amp;eacute; is a valid way to enter &eacute;. Some people would find it easier to remember than the Windows alt code or the Mac keystroke combination, and it works on all platforms; if you're using someone else's computer temporarily, you might not have access to whatever other method you're familiar with for entering special characters.

@hairlessbear I don't think it's a security

[2015-06-30 23:25] hairlessbear commented on #5529
@Alys The risk (if there is one) is that the text that they type in is sent to the server, and saved into the database. Depending on how the input is parsed, that could lead to an exploit.

Again, I'm not saying there _is_ a risk. Just explaining how there could be.

[2015-06-30 23:27] josh-audio commented on #5529
@alys Honestly I wasn't sure if it was a mistake or if it was by design.

[2015-06-30 23:42] Alys commented on #5529
@hairlessbear Yes, the tasks are sent to the server and saved in the database but I'm not aware of any step in that process where HTML entities would be a security risk.

[2015-07-01 00:26] lemoness commented on #4618
So, we're going to switch over to displaying separate art of the isolated
mount heads in a fixed canvas - the art is currently being generated on the
Pixel Art Trello. I'll post them when they are done! That will fix all
mount page alignment issues.

On Tue, Jun 30, 2015 at 9:11 AM, hairlessbear notifications@github.com
wrote:

[2015-07-01 01:25] hairlessbear commented on #4618
Yay!

[2015-07-01 01:29] hairlessbear commented on #5529
@Alys I'm very inexperienced in web security, so I'm unable to explain properly why I think this is an issue. I'll have to do some more reading and get back to you.

All I'll say for now is that the risk I'm imagining isn't really HTML-based, but JavaScript-based. If HTML entities can go through, there's a chance that JavaScript could go through, either on its own, or contained within a `<script>`

[2015-07-01 01:38] Alys commented on #5529
Anything you learn will be of interest!

It is possible to enter javascript code into your tasks of course, such as `<script type="text/javascript">alert("hello")</script>` or with HTML entities, but it's displayed exactly like that and doesn't execute.

[2015-07-01 02:20] qarylla opened #5532 "[Monthly] Rollover is not occurring at midnight in the user timezone"
User ID: 810b6fce-697f-417e-afa1-1a632700cbff
Browser: Internet Explorer 11
OS: Sadly Windows 8.1

When logging into the system at 10:18 Eastern Time to purchase my remaining gems for the month, I went to the market to see that the monthly rollover is not necessarily timed to match the timing of the daily rollover.

If the monthly rollover is not automatically timed to coincide with the daily roll

[2015-07-01 03:00] Alys commented on #5532
Are you saying that your gem cap has not yet reset but it should have, or it has reset but it should not have yet?

What timezone are you in, in terms of UTC +/- a number? Timezone names tend to not be meaningful to people outside the local area (for example, there's at least two countries that have an eastern time).

What date is it where you are?

[2015-07-01 03:17] #5521 closed, assigned to nobody

[2015-07-01 03:30] innus commented on #5129
Hi there,

I seem to be having the same trouble with the mobile app for Android not showing or taking into account purchased equipment.  I've noticed that sometimes it takes a while to sync between mobile and desktop, but my equipment hasn't synced at all, and I think I would have done better the last time I checked off list items if I had done it on the desktop version.

My userid is ccec16ed-5fd

[2015-07-01 03:39] innus commented on #5129
So sorry.  I just saw issue #5498 where it was stated it was better to use the mobile version of the website rather than the app because the apps were being rebuilt.  Is this still the case?

[2015-07-01 03:49] Alys commented on #5129
It's not exactly that it's better to use the website because the apps are being rebuilt - you can still use the old apps while the new ones are being built - it's just that it can be better to use the website at the moment because it has more features than the current apps, and also doesn't have that equipment bug that some users suffer from. See my comment from yesterday at the bottom of the issu

[2015-07-01 03:51] innus commented on #5129
Thank you @Alys.  I appreciate the help!

[2015-07-01 04:59] hahansen commented on #5129
BTW- it turned out my IOS version was out of date - as soon I did the updates on The App Store all my issues seem to be gone - YEAH!!!!

Sent from my iPhone

[2015-07-01 05:03] hahansen commented on #5129
Hey I did the update and that seemed to fix the issue! YEAH!!!! Thanks everyone for your help!

[2015-07-01 06:05] jronath opened #5533 "Unable to accept quest posted by other party member."
Pretty much the subject line. I'm reborn and attempting to regain equipment, first quest was no problem, but second one no one accepted after 18 hours.

Not getting the pop up "New Quest" and I don't see the button on the Party page. My party member pulled the quest and tried to repost it and I still couldn't join it. We then tried with a different quest same issue. I'm in the process of confirmin

[2015-07-01 06:44] Alys commented on #5533
The quest in that party has already been started by the quest owner. The owner should abort the quest (there's a button at the bottom of the quest box). The scroll will reappear in their inventory (they should reload if they don't see it). They should then click on the scroll to issue the invitation and then should NOT click "begin" in the quest box on the party page.

If they follow this process

[2015-07-01 06:54] iiieeeoo commented on #5510
Well, I actually didn't do one of my every-other-dailies yesterday (check emails). It was due yesterday and my cron ran a few minutes ago. The streak reset, but I didn't take damage from it.

[2015-07-01 06:58] Alys commented on #5510
@iiieeeoo Are you certain that the streak for it was not zero yesterday?

[2015-07-01 07:00] iiieeeoo commented on #5510
Oh, you're right. I didn't get around to resetting it.

[2015-07-01 07:02] jronath commented on #5533
Yeah, sorry. The owner got pissed off and activated the quest.  they completed it on their own at midnight.

[2015-07-01 07:04] Alys commented on #5533
Thanks for letting us know!

Comment here again if any future quests have the same problem.

[2015-07-01 07:05] jronath commented on #5533
I am having the same problem. Sorry I didn't mention that in my previous comment.

[2015-07-01 07:09] Alys commented on #5533
Can you please reload the party page and tell me if you see an invitation and/or see accept/reject button on the quest box (they might be at the bottom of one of the two box tabs - please check both tabs and scroll down to the bottom of each).

[2015-07-01 07:15] Alys commented on #5533
Are you or any of your party mates using the "beta" HabitRPG site? If you're not sure what that means, please get each of your party members - especially the person who started the most recent quest (the quest that is still pending) - to check the URL of the website. Please tell me if starts with anything EXCEPT exactly this: **https://habitrpg.com/**

[2015-07-01 07:20] jronath commented on #5533
I do not see the accept/rejection buttons or receiving the Quest pop up.

But that second comment might explain it. I received the email about the Quest. Clicking the link in the email sends me to the beta site which is doesn't have the button on the party page still, but does give me the pop up  (I thought I checked beta yesterday and it didn't work).

The quest owner has been using beta because

[2015-07-01 07:24] Alys commented on #5533
That's the cause of the problem. Beta does not have the latest code for quests. Please tell the quest leader to cancel the quest and then move to the normal HabitRPG site at https://habitrpg.com/

The beta site is used by admins for testing new features, often features that have not yet been completed and that contain significant bugs or very different behaviour than you would see on the normal si

[2015-07-01 07:24] #5533 closed, assigned to nobody

[2015-07-01 07:32] jronath commented on #5533
Yup, that worked. Thanks for the assistance. My friend's been using Beta on an Admin's suggestion because they had issues getting the regular site to open with their unusually large number of dailies. They hadn't had any significant problems until now.

[2015-07-01 07:35] Alys commented on #5533
Thanks for telling me. Please let them know that the admin probably meant that advice as a very temporary measure and it's best to not use beta now.

By the way, we recently made a change to the normal site which we think has resolved the server errors that many players were seeing frequently. If your friend had bad performance in the past on the normal site, they might find that it is better now.

[2015-07-01 08:20] mariyadavydova opened #5534 "Checklists added to TODO item on iOS are not saved"
STR:
- Create a TODO item either in browser or in iOS app.
- Go to editing mode on iOS app and add some items in checklist.
- Save item.
  ER:
- Checklist is added an visible both in iOS app and in browser.
  AR:
- Checklist seems to be added, but when opening browser version, the is no one. It also disappears from TODO item details in iOS app.

My User-ID is 4b95e7de-a0ef-4f2a-b42f-6fb393a570be

[2015-07-01 09:19] fabellalin commented on #5515
I think the challenge "Everyday Things" (72dee980-021a-4a2a-83dd-2e03be74385f) should be deleted since it doesn't seem active and the owner last logged in on 17/01/2015

[2015-07-01 09:41] LordVladneutral commented on #5515
I think it shouldn't be deleted, but rather I'll take care of it and improve it. My user ID is ce36e72e-50fd-4e98-908b-34b3c06e9664 .

[2015-07-01 10:13] mxrowanthomas commented on #5446
@crookedneighbor I thought that would be the case I will get on with that.

[2015-07-01 15:26] hairlessbear commented on #5131
This was fixed in #5298, so this can be closed.

[2015-07-01 15:49] #5131 closed, assigned to nobody

[2015-07-01 16:30] hairlessbear opened #5535 "Boss health display doesn't update at same time that damage is dealt"
Here's an example from today:
![selection_015](https://cloud.githubusercontent.com/assets/7059890/8459569/41a22112-1fec-11e5-8764-fe8a7ca488bc.jpg)

Notice that 43 damage has been done, but the boss's health remains full. The health bar updates if I navigate to a different page and then go back to my party's page, or if the page is refreshed.
## <bountysource-plugin>

Want to back this issue? **[P

[2015-07-01 17:04] RossBrunton opened #5536 "Links in task notes popups can't be clicked"
Apologies if this has already been reported or in the pipeline.

If you add a URL in a task's "additional notes" section, when you roll over the task the URL appears as a link in the popup. Unfortunately, there is no way to click this link, as the popup goes away as soon as you move your mouse off the task.

_edit by admin:_
## You can click on the note icon to open the note and freeze it in place

[2015-07-01 17:18] ghost opened #5538 "Challenge page for a challenge that is not found may have a more noticeable message"
Currently if you click a link to the challenge which no longer exists the page will show two buttons "Back to all challenges" and "Create challenge". [An example](https://habitrpg.com/#/options/groups/challenges/someid).

A standard notification on the right that the challenge is not found may be not quite enough, as it disappears and can be easily missed while the page is loading. And an empty pa

[2015-07-01 17:18] gisikw opened #5539 "gulp test should report summaries even when suites fail"
Right now, if you run `gulp test` and any individual component fails, the remaining tasks (and the summary) will be terminated. This is not ideal since in the Vagrant environment, the e2e specs will fail by default.

The best approach here would be to modify `gulp.task('test'` to run "safe" versions of the suites (which do not pass any errors to their callbacks. i.e. `gulp.task('test', ['test:comm

[2015-07-01 17:27] Skendar commented on #4189
ID: 4a7b7898-c255-41fa-a47f-b14d662d1530
Group ID: ce42c4e5-a058-40ec-a331-2c01f67623b8

I got an weird issue since an few day. im doing perfect day, yet receive large amount of damages. this happen with the iron knight boss, however i already did this one, with the same party, and i remember back then, perfect day = 0 damages.

Skendar attacks The Iron Knight for 387.4 damage, The Iron Knight att

[2015-07-01 17:33] hairlessbear commented on #5536
That's not a bug; that's just how pop-ups work. They display when the mouse is hovering over the item the pop-up is attached to (in this case, a task), and stop displaying as soon as the mouse moves off of the item.

If you'd like to see this functionality added, I strongly encourage you to head over to the [feature request Trello board](https://trello.com/c/odmhIqyW/440-read-first-table-of-conten

[2015-07-01 17:40] gisikw commented on #5539
It also occurs to me that once these `test:x:safe` tasks exist, the original `test:x` tasks don't need to push anything to `testResults` at all, since they'd only be run in isolation.

[2015-07-01 17:50] crookedneighbor commented on #5536
You can click on the notes icon on the task and that will make the popup persist.

[2015-07-01 17:50] #5536 closed, assigned to nobody

[2015-07-01 18:40] SabreCat commented on #5514
What browser and platform are you seeing this on? Do you have any additional security scripts installed? I can't currently reproduce this, so I'm wondering what other factors might be at work.

[2015-07-01 18:46] hairlessbear commented on #5514
Chrome 43.0.2357.130, Linux Mint 17.1. I have AdBlock Plus installed, but it's disabled for HabitRPG, and disabling it completely made no difference. Although I have no other security scripts installed, I went through my installed extensions, and disabled anything that seemed like it might cause this, but nothing made a difference.

[2015-07-01 18:48] hairlessbear commented on #5514
Wait, scratch that, something else just happened. Will update momentarily.

[2015-07-01 18:53] alexbragdon commented on #5539
I think I've addressed all your concerns in #5541. Let me know if that's what you had in mind.

[2015-07-01 18:55] hairlessbear commented on #5514
I disabled StayFocusd, which caused the console error to disappear, but the AddThis button still didn't display. I tried a hard refresh, but that didn't make a difference. I then deleted all of HabitRPG's locally stored data and tried again, but it still didn't display.

Still not sure how to fix this, but at least we now know which extension was causing the issue. I'm not sure why StayFocusd is c

[2015-07-01 18:58] hairlessbear commented on #5514
Just tried this in Firefox (which I never use and which doesn't have the StayFocusd extension), and there was no console error, but the button still didn't display.

[2015-07-01 19:59] ghost commented on #4591
@hairlessbear finally got around to restart from scratch, I thought maybe the first thing to do could be updating npm and this is the result

![image](https://cloud.githubusercontent.com/assets/6208218/8463649/6d18c80a-203c-11e5-99a0-a3a4c034dedb.png)

seems like I'm cursed not to install this thing into my machine

[2015-07-01 20:58] hairlessbear commented on #5514
So this is interesting: on my local install, I get the same console error above, but the AddThis button _does_ show up! There are a couple messages that display on production but not my local install. I didn't think they were relevant before, but who knows? Here they are:

(^^That warning happens twice)

The message below isn't categorized in the console as a warning or an error.

[2015-07-01 21:06] hairlessbear commented on #5514
To be clear, the above messages occur even if StayFocusd is disabled.

[2015-07-01 21:31] thekidd1984 commented on #5461
I feel silly now. I'm fairly certain this is what happened, thanks guys!

[2015-07-01 21:39] SabreCat opened #5542 "Repository FIXMEs and TODOs"
Many places in Habit's code have `FIXME` or `TODO` annotations: things that a coder noticed needed attention, but could not be addressed due to constraints in time or expertise. This ticket catalogues our current such notes, for cleanup by whoever has the opportunity. Feel free to create new tickets for individual bullets below, to better track who's working on a given annotation and to expand on

[2015-07-01 21:51] Lenyberry commented on #4819
I"m also having this problem. I subscribed for the 3-month recurring stripe, and everything went as it should the first round. My card was charged for the second time on June 15 and I received a confirmation email about the payment and renewal of my subscription, when I didn't see the additional hourglass / gem cap I figured maybe that rolled over on the first of the month so I waited to see what

[2015-07-01 21:59] habitrpguser commented on #5515
As current Library guild leader, I'm happy with both suggestions regarding "Everyday Things" - if @LordVladneutral wants to take care of it and improve it, that's fine with me, please give @LordVladneutral ownership! If @LordVladneutral wouldn't, I'd be all for deletion, too. (I messaged the old owner, they're definitely inactive (last login January 2015) and, of course, didn't answer. I also chec

[2015-07-01 22:07] cyranojones commented on #5434
![capture](https://cloud.githubusercontent.com/assets/12978474/8465945/dd0bca7a-201b-11e5-9180-06f9740a0eda.JPG)
I'm not certain if this attached the file or not, but I do have a screenshot of... of one of my dailies not staying clicked.

[2015-07-01 22:10] lemoness commented on #5527
Hi Nick! Thanks for the suggestion. The best place to suggest it would be this Trello card: https://trello.com/c/fDlvPaIG/14-hair-colors-and-hair-styles-temporarily-closed Currently we aren't accepting new hairstyles because we have a lot in the queue, but in the future we would like to have more of them, so you can go ahead and mention them.

I'm going to close this now for organization, but if y

[2015-07-01 22:10] #5527 closed, assigned to nobody

[2015-07-01 22:10] hairlessbear commented on #5434
Hmm...the problem is that the screenshot just looks like the dailies haven't been clicked. As in, there isn't anything in the screenshot that indicates that something has gone wrong.

I realize now that I misunderstood your original post when I asked for a screenshot. I thought you were saying that the dailies stayed blue, but with a checkmark (which is why I wanted a screenshot). My apologies for

[2015-07-01 22:12] fgenu opened #5544 "Reward changing name back to a previous version of it."
So, last time I logged on habitRPG using Chrome, the first reward of my list reverted its name to a much older name. I know this seems unimportant, but I use this reward name to track my debt in coins and other stuff, so it can really mess up how I track it. Before logging in that time, I was using Firefox on the same computer (I use Chrome mostly for studying, and Firefox for leisure browsing). A

[2015-07-01 22:18] #5461 closed, assigned to nobody

[2015-07-01 22:18] Alys commented on #5461
Thanks for letting us know! :)

[2015-07-01 22:50] lemoness opened #5545 "Find the Cub Art Complete"
Eevachu has created art for the Find the Cub quest!
![findthecub2_300p_by_eevachu-d8xlouj](https://cloud.githubusercontent.com/assets/3494081/8466565/d7b64388-2008-11e5-8f09-cc26179c1181.png)

[2015-07-01 23:05] hairlessbear commented on #5545
@lemoness This helps with #4936, right?

[2015-07-01 23:16] ghost opened #5546 "Emacs Plugin"
Anyone want to write an emacs plugin so I can update habit via emacs instead of having to go to the actual website?

[2015-07-01 23:27] Alys commented on #5546
@AceJaxer You might like to mention this in the Aspiring Coders guild and The Developers guild so that third-party devs know about it. Include a link to this issue in each case so that if someone decides to take it up, they can comment here to avoid duplication of effort from other devs. The Bountysource plugin has been added to your issue so you can add a bounty if you'd like to encourage develop

[2015-07-01 23:46] crookedneighbor commented on #5545
Sure does.

[2015-07-02 00:13] andressabertolini commented on #5465
This message appears when I use it in Brazilian Portuguese in tasks.
![image](https://cloud.githubusercontent.com/assets/12105987/8467513/b1076528-2035-11e5-9220-d539ff4c2cfb.png)

[2015-07-02 00:58] wrenns commented on #5454
I'm not sure if this is the same issue, but today I bought out of the Enchanted Armoire, and received a Cowboy Hat. It showed up in my inventory, I outfitted my avatar in it, and it stayed for several minutes. It disappeared on refresh, though, and appears to have been replaced by a Gladiator Helm. I can't say for sure whether any gold was lost in the transaction, but I'm not too worried about tha

[2015-07-02 01:21] #5545 closed, assigned to nobody

[2015-07-02 01:45] crookedneighbor commented on #5465
@andressabertolini This has been fixed on Transifex and will be deployed to production soon. Thanks for reporting it!

[2015-07-02 02:10] Alys commented on #5521
@WhitneyFox This fix has gone live now so you should now take damage from those Dailies if you don't complete them.

[2015-07-02 02:17] Alys commented on #5544
@wonderboy26 I'm sorry about this! It's probably an example of the bug described in https://github.com/HabitRPG/habitrpg/issues/4313. Chrome's local storage would have held on to an earlier version of the Reward and would have overridden the more recent version.

If it is important to you that you see the more recent version, we might be able to extract it from a database backup, but please note t

[2015-07-02 02:25] Alys commented on #5515
@LordVladneutral You are now the owner of "Everyday Things" (72dee980-021a-4a2a-83dd-2e03be74385f).

The adcd6903-e3c6-4c27-a0e9-21f2e7515cd6 challenge doesn't exist. Is this the pokemon challenge that can be deleted now? https://habitrpg-staging.herokuapp.com/#/options/groups/challenges/2212ed56-c769-4b90-b0ca-33cfb21c6427

[2015-07-02 02:29] Alys commented on #4819
@Lenyberry Sorry about that! I've fixed it for you. You should now have an hourglass and an extra 5 gems on your monthly cap. Please reload if you don't see the changes.

[2015-07-02 02:31] Alys commented on #4591
Try re-installing grunt-contrib-imagemin to see if that fixes the problem with the package.json file. It's probably best to do an npm cache clean again first, and delete the existing directory for that package (/vagrant/node_modules/grunt-contrib-imagemin).

[2015-07-02 02:52] jaredoOS commented on #4819
Just ticked over my 3 month renewal a couple of days ago and didn't get a second hourglass, I hadn't used my original one so I used that to see if that would kick it over but no luck. My initial subs all was as expected.
Everything else seems in order, except I didn't double check my Gem count before I'd bought a few.

User ID: 1e1db840-bd6c-41df-94bb-673247f084ee

Payment went through on the 27th

[2015-07-02 03:33] cyranojones commented on #5434
Unfortunately. Today is the first time since then, though, and as long as I can remember I clicked it, then it's fine. It gives me the credit for completing the daily, but if I click it again it debits me.

[2015-07-02 03:34] cyranojones commented on #5434
Oh! And as of now those last three are grey. Do you want another screenshot?

[2015-07-02 03:49] carolstone commented on #4591
So I've rebased in order to have the most recent code to work on, and it seems to run, but what's broken? The name of the missing module (process-nextick-args) makes me suspect I'm going to have a hard time working on a cron issue. Please let me know if I can just safely ignore it and move on.

I've rebased the repository, then destroyed and re-created my vagrant box. I've done this whole thing a

[2015-07-02 04:08] hairlessbear commented on #4591
@carolstone: You definitely don't need to destroy your Vagrant box every time you rebase. Is that written in our documentation somewhere? If it is, we need to change it ASAP.

Have you tried running `sudo npm install` on your Vagrant box?

I'm currently trying to recreate a box from scratch, to see if I run into any errors. Will post the results after I'm done.

[2015-07-02 04:37] hairlessbear commented on #4591
@carolstone: I encountered errors of my own that prevented `npm start` from working. I'll investigate further tomorrow. In the meantime, I _think_ you should be able to run and change HabitRPG code, even with the `imagemin` errors. As far as I know, `imagemin` is only being used to decrease the size of the spritesheets. If it's not working, all that will happen is that the spritesheets won't get c

[2015-07-02 06:06] Lebriz commented on #4749
Same here, I get that it could be IE related but until I go see it from another browser I will not be assured that they are fed. I mean, I spent a BUNCH of strawberries on my lion and was wishing he would grop up finally.

[2015-07-02 06:10] Lebriz commented on #4749
Also, stop with the "maybe it isn't preffered!!11", we are all capable of seeing if ANY progress is made, let alone the preferred food secret is the easiest riddle to solve on earth.
And it is no excuse for developers to just ignore such issue, I mean, isn't fixing whatever problem on whatever platform the point here or are we governed by Non-IE Supremacists?

[2015-07-02 07:33] tohn commented on #4483
I just did an update to the latest development and this issue was no issue anymore, so I will close it ;)

[2015-07-02 07:33] #4483 closed, assigned to nobody

[2015-07-02 11:19] LordVladneutral commented on #5515
@Alys Yes it is, sorry for the wrong ID, I'm quite a beginner with the API, I must have gotten it wrong. and I didn't check.

[2015-07-02 11:38] Xiaonasa commented on #4315
Currently both my fiance's and my accounts are doing this, and his was just made yesterday Added things last night at about 10:30 for both of us, and they counted towards today, definitely making it kinda hard to keep track. I usually put things in at that time. >< I noticed it also a day or two before on my account.

[2015-07-02 11:49] madisonparklove opened #5547 "Background changed overnight"
Yesterday, I purchased the Ruins of Dilatory background for 7 gems. Today, the background has mysteriously changed to the Sunken Ship background, and I am unable to change back to Ruins of Dilatory (it is locked).

User ID: 9d462b64-137a-4a91-800b-02e0bf1cd2ca
Mac OS X Yosemite

[2015-07-02 11:49] Alys commented on #5515
@LordVladneutral No worries! No harm done. :) I've deleted that challenge.

[2015-07-02 11:53] Alys commented on #5547
Sorry about that. There was a bug that caused this for a few users. I thought I'd captured all of them but I must have missed you. I've given you the Ruins background in addition to the ones you already owned.

[2015-07-02 11:53] #5547 closed, assigned to nobody

[2015-07-02 12:20] Alys opened #5548 "inability to log in with one particular account (not browser dependent)"
The bug report below was sent to the admin@habitrpg.com email address. In brief, Mark is unable to log in to HabitRPG using his account (d10e2e95-3b4f-41be-8700-e893af0df33f). He's tried on multiple browsers on more than one machine. Extensions have been ruled out as the cause. He was able to create a new account and log in with that multiple times, on the same browser that failed for his real acc

[2015-07-02 12:30] markmont commented on #5548
Thanks for creating this issue, Alys!   Let me know if I can provide any additional information or help out.

[2015-07-02 12:35] crookedneighbor commented on #5548
This is possibly a dumb question, but have we tried the reset password option?

[2015-07-02 12:40] markmont commented on #5548
No, but I tried logging in to my original account just now before resetting the password and found I was able to log in and everything looks good (someone even put me in the Inn!).  I'm wondering if the HabitRPG admins fixed something in the last 12 hours or so.  No changes on my end since the last unsuccessful attempt yesterday morning.

[2015-07-02 12:42] crookedneighbor commented on #5548
Very strange. Well, I'm going to close this. Comment back here if you have issues logging in again.

[2015-07-02 12:42] #5548 closed, assigned to nobody

[2015-07-02 12:49] Alys commented on #5548
@markmont  I put you in the inn when I saw your first email about this.

None of us made any other changes to your account.

[2015-07-02 12:54] markmont commented on #5548
Thanks, Alys!  I agree with Blade that this is very strange, then.  I've tested on multiple browsers and the problem no longer exists on any of them.  In addition, the iOS mobile app has started working again for me, too.

[2015-07-02 13:05] crookedneighbor commented on #5434
@cyranojones It would be more helpful if we could know if there are any console errors happening in your browser. Here's a guide for how to open the console in Google Chrome: https://developer.chrome.com/devtools/docs/console

You can google how to do it in your preferred browser, but I find Google Chrome gives the best information.

[2015-07-02 13:33] spudderpillar opened #5549 "Inconsistent damage from undone Dailies"
I'm signing in via Safari on iOS. For the last several days (week?), my undone dailies have not awarded damage during cron roll over. I'm still awarded xp, mana, and found items upon completing tasks.

I came back from vacation and checked out of the inn about 1.5 weeks ago. It might be related to that but it says I'm no longer checked in and I'm pretty sure I received damage from some dailies the

[2015-07-02 13:36] ghost commented on #4591
tried with a new box again, it keeps getting worse with more and more errors everytime, I think I'll just give up...

[2015-07-02 13:41] crookedneighbor commented on #5549
What's your User ID? You can find it in [Settings > API](https://habitrpg.com/#/options/settings/api). Be sure to only copy the User ID and _not_ your API Token.

Note, some changes were just deployed that solved an issue with dailies not damaging even though they were left uncompleted. I'm guessing it's the same issue, so if your dailies have started to work normally starting now, let us know.

[2015-07-02 14:23] spudderpillar commented on #5549
My Use ID is 3b848c3a-bc43-473b-931e-39ffea0e60e3 .

My dailies didn't award damage this morning when I signed in. If my dailies work right tomorrow, I'll let you know.

Thank you for helping!

-D

[2015-07-02 15:05] madisonparklove commented on #5547
Thanks!

_Madison Parker_
_Author of YA LGBT Fiction_
Website http://madisonparklove.com/ | Subscribe to Newsletter
http://eepurl.com/AxSN1
=:=:=:=:=:=:=:=:=:=:=:=:=:=:=:=:=:=:=:=:=:
Latest Release: Grand Adventures Anthology
http://www.dreamspinnerpress.com/store/product_info.php?products_id=4873

On Thu, Jul 2, 2015 at 7:53 AM, Alys notifications@github.com wrote:

[2015-07-02 15:52] ghost opened #5550 "Wrong max level messages after rebirth"
I used the Orb of Rebirth after reaching level 104. All related messages and texts state that my max level was 100. I had my only other rebirth at 100.
## <bountysource-plugin>

Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/23540721-wrong-max-level-messages-after-rebirth?utm_campaign=plugin&utm_content=tracker%2F68393&utm_medium=issues&utm_source=github)** W

[2015-07-02 19:23] lemoness commented on #5550
This is intentional, because the game is only optimized for levels 1-100. As a result, the max level displayed is 100.

Maybe we should change the wording to "100 or more"?

[2015-07-02 23:23] Alys commented on #4819
@jaredosborne Sorry that bug hit you! You should now have an hourglass and an extra 5 gems on your monthly cap. Please reload if you don't see the changes.

[2015-07-03 01:06] carolstone commented on #4591
@hairlessbear Thank you for your help. There's nothing to say I have to recreate a box from scratch - it's just that my box doesn't work any more after I rebase. Next time I'll post what's happening and maybe someone can help me figure out what happened to it. sudo npm install gives me the same set of no repository field, unmet dependency errors as I get above. But it's running, so I'll see how it

[2015-07-03 01:33] crookedneighbor commented on #4591
@carolstone You don't have to worry about any of those errors. Those are normal warnings for an npm package that isn't actually an npm module.

The imagemin one is kind of weird, because I'd expect that to only happen if you were only install the regular dependencies and not the dev dependencies, but shouldn't hurt anything. It's just grunt saying it can't find the module. :shrug:

Looks like you'

[2015-07-03 01:33] #4591 closed, assigned to nobody

[2015-07-03 01:36] crookedneighbor commented on #5549
@spudderpillar Awesome, let us know tomorrow. If possible, please give specific information about the dailies that are not causing damage so we can inspect them.

[2015-07-03 02:10] crookedneighbor opened #5551 "Allow Guild Leaders to choose if non-members can post to chat on public guilds"
### When Creating or editing a guild
- [ ] Checkbox on create page, defaulting to not-checked, that says "Prevent Non-Members from sending chat messages - Note: Moderators can post in chat regardless of membership status"
- [ ] Checkbox on edit page that says "Prevent Non-Members from sending chat messages - Note: Moderators can post in chat regardless of membership status"
### On guild view page

[2015-07-03 02:11] crookedneighbor commented on #5551
To be clear, anyone is free to work on this ticket, but if no one claims it, I will do it myself. So just make your intention clear if you'd like to tackle this.

As always, I'm available to help.

[2015-07-03 03:52] LittleMupsMum commented on #5510
Thanks for your hard work Alys, but I'm still having this bug.
I checked off all my dailes which were due yesterday and should have got a perfect day.  Checked it on the DDT last night.  Lost health this morning on syncing my tablet (Nexus 9) at 7am (6.5 hours ago now).  I have lost my streak on my "Soak apricots and check schedule" daily (I'm pretty sure that I'd reset both to 10 a few days ago a

[2015-07-03 04:54] breadstrings commented on #5515
@Alys - In follow up to my HabitRPG PM (I just discovered this github issue!), Mara has recommended that the "booty" challenges ownership be transferred to me so I can award them as per her request whilst she is away.

Challenge IDs:

[code]

Thank you!

[2015-07-03 05:40] LittleMupsMum commented on #5510
Just realised that apparently I was hit by this bug twice in one day ... once when I first synced in the morning on my tablet, as above, and once when I synced on this desktop 2 hours ago after posting.  Lost some more health and also my streak on "Make Chias" at that point, so I guess that the DDT did reflect something in the habitrpg data...
Wonder if I should check what the DDT says on my table

[2015-07-03 08:30] fgenu commented on #5544
Thanks for the attention c: But I made an estimate of how I should change it back, and now I'll use Habit on Chrome only for the time being :P

Btw, I skimmed the link you provided and I don't really think it's related to Cron, as the older version was a couple days old.

[2015-07-03 09:17] Alys commented on #5544
That issue that I linked to isn't actually directly related to Cron either, it's just that Cron makes the problem very obvious (but doesn't cause the problem). The issue is about a browser holding in to old data for an inappropriate amount of time, and then releasing it later, which I believe is what happened to your Reward.

[2015-07-03 09:18] Alys opened #5552 "Extra Notes icons are not visible in a challenge when you are viewing it before you join it"
When you're viewing a challenge to decide if you want to join it, the tasks that have Extra Notes do not show the normal notes icon. This can lead you think that there aren't any notes.

This can be confusing for challenges where the tasks rely on the notes for them to make sense. I was looking at one today that seemed interesting but I couldn't work out how it worked, so I didn't join. It was onl

[2015-07-03 12:19] janetmango commented on #4819
Same thing with  my recurring 6-month subscription, payment made via PayPal on 6/25/2015. UserID is d075dca7-01ed-4666-ae2d-22feef18c7bc.  It incremented my consecutive months by 1, but didn't get gem cap increase or Mystic Hourglasses.

[2015-07-03 13:14] lanachristy commented on #5510
I have the same problem with my weekly dailies. It should not due until every Tuesdays, but it often shown as undone while it occasionally actually went off as "done". That was when I use my computer to log in. When I use my phone, it is always undone before the due date. It also took damage from me, which I eventually need to use my rouge skill to prevent it from happening.

[2015-07-03 13:49] spudderpillar commented on #5549
Good morning,

The glitch is still there. Yesterday, I had 7 Dailies incomplete (Apply face stuff, Foot meds morning, Foot meds night, Foot stretches morning, Foot stretches night, Wear hearing Aids, Feed/water cats). The streaks did not reset on them either. If you need any more info, let me know and I'll get it to you.

-D

[2015-07-03 15:27] crookedneighbor commented on #5549
I did some spot checking and all but one of the dailies I looked at listed above did not have a startDate. The one that did was set to today (I assume was set today when poking through the advanced features of dailies or to check a streak).

Pinging @Alys. Not sure what's wrong, your change to the shouldDo script should have covered that.

[2015-07-03 15:32] crookedneighbor commented on #5549
Would it be worth running a migration to add startDates when they don't exist?

[2015-07-03 15:37] NotGonnaGitUs commented on #5551
I'd like to start this but I think I'd need help at the API Level (maybe even before).

[2015-07-03 15:40] crookedneighbor commented on #5551
:+1: Go for it. Submit a PR that says it's a work in progress when you get stuck and need help.

[2015-07-03 17:36] qarylla commented on #5532
The gem cap reset before it should have. I was checking on June 30. around 2200-2230 local time, which is UTC-5.

[2015-07-03 17:56] ghost commented on #5550
If this is the intended behaviour (which is fine for me) then the last sentence of the message you get after using the orb is at least misleading if you use the orb at Level 100+.
"rebirthAchievement" in "rebirth.json" says:
"You've begun a new adventure! This is Rebirth <%= number %> for you, and the highest Level you've attained is <%= level %>. To stack this Achievement, begin your next new adv

[2015-07-03 22:24] Typhlosaurus opened #5554 ""request entity is too large" when joining a challenge"
On URL https://habitrpg.com/#/options/groups/challenges/b96642a7-8e3b-4587-bfa8-3716b52b29ff I clicked the "Join" button and was given a red alert box telling me that "error request entity is too large" and that if it recurred after a reload I should report the issue.  Tried reloading a few times and re-trying; it happened each time.

Running Chrome 43.0.2357.130  on MacOS Yosemite
In JS console i

[2015-07-03 22:33] Typhlosaurus commented on #5554
User ID: b6efb4af-937e-4cca-b35e-b673e98aa3b0

[2015-07-04 00:05] crookedneighbor commented on #5554
Usually this error happens when you're part of a group with a large number of challenges. The good news is that it's usually temporary. Try refreshing and let us know if you still get the error.

We're working on improving this system so this doesn't happen.

[2015-07-04 00:06] crookedneighbor commented on #5554
Closing as a duplicate of #1471. Feel free to follow the progress of the bug by subscribing to that ticket.

[2015-07-04 00:06] #5554 closed, assigned to nobody

[2015-07-04 00:18] crookedneighbor commented on #5550
The text definitely needs adjusting. I set my test character to level 150 and then used the orb of rebirth:

![screen shot 2015-07-03 at 7 17 23 pm](https://cloud.githubusercontent.com/assets/2916945/8505796/3b775c08-21b8-11e5-810f-9f2cd58ade1f.png)

![screen shot 2015-07-03 at 7 18 11 pm](https://cloud.githubusercontent.com/assets/2916945/8505800/45a703d6-21b8-11e5-8acb-9546bb51901b.png)

@lemone

[2015-07-04 01:34] hairlessbear commented on #5551
@crookedneighbor Just to make sure I understand correctly, there's no way this error message could be triggered through normal usage, right? In your description, the chat box isn't there when the flag is set, which (I'm presuming) means that the send chat button isn't there either (or is at least disabled). So the only way this error could be triggered is if a user uses an API call to attempt to p

[2015-07-04 01:44] Alys opened #5555 "chat +1 button should have on-hover text to explain what it is"
When you hover over the +1 button in any chat area, there should be on-hover text, as there is for the other buttons, to explain what the +1 button is for. We get questions about it often enough for this to be worth adding.

@lemoness, would you like to choose the wording?

[2015-07-04 02:15] hairlessbear opened #5556 "Suggestion: Give users more information about their subscription"
I apologize for not using the Trello board for this, but it seemed more appropriate here. I'll move it if necessary.

This is the subscription information available to me:
![selection_018](https://cloud.githubusercontent.com/assets/7059890/8505999/1d254cf6-21cc-11e5-8196-13755be48f6f.jpg)

In my opinion, this display is lacking in several ways. Some additional information I think would be benefici

[2015-07-04 02:25] crookedneighbor commented on #5551
Correct, you'd only encounter the error using the API.

[2015-07-04 02:40] spudderpillar commented on #5549
The dailies I looked at had a start date of yesterday or today. I'm guessing you're right and it self-populated when looking at the advanced features. I'll let you know if that fixes it and it penalizes me tomorrow.

You're above my head. I don't know how to do a migration. If you can walk me through it, I can try.

[2015-07-04 02:53] Alys opened #5557 "challenges need a "Report" button to flag violations of the Community Guidelines"
_Edit by Alys 2021-09-15_: **There is a mostly-complete PR at https://github.com/HabitRPG/habitica/pull/11920 which another Blacksmith could finish to resolve this issue.**

_In this issue "mod" means moderator or staff member. In the codebase, they can be identified by `user.contributor.admin` being set to `true`._

Players sometimes create Challenges that contain violations of the Community Guid

[2015-07-04 02:56] Alys commented on #5549
@spudderpillar Sorry that was confusing - the migration comment was directed at me. :)

@crookedneighbor In theory it shouldn't be necessary, but maybe. I'll keep it in mind after I've done some more investigation into this today and tomorrow.

[2015-07-04 03:07] Alys opened #5558 "challenge participants cannot be easily contacted - turn their name on progress screen into a link"
Challenge creators often have trouble getting in touch with winners or runners up, so we should enable profile links for all participants.

Clicking on a person's name in the list of participants should keep working as it does now -- it shows you the screen that shows their progress. However their name in that screen should become a link to their profile so that the PM and gift buttons are easily

[2015-07-04 03:35] Alys opened #5559 ""Resting in the Inn" message should not appear when viewing a challenge"
When a user is resting in the inn, they see a message advising them of that at the top of their own Dailies column.

The same message also appears if they view a Challenge. It should not appear there.

[2015-07-04 03:40] Alys commented on #5557
If anyone wants to experiment with how the chat message flag system works, I (or other admins) can make some test posts in the Aspiring Coders guild that you can flag. Those of us who receive email notifications of flags won't mind; the test messages can make it clear that they are for testing flagging. Just ask here if you want that.

[2015-07-04 03:42] carolstone commented on #4488
The logic to be added is: If old_dayStart < lastCron < new_dayStart, then set lastCron to new_dayStart

It seems to me this logic belongs here: https://github.com/HabitRPG/habitrpg/blob/develop/website/public/js/controllers/settingsCtrl.js#L69-L76

I can get lastCron by setting a variable to User.user.lastCron, and updating lastCron appears straightforward enough.

What I can't seem to figure out

[2015-07-04 03:43] Alys commented on #3668
I believe this has been fixed.

[2015-07-04 03:43] #3668 closed, assigned to nobody

[2015-07-04 03:47] Alys commented on #2126
I'm removing the "critical" label from this. It seems to me like a nice-to-have but not essential fix. Any admin who disagrees can add it back and then I won't touch it again. :)

[2015-07-04 03:50] crookedneighbor commented on #2126
There goes my chance at earning the hammer

[2015-07-04 04:00] crookedneighbor commented on #4488
I would add a variable on the settings controller $scope that initialized with the value of the user's dayStart. Put that on the ng-model instead. Then in the save day start function, you can compare the two.

[2015-07-04 04:10] Alys commented on #4789
It sounds like this was fixed. @paglias Are you aware if there's still any problems?

[2015-07-04 04:21] carolstone commented on #4488
@crookedneighbor  That makes a lot more sense than anything I was looking at. Thank you. I'll pick up there tomorrow (well, later today).

[2015-07-04 04:50] Alys opened #5560 "a quest that is not desired by the majority of a party is too hard to remove"
It's possible for a party to contain a quest that the majority of the members don't want. E.g., the quest owner uses a scroll and then immediately starts the quest for purely their own benefit with no other participants, or if the quest owner doesn't log in for many days after sending invitations (a single inactive party member can then prevent the quest from being started). The workarounds curren

[2015-07-04 05:07] amyeds opened #5561 "Cannot log in on iOS App"
I'm using the app on iPhone 6: I enter my username and password and it tells me that it's incorrect. I've tried resetting it. I've tried logging in with my username. I've tried logging in with my email. I've copy pasted the password from the password reset. I've uninstalled and re-installed the app. The only thread I found on this has been dead for months.

Anyone know how to fix this?

[2015-07-04 05:17] Alys commented on #5561
Your username is case-sensitive -- are you entering it **exactly** as it is shown in the password reset email? It's best to copy-and-paste it as well as the password.

Please go to the app store and see if there's an update for the app. If there is, let us know if that fixes the problem or not.

If it doesn't, please tell us the version of iOS your phone is using and the version of the HabitRPG ap

[2015-07-04 05:19] Alys commented on #2604
I'm closing this because the login system has changed since it was reported and many of the comments above are now irrelevant. If anyone is still having trouble logging in on the iOS mobile app, comment on https://github.com/HabitRPG/habitrpg/issues/5561

[2015-07-04 05:19] #2604 closed, assigned to nobody

[2015-07-04 05:22] amyeds commented on #5561
Oh, that was the problem! iPhones automatically capitalize the first word: I never considered that usernames might be case sensitive. Thanks!

[2015-07-04 05:25] Alys commented on #5561
Thanks for letting us know!

[2015-07-04 05:25] #5561 closed, assigned to nobody

[2015-07-04 05:27] hairlessbear commented on #5560
Thanks @Alys!

Preface: whenever I say "Abort" in the following, I'm referring to both Cancel and Abort. As in, all of the ideas below would apply when a quest is pending ("Cancel") and when a quest is in progress ("Abort").

**TL;DR**: The idea is to use a voting mechanism, allowing the party to collectively abort a quest. I'd like to add a "Vote to Abort" button next to Ian for all users except

[2015-07-04 05:36] hairlessbear commented on #5560
One other idea that's not voting related.

We could add an abort button for all users after a quest leader has been inactive for a preset amount of time. So if they haven't logged in for, say, 3 days, any individual can abort the quest. I strongly prefer voting, but this is another option.

[2015-07-04 08:40] Typhlosaurus commented on #1471
I was #5554 :-) I'm getting this after switching  to a larger party  and trying to join a large, non-party, challenge.

Reloading the browser and retrying, waiting for a day, reloading and re-trying not helping.

[2015-07-04 10:53] forteller opened #5562 "Add HabitRPG app to F-droid store"
F-droid is the leading app store exclusively for Free and Open Source Software for Android. It would be the most natural thing in the world for Habit, built as FOSS from the start, to be available there.

I want to use the app, but I don't want to connect my phone (my pocket computer that knows everything about me and a lot about my friends) to Google. Today that means that I can't use the app, be

[2015-07-04 11:05] paglias commented on #4789
@Alys it should be fixed. I kept this open just because of the blacklist on Mandrill that is forcing us to use nodemailer, but for the time being we can keep it this way

[2015-07-04 11:05] #4789 closed, assigned to nobody

[2015-07-04 11:47] Alys commented on #5549
@crookedneighbor Yes, darnit, any task that doesn't have a startDate is picking up the default of `moment().startOf('day').toDate()` from website/src/models/task.js, which I would have realised sooner if I'd finished the startDate test that I said I'd do. Sorry. :(  I'll write a migration script.

[2015-07-04 12:11] Alys commented on #5515
@breadstrings I've made you the leader of those two challenges.

[2015-07-04 12:32] Alys commented on #5521
As described in https://github.com/HabitRPG/habitrpg/issues/5549, this bug is still happening. I'm writing  a migration script to set a startDate on all Dailies that need one, which should fix it properly.

[2015-07-04 12:49] Alys commented on #5532
Can you tell me please how many gems had you bought from last month's supply, and how many did you buy after you saw that the rollover had happened?

I'm downloading backups to examine what happened.

[2015-07-04 13:33] Alys commented on #5549
Migration script is running. It will take some time.

[2015-07-04 14:01] storian commented on #5510
The code change from 4 days ago has not stopped the bug for me.

[2015-07-04 16:17] hairlessbear commented on #5551
@crookedneighbor: In #5509, decoupling notifications and guild membership was discussed. Is that still being considered, or was it decided that it wouldn't happen?

[2015-07-04 18:02] hairlessbear commented on #2126
Is #5535 a duplicate of this?

[2015-07-04 19:50] crookedneighbor commented on #5551
A user would also encounter the error if they loaded guild page in a state where they could post: ie, non-guild members can post, and then the guild leader changes the preference so they cannot. The nonmember would still have the loaded page with the Ability to chat, but the API would keep the chat from posting.

As far as decoupling notifications, it's not off the table, but not necessary for thi

[2015-07-04 20:07] SabreCat opened #5563 "Pin specific versions of Bower and Node libraries"
In our `package.json` and `bower.json` files, we have a number of entries that look like the following:

This means that when the corresponding Git repositories of those libraries update, they automatically update in our builds. While it might sound great to stay always up-to-date with our dependencies, this more often means that things break unexpectedly. A library might update in a way that obso

[2015-07-04 20:14] SabreCat commented on #5550
Aye, the text was written back when level 100 was a hard cap. Definitely needs tweakage!

[2015-07-04 20:17] ghost opened #5564 "Button in invite-friends (to guild) modal is too long - adjust nowrap property or maybe universal solution?"
The nowrap property of the button in [invite-friends modal](https://github.com/HabitRPG/habitrpg/blob/develop/website/views/shared/modals/invite-friends.jade) may need adjustment as suggested by @crookedneighbor in https://github.com/HabitRPG/habitrpg/issues/5446#issuecomment-113912409 - not to be too long for the modal.

Screenshot: http://snag.gy/0vm3V.jpg

Or may there be a universal solution f

[2015-07-04 20:30] crookedneighbor commented on #5563
Just an FYI that the version number syntax only works (I believe) if the package is registered (in the bower registry for bower.json or node registry for package.json).  if its not in the registry, you can still pin to a specific tag or commit on Github. Some quick googling will show you how to do that.

Tags are preferable, but commits can be used if tagging is not utilized for the package.

[2015-07-04 20:35] Alys commented on #2126
Closing in favour of https://github.com/HabitRPG/habitrpg/issues/5535 because it doesn't contain the comments above, some of which are outdated.

[2015-07-04 20:35] #2126 closed, assigned to nobody

[2015-07-04 21:38] Alys commented on #5332
@pmeinertzhagen I'm closing this because I'm assuming that the problem has disappeared, but if it's still happening for you, please reply and follow the suggestions from @pivotal-rebecca. Tell us if you're having trouble getting to the Console and we can help!

[2015-07-04 21:38] #5332 closed, assigned to nobody

[2015-07-04 21:38] #4951 closed, assigned to nobody

[2015-07-04 21:39] Alys commented on #4723
I believe all ads have been removed so I'm closing this. We can reopen it if I'm wrong.

[2015-07-04 21:39] #4723 closed, assigned to nobody

[2015-07-04 21:41] Alys commented on #3520
I'm closing this because I believe that whatever was causing the problem would no longer be happening. I haven't seen any other reports of being logged in on one device preventing logging in on another. This can be reopened if it's still happening.

[2015-07-04 21:41] #3520 closed, assigned to nobody

[2015-07-04 21:42] Alys commented on #3608
I'm closing this because it's an old report and we're tracking a similar bug at https://github.com/HabitRPG/habitrpg/issues/4313

[2015-07-04 21:42] #3608 closed, assigned to nobody

[2015-07-04 22:22] paglias commented on #5563
I'd say that as a general rule we should pin git repositories to a specific tag or commit, not a branch, while for npm/bower packages it should be safe to use `~x.x.x` which will only upgrade patch versions that shouldn't break anything.

If there are packages that are used to introduce breaking changes in patch version we can pin them to a specific version but I think they are very rare.

[2015-07-04 22:34] Alys commented on #5549
Migration finished.
754722 users examined
617180 users modified

[2015-07-05 02:52] Alys commented on #4819
@janetmango From what I can see, everything is correct with your account. Your subscription started on 2014-07-25T12:07:04.620Z which means you've had a total of three full 3-month consecutive periods (you'll finish the fourth period on 2015-07-25). You get one hourglass and a gem cap increase for every full 3-months you are subscribed, so you've had three hourglasses and three increases so far an

[2015-07-05 03:31] LordVladneutral commented on #5510
Same thing here with a "every 10 days" task. It might just be useful to find the problem so look around as much as you want. It's named ":nail_care: Se couper les ongles" it wasn't due yesterday, but it way two days ago. I did it when it was due and I got unexpected damages as if it was due yesterday.

Start date : 13/06/2015 (nothing more precise)

I'm in wester Europe. Only use computers both on

[2015-07-05 05:53] LittleMupsMum commented on #5510
My "soak apricots" daily had this bug again yesterday - was due the day before and completed, not due yesterday and marked incomplete in the DDT.
I'm going to try syncing all my devices before bedtime and see if that helps.

[2015-07-05 06:19] rachelkachel commented on #5510
This is still happening to me too, same daily, and possibly another one - an every-6-days one that was due three days ago, shows on the DDT as incomplete two days ago, and as not due yesterday.

[2015-07-05 07:10] ghost opened #5566 "Community guidelines text may need update due to new moderator"
[Community guidelines](https://habitrpg.com/static/community-guidelines) text may need update due to new moderator
e.g. https://github.com/HabitRPG/habitrpg/blob/develop/website/views/static/community-guidelines.jade#L79

[2015-07-05 07:26] ooker777 commented on #4723
why do you choose to remove the ads? I'm curious.

Ooker.

[2015-07-05 07:42] #5544 closed, assigned to nobody

[2015-07-05 14:31] crookedneighbor commented on #5566
This should wait until the pixel art avatar is ready from @lemoness.

[2015-07-05 16:06] spudderpillar commented on #5549
That worked: the missed dailies hurt this morning. Thank you both for fixing it!

[2015-07-05 16:41] crookedneighbor commented on #5549
Great job @alys

[2015-07-05 16:41] #5549 closed, assigned to nobody

[2015-07-05 22:34] Hiraelle commented on #5510
This happened a few times to me too.
User ID : 8a164f87-9393-4707-82bf-b7c0d17f4da1
I have several due every other day tasks, and yesterday and today I took damage from some that should have not been due - as a result even if I complete all my tasks, I can't seem to get a perfect day :/
It worked fine at the beginning but now it seems to be very buggy.
I'm afraid I deleted the incriminated task fo

[2015-07-05 23:34] Alys commented on #5510
I've made a change that might fix these problems. If anyone still experiences them from their NEXT cron (not from any cron that happened before you read this), please comment here again.

[2015-07-05 23:35] Alys commented on #5395
I've made another change that might have fixed any lingering effects from this bug. If anyone still experiences them from their NEXT cron (not from any cron that happened before you read this), please comment here again.

[2015-07-06 00:14] Awesumpunk opened #5567 "Change the Group Leader back to me"
Late last week, I over-reacted and thought that I would be leaving Habit (which I am not) and changed the group leader of my party from me to someone who hasn't been on since June 11th.  RileytheWizrd (the current "group Leader) has only been on twice since I added him in November 2014. I would like to have the Group leader changed back to me, so we can Quest again.

[2015-07-06 00:54] Alys commented on #5567
11 June is only about three or four weeks ago, which isn't long enough for us to consider RileytheWizrd inactive. They might be on holiday or in hospital. Send them a PM to ask them to come back and change the leader to you. If they haven't done that in a couple of weeks, post here again and we will look into it further. You'll need to supply your UUID and Group ID (go to Help -> Report a Bug and

[2015-07-06 00:54] #5567 closed, assigned to nobody

[2015-07-06 01:52] janetmango commented on #4819
@Alys When I converted my recurring 1-month subscription to a recurring 6-month subscription, I got my 2 Mystic Hourglasses, 10 gem cap increase, and 6 months added to my consecutive month counter at the time I purchased the 6-month subscription. Does this only happen for the first purchase and doesn't happen again when the recurring block payment is made? I will PM you my PayPal account if it wil

[2015-07-06 01:56] Alys commented on #5560
Some of my comments here come from my feeling that a party should be a collaborative group that can solve at least some of its own problems with communication, or failing that, by removing recalcitrant members (or removing yourself if the party doesn't suit you). This voting mechanism would certainly help with that! I'm also pretty keen to see something like this done, so I'm commenting on things

[2015-07-06 01:58] Alys commented on #5532
@qarylla I'm closing this but I'm happy to reopen it if you can give me the gem purchase information from my previous comment.

[2015-07-06 01:58] #5532 closed, assigned to nobody

[2015-07-06 02:57] hairlessbear commented on #5560
"_where "majority" is calculated by not counting the quest leader or_ **_any member who has been inactive for X number of weeks. X=1?**_" -- how would the bolded part work exactly? Would they just not have a button? Would the button be disabled with a special message (e.g., "you may not vote because you've been inactive for X weeks")?

"_...Or we could allow it to be unclicked to remove your vote.

[2015-07-06 03:06] #5563 closed, assigned to nobody

[2015-07-06 03:45] crookedneighbor commented on #5560
Just my 2 cents, but I'd prefer voting in parties to not be anonymous.

@hairlessbear regarding the inactive user thing, I believe what Alys was trying to say is that when calculating a majority vote, you wouldn't need to count users that had been inactive for a week or longer.

For instance, say you had a group of 6 people. All members actively log in. Not counting the quest starter, you'd have 5

[2015-07-06 04:10] hairlessbear commented on #5560
@crookedneighbor: Ah, that makes sense, thanks!

After thinking about it further, I'm on board for non-anonymous voting. Even if the issues I outlined occur sometimes, I think that non-anonymous votes are more likely to be beneficial than not (and it also fits better with HabitRPG's community and philosophy).

EDIT: Not only that, but I originally didn't stop to consider the _downsides_ to anonymi

[2015-07-06 06:22] jaredoOS commented on #4819
Thanks @Alys!

[2015-07-06 10:02] Thor333 opened #5568 "Gibberish code (Math.floor(user.stats.exp) etc) on homepage / tasks ... again"
Hi guys,

I had the bad experience of bug #5473. (https://github.com/HabitRPG/habitrpg/issues/5473)
 I deactivated the anti-ads plugins, and i was back to normal.

But this time the bug stays! I tried to clear cache and all, to deactivate plugins, to use privacy mode (firefox), i used opera... and always the same stuff.

Only the orange and the red bar, my avatar in snowman and in starfish...
And

[2015-07-06 10:15] Alys commented on #5568
We'd like to know if there are any console errors happening in your browser. Here's a guide for how to open the console in Google Chrome: https://developer.chrome.com/devtools/docs/console. You can google how to do it in your preferred browser, but Google Chrome gives the best information. Let us know if you need help using the console. Once you have it open, please reload the site and then paste

[2015-07-06 10:22] SamLefebvre commented on #5568
Hello, I came here to say I have the same problem since yesterday.
Here is what I have in my console in Google Chrome (and the same thing in Opera)

Error: [$parse:lexerr] Lexer Error: Unterminated quote at columns 75-76 ['] in expression [variant < 2 ? 'Combattez des Monstres aux côtés d'Amis' : 'Inviter des amis'].
http://errors.angularjs.org/1.3.9/$parse/lexerr?p0=Unterminated%20quote&p1=…20Mon

[2015-07-06 10:27] ghost commented on #5568
Same results for me here (using Firefox and IE11) since yesterday

[2015-07-06 10:42] Alys commented on #5568
@asouini is your browser's console displaying exactly the same thing that @SamLefebvre reported in the comment just above yours? If not, can you please paste the contents of the console here? See my first message for information about using the console.

[2015-07-06 10:53] Alys commented on #5568
@Thor333 and @asouini are you using HabitRPG with the language set to French?

@SamLefebvre It looks like the problem might be just with some bad French language strings. This might work if you are willing to do it: Set your PC or mobile device to use English rather than French, then try using HabitRPG again. If your device was already set to English, and you had French chosen in HabitRPG's own se

[2015-07-06 11:16] SamLefebvre commented on #5568
Thank for the reply @Alys, yes my HabitRPG language is in French.
I set my browser in English, but when I login, my default language is French and the website go back to french, then the same error. I have send you the email with my username.

[2015-07-06 11:37] Alys commented on #5568
We think we have either a workaround that we can apply to everyone or a proper fix. We're testing both at the moment. Hopefully it should be back to normal soon.

[2015-07-06 11:38] Thor333 commented on #5568
Yep, i use everything in French.
I changed my favorite language to English, but it doesn't change the bug.
Waiting for the fix! :-)

[2015-07-06 11:43] paglias commented on #5568
@Thor333 @SamLefebvre @asouini we've just pushed a fix for this, if you reload the website it should work. Let us know if it doens't and sorry for the problem!

[2015-07-06 11:44] SamLefebvre commented on #5568
@paglias It's work ! Thank you !

[2015-07-06 11:54] #5568 closed, assigned to nobody

[2015-07-06 12:27] Thor333 commented on #5568
Yup, same here! Thanks guys!

[2015-07-06 18:54] ghost commented on #2956
OK, after some googling, I guess it will be best to wait for https://github.com/google/fonts/issues/6 to be implemented. May I keep the issue open in the meantime?

[2015-07-06 19:55] hairlessbear opened #5570 "Hall of Heroes table doesn't resize properly"
When the browser is at half-screen size, the Hall of Heroes table is too wide, allowing me to scroll to the right, making the header cut off.

![selection_023](https://cloud.githubusercontent.com/assets/7059890/8531705/553b0fcc-23f7-11e5-8662-b941e4ca9553.jpg)

[2015-07-06 20:02] #5372 closed, assigned to nobody

[2015-07-06 20:23] ghost commented on #5558
Suggestion: Will it be much more difficult to add buttons to the footer of the modal?
![screenshot](http://snag.gy/3aMy7.jpg)
/ See profile - new icon needed? / Send PM icon / Send gift icon
No particular reasoning ATM, but I believe it may be more intuitive

[2015-07-06 21:07] crookedneighbor commented on #5558
Aren't you already viewing the profile in the member modal?

[2015-07-06 21:37] lemoness commented on #5555
I'd say "Click if you like this post!"

On Fri, Jul 3, 2015 at 6:44 PM, Alys notifications@github.com wrote:

[2015-07-06 21:44] lemoness commented on #5556
I really like those suggestions, especially showing how long until they
earn another hourglass. Let's go for "You have supported HabitRPG for X
months" if we decide to do that latter.

On Fri, Jul 3, 2015 at 7:15 PM, hairlessbear notifications@github.com
wrote:

[2015-07-06 21:46] ghost commented on #5558
Oh, please excuse me for poor wording of my suggestion. What I meant by 'modal' is the screen of a user's progress created with name-buttons https://github.com/HabitRPG/habitrpg/blob/develop/website/views/options/social/challenges.jade#L54 (sorry, can't trace it further from phone)

It may be just other sort of a profile view, from a technical side, of course, but it doesn't provide a way to send

[2015-07-06 21:53] lemoness commented on #5557
_edit by Alys 2017-12-17: ignore this comment. This requirement is being considered in https://github.com/HabitRPG/habitica/issues/9725_

Text for the owner of a flagged Challenge:

"This Challenge has been hidden by members of the community because it violates [the Community Guidelines](link). Staff members or moderators will contact you shortly via email with instructions for how to restore your

[2015-07-06 22:15] lemoness commented on #5550
I think we can keep it quite simple:

"Reborn, max level 100+"

"The highest level you've attained is [n]/[100 or higher]!"

"...begin your next new Adventure when you are at least level [n+1]/[100]."

Do we need more clarification?

On Sat, Jul 4, 2015 at 1:14 PM, Sabe Jones notifications@github.com wrote:

[2015-07-06 23:54] Alys commented on #5558
@GitHubSphinx That's an interesting idea! I think I'd like both, if the buttons are easy to add there

I believe a link to the profile is still important to allow you to see if the player has logged in recently, what other challenges they've won (might be relevant), and other useful stuff.

[2015-07-06 23:58] Alys commented on #5558
Sorry, you had included an icon to link to the profile in the buttons. That's good. But I still like the idea of the name being a link (as well as the icon) because to me it seems natural to click on the name to see the profile (it's similar to what's done for challenge owners).

[2015-07-07 02:22] Alys commented on #4819
@janetmango Sorry about the delay. You actually used a different email address with PayPal so it took me a while to find your details. You did make a new 6 month subscription payment so I've increased your hourglasses and cap.

[2015-07-07 04:17] ghost commented on #5558
@Alys OK, thank you for considering my suggestion!

## Edit

for other contributors: I'm not working on this one (lack of skill*time-ATM :disappointed: ), feel free to take it!

[2015-07-07 08:06] ooker777 opened #5571 "Bug on frontpage: Dailies&mldr"
![capture](https://cloud.githubusercontent.com/assets/6695517/8541614/c052d656-24b9-11e5-97e8-f86861b6d07d.PNG)

[2015-07-07 08:17] Alys commented on #5571
@ooker777 Thank you for telling us about that!

[2015-07-07 09:36] ooker777 commented on #424
Edward Shapard has written a new addon. Please update its Trello and link to the [wiki page](http://habitrpg.wikia.com/wiki/Anki_Extension)

[2015-07-07 12:09] Alys commented on #424
@ooker777 Can you paste in the URL to the Trello card?

If you'd like changes made to the wiki page, you're welcome to go ahead and make them. You don't need a wikia account.

[2015-07-07 13:14] ooker777 commented on #424
@Alys actually it's the link in the comment above mine: https://trello.com/c/7VPBaM1l/31-anki
The wiki has already edited, just need to link it from the Trello card.

[2015-07-07 13:46] ghost commented on #5571
Making connection to my previous report https://github.com/HabitRPG/habitrpg/issues/4522#issuecomment-110843828

Another occurrence of an html symbol code without ! in jade:
https://github.com/HabitRPG/habitrpg/blob/develop/website/views/static/front.jade#L285
https://github.com/HabitRPG/habitrpg/blob/develop/common/locales/en/front.json#L163

[2015-07-07 13:47] crookedneighbor commented on #5558
@GitHubSphinx I misunderstood what you were asking. Since I could only see the bottom left corner of the modal in your screenshot, I thought it _was_ the member modal, and not the challenge progress modal.

[2015-07-07 16:19] ghost commented on #5571
It may look different, but I'd suggest just changing json files to have text equivalents of the symbols:

![screenshot](http://i.snag.gy/ewCNU.jpg)

I know, it's not what's considered best practice, but I believe it's present in json files here and there

EDIT: of course there's another option to just add ! to jade and make strings html-ready. Which is also quite simple. It just requires making st

[2015-07-07 19:14] ghost commented on #5564
@crookedneighbor May I get some help with this one please? As far as google tells me, solution requires adding a css rule
`.btn {`
`white-space: normal;`
`}`

But I don't seem to be able to find the right place for it... At the same time I'm not sure if it won't affect other buttons in a way that is unwanted...

[2015-07-07 20:43] wysawyg opened #5572 "Expand then contract checklist removes daily text in new iPhone Habitica app"
Steps to reproduce
1) Go to dailies screen and add/have a daily with a checklist
2) Expand checklist
3) Contract checklist
4) Daily no longer has its name attached.

Found with an iPhone 5S running iOS 8.3

[2015-07-07 23:22] hairlessbear commented on #5572
Thanks for reporting, but it won't be seen by the iOS devs here. Please close this issue and report the bug in the [habitrpg-ios](https://github.com/HabitRPG/habitrpg-ios/issues) repository.

[2015-07-07 23:24] hairlessbear commented on #5514
@SabreCat Looks like this issue is either specific to Linux, or more likely, my machine. The Share button displays properly on Windows, even though all of the error messages above show up. Not sure what to do to try to solve this, but it's not a major problem.

[2015-07-07 23:44] crookedneighbor commented on #5572
I've copied your issue here: https://github.com/HabitRPG/habitrpg-ios/issues/86

[2015-07-07 23:44] #5572 closed, assigned to nobody

[2015-07-08 00:58] crookedneighbor commented on #5564
I'd create new class, maybe something like `.btn-wrap` with that property.

[2015-07-08 00:59] lemoness commented on #424
@ooker777 Thanks for letting us know! I've updated the Trello card.

[2015-07-08 00:59] lemoness commented on #5571
Pinging @anitaycheng!

On Tue, Jul 7, 2015 at 9:19 AM, Sphinx notifications@github.com wrote:

[2015-07-08 02:40] mlivits opened #5573 "Habitica ios App shows wrong number of gems"
The new app shows that I have 1 less gem (24)than the old ios app or website show (25).

[2015-07-08 03:07] Arbixal commented on #5555
This looks easy enough. I'm happy to do this as my first fix.

[2015-07-08 05:52] ghost commented on #5514
I see no share button above avatar on mouseover. Should it be there?
My config: http://whatsmybrowser.org/b/S1FMNW6

[2015-07-08 05:56] ghost commented on #5564
@crookedneighbor Thank you!
I'm afraid it may take me too much time to get an idea of how to do that =) So I'll be glad if someone else handles it - for I think it's generally an entrance level coding, isn't it?

[2015-07-08 08:52] ghost commented on #5514
Well, it's now fixed for me - I can see the share button

**EDIT**: and again no share button for me

[2015-07-08 10:51] orschiro opened #5575 "Newly created items are automatically assigned a tag"
Hi all,

I am not sure whether the following is intentionally chosen or a bug.

Please have a look at the following screenshot for a reference:

![image](https://cloud.githubusercontent.com/assets/170947/8568631/cc508348-256f-11e5-89e6-f74613435253.png)
1. The to-do that is being created is automatically assigned the tag `Pomodoro Break` because this is the currently selected tag.
2. I find this b

[2015-07-08 11:01] Alys commented on #5575
This is a deliberate feature. Players often find it useful to select a tag first and then add an item, because that's faster than adding an item and then editing it to tick the tag.

There is no way to customise it, but you'd be welcome to request that feature. The best way to do that is from the HabitRPG site's Help menu. Select "Request a Feature" and then follow the instructions you'll see.

[2015-07-08 11:01] #5575 closed, assigned to nobody

[2015-07-08 13:09] Rohlik opened #5576 "(WEB) No progress bar in pet section"
Hello,
I have some problem with my one pet as You can see below:

![habbatica](https://cloud.githubusercontent.com/assets/2051154/8570787/3195bf4e-2583-11e5-9007-23d57e397e89.PNG)

My user ID is abf7a2d4-caf0-4a98-b053-49313e8fc262

[2015-07-08 13:15] crookedneighbor commented on #5576
This is expected behavior.

You've already raised a red wolf to a mount and then re-hatched a new red wolf. Once that happens, the feed bar doesn't appear, because you are unable to raise a second red wolf into a mount.

[2015-07-08 13:15] #5576 closed, assigned to nobody

[2015-07-08 13:39] crookedneighbor commented on #5573
@mlivits I've opened an issue for this on the habitrpg-ios repo here: https://github.com/HabitRPG/habitrpg-ios/issues/88

[2015-07-08 13:39] #5573 closed, assigned to nobody

[2015-07-08 14:26] Ealasaid opened #5577 "Cron running when it shouldn't kills me off and pwns my party"
I tend to use HabitRPG on multiple devices (mostly my laptop and my phone, both using the web browser). Last night I checked off almost all my dailies, on my phone. This morning, I opened my laptop and clicked the tab with HabitRPG in it (my computer was closed but on overnight) and it apparently ran a new chron because I died and did 22 damage to my party! It looks like it reloaded the tab, refre

[2015-07-08 15:36] iiieeeoo commented on #5510
Yay, it worked fine for me today (I've had a few days off). Looks like you smashed it!

[2015-07-08 18:44] dspshadow opened #5578 "Habitica App/Facebook login"
Joined six months ago and used facebook login to create account. Have consistently used facebook login to access account. Just got Habitica app and there's no support for facebook login. Only supports standard login. Tried facebook email + facebook password and was rejected. Presuming that HabitRPG changes info slightly, but website does not display account information. Therefore, cannot log in to

[2015-07-08 19:19] crookedneighbor commented on #5578
Have no fear, it's being added to the next release.

[2015-07-08 20:50] Alys commented on #5577
I'm very sorry about this @Ealasaid! You've been hit by this bug: https://github.com/HabitRPG/habitrpg/issues/4313. Please see the Advice section near the top for how to recover from the unfair damage and for workarounds for preventing it. If you'd like to follow the progress of the bug fix, you can subscribe to notifications in that issue (there's a button in the right-hand column).

By the way,

[2015-07-08 20:50] #5577 closed, assigned to nobody

[2015-07-08 20:51] Alys commented on #5510
Oh thank goodness! :) Thank you for letting me know. I'll leave this open for a few more days though to capture any other reports, in case there's situations where it's still broken.

[2015-07-08 20:54] Ealasaid commented on #5577
Oh dang, I looked for but didn't see the pre-existing bug. My misspelling probably didn't help! Thanks on both counts.

[2015-07-08 20:55] lemoness commented on #5578
Good news! That will be a feature in the next update. In the meantime, the workaround is to add an email and password on the website as described here: http://habitrpg.wikia.com/wiki/Settings#Switch_from_Facebook_Authentication We're sorry for the inconvenience!

[2015-07-08 20:56] lemoness commented on #5578
I'm closing this now because we're already working on it, but feel free to post again if you have more questions!

[2015-07-08 20:56] #5578 closed, assigned to nobody

[2015-07-08 21:02] Awesumounk opened #5579 ""This request is too large to handle" bug when updating my Guild"
Earlier today, I wanted to update my Guilds' message to have the links to the MOTB website, wishlist and wiki and I got an error message which read, " The request is too large to handle"  I didn't give up until 4 or 5 times of this same message.  I don't have a screenshot because by time my screen grasp program loaded the message was already gone.  Can someone look into this, before other people g

[2015-07-09 02:07] crookedneighbor commented on #5579
@Awesumounk Usually this kind of bug is temporary. Can you try refreshing your browser and updating it again? If you're still experiencing the error, post the guild id and what you'd like the description to say and I'll update it for you.

In the meantime, know that we are working on a refactoring the app to fix issues like this permanently, it's just not done yet.

[2015-07-09 09:26] Kristijan22 opened #5582 "Amazon error: Blocked a frame with origin "https://habitrpg.com" from accessing a frame with origin "https://payments.amazon.com". Protocols, domains, and ports must match."
So I just finished a quest where the prize was I think 350 exp. And I only need a total 330 to level up. Now I have 600 exp and I'm still level 14.

User id: 591d2aff-0898-49f3-99f2-76800ef96740

I got 2 javascript errors in the console
-Uncaught ReferenceError: cxApi is not defined
chrome-extension://laankejkbhbdhmipfmgcngdelahlfoji/core/vendor/jquery.min.js:2 Uncaught

**-SecurityError: Failed t

[2015-07-09 10:21] Alys commented on #5582
Hi @Kristijan22 . Please see the information at the top of this issue : https://github.com/HabitRPG/habitrpg/issues/2433

The first error you found in the console isn't related to HabitRPG; it's from one of your extensions.

The second error is from a new payment method and isn't related to leveling up. We'll look into that though because it might be important for other reasons. I'm going to chang

[2015-07-09 10:24] Alys commented on #5582
@paglias FYI  This error has been reported:
SecurityError: Failed to read the 'contentDocument' property from 'HTMLIFrameElement': Blocked a frame with origin "https://habitrpg.com" from accessing a frame with origin "https://payments.amazon.com". Protocols, domains, and ports must match.

[2015-07-09 12:13] lanachristy commented on #5510
I started clicking the dailies that did not work well before so I don't get damage. I am not sure if it is because I have clicked it before the actual due date This daily still show up as undone on my adroid phone app before the set date. Do you think I should try to delete and reset this daily?

[2015-07-09 15:48] ginsing825 commented on #4252
I haven't received achievements or drops for quests in a while... I'm not sure exactly how long. Up until recently, I still got the pop-ups saying I had finished a quest, along with the request for me to accept new ones. Recently I haven't even gotten those. I think everyone else in my party is getting their achievements and drops. My user ID is 1cd1fb00-ac48-4c5d-a83e-e5969ae7b950 and our party I

[2015-07-09 15:54] deilann opened #5583 "Help Text for GroupID"
I see a lot of folks post their GroupID when trying to find members for parties. No one can join a party with the GroupID, so it might be useful to provide some help text.

Something like: "This is an ID to help the admins find your party if any troubleshooting is needed. There's no need to keep it secret; no one can join your party using it."
## <bountysource-plugin>

Want to back this issue? **[

[2015-07-09 17:00] lemoness commented on #5583
We're working on revamping the Create Party page, and this should
definitely be part of it!

On Thursday, July 9, 2015, deilann notifications@github.com wrote:

[2015-07-09 17:03] deilann commented on #5583
It won't be as helpful on the Create Party page, as much as on an actual
created party page. There's no GroupID for a party that hasn't been created.

On Thu, Jul 9, 2015 at 10:00 AM, lemoness notifications@github.com wrote:

##

Currently Reading
https://www.goodreads.com/user/email_signature_destination/35215676?utm_medium=reading_link&utm_source=email_signature
[image: Book Cover]
https://www.g

[2015-07-09 18:00] ghost commented on #5564
Actually it turned out to be really easy. I have it working locally. What's left is to figure out what css file to use to be sure boostrap config is overridden...

[2015-07-09 19:32] Yevaud13 opened #5585 "All Habits, Dailies, To-Dos, Rewards and purchased equipment vanished"
I've been using HabitRPG very happily for a couple weeks, but, when I logged in this afternoon, **all of my tasks, task histories, rewards, purchased items (via gold and gems) were gone and my character stats were completely reset to level 1**.  Followed recommendations on issue #4957 (to retrieve tasks) but no luck.

Can anyone here help retrieve the tasks/items? The most important thing to me is

[2015-07-09 21:24] Alys commented on #5585
It's possible that in the past, two accounts were created for you by accident and today have logged into the wrong one.

Can you tell me how you usually log in to the website? For example, is it with facebook authentication, or username and password, or email address and password? Did you use the exact same method today? Did you enter the username / email address in the EXACT case that you've alwa

[2015-07-09 21:30] Alys commented on #4252
@ginsing825 At the moment, your party is running a quest that contains just one participant - the quest owner must have sent invitations and then immediately started the quest for themself, which means that no one else would have seen the invitations (they're removed when the quest is started). If the quest owner started the quest by accident, they can use the abort button in the quest box to stop

[2015-07-09 22:40] lemoness commented on #5583
_facepalm_

That's what I get for responding to Github tickets first thing in the
morning.

When we add this message, is there a less prominent place where we can move
the Group ID? Right now it's near the top of the page, which makes it more
notable. Moving it to a less conspicuous place may also help.

On Thu, Jul 9, 2015 at 10:03 AM, deilann notifications@github.com wrote:

[2015-07-10 00:13] charzooka opened #5587 "Quest frozen"
I started the egg hunt quest three months ago on my own and made steady progress for a month up to 79 eggs and then it froze. I haven't been able to make find eggs since. I tried to cancel it and start a new quest and the new quest disappeared and I'm back to the egg quest. I'm happy with either one, so long as I can make progress! What's happening?

[2015-07-10 00:14] charzooka commented on #5587
User id: 419b2544-c0ad-4f56-829d-eee11dea1bd6
Party: 4bca0aac-0826-4e77-b9e8-efe5ef024e8b

[2015-07-10 00:15] charzooka commented on #5587
Is it because my "sleeping" friend joined the party after I'd started the quest?

[2015-07-10 01:59] Yevaud13 commented on #5585
I don't think so. I've been logging in as Yevaud (exact case) since I started a couple weeks ago, mostly through the website but also on the HabitRPG app (previously) and now on Habitica. Haven't ever used the site through Facebook. The change happened without me having to log in again, so an account mix up seems unlikely. I did also notice just now that while I had 10 gems left on my account this

[2015-07-10 02:07] Alys commented on #5585
How many hours ago did you last see your account looking correct? The number of hours is better than the time because timezones make exact times difficult to work with. If you can tell me that, I can download a backup to restore your tasks (although it's a slow process; it might be a day or two before it's finished).

[2015-07-10 02:35] crookedneighbor commented on #5585
@Yevaud13 If you noticed the 8 gems on the Habitica app, that's a display error that will be resolved in the next app store update.

[2015-07-10 02:38] Yevaud13 commented on #5585
@crookedneighbor That's exactly true. Still showing as 10 on the website. Thanks!

@Alys  Oh, I see. That would be approximately 22 hours ago. Thanks for looking into it!

[2015-07-10 05:56] isaact-d opened #5589 "unable to open links in task notes"
If there is are hyperlink in notes. you can't click it when you move cursor off the task into the bubble the note is hidden.

[2015-07-10 05:58] Alys commented on #5589
Click on the note icon to open the note and freeze it in place. You can then click on the links. Click on the icon again to close it.

We have an issue to make this more obvious, since it is quite obscure.

Comment here again if it doesn't work for you!

[2015-07-10 05:58] #5589 closed, assigned to nobody

[2015-07-10 06:15] isaact-d commented on #5589
Okay that's cool. Would be more intuitive if it was hidden when you mouse off the note

[2015-07-10 11:31] Alys commented on #5587
Sorry about this @charzooka! Your account actually existed in two separate copies of your party, something which isn't supposed to happen but is a rare bug that we see occasionally (not due to your friend joining). You were getting inconsistent quest behaviour because each party had a different quest status.

I've deleted the non-Egg-Quest party, which means that everything should behave normally

[2015-07-10 13:03] paglias commented on #5582
@Alys this could be due to an extension, I wasn't able to replicare it. But anyway it's not anything important

[2015-07-10 13:24] #5030 closed, assigned to paglias

[2015-07-10 13:27] paglias opened #5592 "Enable New Relic again"
New Relic has been disabled since we found out ti was the cause of the memory leak.

@gisikw it seems that this might not apply to io.js https://github.com/joyent/node/pull/9064#issuecomment-119304596, we might try to switch to it in future

And also move `newrelic.js` in subfolder
## <bountysource-plugin>

Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/24078

[2015-07-10 16:48] aldo1001 opened #5594 "Update to Firefow browser on work network caused front page gibberish"
Hi, I use HabitRPG as my work todo list on Mozilla Firefox. (I think it updated a day or two ago).  Yesterday, I asked my network admin (security team prevents me from doing my own installs) to update Java and Flash to the latest versions on my computer.
Later that afternooon, HabitRPG looks like this.

![habitrpg](https://cloud.githubusercontent.com/assets/13276696/8623817/80dfed2a-26e8-11e5-993a

[2015-07-10 19:34] kamazon opened #5595 "Tasks do not sync from iOS to desktop"
Since I updated the app two nights ago, no To Dos I have added on my phone have appeared on the web version. Also, clicks I make on my Dailies in the iPhone app are not registering properly. Help?

[2015-07-10 20:00] kamazon commented on #5595
To follow up: tasks I mark as done in one place do not register in the other, in both directions.

However, tasks I put into the web application _do_ appear on the iOS version.

[2015-07-10 20:02] redmanatee commented on #5529
I think the best way to check for an injection attack in this instance is to escape the script tag you have there, and try to store it as a task (or whatever).  The escaped version (according to [this](http://www.freeformatter.com/html-escape.html#ad-output) page) is `&lt;script type=&quot;text/javascript&quot;&gt;alert(&quot;hello&quot;)&lt;/script&gt;`.  I just tested it, and it shows up as the

[2015-07-10 22:28] Alys commented on #5595
Are you using the old HabitRPG iOS app (logo is a brown chest) or the new
Habitica app (logo is a purple and white creature)? If the former, please
try the new one (search the app store for "Habitica"). I know you said you
updated the app, but we need to be sure which app.

[2015-07-10 22:57] kamazon commented on #5595
Thank you! That worked. :)

[2015-07-10 23:11] #5595 closed, assigned to nobody

[2015-07-10 23:45] crookedneighbor commented on #5529
It's not a security risk.

[2015-07-10 23:45] #5529 closed, assigned to nobody

[2015-07-11 03:59] ghost commented on #5550
I think your suggestion is clear enough.

[2015-07-11 04:27] #4802 closed, assigned to nobody

[2015-07-11 04:27] crookedneighbor commented on #4802
Closed with https://github.com/HabitRPG/habitrpg/pull/5596

[2015-07-11 04:34] crookedneighbor commented on #5594
I'm on the latest version of Firefox on my Mac, and I'm not seeing this. Can you refresh the page? If it still persists, can you open up your console and report any errors? Do you have any extensions that may be blocking HabitRPG code?

[2015-07-11 04:50] #5201 closed, assigned to nobody

[2015-07-11 04:50] crookedneighbor commented on #5201
Closed with https://github.com/HabitRPG/habitrpg/pull/5593

[2015-07-11 04:51] #5582 closed, assigned to nobody

[2015-07-11 05:05] #5552 closed, assigned to nobody

[2015-07-11 05:08] #5564 closed, assigned to nobody

[2015-07-11 05:08] crookedneighbor commented on #5564
Closed with https://github.com/HabitRPG/habitrpg/pull/5586

[2015-07-11 05:11] #5559 closed, assigned to nobody

[2015-07-11 05:16] #5555 closed, assigned to nobody

[2015-07-11 05:42] Alys commented on #5585
@Yevaud13 I've updated your account by merging in tasks, stats, and equipment owned from a backup made on 2015-07-09 00:00 UTC. Please let me know if anything is wrong or if I've missed anything!

@vIiRuS FYI, please see the bolded items in the original post, in case Habitica stalling isn't a coincidence. In addition to what is written there, everything in `items.gear.owned` had been changed from

[2015-07-11 07:03] #4825 closed, assigned to nobody

[2015-07-11 07:16] Alys commented on #5510
@lanachristy Are you still having that problem? If so, deleting and recreating the Daily might help, if you are not sure that its settings are correct. If the problem keeps occurring after that, tell us your User ID (go to Help -> Report a Bug and see step 6 for how to get your User ID).

[2015-07-11 08:09] orschiro opened #5597 "Extra notes cannot be clicked"
Hi all,

I just noticed an annoying bug. When providing information in the extra notes field, on mouse hover the appearing bubble does not stay open long enough to being able to click on a provided link.

Example screencast: https://www.youtube.com/watch?v=7wwJ67J2-2U&feature=youtu.be

Warmly,

Robert

[2015-07-11 08:12] Alys commented on #5597
Hi Robert. You can click on the note icon to open the note and freeze it in place. You can then click on the links. Click on the icon again to close it. Let us know if it doesn't work for you!

ref: https://github.com/HabitRPG/habitrpg/issues/5536

[2015-07-11 08:12] #5597 closed, assigned to nobody

[2015-07-11 08:27] phillipthelen commented on #5585
The stalling is a coincidence. It happened during the installation process and at that point the app on the iPad didn't have any data (so also no information which account )

[2015-07-11 08:31] Alys commented on #5204
{ "_id" : { "preferences_costume" : false }, "count" : 11689 }
{ "_id" : { "preferences_costume" : true }, "count" : 13853 }
{ "_id" : { "preferences_costume" : null }, "count" : 20553 }

30% still use a costume - no change. Let's pretend this was worthwhile anyway. :-/

[2015-07-11 09:50] #5585 closed, assigned to nobody

[2015-07-11 11:15] Alys opened #5598 "when a user joins a party with a quest in the invitation stage, they are not able to accept/reject"
It used to be that when a user joined a party, they would automatically receive an invitation to the party's quest if that quest was still in the invitation stage. This no longer happens.

Now, when a user joins a party that has a quest in the invitation stage, they are still added to the party's `quest.members` object with a `null` value (i.e., the quest will not start until they accept/reject or

[2015-07-11 15:02] Yevaud13 commented on #5585
@Alys Thank you SO much! Everything looks just right. :)  Completely understand about needing the backups for reference -- I hope they're helpful.

[2015-07-11 15:27] crookedneighbor commented on #5598
Pinging @hairlessbear, is this something you want to work on?

[2015-07-11 19:55] crookedneighbor commented on #2632
We now have a button that gives instructions for how to submit a bug report, not exactly this, but so far it doesn't seem like anyone wants to tackle this specifically so I'm closing it.

[2015-07-11 19:55] #2632 closed, assigned to nobody

[2015-07-11 19:57] #2649 closed, assigned to nobody

[2015-07-11 20:00] #2509 closed, assigned to nobody

[2015-07-11 20:01] #2639 closed, assigned to nobody

[2015-07-11 20:02] #2854 closed, assigned to nobody

[2015-07-11 20:03] crookedneighbor commented on #2484
@SabreCat Reopen this if you're still working on ti.

[2015-07-11 21:53] #5570 closed, assigned to nobody

[2015-07-11 22:25] hairlessbear commented on #5204
I still think the issue (if there is one) is that many users never visit the equipment page, so they aren't aware of the costume option. The best solution I can think of is a link on the Avatar page. This makes sense to me because the Avatar page is where you go to modify every aspect of your character's appearance other than the equipment. Some mention of the equipment page and the costume option

[2015-07-11 22:31] hairlessbear commented on #5598
@crookedneighbor Sure, I'll take a shot at it; seems pretty simple.

[Link to relevant code](https://github.com/HabitRPG/habitrpg/blob/develop/website/src/controllers/groups.js#L444) (so I don't have to look it up later :smile:)

[2015-07-11 22:51] Alys commented on #5204
@hairlessbear Fair point, and I remember you did say that before. @lemoness Any comments about adding something to the Avatar page about equipment/costumes?

[2015-07-11 22:56] hairlessbear commented on #5204
To be fair, the suggestion is mostly based on my own confusion. There was a very long period where I kept going to the Avatar page to change my costume. I could be wrong, but I suspect other users may have the same intuition that I did (i.e., expecting all of the avatar options to be on the same page), leading them to not seek avatar customization settings anywhere else.

[2015-07-12 00:11] aldo1001 commented on #5594
I'll have to come back to this issue-- I'm going to be away from my work computer for a while. Thanks for looking.

[2015-07-12 00:12] crookedneighbor commented on #5594
I'm going to close this now. I would try clearing your browser cache. Reopen this if that doesn't solve the issue.

[2015-07-12 00:12] #5594 closed, assigned to nobody

[2015-07-12 01:22] crookedneighbor commented on #5204
@hairlessbear I think that's a common thing.

[2015-07-12 05:41] lanachristy commented on #5510
I have deleted it and created a new one. The problem remains.
This is my user id.
e062c73f-b7ee-4419-baff-8189040812f4

Thank you so much for helping!

[2015-07-12 05:59] Alys commented on #5510
@lanachristy Make sure you're using the latest version of the Android app. An older version won't display the new types of Dailies correctly. If that doesn't fix it or if you can't upgrade the app, go to the website and see if the Daily is displaying correctly there. If it's not displaying correctly, open it into the edit screen and take a screenshot of the Advanced Options section. Paste the scre

[2015-07-12 13:31] lathias commented on #4957
Hello! I've had this problem for some time now, but just in my laptop... the app on my phone (iPhone 5s) is working correctly, and it's where I've been recording my progress.
All the tasks in the main page are gone, but everything else (pets, items, etc.) is still there :(

There are no evident javascript errors on my browser (Chrome), just a warning about an URL.

I hope you can help me with this

[2015-07-12 17:10] Paulnaveau opened #5599 "different amount of gems on website and app"
It's simple, on the website I have 19 gems,
on the new app on the iPad I only have 16

I'm: d58d0567-1154-45c7-be1a-46fcc1c99845
I'm using Chrome 43.0.2357.132 m  on Windows 8

[2015-07-12 17:31] SabreCat commented on #2484
Unassigning myself for now, but reopening. I still think this would be a good improvement to make, but coding it turned out not to be straightforward (mostly because of the way we notify on drops).

[2015-07-12 17:41] hairlessbear commented on #5599
Do you know which amount is correct?

Also, have you tried refreshing both instances (i.e., refreshing the browser page, and closing + reopening the iPad app)?

[2015-07-12 19:08] crookedneighbor commented on #5599
The new Habitica app has an error for displaying the gems. It'll be fixed in the next update.

See https://github.com/HabitRPG/habitrpg-ios/issues/88

[2015-07-12 19:08] #5599 closed, assigned to nobody

[2015-07-12 20:50] Alys commented on #2484
I've suggested this before and got a positive response but I can't recall
from whom. :)

We could give a drop chance when the user ticks off each checklist item,
then one more drop chance (as now) when they complete the To-Do. That
should be easier.

It also gives an immediate (sometimes) reward for each step in completing
the To-Do, which some users have said they'd like.

[2015-07-12 22:33] Alys commented on #4957
Click the clear button next to your tags and make sure there's no text in
the search box at the top of the Rewards column. Does that help?

[2015-07-12 23:21] deilann commented on #2484
Sometimes, though, users want to delete checklist items before checking off
the To-Do, so they don't get credit for them.

Consider "Grocery Shopping" as a task. It's pretty easy to add your
shopping checklist in, check it off as you get things. But do you want
credit for buying bananas? Not necessarily. So you delete the checklist
items off, then claim the task.

I've sometimes done this just to

[2015-07-12 23:50] charzooka commented on #5587
Thank you for replying so quickly, Alys! The party page looks the same as it did before, but I'm not sure what would have changed. I haven't found any eggs over the past day or two, if that helps. I have been completing dailies and habits. 
Hmm. Going by the rate that I was accumulating eggs before the bug I'd probably be done with the egg hunt by now, but let's just add all but five eggs so we ca

[2015-07-12 23:58] jea0009 opened #5602 "Ghost Quest"
Group ID: 8a88a106-843e-4e91-a9e9-a91a18f4eeac

Hey! So a member of my group started a quest, then accidently pressed begin quest before anyone else could join. He wouldn't respond or stop the quest, so the leader of the group kicked him out and then re-invited him. Unfortunately, now there is a quest in our groups page that no one is a member of. Is there any way you could delete the quest from o

[2015-07-13 00:06] TheHollidayInn commented on #2867
I can work on this, but an Admin probably needs to register: https://www.google.com/recaptcha/intro/index.html . Or, I can. Just let me know.

[2015-07-13 00:11] Alys commented on #5602
I've done that. Reload your party page to see the change.

[2015-07-13 00:11] #5602 closed, assigned to nobody

[2015-07-13 01:31] lanachristy commented on #5510
![image](https://cloud.githubusercontent.com/assets/13166358/8641154/ccef7c2e-28d4-11e5-8c8c-05db12a10895.png)

I am not sure how to take a pic of the whole column. Does this help?

[2015-07-13 01:42] Alys commented on #5510
@lanachristy That Daily is due every day except Tuesday. When a day button is highlighted in a strong colour, it means it's on for that day; a pale colour means it's turned off. When you create a new Daily, by default it's on for all days.

[2015-07-13 01:57] Biondom commented on #2176
I am currently experiencing this issue--receiving tons of eggs but no hatching potions. What should I do? Reopen it as a new issue?

[2015-07-13 02:04] lanachristy commented on #5510
Thanks you so much!! I feel like a fool lol
Sorry for bothering you for this mistake.

[2015-07-13 02:16] Alys opened #5603 "Daily "Repeat Every" day buttons give insufficient feedback about due/not due"
For Dailies that use the "On Certain Days of the Week" repeat option, it's fairly common for players to not know whether a highlighted day button means the Daily is due or not due on that day. We should have some kind of brief documentation in the form.

For example, when you hover over the "Repeat Every" text, you could see a popup explaining that highlighted days are due, and when you hover over

[2015-07-13 02:17] Alys commented on #5510
@lanachristy That's okay! Don't feel foolish; it's actually not an uncommon mistake. We should probably make the interface more intuitive so that people don't get confused by it. I've just logged https://github.com/HabitRPG/habitrpg/issues/5603 for us to work on that.

[2015-07-13 02:19] Alys commented on #5510
I'm going to close this issue now because I think the bugs have all been fixed, but if anyone is still having trouble, please tell us by commenting here. We'll see your comments even though this will be closed.

[2015-07-13 02:20] Alys commented on #2176
@Biondom It's just random chance. We have many thousands of players, and the nature of randomness means that some will get long runs of one item only. You're one of the unlucky ones at the moment, but in future you'll get hatching potions too.

[2015-07-13 02:22] Alys commented on #2176
@Biondom Sorry, to be more specific, there have been bugs in the past where the balance of drops wasn't correct, but we believe there aren't any now. Other players are getting hatching potions (I had one a few minutes ago), so there is no bug stopping them happening.

[2015-07-13 03:22] carolstone commented on #4488
I just want to check in and let anyone who's interested know that I'm still working on this. I'm actually getting pretty far along, but I'm brand-new at all of the technologies used here, so it's taking me a long time to do things that would be trivial for most people here.

[2015-07-13 03:24] Frikster commented on #5510
Hi, I hate to be the bearer of bad news but the android app is still syncing incorrectly for "repeat every x days" tasks. On the website my "laundry" task is grey. On my app it isn't. I uninstalled and reinstalled. No change.

0eb245f4-862b-4eec-9c67-7803cf616e9c

[2015-07-13 03:28] crookedneighbor commented on #4488
@carolstone Awesome. If you get stuck, feel free to open a PR as a work in progress and we'll help you out.

[2015-07-13 03:29] Alys commented on #5510
@Frikster Can you please check in Google Play to see if there's an update for the app, and if there is, try that? If there isn't, please tell us what version you have installed - Play doesn't always make new versions available to everyone at the same time, so we need to be sure of the version number. It's under the Settings or About screen, from memory.

[2015-07-13 03:35] Frikster commented on #5510
No update available. I'm running v0.0.55. I wouldn't be surprised if an update isn't available for me yet. I have a Samsung Note 4. Touchwiz devices typically get updates later, or at least such has been my experience.

By the look of things (according to my user-data), I am getting hurt from incomplete daillies from the app even though they are grey on the site.

[2015-07-13 03:36] Frikster commented on #5510
What's the protocol if that is indeed the latest version?

[2015-07-13 03:39] Alys commented on #5510
@Frikster The same as for any bug - we'll investigate and fix it if we can.

Note that a new version will be released very soon, in a day or two I'd estimate. I've only just now found out about that. It's likely to have the most recent code which would probably solve the problem, if the current one doesn't.

[2015-07-13 03:47] Frikster commented on #5510
Sweet, I'll report back by the end of the week then.

[2015-07-13 04:10] Alys commented on #5510
Reopening this until I'm certain the Android app is correct.

[2015-07-13 07:09] 3onyc commented on #2867
@TheHollidayInn You can add a variable in config.json for the Recaptcha credentials, that way you can use your own in dev, and HabitRPG theirs in prod.

[2015-07-13 09:29] Alys commented on #5587
@charzooka I've bumped up the quest progress to 95.

I actually hadn't set up everything needed in your account for the collection to work properly for you - sorry about that! That's why you haven't found any eggs over the past couple of days. However it should be right now. If you haven't found eggs after your next cron, please post again here!

[2015-07-13 10:50] isaact-d opened #5604 "Challenges can add habits without a term or option to delete, it's stupid"
Challenges need an end 2 weeks, 50 days ect ect not forever after

[2015-07-13 10:54] orschiro commented on #5597
This worked perfectly. Thank you very much!

[2015-07-13 11:51] orschiro commented on #5575
Thanks for clarifying @Alys!

I might consider submitting a request but first try to adapt to this workflow a bit more.

Thankfully,

Robert

[2015-07-13 12:16] Alys commented on #5604
Hi @isaact-d. There's actually a few good reasons to allow challenges to have no end dates. For example, some challenges aren't about doing the best you can over a limited time, but instead are for long-term or permanent behaviour change, and so the participants would want to keep the tasks forever. Some challenges are templates for sets of tasks for specific purposes that players can add to their

[2015-07-13 12:16] #5604 closed, assigned to nobody

[2015-07-13 18:31] SabreCat commented on #2484
I'd be curious how common a use case that is. It's OK if a minor workaround is useful for an edge case (here, you'd have to delete the item straight up rather than check it off and then delete it, and that's only if you don't like the extra drops). In most checklist scenarios, I think a bit of instant gratification would be a big plus.

[2015-07-13 18:57] crookedneighbor commented on #2484
I agree with Sabe.

[2015-07-13 19:07] lemoness commented on #5204
I think that is a very good idea!

Something simple, along the lines of:
"To change your avatar's equipment or use a costume, go to the [Equipment
Page](link)!"

Eventually we will probably be reorganizing the way this is handled to make
things easier, but this is a good solution for the interim.

On Sat, Jul 11, 2015 at 6:22 PM, Blade Barringer notifications@github.com
wrote:

[2015-07-13 19:58] ghost commented on #3323
I've had many of these Unresponsive Script errors in the past couple weeks, and Habit has been incredibly sluggish.  The blue bar often takes 30seconds-1minute to get across the page. Browser: Firefox 39.  Most recent error was in app-1d478d23.js:9 which was unreadable in my console window.

My console also had the following error text, which may or may not be related (couldn't find a timestamp):

[2015-07-13 20:45] Biondom opened #5606 "Not Receiving Hatching Potions (Related to Issue #2176)"
User ID: 8298f9b5-6852-4ef9-86be-bef92e18d0ed

Browser/OS: Google Chrome on Windows laptop.

Issue: I commented on Issue #2176 because it was related, but received no response. It's also a closed issue so I thought perhaps I should start a issue.

Basically, over the past few weeks, I have stopped earning hatching potions; instead I have been earning mostly eggs and a little food. This is irritati

[2015-07-13 20:47] Biondom commented on #2176
Oops, started new issue before I saw this (I was subscribed to this thread, so not sure how I missed your responses.)

Thanks for letting me know. I guess I will just wait and see.

[2015-07-13 20:47] #5606 closed, assigned to nobody

[2015-07-13 21:47] TheChumBucket opened #5607 "Request feature: explaining/marking tiling backgrounds"
When I found out backgrounds can tile, I was ecstatic! I was thinking how fun it would be if different backgrounds could tile together (either release them in the same month, or one-a-month for however many "matching" backgrounds there are). They could either tile interchangeably, or be in a specific order to create one large background. This would also require the party to be "sorted by backgroun

[2015-07-13 22:03] Alys commented on #5606
For the record, as Biondom found, we had replied in the other thread.

@Biondom, we receive notifications for comments made on both closed and open issues, although GitHub seems to be having problems at the moment with sending notification emails. If you ever don't get a response, just reply to the same issue.

Eight eggs and no hatching potions is not at all unusual. It's a very small run of bad

[2015-07-13 22:20] Alys commented on #2484
I'm assuming that if we add drops to checklist items, we'd do it only for To-Dos, not Dailies. This means that you could create a shopping list using a Grey Daily to avoid drops for checklist items. There's disadvantages to that workaround though (e.g., Grey Dailies are usually hidden; although we have an issue to make that optional per Daily), so I'm not strongly pushing the idea of a drop chance

[2015-07-13 22:21] crookedneighbor commented on #5607
@TheChumBucket Feature requests are [done through Trello](https://trello.com/c/odmhIqyW/440-read-first-how-to-request-a-feature-table-of-contents).

Going to close this now, but feel free to comment on Trello about this.

[2015-07-13 22:21] #5607 closed, assigned to nobody

[2015-07-13 22:23] Alys commented on #5607
See also the Tiling section in [Backgrounds](http://habitrpg.wikia.com/wiki/Backgrounds) on the wiki.

[2015-07-13 22:25] crookedneighbor commented on #2484
@Alys The [clone service](https://github.com/HabitRPG/habitrpg/blob/develop/website/public/js/services/taskServices.js#L25-L30) is already written. Just needs some code to implement the button on the tasks page.

I'm not sure how I feel about limiting checklist drops to todos. Feels weird to have it on one and not the other.

Also, I feel like checklist drops should be a rarer occurrence than regu

[2015-07-13 22:35] Alys commented on #2484
For Dailies, I believe it's much more common than for To-Dos to use checklists for purposes other than marking off that you've done a small task. They're used for reducing or avoiding damage from Dailies that you can't do but shouldn't be punished for, and a drop for that use case would be inappropriate. We see that use suggested in the Tavern often.

Dailies' checklists already don't add to the e

[2015-07-13 22:39] crookedneighbor commented on #5603
Sounds good to me.

[2015-07-13 23:20] meowcules opened #5608 "I just 'died' for no reason"
When checking off one of my dailies despite having nearly full health and leveling up yesterday.  Using google chrome browser.

[2015-07-14 03:37] #5598 closed, assigned to nobody

[2015-07-14 04:33] LittleMupsMum opened #5609 "Number of Seafoam not displayed (if over 100?)"
The number of Seafoam I have available stopped showing up, after I bought a large number.  Alys tells me I have 117. It was working when I had 80-ish.  I wonder if it's because the icon is slightly offset compared to the gold coin icon. Screenshot attached:
![seafoam](https://cloud.githubusercontent.com/assets/13087501/8666473/1384dccc-2a35-11e5-8852-7c3bffba29c7.png)
I am having this same issue o

[2015-07-14 04:45] Alys commented on #5609
117 confirmed.

@LittleMupsMum Thanks very much for the screenshot and platform details! That will be helpful.

[2015-07-14 07:25] xeraelia opened #5610 "Dailies Restarting too early to finish all of them"
My dailies have been restarting way too early for me to complete all of them, theyve been restarting at 7pm every day which is annoying because they used to restart at 12am for me. Either I dont tick some off when I do them and I plan to tick them off later in the evening or I do those things later at night. Is this a bug or can I easily change this??

User ID - a795167e-7b8d-45a1-8e77-8455fb7e51d

[2015-07-14 07:39] Alys commented on #5610
FYI devs: xeraelia's Custom Day Start is 0.

xeraelia, can you please check the time and timezone that are set on your PC or mobile device to make sure it is correct?

What time of day do you typically start using HabitRPG?

What timezone are you in (this is unlikely to make a difference but I want to be sure). Please tell us the timezone in terms of UTC +/- n hours, rather than by a local name fo

[2015-07-14 09:07] xeraelia commented on #5610
My timezome must have changed when i reset my whole computer, thanks it was on US time instead of NZ time :/ I changed it back to UTC +12:00. Thanks so much :)

[2015-07-14 09:21] Alys commented on #5610
No worries. Easy fix. :)

[2015-07-14 09:21] #5610 closed, assigned to nobody

[2015-07-14 10:00] LittleMupsMum commented on #5609
Just noticed that the number does show up in the Inventory:Market page, so it's just the Tasks page where this bug is occuring.

[2015-07-14 10:32] Alys commented on #5608
Ticking off the Daily would not have caused your death. Instead, something else happened at the same time, most likely damage from a boss quest caused by one of your party mates not having done all their Dailies. For information about this, please see [Death Mechanics](http://habitrpg.wikia.com/wiki/Death_Mechanics) on the wiki, in particular the section called "Sudden, Unexpected Death", but othe

[2015-07-14 12:22] Thunderhawke opened #5611 "After install of Habitica taking damage twice a day"
Hi,

Since I installed Habitica, I seem to be taking damage twice a day (for example I died today when I should have only taken 22 damage from dallies and 22 from quest (am questing alone).

My user id is - 831a485c-170d-4f1a-bb76-7eeaadc37de0

I use Chrome, and Habitica.

Thanks

AT

[2015-07-14 14:12] VittorioAstone opened #5612 "No flying pig or tiger eggs"
User ID: 5c6ce2df-779b-4c25-96b4-0a4f03049c70

Browser/OS: Firefox on Windows 7

Issue: Simply put, I'm level 32 and I've never found any pig or tiger eggs, while the other pets seems to appear regularly. Could possibly be pigs and tigers are so rare?

(I haven't found any related issue, sorry if there is one)

Thank you!

[2015-07-14 16:12] ghost commented on #3323
Today's unresponsive script error was for: https://habitrpg.com/app-1d478d23.js:5
This was not my very first load of Habit for the day, but I went away for a few minutes, which sent my computer to sleep, and then woke it up and had the error on my Habit tab.  There was nothing in the console.

[2015-07-14 16:27] kamni opened #5613 "Cannot remove Challenge tasks from personal task list after leaving Challenge"
How to reproduce:

1) Join a challenge. Note that there are new challenge tasks in your habits/dailies/todos.
2) Leave the challenge. Opt not to delete the tasks (because you want to use some of them for a little while longer)

There is no direct way to remove the challenge's tasks now that you have opted not to delete the tasks.

One workaround is to re-join the challenge, then leave and opt to d

[2015-07-14 19:35] SabreCat commented on #5612
See the last few comments in the conversation on #2176.

[2015-07-14 19:35] #5612 closed, assigned to nobody

[2015-07-14 20:11] hairlessbear commented on #5539
@gisikw Can this be closed?

[2015-07-14 20:17] gisikw commented on #5539
Whoops, sorry to have left this open :)

[2015-07-14 20:17] #5539 closed, assigned to nobody

[2015-07-14 20:36] GitHubSphinx commented on #5613
@kamni I believe it's documented on the wiki: http://habitrpg.wikia.com/wiki/Challenge#Challenge_Tags_Remaining_after_Leaving_a_Challenge

[2015-07-14 20:39] GitHubSphinx commented on #5613
@kamni I believe it's documented on the wiki
- http://habitrpg.wikia.com/wiki/Challenge#Deleting_a_Challenge_Task
- http://habitrpg.wikia.com/wiki/Challenge#Tasks_Created_by_a_Challenge_Can.27t_Be_Removed_after_It.27s_Been_Closed

*This post is an edit because the first one had the wrong link.*

[2015-07-14 20:44] ghost commented on #5613
@kamni I believe it's documented on the wiki
- http://habitrpg.wikia.com/wiki/Challenge#Deleting_a_Challenge_Task
- http://habitrpg.wikia.com/wiki/Challenge#Tasks_Created_by_a_Challenge_Can.27t_Be_Removed_after_It.27s_Been_Closed

_This post is a third edit because the first two ones got somehow messy_ =(

duplicating #2877 ?

[2015-07-14 21:37] Alys commented on #5613
@kamni We do often have reports of challenge tasks being undeletable when a challenge has ended, but it's rare to see it when a challenge has been left. If the workaround posted by @GitHubSphinx doesn't work, we'd really like more information from you so we can work out what's happening.

Firstly, when you leave the challenge and opt to keep the tasks, the challenge icon (the megaphone) on each ta

[2015-07-14 23:58] isaact-d opened #5615 "Android app urls aren't hyperlinks..."

[2015-07-15 00:01] isaact-d opened #5616 "Outbox or sent messages"
I'll often put a lot of effort into a proposal challenge to send to my guild leader but they don't always implement they ideas so it'd be nice to be able to take that idea across to another guilt leader to see what they think.

[2015-07-15 00:02] isaact-d opened #5617 "Option to edit messages on guild board"

[2015-07-15 00:14] Alys commented on #5616
Your sent messages can be seen in your inbox.

Also, many guilds allow you to create challenges yourself. You might find
that for the guilds you are interested in, you don't need to ask the leader
to create the challenges for you.

If these points don't cover what you are wanting, please use the "Request a
Feature" option in the Help menu.

[2015-07-15 00:16] Alys commented on #5617
Can you please describe what is wrong or what behaviour you'd like to see?
Note that if this is a request for a new feature, it should go through Help
-> Request a Feature, rather than here. Github is for reporting bugs with
existing features.

[2015-07-15 00:20] Alys commented on #5615
Can you please give some details about what is wrong? For example, where do
the URLs appear, do they look like URLs but not work like them, or do they
look corrupted, what happens when you try to click on them (nothing or a
freeze or a crash or something else)? If screenshots would help to
illustrate the problem you're seeing, please drag them into a comment here
(attaching to an email won't add t

[2015-07-15 00:25] #5616 closed, assigned to nobody

[2015-07-15 00:56] doublemarked opened #5618 "Eternal Quest - Collection quests are too slow"
Our party has spent over two months collecting Testimonies for The Golden Knight Chain Part 2. It is still not done.

Is this normal? Morale is low... :(
## <bountysource-plugin>

Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/24348254-eternal-quest-collection-quests-are-too-slow?utm_campaign=plugin&utm_content=tracker%2F68393&utm_medium=issues&utm_source=git

[2015-07-15 02:12] crookedneighbor commented on #3218
(Hopefully) closed with https://github.com/HabitRPG/habitrpg/pull/5614

[2015-07-15 02:12] #3218 closed, assigned to nobody

[2015-07-15 02:12] crookedneighbor commented on #5618
@doublemarked Are your party members making any progress? Or is it completely frozen?

[2015-07-15 02:39] TheHollidayInn commented on #2867
@3onyc Make sense! Thanks.

[2015-07-15 03:47] doublemarked commented on #5618
Not stuck - just extremely slow progress. I realize this may be more of a complaint about balance than a bug, but was not sure where else to complain :)

[2015-07-15 03:51] hairlessbear commented on #5286
This has been solved with #5513; would someone mind closing this?

[2015-07-15 04:00] Alys commented on #5286
Thank you. :)

[2015-07-15 04:00] #5286 closed, assigned to nobody

[2015-07-15 06:29] isaact-d commented on #5604
Yeah that was the problem my option to remove the habit was taken away

[2015-07-15 06:31] isaact-d commented on #5617
If it functioned more like a facebook fan page it would be great. Option to comment on a users post instead of pm and if you make a post having the option to fix a spelling mistake is always nice too

[2015-07-15 06:36] ashtonism commented on #5618
new to habit's coding. @crookedneighbor do you know how the tally system works?

[2015-07-15 06:40] isaact-d commented on #5617
Yeah I will just nothing seems to happen on the trello board there are feature requests that should have been vetoed need something like https://www.uservoice.com/

[2015-07-15 06:41] isaact-d commented on #5617
This page we are using now has all the features that HabitRPG needs I bet there's a git with code for this purpose

[2015-07-15 06:55] Alys commented on #5617
We are planning to make large changes to the messaging system. Please add your ideas to Trello so that they can be considered along with the other suggestions we've had. The Trello board is monitored and used by staff and developers when planning site changes. We don't respond to every comment but we do read them all. We tend to not respond negatively to suggestions that might initially seem like

[2015-07-15 06:55] #5617 closed, assigned to nobody

[2015-07-15 07:09] Alys commented on #5618
@ashtonism The code you're looking for is anything containing `quest.progress`, so if you search the codebase for that, you'll find all relevant areas. Some examples:

`user.party.quest.progress.up` records the damage done by a player to a boss during one day. Each time a player ticks off a task, an amount is added to the float stored in that attribute. When cron runs, the damage from `user.party.

[2015-07-15 07:11] Alys commented on #5618
Everyone, I'm about to rename this issue from "Eternal Quest" to "Eternal Quest - Collection quests are too slow", so if you're following this by email, the Subject will change.

@lemoness We do hear complaints fairly often about slow collection quests. They can drag on. Should we speed them up? Increased drop chance? Fewer items to collect?

[2015-07-15 07:14] Alys commented on #5611
Did you take both sets of damage at the same time, or different times? Do you use the website as well as Habitica, or any other HabitRPG apps? For all the devices (PC, phone, tablet, etc) that you use HabitRPG/Habitica on, are the times and timezones EXACTLY the same?

[2015-07-15 08:50] isaact-d opened #5622 "hyperlinks in notes need to automatically open in new tab"
Today I was making a challenge and clicked a link by accident all my work was lost
## <bountysource-plugin>

Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/24366030-hyperlinks-in-notes-need-to-automatically-open-in-new-tab?utm_campaign=plugin&utm_content=tracker%2F68393&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.b

[2015-07-15 11:22] Thunderhawke commented on #5611
Different times, the damage on Habitica sometimes comes when I am updating
dailies, I have installed but have stopped using HabitRPG app and most of
the time I use Chrome (windows and mac) to update but tend to use
Habititica at night. Timezones are all EST, and times are set by server.

Cheers

AT

---

Andrew Natenshon
Mobile: +1-617-335-6240
ATN123@GMAIL.COM

On Wed, Jul 15, 2015 at 3:15 AM, Al

[2015-07-15 11:36] Alys commented on #5611
The most recent three messages about your quest progress show that cron has occurred about 24 hours apart for three days, so I don't think that the damage you are taking is from cron running more than once a day.

When you've use HabitRPG on one device and then switch to a second one, the first time you take an action on the second device (e.g., ticking off a task), a sync to the server will be do

[2015-07-15 11:46] Peldor opened #5623 "Attributes display a wrong class bonus on friends"
If one clicks on a party member to see his attributes, for instance, a class bonus of 45 is reported on perception, while the person actually has a 15 class bonus

[2015-07-15 11:49] LittleMupsMum commented on #5609
Now that the buff has worn off, I noticed that the number does actually appear - in the line below.  I am guessing it was covered up by the Sand before:
![seafoam unbuffed](https://cloud.githubusercontent.com/assets/13087501/8697788/5465c0d8-2b3b-11e5-8054-b6b6b3241df9.png)

[2015-07-15 12:04] crookedneighbor commented on #5618
We did talk at one time about making a rogue's pick pocket skill increase the collection number (like brutal smash and BOF) do for boss damage, but we wanted to wait till the skill rebalancing settled before making the change.

[2015-07-15 12:17] Alys commented on #5609
Thank you again!

[2015-07-15 12:47] nightstitched opened #5624 "enchanted armoire"
For my character their showed only four piece of equipment in the enchanted armoire. But when I looked back at the equipment I got I had  two independent items and equipment piece two and three of the rancher set, but the armoire still says that there is no more equipment left!

Is this a bug or have they just not released all of the equipment yet?

My id is 8f711a4a-b928-4428-9de4-0c3325d84ed3

T

[2015-07-15 12:54] #5609 closed, assigned to nobody

[2015-07-15 12:55] crookedneighbor commented on #5609
Sigh. This happens every time we introduce a new item like this. The dimensions are 32 x 32, not 40 x 40 :disappointed:

[2015-07-15 12:56] crookedneighbor commented on #5624
Pinging @SabreCat

[2015-07-15 12:56] Alys commented on #5624
I've checked your account and it shows that you own all of the Armoire items released so far. If you aren't seeing them all on your Equipment page, please reload it. This is what you will see: http://i.gyazo.com/cbe56f142e4190786da27b31dd78ffa2.png

[2015-07-15 12:57] Alys commented on #5624
@nightstitched I've closed this but you're welcome to ask again here if you still have questions. We'll see your posts even though it's closed.

[2015-07-15 13:08] crookedneighbor commented on #5623
@Peldor Can you provide screenshots and user ids?

[2015-07-15 13:49] bazani opened #5625 "Tail rubi description error"
Hi, the item "Cauda Rubi" (Tail rubi) isen't showing the item description.
![screen shot 2015-07-15 at 10 48 50](https://cloud.githubusercontent.com/assets/676162/8699909/2d4f6226-2adf-11e5-8860-852bb3cf2107.png)

[2015-07-15 14:00] doublemarked commented on #5618
Hello, all. I appreciate you taking the time to consider this complaint.

I want to also note something else - we've done a number of other collection quests in the months we were using HabitRPG prior to May. None of them, as far as I recall, lasted longer than a week or so. This one has been very substantially longer.

I should also add, two of our five party members were in the Inn when this one

[2015-07-15 14:25] hairlessbear commented on #5623
I believe this is a duplicate of [#5135](https://github.com/HabitRPG/habitrpg/issues/5135#issuecomment-100303275) (specifically the last couple comments)

[2015-07-15 15:06] Peldor commented on #5623
I did a good search on attributes, but did not see this post.
What i gather from the text is that that is 0.5 class bonus.
But what i see is the 0.5 class bonus+ the original item stat= equals 3 times class bonus.
I asked others and they see the same

[2015-07-15 15:15] hairlessbear commented on #5623
The last few comments in the linked issue are what I'm referring to; I apologize for not being more specific.

Here's what's happening: for each attribute, there are five bonuses that can display: level, equipment, class bonus, allocated, and buffs. Unfortunately, the code that calculates the equipment bonus isn't working properly, and isn't returning any value.

This has two side effects:
1) No e

[2015-07-15 15:21] hairlessbear commented on #5623
Here's an example from my profile.

This is a screenshot from my avatar page (where the stats display properly):
![selection_036](https://cloud.githubusercontent.com/assets/7059890/8702062/5e79bc26-2ae3-11e5-846a-dec3ce628010.jpg)

This is a screenshot from my member popup:
![selection_037](https://cloud.githubusercontent.com/assets/7059890/8702068/6c12988a-2ae3-11e5-835d-fd4566ad3f44.jpg)

As you

[2015-07-15 15:40] hairlessbear commented on #5623
@crookedneighbor I just fiddled with [the code ](https://github.com/HabitRPG/habitrpg/blob/develop/website/views/shared/profiles/stats.jade#L46-48) a bit, and replacing the instances of `e` with `profile.items.gear.equipped` makes everything work properly. So something weird is happening in the `ng-init` to cause `e` to not properly be set or something.

[2015-07-15 15:55] crookedneighbor commented on #5623
Well, the first problem is that we're using ng-init in a non ng-repeat context :disappointed:

[2015-07-15 16:02] hairlessbear commented on #5623
Very true. I just don't understand why it works properly on the profile page, but not with the member modal. Either way, it definitely needs to be reworked.

In the meantime, #5626 fixes this issue in a hacky way, and might be worth implementing until we get around to refactoring the code.

[2015-07-15 16:35] SabreCat commented on #5623
Closing this ticket as a duplicate of #5135.

[2015-07-15 16:35] #5623 closed, assigned to nobody

[2015-07-15 16:42] SabreCat commented on #5618
The 300 Testimonies required for Golden Knight 1 are between 3 and 10 times as many items required as most collection quests. Only Moonstone Chain 1 requires more, at 500 (!!) items.

At a minimum, these specific quests need rebalancing. The current stats make them prohibitively difficult for all but the largest parties, and large parties are otherwise not ideal.

[2015-07-15 17:09] ghost commented on #5625
Thanks for reporting it!

The string is reviewed, but I'm contacting the reviewers of the Portuguese team. Should be easy to fix!

String key: [armorSpecialSummer2015RogueNotes on Transifex](https://www.transifex.com/projects/p/habitrpg/translate/#pt/$/51023779?key=armorSpecialSummer2015Rogue)

[2015-07-15 17:41] crookedneighbor commented on #5625
I've corrected the error. It'll be updated on the site in a couple of days.

[2015-07-15 17:53] sunshadowpoet opened #5627 "Orb of Rebirth not unlocked by Beast Master achievement"
The Orb of Rebirth is listed under the FAQ as being unlockable in the Market by either reaching Lvl 50 or having the Beast Master achievement. I earned the latter today, but it seems to not be available (Key to the Kennels did appear promptly). Is Level 50 now the only way to make the Orb available, or is this a bug?

Username on their is similarly @sunshadowpoet, thanks for any help that anyone c

[2015-07-15 17:54] #5627 closed, assigned to nobody

[2015-07-15 20:01] 71 opened #5628 "ShareIt: Triggers a click on avatar anyway"
**Browser:** IE11 on Windows 8.1 Pro.
**UUID:** `59844e50-2963-424f-a092-60d0c1a171f6`.

When clicking on the _ShareIt_ button, the click toggles both the "_share menu_" and the click on the avatar (Tasks <=> User/Avatar). Tried to reproduce that on Chrome, but the ShareIt button doesn't even popup, according to #5514.

**PS:** I'm on it.

**Edit:** I have found a way to solve the problem, using `

[2015-07-15 22:36] crookedneighbor commented on #4432
I think the most straightforward way to handle this is to set up a mailing list for 3rd party developers about API changes.

Whenever a breaking API change comes out, we'd want to send out an alert some time before it is deployed detailing what the change is and how to prepare their integration for it.

[2015-07-16 00:11] lemoness commented on #5618
One big feature that I've seen requested is the ability to gain more than
one item at a time, based on task difficulty/redness/checklists, the way
that damage scales in Boss Battles. I think that's a very good idea.

For example, maybe checking off a yellow Daily only has the chance to give
you 1 testimonial, but checking off a dark red To-Do with a 6-item
checklist has a chance of giving you much

[2015-07-16 04:53] Alys commented on #5608
@meowcules I'm closing this on the assumption that the wiki information explained what happened, but we can reopen it if an investigation is needed.

[2015-07-16 04:53] #5608 closed, assigned to nobody

[2015-07-16 04:53] #5587 closed, assigned to nobody

[2015-07-16 04:54] Alys commented on #5515
I'm closing this since we've modified the challenges identified so far, but you are all welcome to post here again if you see more changes that are needed.

[2015-07-16 04:54] #5515 closed, assigned to nobody

[2015-07-16 05:11] Alys commented on #4936
I'm finding this more confusing than usual for the Dilatory Distress, Part 1 quest because the quest description and collection items seem to run together as single lines:
![screen shot 2015-07-16 at 3 03 46 pm](https://cloud.githubusercontent.com/assets/1495809/8715863/065fb808-2bcc-11e5-9d83-2731281274d1.png)

I'm wondering if the fastest solution to this is to have a blank image that we copy fo

[2015-07-16 07:10] cavejay commented on #5441
Progress was made towards this issue and merged.
Should the Issue be closed?

[2015-07-16 07:42] Alys commented on #5441
Yes, thanks!

[2015-07-16 07:42] #5441 closed, assigned to nobody

[2015-07-16 07:57] aaalyssa opened #5630 "Can't leave party"
I created a party and decided I would rather join one then have my own but I cannot leave now. When I try to leave it says: Error Runner error: Overflow sort stage buffered data usage of 33952769 bytes exceeds internal limit of 33554432 bytes" If the error persists, please report it at Help > Report a Bug. If you're familiar with your browser's console, please include any error messages.

[2015-07-16 07:59] Alys commented on #5630
We can delete the party for you but we'll need information from you to identify it. Please go to Help -> Report a Bug and see step 6 of the instructions for how to find your ID and your party's ID.

[2015-07-16 08:49] #5013 closed, assigned to nobody

[2015-07-16 08:52] Alys commented on #4839
We're rewriting the mobile apps from scratch (the iOS one has already been released) and then we'll be adding features from the website to them until they're complete. Quest invitations will be part of that, so I'm closing this issue/feature request now.

[2015-07-16 08:52] #4839 closed, assigned to nobody

[2015-07-16 08:54] #2642 closed, assigned to nobody

[2015-07-16 08:57] #3214 closed, assigned to nobody

[2015-07-16 09:01] Alys commented on #3282
I'm closing this because the initial problem will be an example of this bug: https://github.com/HabitRPG/habitrpg/issues/4132
and challenges can now be duplicated by cloning.

[2015-07-16 09:01] #3282 closed, assigned to lefnire

[2015-07-16 09:14] Alys commented on #3986
update from https://github.com/HabitRPG/habitrpg/issues/5126: usernames have an unique index

[2015-07-16 10:56] ghost opened #5631 "Typos repository - errors in English text and suggested text improvements"
## edit by Alys, 22 May:  new strings start at this comment: https://github.com/HabitRPG/habitrpg/issues/5631#issuecomment-226582108

An attempt to start a repository for typos in English text
### Typos
- [ ] **_not considered yet**_:  There is a space missing in front.json - marketing4Lead1 `...eachother...` - as reported by bouncyballboy
- [x] Successully instead of SuccessFully in two lines (77

[2015-07-16 11:39] Alys commented on #5631
I don't think "bellow" is wrong. The previous Stressbeast update spoke of the beast making a lot of noise, so going out with a final bellow makes sense. A bellow is a deep roar.

[2015-07-16 14:22] hairlessbear commented on #5628
For what it's worth, the browser doesn't make a difference. This same behavior occurs with Chrome and Firefox.

[2015-07-16 14:23] hairlessbear commented on #5514
Button is appearing again. Not sure what the cause of this was, but it appears to have solved itself, so I'm  closing this.

[2015-07-16 14:23] #5514 closed, assigned to nobody

[2015-07-16 19:50] Thunderhawke commented on #5611
Didn't seem to appear today, and I noticed what you stated but the problem
of the quest damage of 22 leading to a death makes me still think I got
double hit with damage at some point, it is hard to track down past damage
drivers though so I can't be sure.

---

Andrew Natenshon
Mobile: +1-617-335-6240
ATN123@GMAIL.COM

On Wed, Jul 15, 2015 at 7:36 AM, Alys notifications@github.com wrote:

[2015-07-16 19:52] lemoness commented on #5618
We can definitely reduce the numbers of those quests - they're supposed to
be hard, but Collection Quests are indeed not so jazzy, so they may be too
hard.  I really do want us to consider the broader changes to all
Collection Quests as well, though.

On Wed, Jul 15, 2015 at 9:42 AM, Sabe Jones notifications@github.com
wrote:

[2015-07-16 20:01] lemoness commented on #5514
We'll have to keep an eye out for any similar reports, since we had issues
with this in the past that we thought were fixed! Let us know if it ever
disappears again.

On Thu, Jul 16, 2015 at 7:23 AM, hairlessbear notifications@github.com
wrote:

[2015-07-16 20:07] MoritzFago opened #5633 "installation on uberspace fails"
hello i tried to install habitrpg on my uberspace, i folowed [this](https://gist.github.com/mamiu/cc792b805eec59b224c9) guide but it fails. here is the log of `npm install`

[code]

and here of `npm start`

[code]

[2015-07-16 20:55] fraukej opened #5634 "Says 1 Mount tamed when I didn't tame any."
In the Stats & Achievements section, when scrolled down to pets and mounts, it says that I tamed 1 mount, when I didn't tame any yet. On the mount master quest progress it says "0/90" which is absolutely correct. This happened to some of my friends, too, they are all below lvl 10 and didn't tame a mount yet, some of them don't even have pets yet and still it says they have 1 mount tamed.

My User

[2015-07-16 21:11] deilann commented on #5634
You should have the Orca mount, which is 1 mount tamed! But it doesn't
count towards Mount Master, as you can see.

On Thu, Jul 16, 2015 at 1:55 PM, fraukej notifications@github.com wrote:

##

Currently Reading
https://www.goodreads.com/user/email_signature_destination/35215676?utm_medium=reading_link&utm_source=email_signature
[image: Book Cover]
https://www.goodreads.com/user/email_signature_de

[2015-07-16 21:11] #5634 closed, assigned to nobody

[2015-07-16 21:53] ghost commented on #5631
@Alys Thank you for clarification!

It seems I've added all the relevant comments marked as issues on Transifex. Could someone please review the items in the opening post and evaluate suggestions.

May I ask the moderators to feel free to edit the opening post if needed - as in a couple of days I'll be gone off-line for the next 2-3 weeks and won't be able to edit it.

[2015-07-16 22:02] fraukej commented on #5634
You're right - thank you for clearung this up :)

[2015-07-16 22:03] deilann commented on #5634
No problem!

On Thu, Jul 16, 2015 at 3:02 PM, fraukej notifications@github.com wrote:

##

Currently Reading
https://www.goodreads.com/user/email_signature_destination/35215676?utm_medium=reading_link&utm_source=email_signature
[image: Book Cover]
https://www.goodreads.com/user/email_signature_destination/35215676?utm_medium=cover&utm_source=email_signature

[2015-07-16 22:31] Alys commented on #5631
"We all know how glued to phones and games students are these days, harness that power!"  I'd change the comma to a semi-colon rather than a period.

"But rumor has it, if you feed them milk after midnight, they grow quite irritable."
I think the second comma between "midnight" and "they" is correct. It's separating a conditional clause from a main clause. http://dictionary.cambridge.org/grammar/b

[2015-07-16 22:31] crookedneighbor commented on #5631
I agree on both counts.

[2015-07-16 22:32] crookedneighbor commented on #5631
I'm updating the description of the original issue.

[2015-07-16 22:49] isaact-d commented on #5615
Sure so there are 2 problems one on the on the android app hyperlinks are like normal text and don't link and on the website clicking the link should open in a new tab atm clicking the link opens the url in the same tab so you lose where you were in habitrpg

[2015-07-16 23:05] crookedneighbor commented on #5615
@isaact-d I assume you mean links in chat messages and task notes, correct?

[2015-07-17 04:51] RebeccaF opened #5636 "Party page not displaying in Android app"
Since yesterday's update to version 0.0.56

The party page is empty for me and only displays the standard "to manage invitations..." text. The website shows my party.

This is on Android 5.1.1

[2015-07-17 09:12] theoriaomnia commented on #4252
When I looked at the User Data Display, it said that I had collected 907 bars of soap for the quest "Attack of the Mundane: Dish Disaster!", while I only need 20. On the party page on the main site, it says I have 0/20 soaps. My user ID is 07f4f3e9-9f82-401f-a502-960efef61ca5. Thanks.

[2015-07-17 09:51] Alys commented on #4252
@theoriaomnia You have collected 907 bars; the DDT is correct. They haven't been applied to your quest yet because the quest's progress is only updated when your [cron](http://habitrpg.wikia.com/wiki/Cron) runs (usually when you first use HabitRPG each day). They also aren't applied to your quest while you are [resting in the inn](http://habitrpg.wikia.com/wiki/Rest_in_the_Inn), so if you've been

[2015-07-17 09:59] Alys commented on #5613
@kamni I'm closing this because I'm afraid we can't investigate without further information, but if you still need help with removing challenge tasks, please reply and we'll reopen it.

[2015-07-17 09:59] #5613 closed, assigned to nobody

[2015-07-17 10:25] Alys commented on #5633
Hi @MoritzFago. We'll try to help you with this, but please note that the uberspace install process is not officially supported by us (in fact, this is the first mention of it that I recall). It's good that it exists, and we'll add a link to it from our wiki, but because we aren't familiar with it, we might not be able to assist with all problems you encounter.

Also, we have recently made several

[2015-07-17 10:45] LittleMupsMum commented on #5560
As one of the users who had this issue, I'm not sure your fixes address the situation we had.  Either that or I've misunderstood the fix.
We had a party member send out invitations unexpectedly (since someone else was going to start a different quest), then not log in for over a week.  It was an easy quest which we thought we'd be able to complete quickly, so those of us who were active accepted t

[2015-07-17 12:28] hairlessbear commented on #5560
@LittleMupsMum: Thanks for your input! On starting the quest via voting, point 4 in my original post is "_Voting shouldn't be used to start a quest. If the quest leader is inactive, this would force an inactive user to participate in a quest, which is problematic for multiple reasons._" To expand on this, here are some example scenarios that illustrate why I believe this would be problematic:
1. A

[2015-07-17 15:25] ghost commented on #4534
I have the same problem here. I tried delete my "new account" and nothing is happened when I sign in again. My old account (which I registered with my facebook) is still lost :/

My original ID is d0e8790d-35a2-49aa-8a31-2a752e7ec31a, my new one is 5d2ced52-04a3-4e00-bf0e-78bc91a0a222

[2015-07-17 15:44] Atramagus opened #5637 "Had over 40 health, took 6.8 damage and died"
My wife had over 40 health last night. This morning she took 6.8 damage and died, losing over 5.4k gold and she's unsure of any items that may have been lost.

Anything that could have caused that?

[2015-07-17 16:36] dschur13 commented on #5631
I'm a new developer and wanted to help contribute. Is this issue being worked on by someone else currently?

[2015-07-17 17:00] AegisOmega opened #5638 "Join Tavern Guild Error"
The following error is reported everytime when I try to join the "Tavern" guild.
"Fehler Runner error: Overflow sort stage buffered data usage of 36128371 bytes exceeds internal limit of 33554432 bytes"
Somehow I'm in there now... why isn't everyone by default in this guild?

[2015-07-17 17:02] crookedneighbor commented on #5631
Yes it is.

[2015-07-17 17:43] hairlessbear commented on #5638
I think I know what's going on; I believe this is the same as #5303. I'm going to guess that you're using the HabitRPG chat extension, and that you're getting to the Tavern by clicking on it from the chat extension. When you do that, the URL is  `https://habitrpg.com/#/options/groups/guilds/habitrpg` instead of what it's supposed to be (`https://habitrpg.com/#/options/groups/tavern`). This causes

[2015-07-17 18:01] hairlessbear commented on #4936
@Alys: If you're going the blank image route, it might be a good idea to include some sort of explanatory text in that space (e.g., "Art coming soon!") If it's just a blank space, it'll seem like an image has failed to load, which might cause confusion/bug reports.

[2015-07-17 18:53] hairlessbear commented on #5631
@dschur13 https://github.com/HabitRPG/habitrpg/issues/4522#issuecomment-110843828 has some similar work that you could do.

[2015-07-17 19:34] ghost opened #5639 "Articles of food (and potentially pets) are not translatable"
I'm creating a new issue in addition to mentioning this bug in https://github.com/HabitRPG/habitrpg/issues/4522#issuecomment-110843828 because it seems not so trivial at first glance:

articles ("a") of food and pets' names are not translatable in [content.coffee](https://github.com/HabitRPG/habitrpg/blob/develop/common/script/content.coffee#L1080) thus [pets.json feedPet string](https://github.co

[2015-07-17 22:14] Alys commented on #5638
@AegisOmega : hairlessbear is correct about what's most likely happening. You might also be seeing the Tavern in the list of guilds.

The Social menu is the best way to get to the Tavern and won't cause this error.

Since we're tracking this bug in the issue hairlessbear linked to, I'm closing this issue, but you're welcome to comment here if you have any questions.

[2015-07-17 22:14] #5638 closed, assigned to nobody

[2015-07-17 22:20] Alys commented on #5637
Please ask her to read this message:

Please go to your party chat page and click on Fetch Recent Messages, then look for any messages about damage from a boss. If they don't explain what happened, then take a screenshot of the page and paste it into a comment here. Also add your user ID (to find out how to get it, can go to Help -> Report a Bug and see step 6 for instructions).

[2015-07-17 22:31] Alys commented on #4534
@zumbibs There's no account with the User ID 5d2ced52-04a3-4e00-bf0e-78bc91a0a222.

The d0e8790d-35a2-49aa-8a31-2a752e7ec31a account has several tasks in it. It doesn't use facebook authentication; it uses your email address (z....@g.....). You can enter that email address in the "forgot password" form to receive an email with your username and password. Comment here if you need more help.

[2015-07-18 01:59] ghost commented on #4534
@Alys thank you so much! Seriously, thank you sooo much! It's alright! :)

[2015-07-18 02:09] carolstone commented on #4488
Well, I've issued a pull request. I was much too verbose explaining what I did. And I referenced this issue. Please accept my apologies - I think I was supposed to rebase before issuing the pull request, but this is so new to me, I stopped where I knew it was working. Please scrutinize my work. This is my first pull request ever. I've never written any jade or coffeescript before, and I've only do

[2015-07-18 02:37] carolstone commented on #5425
This appeared in the last upgrade. I'm going to close the issue. Thank you, all!

[2015-07-18 02:37] #5425 closed, assigned to nobody

[2015-07-18 04:01] Alys commented on #4936
@hairlessbear I understand about a large amount of blank space looking like a failed image, but I want just a small space for a bit of padding. I'd rather not include a message because I think the concept of "coming soon" is worse than "does not exist" - it's like we intended to make an image but never got around to it, which might well be true but let's not advertise it. :) Also the text in the i

[2015-07-18 04:49] hairlessbear commented on #4936
@Alys That all makes sense, and the example image looks much better than I was imagining. There will likely still be some confusion/bug reports, but probably not that many. And regardless, this is still much better than the current display.

[2015-07-18 05:42] isaact-d commented on #5615
Yes

[2015-07-18 08:45] ghost opened #5641 ""Can't send message to this user" - SOLVED"
A few days ago I receive a PM message from a user in my party, since then I cannot send anything to this user, the error message appear always I try "Can't send message to this user". The user confirmed he hasn't changed anything in his settings.

I have tried to send a PM to myself to check and that is working correctly.

Edit: Not a bug, I have blocked the receptor of the message accidentally.

[2015-07-18 10:56] Alys commented on #5641
It's likely that the user has either deleted their account or has opted out
of the PM system.

Try clicking on their name - if it tells you there's no such user, then
they've deleted their account.

If they've opted out of the PM system, there's nothing that can be done.
They've chosen to not receive PMs.

It's also possible that they've blocked PM  from you, maybe by accident.

Since they're in y

[2015-07-18 12:46] Alys commented on #2708
I'm closing this because I've never seen a report of it and it seems to have been handled appropriately.