[2016-03-22 23:36] Alys commented on #6941
It's confirmed that we won't accept work on this issue until version 3 of Habitica's API is released (release date is currently unknown). However we will add the Bounty Source plugin to this issue so that you can put money on it now if you still want to.

[2016-03-23 00:30] librarianmage commented on #4276
@Alys Where do I find the keys for the Skills?
On Tue, Mar 22, 2016 at 3:24 PM Ray Arndorfer raymond.arndorfer@gmail.com
wrote:

[2016-03-23 02:45] librarianmage commented on #4276
@Alys nevermind, I found them at https://github.com/HabitRPG/habitrpg/blob/develop/common/script/content/spells.js

[2016-03-23 04:00] anwilli5 commented on #6941
@Alys sounds great, thanks!  And from now on I'll be sure to go through Trello for new feature requests

[2016-03-23 09:24] #5906 closed, assigned to nobody

[2016-03-23 09:26] #6939 closed, assigned to nobody

[2016-03-23 11:35] Alys commented on #6815
I've cleared some of your history (tech details: the top-level `history` object). I'll do more on the weekend.

[2016-03-23 13:55] wisteriacs commented on #6815
😊😊😊 thank you so much!! I really appreciate it!

[2016-03-23 14:09] librarianmage opened #6947 "Spell / Skill misspelled"
General Info
- UUID: 95f16006-1504-4a9f-95b6-0c7314dbd7ee
- Browser: N/A
- OS: N/A
### Description

In habitrpg/common/script/content/spells.js, the spell name for the Healer's blessing is `heallall`. Should it be `healall`?
#### Console Errors

[2016-03-23 16:11] librarianmage commented on #2463
@Alys @crookedneighbor does this still happen?

[2016-03-23 16:20] librarianmage commented on #3648
@Alys @lemoness @crookedneighbor I can try going through this

[2016-03-23 17:10] librarianmage commented on #4015
Is this still a problem?

[2016-03-23 17:11] librarianmage commented on #4218
Hasn't this been done @Alys?

[2016-03-23 17:13] librarianmage commented on #2945
Are the static pages done?

[2016-03-23 17:13] crookedneighbor commented on #4218
No. It has been implemented for the inbox, not for posts in guilds/party/tavern.

[2016-03-23 17:14] librarianmage commented on #4218
Oh.

On Wed, Mar 23, 2016 at 12:14 PM Blade Barringer notifications@github.com
wrote:

[2016-03-23 17:14] crookedneighbor commented on #4015
Even if it is, I'm closing this as a "won't fix" since we're starting to plan for some changes to the UI.

[2016-03-23 17:14] #4015 closed, assigned to nobody

[2016-03-23 17:16] librarianmage commented on #4539
Is this able to be closed?

[2016-03-23 17:19] crookedneighbor commented on #6936
If you're using npm 3, it will not work with the `develop` branch. You should be using node v4.3.1 which comes packaged with npm 2.

[2016-03-23 17:22] crookedneighbor commented on #4539
I believe it is still an issue, but as we're going to make improvements to the ui soon, I will close it.

[2016-03-23 17:22] #4539 closed, assigned to nobody

[2016-03-23 17:33] librarianmage commented on #4539
Ok, thanks for the rest info! I really appreciate you letting me drag you
through history.
On Wed, Mar 23, 2016 at 12:23 PM Blade Barringer notifications@github.com
wrote:

[2016-03-23 18:46] mandyzhou commented on #4276
@Alys Re: the screenshot, would it make more sense to put the images directly to the left of the skill names in the white shaded areas instead of the grey shaded areas? Judging by the way Rewards are currently displayed (see below for reference), the images in the grey shaded areas should be related to currency (e.g., GP or MP), while the images in the white shaded areas should show the items/skil

[2016-03-23 19:23] librarianmage commented on #4276
@mandyzhou I think that is how I am currently planning on implementing this.

[2016-03-23 19:58] librarianmage opened #6951 "Social section (bottom of page) doesn't work"
General Info
- UUID: 95f16006-1504-4a9f-95b6-0c7314dbd7ee
- Browser: Chrome
- OS: ChromeOS
### Description

In the footer of most pages, the "Social" section is blank.

![screenshot 2016-03-23 at 2 35 34 pm](https://cloud.githubusercontent.com/assets/12386291/13998817/34b3ed54-f107-11e5-96e4-829f14e0868a.png)

The code of the footer section is:

[code]

[2016-03-23 20:08] librarianmage commented on #6951
As an aside, in `/website/views/shared/tasks/footer.jade`, there is:

[code]

which doesn't do anything.

[2016-03-23 20:21] librarianmage opened #6952 "Press Kit doesn't show changes"
General Info
- UUID: 95f16006-1504-4a9f-95b6-0c7314dbd7ee
- Browser: Chrome
- OS: ChromeOS
### Description

https://habitica.com/static/press-kit (which was changed in #6846) hasn't updated to reflect the changes. Were these not integrated yet?

[2016-03-23 20:24] librarianmage opened #6953 "Static Pages still reflect Bootstrap theme"
General Info
- UUID: 95f16006-1504-4a9f-95b6-0c7314dbd7ee
- Browser: Chrome
- OS: ChromeOS
### Description

The static pages (other than the front page) show the dark Boostrap theme. See https://habitica.com/static/press-kit for reference.

[2016-03-23 22:23] crookedneighbor commented on #6951
I beg to differ about the audio element:

https://github.com/HabitRPG/habitrpg/blob/e59f614568b61cd2de39f7cb5690b137abeab041/website/public/js/controllers/rootCtrl.js#L83-L90

[2016-03-23 22:24] crookedneighbor commented on #6952
It just hasn't been deployed yet.

[2016-03-23 22:24] #6952 closed, assigned to nobody

[2016-03-23 22:25] crookedneighbor commented on #6953
Can you point me to the PR or commit where this was supposed to be changed? Not sure that this is actually a problem.

[2016-03-23 22:25] librarianmage commented on #6951
Ohhhh! That makes more sense.
On Wed, Mar 23, 2016 at 5:23 PM Blade Barringer notifications@github.com
wrote:

[2016-03-23 22:25] librarianmage commented on #6952
Oops
On Wed, Mar 23, 2016 at 5:24 PM Blade Barringer notifications@github.com
wrote:

[2016-03-23 22:31] crookedneighbor commented on #6953
Going to close this, because I don't recall anything where we were moving away from the dark bootstrap theme for the other static pages, but feel free to re-open if you know something I don't. (quite likely)

[2016-03-23 22:31] #6953 closed, assigned to nobody

[2016-03-23 22:44] crookedneighbor commented on #6951
Loading for me on a Mac:

![screen shot 2016-03-23 at 5 43 09 pm](https://cloud.githubusercontent.com/assets/2916945/14003167/bf2fcd38-f11e-11e5-8ea6-340fe0dac922.png)

Might be a plugin you have installed or something specific to a chrome book. There are no javascript console errors?

[2016-03-23 22:57] crookedneighbor commented on #6668
Closed in #6668

[2016-03-23 22:57] #6668 closed, assigned to nobody

[2016-03-23 23:11] Alys commented on #4276
@mandyzhou Yes, good point.

[2016-03-24 01:49] librarianmage commented on #6951
I didn't see any...

On Wed, Mar 23, 2016 at 5:44 PM Blade Barringer notifications@github.com
wrote:

[2016-03-24 02:26] lemoness opened #6954 "List Featured Third Party Apps"
@Alys had the idea to highlight some of our favorite third-party apps:

"On the page where we list the UUID and token, we could have featured third-party apps: Beeminder, the Chrome chat extension, DDT, [and] link off to the wiki for others."

[2016-03-24 11:31] Alys commented on #2463
Frequently.

https://github.com/HabitRPG/habitrpg/issues/4313 for local storage (logging out clears that).

[2016-03-24 11:33] librarianmage commented on #2463
Ok! I guess I've never seen it.
On Thu, Mar 24, 2016 at 6:31 AM Alys notifications@github.com wrote:

[2016-03-24 11:34] Alys commented on #6951
The Social column is empty for me until I disable extensions, then if I reload the site, it shows the same ones from the screenshot above, and also Google Plus. I didn't bother trying to work out which extensions caused it, since there's likely a wide variety out there.

This isn't a Habitica bug, but I'm wondering if it's worth adding some text link(s) to the Social column so that there's somethi

[2016-03-24 11:35] librarianmage commented on #6951
Maybe its an adblocker
On Thu, Mar 24, 2016 at 6:35 AM Alys notifications@github.com wrote:

[2016-03-24 12:46] crookedneighbor commented on #6951
I don't think it's worth it to do anything. It's not an essential part of the site and it's specific to the extension settings (likely adblockers) that particular users have enabled. Someone re-open the issue if you feel strongly about it.

[2016-03-24 12:46] #6951 closed, assigned to nobody

[2016-03-24 14:56] JerseyEmerald opened #6957 "Unable to change class after using oracle of rebirth"
General Info
- UUID: 29c5340b-d150-4347-862c-fec571a18b8a
- Browser:
- OS:
### Description

I reached level 100 as a Rouge
I used oracle of rebirth
I hit level 10
I went to choose Warrior class
Saved it and went to the  Avatar status
screen
I was still a Rouge
I spent 3 gems to change class
It won't let me, my choice was Rouge or Healer
So I opted out
This was on my Chrome browser
Website
I reboot

[2016-03-24 23:08] Alys commented on #6957
Sorry about this, @JerseyEmerald! Habitica seems to give all its bugs to you. :(

Your account is showing now that you're a Warrior with the class system not disabled, so you should be seeing a mana bar and the four Warrior skills. Please tell me if that's not the case!

I've given you the three gems you spend to change class, as you described in this issue. Tell me if you had to spend more to get

[2016-03-24 23:22] JerseyEmerald commented on #6957
Guess this is what I get for always saying I have to be different  lol
When I went to the Avatar status screen,  I had to click on the name of the class, before it loaded the page to tell me about that class, I hit the back button and was able to choose my class..I know, weird right.
That's how I worked around it, I'll have to wait until I reach level 100 again to try it out!!
Thank you so much fo

[2016-03-25 00:16] #6957 closed, assigned to nobody

[2016-03-25 07:53] anaincoe opened #6959 "Cron hit me twice? And I died."
General Info
- UUID:
- Browser:
- OS:
### Description

[//](#): # (After nearly getting my first 21 perfect days achievements, today I lost my 19 perfect days' streak because I forgot to log in before midnight. I took serious damage, all my party took half of it, and I was really sad because today I worked like crazy thinking about that streak and all the XP i would get. But that's ok. Was my faul

[2016-03-25 08:05] Alys commented on #6959
I'm sorry about this! You and your party mates can restore lost health, gold, etc by going to Settings > Site > Fix Character Values on the website (http://habitica.wikia.com/wiki/Fix_Character_Values )

When you changed your Custom Day Start time (CDS), was it on the website or on the iOS mobile app?

The website's feature for changing CDS has some protection wrapped around it so that it tells yo

[2016-03-25 08:21] anaincoe commented on #6959
I did it on the website ^^ . I only use that or the android app, the most recent version.

In the settings > checking out my history, I couldnt find data for before the first reset, I think. I didn't have much time to check it all out before I changed my custom time settings and had to log out, but I'll check it again as soon as I can.

And it would be a great plus to see a log of the previous 20

[2016-03-25 08:31] Alys commented on #6959
When you changed the Custom Day Start time, do you recall if you saw a confirmation screen like this below?

![screen shot 2016-03-25 at 6 31 03 pm](https://cloud.githubusercontent.com/assets/1495809/14040908/c5b1e430-f2b7-11e5-9b61-b038430c5618.png)

If you saw it, do you remember what date and time it displayed for your next cron? It really should have warned you if cron was going to run again t

[2016-03-25 09:46] Elena2931 commented on #4252
Hello! Our party (Notorious Streakers) has completed the "Egg Hunt" quest but it seems no one received their rewards nor the achievement.
Group ID is  ba013cf5-859a-49ea-a933-3220c0efabde

Thanks for your help!

[2016-03-25 11:40] mornir commented on #6670
"When I mark one task as complete, another one above it immediately becomes marked incomplete."
OR
"When I mark task A as complete, another one above it immediately becomes marked complete instead of task A."

For me, it happens so often that I stopped checking off dailies in my web browser and now use the iOS app instead (which works fine).
I use Habitica only on one PC with Chrome. With Firefox,

[2016-03-25 11:51] Alys commented on #6670
@mornir When you notice that happening, please try logging out of Habitica and logging back in. It's likely that the problem is caused by corrupted local storage in your browser and logging out will clear local storage.

Using incognito mode works because the website uses a different space for local storage than without incognito.

[2016-03-25 12:20] KatAsh commented on #6670
Hi Alys, sorry I didn't reply before, but there was no way to get the issue to behave consistently enough that I could tell if it was browser specific. But logging out and in or refreshing made zero difference as I said in my first post. What does, as I discovered myself from trying to stop loss of level etc, is going into Rest at the Inn mode. There's never a problem ticking things off when I'm t

[2016-03-25 16:23] khipkin commented on #2373
I would like to work on this!  I really like the idea of a grid for achievements.

[2016-03-26 00:15] keysmashes opened #6961 "Clicking 'show stat allocation' button rapidly will desync text and collapse state"
General Info
- UUID: n/a
- Browser: Chrome 49
- OS: Ubuntu 14.04.3
### Description

The Bootstrap collapse will not toggle when partway through its animation. The button to show/hide it, however, changes its text on every click – if you double-click the show/hide button, you end up with this:

![image](https://cloud.githubusercontent.com/assets/9433472/14056708/85ac5764-f2e7-11e5-90a1-f75cf7bd0fc6

[2016-03-26 00:38] Alys commented on #6961
Confirmed. Thanks for the details and the link!

[2016-03-26 00:42] Alys commented on #2373
@khipkin Great! Thank you!

[2016-03-26 00:53] Alys commented on #6670
@KatAsh My recent logout advice was for mornir. It's likely to fix the problem for them since it does for most players who experience this. Can you see my post to you dated 27 days ago? I had some specific questions for you.

[2016-03-26 00:58] Alys commented on #4252
@Elena2931 I've given the achievement and eggs to your party. Reload if you don't see them. Please tell me if they don't appear after that!

[2016-03-26 01:54] citrusella opened #6963 "Unreliable sound when clicking Armoire"
General Info
- UUID: 2d6ef231-50b4-4a22-90e7-45eb97147a2c
- Browser: Firefox 45.0.1
- OS: Windows 7 Service Pack 1 (via Bootcamp on 2011 Macbook Pro, if that's relevant)
### Description

Sound (in LuneFox's theme at least) does not play reliably when clicking Armoire or Health Potion when it used to do so. Not sure if this is a bug or some sort of intended change (I'm leaning toward unintended bec

[2016-03-26 02:03] crookedneighbor commented on #6963
The sound now only plays when you have sufficient funds to purchase a reward/potion/armoire item. Are you experiencing something different?

[2016-03-26 02:03] crookedneighbor commented on #6963
Let me clarify, this is a recent change to make it so the sound only plays when you have sufficient funds (IE, the purchase was successful)

[2016-03-26 02:20] citrusella commented on #6963
I've been noticing this when I just (actually) get something from the Armoire. It's rare that I accidentally click when I don't have the funds to use it, and I can't consciously remember that occurring. It's certainly not the only time the sound's not playing.

So I believe it is different, because the sound is unreliable when I am indeed receiving the reward in question. (Though for what it's wor

[2016-03-26 03:56] Alys commented on #6963
From several tests, if I have anything up to 199 gold, it does not play a sound; if I have 200 or more it does. I.e., it does not play a sound when I have enough gold to use the Armoire but after I've used it, I do not have enough gold to use it again.

The same does not occur for other rewards.

I'm guessing that this is related to the recent change that prevents the sound playing when you don't

[2016-03-26 05:06] KatAsh commented on #6670
Hi Alys, I have it set up on one laptop only, a MacBook, and the browser is Safari. I could change browser but as I said it's so random that it might be days or weeks before I'd see the problem again -and that would mean me changing from a browser that I'm very happy with and that has never caused me any other problems for a problem I've now found a fix to.
Again, going incognito wouldn't necessar

[2016-03-26 10:54] ghost commented on #6933
@Alys 1. Thanks for mentioning it. OP edited to exclude the small font suggestion. 2. Thank you for linking to the other ticket. I like the idea of the achievements grid and I think it will look nice as well in the user profile modal. I believe this ticket maybe addressed **after** the #2373 is solved - to have it consistent.

Feel free to close this one for housekeeping reasons, but then I'll sug

[2016-03-26 10:57] Alys commented on #2373
@khipkin By the way, have a look at https://github.com/HabitRPG/habitrpg/issues/6933 "User profile modal looks messy with complete lists of challenges won and quests completed - add counters and show/hide buttons?"  You absolutely do not have to work on that one as well, and in fact it's probably best to handle it separately after this issue is finished, but I wanted to draw your attention to it i

[2016-03-26 10:58] Alys commented on #6933
@GitHubSphinx Good point, thanks! I've added the wait label, and dropped a note about this into #2373.

[2016-03-26 11:01] ghost commented on #6933
@Alys TY :ninja:

[2016-03-26 11:26] ghost commented on #62
@sujunmin you may want to apply to become one using [the Trello card](https://trello.com/c/SvTsLdRF/12-translations)

[2016-03-26 12:00] ghost opened #6966 "Make links to wikia translatable"
Raised by @Demoinho on Transifex regarding the string `spellsText`

The thing is https://github.com/HabitRPG/habitrpg/blob/develop/website/public/js/services/guideServices.js#L85 like a few other occurrences use the following pattern:
`<Beginning of the sentence> <link to wiki> <ending if any>`
which makes such lines sometimes tricky to translate.
##### We may want to have the lines with links to

[2016-03-26 12:15] Alys commented on #6966
Agreed and labelled. Thanks @GitHubSphinx !

[2016-03-26 13:14] crookedneighbor commented on #6966
:+1:

[2016-03-26 13:43] crookedneighbor commented on #6963
Probably a bug I missed when reviewing the sound change.

[2016-03-26 14:45] 105th opened #6967 "Max-width on "Additional Notes" in task card"
General Info
- UUID: a402c4dd-1f0d-44c8-a403-f86ce5046c39
- Browser: Yandex Browser 16.3.0.6920 beta (64-bit)
- OS: OS X El Capitan 10.11.3
### Description

This is normal condition.

![image](https://cloud.githubusercontent.com/assets/11395678/14060568/ef16fe6a-f379-11e5-9301-4fee18101f13.png)

But if i resize this window, it becomes very large.

![image](https://cloud.githubusercontent.com/asset

[2016-03-26 15:03] crookedneighbor commented on #6967
Can't reproduce in Chrome. Does the same behavior happen in other browsers?

Adding `max-width: 100%` shouldn't change anything, as the `width` attribute is already set to `100%`.

[2016-03-26 15:16] citrusella commented on #6963
Huh... that would explain why the time I know I definitely heard the sound was when I cheated my gold up to 300 to test it for this report. :sweat_smile: Would also explain why I usually don't hear it, because I'm one of those people who uses the armoire pretty much as soon as I have the funds. XD

[2016-03-26 16:10] Incendiaeternus commented on #4174
This just happened to our group, I waited a day for the Cron to go past, and nothing. This was after accepting the invite, and when I go back to check on the participants list, it only lists the quest starter, despite having accepted the invite in time.

ID: 1ff295e0-1f4c-4330-a04c-89e0e4ac1421

[2016-03-26 16:47] khipkin commented on #2373
Okay, so here's my plan, pulling from the discussion above.

_edit: moved to PR #7791_

[2016-03-26 19:57] khipkin commented on #2373
@Alys I'm not sure where the "Enable Class System" button should end up.

Right now, if the user has opted out of the class system, the button just randomly sits on top of the Achievements column:
![image](https://cloud.githubusercontent.com/assets/5641207/14062153/279eea7c-f36b-11e5-981a-cfa18f55ba11.png)

It would be weird if the button was potentially in a column all by itself on the new stats

[2016-03-26 20:07] citrusella commented on #6967
I can reproduce by dragging the corner in Firefox 45.0.1 on Windows 7.

[2016-03-26 20:16] crookedneighbor commented on #2373
It's related to stats, since you allocate your bonus stat points.

[2016-03-26 20:19] crookedneighbor commented on #6967
Oh, you're saying dragging the corner of the textarea, not the corner of the window. I misunderstood.

That would be fixed by using the resize property: https://davidwalsh.name/textarea-resize

[2016-03-26 20:45] khipkin commented on #2373
Hmm okay.  Maybe it could go near the "Attributes" part of the stats page?  Something like this:

![image](https://cloud.githubusercontent.com/assets/5641207/14062335/a01808d4-f371-11e5-817f-d13faaba787c.png)

[2016-03-26 21:37] Alys commented on #6967
I see this very much as a feature not a bug. The purpose of textarea corner dragging is to let the user make the textarea temporarily larger so that they have more space to view the text. It's fully under the control of the user - if they want it wider than the column, they can do that, if they don't, they can avoid dragging it too far sideways.

I think the only thing that needs to be fixed is th

[2016-03-26 23:04] Alys commented on #2373
I think "Enable Class System" could go at the top of the stats page. It doesn't take up much space and so won't be too annoying for those who never want to enable it. We get questions about how to reenable classes, so keeping the button in a very obvious position would be helpful.

I'm wondering if keeping "Stats" as the page name would be better than using "Character". "Character" seems vague to

[2016-03-26 23:21] Alys commented on #4174
@Incendiaeternus  I've added you to the quest. If it happens again for future quests, the quest owner can abort the quest. The quest scroll will go back into their inventory and then they can use it to resend the quest invitations.

[2016-03-27 00:24] khipkin commented on #2373
I think the most intuitive place for the "Enable Class System" button is on the settings page!

[2016-03-27 00:36] Alys commented on #2373
@khipkin [I respectfully disagree](https://github.com/HabitRPG/habitrpg/pull/3965) ;)

It used to be on the settings page but we received a lot of questions about how you could opt back in to the class system. The questions decreased when we moved it to the Stats page. I think it's helpful for users to be able to opt in to the class system from the same page where they opted out.

[2016-03-27 02:52] khipkin commented on #2373
@Alys Well, you can't argue with data!  Heh heh. :)

I'll leave the button where it is for now, in the left-most column, but it'll be all alone without the achievements.  I'll post screenshots.

[2016-03-27 03:39] Alys commented on #2373
Did you mean to type **right**-most column?

Putting it at the top of the **left**-most column is what I have in mind, and so it won't look alone there. In fact I should have put it there to begin with. I think I put it in the right-most column because that column was very short at the time. :-/

[2016-03-27 04:57] khipkin commented on #2373
@Alys Yeah I meant right-most. :disappointed: But changed my mind!  I agree that the left-most column, aka the stats part of the division, is better!

---

Surgery was a success!  The pages are now separate:

**Achievements page**
![image](https://cloud.githubusercontent.com/assets/5641207/14063887/5245bf30-f3b6-11e5-91a6-69b26b83b45f.png)

**Stats page (w/ classes disabled)**
![image](https://clo

[2016-03-27 05:07] Alys commented on #2373
It's looking pretty good!

[2016-03-27 05:08] khipkin commented on #2373
For the next step, I think the stats page should be shuffled around a bit so that the columns are of a more similar length and there's less wasted space on the right side, similar to how full the page was with the achievements column on the right.

Here's my vision:

First Column: (misc stats)
- Avatar Stats
- Equipment
- Pets
- Mounts

Second Column: (Class-influenced stats)
- _(if applicable)_ "

[2016-03-27 05:13] Alys commented on #2373
:+1:

[2016-03-27 05:39] khipkin commented on #2373
Maybe it would look better if the Character Build thing was in the middle?

---

**Stats page (w/ classes disabled)**
![image](https://cloud.githubusercontent.com/assets/5641207/14063997/472a5416-f3bc-11e5-98c0-cdccb4c954da.png)

**Stats page (w/ classes enabled)**
![image](https://cloud.githubusercontent.com/assets/5641207/14064006/adcc11a0-f3bc-11e5-9841-4100f0984ad4.png)

[2016-03-27 06:02] Alys commented on #2373
I think having Attributes in the middle works because then the first two columns are things you look at for reference, and you only look at the third column when you want to change something. But that's just my current opinion and I'm not strongly bonded to it.

[2016-03-27 17:02] khipkin opened #6969 "Console errors in develop (Cannot read property 'maxMP') -- profile._statsComputed is undefined"
I was working on another branch, and I noticed that there are console errors that didn't seem to be related to what I was doing.  So I checked out `develop`, got the most up-to-date changes, and restarted the server, and the console errors are still there!

[code]

It looks like [`+basicRow('mana', '{{statCalc.mpDisplay(profile)}}')` in basic-stats.jade](https://github.com/HabitRPG/habitrpg/blob/d

[2016-03-27 17:09] khipkin commented on #6969
Correction: `profile._statsComputed` is undefined.

[2016-03-27 17:30] surrealdog opened #6970 "Won a Quest - but instead of getting my rewards lost a level"
General Info
- UUID: d6ad2801-3f77-4201-9e00-b71f9d275d53
- Browser: chrome
- OS: windows
  ### Description

On 3/26,realizing my health was low, I purchased 15 health points with gold coins. When I logged in on 3-27, I got two messages: that I had died and lost a level, and that I had won the Laundromancer 3 quest. Indeed, I died and lost all my gold/xp, and was given none of my rewards for winni

[2016-03-27 17:38] khipkin commented on #6969
It looks like the jade file is processed multiple times before [this line](https://github.com/HabitRPG/habitrpg/blob/b948fc031f8b5979c47d016715b8b7774af86973/common/script/index.js#L197) is executed, so `statCalc.mpDisplay(profile)` fails a few times before eventually succeeding.

[2016-03-27 17:45] mornir commented on #6670
@Alys Thanks for your quick reply. Logging out of Habitica seems to have solved the problem.

[2016-03-27 18:04] ansh opened #6971 "Getting more money / gold by un-completing then re-completing tasks"
General Info
- UUID:
- Browser:
- OS:
### Description

Suppose I am on the habitica.com main page https://habitica.com/#/tasks and then I have 1 gold coin in my inventory, and I have 2 dailies that I have completed. If i uncheck those dailies I will not go into negative gold but stay at 00, now if I have a total of 5 dailies and i tick them all, I will get a lot more cash than before! This is craz

[2016-03-27 21:27] fallingallover opened #6972 "No "Accept the Basi-list Quest""
- UUID: 2af051d3-fef4-46fd-825b-1045dcc29656
- Browser: Version 49.0.2623.95 (64-bit) (Chromebook)
- OS: Chrome OS

Also play on iPad mini 3.  Doesn't work there either.
### Description

[//]: # My party leader sent me an invitation to join the Basi-list quest.  I never got it.  All my other party members got the invitation.

[2016-03-27 21:40] DrStrangepork commented on #6708
:camel:
That's a "bump".

[2016-03-28 01:49] Alys commented on #6708
app.css is a generated file, so it shouldn't be edited manually. The source files are under website/public/css/

Note that some of the site's css will come from third-party libraries installed under node_modules, and those also shouldn't be edited, since any changes you made would be overwritten the next time the libraries were updated, and they wouldn't be pushed to github since the node_modules

[2016-03-28 01:53] Alys commented on #6972
To fix this now, the party leader can abort the quest. The scroll will go back into their inventory for them to reuse. If they don't click the quest's "begin" button until after every active player in the party has accepted or rejected the invitation, then no one who wants to be in the quest will be left out (and if every party member accepts or rejects, the quest will start automatically - no nee

[2016-03-28 02:05] Alys commented on #6971
Thank you for letting us know about this, but "cheating" like that is actually not something we are worried about. :) Any "cheating" that a player might do affects only their own account, and the worst that can happen is that it reduces their motivation to earn gold by completing their real-life tasks.

I believe we don't let the gold go negative because in normal situations, negative gold doesn't

[2016-03-28 02:05] #6971 closed, assigned to nobody

[2016-03-28 02:14] Alys commented on #6970
There's a couple of possibilities for the death: Either the health potion was never actually applied to your account due to a [sync error](http://habitica.wikia.com/wiki/Sync_Errors), or you took enough damage from the quest boss to kill you after the health potion was applied.

When you die at the same time that a quest ends, then you do gain the gold and experience from the quest but lose it imm

[2016-03-28 02:14] #6970 closed, assigned to nobody

[2016-03-28 02:29] Alys commented on #6969
@khipkin Thank you for the investigation!

@paglias @crookedneighbor I don't know if this falls under something that will be / should be fixed by the API v3 rewrite, or fixed after it's finished?

[2016-03-28 08:04] 105th commented on #6967
@crookedneighbor Yep, i mean corner of the textarea.
@Alys I think, nobody wants to drag this area to the right-left, because it's just inconvenient. Or, you can allow them to change the size just inside the card unit (10-15 pixels), but not the entire screen.

[2016-03-28 08:14] Alys commented on #6967
@105th It's certainly inconvenient to drag right-left at the moment because that causes it to go under the next column. If we change the CSS so that the text area remains above the columns, it could be very convenient for some notes to be dragged out to a larger width.

Some of my tasks have long notes, and a wide view would definitely make them more readable (at the moment, I copy-paste the notes

[2016-03-28 08:52] paglias commented on #6969
This can be fixed now

[2016-03-28 08:55] Alys commented on #6969
@khipkin Would you like to work on this? If not, I'll mark it as "help welcome now" and advertise it in the Aspiring Coders guild.

[2016-03-28 13:32] rightless opened #6973 "Problem reseting account"
General Info
- UUID: b2b55607-9ed0-4195-b26e-9fbd1d00b760
- Browser: Opera
- OS: Windows 7
### Description

Good morning,
I reseted my account yesterday and my attributes continue the same, and i would like them to reset. Also i have a message that keeps showing from a previous invite to a quest that no longer is active.
#### Console Errors

Sorry if it didn't help, but i think it is it:

VM48 ext

[2016-03-28 13:34] DrStrangepork opened #6974 "Editing a challenge-based tag does not change the tag"
General Info
- UUID: 30983c37-52c3-415d-977c-38af6c7db91c
- Browser: Firefox 45
- OS: Windows 10
### Description

I created a challenge for my party and created a tag for it. After saving, I realized that I had used this same tag on a previous challenge, so I edited the challenge to modify the tag. After saving the update, the tag name remained the original tag name and stayed the original after s

[2016-03-28 13:37] Raeby opened #6975 "Reset account; Item still appearing as equipped."
General Info
- UUID: c3ed4204-7c14-4c3a-9a73-a5ac64710bd1
- Browser: Chrome Version 49.0.2623.108 m
- OS: Windows 10
### Description

I recently reset my account and one of the items that I was previously wearing (mask) is visibly still equipped to my character but doesn't exist in my inventory. I tried resetting the account again and it's still showing the mask as equipped.
#### Console Errors

[2016-03-28 13:41] Alys commented on #6975
Sorry about that! You'll find that mask available for purchase in your Rewards column and once you've bought it, you'll be able to unequip it (and re-equip it) as normal. On the website, you can go to Settings > Site and use the [Fix Character Values](http://habitica.wikia.com/wiki/Fix_Character_Values) button to give yourself the gold needed to buy it.

[2016-03-28 13:41] #6975 closed, assigned to nobody

[2016-03-28 13:44] Alys commented on #6973
I've deleted the quest invitation and attribute points. Please reload if you don't see the change immediately.

[2016-03-28 13:44] #6973 closed, assigned to nobody

[2016-03-28 13:54] rightless commented on #6973
Thanks, everything is fine now... and omg, you guys are fast as hell, i saw it like in Jim Carey's Bruce Almighty when he is tipping? hahahaha
Thanks again.

[2016-03-28 15:40] khipkin commented on #6969
@Alys this seems like an issue with the order of execution of different processes.  I wouldn't know where to even begin.

[2016-03-28 15:40] larewenevenstar opened #6976 "rollover glitch"
General Info
- UUID: da975ccc-2fd2-4e97-9da8-cfcc269c008b
- Browser: safari
- OS:  mac os X el captain
### Description

i completed all my dailies yesterday, but then when it rolled over to the new day, it said that i'd missed all my dailies from the previous day, and i lost all my health and all my gold. this is the first time this has happened since i complete all my dailies every day, so i lost

[2016-03-28 16:32] ghost opened #6977 "Confusing Transifex team management structure"
**The issue**: Confusing Transifex team management structure: 3 projects, each having its own team and language sub-teams

**Link**: a point from #6480 (Inactive translators on Transifex), preferably being discussed before addressing the issue of defining requirements for translators applying to become reviewers.

**Main question**: Do you think we need to separate the reviewers and coordinators o

[2016-03-28 21:03] crookedneighbor commented on #6977
1 team with 3 projects makes the most sense to me. Honestly didn't realize it was 3 teams until just now.

[2016-03-28 21:50] ghost commented on #6977
As far as I'm concerned, being a reviewer for a project without having access to the test platform isn't that much of a con, as it allows me to sync my corrections in all projects at the same time. Quite often, correcting some words on one project affects the others ; being a reviewer to all projects allows me to stay consistent across the platforms.

[2016-03-29 03:21] librarianmage commented on #6967
If this will be done before the UI project, I can try my hand at this!

[2016-03-29 03:24] librarianmage commented on #6966
I can try this!

[2016-03-29 03:25] librarianmage commented on #6954
I'll be happy to do this!

[2016-03-29 03:26] #6947 closed, assigned to nobody

[2016-03-29 03:36] crookedneighbor commented on #6947
Meant to comment on this. It is misspelled, but we can't change it because it would be backwards incompatible.

[2016-03-29 03:38] librarianmage commented on #6947
That makes more than enough sense! Thanks.
On Mon, Mar 28, 2016 at 10:36 PM Blade Barringer notifications@github.com
wrote:

[2016-03-29 03:38] Alys commented on #6976
I'm sorry about that! Changing your Custom Day Start time (CDS) can cause cron to run early (although if you do it on the website, you'll see a confirmation screen that tells you when cron will next run). Timezone changes can also cause unexpected crons, and that with a CDS change at the same time could be unpredictable. :(

It is also possible that you were affected by [this bug](https://github.c

[2016-03-29 03:38] #6976 closed, assigned to nobody

[2016-03-29 03:39] Alys commented on #6969
@khipkin No worries. :) Thanks for letting us know!

[2016-03-29 03:45] Alys commented on #6815
@wisteriacs I'm sorry, I didn't have a chance to make much progress on this. The remaining history is in nested attributes within each task so a simple database command can't be used to clear them (if anyone disagrees, I would love to hear from you!). I'll need to write a small script to clear out the history but I probably won't have time until Sunday or next week.

[2016-03-29 08:16] imafable opened #6980 "Huge cursor lag when typing in chat box for guilds and parties on website"
General Info
- UUID: 5468b1fe-d50a-4180-9b99-14105a1941b4
- Browser: Chrome
- OS: Chrome Android and Windows 7
### Description

Whenever I access Habitica on PC or on Chrome on my mobile I can't really type efficiently. The cursor lags big time. It takes 3-5 seconds for what I've typed to appear in the box. That being said I prefer chatting via the Android App since this doesn't happen.
#### Conso

[2016-03-29 08:23] Alys commented on #6980
@imafable Thank you for reporting this, but we have it recorded at https://github.com/HabitRPG/habitrpg/issues/6462 so I'll close this now.

If you do want to chat on the website, you might like to type your message first into a text editor and then paste it in. Pasting is instantaneous. Also, the [Chrome Chat Extension](http://habitica.wikia.com/wiki/Chrome_Chat_Extension) is an excellent tool an

[2016-03-29 08:23] #6980 closed, assigned to nobody

[2016-03-29 16:10] SabreCat commented on #6967
I don't think there's any harm in fixing this up now! A UI overhaul is a couple months out at the earliest. Assuming e.g. @MathWhiz isn't sad if the fix does become moot later this year, heh.

[2016-03-29 17:03] larewenevenstar commented on #6976
hi there,

 i don't think it was that other bug, though that has happened to me a couple of times, i'm pretty sure it was to do with the timezone change.
but is there any way to get back the gold i lost? since it works at as most of the gold i've earned since i joined the site, apart from the small amount i've spent on weapons, armour and armoires. i think there was at least 20k in there, if not m

[2016-03-29 17:29] librarianmage commented on #6967
I would not mind in the least!
On Tue, Mar 29, 2016 at 11:11 AM Sabe Jones notifications@github.com
wrote:

[2016-03-29 18:40] kimsey0 opened #6982 "Background clipped in intro tour To-Dos task column"
General Info
- UUID: f2178945-ef3c-4896-96c0-81fad2f0313f
- Browser: Firefox 45.0.1
- OS: Windows 10
### Description

The background on the To-Dos task column shown during the intro tour is clipped if you add multiple to-dos. The relevant `div` element has classes `task-column todos tour-step-backdrop tour-intro-element tour-intro-1-element`, and has `background: inherit` from the `tour-step-backd

[2016-03-29 19:13] kueb opened #6983 "Quest is not starting even though everyone accepted"
General Info
- UUID: 54455f1b-c34e-4d3c-ad08-4b0e80d5a7ab
- Browser:
- OS:
### Description
#### Console Errors

[2016-03-29 20:17] crookedneighbor commented on #6983
Please provide your user id. Without that, we can't investigate.

[2016-03-29 20:18] ghost commented on #6983
You're going to need to fill in some information -- your UUID is under Settings-API on the website and under Settings -> Account details in the app.  They may also want your Party ID (on the website at the bottom of the left-hand column). Also, did anyone leave/join the party?

[2016-03-29 20:20] kueb commented on #6983
I just did.

[2016-03-29 20:28] kueb commented on #6983
and here is my party's id 0f1c6d6e-ea28-4c5a-bde5-853da4e756e5
well I even deleted the other invitations just in case but quest isnt starting for hours.

[2016-03-29 20:35] Alys commented on #6976
Yes, see the Advice section near the top of [that bug report](https://github.com/HabitRPG/habitrpg/issues/4313). Points 1 and 2 will help you recover from the unfair damage even if it wasn't that bug that damaged you. That includes getting your gold back.

[2016-03-29 21:01] Halrandir commented on #4252
Hi, my party completed the Egg Hunt Quest a few days ago and I didn't receive the reward eggs or badge. It appears everyone else in the party did. I tried waiting for the daily reset, logging out and back in, and a few other things, but nothing worked.

My user ID is - 4f9e45e0-9842-4189-9f66-a21fee054106

User ID of party leader who did receive the reward and badge - 17ead172-347d-4148-9791-6f81c

[2016-03-29 21:41] Alys commented on #6983
One problem is that one user (sw agger) either left the party or was removed before accepting or rejecting the quest invitation - that's why the quest isn't starting automatically. Also it looks like the person who started the quest is no longer in the party, so there's no one who can force-start it. I'm about to delete the quest from the party. Reload the party page in five minutes and you'll see

[2016-03-29 21:41] #6983 closed, assigned to nobody

[2016-03-29 21:54] Alys commented on #4252
@Halrandir
I've given the achievement and eggs to you. Reload if you don't see them. Please tell me if they don't appear after that!

[2016-03-29 22:35] Halrandir commented on #4252
@Alys Thanks so much! It all is showing now. :)

[2016-03-30 01:29] wisteriacs commented on #6815
Thanks for letting me know! Sad it's such a pain, and I hope it works.
(Honestly, I become a subscriber way back when to ease my guilt about how much I worried my account was hogging the servers-- apparently with good cause. But I found the incremental HabitRPG tasks so valuable in managing my life and my ADHD that I couldn't bring myself to ax most of them. If I need to bounty this or something i

[2016-03-30 03:27] kueb commented on #6983
alright. Thank you very much :)

[2016-03-30 14:20] #6776 closed, assigned to nobody

[2016-03-30 19:25] #6515 closed, assigned to nobody

[2016-03-30 20:29] lonealchemist opened #6987 "Laundromancer Quest Participation Bug"
General Info
- UUID: 2c9105c1-bf5e-467c-a97c-386120d9f16d
- Browser: Chrome
- OS: Windows 10
### Description

Hi! This issue involves both the phone and the computer, so I'm not sure where it best fits. I hope that it is here :).

My party is having an issue with the quest participation in the Laundromancer. GoblinClan initiated the quest, and an e-mail was sent out. I went to accept it on my iPho

[2016-03-30 22:16] Alys commented on #6987
@lonealchemist Thanks for all the details and screenshots!

Could you please ask GoblinClan if e clicked on the "Begin" button at the bottom of the quest box? If e did, approximately when did e do so -- e.g., immediately after using the quest scroll to send invitations, or a few hours later, or...?

Also, could you please look on the iPhone app again and tell me if it still says "4 Participants" j

[2016-03-30 22:56] lonealchemist commented on #6987
GoblinClan doesn't remember, unfortunately. As for the participants, I took that picture right before I sent the request. I checked again and it still shows that there are 4 participants. Thanks :)!

[2016-03-30 23:02] keysmashes commented on #6867
@cdouglass Are you totally set on using Vagrant to run Habit locally? I couldn't get it to work either, but getting it running on a [Cloud9](https://c9.io) container (following the Unix instructions) was pretty easy, and much of the work (like installing Node and Mongo) is actually done already!

I did have to tweak a few things to get it to work, like starting Mongo with a [specific script](https

[2016-03-31 03:43] Alys commented on #6987
I think it's likely that GoblinClan would have clicked the "Begin" button before you and the other party members had a chance to accept the invitation. That would explain the behaviour you describe, although it's possible there is also a bug that caused it.

The "Begin" button is intended for only situations where some party members do not reply to the invitation promptly, and it will cause the qu

[2016-03-31 20:18] zefisio opened #6991 "I am a subscriber, but I am not receiving the mystery items"
Hi,

My USER ID is babf1497-3bf6-46d9-b1c3-a16fe7113a9c

I am not receiving my mystery items around 2 or three months.
I have subscribed to habitica in December (12 months subscription). However, the subscription goes automatically to the auto-renew. So, I canceled it in paypal. After that I stopped receiving gems.

The gems called my attention first, and I started to get them again after complain

[2016-03-31 20:35] GoblinClan commented on #6987
I approve of adding the whole party to the quest. Sorry :(!

[2016-03-31 23:00] MerlinFisher commented on #6983
Similar problem in my party: a former party member started a quest, then left the party.  All remaining members have accepted but the quest won't start and we can't abort.  Please fix.

Party ID:  e6e9e187-0d39-4774-8a70-5d5e03d5d3a2

thank you.

[2016-04-01 00:21] Redmega commented on #6966
@MathWhiz Any progress?

[2016-04-01 00:31] librarianmage commented on #6966
@Redmega Not yet (on vacation). I will, however, look into it ASAP.

[2016-04-01 07:03] si-luetta commented on #6854
Hello! I have a problem with gems too. I tried to bought gems (with help of "PayPal") two times (20 March and today). But i didn't receive them though payments were done. What should i do?

[2016-04-01 07:38] Alys commented on #6854
Hi @si-luetta Please forward your purchase receipt to admin@habitica.com and include
your User ID. To learn how to find your User ID on website or app, see step 6 of the [Report a Bug](https://github.com/HabitRPG/habitrpg/issues/2760) instructions (also available from Help > Report a Bug in the Habitica website's menu).

[2016-04-01 08:00] meganstrickland opened #6994 "cannot "Copy message as To-Do" from the Inbox"
General Info
- UUID: 73e5125c-2c87-4004-8ccd-972aeac4f17a
- Browser: Chrome (49.0.2623.110 m) and Firefox (40.0.3)
- OS: Windows 7
### Description

The "Copy message as To-Do" feature does not work from the Inbox. It works in the Tavern (and I assume guilds, etc.), but in the Inbox there is no confirmation dialog. I see the same behavior in both Chrome and Firefox.

[2016-04-01 08:03] Alys commented on #6994
Confirmed. No javascript console messages. The button does literally nothing (except for the on-hover explanatory text).

[2016-04-01 09:03] si-luetta commented on #6854
@Alys , thank you!

[2016-04-01 11:17] Redmega commented on #6994
If nobody picks this up by tonight I'd like to give it a go

[2016-04-01 12:34] #6972 closed, assigned to nobody

[2016-04-01 12:39] Alys commented on #6987
No worries, @GoblinClan! It could have happened by a bug.

I've added the whole party to the quest.

If any of the party members don't do damage to the quest boss on the next time their cron happens, please comment here! I'm closing this now but we'll still see your comments and keep helping you.

[2016-04-01 12:39] #6987 closed, assigned to nobody

[2016-04-01 17:12] GrayDays opened #6997 "Skeleton snake mount misaligned with avatar and background"
As seen here: http://i.imgur.com/A2fdgbr.jpg http://i.imgur.com/ItEiQdI.jpg

The skeleton snake mount appears to be floating above the ground with my avatar floating above it in one screenshot, and in the other it's tangent with the scenery instead of resting in the open space on the ground. I haven't raised any of my other snakes to mounts yet to test if this is also an issue with those that yet

[2016-04-01 17:43] librarianmage commented on #2945
@Alys Do you know the status of this?

[2016-04-01 18:38] MerlinFisher opened #6998 "Frozen quest status after party member left"
As other members have reported (in closed issues), we had a party member who initiated a quest, but that person then suddenly switched to another party, and now our quest status is frozen.  We've all "Accepted" but the quest will not start and we cannot abort either.  I complained about this in Tavern and was told to report it here on Git.

Party ID:
e6e9e187-0d39-4774-8a70-5d5e03d5d3a2

p.s.  The

[2016-04-01 18:58] crookedneighbor commented on #6998
Can you elaborate what you mean by "broken"? I'm not having any trouble getting to it.

[2016-04-01 19:05] crookedneighbor commented on #2945
The static pages are done.

[2016-04-01 19:08] librarianmage commented on #2945
I can work on the footer, then.
On Fri, Apr 1, 2016 at 2:06 PM Blade Barringer notifications@github.com
wrote:

[2016-04-01 20:33] thebat137 commented on #6882
Just wanted to mention that I was having this same problem for a few weeks with the "Sticking to your Resolutions" challenge, until today.  I  tried the "checking off a task" trick on several occasions to no avail.  The only thing that I did differently today (AFAIK) is that I deleted the challenge tag first before checking off the task this time.  Is that supposed to be part of the trick?

[2016-04-01 22:36] Alys commented on #6997
Below is one with flesh. The skeleton mounts are placed in the same position as the other mounts of the same breed, but because they have less flesh, they can look as if they're positioned differently. It's not so obvious with most mounts because their legs still reach the ground, but it's more obvious with snakes and snails. Think of it as invisible flesh. :)

![screen shot 2016-04-02 at 8 33 04

[2016-04-01 22:54] Alys commented on #6998
@MerlinFisher The quest owner (Lorna) is still in your party. That person will see "begin" and "cancel" buttons at the bottom of the quest box and can use them to start the quest or remove it (the cancel option allows the quest scroll to remain in their inventory). Can you please ask Lorna to click on one of the buttons? If they don't appear, please ask her to put a screenshot of the quest box int

[2016-04-01 23:05] Alys commented on #6882
@thebat137 No, I think that was probably just coincidence. The challenge tag isn't connected with the tasks in a way that would help to delete them. Success in deleting them might depend to some extent on how busy the server is at the time, so it can be variable. But thank you for asking!

[2016-04-01 23:08] thebat137 commented on #6882
Huh.  Has anyone had any luck tracking down the source of this bug?  I seem to get hit with it every single time I join a challenge (although this has been the worst so far), and it is kind of frustrating.

[2016-04-02 00:09] Redmega commented on #6994
I've got my local environment set up and running, I'm looking into this now.

[2016-04-02 00:11] Alys commented on #4011
@Anysia I'm sorry we never replied to this. It would have been because we had no idea what might have caused it. I'm hoping it was just a once-off glitch. The code has changed quite a lot since then (and there's bigger changes coming up soon from an API rewrite), so if there was something that caused it, it's probably gone now or will be soon. We can reopen this if it happens again.

[2016-04-02 00:11] #4011 closed, assigned to nobody

[2016-04-02 00:12] Alys commented on #4426
I'm closing this since the code has changed a lot since it was logged and will soon change even more with API v3, but feel free to reopen if this is still valuable.

[2016-04-02 00:12] #4426 closed, assigned to nobody

[2016-04-02 02:10] Redmega commented on #6994
Still performing root cause analysis but it looks like from a cursory look the copyToDo method is never being hit on click of the inbox "Copy to Todos" button. I don't know enough about angular to fathom why, though.

[2016-04-02 02:21] Alys commented on #6994
@Redmega Maybe the method is in a scope that isn't being used for the code that does the inbox?
`throws buzzwords around while trying to look intelligent and knowledgable`

[2016-04-02 06:11] Alys commented on #6959
@anaincoe I'm closing this now but if you'd like more help, see my questions from my previous post, and let us know if there's any other information you can give us.

[2016-04-02 06:11] #6959 closed, assigned to nobody

[2016-04-02 06:13] Alys commented on #6922
@harleyalexander I'm closing this now but if you'd like more help, see the questions from my previous post, and let us know if there's any other information you can give us.

[2016-04-02 06:13] #6922 closed, assigned to nobody

[2016-04-02 06:19] Alys commented on #6879
Closing this because we confirmed that this rash of cron problems was from the Habitica mobile app not picking up the new time zone correctly and viirus, our mobile dev, tracked it down to a problem in the Android API. The app was updated.

[2016-04-02 06:19] #6879 closed, assigned to nobody

[2016-04-02 06:26] #6820 closed, assigned to nobody

[2016-04-02 06:34] Alys commented on #4450
I don't think this happens any more. Reopen if I'm wrong.

[2016-04-02 06:34] #4450 closed, assigned to nobody

[2016-04-02 06:38] Alys commented on #4572
Since this was logged, we've seen other examples of #4313 (local storage bug) where significant changes were held back by the browser and then applied after cron, so I think that's what was happening here. We haven't seen anything else that could cause this.

[2016-04-02 06:38] #4572 closed, assigned to nobody

[2016-04-02 07:03] Alys commented on #6991
Sorry about that! The dateTerminated value was in the wrong format, which was preventing the scripts that give you mystery items from working for your account. I've placed the four missing items into your Equipment page.

[2016-04-02 07:03] #6991 closed, assigned to nobody

[2016-04-02 07:11] Alys commented on #2945
@MathWhiz Note that this issue is marked as "suggestion-discussion". Nothing has been decided yet and there's no approval to proceed from the staff.

[2016-04-02 07:35] Alys commented on #6974
I'm not sure if it's desirable for a challenge owner to edit a challenge's tag after the challenge has been created.

It might be the API that is buggy for allowing the tag to be edited.

Once a player has joined a challenge, the tag is under the control of the player. While still being in the challenge, a participant can edit or delete the tag, or use it for other tasks. Challenge tags are basica

[2016-04-02 07:45] Alys commented on #4497
I'm pretty sure this is fixed. I can't replicate it. Closing. Reopen if I'm wrong.

[2016-04-02 07:45] #4497 closed, assigned to nobody

[2016-04-02 08:00] Alys commented on #4535
I've linked to this issue in the top comment in https://github.com/HabitRPG/habitrpg/issues/2565 ("perfect day is awarded if all Dailies are unticked Grey Dailies, or there are no Dailies") so I'm closing it now. No point having two issues open.

[2016-04-02 08:00] #4535 closed, assigned to nobody

[2016-04-02 09:25] Alys commented on #6882
@thebat137 We know that's it caused by the server timing out before it's able to finish all of the actions required to close a popular challenge that involves a large amount of users' accounts, all needing to be modified. We're modifying the server code to make various actions more efficient, which should help with problems like this.

[2016-04-02 12:17] kimbellina commented on #4475
Hello! On March 31, I was emailed the receipt for my 3rd consecutive month via the recurring subscription plan. As of April 2, I haven't yet received a mystic hourglass, and my settings page shows "Consecutive Months: 2". I've attached a screenshot of my inbox to show the three consecutive month receipts:

![screen shot 2016-04-02 at 8 04 00 am](https://cloud.githubusercontent.com/assets/6069617/1

[2016-04-02 12:22] Alys commented on #4475
@kimbellina When you buy a month by month subscription, you get the Hourglass and increased gem cap at the end of every three-month period. Yours will arrive around the end of April. If you'd like to read more about the benefits, the wiki's [Subscription](http://habitica.wikia.com/wiki/Subscription) page has a lot of detail. Ask again in the Tavern or at Help > Ask a Question or here if you have f

[2016-04-02 12:22] #4475 closed, assigned to nobody

[2016-04-02 14:34] zefisio commented on #6991
Thank you!
On Apr 2, 2016 4:03 AM, "Alys" notifications@github.com wrote:

[2016-04-02 14:51] ghost opened #7005 "No official requirements for becoming a translation reviewer on Transifex"
**Issue**: it may be a bit misleading that Transifex translation team doesn't have requirements for translators wanting to become reviewers.

**Links**: one of the aspects from https://github.com/HabitRPG/habitrpg/issues/6480, while waiting for consensual decision for https://github.com/HabitRPG/habitrpg/issues/6977

**Suggestions summary**:
1. Define requirements for reviewers on Transifex
2. Mak

[2016-04-02 15:10] GitHubSphinx commented on #7005
P.S. I'm not feeling quite well right now due to catching spring-inspired cold, sorry for typos and illogical phrases

[2016-04-02 16:34] librarianmage commented on #2945
Derp. My bad.
On Sat, Apr 2, 2016 at 2:11 AM Alys notifications@github.com wrote:

[2016-04-02 20:26] thirdtruck opened #7006 "Unable to leave party"
General Info
- UUID: 2ebb7eab-6306-4055-af27-db70b4b36bad
- Browser: Chrome Version 49.0.2623.110 (64-bit)
- OS: Ubuntu Linux
### Description

Howdy. Clicking the `Leave` button under my current party has no effect; I'm unable to leave the party. I get an error in the console instead.

It appears related to https://github.com/HabitRPG/habitrpg/issues/6279. Clearing the browser cache, the local sto

[2016-04-02 20:49] Alys commented on #7006
Can you please reload the party page (that part is important!) and then try leaving again?

[2016-04-02 20:54] thirdtruck commented on #7006
No luck. :frowning:

[2016-04-02 21:32] Alys commented on #6279
Another instance of this was reported in https://github.com/HabitRPG/habitrpg/issues/7006

UUID: 2ebb7eab-6306-4055-af27-db70b4b36bad
GID: 1ea8c09b-8a24-44bd-98f4-bdc5e92f8707

[code]

[2016-04-02 21:33] Alys commented on #7006
I've removed you from the party and I've copied the details of this issue to #6279 to keep it all in one place. If you reload now, the party should be gone but tell us if it isn't.

[2016-04-02 21:33] #7006 closed, assigned to nobody

[2016-04-02 21:34] Alys commented on #4604
This has been fixed.

[2016-04-02 21:34] #4604 closed, assigned to nobody

[2016-04-02 21:40] Alys commented on #3062
I'm closing this because we renamed the button to be "delete completed". I believe it always was meant to be a delete button but was just misnamed.

If we decide that we need a button to "archive" To-Dos faster than they normally are, we could open a new issue to avoid confusion from this old one.

The sorting bug mentioned above was fixed too.

[2016-04-02 21:40] #3062 closed, assigned to nobody

[2016-04-02 21:40] #4076 closed, assigned to nobody

[2016-04-02 23:16] Hus274 commented on #3453
I think I've figured out a way to fix this issue if it's still a problem. Ended up inserting a newline between the two lines as that seemed to be agreed upon above but that can easily be modified.

[2016-04-03 00:23] Hus274 commented on #6961
I don't see the show stat allocation button on the stat page currently.

[2016-04-03 00:25] crookedneighbor commented on #6961
It's in the level up modal.

[2016-04-03 00:26] Hus274 commented on #6961
Got it, thanks!

[2016-04-03 01:00] thirdtruck commented on #7006
All good now. Thanks!

[2016-04-03 03:07] Alys commented on #6998
@MerlinFisher I'm closing this now since we aren't aware of any bugs that would prevent Lorna from starting the quest, but if Lorna does have trouble, you can post here again - see my comments from my previous post if that's necessary.

[2016-04-03 03:07] #6998 closed, assigned to nobody

[2016-04-03 10:02] ghost commented on #6977
A quick update: I won't be able to do it myself as a team manager (not enough rights), as [Transifex documentation](http://docs.transifex.com/introduction/) has been updated to include:

and on [Teams](http://docs.transifex.com/features/teams/)

So if the suggestion is approved, we'll need the help of an admin on Transifex organization to unassign Android and iOS projects from their own teams and

[2016-04-03 18:12] Hus274 commented on #6961
Changing this dialog from a collapsible element to one that uses ng-show takes care of this issue. The only change in functionality from the user perspective (outside of fixing the bug) is it no longer has a slow open effect where the table slides down to be displayed. Now it just appears. Does this work?

Example:
Old Collapse Style - http://i.imgur.com/iKqar66.gif
New ng-show style - http://i.st

[2016-04-03 19:30] ghost opened #7014 "Subscription not expiring at the end of a 12 month plan"
### General Info
- UUID: a75eb6f8-5a29-482f-a971-7aff7438da86
- Browser: Firefox 45
- OS: Ubuntu 15.10
### Description

I paid a 12 months subscription, as far as I can remember somewhere around the end of February 2015. It should have been automatically renewed at the end of February this year. Except my credit card informations changed last year, and I didn't changed them on Paypal because I don

[2016-04-03 20:53] Alys commented on #7014
Thank you for asking about this!

This is PayPal's expected behaviour. When an ongoing payment fails, PayPal keeps track of the failures. Later, when it is able to take money from your bank account or credit card again, it will make those payments. Your subscription continues uninterrupted while this happens.

All you need to do is add a new credit card or bank account to PayPal.

Could you please

[2016-04-03 21:16] ghost commented on #7014
Okay, so I've updated my card informations on Paypal.

But this seems to me like a strange behaviour, as it looks I could have continued to be considered a subscriber, although not being charged for it. I somehow expected a notification on Habitica stating that something went wrong.

[2016-04-03 23:06] lonealchemist opened #7016 "Am a subscriber but not receiving the mystery items"
General Info
- UUID: 2c9105c1-bf5e-467c-a97c-386120d9f16d
- Browser: Chrome
- OS: Windows 10
### Description

Hi! I subscribed to Habitica in March but have not seen the mystery item appear in my inventory. I saw a similar issue posted a couple of days ago, but it was closed/resolved (not sure if I should have posted under that one as well).

Thanks for your help!
#### Console Errors

[2016-04-03 23:09] GoblinClan commented on #7016
I am having the same issue as well. I also subscribed in March but have not seen the March mystery item appear in my inventory. My UUID is 38c8d533-51c2-471f-bd3b-fada4ad8b6ac. Thanks!

[2016-04-03 23:42] lonealchemist commented on #7016
I looked at my subscription settings and it does not say that I am a subscriber; however, when I checked my credit card statement, I was charged on March 20th for a 1 month plan (5 / month). It's the same instance with GoblinClan, who is a family member.

[2016-04-04 01:42] nrbunn commented on #6994
@Redmega I wanted to see if I could solve this problem as well. I believe i have a fix but i don't want to steal your issue. Give you a hint to **Part** of the problem. There is a missing`ng-controller='ChatCtrl'`

[2016-04-04 02:36] Redmega commented on #6994
@Sinble Thanks for the tip. Been reading into angular so not having that ChatCtrl controller attached would cause it to not be able to talk with the controller layer, right? So it doesn't even know what the copyToDo function is...

Guessing there's more to it than just adding the ng-controller attribute, though, since you're saying thats only _part_ of the problem. You can go ahead and solve this,

[2016-04-04 09:43] Alys commented on #7014
Thanks very much @Blablux ! I've noted that on our list of changes to consider for the back-end subscription processing.

[2016-04-04 12:43] Alys commented on #7016
@lonealchemist There's no indication in your 2c9105c1-bf5e-467c-a97c-386120d9f16d account that you are a subscriber. Please email your subscription receipt to admin@habitica.com and include your User ID. We'll get that sorted out for you!

@GoblinClan Your account also is not showing a subscription. Please email your receipt to admin@habitica.com and include your User ID and this issue's URL: gith

[2016-04-04 12:43] #7016 closed, assigned to nobody

[2016-04-04 15:58] CBXZero commented on #3453
@Hus274 that's what my fix was, I was having trouble testing it on my machine though, happy someone else got it working :)

[2016-04-04 19:29] #6997 closed, assigned to nobody

[2016-04-04 23:30] Hus274 commented on #3453
@CBXZero yeah that was my bad. I must have missed that post going through, all I saw was the last one where you said it wasn't giving the desired behavior so I missed that you had a version working :p

[2016-04-05 03:11] CBXZero commented on #3453
@Hus274 I'm having difficulties actually getting the test-server to run again for a final test (was able to get it to work once, now I'm not able to spin up the local instance), if you want to make the pull request that would be awesome :)

[2016-04-05 03:14] Hus274 commented on #3453
Yep! It should be attached to this issue before your last comment: https://github.com/HabitRPG/habitrpg/pull/7013

[2016-04-05 04:58] gregory-marton opened #7021 "Initial greater-than in checkbox item or extra notes renders funny."
General Info
- UUID: I don't expect you actually need this for this particular bug, but will provide if requested.
- Browser: Chrome
- OS: OSX El Capitan

[code]
### Description

A greater-than sign as the first non-whitespace character in a checklist item or in the extra notes field renders as a tall thin gray box to the left of the item.
<img width="279" alt="screen shot 2016-04-05 at 12 34 10 a

[2016-04-05 05:05] Alys commented on #7021
This is intended behaviour and doesn't indicate a security problem.

It's happening because text entered into tasks, including checklist items (and chat messages and some other places) can be formatted with markdown. The greater-than character is a marker for a blockquote.

You can learn about the most common markdown formatting codes on the wiki's [Markdown Cheat Sheet](http://habitica.wikia.com/

[2016-04-05 05:05] #7021 closed, assigned to nobody

[2016-04-05 05:17] gregory-marton commented on #7021
Interesting. Thanks.

Also looked into the mixed content a little. It's mixed passive content (attempting to render an image) even though it links to html (and therefore is appears as a broken image). I'm not sure that it's impossible to ask for insecure active content to be loaded, but this is not an instance of that.

<img width="284" alt="screen shot 2016-04-05 at 1 05 10 am" src="https://cloud

[2016-04-05 05:32] Alys commented on #7021
If you do find a way to make it load insecure active content, we would love to know! Emailing it to admin@habitica.com would be best. :)

[2016-04-05 13:56] #6967 closed, assigned to nobody

[2016-04-05 14:01] #3453 closed, assigned to nobody

[2016-04-05 14:19] louceiro opened #7022 "Equipment tab doesn't work. Don't show anything. And at the app, there is a "connection err""
General Info
- UUID:
- Browser:
- OS:
### Description
#### Console Errors

[2016-04-05 19:29] Alys commented on #7022
Hi @louceiro. I'm guessing this was saved in error while you were trying to make a full bug report, so I'm closing it now, but if you're still having trouble seeing anything on the website, try reloading the site using your browser's reload button, and if that doesn't help, log out. If you can't get to the log out menu item for any reason, you can go to https://habitica.com/static/clear-browser-da

[2016-04-05 19:29] #7022 closed, assigned to nobody

[2016-04-05 22:50] librarianmage commented on #6954
How do I add translatable strings?

[2016-04-05 22:56] librarianmage commented on #6954
Do I need to add the key (to the string I am using) to every locale?

[2016-04-05 22:58] librarianmage commented on #6954
Never mind, on http://habitica.wikia.com/wiki/Guidance_for_Blacksmiths#Adding_Translatable_Strings it just says to add them to the `en` locale.

[2016-04-05 23:23] librarianmage commented on #6967
@crookedneighbor This should probably stay open, because I just realized: it might also cause the textarea to cover the username selector

[2016-04-05 23:55] kekuso commented on #4252
@Alys

Hello, my party completed the Attack of the Mundane, Part 1: Dish Disaster! quest but only one member got the badge and rewards. Here are our ID's:
- 53293a68-63da-41d5-adf7-d7c34cf80b30
- 7083518d-3b7c-427d-a86c-204ba67b1e54
- 99af4b8e-4d9c-4288-abd7-35956f996950
- 0f2d1739-c110-48cc-ae81-9693ef329e11
- 8b5bc69b-e92f-4d86-80c7-68f1996146fe

User ID of the member who did receive the badge/r

[2016-04-06 00:15] crookedneighbor commented on #6967
I don't know what you're talking about. Can you clarify or post a screenshot?

[2016-04-06 00:42] librarianmage commented on #6967
The "username selector" when you type @… appears underneath the textarea in
the Party and Tavern screens
On Tue, Apr 5, 2016 at 7:15 PM Blade Barringer notifications@github.com
wrote:

[2016-04-06 00:46] Alys commented on #6967
@MathWhiz Can you please log that as a new issue?

[2016-04-06 00:50] matheusg1 opened #7024 "Quest with no rewards"
ID: cc792df7-ad4d-427e-b5a1-7e2e56c57f85
Browser: Chrome
OS: Win7

I have finished the quest "A Stern Talking-To" with my team. I accepted the quest by my Android and I did my tasks using that phone, I know that the app don't show the rewards yet, so I decide to see what I won using my notebook, but when I entered my account there was no rewards. I have accepted some others quests before on my And

[2016-04-06 00:58] librarianmage commented on #6967
Sure!
On Tue, Apr 5, 2016 at 7:47 PM Alys notifications@github.com wrote:

[2016-04-06 01:00] #7024 closed, assigned to nobody

[2016-04-06 01:01] matheusmt021 commented on #4252
ID: cc792df7-ad4d-427e-b5a1-7e2e56c57f85

I have finished the quest "A Stern Talking-To" with my team. I accepted the quest by my Android and I did my tasks using that phone, I know that the app don't show the rewards yet, so I decide to see what I won using my notebook, but when I entered my account there was no rewards. I have accepted some others quests before on my Android and it was alright w

[2016-04-06 01:05] crookedneighbor commented on #7024
@matheusmt021 Were you able to figure it out?

[2016-04-06 01:05] crookedneighbor commented on #7024
Oh, I see, you found a previously opened issue.

[2016-04-06 01:06] crookedneighbor commented on #6967
I'll scope the change to just the task boxes. Fixing now.

[2016-04-06 01:09] Alys commented on #4252
@kekuso and @matheusmt021 I've given the listed players the quest rewards. Please reload the site and if you still don't see them, comment here.

[2016-04-06 01:10] crookedneighbor commented on #6967
Fixed in https://github.com/HabitRPG/habitrpg/commit/ae14d405cb355f7419fa90466e36e518a92506a6

[2016-04-06 01:16] Alys commented on #4252
I'm on holidays for a few days now. If anyone wants to deal with these while I'm gone, the "script" I use is below - uncomment the appropriate lines. Note the `update ... $set` section which is needed for a few quests; the `$inc` section is needed for all. Not all quests will be listed below; the table at the bottom of http://oldgods.net/habitrpg/quest_table_creator.html will help for any missing.

[2016-04-06 01:36] crookedneighbor commented on #5592
Closed by https://github.com/HabitRPG/habitrpg/pull/7011

[2016-04-06 01:36] #5592 closed, assigned to nobody

[2016-04-06 02:59] librarianmage commented on #6966
@GitHubSphinx is it okay that this would likely end up with different keys?

[2016-04-06 03:57] sujunmin commented on #62
OK I apply for it.

[2016-04-06 04:21] adam-akamine commented on #4252
Thank you @Alys! Have a great holiday :)

[2016-04-06 13:21] matheusg1 commented on #7024
Yes, thanks.

[2016-04-06 13:40] headhunter7987 opened #7027 ""Application error""
General Info
- UUID: d42cffe7-54bf-4b84-b886-70b43e3b6d03
- Browser: Google Chrome
- OS: OSX Yosemite (10.10.3)
### Description

This is an occasional bug which crashes the site completely and leaves the words **"Application Error"** bolded across the top left of the screen. It normally happens two or three times in a row, and then Habitica begins functioning normally
#### Console Errors

[2016-04-06 14:40] ghost commented on #6966
@MathWhiz
When you keep the key and update the string in a json file, Transifex allows translators to browse the history of the string with this key. If you invent a new key, Transifex won't suggest anything for the string, and translators will have to compose the translation from the scratch.

So I would choose to keep the keys when possible.

E.g. [the string with the spellsText key](https://git

[2016-04-06 14:54] ghost commented on #6700
I'm experiencing the problem described in the ticket now

[2016-04-06 14:59] scott-joe commented on #7027
I was editing a number of Habits in sequence before the save bar finished and after a moment, I was greeted with this.

<img width="313" alt="screen shot 2016-04-06 at 10 48 09" src="https://cloud.githubusercontent.com/assets/2026866/14321170/15a601f6-fbe6-11e5-95f1-26df0bb8f0f6.png">

So I refreshed...
![screen shot 2016-04-06 at 10 49 05](https://cloud.githubusercontent.com/assets/2026866/143211

[2016-04-06 15:05] imafable opened #7028 "Applicate Error"
General Info
- UUID: 5468b1fe-d50a-4180-9b99-14105a1941b4
- Browser: Chrome
- OS: Windows 7
### Description

The site loads well but randomly, often when browsing challenges/guilds/inventory I get this error. It happens on Chrome Android and on Desktop.
![app error](https://cloud.githubusercontent.com/assets/18137110/14321383/913c96e4-fc4b-11e5-8b61-1c8c65b05e98.png)
#### Console Errors

https://h

[2016-04-06 15:16] SparkleSara commented on #7028
I am having the same problem on desktop and Android App.

I'm using Chrome and Windows 7.

My Android App tells me that I am not connected to the internet when I can see that I am connected to wifi.

[2016-04-06 15:22] Redmega commented on #7028
I faced the same problem intermittently with my android application, can't verify the web browser at the moment

[2016-04-06 15:22] qwixilver commented on #7027
I also got the same error. Mine is a bit more consistent than what Scott reported above. I've been refreshing for about 5 minutes but the error persists. I am running chrome Version 49.0.2623.110 m on a windows 10 desktop pc. I have a few more errors in my console than what Scott has reported. They are as follows:

[code]

[2016-04-06 15:26] ghost commented on #7027
I get the same error picture as Scott-Joe, but it's not going away. I tried to do a fast sequence of events in Habitica before the update scroll bar finished. While Habitica seems to load my stats correctly, the error still appears after every action. 6ad90f79-531d-4d71-a2ef-2b9505212a5e

[2016-04-06 15:33] ditabug commented on #7027
Happening to me as well. 5240ba4c-aabd-484c-9129-285c77ad196a

[2016-04-06 16:32] scott-joe commented on #7027
Yeah... it's still happening... being a 503 server error, I'm beginning to
think it's not just me.

On Wed, Apr 6, 2016 at 11:33 AM ditabug notifications@github.com wrote:

[2016-04-06 16:46] ghost commented on #7027
Mine went away. Not sure why, but thank you Habitica team!

[2016-04-06 16:50] SabreCat commented on #7027
We've finished migrating to a new server platform that should help us catch these situations faster. Thanks for bearing with us!

[2016-04-06 17:16] lemoness commented on #7028
We are so sorry about this! Some of our servers went down, which was causing the errors. It should be fixed now. Please let us know ASAP if it isn't!

 If you lost health, gold, or anything else due to the server outages, you can restore your lost stats on the website under Settings > Site > Fix Character Values. You can also restore lost streaks on the website when you edit a task. Feel free to a

[2016-04-06 17:16] #7028 closed, assigned to nobody

[2016-04-06 17:16] lemoness commented on #7027
We are so sorry about this! Some of our servers went down, which was causing the errors. It should be fixed now. Please let us know ASAP if it isn't!

 If you lost health, gold, or anything else due to the server outages, you can restore your lost stats on the website under Settings > Site > Fix Character Values. You can also restore lost streaks on the website when you edit a task. Feel free to a

[2016-04-06 17:17] #7027 closed, assigned to nobody

[2016-04-06 17:24] lemoness commented on #6700
Everyone, we have just finished migrating our servers. Under the new system, we have more alarms and systems in place to alert us and fix things if a server starts to collapse, so we are hopeful that this will lead to much more consistent stability for Habitica. As always, please do let us know if any of you continue to experience problems -- it really helps us out.

Thank you so much for your pat

[2016-04-06 18:21] librarianmage commented on #6966
Okay! But if that happens and the site gets updated before all of the
translations are finished, wouldn't that break stuff?
On Wed, Apr 6, 2016 at 9:40 AM Sphinx notifications@github.com wrote:

[2016-04-06 18:38] ghost commented on #6966
@MathWhiz, oh, please excuse me for not mentioning it! When you update strings in en locale and the files are uploaded to Transifex, Transifex will:
- store the old translation in the history
- make the updated strings "untranslated" for all the localization languages

So the old translations won't be used and the users of localized UI will have this text in English until translators don't do thei

[2016-04-06 18:43] MathWhiz commented on #6966
Yeah, but if I implement the above example, wouldn't that mean it would
show the translated version of `You can now unlock class-specific spells.
You'll see your first at level 11. Your mana replenishes 10 points per day,
plus 1 point per completed ` to non-English users until the string is
updated?
On Wed, Apr 6, 2016 at 1:38 PM Sphinx <notifications@github.com> wrote:

[2016-04-06 20:02] librarianmage commented on #6966
### Files and Lines (for reference)
- [x] [habitrpg/website/public/js/services/guideServices.js](https://github.com/HabitRPG/habitrpg/blob/develop/website/public/js/services/guideServices.js)
  - [x] [L85](https://github.com/HabitRPG/habitrpg/blob/develop/website/public/js/services/guideServices.js#L85)
  - [x] [L89](https://github.com/HabitRPG/habitrpg/blob/develop/website/public/js/services/guid

[2016-04-06 21:42] Lexidh opened #7031 "Greedy click-off, two at a time, or just random"
General Info
- UUID:
- Browser:
- OS:
### Description

I'm having some really weird issues these days. (Reboot done, didn't help, actually it got worse.)
When I try to click off a daily or task it doesn't just take one, it takes the next one in line too and marks it as done, OR just pretends to do so (I get two sets of xp/coin/loot/messages) OR if it is a daily it sometimes picks something else at

[2016-04-06 23:38] r1n4 commented on #4252
Hi!
I just finished the quest "A Stern Talking To" with my party. We did not get the reward for quest.
@Alys or other staff person could check for us?

This is our ID group: 76b6b6b3-416c-4093-b7ac-561913fb7b53

[2016-04-07 04:16] Prinpardus opened #7032 "Challenge task not disappearing"
General Info
- UUID: 4ee2b7d6-44f8-4a7c-9660-406f38796c66
- Browser: Google Chrome
- OS: Mac (OS X El Capitan v. 10.11.3)
### Description

[//]: # I was involved in the March "Clean the Dungeons" challenge. The challenge ended, but my Daily did not disappear. The Challenge's info says that some users have trouble with this, but it resolves itself after the Daily is checked off one more time. Howev

[2016-04-07 04:19] Prinpardus commented on #7032
Wait, I fixed it by syncing. My bad - I checked the most common issues list and the other link, but my problem didn't appear in either of them, so I made the thread. Then I thought to search the rest of the site....

[2016-04-07 04:19] #7032 closed, assigned to nobody

[2016-04-07 12:47] bunniphish opened #7033 "Cron reset issue"
My cron did not reset properly last night. All of my dailies are still greyed out, and the current quest I am on (Golden Knight Part 1) says I collected 0 items. Since I gained a level and a half yesterday, that can't be correct. The blue sync bar appeared every time I clicked on something yesterday, and again this morning. I attempted to fix the problem by hitting the sync button, logging out the

[2016-04-07 15:04] luhm opened #7034 "Not recieving awards of a pet quest"
General Info
- UUID:  551e07b9-9c6b-4d59-835a-bba077de6911
- Browser: Chrome
- OS: Windows 7
### Description

 I completed a pet quest with a group and I haven't recieved the rewards, despite another quest started. The Pet Quest I finished was the "Monstrous Mandrill and the Mischief Monkeys". It started around 4th april.
#### Console Errors

[2016-04-07 15:53] InconstantReader opened #7035 "Enchanted Armoire dropped same piece of equipment three times"
General Info
- UUID: 0e02a9dd-5807-4d34-b14e-af82a74074c4
- Browser: Firefox 45.0.1
- OS: Mac OS X 10.11.3
### Description

After selecting the Enchanted Armoire, I have "received" the Dragon Tamer Helm on three separate occasions. Checking my equipment afterward reveals no new drops.
#### Console Errors

[2016-04-07 19:22] bronzebow opened #7038 "Consistent 504 error on every page"
- UUID: 0b9c2804-388a-4425-a794-5ab914782014
- Browser: Chrome Version 49.0.2623.110 m
- OS: Windows 7 64bit

I receive a red timeout error on every page (text below in quotes). This started whenever I was the leader in a party of myself and one other person (Let's call her Alice). Alice sent me a party invite which I accepted, and for a while I had trouble even viewing the Party page. That eventu

[2016-04-07 21:06] DeweyReadmore commented on #7034
I am party leader for the party in question and wanted to note that at least a few of our other members are experiencing this same issue. Users @Alan and @SarahDsp were also enrolled for the quest but failed to receive any of the rewards. From what I understand, this includes XP and gold benefits (if any) as well as eggs. Personally, I DID receive all rewards, but I am not sure whether this was in

[2016-04-07 21:08] DeweyReadmore commented on #7034
I will continue to update here on behalf of any additional users in our party who report having been impacted in this manner, since many are non-native English speakers and may not feel comfortable attempting to explain the issue in detail in English. I hope that this won't be too confusing! Sorry for the trouble. :)

[2016-04-07 21:27] ghost commented on #7034
Username: petrajaga
User ID: 94924696-eb5d-4124-a436-ee6f1c71d04f
Browser: Firefox
OS: Windows 7

I'm a member of this party and have also not received the rewards at the end of this quest.

[2016-04-07 21:45] librarianmage commented on #6966
@GitHubSphinx @crookedneighbor When the translatable string is being used in different places (without the Wikia link), I have created a new string called "`[original name here]`Link". Is that okay?

[2016-04-07 21:53] librarianmage commented on #6966
@GitHubSphinx @crookedneighbor @Alys In /website/views/options/social/tavern.jade, `env.t(FAQ)` links to http://habitica.wikia.com/wiki/FAQ, and everywhere else it links to https://habitica.com/static/faq/. Would it be possible if I just change the link in the tavern to /static/faq/? Then it would just be one change.

[2016-04-07 23:15] lemoness opened #7039 "Minor Change to Background"
The North Pole background had some artifacts, so here is a slightly adjusted version to replace the version that is in-game.
![ygfoyll](https://cloud.githubusercontent.com/assets/3494081/14369678/e53846f4-fcdb-11e5-9e02-b1d772039124.png)

[2016-04-08 03:05] crookedneighbor commented on #7038
Are you still experiencing this? Does logging out and logging back in help?

[2016-04-08 10:06] ghost commented on #6966
@MathWhiz nice catch!

@lemoness could you please consider the inconsistency noticed by @MathWhiz - the list of resources in the Tavern still has link to the FAQ on the Wiki, not to the static FAQ.

For reference:
- from #6466 - _update help menu and FAQ to jump to Wikia_

- from #5773 - _New FAQ (web)_

[2016-04-08 14:12] librarianmage commented on #6966
@GitHubSphinx @lemoness Some other challenging sections:

#### [habitrpg/website/views/options/social/challenge-box.jade](https://github.com/HabitRPG/habitrpg/blob/develop/website/views/options/social/challenge-box.jade#L6)

[code]

#### [habitrpg/website/views/options/social/challenges.jade](https://github.com/HabitRPG/habitrpg/blob/develop/website/views/options/social/challenges.jade#L152)

[cod

[2016-04-08 16:14] librarianmage commented on #4731
What is the status on this?

[2016-04-08 17:21] citrusella commented on #7033
Did you take any unexpected damage? If so, you may be experiencing this bug: #4313 . If not, then... _patiently waits for someone more knowledgeable but wanted to provide the info I did know_

[2016-04-08 18:59] bunniphish commented on #7033
No, I did not experience any unexpected damage. All my dailies were completed, and I retained full hp.

[2016-04-08 19:45] eburcat commented on #5644
Ha, eventually I managed to leave guilds by using the iOS app.

[2016-04-08 20:23] WezCorp commented on #5644
Same, well I managed to leave most guilds except the private one I made myself - still trapped in that one. I actually think that one is the source of the problem. And it means I still can't filter challenges etc

[2016-04-08 20:25] lynxlynxlynx commented on #7005
Seems pretty reasonable if a bit bureaucratic. Point 4 looks like a particular waste of time, since FLOSS development depends on trust.

I would delegate as much as possible to language coordinators, since they're near the metal. Yes we don't have them, but how many languages have multiple reviewers (yay, choice)? For new languages or those without reviewers, the fallback would be as you suggested

[2016-04-09 09:55] ghost commented on #7005
@lynxlynxlynx thank you for your comment! I feel like I've been thinking about the points you mention, but to make sure I understand you right could you please help me with the following questions:
- As of now most of the languages completed for 90% and above have several reviewers (exceptions are quite few). Few of those teams have active coordinators appointed (apart from the project managers).

[2016-04-09 10:17] lynxlynxlynx commented on #7005
1. Just let the reviewers decide. It's mostly extra work for the one willing to take it up, so I doubt there'd be much heated interest or need for complex criteria. If she steps down, just return to the start.
2. Subpoint 3 is enough.
3. Subpoint 1 is redundant too, the applicant can just post himself. I don't see how it's "too public", they'll have to work together anyway.

[2016-04-09 14:31] #7039 closed, assigned to nobody

[2016-04-09 15:14] nrbunn commented on #6462
Ok looking at a different angle into this as debounce seems to help but after a while it seems to generate the same problem. Plus the issue with the crtl-enter not working because of super typers @crookedneighbor.

i found removing the below from habitrpg\website\views\index.jade sped up the chat overall. Not sure yet why its there as there is a commented line right before it without it.
`, ng-key

[2016-04-09 15:58] crookedneighbor commented on #6462
Yep, I think that's it.

That was added to detect `ctrl` being pressed on the tasks page and escape being pressed on on the inventory page to deselect an item.

[2016-04-09 19:14] Shipmaster001 opened #7048 "Unresponsive Script"
General Info
- UUID: Unknown
- Browser: Firefox
- OS: Microsoft
### Description

For the past few weeks, I have keep recieving messages on Habitica that say that the script is unresponsive. I'm usually able to get past them by clicking the "Stop Script" button, but the sheer frequency at which they appear is annoying. It happens every time I log in for the day or when I click on a task for the fir

[2016-04-09 20:34] crookedneighbor commented on #7038
Going to close this now, but please respond if you're still having issues.

[2016-04-09 20:34] #7038 closed, assigned to nobody

[2016-04-09 20:35] crookedneighbor commented on #7035
Closing this as a duplicate of https://github.com/HabitRPG/habitrpg/issues/5376

[2016-04-09 20:35] #7035 closed, assigned to nobody

[2016-04-09 21:55] bronzebow commented on #7038
Apologies, I was traveling this week.

No, I'm not seeing this anymore. Thanks!

[2016-04-09 22:33] librarianmage commented on #6966
@GitHubSphinx What do you think I should do to resolve these problems?

[2016-04-09 22:34] lucubro opened #7054 "Test dependencies not installed in vagrant.sh"
Hi! I'm trying to set up habitica locally and I stumbled upon [this line](https://github.com/HabitRPG/habitrpg/blob/develop/vagrant_scripts/vagrant.sh#L60). Is it actually meant to be

[code]

?

If that's the case, I can open a PR and fix it.

[2016-04-09 22:36] librarianmage commented on #1023
@Alys Is this still being discussed?

[2016-04-09 22:42] AMorporkian opened #7055 "Incorrect SSL Certificate"
HabitRPG.com is currently serving the SSL certificate for *.habitica.com. Just thought you folks might want to know. I believe previously HabitRPG.com was giving a 301 to Habitica.com.

[2016-04-09 22:46] librarianmage commented on #2413
@Alys Is this still planned?

[2016-04-09 22:48] librarianmage commented on #7055
What do you mean? habitrpg.com still redirects to habitica.com.

[2016-04-09 22:51] AMorporkian commented on #7055
And now it's working again. I can assure you, it was serving on 443 with a *.habitica.com certificate. It's resolved though, so I'm closing.

[2016-04-09 22:52] librarianmage commented on #7055
Odd... _shrug_

[2016-04-09 23:23] crookedneighbor commented on #7055
We made some changes to the DNS settings and _think_ this is related. Re-opening this so we can keep track of it.

[2016-04-10 02:09] AMorporkian commented on #7055
Well, now it has the proper domain, but the cert expired today.

![mrpcdi6](https://cloud.githubusercontent.com/assets/5653369/14407661/7a6debd6-fe97-11e5-9320-c5180acacc33.png)

[2016-04-10 02:36] AMorporkian commented on #7055
(And yes, I'm aware that this is because my homepage is to the old URL, and I could very easily correct it, but I'm sure I'm not the only one with outdated links)

[2016-04-10 03:11] crookedneighbor commented on #7055
Weird. When I go to `https://habitrpg.com` or `http://habitrpg.com` on my computer, it redirects me (correctly) to `https://habitica.com`. Same thing on my mobile browser for `http`, but `https://` resolves instead stays on `habitrpg.com`

We're looking into this. The correct behavior is that `habitrpg.com` should _always_ redirect to `habitica.com`. Thanks again @AMorporkian for reporting it, but

[2016-04-10 04:30] AMorporkian commented on #7055
@crookedneighbor, I have a little more info for you. It appears my computer is hitting 50.16.225.80, which is serving the expired SSL certificate. 50.16.225.80 appears to redirect from http:// to https:// on the same hostname, which is giving me the error. Due to the multiple A records, it would depend on your DNS whether you would happen to hit it, which explains why you're unable to see the erro

[2016-04-10 06:32] Janmetdepet opened #7057 "Comforting Crown string error"
I just found a small bug.

The Comforting crown description says: "error processing the string".

I've refreshed, that doesn't work.
I'm using the Dutch translation, as you can see in the screenshot below.
http://snag.gy/Y6nEb.jpg

[2016-04-10 08:36] ghost commented on #7057
Thank you very much for reporting it! I've fixed the string on Transifex, where we manage translations and it should be online we the next locales update.

I've checked the translations made by the translator responsible for this, and it seems to be just an accidental typo. Unfortunately there's no way we can filter those small typos in variables now - other than user reports.

This ticket will be

[2016-04-10 09:04] #7057 closed, assigned to nobody

[2016-04-10 09:04] ghost commented on #6966
@MathWhiz I'm sorry but I can't help you with these strings, as even cases simpler than these has always turned into trial-and-error search for me here (I haven't had any chance to develop my programming skills since the times of Delphi 5 and MS VS 6 :smile:). I believe you may leave it as is for now for you or someone to revisit it later. You may also mention these lines in the comment to your PR

[2016-04-10 09:42] Alys commented on #4731
Still waiting for artwork to be done, following the process from that Trello card.

[2016-04-10 09:45] Alys commented on #7033
@bunniphish Has cron run properly on the days since then? I've checked the cron-related settings in your account and can't see anything wrong there, so I'm wondering if this was just a once-off glitch.

[2016-04-10 09:56] Alys commented on #7048
Can you please tell us your User ID? You can find out how to get it on either website or app from step 6  of the [Help > Report a Bug](https://github.com/HabitRPG/habitrpg/issues/2760) instructions.

[2016-04-10 10:16] Alys commented on #1023
@MathWhiz Does your question count? :)

It would probably be nice to have some more selective tools for bulk-deleting things. Perhaps something where you can select the type of tasks to delete (Dailies, To-Dos, completed To-Dos, etc), as well as filtering by tag. It's something that we should look into after the new API is released.

[2016-04-10 10:26] Alys commented on #2413
@MathWhiz  I'd still really like to see this happen for the reasons listed above. It might also help with https://github.com/HabitRPG/habitrpg/issues/5428 if we don't fix that first.

[2016-04-10 11:02] Alys commented on #7034
I've given the quest rewards to @luhm, @petrajaga, and to SarahDsp (6b77ed3d-8a8e-4ac5-820d-b5188e16e074).

@DeweyReadmore Could you please tell me the User ID for Alan? There's a few too many players with that name for me to be able to track down the right one. :) You can see his User ID by clicking on his name from your party page or his avatar in the Habitica website's header.

Alternatively, s

[2016-04-10 11:11] Alys commented on #4252
@r1n4 I've given the achievement and rewards to your party. Reload if you don't see them. Please tell me if they don't appear after that!

[2016-04-10 11:18] Alys commented on #7031
Please log out of Habitica and tell us if it still happens after that.

It's probably the same issue as reported in https://github.com/HabitRPG/habitrpg/issues/6670 and seems to happen when the browser gets confused. Logging out typically fixes it.

[2016-04-10 14:03] Redmega commented on #6963
Looking at this now, unless someones worked on it already?

[2016-04-10 14:15] Redmega commented on #6963
I've confirmed the behavior to be what @Alys said:

But it's not just occuring on the armoire. It happened for a few other items as well. Haven't tested everything but it seems to be all of them.

EDIT: Seems to be all reward-purchase sounds, and seems to be on all themes as well. Looking for the file I need to modify now.

[2016-04-10 14:45] dbarnett commented on #6329
@damemi I kept encountering the same thing and I finally figured out what was causing it: happens when I switch away from the Habitica tab with keyboard shortcuts <kbd>Ctrl</kbd>+<kbd>Tab</kbd> or <kbd>Ctrl</kbd>+<kbd>1-9</kbd> and then switch back some other way. I think Habitica needs an event handler to reset <kbd>Ctrl</kbd> key state when it loses focus, and possibly also to check and re-initi

[2016-04-10 15:40] Redmega commented on #6963
This one was a quick fix. @crookedneighbor You just had two lines flipped ;)

[2016-04-10 16:06] librarianmage commented on #6966
@GitHubSphinx Oh, I will mention those on my PR! Thanks!

[2016-04-10 16:18] DeweyReadmore commented on #7034
Thanks so much, Alys! Alan's User ID is 5dac9a81-e0b8-4190-88b3-69bce26aa9f0
Nobody else has reported being impacted at this time, so I think that will clear it up. Appreciate your help!

[2016-04-10 18:50] Shipmaster001 commented on #7048
cfe6f321-92cf-4766-910c-703d11ffb65f

[2016-04-10 22:18] Alys commented on #7048
You have about 450 tasks, so it's possible that the website just takes a long time to respond because it's displaying a lot of information.

About half your tasks are completed To-Dos. Most of them won't be having any impact because the website doesn't show them after they've been marked as completed for three or more days, however you might find that deleting your completed To-Dos improves the pe

[2016-04-10 22:25] Kryzowsky opened #7059 "Can't close challenge"
General Info
- UUID: 432192fb-66ed-413c-88f6-b1ece628d943
- Browser: Google Chrome 49.0.2623.110
- OS: Windows 7
### Description

Can't end challenge. I choose the winner (@NovaVita), the pop-up comes, asks if I am sure, I click yes, then nothing happens. I can close other challenges, but not this one.
Some users also reported previously, that they couldn't join the challenge.
https://habitica.com

[2016-04-10 22:30] Shipmaster001 commented on #7048
I'm afraid that might be a problem. Many of my completed To-Do's are from completed challenges. I find that I can't delete anything from challenges. Why is this?

Also, I ususally just have two things open at a time: Habitica and something else. Sometimes, I open a 3rd window, but usually it's just the two.
On Apr 10, 2016, at 6:18 PM, Alys wrote:

[2016-04-11 01:31] Alys commented on #7048
Challenge tasks can't be edited in most ways (including deleting them) because all participants are meant to have the same tasks, for fairness. If you no longer want to be in a challenge and don't care about winning it, you can leave the challenge (from the Challenges list under the Social menu) and select the option to delete challenge tasks. If the challenge has already ended and the tasks remai

[2016-04-11 01:32] Alys commented on #7059
I've closed the challenge and awarded the prize to NovaVita.

[2016-04-11 01:32] #7059 closed, assigned to Alys

[2016-04-11 01:42] Alys commented on #7034
@DeweyReadmore I've given the achievement and eggs to Alan. He should reload if he doesn't see them. Please tell me if they don't appear after that!

I'm closing this now but if you find other players who didn't get the rewards, comment again here. We'll still see your reply even though this is closed.

[2016-04-11 01:42] #7034 closed, assigned to nobody

[2016-04-11 01:47] Shipmaster001 commented on #7048
I'm sorry, but the advice that you gave me didn't work. I checked off a To-Do from a challenge that I had already failed, and it couldn't delete it. I unchecked and re-checked a completed To-Do, and I couldn't delete it. Even when I found a "Delete Completed" button at the bottom of my "Done" To-Do list, I still couldn't delete them. Is there something I'm doing wrong?
On Apr 10, 2016, at 9:31 PM,

[2016-04-11 02:04] Alys commented on #7048
When you say "a challenge that I had already failed", do you mean that the challenge ended and someone else was awarded as the winner? Or that you left the challenge? Or that you're still in the challenge but can't win it because you haven't met the conditions? Basically, we need to know for certain if the challenge has ended, or if it's still running but you are definitely not in it.

If you did

[2016-04-11 05:51] Alys commented on #5644
@WezCorp Sorry! I've removed you from that private guild. Has that helped with the challenges?

[2016-04-11 09:03] Alys opened #7060 "form for changing display name and profile blurb and photo URL does not mention Community Guidelines"
The form at [User > Profile](https://habitica.com/#/options/profile/profile) > Edit allows you to change your Display Name and profile photo and blurb. All three must abide by the [Community Guidelines](https://habitrpg.com/static/community-guidelines) but there is no mention of that on the form.

I believe we should have a link to the Guidelines and one or two sentences to describe what should no

[2016-04-11 10:38] Alys commented on #7054
That seems reasonable, and I've just successfully run that script on my local install so it does work. Thanks!

[2016-04-11 13:03] #4276 closed, assigned to nobody

[2016-04-11 14:16] ghost commented on #7005
@lynxlynxlynx thank you very much for your comments!
- I do like your point about applicants posting their applications themselves. Please excuse me for not having stated it more clear why I believe Transifex discussions post may be too public. I'm concerned about privacy: we ask applicants to reveal their Habitica uuid and some information about personal experience. Thus a real person can be iden

[2016-04-11 14:30] GitHubSphinx commented on #7005
Added to the opening post:
**Additional note 2**: as suggested, we can also provide for the role of language coordinators whose job will be reviewing applications of a particular language team, maintain the Embassy and maybe participate in reviewing tier applications of linguistic scribes.

[2016-04-11 16:48] thinklb opened #7061 "Not able to do damage during quest"
I am in a party of 2, completing dailies and to-dos and not doing any damage to The Basi-List. The other party member has been doing damage. I've confirmed that I'm a participant in the party list of participants and am also the quest owner. I used the Habitica User Data Display Tool (https://oldgods.net/habitrpg/habitrpg_user_data_display.html) to see if I crossed off some tasks it would register

[2016-04-11 16:54] maiatoday commented on #6279
Argh sorry I can't leave the party either.

Ubuntu 14.04 Chrome and firefox.
uuid=c34cbae3-a66f-4211-884f-0c90d48d71fc
Group ID=fc2ac851-37d0-4f10-991c-1458952e453c

Also no confirmation dialog.

app-19b22806.js:6 TypeError: Cannot read property '_id' of null
    at app-19b22806.js:36
    at hb (app-19b22806.js:31)
    at Function.Yd (app-19b22806.js:31)
    at app-19b22806.js:36
    at app-19b228

[2016-04-11 17:02] aksteele opened #7062 "Can't delete daily task for expired challenge"
I've got a task on my daily task list I'd like to delete. I can't delete it from the daily task list, and I can't locate the actual challenge to leave the challenge.

[2016-04-11 17:21] Macoris commented on #2140
First of all, sorry to dig out this thread, but it's the only one that describes exactly my problem.

I've been having ]this problem for some time now. Also tried most of the things "leaks" did.
The only difference is that my life also dropped to 0, so I "died".
I'm a level 29 now, and have been checking on the abilities for at least the last five levels and nothing.
Is this supposed to happen bec

[2016-04-11 17:23] lynxlynxlynx commented on #7005
Excuse my ignorance, but I don't see how a UUID exposes anything, unless you have admin access to the production backend. In that sense, how would one review the player? Anyway, I'd just add a note saying to PM the coordinator/reviewers if you want the extra privacy.

The rest is fine, except (to me) the redundant "If discussion topic for the language already exists" — let them create it if needed

[2016-04-11 17:50] ghost commented on #7005
@lynxlynxlynx UUID does reveal some personal details of a Habitica user.

The note about "If discussion topic for the language already exists" is there because Transifex documentation suggests that translators can't create discussion topics - only post to existing ones. It seems not true right now, but I've added the note to be on the safe side.

[2016-04-11 18:10] viiibithero opened #7063 "Purchased Hairstyle Set 1 (gems), some styles now missing"
General Info
- UUID: 21af5c90-5aa7-4a6c-bea5-df57657a6d16
- Browser: Chrome 48.0.2564.116
- OS: Windows 10
### Description

I purchased Hairstyle Set 1 with 5 gems a little while ago, and when I go back to customize my avatar only 2 of the total hairstyles are unlocked.
#### Console Errors

[2016-04-11 19:27] WezCorp commented on #5644
@Alys Unfortunately not - I'm not sure what's causing it. Is it easily possible to boot me from all challenges I'm currently in?

[2016-04-11 19:54] maiatoday commented on #6279
I have another small piece of the puzzle, maybe it helps...

I had accepted a pending quest when I tried to leave.

[2016-04-11 20:22] lynxlynxlynx commented on #7005
Yeah, but how? I don't see any easy way to input a UUID somewhere and get results without also needing the password.

[2016-04-11 20:59] lucubro commented on #7054
All right! I'll open a PR soon then.

[2016-04-11 21:31] keysmashes opened #7066 "Avatar and name in level-up (to 15) dialog have cursor: pointer"
General Info
- UUID: 0e1d15f7-f36b-4f15-a9e1-0c31b732dac9
- Browser: Chrome 49
- OS: Ubuntu 14.04
### Description

When leveling up to level 15 (and presumably other levels), a special dialog is displayed showing the quest scroll you just got awarded. In this dialog, your avatar and level show a pointing cursor, but clicking on them does nothing. This is due to the `.herobox` class on the divs sur

[2016-04-11 22:06] citrusella commented on #7062
Try checking off the task. Does the megaphone turn red? If the megaphone is red, you can click the megaphone to leave the challenge. If that doesn't work, go through the steps [here](http://habitica.wikia.com/wiki/Challenges#Deleting_a_Challenge_Task).

[2016-04-11 22:42] Alys commented on #7061
Sorry about that! The quest information hadn't been correctly saved to your user account when the quest started. I've fixed that now and you should find that tomorrow when your Dailies reset, a quest progress message will appear for you in party chat, and it will contain damage to make up for the two or three days that the quest has been running for.

If it does not, comment again here! I'm closin

[2016-04-11 22:42] #7061 closed, assigned to Alys

[2016-04-11 22:55] Alys commented on #6279
@maiatoday Thanks for all of those details! There's no quest at the moment, in either the party or your user account, so it looks like that quest has been cancelled. Do you recall if you tried to leave the party after it was cancelled or before?

Could you please try leaving again now? If it doesn't work this time, I'll delete your from the party myself.

[2016-04-11 22:59] Alys commented on #7063
I'm sorry about that! We can definitely get it fixed for you!

To help us work out what went wrong, could you please tell us:
- Approximately how long ago did you buy the set? Hours/days/weeks?
- Did you buy it on the website or iOS app or Android app?
- Do you recall seeing that all the hairstyles were unlocked after you bought them? I.e., did they become locked some time after that?

[2016-04-11 23:01] Alys commented on #2140
@Macoris
Could you please tell us your User ID? To learn how to find it on website or app, see step 6 of the [Report a Bug](https://github.com/HabitRPG/habitrpg/issues/2760) instructions (also available from Help > Report a Bug in the Habitica website's menu).

[2016-04-12 00:29] viiibithero commented on #7063
I think I bought the set last week sometime

I bought it on the website

I remember trying on a few hairstyles so yes they were all unlocked

And yes I just noticed today that only 2 of the set appear as unlocked, the rest are locked.

Thanks so much for your help!  Let me know if you need anything else!

[2016-04-12 01:56] Rhynn commented on #6279
Now here's an interesting one. This involves both me and a friend. The friend involved is MonstrHugger.

We both signed up today, and we're trying to form a party with me as the leader.

I started creating a party through the 'Battle Monsters with Friends' button. After sending the invite, I looked around at a quest to start - the 'Basi-List' quest was the only available so I wanted to start it, b

[2016-04-12 07:25] maiatoday commented on #6279
@Alys I was part of a quest when I first tried to cancel. I thought I couldn't leave because of the quest. Then the quest starter cancelled the quest. I still couldn't leave the party after. It is as if it broke something when I tried to leave the party while being in quest accepted state. Then after it didn't matter what I did the backend was in a broken state.

I just tried leaving and I still d

[2016-04-12 08:51] Alys commented on #6279
@maiatoday Thanks for that, and I'm sorry for the trouble! I've removed you from the party. Please reload the site and tell me if there's still problems.

---

@Rhynn Yes, that is interesting. Although clearly annoying for both of you. :(  It sounds like there might be something odd in the "Battle Monsters with Friends" process, which we'll look into. Thank you for all those details! They will hel

[2016-04-12 08:56] Alys commented on #7063
Thanks for the details! I've given you five gems; reload if you don't see them yet. Can you please try buying the set again and tell us how it goes?

[2016-04-12 09:37] Alys commented on #5644
@WezCorp I've removed you from challenges. You still have the challenge tasks though - let me know if you need help cleaning them up.

[2016-04-12 12:37] #6963 closed, assigned to nobody

[2016-04-12 13:36] Shipmaster001 commented on #7048
It was a challenge that someone else already won. If I recall, it was the "Clear the Dungeons: March Edition" challenge, which has already ended.
On Apr 10, 2016, at 10:04 PM, Alys wrote:

[2016-04-12 15:38] Macoris commented on #2140
Sorry I didn't do that before, just really didn't know where to find it.

UserID: cab70fa1-c70c-473e-834a-ea11d1b48ab4

Thanks for the quick reply, btw.

[2016-04-12 17:19] aksteele commented on #7062
Thanks! This worked.

On Mon, Apr 11, 2016 at 3:06 PM, citrusella notifications@github.com
wrote:

[2016-04-12 17:22] nostarieltithen commented on #4252
Hello! My party just finished the "Find The Cub" quest. I didn't receive rewards, but the other member of my party did. The quest is displayed as complete for both of us (with messaging), but I don't have the rewards or the achievement. I have reloaded, logged out and back in, ran a sync, nothing! Can you help?

me (no rewards or achievement): 5a9cc8fd-1484-4a84-85f8-1e19e78fc9aa
my quest partner

[2016-04-12 20:08] keysmashes commented on #7066
On second thoughts, I have no idea how the avatar rendering works, and I can't get my local install working, so I probably won't be able to get this done.

[2016-04-12 20:44] bunniphish commented on #7033
It appears to be a one-time problem.

[2016-04-12 21:57] Alys commented on #2140
@Macoris No worries. :)  You've opted out of the class system, and so skills and some other class-related features aren't available to you. To opt back in, go to User > Stats, where you'll see a button for it. There's more information, including an illustration at "Enabling the Class System" on the wiki's [Class System](http://habitica.wikia.com/wiki/Class_System) page. Tell us if you have any pro

[2016-04-12 22:02] #2140 closed, assigned to nobody

[2016-04-12 22:05] Alys commented on #7048
That challenge had just a few To-Ds so even if they are never deleted, they won't be causing enough load to add to the problem you're experiencing.

Your total number of tasks and number of completed To-Dos has decreased significantly. I wouldn't worry about the remaining completed challenge To-Dos; they probably also aren't numerous enough to be a significant problem.

Has it been long enough sin

[2016-04-12 22:10] Alys commented on #7033
Thanks for letting us know! Tell us if it happens again.

[2016-04-12 22:10] #7033 closed, assigned to nobody

[2016-04-12 22:14] Alys commented on #7062
@aksteele Thanks for letting us know!

@citrusella Thanks for the help!!

[2016-04-12 22:14] #7062 closed, assigned to nobody

[2016-04-12 22:39] crookedneighbor commented on #7055
This _should_ be resolved now.

[2016-04-12 22:39] #7055 closed, assigned to nobody

[2016-04-12 22:52] Alys commented on #7048
In the Tavern, another user has reported something similar, and the moderator Megan says that she sees it occasionally when she has a lot of other programs running (or a lot of tabs open). Is it possible that something else is using up your system resources, causing Firefox to be less responsive?

[2016-04-12 22:55] Hus274 commented on #7066
I can take a look into this

[2016-04-12 22:56] Shipmaster001 commented on #7048
Now that you mention it, it started at around the same time that I downloaded BOINCManager. I don't want to delete it, because I really want my computer to contribute to solving the world's problems, so what do I do?
On Apr 12, 2016, at 6:52 PM, Alys wrote:

[2016-04-12 23:01] Alys commented on #7048
The webpage for that program (https://boinc.berkeley.edu/wiki/BOINC_Manager ) says that it doesn't need to run all the time, so you could close it whenever you aren't using it.

Did you download BOINC itself at the same time? If so, BOINC is more likely to be the culprit. I imagine that the manager will let you configure BOINC to use fewer resources. If not, delete BOINC and see if Firefox then st

[2016-04-12 23:45] Alys commented on #4252
@nostarieltithen
I've given the achievement and rewards to you. Reload if you don't see them. Please tell me if they don't appear after that!

[2016-04-13 00:11] Alys commented on #7031
I'm closing this now but if you'd like more help, see my previous post, and let us know if that worked or not.

[2016-04-13 00:11] #7031 closed, assigned to nobody

[2016-04-13 00:15] nostarieltithen commented on #4252
@Alys Thank you! All is accounted for!

[2016-04-13 00:20] r1n4 commented on #4252
@Alys Thank you! We reviced the rewards! :D

[2016-04-13 02:49] lemoness commented on #6966
The link in the Resources list should indeed link to the static FAQ, not
the wiki!

On Sunday, April 10, 2016, MathWhiz notifications@github.com wrote:

[2016-04-13 02:50] librarianmage commented on #6966
@Lemoness Thanks!
On Tue, Apr 12, 2016 at 9:49 PM lemoness notifications@github.com wrote:

[2016-04-13 05:47] maiatoday commented on #6279
@Alys All working again thank you.

[2016-04-13 06:12] Macoris commented on #2140
Oh.. My god. Can't believe it was so simple.
I'm so sorry I didn't think of that before...
Guess I ended up disabling the class system when "I died". Is that possible? Because I'm _almost_ sure I had the abilities one time in my "life" :x (shame emoji)

Also... As you could probably guess from the attached image, I've bought some equipment over my levels, and all of them look like "warrior" equipm

[2016-04-13 10:01] artemisclyde opened #7074 "Sorting dailies does not work [To-Dos sorting bug]"
Hi there,

I have a problem sorting my dailies. I usually sort them to know in which order I'll do those tasks. For the past week or so, when I sorted them properly and reloaded the site later on, everything was set back and my sorting was reset. Does anyone know why this is happening?

[2016-04-13 10:05] Featherlite2 commented on #7022
Hi Alys,

I have just encountered this issue when attempting to access my equipment via android app see screenshot -
![13015151_10153389582995899_7776310544138719477_n](https://cloud.githubusercontent.com/assets/18439563/14489835/fadb8852-01a1-11e6-8157-34506e24e213.jpg)

I thought that it would still keep the item equipped but when I would go out and back in to view the item it showed as not bein

[2016-04-13 10:13] Alys commented on #7022
@Featherlite2 Could you please tell me your User ID? To find out how to get it from either the website or app, see step 6 of the [Report a Bug](https://github.com/HabitRPG/habitrpg/issues/2760) instructions (also available from Help > Report a Bug in the Habitica website's menu).

[2016-04-13 10:18] Featherlite2 commented on #7022
@Alys my apologies for not posting it when I commented above. It is acd8a54c-d5bc-4676-afbf-238a789545a8
I have just rechecked my app and the equipment is there but when I try to equip, the error is still coming up. Also, still nothing showing under equipment in the web browsers.

[2016-04-13 10:28] Alys commented on #7074
@artemisclyde Sorry about this! I keep my Dailies in a very strict order so I know how frustrating this must be for you!

I think it's likely to be caused by your browser not syncing correctly with Habitica's server. You might have also noticed other problems such as tasks that you though you'd completed appearing as uncompleted later.

Sync errors usually disappear if you log out of Habitica and

[2016-04-13 10:41] artemisclyde commented on #7074
Manually checking whether it has synched does work for me, but it's weary since I also have a very strict order for my tasks. Is there no way to ensure constant synching between my browser and the habitica server? I'm currently using firefox 45.0.2-1 on Arch Linux.

[2016-04-13 10:49] Alys commented on #7074
Not really, sorry. :(  Habitica uses your browser's local storage as well as data stored on the server, but sometimes the browser seems to just keep using local storage without any communication to the server. Logging out clears that, but we're not aware of any way to make it stop happening again.

However once you've got your Dailies in the correct order and have confirmed that the order is saved

[2016-04-13 10:52] Alys commented on #7022
No worries. :)

I've checked your account and you don't own any equipment at all - that's why the equipment screens on the browser and app are shown as empty.

If you had bought some equipment in the past, a sync error might have stopped the purchase being permanently saved to the server. You should see all the item(s) you previously bought still available under Rewards to be bought again. If you

[2016-04-13 11:04] artemisclyde commented on #7074
Well okay, I'll see how that will work for me. I'm just confused that I didn't have this issue before, maybe something about my browser changed. That I'll have to figure out.

Thanks though for the quick and kind help on this!

[2016-04-13 11:07] Featherlite2 commented on #7022
@Alys - that is true that I hadn't yet purchased any equipment.

Are you able to tell me why I can see items when I access my equipment on app? For example in the screenshot I took above it showed me as having a wooden shield?

Also, as I noted in my previous comment - the items are showing again on the app. I've put them in a list below:
Leather Helm
Chain Coif
Leather Armor
Training Sword
Sword

[2016-04-13 14:08] artemisclyde commented on #7074
I just recognized one more thing: Synchronizing may not work for sorting all the time, but adding tasks always works and is synchronized. Even when I sort something first and then add another task, upon synchronizing the sorting is reset, but the task I added afterwards still exists.

[2016-04-13 15:05] Alys commented on #7022
You hadn't mentioned before that you have never purchased any equipment. I thought you were saying that you used to own equipment but that it had disappeared.

Because you haven't bought any equipment yet, it's correct that the equipment page on the website isn't showing anything - it will be empty until you buy some.

You've experienced this bug on the app: https://github.com/HabitRPG/habitrpg-an

[2016-04-13 15:11] Alys commented on #7074
Are you sorting and adding Dailies through the website alone?

Or are you sorting on the website and using the mobile app to add Dailies?

Or are you adding Dailies through some other tool, for example a script that uses the API?

If you're sorting your Dailies on the website and then adding Dailies using the mobile app, it might help to ensure that the mobile app is synced first and is displaying

[2016-04-13 16:12] Alys commented on #2140
@Macoris No worries. :)

It shouldn't have happened when you died. If you don't recall manually clicking on the change class button and then selecting "opt out" then it must have happened because of a bug - sorry about that!

When you change class, you never lose access to equipment that is already appearing in your equipment page. You can still wear it as battle gear or a costume. It can be benef

[2016-04-13 16:18] Alys commented on #7005
@lynxlynxlynx Habitica's [API](http://habitica.wikia.com/wiki/Application_Programming_Interface) can be used to obtain information about a player when you know their UUID.

[2016-04-13 16:45] Macoris commented on #2140
Never mind :)

I think I'll just buy the remaining warrior equipment, just so I have it :smile: (learned!)

Thanks again for all the attention you're giving me, I don't even deserve it :x

I'll stop posting here now, have a good one @Alys

[2016-04-13 17:13] artemisclyde commented on #7074
The problem occurs when I sort my tasks, not my dailies. My dailies pretty much stay the same at the moment.
I use the website alone for both adding and sorting.

[2016-04-13 17:38] lynxlynxlynx commented on #7005
Yes, but for most that's very obscure, hence my suggestion to leave "full" anonymity as a suggestion to those that care.

[2016-04-13 19:23] allazaruniverse commented on #4252
Our party ID:  c5787e63-cdcb-4936-9910-9e3d2408952d

We just finished the "Such a Cheetah" quest and the eggs haven't been awarded:

<img width="807" alt="screen shot 2016-04-13 at 2 16 42 pm" src="https://cloud.githubusercontent.com/assets/16870201/14506359/0294c4f6-0183-11e6-8841-d70425962b20.png">

[2016-04-13 20:57] Alys commented on #7074
@artemisclyde "Tasks" is generally used to refer to all of Habits and Dailies and To-Dos (and in some circumstances also Rewards). Your initial post here and your title said that you had trouble sorting Dailies. Can you please clarify which types of tasks you are having trouble sorting?

[2016-04-13 21:00] Alys commented on #4252
@allazaruniverse I've given the achievement and eggs to your party. Reload if you don't see them. Please tell me if they don't appear after that!

[2016-04-13 21:05] allazaruniverse commented on #4252
Thanks so much...!
On Apr 13, 2016 4:00 PM, "Alys" <notifications@github.com> wrote:

[2016-04-13 21:26] LeicaEnergizer opened #7075 "Hi! I have a problem with one of my Dailies, I'm sure I checked it before it turned 00:00 but when I reloaded the page it behaved as if I missed the Daily. Couldn't you advise me what to do?"
General Info
- UUID:
- Browser:
- OS:
### Description
#### Console Errors

[2016-04-13 21:32] Alys commented on #7075
Hi @LeicaEnergizer . You were affected by this bug: https://github.com/HabitRPG/habitrpg/issues/4313

There's an "Advice" section near the top that will help you recover from the unfair damage and fix the streak.

I'm closing this now but if you have any questions, comment here. We'll still see your reply even though this is closed.

[2016-04-13 21:32] #7075 closed, assigned to nobody

[2016-04-14 02:30] Hus274 commented on #6867
I noticed that no one has commented on this in a while, is this still being worked on?

[2016-04-14 02:47] charoncherry commented on #6510
I'm having this problem as well. I wanted to delete my account so that I could start over from scratch, but I can't delete the account because it has an active subscription. I can't cancel my subscription (which is using a cc that has been cancelled) because of the "current_period_end of null" error.

(I know this issue has been closed, but I thought I'd start here since it is the exact same issue

[2016-04-14 03:21] Alys commented on #6510
@charoncherry I've confirmed that your subscription payments were cancelled in the Stripe payment processor website and I've removed the subscription information from your Habitica account.

You will be able to delete your account now if you wish to. However I recommend that you consider other options because your current account has achievements and rewards, such as special pets, that are difficu

[2016-04-14 15:18] ghost commented on #7005
@lynxlynxlynx that's the way it's meant to be - only a bit more error-proof - because someone may suddenly want full anonimity _after_ posting their details in public discussion on Transifex - but we won't be able to help them editing of hiding that info. So we'll keep all data for the staff in Google Forms and Transifex will have only the info applicants want to reveal themselves. I believe we've

[2016-04-14 15:26] charoncherry commented on #6510
Thank you, Alys! I appreciate it. I really do truly want to just start over
from the beginning. All my old stuff makes it a little overwhelming for me.
Just the way my brain works. : )

On Wed, Apr 13, 2016 at 9:22 PM, Alys notifications@github.com wrote:

[2016-04-14 17:10] Hypevosa opened #7077 "Party completed Vice part 2, did not receive quest scroll for part 3"
General Info
- UUID: 1fe76c37-0935-4849-8260-fffaa1137ca5
- Browser: Chrome
- OS: Windows
### Description

[//]: # Party completed the Vice part 2 quest where you collect the light crystals, but I did not receive the Vice part 3 quest scroll, so we cannot continue with it.

[2016-04-14 17:48] Alys commented on #7077
I've given the achievement and rewards to you. Reload if you don't see them. Please tell me if they don't appear after that!

If other party members also didn't receive the rewards, you or they can put their User IDs here.
I'm closing this now but we'll still see your reply.

[2016-04-14 17:48] #7077 closed, assigned to nobody

[2016-04-14 21:22] Xanduba opened #7078 "I created a quest, but I'm not doing any damage whatsover"
General Info
- UUID:  caca5af7-f980-4f0f-8ff4-b3df7f667f15
- Browser: Firefox and the game app on mobile
- OS: Windows and Android
### Description

[//](#): #  I am not doing any damage to the monster from the quest base-list that I created (its more than 40 hours since it began). I did my dailies (some hard, some avarage, some easy), habits and to-dos. I don't know whats the problem or how to des

[2016-04-14 21:58] lemoness commented on #7060
I do agree!

How about:

Please keep in mind that your Display Name, profile photo, and blurb must comply with the [Community Guidelines](https://habitrpg.com/static/community-guidelines) (e.g. no profanity, no adult topics, no insults, etc). If you have any questions about whether or not something is appropriate, feel free to email leslie@habitica.com!

[2016-04-15 01:34] ghost commented on #7078
Did you use the Inn last night? When you are resting in the inn, you do not do damage; it is saved until the next time your day rolls over after leaving the inn.

Also, have you refreshed the party page? (Sometimes it just doesn't show up.)

If neither of those are the problem, please report back.

[2016-04-15 05:10] WezCorp commented on #5644
@Alys Unfortunately I still seem to have the same problem. _sigh_
I can live with it though, just means manually searching through challenges sometimes haha

[2016-04-15 07:29] artemisclyde commented on #7074
Oooooh sry, didn't realise that before. I'm talking about To-Dos.
I'm currently trying to log out and in again after doing a great lot of sorting. Maybe this way I can at least asure that my changes are being synched.
Sorry for the misunderstanding on my side.

[2016-04-15 11:29] natfarleydev opened #7082 "Unable to install phantomjs-prebuilt on fresh Vagrant install"
I'm not a nodejs developer (yet!) so apologies if this is the wrong place for this bug report.

I've done a fresh install of a machine with vagrant for the 'api-v3' branch of Habitica but when I do `npm install` it cannot install the `phantomjs-prebuilt` package. Is there a way around this?

Log:

[code]

[2016-04-15 11:42] crookedneighbor commented on #7082
Hmmm. Phantom v2 just came out. We were using phantom 1 before. I wonder if that is the problem.

[2016-04-15 12:04] JerseyEmerald opened #7083 "Dilatory Distress, Part 1: Message in a Bottle"
General Info
- UUID: 29c5340b-d150-4347-862c-fec571a18b8a     \*      *Browser: Web browser  Chrome
- OS: android app, mobile browser
### Description

Quest said All items found, party received their awards, no one received any  awards, some of us already completed this quest  some time ago
#### Console Errors

[2016-04-15 12:33] JerseyEmerald commented on #7083
Another quest problem,  might had something to do with android app update  going out and our team quest ending, possible system overload, anyway here's the info...
Our quest Dilatory Distress, Part 1: Message in a Bottle
It said All items found! Party has received their rewards. -10 hours
No one received the Rewards
Finned Oceanic Armor (Armor)
75 Experience
**\* please note, many of us already co

[2016-04-15 13:10] Suamppa opened #7084 "Party member is under Member and Invited at the same time"
I added a friend of mine as a member to our party through an email invite like all the others, but for some reason he has been duplicated as both a member and an invited member at the same time. Below is a screenshot of the members list with the issue. As you can see, Zetrou is on both of the lists.

![image](https://cloud.githubusercontent.com/assets/18483942/14561863/025f16f8-0322-11e6-87c6-fd38

[2016-04-15 13:43] crookedneighbor commented on #7084
The console error is not related.

[2016-04-15 13:54] librarianmage commented on #7060
@Alys @lemoness If everything is taken care of, I can do this!

[2016-04-15 14:35] Suamppa commented on #7084
I tried using _Boot Member_ on the copy of Zetrou under the _Invited_ list. At first this worked and the copy disappeared from the _Invited_ list while Zetrou remained on the _Members_ list. Just to make things sure, I went to the Tasks screen and then back to the Party screen _(I've found this to be a more reliable refreshing method than just hitting the browsers refresh button)_, and Zetrou had

[2016-04-15 14:36] Alys commented on #7060
@MathWhiz yes, please do this if you wish to. Include a screenshot of what it looks like in the PR.

[2016-04-15 14:37] librarianmage commented on #7060
Ok!
On Fri, Apr 15, 2016 at 9:36 AM Alys notifications@github.com wrote:

[2016-04-15 14:40] #6891 closed, assigned to nobody

[2016-04-15 15:13] librarianmage commented on #7084
@Zambad Related: #5649

[2016-04-15 15:50] librarianmage commented on #1785
@Alys Is this still being discussed? (Other than this statement) :smirk:

[2016-04-15 15:53] Shipmaster001 commented on #7048
Uninstalling BOINC had no impact on the quality of the website.
On Apr 12, 2016, at 7:01 PM, Alys wrote:

[2016-04-15 16:42] librarianmage commented on #3903
@Alys is this fixed?

[2016-04-15 16:44] librarianmage commented on #4017
@Alys is this still a problem in Firefox?

[2016-04-15 17:09] librarianmage commented on #4277
@crookedneighbor Has this been disabled?

[2016-04-15 17:10] librarianmage commented on #4365
@Alys Is this done?

[2016-04-15 17:16] librarianmage commented on #4445
@crookedneighbor Also triadBingoText2 has that problem

[2016-04-15 18:34] librarianmage commented on #4502
@crookedneighbor Has this been taken care of? When I use the datepicker, it shows:
![screenshot 2016-04-15 at 1 33 43 pm](https://cloud.githubusercontent.com/assets/12386291/14571418/c4169672-030e-11e6-843b-06b28486af03.png)

[2016-04-15 18:43] librarianmage commented on #4618
@Alys I can do this

[2016-04-15 18:49] SabreCat commented on #4277
@MathWhiz It got moved to a much less obnoxious position and made to pop out only on click. I think this is solved!

[2016-04-15 18:49] #4277 closed, assigned to nobody

[2016-04-15 22:16] Alys commented on #1785
I'd definitely like to see the notification number being implemented. The clearing out of old buggy data from my previous comment has been done.

For party invitations, I'm concerned about people being spammed with invitations when they're in a party that they're happy with. I think that would be done often by new players not thinking about etiquette, and would happen often to those who post frequ

[2016-04-15 22:19] Alys commented on #1785
Ah, the notification number idea was moved to https://github.com/HabitRPG/habitrpg/issues/4365

[2016-04-15 22:20] Alys commented on #4365
Not done yet. Still desired.

That's been done.

[2016-04-15 22:32] Alys commented on #4502
It might be browser-dependent, or maybe even year-dependent. It might also have been fixed by the third-party library that we use for the calendar.

@MathWhiz what browser were you using just then? Is it correct for 2015 too?

[2016-04-15 22:39] librarianmage commented on #4502
@Alys Chrome, and it is correct for 2015

[2016-04-15 22:50] Alys commented on #4502
It doesn't happen for 2015 in Firefox either. Let's assume the third-party library was fixed. Thanks @MathWhiz !

[2016-04-15 22:50] #4502 closed, assigned to nobody

[2016-04-15 23:11] librarianmage commented on #4731
@Alys On the [Trello](https://trello.com/c/Xey7Guzc/28-miscellaneous), @lemoness said (regarding the coins):

[2016-04-15 23:18] librarianmage commented on #4618
@Alys My current understanding of this issue is:
- [ ] Upload all mount images that haven't yet
- [ ] Rename the images to `Mount_Icon_{Animal}-{Color}.png`
- [ ] Compile sprite images

Is this correct?

[2016-04-15 23:21] Alys commented on #4731
@MathWhiz Thanks for finding that! Nice work.

For the record, the date of that comment from Lemoness was Oct 2, 2015 at 10:35 AM (that's probably displayed to me in the UTC+10 time zone so the time might be different for others).

I'm closing this.

[2016-04-15 23:21] #4731 closed, assigned to nobody

[2016-04-15 23:23] librarianmage commented on #4731
@Alys (Here it says 10/1/15 at 7:36 PM, and I am in UTC-6, if I remember correctly)

[2016-04-15 23:24] Alys commented on #4618
@MathWhiz That sounds correct to me.

[2016-04-15 23:29] Alys commented on #7074
Ignore all the advice I gave you previously - it was all based on the assumption you'd be sorting your Dailies once to get them into a good order and then not repeating that often. The process I suggested is too laborious for frequent sorting of To-Dos.

Please see the "Rearranging To-Dos" section in the wiki's [To-Dos](http://habitica.wikia.com/wiki/To-Dos) page. There's some tips there that shou

[2016-04-15 23:29] #7074 closed, assigned to nobody

[2016-04-15 23:31] Alys commented on #7074
Also https://github.com/HabitRPG/habitrpg/issues/6040 for the known issue mentioned in that page.

[2016-04-16 01:02] #6974 closed, assigned to nobody

[2016-04-16 01:05] Alys commented on #7048
You might also like to look through other long-running applications and browser extensions.

Did you see my questions from above? These ones:

Has it been long enough since you deleted completed To-Dos to tell if the unresponsive script error has disappeared or at least is happening less often?

If not, have you noticed if it helps to reload when the error occurs? Does it still happen in another b

[2016-04-16 03:52] Alys commented on #4017
Yes, it still happens.

[2016-04-16 03:54] Alys commented on #3903
I suspect not (at least the Habit click thing probably isn't; the unrelated 404s were fixed). Habit history has always been a bit obscure. The code will probably change for API v3 so we can look into this after that's live.

[2016-04-16 03:58] Alys commented on #7083
Sorry about that, @JerseyEmerald! I've given the quest rewards and achievements to those players. Reload if you don't see them. Please tell me if they don't appear after that!

[2016-04-16 03:58] #7083 closed, assigned to nobody

[2016-04-16 04:18] Alys commented on #5645
closed in favour of https://github.com/HabitRPG/habitrpg/issues/5644

[2016-04-16 04:18] #5645 closed, assigned to nobody

[2016-04-16 04:34] Alys commented on #5644
So you're still having this error? "Unable to filter challenges - it doesn't show any of the guilds I'm in, so the filter doesn't work at all, can't clicked owned or participating and have it change."

From what I can tell, you're in these groups:
- [your party](https://habitica.com/#/options/groups/guilds/42599d3d-3058-44c3-bc22-07d007499d5f)
- [Learning French - Apprendre le fran√ßais](https://h

[2016-04-16 04:39] Alys commented on #7078
@Xanduba From what I can see in the database, you are doing damage to the quest boss, so it looks like one of Cantras's suggestions would have been correct.

I'm closing this now but if you still have problems or have any questions, comment again here! Give us answers for Cantras's questions if you're able to. We'll still see your reply even though this is closed.

[2016-04-16 04:39] #7078 closed, assigned to nobody

[2016-04-16 04:57] JerseyEmerald commented on #7083
Thank you!!!

[2016-04-16 14:49] rbreu commented on #6839
Is there any progress on this? Otherwise I'd like to look into this.

[2016-04-16 14:50] CharltonFranklin opened #7089 "Mobile Website Doesn't Display All Tasks"
General Info
- UUID:f143cc7e-4a52-42ff-9f23-88864452f6a1
- Browser: Chrome for Android
- OS: Android 6 .0 .1
### Description

[//](#): # I launch the game by using a bookmark to the mobile site. This issue happens with or without the bookmark. Not all my tasks are displayed including habits, dailies and to do items. This happened after testing in the inn, which I'm unsure if that is related. Due t

[2016-04-16 14:56] CharltonFranklin commented on #7089
Clearing cache did resolve the issue.

[2016-04-16 17:19] crookedneighbor commented on #7089
Thanks for reporting it. Going to close this now since there are no actionable items for this.

[2016-04-16 17:19] #7089 closed, assigned to nobody

[2016-04-16 23:24] Xanduba commented on #7078
Hello, thank you for your prompt support. The story is a little too long, but I'll try to make it short:
- I didnt use the Inn; It wasnt a refresh-and-done thing.
  the story:
- 3 days ago I quit my old party (with an open quest-invitation there) and joined this new party, where I hosted a new quest. When I did so, it popped up an error message telling me that I should reload the website. When I d

[2016-04-16 23:40] Alys commented on #7089
@charltonfranklin Only some of your tasks were displayed because a tag was active. Clearing the cache cleared the tag selection, but you could also do that by clicking on the "clear" button next to the tags, or by clicking on the tag itself to unselect it. You can learn more about tags on the wiki at http://habitica.wikia.com/wiki/Tags

[2016-04-17 01:23] TheHollidayInn commented on #5828
This is fixed here: https://github.com/HabitRPG/habitrpg/blob/api-v3/website/src/controllers/top-level/pages.js .

[2016-04-17 03:21] librarianmage commented on #6692
@Alys @lemoness at least for me, this doesn't have a banner on iOS either

[2016-04-17 03:23] librarianmage commented on #6692
@Alys @lemoness Nvm, it's just Chrome for iOS acting weird `shrug`

[2016-04-17 09:03] #5828 closed, assigned to paglias

[2016-04-17 09:04] #5827 closed, assigned to nobody

[2016-04-17 09:04] #5871 closed, assigned to nobody

[2016-04-17 09:04] #5835 closed, assigned to nobody

[2016-04-17 09:04] #5833 closed, assigned to paglias

[2016-04-17 09:04] #6887 closed, assigned to nobody

[2016-04-17 09:05] #5984 closed, assigned to nobody

[2016-04-17 09:05] #6195 closed, assigned to nobody

[2016-04-17 09:06] #4442 closed, assigned to nobody

[2016-04-17 15:02] librarianmage opened #7090 "Issue installing on c9.io"
General Info
- UUID: 95f16006-1504-4a9f-95b6-0c7314dbd7ee
- Browser: N/A
- OS: Ubuntu (I think)
### Description

When running `npm install` in a cloud9 box, I get this error

[code]

What should I do to fix this?

[2016-04-17 15:04] librarianmage commented on #7090
If needed, I can also include more of the error

[2016-04-17 18:12] sm0xe commented on #6313
Sorry to necro-bump this thread, but it seems that we have the same problem, even though none of us are using the iOS app.
UUID: 64109824-b58b-4e4d-812b-48313aba69ed
GID: 061578da-2ce6-4c62-9597-d3c9bfeef31e

[2016-04-17 22:27] Alys commented on #6313
@gussefant No worries about commenting here - that was the right thing to do!

I have some data from 23 March, from when I was investigating this bug, which shows that you were the leader of the party then, so something has happened since then to remove your leadership status. We might have a different bug that we haven't noticed before. Can you tell me when you first noticed this? Do you use the

[2016-04-18 06:43] sm0xe commented on #6313
Thanks a lot! I hadn't really noticed until I tried to edit the group, right before reporting it. I'm using the Android app, but haven't edited the group outside the website, and I believe I haven't done so since mid-March.

[2016-04-18 08:13] natfarleydev commented on #7082
How would one go about changing it back to phantom 1? I tried changing the `project.json` to have `"phantomjs": "~1.9"` and destroying and recreating the vagrant box but it still tried to install version 2.something

[2016-04-18 10:54] Alys commented on #6313
There's another fourteen parties that don't have leaders. For at least some of them, I'm completely certain that they did have leaders when I finished fixing leaderless parties in late March (I still have group records from the database back then), so something has caused them to loose their leaders since then. For some it could be that they're using an old version of the iOS app, but gussefant do

[2016-04-18 14:30] BrunoAssis commented on #7090
I have the same error when trying to run `npm install` in my local machine (OS X 10.11.4), [using Docker](http://habitica.wikia.com/wiki/Setting_up_Habitica_Locally#Docker).

[2016-04-18 15:25] lucubro commented on #7082
Confirming the problem here on branch `develop`. I am using Vagrant too.

[2016-04-18 18:40] rbreu commented on #6839
I've digged into it and found that sorting generally doesn't work in Dated mode: If you use the 'to top'/'to bottom' icons or try to drag and drop, you get the same "task not found" error. The sort function works on the todo-list without taking the dated-order into account. And when you check off a todo, the checked off task gets pushed to the bottom of the list using the same sort function so tha

[2016-04-18 20:14] Alys commented on #6839
@rbreu Did you see [my message above](https://github.com/HabitRPG/habitrpg/issues/6839#issuecomment-193985706)? It describes the problem and says that the notification can be removed.

I'm not sure whether we should remove the sort buttons in the dated view or allow them to work but with an effect that's only noticeable when you move back to the active view. I would quite like to be able to hit "p

[2016-04-18 20:42] rbreu commented on #6839
I wouldn't feel comfortable removing the message as it originates in the overall sort function, which is used in a lot of different places (on server side as well), and the message itself is correct in stating that the sort function is being used in the wrong way.

If we don't care that the checked-off task ends up in the wrong position in the "Done" tab, I'd rather skip the attempt to sort before

[2016-04-18 22:06] crookedneighbor commented on #6839
I'm inclined to agree with @rbeu. Solving this by just removing the message is a code smell and will lead to unintended consequences.

[2016-04-18 22:15] Alys commented on #6839
No worries. Now that there's objections to the suggestion, I'll put this back to suggestion-discussion.

[2016-04-18 22:21] #6954 closed, assigned to nobody

[2016-04-19 00:15] #7060 closed, assigned to nobody

[2016-04-19 03:39] melissamcewen commented on #1471
Can someone help me end this challenge?

Nevermind: Forked @robcthegeek 's form to end it
https://jsfiddle.net/0LtsfpzL/1/

[2016-04-19 07:26] Alys commented on #7084
@Zambad I'm closing this, but if it happens again, tell us and we'll reopen it.

[2016-04-19 07:26] #7063 closed, assigned to nobody

[2016-04-19 07:28] #7054 closed, assigned to nobody

[2016-04-19 07:43] Alys commented on #1318
I'm going to close this since we haven't commented on it in ages but if other admins want to reopen, feel free!

Lately, Habitica has been using lint to enforce code style and consistency, and we're developing a new, more consistent API which will have more thorough documentation. The code base is being improved and standardised, which will help programmers understand it better, and we're improvin

[2016-04-19 07:43] #1318 closed, assigned to nobody

[2016-04-19 08:13] Alys commented on #7082
I've been getting similar errors today, although with different modules. For example:

[code]

This seems to be the critical part:

[code]

When I look at line 47 of /vagrant/node_modules/fs-extra/node_modules/graceful-fs/graceful-fs.js, I see that it starts with the letters `mo` and then has a lot of non-ascii characters after that. It's clearly corrupted. Other attempts to run `npm install` prod

[2016-04-19 11:23] rbreu commented on #6839
Just to be clear, the issue arises because the sorting/filtering is done on-the-fly in the template, so that the client controller has no direct access to the displayed order when trying to reorder tasks, but it's given the indexes of the displayed list to work with.

The searchTasks function already is a bit unwieldy because it tries to work around some of those issues (I think that's why though

[2016-04-19 11:53] Alys commented on #7082
I had that problem of corrupted files consistently during multiple attempts to create a new Vagrant install, while using the current `develop` vagrant scripts which specify npm@3.

As soon as I changed `vagrant_scripts/install_node.sh` back to use npm@2, that problem went away.

npm@3 was introduced in https://github.com/HabitRPG/habitrpg/pull/6564 but I'm not sure we should keep using it with the

[2016-04-19 12:02] Alys commented on #7090
I'm doing a local install from scratch on Mac OS (OS X 10.11.4; El Capitan) using the Vagrant process (but with https://github.com/HabitRPG/habitrpg/blob/develop/vagrant_scripts/install_node.sh#L19 modified to use npm@2). I haven't noticed any errors in the process until this happens:

[code]

There's more context below.

I was also getting similar errors with other modules on the weekend when I w

[2016-04-19 12:05] librarianmage commented on #7090
@Alys If I remember correctly, the first time I ran `npm install`, one part
of it didn't seem to respond but quickly filled up the RAM, causing c9.io
to quit the program.
On Tue, Apr 19, 2016 at 7:02 AM Alys notifications@github.com wrote:

[2016-04-19 12:42] crookedneighbor commented on #7082
If I recall, there was some weird caveat with some versions of Virtualbox that didn't play nice with npm 2. However, the project isn't set up to use npm 3 yet. I've been working on it, but the process has been slow going.

I say, for now, change it back to npm 2, but I'm hoping to get the project working with npm 3 (what the api-v3 branch is using) soon.

[2016-04-19 13:12] librarianmage commented on #7090
@Alys after explicitly installing `babel-runtime`, I get this error:

[code]

[2016-04-19 13:17] librarianmage commented on #7090
@Alys and after installing `lodash`, I get the first error that I had. 😛

[2016-04-19 16:07] Suamppa commented on #7084
Well yes, it is currently getting worse:

![image](https://cloud.githubusercontent.com/assets/18483942/14646129/094e45b4-0661-11e6-9a42-76290c6b31af.png)

It was just wartzu for a while after we got Zetrou back, and now it seems he has been cloned as well. I'll send them both that fix linked by @MathWhiz as soon as I know that they'll be able to do it instantly (otherwise they _will_ forget).

War

[2016-04-19 19:24] NickyInWonderland opened #7092 "Subscription status wrong"
General Info
- UUID: 0694844a-bb8f-4bd7-9106-a5c8e95dfc7a
- Browser: Firefox
- OS: Linux Fedora 22

Hey everyone

I was gifted a 3 month subscription a month ago by my boyfriend and at first I was able to buy gems and the subscription showed up in my subscription menu, but ever since the start of the second month it's gone. I can't buy gems, no subscription is shown. What should I do? I cleared al

[2016-04-19 20:20] lucubro commented on #7090
Interestingly, when I install with vagrant with npm 2 (as Alys did) I get yet another error. `npm install` finishes (almost) successfully but `npm start` complains. The only difference is that I'm still on OSX 10.10.5.

[code]

[2016-04-19 20:34] librarianmage commented on #7090
@Alys I searched up `Error: Cannot find module 'babel-runtime/helpers/interop-require-default'`, and found these:
https://github.com/babel/babel-loader/issues/39
https://github.com/jhabdas/react-native-webpack-starter-kit/issues/2
http://stackoverflow.com/questions/36235228/yeoman-angular-fullstack-generator-cannot-find-module-babel-runtime-helpers-i

[2016-04-19 20:41] librarianmage commented on #7090
@Alys, babel was updated (by @crookedneighbor) to v6 a month ago, but I don't think that would change anything.

[2016-04-19 20:50] librarianmage commented on #7090
Possibly useful: https://babeljs.io/docs/plugins/transform-runtime/

[2016-04-19 23:09] Alys commented on #7084
@Zambad No worries, I'm reopening this. From your previous message with no follow up, it looked like the problem had stopped. It's always worth telling us when there's a change to an open issue so that we know we need to keep working on it.

We can delete the excess members from the invitation list. Tell us when wartzu and Zetrou have gone through that process from MathWhiz's link.

[2016-04-19 23:27] Alys commented on #7082
I've made a commit to `develop` (https://github.com/HabitRPG/habitrpg/commit/823f51e7270deec80c3c334d34646420df8edf64) to change vagrant_scripts/install_node.sh to use npm 2 instead of npm 3.

[2016-04-19 23:28] Alys commented on #7048
I'm closing this now but if you'd like more help, see the questions from my previous post.

[2016-04-19 23:28] #7048 closed, assigned to nobody

[2016-04-20 00:16] Alys commented on #7092
Hi Nicky. Just letting you know that we've seen this and we'll definitely get it sorted out for you.

[2016-04-20 00:27] Alys commented on #6490
In https://github.com/HabitRPG/habitrpg/issues/6344, we created the https://habitica.com/static/clear-browser-data page to allow players to easily clear local storage for habitica.com.

The same button on that page should also delete all cookies for habitica.com.

[2016-04-20 00:44] Hus274 commented on #6867
I spent some time looking into this as i haven't hear anything back. Would something along these lines work?

The changes here are that the button to cast the spell is disabled ( it's greyed out and it is not clickable), and the hover over text reads something along the lines of what Alys said here. This would probably still require some word crafting and distinguishing between what to say for sne

[2016-04-20 02:48] Alys commented on #6867
That looks good to me!

[2016-04-20 07:01] cdouglass commented on #6867
Looks good to me too.

[2016-04-20 09:37] IAlwaysWantedToBeAWizard opened #7093 "No Rewards Upon Completion of Quest"
For the last two quests I've completed with my party, I've received no reward. I should have three falcon eggs and 10 egg basket eggs but I don't. Other members have this problem as well.

User ID: f5eac8d9-4d73-403c-b158-6efb34d737db

Group ID: 84f03be9-33d6-4a95-a12e-8623ad2721bd

Browser: Google Chrome

OS: Windows 10

[2016-04-20 09:55] Alys commented on #7093
Can you tell me the names of the other party members who have this problem? If it's all party members for both quests, you can say just that.

[2016-04-20 10:52] NicoleNobody commented on #7093
I’m the leader of the mentioned party. I didn’t receive eggs after finishing the quest either.

My user ID is 96bad0fe-e963-43dd-b6f7-bcb73ddc4ebd

Another member that didn’t recieve anything from both quests is haralali (dd45acb4-b0f5-421f-8566-5ba9711bacb4)

[2016-04-20 15:05] librarianmage commented on #2541
@Alys is this still being discussed?

[2016-04-20 15:09] librarianmage commented on #2490
@Alys Do we still want to do this?

[2016-04-20 15:54] NicoleNobody commented on #7093
Users maccaches (6e5c40f2-9cd3-4b61-965d-cd5d81b02176) and padfoothpcat (3ae15e79-f9d2-4a52-8486-54dc68c65e6a) didn’t receive a reward from the Egg hunt quest.

Thank you for looking into it.

[2016-04-20 15:55] librarianmage commented on #7090
... And I just installed it on a new box and it worked. What. the. heck.

[2016-04-20 19:04] librarianmage commented on #4618
@Alys How do I run the `grant-all-mounts` script?
On Fri, Apr 15, 2016 at 6:24 PM Alys notifications@github.com wrote:

[2016-04-20 19:07] crookedneighbor commented on #4618
if you run

[code]

It'll tell you the usage, which is to supply the user id as the final argument

[code]

[2016-04-20 21:19] librarianmage commented on #4618
@crookedneighbor Thanks!
On Wed, Apr 20, 2016 at 2:07 PM Blade Barringer notifications@github.com
wrote:

[2016-04-20 21:57] librarianmage commented on #4618
@crookedneighbor Do I need to have `npm start` running when I run `npm run sprites`?

[2016-04-20 22:32] librarianmage commented on #4618
Frogs:
![screenshot 2016-04-20 at 5 32 11 pm](https://cloud.githubusercontent.com/assets/12386291/14692601/e08e8806-071d-11e6-83be-c7923b9a5bbe.png)

[2016-04-20 22:48] librarianmage commented on #4618
Rare Mounts:
![screenshot 2016-04-20 at 5 47 44 pm](https://cloud.githubusercontent.com/assets/12386291/14692890/122dfb9c-0720-11e6-8c09-f8e3042f090f.png)

[2016-04-21 01:02] Hus274 commented on #6867
So here's what stealth would end up looking like then: (Number of dailies is there always, the other part pops up when the number of dailies effected exceeds the users number of dailies)
![stealth](https://cloud.githubusercontent.com/assets/17734753/14694936/173fbaf6-0722-11e6-91d0-0f4437d2fadb.png)

[2016-04-21 01:21] Hus274 commented on #6867
So I do have a couple questions before submitting a pull request though.
1.
In order to make the popover work with both spells and only to pop up under certain circumstances has lead me to pollute the jade file with logic like what follows:

[code]

Which is hard to read and not great practice. This makes me feel like it should be a function in the spells.js file that gets called on the spell and

[2016-04-21 03:21] librarianmage commented on #2413
@Alys I can try doing this!

[2016-04-21 03:46] librarianmage commented on #5419
@Alys I could do this, if we want to.

[2016-04-21 03:51] Alys commented on #5419
@paglias @crookedneighbor Pinging you because of API v3. Do this after API v3 is released or now or both or neither?

[2016-04-21 03:51] librarianmage commented on #2715
@Alys Is this still a problem? I am fairly certain it is.

[2016-04-21 09:39] Alys commented on #2541
I haven't seen anything apart from what's here. We still don't care about "cheating" and wouldn't want to restrict the use Habit clicks (there could even be some legitimate uses for more than 50 a day), but avoiding accidental clicks would be nice.

[2016-04-21 09:45] Alys commented on #7090
@MathWhiz Can you think of anything different between the old box and the new one that might have helped it work?

[2016-04-21 09:51] Alys commented on #2490
Seems like a good idea but not urgent (I haven't seen any other examples of this problem). At some point, we'll be making improvements to chat and profile names and this might be something to consider then, if not before. We'd want the length check to be both server side and client side, so doing this before API v3 might not be the best idea in case it impacts code that would be changed by the API

[2016-04-21 09:54] Alys commented on #2715
Yes. Waiting for API v3 though.

[2016-04-21 09:55] Alys commented on #2413
@MathWhiz Great! Thank you!!

[2016-04-21 10:04] Alys commented on #6867
1. Not really my area of expertise but I agree with what you've said. However if we're to modify the JavaScript code, this should probably go on hold for a little while. A new version of the API is being written and the backend skills code is part of that.
2. Noted!
3. Interesting points. The current behaviour is an improvement on the previous behaviour from more than a year ago, but that doesn't

[2016-04-21 11:14] librarianmage commented on #7090
I think for a preset, I selected "Blank Template", but I think I did that
the time before.
On Thu, Apr 21, 2016 at 4:45 AM Alys notifications@github.com wrote:

[2016-04-21 13:03] #4618 closed, assigned to nobody

[2016-04-21 13:12] Hus274 commented on #6867
Great, thanks Alys!

As for one, that's what I figured. If that's the case, I think it makes sense to go ahead with the front end change to improve the functionality from a user perspective and the it can be migrated to the backend when the api v3 is released. The only real difference is going to be code cleanliness and it should be pretty minor to switch it to the back end retroactively.

[2016-04-21 17:56] etchling opened #7098 "Purchased Quest Not Showing Up in Inventory"
General Info
- UUID: etchling
- Browser: Safari 9.1
- OS: OS X 10.11
### Description

I purchased "Dilatory Distress Part 3" Quest Scroll. The 400 Gold was subtracted from my character's total, and at first the scroll appeared in Inventory, but clicking it consistently resulted in a "you don't own that scroll" notification on the right side of the screen. Upon logging out and logging back in, and

[2016-04-21 20:01] lemoness commented on #4618
This looks great! Thank you.

On Thu, Apr 21, 2016 at 6:03 AM, Blade Barringer notifications@github.com
wrote:

[2016-04-21 21:02] librarianmage commented on #4618
@lemoness I'm glad you like it!

[2016-04-21 21:23] nelle013 commented on #6283
I'm getting a 503 error frequently today on Chrome. Now I can't even access the website at all.

[2016-04-21 21:30] nelle013 opened #7100 "503 Error can't access site at all!"
I've tried on Chrome (reloaded and updated) and Safari... no luck. Getting 503 error Server not available. Hope it's back up soon!

[2016-04-21 21:39] kasmiman opened #7101 "503 Service Unavailable"
General Info
- UUID: Can't access Habit to report
- Browser: Firefox 45.0.2
- OS: Windows 7 Professional

Also:
- Browser: Safari (on iOS)
- OS: iOS 9.3.1
### Description

Get 503 error upon trying to load Habit:

[code]
#### Console Errors

`
The character encoding of the HTML document was not declared. The document will render with garbled text in some browser configurations if the document cont

[2016-04-21 21:49] nelle013 commented on #6700
503 Error Can't access site on Chrome or Safari... tried different
computers as well.

On Wed, Apr 6, 2016 at 12:24 PM, lemoness notifications@github.com wrote:

[2016-04-21 21:52] titalvi commented on #7101
I've got the exact same problem. On Chromium (Version: 50.0.2661.75) as well as Firefox (Version: 45.0.2), both running on Linux Mint Debian Edition.

[2016-04-21 21:54] Hellacio commented on #7101
Same here:
Firefox 45.0.2OS X

[2016-04-21 21:56] AlainPlusPlus commented on #7101
-Firefox 45.0.2
-OS: OS X 10.9

Description: 503 Service Unavailable
No server is available to handle this request.

[2016-04-21 22:01] Alys commented on #6700
Sorry @nelle013! We're working on this as fast as we can!

[2016-04-21 22:01] Alys commented on #7101
So sorry about this everyone! We're working on this as fast as we can! Please check https://github.com/HabitRPG/habitrpg/issues/6700 for updates.

[2016-04-21 22:02] #7101 closed, assigned to nobody

[2016-04-21 22:03] Alys commented on #7100
I see you've found https://github.com/HabitRPG/habitrpg/issues/6700 so I'm closing this as a duplicate.

[2016-04-21 22:03] #7100 closed, assigned to nobody

[2016-04-21 22:03] nelle013 commented on #6700
Thank you!! I feel like a fish out of water when Habitica isn't working.

On Thu, Apr 21, 2016 at 5:01 PM, Alys notifications@github.com wrote:

[2016-04-21 22:04] Alys commented on #6283
This issue is now being used for tracking recent server issues: https://github.com/HabitRPG/habitrpg/issues/6700

@nelle013 When you've reported a problem, you don't need to report it again, even if you find another existing report of it. :)

[2016-04-21 22:04] #6283 closed, assigned to nobody

[2016-04-21 22:19] Alys commented on #7098
So sorry about this, @etchling ! It sounds like a [sync error](http://habitrpg.wikia.com/wiki/Sync_Errors). It's unlikely to happen again so it should be safe to try to buy it again (although we're having server troubles at the moment, but once that clears up, you shouldn't have any trouble). You can get back your lost gold at on the website at Settings > Site > [Fix Character Values](http://habit

[2016-04-21 22:19] #7098 closed, assigned to nobody

[2016-04-21 22:22] Alys commented on #6700
@nelle013 We know how you feel!

Everyone, the site is back for us now although we're still monitoring it closely to make sure it's okay.

[2016-04-21 22:23] Alys commented on #7101
Everyone, the site is back for us now although we're still monitoring it closely to make sure it's okay. All further updates will be in https://github.com/HabitRPG/habitrpg/issues/6700

[2016-04-21 22:50] Alys commented on #7093
I've given the achievement and eggs to those five players. Reload if you don't see them. Please tell me if they don't appear after that!

I'm closing this now but if you hear of more party members who didn't get the rewards, comment again here. We'll still see your reply even though this is closed.

[2016-04-21 22:50] #7093 closed, assigned to nobody

[2016-04-22 00:21] Hus274 commented on #6867
So it doesn't look like it's currently possible to correctly grey out the rogue's skill when the number of UNCOMPLETE dailies is less than the number of dailies avoided. The current behavior is such that the popover will now display the current number of dailies avoided and will become disabled when the number of dailies avoided becomes greater than the total number of dailies. Does this seem reas

[2016-04-22 01:18] lemoness opened #7103 "Social-Themed Starting Tasks"
Now that both mobile apps have Guild access, we'd like to make some extra starting tasks that show up in new accounts. We hope that these will help encourage new Habiticans to become members of the community!

Alternate task and wording suggestions are very welcome!

These To-Dos should appear underneath the "Join Habitica" To-Do. The tasks on the website should be different from the ones on the m

[2016-04-22 01:27] librarianmage commented on #7103
I like all the wording. How would we make sure that the mobile people see the mobile stuff and the website people see the website stuff. What would happen if they switched halfway through?

[2016-04-22 01:28] librarianmage commented on #7103
Oh, just saw that part earlier

[2016-04-22 02:01] AhoyMatey commented on #6529
My 2nd year subscription automatically came, as well as the receipt over a month ago; but I never received my Mystic Hourglasses. Please help!

[2016-04-22 06:16] ATTILA0817 commented on #5428
Same problem on W10M and Desktop Edge FB login not working

[2016-04-22 06:49] YokoZar commented on #2634
I just wanted to bump this bug and ask if this is still roughly the state of the world.  Is substantial server resources still spent on static content?

[2016-04-22 08:08] mielikki6 commented on #4252
Hello,
My party completed the Egg Hunt quest yesterday and we did not receive the rewards despite this:
![image](https://cloud.githubusercontent.com/assets/18610908/14735578/da3120cc-0871-11e6-878c-8820e761aec8.png)

Group ID: f798a9d8-44ea-46f9-9724-bedae9932e4b

Can you please help? Thank you in advance!!

[2016-04-22 08:43] Alys commented on #4252
@mielikki6 I've given the achievement and eggs to your party. Reload if you don't see them. Please tell me if they don't appear after that!

[2016-04-22 11:00] Alys commented on #6529
@AhoyMatey Could you please tell us your User ID? To find out how to get it from either the website or app, see step 6 of the [Report a Bug](https://github.com/HabitRPG/habitrpg/issues/2760) instructions (also available from Help > Report a Bug in the Habitica website's menu).

[2016-04-22 11:09] Alys commented on #7092
Hi Nicky. I think I have that all fixed for you now, but please comment here if anything looks wrong, either now or at any time over the next couple of months until it expires! I'm sorry about the trouble.

I'm closing this now but we'll still see any replies you make and will help you as needed!

[2016-04-22 11:09] #7092 closed, assigned to nobody

[2016-04-22 13:10] Suamppa commented on #7084
This will take some time because wartzu won't have access to a computer until next Monday.

[2016-04-22 15:24] MidnightsWaltz opened #7106 "Header Markdown issue"
General Info
- UUID: 13bedd29-a7c2-4166-ae06-787c952075e6
- Browser: Chrome
- OS: Windows 8.1

Only one of the header markdowns have worked the last couple days:

![problem with hrpg 2](https://cloud.githubusercontent.com/assets/18617093/14746229/366f0dac-0874-11e6-8472-3500b3437cb6.jpg)

I have tried deleting & creating new ones, but that didn't work.

[2016-04-22 16:17] AhoyMatey commented on #6529
Yes, my User ID is: 20315fb3-1053-444b-b7a3-42e8468a05ce

Thanks for helping :-)

[2016-04-22 17:46] crookedneighbor commented on #7106
The markdown parser we were using was susceptible to an xss attack, so I had to switch it out. As a result:

[code]

I'm working to reinstate the old behavior with the new module, but for now, you can just switch your task names to include a space between the `#` and the text.

[2016-04-22 21:57] MidnightsWaltz commented on #7106
I was 99% sure that I had tried that, apparently I was wrong.

That got it, thank you!

[2016-04-23 03:22] Alys commented on #6529
@AhoyMatey I've given you the Hourglasses, and the increased gem cap, and the five gems that you would have been able to buy last month if the cap had been increased then. Reload if you don't see them. Comment here if they still don't appear.

[2016-04-23 03:22] #6529 closed, assigned to nobody

[2016-04-23 03:23] Alys commented on #6867
Yes, that seems fine, at least for now. We can always tweak it later, especially if we adjust Stealth.

[2016-04-23 03:33] AhoyMatey commented on #6529
Oh thank you so very much! Yes, I see them now. ~so cool!
Thanks for helping so quickly!

[2016-04-23 05:26] citrusella commented on #7103
Could the notes on the task contain the instructions/locations for the alternate platform? Then if someone tries but doesn't check those tasks until they're on a different platform, they still have the notes in order to know how to get there from a different platform? It's a bit imperfect, though...

[2016-04-23 05:28] librarianmage commented on #7103
Or both of the instructions could be in the notes
On Sat, Apr 23, 2016 at 12:26 AM citrusella notifications@github.com
wrote:

[2016-04-23 10:46] Alys commented on #5644
@WezCorp Did the changes I made to those challenges fix the problem?

[2016-04-23 11:42] ghost commented on #6977
As there's been no objections and I've been granted access to assigning projects to teams, I'll be implementing the suggested changes in a couple of days:
- [x] Unassign the mobile teams from the mobile projects (as suggested by Transifex documentation; those teams may then be deleted)
- [x] Assigned all the three projects to HabitRPG team
- [x] Rename "HabitRPG team" to "Habitica contributors" te

[2016-04-23 12:14] MechTheMediocre commented on #4252
My party Completed the Moonstone Chain Part 1: The Moonstone Chain a day or so ago, but didn't receive the rewards or achievement

Help us, Save us!

Group ID: c192d31b-f918-473d-8ce6-073df3f49055

[2016-04-23 12:22] Alys commented on #4252
@MechTheMediocre Oh no!! But I have saved you all! :) You should all have the achievement and rewards now. Reload if you don't see them. Tell me if they don't appear after that.

[2016-04-23 13:25] crookedneighbor commented on #6977
Not to my knowledge. Want aware of its existence.

[2016-04-23 13:25] crookedneighbor commented on #6977
*wasn't aware

[2016-04-23 13:32] paglias commented on #6977
Me neither, I've deleted it since it has no translators nor projects

[2016-04-23 15:00] ghost commented on #7005
@paglias as agreed, I've modified the previously created [Google Form](https://docs.google.com/forms/d/1iQT2rCwLho8v0lFCwXdDJVwBX0rfTgMd9esrLlnFNIQ/viewform)

ToDo's
- [x] share the editing rights for the form
- [x] have the form reviewed, polish the form if needed
- [x] transfer the rights for the form to the admins' account (also the spreadsheet). **New link is http://goo.gl/forms/Ih9ifU4ivO**
-

[2016-04-23 15:04] paglias commented on #7005
@GitHubSphinx the form looks good to me! Just a quick note: the filename says "Reviwer" with a missing "e"

[2016-04-23 15:57] ghost commented on #7106
/raises hand
This is more of a suggestion than an otherwise-useful comment, but I'm pro- hashtags-with-spaces. It would take the occasional explanation perhaps, especially since it's been without spaces so long, but I suspect it would reduce to approximately zero the instances of accidentally-huge posts that come from users trying to post a hashtag or wanting to use it as, you know, a number symbo

[2016-04-23 16:39] crookedneighbor commented on #7106
We discussed it internally @Cantras and have decided that is the direction we're going to take. Thanks for chiming in!

[2016-04-23 16:39] #7106 closed, assigned to nobody

[2016-04-24 12:59] zinny13 commented on #4252
Hello! Yesterday (i.e. this morning at cron) I finished the quest Vice, Part 1: Free Yourself of the Dragon's Influence. (I am the only one in the party.) But I didn't get the notification of the quest being finished, and no reward or scroll for the second part of the quest. Also, the quest seems to have reset to 1 point again! (It's definitely showing as part 1, not part 2 And the part 2 quest in

[2016-04-25 01:49] Alys commented on #4252
@zinny13 That quest hasn't finished. The quest boss has 0.77 health left, which is probably showing as 1 health on the website. It will definitely finish tomorrow though (assuming you don't rest in the inn overnight) based on the damage you've already accumulated today! Comment here again if you have questions.

[2016-04-25 02:01] librarianmage commented on #7103
@lemoness @citrusella This is my idea for the planned tasks:

### Learn About Habitica

#### Notes

Overview of New Users:
💻 only: Top Bar, Under Help
FAQ:
📱: Menu > About > Help & FAQ
💻 : Top Bar, Under Help

#### Checklist
1. [ ] Read the Overview of New Users (Website only)
2. [ ] Read the FAQ

### Join the Newbies Guild

#### Notes

📱: Menu > Social > Guilds
💻: Social > Guilds
This is the best

[2016-04-25 02:09] zinny13 commented on #4252
Yikes, I clearly had a moment of brain freeze there. Sorry for the trouble, and thanks for your reply!

[2016-04-25 11:29] WezCorp commented on #5644
@Alys Sorry about the delayed response, didn't have time to test until now. But it's BRILLIANT! Worked a charm. I was able to filter challenges in guilds and participating. I deleted those 2 challenges that were causing problems and it still worked. I was also able to join and leave a guild (I couldn't leave them before). So it seems like everything is fixed and I won't avoid challenges as much no

[2016-04-25 11:37] Alys commented on #5644
Oh thank goodness! I'm so sorry it took us so long to work out what was wrong!

[2016-04-25 11:37] #5644 closed, assigned to nobody

[2016-04-25 14:18] ghost commented on #6977
Closing this as done.
I'll reopen it if we have any issues reported.

[2016-04-25 14:18] #6977 closed, assigned to nobody

[2016-04-25 14:59] mielikki6 commented on #4252
@Alys, you fixed it so fast, thanks a lot! :) Since then we finished another quest with no problem. Cheers!

[2016-04-25 20:41] sjbruno commented on #4252
Hi there, me and my party finished a quest (Vice, the Shadow Wyrm) 4h ago, but I didn't get the rewards. The last time this happened, as soon as I checked a task as completed, I received it, but now it didn't work. My user ID is c22e2475-fff9-4c3c-a67b-d2b71cc01b70

Don't know if it makes a difference, but at the time the quest was finished, I was dead. I only logged in again after the quest ended

[2016-04-25 21:16] Alys commented on #4252
@sjbruno You already have the achievement and equipment from that quest. Have you done that quest before? If this was the first time you've done it, then you did receive the rewards. You can see what they should be at http://habitica.wikia.com/wiki/Vice_Awakens . Let us know if you have questions!

[2016-04-25 21:19] Alex-Keyes opened #7112 "iOS app not fully displaying tags"
I've noticed that when creating a new habit the iOS app cuts off the last tag that I have. I can still click on it via scolding up but if I do not do that then it is not visible ![photo of the bug](http://i.imgur.com/lkJAlOM.jpg)

[2016-04-25 21:22] Alys commented on #7112
Issue moved to [HabitRPG/habitrpg-ios #363](https://github.com/HabitRPG/habitrpg-ios/issues/363) via [**ZenHub.io**](https://www.zenhub.io/)

[2016-04-25 21:22] #7112 closed, assigned to nobody

[2016-04-25 21:25] Alys commented on #7112
@Alex-Keyes Can you please go to the new location for this issue (https://github.com/HabitRPG/habitrpg-ios/issues/363 ) and click the subscribe button in the right-hand column? That will allow the iOS developers' comments to reach you by email, which could be important if they need to ask you questions about this.

Thanks for reporting it! If you find any other bugs in iOS, there's a quick link to

[2016-04-25 21:36] sjbruno commented on #4252
@Alys you're right. I did get the items. And I'm pretty sure I know what happened... When I logged in, I was dead and the quest was finished, so the system first rewarded me (although I died before the quest had finished) and only after that it dealt the damage.

I was level 28 yesterday. So I got to level 29 with the rewarded XP and got 100 gold, then lost it a fraction of a second later and went

[2016-04-26 03:05] librarianmage commented on #2751
@Alys is this still a problem?

[2016-04-26 03:07] librarianmage commented on #4326
@Alys Is this still needed (I am not a subscriber)?

[2016-04-26 03:09] librarianmage commented on #2413
@Alys @lemoness would this replace the dialog box? How should users get to it?

[2016-04-26 03:14] Alys commented on #2413
It wouldn't replace the dialog box - the current method of logging in should remain as it is. Instead, you can create a new page https://habitica.com/static/login with a non-popup form in the page. For the basics of creating a new static page, have a look at how https://habitica.com/static/clear-browser-data is done.

[2016-04-26 03:19] Alys commented on #4326
It still happens, although it's not solely with the Time Travellers page. For example, go to the Pets page, scroll part way down, then use the Inventory > Mounts menu item, and you'll be taken to part way down the Mounts page. I imagine there's a way of fixing this that would work in all cases, although I have no idea what the fix would be. :) I'm about to update the title to indicate it's other p

[2016-04-26 03:21] #6322 closed, assigned to nobody

[2016-04-26 03:25] Alys commented on #6306
I'm closing this now but if you're still having problems, tell us and let us know if anything in my previous comment was of use.

[2016-04-26 03:25] #6306 closed, assigned to nobody

[2016-04-26 03:26] librarianmage commented on #4326
@Alys Possibly useful: http://www.w3schools.com/jsref/met_win_scrollto.asp

[2016-04-26 03:27] Alys commented on #6285
@ruddfawcett I'm closing this but you're welcome to create the tool you have in mind. If you'd like to, comment here when it's completed, or if you have questions.

[2016-04-26 03:27] #6285 closed, assigned to nobody

[2016-04-26 03:28] Alys commented on #6241
I'm closing this now but if you'd like more help, see the suggestions from my previous post, and let us know if any of that helped. We'll still see your reply and can reopen this if necessary.

[2016-04-26 03:28] #6241 closed, assigned to nobody

[2016-04-26 03:29] Alys commented on #6593
I'm closing this now but if you'd like more help, see the question from my previous post, and let us know if there's any other information you can give us. We'll still see your reply and can reopen this if necessary.

[2016-04-26 03:29] #6593 closed, assigned to nobody

[2016-04-26 03:30] #6444 closed, assigned to nobody

[2016-04-26 03:50] #6639 closed, assigned to nobody

[2016-04-26 04:05] Alys commented on #6562
This seems to be fixed (see screenshot below from Chrome) but if anyone is still experiencing this, comment here with which browser and OS you're using, including the versions of both, and with a screenshot showing the menu and area where the tags should be.

![screen shot 2016-04-26 at 2 01 24 pm](https://cloud.githubusercontent.com/assets/1495809/14806600/d6f7186e-0bb7-11e6-9897-fdd21d8d70e2.png

[2016-04-26 04:05] #6562 closed, assigned to nobody

[2016-04-26 04:12] Alys commented on #4252
@sjbruno Ah yes, that's expected behaviour, although it _might_ be changed in future (comment on Trello if you wish - see Help > Request a Feature from habitica.com). Our standard description of this is:
When you die at the same time that a quest ends, then you do gain the gold and experience from the quest but lose it immediately afterwards due to the death. Think of it as a real-world battle bet

[2016-04-26 09:33] #5940 closed, assigned to nobody

[2016-04-26 09:33] #5918 closed, assigned to nobody

[2016-04-26 09:34] #5892 closed, assigned to nobody

[2016-04-26 09:47] Alys commented on #5751
@Miisa I'm very sorry we never responded to this! The extension has been updated recently (February 11, 2016) and I haven't seen any other reports of this, so I think it might be fixed. However if it's still happening and you're running the latest version of the extension, please tell us and we'll reopen this.

[2016-04-26 09:47] #5751 closed, assigned to nobody

[2016-04-26 09:56] Alys commented on #5673
@shadowhaloedangel I'm very sorry we didn't reply to this earlier!

The Dailies remaining ticked on one day while causing you damage on the previous day is this bug: https://github.com/HabitRPG/habitrpg/issues/4313
If it happens again, there's an "Advice" section near the top that will help you recover from the unfair damage.

For those two To-Dos, I think when you say damage, you're referring to

[2016-04-26 09:56] #5673 closed, assigned to nobody

[2016-04-26 09:59] GitHubSphinx commented on #5639
@Alys and maybe the [SOS!!!] tag also? =)

[2016-04-26 10:04] paglias commented on #5639
One idea could  be to create a string for each food made of article+food text. And then each language can manage it differently

[2016-04-26 10:38] Alys commented on #5512
I can't replicate this on Chrome on Mac OS, nor on Firefox 45.0.1 on Windows, so I think it's fixed, but tell me if I'm wrong and we'll reopen this and mark it for help welcome.

[2016-04-26 10:38] #5512 closed, assigned to nobody

[2016-04-26 10:52] horatio5000 opened #7114 "Can't leave guilds"
General Info
- UUID: f852bc5b-9473-4142-8666-52029bee1e21
- Browser:   Safari
- OS:   10.8.5
### Description

Hello! This is a similar issue to #6279, but I can't leave guilds. When I click leave, nothing happens. I can join guilds OK.
I created another account on the website and I can join and leave guilds perfectly fine on that one. It just seems to be my account - I have done some recommended t

[2016-04-26 11:24] Alys commented on #7114
@horatio5000 We'll need your User ID (UUID) before we can help with this. Please add it to a new comment here (we won't be notified if you edit it into your original post).

[2016-04-26 11:38] horatio5000 commented on #7114
Ah, sorry about that!   It's:    f852bc5b-9473-4142-8666-52029bee1e21

[2016-04-26 11:44] Alys commented on #7090
I've finally had a success with this! I've got rid of all the errors like the one below just by setting up a swap file. The normal recommendation for the size of a swap file is the same as or double the amount of RAM, but I went with four time the amount of RAM because I had enough free space; however less than that might well be enough.

digitalocean provides a nice guide for adding a swap file t

[2016-04-26 11:47] Alys commented on #7082
I believe this is now fixed for those installing the current code base from `develop`.

@nasfarley88 are you still trying to use the `api-v3` branch and are you still having trouble?

[2016-04-26 12:11] Alys commented on #6936
@swellingt0n Since you posted this, I've made some changes to [Setting up Habitica Locally](http://habitica.wikia.com/wiki/Setting_up_Habitica_Locally). If you're still having trouble, could you please try installing from scratch, working through that page from the top? Don't rely on any of the information you obtained from it previously. Pay particular attention to the "Important Notes" section.

[2016-04-26 12:16] Alys commented on #6499
@anuraags @anowlcalledjosh @GeorgeSG  I've been able to solve problems with missing modules in my own install by adding a swap file. See the "Important Notes" section in [Setting up Habitica Locally](http://habitica.wikia.com/wiki/Setting_up_Habitica_Locally) for details.

Also, I've made other changes over the past several days to that page. If you're still having trouble, please try installing f

[2016-04-26 12:16] #6499 closed, assigned to nobody

[2016-04-26 12:29] Alys commented on #7090
Wow..... Those problems I had running npm start were because I had neglected to copy config.json.example to config.json. You know what I should do? I should read [Setting up Habitica Locally](http://habitica.wikia.com/wiki/Setting_up_Habitica_Locally) and work through the instructions on that page from the top. :blush: :stuck_out_tongue_winking_eye:

Anyway, I now have a working local install agai

[2016-04-26 14:31] librarianmage commented on #2413
@Alys how do I change the password for a user from the database (I forgot my password)

[2016-04-26 15:48] natfarleydev commented on #7082
Yep, same trouble I think.

Log in case it isn't the same trouble. This is npm install from fresh vagrant.

My Virtualbox version is 5.0.16_RPMFusion r105871 if that helps.

[code]

[2016-04-26 17:05] SabreCat commented on #5639
That's probably best!

[2016-04-26 18:39] Alex-Keyes commented on #7112
@Alys Sounds great! I wasn't sure where exactly iOS issues were supposed to go.  Thanks for the heads up!

[2016-04-26 22:34] librarianmage commented on #5761
@crookedneighbor is this done?

[2016-04-26 22:35] librarianmage commented on #5648
@Alys, is this fixed? It looks like @doyler added a comment that fixed it.

[2016-04-26 22:43] Alys commented on #5648
@MathWhiz That's a commit on doyler's fork of github, and we can't review it until there's been a pull request (that triggers automatic tests that help us assess the code).

@doyler We're currently making changes to the API, which includes the code you've modified in your commit. The changes will be finished reasonably soon now, so if you want to continue with this fix, you might like to wait unti

[2016-04-26 22:44] librarianmage commented on #5648
@Alys Oh! I missed that.
On Tue, Apr 26, 2016 at 5:43 PM Alys notifications@github.com wrote:

[2016-04-26 23:04] Alys commented on #7082
@nasfarley88 Since you're using the API v3 branch, you'll need to use more recent versions of node an npm. That would probably correct the problem you're having. However that branch isn't really ready for normal use yet, and so you might have more luck with the `develop` branch, following the steps in https://habitica.wikia.com/wiki/Setting_up_Habitica_Locally

I'm closing this now but if you have

[2016-04-26 23:08] Alys commented on #2413
You could probably set up something to receive the email, but it's likely to be easier to use mongo, and even if you're not very familiar with mongo yet, this will be a good exercise. :)

Create a new user account with the password that you want to use. Export its data and look in the "auth" object (example below). Copy the values of "auth.local.hashed_password" and "auth.local.salt" to the old ac

[2016-04-26 23:09] Alys commented on #2413
Note that by "export its data" I mean use a mongo command to dump the user document. The in-game Data > Export feature won't show you the authentication information.

[2016-04-26 23:59] doyler commented on #5648
Yea I submitted the pull request but it was sitting around for awhile since there were no tests for it.

Gotcha though, I guess I'll wait for the new API then, but this has already been fixed on my end!

Thanks.

[2016-04-27 00:12] Alys commented on #5648
For the record, this is the PR (currently closed pending tests, as doyler says): https://github.com/HabitRPG/habitrpg/pull/6502

[2016-04-27 00:19] michaelabon commented on #5506
Given that #6034 was merged in, should this Issue be closed as fixed?

[2016-04-27 00:21] Alys commented on #5506
@mkenyon Thank you for asking but no, the pull request was closed, not merged, which means it hasn't been accepted yet and the bug still exists. A merged PR has a purple marker at the top under the title, rather than red one.

I'm marking this issue as "wait" until the new API is released.

[2016-04-27 02:29] ghost commented on #5761
From what I remember, all the issues mentioned in the ticket are fixed

[2016-04-27 02:58] sujunmin opened #7117 "Attack 2 times on the boss per day."
General Info
- UUID(me): ac6fbe37-b0dc-40d8-ba14-77dde66fbfa8
- UUID(xiamo): 27227345-eb10-4aa8-ba15-3e8e5d4e25e1
- Browser: Firefox 45.0.2
- OS: Ubuntu 16.04 LTS
### Description

We got 2 lines in team chat log for one player who attack the boss.

![2016-04-27 10-55-31](https://cloud.githubusercontent.com/assets/6415168/14840412/a77b9bd2-0c66-11e6-9d4a-811a648dab8b.png)

So once this play online,

[2016-04-27 07:05] teafunnyc opened #7118 "Facebook Login Error"
General Info
- UUID:
- Browser: Chrome
- OS: Mac
### Description

Logging in via Facebook on Chrome. Clicking on the login via facebook button, a popup comes up but immediately closes back to the static front page. The blue progress bar on the top fills when I click "Play Habitica" again but freezes right before it reaches the right side of the window.
#### Console Errors

[2016-04-27 07:07] Vampitch opened #7119 "emojis have no colour in windows browser"
UUID: 0e28c7af-59e6-4f0a-bc86-ae3356502211
Browser: Chrome 50.0.2661.87
OS: Windows 8

Maybe somebody is working on this but I couldn't find it in the other issues.

I use emojis to colour code my dailies, to-dos and habits. So this is very important for me. It was fine until yesterday. Today the emojis are greyed out. The same thing happens when I post in party chat for instance, they are still g

[2016-04-27 08:15] nnashwin commented on #6969
Hello!
I'd like to work on this issue if you guys are alright with it.

[2016-04-27 09:41] Megabjarne opened #7120 "Did not receive pet and mount after world boss"
General Info
- UUID: e9095b54-f079-4ca1-9348-bbdffe9e689e
- Browser: Chrome V.49.0.2623.112
- OS: Windows 7
### Description

After the defeat of Be-Wilder, i did receive the defeat-notification, and i received all of the items, except the pet and mount, all the foods was accounted for.

[2016-04-27 10:04] natfarleydev commented on #7082
Thanks @Alys. I still need to use the api-v3 branch since I'm trying to test the new api with a python library. How would I go about getting those newer versions (package management? ; from source?). I don't mind doing the heavy lifting just not sure of the best place to start.

Or is there another way to test the v3 api? I don't need to edit the js code, just use a bleeding edge version of the v3

[2016-04-27 10:22] Vampitch commented on #7120
This was being talked about in the Tavern, and the majority have not received their bee pets and mounts yet. Lemoness said it just takes a while for the pets and mounts to be given out to everybody. I quote

[2016-04-27 12:00] crookedneighbor commented on #7082
@nasfarley88

You should just need the newer version of npm. `npm install -g npm@3`

[2016-04-27 12:29] crookedneighbor commented on #7119
Thanks for reporting this. I'm working on it.

[2016-04-27 14:02] librarianmage commented on #6708
@Alys I can try looking at this!

[2016-04-27 14:06] librarianmage commented on #4365
@Alys I can try my hand at this

[2016-04-27 14:06] librarianmage commented on #4326
@Alys I can try this!

[2016-04-27 14:09] librarianmage commented on #4446
@crookedneighbor, is this still a problem?

[2016-04-27 18:41] ghost commented on #7119
@crookedneighbor I don't know if it's related (maybe not), but not to create a new issue:

`:watch:` is now converted to `function(watch) {[native code]}` for me in FF for win

I believe it may have got broken after the recent markdown changes

Please excuse me, if I'm reporting it to the wrong ticket

![scr](https://i.snag.gy/0tywIn.jpg)

[2016-04-27 18:41] jlreeve opened #7121 "Left the Tavern but still not dealing damage"
General Info
- UUID: 97a88169-776d-4681-9f9f-9f7a9b974eee
- Browser: Chrome
- OS: Windows/Android
### Description

I rested in the Tavern for the weekend (I think on my Android app) and left it on Monday (both web and app show that I could enter the Tavern now), but I haven't dealt damage in party quests for a couple of days now. I did cast spells which were logged in the party chat however. Looki

[2016-04-27 18:44] GitHubSphinx commented on #7119
Screenshot added
![scr](https://i.snag.gy/0tywIn.jpg)

[2016-04-27 20:04] joeysilva opened #7122 "Haven't received red hatching potion despite having received 43 total other hatching potion drops"
General Info
- UUID: 4d444b75-982b-420c-8f30-3415d560fd34
- Browser: Chrome
- OS: Linux and Mac
### Description

I've received a total of 43 hatching potions from random drops, but not a single one of them has been a red hatching potion. I'm not sure if you have a way of verifying if this is just bad luck or not; I computed the odds of this situation to be (9/10)^43 = 1%, so it's not crazy I guess

[2016-04-27 20:07] Dehtieme commented on #4252
Hi! Me party completed the Egg Hunt quest but some of the members didn't receive the rewards and achievement (including me). We asked in the Tavert Chat and they suggested us to report here. Could you fix that, please?

Name of the quest: Egg Hunt
User IDs of the people who are missing the rewards:
52f3bac8-421d-45ee-b804-8c82abfbfd83
4bdd7130-7a4d-417f-9ae9-18e39145080d
47cdd16c-d8f7-459e-8d83-9d

[2016-04-27 22:40] lemoness commented on #7120
Yes, the migration just goes very slowly. Everyone should have their bee pets and mounts now! If you're on Android and still don't see them, you'll need to do a content refresh. The easiest way to do this is to go to the Rewards page and reload. I'm going to close this issue now, but feel free to ask more questions if you have any!

[2016-04-27 22:40] #7120 closed, assigned to nobody

[2016-04-27 22:44] lemoness opened #7123 "Sticky Posts in Tavern"
Often there are messages that are useful to convey to new users who come to the Tavern, such as explanations about common bugs or answers to frequent questions. It would great if moderators and staff members had the ability to pin a sticky post to the top of the Tavern, so that it would be the first message that people saw regardless of when it was posted.

[2016-04-27 23:12] Alys commented on #7082
@nasfarley88 Sorry! You have a good reason for using the api v3 branch. I should have asked before closing this. You're welcome to keep posting here if you have more problems. Let us know if the npm3 install doesn't work. `npm --version` and `node --version` or `nodejs --version` will show you what you have installed.

[2016-04-28 05:32] quin-jay opened #7125 "Idea: Rebrand Generation 1 Pets as "Wild""
I know there has been talk of what to call the "original" 90 Generation 1 pets, since new players have no context that those used to be the only ones you could get. What if we called those pets "Wild"? My thoughts on how this would fit into Habitica conceptually and logistically:

Conceptually:
- If the pets are "wild", then egg drops hearken back to "random encounters" in other RPGs ("A wild Pika

[2016-04-28 05:55] quin-jay commented on #7103
Man, the instructions are so similar for almost every platform (kudos to the devs for that consistency, btw). This would be much easier if there was only an emoji that looked like the menu button.

But if we pictorally represent the menu button, it could look like so:

### Join the Newbies Guild

#### Note:

![menu-icon](http://icons.iconarchive.com/icons/icons8/windows-8/16/Very-Basic-Menu-icon.p

[2016-04-28 06:19] Kristyjnh commented on #7114
I have the same problem. I'll see the little blue loading bar but nothing else will happen. UUID: 4ee77f18-6288-4f57-9c46-b8fe8cbc7357

[2016-04-28 07:27] Pekyy commented on #4252
Hi, our party just finished The Golden Knight part 1 quest.

![habitica party](https://cloud.githubusercontent.com/assets/18715151/14878335/299a8e54-0d23-11e6-90fd-b0d9ac0e14f5.png)

Nobody received the rewards, nor the achievement. Please can you help us?

Our group ID: c88b19f5-891f-4e3b-acdf-9367c9c9f4bc

[2016-04-28 07:53] Alys commented on #7122
It's just bad luck. There's no code other than the random generator that controls which drops you get. Habitica has over a million user accounts, so something that happens with a chance of 1% can be expected to happen to several thousand players. You're one of those players at the moment, but in future you'll get red potions.

[2016-04-28 07:53] #7122 closed, assigned to nobody

[2016-04-28 07:57] Alys commented on #7123
It would be great if this could be done in a way that allowed it to work in the mobile apps (and any third-party tools) too. For example, it could be done by resorting the chat array so that the pinned posts were always at the top of the array. An extra attribute on the pinned posts could be added to allow for custom formatting.

Any method of solving this issue would probably require changes to c

[2016-04-28 08:19] Alys commented on #6969
@ttymed Please do! Thanks!

[2016-04-28 08:26] Alys commented on #7118
Please delete all habitica.com cookies from your browser (or just delete ALL cookies that your browser has, if that's easier). Then go to https://habitica.com/static/clear-browser-data and click the redebutton you'll see there.

Can you now log in?

[2016-04-28 09:11] Alys commented on #4252
@Dehtieme I've given the achievement and eggs to the players you listed. Reload if you don't see them. Please tell me if they don't appear after that!

@Pekyy Likewise, for your whole party.

[2016-04-28 09:26] Alys commented on #7114
@horatio5000 and @Kristyjnh  I've removed you from all your guilds, but not from your party.

Comment here if you have more problems.

[2016-04-28 09:26] #7114 closed, assigned to nobody

[2016-04-28 09:31] Alys commented on #7121
@jlreeve Your party doesn't have an active quest (it's still pending all the invitations being accepted).

For any previous quest, you might not have been a participant or it might have ended before you were able to do damage to it. I can't tell from the information remaining in the database, but I can tell that you've accepted the invitation to the current quest, and at the moment there's no sign

[2016-04-28 09:31] #7121 closed, assigned to nobody

[2016-04-28 09:51] Alys commented on #7117
@sujunmin I've looked into this, and I'm not certain there's a problem, but there might be and I'm going to keep investigating.

Below are the times for all of the attacks that xiamo has done in the current quest, and the final blow xiamo cast in the previous quest. The times will probably be reported in a different time zone than the one you are in, so they might look wrong, but they do accuratel

[2016-04-28 09:55] natfarleydev commented on #7082
Before upgrade:

[code]

Then:

[code]

resulting in these versions:

[code]

But still the same issue trying to install `phantomjs-prebuilt@2.1.7`. I'll try a fresh Vagrant box and upgrade straight away (before running `npm install`) to see if that makes a difference.

[2016-04-28 10:19] Alys commented on #7082
@nasfarley88 Follow the steps listed in [Setting up Habitica Locally](http://habitica.wikia.com/wiki/Setting_up_Habitica_Locally) BUT when you're in the Vagrant section of those instructions, stop just after doing this step:

[code]

Then do this:

[code]

Node should then be at version 5.x and npm should be at version 3.x. Note that you don't need to install or upgrade npm separately. If you find

[2016-04-28 10:52] horatio5000 commented on #7114
Thank you! But i have another problem.  It's that I can't thank you enough!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

[2016-04-28 10:59] natfarleydev commented on #7082
(Not sure if relevant: just `git pull`'d which changed a lot in `migrations/api_v3/users.js`.)

`sudo nvm install 5` came up with function not found, so I had to `sudo su` and then `npm install 5`. After that, I have:

[code]

But still the same error,

[code]

PS: I'm using Virtualbox version  5.0.16_RPMFusion r105871 which _should_ be fine?

[2016-04-28 11:12] Alys commented on #7082
I'm using Virtualbox version 5.0.18 r106667 (on Mac OS), which is slightly ahead of yours. I'm not sure if upgrading yours will help, but from memory, upgrading it is easy, so it's probably worth your time to try that.

I don't think it will be related to this problem.
You can expect frequent large changes while it's under development.

Can you please show us the full output of `npm install`? Also

[2016-04-28 11:19] Alys commented on #7114
@horatio5000 Awww! Thank you! :) :)

[2016-04-28 11:22] librarianmage commented on #7103
There is &#9776 (looks like ☰). Unfortunately I have no idea if it is
supported, as it is a Chinese symbol
On Thu, Apr 28, 2016 at 12:55 AM lynnyliz notifications@github.com wrote:

[2016-04-28 11:23] librarianmage commented on #7103
This is because markdown (currently) is not supported on the phone apps
On Thu, Apr 28, 2016 at 6:22 AM Ray Arndorfer raymond.arndorfer@gmail.com
wrote:

[2016-04-28 11:25] librarianmage commented on #7103
There is also ≡ (equivalence)
On Thu, Apr 28, 2016 at 6:23 AM Ray Arndorfer raymond.arndorfer@gmail.com
wrote:

[2016-04-28 11:57] crookedneighbor commented on #7082
Just an FYI, v3 is not using Node 5. It's using Node 4.

[2016-04-28 12:03] Alys commented on #7082
Ah, so sorry about that, @nasfarley88! Your original method of `sudo npm install -g npm@3` was correct. :(

Still show us the full output once you've changed back to node 4 and rerun npm install.

[2016-04-28 12:06] natfarleydev commented on #7082
No problem, I'll re install properly tonight and post the logs. Anything else useful I should grab?

[2016-04-28 12:27] #6692 closed, assigned to nobody

[2016-04-28 12:55] librarianmage commented on #7125
You may also want to suggest this in the [Trello](https://trello.com/c/odmhIqyW/440-read-first-table-of-contents).

[2016-04-28 13:00] librarianmage commented on #7103
However, on the website, they use ☰ (U+2630)

[2016-04-28 13:18] librarianmage commented on #2451
@lemoness Is this still a requested feature?

[2016-04-28 13:44] librarianmage commented on #2377
@Alys Is this still planned? If so, I could quickly submit a pull request.

[2016-04-28 13:49] librarianmage commented on #4638
@crookedneighbor Is this fixed with the change of markdown processors?

[2016-04-28 13:51] crookedneighbor commented on #4638
Oh gosh, I forgot this was ever opened.

[2016-04-28 13:51] #4638 closed, assigned to nobody

[2016-04-28 14:03] librarianmage commented on #3921
@Alys was there any consensus on this?

[2016-04-28 14:04] librarianmage commented on #5035
@Alys I can do this