[2018-04-30 23:57] khipkin commented on #10134
This has not happened again.

[2018-05-01 00:27] TheHollidayInn commented on #10134
Closing. Feel free to reopen if it happens again.

[2018-05-01 01:05] stuckfly opened #10310 "CPU loading in Habitica Tasks using Mac Safari (LastPass Related)"
[//]: # (Before logging this issue, please post to the Report a Bug guild from the Habitica website's Help menu. Most bugs can be handled quickly there. If a GitHub issue is needed, you will be advised of that by a moderator or staff member -- a player with a dark blue or purple name. It is recommended that you don't create a new issue unless advised to.)
**On 4/26 Alys replied to my post (quoted

[2018-05-01 01:43] khipkin commented on #10308
This happened again when I was viewing my party page, although all text rendered this time (as far as I can tell). I got one of those "out of sync" error popups though.

moment.js:293 Deprecation warning: moment().zone is deprecated, use moment().utcOffset instead. http://momentjs.com/guides/#/warnings/zone/
Arguments:
Error
    at g.zone (https://habitica.com/static/js/vendor.b91cfcde844f24cdc5d8

[2018-05-01 01:44] khipkin commented on #10308
I've been getting the error popups A LOT recently, but didn't look at the console before. It seems like it might be because I've checked in more than 500 (?) times and have no more rewards to unlock?

[2018-05-01 01:53] khipkin commented on #10308
https://github.com/HabitRPG/habitica/issues/10178#issuecomment-380428262 looks like the same error?

[2018-05-01 03:24] TheHollidayInn commented on #10308
Can you post your UserID?

[2018-05-01 04:33] khipkin commented on #10308
f9c89bba-abf8-4f20-a974-cf1550ff603f

[2018-05-01 07:16] csgray commented on #9651
A bit premature, as no one has approved my request to work on this, but I have a class assignment to submit a PR to an Open Source project and would rather work on one that I care about. That said: If we don't use my code because of it, I totally understand. I also haven't figured out yet where to remove the left margins from the first items and the right margins from the last items, so if someone

[2018-05-01 08:25] Alys commented on #8063
After a mod discussion, we've decided that there should be a change to this point from the top post: _"When a user who is not yet allowed to post tries to post, their message appears in the chat area but visible only to mods "_
The desired behaviour now is that the message should be visible to mods and to the user themself (but still not visible to any other user).

In addition, the user and mods

[2018-05-01 09:12] Alys opened #10312 "character limit on posts in Tavern, Guilds, Parties - client-side support only"
Posts in the Tavern, Guilds, and Parties should be limited to 3000 characters. Very long posts have been known to crash the mobile apps and also can be troublesome for moderation reasons.

The ideal situation is for this limit to be imposed by the API, however before that is done, there should be support for the in the website and both mobile apps. I.e., all three clients should prevent you typing

[2018-05-01 09:28] Alys opened #10313 ""Your Skill backfires" message for Mage's Ethereal Surge skill is misleading"
As described in https://github.com/HabitRPG/habitica/pull/10121, Ethereal Surge does not give Mana to Mages, and when you cast the skill, if your Party contains other Mages, you see this message in a snackbar notification:
`"Your Skill backfires when mixed with another's magic. Only non-Mages gain MP."`
(That's the `spellWizardNoEthOnMage` string in spells.json.)

We tried to write that message ca

[2018-05-01 09:43] paglias commented on #9651
@csgray sorry for the late response here but you can work on this!

[2018-05-01 09:49] paglias commented on #10310
Hi @stuckfly, have you tried if the same thing happens with Chrome or Firefox? Also can you try opening a private window in Safari and login from there and see if the problems persists? If it goes away you should try to clear your cache / cookies.

The fact that you're getting the same type of problems with gmail could indicate that there's a problem with your Mac, but myself with only 16gb of ram

[2018-05-01 11:42] Alys commented on #10217
@jerellmendoodoo Thanks! Please do!

[2018-05-01 11:50] Alys commented on #10183
@alliemoon there's been no more discussion about this and no comments here so I think it's good for you to work on if you still want to. Any final objections from anyone?

[2018-05-01 11:57] shanaqui opened #10316 "Market seems to force you to sell 0 of an item"
From Report a Bug:

This is confirmed on Windows 10/Chrome, screenshot:

![image](https://user-images.githubusercontent.com/8144640/39472097-5f5f027a-4d47-11e8-9123-b4635def825f.png)

I suspect this is to prevent errors from people clicking to sell with no number entered, but right now if you try to erase the 0 to add a number, you can't. You *can* sell whatever number of items you want by enterin

[2018-05-01 14:30] marvinrabe commented on #9619
I had a look at the challenge design and already improved the details page to match group detail design (pull request not yet created).

I can continue working on it if you want.

[2018-05-01 14:33] marvinrabe commented on #9283
I can have a look at this.

[2018-05-01 15:16] paglias commented on #9619
Go for it @marvinrabe !

[2018-05-01 15:17] TheHollidayInn commented on #10308
Do you have this gif used somewhere: http://i.imgur.com/Qc7Qe11.gif ?

[2018-05-01 15:17] paglias commented on #9283
@marvinrabe thanks!

[2018-05-01 15:17] TheHollidayInn commented on #10308
If so, can you change that to `https` to see if that helps.

[2018-05-01 16:26] khipkin commented on #10308
Umm sure, but I really really don't think that's the problem. That's just a warning, not an error.

[2018-05-01 16:53] TheHollidayInn commented on #10308
You have multiple issues above. I believe your 502s are an issue with breaking https (just a guess). That's the most important issue above.

[2018-05-01 16:53] DoguD commented on #10316
I want to work on this issue

[2018-05-01 16:55] DoguD commented on #10295
I can work on this issue.

[2018-05-01 17:03] paglias commented on #10295
@DoguD thanks, go for it!

[2018-05-01 17:03] paglias commented on #10308
I don't think HTTPS is related, some browsers are starting to enforce mixed content warning but that just means they won't load the image, it shouldn't break anything

[2018-05-01 17:04] paglias commented on #10316
Go for it @DoguD !

[2018-05-01 17:21] marvinrabe commented on #9619
Any feedback?

<img width="1364" alt="preview" src="https://user-images.githubusercontent.com/515860/39484047-c72ca18c-4d74-11e8-94ae-1e6acd94dc4d.png">

[2018-05-01 17:31] TheHollidayInn commented on #10308
Just doing some basic debugging here to rule stuff out. The issue is here:

[code]

Login incentives is like that for everyone based the mark. I'm just trying to see what would cause the 502s.

[2018-05-01 18:12] ghost commented on #10253
I fixed the bug, but before making a PR I want to ask whether the "Jackalope-RoyalPurple" pet-potion combination should be valid as well, because currently it is valid and I could quickly fix that as well and submit both fixes in the same PR (if that combination should also be invalid). Let me know :) @SabreCat @paglias

[2018-05-01 18:18] hathix commented on #10313
I think a notification is useful, but it could be something as simple as `{player name} wasn't affected by your Ethereal Surge spell!`

[2018-05-02 03:54] Yutsuten commented on #10313
I see...
If we consider that no other skills have a custom (extra) notification, not having it in `Ethereal Surge` too really makes more sense, and it is less misleading. If the user is curious about what the spell does, the skill description have that information, as any other skill.

But somehow I still think that, at least as a temporary feature, the notification was a good idea. Now every mage

[2018-05-02 11:46] shanaqui opened #10318 "Title of group creation modal is "Select Payment" rather than "Create Group""
From Bug guild:

![image](https://user-images.githubusercontent.com/8144640/39521508-1080ebbe-4e0f-11e8-887f-2088d20b10a8.png)

[2018-05-02 11:49] Alys commented on #10318
We have this recorded here: https://github.com/HabitRPG/habitica/issues/10118
along with some related problems. :)

[2018-05-02 11:49] #10318 closed, assigned to nobody

[2018-05-02 11:50] shanaqui commented on #10318
Urgh, apparently I suck at searching today. XD

[2018-05-02 16:31] SabreCat commented on #10253
@asherdale Jackalopes are awards for subscribers, not hatchable pets, so that can indeed be fixed. (We don't have any non-purple jackalopes to see this bug in action with them as yet, but it doesn't hurt to be proactive!)

[2018-05-03 02:02] khipkin commented on #9249
@beffymaroo Sorry, no. Couldn't get my local install working.

[2018-05-03 02:03] khipkin commented on #9958
@beffymaroo Sorry, no. Couldn't get my local install working. I would still be interested in this though, if someone can help me get it working.

[2018-05-03 02:57] DrStrangepork commented on #8735
The current state:
Hitting Send Invites pops up a single error message on the first already-in-a-party member.
Hitting Send Invites again pops up another error message on the next already-in-a-party member.
Subsequent Send Invites pops up another error message on a random already-in-a-party member.

[2018-05-03 04:26] Alys commented on #9958
@khipkin We can help with that! In case you haven't noticed, there's new pages for most of the installation methods with updated details - see the links at the top of the main Setting Up Habitica Locally page. See if that helps, and if not, tell us  what's going wrong in the Aspiring Blacksmiths guild.

[2018-05-03 09:45] SilkAndSlug commented on #10100
Also happened to me

[2018-05-04 05:33] stuckfly commented on #10310
Using a private window in Safari and logging into Habitica gives same CPU results, with one odd difference: it does not matter what tab, window, or app I go to—even if Safari is not the active active app it hogs resources (whereas in a non-private window it only happens with Habitica up front in Safari looking at the Tasks page. Weird.

It took me a lot of work to remove Chrome last year, because

[2018-05-04 21:05] beffymaroo commented on #8813
@abatula OK. I'm adding a "help wanted" label to this issue, but if you find time and would like to pick it up again just let us know!

[2018-05-04 21:05] #10306 closed, assigned to nobody

[2018-05-04 21:06] #9651 closed, assigned to nobody

[2018-05-04 21:07] beffymaroo commented on #9249
@khipkin Thanks for the update! I'm changing this back to "help wanted" for now, but you're welcome to pick it back up if you find time before someone else claims it.

[2018-05-04 21:21] beffymaroo commented on #10008
~@paglias Do we have this covered or should it get a Help Wanted label?~

Got an update from @shanaqui indicating they and @ehlyah will be working on it. :)

[2018-05-04 21:24] beffymaroo commented on #9372
@jnes92 Any updates on your work on this issue? Let us know when you have a chance. Thank you!

[2018-05-04 21:39] beffymaroo commented on #9840
@razzlepdx How this fix going? Did you get the bumps in the local install worked out (see also Alys's comment)? Let us know when you have a moment. :)

[2018-05-05 02:01] coder-extreme commented on #10279
Can I try working on this?

[2018-05-05 08:05] jcarey5225 commented on #9489
Is this issue likely to get an update?

[2018-05-05 16:55] khipkin commented on #10308
Just had this recur. Got another big error popup on the upper right.

I don't know when I last reloaded the page, but there are tons of messages in the console.

Console:

vendor.d74eb5c80000a7c3241e.js:1 Deprecation warning: moment().zone is deprecated, use moment().utcOffset instead. http://momentjs.com/guides/#/warnings/zone/
Arguments:
Error
    at g.zone (https://habitica.com/static/js/vendor

[2018-05-06 02:52] Alys opened #10333 "Rogue skills are re-casting themselves (Mage/other skills might have problems too)"
Several players have reported in the Report a Bug guild that they cast Rogue skills and discovered that the skills were cast more than once. I've copied the reports below, including an insightful analysis by loveroflibraries at the bottom.

There's also this report by krumeluuri (267135db-e7f8-42d9-bed2-f84b4261b64e) about a Mage skill being cast twice but only once works, which might be related:

[2018-05-06 03:17] Alys opened #10334 "Stats Points allocation problems (negative points occur, loading button remains, etc)"
It's now possible to have negative Stat Points. For example:
[code]

Syraxis: _"My perception keeps going negative. It has done it twice now. Both times it shows that I have negative points allocated to that stat. First time was -10, how is -20. I believe this started after I joined a guild and they were using buffs on the party but I am not sure."_

citrusella, the serving wench: _"@Syraxis This

[2018-05-06 03:18] Alys commented on #10333
I've marked this as important because it's likely to be reported a lot and because we probably have a better chance of working out what's gone wrong with recent code before too many other changes are merged.

[2018-05-06 03:19] Alys commented on #10334
Syraxis changed class on May 3, 2018 8:49:17 pm UTC. I've asked them for details about if/how they allocated their Stats Points.

[2018-05-06 03:33] Alys commented on #9986
Another report, from jaolsn (04fd7a1a-1964-49c6-a2cb-59d2d231c7f6):
"After I close any one of the regular Habitca pop-up windows, a second window showing all of my character stats/profiles will pop-up every time."

(Sorry @shanaqui we should have reopened this from your report.)

[2018-05-06 03:34] Alys commented on #9211
I've taken this off hold.

[2018-05-06 04:10] Alys commented on #9986
Also just happened on my local install:
1. Create a challenge
2. Don't add task
3. Leave the challenge, choosing the option to remove all tasks
4. The challenge creation modal reappeared automatically

[2018-05-06 06:44] Alys commented on #10242
I've been experimenting on my local install with mongodb's built-in text indexes, which automatically use stop words (ignore "the", etc) and stemming (search for "dogs" and find "dog"), and which allows sorting the results by score. Weights can be added to the index if more than one field is indexed. Based on my tests on a limited set of challenges, it seems promising and easy to implement.

Docum

[2018-05-06 07:26] Alys commented on #10334
MBolario (94990987-6657-4a45-8975-ae48f120cb3a)
"I've got the same issue with @Syraxis, changed class from warrior to rogue and now my strength is negative"
[code]

If there isn't a simple fix for this new bug, it might be worth doing this issue to fix all Stats Points bugs at once and prevent any future ones:
https://github.com/HabitRPG/habitica/issues/6482 "need generic function to do allocation

[2018-05-06 10:59] Alys commented on #10334
Assigning Stats Points after changing class causes this (and possibly just changing points at other times too but I haven't bothered investigating that).

After a brief look at the code and some testing with a class change, I'd guess that `statsAtStart` isn't being set correctly in website/client/components/userMenu/profileStats.vue but that should be verified before anyone tries fixing it.

# Bef

[2018-05-06 10:59] Alys commented on #10334
Oh and the "pts" label falls outside the box sometimes.

[2018-05-06 11:04] Alys commented on #10334
Also sometimes after you've clicked Save, the button stays as "Loading..." indefinitely. You have to reload to get it to go back to Save.

There's also a bug with Mana. When you increase the points assigned to INT, you gain 1 MP for each Point given to INT which is correct and should not be changed. However if you click the down button to remove points from INT, no points are removed from your Man

[2018-05-06 11:06] Alys commented on #10334
If you reload the website immediately before assigning Stats Points, you don't experience the bug that makes some Stats negative. Presumably that causes statsAtStart to be set correctly.

[2018-05-06 11:48] Alys opened #10335 "beard and mustache facial hairs can't be bought as a full set (twice the correct gem cost is charged)"
As reported in the Report a Bug guild by GeraldThePixel (3d129848-79e2-4d89-a3d7-5941a44c9a84):

"Hey! I was looking at the mustaches in character customization, and noticed that each of the two mustaches costs two gems, or you can buy both for five. I know this is less of an bug, but more of a content issue. But I figured here would be a good place for it."

Here's a screenshot showing the proble

[2018-05-06 12:25] aszlig commented on #10333
I can confirm this and it's also the case for other classes as well, the issue happened between v4.40.0 and v4.41.5. Bisecting...

[2018-05-06 13:21] TheHollidayInn commented on #10333
I'll look into this. I'm pretty sure my spell changes caused the issue

[2018-05-06 13:22] aszlig commented on #10333
Not yet done, but I'd suspect 8d25a5d140958faa790e3c245ebb16bb9616945f has introduced the bug.

[2018-05-06 13:25] aszlig commented on #10333
@TheHollidayInn: :+1: - stopping bisect :-)

[2018-05-06 13:45] aszlig commented on #10333
@TheHollidayInn: While looking at the code there doesn't seem to be a server-side check whether there is sufficient MP, so MP could become negative.

[2018-05-06 13:57] TheHollidayInn commented on #10333
This is the check: https://github.com/HabitRPG/habitica/blob/c26696a9ebf090747cee8aa6a297dd3232ee6350/website/server/controllers/api-v3/user/spells.js#L90

But it doesn't take in to consideration the qty, although I'm removing our client side use for that atm.

[2018-05-06 20:51] Alys commented on #10334
Another report of the Loading button not changing back to Save from claudia, Evil Overmom (0396e6e1-0edc-46f5-9449-24891ba16698):

_"I'm having an issue with assigning attribute points. (Website, Chrome.) Sometimes when I pull up the window, it will say "loading" instead of "save" and never stop; other times it will seemingly let me make the change, but then starts the never ending "loading." I ge

[2018-05-06 22:54] #10333 closed, assigned to nobody

[2018-05-07 02:18] andrewschultz commented on #10313
Maybe "Energy flows out to the non-mages in your party!" ... your non-mage companions

My feeling as a player is

* As-is, we may be in a catch-22. The long time players won't need the current message, but newer players may find it discouraging.
* hovering over "ethereal surge" does mention non-mages, but I think we should still have a succinct, positive message for each cast, since it is differen

[2018-05-07 04:05] fentie commented on #10023
I think I can handle switching from `push-notify` to `node-apn`, although I'm not sure I've got all the credentials to make the switch from certs to tokens.

Do we have any tests for ios push notifications currently? I see a disabled unit test for APN, and some API tests that are more about the `push-devices` contract

[2018-05-07 13:59] marvinrabe commented on #9956
I will do this.

[2018-05-07 14:14] marvinrabe commented on #9286
I will do this.

[2018-05-07 18:18] marvinrabe commented on #9244
I will do it.

[2018-05-07 19:23] marvinrabe commented on #10148
https://github.com/HabitRPG/habitica/pull/10317 fixes:

- Challenge Page Sidebar
- "Hide Missing"
- Guilds Page Sidebar

[2018-05-07 21:19] #9295 closed, assigned to SabreCat

[2018-05-07 22:35] marvinrabe commented on #10312
I can do this if its needed.

[2018-05-07 23:02] marvinrabe commented on #10310
I tried to reproduce it on my Macbook Pro 13 Retina 2015 with the latest version of macOS and Safari and current develop branch. I couldnt notice any increased CPU usage.

What Mac do you have? How many programs are running in the background (count the dots in the dock below the icons)?

[2018-05-07 23:24] stuckfly commented on #10310
Thanks for trying to reproduce the problem.

I'm on a Retina 5k 27-inch late 2015 iMac, latest versions of MacOS and Safari, and 32 GB RAM.
I average half a dozen apps running, but I've tested this with only Safari running, with only the Habitica Tasks tab and it still chews up the CPU.

Obviously, I've gotten cynical about Safari! (I hope you got that I'm leaning toward Safari at fault and not Ha

[2018-05-08 10:25] coder-extreme commented on #10279
After a comment on the Aspiring Blacksmiths Guild, I have started work on this.

[2018-05-08 12:24] Alys commented on #10279
@coder-extreme Thanks! That's fine. :)  If there's another case where we don't reply to a comment you've made in an issue or pull request, after a few days post there again to remind us that you're waiting. Sorry about that!

[2018-05-08 13:56] coder-extreme commented on #10279
Thanks!

---
This email has been checked for viruses by Avast antivirus software.
https://www.avast.com/antivirus

[2018-05-08 14:18] #10334 closed, assigned to TheHollidayInn

[2018-05-08 14:25] limbusdev commented on #9514
Problems persists in Firefox 59.0.2 in Ubuntu 18.04.

[2018-05-08 14:50] gembutterfly commented on #9514
Problems persists in Firefox 59.0.2 in Ubuntu 18.04.

[2018-05-08 21:56] Alys commented on #9244
Thanks @marvinrabe ! I've changed this to in progress

[2018-05-08 22:02] Alys commented on #9956
Thanks @marvinrabe ! I've changed this to in progress

[2018-05-09 20:04] SabreCat commented on #10267
@yb50110 Please do submit a PR and we'll take a look!

[2018-05-09 20:32] SabreCat commented on #10272
Hasn't come up in a while; might have been some intermittent server-related issue? Closing for now, will reopen if reports resurface!

[2018-05-09 23:47] beffymaroo commented on #9861
@rkojima Thanks so much for the update! I'll mark the PR as ready for testing.

[2018-05-09 23:49] beffymaroo commented on #10035
@toivomattila Thanks so much for the update!

[2018-05-09 23:55] beffymaroo commented on #9031
@TheHollidayInn In this still in progress, or should it be closed?

[2018-05-10 00:06] beffymaroo commented on #6941
@TheHollidayInn Is this still in process, or does it need label changes?

[2018-05-10 00:08] beffymaroo commented on #9326
@TNychka Are you still working on this/do you plan to work on it soon? Please let us know when you have a moment. Thank you.

[2018-05-10 00:13] beffymaroo commented on #9425
@Tressley @TheHollidayInn Is this still an issue that might be on hold pending design?

[2018-05-10 01:15] evantd commented on #6941
I'm still really excited about it, so I hope it can be included soon.

[2018-05-10 01:55] Alys commented on #6941
I'd still like to remove the special handling for Resting in the Inn from the cron code with the exception of (iirc) just one `if` statement around the normal cron code that we don't want to run when the user is Resting. That would remove the blocker for this change. I definitely agree that the cron code could be refactored to be better, but merging the Resting code back in to the main code won't

[2018-05-10 02:18] TNychka commented on #9326
Sorry, I forgot about this. Something came up and I won't be able to work on this one anymore. Sorry

[2018-05-10 03:09] SabreCat opened #10351 "Tag checkboxes no longer appear within Tasks"
[//]: # (Before logging this issue, please post to the Report a Bug guild from the Habitica website's Help menu. Most bugs can be handled quickly there. If a GitHub issue is needed, you will be advised of that by a moderator or staff member -- a player with a dark blue or purple name. It is recommended that you don't create a new issue unless advised to.)

[//]: # (Bugs in the mobile apps can also

[2018-05-10 07:37] paglias commented on #10023
@fentie thanks! if you want to make a PR to switch from certificates to tokens that would be great, we'll add the right credentials later. As per the tests if they're disabled it means they weren't working so feel free to change them in your pr

[2018-05-10 07:41] paglias commented on #10242
That looks good to me @Alys , the only thing is that I remember we're already using a text index but maybe not the $text query? cc @TheHollidayInn

[2018-05-10 14:00] mcshakes commented on #10297
If no one called dibs, I'd like to take a crack at this. Anything I need to know before I dive in?

[2018-05-11 19:32] SabreCat commented on #10351
Resolved by reverting `bootstrap` to version 4.1.0 (from 4.1.1). We'll wait for another version update and see if it continues to be trouble.

[2018-05-11 19:32] #10351 closed, assigned to nobody

[2018-05-11 19:35] SabreCat opened #10353 "Cannot allocate stat points after leveling up unless you reload the page first"
[//]: # (Before logging this issue, please post to the Report a Bug guild from the Habitica website's Help menu. Most bugs can be handled quickly there. If a GitHub issue is needed, you will be advised of that by a moderator or staff member -- a player with a dark blue or purple name. It is recommended that you don't create a new issue unless advised to.)

[//]: # (Bugs in the mobile apps can also

[2018-05-11 20:18] #10117 closed, assigned to nobody

[2018-05-11 21:06] Alys commented on #10353
sounds related to this: https://github.com/HabitRPG/habitica/pull/10344#issuecomment-387560960

[2018-05-12 00:00] yb50110 commented on #10267
I have a PR up (https://github.com/HabitRPG/habitica/pull/10354) for the responsiveness aspect of this issue!

[2018-05-12 04:29] fentie commented on #10023
So I made a PR for this... my initial reaction would be to include the team ID and key ID in config.json but the wiki makes it pretty clear not to edit that file, so... here we are. Otherwise hardcode those 2 values and upload the key and if the planets align you should (continue to) have iOS push notifications. I don't have an iDevice to test with so sadly I can't verify this myself.

[2018-05-12 05:33] Alys commented on #10023
Ah! That's another thing that can be improved on the wiki. :) It's fine to modify `config.json.example` for the purposes of submitting a legit change in a PR. The wiki is just trying to say that you shouldn't try to modify the example file for your own local purposes (i.e., don't modify it by accident when you're trying to change `config.json`).

[2018-05-12 06:52] Alys commented on #9753
Reopening this because the bug exists again.

[2018-05-12 11:34] Alys commented on #10242
Ah yes, in the prod database, we have this text index for groups (no text index for challenges):
[code]

That groups index wasn't on beta but I've now done these two commands on the beta database (took just a few seconds each to run btw):
`db.challenges.createIndex({name:"text",summary:"text"},{"weights":{name:3,summary:1}})`
`db.groups.createIndex({name:"text",summary:"text"},{"weights":{name:3,s

[2018-05-12 14:02] fentie commented on #10023
@Alys I assumed that was the case, but better safe than sorry. In that case I'll make new keys for those values unless you all would prefer them stored elsewhere

[2018-05-12 16:36] paglias commented on #10242
The looks good to me, are you going to create a PR with the query changes? cc @TheHollidayInn

[2018-05-13 00:41] Alys commented on #9847
I'm taking this off hold and marking it as help wanted because the PR referred to above has been merged, but any contributor wanting to work on this should definitely post here first and wait for a reply because paglias might have specific instructions about what should be done.

[2018-05-13 00:47] Alys opened #10356 "duplicate/multiple notifications for new guild/party messages"
As reported by Gumnos (43e2413a-f440-43c8-b96c-85b93024488c):

"Until recently, I'd only get one notification per guild/party (3 guilds + 1 party meant usually no more than 4 notifications unless there was the occasional extra stat-point to allocate, a quest notification, or a DM).  Sometimes I'd hit a glitch and it would give me one duplicate, but refreshing my browser always fixed/consolidated d

[2018-05-13 03:01] Alys commented on #10242
I'm hoping to have time to play around with the code in the next day or two, but I'm not certain enough to claim the issue yet. :) It should stay marked as help wanted in case someone beats me to it.

[2018-05-13 04:12] fentie commented on #10254
I think this is something I can sort out

[2018-05-13 05:54] Alys commented on #10254
@fentie Thank you!

[2018-05-13 05:57] Alys commented on #10297
@mcshakes Please go ahead, thanks!

[2018-05-13 07:51] Alys commented on #10242
So this would be my proposed change if I did this. I'm still not necessarily claiming this issue, just getting it a step closer. :) Does this seem right?

Replace these lines:
https://github.com/HabitRPG/habitica/blob/d4d668f640afea0b1fb09bf2a3c1cc6425e49e76/website/server/controllers/api-v3/challenges.js#L384-L389
with code based on this:
`{$text: {$search: "search terms"}}, {score: {$meta: "text

[2018-05-13 10:11] paglias commented on #10242
yeah that seems the right path

[2018-05-13 10:47] paglias commented on #10356
This is probably due to the fact that we disabled versioning for notifications: https://github.com/HabitRPG/habitica/pull/10348/files#diff-7335e8e068fde8d7b2f308037cd04730R600

[2018-05-13 14:04] #10169 closed, assigned to nobody

[2018-05-13 14:04] #10335 closed, assigned to nobody

[2018-05-13 14:07] #10295 closed, assigned to nobody

[2018-05-13 14:12] #10254 closed, assigned to nobody

[2018-05-13 14:31] #9283 closed, assigned to nobody

[2018-05-13 14:31] #9286 closed, assigned to nobody

[2018-05-13 14:31] #9619 closed, assigned to nobody

[2018-05-13 14:31] #9956 closed, assigned to nobody

[2018-05-13 20:46] ianoxley commented on #10264
Can I just check what browsers you support please? Using CSS Grid seems to fix this, but I wasn't sure whether I'd need to get this working in things like IE11 😬

Also, I've added a screenshot to my PR. Is the way the text wraps at smaller screen sizes acceptable? Let me know if it's OK, or if it needs tweaking.

[2018-05-14 09:46] Saramrkd opened #10359 "NOResetPasswordEmail!"
i need my passwort which i have forgotton.but git hub sends me no reset email link.what should i do.i t is urgent.plz help!

[//]: # (Before logging this issue, please post to the Report a Bug guild from the Habitica website's Help menu. Most bugs can be handled quickly there. If a GitHub issue is needed, you will be advised of that by a moderator or staff member -- a player with a dark blue or pu

[2018-05-14 09:57] Alys commented on #10359
Are you trying to reset your password for Habitica or for GitHub?

You said "git hub sends me no reset email link" - if you're trying to get into your GitHub account, we can't help you here because this is the repository for Habitica. You'd need to contact GitHub for help: https://github.com/contact

If you're trying to reset your password for Habitica, please email us at admin@habitica.com and te

[2018-05-14 09:57] #10359 closed, assigned to nobody

[2018-05-14 12:30] Tressley commented on #9425
@beffymaroo -- It shouldn't be. I think the solution was just to use a tooltip. We'll probably just want copy for it.

[2018-05-14 22:31] coder-extreme commented on #10279
I'm so sorry, but there is so much going on right now in my life that I don't have the time to figure out how to contribute right now. I don't think I'll have the time to fix this right now, but I may come back to it later.

[2018-05-15 03:18] #10353 closed, assigned to nobody

[2018-05-15 14:14] paglias commented on #10351
Could be this https://github.com/twbs/bootstrap/issues/26453

[2018-05-15 15:00] paglias commented on #10351
Fixed in https://github.com/HabitRPG/habitica/commit/6db412f7e683d7390c644a210a11d10a67cc7478 and then upgraded again

[2018-05-15 15:03] paglias commented on #9838
Have we had any report of this recently? Otherwise I'd close the issue since there doesn't seem to be anything actionable that we can do

[2018-05-15 15:05] paglias commented on #8931
I've checked the reject invitation code and it's code to handle multiple invitations:

[code]

Is there a way to reproduce this bug?

[2018-05-15 15:20] paglias commented on #10316
@DoguD I'm going to fix this directly in develop

[2018-05-15 15:21] #10316 closed, assigned to nobody

[2018-05-15 15:26] paglias commented on #10312
@marvinrabe sorry for the delay, go ahead if you want to!

[2018-05-15 15:27] ghost opened #10365 "Group tasks not behaving as expected"
[//]: # (Before logging this issue, please post to the Report a Bug guild from the Habitica website's Help menu. Most bugs can be handled quickly there. If a GitHub issue is needed, you will be advised of that by a moderator or staff member -- a player with a dark blue or purple name. It is recommended that you don't create a new issue unless advised to.)

[//]: # (Bugs in the mobile apps can also

[2018-05-15 15:27] paglias commented on #10217
@jerellmendoodoo  have you made any progress on this?

[2018-05-15 15:29] paglias commented on #10229
We've removed stackimpact so I'm going to close this, feel free to comment if you still have problems

[2018-05-15 15:29] #10229 closed, assigned to nobody

[2018-05-15 15:33] paglias commented on #5853
I'm merging this issue with #6426

[2018-05-15 15:33] #5853 closed, assigned to nobody

[2018-05-15 15:34] paglias commented on #6426
As reported in #5853 it's also impossible to score dailies with Windows' speech recognition software

[2018-05-15 16:39] TheHollidayInn commented on #10365
This is currently the expected behavior. Assigning a task to two users means that each of them must complete it.

We have discussed the shared progress, let me share your suggestion internally.

[2018-05-15 22:53] Alys commented on #10313
I think @Yutsuten makes a good point with this:

I feel that no matter how we worded the notification, it could still be misleading or demotivating, so I believe it's best to not have it now.
@Yutsuten I'll mark this as in progress for you since you've said you'd like to do it, but post here if you've changed your mind or are too busy now and we'll set it to help wanted. Thank you!

[2018-05-16 10:37] Alys commented on #10255
Since no one has expressed a preference, let's go with changing the `acquireMethod` to `Free` (as well as changing the `gemCost` of course).

[2018-05-16 14:43] Joseph67843 commented on #6426
Is this related to #9796?

[2018-05-16 19:00] CurlyBraceTT commented on #9754
May I take this? Got some experience resolving obscure IE bugs.

[2018-05-16 20:38] paglias commented on #9754
Go for it @CurlyBraceTt !

[2018-05-16 21:41] jerell-mendoza commented on #10217
@paglias still interested/looking into it a little here and there - sorry it's been a bit slow though

[2018-05-16 21:44] beffymaroo commented on #9326
Thank you for checking in, @TNychka ! No problem, I'll just change it back to Help Wanted.

[2018-05-16 21:47] beffymaroo commented on #9701
@BradLugo Since it's been about a month, I've changed this issue back to Help Wanted. If you come back and it's still available and you'd like to try again, let us know!

[2018-05-16 21:50] beffymaroo commented on #10217
@jerellmendoodoo Thanks for the update! We'll leave this as in-progress for now, then, since you're still working on it.

[2018-05-16 22:14] beffymaroo commented on #8619
@LunarGem Since we haven't heard from you in a while, I've changed this issue to Help Wanted. If you'd like to pick it back up just let me know!

[2018-05-16 22:21] beffymaroo commented on #8087
@Alys Is this issue still in process? Should any label changes be made since the associated PR is abandoned?

[2018-05-16 22:23] beffymaroo commented on #9248
@Feywood How is this fix going? Since it's been about a month, please update us when you have a moment. Thank you!

[2018-05-16 22:28] beffymaroo commented on #9899
@kartikadur Just checking in on this issue as well. Let us know how it's going when you have time. Thank you!

[2018-05-16 22:29] beffymaroo commented on #9904
@Mahendran-Nadesan How is this fix going? Please update us when you have a moment. Thank you!

[2018-05-16 22:37] beffymaroo commented on #9806
@Mahendran-Nadesan Checking in here as well- are you still working on this issue?

[2018-05-16 22:38] beffymaroo commented on #9559
@Alys Should I change the status on this one to Help Wanted?

[2018-05-16 22:39] beffymaroo commented on #10214
@alliemoon Are you still working on this issue? Please let us know when you have a moment. Thank you!

[2018-05-17 00:31] SabreCat commented on #10365
There's some confusion in the Report a Bug Guild about this even now:

**Squatch** (e723a5b7-a58f-4871-96e7-61c1a1dc9d87):

[2018-05-17 06:36] kartikadur commented on #9899
I'm dealing with the logistics of shifting to a new job, so I wont be able
to deal with this for a few months at best. If someone else wants to work
on this let them have it. I'll work on something else when I have time in
the near future.

On Thu, May 17, 2018 at 3:58 AM, beffymaroo <notifications@github.com>
wrote:

[2018-05-17 06:36] kartikadur commented on #9351
Nothing yet, I'm dealing with the logistics of shifting to a new job, so I
wont be able to deal with this for a few months at best. If someone else
wants to work on this let them have it. I'll work on something else when I
have time in the near future.

On Thu, May 17, 2018 at 3:54 AM, beffymaroo <notifications@github.com>
wrote:

[2018-05-17 08:14] Alys commented on #9559
Ah, sorry, I should have changed the status to help wanted when I reopened it. I've changed the label now.

[2018-05-17 08:19] Alys commented on #8087
I've marked it help wanted but it probably most needs to have the remaining items broken into new issues (or just handled rapidly if the fixes are small). If no one's claimed this by the weekend, I'll try to make time to clean it up.

I'd still need information about the `dueDate` parameter from my comment just above. Maybe from @TheHollidayInn ?

[2018-05-17 10:34] paglias commented on #6426
@Joseph67843 yeah they're related but I'd keep them separately as #9796 can be fixed more easily than this one

[2018-05-17 16:37] jerell-mendoza commented on #10217
@Alys , I've created a PR to address the issue!

[2018-05-18 10:02] shanaqui opened #10371 "Challenge formatting including text wrapping is wonky on the guild page"
Reported by Cinnamon Toast in Report a Bug, confirmed by me:

Examples:

![image](https://user-images.githubusercontent.com/8144640/40229012-40d8e31c-5a93-11e8-8af9-0e3d5b5fd00c.png)

![image](https://user-images.githubusercontent.com/8144640/40229022-4c729cd6-5a93-11e8-852a-b927f84ac93b.png)

[2018-05-18 15:04] #10217 closed, assigned to nobody

[2018-05-18 15:06] paglias commented on #10371
So the issues here are both the text wrapping and the missing markdown formatting?

[2018-05-18 15:07] #10264 closed, assigned to nobody

[2018-05-18 15:09] #10313 closed, assigned to nobody

[2018-05-18 15:11] #9768 closed, assigned to nobody

[2018-05-18 15:18] shanaqui commented on #10371
Yep!

[2018-05-18 15:33] paglias commented on #10371
Fixed in release, will go live soon

[2018-05-18 17:15] #10371 closed, assigned to nobody

[2018-05-18 19:41] #10031 closed, assigned to SabreCat

[2018-05-18 19:42] TheHollidayInn commented on #9838
Closing for now. Feel free to repoen if another report.

[2018-05-18 19:42] #9838 closed, assigned to nobody

[2018-05-18 19:45] #9249 closed, assigned to SabreCat

[2018-05-18 21:13] SabreCat opened #10373 "Landing page social media buttons misaligned in Internet Explorer"
[//]: # (Before logging this issue, please post to the Report a Bug guild from the Habitica website's Help menu. Most bugs can be handled quickly there. If a GitHub issue is needed, you will be advised of that by a moderator or staff member -- a player with a dark blue or purple name. It is recommended that you don't create a new issue unless advised to.)

[//]: # (Bugs in the mobile apps can also

[2018-05-18 21:15] SabreCat opened #10374 "Some promo images and text become unreadably jumbled on screen resize"
[//]: # (Before logging this issue, please post to the Report a Bug guild from the Habitica website's Help menu. Most bugs can be handled quickly there. If a GitHub issue is needed, you will be advised of that by a moderator or staff member -- a player with a dark blue or purple name. It is recommended that you don't create a new issue unless advised to.)

[//]: # (Bugs in the mobile apps can also

[2018-05-18 21:20] SabreCat opened #10375 "Redirect URI Mismatch errors with Google login"
[//]: # (Before logging this issue, please post to the Report a Bug guild from the Habitica website's Help menu. Most bugs can be handled quickly there. If a GitHub issue is needed, you will be advised of that by a moderator or staff member -- a player with a dark blue or purple name. It is recommended that you don't create a new issue unless advised to.)

[//]: # (Bugs in the mobile apps can also

[2018-05-18 23:11] TheHollidayInn commented on #10375
I'll fix this.

[2018-05-19 15:00] SabreCat opened #10379 "Flicker when user mouses over the very leftmost edge of party member avatar"
[//]: # (Before logging this issue, please post to the Report a Bug guild from the Habitica website's Help menu. Most bugs can be handled quickly there. If a GitHub issue is needed, you will be advised of that by a moderator or staff member -- a player with a dark blue or purple name. It is recommended that you don't create a new issue unless advised to.)

[//]: # (Bugs in the mobile apps can also

[2018-05-19 16:43] #10374 closed, assigned to nobody

[2018-05-19 17:41] #8003 closed, assigned to nobody

[2018-05-19 17:46] paglias commented on #10294
Weird, this works locally but not on habitica.com (or staging)

[2018-05-19 17:50] paglias commented on #10294
https://habitica.com/static/audio/danielTheBard/Todo.ogg (for example) doesn't exist in prod, that's why it's not playing

[2018-05-19 18:03] #10294 closed, assigned to nobody

[2018-05-19 18:18] paglias commented on #10087
I'm going to close this as I cannot replicate and we haven't had any update, reopen if you get new reports

[2018-05-19 18:18] #10087 closed, assigned to nobody

[2018-05-19 18:22] paglias commented on #9904
I'm going to give a shot at this

[2018-05-19 18:22] #9904 closed, assigned to nobody

[2018-05-19 18:24] paglias commented on #9031
This should be fixed now that the Chat is in its own model

[2018-05-19 18:24] #9031 closed, assigned to nobody

[2018-05-19 22:37] jerell-mendoza commented on #10282
hi @Alys , I'd like to take a look at this!

[2018-05-20 00:38] Alys commented on #10282
@jerellmendoodoo Thanks! Go ahead.

[2018-05-20 06:56] Alys commented on #10273
There's still reports of bugs because of this change (e.g., the conversation below from the Report a Bug guild today but there's been others too over the past month). While the new behaviour does make it clear which Pets you can re-hatch, it's no longer clear from looking at the Pets which Mounts you already own, so one problem has been swapped for another. Unless there's disagreement in the next

[2018-05-20 13:38] Feywood commented on #9248
Hi beffy, it's clearly not going. I'm going to have to drop this one. Sorry!

[2018-05-20 16:17] #9968 closed, assigned to nobody

[2018-05-20 17:24] Dewines commented on #10242
Um... I have an admission to make. I have just realised today that the reason the Daily Focus Finder challenges come up when I search on my name is that, unbeknownst to me, @blakejones99 had mentioned my name in the description. That doesn't explain Shanaqui's problem, but I'm sorry if you've been on a wild goose chase over me not being able to bring up my challenge right away when I searched on "

[2018-05-20 22:30] Alys commented on #10242
@Dewines no worries but thanks for letting us know. :) When I was testing, I was using other challenges so that didn't make any difference. The search definitely can be improved.

[2018-05-21 00:11] dominictwlee commented on #9932
If no one else is working on it, I'm happy to give it a go. I'll report back within a week.

[2018-05-21 10:14] Alys opened #10382 "Challenge owned / not owned / joined indicators don't update correctly after filtering"
_As reported by citrusella, the serving wench (2d6ef231-50b4-4a22-90e7-45eb97147a2c) in the Report a Bug guild:_

"If you check off 'owned' or 'not owned' on the challenges screen, the indicators for owning/joining stay the same/in the same order and don't seem actually connected to the challenges in question.

"For example: If your list of challenges has three 'joined' followed by an 'owned' in t

[2018-05-21 18:53] paglias commented on #10382
Working on this one

[2018-05-21 18:58] #10382 closed, assigned to nobody

[2018-05-21 19:04] paglias commented on #9248
Working on this one

[2018-05-21 19:10] paglias commented on #9248
@Alys should this change be applied when cloning a challenge as well?

[2018-05-21 19:38] paglias commented on #9842
So it's okay if we show the task without the group controls (no "you've been assigned") and show the broken megaphone like for broke challenge tasks? @Tressley @Alys

[2018-05-21 19:43] Tressley commented on #9842
I don't think we should use the broken megaphone icon as the megaphone is respective to Challenges.

[2018-05-21 20:21] shanaqui commented on #9842
Just thinking out loud... I think that adding a new icon of some sort might be confusing. At least reusing the megaphone would be a clear visual signal to users that this is a task from either a challenge or a group. If we add a new icon, it's one more thing to know -- and the megaphone isn't even universally recognised now, per my experience in Habitica Help.

[2018-05-21 22:40] Alys commented on #9248
Yes, also when cloning. Good catch!

[2018-05-21 23:09] Alys commented on #9842
I like the idea of reusing the megaphone. The actions possible for orphaned Group Plan and Challenge tasks are the same so having the same icon makes sense to me. We could improve the current confusion with the icon and reduce future confusion by improving the on-hover text for the megaphone.

[2018-05-23 09:15] dominictwlee commented on #9932
@Alys @beffymaroo Hi, just wanted to make sure I get the green light before I start working on this. Thanks!

[2018-05-23 09:18] paglias commented on #9932
Go ahead @dominictwlee !

[2018-05-23 10:53] Alys opened #10386 "cron halts part way through when history arrays are large"
This isn't a new bug and it's been mentioned in other issues (e.g., https://github.com/HabitRPG/habitica/issues/7727, https://github.com/HabitRPG/habitica/issues/7909, https://github.com/HabitRPG/habitica/issues/9068) but it's still happening so I think it's worth having a new issue opened for it.

When a player has Habits or Dailies with large `history` arrays or if their `user.history` array is

[2018-05-24 01:26] fentie commented on #8530
I can take this

[2018-05-24 03:17] fentie commented on #8530
whoops that's only changing purchase behavior, not start behavior. I'll add that part too...

[2018-05-24 05:02] Alys commented on #8530
@fentie Thanks! :)

I've updated the labels.

[2018-05-24 13:14] jrobind commented on #10373
Hi @SabreCat  , I'd like to take a look at this if that's ok!

[2018-05-24 16:09] edumelzer commented on #9514
It persists on Firefox 60.0.1

[2018-05-24 16:29] elocalhost commented on #9514
Still on Firefox 60.0.1 (32-bit)

[2018-05-24 16:31] khipkin commented on #10308
Happened again. Had just cronned and was using skills and checking off dailies.

vendor.69b17596f5c5cefe04a5.js:1 TypeError: Cannot read property 'nextRewardAt' of undefined
    at a.nextReward (app.85ce03683b5003540623.js:1)
    at Ti.get (vendor.69b17596f5c5cefe04a5.js:6)
    at Ti.evaluate (vendor.69b17596f5c5cefe04a5.js:6)
    at a.nextReward (vendor.69b17596f5c5cefe04a5.js:1)
    at a.s (app.

[2018-05-24 17:01] paglias commented on #9514
The change hasn't been deployed yet, it'll be in the next few days

[2018-05-24 20:55] SabreCat commented on #10365
Another example:

**Gioconda herrera** (fa8cf0e6-d581-4d68-85ec-1fb79f026758):

[2018-05-24 21:24] SabreCat commented on #10386
Very high volume issue in bug reporting channels, so I'm marking this Important despite the "discussion needed" status.

[2018-05-24 21:25] SabreCat commented on #10373
@jrobind Go for it!

[2018-05-24 21:27] SabreCat opened #10389 "Some users not receiving quest invitation emails as expected"
[//]: # (Before logging this issue, please post to the Report a Bug guild from the Habitica website's Help menu. Most bugs can be handled quickly there. If a GitHub issue is needed, you will be advised of that by a moderator or staff member -- a player with a dark blue or purple name. It is recommended that you don't create a new issue unless advised to.)

[//]: # (Bugs in the mobile apps can also

[2018-05-24 21:44] Alys commented on #10389
https://github.com/HabitRPG/habitica/blob/026e1a5bca2783c48069751d84f423266a78129b/website/server/controllers/api-v3/quests.js#L80-L85

`auth.google` should be included there.  One report of this bug that I've just seen is from a player who uses Google sign-in exclusively.

[2018-05-24 21:46] Alys commented on #10389
I'm changing this to help wanted because I think it's likely that's the only thing that's wrong, but we can investigate further if it still happens after that's fixed.

[2018-05-25 02:25] Alys opened #10391 "do not show "Notification not found" error messages"
For a while now it's been common to see "Notification not found" snack notifications (e.g., if you've already visited a guild that has new messages in another browser / app). The notifications now remain until you click on them (a side effect of the fix for https://github.com/HabitRPG/habitica/issues/9249), so they're more intrusive than they used to be.

Those messages aren't of any use to the us

[2018-05-25 02:31] Alys opened #10392 "Error 502 notification messages should disappear automatically"
We've had two reports in the Aspiring Socialites guild (from :hibiscus: and citrusella, the serving wench) that the Error 502 notifications are no longer disappearing automatically after a couple of seconds. This will be a side-effect of the fix for https://github.com/HabitRPG/habitica/issues/9249 ("error messages disappear too quickly (username or password is incorrect, swearword / slur warning)"

[2018-05-25 04:23] fentie commented on #8530
ok so as soon as this build finishes I think we're in business & ready for review. I'm having some issues locally but this _should_ fix it (with tests).

[2018-05-25 10:03] #9248 closed, assigned to nobody

[2018-05-25 10:04] #10261 closed, assigned to nobody

[2018-05-25 10:13] #10389 closed, assigned to paglias

[2018-05-25 10:30] #10392 closed, assigned to nobody

[2018-05-25 10:45] #10289 closed, assigned to nobody

[2018-05-25 11:54] dominictwlee commented on #9932
![tavern](https://user-images.githubusercontent.com/34794189/40543096-d316af84-601a-11e8-9933-cc0e518ec620.png)

@paglias Just wanted some clarifications on the actual changes that need to be made. Is this just a quick fix regarding the spacing as shown in the screenshot? Or do you also want the sidebar width to match the party page? Are the buttons in the party page also needed in the guild page?

[2018-05-25 15:32] paglias commented on #9932
Hmm @Alys is going to have more info about this

[2018-05-25 16:06] paglias commented on #10242
Should these changes be applied to groups search as well?

[2018-05-25 19:34] ianoxley commented on #9796
Can I help out on this one please? I'd like to have a go at making clickable things into `<button>`'s and `<a>`'s, and maybe add some skip links to aid keyboard navigation.

[2018-05-26 02:02] Alys commented on #10242
@paglias Yes. This is the issue for it: https://github.com/HabitRPG/habitica/issues/9755

[2018-05-26 02:08] Alys commented on #9932
@dominictwlee It might be easiest if you look through the changes made in the PR linked from the top post, and the issue that the PR fixed, and if you're not sure if any of them should apply, ask us about them - will that help you work out what's needed?

[2018-05-26 03:28] fentie commented on #8663
By "task" do you specifically mean ToDos, or do Dailies and Habits count too?

[2018-05-26 04:07] fentie commented on #9923
I see this is closed... should this code now be removed?

[code]

[2018-05-26 09:07] Alys commented on #10100
Another report of this today from (MEGA)uBeauFort (d802744b-3d4d-4950-9a75-c8d384ec231f)

[2018-05-26 09:24] dominictwlee commented on #9932
Yep that's fine, thanks!

[2018-05-26 09:27] paglias commented on #9923
The issue is closed as it doesn't result in errors anymore but it still happens to have corrupt notifications so that code should stay

[2018-05-26 09:35] Alys opened #10397 "improve wrapping and line breaks in Challenges"
Two problems related to Challenge visual design:

In the right-hand column of a Guild, if a Challenge's name is longer than the allocated space, it wraps in the middle of a word. It should wrap between words.
![image](https://user-images.githubusercontent.com/1495809/40574722-67ef433c-611a-11e8-92d8-6ee6ad50380d.png)
That's from [this challenge](https://habitica.com/challenges/b9051530-e047-411e-b

[2018-05-26 10:15] Alys commented on #10272
Another report of this from Tanya (0d3ec2d8-bd44-4aed-9706-ebab1abb0ab0). The full conversation is below with the most important parts bolded.

Tanya: "**My tasks have lost all their tags. I've had problems with my tags disappearing twice before. Both of those times, all of the tags disappeared from the menu. This time the tags are still there, but there are no tasks sorted under them.**"

SabreCa

[2018-05-27 03:38] Alys opened #10398 "lostMasterclasser achievement not given when earned ("Quest Completionist: Masterclasser Series")"
Two players (cyberserpent 29492073-15fc-41fd-9c98-b0719f038859 and TriggeredTigger 5e680aae-08ee-4590-9aa7-efc8fc7906f3) from the same party (47957e88-2464-49ca-a3ef-e169d8754e2a) participated in the `lostMasterclasser4` quest but were not given the "Quest Completionist: Masterclasser Series" achievement (`achievements.lostMasterclasser`) even though they had completed all the other quests needed

[2018-05-27 03:39] Alys commented on #10398
This might have been a once-off glitch so I'm marking it minor priority. We can increase the priority if it's reported again.

[2018-05-27 14:41] #8530 closed, assigned to nobody

[2018-05-28 00:46] haydenbetts commented on #10379
Hi @SabreCat !

I was able to replicate this
Browser: Chrome (it doesn't affect Firefox)
OS: MacOS 10.12

I also found a one line CSS fix that doesn't result in any noticeable change to the UI. If you assign this to me, I am ready to submit a PR!

Video of behavior in Chrome with fix: https://drive.google.com/open?id=1FSM-PFIjGzr1yEvs6OkjQ2vcQaUKd5i6

I believe that the issue had something to do w

[2018-05-28 01:35] haydenbetts commented on #10298
@Alys

I tested with:
Browser: Chrome 66.0.3359.181 (Official Build) (64-bit)
OS: 10.12.6
Local Habitica installation

I was not able to replicate. I couldn't replicate this behavior with either the death modal that appears after you do not complete dailies or the regular death modal.

Do you have replication tips?

[2018-05-28 02:05] haydenbetts commented on #10224
@SabreCat I was able to replicate this, and would like to work on it!

[2018-05-28 08:04] paglias commented on #10379
Go ahead @haydenbetts !

[2018-05-28 08:04] paglias commented on #10224
Go ahead @haydenbetts !

[2018-05-28 09:25] Alys opened #10401 "link to "Contact the Moderation Team" form has disappeared"
As reported by Il Mago:

"I can't find anymore the link for the contacing moderation team form! It's not anymore under HELP"

[2018-05-28 09:30] Alys commented on #10401
It was removed in ba52a90d93edfa023eba0c7c4f68dab76443c3fe

[2018-05-28 09:38] Alys opened #10402 "Help menu links are inconsistent sizes"
As reported by citrusella, the serving wench:

"... the three links at the bottom of the help dropdown menu are smaller than the rest of the text in the menu (or any other menu)"

[2018-05-28 10:19] Alys opened #10403 "moving pinned items throws wrongItemPath locales string error"
When moving pinned items, you sometimes see the error message
**Error processing the string "wrongItemPath"**

It's because this code is wrong:
https://github.com/HabitRPG/habitica/blob/8fb67e79440aaaf4b5390241aacdc4c9ad727d26/website/server/controllers/api-v3/user.js#L1905

It should contain the `path` variable, like this code which is correct:
https://github.com/HabitRPG/habitica/blob/8fb67e7944

[2018-05-28 10:35] Alys opened #10404 "502 server error leaks CSS code to the rest of the site"
In the Report a Bug guild, RobotKing (7966165f-4b5c-4ad3-b761-e99f3b729400) writes:

"I was getting 502 errors occasionally on the right hand side (usually when they happen, the fonts and general formatting goes wonky, as visible in [screenshot below])."

![scr](https://i.snag.gy/9yHtKA.jpg)

In that screenshot, the chat post that says "Admins have left off here ...." should not be red. It's creat

[2018-05-28 10:36] Alys commented on #10404
BTW, that h2 / red formatting problem might not be the only one caused by this issue. It's just the one that's most obvious to me from that screenshot.

[2018-05-28 10:47] Alys opened #10405 "To-Do due date display does not update until sync when editing a new To-Do"
If you create a To-Do, then immediately edit it to set a due date and save that edit, the To-Do correct updates to show (for example), "due in 3 days". However if you then immediately edit the To-Do again to change the due date and save it, the "due in 3 days" text does not change. The expected behaviour is that it should change as soon as you've saved the second edit.

If you click the website's

[2018-05-28 11:02] Alys opened #10406 "pinned items sometimes can't be moved (item path not valid) - `pinnedItemsOrder` errors"
RobotKing (7966165f-4b5c-4ad3-b761-e99f3b729400) reports:

"When I try to change the order of pinned rewards around, I get an error message _[the error that uses the `wrongItemPath` string]_. The item that was moved around was the locked quest scroll for Terror of the Taskwoods Part 2. This error only happens on this quest scroll - I've unpinned and repinned the reward, but the issue continues. ..

[2018-05-28 11:41] #10403 closed, assigned to nobody

[2018-05-28 11:41] paglias commented on #10406
If they got 502 errors before it's likely the website was out of sync

[2018-05-28 11:54] #10405 closed, assigned to nobody

[2018-05-28 11:57] paglias commented on #10401
this one https://github.com/HabitRPG/habitica/commit/ba52a90d93edfa023eba0c7c4f68dab76443c3fe#diff-1b90a260bd45f389e3f3458765cddc54L58?

[2018-05-28 16:38] TheHollidayInn commented on #10298
These things have been hard to replicate for me as well, but we do want to move to a new UX. -
- Basically, when you die, there should be a snackbar (top right notification like xp and gold) that does not disappear until clicked
- Then user can then click that notification to open the modal

That will prevent the death modal from going on our stack and causing the above issue. (we also want to do

[2018-05-28 19:36] haydenbetts commented on #10298
Ah got it. Ya you can assign this to me.

[2018-05-28 19:57] Andrew-Gaffney commented on #10402
I would like to try looking into and tackling this as a first PR.

[2018-05-28 20:16] TheHollidayInn commented on #10402
Please do!

[2018-05-28 20:16] TheHollidayInn commented on #10298
Thanks :D

[2018-05-29 00:04] Alys commented on #10401
Yes

[2018-05-29 14:51] Tressley commented on #10273
@Alys -- I had actually worked on this in the past and the solution was finalized, but I don't think it was ever implemented or brought into GitHub.

Here's a quick screenshot to show you where the team landed after discussion.
![image](https://user-images.githubusercontent.com/2686586/40666620-2c29af16-632e-11e8-8314-b5792f71bd9c.png)

[2018-05-29 15:02] saraolson commented on #9842
the problem with using the megaphone is that it isn't just there when a task is broken. its used to denote a challenge task at all times. its also used within the challenge section on guilds and such when they have no challenges. the megaphone is literally an icon attached to the challenge feature. we could use a similar pattern for group plans, but using the exact icon for something other than ch

[2018-05-29 15:05] citrusella commented on #10402
This might be obvious, but I wanted to add that at least part of the issue is probably that they don't have the topbar-dropdown-item class. (That might be the whole issue, actually. XP)

[2018-05-29 15:08] shanaqui commented on #9842
Honestly, from time in Report a Bug and Habitica Help, etc, what's unclear is "lots of different ways to display basically the same thing". The simpler it can be, the better. As a new user, I'd just interpret the megaphone as being "tasks I didn't add myself", not as "challenges specifically" -- if I ever even noticed the challenge icon, which a fair number of people do not (and don't notice the b

[2018-05-29 15:19] citrusella commented on #10404
The fonts change slightly, though I don't know to what (that's always the most glaring issue for me), and I've noticed that headers (like display names on messages/in the header) can change size as well.

[2018-05-29 17:26] #10397 closed, assigned to nobody

[2018-05-29 17:28] #10401 closed, assigned to nobody

[2018-05-29 17:29] CurlyBraceTT commented on #9754
So, its about flex layout, seems like IE11 has some problems with it.

Possible solutions here:
https://stackoverflow.com/questions/35111090/text-in-a-flex-container-doesnt-wrap-in-ie11/35113633
Root issue I believe is here:
https://caniuse.com/#feat=flexbox

Will submit PR soon enough

[2018-05-30 02:20] texastoland commented on #7541
I'm hesitant to open a separate issue. I see the function in the client but it doesn't appear to be called anywhere. Can tags no longer be sorted in the UI?

[2018-05-30 03:01] SabreCat opened #10410 "Justin box needs more room / better text flow for some languages"
[//]: # (Before logging this issue, please post to the Report a Bug guild from the Habitica website's Help menu. Most bugs can be handled quickly there. If a GitHub issue is needed, you will be advised of that by a moderator or staff member -- a player with a dark blue or purple name. It is recommended that you don't create a new issue unless advised to.)

[//]: # (Bugs in the mobile apps can also

[2018-05-30 03:11] SabreCat opened #10411 "Donation button falls outside of background area in some languages"
[//]: # (Before logging this issue, please post to the Report a Bug guild from the Habitica website's Help menu. Most bugs can be handled quickly there. If a GitHub issue is needed, you will be advised of that by a moderator or staff member -- a player with a dark blue or purple name. It is recommended that you don't create a new issue unless advised to.)

[//]: # (Bugs in the mobile apps can also

[2018-05-30 03:19] SabreCat commented on #10130
Getting reports that this, or something very similar, also affects Guilds. @paglias did you have a fix in mind already?

𝕹𝖆𝖊𝕿𝖍𝖊𝕹𝖊𝖗𝖉 (8f89c805-334e-48cf-b095-0eba848f5974):

[2018-05-30 12:08] paglias commented on #7541
It looks like the new UI doesn't support sorting tags, given the way the UI works now I'm not sure reordering tags is a necessary feature

[2018-05-30 15:29] paglias commented on #10130
Looking into this now

[2018-05-30 15:40] paglias commented on #10130
It's a bit messy, I can refactor it but it'll take a bit

[2018-05-30 16:02] paglias commented on #10130
I'll work on this as part of a bigger refactor of the members modals, so it'll take a few days

[2018-05-30 16:04] paglias commented on #9828
Going to tackle this

[2018-05-30 16:05] TheHollidayInn commented on #10130
If we can remove the member modal options from the state and create a new event for the modal (as I've been moving our modals to) this will improve. If you want me to take this on, let me know as I've been refactoring the launching of modals.

[2018-05-30 16:20] paglias commented on #9828
I'm going to work on fixing the issues with the search box not working correctly, for the other problems unfortunately right now there's not too much that can be done like the names not being correct in csv

[2018-05-30 20:26] Andrew-Gaffney commented on #10402
Hey, that was the whole issue. Going to submit a PR with the changes.

[2018-05-30 21:09] TheHollidayInn commented on #6941
Sounds good. I say that sounds like a good plan.

[2018-05-30 21:10] beffymaroo commented on #9351
@kartikadur OK! I am changing the status to "Help Wanted", but if you find time and it's still available when you come back you're welcome to claim it again. Thanks for the update!

[2018-05-30 21:12] TheHollidayInn commented on #8087
The duedate is for the mobile apps. Basically it allows for the `nextDue` field to be computed based on a specific date.

So, starting from yesterday, I can see the next few due dates. Or starting from last week.

[2018-05-30 21:21] SabreCat commented on #10365
'Nother today:

**Sarah Johnson** (1aee73b9-af77-4042-895e-fa8fc16f85bb)

[2018-05-30 21:22] SabreCat commented on #10365
Bumping to Important because this is a repeated concern raised by users who are paying extra for this functionality.

[2018-05-30 21:48] beffymaroo commented on #10281
@shadimoustafa Are you still working on this issue? Let us know when you have a moment. Thank you!

[2018-05-31 05:48] shadimoustafa commented on #10281
@beffymaroo Unfortunately, I got busy with school and stopped working on it.

[2018-05-31 06:57] texastoland commented on #7541
Why not? As a user, when I create a new tag, that is related to some other tag (e.g. Kanban-style `later` and `next`), I want them grouped together in the filters instead of in creation order. Am I missing some context? It sounds straightforward to add given their UX similarity to task list items.

[2018-05-31 07:15] Alys commented on #7541
The inability to sort tags is one of the reasons I don't use them at all on the new site (the other is the increase in clicks and scrolling required to apply tags). I had tags for priority, time of day, location, and project - sort of a GtD style setup - with each type of tag grouped together and sorted appropriately within the group. New projects were sorted into appropriate places within the exi

[2018-05-31 08:45] paglias commented on #7541
Pinging @Tressley

[2018-05-31 21:20] Peim8 commented on #10411
I would like to work on that issue!

[2018-05-31 21:41] texastoland commented on #7541
My other usability issue is #2695 where @Alys linked the Trello card. I'm willing to implement I just don't know the change process.

[2018-05-31 21:45] texastoland commented on #2695
I'm interested in implementing this?

[2018-05-31 22:04] SabreCat commented on #10411
Go for it, @PBeier !

[2018-05-31 22:06] SabreCat opened #10413 "Ctrl+Enter and similar hotkeys don't work to send private messages"
[//]: # (Before logging this issue, please post to the Report a Bug guild from the Habitica website's Help menu. Most bugs can be handled quickly there. If a GitHub issue is needed, you will be advised of that by a moderator or staff member -- a player with a dark blue or purple name. It is recommended that you don't create a new issue unless advised to.)

[//]: # (Bugs in the mobile apps can also

[2018-05-31 22:20] SabreCat opened #10414 "Remove Member option doesn't appear when clicking View Party from main tasks page"
[//]: # (Before logging this issue, please post to the Report a Bug guild from the Habitica website's Help menu. Most bugs can be handled quickly there. If a GitHub issue is needed, you will be advised of that by a moderator or staff member -- a player with a dark blue or purple name. It is recommended that you don't create a new issue unless advised to.)

[//]: # (Bugs in the mobile apps can also

[2018-06-01 08:01] #10373 closed, assigned to nobody

[2018-06-01 08:05] #10402 closed, assigned to nobody

[2018-06-01 08:12] #9754 closed, assigned to nobody

[2018-06-01 11:31] shanaqui commented on #7569
Just posted in Report a Bug by Il Mago:

Any thoughts?

[2018-06-02 10:37] Alys opened #10419 "editing a Challenge gives inappropriate message about gems"
As reported by cTheDragons (bc10ec41-4213-4482-bbb8-558e3c3ea8d5):

"When I edit a challenge (to update the description for example) and I have less gems than the reward of the challenge, I get a false message that I don't have enough gems, or require gems for my Tavern challenge."

"The edit does go through but I needed to refresh to see it."

The message about not having enough Gems or needing G

[2018-06-02 10:39] Alys commented on #10419
The message about not having enough Gems or needing Gems for a "Public Challenge" (Tavern Challenge) should be seen only when you're creating or cloning a Challenge.

[2018-06-02 11:07] harielakanti commented on #4789
I have another GITHub account with userName: harielakanti. and link: https://github.com/harielakanti
I don't the emailId for this account and I forgot the PW.
am not able to logIn here, and not able to do ForgotPassword.
I was to reActivate or Permanently delete this Account.
Please help me.

[2018-06-02 11:41] Alys commented on #4789
@harielakantie So you aren't able to log in to a **GitHub** account? I'm afraid we can't help you here. This is an issue for Habitica accounts (habitica.com). You'll need to contact GitHub for help.

[2018-06-03 03:00] Alys opened #10421 "Quest scroll not given to quest leader when questline quest finished"
Didymus (85f434a9-9315-4826-b634-2b5582d1a321) reports:

"i was the owner of a Golden Knight quest _[goldenknight2]_ that my Party completed, but I did not get the Iron Knight _[goldenknight3]_. Cam you please make sure I get it? Thank you."

I've confirmed they were the quest leader, and the quest did run and complete, and they don't currently have the goldenknight3 quest scroll, and there was no

[2018-06-03 04:13] Alys opened #10422 "Inbox / Private Messages opt-in opt-out switch: server errors, sync delay, toggle not updating"
When you toggle the switch for opting in / out of Private Messages, the sync bar takes a long time to disappear. When it finally does, the message below appears in the console:

[code]

In addition, for some of my tests, I received a 502 error message. Nothing appeared in Loggly for my account. I was not using Habitica in another location at the same time and had reloaded the website before and du

[2018-06-03 05:10] Alys commented on #10123
There was another example of this reported today from someone who tried to cancel a subscription six months ago but it mostly failed (in this case because there had been payments that PayPal couldn't take due to incorrect credit/debit information in the user's PayPal account). The Habitica subscription benefits were terminated when the user cancelled the subscription in Habitica, but the payments

[2018-06-03 10:12] paglias commented on #10422
I'm not able to replicate the 502. I'd also like to point out that the Opt in / out functionality uses a normal PUT /user request which is the same used for any other setting update across the site, and that 502 aren't caused by bugs or errors but from the server being overloaded and not reachable correctly.

Regarding the wording, we can update them if you have an alternative

[2018-06-03 11:09] Alys opened #10423 ""profile name not found" being used for profile names"
There are 1091 users who have the profile name "profile name not found". That's a string that we use to indicate that the real profile name has become lost or never set, due to a bug:
https://github.com/HabitRPG/habitica/blob/8fb67e79440aaaf4b5390241aacdc4c9ad727d26/website/server/models/user/hooks.js#L176

This has probably been happening for several days, maybe a few weeks. I've been seeing at l

[2018-06-03 11:10] Alys commented on #10423
I'm marking this as important priority.

Once it's fixed, maybe a Bailey message should include instructions for how to change the profile name since there's so many users who don't know.

[2018-06-03 17:30] shanaqui commented on #10422
For the wording, I would suggest that instead of changing depending on the toggle, it just says "Enable private messages" all the time. People will then typically expect that the toggle being on (purple) means it is enabled, and off (white) means it is disabled.

Alternatively, the text could say "private messages enabled" or "private messages disabled", depending on what the current state of the

[2018-06-03 17:33] paglias commented on #10422
For the speed, I've done some testing and it's slower than other updates
but it doesn't happen locally.

It probably happens because anything inside inbox is slowed down if you
have many messages

Il Dom 3 Giu 2018, 19:30 shanaqui <notifications@github.com> ha scritto:

[2018-06-03 18:09] Peim8 commented on #10413
I would like to work on this

[2018-06-03 18:16] Alys commented on #10413
@PBeier Thank you! Please go ahead. Comment here if you have questions or run into trouble.

[2018-06-04 07:43] probaton commented on #10238
I don't mind taking a look at this.

[2018-06-04 08:27] paglias commented on #10238
Go ahead!

Il Lun 4 Giu 2018, 09:43 Dexx Mandele <notifications@github.com> ha scritto:

[2018-06-04 12:16] #10423 closed, assigned to nobody

[2018-06-04 12:16] paglias commented on #10423
This might be worth a deploy @SabreCat

[2018-06-04 12:23] paglias commented on #10422
@Alys does the mew wording works for you?

[2018-06-04 16:21] majestic-owl448 commented on #10422
if you want to keep consisntency between platforms maybe you would like to know that on the iOS app the switch says "Disable Private Messages" which actually disable private messages when it's purple

[2018-06-04 18:14] SabreCat commented on #10422
Having a toggle switch whose label changes when actuated is an antipattern, way I see it. I'd see either of these options as appropriate:

* Button with label "Enable Private Messages" if it's turned off, "Disable Private Messages" if turned on.
* Toggle switch with label "Receive Private Messages" _that does not change_.

Additional text on hover could clarify, "Private messages are blocked" / "P

[2018-06-04 18:55] Tressley commented on #10422
I'm on board with @SabreCat's second option "Receive Private Messages."

[2018-06-05 01:37] fentie opened #10429 "Text overflow on task checklists"
### General Info
  * UUID: 8f4a567a-038c-4c48-9941-fea2dc1d2845
  * Browser: Chrome
  * OS: OSX

### Description
When a long, unbroken word (like a URI) is present in a task checklist, it can overflow the boundaries of the column. Add an appropriate CSS overflow property

https://imgur.com/a/IMd1YIC

#### Console Errors
Zero, zip, zilch, nada, niente

[2018-06-05 04:01] SabreCat commented on #10423
OK, thanks! This will go out with tomorrow's content deploy.

[2018-06-05 04:17] bsoyka commented on #10404
Does anyone know where the code is for the 502 error message?  I would like to help out.

[2018-06-05 04:22] SabreCat commented on #10272
It has to be something to do with the multiple browsers/computers, given that's an unusual flow (a couple computers yes, "many, many" probably pretty rare) and we haven't seen this happen to anyone else. Pretty baffling, though. How are we ending up sending all those delete/task-edit updates without the user requesting them? :\

[2018-06-05 07:41] probaton commented on #10238
Feeks!

[2018-06-05 18:17] thyme4soup commented on #10419
I'm having trouble reproducing this error (I successfully update tavern challenges with a gem bank lower than the reward amount), but what I did find is that when you go to 'clone' the challenge, click out of the 'clone' challenge modal, and then go to 'edit' the challenge, the modal displays as though you are still trying to clone the challenge. I think this is because the 'cloning' flag is not r

[2018-06-05 21:06] SabreCat opened #10432 "Sort options in Stable should be persistent"
[//]: # (Before logging this issue, please post to the Report a Bug guild from the Habitica website's Help menu. Most bugs can be handled quickly there. If a GitHub issue is needed, you will be advised of that by a moderator or staff member -- a player with a dark blue or purple name. It is recommended that you don't create a new issue unless advised to.)

[//]: # (Bugs in the mobile apps can also

[2018-06-05 21:10] SabreCat opened #10433 "Error attempting to open profile of deleted user"
[//]: # (Before logging this issue, please post to the Report a Bug guild from the Habitica website's Help menu. Most bugs can be handled quickly there. If a GitHub issue is needed, you will be advised of that by a moderator or staff member -- a player with a dark blue or purple name. It is recommended that you don't create a new issue unless advised to.)

[//]: # (Bugs in the mobile apps can also

[2018-06-06 08:36] probaton opened #10434 "Default to costume tab for users wearing a costume"
[//]: # (Before logging this issue, please post to the Report a Bug guild from the Habitica website's Help menu. Most bugs can be handled quickly there. If a GitHub issue is needed, you will be advised of that by a moderator or staff member -- a player with a dark blue or purple name. It is recommended that you don't create a new issue unless advised to.)

[//]: # (Bugs in the mobile apps can also

[2018-06-06 08:37] probaton commented on #10434
I don't mind taking a stab at this myself, but I'd love to hear what you feel is the best approach before I pick this up.

[2018-06-06 08:42] probaton commented on #10434
I accidentally edited my equipment again not five minutes after submitting this ticket while cobbling together my new pirate costume. D'oh.

[2018-06-06 09:44] Alys commented on #10434
I make that same mistake all the time too. I've just given up keeping my Battle Gear correct now - it's too much trouble.

I'd like to see this change made but @probaton you should wait for a staff member to give approval for this one before starting. I've marked it suggestion-discussion for now.

[2018-06-06 11:43] jrobind opened #10435 "Unnecessary whitespace to the right of landing page"
### General Info
  * UUID: 7187b35d-3ae8-4b5c-8578-be7f582ff437
  * Browser: Chrome, Firefox, Internet Explorer
  * OS: Windows

### Description
I have noticed some unnecessary whitespace to the right of the landing page which causes a horizontal scroll to permanently appear at the bottom of the viewport.

![screenshot 2018-06-06 11 59 45](https://user-images.githubusercontent.com/30320536/4103587

[2018-06-06 11:43] jrobind commented on #10435
I don't mind taking a look at this myself but thought I would see what you guys think first!

[2018-06-06 21:07] SabreCat commented on #9899
(We've been addressing this by removing pinned items in the database when the item becomes unavailable in the shop, so it's not an urgent issue.)

[2018-06-06 21:18] SabreCat commented on #9654
It would be nice to reduce the repo size for the purpose of our Docker install process. But we've got workarounds in place to keep that running smoothly despite the 2+ GB image size.

[2018-06-06 21:30] SabreCat commented on #9461
Something is still going on with this. We still get a fair number of reports of the issue in Report a Bug Guild. Maybe it's just parallel update issues like with quest invites not getting cleared correctly, though?

[2018-06-06 22:26] shanaqui opened #10437 "Inn banner and nav bar behave oddly when scrolling"
Reported in Report a Bug by Il Mago:

Confirmed by me on Google Chrome.

[2018-06-07 00:35] Alys commented on #9461
Yeah, i suspect it's from a different cause now. It's logged at https://github.com/HabitRPG/habitica/issues/10398

[2018-06-07 00:36] Alys commented on #10398
@SabreCat says he's noticed others reporting it (https://github.com/HabitRPG/habitica/issues/9461#issuecomment-395220326) so I'm increasing the priority.

[2018-06-07 01:41] texastoland commented on #2176
Before choosing a class I had a long string of eggs without potions. This week I've found 16 potions without eggs. Even if it's theoretically random it's distribution appears off.

This sounds like a sensible unit test to measure deviation if it doesn't already exist?

[2018-06-07 06:21] thyme4soup commented on #10419
I got a fix for the update/clone bug working and can make the change, but should I put it under this branch or is it a different issue?
I'm adding a gif of the bug as well (before the fix)

![ezgif com-video-to-gif](https://user-images.githubusercontent.com/683134/41081580-41babfc4-69e0-11e8-9329-39c8739531e4.gif)

[2018-06-07 06:26] Alys commented on #10419
@thyme4soup Thanks for this! Please do submit a PR for what you describe, and write in it "related to #10419" rather than "fixes #10419".

(We'll do some more testing for the bug reported in this issue to work out if it still needs to be fixed.)

[2018-06-07 12:51] kartikadur commented on #9899
*Thanks for understanding.*

On Thu, Jun 7, 2018 at 2:37 AM Sabe Jones <notifications@github.com> wrote:

[2018-06-07 13:48] cTheDragons commented on #9755
Would it be better instead of searching the description but searching the summary and title only? There are many things in a guild description, most of which don't apply. For example I search witch and get Scholars as my first option, the first applicable guild is halfway down.

It should be noted that the pirate will be soon tackling the last of captains who have gone missing since the great chan

[2018-06-07 13:52] cTheDragons commented on #9789
Hi can I check with the new web design with this, we are allowing users to select which tasks belong to which attribute when they have selected *Distribute base on task activity*?

This use to appear in the [Advance Settings of a Task](https://habitica.wikia.com/wiki/Advanced_Settings_for_Tasks#Attributes).

Thanks

[2018-06-07 16:29] Aekschen commented on #9489
confirm

[2018-06-08 21:34] Alys commented on #9134
This looks to me like it's been fixed. Closing.

[2018-06-08 21:34] #9134 closed, assigned to nobody

[2018-06-09 09:15] Alys opened #10440 ""add multiple" tip interferes with editing a new task"
As reported by Ensorceled (4428e727-2a0e-4072-b578-fc28029b33f3):

"Is there anyway to make the [tip] for adding tasks go away once I've added a task? Or just make it go away altogether? It's very annoying that, when trying to edit an added task, I must first click to close the [tip] and then click to edit the task. ...  Here's what I mean:"

![scr]( https://i.imgur.com/cvR811J.png)

I.e., when yo

[2018-06-10 00:54] Alys opened #10441 "timestamp needed in moderator Slack messages"
_I'm marking this "good first issue" but it might be a little harder than those often are. If you start this and find you need help with it, post here._

When a chat message is flagged, moderators receive a notification in a Slack channel as shown in the screenshot below. If you use `git grep flagSlack` you'll find the code responsible for it.

We'd like the date and time of the message to be incl

[2018-06-10 13:02] YogiGG commented on #9166
+1

[2018-06-10 23:04] Alys commented on #10422
I've marked this help wanted again since the PR for it was closed but any contributor who wants to work on it must post here to ask first in case the staff are already working on another fix.

[2018-06-11 03:04] thefifthisa commented on #10441
Hi @Alys, I'm new here and would love to try working on this!

[2018-06-11 04:21] Alys commented on #10441
@thefifthisa Thank you! Go ahead.

[2018-06-11 05:59] probaton commented on #10434
Might I coax someone to make an executive decision on this? As I said; I don't mind building this myself, and it seems like a pretty easy fix, but I wouldn't want to invest the time without an official go-ahead.

[2018-06-11 06:00] probaton commented on #10238
Quick reminder that I finished my fix. If anyone with merge rights would be so kind as to give it a quick review, I'd be most appreciative.

[2018-06-11 06:08] paglias commented on #10434
That's fine for me, @Tressley any objection?

[2018-06-11 09:59] #10411 closed, assigned to nobody

[2018-06-11 10:00] #9932 closed, assigned to nobody

[2018-06-11 10:18] thefifthisa commented on #10441
Update: I think I got it. Is there any way to see what this looks like on Slack?

[2018-06-11 11:08] Alys commented on #10441
I don't think there is before the code is merged. However if you make a PR and it's merged, then moderators will be able to see the effects in Slack by using a private staging server (which uses the `develop` code). Merged pull requests sit in staging for a few days before they're deployed to production so if there's any urgent problems, there'd be time for them to be fixed before the habitica.com

[2018-06-11 14:31] Tressley commented on #10434
I don't think this is necessary. This is more of a power user request and useful only for users in the "end game." The typical user journey is centered around the introduction and acquisition of new pieces of equipment. Class level, quest rewards, Enchanted Armoire all introducing items that direct the user to change their Battle Armor/Costume.

With respect to the indicator, I have made design up

[2018-06-11 20:59] beffymaroo commented on #10434
@Tressley Forgive me if I'm misunderstanding what's being discussed, but I don't see why having the tab default to "costume" if the user is using the costume option would be disruptive or unnecessary if it's an easy change to make. Users who are equipping costume items probably change their costume much more often than their battle gear, and users who are new or focused on battle gear alone will l

[2018-06-11 21:33] Tressley commented on #10434
For me, while I do have my Costume enabled, I don't change my costume very often. I do, however, change my Battle Gear (still labeled "Equipment" on web) frequently as I like to bounce around the different classes. Maybe I misunderstood? Alys mentioned her Battle Gear being the issue, not her costume?

Because of the existing pattern, clicking "Equipment" and going to Costume isn't what I, as a us

[2018-06-11 21:41] beffymaroo commented on #10434
@Tressley I for sure think updating the indicator is going to be really helpful!

Sounds like we have very different patterns of usage ;P I always have the Legendary gear set equipped for Battle Gear, and basically never change that, while I change my costume often. I think that seems to be true of a lot of folks whose social media posts I see and who post in the chats often- though I realize that

[2018-06-12 01:40] Alys commented on #10434
My Battle Gear is an issue because I'm always changing it by accident when I want to change my Costume. I very rarely want to change Battle Gear.

While the improved indicator might help, it would still be most convenient if a player who had "use costume" turned on was automatically defaulted to the costume section. For those of us who experience this issue, the problem is not that we're unaware t

[2018-06-12 06:09] probaton commented on #10434
Fixing the indicator would definitely be of help, but I have to say that even if it were better I would still appreciate the option of selecting the costume tab as default.

Ever since I got a full set of epic gear I really haven't seen the point of changing battle gear, and I have to admit that I've assumed everyone else felt the same way. On the other hand, I change my costume pretty much every

[2018-06-12 11:39] FynnMazurkiewicz commented on #10375
Not sure if the fix/PR hasn't been released yet, but I still experience this issue on the live version.
Example URL: _https://habitica.com/login?redirectTo=%2Fgroups%2Fguild%2Fa29da26b-37de-4a71-b0c6-48e72a900dac_

[2018-06-12 14:06] paglias commented on #10375
I'm reopening, @TheHollidayInn I think the problem is that with a `''` as the redirect url it uses the current url. we should redirect to the same url all the times instead

[2018-06-12 14:50] shanaqui commented on #10124
Is there any progress on this? I know my issue has been fixed now by Alys manually, but people being able to trust us with their financial details is important, and I feel uncomfortable about it personally right now.

[2018-06-12 14:53] shanaqui opened #10444 "Tasks cannot be sorted by all/due/not due in group plan overview"
Reported in Report a Bug, confirmed by me. Trying to filter by due or not due doesn't change anything in the group plan task board.

![image](https://user-images.githubusercontent.com/8144640/41298063-7b23d62a-6e58-11e8-927a-f5c3d1c1edda.png)

![image](https://user-images.githubusercontent.com/8144640/41298150-a6acc036-6e58-11e8-9436-313afde069e8.png)

[2018-06-12 16:13] TheHollidayInn commented on #10124
Right before `chargeForAdditionalGroupMember` is called we update the member count: https://github.com/HabitRPG/habitica/blob/ac973ee753c9001dd683f8a0764b5f2da2c4bf55/website/server/models/group.js#L1515

As far as retro active, I'll ping Sabe about a migration we can do. And we can add another member check here for extra: https://github.com/HabitRPG/habitica/blob/develop/website/server/controller

[2018-06-12 16:41] Tressley commented on #10434
Okay, so I spoke with some of the team and I think the best approach (for now) would be to have the page default to your last active tab. If you were editing your Costume, going back to Equipment will default to Costume. Same goes for Battle Gear.

How do we feel about that?

[2018-06-12 23:10] Alys commented on #10124
It's not the memberCount that causes the problem, it's the fact that sometimes membership changes aren't successfully sent to Stripe - the second part of this comment: https://github.com/HabitRPG/habitica/issues/10124#issuecomment-372151710 ("that code does wait for await stripeApi.subscriptions.update() to finish but doesn't check any return value....") although I'm not totally sure if I'm on the

[2018-06-12 23:56] TheHollidayInn commented on #10124
Ensuring Stripe actually completes is separate, but still something we can add.

The migration Sabe is working on will be retroactive for both Stripe and Amazon. It will also fix errors from in incomplete upgrades.

[2018-06-13 06:50] probaton commented on #10434
Sounds great. As I mentioned in my original request, I'm ok with both options. The main reason I was pushing the 'use costume' trigger was because it's easier to build.

I'll take a stab at this as soon as I finish up processing @paglias ' feedback on my other open PR.

[2018-06-13 21:19] SabreCat opened #10446 "Creating a Guild Challenge doesn't mention Gem bank"
[//]: # (Before logging this issue, please post to the Report a Bug guild from the Habitica website's Help menu. Most bugs can be handled quickly there. If a GitHub issue is needed, you will be advised of that by a moderator or staff member -- a player with a dark blue or purple name. It is recommended that you don't create a new issue unless advised to.)

[//]: # (Bugs in the mobile apps can also

[2018-06-13 21:24] SabreCat commented on #10365
Another report today:

**IGetCarriedAway** (4f439510-6f8c-46b0-863d-04105a01d1f7)

[2018-06-13 21:35] SabreCat opened #10447 "Text overflow in failed login notification"
[//]: # (Before logging this issue, please post to the Report a Bug guild from the Habitica website's Help menu. Most bugs can be handled quickly there. If a GitHub issue is needed, you will be advised of that by a moderator or staff member -- a player with a dark blue or purple name. It is recommended that you don't create a new issue unless advised to.)

[//]: # (Bugs in the mobile apps can also

[2018-06-13 21:39] SabreCat opened #10448 "Immediate edit of newly created group throws Not Found error"
[//]: # (Before logging this issue, please post to the Report a Bug guild from the Habitica website's Help menu. Most bugs can be handled quickly there. If a GitHub issue is needed, you will be advised of that by a moderator or staff member -- a player with a dark blue or purple name. It is recommended that you don't create a new issue unless advised to.)

[//]: # (Bugs in the mobile apps can also

[2018-06-14 10:06] ghost commented on #10365
Are there any plans to change how groups share tasks ?

[2018-06-14 12:09] jrobind commented on #10447
Hey @SabreCat , I'd like to take a look at this!

[2018-06-14 14:59] SabreCat commented on #10447
@jrobind Go for it, with our thanks!

[2018-06-14 16:46] SabreCat commented on #10365
@FenJai I just conferred a bit further with @TheHollidayInn about this, and I'm going to start working on a new feature/option to address this.

[2018-06-14 18:47] #8991 closed, assigned to nobody

[2018-06-14 20:51] jerell-mendoza commented on #10282
@Alys
Just to see if I'm on the right track, I'm modifying the endpoint POST `/groups/:groupId/invite` to be able to check the `user.inbox.blocks` value to see if a user should be blocked from inviting them into a party or guild?

If this is the case, I'm wondering why `userFieldsToExclude: ['inbox'],` is included on all those endpoints and if it's ok to remove this condition for that endpoint. Al

[2018-06-14 21:26] arunikayadav42 commented on #10448
@SabreCat can I get started with this issue :)

[2018-06-14 21:26] arunikayadav42 commented on #10446
@SabreCat can I get started with this issue :)

[2018-06-14 22:57] SabreCat commented on #10446
@arunikayadav42 Sure, go for it!

[2018-06-14 22:57] SabreCat commented on #10448
@arunikayadav42 You're welcome to it!

[2018-06-15 00:26] Alys commented on #10282
The inbox will be excluded for performance reasons (it can be very large) but you're right that the code will need to read `user.inbox.blocks` for this PR.

@paglias Pinging you since this is related to optimisations.
I'm wondering if the parts of `inbox` that aren't the messages themselves should be moved to `preferences`. I think we had trouble like this with the inbox opt in/out setting too.

@

[2018-06-15 08:56] paglias commented on #10282
@jerellmendoodoo you can remove the `userFieldsToExclude: ['inbox'], ` from the route if you need to use any value inside the inbox object, go ahead

@Alys yes we should move them but it's a breaking change so maybe we'll be able to make it with the api v4

[2018-06-15 09:00] #10238 closed, assigned to nobody

[2018-06-15 09:01] #10441 closed, assigned to nobody

[2018-06-15 14:18] jerell-mendoza commented on #10282
@paglias @Alys Great! Thanks for the feedback, it looks like I'm on the right track then and I have a clear approach to how to finish up this issue. I think I should be able to wrap this up sometime early next week (hopefully)!

[2018-06-15 14:35] Mahendran-Nadesan commented on #9806
Hi, I think it's best I relinquish this task so someone else can do it.

[2018-06-15 16:46] arunikayadav42 commented on #10448
as an initial step can I please know how can I get started...I am newbie to open source :)

[2018-06-15 16:47] arunikayadav42 commented on #10446
as an initial step can I please know how can I get started...I am newbie to open source :)

[2018-06-15 16:49] thefifthisa commented on #10440
Hey @Alys! Can I work on this?

[2018-06-15 17:49] SabreCat commented on #10448
[This Wiki article on setting up a local instance](https://habitica.wikia.com/wiki/Setting_up_Habitica_Locally) is probably your best starting point! You can also visit the Aspiring Blacksmiths Guild within Habitica to ask questions.

[2018-06-15 17:53] SabreCat opened #10451 "Lots of bogus "click" events being recorded to analytics"
[//]: # (Before logging this issue, please post to the Report a Bug guild from the Habitica website's Help menu. Most bugs can be handled quickly there. If a GitHub issue is needed, you will be advised of that by a moderator or staff member -- a player with a dark blue or purple name. It is recommended that you don't create a new issue unless advised to.)

[//]: # (Bugs in the mobile apps can also

[2018-06-15 20:02] SabreCat commented on #10124
The migration in the associated PR has run, reconciling member counts and plan quantities for all active plans. We'll run it again in a week or two to see if the issue has recurred since!

[2018-06-15 21:49] beffymaroo commented on #10281
@shadimoustafa Thanks for letting us know! I'm going to change the status to "Help Wanted," but you're welcome to reclaim it if you find time and no one else has grabbed it yet.

[2018-06-15 22:11] beffymaroo commented on #9861
^ anyone potentially considering: check out linked PR above.

[2018-06-15 22:13] beffymaroo commented on #10267
@SabreCat  @paglias Should this go back to Help Wanted status since the fix in PR 10354 is partial?

[2018-06-15 22:14] beffymaroo commented on #10297
@mcshakes Are you still working on this issue? When you have a moment, let us know. Thank you!

[2018-06-15 22:15] beffymaroo commented on #10312
@marvinrabe Are you still interested in or working on this issue? Please let us know. Thank you!

[2018-06-15 22:17] beffymaroo commented on #9957
@paglias I see the PR linked above is closed- any label/status changes needed for this issue?

[2018-06-15 22:18] beffymaroo commented on #9958
@khipkin Were you able to make progress with your local install? Let us know if you're still interested in/working on this issue when you have a moment. Thank you!

[2018-06-15 22:19] beffymaroo commented on #10008
@shanaqui Are you and/or Ehlyah working on/planning to work on this soon? If not that's OK, I'll just change the label to "Help Wanted". Let me know when you have a moment!

[2018-06-15 22:28] beffymaroo commented on #9425
@TheHollidayInn @Tressley maybe this should go back to Help Wanted status then?

[2018-06-15 22:29] beffymaroo commented on #10055
@fentie Are you still working on this issue? Please let us know when you have a moment. Thank you!

[2018-06-16 03:10] fentie commented on #10055
@beffymaroo not recently. I haven't done much to deal with the open/close scrolling oddity that @negue mentioned in his most recent code review. If anyone else wants to finish pushing that PR over the line that's fine, otherwise... it's still on my to-do list. I even have a Task created for it.

[2018-06-16 08:24] paglias commented on #9957
@beffymaroo no, the PR has been closed but not merged, a new one has been opened

[2018-06-16 17:04] arunikayadav42 commented on #10448
sure :)

[2018-06-16 20:40] Feywood commented on #10008
@beffymaroo We've figured out how to approach the issue and how the svg elements can be tagged. However, since we're going to be moving and @shanaqui is still dissertationing, we'd welcome the help for sure.

[2018-06-19 02:10] thefifthisa commented on #10440
Hey @Alys! Can I work on this?

[2018-06-19 08:11] paglias commented on #10440
Go ahead @thefifthisa !

[2018-06-19 20:55] monsterfurby commented on #10365
Same issue here. Seems like changes to tasks do not propagate properly to Group. So right now, essentially the functionality seems to be limited to claiming (triggers message, changes claim state) and copying a task from the group to the individual task dashboard with no communication going the other way. **This behavior is not limited to tasks claimed by several users.**
This cannot be WAD.

[2018-06-19 21:03] TheHollidayInn commented on #10365
The default behavior is to not complete the group task automatically. Sabe is working on adding that option.

Are you also stating that you want other details to propagate? As in, edits to the task on the users side to update on the group side. We built the based on challenges which don't allow for that, but that seems like an obvious want if I am understanding correctly.

[2018-06-20 09:13] Alys commented on #9745
Another example is below, thanks to citrusella for reporting it. It was created two years ago but modified on 2018-06-14.

[code]

[2018-06-20 10:30] shanaqui opened #10460 "Error message during sign-up for too long/too short usernames is uninformative"
Error message during sign-up is uninformative -- instead of showing that the length of the username is insufficient/too long, it just says "Invalid request parameters."

![image](https://user-images.githubusercontent.com/8144640/41653232-b8848c52-7485-11e8-9a31-7b8837566c7a.png)

[2018-06-20 18:40] arunikayadav42 commented on #10448
I am having problem in running npm install.Can somebody please help me?

[2018-06-21 02:31] UtterlyWeird commented on #4313
Your recent announcement is keeping me from accessing anything else on
the site.  I can't even get to the help button.

--
I am Tam.  Tam I am.  I like green eggs, but I don't like ham.

[2018-06-21 03:43] Alys commented on #10448
@arunikayadav42 Yes, we can help, but we'll need specific details about the problem. The best way to proceed is probably to see the "Prepare for Troubleshooting" section in the "Setting up Habitica Locally ..." wiki page for your operating system - that will tell you the sort of information to provide.

[2018-06-21 03:46] Alys commented on #4313
@UtterlyWeird It's unlikely to be the announcement that's causing the problem; it's probably just that the website doesn't have all the scripts loaded or has some corrupted cached data. Try reloading the website with your browser's refresh button while you are holding down the "Control" or "Command" key on your keyboard. If that doesn't help, go to https://habitica.com/static/clear-browser-data an

[2018-06-21 11:53] shanaqui opened #10461 "Scrolling issues with Bailey announcements"
A variety of reports from Report a Bug:

_Aerilita (3b724a41-48d3-4048-ae27-70b258cf5a72): "Not exactly a bug report...

So I finally updated to Windows 8.1 and this is the first time entering Habitica on it. The browser is Chrome 67.0.3396.87 64bit. And I had the issue where I couldn't scroll "New stuff by Bailey". There was only one scrollbar (before I updated, there were two when pop-ups appear

[2018-06-21 11:54] shanaqui commented on #10461
Here's a screenshot from another user: https://ibb.co/hFH9Zd

[2018-06-21 12:06] shanaqui commented on #9755
It's worth noting that if you search for "Report a Bug", as we often ask people to do in admin inbox, it is far down the list below things like "Tabletop Gamers".

[2018-06-21 12:08] shanaqui opened #10462 "The static main page shows features we do not have"
Reported by Il Mago:

[2018-06-21 18:27] UtterlyWeird commented on #4313
*fist pump of relief*  Yay, it scrolled properly, and I can now make
my sleeping avatar into the best of little sassy fish!  Thanks!

--
I am Tam.  Tam I am.  I like green eggs, but I don't like ham.

[2018-06-21 18:35] beffymaroo commented on #10462
@Tressley I've added a "Needs Design" label here - let me know if that's not the case. Thanks!

[2018-06-21 18:38] beffymaroo commented on #10435
@jrobind Sorry for the delay! If you'd like to take a look at this issue we'd be very grateful for the help. :)

[2018-06-21 19:04] beffymaroo commented on #9244
@marvinrabe Are you still working on this issue? Please let us know when you have a moment. Thank you!

[2018-06-21 19:04] beffymaroo commented on #10298
@haydenbetts Are you still working on this issue? Please let us know when you have a moment. Thanks!

[2018-06-21 19:05] beffymaroo commented on #10379
@haydenbetts Are you still working on this issue? Please let us know when you have a moment. Thank you!

[2018-06-21 19:37] haydenbetts commented on #10379
Hi  @beffymaroo. No I am not currently working on this. I got stuck trying to write tests for my fix. The WIP PR that I submitted does contain a solution to the issue itself though!

[2018-06-21 19:37] haydenbetts commented on #10298
@beffymaroo No I am not currently working on this issue.

[2018-06-21 19:47] SabreCat commented on #10461
Detail from Report a Bug:

**Qazzian** (d427e35a-b93d-411a-9c99-f9a260983436):

[2018-06-21 19:58] SabreCat opened #10463 "Time Traveler background changes seasonally even when there's no Mystic Hourglass"
[//]: # (Before logging this issue, please post to the Report a Bug guild from the Habitica website's Help menu. Most bugs can be handled quickly there. If a GitHub issue is needed, you will be advised of that by a moderator or staff member -- a player with a dark blue or purple name. It is recommended that you don't create a new issue unless advised to.)

[//]: # (Bugs in the mobile apps can also

[2018-06-21 20:07] SabreCat opened #10464 "Can click and drag tasks within a Challenge to sort them, but it throws Not Found error"
[//]: # (Before logging this issue, please post to the Report a Bug guild from the Habitica website's Help menu. Most bugs can be handled quickly there. If a GitHub issue is needed, you will be advised of that by a moderator or staff member -- a player with a dark blue or purple name. It is recommended that you don't create a new issue unless advised to.)

[//]: # (Bugs in the mobile apps can also

[2018-06-21 20:23] SabreCat opened #10465 "Deletion feedback form doesn't appear unless user has local auth email"
[//]: # (Before logging this issue, please post to the Report a Bug guild from the Habitica website's Help menu. Most bugs can be handled quickly there. If a GitHub issue is needed, you will be advised of that by a moderator or staff member -- a player with a dark blue or purple name. It is recommended that you don't create a new issue unless advised to.)

[//]: # (Bugs in the mobile apps can also

[2018-06-21 20:29] SabreCat commented on #10379
This doesn't seem like the sort of fix we'd need a test for anyway! I'll take another look at that PR.

[2018-06-22 05:48] thefifthisa commented on #10460
I'd like to take this!

[2018-06-22 08:24] Alys commented on #10460
@thefifthisa Thanks! Please go ahead!

[2018-06-23 06:30] Alys commented on #10386
Reopening since this will still happen from large history arrays.

[2018-06-23 08:42] paglias commented on #10386
Maybe we should wait for new reports after the migration before reopening
this?

Il Sab 23 Giu 2018, 08:30 Alys <notifications@github.com> ha scritto:

[2018-06-23 09:02] Alys commented on #10386
If you want sure, I'll close it now, but some of the original reports were from the Dailies and user.history arrays.

[2018-06-23 15:28] paglias opened #10472 "API v4 - Reference"
## Changes with performance benefits

<details><summary>Users Inbox Messages</summary>

<p>

**DONE** ~~There’s no limit to the amount of messages stored in each user’s inbox and for users with a lot of messages the inbox takes several hundred KBs of space for each user document and make up 90%+ of the entire user document size.~~

This is causing some operations to be considerably slow as shown i

[2018-06-23 22:29] Alys commented on #10472
API v3's [Leave a group](https://habitica.com/apidoc/#api-Group-LeaveGroup) route takes an optional body parameter `keepChallenges`, which can be either `remain-in-challenges` (the safest option for any client to implement) or `leave-challenges` (the default but usually undesirable). https://github.com/HabitRPG/habitica/blob/88188e56d988176cedac0816893290b1ca4f4ac5/website/server/controllers/api-v

[2018-06-23 22:56] Alys opened #10473 "broad body size causes shirt to display over armor when not using costume"
If you set up your avatar like this:
- costume turned off (i.e., avatar displays Battle Gear)
- armor piece selected in Battle Gear
- any shirt colour selected
- `broad` body size chosen

then your avatar displays your shirt, not your armor.

It does not occur if you change the body size to `slim` or if you have the costume option turned on.

Example:
[code]
![image](https://user-images.githubuser

[2018-06-23 22:57] Alys commented on #10473
Note that I haven't checked my assumption that it's a z-index problem. Might not be.

[2018-06-23 23:30] Alys opened #10474 "leader changed in guild with an active group plan"
oakfernmama (0917fecb-cce2-4204-94be-c03f0a53f07c) reported: "I just signed up for the Group feature... somehow without my OK, the system changed my son to the group leader. I can't assign him tasks, nor can I change the group leader. Is there a way to fix this - and prevent the behavior in the future?"

I confirmed that they did pay for the group subscription (this is from our records in Slack):

[2018-06-23 23:43] Alys commented on #10473
The brilliant and awesome  citrusella, the serving wench has worked out what's causing this:

"@Nevaline I don't actually do the coding or art or anything, but snooping through the code with my rather minimal knowledge of how it works, it appears the broad version of the armor you're wearing may mistakenly be a copy of the hand item. (I'm using [this file](https://github.com/HabitRPG/habitica/blob

[2018-06-23 23:49] Alys commented on #8472
I'm reopening this because the issue is happening again (the challenge edit form makes it look like you can edit the tag). Thanks to Texas Toland for reporting the bug and to citrusella for finding this old issue for us. :)

[2018-06-24 12:31] Alys commented on #10474
Some useful details from oakfernmama:
**"I was signed in to both mine and my son's accounts to complete the invite & get added to the group. The invitation came through on my son's side, but I couldn't access our group. I logged out and logged back in, which caused the group to show up in the nav menu - but when I went back to my account and tried to assign him a task, I got the "Not authorized to

[2018-06-24 12:34] Alys commented on #9986
Another example reported today by loveroflibraries (2ce80a58-32fd-4275-a046-c9a84099b6f5):
"Every time I hit save after editing a task my profile pops up in front of my tasks page (like I have clicked on my avatar picture). It's not a major issue just annoying but thought I should report it in case it's a symptom of a bigger problem."

[2018-06-24 13:59] mcshakes commented on #10297
Hey @beffymaroo, sorry for the delay. Was off on vacation and turned off notifications. Actually, I won't be able to work on this. I recently took over a couple large projects at work, so will have to focus my attention on those.

[2018-06-24 20:34] LaurenceJJones commented on #10460
Can I also comment that I was going to open an issue since I could sign up but I didnt realise that spaces are not allowed within the username it isnt clearly stated within the text at the top just thought i'll add this

[2018-06-24 22:09] TheHollidayInn commented on #10474
From looking at Azure and Amplitude, it looks like (time is in UTC):
1. Group created at 9:03pm
2. Son accepted invite around 9:05pm
3. Task was created at 9:14pm
4. Group was updated around 9:15pm (probably where the error happened)
5. Owner when to Bug guild to report at 9:17pm

There are other events.

I am guess there might be an issue in the PUT request for groups as well.

Can we ask the use

[2018-06-25 03:49] Alys commented on #10474
Another example of this today for group ID 9d7fe60d-008e-44f2-9dcf-0d1893592f3e
The guild was created by one user and then about three minutes later a second user was added. That second user then became the guild leader, even though the `purchased` details and our Slack records clearly show the other user was the person who made the payment. The `memberCount` was also 3 instead of 2. The `quantity

[2018-06-25 03:52] Alys commented on #10474
@TheHollidayInn

Yes, good idea! The best way to reach them is probably by PM since I'm not sure if they'll check back to the Report a Bug guild again (you can enter their User ID into the Hall and then click on their name to get to their profile). I like the idea of rewarding them - they were very pleasant to deal with. :)

[2018-06-25 04:54] Alys commented on #10124
Another example of this was reported by email yesterday, with a follow-up email today:

"I'm having a weird bug with my Habitica Group that has my account listed twice in the group.  There are only 4 people in the group - myself as the primary and my 3 siblings.  However, I have been charged for 5 people total (1 primary for $9.00 and 4 secondaries for $3.00 ea).  I'd like to remove the extra acco

[2018-06-25 05:22] Alys commented on #10123
Another example was reported today. The user tried to cancel their subscription last year, but failed payments in PayPal prevented PayPal from processing the cancellation, and so after the user had updated their payment details in PayPal, the payments continued (but without subscription benefits since that part of the subscription had been cancelled in Habitica). I've refunded all their payments f

[2018-06-25 06:16] Alys commented on #10446
@arunikayadav42 I'm sorry about the delay! The [Guidance for Blacksmiths](https://habitica.wikia.com/wiki/Guidance_for_Blacksmiths) wiki page is a good place to start learning about Habitica's code and how to contribute. It links to a couple of other important pages about setting up a local install and then using the install for creating new code and pull requests. If you have any generic question

[2018-06-25 06:24] Alys commented on #7454
I just found a guild (e5fc71ad-00e4-4081-b578-576b05b050d7) where the `memberCount` was zero even though it had one member (the original leader). It had been created yesterday and is now deleted due to the request of the person who created it. It was a group plan guild (so here's a link to https://github.com/HabitRPG/habitica/issues/10124 for cross referencing), but the `quantity` field and paymen

[2018-06-25 08:28] LaurenceJJones commented on #10462
I can edit the image and remove the done tags if you like

[2018-06-25 12:23] Tressley commented on #10462
@beffymaroo -- This is definitely on me. I'll get the image corrected and into Zeplin. 👍
@HUGODOS -- This is a quick one for me, but I appreciate you offering to help. 😃

[2018-06-25 12:51] Tressley commented on #10462
Done. Just need to update the landing page with the SVG located here: https://zpl.io/bo4NWg2

[2018-06-25 13:21] shanaqui opened #10475 "Modal positioning wrong in specific cases"
From Report a Bug:

I've confirmed this myself.

![image](https://user-images.githubusercontent.com/8144640/41852422-5d5e1dde-788b-11e8-9d82-2b633b4780a3.png)

[2018-06-25 14:44] TheHollidayInn commented on #10123
Group plan doesn't use PayPal. So that would be for a normal sub.

[2018-06-25 18:38] SabreCat commented on #10446
@Alys Oh, I pointed them there already over on https://github.com/HabitRPG/habitica/issues/10448! (Though I suppose I jumped straight to local install, whoops)

[2018-06-25 18:39] SabreCat commented on #10124
Hmm! No, I don't think we ran anything else after that first go....

[2018-06-25 19:22] TheHollidayInn commented on #10124
I think there is a chance we set quantity wrong during debug, but also Im pretty sure Amazon doesn't use the quantity field. We can run the migration again this week to debug the member count issues that still exist with Group plans

[2018-06-25 19:53] Alys commented on #10446
Ah! Yes, I remember that now. Sorry, Sabe!
The local install page has links back to Guidance for Blacksmiths so it's a good starting point too. :)

[2018-06-25 19:56] Alys commented on #10123
Yes, that's right.

[2018-06-25 20:15] SabreCat commented on #10473
oh no! What a goof. This is almost certainly my error. I'll rebuild these sprites.

[2018-06-25 20:20] SabreCat commented on #10473
Yup yup. We attempted to fix a transparency issue with the weapon, and the fixed file had the wrong name...

[2018-06-25 21:10] SabreCat commented on #10473
Fixed in bc03c1d18a9738d146e920f51adf31be671a0d56

[2018-06-25 21:10] #10473 closed, assigned to SabreCat

[2018-06-25 22:06] marvinrabe commented on #9244
@beffymaroo Hey! I dont find the time to implement this currently. You can remove the "in progress" label and give another one the opportunity to do this.

[2018-06-26 03:54] texastoland opened #10477 "CSS margin of headers and paragraphs renders poorly for Markdown"
### Description

1. Headers have 0 vertical spacing before. In my party wiki I work around it with horizontal rules.

2. Paragraphs have 0 vertical spacing before or after. I first noticed in a popular guild when someone asked how to format a long post. They worked around it with paragraphs consisting of a single `.`.

![habitica com_party](https://user-images.githubusercontent.com/48431/41887502-

[2018-06-26 08:44] dacappo opened #10478 "Mongoose NoSQL injection"
### Description
I found a NoSQL injection that allows me to unsubscribe specific or even all users from notifications through a bypass for the implemented unsubscribe-code encryption. Is there any contact for responsible disclosure?

[2018-06-26 08:53] Alys commented on #10474
Another report for guild e29315e8-2e25-4916-9ffc-44e60295d897 created about 10 hours ago (emphasis is mine):

"I tried to sign up for a group on my laptop using Chrome on windows 10. I had already added one member to my group. **When I added the second member to the group after paying for it, it made them the group leader. And it no longer showed the member that was there previously in the group l

[2018-06-26 08:56] Alys commented on #10474
I've fixed the guild's memberCount (changed from 4 to 3). The `quantity` is currently set to 4, but it should be 5. I haven't changed that since they've cancelled the group plan.

[2018-06-26 08:58] paglias commented on #10478
Hi @dacappo ,

you can contact admin@habitica.com, thanks

[2018-06-26 08:59] paglias commented on #10478
I'm going to close this issue, feel free to comment again if there's any problem with the report

[2018-06-26 08:59] #10478 closed, assigned to nobody

[2018-06-26 10:28] shanaqui opened #10479 "Party invitations via email not working as described"
People in the Bug Guild have been reporting that when they send party invitations via email, it sends an email which prompts people to sign up, but once they sign up, there's no invitation in their notifications as we suggest there will be.

[2018-06-26 10:47] Alys commented on #10474
I've searched all current group plans. This bug also happened to groups a674acdb-13e7-4df4-8ad9-0756380aff1a and adb4a28f-86b8-4865-aaff-6f2c8c8d29e0, created on Jun 22 2018 12:46:46 and Jun 23 2018 15:45:11. I've fixed the leaders and memberCounts. The `quantity` values are probably still wrong.

[2018-06-26 11:09] Alys commented on #10474
I am guessing this code in `api.joinGroup` would be causing this bug if some other code is preventing memberCount from being correct:

https://github.com/HabitRPG/habitica/blob/e5d834b40aa4407ab8603dc911e94e052d15174a/website/server/controllers/api-v3/groups.js#L591

This memberCount code is relatively new:
[code]
It looks like memberCount is being calculated before the new guild is added to the u

[2018-06-26 15:29] TheHollidayInn commented on #10474
Nice find! I remember seeing that before, but I couldn't remember. I think we should add a line there checking if it is a group plan then!

[2018-06-26 17:36] citrusella commented on #10477
I know that the spacing between paragraphs is well-known, since it's usually advised to use `&nbsp;` in between if you want to get the illusion of spacing.

i.e. this has `&nbsp;` after it
&nbsp;
and then a second paragraph after the `&nbsp;`

(I don't have any answers, I just wanted to note that, since it's common-ish advice)

[2018-06-26 17:42] SabreCat commented on #9244
done. Thanks for letting us know, @marvinrabe !

[2018-06-26 17:47] texastoland commented on #10477
@citrusella the problem is that's a workaround to incorrect CSS rather than Markdown itself. I just uploaded a screenshot with fixes applied.

[2018-06-26 22:09] Alys commented on #10479
We had this issue a while back: https://github.com/HabitRPG/habitica/issues/9450
Maybe the discussions in that issue and the linked PR are still relevant.

[2018-06-26 22:29] Alys commented on #10474
That's certainly a workaround for now but it's worth noting that a private guild or party (with or without a group plan) can't ever be in the situation where there are no members because the guild/party is automatically removed as soon as the final member leaves. The root of the problem here is that the memberCount must be wrong when it says 0 when a player joins a private guild. The code that ass

[2018-06-26 22:53] TheHollidayInn commented on #10474
Oh I see. I misread the code above, sorry. Let me adjust that as well.

[2018-06-27 16:14] texastoland commented on #10477
@Alys low-hanging PR?

[2018-06-27 17:02] paglias commented on #10461
This should help when it's deployed https://github.com/HabitRPG/habitica/commit/fb95d001abbc2090c78db97e06ccc60e3b5adfa7

[2018-06-27 17:04] paglias commented on #10464
The corret behavior here is to prevent the reordering or it should work for challenges as well?

[2018-06-27 17:07] #10379 closed, assigned to nobody

[2018-06-27 17:07] #10413 closed, assigned to nobody

[2018-06-27 17:07] #10282 closed, assigned to nobody

[2018-06-27 17:08] #10434 closed, assigned to nobody

[2018-06-27 17:08] #10440 closed, assigned to nobody

[2018-06-27 17:12] #10465 closed, assigned to nobody

[2018-06-27 17:12] #10463 closed, assigned to nobody

[2018-06-27 17:12] #10451 closed, assigned to nobody

[2018-06-27 18:30] SabreCat commented on #10464
I think you should be able to reorder them, setting up the sequence that users will see when they look at the Challenge / what order the tasks will default to when the user joins the Challenge.

[2018-06-27 18:34] #10461 closed, assigned to nobody

[2018-06-27 18:48] paglias commented on #10464
Okay, I checked the code and looks like it's not supported. It's supported for user and groups tasks but not for challenges. I can fix the error by disabling moving tasks in challenges but supporting it is IMHO a new feature and would require some time to implement

[2018-06-27 19:14] Alys commented on #10464
Sort order in Challenge tasks used to work, including in the user's copies when they joined. We've been treating it as a bug that it no longer works. There's an issue for it IIRC (on mobile so I can't search easily).

[2018-06-27 19:20] paglias commented on #10464
Ah, I couldn't find the code, there's one for groups and users tasks but nothing for challenges but I'll give a look if you can point me to the issue with more info when you have time

[2018-06-28 01:43] Alys commented on #10477
I think a change to markdown styles to add spacing after paragraphs would be a good enhancement (and would be consistent with how the Android app displays them), although we should keep in mind that when it goes live, all tasks, PMs, and chat posts that already use a workaround for spacing will now have too much spacing, so perhaps a Bailey message at the time would be a good idea so that we don't

[2018-06-28 02:13] texastoland commented on #10477
That occurred to me too. I'd be amenable to enclosing it in `.markdown` just like `p`. I wanted to suggest a unified approach first.

[2018-06-28 04:57] dspitz716 commented on #10281
hey @beffymaroo  I would love to take a crack at this if no one else is taking a look right now.

[2018-06-28 09:46] Alys commented on #1703
This is definitely still an issue so I'm reopening it. Note the comments above from me and TheHollidayInn  from January 2017 about sorting. tasksOrder does exist in challenges, for example:
[code]

[2018-06-28 09:50] paglias commented on #1703
This is about challenge tasks not keeping the same order when added to the user's list? So it's different from the issue @SabreCat reported?

[2018-06-28 09:50] Alys commented on #10464
@paglias We have this issue for the Challenge owner being able to sort tasks in the Challenge's page: https://github.com/HabitRPG/habitica/issues/1703 ("challenge items don't retain sort when creating or editing a challenge").
It has a small amount of useful tech detail in it (in the last few comments), so this new issue might be redundant.

We also have https://github.com/HabitRPG/habitica/issues

[2018-06-28 09:52] paglias commented on #10464
Is this one needed then? It seems the same as #1703, the only difference is the error but it's the same bug.

I'll close this one

[2018-06-28 09:52] #10464 closed, assigned to nobody

[2018-06-28 10:50] Alys commented on #1703
This one is about the challenge owner editing the challenge to sort the tasks on the challenges page (basically the same as #10464). https://github.com/HabitRPG/habitica/issues/7599 is for tasks keeping the same order when first added to the user's list.

[2018-06-28 13:55] probaton commented on #10479
I have absolutely no idea how invitation processing is managed in Habitica, but it sounds like an interesting challenge. Sign me up.

[2018-06-29 13:12] probaton commented on #10479
I did some tinkering and it looks like the login page overrides the URL suffix to `/static/home` while it's loading, which erases the query string in the URL.

The chain for sending new users a party invite is triggered in `register()` in `home.vue`, which bases the decision to send invites on the presence of a `p`/`groupInvite` option in the query string. No query string means no invites.

I clic

[2018-06-29 16:58] shanaqui opened #10485 "Searching or filtering challenges does not update number of tasks info"
From Il Mago in the Bug Guild:

[2018-06-29 18:29] #10485 closed, assigned to nobody

[2018-06-29 21:19] TheHollidayInn commented on #10479
Thanks, @probaton! I believe I know the issue now.

[2018-06-30 06:03] Alys commented on #8087
The only remaining action for this PR is to document the member route. It's been started (probably mostly done) by @madpink in https://github.com/HabitRPG/habitica/pull/9760 so that needs to be taken over by someone and finished (see the staff comments in that PR). I've updated the top post to include this summary.

[2018-06-30 08:56] ulugbekna commented on #10433
When a user deletes his/her account, the user document is completely deleted from the user collection.
Hence, we cannot know if the user deleted the account or it never existed - API simply returns response status 404.

In order to resolve this issue, I think we could:
1. Bring up a modal with the text “Sorry, User deleted account…” every time the “api/v3/members/memberId” request returns 404 in c

[2018-06-30 10:03] Alys commented on #10312
I've marked this as help wanted but @marvinrabe let us know if you'd like to claim it again.

I've created Android and iOS versions of this issue: https://github.com/HabitRPG/habitica-android/issues/993 and https://github.com/HabitRPG/habitica-ios/issues/722

When all three client-side issues have been completed, we can create a new one for API support.

[2018-06-30 16:01] TheHollidayInn commented on #10433
I think the first idea is good!

[2018-07-01 03:42] #10479 closed, assigned to nobody

[2018-07-01 15:11] fentie commented on #10055
Status update: I've got the FAQ accordion implemented using bootstrap collapse, with no more page jumping. Now I need to re-add the URI hash changing, backport the HTML into pug, fix the styling, and resubmit.

[2018-07-01 18:50] vinmegamitensei commented on #10437
I would like to give it a shot. I already did some testing here and found what might be the problem, but I want to ask for your guys permission to continue. May I?

[2018-07-01 18:52] TheHollidayInn commented on #10437
Please do! Thanks

[2018-07-02 12:47] shanaqui opened #10491 "Group tasks do not notify that they need approval"
From the Bug Guild:

Not verified.

[2018-07-02 13:11] paglias commented on #10491
Has this been verified? I'm pretty sure we implemented a notification for this

[2018-07-02 13:13] shanaqui commented on #10491
I don't get paid for time I spend testing/verifying, so no, unless it's simple and quick for me to verify, I can't test. :)

citrusella did comment in reply that it did work at one point, but it seems that it doesn't now.

[2018-07-02 13:53] paglias commented on #10491
If the bugs aren't verified it would be useful to add the need
investigation tag then

Il Lun 2 Lug 2018, 15:13 shanaqui <notifications@github.com> ha scritto:

[2018-07-02 13:54] shanaqui commented on #10491
Nor can I add labels or tags, so perhaps you could do that for me.

[2018-07-02 13:56] paglias commented on #10491
Ok, then please add a note at the top of the bottom of bugs saying that they're not verified

[2018-07-02 14:47] TheHollidayInn commented on #10491
I'm not sure if we have notifications for this. But the tasks should display when they need approval.

[2018-07-02 14:48] shanaqui commented on #10491
From citrusella:

"I think the "no needs approval notification" *is* probably a bug, though; I remember testing out/playing with some group plan things early on and it definitely *used* to work."

[2018-07-02 14:53] TheHollidayInn commented on #10491
OKay, sounds good! @paglias any ideas on why this would be broken? I'll try to recreate locally.

[2018-07-02 15:38] paglias commented on #10491
Not sure why it would be broken, let me know if you're able to replicate

[2018-07-02 16:17] vinmegamitensei commented on #10462
I might be able to help, but I need an invitation to the Zeplin project, if possible.
My e-mail is: vinicius@pomodorify.me

[2018-07-02 18:51] vinmegamitensei commented on #10429
I can fix this, just need an 'Ok' to start. Thanks!

[2018-07-02 19:05] paglias commented on #10429
@vincecampanale go ahead!

[2018-07-02 20:38] negue commented on #10475
Yes some modals currently have a weird position.

The modal's top should be 48px from the bottom of the nav bar

[2018-07-03 01:03] SabreCat commented on #10375
We're also seeing this happen with links from within Habitica emails, e.g. https://habitica.com/login?redirectTo=%2Fuser%2Fsettings%2Fnotifications

[2018-07-03 08:53] paglias commented on #10375
@SabreCat we can add it to the whitelist for the meantime but the solution is this https://stackoverflow.com/questions/7722062/google-oauth2-redirect-uri-with-several-parameters

[2018-07-03 09:07] paglias commented on #10491
<img width="428" alt="schermata 2018-07-03 alle 11 06 30" src="https://user-images.githubusercontent.com/589911/42210359-2aa53522-7eb1-11e8-9fcd-b05c95819cb0.png">

tested right now and it works, we'll need more info about this as I'm not able to replicate

[2018-07-03 09:24] paglias commented on #10491
Fixed a bug with the notification not working correctly

[2018-07-03 09:34] shanaqui commented on #10491
Had a bit more time today so I've had a go. I can't get that notification to pop up at all, ever, for any class of task. Wondering if that's because I'm the group leader anyway, though, so I'm going to invite my testing account to the group and see what happens.

[2018-07-03 09:39] shanaqui opened #10496 "Newly subscribed accounts receive erroneous notification that they have Mystery Items"
If an account is newly subscribed, in at least some cases a notification appears that they have Mystery Items available, even though they do not.

This one is verified by me. In this specific case the account (which did not have a subscription) was invited to a group plan (thus receiving a 'free' subscription).

[2018-07-03 09:43] shanaqui commented on #10491
Don't know if this is the bug you fixed with the notification not working correctly, but it does pop up if an account that isn't the owner of the group completes a task that wants approval *but* if you then click on "approve", you get a "task not found" error. (Which you can't really see because it's behind the notifications dropdown, so that's a bit of a pain.)

[2018-07-03 10:26] paglias commented on #10491
Yeah that's the one I fixed

Il giorno mar 3 lug 2018 alle ore 11:43 shanaqui <notifications@github.com>
ha scritto:

--
Matteo Pagliazzi - paglias.net

[2018-07-03 15:28] shanaqui commented on #10491
Per a suggestion from Vicky, I'll direct the user who made the original report to comment here for further troubleshooting!

[2018-07-04 09:47] vinmegamitensei commented on #10475
I can give it a try, waiting for the 'OK'. Thank you!

[2018-07-05 02:45] TheHollidayInn commented on #9874
Our new nav bar seems to have fixed this.

[2018-07-05 02:45] #9874 closed, assigned to nobody

[2018-07-05 11:25] shanaqui commented on #10100
Another report today from Steve (5d15b440-f113-41f4-b102-5061d25b9fed), I think, with the following error:

Verified by me.

[2018-07-05 19:24] shanaqui commented on #10491
From IGetCarriedAway (4f439510-6f8c-46b0-863d-04105a01d1f7): "Hello All! I am on the group plan for Habticia. I am noticing I am not longer getting notifications to approve or deny that tasks were completed. I verified that the approval feature was turned on for all the tasks, but it seems we never get the notifications. Is something up? Thanks!"

(Directed them here as well.)

[2018-07-05 19:33] paglias commented on #10491
Can you suggest to them to edit the task, untoggle and retoggle the needs
approval feature and see if it fixes the problem?

Il Gio 5 Lug 2018, 21:24 shanaqui <notifications@github.com> ha scritto:

[2018-07-05 19:35] shanaqui commented on #10491
@paglias I will if they're not willing to post on Github, but I linked them here so hopefully they'll see it here! :)

[2018-07-05 21:37] #9840 closed, assigned to nobody

[2018-07-06 10:32] shanaqui opened #10502 "Profile modal layout changed, avatar and stats now on different lines (party members, etc)"
Reported by citrusella today, confirmed by me in Google Chrome:

![image](https://user-images.githubusercontent.com/8144640/42374531-a4c61812-8118-11e8-8c96-d745396e97b4.png)

[2018-07-06 14:38] SabreCat commented on #10491
There was also a problem where tasks might appear in the group tasks list as needing approval when they hadn't in fact been set to need approval, which could be contributing to the confusion/difficulty in reproducing exactly what's going on. That's fixed in Staging and will be live next week.

[2018-07-06 20:55] #10437 closed, assigned to nobody

[2018-07-06 20:57] #10435 closed, assigned to nobody

[2018-07-07 01:08] texastoland commented on #10477
@Alys ping. The next bug I'd like to knock out is missing emoji images.

[2018-07-07 18:30] negue commented on #10475
@viniciusperuzza sure go ahead :) Let us know if you need any help with that issue

[2018-07-07 20:52] negue commented on #10281
@dspitz716 sure go for it! :)

[2018-07-07 21:10] negue commented on #10256
@Alys I think this can be closed, as of now there is no input to add a message once the `chatRevoked` is true

[2018-07-07 21:51] negue commented on #10213
My Idea to fix this would be replace all `in-page` links by a variable inside all locale-strings, this way those can't / won't able to be translated.

But for a good example `accountSuspended` change the `in-page` urls there would also mean to add the urls on many files

[2018-07-08 02:23] Alys commented on #9828
Another report of this from AnneLine (16a107de-d519-43ce-8c30-8da5cbcbb237), one of our high-volume challenge creators.

_"I have also found a most irritating bug. I am trying to select 'Moosy' as the WINNER of the June 2018 dolphin dishes challenge in the STAG guild. I've tried about 5 times. She won it fair and square. The problem is that that Habitican's is 'below' the list of people who are sh

[2018-07-08 02:43] TheHollidayInn commented on #9828
Is your suggested that in the memober modal we allow the leader to view progress and Mark the user as the winner?

Can we post the recommended solution at the top in 1-3 sentences?

[2018-07-08 02:50] Alys opened #10508 "can't view participant list of active quest"
As reported by Ireanna (267135db-e7f8-42d9-bed2-f84b4261b64e):

**"once a quest is launched, the participant list can't be viewed anymore. this has been an issue since the whole big redesign of the site I think, just never got around to reporting it. there is the word "Participants" but clicking it does nothing."**

They're correct that it's been happening since the redesign and I recall that we w

[2018-07-08 03:25] Alys commented on #9828
@TheHollidayInn Thanks! I've added this to the top post:

Suggested solution ([from here](https://github.com/HabitRPG/habitica/issues/9828#issuecomment-366500306)):

The list you get to from the participants badge could have a "view progress" button next to each member (in addition to the three-dots menu so you'd still have access to those functions). When you click the "view progress" button, you

[2018-07-08 03:36] Alys opened #10509 "Guild / Party Invite members button does not work for some players"
Some players are reporting that the button to invite new members to a guild does not work for them.

I've seen several reports of this now so it's either a bug that affects only some OSes / user accounts or is an intermittent bug that's not platform-dependent or user-dependent. It does not occur for me. Some players report it happening in multiple browsers.

It seems to affect more than one guild

[2018-07-08 03:52] Alys commented on #10509
Another report:

Chandra Ryder (ae890b60-0031-41cf-aa95-f98d45c9a2e1): I created a private guild last night for a specific group of people. When I click the "invite" button, nothing happens. I've tried this in both Chrome, and Mozilla with adblocking completely turned off. I've refreshed several times over a twelve hour period and nothing has changed.

shanaqui: Hm, I can't replicate this -- can y

[2018-07-08 03:54] Alys commented on #10509
Note that that one ^^ has been happening on different computers as well as different browsers so it can't be a platform-dependent bug.

[2018-07-08 03:58] Alys commented on #10509
Two more reports, with no responses to our requests for more information:

----

Nicole Oré Kovacs (7c68c01f-5ac1-4f7d-9c1d-3d54739b4a1c): Hello! I'm returning to Habitica since absence of 5 months. I see I have been kicked out of my former party (which I understand) but there is an old invitation to a quest in the notification Icon which I cannot accept nor decline. I also created a new party for

[2018-07-08 06:49] texastoland commented on #10196
This was driving me crazy. They should be the same. Thank you @yb50110!

[2018-07-08 15:58] sanchitbansal10 commented on #10414
I would like to work on it..Waiting for the approval..thanks

[2018-07-08 20:58] Alys commented on #10256
Yes, this was fixed by the PR linked above (https://github.com/HabitRPG/habitica/pull/10307). Closing.

[2018-07-08 20:58] #10256 closed, assigned to nobody

[2018-07-08 20:59] Alys commented on #10414
@sanchitbansal10  Thanks! Please do! Comment here if you have questions.

[2018-07-08 22:20] Alys opened #10510 "party members list is misformatted"
When you click on the "View Party" button or on the Party page's member list badge, the list of party members is no longer displayed properly. It now looks like the screenshot below. From memory, it used to be that all of the details for one member were in a single row (avatar, name, stats bars).

_Thanks to Ireanna for reporting this._

![scr](https://i.snag.gy/driyhW.jpg)

[2018-07-08 22:39] Alys opened #10511 "Unclear that "Use my selected payment method for future purchases" for Amazon is mandatory"
As reported by Sitaara (ecf22ed4-3489-423c-a74f-a9fb05ab1fbf):

_"i'm trying to make a group but always apear "an unexpected error occured" or "the payment was not successful". I already tried other cards but happened the same thing."_

From Loggly, they were trying to use Amazon and error messages similar to below were shown there.

The same occurred when I tried to use Amazon to create a Group P

[2018-07-08 22:39] Alys commented on #10511
Labelled as needs investigation for staff to examine.

[2018-07-08 23:04] Alys commented on #10069
I'll work on this.

[2018-07-09 09:08] paglias commented on #10510
I think this is the same as https://github.com/HabitRPG/habitica/issues/10502, that's being fixed in https://github.com/HabitRPG/habitica/pull/10504

[2018-07-09 09:43] thefifthisa commented on #10508
Hey! Can I try working on this?

[2018-07-09 09:48] Alys commented on #10510
@paglias Ah yeah, thanks! I'm closing this and I've added extra keywords to the title of that issue.

[2018-07-09 09:48] #10510 closed, assigned to nobody

[2018-07-09 09:49] Alys commented on #10508
@thefifthisa Thanks, that would be great! Post here if you have questions.

[2018-07-09 14:09] vinmegamitensei commented on #10475
Hello @negue , I've managed to fix it, but I need some evaluation first.
This error happens with every modal: profile, message, configs, etc. That being said, I've looked for a general modal file/class so every modal get this "top: 45px" positioning.

As image01 shows, a pre-existing .modal class exists on bootstrap.
![image](https://user-images.githubusercontent.com/29221732/42454790-cb531d0e-836

[2018-07-09 14:12] vinmegamitensei commented on #10475
Oh, and also: I've set it to 50px, because there were moments where the modal gets slightly overlayed by the main menu with 45px.
![image](https://user-images.githubusercontent.com/29221732/42455546-ead4939a-8368-11e8-8212-994de06828f3.png)

[2018-07-09 14:46] Tressley commented on #10462
Sorry for the delay. I went ahead and fired off a Zeplin invite @viniciusperuzza. You can view the art board here: https://zpl.io/awYokyM

[2018-07-09 15:08] #10375 closed, assigned to nobody

[2018-07-09 16:28] vinmegamitensei commented on #10462
Thank you kindly. I'll start to work on it right away!

[2018-07-09 17:40] oakfernsara commented on #10491
Hi all - thanks for your patience as I have been traveling over the last few days. I checked the group page this morning, and now there were "Needs Approval" tags in green on the relevant tasks. I confirmed approval, which unassigned my son from the task and removed it from his personal tasks page. I hope he got points for it too ;)

However, the task has stayed on our group page. For non-recurrin

[2018-07-09 19:16] SabreCat commented on #10511
Also seeing `BadRequest: The payment was not successful` and `BillingAgreementNotModifiable: BillingAgreement B01-7138264-6306715 is not in draft state and cannot be modified with the request submitted by you.`

[2018-07-09 19:32] SabreCat commented on #10511
Relevant: https://pay.amazon.com/us/developer/documentation/apireference/201752850

Apparently we need to "Show the Amazon **Consent** widget to the buyer to obtain their consent"...

[2018-07-09 20:00] paglias commented on #10511
We do show the consent (or at least it used to work) because it's required for subscriptions as well

[2018-07-09 21:05] beffymaroo commented on #10298
@haydenbetts Thank you for the update.

[2018-07-09 21:07] beffymaroo commented on #10297
Thanks for the update, @mcshakes !

[2018-07-09 21:09] beffymaroo commented on #9958
@khipkin It's been a while since we've heard from you so I'm putting "help wanted" back on this issue. If you'd like to reclaim it, just let us know!

[2018-07-09 21:18] beffymaroo commented on #10224
@haydenbetts Are you still working on this issue? Please check in when you have a moment. Thank you!

[2018-07-09 21:25] beffymaroo commented on #10448
@arunikayadav42 Are you still working on this issue or have you been able to set up your local install? Please check in when you have a moment.

[2018-07-10 02:20] vinmegamitensei commented on #10432
I want to give it a try, may I?

[2018-07-10 02:57] vinmegamitensei commented on #10410
Hey, I can give it a try. I just need an 'ok'. Thank you!

[2018-07-10 04:03] fentie commented on #10055
ok I think this might finally be ready to check over again

[2018-07-10 11:22] probaton commented on #9137
This seems like a duplicate of #9701. Or vice versa, I suppose, but the other issue has a more generic description that also covers this use case.

[2018-07-10 13:11] Tressley commented on #9828
@Alys @TheHollidayInn -- I would prefer if "View Progress" wasn't it's own button but in the menu with the rest of the options. 👍

[2018-07-10 16:23] probaton commented on #9701
I can take a look at this.

I was actually looking at fixing an issue where the start-a-quest modal always pre-selects the first alphabetical quest by key, without checking to see if you even still have the quest scroll. Clicking invite in that scenario has the result described in this ticket, so I might as well pick this up as well.

[2018-07-10 17:55] SabreCat commented on #10496
From bug guild:

[2018-07-10 18:45] ghost commented on #2516
@Alys is anyone working on this, mind if i try prototyping something?

[2018-07-10 22:05] Alys commented on #2516
@laphiloctete That's a question for the staff rather than me, but to speed it along, would you like to describe what you have in mind?

[2018-07-10 22:17] Alys commented on #10496
Technical details: When a player is added to a group plan (i.e., given a free subscription), the bug is that this is added to their `notifications` array:
[code]

That should only happen if there are Mystery Items waiting for them to collect.

I assume the same thing happens if they get a subscription in another way but I haven't bothered to check.

[2018-07-10 22:26] Alys commented on #10496
https://github.com/HabitRPG/habitica/blob/75e5b20f93a68cc043abd63471a09ab34ce74052/website/server/libs/payments/subscriptions.js#L141

https://github.com/HabitRPG/habitica/blob/75e5b20f93a68cc043abd63471a09ab34ce74052/website/server/libs/payments/subscriptions.js#L24-L41

That function should probably add the notification only if `pushedItems` isn't empty.

[2018-07-11 01:25] ghost commented on #2516
This might be a bit of an ambitious first goal considering I don't know vue.js at all and I haven't even gotten set up locally yet :sweat_smile: but I would like to tackle the Habit History first... basically visualize the data here: https://oldgods.net/habitrpg/habitrpg_user_data_display.html

...Probably in the form of some sort of heatmap, not unlike githubs. I use this workout tracking app cal

[2018-07-11 07:49] Alys commented on #9828
@Tressley My reasoning for suggesting "View Progress" as its own button was that while it would look neater if there wasn't a separate button, it would be more usable if there was. Viewing progress will be by far the most common action for anyone using the challenge's participant list. A frequent use case will be examining the progress of all participants and if there's a dedicated button for that

[2018-07-11 12:07] Ytrog commented on #9476
Any update on this issue?

[2018-07-11 12:23] Tressley commented on #9828
@Alys -- I see where you're coming from, but it breaks the existing pattern established with the options menu for each user. I would say that rather than shift items around to accommodate a new button, we can add the View Progress option to the top of the menu (to account for being the common action.) In this case one click is negligible when it is a menu interaction.

For now, let's continue with

[2018-07-11 13:06] Tressley commented on #9828
Updated Zeplin artboard with new icon and menu option: https://zpl.io/VKZK1X2

[2018-07-11 13:46] TheHollidayInn commented on #9828
I did add this as a menu option in my PR. Also, I think there is a separate PR fixing the member modal styles.

[2018-07-11 14:12] paglias commented on #10491
@oakfernsara regarding non recurring tasks I don't have an ETA yet but we're working on it!

[2018-07-11 18:55] SabreCat commented on #8500
Raising the priority here. We see this pretty frequently, it's very frustrating to users, and seems not to have any known workaround.

[2018-07-11 19:39] aszlig commented on #9828
@TheHollidayInn: Yep, fixed that in #10504.

[2018-07-11 20:38] SabreCat commented on #10491
Sounds like this was resolved? Closing for now, let us know if it's still happening!

[2018-07-11 20:38] #10491 closed, assigned to nobody

[2018-07-11 20:39] SabreCat commented on #10410
@viniciusperuzza Go for it, with our thanks!

[2018-07-11 20:40] SabreCat commented on #10432
@viniciusperuzza Sure!

[2018-07-11 20:43] SabreCat commented on #10511
Based on our investigations, it seems that these errors occur when the user does not check the box shown at the bottom of this screenshot:

![image](https://user-images.githubusercontent.com/4501321/42598162-fdecc7d6-8520-11e8-82c6-b6b94ca5ae5d.png)

I'd say two things need to be done here:

* Clearly indicate to the user that their subscription will not work unless they check the box.
* Handle th

[2018-07-11 20:55] intirb commented on #9446
FWIW, I have noticed a similar issue with gold, but the issue seems to go away if you allow the webpage to fully load in between each click (basically, don't click the dailies off too fast).  If you click too fast, it seems to me that Habitica sometimes reverses the rewards for a particular daily but fails to uncheck the daily.

[2018-07-12 10:56] #10023 closed, assigned to nobody

[2018-07-12 11:09] TheHollidayInn commented on #8500
Can we collect more examples? Are are the new reports still not related to tasksOrder?

We will need to know if it is just a web issue or mobile as well. And we will need to know how to recreate.

[2018-07-12 18:35] negue commented on #10356
While trying to create a test (having members of a party post a message) the notifications never exceeded the count of 1.

Then I saw this:

[code]
in `group.js`, the change is from January 2018.

So maybe those notifications are before this change ?

[2018-07-12 19:59] SabreCat commented on #8500
Still not related to tasksOrder. Affected users do sometimes report that the tasks misbehave on mobile as well. I'll add further examples here as they arise! But yeah, reproducibility has been a major block on this. :\

[2018-07-12 20:07] #9438 closed, assigned to nobody

[2018-07-12 20:07] #10055 closed, assigned to nobody

[2018-07-12 20:08] #10447 closed, assigned to nobody

[2018-07-12 20:12] #10502 closed, assigned to nobody

[2018-07-12 20:13] #10462 closed, assigned to nobody

[2018-07-12 20:27] #10460 closed, assigned to nobody

[2018-07-12 20:40] #10312 closed, assigned to nobody

[2018-07-12 21:55] SabreCat opened #10519 "Health Potion insufficient Gold error message falls into console"
[//]: # (Before logging this issue, please post to the Report a Bug guild from the Habitica website's Help menu. Most bugs can be handled quickly there. If a GitHub issue is needed, you will be advised of that by a moderator or staff member -- a player with a dark blue or purple name. It is recommended that you don't create a new issue unless advised to.)

[//]: # (Bugs in the mobile apps can also

[2018-07-13 02:35] SabreCat opened #10520 "Esc key with tags box active should dismiss only that, not entire task"
[//]: # (Before logging this issue, please post to the Report a Bug guild from the Habitica website's Help menu. Most bugs can be handled quickly there. If a GitHub issue is needed, you will be advised of that by a moderator or staff member -- a player with a dark blue or purple name. It is recommended that you don't create a new issue unless advised to.)

[//]: # (Bugs in the mobile apps can also

[2018-07-13 08:34] paglias commented on #10356
I think I've had this happening to me a few times and I think it happens when multiple people posts several messages at the same time

[2018-07-13 08:50] #10214 closed, assigned to nobody

[2018-07-13 08:51] #10255 closed, assigned to negue

[2018-07-13 11:06] #10474 closed, assigned to TheHollidayInn

[2018-07-13 18:44] texastoland commented on #10477
Is there a blocker? I'm interested in other tasks but I won't start until I can push an easy one through. CC @Alys

[2018-07-14 00:22] Alys commented on #10477
@texastoland I think the only blocker is that the staff have had many PRs to review lately and are handling them in priority order. I'm sure they'll look at this one as soon as they can!

[2018-07-14 02:58] #9828 closed, assigned to paglias, TheHollidayInn

[2018-07-14 08:27] paglias commented on #10477
@Tressley what do you think?

[2018-07-14 11:50] Alys commented on #10123
There's an easy way to test for this bug for the case of errors being sent back from PayPal. Add a subscription to a user account with all the details you'd expect for a recurring subscription bought through PayPal but with a made up `customerId`. E.g.,:
[code]
Just check first by searching in PayPal that that ID hasn't since been used!
Then attempt to cancel the subscription. A server error will

[2018-07-14 12:01] Alys commented on #10356
It's definitely still happening. The two below are in my `notifications` array now and I cleared all notifications a few days ago.
[code]

[2018-07-14 12:09] Alys opened #10521 ""Save" button appears under Stat Points even when there's nothing to be saved"
When you don't have any Stat Points to be allocated, the "Save" button still appears under the Stats boxes even though there's nothing that can be saved:
![image](https://user-images.githubusercontent.com/1495809/42724260-5ea9b302-87b2-11e8-83f4-367ab179c469.png)

It also appears after you have had new points and have just allocated them, leading to a minor error condition as reported by Aerilita

[2018-07-14 12:33] dkenul commented on #10521
It seems like the stat points are autosaved on allocation on level up as well (going off memory though, so could be wrong). Is the desired behavior that the stat points don't autosave (and use the save button) or that the save button is hidden except when it would actually do something?

[2018-07-14 13:12] Alys commented on #10521
@dkenul  Stat Points will be autosaved if one of the automatic allocation methods has been chosen (although that's buggy too at the moment so the behaviour is confusing).
The desired behaviour is that the save button should only appear when there's a change that needs to be saved (so it's invisible most of the time but as soon as you click the up button to assign one of your pending Stats Points,

[2018-07-14 13:14] Alys commented on #10521
There's another report from the Bug guild that's related to this from ari (252a53c4-111e-4021-9efe-964b444dfc75). It turned out to be just that ari didn't realise that the save button needed to be clicked because it looked to ari as if the change had applied itself automatically. Having the save button appear only when there was something needing to be saved would make this clearer. Here's their r

[2018-07-14 16:07] psutinrerk commented on #834
I still got this problem, I try set custom day to 10PM and now the date is wrong :( how can I fix this

[2018-07-14 17:20] sanchitbansal10 commented on #10414
Hi..I have got some other commitments...Wont be able to work on it....Thanks..

[2018-07-14 23:01] SabreCat commented on #10414
Thanks for letting us know! Opening it back up.

[2018-07-15 04:17] Alys opened #10523 "timestamp durations are not localized to the user's language in chat/inbox messages and due dates for To-Do tasks"
For any player using a language other than English, the timestamps are not converted to their language in dated To-Dos or in chat messages in the Inbox or Guilds/Parties/Tavern. This results in a poor experience for the user as they see text that's partially translated and partially in English:

![image](https://user-images.githubusercontent.com/1495809/42730522-83c96c5e-8839-11e8-8b5b-58245b4e2cd

[2018-07-15 12:48] negue commented on #10519
The difference is that a `armoire` purchase is sent directly to the server, which throws an error and this error is shown in the webseite, a health potion is checked on the client first (the same routine) if that fails no error is catched which could show the message => fixing that

[2018-07-15 14:38] paglias commented on #10523
I'm pretty sure we include moment's localization in the client side https://github.com/HabitRPG/habitica/blob/develop/website/server/controllers/api-v3/i18n.js#L19 and https://github.com/HabitRPG/habitica/blob/develop/website/client/libs/i18n.js#L16, it used to work so I'm not sure if it just stopped working in some areas or in general

[2018-07-16 14:01] Tressley commented on #10477
I think this is a great suggestion. My only feedback is to change 9px to 8px to align with our 4px grid.

[code]

[code]

[2018-07-16 14:07] texastoland commented on #10477
👍🏽 I'll bump them all to even numbers and PR. @Tressley should either be applied globally or exclusive to `.markdown`?

[2018-07-16 14:35] Tressley commented on #10477
Let's keep it to `.markdown` for now.

[2018-07-16 18:43] beffymaroo opened #10527 "Add New Wheelchair Options to Avatar Customization"
We've had several requests for a wheelchair option without armrests or handles on the chair. These would be just be added as new options on the Avatar Customization menu under Extra>Wheelchairs.

---

Suggested Label: I was thinking "Lite" since this is how this type most often seems to be described? But am happy to hear other ideas.

e.g.:

Label: Green Lite Wheelchair
Description: A green lite w

[2018-07-17 03:26] fentie commented on #10527
I'll take this one at least as far as I can :)

[2018-07-17 18:58] beffymaroo commented on #10527
@fentie Great, thank you!

[2018-07-18 02:29] fentie commented on #10527
So about this whole spritesmith business :) The wiki seems to be out of date, but I see that there's gulp tasks to package the individual assets into one or more large sprites, but I don't see where to find the resulting display window on the sprite sheet.

Also this asset set doesn't have the same "button" images as the last wheelchair set. Is that intentional? I can apply a 50% reduction in CSS

[2018-07-18 04:46] thefifthisa commented on #10520
I'd like to take this!

[2018-07-18 10:59] TheHollidayInn commented on #10520
Thanks!

[2018-07-18 14:55] probaton commented on #9701
I'm starting to doubt my own sanity but I'm 99.928% certain that I posted comment on this issue about a week ago. I've been patiently awaiting a response but my comment just randomly disappeared after I refreshed for the umpteenth time.

Anyway; I wanted to say that I don't mind taking a look at this. I already have a branch where I fixed the issue where the invite-to-quest dialog sometimes pre-se

[2018-07-18 15:58] SabreCat commented on #10527
@fentie: Spritesmith handles the window by creating a CSS class for you named the same as the sprite file itself. So for instance, `chair_pink.png` becomes a class `.chair_pink` with its background image set as the spritesheet it landed on and sized to the right window.

A side note on that: no need to commit spritesmith CSS or PNG files in a PR. Go ahead and run the task for testing, but when pus

[2018-07-18 18:09] paglias commented on #9701
Go ahead!

[2018-07-19 00:02] Alys commented on #9701
@probaton Your sanity is fine. :) I have this in a GitHub email from 11 July:

_"I can take a look at this. I was actually looking at fixing an issue where the start-a-quest modal always pre-selects the first alphabetical quest by key, without checking to see if you even still have the quest scroll. Clicking invite in that scenario has the result described in this ticket, so I might as well pick t

[2018-07-19 05:55] probaton commented on #9701
@Alys I was actually wondering whether I might have just forgotten to hit send (for an entire week) or something dumb like that. Your confirmation does wonders for my crippled ego.

[2018-07-19 09:41] thomasward1212 commented on #10496
Hi :wave:

First time here!

Can I pick this one up??

Tom

[2018-07-19 09:50] Alys commented on #10496
That would be great, thanks! Post here if you have questions. :)

[2018-07-19 13:37] vinmegamitensei commented on #10432
Just wanted to report that I'm still working on it, it's just that I'm quite new to development and this task is being quite the challenge (also, this and last week were really busy on work).

[2018-07-20 00:54] SabreCat commented on #8500
A couple recent affected account reports:

* Julia Bergius (02369d54-c743-439c-b619-37de5b55f000)
* Noctuana (6ae83a85-f8d5-4fce-b74e-e4067f02499f)
* Ailurus Fulgens (3e81abbd-20a0-45b5-a4fe-23c0135eb71d)

Affected users have no `tasksOrder` trouble, no Loggly errors recorded, and even if we ask them to check the JS console, they don't turn anything up.

[2018-07-20 03:03] #10521 closed, assigned to nobody

[2018-07-20 03:07] TheHollidayInn commented on #10298
@negue can you apply the same technique from: https://github.com/HabitRPG/habitica/pull/10493 to to the Death modal?

[2018-07-20 03:12] TheHollidayInn commented on #10267
I'm unable to reproduce: `Summary: Horizontal and vertical scrollbars on quest preview/information modal window in shop`

Is this still an issue? And if so, can the person confirming post a screenshot?

[2018-07-20 03:23] TheHollidayInn commented on #9770
@negue Can you apply the snackbar UX to the rebirth and streak achievements for this issue as well?

[2018-07-20 03:47] TheHollidayInn commented on #10419
I'm unable to recreate this. Is it still an issue?

[2018-07-20 03:48] #10228 closed, assigned to negue

[2018-07-20 03:59] TheHollidayInn commented on #10155
This seems to be fixed.

[2018-07-20 04:00] Alys commented on #834
@psutinrerk What you're experiencing isn't this bug, it's because you've said that you want each day in Habitica to start at 10pm (that's what the Custom Day Start time is for). I.e., up until 10pm each real-world day, it's still the previous day in Habitica. For more information, see the wiki's [Custom Day Start](http://habitica.wikia.com/wiki/Custom_Day_Start) page.

[2018-07-20 04:30] TheHollidayInn commented on #9847
Will be handled here: https://github.com/HabitRPG/habitica/pull/10428

[2018-07-20 05:00] TheHollidayInn commented on #7940
@paglias Can this be added or fixed by your Inbox updates?

[2018-07-20 05:03] TheHollidayInn commented on #9471
Closing issue because it is vague and older.

[2018-07-20 05:03] #9471 closed, assigned to nobody

[2018-07-20 05:11] TheHollidayInn commented on #10404
The 502 is a webpage response from our server. My guess is there is an iframe or something similar being displayed in the snackbar. I think we should not fix this issue though because 1. This just flashes. 2. 502 is not something we want to code around. Just something we need to prevent.

[2018-07-20 05:13] TheHollidayInn commented on #10178
This sounds like oddities that have passed/fixed with code. Plus the fact that we don't have real time. Do we need to do anything here? I'd like to wait for new reports.

[2018-07-20 05:14] TheHollidayInn commented on #10072
We've updated Google login. Closing.

[2018-07-20 05:14] #10072 closed, assigned to nobody

[2018-07-20 05:15] TheHollidayInn commented on #9871
@paglias Didn't we update this?

[2018-07-20 05:18] TheHollidayInn commented on #9788
This seems to have been fixed.

[2018-07-20 05:18] #9788 closed, assigned to nobody

[2018-07-20 05:23] #7895 closed, assigned to nobody

[2018-07-20 05:23] Alys commented on #10178
I'm closing it but we can reopen if anyone reports it still happening.

[2018-07-20 05:23] #10178 closed, assigned to nobody

[2018-07-20 05:26] TheHollidayInn commented on #10448
This seems to be fixed.

[2018-07-20 05:26] #10448 closed, assigned to nobody

[2018-07-20 05:34] TheHollidayInn commented on #9568
I'd say, let's close this until we get another report.

[2018-07-20 06:38] #9568 closed, assigned to nobody

[2018-07-20 06:47] Alys commented on #10419
I can't recreate either, looks like it's been fixed, but we can reopen if it happens again.

[2018-07-20 06:47] #10419 closed, assigned to nobody

[2018-07-20 12:46] paglias commented on #9871
Not yet, also v4 is out and mongoose already supports transactions http://mongoosejs.com/docs/transactions.html#with-mongoose-documents-and-save-

[2018-07-20 12:50] paglias commented on #7940
Yeah, once we move the messages outside the collection this won't be needed anymore so I'm going to close it

[2018-07-20 12:50] #7940 closed, assigned to nobody

[2018-07-20 14:50] TheHollidayInn commented on #10154
This seems to be fixed.

[2018-07-20 14:50] #10154 closed, assigned to nobody

[2018-07-20 14:53] TheHollidayInn commented on #10130
This seems to be fixed. I'm going to post a PR to fix the modal code.

[2018-07-20 14:53] #10130 closed, assigned to paglias

[2018-07-20 15:40] TheHollidayInn commented on #9296
I'm unable to replicate this. Can anyone else?

[2018-07-20 15:42] TheHollidayInn commented on #9242
Has this been reported recently?

[2018-07-20 16:38] joedragons commented on #9242
I haven't noticed the error in a while.  I noticed the grey 1 (mentioned by me in
https://github.com/HabitRPG/habitica/issues/9242#issuecomment-364921853) even after I went to party and out as recently as this week.
UPDATE: Grey occurred 8/7/18.

Image (on dismiss, after party and return to tasks):
![ondismiss](https://user-images.githubusercontent.com/9559205/43155565-bce2c5f4-8f45-11e8-9bd1-d8ce

[2018-07-20 17:29] #10365 closed, assigned to SabreCat

[2018-07-20 19:46] negue commented on #10298
On it

[2018-07-20 20:33] #10519 closed, assigned to negue

[2018-07-20 20:49] SabreCat opened #10544 "User receives "Joined Challenge" achievement for creating Challenge without joining it"
[//]: # (Before logging this issue, please post to the Report a Bug guild from the Habitica website's Help menu. Most bugs can be handled quickly there. If a GitHub issue is needed, you will be advised of that by a moderator or staff member -- a player with a dark blue or purple name. It is recommended that you don't create a new issue unless advised to.)

[//]: # (Bugs in the mobile apps can also

[2018-07-20 20:50] #9986 closed, assigned to negue

[2018-07-20 20:55] #10477 closed, assigned to nobody

[2018-07-21 12:36] #9137 closed, assigned to nobody

[2018-07-21 12:37] TheHollidayInn commented on #8914
Is this still being reported?

[2018-07-21 12:40] TheHollidayInn commented on #8759
Have their been any recent reports of this?

[2018-07-21 12:49] majestic-owl448 commented on #8759
Not in the Report a Bug guild but as a socialite I remember answering recently some of questions about how to have a daily active on the last sunday (or other weekdays) of each month or on the last day of each month

(with usual answer that it is not possible and that they can request the feature)

[2018-07-21 12:55] TheHollidayInn commented on #9264
This no longer seems to be happening.

[2018-07-21 12:55] #9264 closed, assigned to nobody

[2018-07-21 13:03] TheHollidayInn commented on #9980
I don't think this is really a problem. The items don't do anything in context and the preview is correct. If we aren't getting many complaints, I'd prefer to leave this.

[2018-07-21 13:04] TheHollidayInn commented on #10279
This seems to have been fixed.

[2018-07-21 13:04] #10279 closed, assigned to nobody

[2018-07-21 13:08] TheHollidayInn commented on #10125
Is this still being reported?

[2018-07-21 13:08] #10293 closed, assigned to nobody

[2018-07-21 13:08] #9774 closed, assigned to nobody

[2018-07-21 13:09] #9511 closed, assigned to nobody

[2018-07-21 13:09] #9512 closed, assigned to nobody

[2018-07-21 13:09] #9748 closed, assigned to nobody

[2018-07-21 13:09] #9801 closed, assigned to nobody

[2018-07-21 13:10] #9187 closed, assigned to nobody

[2018-07-21 13:10] #8142 closed, assigned to nobody

[2018-07-21 13:11] #9809 closed, assigned to nobody

[2018-07-21 22:15] TheHollidayInn commented on #7506
Should we close this in favor of #7454?

[2018-07-21 23:04] Alys commented on #7506
Yes, good idea. Closing.

[2018-07-21 23:05] #7506 closed, assigned to nobody

[2018-07-21 23:51] thefifthisa commented on #10520
So from what I learned, pressing esc closes a modal by default. I did find [this page](http://v4-alpha.getbootstrap.com/components/modal/#options) about modal options which says that setting the `keyboard` option to `false` can change it. I also found existing comments in the code base like this:
https://github.com/HabitRPG/habitica/blob/7bead74b495f23255b12b5dedc9a3831f9975b96/website/client/comp

[2018-07-21 23:52] thefifthisa commented on #10520
So from what I learned, pressing esc closes a modal by default. I did find [this page](http://v4-alpha.getbootstrap.com/components/modal/#options) about modal options which says that setting the keyboard option to false can change it. I also found existing comments in the code base like this:
https://github.com/HabitRPG/habitica/blob/7bead74b495f23255b12b5dedc9a3831f9975b96/website/client/componen

[2018-07-22 00:55] TheHollidayInn commented on #10520
We actually use a Vue wrapper for bootstrap: https://bootstrap-vue.js.org/docs/components/modal#overview

My thought is you want to add a esc event to the modal: https://stackoverflow.com/questions/45568824/listening-to-esc-key-event-on-div-component-in-vue-js and a corresponding method. Inside that method, you can check if one of the submenus are open (e.g. tags box) and close them instead :D

[2018-07-22 03:07] thefifthisa commented on #10520
Oh okay, thanks! I think I got it!

[2018-07-22 08:53] Alys opened #10548 "Healing Light should not be castable if the player already has 50 health"
Currently, it's possible to cast the Healer's "Healing Light" skill (which increases the player's own health) even when their health is already 50.

The desired behaviour is that when the player tries to cast the skill, if they already have 50 HP, the skill cast should fail.

The test for the current HP should be at the API level and NOT also at the UI level. I.e., even if the website is showing t

[2018-07-22 09:08] Alys opened #10549 "3000 character limit on private messages (PMs) must be obvious to users"
_edited after discussion in comments below_

The 3000 character limit on posts made to groups was also inadvertently applied to private messages but we've decided to keep it, however currently there is no warning that your message will be cut off at 3000 characters. If you type more, the extra text is silently removed with no notification and no way to save it.

It's essential that private message

[2018-07-22 09:19] Alys commented on #10549
Although.... thinking about this more... long PMs might be as problematic on mobile as long guild messages can be, especially for cases where troublesome users are spamming inappropriate messages. I'm moving this to "on hold" and I'll check with the other mods to see what they think. We might end up making the fix be putting the character limit warning on PMs. It will still be high priority.

[2018-07-22 18:22] citrusella commented on #10548
This might be an unrelated thing but when buying a health potion fails, I don't see `messageHealthAlreadyMax` (in fact, I didn't even know it was supposed to display for the health-not-going-through when I reported this).

EDIT: Hmm, the reason for that could be similar to #10519 ?

[2018-07-22 21:46] Alys commented on #10398
Still happening, for example:
motobass (89739ec6-8338-4e5e-8df2-e488eca19832): "Hello.  I think I qualify now for the *Quest Completionist: Masterclasser Series* achievement.  I waited a few days and it hasn't appeared yet.  After finishing the last quest, realized I (and another in my party - @gbvr) missed part one of an earlier quest, so we did that. That was maybe three days ago.  Thanks!"

[2018-07-23 02:54] Alys commented on #10125
I haven't seen it for a while.

[2018-07-23 02:54] #10125 closed, assigned to nobody

[2018-07-23 05:01] Alys commented on #8914
At least the final part of the top post is still happening - we had a report of that this morning. I've added a comment in bold italics to that part to indicate it's still relevant.

I've also added another comment to an earlier part to say I'll do some testing. Leave this as "needs reply" until I've written back here about that.

[2018-07-23 07:13] probaton commented on #9701
I'm assuming this was apparent, but just in case it wasn't: I fixed it! I'm done fixing the issue described, as well as the little bonus-bug I mentioned earlier. If anyone could spare the time for a review, that'd be most appreciated.

[2018-07-23 17:07] paglias commented on #9701
@probaton I gave a look at the PR, I think there's a small issue, I've left a comment

[2018-07-23 17:29] paglias commented on #10549
I think a limit for PMs as well isn't a bad idea, it helps with perf problems, so I'm for adding the warning but keeping the limit

[2018-07-23 17:36] paglias commented on #9980
If we decide to fix this we just have to add another condition here https://github.com/HabitRPG/habitica/blob/develop/website/client/components/tasks/task.vue#L20

[2018-07-23 17:47] #10511 closed, assigned to nobody

[2018-07-24 02:20] Alys commented on #10549
Yeah, that's fine with me, and none of the other mods expressed an opinion. I'm editing the top post to clarify.

[2018-07-24 02:59] Alys commented on #8914
The earlier part is still happening too. I've adjusted my bold "edit" comment in the top post to indicate that.

[2018-07-24 08:00] Alys opened #10553 "cron not running on second day for some new user accounts"
For months (years?), we've seen occasional reports of players on their second day saying that their Dailies haven't reset. I.e., cron did not run (or did not run fully) at the time that they started using Habitica on their second day. It always seems to clear itself up on the third day.

I'm logging this now because I've realised (thanks to Il Mago mentioning this) that we don't have an issue for

[2018-07-24 08:10] Alys commented on #10553
"cron did not run" = "cron did not run or did not run fully"

[2018-07-24 08:15] Alys commented on #10553
One possible cause would be the website/app not recording the user's time zone correctly when they create their account - e.g.:
[code]
BUT that same symptom can be caused by the user using a VPN or two devices with different zones configured or just from coincidentally updating their PC's/app's time zone setting after joining Habitica.

[2018-07-24 13:25] shanaqui opened #10554 "Challenges and Guilds/Parties show cached details if you've viewed other challenges previously"
From AnneLine (16a107de-d519-43ce-8c30-8da5cbcbb237) in the Bug Guild:

Confirmed by me.

[2018-07-24 16:49] thefifthisa commented on #10523
Hi! Can I try working on this?

[2018-07-24 18:35] paglias commented on #10523
sure!

[2018-07-25 09:28] majestic-owl448 commented on #10553
How do we can deal with the affected users? Send them to the Report a Bug guild? Make a list? Or just tell them, "I'm sorry, tomorrow everything should be fine, if not Report it"?

[2018-07-25 09:51] Alys commented on #10553
Probably the best way is to tell them something like this (feel free to use your own words):

_Everything should be fine tomorrow but if it isn't, definitely report it in the Report a Bug guild then! Also, if you'd like to help us work out why this happens to some new players, we'd love it if you could post to the Report a Bug guild today to tell us it's happened to you, and say whether you're usi

[2018-07-25 10:28] Alys commented on #10553
Here's cron-related data for a player with this bug who posted to the Tavern (Il Mago / Ieahlean replied to them with the new words so we'll get more info if they do post to the bug guild):
[code]

This shows they're using iOS and from what I'm seeing in Amplitude they're not also using the website (although maybe that's not certain since that data might be suppressed by the user's browser setting

[2018-07-25 11:40] paglias commented on #10553
The time zone is something that must be passed from the client, be it the website or the mobile apps. So it's possible the iOS app isn't sending it anymore at signup / when it changes. Cc @phillipthelen

[2018-07-25 15:49] TheHollidayInn commented on #8813
This has been added, right?

[2018-07-25 18:30] thefifthisa commented on #10523
Got it!

So I was looking into the different language settings and as far as I can tell, this problem only happens in the following languages: **Brazilian Portuguese** (like in the bug report) as well as **Simplified and Traditional Chinese**. They were all missing their  `moment.js` locale configuration, which was why `moment.locale` was defaulting to English in these cases.

As @paglias pointed

[2018-07-25 18:45] SabreCat commented on #8500
Some users report that the mobile app works better, or that after sorting and syncing back and forth between Web and mobile, the task order becomes more stable.

[2018-07-25 21:02] Alys commented on #8813
A quick fix was done (mentioned in the comments) but we still need a proper solution. It's not high priority.

[2018-07-26 06:25] alexfig commented on #10544
Hi! Can I work on this?

[2018-07-26 08:10] TheHollidayInn commented on #10544
Please do!

[2018-07-26 19:50] shanaqui opened #10556 ""Advanced settings" setting has no apparent effect"
From the Bug Guild:

Confirmed by me (Chrome).

[2018-07-26 20:40] SabreCat opened #10557 "apidocs misleading - causes API requests to /user/allocate always up Strength"
[//]: # (Before logging this issue, please post to the Report a Bug guild from the Habitica website's Help menu. Most bugs can be handled quickly there. If a GitHub issue is needed, you will be advised of that by a moderator or staff member -- a player with a dark blue or purple name. It is recommended that you don't create a new issue unless advised to.)

[//]: # (Bugs in the mobile apps can also

[2018-07-26 21:14] citrusella commented on #10026
This appears to still be happening (assuming I've got the correct issue?). I got my test account (ID: 40fa1808-d2d0-40e5-bf19-71517481121b) opted out (by rebirthing and getting to level 10, if it matters) and found it in a guild and looked at its profile from my normal account and it showed a mana bar despite the account being opted out.

[2018-07-26 22:07] Alys opened #10558 "mana bar should not show in profile when user has opted out of the class system"
[As reported by citrusella](https://github.com/HabitRPG/habitica/issues/10026#issuecomment-408237184), when a user opts out of the class system and you view their profile by clicking on their name in chat, you see a mana bar in their profile. You should not see the mana bar (because from a user point of view, an opted-out player does not have mana).

For example, with my account set as below, I se

[2018-07-26 22:07] Alys commented on #10026
I've confirmed @citrusella's report (thank you!). With my account set as below, I see a mana bar in my account's profile when viewed from another account.
[code]

It's not quite this issue though. :) This one was for the case where the user had not yet selected a class (`"flags.classSelected": false`) but the bug now is for the case where they've opted out (`"preferences.disableClasses": true`).

[2018-07-27 04:12] TheHollidayInn commented on #10556
Is this a duplicate of: https://github.com/HabitRPG/habitica/issues/9876?

[2018-07-27 04:36] Alys commented on #10556
No, that other issue is for not showing the "Advanced Settings" section in task types where there are no such settings (e.g., To-Dos and Habits have no advanced settings, although personally I'd still like to see https://github.com/HabitRPG/habitica/issues/9902 done, which would add an advanced setting for all task types).

This new issue is about the User Icon > Settings > "Advanced Settings in t

[2018-07-27 04:49] TheHollidayInn commented on #10556
Ah perfect, thanks.

[2018-07-27 16:24] thefifthisa commented on #10558
I'd like to take this!

[2018-07-27 18:06] paglias commented on #10558
Go ahead!

[2018-07-27 22:09] thefifthisa commented on #10558
@Alys how were you able to get those preferences from another account? When I try `this.member.preferences`, I'm only able to see `disableClasses` for the account I'm logged into but not anyone else's 😕

I think that's why this `hasClass` check for the mana bar doesn't work:
https://github.com/HabitRPG/habitica/blob/9205ec10b3b2a18e5e09522f9e33d6dffca9c240/website/client/store/getters/members.js#L

[2018-07-27 22:42] Alys commented on #10558
The data I showed comes directly from the database so it's not available in that format to anyone but an admin.

I think you're right about why the check for the mana bar doesn't work, so passing the user's preferences.disableClasses setting to the profile screen might be enough to fix this bug. You might need to adjust the list of user data fields that are public. As a guess, try `git grep -i ...

[2018-07-27 23:15] thefifthisa commented on #10558
Thanks, seems to be fixed now!

[2018-07-27 23:49] alexfig commented on #10556
Hi, I'd like to work on this

[2018-07-28 00:13] Alys commented on #10556
@alexfig Great, thank you! Comment here if you have questions!

[2018-07-28 17:46] negue commented on #10298
@TheHollidayInn If I move it to a notification (without a timeout) then its maybe not that visible to a user instead of a modal, plus all of the website functionality itself still "works" even though the user isn't revived yet.

Should I put it on "readonly" mode or something else until a user is revived?
Or should I call the revive already once the notification is shown and the modal wouldn't do

[2018-07-29 05:22] zmbc commented on #10308
I don't have any 502s, but I see the error "Cannot read property 'nextRewardAt' of undefined" nearly every time I re-order the todo list. The re-ordering operation also acts strangely when the error occurs; the todo I was dragging seems to be randomly offset from where I actually dragged it (anywhere from a few todos above to a few todos below).

Edit: Seems I'm experiencing #7645. However, it's s

[2018-07-29 10:12] Alys commented on #10014
Reopening to report new behaviour reported again by citrusella, the serving wench (2d6ef231-50b4-4a22-90e7-45eb97147a2c):

"Streak achievements don't seem to have any text on their snackbar notifications to let you know that's what they're supposed to be. I achieved one today and there was just a blue notification that had "1004" (the number of 21 day streaks I have) centered in it with no other c

[2018-07-29 11:54] TheHollidayInn commented on #10298
Hmm, yeah, let's try auto reviving and seeing how that feels

[2018-07-30 13:53] paglias commented on #10523
The reason why we had that code was because the language code used in our translations don't match the ones used by moment.js For example for brazilian portuguese moment uses pt-br while we use pt_BR, so we had a mapping between our codes and theirs. https://github.com/HabitRPG/habitica/blob/develop/website/server/libs/i18n.js#L14

So in this case `zh_TW ` should load moment `zh-tw`. I think if yo

[2018-07-30 13:58] #10556 closed, assigned to nobody

[2018-07-30 14:00] #10544 closed, assigned to nobody

[2018-07-30 14:02] #9701 closed, assigned to nobody

[2018-07-30 14:04] #10508 closed, assigned to nobody

[2018-07-30 14:04] #10520 closed, assigned to nobody

[2018-07-30 14:05] #10558 closed, assigned to nobody

[2018-07-30 14:11] #10356 closed, assigned to negue

[2018-07-30 14:39] thefifthisa commented on #10523
Oh okay, works now!

[2018-07-30 19:44] beffymaroo commented on #10100
I see that this issue is closed but as of today I am unable to use the XML or JSON data export options - getting the same error reported above.

[2018-07-30 20:46] paglias commented on #10100
Looking at the logs, the XML errors are still happening so I'm reopening the issue. Regarding the JSON version mentioned by @beffymaroo it looks like sometimes the session isn't passed around correctly: it could be a problem due to using a private browsing window or a plugin. I'd suggest to always click on the JSON link here https://habitica.com/user/settings/data-export instead of accessing it di

[2018-07-30 21:00] beffymaroo commented on #10446
@arunikayadav42 Are you still interested in working on this issue? Please update us when you have a moment. Thank you!

[2018-07-30 21:02] beffymaroo commented on #10281
@dspitz716 Sorry I missed your earlier comment! I'm happy to see you were assigned it after that. Are you still working on this issue? Please update us when you have a moment. Thank you!

[2018-07-30 21:12] dspitz716 commented on #10281
Yup I am still working on it thanks!

On Mon, Jul 30, 2018, 2:02 PM beffymaroo <notifications@github.com> wrote:

[2018-07-31 11:38] TheHollidayInn commented on #9296
Feel free to reopen if this is happening

[2018-07-31 11:38] #9296 closed, assigned to nobody

[2018-07-31 11:39] #10155 closed, assigned to nobody

[2018-07-31 11:39] #10267 closed, assigned to nobody

[2018-07-31 16:21] texastoland commented on #3553
@Alys something that hasn't been suggested but is standard UX is collapsing notification messages. On any social media site you don't receive a line in your notifications per like but one for everyone who liked an item. We could place a threshold so 4 messages don't collapse but 5+ followed by a user message do. That way a party that hardly chats would still see their notifications.

[2018-07-31 19:02] FergusonSean commented on #10016
I'll give this a shot if that's cool with people :)

[2018-07-31 21:37] SabreCat opened #10569 "Extra undesired spacing on checklists"
[//]: # (Before logging this issue, please post to the Report a Bug guild from the Habitica website's Help menu. Most bugs can be handled quickly there. If a GitHub issue is needed, you will be advised of that by a moderator or staff member -- a player with a dark blue or purple name. It is recommended that you don't create a new issue unless advised to.)

[//]: # (Bugs in the mobile apps can also

[2018-08-01 03:29] citrusella commented on #10569
For what it's worth, it also affects spacing after the very end of a task title, I believe. I didn't report that in the guild because I didn't notice it originally. (I only caught it when making a CSS style that reverted the .markdown p change inside .task-content ([this style, FWIW](https://userstyles.org/styles/162990/no-p-padding-on-habitica-task-list)) as a fast fix and I thought it might be w

[2018-08-01 07:03] msaikaushik commented on #10569
@SabreCat , can i take this issue?

[2018-08-01 07:52] Alys commented on #10569
@IceDune Please do, thank you! Comment here if you have questions.

[2018-08-01 08:49] paglias commented on #10016
sure @FergusonSean :)

[2018-08-01 13:31] thefifthisa commented on #10444
Hi! Can I take this?

[2018-08-01 13:41] TheHollidayInn commented on #10444
Please do!

[2018-08-01 14:37] thefifthisa commented on #10444
Oh just realized, how do I get past the payment method so I can simulate a group plan?

[2018-08-01 14:47] paglias commented on #10444
@thefifthisa for stripe you should be able to use these https://stripe.com/docs/testing#cards cards

[2018-08-01 14:54] thefifthisa commented on #10444
Stuck with this error though 😕

![stripe](https://user-images.githubusercontent.com/30595954/43529410-37fe4202-9579-11e8-8f3a-d30dd224ec77.PNG)

[2018-08-01 15:03] paglias commented on #10444
Hmm I guess you have to setup a stripe account and use the tests keys from it... Not sure how viable that is, but if you live in a country supported by stripe it should be pretty straightforward.

The other option is to edit the local db directly to give yourself a group plan

[2018-08-01 20:44] texastoland commented on #3553
PS my party has _5 members_ and it interrupts conversation. I'm going to look into implementation next weekend.

[2018-08-01 21:03] Alys commented on #3553
@texastoland We do want to implement batch casting of skills (i.e., select a skill and select the number of times you want to cast it, with 1 being the default, and your mana limiting how large a number you can select of course). That would result in a single message in party chat for all casts, as well as being a significant improvement for usability in skill casting. I imagine the user interface

[2018-08-01 21:38] Alys commented on #5232
I'm working on this as part of adjusting cron so that the actions performed while resting are handled by the main cron code instead of the `performSleepTasks` function -- https://github.com/HabitRPG/habitica/issues/6941#issuecomment-387927531

[2018-08-01 21:51] texastoland commented on #3553
@Alys batching spells makes sense for usability but this would be a separate issue. I started writing up my proposal but it was rather long. Here's the outline:

1. Extract quest notifications from message boxes for differentiation and vertical flow.
2. Remove `code` tags and style them separately.
3. Replace text with visuals and numbers. Imagine an avatar icon, red and green numbers on either si

[2018-08-01 22:22] Alys commented on #3553
@texastoland If the text were replaced, we'd need to ensure that the visuals were completely clear to all users. I'm not sure if that would be easy to achieve.

One thing I'm keen on is keeping it very obvious to anyone visiting the party page that there's been damage that affects them (we already get questions from inexperienced users about why they lost health because they don't realise the boss

[2018-08-01 22:30] texastoland commented on #3553
👍🏽 agreed all around @Alys. I'll send a grab before making changes.

[2018-08-01 23:11] Alys commented on #10444
@thefifthisa If you haven't already found it, see the [Creating Test Data](https://habitica.wikia.com/wiki/Using_Your_Local_Install_to_Modify_Habitica%27s_Website_and_API#Creating_Test_Data) section in "Using Your Local Install to Modify Habitica's Website and API" for advice about the local database modification required.

[2018-08-02 13:30] gosaingourav17 opened #10571 "[Feature Request]:Autocomplete for habits,to-do and daily."
[//]: # (Before logging this issue, please post to the Report a Bug guild from the Habitica website's Help menu. Most bugs can be handled quickly there. If a GitHub issue is needed, you will be advised of that by a moderator or staff member -- a player with a dark blue or purple name. It is recommended that you don't create a new issue unless advised to.)

[//]: # (Bugs in the mobile apps can also

[2018-08-02 13:37] gosaingourav17 commented on #10571
Autocomplete for common habits,to-do list and Dailies would be a good idea.

[2018-08-03 03:39] alexfig commented on #10554
Hi, can I work on this?

[2018-08-03 04:02] Alys commented on #10554
@alexfig Sure, thanks! Post here if you have questions.

[2018-08-03 09:54] #10016 closed, assigned to nobody

[2018-08-03 09:57] #10523 closed, assigned to nobody

[2018-08-03 10:04] #10069 closed, assigned to nobody

[2018-08-03 14:45] msaikaushik commented on #10569
@citrusella ,@Alys may i know how much margin should i assign or is it none?

[2018-08-03 16:15] citrusella commented on #10569
I'm probably not really the one to ask (I was only here to add something I hadn't noticed/included when I reported this in the Report a Bug guild), but for what it's worth, [the previous `.markdown p` margin-bottom (what's causing the extra spacing right now) was 0px](https://github.com/HabitRPG/habitica/commit/0e648d85a08310cf3145458b38f7636beb87d003).

[2018-08-04 00:10] Alys commented on #10569
@IceDune  : Yes, you can give it 0px margin. Thanks for asking, and @citrusella thanks for finding that for us!

[2018-08-04 03:48] fentie commented on #10527
Looking at this again (sorry... frankly I got sucked into video games) I do think it'd be simplest if someone else made the button image adjustments. It wouldn't be impossible for me to do it but at the moment all I really have to work with is Preview.app unless I try to learn GIMP from scratch.

[2018-08-04 03:56] fentie commented on #10527
I also (disappointingly) haven't been able to find where those equipment/customization labels @beffymaroo is referencing actually live. I see that type of thing used in equipment descriptions but since this is solely an avatar customization and not a piece of equipment I don't see where it applies.

[2018-08-04 10:34] Alys opened #10574 "Skills drawer misaligned in small browser windows"
On a small browser window, the "Skills" drawer is off-centre, only three skills can be seen, and the ones you can see have the text and cost slightly cut off from the rounding at the ends of each skill.

![image](https://user-images.githubusercontent.com/1495809/43675511-e5da06ba-9824-11e8-8e17-cdc31306c43e.png)

[2018-08-04 16:15] TheHollidayInn commented on #10571
Thanks for the request @gosaingourav17, but right now we only take feature requests here: https://trello.com/b/EpoYEYod/habitica. Feel free to add it :D

[2018-08-04 16:15] #10571 closed, assigned to nobody

[2018-08-04 21:02] seanloo777 opened #10575 "Time Traveler Hourglass not working"
Hey there,

I have been subscribed for some time now but only have received one hourglass. Help!

My user ID is 889fefd3-ecda-4ee3-8b30-23fec77102d1

[2018-08-04 21:40] Alys commented on #10575
Can you please go to Help > Report a Bug from the Habitica website's menu and copy your post there? We use GitHub for bugs that need code fixes and what you describe will just need an admin to investigate briefly. The "new issue" form here in GitHub has more details about how to report bugs if you're curious - see the comments in it.

[2018-08-04 21:40] #10575 closed, assigned to nobody

[2018-08-05 09:35] paglias commented on #9847
I'm reopening because I don't think this will be handled in #10428

[2018-08-06 05:51] alfill commented on #10148
Hello there. Thank you, @marvinrabe very much for the corrections. Most of the amendments were later translated by Maximilian Antipenko, and this task looks decided.
@Alys, @SabreCat, thank you too, now this issue is completed.

[2018-08-06 06:12] Alys commented on #10148
@alfill Oh awesome! Thanks for letting us know!

[2018-08-06 06:12] #10148 closed, assigned to nobody

[2018-08-07 04:20] msaikaushik commented on #10569
@Alys , i put up a PR.

[2018-08-07 07:12] paglias commented on #10569
@IceDune it looks like you posted your PR on your own fork, it should be opened here :)

[2018-08-07 07:29] msaikaushik commented on #10569
whoops, my bad . thank you @paglias !

[2018-08-07 13:57] thefifthisa commented on #10444
Thanks @Alys!

I may have run into a problem though, because I can't check off any tasks in the group board (unless the task is assigned to me, then I see them on my own board). Is this proper behavior? Also, what does it mean when a group task has no shared completion and "does not complete"? (Sorry, I've never worked with the group plan before 😓)

[2018-08-07 14:13] TheHollidayInn commented on #10444
@thefifthisa this is correct. You don't complete tasks directly on the group board. The assigned user(s) complete them. You shouldn't need to complete for this task. Basically you should only filter dailies based on if they are due are not with respect to the `isDue` field.

`does not complete` is the default behavior for tasks. Basically it allows for tasks to never complete and be recurring. For

[2018-08-07 16:57] Alys commented on #10549
Sorry, this should have been taken off hold when we made a decision. :(

[2018-08-08 08:52] #10014 closed, assigned to nobody

[2018-08-08 14:33] asktree opened #10581 "Constant desync"
I find that I run into desync very often on both the web and mobile app, using the official server (haven't tried a self-hosted). This is especially bad when trying to re-order tasks. Is this a known issue? What accounts for it?

[2018-08-08 15:58] citrusella commented on #10569
Asking because I've been vaguely following this and am confused: Is that PR intended to remove the paragraph spacing from *all* places? Or just some? (#10477 seemed to express a desire for the paragraph spacing where it makes sense (i.e. after paragraphs), and this issue at the very least doesn't want the spacing in checklists but to my half-trained/half-untrained eye the PR seems to just be rever

[2018-08-08 17:04] thefifthisa commented on #10444
Thanks @TheHollidayInn! Just opened a PR where the `isDue` filter works, but only on refresh for now.

I also noticed that the filter functions are different for users and groups. Is there a way to use the same one for both?

[2018-08-08 19:27] beffymaroo commented on #10527
@fentie I can take care of the icons! I'll attach them to this ticket shortly.

I'm not sure about those description strings either, actually. There's no description for the chairs on mouse-over in avatar customization, and they don't appear in the Equipment modals either. @SabreCat do those currently live somewhere, or can/should we eschew those for now?

[2018-08-08 19:30] beffymaroo commented on #10281
@dspitz716 Great! Thanks for checking in.

[2018-08-08 20:18] beffymaroo commented on #10475
@viniciusperuzza I see it's been a bit of time since the PR was updated- are you still working on this issue? Please check in when you have a moment.

[2018-08-08 20:21] beffymaroo commented on #10410
@viniciusperuzza Are you still working on this issue? Please let us know when you have a moment. Thank you!

[2018-08-08 22:06] Alys commented on #10569
@citrusella thanks! You're right. I've commented on the PR.

[2018-08-09 01:56] fentie commented on #10527
Oh that'd be wonderful @beffymaroo, thank you. I'm sure you're super busy so I really appreciate the help.

[2018-08-09 13:28] TheHollidayInn commented on #10581
Hey, @asktree. Can you give more details on what is desyncing? Do you have screenshots/video or a way to reproduce?

[2018-08-09 13:40] vinmegamitensei commented on #10475
@beffymaroo So, Tressley was pinged on the PR, but there's no response yet. In any case, I won't be able to solve this problem because it's beyond my capabilities. It's only partially solved with the answer I was able to reach. So I guess it's up to you guys on how we should proceed.

[2018-08-09 13:42] vinmegamitensei commented on #10410
@beffymaroo I won't be able to continue helping with this one, as I actually had a "promotion" at work and now I'm facing time issues. I'm sorry for this inconvenience, it was totally unexpected.

[2018-08-09 16:08] SabreCat commented on #10410
Thanks for letting us know, @viniciusperuzza !

[2018-08-09 16:08] SabreCat commented on #10527
No need for the descriptions!

[2018-08-09 16:12] vinmegamitensei commented on #10432
I want to report that, as far as I was able to go, I found where the stable options are, but a friend and I couldn't get this to work. I've checked for cookie use or state manipulation, but still, my knowledge is very shallow to solve this issue and everything I tried didn't really worked out. I'm sorry for this inconvenience.

[2018-08-09 18:12] TheHollidayInn commented on #10432
If you'd like to try localstorage, that will help you solve this problem.

[2018-08-09 18:14] TheHollidayInn commented on #10432
https://developer.mozilla.org/en-US/docs/Web/API/Window/localStorage

[2018-08-09 19:24] asktree commented on #10581
I've found a wiki article about them.

http://habitica.wikia.com/wiki/Sync_Errors

Obviously live synchronization with a server is a task that many online applications perform, usually without a hitch. I'm not an expert on the topic but it doesn't seem like Habitica should face any special challenges that other platforms wouldn't.

[2018-08-09 20:02] paglias commented on #10581
@asktree can you post your Habitica UUID? You can find it under Settings -> API

[2018-08-09 20:24] #10574 closed, assigned to nobody

[2018-08-09 20:51] asktree commented on #10581
@paglias 9ed86aed-d1a0-4618-b5eb-d64d1190b915

[2018-08-09 20:57] TheHollidayInn commented on #10581
Sync errors can occur under different circumstances. We've improved much since that article was first written, but there are some common things that other companies also run into as well as the fact that we can always improve.

Now that's generic :P, but to continue with helping you:

Are you seeing this error: `NotAuthorized: Your session is outdated. Please refresh or sync.` and is that what you

[2018-08-09 21:26] asktree commented on #10581
No, I'm not getting that error. The phenomenon I'm mainly referring to sometimes* occurs when I try to re-order tasks. When the page syncs, the tasks will not be how I ordered them; they may not have moved at all, or they may have moved to the wrong place, or sometimes even a task somewhere else in my list will have moved. This happens even if I'm only doing one move.

I tried to reproduce it with