[2014-12-17 09:16] flutterbye commented on #4317
Hello again.  The problem came back last night.  It dealt 45 damage to me and killed me, and dealt around 10 damage to each of my party,  I did leave the browser logged on last night and I know you said this shouldn't affect it but thought I would mention as I was also logged in the first time it happened.  Really disappointed :(

[2014-12-17 09:19] flutterbye commented on #4317
Oh I just wanted to add, I ticked off a lot of to-dos yesterday and got no credit for them as the damage I dealt to the boss was 0.0

[2014-12-17 13:54] polishsputnik opened #4386 "Rare mounts gone"
In inventory my rare mounts are gone. I was riding one, and it's no longer with my avatar display. My user id is e79dad5d-f592-41d8-9185-3f7a1ed3c067

[2014-12-17 14:06] Alys commented on #4386
Your data shows that you still own the Mantis Shrimp mount. Did you own any others?

Please go to your [Mounts page](https://habitrpg.com/#/options/inventory/mounts), reload it, and look at the bottom. If the rare mount section still doesn't appear, do this - preferably in the Chrome browser:
- log out of HabitRPG
- clear your browser's cache (make sure it really is the cache you clear, not just t

[2014-12-17 14:13] polishsputnik commented on #4386
Logging out and in again fixed it.

Thanks very much!
Jenn.

On Wed, Dec 17, 2014 at 9:06 AM, Alice Harris notifications@github.com
wrote:

[2014-12-17 14:13] #4386 closed, assigned to nobody

[2014-12-18 05:50] Nebquerna commented on #4379
No what I meant is when I press play, the URL changes like I'm on the tasks page but I still am on the home page, not the tasks page.

[2014-12-18 18:50] taldin commented on #3439
So essentially, if it was habitrpg-shared, it becomes 'common'?     And will this be in the 'node_modules' directory or somewhere else?     Will you still need to run grunt on it to update changes?

[2014-12-18 19:51] lefnire commented on #3439
it _won't_ be in node_modules. The module will be accessed as `require('../../common')` (or however many `..`s are required at that location). The only hiccup will be accessing it in the public (client) directory. We don't want a symlink, there are couple solutions:
1. Web: [connect-assets](https://github.com/adunkman/connect-assets) can pull external directories into public cat/min js files. conn

[2014-12-18 19:52] #3260 closed, assigned to nobody

[2014-12-18 19:58] taldin commented on #3439
Hm.  I'm not sure I understand.  If you say it 'won't be in node_modules',  but then you go on to say that it will be accessed as 'require(../../node_modules)'    even though it isn't in there?  Or is it just that habitrpg-shared will live in common, but other things in node_modules are still needed?

[2014-12-18 20:10] crookedneighbor commented on #3439
@taldin The reason that habitrpg-shared exists is because it was thought that it was necessary in order to have shared files between the main repo and the mobile repo. We figured out a way to be able to share things to the mobile repo just using the main repo, so it's no longer necessary.

In node, if you write `require('module-name')`, it'll look for the script in the node-modules folder, but if

[2014-12-18 20:12] Alys commented on #3439
@taldin 'require(../../node_modules)' was just a typo. It will be 'require(../../common)'

[2014-12-18 20:20] lefnire commented on #3439
what they said. Yeah, that typo threw you off - sorry about that - `require('../../common')` - important distinction

[2014-12-18 20:21] taldin commented on #3439
Gotcha, reading back makes more sense now. :)

[2014-12-18 20:36] crookedneighbor commented on #4339
I don't want to complicate this, but thinking about this over the last couple of days, here are my thoughts:

I think it makes more sense for every admin user to have a "receive reports of abuse by email" key on their user, defaulting to false. If true, the admin will get the email, if false, skip that admin. This will allow the mods to easily enable and disable that setting at will. If a mods@hab

[2014-12-18 23:32] lemoness commented on #4339
Would that be simple to set up? I like the idea and think it would be more
flexible than the mods@habit approach, although I agree we should still
have that email for other uses.

On Thu, Dec 18, 2014 at 12:36 PM, Blade Barringer notifications@github.com
wrote:

[2014-12-19 00:10] crookedneighbor commented on #4339
Gonna have to defer to @paglias regarding how simple that would be.

I know how to add the setting to the user object, but not sure about the email code. Looks like there's an array of the mod objects in `env.mods`, could that be passed into the report abuse function?

Just having it email mods@habitrpg.com would be simpler, but I still think doing the work to make it a configurable setting would

[2014-12-19 00:18] Alys commented on #4339
Can the flag code and a simple email solution go live before the advanced configuration is created? Users having the ability to flag messages over Christmas-New Year would be very useful since there's likely to be fewer moderators around. If you need a single email address for it, use mine (lady_alys@oldgods.net) and I would forward all emails to Leslie. I'm on call for work over that period so I

[2014-12-19 00:34] crookedneighbor commented on #4339
I think you're right @Alys, making it a configurable setting can be put off till part 2.

[2014-12-19 03:30] Alys commented on #4339
Blade, sorry, I should have thought of this days ago: Can the email please include a direct link to the guild? That will make it much faster for us to jump in and deal with any problems that might still exist.

[2014-12-19 04:22] crookedneighbor commented on #4339
Oh yeah, of course!

That should be easy, all we need to do is pass in `group.privacy` along with the `group._id`. If it's a party or private guild, the `group.privacy` will be `"private"`, so we can just check if the `group.privacy` is set to public, and then show a link.

I'll amend the email mockup above to include it and adjust the branch to reflect that.

[2014-12-19 04:40] crookedneighbor commented on #4339
Actually, depending on when the email gets sent out, we don't even need to pass in `group.privacy`. If it's done after the API call in `src/controllers/groups.js`, `group.privacy` is accessible directly from that function:

[code]

[2014-12-19 04:41] crookedneighbor commented on #4339
@paglias Let me know if there's anything I can do to help with the email creation process.

[2014-12-19 04:52] Alys commented on #4339
Can you include the link even when it's private? It will still be usable if it happens to be a private guild that the moderator is a member of, and if not, seeing the guild's ID will be helpful if we need to get any raw data from the database (the same applies to parties of course). Also, I'm guessing that the email already includes the name of the guild or party, but if not, can it please?

[2014-12-19 05:04] crookedneighbor commented on #4339
Sure. I'll update the message. I've also added the email text to the first comment on this issue for easy access.

[2014-12-19 05:08] Alys commented on #4339
LOVELY. It's very organised. I like it a lot.

[2014-12-19 05:46] lemoness opened #4389 "Change Grand Gala Link"
Right now the Seasonal Shop's Grand Gala link points to the community page of the wiki, but since then, a Grand Gala page has been created here: http://habitrpg.wikia.com/wiki/Grand_Galas

Clicking on the link should open the Grand Gala page in a new tab.

[2014-12-19 10:11] akshay2000 commented on #2885
Has there been any update on this issue? I have been thinking of creating a port - especially since Visual Studio officially offers Cordova integration and supports WP 8.1 and Windows 8.1.

[2014-12-19 10:44] negue commented on #2885
There are currently these Apps available:

My HabitRPG Metro:
- Desktop / Tablet: http://apps.microsoft.com/windows/en-us/app/habitrpg-metro/bf3088cd-701c-4b2e-a765-7ee3adc30171
- Phone: http://www.windowsphone.com/en-us/store/app/habitrpg-metro/16136b45-3188-4c93-b6f1-da0b9e23ba4f

and also others for WindowsPhone
- http://www.windowsphone.com/en-us/store/app/habitrpg/3ce66e8b-811d-4701-b78b-b05f

[2014-12-19 11:16] akshay2000 commented on #2885
You're right, @negue - Ionic doesn't support Windows Phone yet. Sadly, it also looks like they don't have immediate plans to support it. In that case, I think I'll stick to the third party alternatives. I wish one of those alternatives were open source, so that I could contribute and make them better.

[2014-12-19 15:13] crookedneighbor commented on #4389
@lemoness How urgent is this?

If you want it done right away, I'll just go in and do it. If not, I'll post it in the Aspiring Coders guild.

[2014-12-19 16:04] #4389 closed, assigned to nobody

[2014-12-19 17:08] DaddyLudwig opened #4391 "No habits, dailies or to dos"
Just now I noticed a glitch saying that I have no habits, dailies, or to dos. Cron did run so I don't know what's going on. Also it didn't make me go back to level 1.

fa197a4b-e065-4551-803a-c8a5b9970f9d

[2014-12-19 17:11] crookedneighbor commented on #4391
Is it possible that you have a tag enabled? In which case, click the clear button:

![clear](https://cloud.githubusercontent.com/assets/2916945/5508168/b7b9b72c-876f-11e4-8da1-ca48eebd7386.png)

[2014-12-19 20:55] paglias commented on #1057
Hi everyone,

we just pushed a possible fix (thanks to @brandonjreid) to the beta site. It would be really useful for us if you could use it for a few days and report here if you are still encountering this problem with cron or not anymore.

You can access it at https://beta.habitrpg.com and it's very important that you use if from the mobile app if you have it. To do so you have to logout and whe

[2014-12-19 21:44] lemoness commented on #1057
Quick clarification: You don't have to use the mobile app to test this (you
can use beta.habitrpg.com on your computer), but if you DO use the mobile
app, make sure that you're using the mobile app with the beta site as
described above.

On Fri, Dec 19, 2014 at 12:55 PM, Matteo Pagliazzi <notifications@github.com

[2014-12-20 00:02] DaddyLudwig commented on #4391
I don't have any enabled and it is only on a specific computer. All other computers show it up correctly.

[2014-12-20 00:03] lefnire commented on #4391
Try clicking the "clear" button anyway, just in case

[2014-12-20 11:01] owenblacker commented on #4315
Fwiw, it's been fine for a good few days. But I died at 0035 last night as a result of not having marked off my dailies, despite supposedly having over 2 hours remaining… :(

[2014-12-20 11:29] Alys commented on #4315
@owenblacker Are you certain that you died because of your own Dailies and not from damage from the boss quest that you are on? Could you please go to your party page, click "Fetch recent messages" (that part is important) and see if there are any reports of damage from your party members that would account for your death?

[2014-12-20 16:25] paglias commented on #4339
@crookedneighbor sorry, I missed some discussion on this. So the email should be sent to all the mods as defined in https://github.com/HabitRPG/habitrpg/blob/a0a576f143a4ba46e37a35346d7bd070ab9962dc/src/models/user.js#L488

so they would be Lemoness    SabreCat    lefnire    paglias    redphoenix    It's Bailey    Alys    Breadstrings    Cole    Daniel the Bard    Megan    ~Ryan v5.0.1  (taken dir

[2014-12-20 17:31] crookedneighbor commented on #4339
@paglias Yeah, for right now, so we can get it merged in before the holidays, let's go with the plan @Alys put forward [here](#issuecomment-67580387). We'll use her email and she'll forward on any necessary emails.

[2014-12-20 17:50] paglias commented on #4339
@crookedneighbor ok great, I'll implement it tomorrow or monday, and sorry for the delay

[2014-12-21 01:33] Jonta commented on #4265
<code>:feet:</code> is also different from the [cheat sheet](http://emoji-cheat-sheet.com). It displays :feet: instead of :footprints: (the latter being <code>:footprints:</code> here on GitHub and on HabitRPG).

Not that the library is bad, but linking to one that isn't accurate is confusing. =)

[2014-12-21 09:16] zuchinno commented on #4317
This is basically happening to me too. My dailies never appeared today and when I look in the grey ones, it shows check marks next to all the ones due yesterday. I just lost 13 health and my buff and probably all my streaks for no reason. Who memorizes every streak counter?
(https://cloud.githubusercontent.com/assets/10258820/5517720/e8b497da-88ae-11e4-8525-3df2bc2f1520.png)

[2014-12-21 12:42] sadanyagci commented on #2143
I experienced this bug while using Burst of Flames. I'm now level 16 with 435 / 360 experience points. What can I do about it?

[2014-12-21 12:46] deilann commented on #2143
The first post in this issue has a very large, bolded section on "What to do"

[2014-12-21 12:47] sadanyagci commented on #2143
Ah, ok. I somehow completely missed that.

[2014-12-22 09:09] Alys opened #4396 "Class Gear dialog screen appears three times after changing classes"
After changing class, the "Class Gear" dialog appears three times. All three dialogs disappear at the same time when you click on the top-most "End tour" button.

Noticed by @deilann as well as by me (e7b5d1e2-3b6e-4192-b867-8bafdb03eeec and d904bd62-da08-416b-a816-ba797c9ee265).

![class gear](http://i.gyazo.com/444fa9a8da998908bc7a3d0725ff8608.png)

[2014-12-22 09:11] deilann commented on #4396
Only semi-related... but I think we need dolphin mounts.

On Mon, Dec 22, 2014 at 1:10 AM, Alice Harris notifications@github.com
wrote:

[2014-12-22 13:02] janey-p opened #4397 "Emojis in tasks are flat in IE11 and the Windows version of Firefox (and black & white in Windows 7)"
Currently, the emojis included in tasks (habits, dailies and to-dos) are displayed in flat design, which makes them hard to see on colored backgrounds:
![flat emojis](https://cloud.githubusercontent.com/assets/10269892/5525217/b2392f9c-89e2-11e4-89e5-954ad9238742.PNG)

None of the suggested workarounds helped. (reload, logout/in, clear cache, restart browser)

Seen on FF 34.0.5 on Win 8.1
##

_edi

[2014-12-22 13:11] kawunngg commented on #4397
mine are also flat, but grey. also tried the solutions Alys suggested without effect.

Firefox 34.0 on Win 7

[2014-12-22 13:52] habitrpguser commented on #4397
Mine are black & white. Both Firefox and Explorer. Win 7. Workarounds (reload, log out, clear cache, restart browser, restart computer, delete cookies & practically everything else for good measure) had no effect. I didn't try to reinstall the browser.
Just in case it might be a locality settings thing: I'm in Germany.

[2014-12-22 14:35] Nondescript1010 opened #4398 "Task page on mobile website"
The task tab only shows a couple of each habit, daily, and to-to.
There is no way to see the other tasks when browsing on a mobile device.
Also, there is no way to apply a skill to a task on that page, such as backstab.
I also see no way to switch to a desktop version of the website from the mobile version.

[2014-12-22 15:17] MagBag commented on #4397
My emojis in Chrome 39.0.2171.9m look normal -- not black and white, not flat.  However, in Firefox, they are black and white with little detail.  I tried all the workarounds to no effect.  I am using Windows 7 and my Firefox version is Firefox 34.05.  This problem also occurred in the FF version prior to 34.05, as it updated while I was restarting and clearing my cache, etc. in an attempt to get

[2014-12-22 15:22] crookedneighbor commented on #4398
Each column should have a the ability to scroll to see the rest of the tasks. Are you unable to do that? If so, what device, operating system and browser are you using?

Skills can be tricky on mobile, because the first tap might be interpreted as a hover command, which would open the popover instead of activating the skill. If you do successfully activate the skill, it's difficult to tell, since

[2014-12-22 15:45] crookedneighbor commented on #4397
I've done some investigating. Here's how it looks in various browsers:

### Windows 7, Firefox:

![screen shot 2014-12-22 at 9 24 41 am](https://cloud.githubusercontent.com/assets/2916945/5526782/fcdc117a-89bc-11e4-9beb-15ebe2ff115b.png)

### Windows 7, IE11:

![screen shot 2014-12-22 at 9 31 09 am](https://cloud.githubusercontent.com/assets/2916945/5526818/58bbe592-89bd-11e4-9cdc-83c7232b42ac.png

[2014-12-22 16:20] crookedneighbor commented on #4397
For reference, I believe [this is the js being used](https://github.com/iamcal/js-emoji) to convert the `:text:` to emoji.

[2014-12-22 18:09] ghost commented on #4397
For what it's worth -- the default (non-Chrome) browser on my phone (Android 4.3) displays the full-color "normal" icons. Everything else I have matches crookedneighbor's experience.

[2014-12-22 18:20] Alys commented on #4398
@Nondescript1010:

If scrolling doesn't show you all your tasks, click the "clear" button that's to the left of (or possibly just above) your tags. Do that even if it looks like no tags are selected.

There aren't desktop and mobile versions of the website. There's just one version that changes appearance depending on the size of the window. You can get a similar view on your desktop machine by ma

[2014-12-22 18:36] crookedneighbor opened #4399 "Add colored border to active skill"
Originally from #4398

After clicking on a skill (or spooky sparkles/snowball), it's not always apparent which skill you clicked on. Putting a border around the selected skill (maybe similar to the border that goes around the target task/user, but not green, since that signifies the target), would clarify this. I was thinking blue for the border, but am open to suggestions.

In addition to making

[2014-12-22 18:49] paglias commented on #4339
@crookedneighbor started implementing the email: https://github.com/HabitRPG/habitrpg/commit/652ce10e2246a7b7a9e699f9aa005999b40f69b4

I have it ready on the email server and alys email address on heroku, I just miss the null values in the commit above

[2014-12-22 19:04] paglias commented on #4339
@crookedneighbor done, if you could add the values here https://github.com/HabitRPG/habitrpg/blob/2d4c5e7b98152b215ac875acef919bc3ae3896de/src/controllers/groups.js#L302 and here https://github.com/HabitRPG/habitrpg/blob/2d4c5e7b98152b215ac875acef919bc3ae3896de/src/controllers/groups.js#L297 because I'm not sure

Then give it a small test to make sure everything is ok and we can merge back to deve

[2014-12-22 19:28] crookedneighbor commented on #4339
@paglias Added it:
https://github.com/HabitRPG/habitrpg/commit/37b9e5012a663c674d4c3bb58bfca0ebdbd976ba

Testing now.

[2014-12-22 19:37] paglias commented on #4317
@zuchinno could you post your UUID? @flutterbye you too if it's still happening these days. We've some enhanced logging now and I want to verify a thing

[2014-12-22 19:37] crookedneighbor commented on #4339
@paglias
Looks like it needs to be in a production environment to send the email, but when I switch the NODE_ENV variable to production, it crashes because of logger:

[code]

[2014-12-22 19:40] paglias commented on #4339
Ok, I'll try it
Il 22/dic/2014 20:38 "Blade Barringer" notifications@github.com ha
scritto:

[2014-12-22 20:10] paglias commented on #4339
@crookedneighbor tested, I just changed the url for tavern reportes https://github.com/HabitRPG/habitrpg/commit/4c785e84590c2fa6d69e697e6240020152599346

if @Alys and @lemoness are ok we can merge and go live!

[2014-12-22 20:14] Alys commented on #4339
No complaints here.

[2014-12-22 21:10] lefnire commented on #4397
FWIW, i've seen some activity on marked showing possible built-in support for emoji (maybe via a fork?) https://github.com/chjj/marked/pull/238 might be worth exploring

[2014-12-22 23:04] LordGrowl opened #4400 "Wrong year in Winter gear descriptions (or continuity mistake?)"
The description in last year's winter gear says:

This year's winter gear says:

What happened to the winter of 2014?

(The problem exists in all the limited edition equipment for the rogue; I don't know about the equipment for the other classes.)

[2014-12-22 23:36] crookedneighbor commented on #4400
From @Alys in the tavern:

@Alys and @paglias Should last year's strings be updated to 2014? Or just leave it alone?

[2014-12-22 23:37] lefnire commented on #4400
cc @sabrecat

On Mon, Dec 22, 2014 at 4:36 PM, Blade Barringer notifications@github.com
wrote:

[2014-12-23 00:23] SabreCat commented on #4400
I'm planning to update last year's strings.

[2014-12-23 01:03] bunnyplanet commented on #4313
I'm having an issue which may be this same bug. My user ID is 0396e6e1-0edc-46f5-9449-24891ba16698

Here's what I've observed. Every _other_ day, the majority of my dailies don't reset. The number seems to vary, but the pattern, if there is one, is that dailies that I checked off first thing in the morning the previous day will reset and all others will not.  Some of my streaks will stay as they w

[2014-12-23 02:39] crookedneighbor commented on #4400
Opened up an issue for entry level coders in habitrpg-shared:
https://github.com/HabitRPG/habitrpg-shared/issues/405

[2014-12-23 02:55] mamishka commented on #4313
I've noticed a pattern that might be helpful in solving this bug. Any time I have my dailies set to "all", everything works fine and cron resets properly. Every time I have my dailies set to "due", this cron problem happens. Not sure why that would affect things, but that might be a clue to what is causing the problem.

[2014-12-23 04:54] bunnyplanet commented on #4313
I'll try leaving mine set to all tonight and see what happens. Though if the pattern holds, I wouldn't have the issue tomorrow anyway. I'll try it tomorrow night as well.

[2014-12-23 04:56] deilann commented on #4313
I can pretty much guarantee you that is not related.

On Mon, Dec 22, 2014 at 8:54 PM, bunnyplanet notifications@github.com
wrote:

[2014-12-23 05:24] lemoness commented on #4339
Sounds good to me! Thanks for working on this, guys :) Many thanks to Alys,
too, for bearing the initial email brunt so we can get it out faster! I
think this will really help :)

On Monday, December 22, 2014, Alice Harris notifications@github.com wrote:

[2014-12-23 05:29] crookedneighbor commented on #4339
@lemoness do we need text for a Bailey announcement?

[2014-12-23 05:31] Alys commented on #4339
I'm excited about it!

I'm thinking that even when posts are hidden by users, we should still put
the usual "your post has been removed" message in the Tavern (at least
occasionally, if not every time), because it's probably a useful indicator
to everyone that the Tavern has rules and they are policed. Prevention is
better than hiding even. Lemoness, what do you think?

On 23 December 2014 at 15:2

[2014-12-23 10:10] lemoness commented on #4400
For what it's worth, I like 2014-15 for clarity, but I may be overruled. It just feels weird to me to leave out one of the years.

[2014-12-23 10:15] Alys commented on #4400
Ah sorry, I thought it had been decided.
I was editing the Winter Wonderland wiki page a couple of hours ago and was adjusting the years to use 2014 and 2015, instead of 2013-2014 and 2014-2015. It did feel odd to me then and I think there could be confusion. I'm now leaning towards keeping both years.

[2014-12-23 10:22] lemoness commented on #4339
I think we should definitely have a bailey announcement.  There will be a
bailey on the 24th (or maybe 25th) so I could incorporate it if it will be
done in time. There's another on the 30th, and we could also have one
in-between if there's any other fixes/changes  that are big enough to merit
mention before then.

On Monday, December 22, 2014, Alice Harris notifications@github.com wrote:

[2014-12-23 10:24] paglias commented on #4339
I'm going to push to beta later today so it's on time for the 24th
Il 23/dic/2014 11:22 "lemoness" notifications@github.com ha scritto:

[2014-12-23 10:25] lemoness commented on #4400
Not at all your fault - I've been running around these past few days
because of Christmas and Chanukah, so it totally slipped under my radar until
I saw this ticket!

On Tuesday, December 23, 2014, Alice Harris notifications@github.com
wrote:

[2014-12-23 13:32] lucymhdavies opened #4401 "Buy Gems popup has a link to open another Buy Gems popup. Clicking results in a second Buy Gems popup."
Steps to Reproduce:
1. In Menu Bar, click the Gems icon to open the Buy Gems popup
2. In the popup, hover over the X Gems link in the top right, to make the + icon appear
3. Click the + icon, to launch a second Buy Gems popup
4. repeat

See https://www.youtube.com/watch?v=lFg5WOd63Ec for example.

Doesn't seem user specific, but as per instructions here is the User ID used in the video:
4c0f767d-3

[2014-12-23 15:16] crookedneighbor commented on #4400
We got a pr to change the text from 2013 to 2014.
https://github.com/HabitRPG/habitrpg-shared/pull/406

Should I tell the contributor to change it to 2013-2014 and update the new gear to 2014-2015?

[2014-12-23 15:56] crookedneighbor commented on #4339
@paglias Do you want me to pull in the latest changes from dev for both the habitrpg and [habitrpg-shared](https://github.com/HabitRPG/habitrpg-shared/tree/add-flag-to-chat) branches for this feature?

[2014-12-23 15:57] SabreCat commented on #4400
I prefer keeping it single years:
- It's more concise; item descriptions can get long!
- It lets all the Galas have a unified name convention
- You can refer to a given year's events as a group without ambiguity
- I like the forward-looking "model year" feel of starting the next year's
  Winter event in December, especially given the importance of New Year's to
  Habit

All that said, @lemoness ha

[2014-12-23 15:58] crookedneighbor commented on #4400
I like @SabreCat's reasoning :+1:

[2014-12-23 16:03] paglias commented on #4339
If you can yes, I'm going to get home in 1-2 hours then I'll push it live
Il 23/dic/2014 16:56 "Blade Barringer" notifications@github.com ha
scritto:

[2014-12-23 16:11] crookedneighbor commented on #4339
Done. Both are up to date with develop.

[2014-12-23 17:45] paglias commented on #4339
@crookedneighbor @Alys @lemoness it's on beta

[2014-12-23 17:45] paglias commented on #4339
I'm going to flag a comment of my own to see if the email arrives

[2014-12-23 17:47] paglias commented on #4339
@lemoness I flagged one of your messages in the contributors guild, just to test :)

[2014-12-23 17:49] paglias commented on #4339
ok @Alys should have received the email.

There are two problems:
- the new strings seems missing, i'll have to deploy again because I forgot to push my repo to github
- the date in the email is reported as milliseconds from 1970, not formatted

[2014-12-23 18:04] crookedneighbor commented on #4339
To fix the time, it just needs something like this, right?

[code]

[2014-12-23 18:07] crookedneighbor commented on #4339
It won't be formatted for the admin's timezone though, right?

[2014-12-23 18:07] paglias commented on #4339
@crookedneighbor fixed and redeployed. Just one thing I noticed, if you're an admin and flag a message and then want to unflag it (reset flag count) you have to reload the page because otherwise it says: "message already reported" and blocks you.

Other than this it seems fine.

The date gets formatted to UTC timezone and I think it's ok

[2014-12-23 18:15] crookedneighbor commented on #4339
Yeah, I'll list that in the roadmap for part 2.

[2014-12-23 18:21] crookedneighbor commented on #4401
Thanks for reporting this.

It's because the gems modal is using the gem include in `/views/shared/gems.jade`

Probably the best course of action will be to add a variable like, `isGemsModal`, which, when set to true, skips the `ng-click` part of the `gems.jade` include. Then, just setting the modal to have `var isGemsModal = true` before the include will prevent the `ng-click` from being loaded i

[2014-12-23 21:18] Alys commented on #4339
I received two report emails. The date was formatted as "Sat Dec 20 2014 00:11:23 GMT+0000 (UTC)" which is okay. I can live without it being in my timezone. In fact, it's probably best that it's not in my timezone because if it needs to be forwarded to anyone, such as the reporter or the user who is in violation, the date will make more sense to them if it's UTC.

[2014-12-23 21:35] Alys commented on #4339
In the Party chat, the flag icon appears next to the system messages ("Bob attacks Frost Penguin for 12.8 damage...").

I think this is probably a good thing and should remain. If a party member changes their profile name to something obscene, but doesn't post a message to party chat, then flagging a system message is the only way to report them.

However the code gets upset and gives errors: 'Use

[2014-12-23 21:37] Alys commented on #4339
I'm wondering if it's worth having a warning message in the email saying something like, "If you forward this message to one of the persons involved, be sure to first delete all details of the other person involved!"

[2014-12-23 22:24] crookedneighbor commented on #4339
@Alys You're only seeing the flag in the system messages because you're an admin, I set it so admins would always see flags, it was a slip on my part to let it be seen if it was also a system message.

I can see what you're saying, but in that case, I think it's more appropriate to have some other method of reporting the name, other than reporting the system message. Especially since I'm not sure

[2014-12-23 22:26] crookedneighbor commented on #4339
Maybe a question pops up when blocking a user asking if the person the user is blocking has violated the community guidelines and/or terms of service and would the blocker like to report it to a mod?

[2014-12-23 22:43] Alys commented on #4339
"Especially since I'm not sure how you'd get the user id out of the message
object" - you wouldn't be able to, but that wouldn't matter. We could track
down the person by knowing the party ID. This system message could be the
only way that party members ever see the name, and if it's a really bad
name, they should definitely not be forced to keep on seeing it. Kicking
the user out of the party mig

[2014-12-23 22:56] crookedneighbor commented on #4339
@Alys good points.

Seems to me like that can be incorporated into part 2 of the flagging system. Shouldn't stop us from deploying this version before Christmas. Do you disagree?

[2014-12-23 22:58] Alys commented on #4339
Agree, definitely.

On 24 December 2014 at 08:56, Blade Barringer notifications@github.com
wrote:

[2014-12-23 23:08] crookedneighbor opened #4403 "Reporting Violations of Community Guidelines (Part 2)"
First part: #4339
## Features
- [x] Allow admins to flag and un-flag messages without refreshing
- [x] Allow users to flag system messages that display users with inappropriate usernames. Customize report modal to reflect this.
- [ ] Add report dialog to block user button - https://github.com/HabitRPG/habitica/issues/9486
- [x] Allow reporters to add a message to the mods when reporting abuse
## D

[2014-12-23 23:09] crookedneighbor commented on #4403
@Alys and @lemoness I tried to pull the relevant information from the G+ discussion. Feel free to edit as needed.

[2014-12-23 23:16] sbreiler commented on #4296
habitrpg-shared update (first to pull!): https://github.com/HabitRPG/habitrpg-shared/pull/408
habitrpg update: https://github.com/HabitRPG/habitrpg/pull/4404

[2014-12-24 00:20] crookedneighbor commented on #4296
:+1:

[2014-12-24 00:49] Alys commented on #4403
I love all of this except maybe this one: **"Some kind of rating system for severity of abuse"**. Would that be for the users to use? I think having to chose a severity rating would be a bit stressful (I know I'd worry about getting it "right") and it would probably produce inconsistent results since some users would have different ideas about what's bad. I'm not sure it would help us much either;

[2014-12-24 01:38] lucymhdavies commented on #4401
Yeah, it seemed like something simple enough to fix when I had a look at the code.

If I find time over my xmas break I'll get a local version of the app up and running, write a fix, then submit a pull request :)

[2014-12-24 01:41] crookedneighbor commented on #4401
:+1:

[2014-12-24 01:43] crookedneighbor commented on #4400
Since we're discussing this here in stead of the shared repo, I'm re-opening the issue.

[2014-12-24 01:56] crookedneighbor commented on #4403
I pulled that out of this from Mel P.:

My abbreviated version missed much of the nuance of the suggestion. I'll edit the checklist to more accurately represent the idea.

[2014-12-24 02:04] crookedneighbor commented on #4403
Allowing reporters to add messages to reports of abuse and revoking chat privileges after x number of flags seem pretty simple to do.

I think compiling a list of users with flags and commenting/rating them would take a whole lot more tinkering and should be put off to a later time.

[2014-12-24 02:15] Verabird commented on #4355
This seems like it will require adding a new user preference field to the database. I'm still figuring things out but I'm guessing that that's not something just anybody can do.

[2014-12-24 02:16] Alys commented on #4403
So the rating system would be for mods/staff only - I withdraw all objections. :)

I also have no objections to the list of users being done later (staged approaches are great) but I'm wondering if you could reuse the Hall of Heroes code to easily make a Hall of Villains, visible to only mods/staff. The "Reward User" fields could be copied to "Punish User" -- "Contrib Tier" becomes "Total Infracti

[2014-12-24 02:20] Alys commented on #4355
Actually, no, it's pretty easy to do that. You'd put a default setting in `preferences` in https://github.com/HabitRPG/habitrpg/blob/develop/src/models/user.js#L260 and write code to change the setting when the user chooses an option, and then the database records automatically pick up the new field as necessary.

[2014-12-24 02:20] Verabird commented on #4233
@pollockjj Are you still working on this? If not I'm thinking of taking a crack at it.

[2014-12-24 07:26] LordGrowl commented on #4400
Yay! My ticket is actually generating discussion. Always something good for the ego.

As for my own thoughts on the issue, I can't think of anyone who counts the seasons as: "Winter, Spring, Summer, Fall/Autumn". Most - at least in cultures in the Northern Hemisphere - would have been taught that they go in the order of "Spring, Summer, Fall/Autumn, Winter". After all, that's the reasoning behind

[2014-12-24 15:02] #4361 closed, assigned to nobody

[2014-12-24 15:36] pollockjj commented on #4233
Blade - I was going to take a crack at it now that I have some vacation
around Christmas, but I don't want to hold back the wheels of progress. Let
me know and I'll look for something else instead.

Happy Holidays!

##

John Pollock
Burnsville, MN  55337
(612) 293-7792

On Tue, Dec 23, 2014 at 8:20 PM, Verabird notifications@github.com wrote:

[2014-12-24 15:58] SabreCat opened #4405 "Inconsistent text color in "you don't have any" Market messages"
Quick fix that should just require a one-line Jade tweak. The "you don't have any food or saddles" message in the Market is in black text, while all other similar messages there are in deemphasized gray text:

![2014-12-24 09_57_18-clipboard](https://cloud.githubusercontent.com/assets/4501321/5549636/46bb20e6-8b53-11e4-8e5e-b033fb86bab8.png)

The lower message should be in gray as well.

[2014-12-24 17:02] Verabird commented on #4233
Go ahead pollockjj, you have first dibs

[2014-12-24 19:46] roobixshoe opened #4406 "pebble app showing someone else's tasks"
I am user 70ed393a-99c9-48ba-a263-164dfa8343f5 , running iOS 8.1.2 on my iphone 5s, just started using hRPG today. I noticed there is a Pebble app for this game from developer jollyassjerk called "HABITRPG" on the Pebble App Store.
Setting up the Pebble app, it asks me to enter my UUID and KEY, so I go into my iOS hRPG app and copy the UUID and API token. The Pebble app accepts the information and

[2014-12-24 19:59] Alys commented on #4406
Thanks very much for reporting this!

I feared it was a security incident with HabitRPG that was letting you see someone else's tasks, but it turns out that those tasks belong to the developer of the Pebble integration app (the developer posted about the app in a guild yesterday so I know who they are), so it's a flaw in the integration app itself. I'll contact the developer myself to add to what

[2014-12-24 20:04] roobixshoe commented on #4406
Thanks.. The pebble dev replied to me just now and asked me to beta test his app... It seems he added his own credentials into the app, so that solves that mystery.

Sent from my iPhone

[2014-12-24 20:05] Alys commented on #4406
Thanks for letting us know! :)

[2014-12-24 20:05] #4406 closed, assigned to nobody

[2014-12-24 21:49] Verabird commented on #4355
Ah, thank you alys

[2014-12-25 15:43] bunnyplanet commented on #4313
Well, weirdly enough I set the dailies to "all" last night and today everything reset as it should. Let's see if I can get three in a row.

[2014-12-25 15:48] LordGrowl opened #4407 "Unable to manually order challenge todos"
I've just created a new public challenge, however I'm unable to manually order the todos. When I created the challenge, the todos were created in a specific order (since there are no subtasks in challenges). If I click "Edit" and rearrange the todos manually, when I click "Save" the todos will remain in the same order they were in before they were edited. If I rearrange them myself from the Challe

[2014-12-25 16:10] LordGrowl commented on #4407
Ah, sorry, I figured it out. I must have rearranged the tasks when I was creating the Challenge in the first place and forgot after I had saved. So it seems that the tasks appear in order of creation, in descending order (newest task at the top, oldest at the bottom). I deleted all the todos and created them again, this time specifically so that they would appear in the correct order. All is fine,

[2014-12-25 16:10] #4407 closed, assigned to nobody

[2014-12-25 18:49] crookedneighbor commented on #4339
Anyone know when the next deployment to production will be? I noticed the flag feature still hasn't been pushed and we were aiming to get that done before the holidays, right? Are we just waiting on a Bailey announcement? Or is it rolling out with other updates? Or what?

[2014-12-25 19:11] paglias commented on #4339
@crookedneighbor I know there will be a deployment today and the Bailey announcement is ready so we'll have it online soon :)

[2014-12-25 19:31] crookedneighbor commented on #4339
Awesome, thanks for the update!

[2014-12-26 00:13] Pfeil opened #4409 "No levelup initiated"
Long story short, I currently have 766/660 EXP.
I casted a few spells (burst of flames) to end a quest, which worked quiet well. Except that my level did not increase.

I started a new quest and casted burst of flames again, hoping that this would update my experience situation, but it did not. Also, reloading etc did not work. The error also appears on my mobile phone now, so it must be on the se

[2014-12-26 00:16] SabreCat commented on #4409
See #2143. Check off any task and you'll level up as usual.

[2014-12-26 00:16] #4409 closed, assigned to nobody

[2014-12-26 00:30] Pfeil commented on #4409
Worked, thanks.

[2014-12-26 01:38] lucymhdavies commented on #4401
Simple fix in Pull Request https://github.com/HabitRPG/habitrpg/pull/4410

[2014-12-26 03:54] crookedneighbor commented on #4403
Added a new item to the Discussion section:

And moved this to Features:

And the hall of villains items to a new section called Ideas for Part 3

[2014-12-26 04:01] crookedneighbor commented on #4403
I left this in Discussion:

Seemed like it would be trickier to implement than the other items, so I didn't want to move it to features just yet.

[2014-12-26 04:28] deilann commented on #4339
Who gets emails for these?

On Thu, Dec 25, 2014 at 11:31 AM, Blade Barringer notifications@github.com
wrote:

[2014-12-26 04:34] Alys commented on #4339
I do at the moment, because I'm planning to be home and online for much of
the next week+. I forward them to Lemoness. Once we figure out how to do
multiple mod emails, they will go to multiple mods. See also my post in the
Tavern explaining this. :P Unless it's been flagged. :)

On 26 December 2014 at 14:28, deilann notifications@github.com wrote:

[2014-12-26 04:36] deilann commented on #4339
Your post in the Tavern just says it's sent to "moderator(s)"

On Thu, Dec 25, 2014 at 8:34 PM, Alice Harris notifications@github.com
wrote:

[2014-12-26 04:42] Alys commented on #4339
The earlier post where I was explaining to kawunngg why I don't think it's bad that only two flags are needed.

Might as well reproduce it here in case it comes up in discussion again:

kawunngg: "aren't two a little too few? I'm thinking of the possibility of two people bullying one other ..."

Alys: "that is a good point, and one that we hadn't thought of. Our thinking was that if someone posts

[2014-12-26 04:47] deilann commented on #4339
Awesomesocks. I don't need the emails until I get a phone again (wow,
someone from ten years ago would scratch their head at that comment...)
because I do have that habit of disappearing to go hack on something for 24
hours and not check my email. Which makes me unreliable even when it's not
the holidays.

I just wanted to make for sure. :)

On Thu, Dec 25, 2014 at 8:42 PM, Alice Harris notificati

[2014-12-26 05:01] crookedneighbor commented on #4339
Since this has been deployed, I'm going to close this issue.

Discussion can continue in [Part 2](https://github.com/HabitRPG/habitrpg/issues/4403) if anyone is interested.

[2014-12-26 05:01] #4339 closed, assigned to crookedneighbor

[2014-12-26 05:35] Alys opened #4412 "Protective Aura (protectAura) Skill Rebalancing (for `rebalancing-2014-12` feature branch)"
As described in [Fix Overpowered Skills - Issue #3029](https://github.com/HabitRPG/habitrpg/issues/3029#issuecomment-68128382), we are rebalancing many skills. This issue is specifically for Protective Aura (`protectAura`). [Current skill is defined here](https://github.com/HabitRPG/habitrpg-shared/blob/7fd4cebbdc531b6875fb0fbb687b89b66362ee67/script/content.coffee#L603).
#### Requirements:
- Keep

[2014-12-26 05:57] Alys opened #4413 "Searing Brightness ('brightness') Skill Rebalancing (for 'rebalancing-2014-12' feature branch) [$30 awarded]"
As described in [Fix Overpowered Skills - Issue #3029](https://github.com/HabitRPG/habitrpg/issues/3029#issuecomment-68128382), we are rebalancing many skills. This issue is specifically for Searing Brightness (`brightness`). [Current skill is defined here](https://github.com/HabitRPG/habitrpg-shared/blob/7fd4cebbdc531b6875fb0fbb687b89b66362ee67/script/content.coffee#L593).
#### Requirements:
- [x

[2014-12-26 06:13] Alys opened #4414 "Ethereal Surge ('mpheal') Skill Rebalancing (for 'rebalancing-2014-12' feature branch)"
As described in [Fix Overpowered Skills - Issue #3029](https://github.com/HabitRPG/habitrpg/issues/3029#issuecomment-68128382), we are rebalancing many skills. This issue is specifically for Ethereal Surge (`Ethereal Surge`). [Current skill is defined here](https://github.com/HabitRPG/habitrpg-shared/blob/7fd4cebbdc531b6875fb0fbb687b89b66362ee67/script/content.coffee#L466).
#### Requirements:
- [x

[2014-12-26 06:17] Alys opened #4415 "Earthquake ('earth') Skill Rebalancing (for 'rebalancing-2014-12' feature branch)"
As described in [Fix Overpowered Skills - Issue #3029](https://github.com/HabitRPG/habitrpg/issues/3029#issuecomment-68128382), we are rebalancing many skills. This issue is specifically for Earthquake (`earth`). [Current skill is defined here](https://github.com/HabitRPG/habitrpg-shared/blob/7fd4cebbdc531b6875fb0fbb687b89b66362ee67/script/content.coffee#L478).
#### Requirements:
- [x] Add diminis

[2014-12-26 06:24] Alys opened #4416 "Tools of the Trade ('toolsOfTrade') Skill Rebalancing (for 'rebalancing-2014-12' feature branch)"
As described in [Fix Overpowered Skills - Issue #3029](https://github.com/HabitRPG/habitrpg/issues/3029#issuecomment-68128382), we are rebalancing many skills. This issue is specifically for Tools of the Trade (`toolsOfTrade`). [Current skill is defined here](https://github.com/HabitRPG/habitrpg-shared/blob/7fd4cebbdc531b6875fb0fbb687b89b66362ee67/script/content.coffee#L561).
#### Requirements:
-

[2014-12-26 06:30] Alys opened #4417 "Defensive Stance ('defensiveStance') Skill Rebalancing (for 'rebalancing-2014-12' feature branch) [$50 awarded]"
As described in [Fix Overpowered Skills - Issue #3029](https://github.com/HabitRPG/habitrpg/issues/3029#issuecomment-68128382), we are rebalancing many skills. This issue is specifically for Defensive Stance (`defensiveStance`). [Current skill is defined here](https://github.com/HabitRPG/habitrpg-shared/blob/7fd4cebbdc531b6875fb0fbb687b89b66362ee67/script/content.coffee#L508).
#### Requirements:
-

[2014-12-26 06:35] Alys opened #4418 "Valorous Presence ('valorousPresence') Skill Rebalancing (for 'rebalancing-2014-12' feature branch)"
As described in [Fix Overpowered Skills - Issue #3029](https://github.com/HabitRPG/habitrpg/issues/3029#issuecomment-68128382), we are rebalancing many skills. This issue is specifically for Valorous Presence (`valorousPresence`). [Current skill is defined here](https://github.com/HabitRPG/habitrpg-shared/blob/7fd4cebbdc531b6875fb0fbb687b89b66362ee67/script/content.coffee#L517).
#### Requirements:

[2014-12-26 06:39] Alys opened #4419 "Intimidating Gaze ('intimidate') Skill Rebalancing (for 'rebalancing-2014-12' feature branch) [$25 awarded]"
As described in [Fix Overpowered Skills - Issue #3029](https://github.com/HabitRPG/habitrpg/issues/3029#issuecomment-68128382), we are rebalancing many skills. This issue is specifically for Intimidating Gaze (`intimidate`). [Current skill is defined here](https://github.com/HabitRPG/habitrpg-shared/blob/7fd4cebbdc531b6875fb0fbb687b89b66362ee67/script/content.coffee#L527).
#### Requirements:
- [x]

[2014-12-26 06:50] ghost commented on #4405
within the `<menu label="Food and Saddles (0)"...>...<p ng-show="foodCount < 1" class="muted">You don't have any food or saddles.</p>...</menu>`

[2014-12-26 07:23] Alys commented on #3029
## Technical Summary of All Changes

Below is a framework for recording what we have done. It contains our requirements (approved by Lemoness), the changes made, links to individual issues for further work on specific skills, and checkbox items for small changes that aren't worth their own issue.

### Task changes
- [x] Dailies give MP at the same rate as To-Dos (merged PR https://github.com/Habit

[2014-12-26 07:43] Alys commented on #4405
@viejOMs That seems reasonable. Would you like to have a go at coding it on a local install and submitting a pull request? I believe the file to be edited is `views/options/inventory/inventory.jade` (note that it's Jade not raw HTML so the fix won't be exactly as you describe but the class you've found sounds like it'll be the right one). Feel free to ask questions if you get stuck at any point! A

[2014-12-26 13:53] Memry opened #4420 "Can't cancel monthly subscription to buy block subscription"
I tried to cancel my monthly subscription (which I purchased with a gift card and think the gift card ran out) and I wanted to purchase the 12-month block subscription.  When I try to cancel, I only get a {"err":"Cannot read property 'current_period_end' of null"} message.  Please assist.

_edit by admin:_
## What to do if you experience this bug:

**Add a comment here. Include your Unique User ID

[2014-12-26 14:03] Alys commented on #4420
Please tell us your unique user ID. You can see instructions for finding it here: https://github.com/HabitRPG/habitrpg/issues/2760 (if you need to find it again in future, Help -> Report a Bug will take you there).

[2014-12-26 16:33] HSalgo commented on #4332
Any updates? Otherwise, I will wait until January to see what's changed, and then I might contact you about that refund.

[2014-12-26 16:44] crookedneighbor commented on #4403
@Alys Are you sure the contributor notes are private?

I was checking on another issue, and used the /static/api page to check the [member details](https://habitrpg.com/static/api#!/members/members_uuid_GET), and was able to see the contributor notes for another user.

[2014-12-26 17:27] crescentgaia opened #4421 "Unable to Delete Habit"
Hello:

I created a habit - Finish a Chapter - and I realized today that it really should be a daily.  However, when I go to delete the habit, I find that I am unable to.  Is there something wrong with my account?  My user ID is 1da1b9db-5c32-4264-bdff-4f496a115e9a and I'd really like some help.

Thank you!

[2014-12-26 18:31] crescentgaia commented on #4421
Nevermind - turns out that it was a community habit.  I thought I created it myself.

[2014-12-26 18:31] #4421 closed, assigned to nobody

[2014-12-26 19:20] Alys commented on #4403
The contributor notes aren't meant to be private. Anyone can see the items that you've earned tiers for.

[2014-12-26 19:27] crookedneighbor commented on #4403
Ahh, I just misunderstood what you were saying earlier. My mistake.

[2014-12-26 21:55] helloimtina commented on #4116
Hi,
I've had this problem as well when I would check off items whilst I was offline and then manually sync afterwards when I was online.
If you've done this as well, I'm pretty sure it's because the app isn't offline-compatible.

[2014-12-27 02:17] andyzinsser commented on #4405
I'll take this one to use as my first contribution to this project. Should have a PR for you tonight.

[2014-12-27 02:27] Alys commented on #4405
@andyzinsser : I think viejOMs has already started looking into this. If they don't want to proceed with it, then we'd love to have your PR, but first please give them a couple of days to respond. If you'd like some other easy jobs to choose from, there's several marked with the [entry level tag](https://github.com/HabitRPG/habitrpg/labels/entry%20level%20coding%20%28text%20etc.%29).

[2014-12-27 02:29] #4296 closed, assigned to nobody

[2014-12-27 02:38] andyzinsser commented on #4405
Apologies @Alys and @viejOMs, I jumped the gun and just submitted [PR #4423](https://github.com/HabitRPG/habitrpg/pull/4423).

I'll take a stab at some of the other issues later.

[2014-12-27 02:43] Alys commented on #3593
#### Attention newbie programmers. Here's a summary of the requirements above:

We need someone to modify the text for "whyAdsContent1". Currently it says, _"Habit is an open source project, and can use all the help it can get - consider this a donation to the contributors. You also get 20 Gems from the purchase, which you can use to buy special items."_ The required fix is to remove the first com

[2014-12-27 02:48] crookedneighbor commented on #4405
Whoops. I just merged it in. Didn't realize there were two people working on this.

[2014-12-27 02:48] #4405 closed, assigned to nobody

[2014-12-27 02:57] Alys commented on #2540
The work required for this was done some time ago, but due to commit issues it's not able to be easily merged. This issue can probably be fixed by duplicating these two changes in a new pull request:

https://github.com/Sinza-/habitrpg/commit/f19f258ad09bc792a5b7c3c9f52b035eabd2d1e4
https://github.com/Sinza-/habitrpg/commit/b0eb9251969b79a679e19f107cf6a1c00d2701f3

@Sinza- Would you like to work o

[2014-12-27 03:00] crookedneighbor commented on #3593
I'd say use an [em dash](http://www.thepunctuationguide.com/em-dash.html) instead of a hyphen.

[2014-12-27 03:02] Alys commented on #3593
Ha. Never mind. That text string is no longer in use on the site. I'll do a search for other strings that can be deleted and get them all removed together.

[2014-12-27 03:02] #3593 closed, assigned to nobody

[2014-12-27 03:06] crookedneighbor commented on #2540
I took @Sinza- 's change and merged it in. @Sinza- should definitely get credit for it, I just copied and pasted.

[2014-12-27 03:06] #2540 closed, assigned to nobody

[2014-12-27 06:02] Memry commented on #4420
My user ID is e495bd8b-f2f1-48e8-8f5f-9a52710999cf

On Fri, Dec 26, 2014 at 6:03 AM, Alice Harris notifications@github.com
wrote:

[2014-12-27 06:12] Alys opened #4424 "No description for Ski-sassin Parka in Equipment and Seasonal Shop pages"
[As discovered by @goldfndr](https://github.com/HabitRPG/habitrpg-shared/issues/415), the Ski-sassin Parka is on display in the Seasonal Shop (and on the normal Equipment page if you own that item) but it doesn't have the expected +15 PER description.

This would be a good task for a new programmer! Hint: armorSpecialSkiText in a script in the habitrpg-shared repository. Post here if you'd like to

[2014-12-27 06:53] Alys commented on #4420
Can you tell us exactly what point in the process you get that message? It would probably help if you could describe step-by-step what you did (e.g., went to Settings -> Subscription, clicked on "Cancel Subscription" button, .... ) up until the point where the error occurred. Please also drag-and-drop a screenshot of the error into a comment here. Also tell us which browser you're using and which

[2014-12-27 08:54] Alys opened #4425 "Private Message (PM / DM) textbox is too small"
For private messages, I'm finding the text box to be smaller than convenient for typing more than a sentence. I think it could be made at least four or five times longer - unless anyone can think of a reason not to?

This would probably be a good job for a relatively new programmer since it should be a simple change.

[2014-12-27 08:55] deilann commented on #4425
Is longer the issue? Maybe it should be made fatter, too.

On Sat, Dec 27, 2014 at 12:54 AM, Alice Harris notifications@github.com
wrote:

[2014-12-27 09:20] betaveros commented on #3029
Um, I'm not sure where to still comment on Backstab, but I still think it's kind of strange to entirely use STR and not PER in its calculation when Rogues' primary attribute is PER (I think I said this somewhere but I have no idea where). Using PER to determine main bonus value and STR to determine crit would make more sense to me. Is this desired?

[2014-12-27 09:28] Alys commented on #3029
@betaveros Here is good for commenting on Backstab since it doesn't have its own issue. There's a summary of the discussion so far in this comment: https://github.com/HabitRPG/habitrpg/issues/3029#issuecomment-66394498

Possibly that one Rogue skill uses STR because that's the Rogue's secondary attribute, and all the other Rogue skills use the primary attribute. I have no opinion about whether we

[2014-12-27 09:44] Sporax commented on #4424
I'd like to work on it, I'm new to contributing and would love to give it a shot.

[2014-12-27 09:51] Alys commented on #4424
Fantastic, thank you!

You'll find some useful information in [Guidance for Blacksmiths](http://habitrpg.wikia.com/wiki/Guidance_for_Blacksmiths) and [Setting up HabitRPG locally](http://habitrpg.wikia.com/wiki/Setting_up_HabitRPG_locally), and ask here for help if you need it!

[2014-12-27 12:11] paglias opened #4426 "Tracking Cron Errors"
We're getting a lot of `VersionError: No matching document found.` happening inside [api.cron](https://github.com/HabitRPG/habitrpg/blob/develop/src/controllers/user.js#L259) with a stack trace similar to this one:

[code]

which isn't exactly helpful. It's happening inside a mongoose's `.save()` function but that could be either a group or the user itself.

I hope [this](https://github.com/HabitR

[2014-12-27 12:55] Sporax commented on #4424
So I started the setup and I'm a little confused at step 3 of setting up HabitRPG locally: it says to update SMTP user and password and I'm not sure about what to put there.

[2014-12-27 14:49] Memry commented on #4420
OS: Windows 7
Browser: Chrome

I clicked on the gem icon.  In the popup box I selected "Cancel
Subscription".  A popup box asked me to confirm.  When I confirmed, the
error message came up.  I have attached the screenshot of the error message.

I tried the same thing going to Settings, Subscription, and selecting
"Cancel Subscription" from the screen.  Same result.

On Fri, Dec 26, 2014 at 10:53 P

[2014-12-27 15:09] crookedneighbor commented on #4420
@Memry Github won't displsy images attached to an emsil. Would you mind visiting this issue in a web browser and re-uploading the screenshot?

[2014-12-27 15:11] crookedneighbor commented on #4424
@Sporax i think those instructions are a might bit misleading. Email only works when the environment is set to production, so you can safely ignore that step for now.

[2014-12-27 15:42] crookedneighbor commented on #4425
All it really needs is a rows attribute on the textarea element. I like 5 rows:

![screen](https://cloud.githubusercontent.com/assets/2916945/5561672/a1607a40-8dac-11e4-9ef1-1d0360599088.png)

[2014-12-27 15:44] crookedneighbor commented on #4425
Also, most browsers, including Chrome, allow you to resize the text area:

![screenresize](https://cloud.githubusercontent.com/assets/2916945/5561676/dd340b04-8dac-11e4-81d6-a241d14f4a24.png)

So I think adding `rows="5"` is a good default, and if people needs to expand it they can.

[2014-12-27 15:48] TwasBrillig1 opened #4427 "No "Leave" buttons on Public Guilds list -- "Join" button is displayed instead"
On the public guild page, all the buttons on the right side of the page are the green "Join" button, even for guilds in which I'm currently a member. Example:

![image](https://cloud.githubusercontent.com/assets/6257190/5561655/dd90e782-8db3-11e4-8ffa-1b839af099a8.png)

Clicking the Join button for one of the already-joined guilds seems to only bring me to the guild's page, where the Leave button

[2014-12-27 15:48] crookedneighbor commented on #4424
Actually, if I remember correctly, Vagrant might bark at you if you leave them as the default values. So if you're using Vagrant, just change the username and password values to anything but the default. If you have a gmail account, your smtp settings would look like this:

[code]

SMTP is a protocol for sending emails, but like I said, the system shouldn't have to make use of that if your config

[2014-12-27 15:53] Sporax commented on #4424
Ok thanks, I filled it up anyway with email details earlier. Just wanted to make sure about that. I have another question: I set up a local HabitRPG, but can't login as it says either the username or password is incorrect, even though my credentials are correct (I tried many times)

[2014-12-27 16:01] crookedneighbor commented on #4424
The database you're using in your local install is going to be different from the one used on the site, so you'll have to create a new user.

This will be useful, because you can manipulate and test things without affecting your real user.

[2014-12-27 17:32] lefnire commented on #4425
And if we need it wider, simply use `size:'lg'` in modal-opening options (see https://github.com/HabitRPG/habitrpg/blob/develop/public/js/controllers/rootCtrl.js#L122)

[2014-12-27 17:53] Alys commented on #4427
Confirmed on Chrome and Firefox, Mac OS

[2014-12-27 17:57] SabreCat opened #4429 "Improve performance of Seasonal Shop"
Posting this on behalf of @negue, who mentioned it in a chat session.

"could you extract the ng-repeat source to a prefilled scope variable? , because on each $digest / $apply of angular the filters will be executed, and we have a lot items in gear.flat ^^"

This is in reference to https://github.com/HabitRPG/habitrpg/blob/develop/views/options/inventory/inventory.jade#L35.

[2014-12-27 18:03] crookedneighbor commented on #4425
Personally, I think it's a good width. I agree that the height is too small.

[2014-12-27 19:14] ghost commented on #4317
UUID: 28771972-ca6d-4c03-8261-e1734aa7d21d  Cron is set to 8am, I'm on central time.

Last night (which I am pretty sure was a perfect day), checked off all dailies, last few a little after 2 a.m., refreshed page to check they're okay (because my connection stability is shockingly poor), put computer to sleep and headed to bed.
This morning, ~10 a.m., briefly open habit in my mobile browser withou

[2014-12-27 20:03] ghost commented on #4405
oh, well, next time!

[2014-12-27 21:26] beffymaroo opened #4430 "To-Do Checklist- Hitting "enter" opens a new field, but does not move the cursor with it"
This is a pretty minor annoyance, but worth mentioning, I thought:

The new To-Do Checklist formatting I'm seeing looks pretty slick, so props on that. But when I hit "Enter" to add a new item to the list, it opens a new field to type, but my cursor stays in the previous field. So unless I click the next field, I end up typing "SweepMop" instead of making two separate items that say "Sweep" and "M

[2014-12-27 21:38] Alys commented on #4430
Probably related to this direct commit: https://github.com/HabitRPG/habitrpg/commit/118ba88d3ddfaadb4d72952c8f83263d7a48586c

[2014-12-27 21:52] Sporax commented on #4424
Alright, I fixed it in the local HabitRPG, the only change was for notes:armorSpecialSkiText to be changed to notes:armorSpecialSkiNotes for ski under the habitrpg-shared.js file; it gives a description to the armor now. What should I do next? Do I need to upload the file?

[2014-12-27 21:54] Sporax commented on #4424
![screen shot 2014-12-28 at 3 23 50 am](https://cloud.githubusercontent.com/assets/10322112/5562427/07b401d8-8e41-11e4-86a4-f8f413247bc1.png)

[2014-12-27 22:01] Alys commented on #4424
The habitrpg-shared.js file is actually a compiled file and shouldn't be edited manually (your changes would be overwritten when it was compiled on the server). If you grep through that repo for armorSpecialSkiText, you'll see the file that habitrpg-shared.js is compiled from.

For compiling, look through http://habitrpg.wikia.com/wiki/Setting_up_HabitRPG_locally and http://habitrpg.wikia.com/wiki

[2014-12-27 22:21] Alys commented on #4317
To all the people who have experienced this bug: Has this bug ever happened on days when you used ONLY the website? I.e., did it happen after days when you never used the mobile app?

[2014-12-27 22:27] #4429 closed, assigned to nobody

[2014-12-27 22:27] ghost commented on #4317
Well, to clarify slightly, when I was on mobile today, that was not the app, it was the mobile browser (the default one with my phone (android), is not chrome, is just labelled "internet"). I did not use the app today or yesterday. I probably loaded the mobile site yesterday, since it's my mobile browser homepage, but don't recall if I actually"used it"-used it.

[2014-12-27 22:33] Sporax commented on #4424
I used grep on the repository and came up with a file public/bower_components/habitrpg-shared/script/content.coffee I assume this is the file that habitrpg-shared.js is compiled from. I don't have any apps that can edit this file format, is there something I'm doing wrong?

[2014-12-27 22:55] crookedneighbor commented on #4424
`.coffee` is for CoffeeScript. It should just be a text file, so it should open in most text editors. What text editors are you using?

[2014-12-27 23:00] Alys commented on #4424
The bower_components directory is also one that you shouldn't edit because those files are copied (or better, symlinked) from the habitrpg-shared repository. Do you have a local copy of that repo as well as the main habitrpg repo? It's important to have both. See the section "Work with habitrpg-shared" in http://habitrpg.wikia.com/wiki/Guidance_for_Blacksmiths - it's usually worth going through al

[2014-12-27 23:35] andyzinsser commented on #4396
I'll take a stab at this one.

[2014-12-28 01:07] flutterbye commented on #4317
I've never used anything but the website.  No problems since my last post
btw :)

On 27 December 2014 at 22:28, Cantras notifications@github.com wrote:

[2014-12-28 01:33] Alys commented on #4317
To all the people who have experienced this bug: You don't need to reply now about whether you were using the website or mobile app. @flutterbye and @Cantras have blown my theory out of the water. :)

@flutterbye It's great to hear that it hasn't happened recently for you! Are you aware of anything that might have changed at your end when the problem stopped? Perhaps you started using a new browse

[2014-12-28 01:55] andyzinsser commented on #4396
Just submitted PR #4431

[2014-12-28 02:07] #4396 closed, assigned to nobody

[2014-12-28 06:15] Sporax commented on #4424
@crookedneighbor I have Text Wrangler and the default text editors that mac comes with.

[2014-12-28 06:18] Sporax commented on #4424
@Alys I do have a local copy of both the shared repo and the habitrpg repo. I also read all of Guidance for Blacksmiths and Setting up HabitRPG locally. I followed the instructions in Work with habitrpg-shared, but I'm confused about what it really does and what I'm supposed to edit to change the description of the parka without editing either the habitrpg-shared.js file or the bower_components di

[2014-12-28 06:18] Alys opened #4432 "API changes aren't visible enough to third-party developers/partners"
Recently, a change was made to HabitRPG's API that caused the Beeminder-HabitRPG integration to break (users were unable to make new HabitRPG goals in Beeminder). Beeminder staff have already fixed the problem so we don't need to investigate or change anything at our end, but this highlights the need to make API changes very obvious (ideally in advance) to third party developers. It's for HabitRPG

[2014-12-28 06:32] Alys commented on #4424
No worries. :)  The habitrpg-shared repo should be in your local install under `habitrpg/node_modules/habitrpg-shared`,  where `habitrpg/` is the root directory for the main [habitrpg](https://github.com/HabitRPG/habitrp) repo.

Under `habitrpg/node_modules/habitrpg-shared`, you'll see a `script` directory containing index.coffee and content.coffee. Both of those are important files and are the on

[2014-12-28 06:42] Memry commented on #4420
[image: Inline image 1]

On Sat, Dec 27, 2014 at 7:09 AM, Blade Barringer notifications@github.com
wrote:

[2014-12-28 06:43] Alys commented on #4420
Memry, that image still hasn't worked. When you drag the image into a comment here, you can Preview before submitting to make sure it's appearing correctly.

[2014-12-28 07:11] okuegow opened #4433 "German translation issue"
Your German translation of "morning" or "in the morning" needs to be fixed:
The spelling of the word "morgends" is wrong, correct would be "morgens".

[2014-12-28 07:33] Alys commented on #4433
Thank you!

Are you interested in helping with the translations? If so, have a look at [Guidance for Linguists](http://habitrpg.wikia.com/wiki/Guidance_for_Linguists). If not, we can get another translator to fix this.

[2014-12-28 11:41] Sporax commented on #4424
Thanks that cleared it up. I also realize that I hadn't previously forked the habitrpg-shared repo.
I did the fix in `/habitrpg/node_modules/habitrpg-shared/script.coffee`, I also compiled it although when I went to localhost:3000 in chrome (as usual) the page doesn't load (it's just a white screen)

[2014-12-28 15:13] Sporax commented on #4424
There is a problem while compiling the local HabitRPG. When I use the command `npm start` then the console says `module.js:340 throw err`. Is there any way to reset the local HabitRPG? I tried by deleting the `habitrpg` folder and reinstalling using the instructions on the Blacksmith and setting up locally page, but keep coming up with the same problem. Can anyone help me here?

[2014-12-28 15:50] crookedneighbor commented on #4424
Can you post the full error?

[2014-12-28 16:35] Sporax commented on #4424
![screen shot 2014-12-28 at 10 03 21 pm](https://cloud.githubusercontent.com/assets/10322112/5564335/7ad956bc-8edd-11e4-8e25-fca4ed1376da.png)
This has repeated itself for the last few hours

[2014-12-28 17:05] crookedneighbor commented on #4424
Can you check your node_modules folder and make sure the pageres directory exists? If it does not, run `npm install` again. If it does, delete it and run `npm install`.

[2014-12-28 17:30] zuchinno commented on #4317
Hello! I'd mentioned I was having the same or similar problem. I was wondering how many people experiencing this issue have their days set to end some other time than midnight...
I had set mine to 3AM because I'm a night owl and I feel good checking everything off at the end of the day.
Anyway, I realized that the issues started after I moved my time to 3AM in the settings. I looked back and saw t

[2014-12-28 17:44] ghost commented on #4317
I'd seen mention of custom day start in another thread (I believe about a double-cronning bug, but I can't find it now), which is why I mentioned mine and the times I checked off dailies.  I changed my day start my very first day in habitica, 8 months ago.
When you say that it's a "manual reload for dailies", is it possible it just ran your cron? I know that if you change your CDS too close to cro

[2014-12-28 20:11] flutterbye commented on #4317
No changes to my PC.. I try to make sure the site is closed at midnight as
I was logged in most times it happened.  The only other thing that's been
different is I haven't greyed any dailies out recently.  My account isn't
very old, a few months at most, don't know if it's possible it's newer
accounts having the problem?

On 28 December 2014 at 01:33, Alice Harris notifications@github.com wrote:

[2014-12-28 20:53] SabreCat opened #4434 "Inconsistent alignment of Gem prices in Seasonal Shop"
In the Seasonal Shop, the Gem costs for Quests don't line up the same way the costs for gear pieces do:

![2014-12-28 14_50_07-habitrpg _ your life the role playing game](https://cloud.githubusercontent.com/assets/4501321/5564950/0bb3f486-8ea1-11e4-9bae-b1bf873340f6.png)

Should be a simple Jade fix: find a style that will work for these elements and apply it in both places in `inventory.jade`. Th

[2014-12-29 01:16] Yuubou opened #4435 "Need Quest Cancelled/Started"
A party member invited us to a quest and hasn't started it after 2 weeks (we have a couple of people in the inn, so it won't start automatically).  I think the party member checks Habit from his phone, so maybe he isn't seeing our party messages/PMs.

Could someone help us by either starting the quest or cancelling it for us?

User ID:
7846c2cc-400d-4aff-b1ad-40ee3d68305c

Group ID:
67298e51-99d7-

[2014-12-29 02:02] Memry commented on #4420
It was appearing correctly in the email reply.  Is there somewhere else I'm
supposed to be?

On Sat, Dec 27, 2014 at 10:43 PM, Alice Harris notifications@github.com
wrote:

[2014-12-29 02:16] Alys commented on #4420
Please visit this issue in a web browser and drag the image into a comment here. As @crookedneighbor explained, GitHub won't display images attached to an email (and an inline image in an email is still an attached image).

[2014-12-29 02:24] Alys commented on #4435
Starting or cancelling quests isn't something that an admin would typically do because we can't be sure that all party members would want us to do that. In particular, we would ideally want permission from the person who owns the quest scroll since they probably paid gems (real money, effectively) for it. It would also require direct database manipulation which always carries at least a small risk

[2014-12-29 02:58] Memry commented on #4420
Here is where?  I'm getting all these notifications via email.

On Sun, Dec 28, 2014 at 6:16 PM, Alice Harris notifications@github.com
wrote:

[2014-12-29 03:01] Memry commented on #4420
Ah! Here is here.  Now I've found you.  Sorry.  I was confused. Here you are.

![memry](https://cloud.githubusercontent.com/assets/1495809/5566079/8fc06652-8f63-11e4-9c81-b3a7c4ca96c8.jpg)

[2014-12-29 03:29] crookedneighbor commented on #4420
Just edited out the image, didn't realize that it'd display an API token. I assume that API token was for Memry's user, if it was not, and it was for stripe instead, I'm not sure why we're exposing an api token for stripe that a user can see in the url.

Once this is sorted out, we'll want to issue you a new API token.

[2014-12-29 03:30] crookedneighbor commented on #4420
ping @lefnire

[2014-12-29 04:02] Alys commented on #4420
@Memry, I've assigned a new API Token to you. If you were using your UUID and API Token in any third-party applications, you will need to get the new token from HabitRPG's Settings -> API screen.

Blade, it was Memry's token.

I've put the image back into Memry's comment.

Memry, in your Chrome browser, please reload whatever HabitRPG page you are on. Then open the JavaScript console by doing Cont

[2014-12-29 04:04] melissamcewen opened #4436 "How do you keep node_modules like HabitRPG Shared up to date on local development environment"
I have a local development environment set up and I know how to rebase, but what about the things living in node_modules? How do I keep this up to date?

[2014-12-29 04:07] dreeves commented on #4432
Beautifully said, Alys! It's also possible we were doing something dumb with the API we never should've depended on. So maybe more important than visibility of changes is better documentation? Either way, it was no big deal. The first user who ran into the problem let us know and Alice Monday fixed it the same day!

[2014-12-29 04:25] Yuubou commented on #4435
Thanks, I'm the party leader, so I'll use that solution in the future.  I'm not sure if it was our quest owner or someone here, but the quest started, so you can close this ticket.  Thanks for your help.

[2014-12-29 04:28] Alys commented on #4436
Firstly, it's important that you follow the instructions in "Work with habitrpg-shared" in http://habitrpg.wikia.com/wiki/Guidance_for_Blacksmiths . That will put your local habitrpg-shared repository in the correct location under node_modules, and will ensure that when you update it, then all the changes will be automatically applied to the correct locations.

Keeping it updated with the latest c

[2014-12-29 04:28] #4435 closed, assigned to nobody

[2014-12-29 04:29] Alys commented on #4435
It was almost certainly the quest owner.

Thanks for letting us know!

[2014-12-29 04:53] melissamcewen commented on #4436
Thanks!

[2014-12-29 04:53] #4436 closed, assigned to nobody

[2014-12-29 05:38] melissamcewen commented on #4434
I'm not sure I did this right, but I worked on this and created a pull request
https://github.com/HabitRPG/habitrpg/pull/4437
Let me know

[2014-12-29 06:02] melissamcewen commented on #4425
Oops I just committed something for this, but it looks like it's in the same pull request as the other thing I was working on
https://github.com/HabitRPG/habitrpg/pull/4437
is there a way to prevent this? Should I be creating new branches?

[2014-12-29 06:18] Alys commented on #4425
Almost everybody makes that mistake in the beginning, including me. :)

Yes, it's a very good idea to create a new branch locally for every separate change you do, and then when you push to your repo on github, you push to a branch of the same name as your local one. This means you can have many different changes going at once with no conflicts.

Here's how I do it (from memory, so I hope there's

[2014-12-29 09:13] Sporax commented on #4424
I'm still getting an error:
![screen shot 2014-12-29 at 2 40 46 pm](https://cloud.githubusercontent.com/assets/10322112/5567346/cec3bd40-8f68-11e4-92e4-1fa63859bd55.png)
Sorry about this, I seem to have blundered a simple task...

[2014-12-29 09:25] Alys commented on #4424
That's okay, sometimes local installs just go wildly wrong. :)

In my experience, it's usually faster and more reliable to delete everything and start again completely from scratch. I know that might seem overwhelming, but we could fix this current problem, and then find another one, and then another... Starting from scratch can avoid a lot of pain.

So, what I recommend is, delete your habitrpg d

[2014-12-29 10:56] deilann commented on #2454
Please email admin@habitrpg.com about this, along with your transaction ID
number.

On Mon, Dec 29, 2014 at 2:52 AM, yaelirt notifications@github.com wrote:

[2014-12-29 11:03] deilann commented on #2454
Please email admin@habitrpg.com about it. They'll need your transaction ID
as well.

On Mon, Dec 29, 2014 at 3:02 AM, yaelirt notifications@github.com wrote:

[2014-12-29 11:40] paglias commented on #4426
From the commit https://github.com/HabitRPG/habitrpg/commit/85f4a2884a077943ac87d065f2ee26aa521e851c it seems that error happens both when saving the user or running quest updates

[2014-12-29 12:11] Memry commented on #4420
This is the image of what came up.  There was nothing in the console.  I
did edit the url to remove my token this time.  (I hadn't read it to
realize it included my token before, either.  Thanks for noticing and
changing it before).  Please note that I seem to be having some problems
with habit this morning.  It has been telling me "no user found" since late
last night (about 7 hours ago).  That w

[2014-12-29 12:14] Memry commented on #4420
Ooops, working in the wrong screen.  Adding the two images here.
First try:
![image](https://cloud.githubusercontent.com/assets/7385423/5568477/fc4ca590-8f10-11e4-8939-540264e1bc9f.png)
Second try:
![image](https://cloud.githubusercontent.com/assets/7385423/5568479/0d7c16ac-8f11-11e4-89ea-88bd2a9f1fb6.png)

[2014-12-29 12:14] deilann commented on #4420
You're attaching the images via email again, so none of us can see them.

On Mon, Dec 29, 2014 at 4:12 AM, Memry notifications@github.com wrote:

[2014-12-29 12:16] Memry commented on #4420
Fixed the image already.  Sorry. The two screens are very similar in appearance, my email and github.  My bad.

[2014-12-29 14:46] ghost commented on #2653
Any update on this issue?

[2014-12-29 16:22] crookedneighbor commented on #2653
I saw [this PR](https://github.com/HabitRPG/habitrpg/pull/4422) was posted a little while ago. Havne't had a chance to check it out though. Will do so this week.

[2014-12-29 17:09] Sporax commented on #4424
I deleted and reinstalled using the Unix install instructions, but errors keep coming up when I run the `npm start` command: here is the full log
![screen shot 2014-12-29 at 10 37 04 pm](https://cloud.githubusercontent.com/assets/10322112/5570666/78dfe618-8fab-11e4-825f-e6ee06e9b86a.png)

[2014-12-29 17:25] Alys commented on #4424
I suspect that something has failed on this step: "11. Ensure that Mongo is running". Were there any error messages or warnings when you started it?

[2014-12-29 17:38] crookedneighbor commented on #4424
That is exactly the error I get when I forget to start the `mongod` process first in a separate window.

![screen shot 2014-12-29 at 11 37 12 am](https://cloud.githubusercontent.com/assets/2916945/5570937/0b515c1e-8f4f-11e4-94e0-0354acc5b6d5.png)

[2014-12-29 17:44] Sporax commented on #4424
I tried again with `mongod` in a separate window, but the errors are still there. Do you need to use                 `mongo habitrpg` and `show collections` in a separate window before using `mongod` as well? And does `mongod` have to be used in the `habitrpg/` directory?

[2014-12-29 17:52] taldin commented on #4424
Have you recompiled the habitrpg-shared directory since you made the change?   You're on Mac, looks like, so I don't know if that's the problem, but when I run into that on Windows, it means I forgot to run grunt on the habitrpg-shared module.

[2014-12-29 18:04] Alys commented on #4424
`mongo habitrpg` and `show collections` are just for use if you want to manipulate the database data or check that the database has been set up correctly. They're not necessary before you start HabitRPG for the first time (and in fact they probably won't work since I think the database wouldn't have been created yet). When you run `mongod` are there any errors?

Note that mongod is the database se

[2014-12-29 18:12] crookedneighbor commented on #4424
Yeah, we need to make a distinction between `mongo` (no d) which is the shell interface for interacting with the database directly, and `mongod` that is the database server. It's possible you've started `mongo` in another window instead of `mongod`.

[2014-12-29 18:15] Sporax commented on #4424
There aren't any errors while running `mongod`, though when I run `npm start` then this happens at the same time as the errors:

I'm using `mongod` in a separate window, not confusing it with `mongo`. I had thought that you needed to use `mongo` in a separate window as well as `mongod`, but that's been clarified now.

[2014-12-29 18:18] kangabell commented on #4399
@crookedneighbor Currently when you hover over the MP area to select the skill, it changes from a blue to a yellow-ish color. I'd suggest that after selecting, that area remains yellow-ish.

[2014-12-29 19:09] kangabell commented on #3705
This is how Firefox handles the HTML5 "required" attribute. Since those fields have the attribute "required", the browser adds that message on hover. To my knowledge there is no way to remove it (as long as the field is "required"), but with some javascript the message copy can be modified. See: http://stackoverflow.com/questions/13798313/set-custom-html5-required-field-validation-message

[2014-12-29 19:25] kangabell commented on #3398
@SabreCat Are you still seeing this issue? I can't reproduce it. Using latest Chrome, v 39.0.2171.95, on OSX.

[2014-12-29 19:45] crookedneighbor commented on #4403
@Alys Your comment in G+ gave me an idea.

If a regular user clicks the flag button, an optional text box appears for the user to give an explanation of why they are flagging it.

If a mod flags it, the optional text box, if filled, will post a message. This should make it easier to flag and then notify the user that their comment was flagged. It could send a pm instead, if preferred.

Alternative

[2014-12-29 19:49] crookedneighbor commented on #4391
@caters12 Any news on this?

[2014-12-29 19:51] crookedneighbor commented on #4338
@lefnire I assume this would need to be adjusted via Habit's strip account?

[2014-12-29 19:52] crookedneighbor commented on #4335
@lemoness Do you have a preference for how you want it to work?

[2014-12-29 19:53] taldin commented on #4424
Actually, wait, hang on.  If you're using Vagrant, have you been destroying old copies (vagrant halt)?   That can cause those error messages too.

[2014-12-29 19:57] Sporax commented on #4424
I have been destroying the old copies using virtialbox for what I started with vagrant, I didn't use a vagrant halt command.

[2014-12-29 19:57] lemoness commented on #4335
Sad as it is, I think the most recent cast should replace the older one -
as we add more of these, it will get more and more cluttered.

On Monday, December 29, 2014, Blade Barringer notifications@github.com
wrote:

[2014-12-29 20:04] crookedneighbor commented on #4400
@lemoness do you have a decision for this? Do you want it `old_year-new_year`, `old_year`, `new_year` or something completely different?

We have two PRs pending using the `new_year` version.

[2014-12-29 20:26] Alys commented on #4424
Sporax, are you using the [Vagrant instructions](http://habitrpg.wikia.com/wiki/Setting_up_HabitRPG_locally#Vagrant) or the [Unix instructions](http://habitrpg.wikia.com/wiki/Setting_up_HabitRPG_locally#Unix) in Setting up HabitRPG locally? If you're using a Vagrant VM for HabitRPG development, you definitely should not be following the Unix instructions as well, and all of your commands such as `

[2014-12-29 20:27] paglias commented on #2653
@mxp with the next deployment you'll have a new option in the settings allowing you to choose the preferred date format.

For future enhancement we could detect this on signup like we do with the language but for now is enough

[2014-12-29 20:27] #4355 closed, assigned to nobody

[2014-12-29 20:27] crookedneighbor commented on #4335
Is there a better way to do this than to write a function to clear visual buffs and add it above [this line](https://github.com/HabitRPG/habitrpg-shared/blob/6c8f9e39b63d4a4475458b7a010b137fcb3820b5/script/content.coffee#L656), and [this line](https://github.com/HabitRPG/habitrpg-shared/blob/6c8f9e39b63d4a4475458b7a010b137fcb3820b5/script/content.coffee#L678) and then just encorporate that into an

[2014-12-29 20:29] paglias commented on #2653
Oh I see this asked for YYYY-MM-DD not dd-mm-yyyy

[2014-12-29 20:55] crookedneighbor commented on #2653
@paglias I think it suggested YYYY-MM-DD as a universal, everyone can agree on this format. Allowing the user to choose between two more common formats is a good compromise I think. And it shouldn't be hard to add in YYY-MM-DD as an option, right?

[2014-12-29 21:11] crookedneighbor commented on #4335
I [worked this up](https://github.com/crookedneighbor/habitrpg-shared/blob/fix-item-spells/script/content.coffee#L648-L686).

Here is the important part:

[code]

And then it gets called like this:

[code]

Can someone who is more familiar with the api and CoffeeScript confirm that is is a good way to do it and not super janky? It compiled and worked on my local install, but I'm not sure if this i

[2014-12-29 21:26] crookedneighbor commented on #4399
@kangabell I think that's a good idea. Interested in doing it?

[2014-12-29 21:26] paglias commented on #2653
@crookedneighbor indeed! added

[2014-12-29 21:35] taldin commented on #4424
Yeah, one of the things I did/am doing with the rewrite is splitting those up. :3

[2014-12-29 21:45] crookedneighbor commented on #4430
@beffymaroo Should be fixed on the next deploy

[2014-12-29 22:18] lefnire commented on #4338
I don't think so, I looked through Stripe's dashboard and there's nothing
there that's causing this. Not too many fields to work with in to start,
and the Company Name field is "HabitRPG". I'd think it's maybe a wrong i18n
string being used for a certain field in code?

On Mon, Dec 29, 2014 at 12:51 PM, Blade Barringer notifications@github.com
wrote:

[2014-12-29 22:34] tjwds opened #4440 "Tooltip is floating"
![http://i.imgur.com/xW5szyN.png](http://i.imgur.com/xW5szyN.png)

I have no idea where this CSS is coming from, but it seems to be causing the problem:

## <bountysource-plugin>

Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/7366933-tooltip-is-floating?utm_campaign=plugin&utm_content=tracker%2F68393&utm_medium=issues&utm_source=github)** We accept bounties

[2014-12-29 22:41] crookedneighbor commented on #4440
Related to #4307

And I don't think that CSS is the problem. I use the Chrome developer tools to disable it, and it was still floating:

![screen shot 2014-12-29 at 4 39 34 pm](https://cloud.githubusercontent.com/assets/2916945/5573904/77ba9b98-8f79-11e4-9d59-108368428ca4.png)

[2014-12-29 22:43] tjwds commented on #4440
You're right; with that disabled, it looks like the calculated "top" rule is 33 px off.

[2014-12-29 22:44] lemoness commented on #2454
The site admin is very busy, so it may take several days to get a response,
but rest assured we will handle it as soon as we can! Sorry about the
hassle.

On Mon, Dec 29, 2014 at 1:07 PM, yaelirt notifications@github.com wrote:

[2014-12-29 22:49] lemoness commented on #4400
I don't know. Personally I like 2014-15 for the reasons listed and because
it has no ambiguity, but I can live with 2015 if that's being favored. It
just seems odd having the 2015 Winter Wonderland start in 2014.

Maybe we should do a poll?

On Mon, Dec 29, 2014 at 1:04 PM, Blade Barringer notifications@github.com
wrote:

[2014-12-29 22:52] crookedneighbor commented on #4400
I'd prefer it to be a single year. I don't care if it's 2014 or 2015, but I favor 2015.

[2014-12-29 23:03] crookedneighbor commented on #4338
Any chance it's [this line](https://github.com/HabitRPG/habitrpg/blob/af7e68259dbd35de43410c03e263929b5a91b917/public/js/services/paymentServices.js#L33)

[2014-12-29 23:06] crookedneighbor commented on #3439
@lefnire Is there anything specific you want me to do for this? If the answer is "Close as many issues on the shared and mobile repos as possible" that's fine.

[2014-12-29 23:09] Alys commented on #4400
I've seen text in the wiki that was confusing because a single year was mentioned for the Winter season. From a purely coding point of view, using just one year would make sense, but for all user-visible text I think we'll have less confusion and fewer questions if both years are mentioned (and if we do that it's probably best to also use both years in the code for consistency).

[2014-12-29 23:12] lefnire commented on #4338
ah, very likely! i say we change it and see how it goes

[2014-12-29 23:14] lefnire commented on #3439
as always, thanks a million @crookedneighbor! yeah, merging or closing PRs on habitrpg-shared is the first step. If it's something that's too big yet unfinished, get a link to the PR's patch, create a new issue on habitrpg with that link, or whatever steps you think would be best

[2014-12-29 23:49] SabreCat commented on #3398
@kangabell: No, doesn't look like it. Closing!

[2014-12-29 23:49] #3398 closed, assigned to nobody

[2014-12-29 23:52] SabreCat commented on #4434
I see your commit adds the 'nbsp;`, cool! I don't see anything about the right vs. left alignment, though, are you still working on that? Sorry if it was unclear in the issue ticket, I mentioned two things at once there.

[2014-12-30 00:34] crookedneighbor commented on #4434
The inventory page has them aligned to the right:

![screen shot 2014-12-29 at 6 34 02 pm](https://cloud.githubusercontent.com/assets/2916945/5574586/547766d8-8f89-11e4-8a5d-cb7095028183.png)

It'd also be great if you could add the `nbsp;` to the main market stuff too.

[2014-12-30 01:16] #4434 closed, assigned to nobody

[2014-12-30 01:17] crookedneighbor commented on #4434
I took care of the alignment and merged in the PR. Had a class named `center` instead of `text-center`

[2014-12-30 01:18] crookedneighbor commented on #4425
Closed via https://github.com/HabitRPG/habitrpg/commit/c4e62fc79ba16d55344f391a9b6b8f049d0afadd

[2014-12-30 01:18] #4425 closed, assigned to nobody

[2014-12-30 01:20] beffymaroo commented on #4430
@crookedneighbor Great! Thank you!

[2014-12-30 01:49] crookedneighbor commented on #4338
Yep. That was it. Just tested it with a Google voice number and a test card.

[2014-12-30 05:12] Sporax commented on #4424
I initially installed using the Vagrant and Unix instructions, and the local compilation worked using Vagrant. Now I installed using the Unix instructions. Should I be using Vagrant to set it up instead?

[2014-12-30 05:19] Alys commented on #4424
You definitely need to chose just one set of instructions - either Vagrant or Unix, not both. They are different processes, just as Windows is different from Unix.

Unless you are experienced with installing and configuring software on your Mac using command-line tools, it's probably best that you use the Vagrant instructions only. In theory, following the Vagrant instructions carefully should lea

[2014-12-30 07:21] Sporax commented on #4424
I finally got it! I installed on a separate computer running Ubuntu using the Unix install, and had the same problem with the `mongod` command. Apparently other people had the same problem and used `sudo killall -15 mongod` to end the process, and that made it work.

[2014-12-30 10:55] paglias opened #4442 "Translate old private code from old habitrpg-shared-premium"
Moved from https://github.com/HabitRPG/habitrpg-shared/issues/371
## <bountysource-plugin>

Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/7382175-translate-old-private-code-from-old-habitrpg-shared-premium?utm_campaign=plugin&utm_content=tracker%2F68393&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/

[2014-12-30 11:41] flutterbye commented on #4317
Happened again last night, only 2 dailies have reset the rest have dealt damage and remain ticked and grey.  My ID is 82deff92-7a31-4ce9-9403-0e718bd0943c

[2014-12-30 12:38] crookedneighbor commented on #4442
@paglias Would you mind making a tag named something like "Migration from HabitRPG-Shared" or even just "HabitRPG-Shared"?

I'm going to do some moving of issues like this, and it'd be great to have them grouped together after I'm done.

[2014-12-30 12:51] Alys commented on #4403
When something needs to be censored, I typically want to hide it immediately. When I write the explanation messages, I sometimes need to take some time over it to choose my words carefully. I wouldn't use the flag dialog's text box for the message because I'd be too stressed over leaving the message visible while I wrote. :)

Hall of Villians (semi-)automation would be very nice, but again I'd wan

[2014-12-30 13:03] Alys commented on #4442
@blade: 'Migration from HabitRPG-Shared' label created. You likely have access to create labels yourself: https://github.com/HabitRPG/habitrpg/issues -> "Label" tab near the top of the page -> New label. I had to be told about it too; it's not obvious.

[2014-12-30 13:16] crookedneighbor commented on #4442
@Alys THANK YOU. And also, thanks for being gracious in the way you told me.

I forgot that Github doesn't allow you to create new labels on the fly.

[2014-12-30 13:19] Alys commented on #4442
"create new labels on the fly" is EXACTLY what I tried to do too, and then
gave up and asked the staff. :)

On 30 December 2014 at 23:16, Blade Barringer notifications@github.com
wrote:

[2014-12-30 13:28] crookedneighbor opened #4443 "Include sexism in list of unacceptable behavior"
[Originally posted here](https://github.com/HabitRPG/habitrpg-shared/issues/391)

@lacrimae

ping @lemoness and @Alys

[2014-12-30 13:39] crookedneighbor opened #4444 "Consider using Amazon S3 for static resources"
[Originally reported here](https://github.com/HabitRPG/habitrpg-shared/issues/353)

@YokoZar

@lefnire

@crookedneighbor

@paglias

@crookedneighbor

[2014-12-30 13:47] crookedneighbor opened #4445 "Better pluralization for beastMastText2"
[Originally reported here](https://github.com/HabitRPG/habitrpg-shared/issues/342)

Condensed version:

The string actually is:

Which sounds funny when pets have been released "1 times".

Suggested solution: @taldin

## <bountysource-plugin>

Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/7388508-better-pluralization-for-beastmasttext2?utm_campaign=plugin&ut

[2014-12-30 13:49] crookedneighbor opened #4446 "Shirt and warrior armor have pixels always hidden by head outline"
Originally reported here: https://github.com/HabitRPG/habitrpg-shared/issues/171

@PeterHatch

## <bountysource-plugin>

Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/7388536-shirt-and-warrior-armor-have-pixels-always-hidden-by-head-outline?utm_campaign=plugin&utm_content=tracker%2F68393&utm_medium=issues&utm_source=github)** We accept bounties via [Bountyso

[2014-12-30 13:51] crookedneighbor opened #4447 "Move dist building from shared to server"
Originally reported here: https://github.com/HabitRPG/habitrpg-shared/issues/105

@lefnire

## <bountysource-plugin>

Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/7388587-move-dist-building-from-shared-to-server?utm_campaign=plugin&utm_content=tracker%2F68393&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysour

[2014-12-30 13:53] crookedneighbor opened #4448 "Grunt script generating spritesmith.png should optimize images"
Originally reported here: https://github.com/HabitRPG/habitrpg-shared/issues/60

@fmarier

@lefnire

@benmanley

@crookedneighbor

## <bountysource-plugin>

Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/7388628-grunt-script-generating-spritesmith-png-should-optimize-images?utm_campaign=plugin&utm_content=tracker%2F68393&utm_medium=issues&utm_source=github)**

[2014-12-30 14:02] crookedneighbor opened #4449 "Re-canvas Mounts as 105x123, adjust positioning"
Originally reported here: https://github.com/HabitRPG/habitrpg-shared/issues/50

@lefnire

[2014-12-30 14:07] crookedneighbor opened #4450 "Cron (The 'Errors that shouldn't be errors')"
Originally reported here: https://github.com/HabitRPG/habitrpg-shared/issues/199

@markusholdings

###### NOTE: Edited to wrap errors in code formatting

@lefnire

## <bountysource-plugin>

Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/7388820-cron-the-errors-that-shouldn-t-be-errors?utm_campaign=plugin&utm_content=tracker%2F68393&utm_medium=issues&utm_sourc

[2014-12-30 14:17] crookedneighbor commented on #4450
For additional conversation, read here: https://github.com/HabitRPG/habitrpg-shared/issues/265

[2014-12-30 14:22] crookedneighbor commented on #3439
@lefnire and @paglias Just finished migrating all the open issues from shared to the main repo (will work on PRs later).

Should the [issues feature be disabled](https://github.com/HabitRPG/habitrpg-shared/settings) now for the shared repo?

[2014-12-30 14:55] Sporax commented on #4424
I fixed the line in the `/habitrpg/node_modules/habitrpg-shared/content.coffee` by changing `notes: t('armorSpecialSkiText'` to `notes: t('armorSpecialSkiNotes'`, but on the local HabitRPG there is no change to the ski-sassin parka description. Is there something else I have to edit for that?

[2014-12-30 15:02] deilann commented on #4424
Did you run `grunt` in the shared repo to compile it?

On Tue, Dec 30, 2014 at 6:55 AM, Sporax notifications@github.com wrote:

[2014-12-30 15:13] paglias commented on #3439
@crookedneighbor good idea, done and added a link to the main repo in the readme

[2014-12-30 15:15] paglias commented on #4444
@crookedneighbor I'm not sure, we could link the css/javascript to the online version, get it cached and then change the link after any update but I'm not sure we can do it.

[2014-12-30 15:48] Sporax commented on #4424
Do you mean `grunt run:dev`?

[2014-12-30 15:51] deilann commented on #4424
No, I mean use your command line in the habitrpg-shared directory and run
`grunt` to compile the changes to shared so they will be used.

On Tue, Dec 30, 2014 at 7:48 AM, Sporax notifications@github.com wrote:

[2014-12-30 15:51] Sporax commented on #4424
When I run `grunt` in the shared repo (I assume you mean `/habitrpg/node_modules/habitrpg-shared/`) then it says 'aborted due to warnings` because some local npm modules were not found.

[2014-12-30 15:53] deilann commented on #4424
Did you install npm in the shared repo?

On Tue, Dec 30, 2014 at 7:51 AM, Sporax notifications@github.com wrote:

[2014-12-30 15:55] Sporax commented on #4424
Was I supposed to install it separately? I'll run `npm install` then.

[2014-12-30 16:18] Sporax commented on #4424
Thanks, that fixed it. Now to upload it, I just use `git push` and then send a pull request, right? Do I need to do this for the `/habitrpg` repo or the shared repo?

[2014-12-30 16:20] deilann commented on #4424
yes, shared repo

[2014-12-30 16:25] Sporax commented on #4424
It says that there's nothing to compare, am I creating a request in the wrong branch (its in develop)?

[2014-12-30 16:30] deilann commented on #4424
Did you first add and commit the file you changed?

On Tue, Dec 30, 2014 at 8:25 AM, Sporax notifications@github.com wrote:

[2014-12-30 16:31] crookedneighbor commented on #4424
@Sporax I don't see any of your commits in your [develop branch for habitrpg-shared](https://github.com/Sporax/habitrpg-shared/commits/develop). I couldn't find a different branch with a name similar to the issue you were working on, so I assume you're working on the develop branch.

Did you commit the changes and then push (while in the shared repo, not the main repo)? If so, what is your branch'

[2014-12-30 16:39] Sporax commented on #4424
Guys I'm new here... How exactly are you supposed to add and commit a file? All I did was use `git push` in my shared repo, and then tried to create a pull request

[2014-12-30 16:45] crookedneighbor commented on #4424
@Sporax No worries!

The way git works is it keeps track of changes to files, so to add a file you've changed to be tracked you do: `git add path/to/file` for each file, and then `git commit -m "message about the changes I made"`.

Alternatively, you can do `git commit -am "message about the changes"` which adds all the files git with changes that git is currently looking at and lets you make a co

[2014-12-30 16:47] crookedneighbor commented on #4424
The only files with changes that git won't add using `git commit -am` are new files that git hasn't been instructed to track yet. For instance, let's say you made a new javascript file called `new.js`. Before git can track the change, that would need to be added with `git add new.js`, but after that, if you make a change to it, running `git commit -am "message"` would include it.

[2014-12-30 16:48] deilann commented on #4424
You can see what files have been changed with `git status -s`

On Tue, Dec 30, 2014 at 8:47 AM, Blade Barringer notifications@github.com
wrote:

[2014-12-30 16:48] crookedneighbor commented on #4424
@Sporax If that still doesn't make sense, please say something. Git can be confusing when you're just starting to use it.

After you've committed the file, you can then `git push` to send it to your repo. From there, you should be able to make a pull request and see the changes.

[2014-12-30 16:50] Sporax commented on #4424
I have one question: do I only add the file I directly edited or all the files it changed as well when it was compiled?

[2014-12-30 16:52] crookedneighbor commented on #4424
@Sporax Also, this might help you out: https://try.github.io/levels/1/challenges/1

It's an online interactive teaching tool for Git/Github.

[2014-12-30 16:54] crookedneighbor commented on #4424
@Sporax That is a great question. For now, all the files.

You may run into merge conflicts with the habitrpg-shared.js file. Do not worry about them, submit your PR anyway, and I will sort them out.

We're working on having the compile process take place on the server, so in the future, git will automatically ignore the compiled files, and you can just submit the changes you actually made, but un

[2014-12-30 17:09] crookedneighbor commented on #4424
@Sporax Actually, if you haven't already done it, just add the one you changed. I'll compile it for you.

[2014-12-30 17:21] Sporax commented on #4424
I'm confused about another thing, I used a `grep` to find all the changes that were made during compilation since `armorSpecialSkiText` would have changed to `armorSpecialSkiNotes`. The files `content.coffee` and `habitrpg-shared.js` were changed under two directories: `habitrpg/public/bower_components/habitrpg-shared` and `habitrpg/node_modules/habitrpg-shared`. I used `git add` on the files in t

[2014-12-30 17:21] paglias commented on #4444
@YokoZar wrote:

[2014-12-30 17:22] Alys commented on #4424
No, never add or commit or push any files under bower_components.

[2014-12-30 17:23] paglias commented on #4444
@YokoZar the files are generated inside the build process. But they are delivered as they are, the server just throws them to the browser.

I would revew this when we move habitrpg-shared inside habitrpg as we're going to refactor the build process I think

[2014-12-30 17:27] Sporax commented on #4424
Ok thanks. <a href="https://github.com/HabitRPG/habitrpg-shared/pull/421">I created the pull request</a>

[2014-12-30 17:28] crookedneighbor commented on #4424
@Sporax One of the steps you did was remove the existing `public/bower_components/habitrpg-shared` directory and instead created a link to `node_modules/habitrpg-shared`, which itself was a link to your local copy of habitrpg-shared. So adding the file in `node_modules/habitrpg-shared` did in fact add it in bower_components, because they were all referencing the same file.

I know that can be conf

[2014-12-30 17:28] Sporax commented on #4424
Yeah that makes sense

[2014-12-30 17:36] crookedneighbor commented on #4424
Closed via https://github.com/HabitRPG/habitrpg-shared/pull/421

[2014-12-30 17:36] #4424 closed, assigned to nobody

[2014-12-30 17:38] Sporax commented on #4424
Thanks for all the help guys, I really enjoyed working with you all!

[2014-12-30 17:46] crookedneighbor commented on #4444
I second refactoring the build process. I think that anything that is not edited directly shouldn't be version controlled and should be compiled upon deploy.

[2014-12-30 18:19] paglias commented on #4444
what stopped us from using this approach is that bower doesn't support a way to compile stuff like a `postinstall` command so we had to deliver compiled stuff in habitrpg-shared but I hope we can solve this having everything in the same repo

[2014-12-30 20:56] #3954 closed, assigned to nobody

[2014-12-30 22:34] kangabell commented on #4399
@crookedneighbor sure! just getting started with running the app locally but will give it a shot.

[2014-12-31 03:48] Verabird commented on #4416
Making tools of the trade more than double PER in order to have a reasonable effect on the drop chance says to me that the formula for how PER affects drop chance might need to be reevaluated. I'm adding diminishing returns based on the given linear formula, centered at  adding 200 PER when the stat at cast is 100 PER, (Max added per is 400) but it seems silly to me to be increasing stats by so mu

[2014-12-31 04:00] Alys commented on #4416
Interesting point. FYI @SabreCat  _"how PER affects drop chance might need to be reevaluated"_ - what do you think?

Current drop chance calculation: https://github.com/HabitRPG/habitrpg-shared/blob/7fd4cebbdc531b6875fb0fbb687b89b66362ee67/script/index.coffee#L1197

Use of PER in gaining gold: https://github.com/HabitRPG/habitrpg-shared/blob/7fd4cebbdc531b6875fb0fbb687b89b66362ee67/script/index.co

[2014-12-31 06:32] Memry commented on #4420
Any new suggestions?  I would really like to get my annual subscription in while the sale is still on.

[2014-12-31 06:43] Alys commented on #4420
@lefnire any ideas? See my comment near the top for this user's data, which looked normal to me.

[2014-12-31 06:49] lefnire commented on #4420
I'll check into this tomorrow
On Dec 30, 2014 11:43 PM, "Alice Harris" notifications@github.com wrote:

[2014-12-31 08:10] and1hof opened #4453 "I turned into a woman."
Hey, I've been using habit RPG and today I logged in - whoops all the sudden I'm a woman!

Is this a typical random transformation, or part of a bug?

[2014-12-31 14:03] Memry commented on #4420
Thanks.

On Tue, Dec 30, 2014 at 10:49 PM, Tyler Renelle notifications@github.com
wrote:

[2014-12-31 14:42] crookedneighbor commented on #4453
Can you post your user id here? It can be found in [settings > api](https://habitrpg.com/#/options/settings/api). This will help us take a look at your settings.

[2014-12-31 15:28] SabreCat commented on #4453
Does it persist after a browser refresh? It could just be the sprite scramble that happens when new images are added.

[2014-12-31 15:30] SabreCat opened #4454 "Salt spell doesn't check to see if you have enough Gold"
I bought enough Snowballs to reduce myself to a handful of Silver in the bank, then clicked Salt. The spell went off, removing the snowman from my avatar, and reduced me to -5 Gold!

[2014-12-31 15:33] deilann commented on #4453
Or it could be a dupe account. Do you have the same tasks?

On Wed, Dec 31, 2014 at 7:28 AM, Sabe Jones notifications@github.com
wrote:

[2014-12-31 15:34] deilann commented on #4454
You'll never be able to buy Steam games now.

On Wed, Dec 31, 2014 at 7:30 AM, Sabe Jones notifications@github.com
wrote:

[2014-12-31 16:00] SabreCat commented on #4454
Probably good for me, that. Though my backlog manages to increase anyway,
with all the gifts I've been getting through Steam lately!

[2014-12-31 18:15] and1hof commented on #4453
Here is my user id: 0542c617-2231-4605-8989-fe9991c41fa5
And It persists after browser refresh, I'm not sure why.

[2014-12-31 18:25] paglias commented on #4453
If you change back to a man in the avatar customisation page does it work?
Il 31/dic/2014 19:15 "Andrew Hoffman" notifications@github.com ha scritto:

[2014-12-31 18:46] and1hof commented on #4453
Hmm,

Where is that option? I've never customized my avatar I just use this for tracking achievements :)

[2014-12-31 18:47] crookedneighbor commented on #4453
https://habitrpg.com/#/options/profile/avatar

[2014-12-31 18:50] Nondescript1010 commented on #4398
Ok. Hitting the 'clear' button seems to have revealed all the tasks. That's a bit obscure, though. I don't even know what 'clear' is supposed to do.

[2014-12-31 18:55] crookedneighbor commented on #4453
Here's the preferences related to appearance your user has:

[code]

Which results in:

![screen shot 2014-12-31 at 12 54 12 pm](https://cloud.githubusercontent.com/assets/2916945/5589754/288270e0-90ec-11e4-9de2-6e83b9ff5b90.png)

Change your [appearance settings here](https://habitrpg.com/#/options/profile/avatar) and let us know if it gets resolved that way.

[2014-12-31 18:58] crookedneighbor commented on #4398
@Nondescript1010 The clear button clears any tags you have enabled. Having a tag enabled will only show you the tasks with that tag.

So either you accidentally turned on a tag, and no tasks had that tag, or there was a glitch and the system thought you had turned on a tag (happens sometimes).

Either way, glad to know you're up and running again!

[2014-12-31 18:59] #4398 closed, assigned to nobody

[2014-12-31 19:00] Nondescript1010 commented on #4398
FYI, I am running the Chrome browser on an Android phone.

[2014-12-31 19:23] itsasooz opened #4455 "New Year's Card price doubled"
The price listed in the shop is 10G, but when I "cast" it on a person, it debits 20G 90S from my account:
http://i.imgur.com/LUCPGx6.jpg

UID 312f9e64-7c17-40dc-b10c-3c03afc948a3
Browser is Chrome, using Windows 8

[2014-12-31 19:34] crookedneighbor commented on #4455
Odd. I just did it and it deducted the correct amount:
![screen shot 2014-12-31 at 1 30 52 pm](https://cloud.githubusercontent.com/assets/2916945/5590052/677dc420-90f1-11e4-9a0a-6fcf90eed20d.png)

Are you sure you didn't purchase a reward in another window, and then when you activated the card, it started a sync process, prompting it to calculate the full amount of gold spent for the card + other

[2014-12-31 19:44] itsasooz commented on #4455
I only had one window open.  It happened repeatedly (I bought cards for all my party members).

Trying it again has removed the issue, so I guess chalk it up to a gremlin or something.  Oh well.  It's not like I'm hurting for the scratch.

[2014-12-31 19:47] crookedneighbor commented on #4455
Probably impossible to tell since you have over 1,000 (and thus is difficult to see at a glance smaller increments), if it actually deducted the correct amount on a refresh or not.

Okay, well, it if happens again, report back here.

[2014-12-31 19:47] #4455 closed, assigned to nobody

[2014-12-31 20:03] ghost opened #4456 "First New Year's Card is Unreadable"
First card received does not show up in inventory. Same issue as for Valentine's Day cards? (https://github.com/HabitRPG/habitrpg/issues/2842)

[2014-12-31 20:05] crookedneighbor commented on #4456
@Anysia Have you refreshed the page?

[2014-12-31 20:08] crookedneighbor commented on #4456
I see from your post in the tavern that you have refreshed:

Can you post your user id here? It can be found in [settings > api](https://habitrpg.com/#/options/settings/api)

[2014-12-31 20:09] ghost commented on #4456
Yes. Repeatedly. When I got the second card only the second showed up in inventory. If you look at the Valentine's Day card issue I linked it looks like this was never fixed so will recur every time there are cards.

[2014-12-31 20:10] ghost commented on #4456
db190b28-8ce5-422e-8076-d43a62a7b204

[2014-12-31 20:30] crookedneighbor commented on #4456
Yes, thanks for linking to that issue, it's helpful. I'm looking into it now.

You don't happen to know how many new years cards you have sent and received total, do you?

[2014-12-31 20:36] ghost commented on #4456
I have sent 5 cards, received 2, and opened none (though I can tell from the popover that the one showing up in inventory is the second one). Thanks for the effort. :)

[2014-12-31 20:41] crookedneighbor commented on #4456
Well, your user does show 7 being sent/received. I assume the 2 you received were from different people? Or the same person?

[This seems to be the line that was giving the trouble in the other issue](https://github.com/HabitRPG/habitrpg-shared/blob/develop/script/content.coffee#L708), but I don't know why.

[code]

For me, I'm able to see and open them all right, but the user name isn't getting p

[2014-12-31 20:43] ghost commented on #4456
Yes, they were received from different party members (that's how I know it's the second one showing up and not the first).

[2014-12-31 20:45] crookedneighbor commented on #4456
Thanks. Earlier your `special.nyeRecieved` array had a user name in it, now it's empty. WEIRD.

[2014-12-31 20:58] crookedneighbor commented on #4456
Oh, I see. When you open the letters, the name disappears. I guess that's intentional.

[2014-12-31 21:02] beffymaroo commented on #4430
As of today it's working (if you wanted/needed confirmation).

[2014-12-31 21:03] ghost commented on #4456
Except I haven't opened any cards (only moused over to see who sent it).

[2014-12-31 21:06] crookedneighbor commented on #4456
Oh gosh, my mistake, you still have a user in your array. I had both the member pane (you) and the user pane (me) and was looking at mine when I said you had an empty array.

[2014-12-31 21:11] crookedneighbor commented on #4456
@SabreCat
Would separating it out help, like [lefnire suggested](https://github.com/HabitRPG/habitrpg/issues/2842#issuecomment-35137759):

(correct my coffeescript if it's incorrect)

[code]

[2014-12-31 21:28] crookedneighbor commented on #4456
Here's how it's getting compiled:

[code]

[2014-12-31 21:49] lemoness commented on #4449
Kiwibot recently finished some art tweaks to the mounts, if you need them! I'd be interested to see if the wolves could be readjusted differently, but other than that, I think most of her solutions are great: http://sta.sh/229fwtoanwz

[2014-12-31 22:07] crookedneighbor commented on #4449
These are awesome!

[2014-12-31 22:18] Alys commented on #4453
The "auth.timestamps.created" date for this account is "2014-12-31T03:09:52.426Z". This is a new account.

@andhof-mt if you've been using HabitRPG for more than a day, then this is likely a duplicate account, as @deilann said (that can happen sometimes due to a bug). Your avatar therefore is the new default one.

Are all your tasks correct?

At any time in the past, did you happen to make a recor

[2014-12-31 22:28] Alys commented on #4453
Also, @andhof-mt, please tell us roughly how long you have been using HabitRPG.

[2014-12-31 22:54] lemoness opened #4457 "Community Guidelines Updates"
Ticket for updating the Community Guidelines.

Here are the changes we need to make so far:
- Address PMs (Ability to send users direct messages
  Ability to block individual users
  Ability to opt out of private messaging)
- add a line explicitly forbidding spamming (implied but not overt), including spamming Guilds and spamming PMs
- add a line about not spamming people asking for gem or subscri

[2014-12-31 22:56] crookedneighbor commented on #4457
@lacrimae suggested that sexism should be listed explicitly: https://github.com/HabitRPG/habitrpg/issues/4443

If you don't want to add that, the issue can be closed.

[2014-12-31 22:58] crookedneighbor commented on #4449
@lemoness How about when all the mounts are ready, post here, and I'll work on adjusting the proportions and alignment.

I can rig up a demo page to preview it and y'all can tell me if anything needs tweaking.

[2014-12-31 23:01] crookedneighbor commented on #4430
Thanks for letting us know @beffymaroo

[2014-12-31 23:43] SabreCat commented on #4456
@lefnire said it didn't do much, in that ticket, but you're welcome to give
it a shot! I won't have a chance to tinker with it until tomorrow morning.

[2014-12-31 23:46] melissamcewen commented on #4454
Yep, I did it too on my dev install. I bought a snowball, transformed myself to a snowman, then cast salt, now I have -5 too.

[2014-12-31 23:57] melissamcewen commented on #4454
What's the recommended solution for this? Is adding an IF clause in the cast OK?

[2015-01-01 00:09] SabreCat commented on #4454
Yep, basically. Take a look at how the New Year's cards handle it - we
might be able to pass it through the same check.

[2015-01-01 00:13] lemoness commented on #4443
I'm happy to have sexism added to the list! It's implicit in the discrimination clause, but it can't hurt to make it explicit as well.

[2015-01-01 00:24] lemoness commented on #4446
If I understand the request correctly, this is a very basic, if somewhat
tedious, pixel job. It's pretty low priority, though. Should I just mention
it to some of the pixelists to see if there's anyone who's interested and
tell them to post to this ticket when they're done?

On Tue, Dec 30, 2014 at 5:49 AM, Blade Barringer notifications@github.com
wrote:

[2015-01-01 00:25] crookedneighbor commented on #4443
ping @lacrimae

[2015-01-01 00:26] crookedneighbor commented on #4446
Sure, sounds great.

[2015-01-01 00:39] crookedneighbor commented on #4456
Merged in:
https://github.com/HabitRPG/habitrpg-shared/commit/439f72cb91cefb8e51e3a782abbd448fcfbb0f50

@lefnire or @paglias let me know when the next deploy happens so we can ping the tavern.

[2015-01-01 00:42] Alys commented on #4456
It's probably worth doing one straight away since it's a timely issue. I'll try a deployment to the beta site unless one of the staff says not to in the next few minutes (I'll contact them separately to make sure they're aware of this). Depending on how well that goes, I'll then do one to the production site.

[2015-01-01 01:15] and1hof commented on #4453
I've been using habbit RPG for about a week now. I started on my mac PC and now I'm on my windows laptop. Both times using the web version not the source on github.

[2015-01-01 01:15] lemoness commented on #4400
Okay. I will let you guys decide what to do with the code, but I think I'm
going to go ahead and say that we should list both years. No preference
between 2014-2015 versus 2014-15.

On Mon, Dec 29, 2014 at 3:09 PM, Alice Harris notifications@github.com
wrote:

[2015-01-01 01:16] Alys commented on #4456
Nope, beta's in use for cron tests, and I don't want to push directly to production first. I'll leave it to one of the staff.

[2015-01-01 01:16] lemoness commented on #4400
*list both years in places that the users will see it,such as wiki and
outfit descriptions.

On Wed, Dec 31, 2014 at 5:15 PM, S Leslie leslie@habitrpg.com wrote:

[2015-01-01 01:23] Alys commented on #4453
@andhof-mt We still need an answer from you about your tasks. Are all your tasks correct? Did you discover within the last day or two that some of the tasks you'd added had disappeared and you had to re-add them?

Did the method you use to log in to HabitRPG change in the past day or two? For example, are you now logging in with user name and password, whereas previously you were logging with face

[2015-01-01 01:24] melissamcewen commented on #4454
Thanks @SabreCat , could we implement
User.user.stats.gp < spell.value
or do you think we need the check still?
      if (spell.key == 'nye' && User.user.stats.gp < spell.value)
and add the salt one to that? If guess in the future if there are plans to have more usage of value for spells, it might make sense to keep the check there?

[2015-01-01 01:30] Alys commented on #4400
Let's go with 2014-2015 in all user visible descriptions (e.g., in gear descriptions and on the wiki). That way if someone is searching for 2015, they'll still find it, whereas they wouldn't with just 2014-15.

Personally, I think that the code should also use both years for consistency and to avoid confusion, although we might want to introduce that guideline only from this point forward to avoid

[2015-01-01 01:46] lemoness commented on #4457
Edited to add listing sexism, and having spamming include PM spamming and Guild Spamming.

[2015-01-01 01:51] Alys commented on #4443
Added to upcoming updates in https://github.com/HabitRPG/habitrpg/issues/4457

[2015-01-01 01:51] #4443 closed, assigned to nobody

[2015-01-01 02:42] lefnire commented on #4420
Ah, I've seen this before. Your subscription was canceled on Stripe's end due to multiple failed payments ([email me](mailto:tyler@habitrpg.com) for deets, so we can keep sensitive data to email). We'll need to code in a webhook of sorts to get notif'd on Stripe subscription cancellations. In the meantime, I'll go ahead and cancel the subscription on the HabitRPG side manually. You shouldn't have

[2015-01-01 02:46] Alys opened #4459 "need notifications when subscriptions are cancelled at Stripe's end"
from lefnire in https://github.com/HabitRPG/habitrpg/issues/4420#issuecomment-68479029

"Your subscription was canceled on Stripe's end due to multiple failed payments. **We'll need to code in a webhook of sorts to get notif'd on Stripe subscription cancellations.**"
## <bountysource-plugin>

Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/7417684-need-notific

[2015-01-01 03:34] Alys opened #4460 "return key causes chat messages to be submitted - should we change that?"
When you're typing a chat message, the keyboard's enter key causes it to be sent instead of producing a new line. That's common behaviour for HTML forms when you're typing in text boxes, but not in textareas, which the chat message box appears visually to be.

When writing long messages, new lines are beneficial and it's annoying to have to type shift-enter (also easy to forget).

We get quite a f

[2015-01-01 04:28] SabreCat commented on #4454
Checking against spell.value should be safe; current design plans are to
use value for Gold costs and mana for MP costs.

[2015-01-01 07:50] Alys commented on #4456
@crookedneighbor : @SabreCat has deployed to production

[2015-01-01 08:08] and1hof commented on #4453
Perhaps I just made another account without thinking (auth with Facebook by accident maybe?) :) I hadn't added custom tasks yet, I was just getting started.

[2015-01-01 08:14] Alys commented on #4453
It's important that you look into this before you get too far along the process of setting up your tasks. If you do have two accounts, it will cause endless nightmares. Try logging in on the Mac again if you saved your login info there. Or try logging in on either machine using Facebook. If you notice one login/machine/whatever gives you any differences than the other, choose one account to keep a

[2015-01-01 08:14] #4453 closed, assigned to nobody

[2015-01-01 17:20] crookedneighbor commented on #4460
I'm in favor of this.

I just did a version that changes it from `ui-keypress='{13:"postChat(group,message.content)"}'` to `ui-keydown='{"meta-enter":"postChat(group,message.content)"}'` which submits the form on ctrl/cmd + enter, just like Github has for comments.

We could also move the markdown link for those used to tabbing to submit forms.

Regardless, I think there would need to be a Bailey

[2015-01-01 17:45] crookedneighbor commented on #4456
Okay. Let's leave this issue open through the weekend and then close it if we don't get any further reports.

[2015-01-01 19:47] joshbDev commented on #4400
I've submitted a Pull request to change the winter 2013 gear to winter 2013-2014 and winter 2015 gear to winter 2014-2015. it's this one: https://github.com/HabitRPG/habitrpg-shared/pull/427

[2015-01-01 21:40] #4400 closed, assigned to nobody

[2015-01-01 21:41] SabreCat commented on #4416
So the suggestion would be to make Tools give fewer points of PER, but have those points provide a greater impact on drop chance? I would be OK with that. Make sure to test a few different scenarios for the other drop chance factors, such as streak achievements, that tend to grow over time and will magnify the effect of any changes we make to PER.

[2015-01-01 22:41] SabreCat commented on #4460
:+1:

[2015-01-02 00:09] lucymhdavies commented on #4401
Same fix, but utilising mixins, in Pull Request https://github.com/HabitRPG/habitrpg/pull/4462

[2015-01-02 01:38] fergusincoronato opened #4464 "Repositioning of TO-DOs in the list is random"
When I try to reposition a To-DO in the list, another (apparently random) TO-DO gets repositioned.

My ID is 1cefbadb-72d6-4fcf-a900-81c4dd19fcbf

I tried both with latest Chrome and latest Firefox Portable

My OS is Windows 7

[2015-01-02 02:18] Alys commented on #4464
Please see https://github.com/HabitRPG/habitrpg/issues/2606 for a description of this problem, and a workaround, and to follow the progress of the fix if you wish to (you can subscribe to notifications with the button in the right-hand column).

[2015-01-02 02:18] #4464 closed, assigned to nobody

[2015-01-02 03:16] crookedneighbor opened #4465 "Watch for beastMaster"
@negue this is a performance question for you.

[There's a $watch on the number of pets](https://github.com/HabitRPG/habitrpg/blob/develop/public/js/controllers/notificationCtrl.js#L107-L114), it gets called every time a new pet is hatched. It looks like this:

[code]

Would it be better to take out the watch have this pet counting function in [the inventoryCtrl, and have it get called by $scope.h

[2015-01-02 03:44] Nayelianne opened #4466 "Challenge out of sync remove button deleted almost all tasks unrelated to challenge / manually added"
I got a little notice on a daily task from a challenge saying it was out of sync, and that the **challenge had ended**. When I clicked to edit that task, it was asking whether I wanted to keep it or delete it. **I went with delete, and then... pretty much all my tasks that I had manually added (and had nothing to do with the challenge) disappeared at once**. A ctrl+f5 didn't fix the problem. Did I

[2015-01-02 03:44] melissamcewen commented on #4427
On Chrome in Mac when I click that Join on Public Guilds for a guild I'm a member of, it crashes the browser

[2015-01-02 03:58] Alys commented on #4466
@Nayelianne : I believe we can probably restore your tasks from a recent backup but I still need to look into that.

FYI @lefnire @paglias - this is extremely worrying!

@Nayelianne: I've checked your account in the database and, yes, almost all your tasks have been deleted. There are two Habits and one Daily remaining, as shown in your screenshot, plus a few completed To-Dos (no uncompleted). I a

[2015-01-02 03:59] Alys commented on #4466
@Nayelianne : I forgot to say: this would be a bug. You did not misunderstand the message about the challenge tasks.

[2015-01-02 04:07] Alys commented on #4466
@Nayelianne : The most recent database backup was four hours ago. Did your problem start more recently than that?

[2015-01-02 05:07] melissamcewen commented on #3852
I'm having this issue as well. Version says MongoDB shell version: 2.0.4
it's a pretty clean Vagrant instance. What's the recommended way to update?

[2015-01-02 05:10] Alys commented on #3852
When I looked into it last, it turned out to be simplest to uninstall mongodb and reinstall version 2.6.

[2015-01-02 05:12] #4401 closed, assigned to nobody

[2015-01-02 05:21] joshbDev opened #4467 "NPC Ian Fixed location for Quests on Android App"
just browsing the android app (on the Moto X if that helps) I noticed that if I click a quest to preview it NPC Ian's character stays in the same place even while scrolling. Attaching a couple of screens
![screenshot_2015-01-01-20-59-29](https://cloud.githubusercontent.com/assets/5234453/5594322/07978896-91fc-11e4-87ee-2069e30d9d2f.png)
![screenshot_2015-01-01-20-59-52](https://cloud.githubusercon

[2015-01-02 05:33] melissamcewen commented on #3852
Thanks @Alys , following these instructions worked
http://docs.mongodb.org/manual/tutorial/install-mongodb-on-ubuntu/
would it be possible to update the Vagrant configuration so it automatically has the right one?

[2015-01-02 05:41] Alys commented on #3852
@thepeopleseason _"would it be possible to update the Vagrant configuration so it automatically has the right one?"_   Is that something you'd like to work on, or should I?

[2015-01-02 06:04] melissamcewen commented on #3852
I could try it...what is the name of the file that tells Vagrant what packages to install? Or would I put the command in vagrant.sh?

[2015-01-02 06:08] Alys commented on #3852
Thank you! It would go in vagrant.sh - you'll find in there the default ubuntu command for installing mongodb so that's what you'd need to replace. However first wait a day or so to see if thepeopleseason replies because he set up the Vagrant configuration.

[2015-01-02 06:27] melissamcewen commented on #4427
I think it can't check if the user is a member because the member list isn't loaded. I'm relatively new to JS but that's what it looks like just looking at ng-inspector comparing the challenges where the similar system works vs. this where it doesn't
![habitrpg___your_life_the_role_playing_game](https://cloud.githubusercontent.com/assets/1251094/5594527/17b64806-9216-11e4-84f4-0140af6f5476.png)

!

[2015-01-02 06:33] Alys commented on #4466
@Nayelianne : I've downloaded the backup I mentioned in my previous comment and it seems to have much the same tasks as in your screenshot, so it looks like your problem did occur after that backup was made.

I'm going to do some test runs of importing the data into some test accounts and if that goes well, I'll import it into yours. I won't overwrite any tasks that are still there, so you might e

[2015-01-02 07:18] Alys commented on #4466
@Nayelianne : You should now be able to see all the tasks that were in your account at the time that our most recent database backup was made (about 7 hours ago). Please check your tasks and let me know if they look okay.

The challenge tasks will still be there. Please go through the same process as before to remove them. I would be very interested to see if the same problem happens again. If it

[2015-01-02 09:22] Alys commented on #4137
@jreinert If the party challenge idea didn't work out for you, you can make your quest feature suggestion on this trello board: https://trello.com/c/odmhIqyW/440-read-first-table-of-contents

[2015-01-02 09:22] #4137 closed, assigned to nobody

[2015-01-02 13:40] Memry commented on #4420
Thank you.  It worked.

On Wed, Dec 31, 2014 at 6:45 PM, Tyler Renelle notifications@github.com
wrote:

[2015-01-02 17:01] negue commented on #4465
I think moving this code to $scope.hatch() would be better either way.

For the performance part:
- the $watcher of user.items.pets would be only executed if you re-set the pets array, which would be only on sync.

If we stick to this code then we should use $watchCollection instead of $watch

Last time I checked I had about 6000 (or more, cant remember) watches, so 1 more isnt that big of deal ye

[2015-01-02 17:25] crookedneighbor commented on #4465
Thanks for the input. I'll refactor it in the mountmaster branch.

[2015-01-02 17:25] #4465 closed, assigned to nobody

[2015-01-02 21:32] joshbDev commented on #4454
This also is also with the new years eve cards. Though that is over soon (or now) it may be worth looking into.

[2015-01-02 21:43] crookedneighbor commented on #4454
@thehindenburg It's covered in @melissamcewen's [PR](https://github.com/HabitRPG/habitrpg/pull/4458)

[2015-01-02 21:45] joshbDev commented on #4454
:+1:  just making sure

[2015-01-02 22:42] Nayelianne commented on #4466
@Alys Thank you SO much for the speedy support and for restoring the tasks. ;_; **It seems to have restored some pretty old ones I had completed or deleted in december, but I'm super happy to not have to re-add everything.**

Regarding reproducing the bug,  **I did have one "Broken challgenge link" that had been removed from the same challenge (and I had deleted it from my tasks in december), and

[2015-01-02 22:46] Alys commented on #4466
_"restored some pretty old ones I had completed or deleted in december"_ - That's extremely odd because the tasks I restored were definitely taken from a backup made just four hours before you reported the error. FYI @lefnire, @paglias - maybe this is something else weird happening with this account?

For the challenge tasks that you want to delete, tick one of them off as if you had accomplished

[2015-01-02 23:05] Nayelianne commented on #4466
It did seem a bit odd considering you said it a recent backup :confused:
Ticking each challenge and refreshing the page as you said seems to have made the notice show.

![image](https://cloud.githubusercontent.com/assets/9331429/5600428/e6a8f7d0-92c0-11e4-9097-3408c22b06c5.png)
**I wonder if it's counted "orphan tasks" as everything that doesn't fall into a challenge rather than just the ones from

[2015-01-02 23:11] Alys commented on #4466
It certainly should not be counting non-challenge tasks as "orphan tasks" but it does look like it did originally. This is one of the things we will have to look into. That duplication of challenge tasks and then the extra step you had to take to remove them also should definitely not have happened.

Thank you very much for providing these extra details! They might help us work out what went wrong

[2015-01-02 23:18] Nayelianne commented on #4466
No worries.
c: Let me know if I can do anything else to help.  I really appreciate the thoughtful replies and the speedy help. :heart: Just made my love for habitRPG grow.

[2015-01-03 00:40] Alys opened #4468 "The change username and display name options are confusing. Email address option doesn't explain how to change it."
As described in "Display Name vs. Username" in the wiki's [User](http://habitrpg.wikia.com/wiki/User#Display_Name_vs._Username) page, we have `Settings -> Site -> Change Username` for changing the user's login name and `User -> Profile` for changing the name displayed in chat and on their avatar. It's not obvious from each of the two preferences screens what each name option is for, or that the ot

[2015-01-03 01:01] m1rrag opened #4469 "No incentive to continue game past lvl 25"
This is actually the issue about amount of food drops/ that the ratios are askew. I'm making this a new subject because no one ever did anything about the issue. I've actually stopped playing HabitRPG because there have literally been no incentives for me to keep playing past level 20 unless I start cheating the game. I'm even part of a group and it seems everyone's stopped playing because no one

[2015-01-03 01:12] m1rrag commented on #2479
Yes. If real-life rewards I made up for myself actually worked, I never would have used habitRPG in the first place.

I'd LOVE it if I could gamify my life IRL, but my organizational issues (and lack of funds) (and lots of other factors) mean that complicating my life in that way will actually bring my bad habits back. A goal I've been good at maintaining has been to keep off weight, so a food rew

[2015-01-03 01:24] Alys commented on #2479
You might find some ideas here: [Sample Custom Rewards](http://habitrpg.wikia.com/wiki/Sample_Custom_Rewards)
although I know that at least some of them are the types of rewards that won't work for you.

[2015-01-03 04:17] Alys commented on #4414
Skill now works roughly the same as it used to but uses standard diminishing returns instead of a hard cap.

[2015-01-03 04:26] #4414 closed, assigned to nobody

[2015-01-03 05:29] Alys commented on #4415
Verabird's changes cause this:
Level 15 player with no buffs will have 2 INT added (previously 1).
Level 50 player with no buffs and no points to INT will have 4 INT added (previously 2).
Level 50 player with no buffs and all points to INT will have 9 INT added (previously 4).
Level 100 player with perfect day buff and all points to INT will have 15 INT added (previously 10).
Level 100 player with

[2015-01-03 06:14] Alys commented on #4412
Verabird's changes in https://github.com/HabitRPG/habitrpg-shared/pull/426 caused the skill to be stronger, except for players who are buffed well over normal level 100 ranges (for them, the skill is much weaker, which is good):
Level 15 player with no buffs will have 4 CON added (previously 2).
Level 50 player with no buffs and all points to CON will have 28 CON added (previously 12).
Level 100 p

[2015-01-03 07:01] Alys commented on #4417
Verabird's changes in https://github.com/HabitRPG/habitrpg-shared/pull/426 cause this:
Level 15 player with no buffs will have 1 CON added (previously 1).
Level 50 player with no buffs and all points to CON will have 6 CON added (previously 4).
Level 100 player with perfect day buff and all points to CON will have 10 CON added (previously 10).
Level 100 player with CON already buffed to 1000 CON w

[2015-01-03 07:09] Alys commented on #4419
Verabird's changes in https://github.com/HabitRPG/habitrpg-shared/pull/426 match the requirements listed above (stronger than previously; still weaker than Defensive Stance). As described for Defensive Stance (https://github.com/HabitRPG/habitrpg/issues/4417#issuecomment-68585931), this could possibly be made stronger or have CON in general changed to have more effect.

[2015-01-03 16:50] Alys commented on #4391
I've just done a database search for this user's UUID with the search set to report only the ID numbers of the tasks and the dates they were created (no task text or any other personal details). It shows that there are several Habits, Dailies, and To-Dos, created from 17 December onwards. I'm guessing it was just a temporary tag display problem that stopped them appearing, as suggested above. I'm

[2015-01-03 16:50] #4391 closed, assigned to nobody

[2015-01-03 16:51] Alys commented on #3050
I'm closing this since it's old and recent site changes have probably fixed the problem, but @KikoSantos tell us if this still happens and we will reopen it and investigate.

[2015-01-03 16:51] #3050 closed, assigned to nobody

[2015-01-03 16:58] Alys opened #4470 "duplicated Tasks - identical text, notes, and ID. Different challenge element: empty object versus null"
ping @lefnire @paglias

In the Tavern, a user reported that their Habits had been duplicated: _"Hi, can someone tell me if my Habits will reset themselves daily? I only have four that I'm working on, but they are listed now twice in my Habit sections, so I didn't know if it was a bug or if that's what I should expect?"_

The user does not have any Dailies, To-Dos, or Rewards so I can't tell if thi

[2015-01-03 17:16] clmmerrill commented on #2805
Hi our party just had the double damage happen. Quest quest quest. I don't mind dying but my Aurora Hat Broke.
chupipe attacks Rat King for 2.3 damage, Rat King attacks party for 44.4 damage. -2 hours ago+1
chupipe attacks Rat King for 2.3 damage, Rat King attacks party for 44.4 damage. -2 hours ago+1

[2015-01-03 17:19] Alys commented on #2805
@clmmerrill On the website, go to Settings -> Site and click the Fix Character Values button. On the screen that appears, you can increase your level by 1 and restore your lost gold plus the extra required to buy the hat.

[2015-01-03 17:24] clmmerrill commented on #2805
@Alys  thanks. I don't really need to replace gold since I have tons. I will send email if I can't figure out how to buy the hat again.

[2015-01-03 17:35] Verabird commented on #4416
Any guidelines on rebalancing PER/Drop chance? I'm doing some thinking about this and I just don't like how the whole drop chance is calculated but I'm not sure which features of the current version are important and which aren't. I'll use my best judgement if I don't get any guidelines.

[2015-01-03 18:13] paglias commented on #4444
[This](https://github.com/niftylettuce/express-cdn) seems to be exactly what we need

[2015-01-03 21:01] lefnire opened #4471 "winston-newrelic broken"
winston-newrelic starts up with app error here https://gist.github.com/lefnire/19f37418a0c7a0d2a0a4. https://github.com/mcku/winston-newrelic/commit/eff336f2de8edb400c33026a775913c4ba225b62 is supposed to have fixed the error, but no cigar. In the meantime, we're disabling winston-newrelic until we can find a solution. FWIW, I've tried pinning `"winston": "0.8.0",` _and_ `"winston": "~0.8.x",` (ie

[2015-01-03 22:25] #4338 closed, assigned to nobody

[2015-01-03 23:44] Alys opened #4472 "replace "off-hand" with "shield-hand" in equipment descriptions"
There was a question in the wiki about what "off-hand" means in "Mustaine's Milestone Mashing Morning Star (Off-hand Weapon)". They thought it might mean that it could be used even when both hands were occupied with weapons and shields (not unreasonable really, given the usual meaning of "off").

A google search for "off-hand" alone doesn't return anything on the first page about the left-handed m

[2015-01-04 00:07] janey-p commented on #4397
Not sure how relevant the info is, but I just noticed that the DDT still shows the emojis correctly, just like the Emoji Cheat Sheet.

[2015-01-04 00:20] Alys commented on #4397
@janey-p The DDT uses a different library ([HenrikJoreteg/emoji-images](https://github.com/HenrikJoreteg/emoji-images)) but unfortunately it's not as simple as replacing one library with another. That library was chosen purely for ease of implementation, which is okay for a relatively low-traffic and simple tool, but for HabitRPG itself there's a lot of other considerations, such as short load tim

[2015-01-04 01:45] Alys opened #4473 "missed Dailies reduce MP gained at cron -- related to Skill Rebalancing (for 'rebalancing-2014-12' feature branch)"
**Verabird is working on this**

This is related to the skills rebalancing that we are doing, as described in [Fix Overpowered Skills - Issue #3029](https://github.com/HabitRPG/habitrpg/issues/3029#issuecomment-68128382). It will go live at the same time as the modified skills.
#### Requirements:

The amount of MP gained at cron should be reduced by Dailies that had been due but were not completed

[2015-01-04 01:47] VikingRunner commented on #4397
I don't know if this makes things more confusing or not, but I'm running IE 11 on Windows 7 Home, and while I'm currently getting flat black and white emoji there, up until about a week ago they were the regular, non-flat, colored version. I remember the emoji-cheat-sheet page I found being somewhat erratic: first I was able to see the emoji, then no images at all appeared for two days, then regul

[2015-01-04 02:42] melissamcewen commented on #4297
This happens to me as well for Twitter.

[2015-01-04 03:21] lefnire commented on #4297
Confirmed. My hunch was it's conflicting with the Addthis code in the footer, since that's the share link & text provided down there. Maybe Addthis can't be used twice in the same page or such. However, removing the footer code entirely doesn't fix the issue (at least not on local). Hmmm..

[2015-01-04 03:33] Alys opened #4474 "prevent attribute points being gained above level 100 - related to Skill Rebalancing (for 'rebalancing-2014-12' feature branch) [$25]"
This is related to the skills rebalancing that we are doing, as described in [Fix Overpowered Skills - Issue #3029](https://github.com/HabitRPG/habitrpg/issues/3029#issuecomment-68128382). It will go live at the same time as the modified skills.
#### Requirements:

When a user levels up beyond level 100, they should no longer be given a new attribute point to assign to one of their attributes.
###

[2015-01-04 04:11] Alys commented on #4416
My personal thoughts about drop chances are:
- there should still be a maximum drop chance; 75% is probably as high as we'd want it to go
- the task's features should still affect drop chance (value, priority, streak, checklist)
- a critical hit should still improve drop chance
- PER should definitely improve drop chance

I'm in two minds about these things affecting drop chance:
- streak achievem

[2015-01-04 04:16] lefnire opened #4475 "Consecutive counter rolls on the 1st, not on billing period"
Got some emails pointing out: the consecutive month counter (the point in code which also grants Mystic Hourglasses, Gem Cap Bonus, etc) checks on the 1st of the month, _not_ each start of their billing period.
## <bountysource-plugin>

Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/7467601-consecutive-counter-rolls-on-the-1st-not-on-billing-period?utm_campai

[2015-01-04 04:47] Alys commented on #4418
Effect of changes is described here: https://github.com/HabitRPG/habitrpg-shared/pull/418

Is good.

[2015-01-04 04:47] #4418 closed, assigned to nobody

[2015-01-04 05:09] SabreCat commented on #4416
I'd be fine with removing or reducing the impact of those factors. I
personally like mechanical impact for achievements and such (perfect day
gives a buff, so let streaks give a drop boost!), but it's not a necessity.

[2015-01-04 06:13] #4415 closed, assigned to nobody

[2015-01-04 07:42] Alys commented on #4417
I've done some testing of how CON itself affects damage for players of various levels and buffs, and I have given up on my idea that we might need to change how CON affects damage from Dailies and Habits. It seems good as it is.

But for the three CON-boosting skills (defensiveStance, intimidate, protectAura), I'm still wondering if they all need to be made stronger. I'll do some more tests and mo

[2015-01-04 18:25] Verabird commented on #4416
Currently, everything is combined and then subject to diminishing returns with a max at 75%. My thought is to separate out PER and have the effect of PER be subject to diminishing returns with a max chance of 25%, and have the remainder given a max of 50% instead of 75%. This will probably result in overall drop chances being lower for people without high PER, but will definitely make PER have a m

[2015-01-04 19:01] Alys commented on #4416
I like the sound of that. I'll be interested to see what you come up with!

[2015-01-04 22:11] #4456 closed, assigned to nobody

[2015-01-04 22:41] jdpopkin commented on #3223
I took a shot at it in [this pull request](https://github.com/HabitRPG/habitrpg/pull/4476).

[2015-01-04 23:46] crookedneighbor commented on #4178
@lemoness What are the specifications for the Triad Bingo achievement?

I looked on Trello, and according to the [achievement card](https://trello.com/c/4uWICvDf/19-achievements-v2-awards-badges), it looks like Triad Bingo is a grouping of achievements, rather than a single one. Is that still the case?

If so, I assume they won't be stackable? Seems like a lot of trouble for very little payoff to

[2015-01-05 01:07] lemoness commented on #4178
@taldin - The Trello is out of date, sounds like - we were thinking of
doing individual ones a long time, but we decided it would be too
overwhelming. For now, let's stick with Triad Bingo being a single
achievement unlocked when you get all 90 pets and all 90 mounts! I think
making it stackable makes sense :)

On Sun, Jan 4, 2015 at 3:46 PM, Blade Barringer notifications@github.com
wrote:

[2015-01-05 04:47] sadanyagci opened #4477 "ideas for developing the app's time capabilities"
I have several ideas for developing the app's time capabilities, that I wish to implement (I've set up the system locally and started looking through the code). I'm posting them here for comments before jumping in and changing things. Comments and criticism are appreciated. :-)

I find this app is very useful, but utterly fails in scheduling. Flopping over EVERY task at a time when the majority of

[2015-01-05 08:07] Alys commented on #3223
closed by https://github.com/HabitRPG/habitrpg/pull/4476

[2015-01-05 08:07] #3223 closed, assigned to deilann

[2015-01-05 17:02] SabreCat commented on #4472
I like "shield-hand", in the odd event that someday we have sprite flip functionality for people to have left-handed avatars!

[2015-01-05 17:05] SabreCat commented on #4468
I like the idea of "Login Name".

[2015-01-05 18:04] crookedneighbor commented on #4472
:+1: for shield-hand.

[2015-01-05 18:09] lemoness commented on #4468
I also think that we should use "Login Name" as opposed to "Display Name."

On Mon, Jan 5, 2015 at 9:05 AM, Sabe Jones notifications@github.com wrote:

[2015-01-05 18:12] lemoness commented on #4472
I like shield-hand too.

On Mon, Jan 5, 2015 at 10:04 AM, Blade Barringer notifications@github.com
wrote:

[2015-01-05 18:25] lemoness commented on #4469
HI Mirah!

We have a variety of things in the works that should help with this.
1. More equipment from the upcoming "Enchanted Closet" reward, unlocking
   only after you have Ultimate Gear in your class.
2. Gold-purchasable quests.

Also, note that there are nine more quests still to unlock after level 20!
At Level 30, you will unlock the Vice quest line; at Level 40, the Golden
Knight quest line

[2015-01-05 18:34] crookedneighbor commented on #4460
If we enable `meta-enter` for the chats, we should do the same for private messages.

[2015-01-05 19:42] #3828 closed, assigned to nobody

[2015-01-05 19:48] deilann commented on #4474
I am stupidly busier than I thought I'd be right now... If someone gets to
this before me, I will not be upset. I would like to do it, but I cannot
possibly do it fast enough.

On Sat, Jan 3, 2015 at 7:33 PM, Alice Harris notifications@github.com
wrote:

[2015-01-05 20:07] kangabell commented on #4399
@crookedneighbor Seems like it might be a good idea to use angular to add a class to the item when it's active, but alas I don't really know angular. If someone could get that class in I could easily add the styling to it.

[2015-01-05 20:10] crookedneighbor commented on #4399
@kangabell Do you want to tag team it? You do the class and I'll do the angular stuff?

Or do you want to be coached through the Angular stuff? I'm up for either.

[2015-01-05 21:23] nataliechan commented on #4468
Does this need to be done asap? If not, can I maybe claim it so I have something to work towards? (Just got my local install up and am wanting to poke around, but not sure where to start)

[2015-01-05 21:32] Alys commented on #4468
It's not urgent. I think it would be a good thing for a new programmer.  It's yours! :)  Be sure to ask here if you run into problems or have any questions.

[2015-01-05 21:37] gpraveenkumar opened #4479 "Challenges are not shown in the user profile."
Since the last two days nothing is shown in the section "Was the winner of the following challenges:" (I have won many challenges!)

Screenshot below:
![bug1](https://cloud.githubusercontent.com/assets/3744347/5620351/17b554ce-94f9-11e4-81c0-67f435cc8c29.png)

[2015-01-05 21:39] Alys commented on #4479
Can you please tell us your unique User ID? It's from Settings -> API (be sure to copy only the user ID, not the API Token).

[2015-01-05 21:49] Alys commented on #4479
Never mind, found it from the Tavern. This is GoldDust 2793ede7-f2b1-48a7-ade5-3d22bd342f8e, and there are definitely challenge wins that should be showing:

[code]

[2015-01-05 21:57] taldin commented on #4178
It makes sense to make Triad Bingo be a single achievement for now, and we can figure out how to make a collapsible bingo list later.

[2015-01-05 22:05] Alys commented on #4479
This is unlikely to be a browser-specific problem because when I look at GoldDust's profile, I don't see challenges, but when I look at other people's profiles on the same browser, I do see their challenges. But regardless, I've confirmed it in recent versions of Chrome and Firefox on Mac OS.

[2015-01-05 22:25] crookedneighbor commented on #4479
It's that `"GoldDust is a happy badger, having completed 7 days of Healthy Badgering!!!! (Badger 101 Round 3)"` is in there twice.

I get this error when I open up the profile:
![screen shot 2015-01-05 at 4 23 45 pm](https://cloud.githubusercontent.com/assets/2916945/5621048/446b7d4c-94f7-11e4-834a-68b53326ec6a.png)

[2015-01-05 22:32] gpraveenkumar commented on #4479
Ah I see. That matches the timeline of the bug as well. Could you please update the database to "Round 4" instead of "Round 3"? This would fix it.

[2015-01-05 22:33] crookedneighbor commented on #4479
I'll just change the code to allow for duplicates.

[2015-01-05 22:35] #4479 closed, assigned to nobody

[2015-01-05 23:47] userhw commented on #1057
Hi, my dailies did not reset today.  I have never had a problem before today.  on my desktop.  Didn't try it on a mobile.

[2015-01-05 23:51] petathames commented on #1057
My dailies did not reset yesterday or today, using the web app.

[2015-01-06 03:47] nataliechan commented on #4472
Newbie here: a search for gear.json within the habitrpg repo gives a whole bunch of files (./node_modules/habitrpg-shared/locales/sv/gear.json, ./node_modules/habitrpg-shared/locales/de/gear.json, ./node_modules/habitrpg-shared/locales/es/gear.json, etc). Does that mean I need to edit the string within all those files (maybe just using a search-replace?). Also, since this is a string change, does

[2015-01-06 03:50] deilann commented on #4472
Only edit the English files. Yes, you will need to clone the shared repo.
There's a section in the Guidance for Blacksmiths page called "Working with
HabitRPG-Shared" that you should read.

On Mon, Jan 5, 2015 at 7:48 PM, scribblypanda notifications@github.com
wrote:

[2015-01-06 04:20] g2graman opened #4480 "Subscription rollover issue"
User id:
9bc07270-4c5a-4410-8030-1d41e6e81aa1

Group ID: 4889c225-b5ed-41b1-92c2-bbc595521e62
Browser: Chrome
OS: Windows 8.1

I was gifted a 3 month subscription last month and expected my gem cap (etc.) to roll over at the start of this month and have given it a few days but it still hasn't happened yet.

[2015-01-06 04:37] nataliechan commented on #4472
Hi again. uhm. I followed the instructions on the Guidance for Blacksmiths page, then made changes, then committed and pushed the code, which showed up in the habitrpg-shared repo. I'm fairly certain that's all I had to do, because my limited github knowledge says pull requests are only necessary if I'm on a branch that isn't upstream (which I'm not capable of doing), so... please let me know if I

[2015-01-06 04:38] deilann commented on #4472
But you're not on the upstream branch? You definitely do need to do a pull
request.

On Mon, Jan 5, 2015 at 8:37 PM, scribblypanda notifications@github.com
wrote:

[2015-01-06 04:46] nataliechan commented on #4472
Oops, sorry about that - I think I just tried to create the request too early or accidentally tried to create a PR in the habitrpg repo instead of in the shared. Thanks for the clarification!

[2015-01-06 04:48] deilann commented on #4472
No problem! I looked at your commit and it's all good, so once the PR is
sent, it should be merged. :)

On Mon, Jan 5, 2015 at 8:46 PM, scribblypanda notifications@github.com
wrote:

[2015-01-06 08:28] paglias commented on #1057
@userhw we just deployed what we hope is going to fix this, let us now if it happens again in the following days

[2015-01-06 14:30] #4472 closed, assigned to nobody

[2015-01-06 14:31] benmanley commented on #4430
Thanks @crookedneighbor.

[2015-01-06 14:33] crookedneighbor commented on #4403
@Alys I thought I responded to this, but apparently not. That's a good point. I take back my suggestion!

[2015-01-06 14:33] rebepart opened #4481 "Can't change habit direction/action"
b9986d66-dadd-4a3a-be72-fc62e88b61f8

rebepart

Im currently using Google chrome Version 37.0.2062.120

I made a new habit in HabitRPG and when I try to change the direction/action I click it and the buttons move so that + is above -

when i leave edit the new habit still has both the + and the -

idk what is wrong...if there is another post like this im sorry I looked for one and found nothing...

[2015-01-06 14:40] paglias commented on #4481
Do you save the changes?
Il 06/gen/2015 15:33 "rebepart" notifications@github.com ha scritto:

[2015-01-06 15:03] paglias commented on #4471
Errors on newrelic are still shown... I'm wondering what that module did then

[2015-01-06 15:15] kaitmiller opened #4482 "Dates on to-dos only showing part of the date"
When I switched the date format to the new option of yyyy-mm-dd, I noticed that only the year was showing on my to-dos, no month or day. It occurred to me that only the month and day showed under the old format, so maybe there just isn't enough space for the whole date.

Here's what it looks like under yyyy-mm-dd:
![screen shot 2015-01-05 at 10 14 04 pm](https://cloud.githubusercontent.com/assets/

[2015-01-06 15:18] crookedneighbor commented on #4482
[Here's the culprit](https://www.npmjs.com/package/edit-google-spreadsheet):

[code]

[2015-01-06 15:38] tohn opened #4483 "Cannot find module '../build/Release/bson' (and proposed fix)"
I'm running habitrpg on my own server (Thank you for this great app btw! :)) and I'm getting a BSON Error/Warning at start:

[code]

A fix for me was this (found it via `grep -irs "build/Release"`):
Change all occurences of `bson = require('../build/Release/bson');` to `bson = require('bson')` in the file `/path/to/habitrpg/node_modules/mongoose/node_modules/mongodb/node_modules/bson/ext/index.js`

[2015-01-06 15:51] tohn opened #4485 "TypeError: Cannot read property 'metrics' of undefined"
I'm running HabitRPG on my own server. When I run it in production mode by changing NODE_ENV in the config and running `grunt build:prod && grunt nodemon` after a time I get this:

[code]

Apart from SESSION_SECRET, ADMIN_EMAIL and NODE_ENV I didn't change anything else in the config. Is there a way to disable relic since I don't use it? (And maybe also some other stuff in the config?) Removing th

[2015-01-06 16:55] kangabell commented on #4399
@crookedneighbor Hey, yep. Here's the CSS: https://github.com/HabitRPG/habitrpg/pull/4486

[2015-01-06 18:07] kangabell commented on #3293
@GitHubSphinx Can this be closed, as per https://github.com/HabitRPG/habitrpg-shared/pull/339?

[2015-01-06 18:20] crookedneighbor commented on #3293
@kangabell Good eye!

[2015-01-06 18:20] #3293 closed, assigned to nobody

[2015-01-06 18:46] kangabell commented on #2377
@brightbold Did you make a commit and not PR it? Maybe you should put in a PR so your changes can be merged?

[2015-01-06 18:51] kangabell commented on #3108
I've seen To-Do titles disappear too but not sure how.
Note: I think the reason why the task title area is cut off is because it gets shortened when there is no title present. You can see this happen if you edit a task that does have a title and remove the title while in edit mode.

[2015-01-06 18:58] deilann commented on #4482
Yeah, I figured that's what it would be...

On Tue, Jan 6, 2015 at 7:18 AM, Blade Barringer notifications@github.com
wrote:

[2015-01-06 19:23] kangabell commented on #3894
Not sure if I'm understanding the issue because it says "right side of screen" but the popover I'm seeing cut off is on the _left_ side... I think this might be resolved though?
@unholyHub @efim
![screen shot 2015-01-06 at 2 22 23 pm](https://cloud.githubusercontent.com/assets/5122304/5634642/782f77a6-95af-11e4-8fd8-20885f6964d8.png)

The placement isn't quite right (https://github.com/HabitRPG/ha

[2015-01-06 20:02] crookedneighbor commented on #4482
@deilann Do you have an opinion about whether it should be done in the jade file ([like my pr](https://github.com/HabitRPG/habitrpg/pull/4484)) or as a custom Angular filter?

I'm fine with just getting it done in the Jade file for now, the only reason I can think of to create a filter for it is if the truncated version of the date gets used in more than just the tasks.

[2015-01-06 20:20] lefnire commented on #4471
Interesting :/

On Tuesday, January 6, 2015, Matteo Pagliazzi notifications@github.com
wrote:

[2015-01-06 20:27] deilann commented on #4482
I'd say the more agile way to do it is to go ahead and do it in the jade
file then consider an Angular filter in the long run.

On Tue, Jan 6, 2015 at 12:03 PM, Blade Barringer notifications@github.com
wrote:

[2015-01-06 20:29] #4482 closed, assigned to nobody

[2015-01-06 20:29] crookedneighbor commented on #4482
Sounds good to me.

[2015-01-06 20:30] snouz commented on #1057
I just tried changing the reset time to 4 AM instead of midnight, and it reset my day, killing all my streaks and dealing about 39 damages.

[2015-01-06 21:05] Alys commented on #3894
Good point @kangabell, thanks.

[2015-01-06 21:05] #3894 closed, assigned to nobody

[2015-01-06 21:26] paglias commented on #1057
What time it was in your timezone?
Il 06/gen/2015 22:24 "snouz" notifications@github.com ha scritto:

[2015-01-06 21:37] rebepart commented on #4481
Yes I save it

[2015-01-06 21:43] lemoness commented on #1057
@snouz - We're sorry about that! You can restore your lost stats under
Settings > Site > Fix Character Values, and restore your streaks under Task
Edit. Thanks so much for reporting this!

On Tue, Jan 6, 2015 at 1:26 PM, Matteo Pagliazzi notifications@github.com
wrote:

[2015-01-06 21:50] crookedneighbor commented on #4481
@rebepart Would you mind taking a couple screenshots?

[2015-01-06 22:18] crookedneighbor commented on #3108
@bunnifluezl Is this still occurring for you? I tested it in Firefox and didn't get any weirdness.

[2015-01-06 22:34] rebepart commented on #4481
Sure it will have to be tomorrow I have no computer currently

[2015-01-06 22:40] lemoness commented on #4446
Posted! We'll see if we get any takers.

[2015-01-06 22:44] lemoness commented on #4477
Good news! The following features are in the works/requested:

-Push notifications
-Record Yesterday's Activity

The others should be requested on Trello. Unfortunately, we will not be
able to combine Dailies and To-Dos, as that would greatly change a
component of the app that most of our users find very useful.

If your Daily should not be due on the day it is usually due, you can
disable it unde

[2015-01-06 23:11] k8sullyvan commented on #4446
Potentially the Armour template should be adjusted to prevent future occurrences, or was it just on the original sets of armour?

[2015-01-06 23:22] sadanyagci commented on #4477
I wasn't suggesting changing the dailies component of the site in the way you are suggesting. It would still function the same. It would just have additional capabilities. It would also eliminate the need for such extensive usage of cron, which I have read is one of your performance issues.

I wasn't giving feedback. I was asking for feedback on changes I would like to make. I'm not looking to req

[2015-01-06 23:34] lemoness commented on #4446
It should just be on the original sets of armor, unless I am mistaken!

On Tue, Jan 6, 2015 at 3:11 PM, UncommonCriminal notifications@github.com
wrote:

[2015-01-07 00:44] lefnire commented on #4480
Strange... I've reset you, give that a go

[2015-01-07 00:45] lefnire commented on #4480
Got another mention of this via email, bumping the priority

[2015-01-07 01:37] lemoness commented on #4477
@sadanyagci Ah, I see! I'm sorry about that, I didn't realize that these were changes that you were hoping to make yourself. We frequently get inundated with requests for changes from users who want  programmers to implement the changes for them, and the standard practice is to redirect to Trello so that ideas can be discussed there by all users and then brought to Github only when a concrete chan

[2015-01-07 02:03] bunnifluezl commented on #3108
Nope! Everything seems to be working now. :) Thank you for asking!

On 6 January 2015 at 17:18, Blade Barringer notifications@github.com
wrote:

[2015-01-07 02:15] sadanyagci commented on #4477
That's alright. I can definitely understand being accosted by people recommending you do what they want rather than offering help. Thank you for reopening the ticket. :)

I'm wanting to offer my help on coding the site in general. These are the things I thought would be best to look into first. I have other ideas as well. The basics of this just seemed to be the most foundational, least amount of

[2015-01-07 02:20] #3108 closed, assigned to nobody

[2015-01-07 06:28] kb-code opened #4487 "purchased background set, but it charged me individually (two months running)"
it happened again... both this month and last, when I went to purchase the bg set for 15 gems, it said it went through (this month, given last month's experience, I even made sure to wait for the blue bar to go completely across before setting a bg), but then a moment later, my bg changed back to prior one, and when I went to change it to new one again, I saw that it had registered my bg purchase

[2015-01-07 12:51] rebepart commented on #4481
I believe the problem was the computer itself. I was using a school computer so there was most likely something wrong with it not with the website (I will mention that I have used HabitRPG with the same computer before and it worked normally). When I went to habitRPG with my Laptop it worked fine (the buttons still moved a little bit but not enough to make them not work)

I'll try again with the s

[2015-01-07 14:08] crookedneighbor commented on #4481
Ok. I'll close this issue, but I'd still be curious to see it.

[2015-01-07 14:08] #4481 closed, assigned to nobody

[2015-01-07 14:53] brightbold commented on #2377
@kangabell I remember I worked on this but I don't know why I didn't do a PR - I think maybe I was waiting for consensus following @wc8's comments, but it seems like this should go ahead and happen. This weekend I'll take a look at where I left off, make sure it was done, and do a pull request.

[2015-01-07 15:23] paglias commented on #4485
@tohn hi, the production mode is meant to run HabitRPG on the server used at habitrpg.com or beta.habitrpg.com not on a local machine because it's set to setup a lot of external services that are not avalaible during development like payments, monitor services and email server. You should run it in development mode, it won't affect the performances much if you're using it on your machine for just

[2015-01-07 15:23] #4485 closed, assigned to nobody

[2015-01-07 16:00] paglias opened #4488 "Cron run early when changing CDS to an hour past that of the last cron"
To reproduce:
1. User has `dayStart` set to `0` and logins at `1am` of `Jan 1`
2. On `Jan 1` at `2am` user changes `dayStart` to `4am`
3. When the user perform an action on `Jan 1` past `4am` the system will see a `lastCron` that happened before `4am`, it will think of it as yesterday and run cron.

**Possible solution:**

Store the old `dayStart` value and use it to calculate if cron should run h

[2015-01-07 16:06] MaxHedrm commented on #1057
Well, it seems to still be broken (or worse?). I think I had this happen a few times ages ago, but today, after the "fix" it did it again. I do have a custom cron time. & was up & checked off some dailies after midnight, but it's not even like it only failed to reset those. The only thing checkable are those that weren't checked (or weren't available to be checked) yesterday.

EDIT: Nevermind, tha

[2015-01-07 16:08] paglias commented on #1057
@MaxHedrm thanks for the report. What do you mean by:

Also coult you post here your UUID? It can be found in Settings -> API

[2015-01-07 16:11] MaxHedrm commented on #1057
Exactly what I said. The dailies that I failed to do yesterday were available, as were those that are enabled for today (Wednesday) but not yesterday (Tuesday).

[2015-01-07 16:12] wildcate commented on #4480
Same issue with my husband's account and mine - we both self-gifted a block subscription. There was a gem-buying issue with the gift subscriptions when they became first available, maybe the rollover problem is linked to that?

[2015-01-07 16:12] MaxHedrm commented on #1057
Oh, and the User ID is b7fd010e-bf83-47af-a2a1-70144c224b93 ... by the way, when directing people to get information you should probably use Interface labels (User ID rather than UUID).

[2015-01-07 16:19] paglias commented on #1057
So your cron run earlier than expected. Among "The dailies that I failed to do yesterday were available" any of them are avalaible even though they shouldn't be? Like if one of them was scheduled only for Tuesday but is avalaible also on Wednesday.

Thanks for the UUID and sorry for the directions, I didn't thought about the label it's using.

[2015-01-07 16:19] paglias commented on #1057
I see your edited your comment, so is everything ok?

[2015-01-07 16:23] brandonjreid commented on #4488
I can take a look at this later this week.

[2015-01-07 16:52] owenblacker commented on #4315
@Alys Aha!

That'd do it.

Sorry for the mistake!

[2015-01-07 17:13] MaxHedrm commented on #1057
Nope. it was more like the cron didn't run, but whatever controls the scheduling worked fine. But after refreshing 3 or 4 times, everything finally caught up and looks good now.

(The UUID vs User ID comment was more for others, I knew what you were talking about. :-) I'm probably just grumpy this morning.)

[2015-01-07 17:25] snouz commented on #1057
@paglias it was 9pm something I think. (I'm in UTC+1:00)

[2015-01-07 20:50] kangabell commented on #2377
@brightbold cool sounds good

[2015-01-07 21:16] bTackt commented on #3486
I also have problems with this--I won't repeat everything that's been said here, but this is my problem. My computer isn't a spectacularly strong one (by that I mean that it cannot hold very heavy applications up well, as I assume Habit to be), but my sister, who uses Habit on the same network, on the same OS and browser (Windows 7, [latest] Chrome) has no problems with speed. Just another informa

[2015-01-07 21:24] Alys commented on #3486
@knittingfrenzy18 Could you please tell us roughly how many tasks and rewards you have and how many your sister has? If you don't want to count them, go to the Data Display Tool (from the website's Data menu) and use the "Tasks Statistics" section. The count of rewards is under the table.

[2015-01-07 21:28] bTackt opened #4489 "Cron ran halfway."
I logged into Habit today, 1/7, at approximately 1:30 PM to find that my dailies hadn't been unchecked from their state yesterday. Correspondingly, I hadn't lost any health. It was somewhat as if I had been in the Inn for a night, while I haven't.

However, cron has run; @paglias confirmed that the db showed that I had run it, and my collection for the party's quest for today has worked.

I've bee

[2015-01-07 21:31] Alys commented on #4489
UUID is 6cb43b60-641d-4e30-a529-9f4733508958 (from Tavern post).

This sounds like a duplicate of https://github.com/HabitRPG/habitrpg/issues/4313 which was happening before the experimental cron fix.

[2015-01-07 21:36] crookedneighbor commented on #4477
### Stuff I'm interested in

**Alarms:** Particularly the push notifications. I think that could be a great feature. [Here's a Github ticket](https://github.com/HabitRPG/habitrpg/issues/4279) if you want to add something to the conversation/start working on it.

**Calendar:** A calendar view is intriguing. There could be modes to see everything, just upcoming events, history (of when habits were c

[2015-01-07 21:39] bTackt commented on #3486
Well my sister is not letting me even _look_ at her habit (-_-) but she estimates 20 habits, 20 dailies, 3 todos, and 5 rewards. I've got 15-20 habits, 15-20 dailies, 30-35 todos (a lot!) and ~5 rewards. I do keep a lot of todos + checklists in said todos.

[2015-01-07 22:01] lefnire commented on #4480
TL;DR, it will be fixed on your next cron (tomorrow). Ping back if it's not reset tomorrow.

Long: Gifting wasn't setting `member.purchased.plan.dateUpdated` (if `!null`) meaning recipients didn't have a `dateUpdated` to check against for reseting gemCapExtra (`moment(undefined).format('MMYYYY') == today` at https://github.com/HabitRPG/habitrpg-shared/blob/54a9df4619e033fe9d590c6a69fe755200dff3f3/

[2015-01-07 22:53] sadanyagci commented on #4477
**Revamping Timing and Change Dailies:** I assume you're referring to daystart being used in quests, in which case use the equivalent default task value, either the start or end number. Any dailies would be counted based on the day they expire, based on that default task time that is equivalent to daystart. Would this solve the issue? Are there any other quest issues in this area?

**"My idea for

[2015-01-08 03:54] Alys opened #4490 "Custom Day Start box registers changes too quickly (can trigger cron inappropriately)"
As reported by papabearrr in the Tavern, when you are typing into the Settings -> Site -> Custom Day Start box, every keystroke can be immediately saved to the server. Confirmed in Firefox and Chromium on Ubuntu.

For example, if it starts as 23 and you want to change it to 17 by hitting backspace twice and then typing 1 and 7, it will save three separate times: 2, then 1, then 17. Using the arrow

[2015-01-08 04:08] lefnire commented on #4297
bumping prio

[2015-01-08 06:26] Artimax commented on #4242
Hi, I am having the same problem. I left every challenge and deleted all of my personally added tasks before becoming frustrated and discontinuing use for over a month. However, the site is incredibly useful and I would like to be able to use it again... I do not know whether the challenges that go with my tasks are open or closed, and I do not remember which challenges they were, but I have tried

[2015-01-08 06:50] Alys commented on #4242
@Artimax please go to the Challenges page at https://habitrpg.com/#/options/groups/challenges and in the left hand column, click the "All" button, and then scroll down a bit and click the "Participating" radio button. Now scroll up to the top of the page. Do you see any challenges listed there? If so, leave them, being sure to chose the option for deleting challenge tasks.  For any challenge tasks

[2015-01-08 07:06] Alys commented on #4242
Also, @Artimax, I've looked at your database data and you have quite a few tasks that are not associated with any challenges, so you should be able to delete them without any problems. You have some tasks that are associated with challenges that are marked as "broken" (the broken megaphone icon) and you should also be able to delete those by clicking on the megaphone icon. If you want to start fro

[2015-01-08 07:13] Artimax commented on #4242
Hello,
Thank you for the quick response. I have done all of this several times and none of it helped.

[2015-01-08 07:15] Artimax commented on #4242
I will try to reset, but my tasks page lists all of my tasks as associated with challenges and the broken megaphone icon does not appear with any of them, no matter how many times I check them off. Perhaps it's just a glitch in the way the data is displaying itself to me?

Sent from my iPhone

[2015-01-08 07:43] Alys commented on #4242
@Artimax Can you please give us a screenshot of your tasks page, or more than one if needed to show all your tasks? You can come to this issue to drag the image(s) into a comment (emailing them won't work).

[2015-01-08 09:20] mlivits opened #4491 "Costume does not appear in app"
Hello,

The avatar's costume does not appear in the app, instead you can only see the avatar's underlying and active gear.  When I pull up the avatar on my iphone's search engine, I can see the costume.

877e1b83-96a6-4669-8a10-1f9e2c9b47c9

[2015-01-08 09:28] Alys commented on #4491
When new art is added to the website, it always takes a while to show up on the phone. The next time the app is updated, the items will appear. That should be very soon now. The android app has already been updated; I believe Apple's iOS approval process is slower.

[2015-01-08 09:28] #4491 closed, assigned to nobody

[2015-01-08 15:22] Dewines commented on #4397
FWIW, the emoji are their usual colourful selves in Firefox (v 23) running on Windows XP. I was  accessing Habit from the college where I work and thought, "Yay! They've fixed the emoji" but when I got home on my Windows 8.1 computer, they were sad and flat again.

[2015-01-08 19:05] taldin commented on #4487
I'm not a dev, but I didn't have a problem purchasing a background set this month or a couple of months ago.   Can you tell us what your HabitRPG setup (hardware/software operating system) is that you were using when this happened?

[2015-01-08 19:18] lefnire commented on #4491
yeah, apple takes ~2weeks to approve. I submitted yesterday

[2015-01-08 19:31] crookedneighbor commented on #4491
@lefnire did you resubmit with the fixes you and @negue made?

[2015-01-08 19:32] lefnire commented on #4491
resubmitted at https://github.com/HabitRPG/habitrpg-mobile/commit/b1586f848598a66b4f0b13b69083ee5d4ccda645

[2015-01-08 19:44] kb-code commented on #4487
hi taldin,

sure, I'm using HP Envy 15 with Win8 4 gb ram.  Internet over wireless
hotspot (which admittedly even with 4g will lag sometimes on hRPG page.
However, I don't think this would cause it, because if the signal was down,
then it shouldn't have registered the purchase at all, instead of
registering whichever ones I had clicked on before the page refreshed/reset
back to old bg).  I haven't

[2015-01-08 20:05] mlivits opened #4492 "Integrating Pomodoro App"
I saw in the wiki that a pomodoro app can be integrated with the habitrpg app.  Unfortunately I am completely ignorant about coding. Would it be possible to create a video tutorial about how to go about integrating the app with habitrpg?

[2015-01-08 21:12] mjtamlyn opened #4493 "Color-only based visuals are unhelpful"
I have color blindness and the emphasis on colour with no icons for the goodness of a task is unhelpful. Because I see the world in different colours to normal vision, the gradient from red to yellow to green is very muddled and it's not immediately obvious when something gets "more green".

For the sake of clarity - I have no problem using color, referring to completed things as grey, overdue as

[2015-01-08 21:16] deilann commented on #4493
I'm colorblind as well and have brought this up as an accessibility issue in the past. Currently, the way I accurately gauge task "goodness" is by using Alys' [Data Display Tool](https://oldgods.net/habitrpg/habitrpg_user_data_display.html).

The grey is actually an issue for me because I have a tritanomaly, so it's difficult to distinguish between the blues and the grey. I'd really like folks to

[2015-01-08 21:16] #4493 closed, assigned to nobody

[2015-01-08 21:44] Alys commented on #4492
This is probably better sent to the creator of the integration tool, or at least to our Trello feature request board, but for now, please paste in here the URL of the wiki page that you saw this on. I'll have a quick look at it and then give you better advice.

[2015-01-08 21:47] crookedneighbor commented on #4487
@kb-code thanks for the info! (and thanks @taldin for commenting, I thought this had been addressed already, but apparently not)

I just granted you the 6 gems. The next time you purchase a set of backgrounds, could you do so in the Google Chrome browser with the javascript console open? You can open it by pressing `Control-Shift-J` on your keyboard. Since this has happened to you more than once,

[2015-01-08 21:47] #4487 closed, assigned to nobody

[2015-01-08 21:50] thaenor opened #4495 "open "tasks" page only with choosen tags"
Hi, this is a suggestion I came up with, noticed that now that started having too many dailies and habits and filtered them with tags.
When first opening the "tasks" page I suggest only a set of tags (defined by the user) be displayed.

Maybe a user doesn't want to see all his tasks, dailies and habits and start filtered out by a specific tag.

[2015-01-08 21:58] Alys commented on #4495
Your tags last used should be selected when you reopen the tasks page, which I realise isn't exactly what you ask for, but it might help. For your actual request, it's not a bug but a feature request, so it's best reported on Trello with related feature requests. To do that, use the Help menu and select Request a Feature. Follow the instructions on the page you'll be taken to. The Trello card that

[2015-01-08 21:58] #4495 closed, assigned to nobody

[2015-01-08 22:05] mlivits commented on #4492
Thanks for the prompt response! I also contacted the creator before bothering you guys but have not received a response.

This is what I'm talking about:
http://habitrpg.wikia.com/wiki/Ugo_Landini%27s_Pomodoro
http://habitrpg.wikia.com/wiki/The_Keep:Webpage_and_Pomodoro
http://habitrpg.wikia.com/wiki/The_Keep:Installing_Ugo_Landini%27s_app

I contacted the guy who wrote this but got no response:
h

[2015-01-08 22:17] Alys commented on #4492
I think a video tutorial probably won't help as much as you'd hope because a large part of the integration seems to be just copying and pasting the curl command with your [Unique User ID and API Token](https://habitrpg.com/#/options/settings/api) in it. What you might like to do is post to our [Wiki Trello board](https://trello.com/c/X2YPckSn/17-submit-your-suggestions-for-the-board) to ask if a w

[2015-01-08 22:21] crookedneighbor commented on #4492
Note, the curl command listed on the wiki and the blog post is using version 1 of the api, not version 2 (the current version).

[2015-01-08 22:37] Kaelan13 opened #4496 "Cannot Remove Inactive Challenge"
(So I hope I am explaining this right and posting it in the right place)
I have a daily challenge from Clean the Dungeon (December Edition) that I cannot remove or delete. There is no button and I already left C.t.D (Dec).

[2015-01-08 22:38] deilann commented on #4496
Click one of the tasks as if you did it. Sync. The megaphone should now be
broken and allow you to remove the tasks.

On Thu, Jan 8, 2015 at 2:37 PM, Kaelan13 notifications@github.com wrote:

[2015-01-08 22:50] Kaelan13 commented on #4496
I've tried that but the megaphone did not highlighted

[2015-01-08 23:10] Alys commented on #4496
@Kaelan13 See the instructions in "Deleting a Challenge Task" in the wiki's [Challenges](http://habitrpg.wikia.com/wiki/Challenges#Deleting_a_Challenge_Task) page. As it says there, you might need to do this a few times before it works, or you might have better luck on the mobile app. I'm sorry it's so annoying! Let us know in a couple of days if it's still not working (or immediately if you've al

[2015-01-08 23:14] Alys commented on #1057
@paglias In my non-moderator account (3e595299-3d8a-4a10-bfe0-88f555e4aa0c) I got the double cron bug this morning. The party chat reported the same message twice for damage I did to the boss, and the damage was definitely applied to the boss twice, because the boss died instead of being at the expected half total health. All of my Dailies were reset correctly.

[2015-01-08 23:40] Alys commented on #2805
In my non-moderator account (3e595299-3d8a-4a10-bfe0-88f555e4aa0c) I got the double cron bug this morning. The party chat reported the same message twice for damage I did to the boss, and the damage was definitely applied to the boss twice, because the boss died instead of being at the expected half total health. My HP change shows that the damage from my Dailies and from the boss was applied to m

[2015-01-09 01:32] Kaelan13 commented on #4496
I didn't even think to try the mobile app! That helped me so much, it is gone! Thank you so much for your help!

[2015-01-09 01:45] Alys commented on #4496
Thanks for letting us know! :)

[2015-01-09 01:45] #4496 closed, assigned to nobody

[2015-01-09 02:44] sadanyagci commented on #4477
While I was starting making mockups I had this idea I just had to bring out. What do you think of this calendar page idea? ![habitrpg calendar - timeline](https://cloud.githubusercontent.com/assets/3961627/5674810/b75821b2-9776-11e4-9ff4-7928367d0e6a.png)

[2015-01-09 03:47] bTackt commented on #3486
Wait, to be noted: My account runs fine on other machines in the house. It's just my computer/setup.

[2015-01-09 03:52] ghost commented on #4420
I am having the same issue with canceling my subscription.  I am clicking "Cancel Subscription" in the Settings menu, I get a pop-up confirmation, I click confirm, and then I get the same error message that Memry got.

![screen shot 2015-01-08 at 9 47 40 pm](https://cloud.githubusercontent.com/assets/10458692/5675292/41ea2466-9780-11e4-88fa-dee661bab9ac.png)

User ID: 20622df2-a733-4e7a-a106-1b3b5

[2015-01-09 04:09] crookedneighbor commented on #4420
@annabsheff please [email lefnire](mailto:tyler@habitrpg.com) directly to work this out.

[2015-01-09 04:36] ghost commented on #4420
Thank you, @crookedneighbor.

[2015-01-09 05:05] okuden commented on #4385
User ID f1932044-339a-409c-ab05-77e0dc4ddfb7
OS X Yosemite (Version 10.10.1)
Using site on Chrome and Firefox

After switching my character back to rogue, all but 2 points allocated to Perception vanished, and I have 0 points to distribute. I should have 37 total points in Perception. Here's a screenshot:

![screen shot 2015-01-09 at 6 04 16 am](https://cloud.githubusercontent.com/assets/10459249/

[2015-01-09 05:14] Alys commented on #4385
@okuden  Can you tell us the exact sequence of events? For example, you selected Rogue, then did your attributes appear immediately as they do now, or were you able to assign some points and then the others disappeared? Did you use Fix Character Values to make any changes at all, at any point shortly before, during, or after you changed to Rogue?

The problem is confirmed from the database:

[code

[2015-01-09 05:27] okuden commented on #4385
I changed from Mage to Rogue, and was immediately able to distribute all of my points. After about 24 hours, I visited the website again and the point amount on Perception had shifted to 0. At that time, I had 2 points free to distribute, and Strength was unaffected. I put the two points in Perception and waited another 48 hours before reporting the bug here.

I didn't use Fix Character Values.

[2015-01-09 05:40] Alys commented on #4385
@okuden Well that's just **weird**. In that 24 hour period, were you using the mobile app? Android or iOS? Did you notice any odd behaviour in the app even if it might not seem related?

Do any devs reading this have any idea what could cause that?

@okuden I've fixed your account so you should have the correct attributes now. Resync the stats page to see them. Let me know if it's not right.

[2015-01-09 05:48] okuden commented on #4385
I don't have the app, so this was on Chrome.

Thanks for fixing it! I resynced the page, and it looks like everything is fine now.

[2015-01-09 08:23] wildcate commented on #4480
Ping! Reset has not happened for me yet (I tried refresh, hard refresh and logging out and in again).
I also have an issue with the town crier, who appears but brings old news only - I can only get the new news by clicking on the "read old news", since the message is always one newsflash behind. (Probably not related, though.)

[2015-01-09 08:29] Alys commented on #4480
@wildcate Yes, that's not related. Whenever you see old news in the town crier window, do NOT dismiss that window. Instead just reload the page using your browser's refresh function. All that's happened is that your browser hasn't loaded the new content.

Please tell us your User ID (from the Settings -> API page). Also, has your husband's reset correctly? If not, tell us his user ID as well.

Bac

[2015-01-09 08:30] Alys commented on #4480
@wildcate Please tell us your User ID (from the Settings -> API page). Also, has your husband's reset correctly? If not, tell us his user ID as well.

[2015-01-09 14:33] grrosegr commented on #1057
All my dailies except 1 didn't reset today :(

[2015-01-09 14:55] scheidm opened #4497 "Unchecking a daily costs more gold/silver than it gives?"
Today I accidentally checked off a daily I had failed to accomplish. It gave me 62 silver. Then I clicked again to correct it and it debited me 73 silver. I did it again, just to double check, and it did the same.  I can't imagine that's working as intended. Please correct me if I am wrong.
## <bountysource-plugin>

Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/iss

[2015-01-09 15:25] #4261 closed, assigned to nobody

[2015-01-09 15:26] crookedneighbor commented on #4233
@Verabird and @pollockjj Either of you want to work on this still?

[2015-01-09 15:29] crookedneighbor commented on #2867
@deilann What do you think of this: http://venturebeat.com/2014/12/03/google-boils-down-the-captcha-to-a-simple-checkbox-to-prove-youre-not-a-bot/

[2015-01-09 16:16] Verabird commented on #4233
I'm not currently working on it.

[2015-01-09 16:59] paglias commented on #1057
@grrosegr thanks for the report, it would be very useful if you could tell us your User Id (Settings->Api) and the daily that didn't reset. If you don't want to share it here you can send the name of it via email at matteopagliazzi@gmail.com

[2015-01-09 17:07] crookedneighbor commented on #1057
I think @grrosegr said that all but one did not reset. Did the dailies stay checked after a refresh of the browser?

[2015-01-09 17:16] kb-code commented on #4487
okay, thank you @crookedneighbor!  Much appreciated.  And yes, I will do that next month (making a to-do right now)...

[2015-01-09 17:19] crookedneighbor commented on #4487
Helping us out and getting xp + gold for it, I like it! :+1:

[2015-01-09 17:26] grrosegr commented on #1057
Yes. I tried both refreshing and using your sync functionality.

[2015-01-09 17:28] wildcate commented on #4480
Thanks @Alys - I had not thought of doing a refresh with the town crier!

My user ID is: d7ca2b94-7515-4f88-bed0-cb16160e4b5f
and that of my husband (who has not had a reset either): a7886d4b-e617-4bd4-8698-c2c5f6224b26

[2015-01-09 17:28] crookedneighbor commented on #1057
Can you post your user id here? It can be found in [settings > api](https://habitrpg.com/#/options/settings/api) (be sure to copy only the user ID, not the API Token).

[2015-01-09 18:09] crookedneighbor commented on #3693
I vote for method 3.

[2015-01-09 18:31] Alys commented on #3693
**Method 4**:  Don't remove party members' quest progress when a boss quest finishes, if that party member has not cronned. The party member whose damage finished the quest should have their progress removed of course (that progress has already been assigned to the world boss). But does it really make sense to be removing progress that has not yet been applied to any boss? If the party starts a ne

[2015-01-09 19:27] Alys commented on #4497
Duplicate of https://github.com/HabitRPG/habitrpg/issues/964 although that's supposed to be fixed. But really, we're talking about 0.1 gold - very small. Minor rounding error?

[2015-01-09 19:43] Verabird commented on #4416
I'm still going to work on this some, but after running the numbers we seem to be in an "if it aint broke, don't fix it" situation. The diminishing returns function does prevent geometric growth in either PER or drop chance. It might take a while before I find anything that actually improves the situation, so if you're happy with how things are, we could close this ticket.

My original idea was to

[2015-01-09 20:03] crookedneighbor commented on #3693
I still think tracking it separately is the way to go (Method 3).

Also, there's a checklist item on the [Trello card for Quests v2](https://trello.com/c/VPPjVRlF/212-quests-and-bosses-v-2-collection-quest-and-boss-fight-enhancements) about overkill that might be relevant.

Don't know if that's still in the plan for it or not, but that would affect whether or not users quest progress should apply

[2015-01-09 20:23] Alys commented on #3693
The overkill bonus is an interesting idea, but if that was implemented, I imagine the quest would stay active until all party members had cronned, which would result in their quest progress being applied to that boss (and to the world boss) and then removed by the existing cron code. I don't think method 4 would interfere with that.

I think a useful question now is: **Do we actually WANT to be de

[2015-01-09 20:42] Alys commented on #4416
@Verabird thank you! That's a useful analysis. I think you're right that the current situation with diminishingReturns is certainly good enough for the skills rebalancing project, so I will close this as you recommend.

If you want to work on this further later, feel free. Or indeed on any other aspect of the site - I'm impressed with all your work so far and would love to see more! :)

BTW, I don

[2015-01-09 20:42] #4416 closed, assigned to nobody

[2015-01-09 20:57] crookedneighbor commented on #3693
Does Method 4 account for the DDT showing accurate data for damage to the world boss? How is the person's quest progress that does get reset for delivering the killing blow to the party boss get applied to the world boss?

As for why I think that local quest progress should reset, my thinking is one of logic for how that damage is being applied.

IE, I cast burst of flames to damage Trapper Santa.

[2015-01-09 21:12] paglias commented on #1057
@crookedneighbor he sent it via email to me

[2015-01-09 21:14] WeaverThree opened #4499 "Password reset should invalidate active sessions, and requires other improvements"
I went to login in Firefox to use a stylish theme, and realized I'd forgotten my new password already. Then I wanted to check something without the theme, and figured the easiest way would be to go back to Chrome and log in again.

(To be clear, I didn't do any part of the password reset operation in Chrome except copying text out of gmail.)

Except I didn't have to log in again, the chrome sessio

[2015-01-09 21:25] deilann commented on #2867
I feel like that article gives absolutely no real information.

On Fri, Jan 9, 2015 at 7:29 AM, Blade Barringer notifications@github.com
wrote:

[2015-01-09 21:35] lefnire commented on #4499
absolutely. There's a checklist of proper auth-handling we'll need to move too soon as we can:
- [ ] oauth. our current static uuid/api-token setup is cludgey - should be fixed as part of ifttt integration  / oath2 authentication improvements - https://github.com/HabitRPG/habitrpg/tree/oauth2-2015-01-10
- [ ] resettable api tokens - should be fixed as part of ifttt integration / oath2 authenticati

[2015-01-09 21:40] crookedneighbor commented on #4499
@lefnire Converted your ordered list to a checklist.

[2015-01-09 21:41] lefnire commented on #4499
- [x] √

[2015-01-09 21:52] crookedneighbor commented on #2867
Oh, sorry. I had looked at a few different articles in the same day a month or two ago on this topic. I grabbed the wrong link. Let me see if I can find the right one.

[2015-01-09 21:55] deilann commented on #2867
haha no worries

On Fri, Jan 9, 2015 at 1:52 PM, Blade Barringer notifications@github.com
wrote:

[2015-01-09 22:01] Alys commented on #3693
_Does Method 4 account for the DDT showing accurate data for damage to the world boss?_  Yes. The DDT reports only the current value of quest.progress.up from the user's data.

_How is the person's quest progress that does get reset for delivering the killing blow to the party boss get applied to the world boss?_ When a user completes Dailies or To-Dos or casts attack skills, their quest.progress.

[2015-01-09 22:01] crookedneighbor commented on #2867
Here's the actual info from Google: http://googleonlinesecurity.blogspot.com/2014/12/are-you-robot-introducing-no-captcha.html

[2015-01-09 22:03] bTackt opened #4500 "Checklist backending"
As I understand it, when creating checklists for a task, the backending for the "new item" is a bit wonky, something that particularly affects me since Habit is very slow for me.

Correct me if I'm wrong: You hit the enter button to create a new checklist item. Habit says, oh, okay, you're adding a new checklist item, let me increment this and that, and start notifying the server (which returns a

[2015-01-09 22:07] deilann commented on #2867
This I like!

On Fri, Jan 9, 2015 at 2:01 PM, Blade Barringer notifications@github.com
wrote:

[2015-01-09 22:08] Alys commented on #4499
I added mention of ifttt integration, which should fix the first two items just as soon as I get right onto that.

[2015-01-09 22:12] crookedneighbor commented on #4500
@negue Do you think the directive conversation in [your latest pr](https://github.com/HabitRPG/habitrpg-mobile/pull/325) will help with the lag?

[2015-01-09 22:15] Alys commented on #1057
I don't think User IDs should be considered private. You can see them in party and Tavern and guild chat, and hiding them makes it harder for multiple people to help solve problems. I'd really like to be able to see things like their lastCron date, so I can keep track of what's going on.

@grrosegr's problem sounds more like the new cron bug where some aspects of cron take effect but not others (h

[2015-01-09 22:18] crookedneighbor commented on #1057
I'd also like to confirm that @grrosegr is not checked into the inn currently.

[2015-01-09 22:32] grrosegr commented on #1057
User ID: 7c9bad1e-a156-4ee3-b167-c52ebc9b9c7b
No, I'm not in the inn. If it makes a difference, I just joined yesterday, so today should've been my first reset.

[2015-01-09 22:51] Alys commented on #1057
@grrosegr's lastCron is 2015-01-09T14:26:57.699Z

With this cron bug for this Issue, does anyone know if it's literally that cron does not run at all? I.e., lastCron would not be set if this bug occurred?

[2015-01-09 23:05] crookedneighbor commented on #4477
## Revamping Timing and Changing Dailies

So, would your calculations for quest damage cascade throughout the day depending on when the timeline for the specific task resets? IE, at 9am I damage the boss for completing task "foo". At 11am I damage the boss for completing task "bar". At my specified day start I damage the boss for everything that doesn't have a task specific time?

Or would you cal

[2015-01-09 23:36] lemoness commented on #4500
This happens to me frequently as well.

On Fri, Jan 9, 2015 at 2:12 PM, Blade Barringer notifications@github.com
wrote:

[2015-01-09 23:36] quettandil commented on #4490
I think I had this issue, too. I was changing my custom day start from 9 a.m. to 10 a.m., at around 3 p.m. I had already logged on after my original 9 a.m. cron and didn't die, but as I was changing the CDS, sometime in the middle of hitting backspace I died, and then noticed it hadn't been working as I expected, that there was a persistent "0" and I needed to just put the "1" in front of it, inst

[2015-01-09 23:41] lemoness commented on #4490
I wonder if this is the majority of the "changing custom daystart sometimes
triggers cron" issue? Do we have indication that it is something else, or
could this be it?

On Fri, Jan 9, 2015 at 3:36 PM, quettandil notifications@github.com wrote:

[2015-01-09 23:43] crookedneighbor commented on #4477
One other thing, while your idea is being discussed on Trello, I'd encourage you to take a look at some existing issues and submit PRs for them. That'll be a good, easy way to get acquainted with the code base!

[2015-01-10 00:00] sadanyagci commented on #4477
### Revamping Timing and Changing Dailies

I'd recommend damage still be based on dailies that fall within the range of a certain daystart. This would be functionally the same as it is now. The only difference is a person could mark it off after-the-fact, and as long as their party is still in the same calculable situation, the damage would be undone (in case they did the task but didn't mark it o