[2014-08-28 03:40] gwenicus opened #3942 "Party members and quest damage missing"
A new friend just joined my party (Group ID: 7592b476-4c9b-49e3-a34c-84a790bcb2c3), and now for me, the party is displaying as just containing me and her, and our in-progress quest isn't showing up, and group chat is blank.

HOWEVER, when I got a notification related to our party yesterday and today, clicking that brought me to a version of the chat page that had the four original members listed (

[2014-08-28 03:41] gwenicus commented on #3942
Also, I've tried viewing the page in several different browsers, clearing history, logging out and logging in again, and nothing's helped.

[2014-08-28 04:14] Alys commented on #3942
Can you please paste in the Unique User IDs of all party members? You can find them on the Party page in the Members box in the left-hand column. Click on each person's name to see their profile and their UUID will be at the top.

EDIT: Hmmm. Of course that will be difficult since you can't see most of the party members. Sorry. :) Bewildebeest has posted in the Newbies Guild so I'll get them to he

[2014-08-28 05:27] Alys commented on #3941
Okay, then it's the same issue that's reported here: https://github.com/HabitRPG/habitrpg/issues/2667
You can follow the progress of the fix in that thread (use Notifications in the right-hand column if you'd like email updates). Could you please add a comment there stating that you're having this problem (pasting in the sentence from your initial message here would be good) and also add your User

[2014-08-28 05:27] #3941 closed, assigned to nobody

[2014-08-28 05:54] gwenicus commented on #3942
I managed to get all the UUIDs off the page I get linked to when there are messages posted in the party.  Thanks for your help!

gwenicus (me): 0fcc93cd-a567-4c64-98e3-b9abb0d66c43
bansheekitty (the new member): 69e659b0-39d1-4521-a660-1577c88a532b

Other party members:
bewildebeest: fc1b3c1a-fb3c-4070-acf3-7acf64432156
jspeed: 43e7f5b9-6003-44dd-a4da-387d09570997
ampere: 0aefacda-19b5-4b88-8c1b-c

[2014-08-28 06:15] Alys commented on #3942
@gwenicus Nice work. :)

For the record, here's bewildebeest's message from the Tavern explaining the issue from the opposite point of view:
_"More party weirdness to bother you guys with.. A 5th person was invited to join and then did join our party. However, only one other person in the party can see her. (Heh. Imaginary friend?) For me, I just see the original 4 members; for her, though, she su

[2014-08-28 07:00] gwenicus commented on #3942
I'd been wondering about leaving the party and rejoining...That's probably the most straightforward option.  Would it affect it at all that I was the founder of the party?  Then, if that doesn't work, we can go to option Tyler.  And we would definitely be appreciative of a gryphon scroll; we are fans of pets.

Thanks again

PS I've known our newest party member since we were both four years old.

[2014-08-28 07:07] Alys commented on #3942
It probably does mean that you would not longer be leader of the party; someone else would become leader at random. If that bothered you, we could ask Tyler to fix that - I think it would be an easier fix, and would not be so urgent for you I imagine?

You being leader now will not stop this from fixing the current problem. I say try it! :)

Isn't four years old exactly the time that imaginary fri

[2014-08-28 09:37] pepperpanda commented on #3938
I think I'm experiencing these errors again.

EDIT: Oh it's gone now.

[2014-08-28 13:26] Bewildebeest commented on #3942
Hey, sorry, I'm back!  Gwen, I'd rather like to finish this scroll, given that we're past the halfway point, and I think it'd be especially frustrating to our other two party members to have their progress suddenly erased (especially since this is their first quest).

Can you wait a few days while Tyler takes care of it?  (We could also discuss this elsewhere and come back with a decision.)

[2014-08-28 13:32] Laserpiano opened #3943 "Blank task appears, possibly as result of moving a task"
I remember moving a task manually upwards and then when I scrolled down it appeared. Before that I had joined some challenges as shown is the screenshot.
![untitled](https://cloud.githubusercontent.com/assets/8580071/4076144/75313454-2eb7-11e4-931b-ed115c929aee.png)

[2014-08-28 16:23] stormyhearted opened #3945 "Minor bug?"
Yesterday morning I started getting a weird pop-up when I click on a habit or task- it doesn't register my click but instead says "to=__ &from=__ are required" in a blue notification box. If I click the task a second time, it registers.

It's not really interfering with my use of Habit but I have no idea what it is. For reference, I'm using Chrome on Windows 7.

[2014-08-28 16:53] lefnire opened #3946 "Move back to old jQUI sortable (tasks & tags)"
I moved from jQuery UI Sortable to angular-ui-sortable in https://github.com/HabitRPG/habitrpg/commit/750135b6734b8a3978885e97d83bc14fb423a3cb . I've been seeing a lot of new tickets re: sorting on GH, which can only be because of this move. Time to move back, just making a note-to-self ticket

[2014-08-28 17:01] lefnire commented on #3937
@deilann do you know how to refund?

[2014-08-28 17:02] deilann commented on #3937
I think you just cancel the bounty through bountysource?
On Aug 28, 2014 10:01 AM, "Tyler Renelle" notifications@github.com wrote:

[2014-08-28 17:11] lefnire commented on #3937
@androidadvocate maybe it was already refunded? Checking https://www.bountysource.com/issues/4077342-please-assign-me-as-guild-leader shows a $0 bounty.

[2014-08-28 17:17] gwenicus commented on #3942
Ok, let's wait a few days and see if Tyler can fix it.  But if I don't get baby gryphons, can we do the quest again?

[2014-08-28 17:21] deilann commented on #3942
If Tyler can't fix it, I will manually grant you the eggs. :)
On Aug 28, 2014 10:17 AM, "gwenicus" notifications@github.com wrote:

[2014-08-28 17:21] Bewildebeest commented on #3942
Of course!  Hm.  I'd sort of assumed that since you're still showing up on my party screen as part of the quest you'd still get the reward, but I guess if your damage isn't showing up, who knows...

So how do we get this to Tyler?

[2014-08-28 17:22] deilann commented on #3942
@lefnire (Tyler) has already been pinged, I believe but if he hasn't he now
has.
On Aug 28, 2014 10:21 AM, "Bewildebeest" notifications@github.com wrote:

[2014-08-28 17:33] Bewildebeest commented on #3942
Thank you!

[2014-08-28 19:34] Alys commented on #3945
Your mouse is jiggling the task slightly, making HabitRPG think you are trying to move it to a new position, and that error occurs when a "move" is from one position back to the same position. This inadvertent jiggling sometimes happens with old or faulty mice, or with drawing pads used as mice.

A fix has been submitted for not showing that error for a "move" from one position to the same. It wil

[2014-08-28 19:34] #3945 closed, assigned to nobody

[2014-08-28 19:37] Alys commented on #3943
Possible related to https://github.com/HabitRPG/habitrpg/issues/3946 ?

@Laser-guy are you able to delete the task?

[2014-08-28 20:05] Alys commented on #3893
Tch. I've just realised this is a duplicate. I should have checked that days ago. @georgit, you can follow the progress of the fix by subscribing to https://github.com/HabitRPG/habitrpg/issues/2805 (Notifications section in right-hand column).  @SabreCat , you know the drill. :)

[2014-08-28 20:05] #3893 closed, assigned to nobody

[2014-08-28 20:07] Alys commented on #2805
Also happened to @georgit and @SabreCat in https://github.com/HabitRPG/habitrpg/issues/3893

and to Emocube (6a962f71-8b15-44cb-bcfa-107b9ab01c15) in the Tavern. [Screenshot](https://farm4.staticflickr.com/3892/14876303679_3d4b3b8728_o.png)

[2014-08-28 20:12] lefnire commented on #3942
So, for some reason @gwenicus belongs to two parties. Duplication operations happen periodically on a server down-swing. Eg, user account gets created twice, party-creation happens twice, etc. In this case, @gwenicus created a party, a duplicate create0op went through to the database, gwen belongs to both. That "bad" duplicate party ID started circulating, and now some members belong to one and so

[2014-08-28 20:19] Bewildebeest commented on #3942
Hi!

There's nothing we want to save in the "bad" party (I assume that means the accidental party of 2?), but we're currently doing a quest in the "good" party (the one that currently has 4 people but should have 5), and we don't want to lose our progress in this quest.  If she leaves, will the "good" party stay intact and have our progress still there?

[2014-08-28 20:24] lefnire commented on #3942
Yes indeed, as long as you only click "Leave" during a browsing session where the "bad" party is what you see.

To explain fully (to easy your fears):
- When a duplicate party-creation DB op goes through, it will create two separate parties, with the exact same details, but with different `_id`s (the thing that uniquely identifies the party)
- When you load up the page, the database say "give me t

[2014-08-28 20:33] deilann commented on #3942
Can I suggest to turn the confirmation of leaving things (groups and
challenges) to an actual dialogue box? Leaving a challenge without pressing
confirm also causes issues.
On Aug 28, 2014 1:25 PM, "Tyler Renelle" notifications@github.com wrote:

[2014-08-28 20:40] lefnire commented on #3942
I'd like that too

[2014-08-28 20:43] lefnire commented on #3942
Oh, you know why we didn't do it. You can't provide JS confirm dialog with multiple options. The way these popovers work is if you have challenges associated with the party, it asks if you want to keep those challenge tasks, remove tasks, cancel, etc. Same goes for leaving challenges. We could do a modal if that's better than a popover, but I don't think we can use `confirm()` or `alert()`

[2014-08-28 20:46] deilann commented on #3942
Modal would be more obvious at least. Groups don't need multiple options
though just challenges yeah? Just confirmation?
On Aug 28, 2014 1:43 PM, "Tyler Renelle" notifications@github.com wrote:

[2014-08-28 20:49] lefnire commented on #3942
No, if a group has chals the member is participating in, it triggers the
same chal-leave options
On Aug 28, 2014 2:46 PM, "deilann" notifications@github.com wrote:

[2014-08-28 20:52] deilann commented on #3942
Oh see I even screwed that up then last time I left some guilds.
On Aug 28, 2014 1:49 PM, "Tyler Renelle" notifications@github.com wrote:

[2014-08-28 21:00] ghost commented on #3943
Sorting seems really messed up in general right now, especially in the development branch. Might want to wait to work on this until #3946 is finished

[2014-08-28 22:18] wysawyg commented on #3770
I'm happy to take a look at this if no-one else already is though I'm a newbie to contributing and angularjs (though not coding in general) so it may take a bit of time!

[2014-08-28 22:32] #3946 closed, assigned to lefnire

[2014-08-28 22:37] lefnire commented on #3381
Response:

I'll investigate PRO

[2014-08-28 23:21] gwenicus commented on #3942
Leaving the duplicate party worked like a charm for me; I started showing up in the original party right away.  I'll just wait to see if my quest damage starts showing up on chron tonight.  I think bansheekitty is now in a party by herself.  I assume we should tell her to leave that party and then send another invite?

[2014-08-28 23:24] Alys commented on #3942
@gwenicus : Yes.

[2014-08-28 23:32] lefnire commented on #3381
Applied for PayPal Payments Pro. I called customer support and verified, to accept international recurring subscriptions one indeed must be on PRO. It's like Express/Standard's recurring payments feature is a trial! Hopefully this thread helps some other unlucky sap down the pike.

Anyway, turns out the code for Express/Standard recurring payments is different than for Pro's (according to lady on

[2014-08-28 23:34] deilann commented on #3381
Is this going to break current subscriptions?
On Aug 28, 2014 4:32 PM, "Tyler Renelle" notifications@github.com wrote:

[2014-08-28 23:34] lefnire commented on #3381
That's a good question. I'll email them with that question when I hear back

[2014-08-28 23:35] deilann commented on #3381
Awesome. You might also want to G+ this info for those who don't follow the
repo.
On Aug 28, 2014 4:34 PM, "Tyler Renelle" notifications@github.com wrote:

[2014-08-29 00:03] ebiagogo commented on #3943
I had a couple of empty tasks show up in my Dailies section after trying to reorder them today as well. Moving the tasks around is messed up for sure. After trying to move a couple of times (without success) some of the tasks became unmovable. I can confirm that I was able to delete these new tasks without a problem.

[2014-08-29 00:08] ebiagogo commented on #3943
OK, I just retested this and sorting looks like it's working again and no blank tasks being created. I looked back at #3946 and it looks like the recent changes were reverted.

[2014-08-29 00:16] lefnire commented on #3943
Indeed, sorting is back to the way it was now on prod
On Aug 28, 2014 6:08 PM, "ebiagogo" notifications@github.com wrote:

[2014-08-29 02:57] ebiagogo commented on #3020
To recreate this, the user has to have 0 gems (and if the user is the group leader, that group has to have 0 gems as well). When you create a new challenge for the HabitRPG group, the logic forces a min gem value of 1. However, since the user doesn't have any gems (and in this case, the user isn't the group leader so there are no gems available from the group), the max setting for that input field

[2014-08-29 04:42] gwenicus commented on #3942
So my quest damage is not showing up, despite several refreshes and signing out and back in.  However, I'm still listed as a participant in the quest and I took damage from another party member's missed dailies.  The party is displaying correctly in all other respects.  Any ideas about what's still wrong?  Thanks for the help.

[2014-08-29 04:44] lefnire commented on #3942
I think the damage wasn't accounted for during that period, it should pick back up next cron

[2014-08-29 10:08] Alys commented on #3377
I have uploaded a fix for this along with some changes to implement eyewear: https://github.com/Alys/habitrpg-shared/commit/004ef8809e67dab31af86be8dab98baf2fd28f14 in https://github.com/HabitRPG/habitrpg-shared/pull/291

[2014-08-29 10:08] Alys commented on #3392
duplicate https://github.com/HabitRPG/habitrpg/issues/3377

I'll be uploading a fix for this along with some changes to implement eyewear in (probably) a couple of days.

[2014-08-29 10:08] #3392 closed, assigned to nobody

[2014-08-29 10:58] vivanesca opened #3947 "Can't add attribute points after account reset"
My attribute points show "-32" and neither automatic nor manual adding is to no avail.
![aa](https://cloud.githubusercontent.com/assets/6705130/4089390/5801d988-2f6b-11e4-8029-ec019fdd5ba2.jpg)
edit: I tried fixing it by changing stats like level and experience but it didn't work. Seems like they froze.

[2014-08-29 11:22] negue commented on #2654
Duplicate of #1402 ?

[2014-08-29 11:31] negue commented on #3863
So button color need to stay the same? Is this how it should work?

If not, this can be closed?

[2014-08-29 11:42] negue commented on #2747
Could you pls check again if the problem still exists?

[2014-08-29 12:23] negue commented on #2526
Can't reproduce, does the error still exist?

[2014-08-29 12:34] negue commented on #2499
What System Version do you have (it may helps to find a bug^^)

Do you still have this bug on your app?

Edit: Duplicate of #2392

[2014-08-29 12:37] negue commented on #2392
@ribbondance Do you still have this bug ?

[2014-08-29 13:10] ghost opened #3948 "sample data"
hi, I signed up, sample data is shown. how do I remove sample data.

[2014-08-29 13:13] negue commented on #3948
On each Item click on the trashcan, and it is deleted.

[2014-08-29 13:20] vulkman opened #3949 "Can't change name of tasks starting with "1." or "2.""
A YouTube video says more than a thousand words: https://www.youtube.com/watch?v=xFepg1yG6uU

[2014-08-29 13:23] negue commented on #1630
I can't reproduce this. May already have been fixed.

@Zian could you re-check?

[2014-08-29 13:27] negue commented on #1025
Should be closed, since currenty there isn't any iCal available. And re-open, If the new implementation has the same issue.

[2014-08-29 13:52] negue commented on #3949
See #3614.

[2014-08-29 13:59] LeFnob opened #3950 "Lost equipment glitch"
Every time I die, I always lose a piece of special equipment, not a piece of regular equipment.  It says I have lost a piece of regular equipment (like a sword), but then when I reload the page, it's revealed that I've lost a limited-edition piece that sometimes cannot be bought back.  Or, most recently, it says I lost the Rainbow Warrior armor, but upon reloading, I lost a Ninja-to instead.

[2014-08-29 14:47] Laserpiano commented on #3943
I have just successfully deleted it. I also noticed that it also appeared on HabitRPG app on my iPad. Anyway it now disappears as well.

[2014-08-29 14:52] AtomicVagabond commented on #2526
Not that I could see when I was last using the program.
Sent using CloudMagic
On Fri, Aug 29, 2014 at 7:24 AM, negue notifications@github.com wrote:Can't reproduce, does the error still exist?

—Reply to this email directly or view it on GitHub.

[2014-08-29 15:13] negue commented on #2526
Okay, then we need some more Informations^^

What Operating System?
What Browser?
What Resolution?
Do you have zoom activated from OS and / or the browser?

Do the habits have the same name?

Could you create a second account and try to reproduce there?

Are the "other" habits are always the same, that get the positive option?

[2014-08-29 15:46] ghost commented on #3827
I've been messing around with this a little bit, and this is one of the better options I've found so far. It feels a bit weird with the empty spot from the add task form, but it makes the buttons easy to get to and retains their location. Any feedback?
![screen shot 2014-08-29 at 11 41 42 am](https://cloud.githubusercontent.com/assets/8461012/4092538/94a48908-2f93-11e4-949a-12fa64cd46fb.png)
![scr

[2014-08-29 15:49] AmandaMock opened #3951 "Damage in party not loading"
I can see my party, and quest, I even see the damage other party members are doing and other elements in the feed. But my damage is not showing up in the feed or lowering the monsters health.

[2014-08-29 16:59] wysawyg commented on #3950
Are these items not available to re-buy in the Rewards column? They should be!

[2014-08-29 19:08] lefnire commented on #1025
good point

[2014-08-29 19:08] #1025 closed, assigned to nobody

[2014-08-29 19:09] #3948 closed, assigned to nobody

[2014-08-29 19:10] lefnire commented on #3863
it's just picking up taskColor classes as value changes. so minor worth closing IMO

[2014-08-29 19:10] #3863 closed, assigned to nobody

[2014-08-29 19:11] lefnire commented on #2654
yep, thx!

[2014-08-29 19:11] #2654 closed, assigned to nobody

[2014-08-29 19:21] ghost commented on #3748
If nobody's started addressing this yet, I think I'll start working on it next week.

[2014-08-29 19:23] deilann commented on #3748
This is my project and i already have the art and much of the code and
text. Please let me do it. I know it's been sitting a while, but it's kind
of one of my two babies, along with random encounters.
On Aug 29, 2014 12:21 PM, "kumarei" notifications@github.com wrote:

[2014-08-29 19:23] ghost commented on #3748
Yep, got it. Sorry, didn't realize

[2014-08-29 19:24] deilann commented on #3748
Someone with repo access, can you actually assign the ticket to me, to make
it clear I'm doing it? I'd do it myself but I'm stuck on mobile at the
moment due to my move.
On Aug 29, 2014 12:23 PM, "Ryan" yandoryn@gmail.com wrote:

[2014-08-29 19:28] paglias commented on #3748
@deilann assigned :)

[2014-08-29 19:30] deilann commented on #3748
No worries kumarei... it wasn't super obvious. :) And thanks Matteo!
Hopefully this will be able to be finished once I'm settled.
On Aug 29, 2014 12:24 PM, "kumarei" notifications@github.com wrote:

[2014-08-29 19:56] #3949 closed, assigned to nobody

[2014-08-29 19:57] Alys commented on #3943
Closing because we think this has been fixed with the change to put sorting back the way it was. We can reopen this if it happens again.

[2014-08-29 19:57] #3943 closed, assigned to nobody

[2014-08-29 20:03] Alys commented on #2526
In addition to negue's questions, which are important:

Have you noticed mis-clicks in any other app or OS feature on your device? There might be a problem with your mouse/trackpad/touchscreen.

What is your [Unique User ID](https://habitrpg.com/#/options/settings/api)?

What are the names of the two Habits? If there's anything private in them, give us just enough of the names so that our database

[2014-08-29 20:04] deilann commented on #2526
Another good question: did you recently sort your tasks? I've actually had
this happen because the sort happened on local, but wasn't saved server
side due to sorting too fast.
On Aug 29, 2014 1:03 PM, "Alice Harris" notifications@github.com wrote:

[2014-08-29 20:06] Alys commented on #3951
Click on the sync button on your party page. That's the button that looks like a circle made out of two arrows that's right next to the "send chat" button. It's important that you click THAT sync button, NOT the sync button in the top right corner of the page. The sync button next to "send chat" will cause new messages to appear in your party chat. Do you now see your quest progress?

If not, tell

[2014-08-29 20:12] Alys commented on #3950
duplicate: https://github.com/HabitRPG/habitrpg/issues/2789

When you die, you lose a random piece of gear. If its always special equipment, that's just a temporary run of bad luck.

There's a known bug (see the dup. link) where the wrong piece of gear is reported as lost.

You can always buy back gear lost on death even if it would not normally be available. If it's gear that belongs to a specifi

[2014-08-29 20:12] #3950 closed, assigned to nobody

[2014-08-29 20:17] #3349 closed, assigned to nobody

[2014-08-29 20:52] AmandaMock commented on #3951
I did, it's still not working. my UUI is
- 2d98182f-cd24-4048-aca8-f691708a1f14

On Fri, Aug 29, 2014 at 1:06 PM, Alice Harris notifications@github.com
wrote:

[2014-08-29 21:03] Alys commented on #3951
According to your publicly-available data that the API provides, you're not part of a quest. Did you accept a quest invitation for the current quest? It's looking like the person who bought the quest scroll might have started the quest before you had a chance to accept the invitation. This would mean that you are not on the quest and will not be able to damage the quest boss or receive the quest r

[2014-08-29 21:05] AmandaMock commented on #3951
This happened while things were going a little wonky with your systems.
1. No I have not joined the party recently
2. Yes I accepted the quest.

On Fri, Aug 29, 2014 at 2:03 PM, Alice Harris notifications@github.com
wrote:

[2014-08-29 21:12] Alys commented on #3951
Which quest is it? How long has it been running for and roughly how much damage has been done to the boss? What is your party's Group ID? You can find that on the party page.

[2014-08-29 21:19] AmandaMock commented on #3951
Attack of the Mundane Questline, Pt. 3: The Laundromancer

About 2 days I believe?

And the only damage done has been by another party member total of 45.

Group ID: fbed4fb8-73c7-48e8-88c3-208713f02a3a

On Fri, Aug 29, 2014 at 2:12 PM, Alice Harris notifications@github.com
wrote:

[2014-08-29 21:34] Alys commented on #3951
If it's been two days and there's only one other piece of damage, it's likely that others in your party have the same problem you do. This means that the quest would take much longer to complete than it should and that only some of the party will receive the reward. I recommend that the person who started the quest (bought the quest scroll) should abort the quest and restart it (the quest scroll w

[2014-08-29 22:08] AmandaMock commented on #3951
Fair enough, I will notify my party members.

Can I take on the The Call of Octothulu
http://habitrpg.wikia.com/wiki/The_Call_of_Octothulu quest?

On Fri, Aug 29, 2014 at 2:34 PM, Alice Harris notifications@github.com
wrote:

[2014-08-29 22:34] negue opened #3953 "API: Chat Like returns full chatlog"
Is this necessary?

I mean is it by design like that or just a bug?
## <bountysource-plugin>

Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/4127385-api-chat-like-returns-full-chatlog?utm_campaign=plugin&utm_content=tracker%2F68393&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&ut

[2014-08-29 22:36] lefnire commented on #3953
It's limited to 200, so it shouldn't be too much load. but if we can page it, all the better!

[2014-08-29 22:38] deilann commented on #3953
But why return the entire chat log when liking a message? Might make more
sense to return that message.
On Aug 29, 2014 3:36 PM, "Tyler Renelle" notifications@github.com wrote:

[2014-08-29 22:39] paglias commented on #3953
I think se might have done so in order to sync new messages upon every
action (send message, like...)
Il 30/ago/2014 00:38 "deilann" notifications@github.com ha scritto:

[2014-08-29 22:39] paglias commented on #3953
Anyway, Not saying this is the ideal solution
Il 30/ago/2014 00:39 "Matteo Pagliazzi" matteopagliazzi@gmail.com ha
scritto:

[2014-08-29 23:13] zincotroid opened #3954 "Skeleton Panda Mount Head Shift"
![image](https://cloud.githubusercontent.com/assets/7400973/4097281/b0ee9854-2fd1-11e4-97f9-ed887b46759a.png)

The skeleton panda mount's head looks like it's too far left, at least compared to the other panda mounts.

![image](https://cloud.githubusercontent.com/assets/7400973/4097299/1047acc8-2fd2-11e4-99c1-0859b8f4f753.png)

[2014-08-29 23:38] Alys commented on #2784
Is this still under consideration? I have no problems with removing the empty objects, but some of the other things are very useful for user support. dayStart and sleep are invaluable when helping with daily-reset issues, disableClasses is often useful when people forget they've disabled it, and some of the other preferences items can be useful too. The counts of specific types of drops and the la

[2014-08-29 23:42] deilann commented on #2784
So agreed. I can't see any reason those necessarily interfere with privacy,
and I am a huge habit privacy advocate.
On Aug 29, 2014 4:38 PM, "Alice Harris" notifications@github.com wrote:

[2014-08-29 23:44] deilann commented on #2784
Purchased however, filters... those aren't so good to be public maybe.
Purchased I'd like to be able to see for support, especially when users
cant find the gold for gems.
On Aug 29, 2014 4:42 PM, "Ryan" yandoryn@gmail.com wrote:

[2014-08-29 23:46] Alys commented on #3951
I've assigned you the quest scroll. If you refresh your inventory page you should see it. Tell me if you don't!

I'm going to close this since I'm confident that stopping and starting the quest will fix all the problems, but if you have any trouble at all or any questions, comment again here and we'll reopen this.

[2014-08-29 23:46] #3951 closed, assigned to nobody

[2014-08-29 23:55] Alys commented on #2784
purchased, history, and invitations are always empty when I look at anyone's data through the "members" route so there's no privacy leakage there. They'd be useful for moderator support but I'd consider privacy more important.

Not sure about filters. Is it meant to be the current tags in use? filters is always empty even when I look at my own data through the user route.

[2014-08-30 01:06] AtomicVagabond commented on #2526
It was on my old phone, a Motorola photon q. I used google chrome. It did have some software issues. That's about all the info I can give you. I don't really use habitrpg anymore.
Sent using CloudMagic
On Fri, Aug 29, 2014 at 3:04 PM, deilann notifications@github.com wrote:Another good question: did you recently sort your tasks? I've actually had

this happen because the sort happened on local, bu

[2014-08-30 01:10] #2526 closed, assigned to nobody

[2014-08-30 03:22] Alys commented on #3645
Pull Requests submitted:
https://github.com/HabitRPG/habitrpg/pull/3955
https://github.com/HabitRPG/habitrpg-shared/pull/291

[2014-08-30 04:12] gwenicus commented on #3942
Nope, second chron and still no quest damage.  Is it just this quest? Will it normalize when this one ends and we start the next one?

[2014-08-30 04:56] Alys commented on #3942
It looks like it kicked you out of the quest. I'm about to give you the three gryphon eggs that @deilann promised you. If you refresh your inventory in five minutes you'll see them there (tell us if you don't). Yesterday I gave you the promised quest scroll so that should be there too.

This is pretty much the best we can do without time-consuming manual database manipulations, so I'm going to clo

[2014-08-30 04:56] #3942 closed, assigned to nobody

[2014-08-30 08:14] paglias commented on #2530
I really think this would be a fantastic way of marketing HabitRPG, the first idea that comes to my mind is adding a small "Share" text link at the end of notifications which would open a modal allowing to share what you just achieved.

@lemoness @lefnire

[2014-08-30 12:59] LeFnob commented on #3950
The issue is that the gear I actually lost is not what it says was lost.  It would say my Hook Sword broke, only to reveal it was actually my Pirate Cutlass.  And this time, the Rainbow Warrior Armor, because it was only available one day, could not be bought back.  However, later that day it re-appeared.

[2014-08-30 13:26] Alys commented on #3950
Yes, that has been reported before. That's what's it means when on github someone says "duplicate <link>" and then closes the issue - it means the issue being closed is a duplicate of one that's been reported in the past, and the link points to the previous report.

Often, all you'll see is "duplicate <link>" with no further explanation, but I generally try to give more details. In your case, that

[2014-08-30 22:56] lefnire commented on #2530
_Absolutely_ this would be a huge marketing win for us. @lemoness this might be a good one to bump in prio in the monthly feature internal trello bit?

[2014-08-31 00:02] lemoness commented on #2530
Yes!!!!! Will add to Trello when I am at my computer

On Saturday, August 30, 2014, Tyler Renelle notifications@github.com
wrote:

[2014-08-31 00:25] negue commented on #3704
The problem doesn't exist anymore (tested on local version).  So this can be closed.

[2014-08-31 00:30] #3704 closed, assigned to nobody

[2014-08-31 07:43] Alys commented on #3933
New PR: https://github.com/HabitRPG/habitrpg/pull/3957

[2014-08-31 16:42] cm006j opened #3958 "Tasks That Can't Be Deleted"
I have some challenge tasks left over that I no longer want but there is no way to get rid of them. Even respawning didn't work! There's no delete option, there's no option to go back to the challenge and unjoin because it's already over. I really don't want these tasks anymore. What can I do?

[2014-08-31 16:46] deilann commented on #3958
If the megaphone for the challenge isn't "broken" yet, click one of the
challenge tasks like you did it then press sync. The megaphone should break
and you can then click the broken megaphone for the option to remove it.
On Aug 31, 2014 9:42 AM, "cm006j" notifications@github.com wrote:

[2014-08-31 17:06] cm006j commented on #3958
Oh! It did say "broken challenge link" but then once I hit the sync, it gave me the option to remove the tasks that I was looking for. Thank you!

[2014-08-31 18:17] lemoness commented on #3933
@lefnire let me know when you push this.

On Sunday, August 31, 2014, Alice Harris notifications@github.com wrote:

[2014-08-31 20:03] #3958 closed, assigned to nobody

[2014-08-31 20:32] ebiagogo commented on #3954
I have this fixed locally and can commit it once I read the the Artisan guide to make sure I submit the change correctly.

[2014-08-31 20:36] deilann commented on #3954
You'll need to submit arts permissions if you haven't already, so habit has
the rights to use the altered image. I know it's just a shift, but it's
still a change. :) You can find the info for permissions on the pixel art
trello. If you don't know where that is or can't find it, let me know.
On Aug 31, 2014 1:32 PM, "ebiagogo" notifications@github.com wrote:

[2014-08-31 21:12] ebiagogo commented on #3954
Yup, I found it earlier and saw there's a bit to read through which is why it's going to take me a little bit longer to commit it. It'll probably take more time for me to read through it and finish the steps than it took me to shift the image. :) It's all good though, I understand the reason the policies are in place. Thanks much for the info.

[2014-08-31 21:14] deilann commented on #3954
Awesome. :)
On Aug 31, 2014 2:12 PM, "ebiagogo" notifications@github.com wrote:

[2014-08-31 22:18] dpkenna commented on #3889
Same thing happened to me. I was not on a boss quest. I confirmed from more than one browser (including mobile) that my character was resting in the inn because I have had sync errors before. A couple days later I logged in and got a notice that my character had died. I was able to fix it with Fix Character Values so no real damage done, just something to look into since it seems this has happened

[2014-08-31 22:27] Alys commented on #3889
@dgitphubk : Did this happen to you today? Or in the past?

Note to devs investigating this: dgitphubk's publicly-available API data shows that at this moment, they are resting in the inn (sleep:true) and not on a quest (quest.key:null).

[2014-08-31 23:23] aedunn6 opened #3959 "Third Party Habits?"
When I logged into Habit this morning, I had some strange habits that I did not add. The task description says it was added by a third-party service. I'm not sure if this is from something I don't remember signing up for, or a bug. But, I assume it's the latter.
![odd habits](https://cloud.githubusercontent.com/assets/6609895/4103532/dd23e934-3165-11e4-900c-046b1a5e40ab.png)

[2014-08-31 23:47] Alys commented on #3959
See "Habit Added by a Third-Party Service" in [Known Bugs](http://habitrpg.wikia.com/wiki/Known_Bugs#Habit_Added_by_a_Third-Party_Service) or https://github.com/HabitRPG/habitrpg/issues/2558, They can be deleted.

[2014-08-31 23:47] #3959 closed, assigned to nobody

[2014-09-01 15:15] paglias opened #3961 "Error starting server"
I get:

[code]

[2014-09-01 15:50] lefnire commented on #3961
which mongoose version you on after `npm install`? I reverted the mongoose upgrade, is the older version unstable? See https://github.com/LearnBoost/mongoose/issues/1920 for the reason I upgraded then downgraded

[2014-09-01 15:55] paglias commented on #3961
@lefnire 3.8.5 I don't know why it continues to say it's unstable
![selezione_002](https://cloud.githubusercontent.com/assets/589911/4110307/65cb5a6c-31f0-11e4-81fa-1aa3af249f12.jpg)

[2014-09-01 15:58] paglias commented on #3961
@lefnire I'm with an empty database except for having run ./src/seed.js because I deleted the old one (it had a name conflict with the snapshot of the prod db)

[2014-09-01 17:47] OlliePage opened #3962 "test"
.

[2014-09-01 17:51] deilann commented on #3962
I believe the issue is that it takes a bit for it to "trickle" through all
the users. What has to happen is that your number of purchased gems has to
be set to zero.

Now, it's also possible that this is a caching issue. Logging out and
logging back in, or clearing your cache may fix the issue. Basically, your
browser would be holding onto the old number of gems you had purchased.
On Sep 1, 2014 1

[2014-09-01 18:34] lefnire commented on #3961
@paglias I ran `rm -rf npm_modules && npm install`, can't replicate. I'll try to replicate again when I get the chance, ideally https://github.com/LearnBoost/mongoose/issues/1920 will get fixed soon so we can just upgrade to mongoose#latest (which will likely stop that error)

[2014-09-01 19:05] Alys commented on #3962
@Revix, regarding unsubscribing: How much benefit you get from a subscription you have just cancelled depends on when your subscription first started; older subscriptions behave differently than newer ones. Please read the section called "Unsubscription Procedure" in [Subscription](http://habitrpg.wikia.com/wiki/Subscription) for full details.

[2014-09-01 19:25] ghost opened #3963 "Subscription canceled prematurely"
My sub got paid on Aug 25 and after a couple days I unsubbed thinking I would have perks until Sep 25 but today I find myself without sub, is there a way to add those sub days to my account?

[2014-09-01 19:29] deilann commented on #3963
Please email admin@habitrpg.com and Tyler will be able to help. Payment
issues are better handled privately, as they may require more sensitive
data to resolve.
On Sep 1, 2014 12:25 PM, "noakei" notifications@github.com wrote:

[2014-09-01 19:33] OlliePage commented on #3962
@deilann Ok that makes sense. I have cleared my cache from my brower (chrome), tried again, same result. If it is the trickle-down effect, I suppose I must be all the way at the bottom scraping the barrel!

@Alys I did mention in the OP that I have only had 30 days of subscription (thus a new subscriber, with the new behaviours). I also mentioned in the OP that I had already read the Wiki on the s

[2014-09-01 19:35] deilann commented on #3962
It's only noon here in California. :) and database order sometimes can
be... very random seeming. If this issue persists more than 12 more hours
let us know.

You said you wanted to change classes, right? What's your UUID?
On Sep 1, 2014 12:33 PM, "Revix" notifications@github.com wrote:

[2014-09-01 19:36] OlliePage commented on #3962
My UUID is fb2c26cb-1072-4dad-a57f-d6b2aadc78a7 - I should have mentioned that in the OP! Apologies. (Mage, if you're wondering what class I wanted to switch to :) )

[2014-09-01 19:42] Alys commented on #3962
"about half a month's worth of membership" - I took that to mean that your current month's subscription had lasted for only half a month, rather than you subscribed for the first time half a month ago. I did see that you said you had read the wiki, but there's a lot of information on the wiki about subscriptions and it's possible that you had not read the section that I specifically pointed out. W

[2014-09-01 19:45] Alys commented on #3962
I have given you three extra gems so that you can change class immediately. I do not have the ability to change your class for you.=

[2014-09-01 19:45] #3962 closed, assigned to nobody

[2014-09-02 04:20] #1015 closed, assigned to nobody

[2014-09-02 05:41] Ciremme opened #3964 "All dailies, todos and habits disappeared"
Dear mods,

when I created a new tag and dragged it to a different position all my other dailies, habits and todos disappeared. Now I only have the two new dailies left I have created in the new category and they are not even sorted in the new tag. All my tags are empty.

Username: Ciremme
ID: 5d757a68-7975-4547-a4c5-efe421a495ab

Could you please look into this?

[2014-09-02 05:44] Alys commented on #3964
Click the "clear" button to the left of your tags. Your tasks will reappear.

When creating new tags, it's important to follow the advice given in the wiki's [Tags](http://habitrpg.wikia.com/wiki/Tags) page ("Creating Tags" section) due to the bug that's described there. Reply here if you have any questions about that.

[2014-09-02 05:48] Ciremme commented on #3964
Thank you :) That was amazingly fast!

[2014-09-02 08:07] #3964 closed, assigned to nobody

[2014-09-02 08:10] HSalgo opened #3967 "Can't repurchase Nameless Helm"
Hello! I have a quick question. I've completed both the "Vice Awakens" and "Attack of the Mundane Questline, Pt. 3: The Laundromancer" quests, receiving Stephen Weber's Shaft of the Dragon and the Nameless Helm respectively. I recently used an Orb of Rebirth, and while the Shaft of the Dragon appears in my store, the Nameless Helm does not.

I haven't reached Level 10 yet, so if the Nameless Helm

[2014-09-02 08:12] deilann commented on #3967
@lefnire tends to fix these pretty fast :) it's easy to forget with new
items
On Sep 2, 2014 1:10 AM, "HSalgo" notifications@github.com wrote:

[2014-09-02 08:14] Alys commented on #3967
I can see the problem. I'll submit a PR. Although you'll still have to wait for lefnire to push it live. :)  But it WILL be fixed. Thank you for reporting it!

[2014-09-02 08:27] HSalgo commented on #3967
Thank YOU guys!

[2014-09-02 08:28] Alys commented on #3967
@HSalgo : The [Pull Request](https://github.com/HabitRPG/habitrpg-shared/pull/297) will be merged by someone, and at some time after that, the change will be pushed to the live site. You won't see this bug being fixed until it is pushed to live, so it might be a few days, maybe even several days.

Excellent bug report by the way. Giving us something related that worked to compare the bug to was ve

[2014-09-02 08:34] Alys commented on #2715
Apparently, there are DINOSAURS and I have only JUST now been informed. I will work on this issue.

And when I get my DINOSAURS, certain people will be sorry that they did not inform me sooner! You know who you are.

[2014-09-02 09:44] zincotroid commented on #3954
Thanks guys, maybe some day I'll be able to make edits like this on my own. I just haven't sat down and figured out things like the Art Permissions, but I would like to contribute. I might start out trying my hand at writing a quest :)

[2014-09-02 10:32] paglias commented on #3961
@lefnire cloned again and it's working

[2014-09-02 10:32] #3961 closed, assigned to nobody

[2014-09-02 13:53] jvitorm commented on #1057
My daily work usually two consecutive days, but now it does not reset yesterday's activities. Nothing in faq did work. What i can do?
 I don't wanna lose my combo progress.

[2014-09-02 14:37] townimbecile opened #3968 "Quest does not begin once all members have accepted or rejected."
Expected behavior: "Once all members have either accepted or rejected, the quest begins."
Current behavior: We have 9 accepts, 1 reject, and 0 pending. The quest has not yet begun.

Our group id:
4b176c09-b969-4437-b744-ac43bc7c3721
## <bountysource-plugin>

Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/4171249-quest-does-not-begin-once-all-members-have-acce

[2014-09-02 14:56] dpkenna commented on #3889
I discovered it just a few minutes before I posted it here.

On Sun, Aug 31, 2014 at 3:27 PM, Alice Harris notifications@github.com
wrote:

##

Daniel P. Kenna
dpkenna@gmail.com

[2014-09-02 16:27] Gaelan opened #3969 "Mana regeneration is only indirectly affected by productivity"
Mana regeneration on cron is the (only?) aspect of HRPG where simply increasing an attribute advances you in the game. PER increases drops and gold, but only when you check off tasks. Same with INT and XP and STR and boss damage. I think that mana regeneration (at least for non-todo-heavy users like me) needs to be more directly affected by productivity, something like earning (previous cron mana

[2014-09-02 16:28] Gaelan commented on #3918
Close?

[2014-09-02 16:41] Gaelan commented on #3557
No bounty, close?

[2014-09-02 16:59] #3918 closed, assigned to nobody

[2014-09-02 17:04] lefnire commented on #3968
sounds like a bug indeed! in the mean time, you can manually begin the quest at the bottom of the quest dialog

[2014-09-02 17:08] thepeopleseason commented on #3968
@townimbecile Can you confirm that the party has had at least one member who was previously part of the party, but has since left or been removed?

I believe this has something to do with a party's data structure keeping old members' UUIDs.

[2014-09-02 17:12] #3967 closed, assigned to nobody

[2014-09-02 17:18] townimbecile commented on #3968
@lefnire I can't, because I didn't initiate the scroll. @thepeopleseason I believe that is what happened, but I'm not sure the exact timeline. In chat, no one seems to be taking responsibility for using the scroll.

[2014-09-02 17:19] HSalgo commented on #3967
Sorry--still sort of new at this. Does this mean that the change is pending?

[2014-09-02 17:21] lefnire commented on #3967
Yes, will go out late tonight

[2014-09-02 18:14] townimbecile commented on #3968
@thepeopleseason Sorry, let me elaborate. Yes, I can confirm that people have left the party. That is definite. Additionally, it is possible, though difficult to verify, that someone left after using a quest scroll but before the party had accepted.

[2014-09-02 20:03] Alys commented on #3968
@townimbecile : For what it's worth, there might be a [change](https://github.com/HabitRPG/habitrpg/pull/3966) coming that will indicate which quest participant is the Quest Owner (bought the scroll and is able to start or abort the quest). It might be a few days before that change goes live, if it's accepted.

It's possible to use the [API](https://habitrpg.com/static/api) to find out who the que

[2014-09-02 20:26] Alys commented on #2370
See also https://github.com/HabitRPG/habitrpg/issues/2856

I've proposed a fix here: https://github.com/HabitRPG/habitrpg/pull/3970

[2014-09-02 20:29] Alys commented on #3690
Duplicate: https://github.com/HabitRPG/habitrpg/issues/1611

I'm hoping to look into that soon. You can follow the progress at that link

[2014-09-02 20:29] #3690 closed, assigned to nobody

[2014-09-02 20:31] Alys commented on #3226
This was fixed a while ago. Now, when you have tags active, and create a new task, those tags are applied to that task.

[2014-09-02 20:31] #3226 closed, assigned to nobody

[2014-09-02 20:37] Alys commented on #3047
Original problem is a duplicate of https://github.com/HabitRPG/habitrpg/issues/2370 and fix is proposed: https://github.com/HabitRPG/habitrpg/pull/3970

The UI issues seem to be either resolved or discussed elsewhere as well, so I'm closing this.

[2014-09-02 20:37] #3047 closed, assigned to nobody

[2014-09-02 20:38] Alys commented on #2170
Does anyone know if this still happens?

[2014-09-02 20:57] townimbecile commented on #3968
@Alys After casual reading, I see how to abort a quest, but I don't see any command for querying owner.

[2014-09-02 21:13] Alys commented on #3968
It's a multi-step process. :)

Under `groups`, use `GET /groups/{gid}` to get all data for your party. Near the top will be something like this:

[code]

You want quest -> leader (0abcdef-0798-4787-b1f6-91ec957c14ba in that example). Don't use the party leader by mistake (that's the first ID in the example above).

Then under `members`, use `GET /members/{uid}`, BUT I have just remembered that you

[2014-09-02 21:20] townimbecile commented on #3968
@Alys I figured it out. Wonderful! Thanks. I can workaround for now.

[2014-09-02 21:50] #2370 closed, assigned to nobody

[2014-09-02 21:50] #2856 closed, assigned to nobody

[2014-09-02 22:03] #2789 closed, assigned to nobody

[2014-09-02 22:50] wysawyg opened #3971 "Notifications tied to browser"
Not sure where to put this as it's not a bug, more a suggestion for discussion.

I love the notification stuff. I would love it more if it was tied to a cookie or something that tied it to a particular machine rather than my user profile. The reason for this is that I love having the sounds on at home but I also check HabitRPG at work where I don't really want the sounds going off.

I can keep tur

[2014-09-03 02:48] cesarioviola commented on #2606
How do I get unsubscribed from this conversation?

On Tuesday, September 2, 2014 9:11 PM, Alice Harris notifications@github.com wrote:

Is anyone working on SabreCat's interesting  "push to bottom" workaround? If not, I'll give it a go over the next few days.
—
Reply to this email directly or view it on GitHub.

[2014-09-03 02:50] deilann commented on #2606
Go to the thread on Github and hit the unsubscribe button.
On Sep 2, 2014 7:48 PM, "cesarioviola" notifications@github.com wrote:

[2014-09-03 03:06] HSalgo commented on #3967
Problem seems to be fixed. I appreciate your help! Thank you very much!

[2014-09-03 04:26] Alys commented on #3821
Duplicate. :) https://github.com/HabitRPG/habitrpg/issues/2821

SabreCat, I've copied the labels you assigned to the earlier issue.

[2014-09-03 04:26] #3821 closed, assigned to nobody

[2014-09-03 04:32] #3843 closed, assigned to nobody

[2014-09-03 05:37] tgl-dogg opened #3973 "Wrong translation to Portuguese"
In my profile/stats page there is a couple of badges that the player has/could have, etc. The colaborator badge has the following text (in Portuguese):

The world **concelho** is intended to mean _advice_, but the correct spelling is **conselho**. Concelho means county/town hall.

[2014-09-03 12:49] Alys commented on #3881
Did the quest scroll reappear in your inventory?

If it did not, tell us your Unique User ID (Settings -> API).

[2014-09-03 12:51] #3643 closed, assigned to nobody

[2014-09-03 12:58] Alys commented on #3109
fixed a couple/few weeks ago

[2014-09-03 12:58] #3109 closed, assigned to nobody

[2014-09-03 13:00] Alys commented on #2843
Closing because of lack of response

[2014-09-03 13:00] #2843 closed, assigned to nobody

[2014-09-03 13:09] Alys commented on #2407
I'm closing this to clean up the issue queue and because I'm pretty sure it's been decided that being booted from a quest on death would be a bad thing (at least until Hardcode mode is implemented, if ever). See Lemoness's comments in https://plus.google.com/108645589277926899961/posts/2zJfQMZpeyZ (staff and contributor private G+ group). Feel free to reopen if I'm wrong. :)

[2014-09-03 13:09] #2407 closed, assigned to nobody

[2014-09-03 13:20] vibitect opened #3974 "Facebook login button is missing"
It is actually "display:none"-d either purposefully or by accident. Please make it appear since Facebook users can't log in without manipulating the css by hand.
![screenshot from 2014-09-03 15 13 45](https://cloud.githubusercontent.com/assets/1253248/4134466/d5a36a96-336c-11e4-9a4b-41267c6a0412.png)

[2014-09-03 13:34] Alys commented on #3974
The backend code that implements that bit of HTML doesn't have display:none in it, and the facebook button appears in two of my browsers (and maybe more; I tested only two).

Do you have any extensions or similar that block facebook integration features on some/all websites? E.g., privacy/anti-spam extensions.

[2014-09-03 13:41] vibitect opened #3975 "Image links in the Blurb field does not work using markdown format."
Example:

[code]

This displays an image link to the HabitRPG issues webpage.

In the blurb it displays a link to the image itself.
## Edit from admin: Just wrapped the image in a code block so you could see the syntax @adam-arold is using.

Want to back this issue? **[Place a bounty on it!](https://www.bountysource.com/issues/4189677-image-links-in-the-blurb-field-does-not-work-using-markdown-for

[2014-09-03 13:45] #3974 closed, assigned to nobody

[2014-09-03 13:45] vibitect commented on #3974
Sorry my bad. I had a plugin in Chrome which hidden it for some reason.

[2014-09-03 13:52] vibitect opened #3976 "Rewards with gold value higher than 99 display the gold icon in a new line in Chrome."
Example:
![cool](https://cloud.githubusercontent.com/assets/1253248/4134945/6b16a634-3371-11e4-995b-0e75788854ba.png)

Note that this issue only appears in Chrome. (Not in Firefox).

[2014-09-03 13:59] vibitect opened #3977 "Newly created Rewards with extra note leave the popup displayed after clicing Save & Close"
Example:

![extra_note](https://cloud.githubusercontent.com/assets/1253248/4135051/6531a074-3372-11e4-9f0c-b665a8df462b.png)

This happens in both Chrome and Firefox but only when using "Save & Close".
If the save icon is clicked in the top right corner it disappears immediately.
## <bountysource-plugin>

Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/4190189

[2014-09-03 14:19] vibitect opened #3978 "If a menu button is clicked it does not disappear until another menu button or an option is clicked."
Example:

![menu](https://cloud.githubusercontent.com/assets/1253248/4135355/2436be80-3375-11e4-8e0a-476ad92c9f8b.png)

If a menu button (surrounded with red or black squares) is clicked a menu appears and it does not disappear until I select an item from the menu or I click another menu button.

The menu persist even if I navigate to a different page.

Tested with:
- Chrome
- Firefox

[2014-09-03 16:42] negue commented on #3976
Duplicate of #1993

[2014-09-03 17:32] wysawyg commented on #3770
Looking at implementation of this. The current tutorials appear to be inline in the javascript. I think it would make sense to extract these out into json which could allow for future tutorials to be defined by a non-dev with a dev coming in at the end to do the page links, item links and hooking the tutorial up to the necessary trigger.

[2014-09-03 18:24] paglias commented on #3973
@tgl-dogg thanks for the report! Translations are managed at Transifex https://www.transifex.com/projects/p/habitrpg/ where you can join the Portuguese team and leave a comment for that string

[2014-09-03 18:24] #3973 closed, assigned to nobody

[2014-09-03 19:00] #3976 closed, assigned to nobody

[2014-09-03 19:04] HSalgo opened #3979 "Plain Egg sell cost incorrect"
I just noticed under "Quest Eggs" on http://habitrpg.wikia.com/wiki/Eggs that Plain Eggs were supposed to be sold for 1 gold each. I just sold mine for 3 gold each. Don't know how much this will affect anyone, but I figured I'd point it out!

[2014-09-03 19:07] Alys commented on #3978
duplicate: https://github.com/HabitRPG/habitrpg/issues/3783

The menu closes when you click the menu icon.

I believe I read somewhere that this is deliberate behaviour intended for usability for users in certain situations. Mobile devices and/or users with poor mouse control maybe??? I can't find that ticket though.

[2014-09-03 19:07] #3978 closed, assigned to nobody

[2014-09-03 20:15] meiloslyther commented on #3881
The next day it mysteriously reappeared in my party as active, and even showed the items I'd acquired the day it was gone. It has done this with each subsequent quest (disappearing the second day and reappearing the next). But otherwise there seems to be nothing wrong.

[2014-09-03 20:29] Alys commented on #3979
The wiki is wrong. Quest eggs sell for 3GP: https://github.com/HabitRPG/habitrpg-shared/blob/develop/script/content.coffee#L636

Thanks HSaigo, I'll adjust the wiki.

[2014-09-03 20:29] #3979 closed, assigned to nobody

[2014-09-03 20:58] Alys commented on #2873
Proposed fix: Adjust the rebirth code so that flags.levelDrops is set to {}. I.e., remove this from their data:

[code]

Advantage: It lets the player experience this aspect of the game as a new player would (something I will want when I rebirth).

Disadvantage: Less likely that the player will use gems to buy these quest scrolls. However, since there's not much point to doing those quests more th

[2014-09-03 22:37] lefnire commented on #2873
SGTM

[2014-09-03 22:59] Alys commented on #2873
Okay, I'll get this done in the next few days. @SabreCat be distracted by this [awesome cat product](http://files2.coloribus.com/files/adsarchive/part_493/4933405/file/friskies-pamper-cat-food-zen-small-89985.jpg) while I steal this issue from you.

[2014-09-03 23:51] ebiagogo commented on #3954
So I'm trying to test the change to the Skeleton panda mount on my local habitrpg and I keep getting an error when trying to recreate the spritesmith png files (grunt sprite under habitrpg-shared. The documentation seems to be sparse on building shared but I think I have things set up correctly. I keep getting the following error when it gets to the sprite:3 task:

...
Running "sprite:2" (sprite)

[2014-09-04 01:13] SabreCat commented on #3821
Exactly 1000 issues too late xD

[2014-09-04 01:31] lemoness commented on #3557
Closing this for now - we'll reopen if the user ever decides that they want to post a Bounty.

[2014-09-04 01:31] #3557 closed, assigned to nobody

[2014-09-04 01:45] lemoness commented on #3969
There was some discussion of making mana regeneration a sign-in incentive - only getting MP regeneration on days that you sign in. Not sure if that was ever implemented.

Trello might be a better place to have this discussion until we figure out an actionable plan. Maybe this card: https://trello.com/c/L1H6LiZ3/110-classes-v-2-character-stats-attributes-the-class-system-buffs

[2014-09-04 02:49] nyanbinaryneko opened #3981 "Daily Gold not working correctly"
![screenshot 2014-09-03 22 47 46](https://cloud.githubusercontent.com/assets/3050609/4144343/fca1432c-33dd-11e4-97d5-2362387d69c4.png)
If I select, and unselect the daily, it takes away the correct amount of XP, but not the correct amount of Gold. This can be abused.

[2014-09-04 03:03] SabreCat commented on #3981
We've been tracking this on #964 (the title mentions To-Dos, but it's a problem across all undo'able tasks).

[2014-09-04 03:04] #3981 closed, assigned to nobody

[2014-09-04 04:55] Alys commented on #2715
[Screenshots of proposed changes](https://imgur.com/a/cuRvK) to the various screens that show the rewards for a quest. Comments? Improvements?

This example is for Vice1. The same thing will be done for Vice2, Mundane1, Mundane1, and future chain quests.

[2014-09-04 06:47] wildcate commented on #2873
I used rebirth and now seem to miss pet quest scrolls (Vice scrolls are still there, though)...

[2014-09-04 06:48] wildcate commented on #3324
+1

[2014-09-04 06:51] Alys commented on #2873
@wildcate, I suspect that's a different issue, and probably not something that needs to be handled in GitHub. Could you please drop into the [Tavern](https://habitrpg.com/#/options/groups/tavern) and post there, so that I can see your profile? I'll help you there.

[2014-09-04 07:35] negue commented on #3149
Can be closed? The Header was renewed.

[2014-09-04 07:36] #3149 closed, assigned to nobody

[2014-09-04 07:44] negue commented on #2975
I can delete todos / daily of old challenges.

This can be closed?

[2014-09-04 07:49] negue commented on #2972
@Metahari does this bug still exists? If not pls close the Issue :)

[2014-09-04 08:04] Alys commented on #2975
Yes, hattieshoe's workaround is the standard way of fixing it. It will hopefully be fixed properly at some future time. I think https://github.com/HabitRPG/habitrpg/issues/2763 is relevant.

[2014-09-04 08:04] #2975 closed, assigned to nobody

[2014-09-04 08:04] #3057 closed, assigned to nobody

[2014-09-04 08:15] lemoness commented on #2715
Looks good to me!

We'll have to be thoroughl about announcing this change so people don't
flood us with questions asking why they didn't receive their scroll rewards.

On Wed, Sep 3, 2014 at 9:55 PM, Alice Harris notifications@github.com
wrote:

[2014-09-04 08:26] negue commented on #2901
Can be closed, header was renewed.

[2014-09-04 08:27] negue commented on #2890
@UsuallyPassive popup display issue still there?

[2014-09-04 08:29] negue commented on #2839
@leeleenat  The problem still there? If not pls close this issue :)

[2014-09-04 08:31] #2901 closed, assigned to nobody

[2014-09-04 08:59] negue commented on #2671
@SabreCat Error still there?

[2014-09-04 09:01] negue commented on #2662
@lefnire @Alys Should there be Emojis in Checklists? And also Markdown? Since Markdown "inserts" the emoji's right?

[2014-09-04 09:08] Alys commented on #2662
I would LOOOOOOOVE to have markdown in checklists. Emoji would be cool too. I was under the impression they were implemented separately, but that's really just a wild assumption.

@lefnire, is there any reason to not have markdown in checklists?

[2014-09-04 09:15] sbreiler commented on #3886
I will check where the percent-function is used. Afterwards i can do a local test (i got a local copy working).

[2014-09-04 11:17] negue commented on #1987
Is this currenty still working like that? If not I think this can be closed

[2014-09-04 14:14] jvallexm opened #3982 "Everything in My Account Is Gone :("
I logged out of my account and when I logged back in I had to reset my password. Now all of my tasks, items, equipment, mounts, pets, and my subscription are no longer listed when I open up the website.

I can still access them on my iOS device, but how can I get them back onto my PC?

[2014-09-04 15:07] deilann commented on #3982
You have a duplicate account with your credentials. When you see the empty
account, delete it. This should fix your problems.
On Sep 4, 2014 7:15 AM, "jvallexm" notifications@github.com wrote:

[2014-09-04 15:38] freakinhippie opened #3983 "Pressing Enter key while editing preexisting tag immediately deletes it"
While editing an existing tag, I pressed the enter key thinking that would possibly save the changes. Instead it completely deletes the tag. I suspect this may be the result of the delete button having focus for the tag editing widget. Is this the intended behavour?

[2014-09-04 16:02] #3982 closed, assigned to nobody

[2014-09-04 18:16] lemoness commented on #3983
Hitting "enter" to save is pretty intuitive - this might be expected
behavior, but it's worth a reevaluation.

On Thu, Sep 4, 2014 at 8:38 AM, freakinhippie notifications@github.com
wrote:

[2014-09-04 18:22] lemoness commented on #1987
I don't think so, so I'm closing this. If anyone still has this problem, we can reopen it.

[2014-09-04 18:22] #1987 closed, assigned to nobody

[2014-09-04 18:25] lemoness commented on #2839
Closing due to lack of response - @leeleenat If you're still having trouble, let me know, and I'll reopen this.

[2014-09-04 18:25] #2839 closed, assigned to nobody

[2014-09-04 18:27] lemoness commented on #2890
Just tested this and it worked fine for me, so I'm going to go ahead and close this. If anyone still has double, let me know and we'll reopen it.

[2014-09-04 18:27] #2890 closed, assigned to nobody

[2014-09-04 20:00] lefnire commented on #2662
@Alys no reason, I'd be down for it too!

[2014-09-04 20:02] negue commented on #2662
I would take a try for this, unless you want to do it.

[2014-09-04 20:04] Alys commented on #2662
@negue Please do!

[2014-09-04 20:34] negue commented on #2662
Well that was quite easy, thanks to the markdown directive :D

[2014-09-04 20:48] squirrelfox opened #3985 "Persistent To-Do item"
A week or two ago, I added a task to my to-do list. I completed it a few days later and checked it off. It disappeared normally. The next day, it was back in my to-do list. I thought I'd misremembered, and checked it off again, and it disappeared.

However, it now reappears every time I sync. I have tried checking it off multiple times, but my Completed task list only shows one instance. At this p

[2014-09-04 21:01] lemoness commented on #3985
Might be related to https://github.com/HabitRPG/habitrpg/issues/2456? I had
a task duplicate and then keep reappearing yesterday.

On Thu, Sep 4, 2014 at 1:48 PM, squirrelfox notifications@github.com
wrote:

[2014-09-04 21:53] squirrelfox commented on #3985
I wasn't sure how to flag those as possibly related, but they do sound close!The main difference I saw was that my water-the-foundation task never seems to end up with more than one copy active at a time, even if I perform multiple syncs. I also don't get any of the odd damage or insta-death that some users are seeing.

It's pretty reliable, so I'd be happy to run any tests that might help.

[2014-09-04 22:48] Alys commented on #3985
@squirrelfox : Can you add your [Unique User ID](https://habitrpg.com/#/options/settings/api) please?

If you're comfortable using the [API](https://habitrpg.com/static/api) (or learning how to), it would be interesting to see if that To-Do had the same "id" number as any other task on your lists. Our database admin could also check this but he tends to have a lot to do so it might not happen quic

[2014-09-05 01:22] lefnire opened #3986 "MongoDB: migrate to unique indexes"
Self-assigned. Many of our indexes aren't unique where they _should_ be. Eg, `auth.local.username`, `auth.local.email` (4.7k dupes on this field alone!), `auth.facebook.id`, etc. This will mitigate those dupe-db-ops issues where user has multiple accounts. Alas that one can't edit indexes, and there are dupes where indexes need uniqueness to boot, so this needs to be handled piecemeal:
- [ ] Backu

[2014-09-05 02:32] ebiagogo commented on #3954
It looks like the img/sprites/spritesmith/quests/quest_atom1.png is causing the "Unsupported interlace method" error. I'm not sure why. I opened it in gimp and just exported it again and recreated the sprites without an issue. I was then able to verify the new panda mount head locally.

I don't want to commit changes to the quest_atom1.png without confirmation that there's some issue with it. Also

[2014-09-05 02:33] lefnire commented on #3986
In fact, I'll bet this is 99% of the times when users say "Website & mobile apps don't sync". They logged in with uname/pw on mobile, it gave them their duplicate account - and they're managed separate. Just a theory. @Alys @deilann

[2014-09-05 02:41] lemoness commented on #3986
If that's true, fixing this would solve one of our major complaints. Fingers crossed.

[2014-09-05 05:42] negue commented on #2662
Can be closed now^^

[2014-09-05 05:45] #2662 closed, assigned to nobody

[2014-09-05 07:27] paglias commented on #3986
:+1: :+1: :+1: :100:

[2014-09-05 07:29] paglias commented on #3986
@lefnire just one think I would add to the checklist "how to handle errors for unique keys" because when you try to insert an already used unique key it doesn't cause a mongoose validation error but a mongo error which unhandled cause a 500 status code I think

[2014-09-05 08:35] negue commented on #3491
@LB7979 Is the Issue still present?

[2014-09-05 08:51] negue commented on #3441
Duplicate of #2443 . Or should we use this as "main" ticket?

[2014-09-05 09:02] Alys commented on #3441
Good idea negue. There's lots of detail in this one so to heck with convention, I'll make this the main one.

Refer to https://github.com/HabitRPG/habitrpg/issues/2443 for another instance of this issue and links to two others. None of those three have any significant extra information in them.

[2014-09-05 09:03] Alys commented on #2443
# Follow any fixes for this issue in https://github.com/HabitRPG/habitrpg/issues/3441

[2014-09-05 09:03] #2443 closed, assigned to nobody

[2014-09-05 12:09] vibitect opened #3989 "Snowflake Wand uses the wrong attribute in its tooltip"
When I was translating the texts of gear.json I've found a small problem:

`<%= int %>` should be `<%= str %>`

[2014-09-05 14:09] pbkhrv commented on #1797
You can take the hashbang anchors back from Angular for the purposes of scrolling but it will only work in browsers that support HTML5 history API mode. Some good info here: http://stackoverflow.com/questions/20268213/can-i-reclaim-control-of-the-url-hash-fragment-from-angularjs and https://docs.angularjs.org/guide/$location

I'm thinking of a simple "scrolled-to-center" Angular directive that you

[2014-09-05 15:54] squirrelfox commented on #3985
Sure--my UUID is 726be399-9295-4993-8c02-8c602e03ac4a .
I tried out the API, and it looks like the To-Do's ID number is unique within my task list (it's de771e89-3eef-4347-aef9-0c473f1208e4 if that's useful at all). It has an original date created of 8/22, which sounds about right, but a value of -1 (full deal screenshotted below).

![todo](https://cloud.githubusercontent.com/assets/8660487/416763

[2014-09-05 16:08] HSalgo opened #3990 "Dailies with Checklists increment too many times while on a boss quest"
Hey there. While on a boss quest, I notice that sometimes the daily streak counter increments more than it should for certain dailies. It happens only with dailies with checklist items. Today, for example, the majority of my dailies are at 4 and are green, but one with three checklist points is at 7 and is blue. I've seen this glitch a few times, and just figured it was a wacky error, but today wa

[2014-09-05 16:08] wysawyg commented on #3989
Given it's a healing wand, it's probably the other way around: It should say 'Increases Intelligence by <%= int %>

[2014-09-05 16:40] Alys commented on #3990
Very interesting! Could you please look at your party page and tell me if any of the messages that describe how much damage you did/took to/from the boss are duplicated?

Also, could you paste in your [Unique User ID](https://habitrpg.com/#/options/settings/api)?

If you don't object, please tell us the text of the Daily that has the glitch. If it contains private information, is it possible to po

[2014-09-05 16:52] Alys commented on #3989
Yes, the wand definitely increases INT, not STR. The text should be changed to say "Increases Intelligence". This is a good job for an entry-level contributor.

[2014-09-05 17:42] vibitect commented on #3989
I'll create a pull request for it during the weekend then! Can you assign the task to me? It seems I can't do it myself.

[2014-09-05 17:44] loboaureo opened #3992 "Some daily and habits cant be removed"
I've joined a challenge, after leave it, it let some dailies and habits that i cant remove

[2014-09-05 17:55] HSalgo commented on #3990
Sorry for the delay; construction going on in my apartment.

There is no duplication of damage. I'm the only one on the quest right now. (My friends are in the tavern.)

UUID: 57a9ec4a-33d5-49f0-ba1c-291487983290

The task is called "Brush." I reset the steak value, but your admin should be able to see the difference in task value to verify that each of the checklist items was counted separately.

[2014-09-05 18:52] paglias commented on #3986
@lefnire I've added the error name and code returned for reference (don't know why the text is so big)

[2014-09-05 19:15] paglias commented on #3986
@lefnire I think this is worth implementing:

See http://mongoosejs.com/docs/guide.html#indexes

[2014-09-05 19:27] lefnire commented on #3986
Exactly, I'd seen that a while back and that's why there aren't any indexes defined in the Mongoose schemas. For performance, they should be added manually via the mongo terminal (which is how I've been doing it). Unfortunately, that means people with localhost or even server deployments won't get those indexes. You and I do, since we download database snapshots (which include indexes).

It _may_

[2014-09-05 19:35] Alys commented on #3992
See "Leaving a Challenge" on the [Challenges](http://habitrpg.wikia.com/wiki/Challenges) wiki page. It describes how to fix this problem.

If for some reason that doesn't work, comment here to tell us what happened when you tried that process and what went wrong. We can then reopen this issue.

[2014-09-05 19:35] #3992 closed, assigned to nobody

[2014-09-05 19:42] lemoness commented on #2747
Due to lack of response, I'm closing this ticket. Let me know if you're still having this problem and we can reopen it.

[2014-09-05 19:42] #2747 closed, assigned to nobody

[2014-09-05 19:54] ghost commented on #2747
Oops, forgot to respond. The problem seems to have been solved. I'm no longer having trouble with the app anymore.

[2014-09-05 20:58] Alys commented on #3990
I can't replicate this on my local install (development mode lets us simulate new days rapidly). I'll try to replicate on my production site account, but that will take longer. :)

[2014-09-05 21:00] Alys commented on #3985
@lefnire, is there anything you want to look at before we ask squirrelfox if the task is able to be deleted with the trashcan?

[2014-09-05 22:25] lemoness commented on #1878
Okay, I have access to the html on the page. A search for "main" brought up the following:

![screen shot 2014-09-05 at 3 22 48 pm](https://cloud.githubusercontent.com/assets/3494081/4172600/5146f606-354b-11e4-8094-1eacb5ed49e7.png)

Is this what you mean, or is there somewhere else I should edit?

Sorry about the dumb questions that will invariably ensue from this process - right now my coding ex

[2014-09-05 22:35] lefnire commented on #1878
That's the HTML editor. There should be a CSS editor somewhere too, but I can't find it. It _definitely_ should be there, since there's this in the HTML:

[code]

that `CustomCSS` should come from somewhere, but I don't know where. Anyway, I added it in at the end like this, which is fine for now:

[code]

[2014-09-05 22:36] lefnire commented on #1878
Oh, I found it. I added it in, so this can be closed. It's at Customize > Edit Theme > Advanced Options (all the way at the bottom) > Add Custom CSS

[2014-09-05 22:37] #1878 closed, assigned to nobody

[2014-09-05 22:54] lemoness commented on #3827
Paging @benmanley!

[2014-09-05 23:11] lemoness commented on #2972
Due to lack of response, I'm going to go ahead and close this issue. If you're still having this problem, let me know and I'll reopen it!

[2014-09-05 23:11] #2972 closed, assigned to nobody

[2014-09-06 02:17] HSalgo commented on #3990
Yeah, it's sort of quirky. It's not a regular thing, so I think it might have something to do with recovering from a non-perfect day. I'm not entirely sure of the circumstances myself.

[2014-09-06 05:59] HSalgo commented on #3990
Will try to replicate the problem tomorrow--missed some dailies today. Will try to start a new quest tomorrow and hopefully get a perfect day to see what the following cron brings.

[2014-09-06 08:54] benmanley commented on #3827
Looks OK to me. If you do it this way, it would be good to bump the remaining / completed tabs down a bit to align horizontally with the first line of the other columns.

Do you need to hide the add task area when you're looking at completed tasks? Why not keep it there and just switch to the "Remaining" view when you hit the plus button?

One alternative to this layout might be a toggle button ne

[2014-09-06 16:24] lemoness commented on #1878
Thanks @lefnire! Sorry I didn't find it.

On Fri, Sep 5, 2014 at 3:37 PM, Tyler Renelle notifications@github.com
wrote:

[2014-09-06 16:24] paglias commented on #3986
Ohhh ok, I didn't noticed we don't have them in Mongoose, then no problem

2014-09-05 21:27 GMT+02:00, Tyler Renelle notifications@github.com:

##

Matteo Pagliazzi - paglias.net

[2014-09-06 17:03] HSalgo commented on #3990
I created various tasks this time around, including one where I left the task checked/items checked, tasks checked/items unchecked, and tasks unchecked/items checked. Strangely enough, on this non-perfect day, only the daily with the task CHECKED and the items UNCHECKED incremented extra--it incremented by two instead of one. The task was checked, with two unchecked items, and today went from perf

[2014-09-06 19:56] lefnire commented on #3827
Oo, i like that approach @benmanley!

[2014-09-06 21:33] teampayoff commented on #187
i've repro'ed this, too. refresh on a new day causes me to lose HP.

[2014-09-07 05:11] Alys commented on #3660
There was a discussion about various aspects of this in https://github.com/HabitRPG/habitrpg/pull/3662, outlining the bad points and the good points about being able to gain more than maximum mana. The advantages seem to outweigh the disadvantages, and there are ways to avoid or undo the disadvantages.

In addition, since this issue was logged, I believe there's been a couple of changes that reduc

[2014-09-07 05:11] #3660 closed, assigned to nobody

[2014-09-07 05:20] ghost opened #3994 "To Dos Randomly Rearranging Themselves"
I don't what is going on, but every time I refresh this evening my To Dos have randomly rearranged themselves. Stuff from the bottom of my list is at the top, stuff I have moved to the top is at the bottom. And then the next time I refresh everything rearranges itself again. It's very frustrating.

[2014-09-07 05:51] Alys commented on #3994
Duplicate: https://github.com/HabitRPG/habitrpg/issues/2606

See ["Rearranging To-Dos" in To-Do wiki page](http://habitrpg.wikia.com/wiki/To-Dos#Rearranging_To-Dos) or https://github.com/HabitRPG/habitrpg/issues/2606 for a workaround and to follow progress of this issue.

[2014-09-07 06:00] ghost commented on #3994
I'm aware of that issue actually. This is not To Dos not sticking where they are supposed to be when they are dragged. My completed To Dos are cleared. This is just random rearranging of blocks of To Dos whether I've moved anything or not.

[2014-09-07 06:18] Alys commented on #3994
Sorry about that Anysia.

Do you use the [User Data Display](https://oldgods.net/habitrpg/habitrpg_user_data_display.html) tool? If so, can you please show us a screenshot of the table from the "Task Statistics" section? There is nothing private in that section so your data won't be exposed. For example, your screenshot would look [something like this](http://gyazo.com/db794f73880212f6d7fc8d1c9226

[2014-09-07 07:34] Alys commented on #3990
So it seems to be a bit random, but you are certain that sometimes when your day roll-over happens, some of your Dailies have their streak counters increased by more than one.

[2014-09-07 14:17] HSalgo commented on #3990
I am certain, yes. It only happens for dailies with checklist items, and it only appears after cron (not as I check them off during the day).

I believe it is more than just the streak counters--I think it is also that the items are being counted more than once. There are certain dailies that I always do together, and one checklist task was blue instead of green (like the others) when its daily st

[2014-09-07 14:39] HSalgo commented on #3990
I wonder if it has anything to do with checking Checklist Items AFTER you check the task off?

[2014-09-07 15:41] negue commented on #3264
This still happens with Toolbar V3.0

The Content under the Header is somehow "moving" into the header, which results the same result as in the screenshot, except for the notification icons since theyre only inside the new notifications Button.

[2014-09-07 17:28] negue commented on #3768
FAQ Button was added with #3988 , which soon goes live.

Only the mobile-app is left.

[2014-09-07 17:35] negue commented on #3772
This can be closed? Audio Assets have been added / merged on 16. August

[2014-09-07 17:37] negue commented on #3708
@Visi78 Browser Name? Version? Mobile OS? OS Version?

[2014-09-07 17:39] lemoness commented on #3827
I like the look of buttons, but that icon doesn't suggest "Completed
To-Dos" to me, and I'm not sure it would to a new user. Would it be
possible to have one button there that said "Completed", and then if
toggled, the button would switch to say "Remaining"? I know it's not as
aesthetically pleasing, but new users frequently have trouble finding new
features on their own.

On Sat, Sep 6, 2014 at 1

[2014-09-07 17:43] lemoness commented on #3772
Agreed!

[2014-09-07 17:43] #3772 closed, assigned to nobody

[2014-09-07 17:44] negue commented on #3796
So can be closed?

[2014-09-07 17:44] lemoness commented on #3491
Closing due to lack of response - let me know if you need me to open this again!

[2014-09-07 17:44] #3491 closed, assigned to nobody

[2014-09-07 17:45] #3796 closed, assigned to nobody

[2014-09-07 18:24] negue commented on #3514
Can be closed. The Health / EXP / Mana Bars has been redesigned.

[2014-09-07 19:09] m1rrag opened #3995 "add one-time "donate" option that doesn't grant in-game purchase"
Just as important as a code issue: if I donate to developers, I can just buy all of the things I would have otherwise earned on the site. Because of this, I don't think I'd ever want to donate- it would make rewards feel meaningless. I know it feels like a good idea but don't you think there are ways to get people to donate without jeopardizing the entire point of the game?

Aside from my personal

[2014-09-07 19:14] #3514 closed, assigned to nobody

[2014-09-07 19:26] Alys commented on #3827
It would be nice if whatever was done for this would be compatible with the similar requirement for Dailies, which needs three options (remaining, complete, all). A toggle wouldn't work for Dailies.

I think for these buttons, usability and clarity are more important than prettiness or space minimisation. The buttons are important for managing your tasks and should be very obvious to new users and

[2014-09-07 19:30] ghost commented on #3994
No problem. If it's the same issue, then it's a new variation on it. I've had the other issue, but that's just things not sticking when you move them and ending up back where they were or somewhere in between as I understand it. This is entire blocks of tasks (>5) shifting from the bottom of my list to the top (it happened several times). They were all challenge tasks but I don't know if that's re

[2014-09-07 20:01] Alys commented on #3995
I know what you mean about not wanting to buy eggs, hatching potions, and food. I am very much enjoying earning them through drops and never buy them with gems.

However I find that there's enough other uses for gems that I'm never tempted to buy the things I can earn. Instead, I buy all the backgrounds and avatar customisation options, and many copies of those quests that can be obtained only wit

[2014-09-07 20:25] #2929 closed, assigned to nobody

[2014-09-07 21:02] m1rrag commented on #3995
Thanks! I guess if I were to shorten my post I would say:

developer to-do: add one-time "donate" option that doesn't grant in-game purchase.

[2014-09-07 22:51] Alys opened #3996 "misleading Gold=>Gem conversion cap message"
Currrently, when a subscriber buys 25 gems with gold in a month, they get this message:
"_You've reached the Gold=>Gem conversion cap (25) for this month. We have this to prevent abuse / farming, please wait until the beginning of next month._"

Could it please be changed to something like this?
"**_You've reached the Gold=>Gem conversion cap (25) for this month. We have this to prevent abuse / fa

[2014-09-07 22:58] paglias commented on #3996
I van change it in a few hours, just two small notes:
- yes, we can't use localisation because the free plan on transifex is only for open source code so we don't translate text not avalaible.here
- instead of running each month a migration couldn't we add this to cron? When running cron if it's the last day of the month reset the cap

[2014-09-08 02:39] jakeoakley opened #3997 "Attribute values inexplicably decreased"
I recently noticed that some of my character attributes might have somehow decreased. I'm not entirely certain, but I could have sworn that my primary attribute (perception) was above 100, and now it's only at 89.5. I haven't died (as far as I know) or fixed/reset my character values recently, and I'm positive that I'm wearing the equipment that will give me the highest boost for that attribute.

[2014-09-08 02:49] Alys commented on #3997
Do you normally have [Perfect Days](http://habitrpg.wikia.com/wiki/The_Perfect_Day) where you complete all your Dailies every day? If so, you're used to having the buff that comes from that. If a poor net connection prevented you ticking off your Dailies, then you lost the buff and your attributes dropped. They'll come back up when you have your next Perfect Day.

[2014-09-08 02:51] lemoness commented on #3997
Additionally, resting in the inn generally prevents you from getting a
perfect day, so that's a highly likely scenario. Let us know if this sounds
like the cause!

On Sun, Sep 7, 2014 at 7:39 PM, jakeoakley notifications@github.com wrote:

[2014-09-08 02:59] jakeoakley commented on #3997
That sounds like it's the issue. I was either unaware of or had forgotten about that buff. Thanks for your help!

[2014-09-08 03:59] #3997 closed, assigned to nobody

[2014-09-08 07:08] ghost commented on #3963
tried to mail but no answer

[2014-09-08 07:22] deilann commented on #3963
Lemme ping @lefnire to see what's up. Might not have got it.
On Sep 8, 2014 12:08 AM, "noakei" notifications@github.com wrote:

[2014-09-08 08:15] lemoness commented on #2380
Is this still an issue that's happening?

[2014-09-08 08:16] #2670 closed, assigned to nobody

[2014-09-08 08:22] paglias commented on #2380
Still happening, I just created one with 0 gems prize

[2014-09-08 08:25] lemoness opened #3998 "Challenges: Assigning Location after Prize Defaults to 1 Gem"
I made a Challenge and put in the prize as 5 gems, then filled out the rest. When I clicked to save, it prompted me to choose a location for the Challenge, which I'd forgotten to do, so I clicked "Tavern" and saved again. The Challenge was created, but I was startled to find that the prize was only 1 gem. I deleted it and attempted the same process. When I set the location from the drop-down menu,

[2014-09-08 08:37] negue commented on #415
Can be closed and reopened, once ICS is re-implemented again?

[2014-09-08 08:40] #415 closed, assigned to nobody

[2014-09-08 08:52] Alys commented on #3998
@lemoness, is it possible that [this is what was happening](https://github.com/HabitRPG/habitrpg/issues/3862#issuecomment-51696097)?

[2014-09-08 09:18] lemoness opened #3999 "Buy Gems from Rewards Column"
Suggested on Trello, and I thought it was a good idea - the ability for subscribers to buy gems directly from the rewards store, not just from the Market. Highly convenient when you're clicking off your tasks, and would also make that feature more obvious to users, which might lead to increased subscriptions.
## <bountysource-plugin>

Want to back this issue? **[Post a bounty on it!](https://www.b

[2014-09-08 09:58] Alys commented on #2380
If you select "Tavern" AFTER you have entered 0 for the gems, the gem amount test does not occur. If you select "Tavern" BEFORE you enter the gem amount, it does occur. Tested on my local install only.

[2014-09-08 10:21] Alys opened #4000 "Error: [ngRepeat:dupes] Duplicates in repeater not allowed. Use 'track by'... Repeater: member in group.members track by member._id"
I've noticed non-fatal errors occurring on my local install while doing actions related to quests, for example, accepting a quest invitation, beginning a quest, aborting a quest. These occur even when my source code is identical to upstream/develop. They don't seem to have noticable side-effects and everything seems to keep working as it should.

[code]

My main reason for reporting this is that I

[2014-09-08 10:24] paglias commented on #4000
I think it's due to #3993 , but I'm wondering why member._id is undefined..

@Alys it's the 4000th issue :)

[2014-09-08 10:27] negue commented on #4000
Should I've used member.id instead _id?

[2014-09-08 10:28] paglias commented on #4000
_id is correct the problem is why it's undefined, I would suggest reverting
the changes for now
Il 08/set/2014 12:27 "negue" notifications@github.com ha scritto:

[2014-09-08 10:29] Alys commented on #4000
4000th!!! I want a special prize! Set the Artisans to work! :)

[2014-09-08 10:31] paglias commented on #4000
@negue in the meantime I've reverted it
https://github.com/HabitRPG/habitrpg/commit/c90c8f9a5f8584c7ee7c5fc14a5ec3bcac2e5eed

2014-09-08 12:29 GMT+02:00 Alice Harris notifications@github.com:

##

Matteo Pagliazzi - paglias.net

[2014-09-08 10:34] negue commented on #4000
NOOOOOOO, now everything is slow again XD

Should I create seperate changes / pullrequests? without member ?

[2014-09-08 10:36] paglias commented on #4000
Since Tyler said there could be also tasks with the same UJID if you could
make some testing especially on the undefined _id then we can merge
everything once again
Il 08/set/2014 12:34 "negue" notifications@github.com ha scritto:

[2014-09-08 11:23] negue commented on #4000
So create many tasks / members / groups / users and so on?

Is there any way to connect to http://habitrpg.com/api/ but using local server / frontend?

[2014-09-08 11:29] paglias commented on #4000
@negue if you edit https://github.com/HabitRPG/habitrpg/blob/f981223153532035d72c35d42412628145c40385/public/js/app.js#L12 to "https://habitrpg.com" you should be able to connect to habitrpg official api

[2014-09-08 11:30] paglias commented on #4000
we should really create a lot of fake data to use on local

[2014-09-08 11:30] negue commented on #821
So should we accept this kind of authentication? Or close it?

[2014-09-08 11:46] Alys commented on #4000
I have a set of about a dozen users with matching usernames, UUIDs, and tokens for ease of use, and with a variety of settings (levels, tiers, gear, etc). I'll upload the json file in about 10 hours, after nap time.

[2014-09-08 12:04] negue commented on #4000
@paglias I already many times to change API_URL , but after login it redirects me to "/static/front/#tasks" can't get to show /#tasks

@Alys demo data would be great

I think there's just some data which doesn't have any _id anymore.

[2014-09-08 12:15] Alys commented on #4000
Do you want to use the production API specifically, or just the API in general? If you're happy to use the API on your local install, edit config.json to do this: `"BASE_URL":"http://localhost:3000",` and then the API is available at http://localhost:3000/static/api
Apologies if that's not what you meant. And there might be a better way of achieving the same thing.

Demo data first thing in the mo

[2014-09-08 12:17] paglias commented on #4000
I think in order to run it with production data you should find a way to
run only the client side, otherwise the local server won't get api calls
and redirect back to static pages
Il 08/set/2014 14:15 "Alice Harris" notifications@github.com ha scritto:

[2014-09-08 13:57] negue commented on #4000
I'll test it after work, but I still think the API shouldn't return any members ( or items which are used by "track by" ) which doesn't have a _id set.

Just curious the id / _id is only set on the API , in browser, If you add a new task (or other object) the id is undefined?

Need as much information I can get :D

[2014-09-08 14:19] paglias commented on #4000
Tasks get the id set by the browser, about members its possibile that the
api returns only the usernames as part of the group and then load the ids
later. But I'm not sure, it's a lot that I don't touch that code
Il 08/set/2014 15:57 "negue" notifications@github.com ha scritto:

[2014-09-08 15:04] negue commented on #4000
I could connect to https://habitrpg.com

I'm in 4 Guilds and I don't get any undefined errors.

Altought 2 other which are not related to my changes and currenty also there on the live server (https://habitrpg.com) , for those errors I'll create an issue.

Edit: The other bugs:
- #2239
- #4001

[2014-09-08 15:11] negue opened #4001 "$scope.group is undefined"
Switching between Guilds I get this error.

Online:

[code]

Local:

[code]

[2014-09-08 17:05] ghost commented on #3994
For whatever reason, it seems to have stopped. Closing this unless it starts up again.

[2014-09-08 17:05] #3994 closed, assigned to nobody

[2014-09-08 17:31] negue commented on #4000
I'll wait and test again with @Alys demo data, I hope the new version won't get published without trackBy ^^

[2014-09-08 18:28] Alys commented on #4000
Demo data:
http://oldgods.net/habitrpg/users.json
http://oldgods.net/habitrpg/groups.json
- Usernames are tier-1, tier-2... tier-7, admin-8, etc, where the digits represent the contributor tiers that have been given to the accounts (using the new scheme for contrib tiers which will go live soon).
- All accounts have the password `test`.
- The admin-9 account has contributor.sudo:true.
- For all ac

[2014-09-08 18:30] lemoness commented on #3998
Just checked it, and actually, I think that the issue reported there is
really the same issue as this, not related to scrolling.

First I typed in "13" for the gem prize, and scrolled up and down as I
always do. The gem prize did not change. Then I selected "Tavern" from the
drop-down menu with no other scrolling - and it instantly changed to "1."
Does the same thing happen when you try it?

On Mo

[2014-09-08 18:31] deilann commented on #3998
I can confirm this has happened to me.
On Sep 8, 2014 11:30 AM, "lemoness" notifications@github.com wrote:

[2014-09-08 18:34] Alys commented on #3998
The scrolling issue definitely happens (I've observed it several times) but, yes, selecting Tavern does change the gem amount. The form seems to be designed to encourage the user to select the location of the challenge before anything else but the positioning of the drop-down makes it less likely users will do that. If it's moved to under the buttons, it will probably be used first more often. Tha

[2014-09-08 18:54] negue commented on #4000
@Alys  THANKS!!!

I can only login with admin-8 , all other "tier-X" account won't let me login with `test`

[2014-09-08 19:01] Alys commented on #4000
That's truly weird. I'm afraid I have no idea what's happening there. They all have identical salts and hashed passwords, and I can log in to all of them using `test`. All I can suggest is reimporting the user.json file again, in case something odd happened, but I doubt it will make any difference since admin-8 was working. Is there anything useful in the Console?

[2014-09-08 19:05] Alys commented on #4000
Reload http://oldgods.net/habitrpg/users.json and download it again. I've changed the email addresses to make them unique and standardise them with the usernames. Probably won't help with your login problem, but maybe it will, and I should have done that before anyway.

[2014-09-08 19:19] lefnire commented on #4000
I too don't know why under certain circumanstances _id/id are undefined on certain objects, I've seen it from time to time but can't pin-point anything. Some thoughts:
- A few Group operations (join party, begin quest.. maybe.. I can't remember which ones) have a bug where the Group $resource performs a PUT/POST and gets nothing back, but then loads that nothing as the Group model ($resource expec

[2014-09-08 19:24] Alys commented on #2558
duplicate: https://github.com/HabitRPG/habitrpg/issues/1402

[2014-09-08 19:24] #2558 closed, assigned to nobody

[2014-09-08 19:28] Alys commented on #3316
closing this because it's a duplicate of https://github.com/HabitRPG/habitrpg/issues/2334 and no response about whether it's still a problem

@avpan, if you still can't delete it, tell us and we can reopen this.

[2014-09-08 19:28] #3316 closed, assigned to nobody

[2014-09-08 19:33] deilann commented on #3998
That was my thought exactly Alys.
On Sep 8, 2014 11:34 AM, "Alice Harris" notifications@github.com wrote:

[2014-09-08 19:40] Alys commented on #3441
This is also a duplicate of https://github.com/HabitRPG/habitrpg/issues/2334 and lefnire has assigned tags and commented in that one, so we'd better make that the main one.

[2014-09-08 19:40] #3441 closed, assigned to nobody

[2014-09-08 19:41] Alys commented on #2334
See https://github.com/HabitRPG/habitrpg/issues/3441 for a screenshot of a Reward in the Habit column.

[2014-09-08 19:50] lefnire commented on #3963
Answering via email

[2014-09-08 19:50] #3963 closed, assigned to nobody

[2014-09-08 20:31] negue commented on #4000
@Alys with the first users.json I could login using email addresses, gonna test the new json too (maybe tomorrow)

On my local server I've send me an invitation to a party, and there was no error.

Next try is starting a quest (first time, since I don't have any party online xD).

@lefnire Gonna check the PUT/POSTS too. ... Wow thank you. I really appreciate it. Got it. Major Changes as PR. Small

[2014-09-08 20:40] Alys commented on #4000
@negue : _"with the first users.json I could login using email addresses"_ That's interesting. It means the accounts and passwords are valid, which is a relief. Were you using all lower-case when you were entering the usernames?

[2014-09-08 20:59] negue commented on #4000
yep all in lower case

[2014-09-08 21:24] negue commented on #4000
Current State:
- POST questAccept?force=true
- POST questAbbort

... returning the Group Object with a members array BUT here the memberArray is just an array of IDs, instead of member objects, this is why "member._id" is undefined

[2014-09-08 21:36] negue commented on #4000
Sorry for spam :D

I think I found the "solution" , we have to add a `populateQuery(gid, group);` on questAccept / questAbbort (maybe some others ) to get the real member objects, will test this tomorrow

I think if we just add it in api.attachGroup will create more bugs / changes than needed

[2014-09-09 03:10] gasolin opened #4005 "responsive mobile web task view"
Current mobile web task view is a bit small
![Imgur](http://i.imgur.com/uYCJjOI.png)

We could use @media query to improve that

[2014-09-09 03:12] Alys commented on #2715
The code required for this is in https://github.com/HabitRPG/habitrpg/pull/4004 and https://github.com/HabitRPG/habitrpg-shared/pull/303

Ha! Look at the two numbers. 4004 and 303. I should get a present for that too.

[2014-09-09 07:45] Alys commented on #2606
These two PRs implement SabreCat's suggested workaround (https://github.com/HabitRPG/habitrpg/issues/2606#issuecomment-53584917):
https://github.com/HabitRPG/habitrpg/pull/4007
https://github.com/HabitRPG/habitrpg-shared/pull/304

[2014-09-09 09:39] PrinceLucian opened #4008 "Mounts menu is bugged"
My mounts are appearing in all of the wrong places, not just in their own lines, but I have tigers in the bear line, a zombie wolf in with the bears that has no face, the white tiger I made before discovering this doesn't seem to have been made, despite the food and the pet being used up, and I have a Zombie octopus that I definitely shouldn't have and these are just the things that I can remember

[2014-09-09 09:47] Alys commented on #4008
Have you tried reloading the page? That's worth doing anytime you see anything looking very odd (on any website, not just HabitRPG). Your browser is probably just displaying the images incorrectly and a reload should fix it.

[2014-09-09 09:50] Alys commented on #4008
More information here: https://github.com/HabitRPG/habitrpg/issues/3830

I'm closing this because every time I've seen this reported so far, it's been fixed by a reload, or at worse by clearing the browser's cache. However if you're still having trouble, comment here and we'll reopen it and keep on helping you.

[2014-09-09 09:50] #4008 closed, assigned to nobody

[2014-09-09 09:59] PrinceLucian commented on #4008
I did a refresh and yes, that did handle it, thank you!  That was super weird, though.  It let me equip the zombie octopus and everything.  O.o

[2014-09-09 12:40] cdrfun opened #4009 "When casting Burst of Flames on already checked Daily level up isn't triggered"
OS: Windows 8.1
Browser: Chrome 37
UserID: a93f5665-4984-4fe6-b7bd-1d3bbf8acee1

No error in Developer Tools Console.

As you can see experience is above level-up threshold. After gaining experience through other sources the level-up takes places.

![image](https://cloud.githubusercontent.com/assets/146877/4201408/2a2c7688-381e-11e4-949e-873b52b71503.png)

[2014-09-09 14:57] ghost commented on #3827
At the risk of taking up too much space, we could do something more like a toggle. It might suggest to the user more that there's a state that can be changed, and get them to mouse over to see what it is.
![toggle](https://cloud.githubusercontent.com/assets/8461012/4203738/985e0bd6-3831-11e4-8541-1eb3f7de2751.png)

[2014-09-09 16:31] lemoness commented on #4009
So this is actually a known behavior - it should be solved when you check
off any task. Let us know if it isn't!

On Tuesday, September 9, 2014, Marco notifications@github.com wrote:

[2014-09-09 18:12] #3011 closed, assigned to nobody

[2014-09-09 18:17] negue commented on #3011
I had this problem in current Firefox too.

My checkin 62361b6 should fix it.

I've set the sticky header height to auto, now the scrollbar can be used without problem AND all content won't overlap the header.

Once this goes live, pls write here If you still have the same problem.

[2014-09-09 18:25] negue commented on #2821
Same as #3011 and I think can be closed now. @Alys  @lefnire  ?

[2014-09-09 18:33] lemoness commented on #2821
Closing this because it's a duplicate.

[2014-09-09 18:33] #2821 closed, assigned to nobody

[2014-09-09 18:36] #4009 closed, assigned to nobody

[2014-09-09 19:04] lemoness commented on #3029
_{alys: copied}_

How would we like to go about rebalancing Backstab? Have been hearing complaints from my party members, so it's on my mind.

Some relevant comments from the Trello card:
(Yuu) "Yes, Rogue's backstab is awesome for long streaks, but with low intelligence, it is really hard to get the mp to use it. Plus, it doesn't damage bosses, which I think is unfair, since the frequency of use

[2014-09-09 19:10] lemoness commented on #3542
I've been playing as a warrior after Rebirth, and I really like the way that Brutal Smash is handling boss damage. I feel strong without decimating every boss in two seconds. I'd also really like to see Burst of Flames function like Brutal Smash - maybe you damage the boss by an amount equal to 20% of your intelligence (the exact parallel)? Or we could raise both Burst of Flames and Brutal Smash t

[2014-09-10 01:44] deilann commented on #3542
Actually the idea would be to do less than brutal smash for burst of flames
because mages have more mana
On Sep 9, 2014 12:10 PM, "lemoness" notifications@github.com wrote:

[2014-09-10 03:13] lemoness commented on #3542
Good call! So maybe 20% of intelligence for mages, and 35% of strength for
warriors?

On Tue, Sep 9, 2014 at 6:44 PM, deilann notifications@github.com wrote:

[2014-09-10 03:33] deilann commented on #3542
35% of StR would end up being way too heavy handed for high level warriors.
I say keep the.boss damage of.brutal smash the same.
On Sep 9, 2014 8:13 PM, "lemoness" notifications@github.com wrote:

[2014-09-10 04:26] Alys commented on #2551
https://github.com/HabitRPG/habitrpg-shared/pull/305 prevents you losing items that belong to a different class than the one you are currently playing. It's not exactly a fix for this issue since it doesn't help people who suffered from this before, but it will prevent future repeats of this issue. See also the [Trello death card](https://trello.com/c/k2MWBcxl/204-death-mechanic-v2).

[2014-09-10 05:43] lemoness commented on #3542
Then how low to go for Mages in comparison? 15%? 10%?

On Tue, Sep 9, 2014 at 8:33 PM, deilann notifications@github.com wrote:

[2014-09-10 05:54] Alys commented on #2082
Can this be closed? I think the current behaviour regarding MP > max is appropriate. There are legitimate reasons to have more than max MP (e.g., you've just deequipped INT gear) and there are already some things in place that reduce MP to max (cron and ticking off a To-Do). See also the discussion here about why MP > max isn't all bad: https://github.com/HabitRPG/habitrpg/pull/3662

[2014-09-10 06:04] Alys commented on #2602
I think the way MP is handled now is working well, even though you can have MP > max and keep adding to it by assigning points to INT. The MP that you had before you started assigning points is likely to have been earned legitimately, and there are valid reasons for having MP > max (e.g., you've just changed class away from Mage your high-INT gear has been deequipped). I don't think that earned MP

[2014-09-10 06:08] lemoness commented on #2082
I agree! Closing now; let me know if it should be reopened.

[2014-09-10 06:08] #2082 closed, assigned to nobody

[2014-09-10 06:33] Gaelan commented on #2551
Also, rebirth isn't necessarily a gem feature. L100+ people get it free.

[2014-09-10 06:34] ghost opened #4011 "Cron ran after checking out of Inn"
So I checked into the Inn earlier tonight, got more done than I expected, checked out again (I've done this before without issues and I'm not sure whether it's relevant). Midnight hits and all of a sudden my cron runs. My cron has been set at 7 am for months (and when I checked it's still set for 7 am). I haven't touched my cron setting and it doesn't appear to have changed so why did it randomly

[2014-09-10 06:36] ghost commented on #2602
I'm still unclear as to why allocating INT points generates MP which was my original issue. Maybe that was explained and I missed it but this seems to have gone off in an unrelated tangent.

[2014-09-10 06:42] Alys commented on #2914
I haven't noticed that happening in recent months, and it doesn't happen on my local install when I simulate day turn over. I'm thinking that it was either a once-off glitch or a bug that's been fixed in the months since it was reported, so I'm closing this, but if necessary @deilann knows how to reopen it and where to find me to lodge complaints. :)

[2014-09-10 06:42] #2914 closed, assigned to nobody

[2014-09-10 06:44] Alys commented on #2602
That's just one of the features related to Mana and INT. It's documented in the wiki's [Mana Points](http://habitrpg.wikia.com/wiki/Mana_Points) page.

[2014-09-10 07:55] ShabbyX commented on #3029
_{alys: important}_

@lemoness, actually _starsystemic_'s idea is not bad at all. How about this, keep pickpocket as it is:

[code]

so, having a reward that is at maximum 25GP, and tweak backstab:

[code]

which means less gold (maximum 15), but instead some XP which is at maximum 70. I made the XP scale with level, because a limit like 20 XP is way too low for high level players and a high limit

[2014-09-10 08:44] Alys commented on #2873
fixed in https://github.com/HabitRPG/habitrpg-shared/pull/307 (not live yet, but works well in testing and this issue can be reopened later if needed)

[2014-09-10 08:44] #2873 closed, assigned to nobody

[2014-09-10 08:44] Alys commented on #3077
fixed in https://github.com/HabitRPG/habitrpg-shared/pull/307 (not live yet, but works well in testing and this issue can be reopened later if needed)

NB: _"after unlocking Rebirth at level 50 for the first time, you can then do rebirth at any age"_  -- that seems to have been fixed already elsewhere

[2014-09-10 08:44] #3077 closed, assigned to nobody

[2014-09-10 08:44] Alys commented on #3377
fixed in https://github.com/HabitRPG/habitrpg-shared/pull/307 (not live yet, but works well in testing and this issue can be reopened later if needed)

[2014-09-10 08:44] #3377 closed, assigned to nobody

[2014-09-10 10:52] k8sullyvan opened #4012 "Small Screen Bug"
When you make the page narrower (I was doing so to fit two chrome windows side by side) Bailey pokes through the notification bubble. It's probably just a layering thing, so possibly an easier bug to fix for a newer volunteer?
![screenshot 2014-09-10 11 48 40](https://cloud.githubusercontent.com/assets/7197274/4216314/513d9be8-38d8-11e4-8616-d2514a6ab73e.png)
## <bountysource-plugin>

Want to back

[2014-09-10 11:00] cdrfun commented on #4009
Hi, yes when checking off a task the problem is solved. I'm sorry for creating a duplicate. I just wanted to link it here, If anybody else is having problems - but i can't find it?

[2014-09-10 13:14] swagath-s commented on #2239
Chiming in.

Same issue, except for me it doesn't even sort the avatars on top. Firefox, OSX.

Agree with adding 'Alphabetical' as an option and removing 'No. of pets'.

[2014-09-10 13:34] Memry opened #4013 "Cannot repurchase ALL of my old equipment"
I used the Orb of Rebirth and I have been able to repurchase all my old equipment EXCEPT the egg shield.  I have the clover steel armor, helmet, and the carrot sword.  Please help.  I am considering how difficult it would be to make it for the costume contest.

[2014-09-10 14:33] Equilibrist opened #4014 "Text error on Android"
When completing a multi-part task, once you check off the actual task and not the addendums, it says "A task were completed", instead of "A task was completed".

[2014-09-10 14:59] negue commented on #4012
Yes this is an easy bug to fix for newer volunteers.

[2014-09-10 16:05] casicastiel opened #4015 "New help menu messes with header on mobile browser"
Chrome on an android tablet - it used to fit but now the help menu pushes the right side stuff down.
![screenshot_2014-09-10-12-03-45](https://cloud.githubusercontent.com/assets/6208739/4220848/4bae2ad6-3904-11e4-9a6e-c12dde1afe6c.png)
## <bountysource-plugin>

Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/4306690-new-help-menu-messes-with-header-on-mobile-b

[2014-09-10 17:24] deilann commented on #3542
I was thinking 10%. Mages tend to have more than twice as much mana and
gain it.back faster.
On Sep 9, 2014 10:43 PM, "lemoness" notifications@github.com wrote:

[2014-09-10 18:21] sleepykit opened #4016 "17,000+ Experience for One Task"
First and foremost: I completed a task and received 17,000+ experience for completing a single task. The tasks's difficulty is "Medium". Suddenly, my level catapulted from 60 something to 329.

UID: 4b378ace-e802-4349-a2c2-7bdc07fff75a

Screenshot
![9-10-2014 12-12-15 pm](https://cloud.githubusercontent.com/assets/323871/4222830/e28a94be-3916-11e4-96a9-ef7625c4c591.png)

I checked the party I'm wi

[2014-09-10 18:23] deilann commented on #4016
Go to stats and tell me what it says your int is buffed by. The solution
(if the answer is a metric tonne) is to have your party members exercise
restraint when buffing.
On Sep 10, 2014 11:21 AM, "Anna Nelson" notifications@github.com wrote:

[2014-09-10 18:45] sleepykit commented on #4016
You are correct on the metric ton:

Strength Buff: 375518

Thank you for pointing me in the right direction. :+1:

[2014-09-10 18:51] lemoness commented on #2551
Given this new fix, I'm tempted to close this ticket - the only reason I'm
hesitating is that it doesn't fix it for users who previously had the
trouble. Is there anyone in this thread who still hasn't been able to buy
back a cross-class item they lost on death?

On Tue, Sep 9, 2014 at 11:33 PM, Gaelan notifications@github.com wrote:

[2014-09-10 18:52] casicastiel commented on #4015
I should clarify that this only happens in portrait orientation. Landscape is still fine IIRC.

[2014-09-10 18:53] deilann commented on #4016
If you got a critical hit on the task that's exactly what would be expected
:)
On Sep 10, 2014 11:45 AM, "Anna Nelson" notifications@github.com wrote:

[2014-09-10 18:55] lemoness commented on #3029
_{alys: noted}_

I think we won't have Backstab do any damage to the boss, but I like this
solution otherwise! That being said, number are NOT my specialty, so I'd
love some feedback from other people.

On Wed, Sep 10, 2014 at 12:55 AM, Shahbaz Youssefi <notifications@github.com

[2014-09-10 19:01] lemoness commented on #4009
No worries! Sometimes it can be tough to search through the issue queue. I'm glad that the fix worked!

[2014-09-10 19:05] lemoness commented on #2239
For what it's worth, I have it on random sorting, and that works! But I agree that it would be nice to have other ways to sort.

One type of sorting that I'd like to be able to do is backgrounds vs. no backgrounds, though I don't know how difficult that would be. It would be aesthetically pleasing to have all your party members with backgrounds grouped in a line, without blank spots in between!

[2014-09-10 19:07] lemoness commented on #4013
Strange - I just used Rebirth, and the Egg shield is showing up for me. Refresh, then double check to make sure it isn't in your rewards list or in your equipment. What's your UUID?

[2014-09-10 19:27] lemoness commented on #3542
That'll be a shock to the system for mages when it first goes through, but
I agree. I could frequently cast Burst of Flames over ten times a day at my
peak.

On Wed, Sep 10, 2014 at 10:24 AM, deilann notifications@github.com wrote:

[2014-09-10 19:30] lemoness commented on #4016
Out of curiosity, how many times did your party mate cast Valorous Presence?

On Wed, Sep 10, 2014 at 11:53 AM, deilann notifications@github.com wrote:

[2014-09-10 19:33] deilann commented on #3542
Agreed... it will be quite a shock indeed.
On Sep 10, 2014 12:27 PM, "lemoness" notifications@github.com wrote:

[2014-09-10 19:47] lemoness commented on #3542
Better start preparing my gentle announcement now ;p

On Wed, Sep 10, 2014 at 12:33 PM, deilann notifications@github.com wrote:

[2014-09-10 20:12] sleepykit commented on #4016
I counted 132 times.

[2014-09-10 20:34] lemoness commented on #4016
.....Yeah, I think we can close this issue.

If you or your party mate would like to set your levels/stats back to what
they were before, you can use Settings > Site > Fix Character Values. For
the future, you can have a discussion with your friend about the famous
quote from Burns (paraphrased in English):
"The best-laid schemes of mice and men
Go oft awry,
And leave us nought but grief and pain,

[2014-09-10 20:34] lemoness commented on #4016
If anyone thinks that there is still a balance issue that we should address, let me know and I'll reopen it! :)

[2014-09-10 20:34] #4016 closed, assigned to nobody

[2014-09-10 21:18] ArlieS opened #4017 "Default Due Dates in the 20th entury"
When I add ToDos with due dates, I frequently type e.g. 11/09/14. Unsurprisingly, I intend the due date to be in the future. Instead, I get an immediately overdue task, due Nov 9, 1914.

Yes, there's a workaround - but it's really bugging me this morning, as I add ToDos for MOOCs I'm taking, many of which aren't due this month, so using the popup calendar is unattractive.
## <bountysource-plugin>

[2014-09-10 21:56] Alys commented on #4014
This happens on the unofficial Android app written by MagicMicky so it's best to contact the developer directly to ask about this. You can find contact details on the Google Play page for the app: https://play.google.com/store/apps/details?id=com.magicmicky.habitrpgmobileapp

[2014-09-10 21:56] #4014 closed, assigned to nobody

[2014-09-11 02:22] gasolin commented on #4005
@lefnire how do you think about this improvement for mobile web?

[2014-09-11 05:34] Memry commented on #2551
I haven't been able to get my egg shield back since my rebirth.  But the funny thing is - I think that was a rogue item and I am currently a rogue.  Since I didn't know about this ticket before, I created its own ticket for the issue.

Also - responding to Gaelan - how long as rebirth been free?  I had to pay for it when I was over level 100.

[2014-09-11 05:34] townimbecile opened #4018 "Negative reward crashes the website"
Create new reward
Adjust price to -10
Save
(Reward displays with blank price)
"Purchase" reward
Lose all gold
(Reward now displays with NaN)

_edit by Alys 2016-12-26:_

There's new behaviour for this bug - it now crashes the website. Steps to reproduce the error:

- Create a new reward
- Change the reward to -10 and save
- First Bug: the reward value does not display, it is blank
- Click the rewa

[2014-09-11 05:37] deilann commented on #2551
I can't remember when I implemented it, but it was when i removed the level
cap. @Alys can you check into the egg shield?
On Sep 10, 2014 10:34 PM, "Memry" notifications@github.com wrote:

[2014-09-11 05:37] Alys commented on #2551
Egg shield is warrior not rogue. You can see all gear and their classes at [Equipment Table](http://habitrpg.wikia.com/wiki/Equipment_Table)

[2014-09-11 05:37] Memry commented on #4013
My user id is e495bd8b-f2f1-48e8-8f5f-9a52710999cf.  I saw the other thread
about repurchasing equipment and replied on there before I saw this
message.  (I subscribed to see the changes on this thread and somehow ended
up seeing every thread.  Oops!)

I used the orb a while back.  I'm currently at level 68 again.  I have
purchased all my equipment, except the egg shield.  I have refreshed and
can

[2014-09-11 05:40] Alys commented on #4013
The egg shield is a warrior item and you are currently a rogue, which is why you can't buy it. Clover-steel Armor is also warrior but I'm guessing you bought it before you changed to rogue at or after level 10. If you were ever to change back to warrior, you'd see the egg shield there.

[2014-09-11 05:44] Memry commented on #4013
THAT would explain it.  Thanks.  I must have had the chance to purchase it
before I reached class selection level way back when I started.  I'll
switch classes after the next equipment release, so I can get all the cool
new toys! :)  Thank you!

On Wed, Sep 10, 2014 at 10:41 PM, Alice Harris notifications@github.com
wrote:

[2014-09-11 05:44] Alys commented on #4013
The publicly-available data that the API shows for your account (items, pets, etc) confirms that you will be able to repurchase the egg shield ("shield_special_springWarrior") if you were to change back to rogue. I.e., it's in your "owned" data with a value of "false" which is how previously purchased equipment is meant to be recorded. From what I can see, everything here is behaving as expected.

[2014-09-11 05:44] Alys commented on #4013
No worries, thanks for your reply. :)

[2014-09-11 05:44] #4013 closed, assigned to nobody

[2014-09-11 07:26] Alys commented on #3801
@lemoness, I've jumped ahead to working on the feature that will block people from chatting until they have accepted the guidelines.

You've spoken in the past about having a pop-up when people first try to post, but I'm wondering if other alternatives might be better. If someone has just written a message and wants to send it, they'll be focussed on taking part in a conversation, and if a pop-up

[2014-09-11 08:13] Alys commented on #1972
Usually when you hatch a pet and the pet doesn't appear straight away, all that's required is that you reload the Pets page (occasionally clearing your browser's cache might also be needed and/or logging out and logging back in). The other reason this can happen is if a sync error occurs, in which case the egg and potion usually reappear in your inventory after a short delay (details at [Sync Erro

[2014-09-11 08:20] Alys commented on #3852
I can't replicate this on my local install. It all works as expected. Is it still happening for you? Does it happen even on a new branch that's identical to upstream/develop? Does it still happen if you delete all groups content from the database and create a new party/guild and then create the challenge in that?

If it is still happening, tell us the exact parameters you're using for the challeng

[2014-09-11 10:48] Alys commented on #2239
From the look of the code, the sorting was only ever meant to affect the avatars in the header. The bug is that it's labelled badly and it appears in the guild pages when it shouldn't since it's not (yet) relevant for guilds.

I'll add alphabetical and background sorting (I LOVE the background sorting idea).

I won't remove the pet sorting. There's no reason to remove existing features unless they

[2014-09-11 13:18] paglias commented on #3852
have you executed the seed.js file?

2014-09-11 10:20 GMT+02:00, Alice Harris notifications@github.com:

##

Matteo Pagliazzi - paglias.net

[2014-09-11 13:47] brightbold commented on #2239
Yeah I was really only talking about guild sorting. The last time I checked, no matter what I did I could only see the same X members of each guild, so if you wanted to know if a certain person was in the guild and they weren't one of the names shown, there was no way to check the rest of the list. (note: just checked; this is still true although someone has renamed it "Party Members list ordering

[2014-09-11 15:06] townimbecile opened #4020 "Swagger UI member query missing parameter"
On swagger UI, try to query a member by id. Oh wait, the interface only lets you send the GET without a parameter. Predictably, the server responds with an error.

[2014-09-11 19:50] HSalgo commented on #3990
Still can't figure it out. Any progress on your end?

[2014-09-11 20:22] lemoness commented on #3801
I think that having the instructions appear in the send box is a much
neater solution than the pop-up, so I am 100% in favor of that!

I wonder how frustrating people would find it if opened into a page with
the button at the bottom. Would certainly cut down on random spammers.
Might also cut down on questions - people often ask in the Tavern because
it seems easiest. That's not necessarily a good

[2014-09-11 21:53] lefnire commented on #3852
seed.js is presently not required, due to https://github.com/HabitRPG/habitrpg/blob/develop/src/models/group.js#L322 (we can either remove the file, or keep it around in case of future seed updates). I think the problem here is mongodb version (`Error Unsupported projection option: $elemMatch`). @efim what's your `mongo --version` ?

[2014-09-12 00:04] Alys commented on #2239
Pull request https://github.com/HabitRPG/habitrpg/pull/4022 adds sort by name and sort by background. Due to how the original code is written, sort by name is actually from Z to A, rather than A to Z. Reverse sort makes sense for some of the other sort options, and I didn't think it was worth building in an exception for names.  However an exception can be added later if needed.

I've also clarifi

[2014-09-12 00:34] Aloriellelyn opened #4023 "Scroll down produces strange pop motion"
Tested on Chrome (v37.0.2062.120) and Firefox (v31) on Windows 7

When I scroll down in either browser, the first moment of scrolling causes a sudden substantial scroll down instead of a smooth scroll down.

It appears to jump over the entire section where we can setup new To Dos or Dailies.

The motion makes for unpredictable mousing, is quite jarring visually, and feels glitchy as a result. Also

[2014-09-12 01:41] Alys commented on #4023
Now that you've mentioned it, I've realised I have that problem too. It seems to be related to this change: https://github.com/HabitRPG/habitrpg/commit/62361b6c3bc1bbd5d39fc0e71bcbad264870eae0
On my local install, when I remove that change, scrolling is smooth again.

@negue, would you like to look into this? It would be nice to keep your scrollbar fix if there's some way of stopping it from causi

[2014-09-12 02:09] #3240 closed, assigned to nobody

[2014-09-12 02:53] Alys commented on #3801
For the record, I'm not able to give advice about the mobile app. I've had no experience with it so far.

I wonder if we want a separate ask-a-question mechanism for new users who haven't yet accepted the guidelines. They could be directed to a special guild that doesn't require acceptance of the guidelines and they could post whatever they wanted there. That guild could be monitored by experience

[2014-09-12 06:07] negue commented on #4023
Oh my .... this is some strange bug, yes I'll look into this.

[2014-09-12 06:16] negue commented on #4023
Well, my height: auto fix won't work with that ... too bad.

I tried to change "in-browser" my css to:

[code]

with that the scrolling seems to work.

@Alys could you test this locally? If not I'll test & push it after work.

[2014-09-12 07:07] lemoness commented on #3801
That seems a little inconsistent and a bit of a headache. I've been musing
on this for a bit, and I think that for now, let's use the example in your
first sample post, with the button immediately below it, and the Community
Guidelines next to it. In practice, people who are impatient enough to rage
quit without an immediate question outlet will just click "agree" and then
post their question, but

[2014-09-12 08:41] Alys commented on #4023
It fixes both problems for me, although 205px looks a bit better (slight gap between tags and scrollbar)

[2014-09-12 08:51] negue commented on #4023
Okay so with 205px, the Party Scrollbar is fully useable?

(I don't have a party online xD, so I couldn't test that ^^)

[2014-09-12 08:56] Alys commented on #4023
Yup, it's good. I say commit.

[2014-09-12 11:35] kimifish opened #4025 "API returns 500"
Hi. Need some python automation in adding tasks, but can't get with API.
Here's my code:

[code]

This code always returns HTTP 500, dunno why..
Please help)

[2014-09-12 15:26] #4023 closed, assigned to nobody

[2014-09-12 15:41] negue commented on #4025
I'm no python pro.

But from looking at this code I found 2 things.
1. Do you using a GET / POST HTTP-Call? Can't determine what urllib.request.Request does
2. If POST, you need to put the Task-Data as POST-Content in JSON and not as URL-Params

[2014-09-12 15:51] negue commented on #4023
I think it should have been 215px, with 205px I can only use the top 3 px of the scrollbar inside Firefox / Windows.

[2014-09-12 16:33] JMDTRM opened #4026 "Can't delete dailies from challenge (checking and sync does not work)"
I wanted to get rid of all my challenges so I left all the challenges while choosing to remove the tasks. I did it really quickly and errors were springing up while I was doing that (I didn't get a screenshot, unfortunately). Now, the habits and dailies still exist and can't be deleted. I tried looking around and found that selecting the daily then syncing helps. I tried that but it didn't seem to

[2014-09-12 18:10] eglove opened #4027 "App Not Sycing"
I've been having a really frustrating syncing issue with the android app. I've got a few dailies I do before bed and I'll check them off, wait until the little gear icon stops moving/goes away (I assume this means it's syncing?) But the next day I've always lost HP and sync points as if that never happened.

It's always my last two tasks at around 10-11pm. I know it's not a time issue because the

[2014-09-12 18:20] Alys commented on #4026
When you perform many actions in HabitRPG very quickly you get [sync errors](http://habitrpg.wikia.com/wiki/Sync_Errors) because your browser can't send the information about your actions to the server fast enough. The errors you were seeing were a sign of that.

To remove those tasks, rejoin the challenges they belong to and then leave the challenges again, choosing the "remove tasks" option. If

[2014-09-12 18:20] #4026 closed, assigned to nobody

[2014-09-12 18:30] lemoness commented on #4027
Yikes, sorry about that! The good news: you can restore your stats by going
to the website and selecting Settings > Site > Fix Character Values; you
can also restore streaks under Task Edit.

On the iOS app, you can manually sync the app by holding down your thumb
and pulling down. Can an Android user confirm that this is how you sync on
Android?

On Fri, Sep 12, 2014 at 11:10 AM, Ethan Glover not

[2014-09-12 18:35] eglove commented on #4027
Oh good, I fixed the values and yes, you can refresh by holding down and dragging down. Thank you! :+1:

[2014-09-12 18:58] lemoness commented on #4027
No problem! Glad that helped :)

[2014-09-12 18:58] #4027 closed, assigned to nobody

[2014-09-12 23:28] #4005 closed, assigned to nobody

[2014-09-13 03:37] octern commented on #3025
@Alys Could you elaborate on "read the advice that you'll find there before you click the button"? It just tells me that completed to-dos will be archived after 3 days -- does that mean that if I clear my completed to-dos, the ones on the list will be expunged from my records? That would be an unfortunate price to pay for being able to rearrange my remaining to-dos.

[2014-09-13 03:44] Alys commented on #3025
@octern : Hover over the Delete Completed button to see more specific information. But basically, yes, to answer your question. Note that unless you're a subscriber, I think your completed To-Dos are deleted after a while anyway. If you want to keep a permanent record of them, it's advisable to export them regularly.

[2014-09-13 15:44] ozziog opened #4030 "Equipment quests appear to drop multiple at once (excess ones disappear from inventory on reload)"
Have dropped 3 identical quests from doing dailies, called attack of mundane quest line Part one.

Log into today and only 1 quest of this name is showing.
## <bountysource-plugin>

Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/4356372-equipment-quests-appear-to-drop-multiple-at-once-excess-ones-disappear-from-inventory-on-reload?utm_campaign=plugin&utm_cont

[2014-09-13 15:53] lefnire commented on #4030
The 3 drop is a bug, it should only drop one  upon reaching a certain level
On Sep 13, 2014 9:44 AM, "ozziog" notifications@github.com wrote:

[2014-09-13 16:00] ozziog commented on #4030
It dropped in a 2 then 1 ratio. I was in the teen levels when these dropped.
I am now level 20.

[2014-09-13 16:46] s-ol opened #4031 "Misspelling in german translation (morgenDs)"
The tag "in the morning" is spelled out as "morgends" but should be **"morgens"** on the german page.

[2014-09-13 16:48] s-ol commented on #4031
Fixed by https://github.com/HabitRPG/habitrpg-shared/pull/310

[2014-09-13 17:05] Alys commented on #4031
Thank you for the report about the problem. However, Translations are managed at Transifex and so your pull request unfortunately can't be accepted - if it was, your change would be overwritten the next time the translations were pulled in from Transifex. You can read more about the process at https://github.com/HabitRPG/habitrpg-shared/blob/develop/locales/README.md

@paglias : Should we copy tha

[2014-09-13 21:36] Alys commented on #3257
Fixed in https://github.com/HabitRPG/habitrpg/pull/4002
Any quests whose quest owner is no longer in the party can now be cancelled/aborted by other party members. More details at that link.

Also for @thepeopleseason's comment, the quest dictionary will no longer list the UUID of a removed member.

[2014-09-13 21:36] #3257 closed, assigned to nobody

[2014-09-13 21:39] Alys commented on #3263
Fixed in https://github.com/HabitRPG/habitrpg/pull/4002
Any quests whose quest owner is no longer in the party can now be cancelled/aborted by other party members. More details at that link.

[2014-09-13 21:39] #3263 closed, assigned to nobody

[2014-09-13 21:40] Alys commented on #3345
Partial fix for some of what's discussed here: https://github.com/HabitRPG/habitrpg/pull/4002
Any quests whose quest owner is no longer in the party can now be cancelled/aborted by other party members. More details at that link.

[2014-09-13 21:41] Alys commented on #3344
Fixed in https://github.com/HabitRPG/habitrpg/pull/4002
Any quests whose quest owner is no longer in the party can now be cancelled/aborted by other party members. More details at that link.

[2014-09-13 21:41] #3344 closed, assigned to nobody

[2014-09-13 22:50] Alys commented on #1972
Closing this issue because it's very old now but it can be reopened if you still need help - just comment here.

[2014-09-13 22:50] #1972 closed, assigned to nobody

[2014-09-13 23:31] wizonesolutions commented on #1721
Did this one already get fixed elsewhere?

[2014-09-13 23:33] wizonesolutions commented on #1757
still relevant?

[2014-09-13 23:33] wizonesolutions commented on #2672
I imagine something like this already happened?

[2014-09-13 23:35] wizonesolutions commented on #3940
So should this issue be closed?

[2014-09-13 23:36] Alys commented on #3940
Confirmed fixed with a quick test.

[2014-09-13 23:36] #3940 closed, assigned to nobody

[2014-09-14 00:06] Alys commented on #3801
_"Are we going to want to change the gems for contributors prior to launching it?"_  From my point of view, that's not necessary. It will be easy enough to update the number of gems in the guidelines later. It's probably a matter of how quickly you want the guidelines available and whether Tyler has time to run the migration script for changing the gems. Although he will have to run a script for m

[2014-09-14 01:26] lemoness commented on #3801
I still agree that it's a good idea, and so I think that's how  we should
do it. In the updates, I'll be clear about the fact that soon you'll need
to agree to them so that it doesn't come as a shock (to those who read the
announcements, anyway).  I think I would like to have the amount of gems
for contributors updated before they go live (or perhaps simultaneously).

You've done a really stellar

[2014-09-14 02:28] Alys commented on #3801
Here's the section of the document that I have updated with the new Gem amounts:
![screen shot 2014-09-14 at 12 22 13 pm](https://cloud.githubusercontent.com/assets/1495809/4262738/07fcb3d4-3bb6-11e4-8c0b-9512a30918b1.png)

[2014-09-14 04:16] andieSCREAM opened #4032 "To Do List Organization"
Whenever I try to reorganize my to do list the items on it randomly change order and the one item I tried to move doesn't move at all. Sometimes it does work, but only if I move the items short distances, no more than 2 or 3 lines up, never down. But even so, despite the fact that it does the saving motion (the blue bar on the top) it isn't saved upon refreshing.

I'm on google chrome and my user

[2014-09-14 04:29] Alys commented on #4032
Duplicate: https://github.com/HabitRPG/habitrpg/issues/2606

See ["Rearranging To-Dos" in the To-Do wiki page](http://habitrpg.wikia.com/wiki/To-Dos#Rearranging_To-Dos) or https://github.com/HabitRPG/habitrpg/issues/2606 for a workaround and to follow progress of this issue.

[2014-09-14 04:29] #4032 closed, assigned to nobody

[2014-09-14 06:40] nesmeisya opened #4034 "Dailies stay checked off - show hint above Dailies if user is Resting in the Inn"
Dailies stay checked off from the start of my using habitrpg. At first I didn't understand that smth goes wrong, now I know that it's a bug. What to do with it? I want to use dailies.

[2014-09-14 06:55] Alys commented on #4034
Are you "Resting in the Inn"? To learn about what that means, read the Resting in the Inn section in the wiki's [Tavern](http://habitrpg.wikia.com/wiki/Tavern#Resting_in_the_Inn) page. That page will also tell you how to check out of the Inn (which will make your dailies start working on the **following** day). If your avatar has "Zzzz" next to it and its eyes are closed, then you are Resting in t

[2014-09-14 07:45] Alys commented on #2597
I haven't been able to replicate this on my local install, using the same code that's in habitrpg/develop so I'm thinking it was either a once-off glitch or a bug that has been fixed in the intervening months. I'm going to close this, but, @hattieshoe, if you suspect it might still be happening, tell us and I'll reopen this.

[2014-09-14 07:45] #2597 closed, assigned to nobody

[2014-09-14 08:10] Alys commented on #4030
This was happening to me today on my local install: Two or three quest drop notifications would appear, and two or three quest scrolls would be in the inventory (sometimes one more than the number of notifications) but on reload all the excess ones would disappear. It's definitely a thing that's happening.

[2014-09-14 11:18] s-ol commented on #4031
Oh, I should've read that README passing through. My fault ^^

[2014-09-14 12:40] dedalus71 commented on #3874
Continued and recurring problems with syncing to and from iphone app.  No obvious confirmation that a manual sync has taken place and no obvious method of manually syncing. (pull down to refresh/sync is native to many apps, but without confirmation is pretty useless).
WIthout a reliable method of syncing between phone and web this app becomes virtually useless for anyone wishing to use it as a ser

[2014-09-14 14:15] lefnire commented on #3874
manually syncing is the solution for most people. @dedalus71 you may have some special issue going on, do you have your [UUID](http://habitrpg.wikia.com/wiki/API_Options) handy?

[2014-09-14 14:21] lefnire commented on #2672
Alas, nay

On Saturday, September 13, 2014, Kevin Kaland notifications@github.com
wrote:

[2014-09-14 14:26] lefnire commented on #1721
Yeah, should be covered [here](https://github.com/HabitRPG/habitrpg-shared/blob/91724277438a9a2b83e36f2106f5c688bbe0bac7/script/index.coffee#L722tL726)

[2014-09-14 14:26] #1721 closed, assigned to nobody

[2014-09-14 17:52] mokiman3000 opened #4035 "Cannot delete challenge habit"
Challenge ended, habit cannot be deleted, please advise

[2014-09-14 17:59] #4035 closed, assigned to nobody

[2014-09-14 18:57] thrappstead opened #4036 "to-do's wont go away"
i complete my to-do's but they wont go away after i click them. so many bugs with this site, hope they can be fixed because its unusable at the moment for productivity

[2014-09-14 19:04] deilann commented on #4036
Please give more detailed information such as what you are doing exactly
when this happens along with screen shots.
On Sep 14, 2014 11:57 AM, "thrappstead" notifications@github.com wrote:

[2014-09-14 19:22] thrappstead commented on #4036
I click the to-do cause I completed it and then like 5 seconds later it comes back like I never clicked it

Cpl Hrappstead, Trent
Medical technician, 17 Fd Amb
Trent.Hrappstead@gmail.com
(c) (204)297-2408

[2014-09-14 19:33] deilann commented on #4036
Please include screen shots. Do all To Dos do this or just some?
On Sep 14, 2014 12:22 PM, "thrappstead" notifications@github.com wrote:

[2014-09-14 19:39] thrappstead commented on #4036
All as far as I know

Cpl Hrappstead, Trent
Medical technician, 17 Fd Amb
Trent.Hrappstead@gmail.com
(c) (204)297-2408

Cpl Hrappstead, Trent
Medical technician, 17 Fd Amb
Trent.Hrappstead@gmail.com
(c) (204)297-2408

[2014-09-14 19:45] deilann commented on #4036
Again, can you please include screen shots? Do you always make sure to wait
for the blue bar to finish before taking any other action on the page?
On Sep 14, 2014 12:39 PM, "thrappstead" notifications@github.com wrote:

[2014-09-14 20:04] Gaelan commented on #1687
Appears to be fixed.

[2014-09-14 20:48] thrappstead commented on #4036
it just shows it the same as normal but here is word doc with a screen shot

On Sun, Sep 14, 2014 at 2:45 PM, deilann notifications@github.com wrote:

##

Trent Hrappstead
Cpl Hrappstead
11 CF Health Svcs C Shilo, Medical Technician
1(204) 297-2408
Trent.Hrappstead@gmail.com

[2014-09-14 20:54] deilann commented on #4036
You can upload photos directly to github. I can't open a word document on
my phone. Also, can you please answer my last question?
On Sep 14, 2014 1:48 PM, "thrappstead" notifications@github.com wrote:

[2014-09-14 20:56] Alys commented on #4031
@S0lll0s It's a common mistake. :) I'm actually reopening this so that we don't forget to discuss copying the README file into each subdirectory, where it will be more obvious. You can probably ignore all updates to this now; you should be able to unsubscribe to them with a button on the right-hand side of the page, if you want to.

[2014-09-14 21:05] Alys commented on #4036
@thrappstead, when you attach documents to a GitHub email reply, they don't appear on GitHub nor in the email that we receive. Can you please go to this GitHub ticket and drag the images into a new comment? Please do just the images, not a document.

When you tick off a To-Do, you'll see a thin blue bar appear at the top of the screen and travel from left to right, and then disappear. Wait until i

[2014-09-14 21:11] Alys commented on #4036
Please also tell us your User Id by pasting into this issue as plain text. See [API Options](http://habitrpg.wikia.com/wiki/API_Options) for how to find your User Id.

[2014-09-14 21:13] thrappstead commented on #4036
![image](https://cloud.githubusercontent.com/assets/6386084/4265515/bc41c350-3c53-11e4-81f8-9abdc0393f12.png)

I waited then clicked on another and the first came back

[2014-09-14 21:20] thrappstead commented on #4036
f90dc4e7-cce6-4b83-a138-936e0621e550

[2014-09-14 21:29] Alys commented on #4036
@lefnire Can you please look at the user data for f90dc4e7-cce6-4b83-a138-936e0621e550 to see if there's something wrong with it? Completed To-Dos keep being unticked (doesn't seem to be from sync errors) and there's a Reward in the Habits column.

[2014-09-14 22:24] ebiagogo commented on #3954
submitted a pull request over on habitrpg-shared

[2014-09-14 23:12] quedecir commented on #2949
I have a related issue. Every day since creating my account, my habit values reset back to neutral.

Background info: I've been using HabitRPG for months but fell off the wagon for a while, so about a week ago I decided to start fresh with a new tactic. I reset my account, but a few things remained (pets, inventory, attributes, maybe a few other things I can't remember) so I deleted my account and

[2014-09-15 00:44] Alys commented on #2949
@quedecir : That's normal behaviour and is not related to this issue (difficulty and tash colour/value are different). I'm going to explain further in the [forum post](http://habitrpg.wikia.com/wiki/Thread:22866) that you made. We'll continue the entire conversation about your issue over there, since it's not a bug.

[2014-09-15 01:07] mchlwgnr opened #4037 "Task created by third party"
A new habit just showed up, and when hovered over it it said it was created by a third party (screen shot included). Is this a bug? Is there a vulnerability?

![image](https://cloud.githubusercontent.com/assets/3712512/4266146/9483880a-3c74-11e4-89fc-00870ed33def.png)

Michael

[2014-09-15 01:10] Gaelan commented on #4037
It's a bug: #1402

[2014-09-15 01:13] Alys commented on #4037
It's a safe bug though. No harm has been done to your account. You can delete that Habit.

[2014-09-15 01:13] #4037 closed, assigned to nobody

[2014-09-15 03:41] mchlwgnr commented on #4037
Thanks!

On Sun, Sep 14, 2014 at 6:13 PM, Alice Harris notifications@github.com
wrote:

[2014-09-15 09:08] me-and opened #4038 "Duplicate attacks against quest boss"
When my cron runs, I often (but not always) see two attacks against the quest boss my party is currently attacking.  For example:

This seems to have started about a week ago, after I checked out of the tavern. Of the past seven attacks, five have been doubled up, always with identical damage for both attacks.

It doesn't affect anyone else in my party, and other party members have confirmed they

[2014-09-15 14:13] townimbecile opened #4039 "Stats do not add correctly"
I don't know whether this has to do with having a very high level. I think I see this on my lower level party members, too. Just take a look: my constitution, for example, should pretty clearly be 107.5.

Strength: 165
Level: 57.5
Equipment: 60
Buffs: 50

Intelligence: 253
Level: 57.5
Equipment: 37
Allocated: 116
Buffs: 50

Constitution: 100
Level: 57.5
Buffs: 50

Perception: 128
Level: 57.5
Equip

[2014-09-15 14:38] thepeopleseason commented on #4039
I believe level bonuses should cap-out at 50. It's doing so in the calculation, but not in the display. See #3682

[2014-09-15 14:42] gabrielqmatos88 opened #4040 "Autocomplete for emoji"
would be nice if there was autocomplete for emoji
## <bountysource-plugin>

Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/4379355-autocomplete-for-emoji?utm_campaign=plugin&utm_content=tracker%2F68393&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F68393&utm_

[2014-09-15 14:45] gabrielqmatos88 opened #4041 "Friends suggest optional tasks"
would be nice if friends could suggest tasks for us, and we could accept or decline.

[2014-09-15 14:57] Imbecamiel opened #4042 "Quest owner kicked from quest every time it starts."
I've been buying and starting quests for my party for a while without any issues. A couple members are inactive over the summer, so as soon as the active ones accept I click "begin" and things roll along as expected.

I just bought the Hedgebeast quest, though, and now every time I click "begin" I get a message that the quest's owner has left the party. I'm not doing anything that I haven't been b

[2014-09-15 15:16] negue commented on #4040
Yes, already tried a first version of this feature but it wasn't good enough (for me) and had some bugs: #3589
I'll try a second approach with ment.io, see #2359

[2014-09-15 15:42] townimbecile commented on #4039
I thought about that. That explains my Int, Con, and Per. What about my Str?

[2014-09-15 18:11] patena opened #4043 "ToDo order keeps resetting"
Whenever I reorder my ToDos, whether by dragging or by the new "to top" button, the new order only lasts an hour or two, or until I press the Sync button. Habits and Dailies stay where I put them, it's only ToDos that don't. This has been going on for several weeks. No errors are displayed.

User ID 28493c5d-00bb-4bc0-a471-9c4b40c9e642, Firefox 32.0 on Xubuntu Linux.

[2014-09-15 18:14] patena commented on #2702
@Alys Great, thanks!

[2014-09-15 18:24] itaisanders commented on #3989
@adam-arold did you close this one?
don't wanna step in if you're already on it.

[2014-09-15 18:39] vibitect commented on #3989
Not yet sorry, but I will resolve it this week. I was preoccupied with the Hungarian translation.

[2014-09-15 18:53] lemoness commented on #4038
This has been happening to one of my party mates as well, actually, a few
times over the last battle. Devs, let me know what info you'd like about
his account.

On Mon, Sep 15, 2014 at 2:08 AM, Adam Dinwoodie notifications@github.com
wrote:

[2014-09-15 18:58] lemoness commented on #4041
Have you explored the Challenges feature? You can do just that. For example, I recently created a private Challenge for my roommate that included all the things we wanted to make together. She accepted it, and now her To-Do list includes items like "make boba" and "pickle carrots."

For more information about Challenges, please read this page on the wiki :) http://habitrpg.wikia.com/wiki/Challenge

[2014-09-15 18:58] #4041 closed, assigned to nobody

[2014-09-15 18:58] thepeopleseason commented on #4038
This happened to me a few weeks ago, but when I used both beta.habitrpg.com and habitrpg.com in the morning and I believe both somehow ran cron.

[2014-09-15 19:06] lemoness commented on #4043
This is a known issue that happens when you have too many completed to-dos!

Here's the solution:

Go to the bottom of your To-Do list, and click "Complete." Click "Delete Completed."

This should solve the problem, especially if you wait for the page to finish loading after dragging and dropping a To-Do.

Let me know if that didn't work! Have a great day.

[2014-09-15 19:06] #4043 closed, assigned to nobody

[2014-09-15 19:10] patena commented on #4043
@lemoness Oh, right! I used to know about that, but I forgot. That worked, thanks! (Although I'm not sure 8 completed ToDos should really be considered "too many" ;) )

[2014-09-15 20:23] Alys commented on #4042
Do you also see that the participant list is empty? Try reloading the page. That should repopulate the list and remove the erroneous message. I think there's already a fix underway for this.

[2014-09-15 21:34] lemoness commented on #3801
+++

On Sat, Sep 13, 2014 at 7:28 PM, Alice Harris notifications@github.com
wrote:

[2014-09-15 23:22] Imbecamiel commented on #4042
Hmm, yeah, I don't think there were other participants showing up either, but I did try reloading (because I thought it might be just a temporary glitch) and it didn't seem to help.

[2014-09-15 23:39] Alys commented on #4042
Reload again and wait for the page to load fully (might take five or so seconds at worst). Is the participant list fully populated now? Are you marked on it as the quest owner with an asterisk?

[2014-09-16 01:54] Alys commented on #3985
@squirrelfox what happens when you try to delete the task using the trashcan icon?

[2014-09-16 04:14] #2239 closed, assigned to nobody

[2014-09-16 04:33] thandle opened #4046 "Used Orb of Rebirth, can't complete tasks"
I can create new tasks/dailies/habits.

When I click a habit, the color changes but no gold is given/health taken away. When I refresh/sync, the color returns to yellow.

When I click to complete a task, the task disappears but no gold is awarded. When I refresh/sync, the task returns uncompleted.

Items in checklists stay checked/unchecked through refreshes/syncs.

[2014-09-16 07:43] itaisanders commented on #3989
sure, no problem. if you see you don't get to it and want me to step in, just say so.

[2014-09-16 07:58] kinoida opened #4047 "Won't reset dailies"
My "dailies" tasks stay checked although scheduled for each day of the week.
(user ID 59e213c9-b4d8-41af-9b40-f890fbe92897 )

[2014-09-16 08:05] Alys commented on #4047
Thanks for including your UUID. That let me check your account and I can see that it's happening because you're Resting in the Inn. You can learn more about that, and how to check out of the Inn here: [Tavern](http://habitrpg.wikia.com/wiki/Tavern)

[2014-09-16 08:05] #4047 closed, assigned to nobody

[2014-09-16 12:54] stimulus2da commented on #2606
Not that this comment will be very helpful, but add me to the list of people having this issue, on at least two computers running Windows 7 and Chrome (currently 37.0.2062.120 m). I'm new to GitHub, so if there is a better way for me to say that I'm having the issue without clogging up the comments, please let me know. Thanks!

[2014-09-16 13:07] Ulugbeg commented on #2606
If I read everything correctly, this should be 'fixed' now - since about 4 days. However, if you still have old completed tasks, I think things might still go wrong.

To fix that:

A. Clear your old completed tasks. New completed tasks should no longer cause sorting issues with the uncompleted tasks.

OR

B.
1. Complete 1 task.
2. Go to uncompleted tasks
3. Put all the tasks below the task you com

[2014-09-16 13:24] stimulus2da commented on #2606
I did option A and it worked perfectly. Thanks for laying that out for me, I guess my coffee hasn't kicked in yet!

Cheers

[2014-09-16 13:26] Ulugbeg commented on #2606
Good, glad it worked. Option A is by far the easiest, but option B is for people who would like to keep their old todo's and don't mind doing a bit of extra work to get it to work :)

[2014-09-16 18:18] lemoness commented on #2949
Since this is expected behavior, I'm closing this ticket - let me know if you experience any problems and I will reopen it!

[2014-09-16 18:18] #2949 closed, assigned to nobody

[2014-09-16 18:19] lemoness commented on #1687
Closing this ticket :) If somebody has this trouble again, let me know and I'll reopen it!

[2014-09-16 18:19] #1687 closed, assigned to nobody

[2014-09-16 19:49] Mixtercasual commented on #4046
This same thing happened to me today. I'm level 1 and can't do anything now.

[2014-09-16 20:14] Alys commented on #4046
This was a recent change to Rebirth:
https://github.com/HabitRPG/habitrpg-shared/pull/307/files

I'm guessing this line might be causing the problem?
https://github.com/Alys/habitrpg-shared/blob/99e4f9b458e814b9e83411baaf295a18c6c8f99b/script/index.coffee#L498

I'm about to send a reversion for that. It will stop buffs being wiped on rebirth but that's less important.

[2014-09-16 20:28] Alys commented on #4046
@thandle and @Mixtercasual : Can you please paste in your Unique User ID (UUID), which you can find from [Settings -> API](https://habitrpg.com/#/options/settings/api)?

[2014-09-16 20:44] thandle commented on #4046
7eddf7e5-3f5a-4b36-8d0d-8a90f2d7cc2a

And it seems to be working now, thanks!

[2014-09-16 20:48] Alys commented on #4046
Wait, what?? :) I did nothing that could have helped that quickly. :)  Can you tell me please if you are aware of anything you did that might have made a difference? Perhaps logging out and back in? Or anything other than the normal actions of ticking off tasks?

[2014-09-16 20:56] thandle commented on #4046
I did log out and back in, but I did that a few times yesterday and that didn't fix it. This was my first time trying today, maybe the nightly rollover (resetting dailies and whatnot) reset some variable that orb of rebirth changed?

[2014-09-16 20:58] Alys commented on #4046
Ah cron (the nightly roll-over), yes, that could well have been it. Which, if true, is an enormous relief because it means no one will have to suffer through this for more than a day (unless they're Resting in the Inn). I'm sorry about that first day though! I realise how annoying it must have been to have none of your actions registering. :(

[2014-09-16 21:05] thandle commented on #4046
No worries! Thanks for all your help :)

[2014-09-16 22:21] HSalgo opened #4048 "Tasks giving 0 rewards after rebirth"
I accidentally used an Orb of Rebirth while my XP was over the limit for leveling up. (In other words, I had more than 1070/1060 XP at Level 47, for example.) Now that I've used the Orb of Rebirth, everything seems broken--I can check tasks off, and see that they're doing damage (e.g. with Habits), but I'm not receiving any XP or gold rewards. Do you happen to know what's going on? =/

Thanks a bu

[2014-09-16 22:23] HSalgo commented on #4048
As a note, I also tried to mess around with the Character Values, but altering those doesn't change the issue. I'm going to try logging out and logging back in.....

[2014-09-16 22:25] HSalgo commented on #4048
Nope. Didn't work. Oof, feel sort of silly for using the Orb without checking first.

[2014-09-16 22:27] deilann commented on #4048
That's not the issue. Check out

https://github.com/HabitRPG/habitrpg/issues/4046

One cron will fix it.
On Sep 16, 2014 3:25 PM, "HSalgo" notifications@github.com wrote:

[2014-09-16 22:30] HSalgo commented on #4048
Yeah, I just checked--it seems as if all of my stats are currently listed as "undefined," which is probably one of the issues producing the lack of task rewards. The weird thing is that changing my level to a higher one (e.g. 2) doesn't unlock other  features--I was hoping that I could buy a sword to fix my stats, but it looks like I'll just have to wait for the next cron.

Thanks a bunch!

[2014-09-16 23:09] lemoness commented on #4048
Since this is a duplicate, I'm closing this - feel free to chime in on the other thread!

[2014-09-16 23:09] #4048 closed, assigned to nobody

[2014-09-16 23:43] fragmental opened #4049 "Socket Policy Server for Unity Webplayer"
I would like to get a webplayer version of my Unity HabitRPG Client up on my own personal heroku server, that can connect to habitrpg.com.  That way people can test the latest version of the client without having to first download it.  I can also link to it in resume's, and on my website to help me find work.

In order for a webplayer version of unity to connect to habitrpg.com it needs a socket s

[2014-09-17 01:47] rabidredfox opened #4050 "Wolf egg + desert potion = Turkey?"
When combining random drops of wolf egg and desert potion, the result is somehow a turkey.
![screenshot - 09162014 - 06 45 41 pm](https://cloud.githubusercontent.com/assets/8800262/4297450/7f0deecc-3e0c-11e4-8c41-9502bf549221.png)

The mouseover is pictured.

[2014-09-17 01:48] deilann commented on #4050
Refresh. The graphics get.scrambled when new content is added.
On Sep 16, 2014 6:47 PM, "rabidredfox" notifications@github.com wrote:

[2014-09-17 02:02] rabidredfox commented on #4050
After the first refresh everything changed to a very buggy looking screen where my avatar was something completely different.  Unfortunately didn't screenshot before I did a second refresh and everything was back to expected conditions.

Browser:  Iceweasel 24.8.0
User: loveless

[2014-09-17 02:03] deilann commented on #4050
No need to show us a second screenshot. This happens whenever the
spritesheet is changed. It's kind of inevitable.
On Sep 16, 2014 7:02 PM, "rabidredfox" notifications@github.com wrote:

[2014-09-17 02:20] Mixtercasual commented on #4046
7ffc7c96-b7db-4f30-86fd-9c37eb251aea is my ID.
I tried logging out and back in, but it's still not working. My first day hasn't ticked over yet, so that might be it?

[2014-09-17 02:31] Alys commented on #4046
@Mixtercasual , yes, when your first day roll-over happens, the problem will be fixed. Sorry about the delay.

[2014-09-17 02:41] lemoness commented on #4050
Everything is back to normal with refreshing, so I'm going to close this ticket :) Let us know if refreshing no longer works!

[2014-09-17 02:41] #4050 closed, assigned to nobody

[2014-09-17 02:55] thespaceferret commented on #2454
Not sure if I should do this as a new issue, but I donated via credit card and it went through but the gems didn't show up (and then I tried two more times, so now I've donated $15 total, which is fine, but I'd like the gems). There was an error that flashed by too quickly for me to catch all of, but it said something about an error and Chrome. I have logged out and back in and it didn't help.

Us

[2014-09-17 02:57] deilann commented on #2454
Can you email admin@habitrpg.com? You may need to provide more sensitive
information, so it can be taken care of faster privately.
On Sep 16, 2014 7:55 PM, "thespaceferret" notifications@github.com wrote:

[2014-09-17 03:18] lefnire commented on #2454
@paglias the recent  code with emails broke something I'm getting a lot of
emails from people, I'm AFK right now you around to revert?
On Sep 16, 2014 8:57 PM, "deilann" notifications@github.com wrote:

[2014-09-17 03:26] bordersend commented on #4042
This is happening in my party as well now.

Someone starts a quest. It appears normal until anyone accepts it. We then start getting the following error: The quest owner has left the party and can no longer begin the quest. It is recommended that you cancel it now. The quest scroll will be returned to the quest owner.

The participant list is empty with a string of "Pending" statuses just hanging

[2014-09-17 03:31] Alys commented on #4042
It's just a temporary display problem. The quest will work correctly. Refreshing the page should fix the message.

[2014-09-17 03:57] lefnire commented on #2454
This one is insanely critical. People are getting double-charged and not getting their purchases. I've pushed the likeliest revert, so we should be good - but mentioning just in case if anyone can think of any other recent code they've pushed that may be relevant

[2014-09-17 13:30] Imbecamiel commented on #4042
I've just gotten everyone to re-accept and reloaded everything, and it does look like it's showing up right now. So, barring any problems that might show up once we start to do damage, it does look like just an issue with the way it displays, rather than something that'll keep the quest from running properly once it's started.

[2014-09-17 14:46] Katzen-Gott opened #4051 "Guilds list is too wide in FF"
Hi. I use FF32 on KUbuntu and Mac.
And in both my Firefoxes, on https://habitrpg.com/#/options/groups/guilds/public guilds list (table class="table table-striped ng-scope") is gone beyound right window border. Seems that it should be placed below the search-box (div class="col-md-3 ng-scope"), but somehow it's placed to the right of the search-box.

[2014-09-17 14:50] negue commented on #4051
I'm already on it, to find a good solution :)

[2014-09-17 21:57] sbreiler commented on #4012
_Can you please give more info about your specs (which os, which browser version, desktop/mobile, ...)?_

_I couldn't reproduce the problem._

**Nevermind, did find the problem now.**

[2014-09-17 22:16] sbreiler commented on #3886
Shared.percent is used in the following files:
https://github.com/HabitRPG/habitrpg/blob/develop/views/options/social/boss.jade#L38
https://github.com/HabitRPG/habitrpg/blob/develop/views/options/social/boss.jade#L46
https://github.com/HabitRPG/habitrpg/blob/develop/views/options/social/boss.jade#L52
and
https://github.com/HabitRPG/habitrpg/blob/develop/views/shared/header/header.jade#L13
https://

[2014-09-17 22:25] k8sullyvan commented on #4012
erm... Using Mac OSX (10.9.4) 13 inch screen, on Chrome. Make the Chrome window about half the size of the screen, small enough so that the Gold Silver Gems and Bailey drop down on to a second grey level.

[2014-09-17 22:39] casicastiel commented on #4012
This is either the same or very closely related to my problem in https://github.com/HabitRPG/habitrpg/issues/4015.

[2014-09-17 22:44] Alys commented on #4015
There's code that causes the menu system to collapse to a single button when the screen is small enough. Now that the Help menu exists, it probably just needs to be changed to trigger at a different point.

[2014-09-17 22:45] Alys commented on #4012
Yes, probably at least closely related. I think #4015 should be fixed before anyone tries to work on this issue. See the comment I've just added to #4015.

[2014-09-17 22:50] sbreiler commented on #4012
If the menu is collapsed everything should be allright - however i would change the notification z-index regardless, cause you can never be shure if it collapses the right way.

[2014-09-17 22:55] sbreiler commented on #4015
Interestingly my old local installation w/o help menu item uses two lines too on small window (over 757px and below 947px). I should note bailey is visible. I can do a screenshot if needed.

[2014-09-17 22:57] Alys commented on #4012
Be cautious about adding CSS definitions "just in case". The more definitions there are, the harder it becomes to troubleshoot when something goes wrong.

[2014-09-17 23:33] sbreiler commented on #3886
Tested it succesfull localy, see: https://github.com/HabitRPG/habitrpg-shared/pull/315

[2014-09-17 23:50] sbreiler commented on #4012
FYI: if the window is small enough the notification popup will change style to fill the hole window. In this mode it has z-index enabled.

My suggestion still is to add a seperate class to the notification popup using z-index - i don't see a better solution to solve this.

The whole collapse thing seems unpredictable, not future nor bullet proof. At the end you never know how browser render your s

[2014-09-18 03:20] aein commented on #4042
This is happening to me as well.

"Someone starts a quest. It appears normal until anyone accepts it. We then start getting the following error: The quest owner has left the party and can no longer begin the quest. It is recommended that you cancel it now. The quest scroll will be returned to the quest owner."

We just had 4 quests canceled and restarted because of this lol. I told everyone not to

[2014-09-18 08:10] Katzen-Gott commented on #4051
Why not "clear:left" the table? I've just checked with stylish plugin and it actually works.

[2014-09-18 08:42] Alys commented on #4042
A fix for this has just been merged (https://github.com/HabitRPG/habitrpg/pull/4010) and it will probably go live in the next few days. In the meantime, keep in mind that this is only a bug in the display of the quest, not in the quest itself, and reloading the page fixes it (except of course in the very rare cases where the quest owner really has been kicked out of the party by the quest leader).

[2014-09-18 08:47] negue commented on #4051
Thx, good catch, yes with `clear:left;` it seems to work :)

Now only some margin on the search inputbox is left and then this will fix it :)

I'll test other browser sizes, If this could break something else.

[2014-09-18 09:40] negue commented on #4000
Now that #4010 is merged, we could "re-revert"  the "ngRepeat with Track By" Checkin.

@paglias Could you do that?, I'm not that experienced with Git yet

[2014-09-18 16:44] paglias commented on #4000
@negue re-reverted https://github.com/HabitRPG/habitrpg/commit/7e53eaf1aee25984142832e753ddb3b0aaf1b46f check if all is ok

[2014-09-18 17:01] negue commented on #4000
Thanks!

Yes works as expected and without this issue here. So I'll close it.

@Alys Now we can celebrate the 4000th Issue :D

[2014-09-18 17:01] #4000 closed, assigned to negue

[2014-09-18 17:50] negue commented on #4051
On the next update, the guild list will look like this:

I removed the col-md-3, because it doesn't sense If the Guild is beneath it.

![habitrpg_guild_list](https://cloud.githubusercontent.com/assets/842273/4324578/1186d76e-3f5c-11e4-82b6-14f0dc189178.PNG)

[2014-09-18 17:50] #4051 closed, assigned to negue

[2014-09-18 18:26] fragmental commented on #4049
@lefnire @paglias ?

[2014-09-19 06:46] Alys commented on #1651
I'm closing this because the selected egg/potion is now being highlighted.

[2014-09-19 06:46] #1651 closed, assigned to paglias

[2014-09-19 06:59] Alys commented on #1983
Still happens:
![screen shot 2014-09-19 at 4 57 15 pm](https://cloud.githubusercontent.com/assets/1495809/4331805/7c4080be-3fca-11e4-8960-b34dd7aa7b7a.png)

[2014-09-19 07:07] Alys commented on #1787
I'm closing this because I believe it was fixed quite some time ago. I haven't noticed it happening to me. It can be reopened if I am wrong.

[2014-09-19 07:07] #1787 closed, assigned to nobody

[2014-09-19 07:09] negue commented on #1983
Only on firefox?

[2014-09-19 07:16] Alys commented on #1983
Not on Chrome nor Safari. Don't know, don't care about IE. ;)

negue, I'm wondering if it's similar to the problem you fixed two or three weeks ago, where in the header, when you hovered over the level, there'd be a too-large outline around the on-hover tooltip. It looks sort of like that.

[2014-09-19 07:36] negue commented on #1983
Could be that problem yes, but I tend to think this is because of the "drag&drop" (reorder) code which sets a "bad" css and expands this border more & more

[2014-09-19 10:16] me-and commented on #4025
Yeah, this isn't a bug: the request body you're sending will look something like the below (URL encoded string):

[code]

It should, instead, look something like the below (JSON data):

[code]

You can get this with the following code:

[code]

[2014-09-19 10:35] me-and commented on #3621
You can also do a GET `/user` to pick up a list of tags, which at least doesn't require POSTing if you want  the tag list without changing state anywhere.

[2014-09-19 11:33] negue commented on #4034
@Alys What If we would show a Hint above the Dailies if the User is resting in the INN?

[2014-09-19 13:06] betyplush opened #4052 "Burst of flames does not trigger level up when reaching experience needed for next level"
When using the wizard power burst of flames, you will gain experience, sometimes enough so that you would level up. However, the leveling up does not trigger when it should when using burst of flames; another experience-gaining task must be marked completed before the level up will trigger.

[2014-09-19 17:11] me-and commented on #4025
[Kinda advertising]

Alternatively, I'm creating a Python3 module for interfacing with the HabitRPG API myself. It's currently alpha quality*, but it's available at [me-and/HabitRPG](https://github.com/me-and/HabitRPG); you'll also need the `requests` module to use it. To do what your code is trying to do, you'd do something like the following:

[code]

\* By "alpha quality" I mean the interfaces

[2014-09-19 17:17] negue commented on #4025
Great now there is a Python API ! :).

I close this, because it is not an issue with the API.

[2014-09-19 17:17] #4025 closed, assigned to nobody

[2014-09-19 17:48] kimifish commented on #4025
Thank you for help, me-and! And special thanks for the module

[2014-09-19 18:43] Alys commented on #4034
That could really help new users. I like it.

[2014-09-19 18:45] Alys commented on #4052
This has been reported here: https://github.com/HabitRPG/habitrpg/issues/2143

You can subscribe to that issue if you would like to receive notifications every time it is updated.

[2014-09-19 18:45] #4052 closed, assigned to nobody

[2014-09-19 19:18] Alys commented on #3327
I can't replicate this so it looks like it's being fixed. Closing, but reopen if I'm wrong.

[2014-09-19 19:18] #3327 closed, assigned to nobody

[2014-09-19 19:40] DebsJS opened #4053 "Won challenges invisible in stats"
My Stats page is not showing the challenges that I have won under "Was the winner in the following challenges". From some places when I have clicked my name there has been a single challenge shown, usually none. I have won a few, so not sure why there would be one or none. User ID: 09f81fc2-ddfd-4397-af24-15079a703e60

[2014-09-19 19:47] Alys commented on #4053
You say "From some places..." - can you tell us which places this happens in? Are there other places where the challenges do appear correctly?

When only one challenge is shown, is it always the same one? If so, which one?

[2014-09-19 20:54] deilann commented on #4053
@Alys I have not been able to see any challenges won by this user
(Wunderkind) in their profile modal. But I can see what I've won and other
users have won. And I know Wunderkind has won some challenges.

On Fri, Sep 19, 2014 at 12:47 PM, Alice Harris notifications@github.com
wrote:

[2014-09-19 21:37] negue commented on #3508
I think I found a solution / implementation for this. :smile:

I will create the pullrequests  tomorrow after cleaning up the changed code^^.

![markdown_innotes](https://cloud.githubusercontent.com/assets/842273/4342427/b97ecede-4044-11e4-84f5-3f58c8f3cf39.PNG)

[2014-09-19 21:46] deilann commented on #3508
Oh man, that is AWESOME.

On Fri, Sep 19, 2014 at 2:38 PM, negue notifications@github.com wrote:

[2014-09-19 22:34] Alys commented on #3508
`whimper` Want. Want **NOW**.

[2014-09-20 00:22] Alys commented on #3996
@lefnire or @paglias, would it be possible for the gem cap message to be changed before the end of the month? It would remove a support burden if the message more accurately indicated the timing of the cap reset. Suggested text:

**_You've reached the Gold=>Gem conversion cap (25) for this month. We have this to prevent abuse / farming. The cap will reset within the first three days of next month.

[2014-09-20 02:56] gasolin opened #4054 "improve code quality by auto style check"
We could integrate `grunt jscs` for style check, so every contributor could have consistent code style to submit the patch.

For those files that not ready for pass  style check yet, we could add the list into `.jscsrc.excludeFiles`

If all set, we could add travis test and pre-commit hook to catch the style errors later.
## <bountysource-plugin>

Want to back this issue? **[Post a bounty on it!](

[2014-09-20 04:51] gasolin commented on #4054
PR in https://github.com/HabitRPG/habitrpg/pull/4055

[2014-09-20 05:28] lemoness commented on #4034
I like it too. We may want to start anticipating more frequently asked
questions this way.

On Friday, September 19, 2014, Alice Harris notifications@github.com
wrote:

[2014-09-20 05:37] Alys commented on #3827
After thinking about this for several days, I'd really like to see the buttons kept as plain text, or at least as icons that are so obvious and noticeable that they can't possibly be overlooked or misinterpreted by anyone (and I suspect that designing icons like that might be impossible). Accessing tasks is so fundamental to the purpose of HabitRPG that it is essential that every user can always d

[2014-09-20 12:35] paglias commented on #3996
@Alys I've changed it in the private repo and mentioned @lefnire

[2014-09-20 12:46] negue commented on #3996
(Sorry I selected it) , Pls Ignore this. :smile:

[2014-09-20 12:50] negue opened #4057 "HabitRPG Down?"
Is it just my ISP or is currently https://habitrpg.com down?

[2014-09-20 13:06] negue commented on #4057
Working again after an hour of downtime, anyway good that it works again. Gonna close this.

[2014-09-20 13:06] #4057 closed, assigned to nobody

[2014-09-20 16:42] negue commented on #1983
Hm, I tried it myself and the border only expands about 10px each side, If I hover over the "check"box while dragging the task, and then goes back to normal, but I don't get the fullwidth like in the screenshot.

FF 32.0.2 , Win8.1

[2014-09-20 19:08] negue commented on #1402
I'm currenty testing my app to get toasts (sort of notifications), so I just create many todos and clear "score-up"em very fast, and then it happened here too, I've 8 new habits with "UUID" ^^

And sometimes I also create a todo and check it within a second.

So here's my explanation why this could happen:

On each request the servers loads all data from mongodb
- Create Task 1
  - Add Task to Db

[2014-09-21 03:25] Alys commented on #4046
A fix for this was pushed out a few days ago.

[2014-09-21 03:25] #4046 closed, assigned to nobody

[2014-09-21 08:09] Alinorr commented on #3543
Maybe this is the same problem I'm having. I have a challenge daily called Transfer $ for lost HP which I'd like to leave, but it no longer shows up in the Challenges area or in challenges I'm participating in.

Maybe this is how it's effective! I genuinely have to stick to it or it massacres my HP...

[2014-09-21 08:46] Alys commented on #3543
@Alinorr : See "Deleting a Challenge Task" in [Challenges](http://habitrpg.wikia.com/wiki/Challenges). Does that help?

[2014-09-21 16:11] RyanMeray opened #4059 "cron not occurring"
User ID is 15ef1187-d94e-44c1-8c4f-8d93936f3b9a

Account was using a custom cron time of 3AM EST. This morning, no rollover had occurred, dailies were still checked, and no progress was made in the quest.

Refreshed, force-refreshed, logged in and out, and added new to-dos, and even changed the cron time to noon in an attempt to get a rollover to occur. Nothing is triggering the cron.

[2014-09-21 18:55] Alys commented on #4059
See "Dailies Remain Checked after Cron" in [Known Bugs](http://habitrpg.wikia.com/wiki/Known_Bugs) for a workaround. It should fix itself up tomorrow.

If you want to keep your 3am custom day start and if all your Dailies are still ticked, I recommend changing the CDS back to 3am first, and then following the workaround at that link (just in case changing the CDS does trigger cron this time).

[2014-09-21 19:06] RyanMeray commented on #4059
I don't believe the cron has actually run at all, since last night didn't indicate any actions on my quest. Do you think at the next actual cron I'll get two days worth of actions on the quest?

I have changed the custom cron back to 3am and it didn't trigger yet.

[2014-09-21 19:39] Alys commented on #4059
Yes, when your Dailies remain unchecked, it's because cron didn't run. When your next cron does run (almost certainly tomorrow) all the progress you've made on your quest over the two days will be applied at once.

[2014-09-21 22:03] Alinorr commented on #3543
@Alys Thank you! That's fixed it! I didn't have the broken link icon before but I have it now - thanks so much for the help!

[2014-09-22 00:37] deilann commented on #3543
Reopening. This ticket is about how when a user deletes their account,
their challenges still remain in limbo, which still happens.

On Sun, Sep 21, 2014 at 5:06 PM, lemoness notifications@github.com wrote:

[2014-09-22 01:29] LilAmy commented on #777
I'm also having this problem. I deleted a lot of habits and to-dos thinking that was the problem but even after doing that and completing my dailies I am losing a profound amount of health or dying overnight.

[2014-09-22 01:37] Alys commented on #777
@LilAmy : Are you in a party that is doing a boss quest? If so, you are probably being damaged by the boss due to your party member's incomplete dailies.

Or have you installed a browser extension that tracks your use of the internet and punishes you for too much time on bad websites? Please carefully check your browser extension list. If so, uninstall the extension.

Or do you use HabitRPG on mor

[2014-09-22 01:46] annaiguana opened #4060 "Cannot see tasks (To-Dos or Habits or Dailies) or add new ones on website"
All of my to-do items have disappeared when I logged in today, 9/21/14. Also, I cannot add a new to-do item. Every time I enter one, nothing appears. Nothing shows up under the completed to-do items tab, either. This happens whether I log in using Chrome or Firefox. I'm using Windows 8.

My UUID is a51997e1-01d4-4594-b583-1f229e42501d

[2014-09-22 01:46] deilann commented on #4060
Press "clear" on your tag filters, and tell me if this fixes your problem.

On Sun, Sep 21, 2014 at 6:46 PM, annaiguana notifications@github.com
wrote:

[2014-09-22 01:49] annaiguana commented on #4060
it did not fix the problem.

[2014-09-22 02:07] LilAmy commented on #777
Well, I am in a party and we are doing a boss quest but the damage I'm getting from that is significantly lower than what I've been losing. I will try the other two things and see if that helps.

Date: Sun, 21 Sep 2014 18:37:25 -0700
From: notifications@github.com
To: habitrpg@noreply.github.com
CC: smileco@live.com
Subject: Re: [habitrpg] Lost Points and Health Over Night / Random Death (#777)

@

[2014-09-22 03:49] pastles commented on #4060
Hello! My Habits are all gone. My tags have been cleared (a few times), and I've logged in and out. I also can't add any new Habits currently. I am currently using Firefox 32.0.2. Funnily enough, I still see my Habits on the HabitRPG app (v0.0.35) on my Android.

Everything else is okay though.

My UUID: 172de083-73bc-42a5-855f-3e7d2d6acc0e

[2014-09-22 04:10] Alys commented on #4060
@annaiguana and @pastles (or anyone else with this issue): If you know how to open the JavaScript console in Chrome, please do so, and then reload the tasks page. Do any errors appear in the console? If so, can you please paste them into this issue?

@annaiguana, note that if you have one of the HabitRPG mobile apps, you might be able to access your tasks using it.

[2014-09-22 04:13] pastles commented on #4060
@Alys Is this what you were looking for?

"Error: [ngRepeat:dupes] Duplicates in a repeater are not allowed. Use 'track by' expression to specify unique keys. Repeater: task in obj[list.type+"s"] track by task.id, Duplicate key: 7bfe0551-51c4-475c-90a9-7140cb6631fa
http://errors.angularjs.org/1.3.0-beta.11/ngRepeat/dupes?p0=task%20in%20obj%5Blist.type%2B%22s%22%5D%20track%20by%20task.id&p1=7bfe055

[2014-09-22 04:18] Alys commented on #4060
@pastles That's extremely interesting. It looks like it's saying that you have two tasks with the same "unique" ID, although I could be misreading it.

@annaiguana and @pastles : If you don't mind, would you be able to tell me which Challenges you are participating in, if any? If you'd rather not for privacy, that's okay, but one possible source of this is a problem with one of the Challenges.

[2014-09-22 04:27] pastles commented on #4060
@Alys I'm participating in 1 challenge from my party:

Group ID: 0f80ecef-e9db-45ec-9d61-411539b19734
1. 毎日ちょっと練習しましょう

Previously, I created a challenge for my party, but the task still remained on my Habits list after I deleted the challenge. And then I created a duplicate challenge... I think I joined it, then I left it, but the tasks were still in my Habits list as the challenge is still on-go

[2014-09-22 04:38] helenl7 commented on #4060
Hi, My todos are also all gone!  Maybe this was the only way they were gonna get all checked off... 747817a9-5968-4dc2-b125-c4323d528ef2.  I've cleared tags and no dice.

[2014-09-22 05:01] Alys commented on #4060
@pastles : That might have been the cause, or might not have. :) Sorry, I'm a bit limited as to what I can tell because I don't have admin access. However that might be useful information for our database admin.

@helenl7, do you know how to open the JavaScript console in Chrome? If so, please do so, and then reload the tasks page. If any errors appear in the console, please paste them into this i

[2014-09-22 05:06] helenl7 commented on #4060
Alys, i will do my best!

[2014-09-22 05:10] helenl7 commented on #4060
Is this right?
The page at 'https://habitrpg.com/#/tasks' was loaded over HTTPS, but displayed insecure content from 'http://i.minus.com/i8HG8cVnlfi3R.gif': this content should also be loaded over HTTPS.
 app-99623818.js:2
Error: [ngRepeat:dupes] Duplicates in a repeater are not allowed. Use 'track by' expression to specify unique keys. Repeater: task in obj[list.type+"s"] track by task.id, Duplic

[2014-09-22 05:13] Alys commented on #4060
Perfect! Thank you @helenl7

(Another error possibly indicating tasks with the same "unique" ID.)

[2014-09-22 05:17] helenl7 commented on #4060
this wasn't all of it because I didn't want to bog down this page, but I can get all of it if you like.  Thanks so much for helping, Alys!

[2014-09-22 05:20] Alys commented on #4060
@helenl7 Yes, please, if there's more, paste it in. For this sort of thing, bogging down the page doesn't matter -- but thank you for considering it, and especially for providing this information! It's much easier to troubleshoot when we can see errors like this. :)

[2014-09-22 05:20] paglias commented on #4060
Pinging @negue @lefnire
Il 22/set/2014 07:17 "helenl7" notifications@github.com ha scritto:

[2014-09-22 05:50] negue commented on #4060
If I am reading correctly, a habit of a challenge has the same ID as a normal Habit has? Seems that these "unique" IDs not that unique at all.. :(

We really should check them IDs if they already exists , if they do, generate a new ID..

Till that happens each "track by" useless.

I may have a workaround for this:
- once Tasks loaded in the website, go through all of em and generate a "task.trackB

[2014-09-22 05:51] helenl7 commented on #4060
The page at 'https://habitrpg.com/#/tasks' was loaded over HTTPS, but displayed insecure content from 'http://i.minus.com/i8HG8cVnlfi3R.gif': this content should also be loaded over HTTPS.
 app-99623818.js:2
Error: [ngRepeat:dupes] Duplicates in a repeater are not allowed. Use 'track by' expression to specify unique keys. Repeater: task in obj[list.type+"s"] track by task.id, Duplicate key: b96c5d

[2014-09-22 05:52] helenl7 commented on #4060
i think that's all of it!

[2014-09-22 05:57] Alys commented on #4060
Thanks @helenl7 !

@negue It might have nothing to do with challenges. That was just one idea I had; if everyone was in the same challenge, then maybe there were duplicate IDs. But now that's clearly not the case.

[2014-09-22 06:11] pastles commented on #4060
Just an additional note, I tried creating new Habits on the website, but they didn't appear. However, they appeared in the app. And just to confirm, anything done in the app is updated on the webpage (ie: XP increased, HP decreased etc)

[2014-09-22 06:46] negue commented on #4060
Current workaround would be remove and re-add your habits, you would loose the current "Level" / the Habits Color.

OR if you can read the json output using https://habitrpg.com/static/api you could see which habit you need to re-add.

[2014-09-22 07:39] annaiguana commented on #4060
hi- thank you so much!! i could see that I had duplicate tasks in my android app. i deleted them both, to be safe, then synced the app and refreshed in Chrome. it is fixed, and everything else wasn't lost.

[2014-09-22 08:04] negue commented on #4060
I'm glad that it worked on your side. :)

Did they were "exactly" the same? Also the same Name?

[2014-09-22 09:49] Alys commented on #4060
Clella (a9963baa-c9fe-436a-a464-6306c03738cc) writes in the Newbies Guild:
"I have the same problem. Since 1 hour I am not able to see my todos. I try to add a new one and I don't see it also. I ckech on my iPhone and every thing is ok on it included the task I add as a test."

I think we need to modify the code as soon as we can to stop this happening. It could be affecting an unknown number of p

[2014-09-22 09:59] negue commented on #4060
@Alys yes, just remove the "track by task.id" at https://github.com/HabitRPG/habitrpg/blob/develop/views/shared/tasks/task.jade#L1

The other track by are working. (till now)

[2014-09-22 10:26] Alys commented on #4060
@negue, thanks! Just like this? https://github.com/HabitRPG/habitrpg/pull/4061

@lefnire or @paglias, is it possible for this to be pushed to production soon?

[2014-09-22 10:37] paglias commented on #4060
Merged but I can't push to production, only Tyler does

[2014-09-22 10:48] negue commented on #4060
@Alys Yes, Exactly like this.

[2014-09-22 10:51] draky177 commented on #4060
Hi, I'm having the same problem as listed above. All of my To-Dos vanished overnight. I tried to do the fix described above - I've seen two identical tasks (identical in name, even with the same typo) in my android app so I deleted both of them. However, it didn't affect To-Dos in my Chrome browser. I can work with the app for some time, I'm just really happy I've found this thread and got reassur

[2014-09-22 10:59] negue commented on #4060
@draky177 This is "just" a viewing Issue on the Website. All data is still on the server.

Also thanks for your Informations, that 2 Tasks with the Name are existing are the bigger issue^^.

Once the new version of the website is pushed, you should be able to see your tasks again :)

[2014-09-22 14:08] rajhathi opened #4062 "Challenges remain among Tags even after removed"
I am still seeing Challenges as a tag option for a new task even after leaving the challenge.

cb2101d5-a8a7-4a2a-babe-4e15b4294cfc

[2014-09-22 14:33] Katzen-Gott opened #4063 "Daily Streak Bonus bug"
Hi there.
1) mark daily task done (get task reward and series reward) - this is OK
2) unmark this task (task reward is substracted, but series reward is not) - I thought series reward should be substracted too
3) mark task again (task reward returned to you, and series reward is added) - or at least it shouldn't be added again.
My HabitRPG nick is Katzen Gott (it is said that I should put it here)

[2014-09-22 16:16] Alys commented on #4063
When unticking a Daily, the streak bonus (series reward) IS removed but it is not reported separately. Here's an example from my Daily, first being ticked:
![screen shot 2014-09-23 at 1 22 44 am](https://cloud.githubusercontent.com/assets/1495809/4358941/3d12fcb8-426e-11e4-9edd-fec7a27b63d6.png)
and then being unticked:
![screen shot 2014-09-23 at 1 22 57 am](https://cloud.githubusercontent.com/as

[2014-09-22 16:32] Alys commented on #4060
Reopened (it was closed automatically when the fix was committed) and assigned to @lefnire for him to make this commit live: https://github.com/HabitRPG/habitrpg/commit/73f7f6605e0c4ea34ba87c6b5a2f213858e796a0

[2014-09-22 16:54] Alys commented on #4062
duplicate: https://github.com/HabitRPG/habitrpg/issues/1704

This is deliberate rather than a bug. Players are able to use the challenge tag for their own tasks if they wish (e.g., if they add their own To-Dos to assist them in completing the challenge), and they might also choose to leave the challenge tasks in their task lists after they have left the challenge. In either case, it would be incon

[2014-09-22 16:54] #4062 closed, assigned to nobody

[2014-09-22 16:56] #4042 closed, assigned to nobody

[2014-09-22 18:15] ladybesu commented on #4060
I encountered the same problem. My to do list is gone in Windows but is visible in the iPad app. To note, over the past few days I also had problems with duplicate items on my to do list (i.e. I add one and two appeared) and was just renaming one and moving onward. This happened several times.

My user ID is 9ce807c5-1ce6-4a1e-a69d-cd4b0b67dbe2

When will a new version of the website go live? I ca

[2014-09-22 18:25] negue opened #4064 "Adding a real "unique" ID to task..."
This will be a `workaround fix` for #4060.

But how?

$scope.obj is filled by ngResource. So I would have to add a custom ID  property to the TaskSchema? or go through all tasks and this id for each task?

But where should I do that?
- `api.getTasks` ?
- `api.getUser` ?
- both?
- what about `batchUpdate`?

I need some more Informations from the other devs :)
#

The Real Problem is that WHY tasks a

[2014-09-22 18:43] Alienor77310 commented on #4060
Same problem as above, to-dos don't appear on the web page (firefox and chrome), but show on the app.
UUID: 778106ba-4217-40fc-a61c-9cb3bf5d06b4

[2014-09-22 19:15] crochet0721 commented on #4060
Hello,

I am sorry if this is the wrong area, I am not technologically savvy and had trouble following the conversation. I would like to report that my tasks have completely vanished on Safari desktop browser (and it is not related to tags.) I use the iPhone app, and tasks are showing up there. I tried to make a new task on the website using Safari, it disappeared, but shows up on my iPhone app. I

[2014-09-22 19:32] lefnire commented on #4060
pushing recent changes to production now

[2014-09-22 20:33] lemoness commented on #3543
Ah, whoops! Misread the title as our typical duplicate.

[2014-09-22 20:34] lemoness commented on #4060
@lefnire Site crashed just about this time - is it the typical Challenges bug, or did something in this push break things?

[2014-09-22 20:55] lemoness opened #4065 "Application Errors/Plain Text Site"
@lefnire

The site is throwing a lot of application errors, but not uniformly - sometimes it will load a plain text version of the site, and I just got a report that it's working fine for someone right now even though it seems to be down for many people.

@Alys @negue Any chance this could be related to something in the recent push, notably the fix for the disappearing tasks? Or is this just the s

[2014-09-22 21:00] Alys commented on #4065
I can't see any reason for the [disappearing tasks fix](https://github.com/HabitRPG/habitrpg/pull/4061/files) to be causing this. It was very simple and straightforward.

As best as I can tell from the closed issue list, that was the only change made with a pull request between the most recent two site deployments.

So if I'm right about both of those things, the errors are probably(?) from a chal

[2014-09-22 21:04] lemoness commented on #4065
Just bad timing, then. Okay. In a way, that's good, since it's a known
entity and easy to fix, but I can't reach @lefnire. Going to try to see how
to use heroku to restart the server if I still can't contact him - might
ask here for questions if I have to do so.

On Mon, Sep 22, 2014 at 2:00 PM, Alice Harris notifications@github.com
wrote:

[2014-09-22 21:12] lemoness commented on #4065
@paglias - Searching through heroku, but can't see a way to reboot the
server - have you ever done this?

On Mon, Sep 22, 2014 at 2:04 PM, S Leslie leslie@habitrpg.com wrote:

[2014-09-22 21:13] lemoness commented on #4065
I know @lefnire said there was an additional app to use, but I can't find
which one it would have been.

On Mon, Sep 22, 2014 at 2:12 PM, S Leslie leslie@habitrpg.com wrote:

[2014-09-22 21:15] lemoness commented on #4065
@paglias Do you know if @lefnire uses Doppler for Heroku? Or what the name
is of the app that he does use?

On Mon, Sep 22, 2014 at 2:13 PM, S Leslie leslie@habitrpg.com wrote:

[2014-09-22 21:20] lemoness commented on #4065
AHA - the app is named Nezumi. Getting it now; will give this a try and
pray that I don't make things worse.

On Mon, Sep 22, 2014 at 2:15 PM, S Leslie leslie@habitrpg.com wrote:

[2014-09-22 21:29] lemoness commented on #4065
Followed the instructions Tyler had sent me, but it doesn't seem to be
working yet - I'll give it some time and then try again.

On Mon, Sep 22, 2014 at 2:20 PM, S Leslie leslie@habitrpg.com wrote:

[2014-09-22 21:53] #4060 closed, assigned to lefnire

[2014-09-22 21:53] negue commented on #4065
The Error is a 503, which means the server itself is crashing. And since I don't get any other output on my end, I can't say for sure that it is my fault^^.

Anyway the fix @Alys "created" (for me), is only on the client-side (webbrowser), It has nothing todo with the crash. (I hope)

So you think the Heroku Server has bug? Or the started instance? (Im new to heroku, and such services...)

[2014-09-22 21:57] lefnire commented on #4065
Hey guys, sorry for the silence - I'm camping in the mountains right now and dropping in to cafes along the way any chance I can. I'm not sure what's causing all this, likely an npm package upgrade somewhere in our modules. Right I'm testing a deploy on [mongoose@439e486b87e584c5a1b5135fcc08212a25238d5f](https://github.com/LearnBoost/mongoose/commit/439e486b87e584c5a1b5135fcc08212a25238d5f), which

[2014-09-22 21:59] lemoness commented on #4065
Poor Tyler :(

Brief background: I used Nezumi to restart the server twice, and it seems
to have helped a little bit, but people are still getting lots of
application errors (including me). I did manage to successfully create and
check off a task after the first one (used DDT to verify), but I haven't
been able to access chat at all. Keep us posted on how it goes.

On Mon, Sep 22, 2014 at 2:57 PM,

[2014-09-22 22:12] lefnire commented on #4065
Ok, I've pushed. Anyone who has access to NewRelic (@Alys, I added you) should be able to see what's going on. [Server performance](https://rpm.newrelic.com/accounts/565514/applications/3386694) (shouldn't be exceeding 500ms response time - ideally 200ms, that's our usual avg); [errors](https://rpm.newrelic.com/accounts/565514/applications/3386694/traced_errors); etc. Anyone who has access to Hero

[2014-09-22 22:17] veeeeeee commented on #4065
Thanks, @lefnire! Let us know when you're back from camping.

[2014-09-22 22:19] lefnire commented on #4065
backt tomo night

[2014-09-22 22:26] lemoness commented on #4065
Social media all updated. Thanks so much Tyler - enjoy your camping trip!

On Mon, Sep 22, 2014 at 3:19 PM, Tyler Renelle notifications@github.com
wrote:

[2014-09-22 22:26] #4065 closed, assigned to nobody

[2014-09-22 23:13] CWFranklin opened #4066 "Cannot edit tags on existing tasks"
After adding a custom tag ("work"), I can no longer click on the checkboxes to add tags to existing tasks.
If I create a new task I can add tags after clicking edit, existing tasks will not allow it.

Screenshot to show existing and new "test" tasks.
http://puu.sh/bJXdM/0cdaeeb50d.png

[2014-09-22 23:39] helenl7 commented on #4060
i got my todos back!  thank you habitlords!

[2014-09-23 00:13] pepperpanda opened #4067 "Errors after casting a party skill"
When I cast Blessing I seem to be getting this error

![1](https://cloud.githubusercontent.com/assets/4915522/4365956/5c077d90-42b6-11e4-8ffa-942d5b0f8fde.jpg)

and then after I try to sync with the server the heal wouldn't be applied

![2](https://cloud.githubusercontent.com/assets/4915522/4365968/7852213a-42b6-11e4-9acc-98fedbed700e.jpg)

I've tried numerous times but the result is still the sam

[2014-09-23 00:22] Alys commented on #4067
Confirmed. I just switched to Healer and got the same thing when I cast Blessing and Protective Aura (party skills) but not when I cast the two non-party skills.  Chrome JavaScript Console report for one casting of Blessing:
![screen shot 2014-09-23 at 10 17 22 am](https://cloud.githubusercontent.com/assets/1495809/4366004/16ee5d2c-42b7-11e4-8f39-65b89cb7c5f5.png)

[2014-09-23 00:23] ghost commented on #4067
Same thing for casting a party spell as a Mage (Ethereal Surge, I think).

[2014-09-23 00:30] Alys commented on #4067
Also Rogue Tools of the Trade (party skill) but not two of the three non-party skills (didn't test Backstab because it's too powerful). Also both Warrior party skills but not either of the non-party skills.

It's definitely a bug for party skills only.

[2014-09-23 00:40] Alys commented on #4067
FYI, I am not able to investigate this because I have real-life commitments.

[2014-09-23 01:53] caseyhoward commented on #4066
I can check tags either. All I am doing is trying to check a tag. I get the following error:

TypeError: Cannot set property 'e46eaedd-295a-4b9d-a2d0-fe4f8f03aa5b' of undefined
    at B.assign (https://habitrpg.com/app-99623818.js:6:26766)
    at $commitViewValue (https://habitrpg.com/app-99623818.js:7:28623)
    at $$debounceViewValueCommit (https://habitrpg.com/app-99623818.js:7:29062)
    at $s

[2014-09-23 01:54] caseyhoward commented on #3983
Yep, I just got bit by this.

[2014-09-23 01:55] Alys commented on #4066
Before about a day ago, when you created a new task (or reward), the task's object contained an empty 'tags' attribute. I.e., like this:

[code]

However now, when you create a new task/reward, there is no 'tags' attribute at all (not even an empty one).

If you create a new task and assign tags to it **immediately**, that works. The tags are assigned correctly, and if you reload the page, they ar

[2014-09-23 01:57] Alys commented on #4066
### WORKAROUND for anyone experiencing this bug (which is probably everyone):

As soon as you have created a new task or reward, immediately add a tag to it, before taking any other action on the site. From that point onwards, you can edit and add tags on that task exactly as normal.

Alternatively, before you create the new task/reward, select at least one tag. I.e., filter your tasks by one or m

[2014-09-23 03:31] Alys commented on #4066
FYI, I'm not able to investigate this further today because of personal and work commitments.

[2014-09-23 03:35] Mihakuu commented on #4067
I do not get the error message and it looks like I can cast the spell until refresh where the effect is reverted back. Was casting a blessing.

[2014-09-23 03:41] veeeeeee commented on #4067
Confirmed for Warrior--Can't cast Valorous Presence. Same error message.

[2014-09-23 04:40] paglias commented on #4065
Sorry guys, it was night vere. The server is made so it's in fact multiple instances of it and each time one of it crashes a new one is created so restarting the whole server shouldn't help much. I have heroku access so I should be able to make deployments when necessary but without knowing @lefnire steps for this I want to bear back from him before doing anything. But we definitively need a way t

[2014-09-23 04:41] paglias commented on #4065
See https://blog.heroku.com/archives/2013/7/25/releases-and-rollbacks

[2014-09-23 06:27] AnitaYCheng opened #4068 "Last habit in Habits column is always blue-green"
Thought it was just me, but saw it on another new user's screen today. Even if we don't touch it (for weeks in my case), our last habit in the column is always blue-green.

[2014-09-23 07:11] Alys commented on #4068
Is it a Habit that has both plus and minus options enabled? If so, it will remain the same colour forever if you don't use it. It will be coincidence that you both have those at the bottom of the column.

[2014-09-23 07:48] AnitaYCheng commented on #4068
Ahh, interesting! Carry on then! :)

[2014-09-23 07:54] Alys commented on #4068
:) :)

I should have linked you to more details: http://habitrpg.wikia.com/wiki/Habits if you're not aware of that page.

[2014-09-23 07:54] #4068 closed, assigned to nobody

[2014-09-23 09:52] draky177 commented on #4060
My To-Dos are back too! :) Thank you so much for a such quick response! Love you and HabitRPG! :)

[2014-09-23 12:02] nanooq opened #4069 "app-99623818.js internal server error"
JavaScript Problem on Ubuntu 12.04, Firefox 32.0.2. NoScript Plugin deactivated, error still occurs.  Starting firefox console debugger, makes it crash.

First, after log-in, I do not get redirected to tasks, but stay on the static frontpage. This is resolved by reloading.

Secondly, I often get the warning, that a script is not responding: https://habitrpg.com/app-99623818.js:2. Debugging it make

[2014-09-23 14:21] ghost commented on #2064
Earthquake not buffing (in Firefox; OS Windows 8; API UUID: 88357773-a371-41f5-9ee2-5c4def77a810). All others spells work. MP resets when I reload the page. When I cast Earthquake, I receive the following error:
"Error Cast to number failed for value "NaN" at path "_v"" (see Chrome console for more details).

The associated JavaScript error:
Object { data: Object, status: 500, headers: Vc/<(), con

[2014-09-23 15:43] wildcate opened #4070 "Special gear (no benefit conferred) stays after Rebirth"
There is a bug when using the Orb of Rebirth: if used while having the "Roguish Eyepatch" and the "Shining Capelet" equipped (both Summer Splash Special Gear), the character stays equipped with these. Even though the reset to starting character worked as it should, the avatar is still wearing both the eyepatch and the capelet. This happened to my husband, and he finds it quite vexing, as they get