[2013-02-18 17:31] #423 closed, assigned to nobody

[2013-02-18 17:33] Pandoro commented on #422
I am not sure if it will be handled like this, but at some point in the future there will be a warning system before purchasing something you might get hp damage from. See this [Trello car](https://trello.com/card/confirmation-for-gold-spending/50e5d3684fe3a7266b0036d6/64)

Will that suffice for you, or is your suggestion more based on the fact that you want to see it before hand already?

Edit: I

[2013-02-18 17:38] Pandoro commented on #409
I think this is a very valid point and I can understand your frustration. You can of course also use the productivity habit for other productive things in your life, but it might not be something you really want to track like this.

@SlappyBag Do you think you can make, or is it already supported, to use pure - or + habits for the productivity daily? Meaning that you will only track good OR bad si

[2013-02-18 17:44] Pandoro commented on #420
I added both a later and an important Label to this post. Important just so that we will not forget about it. If that messes with your Zen thing though, feel free to change it @lefnire ;)

And yes, a very valid point. I think it makes sense as well, although it also really depends on how the class system will be implemented. If it is level based, then I really think this makes sense, if it is kind

[2013-02-18 17:47] Pandoro commented on #417
Sounds buggy indeed. Although I wonder how this could have happened. I doubt the active/inactive settings should nor can affect already taken damage.

Maybe you can post some more details about it while it is still fresh? System, browser? Do I get it right you logged out on Friday and logged back in on Sunday?

[2013-02-18 18:02] wildcate commented on #417
System is Win7, Firefox 18.02.
I didn't log out on Friday, just put the computer on standby/sleep mode and turned it on again on Sun (sorry for the misleading wording). It docked 3.4 hp (I think) which came back after reloading.

[2013-02-18 18:12] Pandoro commented on #382
Well if you keep the same kind of style we have right now, feel free to give it a shot. If it is nice we can at some point maybe integrate it as a pet. I don't really see the point of a generic avatar though. You would still have to buy that for a set of tokens and then I think you are better of not buying one at all since apart from the looks they do not give any other benefit.

Or you can post w

[2013-02-18 18:18] Pandoro commented on #388
@cleave29  has this occurred again? Apparently nobody could recreate the bug. Which does not mean it wasn't there, but it will make it hard to find if we don't know what it looks like :x

[2013-02-18 18:28] Pandoro commented on #363
Honestly this is one of the best takes on death I have seen so far. It fits the rpg genre as you do some quest, with a little bit of a story in there as well. Furthermore it actually helps you to get stuff done. Instead of just dying and trying again, you are now motivated to finish something. However there are two big buts as well.
1. You cannot simply pick something from the todo or habit list.

[2013-02-18 18:30] Nostrocker commented on #405
I replicated the bug today, I'm assuming it's the time stamp of the saved page or something.

I normally use chrome, but I logged in through firefox in the past. Firefox opens up tabs from last session when I run it, and one of those is habitRPG. Any time I open firefox now I instantly die... Pretty much what I said last time, but now I'm a little more confident having replicated it.

[2013-02-18 18:31] Pandoro commented on #361
@orangisque yesterday I made a little color change to your mock up. It wasn't all that great though. Most of the people in the KS celebration hangout agreed though that the new colors for the different tasks was rather, distracting. My edits to your mock-up made the point pretty clear that with the original colors your mock-up has a very different impact. Because of that it would be great if you c

[2013-02-18 18:33] Pandoro commented on #335
Has this been resolved? Or are there still issues?

[2013-02-18 18:35] Pandoro commented on #405
@lefnire This seems pretty bad. Any thoughts? Could it be firefox registers the multiple day changes since the time the tab was open and then it counts all of those -> Many things will not be checked -> death ?

[2013-02-18 18:39] Pandoro commented on #331
So has this been posted somewhere? It will probably be changed at some point with the fierce discussions going on, but until that time, it might be a good idea indeed to explain the results of dying.

[2013-02-18 18:42] Pandoro commented on #320
Any news on this front :x ?

[2013-02-18 18:44] Pandoro commented on #312
If I recall it right, this was fixed during one of the last bigger pushes right? Can we close this?

Edit: I just checked this on the test server, which was up to my surprise ^^; And this is gone now, so I'm closing this one for now.

[2013-02-18 18:48] #312 closed, assigned to nobody

[2013-02-18 18:50] Pandoro commented on #289
As there was no answer back, I will close this for now, feel free to post here again and we can revisit it if it has occurred again!

[2013-02-18 18:50] #289 closed, assigned to nobody

[2013-02-18 18:54] Pandoro commented on #16
@demizach I'm really sorry for the continuing frustration on this one :( You haven't been forgotten though! Did it occur again? There have again been major changes, so I am not sure if that might have changed something for you as well?

[2013-02-18 18:56] ericwilmoth commented on #382
Ah--I just assumed the pets would add some benefit and level up along side of us...but if they're just jewelry for the characters then I guess it doesn't matter.

[2013-02-18 18:59] Pandoro commented on #382
As of right now they are, but stay tuned regarding this topic :) There
might be some new things coming up when it comes to levelling up stuff. And
yes I can understand what you mean now. I will keep this in mind when
discussing such things! Thank you for the input.

On Mon, Feb 18, 2013 at 7:56 PM, ericwilmoth notifications@github.comwrote:

[2013-02-18 19:02] ericwilmoth commented on #382
My pleasure!

From: Pandoro [mailto:notifications@github.com]
Sent: Monday, February 18, 2013 1:59 PM
To: lefnire/habitrpg
Cc: ericwilmoth
Subject: Re: [habitrpg] Feature Request: more pet options (#382)

As of right now they are, but stay tuned regarding this topic :) There
might be some new things coming up when it comes to levelling up stuff. And
yes I can understand what you mean now. I will k

[2013-02-18 19:02] ancientcampus opened #424 "Feature Request: Integration with Mnemosyne (a flashcard program like Anki)"
I use Mnemosyne, which is a flashcard program like Anki or Supermnemo. It's open source and supports add-ons, so I figure integration would be done by making a plug-in to send info to HabitRPG. I realize this is fairly low priority, and would be handled by one of the awesome volunteer code-monkeys. I can definitely say that getting a (+) habit for every card I hit (even with the inevitably tiny bo

[2013-02-18 19:04] Pandoro commented on #152
I honestly haven't heard of this issue popping up in a long while. It seems to have been fixed when Tyler fixed the lost items that were still in the list. Can we close this ticket?

[2013-02-18 19:08] ancientcampus opened #425 "Suggestion: "Add-ons" section to website"
I'd gotten the impression that a prototype Chrome already add-on exists, though I only found it by googling it. Are there other add-ons or app integrations already in existence? If so, there should be a page that lists them all.

Alternatively, if we had a dedicated forum, then it would be simple to make an "addon" subforum, including a sticky listing them all.

[2013-02-18 19:10] Pandoro commented on #165
Is there no way to run the test server in some kind of debug mode or profiler? It would be good to test this with a structured approach and identify all the stuff once and for all. I think we can easily get enough people on there to make it feel real to the server. The question is if something like that exists :x

With the risk of me sounding stupid, after quickly googling for a javascript profile

[2013-02-18 19:13] Pandoro commented on #425
So there is the first call for a dedicated forum :D

I think your suggestions is very valid. So far I don't think there is a LOT
out there yet. Yesterday I saw some quick hacky script Tyler used to get
habitrpg to work with pomodoro? But otherwise I don't know of any real add
ons currently.

Regarding the forum this is most definitely in the queue, it is just that
there hasn't been a decision on w

[2013-02-18 19:14] Pandoro commented on #421
Hmmm what you say is true :p I must admit I never was a real big fan of that idea either ;) But of course the main user group should decide on what is going to be in the game. What makes that idea easier to implement is that we do not need to worry about monster sprites, and the overall system is somewhat simpler. You get a disease, or you don't, if you do, you get hp subtractions until you manage

[2013-02-18 19:19] StanLindsey commented on #165
I know one of @lefnire 's priorities is a testing suite and although you did some good research, Google Chrome essentially has firebug built in. (Though the last time I used Firebug was years ago and it didn't have a profiler which I'm fairly sure Chrome doesn't so I could be talking uselessness)

[2013-02-18 19:19] Risuji commented on #421
Yeah, it was based more on the idea of "encroaching deadlines" - seeing your tasks crawling towards being overdue.
I would like to see some motivation towards doing a random task, but I think the quests system is also aimed at that kind of function.

[2013-02-18 19:22] toebu commented on #414
Got it.
For a staging/testing/dev server: didn't you have one running over here: http://habitrpg.herokuapp.com? Do you update it manually? Might be worth looking into some automated deployment pulling from git.

[2013-02-18 19:30] toebu commented on #417
It's possible that the damage was never fully synced to the server. After you reloaded the page, were your other changes intact (the removing of the Sat/Sun markers)?

[2013-02-18 19:33] lefnire commented on #165
Firebug / Chrome Console will help us find issues on the client, our issue's on the serve. Two excellent approaches for profile server code are [node-webkit-agent](https://github.com/c4milo/node-webkit-agent) and [node-memwatch](https://github.com/lloyd/node-memwatch). We may also want to look into [Nodetime](http://nodetime.com/), a commercial profiler we'd setup running on the live server. These

[2013-02-18 19:35] lefnire commented on #413
Gotcha biotch! https://github.com/lefnire/derby-auth/commit/08b0499c414ef7d4e00b0f23068220b8f3280c1f and https://github.com/lefnire/habitrpg/commit/be4c05ca4fe0fa102c3877738ffbaa2a29748b75 . But now we're back to #322 :( Oh well, it's a better critical bug lol.

[2013-02-18 19:35] #413 closed, assigned to nobody

[2013-02-18 19:36] toebu commented on #422
Simply greying out the items that are too expensive might do the trick without introducing more visual clutter in form of colours. Surely a quick and useful change.

[2013-02-18 19:42] lefnire commented on #422
actually yeah, +1 @toebu's suggestion

[2013-02-18 20:01] cleave29 commented on #388
No, luckily, it hasn't.
I've been really careful about using rewards since then, so I don't really want to go looking for it.
Have you tried the suggestion above: "Just out of curiosity, what if you spend more gold than you have thus losing hit points, then press the down arrow?"  If so, then I guess it's gone.
Thanks for looking into it.

[2013-02-18 20:02] toebu commented on #392
I know, I wrote too much, but I'm still going to push this again since I really feel this is important for the game after you've played for a few weeks.

Summary of my suggestion:
- Experience points are used to buy (learn to use) in-game items
- Money is used to buy custom defined (real life) rewards

Why?
In-game rewards get more expensive for every item you buy. Your experience and money intake

[2013-02-18 20:05] Pandoro commented on #388
Well I would try it on the test server, but as I mentioned, I was never
able to find the down button in my browser. But from what I understand from
@lefnire s comment, he wasn't able to reproduce it.

Maybe you can test this on the test server? http://habitrpg.herokuapp.com/
There you can play around a little, you don't even need to log in for that.
You should be able to buy some rewards so that t

[2013-02-18 20:11] ghost opened #426 "Keep Parties After Having Gained It Once"
I level up to quickly so I often have to reset to level 1. I love the party feature, anyway to keep that after you gained it once.

[2013-02-18 20:12] mattrozak commented on #318
i went to assign a due date on a todo.  As soon as I clicked on the date textbox, all habits, dailies, todos, and rewards vanished. After I refreshed, everything was still there but was shuffled.

Whenever my tasks do get shuffled, it's usually preceded by everything vanishing momentarily/until a refresh.

[2013-02-18 20:12] Pandoro commented on #392
The question remains if you really need this if you simply earn more? Right
now I very much get what you are feeling. You might roughly make 5 gold a
day and spend 4 of the 5 on real life rewards. That means you need to save
up very long to get 30 gold for a cool new weapon and VERY long for the
next weapon etc. But once we get multipliers, we could normalize our stuff,
so that we actually earn, s

[2013-02-18 20:19] kwilson328 commented on #318
Haven't touched due dates yet, but experiencing the same event order as @mattrozak, vanishing -> refresh -> shuffling

Chrome v24.0.1312.57
OSX 10.7.5

[2013-02-18 20:20] mattrozak opened #427 "clicks won't respond"
Over the past few days this issue has been pretty bad for me.  Sometimes when I load the page, clicking on checkboxes, +'s, -'s, and coin buttons does nothing.  I'll reload the page and try again until success. Sometimes takes up to four refreshes.

Chrome 24.0.1312.57 on OSX 10.8

sorry if this issue is already up, i couldn't find anything that looked the same after a cursory search.

[2013-02-18 20:24] toebu commented on #392
That's definitely an important factor, yes.
How about this: there should be a chest where you can put in some of your money. As long as the money is in the chest, it is not used for any rewards. So if you buy something that you don't have enough money outside the chest, you are going to lose health as if you wouldn't have enough money at all.
You can always put in money in the chest but you can on

[2013-02-18 20:33] gerovac commented on #427
Same issue here, also Chrome 24.0.1312.57 / OSX 10.8

[2013-02-18 20:47] safarijacksa commented on #322
Hey Tyler and co,

Is this still an issue? If so can you not set a minimum wait time before the server accepts a refresh request? So if it gets stuck in the loop where it tries to refresh every second or less then it is forced to wait 5 seconds if the same IP/user tries again to repeatedly access a 10 second wait is implemented and so on.

If you can do this then you should be able to
a) Improve t

[2013-02-18 20:54] safarijacksa commented on #165
What other suspects do you have for the memory leak other than #332 and #413?

[2013-02-18 21:07] safarijacksa opened #428 "Suggestion"
Could we have maybe a small circle with a question mark in so that users can hover over it and get some help with regards to the different box's (to-do, daily, rewards etc).

[2013-02-18 21:14] lefnire commented on #428
Added for you: [trello](https://trello.com/card/question-mark-with-help-information/50e5d3684fe3a7266b0036d6/168) - we'll need this

[2013-02-18 21:34] lefnire commented on #165
the only thing i can think of is the [party query subscriptions](https://github.com/lefnire/habitrpg/blob/master/src/app/party.coffee#L23), but even when I run profiling locally in a solo group (in which case party subscriptions are bypassed), I see a leak. I'm playing with these profilers to figure it out, I'm not sure what to do with them - they tell me like "String objects take up 1GB RAM" - ok

[2013-02-18 21:51] lefnire commented on #427
can either of you tell me if there are javascript errors showing in Chrome
Console or Firebug when you click + - ?

On Monday, February 18, 2013, gerovac wrote:

[2013-02-18 21:53] lefnire commented on #426
Do you lose the party feature when you reset? I can't replicate

On Monday, February 18, 2013, Wesley Pennock wrote:

[2013-02-18 21:54] ghost commented on #426
Yes
On Feb 18, 2013 3:53 PM, "Tyler Renelle" notifications@github.com wrote:

[2013-02-18 22:04] lefnire commented on #165
The other thing is Racer uses [MemoryStore session middleware](https://github.com/codeparty/racer/blob/master/lib/session/session.Store.js#L43), which in fact throws a warning on launch about a memory leak. It ties in closesly with racer, so it  might be difficult to gut their session store in lieu of another. I hit errors just trying to replace it with Redis store or Mongo store, but it might be

[2013-02-18 22:04] orangisque commented on #361
@Pandoro
Ahh, hehe, sorry for the eyesore colours, I usually work with a really dim monitor so I don't really see the full vibrancy of the colours I pick. Here's the first mock up with the colours done to the existing palette. Although, they do seem a bit paler than it is on the actual site, even though I took the hex values exactly. Most likely an Illustrator thing plus the lack of darker outline

[2013-02-18 22:09] caycefischer commented on #361
Hooooly! There's a lot to dive into here, you're awesome Joanna!

@lefnire you weren't sold yesterday on the mockup, but take another look now at how the layout might accomodate the party system and retain a clean, whitespace-healthy layout. I'm really digging the modular "dashboard" style, and I'm warming up to the idea of a backdrop behind the avatar area.

@orangisque, my gut inclination is tha

[2013-02-18 22:25] toebu commented on #361
Sweet, I really like the last version (with more space for the party and the avatar. Also, I like the task colours better with the narrow strip on the side than on top. It's clearer that way with which task the colour goes.

[2013-02-18 22:27] unchiujar commented on #422
I was actually considering what  @toebu said when I posted the bug. The main point is to make immediately visible what is affordable and what's not but I went the red/green route since I thought it may be more suggestive.

But yeah, +1 @toebu  :)

[2013-02-18 22:27] tmas opened #429 "Running locally results in hang when clicking play"
I thought I'd try and contribute to the codebase since I had some spare time on my hands, so I whipped up a quick Ubuntu Server install on proxmox to host a local instance of habit to muck around in. I followed all of the instructions under running locally, but somewhere along the lines something got messed up and I can't get past the splash screen. I get the full splash screen with the logo and e

[2013-02-18 22:34] StanLindsey commented on #428
Yeah we talked a little about this last night, thanks for reminding us! Closing for housekeeping.

[2013-02-18 22:34] #428 closed, assigned to nobody

[2013-02-18 22:39] mattrozak commented on #427
first time i experienced a click not responding:

![Screen Shot 2013-02-18 at 5 36 54 PM](https://f.cloud.github.com/assets/1066386/169369/e0a95bc8-7a1b-11e2-8c2b-354ef84bdc8f.png)

second refresh, click did respond, no exception but the initial 403 error was still there.

third refresh, click did not respond with following error

![Screen Shot 2013-02-18 at 5 37 48 PM](https://f.cloud.github.com/

[2013-02-18 22:44] tmas commented on #426
Maybe features like parties could depend on a separate variable that represents the maximum level that user has ever gotten to? This could keep it simple for new users but allow experienced users to reset to level 1 while keeping all of the features they had unlocked.

[2013-02-18 22:51] StanLindsey commented on #361
As an upgrade on the current style, I'm starting to quite dig this. We'll have to discuss some of the upcoming features such as where the town crier would stand but I think many of the menu options would work the way you've envisioned and you could still possibly fit more icons in there.

I'm off to bed but heres some quick input from my end;
In the first image I've moved the "menu" bar in line wi

[2013-02-18 22:53] StanLindsey commented on #426
I don't think @lefnire planned for it to reset. I'm fairly sure this is a bug not a suggestion. =P

[2013-02-18 22:54] #393 closed, assigned to nobody

[2013-02-18 22:54] ghost commented on #426
@slappybag I think so too
@lefnire what do you think?

On Mon, Feb 18, 2013 at 4:53 PM, Stan Lindsey notifications@github.comwrote:

[2013-02-18 22:57] #419 closed, assigned to nobody

[2013-02-18 23:02] lefnire commented on #426
Yeah, it's not supposed to reset. I'll look into this

On Mon, Feb 18, 2013 at 5:54 PM, Wesley Pennock notifications@github.comwrote:

[2013-02-18 23:03] StanLindsey commented on #409
This is an API & main site issue really. All the extension does is tell the Habit to register an up or a down, exactly the same as if you had clicked on the plus or minus button yourself.

So there are two things I would would prefer:
A. The possibility of Habits having a floor & ceiling so not as to get too dramatically screwed.
B. The ability to specifically send a up or down amount via the API.

[2013-02-18 23:04] lefnire commented on #427
Brilliant, that gives me something to work with - thanks Matthew

On Mon, Feb 18, 2013 at 5:39 PM, Matthew Rozak notifications@github.comwrote:

[2013-02-18 23:04] StanLindsey commented on #335
I'll close as they are in email contact.

[2013-02-18 23:04] #335 closed, assigned to nobody

[2013-02-18 23:07] StanLindsey commented on #152
I wasn't super productive as I promised a fortnight ago.

I agree with you though @Pandoro - if anybody has similar issues feel free to post!

[2013-02-18 23:07] #152 closed, assigned to nobody

[2013-02-18 23:35] wc8 commented on #361
@orangisque any ideas for putting available coins in the header? There have been at least a few requests for that.

[2013-02-18 23:53] lefnire commented on #361
I'm starting to like it the more it fleshes out. Stan's latest spin I like the most (obviously majority credit to @orangisque). I'm realizing that my aversion to it may have been my RPG style from growing up, I've never played  those compartmentalized RPGs that y'all are talking about, though I know the sort - I played more fluid ones like Secret of Mana, which semi-directed my hand. Obviously if

[2013-02-18 23:55] lefnire commented on #424
Yeah, we'll have a full REST api within 1-2 weeks. Then we're hoping people will take care of those less popular integrations. I'm kinda hoping someone does on for Anki, that's my MO

[2013-02-18 23:55] caycefischer commented on #361
I think that's a good idea. Once we as a group decide the gist of it, we
can work on making it as awesome as possible without getting sidetracked or
second-guessing
On Feb 18, 2013 6:53 PM, "Tyler Renelle" notifications@github.com wrote:

[2013-02-19 00:09] tmas commented on #429
I originally tried running habit without setting the facebook-related environment variables, but after creating a facebook application and filling in those values it still doesn't work.

[2013-02-19 00:11] orangisque commented on #361
@SlappyBag Oh, floating header is a great idea! Especially if people have piled up the to-do's. Would help with mobile site when people are scrolled down.

I do think more exploration is merited, as this is just something I threw together over the span of 2 days. Another concept (or 2, if time permits!) to see the breath would be great.  Even if it is a crude wireframe of sorts would give people a

[2013-02-19 00:28] caycefischer commented on #361
Absolutely, I'm treating these as wires and exploratory mockups.

On the point of floating headers, we had a floating header initially on the
site, and it created a lot of problems for mobile users because it was too
tall and covered most of the screen—and since it floated, you couldn't
scroll past it! I think it works great for desktop, but on narrow, portrait
screens we could design a scrollable

[2013-02-19 00:36] thewoolleyman opened #431 "Feature Request: Pivotal Tracker integration"
Hi. Kickstarter backer here ;)

I like keeping my TODO list in Tracker, mainly because of the nice iOS app.

If the integration isn't too hard, I might take a shot at a pull request for it.  Any pointers to documentation or code which will show how to implement a TODO list integration are welcome.

Thanks,
-- Chad

[2013-02-19 00:50] lefnire commented on #424
just for up/down voting, - or yeah, i suppose they can do that for Mnemosyne. Should be all set :) I was talking about the full REST api for user management, which is required for some more complex stuff

[2013-02-19 00:55] lefnire commented on #361
@orangisque are you Joanna the Logo Designer??

[2013-02-19 01:00] orangisque commented on #361
@lefnire Yes :) Took your offer and dropped by Github to say "Hi!"

[2013-02-19 01:00] ghost commented on #361
@orangisque your awesome sauce thanks for the logo I love it

[2013-02-19 01:06] lefnire commented on #361
Yeah, your logos seriously rocked

On Mon, Feb 18, 2013 at 8:00 PM, Wesley Pennock notifications@github.comwrote:

[2013-02-19 01:36] tmas commented on #429
Alright, I don't know how, but I'm making a bit of progress. I've gone from not loading at all to a quick flash of the site before a white screen and errors in the console. The error is as follows:
![error](https://f.cloud.github.com/assets/271652/169735/7e78ca74-7a34-11e2-93a8-3f4ea88a034c.png)

This repeats each time I try to load the page.

[2013-02-19 01:53] demizach commented on #16
Thanks for the follow up.  No worries...fully understand that this is in the "testing" stage, and as such, there will be bugs to be worked out.

Haven't leveled up for a while.  Should level up in a day or two.  Will let you know who it goes.

Cheers!

[2013-02-19 02:13] lefnire commented on #429
I've never seen that error before, unfortunately - it looks like you have everything setup properly, otherwise it would complain specifically about env var -related issues.  It might be Racer's not checking out from git, on the #habitrpg branch properly. Let me come back to this in a bit

[2013-02-19 02:28] lefnire commented on #429
Ah, i'm able to replicate. Diagnosing.

[2013-02-19 02:43] lefnire commented on #429
https://github.com/lefnire/habitrpg/commit/daac7f424fce8f35a402cb2eafcc59a8d4a1df36 introduced the bug

[2013-02-19 02:52] tmas commented on #429
Nice to see a critical bug that doesn't affect the main site :P

[2013-02-19 02:55] lefnire commented on #429
_ahem_ don't, uh.. let's just say most our users are returning users (it's only effecting if no established sessions).

Do a git pull & try again. If no cigar, take a look at the commit I pushed to get a gist of where the issue lies.

[2013-02-19 03:03] tmas commented on #429
Well, the old issue is gone but a new one has taken its place.
![error](https://f.cloud.github.com/assets/271652/169921/e73c3026-7a40-11e2-8e04-fac9d2b73f5b.png)

[2013-02-19 03:04] lefnire commented on #429
npm install

On Mon, Feb 18, 2013 at 10:03 PM, tmas notifications@github.com wrote:

[2013-02-19 03:08] tmas commented on #429
Ahh of course. Ran that and the old problem returned. I'll take a look at the code, but I don't actually know anything about derby as of yet so I don't think I'll be of much use.

[2013-02-19 03:15] cleave29 commented on #417
I had something similar happen in that health got undeservedly refreshed.  I took an undeserved reward, for which I took 9.9 dmg.  Then I clicked a Habit and it gave me 20 gold and most of that health loss back!!!

[2013-02-19 03:31] cleave29 commented on #388
I can't replicate it on the test server, but, er...  There are several of my bugs that do not happen on the test server.  For example, I can - Oh, wait, y'all fixed the drag function.  Sweet...
For example, I tried to replicate the "having-my-health-restored-and-gaining-20g-with-a-Habit-after-using-an-undeserved-reward" on the test server and it didn't work.  But it happened to me on my profile th

[2013-02-19 03:41] orangisque commented on #361
Thank you! Very happy about the positive feedback on the logo.

Okay, here hoping I interpreted this correctly. Onwards!

![concept_2](https://f.cloud.github.com/assets/3618567/169950/971533a6-7a43-11e2-9034-b1ad744bde45.png)

So instead of big blocks at the top...it's smaller blocks. Basic info about your character and the party you are in. I thought about adding the life and/or EXP bar of your p

[2013-02-19 03:49] justdiver commented on #323
First wanted to say a quick thanks for coming up with this awesome idea.  I love it.

With regards to the rewards system I had an idea.  What if you used a "token" system?  You perform your dailies and get a token, or jewel (or any placeholder) for each one completed.  You limit this to say 5 jewels per day.  You could make the price of an item be 20 jewels plus some level requirement.  Setting th

[2013-02-19 04:05] ghost commented on #361
@orangisque correct me if I am wrong but you click that thing top right to open the shop correct? If so why not make it say "ye old shope" or something?

[2013-02-19 04:15] caycefischer commented on #361
Splitting the Rewards/Shop off to a modal window is a really good idea.
Keeps the main area specifically for productivity.

On Mon, Feb 18, 2013 at 11:05 PM, Wesley Pennock
notifications@github.comwrote:

##

_– Zachary Kain_

Designer, Creative Technologist
416-712-8895
zakkain@gmail.com
→ view my resume/profile http://zerply.com/zakkain/public

[2013-02-19 04:56] lefnire opened #433 "checkbox/plus/minus but no accompanying HP/exp/gold change"
From Twitter:

This might be a duplicate ticket (god, sorry guys I'm catching up on all this)

[2013-02-19 05:03] toddgrotenhuis commented on #433
I see this happening:
GET https://habitrpg.com/img/BrowserQuest/habitrpg_mods/ 403 (Forbidden)

[2013-02-19 05:05] lefnire commented on #433
@switz it's a problem after all! Thanks @toddgrotenhuis diagnosing

[2013-02-19 06:05] switz commented on #336
Planning on tackling this tomorrow night. That is, if we can get the `validator` bug worked out – I'm still getting it.

[2013-02-19 06:27] safarijacksa commented on #165
I'm kinda hazy on this but I know Android runs a Garbage cleaner in the background that hunts down unused variables and frees up memory. It's possible that what the memory profiler is trying to tell you is that string variables are being created and not erased. You either need to create your own garbage cleaner(which has a danger of nuking user data) or ensure that each and every variable you have

[2013-02-19 06:42] PsychShaman opened #434 "[Suggestion] Daily Reset Time Setting"
I just saw that the Dailies reset at midnight (CST).  Would it be possible to have a setting where we can select when we want the dailies reset?  For instance, I usually stay up until 2 am, and I don't know if I'm going to complete some of my dailies from midnight to 2 am.  I could just fill them out for the next day, but there's some satisfaction in crossing everything off at the end of the day.

[2013-02-19 07:05] switz opened #435 "Websockets + Nginx"
Thought there was a trello or github issue on this, but couldn't find it.

Anyway, good news! http://trac.nginx.org/nginx/changeset/5073/nginx

Edit: HN discussion [here](http://news.ycombinator.com/item?id=5240356)

[2013-02-19 07:06] wildcate commented on #323
I think originally, the discussion was about the functionality extensions that come into play when going up a level (such as the party system). I wouldn't limit the items or bind them to a minimum level or other minimum requirement, personally - the "buy something" mechanism is there to motivate doing more stuff more often, more regularly, or faster. If I need to wait until level 5 before somethin

[2013-02-19 07:11] wildcate commented on #417
It's possible that the other changes reverted as well, but I did not really memorise that (I was so perplexed by my sudden health).

[2013-02-19 07:40] kwilson328 commented on #427
Confirmed for Chrome 24.0.1312.57 / OSX 10.7.5
However, my console only shows the 403 error, no others show up when I click.
And refreshing multiple times doesn't resolve it for me either.

[2013-02-19 07:54] DDzwiedziu commented on #405
I confirm the time checking - the Firefox witch killed me wasn't opened for nine days.

[2013-02-19 10:19] Pandoro commented on #388
Hmm I must admit I am not a 100% sure which version the test server is
running right now. But knowing that it does not occur on there might help
finding out the cause of this problem.

What do you mean by the other bug you mentioned :x ?

On Tue, Feb 19, 2013 at 4:31 AM, cleave29 notifications@github.com wrote:

[2013-02-19 10:22] Pandoro commented on #434
There is a [trello card](https://trello.com/card/timezone-day-start-options/50e5d3684fe3a7266b0036d6/15) for this suggestion already. You can vote for this feature, there, but looking at how high it is rated right now, I think this will be implemented at some point :)

I'll close this in order to keep the board organized. Feel free to post follow up stuff though.

[2013-02-19 10:22] #434 closed, assigned to nobody

[2013-02-19 10:47] Pandoro commented on #427
I can confirm this as well. In some cases I need to refresh several times to do anything at all. Including making habits, todos, deleting them, checking things off.

(Ubuntu 12.04 FF)

[2013-02-19 10:48] Pandoro commented on #433
This feels related to #427 at least these problems started occurring for me at the same time.

[2013-02-19 10:50] Pandoro commented on #409
What I tried to say and seeing @SlappyBag 's post, believe might be possible, is that you remove the plus button of the productivity task. This is of course no real solution, but using pure negative or pure positive tasks means they would not change the damage you take / exp you get per click. So you would get a constant hp loss based on your browsing activity.
The obvious drawback is that you can

[2013-02-19 11:11] horusofoz commented on #361
+1 For splitting rewards off.

Would a plain background still be selectable? For myself a plain white/grey background would be essential to be able to use at work without raising the eyebrows of managers.

[2013-02-19 11:18] horusofoz commented on #361
I think consolidating rewards, parties, etc into a menu list expandable from a navigation button would help clear up space so the UI would not appear too busy when we start incorporating more GTD features like:
- Multiple lists/categories
- Checklists/subtasks
- Task status
- Expanded notes capabilities
- Other service integration such as Pomodoro
- Other views such as Agenda or Smart Lists

[2013-02-19 12:41] mattrozak commented on #427
issue was pretty bad on chrome this morning so i hopped over to Firefox 19 - same deal.

i've noticed that if i can click before the page stops loading (chrome stops "spinning") it will usually register, but that's usually only a few second time window.

[2013-02-19 13:29] Pandoro commented on #427
I can confirm what @mattrozak  says, the site seems more responsive while it is still loading. After that it is pretty unlikely anything will work :x

[2013-02-19 14:08] toebu commented on #417
@cleave29 did you also reload the page before you got back your healh, or did you get it right when you clicked on the habit?

[2013-02-19 14:30] lefnire commented on #427
Oh goodness. Ok, today's task :)

[2013-02-19 14:36] unchiujar commented on #433
It has been broken for me in the same way too since this morning (GMT+2) , sometimes it works only for the first click but not for the following ones.

[2013-02-19 14:37] lefnire commented on #388
Test server is old, I'll take it down. We haven't set up a CI deploy of
develop yet

On Tue, Feb 19, 2013 at 5:19 AM, Pandoro notifications@github.com wrote:

[2013-02-19 14:41] lefnire commented on #435
awesome, awesome!

On Tue, Feb 19, 2013 at 2:05 AM, Daniel Saewitz notifications@github.comwrote:

[2013-02-19 14:45] lefnire commented on #424
oo! where where? I'd use the eff out of that

[2013-02-19 14:56] lefnire commented on #414
Yeah, we should most certainly setup a continuous integration system with
auto deploys of develop to the test server. Ideally, taking it down after a
certain time so people don't get too cozy there (or we could just do
.htaccess password-protect)

On Mon, Feb 18, 2013 at 2:22 PM, Tobias Leugger - Vibes <
notifications@github.com> wrote:

[2013-02-19 14:59] switz commented on #414
This only works well if we have a solid test suite. I don't think we should worry about it yet.

On Tuesday, February 19, 2013 at 9:56 AM, Tyler Renelle wrote:

[2013-02-19 15:02] antistic commented on #424
@Elexhad You could probably ask at https://groups.google.com/forum/?fromgroups=#!forum/mnemosyne-proj-users or https://groups.google.com/forum/?fromgroups=#!forum/mnemosyne-proj-devel . I'd love to see a mnemosyne plugin!

[2013-02-19 15:13] wildcate commented on #433
Same here.

[2013-02-19 15:47] cleave29 commented on #417
@toebu  I got my health and 20g right when I clicked on my Habit.

[2013-02-19 15:48] cleave29 commented on #388
@Pandoro I mean #417

[2013-02-19 15:57] toebu commented on #427
I can reproduce this on my local copy (latest develop branch). This is definitely the same problem as #433.

I commented out line 22 in rewards.html to get rid of the 403 mentioned in #433 (for /img/BrowserQuest/habitrpg_mods/).
However, everything is still completely unresponsive. Everything as in: adding tasks, editing, deleting, buying rewards, all doesn't work. The only thing that works is ope

[2013-02-19 15:57] toebu commented on #417
Yep, I can confirm this. I could reproduce it on my local server.

[2013-02-19 16:18] lefnire commented on #433
ok, let's follow this up on #427

[2013-02-19 16:18] #433 closed, assigned to nobody

[2013-02-19 16:19] lefnire commented on #417
i think it's related to #427, i'm going to work on that and follow up here when that's fixed

[2013-02-19 16:20] Pandoro commented on #388
@cleave29  sorry for the ... bad help. I wasn't aware the test server was so old :( But @lefnire this might still be interesting? That both this and #417 did not occur on that version of the code? Do you know which version was running there?

[2013-02-19 16:21] lemoness commented on #420
Congrats on getting the stretch goal!!

I see in the link that it looks like you're adding 1 point per level... in that case, maybe a system where people can choose which skill they should have gotten for all their past levels? Like a basic grid? That seems much easier than percentages, especially since most people probably aren't TOO far up on the level charts :)

Also, since we're only giving pe

[2013-02-19 16:22] lefnire commented on #427
Ok, I'm gonna crack into this. @toebu you seem to have a pretty solid grasp of the code, so if you spot anything suspicious hit me up. Brb

[2013-02-19 16:38] LittleFishChan commented on #427
I've noticed the same thing. It might respond for ONE click per every three or four refreshes, but that's it. Also, none of my habits (Non-checkboxes) are responding.

[2013-02-19 16:41] toebu commented on #427
Tried to look through the last commits to find out what might be the problem, but didn't see anything obvious.
I have to run away now, good luck fixing this quickly!

[2013-02-19 16:44] cleave29 commented on #388
@Pandoro No sweat

[2013-02-19 16:55] alexarze opened #436 "Chrome Extension - Can't Level Up"
Hey there again!

Here's another Chrome Extension bug:

I got to 81 out of 80 EXP from being productive online. Seems like a slight problem if you ask me ;) Not sure if you want to try and make it level up next time you reload or load the page or what, but that's just a slight thing I caught.

Just a suggestion: Javascript onLoad() function should do the trick to have it check you level and if exp

[2013-02-19 17:32] lefnire commented on #427
Could y'all give that a go and tell me if it fixed anything?

[2013-02-19 17:33] lefnire commented on #427
btw @switz, I think this may be related to our 'validator' bug. I can get _this_ ticket to replicate as intermittently as our 'validator' ticket on local. I think I fixed the latter with https://github.com/lefnire/derby-auth/commit/17ec46fea4db0e615b78fa210549691397e2d4d3, gonna play more

[2013-02-19 17:44] Pandoro commented on #427
Sadly for me it is still the same :x Tested by trying to check some
dailies, edit some todos and click some habits. Nothing works once the site
is finished loading. That is the dailies are getting checked, but no points
are assigned to me.

On Tue, Feb 19, 2013 at 6:33 PM, Tyler Renelle notifications@github.comwrote:

[2013-02-19 18:07] lefnire commented on #427
ok, i've got it replicating consistently on local now. I'll play around. It's strange it's only for some people, works fine on my account - and lots of people playing today. Brb.

[2013-02-19 18:47] lefnire commented on #427
and now?

[2013-02-19 18:55] lefnire commented on #417
yep, definitely #427. let's follow there

[2013-02-19 18:55] #417 closed, assigned to nobody

[2013-02-19 19:04] kwilson328 commented on #427
Oh dear, I cleared all browsing history, cache, and cookies and then rebooted Chrome, and now Habit can't find my account! Guess I can't be of much help for testing the bug :(
![Screen Shot 2013-02-19 at 12 03 09 PM](https://f.cloud.github.com/assets/3534975/172801/10f8d1ae-7ac7-11e2-9b10-a43f71ac4fde.png)

[2013-02-19 19:08] lefnire commented on #427
[email me](mailto:tylerrenelle@gmail.com) your username, email, or user-id - let me try to pull you up

[2013-02-19 19:13] lefnire commented on #427
interesting, user with id `kwilson328` looks pretty solid in the database. try again?

[2013-02-19 19:37] kwilson328 commented on #427
Turns out it was user error. Have to login with username and not email address. Not sure it was always this way though.

Logged in successfully, click issue stil prevalent. Still able to get a few clicks in before server is done loading.

[2013-02-19 19:42] ianjohnsa commented on #427
I am also experiencing this issue on Chrome Version 24.0.1312.57 m and Windows 7. Let me know if I can help testing anything (user name is 'ianjohnsa').

[2013-02-19 20:06] derekantrican commented on #427
Same issue here. user name: derekantrican . User ID: 42f5dbca-a552-47aa-b038-c8df30596e7b Using both latest versions of chrome and firefox and windows 7 for both (same issue, no matter what).

[2013-02-19 21:04] lemoness opened #437 "Sent me back down a level??"
Hey! I've been working hard all day on progress and managed to get to level five and knock a ton of stuff off of my to-do list, but then when I refreshed just now after the page was down, it's like I didn't sign on today at all! Back to a high level 4, all of the to-dos I completed are back, etc. :/

My user id is 7bde7864-ebc5-4ee2-a4b7-1070d464cdb0 - should I just re-click everything?

[2013-02-19 21:15] lemoness commented on #437
Clicking isn't working for me, so hopefully you can restore it :(

[2013-02-19 21:59] dbueller commented on #427
It isn't responding to my clicks either.  Also, when I try to rearrange a list, I get the following:

![Error](https://f.cloud.github.com/assets/3386878/173516/7bef9c46-7adf-11e2-8bd8-8ab58ec6b5d2.jpg)

[2013-02-19 22:00] Shaners commented on #107
Demon Skin Armor, possible back-only armor. Has a pulsing animation currently:
![DemonSkin-Mock-Anim001](https://f.cloud.github.com/assets/2374703/173508/415d1c5c-7adf-11e2-8865-7bf7dd3dac9d.gif)
I'd alter the animation timing (i.e. pause on the first frame a lot longer) for production but it's just easier for you to see it with this current timing. Too dark of a thank you for backers?

[2013-02-19 22:04] lefnire commented on #107
Ohh ho ho!  I'm holding my face right now, you are a wizard champion ninja
robot @Shaners

On Tue, Feb 19, 2013 at 5:00 PM, Shane Lister notifications@github.comwrote:

[2013-02-19 22:11] Pandoro commented on #107
Holy shit man! That looks awesome!

On Tue, Feb 19, 2013 at 11:00 PM, Shane Lister notifications@github.comwrote:

[2013-02-19 22:11] TyHammer125 opened #438 "Multiple Types of Currency"
I think one good idea could be to have a couple different types of currency. Then you could force yourself to have certain rewards for only doing certain tasks.

For example, if you are on a diet, you need to unlock a currency like sapphires to eat junk food. You can only unlock sapphires from working out though.

[2013-02-19 22:39] lefnire commented on #437
hey @lemoness i'm working through some hefty bugs, all on #427. I'll restore you as soon as i get those things fixed

[2013-02-19 23:02] lefnire commented on #427
Any change?

On Tue, Feb 19, 2013 at 4:59 PM, Sabin144 notifications@github.com wrote:

[2013-02-19 23:04] lefnire commented on #424
I think that's good, upping a card if you go wrong. IMO the only time you should lose points is maybe a day gone without - but that might be hard, daily + habit conflict kinda

[2013-02-19 23:05] derekantrican commented on #427
Works for me now! Any way I could get back the 4 or 5 HP that I lost
because I wasn't able to click?

[2013-02-19 23:05] dbueller commented on #427
It still isn't working for me.

[2013-02-19 23:08] derekantrican commented on #427
Yeah, I take that back. It worked for a little bit, but now it doesn't anymore

[2013-02-19 23:15] switz commented on #405
Just repro'd this bug. Working on it.

On Tuesday, February 19, 2013 at 2:54 AM, DDzwiedziu wrote:

[2013-02-19 23:16] lefnire commented on #405
Hey guys, I'm gonna fix you all up as soon as we get #427 and fixed

On Tue, Feb 19, 2013 at 6:15 PM, Daniel Saewitz notifications@github.comwrote:

[2013-02-19 23:52] lefnire commented on #427
round 3 (sorry guys, it's so intermittently replicable - and we're still working on a proper test suite - that I have to keep trying ideas)

[2013-02-19 23:54] derekantrican commented on #427
Works for me (so far). We'll see if it stays that way...

[2013-02-20 00:05] lefnire commented on #424
Good call

[2013-02-20 00:16] busterroni opened #439 "Cannot see gold, hidden by 'Rewards' text"
In this screenshot, you can see the bug I'm talking about:
![Screen Shot 2013-02-19 at 4 26 42 PM](https://f.cloud.github.com/assets/3424032/174028/c619bce4-7af2-11e2-8d2d-3cb836ccc6ec.png)
The 2 is kind of hidden by the 'Rewards' text. I think you can fix this by moving the gold and silver coins and the numbers next to them more to the right. It may not look too bad with that screenshot but befor

[2013-02-20 00:19] busterroni opened #440 "Reconnecting Bug"
I went away from the HabitRPG tab for like 10 minutes and it said on the top 'Offline - Reconnect'. Reconnect is a clickable link and I clicked on it, but it said the same thing (Offline - Reconnect). I did it a few times and it still said 'Offline - Reconnect'. Refreshing the page also didn't fix it - I had to close the tab and open a new one.

**Edit:** Duplicate of bug report #91; sorry :P I ca

[2013-02-20 00:20] busterroni opened #441 "Broken Link on FAQ"
On the Frequently Asked Questions page, the question 'I'm going on vacation, how can I disable my Dailies?" has a broken link. It says 'See this screenshot' but it goes to a broken link on evernote.com. I think it can be fixed by just updating the link.

[2013-02-20 00:39] lefnire commented on #427
Famous last words, but I think that last commit might have pegged it

[2013-02-20 00:45] ianjohnsa commented on #427
Working for me now as well. Tried on chrome for Android and Chrome on Win 7.

[2013-02-20 00:54] busterroni opened #442 "[Suggestion] Goals"
I'd like to suggest a 'Goals' section. It would be similar to 'Todos' but it wouldn't be something you do, it would be something you're pushing yourself to do. For example, a goal I would have is that I want to get a grade of a B or higher on my upcoming French quiz. If I _do_ get a grade of a B or higher I'd check if off. If not, I would X it off. This wouldn't be a Todo because it's not somethin

[2013-02-20 01:01] busterroni opened #443 "[Suggestion] Habit Undoing"
I just clicked the '-' (minus) button on one of my Habits to test something, and I lost some Health. I wanted to undo it but I couldn't find out how. Is there already a way to do it that I am missing? I know this already exists for Dailies and Todos.

**Edit**: Sorry, I didn't see issue #6, and I can't find a way to delete this post...

Thanks,
busterroni

[2013-02-20 01:27] dbueller commented on #427
I can also confirm that it looks like it is working fine now.

On Tue, Feb 19, 2013 at 7:46 PM, ianjohnsa notifications@github.com wrote:

[2013-02-20 01:47] l--l commented on #427
This issue is now resolved for me, but I can no longer drap and drop my tasks to sort them within columns.

Chrome 24.0.1312.57 on Mac OS 10.8.2.

[2013-02-20 01:49] busterroni commented on #415
I can confirm this bug, I don't use iCal but I wanted to see if the calender import option worked. I made an event in iCal called 'test' and clicked the little calender in the bottom right of 'Todos'. A page opened that said "No events found". I restarted Firefox just to make sure, and I had the same problem. I can test this on Google Chrome later but I'm on a computer that doesn't currently have

[2013-02-20 01:52] noidexe opened #444 "Chrome Extension - Incorrect low hp warning"
I've recently leveled up and I'm at full health now, but the extension constantly warns me that I'm below 10hp. Browser restart doesn't fix it.

[2013-02-20 01:55] lefnire commented on #427
Not much solace, but that's been an issue besides. Still working on that
On Feb 19, 2013 8:47 PM, "l--l" notifications@github.com wrote:

[2013-02-20 02:06] kwilson328 commented on #427
Confirmed - issue resolved for me as well.
Chrome 24.0.1312.57 / OSX 10.7.5

[2013-02-20 02:11] lefnire commented on #427
awesome, awesome. Everyone who wants me to restore them to something, [email me](mailto:tylerrenelle@gmail.com) your user id and what stats you want back (50hp, 30xp, lvl3, gold arrmor, blue sword, etc)

[2013-02-20 02:11] #427 closed, assigned to nobody

[2013-02-20 02:16] lefnire commented on #444
let's take this here: https://github.com/lefnire/habitrpg-chrome/issues/49 , I'm not managing the extension anymore - Stan FTW!

[2013-02-20 02:16] #444 closed, assigned to nobody

[2013-02-20 02:17] lefnire commented on #415
make sure you have at least one due date, i'm still trying to get to export an empty list properly

[2013-02-20 02:28] lefnire commented on #443
in the queue: [trello](https://trello.com/card/undo-button/50e5d3684fe3a7266b0036d6/20) - high priority

[2013-02-20 02:28] #443 closed, assigned to nobody

[2013-02-20 02:29] dbueller opened #445 "[Suggestion] World Map"
So, I was thinking, every good RPG has a world map.  It might be nice to see your party's icons on the map perhaps using Google Latitude.  If users don't want to share that kind of info maybe we could see our own personal avatar at our location and generic other characters based on a heatmap of activity across the 8-bit world.

Map location could also set the skin and background of an individual's

[2013-02-20 02:29] lefnire commented on #442
vote on [this trello](https://trello.com/card/habit-goals/50e5d3684fe3a7266b0036d6/66) (type 'v')

[2013-02-20 02:29] #442 closed, assigned to nobody

[2013-02-20 02:33] lefnire commented on #440
There's a pretty nasty memory leak we're ever-battling #165. The node service has to restart periodically as a result, and it takes 1-2 minute to restart. During that time you'll get that message. Usually it will reconnect you when it's back online and sync the data back up, but your best bet during those times (until we fix that bug of course) is to just wait a bit, then refresh and keep chugging

[2013-02-20 02:33] #440 closed, assigned to nobody

[2013-02-20 02:50] lefnire commented on #388
ok, #417 is closed now. how we doing on this ticket?

[2013-02-20 02:53] USM-Valor commented on #438
Great idea.

[2013-02-20 02:55] tmas commented on #439
This is an issue with the way habit handles fluid width. I think each section should have a min-width as well as a max-width to force it to be large enough to hold its elements. The sections already stack themselves vertically when the screen gets to a certain width, but there is an area between full desktop mode and phone mode (vertical stacking) where this will occur.

UPDATE: looks like the cor

[2013-02-20 02:59] lefnire commented on #425
I'll add a [wiki here](https://github.com/lefnire/habitrpg/wiki/Add-ons-and-Extensions), and a simple footer link to said [here](https://github.com/lefnire/habitrpg/commit/a644b572c4f4703fb5b14b9e5fa6b3fb04d6d108). Will flesh it out once the start rollin in

[2013-02-20 03:00] lefnire commented on #320
@godheadcomplex, can you not get in still? Confirmation email: https://github.com/lefnire/derby-auth/issues/21

[2013-02-20 03:13] hjalmberi opened #446 "Suggestion: more gold for regularly done dailes"
This one comes from someone struggling with daily exercise and flossing. Would it be possible to make it somehow valuable to keep them in a row? The current system works perfectly for me in all ways except this moment.

[2013-02-20 03:16] cleave29 opened #447 "Shading not responding correctly to frequency"
One of my Habits that I've hit many times is yellow and is still giving me 1.1 gold each time I do it and two of the tasks that I've only done once each are green (which means I'm doing good at that task, right?)
With all my other Habits, Dailies, and Todos, they are responding correctly.

[2013-02-20 03:25] lefnire commented on #447
it's not an only + or only - item?

[2013-02-20 03:26] lefnire commented on #435
- http://nginx.com/news/nginx-websockets.html

[2013-02-20 04:44] cleave29 commented on #447
All three are plus only items, although the one yellow I've used many times and the other two greens I've used only once each.

[2013-02-20 04:45] ravage484 opened #448 "Reward "Are you sure?" button"
I just spent some of my coins on accident because of clicking on the reward with a touchpad, which was dissapointing.  Maybe it would be better if there was a solution such as an "Are you sure you wish to purchase X reward with Y coins?". That would prevent people repeating my clumsiness haha.

[2013-02-20 04:51] lefnire commented on #62
@switz assigning to you, feel free to assign back if you don't want it. We need to coordinate with @SlappyBag as he's been collecting contacts for the process. This and REST API are important to do sooner than later because they set people up to contribute in the background while we work on other things.

[2013-02-20 04:53] gitirs opened #449 "Suggestion: Ability to join groups/clans for similar interests"
I was hoping for a very simply addon. Suppose I want to practice guitar. I go to the clan/group for people making guitar into a habit. There people can message each other and give each other "high fives"(RPG wise=clan strength points?) of some sort for accomplishing the daily task/hobby(the guitar group will have a sidebar that shows when a member finishes the daily habit). This brings a feeling o

[2013-02-20 04:54] busterroni commented on #415
lefnire, I'm not sure what you mean... On an unrelated topic to your post I just tested the iPhone's built-in calendar and used the Google Chrome iPhone application. I added an event to my calendar but I'm still getting the "No events found" error. I didn't really think it would work on the iPhone but it was worth testing.

[2013-02-20 05:03] busterroni commented on #449
I like this idea, however it is not as simple as you think... The idea may be simple but the developers would need to code a lot. Still, with the progress they're making they could do it quickly :P

[2013-02-20 05:17] lefnire commented on #318
possible clue https://github.com/codeparty/racer-db-mongo/issues/6#issuecomment-13816218

@SLaks I'll give your suggestions a try moment I can, thanks!

[2013-02-20 05:37] AnnFran commented on #328
Same issue (since Feb 5).

[2013-02-20 05:46] cleave29 commented on #448
Or the Undo button could take care of this.  issue #6

[2013-02-20 06:41] switz commented on #336
I started working on this tonight. I have a few routes and a small test suite built out. I won't send a PR until I add a few routes and create better test coverage.

Here's what I'm thinking for url design, let me know what you think. (Maybe we should call it v2)

Tasks are "Todos" as that's what Tyler has them called in the codebase. If you'd rather it be _todos_, please let me know.

## GET
- /a

[2013-02-20 06:48] lefnire commented on #336
Incidentally, everything is a task in the codebase - rewards, dailies, todos, habits. This gives us flexibility in a lot of circumstances, I can explain if need. So we should probably consolidate `/api/v1/habit/:id` `/api/v1/task/:id` `/api/v1/daily/:id` all into => `/api/v1/task/:id`. As long as they pass in `{type:'habit'}` as distinguisher on task creation (POST). PUT, GET, DELETE won't need th

[2013-02-20 06:52] switz commented on #336
Makes my life easier :+1: Updated above.

[2013-02-20 06:56] lefnire commented on #336
items should be simple enough, but pets are kinda patchy right now in the codebase - and we'll be revamping them soon anyway. We'll make that a second pass

[2013-02-20 07:01] thatgirldm opened #450 "New habits/todos and XP not sticking across different browser sessions"
I had the site open on my home browser, then went to work, where I added a few tasks and got some XP for habits. When I got home, after signing back in, the new tasks and XP weren't reflected on my profile. I re-created the tasks (but didn't attempt to fix the lost XP). When I got to work the next day, again after signing back in, the new tasks were gone, and today when I got home, again the items

[2013-02-20 07:51] wildcate commented on #446
This is a good suggestion, I think - I noticed that the comfy green has invited me to slack "oh, just that once, since that's not so bad".
Maybe dailies done in a row give less XP but more gold (a little more gold, up to a cap?) the longer the streak goes on?

[2013-02-20 07:57] wildcate opened #451 "Suggestion: Shading on To-Do-List starting less red"
Someone mentioned this passing on Trello as well, I think: the new to-do items start out yellow and progress to red (or at least reddish) quite fast. And while that does bring a sense of urgency, it's also quite daunting - at least to me, when I have a long list of tasks that all just need more time for finishing, even if I am working on them.
So maybe new items could start out blue and then progr

[2013-02-20 08:02] excentris opened #452 "Feature Request: integration with Goodreads or similar."
It would be nice to integrate with Goodreads or LibraryThing (or something similar) for reading habits, goals and accomplishments. Goodreads and LibraryThing both have an API. I am not sure about their terms and conditions though...

[2013-02-20 08:43] ra100 opened #453 "Bug: I don't see party members"
I've created party and invited friend, she accepted and she sees my avatar, but I can't see her anywhere as a member of my party. When I try to add her again, I get message, that user is already invited or member of that party.

[2013-02-20 08:44] ra100 commented on #453
I accidentaly closed this issue :(

[2013-02-20 09:17] PiNotEqual3 opened #454 "Server Heavy Load"
I get this error _a lot_: "The server is under heavy load or is experiencing issues."

Not sure if this is related to [memory leaks](https://github.com/lefnire/habitrpg/issues/165) or simply new bugs from new features or what ever. Anyway all of my friends left habitrpg because it is incredible unstable.

I know there is a lot to do right now but I think the over all **top priority** should be a s

[2013-02-20 10:12] litenull commented on #336
This is gold. I will take this as guideline for the client mobile. cheerz

[2013-02-20 11:58] alanivey commented on #435
Nginx doesn't make it super clear with this- though it is "released," it's on the 1.3 development branch, which isn't stable. That said, I'm stoked to try it out and we should at least kick the tires on a test server somewhere to see how it does!

[2013-02-20 12:52] nchezrony opened #455 "New Flavicon?"
I think the flavicon should be something more "gamish", a sword, shield, etc.

[2013-02-20 13:31] horusofoz opened #456 "Cannot install Chrome Extension into Chrome Portable (PortableApps.com)"
I tried and miserably failed to install the Chrome extension to Chrome Portable (PortableApps.com Format).

Every attempt yields the error below:
![Image 3](https://f.cloud.github.com/assets/3202339/175930/c3548740-7b61-11e2-8629-f2f4f70f5b28.png)

[2013-02-20 13:34] horusofoz commented on #455
@lefnire Should be a quick and easy. Should we create a Trello Card to vote on some possibilities?

My preference is for sword or sword and shield in Zelda like tradition.

[2013-02-20 13:37] Pandoro commented on #455
What about the chest? That has seriously established itself on twitter and
on the blog.

On Wed, Feb 20, 2013 at 2:34 PM, horusofoz notifications@github.com wrote:

[2013-02-20 13:37] tmas commented on #456
Have you tried this with other extensions? It may be on the PortableApps side. I'm pretty sure chrome extensions don't have any control over where they're downloaded to.

[2013-02-20 13:40] horusofoz commented on #455
@Pandoro A great point and I feel we should consider it as an addition to the logo as well. Thanks Pandoro.

[2013-02-20 13:42] horusofoz commented on #456
@tmas Great pick up. I posted without thoroughly testing. Just tried with RTM as same error so appears to be PA.com issue. Thanks :)

[2013-02-20 13:42] #456 closed, assigned to nobody

[2013-02-20 13:44] horusofoz commented on #452
Raised as [Trello Card #176](https://trello.com/c/CyxYB38C). Please navigate to the page and vote for your suggestion.

[2013-02-20 13:44] #452 closed, assigned to nobody

[2013-02-20 13:45] tmas commented on #450
This almost certainly means that you're not actually connected to the server while you're using habit. Habit isn't very good at dealing with disconnections, so you should refresh the page to make sure you're connected when you're ready to make changes. You can see if you're connected by glancing at the top of the page, where habit will tell you that it's offline and give you the option to reconnec

[2013-02-20 13:47] horusofoz commented on #454
@PiNotEqual3 We appreciate your feedback. The aforementioned memory leak is the cause of your issue.

This is an issue our code monkeys are investigating on a daily basis. We assure you every effort is being made to resolve this ASAP.

Add yourself to the watch list for the GitHub ticket you referenced to be informed as the issue is updated.

[2013-02-20 13:47] #454 closed, assigned to nobody

[2013-02-20 14:15] nchezrony commented on #455
This will also help for the app icon, when that rolls out.

[2013-02-20 14:19] DesignLemming opened #457 "Asana integration"
Asana is a robust todo list manager with ever expanding features as well as the ability to assign task to others in a work group. Also the different projects/work spaces you can create will translate well as quests for habit integration.

[2013-02-20 14:43] lefnire commented on #455
It should be the chest since that's used everywhere, but for the life of me - I [couldn't get this working](http://stackoverflow.com/questions/11658035/unable-to-change-favicon-with-express-js). We've had favicon.ico in the public dir since forever, I think I spent like 45m grinding my gears on `express.favicon()` and tossed in the towel. Will revisit.

[2013-02-20 15:01] lefnire commented on #453
I know what's wrong, will revisit when I get the chance. `model.push("parties.#{partyId}.members", newMemberId)` wasn't executing at all (or at least the callback wasn't executing), so I switched to a `model.fetch` with a manipulation of the array inside the callback, and saving it back to the db: [code here](https://github.com/lefnire/habitrpg/blob/develop/src/app/party.coffee#L139). For one reas

[2013-02-20 15:18] PhilipHow opened #458 "To Next Level (TNL) Algorithm Modifications"
Hey!

After looking at some of the Wiki pages I noticed the TNL algorithm could use some discussion.

It's mentioned on the [Algorithms](https://github.com/lefnire/habitrpg/wiki/Algorithms) page but the original JSFiddle for the [StackExchange](http://gamedev.stackexchange.com/questions/13638/algorithm-for-dynamically-calculating-a-level-based-on-experience-points) discussion were out and producin

[2013-02-20 16:30] lemoness commented on #437
Don't worry - looks like you fixed the clicking bug, so I just reinputted the info and clicked a couple habits until I was all restored :) I'll let you know if there are any other problems, but things look okay for now.

[2013-02-20 16:31] thatgirldm commented on #450
I'll give that a shot. I did notice that it sometimes said "disconnected", but when I saw that I would log out, refresh, and log back in (within the same browser), and it would reconnect with all my tasks, etc still there, so I didn't think that was the problem...

[2013-02-20 16:58] lefnire opened #459 "Lost Accounts"
moved to https://github.com/lefnire/habitrpg/wiki/Restoring-Your-Account#user-not-found

[2013-02-20 17:12] lefnire commented on #437
Cool, you rock lemoness. I'm going through my emails restoring people's
accounts, so you saved me some time - thanks!

On Wednesday, February 20, 2013, lemoness wrote:

[2013-02-20 17:17] lefnire commented on #405
Ok, #427 is fixed, and that should be what caused this issue. If anyone is still experiencing this, re-open. If anyone wants me to restore their accounts to any particular stats, [email me](mailto:tylerrenelle@gmail.com) your user id and what stats you want back (50 hp, 30 exp, lvl 3, gold sword, leather armor, etc)

[2013-02-20 17:17] #405 closed, assigned to nobody

[2013-02-20 17:38] wc8 commented on #441
Thanks for reporting this. In the meantime:
To change which days a daily task is due, click the **Edit** (pencil icon) button. The **S**, **M**, **T**, **W**, **T**, **F**, **S** buttons represent days of the week. Clicking them will toggle between due (turquoise) or not due (grey).

[2013-02-20 18:01] wc8 commented on #438
I like the idea also, had been wondering about some way of linking rewards to types of tasks.
[Tags](https://trello.com/c/q7v02jAw) is on the feature request list. Perhaps a kind of gemstone (or color of gemstone) could be attached to each tag. You would then gain gemstones based on habits/daily tasks/todos done for that tag. Rewards could be assigned Gold and/or a gemstone type(s).

Possibilities

[2013-02-20 18:02] busterroni commented on #441
I knew that, I was just reading through the FAQ's when I was bored :P Thanks anyway :)

[2013-02-20 18:19] switz commented on #336
Will the mobile app be powered via the API?

[2013-02-20 18:21] lefnire commented on #336
yesm

On Wednesday, February 20, 2013, Daniel Saewitz wrote:

[2013-02-20 18:21] litenull commented on #336
come to irc :)

On Wed, Feb 20, 2013 at 7:19 PM, Daniel Saewitz notifications@github.comwrote:

##

LP, Tomaž :)

[2013-02-20 18:22] cleave29 opened #460 "Suggestion: Browser for the profiles of others"
This may have already been announced as a future project, but is there a way to browse the profiles of other Habit users so that I can invite them to join my party?

[2013-02-20 18:22] litenull commented on #336
meaning switz, but lefnire already replied

[2013-02-20 18:26] wc8 commented on #448
See also/vote for [Confirmation for Gold Spending](https://trello.com/c/uEo7wjkH)

[2013-02-20 18:31] wc8 commented on #446
Would [Completion Quotas](https://trello.com/c/E5CVJlW6) fit the bill or is _GP/XP gain for consecutive completion_ a separate request?

[2013-02-20 18:34] switz commented on #455
I can help you out with this Tyler, hop on IRC.

On Wednesday, February 20, 2013 at 9:43 AM, Tyler Renelle wrote:

[2013-02-20 18:41] wc8 commented on #451
You can vote for this request here: [Slow reddening of Todos](https://trello.com/c/FBHGlCbd)
Press "v" to vote if you don't see the vote button there.

[2013-02-20 18:42] switz commented on #455
Leaving this open in case you want to talk about switching to a chest favicon (right now it's two swords), but this is fixed in https://github.com/lefnire/habitrpg/pull/461

[2013-02-20 18:44] wc8 commented on #450
One more thing: I find refresh AFTER changes is sometimes as important as refresh before. That way, I can confirm the changes registered. I think connected/disconnnected issues are an area that's being worked on.

[2013-02-20 18:47] hjalmberi commented on #446
It might be similar. Flossing and stretching are genuinely daily tasks and doing them in a row is supposed to be very good. But the quota of 7 from 7 sounds a bit complicated, isn't it?

[2013-02-20 19:02] wc8 commented on #457
Please navigate to your request for integration with [Asana](https://trello.com/c/1CzZnhQ0) and vote for it. (Press "v" there, if no vote button is visible.)

[2013-02-20 19:11] eiron opened #462 "Suggestion: Leveling Rewards"
As you near the end of a level, you might have a lot of HP in reserve. There is the temptation to spend that like gold on items or rewards you have not necessarily earned. Having this HP be used for something ('leveling bonuses') might halt that temptation. Maybe this leftover HP could be converted to a sort of currency that can be spent on exclusive or cosmetic items not available through the sta

[2013-02-20 19:26] lefnire commented on #458
This is great! I'll merge this in later if nobody has any concerns

[2013-02-20 20:21] toebu commented on #427
Well done for finding it, just out of curiosity, which of your commits fixed it?

[2013-02-20 20:25] bodhiBit commented on #139
The reset doesn't seem to delete all my rewards, which it should since I didn't really earn them when I was playing with the site.. My gold is gone, but I can still see the in-game rewards and pets I had available..

[2013-02-20 20:26] lefnire commented on #427
this fixed it: https://github.com/lefnire/habitrpg/commit/223355fecb0776e994383eb6d108582de404e18b , and here's the comments why: https://github.com/lefnire/habitrpg/commit/66a7716b4a182054fee3dce6f439de3a9f0f7ed1

[2013-02-20 20:28] lefnire commented on #139
reset doesn't disable features. The item store is separate from your
rewards, they're static items unlocked by the item-store feature. I think
we're going to keep that as is

On Wednesday, February 20, 2013, bodhiBit wrote:

[2013-02-20 20:43] bodhiBit commented on #139
Well, for me unlocking items is part of the game.. Getting new rewards available is a reward in itself.. And I still have a pet that I didn't truly earn and now can't get rid of..

If I can't truly start over and start playing the game honestly, then it would just be a constant reminder that I "cheated".. That doesn't seem motivating to me..

Bottom line: Reset should do what it says it does: Rese

[2013-02-20 21:15] mdolbin opened #463 "[UI] Empty items denied starting from 2nd try, instead of 1st."
Not a big deal but you can add one empty item per each list (habits, Daily, Todos, Rewards) per page refresh. The very first empty item assignment for each list isn't handled as error as it happens with following.

<pre>
    # Don't add a blank task
    if /^(\s)*$/.test(text)
      console.error "Task text entered was an empty string."
      return
}
</pre>

text variable is undefined at the 1st

[2013-02-20 21:46] gamburg opened #465 "Dailies less frequently than weekly"
Some habits don't need to be done every week. (for example, I like to check my finances on Mint.com every two weeks.)

If other people are similar, maybe allowing dailies that happen less frequently than a week would be beneficial?

[2013-02-20 21:50] gamburg commented on #465
Whoops, just realized this is already requested on Trello [Card 108](https://trello.com/c/XuVokK2V).  Sorry!

[2013-02-20 21:50] #465 closed, assigned to nobody

[2013-02-20 22:02] toebu opened #466 "Suggestion: login directly from home page"
When I want to log into Habit, I always first need to press on 'play' from the home page. This creates a new user that is never used and clogs up the database. I know that the stale users are regularly removed, but might it be worth to be able to login directly without first starting the application with a freshly created user?

[2013-02-20 22:06] Pandoro commented on #415
I think you misunderstood the whole idea of this feature @busterroni. The
goal is not to make an item in your calendar and import it into habitrpg.
The idea is that you have todos with due dates set (in the edit menu of
each todo). Then you can export an iCal file from habitrpg, listing all
your todos with duedates. These can then be added into your regular
calendar. Not the other way around.

On

[2013-02-20 22:06] lefnire commented on #466
a wise suggestion. not super pressing (since as you said, we preen) but we'll do that

[2013-02-20 22:07] lefnire commented on #415
(with the current caveat that the ical isn't syncing to GCal properly just yet, currently fixing that)

[2013-02-20 22:59] wc8 opened #467 "Avatar customization/Profile page flickers and closes."
Click avatar. The avatar customization page appears. It stays visible for a second or so, flickers and then closes.

If you click one of the customization options fast enough, it solves the problem.

[2013-02-20 23:08] wc8 commented on #462
I'm trying to figure out what "leftover HP" would be. Are you saying when you see you've got 45 HP points and you're about to level up, you're thinking, oh boy, I can spend 40 HP points on rewards without killing myself? I haven't thought of HP as something to spend. I see it a sign I'm doing well, not a sign I can take a hit.

For this **Bonus or Reward for every HP point when leveling up**, mayb

[2013-02-20 23:14] wc8 commented on #421
@Risuji Since you brought up encroaching deadlines, have you seen this suggestion: [Scheduled Task Attack](https://trello.com/c/vPuLG1G0)?

[2013-02-20 23:21] busterroni commented on #467
Not happening for me.

[2013-02-20 23:26] busterroni commented on #315
I can also confirm this.
![Screen Shot 2013-02-20 at 6 25 14 PM](https://f.cloud.github.com/assets/3424032/178346/fee7e38a-7bb4-11e2-84d2-75f973bc4796.png)
FireFox v. 11.0

[2013-02-20 23:30] wc8 commented on #446
Hm... as I reread it, I think maybe that suggestion is for a task that needs to be completed X times within a certain period of days rather than having to do with consecutive completion.
So, here you go: [Consecutive Completion Bonus](https://trello.com/c/wTiRWiB2)

[2013-02-20 23:34] wc8 commented on #446
@Hjalmberi how about 1 silver for every day completed and 1 gold for every week without missing?

[2013-02-20 23:35] ill66 opened #468 "[Suggestion] Doit.im Integration"
Great GTD-webservice & app - integration would be awesome!

[2013-02-20 23:37] lefnire commented on #315
You get points for farting? :) :)  Naw, this is a definite confirmed bug - and happening for most people at this point. I elevated to important (we have critical for the more debilitating bits)

[2013-02-20 23:39] wizonesolutions commented on #468
They don't have an API currently, so it'd be tougher.

[2013-02-20 23:41] wc8 commented on #445
As another way of achieving privacy, a game world? Let the users pick their own location.
Maybe somehow users who want to display their location could be accommodated as well by allowing the game to assign a location based on their real location.

I'd like to see a map, but I have a general policy (for security reasons) against telling websites my name, location and birth date, etc..

[2013-02-21 00:06] busterroni commented on #415
Oh lol, I thought it went from iCal events -> HabitRPG where your iCal events are automatically added into HabitRPG  My bad. But I was just thinking that that feature would be pretty cool :P

[2013-02-21 00:07] lefnire commented on #415
We'll work on that eventually, that'll require API integration /
synchronization - iCal export (and then one-way sync from Habit to GCal) is
very simple, MVP. Even though it's not working properly right now :s Hang
tight

On Wednesday, February 20, 2013, busterroni wrote:

[2013-02-21 00:08] ill66 commented on #468
Oh, too bad :\
What about NirvanaHQ? I'm currently considering to switch....

[2013-02-21 00:24] eiron commented on #462
Something along those lines. I had a huge amount of HP and there is the temptation (which I did not succumb to, but I know I am not the only one to have thought of it), to spend the HP as currency, then do whatever it was that would push me over the level boundary. A bonus in the form of GP is probably not ideal, as it could mean a huge bonus at those leveling points, which would not aid productiv

[2013-02-21 00:30] busterroni commented on #315
Farting is healthy :)

[2013-02-21 00:42] busterroni opened #470 "Conflicting Prices"
I know this isn't really a bug, it's more of something that doesn't make sense: A leather helmet and a wooden shield both reduce damage by 2%, however a leather helmet costs 15 gold and a wooden shield costs 20 gold. I'm not sure if this was done on purpose or not, just thought I'd let you guys know.

[2013-02-21 01:27] dbueller commented on #445
I have a great idea!  We could use the map of the internet (
http://xkcd.com/256/) and have location taken from the chrome extension.
 OK, I admit, probably not everyone would like it.

[2013-02-21 02:27] StanLindsey commented on #470
Thanks, the shield is supposed to do slightly more defense than the shield (because you can block with a shield in RL). It was supposed to be 3% if I recall so I've changed it for the next push. Thanks =D

[2013-02-21 02:27] #470 closed, assigned to nobody

[2013-02-21 02:50] busterroni commented on #107
I'm just wondering, where can I find the .png files for all of the images (body, hair, weapons, etc.)? I've looked through all of the files here: https://github.com/lefnire/habitrpg/tree/master/public/img/BrowserQuest
The ont image I can find of the default player is here: https://github.com/lefnire/habitrpg/blob/master/public/img/BrowserQuest/spritesheet.png

I know I sound a bit nooby but :P

Th

[2013-02-21 02:57] wc8 commented on #467
Hm…I reproduced this consecutively in three different browsers, Fluid, Safari and Chrome.
Now, however, I am not always able to reproduce it. Sometimes the dialog stays open, sometimes it closes.

[2013-02-21 03:00] wc8 commented on #462
So, at what point would it trigger a badge (50%, 75% HP?) or would the badge be worth, say, however many HP points you had when you leveled up?

[2013-02-21 03:14] wc8 commented on #449
You can read more discussion about Groups/Party feature here:#58
I added [Shared Interest Groups](https://trello.com/c/CuEnnOpe) since it has been at least referenced indirectly as part of other requests.

[2013-02-21 03:47] busterroni commented on #107
If nobody's done a ghost pet yet, I'd be happy to make one tomorrow. Or if anyone wants me to try something else, just write it on here :)

[2013-02-21 04:16] lefnire commented on #467
I believe it. There's some fine dance between setupJavascripts and resetDom
happening in app/browser.coffee that's likely the culprit, i'll keep my eye
on this
On Feb 20, 2013 9:57 PM, "wc8" notifications@github.com wrote:

[2013-02-21 04:41] wc8 commented on #392
Correction (last link wrong): #438 (Currency/Gemstone idea.)

[2013-02-21 04:54] lefnire commented on #165
thanks @jasonmanners for all the help looking into these issues btw!

[2013-02-21 05:33] switz opened #471 "Getting no user found via API"
Can't get the current API or my new API to retrieve the user properly:

[code]

Any ideas? (Don't worry, the token is from my local machine) The uid and token is passed properly into the racer functions, but it just doesn't seem to ever return any user. See the `REST` function in `store.coffee`.

[2013-02-21 05:44] switz commented on #471
fixed this, nevermind.

[2013-02-21 05:44] #471 closed, assigned to nobody

[2013-02-21 05:47] Shaners commented on #107
Never been called a wizard champion ninja robot before, thank you!

Going to be working on:
- Backer only weapon / shield
- Backer only pet (Dawn phoenix)
- Backer only mount (Ethereal Lion)

@busterroni feel free to create whatever you'd like. I think there was a person requesting an atomic rooster, bee or a hare. A bee might be too small to work though. I also started roughing out a falcon, eagl

[2013-02-21 06:16] busterroni commented on #107
@Shaners A turtle seems like something I'd like to do as long as you haven't already done too much work on one, I don't want to waste your work :P

[2013-02-21 06:54] samjam opened #472 "Losing points despite doing everything in a day"
I recently lost 5 points, despite the fact that I checked off everything on my dailies. Is this a glitch?

[2013-02-21 07:08] wildcate commented on #446
I think it should be enough incentive (also relative to the other habits/dailies/fresh ToDo items) to get one started on the habit or regular tasks, but theoretically the amount of Gold/XP lessens the longer you do it, right?
I'm not sure how to best handle this numbers-wise, though. A habit will need some time to start getting established (about 30 days consecutively hovers somewhere in my brain

[2013-02-21 07:15] wildcate commented on #462
Isn't "getting yourself almost killed and not minding to spend potions because you are going to level up during that fight anyways so you can take it" a typical gaming move?
But I agree, a badge would be nice - or something else that will not wreak havoc with the rewards system otherwise, but prove an incentive to keep the HPs up before leveling. You could even add a "health tree" in the backgroun

[2013-02-21 09:19] eiron commented on #462
Even something as simple as a health tree might be nice. It could get greener and bear fruit as you continue to level with health above 50% and lose its greenery and turn barren as you level with health below 50%. It would then work as a visible representation of how well you are doing in the longer term.

[2013-02-21 12:32] busterroni commented on #107
My turtle:
![turtle copy](https://f.cloud.github.com/assets/3424032/180123/e0838c6e-7c22-11e2-86bf-dea8330f19dd.png)
I like it but I think it needs more work. It seems really small... I did 30 pixels*30 pixels, is that correct?

**Edit:** Just made a bird, I think it needs a _lot_ of work. I'm thinking about making it 3D, and I think the color is more neon than yellow. Here it is by itself:
![ bir

[2013-02-21 12:35] Joie-zz opened #473 "Can't see icons and ''buy'' pets or weapons"
=( It's been a few days that I can't either ''buy'' or see de icons of the weapons
and pets.
I'm using macOSX
Thanx!

[2013-02-21 14:42] Narayume opened #474 "[Suggestion] Integration: UP wristband by Jawbone"
As the title suggests, I would love to see HabitRPG integrated with the UP wristband that will be hitting the EU soon and is already out in America. It incorporates more features than the wristband by Fitbit and has quite a following in America (from what I have heard), so it would be great to see UI integration with their step counter.

[2013-02-21 14:49] Narayume opened #475 "[Suggestion] Integration: Sparkpeople"
Sparkpeople is a large homepage people use to track their exercise and daily calorie intake. You can find them over on http://www.sparkpeople.com.

[2013-02-21 15:00] lefnire commented on #473
Oi, that's strange - so you can see the items / pet icons themselves, but
not the gold button to purchase them? Anyone else experiencing this?

On Thursday, February 21, 2013, Joie wrote:

[2013-02-21 15:08] lefnire commented on #472
Yeah, sounds like a glitch. Did all your dailies become unchecked just fine?

On Thursday, February 21, 2013, samjam wrote:

[2013-02-21 15:12] Joie-zz commented on #473
Humm no,
For the pets, I see question marks in blues boxes instead of the icons...
For the weapons, there's no icon at all, but I see de gold buttons.
If I press the gold button of the weapons, it does nothing.
Those of my rewards (not weapons) are working though...

2013/2/21 Tyler Renelle notifications@github.com

[2013-02-21 15:42] lefnire commented on #165
@jasonmanners is onto something:

[2013-02-21 15:43] lefnire commented on #165
I'll give changing that a shot, though it may be difficult. store [accessControl callbacks](https://github.com/lefnire/derby-auth/blob/master/store.js) require `this.session` to perform their checks. Is it just on the client routes that have these issues (aka, `get('/')` within app/index.js), and not in other locations (standard express routes, passport callbacks, store access callbacks)?

[2013-02-21 16:21] elssar commented on #336
:+1:  Excellent! I'll get to work on the command line app next week, or maybe even this weekend

[2013-02-21 18:10] bitflung opened #476 "View current status of character (show modifiers from items)"
Currently I've got armor and swords and things that affect my status - and I can see what is "next" and how that next item will modify my stats - but there is no way to see what my stats are NOW or what the CURRENT items are doing, exactly.

[2013-02-21 18:36] ghost commented on #472
Same thing happened to me, but I lost 2.8 or something like that. Everything unchecked

[2013-02-21 18:45] ghost commented on #445
I like the idea of using an actual map, but giving users the opportunity to use it as an option (to their discretion). Possibly limiting the specificity of their location on the map.

[2013-02-21 19:09] wizonesolutions commented on #336
Ooh, command-line app! I was thinking of doing this too, so you definitely
have a tester waiting in the wings once you've got something. Tweet me;
same username.

On Thu, Feb 21, 2013 at 5:21 PM, Akshay Bist notifications@github.comwrote:

[2013-02-21 19:47] MdmeLibrarian opened #477 "Changing from Facebook login to sign-in?"
Against my better judgement I began HabitRPG using the Facebook login, and now I wish I had registered my email and a password instead. Is there a way to transfer my account, or will I need to start over from scratch?

[2013-02-21 19:55] lefnire commented on #477
I can transfer you over, but it's a manual process that takes some effort -
for now stick to FB for a bit, I'll get back to you as soon as I get some
time cleared up

On Thursday, February 21, 2013, MdmeLibrarian wrote:

[2013-02-21 20:04] MdmeLibrarian commented on #477
Thank you for responding. Just knowing that there's an option for me makes me feel better. I'll be patient and wait for when you have less on your plate.

[2013-02-21 20:31] busterroni opened #478 "Getting one more than the level to level up"
Even when you get all the points you need to level up (like on level one you need 20 points) you don't level up, you need to get one more than the required. When I first started I had 19 points and I needed 20, so when I got one more (20/20) I was confused when I didn't level up. I actually needed _21_ points. I then started with one point at level two. In RPG's you generally need to get the exact

[2013-02-21 20:34] ericwilmoth commented on #395
Just checking in to see if you've had a chance to look at this at all. Over the weekend I decided to give rearranging things another shot...but eventually it threw it all out of whack again, so I'm holding off using the system till you get a chance to sort it out--my ocd can't handle it.

Incidentally, congrats on the huge kickstarter finish! I am one of those who increased my donation at the end;

[2013-02-21 20:54] lefnire opened #479 "Real "white-label" service (different from orig. white label idea)"
Ok, I'm starting to realize I may habe been using "white-label" wrong all along, lol. Someone had this recommendation:

I'll put t in Trello if it gets some traction and gets fleshed out. Pretty good idea, actually - but may take quite some effort

[2013-02-21 20:55] Pandoro commented on #395
I also thought this was fixed, but today it happened again. Somehow the
system seemed fairly robust. It just stopped dragging and dropping for me.
Eventually after several refreshes, it completely shuffled my list though.
After that I was able to order it correctly.

On Thu, Feb 21, 2013 at 9:34 PM, ericwilmoth notifications@github.comwrote:

[2013-02-21 20:59] lefnire opened #480 "Dailies not resetting on new day"
Lotta people experiencing this. (thought there was a tick, couldn't find it)

[2013-02-21 21:05] busterroni opened #481 "Shield Guy Sideways on Overloaded Server Page"
![Screen Shot 2013-02-21 at 4 04 32 PM](https://f.cloud.github.com/assets/3424032/182246/8d782d84-7c6a-11e2-9a96-9a1bfaefe674.png)
Not a major bug just thought I'd let you guys know that the guy in armor is sideways on the server overload page. I don't know why the picture came out so blurry, it's fine when I open it up in preview.

[2013-02-21 21:06] Pandoro commented on #479
If I get the idea right, that would mean you would need some admin view for
the owner of the originial service, where this person could set up all
these things and for each site you would have to do an individual api
integration. However I could imagine that if the money is right, this could
very well work out.

I am wondering though who will actually use this for their site? Right now
let's be fa

[2013-02-21 21:06] ruddfawcett commented on #481
Oh yeah... Noticed this as well...

[2013-02-21 21:07] Pandoro commented on #481
I think that was intended, as in "the server fell due to the heavy  load
and died" ;)

On Thu, Feb 21, 2013 at 10:05 PM, busterroni notifications@github.comwrote:

[2013-02-21 21:08] busterroni commented on #481
Ahhhh... xD Smart. For whatever reason everything suddenly became centered, maybe the page didn't load properly last time?
![Screen Shot 2013-02-21 at 4 09 47 PM 1](https://f.cloud.github.com/assets/3424032/182262/0bc78f22-7c6b-11e2-9fe8-5166ab7970ca.png)

[2013-02-21 21:10] Pandoro commented on #478
This is a problem with the rounding. Once you get 19.5 exp or more, the
counter will show 20/20 as it is rounded to 20. Now this is still smaller
than the actual 20, so you don't level. If you get 1 more exp though, you
will level and stick to 0.5 in the next level, which is again rounded to 1
on the viewer.

So yes, this is kind of a bug, but not really a big issue, it will be fixed
in some revis

[2013-02-21 21:15] ghost opened #482 "Have Dailies Only Appear On Days They Are Due"
It would be useful to have the dailies only appear on the day they are due otherwise they look cluttered.
![HabitRPG Gamify Your Life](https://f.cloud.github.com/assets/3267747/182293/0c949cd2-7c6c-11e2-9cb1-0352ead7571a.jpeg)

[2013-02-21 21:15] lefnire opened #483 "Losing HP without reason"
Some people are losting HP the next morning even though they did all their dailies. In some rare cases, people lose HP on each refresh.

[2013-02-21 21:15] lefnire commented on #483
woops, dup #472

[2013-02-21 21:15] #483 closed, assigned to nobody

[2013-02-21 21:19] busterroni commented on #482
I think this has already been suggested. On a side note, how did you get a pet at level 2?

[2013-02-21 21:21] ghost commented on #482
I reset occasionally because I level up to quickly and it is similar to https://trello.com/card/repeat-every-n-days/50e5d3684fe3a7266b0036d6/108 but not the exact same thing. I only want to see what is due that day and nothing else.

[2013-02-21 21:24] lefnire commented on #395
let's follow this up on #318, it's still a bug (haven't tackled it yet - if it works until I close that ticket, it's a fluke)

[2013-02-21 21:24] #395 closed, assigned to nobody

[2013-02-21 21:25] lefnire commented on #481
yes, he fell over.

[2013-02-21 21:25] #481 closed, assigned to nobody

[2013-02-21 22:14] hjalmberi commented on #446
@wc8 Yep, Consecutive Completion Bonus is it. You seem to know everything about trello, do they already have 'redden long unclicked habit' somewhere?

@wildcate Unfortunately this applies only to people who can wire their brains after 30 days of doing the same thing. I always end up with coming home one day, crushing to bed and all the useful stuff I was supposed to do gets forgotten. Concerning p

[2013-02-21 23:02] NinjaOtt3r commented on #403
OSX  Safari 6.0.2 (and if I understood that last part correctly) Wifi Sorry for taking so long to respond.

[2013-02-21 23:32] lemoness commented on #107
I have made some wizard hats, because I thought the one provided seemed a little thick.

Here are the lower-level hats (just some random colors)
![habitrpghat1blue](https://f.cloud.github.com/assets/3494081/182935/e71ce75e-7c7d-11e2-9d15-635aaff4e8d1.png)
![habitrpghat1darkblue](https://f.cloud.github.com/assets/3494081/182936/f1bac41a-7c7d-11e2-90f3-f2f53b5e2a00.png)
![habitrpghat1starry](https:/

[2013-02-21 23:56] busterroni commented on #107
Those hats look really cool :)

[2013-02-21 23:59] Pandoro commented on #107
@busterroni I hate to break it to you, but the pixel art you made doesn't really fit the habitrpg style :x As you can see your "pixels" in the image, are by far smaller than the pixels in the character sprites. Currently and until further discussion, we are sticking to this style. You would thus have to redraw your stuff in a lower resolution. You can also look at my [tutorial](https://docs.google

[2013-02-22 00:10] busterroni commented on #107
@Pandoro I'm not sure how to fix what I'm currently doing, I've chosen a 30x30 pixel image and a 72 DPI resolution. What can I do to fix it so it's the correct size?

[2013-02-22 00:37] Pandoro commented on #107
@busterroni Hmmmm well typically a full character fits into a 30x30 pixel image, with additional space left. For a pet I think it shouldn't be bigger than 20x20, but a little smaller would probably not hurt. But that also depends on what you are trying to draw. A bird that sits on a shoulder will probably be too small, but you can make a bird in such an image, to sit next to the character. This wi

[2013-02-22 00:46] hjarrell opened #484 "Daily uncheck subtracts less than gives."
SORRY

When i uncheck on of my dailies it took off 1.6 and when i clicked it again it gave me 1.8.

[2013-02-22 01:11] lefnire commented on #107
Noooooooo!
On Feb 21, 2013 7:11 PM, "busterroni" notifications@github.com wrote:

[2013-02-22 01:18] busterroni commented on #484
Pretty sure this is the same thing as #56

[2013-02-22 03:42] MarcMcClain opened #485 "Chrome Extension Feature Suggestion: Adjustable work hours for each day."
I'm a student and don't have a regular schedule each day.  Some days I start classes at 8:30AM, and others not until noon.  It would be great if you could adjust the set work hours for each day to account for varying, non-traditional schedules.  As it stands right now, I have my work hours set from 8AM-3PM.  On days I'm don't start class until noon, I will be penalized for general surfing before c

[2013-02-22 03:44] ghost commented on #485
This belongs in the chrome repo
https://github.com/lefnire/habitrpg-chrome/issues/50

[2013-02-22 04:02] MarcMcClain commented on #485
Sorry.  This is my first submission on GitHub.  Thank you for the clarification.

[2013-02-22 04:02] #485 closed, assigned to nobody

[2013-02-22 04:31] tmas commented on #332
I imagine you'll need some kind of web admin on board at some point, so once that person comes on board using Drupal would make a bit more sense. Setting up some kind of forum, even if it was just stock phpBB, would be nice for user discussion of stuff other than bugs and could offload some of the commentary about feature requests from github. If there were community managers, they could compile t

[2013-02-22 05:04] wizonesolutions commented on #332
For forums, there's now Discourse: http://www.discourse.org/

On Fri, Feb 22, 2013 at 5:31 AM, tmas notifications@github.com wrote:

[2013-02-22 06:30] ruddfawcett opened #486 "API Down - receiving 504 HTTP response code on request"
Is the current api for up/down of tasks down?  Or is it just me?

[2013-02-22 06:33] switz commented on #486
I just tried it out and it seems to work for me. What's not working specifically?

$.ajax({url:'/v1/users/redacted/tasks/redacted/up', data: {apiToken:"redacted"},type:'POST'}, function(data) {console.log(data)});

On Friday, February 22, 2013 at 1:32 AM, Rudd Fawcett wrote:

[2013-02-22 06:41] switz commented on #486
Ah, I actually noticed that `req.is('json')` wasn't working properly (@lefnire). For now, try appending `?play=1` to your request.

[0] https://github.com/lefnire/habitrpg/blob/master/src/server/middleware.coffee#L3

On Friday, February 22, 2013 at 1:39 AM, Rudd Fawcett wrote:

[2013-02-22 06:43] switz commented on #486
Yeah, that website just went down so I can't give you a full example, but here:

$.ajax({url:'/v1/users/redacted/tasks/redacted/up?play=1', data: {apiToken:"redacted"},type:'POST'}, function(data) {console.log(data)});

On Friday, February 22, 2013 at 1:40 AM, Rudd Fawcett wrote:

[2013-02-22 06:52] switz commented on #486
are you POST-ing? is redacted a task-id?

On Friday, February 22, 2013 at 1:51 AM, Rudd Fawcett wrote:

[2013-02-22 07:12] elssar commented on #486
I'm getting a 504 too. The same script worked fine a week or so ago.

[2013-02-22 07:16] elssar commented on #486
Getting a 504 even after appending `?play=1` to the url.

Guess I'll work on my app next week.

[2013-02-22 07:19] elssar commented on #486
Python command line app - https://github.com/elssar/pyhabit

[2013-02-22 07:19] switz commented on #486
I'll take a look into this tomorrow, as I can't really fix the issue this second anyway. Meanwhile, we're working on a new API, so I wouldn't invest too much in the current. Sorry for the issues, guys.

On Friday, February 22, 2013 at 2:17 AM, Akshay Bist wrote:

[2013-02-22 07:20] elssar commented on #336
@wizonesolutions you can test it out right now, well not right now as at the time of posting the api is acting up sending 504's, but I have a version that implements the current api - https://github.com/elssar/pyhabit - don't use the version on PyPI, it has a few bugs.

[2013-02-22 07:21] elssar commented on #486
@switz no problem. I'd rather the new api get up and running quickly :)

[2013-02-22 08:19] wildcate commented on #446
@Hjalmberi I've done some quick websearch and skimmed a few things; there is a study about making new habits that says on average, a simple small habit was formed after 66 days, though the complete timespan needed until it was as habit-y as it would get was between 18 and almost 300 days. And consecutive repetition in the early stages seemed to help form it. As does establishing firm cues (right a

[2013-02-22 08:21] hjalmberi commented on #446
@wildcate that's interesting stats, thanks!
Asking users is fine if it will be possible to keep everything in piece in one click :)

[2013-02-22 08:51] horusofoz commented on #331
Devs have been advised of the need for the current state of death and efforts to find a better solution to be better explained. Monitor [#223](https://github.com/lefnire/habitrpg/issues/223) for now to see which way the topic goes.

[2013-02-22 08:57] horusofoz commented on #16
@demizach How did things go?

[2013-02-22 09:00] horusofoz commented on #33
Can any users report if this is still happening? We have had significant changes to the code base which may have resolved this.

[2013-02-22 09:03] horusofoz commented on #54
@lefnire Was this resolved with the word wrap fix?

[2013-02-22 09:05] horusofoz commented on #93
Closing as no response from user in a month.

[2013-02-22 09:05] #93 closed, assigned to nobody

[2013-02-22 09:06] horusofoz commented on #81
Can anyone advise if this is still happening?

Again we've had some signification changes which could have impacted this.

[2013-02-22 09:07] horusofoz commented on #99
@lefnire Any updates on this ticket?

[2013-02-22 09:08] killroy42 opened #487 "SCRUM-y features"
Perhaps it might be possible to start adding some data, perhaps through tags and categories. Eventually HRPG might learn what I am good with, what I have trouble with, when I underestimate (add a ToDo I'll never get done), or over estimate (add a habit or daily that I'll do easily). And perhaps it can start guiding my automatically with rewards or quest-master tips to improve my performance!

[2013-02-22 09:08] horusofoz commented on #143
@ZequeZ & @PiNotEqual3 Is this still happening for with of you?

[2013-02-22 09:10] horusofoz commented on #306
Closing ticket as no response from user after 17 days.

[2013-02-22 09:10] #306 closed, assigned to nobody

[2013-02-22 09:13] horusofoz commented on #450
Resolved as behaviour caused by connection interruptions.

[2013-02-22 09:13] #450 closed, assigned to nobody

[2013-02-22 09:14] horusofoz commented on #455
New favicon introduced.

[2013-02-22 09:14] #457 closed, assigned to nobody

[2013-02-22 09:35] PiNotEqual3 commented on #143
For my old task it still does not work.
For new tasks I can not reproduce the bug.
@ZequeZ can you reproduce the bug?

[2013-02-22 10:38] MiriamELewis commented on #324
Still happening, its getting very frustrating now. Can't move anything at all, it just selects text. Also can't use the +/- buttons.

[2013-02-22 11:27] wildcate commented on #324
Same here - only selecting text (though the + - buttons work for me). The one time the re-ordering was possible everything was back to the old order after a refresh.

[2013-02-22 11:49] Pandoro commented on #484
Yes, this has been posted several times. It will be changed at some point probably, but for now we will just have to deal with it. Which isn't all that hard ;)

[2013-02-22 11:49] #484 closed, assigned to nobody

[2013-02-22 11:51] Pandoro commented on #472
Could it be the case that you checked all of them, but that the server didn't actually get the "check". Often if you check some daily, you might notice that you didn't get exp. Then if you refresh the site, you will see that it is unchecked again. This is a frequent thing that is occurring. So if you are just checking everything, and then at 12pm the site runs the day change stuff, you might actua

[2013-02-22 11:54] Bquilt commented on #33
works for me now on iPad 2 using Safari and Chrome

[2013-02-22 11:57] horusofoz commented on #33
@Bquilt Great to hear. Will close this for now. Can re-open if @eshear or @edthefreak advise it is still affecting them.

[2013-02-22 11:57] #33 closed, assigned to nobody

[2013-02-22 12:00] horusofoz commented on #482
@Neohuman [Trello 109 - Option: Hide Until Due](https://trello.com/c/G14jkPYd) has you covered. Navigate to the link and vote for your idea.

[2013-02-22 12:00] #482 closed, assigned to nobody

[2013-02-22 12:54] Joie-zz commented on #473
Finally, I tried to open the game with firefox instead and it perfectly work! Thank you for your concern =)!

[2013-02-22 13:40] lemoness commented on #107
@Pandoro Yeah, while I imagined that mage hats would also mostly get color upgraded, that didn't seem fair.... We can also add adornments like buckles, feathers, maybe even longer tails... also, guys, please feel free to mess with the hats and improve them and make new styles. My skills as a pixel artist are super limited.

Also, could somebody check them on a character to see if they look good on

[2013-02-22 13:44] lemoness commented on #445
I would definitely say that they idea of having my general location displayed on a real-world map would freak me out.... but I like the idea of choosing my location from a fantasy map with several kinds of terrains, and having that terrain show up as my background :)

[2013-02-22 13:50] lemoness commented on #361
I just wanted to say that these mock-ups look gorgeous, and I am excited to see them implemented!

[2013-02-22 14:10] danj3ris opened #488 "Math for HP Loss/Exp gain for habits with a Plus AND Minus option is different from those with either a Plus OR Minus option"
Any habit with a plus and minus option works on a different math system than habits that only have a plus or a minus option. I like the way the system works, where a habit with plus and minus options will shade differently and either hurt or reward you more depending upon how far negative or how far positive you are within that habit.

A habit with only a plus or a minus does not work this way. Cl

[2013-02-22 14:20] lefnire commented on #473
Hmm. Well the problem was that those sprites you weren't seeing are
downloaded last, so I was thinking either some error the page halted
execution, or something was causing extreme slowness. I'm pleasantly
surprised to see it working for you now, lol!

On Friday, February 22, 2013, Joie wrote:

[2013-02-22 14:35] SoRG96 opened #489 "Gold filter for the Reward's"
Hello, today I tried to change the price of the award at the text ("abc")
and after I pushed the button to buy this award, I have lost all of my money. So I tried to insert a "-50" as the price, and it killed my hero. After his death, I tried to use "-5", and I was hit by 5. "+5" doesn't make any changes.

P.S.
Sorry for my English.

[2013-02-22 15:29] Pandoro commented on #489
The following happened:
1. You set abc as a reward.
2. You use it, which adds abc to your current gold. any value + "abc" = not
   a number.
3. You set -50 as a reward. This is shown, but when using it, the absolute
   value is taken, so the reward costs 50 gold.
4. You use the reward. Since you don't have any money though. The reward
   affects your hp. 50-50=0;
5. You die.
6. You set it to +5 ->

[2013-02-22 15:58] SoRG96 commented on #489
Well, I'm very curious =P .

Yeah, but i can't buy reward with my hp. Why does it happen?

[2013-02-22 15:59] lefnire commented on #429
this shoul be fixed, re-open otherwise (git pull and all that)

[2013-02-22 17:02] lefnire commented on #99
Nothing yet, still putting out the server crits - this is high on the list,
but not for another week or so

On Friday, February 22, 2013, horusofoz wrote:

[2013-02-22 17:02] lefnire commented on #332
K, sounds like our most common suggestions are discourse & drupal. Drupal
gives me the most control, which is essential for replicating user accounts
(which won't be available in the first iteration, we just need to get a
forum up stat). But Discourse is hosted (right?) and while not giving us
much control, will at least not burden us with another thing to maintain.
Am I understanding Discourse co

[2013-02-22 17:07] ghost commented on #332
The problem with discourse is that it is still in very active development.
So we would need to be prepared to update the software on a fairly regular
basis.
On Feb 22, 2013 11:03 AM, "Tyler Renelle" notifications@github.com wrote:

[2013-02-22 17:40] lefnire commented on #486
Working on this

On Friday, February 22, 2013, Rudd Fawcett wrote:

[2013-02-22 17:43] PhilipHow commented on #361
Another comment for "those mock-ups look amazing". That's fantastic work :)

[2013-02-22 17:45] PhilipHow commented on #332
RE: WoW Accounts.. Not vital, but a nice to have, and definitely on an optional opt-in basis.

[2013-02-22 18:25] cleave29 commented on #488
I think this relates to #447.  I experienced something similar.

[2013-02-22 18:28] ericwilmoth commented on #318
very much looking forward to the solution...

[2013-02-22 18:52] lefnire commented on #486
fixed

[2013-02-22 18:52] #486 closed, assigned to nobody

[2013-02-22 19:00] danj3ris commented on #488
Thanks for showing me that issue @cleave29. I was under the impression that habits with either a single plus or a single minus were purposely supposed to act differently than habits with both options. My post was more so a suggestion to @lefnire that they act similar to the habits with both options, especially in my case the bad habits, whose increasing HP drain would reinforce my choice to stop t

[2013-02-22 19:04] PhilipHow commented on #488
This could be implemented as you say, progressively worsening each negative habit currently, as it does with Positive/Negative habit.

It could be made consistent by employing the same with the positive habits (i.e. a positive habit increases XP gain per day with each successful tick) but with specifying "limits". i.e. Eating a successive piece of fruit a day is good for you, but anything more tha

[2013-02-22 19:18] lefnire commented on #165
resources:
- [flame graph](http://blog.nodejs.org/2012/04/25/profiling-node-js/)
- [node-memwatch](https://github.com/lloyd/node-memwatch)
- [node-webkit-agent](https://github.com/c4milo/node-webkit-agent)

[2013-02-22 19:20] busterroni commented on #107
@lemoness I'm not sure what you mean. Should my brush be three pixels rather than one? That's what I'm doing currently. I use Photoshop CS3 by the way.

[2013-02-22 19:37] tmas commented on #332
The interesting thing about Discourse is that they're looking for a core
group of 4 forums to help out with testing. It's possible that they'd be
willing to make minor modifications to the software (either to link into
habit directly or to allow someone to write a plugin) if you asked them
about it.

On Fri, Feb 22, 2013 at 12:45 PM, Philip How notifications@github.comwrote:

[2013-02-22 19:47] toebu commented on #438
I like this idea too. This guy from lifehacker for sure would also like it: http://lifehacker.com/5975824/gamify-your-life-a-guide-to-incentivizing-everything
You're right @wc8, this might indeed help with my #392. Other people commented on that suggestion, that it might get too complicated if we add another type of money. I agree with that. I also think that introducing different types of money a

[2013-02-22 19:50] ghost commented on #332
Asked them now to wait
On Feb 22, 2013 1:38 PM, "tmas" notifications@github.com wrote:

[2013-02-22 19:53] toebu commented on #392
I'm closing this in favour of #438.

[2013-02-22 19:53] #392 closed, assigned to nobody

[2013-02-22 20:16] lemoness commented on #107
@busterroni Yes that's what I meant!

I've scribbled up some other hat designs, so I'll try to pixel a couple more tonight if I can... can anyone try checking the ones I currently have on a sprite?

[2013-02-22 20:45] busterroni commented on #107
@lemoness Thanks, I'll try that out. On a 30x30 pixel transparent layer, right? Also I'm not sure how to test sprites and stuff so I probably can't help there :P

[2013-02-22 21:29] tmas opened #490 "More errors running locally"
Not sure exactly what this error is caused by, but it certainly prevents me from using habit locally (with the same symptoms as #429).

![error](https://f.cloud.github.com/assets/271652/186723/bdde3398-7d36-11e2-83ed-8709eab8b4e3.png)

[2013-02-22 21:43] PhilipHow commented on #332
+1 for Discourse, it looks promising.

Considering the unorthodox platform choices, I say go whole hog and try some funky discussion platforms!

[2013-02-22 21:46] lefnire commented on #490
You running off the `develop` branch? That should be fixed, by pinning the browserify version at 1.x. If not, do

[code]

[2013-02-22 21:48] tmas commented on #490
I tried both the master and develop branches, both gave the same error.

[2013-02-22 21:50] lefnire commented on #490
https://github.com/codeparty/racer/pull/84

[2013-02-22 21:53] tmas commented on #490
Alright, those commands fixed it. Now I can finally start contributing once I've learned derby :D

[2013-02-22 21:54] #490 closed, assigned to nobody

[2013-02-22 21:59] wildcate commented on #438
That, to me, sounds like a good solution - no need to make up a pot if one is okay with just one sort of currency, and endless possibilities to spread the rewards into different pots if inclined to do so. Also - no algorithm troubles!

[2013-02-22 23:22] Olathe opened #491 "Feature request: Use HTML5 local databases"
It would be nice if HabitRPG used HTML 5 local databases. This would help to avoid data loss when the server goes down or the browser closes suddenly, allow the app to keep running if it couldn't connect to the server (though it should probably give some sort of notice to users), and so on. This would be especially nice for the mobile apps you're making, since temporary loss of cell service is qui

[2013-02-22 23:25] lefnire commented on #491
A fine suggestion, but a huge investment to develop. We'd need to build a Racer plugin. The problem is our bugs, because Racer is built to work offline - you can take habit on the bus, and it will push your changes as soon as it detects a connection. That's the way it's supposed to work, but it's not - so I think it's fixing our bugs that's the solution, IMO

[2013-02-23 00:39] PhilipHow commented on #438
I do like the pot idea, but I'm not sure how it translates well on the page. Any ideas?

[2013-02-23 02:01] horusofoz commented on #478
This is being addressed under ticket #56

[2013-02-23 02:01] #478 closed, assigned to nobody

[2013-02-23 02:02] horusofoz commented on #439
This is being addressed under #37

[2013-02-23 02:02] #439 closed, assigned to nobody

[2013-02-23 02:08] horusofoz commented on #462
How about a 25% GP reward? Easily integrated, provides an attractive reward but not such a large one as to unbalance the rewards system.

[2013-02-23 02:13] lemoness commented on #107
WOW OKAY HERE COME A LOT OF HAT OPTIONS! Say what you like/don't like.

Basic green hat, regular and flipped:

![habitrpghat2green](https://f.cloud.github.com/assets/3494081/187461/056fe680-7d5e-11e2-995d-92d377750e12.png)
![habitrpghat2greenFLIP](https://f.cloud.github.com/assets/3494081/187462/0c731010-7d5e-11e2-85b1-63b96dc716e7.png)

Lemoness tries to do a feather and tears her hair out for an

[2013-02-23 02:17] lemoness commented on #107
SECOND PART!!

Advanced hat with crest:

![habitrpghat2black crest](https://f.cloud.github.com/assets/3494081/187474/8c23270a-7d5e-11e2-9ca0-60b5ef2de784.png)
![habitrpghat2red crest](https://f.cloud.github.com/assets/3494081/187478/cba70400-7d5e-11e2-8e7a-1c216a2074e1.png)
![habitrpghat2silver crest](https://f.cloud.github.com/assets/3494081/187479/d318da56-7d5e-11e2-9d79-79ea485542c9.png)

Advan

[2013-02-23 02:24] PhilipHow commented on #458
So I created three (very basic) models to view level/day, assuming 5/15/30 completed tasks per day for low, medium and high active users. The model assumes you will always buy the most expensive XP enhancing weapon as soon as you can. You get a base of 10XP for each completed task.

Here are the curves for the Square(4) algorithm:
![4](https://f.cloud.github.com/assets/1628871/187471/82b53122-7d5e

[2013-02-23 02:31] lemoness commented on #107
LAST UPDATE:

Here is a quickly-edited sample of what you would look like if you bought the basic leather armor and a shield, and then spent ALL THE REST OF YOUR MONEY ON A RED-WINGED MAGE HAT (aka this was the first basic sprite I found to edit):

![habitrpg girl sample HAT](https://f.cloud.github.com/assets/3494081/187497/f5653fc6-7d60-11e2-96f4-d6c887747abc.png)

Found out that some of my outli

[2013-02-23 03:15] lefnire commented on #107
Yesssssss! Here comes Tom bombadil!
On Feb 22, 2013 9:31 PM, "lemoness" notifications@github.com wrote:

[2013-02-23 03:25] busterroni commented on #462
I actually like @horusofoz 's idea. If you have 50 Health Points left over at the end of a level, you'll get 12.5 (50/4) gold.

[2013-02-23 03:55] demizach commented on #16
Just leveled up yesterday.  So far, so good.  Nothing wacky going on with hit points.  Only losing points for uncompleted dailies.  Looks like the latest changes did it.  Cheers!

[2013-02-23 04:09] unaimed commented on #16
I think I am experiencing a related bug. After login, my health drops (as it should, because I have unfinished tasks) by 19 HP.  After you see the animation it "resets" to the value before the substraction; in my case it is 40.
And this phenomenon has now occurred for 2 day in a row .

So I am invincible; but I really don't think it should be this way.

(User ID a404a7b2-e38f-4a57-9735-e6317bf3385

[2013-02-23 04:37] Orangyfresh commented on #107
Sorry I haven't been that active lately. I hope these armor designs make up for it :)

A rogue armor set
![Demon Hunter Armor](https://f.cloud.github.com/assets/3490913/187584/d665bcaa-7d6e-11e2-8389-ad021a8995e6.png)

With an alternate color scheme
![Demon Hunter Armor Navy](https://f.cloud.github.com/assets/3490913/187585/d7a969cc-7d6e-11e2-8ae6-4bfc48340897.png)

Ninja inspired armor set (possi

[2013-02-23 04:42] wc8 commented on #476
Follow the link and vote for this feature request here: [View Applied Equipment Bonus](https://trello.com/c/nbTCZreI). (Type "v" if the vote button is not visible.)

[2013-02-23 05:04] wc8 commented on #401
Follow the link to vote for [Battle to Determine Task Assignment](https://trello.com/c/usjBm2AR). (Press "v" if the vote button is not visible.)

@monsieurh please let me know if the description there works for you or needs updating.

[2013-02-23 05:07] busterroni opened #492 "Bought 20 Tokens, Still Haven't Recieved"
About 15 minutes ago I purchased 20 tokens ($5 value). I still haven't received them, is this a bug or does it take some time?

Username: buster
User ID: 0eb129b6-db0c-4011-ae90-6ab4874eb296

Thanks,
busterroni

[2013-02-23 05:11] wc8 commented on #489
@SoRG96 if you try to buy a reward you don't have money for, you lose health. I suppose, game-wise, the shopkeeper or the sheriff have come after you and given you a beating.

[2013-02-23 05:14] wc8 commented on #489
@lefnire the "You are about to spend more gold than you have, are you sure?" confirmation dialog on [Confirmation for Gold Spending](https://trello.com/c/uEo7wjkH) was marked "completed". Does that mean @SoRG96 should have gotten a warning before the -50 (registering as 50 GP) killed him?

[2013-02-23 05:21] wc8 commented on #474
Follow link to vote for [UP wristband by Jawbone](https://trello.com/c/nKnptOoZ) integration. If vote button is not visible, press "v" to vote.

[2013-02-23 05:24] ghost commented on #492
@busterroni sorry about that
@lefnire have you been able to replicate this bug?

[2013-02-23 05:24] wc8 commented on #475
Vote here: [Sparkpeople](https://trello.com/c/eGdKthmG)

[2013-02-23 05:26] wc8 commented on #479
:+1: for _Add this as a todo on HabitRPG button_ ;-)

[2013-02-23 05:36] busterroni commented on #492
Sorry for the constant closing and opening, I accidentally clicked the close button and then I lagged :/

[2013-02-23 06:03] wc8 commented on #438
@toebu that sounds like the envelope budget system (which I find appealing). The only thing missing would be the link between categories of tasks and possible rewards. With the pot system, can one require "take the stairs" type habits/tasks for the "eat cake" reward?

As far as complexities for the user, gemstone use would optional, users could stick with the familiar, simple GP and ignore gemston

[2013-02-23 06:12] wc8 commented on #446
@Hjalmberi check out
[Shading on +/- only Habits](https://trello.com/c/YSXfecBt).

[2013-02-23 06:28] wc8 commented on #446
Hm... how about something like this:

Day 2 (in a row): .1 GP bonus
Day 3: .2 GP
Day 4: .3
Day 5: .4
Day 6: .5
Day 7: 1 GP + 1 week Achievement Badge
Day 14: 2 GP + 2 week Achievement Badge
Day 21: 3 GP + Achievement Badge
Day 28: 4 GP + Achievement Badge
Month 2: 5 GP  + Achievement Badge
Day 66: Mastery Badge 1 and dialog suggesting moving it to your Achievements page.
Month 3: 5 GP
Month 4: 4 G

[2013-02-23 06:34] wc8 commented on #487
What are some of the SCRUM features you'd like to see implemented?

[2013-02-23 08:59] wildcate commented on #462
While I'm not against a gold bonus for leveling up, technically that is nothing else than spending your "leftover" hitpoints on rewards, but with a worse conversion rate?

[2013-02-23 09:23] wildcate commented on #446
@wc8: That, I think, is seriously cool. I'd love that!

Would that work for "daily" tasks that are not performed on every single day as well? Or just for "true" dailies? Restricting it to true daily tasks might make users stretch a little more, while adding something like "workday dailies" also provides incentive to not slack on the almost-daily tasks. I have a few things that I don't do on the we

[2013-02-23 09:34] wildcate opened #493 "Suggestion: To-Do progress graph"
My To-Do progress graph has been plummeting downwards, probably because I added many more to-do items than I finished. Since this is the thing that will happen when starting out with Habit, and probably something that will occur from time to time when a new batch of tasks comes up, would it be possible to not factor in the number of unresolved items, but maybe just the ones fulfilled? Maybe with m

[2013-02-23 10:32] PhilipHow commented on #462
I think the conversion rate of using HP for rewards (when you don't have the Gold) should be higher, i.e. it should be tougher to use health for rewards. Then giving a % GP reward on level up makes more sense.

[2013-02-23 10:39] PhilipHow commented on #446
@wc8's thing looks good, I like it!

Achievements are powerful in that way, as long as they're properly advertised. I think the bonuses for consecutive dailies (habitstreaks?) should be displayed when you get them, to show that you're getting the bonus!

@wildcate: regarding achievement badges how about a fraction of the number of days selected? So you would get 1 /7 or 2/7 Monthly/Quarterly/Yearl

[2013-02-23 10:52] toebu commented on #438
Never heard of the envelope budget system before, but it sounds pretty much like it. The link between categories of tasks and rewards is there: for your "take the stairs" habit, you simply say that all the money goes into the "sweets" pot. The "eat cake" reward would then be configured to cost money from that pot. (One could use tags for that, e.g. the "pot-sweets" tag puts all the GP in that pot.

[2013-02-23 11:44] wildcate commented on #446
Yes to displaying the bonus prominently so that it makes one itch to see how much more, and what, bonuses will come in the future.

@MrConcept: I'm not sure I get what you are suggesting. So if I run every other day, it would mean that I have to run for 2 weeks to get the one week achievement badge? That sounds kinda weird for me, especially if the bonuses give you some popup saying "You have done

[2013-02-23 11:49] wildcate opened #494 "Dailies not greyed out when inactive"
Probably not urgent, but confusing: I have a list of dailies that are inactive on the weekend, but three of them are not greyed out on Sat and Sun; it works fine for the others. I'm not sure whether they will also dock points (I'll try to see if they did that tomorrow).

And on a site note concerning dailies as well: It is possible to mark a daily as "done" even when greyed out and to receive gold

[2013-02-23 13:04] hjalmberi commented on #446
@wc8 that's a plan!

[2013-02-23 13:08] horusofoz commented on #462
@MrConcept Great idea. I think 150% is a fair rate. @wildcate Your thoughts?

[2013-02-23 13:14] PhilipHow commented on #446
@wildcate I mean separate each achievement, so the 1/7 achievement is different from the 2/7...3/7 etc,but it doesn't make sense to award a 1/7 every week. This sounds complicated, but it makes sense, the general message would be the same "You've Completed Your Dailies for X Weeks" etc... but the reward would scale with how many days out of the week you had set it to.

But yeah it is probably easi

[2013-02-23 13:16] PhilipHow commented on #462
The HP > GP conversion upon level up should be equal or higher than this though, to make it beneficial.

[2013-02-23 13:28] horusofoz commented on #462
I think 25% is a good rate so that it doesn't overshadow the earning of GP through task completion. This is meant to be a minor bonus not a major source of GP.

[2013-02-23 13:37] PhilipHow commented on #462
HP -> GP = 0.25 (With a 25% conversion rate)
HP -> GP = 0.66 (With a 150% penalty)

So would still make sense to use your HP for rewards, unless there was another mechanic that is affected by this.

[2013-02-23 13:38] lemoness commented on #107
@Orangyfresh - THOSE ROGUE ARMOR SETS! Amazing. And those ninja armors are completely fantastic. If they're backer-only they'll be the subject of awe and awesome, and if not they will be the subject of a lot of desire! (Maybe consider making them token armor?)

My first response to the horned armor was "IT'S SO CUTE!" Definitely a good thing, I promise. Almost makes me wish I were a warrior ;p

I

[2013-02-23 13:42] wildcate commented on #462
Okay... here are some semi-randomly ordered thoughts.
I don't know the current conversion rate GP/HP when buying items you can't afford, but I'd guess it is 1:1.
I agree with @horusofoz that it should be a minor bonus, not a major source of income; that would interfere with rewards (probably). However, if the conversion ratio to gold on level-up should be higher than the direct HP cost and 25% of

[2013-02-23 13:46] lemoness commented on #107
ALSO on a different note...
This has been bugging me for a while - I think that the pets should be moved down and to the side. My poor fox is completely bisected by my beautiful glowing blue sword. I want to be able to see its endearing face...

[2013-02-23 13:48] PhilipHow commented on #462
Yeah, changing each ratio up or down to equalise the two has detrimental effects on both mechanics. I really like the extra gold idea though, and agree it should only be small amount (<=25%), so another mechanic is needed to reward you for keeping healthy during the level!

How about just a flat bonus for being 100% upon levelling up?

[2013-02-23 14:07] wildcate commented on #462
Hm - even though I've been not doing badly, I have never leveled up with 100% health, since one missed daily or one instance of doing a bad habit will stop that. And I will not manage to be so good for several days or, later, maybe several weeks in a row! So if I'm not at 100% anyway (or at, say, 75% or whatever will give the bonus), what is going to keep me from spending the rest of my HP on unaf

[2013-02-23 15:42] Alcaste opened #495 "Constant refreshing on HTC One S"
When browsing the site it constantly refreshes, which prevents log-in or navigating.

Using default browser on the phone. Android version 4.0.3

[2013-02-23 15:51] PhilipHow commented on #462
No that's fair. I'm suggesting the gold on-top of a unique reward, such as an achievement for perfect levels.

I think it needs to be turned into some sort of stat, and map directly (as you stated @wildcate, cut-off points can be gamed) so you could use your health to to fund rewards, but it would stop you progressing in certain areas. You could then limit certain weapons or abilities based on the

[2013-02-23 16:45] l--l commented on #318
Even if the order of tasks is not shuffled, most days I can't even drag and drop my tasks to arrange them in the order I want.  This function seems to be working only intermittently.  Any idea when this might be stable?

Chrome 25.0.1364.99
Mac OS 10.8.2

[2013-02-23 17:33] thewoolleyman opened #496 "Feature Request: allow dailies to be required N times per week rather than just specific days"
Hi,

Thanks for habitrpg.

One issue I have is having to complete dailies on an exact day.  I would like to have a setting where I could specify I must complete a daily N times per week.

For example, I try to write a journal entry for every day, but because of travel or other issues I don't actually write it every day (or log on to habitRPG every day).

So, I'd like to be able to say "I will writ

[2013-02-23 17:53] lefnire commented on #492
I added tokens to your account, and I'm elevating this to critical. Sorry @busterroni !

[2013-02-23 18:57] busterroni commented on #492
Thanks @lefnire , were you able to duplicate this? I think the problem might have been that I did it from my phone and it opened in a new tab, but the cookies should have saved, so I'm not sure if it was my side or a bug. I also had already bought a pet and should have had 21 tokens but you gave me 24 tokens. I would feel dishonest if I didn't tell you :P

[2013-02-23 19:52] horusofoz commented on #318
Today this is not happening for me. Can anyone else confirm if it appears resolved?

[2013-02-23 19:52] horusofoz commented on #318
Closed in error.

[2013-02-23 19:53] ghost commented on #318
It is still happening to me

[2013-02-23 20:34] cmock13 opened #497 "Chrome Extension Syncing"
I am having issues allowing the Chrome extension to sync with the web app. I have copied my UID and my API token, but the "Browsing Productivity" task never creates itself.

What gives?

[2013-02-23 20:35] ruddfawcett commented on #497
https://github.com/lefnire/habitrpg-chrome

[2013-02-23 21:23] cmock13 commented on #497
I understand how it works, but I can't get the website to sync.

[2013-02-23 21:38] Pandoro commented on #107
Wow! A lot of great stuff! Some of it might not work out perfectly, but I
like a lot if it :-D I will hopefully soon find some time to put them into
sprites.

And I agree about the pets. In the pet sprite which I was making lately I
moved them so that they work okay with all weapons :-)
On Feb 23, 2013 2:46 PM, "lemoness" notifications@github.com wrote:

[2013-02-23 21:51] StanLindsey commented on #497
Is the extension effecting you? E.g. are you losing health by using bad sites?

[2013-02-23 21:56] cmock13 commented on #497
It's not affecting me at all.

[2013-02-23 21:56] StanLindsey commented on #496
This is the top voted feature on our Trello board. [Vote for it here](https://trello.com/c/XuVokK2V)

=D

[2013-02-23 21:56] #496 closed, assigned to nobody

[2013-02-23 21:59] StanLindsey commented on #497
Alright, can you answer these questions so I can help you =D

So you never get a message when you're on a unproductive website for a while.

Does the chest icon have in chrome have a + or an ! over it on a vice or productive site?

If you click on the chest icon what is the status of "Work Hours"?

In the settings menu what are the time & days of work hours set to?

Cheers!

[2013-02-23 22:08] cmock13 commented on #497
No problem!

I don't get the message.

The website is a vice and it has an exclamation mark (!)

Work Hours is ON

Every day, always on.

[2013-02-23 22:11] TyHammer125 commented on #438
I think either would work, but I feel that the pot system would be easier to cheat for users. If someone gets lazy, you could just allocate all the gold you have to the "sweets pot" with the number of transactions you have that week. Whereas with gemstones, you wouldn't be able to create them.

@toebu, as for how to determine what combination of gemstones should a reward be worth, I believe users

[2013-02-23 22:20] lefnire commented on #489
Yes, there should have been a warning. Was there not?

On Saturday, February 23, 2013, wc8 wrote:

[2013-02-23 22:34] StanLindsey commented on #497
Okay. So it means the application is timing you but I have a hunch that the API isn't firing. Go to Settings > Extensions in Chrome and click "developer mode", then click the _generated_background_page.html under HabitRPG extension.

Now, when you've got 5/10 mins spare could you open up a vice-site and leave Chrome on it (Go do something productive in the real world hehe), and there may be a red-

[2013-02-23 22:41] cmock13 commented on #497
Okay, I enabled developer mode and the sync started working. What do you think caused the signal failure?

[2013-02-23 22:49] cmock13 commented on #497
I take that back. It updated once, but now it's stopped.

[2013-02-24 00:20] Orangyfresh commented on #107
@lemoness - Holy crap, those look awesome! Team work FTW!

@Pandoro - Let me know what might not work and I'll fix them up and then make a pull request for them in Gimp files or whatever would be easiest.

[2013-02-24 03:07] horusofoz commented on #318
@Neohuman Can you clear your browser cache, close, reopen and test again?

[2013-02-24 03:09] ghost commented on #318
I did that and the problem still persists

On Sat, Feb 23, 2013 at 9:08 PM, horusofoz notifications@github.com wrote:

[2013-02-24 05:19] lefnire commented on #318
Nothings fixed here, i'll chime in when we have a fix. Looking into bounty
for fixing this
On Feb 23, 2013 10:09 PM, "Wesley Pennock" notifications@github.com wrote:

[2013-02-24 05:41] KristenEberts opened #498 "Display coin value of habits, dailies and todos before you complete them"
I'd like to see in advance how much "money" I'll get from completing tasks.

For example, I want to watch a TV show starting in 30 mins, but I need to earn 2 more gold coins to get that reward. I want to do the tasks that will help me reach that goal in the next half-hour, and not waste my time on tasks that turn out to only earn a few silver coins each.

The potential reward could be displayed to

[2013-02-24 07:04] jlriddell opened #499 "Party Army bug"
I had accepted a party invite from my boyfriend, and found I wasn't displaying on his status bar (I know it's a bug now, but didn't realize it at the time). We thought that if I added him to the party, it might fix it. Instead... we found a bug.

![Screen Shot 2013-02-23 at 10 54 32 PM](https://f.cloud.github.com/assets/3612559/189187/00a79320-7e51-11e2-98d0-3971249ea478.png)

Steps to reproduce:

[2013-02-24 11:11] lemoness commented on #107
@Orangyfresh - Yay!! I'm thrilled that you like them. Team Citrus Fruits for the win! ;p

@Pandoro - Ditto to Orangyfresh! Although since I don't have Gimp, it would be better to just send me a message, heh.

I will try to fix the color of the hat outlines today so that you can input them. Once you confirm that the basic hats work, let me know, and I will make some more.

Also, could people tell m

[2013-02-24 11:18] horusofoz commented on #318
I experienced 14 hours today without my tasks being reshuffled after being able to order them without a hitch. Then tonight I accessed the app from my phone and after a glitch with select a habit plus and refreshing the page I saw a reshuffle had occurred. I can't think of why but the trigger in this instance appears to be accessing the app from my phone. Note: Android/Chrome.

EDIT: Returning to

[2013-02-24 11:39] antistic commented on #498
Good idea! I think maybe a tooltip over just the checkbox or plus/minus icon might be better, especially for the plus/minus habits where it could just make things messier or confusing.

[2013-02-24 12:16] ghost opened #500 "weapon obstructs view of pet"
I realize this feature hasn't fully launched yet, but it's a little annoying being unable to see the pet I chose due to my character's sword covering most of them. Now, if my pet had the option of standing at my character's other side this wouldn't be an issue. Any chance of implementing something like that?

Thanks! Keep up the great work!
![Untitled-2](https://f.cloud.github.com/assets/3685170/1

[2013-02-24 12:44] toebu commented on #438
There's always a way to cheat. We really shouldn't worry too much about that. With the gemstones, if you really want to have the sweet, even though you didn't deserve it you still have loads of way to get it anyway:
- Just eat the sweet and ignore HabitRPG
- Change the cost of the reward to not include the gem you don't have
- Make a task, assign it the missing gem and mark it done
  Actually, we

[2013-02-24 13:56] Olathe opened #501 "Click-and-drag kills the ability to rearrange tasks"
If I load up HabitRPG and don't click anywhere, task rearrangement can still work.

If I load up HabitRPG and click without moving the mouse cursor even a pixel (I can do that on a trackpad), task rearrangement can still work.

If I load up HabitRPG and click anywhere other than a task (including on a blank area of the page) and move the mouse even a few pixels (i.e., I appear to click and drag),

[2013-02-24 14:06] Olathe commented on #501
This appears to be intermittent. Sometimes it can still work. I'll investigate it a little.

[2013-02-24 15:50] wildcate commented on #494
They did dock HP - I just checked. Good thing I have not bought stuff I cannot afford ;-)

[2013-02-24 15:58] wildcate commented on #462
I'm not sure, to be honest. I think it might make stuff a little too complicated... and I could imagine that there will be a point in complicatedness where non-hardcore-gamers will turn away.
And regarding rewards tied to health... what about those who are not gaming it, but trying very hard to kick a habit and just barely keep alive in HRPG? I think that tying another tier of rewards, or general

[2013-02-24 16:04] wildcate commented on #438
For myself, I would not want gemstones. To me, it seems much too complicated, and I agree that figuring out the rates for gemstones in addition to gold would be extra-hard. And I found it hard enough to set the rewards when I started out... how much gold will I have to spend for cake, or for buying a book as a treat? I don't think I would have started with HRPG if there had been multiple currencie

[2013-02-24 16:38] tmas commented on #500
Another option would be having the pet stand in front of the character and moving the character up a bit, but this wouldn't work well with larger pets. Maybe an options panel that lets you select where your pet stands? If people think this is a good idea I'll get to work implementing it.

[2013-02-24 16:51] wildcate commented on #498
Actually... I personally would not like that. I like to get surprised with how much a task is worth : )  and somehow, on gut-level, I feel uncomfortable with the idea. I can see how it would be helpful in your scenario... but doesn't a "fresh" to-do list task give at least one gold anyways? And on my list, there's probably not so many tasks I could complete in half an hour, so it would be limited

[2013-02-24 17:20] tmas commented on #462
Maybe each consecutive item purchased using HP could double the amount of HP lost buying it? That way if you're playing normally and you buy something you don't quite have enough gold for it doesn't punish you too much but if you're spending your HP before you level up it becomes difficult to do a whole lot.

[2013-02-24 17:31] tmas opened #502 "All li elements on page ridiculously tall in local install"
![bug](https://f.cloud.github.com/assets/271652/189712/4244e23e-7ea5-11e2-8ab3-660c29aacc29.png)
I really have no idea what could be going on here, since I'm on the master branch and this doesn't show up on the main site. It seems like every li element on the page is 220 px tall, but I can't figure out where that property comes from (height: 220px shows up under computed styles in Inspect Element)

[2013-02-24 18:30] meredithcat commented on #429
I'm still getting the socket hang up error, even after pulling from master. Thoughts?

[2013-02-24 18:42] tmas commented on #429
Socket hang up still happens for me as well, but everything seems to run normally.

[2013-02-24 18:48] meredithcat commented on #429
Definitely not running normally for me. I'm getting a brief flash of the site, followed by a white screen.

[2013-02-24 18:53] tmas commented on #429
Odd. I guess I'll reopen the issue then.
EDIT: Whoops, looks like I can't reopen this. Hopefully @lefnire sees it.

[2013-02-24 19:13] dbueller commented on #502
I have the same problem!  No solution for it though.

[2013-02-24 19:19] meredithcat commented on #429
I tried a few things and somehow managed to break something else (yes, I'm a noob). I'll try again later this week when I have more time to work on it.

[2013-02-24 19:34] tmas commented on #429
What OS are you running this on? I'll see if I can at least reproduce the issue. Are you getting any other errors in the console?

[2013-02-24 19:38] meredithcat commented on #429
I'm running on Windows 8. I'm pretty sure my error looked identical to the one you posted (with "socket hang up" and "ECONNREFUSED").

[2013-02-24 19:41] tmas commented on #429
Hmm, that's weird. I just installed on windows 8 today and it works fine for me. So the socket hang up was the only error you got?

[2013-02-24 20:07] Laflamme opened #503 "Feature suggestion: display progress towards rewards"
Two ideas to increase motivation :

1 - Rewards could be colour shaded according to how much gold they cost vs how much gold the user currently has.

2- The user could be able to drag and drop a coveted reward on a special row in the rewards panel, where it would assume the appearance of a progress bar displaying how much gold that user has vs how much that reward costs.

Over that progress bar co

[2013-02-24 20:08] ruddfawcett opened #504 "Change the size of the Reset button so it is smaller than the Cancel Button"
If the Reset button is bigger, it makes it easier to press, even if people don't want to reset their account.  Just a small thing.

![Screen Shot 2013-02-24 at 3 06 19 PM](https://f.cloud.github.com/assets/3122471/189954/e6bcaec4-7ebd-11e2-95f9-d7cd50f98757.png)

[2013-02-24 20:09] Laflamme commented on #501
I have the same problem on OSX 10.8.2 running Safari 6.0.2

[2013-02-24 20:23] tmas opened #505 "[Suggestion] Game settings panel"
A game settings panel would remove one step from the implementation of each suggestion that might not appeal to everyone. It could go under a new tab in the settings menu. It seems like it would be pretty simple to implement, so I might give it a shot myself.

[2013-02-24 20:39] tmas commented on #505
Alright, got the settings panel itself up. Now I just have to find a worthy suggestion that isn't too hard to implement and could use an option in the panel.

[2013-02-24 21:19] tmas commented on #502
I think I found the issue here. It looks like git doesn't checkout other repositories that have been added when running git clone --recursive under the windows command prompt, which leaves all the folders under public/vendor empty. The solution is to install the windows explorer extension and right click in the folder you want to clone the repo into, then select "Git Bash Here" and enter the comma

[2013-02-24 21:22] tmas commented on #502
Whoops, never mind. totally unrelated problem.

[2013-02-24 21:30] tmas commented on #488
What if + habits got a bit redder (and - habits got a bit greener) each day they weren't done? If this was implemented, the +/- button on the habit would act normally and use the same algorithms as normal +/- habits that simply didn't give benefits or do damage when they weren't performed. This way doing a good habit you haven't done in a while is more rewarding (which motivates you to do it) and

[2013-02-24 21:44] tmas commented on #505
Pull request at #506

[2013-02-24 22:07] loldude101 opened #507 "Scammed by the Rewards system"
I had 30 gold coins. I clicked to buy a 15gp Helm and nothing happened, I clicked it again and realized that not only did I not receive the Helm on my character I lost 30gp.

Thanks, Obama!

[2013-02-24 22:14] tmas commented on #502
Interestingly enough, this only shows up on my windows installation of habit; if I log into my ubuntu-based habit server, everything is completely normal. Hopefully knowing this will help someone fix it.

[2013-02-24 22:22] tmas commented on #505
Good idea, but I can't implement it myself because a. I don't know every language and b. Habit isn't set up to be translated yet. There's a suggestion for translation, but I don't think that we even know how that's going to happen yet.

EDIT: the suggestion for translations is #62

[2013-02-24 22:29] lefnire commented on #505
Soon my friends, it's high on the roadmap - next week or two

On Sunday, February 24, 2013, Rudd Fawcett wrote:

[2013-02-24 22:37] tmas commented on #62
gettext seems like it'll be pretty easy to integrate, but it will take some time. I'd recommend creating a [Crowdin project](http://crowdin.net/), so people who want to contribute can start contributing in a centralized location even before translation is implemented in the code.

[2013-02-24 22:45] ruddfawcett commented on #62
Would there be an efficient way to do this?  I know, for example, in iOS Objective-C, you can use a `.strings` file.  Is there a similar method for JavaScript/CoffeeScript?

[2013-02-24 23:00] tmas commented on #62
As mentioned above, the node.js module node-gettext.

[2013-02-24 23:22] Pandoro commented on #107
@busterroni I think only using a 3x3 brush will not fix the problem, as this still does not work for the alignment. What you will need is a 20x20 pixel image and use a single pixel brush. But keep in mind a bird will be huge if you fill up the whole 20x20 pixels with that. For a bird you should probably aim by far smaller.

@lemoness
In general I find it hard to judge, as these are "bare" images o

[2013-02-25 00:17] cleave29 opened #508 "armor not working on undeserved rewards"
I took an self-made reward (20) when I had no money and it subtracted 20 hp.  I had leather armor, a leather helm, and a wooden shield, so shouldn't that have made a difference?

[2013-02-25 01:00] KristenEberts commented on #498
Wildcate, I get where you're coming from. Maybe this could be an optional feature?

The real reason I want this feature is so I can set the value of my time. Let's say I want to get 1 hour of a reward for every 3 hours I work.\* The default reward cost is 20 gold, but what does that mean in terms of tasks? If I have to do a ton of work for my rewards, the behavior reinforcement won't be effective-

[2013-02-25 01:07] KristenEberts commented on #503
I really like this idea! If it were on Trello I'd vote it right up. Perhaps the progress bar could appear when the user mouses over the cost of the reward?

[2013-02-25 01:18] Laflamme commented on #503
I think the mouseover solution you propose could be very elegant!

Oh, and also, shading rewards in red when you don't have enough gold pieces to buy them would be a good reminder you're about to lose life points if you buy them anyway.

[2013-02-25 03:23] jjjjesse commented on #107
Hi, I'm interested into contributing as much as I can to this project as a pixel artist.

I just have a few questions.
What is the process towards submitting art?
Is their any kind of "weight" pixel art has as far as the royalty process?
Is there any area where you lack that I can fill in?

Thanks, I'm pretty keen to get involved. :)

[2013-02-25 03:39] horusofoz commented on #107
@jjjjesse You could take a look at Pandoro's AWESOME [tutorial](https://docs.google.com/document/d/1P44mjvb1mYlqFvlmpyrVyXAuO90GwxzeQwXfNNVSg9M/edit#heading=h.rc893vwybanf).

[2013-02-25 03:58] jjjjesse commented on #107
@horusofoz I've had a look at that, nothing new, I'm more curious about the scale of the images, though I seem to get the impression it's 300% from observation and the submission process, (do I just drop files here?)

[2013-02-25 04:00] horusofoz commented on #107
@jjjjesse It's a fairly informal process. Just drop your files here and
listen in for the gasps of astonishment ;)

_Horusofoz_
*
*
"Live to learn. Learn to live." J.W.S.

On 25 February 2013 14:28, jjjjesse notifications@github.com wrote:

[2013-02-25 04:04] jjjjesse commented on #107
@horusofoz sorry for harassing you, I'm just trying to get a proper understanding of everything... How does that work as far as contributions?

[2013-02-25 04:07] horusofoz commented on #107
@jjjjesse No worries. Being open source we're all here to help each other
out.

If you post your files up and they woo then they'll be picked up by the
devs. Either way your interest and efforts are appreciated :)

_Horusofoz_
*
*
"Live to learn. Learn to live." J.W.S.

On 25 February 2013 14:34, jjjjesse notifications@github.com wrote:

[2013-02-25 04:40] Olathe commented on #504
I've heard an idea along those lines in some UI design book. It went something like: if a destructive action can't be undone, put the buttons that do it far away from the buttons that cancel the request so that there are no accidental clicks on the destructive action when you meant to cancel. This isn't a very common thing, but it should be.

[2013-02-25 04:55] meredithcat commented on #429
Ok, now I am experiencing a new and (I think) completely unrelated error. I think I messed something up while trying to fix the previous one. Sorry if this is the wrong place to be posting it. It looks like I'm missing all of the files from the bootstrap, bootstrap-datepicker, and other folders in public/vendor. I can see them on GitHub, but even after resetting my repo they're still not there. No

[2013-02-25 05:14] jjjjesse commented on #107
Here's my first contribution, a gladiator with a trident, complete with a net.  (I'd assume it would take the 'shield' slot)

![gladiator_armor](https://f.cloud.github.com/assets/3677558/190719/23e7ab0e-7f0a-11e2-9d36-bfab6944f6b7.png)
![gladiator_full](https://f.cloud.github.com/assets/3677558/190720/2414bd4c-7f0a-11e2-8522-9becf9bdf198.png)
![gladiator_helm](https://f.cloud.github.com/assets/367

[2013-02-25 05:28] horusofoz commented on #107
@jjjjesse Great originality. Creates the possibility of removing
lefthand/shild hard link and make it so user's can select whether to have a
weapon, net, shield, etc in left or right hand. I like it :)

_Horusofoz_
*
*
"Live to learn. Learn to live." J.W.S.

On 25 February 2013 15:48, Rudd Fawcett notifications@github.com wrote:

[2013-02-25 05:39] ruddfawcett opened #509 "iOS UI: Comments"
I talked to @lefnire about a native iPhone client for HabitRPG.  As the API is currently limited, I can only get so far, but this also allows me to spend more time on the UI.

Some screenshots (There is mostly no content, these are just to get a feel for the tab bar, segmented controller, navbar and color scheme):

For all addition of experience/gold, their will be simple slide down alerts, as in

[2013-02-25 05:45] tmas commented on #429
Wow, how convenient. I ran into this earlier, so I can actually tell you how to solve it. It looks like git doesn't checkout other repositories that have been added when running git clone --recursive under the windows command prompt, which leaves all the folders under public/vendor empty. The solution is to install the windows explorer extension and right click in the folder you want to clone the

[2013-02-25 05:51] tmas commented on #509
Looks pretty nice to me. I'm interested to see how you make it fit the theme of habit as well as the native iOS theme. I guess the home tab will have to be chock full of pixel art and rpg info.

[2013-02-25 05:57] tmas commented on #429
Hopefully the issue magically disappears after doing this, but if it doesn't give me a screenshot of all the errors you're getting and I'll see if I can work out what's causing them.

[2013-02-25 06:00] tmas commented on #509
As much as a lot of people dislike apps that rely heavily on graphics, I think iOS is a place where trying to integrate pixel art into the interface would really fit the OS theme. I'm not sure how it'd look, but having a custom-ish UI might be interesting if it wasn't too overpowering.

[2013-02-25 06:29] jjjjesse commented on #107
Next we have the robed samurai.

![robed-samurai_armor](https://f.cloud.github.com/assets/3677558/190841/a4ade7e4-7f14-11e2-8aa2-c3b501009e1a.png)
![robed-samurai_full](https://f.cloud.github.com/assets/3677558/190842/a4dd91d8-7f14-11e2-9302-7b378721bb9b.png)
![robed-samurai_hat](https://f.cloud.github.com/assets/3677558/190843/a50d855a-7f14-11e2-8cb6-096ba49e0084.png)
![robed-samurai_sword](https

[2013-02-25 06:34] tmas commented on #107
Wow, that samurai is really nice. I wonder how shields would fit with it though...

[2013-02-25 07:28] jjjjesse commented on #107
I may have been a little ambitious with this one, armored samurai:

![armored-samurai_helm](https://f.cloud.github.com/assets/3677558/190921/18f83282-7f1d-11e2-9605-686c0f6603be.png)
![armored-samurai_weapon](https://f.cloud.github.com/assets/3677558/190922/193a14b8-7f1d-11e2-991a-2897b90a61c4.png)
![armored-samurai_full](https://f.cloud.github.com/assets/3677558/190924/274333e6-7f1d-11e2-887d-157

[2013-02-25 07:42] magikid commented on #336
Very excited for this to be done.

[2013-02-25 08:16] pankajmore opened #511 "Stop reporting vice sites if idle for some time?"
I left my computer on and went to classes keeping a vice site open. When I returned , I got killed and I have to restart from Level 1 now. The extension should at least stop reporting after some idle time. Else , a manual undo event for such a catastrophe from your side also might help :)

[2013-02-25 08:45] lemoness commented on #107
@jjjjesse - WOW, EXCELLENT! Original and fantastically done!

@Pandoro - noted - I'm trying out some new stuff now, and I will try to put the hats on figures in the future :)

[2013-02-25 08:54] killroy42 commented on #487
Tagging might help me track a task through several states before completion (trello style). But what I am curious about is automating some things our Scrum Master does. This is related to tracking performance and predicting accuracy of estimates. For example HRPG might over time learn what sort of things I procrastinate on. If i tag something in certain ways, for example work-related, urgent, big-

[2013-02-25 09:34] meredithcat commented on #429
Yay, looks like it's fixed now. I'm still getting the socket hang up error, but I'm now getting an actual site rather than a blank page. However, there are still a few more issues:

(1) When running npm install, I get:
![npm install](https://f.cloud.github.com/assets/351124/191237/e0ebbc54-7f2d-11e2-8e34-a276473d8cd7.png)

I tried installing the Windows SDK and am still getting the error. I'm not

[2013-02-25 09:45] Flimm opened #512 "Cannot view progress of habits: "TypeError: f is null""
Clicking the progress button on my habits has no effect. Funnily enough, clicking the progress button on my dailies does work.

In Firefox's web console, I can see this Javascript error as soon as I click the progress button on one of my habits:

[code]

[2013-02-25 10:34] jjjjesse commented on #107
Here is an Immortal, inspired from 300.
http://25.media.tumblr.com/tumblr_mbycl1mD9U1rg561mo5_500.gif

![immortal_armor](https://f.cloud.github.com/assets/3677558/191426/a23653d0-7f36-11e2-8993-7146e23b80d2.png)
![immortal_full](https://f.cloud.github.com/assets/3677558/191427/a267e12a-7f36-11e2-8cc3-3b7ef849783c.png)
![immortal_helmit](https://f.cloud.github.com/assets/3677558/191428/a2986c6e-7f3

[2013-02-25 10:38] Orangyfresh commented on #107
@jjjjesse - Those are great man! I love your style. Because they are look so cool and individual from the other stuff they could easily be used as backer-only armor.

@Pandoro - Yes I have Gimp and that's what I use to make my files compatible. I always check that my heads are compatible with the skins and hairs and that they do not exceed the dimensions we use. As the head layers are above the ar

[2013-02-25 11:11] wildcate commented on #498
I can see what you would like to do, but I'm not so sure that it would work out the way you intended... and that is basically due to a difference in how you define "time value".

For approach to rewards, you are doing a different kind of maths than the programme intends you to. The algorithm that is already at work means that something which will take longer will sit on the list for longer and thu

[2013-02-25 11:21] tmas commented on #429
I've never gotten the new error before, but i have gotten the tall boxes issues (#502). It seems to be windows-specific, and I haven't found a way to fix it. It probably has something to do with how git and windows handle newlines.

[2013-02-25 12:24] horusofoz commented on #25
Thank you to everyone for the great ideas. Your input has been most enouraging.

We are closing this topic for now. Will re-open or raise a new ticket when requesting further input from the community.

Thanks again.

[2013-02-25 12:24] #25 closed, assigned to nobody

[2013-02-25 12:36] meredithcat commented on #429
Thanks. I can only run on windows, so it would be nice to be able to fix the tall boxes issue. Other than that, it looks like I can run normally.

[2013-02-25 13:03] wc8 commented on #446
@MrConcept what do you have in mind by long periods of 7/7 and perhaps 5/7?

[2013-02-25 13:13] wc8 commented on #489
Tested:
Had 2 GP, tried a -20 GP reward. Lost HP.
Clicked -20 reward again, fatal HP loss, no warning, Game Over.

[2013-02-25 13:16] tmas commented on #429
I'll try looking into it at some point, but I may not have time until this weekend.

[2013-02-25 13:18] wc8 commented on #494
The grey color indicates the system considers them inactive. If it's not seeing them as inactive, they're going to dock points. Are you saying you set them to inactive and it didn't take?

Re: able to mark grey task as done. I can't speak for the developer, but in IMO, that's a feature. That way I can have a task on my list that I'd like to do, but might not have time for. If I get to it, good and

[2013-02-25 13:22] wc8 commented on #438
I wasn't worried/thinking about cheating at all. I was just thinking of keeping track.
If the pots could be tagged or somehow linked to types of tasks, that's fine enough for me. Maybe I missed that in the suggestion. The key, for me, is a link between categories of tasks and categories of rewards.

[2013-02-25 13:28] tmas commented on #489
I'm guessing that you check if price > gp, but price is negative so you need to check the absolute value of the price as you do for subtracting gp and hp.

[2013-02-25 13:32] wc8 commented on #438
In other words, I would want the completion of a particular task category to automatically contribute to a particular pot and rewards to be extracted from particular pot(s).

As far as the ability to move money between pots, with the way the game works, it's probably going to be hard enough to reach that setting that users won't be too encouraged to do it. Furthermore I can see a use for allowing

[2013-02-25 13:45] wc8 commented on #462
I like the idea of a higher hit on the HP from spending gold you don't have.

Building on some ideas here:
First Time: 1.5 HP for every 1 GP overspent.
Second Time: 2 HP for every 1 GP overspent.
Third Time: 5 HP for every 1 GP overspent.

On the other hand, the simple 5 HP for every 1 GP overspent resonates, but I suppose it could just result in users being disinclined to log rewards taken.

[2013-02-25 13:50] wc8 commented on #488
@tmas check out [Shading on +/- "Only" Habits](https://trello.com/c/YSXfecBt)
@MrConcept hard cap coded into the system is controversial. I'm thinking for it to be high enough to allow for flexible use of HabitRPG might be difficult. On the other hand, I think the user defined cap might be useful.

[2013-02-25 13:53] wc8 commented on #488
@MrConcept follow this link to vote for [User-Defined Per Habit Cap](https://trello.com/c/hpi6wlGA).

P.S. The algorithm gives diminishing returns by click frequency.

[2013-02-25 14:02] wildcate commented on #494
Yes, that's exactly what happened - I set them inactive, but they still colour as active. At least one of them (I don't remember the others, have to wait until next weekend) is one of the original entries there upon sign-up - I just changed title and active days.

[2013-02-25 14:24] lefnire commented on #107
@jjjjesse this is awesome stuff! Keep it coming, these could provide great variations when we introduce class specializations. I especially love the armored samurai! Stoked to put those sets in the game, thanks.

Re: backer-only armor, we're gonna use @Shaners contribution because it's class-ambiguous.

[2013-02-25 15:26] ghost opened #513 "[Feature] Daily could change name depends on the days"
A daily could change its name depends of which day it is.
For example, “up before 7a.m” in the week become “up before 10a.m” in the week-end, or “go to the gym” on Mondays become “go to the pool” on Fridays…
It will certainly be quite delicate to implement, I suppose (technically and functionnaly), but it could permit to synchronise look-alike dailies (and cumulate bonuses and maluses for similar

[2013-02-25 15:50] PhilipHow commented on #446
1 Week, 2 Weeks, 3 Weeks
1 Month, 2 Months, 3 Months, 4 Months.... etc
1 Year, 2 Year etc

[2013-02-25 15:58] ra100 commented on #453
I think I got to even more bugged state. I wanted to leave group, creat new one and invite people back :) but
scenario: M (me), U1 (user one), U2 (user two)
M creates party, invites U1. U1 accepts, U1 sees M, M doesn't see U1. M invites U2, U2 accepts, M sees only U1 (or U2, dunno, I forgot to check).
U1 leaves party, M sees nobody. M leaves party. M creates party. M invies U1 - error message, tha

[2013-02-25 16:02] PhilipHow commented on #462
Yeah fantastic idea.

Should the ratio decrease over longer periods however? Say I binged one level but then behaved myself for the next couple of weeks, should the cost still be 5HP?

[2013-02-25 16:12] cleave29 commented on #447
I've gone ahead and switched all of them to + / - and it seems to have adjusted.  I'm going to vote for one of the changes on Trello.
Thanks, Tyler.  I appreciate all of your (and others') hard work on this!

[2013-02-25 16:12] #447 closed, assigned to nobody

[2013-02-25 17:55] lefnire commented on #458
These are great. FYI, will tackle this soon as I get through the critical bugs & features - so maybe 3 weeks from now (unless someone does a PR against my algorithms before I get there)

[2013-02-25 17:56] PhilipHow commented on #429
Uh, this may be a stupid question. How did you get it running on windows? I couldn't figure out how to specify the habitrpg environment variables.

[2013-02-25 18:04] nonckiewicz opened #514 "[Bug] Cannot buy leather helm"
When i'm clicking on 15 gold coins to buy leather helmet, nothing happens.

[2013-02-25 18:44] lefnire commented on #514
Anyone else experiencing this? Any [chrome console](https://developers.google.com/chrome-developer-tools/docs/console) javascript errors?

[2013-02-25 18:54] nonckiewicz commented on #514
I'm using FF

[2013-02-25 19:49] Shaners commented on #107
Great stuff everyone, things are looking awesome!

Quick one, dark souls blade:
![anim-darksoul-blade](https://f.cloud.github.com/assets/2374703/193426/239bde84-7f84-11e2-96a1-9073b8dfd659.gif)
Possible backer-only weapon. Animation is looping fast just for viewing, will be tweaked before final.

[2013-02-25 20:02] lefnire commented on #107
Shane. Where do you live, I want to buy you a drink.

On Monday, February 25, 2013, Shane Lister wrote:

[2013-02-25 20:05] lefnire commented on #336
I'm also brainstorming separating out algorithms / logic into its own repo
(habitrpg-algorithms)

On Monday, February 25, 2013, litenull wrote:

[2013-02-25 20:08] eiron commented on #462
If we are taking the punishment over reward route, then perhaps it could be a status effect, like 'wounds'? There could be a few levels, for instance: bruised, scratched, bleeding, wounded. When affected by these (by taking too much damage through reward spending) it will bring up a status on or around your health bar detailing what extra damage you will take for overspending. This damage should h

[2013-02-25 20:09] PhilipHow commented on #462
@Eiron I like!

[2013-02-25 20:20] lefnire opened #515 "Github issue tagging"
@wc8 @Pandoro @horusofoz - you three seem to be the champions of the Github & Trello requests - seem to have your hands in every ticket. At least that was last time I checked, I've been out of the loop working on the server issues for so long - so if I'm missing somebody important, tell me and I'll add them as a collaborator.

Favor to ask you guys: could you tag Github tickets as `critical` or `i

[2013-02-25 20:23] nonckiewicz commented on #514
but on chrome I have the same problem

[2013-02-25 20:24] lefnire opened #516 "TypeError: Cannot read property 'party' of undefined"
[code]

[2013-02-25 20:25] lefnire commented on #514
while you're on chrome are you able to see if there's a console error? (firebug if you use firefox). Sorry, don't mean to put you to work - just can't replicate myself

[2013-02-25 20:34] lefnire commented on #165
Looking into https://github.com/lefnire/derby-auth/blob/master/index.js#L316 (mongo re-init)

[2013-02-25 20:34] nonckiewicz commented on #514
Ok, I know where the problem lies. I had 15 gold coins and 30 silver, and I cannot bought leather helmet, but when I reached 16 gold, I bought it. So there is something wrong with this prize for this helmet.

Kind Regards,
Adam

[2013-02-25 20:46] tmas commented on #429
In windows, go to Start > Control Panel > System and Security > System. Then click the Advanced system settings link in the left sidebar. From here, choose the Advanced tab and click Environment Variables. You can add each individual variable under user and habit will run correctly.

[2013-02-25 20:51] lefnire commented on #429
copy `config.example.json` to `config.json` and edit all those variables (i'll add that to the wiki)

[2013-02-25 21:14] toebu commented on #429
I didn't follow the discussion exactly, but I sometimes had the 'ECONNREFUSED' error when I had a connection.sid cookie set in the browser for a user that I deleted in the database. So make sure you also clear the cookies when you have this problem.

[2013-02-25 21:20] Shaners commented on #107
@lefnire Vancouver Canada, including flight would be an expensive drink!

One more for today, crystal armor set:
![CrystalArmor-Mock-Anim](https://f.cloud.github.com/assets/2374703/193732/96c696a0-7f8f-11e2-9bf9-5e67f9e4ed85.gif)
Possible backer-only armor (maybe if they don't like dark stuff?) or just another tier of armor. Planning to tweak the shine animation on the body a bit for the final.

W

[2013-02-25 21:39] lefnire commented on #429
I updated the [Wiki](https://github.com/lefnire/habitrpg/wiki/Running-Locally) with new instructions that should make things much easier. Try starting from scratch by dropping your mongo `habitrpg` database and running the new instructions.

The socket hangup issue is vexing me, I've never seen that before and don't know how to approach it. I dare say, running Derby on windows has a problematic hi

[2013-02-25 21:40] DanielReeLee opened #517 "set guidelines for parties and guilds"
I know the current party system can only old up to 4 people. This should be good for a small group of friends but not good for a large group. To accommodate the large group there should be a guild for large groups. There should be no limit on the amount of people in a guild but there should be differences between both.

[2013-02-25 21:42] lefnire commented on #517
yep yep: https://trello.com/card/groups-guilds/50e5d3684fe3a7266b0036d6/84

[2013-02-25 21:42] #517 closed, assigned to nobody

[2013-02-26 02:02] tmas commented on #500
Alright, I'm stumped on this. Anyone else want to give it a shot or explain how the pet positioning currently works so I can do it myself?

[2013-02-26 02:36] horusofoz opened #518 "New Adventurer (Avatar), Inventory, Achievement And Profile Screen Concepts"
Concept to replace current pop up that appears when clicking on an Avatar.

Basic looking at the moment but hoping our [merry band of artists](https://github.com/lefnire/habitrpg/issues/107) can polish up them up.

Note the current avatar customization screen would be accessible by clicking on the avatar image within Inventory screen.

Images and ODG files used to create available [here](https://d

[2013-02-26 03:30] ctuirmt00 opened #519 "Typed Text Disappears When Page Loads"
Sometimes my HabitRPG takes a while to load, so while it's loading I'll be typing some new task in my ToDo.  (I'm in Chrome) One the litlte loading sign in the corner disappears, meaning the page fully loaded, the text disappears and I have to retype everything again.

It's a huge nuisance.  Thank you to anyone who can fix it!  :)

[2013-02-26 03:37] ruddfawcett commented on #500
@tmas I'll do a little digging then get back to you...

[2013-02-26 03:43] ruddfawcett opened #520 "Ruby Gem?"
Would anyone find a Ruby gem for habitRPG useful?  If so ill whip up one...

[2013-02-26 03:46] DanielReeLee commented on #517
Thanks

Korean Spy

Feb 25, 2013 16:42 "Tyler Renelle" notifications@github.com 작성:

[2013-02-26 04:42] wc8 commented on #519
Currently, it is best not to try to make changes while HabitRPG is loading. Sorry for the inconvenience.

[2013-02-26 04:47] wc8 commented on #515
What types of tickets fall under the support label? Wiki suggestions? Questions about how HabitRPG works? Pixel art offerings?

[2013-02-26 04:58] wc8 commented on #499
I'm listing this as minor since a refresh will fix it. Thanks for following up.

[2013-02-26 05:07] wc8 commented on #511
This issue/suggestion belongs to the chrome extension, right? I've copied it to: [From: pankajmore: Stop reporting vice sites if idle for some time?](https://github.com/lefnire/habitrpg-chrome/issues/55)
Please post further extension tickets here: [habitrpg-chrome](https://github.com/lefnire/habitrpg-chrome/issues)

[2013-02-26 05:10] horusofoz commented on #518
From Shaners:
Looks great! I would maybe go for a more pixely font, silhouetted icons for inventory slots, and something like bar graphs for stats in relation to one another so you could at a glance know which you are more powerful at. Are strength, int, dex going to be related to task type completed? e.g. if you complete a work out tasks you'll gain more str stat? This is more of a question in ge

[2013-02-26 05:11] horusofoz commented on #518
Possible font - http://www.thealmightyguru.com/GameFonts/Series-ChronoTrigger.html
![Image 6](https://f.cloud.github.com/assets/3202339/195052/0592564e-7fd3-11e2-9221-f7c8bbe6fd76.png)

[2013-02-26 05:15] heather1209 commented on #500
What about having the pet on the bottom right?

[2013-02-26 05:21] wc8 commented on #381
Closing since it's listed in [habitrpg-chrome](https://github.com/lefnire/habitrpg-chrome/issues/)

[2013-02-26 05:21] #381 closed, assigned to nobody

[2013-02-26 05:37] wc8 commented on #512
Hi, are these + only or - only habits or habits that are +/-?
If it is positive only or negative only this is probably the same as #299

[2013-02-26 05:44] #511 closed, assigned to nobody

[2013-02-26 05:47] wc8 commented on #505
@ruddfawcett [Trello's Translation Card:](https://trello.com/c/SvTsLdRF)

[2013-02-26 05:48] horusofoz commented on #107
Re-opening as with all the activity and great artwork, it should be open for more people to see.

[2013-02-26 06:14] wc8 commented on #503
@AntiquatedMeme "vote it right up": [show progress toward reward](https://trello.com/c/K7xOkD7a)

[2013-02-26 06:18] wc8 commented on #498
Vote for for [**option** to show GP, XP value and HP cost](https://trello.com/c/JRnhQYP3) or comment w/concerns.

[2013-02-26 06:51] wc8 commented on #501
This is probably related to #324.

[2013-02-26 08:23] Flimm commented on #512
All my habits are + or - habits only. I created a +/- habit and it doesn't have this problem. This issue can closed as duplicate of #299.

[2013-02-26 08:30] Flimm commented on #299
Is the progress on + or - only habits recorded? In other words, once this issue gets fixed, will I see historical data, or do I need to start tracking these habits on my own?

[2013-02-26 09:34] jjjjesse commented on #107
I'm not too sure how receptive you guys will be to this one, I've created a very quirky, floating NPC. I suppose you could call him a misdirected mystic. I'm not sure if it has a place but I had fun with it anyway.

![ForrestNPC](https://f.cloud.github.com/assets/3677558/195560/ff218da6-7ff6-11e2-90a5-691ce50f46a2.gif)

[2013-02-26 09:46] Daij-Djan commented on #315
Im experiencing it too

[2013-02-26 10:59] wildcate commented on #500
Or moving the pet further out to the side? So it can be seen completely?

[2013-02-26 12:14] jjjjesse commented on #107
Here's another fun one, I call it "The Bride".

![the-bride_full](https://f.cloud.github.com/assets/3677558/196163/d09359ee-800d-11e2-92be-000b9ce042c2.gif)
![the-bride_jumpsuit](https://f.cloud.github.com/assets/3677558/196164/d0d1c5f8-800d-11e2-869c-46f3ce3925f2.gif)
![the-bride_sword](https://f.cloud.github.com/assets/3677558/196165/d1120898-800d-11e2-9fea-be1dc75b04ce.gif)

[2013-02-26 12:27] horusofoz commented on #107
Could some of you awesome peeps take a peek at our ["New Adventurer (Avatar), Inventory, Achievement And Profile Screen Concepts"](https://github.com/lefnire/habitrpg/issues/518)?

We want to introduce these ideas but know they need an artist's touch. If even a fifth of the awesomeishness witnessed in this thread can be applied to these concept pieces, these should be ready in no time.

[2013-02-26 12:38] jjjjesse commented on #107
I'll have a look at this tomorrow.

On 26/02/2013, at 11:27 PM, horusofoz notifications@github.com wrote:

[2013-02-26 12:39] horusofoz commented on #388
Closing as no response from user after a week

[2013-02-26 12:39] #388 closed, assigned to nobody

[2013-02-26 12:47] horusofoz commented on #446
@MrConcept [Priority Multipler?](https://trello.com/c/4C8w1z5h) should cater for your idea.

This would include a minimum reward for each priority level. If the daily task was achieved in conjunction with other dailies on the day, the user would receive a proposed "streak" award.

If a task of priority 2 or 1 level was completed consecutively on X number of days they would also receive a badge for

[2013-02-26 13:58] wc8 commented on #518
The original font seems to suit the character of the pixel art, if not matching the pixel art style itself.

[2013-02-26 14:04] lefnire commented on #515
exactly! :) Bugs are obvious; suggestions are features, really - and graduate to Trello; and everything else is  support

[2013-02-26 14:50] Olathe commented on #501
Good find. I'll close this issue since it seems to be the same as #324.

[2013-02-26 14:50] #501 closed, assigned to nobody

[2013-02-26 14:53] Olathe commented on #324
Some reports are also in issue #501. It seems to occur more (though not by much) repeatably if I hold down the mouse button and move even a pixel or two even if no text is selected. Refreshing sometimes helps but, again, not always.

[2013-02-26 15:17] PhilipHow commented on #446
@horusofoz Apologies, the fractions /7 refer to the number of days out of the week you have the "Daily" selected to!

[2013-02-26 15:43] wildcate commented on #518
The original font is lovely, but I find it quite hard to read on the profile page mockup - I can't tell whether it's "Jeff" or "Jepp". Numbers (stats page) are also not easiest to read. Curiously, the "join date" numbers sort of seem different from the rest of the font style.
Maybe combine the original font (for headings) with a second font that is a little clearer for the text in profile etc.?

[2013-02-26 16:19] wc8 commented on #445
Follow link(s) and vote for your preferences or comment with concerns/ideas:
[Map: User Locations](https://trello.com/c/iGLFb8aX)
[Map: Fantasy User Locations](https://trello.com/c/MyUoEMFg)

[2013-02-26 16:25] cleave29 commented on #388
Oh, sorry, the down arrow doesn't seem to damage me anymore, so I think we're good.  Thanks!  :)

[2013-02-26 16:32] wc8 commented on #445
The two ideas are possibly compatible with map modes: Geolocation, HabitRPG world, Internet Heat Map, etc.
In Geolocation, fewer users would be shown as only the opt-in users would be displayed.

[2013-02-26 16:39] wc8 commented on #126
@racuna, @timothyCoxon, etc.: Vote for this idea [here](https://trello.com/c/ByJXycz4)

[2013-02-26 16:41] busterroni commented on #107
Since @Shaners made an ice armor set I decided to make a fire armor set. Mine doesn't even compare to how good his looks but I thought I'd try it anyway. I also hope I did it correctly this time :/
![ gickr com _5ccd3bd6-ffdf-0444-cdbb-1b14e19605df](https://f.cloud.github.com/assets/3424032/197167/5e2c7d92-8033-11e2-8e3e-67b662673552.gif)

[2013-02-26 16:51] wc8 commented on #331
@Pandoro it's not in the wiki yet. I agree current results of dying need to be explained, to be updated if/when changed.

[2013-02-26 16:58] Bquilt commented on #415
Is it possible to export only todos that are remaining?  I just exported my todos w/dates to Google calendar and it includes all todos with dates.
Thanks for a great tool!

[2013-02-26 17:10] wc8 commented on #142
[Completion Quotas](https://trello.com/c/E5CVJlW6)

[2013-02-26 17:50] TboneJenkins opened #521 "Outlook Tasks sync?"
I just stumbled onto Habitrpg and it's so awesome! I'm curious to know if there is any interest to sync it to Outlook. I know that GTasks syncing are in the works, but I often create tasks from my emails and Outlook is easier to work with in that regard.

[2013-02-26 18:05] wc8 commented on #521
Follow link to vote for [Outlook Integration](https://trello.com/c/zemvKHKA)

[2013-02-26 18:07] wc8 commented on #520
It sounds like a good idea. I suggest you check in via #107 to see if there are any guidelines (eg. size) to keep in mind.

[2013-02-26 18:08] lefnire commented on #107
@jjjjesse you are exceptionally good at this!

All, here's are my current thoughts, tell me what you think:
1. We have Backer custom-item requests coming in. We can retrofit some requests (eg, "Dragon Staff of Power" to  @jjjjesse's armored samurai spear). For the new items, I think @Shaners @jjjjesse @lemoness @Orangyfresh would be excellent fits. I'll post them here as they come in and see what

[2013-02-26 19:16] Shaners commented on #107
@busterroni good start. 2d fire is hard to animate, add in abstracting it down to this pixel resolution level and it gets even harder. One thing to keep in mind is that fire or flames are not solid objects but are a gaseous vapour swirling around, usually fairly fast, and disappearing and reappearing constantly.
Here is what I think as a particularly good example of animated flame (even seems a bi

[2013-02-26 20:35] tmas commented on #520
@wc8 Pretty sure he's talking about [this kind of ruby](http://www.ruby-lang.org/en/).

[2013-02-26 20:41] lefnire commented on #165
Wasn't it, check out https://github.com/codeparty/racer/issues/72#issuecomment-14138244

[2013-02-26 20:44] tmas commented on #126
@racuna Linking locations to habits and todos could eliminate the conflict. Todos could have priority, so if you had to go somewhere for a todo it wouldn't count for the habit.

[2013-02-26 21:18] wc8 commented on #520
LOL. I'd been reading all kinds of requests for gemstone features and drops. I didn't even think of the other kind of ruby.

[2013-02-26 21:26] ghost commented on #520
Go nuts
https://github.com/lefnire/habits-rails

[2013-02-26 21:30] NotChrisPlease opened #523 "API Not working, returning HTML."
The API has not been working for me, It just returns HTML when I call it.
I'm using Python with urllib2.

[2013-02-26 21:32] lefnire commented on #523
What's the html you see? Is it the splash page?

[2013-02-26 21:36] NotChrisPlease commented on #523
@lefnire Looks like it,

[2013-02-26 21:38] Shaners commented on #107
Still far from done but here is a preview of the backer-only phoenix pet.
![anim-phoenix](https://f.cloud.github.com/assets/2374703/198469/7beaf3ee-805c-11e2-994f-a8158102048c.gif)
It came out pretty big but funny enough this was the smallest iteration that actually worked.

[2013-02-26 21:43] switz commented on #523
This should be moot in a matter of hours. The new api middleware is ahead of the splash middleware, so we shouldn't run into this issue again. Follow here for updates: https://github.com/lefnire/habitrpg/pull/522

On Tuesday, February 26, 2013 at 4:42 PM, Rudd Fawcett wrote:

[2013-02-26 21:50] NotChrisPlease commented on #523
@switz Alright I'll do that.

[2013-02-26 21:53] lefnire commented on #165
looks like the most likely culprit this point is `model` hanging around on the server, not being garbage-collected. Maybe in a closure somewhere. @jasonmanners

[2013-02-26 22:05] ruddfawcett opened #524 "Use of API Token for each user?"
With the API, there may be services that would like to use a HabitRPG's user data.  How will a service grab information if they need an API token for each user AS WELL AS an User Id?  Here is a solution that I propose:

Service has login page
Service sends username and password to server and the response is the user's userId and apiToken (that's it)
Service can then use this info to access API met

[2013-02-26 22:05] ruddfawcett opened #525 "CLOSED: DUPLICATE"
**CLOSED**

[2013-02-26 22:07] #525 closed, assigned to nobody

[2013-02-26 22:15] ruddfawcett commented on #524
@switz I understand the use of the header mechanism, and I would not like to falsify that, but I think that a service should send a simple GET or some HTTP request using the user's username and password to get the userId and apiToken of the player.  For a player who likes HabitRPG and isn't ask technologically advanced, this would be a useful feature.

[2013-02-26 22:17] switz commented on #524
Oh, you mean to just add another route to obtain the API key. We can definitely add that.

On Tuesday, February 26, 2013 at 5:16 PM, Rudd Fawcett wrote:

[2013-02-26 22:32] ruddfawcett commented on #524
Yep.  Something like a POST to http://habitrpg.com/v2/users/verify with username and password and in return you would get

[code]

It would probably be best to POST a hashed password for security.

[2013-02-26 22:36] ruddfawcett opened #526 "Link Facebook to HabitRPG account with email as username"
I love that you can sign-in with Facebook, but I think that you should be able to link your Facebook to an account, i.e. have a username and password for HabitRPG as well (for example, use the user's email).  This way, you could use #524 when signing in, if the service doesn't support Facebook sign-in.

[2013-02-27 00:07] switz commented on #524
Follow this branch: https://github.com/switz/habitrpg/tree/api-auth

[2013-02-27 01:14] wc8 commented on #384
I'm listing this as minor since there is a workaround for now: reloading.

[2013-02-27 01:20] lefnire commented on #520
Oh! Haha, be careful with that app! That's habitrpg v1, written on rails
and before I converted it to javascript. It's and old deprecated app.
On Feb 26, 2013 4:52 PM, "Rudd Fawcett" notifications@github.com wrote:

[2013-02-27 01:24] NotChrisPlease opened #527 "Daily: Data column(s) for axis #0 cannot be of type string"
When I click progress on a couple of my dailies I get this.
![dailyerror](https://f.cloud.github.com/assets/3453299/199326/51dfd69e-807c-11e2-82ad-d0db23fe755e.PNG)

[2013-02-27 03:55] busterroni commented on #107
@Shaners I've worked on making a better flaming effect, how would I go about compiling the multiple .psd files (or I can change to a different file type) to make an animation? For the first one I used something online but with the newer one it's been acting very strangely, constantly zooming in and out. It didn't take too long, I'll try to redo it tomorrow. Any ideas on what might've happened to p

[2013-02-27 04:16] busterroni commented on #527
Duplicate of #315

[2013-02-27 04:22] busterroni commented on #518
I think @wildcate 's idea is good. The headings could be the first font and the information could be the more pixelated one (Chrono Trigger).

[2013-02-27 06:55] jjjjesse commented on #107
@lefnire, you mentioned someone requesting a 'Dragon Staff of Power', but I thought I'd up one better.
Here's the 'Dragon Hunter':

![dragon-hunter_full](https://f.cloud.github.com/assets/3677558/199896/e854c3b4-80a9-11e2-94e2-048c2cf36920.gif)

![dragon-hunter_skull](https://f.cloud.github.com/assets/3677558/199897/ed357a86-80a9-11e2-997f-35c1841e1688.gif)
![dragon-hunter_amor](https://f.cloud.gi

[2013-02-27 07:03] horusofoz commented on #143
@PiNotEqual3 The bug has been fixed. unfortunately we cannot make it work retroactively on those previous habits.

Your options are to recreate or continue with them as they are.

[2013-02-27 07:03] #143 closed, assigned to nobody

[2013-02-27 07:08] horusofoz commented on #207
@Yughurt We won't be able to introduce your feature request at this time. However you may be interested in the [Real-Skill as Item Type](https://trello.com/c/UTWW66Uu) request currently on Trello.

[2013-02-27 07:08] #207 closed, assigned to nobody

[2013-02-27 07:11] horusofoz commented on #236
Is anyone still looking at this? Is it active?

[2013-02-27 07:12] horusofoz commented on #271
Is this bug still affecting users?

[2013-02-27 07:19] horusofoz commented on #297
@lefnire Is this going forward? If so you'll need to triage the difficult and assign.

[2013-02-27 07:21] horusofoz commented on #288
@lefnire Triage difficulty. Assign.

[2013-02-27 07:24] horusofoz commented on #307
@lefnire Triage difficulty. Assign.

[2013-02-27 07:25] horusofoz commented on #309
Resolved through previous fixes

[2013-02-27 07:25] #309 closed, assigned to nobody

[2013-02-27 07:34] PiNotEqual3 commented on #143
Cool, thanks a lot for fixing it!
Nice project with nice people here :)

[2013-02-27 07:40] horusofoz commented on #397
Your request has been moved to [Trello Card 200](https://trello.com/c/ejORegNg). Vote for your request on Trello to see it become a reality,

[2013-02-27 07:40] #397 closed, assigned to nobody

[2013-02-27 07:41] horusofoz commented on #507
@loldude101 I don't suppose this corrected it self after a refresh or something?

[2013-02-27 07:42] horusofoz commented on #436
This is being investigated under ticket [141](https://github.com/lefnire/habitrpg/issues/141).

[2013-02-27 07:42] #436 closed, assigned to lefnire

[2013-02-27 07:48] horusofoz commented on #416
Moved to [Trello](https://trello.com/c/drI1Blex).

[2013-02-27 07:48] #416 closed, assigned to nobody

[2013-02-27 08:00] horusofoz commented on #493
I feel your pain man.

![Image 13](https://f.cloud.github.com/assets/3202339/200003/97acaa62-80b3-11e2-9b0a-15cf0501c275.png)

Unfortunately this is the way it will be kept as it is an accurate display of progress. When we introduce the On Hold option it should help to balance things out a bit more.

[2013-02-27 08:00] #493 closed, assigned to nobody

[2013-02-27 08:02] horusofoz commented on #495
This is definitely weird behaviour. Do you get similar behaviour else where? Can you try using an alternate browser and advise on the outcome?

[2013-02-27 09:15] MiriamELewis opened #528 "Semi-sudden death!"
Hi so yesterday I was having trouble getting in to the site but I left the extension recording my productiveness for the work day (7 hours). Toward the end I noticed my hp was set 1hp but I couldn't log-in during the evening and so assumed it was a glitch.
I've just now logged in and it killed me!

I remember my level and armour but not my hp & xp.

I wasn't logged into my vice sites much yesterda

[2013-02-27 09:26] horusofoz commented on #513
Hey @LazuliKazeno. Welcome to the community.

Creating dailies for each of the activities and setting to be active on the relevant days would provide you with the function your looking for.

This combined with the [Hide Until Due](https://trello.com/c/G14jkPYd) option would tidy it up to.

[2013-02-27 09:28] horusofoz commented on #459
Will close for now. User's will be able to search and find just as they would need to atm.

[2013-02-27 09:28] #459 closed, assigned to nobody

[2013-02-27 09:31] horusofoz commented on #528
Hi @MiriamELewis

Can you email your UID from User Menu>Settings to our lead developer [Tyler](mailto:tylerrenelle@gmail.com)?

@lefnire Can you provide the user with a restore from yesterday?

[2013-02-27 09:35] horusofoz commented on #460
Please see our list of various sharing options currently up for voting on [Trello](https://trello.com/board/habitrpg/50e5d3684fe3a7266b0036d6).

[2013-02-27 09:35] #460 closed, assigned to nobody

[2013-02-27 09:37] horusofoz commented on #431
This is currently up for voting on [Trello Card #29](https://trello.com/c/tpQBizSk). Add your vote to help make it a reality.

[2013-02-27 09:37] #431 closed, assigned to nobody

[2013-02-27 09:37] #476 closed, assigned to nobody

[2013-02-27 09:41] MiriamELewis commented on #528
Done :) (emailed him)

[2013-02-27 10:36] wildcate commented on #493
If only it would look so good on my graph...
![unprogress](https://f.cloud.github.com/assets/3587347/200493/81619ba8-80c9-11e2-97ca-d4a12c74231a.png)

[2013-02-27 10:37] horusofoz commented on #493
At least your on the rise? ;)

[2013-02-27 10:56] wildcate commented on #493
I actually have a backlist that is not on the list yet - I can't sort stuff and it's getting too confusing otherwise. So that's just a short spike  : )

How is that graph made? Does it really take the number of items added vs. number of items removed? If so, how come you get back to or above zero while I did not?

[2013-02-27 11:00] horusofoz commented on #493
Not sure but detailed info can be found here -
https://github.com/lefnire/habitrpg/wiki/Algorithms

On 27 February 2013 21:26, wildcate notifications@github.com wrote:

[2013-02-27 11:21] wildcate commented on #493
I couldn't find details for the todo progress graph, neither there nor on the page linked...

[2013-02-27 11:28] horusofoz commented on #493
@lefnire Could you advise?
_Horusofoz_
*
*
"Live to learn. Learn to live." J.W.S.

On 27 February 2013 21:51, wildcate notifications@github.com wrote:

[2013-02-27 11:36] nevans11 opened #529 "Multiple stage tasks?"
I was thinking that there should be an option for tasks to be multi stage (ie require mulitple 'ticks' before they are completed). eg 'take pills twice a day' would require two ticks for the task to be designated complete etc.

Thoughts?

Cheers

[2013-02-27 12:00] jjjjesse commented on #107
I also started working on this, I'm not sure what I think of it so far... Thoughts/critique? Should I continue or ditch it?

![Dragon](https://f.cloud.github.com/assets/3677558/200749/1d5cc0f4-80d5-11e2-9cd5-92712ef2cc54.gif)

[2013-02-27 12:27] busterroni commented on #107
@jjjjesse Those both look sick! I love the flame in the first one, I think I need to do something like that for my fire armor. Would you mind if I used your fire as an inspiration :)? The dragon also looks amazing! Definitely continue it. It could be a boss or something :]

Here's what I've done so far, I still don't really like it though :/
![http___makeagif com_media_2-27-2013__gl4uv](https://f.

[2013-02-27 12:42] wc8 commented on #529
It would certainly consolidate my daily task list!
Of course, having two tasks for each pill allows for putting tasks in the order of completion, but users would still have that option.

This has been mentioned before #142. There's currently a request in Trello for [Completion Quotas](https://trello.com/c/E5CVJlW6), while the example given in the comments is for weekly completion quotas, perhaps t

[2013-02-27 12:46] wc8 commented on #107
There's a Phoenix Quest idea out there that has some popularity. I wonder if it [Shaners' phoenix] could be used in the dialog page announcing the Phoenix Quest, similar to Death in the Game Over dialog. Backers could still be the only ones allowed to keep that phoenix as a pet.

[2013-02-27 12:50] wc8 commented on #460
The two ideas [Map: Fantasy User Locations](https://trello.com/c/MyUoEMFg) and [Map: User Locations](https://trello.com/c/iGLFb8aX) could be one possible way of browsing users.

[2013-02-27 13:12] lefnire commented on #107
@jjjjesse where did you come from, lol! For the token-store we have planned gear enchantments, pet food (which evolves the pet), etc - so that "misc slot" item is perfect, thanks for providing that along with.

As long as your sprites fit @Pandoro's spec, we should start getting them committed to the repository sometime in the near future

[2013-02-27 13:13] wc8 commented on #363
@Pandoro
1. Also, a task with a due date within the quest timetable might not exist. Perhaps daily tasks plus a quota of todos/habits, for example, 1 todo or 3 good habits.
1. I think this is compatible with "really dying"—have your cake and eat it, too: game over and game not over. In one sense, it is a new game with a new quest, and in another, the old game, with your character and equipment com

[2013-02-27 13:15] lefnire commented on #493
it's the total value of the todos for that day. A todo value is what determines it's color, if it's red it has negative value, if it's green it has positive value.

[2013-02-27 13:22] lefnire commented on #297
will be a whole project, something for the future

[2013-02-27 13:28] wc8 commented on #223
I think #363 is a good/best option.

• it's simple and uniform
• Death is Significant: game over message, loss of equipment
• Motivation to continue: Attractive Phoenix Quest.
You have a chance to recover your character and regain equipment. If you fail to achieve the quest in time, by the time you do, you've been moving forward in the game, accruing XP, GP etc. as before.
• Sense of continuity: y

[2013-02-27 13:53] loldude101 commented on #507
No, I tried everything but nothing worked.

On 2013-02-27, at 2:41 AM, horusofoz notifications@github.com wrote:

@loldude101 https://github.com/loldude101 I don't suppose this corrected
it self after a refresh or something?

—
Reply to this email directly or view it on
GitHubhttps://github.com/lefnire/habitrpg/issues/507#issuecomment-14160955
.

[2013-02-27 14:25] lefnire commented on #507
Hey @loldude101 , just [restore your GP](https://github.com/lefnire/habitrpg/wiki/Restoring-Your-Account) for now while we work on these bugs

[2013-02-27 14:27] lefnire commented on #528
I responded to Miriam via email, but for anyone else who experiences this - follow [these instructions](https://github.com/lefnire/habitrpg/wiki/Restoring-Your-Account) to restore your avatar until we get these bugs fixed

[2013-02-27 14:45] mgatten commented on #236
Funny this popped up today. I thought it had been fixed weeks ago, but just last night I was surprised to see that it still happens. So it's still an active problem, if that's what you're asking. Is it active in the sense of being worked upon? No idea.

[2013-02-27 14:49] lefnire commented on #236
I'll fix this eventually, it's just _quite_ minor compared to other bugs.

[2013-02-27 14:58] Alcaste commented on #495
Odd, I check it in response to this and now it seems to be working fine. I did the usual (different browser, empty browser caches, restart device) and it didn't seem to work at the time, though today it seems fine. I'll follow up if it happens again. It appeared to do it a few times before logging in, but after managing to log in it hasn't auto-refreshed.

[2013-02-27 15:02] cleave29 commented on #460
Thanks, @wc8 !

[2013-02-27 15:02] lefnire commented on #495
It happened to me too, I'll keep my eyes pealed while i'm in the code to
see what could be the cause.

On Wednesday, February 27, 2013, Alcaste wrote:

[2013-02-27 15:06] mgatten commented on #236
Oh, no doubt! I totally agree and didn't mean to sound like I was whining about it. I was just answering the question that it is still active in case others weren't still aware, and expressing surprise since I'd read about a solution a while back and thought was implemented. As far as priorities go, this one should be pretty close to the bottom of the list.

[2013-02-27 15:08] lefnire commented on #236
Oh gotcha!

On Wednesday, February 27, 2013, mgatten wrote:

[2013-02-27 15:35] wildcate commented on #529
For the normal to-do list, you could just use the checklists that are planned (there's also a Trello card for that).

[2013-02-27 16:24] Tonqe opened #530 "Cant login"
when I try to log in I get the message: "User not found with that username." I'm sure that the credentials are correct...and if I try to register with the same credentials tells me: "Username already taken" or "email already taken"
HELP! :(

[2013-02-27 16:35] lefnire commented on #530
hey @mykill18 , check out the bottom of https://github.com/lefnire/habitrpg/wiki/Restoring-Your-Account ("User not found")

[2013-02-27 18:17] loldude101 commented on #507
It's not that big of a deal for me, I just wanted to make you aware of the
issue so hopefully nobody else it hurt by it.

On 27 February 2013 09:26, Tyler Renelle notifications@github.com wrote:

##
- Igor Demchenko http://goplus.us/igor-demchenko

[2013-02-27 18:28] Olathe opened #531 "Feature request: Deleted account restoration e-mail"
If accounts are going to be purged when they've been inactive too long, you could put their tasks and level and all that in a text file and append a cryptographic signature to it in order to verify that it hadn't been tampered with when they used it later. The text would be both in the body and as an attachment, in case attachments are deleted by the person's e-mail system.

Then, the Create New A

[2013-02-27 18:28] lefnire commented on #507
Gotcha.

On Wednesday, February 27, 2013, loldude101 wrote:

[2013-02-27 18:34] lefnire commented on #429
If anyone's experiencing `Emfile` error, check out http://stackoverflow.com/questions/34588/how-do-i-change-the-number-of-open-files-limit-in-linux

[2013-02-27 18:47] lefnire commented on #336
So quick poll (I forgot to post this earlier). There are two approaches to the API.

@lefnire's approach: [nested resource routing](http://guides.rubyonrails.org/routing.html), popularized by rails, and standardized across most multi-user based APIs on the web (Twitter, Github, etc). See [Apigee](https://apigee.com/console/twitter) for examples. The routes look like `/users/:uid` `/users/:uid/task

[2013-02-27 18:57] loganblue opened #532 "Feature Request: Educational Usage Mode"
I'm a special ed teacher and I work with a behavior analyst everyday who uses many of the lifestyle monitoring and and rewards techniques that are available to educators today. Like anything else used, however, motivation for kids to use a program to track themselves is lacking. We try new products all the time, but we haven't seen anything like HabitRPG that could benefit students. I was a Kickst

[2013-02-27 19:04] lemoness commented on #518
I like the different pages, for sure!
1. I definitely agree that this font is very hard to read. When I want to see my stats, simpler is much better. It doesn't even need to be that pixelated - just readable. Plus, I don't think curlicues fit our style.
2. Will that be the actual picture on the adventurer page? I'm not a big fan of it. If not, what will replace it?
3. There should be a page for pe

[2013-02-27 19:24] lemoness commented on #107
@jjjjesse WOW awesome stuff as always! Personally, I really like the dragon. Regarding the Kill Bill Bride, though - we'd have to be careful about copyrights if we were going to use that :/ Just a thought. I'm incredibly excited to see your backer NPCs!

@Shaners - I also love the phoenix. I don't see the problem with a backer pet being enormous, since they're supposed to be impressive - and wow,

[2013-02-27 19:29] lemoness commented on #223
I think that sounds good! I would still suggest giving the users some kind of choice over a difficulty level, so that if they are on easy mode and fail the resurrection quest, maybe they only, say, lose three levels and three pieces of equipment.