[2016-05-18 05:23] ivamir opened #7340 "couldn't select the class of my character - closed window by mistake"
General Info
- UUID:
- Browser:
- OS:
### Description

I couldn't select the type of my character. I wanted to be a Rogue and now there is no way to select it as the windows closed by mistake. How can I select the character I want when I didn't select any and I've closed the window by mistake?
#### Console Errors

[2016-05-18 06:17] Alys commented on #7340
Reload the website. If that doesn't give you the class change button again, tell us and please provide the User ID as requested in the issue template. To find out how to get it from either the website or app, see step 6 of the [Report a Bug](https://github.com/HabitRPG/habitrpg/issues/2760) instructions (also available from Help > Report a Bug in the Habitica website's menu).

[2016-05-18 06:35] ghost commented on #7340
I might be misunderstanding the question, but I believe there's the "Enable class system" button in the right column of the page "[Avatar stats](https://habitica.com/#/options/profile/stats)" which should bring up the window to choose class. Tip: click an icon of the class in that window (as the names of classes are links to the wiki descriptions) and then confirm your choice clicking the Select b

[2016-05-18 06:41] lemoness commented on #7311
Unfortunately, still getting the "{"success":false,"error":"InternalServerError","message":"An unexpected error occurred."}" when I try to purchase gems through Paypal.

When you try to subscribe via Paypal, it all seems to work normally, until the final step, when it throws the error message "{"err":"Cannot read property 'key' of undefined"}"

But it looks like it might not be using v3.habitica?

[2016-05-18 09:32] paglias commented on #7317
This should be fixed now

[2016-05-18 09:32] #7317 closed, assigned to nobody

[2016-05-18 09:32] paglias commented on #7332
This should be fixed now

[2016-05-18 09:32] #7332 closed, assigned to nobody

[2016-05-18 09:32] paglias commented on #7326
This should be fixed now

[2016-05-18 09:32] #7326 closed, assigned to nobody

[2016-05-18 09:32] paglias commented on #7330
This should be fixed now

[2016-05-18 09:32] #7330 closed, assigned to nobody

[2016-05-18 09:32] paglias commented on #7329
This should be fixed now

[2016-05-18 09:32] #7329 closed, assigned to nobody

[2016-05-18 09:32] paglias commented on #7296
This should be fixed now

[2016-05-18 09:32] #7296 closed, assigned to nobody

[2016-05-18 09:43] ghost commented on #7296
Confirming that it's fixed for me!

[2016-05-18 09:44] ghost commented on #7326
Confirming that it's fixed for me!

[2016-05-18 09:51] ghost commented on #7332
@paglias I don't know if it's related or if it maybe waiting a deploy, but when I finished a quest (+progress +missed_day from debug) I got a message about completing a quest, but the page didn't refresh and quest info was still there until manual refresh.

[2016-05-18 09:53] ghost commented on #7339
@citrusella wow thanks for reporting it!

It helped me trace the bug from https://github.com/HabitRPG/habitrpg/issues/7323

START A QUEST BUTTON doesn't work if the party is opened via the options/groups/guilds/id address: https://v3.habitica.com/#/options/groups/guilds/e3565aa7-2917-4460-9716-c930e4fd778d

FYI @paglias

[2016-05-18 09:59] paglias commented on #7232
This should be fixed and will go live in a few hours

[2016-05-18 09:59] #7232 closed, assigned to nobody

[2016-05-18 10:06] paglias commented on #7339
@GitHubSphinx Yay, I noticed that too and a fix is coming soon, thanks!

[2016-05-18 10:06] #7339 closed, assigned to nobody

[2016-05-18 10:07] paglias commented on #7332
@GitHubSphinx could have been due to the deploy, can you reload the page and try again?

[2016-05-18 10:07] paglias commented on #7311
Fixed, though it won't work on v3.habitica.com

[2016-05-18 10:07] #7311 closed, assigned to paglias

[2016-05-18 10:08] paglias commented on #7338
Probably due to a sync error, reopen if it's not working

[2016-05-18 10:08] #7338 closed, assigned to nobody

[2016-05-18 10:13] paglias opened #7342 "[After API v3] Move files from /common/script/public to /website/client"

[2016-05-18 10:23] ghost commented on #7332
- initiate -> autorefresh (autosync)
- cancel -> autorefresh (autosync)
- start -> autorefresh (autosync)
- abort -> autorefresh (autosync)
- complete -> ??? (I've missed the opportunity to test the completion after a missed day as the debug menu is gone =)

After second thought, I believe it maybe something with missing a day (it does notify "please refresh"), not actually with quest completion.

[2016-05-18 10:26] ghost commented on #7323
This is just to notify @Memry about the findings from #7339

[2016-05-18 10:29] paglias commented on #7210
@lynnyliz sorry for all the problems with this, it should work now!

[2016-05-18 10:29] paglias commented on #7336
yeah we should block this from the UI... in the meantime I made a change so when an error like this occurs it'll automatically sync the user without a manual reload

[2016-05-18 10:36] ghost commented on #7332
Update on completing a quest:
- +progress +missed_day - manual sync - completion modal and no autosync
- +progress +missed_day - manual refresh - completion modal and Error Unexpected error (config.js:57:11)

I'll test normal cron in about half an hour (if CDS works)

[2016-05-18 10:39] ghost commented on #7161
Sorry for spamming, but I couldn't help mentioning that a new system message is really great!

[2016-05-18 10:54] ghost opened #7343 "[API v3] Public guild with no members is still on the list"
_Originally reported in the Tavern Chat by @Memry but it seems I can't find the corresponding issue on GitHub, sorry if it's duplicating another ticket_

A guild with no members is still on the list of public guilds, e.g. https://v3.habitica.com/#/options/groups/guilds/870e2ca0-30b1-49df-9107-75188a58cb00

When trying to access an abandoned party, e.g. https://v3.habitica.com/#/options/groups/guil

[2016-05-18 10:58] Alys commented on #7343
Ah, that's actually okay! Public guilds aren't automatically removed when they have no members because it's possible for new members to join.

It's only private guilds and parties that are deleted when the last member leaves. :)

[2016-05-18 10:58] #7343 closed, assigned to nobody

[2016-05-18 11:03] ghost commented on #7332
@paglias FYI after your test from 15 minutes ago I keep getting quest invitation each time I refresh the page. Accepting or rejecting gives an error "No quest invitation found" or "No invitation has been sent out yet"

[2016-05-18 11:21] ghost commented on #7319
- Old challenge, I'm the owner and a member - OK, but I had to refresh to see the congratulations modal
- Old challenge, I'm the owner but not a member - not able to declare myself a winner (I guess it's OK)
- Old challenge, I'm the owner but not a member - after joining - OK (as in point 1)
- New challenges (including new v3 ones cloned from v2 ones a couple of days ago) - OK

@paglias all in all

[2016-05-18 12:10] teles opened #7344 "Some emojis are missing"
General Info
- UUID: 616cdbe4-edd9-4cf4-8789-dbf2872ae97b
- Browser: Chrome
- OS: Linux
### Description

Some emojis are missing on habitica.
I'm trying to use some emojis from this [emoji cheatsheet](http://www.emoji-cheat-sheet.com/) but the emoji codes are not being turned into emojis.

It happens with the :octocat: emoji and emojis from doom game, just like :godmode: and :goberserk: .

I didnt

[2016-05-18 12:19] Alys commented on #7344
Oh great point! Our documentation on the wiki was outdated - we hadn't updated it since we started using that library.

I've just now modified the wiki's [Emoji](http://habitica.wikia.com/wiki/Emoji) page to state that we use the  snicker/js-emoji library, and that it provides many, but not all of the emoji from the Cheat Sheet.

Thank you for pointing that out!

[2016-05-18 12:19] #7344 closed, assigned to nobody

[2016-05-18 12:22] crookedneighbor commented on #7344
@Alys It doesn't use snicker-js anymore.

Also, those emojis demonstrated aren't standard emojis. They are Github specific.

[2016-05-18 12:23] ghost commented on #7344
is it difficult to have a page listing all the emojis (with codes) supported by Habitica?

[2016-05-18 12:23] crookedneighbor commented on #7344
https://github.com/HabitRPG/habitica-markdown/blob/master/plugins/data/unicode-emoji.js

😄

[2016-05-18 12:30] Alys commented on #7344
Oh, sorry!  snicker-js is still listed in bower.json and I had forgotten the details of the emoji change. I'd editing the wiki page again. :)

[2016-05-18 12:58] crookedneighbor commented on #7344
It's only in bower for making the chat extension not error immediately https://github.com/Horacious/HabitRPG-Chat-Extension/pull/40#issuecomment-214967878

[2016-05-18 13:01] paglias commented on #7319
@GitHubSphinx thanks!

[2016-05-18 13:01] #7319 closed, assigned to nobody

[2016-05-18 13:31] #7309 closed, assigned to nobody

[2016-05-18 13:32] paglias commented on #7259
Fixed with https://github.com/HabitRPG/habitrpg/commit/7ea581bb38881f36f8b651172c871fb99b0fde5e

[2016-05-18 13:32] #7259 closed, assigned to nobody

[2016-05-18 13:32] paglias commented on #7295
Fixed with https://github.com/HabitRPG/habitrpg/commit/7ea581bb38881f36f8b651172c871fb99b0fde5e

[2016-05-18 13:32] #7295 closed, assigned to nobody

[2016-05-18 13:35] ghost opened #7345 "[API v3] Redirected to party after inviting a user to a guild (and possible issues with email invitiation)"
General Info
- UUID: several
- Browser: FF 46.0.1
- OS: win10
### Description

Inviting a user to a guild works, but then the page refreshes and I'm taken to https://v3.habitica.com/#/options/groups/party.

Besides, it seems that I'm not getting invitations by email (I'm not creating a separate issue, because I'm not sure that email features are supposed to work - I'm not getting any emails from v

[2016-05-18 13:36] #7165 closed, assigned to nobody

[2016-05-18 13:38] Alys commented on #7161
Reopening because I still need to finish the automatic tests, and also a few things that we can't do until later.

@paglias If you want the title changed so that it doesn't fall into your API v3 filter, that's fine with me!

[2016-05-18 13:41] melissamcewen commented on #1806
Can someone add a70c8dd3-754c-472e-9aad-29f1bafe2273
 as a leader of e02f5aae-f406-41f8-a24f-b2a85316cc0e? Or is there a way to do this with the API? Thanks!

[2016-05-18 13:46] Alys commented on #1806
@melissamcewen I can, but I need to be certain that it's the current guild leader who's requesting it and that's most easily done if you request it through Habitica itself, where I can confirm your User ID from your profile. Sorry about that! It's just standard practice we follow whenever we change a group's leader. Could you please copy your message and send it to me as PM or paste it into the Ne

[2016-05-18 13:46] teles commented on #7344
Thank you guys. @crookedneighbor, according to emoji-cheatsheet all listed emojis are supported in many websites besides github.
Is there an official emojis list which we can use as habitica emojis?

[2016-05-18 13:51] melissamcewen commented on #1806
@Alys thanks I sent a message just now

[2016-05-18 13:53] citrusella commented on #7345
I felt the need to mention when I read this that I've gotten email notifications for private messages at least.

[2016-05-18 13:53] ghost opened #7346 "Danger zone (delete and reset account) may need password protection"
It struck me when dealing with multiple testing accounts: deleting or resetting the account doesn't require the password. So anyone can reset or delete account if they find a device with Habitica page opened and user signed in. It just doesn't feel right.

Suggestion: confirmation modal may have two text fields:
_Confirm your action_: **_DELETE**_ or **_RESET**_ _(typed in)_
_Confirm your password

[2016-05-18 13:57] #7162 closed, assigned to paglias

[2016-05-18 13:59] Alys commented on #1806
@melissamcewen Thank you! I've changed the guild leader.

[2016-05-18 13:59] paglias opened #7348 "API v2 Deprecation steps"
### Before
- [x] Announce retirement date and update v2 static page / write blog post
### Deprecation
- [x] Write catch all route for v2 requests that returns an error
- [x] Remove links to v2 docs
- [x] Remove files
- [x] Remove code used to support it

[2016-05-18 14:00] Alys commented on #7344
@teles The link @crookedneighbor posted contains the full list, and I've copied that link to the wiki's  [Emoji](http://habitica.wikia.com/wiki/Emoji) page.

[2016-05-18 14:01] ghost commented on #7162
@paglias will there be any additional info on this task in the future?

added:
e.g. "the new url"?

added:
Never mind, I guess it'll be in https://github.com/HabitRPG/habitrpg/issues/7348

[2016-05-18 14:01] GitHubSphinx commented on #7162
e.g. "the new url"?

[2016-05-18 14:05] GitHubSphinx commented on #7162
Never mind, I guess it'll be in https://github.com/HabitRPG/habitrpg/issues/7348

[2016-05-18 14:07] teles commented on #7344
Thanks @Alys.

[2016-05-18 14:07] paglias commented on #7162
@GitHubSphinx if you go to v3.habitica.com in 15 minutes there'll be some new links in the footer under "Developers" (below Community). They may change before the release though

[2016-05-18 14:11] paglias commented on #7161
@Alys sorry, I should have asked! It's fine to keep it under API v3

[2016-05-18 14:13] #7270 closed, assigned to nobody

[2016-05-18 14:18] TheHollidayInn commented on #7302
Hmm. It looks like this only shows if you have disabled classes. I'm not able to replicate this as an error.

`button.btn.btn-default(ng-if='user.preferences.disableClasses==true', ng-click='User.changeClass({})', popover-trigger='mouseenter', popover-placement='right', popover=env.t('enableClassPop'))= env.t('enableClass')`

[2016-05-18 14:39] paglias commented on #7166
Fixed but needs manual testing

[2016-05-18 14:40] paglias commented on #7345
@GitHubSphinx can you invite me to a guild?

[2016-05-18 14:44] paglias opened #7350 "[API v3] Changing email / password requires password (needs UI change)"

[2016-05-18 14:44] Alys commented on #7246
I didn't get time to look at this today but I agree with @crookedneighbor that it's not a blocker. The bug won't be noticed very often, and I'm confident I can fix it when I have a bit of time. Most likely in the next couple of days. Others are still welcome to work on it if they want.

[2016-05-18 14:44] paglias commented on #7346
@GitHubSphinx thanks! This reminded me of https://github.com/HabitRPG/habitrpg/issues/7350

[2016-05-18 14:51] paglias commented on #7230
Fixed in https://github.com/HabitRPG/habitrpg/tree/api-v3

[2016-05-18 14:51] #7230 closed, assigned to nobody

[2016-05-18 14:51] paglias commented on #7230
correct link is https://github.com/HabitRPG/habitrpg/commit/73dd9f5920dc87d8cdd081bd89821dbec33a6206

[2016-05-18 14:52] paglias commented on #7332
@GitHubSphinx the quest invitation should clean up itself when the quest finishes

[2016-05-18 14:53] ghost commented on #7345
@paglias It's any guild for me and my second testing account

You had been invited to a private guild and I've invited you to another one just now

[2016-05-18 14:56] GitHubSphinx commented on #7345
You had been invited to a private guild and I've invited you to another one just now

[2016-05-18 14:57] paglias commented on #7345
Hmm not sure why but I'm not getting any email

[2016-05-18 14:57] #7177 closed, assigned to nobody

[2016-05-18 14:57] quin-jay commented on #7210
@paglias Oh dear, the Invalid Target error is gone, but it looks like the spell doesn't actually work for some reason. I'll open a new issue for that, with screenshots

[2016-05-18 14:58] ghost commented on #7345
nononono. I've invited you with your UID. What email should I use?

Added: I've sent invitation to the email you usually use

[2016-05-18 15:00] GitHubSphinx commented on #7345
Please check the one you usually use to contact me

[2016-05-18 15:04] paglias commented on #7345
@GitHubSphinx my UID is linked to that email, it's probably something wrong with the code that send emails, we'll check later, now I'm having problems logging in to our email provider

[2016-05-18 15:05] ghost commented on #7332
@paglias no active quest, but I still see the modal each time I reload a page

[2016-05-18 15:07] paglias commented on #7332
okay, can you open a new issue?

[2016-05-18 15:07] citrusella opened #7352 "[API v3] Display name inexplicably changed to "Anonymous""
General Info
- UUID: 2d6ef231-50b4-4a22-90e7-45eb97147a2c
- Browser: Mozilla Firefox 46.0.1
- OS: Windows 7 Professional Service Pack 1 (via Bootcamp on a late-2011 Macbook Pro)
### Description

My display name changed from "citrusella, the serving wench" to "Anonymous" for no clear reason. Login name and info remains normal. This may have coincided with my getting a notification of invitation to

[2016-05-18 15:17] ghost opened #7353 "Reject button should always delete quest invitation (was: Keep getting invitations for an already completed quest)"
_edit by admin:_

The immediate problem described below has been fixed (the bad invitation no longer exists).

**However we should change the reject button so that it always works, even if the invitation is for a quest or party that are no longer relevant. I.e., clicking the reject button should ALWAYS completely remove the invitation.**

This issue is now for implementing that change.

---

Gener

[2016-05-18 15:27] #7327 closed, assigned to nobody

[2016-05-18 15:27] paglias commented on #7220
Fixed, will go live in a few hours

[2016-05-18 15:27] #7220 closed, assigned to nobody

[2016-05-18 15:42] paglias commented on #7345
Fixed, will go live later

[2016-05-18 15:43] paglias opened #7355 "[API v3] Return `id` in toJSON"

[2016-05-18 15:44] paglias opened #7356 "[API v3] After quest is started quest box becomes empty"
Refresh fixed @TheHollidayInn

[2016-05-18 15:45] paglias opened #7357 "[API v3] Rejecting guild invite doesn't update the UI"

[2016-05-18 16:40] TheHollidayInn commented on #7356
How did you start the quest?

[2016-05-18 16:48] paglias commented on #7356
Sorry, not started, I invited the party sign the Start a quest button
Il 18 mag 2016 6:40 PM, "Keith Holliday" notifications@github.com ha
scritto:

[2016-05-18 16:51] paglias commented on #7210
@lynnyliz it works fine for me

[2016-05-18 17:00] ghost commented on #7356
I really don't know if it's related, so please take it for what it's worth.

When testing for https://github.com/HabitRPG/habitrpg/issues/7332#issuecomment-219986340 and https://github.com/HabitRPG/habitrpg/issues/7332#issuecomment-219988758 I've seen it a couple of times but only in some combination of the following conditions:
- start a quest as normal
- +progress and +missed_day from debug
- f5

[2016-05-18 17:01] bdecesare opened #7358 "Item bought from armoire disappeared overnight"
Hello,

I received an item bought from the Enchanted Armoire yesterday (a lasso) and I had equipped the item during the day and then logged off around 5pm PST. As of this morning I no longer have that item and my old gear is now equipped.

Can I please get the item restored?

Thank you

General Info
- UUID: e47cf3d2-4b92-40fc-9ffc-b29058788891
- Browser: safari
- OS: Yosemite Max OSX
### Descripti

[2016-05-18 17:02] GitHubSphinx commented on #7356
added:
that's not actually a "combination", but rather the sequence that may also need some external factors to produce the bug

[2016-05-18 17:08] GitHubSphinx commented on #7356
I can't make it happen on a new account in a party of one

[2016-05-18 17:11] ghost commented on #7254
Here is the screenshot on a mobile network, on a HTC m8 running Cyanogenmod 12.1.
![2016-05-17 16 25 26](https://cloud.githubusercontent.com/assets/4882150/15368021/12f8bb30-1d2c-11e6-9172-db26c6e8bede.png)

[2016-05-18 17:21] ghost opened #7359 "[API v3] Errors in modal for getting Mundane-1 quest"
General Info
- UUID: any
- Browser: ff 46.0.1
- OS: win10
### Description
- The modal shown upon reaching a certain level and giving a player the Attack of the Mundane, Part 1: Dish Disaster! quest suggests creating a party even if the user is in a party of one.
- The Create a Party button doesn't work even if the user is not in a party) producing error:

[code]

[2016-05-18 17:27] GitHubSphinx commented on #7254
@Blablux have you tried it with a fresh new account?

[2016-05-18 17:28] GitHubSphinx commented on #7254
oh, yes, sorry I've missed it. Deleting my question

[2016-05-18 17:40] ghost commented on #7353
@paglias I've accepted the invitation for the next quest. Previous invitations are gone. Please ping me when you want me to do something or I'll just PM you my login and password.

[2016-05-18 18:07] citrusella commented on #7358
Had it been awhile since you synced when you used the armoire? You might have gotten something else, including experience or food. (That's a known bug.) You could go into Fix Character Values and add back the gold you spent if you feel it unfair. (It's possible someone might restore the item, but this is the advice I always see being given as well, so I figured I'd give it since I was here.)

[2016-05-18 18:11] bdecesare commented on #7358
Thank you citrusella. I synced at the beginning and end of my day yesterday and didn't notice anything until this morning. If they are unable to give me back that item I will definitely do what you suggested, thanks for that!

[2016-05-18 18:55] lemoness commented on #2805
This happened with one of my API test accounts, but not the other.
- Account was created yesterday. Tab was not left open overnight anywhere on my computer. Account WAS logged in on mobile phone, but had not been checked since the previous day.
- Account dealt damage (in addition to having it reported) a total of three times.

[2016-05-18 19:01] ToxicCosmos commented on #6644
I've lost my Bat-tle Armor, some time in the last few days... I wasn't paying attention, unfortunately.  And I don't know if I was refunded my gold... unless you lose gold when you don't complete a daily (I've missed 3 this week, I believe. I haven't noticed. It cost 90g and I have 74g.
4aa77137-e41f-408d-9c9b-9c6876744140
Using Chrome on Windows 10

[2016-05-18 19:50] #7229 closed, assigned to nobody

[2016-05-18 19:56] paglias commented on #7353
@GitHubSphinx Yeah I think it happened because we did a lot of quests very fast. Probably I should allow some flexibility and just let users delete invitations even if the quest already started

[2016-05-18 19:59] ghost commented on #7353
I didn't have a chance to test the Ask Later button. So I can't say if it
could have helped. But what do you mean by delete invitations?

[2016-05-18 20:00] paglias commented on #7353
@GitHubSphinx the ask later button won't change much, it'll just ask you later. By deleting I mean that if for some reason you have an invalid quest invitation (for a quest that already started for example) you should always be able to reject it

[2016-05-18 20:12] paglias commented on #7352
Fixed, it happened when booting a user! Thanks foe the report, it was difficult to spot

[2016-05-18 20:12] #7352 closed, assigned to nobody

[2016-05-18 20:24] Alys commented on #6644
@ToxicCosmos That's a different situation and not from a bug. You lost the item because your health dropped to zero and you "died". You can read about the effects of death at http://habitica.wikia.com/wiki/Death_Mechanics or ask for more information at the Newbies guild (Help > Ask a Question from the website, or Menu > Guilds on the app). As always with an item lost from death, you can buy it bac

[2016-05-18 20:24] #6644 closed, assigned to nobody

[2016-05-18 20:33] Alys commented on #7358
@bdecesare Sorry about that! You were hit by this bug: https://github.com/HabitRPG/habitrpg/issues/5376 - the text in bold at the top explains it, but it's as @citrusella says. You were given something else instead of what was reported, but it might have been food or XP. Definitely use Fix Character Values if you feel it was unfair!

[2016-05-18 20:33] #7358 closed, assigned to nobody

[2016-05-18 20:36] paglias commented on #7325
The options I see here are two:
- return {data, success, message, userV} at every request
- return userV only if ?userV=Number was passed in the request

[2016-05-18 20:48] ghost opened #7361 "can't use guild bank gems for challenge prize"
General Info
- UUID:
- Browser: opera
- OS: Android
### Description

When a guild leader creates a guild challenge and sets a challenge prize the site tells the maximum amount is the personal gem count and it doesn't include the 4 gems from the guild bank. In other words challenges with prize exceeding your own gems won't save even if your guild bank has more of them.
#### Console Errors

[2016-05-18 20:54] Alys commented on #7302
I can't reproduce the bug in the test site. After rebirth, the button doesn't appear until after I've reached level 10 and opted out.

[2016-05-18 20:55] GitHubSphinx commented on #7361
Description simplified

[2016-05-18 20:57] Alys commented on #7353
@paglias I really like that idea.

[2016-05-18 21:01] Alys commented on #7361
I couldn't replicate that with a public guild I just created. The 1 gem prize was taken from the guild gems. @GitHubSphinx You were made leader of the guild after being invited back to it?

[2016-05-18 21:02] ghost commented on #7361
Strange. I've created the new one just now. The same issue as reported initially for the private guild which I left and then rejoined.

[2016-05-18 21:16] GitHubSphinx commented on #7361
Is everything OK?
![screenshot_2016-05-19-02-14-39](https://cloud.githubusercontent.com/assets/6691162/15375284/a63c7590-1d67-11e6-9bdc-142a62f45efc.png)

[2016-05-18 21:27] citrusella opened #7362 "[API v3] "There is no account that uses those credentials""
General Info
- UUID: 2d6ef231-50b4-4a22-90e7-45eb97147a2c
- Browser: Firefox 46.0.1
- OS: Windows 7 Service Pack 1 (via BootCamp on late-2011 Macbook Pro)
### Description

Get the error in the title when I attempt to do... pretty much anything. Usually two, but sometimes up to eight on a reload of the site. My account still seems to exist, in that it's providing me all the relevant things I should

[2016-05-18 21:28] paglias commented on #7294
Fixed

[2016-05-18 21:28] #7294 closed, assigned to paglias

[2016-05-18 21:31] paglias commented on #7361
Sorry I messed up with the testing database and right now we don't have a working testing site

[2016-05-18 21:32] paglias commented on #7362
Sorry I messed up with the testing database and right now we don't have a working testing site

[2016-05-18 21:32] paglias commented on #7361
Sorry I messed up with the testing database and right now we don't have a working testing site

[2016-05-18 21:53] ghost commented on #7362
May we have this issue open maybe to get it somewhere on top for those who browse only the list of open tickets?

[2016-05-18 22:00] paglias commented on #7362
Good idea

[2016-05-18 22:01] #7302 closed, assigned to nobody

[2016-05-18 22:02] TheHollidayInn commented on #7254
@paglias Do we log errors? Maybe we can view errors on the server at the time.

Has anyone else been able to reproduce?

[2016-05-18 23:05] lemoness commented on #7362
mLab is working on restoring a backup now! We'll keep you posted when it's complete.

[2016-05-19 00:11] lemoness commented on #7174
A very thoughtful list of changes!
1. I agree. It would be nice to have this be larger and more prominent.
2. I don't think we need to add links to images, since these are images for
   journalists to download, but if there are any that you feel would benefit
   in particular from a link, let me know.
3. Another good comment! Do you need separate files from me?
4. I absolutely concur. It would be

[2016-05-19 03:00] quin-jay opened #7364 "[API v3] Searing Brightness doesn't stick"
UUID: 1534a0ee-2f69-4c2e-9659-0d719ac2ea68
Browser: Chrome 50.0.2661.94 m
OS: Windows 10
### Description

This is an issue I was having this morning, but halfway through writing this report I had to go out and do things for most of the day. Now I'm unable to test this because of the database issue, but it was pretty consistent for me this morning, and I managed to get a couple of screenshots.

Whe

[2016-05-19 06:20] TheHollidayInn commented on #7325
This would be in the user controller? I think return userV on every request. I like the idea of change for a change and syncing if need be.

[2016-05-19 13:20] paglias commented on #7325
I'm a bit against to adding it automatically to every response because it would be a bit like saying that the userV is the only meaningful version to keep track of while instead this is not true (there are tasks, groups, ...) and tracking only the user version is a sort of simplification

[2016-05-19 13:27] paglias commented on #7254
@TheHollidayInn we do log errors but there aren't linked to @Blablux 's account and the type of notification he gets means that the request has timed out, like if it got stuck somewhere

[2016-05-19 14:54] Alys commented on #7246
Ha. Found it. _calculateDelta() was being called with a wrong parameter. It's really, embarrassingly obvious once you know what it is. :) I'll do a PR tomorrow after some testing. Too late at night now.
[EDIT: https://github.com/Alys/habitrpg/commit/9d97738bd9e38f31605285875779e0c00cb29b29 but there'll likely be other edits too]

I've also been doing some refactoring of common/script/ops/scoreTask

[2016-05-19 17:11] Sara-lily commented on #4610
I saw the "Invitation sent" message as well, but the person I sent the invitation to never received the e-mail and they don't show up in the "Invited" section of my party.

[2016-05-19 18:13] #7166 closed, assigned to paglias

[2016-05-19 18:15] paglias commented on #7362
It should work again. But the data may comes from a backup so your last actions weren't saved

[2016-05-19 18:15] #7362 closed, assigned to nobody

[2016-05-19 18:15] paglias commented on #7364
@lynnyliz could you try again for the last time? thanks!

[2016-05-19 18:16] paglias commented on #7170
IMPORTANT: after the old site is down for maintenance change the email unsubscription url to /email/unsubscribe

[2016-05-19 18:19] paglias commented on #7364
I was able to replicate this

[2016-05-19 18:54] ghost commented on #7361
The issue with the guild bank is still an issue for me. I've just tested it on FF for win.
- I've created a new guild
- I switched to challenges
- I clicked Create
- I've chosen the new guild from the drop-down menu (another guild had been selected by default)
- The gem prize won't raise above my personal gems
- trying to save the challenge with more gems specified as prize shows the hint (for som

[2016-05-19 19:11] ghost commented on #7345
I've just tested it
- no redirect (OK)
- got e-mail notification when invited by email (OK)
- didn't get email notification when invited by UID (FAIL)

[2016-05-19 19:38] ghost commented on #7345
Just to confirm about email notifications:
- challenge won - OK (as an example of other notifications working)
- invitation to a guild via email - OK
- invitation to a guild via UID - invitation is shown in Habitica OK, email notification FAIL

[2016-05-19 19:42] #7355 closed, assigned to nobody

[2016-05-19 19:59] #7173 closed, assigned to nobody

[2016-05-19 20:25] Alys commented on #7167
When turning on maintenance mode on the production server, also set CRON_SAFE_MODE environment variable to "true".  @FYI @SabreCat or @paglias

[2016-05-19 20:30] paglias commented on #7361
@TheHollidayInn can you give a look? i think the number of available gems is not counted correctly

[2016-05-19 20:30] paglias commented on #7361
In the client files

[2016-05-19 20:34] paglias commented on #7345
Fixed, test in one hour and it'll work

[2016-05-19 20:34] #7345 closed, assigned to nobody

[2016-05-19 20:42] paglias commented on #7364
Fixed, in 30 minutes it'll be live

[2016-05-19 20:42] #7364 closed, assigned to nobody

[2016-05-19 20:44] paglias commented on #7336
Going to be a change for after v3

[2016-05-19 20:45] paglias commented on #7359
@TheHollidayInn can you give a look to this one too? Thanks!

[2016-05-19 20:49] TheHollidayInn commented on #7361
Will do!

[2016-05-19 20:59] #7350 closed, assigned to nobody

[2016-05-19 21:19] phillipthelen opened #7369 "[API v3] IAP routes give wrong gem count"
### Description

purchasing 4 gems on iOS results in an increase of 25 gems.

if needed, I can also test other amounts.

[2016-05-19 22:35] JerseyEmerald opened #7371 "Egg Quest, missing rewards"
General Info
- UUID: 743aac61-a781-41e1-8017-1610873fcfa4 PARTY ID
- Browser: varies
- OS:
### Description
#### Console Errors

No errors
All items found! Party has received their rewards. -2 days ago+1

[2016-05-19 22:48] JerseyEmerald commented on #7371
These are the team members missing  10 plain eggs
Again, second time we did this quest
Is the problem due to it being out of season
Afternoon Tea

Group Leader:Lazyez8
Members

Lazyez8
Smokeflower
Roberto
SlayerSSavate
JerseyGirl01
corilannam
KarlBear
Kinsey
Ak14523
PhoenixFlorid
andianiherlina
Akai Akane
claritastic
Bomber1705
nickdin
An Na
Absolute_Zero
mourad244
Arthur_
Fly
Inuky
ColourCarnival

[2016-05-19 22:57] quin-jay commented on #7364
Yep, the skill works now! Thank you :D

[2016-05-19 23:12] quin-jay commented on #7336
Now that Searing Brightness is working for me again, I can confirm that the skill does not change challenge tasks -- neither in color nor in score. Also, it didn't do the thing Pickpocket was doing, where it looked like it DID work on challenge tasks until I synced or refreshed.

I just checked Pickpocket again, and @paglias your automatic sync works beautifully: XP, gold, and mana are immediately

[2016-05-19 23:13] Alys commented on #7371
I've given the achievement and rewards to everyone in your party. Reload if you don't see them. Please tell me if they don't appear after that!

This isn't related to the quest being out of season. Once you own a quest scroll, you can use it at any time. This is just the standard bug that sometimes happens when a medium- to large-sized party finishes any quest. Sorry about the trouble!

[2016-05-19 23:13] #7371 closed, assigned to nobody

[2016-05-19 23:40] JerseyEmerald commented on #7371
Thank you!!!

[2016-05-19 23:50] Alys commented on #7336
I agree on "allowed" - it's much more natural language. I'll push a fix.

[2016-05-19 23:57] Alys commented on #7336
@paglias Two tiny text changes which I did as a direct commit since they're so small. Tell me if you'd prefer that not be done for api-v3. https://github.com/HabitRPG/habitrpg/commit/b9d55e35620ba6b7e56493d8cb3c15e69cb4bb1c

[2016-05-20 03:20] teles opened #7373 "Fix small typo on quest notes"
General Info

UUID: 616cdbe4-edd9-4cf4-8789-dbf2872ae97b
Browser: Chrome
OS: Linux
### Description

There is a small typo in the "Ataque do Mundano, Parte 3: O Lavadeiromante" quest. In portuguese there is no such word "ATRAVE" and the correct would be "ATREVE".

So, this line

should be replaced like this:

I know it's a very small detail.

[2016-05-20 03:41] citrusella opened #7375 "[API v3] Special potion pets (except floral) only seem to display the ones you've hatched"
General Info
- UUID: 2d6ef231-50b4-4a22-90e7-45eb97147a2c
- Browser: Firefox 46.0.1
- OS: Windows 7 Service Pack 1 (via BootCamp on late-2011 Macbook Pro)
### Description

In my pets page (and mounts page), after I've used all of a special potion, the pet spaces on the list for that potion in the stable only show the hatched (or tamed to mount) pets/mounts. (That is, on the pets page, it will not

[2016-05-20 03:52] Alys commented on #7373
I"m sorry but we can't accept changes to translations through GitHub because they are done in Transifex. Could you please see the _README_FIRST.md file in the directory that this changed file is in? That will point you to documentation about how to help with translations - we'd love to have your help in Transifex!

[2016-05-20 03:52] #7373 closed, assigned to nobody

[2016-05-20 04:56] cTheDragons opened #7376 "[API v3] Deleting a challenge will not return gems back to owner"
General Info
- bc10ec41-4213-4482-bbb8-558e3c3ea8d5
- Opera   37.0.2178.43
- Windows 8.1 32-bit
- Create a challenge with X number of gems. (Examples used 16 & 2)
- Remove yourself as the participant of the challenge.
- Save.
- Open the challenge by itself through the guild link.
- End challenge.
- Gems are not return.
  This was for challenges created prior to migration and new challenges.

[2016-05-20 05:22] Alys commented on #7376
If that was in the Tavern, it's expected behaviour and occurs in the current live site as well. It's possible (likely?) that we'll be changing it in future, but for now we're keeping the same behaviour. Refs: https://github.com/HabitRPG/habitrpg/issues/7272#issuecomment-219680193 and https://github.com/HabitRPG/habitrpg/pull/5137

If it was in a guild or party, please tell us!

[2016-05-20 06:03] TheHollidayInn commented on #7356
I can't replicate this issue. When I click the start a quest button and follow through with creating a quest, everything updates normally.

[2016-05-20 06:07] TheHollidayInn commented on #7325
Well, the related items are synced differently, so I think the simplification is correct. We don't need to sync the groups and tasks at the same time we sync the user.

[2016-05-20 06:20] TheHollidayInn commented on #7312
@paglias The front end is an easy fix, however, the tags don't have any tagOrder field like tasks do. I think we need to add a index key to the tag model and update the api to use this. Does that sound correct to you?

[2016-05-20 07:58] cTheDragons commented on #7376
It was in the [⚔ The Duelling Grounds ⚔](https://v3.habitica.com/#/options/groups/guilds/2f6085fe-5382-46d6-a0ac-c1b16f4f7780).

I believe it has worked for me in the actual site.

[2016-05-20 08:24] Alys commented on #7376
Darn. I don't suppose the gems reappeared later after a sync or reload?

[2016-05-20 08:26] paglias commented on #7312
Hmm. The tags are saved as an array so we can directly reorder it
Il 20 mag 2016 8:20 AM, "Keith Holliday" notifications@github.com ha
scritto:

[2016-05-20 08:29] cTheDragons commented on #7376
The first 16 gems no. The other 2 did.

Just testing again in Tavern, Dueling ground and party now.

[2016-05-20 08:38] TheHollidayInn commented on #7312
Oh, well never mind then :P

[2016-05-20 08:42] cTheDragons commented on #7376
Ok
Created 2 gems in my party
Created 3 gems in Duelling Grounds
Created 5 gems in Tavern

Results
Ended 3 gems in Duelling grounds and after refresh gems returned
Ended 5 gems in Tavern gems did not return
unable to find 2 gem challenge in Party Page.
![partychallengenotshowing](https://cloud.githubusercontent.com/assets/14116069/15422170/67f02922-1eba-11e6-9be6-feaf7b01bf51.png)

But can see in

[2016-05-20 08:56] Alys commented on #7376
@cTheDragons Great tests, thank you!

Not ideal but we can live with that for a few days. A quick-and-dirty fix would be to call the reload function after a challenge is deleted.

Expected behaviour and same as current site, so that's okay (we'll probably change it later).

Confirmed (new bug) - after creating a challenge in my party and then going to my party page and reloading it, there's no cha

[2016-05-20 09:02] cTheDragons opened #7378 "[API v3] Unable to see challenges in Parties."
**General Info**
- bc10ec41-4213-4482-bbb8-558e3c3ea8d5
- Opera 37.0.2178.43
- Windows 8.1 32-bit
### Description
- Create challenge and attach to party.
- Go to Party and unable to challenge (as per image)
  ![Unable to See Challenge in Party](https://cloud.githubusercontent.com/assets/14116069/15422170/67f02922-1eba-11e6-9be6-feaf7b01bf51.png)

But can see in Challenge Page
![Can see challenge i

[2016-05-20 09:05] cTheDragons commented on #7376
New Issue Done[[API v3] Unable to see challenges in Parties. #7378](https://github.com/HabitRPG/habitrpg/issues/7378)

However I think there is still an issue with "deleting migrated challenges across" as my first challenge of 16 gems was not returned.

[2016-05-20 09:16] paglias commented on #7376
@Alys I'm closing this in favor of #7378. I'll open a new issue about refunding gems for Tavern challenges

[2016-05-20 09:16] paglias opened #7379 "Gems are not refunded when deleting a Tavern challenge"
_edit by Alys 2017-04-07:_

When a Tavern challenge is deleted by either the challenge owner or a moderator, the gem prize must be returned to the challenge owner.

[2016-05-20 09:18] paglias commented on #7246
This should be fixed, will go live today

[2016-05-20 09:18] #7246 closed, assigned to nobody

[2016-05-20 09:19] Alys commented on #7378
Confirmed.

[2016-05-20 09:19] cTheDragons commented on #7376
@paglias  This wasn't a Tavern Challenge. It was a migrated challenge in a guild that I deleted. Shouldn't this issue stay open?

[2016-05-20 09:23] paglias commented on #7376
@cTheDragons sorry I missed that part, reopening

[2016-05-20 09:24] paglias commented on #7369
@vIiRuS can you check this again? and that the app is sending the correct command to the site, I can't find how you would be awarded 25 gems

[2016-05-20 10:28] paglias commented on #7376
@cTheDragons The issue with old challenges is due to a bug with the migration that has been fixed but will still appear on the testing site because we cannot re-run the migration

[2016-05-20 10:28] #7376 closed, assigned to nobody

[2016-05-20 11:04] cTheDragons opened #7380 "[API v3] Unable to see who is invited the party"
### General Info
- bc10ec41-4213-4482-bbb8-558e3c3ea8d5
- Opera 37.0.2178.43
- Windows 8.1 32-bit
### Description

In the party page, invite user via UID.
Unable to see invited user in list.
![partyinvitednotshowing](https://cloud.githubusercontent.com/assets/14116069/15425847/4d518958-1ece-11e6-8a19-0997bb4df762.png)

Can see Anonymous in Guild view.
![partyinvitedshowingviaguildview](https://clo

[2016-05-20 11:20] TheHollidayInn commented on #7312
I still think I will need to add a new route. Maybe User update tags? Or should I add it to the tag controller?

[2016-05-20 11:21] paglias commented on #7312
Oh yeah a new route is necessary, I'd say in the tags controller
Il 20 mag 2016 1:20 PM, "Keith Holliday" notifications@github.com ha
scritto:

[2016-05-20 12:17] #7357 closed, assigned to nobody

[2016-05-20 12:28] ghost commented on #5365
I'd really like to bring this issue back up with the last announcement about the maintenance.

I guess translators could have had a note at least a couple of hours before the announcement goes online, if it's possible... Even with news being untranslatable at least they could have prepared themselves to be ready to post in language-specific guilds to prevent confusion, possible misunderstanding an

[2016-05-20 12:31] GitHubSphinx commented on #5365
Oops, that's just me who've missed the preliminary notice in the Aspiring Socialites guild due to being at work. I'm really sorry

[2016-05-20 14:15] allazaruniverse commented on #4252
Hey again, we completed the treeling quest, and there haven't been any treeling eggs rewarded.

Here is our Group ID; Group ID: c5787e63-cdcb-4936-9910-9e3d2408952d

<img width="1212" alt="screen shot 2016-05-20 at 9 08 52 am" src="https://cloud.githubusercontent.com/assets/16870201/15430473/2693e666-1e6b-11e6-83d6-ac3972560136.png">

Thanks!

[2016-05-20 14:20] ghost commented on #5365
I'm afraid my message might have sounded ignorant or even disrespectful, although I haven't meant it like that. Ordinary users can only imagine how much effort this massive project has taken and I personally admire the team's commitment to finish it respecting deadlines. I do understand that translations issues are of lower priority than other general development tasks, especially the ones include

[2016-05-20 14:54] TheHollidayInn commented on #7291
@crookedneighbor finished this up. So this should be fixed now.

[2016-05-20 15:09] TheHollidayInn commented on #7378
I got this.

[2016-05-20 15:20] #7291 closed, assigned to nobody

[2016-05-20 15:20] crookedneighbor commented on #7291
I don't think this has been deployed to the test site yet.

[2016-05-20 16:49] ghost opened #7382 "[API v3] Path shortName is required - if challenge tag isn't at least 3 symbols long"
General Info
- UUID: -
- Browser: ff 46.0.1
- OS: win10
### Description

Creating a new challenge...
- set no tag - get notification in your default (system?) language (not the one Habitica is set to use) - looks strange
- set tag of e.g. two symbols - get error "Path `shortName` is required" instead of a specified error for this case
#### Console Errors

![scr](https://snag.gy/MVgKCI.jpg)

[2016-05-20 18:41] cTheDragons commented on #7378
Noticed it also not working in the Tavern too. New Ticker or with this suffice?

![tavernchallengesnotshowing](https://cloud.githubusercontent.com/assets/14116069/15438194/4b3e3856-1f0e-11e6-8572-c571c749152f.png)

[2016-05-20 19:08] cTheDragons opened #7384 "[API v3] Unable to change party leader"
### General Info
- bc10ec41-4213-4482-bbb8-558e3c3ea8d5
- Opera 37.0.2178.43
- Windows 8.1 32-bit
### Description
- Party was migrated.
- Party is only 7 users
- Trying to assign another user as leader.
- Get Request Entity Too Large Error message
- Party Leader not change
- Can't edit party unless refresh.
- Seems to be related too https://github.com/HabitRPG/habitrpg/issues/1471 but doesn't fit

[2016-05-20 19:11] TheHollidayInn commented on #7378
They are related, so keep it here. Thanks!

[2016-05-20 19:24] NickyInWonderland commented on #7092
Hello again..

everything was working fine, until the new month started. My subscription is gone again, even though it hasn't officially ended yet. And I just realized, that I haven't received the subscribers gift for April as well...

What should I do? I already tried to delete my local data again, but it didn't work.

Thanks again for your help :)

[2016-05-20 19:48] ghost commented on #7384
I was able to change party leader as expected in a new party.

@cTheDragons something you may want to test a bit more (possibly what you've mentioned in the v3 Tavern):
- old leader had notification about a new message in the party
- old leader leaves the party
- notification stays there even if you click it (will result in the error group not found)
- you can clear this notification with the X bu

[2016-05-20 20:33] SabreCat commented on #7375
@citrusella: If I'm following correctly, this is the intended behavior. The black paws are meant to show "this is a pet you could obtain!" That's only true if (a) you have a potion of that type; or (b) the potions are available for purchase. Since Spooky and Peppermint Potions are not currently "in season", the only way you'll see the black paws is by adding one or more of those potions to your in

[2016-05-20 20:33] #7375 closed, assigned to SabreCat

[2016-05-20 20:36] SabreCat commented on #7161
Based on the above conversation, I'm moving the remainder of this ticket to "post-v3" -- feel free to fix if that's in error!

[2016-05-20 20:39] lemoness opened #7385 "Add art credit to old news"
The Bailey announcement for the Tangle Tree is missing credit for one artist: plumilla! They should be added to the list of artists who contributed to that quest art.

[2016-05-20 20:50] Alys commented on #7385
I'll do this now.

[2016-05-20 20:52] #7385 closed, assigned to nobody

[2016-05-20 20:53] Alys commented on #7385
@lemoness Do you want a deployment to production specifically for this? I'm happy to do that if desired.

[2016-05-20 21:04] Alys commented on #7161
I've moved it back. :) Most of the "later" actions are for later today/tomorrow. Add blog post URL when it's available, update environment variables.

[2016-05-20 23:15] lemoness commented on #7385
No, it can go with the next planned one!

On Fri, May 20, 2016 at 1:53 PM, Alys notifications@github.com wrote:

[2016-05-20 23:20] MKBGeorgi commented on #4252
Hey there, we seem to be having a similar issue.

Our group completed the laundromancer quest today.  Our group received the potions and the completion awards, but not the 125 gold.  Both members of the group have the same issue.

Our group id is d2834408-ca72-4878-b38c-558ae5bbcc70

Thank you so much in advance, we appreciate it.

[2016-05-21 00:35] citrusella commented on #7375
Ah! I had no idea that was intended behavior, probably because I keep one of each potion lying around after the season ends and have yet to use any of them, so I wouldn't have seen that happen on the production site. I guess I learn something new every day! :smile:

[2016-05-21 02:11] Alys commented on #7385
Also done in api-v3 branch: https://github.com/HabitRPG/habitrpg/commit/d36c514c06428acaee6bdd9e62830de88c848183

[2016-05-21 03:07] crookedneighbor opened #7387 "[API v3] v2 task update routes should not change _id"
https://github.com/HabitRPG/habitrpg/blob/d36c514c06428acaee6bdd9e62830de88c848183/website/server/models/task.js#L152

Looks like this would set the `_id` on a task. Is that right?

[2016-05-21 03:48] Alys commented on #4252
@WillowKB : There's no record of that quest in your current party quest log. Do you remember which Moonstone quest it was?

@allazaruniverse : I've given the achievement and rewards to your party. Reload if you don't see them. Please tell me if they don't appear after that!

@MKBGeorgi : You both have the achievement and Helm. Typically with quest completions, each player always receives either al

[2016-05-21 03:59] cTheDragons opened #7388 "Tag list in tasks starts collapsed option setting is inverted"
### General Info
- bc10ec41-4213-4482-bbb8-558e3c3ea8d5
- Opera 37.0.2178.43
- Windows 8.1 32-bit
### Description

When setting _Open new tasks in edit mode_ is ticked.

Setting _Tag list in tasks starts collapsed_ option to ticked (on) when you go and create a task the tag list in the task is not collapsed but shows all the tags.

Setting _Tag list in tasks starts collapsed_ option to not ticked

[2016-05-21 04:03] cTheDragons commented on #7384
Still not able to change the party leader for my migrated leader. Still receiving error above.

Re the notification this was a different error that I was trying to replicate that had nothing to do with parties (or leaving).

[2016-05-21 04:07] Alys commented on #7388
Confirmed. Thanks @cTheDragons ! Good catch.

However I'm removing the API v3 label from the title because we won't fix this until after the migration is over, and I want to clear it out of the list of issues and PRs we need to look through today. Feel free to report more bugs though if you want to keep testing! If you do, put the v3 tag on them as you have been doing, and we'll remove it if it's

[2016-05-21 06:43] Alys opened #7389 "[API v3] not urgent - critical hit notification appeared twice"
Bug occurred on:
- https://v3.habitica.com/
- a few minutes before I logged this issue (not sure if the latest code has been deployed)
### Description

I marked one Daily as completed and received a critical hit. The critical hit notification appeared twice.

I'm certain it was a duplicate notification, not a separate notification from another event, because that was the only task I had marked com

[2016-05-21 07:05] ghost commented on #7389
I got the critical hit notification doubled only once. Then the notifications went on as expected only by one at a time

[2016-05-21 07:09] Alys opened #7390 "new timezone is not saved to user document immediately"
### Description

I suggest that this isn't fixed until after the migration is finished and tested, unless it's a **really** easy, obvious, safe fix.

In the old API v2 website, when your PC's timezone changed and you reloaded the browser, the new timezone was immediately saved to `preferences.timezoneOffset` in the user's document in the database (confirmed by fetching raw data from the database a

[2016-05-21 07:23] ghost opened #7391 "[API v3] missing a day via debug gives 500 error after refresh"
General Info
- UUID: ffa26f90-f4cf-40b5-8b3b-aca988ab8ed2
- Browser: ff 46.0.1
- OS: win10
### Description

If I miss a day (dailies not checked) with debug menu and then sync everything is OK.
If I miss a day (dailies not checked) with debug menu and refresh the page without syncing manually it will load with a couple of instances of "Error An unexpected error occurred"
#### Console Errors

![scr

[2016-05-21 08:08] WillowKB commented on #4252
@Alys - We completed the first one (The Moonstone Chain x 1) and didn't get the rewards..

[2016-05-21 09:36] Alys opened #7392 "[API v3] Recent completed To-Dos are not displayed on website"
### Description

No completed To-Dos are displayed in the "Done" column on the api v3 test website, even when ones have been completed very recently.
If you complete a To-Do and then immediately view the "Done" column, you see the To-Do, but it disappears as soon as you sync.
The To-Dos DO exist in the database and ARE returned by API calls. It's just a website display problem.

---

_edit by Alys

[2016-05-21 09:37] Alys commented on #7392
#### Console Errors

none

#### Extra Description

The To-Dos DO exist in the database and ARE returned by API calls. It's just a website display problem.

[2016-05-21 10:18] paglias commented on #7387
I think it's right. v2 tasks only used id so if the server sends a request to create a task from v2 it'll only include the id and not the _id so the saved _id would be different. Anyway I think Mongoose automatically does this (setting id sets _id too) anyway so we could also remove it and it would be the same

[2016-05-21 10:18] #7387 closed, assigned to nobody

[2016-05-21 10:22] #7359 closed, assigned to nobody

[2016-05-21 11:06] crookedneighbor commented on #5365
It didn't come across that way at all. :smile:

[2016-05-21 11:53] cTheDragons opened #7393 "[API v3] Party notifications not clearing in the browser."
### General Info
- bc10ec41-4213-4482-bbb8-558e3c3ea8d5
- Opera 37.0.2178.43
- Windows 8.1 32-bit
### Description

**Notification occurs in the party page.**
- Manual browser to the party page; _Notification_ **_does not**_ _clear._
- Using the notification link; _Notification_ **_does not**_ _clear._
- Using the guild link for the party; _Notification does clear._
- Manually clearing the link; _N

[2016-05-21 12:01] ghost commented on #5365
@crookedneighbor thank you very much for your comment! I do appreciate that! `sigh of relief`

BTW, 24 hours after the update on Transifex and 6 language have maintenance.json translated. If you have a minute, could you please update locales, if it's possible before the migration?

[2016-05-21 12:03] crookedneighbor commented on #5365
Good idea. Will try.

[2016-05-21 12:03] ghost commented on #7393
For what it's worth, I've been able to replicate it only for:
- party notification received before migration
- party notification received before leaving a party

[2016-05-21 12:15] Alys commented on #7393
Also, new chat messages aren't automatically shown when you visit the party page. When you do fetch the messages by clicking the fetch button, then the notification clears.

[2016-05-21 12:16] Alys commented on #4252
@WillowKB I've given the achievement and rewards to your party. Reload if you don't see them. Please tell me if they don't appear after that!

[2016-05-21 12:28] Alys commented on #7092
Sorry, Nicky. :( I've given you another three-month subscription and the missing Mystery Items (still in their gift box). Please do tell us again if anything else happens.

For admins, here's the data I've just added. Might be useful to work out where it's gone wrong, if this happens again.

[code]

[2016-05-21 14:59] #7167 closed, assigned to SabreCat

[2016-05-21 15:02] paglias commented on #7382
@GitHubSphinx The errors are in your system language because they come directly from the browser validation and we cannot really tweak them

[2016-05-21 15:05] paglias commented on #7389
Probably the server and the client didn't have the same data. Reopen if it happens again

[2016-05-21 15:05] #7389 closed, assigned to nobody

[2016-05-21 15:08] paglias commented on #7382
Cannot replicate, if I enter a shortName of 2 letters it doesn't let me create the challenge at all. But I'm using chrome, a different browser may behave differently

[2016-05-21 15:09] paglias commented on #7391
Cannot replicate

[2016-05-21 15:09] #7369 closed, assigned to nobody

[2016-05-21 15:16] paglias commented on #7392
@Alys can't replicate this, if works for me. Note that completed todos are loaded only when you open the Completed Tab so if they don't appear immediately that's the reason. But when I open the Completed tab for the first time a request is immediately dispatched to the site and they appear really quickly

[2016-05-21 15:22] ghost commented on #7382
Yes, the challenge is not created. What seems wrong is that I get error
instead of a bubble notification near the text field which is shown on
production. That's not urgent.

[2016-05-21 15:24] paglias commented on #7378
Fixed, will go love shortly

[2016-05-21 15:24] #7378 closed, assigned to nobody

[2016-05-21 15:26] paglias commented on #7380
Fixed, note that the Anonymous issue will remain on v3.habitica because it requires a migration but is fixed

[2016-05-21 15:26] #7380 closed, assigned to nobody

[2016-05-21 15:27] #7168 closed, assigned to paglias

[2016-05-21 15:52] TheHollidayInn commented on #7391
Same, can't replicate. Is there anything else you notice about your set up?

[2016-05-21 15:59] ghost commented on #7391
@paglias @TheHollidayInn I believe it's OK to just close the ticket as it deals with debug feature and I can't access v3 right now to give it another try

[2016-05-21 15:59] #7391 closed, assigned to nobody

[2016-05-21 16:45] paglias commented on #7325
Fixed with https://github.com/HabitRPG/habitrpg/commit/b49826129a544d80e537e34aaad47a6f82831dee

[2016-05-21 16:45] #7325 closed, assigned to nobody

[2016-05-21 19:15] quin-jay opened #7397 "[API v3] It's not immediately clear that you have to reload after starting a party"
General Info
- UUID: 1534a0ee-2f69-4c2e-9659-0d719ac2ea68
- Browser: Chrome 50.0.2661.102 m
- OS: Windows 10
### Description

Starting a party is confusing for a few reasons, one of which might be helped by a UI change. I'll post that suggestion as a new issue, because this one involves console errors when trying to start a quest. I've put the details as console comments this time.
##### Console E

[2016-05-21 19:30] quin-jay opened #7398 "[API v3] Data menu in navbar still links to v2 Data Display Tool"
UUID: 1534a0ee-2f69-4c2e-9659-0d719ac2ea68
Browser: Chrome 50.0.2661.102 m
OS: Windows 10
### Description

Whether you click "Data" in the navbar or click the "Data Display Tool" link in the submenu, you're brought to the old DDT which was built with the v2 API. I imagine that'll stop working after the migration and eventual v2 deprecation, so either that link will need to be changed to the v3 DDT

[2016-05-21 19:47] Alys opened #7399 "[API v3] in modified v2 routes, `id` = `_id` instead of `legacyId`"
### Description

Using the v2 routes on the v3 test site, migrated tasks have their `id` set to the same value as `_id`, when it should be the same as `legacyId`.

[2016-05-21 19:49] Alys commented on #7398
That's expected, and not a problem. When the maintenance window is over, the old code in the DDT will be replaced by the new code. The URL won't change so we didn't change the menu link. Thanks anyway! :)

[2016-05-21 19:49] #7398 closed, assigned to nobody

[2016-05-21 19:59] ghost commented on #7382
@paglias you are right, chrome works as expected - shows bubble notification near the text field in both of the below mentioned cases, but...

Firefox and Edge show bubble notification if I don't enter Tag at all.
![scr](https://snag.gy/2Qc9vY.jpg)

However if I enter two symbols, the check in the text field is not processed and browsers fire the error

![scr](https://snag.gy/Wxh0b5.jpg)

As far a

[2016-05-21 20:07] quin-jay commented on #7346
I just tried to delete a test account from the v3 site (I'm pretty sure it'll be deleted eventually anyway, but you know, just in case). It gave me the old confirmation modal and had me type `DELETE` into a text box, but when I clicked the confirm button I got an error notification that said "Missing password" as well as a console error:

[code]

It looks like we've told the site that we need a us

[2016-05-21 20:21] Alys commented on #7399
Not actually a bug. `legacyId` has changed to `_legacyId` and `id` is set correctly when that new field name is in use.

[2016-05-21 20:21] #7399 closed, assigned to nobody

[2016-05-21 21:54] #7384 closed, assigned to nobody

[2016-05-21 21:54] #7158 closed, assigned to nobody

[2016-05-21 21:59] #7170 closed, assigned to paglias

[2016-05-21 22:00] #7252 closed, assigned to paglias

[2016-05-21 22:09] paglias commented on #7346
It looks like we've updated the delete method to ask for a password but forgot to update the UI!

[2016-05-21 23:52] TheHollidayInn commented on #7397
Working on this. @paglias I am changing the way we sync the party. It is confusing and continues to err.

[2016-05-22 00:57] TheHollidayInn commented on #7382
FF and MS Edge don't support to number value validation: http://caniuse.com/#feat=input-minlength . Maybe we should change the error message or we could use angular to validate.

[2016-05-22 01:03] Alys commented on #7382
I'd like to see it validated in a similar way to the other fields on that page so that we can get the nice customised error messages. For example, if you leave out the title and try to save, you get a neat notification explaining exactly what the problem is. In this case, it would be something like "The tag name must be at least three characters long."

[2016-05-22 01:05] TheHollidayInn commented on #7382
Yea, I agree.

However, we have this for group errors: if (!challenge.group) return alert(window.env.t('selectGroup')); .

I was just going to clone that in put in a check for shortName. I almost have what you said: 'Short Name must have at least 3 characters'

[2016-05-22 01:08] Alys commented on #7382
Sounds good!

[2016-05-22 01:31] paglias commented on #7397
@TheHollidayInn sounds good!

[2016-05-22 01:55] #7312 closed, assigned to nobody

[2016-05-22 02:10] MKBGeorgi commented on #4252
my apologies Alys, apparently we're both morons over here :) We thought it
was 125 gp, not 125 xp.  Sorry to take your time.

On Fri, May 20, 2016 at 8:48 PM, Alys <notifications@github.com> wrote:

[2016-05-22 03:32] crookedneighbor opened #7405 "Sanity Check for minified code"
Sometimes client side code will work in development and then not work in production after it has been minified. Add a sanity check test that the site loads with the minified code.

[2016-05-22 05:12] lemoness opened #7407 "Chat Rolls Back in Party and Tavern(?) -- must click Fetch Recent Messages to see posts and clear notification"
My messages in the Tavern were up-to-date, but after I went to a Guild and then returned to the Tavern, I  found that the most recently displayed messages were gone. I had to click Fetch Recent Messages to regain them.

Possibly related, noted by Alys: "When you go to the party page, the messages no longer load automatically, and the new-message notification in the guild/party notification icon wo

[2016-05-22 05:13] jlriddell opened #7408 "After maintenance, my party was disbanded?"
**EDIT FROM MODS:
If you are having this issue, simply reload the page to get the latest code, and your party will reappear! Let us know if you have any more trouble.**

---

General Info
- UUID: 1edcea2f-2576-4da1-a11e-45c9104b34bc
- Browser: Chrome
- OS: Microsoft 8

Description
I was in a 2 person party before the maintenance, and after maintenance, my party no longer exists. I was one day away

[2016-05-22 05:15] lemoness commented on #7408
Hi there! The good news is that this has an easy fix. Simply reload the page to get the latest code, and your party will reappear! Let us know if you have any more trouble.

Devs: I am leaving this open for now so that people can see the fix.

[2016-05-22 05:16] jlriddell commented on #7408
Thanks lemoness! I was about to update that I was only in a party on certain pages.

[2016-05-22 06:08] #7346 closed, assigned to nobody

[2016-05-22 06:25] ghost opened #7409 "Challenge sorting out of order"
UUID: 28771972-ca6d-4c03-8261-e1734aa7d21d
### Description

Post-maintenance, challenges are out of order, in no order that I can identify.

For reference, screenshotted are the challenges that I am operating myself.

The order, as far as I can recall, should be
(newest)
Organ donor challenges with 15 lines of emoji people
Organ donor challenges with 14 lines of emoji people, if any
May Habitversa

[2016-05-22 06:35] SabreCat commented on #7392
I saw this in action on production just now. I brought up the Completed To-Dos list; it showed more items than I'm used to, but worked. Then I took another action (a Brutal Smash, in this case), and the entire list vanished.

Hard refresh brings back the list.

[2016-05-22 06:50] ghost opened #7410 "Due Date Option Unavailable When Cloning Challenge"
I just tried cloning a challenge. When I went to add a due date I noticed that option is not available (only difficulty can be set). I've tried this on both a tablet (latest iOS, Safari)) and a desktop computer (latest El Capitan, Safari).

[2016-05-22 06:56] citrusella commented on #7407
This is the same issue I reported back during testing ( #7229 ). I thought that was fixed since it was closed and referenced elsewhere, but apparently not? 0_o

[2016-05-22 07:11] Aurora020 opened #7411 "Update kicked me from my Party"
After the latest update I logged on and I was no longer a member of my party, The Lone Rangers. My party leader always messages people before he kicks them and would have notified me if there was a problem. The Party page does not let me request to rejoin my Party but I have messaged our leader and asked that I be invited back. I have also had this issue with my Iphone IOS. The app does not sync u

[2016-05-22 07:20] Alys commented on #7411
This is probably just a display glitch. Please reload your party page a couple of times. If that doesn't put you back in the party, we'll need to know your User ID - please see the Help > Report a Bug instructions for that.

[2016-05-22 07:24] kamni opened #7412 "Unselected tags are being added to new tasks and tags cannot be removed from new/existing tasks"
# System

UUID: fedc44cb-088a-4bc8-8f4f-3e6a1882f042
Browsers: Safari, FF, Chrome
OS: OS X 10.11.4

The browser seems to 'accumulating' tags that were previously selected in the tag filter on the page so that new tasks created have all the tags that were previously selected, even if they are no longer highlighted. Refreshing the browser clears the accumulation so that new tasks added don't have mu

[2016-05-22 07:44] kamni opened #7413 "Clicking sync (or doing other activities) removes selected tags in the tag filter"
_edit by admin: This also occurs when clicking sync._
# System

UUID: fedc44cb-088a-4bc8-8f4f-3e6a1882f042
Browsers: Safari, FF, Chrome
OS: OS X 10.11.4

Doing multiple activities in short succession -- e.g., adding several new tasks or completing several tasks in a row, without waiting for the response to come back from Habitica -- causes the display to re-render/refresh. The refresh is expected

[2016-05-22 08:14] ghost commented on #5631
[Help wanted] Typos in new notifications/error messages reported to Transifex:
- [x] 'cardTypeNotAllowed' **_Unkown**_ _card type_
- [x] 'emailsMustBeAnArray' _Email invites must be_ **_a an**_ _Array._ - "a" is odd, why is Array capitalized, should anything be in quotation marks?
- [x] 'uuidsMustBeAnArray' _UUIDs invites must be_ **_a an**_ _Array._ - same as above

[2016-05-22 08:18] Alys commented on #5631
@GitHubSphinx Thanks! We'll fix these ourselves since we know what they're supposed to say. Feel free to add more here.

FYI, in programming, there are "data types", like Integer, Number, Array, Object. They're always capitalised when used in that specific meaning, so it's easy for a programmer to forget to stop capitalising when they're writing English. :)

[2016-05-22 08:36] ghost opened #7414 "String with importantMaintenance key had problems with localDate variable"
### Description

Possibly linked to point 1 in https://github.com/HabitRPG/habitrpg/pull/7367

I didn't have a chance to double-check (and I can't find the relative page code now), but it seemed that the page displayed during the maintenance had problems with processing the 'importantMaintenance' string in all the languages:

The usual 'Error processing the string. Please see Help -> Report a bug'

[2016-05-22 08:52] Alys commented on #7412
I've confirmed that I can't remove tags from a task by the normal method (as described by kamni).

However if I open the task to edit it, click on the checkbox of the tag that I want to remove, and then **immediately** click on it a second time - i.e., basically do a double-click on the checkbox - then I see a red error message "No tag item was found with given id" and a sync occurs and the task e

[2016-05-22 10:26] eiron commented on #7409
They are all now sorted by the random string assigned to them upon creation. This will likely be due to this being the order they were transferred onto the new database. It does make things a little confusing, alas.

[2016-05-22 10:31] eiron opened #7415 "Unable to leave closed challenges"
General Info
- UUID: 4182cdea-64db-4db4-9713-dc587d86c662
- Browser: Chrome
- OS: Windows
### Description

Seems there are currently no options to stay in or to leave a challenge once it is concluded. This means it is also impossible presently to remove any of the tasks associated with that challenge. Having closed one of my own challenges today, I can verify this is true only of challenges closed

[2016-05-22 10:37] cTheDragons opened #7416 "Chrome Chat Client does not allow you to post for the Newbies Guild after API v3 upgrade"
_This has been reported here at the request of @Alys as it may be linked to other broader issues_
### General Info
- bc10ec41-4213-4482-bbb8-558e3c3ea8d5
- Opera 37.0.2178.43
- Windows 8.1 32-bit
### Description

The chat client for the [Newbies Guild](https://habitica.com/#/options/groups/guilds/5481ccf3-5d2d-48a9-a871-70a7380cee5a) I am able to see posts but unable to respond through them throug

[2016-05-22 10:51] TahriTahri commented on #7411
I have the same problem, I've definitely lost my party. Tried reloading it a bunch of times. My user ID is 1a70a40f-b50e-4974-8386-cbcf97ac378f

[2016-05-22 10:59] kamni commented on #7413
This can also be confirmed by following the workaround provided by Alys of double-clicking a tag in a task. See #7412

[2016-05-22 10:59] kamni commented on #7412
I can confirm that if I immediately click on it a second time, I get the error message, but the tag is removed once the page refreshes.

On a side note, the double-clicking on the checkbox also replicates the behavior in #7413, which deselects all selected tag filters on page refresh.

[2016-05-22 11:04] Alys opened #7417 "can't delete account if you use Facebook or Google authentication"
The delete account button now requires that you enter your password.

Players who use only Facebook authentication don't have a password. The delete feature needs to have an exception for them where they need to enter only "DELETE" (localised) as previously.

[2016-05-22 11:08] Alys commented on #7416
Ha, this IS relevant to us. The problem with the avatars not appearing is in our code so this was a useful thing for us to know about.

I wonder -- blind guesswork here -- if once we fix the avatar bug, maybe the rest of the chat client will start working on the big guilds. Perhaps it's just overloaded with attempts to get the avatars.

[2016-05-22 11:10] Alys commented on #7416
GitHub repo for the client: https://github.com/Horacious/HabitRPG-Chat-Extension

Extension page: https://chrome.google.com/webstore/detail/habitica-chat-client/hidkdfgonpoaiannijofifhjidbnilbb

[2016-05-22 11:22] Alys opened #7418 "Enchanted Armoire appears too early and without Ultimate Gear achievement"
For a new player, the Enchanted Armoire appears before you have bought all the gear for one class.

Example:
1. Create a new account
2. Buy all the Warrior swords (must be all of them).
3. Sync after buying the final sword.
4. The Armoire appears but it tells you that you can't use it: "You can't buy this item."

At this point you don't have the Ultimate Gear achievement and none of the flags asso

[2016-05-22 11:23] Dewines opened #7419 "Unable to rejoin a challenge"
I joined the The Great Eclipse (Maintenance Downtime Fun!) challenge before the downtime happened. https://habitica.com/#/options/groups/challenges/2e03c569-d781-4e55-9f61-86797dec9092
This was with my work account. When I logged in this morning, the undone challenge tasks showed the red megaphone icon, but the challenge was still running. I checked off the remaining To-Dos and in order to see wha

[2016-05-22 11:29] cTheDragons commented on #7411
@TahriTahri Did you try logging out and clearing your cache and logging back on? Some users have found this is necessary to clear out any bad data sitting in cache.

It likely to be linked to this [issue](https://github.com/HabitRPG/habitrpg/issues/7408)

[2016-05-22 11:38] crookedneighbor commented on #7416
I have a PR out for the emojis/markdown issue: https://github.com/Horacious/HabitRPG-Chat-Extension/pull/40

The only thing on our side is the v2 avatar export route, which the chat client uses. Thanks for reporting this!

[2016-05-22 11:40] TahriTahri commented on #7411
It seems to have fixed itself? Or someone fixed it for me? Thanks mysterious party fixer!

[2016-05-22 11:44] ghost commented on #7417
For what it's worth, I believe "DELETE" hasn't been localised yet in this very case...

[2016-05-22 11:52] ghost commented on #7344
It seems like some emojis are really missing after migration. E.g. I'm begging to bring :bomb: back

[2016-05-22 11:53] nelle013 opened #7420 "Broken Challenge Link After Update"
Hi,

You may already know about this, but my challenge seems to have broke during the update. It hasn't started yet but is luanched: https://habitica.com/#/options/groups/challenges/89ce610b-6758-4aa0-b69d-310fc906014d

I've been using the Habit and that has a broken challenge link... obviously I don't want to remove the tasks or end my challenge early.

Thanks!

[2016-05-22 11:57] nelle013 commented on #7420
Also this one: https://habitica.com/#/options/groups/challenges/db6a5a3e-9743-45f9-a2cf-ba9382956e61

[2016-05-22 12:01] Dewines commented on #7419
I've just discovered that all challenges (or at least the few I looked at) only display 30 names in the participants list, regardless of how many people are actually in the challenge. I don't know whether this helps you work out what the problem is?

[2016-05-22 12:09] crookedneighbor opened #7421 "Tests for avatar export route"
Figure out way to test avatar export route.

[2016-05-22 12:11] Alys opened #7422 "challenges display only 30 names in the participant list"
Ref: https://github.com/HabitRPG/habitrpg/issues/7419#issuecomment-220828710
"I've just discovered that all challenges (or at least the few I looked at) only display 30 names in the participants list, regardless of how many people are actually in the challenge. I don't know whether this helps you work out what the problem is?" -- @Dewines

Challenges need to display all participants to allow the c

[2016-05-22 12:11] Alys commented on #7419
@Dewines Thanks! https://github.com/HabitRPG/habitrpg/issues/7422

[2016-05-22 12:13] paglias opened #7423 "[API v3] Changing password doesn't work"

[2016-05-22 12:18] Dewines commented on #7409
Would this be a good place to mention that challenges with more than 30 participants are only displaying 30 names in the participants list, regardless of how many people are actually in the challenge? This actually solves the problem I reported as #7419. My work account was joining the challenge, but because the sorting is no longer based on date of joining, my work account name wasn't in the firs

[2016-05-22 12:19] crookedneighbor commented on #7344
We decided to remove :bomb: and :gun: from the emojis list after some inappropriate uses of the gun emoji in some guilds.

Personally, I think we should reinstate them and just flag any chats that use them inappropriately, but I'll let @lemoness and @alys make the call on that as it is a community issue.

In better news, we added some of Github's non-standard emojis. (Basically just left out the d

[2016-05-22 12:21] Dewines commented on #7419
@Alys I have therefore solved my own problem.My work account _was_ joining the challenge, but because the sorting is no longer based on date of joining the challenge, my work account name wasn't in the first 30 and thus didn't show. DewinesAtWork didn't show in the list whereas my other two accounts apparently pushed @aust out of the challenge. So this issue isn't actually an issue but merely a di

[2016-05-22 12:24] ghost commented on #7344
Thank you for clarification! I'm really used to using :bomb: to highlight super strict deadlines or deadly habits I have real troubles fighting with - I tend to associate both cases with explosions, and I will find it difficult to replace the emoji...

[2016-05-22 13:07] Kgatliffe opened #7424 "IOS Issues with New App: Frequent "Death" and Crashes"
General Info
- UUID: ddb68b6c-296a-4dd2-abaf-dd1f562ac140
- Browser: iOS App
- OS: iOS 9.3.2
### Description

I am using the new iOS app, and appear to have two issues.
1. Feeding pets causes the app to crash every time.
2. Other activities (like selling excess potions or eggs) are often accompanied by a loss of signal message and then the death screen. All my stats will be zeroed, but I don't see

[2016-05-22 14:03] Memry commented on #7420
I am having a similar issue with pre-update challenges.  I joined the 15K challenge after seeing it in this issue an it appears normal, but a number of challenges I am in (both my own challenges and ones created by others) have the broken challenge link.  My UUID is 2dc2722b-fdc1-4a36-894f-c22418b67a30

[2016-05-22 14:38] paglias commented on #7416
Avatars not displaying should be fixed

[2016-05-22 14:40] paglias commented on #7392
This happens when the user is synced because user.todos is replaced completely

[2016-05-22 14:41] paglias commented on #7424
@Kgatliffe hi, can you post this issue in the iOS repository? https://github.com/HabitRPG/habitrpg-ios

Thanks

Pinging @vIiRuS

[2016-05-22 14:41] #7424 closed, assigned to nobody

[2016-05-22 14:42] paglias commented on #7422
We have to do find a way to do this without killing the database. Some challenges simply have too many members

[2016-05-22 14:44] paglias commented on #7407
@citrusella it looks like it came back or was never fixed correctly :)

Pinging @TheHollidayInn

[2016-05-22 14:49] phillipthelen commented on #7424
The feeding error is known and fixed, so no additional info will be needed for that. Information about the death screens would be welcome though.

[2016-05-22 14:56] brightbold commented on #7344
Yeah, I'm here too because my tasks with 💣 are now broken. I agree with @crookedneighbor that I'd prefer to see inappropriate use of emoji in chat handled the same way we handle inappropriate language. Habitica doesn't censor curse words in my tasks (and, yeah, sometimes there are curse words in my tasks), but if I use them in the Tavern or a guild where they're prohibited, my post will be reporte

[2016-05-22 15:07] ltorroba opened #7425 "[API v3] Error when deleting sub-tasks within task ('item ID' must be a valid UUID)"
General Info
- **UUID:** 8ac1be04-4201-4eed-a2a4-436eada5c0e9
- **Browser:** Chrome
- **OS:** Mac OS X
### Description

When attempting to delete a checklist item on a given task, deletion will fail and the user will be presented a modal saying:

![](http://i.imgur.com/3HVeXbH.png)
#### Steps to reproduce

I encountered this issue when trying to _add_ items to a checklist in a task, but ever since

[2016-05-22 15:12] keysmashes opened #7426 "Moving top task to same place causes error"
General Info
- UUID: 0e1d15f7-f36b-4f15-a9e1-0c31b732dac9
- Browser: Chrome 50
- OS: Ubuntu 14.04.3
### Description

Dragging the top task (including rewards) in a list to initiate a move, then releasing it back at the top of the list causes the following error to appear. It doesn't affect any tasks but the top one.

![image](https://cloud.githubusercontent.com/assets/9433472/15454680/b7e61864-203

[2016-05-22 15:20] habitrpguser commented on #7200
Now that the new code is live, I just tried to put the hearts back into the "Ghost Ship" guild as planned, and got a "request entity too large" error. The missing hearts themselves are no problem, and there's nothing urgent that needs to be done. Within the next few weeks I'd like to make a few other small changes - but I'll have to think about them a little first. But basically, I just want to re

[2016-05-22 15:21] ltorroba opened #7427 "[API v3] sellerId being set to undefined"
General Info
- **UUID:** 8ac1be04-4201-4eed-a2a4-436eada5c0e9
- **Browser:** Chrome
- **OS:** Mac OS X
### Description

Seems like on the rendered HTML of the page, the `sellerId` field of some Amazon payment scripts located on the bottom of the file is being set to _undefined_:

![](http://i.imgur.com/jslKVXo.png)

I attempted to initiate an Amazon Payments purchase of gems and at least until the

[2016-05-22 16:23] crookedneighbor commented on #7344
I just refactored the emoji stuff into its own module. I plan to put together a cheat sheet specific to Habitica soon.

[2016-05-22 16:37] ReveWeber commented on #7412
My UID: e8221ba8-e0fa-4a6b-9eb1-d1ba9724bbbf
I have this same problem with Chrome on Mac OS 10.11.4, and the double-click workaround fixes it for me as well; in fact without refreshing the page it automatically closes the To-Do's panel and when I reopen it only the intended tag is checked. The only thing showing in my console is a moment() deprecation warning, but a different one from kamni's.
<im

[2016-05-22 16:58] NickyInWonderland commented on #7092
Thanks a lot  :D  :+1:

[2016-05-22 17:04] citrusella opened #7428 "Unicode emoji not changing to images"
General Info
- UUID: 2d6ef231-50b4-4a22-90e7-45eb97147a2c
- Browser: Firefox 46.0.1
- OS: Windows 7
### Description

Emoji (like, the actual text characters (i.e. 🌃🌈🌄😊 ...though you can't tell here because Github converts them), not things like :emojicode:) are not converting to images like they were doing before the v3 update. Instead they are remaining their text counterparts (or possibly what t

[2016-05-22 17:12] crookedneighbor commented on #7428
I've opened an issue for this here: https://github.com/HabitRPG/habitica-markdown-emoji/issues/1

Something about the code was causing problems in Firedox. I'm investigating it.

[2016-05-22 17:21] tomtangent opened #7429 "Party Disbanded, Quest Lost"
after the maintenance yesterday I was completely disbanded from my party and we were on the 200 gold quest: Dilatory Distress Part 1 before that. This meant that we lost our gold and our process toward completion.

_edit by admin:_
## What to do if this happens to you:

**This is almost certainly just a display glitch in the website, and you are still in your party, and in your quest if you had on

[2016-05-22 17:49] Bottl commented on #5919
My cron ran twice, so I dealt 837.2*2 dmg to our boss, this happen to anybody else since the recent maintenance?

So I know how to reset my character values but can some staff member give me the quest scroll back please? (Iron Knight)

[2016-05-22 17:58] Dewines commented on #7422
Generally it's only the Tavern challenges that get very big, but 30 is definitely too few. Even my challenges in small guilds regularly get more than 30 participants.

[2016-05-22 18:12] Dewines opened #7430 "Hall of Heroes page is coming up blank"
If you click on the link to the left of the Tavern chat, the Hall of Heroes comes up empty.

[2016-05-22 18:24] ZhugeSong commented on #7429
The party I was in had the same issue. My user id is 47cc162d-84c3-4601-8b41-68f3d44d9091 and we had just started part 2 of the Golden Knight series (no actual progress lost, but I did lose the scroll).

[2016-05-22 19:35] citrusella commented on #7429
Are you absolutely sure there's no way you're in the party? (That is, that there's no display glitch?) A lot of people have had trouble accessing their parties but are still in them. Have you tried clearing your cache and then going to the party page?

[2016-05-22 19:41] froggily opened #7431 "API must not include Tavern in list of guilds"
General Info
- UUID: 634ef54c-8d52-4293-8adc-f0e810dd85dc
- Browser: Google Chrome Version 50.0.2661.86 (64-bit)
- OS: OS X Yosemite 10.10.5
### Description

The Tavern is a guild, apparently. It appears in the guild list and if you go to Challenges and click Tavern from a challenge, it goes to that guild. All messages in the Tavern and that guild are the same, as far as I can tell.
Link to guild:

[2016-05-22 20:13] paglias commented on #7431
@froggily thanks for the report but this is actually the expected behavior. The Tavern is a guild, just a special one :)

[2016-05-22 20:19] TheHollidayInn commented on #7407
@paglias can you replicate this locally? I cannot.

[2016-05-22 20:35] KatRoses commented on #4252
Hi there, Last week my party finished "The Golden Knight, Part 1: A Stern Talking-To". I (and at least one other party member) have not received the rewards.

My user ID - 23c05336-652e-4bba-b14e-bc84a0d4a7cb

The other party member that reported it in our chat User ID - 10213571-a212-4ca9-816a-0d05c79a04eb

[2016-05-22 21:16] Alys commented on #5919
@Bottl Could you please tell me your User ID? To find out how to get it from either the website or app, see step 6 of the [Report a Bug](https://github.com/HabitRPG/habitrpg/issues/2760) instructions (also available from Help > Report a Bug in the Habitica website's menu).

[2016-05-22 21:27] Alys commented on #7416
@cTheDragons Are you still unable to post to the Newbies guild or the Scholars guild using this extension?

[2016-05-22 21:30] cTheDragons commented on #7416
Yes woke up this morning and still no change.

(Including Avatars)

[2016-05-22 21:38] Alys commented on #7416
@cTheDragons So you're still not seeing avatars in the chat client? Even after a reload?

[2016-05-22 21:41] cTheDragons commented on #7416
ohh... For most, but I just noticed my Avatar is coming up... and most of my Party. Just not for the Tavern or Newbies.

[2016-05-22 21:41] lemoness commented on #7420
Thanks very much for letting us know about that! We're sorry about all the Challenge issues. The good news is that we are investigating the cause now. We are working on developing a fix that should solve most of these issues, but it may take some time. Meanwhile, we recommend signing up to the challenges again, which will provide a new set of tasks for you. If you'd like, you can also delete the b

[2016-05-22 21:42] Nezuko commented on #7423
Also experiencing this bug.
MacOS 10.11.4.
Chrome Version 50.0.2661.102 (64-bit)

Deprecation warning: moment().zone is deprecated, use moment().utcOffset instead. https://github.com/moment/moment/issues/1779
Arguments:
Error
    at q.zone (https://habitica.com/app-00ad4002.js:40:20037)
    at Object.u.authenticate (https://habitica.com/app-00ad4002.js:44:1427)
    at Object.<anonymous> (https://h

[2016-05-22 21:50] remelem commented on #7429
My user ID is 30cb818f-bef5-4c6f-ab6d-029326b37c9f; I think I'm in the same boat. There's not an absolute way to tell at the moment as the leader of my guild is having a display issue where only one other party member's name is displayed above a "3 other members" icon. All I know is that I am no longer in a Party, I tried all the fixes and different browsers, and when my party leader tried to read

[2016-05-22 21:58] brentnotbroken commented on #4252
Hi,

I'm actually in the same party as KatRoses, and had the same issue with not receiving quest credit for Golden Knight Part 1. My user ID is 33d4d266-3291-4f14-9f20-a67197b1631b. Thanks!

[2016-05-22 22:00] Alys commented on #7431
Comment from Lemoness in the Tavern:   "@froggily Heh, yes, I am secretly the power behind the throne leader of the Tavern, but it shouldn't be displaying. Can you file a GH ticket if it isn't already there?"

It is actually expected behaviour at the moment, just as paglias says, but it looks like we should change it. :)

[2016-05-22 22:07] cTheDragons commented on #7416
Ok a few more moments have past and the some of the Avatars in Newbies and Tavern are now appearing. Also in the smaller guilds too.

[2016-05-22 22:09] Alys commented on #7429
@Level1Pixel @ZhugeSong @remelem If you're still having this problem, reload the party page. You might need to do it a couple of times. If that doesn't work, try logging out of Habitica and logging back in. Comment here if you still can't see your party after doing that.

As @citrusella says, this is probably just a display glitch, and reloading almost always fixes it. We're sorry about the troubl

[2016-05-22 22:24] khipkin commented on #7393
@Alys I also noticed this issue for messages sent after the update.

Weren't new messages previously loaded automatically? and aren't they still loaded automatically for guilds?

[2016-05-22 22:58] LyrrenClock commented on #7429
This might be the wrong place to put this but it is tied to party display issues since the maint. the party chat will not refresh or show new messages at all until you do a hard refresh of the page and even when you do this it will spazz and do a temp display error of being not in a party which is frankly scaring me every time I have to do this just to chat with my party. but once you do this it d

[2016-05-22 23:03] Bottl commented on #5919
Silly why didn't you just link me to the API
<https://habitica.com/#/options/settings/api>?
7a1db680-def0-4bca-924d-4f271def1cd9

On Sun, May 22, 2016 at 2:16 PM Alys <notifications@github.com> wrote:

[2016-05-22 23:06] rfabi commented on #7411
I was also kicked out of my party. I logged out and back in, but that didn't fix it. I've also been re-invited to the party, but the invitation won't work. User ID: 77cf781b-8a0d-4bb5-a06b-d88186a9cb34

[2016-05-22 23:06] Bottl commented on #5919
Silly why didn't you just link me to the [API](https://habitica.com/#/options/settings/api)? 7a1db680-def0-4bca-924d-4f271def1cd9 Thanks

[2016-05-22 23:17] crookedneighbor commented on #7344
I think y'all made good points. We've decided to reinstate both emojis. We will look into other options for chat.

[2016-05-22 23:18] chonkatonk commented on #4252
Hey guys,

my party just finished Dilatory Distress Part 1 and it looks like the only party member to get credit and a reward was the guy who recorded the last item.

here are the users in our party that did not receive credit

ad14844a-04d1-45fe-bb90-ce75a32b51e3
d6111eaa-8324-4e3e-b1f3-456365425cd8
8c69c1b9-bbca-4c1c-99ed-e384942ce458
b32da704-e202-478e-b30c-6b992af96e68
878af21d-7b24-43ac-9cc5-

[2016-05-22 23:19] Alys commented on #7393
@khipkin thanks for the update! Good to know.

Yes, there'll be something wrong with parties specifically that's preventing the messages getting loaded automatically.

[2016-05-22 23:32] Acedia95 opened #7432 "Party's member no more in party"
General Info
- UUID: f0dc7b3a-6edd-4f24-868d-e6c378672277
- Browser:  Chrome, Puffin Browser and App
- OS: Android and Windows 10
### Description

My party's member (her UUID is before than this Description) is disappear from my party, we refreshed the page more and more times, but nothing.
After this description i give my personal UUID and party ID (I'm team leader)

My UUID: 8308b933-e386-4e6b-9

[2016-05-22 23:35] Alys commented on #7429
@LyrrenClock I'm sorry about that! Do new messages show up when you click the "fetch recent messages" button above the party chat? They are supposed to, so if you're clicking that button and not seeing message, please do tell us!

You definitely can't be removed from your party by the problems you describe, and if some other bug did remove you, we could put you back in, so you don't need to worry

[2016-05-23 00:00] LyrrenClock commented on #7429
@Alys this seems to work thanks albeit a bit sluggish but yes guess I just got used to it auto fetching upon tabbing into that menue now it no longer does it automaticaly you have to fetch thanks though!

[2016-05-23 00:03] Alys commented on #5919
@Botti I didn't link you to that page because I didn't know if you were on the website or the app, and if you were on the app, then getting to that API page would not have been as easy for you. The page I linked you to has information that helps app users find their User ID as well as website users. It also has other useful information about reporting bugs, which might help you if you ever have to

[2016-05-23 00:19] Bottl commented on #5919
But Iron Knight has 1700hp - 837.3 - 13.4 - 17.4 - 9.7 - 9.9 - 17.2 - 17.6
= 777.5hp left, which my second strike incorrectly took care of.
I already adjusted my xp gold and mana I would just like the Iron Knight
scroll back pls

On Sun, May 22, 2016 at 5:03 PM Alys notifications@github.com wrote:

[2016-05-23 00:26] Alys commented on #5919
Ah yes, sorry, I was looking at the wrong data for the boss health. I've given you a free scroll and removed the other quest rewards from your account for you.

[2016-05-23 00:30] calypsomatic commented on #7429
This has happened to me - I have logged out, reloaded, cleared cache, repeat, several times, and it still acts like I am not a member of a party.
My user id is 3e687b68-5ba6-43ef-ad20-d8d587b4e048

[2016-05-23 00:52] Alys opened #7433 "Can't change email address"
When you try to change an email address, it fails and you see "Missing new email address."

I was entering the address and password correctly.

[2016-05-23 01:10] quin-jay commented on #7427
Alright, I tried this, since I just got an Amazon gift card anyway. I got to a window with a button that said "Click the button to pay using Amazon Payments." I did, then I signed in. I have two-factor authentication, and while it did let me enter a code, perhaps that contributed to this error I got? The notification said "`missing req.body.billingAgreementId`" (I got a pop-up message that said th

[2016-05-23 01:23] Bottl commented on #5919
No wait I already had the Morning Star from doing it before :( sorry for
the back and forth

On Sun, May 22, 2016 at 5:26 PM Alys notifications@github.com wrote:

[2016-05-23 01:45] crookedneighbor commented on #7433
I'll look at this.

[2016-05-23 01:50] crookedneighbor commented on #7433
Fixed with https://github.com/HabitRPG/habitrpg/commit/7d452232962b538bc2862120aa63bf735869fcb6

[2016-05-23 01:50] #7433 closed, assigned to crookedneighbor

[2016-05-23 01:53] Alys commented on #7429
@calypsomatic I've put you back in your party and quest. Please tell me if anything doesn't look right! Tomorrow, after your Dailies have reset, please go to party chat and look for a message saying how much damage you've done to the quest boss. If you're on the website, you might need to click "fetch recent messages" before it appears. If you don't see that message, please tell us!

@LyrrenClock

[2016-05-23 01:54] Sayuki74 opened #7434 "My friend and I are already in the party?"
Hello.
After the maintenance my and my friend's party was kind of disbanded I guess. When I had logged on the page for the first time after update I saw the info that we defeated the boss but then I noticed that we're not in the party anymore. I went on the party's page and it turned out that I'm not in the party and I can only create the new one. I've tried to do so, I invited my friend but then

[2016-05-23 01:57] Alys commented on #7432
@Shirito I've put her back into your party and quest. Sorry about the trouble!

[2016-05-23 01:57] #7432 closed, assigned to nobody

[2016-05-23 01:59] Alys commented on #7411
@rfabi I've put you back in your party and quest. Please tell me if anything doesn't look right! Tomorrow, after your Dailies have reset, please go to party chat and look for a message saying how much damage you've done to the quest boss. If you're on the website, you might need to click "fetch recent messages" before it appears. If you don't see that message, please tell us!

[2016-05-23 02:10] Alys commented on #7434
Sorry about that! You're both back in the party now.

Post again here if you find out that you or your friend didn't receive the quest rewards. I think it was this one: http://habitica.wikia.com/wiki/The_SnackLess_Monster and that page shows what the rewards should be

[2016-05-23 02:10] #7434 closed, assigned to nobody

[2016-05-23 02:24] Sayuki74 commented on #7434
Thank you very much! ^^
And it looks like we received the rewards so now it's all ok ^^

[2016-05-23 02:36] Alys commented on #7429
Note to devs: kuurbis (904398f7-a6b4-48bd-82eb-3b0488ddbc82) posted this to the Tavern:

"ah, i have noticed that if i let the party page fully load, it assumes i am not in a party anymore. refreshing it does make the party appear again but only util it fully loads."

I'm adding this to the top post for easy finding later.

[2016-05-23 02:45] CloJo opened #7435 "Unable to edit cloned challenge titles"
General Info
- UUID: 99463fab-e36e-4f8b-87f6-a6f925850ed8
- Browser: Safari
- OS: OSX Yosemite 10.10.5
### Description

[//](#): # Cloned a challenge.  Unable to edit any of the challenge's titles to change them for the new challenge.  the title fields are greyed out.  Screen shot attached.

![screen shot 2016-05-23 at 12 40 07 pm](https://cloud.githubusercontent.com/assets/13231001/15459016/0e544

[2016-05-23 02:52] Alys commented on #7408
Closing this because we've also been putting instructions to the users in https://github.com/HabitRPG/habitrpg/issues/7429 (sorry @lemoness).

[2016-05-23 02:52] #7408 closed, assigned to nobody

[2016-05-23 02:59] lemoness commented on #7431
I think that having the Tavern display as a Guild will lead to a lot of confusion, even though that's how it works behind the scenes!

[2016-05-23 03:02] lemoness commented on #7407
Another thing I've noticed, possibly unrelated.

Currently, the chat cap in the Tavern has been extremely low (4 hours, instead of 12-16), which I assumed was due to a flood of messages reporting bugs.  However, I've noticed that when my chat rolls back, it sometimes rolls back much further (for example, to seven hours ago). Perhaps it's also artificially messing with the chat cap of 200 messages?

[2016-05-23 03:25] Alys commented on #7435
Confirmed.

If you tell me the challenge URL and the changes you want, I can make them for you.

[2016-05-23 03:32] CloJo commented on #7435
It's actually a fairly large bit of changing in the to-dos.  By the time I typed them out to you I could just just set it up manually :). Thank you for the offer though!

Sent from my iPad

[2016-05-23 03:46] Memry commented on #7420
Unfortunately, no delete option is given for the challenges.  The broken challenge link appears, but none of the usual verbage to keep or delete tasks appears when you click on it and the delete button is not visible if you don't click on it.  For me, none of the challenges exhibiting this behavior are vital, so I am not alarmed at the error.  If after the fix the tasks are still not deletable I w

[2016-05-23 04:58] Krispy-Rice opened #7436 "tasks/dailies/to do list doubled"
General Info
- UUID: 5c859d2a-d9f2-413b-8152-c1be9f54d88c (Fox.0f.Jade)
- Browser: Firefox/Safari
- OS: Windows 10/iOS9.3.2
### Description

I apologize if this is a known issue; I could not find any similar issues posted.

After the update on 5/21/16, it looks like most of my tasks and dailes were duplicated.  Many items on my to do list were also doubled, and a lot of items that were already com

[2016-05-23 05:16] hairlessbear commented on #7436
Man, this is like a trip down memory lane. #5045, #4773, #5012, #4838, and the granddaddy of them all, #4470. It was supposed to be fixed in #4845, but it's possible it came back in the refactor. Hopefully an admin can provide further insight.

[2016-05-23 05:20] citrusella commented on #7407
@lemoness For what it's worth, I just manually counted the entire chat and ended up with 200 messages (well, 201, but I probably accidentally counted a message twice somewhere), with the oldest message at 6 hours ago. Unless you meant something else by "chat cap". XP

[2016-05-23 05:53] Alys commented on #7407
@citrusella That's exactly what we meant. THANK YOU!!! That's good to know. I was intending to do a database script to count them and now I am glad that I don't have to!

[2016-05-23 06:12] sujunmin commented on #7429
I have not seen my name on quest participate list.
My User ID: ac6fbe37-b0dc-40d8-ba14-77dde66fbfa8
The Quest is The Birds of Preycrastination.
Thanks.

[2016-05-23 06:30] Alys commented on #7429
@sujunmin You're definitely in the party and in the quest (I've checked in the database). There's 39 people in the quest. Is the quest participant list displaying only 30?

[2016-05-23 06:35] sujunmin commented on #7429
@Alys only 24 :D

Xnora
strangewires
TheMoyWonder
Mikael Sai
RedBullbob
betty94044
Crystal Zou
Daein
Jasmine Redfern
Doc Pepper
Di Immortalis
Em030786
JasonNV
Psi0nyx
Tara
medeforest
pemdora
Angello
GroovyOtter
- Dinoruto

Apollo999
Sciamanna
Sreaf
Swana

I am Brown, and I am not at the list.

[2016-05-23 06:36] Alys commented on #7436
I think it's more likely that this was a problem that occurred during the migration, rather than an ongoing bug. Duplicated tasks seem to be from challenges and we know there were problems with the challenge migration.

[2016-05-23 06:36] Alys commented on #7436
@Krispy-Rice Sorry, I should have added:  We're working on a way to try to clean up the challenge migration errors, which should fix at least some of your duplicated tasks.

[2016-05-23 06:59] kellarules commented on #7413
I experienced this too except that my tags seemed to de-select at random, like when I navigated away from habitica or occasionally when I went to a page other than the task page. It was never consistent. I always keep two tags selected by default so it's a big difference when they're gone. This has been happening since the recent update.

[2016-05-23 08:15] ghost commented on #7436
One of my challenges has duplicated tasks (but they weren't duplicated yesterday after the migration), Safe to assume it's the same bug?

[2016-05-23 08:16] Alys commented on #7436
@Anysia Did you leave the challenge (or did you seem to be forced out of the challenge) and did you then rejoin it?

[2016-05-23 08:20] Pekyy commented on #2805
Hi, this bug occured for the first time in our party. I think, it happened because of the maintenance. Tripled and doubled damage for 4 our members. I use Habitica via webapp and ios app. I also login from different computers. Damage is identical.
![bez nazvu](https://cloud.githubusercontent.com/assets/18715151/15464488/f7841c26-20cf-11e6-87fd-8cff118e6900.jpg)
![bez nazvu2](https://cloud.githubus

[2016-05-23 09:53] Alys opened #7438 "all menus are dropped-down, code is showing on tasks page"
General Info
- UUID: d904bd62-da08-416b-a816-ba797c9ee265
- Browser: Vivaldi (Chrome-based)
- OS: Mac OS 10.11.4
### Description

This just happened to me when I was visiting https://habitica.com/#/options/groups/guilds/b422b8a5-8d66-4197-9f91-d4edb8610264
![screen shot 2016-05-23 at 7 40 31 pm](https://cloud.githubusercontent.com/assets/1495809/15466722/4a218a74-211e-11e6-84cb-e366678a3e30.png)
#

[2016-05-23 10:09] Eddyboy12 commented on #7438
That just happened to me too. Just close chrome completely and open it again.

[2016-05-23 10:12] vsy commented on #7438
Having the exact same issue for several days in a row now. But on the index / home page.

In Safari it happens on nearly every occasion when browsing to the website. While in Chrome it happens occasionally. Restarting the browser sometimes helps, but more often it doesn't.

Error in the javascript console:
`[Error] Failed to load resource: the server responded with a status of 404 (Not Found) (app

[2016-05-23 10:15] meganstrickland commented on #7420
Just wanted to chime in that I'm seeing the same behavior. I have one set of challenge tasks with the "broken" challenge icons, but I cannot delete them; I have another set of the same challenge tasks with regular challenge icons, though I did not manually re-join the challenge. I am the owner of this particular challenge, and it is a party challenge. They seem to share the same challenge tag. All

[2016-05-23 10:16] Eddyboy12 opened #7439 "Skills list not appearing"
- UUID: 3ea24edb-ded2-4eb6-b279-69c85b3ce1c9
- Browser: Google Chrome
- OS: Windows 8.1

Description
I have just then hit lvl10 and the skills list does not appear however I do have the mana bar.

[2016-05-23 10:35] Alys commented on #5631
fixed in https://github.com/HabitRPG/habitrpg/commit/fa009a19f4dd733ca8069df8068cc2ae5a3909b1

[2016-05-23 10:36] Alys commented on #7439
Skills appear at level 11. :)  If you have questions about them either now or when they appear, drop in to Help > Ask a Question from the Habitica.com website's menu!

[2016-05-23 10:36] #7439 closed, assigned to nobody

[2016-05-23 11:05] HataKare commented on #7438
### General Info
- UUID: b8637b91-9d24-4a00-8054-24654a0eae7a
- Browser: Vivaldi and Chrome
- OS: Windows 10 Pro

### Description

Same issue in both Vivaldi (runs on Chromium) and Chrome. I cannot change my login password or email either. That is super problematic because I reset it, and now it's the auto-generated random numbers.

Note: If I reload the page a few times, the page returns to norma

[2016-05-23 11:10] khipkin commented on #7436
Not sure if this is related or should be a totally separate bug, but I've been double-counted for my party's quest ever since the migration.  Every day, I collect items twice:
![image](https://cloud.githubusercontent.com/assets/5641207/15468982/9ed34bde-20e7-11e6-9eda-ecd89934a3fd.png)

[2016-05-23 11:14] khipkin commented on #7438
This has been happening to me occasionally since I started using Habitica, long before the migration.  It seems to happen when my internet connection is super slow; something doesn't load correctly, so the placeholders never get processed.  It seems page-independent, but it usually happens to me on my tasks page (just because that's the page I always have open in my browser, Chrome).

[2016-05-23 11:18] #7382 closed, assigned to nobody

[2016-05-23 11:23] khipkin commented on #7420
I am also having this issue.  The challenge I'm having a problem with (https://habitica.com/#/options/groups/challenges/30ddbfd8-b648-4af3-8924-0430f159ceb6) consists of a habit and a daily.  Here they are, side by side, with the habit showing what happens when you click the broken megaphone:
![image](https://cloud.githubusercontent.com/assets/5641207/15469200/f6f2409e-20e8-11e6-95c7-db1dd90c2dda.

[2016-05-23 11:39] Alys commented on #7436
@khipkin That's this bug: https://github.com/HabitRPG/habitrpg/issues/2805

[2016-05-23 11:40] Alys commented on #2805
Another report of this here: https://github.com/HabitRPG/habitrpg/issues/7436#issuecomment-220951700
It happened three times in three days.

@khipkin Are you using the website and a mobile app? Do you have the website open in multiple tabs or windows each day?

[2016-05-23 11:48] rfabi commented on #7411
@Alys thanks! I am back in my party, but it looks like I didn't do any quest damage (even after clicking fetch recent messages).

[2016-05-23 11:53] khipkin commented on #2805
I use the website most often, but I use the Android app if I'm away from my computer.  The last few days, I've had two extra tabs open (in addition to the main one that I keep pinned).

Also, it only happened twice in two days.  That's why I thought it might have been because of the migration.

[2016-05-23 11:58] #7161 closed, assigned to Alys

[2016-05-23 12:01] Alys commented on #2805
@khipkin Ah, sorry, twice. I both misread and miscounted. :-/ Thanks for all the information!

[2016-05-23 12:09] nelle013 commented on #7420
In the experience I had it appears to be with challenges that are launched
but not started yet. The one I was participating in was easy enough to fix
(leave and rejoin), but the Lessen Screen/TV Time is one I created and I'm
not sure how to deal with that.

On Mon, May 23, 2016 at 6:23 AM, Kaitlin Hipkin notifications@github.com
wrote:

[2016-05-23 12:17] calypsomatic commented on #7429
@Alys Thanks!  My party and quest is back!  The only thing is I collected _way_ too many things.  The quest is Dilatory Distress part 1, and I've been getting between about 1-5 things a day, and now it says yesterday I collected 17 blue fins and 11 fire coral.

[2016-05-23 12:18] EmyreCaster opened #7440 "Gems missing from Guild"
Not long before the Maintenance, I created a guild for my household's day-to-day chores, and subsequently placed someone else in charge of it. After the maintenance, the four gems that were previously in the Guild's account are missing and have not shown back up.

My User ID is f6f44a3e-2466-4716-9fbd-296cf1736877

The person who I put in charge of the guild is b83dd2da-617f-4cd0-825a-c1a5c11cc26e

[2016-05-23 12:21] LlamaHobbit commented on #2805
This hasn't happened to me in several months. But happened again this morning. All tabs were closed on both my PC and my Android phone last night before bed. Logged in with a new tab in Chrome this morning, and it happened again. But it didn't seem to happen immediately. I went to the Party chat via the Notifications tab to see how much damage I'd done and ONLY showed the boss damage once. I navig

[2016-05-23 12:49] Alys commented on #7411
That's really odd. :( It looks like you have gone through a daily reset since I added you back to the party, and I can't see anything wrong with how your quest information is set up, so I'm not sure what went wrong. I'll sleep on it and look at it again tomorrow. If you do make quest progress before then, please let us know!

[2016-05-23 13:02] Alys commented on #7440
Did the guild leader use the gems as prizes for challenges? If you don't see any open challenges with gem prizes, did they create one and then close it with a winner, or delete it with no winner?

Do you remember when the guild was created?

[2016-05-23 13:11] Alys commented on #2805
For @LlamaHobbit's attacks, the timestamps are nearly identical:

[code]

Same applies to the next pair of damage messages too.

The delay in the messages appearing might have been from the odd chat syncing we've been noticing.

[2016-05-23 13:14] crookedneighbor commented on #2805
Can we confirm that the latests instances of double quest progress have _actually_ applied damage? Or is it just a matter of duplicating the message?

[2016-05-23 13:15] EmyreCaster commented on #7440
No, the gems were definitely not used as prizes, as we've only started using it today, and the Guild only has two members at the moment.

I believe the guild was created on Friday. It may have been Thursday night, though.

[2016-05-23 13:21] paperskye commented on #7429
I was having the same issue, but I could still see the party on Android. Logging out and back in on the website and party is showing again. Thanks!

[2016-05-23 13:27] dfecko opened #7442 "Date Joined Party Changed? (sort) -- "sort by date joined the party" needs to be removed"
General Info
- UUID: 2fb6b0c7-a7eb-4903-a2a9-2f5a0916de47
- Browser: Chrome
- OS: Win 7
### Description

Did the date joined party attribute change in last weekend's maintenance?  My party is sorted differently this morning.  I'm still sorting my party by date joined, ascending, which I was doing before the maintenance.  For example, UUID 7b4987fd-9c6e-402e-8266-22871d1b3f11 was the last person to

[2016-05-23 13:30] Alys commented on #2805
Boss health initially 500, total damage 487.4, remaining health 12.6, so all of the damage is being applied.

"text": "`breadmaker attacks Skeletal Tyrannosaur for 36.6 damage.`
"text": "`breadmaker attacks Skeletal Tyrannosaur for 36.6 damage.`
"text": "`Llama Hobbit attacks Skeletal Tyrannosaur for 192.9 damage.`
"text": "`Llama Hobbit attacks Skeletal Tyrannosaur for 192.9 damage.`
"text": "`Si

[2016-05-23 13:35] Alys commented on #7442
Oh yes, I'm sorry about that. :( That sort order won't work any more.

In the past, Habitica didn't actually store the date joined, it just put players into a list, with each new person going at the bottom of the list. The "date joined" sort order put the players into the same order they were in the list.

However the maintenance we did changed how players are linked to parties, and there's no lon

[2016-05-23 13:37] ltorroba commented on #2805
This bug has just happened to me. I use Habitica in multiple devices (and sometimes multiple tabs), but today I have not touched my phone and I have only one tab open. Both clocks are set to the same timezone as my Habitica account.

Interestingly enough, we are doing a collection quest, not a boss quest.

![](http://i.imgur.com/29moErx.png)

I had never noticed this issue until now. Other party m

[2016-05-23 13:48] Alys commented on #7420
Another report from the Tavern from Kait (939bb164-2e00-4dac-810d-05268b03657d):

I know people have posted about challenge tasks incorrectly appearing with the "broken challenge link," but either I missed something or this is different than what other people have experienced! In addition to the regular tasks with the broken challenge link, I have all the challenge tasks appearing in yellow--as th

[2016-05-23 13:50] paglias opened #7443 "Party not found error when not in a party"
Happens since last deploy so some very recent commit

[2016-05-23 15:02] Memry opened #7444 "Unable to invite to a party"
General Info
- UUID: df8b14f2-e135-4789-970d-5056e99fcc3f
- Browser: Internet Explorer 11.0.9600.18314
- OS: Windows 7
### Description

I attempted to invite user Paladin54 UUID 7195d518-a4e3-48c0-891b-9da787b6eb79 to my party.  (Party Faith Uniting, Group ID: d43e16a2-f005-455f-a7e9-e6b133ca812b)  I received the error message Please reload the page.  I tried again, same message.  I reloaded, same

[2016-05-23 15:02] paglias commented on #7427
@zesme did you find this problem on v3.habitica.com? In this case it could be because we were running it into dev mode

[2016-05-23 15:10] Memry opened #7445 "Party notifications do not go away"
### Description

I have a continuous notification that there are fresh posts in my party.  The notification does not go away when I check the party.  I have to delete the notification.  This is happening on all my accounts.

General Info
- UUID: df8b14f2-e135-4789-970d-5056e99fcc3f
- Browser: Internet Explorer 11
- OS: Windows 7

General Info
- UUID: 2dc2722b-fdc1-4a36-894f-c22418b67a30
- Browser:

[2016-05-23 15:22] Lizzikins opened #7447 "Party Boss Still Asleep?"
General Info
- UUID: d035f6f3-a18d-44f0-9684-54618e78c51d
- Browser: Chrome
- OS: Windows 7
### Description

The quest boss (Vice, the Shadow Wyrm) is showing as "asleep".
![image](https://cloud.githubusercontent.com/assets/19531744/15475547/8f94a972-2102-11e6-8070-39c21b58acc1.png)
#### Console Errors

[2016-05-23 16:07] vxxed opened #7448 "Cancelling monthly stripe subscription results in internal server error"
### General Info
- UUID: 69b9e5f4-0523-49f3-8cb2-c1d07b362ab8
- Browser: Chrome 49.0.2623.112 m
- OS: Windows 10
### Description

Went to Subscription
Clicked on Cancel Subscription for type "Consecutive Subscription (monthly stripe)"
Clicked "OK" for cancellation confirmation
Shown the following error text on blank white screen:
{"success":false,"error":"InternalServerError","message":"An unexpec

[2016-05-23 16:47] greysmurf commented on #7429
I also got booted from my party, my userID is 1e7e48ca-a088-4d5d-aaf3-9b7fe710dcaa .  The rest of the party members seem to be unaffected, although they report that there's 2 more members showing but they don't show who they are.  Interesting, but would love it if you guys could fix this for us! :)

Refresh and logout/login have not fixed it for me.

[2016-05-23 16:49] ghost commented on #7447
Yes, the special no-damage maintenance mode was planned to be several hours longer than the maintenance window in order to also protect people who didn't sign on until the next evening. You'll start taking damage normally by tomorrow.

[2016-05-23 17:12] paglias commented on #7427
@lynnyliz I've tested buying gems with Amazon and it worked for me, it's possible though that there are problems when using gift cards. The kind of box @zesme is referring to is probably the one that appears when setting up a subscription. Also as far as I know Amazon Gift cards cannot be used to purchase on sites external of Amazon like Habitica

[2016-05-23 17:12] #7427 closed, assigned to nobody

[2016-05-23 17:12] paglias commented on #7448
@vxxed sorry about this! I've fixed the problem. If you try in 24 hours it'll work

[2016-05-23 17:12] #7448 closed, assigned to nobody

[2016-05-23 17:27] ghost commented on #7436
@Alys I didn't do anything other than check off Dailies as usual for the challenge (it's one of my private challenges so I also run it and am the only participant).

[2016-05-23 17:31] paglias commented on #7438
Clearing the cache should fix this!

[2016-05-23 17:33] quin-jay commented on #7427
@paglias it didn't even let me pick whether I wanted to use a credit card, though. Every time I reload the page I get `BLOCKED_BY_CLIENT` console errors which make me think uBlock is still filtering something Amazon-related -- Like, even though habitica.com is on my whitelist, maybe I need to whitelist Amazon too. Or something like that. Either way, separate issue, I'm glad this ticket got sorted

[2016-05-23 18:11] quin-jay commented on #7445
Do they go away when you click the "Fetch recent messages" button? This may be related to #7393

[2016-05-23 18:16] quin-jay commented on #7431
Yeah, especially since it shows a Join button, which makes it look like you've been kicked out of the Tavern for some reason! :fearful:

[2016-05-23 18:18] abejr commented on #6279
@Alys I was able to leave party, but now it seems that habitica is trying to find my old party. When I try to create a new party or invite a friend to a new party, or event go to the party page I get the following:

https://habitica.com/api/v3/groups/party?userV=513 -> returns 404

Response:
{success: false, error: "NotFound", message: "Group not found."}
error:"NotFound"
message:"Group not found.

[2016-05-23 18:20] cTheDragons opened #7449 "Challenge Tags are not automatically associated with Challenge Tasks when creating new challenges"
### Description

When you create new challenge the tasks that appear in the your own, that is the challenge owner's, task list due to the challenge are not automatically associated with the challenge tag.

The tasks themselves are still connected to the challenge are marked as challenge tasks. They are still removed automatically if you choose to remove the tasks when leaving or if the challenge i

[2016-05-23 18:28] makkoi opened #7450 "When creating challenge, cannot alter task difficulty level"
user ID: b3e66733-ab6f-432f-a052-6fa64585da5a
Browser: Google Chrome Version 50.0.2661.102 (64-bit)
OS: Mac OS X Version 10.9.5

After the update, I have experienced a problem when creating a task when I am the owner of a challenge. I can create a task and edit it, but I cannot change the task difficulty level. It is not greyed out, but I am not allowed to click on it or edit it. I have tried savi

[2016-05-23 18:34] makkoi commented on #7449
I am also experiencing this error.

user ID: b3e66733-ab6f-432f-a052-6fa64585da5a
Browser: Google Chrome Version 50.0.2661.102 (64-bit)
OS: Mac OS X Version 10.9.5

[2016-05-23 18:37] crookedneighbor commented on #7445
Yes. this is a duplicate issue.

[2016-05-23 18:37] #7445 closed, assigned to nobody

[2016-05-23 18:40] ltorroba commented on #7427
@paglias I encountered this on the normal version (https://habitica.com), but I think this really doesn't impact in anything. I tried sifting through the sources to see if there were any 400/404 upon page load but none showed up, so I resorted pasting the URL of the script to google and, alas, first result was [this](https://github.com/HabitRPG/habitrpg/issues/5780) (n.b.: check fifth comment).

S

[2016-05-23 18:41] cTheDragons commented on #7450
I am able to change task difficulty level on new tasks as the challenge owner.

See below image:
![challengetaskcansavewithlevel](https://cloud.githubusercontent.com/assets/14116069/15481113/42394812-216c-11e6-9898-189fee8024b6.png)

The save task can be clearly seen with the level set.
![challengetasksavewithlevelwithouttag](https://cloud.githubusercontent.com/assets/14116069/15480610/d0e526d8-21

[2016-05-23 18:51] makkoi commented on #7450
I logged out of Habitica, cleared my cache, and logged in, to the same error. I can upload a video of it if you need me to? (it's not visible with screenshots)

I think I already confirmed the tag issue. Do I have to include screen shots or further information?

[2016-05-23 18:55] cTheDragons commented on #7450
I'm not a dev but video might be good so the devs can see what going on.

[2016-05-23 18:57] sallystardust commented on #7429
I've tried refreshing, new window and logging out/back in. Thanks.

9b467ad9-8bf1-4cb6-84a9-622f5e3b966d

[2016-05-23 19:08] makkoi commented on #7450
@cTheDragons You're very helpful, thank you!

Here's a video of the error that I uploaded onto mediafire.
http://www.mediafire.com/download/23ahvn2kfucnaja/taskerror.mov
The video size is 9.46 MB, format is .mov

The circular ripples that appear in the video are mouse clicks.

[2016-05-23 19:10] jpazniokas opened #7452 "Armoire: incorrect notifcation"
Not a big deal, but an interesting hiccup this afternoon.

I clicked on the Armoire (I've already got the month's Armoire items), and I got two messages: I found milk and I wrestled with the armoire for experience.

The milk did show up in my inventory, but when I went to feed that milk to a pet, I got the standard "xxx really likes the milk" and a ";food item not found", or something like that.

[2016-05-23 19:19] #7419 closed, assigned to nobody

[2016-05-23 19:30] Alys commented on #7452
The Armoire actually didn't give you the milk, but something else, incorrectly reported. See https://github.com/HabitRPG/habitrpg/issues/5376 for details. I'm closing this but you're welcome to ask here if you have questions!

[2016-05-23 19:30] #7452 closed, assigned to nobody

[2016-05-23 19:39] quin-jay opened #7453 "Boss health doesn't update until reload"
General Info
- UUID: 1534a0ee-2f69-4c2e-9659-0d719ac2ea68
- Browser: Chrome 50.0.2661.102 m
- OS: Windows 10
### Description

It's been [documented](https://github.com/HabitRPG/habitrpg/issues/7393#issuecomment-220774569) that there's a bug where party messages don't show up until you click the "Fetch recent messages" button. I think this may be related. Boss health doesn't update until you reload

[2016-05-23 19:56] Alys commented on #7429
@greysmurf @sallystardust You're both back in your parties and quests now.

You can ignore the "2 more members" text. Member counts for parties aren't accurate. We'll fix that in a few days. Sorry about that!

[2016-05-23 20:01] Sara-lily commented on #7429
Someone was booted from my party as well.  I was able to add her back and we weren't on any quests, so everything's good, but if you need datapoints to track down the issue, here's her id:

0541ee84-7a2f-4b46-8d7b-9124be129ddb

Let me know if any more details would be helpful.

[2016-05-23 20:20] lemoness opened #7454 "Member Counts Inaccurate in Guilds and Parties"
Currently, there are some discrepancies with member counts for guilds and parties, often showing more members than usual.

~If you're experiencing this bug, just ignore it for now :) We are aware of it and will go through and fix the member counts once we have handled the more urgent bugs.~

_edit by Alys 2018-01- 08, taken from TheHollidayInn's comment below:_

This is the desired fix:

**change

[2016-05-23 20:27] Alys commented on #7454
~This will be fixed by a database migration, so it's not a normal code bug that contributors can work on.~
_EDIT: We've changed our intentions for fixing this. It is now a normal code fix._

[2016-05-23 20:34] Alys opened #7456 "Vagrant scripts for local installs need to be updated"
The vagrant scripts for installing Habitica on a virtual machine need to be updated before new local installs can be created on vagrant. For example, it's now essential to use npm 3 instead of npm 2 and the current scripts install npm 2. Other changes might also be needed.

There's also this comment from sanserifs, from the Aspiring Coders guild:
"I'd even go so far as to suggest that the example

[2016-05-23 20:42] Alys commented on #7456
When Vagrant is working, the "Upgrading Your Local Installation to use API v3" subsection should state that the previous VM should be destroyed.

[2016-05-23 20:55] kellarules commented on #7412
Also encountered this problem and the work around work for me as well.

[2016-05-23 20:56] greysmurf commented on #7429
@Alys TYVM!  <3 I just confirmed it's all working again

[2016-05-23 20:59] Alys commented on #6279
@abejr Sorry about that. :( You can ignore that Group not found message. We'll get rid of it.

I'm closing this issue because these problems with leaving parties occurred under Habitica's new code. If similar problems still exist, they'll have a new cause, so we'll open a new issue for them.

[2016-05-23 21:04] Alys commented on #7438
Yes, sorry, I should have specified, it is fixed immediately by a reload, but I was seeing a few other reports of that problem - more than usual! - but without any error details, so I was hoping there was something informative in the console. I really should have said that in my initial post.

If I do see it again, is there anything you want me to look at (or other users when they get this), or sh

[2016-05-23 21:08] Alys commented on #7444
@Memry Thank you for telling us! That user was in a party that did not exist. I've removed the non-existent party ID from their account and you should now be able to invite them.

[2016-05-23 21:08] #7444 closed, assigned to nobody

[2016-05-23 21:16] lemoness opened #7457 "Error when moving tasks"
Reported: "when moving any tasks/rewards, if the final position is the same as starting (i.e. I may have waved the task around but eventually put it where it was), "?to=**&from=** are required" shows in a blue info box."

[2016-05-23 21:20] abejr commented on #6279
@Alys I'm afraid I can't just ignore the message because I'm not able to create a new party or join one, it keeps telling me I'm already in a party, try refreshing.

Sorry for insisting.

[2016-05-23 21:34] Alys commented on #7440
Thanks for the details! It looks like the gems were removed during the migration - I'm very sorry! I've added them back. If you don't see them immediately, reload the guild's page and post here if they still don't appear!

[2016-05-23 21:34] #7440 closed, assigned to nobody

[2016-05-23 21:39] Alys commented on #7411
@rfabi I still can't see anything wrong. :(  Please post again after your next daily reset and tell me whether you made progress or not.

[2016-05-23 21:40] rfabi commented on #7411
Will do, thanks @Alys!

[2016-05-23 21:47] Alys commented on #6279
@abejr No, you're absolutely right to insist. I'm so sorry - I read your message far too fast and missed the kind of error it was. This one we definitely do need to fix for you.

Could you please tell me your user ID? On the website, go to [Settings -> API](https://habitrpg.com/#/options/settings/api) to find it (it is a long string of random characters and is not the same as your Habitica name).

[2016-05-23 22:06] abejr commented on #6279
@Alys No problem, my id is: 140ca18c-1f4e-4260-a6fd-d8f309dd4d3a and friend's id (He was in the same party and having the same problem) is e4826bd8-15d8-41be-ba75-897e2e17ae72

Thank you so much =D

[2016-05-23 22:27] ethack opened #7458 "[API v3] Documentation for task scoring has incorrect HTTP method"
### General Info
- UUID: ec488a95-daaa-4fe5-848e-0271e5053fd0
- Browser: N/A
- OS: N/A
### Description

The documentation for scoring a task in v3 of the API says to use `PUT` as the HTTP method.  However, using this returns a 404.  Using `POST` works as expected.

Link to the docs: https://habitica.com/apidoc/#api-Task-ScoreTask

Note: I am using the new UUID as returned by the `GET /api/v3/tasks

[2016-05-23 22:38] Alys commented on #6279
@abejr I think I have that fixed up for you now. You should both be back in your original party, but it was a manual fix so I might still need to tweak something. If there are any problems at all, please do comment here! Thank you for your patience and for being so polite about my error before!

Technical details for other admins: Both players had the correct party ID in their party object, but th

[2016-05-23 22:54] abejr commented on #6279
@Alys Thank you, it's working

[2016-05-23 22:57] froggily opened #7460 "Beast/Mount Master Progress displays incorrectly"
General Info
- UUID:  634ef54c-8d52-4293-8adc-f0e810dd85dc
- Browser: Google Chrome Version 50.0.2661.86 (64-bit)
- OS: OS X Yosemite Version 10.10.5
### Description

Some profiles show
Beast Master Progress: {{::statCalc.beastMasterProgress(profile.items.pets)}}
or
Mount Master Progress: {{::statCalc.mountMasterProgress(profile.items.mounts)}}
and it seems to be when that user has 0 pets and/or m

[2016-05-23 23:06] #7443 closed, assigned to nobody

[2016-05-23 23:08] #6279 closed, assigned to nobody

[2016-05-23 23:29] andrewperkins-wf commented on #7413
I have seen this as well - I always have one tag selected when on a specific computer, and it will (it seems) randomly deselect it.

[2016-05-23 23:42] quenz commented on #5536
I think this functionality is slightly confusing. The link shouldn't be formatted as clickable when hovering, or a little smaller note in italic or something should read "click note icon to freeze", or something like that..

[2016-05-23 23:53] ReveWeber commented on #2805
We have had our first experience with this as a party in the past two days - our warrior did double damage yesterday and triple damage today. It is definitely applying to the boss's health. He says he hasn't noticed anything else strange (eg double mana), he is pretty sure he had only one tab open, and while he may have used the iOS app in the past, the last occurrence of it would have been months

[2016-05-24 00:23] crookedneighbor commented on #7458
Want to open a pull request?

[2016-05-24 00:40] lemoness opened #7461 "static/api redirect"
habitica.com/static/api should point to https://habitica.com/apidoc/ with a HTTP response status code 301.

We will also need to update all links on the wiki and elsewhere.

[2016-05-24 00:42] LlamaHobbit commented on #2805
@Alys This might be the same as what you meant on the timestamps. But just to be sure, what I mean is that I saw the first damage, and saw the corresponding drop in boss health by 196, and saw the message stamped as having happened "X minutes ago" where X was more than 1 (don't remember the exact number). When I navigated back to the page, and hit Fetch Recent Messages, then the second damage mess

[2016-05-24 01:43] Alys commented on #2805
@LlamaHobbit Ohhhhh... yes, I had missed that. Thank you for explaining again! That's very odd. At the moment, I really don't know what happened there.

@zesme @ReveWeber Thanks for your detailed reports! It's definitely helpful to know that this happened with just one tab open.

[2016-05-24 01:59] #7430 closed, assigned to nobody

[2016-05-24 02:13] HataKare commented on #7438
The page glitch is resolved for me now.

[2016-05-24 02:14] #7435 closed, assigned to nobody

[2016-05-24 02:15] Alys opened #7464 "tests are needed for cron safe mode and cron semi-safe mode"
This is so that I'm kept accountable for doing this, or at least guiding a contributor through doing it.

In PR https://github.com/HabitRPG/habitrpg/pull/7286, "cron safe mode" was implemented. It causes cron to behave differently than normal, with the differences described here: https://github.com/HabitRPG/habitrpg/issues/7161#issuecomment-218096217

In PR https://github.com/HabitRPG/habitrpg/pul

[2016-05-24 02:16] cTheDragons commented on #7461
Wiki I believe has been completed except for previous posts like
http://habitica.wikia.com/wiki/Thread:39944

Google Search used :
- "habitica.com/static/api" site: habitica.wikia.com
- "habitica.com/static/api" site: habitica.com

[2016-05-24 02:19] #7425 closed, assigned to nobody

[2016-05-24 02:24] crookedneighbor commented on #7460
Looking at this.

[2016-05-24 02:30] HataKare opened #7465 "Cannot change password"
General Info
- UUID: b8637b91-9d24-4a00-8054-24654a0eae7a
- Browser: Vivaldi and Chrome
- OS: Windows 10 Pro
### Description

When I try to change my password it shows the following message:
![habitica password glitch](https://cloud.githubusercontent.com/assets/2553443/15490319/e2acfdbc-2134-11e6-9a96-d441107cf852.PNG)
This happens in both Chrome and Vivaldi, and I tried different password lengths

[2016-05-24 02:38] crookedneighbor commented on #7460
@froggily can you post specific ids of user's where this happens?

[2016-05-24 02:45] crookedneighbor commented on #7460
Never mind, I figured out the source of the bug.

[2016-05-24 03:07] crookedneighbor commented on #7461
Implemented https://github.com/HabitRPG/habitrpg/commit/f9b759ae57278118453edf8264e12a5a2a89e4b9

[2016-05-24 03:07] #7461 closed, assigned to nobody

[2016-05-24 03:07] #7460 closed, assigned to crookedneighbor

[2016-05-24 03:14] #7458 closed, assigned to nobody

[2016-05-24 03:14] crookedneighbor commented on #7458
@ethack Never mind, I took care of it.

[2016-05-24 03:34] #7457 closed, assigned to nobody

[2016-05-24 03:58] crookedneighbor commented on #7447
We're seeing increased instances of double boss damage after maintenance: https://github.com/HabitRPG/habitrpg/issues/2805

So we're going to implement a temporary measure while we work it out so that dailies work normally, but boss damage still does not affect the user. (message has been updated) https://github.com/HabitRPG/habitrpg/pull/7462

We're doing this so that user's are not unfairly dama

[2016-05-24 03:58] #7447 closed, assigned to nobody

[2016-05-24 03:59] crookedneighbor commented on #7465
Duplicate of https://github.com/HabitRPG/habitrpg/issues/7423

Copying this text over to the other issue.

[2016-05-24 03:59] #7465 closed, assigned to nobody

[2016-05-24 03:59] crookedneighbor commented on #7423
Porting from another issue:

General Info
- UUID: b8637b91-9d24-4a00-8054-24654a0eae7a
- Browser: Vivaldi and Chrome
- OS: Windows 10 Pro

### Description

When I try to change my password it shows the following message:
![habitica password glitch](https://cloud.githubusercontent.com/assets/2553443/15490319/e2acfdbc-2134-11e6-9a96-d441107cf852.PNG)
This happens in both Chrome and Vivaldi, and I tr

[2016-05-24 04:20] lemoness commented on #7423
This happens for me as well.

On Monday, May 23, 2016, Blade Barringer notifications@github.com wrote:

[2016-05-24 04:38] chrispower115 opened #7468 "New tasks tagged with random incorrect tags"
General Info
- UUID: d28f85ee-1895-4175-87ad-330e6f294784
- Browser: Chrome Version 50.0.2661.94 m (64-bit) or
  Vivaldi 1.1.453.59 (Stable channel) (32-bit)
- OS: Windows 10 Enterprise
### Description

When created, New tasks are tagged with random incorrect tags.
EG: New task created with "Work" tag might be tagged by the system with "Home" + "Afternoon".
This happens even when other tags are NO

[2016-05-24 05:14] omtigger opened #7469 "Challenge Extra Notes Missing in creator's copies of tasks after creating a challenge"
General Info
- UUID: 84c14a15-4d8a-4bf7-a10b-e6bd3ddf0fa1
- Browser: Firefox
- OS: Windows 10
### Description

Extra notes made in challenge creation are not showing when I go to my "Tasks" screen. Tried reloading tasks, and edited challenge (needed to fix tag anyway) and saved again.
#### Console Errors

[2016-05-24 05:18] Alys commented on #7468
Sorry about that! It's this bug: https://github.com/HabitRPG/habitrpg/issues/7412

The top post and comments have some information about workarounds that might help (e.g., reload before creating tasks; double-click a tag's checkbox to remove it).

[2016-05-24 05:18] #7468 closed, assigned to nobody

[2016-05-24 05:25] cTheDragons commented on #7449
Should note if you are joining a challenge the tags appear to work correctly.

[2016-05-24 06:35] Bottl commented on #2805
Hello again Alys, just letting u know it's still happening in our party too

[2016-05-24 08:21] TheHollidayInn commented on #7418
Looking into this. Do you know if your `user.achievements.ultimateGearSets` was set to true?

[2016-05-24 08:27] Alys commented on #7418
@TheHollidayInn The achievement was not set to true.

[2016-05-24 08:28] TheHollidayInn commented on #7418
Perfect, I think I know what it is then.

[2016-05-24 08:28] Ulugbeg opened #7470 "Since maintanance, damage to quest boss doesn't work"
Hi!

Ever since the update, the damage that I'm supposed to do to the boss doesn't work anymore, and I get error messages when I start habitica for the first time that day. This is the case for BOTH the android app (fully updated to the latest version in the App Store) and the website.

My user UUID: 3ae12e97-6fca-484e-9c92-a308e39afbb8

I tried this on different days on different platforms. On Su

[2016-05-24 08:38] patricedenis opened #7471 "Mages damage twice every cron in Party since update"
Hi every one.
### Description

Since update, we found that our magos striked twice every cron on our quest monsters.
It seems like a bug for us as the vilains are fired really quickly with this effect.
Our group ID is the following : 6ef26f59-6fe1-46f7-a942-9cee31a3a47e

Cheers,

Iodor

[2016-05-24 08:45] TheHollidayInn commented on #7415
Does this happen with new challenges for you, @Eiron ?

[2016-05-24 08:47] Alys commented on #7470
Similar problem: https://github.com/HabitRPG/habitrpg/issues/7411#issuecomment-220958786

For both, I can't see anything wrong in the way the quest is set up.

@Ulugbeg Your information about 'Daily verification failed' is interesting! There might be some misconfiguration in your Dailies that is preventing cron from completing correctly. I'll look through them to see if I can find it (I can do tha

[2016-05-24 08:49] Alys commented on #7411
@rfabi I think this might be a similar problem to yours: https://github.com/HabitRPG/habitrpg/issues/7470

If you have time, could you please read that issue and tell me if you've seen any of the things reported there? If you could put your comments on that issue, rather than this one, that would help us track that particular problem in one place.

[2016-05-24 08:51] Alys commented on #7471
Thanks for letting us know! We're tracking the problem in https://github.com/HabitRPG/habitrpg/issues/2805
so I'll close this issue now. No need for you to comment on the other one - there'll be an automatic link between them. We're working on a fix for this!

[2016-05-24 08:51] #7471 closed, assigned to nobody

[2016-05-24 09:45] Ulugbeg commented on #7470
Thank you for your lightingfast responds ;)

Feel free to see the texts of anything in my tasks, nothing too private in there, and it's in Dutch anyway :)

Some more (potentially relevant) information:
-  there was a challenge I was in. The creator of the challenge tried to change the day of one of the existing dailies in the challenge, that seemed to have failed/not work. This was Sunday evening,

[2016-05-24 10:08] Alys commented on #7470
GREAT details, thank you!

Dutch will be a very effective form of encryption. ;)

The app won't be causing you to cron early - I'm certain that's impossible because cron is fully controlled by the server. The only way the app could affect when cron runs would be if it reported the wrong time zone for you, but we believe the code for reading your time zone is correct. However I have seen a couple o

[2016-05-24 10:18] agata0808 opened #7472 "Doubled habits, to-do's and dailies"
General Info
- UUID: f36079b5-ed56-460d-88bd-b7da6c9badaa
- Browser: Google Chrome
- OS: Windows 7
### Description

All of the dailies, to-do's and habits connected with the challenges are now double. I can't delete them. In addition there is an information, that the link to the challenge is wrong. It must have happened during the last week.
#### Console Errors

[//]: app-9e4d2a8b.js:6 Error: [$pa

[2016-05-24 10:52] Alys commented on #7470
The "Oren Hond" challenge was still listed in your account's list of joined challenges, even though all the tasks had been removed. I've removed it now. You should no longer show up as a participant.

Its task ":poodle: :ear::point_left: Oren hond doen" does not appear in your account - i.e., there's no task of exactly that name, and there are no tasks that contain invisible back-end data linking

[2016-05-24 11:25] crookedneighbor commented on #7426
This is fixed now. Thanks for reporting it!

[2016-05-24 11:25] #7426 closed, assigned to nobody

[2016-05-24 11:37] crookedneighbor opened #7473 "500 Server Error on Cron - Mongoose Error - No matching document found."
Looks to be a case where we're saving an array that has already been modified.

From the server logs:

[code]

See http://aaronheckmann.blogspot.com/2012/06/mongoose-v3-part-1-versioning.html about Mongoose versiononing

[2016-05-24 11:45] #7423 closed, assigned to nobody

[2016-05-24 11:59] ghost opened #7474 "Quest damage tripled for party member"
General Info
- UUID: db190b28-8ce5-422e-8076-d43a62a7b204

Group ID: d71ba110-e2b0-4d12-a0d3-96a83a9f503c
### Description

Couldn't find a description of this elsewhere. Started a quest after maintenance (Treeling). One party member's damage ran normally (1x). Mine ran 3x! Not just a triplicate message in party chat as the boss loss 3x the health.
Edit: screenshot removed for party privacy

This w

[2016-05-24 12:05] Alys commented on #7474
Hi @Anysia : We're tracking this bug in https://github.com/HabitRPG/habitrpg/issues/2805

If you'd like to get email updates you can subscribe to it with the button in it's right-hand column.

[2016-05-24 12:05] #7474 closed, assigned to nobody

[2016-05-24 12:08] ghost commented on #7474
Additional: I accessed Habitica on my iPad using Safari to trigger cron. I just remembered that the Habituca app was also open (I was trying out the reminders function) but I hadn't used the app since yesterday morning. Habitica is open on my desktop but that computer is idle at night and shouldn't trigger anything (and never has before). The app running in the background on the iPad may or may no

[2016-05-24 12:14] ghost commented on #2805
Adding my report: Triple damage done (all a at once). I accessed Habitica on my iPad using Safari to trigger cron. The Habituca app (updated after maintenance) was also open (I was trying out the reminders function) but I hadn't used the app since yesterday morning. Habitica is open on my desktop but that computer is idle at night and shouldn't trigger anything (and never has before). The app runn

[2016-05-24 12:19] ghost commented on #7448
Same issue here.
UserID: 1dd87975-da69-465f-b3b1-ef949a5e6f20

[2016-05-24 12:52] lynxlynxlynx commented on #7472
Looks like a dupe of #7436 , but the extra log helps.

[2016-05-24 12:52] Cheesus2112 commented on #7429
22ffea67-ba9c-4116-83be-c9662bde753f

I was the only one in my party and got booted. I was doing the Golden Knight Part 3 and had 93 damage left to deal to the boss.

[2016-05-24 12:59] Ulugbeg commented on #7470
Thank you so much for looking into this, and I'm happy I'm reporting the (apparently) relevant details :)

Re: cron: yeah, I knew it was serverside, I just thought it might have happened due to the app maybe passing wrong data, but good to know that it's only a visual thing

Also, my other party member just did damage to the boss twice, killing the boss - is that the same thing you mentioned regar

[2016-05-24 13:00] Starfevre opened #7477 "Damage to boss issued twice for some party members"
Since maintenance, for me and one other member of our party on the Treeling quest (but not the third member), the damage done to the boss has been done twice for each day.  From the damage to the boss, it's not just a notification error because twice the damage is actually occurring.

Here is our log:

Starfevre attacks Tangle Tree for 24.8 damage. Tangle Tree does not attack, because it respects

[2016-05-24 13:08] agata0808 commented on #7472
Thank you. I couldn't find connected issues, maybe because github is completly new to me and I have no idea how to use it. But the other problem still isn't solved, so maybe my informations will help as you've just said. :)

[2016-05-24 13:13] Alys commented on #7429
@Cheesus2112 I've recreated your party from a database back from a few days ago and set the HP to 93. Please tell me if anything doesn't look right! Tomorrow, after your Dailies have reset, please go to party chat and look for a message saying how much damage you've done to the quest boss. If you're on the website, you might need to click "fetch recent messages" before it appears. If you don't see

[2016-05-24 13:32] jenniferagsdale commented on #7429
I think this might be related: my party completed Dilatory Distress Part 1 over the weekend, but none of the rewards came through and the part 2 is not unlocked.
user id eff066ee-2ce9-4bd0-aed0-5bceb047714e

[2016-05-24 13:42] Alys commented on #7429
@jenniferagsdale
I've given the achievement and rewards to your party. Reload if you don't see them. Please tell me if they don't appear after that!

[2016-05-24 13:49] Alys commented on #7472
@agata0808 No worries about not finding the issue. We appreciate you reporting this!

I think for that console error, there might have been an incomplete download of the javascript. That code must be referring to this line, which doesn't have the syntax error described:
https://github.com/HabitRPG/habitrpg/blob/develop/website/server/models/task.js#L44

We're trying to work out what sort of fixes

[2016-05-24 13:49] #7472 closed, assigned to nobody

[2016-05-24 13:50] Alys commented on #7436
Another report is at https://github.com/HabitRPG/habitrpg/issues/7472 with console errors but I'm not sure they're related.

[2016-05-24 13:57] Alys commented on #7477
Thanks for the details! We're tracking this bug in #2805

No need to report it again there because a link has been created between this issue and it. I'm closing this one since we're tracking it in the other one.

If you'd like to get email updates you can subscribe to it with the button in it's right-hand column.

[2016-05-24 13:57] #7477 closed, assigned to nobody

[2016-05-24 14:01] Alys commented on #7470
Yes, that's the double quest damage bug. No need for your party mate to report it now.

Sounds like the missing 'challenge' object isn't causing any problems. It was a long stretch anyway. :)

For the moment, I'm out of ideas (I speak only for myself here, not for the other devs), but if you can get the console logs, that might give some clues!

[2016-05-24 14:58] Ulugbeg commented on #7470
Will get you those in about 17 hours :) Thank you!

[2016-05-24 15:12] Krispy-Rice commented on #7436
@Alys thank you for the info. To clarify, are you saying I should just be
patient?  I don't mind waiting (I'm not sure I have another option, since I
can't seem to delete the tasks myself), but I am concerned about what it's
doing to my daily health. Any suggestions?

On Tuesday, May 24, 2016, Alys notifications@github.com wrote:

[2016-05-24 16:22] ghost commented on #7436
@Krispy-Rice I only have one challenge duplicated but what I've been doing is noting my HP, XP, MP and gold then checking off all the duplicates, then going into Fix character values and putting them back to where they were. The duplicates still affect damage done to quest bosses but otherwise it's as neutral workaround as I can think of.

[2016-05-24 16:29] HataKare commented on #7423
Sorry for the double post, but in the tutorial it says "Ignore anything with [API v3]"

[2016-05-24 16:34] HataKare commented on #7423
The issue is not resolved by the way.

[2016-05-24 16:35] crookedneighbor commented on #7423
It's fixed in the code base, but has not been deployed to the site yet. Will happen today.

[2016-05-24 16:36] crookedneighbor commented on #7423
I'll post here when it does.

[2016-05-24 16:36] HataKare commented on #7423
Oh okay, thanks

[2016-05-24 17:10] MunchkinPaws opened #7479 "Unable to add party member "an unexpected error has occurred" for days"
I am trying to add someone to my party but it keeps saying "an unexpected error has occurred" and tells me to reload the page. I have tried to reload the page as well as multiple computers but it continues to happen. It has happened for days with the same person. Does anyone know of a way to fix this? Thanks

my user id is : a0ecb538-3725-48f9-8b09-2a2ea453fcd8

my group id is: 518bd819-42e7-44b4-

[2016-05-24 17:29] ShulamitLH opened #7480 "problems with challenges"
Something is wrong with the challenges. I tried editing one I created and own, but I couldn't add any new tasks or change difficulty for any task.

[2016-05-24 17:47] pacorain opened #7481 "Webhooks can't be added from habitica.com"
General Info
- UUID: 2f6e262c-d9e7-4571-993a-7d000324e2b9
- Browser: Google Chrome 50
- OS: Windows 10
### Description

I am experimenting with webhooks, and I cannot add them using the API settings on habitica.com. Whenever I try to add a webhook, I get a message in the corner that says `the "enabled" parameter should be a boolean`.

I am able to add webhooks with the API (and they work splendidl

[2016-05-24 18:03] Krispy-Rice commented on #7436
@Anysia... Thanks for that idea.  I'll try it out. :)

On Tuesday, May 24, 2016, Anysia notifications@github.com wrote:

[2016-05-24 18:23] esmanning opened #7482 "Triple quest rewards"
General Info
- UUID: 809d8b43-07a1-49ab-9bb5-ad3ba461688d
- Browser: Chrome
- OS: El Capitan
### Description

I completed the Sabre Cat quest last night and received triple the normal rewards (I definitely got 9 eggs and the achievement x3; I didn't pay close enough attention to GP and XP, but I noticed having a lot more gold today than I expected so I assume those were both tripled as well).

Pos

[2016-05-24 19:06] Sulfirh commented on #7422
Hey there o/
Same here : the [Clean the Dungeon](https://habitica.com/#/options/groups/challenges/f3af2863-1fec-4e1c-aac0-71bd1fac1e4c) challenge only shows 30 names, and it seems that the others participants (not part of the 30 chosen ones) have a broken challenge icon :/
Is there anything I can do (or tell to the challengers) to help?

[2016-05-24 19:14] quin-jay commented on #7453
Still seeing this today, though it looks like the site ran "cron semi-safe mode" or something. Also FWIW, boss damage ran twice for me, killing the boss. I know that's a known bug, so I won't create a new issue for it.

[2016-05-24 19:20] quin-jay commented on #7480
Related issues: #7450 (owner can't edit challenge difficulty level) and #7320 (owner can't edit challenge). @ShulamitLH Do you want to comment on those threads reporting that you see those bugs too? The admins may close this issue if they think it's too similar to others that have been opened.

[2016-05-24 19:27] jtanmay opened #7483 "Reset/Update Password issue"
General Info
- UUID: d98d6428-a033-4d96-ab32-60679ad2d431
- Browser: Chrome / Firefox
- OS: Mac
### Description

Not able to change the password.
I had forgot my password, so did the forgot password functionality. The reset was successful. Now as the password was system generated, I went ahead and tried updating to a password i remember. But getting errors. 'Yikes! An error occurred... "
#### Cons

[2016-05-24 20:05] Gooseus commented on #2805
I just started having this issue at the last CRON.

![image](https://cloud.githubusercontent.com/assets/39137/15517672/dd631f48-21ad-11e6-8e65-1658a73e655f.png)

I can confirm that the damage definitely double applied from me.

While I see this is a long running issue, I'll put my theory up anyways.

Prior to the update I had a persisting bug with still being in the invited state for the party, ev

[2016-05-24 20:06] crookedneighbor commented on #7483
This is a duplicate of https://github.com/HabitRPG/habitrpg/issues/7423

We've fixed the issue in the code base and are doing a deploy soon.

[2016-05-24 20:06] #7483 closed, assigned to nobody

[2016-05-24 20:43] SabreCat commented on #2805
Possible fix underway at #7485 and 91e16ff1910240e7b740aeeeb1b11ef770211393

[2016-05-24 20:50] nbunney opened #7486 "Unable to start new quest."
General Info
- UUID:
- Browser:
- OS:
### Description
#### Console Errors

[2016-05-24 21:01] nbunney commented on #7486
Oops

[2016-05-24 21:01] #7486 closed, assigned to nobody

[2016-05-24 21:01] lemoness commented on #2805
We've just deployed a fix that should prevent most of these cases! We are
still working on a fix to eliminate them completely, but they should become
much less frequent now.

On Tue, May 24, 2016 at 1:49 PM, Shawn Marincas notifications@github.com
wrote:

[2016-05-24 21:14] crookedneighbor commented on #7483
The fix is deployed now.

[2016-05-24 21:14] crookedneighbor commented on #7423
The fix is deployed now.

[2016-05-24 21:36] paglias opened #7487 "Daily validation failed"
{ message: [32m'daily validation failed'[39m,
    name: [32m'ValidationError'[39m,
    errors:
     { [32m'tags.1'[39m:
        { message: [32m'Invalid uuid.'[39m,
          name: [32m'ValidatorError'[39m,
          properties:

[2016-05-24 21:37] lemoness commented on #7423
Just tested, and it works for me!

On Tue, May 24, 2016 at 2:33 PM, Blade Barringer notifications@github.com
wrote:

[2016-05-24 21:38] paglias opened #7488 "Text of message when gifting gems not displayed"

[2016-05-24 21:39] Alys commented on #7479
Sorry about this! Could you please tell us their user ID?

[2016-05-24 21:44] Alys commented on #7423
@HataKare Thanks VERY much for the note about the bug instructions being wrong! I'd forgotten that I'd need to remove that and it could have stayed there for months if you hadn't taken the time to tell us! :)

[2016-05-24 21:53] MunchkinPaws commented on #7479
theamazingsplit
0c93e1bb-0dde-45cb-b306-8c095b1120dc

[2016-05-24 22:20] Alys commented on #7482
I had though this could be related to https://github.com/HabitRPG/habitrpg/issues/2805 (double/triple quest progress messages) but your final boss attack appears just once. It might be a similar mechanism though.

Thanks for reporting it! I've removed two of the achievements.

[2016-05-24 22:32] Alys commented on #7479
@MunchkinPaws Could you please try once more now?

You can ignore the information below if you wish.

---

Technical details for bughunting:

That player's invitations.party attribute contains null instead of an object - I wonder if that's causing it. I have changed it to {}:

[code]

Their party object looks normal and does not show an existing party id:

[code]

They're not already in the party

[2016-05-24 22:35] MunchkinPaws commented on #7479
It worked! Thank you so much for your help.

[2016-05-24 22:36] Alys commented on #7487
Possible related: https://github.com/HabitRPG/habitrpg/issues/7470 ("Since maintanance, damage to boss doesn't work")
".... it said something along the lines of 'Daily verification failed'...."

[2016-05-24 22:38] Alys commented on #7479
Fantastic! Thanks for telling us! We'll keep using this issue for sorting out how it happened and for finding and fixing other instances, if any.

---

Looks like the `null` in `invitation.party` was causing it. I'll do a search for any other affected players and fix it.

We should also look into whether this was a once-off data glitch or caused by code.

[2016-05-24 23:12] Ohios commented on #4252
Hello again! My group just completed the Vice, Part 3: Vice Awakens, and it looks like we didnt get the rewards.

My UID is 8b6880fe-dd95-423d-9191-42253eb3c0fd

My Party's ID is 3908c727-60d1-4453-a545-463b431a7d86.

Thanks!

[2016-05-24 23:14] Alys commented on #7422
@paglias Do you think we could increase the limit, even if we can't show all the names yet?

[2016-05-24 23:51] Alys commented on #7436
@Krispy-Rice I'm sorry, yes, just waiting was what I meant. :( Although a fix for not being able to delete broken challenge tasks has been made now. Can you please reload the website and tell us if you're still not able to delete broken challenge tasks?

[2016-05-25 00:21] mfreydavis commented on #4252
We're in the same boat.  My group didn't get the reward for a quest.
Quest: The Moonstone Chain Part 1.
Group ID: 2d7ae359-b43b-4cbe-af8d-bc5729874f9a

Thanks!

[2016-05-25 00:26] Alys commented on #7479
49,954 user accounts had `null` in `invitation.party`. I've changed them all to `{}`

Such a large number makes me think this was incorrect data left over from the old site. I don't think it could be from a new bug in our new code (e.g., can't be due to accepting or rejecting an invitation and having the attribute cleared wrongly) because there hasn't been enough time for that many players to be a

[2016-05-25 01:40] sujunmin commented on #7429
Hi @Alys , last quest i posted before had been ended, and new quest wiil be started, my mate said he can not see my name in list and party list, Could you help me to check that?
ac6fbe37-b0dc-40d8-ba14-77dde66fbfa8

[2016-05-25 02:02] #5376 closed, assigned to nobody

[2016-05-25 02:18] crookedneighbor commented on #6935
Just pushed a fix for Armoire weirdness that may have made it display the wrong reward for using it. Going to close this now, but please re-open if you're still having issues later this week.

Closed with https://github.com/HabitRPG/habitrpg/commit/0008839996a6879730d72a3fd5aeb5a3829cbcb8

[2016-05-25 02:18] #6935 closed, assigned to nobody

[2016-05-25 02:28] Alys commented on #7146
I never had time to do the more thorough search, but I didn't see any verified reports of other problems, and next month's Armoire migration will fix any left over from this month.

[2016-05-25 02:28] #7146 closed, assigned to nobody

[2016-05-25 03:33] otomatonom opened #7489 "Enchanted Armoir item disappears upon equipping it"
General Info
- UUID: 61d9aab8-196f-4f52-90d1-c94134249500
- Browser: Chrome
- OS: OS X 10.9.5
### Description

I clicked to purchase an Enchanted Armoir and was awarded something called a "Red Crow" or something that looked like a red-and-black shepherd's crook (I didn't get the best look at the name that will be explained later). I go to my inventory and am looking at my different items, and deci

[2016-05-25 04:28] ShulamitLH commented on #7450
I'm having the same problem both with old challenges that I own and a new one I tried to create to test.

[2016-05-25 04:30] ShulamitLH commented on #7320
I'm having the same problems both with old challenges that I own and a new one I tried to create to test. I was unable to add an additional task or change the name of an existing one within a challenge I own.

[2016-05-25 04:39] ShulamitLH commented on #2805
I just saw it again today and yesterday, both times for the same player (Shulamit).

Shulinde attacks Vice, the Shadow Wyrm for 24.8 damage. Vice, the Shadow Wyrm does not attack, because it respects the fact that there are some bugs post-maintenance and it doesn't want to hurt anyone unfairly. It will continue its rampage soon! -3 hours ago+1

Shulamit attacks Vice, the Shadow Wyrm for 49.0 damag

[2016-05-25 05:36] Memry commented on #7320
I can add notes to a to do, but not change an existing one's name or difficulty.  I was able to delete a to do.  I also could not add any tasks in any category. But I was able to change the name and description of the challenge.

[2016-05-25 05:52] Alys commented on #7320
@Memry And you used to be able to change an existing task's name or difficulty?

[2016-05-25 05:53] #7480 closed, assigned to nobody

[2016-05-25 06:06] Memry commented on #7320
Yes, I could.  I don’t recall messing with the difficulty very much, but I used to change the names regularly as I reorganized recurring challenges.

[2016-05-25 06:16] marastara commented on #4252
Our group just completed the Octothulu quest but one of our party didn't get the rewards.

His User ID is:
fb85165f-17a4-411c-aeda-d885da1ed155

[2016-05-25 07:39] Ulugbeg commented on #7470
[habitica_console_output.txt](https://github.com/HabitRPG/habitrpg/files/281233/habitica_console_output.txt)

Hello!

Well, I'm not sure this will help :( I TRIED to pay attention, but I don't think I saw ANY popups this morning when I F5'ed, but I also did NOT do any damage again to the boss.

I'm using (the latest) firefox, and in the debug console I had both the 'net' and 'js' output types sele

[2016-05-25 07:45] Dewines commented on #7422
I've had a quick look at the number of participants in various challenges and the Tavern is undoubtedly the biggest culprit in hammering the database. There are a few tiny challenges with less than 10 people, but most have 150-200 participants and the largest is over 1000. There are also a lot of challenges in the Tavern.

Newbies is another guild that attracts large numbers to the challenges, but

[2016-05-25 07:55] makoto13 commented on #7320
Hi, I'm running into these issues as well.
Challenge title, days to repeat on, "repeat every..." drop down menu, and difficulty can't be edited.

[2016-05-25 08:35] Alys commented on #7470
No worries, we'll keep thinking about it.

There's something I should have checked in the beginning though: Are you
resting in the inn each night? Or clicking the "pause my dailies" button in
the Tavern in the mobile app?

On Wed, 25 May 2016 5:39 pm Ulugbeg, notifications@github.com wrote:

[2016-05-25 09:05] Ulugbeg commented on #7470
Nope, I'm not zzzing ;)

[2016-05-25 09:07] paglias commented on #2805
Shulamit could you try clearing the cache and then reloading Habitica?
Il 25 mag 2016 6:39 AM, "ShulamitLH" notifications@github.com ha scritto:

[2016-05-25 09:21] lynxlynxlynx opened #7490 "User permanently gone?"
This is a bit odd and so far more of a support request than a bug report.

With the migration, our party lost one member. At first we thought it's the same cache invalidation bug that everyone experienced, but the user hasn't cropped up yet. He was active before the migration and just before hitting level 100 for the first time.

While unlikely, it is possible he closed the account, because when w

[2016-05-25 09:26] Alys commented on #2805
The exact timestamp for Shulamit's most recent double-cron (49.0 damage) is 2016-05-25 01:56:19 (about 7.5 hours ago).

[2016-05-25 09:29] Alys commented on #7490
That account is definitely not in the database now, but was before the maintenance window.

I'm talking to the staff about this.

[2016-05-25 09:40] Alys commented on #7490
@lynxlynxlynx We've established that your party member was still in the database after the migration was finished. It seems that they deleted their account a couple of days ago.

[2016-05-25 09:40] #7490 closed, assigned to nobody

[2016-05-25 09:45] lynxlynxlynx commented on #7490
Ok, thanks!

[2016-05-25 10:01] Alys commented on #7411
@rfabi I'm closing this because when I was investigating your account again to try to find the problem, I noticed that you are now making progress on the quest.

[2016-05-25 10:01] #7411 closed, assigned to nobody

[2016-05-25 10:12] foxbow opened #7491 "Invite self to own party"
### General Info

UUID: 35f19d1c-bffe-4c5b-8c2b-753b4ace4e86
GroupID: 0be1fdc6-7da1-40e4-a76a-b5921be11e51
Browser: Firefox 46.0.1
OS: Ubuntu 14.04 LTS
### Description

I can invite myself to my own party that I am already leader of. This leads to some confusion as I cannot join but apparently cannot cancel the invitation either.

[2016-05-25 10:41] ninetyd commented on #7489
I've just had the same issue. Got a Bat Wand from the Armoire, went to equip it as part of my Costume, which seemed to work as I could see it on my avatar picture but then the item disappeared somehow and I was back to being equipped with my previous item, the Barrister Gavel (although I'm not sure it showed up on my avatar). I reloaded the page but the item didn't reappear and gold was not refund

[2016-05-25 10:41] paglias opened #7492 "Show challenge members in separate page"
After https://github.com/HabitRPG/habitrpg/commit/adce786ae2cc933d2fad2d36c9975a98f1c31e11 and https://github.com/HabitRPG/habitrpg/commit/042ac16c485ea66a3b02fc5649f194e4f2cbc1dc all challenges members are loaded when opening a challenge on the website.

For big challenges with more than 100 users this is a very slow operation so we should move the list of members to a separate page that is only

[2016-05-25 10:43] Batchasse opened #7493 "Checklist - item duplicates"
General Info
- UUID: 022bf9e4-e8fe-43d4-afb2-f367d79cf64b
- Browser: Firefox (up to date)
- OS: W7
### Description

Hello. When adding an item to an old checklist ... Edit the task, cursor on last filled item of the checklist, enter, type in the new item in the blank field, enter. The typed value has disappeared  and the created item is filled with the previous one. No hurry :-) Have a good day.
#

[2016-05-25 10:53] paglias commented on #7470
This is causing problems for sure. But we have to understand where it happened

[2016-05-25 11:04] paglias commented on #7470
@Ulugbeg if you're able to replicate the daily validation failed messages can you open the console before it happens and from the network tab report any request marked in red? Especially the response

[2016-05-25 11:44] crookedneighbor commented on #7489
This is an instance of this bug https://github.com/HabitRPG/habitrpg/issues/5376, which I just fixed last night but has not been deployed to the site. It should be deployed later today.

[2016-05-25 11:44] #7489 closed, assigned to nobody

[2016-05-25 12:05] Alys commented on #2805
Ignoring Shulamit's report just for the moment: I've checked the quest progress messages for all those parties reported here recently and also all the Tavern reports today, and there's been no duplicate damage since the two fixes several hours ago. If we don't see any others in the next maybe 12 hours, then I'd think that this current run of this bug has been fixed by removing the new extra sync a

[2016-05-25 12:39] Ulugbeg commented on #7470
I will do that. Now, I just realised that WHY I might not have gotten the errors  today - the task is not due on wednesdays, it is on tuesdays. Shall I set it's due days also to thursdays, in the hope that I do get it again?

[2016-05-25 12:42] paglias commented on #7470
@Ulugbeg good catch! the task is ""🐩 👂👈 Oren hond doen" "?

[2016-05-25 12:52] #7418 closed, assigned to nobody

[2016-05-25 13:09] Memry commented on #2805
UUID: 2dc2722b-fdc1-4a36-894f-c22418b67a30
Browser: Opera
OS: Windows 7

I have my cron set to 6 am.  I had my account open on one tab only and was working in a different browser when 6 am came around. Before 6 am  I had looked at my account and saw my due dailies were all checked.  Our party is curently in a quest, so after 6 am I checked on the task page and all the to dos showed unchecked as ex

[2016-05-25 13:16] Alys commented on #2805
Memry, did you lose any health?

On Wed, 25 May 2016 11:09 pm Memry, notifications@github.com wrote:

[2016-05-25 13:17] Memry commented on #2805
I did.  That's what caught my attention first was the message about losing health.

[2016-05-25 13:21] paglias commented on #7479
Definitely a v2 problem

[2016-05-25 13:21] #7479 closed, assigned to nobody

[2016-05-25 13:29] Ulugbeg commented on #7470
Well, no, it's the Oren Hond doen WITHOUT the emoji's. Shall I indeed set it to run on Thursdays AND Fridays?  The one WITH the emoji's should be no longer in my lists, as I'm no longer in that challange. The one without emoji's is the new one which if I understood Alys correctly, is the 'weird' one.

I would guess that NOW ticking it for Wednesday's would kind of invalidate it (as it wasn't set w

[2016-05-25 13:47] paglias commented on #2805
@Memry can you try clearing the cache and then reloading Habitica?

[2016-05-25 13:47] paglias commented on #2805
It won't solve your double cron but may prevent it in the next days

[2016-05-25 13:50] ShulamitLH commented on #7412
I am having the same problem in Firefox. I tried clearing the cache and reloading, but that doesn't fix it.

[2016-05-25 13:58] Memry commented on #2805
I have cleared the cache and reloaded.  We will see what happens tomorrow morning.

[2016-05-25 14:45] idgiebay opened #7495 "No damage to boss during quest, 6x damage from one party member"
I think I may be having a similar issue to #7470 but I'm getting different errors. First of all, the general info:

UUID: 821c9559-d2ec-41af-83db-e28a33b3a4e1
Browser: Chrome 50.0.2661.102 m
OS: Windows 7

We started Dilatory Distress, Part 3: Not a Mere Maid on Sunday. I don't know if all the participating party members have logged in since then, but I have and so has one other, yet they are the

[2016-05-25 15:12] HataKare commented on #7423
Haha, no problem

[2016-05-25 15:40] Ulugbeg commented on #7470
Just to confirm, I set the task to happen on Thursdays & Fridays, like I proposed in my previous comment. Will report back tomorrow!

[2016-05-25 15:42] gesneramor commented on #4252
Our party completed the Treeling quest but one user did not get the rewards.  User ID is

fd8a3607-57b4-4ffe-a463-1a3d413e628b

[2016-05-25 16:04] SabreCat commented on #7429
@sujunmin: I've restored you to the party and its ongoing quest. Can you reload and see if everything lines up for you?

[2016-05-25 16:20] sethscolex opened #7497 "Quest Owner left the party"
User named Muhammad Osman Karim left our party recently and left us with a quest we'd like to abort. Please help.

Party ID:c5787e63-cdcb-4936-9910-9e3d2408952d

Thank you in advance and tell me if i need to put more info.

[2016-05-25 18:49] eiron commented on #7415
All looks okay to me now.

[2016-05-25 19:06] intirb opened #7499 "None of my checked dailies were counted yesterday, except for in the party quest"
General Info
- UUID: fcbeedbb-d4f9-4eca-bfc9-6e32a6f172a1
- Browser: Firefox
- OS: Linux and Windows
### Description

This one is sort of weird.  I checked off all but two of my dailies yesterday, and I also cast stealth.  The party quest recognizes that I checked off my dailies (the party chat says I did damage to the boss), but all of my dailies streaks were reset (except the ones protected by s

[2016-05-25 19:39] Tister commented on #7436
I just deleted my broken challenge task and dailies.

[2016-05-25 21:15] thebat137 commented on #7493
I am seeing this one too, on both old and newly-created checklists.  For me, it does not seem to occur immediately when creating a new checklist --- as long as I've just created the checklist and keep entering items in order I seem to be okay.  But if I rearrange the items on the newly created checklist, or if I save it and re-open it, then I start having this problem.

I can fix each overwritten

[2016-05-25 21:17] #3166 closed, assigned to nobody

[2016-05-25 21:25] citrusella commented on #7499
It's not this bug, is it? #4313 (Though the party recognizing the doing of the dailies sounds out of character of that bug, so maybe not?)

[2016-05-25 23:17] Alys commented on #7497
We'll certainly help with this!

admins:
I'm not sure it's possible for an owner to leave while the quest is in a
pending state. This might be another case of accidental removal.

On Thu, 26 May 2016 2:35 am sethscolex, notifications@github.com wrote:

[2016-05-25 23:29] IstraLouise commented on #7200
Hi, Alys and long-suffering staff.  I hate to bother you but I'm having trouble editing my guild 'Book Lust' (https://habitica.com/#/options/groups/guilds/16b96e1b-0b59-4b49-b9a7-05f20ff760e6) in order to add a survey and change some information from 'a word from the guild leader to guild description' and update the picture.
I am getting something like 'request entity too large' whenever I try to

[2016-05-26 00:28] Alys commented on #7200
@IstraLouise We can definitely help with this! Let us know what you want changed. It might be a couple of days though.

[2016-05-26 00:51] crookedneighbor commented on #7200
I _think_ this is happening because the update request is sending the entire chat array. Since we're making a copy of the group when editing, I think we could get away with just deleting the chat array from it when we press the edit button

https://github.com/HabitRPG/habitrpg/blob/develop/website/client/js/controllers/groupsCtrl.js#L46

[2016-05-26 01:06] intirb commented on #7499
I don't think so?  My dailies weren't checked off this morning - they were unchecked and streaks had been lost as if they had not been checked yesterday.  But as I read that bug description, I'm pretty sure I also did receive drops yesterday as I was checking off my dailies, which means I must have synced with the server, no?

Hard to say exactly how the party treated my dailies - I did do damage,

[2016-05-26 01:08] crookedneighbor commented on #7200
Just tested it, that is exactly why that's happening.

[2016-05-26 01:19] #7200 closed, assigned to nobody

[2016-05-26 01:39] librarianmage commented on #5035
@Alys Can I work on this now?

[2016-05-26 01:40] cTheDragons opened #7500 "https://habitica.com/apidoc/ Just continually loads"
### General Info
- bc10ec41-4213-4482-bbb8-558e3c3ea8d5
- Opera 37.0.2178.43
- Windows 8.1 32-bit
### Description

When going to the URL Address https://habitica.com/apidoc/ I just get a continuous loading screen, that is it never shows itself.

(I have tried multiple times and the last attempt I waited over an hour for any results).

![apijustloads](https://cloud.githubusercontent.com/assets/1411

[2016-05-26 01:46] crookedneighbor commented on #7500
@cTheDragons It's your chat extension. It's erroring because javascript it expects to be on the page is _not_ on the page.

[2016-05-26 01:47] crookedneighbor commented on #7500
The fix would be to limit the chat extension to the website proper, instead of hitting all the subdomains. (which is out of our domain, I'm afraid)

I'll email @horacious about it

[2016-05-26 01:54] cTheDragons commented on #7500
Thanks using a private window fixed this too.

[2016-05-26 01:57] crookedneighbor commented on #7500
Actually, scratch what I said about domains (although that is also true), that wouldn't work in this case since /apidoc is on the same domain.

[2016-05-26 02:16] citrusella commented on #7499
Yeah, apparently my reading comprehension was... not the best earlier? I've heard of your bug (like I could have sworn someone mentioned it in the Tavern), but that's probably not it and I don't remember seeing it reported on Github, so... :confused:

[2016-05-26 02:18] lemoness commented on #7493
Quick note that this happens to me frequently with my longer checklists (last or second-to-last item) even if I have not adjusted the order.

[2016-05-26 02:39] Alys commented on #7499
@intirb This will have been caused by cron running twice at the same time for your account - I'm sorry about that! It's from the same cause as this bug: https://github.com/HabitRPG/habitrpg/issues/2805 which we've been seeing much more often this week. paglias has already created a fix for it and it will be deployed within the next few hours. I'll close this issue now, since even if it persists, w

[2016-05-26 02:39] #7499 closed, assigned to nobody

[2016-05-26 03:17] crookedneighbor commented on #7200
@IstraLouise Refresh your browser and try again. It should work now.

[2016-05-26 04:37] ShulamitLH commented on #2805
Re: [HabitRPG/habitrpg] Quest damage ran twice - doubled boss/collection quest progress (#2805)

Hello Matteo,

I tried that. It looks like I didn't do double damage, but another of my party did instead.

Athelinde attacks Vice, the Shadow Wyrm for 55.3 damage. Vice, the Shadow Wyrm does not attack, because it respects the fact that there are some bugs post-maintenance and it doesn't want to hurt

[2016-05-26 04:38] camdroid commented on #7493
I second what thebat137 said - new checklists work fine, as long as they stay exactly the same after you save them for the first time. As soon as you try to modify the list, it copies the value from the item above it.

Same about the error messages - nothing pops up that looks related.

NB: The first two items I edit seem fine. On the third item, I start getting repeats.

UUID: beb555b6-31ab-4da2-

[2016-05-26 04:39] sujunmin commented on #7429
@SabreCat I've reloaded and still can not see me. But I still can join quest.

[2016-05-26 05:16] ShulamitLH commented on #7353
I'm having the same problem. We have a party of 6, three of whom are daily users and 3 occassional. We just did a quest with the 3 regulars and finished it. Ever since the upgrade, the 3 occassional users have been getting invitations to that quest, both during the quest and now that it has been completed.  The quest no longer shows for the 3 of us who have completed the quest, but still shows for

[2016-05-26 05:32] Alys commented on #7353
@ShulamitLH Please tell us the User IDs for each of the accounts that have that problem. We'll need to look at them to work out what's wrong.

[2016-05-26 07:35] fromsaturn opened #7502 "Mount Red Wolf image not loading properly"
General Info
- UUID: 746c6c0a-9b87-40c4-98f7-59cf9aab1b88
- Browser: Chrome
- OS: Windows 10

Bug: Mount wolf does not load properly. See screenshot here: http://www.awesomescreenshot.com/image/1278936/057a8be2fe9574f4912dd7e46ae08be2

[2016-05-26 08:19] Hiyaiba opened #7503 "Can't start a quest alone"
General Info
- UUID: 6439cbbd-9153-415b-a8ee-ab0659871288
- Browser: Firefox
- OS: Windows 10 (PC)
### Description

I can't start any quest alone. When I push the start button, nothing happens and the quest is still in my inventory. I left my group because nobody plays anymore but I read that I can start the quests alone, it'll only be more difficult. Any idea? Thanks =3
#### Console Errors

[2016-05-26 09:23] Alys commented on #7503
First, make sure you're in a party by yourself (if you don't know how to,
go to Help > Ask a Question on the Habitica.com website or Guilds > The
Newbies Guild on the app - they'll be able to help you faster there because
there's more of them!). Then, from your party page, click the button to
start a quest and choose the quest you want. You need to have already
bought or been given the quest - ask

[2016-05-26 09:34] Ulugbeg commented on #7470
Hi!
I had a browser mishap which caused my sync/cron to happen before I had the console open (left the tab open yesterday, so it was the first tab it opened this morning....). I had 4 error messages, saying 'Invalid UUID', as I did manage to bash printscreen :)
However, there was nothing in the log once I did manage to open that.
So it seems as if having the 'Oren Hond'-no-emoji edition-task due o

[2016-05-26 09:38] Alys commented on #7470
Don't feel bad! You're doing fine!

[2016-05-26 09:41] Alys commented on #7502
Whenever you see something odd like that or don't see something you're
expecting to see, try reloading the site with the browser's reload/refresh
button. Usually those problems are caused by your browser not having
downloaded all the files it needs and a reload often fixes it. Tell us how
that goes.

On Thu, 26 May 2016 5:35 pm fromsaturn, notifications@github.com wrote:

[2016-05-26 09:47] habitrpguser commented on #7200
Editing works again for the "Ghost Ship" guild now, too! Thank you, that solves some problems (and saves you some extra work)!

[2016-05-26 10:23] ghost commented on #7470
Hi!
I have similar problem. I am not able to damage the boss since the Sunday. I tried on two different computers (one with Windows and second with openSUSE). But my friend from the party is able to damage the boss. We even tried to start the mission one more time, but the problem is still present. I had error messages: "Invalid uuid", but now, after clearing cache, I don't have any message, but t

[2016-05-26 11:07] paglias commented on #7488
Fixed

[2016-05-26 11:07] #7488 closed, assigned to nobody

[2016-05-26 11:54] a-solo-guild-owner opened #7504 "Unable to edit guild challenges with no participants"
User ID: 193b5f2c-cbd0-42bf-92e1-42d4a019cc27

Group ID: 1345eb8e-4e0a-46a9-a5f4-7e3470630175

General Info
- UUID: 193b5f2c-cbd0-42bf-92e1-42d4a019cc27
- Browser: Chrome
- OS: Windows 10 or Mac OS X 10.9.5 (either computer has the same problems with challenges.)
### Description

I have a solo guild for longer range planning and goals. After the update, I am no longer able to edit challenge tasks.

[2016-05-26 13:05] Memry commented on #2805
Today looked more normal for me.

[2016-05-26 13:45] kaleighm opened #7505 "Never-ending Quest Invitation"
General Info
- UUID: 753dfa74-ea7d-4b37-ab9f-7387e69b55b1
- Browser: Chrome Version 50.0.2661.102 (64-bit)
- OS: OS X 10.11.5 (15F34)
### Description

Three days ago, and after the maintenance this past week, my party began the "The Serpent of Distraction" quest. I got to the invitation too late to accept (or I did accept and it didn't go through, I'm not sure) but the quest invitation notificatio

[2016-05-26 14:42] Ulugbeg commented on #7470
Ow, forgot to mention: still no damage to boss done by me. Well, I should have done damage, but the damage didn't get applied

[2016-05-26 14:49] MagBag commented on #7493
This is happening to me as well.  When editing a previously established checklist, the task typed in reverts to the previously entered subtask after pressing enter.  The duplication does not occur when making a new checklist for a new task (even with multiple subtasks), but if I go back to edit the new checklist, the duplication occurs.  The duplication does not occur in an old task with no previo

[2016-05-26 14:59] froggily opened #7506 "reset memberCount attribute for all groups - guilds and parties (was: Guild has negative members?)"
General Info
- UUID: 634ef54c-8d52-4293-8adc-f0e810dd85dc
- Browser: Chrome Version 50.0.2661.86 (64-bit)
- OS: OS X Yosemite 10.10.5
### Description

The guild [Faithful Heroes](https://habitica.com/#/options/groups/guilds/db8fabb5-f07c-434c-bbcc-35d1081ad495) appears to [have -5 members.](https://www.dropbox.com/s/4kblmmjc6eaq2qi)
#### Console Errors

Failed to load resource: net::ERR_BLOCKED_BY

[2016-05-26 15:04] ltorroba commented on #7493
I second what @MagBag said. Exact same behaviour seen here. I will be taking a look at the code for the tasks; perhaps its a matter of changing a parameter or two.

User ID: 8ac1be04-4201-4eed-a2a4-436eada5c0e9
Browser: Chrome
OS: Mac OS X

[2016-05-26 16:23] citrusella commented on #7506
The guild currently has -3. Joining brings the number higher (i.e. -2), but leaving brings it back down.

[2016-05-26 17:33] paglias commented on #7470
@Ulugbeg I'm so sorry about this. I made a change to your data that hopefully will make it working, can you tell me if at the next cron it works?

[2016-05-26 17:52] lemoness commented on #7493
So, I decided to take a close look at this behavior, and I figured out that it isn't just duplicating. The text is getting replaced systematically by whatever you typed before , leading to a checklist lag.

Took some screenshots to try to illustrate this, because it is a bit tricky to describe:

![checklistissue1](https://cloud.githubusercontent.com/assets/3494081/15584425/6e41b114-232f-11e6-8207-

[2016-05-26 18:04] sethscolex commented on #7497
yes, it seems to be some kind of accident because the user is now visible in the party and the quest has begun. anyway the problem fixed itself, thank you for your time

[2016-05-26 19:42] Alys commented on #7497
Thanks very much for letting us know!

[2016-05-26 19:42] #7497 closed, assigned to nobody

[2016-05-26 19:56] lemoness opened #7507 "Challenge Order: Desired Behavior"
In general, Challenges should display in order of newest-oldest, to offer exposure for newly-created Challenges.

The only exception to this rule are Official Habitica Challenges, which should stick to the top of the list, marked with the "Official Challenge" tag. These Challenges are designated by a staff member marking the corresponding checkbox during Challenge creation.

@crookedneighbor

[2016-05-26 20:00] WillyReyno opened #7508 "Can't remove tag from a task"
General Info
- UUID: aa137fd1-9b36-4c2f-ae2b-e651e2b764c5
- Browser: Firefox and Chrome
- OS: Windows 10  and Mac OS X El Capitan
### Description

Since not so long ago, maybe today, I can't remove a tag from my tasks. I added some gifs to show you the problem :

![habiticabug2](https://cloud.githubusercontent.com/assets/5576482/15588236/276e52f2-238d-11e6-9f4f-a21b75ad907c.gif)
![habiticabug3](ht

[2016-05-26 20:02] SabreCat commented on #7508
Duplicate of #7412. Stay tuned there for our investigations!

[2016-05-26 20:23] SabreCat opened #7509 "Sporadic failing tests on score task routes"
### Description

When builds run on Travis CI, errors occur idiosyncratically in the tests for task scoring routes. They are of the format `POST /tasks/:id/score/:direction habits it scores and adds history`, suggesting they come from https://github.com/HabitRPG/habitrpg/blob/develop/test/api/v3/integration/tasks/challenges/POST-tasks_challenges_challengeId_tasks_id_score_direction.test.js.

Resta

[2016-05-26 20:27] vgbandit opened #7510 "Tasks Get Random Labels Assigned"
General Info
- UUID: df66dbf9-8e2a-45d2-8e26-ce9549a40928
- Browser: Google Chrome
- OS: Mac

Description
When I add new tasks through the website, they've been assigned random labels. Whenever I've tried re-assigning the labels, the labels just stay the same/don't change to what I want them to be.

I've been able to change the labels when I log onto the app on my iPhone.

There was also one task

[2016-05-26 20:47] SabreCat commented on #7510
Duplicate of #7412. Follow our investigations there! There's also a workaround documented there for getting rid of the excess tags.

[2016-05-26 20:47] #7510 closed, assigned to nobody

[2016-05-26 20:54] vgbandit commented on #7412
Same thing for me. My UID: df66dbf9-8e2a-45d2-8e26-ce9549a40928. I use Google Chrome on my Mac.

[2016-05-26 21:00] MagBag commented on #7493
Yes, that's exactly what's happening.  Not duplicating but getting replaced!

[2016-05-26 21:13] ltorroba commented on #7493
I've been looking into this for the past hour. Hopefully I should have a PR to fix this within the next hour.

The current of the implementation of the checklist entails that when one presses enter, the current item is **always** added to the checklist and, as an extra precaution/synchronisation measure, the label is changed to reflect the _n_th item of the checklist.

This works perfectly when yo

[2016-05-26 21:25] paglias opened #7512 "Adjust tests for logging lib"
To cover the changes in https://github.com/HabitRPG/habitrpg/pull/7511

[2016-05-26 21:35] jhendricks611 commented on #7429
I am using Habitica on Chrome on a MacBook Air. Refreshing the page makes my party return; however, my quest (something about a Golden Knight) froze 5 days ago. I am unable to continue collecting testimonies (although I solve many tasks a day), and I get this message when I attempt to post in group chat:

"invalid uuid"

I'm not certain if this is the same issue as the disappearing party/lost ques

[2016-05-26 21:40] paglias commented on #7509
Fixed

[2016-05-26 22:00] librarianmage commented on #5358
I would be interested in taking a stab at this!

[2016-05-26 22:36] Alys commented on #7508
Also note that my first comment in #7412 has a workaround. In brief, double tap the tag's checkbox.

[2016-05-26 23:47] lemoness opened #7514 "Challenge Tasks Losing Notes"
Reported issue from admin email: "When cloning a Challenge, the challenge tasks lose their description set by challenge owner (i.e. don't have any description at all when being added to user's task list)."

[2016-05-27 00:51] kaitmiller commented on #7420
Hello! This is Kait!

Since this bug hasn't been squished yet, and I still had duplicate challenge tasks, I decided to leave and re-join the challenge. I found that I had to click "Leave -> Remove tasks" twice, as though I really was in the challenge twice.

After that I was able to re-join normally (and then I left immediately because I'd already checked off the tasks for the day--I'll re-join an

[2016-05-27 03:38] cybercrash commented on #7487
I get these errors since the big switchover/update, when I check a box in a checklist (happens with both Dailies and To-Dos) :
- on the website (Chrome or Firefox, Ubuntu 14.04) it says "invalid uuid"
- in the app (Android), it says "daily validation failed"

and then it unchecks the box.

Interestingly, this seems to only happen with old/existing tasks with checklists. I just created a brand new

[2016-05-27 04:56] Memry commented on #7412
I have been having that problem in Chrome as well.  I am having another problem with tags and it was suggested the problem might be related.  My tags won't stay in order.  I used to be able to arrange my tags and the next time I opened my account the tags were in the same places as before.  Now they routinely rearrange on me.  And not always the same way.  I'm never entirely sure which tags will b

[2016-05-27 05:14] citrusella opened #7515 "Emoji appearing in URLs"
General Info
- UUID:
- Browser: Firefox 46.0.1
- OS: Windows 7 Service Pack 1
### Description

Raw URLs (not those created in Markdown like [this](http://example.com), in all but one instance I've seen) convert basic emoji used in them to the image. The links still work as intended so this is really a display issue more than anything. I've seen at least two instances of http:// converting to http:

[2016-05-27 09:48] Ulugbeg commented on #7470
Hi!
Nope didn't work, I still haven't done any damage to the boss - and it seems as if that 'Oren Hond' thing was a big ol' red herring :fish:, unless the following problem is unrelated. Sorry if this is actually a different bug, if so, I'll make another issue:

Yesterday evening, I tried to complete the task 'Gitaar Oefenen' (ID = task-d0412b20-9ab6-488d-806b-867aa8ee0cd4 according to the HTML so

[2016-05-27 10:08] habitrpguser commented on #7515
I'd like to second that! While it's especially weird in URLs, unintentional smileys happen to me all the time (probably because I'm using parentheses and colons a lot). I don't remember how often I typed some combination of letters and punctuation and ended up with an unintentional smiley, and had to repost (usually with an added blank space). Also sometimes I like the look of ASCII smileys better

[2016-05-27 11:53] crookedneighbor commented on #7515
Issue moved to [HabitRPG/habitica-markdown-emoji #4](https://github.com/HabitRPG/habitica-markdown-emoji/issues/4) via [**ZenHub.io**](https://www.zenhub.io/)

[2016-05-27 11:53] #7515 closed, assigned to nobody

[2016-05-27 11:53] crookedneighbor commented on #7515
Thanks for reporting this. That is definitely not the desired behavior.

[2016-05-27 12:26] KodeIn opened #7516 "Constant "Invalid UUID" messages, something wrong with my account."
General Info
- UUID: 46897d9f-0703-4480-9361-3dc694b32986
- Browser: Firefox 46.0.1
- OS: Windows 10
### Description

I keep on getting "Invalid UUID" messages. I tried to reload the page, to re-launch the browser and even tried the Android app, but nothing seems to work. Even the Android app gives a "todo validation failed" error message.

When I try to check a task, I get a "a._statsComputed is

[2016-05-27 12:32] kamni opened #7517 ""Push task to top" notification not going away after task moved to top."
General Info
- UUID: fedc44cb-088a-4bc8-8f4f-3e6a1882f042
- Browser: FF
- OS: OS X 10.11.4
### Description

When clicking the icon to move a task to the top of the list, there is a hover notification that pops up, "Push task to top. Hold ctrl or cmd to push to bottom". When the task is pushed to the top, the notification fades, but does not go away entirely.

<img width="344" alt="screen shot 2016

[2016-05-27 12:40] crookedneighbor commented on #7515
I've re-opened up an issue in the markdown emoji parser: https://github.com/markdown-it/markdown-it-emoji/issues/4#issuecomment-222130810

For now, I've disabled shortcuts entirely. I haven't heard from a staff member one way or the other what the decision will be when the underlying issue with links is fixed. If you'd like to track the conversation, comment on or press the subscribe button for ht

[2016-05-27 13:11] Memry commented on #7507
Just subscribing so I can see updates

[2016-05-27 13:16] paglias commented on #7487
@cybercrash this should be fixed now, can you reload the site / close the mobile apps and try again? Let me know if it still doesn't work

[2016-05-27 13:16] #7487 closed, assigned to nobody

[2016-05-27 13:17] paglias commented on #7470
@Ulugbeg @Eith his should be (finally!) fixed now, can you reload the site / close the mobile apps and try again? Let me know if it still doesn't work

[2016-05-27 13:17] #7470 closed, assigned to nobody

[2016-05-27 13:17] paglias commented on #7516
@KodeIn this should be fixed now, can you reload the site / close the mobile apps and try again? Let me know if it still doesn't work

[2016-05-27 13:47] sanssaraf opened #7518 "3 gem quest disappeared without gems refunded"
General Info
- UUID: 4740cad4-db54-4994-a0f3-57bb3119fa56
- Browser: chrome
- OS: windows 7
### Description

[//](#): # Yesterday I had 2 gems, and was then awarded 4 for helping test habitica for a total of 6 gems. I bought the treeling quest, and it cost 3 gems (instead of the 4 gems quests normally cost somehow?). Later that day (possibly right after purchase), the quest does not show up in my

[2016-05-27 13:54] geoffreyburdett opened #7519 "Service 'web' failed to build: The command '/bin/sh -c npm install' returned a non-zero code: 1"
I'm trying to install locally, but when I run `$docker-compose up -d` I'm getting this error:   `Service 'web' failed to build: The command '/bin/sh -c npm install' returned a non-zero code: 1`

Here's the log leading up to the error.

[code]

[2016-05-27 14:11] cybercrash commented on #7487
fixed!! thank you sooooo much!!

[2016-05-27 14:12] sanssaraf commented on #7518
Just kidding. I accidentally bought an egg instead and just found that in my inventory. Oops.

[2016-05-27 14:13] #7518 closed, assigned to nobody

[2016-05-27 14:33] KodeIn commented on #7516
I've closed the app and reloaded the site, even tried to load it in Edge, I still get the same errors.
I get a "NetworkError: 400 Bad Request - https://habitica.com/api/v3/user/" on the login screen.

[2016-05-27 14:34] #7508 closed, assigned to nobody

[2016-05-27 14:55] peytonreyton opened #7520 "Incorrect tags being assigned to tasks"
General Info
- UUID: d5ccbc11-0f06-4ebd-8b1c-a2133ebf65fa
- Browser: Google Chrome 50.0.2661.102 (64-bit)
- OS: OS X El Capitan 10.11
### Description

Whenever I create a new task, it is incorrectly automatically tagged with tags I don't have selected. When I "uncheck" incorrect tags, save, and close the task, the incorrect tags are not removed. This has been happening since yesterday and, since I

[2016-05-27 15:14] paglias commented on #7516
@KodeIn okay, I _think_ I've fixed that, can you try again?

[2016-05-27 15:39] KodeIn commented on #7516
It's fixed, thanks.

[2016-05-27 15:39] #7516 closed, assigned to nobody

[2016-05-27 15:47] kamni commented on #7520
This is a duplicate of #7412.

[2016-05-27 15:51] kamni opened #7521 "Mouseover popup for eggs remains even when not moused over"
This may have a similar cause as #7517

General Info
- UUID: fedc44cb-088a-4bc8-8f4f-3e6a1882f042
- Browser: FF
- OS: OS X 10.11.4
### Description

When applying a hatching potion to an egg, the mouseover popup does not go away after the potion has been applied:

<img width="689" alt="screen shot 2016-05-27 at 9 36 18 am" src="https://cloud.githubusercontent.com/assets/101778/15613371/2c6d190e-240

[2016-05-27 16:28] jhendricks611 opened #7522 "Constant "Invalid UUID" messages"
General Info
- UUID: 3e11b4bf-6306-430c-9a2f-c9e629042606
- Browser: Chrome v 50.0.2661.102
- OS: MacBook Air on El Capitan
### Description

Whenever I load the tasks page, I get a series of "Invalid UUID" messages in Chrome, and my party is lost. I know that I am in a party and we are currently working on a quest. Here is a photo of the UUID error message series:
![invalid uuid and party lost](ht

[2016-05-27 16:31] jhendricks611 commented on #7522
Also, when I try to check off a task, I get the message, "Cannot read property 'str' undefined," and I am almost dead, which is incorrect. Last I checked I had 47 life.

[2016-05-27 17:21] #7520 closed, assigned to nobody

[2016-05-27 18:52] paglias commented on #7522
@jhendricks611 II'm sorry this is happening :( Do you remember how long ago it started? Could you do me a favor and try this: open the browser console, switch to the Network tab and load the site. You'll see some requests marked in red with urls like ?userV=Number or something similar. Click on one of them and from copy everything you can find in the Preview tab

[2016-05-27 19:10] lemoness commented on #2805
We've added a change that should have fixed this! If anyone notices the
quest doubling bug happening to them, please let us know as soon as
possible.

On Thu, May 26, 2016 at 6:05 AM, Memry notifications@github.com wrote:

[2016-05-27 19:55] Jolanda5 commented on #4840
Now again =D is this still an issue?

[2016-05-27 20:39] jhendricks611 commented on #7522
@paglias No worries, that's why I'm here. :) I've been having issues with the quest not loading in my party since the last update, but the lack of function mentioned in this thread started this morning. I followed the instructions above, and only found one ?userv=715 and this is what was in the preview tab:

{success: true,…}
data
:
{_id: "3e11b4bf-6306-430c-9a2f-c9e629042606", migration: "2016052

[2016-05-27 22:20] paglias commented on #7522
@jhendricks611 there was a bug in your data so probably your cron hasn't run for several days and now that we finally solved it it counted several missed days and that's why you died. From now on everything should be back to normal, let me know if it happens again and sorry for the trouble!