[2017-11-20 05:36] Vishesh-Gupta commented on #9438
@paglias  & @lemoness - I would like to know if anyone is working on this issue. Also how hard would this be as I do not have much experience working with open source projects

[2017-11-20 05:42] Marrepower commented on #9490
I thought it was just something wrong with my chrome, but it seems like everyone has this..
I was looking for a setting to change the speed. They go too fast, even for small notifications like money, and damage to boss.

[2017-11-20 08:55] Alys commented on #9549
Duplicate of https://github.com/HabitRPG/habitica/issues/8874 :)

[2017-11-20 08:55] #9549 closed, assigned to nobody

[2017-11-20 09:14] Alys commented on #9536
Yes, that's what I was referring to when I mentioned the other cases of modals reappearing inappropriately. This one seemed a bit different because the other modal couldn't be dismissed but I'm not certain this is a separate problem. It might just have been the changed cursor that prevented this from disappearing. Mostly I logged this in case it was the first report of an ongoing problem.

It's fi

[2017-11-20 09:18] Alys commented on #9531
@aalsehly86 Could be! There are definitely problems related to inappropriate modals reappearing, but there might be a few different cases. It's known that modals you've seen before can reappear when they're no longer relevant but that's not easily reproducible as far as I'm aware, whereas this issue is which made me think it had its own specific cause.

I'd be interested to know if you can reprodu

[2017-11-20 12:58] Alys commented on #9537
Thanks @pcvonz ! I've marked this as in progress.

[2017-11-20 13:04] Alys commented on #9538
@LunarGem Thanks! I've marked this as in progress for you to fix. Comment here if you have questions. For your local install problems, have you described them elsewhere? If so, post a reminder for us to look at it, otherwise let us know what errors you're getting.

[2017-11-20 13:09] Tressley commented on #9538
@TheHollidayInn -- You were working on some updates to padding/margins for smaller browsers/other languages. Would those updates address this issue as well?

[2017-11-20 13:16] Alys commented on #1616
@aeshildr The specific bug that this refers to was fixed. There are other, more recent sorting bugs but they have their own issues so reopening this one isn't needed. Please post to the Report a Bug guild in Habitica to describe the problem you're having (copy your comment from here if you wish) and we'll help you there. You can reach that guild from the Help menu on the website or from Guilds on

[2017-11-20 13:27] cTheDragons commented on #7721
The Challenge Data Tool uses the dates of when the task was created for each user and takes the earliest of when the the challenger joined the challenge.

[2017-11-20 14:34] librarianmage commented on #9552
Related Issues (cards):

* https://github.com/HabitRPG/habitica/issues/9484
* https://github.com/HabitRPG/habitica/issues/9534
* https://github.com/HabitRPG/habitica/issues/9317
* https://github.com/HabitRPG/habitica/issues/8379

[2017-11-20 14:36] Alys commented on #7764
I can't replicate in staging. Looks like it's been fixed.

[2017-11-20 17:25] Alys opened #9554 "Bailey's "newStuff" modal prevents Record Yesterday's Activity (RYA) screen being used"
If there's a Bailey message waiting for you to read it when your cron is due, the Bailey modal appears over the top of the Record Yesterday's Activity modal. When you click the Bailey's dismiss button, the RYA modal is also dismissed, meaning that you take damage for any uncompleted Dailies.

The correct behaviour should be _one_ of these:
1. Dismissing the Bailey modal does not dismiss the RYA sc

[2017-11-20 17:53] TheHollidayInn commented on #9554
I forgot to open the PR, but I have the fix: https://github.com/HabitRPG/habitica/pull/9555.

[2017-11-20 17:54] Alys commented on #9554
Fastest issue fix ever! :)

[2017-11-20 18:33] TNychka opened #9556 "Test activates Daily on every (x) week on weekday fails due to year overflow"
I hope you don't mind me bypassing the guild, but I felt that it wouldn't be relevant there :)

[//]: # (Before logging this issue, please post to the Report a Bug guild from the Habitica website's Help menu. Most bugs can be handled quickly there. If a GitHub issue is needed, you will be advised of that by a moderator or staff member -- a player with a dark blue or purple name. It is recommended

[2017-11-20 18:39] TheHollidayInn commented on #9556
Yep! you are fine to skip the guild. I just fixed this issue on release: https://github.com/HabitRPG/habitica/pull/9551. I'll merge it into devlop soon.

[2017-11-20 18:39] #9556 closed, assigned to nobody

[2017-11-20 18:40] #9554 closed, assigned to nobody

[2017-11-20 19:44] TheHollidayInn commented on #9520
The travis issues are not your fault. I have fixed them in the release branch and they will be merged into develop soon.

[2017-11-20 19:47] cassidypignatello commented on #9520
Thanks for confirming!

[2017-11-20 20:05] paglias commented on #9438
@Vishesh-Gupta no one's working on this but if you don't have any experience this is likely not the best issue to tackle

[2017-11-20 20:50] LunarGem commented on #9538
@Alys I mentioned them in the Aspiring Blacksmiths guild but didn't get a response (doesn't seem like you guys hang out there much anymore, busy I assume).

[2017-11-20 21:39] negue commented on #9520
@cassidypignatello @Davyd23 thank you both for your contributions on this issue, but unfortunately we can choose only one. We'll use @cassidypignatello's because it was first and doesn't make changes to the non-English locales files (@Davyd23 see the `_README_FIRST.md` file in `website/common/locales/en` for why they aren't edited manually).

We hope you'll both make more contributions but please

[2017-11-20 22:12] Alys commented on #9538
@LunarGem Ah, you're Celestine, Rogue Lady of the Moon. I'm really sorry, I've had your message there marked for the past week as something that needs answering but I haven't looked at it in detail yet. :( I'll do my best to get to it tomorrow.

[2017-11-20 22:23] kipraske commented on #9507
This looks like a fun bug to fix. Can i help out with this one?

Unfortunately I have not been able to reproduce the bug as it is stated here. However, there is something definitely broken with batch buying quests: The quantity is simply never passed to the server. So the frontend thinks you have bought 10 quests or whatever but the backend thinks you have only bought 1 quest. Once you refresh you

[2017-11-20 22:29] Alys opened #9558 "Resting in the Inn (Pause my Dailies / Damage) might be turning itself off"
Periodically we see reports from players who thought they were Resting in the Inn but took damage from their own Dailies at cron and saw that they were no longer resting. Sometimes this can be explained as a sync error (i.e., their action to rest in the inn wasn't synced to the server) but I'm seeing enough reports to not feel comfortable that that's always the explanation. I can't think of any pi

[2017-11-20 22:33] kipraske commented on #9507
While I am poking around in here. I also noticed that you can set a quantity for the mystic hourglass items. This quantity is similarly never passed to the server so thankfully you can only buy 1 mystery item. In this case we should definitely remove the "How many would you like to buy?" dialog. The good news is that it only uses 1 on the client as well so we don't have any refunding problems.

[2017-11-20 22:51] Alys commented on #9507
@kipraske Please do work on this issue - thanks!

For the gold-purchasable quests, it's likely that few people would want to buy more than one at a time. However for the gem-purchasable pet quests, it's more likely that you'd want to buy several at once (e.g., enough to get a full set of pets). I think on the whole for consistency, it's best to allow multiple purchases for any kind of quest scroll

[2017-11-20 23:44] aalsehly86 commented on #9531
@Alys The method used in PR #9545 fixes this problem, and I was able to reproduce it.
![hatch-modal-error](https://user-images.githubusercontent.com/30061021/33046573-8e723160-ce1f-11e7-9c5c-88bc00b1d6be.gif)

Now this behavior is stopped once I change what triggers that modal in `website/client/components/inventory/stable/hatchedPetDialog.vue`

That is changing `this.$root.$emit('bv::show::modal'

[2017-11-21 01:29] librarianmage commented on #9403
Should this be marked as in progress?

[2017-11-21 01:31] TNychka commented on #9403
Yep, https://github.com/HabitRPG/habitica/pull/9404

[2017-11-21 01:32] librarianmage commented on #9266
@paglias Are you no longer working on this?

[2017-11-21 08:43] paglias commented on #9266
@MathWhiz no

[2017-11-21 12:55] Alys commented on #8014
I'm closing this because it's no longer relevant for the new website.

[2017-11-21 12:55] #8014 closed, assigned to nobody

[2017-11-21 13:03] Alys commented on #8530
I've removed some of the old comments from March that didn't have technical information in them to make it easier for us to focus on the tech details.

[2017-11-21 13:04] Alys commented on #9494
To any contributor who works on this: The fix required for this is purely client-side. We already have https://github.com/HabitRPG/habitica/issues/8530 logged for changes to the API.

[2017-11-21 13:16] Alys commented on #4753
I've removed some old comments to clean this up. Everything needed for this issue is currently in the top post. I'm marking this as needing designs. @Tressley

[2017-11-21 13:21] Alys commented on #4748
I'm going to close this because it's a feature request rather than an actionable bug report, and we do have plans to expand the "managers" feature in Group Plans to work in parties as well.

[2017-11-21 13:21] #4748 closed, assigned to nobody

[2017-11-21 13:23] Alys commented on #3345
I'm closing this because now that party leaders also have control over quests, it's less critical that the quest owner be active, and so this is more of a feature request than a bug report now.

[2017-11-21 13:23] #3345 closed, assigned to nobody

[2017-11-21 14:14] Alys commented on #9243
@borisabramovich86 How are you going with this? It's a highly requested feature so if you're having any trouble with it, let us know what you're up to and we'll be happy to help. You'd be welcome to submit a PR if you have code that you'd like us to look at, even if it isn't finished.

[2017-11-21 14:15] #9318 closed, assigned to nobody

[2017-11-21 15:43] matchajune commented on #9495
@lemoness @Alys Hello! Permission to take this issue?

[2017-11-21 16:07] Alys commented on #9185
I'm reopening this because it's broken again.

Here's what it looks like in chat:
![image](https://user-images.githubusercontent.com/1495809/33082894-d14384ec-ced5-11e7-8957-af7108aed85a.png)

And here's what it should look like, taken from the list of mods to the right of the Tavern's chat:
![image](https://user-images.githubusercontent.com/1495809/33082935-ed09652a-ced5-11e7-8bb4-0e11c300a93b.pn

[2017-11-21 16:30] Alys opened #9559 "excessive whitespace from multiple modals"
_From citrusella, the serving wench (2d6ef231-50b4-4a22-90e7-45eb97147a2c) in the Report a Bug guild:_

_From about a day or two ago:_

"Sometimes when I've just gotten on, multiple modals have been popping up (or maybe it's the same modal multiple times? I don't know). When that happens, the body portion of the page shifts over into a smaller width a couple times (perhaps for each time an extra s

[2017-11-21 17:36] Alys opened #9561 "log Resting in the Inn in Amplitude"
When a user starts or stops resting in the inn, we want to have a record of it in Amplitude to help us troubleshoot bugs such as https://github.com/HabitRPG/habitica/issues/9558

The API route that starts/stops resting is `/api/v3/user/sleep`

https://github.com/HabitRPG/habitica/blob/4618fd8954a7c3f4d4fc486ce25536a61de6349c/website/server/controllers/api-v3/user.js#L709-L734

If you search for `a

[2017-11-21 17:38] citrusella commented on #9538
Is it important to mention large sums of gold can also force the icon offscreen? (Granted, I'm not sure the exact number of digits needed, just that the amount in my test account is high enough that there are enough characters to push the icon partially/totally offscreen.)

[2017-11-21 17:40] LunarGem commented on #9538
@citrusella I'll make sure that the menu scales so that no amount of text pushes things offscreen. I used to do my web design tests with long things like "Celestine the most wonderfully awesome programmer the world has ever seen" so that I could be sure that things wrapped when stuff like that got put in. :)

[2017-11-21 17:48] Alys commented on #9495
@matchajune Yes! Thank you! Comment here if you have questions.

[2017-11-21 18:06] Alys commented on #9531
I think it will be easiest for everyone if you include the changes in #9393. Thanks!!

[2017-11-21 18:11] pineapple-joe commented on #9243
@Alys
Hey, sorry for the delay, but unfortunately I won't be able to continue
with this ticket. :/

All I have right now is the code I showed in the comments above.

I think it's also not so clear If the options for the release (pet, mount, both) appear
in the item Buy Modal, or another Modal that comes after it?

Again, sorry for the delay.

[2017-11-21 18:33] DazoTrove commented on #9243
@borisabramovich86 The [Wikia page for Key to the Kennels](http://habitica.wikia.com/wiki/Key_to_the_Kennels) explains the three options and has some screenshots from before the redesign. I think the options should either be displayed as part of the Buy Modal since they have different costs, or should be three separate items on the Market page.

- Release My Pets: 4 gems (requires Beast Master ach

[2017-11-21 18:40] yomimono commented on #9266
This is currently working for me in Firefox as described, and I don't like it -- usually when I have the filter view on it's because I don't want to see distracting reminders of other things I shouldn't be focusing on at the moment, and when I'm adding items it's to get them out of my head so they'll stop distracting me.  I usually want to give them a different tag or leave them untagged so they d

[2017-11-21 19:26] joedragons commented on #9403
Oi, just noticed this bug prevents move to top.  Looking forward to this fix, thanks!
/me goes and does some manual drag drop.

[2017-11-21 19:45] TheHollidayInn commented on #9559
Which browser is being used in the screen shots?

[2017-11-21 19:50] anwilli5 commented on #6941
The bounty associated with this ticket will automatically be paid out tomorrow - @SabreCat can you confirm that the work has been done and that the bounty should be claimed by @asifmallik?  Thanks!

[2017-11-21 23:08] citrusella commented on #9559
It says it in text below the screenshots on my link, but the first four are over a 10-20 minute span (it started at standard width and I finagled with it for about five minutes before thinking to take screenshots) in Firefox 52.5.0 ESR (that's up-to-date for the ESR channel, but I can't switch over to the "standard" update channel right now, so I don't know if browser version makes a difference in

[2017-11-22 00:45] citrusella commented on #9559
Just wanna say that for the sake of completeness, I hopped onto a different computer (Windows 10) and tried in Edge and the latest version of Firefox (57 or whatever). I got the same basic results.

[2017-11-22 02:37] librarianmage commented on #6941
@anwilli5 It was removed in 3f92317 to allow for more testing.

[2017-11-22 03:39] TheHollidayInn commented on #9559
So currently:
1. The sync button is creating white space
2. The bailey is showing multiple times for you?

[2017-11-22 05:31] citrusella commented on #9559
1. The Bailey modal (and some other modals, probably, though the only other one I've noticed in *specific* is the gifting modal) creates whitespace that usually doesn't go away.
2. Bailey is appearing on every sync if she's not completely dismissed (sometimes she appears multiple times, particularly if I've done multiple actions before she can show up (like I've noticed doing two dailies might cau

[2017-11-22 10:49] Alys opened #9567 "can't use Cards (greetings, thank you, etc) - second Buy modal appears"
As reported by Bee ( 47e17998-8096-40cd-aa4b-8b6270c98e11 ) in the Report a Bug guild:

"I tried to purchase 2 greeting cards to send to party members, and then it said to select a party member, so I did, and then it went to a box that looked like the purchase screen but it was all grayed out and I couldn't do anything."

EDIT 2017-12-15: The second modal is no longer greyed out.

Same thing happe

[2017-11-22 11:27] Alys opened #9568 "Party page can display some Guild visuals"
From walrus62 ( 54665726-61fc-473f-8062-31a950a9ae11 ) in the Report a Bug guild:

"my party page on the website loaded as if it were a guild. It gave me the grassy background, a Summary with my [party] name inside (though I couldn't edit it), and removed quest information. Refreshing the page didn't work; I had to completely close my internet browser and reload Habitica."

After being asked if th

[2017-11-22 17:10] mandyzhou commented on #9559
I'm getting this too -- another way to replicate this is by opening up a user's profile, then clicking on their avatar, which triggers the modal re-opening.

[2017-11-22 17:39] TheHollidayInn commented on #9414
This should be fixed by https://github.com/HabitRPG/habitica/pull/9562

[2017-11-22 17:46] TheHollidayInn commented on #5041
I think this should be closed with the redesign.

[2017-11-22 18:50] Alys commented on #9568
walrus62 says "I think it was after the task page, but I'll make note of it if it happens again."

[2017-11-23 02:11] carbonsam commented on #9489
I'll throw my hat into this ring as well - I've noticed that both PNG and HTML avatar exports via the API are broken: `{"success":false,"error":"InternalServerError","message":"An unexpected error occurred."}`. Looking forward to seeing the fix!

[2017-11-23 09:31] #5041 closed, assigned to nobody

[2017-11-23 09:38] paglias commented on #9428
@TheHollidayInn I'm still unable to unclaim a task, I get an error "You're not authorized to manage tasks"

[2017-11-23 11:49] Alys commented on #9200
@abatula How are you going with this fix? Do you need any help?

[2017-11-23 13:43] paglias commented on #9371
@gilmoreg for the other call can you have it fire only if the route is not on the party page? `this.$route` is the current route and it's available in all components so you should be able to check if we're on the party page

[2017-11-24 13:46] Alys commented on #9458
@Tressley Can you invite me to the project too, as well as MathWhiz? alys@habitica.com

Can we use better wording for "You have disabled your costume"? All players start with the costume off by default, so they will see that message as soon as they go to the Costume tab, which will be confusing and misleading since they themselves haven't disabled anything. Also now that the "Use costume" toggle i

[2017-11-24 14:08] abatula commented on #9200
Aahh, sorry, I didn't realize how long it had been! I'm hoping to have more time to dig into this after Thanksgiving weekend (US). But also yes, I haven't been able to figure out where thing are being set for dailies, I wanted to is that as a starting point.

[2017-11-24 15:42] TheHollidayInn commented on #9508
Do we know if this was occurring before the redesign?

[2017-11-24 16:29] TheHollidayInn commented on #9494
This was fixed by https://github.com/HabitRPG/habitica/blob/develop/website/client/components/tasks/column.vue#L598

[2017-11-24 16:30] TheHollidayInn commented on #9552
Yea, I believe this is a duplicate of #9484

[2017-11-24 16:30] #9552 closed, assigned to nobody

[2017-11-24 17:01] TheHollidayInn commented on #9480
I can see this happening on a small screen, but that would be smaller than my 13 inch mac, which I believe is tablet size? Maybe @Tressley can give us some thoughts or I can just let the avatar stack on top of the health at the tablet break point.

[2017-11-24 17:02] TheHollidayInn commented on #9478
I've seen these reports in the bug guild which seemed to be related to VersionErrors on the notifications array. I'm slowly making improvements, but if we can log reports here, that would help confirm the VersionError is the only issue.

[2017-11-24 17:02] Alys commented on #9527
I've just realised this was probably caused by my fix to prevent the Armoire reporting the wrong items.  Sorry. :(  https://github.com/HabitRPG/habitica/pull/9463

Not having your gold balance update automatically is a less severe bug (we're getting far fewer reports of that we were for incorrect Armoire items) so we shouldn't revert that change but we do need a fix for this as well.

[2017-11-24 17:08] TheHollidayInn commented on #9434
This looks fixed to me. The modal seems to now grow as you have more tags.

[2017-11-24 17:09] Alys commented on #9508
I'm almost completely certain it was not.  We had the damage/collected-items icon in the header then and iirc it never appeared when it shouldn't.

I've edited the top post to cross out "This might only happen while the quest is in the invitation stage" because it happens while the quest is running too.

[2017-11-24 17:16] Alys commented on #9434
Confirmed okay for me in staging and I have a lot of tags.

[2017-11-24 17:16] #9434 closed, assigned to nobody

[2017-11-24 17:18] TheHollidayInn commented on #9508
Ah, okay. I was wondering if the server was still sending the notifications to the user, but the old client was just ignoring them.

[2017-11-24 17:30] Alys commented on #8636
@MathWhiz Thanks for asking! I've updated the top post to make it relevant for the new website, and I've changed the labels. The requirements are still much the same.

Are any of the contributors who've commented here interested in working on this now?

[2017-11-24 17:33] Alys commented on #9249
@AugustoEMoreira How are you going with this? Do you have any questions or need any advice?

[2017-11-24 17:49] Alys opened #9577 "button in modal is white until focus is given to modal"
When a new player visits their party for the first time, they see this modal:

![image](https://user-images.githubusercontent.com/1495809/33220362-80517af0-d13f-11e7-8fd1-836eb04635eb.png)

The button is white so it can't be read, which is incorrect.

When you click on the modal, the correct colour is applied:

![image](https://user-images.githubusercontent.com/1495809/33220393-b3c7201a-d13f-11e7-

[2017-11-24 17:50] Alys commented on #9577
labels updated

[2017-11-24 17:56] Alys commented on #9533
I haven't seen other reports of this so I'm closing this. If it comes up again, I'll ask about clicking the arrow.

[2017-11-24 17:56] #9533 closed, assigned to nobody

[2017-11-24 17:57] Alys commented on #9243
@borisabramovich86 No worries, thanks for letting us know!

@DazoTrove Thanks for adding those notes! That's useful.

[2017-11-24 18:20] TheHollidayInn commented on #9249
All message timers are handled in one place, so I'm not sure the separate issues are needed.

[2017-11-24 18:47] TheHollidayInn commented on #9415
Adding for notes, a good way to address this issue would be to add unit tests for daylight savings time around this new-ish function `https://github.com/HabitRPG/habitica/blob/4618fd8954a7c3f4d4fc486ce25536a61de6349c/website/server/models/user/methods.js#L196`. Now that the code is abstracted from the cron middle ware, we can probably add more tests as well. I'll take this up if no one claims it s

[2017-11-24 20:43] AlyxMoon commented on #9577
I'm happy to try fixing this.

[2017-11-24 20:58] Alys commented on #9577
@AlyxMoon Great, thanks!

[2017-11-25 10:18] dseebacher opened #9580 "Can't feed special pets"
### General Info
  * UUID: e86bbc60-a81f-47ed-91b4-2d8928482b05
  * Browser: Firefox 57
  * OS: Linux/Fedora 27

### Description
I can't feed special pets in the browser version. Two different things might happen, always with the same pets:
I grab a random food from the quick bar and click on a pet
1. nothing happens at all, the food is still following the cursor
2. the food disappears, but was no

[2017-11-25 10:24] Alys commented on #9580
Special pets aren't intended to be fed. Matching special mounts are given
out for free periodically. The Habitica Help guild can give you more
information if you like!

For reporting bugs, it's best to put a brief message in the Report a Bug
guild, rather than creating a new issue.

You can reach both guilds through the website's Help menu, or for more
details see the instructions when you click "

[2017-11-25 10:24] #9580 closed, assigned to nobody

[2017-11-25 10:28] dseebacher commented on #9580
I thought so, but still:

1. signal somehow , that it is not possible to feed them (feature request)
2. they should at least behave all the same way

[2017-11-25 14:38] Alys commented on #7390
This issue is no longer happening. Now when you change time zone and reload the page, the change is saved to the database immediately.

[2017-11-25 14:38] #7390 closed, assigned to nobody

[2017-11-25 17:08] Alys commented on #9250
Another report, this time for a different quest so I've edited the issue title.
"If I’m on my party page and click “invite party to quest”, it brings up the modal and suggests “Find the Cub”. When I say okay, I get a taunting message that I don’t own that quest!" -- Fox_town

[2017-11-25 22:22] librarianmage commented on #9250
Mine defaulted to the Ram Quest, which I had.

[2017-11-25 22:24] librarianmage commented on #9521
@TheHollidayInn Should this be marked as in progress?

[2017-11-25 22:26] librarianmage commented on #9282
So if the costume is enabled, it should be added there, but otherwise it should be added to Battle Gear?

[2017-11-26 12:43] Alys opened #9582 "sorting Dailies in "All" filter causes "Due" filter to be applied"
As reported in the Report a Bug guild by Il Mago Azzurro (c073342f-4a65-4a13-9ffd-9e7fa5410d6b):

"Website, trying to reorder my dailies with the "All" filter active results in having the "Due" filter (the default one) activating everytime the page sync after I move something, I had to move only 2 things, but it was really longer than it should be..."

I've confirmed that in my account, although i

[2017-11-26 17:00] Alys commented on #9333
I'm reopening this because I'm not sure it was meant to be closed. There isn't a full list of participants that lets you see all their progress.

[2017-11-26 18:11] Alys commented on #9282
@MathWhiz Yes

[2017-11-26 18:12] Alys commented on #9521
@MathWhiz Thanks! I've marked it in progress.

[2017-11-27 01:33] thefridge111 commented on #9532
I can take a look at this if noone else is

[2017-11-27 01:39] thefridge111 commented on #9532
is this related to #9559 ?

[2017-11-27 08:33] negue commented on #9317
@ArthurFoucher sorry it took so long to respond.

Your approach wasn't wrong, its just we have multiple item types which shouldn't / can't be purchased multiple times at once, so I created an array which contains all types:

https://github.com/HabitRPG/habitica/blob/b630485316ab5c19ac5aa9de2d3d813c60005b6f/website/client/components/shops/buyModal.vue#L288-L291

Added a simple method to check if th

[2017-11-27 16:22] #9521 closed, assigned to nobody

[2017-11-27 16:23] #9504 closed, assigned to nobody

[2017-11-27 16:27] #9503 closed, assigned to nobody

[2017-11-27 16:29] #9482 closed, assigned to nobody

[2017-11-27 17:10] #9502 closed, assigned to nobody

[2017-11-27 17:11] TheHollidayInn commented on #9431
I think this may have been related to: https://github.com/HabitRPG/habitica/pull/9463 where basically on the client side, the user received an item thus completing armoire, but on the server they did not.

[2017-11-27 17:14] LunarGem commented on #9538
@Alys Did you forget? Thought I'd bump you.

[2017-11-27 17:15] Alys commented on #9431
That makes sense. I've not seen it reported recently. We can reopen if needed.

[2017-11-27 17:15] #9431 closed, assigned to nobody

[2017-11-27 17:39] #9428 closed, assigned to nobody

[2017-11-27 17:42] Alys commented on #9532
@thefridge111 Yes it might be the same bug. I'm marking them both as in progress. Thanks for taking this on! Comment here if you have questions.

[2017-11-27 17:50] Alys commented on #9559
This is probably the same bug as https://github.com/HabitRPG/habitica/issues/9532 which is being worked on by @thefridge111 so I'm marking this in progress.

[2017-11-27 17:59] #9396 closed, assigned to nobody

[2017-11-27 18:06] TheHollidayInn commented on #9243
@lemoness or @Tressley Can we get direction on this for the UI/UX. There are three Key to Kennels (technically speaking). Can you let us know how to present this? 2 comments above shows the options.

[2017-11-27 18:19] #9282 closed, assigned to nobody

[2017-11-27 18:22] Tressley commented on #9458
@MathWhiz / @Alys -- I believe you are both members now. Please let me know if there's still an issue!

As for the wording, I'm not opposed to clearer wording. I like what you've suggested, but will tag-in @lemoness for copy approval.

[2017-11-27 18:25] TheHollidayInn commented on #9266
@yomimono I can definitely see your point, but for a quick add, I think we might want to stick with this path of inference and see what others think. Maybe other admins can weigh in. We probably don't want to have many options for quick add.

Also, this is working for me on develop, so I'm closing. Feel free to open if not.

[2017-11-27 18:25] #9266 closed, assigned to nobody

[2017-11-27 18:30] TheHollidayInn commented on #9340
For issue 1: did we ever have popups for these achievements? I'm not seeing them.

For issue 2: Do we have any way for users to earn this achievement now? Don't you have to use Keys to the Kennel?

[2017-11-27 18:35] TheHollidayInn commented on #9369
This is working on prod. Feel free to open we have more reports.

[2017-11-27 18:35] #9369 closed, assigned to nobody

[2017-11-27 18:45] TheHollidayInn commented on #9368
This issue doesn't seem to be happening for me. I'd suggest we close unless someone else can recreate or we get more reports.

[2017-11-27 18:46] #9338 closed, assigned to nobody

[2017-11-27 18:46] Alys commented on #9340
I have a vague memory of popups for them. Not sure. They're just achievements though so did we have generic achievement popup code that they used? It would be nice to have a popup regardless.

The Beast Master and Mount Master achievements are given the first time you hatch all 90 standard pets and produce all 90 standard mounts. We definitely never had a popup for second, third, etc times. Keys t

[2017-11-27 18:55] TheHollidayInn commented on #9340
Okay, perfect.

So I think I found how the achievement is awarded: https://github.com/HabitRPG/habitica/blob/c06d5107ac7e45fa1edfa803a2085e37633d6113/website/server/models/user/hooks.js#L228.

I think the achievement logic is spread out. I'm not sure why the increment is separate.

But to solve this issue, I think it would be best to add a notification to the user notifications and check for it in

[2017-11-27 19:08] negue commented on #9449
I think we can close this, the seasonal shop isn't blank anymore.

[2017-11-27 19:18] Alys commented on #9538
@LunarGem You mean about your message in the Blacksmith's guild? I replied to that about six days ago. :) Or was there something else?

[2017-11-27 19:57] LunarGem commented on #9538
@Alys Hmm. I must have dismissed the notification, I'll check it, thanks!

[2017-11-27 20:15] negue commented on #9522
Currently the Boss Strength is shown as Difficulty. The only damage I could try to calculate would be http://habitica.wikia.com/wiki/Boss#Boss_Strength but there I'd need a  `dmg` variable.

@paglias @TheHollidayInn any idea / hint how get the boss damage ? maybe I've overseen it somewhere :/

[2017-11-27 20:36] Alys commented on #9522
I believe the requirement for this issue is to display the boss's Strength, as it used to be displayed on the original website.

The damage variable that that wiki page talks about is specific to each player's actions each day so it isn't needed for displaying generic information about the boss.

[2017-11-28 01:33] #9507 closed, assigned to nobody

[2017-11-28 01:35] #9537 closed, assigned to nobody

[2017-11-28 01:37] #9520 closed, assigned to nobody

[2017-11-28 01:43] #9430 closed, assigned to nobody

[2017-11-28 01:45] #8824 closed, assigned to nobody

[2017-11-28 01:54] #9317 closed, assigned to nobody

[2017-11-28 01:54] #9401 closed, assigned to negue

[2017-11-28 02:05] #9083 closed, assigned to nobody

[2017-11-28 02:07] #9403 closed, assigned to nobody

[2017-11-28 02:08] #8917 closed, assigned to nobody

[2017-11-28 02:13] #8669 closed, assigned to nobody

[2017-11-28 02:17] #9449 closed, assigned to SabreCat

[2017-11-28 02:37] #9400 closed, assigned to nobody

[2017-11-28 02:48] #9263 closed, assigned to nobody

[2017-11-28 02:54] #9353 closed, assigned to nobody

[2017-11-28 03:01] abatula commented on #9200
I took another look at the files, and I still can't find where daysOfMonth is set at all (or daysOfWeek, which I tried to find for comparison). The most promising code I found was in website/client/components/tasks/taskModal.vue, but even then I don't see when/how the set function is called, or exactly what it does.

[2017-11-28 08:06] paglias commented on #9200
@abatula I think the code you're searching for is in `taskModal.vue` indeed, under the `repeatsOn` computed property:

[code]

You can learn how that works here https://vuejs.org/v2/guide/computed.html

[2017-11-28 08:11] #9448 closed, assigned to negue

[2017-11-28 08:19] #9186 closed, assigned to nobody

[2017-11-28 10:39] Alys opened #9586 "old-style URLs to guilds and challenges should be automatically redirected to new-style URLs"
On the old website, URLs to guilds and challenges were like this:
https://www.habitica.com/#/options/groups/guilds/a29da26b-37de-4a71-b0c6-48e72a900dac
https://www.habitica.com/#/options/groups/challenges/e2816060-cb5c-46b3-9763-adf2ea20a72b

The new website uses URLs like this:
https://www.habitica.com/groups/guild/a29da26b-37de-4a71-b0c6-48e72a900dac
https://habitica.com/challenges/e2816060-cb5c

[2017-11-28 16:04] TheHollidayInn opened #9587 "Mention Options Don't Refresh When Changing Guild"
### Description
[//]: # (Describe bug in detail here. Include screenshots if helpful.)

Aerilita ( 3b724a41-48d3-4048-ae27-70b258cf5a72 ) tier 1 Friend Socialite
Minor issue Here's something I just noticed, no idea how long it's been around.
Visit a guild from notification (say, Aspiring Socialites).
Visit another guild from notification (in my case, Learn Mandarin).
Start replying to a post by ty

[2017-11-28 19:23] pcvonz commented on #9204
I can take a look into this over the weekend.

[2017-11-28 19:44] kipraske commented on #9364
I have a fix for this, but I am going to do some additional testing to make sure I didn't mess up any of the other pets. In particular I am not sure at this point why flying pigs need this special treatment anyway.

Anyway the problem is that we have this CSS

[code]

But we remove the `.FlyingPig` class from the pig when it is greyed out for some reason. My fix adds this to the greyed out version

[2017-11-28 20:29] tricksyfox commented on #9231
@MathWhiz I just want to say that I am SUPER excited that you're working on this and look forward to it being implemented!!

[2017-11-29 01:22] librarianmage commented on #9231
@tricksyfox Well, I'll try my best!

[2017-11-29 03:54] AlyxMoon commented on #9461
@Alys While I thought I had the changes working on my system, I can't get the tests passing in Travis CI (but can on my system) and don't understand the testing well enough to figure things out. I figure it best to assume the problem is with me, not the tests.

Rather than continue making a mess of things with my PR's, I think it best if I give somebody else a chance to work on it instead.

[2017-11-29 05:22] librarianmage commented on #9461
@AlyxMoon Currently the tests have been very iffy, so I think that you could still push your PR and have someone else check.

[2017-11-29 07:11] melarish commented on #9289
So I've downloaded all the .svg files from the Zeplin but for some reason they have a `<g fill="none"` in the code which makes them have no color (it overrides `<use fill="#C92B2B"`). I'll remove that part unless anyone's got an idea why it's there?

[2017-11-29 10:01] Alys commented on #9461
@AlyxMoon You're doing fine with this! I'm commenting more in the PR since that's where the new test code is defined but as a general note, @MathWhiz is correct that the tests can be iffy. It's not uncommon for them to time out or have other problems that aren't connected to the changes. Admins can restart the tests when they fail for unexpected reasons.

[2017-11-29 11:54] kartikadur commented on #9359
Sweet yeti of the serengetti, this is a lovely little rabbit hole of a problem. I might need permission for this one because a parameter to backend api calls might need a slight adjustment.

+ There are about 5-7 pages that use / call the `habitica:show-profile` event to display user profiles.
+ For users other than the loggedIn user an api call to `/api/v3/members/:memberId` is made.
+ This api r

[2017-11-29 12:47] Tressley commented on #9243
@TheHollidayInn -- I have an idea on how to handle this, but I still need to review with the team. Will update when I get a clearer direction.

[2017-11-29 14:16] TheHollidayInn opened #9596 "Saddles Should Not Be Sellable"
**EDIT 2018-12-08 by Alys: For the current behaviour and new fix required, see my comment further down in the isssue. This should be a pretty easy fix since it likely just needs small changes to existing code, based on code that was working in the past (links to both sets of code are in my comment) so I'm marking this as "good first issue" although it might be a little harder than such issues norm

[2017-11-29 15:34] TheHollidayInn commented on #9508
I'm unable to recreate this issue when completing tasks, but I am pushing a PR to fix the pending damage display.

[2017-11-29 16:10] TheHollidayInn commented on #9499
Is this option currently appearing? I'm not seeing it.

[2017-11-29 16:20] TheHollidayInn commented on #9361
I'm posting an initial fix for the. I believe it is the correct approach.

I think the general solution is similar to the NLP problem of removing stop words?

[2017-11-29 16:24] TheHollidayInn commented on #9498
Are these the pets under the special section?

[2017-11-29 16:36] TheHollidayInn commented on #9388
This looks like it is working on staging.

[2017-11-29 16:37] Alys commented on #9499
"Don't show popup when hatching a pet" at User Icon > Settings.

[2017-11-29 16:43] TheHollidayInn commented on #9499
Thanks :D

[2017-11-29 16:44] TheHollidayInn commented on #9493
This seems to be fixed on Staging.

[2017-11-29 16:46] Alys commented on #9498
Yes.

![img](http://i.imgur.com/g7HI8W0.png)

![img](http://i.imgur.com/lr6a8xA.png)

The pets and mounts that should have a paw print are the ones shown in the "Pets and Mounts" section on the [Mysterious Time Travelers](http://habitica.wikia.com/wiki/Mysterious_Time_Travelers) wiki page, and the Hydra pet.

The Orca pet and mount will need to have the paw print added in future, when they become

[2017-11-29 16:47] Alys commented on #9498
Wait, I'm lying about the Orca pet and mount. They should never have a paw print because they're given out at special events NOT from a World Boss. I forgot! 😱

I'm editing my previous comment to hide my shame. :)

[2017-11-29 16:49] Alys commented on #9498
Oh, and the Invisible Aether mount! It can come from a quest at any time so should it have a paw print? @lemoness

[2017-11-29 18:21] Alys commented on #9265
@petmat How are you going with this? Do you have any questions for us or need any advice? Or if real-life has got in the way and you no longer have any free time, just let us know! We understand what that's like. :)

[2017-11-29 18:48] paglias commented on #9493
I don't have anything against Vivaldi but I don't think we should focus on fixing issues with a browser that's used by maybe a few thousands people worldwide. Supporting Firefox/Edge/Chrome and Safari covers 99.9% of people and is already difficult

[2017-11-29 18:48] Tressley opened #9602 "Streak Bonus snack notification does not include Gold icon"
Bonus Streak snacks do not contain the Gold icon. The icon should be identical to the earned/lost snack sizing.

![image](https://user-images.githubusercontent.com/2686586/33393018-c4307b0c-d50b-11e7-810d-7d4d00e99e2d.png)

[2017-11-29 18:55] Tressley commented on #9392
@lemoness -- We decided on not having a broken megaphone, but rather calling out the icon in red. Would we like to go back to the broken megaphone?

[2017-11-29 19:00] Tressley opened #9603 "Incorrect left and right margins on the page"
Throughout the site, the content should be framed by ~24px on the left and right. These are commonly referred to as "gutters" in design/development. Below you can see an example of the incorrect alignment.

![image](https://user-images.githubusercontent.com/2686586/33393540-7c9c25fa-d50d-11e7-8a84-7688b1d1a8ac.png)

This touches on various areas of the site, primarily the Tasks page, Tavern, Guild

[2017-11-29 19:04] Alys commented on #9392
@Tressley I'd like it to go back to a broken megaphone for the sake of colour-blind people. Even if the broken colour is different enough to be distinguishable from the non-broken colour, it's going to be harder for them to learn what change to look for when they read about it in the Help guild. In contrast, if the icon image changes, then it will be obvious what they have to look for when they se

[2017-11-29 19:07] Alys commented on #9603
Since this is low priority, can we put it on hold until https://github.com/HabitRPG/habitica/issues/9538 is fixed? On small screens the extra 48 pixels could be enough to throw some users into the buggy situation where they can't use the User Icon menu.

[2017-11-29 19:08] Alys commented on #9538
@LunarGem How are you going with the local install troubles? Did the advice in Aspiring Blacksmiths help?

[2017-11-29 20:07] Alys commented on #8874
I'm working on this.

[2017-11-29 20:35] Alys commented on #5265
I'm closing this because in the new website, the red notification count is incremented when a party invitation is received, so in that way it's more obvious than it used to be (although if you have guild notifications pending you might not notice the party invitation for a while; the notification icon no longer changes to show you that a party invitation is there, but that's intentional in the new

[2017-11-29 20:35] #5265 closed, assigned to nobody

[2017-11-29 20:36] #7654 closed, assigned to Alys

[2017-11-29 21:00] Alys commented on #4758
I'm closing this because it's more of a feature request than a bug report, and the current situation is working as intended, and we want to overhaul that name situation in general at some point.

However I have no objections if other admins disagree and reopen this. :)

[2017-11-29 21:00] #4758 closed, assigned to nobody

[2017-11-29 21:40] LunarGem commented on #9538
@Alys I'm applying to college so my life is crazy. I haven't had time to code at all in ages, I'll get on it as soon as I can.

[2017-11-29 21:45] Alys commented on #2578
I'm working on this.

[2017-11-29 22:13] TheHollidayInn opened #9605 "Confirmation for Purchasing Avatar Items is Missing"
### Description
[//]: # (Describe bug in detail here. Include screenshots if helpful.)

[code]

#### Console Errors
[//]: # (Include any JavaScript console errors here.)

[2017-11-29 22:31] Alys commented on #9216
The mustache problem is being fixed in https://github.com/HabitRPG/habitica/pull/9604

[2017-11-30 00:53] lemoness commented on #9458
I like the wording that Alys has suggested!

On Mon, Nov 27, 2017 at 10:22 AM, Tressley Cahill <notifications@github.com>
wrote:

[2017-11-30 01:14] TheHollidayInn commented on #9498
AH, okay so there are multiple types of special pets- some that need a paw to show and some the need it to hide, correct?

[2017-11-30 07:01] Alys commented on #9242
In the Report a Bug guild, Aerilita (3b724a41-48d3-4048-ae27-70b258cf5a72) gave us this information:

"Regarding the bug where visiting a guild via notification doesn't clear the notification, and 'Fetch Recent Messages' doesn't either: the notification does get cleared if I do a hard refresh on the guild chat page. I tried with several ones, but I just don't have too many. This doesn't work for p

[2017-11-30 13:49] Alys commented on #9498
Exactly.

We could add a `hidePawPrint: true` attribute to those pets/mounts that
shouldn't have a pawprint showing. No extra config would be needed for the
other special pets/mounts. That would be consistent with how the
non-special pets are handled.

I'll make a list of the IDs of the pets/mounts that  need to be hidden.

On Thu, 30 Nov 2017, 01:14 Keith Holliday <notifications@github.com> wrote

[2017-11-30 14:16] #9509 closed, assigned to nobody

[2017-11-30 14:16] #9381 closed, assigned to nobody

[2017-11-30 14:17] petmat commented on #9265
Sorry about the delay, yeah things have been crazy busy lately, but I was thinking about taking another look at this on the weekend if that's ok.

[2017-11-30 14:19] #9388 closed, assigned to nobody

[2017-11-30 14:53] TheHollidayInn commented on #9498
That sounds great :D

[2017-11-30 15:09] TheHollidayInn commented on #9367
Is this still happening? Seems fixed to me on staging.

[2017-11-30 15:12] Alys commented on #9367
I'll reopen this if I see another report of it.

[2017-11-30 15:12] #9367 closed, assigned to nobody

[2017-11-30 15:14] TheHollidayInn commented on #9363
Is this still happening? This seems to be fixed on staging.

[2017-11-30 15:16] Alys commented on #9363
I'll reopen this if I see another report of it.

[2017-11-30 15:16] #9363 closed, assigned to nobody

[2017-11-30 15:18] TheHollidayInn commented on #9362
When you say you can organize by set anymore, do you mean that on the old site you were able to but not on the new site? I'm not having a problem combining the current group and sort options, but I do notice that there are no "set" options.

[2017-11-30 15:21] TheHollidayInn commented on #9208
Would it be beneficial to move audio files to S3? I'm not sure what our current scheme is, but I'd like to host more static files out of our repo if possible

[2017-11-30 15:38] matchajune commented on #9605
@Alys I can take this if it is still free!

[2017-11-30 15:39] matchajune commented on #9596
@Alys I can take this if it is ready!

[2017-11-30 15:42] TheHollidayInn commented on #9605
Please do!

[2017-11-30 15:42] TheHollidayInn commented on #9596
Go for it :D

[2017-11-30 15:43] TheHollidayInn commented on #9344
This should be fixed with my recent update on guild search.

[2017-11-30 15:51] TheHollidayInn commented on #9447
This has been fixed with the addition of Vue Draggable :D

[2017-11-30 15:51] #9447 closed, assigned to nobody

[2017-11-30 16:31] Alys commented on #9204
@pcvonz Thank you! Comment here if you have questions.

[2017-11-30 17:37] lemoness commented on #9603
Yes, I'm okay with temporarily putting this on hold until that's resolved.

On Wed, Nov 29, 2017 at 11:07 AM, Alys <notifications@github.com> wrote:

[2017-11-30 17:39] lemoness commented on #9392
I think creating an alternate icon is probably pretty straightforward, and
then we can have it in red as well.

On Wed, Nov 29, 2017 at 11:04 AM, Alys <notifications@github.com> wrote:

[2017-11-30 17:45] lemoness commented on #9522
Yes, we need to display the HP, not using the wiki page. See
Tressley's design.

On Mon, Nov 27, 2017 at 12:36 PM, Alys <notifications@github.com> wrote:

[2017-11-30 17:46] lemoness commented on #9522
I've updated the title and OP of this ticket to make the requirements more clear.

[2017-11-30 18:01] lemoness commented on #9498
@Alys Good catch with Jackalopes and Aether! Those will indeed need paw
prints :)

On Thu, Nov 30, 2017 at 6:53 AM, Keith Holliday <notifications@github.com>
wrote:

[2017-11-30 18:10] #8365 closed, assigned to nobody

[2017-11-30 18:37] #9508 closed, assigned to nobody

[2017-11-30 18:37] #9602 closed, assigned to nobody

[2017-11-30 18:53] Alys commented on #9498
All the special pets/mounts are listed in this code:
https://github.com/HabitRPG/habitica/blob/d72b40d5b04688029aac72b6f9cb5f4a39fd2477/website/common/script/content/stable.js#L54-L90

The ones that should NOT show pawprints are:

Pets:
  'Wolf-Veteran': 'veteranWolf',
  'Wolf-Cerberus': 'cerberusPup',
  'Turkey-Base': 'turkey',
  'JackOLantern-Base': 'jackolantern',
  'Tiger-Veteran': 'veteranTig

[2017-11-30 18:57] Alys commented on #9265
@petmat Sure! Thanks! :)

[2017-11-30 19:01] TheHollidayInn commented on #9333
You can now search the member list, which isn’t the correct behavior. We won’t be loading all members at once.

[2017-11-30 19:59] Feywood commented on #3571
I wouldn't mind getting to work on this one. It seems so tragically abandoned and so very much needs doing.

[2017-11-30 20:12] TheHollidayInn commented on #3571
Thank you! Please feel free to work on it.

[2017-11-30 20:12] paglias commented on #9208
@TheHollidayInn I'm not a big fan of using S3 for this stuff, it's not meant to be a CDN and is actually quite slow. We should get everything we can to the Webpack processing and then upload the build dir to a proper CDN

[2017-11-30 20:41] TheHollidayInn commented on #9208
Makes sense, but we could still use a CDN + s3 combo. I'd prefer to keep our builds small and fear that mp3s would increase the size more. Although without measuring I won't push :D

[2017-11-30 20:55] paglias commented on #9208
Yeah the reason why I haven't included them yet is that it wouldn't make
sense to bundle them but with some more work we can still pass them through
Webpack without bundling them but loading them only when needed

2017-11-30 21:41 GMT+01:00 Keith Holliday <notifications@github.com>:

--
Matteo Pagliazzi - paglias.net

[2017-11-30 21:45] #9343 closed, assigned to nobody

[2017-11-30 21:45] #9387 closed, assigned to nobody

[2017-11-30 22:59] Alys opened #9618 "price / cost / value of large Rewards is obscured by the gold coin image when edting"
From citrusella, the serving wench ( 2d6ef231-50b4-4a22-90e7-45eb97147a2c )  in the Report a Bug guild:

"If you make a reward with more than three digits (i.e. 1000 or 22096), the money image that shows up in the box obscures the last two digits [when editing the Reward]."

Here's an example with nine digits to make it clear:

![1](http://i.imgur.com/g2rD3H4.png)

[2017-12-01 00:53] lemoness opened #9619 "Improvements to Challenge Layout"
_edit by Alys: ignore the "Ends ..." text in the screenshots below and also ignore the comments below that discuss End Date and Start Date. Those new features will be added in https://github.com/HabitRPG/habitica/issues/9672._

Based on the feedback we've received from the community, we've made the following changes to the My Challenges/Discover Challenges lists that will need to be implemented.

[2017-12-01 01:51] TheHollidayInn commented on #9619
Are the heights in the new version supposed to match or no?

[2017-12-01 02:20] lemoness opened #9620 "Quest Invite list should include Quest tooltips on hover"
When you go to start a quest, the modal that pops up shows images of all the scrolls on the left. When you hover over an image of a scroll, currently nothing happens. Instead, it should show you a tooltip with its details, exactly as happens when you hover over an image of a scroll in the Quest Shop. (Note that there are currently some planned changes to that tooltip, which are detailed in https:/

[2017-12-01 04:41] librarianmage commented on #9222
@LunarGem How are you doing with this? Would you like some assistance?

[2017-12-01 10:40] Alys commented on #7716
I've added this text to the top post:

_edit by Alys 2017-12-01:_

This bug is back. DCL ( 3bd49b39-283b-4d03-8117-7b87e9547e91 ) wrote in the Report a Bug guild:

"when I closed a challenge (in the private guild I use to keep weekly to-do lists as challenges) and listed myself as the winner, the pop-up notification said I had won a different challenge! The challenge I closed was 'Weekly Work Task

[2017-12-01 12:07] luanmuniz commented on #9043
@paglias Closing the issue before updating the docs! :(
Just lost an hour looking for this

How can we update the docs?

[2017-12-01 13:47] #9523 closed, assigned to nobody

[2017-12-01 14:03] #9360 closed, assigned to nobody

[2017-12-01 14:03] #8721 closed, assigned to nobody

[2017-12-01 14:10] TheHollidayInn commented on #9185
Do you have Bailey's user Id you can send me?

[2017-12-01 14:12] TheHollidayInn commented on #9220
@paglias Is this being fixed in your upcoming updates?

[2017-12-01 14:14] TheHollidayInn commented on #9262
@gitlui Are you still wanting to work on this?

[2017-12-01 14:37] #9433 closed, assigned to nobody

[2017-12-01 15:02] Alys opened #9622 "checkbox for toggling RYA `yesterDaily` attribute does not appear in the edit screen for Dailies"
As reported by tseren ( 8d1bee26-4a44-496d-89b5-1e8778d82c7d ) in the Report a Bug guild:

"the enable/disable options for the [Record Yesterday's Activities](http://habitica.wikia.com/wiki/Dailies#Record_Yesterday.27s_Activities) feature for dailies is missing from both the website and the droid app. The feature is still present in the droid app at least, but can't be turned on or off."

I.e., wh

[2017-12-01 15:03] Alys commented on #9622
@Tressley this needs some minor design work (e.g., to choose a place in the edit form for the field).

Labels updated.

[2017-12-01 15:42] Alys commented on #9185
9da65443-ed43-4c21-804f-d260c1361596

Relevant data from her account (really just the `backer.npc` part is needed I believe):

    "backer": {
        "npc": "Town Crier",
        "tier": 800,
        "tokensApplied": true
    },

[2017-12-01 15:43] paglias commented on #9220
@TheHollidayInn I can do this as well!

[2017-12-01 15:45] paglias commented on #9043
@luanmuniz the docs are up to date here http://habitica.wikia.com/wiki/Setting_up_Habitica_Locally#Run_Habitica

[2017-12-01 15:51] Alys commented on #9622
The Android version of this bug is at https://github.com/HabitRPG/habitica-android/issues/901

[2017-12-01 16:04] TheHollidayInn commented on #9185
Actually, I think the problem is that the tier is 800 :P The client checks for a tier === 10. So we can just update the client to be >= 10 if you want.

[2017-12-01 16:18] Tressley commented on #9619
@TheHollidayInn -- Our hope is that most of them will be within the same height. The version to the left is the edge case in which a Challenge has a title that wraps to two lines and max summary length. Most of them will look like the version to the right.

[2017-12-01 16:19] TheHollidayInn commented on #5974
Does adding the index in mongoose mess with anything during deployment?

[2017-12-01 16:23] paglias commented on #5974
The problem is that in production it causes problems

[2017-12-01 16:26] TheHollidayInn commented on #5974
Ah, so we just need to add these indexes to the schema, but then set config.autoIndex to false?

[2017-12-01 16:28] Alys commented on #9185
Ah, no, our code is misleading. :( To help clarify things (I hope), here's Bailey's full contributor and backer data:

[code]
and here's the data for another NPC, mattboch:
[code]

Note how both are NPCs and should have the special formatting, but Bailey is also a moderator (contributor.level = 8). I.e., the `contributor` data is irrelevant to their NPC status.

Part of the confusion comes from th

[2017-12-01 16:33] TheHollidayInn commented on #9185
Ah. I see :P Okay, yes. I'll update this:

1. change tier10 to tierNPC
2. change the npc check to if (Boolean(backer.npc))

Sound good?

[2017-12-01 16:33] Alys commented on #9185
This could be changed too to use 800 instead of 10:
`test/api/v3/integration/user/PUT-user.test.js:62:      backer: {'backer.tier': 10, 'backer.npc': 'Bilbo'},`

Changing that value wouldn't have any effect on the test, but it would make the test data more closely resemble real data, and might help to avoid confusion in future.

[2017-12-01 16:34] Alys commented on #9185
Yes, those two points sound good!

[2017-12-01 16:37] Tressley opened #9626 ""Block" button in User Profile should be an icon"
**Current**
![image](https://user-images.githubusercontent.com/2686586/33492724-f5f97c02-d68b-11e7-87b1-8c94c46f9f04.png)

**Approved Design**
![image](https://user-images.githubusercontent.com/2686586/33492708-e8afb160-d68b-11e7-9440-6e68cc530107.png)

If you're interested in picking up this issue, please leave an email address to be invited to our Zeplin project.

[2017-12-01 16:39] Tressley commented on #9626
**Note:** The order of the buttons is incorrect as well. Should be easy enough to include in this issue.

[2017-12-01 16:56] Alys commented on #9216
The fix for the mustache is on staging and working well.

Strictly speaking, the animal ears and glasses are fixed too because they don't need a "none" option - when you're wearing one you can just tap it to unequip it, the same as you can for equipment (and in fact those items are equipment even though they also appear in the Edit Avatar section).

However since they do appear in that section, it

[2017-12-01 18:47] Feywood commented on #9216
I can implement the solution for the rest of them :)

[2017-12-01 19:44] luanmuniz commented on #9043
I had to run `npm run client:build`, not `npm run client:dev` to make it work. And actually keep rerunning it with `npm start` everytime i did a change =/

[2017-12-01 20:02] Alys commented on #9216
Yay, it's yours! :)

[2017-12-01 20:25] Feywood commented on #9216
I was just wondering, if I do a pull, will I already see your mustache solution? As it's only on staging, I wasn't sure.

[2017-12-01 20:55] Alys commented on #9216
Yes, the staging website uses the code in the `develop` branch, so pulling will put that solution in your local install."

[2017-12-01 20:57] gitlui commented on #9262
After the labels were changed and the assignment to me was removed I stopped working on it. The required fix is mentioned in the comments above.

[2017-12-01 21:01] Alys commented on #9262
@gitlui The labels being changed was probably an accident. When something like that happens, you can ask always us about it. Do you want to keep working on it?

[2017-12-01 23:03] lemoness opened #9628 "When cloning Challenge, Guild selection dropdown defaults to blank"
When you are cloning a Challenge, the dropdown where you select a Guild defaults to blank. (This may be an issue with other such dropdown menus, such as the Guild leader/Party leader selection dropdown, but that would need to be investigated separately.) Note that this is a display issue: if you go ahead and create the cloned Challenge, it defaults to being in the same Guild as before. However, th

[2017-12-01 23:20] lemoness commented on #9587
Labels updated.

[2017-12-01 23:54] lemoness opened #9629 "Challenge Winner Text is misleading"
The Challenge winner declaration text implies that you can select more than one winner, which is not the case. It should say “Select a winner from the Challenge participants” and “Award Winner.” (Also, there should be some space between the winner’s name and “Selected”.)

[2017-12-02 00:45] lemoness opened #9630 "Pinned Items should be sortable"
You should be able to sort all items pinned to your Rewards column using drag-and-drop.

[2017-12-02 03:32] avirgil commented on #9629
I can take a look at this, but it would be my first issue. :)

[2017-12-02 04:04] xXenithx commented on #9626
I am fairly new to this project so bear with me as I am not entirely familiar with where everything goes.
I managed to come across an update with boostrap 4 stating glyphicon fonts are being dropped (that might be the issue I'm not entirley sure).

[Bootstrap 4 Migration](https://getbootstrap.com/docs/4.0/migration/#components)

Anyhow I switched to [Font Awesome](http://fontawesome.io/l)'s icons

[2017-12-02 05:43] TheHollidayInn commented on #9629
Go for it :D

[2017-12-02 07:19] kartikadur commented on #9618
I'd like to work on this if it is still available.

[2017-12-02 07:22] kartikadur commented on #9582
I'd like to work on this if it is still available.

[2017-12-02 09:51] kartikadur commented on #9511
I'd like to claim this if no one has opted to work on it.

[2017-12-02 12:47] kartikadur commented on #9359
@Alys, @lemoness is there an alternative opinion on how to handle this or could I implement my proposed solution?

[2017-12-02 14:48] paglias commented on #5974
Yep, that seems the best thing, although at this point if we're not managing the indexes with mongose we might as well define them in a json file. The main reason I created this issue is because there's currently no record of which indexes exist

[2017-12-02 14:52] paglias commented on #9043
@luanmuniz Try this:

- Open two terminal windows
- Into one run `npm start`
- Into the other `npm run client:dev`
- The second command will take some time for the initial build
- Then you'll have the website available at `localhost:8080` and the api at `localhost:3000`, but you can ignore that as all the api requests to `localhost:8080/api` are proxies to the api server at localhost:3000
- Any ch

[2017-12-02 14:54] paglias commented on #9626
hey @xXenithx thanks for the interest, we're using our own home made icons for the website. If you're interested in fixing this issue we'll get you access to them :)

[2017-12-02 16:25] Alys commented on #9432
This bug is back because https://github.com/HabitRPG/habitica/pull/9474 reintroduced some of the code that I removed in https://github.com/HabitRPG/habitica/pull/9463

In addition, because that old code is back while the rest of my fix is still in place, we now have a new bug where the Armoire gives you two notifications that you spent 100 gp (although only 100gp is actually spent).

The partial r

[2017-12-02 17:11] Alys commented on #9493
I use Vivaldi but do tend to agree with paglias that we can't necessarily make fixes for any glitches it might have (although I've found it to be a reliable browser myself).

Fortunately as TheHollidayInn says, this seems to be fixed. :) I can't replicate it in production.

[2017-12-02 17:11] #9493 closed, assigned to nobody

[2017-12-02 17:13] Alys opened #9638 "Quick Inventory bug: "Special" appears empty after scrolling in "Food""
In the Report a Bug guild, Aerilita ( 3b724a41-48d3-4048-ae27-70b258cf5a72 ) reported:

"On Stable page (website), if Food in Quick Inventory is scrolled (by clicking an arrow at the side), then switching to Special gives me an empty panel (like "second page" of Special, when there's only one page's worth of items). Scared me for a moment when I thought I lost two saddles. Scrolling on the Special

[2017-12-02 17:53] Alys opened #9639 "users can't add their own tags to challenge tasks"
When you join a challenge, you should be able to edit your own copies of the challenge tasks to add your own tags to them.

Currently you cannot. When you open a challenge task for editing, if you click on the "Tags" drop-down in the edit form, nothing happens - the drop-down does not open. It should open and should allow you to select one or more of your tags (including other challenge tags).

I'

[2017-12-02 17:54] Alys commented on #9639
labels updated

[2017-12-02 18:37] xXenithx commented on #9626
@paglias Yeah I can definitely fix it for you. Am i using a cdn or just including the icons in the assets folder?

[2017-12-02 19:13] Alys opened #9640 "scroll bar mostly hidden in quest selection list in party page"
On the party page, when you want to start a new quest and you get the screen that lets you choose a scroll, the scrollbar is mostly hidden by the quest description in the middle.

![img](https://i.imgur.com/kLCrl8V.png)

This is similar to https://github.com/HabitRPG/habitica/issues/9537 and probably can be fixed in much the same way: https://github.com/HabitRPG/habitica/pull/9544

_Thanks to sonn

[2017-12-02 19:31] avirgil commented on #9629
Ok so I've fixed the first two issues in en and en_GB but how are text updates for other languages handled?

Also I can't for the life of me figure out where the winner's name and "Selected" appear. @lemoness can you clarify?

[2017-12-02 21:47] Alys commented on #9629
Thanks @avirgil !

Only the /en/ language should be edited in the repository. Other languages are handled in Transifex - see the _README_FIRST.md file in the locales directories for details. Can you reverse the changes to the en_GB files before creating a pull request? You can do that with `git checkout <path/to/file.json>`

[2017-12-02 22:55] CharlesStocky commented on #9242
@Alys Unfortunately I haven't been able to get Habitica running locally. It's something to do with memory, either through docker or otherwise. I'd like to work on Habitica, but currently can't.

[2017-12-03 03:29] joedragons commented on #9360
Looks good (Brutal Smash).  Thanks team!

[2017-12-03 18:07] TheHollidayInn commented on #3381
Have we had any reports of this still happening? Here is the supported list that should be working for: https://www.paypal.com/us/webapps/mpp/country-worldwide which includes Germany. This was linked from the REST API support which includes recurring billing. If we have a report, I'd like to see if we are not specifying a param for them.

[2017-12-03 19:37] paglias commented on #9626
@xXenithx you should add the new icon, if it doesn't already exist into /website/client/assests/svg. I'm uploading it here in case it's not already in the repo

[remove.svg.zip](https://github.com/HabitRPG/habitica/files/1525086/remove.svg.zip)

[2017-12-03 20:13] avirgil commented on #9629
Will do, thanks. Does anyone have insight on the `Name "Selected"` part?

[2017-12-03 21:04] xXenithx commented on #9626
@paglias Okay they were in the svg directory my bad. I added both the remove and positive svg file to the modal. Let me know if this works for you!

![screenshot-localhost 8080-2017-12-03-14-01-38](https://user-images.githubusercontent.com/4366997/33529792-bc934d8c-d832-11e7-9828-c9c658eaaa76.png)
![screenshot-localhost 8080-2017-12-03-14-01-54](https://user-images.githubusercontent.com/4366997/33

[2017-12-04 00:55] cassidypignatello commented on #9640
I can take this one if no one's working on it!

[2017-12-04 02:39] LunarGem commented on #9222
@MathWhiz You can take it. I guess I overreached myself during an easier section of school. I'll probably give up on most of the issues I've taken that I haven't made significant progress on.

[2017-12-04 02:41] librarianmage commented on #9222
Oh, I'm too busy to take it up as well, I just want to make sure that
Issues are being worked on.
On Sun, Dec 3, 2017 at 8:40 PM LunarGem <notifications@github.com> wrote:

[2017-12-04 10:02] paglias commented on #9626
@xXenithx that looks good! Can you open a PR with these changes?

[2017-12-04 10:11] paglias commented on #9640
@cassidypignatello go ahead :)

[2017-12-04 13:03] LunarGem commented on #8860
Anybody got a chance to check that PR yet?

[2017-12-04 13:29] paglias commented on #8860
@LunarGem can you fix this https://github.com/HabitRPG/habitica/pull/9385/files#diff-6cabb9f4dba702cc59d4717fb26ec465R3?

[2017-12-04 13:58] LunarGem commented on #8860
Gosh, that would have been fixed ages ago if I'd remembered we were waiting on me!

[2017-12-04 15:47] Tressley commented on #9626
@xXenithx -- Great stuff! Just a couple of things I noticed.
- The icon is the incorrect color. It should be `#686274`.
- Icon needs to be tweaked so it is properly centered.

[2017-12-04 16:00] Tressley opened #9648 "Incorrect styles on Snack notifications"
Current implementation of Snack notifications has many style issues.

- Positioning of the sprite should be centered
- If the line wraps, the container should grow accordingly. (There may be in an instance in which the string becomes three lines. In that case, we'll need to adjust the `font-size` and `line-height`.)

**Current**
![image](https://user-images.githubusercontent.com/2686586/33561841-c

[2017-12-04 16:02] Tressley opened #9649 "Focus Title input when creating or editing a Task"
When creating or editing a Task, the Title input should always be the first item focused.

[2017-12-04 16:07] Tressley opened #9650 "Update CSS fonts on Habitica homepage"
Certain sections of the Habitica homepage are using the incorrect font. Should be using [Varela Round](https://fonts.google.com/specimen/Varela+Round) from Google Fonts.

**Existing**
![image](https://user-images.githubusercontent.com/2686586/33562356-1ffca84a-d8e3-11e7-91ae-9a7f79d53833.png)

**Designed**
![image](https://user-images.githubusercontent.com/2686586/33562383-2d5fa87a-d8e3-11e7-8a73-

[2017-12-04 16:12] TheHollidayInn commented on #9648
I think you should post examples of 2 and 3 lines because that affects the styles with respect to the icon.

[2017-12-04 16:17] Tressley commented on #9648
@TheHollidayInn -- Yeah, this was reported by SL to me, but there wasn't an accompanying screen. I've struggled to find a tooltip that uses three lines.

[2017-12-04 16:19] Alys commented on #9222
I've adjusted the labels. Thanks for letting us know @LunarGem @MathWhiz !

[2017-12-04 16:22] Tressley opened #9651 "Pets and Mounts in the Stable need margin updates"
Should have ~24px between each Pet/Mount.

**Current**
![image](https://user-images.githubusercontent.com/2686586/33563152-29ac46c8-d8e5-11e7-933c-847741a950d0.png)

**Designed**
![image](https://user-images.githubusercontent.com/2686586/33563178-3b52809a-d8e5-11e7-8c42-88655c824e0c.png)

If you would like to work on this issue, please comment an email address to be invited to our Zeplin project.

[2017-12-04 16:30] Alys commented on #9511
@kartikadur Thank you for offering but it's in progress. We should have changed the labels. Sorry about that!

[2017-12-04 16:43] Alys commented on #9651
I've added the "help wanted" label. @Tressley that's the best way to ensure contributors will consider working on an issue. :) I've also adjusted the priority. We use "important" for problems that seriously impact the usability of the site or API.

[2017-12-04 16:44] Tressley commented on #9651
@Alys -- I knew I was missing something! Thank you!

[2017-12-04 16:49] xXenithx commented on #9626
@Tressley Okay, changed the color of remove icon as well as the message icon (it looked darker than the rest). I've also did my best to center all buttons as much as possible. Hope this works!

![screenshot-localhost 8080-2017-12-04-09-47-00](https://user-images.githubusercontent.com/4366997/33564651-4803e232-d8d8-11e7-9be0-082e72e949f1.png)

[2017-12-04 17:11] TheHollidayInn commented on #9648
Sounds good. If I find one, I'll post it here. :D

[2017-12-04 17:16] Tressley commented on #9626
@xXenithx -- Color looks good! But it looks like the icon is being clipped at the top.

[2017-12-04 17:18] mandyzhou commented on #9651
I remember a previous iteration of the website having the larger margins between pets. When the margins were reduced/removed, I assumed that was to prevent pets of one type from breaking across multiple rows and welcomed the change.

[2017-12-04 17:23] #8676 closed, assigned to TheHollidayInn

[2017-12-04 17:51] TheHollidayInn commented on #9639
This was my bad. I misread the Wiki for challenge access :(

[2017-12-04 18:17] luanmuniz opened #9654 "[Suggestion] Move heavy files to another repository or LFS"
This repository is very Heavy. Maybe moving heavy files hat are not changed often to another repository can help a little. Files like:
- `website/static/audio`
- `website/static/emails/images`
- `website/static/raw_sprites`
- `website/client/assets/svg`
- `website/client/assets/images`

Or maybe put them info `git LFS` so they don't take so much time when cloning the repository

[2017-12-04 19:03] xXenithx commented on #9626
@Tressley Okay fixed the size of the icon.
![screenshot-2017-12-4 habitica](https://user-images.githubusercontent.com/4366997/33570781-2a463188-d8eb-11e7-9518-8272ceaa8dbd.png)

[2017-12-04 19:49] gilmoreg commented on #9276
Has there been any progress on this? I'd really love to start writing tests for the client. Have you tried doing this without Docker? Would you like me to give it a shot?

[2017-12-04 19:55] negue commented on #9356
@lemoness Should the popover of each equipment item also show the class bonus?

currently it just lists the gear (raw) bonus

[2017-12-04 20:11] kawunngg commented on #7716
same thing just happened to me. it did not occur for the first time, but last time i thought it was because of my cache or something, but now the title was from a challenge i won weeks ago and i emptied my cache yesterday for sure.

challenge name: ":tomato: Pom Party 2017-11-28"
in Pomodoro Playground https://habitica.com/groups/guild/36d46844-c04c-4c5b-8a00-7fafb09d2697

User ID: ce935e7f-00e6-4

[2017-12-04 20:20] TheHollidayInn commented on #9276
I have't tried running the tests in docker, but if you want to try to update phantomJs or replace the engine, that would be great.

[2017-12-04 20:46] Asuza commented on #9276
@gilmoreg, I think it should work [from my branch](https://github.com/HabitRPG/habitica/pull/9316) if only you can stop PhantomJS from installing.

[2017-12-04 20:48] TheHollidayInn commented on #9276
Oh, sorry! I didn't see you had a PR open

[2017-12-04 20:57] #9639 closed, assigned to nobody

[2017-12-04 21:09] Alys commented on #9248
@hydeenoble How are you going with this? Do you have any questions for us or need any advice? Or if real-life has got in the way and you no longer have any free time, just let us know! We understand what that's like. :)

[2017-12-04 22:01] Alys commented on #9356
My thoughts are that once sorting includes the class bonus, the bonus should be listed in the popover otherwise the sorting will look buggy.
I'd like to see it listed separately from the base stat, so that the base stat can still be seen - that will avoid problems with users getting confused about equipment stats changing when they change class, or confused discussions between users where they dis

[2017-12-04 22:42] hydeenoble commented on #9248
@Alys Apologies, I have been dealing with alot lately, I no longer have any free time. Thanks for understanding.

[2017-12-04 22:55] danisyellis commented on #9649
I'd love to work on this. It will be my first contribution to Habitica :-)

[2017-12-04 23:16] Tressley commented on #9626
@xXenithx -- Looks good to me!

[2017-12-04 23:18] gilmoreg commented on #9276
@TheHollidayInn should I just adopt @Asuza 's changes to the package.json and Karma config in the PR I already have open (for an unrelated issue) or start a new one?

I tried to run Habitica in Docker but I don't think my machine has enough RAM since I ran into the missing dependencies problem.

[2017-12-05 00:28] Alys opened #9662 "only one pinned item is shown in Microsoft Edge (and maybe one/some Internet Explorer versions)"
In Internet Explorer, only one pinned item is visible in the Rewards column when multiple items have been pinned.

![image](https://user-images.githubusercontent.com/1495809/33583404-39dad328-d928-11e7-94b7-a4667509512a.png)

[code]

[2017-12-05 00:29] Alys commented on #9662
It's possible that this bug occurred after this PR was deployed: https://github.com/HabitRPG/habitica/pull/9358/files

[2017-12-05 00:53] TheHollidayInn commented on #8931
Is this still happening?

[2017-12-05 01:11] TheHollidayInn commented on #9541
Are we still getting reports of this? It would be helpful to start collecting examples so we can investigate.

[2017-12-05 01:29] lemoness commented on #9619
We're also going to add a field for Start Dates, so I'm briefly putting this on hold while we add that to the design.

[2017-12-05 01:36] Alys commented on #9619
@lemoness The start dates and end dates won't be as easy to add as the other changes because they'll need changes to the API, challenge creation/edit form, tests, and maybe other code. In contrast, adding the guild name+link, creator link, and category display will require only edits to the file that displays the challenge, and they'll be useful immediately. Being able to access the profile for th

[2017-12-05 01:54] librarianmage commented on #9654
More information: [Git Large File Storage](https://git-lfs.github.com/)

[2017-12-05 02:47] hurtsec commented on #9651
I would like to work on this. Email is j@justinhurt.com

[2017-12-05 03:59] TheHollidayInn commented on #9455
I think we need member declined with quest not started. I believe it would probably just be like "Quest - Member Invite pending" except it doesn't have the accept/reject and it is with lower opacity.

[2017-12-05 04:00] kartikadur commented on #9511
@Alys thanks for the update

[2017-12-05 04:05] TheHollidayInn commented on #9450
I'm not sure if this is working, but is the intention to redirect to `https://habitica.com?p=eyJzIjoiMmanyothercharactersZDRlZjhjY1wiXX0ifQ`

[2017-12-05 04:08] TheHollidayInn commented on #9450
Also, is there a different param for group invites? Here is the code:`if (req.query.groupInvite || req.query.partyInvite) {`

[2017-12-05 04:51] matchajune commented on #9638
@Alys May I take this?

[2017-12-05 04:55] TheHollidayInn commented on #9276
A new one would be best, but if @Asuza is still working on this it would be better to assist in that PR:    https://github.com/HabitRPG/habitica/pull/9316

[2017-12-05 04:55] TheHollidayInn commented on #9638
Go for it!

[2017-12-05 04:56] TheHollidayInn commented on #9649
Go for it :D

[2017-12-05 05:37] gilmoreg commented on #9276
@Asuza, I noticed that ```phantomjs-prebuilt``` is a dependency of ```screenshot-stream``` which is a dependency of ```pageres```. That module is used by the API for exporting the user avatar. So PhantomJS is going to be installed even if it isn't used for client testing. Does that help?

Also, there's an off chance you're dealing with cached layers in your Docker build. You might try cleaning up

[2017-12-05 12:43] shanaqui commented on #9619
@lemoness @alys Agreed, we badly need the ability to PM the owner, and seeing the guild is also helpful. I think we need to have those done first and as soon as we can.

[2017-12-05 13:00] kartikadur commented on #9650
I'd like to help, my email is kartikadur@gmail.com

[2017-12-05 13:06] kartikadur commented on #9351
I'd like to work on this issue if its still available.

[2017-12-05 13:12] TheHollidayInn commented on #9351
Go for it :D

[2017-12-05 13:29] kartikadur commented on #9351
thanks, is there anything I should know before or while working on this issue?

[2017-12-05 15:11] TheHollidayInn commented on #9650
Thank you!

[2017-12-05 15:15] TheHollidayInn commented on #9351
The main logic is here: https://github.com/HabitRPG/habitica/blob/develop/website/client/mixins/spells.js#L33

So, either the party store is not being updated or the header is not reacting to changes correctly.

[2017-12-05 15:57] #9620 closed, assigned to nobody

[2017-12-05 16:08] Feywood commented on #9248
Oh, can I do it?

[2017-12-05 16:10] shanaqui commented on #9248
Am I a pushy wife? Yes I am a pushy wife. Cannot code myself, so I set Lisa on everything I want fixed. 😈

[2017-12-05 16:20] Alys commented on #8116
In the [Guild Leaders & Challenge Creators](https://habitica.com/groups/guild/0393624e-65f0-40c1-8e87-360955fcebca) guild, Azuran ( 242241ad-cbf2-4f1d-8549-ed1f24a3476b ) writes:

**I think I may have found the problem... I think that the tasks don't clone onto the new Challenge when I don't let the page load entirely before clicking the "clone" button.**

@TheHollidayInn does that sound plausible

[2017-12-05 16:20] TheHollidayInn commented on #8443
There is a client side issue for this. I believe the issue is from the client as testing this from the api works.

[2017-12-05 16:20] #8443 closed, assigned to nobody

[2017-12-05 16:28] Alys commented on #9248
@hydeenoble No worries at all, thanks for telling us!

@Feywood All yours, thanks! :)

[2017-12-05 16:28] paglias commented on #9650
Is this new font only used in the home / static pages? In that case we should try not to load it in the app if possible

[2017-12-05 16:41] cailinglu commented on #9561
I'd like to give this a try, if it's alright :)

[2017-12-05 16:47] lemoness commented on #9618
@kartikadur Thank you very much! Let us know if you have any questions.

I've updated the labels on this ticket.

[2017-12-05 16:48] lemoness commented on #9582
@kartikadur Thank you very much! Let us know if you have any questions.

I've updated the labels on this ticket.

[2017-12-05 16:57] Tressley commented on #9650
@paglias -- Yes. This is only for use on the Static pages. I agree on not loading in the app to reduce load times.

[2017-12-05 17:05] lemoness commented on #9356
Attn: @tressley

On Mon, Dec 4, 2017 at 5:01 PM, Alys <notifications@github.com> wrote:

[2017-12-05 17:07] lemoness commented on #9629
The spacing question is something for @Tressley to answer!

[2017-12-05 17:26] lemoness commented on #9619
Yes, I'm happy to segment this into two tickets!

On Tue, Dec 5, 2017 at 7:43 AM, shanaqui <notifications@github.com> wrote:

[2017-12-05 17:28] Alys opened #9670 "changing guild leader gives no immediate feedback"
When you change a guild leader using the "Member List" feature, there's no feedback that the leader change has been successful (e.g., a notification saying "leader has been changed").

Also when you close the menu list, the original guild leader name has been removed from the guild (which is correct) but the new guild leader's name doesn't appear there until you reload the page (it should appear i

[2017-12-05 17:33] TheHollidayInn commented on #9561
Thanks!

[2017-12-05 17:34] lemoness commented on #9638
@matchajune This may be related to this problem, since there shouldn't be "pages" at all: https://github.com/HabitRPG/habitica/issues/9366  So you may want to look at both of them at once.

[2017-12-05 17:35] matchajune commented on #9638
@lemoness I'll grab the other and will do. Thank you!

[2017-12-05 17:36] matchajune commented on #9366
I will take this one as [#9638](https://github.com/HabitRPG/habitica/issues/9638#issuecomment-349195604) is related.

[2017-12-05 17:36] lemoness commented on #9366
Thank you! I've updated the labels on this ticket.

[2017-12-05 18:00] Alys commented on #9670
I've renamed this from "can't change guild leader" to "changing guild leader gives no immediate feedback" and I've edited the top post to say this:

When you change a guild leader using the "Member List" feature, there's no feedback that the leader change has been successful (e.g., a notification saying "leader has been changed").

Also when you close the menu list, the original guild leader name

[2017-12-05 18:46] Alys commented on #9432
This should be fixed by the PR(s) linked above. If not, we'll just reopen the darn thing again. The bug that will not die.

[2017-12-05 18:46] #9432 closed, assigned to nobody

[2017-12-05 18:55] Alys opened #9672 "add Start Dates and End Dates to challenges"
As mentioned in https://github.com/HabitRPG/habitica/issues/9619 (see the screenshots and some of the comments), challenges are going to have Start Dates and End Dates. This is a placeholder issue that will be updated once the designs are finished and we have more details about how the dates will work - e.g., whether they are optional or mandatory; whether they are they display-only fields that th

[2017-12-05 18:56] Alys commented on #9619
I've taken this issue off hold, logged https://github.com/HabitRPG/habitica/issues/9672 for adding start and end dates and I've updated the top post to add this message at the top:

_edit by Alys: ignore the "Ends ..." text in the screenshots below and also ignore the comments below that discuss End Date and Start Date. Those new features will be added in #9672._

[2017-12-05 19:28] Alys commented on #9651
Thanks @JustinHurt! It's yours. Comment here if you have questions.

@mandyzhou made a good point. It's important that each row of pets doesn't wrap to a new line on browser windows set to a reasonable width. My personal feeling is that as a rough guild, if you're using a browser full screen on a 13in laptop, the rows should not wrap. I think it's acceptable to wrap on very small window/screen wid

[2017-12-05 19:32] TheHollidayInn commented on #9650
Do we use css imports for this? If so, can we just import from google font on the home page scoped css?

[2017-12-05 19:44] locked31 opened #9675 "Internet Explorer Support"
[//]: # (Before logging this issue, please post to the Report a Bug guild from the Habitica website's Help menu. Most bugs can be handled quickly there. If a GitHub issue is needed, you will be advised of that by a moderator or staff member -- a player with a dark blue or purple name. It is recommended that you don't create a new issue unless advised to.)

[//]: # (Bugs in the mobile apps can also

[2017-12-05 19:55] #8782 closed, assigned to nobody

[2017-12-05 19:58] #9071 closed, assigned to nobody

[2017-12-05 20:02] #9534 closed, assigned to nobody

[2017-12-05 20:05] #9380 closed, assigned to nobody

[2017-12-05 20:06] #9364 closed, assigned to nobody

[2017-12-05 20:09] #9382 closed, assigned to negue

[2017-12-05 20:09] #9485 closed, assigned to negue

[2017-12-05 20:09] #9492 closed, assigned to negue

[2017-12-05 20:09] #9497 closed, assigned to negue

[2017-12-05 20:09] #9522 closed, assigned to negue

[2017-12-05 20:10] #8874 closed, assigned to nobody

[2017-12-05 20:11] #9495 closed, assigned to nobody

[2017-12-05 20:13] #9513 closed, assigned to nobody

[2017-12-05 20:41] Tressley commented on #9392
Icon attached.
[broken-megaphone.svg.zip](https://github.com/HabitRPG/habitica/files/1532837/broken-megaphone.svg.zip)

[2017-12-05 21:01] #9626 closed, assigned to nobody

[2017-12-05 21:42] Alys commented on #9455
@TheHollidayInn is working on this.

![img_20171205_164515839](https://user-images.githubusercontent.com/1495809/33632753-a69105a0-d9dc-11e7-81b9-59795103aa8c.jpg)

[2017-12-05 22:56] SabreCat commented on #9490
We roughly doubled the duration recently--still an issue, @Marrepower @joedragons ?

[2017-12-05 22:58] SabreCat commented on #8540
Yeah, it's still a bit unfortunate that you can't put the Challenge in a "draft" state with multiple pending task edits, but the UI is no longer misleading in the way it was before.

[2017-12-05 22:58] #8540 closed, assigned to nobody

[2017-12-05 23:54] joedragons commented on #9490
I've been fine with the speed for a while (since my last comment).  Maybe re-ask @mandyzhou ?

[2017-12-06 01:53] Alys opened #9678 "snackbar notifications should not cover the navigation / menu bar"
The snackbar notifications that appear at the top right corner of the website and then disappear after a few seconds should never cover the menu bar. They should start appearing just under the menu bar.

This is has been created for jostein s to work on this fix, based on their comment on this Trello card: https://trello.com/c/684Dv1py/320-in-game-notifications-quiet-notifications-bell-click-to-vi

[2017-12-06 04:08] mandyzhou commented on #9490
I think the duration works well! I still like the idea of consolidating some of the notifications a la the app, since the sheer number of notifications can get overwhelming, but that's more of a wish list item than a necessity.

[2017-12-06 04:20] joedragons commented on #9490
#agree.  The website is the same.  I need to use the trello more for
requesting things=)

On 12/5/17, Mandy <notifications@github.com> wrote:

[2017-12-06 11:27] Marrepower commented on #9490
@SabreCat I still think its too fast, but I'm also pretty new to the game so I never had the overwhelming numbers of notifications.
Also there is an anoying News anouncement Popup every time I check something witch I first need to click away to see the gold gain.

[2017-12-06 13:07] joedragons commented on #9490
@Marrepower FYI, unless your behavior is different than mine, if you click dismiss (at the bottom of the popout) as opposed to away from the popout, it should no longer appear.  I believe I reported this (either bug or feedback) but I have a feeling it's intentional.

[2017-12-06 13:09] Alys opened #9680 "Dailies from challenges do not have `isDue` set correctly on the day you join"
When you join a challenge that has a Daily that is due on the day that you join, the website correctly shows the Daily as due immediately, but the Android app (and I'm _guessing_ the iOS app) show the Daily as not due. This is because the Daily's `isDue` field has not been set to `true` (the website does not use that field to determine whether to show Dailies as due or not; it performs its own cal

[2017-12-06 13:10] Alys commented on #9680
labels updated

[2017-12-06 13:31] luanmuniz commented on #9043
@paglias Here is what happen:

If i run `npm start` and `npm run client:dev`, there is no `dist-client` folder. So when i access `localhost:3000` to access the website, i receive a message

[code]

If i run `npm run client:build` the `dist-client` folder will be created and i can access the website. But then i need to run `client:build` everytime i made a modification

Even after i have the `dist-

[2017-12-06 13:34] paglias commented on #9043
When running npm run client:dev the site is accessible at localhost:8080 not at localhost:3000

[2017-12-06 13:38] paglias commented on #9043
@SabreCat @TheHollidayInn @Alys do you know anything about 8080 not being available on Vagrant?

[2017-12-06 15:25] Alys commented on #9043
It looks like https://github.com/HabitRPG/habitica/blob/develop/vagrant_scripts/vagrant.sh hasn't been updated for the new method of starting the local servers.

[2017-12-06 15:28] Alys commented on #9407
See another report of this at https://github.com/HabitRPG/habitica/issues/9675

[2017-12-06 15:29] Alys commented on #9675
Thanks @locked31 ! We have this reported at https://github.com/HabitRPG/habitica/issues/9407 so I'm closing this issue but I've copied a link to it from that one. If you'd like to subscribe to notifications whenever it's updated, click the subscribe button in the right-hand column of that issue.

[2017-12-06 15:29] #9675 closed, assigned to nobody

[2017-12-06 15:35] Alys commented on #9541
This part might still happen, based on reports from users. It's really hard to tell though.
_"... it's possible for you to mark your Dailies complete (really complete with no sync errors) but then the next day you see the RYA screen with those Dailies appearing in it as if they weren't completed..."_

However that's not the main point of this issue, and I can't replicate this issue now by faking i

[2017-12-06 15:35] #9541 closed, assigned to nobody

[2017-12-06 15:50] #9527 closed, assigned to nobody

[2017-12-06 17:00] Alys commented on #8116
For the record, we've decided we're going to move the cloning feature to the API, which will fix this issue.

[2017-12-06 17:05] josteins1 commented on #9678
Know some coding, never used github, but i'll give it a shot!

[2017-12-06 17:37] josteins1 commented on #9678
@Alys
Ok, so the
**./website/client/components/snackbars/notifications.vue**
height (today at 10px) need to be higher than the main navbar height (today at 56px)
**// ./website/client/components/header/menu.vue**
Some testing on the sourcecode on the webpage shows that an increase from 10px to 65 px leaves a nice result. However, I need access to [this tree](https://github.com/HabitRPG/habitica/bl

[2017-12-06 18:03] josteins1 commented on #9678
Cool. When should the commit come into effect on the website?

[2017-12-06 18:09] Alys opened #9682 "Equipment name sorting should be alphabetical, not reverse alphabetical"
When Equipment in your Inventory is sorted by "Name" the sort is reverse alphabetical.
It should be alphabetical (not reverse).

When this is changed, it should NOT change the sort order when you're sorting by attribute (CON, etc). That sort order should have the items with the highest stats at the front.

[2017-12-06 18:36] veeeeeee opened #9683 ""Tell Me Later" Button not displaying correctly"
On Chrome:

![image](https://user-images.githubusercontent.com/5608909/33673258-4b5971e2-da7a-11e7-9255-cc628f382f96.png)

[2017-12-06 20:10] josteins1 commented on #9678
Oops, still need to change the z value on snackbar to lower than the dropdown menues on header (notifications), sorry about this messy process..

[2017-12-06 20:19] lemoness commented on #9490
Yes, you need to click the "Dismiss" button, or it assumes that you haven't seen it yet! That's intentional, but we have some improvements planned for the future for that and for notifications being more consolidated. However, those aren't related to this ticket, so I'm closing this now.

[2017-12-06 20:19] #9490 closed, assigned to nobody

[2017-12-06 20:21] josteins1 commented on #9678
That should be all. Please let me know if/when this is implemented

[2017-12-06 21:18] TheHollidayInn commented on #9678
Hey @josteins1! Thanks for working on this. You will need to open a pull request from your branch on to our repo. It looks like you have been creating PRs onto your own repo.

You may be able to create a PR from your develop to ours, but in general you will want to open a single PR with a branch on to our develop branch.

[2017-12-06 21:28] josteins1 commented on #9678
thanks for the response @TheHollidayInn To be honest, I'm not quite shure what im doing here and it's my first experience with github. Just to clarify, is it safe If I delete my repo, fork again, do the changes, commit and then PR? So I can clean up this messy process all together

[2017-12-06 21:35] Alys commented on #9341
I'm closing this. I believe it has been fixed. I can't replicate it in many tests. We can reopen if it happens again.

[2017-12-06 21:35] #9341 closed, assigned to Alys

[2017-12-06 22:21] Alys commented on #9678
@josteins1 See [Setting up Habitica Locally](http://habitica.wikia.com/wiki/Setting_up_Habitica_Locally)
 and [Using Your Local Install to Modify Habitica's Website and API](http://habitica.wikia.com/wiki/Using_Your_Local_Install_to_Modify_Habitica's_Website_and_API) for information about developing fixes for Habitica and submitting PRs.

[2017-12-06 22:36] josteins1 commented on #9678
Not what I asked (this happen alot on Habiticas contributing end, is it an american thing? Don't try to be mean, it's just unusual to me), anyways here's the PR.

[2017-12-06 22:48] TheHollidayInn commented on #9678
You shouldn't need to delete, but it looks like you opened the PR correctly! Thanks :D We will review it.

[2017-12-06 22:49] Alys commented on #9678
@josteins1 The wiki page [Using Your Local Install to Modify Habitica's Website and API](http://habitica.wikia.com/wiki/Using_Your_Local_Install_to_Modify_Habitica's_Website_and_API) has a section called "Submitting your Change for Review in a Pull Request" that takes you step by step through the process for creating a pull request, so that's why I linked you to it when you were asking how to do t

[2017-12-06 23:14] josteins1 commented on #9678
@Alys Oh I see, my bad. Photo added. I never worked offline, I simply tested by changing the code directly in chrome browser, but managed to snag a photo of that and edit it in the PR

[2017-12-07 01:25] TheHollidayInn commented on #9435
Do we have any more reports of this? If not, we should probably close this and try the start date fix, because that error would definitely cause this issue.

[2017-12-07 01:27] Alys commented on #3381
I and the other mods don't recall seeing questions about this for a while so I'm closing this. We can reopen it if needed.

[2017-12-07 01:27] #3381 closed, assigned to nobody

[2017-12-07 01:40] Alys commented on #9435
I'm pretty sure now this is the same as #9200 so I'm closing this as a dupllicate.

If it turns out to be different, that will be easier to identify when 9200 is fixed.

[2017-12-07 01:40] #9435 closed, assigned to nobody

[2017-12-07 01:47] Alys commented on #2523
After discussion with Lemoness, I'm closing this. It's more of a feature request than a bug report, and while we might want this done in future, it's not ready to be worked on at the moment. It can be reopened when appropriate.

[2017-12-07 01:47] #2523 closed, assigned to nobody

[2017-12-07 01:54] Alys commented on #2724
Oauth is already in progress by staff. We don't want login name and password in the API because it's a security risk. Hence I'm closing this issue.

[2017-12-07 01:54] #2724 closed, assigned to nobody

[2017-12-07 01:58] Alys commented on #3693
We didn't see any complaints about this in the most recent World Boss and it doesn't make a great deal of difference to the results and I personally no longer care about it :) so I'm closing this.

[2017-12-07 01:58] #3693 closed, assigned to nobody

[2017-12-07 02:07] fergatron opened #9689 "Party members can't contribute to quest progression"
### General info

* UUID: aded2505-59b8-4a98-a16c-8c574829cc4c
* Browser: Chromium / Chrome
* OS: Fedora 27 / Windows 10

### Description

I'm having a problem with my active party members and quests. For some odd reason only one person is able to contribute to the progress of the active quest. No matter how many tasks other members complete nothing is contributed to completing the quest. I've tri

[2017-12-07 02:08] Alys commented on #2650
This is being redesigned by the staff in an internal project so I'm closing it.

[2017-12-07 02:08] #2650 closed, assigned to nobody

[2017-12-07 02:13] Alys commented on #2433
@TheHollidayInn is working on this

[2017-12-07 03:02] cassidypignatello commented on #9682
I can take this one if it's all right!

[2017-12-07 03:57] Alys commented on #3810
The task progress graphs have been removed in the website redesign and will be replaced in future with something better so I'm closing this issue. We can still refer back to it when needed.

[2017-12-07 03:57] #3810 closed, assigned to nobody

[2017-12-07 04:01] Alys commented on #4237
This is more of a feature request than a bug, and the items needed for collection quests have been dramatically reduced since this was logged, so I'm closing this. We can still refer back to it when needed.

[2017-12-07 04:01] #4237 closed, assigned to nobody

[2017-12-07 04:04] Alys commented on #4819
I'm going to have a go at implementing my idea from https://github.com/HabitRPG/habitica/pull/8818#issuecomment-318834481 to see if it helps. I'm marking this as in progress for me.

[2017-12-07 04:07] Alys commented on #5057
We've decided to go in a different direction with this. Closing

[2017-12-07 04:07] #5057 closed, assigned to nobody

[2017-12-07 04:09] Alys commented on #2771
Lemoness has asked that this be closed for now. While we might revisit this in future, it doesn't make sense to have it here in our list of bugs and active approved features.

[2017-12-07 04:09] #2771 closed, assigned to nobody

[2017-12-07 04:11] Alys commented on #4753
We're planning improvements to the current quest begin/cancel/abort/leave/etc interface so I'm closing this for now but we might consider some of these points later.

[2017-12-07 04:11] #4753 closed, assigned to nobody

[2017-12-07 04:16] Alys commented on #4712
I'm closing this because it's a feature request that would involve a lot of rework in the back-end and it's not something that fits into Habitica's direction at the moment. However it could be requested on Trello if desired (Help > Request a Feature from the habitica.com website's menu). @jeffgreenca With this being closed, the money in bounty source should be returned to you automatically but ple

[2017-12-07 04:16] #4712 closed, assigned to nobody

[2017-12-07 04:17] Alys commented on #4628
I'm closing this because it's more of a feature request than a bug and is not something that fits into Habitica's direction at the moment. However it could be requested on Trello if desired (Help > Request a Feature from the habitica.com website's menu).

[2017-12-07 04:17] #4628 closed, assigned to nobody

[2017-12-07 04:21] Alys commented on #4091
I'm closing this because it's a feature request that doesn't fit into Habitica's direction at the moment. However it could be requested on Trello if desired (Help > Request a Feature from the habitica.com website's menu). @evanelric  With this being closed, the money in bounty source should be returned to you automatically but please contact bountysource if there are any problems with that.

There

[2017-12-07 04:21] #4091 closed, assigned to nobody

[2017-12-07 04:24] Alys commented on #3909
There is code for connecting accounts both ways. It's a bit buggy at the moment, especially for google login, but we have that recorded in bug reports elsewhere so I'm closing this.

[2017-12-07 04:24] #3909 closed, assigned to nobody

[2017-12-07 04:25] Alys commented on #3750
Google login is done. The other items are features requests so they can be requested on Trello if still desired (Help > Request a Feature from the habitica.com website's menu).

@fragmental With this being closed, the money in bounty source should be returned to you automatically but please contact bountysource if there are any problems with that.

[2017-12-07 04:25] #3750 closed, assigned to nobody

[2017-12-07 04:27] TheHollidayInn commented on #9682
Go for it :D

[2017-12-07 04:29] Alys commented on #5223
There's no longer share buttons on the avatars so I'm closing this.

[2017-12-07 04:29] #5223 closed, assigned to nobody

[2017-12-07 04:32] Alys commented on #5524
Task history/progress graphs have been removed and will be replaced by a better feature in future so I'm closing this.

[2017-12-07 04:32] #5524 closed, assigned to nobody

[2017-12-07 04:35] Alys commented on #5368
I'm closing this because it's a request for third-party developers rather than a bug report for Habitica.

In the footer of the website (exept on the Tasks page) is a link to wiki's "Add-ons & Extensions" page, which lists third-party tools that use the API to create features like this. Also the Aspiring Coders guild exists for third-party developers so you could ask there for a dev to create a to

[2017-12-07 04:35] #5368 closed, assigned to nobody

[2017-12-07 04:35] Alys commented on #5309
I haven't seen this reported for a while so I'm closing this. It can be reopened if we see more reports of it.

[2017-12-07 04:35] #5309 closed, assigned to nobody

[2017-12-07 04:37] Alys commented on #5167
I'm closing this because we're focussing on bugs in GitHub these days but it can be reopened when we're ready to work on it.

[2017-12-07 04:37] #5167 closed, assigned to nobody

[2017-12-07 04:41] Alys commented on #5560
Party leaders are able to abort quests now, as well as quest owners, so there's less chance of a quest being stuck. The ideas listed here a good but more complex than possible for a quick fix, and while the website is being improved and expanded in various ways, it's probably best to avoid complex additions that aren't essential. I'm closing this but we can still refer back to it when needed.

[2017-12-07 04:41] #5560 closed, assigned to nobody

[2017-12-07 04:43] Alys commented on #5696
To-Do values are currently rising as intended and the progress graphs have been removed (they'll be replaced by a better feature at some future time) so I'm closing this.

[2017-12-07 04:43] #5696 closed, assigned to nobody

[2017-12-07 04:44] lemoness commented on #4218
We're still open to this in the future, but requests for this have hugely decreased since we've begun to moderate the community more heavily. I'm going to close it for now, but we can always reopen it if we decide that it's something we want to actively pursue.

[2017-12-07 04:44] #4218 closed, assigned to nobody

[2017-12-07 04:45] lemoness commented on #5768
This is no longer a feature that we're actively pursuing, so I'm closing this for now.

[2017-12-07 04:45] #5768 closed, assigned to nobody

[2017-12-07 04:47] Alys commented on #6078
I'm not sure this is still needed so I'm tentatively closing it, but feel free to reopen if I'm wrong.

[2017-12-07 04:47] #6078 closed, assigned to nobody

[2017-12-07 04:48] lemoness commented on #5924
This isn't a current need, so I'm closing this for now. We can always reopen if necessary.

[2017-12-07 04:48] #5924 closed, assigned to nobody

[2017-12-07 04:50] Alys commented on #6331
Our code has changed since this was logged and randomness is handled differently now so I'm closing this.

[2017-12-07 04:50] #6331 closed, assigned to nobody

[2017-12-07 04:51] Alys commented on #6291
This would be nice to have but it's more of a feature request so I'm closing it. However if a contributor wants to work on this, please comment here and we'll reopen it.

[2017-12-07 04:51] #6291 closed, assigned to nobody

[2017-12-07 04:54] Alys commented on #7178
@TheHollidayInn is making this kind of fix part of his regular routine so I'm closing this.

[2017-12-07 04:54] #7178 closed, assigned to nobody

[2017-12-07 04:54] Alys commented on #7125
The've been rebranded as Standard.

[2017-12-07 04:54] #7125 closed, assigned to nobody

[2017-12-07 04:56] Alys commented on #7123
I'd like to see this implemented using the old `leaderMessage` field, which could be used exactly as on the old site but formatted so that it looks like a chat post fixed to the top of the chat area. That would be significantly easier to code than trying to display an actual chat message out of its natural order.

[2017-12-07 04:58] Alys commented on #6480
I'm closing this because these days we're using GitHub for bug reports but there's some great information here.  It's probably best handled by copying it to a wiki page and developing improved processes from there.

[2017-12-07 04:58] #6480 closed, assigned to nobody

[2017-12-07 04:58] lemoness commented on #9314
Is this still happening?

[2017-12-07 05:04] lemoness commented on #9214
@LunarGem - Hi there! How is this fix going?

[2017-12-07 05:05] Alys commented on #7670
I haven't seen this reported for a long time. Closing.

[2017-12-07 05:05] #7670 closed, assigned to nobody

[2017-12-07 05:06] lemoness commented on #9213
@LulaV14 - Hi there! How is this fix going?

[2017-12-07 05:07] lemoness commented on #9211
@shivasheeshyadav Hi there! Just checking in -- how is this fix going?

[2017-12-07 05:07] Alys commented on #7643
We have a new strategy now of not translating error messages that are not shown to the user so I'm closing this.

[2017-12-07 05:07] #7643 closed, assigned to nobody

[2017-12-07 05:08] lemoness commented on #9205
This has been fixed!

It's a lovely image though <3

[2017-12-07 05:08] #9205 closed, assigned to nobody

[2017-12-07 05:09] Alys commented on #7617
@TheHollidayInn is looking into this along with related problems.

[2017-12-07 05:09] lemoness commented on #9192
@ganes1410 Hi there! Just checking in -- how is this fix going?

[2017-12-07 05:12] lemoness commented on #9150
Has this been fixed?

[2017-12-07 05:13] Alys commented on #7769
Since no one has reported this as still happening in the new website, I'm closing it but we can reopen if needed.

[2017-12-07 05:13] #7769 closed, assigned to nobody

[2017-12-07 05:14] lemoness commented on #6841
This isn't currently a need for this, so I'm closing this for now.

[2017-12-07 05:14] #6841 closed, assigned to nobody

[2017-12-07 05:16] Alys commented on #7727
We've identified that this happens due to problems that cause cron to fail part way through, such as tasks with large history arrays / VersionErrors. @TheHollidayInn is working on concurrency fixes that should help.

[2017-12-07 05:16] #7727 closed, assigned to nobody

[2017-12-07 05:16] lemoness commented on #6685
These strings are slated to be separately reviewed and changed, so I'm closing this ticket for now.

[2017-12-07 05:16] #6685 closed, assigned to nobody

[2017-12-07 05:16] Alys commented on #9068
@TheHollidayInn is working on concurrency fixes that should help with this.

[2017-12-07 05:16] #9068 closed, assigned to nobody

[2017-12-07 05:17] Alys commented on #7817
I haven't seen this reported for a long time so I'm closing this.

[2017-12-07 05:17] #7817 closed, assigned to nobody

[2017-12-07 05:18] librarianmage commented on #7123
@Alys Perhaps it should be an array? Then multiple messages can be stickied.
On Wed, Dec 6, 2017 at 10:56 PM Alys <notifications@github.com> wrote:

[2017-12-07 05:18] lemoness commented on #7137
This is on our internal list, but doesn't need to stay open as a GH ticket, because we use that more for bugs + things that require coding, so I'm closing this for now.

[2017-12-07 05:18] #7137 closed, assigned to veeeeeee

[2017-12-07 05:21] Alys commented on #7841
The website's code has been changed since this was logged so the code for Rebirth is different now and I'm closing this.

[2017-12-07 05:21] #7841 closed, assigned to Alys

[2017-12-07 05:22] lemoness commented on #9015
@paglias Has this been done?

[2017-12-07 05:26] Alys commented on #7851
@TheHollidayInn is working on concurrency fixes that should help with this and other issues so I'm closing this.

[2017-12-07 05:26] #7851 closed, assigned to nobody

[2017-12-07 05:26] Alys commented on #7854
Names and descriptions of these items are no longer shown on the new website. :(

I'm closing this since translations are no longer relevant.

[2017-12-07 05:26] #7854 closed, assigned to nobody

[2017-12-07 05:27] TheHollidayInn commented on #7830
@SabreCat are and will discuss this further offline since it deals with devops and not the code base. My experience with Let's Encrypt has been great so far and we will probably move in that direction.

[2017-12-07 05:27] #7830 closed, assigned to nobody

[2017-12-07 05:31] Alys commented on #9276
related: https://github.com/HabitRPG/habitica/issues/8039

[2017-12-07 05:31] Alys commented on #8039
related: https://github.com/HabitRPG/habitica/issues/9276

[2017-12-07 05:31] lemoness commented on #9146
@paglias Is this still an issue?

[2017-12-07 05:32] Alys commented on #7908
I haven't seen this reported for a while so I'm closing this.

[2017-12-07 05:32] #7908 closed, assigned to TheHollidayInn

[2017-12-07 05:33] Alys commented on #7909
We've identified that this happens due to problems that cause cron to fail part way through, such as tasks with large history arrays / VersionErrors. @TheHollidayInn is working on concurrency fixes that should help.

[2017-12-07 05:33] #7909 closed, assigned to Alys

[2017-12-07 05:34] TheHollidayInn commented on #9146
Yes, it is here: https://github.com/HabitRPG/habitica/blob/35b92f13a31c7eadd24219419f8da9a407c499f7/website/common/script/index.js#L231

[2017-12-07 05:35] lemoness commented on #8970
We don't currently display this, but can reopen if it becomes necessary.

[2017-12-07 05:35] #8970 closed, assigned to nobody

[2017-12-07 05:37] Alys commented on #8946
I'm not sure this is still happening so I'm closing this.

[2017-12-07 05:37] #8946 closed, assigned to nobody

[2017-12-07 05:39] lemoness commented on #8936
Is this still happening to people?

[2017-12-07 05:39] Alys commented on #8944
After talking with @TheHollidayInn about cron time zone issues I'm more certain this is an example of #9415 so I'm closing this in favour of that issue.

[2017-12-07 05:39] #8944 closed, assigned to nobody

[2017-12-07 05:42] Alys commented on #8922
I'll look into this.

[2017-12-07 05:44] lemoness commented on #8878
Is this issue still in progress?

[2017-12-07 05:45] lemoness commented on #8863
@SabreCat Is this still an issue?

[2017-12-07 05:46] Alys commented on #8127
This also happens if a user is sent a URL such as https://habitica.com/user/settings/subscription and clicks on it when they're not already logged in. The redirection URL causes Google Login to fail. Because we send URLs like that to users who are asking how to cancel their subscription (often when the user is also asking for a refund), it's a bit of a sensitive case. I'm increasing the priority t

[2017-12-07 05:47] lemoness commented on #8838
This is not currently relevant because we don't display those in the new site, so we're closing this for now, but we can always reopen it in the future.

[2017-12-07 05:47] #8838 closed, assigned to nobody

[2017-12-07 05:47] librarianmage commented on #8127
@Alys Do you mean the actual site, or the staging one?
On Wed, Dec 6, 2017 at 11:46 PM Alys <notifications@github.com> wrote:

[2017-12-07 05:52] Alys commented on #8828
This is the same situation reported in https://github.com/HabitRPG/habitica/issues/9415 and @TheHollidayInn  is working on it so I'm closing this one.

[2017-12-07 05:52] #8828 closed, assigned to nobody

[2017-12-07 05:53] lemoness commented on #8794
Note that this will need to be discussed with @Tressley because it will have design implications.

[2017-12-07 05:54] lemoness commented on #8793
@kvsm - Hi there! Just checking in -- what's the status of this fix?

[2017-12-07 05:55] Alys commented on #8834
@alexanderqchen I'm really sorry we never replied to this. :(  Are you still interested in working on it? If so comment here and I'll give you information about how to set up a group plan locally.

[2017-12-07 05:55] lemoness commented on #8790
@kvsm - Hi there! Just checking in -- what's the status of this fix?

[2017-12-07 06:02] lemoness commented on #8462
The correct order of operations should be:

1) The player dies, loses a level, and loses all their current gold.
2) The player receives the benefits for the quest, including XP and gold, and gets to keep those going forward.

[2017-12-07 06:03] Alys commented on #8762
@TheHollidayInn is working on concurrency fixes that should help with this and several other similar issues so I'm closing this one.

[2017-12-07 06:03] #8762 closed, assigned to nobody

[2017-12-07 06:05] Alys commented on #8743
We are working on this in https://github.com/HabitRPG/habitica/issues/8127 so I'm closing this issue.

[2017-12-07 06:05] #8743 closed, assigned to nobody

[2017-12-07 06:06] Alys commented on #8127
Whoops. *cough* Nothing to see here. Thanks MathWhiz. :yellow_heart:

[2017-12-07 06:06] lemoness commented on #8781
This may be resolved by some of our concurrency fixes before we get these buttons back, so I'm closing this for now. We can always reopen if necessary.

[2017-12-07 06:06] #8781 closed, assigned to nobody

[2017-12-07 06:07] lemoness commented on #8757
Is this still an issue, and if so, is the fix still in progress?

[2017-12-07 06:08] lemoness commented on #8801
Is this still an issue?

[2017-12-07 06:09] lemoness commented on #8618
@savoie - Hi there! Just checking in -- what's the status of this?

[2017-12-07 06:10] lemoness commented on #8619
@LunarGem - Hi there! Just checking in -- what's the status of this?

[2017-12-07 06:11] lemoness commented on #8620
@LunarGem - Hi there! Just checking in -- what's the status of this?

[2017-12-07 06:12] librarianmage commented on #8127
No problem ;)
On Thu, Dec 7, 2017 at 12:06 AM Alys <notifications@github.com> wrote:

[2017-12-07 06:12] lemoness commented on #8621
Yes, this happens when you create/edit a task!

[2017-12-07 06:14] lemoness commented on #8621
Note, though, that creating a task and then editing that same task does not count. They should count separate instances only.

[2017-12-07 06:16] lemoness commented on #8663
@MathWhiz Sorry that you never got responses on this! They should all be separate badges, not replacing each other (like Beast Master, Mount Master, and Triad Bingo).

By "disabled icon" do you mean the achievement with the question mark that indicates that it hasn't been earned yet?

[2017-12-07 06:18] librarianmage commented on #8663
That was my question, but now all unearned achievements have the ? icon.
On Thu, Dec 7, 2017 at 12:16 AM lemoness <notifications@github.com> wrote:

[2017-12-07 08:10] Lalaitha commented on #8936
I haven't had any issues with it for at least a month. :)

[2017-12-07 08:50] Audiotuete commented on #8878
It's solved as far as I know. But since I didn't make the pull request I really can't tell.

________________________________
Von: lemoness <notifications@github.com>
Gesendet: Donnerstag, 7. Dezember 2017 06:44
An: HabitRPG/habitica
Cc: Jan; Mention
Betreff: Re: [HabitRPG/habitica] gift subscriptions and gift gems can't be purchased through PayPal (#8878)

Is this issue still in progress?

—
You

[2017-12-07 11:23] dirtyreyes commented on #9314
I quit Habitica because of all the bugs and moved to Todoist.

On Wed, Dec 6, 2017 at 11:58 PM lemoness <notifications@github.com> wrote:

[2017-12-07 11:56] ganes1410 commented on #9192
i have one doubt.where do i get the image that needs to linked in the meta tag

[2017-12-07 12:17] Alys commented on #8878
The linked PR was merged so this should have autoclosed itself.

[2017-12-07 12:17] #8878 closed, assigned to nobody

[2017-12-07 12:26] Alys commented on #8936
Thanks @Lalaitha ! I haven't seen any reports of it either.

[2017-12-07 12:26] #8936 closed, assigned to nobody

[2017-12-07 12:32] Alys commented on #9150
When I zoom in using my browser's zoom feature, the website in its current state behaves well and the font size increases as expected. The navigation menu fails because the User Icon becomes inaccessible but @TheHollidayInn is fixing that in a separate piece of work. :heart:

[2017-12-07 12:32] #9150 closed, assigned to nobody

[2017-12-07 12:33] Alys commented on #9150
But if anyone is still experiencing this accessibility issue or any others we do want to hear about it! Commenting in the [Report a Bug](https://habitica.com/#/options/groups/guilds/a29da26b-37de-4a71-b0c6-48e72a900dac) guild might be the the best way to report it.

[2017-12-07 12:35] Alys commented on #7123
I'm not opposed to that, although I like the simplicity of one message field that the group leader can customise as they wish with markdown, which also has the benefit of already having support in the database and some of the code. :)

[2017-12-07 12:37] LunarGem commented on #9214
Haven't started it. Someone else can take this.

[2017-12-07 12:39] LunarGem commented on #8620
I've made enough progress on this that I'd like to keep it, but my dev computer threw a tantrum and I have to do reinstalls on all of my dev software. I'm also a high school senior attempting to graduate, so most of my energy is there (and coping with an LD) but over the break I'll probably make more progress. I've gotten to the part where I actually award the achievement, unfortunately, that's th

[2017-12-07 12:40] Alys commented on #9689
When you experience bugs, the best place to report them is the [Report a Bug](https://habitica.com/#/options/groups/guilds/a29da26b-37de-4a71-b0c6-48e72a900dac) guild. We use GitHub issues for problems that need code to be written. See the comments in the [new issue form](https://github.com/HabitRPG/habitica/issues/new) for more details.

In your party's current quest, the quest owner is the only

[2017-12-07 12:40] #9689 closed, assigned to nobody

[2017-12-07 12:42] Alys commented on #9214
@LunarGem Thanks for letting us know!

I've changed the label back to Help Wanted.

[2017-12-07 12:43] Alys commented on #8620
@LunarGem No worries, it's still yours. Good luck with your computer and exams! Post here if you have questions about awarding the achievement.

[2017-12-07 12:58] Alys commented on #8879
This is an example of a wider problem of mutiple updates not being applied correctly and @TheHollidayInn is working on concurrency fixes that should help with those issues so I'm closing this.

[2017-12-07 12:58] #8879 closed, assigned to nobody

[2017-12-07 12:59] Alys commented on #9059
This issue is open again for someone to work on it. @matchajune If you're still interested, comment here and we'll mark it as in progress for you. If you're busy now with other work, that's fine and then someone else can pick this up. :)

[2017-12-07 13:12] Alys opened #9690 "should redirect to Subscription page after creating subscription (PayPal and maybe others)"
When you create a new subscription using PayPal, after the purchase is made, you are redirected to the tasks page (https://habitica.com/ ). You should be redirected to the User Icon > Subscription page (https://habitica.com/user/settings/subscription ) so that you can confirm that the subscription now exists, and learn that that page is where you can view your subscription information.

This might

[2017-12-07 13:14] Alys commented on #8757
I'm testing this. I've created a PayPal subscription and will cancel it in PayPal, but from memory, there's something about PayPal that causes subscription cancellation to fail within the first 24 hours, so I'm going to wait a day before finishing the test (might actually end up being a couple of days because I'm travelling internationally tomorrow).

[2017-12-07 13:26] Alys commented on #8785
Confirmed fixed. Thanks @jpngfile !

[2017-12-07 13:26] #8785 closed, assigned to Alys

[2017-12-07 13:41] Alys opened #9691 "Group Plan tasks cannot be sorted in the Group's "Task Board" page"
It's not possible for the leader of a group with a Group Plan to sort the tasks in the group's own "Task Board" page (`https://habitica.com/group-plans/<group-id-goes-here>/task-information`).

You can drag the tasks to a new position and it seems to work (no error messages on the page or in the console) but when you reload the page, the tasks are back in their previous order.

This could be becau

[2017-12-07 13:41] Alys commented on #9691
labels updated

[2017-12-07 13:43] Alys commented on #8922
@ASMfreaK Thank you for finding this problem! And thanks @MathWhiz for the handy link to the code. :)

I've tested sorting in group plans and it's broken, so I think @ASMfreaK might be right that the code in this function is wrong, as well as / instead of the docs. I've logged https://github.com/HabitRPG/habitica/issues/9691 to get that fixed and I've written in the issue that the fix must fix the

[2017-12-07 13:43] #8922 closed, assigned to Alys

[2017-12-07 13:53] Alys commented on #9425
The current situation is that when you are viewing the "Task Board" page (https://habitica.com/group-plans/<group-id-goes-here>/task-information) in a group that has a Group Plan, if you click on the checkbox or plus/minus buttons or Reward coin, literally nothing happens (no error message, no change in the task, no feedback of any kind). This behaviour is technically correct ("The best kind of co

[2017-12-07 13:59] Alys commented on #8801
Fixed in the new website. When you try to use the scroll that you own by clicking on the scroll's "Invite Party to Quest" button, you see a red snackbar notification saying "You must be level 15 to begin this quest."

[2017-12-07 13:59] #8801 closed, assigned to nobody

[2017-12-07 14:33] TheHollidayInn commented on #9691
This is because we don't sort the task after loading them using the group's TasksOrder

[2017-12-07 14:36] TheHollidayInn commented on #9690
The issue is here: https://github.com/HabitRPG/habitica/blob/e4d006e5cdef1bac0b7704c2b9097b3250e0bc4b/website/server/controllers/top-level/payments/paypal.js#L65

[2017-12-07 14:38] TheHollidayInn commented on #7123
I'd like if we implemented separating out chat messages into their own model first. Then we can have a "sticked" field or maybe a sticky cache.

[2017-12-07 14:38] Alys commented on #9672
It would be REALLY nice if the end date could be used to make the challenge's Dailies not due once that date is reached (e.g., automatically set the Dailies' `everyX` to zero. A common complaint is that a challenge has ended but the challenge owner hasn't closed it yet, so the Dailies keep damaging the participants or giving them rewards they haven't earned.

Or Dailies could be given an `endDate`

[2017-12-07 14:40] Alys commented on #9672
Or Dailies could be given an `endDate` field, which would be automatically populated from the challenge's end date at the time that the Dailies were created. A neater solution but requires changes to the Dailies code and schema too. It would also be useful for a player's own Dailies in some cases.

[2017-12-07 14:47] matchajune commented on #9059
I will take it!! Thank you so much!

On Thu, Dec 7, 2017 at 7:59 AM Alys <notifications@github.com> wrote:

[2017-12-07 15:05] Tressley commented on #9683
It looks like this button is referencing `.btn-default` a class that does not exist. Should be switched to `.btn-secondary`. We may want to do a search for `.btn-default` to cover our bases and ensure it isn't being used anywhere else.

[2017-12-07 16:19] Alys commented on #9514
@klezt I'm sorry no one replied to you. I'm not sure whether that's the best solution or not but I'll ask the other admins to look at this.

(FYI I've confirmed this bug is still happening today.)

[2017-12-07 16:27] TheHollidayInn commented on #9514
This.set does need to be awaited it seem. The function is async. However, it looks like the issue is the promise is not returned: https://github.com/HabitRPG/habitica/blob/develop/website/client/store/actions/user.js#L54

[2017-12-07 16:52] #8442 closed, assigned to nobody

[2017-12-07 18:21] Alys commented on #9059
Awesome, thanks @matchajune!

[2017-12-07 18:22] lemoness commented on #8834
Added labels!

[2017-12-07 18:27] lemoness commented on #8735
@Dagrik Hi there! Just checking in -- what's the status of this fix?

[2017-12-07 18:29] lemoness commented on #8718
@vIiRuS Is this still an issue?

[2017-12-07 18:29] alexanderqchen commented on #8834
@Alys Hi again! Don't worry about it! I've been really busy with classes anyways, but I will have free time in a couple weeks, so I'm still interested in working on this.

[2017-12-07 18:29] lemoness commented on #8695
Is this still happening?

[2017-12-07 18:33] Alys commented on #8931
Reports today from "Il Mago Grigio (test account 3)" (dd95201f-ac81-48c8-a28a-a8052e151b70) and Il Mago Azzurro (c073342f-4a65-4a13-9ffd-9e7fa5410d6b) (the same person):

_Il Mago Grigio (test account 3)_: "I have invited this account to my main account's party and then rescinded the invite a couple of times, but now this account has one invite in the notifications that shouldn't be there. There i

[2017-12-07 18:40] Alys commented on #8695
Both parts of this are fixed!

[2017-12-07 18:40] #8695 closed, assigned to nobody

[2017-12-07 18:43] lemoness commented on #8624
@cTheDragons Hi there! Is this still an issue?

[2017-12-07 18:56] Alys commented on #8672
This still happens although the loading screen looks different of course:

![image](http://imgur.com/PgsWhool.png)

I'd still like to see this improved in any way that allows the user to read the message about them being blocked after they've reloaded the site.

[2017-12-07 18:58] Alys commented on #8672
Labels updated although I'm not sure what section is best, and it might need design work. @lemoness

[2017-12-07 19:08] Alys opened #9693 "gems returned from a deleted challenge should appear in your balance immediately"
As reported in the Report a Bug guild by Il Mago Azzurro (c073342f-4a65-4a13-9ffd-9e7fa5410d6b):

"When deleting a challenge you have to reload to see gems returning, even syncing is not enough"

I found much the same thing except in my case syncing was enough to update the balance. (Maybe the sync didn't work for Il Mago Azzurro straight away because the server was being slow and was still proces

[2017-12-07 19:12] Alys commented on #8718
It does still happen. I've updated the labels.

[2017-12-07 19:35] majestic-owl448 opened #9694 "issues with the drop-down that appears when @mentioning an other user"
### General Info
  * UUID: c073342f-4a65-4a13-9ffd-9e7fa5410d6b
  * Browser: Google Chrome Versione 62.0.3202.94 (Build ufficiale) (a 64 bit)
  * OS: Windows 7

### Description
I wrote this in Report a Bug guild and Alys directed me here.
_The list of tags doesn't disappear if you are adding a second mention and then delete the @. And it doesnt appear if you are adding a mention before an other on

[2017-12-07 19:53] Alys commented on #9694
labels updated

[2017-12-07 20:09] lemoness commented on #8616
We don't have this right now, so I'm closing this ticket until we decide how to to handle sharing again.

[2017-12-07 20:09] #8616 closed, assigned to nobody

[2017-12-07 20:30] lemoness commented on #8607
This is a duplicate of our concurrency issues, so I'm closing this ticket for now!

[2017-12-07 20:30] #8607 closed, assigned to nobody

[2017-12-07 20:32] lemoness commented on #8590
@Moniarchy - Hi there! Just checking -- what's the status of this?

[2017-12-07 20:37] lemoness commented on #8612
This will be revisited in the future after some additional tutorial changes, but I'm closing it for now until we decide what angle to take.

[2017-12-07 20:37] #8612 closed, assigned to nobody

[2017-12-07 20:39] lemoness commented on #8501
We're internally fixing this bit by bit, so I'm closing this ticket.

[2017-12-07 20:39] #8501 closed, assigned to nobody

[2017-12-07 20:40] lemoness commented on #8478
We're revamping how the modals are presented, so I'm closing this ticket for now.

[2017-12-07 20:40] #8478 closed, assigned to nobody

[2017-12-07 23:00] JoshSears commented on #8735
@lemoness Just finishing right now and running thru tests.  Just finished final exams week.

[2017-12-07 23:00] Alys commented on #9500
In the Report a Bug guild, webbie ( 03117605-1b3f-4b42-a0e2-a57b135f6457 ) has confirmed this still occurs:

"i'm looking through the github cases and found #9500 which i could test in my opera: pinning (and un-pinning) a quest in the questshop still resets the filters. i tried with quest of all three sections, with one and two filters unchecked, with locked and unlocked quests ... it's the same a

[2017-12-08 01:19] Alys commented on #8834
@alexanderqchen  Thanks so much! When you're ready, to set up a group plan on a guild or party, see the "Creating Test Data" section in [Using Your Local Install to Modify Habitica%27s Website and API](http://habitica.wikia.com/wiki/Using_Your_Local_Install_to_Modify_Habitica%27s_Website_and_API). The information there about adding a group plan is new so if you have any problems with it, please te

[2017-12-08 01:41] JoshSears commented on #8735
Intend to have PR in tomorrow with suggested fixes.

[2017-12-08 03:00] Alys opened #9697 "Grand Gala / seasonal / special event purchasable items should be automatically locked outside their time periods"
_[These details might be a little wonky but we'll sort that out after a bit of investigation.]_

The items that are available to buy with gold or gems during [Grand Galas](http://habitica.wikia.com/wiki/Grand_Gala) or other special events (e.g., Valentine's day) are not supposed to be buyable outside the Gala's time period, however currently they are in some circumstances.

They have to be manuall

[2017-12-08 03:02] Alys commented on #8368
I'm going to do something to make this more actionable and/or actually action it.

[2017-12-08 03:10] Alys opened #9698 "prevent boss damage being cleared when a quest ends"
Currently, when a quest ends, `user.party.quest.progress.up` and `user.party.quest.progress.collectedItems` are set to zero for all party members.

This should no longer be done. Any quest progress that a player builds up should remain in their account until they go through cron.

This is partly to deal with https://github.com/HabitRPG/habitica/issues/3693 and partly to prevent players feeling unm

[2017-12-08 03:15] Alys commented on #3693
We were talking about this again today and have decided we will fix it with this simple fix: https://github.com/HabitRPG/habitica/issues/9698

[2017-12-08 03:18] Alys commented on #8505
I'm closing this in favour of https://github.com/HabitRPG/habitica/issues/9697 which is for a generic fix for a range of similar problems.

[2017-12-08 03:18] #8505 closed, assigned to nobody

[2017-12-08 03:18] Alys commented on #8379
I'm closing this in favour of https://github.com/HabitRPG/habitica/issues/9697 which is for a generic fix for a range of similar problems.

[2017-12-08 03:20] Alys commented on #9697
As pointed out in https://github.com/HabitRPG/habitica/issues/8379, it would be highly beneficial if the start and end dates for each of the limited-time items (including equipment) was made available in the Content data so that Comrades can easily show/hide the purchasable items at the appropriate times.

[2017-12-08 03:20] #8379 closed, assigned to nobody

[2017-12-08 03:22] klezt commented on #9514
@TheHollidayInn Not using await seems to solve the issue (I could not reproduce the bug after several tries)

[2017-12-08 03:31] Alys commented on #9698
I'll do this.

[2017-12-08 03:37] cTheDragons commented on #8624
I haven't tried it recently. My code now does everything serially which avoids it (though very slow). I could pull out old code and test if you wish.

[2017-12-08 03:54] Alys commented on #8405
This is still happening. Example:

curl -X POST -H "x-api-user: $HRPG_USER_USERID_HOME" -H "x-api-key: $HRPG_USER_APITOKEN_HOME" https://habitica.com/api/v3/tasks/user
-d "type=todo&text=TST&**date=bob**"

{"success":true,"data":{"userId":"d904bd62-da08-416b-a816-ba797c9ee265","text":"TST",
**"date":"bob",**
"updatedAt":"2017-12-08T03:43:03.486Z","createdAt":"2017-12-08T03:43:03.486Z","_id":"54ac4

[2017-12-08 16:03] Alys opened #9699 "problems switching Task column filters when Challenge tag (and other tag?) filters are in place"
_In the Report a Bug guild, AyrenneA (567b94b6-f829-4481-923b-2379b21eb41d) made these posts:_

I am unable to view Completed Challenge tasks in my To-Do list. I click on "Complete" and no tasks show up. Then when I try to click back to "Active," that doesn't work either. It's like the "Active" button is disabled at that point.

_I wrote: "Can you please reload the website while holding down the C

[2017-12-08 16:21] Alys commented on #9699
After posting that it occurred to me it could be an issue with an extension so I'll ask them to turn off all extensions.

[2017-12-08 16:48] Alys commented on #8127
This also happens when trying to add Google authentication to an existing account.

[2017-12-08 23:00] cassidypignatello commented on #9683
I'm happy to take this one!

[2017-12-09 03:22] joedragons commented on #9456
Wonder if this is the same issue.  Saw it today checking off a to-do (the todo had 2 parts but I only checked the first one in case that detail helps).  Hadn't seen anything else like this for a bit.
![habiticafeedback](https://user-images.githubusercontent.com/9559205/33792125-4da1eb76-dc66-11e7-9373-0d9a8f6ee7a4.png)
Windows 7, Firefox.
PS: Rereading the above, I noted report that when you scrol

[2017-12-09 06:02] Alys commented on #9683
@cassidypignatello Thanks! Comment here if you have questions.

[2017-12-09 16:23] Alys opened #9700 "Unintended avatar item layering consequences (facial hair over the top of scarves, etc)"
Facial hair (beards and mustaches) appear over the top of scarves:

![img](http://i.imgur.com/AtDk9uI.png)
![img](http://i.imgur.com/JbUUvem.png)

This is actually working as expected because the scarves are Body Accessories, and facial hair has to appear on top because most Body Accessories are collars and sashes  which should not cover beards. However for the case of scarves, it looks like a bug

[2017-12-09 16:38] Alys opened #9701 "incorrect active/disabled behaviour for "invite party to quest" button"
As reported by Conduit (a2eed704-33d9-4c2f-955c-f24af6653c72) in the Report a Bug guild:

"On the inventory page, when selecting a quest, the 'Invite Party to Quest' button is active on the quest overlay, even if the player does not meet the quest's eligibility criteria.
When clicking the Invite button a small, red message appears in the top-right corner to inform the player they do not meet the c

[2017-12-09 16:38] Alys commented on #9701
labels updated

[2017-12-09 16:59] Alys opened #9702 "quest completion modal can't appear after a new quest is started"
When a quest is completed, a participant won't see the quest completed modal if they don't use Habitica before invitations to the next quest are sent out.

With our current code, it's impossible to display a quest completed modal after a new quest scroll has been used because the quest invitation erases the completion status and key of the previous quest in the player's `party.quest` object.

I'm

[2017-12-09 20:26] Alys commented on #8757
When I cancelled my subscription in PayPal, the subscription in Habitica immediately became marked as cancelled, which is the desired behaviour.

However it's possible that this issue would still occur if the PayPal subscription were cancelled but the message didn't get back to Habitica. We could write code to handle the case where the user tries to cancel the subscription in Habitica when the Pay

[2017-12-09 21:58] cassidypignatello commented on #9683
I went ahead and submitted a pull request at #9704 in case this is all set, but I did want to mention that I saw `.btn-default` being used in quite a few places so I went ahead and replaced them all with `.btn-secondary`. I wasn't able to actually see the `newStuff.vue` screen since that modal doesn't seem to pop up when I sign in on my local install, but it looked good when I changed it on other

[2017-12-10 05:23] #9538 closed, assigned to nobody

[2017-12-10 12:20] Alys commented on #9699
_AyrenneA has replied with some excellent details about browsers this fails on:_

Here's what I have found on several computers/OS versions/browsers:

- OS X Yosemite (10.10.5)
   - **Safari Version 10.1.2 (10603.3.8)** I disabled all of the extensions that I have for Safari (ClickToFlash, Adblock Plus, and SafariRestore). **Problem still occurs.**
   - Google Chrome Version 63.0.3239.84 (Official

[2017-12-10 12:23] Alys commented on #9699
The Internet Explorer problem will be this one: https://github.com/HabitRPG/habitica/issues/9407

I'm not sure we can support any browser on Windows Vista since Microsoft has ceased support for Vista.

We'll seek information from other Safari users to see if it's replicatable on similar systems. ([ref for admins](https://habitica.slack.com/archives/C02V10HPE/p1512908884000032))

[2017-12-11 05:37] kartikadur commented on #9582
Is there anything that I should know before starting work on this issue?

[2017-12-11 05:38] kartikadur commented on #9618
Is there anything that I should know before starting work on this issue?

[2017-12-11 16:02] Alys commented on #9559
Another example of this from PaulchenPanther ( cde2d07f-ef9a-4e3e-8b19-3e678f7cf27b ) in the Report a Bug guild:

"the notification that all equipment from the armoire has been received is mostly not in the notification window and not readable link"
![img](https://i.imgur.com/xQA3lYZ.png)

[2017-12-11 17:07] #6216 closed, assigned to nobody

[2017-12-11 17:29] Alys opened #9705 "achievement sound plays inappropriately"
As reported by Embrace_ ( 9030eb72-300a-4d82-997d-8094504a3c99 ) in the Report a Bug guild:

"There's a sound playing when it shouldn't be... it just played four times within about 10 seconds while I was organizing my To-dos, including a To-do that has checklist items. I think it's the same sound that normally plays when I first log into Habitica, and some other times when I achieve something. I'm

[2017-12-11 17:35] paglias commented on #8127
The solution here is to always redirect to the same page when logging in so we don't have to track which URLs can be used for login, and adding one entry for the settings page for when trying to add Google authentication to an existing account.

[2017-12-11 17:39] #4233 closed, assigned to nobody

[2017-12-11 17:45] TheHollidayInn commented on #9670
@Tressley what are your thoughts on this section:

[code]

[2017-12-11 17:50] paglias commented on #9650
No, we load the Roboto font manually but we could use an import just for the home page

[2017-12-11 17:53] paglias commented on #9015
No, I'll do this after the notifications redesign

[2017-12-11 18:07] paglias commented on #9654
I don't think moving those files to LFS is actually doable but I realized the repo is a bit big, so I'll keep this open for other solutions like removing old branches or if there are ways to compress the repo size

[2017-12-11 18:27] TheHollidayInn commented on #8127
I'll take this issue.

[2017-12-11 20:13] matchajune commented on #9059
Hey @Alys ,

I submitted a solution for this issue. I went about the solution a little bit differently than suggested in the initial comment. I explained my thoughts in the pull request and would love your feedback. I look forward to your response!

[2017-12-11 20:38] Tressley commented on #9670
@TheHollidayInn -- I discussed this with @Alys briefly. I don't think there's an issue with having it in both places. If users are still looking to change the Guild Leader from the Edit modal, we can have the searchable dropdown component and a users list. If a Guild Leader wants to "Promote User to Guild Leader" from the Members List, they can. I think the messaging actually makes it more confusi

[2017-12-11 21:05] lemoness commented on #7123
FYI @Tressley

On Thu, Dec 7, 2017 at 6:38 AM, Keith Holliday <notifications@github.com>
wrote:

[2017-12-11 21:07] lemoness commented on #9425
I think we should have an informative error message, so let's leave this ticket open for now.

[2017-12-11 21:26] lemoness commented on #9672
I would also like to see a message sent to the owner of the Challenge the
day after the assigned End Date. That can be part of a different fix if
necessary.

Possible draft of message (with feedback/suggestions welcome):

"The end date of your Challenge NAME has arrived! Close and award your
Challenge from the Challenges Page now." Clicking on it would take you to
that Challenge page.

On Thu, Dec

[2017-12-11 21:27] lemoness commented on #8663
Yes, all unearned achievements should have the gray badge with the question mark on it.

[2017-12-11 21:47] Alys commented on #8142
@Tressley @lemoness The technical work required for this issue has been done (thanks @TheHollidayInn !) so mods/staff can PM users who have blocked the mod/staff or opted out of PMs in general. I'm reopening this and marking it as "needs design" for the user interface changes, which could be something like this:

In the profile screen that you see when you click on a player's name, the on-hover te

[2017-12-11 22:00] Asuza commented on #9276
@gilmoreg I don't understand Docker well enough to say for sure that I'm doing the correct things with it. Currently, I don't know when I'll have time to try to rebuild my containers for this fix, but it's been at the back of my mind. I'll let you know what happens if I have time to mess with it again soon.

[2017-12-12 01:24] TheHollidayInn commented on #9425
How about a tooltip? Since right now, clicking seems to show the action is disabled.

[2017-12-12 02:42] TheHollidayInn commented on #9650
Sounds good!

[2017-12-12 10:17] kartikadur commented on #9618
will be making the following changes:

+ text alignment to right
+ gold coin left margin reduced.

Visual change:

![option-1](https://user-images.githubusercontent.com/1319511/33878109-7efcab9c-df50-11e7-9390-afcdc47dc4a8.jpg)

[2017-12-12 11:36] Alys commented on #9618
@kartikadur Thanks for the details and screenshot!

@Tressley Can you comment on this proposed fix? It's for the edit form only (not how the Reward is displayed on the tasks page when you aren't editing it).  While this proposed fix might not match the original design of this field in the edit form, it does look to me like a simple way to get around the problem of the gold coin obscuring the value

[2017-12-12 11:38] Alys commented on #9582
@kartikadur I can't think of anything but if you come across anything that looks confusing or that seems it would benefit from additional comments, please do ask here!

[2017-12-12 12:42] luanmuniz commented on #9654
@paglias Why isn't doable? Dependencies?

[2017-12-12 17:21] #9510 closed, assigned to nobody

[2017-12-12 17:22] #9494 closed, assigned to nobody

[2017-12-12 21:09] lemoness commented on #8672
I think "section: other" is OK for now. I think that perhaps we could just display the persistent and entire error message in a permanent state, so it shouldn't need a separate design. We can always improve it visually later, but if it's the only thing that you can look at on the screen, I think people will read it.

[2017-12-12 21:12] lemoness commented on #8624
No, I think that's okay! I'll close it for now, but we can always reopen if needed.

[2017-12-12 21:12] #8624 closed, assigned to nobody

[2017-12-12 23:19] TheHollidayInn commented on #9361
Should I remove all stopwords (only from sort) depending on language: https://www.npmjs.com/package/stopword. Or do we want to just start our own list of definite articles.

[2017-12-13 01:05] #9185 closed, assigned to TheHollidayInn

[2017-12-13 01:56] luanmuniz commented on #9043
@paglias @Alys Anything that i can do?

[2017-12-13 03:44] MathWhiz commented on #9244
@jyotman How are you doing with this? Do you need any assistance with anything?

[2017-12-13 03:46] librarianmage commented on #9290
Hey @EmilyOng! How are you doing with this? Do you need any assistance?

[2017-12-13 03:47] librarianmage commented on #9293
Hello @qhuynh96! How are you doing with this? Do you need any assistance?

[2017-12-13 03:51] librarianmage commented on #9291
Hello @brianhall! How are you doing with this issue? Do you need any assistance?

[2017-12-13 03:53] librarianmage commented on #9327
Hello @splashofcrimson! How are you doing with this issue?

[2017-12-13 03:54] librarianmage commented on #8752
Has this been fixed? Is it still in progress?

[2017-12-13 03:55] librarianmage commented on #8070
Hello @LulaV14! How are you doing with this Issue?

[2017-12-13 03:56] librarianmage commented on #8087
@madpink Hello! How are you doing with the Member section?

[2017-12-13 04:02] MathWhiz commented on #8063
@cching0L2 Did you ever get an answer to your questions?

@Alys

[2017-12-13 04:05] librarianmage commented on #7645
Has this been fixed? @paglias

[2017-12-13 04:07] librarianmage commented on #5279
Note for future me: this is on hold until #9136 has been fixed.

[2017-12-13 04:08] librarianmage commented on #9370
Is this in progress?

[2017-12-13 04:09] MathWhiz commented on #9247
@eric-horvat How are you doing with this?

[2017-12-13 04:11] librarianmage commented on #9247
@Alys as with #8142, should this be put on hold until designs are made, or is that unnecessary?

[2017-12-13 04:12] librarianmage commented on #9233
@spacenate How are you doing with this?

[2017-12-13 04:12] librarianmage commented on #9245
@haydenbetts How are you doing with this? Do you still need some help?

[2017-12-13 04:13] librarianmage commented on #9187
@shinning91 Hello! How are you doing with this?

[2017-12-13 04:14] librarianmage commented on #9188
@daniel-234 Hello! How are you doing with this issue?

[2017-12-13 04:17] MathWhiz commented on #7991
@megan-starr9 Do you need any help with this?

[2017-12-13 04:18] librarianmage commented on #9399
Should this be closed?

[2017-12-13 04:41] TheHollidayInn commented on #9399
Yep!

[2017-12-13 04:41] #9399 closed, assigned to nobody

[2017-12-13 04:50] TheHollidayInn commented on #7645
I believe this has been fixed by some of my recent updates. @Alys Are we still getting reports? It is possible I missed some.

[2017-12-13 04:51] TheHollidayInn commented on #8752
We no longer have the summary, so we can close this unless we are adding the summary back.

[2017-12-13 04:54] TheHollidayInn commented on #9327
I'm pretty sure we aren't doing any notifications. And we should look into moving to queue/worker systems to offload performance.

[2017-12-13 05:15] jyotman commented on #9244
@MathWhiz yes, can you can answer the doubt I posted above?

[2017-12-13 05:42] MathWhiz commented on #9244
Sadly, I am unable to. @Alys @Sabrecat What do you think?
On Tue, Dec 12, 2017 at 11:15 PM Jyotman Singh <notifications@github.com>
wrote:

[2017-12-13 08:43] daniel-234 commented on #9188
Hi @MathWhiz, sorry for not getting back to you earlier on this issue. Unfortunately I have been busy with other work and haven't been able to progress with it. Please, feel free to reassign it.

[2017-12-13 16:35] ghost commented on #9532
I think I solved this. This code comes from the Hatch Pet modal on the Stable page. I don't know how to describe the pathway. I hope this is enough information. I can try to describe in more detail if someone tells me what information I need to provide.

html body.modal-open div#app div.container-fluid div.sticky div.row div.col-12 div.row.stable div div#hatching-modal___BV_modal_outer_ div#hatchi

[2017-12-13 16:45] haydenbetts commented on #9245
Hi @MathWhiz. I haven't looked at this for a while. Feel free to take this up!

[2017-12-13 16:46] Alys commented on #9705
Extra information from citrusella, the serving wench ( 2d6ef231-50b4-4a22-90e7-45eb97147a2c ) who also experiences this bug:

"In my case, it's [the `Achievement_Unlocked` sound]. In my experience it happens with certain syncs (but not every one); there must be something those syncs have in common, but I can't see anything visually. (I'm not getting a new guild notification every time I hear it or

[2017-12-13 16:49] Aerilita commented on #9582
I'm not sure if it's known, but in my recent experience switching back to "Due" also occurs after manually syncing (via the sync button), even if I don't try to move dailies at that point. I suspect it might be related.

[2017-12-13 18:04] Alys commented on #9188
@daniel-234 Thanks for letting us know! I've updated the labels.

As a note for the next person who wants to work on this, the exact wording shown in the screenshot won't be used because the fix for https://github.com/HabitRPG/habitica/issues/5232 will be going live soon. I.e., your tasks WILL change colour while you are Resting in the Inn.

Maybe this?
"You are currently checked into the Inn. You

[2017-12-13 19:04] Tressley commented on #9618
@Alys -- Hmm. I'd like to tag in either @paglias or @TheHollidayInn to review the implementation. While this may be a possible workaround, I think there's might be a better solution. We should be able to display the icon as a background and pad the element enough to start the input after the icon.

[2017-12-13 19:05] Tressley commented on #9425
I think a tooltip on the checkbox zone should be sufficient for now. 👍

[2017-12-13 20:12] paglias commented on #9618
I think Bootstrap's input groups are perfect for this use case https://getbootstrap.com/docs/4.0/components/input-group/

I've used them in this PR if you want to give see an example https://github.com/HabitRPG/habitica/pull/9560

[2017-12-13 20:16] paglias commented on #9043
@luanmuniz if you want to open a PR that fixes those vagrant script that would be great, Otherwise I'd suggest to follow the instructions here http://habitica.wikia.com/wiki/Setting_up_Habitica_Locally for you operative system

[2017-12-13 20:18] paglias commented on #9654
Sorry, I thought using LFS would have required more changes. It seems pretty simple overall but I haven't researched all the implications of this and it might be a problem for our deployment workflow but @SabreCat and @TheHollidayInn knows more about that than me so I'll wait for their comment

[2017-12-13 20:19] paglias commented on #7645
Let's reopen if we get more reports

[2017-12-13 20:21] paglias commented on #9355
Is this still an issue?

[2017-12-13 20:22] paglias commented on #9675
@locked31 we've just fixed this! I'm not exactly sure when this will go live but in a few hours the site will load correctly on IE 11

[2017-12-13 20:24] paglias commented on #9407
@Zian we've just been able to fix this issue finally and it'll go live in the next few hours. I'm not exactly sure when but by tomorrow the site will work on IE 11. Let me know if you have any other issue :)

[2017-12-13 20:24] #9407 closed, assigned to nobody

[2017-12-13 20:40] Alys commented on #7645
Yes, we still get reports, and the fix in the cron code won't work when the player is resting in the inn (https://github.com/HabitRPG/habitica/pull/9627#discussion_r156749416). :)

@TheHollidayInn From memory, the code I saw wouldn't cover every case that causes this, but I might be misremembering. Are you able to find your PR or commits for it easily? I'd like to link to them from here, but don't

[2017-12-13 20:41] Alys commented on #9355
I don't recall it being reported recently. We can reopen if needed.

[2017-12-13 20:41] #9355 closed, assigned to nobody

[2017-12-13 20:49] Alys commented on #9245
I've labelled this as help wanted. Anyone who wants to work on it might like to look at @haydenbetts partial pull request at https://github.com/HabitRPG/habitica/pull/9329

@haydenbetts comment here if you change your mind and would like to continue with this! @MathWhiz of course you're welcome to comment if you do want to take it on. :)

[2017-12-13 20:53] Alys commented on #9327
The notifications here are the ones from `newMessages` in the user document, which appear in the drop-down from the notification icon in the website's header.

@splashofcrimson I'm marking this issue as help wanted again, but if you're still interested in working on it, comment here and I'll switch it back to in progress. :)

[2017-12-13 20:58] thefridge111 commented on #9532
if you think you've got a solution feel free to take a crack at it @lmking I've been a little busier than I expected to be and havent had a chance to really dig into this yet

[2017-12-13 21:00] Alys commented on #9247
I've edited the top post to update it for the new status of the mods/staff change.

@eric-horvat I'm marking this as help welcome but if you're still interested in working on it, comment here and I'll set it back to in progress for you.

@Tressley Do you want to do a small bit of design for the work described in the first paragraph in the top post here?

[2017-12-13 21:22] lemoness commented on #8070
I've updated the labels on this ticket.

[2017-12-13 21:30] lemoness commented on #9276
@Asuza Does that mean that you would like to give up your claim to this issue, at least for now?

[2017-12-13 21:40] lemoness commented on #5279
I've added the "on hold" label.

[2017-12-13 21:42] lemoness commented on #9370
I've changed this status to "help wanted"!

[2017-12-13 21:44] #8752 closed, assigned to nobody

[2017-12-13 21:48] lemoness commented on #9188
Looks good to me!

On Wed, Dec 13, 2017 at 10:04 AM, Alys <notifications@github.com> wrote:

[2017-12-13 22:28] Alys commented on #8063
@cching0L2 I'm really sorry! We never answered you. :(  If you're still interested in this issue, we'd love you to keep working on it - just let us know if you are.

Probably the easiest way to hide a new message that should be visible to only mods is to set the message's `flagCount` to 5. That mimics the effect of a message being flagged by a moderator, which automatically hides the message from

[2017-12-13 22:48] TheHollidayInn commented on #9244
Sorry for the delay! The validation for mongoose and express are different. So, I think the best start here is to validate length during the api request. You are welcome to add validation to the model as well.

This should be added to guilds and challenges. I’m not sure about parties (the other type of group from guilds). @alys what do you think about parties?

[2017-12-13 22:51] Alys commented on #9244
Yes, parties too. They can be treated identically to guilds for this issue.

On Wed, 13 Dec 2017, 22:48 Keith Holliday <notifications@github.com> wrote:

[2017-12-14 00:08] Asuza commented on #9276
@lemomess, that's fine. I already spent a long time on it with no real progress.

[2017-12-14 02:57] shinning91 commented on #9187
@MathWhiz Hi, unfortunately I doesn't have time to complete this issue. If you are interested with it you can take over.

[2017-12-14 06:05] LulaV14 commented on #9213
HI @lemoness I'm so sorry for the long delay. I had some issues and didn't have much time but now I do.
May I have a week or so, to have this for the end of next week maybe?

[2017-12-14 06:22] LulaV14 commented on #8070
Hi @MathWiz and @lemoness
I'm so sorry for the long delay. I had some issues and didn't have much time.
I know you've been having this issue open for a long time, so maybe if I can have a week or two now that I have time to finally close it?

[2017-12-14 08:43] Alys opened #9715 "Beast Master count of "0" is displayed (probably also for Mount Master and Triad Bingo)"
When you have received the Beast Master achievement but have not yet released your pets, a "0" displays on the Beast Master badge. This is confusing to players who don't yet know that the count increments each time you release your pets. The preferred display is showing the number only when it's 1 or greater.

The same thing applies to the Mount Master and Triad Bingo achievements if they are also

[2017-12-14 14:18] qhuynh96 commented on #9293
Hi @MathWhiz , currently I have not made  progress on this issues as I am still waiting for assistance from the dev. I would like to ask about files related to this issue.

[2017-12-14 14:22] librarianmage commented on #8070
@LulaV14 Oh, I don't think that will be a problem.

[2017-12-14 15:09] TheHollidayInn commented on #9293
Hey @qhuynh96 !

You can find the quest logic here: https://github.com/HabitRPG/habitica/blob/develop/website/client/components/groups/questSidebarSection.vue

And the party page is part of the group page right now: https://github.com/HabitRPG/habitica/blob/develop/website/client/components/groups/group.vue

[2017-12-14 15:09] #9415 closed, assigned to TheHollidayInn

[2017-12-14 15:11] TheHollidayInn commented on #9715
Is this showing on the profile modal for the user on the achievements page?

[2017-12-14 15:14] TheHollidayInn commented on #9276
@Asuza have you tried setting up your environment without docker? Docker isn't required to fix this.

[2017-12-14 15:35] #9423 closed, assigned to TheHollidayInn

[2017-12-14 16:47] ghost commented on #9532
I should have noted that I am not a coder. I can identify problems and that's about it. As to making permanent changes to the code, I have absolutely no idea how to do that.

[2017-12-14 18:12] #9670 closed, assigned to nobody

[2017-12-14 19:03] paglias commented on #9440
Closed in favor of #9015

[2017-12-14 19:03] #9440 closed, assigned to paglias

[2017-12-14 19:24] Clement134 opened #9717 "Windows - eslint error: Expected linebreaks to be 'LF' but found 'CRLF'"
### General Info
  * OS: Windows

### Description
Hello,

Like explained in the guild, I have an issue with line endings on Windows. After following the instructions on the [wiki](http://habitica.wikia.com/wiki/Setting_up_Habitica_Locally#Windows_Line_Endings), I have an error about line endings (Expected linebreaks to be 'LF' but found 'CRLF') when I run the command `npm test`.

After some invest

[2017-12-14 19:38] TheHollidayInn commented on #9717
I've had the same issue. I had to ensure my git settings were correct when install to checkout as CRLF but to commit as LF. If you want to open a PR with the .gitattributes file, that would be great!

[2017-12-14 19:51] kipraske commented on #9630
I started doing a bit of work on this, though it is starting to get a bit more complicated than I expected. I will let you know if I run out of extra time to work on this ~

In particular `<draggable>` components really don't like being together under the same node at the same time. So in order to implement this it will be necessary to wrap the top elements in one component and the bottom elements

[2017-12-14 20:57] lemoness commented on #9630
@kipraske - Thanks so much for working on this!

I've updated the labels on this ticket.

[2017-12-14 21:05] lemoness commented on #9187
@shinning91 Thank you for letting us know!

I've updated the labels on this ticket.

[2017-12-14 21:06] lemoness commented on #9213
@LulaV14 Thanks for checking in! That will work great.

[2017-12-14 21:08] lemoness commented on #8070
@LulaV14 - That will work great! Thank you very much. We look forward to seeing the fix.

[2017-12-14 21:23] lemoness commented on #8063
@cching0L2 After some discussion, because this issue is pretty high-priority, we've decided to tackle it internally, but thank you for volunteering! I hope that you'll continue to check out other tickets.

[2017-12-15 00:21] lemoness commented on #9204
@pcvonz Hi there! How is this going?

[2017-12-15 05:03] BradLugo commented on #9043
@paglias It appears that the Dockerfile has the same issue. I can make a PR for that but I need to know how y'all want to handle this with containers. Idiomatically, each container should only be responsible for one function. I can make multiple Dockerfiles and have the docker compose run both of them if y'all want

[2017-12-15 11:16] Alys opened #9720 "only 30 members are shown in the member list for guilds"
Only 30 members are being shown in the member list for guilds. It's not possible to see more (scrolling doesn't load more automatically and there's no load more link/button).

It's also not possible to see other members by searching if they don't appear in the 30 shown.

To replicate the bug:
1. Visit the [Report a Bug](https://habitica.com/groups/guild/a29da26b-37de-4a71-b0c6-48e72a900dac) guild

[2017-12-15 11:42] Alys commented on #9567
This is still happening (even in staging) except that the second buy modal is not greyed out. It makes it look as if the card was not successfully sent, so I'm keeping this labelled as an important priority.

[2017-12-15 11:51] chandramaniadil commented on #9567
One thing to be noted is that the coins were deducted after a long time, and the card was sent successfully.
(cross-checked it from receiver's profile)

[2017-12-15 14:08] TheHollidayInn commented on #9567
@alys I think that is intended. After closing one modal it returns you to the previous to purchase again.

[2017-12-15 14:11] TheHollidayInn commented on #9043
A Docker file for client and one for server would be good. The production docker file should be good though.

[2017-12-15 14:25] chandramaniadil commented on #9567
@TheHollidayInn that's the way it should be, but after sending the card there was no pop-up message confirming whether the card was sent or not.

[2017-12-15 14:33] TheHollidayInn commented on #9567
@chandramaniadil Agreed, that is a problem, but it is noted here #9484

[2017-12-15 15:00] brianhall commented on #9291
Hey there, @MathWhiz / @lemoness! I apologize, time got away from me here. I don't want to hold this up, so please feel free to reassign and I'll look for other issues when I get a chance. Sorry for the delay!

[2017-12-15 16:16] lamelija opened #9721 "Check-in pop-up disappearing within a second after popping up"
### General Info
  * UUID:  c00b4d2d-b57e-42b2-8581-36afed66e40f
  * Browser:  Google Chrome, ver. 63.0.3239.84
  * OS:  Windows 10 Home 64-bit

### Description

Alys has asked me to create this issue and copy in our previous posts:

Likarona: "Recently I noticed that my pop-ups disappear before I can even read them. I'm on the web and using Google Chrome. When a new day starts there is always a s

[2017-12-15 16:21] paglias commented on #9043
I don't think the production docker works locally because it uses the compiled JS/CSS files, serving them from the main server, while locally it should spawn two different servers: `npm start` on port 3000 for the server and, `npm run client:dev` on port 8080 for the client. So if we want Docker for local development we'll need a different setup

[2017-12-15 17:07] librarianmage commented on #9445
@TheHollidayInn Has this been fixed?

[2017-12-15 17:08] librarianmage commented on #9457
Hello @hextal! How are you doing on this?

[2017-12-15 17:21] librarianmage commented on #9249
Hello @AugustoEMoreira! How are you doing with this?

[2017-12-15 17:21] TheHollidayInn commented on #9445
I'm pretty sure. Closing until we get a new report.

[2017-12-15 17:21] #9445 closed, assigned to nobody

[2017-12-15 18:02] citrusella commented on #9715
For what it's worth: I don't see it on others' profiles unless I'm on the app (and I don't see it on my own because I have a 1+ number).

[2017-12-15 18:46] Clement134 commented on #9717
Hello @TheHollidayInn , thanks for your reply,

I have open a PR for the .gitattributes file.
With CRLF linebreaks after checkout you didn't  have any eslint errors ?

[2017-12-15 23:52] BradLugo commented on #9043
I'm working on getting the Dockerfile fixed. What's the intention of Dockerfile-Production? I didn't see any documentation on it. I can fix that one too but I'll leave it alone if the expectation is for the admins to manage that for production use

[2017-12-16 03:05] qhuynh96 commented on #9293
@TheHollidayInn Thank you for your info. I have one more question. The issue states that

also

I would assume that a pending quest is a quest that started and is in progress. However, is there any chance that a pending quest is in the invitation stage. Do you have any documents about states of a quest?

[2017-12-16 05:14] Alys commented on #9293
@qhuynh96 A pending quest is a quest that's still in the invitation stage. It stops being pending when all party members have accepted or rejected the quest invitation, or when the quest owner has clicked the quest's "Begin" button.

[2017-12-16 05:49] TheHollidayInn commented on #9293
Documentation of the quest states with respect to the members is something we have been working on in a separate issue :P But here is an overview:
1. User starts quest. Invitations are sent
2. Quest is in invitation/pending staging waiting for all users to response (accept or decline)
    - This is the issue stage when a user is invited to the party after the quest has started
3. Quest can be star

[2017-12-16 12:59] paglias commented on #9043
Yes, the Docker production file should remain the same as now, it's used to deploy the habitica.com website

[2017-12-16 14:38] kartikadur commented on #9717
@Clement134 I had a similar issue with eslint errors regarding 'LF' and 'CRLF' line endings. I have mentioned a solution in the discussion for issue #9421. Hope it helps.

[2017-12-16 17:27] kartikadur commented on #9618
How does the following line of code in [taskModal.vue on line 25](https://github.com/HabitRPG/habitica/blob/7fccf59f505c89618753a8a60958fcdfa7cd213f/website/client/components/tasks/taskModal.vue#L25) work?

`.svg-icon.gold(v-html="icons.gold")`

as far as I can tell
+  `.svg-icon` and `.gold` are css classes
+ `v-html` is used to render html as (opposed to {{...}} for text output)
+ `icons.gold` i

[2017-12-16 17:41] TheHollidayInn commented on #9717
@Clement134 Thanks for the PR! I have had many issues, but with core.autocrlf set to true, the Git should revert to LF when committing.

[2017-12-17 04:22] qhuynh96 commented on #9293
@TheHollidayInn I tried to reproduce the issue and experienced the followings:

1. User A created a party and invites user B to the party
2. User B received the invitation to join the party (need to hit sync button to see the invitation).
3. User A started a quest, user B received the invitation (need to hit sync button)
4. User A invited User C, User C accepted the invitation. The quest details s

[2017-12-17 06:00] TheHollidayInn commented on #9293
Sounds correct to me! If user C can accept after a refresh, then it might be a client side  issue.

[2017-12-17 07:06] kartikadur commented on #9582
@Aerilita they could be related. I think the code might be reverting to default functionality everytime the page re-renders on data change.

@Alys would it be beneficial to set data to the store in cases where the dropdown state needs to be remembered? and if so what would be the best way to do so? I know `$store` is used on other pages, I am unsure if it is implicit or vuex is being used in the b

[2017-12-17 17:59] Alys opened #9725 "flagged/reported Challenges should be hidden from most players"
_Edit by Alys 2021-09-15_: **There is a mostly-complete PR at https://github.com/HabitRPG/habitica/pull/11920 which another Blacksmith could finish to resolve this issue and https://github.com/HabitRPG/habitica/issues/5557.**

_This is feature depends on https://github.com/HabitRPG/habitica/issues/5557 so it should either be worked on after https://github.com/HabitRPG/habitica/issues/5557 has been

[2017-12-17 18:09] Clement134 commented on #9717
@kartikadur thanks for your help. I have already found the .gitattributes solution. And I think it could be easier for windows users if the .gitattributes is pushed to the repository.

@TheHollidayInn the problem when core.autocrlf is set to true, is the linebreaks errors with eslint, because the local repository contains CRLF after checkout.

[2017-12-17 18:23] paglias commented on #9618
Can you post the code you're trying to use? If everything is imported correctly it should work

[2017-12-17 21:56] luanmuniz opened #9726 "Success message when the request fail"
[//]: # (Before logging this issue, please post to the Report a Bug guild from the Habitica website's Help menu. Most bugs can be handled quickly there. If a GitHub issue is needed, you will be advised of that by a moderator or staff member -- a player with a dark blue or purple name. It is recommended that you don't create a new issue unless advised to.)

[//]: # (Bugs in the mobile apps can also

[2017-12-18 01:44] qhuynh96 commented on #9293
@TheHollidayInn
The issue is probably here
https://github.com/HabitRPG/habitica/blob/develop/website/client/store/actions/quests.js#L11

`store.state.party.members.data` returned null which makes the later chaining invalid. I just wonder what is `store.state.party.members` and what is its usage. It seems that `store.state.party.members.data.length` is the default value for partySize; however, I ca

[2017-12-18 02:00] melarish commented on #9289
How's this look? The svg's downloaded from Zeplin didn't quite turn out like on the spec so I had to do a little guesswork to get them closer to the right size. For example, the T7 icon looked really tiny with width: 8, since the Zeplin numbers refer to width before rotation.

<img width="546" alt="screen shot 2017-12-17 at 6 08 15 pm" src="https://user-images.githubusercontent.com/5783115/3408701

[2017-12-18 02:51] JonLim commented on #9720
I'd like to take a crack at this, if that's alright, but am looking for a better way to replicate the scenario of 30+ users in a guild on a local install.

Are there clones of dummy dbs we can use?

[2017-12-18 03:19] pcvonz commented on #9204
Sorry for not responding sooner! I just started a new job and haven't had time to look into this.

[2017-12-18 03:31] TheHollidayInn commented on #9720
Hello! You are welcome to it. We don't have dummy dbs, but you don't need to create 30 users to test.

- Try changing the limit in this function to 1 (or any other number) https://github.com/HabitRPG/habitica/blob/develop/website/server/controllers/api-v3/members.js#L271
- Then you will need to update the get group members action to work like the challenge members https://github.com/HabitRPG/habit

[2017-12-18 03:32] TheHollidayInn commented on #9717
@Clement134 Ah, right, because you are running lint before commiting? I'm fine with never converting.

[2017-12-18 03:34] Zian commented on #5853
On the initial page load, I guess the following error in the developer tools console:
SCRIPT5: Access is denied.

File: widgets, Line: 1, Column: 1

When I say show numbers against the following image:
![untitled picture](https://user-images.githubusercontent.com/1581929/34088908-504f5fdc-e361-11e7-82f9-36c67607af3d.png)

When I say "check floss", nothing happens.  Nothing new appears in the devel

[2017-12-18 03:42] JonLim commented on #9720
@TheHollidayInn Perfect, thanks for that!

I'll get started on this.

[2017-12-18 05:44] kartikadur commented on #9618
@paglias This is more for my understanding so I don't break anything when I refactor the code. Partly because I've never seen `v-html` used this way and partly because I can't find any explanations on the net.

here are lines in question: https://github.com/HabitRPG/habitica/blob/7fccf59f505c89618753a8a60958fcdfa7cd213f/website/client/components/tasks/taskModal.vue#L21-L25

[2017-12-18 06:10] marcusvmdomingos commented on #9648
I think that would be a case for a three line notification without an icon:
![3-lines-notification](https://user-images.githubusercontent.com/28844427/34091757-d0b26f1c-e3a6-11e7-8b1f-778e37b97bd0.jpg)

The words fall out from the tooltip borders. Looked up for one with an icon, but I think there's none of it.

I can get this issue with the showed cases. And if some three line with icon comes up,

[2017-12-18 09:03] paglias commented on #9618
That code works by importing the svg file for the icon into JavaScript.
It's then stored inside the components data object under icons.gold and
then rendered in the template as HTML.

The same technique is used across the entire website. I don't understand
when you say

icons.gold

Can you post the code that results in printing the image url?

Il 18 Dic 2017 06:44, "kartik adur" <notifications@git

[2017-12-18 09:39] Alys commented on #9204
Thanks for letting us know! I've marked this as help wanted.

[2017-12-18 10:50] kartikadur commented on #9618
Import command gets the image/icon as a module. The v-html vuejs command renders it as raw unescaped innerhtml for a parent dom node. I think I have a grasp on that much. What I want to know is why it works the way it works. All my research indicates that it should not work unless the module/img/icon is bound to an `<img>` tag `src` attribute at or before runtime.

I started with the base vue-cli

[2017-12-18 10:54] paglias commented on #9618
No worries @kartikadur :)

The reason your code isn't working is that you're loading a PNG image which needs to be added as an <IMG> tag with an SRC attribute. This way of importing icons and rendering them as HTML only works with SVG elements that can be added directly to the HTML of the page

[2017-12-18 10:55] kartikadur commented on #9618
sweet llama of alabama, I completely glossed over the fact that it was an svg thing.
thanks, you are awesome.

[2017-12-18 13:07] Alys commented on #5557
This is now ready for a contributor to start working on it.

However @Tressley will want to decide on the exact position of the "Report" icon in the three locations listed in the top post (My Challenges, Discover Challenges, individual challenge pages). Until that's done, the contributor who works on this issue could add it in any position to help them develop the other parts of the fix for this i

[2017-12-18 13:20] BradLugo commented on #9701
I can take this. Is the intended design to initialize with the disabled button if they don't meet the quest's eligibility criteria or have the button enabled every time that component is shown

[2017-12-18 21:10] lemoness commented on #9291
Thanks for letting us know! I've marked this as "help wanted."

[2017-12-18 21:21] joedragons commented on #9538
Is this the fix?  Seems you traded one issue for another?
<img width="1211" alt="screen shot 2017-12-18 at 4 22 05 pm" src="https://user-images.githubusercontent.com/9559205/34128710-a2169480-e40f-11e7-9e23-0f3b742137f6.png">

[2017-12-18 21:29] TheHollidayInn commented on #9538
Yea, kind of. The issue did already exist where we need to fix the currency display over 1 or 10k.

[2017-12-18 21:30] joedragons commented on #9538
@TheHollidayInn Ah thanks, I'll track that down and follow there.

[2017-12-18 21:39] TheHollidayInn commented on #9701
Sounds good! I believe we want the button to be disabled if the user doesn't meet the requirements for the quest. Each modal would calculated based on the select quest. Sounds like there is an issue with the computed properties there or they aren't being used.

[2017-12-18 21:42] TheHollidayInn commented on #5557
This take this as it is on my list of mod tools :D

[2017-12-18 21:45] TheHollidayInn commented on #9648
Please feel free to take it :D

[2017-12-18 21:48] TheHollidayInn commented on #9538
Thank you!

[2017-12-18 21:52] TheHollidayInn commented on #9293
Hmm, that could cause a problem. I'm not sure it would produce the same message as above. Party members stores the users in your party (which are the users in the header or on the party page). There should be a check there to ensure the members are loaded because you can load the party without the party members.

[2017-12-19 04:08] marcusvmdomingos commented on #9648
Oky doky.

[2017-12-19 05:12] TheHollidayInn commented on #8063
For new users, are we assuming users created in the last day? two days?

Should this only be for public guilds?

[2017-12-19 05:18] TheHollidayInn commented on #9662
Which IE is this? I was going through fixes for IE and in IE 11 you can see pinned items (although they do not form a grid yet)

[2017-12-19 07:41] WiseEagle commented on #6716
You can ask your users "please disable AdBlock for this site, for view more..." JS or jQuery can halp you!)

[2017-12-19 13:08] joedragons commented on #9538
FYI, I do recall the large gold issue, however, I looked thru ~8 pages of open issues, and did a keyword search of gold (open and then closed) as well as 10k and 1k and didn't see it.  Wondering if I saw it in guild and it didn't make a ticket.  I'll add to my list of items that I've been meaning to report in case that's not intentional and keep an eye out for a ticket.

[2017-12-19 15:32] TheHollidayInn commented on #9538
Ah, sorry, I misunderstood you. I though you wanted to do a PR. If not, I didn't see an issue either, but was going to create one.

[2017-12-19 15:42] joedragons commented on #9538
@TheHollidayInn Ah, sorry=)  My trade is Quality Engineer, so while I do want to do PRs, I'd be looking for intro ones if I even had time=)  I've been trying to contribute through docs and bug reports.  I'll watch for the ticket.

[2017-12-19 15:49] kartikadur commented on #9618
Current iteration of task modal

![adjusted-cost-reward-input](https://user-images.githubusercontent.com/1319511/34165121-6ce38e10-e501-11e7-95fd-1f56a1c9e42d.jpg)

Since I am already working on this would there be objections to adjusting the other inputs  (viz. tasks, repeats, repeats every, dates, etc.) on the task modal? I'd like to standardize the width/placement and types of the inputs.

[2017-12-19 17:32] SirLouen opened #9729 "Register with Google Button not working"
[//]: # (Fill out relevant information - UUID is found from the Habitia website at User Icon > Settings > API)
### General Info
  * UUID: 99ccbddd-9e2c-42b1-a04c-78185183ed25
  * Browser: Google Chrome  63.0.3239.84 (Build oficial) (64 bits)
  * OS: Windows 10 Latest Patch

### Description
[//]: #
In the
https://habitica.com/user/settings/site

Register with Google Button:

401. That’s an error.
E

[2017-12-19 18:01] paglias commented on #9618
@kartikadur regarding the other inputs for now it'd be better not to do them as we're already working on a new design that will fix those issues but it's not ready yet

[2017-12-19 19:05] Clement134 commented on #9717
@TheHollidayInn  Yes, I think it's a good practice to run linting and tests before commiting and pushing to the repository.
Never converting means that you want to push CRLF to the repository ?

[2017-12-19 20:18] TheHollidayInn commented on #9717
Eh, sorry. I just meant using the default from the repo. But creating a file would cause a need for conversion. The goal is definitely to have LF always.

[2017-12-19 23:59] Alys opened #9731 "Equipment shop errors: some gear is mis-filed, some doesn't appear"
The Equipment shop is showing more problems than previously and I think it's a new bug from just the past few days.

Base and seasonal equipment for my current class appears correctly when that class is selected from the "Class" drop down.

Base and seasonal equipment for other classes also appears correctly when those classes are selected. BUT the base equipment also appears under "None" (it shou

[2017-12-20 00:01] Alys commented on #9731
In addition, from kawunngg (ce935e7f-00e6-44bc-a44a-5280553810f0) in the Report a Bug guild:

"i can see all equipment of the other classes without being able to buy it back (i know this is intended). i can pin the items to my reward column, and if i have enought gold, i even get the message 'you bought xyz' but i don't lose gold and don't get the items. same thing with equipment of my own class i

[2017-12-20 04:17] BradLugo commented on #9043
@Alys It looks like the script you referenced early just installs dependencies, not necessarily runs the code. I'm going to submit a PR for the Vagrant.example in a minute but it looks like the only thing that needs to be changed is the port forwarding. Can you confirm this?

[2017-12-20 05:23] kartikadur commented on #9618
@paglias In that case should I submit a PR for my update now, or should I wait for the new design changes to redo the code accordingly before submitting a PR?

[2017-12-20 07:32] Alys commented on #9731
fox_town says:
My gala gear is in my rewards column, but not in the market nor the seasonal shop?  Is that as intended? (User in the bug guild has unpinned something from their column and can't get it back, and I don't see a workaround.)
It's not under "None"

[2017-12-20 08:20] paglias commented on #9618
@kartikadur submitting this fix now is okay!

[2017-12-20 08:35] kartikadur commented on #9618
thanks, will do

[2017-12-20 08:41] kartikadur commented on #9618
Also let me know if I can help with the redesign stuff. Now that I have a slightly better setup I can contribute more.

[2017-12-20 09:06] Alys opened #9734 "bulk purchase has incorrect gem amount in confirmation screen"
When you purchase more than one item at a time, the confirmation screen lists the price per item, not the total number of gems you'll pay. This is misleading, especially in case where you accidentally changed the amount to be more than one.

![screenshot_2017-12-20_09-03-48](https://user-images.githubusercontent.com/1495809/34199211-ece688c0-e564-11e7-8f14-3b17457df1fd.png)

_Thanks to cTheDragons

[2017-12-20 09:40] Alys commented on #9734
As an example of how this can be misleading, indescribble (b27804f4-ffbf-441a-b98b-f50bbf1ce1a2) reported (below) that it caused them to spend 48 gems more than they intended. I've reversed the purchases and  I'm raising this issue from medium to important priority.

_"There seems to be a bug in the market :/ I made a bulk purchase of 18 starry night potions, and the gem check popup said '2 gems',

[2017-12-20 12:35] Alys commented on #9729
We have this reported at https://github.com/HabitRPG/habitica/issues/9460 so I'm closing this one as a duplicate.

If you experience any other bugs, please report them in the Report a Bug guild, which you can reach from the Help menu on the website or the Guilds menu item on the mobile app. We can usually give rapid replies within the guild and it's rare that an issue needs to be logged in GitHub.

[2017-12-20 12:35] #9729 closed, assigned to nobody

[2017-12-20 14:19] kawunngg commented on #9731
after resetting my account all equipment won in quests don't show and i don't see my crystal armor anymore, so i guess all the gear i would get with contribution tiers would not be visible. other things like my "take this" set or the unconventional armor and subscriber items are still there.

[2017-12-20 16:33] #9258 closed, assigned to TheHollidayInn

[2017-12-20 17:10] Alys commented on #9567
As @TheHollidayInn  says above, this is intentional so I'm closing this. I'm marking it with the Memorable label so we can point users at it more easily if it's reported again.

[2017-12-20 17:10] #9567 closed, assigned to nobody

[2017-12-20 19:23] Clement134 commented on #9717
Ok, in this case, I totally agree with you.

In order to always have LF, we can create a .gitattributes in the repository (PR #9722), and edit the [wiki](http://habitica.wikia.com/wiki/Setting_up_Habitica_Locally#Windows_Line_Endings) to let windows users clone the repository with LF.

[2017-12-20 19:38] lemoness commented on #8063
I'm discussing this with the mod team.

On Mon, Dec 18, 2017 at 9:13 PM, Keith Holliday <notifications@github.com>
wrote:

[2017-12-20 19:50] lemoness commented on #8063
We'd like this to apply to all users who have created an account in the past day, and this should only apply for messages in the Tavern and Public Guilds. It should not apply to messages in Private Guilds, Group Plans, or Parties.

[2017-12-20 20:38] lemoness commented on #8063
Slight addendum --  If applying this retroactively would make the code more complex to implement, we can just make it apply going forward from the moment it's enabled, and then if we start having issues where people already made accounts, we can modify the feature as-needed based on our real-world experiences.

It's also been brought up that we might want to be able to vary the length of the time

[2017-12-20 22:27] kipraske commented on #9630
I am making good progress on this bug. It has been definitely much more annoying than I anticipated.

I am bringing this up now since next week is the holidays and I am likely going to ignore this for most of the week. So in case I die by eating too much figgy pudding or something next week here is a a working proof of concept of this bugfix: https://github.com/kipraske/habitica/tree/feature/sorta

[2017-12-21 00:13] TheHollidayInn commented on #8063
Hmmmm. I can create two settings:
 - a setting to enable the blocking of chat for new users
 - a setting to set the age of new users to be blocked (eg. 1 day old, 2 day old, etc).

Does that sound correct?

[2017-12-21 12:05] Alys commented on #9043
@BradLugo That sounds reasonable. http://habitica.wikia.com/wiki/Setting_up_Habitica_Locally should be edited too to explain that a different port than 8080 might be selected (in the same way it already explains that vagrant might select a different port than 3000)

[2017-12-21 14:32] BradLugo commented on #9043
Once #9732 is merged in, I'll update the docs to reflect the change

[2017-12-21 16:25] #9392 closed, assigned to TheHollidayInn

[2017-12-22 03:02] lemoness commented on #8063
That seems good to me! The first setting is higher-priority than the second.

On Wed, Dec 20, 2017 at 4:13 PM, Keith Holliday <notifications@github.com>
wrote:

[2017-12-22 09:55] Alys commented on #9731
For the benefit of anyone working on this issue, I **think** the list of gear below will be sufficient to test all possibilities for lost equipment.  I've tried to choose a thorough selection that should test for all possibilities for code bugs, while not being too large to make testing difficult, but I might have missed an important example so if anyone can see anything that should be included, p

[2017-12-22 10:12] paglias commented on #9618
@kartikadur thanks! You can find a list of issues we need help with here https://github.com/HabitRPG/habitica/issues?q=is%3Aopen+is%3Aissue+label%3A%22help+wanted%22

[2017-12-22 16:24] #9734 closed, assigned to nobody

[2017-12-22 18:13] lemoness commented on #9517
We have the design for this now, so I've updated the labels on this ticket to "help wanted." Note that if you would like to work on this, you'll need to post here with an email address that we should invite to our Zeplin account so that you can get all the design details.

<img width="262" alt="screen shot 2017-12-22 at 10 11 02 am" src="https://user-images.githubusercontent.com/3494081/34308163-b

[2017-12-26 01:31] iabrenne commented on #9326
@lemoness and @LulaV14  ,

It looks like the same may issue may apply to the "Repeats" dropdown.  When editing a task, after user clicks on the repeats dropdown, only way to get out of it is to click on the repeats dropdown again. It does not disappear on mouseaway.

Just wanted to point it out !  If you guys agree, perhaps both issues could be fixed :)

Thank you.

![image](https://user-images.gi

[2017-12-26 19:36] spacenate commented on #9233
Whoooops, being forgetful I am afraid! I need to get my Habitica dev env working again, and then I will take a look for any final todos on this PR.

[2017-12-26 19:58] Alys opened #9745 "challenges can have `null` blank gem prize"
_EDIT 2019-07-13: I've modified this post to bring it up to date with the latest information from the comments below._

It's possible for the gem prize for a challenge to be `null` but this shouldn't be possible. It should be either zero or a positive integer. For example, see the challenge shown below.

The fix for this should be done in the API. That will make it impossible for this situation to

[2017-12-26 20:00] Alys commented on #9745
labels updated

[2017-12-26 20:02] Alys opened #9746 "Enchanted Arrmoire equipment lost to death doesn't automatically unpin when regained"
As reported by Il Mago Azzurro ( c073342f-4a65-4a13-9ffd-9e7fa5410d6b ) in the Report a Bug guild:

"when you have an Enchanted Armoire item pinned to rewards and you gain it when buying the EA, the pinned item doesn't unpin on its own"

labels updated

[2017-12-26 23:31] #9690 closed, assigned to nobody

[2017-12-27 04:41] SheepD commented on #9746
I'd love to work on this issue

[2017-12-27 18:48] abatula commented on #9200
I think I figured out the problem, but I'm not sure how to fix it. It seems that set (newValue) is only called when the toggle button for day of month/day of week in the task edit window is changed, but *isn't* called when left at the default value (which happens to be daysOfMonth). So when creating a task, clicking the radial for day of week and then immediately back to day of month causes the se

[2017-12-29 00:40] Alys opened #9748 "can't see exact date-time of guild/party chat messages (including system messages)"
On the old website, when you hovered over the timestamp for a message in Tavern, guild, or party chat, you could see the exact date and time that the message was posted to the nearest second. This no longer happens in the new website but it is desirable.

For example, seeing exact times on system messages helps the players understand events related to buffs, cron, and quest damage.

It might also

[2017-12-29 00:42] Alys commented on #9748
It might also have benefits for group plans, for example if a leader wants to know exactly when a member has claimed a task.

Labels updated.

[2017-12-29 00:58] Alys commented on #9731
At least some of this is still broken. For example, when you try to buy this item:
`	"head_special_2":false, // from Legendary quest`
you see this in the Console:
`Unhandled promise rejection  Object { name: "t", httpCode: 401, message: "You need to purchase a lower level gear before this one.", stack: "" }`

[2017-12-29 08:43] Alys commented on #9748
Another reason why the exact date can matter, from Dewines:

"we really do need to be able to see the exact time for a variety of reasons. I now can't tell exactly which month someone posted in when I come to close challenges. Many of my challenges ask people to post in the relevant guild, but if someone posts early, I can't tell whether their post counts for the current challenge or whether it wa

[2017-12-29 13:06] Alys commented on #8368
I'm closing this because everything that still needs to be done is now documented elsewhere in GitHub (see the links in the top post).

[2017-12-29 13:06] #8368 closed, assigned to Alys

[2017-12-29 16:04] kawunngg commented on #9731
i noticed it too: i could not buy the shaft of the dragon or the nameless helm, but the morningstar. but i did not have enough gold to try again yet and i wasn't sure if it was maybe just some kind of sync error.

[2017-12-29 16:50] DrStrangepork opened #9750 "Party Remove Member window Cancel button blank"
### Description
This may be related/similar to other issue(s), but the Cancel button on the party Remove Member window is white text on white background, rendering the button blank

`<button data-v-3365af0a="" class="btn btn-default">Cancel</button>`

[2017-12-29 17:33] paglias commented on #9750
this is going to be fixed in #9716

[2017-12-29 20:50] melarish commented on #3553
@rakheepatel Sadly that didn't work for me :/ And either way, it would require showing the Bookmarks Bar which would waste screen space.

I'm really keen to see this feature added! I've completely given up on party chat. Ours is a small party, not very active at chatting but super active questing and buffing. I check the chat when I remember, and every time it's a long scroll through system messag

[2017-12-29 21:43] melarish commented on #9619
I'll work on this (my other in-progress ticket should be done shortly, pending a clarification). I'm already on the Zeplin project but can't see these screens (username: melarish)

[2017-12-29 23:16] Alys opened #9753 "Can't view/join//edit/close/delete a challenge you own if you've left its private guild/party"
When a user creates a challenge in a private guild or party and then leaves that group, they are still able to see the challenge under My Challenges or Discover Challenges (which is correct) but they are not able to open the challenge into its own page and so they can't use any of the features that should be available on that page (e.g., to close the challenge). When they try to view the challenge

[2017-12-29 23:16] librarianmage commented on #9745
It looks like this should be impossible:

https://github.com/HabitRPG/habitica/blob/9a3a104ba4f5b2dec89d6f1a782077cefa31a81e/website/server/models/challenge.js#L39

However, this challenge was created this year, and that was updated 2 years ago.

[2017-12-30 00:33] Alys opened #9754 "task wrapping does not occur in Internet Explorer 11 / IE11"
As reported in the Report a Bug guild by Zian (90145e45-71ca-4c83-8ecf-703e40ccdcda):

"The main text in dailies does not word wrap at all in IE11."

![screenshot_2017-12-30_10-33-06](https://user-images.githubusercontent.com/1495809/34450082-d24b2fee-ed4c-11e7-8925-ca33b2aa2b34.png)

[2017-12-30 00:44] Alys commented on #8991
Another example from Sarah P ( 2c5b0fc0-0f79-4d1a-a66a-4f4994596cb6 ). There's nothing in loggly for that User ID at this time.

[code]

[2017-12-30 01:05] Alys commented on #9344
Yes, this is fixed! :tada:   https://github.com/HabitRPG/habitica/pull/9575

[2017-12-30 01:05] #9344 closed, assigned to nobody

[2017-12-30 01:46] Alys opened #9755 ""Discover Guilds" search function shouldn't deprioritise the most relevant results - suggested improvements to search mechanism"
_EDIT May 2018: Using a mongodb text index might be better than anything I wrote below. https://github.com/HabitRPG/habitica/issues/10242#issuecomment-386858117_

In https://github.com/HabitRPG/habitica/pull/9575/files, the guild search feature was changed from a phrase search to an `or` regex search.  We definitely still want that change because it fixed some troublesome search bugs and allowed f

[2017-12-30 01:50] Alys commented on #9755
Something similar should be done for Challenges too, so we could implement the search code as a reusable function.

[2017-12-30 01:55] Alys commented on #9361
I like the idea of using a stopwords package, especially one that handles multiple languages as that one does. When a player has their language set to non-English, we'd use only that language's stopwords for sorting.

Stopwords are also likely to be useful for searching for guilds and challenges: https://github.com/HabitRPG/habitica/issues/9755
When a player has their language set to non-English,

[2017-12-30 01:55] Alys commented on #9755
When a player has their language set to non-English, we should probably use their language's stopwords AND English stopwords for searching (since they could be searching for either language-specific guilds/challenges or guilds/challenges written in English).

[2017-12-30 05:34] ghost commented on #9210
Hey, new here. Would I be able to tackle one or more of these?

[2017-12-30 05:36] Alys opened #9756 "Hair Style, Bangs, and Flower should always have square box to show selected options"
In the Avatar Edit screens, when you first select one of the options for Flower or Bangs or Style (hairstyle), the item is correctly surrounded by a square box to show you which one you're using, like this:
![screenshot_2017-12-30_15-33-22](https://user-images.githubusercontent.com/1495809/34451604-c41c0b80-ed76-11e7-80c8-61bf705006c8.png)

However if you reload the website and then go back to tha

[2017-12-30 10:25] Alys commented on #9210
@Inshabel Yes, thank you, that would be great! Which part(s) would you like to work on? If you'd like to do more than one part, I suggest creating a separate pull request for each. I think that's likely to make it easier (and hence faster) for us to review them.

Just so you know, you don't need to provide your email address for most issues, and I've edited your comment here to delete it in case y

[2017-12-30 10:28] Alys commented on #9726
We have this reported at https://github.com/HabitRPG/habitica/issues/9731#issuecomment-354382219 so I'm going to close this issue. Thanks for reporting it though! If you notice any other bugs, I recommend putting a brief report in the Report a Bug guild first because it's rare that a GitHub issue needs to be created.

[2017-12-30 10:28] #9726 closed, assigned to nobody

[2017-12-30 10:32] #9750 closed, assigned to nobody

[2017-12-30 10:35] Alys commented on #9746
@SheepD Fantastic, thank you! Comment here if you have any questions or run into trouble.

[2017-12-30 11:18] Alys commented on #9745
Relevant code, thank you MathWhiz, especially for finding the update date for that code.

Interestingly though, I've just searched and we have 314 challenges with `null` as the prize. They have `createdAt` values between 2016-05-26 and 2017-12-28, and `updatedAt` values between 2016-05-29 and 2017-12-30, so it's still happening, as you say.

As a guess... those settings for `prize` might not help

[2017-12-30 11:22] Alys commented on #9326
@iabrenne Great point, thank you! We definitely want the fix applied to that as well. I'll update the title of this issue.

[2017-12-30 17:27] MathWhiz commented on #9745
[It appears that null can be forced into 0](
https://stackoverflow.com/questions/21001320/is-null-considered-zero-and-undefined-not-a-number-on-arithmetic-expressions)
as well, which could be why the validation isn't tripped.
On Sat, Dec 30, 2017 at 5:18 AM Alys <notifications@github.com> wrote:

[2017-12-30 18:25] clay-reed-a commented on #9361
Seems I missed the party on this one. I would like to work on this website
tho. @Alys Could you assign me something? I do a lot of front end JS
interactivity stuff, and CSS perfecting.

On Fri, Dec 29, 2017 at 8:55 PM, Alys <notifications@github.com> wrote: