[2015-03-04 18:34] crookedneighbor commented on #4797
@freckles2006 Can you post your user id here? It can be found in [settings > api](https://habitrpg.com/#/options/settings/api) (be sure to copy only the user ID, not the API Token). Also, it'd be helpful to have the group id. That can be found on the party page.

[2015-03-04 18:37] freckles2006 commented on #4797
User ID: 762e505f-a8b4-4fa8-8c89-6ffb5a790db3

Group ID: 98e27972-d8e5-4423-8485-9a03ff8cb6e4

They've started another quest so I'm not sure if that'll affect anything.

[2015-03-04 20:12] elsoan commented on #4797
I am having the same issue with the same quest, and was in the same group.

User ID: 8876a901-7a66-4bd5-8eca-c182478a814a

[2015-03-04 21:59] lemoness commented on #4792
Edited the original post to take out the string requirement :)

[2015-03-04 22:16] bTackt opened #4798 "Join button appearing in a guild I am a part of"
See image. I've been in this guild for around a month and a half, and it's just appeared today.

![bug report image](http://i.imgur.com/hJdSKRC.png)

[2015-03-04 22:36] crookedneighbor commented on #4798
@knittingfrenzy18 I just noticed that too! I'm working on it now.

For the devs interested, on development, wrapping the button in a div with `ng-if="group"` was enough to delay the `::isMember` check for the buttons until the group actually loaded. In production, the isMember function is returning false even when I remove the one-time-binding. Any ideas?

[2015-03-04 22:52] crookedneighbor commented on #4798
Relevant files:
https://github.com/HabitRPG/habitrpg/blob/develop/website/views/options/social/group.jade#L20-L21
https://github.com/HabitRPG/habitrpg/blob/develop/website/public/js/controllers/groupsCtrl.js#L18-L22

[2015-03-04 23:09] crookedneighbor commented on #4797
@freckles2006 and @elsoan You can grant yourself the xp (125) and gold (25) using the fix character values button on [settings page](https://habitrpg.com/#/options/settings/settings). I will award you the items and achievement in the next few minutes.

[2015-03-04 23:09] #4797 closed, assigned to nobody

[2015-03-04 23:23] crookedneighbor commented on #4797
You should have the items now.

[2015-03-05 00:01] crookedneighbor commented on #4798
Okay, looks like the problem is that on the guilds pages, the `members` attribute, which is just an array of ids, gets replaced with an array of simplified user objects, for the first 15 users. So the `isMemberOfGroup` function only works if your user is in that list of 15 users.

https://github.com/HabitRPG/habitrpg/blob/a8cb0fd4e9785f257ca5edbc9c62dba7577d5ca2/website/src/controllers/groups.js#L

[2015-03-05 02:58] SabreCat commented on #4792
If nobody from the aspiring-coders crowd nabs this, I can easily update it next time we're rolling out a pet quest.

[2015-03-05 03:09] lemoness commented on #4792
Sounds good! I'll make a note for the March pet.

On Wed, Mar 4, 2015 at 6:59 PM, Sabe Jones notifications@github.com wrote:

[2015-03-05 03:34] Alys commented on #4796
That button was added in this commit: https://github.com/HabitRPG/habitrpg/commit/6d637e89a28e7c01dc635488ac7eead35e843d01

I'm wondering if it's part of an incomplete change and it was added by accident. It isn't related to the primary purpose of that commit. @paglias?

[2015-03-05 05:41] #4792 closed, assigned to nobody

[2015-03-05 08:45] Alys commented on #4794
This should avoid the need to edit the package.json and bower.json files: [Troubleshooting - npm/npm Wiki --> npm only uses git: and ssh+git: URLs for GitHub repos, breaking proxies](https://github.com/npm/npm/wiki/Troubleshooting#npm-only-uses-git-and-sshgit-urls-for-github-repos-breaking-proxies). Please let us know if it doesn't work and show us the errors and any other relevant material.

[2015-03-05 11:06] Cobradabest opened #4800 "I cannot join a certain challenge"
When I try to join this challenge, I get "Error exception: Resulting document after update is larger than 16777216", and no matter how much I refresh the page, the problem persists. It doesn't do this with any other challenges I've tried joining since, it's just this one...
## <bountysource-plugin>

Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/9222884-i-can

[2015-03-05 11:55] deilann commented on #4800
What challenge?

[2015-03-05 13:12] deilann opened #4801 "Kick from Group Should Generate Message"
now that we've created email alerts and PMs, when a user is kicked from a group, it should generate some sort of notification

It would also be nice if the person doing the kicking can give an optional short user-generated message with the reason for the kick.

[2015-03-05 13:13] deilann opened #4802 "Chat Alerts from Groups Kicked from Persist"
If a user is kicked from a group, any chat alerts they had persist, leaving them with an alert they can click on, generating an error that says they cannot access the group.

When a user is kicked from a group, all alerts for that group should be removed from the user object.

[2015-03-05 13:14] deilann opened #4803 "TRex Mount Images Much Wider Than Others"
![](http://i.snag.gy/v87U0.jpg)

The TRex Mount images are very wide... which causes them to take up two rows in my browser, full screen, at a 1366x768 resolution in Chrome on Windows 7.

[2015-03-05 13:16] deilann opened #4804 "Rock Pets Out of Alignment with Other Pets"
![](http://snag.gy/tRxTc.jpg)

The Rock Pets are out of alignment with the other pets on the user screen in Chrome on Windows 7.

[2015-03-05 13:36] mollyweasley opened #4805 "Dailies not resetting two days in a row"
(my first two days using habitrpg)

I've seen the work-around, just wondering if you're still working on this.  Is this a problem all your users are having everyday?

[2015-03-05 13:36] deilann commented on #4741
Hi @blendax78 ! Is the app working for you again? Did you ever email admin@habitrpg.com and get the gems sorted out?

[2015-03-05 13:42] deilann commented on #4731
@lemoness Didn't someone work on this?

[2015-03-05 13:43] deilann commented on #4726
@lefnire Can we close this?

[2015-03-05 13:46] deilann commented on #4724
@aspie-hufflepuff

It sounds like you're dealing with sync errors. Whenever you click off a task, make sure to let the blue bar completely finish before you click something else. Otherwise, you're sending the server too many requests at once, and while it'll look like you did them locally (what you can see) it won't be saved to the server, so until you sync or refresh, it'll look like you did them

[2015-03-05 13:46] #4724 closed, assigned to nobody

[2015-03-05 13:47] deilann commented on #4723
I think this is not just an issue on the IPad.

[2015-03-05 13:51] deilann commented on #4712
A bit of technical info:

There is no history retained about how much gold is earned (or XP for that matter) so it would require refactoring as adding a graph.

Adding tags.

[2015-03-05 13:53] deilann commented on #4711
Don't we already check for this? I think it's not 100% accurate, but I thought we check to see if the last cron was 24 hours ago or more.

 @lefnire @SabreCat @crookedneighbor

[2015-03-05 13:53] #4707 closed, assigned to nobody

[2015-03-05 13:57] deilann commented on #4691
I'd like to point out that this is a usability issue for me -- it makes it really hard to press that button.

[2015-03-05 13:58] deilann commented on #4689
This appears to be fixed on the latest version of the app.

[2015-03-05 13:58] #4689 closed, assigned to negue

[2015-03-05 14:03] deilann commented on #4673
ping @negue Have thoughts?

[2015-03-05 14:03] #4669 closed, assigned to nobody

[2015-03-05 14:04] deilann commented on #4667
We're getting a lot of comments about this in the Tavern. @negue Do you know if this will be fixed soon?

[2015-03-05 14:07] deilann commented on #4660
I actually do think this is pretty important, specifically for Newbies and LFG.

It would also allow us to "feature" guilds that seem pretty cool but are low down on the list for the month of X to try and idk, help people realize they exist. The more guilds we get, the more some of them drown in obscurity.

[2015-03-05 14:08] deilann commented on #4650
I am sorry that no one got back to you on this? Is this still happening to you? These kinds of errors are usually transient.

[2015-03-05 14:13] btallitsch commented on #4650
I believe it was a server error. I am not seeing his as an issue still

Thanks,
Bill Tallitsch

[2015-03-05 14:15] deilann commented on #4650
Glad to hear it! :+1:

[2015-03-05 14:15] #4650 closed, assigned to nobody

[2015-03-05 15:00] negue commented on #4673
No sorry :(, none, can't test / build without a mac/iphone.

On 5 March 2015 at 15:03, deilann notifications@github.com wrote:

[2015-03-05 15:09] blendax78 commented on #4741
Hello,

Yep, everything's working and the gem issue got sorted out.  Thanks for the help!

[2015-03-05 15:10] deilann commented on #4741
Glad to hear it!

[2015-03-05 15:10] #4741 closed, assigned to nobody

[2015-03-05 15:45] crookedneighbor commented on #4673
Should be fixed in this PR: https://github.com/HabitRPG/habitrpg-mobile/pull/349

[2015-03-05 15:47] crookedneighbor commented on #4667
I believe it is fixed, but I'm unsure if the update for the iOS store was submitted yet or not.

[2015-03-05 15:56] crookedneighbor commented on #4726
@deilann I'm taking over on this, so leave it open for now.

[2015-03-05 15:57] crookedneighbor commented on #4805
@mollyweasley Can you post your user id here? It can be found in [settings > api](https://habitrpg.com/#/options/settings/api) (be sure to copy only the user ID, not the API Token).

[2015-03-05 16:00] mollyweasley commented on #4805
ecb564c6-1f22-40d3-9bdc-e722e06ac2c8

On Thu, Mar 5, 2015 at 10:57 AM, Blade Barringer notifications@github.com
wrote:

[2015-03-05 16:03] mollyweasley commented on #4805
After I wrote the comment, it occurred to me that this morning I may just
not have refreshed my browser yet.  I started to unclick the checks on the
dailies and all of them turned green/yellow after one (or two??).   But
yesterday, for sure, it hadn't reset.  Refreshed browser a bunch of times.

On Thu, Mar 5, 2015 at 10:57 AM, Blade Barringer notifications@github.com
wrote:

[2015-03-05 16:23] deilann commented on #4667
I still can't see the public guilds list of guilds I am not already a
member of on Android.

On Thu, Mar 5, 2015 at 7:47 AM, Blade Barringer notifications@github.com
wrote:

[2015-03-05 16:23] deilann commented on #4726
awesome!

[2015-03-05 16:54] crookedneighbor commented on #4667
Good to know. Thanks!

[2015-03-05 17:08] crookedneighbor commented on #4673
I'll be purchasing a developer's license in the next couple of weeks so I'll be able to test the build.

[2015-03-05 17:14] negue commented on #4667
Looking at the code seems that my plan to get a faster app is now again stopped by duplicated ID error, this time guilds with the same id? how is that possible :/ Thats why it works on my android / account without a problem, but how this sounds like, some accounts are part of guilds with the same id

[2015-03-05 19:29] lemoness opened #4806 "Keys to the Kennels Free After Triad Bingo"
Similar to the Orb of Rebirth becoming free after you have hit Level 100, we want to make Key to the Kennels free after you've achieved Triad Bingo.

@deilann in case you have further comments!

[2015-03-05 19:43] lemoness commented on #4660
Agreed; I would love to have Newbies Guild and Party Wanted right at the
top of the page.

On Thu, Mar 5, 2015 at 6:07 AM, deilann notifications@github.com wrote:

[2015-03-05 19:57] lemoness commented on #4731
They're still being worked on - seems like a pretty slow back-and-forth.

On Thu, Mar 5, 2015 at 5:42 AM, deilann notifications@github.com wrote:

[2015-03-05 19:58] lemoness commented on #4804
It's also worth noting that they overlap the background borders in a way
that looks odd - should I make a separate ticket for that?

On Thu, Mar 5, 2015 at 5:16 AM, deilann notifications@github.com wrote:

[2015-03-05 20:21] crookedneighbor commented on #4804
@lemoness Can you just put a screenshot here?

[2015-03-05 20:27] crookedneighbor commented on #4804
How's this:

![screen shot 2015-03-05 at 2 26 52 pm](https://cloud.githubusercontent.com/assets/2916945/6513855/b2aff7ae-c343-11e4-824b-2bd2fb5514d7.png)

[2015-03-05 20:29] crookedneighbor commented on #4804
Here's a screenshot with the background:

![screen shot 2015-03-05 at 2 29 45 pm](https://cloud.githubusercontent.com/assets/2916945/6513903/188228f4-c344-11e4-8e85-eafb45cf26fb.png)

[2015-03-05 21:03] pjay-io commented on #4673
I'm pretty sure it's fixed because I removed the menu bar

[2015-03-05 21:18] Alys commented on #4711
This is the code where cron checks how far back it was run: https://github.com/HabitRPG/habitrpg/blob/develop/common/script/index.coffee#L1444
and it refers to this daysSince function: https://github.com/HabitRPG/habitrpg/blob/develop/common/script/index.coffee#L70
and this startOfDay function:
https://github.com/HabitRPG/habitrpg/blob/develop/common/script/index.coffee#L58

The latter function us

[2015-03-05 23:53] MMikhail1 opened #4808 "Error Message in Tasks, telling me to go to Chrome ... dashboard? I use Firefox on a home computer"
I have repeatedly gotten this error message, I don't even have Chrome loaded on my computer.

[2015-03-06 00:36] gretchenx7 commented on #4805
Hi,

My tasks haven't refreshed since Sunday either. =[ I've tried different things that I've read that have helped people fix it, but it doesn't do anything for me. The sync button before I go to bed at night doesn't do anything. The only thing that seems to have worked in the past to get rid of this issue is being actively using habitrpg at midnight when the day switches over - but I can't stay

[2015-03-06 01:04] crookedneighbor commented on #4808
@MMikhail1 That's just the default message when there's an error, regardless of what browser you're using. Do you have any additional information about what happens that prompts the message?

@lemoness, regarding the text of the message. We really should change it, because it's very confusing for users that don't use Chrome. File is here: https://github.com/HabitRPG/habitrpg/blob/develop/common/lo

[2015-03-06 01:07] Alys commented on #4808
I'd be in favour of not mentioning the console at all. Much of the time it will be a known error and we won't need the console details. For users who understand the console, there's a decent chance they'll provide the errors even when not prompted, and for other users it can be confusing (to no purpose when we don't need the error messages).

[2015-03-06 01:36] crookedneighbor commented on #4808
In that case, this is the only place that string gets called: https://github.com/HabitRPG/habitrpg/blob/a8cb0fd4e9785f257ca5edbc9c62dba7577d5ca2/common/script/public/config.js#L40

[2015-03-06 03:05] nthomsn commented on #4430
The selector `$("#task-" + task.id)` doesn't find anything and produces an error. The id attributes of the `<li>` of each task are undefined. Don't know how to go about fixing it, without an id each `<li>` looks the same to jquery.

[2015-03-06 05:16] vishwasshrikhande commented on #4805
I too am having the issue with dailies not resetting after midnight, my user ID : b02c933e-b976-430e-b26f-5f85e2125ffc

[2015-03-06 05:19] deilann commented on #4805
Vishwas Shrikhande, you are in the inn. Everyone was checked into the inn
when the servers went down due to an influx of registrations from imgur. If
you go to Social on the website or Settings on the mobile app, you can
check out.

On Thu, Mar 5, 2015 at 9:16 PM, Vishwas Shrikhande <notifications@github.com

[2015-03-06 08:55] vishwasshrikhande commented on #4805
thanks @deilann i too ventured on other releamns and found out i was in the inn. checked out now, thanks for replying

[2015-03-06 10:20] perlsec commented on #3025
This just happened to me. Deleting completed to-dos worked for me too.

[2015-03-06 10:41] MilaFairy opened #4810 "Eclosion potion didnt work"
I used a eclosion potion in a egg, but nothing happened. The potion just desapear! What happened?

[2015-03-06 10:43] deilann commented on #4810
Look in your pets section.

On Fri, Mar 6, 2015 at 2:41 AM, MilaFairy notifications@github.com wrote:

[2015-03-06 11:53] Alys commented on #4805
@mollyweasley and @gretchenx7 If this problem is still happening, please see the first comment in https://github.com/HabitRPG/habitrpg/issues/4313 , inclding the Advice section.

If it happens again tomorrow, please post here again. Let us know if it is all of your Dailies that have not reset or only some of them.

[2015-03-06 19:59] Alys commented on #3029
These two feature branches are no longer in use:
    - [HabitRPG/habitrpg at rebalancing-2014-12](https://github.com/HabitRPG/habitrpg/tree/rebalancing-2014-12)
    - [HabitRPG/habitrpg-shared at rebalancing-2014-12](https://github.com/HabitRPG/habitrpg-shared/tree/rebalancing-2014-12)

Instead we are using this new one:
    - [HabitRPG/habitrpg at rebalancing-2015-03](https://github.com/HabitRPG/

[2015-03-06 20:04] Alys commented on #4474
I have updated this issue to include a link to the new feature branch [rebalancing-2015-03](https://github.com/HabitRPG/habitrpg/tree/rebalancing-2015-03)

[2015-03-06 20:30] lemoness commented on #4801
ping @paglias

How's this?

subj: Removed from Party

You have been removed from your Party, [NAME]. You can form your own party
under Social > Party, or look for a new one in the [Party Wanted Guild](link).

(optional) Your former Party Leader has provided the following message:
[Message]

On Thu, Mar 5, 2015 at 5:12 AM, deilann notifications@github.com wrote:

[2015-03-06 20:59] lemoness commented on #4804
Ah, so by chance, that's a background with a super light border - here are some more in case people have trouble seeing that one:
![screen shot 2015-03-06 at 12 56 18 pm](https://cloud.githubusercontent.com/assets/3494081/6536209/9b49febc-c400-11e4-963e-c896cf533e26.png)
![screen shot 2015-03-06 at 12 56 25 pm](https://cloud.githubusercontent.com/assets/3494081/6536210/9b68d012-c400-11e4-86e1-c7c2

[2015-03-06 21:01] lemoness commented on #4808
Can we replace the error message with something that contains more helpful
advice to the average user?

On Thu, Mar 5, 2015 at 5:36 PM, Blade Barringer notifications@github.com
wrote:

[2015-03-06 21:05] lefnire commented on #4726
i've removed the tour for mobile. I've also added a "Hide" button anyway. Pushing to beta now

[2015-03-06 21:05] #4726 closed, assigned to crookedneighbor

[2015-03-06 21:06] moshner commented on #3921
I would like to add that the icons are too small to comfortably tap. [44px](http://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=1&cad=rja&uact=8&ved=0CB8QFjAA&url=http%3A%2F%2Fwww.smashingmagazine.com%2F2012%2F02%2F21%2Ffinger-friendly-design-ideal-mobile-touchscreen-target-sizes%2F&ei=qwj6VI2_OoaXNuG2hMAO&usg=AFQjCNFqq5q8XX8_VZ9qYWIQB9ngp6ncqg&sig2=g9AgY5QAdZO2gz5umOsZKw&bvm=bv.87611401,

[2015-03-06 21:18] chimericdream commented on #3969
This should be addressed in #3029

[2015-03-06 21:24] MilaFairy commented on #4810
I already did it... But there is no pet .

[2015-03-06 21:37] moshner commented on #3324
I would go even further and recommend that all pets and mounts that have not yet be found be hidden completely. I don't like scrolling on forever to find my few pets that I actually have.

[2015-03-06 21:47] moshner commented on #2076
Is the problem that you don't know if you have enough mana to cast a spell? That is certainly my most common question about it.

If that is what other people think is the problem, can we not 'disable' the spells that we don't have enough mana to cast? They can't be clicked on and are crossed out or something like that.

[2015-03-06 21:54] lemoness commented on #4726
Tour as new player works very well! Some exceptions:

SHOULD BE FIXED PRIOR TO RELEASE:
- ~~Since the gold is not highlighted on the Rewards slide, I'd like to change the text to make it a little more clear what they have to do to proceed:
  "Buy a Reward with the gold you just earned!"~~
- ~~There's no way to know that the tour has ended, since the Next button is also grayed out when there's an a

[2015-03-06 21:59] Alys commented on #4810
Please tell us your User ID (UUID) which you can get from the website at [Settings -> API](https://habitrpg.com/#/options/settings/api) or from the app under Settings.

[2015-03-06 22:03] lemoness commented on #4726
ALSO IMPORTANT: Just realized that if you click "Hide," the tour restarts from the point you were at whenever you refresh or reopen the page. This is fine for new users, but terrible for older ones when combined with the fact that it doesn't remember that they've done it and let them skip ahead.

Maybe we should just temporarily get rid of the "Show Tour" button and link under "Help" until these i

[2015-03-06 22:16] chimericdream commented on #3353
This should be addressed in #3029

[2015-03-06 22:19] lemoness commented on #4726
Another very important reason that we should disable the "Show Tour" ability until we can fix it so there is a "memory" of whether you've taken the tour before - you can get trapped in the Rewards page if you don't have enough gold to buy anything!

Actually, that could also be an issue for a user who hides the tour, spends gold on something, and then refreshes before they can buy the Training swo

[2015-03-06 22:24] lemoness commented on #4726
Here's an idea; might not be great, but could work:
- New users do not have a "Hide button" and must go through the whole tour before they can do other things. If they close the page and reopen it, they're on the same tour.
- Show Tour is temporarily disabled for all users, so only newbies are doing this tour.
- Once we have the other issues fixed, we re-enable the "Show Tour" function. Users who

[2015-03-06 23:11] Alys commented on #4726
That sounds okay to me. I worry though about users quitting permanently if they get bored with the tour and don't know how long it will last. Can we say at the beginning something like "This tour lasts x minutes"?

[2015-03-06 23:17] Alys commented on #3353
No, we decided not to change Stealth in #3029 because it wasn't as critical or as clear-cut as the other skill fixes. Verabird has some good ideas in https://github.com/HabitRPG/habitrpg/issues/4604

[2015-03-06 23:21] Alys commented on #3969
@chimericdream It _is_ addressed in #3029. We'll be allowing mana to be gained from Habits and Dailies, and also lost from negative Habits and skipped Dailies, which ties it much more tightly to productivity.

Also mana regeneration is now a sign-in incentive as described in the Trello card that lemoness linked to.

[2015-03-07 00:26] lemoness commented on #4726
I'm not as concerned about that as I am about the issues with "Hide" and
the fact that the current tour is broken - I want to get this new version
out sooner than later if we can - but I think that once the Hide button
issues are fixed, we should definitely A/B test whether or not having the
Hide button improves or worsens the rate at which we lose users. It may be
that more users quit when there

[2015-03-07 01:26] chimericdream commented on #3969
@Alys Sorry, that's what I meant. I was mainly going through old issues and trying to tag the ones related to #3029 to make it easier to close them after it gets merged. :smile:

[2015-03-07 01:26] chimericdream commented on #3353
Oops. That's right. I got a little trigger happy trying to help update old issues.

[2015-03-07 01:34] Alys commented on #3969
Oh cool! A good initiative! :) Thank you.

[2015-03-07 03:22] crookedneighbor commented on #4803
Related- We discussed reworking the way mounts are displayed on the page to only show the head of the image: #4618

[2015-03-07 05:12] chimericdream commented on #3029
@Alys Is there anything other people can do to help test this out now that it's all merged into one repo?

[2015-03-07 05:17] Alys commented on #3029
@chimericdream When the beta site is available (I'd guess in a few days, but it might be longer), I'll deploy it to there for testing. Until then, if you'd like to test anything on your local install, that would be help!

Note that the final decisions on all the changes made are listed in this comment https://github.com/HabitRPG/habitrpg/issues/3029#issuecomment-68128382 and in the issues linked o

[2015-03-07 05:21] chimericdream commented on #3029
Alright. I'll take a look. I will also try to go back through the issue queue and tag issues that are related to this to make it easier to close them.

On a related note, is there anyone who curates the issues on the GH repo? It seems like there are a number of duplicates, old discussions that may not be relevant anymore, and general questions that might actually just be user error. I suspect that

[2015-03-07 05:26] Alys commented on #3029
@chimericdream  There isn't anyone specifically. We all do a little of that from time to time. Some, such as negue, have done a LOT and have been held in great esteem for it. Do please join their ranks if you wish. :) Cleaning up the issues really does help so we'll be grateful for anything you do!

[2015-03-07 05:28] chimericdream commented on #3029
Will do. The issues are something that I think is _really_ helpful for new contributors like myself (regardless of skill level or specific focus), but once it gets to a certain point it just gets overwhelming and difficult to know where to start.

[2015-03-07 15:12] nthomsn commented on #4730
Been messing with this. I think it does save a lot of space and it doesn't look bad.
![UI](https://cloud.githubusercontent.com/assets/8507561/6541801/0060329c-c4b2-11e4-901c-8c38bfc20a75.png)
It might look better if the title was pulled down right above the input box and centered. Comments?

[2015-03-07 16:24] Cobradabest commented on #4800
Oh sorry, I forgot to mention, it's the "Fight Back Against Depression" challenge on the tavern.

[2015-03-07 16:24] deilann commented on #4800
Can you try again for me now?

On Sat, Mar 7, 2015 at 8:24 AM, Cobradabest notifications@github.com
wrote:

[2015-03-07 16:27] Cobradabest commented on #4800
I still get the error...

[2015-03-07 16:36] deilann commented on #4800
I think the issue is that simply the challenge is too big! @lefnire any
thoughts? I can't join it either.

On Sat, Mar 7, 2015 at 8:27 AM, Cobradabest notifications@github.com
wrote:

[2015-03-07 16:43] hairlessbear opened #4816 ""Fetch recent messages" button hides party members from all lists (invitation, quest participants, & members)"
When a quest invitation has been sent out but the quest hasn't started yet, hitting the "fetch recent messages" button hides some members in the invite list (in my case, 7 members). The members only reappear after refreshing the page. The member's quest status (accepted, rejected, pending) doesn't appear to have an effect on whether they disappear or not. That being said, the same members disappea

[2015-03-07 21:20] ghost commented on #4591
@crookedneighbor finally got around to do it, unfortunately it just hanged and this is the output at that point (after 1h of waiting)

[code]

[2015-03-07 21:55] ojintoad commented on #4591
Is there anything in bulderror.log?
On Mar 7, 2015 4:20 PM, "noakei" notifications@github.com wrote:

[2015-03-07 22:13] Alys commented on #4591
@noakei I was having a lot of trouble with my VM hanging part way through the install process, time after time. The hanging stopped as soon as I freed up a lot of disk space and rebooted the host machine.

[2015-03-07 22:20] Alys commented on #4730
@nthomsn I'm sorry but we decided we would not use placeholders instead of field labels for usability reasons (e.g., Anita's comments above and [this one](https://github.com/HabitRPG/habitrpg/issues/4730#issuecomment-75449591)).  However if you'd like to make another proposal for changes, that would be great! Read through the comments here to see what we decided on, especially these ones: https://

[2015-03-08 01:50] ericbaum opened #4819 "Subscription renewal hourglasses"
Hello,

I subscribed for 3 months consecutive, the time finished and paypal automatically renewed the subscription for more 3 months.
But with the renewal I didn't get a hourglass for the 3 new months.

UUID: ac18def4-67c9-4d8c-9785-80914dbeb5c4

Thank you
## <bountysource-plugin>

Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/9311551-subscription-renewal-ho

[2015-03-08 09:21] ghost opened #4820 "Statistics rounding differently between main view and Stats page"
My main progress bar for mana shows 82 mana. My Stats page shows 83 mana. Hovering the mana bar shows 82,57 (see included screenshot).
This looks like a simple rounding issue, where the mana bar always round to lowest, and the Stats page rounds to the nearest integer.
My User-ID in case it's needed : a75eb6f8-5a29-482f-a971-7aff7438da86

![screenshot - 08032015 - 09 59 09](https://cloud.githubuser

[2015-03-08 10:35] ghost commented on #4820
Having a value of 84,08 does indeed show 84 on both counters, which seems to confirm that the Stats page rounds to the closest integer.

[2015-03-09 00:18] bakami opened #4823 "Language settings."
I can's set the language settings on any site, beside features, and the rest of the advertisement related pages. Even if I do, when I go back to my profile it automatically changes back. shouldn't english be the default one anyway?

[2015-03-09 01:29] Alys commented on #4819
@lefnire As I understand it, when a three-month repeating subscription is first started, the player receives one hourglass straight away. But it looks like they don't get a second hourglass when the automatic renewal happens. Are they supposed to? I would think that they are but I'd want to be sure before considering this as a bug (rather than feature we don't understand properly).

[2015-03-09 01:47] Alys commented on #4823
We don't make English a global default because that would be unfair to our users from non-English-speaking countries. Instead, the HabitRPG website is supposed to pick up the language settings from your PC. If it's not doing that for you, we'd like to know - please tell us what language your PC uses in general.

Are you changing the HabitRPG language from [Settings -> Site](https://habitrpg.com/#/

[2015-03-09 02:28] zbruh commented on #4753
Hey guys.  Apologies if this is not the right place to comment, but I'm having a similar problem with my party.  I recently invited my little brother to try HabitRPG and join my party, and I am not sure if he tried to start a quest or if my previous quest I completed before he accepted the invite somehow became a zombie.  But I logged in and the quest was there to collect items, where he was the s

[2015-03-09 02:34] bakami commented on #4823
I wanted to change it to english, hungarian felt off. It's, I guess a habit of mine.

Yes, I found the site settings, sorry for not paying more attention, and thank you very much for the help.

[2015-03-09 02:35] Alys commented on #4823
No worries! I'm glad it's working for you! :)

[2015-03-09 02:35] #4823 closed, assigned to nobody

[2015-03-09 08:13] Alys commented on #4753
@zbruh I've had a look at your situation. The quest owner was spencerjdlego and he was the only participant in that quest. The quest has finished now (it's a short one - there aren't many items to find). There didn't seem to be anything wrong with the quest. If nothing was displaying in party chat, it was because spencerjdlego hadn't logged in over the days during which the quest was running. Your

[2015-03-09 08:32] Alys commented on #4753
@crookedneighbor Regarding this comment from you: _"We should adjust the boot function to cancel a quest if the user booted was the quest initiator."_

A while back, I did a PR https://github.com/HabitRPG/habitrpg/pull/4002 which, amongst other things, did this: _"If the quest owner has left the quest or left the party and another owner has not been assigned, any party member can now abort the que

[2015-03-09 15:20] jordaofranca commented on #4796
got the same error

[2015-03-09 17:17] lemoness commented on #4819
Yes, they definitely should, since they've paid for another three months.

[2015-03-09 19:32] ericbaum commented on #4819
I imagined that I should receive it with the automatic renewal, because if I canceled the automatic subscription and subscribed again for 3 months then I would receive it.
If the requisite for receiving a hourglass is 3 months of consecutive subscription, it should happen no matter how that period is acquired.

[2015-03-09 19:35] deilann commented on #4819
Baum, I don't think anyone is saying you shouldn't get it -- what people
are asking is if there's another mechanism for when you'd get it -- say,
when the first rolls over and if that's the way it was implemented.
(Recurring subscriptions have their consecutive months updated on the
first, regardless of when they subscribed. So it might be like that.)

On Mon, Mar 9, 2015 at 12:32 PM, Baum notific

[2015-03-09 19:51] ericbaum commented on #4819
Yeah, I know, sorry if I sounded rude on the last post.

[2015-03-09 19:52] deilann commented on #4819
I just wanted to make sure you didn't think we were saying you shouldn't
get one! You clearly deserve it. :) We just need to figure out the
mechanisms that were put in place.

Thank you so much for being a subscriber and working through this with us.
<3 I'm gonna throw you a few extra gems for your patience.

On Mon, Mar 9, 2015 at 12:51 PM, Baum notifications@github.com wrote:

[2015-03-09 19:59] ericbaum commented on #4819
Thank you! =]

[2015-03-09 20:24] paglias commented on #4796
Ops! This was not meant to be committed (not the whole commit, only the
invite button). I'll remove it tomorrow
Il 09/mar/2015 16:20 "Jordão França Barroso" notifications@github.com ha
scritto:

[2015-03-09 20:57] lefnire commented on #4726
@lemoness tour _does_ have memory. "Show Tour" actively resets its memory to step 1, so we can play with this any which way we need. Chance we can do a G+ soon and we can spitball via screenshare?

[2015-03-09 20:57] lemoness opened #4824 "Iron Knight Too Small"
Just started the Iron Knight quest, and the image is sized too small. Looks like Trello resized it somehow?

The correctly-sized image is here:
![monstrous knight revised](https://cloud.githubusercontent.com/assets/3494081/6564220/29438bc4-c664-11e4-9beb-2b5cdafb98dc.png)

[2015-03-09 21:35] #4824 closed, assigned to nobody

[2015-03-09 21:38] crookedneighbor commented on #4796
@paglias No worries, I'll remove it now.

[2015-03-09 21:39] #4796 closed, assigned to nobody

[2015-03-09 22:42] crookedneighbor commented on #4796
@habitrpguser I'm sure we'll actually add this in, in the future. We just don't have the backend stuff ready for it to work right now!

[2015-03-09 22:48] paglias commented on #4796
Yeah, Blade is right. I was working on it and it probably got in the middle
of this other commit. I should use separate branches more
Il 09/mar/2015 23:43 "Blade Barringer" notifications@github.com ha
scritto:

[2015-03-10 04:13] andrewtinka opened #4825 "website gives security certificate warning, then HTTPS authentication"
When I go to https://habitrpg.com in Chrome, I first get a NET::ERR_CERT_COMMON_NAME_INVALID warning:  "This server could not prove that it is habitrpg.com; its security certificate is from *.sandbox.cf3.us. This may be caused by a misconfiguration or an attacker intercepting your connection."

If I proceed, I get the HTTPS authentication dialog box (not the usual HabitRPG login screen).  I didn't

[2015-03-10 04:18] deilann commented on #4825
Cannot reproduce on Windows 7 (Chrome and Firefox) or Ubuntu 14.04 (Firefox
and Chromium).

I know you're running Ubuntu, but I highly suggest that you scan for
malware.

On Mon, Mar 9, 2015 at 9:13 PM, andrewtinka <notifications@github.com>
wrote:

[2015-03-10 04:30] TheRepublic opened #4826 "Cron made boss deal 100% of my health, while all dailies were complete and damage listed did not add up"
We are currently fighting the Seahorse Stallion (for The Dilatory Derby quest, which I bought in gems), and on cron tonight the boss dealt 100% of my full health (50 HP). I had completed all my dailies and it still dealt 8.4 damage to the party, which somehow is equivalent to 50 damage and killed me.

I am not sure why it happens but hope no one else goes through the same thing, and maybe I can ge

[2015-03-10 04:41] Alys commented on #4825
Probably related, this was posted to the Tavern 9 hours ago by K.N. (8e0573bc-bba6-47bd-99b9-2d4feb7b08ae):

"Did anyone else get an HTTPS error coming here? It kept trying to redirect me to another site"

[2015-03-10 04:45] Alys commented on #4826
Please go to your party page (on the website, not the app) and click the Fetch Recent Messages button. Then look in paoty chat for other damage messages from you party mates. Are there any that explain the extra damage?

Note also that when the boss does damage due to your own Dailies, you yourself also take extra damage from the Dailies themselves (the same damage you would take if you weren't on

[2015-03-10 04:52] TheRepublic commented on #4826
Alys,

Thanks for your the quick comment and assistance. I was aware of fixing the values through the site tab, but would be most interested in solving the bug so that no one goes through a similar situation.

The total damage from the party menu was nothing close to the 50 that would kill me. In fact, I had leveled up today, so it was a bit of a surprise lose all the health in one swoop. I had co

[2015-03-10 05:01] deilann commented on #4826
Can you show me a screenshot of your party page? Feel free to blur out any personal chat or names, if you so desire. The bug you're experiencing is this one: https://github.com/HabitRPG/habitrpg/issues/4313 Unfortunately, we're not 100% sure what causes it. The good news is that it doesn't repeat for most users. If it does happen to you again, read the info on what to do if you experience this bug

[2015-03-10 05:33] TheRepublic commented on #4826
Deilann,

Here is a screenshot for your viewing pleasure. Enjoy the comradery and forgive me for the language.

![image](https://cloud.githubusercontent.com/assets/11401368/6569676/22faff5c-c6c5-11e4-9402-83d5c908084c.png)

[2015-03-10 05:39] deilann commented on #4826
You don't use any extensions, like the Chrome extension, do you?

On Mon, Mar 9, 2015 at 10:34 PM, TheRepublic notifications@github.com
wrote:

[2015-03-10 05:40] TheRepublic commented on #4826
Nope, I wasn't aware of them in the first place.

[2015-03-10 06:09] deilann commented on #4826
Okay. Here's what I think happened:

You said you leveled up yesterday. With #4313 what we think is happening is that Habit things you did the Dailies tomorrow (hence them being checked off today, even though you did them yesterday!) so the damage was applied to your pre-leveling up amount of HP. Because in Habit's mind, you didn't level up until _tomorrow_.

I'm going to close this ticket, so you

[2015-03-10 06:09] #4826 closed, assigned to nobody

[2015-03-10 06:22] Alys commented on #4825
@andrewtinka Could you please open up a command prompt (run cmd.exe) and type this:

`nslookup habitrpg.com`

and then hit enter. Please take a screenshot of the command and the entire output and add it to this issue. You'll need to come to github to drag the image into a comment, rather than sending it by email which would not work.

[2015-03-10 06:25] Alys commented on #4825
Or to phrase that in a much more useful way... Don't use cmd.exe, use a Ubuntu terminal. Sorry @andrewtinka!

Thanks @deilann :)

[2015-03-10 07:56] deilann opened #4827 "Cannot see the PM you are responding to"
When you're responding to a long PM, it's very frustrating that the modal it brings up keeps you from seeing the content of the message you're responding to.
## <bountysource-plugin>

Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/9390147-cannot-see-the-pm-you-are-responding-to?utm_campaign=plugin&utm_content=tracker%2F68393&utm_medium=issues&utm_source=githu

[2015-03-10 10:13] YwnaYr commented on #4794
Hi,

I just checkout, and the npm install worked, but now i get this at npm start:

Running "browserify:dist" (browserify) task

Running "stylus:build" (stylus) task

Aborted due to warnings.

npm ERR! habitrpg@0.0.0-152 start: `grunt run:dev`
npm ERR! Exit status 6
npm ERR!
npm ERR! Failed at the habitrpg@0.0.0-152 start script.
npm ERR! This is most likely a problem with the habitrpg package,
np

[2015-03-10 10:19] Alys commented on #4794
@YwnaYr since it's not finding bower components, it's likely that the bower install had errors. Can you show us the full output of your latest install and also the output of `ls website/public/bower_components/

[2015-03-10 11:04] YwnaYr commented on #4794
oh, thank you!

I run "bower install" separately and its now working.

[2015-03-10 11:04] #4794 closed, assigned to nobody

[2015-03-10 11:57] berriganator opened #4828 "All old alerts persist upon logging in to HabitRPG"
Each time I log in to HabitRPG, all the alerts I have ever received are all piled on top of each other, all the way down to the "you've unlocked the drop system" alert. I have to click through a pile of alerts each time to get to my tasks.

I am running Firefox 36.0.1 on a Mac with Better Privacy running that deletes LSO cookies. I do not know if that has anything to do with it.
## <bountysource-p

[2015-03-10 12:05] andrewtinka commented on #4825
No worries.  Two screenshots attached, one using my default DNS, the other using Google.

I had the same symptoms when I tried to reach the website using Chrome on my Android phone _with WiFi_.  When I turned WiFi off and used my phone's 3G network, the site loaded normally.

So it sounds like something upstream of my devices is doing something naughty?  Possibly my wireless router, or something i

[2015-03-10 14:13] crookedneighbor commented on #4828
As a first step, I'd turn off the plugin and see if it still persists. I think that is the most likely culprit.

[2015-03-10 14:20] berriganator commented on #4828
I am not seeing an LSO cookie for HabitRPG, so I don't think it's related.
I just thought to mention it in case.

[2015-03-10 14:41] paglias commented on #4828
@berriganator you're seeing the tour that was shown when you signed up?

I would try anyway with removing all the addons you're using as @crookedneighbor suggested.

Let us know what happens

[2015-03-10 15:28] 3onyc commented on #3815
Should be fixed according to merged pull requests, closing.

[2015-03-10 15:28] #3815 closed, assigned to nobody

[2015-03-10 16:46] lefnire commented on #4825
Just ran a thing, can y'all check again? Note, it may take some propagation so if it's not working now check back in a few hrs? (If it is fixed now, I'll just close the ticket)

[2015-03-10 16:50] greatgreenArcleseizure opened #4830 "Subscription with paypal doesn't work"
Hey

I want to subscribe but i don't use credit cards. Whenever I try to subscribe with Paypal it says -after logging in to paypal-account- that my request couldn't be processed and i should return to habitRPG.

There is no option for paying the subscription via bank-transfer.

User-ID
00c4c436-f7e8-4ed0-9985-47f8966f820c

Browser: Firefox 36.0.1 For Ubuntu Canonical 1.0
Add-on: Noscript (allowing

[2015-03-10 17:17] lefnire commented on #4726
Some thoughts:

When they buy _anything_ it progresses, so we're good there.

As for all the Show Tour / Hide issues, how about this. Memory of last step completed (like currently is). We rename "Show Tour" to "Restart Tour", and it restarts but remembers your last position and inserts as many "Next" buttons as necessary to get you there. Would that work out?

[2015-03-10 17:21] lefnire commented on #4726
And until that's built, I'll just hide "Show Tour" (if that's the agreement)

[2015-03-10 17:45] BananasAreGoodForYou opened #4831 "Quests: No Damage to boss from any Dailies or To-Dos"
So after many days of barely damaging this boss and reading the wiki many times. I think my party is bugged. Neither party members are causing any damage to the boss with completion of any dailies or to-do tasks. The two of us use a combination of phone and web and the items are checking off properly on our web based task pages. The only damage we are doing is a small amount of damage when boss da

[2015-03-10 19:17] Alys commented on #4831
I've checked the damage log for your party and the two people in the quest are definitely doing damage to the boss (e.g., 9.1 and 4.6 damage most recently). This damage is coming from your completed To-Dos and Dailies.

For quests, all damage to the boss is applied when your cron runs - i.e., once per day, usually when you first use HabitRPG for that day (the previous day's damage is applied then)

[2015-03-10 19:35] Alys commented on #4830
Unfortunately this is a known problem for people in some countries due to a bug in paypal that we haven't been able to work around yet. You can however still subscribe by giving yourself a gift subscription - that's a once-off payment for one or more months (your choice) and it gets around the paypal limitation. There's instructions on the wiki at [Subscription: Gift Subscriptions](http://habitrpg

[2015-03-10 20:12] lefnire opened #4832 "Facebook: "You have less than 50 days to upgrade 1 active app to Graph API v2.0 or above.""
[code]

[2015-03-10 20:13] TheHollidayInn commented on #4618
Hello,

I have been working with this ticket and #4803 . I have been able to align the mounts by doing the following:
1. Adding bootstrap column class to the li.customize-menu under the .pets div
2. Adding bootstrap column class to the div template for the actual mount
3. Using a text-align: center property and value pair on the div above
4. Adding margin:auto property value pair on the button tha

[2015-03-10 20:13] #4832 closed, assigned to nobody

[2015-03-10 20:14] lefnire commented on #4832
Above commit seems all that was necessary. The API of both modules seems the same. I've tested both registration & login, and both work. @paglias I verified that email address for facebook is still collected.

[2015-03-10 20:31] lefnire commented on #4746
@davidmanheim thanks! I'm a bit n00b on robots.txt, would this do it? https://github.com/HabitRPG/habitrpg/commit/c5240da81f3d4bbb190150cd62a730800e5ec02e (/static/\* should be allowed for now)

[2015-03-10 20:38] iamnotabanana commented on #4819
Hello,

I have the same problem.

User ID: 138cab15-a063-4a69-9e25-2ae73fc97a98

The habitrpg wikia says that you should get the mystic hourglass immediately after purchase (unless you only subscribe to one month at a time). It doesn't make much sense otherwise.
http://habitrpg.wikia.com/wiki/Mystic_Hourglass

[2015-03-10 21:16] BananasAreGoodForYou commented on #4831
Strength seems to have virtually zero effect on damage. The characters are doing the same varrence of damage despite aimless having  44 additional strength than tofu hero and doing more task during the day. Despite a huge stat difference we are doing the same damage that we were doing a month ago.

[2015-03-10 21:46] Alys commented on #4831
Yes, strength does have a small effect on damage. The formula for damage done to a boss is
`x * (1 + STR / 200)`
where x is a value that's determined from the redness of the task and STR is your total strength from all sources (equipment, attribute points, buffs). You can see from that that strength is divided by 200 before being used to calculate damage.

The best way to increase damage done to a

[2015-03-10 22:04] deilann commented on #4831
Also, if you regularly do your tasks, they're getting bluer... which means
that as your strength increases, the task value also increases, which
lowers the amount of damage they do. So that's probably balancing out your
increase in strength.

On Tue, Mar 10, 2015 at 2:46 PM, Alys notifications@github.com wrote:

[2015-03-10 22:34] andrewtinka commented on #4825
checked at 6:30 PM Eastern Time, March 10; still has certificate error.

[2015-03-10 22:37] Alys commented on #4825
@andrewtinka The problem is most likely that your default DNS server has the incorrect 107.\* IP address. The change that lefnire made was probably a DNS change. DNS changes can take up to 24 hours to propagate (sometimes even longer). Please try again in about 18 hours (or sooner if you like, of course). If it's still not working in 18 hours, definitely tell us then.

[2015-03-10 22:47] VivaLaPanda opened #4833 "Party invite not appearing on party screen"
I recieved an invite from another user, and got the email about it:
Greetings, VivaLaPanda!

Behzad Khoker would like you to join their party on HabitRPG!

Together, you can keep each other accountable for your goals while battling monsters and leveling up your avatars. It doesn’t matter if you’re flossing more or finishing that big assignment – either way, you’ll be earning gold, hatching pets, a

[2015-03-10 22:49] deilann commented on #4833
Have you tried refreshing?

On Tue, Mar 10, 2015 at 3:47 PM, Adrian Smith notifications@github.com
wrote:

[2015-03-10 22:50] VivaLaPanda commented on #4833
Yes

On Tue, Mar 10, 2015, 15:49 deilann notifications@github.com wrote:

[2015-03-10 22:51] deilann commented on #4833
Have you tried logging out and then logging back in?

On Tue, Mar 10, 2015 at 3:50 PM, Adrian Smith notifications@github.com
wrote:

[2015-03-10 22:52] VivaLaPanda commented on #4833
I'm heading to work, bit I'll try it at about 7 and get back to you.

On Tue, Mar 10, 2015, 15:49 deilann notifications@github.com wrote:

[2015-03-10 22:53] deilann commented on #4833
Thanks! Have a good day at work. :)

On Tue, Mar 10, 2015 at 3:52 PM, Adrian Smith notifications@github.com
wrote:

[2015-03-10 23:37] lemoness commented on #4618
So, we already have enough completed mount art for the next two years, so
changing the proportions now would be a massive hassle that would require
redoing a lot of the art. Also, wouldn't changing the mount CSS alter where
avatars are sitting on the mounts?

On Tue, Mar 10, 2015 at 1:13 PM, TheHollidayInn notifications@github.com
wrote:

[2015-03-11 03:07] crookedneighbor commented on #4618
@lemoness Not if the change was made specific to the stable page, ie: `.stable-page-class .wolf-class`, then it would just affect the sprites in the stable page.

[2015-03-11 03:22] #4265 closed, assigned to snicker

[2015-03-11 03:44] FoxWhiskers commented on #4819
Hello! So my 3 month subscription just renewed too, and I also do not have the hourglass, plus, I do not have raised gem cap (since this is the second round of 3 months, im guessing it should be at 35 now?) does this mean i wont get the 5 extra this month?

[2015-03-11 04:22] TheHollidayInn commented on #2380
I was working on another ticket and found this issue. I create a pull request which does the gem check during the $watch and on save phase. Does my pull request fix this issue as well: https://github.com/HabitRPG/habitrpg/pull/4836 ?

[2015-03-11 05:36] VivaLaPanda commented on #4833
OK, I relogged to no avail.

[2015-03-11 05:41] Alys commented on #4833
Has the quest already started? Go to the party page, reload it, and look at the quest box on the left. Is there a list of participants with "accepted", "rejected", "pending" next to their names (invitation stage), or just a list of participants with no annotations (quest has been started by the quest owner therefore the invitation is no longer current)?

If that doesn't resolve your question, we w

[2015-03-11 05:48] VivaLaPanda commented on #4833
@Alys , the problem is that I'm not in a party to begin with. The party page just has the thing to make a new party.

[2015-03-11 05:56] Alys commented on #4833
Sorry! Party invitation, not quest invitation!

I'd guess that they withdrew the invitation. However as I said, there's nothing we can do to investigate this properly without extra information from you - please tell us your user ID.

[2015-03-11 06:01] VivaLaPanda commented on #4833
UID: 3dd73d43-c0fa-47fc-bfe5-1b957daf88ca
Link in the party invite email: http://mandrillapp.com/track/click/30295795/habitrpg.com?p=eyJzIjoiVTR5TGRHdG1jNmVZb1UxX3h6bU81U1F6WnpFIiwidiI6MSwicCI6IntcInVcIjozMDI5NTc5NSxcInZcIjoxLFwidXJsXCI6XCJodHRwczpcXFwvXFxcL2hhYml0cnBnLmNvbVxcXC8_dXRtX21lZGl1bT1lbWFpbCZ1dG1fc291cmNlPXRyYW5zYWN0aW9uYWwmdXRtX2NhbXBhaWduPW1lc3NlbmdlcnMlNDBoYWJpdHJwZy5jb20jXFxcL29wdGl

[2015-03-11 06:09] Alys commented on #4833
You have no pending invitations. If one was sent to you using your UID, then either the party that sent it cancelled it or someone using your account (e.g., if you left your PC unattended) rejected it.

If the invitation was sent using your email address, it might be a different email address than the one you use with HabitRPG.

[2015-03-11 09:45] Alys commented on #4397
It's possible that this issue has been fixed (or at least fixed for some people) by this commit made today: https://github.com/HabitRPG/habitrpg/commit/676562cfadd7b6721d054ccb18842933ec2f7e8c. Is anyone still seeing flat emoji or black-and-white emoji? Please reload the website before responding because that might make a difference!

[2015-03-11 09:47] janey-p commented on #4397
All's well on my end! :)

[2015-03-11 09:55] kawunngg commented on #4397
i also see colored emojis again! yay! (win 7, firefox)

[2015-03-11 10:32] greatgreenArcleseizure commented on #4830
A friend of mine told me about the possibility of giving yourself a gift subscription. I have done this a few weeks ago, but have problems with it, too. I will open a new thread because of this.

[2015-03-11 10:39] Alys commented on #4830
Thank you!

I'll close this one because we're tracking the paypal issue at https://github.com/HabitRPG/habitrpg/issues/3381

[2015-03-11 10:39] #4830 closed, assigned to nobody

[2015-03-11 10:44] greatgreenArcleseizure opened #4837 "Gift subscription doesn't hide Ads or lets me buy gems -- subscription / gem purchase screen needs to be clearer"
I have used the workaround for the paypal-bug in foreign countries.
I gave myself a gift subscription for a whole year but it doesn't hide ads and i still have no possibility to buy gems.
All that changed was that i recieved 20 gems.

User-ID
00c4c436-f7e8-4ed0-9985-47f8966f820c

Browser: Firefox 36.0.1 For Ubuntu Canonical 1.0
Add-on: Noscript (allowing HabitRPG, Github and Stripe.com)
System: Ub

[2015-03-11 10:46] Alys commented on #4837
So, as soon as you made the transaction, 20 gems appeared in your account - is that correct?

Can you tell us how you made the transaction? For example, what did you click on first, then what after that, ...?

[2015-03-11 10:58] greatgreenArcleseizure commented on #4837
Jep, that is correct. It was back in January though but i didn't notice as i use adblock and didn't have the need to purchase gems until now.

Back then there was an option to send a gift to yourself. I clicked on my profile and a menu popped up where i could see my stats and achievements. I clicked on the "send gift" button and chose "12 Month(s): $48".
I paid via paypal which worked fine and the

[2015-03-11 11:03] Alys commented on #4837
Okay, that's very odd. Your account shows no sign of a subscription existing (that's why you're still seeing ads and you can't buy gems). Also gems appearing by themselves is not something that happens when you buy a subscription (instead, you get given 20 gems if you make a once-off non-subscription donation of $5).

Do you still have the receipt that shows you spent $48? If so, please email it t

[2015-03-11 11:10] greatgreenArcleseizure commented on #4837
Are the transaction details from paypal enough?

[2015-03-11 11:11] Alys commented on #4837
Probably, but I can't say for sure. Definitely send them if that's what you have!

[2015-03-11 11:11] greatgreenArcleseizure commented on #4837
Thank you. :+1:

[2015-03-11 13:17] phillipthelen opened #4838 "Task creation does not check for duplicate IDs"
When creating a task with the API, you can provide an id for the task. When this id already exists, a new task with the same id is created. Both tasks are now displayed in the web interface, but all interactions happen on one of the tasks (I think it's always the oldest). Resolving the issue is only possible by deleting one of the tasks (again, this may not be the one the user wanted to interact w

[2015-03-11 16:16] Alys commented on #4838
For reference for anyone unfamiliar with the [API](https://habitrpg.com/static/api), this is using `POST /user/tasks`

I think rejecting the task with an informative error message would be the best option. Two tasks with the same ID is clearly an error situation, so it makes sense for the API to throw an error.

If the third-party tool wants to modify an existing task, it can use `PUT /user/tasks/

[2015-03-11 16:40] aedunn6 opened #4839 "Quest Invitations on Mobile"
Sorry if this is a duplicate -- I see that there are a [couple](https://github.com/HabitRPG/habitrpg/issues/4279) [issues](https://github.com/HabitRPG/habitrpg-mobile/issues/283) open for adding push notifications to mobile, but those are more general.

We have a couple party members that primarily use the mobile version of Habit, rather than desktop version. They are always the last members to ac

[2015-03-11 16:42] Dewines commented on #4397
My first thought on logging in this morning was, "All the emojii are back!" The are in splendid colour again on my computer (Win 8.1 and viewed in Firefox).

[2015-03-11 19:23] lefnire commented on #4819
Indeed, the current mechanic is: it applies advance consecutive counters
only on first checkout, and subsequent consecutive counters act as if
you're month-to-month. As pointed out in this thread, that's incorrect - an
oversight on my part, apologies. I can't look into it just yet, hopefully
in coming days - anyone handy?

On Tue, Mar 10, 2015 at 9:44 PM, FoxWhiskers notifications@github.com
wrote

[2015-03-11 20:37] lefnire opened #4840 "Canceling subscription inconsistent with keeping block subscriptions"
From a user:

I've seen this from time to time, but haven't pegged the issue (plus it's inconsistent)
## <bountysource-plugin>

Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/9453031-canceling-subscription-inconsistent-with-keeping-block-subscriptions?utm_campaign=plugin&utm_content=tracker%2F68393&utm_medium=issues&utm_source=github)** We accept bounties via

[2015-03-11 21:26] lemoness commented on #4397
Confirmation from some users who've reached out on social media :)

On Wed, Mar 11, 2015 at 9:42 AM, Castanwydden notifications@github.com
wrote:

[2015-03-11 21:47] BananasAreGoodForYou commented on #4831
Thank you both for your help. We used some warrior skills yesterday and Aimless' damage jumped from 7 to 37!

[2015-03-12 00:14] lefnire commented on #4789
can't for the life of me figure this one out. Thought a couple of my commits might be culprits, due to timing (https://github.com/HabitRPG/habitrpg/commit/8852ac6 & https://github.com/HabitRPG/habitrpg/commit/c3bb42b) but they check out for the tested emails. The server emails _me_ my password just fine, I'm not seeing any NewRelic errors (there are some "email not found" 500s, I made that 404 [he

[2015-03-12 00:17] Alys commented on #4789
I'd be interested in at least looking at this. No promises that I'd be able to solve it. Other devs should definitely not feel inhibited from also investigating!

[2015-03-12 00:25] #4397 closed, assigned to nobody

[2015-03-12 00:28] lefnire commented on #4789
A thought: TMK the system is using @paglias's Mandrill setup. if a user has clicked "unsubscribe" to opt out of a newsletter email, does that preclude them from forgot passwords? Should I ask users experiencing this issue to chime in on this thread whether or not they've unsubscribed from HabitRPG emails (newsletters, reminders, etc)?

If this ends up being the case, we can just go back to using t

[2015-03-12 03:12] VivaLaPanda commented on #4833
Well, I found the issue. Apparently the user who sent me an invite's account has disappeared.

[2015-03-12 03:13] #4833 closed, assigned to nobody

[2015-03-12 03:42] andrewtinka commented on #4825
Checked at 11:30 PM Eastern, March 11; still has certificate error.

nslookup returns 107.21.115.213, 54.243.81.24, 54.243.176.203 .

[2015-03-12 04:49] TheHollidayInn commented on #4602
Is this ticket a duplicate of https://github.com/HabitRPG/habitrpg/issues/1797 ?

[2015-03-12 05:24] TheHollidayInn commented on #1809
Great idea! Pull request submitted: https://github.com/HabitRPG/habitrpg/pull/4842 .

[2015-03-12 06:00] Alys commented on #4831
Thanks for letting us know!

[2015-03-12 06:00] #4831 closed, assigned to nobody

[2015-03-12 06:10] sparkhee93 opened #4843 "Checklist won't be numbered correctly due to standard markdown list behaviour"
My User ID:  36c80ade-4469-4e2e-af98-cc86e2403d03
Browser/Operating system: Chrome Version 40.0.2214.115 m  / Windows 8.1

When I try to create a checklist and number it like the format below:
![before](https://cloud.githubusercontent.com/assets/6036105/6612981/dd05ac78-c853-11e4-818e-abfed7997c42.PNG)

And once I save it, I get this:
![after](https://cloud.githubusercontent.com/assets/6036105/661

[2015-03-12 06:26] Alys commented on #4843
@sparkhee93 Tasks and checklist items use markdown, in which a leading digit followed by a period has a special meaning - it always means that markdown should create a numbered list with the correct numbers automatically inserted by markdown itself. This has benefits when you are using markdown in a text document (you don't need to worry about counting the list items yourself and can move the item

[2015-03-12 06:33] sparkhee93 commented on #4843
@Alys I tried what you suggested but the escape character won't work.

For example, when I did "\1. a", it just showed up as "\1. a" directly.

[2015-03-12 06:38] Alys commented on #4843
Oh darn, that's annoying! Sorry about that. I'll have a look around and see if there's some other way around it.

[2015-03-12 06:47] Alys commented on #4843
Try putting the slash before the period like this: `2\. second item`

[2015-03-12 06:50] sparkhee93 commented on #4843
@Alys Yup that seems to have done it. Thanks!

Before I close the issue, do you know if this is something that will be modified for the users' sake so that escape character is not needed?

[2015-03-12 07:00] Alys commented on #4843
To be honest, I'm not sure it could be easily. We use a third-party library for converting markdown and I'm not sure if it provides configuration options. Modifying the third-party code would be undesirable because we'd have to repeat it every time the library was updated. Also as a general guideline, it's usually best to not break standard behaviour for widely-used tools such as markdown (althoug

[2015-03-12 07:52] isailey opened #4844 "mobile app not synching"
I couldn't use my computer prior to midnight to close out my dailies. I tried to close them out on my android phone.  To do list items were very old on the phone this morning. I tried syncing but it didn't seem to sync.  I tried syncing again prior to closing out all the dailies that were showing on the mobile around 11:30 or 11:45pm, though I'm not sure they were synced.  When I logged into habit

[2015-03-12 08:29] Alys commented on #4844
I'm very sorry that happened to you! You were hit by this bug: https://github.com/HabitRPG/habitrpg/issues/4313

If you look in the first comment, you'll see an "Advice" section. That has information about resetting everything back the way it should be. Ask here if you have any questions about that!

[2015-03-12 09:33] deilann commented on #4843
Definitely think it shouldn't be modified.

On Thu, Mar 12, 2015 at 12:01 AM, Alys notifications@github.com wrote:

[2015-03-12 09:41] deilann commented on #4602
No. #1797 is about making sure when you click on a link to a challenge you
don't have to scroll to see it. This ticket is about when you click on a
link to a group challenge from a group, the filters should show only
challenges from that group.

On Wed, Mar 11, 2015 at 9:50 PM, TheHollidayInn notifications@github.com
wrote:

[2015-03-12 10:11] iiieeeoo commented on #4313
I got to experience this bug yesterday/today!
I checked off a few things during the day which seemed to work fine, then I checked my last two dailies at maybe 2200GMT. The DDT didn't show them as completed despite refreshing and refetching a few times, but it was the first day I'd used it so I didn't know that was unusual. I only refreshed the DDT, not Habit. At about 2330 I went to bed.
When I go

[2015-03-12 11:35] evangineer commented on #4789
So does this mean that utils.txnEmail() is specific to Mandrill?  I've just checked the Mandrill API docs and I can't find /job in them.

That said, I received a HabitRPG email today that was sent using Mandrill.  So I'm baffled.

[2015-03-12 13:11] chimericdream commented on #4838
I submitted a pull request for this, but don't have a setup where I can easily test the remote API. @vIiRuS, if you have HabitRPG running locally, can you pull my branch and verify the fix?

[2015-03-12 13:19] chimericdream commented on #3029
@Alys Should we also start updating (or at least tagging) the pages in the wiki that will need to be changed as a result of this? Right now there is a lot of information on the wiki that will soon fall under the category of "really really wrong". With the recent influx of new players, it might ease the shock of such a large change if they are leaning about the classes and skills from the wiki.

[2015-03-12 13:24] ghost opened #4846 "negative subscription credit"
It says I have "-2.95 months of subscription credit." I use to donate monthly, then I canceled, and now I am donating again monthly.
![snapshot2](https://cloud.githubusercontent.com/assets/5521453/6618420/3d25d5d4-c899-11e4-8fbf-c1f3295b1571.png)

Shows same thing in Firefox and Chrome.
## <bountysource-plugin>

Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/

[2015-03-12 13:26] TulinKei opened #4847 "Accepted challenge - Tasks are not automatically added."
Hello,
I have understood when you join a challenge, tasks should be automatically added in the tasks section. This has not happened for me.

I've joined 365 Less Things and Self Discipline. Would it be possible to assist please?

I also tried to ask a question, as I thought perhaps I was doing something wrong, but the page only says this:

{{Math.ceil(user.stats.hp)}} / 50 (This is in the Red bar)

[2015-03-12 13:34] chimericdream commented on #4758
I think that short of an overhaul of the chat system as mentioned in the last couple lines of @Alys's response, I also believe that the current method of displaying names in chat is a good way to go. In my case, I haven't changed my name (and don't foresee doing so), but I have enjoyed watching the background color of my username change as I give back to the HabitRPG community.

I believe that som

[2015-03-12 13:38] ghost commented on #4313
experienced this problem this morning, I will remember to sync before closing the web page now

[2015-03-12 13:41] deilann commented on #4847
Clear your cache. Reload the page.

This is likely completely unrelated to the challenge, and once you've done
this, everything should be as it should be, including the challenge tasks.

On Thu, Mar 12, 2015 at 6:26 AM, TulinKei notifications@github.com wrote:

[2015-03-12 13:43] deilann commented on #4758
I think the easiest solution is to do what Steam does -- keep a record in
the profile of the names the user has used called "Aliases". I think we'd
be fine keeping the last five or so.

I think the posting in guilds solution would be really annoying, especially
in the larger guilds and with users who are in a lot of guilds.

On Thu, Mar 12, 2015 at 6:34 AM, Bill Parrott notifications@github.com
wr

[2015-03-12 13:53] chimericdream commented on #4758
@deilann I can understand that. I think it's definitely one of those features that can be done "right" in a lot of different ways, and it's hard to figure out which one the most people agree on. :-)

[2015-03-12 13:56] deilann commented on #4758
Remember that in a good week, I might change my name twice.

On Thu, Mar 12, 2015 at 6:53 AM, Bill Parrott notifications@github.com
wrote:

[2015-03-12 14:03] Atomk commented on #4522
@TheHollidayInn "Card", "Apply" and "Promo Code" translations are still missing in your screenshot, my fault, I should have marked it in the picture I uploaded. Thank you anyway!

[2015-03-12 14:33] TulinKei commented on #4847
Thank you for the fast response Deilann. I have noticed I am unable to view my tasks now.
I have cleared the cache and have reloaded the page. Unfortunately my task page now has the same error as the 'ask a question' page.
{{Math.ceil(user.stats.hp)}} / 50
{{Math.floor(user.stats.exp) | number:0}} / {{Shared.tnl(user.stats.lvl) | number:0}}

[2015-03-12 14:35] deilann commented on #4847
It's a LocalStorage issue then.

Try what @paglias says to do in this comment:
https://github.com/HabitRPG/habitrpg/issues/4640#issuecomment-73131349

(also, it's deilann, not Deilann)

On Thu, Mar 12, 2015 at 7:33 AM, TulinKei notifications@github.com wrote:

[2015-03-12 14:44] TulinKei commented on #4847
Hi deilann,

I've followed the instructions, but I'm afraid the console gave me this error:

[Exception... "File error: Corrupted"  nsresult: "0x8052000b (NS_ERROR_FILE_CORRUPTED)"  location: "JS frame :: debugger eval code :: <TOP_LEVEL> :: line 1"  data: no]

I've tried refreshing the page and going to the static front page to log in, but it is to no avail at the moment.

Sorry to be a pain. And

[2015-03-12 14:47] deilann commented on #4847
Try doing it this way:
https://github.com/HabitRPG/habitrpg/issues/4379#issuecomment-67117280

On Thu, Mar 12, 2015 at 7:44 AM, TulinKei notifications@github.com wrote:

[2015-03-12 14:57] TulinKei commented on #4847
Thanks! I've opened the Firefox in a new private window and it seems to work fine now. I don't mind logging in private windows to access the website instead. I appreciate your help, and your swift replies!

[2015-03-12 15:04] evangineer commented on #4789
The relevant bit of code appears to be api.resetPassword() in website/src/controllers/auth.js which makes a call to utils.txnEmail().

I presume the old node module that @lefnire is referring to nodemailer which is used in utils.sendEmail.  Where can I find an example of HabitRPG application code that calls utils.sendEmail?

[2015-03-12 15:06] TulinKei commented on #4847
Unfortunately I am still having problems. I've been trying to join a guild challenge and I have been getting this error:

Please reload, "Error Runner error: Overflow sort stage buffered data usage of 33991221 bytes exceeds internal limit of 33554432 bytes" (see Chrome console for more details).

[2015-03-12 15:24] deilann commented on #4847
That's this issue: https://github.com/HabitRPG/habitrpg/issues/4800

On Thu, Mar 12, 2015 at 8:06 AM, TulinKei notifications@github.com wrote:

[2015-03-12 15:32] paglias commented on #4789
So utils.txnEmail is a standard function that makes a request using `request` module to our email server where all the texts are stored and the emails are sent using Mandrill's API.

@lefnire the email address linked to that id is not blackilisted or unsubscribed but I just tested too and it doesn't go through

[2015-03-12 15:39] paglias commented on #4789
And not a duplicate...

[2015-03-12 15:40] TulinKei commented on #4847
Thank you

[2015-03-12 15:40] evangineer commented on #4789
So the email server code is effectively a wrapper for the Mandrill api?  Where is the code for the email server @paglias?

[2015-03-12 15:44] paglias commented on #4789
@evangineer yep, basically a wrapper plus it runs a few backgound tasks related to emails. The code is actually private but it's a quite simply job queue backed by [Kue](https://github.com/learnboost/kue). I'm quite sure there are no errors there, it simply seems the request is not getting to the email server at all

[2015-03-12 15:57] paglias commented on #4789
@evangineer @lefnire did some debugging: the email server is never hit with password requests from some users

[2015-03-12 16:07] evangineer commented on #4789
Thanks @paglias, that makes things clearer.  Limits my ability to help with debugging though.

[2015-03-12 16:47] kfridge commented on #4252
My party completed the Vice pt.2 quest and only about half of the party received the completion rewards.  (We are a very large party of about 50, so I don't have the exact count.)

My UUID:2b033a83-72e8-4d90-abc4-0b0e9d50a3e5
Party ID: 98e27972-d8e5-4423-8485-9a03ff8cb6e4

[2015-03-12 17:27] paglias commented on #4789
@evangineer basically the code for emails is this one:

[code]

I've removed the non important parts but as you can see it's quite simple. If @lefnire is ok I'm going to connect my local instance to the main database and debug from there but won't have time till tomorrow

[2015-03-12 17:35] TheHollidayInn commented on #4801
Good idea.

@lemoness I like the message. Should we have options to state if the reason for kick was a negative reason, such as not following guidelines, and then inform the kicked member?

[2015-03-12 17:47] lefnire commented on #4789
@paglias yeah, do whatever you need. It's weird that it's not hitting the server, since it's working for my email address (is it not working for yours?) and the code is using the email server function call. Thanks for looking into this btw matteo

[2015-03-12 17:59] TheHollidayInn commented on #4602
Ah, well it seemed similar because of what @crookedneighbor said the intended behavior is.

[2015-03-12 18:10] paglias commented on #4789
Yeah for me it's working. With non hitting the server I meant that it
doesn't create a job there but since it's not producing an error maybe it's
not getting there at all... I don't know
Il 12/mar/2015 18:47 "Tyler Renelle" notifications@github.com ha scritto:

[2015-03-12 18:46] lefnire commented on #4789
In the mean time, I'll be manually reseting the password for any users who have emailed me about this issue. If you haven't gotten an email from me by the end of today, email me at admin@habitrpg.com

[2015-03-12 19:12] evangineer commented on #4789
@paglias Thanks for the code snippet, it's clearer to me now how that part of HabitRPG works.  I've been scratching my head for days over that.

[2015-03-12 19:13] paglias commented on #4789
I think eventually we could eventually open source it, there isn't anything
secret but being very specific to habit I don't know how useful it could be
Il 12/mar/2015 20:12 "Mamading Ceesay" notifications@github.com ha
scritto:

[2015-03-12 19:22] lemoness commented on #3029
I think that is a very good idea.

On Thursday, March 12, 2015, Bill Parrott notifications@github.com wrote:

[2015-03-12 19:25] chimericdream commented on #3029
@lemoness I don't know how much time I'll have tonight or tomorrow, but if no one else has started before then, I'll see if I can spend a couple hours over the weekend going through the wiki and the issues here updating/tagging things that will be affected. Should make it easier to close issues and hopefully reduce at least some confusion.

[2015-03-12 19:40] evangineer commented on #4789
@paglias I think anything that makes it easier to test and debug HabitRPG from end to end as a whole system is a good thing.  Right now, you're the only person in a position to debug issues relating to the email server code, the current issue being a case in point.

[2015-03-12 20:44] TheHollidayInn commented on #1719
I have submitted a pull request for this. I'm not sure if that notifies you to see the fix.

[2015-03-12 20:55] Alys commented on #1719
@TheHollidayInn The moderator/admin team gets an email for every comment and every pull request and every new issue, so we always get notified.

If your PR includes a statement such as `fixes https://github.com/HabitRPG/habitrpg/issues/1719` then it will be automatically linked to the issue and vice versa, and it also means that the issue will be automatically closed when the PR is merged.

[2015-03-12 22:38] paglias commented on #4789
I mostly agree but the current code would need some cleanup before being
made public because right now it isn't ready to be published as it is. Also
we should get the ok from @lefnire (he too has access to the code if
needed) who should have the last word.
Il 12/mar/2015 20:40 "Mamading Ceesay" notifications@github.com ha
scritto:

[2015-03-12 23:24] lefnire commented on #4789
By all means open-source it, as long as there aren't credentials in the
repo or anything sensitive (I assume it's using Heroku config vars)

On Thu, Mar 12, 2015 at 4:38 PM, Matteo Pagliazzi notifications@github.com
wrote:

[2015-03-13 00:05] Alys opened #4848 "inbox "Clear All" needs confirmation dialog; "Clear All" and "Opt Out" should be at top of page"
Currently, in a player's inbox, there is a "Clear All" button and an "Opt Out" checkbox, but they both appear at the bottom of the messages so it's really easy to forget they are there. I'd like to see them at the top of the page.

BUT BEFORE we do that, we should make "Clear All" have a confirmation screen, because when it's at the top it will be too easy to click on accidentally (currently, one

[2015-03-13 00:52] lemoness commented on #4848
I think these are very good ideas!

On Thu, Mar 12, 2015 at 5:05 PM, Alys notifications@github.com wrote:

[2015-03-13 01:14] rdhammond commented on #683
I think the second version is the way to go, too. As much as I hate creating two entry points, it prevents breaking backwards compatibility.

Mongo should be able to do the heavy lifting across all the players' tasks, so this seems like a good starting point for my first bugfix :)

[2015-03-13 01:34] Alys commented on #683
I like the idea of an alias (I'd use it myself VERY frequently) but @rdhammond I think we should hear opinions from staff and other developers before you work on this, otherwise you might find that your work is never used. Our top developers will receive this message (and yours) in an email.

My initial gut reaction is that the extra complication could make our code less reliable - I might well be

[2015-03-13 01:43] Alys commented on #4687
I'm sorry - I never replied to your question about complaints from the creators! It should be fixed by https://github.com/HabitRPG/habitrpg/issues/4848 (move the Opt Out option to a more obvious spot) and we've already had one person interested in working on that.

[2015-03-13 03:15] rdhammond commented on #683
Oh okay. Mostly I'm just raring to go and grabbing the oldest things off the minor changes I can find. :) I'll filter out feature requests for the time being.

[2015-03-13 03:16] deilann commented on #683
Thank you for thinking to do that! I've been trying to do more labeling, so
folks can do exactly that. It just gets so repetitious!

On Thu, Mar 12, 2015 at 8:15 PM, R. Daniel Hammond <notifications@github.com

[2015-03-13 03:20] Alys commented on #4848
In the Aspiring Coders guild, katinahat (5a43ad99-f151-4875-964d-b2ce2564512f) has expressed interest in doing this, so we'll consider this claimed by them unless they say otherwise.

[2015-03-13 03:22] Alys commented on #683
@rdhammond I like the way you are thinking! :) Although to be honest, the newer issues are probably more relevant to us now. You are most welcome to work from either end of the queue, but don't feel that the older ones need to be completed first!

Also, there's no need to filter out feature requests in general. Several of the recent feature requests in github are things we very much want. It's jus

[2015-03-13 03:49] Alys commented on #683
@rdhammond Also, there's no need to filter out feature requests in general. Several of the recent feature requests in github are things we very much want. It's just that this one particular feature request causes me concern. So as a general rule: don't bother trying to distinguish between feature requests and bug fixes. :)

[2015-03-13 03:55] stillsnowedin commented on #4848
That's me (katinahat). I've got it mostly done, but I can't figure out which controller to put my 'delete messages' function in. First I thought it was groupsCtrl, but that isn't working... then I saw there are 7 other controllers in the file and thought it might be one of them... except none are for the inbox! Bah. Soon as I find the right spot, the actual coding will be easy, haha.

[2015-03-13 04:15] stillsnowedin commented on #4848
Nevermind, I was right all along! Just had a typo. Should be able to finish this tonight.

[2015-03-13 05:28] davidmanheim commented on #4746
I'm not sure; there are probably utilities for testing what it would do.

On Tue, Mar 10, 2015 at 1:32 PM, Tyler Renelle notifications@github.com
wrote:

[2015-03-13 06:52] neoascetic commented on #3806
+1 on this, please fix ASAP, we are dying there!

[2015-03-13 09:26] paglias commented on #4789
Yeah it's using Heroku vars for credentials. I'll do some cleanup and
publish it for the weekend
Il 13/mar/2015 00:24 "Tyler Renelle" notifications@github.com ha scritto:

By all means open-source it, as long as there aren't credentials in the
repo or anything sensitive (I assume it's using Heroku config vars)

On Thu, Mar 12, 2015 at 4:38 PM, Matteo Pagliazzi notifications@github.com
wrote:

—
Re

[2015-03-13 09:59] Alys commented on #4252
@kfridge Your party's next quest has started so I can't tell who was in the previous quest. There's three ways I can handle this:

1. Give the Vice 2 rewards to everyone in your party.
2. Give the Vice 2 rewards to everyone in your party **except** for a list of people who you know were not in the quest or who were in the quest but who already received the rewards.
3. Give the Vice 2 rewards to a

[2015-03-13 11:28] stillsnowedin commented on #4848
Please excuse the extraneous references in commits; I'm new to this forking stuff and accidentally messed up my repo history and had to clean it up before making the pull request. The only commit that matters is the most recent one.

[2015-03-13 11:44] ondrowan opened #4851 "Is there a reason why login page doesn't have its own url?"
It'd be great if accessing login popup would at least appended `#login` to URL, so 1password can automatically login.

[2015-03-13 11:48] Alys commented on #4848
That's absolutely fine. :) We've all been through the process of learning about github. The commit in your PR is neat and clean and that's what really matters.

[2015-03-13 13:50] davidmanheim commented on #4746
According to http://tools.seobook.com/robots-txt/analyzer/, this blocks all robots from the site completely; you can also check https://support.google.com/webmasters/answer/6062598?hl=en

[2015-03-13 14:07] Alys commented on #4789
@lefnire I think you're right about unsubscribing preventing the password emails being sent in some (most?) of the cases. The code that looks for the unsubscribe flag doesn't seem to make any exception for password emails (I believe it should, although we might want to run that past redphoenix). Also, on a test account in production, I was able to receive a password reset email before I selected t

[2015-03-13 14:49] deilann commented on #4851
Closing this in favor of https://github.com/HabitRPG/habitrpg/issues/2413

[2015-03-13 14:49] #4851 closed, assigned to nobody

[2015-03-13 14:56] lefnire commented on #4789
Ok, just to be sure I'll switch us back to nodemailer temporarily when I get a moment today. @evangineer sorry I never answered that question - yeah, the previous solution was nodemailer. Matteo was tasked with building the whole listserv feature, and figured "well we've got a dedicated email server now, let's take some load off prod". Not sure if the nodemailer code is still there sitting around

[2015-03-13 15:00] scheidm commented on #2143
did this one just fall through the cracks? experiencing this issue as well, just noticed the fix posted october 2014. Did anyone try that and find problems with it?

[2015-03-13 15:00] chimericdream opened #4853 "[Skill Rebalancing March 2015] GitHub Issues and Wiki Pages to update"
This is a list of issues here on GitHub that should be fixed as a result of the [overhaul to skills](https://github.com/HabitRPG/habitrpg/issues/3029) soon to be made live.

Please comment below if I have missed any issues here or pages on the wiki. I will add them to the list. Also let me know if I added something that is _not_ affected. I haven't had a chance to go through the entire set of code

[2015-03-13 15:06] deilann commented on #2143
@scheidm A fix was suggested, but a PR was never made.

I personally like the way it is right now, even though it's a bit unintuitive. Being a productivity site, it makes sense that you can only level up through a task.

Of course, that's probably also just my Stockholm Syndrome talking, and considering the number of bug reports submitted about it, we should probably fix it at some point. However,

[2015-03-13 15:13] lefnire commented on #4840
One thing that seems to be at play, if `user.purchased.plan.dateTerminated` is in the past (they had a plan before, re-upping now) then it might be adding to _that_ date and not the current date?

[2015-03-13 15:18] davidmanheim commented on #4746
I submitted a new pull request with one tested as working - I'm not sure if it fixes the problem, but it shouldn't break everything. The current (updated) version still seems to block all robots from the main site.

https://github.com/HabitRPG/habitrpg/pull/4854

[2015-03-13 17:36] paglias commented on #4789
@lefnire @Alys indeed the user id posted here above is unsubscribed from all the emails which is blocking password emails from being sent (`user.preferences.emailNotifications.unsubscribeFromAll === true`). I'm ok with not considering this setting when sending password reset but I want to be sure it's ok so i'm pinging Vicky about this.

@Alys can you give me the UUID which is not working even tho

[2015-03-13 17:37] paglias commented on #4789
@Alys @lefnire Vicky says it's ok so I'm going to remove the check for password emails. But we can't check users who unsubscribed through Mandrill, emails to them we'll be blocked anyway

[2015-03-13 17:43] paglias commented on #4789
@Alys @lefnire partial fix here https://github.com/HabitRPG/habitrpg/commit/5752f75c4617c5aec4e77e3f9a430be54a913335 we're just missing users who unsubscribed through Mandrill.

[2015-03-13 17:48] TheHollidayInn commented on #1682
While looking into this ticket, I am seeing the correct behaviors.
1. When clicking the open challenge title, the challenge closes.
2. When opening one challenge, the clicking another, the previous challenge closes.

Can someone verify that this is still an issue?

[2015-03-13 17:49] lefnire commented on #4789
Is there a way around that? Maybe we should just use nodemailer?

[2015-03-13 17:54] paglias commented on #4789
Sendind them using a different email address like (passwords@habitrpg.com insteead of messengers@habitrpg.com) should work. Otherwise just switch from mandrill to our own unsubscription page. I don't know about nodemailer but if it's has worked in the past there shouldn't be problems, at least until we fix it.

[2015-03-13 19:13] habitrpguser commented on #1806
One year later, still the same problem. I tried via https://habitrpg.com/static/api , and that only gave the first-15-members list, too! Also, I can't find a way in the API site either to reassign a guild leader, even if I already know their UID and just assume they're a guild member. _(Update: Ok, I overlooked the guild editing feature via POST /groups/{gid}, but I think the risk of accidentally

[2015-03-13 19:18] deilann commented on #1806
Or you can just ask to have that person set as the guild leader. Give us
the group ID and the user's UUID.

On Fri, Mar 13, 2015 at 12:13 PM, habitrpguser notifications@github.com
wrote:

[2015-03-13 19:26] habitrpguser commented on #1806
@deilann Oooh, that was quick, thanks! GID is bb511491-561b-4f36-95ff-0c8d8e6d8660 (as seen from the link I gave), UID of the winner and hopefully-soon-guild-leader is f25852d5-fe6b-43e6-bb9b-f1cc304547f2 . I just officially finished the challenge and declared her winner.

[2015-03-13 19:32] deilann commented on #1806
@Alys can you assign this?

On Fri, Mar 13, 2015 at 12:26 PM, habitrpguser notifications@github.com
wrote:

[2015-03-13 19:42] habitrpguser commented on #1806
... and I was so looking forward to finally getting to keelhaul someone... ;> - Btw. it would only be 5 people, to whom I would send friendly messages with links to the guild and technical rejoining instructions + wiki link, and none of them has ever said anything in guild chat, or shown other signs of guild activity. So it wouldn't be a tragedy. But it would be helpful to debug this or give a wor

[2015-03-13 19:48] lemoness commented on #2143
I would definitely like to get this one fixed, as it's the source of a lot
of questions and sometimes bug reports.

On Fri, Mar 13, 2015 at 8:06 AM, deilann notifications@github.com wrote:

[2015-03-13 19:49] lemoness commented on #4853
This is incredibly helpful, thank you!

On Fri, Mar 13, 2015 at 8:00 AM, Bill Parrott notifications@github.com
wrote:

[2015-03-13 19:54] Alys commented on #1806
The guild leader has been changed.

[2015-03-13 19:58] Alys commented on #4789
@paglias 0b900d5d-a7ee-437d-9fe1-5e7339a1499c

[2015-03-13 20:00] habitrpguser commented on #1806
@Alys Wow, thanks for the quick solution! So glad to have admins like you all - kudos! :bow:

[2015-03-14 00:18] kfridge commented on #4252
After contacting our party admins, they decided to go with option 1.  Thank
you very much for your help with this.

On Fri, Mar 13, 2015 at 4:59 AM, Alys <notifications@github.com> wrote:

[2015-03-14 00:25] Alys commented on #4252
That's been done. Let me know if there's any problems.

[2015-03-14 00:45] rdhammond commented on #4778
Is it too late to work on this one? I haven't gotten into the codebase too much, but I would think it would be fairly straightforward to reshuffle the avatar tiles after an AJAX resort. I know from the discussion there's a standard "Push refresh to see changes" box though, so I don't want to waste anyone's time :)

[2015-03-14 01:11] lefnire commented on #4837
I fixed this via email, but let's keep it open for a time - I hope to investigate all the major subscriptions issues next week

[2015-03-14 01:32] Alys commented on #4778
@rdhammond It would certainly be popular if you can get it to work with minimal impact on loading time. If you'd like to work on it, go ahead. As with any change, we can't promise in advance that we'd accept it, but I'd like to see an instant resort working!

[2015-03-14 01:55] rdhammond commented on #4778
Nah, I expect it'll have to pass reviews and coding standards and &c. But yeah, I think I might be able to do this and make it work. No promises though!

[2015-03-14 02:14] lefnire commented on #4789
tried reverting to nodemailer on beta ([diff](https://gist.github.com/lefnire/1a280cb6321ca4e49332)), but it's not sending me a pass. More involved than a revert

[2015-03-14 04:41] Alys commented on #3353
Verabird has fixed this in https://github.com/HabitRPG/habitrpg/pull/4736 and I've decided it will go live as part of the skills rebalancing soon, since it's ready in time. It results in one casting of Stealth hiding a maximum of 50% of your Dailies (so a high-PER Rogue must use 90MP to hide all their Dailies). More details are at https://github.com/HabitRPG/habitrpg/pull/4736#issuecomment-7937807

[2015-03-14 04:41] #3353 closed, assigned to nobody

[2015-03-14 08:20] NobbZ commented on #4605
I do also have the same problem. Memory consumption rises with a rate of about 100 to 200 MB/h. Using the delete-localStorage-trick does not help (that much), consumption goes a little bit down, but rises again after a short time.

Problem does occur on Win7 Chrome (autoupdated) and also Ubuntu Chrome (even kept up to date on daily basis).

Also I made the following observations:
1. When mem consu

[2015-03-14 11:42] Alys commented on #3730
I've added this comment to the top post:

This is mostly fixed by https://github.com/HabitRPG/habitrpg/pull/4799 which dequips:
- user.items.currentPet even if you don't own that pet
- user.items.currentMount even if you don't own that mount
- the background if any is in use
- all Costume pieces but only if you own those pieces
- all Battle Gear pieces but only if you own those pieces

We still ne

[2015-03-14 12:32] #4848 closed, assigned to nobody

[2015-03-14 13:33] Alys commented on #4847
This seems now to be a duplicate of the issue that deilann linked so, so I'm closing this issue, but it can be reopened if I'm wrong. @TulinKei if you have questions or are still having problems that aren't covered by https://github.com/HabitRPG/habitrpg/issues/4800, ask here. We'll see your message and respond even after the issue is closed.

[2015-03-14 13:33] #4847 closed, assigned to nobody

[2015-03-14 15:07] Alys commented on #4691
I propose using glyphicon-align-justify which looks like this:

![screen shot 2015-03-15 at 12 59 57 am](https://cloud.githubusercontent.com/assets/1495809/6652106/b48e9f9a-caae-11e4-8fd0-442e52776b41.png)

It's sort of like the three-bar icon &#9776; given by `&#9776;` but it's a glyphicon so we know it will work everywhere. Even if it's not perfect, we could make do with it until we decide on so

[2015-03-14 15:57] SabreCat commented on #1682
Aye, this looks to have gotten fixed at some point. There are scrolling issues still, but the second challenge does open. Closing.

[2015-03-14 15:57] #1682 closed, assigned to paglias

[2015-03-14 17:16] frillsdev opened #4857 "Lost gems despite not buying anything due to bug with "Unequip Pet, Mount, Background" button"
Hi, I started off today with 21 gems that I got through my subscription (gold -> gems). This afternoon I noticed that I only have 14 gems, and have therefore lost 7 gems. I've been scouring my inventory to see if there is something I bought by accident, but I can't find anything new!
I did get a 'Server Unreachable' error earlier today after casting my rogue pickpocket spell, but that is it.. Noth

[2015-03-14 17:22] frillsdev commented on #4857
May I add that no avatar items have been unlocked either

[2015-03-14 17:24] deilann commented on #4857
Log out and then log back in. Does the number of gems that it says you can
purchase show 7 more? In other words, are they not lost, but showing as not
purchased?

On Sat, Mar 14, 2015 at 10:16 AM, Tegan notifications@github.com wrote:

[2015-03-14 17:27] frillsdev commented on #4857
It doesn't change - still the 3 gems left to purchase with gold this month.

[2015-03-14 17:30] frillsdev commented on #4857
The way I worded it makes it sound as though I purchased the gems today - I didn't, I've had 21 gems for a few days now.

[2015-03-14 17:31] deilann commented on #4857
Someone will investigate this for you soon. :) I just wanted to make sure
it wasn't an easy answer.

On Sat, Mar 14, 2015 at 10:30 AM, Tegan notifications@github.com wrote:

[2015-03-14 17:31] frillsdev commented on #4857
Oki dokes. Thanks :)

[2015-03-14 18:22] melissamcewen commented on #4581
This is happening for me too

[2015-03-14 18:40] andrewtinka commented on #4825
Still had bad nslookup results at 2 PM on March 14.  Changed my DNS server to 8.8.8.8 (thanks Google) and everything works fine.

[2015-03-14 19:38] melissamcewen commented on #4591
I had a vagrant on OSX that was working when I last contributed earlier this year and threw all kinds of errors when I tried to get it to start this afternoon. NPM start would produce

then

[code]

So I installed the latest phantomjs (I thought [these](https://gist.github.com/julionc/7476620) instructions were good) and it was able to run. I don't know if it has to do with this issue but it sound

[2015-03-14 19:46] patrickkellogg opened #4858 "To-Dos: "Push Task To Top" not working"
I have a list of 53 items on my To-Do list. If I click on the "Push task to top" icon for a lower item, it will move it to the top. However, Refreshing the page, or closing the webpage and going back to Habitrpg.com will erase any changes that I made. Instead, a different item will be at the top of the list. It doesn't seem to be the item preceeding or following the item I wanted to move - I'm sti

[2015-03-14 19:51] deilann commented on #4858
See this issue for an explanation and how to fix it: https://github.com/HabitRPG/habitrpg/issues/2606

[2015-03-14 19:51] #4858 closed, assigned to nobody

[2015-03-14 21:11] Alys commented on #4857
@teganmm I'm sorry this happened! I have given you back your seven gems. Please let me know if it is not correct now.

I am trying to work out how this happened. At some time in the past few days, did you try to buy a background and it didn't work? Or did you go to the Backgrounds page at all?

The reason I ask is that your account has an odd entry in the place were purchased backgrounds would be

[2015-03-14 21:19] frillsdev commented on #4857
Yes, the gems have been correctly restored - thank you!
I have definitely visited the backgrounds page in the past few days as well as today, however I have not attempted to purchase one (mainly because I'm still gearing up and chosing one to match!)

Actually! _eureka_

I used the "Unequip Pet, Mount, Background" button in the costume section today, and noticed the loss of gems shortly after - th

[2015-03-14 21:32] Alys commented on #4857
OMG. Thank you so much for picking that up! That was a clever thought! I'll get that fixed right now.

[2015-03-14 21:43] frillsdev commented on #4857
Yay! No worries, should have thought of it earlier tbh.
I'll close the issue here, as it looks like we have gotten to the bottom of it.
Good luck squashing that bug :bug:

[2015-03-14 21:43] #4857 closed, assigned to nobody

[2015-03-14 21:51] Alys commented on #4857
Fixed in https://github.com/HabitRPG/habitrpg/commit/9199c6c7e2d0891eca2bc6a58532366501265c4b by removing the Backgrounds option. (I'll put it back in once I've done a proper fix that allows it to be used safely.)

Thanks again @teganmm. You thinking of that so quickly saved us from a lot of other bug reports!

[2015-03-14 22:40] TheHollidayInn commented on #2889
I tried to replicate this error, but I get an error message when having 0 gems.
![screen shot 2015-03-14 at 5 39 31 pm](https://cloud.githubusercontent.com/assets/1253400/6653898/2c082796-ca71-11e4-8982-e9a1f489e60d.png)

[2015-03-15 05:22] Adaram commented on #4430
This is happening for me as well. I am using Chrome Version 41.0.2272.89 m

[2015-03-15 05:36] Adaram opened #4859 "Adding new data to checklists - backspace exits field and then takes you out of HabitRPG completely"
I searched but didn't find this particular issue.  If you are in "focus" in a checklist field, but hit backspace too far, the field disappears entirely. Not a huge deal, except that backspace is the default key in a browser (Chrome, anyway) for going to the previous web page (shortcut key for the back arrow).

To reproduce the issue, perform the following steps:
1. Add a new "To Do" (or edit an ex

[2015-03-15 10:34] Alys commented on #2889
Thanks @TheHollidayInn

@Aaern-the-Blunt This was a while ago now, but if you still want the gems back, comment here with your UUID (Settings -> API -> User ID). I'm closing this since it's so old, but if you comment we'll see your reply and keep on helping you.

[2015-03-15 10:34] #2889 closed, assigned to nobody

[2015-03-15 16:33] stillsnowedin commented on #4798
@crookedneighbor Mind if I take a crack at this one? I have an idea for limiting the members list by their last login date rather than an arbitrary number. That way it's guaranteed to include the current user, but still won't have to load the entire list. It also has the added benefit of showing active users instead of random names.

[2015-03-15 18:17] tsujin commented on #4610
Do you mean feedback from the inviting party's end? Or from the receiving party's end? I'm not sure where to see the invited list, but I did receive a notification that said "Invitation(s) sent!" when I invited my friend to my guild:

![pggvnxv](https://cloud.githubusercontent.com/assets/11325100/6657279/18878ca0-cb1d-11e4-96c0-d42e31ea52b0.png)
This was on Google Chrome v41.0.2

[2015-03-15 18:56] paglias commented on #4789
@Alys I've been able to send a reset password email to that user so at least that is fixed.

@evangineer the email server is now open sourced at https://github.com/HabitRPG/habitrpg-email-server if you want too give a look :)

[2015-03-15 19:32] crookedneighbor commented on #4798
Brilliant! Yes, please take it!

[2015-03-15 19:37] deilann commented on #4798
That could still be really, really taxing on the servers for large guilds,
like The Scholars and Challenge... Accepted?. If you do do that, it should
show 15 members and then you can choose to show more... otherwise it could
get very unwieldy and expensive very quickly to look up all those display
names.

On Sun, Mar 15, 2015 at 12:32 PM, Blade Barringer notifications@github.com
wrote:

[2015-03-15 22:54] crookedneighbor commented on #4798
@stillsnowedin Re-reading your comment after @deilann chimed in. I thought what you said was that you'd still limit it to 15, just show the 15 most recent users that have logged in. I agree with deilann that it still needs to be limited.

One obvious way around this would be be sure to include the current user in that list if the user is a member of the guild. Though, that's easier said then done.

[2015-03-15 23:45] stillsnowedin commented on #4798
"be sure to include the current user in that list if the user is a member of the guild"
That's tricky bit. We want the members list to show <= 15 members AND one of them has to be the current user (if they've joined the guild). I'm trying to figure out how to retrieve that from the server in one query, but haven't found the magic combination yet.

[2015-03-15 23:59] LittleELK26 commented on #4470
I have this issue too, all 3 types of tasks have been duplicated, although only some of them are showing duplicates.  My used ID is: d288ea32-3b06-41a8-988a-fe96af9dcbde

[2015-03-16 00:12] melissamcewen commented on #4581
So for me it does not work at all on Chrome- clicking + or - on the habit when creating and editing a challenge makes it flicker and doesn't save. On Firefox it works fine.

[2015-03-16 00:30] deilann commented on #4581
If it makes it flicker and doesn't save, that means it thinks you're trying
to drag the task. So you're likely moving the mouse a bit when you do it.

On Sun, Mar 15, 2015 at 5:12 PM, Melissa McEwen notifications@github.com
wrote:

[2015-03-16 00:49] melissamcewen commented on #4581
I've tried it with a few mouses and it doesn't seem to be dragging, it's the same thing I'm doing in FF which works
![mar 15 2015 19 48](https://cloud.githubusercontent.com/assets/1251094/6659140/6c6cc78e-cb4c-11e4-98e5-b81ccf6cde55.gif)

[2015-03-16 01:09] deilann commented on #4581
It appears to be dragging to me... dragging under the +. I've been having
trouble lately with Chrome taking single clicks as drags or double
clicks... which is really annoying when I'm checking off my Dailies and I
click and it ticks off two instead of one. That's probably related to this.

On Sun, Mar 15, 2015 at 5:49 PM, Melissa McEwen notifications@github.com
wrote:

[2015-03-16 01:50] melissamcewen commented on #4581
Here's a better gif though sadly doesn't show the flickering, I've disabled drag and it's still doing it, here's a better gif, but of course if someone else could see if it's happening to them that would be great
![untitled](https://cloud.githubusercontent.com/assets/1251094/6659500/e5d0e8be-cb54-11e4-8268-12b84c7d4cfd.gif)

I'd also note the other buttons like easy/medium/hard work fine

[2015-03-16 02:20] deilann commented on #4581
Yes, and now it's not flickering. I'm not saying it's going to suddenly
start working if you can not drag. :) I'm saying that flickering means it
thinks it can drag. Does that make sense?

On Sun, Mar 15, 2015 at 6:50 PM, Melissa McEwen notifications@github.com
wrote:

[2015-03-16 02:39] melissamcewen commented on #4581
Yeah the screen capture software I've been trying hasn't been capturing the "flickering." Here is an exact capture (mov to gif)

![out](https://cloud.githubusercontent.com/assets/1251094/6659833/c17e1016-cb5b-11e4-9423-3ff038f10787.gif)

[2015-03-16 02:50] deilann commented on #4581
Yes, again, it's trying to move the - button below the + button. That's why
it's flickering. It's then jumping back up because it can't actually go
anywhere else. It is misinterpreting the action, just like it is
misinterpreting other actions.

On Sun, Mar 15, 2015 at 7:39 PM, Melissa McEwen notifications@github.com
wrote:

[2015-03-16 02:52] rdhammond commented on #4778
Boom! Since the update happens through Angular automatically, there's no postback needed, and the changes should be instantaneous.

For feedback's sake, I retained the existing "Party updated" message, but I took off the "refresh to see changes." That message was only getting used by the party resort, so I elected to change the existing message instead of creating a new one. It will obviously need

[2015-03-16 02:58] melissamcewen commented on #4581
Any ideas on how to fix/debug it? It is strange it works for normal habits but not challenge habits.

[2015-03-16 03:02] deilann commented on #4581
No, especially considering it's not 100% reproducible. Frex, I have no
issues with it using Chrome.

On Sun, Mar 15, 2015 at 7:58 PM, Melissa McEwen notifications@github.com
wrote:

[2015-03-16 03:03] Alys commented on #4581
@melissamcewen Have you tried clicking on different parts of the buttons, as @hazel-nutty did?

[2015-03-16 03:44] melissamcewen commented on #4581
OK by clicking around I was able to get + to go but not -
![test](https://cloud.githubusercontent.com/assets/1251094/6660338/c7508614-cb64-11e4-8496-45298373bc31.gif)

[2015-03-16 03:47] lemoness commented on #4581
For what it is worth, clicking on different parts of the buttons does not
tend to work for me for minus, because it moves away from my mouse
too quickly - so that isn't a very good workaround.

On Sunday, March 15, 2015, Alys notifications@github.com wrote:

[2015-03-16 03:49] deilann commented on #4581
I don't think we're looking for a workaround here as much as we're trying
to understand the behavior. The best workaround is to use Firefox when
editing/creating challenges, for those who are affected.

On Sun, Mar 15, 2015 at 8:47 PM, lemoness notifications@github.com wrote:

[2015-03-16 08:44] ghost opened #4864 "Quest items stack up when a task/daily is unchecked and checked again."
For quest that require users to collect items (for example : _A Stern Talking-To_), if you gain a quest item by completing a task, then uncheck that task, the quest item stays awarded. Then, when the task is checked again, a new quest item may be earned.
I tried checking and unchecking a daily a few times, and counted quest items with the _Data Display Tool_. I confirm that they stack up, and the

[2015-03-16 09:24] Alys commented on #4864
This has been reported before and we're really not concerned about this kind of "cheating". If a player wants to do that, that's up to them. Please see https://github.com/HabitRPG/habitrpg/issues/4626 for details. If you have any questions or comments, please put them in that issue so that we can keep the conversation in one place.

[2015-03-16 09:24] #4864 closed, assigned to nobody

[2015-03-16 09:34] ghost commented on #4864
I searched for an existing report but couldn't find this one. Sorry for the duplicate.

[2015-03-16 09:39] Alys commented on #4470
@LittleELK26 One of your To-Dos has been duplicated so that there are now six copies of it (all of them marked as completed) but I can't see any duplication in the other two task types. Are you seeing something different? Can you please give me more information about it?

[2015-03-16 09:41] Alys commented on #4864
No worries. :) I've made the title of that issue a bit more descriptive so someone searching for quest items in future will have a better chance of finding it.

[2015-03-16 09:49] Alys commented on #4857
proper fix: https://github.com/HabitRPG/habitrpg/commit/44259925e46ecc5d064ebd290c1d0ba100a97e9e

[2015-03-16 09:53] #4691 closed, assigned to nobody

[2015-03-16 14:59] Deyanira41 commented on #4551
I'm having a problem with cron resetting too early. Last night I checked off several dailies around 22:00 but apparently cron had already turned over b/c my hp dropped and those dailies are already checked off for today. This has happened several times now. I changed my cron time to 2am hoping that it might help.
Any ideas why this is happening?

my user ID is: 7f11bf45-ae3e-454d-ad03-64bee8b738c2

[2015-03-16 15:30] TheHollidayInn commented on #4581
I'm testing this behavior out on my local server now. I have noticed two things:
  --When click the plus or minus button on a habit (either in a challenge or on the main page) the buttons bounce.
 -- If you change the width of the challenge habit (using CSS), you can edit the plus or minus button.

So, I believe this has something to two the the bounce behavior that is forcing the button to expand

[2015-03-16 15:41] TheHollidayInn commented on #4581
Sorry, to double comment, but I found the issue. In app.css lines 5672-5680 (when inspecting the browser)

[code]

If you remove either position: static or width: auto, the issue is resolved. I can fix the quickly, but I'm not sure what else would be affected.

[2015-03-16 18:00] melissamcewen commented on #4581
If we want to keep that class it seems like the position: static is the source of the issue

[2015-03-16 18:04] paglias commented on #4801
@lemoness for simplicity since the logic for removing a member and an invited member is currently the same, it's ok if this feature (email with optional message) is used also for when removing invited only users? Or do you want to stay with the popup for invited?

[2015-03-16 18:06] TheHollidayInn commented on #4581
Removing width:auto seems to fix the issue as well.

[2015-03-16 18:57] PortNumber53 commented on #4483
Had the same issue while trying something completely different, but still Mongoose. so it seems Mongoose package is too  blame :)

[2015-03-16 19:00] MikaShennon opened #4867 "Day ends randomly?"
Since Daylight Savings, Habitrpg has been registering my "day" as being over (and thus any undone dailies damaging me) at odd times. It used to be consistently at 3:00AM (which was odd but at least consistent with my computer randomly flipping 3 hours back on me), but since daylight savings went back to 12:00AM. This was alright, but then last night it registered my day being over when I checked i

[2015-03-16 19:04] MikaShennon commented on #4867
Additional notes: *Just in case it's also hurting my partner in our party the Group ID: 305771ab-70f1-4f2d-a8b6-0d01c1a2d173 (Puppy-Cat)
                           *I am a Chrome user and unsure of the operating systems version but the issues are also on the mobile version (which I use concurrently with the online version)

[2015-03-16 19:06] MikaShennon commented on #4867
Last note: I think it also broke my "18 Perfect Days" achievement streak, which is very upsetting.

[2015-03-16 19:10] deilann commented on #4867
There isn't an achievement streak for perfect days. That achievement is the
number of 21 day streaks you have on Dailies.

First and foremost, I suggest clearing your cache. It may be that the old
time is cached in.

On Mon, Mar 16, 2015 at 12:06 PM, MikaShennon notifications@github.com
wrote:

[2015-03-16 19:23] lemoness commented on #4801
I think it can be the same!

On Mon, Mar 16, 2015 at 11:04 AM, Matteo Pagliazzi <notifications@github.com

[2015-03-16 20:07] Alys commented on #4867
@MikaShennon You said: "It used to be consistently at 3:00AM (which was odd but at least consistent with my computer randomly flipping 3 hours back on me)". The way I read that, it sounds like the time set on your computer was changing itself at random times. Is that correct? Is that still happening? If so, I would expect crons at odd times because cron runs based on your computer/mobile device's

[2015-03-16 20:40] Alys commented on #4581
The style is used in a few places in `website/views/shared/tasks/task.jade` so we would need to ensure that any changes worked in all places.

Also note this comment from where the style is defined:
_// Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p_
That function must keep working too.

@TheHollidayInn Is your fix still okay,

[2015-03-16 21:49] TheHollidayInn commented on #4581
From searching the file, it seems that only the Dailies/To-do checkbox has the class as well. That checkbox still works with my change.

From h5bp.com/p, "The :active is required for IE6 and IE7..." So, removing the :active psuedo-class should maintain functionality. When I set the elements to visible, I am able to navigate to them using tabs.

Also,I am seeing the elements in Fangs, a screen read

[2015-03-16 23:11] Beingsanctuary opened #4868 "Cannot see images"
Hi!
Since a couple of days I cannot see any images when I log into HabitRPG. I have refreshed the browser, I have logged out and in again with no change.

User Id: 8b5a0117-8d28-4c51-804a-8041927d3195
browser: Firefox Version 36.0.1
operating system: Windows 7 Home Premium 64-bit

Appreciate any help since it's no fun playing without seeing gear, pets and all that :)
Thank you!

[2015-03-16 23:42] Beingsanctuary commented on #4868
all of the sudden it started working again! Weird! Issue solved of sorts!

[2015-03-16 23:43] #4868 closed, assigned to nobody

[2015-03-17 00:31] kaitmiller opened #4869 "To-dos with dates on iOS app: weird format"
The dates on to-dos with dates have started looking odd to me on the iOS app recently. Screenshot:

![img_0870](https://cloud.githubusercontent.com/assets/8716943/6679223/5b046d9c-cc1b-11e4-92ee-129fa55de76f.PNG)

My user ID: 0974a026-4ff0-4f84-bc0c-c06f8e3c4303

[2015-03-17 05:43] MsMadGirl opened #4870 "To-do not going away when checked"
I have a to-go item that will not go away when checked as complete, and often duplicates instead. If I try to check off both the original and the copy, it gives me the credit, then takes it away, and neither item disappears. Deleting it does nothing at all.

ef140088-589d-4e9c-9053-c972799944b2

[2015-03-17 05:53] Alys commented on #4870
Are you seeing two or more of that item in the website at the moment? If so, could you please try deleting them starting with the one closest to the **bottom** of the list?

If that doesn't seem to work immediately, please view your completed To-Dos, untick any duplicates that might be there (so that all instances of that To-Do are now marked as not completed), and then go back to the active list

[2015-03-17 08:13] louy2 commented on #4173
This is going towards the direction of a ical client...
I propose this API called Cronofy: http://www.cronofy.com/developers

[2015-03-17 08:37] MsMadGirl commented on #4870
Thank you, it’s fixed now.

-- 
Rebecca MadGastronomer
Sent with Airmail

On March 16, 2015 at 10:53:11 PM, Alys (notifications@github.com) wrote:

Are you seeing two or more of that item in the website at the moment? If so, could you please try deleting them starting with the one closest to the bottom of the list?

If that doesn't seem to work immediately, please view your completed To-Dos, untic

[2015-03-17 08:41] Alys commented on #4870
Thanks very much for letting us know!

[2015-03-17 08:41] #4870 closed, assigned to nobody

[2015-03-17 09:50] Alys commented on #4474
Done in https://github.com/HabitRPG/habitrpg/issues/4852

[2015-03-17 09:59] evangineer commented on #4789
@lefnire Thanks for your response to my question.  It's good to have a little insight into the history of email notifications in HabitRPG.  I had figured most of it out by looking at the code.  The piece that had eluded me was the Kue-based email server middleware.  I did find your nodemailer code for resetting passwords instructive.  I tried to find such code through looking at the git history bu

[2015-03-17 16:08] habitrpguser commented on #1806
Just a few new data about trying to (as a workaround) assign a new guild leader via https://habitrpg.com/static/api : Well, I tried, it didn't work, I talked to @Alys about it, she has some ideas what could be the reasons, and I'll just copy part of the posts here for details:

me:
"My evil evil plan was to use this guild to experiment around with making someone guild leader via Swagger UI. Tried

[2015-03-17 20:45] jaywink commented on #4173
I think this feature has failed if it becomes a calendar in complexity ;)

[2015-03-17 21:29] Alys opened #4872 "blank messages can be sent through the Private Message (PM) system"
The private message system should prevent a message being sent if nothing has been typed. It seems that players will accidentally click the message icon (possibly instead of the like button) and then accidentally click send instead of cancel.

Clicking send on an empty message should close the message window without sending anything.

Note that this change should not affect gifting of gems - it sh

[2015-03-17 22:34] FriendlyPopo commented on #4872
In a similar vein, the API also allows sending empty messages to group. Should this be in the same issue? I understand they're not really related in the code, but the fixes are likely to be similar.

[2015-03-17 22:42] Alys commented on #4872
Actually, that's a good point. If we made the API silently discard any empty messages, either PMs or group messages, then that's all that would be needed. We wouldn't have to change any of the website code.

[2015-03-17 23:17] TheHollidayInn commented on #4872
Should we not notify the user that the message is empty?

[2015-03-17 23:55] steinitz-zz opened #4874 "Allow no avatar"
Hi,

The avatar reduces my enjoyment of the site.  Could you offer an option to not show it?

Cheers,

Steve

[2015-03-17 23:56] FriendlyPopo commented on #4872
@TheHollidayInn Agreed. From a UX perspective, it is indeed important to be clearer about system status than just allowing the post and then not posting it in the backend.

That being said, once again from a UX perspective, the best solution would be to prevent it all together: disable "Send" buttons in the UI until there is data in the textarea.

API should simply return the appropriate error.

[2015-03-17 23:59] steinitz-zz commented on #4874
Sorry, I found the option to not show the header.

[2015-03-17 23:59] #4874 closed, assigned to nobody

[2015-03-18 00:00] steinitz-zz commented on #4874
My apologies for the noise.

[2015-03-18 00:01] Alys commented on #4872
The API could return an error, but on the front end there should be no notification to the user. If they click send without having entered a message, it's almost certainly because they meant to click cancel, and so giving them the cancel behaviour is appropriate.

[2015-03-18 00:10] FriendlyPopo commented on #4872
@Alys Unfortunately I'll have to disagree with that. We do not know that if users click send without having entered a message it's because they meant to click cancel. While it may seem logical, it's still speculation.

I believe there might be unexpected scenarios where sending a message is precisely what was intended. ie User had all text highlighted because they wanted to copy it beforehand, the

[2015-03-18 00:20] Alys commented on #4872
If you wish. I still think canceling would be more often useful in practice but you are correct that it is not the function of the send button. I won't argue if you submit a PR for your idea. :)

[2015-03-18 02:20] OlasDAlmighty opened #4876 "Health and Experience bars always appear full in Internet Explorer"
Although it shows up fine in both Chrome and Firefox, I've noticed when I logged into HabitRPG in IE11 the bars for displaying both Health and Experience points both appear completely full, even though I know they aren't and can even see as such by the numbers on the right hand side.

I have tried reloading the page, logging out and back in, and closing and reopening the browser.

Obviously this i

[2015-03-18 03:33] whimsicality opened #4878 "weird day reset issue"
So yesterday I cleared my dailies early.  No timezone change should have affected that, and nothing had been affected by daylight savings time that I know of before that.  Today I didn't get a chance to check off things until this evening - but half the things are checked off and I've taken damage I shouldn't have.  I thought maybe I'd been wrong and hadn't refreshed last night so maybe I'd checke

[2015-03-18 05:03] deilann opened #4879 "Aborting a Quest Should Add System Message to Party Chat"
Currently, when a quest is aborted, no message is put in party chat. This means that there is no explanation for where a quest went to the rest of the party, which can be rather confusing. When a quest is completed, there is a message added. When a quest is aborted, a system message should be posted, saying:

`Alys aborted the party quest The Spirit of Spring.`

or something similar.
## <bountysou

[2015-03-18 06:40] MikaShennon commented on #4867
It seems like clearing the cache and doing my best to fix the computer's clock again worked, I waited to post to make sure the day ending didn't start early again. Thank you for the advice and I'll reopen it for further help if this solution doesn't stick.
Also @Alys yes unfortunately for some reason my computer randomly flips back 3 hours (ex: if it's 5PM it will flip to 2PM with no warning) and

[2015-03-18 06:40] #4867 closed, assigned to nobody

[2015-03-18 11:57] crookedneighbor commented on #4879
I'm in favor of always blaming Alys for canceling a quest.

[2015-03-18 11:58] deilann commented on #4879
I'd take it a step further:

I'm in favor of always blaming Alys.

On Wed, Mar 18, 2015 at 4:57 AM, Blade Barringer notifications@github.com
wrote:

[2015-03-18 12:48] Alys commented on #4879
_**So**_ angry right now!

-- _Alys_
_Guardian Blackguard, Quasher of Quests, Poacher of Progress, Destroyer of Dreams_

[2015-03-18 15:06] FriendlyPopo commented on #4879
I've been trying to poke at this but I have encountered a few issues.

**habitrpg\website\src\controllers\groups.js** ln906 (api.questAbort function)

[code]

1) The system message appears in the UI but not in the db (so fetching new messages erases it)
2) I'm also trying to get the quest name, and my best guess to get it was:

[code]

But it group.quest.key is _null_.

Any ideas / pointers?

Than

[2015-03-18 17:25] paglias commented on #4801
@lemoness can we change that text to make it good for both guilds & parties? or do you want to have different versions of it? because right now it's very party specific

[2015-03-18 18:09] titaniafaery commented on #4878
I had the same issue yesterday and today.

User ID:  7d823432-bca8-4680-b3a8-996fe54bdec6

[2015-03-18 18:16] titaniafaery commented on #4313
I had this problem, too.

ID:  7d823432-bca8-4680-b3a8-996fe54bdec6

[2015-03-18 19:54] Alys commented on #4879
If the quest key is null, it's almost certainly because the quest has already been aborted. Note that async.parallel causes all functions within it to be executed at the same time (or if not exactly the same, in an unpredictable order), so if your code is within the async.parallel block, you'll need to take it out.

If that's not enough to fix it, please upload your code to your github clone of th

[2015-03-18 20:49] Alys commented on #4878
This is an example of the bug described here: https://github.com/HabitRPG/habitrpg/issues/4313

I'm sorry you were both affected by it! Have a look at the Advice section near the top of that page, especially if you notice this happening to you more than once. You don't need to read the entire issue below that.

I'm going to close this now since we're tracking the bug in that other issue but if you

[2015-03-18 20:49] #4878 closed, assigned to nobody

[2015-03-19 02:24] betaveros commented on #4430
So I dug through the history and it appears that we stopped using bindonce after upgrading angular here: https://github.com/HabitRPG/habitrpg/commit/2023cf852ed1b11af641607d156d3cb9466d9aaa

That commit also replaced all the bindonce usages with new angular notation, but I guess the change for tasks got lost somewhere between then and now. It's an easy fix to reintroduce the change.

[2015-03-19 03:22] Adaram commented on #4430
Not sure about any of the coding stuff, but glad to see it's an easy fix :) I'll have to change my habits once it's fixed now. Instead of enter, TAB, then type, it will just be Enter, then type :)

[2015-03-19 04:43] tiffogirl97 commented on #2456
hi, i have the same problem too. i refreshed my page, then many of my to-do tasks tripled, quadrupled, and some more. I also can't delete any of them and checking them off still gives me coins and xp but doesn't go away. reloading doesn't help
![screen shot 2015-03-18 at 9 42 06 pm](https://cloud.githubusercontent.com/assets/11549745/6724552/b087e292-cdb7-11e4-9857-7353b8c481d7.png)

[2015-03-19 06:18] Alys commented on #2456
@tiffogirl97 please try deleting them starting with the one closest to the **bottom** of the list. If that doesn't seem to work immediately, please view your completed To-Dos, untick any duplicates that might be there (so that all instances of that To-Do are now marked as not completed), and then go back to the active list and try deleting starting at the bottom again. I'm sorry this is so annoyin

[2015-03-19 08:20] tiffogirl97 commented on #2456
it worked! thanks!

[2015-03-19 11:07] broiniac opened #4882 "[Proposal] Dailies task considered completed if more than N items in list are completed"
The whole idea behind this feature is to add additional option to task managing, that will define how many of subtask/list items have to be completed (in daily list), to considered whole task as completed.

Example:
- "Task": Eat at least 3 meals a day
- "List":
  1. Breakfast
  2. Brunch
  3. Lunch
  4. Dinner
  5. Supper
- "To complete, do at least": 3
- "Difficult": ...

etc, etc.

Additional i

[2015-03-19 11:16] broiniac opened #4883 "[Proposal] Giving user option to setting own "midnight" for daily tasks"
So, daily task are checking if there are completed (with whole exp/hp calculation) at midnight. Some users have "modified" life cycle (for example they are waking up later and going to sleep later), so it would be convenient to give users option for setting at what time task should be recalculated.

Example:
Current time: 19.03.2015 7:37 pm
User Midnight: 2 am
Daily task: "Send email to Mom"

User

[2015-03-19 11:20] #4883 closed, assigned to nobody

[2015-03-19 11:21] broiniac commented on #4883
Already exists in "Settings" > "page"

[2015-03-19 11:22] evasager opened #4884 "unable to complete tasks on mobile app"
Last night I was having trouble marking dailies as completed.  When I touched them, nothing happened.  I switched to the "ToDo" view and switched back to "Dailies" and everything that I checked was now checked, so I figured it wasn't an issue.  I completed all my Dailies and made good progress on my Habits - it was a good day.  This morning I woke up and I was dead.   It was as if nothing non of m

[2015-03-19 13:41] Alys commented on #4882
This would be better done as a feature request (Help -> Request a Feature) rather than as a bug report, but since it's here:

I agree that for some cases it would be a nice feature to have, but from an overall perspective, I think the extra complexity for the end-user would cause enough problems to be undesirable. We have some users that are very young, some that are not technically proficient, so

[2015-03-19 13:51] ghost opened #4885 "errors in translatable locales text for Tour (Was: Closing tag missing in npc.json)"
While trying to translate new strings to French, I received a warning from Transifex about a missing closing `</li>` tag on string 40 of npc.json. But as far as I see it, the closing tag is also missing from the source string.
![screenshot - 19032015 - 14 34 28](https://cloud.githubusercontent.com/assets/4882150/6731593/208e3116-ce46-11e4-8043-bb3e3a5f0c52.png)
If this is a mistake, then the corre

[2015-03-19 14:00] Alys commented on #4885
@Blablux thank you! It's very kind of you to take the time to report this. I believe it is a mistake and I'm looking into that now.

[2015-03-19 14:32] Alys commented on #4885
Fixed here: https://github.com/HabitRPG/habitrpg/commit/c880c525b479922acaa01526e2158cc8426cc02e

@Blablux I've added the closing li and ul tags to the source string. The change might not appear in Transifex for a while. Until then, it's up to you whether you add the </li> and </ul> or not. The site will run correctly either with or without them, so whatever is easiest for you. Thanks again!

[2015-03-19 14:42] ghost commented on #4885
As I'm still translating, I'll add those in Transifex right now, so that no additonnal work would be required when updated. Thanks for the fast response and correction.

[2015-03-19 14:57] Alys commented on #4885
Great idea!. Note that I removed some excess `<b> and </b>` tags too, if you haven't already seen that. Thanks!

[2015-03-19 15:03] sammylau94 opened #4886 "Newbie Guide Keeps Popping Up + App is Slow"
Every time I would try to join a guild, and sometimes when I would come back to the task page, the cartoon figure who walks you through HabitRPG keeps popping up onto my page. Even when I type in the HabitRPG's website URL, the character still pops up. I have to press ESC on my keyboard all the time. I'm using my MacBook Air and Firefox as my Web browser.

I find that the HabitRPG app lags quite a

[2015-03-19 15:27] ghost commented on #4885
I corrected all of that, but strangely, Transifex now throws me a warning : `The translation added a new tag: 'ul'.`
I triple-checked to see if I did any mistake, but I only see one `<ul>` and one `</ul>` properly nested. If I remove the `</ul>`, I don't get anymore warning.
Still, I saved the translation with a `</ul>` as it seems the proper thing to do. I just hope reviewers won't slap me for no

[2015-03-19 17:30] Stephasaurus commented on #4313
I think I just experienced something like this. Last night I checked off all but a few dailies. The dailies left unchecked were either blue or green, so I knew they wouldn't cause much damage and I had at least 30 health before I left the site. I figured that was plenty of cushion and that I would still be alive in the morning.

Then suddenly this morning I logged in and I died. The most recent pa

[2015-03-19 17:43] lemoness commented on #4886
So, pressing escape on the tour just hides it - it doesn't finish it. As a result, until the tour is finished (i.e. you click "Next" until it is done), it will return every time you refresh. Try finishing the tour, and let us know if that helps!

 @lefnire We probably need to change this, so that escape either 1) auto-finishes the tour, or 2) does nothing. I'm torn between the two. @Alys has expre

[2015-03-19 18:16] gkjt opened #4888 "Popup after class select (change class) shows wrong class - reports that I've equipped old class's gear instead of new"
I just hit level 10, and chose my class, Rogue, but the popup after tells me I am now wearing my Warrior gear. It appears to have applied the rogue equipment, but the popup is incorrect. You can see this in [this](http://puu.sh/gGY47/a541c9b2ad.png) screenshot, also attached below:

![Incorrect class on popup](http://puu.sh/gGY47/a541c9b2ad.png)
## <bountysource-plugin>

Want to back this issue? *

[2015-03-19 18:40] TheHollidayInn commented on #4886
If we use option number 1, then should we add a place (link or button) for users to restart the tour? That would address @Alys 's concern.

[2015-03-19 19:31] ardavis commented on #4827
I think that's a great idea. I haven't contributed to HabitRPG before, but I'm going to attempt this one. I'd love to contribute. :)

[2015-03-19 19:56] Alys commented on #4313
@Stephasaurus Yes, that does sound like this bug. I'm sorry you were hit by it. Please see the Advice section near the top of this issue for how to prevent it.

[2015-03-19 20:27] Adaram commented on #4430
Tested and works great!

[2015-03-19 20:28] ghost commented on #4885
@Alys I missed that when looking at your commit, but it seems that you forgot a `</b>` in the `Sample Good Habit`. Should do a pull request for that kind of mistakes ? (sorry, I haven't yet read the guidelines for contributing code, so I'm still guessing the best way to do things).

[2015-03-19 20:31] FriendlyPopo commented on #4879
No, the code is all outside the async.parallel block.

See it here: https://github.com/Horacious/habitrpg/blob/develop/website/src/controllers/groups.js#L906-L910

[2015-03-19 20:53] Vstorey21 opened #4890 "All images are gone"
I leveled and then all the images disappeared.  Nothing that's supposed to be represented shows up any more.

[2015-03-19 20:54] Alys commented on #4890
Have you tried reloading the page? If not, please do.

[2015-03-19 20:56] Vstorey21 commented on #4890
Yea, I tried that a couple of times. Logging out, closing the browser, even shut down and restarted just to make sure lol.

[2015-03-19 21:02] Alys commented on #4890
It's always worth mentioning what you've already tried when you log a bug report so that we can skip past the initial questions. :)

Do you have any extensions installed that are hiding images? For example, did you install the HabitRPG "boss button" extension? If you're not sure what this means, then you probably didn't install extensions.

Please clear your cache (that's not something that happen

[2015-03-19 21:29] beffymaroo commented on #4430
Yay! Thanks!

[2015-03-19 21:45] Alys commented on #4879
https://github.com/Horacious/habitrpg/blob/develop/website/src/controllers/groups.js#L906  is `.leader` correct? Also I can't see where you're referring to group.quest.key in your new code. Has your code changed since you asked those questions? If so, please let us know which questions are still relevant.

[2015-03-19 22:06] Alys commented on #4885
Yes, I definitely deleted that closing b tag by accident - sorry about that. However our chief programmer has been improving the tour over the past few hours, and the strings have changed dramatically. They are now in defaultTasks.json rather than npc.json. If you're not seeing that change yet on Transifex, it might be best to pause before doing more translations. Here's the file if you want an ad

[2015-03-19 23:22] deilann commented on #4804
The rabbits are also not on the grid.

[2015-03-20 07:44] fnurl opened #4891 "Todo task created via user/tasks/{id}/up is not marked as completed"
At the moment, when creating a new todo task via the `user/tasks/{id}/up` route, the user gets xp and gold, but the todo task remains incomplete. Should the default not be that the todo task also gets marked as complete?

[2015-03-20 09:47] ghost commented on #4885
Thank you for the information. I can (and will) get prepared for the next transifex update with that.

[2015-03-20 11:12] Alys commented on #4891
Are you sure a To-Do is being created? It's meant to create or update a Habit and that's what it's doing when I test it.

The [API documentation](https://habitrpg.com/static/api) also says it's for Habits: "HabitRPG has a simple API for up-scoring and down-scoring third party Habits: POST /api/v2/user/tasks/{id}/{direction} (headers x-api-user and x-api-key required)."

If you're certain that To-D

[2015-03-20 11:15] Alys commented on #4891
The [API documentation](https://habitrpg.com/static/api) also says it's for Habits: "HabitRPG has a simple API for up-scoring and down-scoring third party Habits: POST /api/v2/user/tasks/{id}/{direction} (headers x-api-user and x-api-key required)."

If you're certain that To-Dos are being affected, please let us know! Please include the user ID and the task ID.

[2015-03-20 16:13] paglias commented on #4885
Transifex should be updated now, let me know if it isnt

[2015-03-20 16:36] architarious commented on #4805
Huge thanks to @deilann.. after spending about 6 hours combing through github and the habitrpg forums I just finally found this. I don't do quests (don't know how to do quests), so i had no idea that i was checked into the inn. I'm finally checked out.. hopefully this fixes my problem of never taking damage and daily's not resetting, even though i've synced and ran the reset values command, after

[2015-03-20 16:47] architarious opened #4892 "[Proposal] A flag near dailies telling you that your character is in the inn."
I couldn't get my dailies to reset for almost a month and took no damage. Since i never do quests or anything on the social tab and kind of just use habit RPG to manage my daily life, I didn't know that my character being asleep meant that he was in the inn and assumed that i had the [CRON did not run bug](https://github.com/HabitRPG/habitrpg/issues/1057).

If there was just a small flag of some s

[2015-03-20 19:17] shaineraizel opened #4894 "new computer = having to start over?"
I started on my old laptop (win 8) and luckily i downloaded the app on my tablet.  When I got a new laptop (still win 8) I went to log in, and it restarted me like it was a brand new account.  I really dont use the android app since sometimes it bugs on tasks, but it showed my old account ,so luckily I got myself in the inn.I have tried resetting my password and syncing.  neither has worked, and i

[2015-03-20 19:19] crookedneighbor commented on #4894
Please post the new user id as well.

[2015-03-20 21:10] Alys commented on #4892
@architarious Proposals for new features should go through Trello (Help -> Request a Feature). This allows them to be assessed along with all other feature requests about similar topics so that the best combination of requests can be chosen. I'm going to leave this feature request here, but please keep this in mind for future requests.

Have you noticed that when you are resting in the inn, your a

[2015-03-20 21:12] lemoness commented on #4892
We've been debating certain features to make this more obvious, such as a
notification by your avatar.... should we close this ticket and link it to
that one, or continue that discussion in here?

On Fri, Mar 20, 2015 at 2:10 PM, Alys notifications@github.com wrote:

[2015-03-20 21:13] Alys commented on #4892
Good point; I'd forgotten that, sorry. I would say close it and link it.

[2015-03-20 21:18] deilann commented on #4894
No need to post the New user id. Just delete the imposter account and log
back in.
On Mar 20, 2015 12:19 PM, "Blade Barringer" notifications@github.com
wrote:

[2015-03-20 21:51] lemoness commented on #4884
Hi evasager, we're sorry that happened to you! It sounds like the app was not online, so the tasks you checked off did not sync to the server. In the future, you can try pulling down to manually sync.

You can restore your stats and your daily streaks on the website. Go to task edit to reset the streaks, and Settings > Site > Fix Character Values to restore your gold, XP, and level.

Let us know i

[2015-03-20 22:36] Alys commented on #4805
@architarious When you're having a lot of trouble finding something, please do use the Help -> Ask a Question option. We appreciate it when people try to find information themselves but I'm really sorry you had to spend so much time looking for an answer! When you do want to search, the [wiki](http://habitrpg.wikia.com/wiki/) is likely to be much more useful than the forums.

[2015-03-21 01:39] Ganryuuu opened #4896 "Lost gems!"
Hello, i started off today with 25 gems and i have spend just 10, but my gems have decreased to 10 after use my pickpocket spell, someone can help me?

"Hi, I started off today with 21 gems that I got through my subscription (gold -> gems). This afternoon I noticed that I only have 14 gems, and have therefore lost 7 gems. I've been scouring my inventory to see if there is something I bought by acc

[2015-03-21 02:49] Rbrinkley opened #4897 "Tavern Chat Suggestion"
Hello everyone! I couldn't really find if anyone had suggested this idea before but I apologize if it has been suggested before. I posted on the HabitRPG mobile repository about this idea and I really wanted to share and see what you guys think of it. Here it is:

From the Post (Unedited):

---

4). Ability to see whether or not a message in the tavern has been seen from the website or from mobile

[2015-03-21 03:36] Alys commented on #4897
GitHub is intended for bug reports. Feature requests should go on Trello. It's best to stick to this approach because we get a lot of bug reports and they need usually need to be fixed quickly if they can be. If GitHub is used for feature requests as well, it makes the bug reports harder to find. Also, we get a lot of similar feature requests, or related requests for the similar features, and if t

[2015-03-21 03:36] #4897 closed, assigned to nobody

[2015-03-21 04:57] Alys commented on #4896
@Ganryuuu I'm investigating this to work out what happened.

[2015-03-21 08:00] bunnyplanet commented on #4313
Once again, I believe,I  managed to escape the consequences of the bug by noticing that my fetched data wasn't updated and reloading. I tried doing the control-shift-J command, but I'm afraid nothing at all happened.

It's my impression that this only happens on evenings when I go out and thus go several hours without reloading the site. Tonight I got home, checked some dailies and then after a wh

[2015-03-21 08:37] ghost commented on #4885
Hi everyone. Transifex has been updated, and I started translating. I noticed once again what seems to be a typo. Should I open a new issue in Github ? Should I continue to inform you in this one ? Or is there another way to report trivial stuff like that ?
This one is fairly minor. In defaultTasks.json, string 2 is `Sample Good Habits: + Eat a vegetable +15 minutes productive work`. As far as I s

[2015-03-21 09:35] Alys commented on #4885
Thanks @Blablux! Let's keep it here for simplicity. I've renamed this issue from "Closing tag missing in npc.json" to "errors in translatable locales text for Tour (Was: Closing tag missing in npc.json)"

@lemoness Please see the comment just above this one (you can ignore the rest). Is this worth changing? Or is there another rewrite coming for the tour?

[2015-03-21 10:32] ghost commented on #4885
Then I might add, for the sake of consistency, that in the `Sample Good Habits` and `Sample Bad Habits`, sample habits are separated by a space. But in the `Sample Good or Bad Habits`, habits are separated by a `;`. This is not a mistake in itself, but I'm what you would call a grammar nazi and it forcefuly triggers a warning in my brain :)

[2015-03-21 10:49] Ganryuuu commented on #4896
Ok, Thanks. =]

[2015-03-21 10:50] deilann commented on #4885
I'm not saying this as a moderator, but just as a person... The nazis tried
to eradicate my family and tore us apart, to the point that we still have
missing branches of the family we'll likely never know what happened to.
Having that compared to being critical about grammar really hurts. There
are a lot of ways to express the sentiment. Do you think you can try
another next time? :/

On Sat, Mar

[2015-03-21 11:15] ghost commented on #4885
You are right. I was saying that as a general expression, but this is not an excuse. Please accept my apologies for that. I'll do my best to choose wiser words next time.

[2015-03-21 11:32] deilann commented on #4885
Thank you so much. <3
On Mar 21, 2015 4:15 AM, "Bleu" <notifications@github.com> wrote:

[2015-03-21 11:54] Alys commented on #4896
@Ganryuuu I've given you back the missing 5 gems, although I'm still trying to work out exactly what happened.

 It looks like you bought the Beards and Mustaches. Was there anything else you bought?

[2015-03-21 13:33] Ganryuuu commented on #4896
Beards and mustaches (5 gems), and the kit rogue of  Seasonal Shop (5 gems), right? nothing more :o

Thanks for help

[2015-03-21 14:35] hametsunosaturn opened #4898 "Attributes Calculating Wrong"
This is a problem I've had off and on for months. I always assumed other people must be having the same problem and never reported it. But I can't find any other issues like mine. For some reason, my point values for each attribute aren't right. See here:

![attributes](https://cloud.githubusercontent.com/assets/4701023/6765403/1d0ce5c6-cfb5-11e4-94e5-02e076e41c00.PNG)

If you add up any of the po

[2015-03-21 16:00] rdhammond commented on #4802
Do you have a little more information on how to reproduce this one? I tried having a party member sent a chat message and got no alerts from it.

[2015-03-21 16:03] rdhammond commented on #4872
I think (agree?) we need both: Something to disable the "Send" button website-side as a courtesy, and something in the API to block that invalid state from ever happening.

The former should be _fairly_ easy, just slap a $watch() or jquery.on() or some such to disable and enable the button. It's just a boolean check so it shouldn't introduce any drag :) If no one's got anything in the works, I can

[2015-03-21 16:19] crookedneighbor commented on #4872
There's an `ng-disabled` directive that will do the work of disabling the send button when the message is blank.

[2015-03-21 16:28] rdhammond commented on #4872
Neato. I am understanding correctly that I need to combine ng-change on the box with ng-disabled on the button for full handling?

[2015-03-21 16:29] rdhammond commented on #4872
Oh. Or it could just tie in directly :)

[2015-03-21 18:44] snouz opened #4899 "Damages and death while sleeping in the inn"
I died while being in the inn. I'm in the inn since wednesday (I was sick) but when I came back, I was dead. Here is a screenshot
http://i.imgur.com/WPga9qL.png

I couldn't find any related issue when typing "death inn"

[2015-03-21 18:52] snouz commented on #4899
I died while being in the inn. I'm in the inn since wednesday (I was sick) but when I came back, I was dead. Here is a screenshot

[2015-03-21 19:36] FriendlyPopo commented on #4879
No it's not correct. Sorry about that (and other inconsistent PRs).

Feels like I spend minutes coding and hours trying to get Git to do what I want it to. Just disregard them all, I'll start over from scratch after learning more about Git & github.

[2015-03-21 20:31] deilann commented on #4898
It's actually a display issue, not a glitch with your stats. Your stats are
correct. The issue is that your level/2 points cap at level 100.

I thought we'd fixed this display issue, though...

On Sat, Mar 21, 2015 at 7:35 AM, hametsunosaturn notifications@github.com
wrote:

[2015-03-21 21:06] hametsunosaturn commented on #4898
I don't think I know what that means, the level/2 point cap. Does it mean that every time I level up, my attribute points don't mean anything?

And as far as the display issue, my mana is still at 340 and has been all day when just yesterday it was 440. So if that's a display issue, then I guess it isn't fixed?

[2015-03-21 21:18] deilann commented on #4898
Your stats are meant to freeze at level 100. Your attribute points do mean
something, although soon that will be fixed, where you won't gain an
attribute point after level 100. But your stats (where it says level)
actually max out at 50, or level/2.

Also, what you're experiencing with your max mana is that you probably had
a Perfect Day bonus yesterday. That will increase your intelligence by 50

[2015-03-21 21:29] hametsunosaturn commented on #4898
Ohhh, I see, I was reading / as "slash" not "divided by." It all makes sense now. Kinda. The extra 29 points are the difference between the 50 it's supposed to stop at and the 79 it actually displays.

So, I'm at level 159 now, because I've been using Habit for a long time now. Now I'm curious, what's the point of leveling up if you only get to 100 and then everything after that doesn't add anythi

[2015-03-21 21:37] deilann commented on #4898
Have you tried using the Orb of Rebirth?

Originally we had a level cap at 100. Some players wanted to keep leveling
because that on its own was motivating for them. We froze the stats to keep
the game from getting completely unbalanced and to keep from opening the
can of worms where folks wanted more and more content for even higher
levels.

The idea is that if you feel like you're in a point of

[2015-03-21 22:06] TheHollidayInn commented on #4888
Technical: I believe this happens because the user class is not synced before the Guide is called after this line: https://github.com/HabitRPG/habitrpg/blob/de67f44e1f0b6027871397610a37458a87cfdc91/website/public/js/controllers/userCtrl.js#L29 .

I'm unsure of how to use a callback to call the guide after the user has synced.

[2015-03-21 22:12] Alys commented on #4896
Thanks for the information! I think what happened was that due to a sync error or similar, you were double-charged for one of those purchases. Sorry about the trouble! Let us know if the 5 gems I gave you didn't show up, or if it happens again.

[2015-03-21 22:12] #4896 closed, assigned to nobody

[2015-03-21 22:15] Alys commented on #4899
Are you participating in a boss quest in a party? If so, damage caused by your party mates can still kill you. For more information about that, go to Social -> Tavern on the website and see the message around the Inn's button.

You can see damage done from the quest on the Party page - click the Fetch Recent Messages button and then look for red messages.

[2015-03-22 02:54] rdhammond commented on #4872
I've got it in place, but the disabled color for "Send" may confuse people. Maybe recolor? Maybe add a tooltip to let people know to type something? What do you guys think?

![disabled](https://cloud.githubusercontent.com/assets/801522/6767808/22fb2732-d01d-11e4-94bc-6deeddf98b93.png)

![enabled](https://cloud.githubusercontent.com/assets/801522/6767809/25af2b22-d01d-11e4-88a4-207e0110f521.png)

[2015-03-22 02:57] rdhammond commented on #4802
Oh, nm. It's under the notifications tab. Working on this one, then.

[2015-03-22 04:22] rdhammond commented on #4802
Okay, we can do this one instantaneously if a person leaves a group of their own accord. Getting kicked is quite a bit trickier, since that's a status push to a seperate user account. What do we currently do when you're on the party screen and are kicked? That'll be a good indication of what direction we should go with removing the chat messages, i.e. when is party status updated and how do we rea

[2015-03-22 07:42] #4820 closed, assigned to nobody

[2015-03-22 09:12] ghost commented on #4885
Still hunting Transifex. In gears.json, I found that strings 110 and 429 both are `Exploding Squeak`, as are strings 111 and 430 for its bubble text. I searched if there was other duplicates for other Spring 2015 items but couldn't find another one (yet).
Update : I was wondering if this could be an intended duplicate, but as Transifex let us translate both strings differently, I'm pretty sure it

[2015-03-22 10:11] Alys commented on #4885
That's normal. It's because the Rogue's shield is the same as the weapon, except held in a different hand. The shield and weapon descriptions are always paired. It's redundant in the locale files but makes the code much simpler.

[2015-03-22 12:24] crookedneighbor commented on #4872
I think its a pretty normal convention to show disabled buttons with a lighter color scheme. If you wanted to be very clear about it, you could add a tooltip to the send button explaining that you can't send a blank message.

[2015-03-22 13:00] ghost commented on #4885
I didn't see that one coming, but it's logical. Sorry for bothering you with questions that every new translator might have already asked. I'm updating my translator cheatsheet with every new details I learn about :)
I added a comment in transifex, so that people know that the translation might be used elsewhere... and corrected the french translations, that were indeed different for each item.

[2015-03-22 14:07] hametsunosaturn commented on #4898
The problem with starting over is that there are only two people in my party, so quests take long enough as it is. I'm the warrior, so I do most of the damage to bosses right now. We've tried to recruit others to the game, but haven't been successful. If I start back at level 1, we would never keep up with all the pet quests. There's just no good answer. :/

[2015-03-22 15:49] rdhammond commented on #4872
Oh, yeah, the lighter color thing is definitely convention. Still,
sometimes a user must be hit over the head with it :)

I'll see if I can add a tooltip, then check it in. I assume the linked
issue is handling server-side API code, and it looks like someone's already
done that, but I can look at it too if necessary.

On Sun, Mar 22, 2015 at 8:24 AM Blade Barringer notifications@github.com
wrote:

[2015-03-22 15:53] crookedneighbor commented on #4872
@rdhammond Yeah, just add a tooltip that appears on hover. I think that'll clear up confusion. Anyone that is intentionally trying to send a blank message is going to be confused regardless!

[2015-03-22 16:37] rdhammond commented on #4872
Here we are. Tooltip only appears when the message box is empty _and_ the button is hovered over. Do you think the copy's okay, or should we change it?

![capture_002_22032015_123412](https://cloud.githubusercontent.com/assets/801522/6770225/0f6aacce-d090-11e4-9b3a-11a156b13f44.png)

[2015-03-22 17:19] crookedneighbor commented on #4872
I think the text could be better. @lemoness do you have any suggestions?

@rdhammond Is the text hardcoded into the tooltip, or is it a translatable string?

[2015-03-22 18:22] Myntax opened #4901 "Dailies not resetting"
My dailies aren't unchecking themselves every day like they used to. They will remain checked from the previous day, so I have to manually uncheck them each day.

My user ID is fd81fd7e-e327-4f5e-9522-940acd3d440b
My browser is Chrome and I'm using OS X version 10.9.5

[2015-03-22 19:47] crookedneighbor commented on #4901
@Myntax Your user is currently in the inn, which pauses activity on dailies.

If using the website, [go here](https://habitrpg.com/#/options/groups/tavern) and click the big green button that says check out of the inn. If you're using the mobile app, go to settings to check out.

[2015-03-22 19:47] #4901 closed, assigned to nobody

[2015-03-22 19:56] crookedneighbor commented on #4901
If you're still having issues after checking out, feel free to respond again here.

[2015-03-22 19:59] rdhammond commented on #4872
Translatable.

On Sun, Mar 22, 2015 at 1:19 PM Blade Barringer notifications@github.com
wrote:

[2015-03-22 20:14] crookedneighbor commented on #4872
:+1:

I'd like to see text that relates more to what's happening, like "Fill in a message" rather than "Type something in the box". Does that make sense? I'd also like to see what @lemoness comes up with.

[2015-03-22 20:21] Smashley027 commented on #4116
Hello! I seem to be running into the same issue with the iphone app and the website. I've sadly lost an entire level when I switched from using the app to the website :( Sorry if I've missed the solution or if I'm duplicating, I wasn't 100% sure if there was one from reading the forum. Sorry!

[2015-03-22 20:54] easement commented on #4869
Looks like UTC. Have we thought about using moment.js for date stuff. It seems like it would resolve a lot of date issues with the JS. It's already a bower package.  http://momentjs.com/

[2015-03-22 23:38] deilann commented on #4872
jsyk, I can't see any difference between the two buttons.

On Sun, Mar 22, 2015 at 1:14 PM, Blade Barringer notifications@github.com
wrote:

[2015-03-22 23:43] deilann commented on #4898
If quests are exciting for you, one thing you can do is adapt the way you
use Habit to deal more quest damage. I actually find that when I use the
Orb of Rebirth I initially do more quest damage because my tasks are no
longer blue. :) You could also find ways to better reward yourself with
mana, either by using To-Dos more (although soon, Habits will give you mana
as well) or allowing yourself to

[2015-03-22 23:54] ghost opened #4902 "Notification for Guild invitation leads to a empty page"
I've juste been invited to a guild. I received a notification that I can click. If I indeed click the notification, this leads me to https://habitrpg.com/#/options/groups/guilds, which looks like this:

![screenshot - 23032015 - 00 29 20](https://cloud.githubusercontent.com/assets/4882150/6772114/dff4078c-d0f4-11e4-8008-603baa4bf6fa.png)

This is on Firefox 36 on Xubuntu. I also tested it on Firef

[2015-03-23 03:20] L1st3r opened #4903 "Finished the Derby quest, but I don't have the ability to purchase seahorses"
Yep that's pretty much it. Finished the quest forever ago. uuid: e177e5a0-2606-40b7-b448-bbc7359ca30f

[2015-03-23 03:46] deilann commented on #4903
As stated in the Tavern by Cantras:

You haven't done the derby quest. You were present for the dilatory world event, "The Dread Drag'on of Dilatory" (which gave everyone one seahorse egg) -- but not the quest, which is "The Dilatory Derby".

In order to purchase seahorse eggs, you will need to complete "The Dilatory Derby"

[2015-03-23 03:46] #4903 closed, assigned to nobody

[2015-03-23 04:15] hwrdtm commented on #2028
I'd like to try and fix this up a bit (I'm a newbie programmer so it might take some time)!

So I take it that ideally there should be both fluff and attribute descriptions in Gear & Rewards, and just fluff in the Costume section.

I was thinking of a really easy fix which would just be to add another complete set of descriptions for all the gear in gear.json in /locales/en/ without the attribute

[2015-03-23 04:53] Alys commented on #2028
@howard611  "Increases....." or "Confers....." isn't always the final sentence. For example, the Limited Edition gear (e.g., the current spring gear) has another sentence at the end, as does the Mystery gear. Those sentences must appear in the Costume area. A regex that removes the Increases|Confers sentence should be possible, if we want that to be done.

Adding another complete set of descriptio

[2015-03-23 05:18] NephFirefly opened #4904 "Aborting a quest with an inactive quest owner"
User ID: da6c6f7c-2dc5-436e-8f73-55e0153d104f
Group ID: 9c878693-9186-427c-bec7-02288a71513a

Several months ago (very early fall 2014) a member of my group started a quest and left it up barely long enough for anyone else to join. There were only three of us who were able to join, out of over 10 active group members. Unfortunately, shortly after starting the quest the quest owner stopped using Ha

[2015-03-23 05:22] Alys commented on #4904
We can definitely get this sorted out for you. I'll do it when I get home in a few hours if no one else gets to it first.

[2015-03-23 05:28] Alys commented on #4904
Note that first I'll have to check to ensure that all of the quest participants except you are inactive (and if they are not inactive, I'll need to ask their permission too), but given what you've said, that's probably just a formality. :)

[2015-03-23 05:39] stuckfly opened #4905 "Progress not saved on logout (checked items not checked, new ones vanish…)"
Mac OS 10.10.2 and Safari
If I forget to hit the sync button before logging out, when I log back in the tasks and dailies I had checked as done are not checked and my avatar often dies from this if I don't catch it before midnight.

If clicking the sync button is necessary (until recently it wasn't necessary), then why not just force a successful sync as part of the logout code? Very frustrating!

[2015-03-23 08:20] Alys commented on #2028
@lemoness Would you like this change to be made? On the Costume side of the Equipment page, the item descriptions would no longer contain the sentence that shows what stats they give. For example, for the Fireproof Helm, the description would change from this:
   "Fire? HAH! You squeak fiercely in the face of fire! Increases Perception by 9. Limited Edition 2015 Spring Gear."
to this:
   "Fire? HA

[2015-03-23 10:25] Alys commented on #4904
I've confirmed that the only other person on the quest has been resting in the inn since mid-December, as @NephFirefly says, so I feel justified in ending this quest. I'm just waiting to get one piece of information from NephFirefly in a private message before I do that (any GitHub admins can ask me about this privately if they want details).

[2015-03-23 10:35] fnurl commented on #4891
Thanks @Alys for the comment. I now found the quote you are referring to, I previously only read the documentation under `user/tasks{id}/{direction}` which refers to a task rather than a habit. The description of the route reads _"Simple scoring of a task."_ and for id the description is _"ID of the task to score. If this **task** doesn't exist, a task will be created automatically"_ (my emphasis)

[2015-03-23 10:50] Alys commented on #4891
"task" does normally mean Habit and Daily and To-Do (and often even Reward). However where it says task in that one piece of documentation, it might just be referring to Habits.

What happens when you use `/user/tasks/{id}/up` with the ID of a To-Do? Does the To-Do's value change? If so, then you **can** use `up` with To-Dos.
Or is a new Habit created with the same ID as the To-Do that you were tr

[2015-03-23 10:59] Alys commented on #4902
If you've accepted the invitation, could you please invite me to the guild, or ask the guild leader to invite me? I just want to see what happens for myself, and I won't join the guild (except possibly by accident, but then I'd leave immediately without reading anything).

[2015-03-23 11:05] ghost commented on #4902
I've not yet accepted the invitation, so that I can reproduce it anytime, but I'll ask the Guild to invite you anyway so that you can reproduce this behaviour on your own.

[2015-03-23 11:41] Alys commented on #4902
Yes, the correct URL is definitely https://habitrpg.com/#/options/groups/guilds/public but the notification in the HabitRPG menu bar takes you to https://habitrpg.com/#/options/groups/guilds

This should be an easy fix. I have advertised it in the Aspiring Coders guild for a new programmer to try.

FYI, accepting the invitation from the email does take you to the correct URL.

Thanks very much @Bl

[2015-03-23 12:12] ghost commented on #4902
I indeed tried to track this bug myself, but the codebase seems just too huge for my petty skills. I guess I'll stick to analyze and report.

[2015-03-23 13:01] Alys commented on #4885
No worries! We don't actually get that question often, which probably explains why some of the translations were different when they should have been the same. :-/  Thanks for fixing them and adding the comment!

Your cheatsheet sounds useful! If you'd like to share what you're learning, I'm sure it would make a good addition to the [Guidance for Linguists](http://habitrpg.wikia.com/wiki/Guidance_

[2015-03-23 13:14] fnurl commented on #4891
If I use `/user/tasks/{id}/up` with an _existing_ To-Do, the user scores and the To-Do is marked as completed. When using `/user/tasks/{id}/up` with the intent of both _creating and scoring_ a To-Do, the To-Do is created, scored, but _not marked as competed_.

In this particular case, I am using the API via Zapier where only single API calls are supported which unfortunately means I am not able to

[2015-03-23 13:30] Alys commented on #4891
I can confirm the behaviour that when you use `/user/tasks/{id}/up` with an existing To-Do, the user scores and the To-Do is marked as completed.

However I cannot replicate using `/user/tasks/{id}/up` to **create** and score a To-Do. Every time I try it, it creates a Habit and scores it. It doesn't mark the Habit as completed of course, because that doesn't happen with Habits. This seems to be co

[2015-03-23 16:44] SyntaxPickax commented on #4891
@Alys Did you include `"type": "todo"` in your POST request? When I test with the [static API page](https://habitrpg.com/static/api#!/user/user_tasks_id_direction), this creates a new green uncompleted To-Do:
![screen shot 2015-03-23 at 9 38 36 am](https://cloud.githubusercontent.com/assets/1245093/6785088/d7a91378-d140-11e4-99d9-1ea372d7370b.png)
and this creates a new green Habit:
![screen shot

[2015-03-23 16:52] negue commented on #4869
Fixed with https://github.com/HabitRPG/habitrpg-mobile/commit/cf652fcf4b7425f1b4f264362b843322c21c8fdb

[2015-03-23 16:52] #4869 closed, assigned to negue

[2015-03-23 16:53] negue commented on #4667
Fixed with https://github.com/HabitRPG/habitrpg-mobile/commit/c78b73dc6b39763125e5fd5088c7fd3163a7bc5d

[2015-03-23 16:53] #4667 closed, assigned to negue

[2015-03-23 18:15] gkjt commented on #4902
I think I have this fixed, just need to sort a pull request out, if I could message someone to just check a couple of things? (Or I could ask on here, if its ok to pollute this a little)

[2015-03-23 18:23] paglias commented on #4902
You can write here, don't worry
Il 23/mar/2015 19:15 "gkjt" notifications@github.com ha scritto:

[2015-03-23 18:26] gkjt commented on #4902
Ok, thanks, with the pull request branch comparing screen, do I set the base to be the develop branch or a branch that is specifically for this fix?

[2015-03-23 18:40] paglias commented on #4902
I think the base is develop and you should compare it to your own branch
for fixing this
Il 23/mar/2015 19:26 "gkjt" notifications@github.com ha scritto:

[2015-03-23 18:47] gkjt commented on #4902
Ok, thank you, I've just posted it

[2015-03-23 20:07] #4902 closed, assigned to nobody

[2015-03-23 21:05] Alys commented on #4891
Ah, thanks @SyntaxPickax, I see those options now. I stupidly hadn't expanded the POST section, assuming that that route was identical to the simple option described in the documentation at the top of the page. Sorry about that! I'll adjust the docs to point out that more details can be provided as described lower down that page.

Okay, so the problem is that when using `/user/tasks/{id}/up` **wit

[2015-03-23 21:56] lemoness commented on #2028
Yes, I like that!

On Mon, Mar 23, 2015 at 1:20 AM, Alys notifications@github.com wrote:

[2015-03-23 21:58] Alys commented on #2028
@howard611 If you'd still like to do this, please do! If you have any questions or run into problems, you're welcome to ask here.

[2015-03-23 22:07] lemoness commented on #4872
I think the tooltip should say "Please type a message."

To make it more obvious, maybe we could also add the same grey box filler
text we have in the Tavern, to say something like "Type your message here."

On Sun, Mar 22, 2015 at 4:38 PM, deilann notifications@github.com wrote:

[2015-03-24 02:55] NephFirefly commented on #4904
I responded to your message.

[2015-03-24 03:05] hwrdtm commented on #2028
@Alys Alright, thanks! I'll work on it now :D

[2015-03-24 04:04] rdhammond commented on #4872
I like both! I'll put them in and then submit in a pull request for my
branch.

On Mon, Mar 23, 2015 at 6:07 PM lemoness notifications@github.com wrote:

[2015-03-24 04:39] deilann commented on #4872
I'm still a little bit concerned about the fact that the active button and
the inactive button look exactly the same to me.

On Mon, Mar 23, 2015 at 9:04 PM, R. Daniel Hammond <notifications@github.com

[2015-03-24 04:57] Alys commented on #4904
Fixed. Let us know tomorrow if you're not able to start a new quest. I'll close this now, but if you comment here we'll still see your message and will help you.

[2015-03-24 04:57] #4904 closed, assigned to nobody

[2015-03-24 05:44] Alys commented on #3852
Reopening because we still need to update the Vagrant configuration so it automatically installs the correct version of mongod. The production site currently uses mongod 2.6.4

[2015-03-24 08:05] fnurl commented on #4891
@Alys Sounds great! do you think you could comment in this issue when the API has been changed so that I can update my Zapier App descriptions?

[2015-03-24 08:11] Alys commented on #4891
I might not, but issues are always updated when fixes are proposed and are closed when the fixes are accepted, so if you keep following this issue you'll see when it's been worked on.

[2015-03-24 08:44] ghost commented on #4885
There is not much yet in my cheatsheet, but I have few ideas to expand it, and then I'll ask the Wizards of the Wiki if they find it useful and what's the best way to follow to add it to the wiki.

[2015-03-24 12:53] crookedneighbor commented on #4872
@deilann the disabled vs not-disabled style issue is a problem with bootstrap. Adding ng-disabled, just adds the disabled attribute to the button, which prevents it from being clicked and it's up to bootstrap to determine how it's styled.

I think we should open up a separate issue to modify bootstrap a little bit to make it more accessibility friendly.

[2015-03-24 14:54] Ashleighnikiann commented on #4313
I've had this problem several times over the past few months (dailies staying checked after the cron and checked dailies doing damage from the boss in our party), the most recently being today! Others in our party have also had this problem. I do see the advice at the top of the page, but I thought I should just give y'all a heads up.

User ID: e975d3cb-b67a-41c5-8d72-1caa07d30ebe
Browser: Chrome

[2015-03-24 15:39] SyntaxPickax commented on #4891
Thanks @Alys
On Tue, Mar 24, 2015 at 01:11 Alys notifications@github.com wrote:

[2015-03-24 18:59] TheHollidayInn commented on #4816
Hello,

I can't check out your user or group, but I am trying to recreate this. I'm not having any success.

Are you still experiencing this issue? If so, is there any customizations you have made to your party?

Thanks!

[2015-03-24 19:08] WillyReyno commented on #4905
Same here, when I was at work I was level 40, and had checked and edited many tasks.
Now back home I'm level 37 and all my edited tasks are not...
(at work I'm on Mac Firefox, at home I'm on Firefox but onWindows)

[2015-03-24 19:14] hairlessbear commented on #4816
The issue is still happening, and I haven't made any customizations (I recently installed the HabitRPG chat extension, but the issue was happening long before that). I think the issue is at least partially caused by the fact that I'm in a very large group (22 members), as explained below.

Due to a recent change in party membership (we gained and then lost a new member), I noticed that the number

[2015-03-24 20:26] SynapticWanderer commented on #4905
I'm having this problem too, I died, and the rest of my party almost died, because it didn't take most of my checked dailies from the day before. Also, for some reason, some of my dailies are still checked from yesterday. This is doubly frustrating because we're in the middle of a boss quest, so extra damage is done. I had completed all of my dailies. Do we have to hit the sync button when we're d

[2015-03-24 20:38] lemoness commented on #4905
We're sorry that this has been happening!

@GypsyDarkness It sounds like you are actually experiencing this bug, unfortunately: https://github.com/HabitRPG/habitrpg/issues/4313 We've been investigating it, but in the meantime, please see the "Advice" section. The good news is, you and your party can fix the unjust damage under Settings > Site > Fix Character Values :)

@WillyReyno @stuckfly It doe

[2015-03-24 20:51] SynapticWanderer commented on #4844
I had that happen too, where the app didn't sync anything at all, so I just stopped using it.

[2015-03-24 21:35] Jymaru opened #4912 "Quests keep disappearing"
User ID: 3f2066ac-191b-45bd-ad65-09ba98aa656e
Browser: Firefox (also tested from Chrome, Opera, and the HabitRPG App)
Operating System: Windows 7 (Also tested from Android 4.4)

I run a solo party to do quests. But my quests keep disappearing, along with all messages relating to them, as if they'd never existed. Sometimes they come back, sometimes they don't

I'm currently attempting the quest Sna

[2015-03-24 21:39] deilann commented on #4912
Oh, this sounds like the two party issue.

Try leaving your empty party that is quest-less, then log out, and log back
in. See what happens.

On Tue, Mar 24, 2015 at 2:35 PM, Jymaru notifications@github.com wrote:

[2015-03-24 21:57] Jymaru commented on #4912
That seems to have fixed the issue, thank you (I wonder why it does that)

[2015-03-24 21:57] #4912 closed, assigned to nobody

[2015-03-24 22:49] LittleELK26 commented on #4470
Hi @Alys Sorry for the delay- I was trying to manually remove the duplicates and, while it didn't seem to register for a while, eventually I managed to clean them all out myself.  This problem has intermittently repeated itself (though not at the moment) but is usually only repeating one or two list items once or twice rather than the dozen+ it was doing last week.

[2015-03-24 23:03] LittleELK26 commented on #4617
A similar issue:
Yesterday evening I noticed that 2 of my habits were not showing up on my HabitRPG app, when I got a chance to check this morning I found that they're also not displaying on my PC. (And continue not to on the app) I've had these two habits (a laundry and a dishes one) running successfully for at least a week so I don't know how or why they would have disappeared at some point yest

[2015-03-25 00:55] deilann commented on #4912
Is your account older? There was a bug that caused some folks to be in two
parties at once a long time ago.

On Tue, Mar 24, 2015 at 2:57 PM, Jymaru notifications@github.com wrote:

[2015-03-25 00:56] deilann commented on #4872
That sounds good to me, Blade!

On Tue, Mar 24, 2015 at 5:53 AM, Blade Barringer notifications@github.com
wrote:

[2015-03-25 03:16] hwrdtm commented on #2028
Hey @Alys, I've managed to write out the first version of the code for querying the equipment descriptions. Here is the link to the repo and everything important is under the script tag in the html:

https://github.com/howard611/regex-test

I also have 2 things to ask you:
1. For the "Increases....." statement, it's going to be printing digits instead of the < > tag before the full stop, so I real

[2015-03-25 07:58] Alys commented on #4617
@LittleELK26  In your account, there's definitely no laundry and dishes Habits (excluding the very new one), so the problem is not that something is hiding them. They have been deleted. I can't find out when or how, but I'm wondering if they were deleted when you were cleaning up duplicate tasks (https://github.com/HabitRPG/habitrpg/issues/4470#issuecomment-85724164). Glitches related to the dupli

[2015-03-25 08:00] #4859 closed, assigned to nobody

[2015-03-25 08:54] Alys commented on #2028
@howard611 :
1. Correct. Note that some gear can increase two stats. The easiest way to find examples is to hover over the equipment you own. If you don't own much, you can use the json data below, taken from my account - add it to a test user in your local database and that user will have almost all the equipment it's possible to have. I think I'm missing some small hammer or something, but that'

[2015-03-25 10:24] WillyReyno commented on #4905
I tried to follow what you said, I synced everytime I logged out from a computer.

At home I'm currently level 39, and now at work I'm level 42 with the tasks I had yesterday at work...
EDIT : It seems that my to-dos from my home and those I added at work have been merged, some of my to-dos were displayed twice so I deleted some of theme.

[2015-03-25 11:38] gisikw commented on #4876
I was able to reproduce this in a Windows VM. I'll take a look and see if I can track this down :)

[2015-03-25 18:49] lemoness commented on #4905
@WillyReyno HM - that makes it sound like you might actually have two accounts. @Alys or other devs, can we check on this?

[2015-03-25 18:50] paglias commented on #4905
@WillyReyno can you provide your UUID?

[2015-03-25 18:51] WillyReyno commented on #4905
Back at home, now everything seems to be correctly synced...
My UUID is : aa137fd1-9b36-4c2f-ae2b-e651e2b764c5

[2015-03-25 18:59] paglias commented on #4905
No duplicate account, probably just some sync error, I'm sorry

2015-03-25 19:51 GMT+01:00, Willy Reyno notifications@github.com:

##

Matteo Pagliazzi - paglias.net

[2015-03-25 22:07] LittleELK26 commented on #4617
No, @Alys they definitely hung around longer than I was cleaning up duplicates. But if there's definitely no way to get them back then I'll add them back in and format them the way I need (rather than that new one that's hanging out) Thanks!

[2015-03-26 01:57] carolab opened #4916 "Spring 2014 gear gone"
I remember I used to have the 2014 spring gear. It's all gone, and I didn't even notice, I don't remember losing it any of the times I died. I just noticed when I was looking at the seasonal shop.
I'm using Chrome, my user ID 7e08d2af-5daa-48b0-b8c3-f5ef305ae51b

[2015-03-26 02:05] deilann commented on #4916
Your account data seems to imply that you never purchased the 2014 spring
gear.  Are you positive you were active on the site during that period and
purchased it?

On Wed, Mar 25, 2015 at 6:57 PM, carolab notifications@github.com wrote:

[2015-03-26 04:36] Amputatoes opened #4918 "Dailies Reset, DMG, and Streak Reset Before 00:00"
The issue is best summarized in this conversation:

@Jajbit Is there a way to make it so cron only happens with the time? Right now it appears if I sign out then sign back in within the same day I take damage from incomplete dailies (before 00:00). If I understand the FAQ that's working as intended? Please advise.

@Alys Cron should happen only once a day and only when you use HabitRPG for the fir

[2015-03-26 07:51] Alys commented on #4898
This should be fixed when https://github.com/HabitRPG/habitrpg/issues/4913 is deployed to production (should be in just a couple of days). If not, we can reopen this.

[2015-03-26 07:51] #4898 closed, assigned to nobody

[2015-03-26 08:06] #2852 closed, assigned to nobody

[2015-03-26 08:28] Alys commented on #4798
This should have been fixed by https://github.com/HabitRPG/habitrpg/issues/4908 which will go live in a day or two. We can reopen if that's not the case.

[2015-03-26 11:06] proxforge opened #4921 "Got March subcribers Items, but I did not renew my subscription"
Hello Guys,

I got March subcribers Items, but I did not renew my subscription. Thats my user-id:
7374977d-317f-4764-9234-31c870977c48 I had a one-month subscription as I gift, but I did not renew for another month.

Best Greetings, johnny

[2015-03-26 11:08] deilann commented on #4921
When were you gifted your subscription?

If it was towards the end of last month, your subscription would still be
active.

On Thu, Mar 26, 2015 at 4:06 AM, j0hnnycode notifications@github.com
wrote:

[2015-03-26 11:21] proxforge commented on #4921
Today. My subscription ended on March the 25th. I even cant buy gems for 20 gold and so on ... I was gifted the subscription on february the 25th.

[2015-03-26 11:23] deilann commented on #4921
Sounds like you got the migration at the very end of your subscription!
Lucky you! Perfect timing. This is expected behavior. You were a subscriber
when the mystery gifts were given out, which was yesterday in the US.

On Thu, Mar 26, 2015 at 4:21 AM, j0hnnycode notifications@github.com
wrote:

[2015-03-26 11:23] #4921 closed, assigned to nobody

[2015-03-26 12:40] cammi opened #4922 "Mobile not working?"
No matter what I try, I can't log in on the mobile.

[2015-03-26 14:34] melsmarsh opened #4923 "Dailies only partially resetting"
This seems to be a new issue, but on cron only half of my dailies reset today and I had a perfect day.  I am not in the inn or anything like that.

Ones that did not reset included all of the ones I put in manually, such as the stuff I absolutely MUST do every day like meds and such.

Ones that did reset included all the ones I was doing for challenges like "do something nice for yourself."

Somet

[2015-03-26 15:43] rdhammond commented on #4872
Sorry about dragging my feet on this. I should have changes in tonight.

I'm gonna patch up the Meta-Enter issue and try removing the inline-block directive, but I'm ~95% certain the wrapper has to stay. IIRC bootstrap doesn't allow disabled buttons to show tooltips but is smart enough to not show empty tooltips. It's a hack, but I don't see any other (reasonable) way to accomplish it.

[2015-03-26 15:45] melissamcewen commented on #3852
I have this ready, I can test it this afternoon and initiate a pull request

[2015-03-26 15:49] kevinritt1 opened #4924 "iOS issue - Syncing and Editing To-Dos"
I've noticed an issue with my iOS app, and it seems to be different than most of the ones I've seen elsewhere on here (sorry if I missed it!). My problem isn't with health or dailies, but with to-dos.

I've essentially stopped using my phone for the input, edit, or "checking off" of any to-dos, because the sync is inconsistent. Sometimes it works fine, but more often only the input function will w

[2015-03-26 18:49] paglias commented on #4922
What do you mean by can't log in? Does it says your email/password combination is not valid?

You should check that you didn't signup via facebook.

Also could you give us your UUID (Settings->API) and if you're using iOS or Android?

[2015-03-26 20:32] Alys commented on #4872
Never apologise for delays like that. Real life is important too. We're just grateful for any time you can spend on the code!

[2015-03-26 20:53] ghost opened #4926 "Editing an old task without checklist brings the "Checklist" title"
While editing an old task, I noticed something unusual:
![screenshot - 26032015 - 20 31 57](https://cloud.githubusercontent.com/assets/4882150/6856501/bd1975b2-d400-11e4-96e7-1a940d81ff98.png)
Although the task has no checklist, the title _Checklist_ appears under the _Add Checklist_ button, and then a horizontal rule, as if it is expecting a checklist to appear next.

So I tried to create a new t

[2015-03-26 21:10] carolab commented on #4916
I remember I was active and at least bought the mouse ears... Now I'm starting to doubt. But if the data says I never purchased it, maybe I got confused. Thanks for the reply.

[2015-03-26 21:37] berriganator opened #4927 "Invite Friends totally non-responsive"
I tried to first invite my friend by email, but the dialogue box in both Firefox (36.0.4) & Chrome (41.0.2272.101) on Mac was completely unresponsive. Clicking the + did nothing, adding an existing user name (once she got it going by herself), also was unresponsive. The only responsive button in the window is "close".

![screen shot 2015-03-26 at 10 34 08 pm](https://cloud.githubusercontent.com/as

[2015-03-26 21:39] geekeasy opened #4928 "Completing Daily - Gold count wrong"
When I complete a daily task the amount of gold I'm rewarded it obviously wrong.  I was just rewarded 70 gold for clicking off a daily task, according to the text boxes which temporarily pop-up.   Perhaps it's the total amount of gold which has been given for the history of this daily task?

And this issue is repeatable every time I check one off.

UserID:  b95b417c-d969-4347-b142-c9c6193a1d4d
OSX

[2015-03-26 21:46] deilann commented on #4928
That's 70 _silver_ or .7 gold. No worries. :)

[2015-03-26 21:46] #4928 closed, assigned to nobody

[2015-03-26 21:46] Alys commented on #4926
Good catch! Thank you.

We'll be changing the way the checklist button, title, and info tip are presented (see https://github.com/HabitRPG/habitrpg/pull/4821#issuecomment-78367808 and later comments), so I'm going to put this issue on hold until after that. Whatever weird bug is causing this might be fixed by that change, but even if not, we don't want the two fixes conflicting. I've made a To-Do

[2015-03-26 21:47] paglias commented on #4927
@berriganator sorry about that. It was a guild or a party? Also, if it happens again in Chrome you should open the console (Ctrl+Shift+J) and report anything you see there

[2015-03-26 21:53] geekeasy commented on #4928
Ah ha.  Thank you.

But I wonder if other people are confused by this too.

Might a color change help, such that a reward of silver does not show up in a gold color bar?

[2015-03-26 21:54] Alys commented on #4923
This is an example of the bug reported in https://github.com/HabitRPG/habitrpg/issues/4313. I am sorry you were hit by it! If you look in the "Advice" section in the first post on that page, you will see some information about a workaround for today ("How to fix Dailies that should have become unticked"), and what to do if you notice it happening again ("What to do if you experience this bug often

[2015-03-26 21:55] deilann commented on #4928
I don't think other people are confused by this. This is the first time I've seen this confusion in over 2 years. The amount is clearly next to a piece of silver. Changing the growl logic so when a reward is less than 1 seems like it wouldn't be worth it.

[2015-03-26 22:03] berriganator commented on #4927
Actually it was from the settings page. I got this in the console:

Given URL is not allowed by the Application configuration: One or more of
the given URLs is not allowed by the App's settings.  It must match the
Website URL or Canvas URL, or the domain must be a subdomain of one of the
App's domains.

I don't know if that's relevant at all.

When I went to the party page instead and tried to inv

[2015-03-26 22:07] deilann commented on #4927
username won't ever work -- it's asking for User ID, not username, which is
a long character string.

Where in settings did you find an invite button? The invite buttons are
pretty much for guilds and parties, so I don't think one is meant to be
there. If so, we should probably get rid of it!

On Thu, Mar 26, 2015 at 3:03 PM, Caitlin Berrigan notifications@github.com
wrote:

[2015-03-26 22:10] berriganator commented on #4927
Aha. Thank you for the clarification on User ID / username.

This is where it is in settings. Again, the email here didn't work either. Thanks!

![screen shot 2015-03-26 at 11 08 23 pm](https://cloud.githubusercontent.com/assets/11406808/6858249/40822a78-d40d-11e4-9a07-f7590c913c99.png)

[2015-03-26 22:19] paglias commented on #4927
Ohh I didn't know about that Invite friends! Thanks for the report, I'll
fix it in the coming days
Il 26/mar/2015 23:10 "Caitlin Berrigan" notifications@github.com ha
scritto:

[2015-03-26 22:20] berriganator commented on #4927
Thanks!

[2015-03-26 22:36] melsmarsh commented on #4313
I've been hit by the same bug so sayth who closed my ticket.  Only the dailies that are part of challenges are resetting and the ones I entered myself are not.  Hard refreshes don't work nor does accessing it from other browsers.

User: d37b6a7e-8ede-4e78-8924-1598eaffd397
Browser: Firefox (same issue on Chrome)
OS: Win 8.1

[2015-03-26 22:59] ghost commented on #4926
I think I nailed the trigger. Although opening an empty checklist does bring the title, I still thought that this wasn't done that way with older tasks. I first thought that it had something to do with cron, but after a simple refresh of the page, now the task I created 2 hours ago show this behaviour. I tested it with a newly created task. A refresh immediately brings the _Checklist_ title.

[2015-03-27 03:40] Amputatoes commented on #4918
Left myself signed in at home computer and then logged into work computer to see if it would happen or not, the bug still happened so being logged in or out at home computer doesn't seem to have any effect. Tomorrow I'll not log in at work and advise

[2015-03-27 08:16] Alys commented on #4687
Fixed in https://github.com/HabitRPG/habitrpg/pull/4849

[2015-03-27 08:16] #4687 closed, assigned to nobody

[2015-03-27 08:39] Alys commented on #3904
No extra "5" pets have appeared. I'm declaring this fixed for all players.

[2015-03-27 08:39] #3904 closed, assigned to nobody

[2015-03-27 09:24] Alys commented on #3020
Fixed in https://github.com/HabitRPG/habitrpg/pull/4836

[2015-03-27 09:24] #3020 closed, assigned to nobody

[2015-03-27 11:14] Alys commented on #3411
Is this still an issue? One instance of `&#9776;` was been replaced by glyphicon-align-justify in https://github.com/HabitRPG/habitrpg/pull/4855 and I'm not sure the other instances are ever seen on mobile devices. They aren't in the Android app, nor in the website on an Android phone browser. However perhaps on an Android tablet browser, the full website menu system is used, which would mean that

[2015-03-27 11:15] Alys commented on #3411
See also the discussion of options in https://github.com/HabitRPG/habitrpg/pull/3412

[2015-03-27 11:21] Alys commented on #3411
And see also https://github.com/HabitRPG/habitrpg/pull/3427 Menu line compromise built with css borders

[2015-03-27 11:25] Alys commented on #1488
Partial implementation in https://github.com/HabitRPG/habitrpg/pull/2549 which has been closed due to age but could probably be used as a basis for a new fix.

[2015-03-27 15:04] neverasuspect commented on #4916
All 10 of my egg basket mounts disappeared 2 days ago. They were eggs left over from last year's egg quest that I fed.
User ID 0309ae9c-d809-4506-8a09-0b8848233171 using Firefox

[2015-03-27 19:26] Alys commented on #4916
@neverasuspect Your account shows that you still own all of those mounts, and the pets, so this is just a temporary display problem. Reload the website and they should reappear.

They probably won't appear in the app for a few days until the latest update is approved by Apple/Google (could be a few weeks for Apple; they've very slow).

[2015-03-28 13:11] gisikw commented on #4427
The issue here is that the member list is truncated to the first 15 members, so the front-end logic checking whether a user is a member of a group is only comparing against that first 15.

I should be able to wire up the backend to forward user inclusion info to get the join/leave button behavior working correctly :)

[2015-03-28 14:36] hairlessbear opened #4935 "Adding multiple tasks adds them in the opposite order they were entered"
When adding multiple tasks simultaneously, they are placed into the to-do list in the opposite order than they were entered. Since I (and I'm guessing others) enter the tasks in the order I'd like to complete them, this is a little annoying, since it essentially creates my daily to-do list upside down. Any chance this could be changed?

[2015-03-28 15:56] hairlessbear opened #4936 "Collection quests without images have confusing text formatting"
### EDIT FROM ADMIN

Many of the collection quests are missing illustrations, which is causing some weird formatting in the quest modals (see below for screenshots). The following need art:
- [x] [Find the Cub](http://habitrpg.wikia.com/wiki/Find_the_Cub) (fixed in #5545)
- [x] [Find the Lair of the Wyrm](http://habitrpg.wikia.com/wiki/Find_the_Lair_of_the_Wyrm) - common/img/sprites/spritesmith/qu

[2015-03-28 16:14] hambailey opened #4937 "can't unsubscribe from mailing list"
Email received. Clicked "here" to unsubscribe using galaxy note 2. Took me to home page. Didn't see option on site anywhere.

[2015-03-28 16:16] paglias commented on #4937
You can unsubscribe from Settings -> Notifications
Il 28/mar/2015 17:14 "hambailey" notifications@github.com ha scritto:

[2015-03-28 16:16] #4937 closed, assigned to nobody

[2015-03-28 17:07] melissamcewen commented on #3852
BTW in the future if we want to switch to Chef Provisioning I'd be interested in helping and/or spearheading. I don't know Chef but I've worked with some Vagrant instances that use it and would love to learn it. http://docs.vagrantup.com/v2/provisioning/chef_solo.html

[2015-03-28 17:30] SabreCat commented on #1866
Seems to me this got much worse all of a sudden. I can type out someone's entire name using @ and still not have them show up in the autocomplete.

[2015-03-28 21:42] Alys commented on #4935
I can definitely see your point with this but the current behaviour is consistent with adding tasks one by one (the most recently typed task appears at the top of the list). Consistency does have benefits for usability. I'm not sure whether that applies in this case though. @anitaycheng?

[2015-03-28 21:43] Alys commented on #4427
@gisikw I'm pretty sure we have some code related to this already, waiting for approval. Give me a few minutes to get through some other stuff, and then I'll look for it and comment here again.

[2015-03-28 22:00] hairlessbear commented on #4935
That's a good point. Maybe there's a middle ground, like a toggle/checkbox to determine the order of the added tasks.

[2015-03-28 23:22] Alys commented on #4427
Nope, can't find it. I might have been thinking of something else. @gisikw if you could fix this, we would be grateful and happy!

[2015-03-28 23:42] crookedneighbor commented on #4427
@alys were you thinking of the PR you reverted the other day: https://github.com/HabitRPG/habitrpg/pull/4908

[2015-03-28 23:47] gisikw commented on #4427
Ah, that looks like it should do it.

[2015-03-28 23:53] crookedneighbor commented on #4427
For reference, here's the comment that (I think) reveals the reason we had to revert it: https://github.com/HabitRPG/habitrpg/pull/4908#issuecomment-86543390

[2015-03-29 00:01] Alys commented on #4427
@crookedneighbor Thank you, yes, that was it.

[2015-03-29 05:39] AnitaYCheng commented on #4935
Hmm, it's hard to say what people are using it for, since it isn't a checklist exactly, where the order really matters. You're just adding multiple tasks at once.

Heuristics-wise (without knowing how people are actually using it), I'd put it into the list in the order they typed it in. They're already looking at it in that order, and immediate feedback means keeping it in that order, despite what

[2015-03-29 22:09] gisikw opened #4940 "Bailey Outdated without Refresh"
When Bailey pops up without a full page refresh, she lists the second-most-recent update, rather than the most recent (I got the March 25th update, rather than the 29th. On page refresh, it worked correctly).

[2015-03-29 22:56] GrayDays opened #4941 "Jumbled images"
When I logged onto habitrpg via mobile safari today, the images looked like this http://i.imgur.com/upBadZf.jpg http://i.imgur.com/pr1jSYT.jpg on both the regular and beta sites. (I infer this is the same spritesheet issue as happened last year.)

[2015-03-29 23:20] Alys commented on #4941
Please see the second comment (the one all in bold) in this issue for an explanation and fix: https://github.com/HabitRPG/habitrpg/issues/3830

[2015-03-29 23:20] #4941 closed, assigned to nobody

[2015-03-29 23:24] Alys commented on #4940
Yes, that's common. It's because your browser doesn't have the latest content yet for the "new-stuff" page. A reload always fixes it.

@paglias @sabrecat This gets reported so often (usually in the Tavern) that I'm wondering if it's worth forcing a refresh when people view the Bailey. Although we wouldn't want a refresh every time they viewed Bailey, if they chose to keep it open in the menu bar.

[2015-03-29 23:26] gisikw commented on #4940
Sorry for the redundancy!

Feels like we can probably refactor to pull the latest up from the server, no? I can look into the code; just wanted to log it here first.

[2015-03-29 23:28] Alys commented on #4940
Refactor?

[2015-03-29 23:31] gisikw commented on #4940
I haven't looked at the code yet - just thinking we could probably change the way the modal is populated so we can load that content asynchronously; thus we avoid the need for a page refresh. I'll see if I can come up with something.

Closing this out for now as "known and redundant" :)

[2015-03-29 23:31] #4940 closed, assigned to nobody

[2015-03-29 23:32] Alys commented on #4940
Sounds good. :)

[2015-03-30 00:34] GrayDays commented on #4941
I refreshed, used the 'clear cookies and data' in my iphone's safari settings (which was the closest I could find to a cache-clearing function), and loaded habitrpg again, and it fixed the issue on the beta site but not on the regular one.

[2015-03-30 00:35] crookedneighbor commented on #4940
We're also going to move the Bailey announcements to be stored in the database (rather than hard-coded into the new-stuff.jade file) and created and published via an admin-only portion of the site. That change should correct for this problem.

[2015-03-30 01:49] AnitaYCheng commented on #4940
I'm unclear as to how the Bailey is working in this context. Does Bailey pop up automatically without a hard page refresh?

At any rate, I would prefer "warning" the user before doing any hard page refreshes, or letting them control the action with a button on the Bailey. (Ex: "Bailey just received new announcements! Click the refresh button to get the latest!" _insert refresh button_ )

People mi

[2015-03-30 02:36] lemoness opened #4942 "Avatar Broken on iOS 7"
In the menu of the mobile app, the avatar is completely missing, although it displays under profile.

No avatar on:

iPhone 5, iOS 7.1.1
iPhone 5S on iOS7

Avatar DOES work on:

iPhone 5S on iOS 8

Based on this, it may be an issue with iOS 7.

[2015-03-30 02:48] crookedneighbor commented on #4940
The bailey announcement is just a file (rather than pulling text from a database), the text of which is on the page, waiting to appear when the bailey image is clicked on.

So, a script gets run which puts a flag on each user's database object that a new announcement is ready. If the flag gets triggered while the user is on the site, and they haven't refreshed since the update to the Bailey file w

[2015-03-30 02:54] Alys commented on #4941
It will still be a caching problem. If your browser doesn't let you clear the cache, then there's probably no option other than to wait until it clears itself. Reloading frequently might help, if you want to do that. If you're still not seeing the correct images in 24 hours, tell us.

[2015-03-30 05:46] AnitaYCheng commented on #4942
I have iOS7 on an iPhone5S and this is what it looks like. My username will appear in flashes occasionally, but that's it:

![photo 1](https://cloud.githubusercontent.com/assets/6760632/6890714/6c520d12-d665-11e4-9aea-9734d917f997.PNG)

It shows up fine on the profile screen:
![photo 2](https://cloud.githubusercontent.com/assets/6760632/6890715/72d147f2-d665-11e4-8c59-ab9025b78a43.PNG)

[2015-03-30 05:48] AnitaYCheng commented on #4940
@crookedneighbor Makes sense to me! Thanks for explaining it so thoroughly. :smile: And yeah, @gisikw's solution sounds like it would solve it.

[2015-03-30 07:02] melsmarsh commented on #4313
And today the only ones that reset were the manually entered ones, but the challenges didn't reset.  I am quite, quite confused.

[2015-03-30 07:36] Alys commented on #4313
@melsmarsh I'm sorry it's being so annoying! If it keeps on happening, or if you want to ensure that it doesn't happen, see the section near the top of this page called "What to do if you experience this bug often" (under Advice).