[2019-10-02 17:41] cheng-shiqi commented on #2592
@Alys Just submmitted the PR for this issue, sorry for the delay. I copied the resetting code in #10953 to website/common/script/ops/buy/buyQuestGem.js and renamed website/common/script/ops/buy/buyQuest.js, as you suggested. But I didn't extract the workaround in #10953 as a new function and pull it up to the super class, cause I haven't figured out a proper solution yet.

[2019-10-03 02:35] leodalmacio commented on #11394
Thank you @paglias! You bet that I'll really ask hahaha. Let me just familiarize myself with the code base.

Thanks again! ^_^

[2019-10-03 21:04] shanaqui opened #11400 "Cursor placement in Fix Character Values is not working right"
This one is difficult to phrase! In Settings on the web, in Chrome, if I click into the various fields for Fix Character Values, instead of putting the caret where you click, it doesn't align properly.

For example:

![image](https://user-images.githubusercontent.com/8144640/66164045-ace13a00-e629-11e9-94a8-5bafb568d5f4.png)

The red arrow shows where the caret showed up, but the blue arrow is sho

[2019-10-04 09:09] LikeLakers2 commented on #11400
Hey there! This appears to be the fault of Chrome, not some Habitica script (otherwise it would have been noticed much sooner). I am able to replicate this caret position issue in Chrome within an online HTML editor. (note: I've not tested it on other browsers)

Here is the minimal HTML and CSS needed to be able to replicate this within Chrome:

[code]

[2019-10-04 16:17] SabreCat opened #11402 "Hall of Heroes path update treats "true" as a string"
[//]: # (Before logging this issue, please post to the Report a Bug guild from the Habitica website's Help menu. Most bugs can be handled quickly there. If a GitHub issue is needed, you will be advised of that by a moderator or staff member -- a player with a dark blue or purple name. It is recommended that you don't create a new issue unless advised to.)

[//]: # (Bugs in the mobile apps can also

[2019-10-04 17:31] paglias commented on #11402
Should be enough to update this function here https://github.com/HabitRPG/habitica/blob/develop/website/server/libs/items/utils.js#L64 to support owned items

[2019-10-04 17:45] Alys commented on #11402
Is https://github.com/HabitRPG/habitica/blob/develop/website/server/libs/items/utils.js#L70 a bug? Mounts shouldn't be a Number

[2019-10-04 17:58] paglias commented on #11402
Good catch @Alys ! https://github.com/HabitRPG/habitica/pull/11403 should fix both problems

[2019-10-04 19:49] shanaqui opened #11404 "Username styling incorrect on profile links"
Reported in RaB, confirmed by me:

![image](https://user-images.githubusercontent.com/8144640/66235628-6bfc2a80-e6e8-11e9-9f80-32c35a905ba6.png)

[2019-10-06 01:42] Markkop commented on #11404
Hey! I've opened a PR with the fix and more details about the bug #11405

[2019-10-06 08:11] LikeLakers2 commented on #11400
Woop, I meant to add this bit to my above comment... guess I forgot. And it's been a couple days, so I'm making this a new comment so it'll be seen.

If this needs reporting to the Chromium project, would someone else be able to do it? I'm a little afraid to do it myself since I'm not really too experienced with HTML and CSS, and I don't want to give them a barebones bug report as a result of that

[2019-10-06 15:06] #2592 closed, assigned to nobody

[2019-10-06 15:08] #11402 closed, assigned to nobody

[2019-10-06 15:49] #11404 closed, assigned to nobody

[2019-10-06 15:58] #11117 closed, assigned to nobody

[2019-10-06 16:41] #11289 closed, assigned to nobody

[2019-10-07 02:29] Alys commented on #10689
More reports:

@ravenlune (9272ab2c-4b66-4b74-aebd-799725885d1c): _"I hadn't noticed until today, but I joined a few challenges earlier this month and never got a challenge tag associated with them (unless I deleted them sometime but I don't remember doing so). the ones in particular are [October haiku](https://habitica.com/challenges/0992a1e6-06cb-4632-b960-09f4bf362688), [October senryu](https:/

[2019-10-07 13:07] SunSparc commented on #11355
I have been running a local copy of the site for the past week. Created a guild, added and removed members, come back different days and did that again. I have been using multiple different browsers as well. So far I have not been able to duplicate it. I will keep playing with it a while longer. Sounds like a possible caching/syncing issue between the different services.

[2019-10-07 15:11] ResamVi commented on #11172
Can I work on this issue?
I have noticed that *all* PMs are marked as read as soon as the inbox is opened.
Solution would be to decrement the count individually on each viewed message

This is for hacktoberfest and I'm new so I'll respond when this still seems to be too difficult for me

I determined in a superficial glance at #11360 that this proposed change wouldn't interfere

[2019-10-07 18:09] paglias commented on #11172
Sure @ResamVi ! Let us know if you have any question

[2019-10-07 18:19] TomRaaff commented on #10688
Dear Habitica coders,
I've stumbled upon exactly the same issue. I think it happened when I was editing Tags on my mobile (android) while on a bad internet connection. At some point, a duplicate tag appeared and I couldn't delete it (maybe triggering the null situation). Right now, I can't see any tagged tasks in the **browser** version. On the mobile version, everything works fine, except for the

[2019-10-07 18:36] paglias commented on #10688
@TomRaaff sorry about this! It should be fixed now but let me know if it's not. Upping the priority on the issue, we might need to do something similar to what we did with notifications

[2019-10-07 22:51] Alys commented on #11145
Another report of this from @Transurfer (ffe1c057-537c-454d-873f-c590b162ff2c):

"This challenge https://habitica.com/challenges/e56d5140-7dce-40c1-9715-25eb187491f4 doesn't show up in the list when I click "OWNED" on my challenges page."

[2019-10-08 00:16] Alys commented on #11297
@martineizayaga Is it okay with you if @bmasetto takes this over?

[2019-10-08 07:33] leodalmacio commented on #11394
Helloooooooooo @Alys @paglias, I just want to confirm something.

Do you want to prevent the modal from closing when the `ESC` button is pressend?

[2019-10-08 08:04] cheng-shiqi commented on #11385
How about we adding some checking code to prevent inserting duplicated task ID to the `taskOrder `objcect, to the `createTasks` function in the `habitica/website/server/libs/taskManager.js`?
https://github.com/HabitRPG/habitica/blob/5b57d91a9b66b0cae015084d8f152283b356e51d/website/server/libs/taskManager.js#L109-L141

As we can see from the code above, The `createTasks`  function save `user/challe

[2019-10-08 09:34] Alys commented on #11385
@cheng-shiqi Thanks for the PR! I've marked this issue as in progress for you.

Don't worry about the challenges that already contain duplicate task IDs in the tasksOrder arrays. Admins can find and remove those manually or with a script.

[2019-10-08 19:00] martineizayaga commented on #11297
Yes, please!

[2019-10-08 19:24] ResamVi commented on #11337
I have tinkered with it to see if I could pin down the error and I seem to have fixed it for me. Is help still wanted on this issue?

[2019-10-08 22:00] Alys commented on #11337
@ResamVi Sure, thanks! I've marked it as in progress for you.

[2019-10-08 22:23] Alys commented on #11297
@martineizayaga Thanks!

@bmasetto Please go ahead if you're still interested!

[2019-10-09 22:56] Alys commented on #11394
@leodalmacio Since there's been no complaints about that idea, I think yes, we should prevent the modal closing when `ESC` is pressed.

[2019-10-10 09:49] ResamVi commented on #9340
Hey I can take on this issue - I'll give it the general achievement popup it lacks

[2019-10-11 02:24] martineizayaga commented on #11260
Would it be ok if I took this?

[2019-10-11 09:56] paglias commented on #11260
@martineizayaga I'd say yes but let's first see if @Tressley has a design ready for it

[2019-10-11 11:37] Alys commented on #9340
@ResamVi Thanks! I've marked it as in progress for you.

[2019-10-11 20:17] #11395 closed, assigned to nobody

[2019-10-11 21:41] evelynstender commented on #11264
Hi! Is this still open? I'd like to work on this!

[2019-10-14 02:28] adamfitzgibbon commented on #11200
Looks like there hasn't been much action on this one for a while. I'll look for others, but let me know if you decided not to work it, @tvaz

[2019-10-14 02:44] adamfitzgibbon commented on #10803
I'll start work on this one.

[2019-10-14 03:05] Alys commented on #10803
@adamfitzgibbon thanks! I've marked it as in progress for you.

[2019-10-14 14:29] paglias commented on #11264
The server side change is done but missing the migration, the client side one is still missing, see https://github.com/HabitRPG/habitica/pull/11267#issuecomment-511350354

[2019-10-14 15:13] tvaz commented on #11200
@adamfitzgibbon if you were looking to work this, go ahead!

[2019-10-15 03:26] adamfitzgibbon commented on #11200
Alright thanks! Of course if you were still wanting to work it I don't want to steal it from you, so just let me know if that's the case!

[2019-10-16 03:57] martineizayaga commented on #11260
@paglias @Tressley any update on this? I'd love to start :)

[2019-10-16 13:41] paglias commented on #11260
@martineizayaga sorry about this, but after some internal talk we've decided to put this issue on hold while a bigger rethinking of the settings gets underway

[2019-10-16 20:08] Xaz16 commented on #10920
It is obvious but it looks like this issue can be reproduced only on production, due to we have seasonal event for now and on production I face this issue, but with same config in dev build issue can't be reproduced.

I will spent a couple of hours on this issue to understand is that uglyfication of sources cause of issue...

[2019-10-16 20:41] Xaz16 commented on #10920
I found the way how to reproduce it. It is really simple: you shouldn't have any gear in market except seasonal. Only when you satisfy this condition you can reproduce this one.

[2019-10-16 20:55] vamsijv commented on #10689
I was just looking at this item hoping to see if i could help here, but realised another issue where the challenge page appears unresponsive with none of the values provided (for prize, participants etc) on the page when I had clicked on the link provided in ticket description. I'm guessing that the challenge must have been finished by now, but it's still offering people to join and probably shoul

[2019-10-16 22:36] martineizayaga opened #11419 ""npm start" gives errors"
Hello! I'm using Mac OS locally for Habitica. I ran "npm install" and got these errors:

Here's the gist with the errors: [https://gist.github.com/martineizayaga/196ca85312ee412f6c371e5e2106ff3a](https://gist.github.com/martineizayaga/196ca85312ee412f6c371e5e2106ff3a)

Here's the line where the errors start: [https://gist.github.com/martineizayaga/196ca85312ee412f6c371e5e2106ff3a#file-gistfile1-tx

[2019-10-16 22:53] Alys opened #11420 "Challenge Join button is displayed for non-existent and inaccessible challenges"
@vamsijv [reports](https://github.com/HabitRPG/habitica/issues/10689#issuecomment-542887894) that when a challenge doesn't exist or isn't in a guild you're allowed to see (e.g., [this one](https://habitica.com/challenges/2350bb37-29f8-42dd-9a43-c3cc9e9d1939)), the challenge page still has the elements on it to let you Join the challenge.

_"... it's still offering people to join. Browser version [

[2019-10-16 22:57] Alys commented on #10689
@vamsijv Thanks, good points! Because that's not directly related to this issue, I've created a new issue for the browser behaviour: https://github.com/HabitRPG/habitica/issues/11420
For the Android behaviour, can you please report it to the app developers through the app's menu at About > Report a Bug? That's the preferred location for Android bug reports. For website bugs, the [Report a Bug](htt

[2019-10-17 09:12] paglias commented on #11419
Could you try running `npm install bcrypt@latest`? the issue seems to be with the installation of the `bcrypt` package.  On their GH page it says

[2019-10-17 22:59] justinr1234 commented on #9871
@paglias what's the status of this? MongoDB Atlas is force upgrading everyone to use Mongo 3.6 as of January 2020. What work needs to be done to get this updated?

[2019-10-18 10:07] paglias commented on #9871
@justinhhorner thanks for the heads up! We're aware of the deadline although we don't use mongodb atlas and plan to upgrade to 3.6 before it. The work on this repo has already been done and we only have to upgrade some support libraries used in a different repository

[2019-10-18 10:09] paglias commented on #9871
The only breaking change was the removal of pushAll but we don't use it anymore

[2019-10-18 10:56] cvuorinen commented on #11398
Maybe it could be solved by using `findByIdAndUpdate` and passing only the single members flag in the update instead of saving the whole group model.

[2019-10-18 14:43] paglias commented on #9871
Upgraded to 3.6

[2019-10-18 14:55] paglias commented on #9871
Reopened for version 4

[2019-10-18 16:31] cvuorinen opened #11421 "Quests: Boss HP scaling / difficulty"
[//]: # (Before logging this issue, please post to the Report a Bug guild from the Habitica website's Help menu. Most bugs can be handled quickly there. If a GitHub issue is needed, you will be advised of that by a moderator or staff member -- a player with a dark blue or purple name. It is recommended that you don't create a new issue unless advised to.)

[//]: # (Bugs in the mobile apps can also

[2019-10-18 19:19] #9997 closed, assigned to nobody

[2019-10-18 19:19] #11224 closed, assigned to nobody

[2019-10-18 20:34] SabreCat opened #11422 "Task approval requests not being cleared out of notifications"
[//]: # (Before logging this issue, please post to the Report a Bug guild from the Habitica website's Help menu. Most bugs can be handled quickly there. If a GitHub issue is needed, you will be advised of that by a moderator or staff member -- a player with a dark blue or purple name. It is recommended that you don't create a new issue unless advised to.)

[//]: # (Bugs in the mobile apps can also

[2019-10-19 07:52] Alys opened #11423 "dropdown menus in Market have no default text"
As reported by citrusella:

"The dropdowns for sorting and grouping on the [Shops > Market] page only show the arrow. (As compared to, say, pet or equipment dropdowns showing the text and the arrow.)"

![image](https://user-images.githubusercontent.com/1495809/67139952-09cf2800-f299-11e9-96b3-7e5b24bb7314.png)

For an example of how it should work, see the Inventory > Items page where the "Sort By

[2019-10-19 07:54] Alys commented on #11423
For an example of how it should work, see the Inventory > Items page where the "Sort By" menu has the default sort order displayed as soon as you load the page.

[2019-10-19 07:57] vamsijv commented on #11420
@Alys Please let me know when you have any update on whether this needs to be worked on. Thanks.

[2019-10-19 11:34] #10779 closed, assigned to nobody

[2019-10-19 11:35] paglias commented on #8039
Closing this for now as we don't plan on adding e2e tests for now

[2019-10-19 11:35] #8039 closed, assigned to nobody

[2019-10-19 12:11] saraheisa commented on #11423
@Alys I'm interested to work on this one
Would you please assign it to me?

[2019-10-19 12:15] paglias commented on #11423
@prosarahgamal sure, go ahead! I'll mark it as in progress

[2019-10-19 13:12] #11314 closed, assigned to nobody

[2019-10-20 01:20] Alys opened #11448 "some website elements don't meet recommended contrast standards"
EDIT 2021-01-18: Anyone needing greater contrast may like to try @citrusella's [Habitica WCAG AAA Contrast](https://habitica.fandom.com/wiki/Habitica_WCAG_AAA_Contrast) Stylus/Stylish theme.

---

In the Report a Bug guild, Donald Maness / @ddmaness (4d235d28-bd6f-4859-b222-e9a3f45ea212) has reported that the elements below don't meet recommended contrast minimum standards for text and non-text UI

[2019-10-20 01:20] Alys opened #11449 "some website elements lack focus styling"
In the Report a Bug guild, Donald Maness / @ddmaness (4d235d28-bd6f-4859-b222-e9a3f45ea212) has reported that the elements below lack discernible focus styling.
"All Items tested in Chrome on Oct. 16 2019 against WCAG's 2.1 AA standards"
Ref: [2.4.7 Focus Visible](https://www.w3.org/WAI/WCAG21/quickref/?currentsidebar=%23col_overview#focus-visible)

I'll leave this as suggestion-discussion for a w

[2019-10-20 01:20] Alys opened #11450 "some website elements are inaccessible by keyboard"
In the Report a Bug guild, Donald Maness / @ddmaness (4d235d28-bd6f-4859-b222-e9a3f45ea212) has reported that the elements below are inaccessible by keyboard.
"All Items tested in Chrome on Oct. 16 2019 against WCAG's 2.1 AA standards"
Ref: [Guideline 2.1 - Keyboard Accessible](https://www.w3.org/WAI/WCAG21/quickref/?currentsidebar=%23col_overview#keyboard-accessible)

I'll leave this as suggestio

[2019-10-20 11:38] paglias commented on #9340
I think this was fixed in https://github.com/HabitRPG/habitica/pull/11332

[2019-10-20 11:38] #9340 closed, assigned to nobody

[2019-10-20 13:49] ddmaness commented on #11448
This tool might be helpful in deciding whether/how to tweak contrast ratios https://contrast-ratio.com/?utm_campaign=chrome_series_contrastratio_050417&utm_source=chromedev&utm_medium=yt-desc It provides a quick and easy way to see the current ratio and to check the contrast ratio of proposed changes.

Also note that the contrast recommendation for non-text UI elements (like the social links in th

[2019-10-20 14:00] ddmaness commented on #11449
There are two separate causes for this issue.  For the donate button and three dot dropdown trigger, the fix should be fairly simple as the elements are visible but just lack focus styling.  Adding focus state styles to the ```:focus``` selectors for these elements would be all that's required to address the issue.

The issue in the header navigation is a bit more complicated as the elements that

[2019-10-20 14:30] ddmaness commented on #11450
For some of these examples, non-focusable elements like divs and spans are being used. For example the UI element to check off tasks.

One issue is that these elements are not tab focusable. This can be corrected using the ```tabindex``` attribute. https://developer.mozilla.org/en-US/docs/Web/HTML/Global_attributes/tabindex.

The other issue is that these elements are not responsive to keyboard in

[2019-10-20 14:31] ddmaness commented on #11450
Some elements are anchors but are lacking an href.  any anchor tag that does not have an href is not keyboard focusable.  One way around this is to add a dummy href (for example: ```href='#'``` and then, in the event handler, prevent the default link behavior (if I'm not mistaken both ```e.preventDefault()``` and ```return false``` would work)

[2019-10-21 13:20] Tressley commented on #11448
@ddmaness / @Alys -- Thank you for the feedback! Accessibility concerns are definitely on our radar and I can add these to my list. We've been making some updates recently to meet these standards, starting with tasks, and those should be rolling out soon.

[2019-10-21 15:25] Tressley commented on #11356
@SebastiaanNijland -- Thanks for wanting to pick this up. I've made some revisions to the design and added them to our Zeplin project here: https://zpl.io/aMjPv5m

Please let me know if you have any questions.

[2019-10-22 07:27] evelynstender commented on #11386
Hey @Alys can I help with this one?

[2019-10-22 08:17] SebastiaanNijland commented on #11356
Nice design, it looks awesome! I will take a look at it, hopefully I will find some time for it this week or next week!

[2019-10-22 10:28] Alys commented on #11386
@evelynstender Yes, please do! Thank you! Post here if you have questions.

[2019-10-22 11:08] Alys opened #11456 "challenge participant lists / search should use Username not Display Name"
Ceran, Star Keeper / @Ceran (aabe567b-aa55-42c1-b612-b7699a7ba9b7) points out that that challenge winner selection might be easier if it used Usernames instead of Display Names. I've copied their post in full below. I'll leave this as suggestion-discussion for a few days and then if there's no objections, I'll mark it as help wanted to get changes made to <strike>the CSV export files and to</strik

[2019-10-22 11:24] Alys opened #11457 "z-index problems with three-dots menu on tasks"
There's two problems that will probably have the same or similar fixes.

Taes / @AnArtificer (6660db98-624a-4459-ac4e-570c006c26ed) reports;
**"When opening the menu dropdown of a reward at the bottom of the rewards column, items in that section are rendered in front of the menu when it has mouse focus. As soon as I mouse away, the menu renders correctly. A refresh does not fix this issue."**

I'v

[2019-10-22 14:57] SabreCat opened #11458 ""Hatchable" sort mode does not act as expected"
[//]: # (Before logging this issue, please post to the Report a Bug guild from the Habitica website's Help menu. Most bugs can be handled quickly there. If a GitHub issue is needed, you will be advised of that by a moderator or staff member -- a player with a dark blue or purple name. It is recommended that you don't create a new issue unless advised to.)

[//]: # (Bugs in the mobile apps can also

[2019-10-23 02:43] adamfitzgibbon commented on #11458
I can take a look at this!

[2019-10-23 04:31] adamfitzgibbon commented on #10803
As an update, I'm still planning on completing this issue, but as I'm new to Vue I'm going to take some low-hanging fruit to get a little more experience before finishing it.

[2019-10-23 09:31] Alys opened #11461 "challenge screen does not use a normal guild URL (won't open in new tab)"
This issue occurs on My Challenges page, the Discover Challenges page, and the the pages for individual Challenges.

When the Challenge belongs to a Guild or Party, there's a link to the guild/party. The link is implemented with JavaScript instead of using a normal URL. This means that while the link does work if you do a normal click on it, it doesn't work if use a right-click to open it in a new

[2019-10-23 09:56] Alys commented on #11458
@adamfitzgibbon Thank you! I've marked it as in progress for you.

[2019-10-24 03:44] adamfitzgibbon commented on #9603
This hasn't been touched for a while, is it still an issue or was it fixed by the redesign?

[2019-10-25 17:44] SuperMaltese commented on #11400
I'd like to ask if this is still an issue? I tried the above minimal example and Habitica Fix Values in Chrome version 78.0.3904.70 and didn't see any problem.
Perhaps they fixed it in the most recent (Oct 22) patch?

[2019-10-25 18:28] shanaqui commented on #11400
It's still an issue for me. :)

[2019-10-25 19:00] LikeLakers2 commented on #11400
It appears to have been fixed for me too, after updating to Chrome 78.0.3904.70.

@shanaqui Make sure Chrome is up-to-date. Follow the instructions [from here](https://support.google.com/chrome/answer/95414) under the section "Check for an update & the current browser version". If an update is available, let it download, then relaunch Chrome, then see if you can still replicate it.

[2019-10-25 19:12] shanaqui commented on #11400
Hmm, I thought my Chrome was up to date, but looks like it still needed to relaunch. Yep, this is fixed!

[2019-10-25 19:12] #11400 closed, assigned to nobody

[2019-10-26 13:33] evelynstender commented on #11386
hey @Alys is this still happening? I couldn't replicate. I tried with at least 4 different browsers on Mac and Ubuntu.
Do you have any clue or something?

[2019-10-26 20:52] cvuorinen commented on #11295
I looked into this a bit and I was able to reproduce it by tapping the "Join" button quickly multiple times on the Android app. So seems like a race condition when multiple identical requests come in at the same time and start processing the request. They go through the check if user is already a participant in the challenge before the first request has gotten to the point where it saves the user

[2019-10-26 21:08] cvuorinen commented on #11295
Also found this old PR https://github.com/HabitRPG/habitica/pull/7787, where the same issue was fixed on the website. There's more discussion related to atomic updates on MongoDB and Mongoose, but the "solution" in that PR is to just let simultaneous request go through and let the last one overwrite (which is fine for just adding the challenge to users `challenges` array, but does not solve the is

[2019-10-27 03:08] adamfitzgibbon commented on #11456
Seems reasonable, I'll take a look at this one!

[2019-10-27 03:25] Alys commented on #11398
There's an instance that might be another example of this but although slightly different. A quest accept/reject event and a force-start event happened at the same second, and (possibly as a result of that), the party's quest object wasn't updated correctly (the quest is active but the members array wasn't purged to remove the `false` and `null` entries).  I'm updating this issue's title to includ

[2019-10-27 03:27] Alys commented on #11398
The person who did the reject at the same time as the force-start did have their reject status correctly saved (they are one of the `false` values in the members array), so I guess that update to the members array overwrote the update from the force-start event.

[2019-10-27 04:28] adamfitzgibbon commented on #11456
Note on this, the "Export Challenge" functionality already includes username. I think the reporter meant that they were unable to copy and paste the non-latin characters from the csv since they were also messed up. Perhaps this issue can be fixed if we used a character-set that included these characters? For now I'll stick to updating the members drop-down and search functionality to use username.

[2019-10-27 04:29] Alys opened #11477 "webhook label should be able to be set back to empty string"
_As reported by @rhitakorrr (cab16cfa-e951-4dc3-a468-1abadc1dd109)_:

"Updating a webhook with an empty string as a label does not clear the label. Example:"
[code]

"I found the issue in the source a while back (though I don't remember exactly where now), and if I recall correctly, a conditional was treating empty string as if no value was provided. This was due to the false-y nature of empty str

[2019-10-27 05:44] Alys commented on #11456
@adamfitzgibbon Thanks! I've marked this in progress for you.

Sorry about the confusion with the export file. It's fine to change just the website features as you've described. I'll edit this issue's title to remove the mention of the CSV file. Let's not worry about looking into changing the character set for this since using Usernames will bypass that issue.

[2019-10-27 06:03] Alys commented on #11295
@cvuorinen Awesome, thanks so much for this investigation!

As a result of it, your account had a mild case of the tasksOrder sorting bug but I've fixed that for you. If you'd like to remain in the challenge but keep only one set of the challenge tasks, post again here and I'll remove the extra set for you. If you don't want any of them, leaving the challenge and choosing the option to remove the

[2019-10-27 06:06] Alys commented on #11386
I would guess that it's still happening because I think there haven't been any large changes to the modal but it was always an intermittent bug so it's hard to confirm if it's still there or not. :-/ I don't have a clue I'm afraid. If you'd prefer to take on a different issue than this one, post again here and I'll put this back to help wanted - totally okay if you do that since it's impossible to

[2019-10-27 06:10] adamfitzgibbon commented on #11456
No problem, sounds good! That makes it a pretty minor change so here's a small PR to address it.

[2019-10-27 08:59] paglias commented on #11295
Just a reminder that we're using Mongo 3.6 not 4.x so we can't use transactions to update multiple docs atomically

[2019-10-27 09:07] evelynstender commented on #11386
So, I think I'll pickup another issue then, but I'll keep an eye on this one to see if I can replicate somehow. Let me know if you find something new about it. I'll post here as well if I figure something out! (this is intriguing, so I don't wanna 100% give up on this as I'm curious to understand what happened, but like you said it's quite hard to reproduce it).
Thanks!

[2019-10-27 09:43] evelynstender commented on #11477
Hey, can I work on this one?

[2019-10-27 11:07] Alys commented on #11477
@evelynstender Sure, thanks!

[2019-10-27 11:07] Alys commented on #11386
@evelynstender No worries, thanks!

[2019-10-27 11:29] evelynstender commented on #11477
@Alys Cool! Opened a PR :)

[2019-10-27 12:40] cvuorinen commented on #11295
@Alys yes, I can work on the fix.

@paglias no need for transactions or multi doc atomic operations, at least I don't think so. My idea is to just update the `user.challenges` array atomically, and then check if should continue with the other operations or not.

[2019-10-27 13:04] paglias commented on #11295
@cvuorinen I'm happy to see any fix for this until we're able to use transactions in Mongo 4 but I want to point out that a similar fix was attempted previous and updating the `user.challenges` array atomically won't solve the issue unless the query is made with the condition that if the challenge id is already present in the `user.challenges` array.

Otherwise race conditions can still happen, fo

[2019-10-27 13:05] paglias commented on #11295
In the meantime I'll increase the priority on moving to mongo 4

[2019-10-27 13:06] paglias commented on #9871
Increasing the priority here as mongo 4 transactions are needed to fix several data consistency bugs

[2019-10-27 16:13] paglias opened #11482 "Client Auth: refactor components"
We have three different components that more or less do the same thing: signup and signin.

They're located in
- website/client/src/components/auth/registerLoginReset.vue
- website/client/src/components/auth/authForm.vue
- website/client/src/components/static/home.vue

They share most design and almost all the business logic and should be combined into a single one where possible.

It would also m

[2019-10-27 18:19] cvuorinen commented on #11295
@paglias yeah I read through that PR already (I linked to it yesterday from here).

I was thinking to update the challenges array with a query that also checks if the id already exists in the array, so that it will only add the value once, and then check the modified count that Mongo returns to see if it modified anything or not. That way this operation is atomic, and by checking the return value

[2019-10-28 15:43] Tressley commented on #9603
@adamfitzgibbon -- I don't believe that this has been fixed. Is this something you'd be interested in taking on?

[2019-10-29 00:14] akmaekki commented on #9786
Created a pull request for this issue, refer https://github.com/HabitRPG/habitica/pull/11492. Is it possible for me to add labels to my pull request, like `status: pr: ready for review`?

[2019-10-29 02:45] adamfitzgibbon commented on #9603
Sure. Can I assume that the areas you mentioned (Tasks page, Tavern, Guilds, and Party) are the only areas I need to fix or do you know of other specific pages?

[2019-10-29 04:08] adamfitzgibbon commented on #9603
@Tressley I submitted a pull request, let me know if there are any additional pages and I'd be happy to add them in! Particularly of note: I couldn't find any problems with the Guilds pages so if you could point out what you mean on that one especially it would be greatly appreciated!

[2019-10-29 10:16] paglias commented on #11295
@cvuorinen I'm not against this solution until we can use transactions but I want to point out that, yes this way it prevents the code from being called twice but it doesn't stop the `user.update` to succeed while the other operations like adding challenge tasks to the user to fail later resulting in incomplete data.

That being said if you want to open a PR making this change we'll approve it

[2019-10-29 14:09] Tressley commented on #9603
@adamfitzgibbon -- Awesome! Thank you for your help on this. For the Guilds pages, I was referring to the right column's padding. This also touches Parties (Challenges seems to be correct in this case.)

![image](https://user-images.githubusercontent.com/2686586/67774182-489c7500-fa33-11e9-9ba9-1c131c2d86ef.png)

[2019-10-29 15:01] adamfitzgibbon commented on #9603
@Tressley Should both sides of the column have that 24px padding or just the right side? Also should I apply it to the header image? (if not, I think I may have in the parties page and will need to revert it)

[2019-10-29 17:48] thatrobotdev commented on #6146
Can I take this one?

[2019-10-29 18:30] bmasetto commented on #6146
In my opinion, you can, @thatrobotdev! Unfortunately, I was not able to start this issue development. @Alys, is it okay for you if @thatrobotdev take this issue?

[2019-10-29 19:27] cvuorinen commented on #11295
@paglias I'm not sure I follow what you mean by this:

Or do you mean some other possible error condition that might happen later in the process (not related to this issue of multiple concurrent requests)? If yes, then I agree transaction is the way to solve it.

[2019-10-29 20:30] akmaekki commented on #10752
Is this still in progress?

[2019-10-29 20:31] akmaekki commented on #10828
Can I work on this issue?

[2019-10-29 20:37] akmaekki commented on #9247
Can I work on this issue?

[2019-10-29 20:54] paglias commented on #11295
This.

Let's see what @Alys think is best to do while we wait for transactions

[2019-10-29 23:33] Alys commented on #9247
@akmaekki sure, thanks!

[2019-10-29 23:34] Alys commented on #10828
@akmaekki yes, thank you!

[2019-10-29 23:37] Alys commented on #10752
@thefifthisa would you still like to work on this? If real life has got in the way and you no longer have time just let us know - we know what that's like. :)

[2019-10-29 23:38] Alys commented on #6146
That's fine! Thanks @bmasetto  and @thatrobotdev !

[2019-10-29 23:45] Alys commented on #11295
I like @cvuorinen's approach and think it's worth doing.
This bug that gives multiple tasks and tasksOrder errors is more troublesome than failing to have tasks added. Anyone suffering the latter bug can fix it by leaving and rejoining the challenge.

[2019-10-29 23:47] Alys commented on #9786
@akmaekki it's not possible for you to add or change labels but we do it periodically. Thanks for asking though!

[2019-10-30 03:48] thatrobotdev commented on #6146
Awesome! I'll start work on it as soon as possible, but I'll definitely be able to focus on it this weekend! :D

[2019-10-30 04:12] aneesh4995 commented on #10755
Can I work on this issue if this is still open @paglias

[2019-10-30 10:20] Alys opened #11495 "website `title` tag "Gamify Your Life" is not translated"
As reported by @thatrobotdev (5222cb6c-3ae4-4ea9-a5d8-ce21ecc53b19):

"The <title> tag of Habitica is not localized":

![image](https://user-images.githubusercontent.com/1495809/67848515-8d69fe00-fb50-11e9-8236-8f200c2aacca.png)

I'm leaving this as suggestion-discussion so that the staff can comment on whether the "Gamify Your Life" part of the title should be translated and whether it's possible

[2019-10-30 18:42] paglias commented on #11295
In this case @cvuorinen a PR would be great, thanks! Let me know if you need any help or have any question regarding that

[2019-10-31 12:18] Tressley commented on #11420
@vamsijv -- We've discussed this and it'll need someone to take it on, if you're interested!

Our proposed solution is instead of loading the Challenge page, we should re-direct the user to the "Discover Challenges" page that displays the error message.

@Alys -- Did you have proposed messaging for the error or does the current copy still work?

[2019-10-31 14:14] paglias commented on #10755
sure @aneesh4995 !

[2019-10-31 14:48] Tressley commented on #9603
Both sides of the column. It doesn't need to be applied to the header image.

[2019-10-31 18:23] akmaekki commented on #10828
(read if you are lazy: Right now the behavior of the code is strange, because I can create a party and afterwards change the name, but then I have to change the description of the party also.)

What should be the expected behavior if I change the name of my party?:

- I can create a party without description (like now) and don't have to specify a description?
- I can change title of party and dele

[2019-10-31 21:30] vamsijv commented on #11420
@Tressley Thanks for the update. I would be happy to help here.

If I understand correctly, we would like to _"Take user to 'Discover Challenges' page, whenever a challenge that's not accessible to current user is attempted to load. In addition to this, we show a message basically informing the user that requested challenge is not accessible and guide him/her to other available challenges"_

While

[2019-10-31 21:55] Alys commented on #10828
In my opinion, the desired behaviour is that a party leader can change the name of the party without adding a description. As shanaqui says, parties aren't public and descriptions aren't that important.

It's possible that the requirement to add a description was coded in in the past to encourage existing party leaders to add descriptions but I'm not sure if that's still desired. No one's commente

[2019-10-31 22:29] Alys commented on #11420
I think the current message is good:
https://github.com/HabitRPG/habitica/blob/1859f431338e16ca9fa2a4245bfe8dd068207315/website/common/locales/en/challenge.json#L86

@vamsijv If you search for the places where that message is used (`git grep challengeNotFound`), you'll find the code that controls how a user can access a challenge (since that message is displayed whenever a challenge should not be

[2019-11-01 01:12] aneesh4995 opened #11498 "Error while running dev environment using docker"
This is the error which I am getting when I try to run the app using docker and locally
server_1  | [00:50:24] [nodemon] starting `node ./website/server/index.js`
server_1  | npm ERR! code ELIFECYCLE
server_1  | npm ERR! errno 1
server_1  | npm ERR! habitica@4.118.0 start: `gulp nodemon`
server_1  | npm ERR! Exit status 1
server_1  | npm ERR!
server_1  | npm ERR! Failed at the habitica@4.118.0 sta

[2019-11-01 13:06] shanaqui opened #11500 "Guild name hidden by tags on challenge page"
Maybe Steve Rogers @MaybeSteveRogers (767e5d92-0e13-4e30-acb1-d8bba62824fc): "(Long) guild name is hidden under tags on the challenge page - take a look:"

![image](https://user-images.githubusercontent.com/1495809/68064302-86680900-fd65-11e9-81a2-5960e2ac4d58.png)

Confirmed in Google Chrome.

[2019-11-01 16:30] SabreCat opened #11501 "Reobtaining a broken item from a quest does not unpin it from Rewards"
[//]: # (Before logging this issue, please post to the Report a Bug guild from the Habitica website's Help menu. Most bugs can be handled quickly there. If a GitHub issue is needed, you will be advised of that by a moderator or staff member -- a player with a dark blue or purple name. It is recommended that you don't create a new issue unless advised to.)

[//]: # (Bugs in the mobile apps can also

[2019-11-01 16:38] SabreCat commented on #11498
Ah, looks like we updated the production Dockerfile for recent client changes but not the dev version. I can take a look at this!

[2019-11-01 16:50] SabreCat commented on #11421
Hi @cvuorinen -- we don't use the main issues list for feature requests, so I'm closing this ticket. Thus far we've addressed quest difficulty by offering a wide variety of different quest content with difficulty being one of the differentiators, but this is something we could consider for a quest overhaul in the future!

[2019-11-01 16:50] #11421 closed, assigned to nobody

[2019-11-01 16:54] SabreCat commented on #11419
Closing for now--if you're still having trouble, @martineizayaga, definitely comment again here or reach out to the Aspiring Blacksmiths Guild for help!

[2019-11-01 16:54] #11419 closed, assigned to nobody

[2019-11-01 16:58] SabreCat commented on #11356
@SebastiaanNijland Are you still planning to work this one? Let us know if you won't have a chance--we've got a volunteer sprint coming up that'll be eager to pick up stray issues.

[2019-11-01 17:12] #11278 closed, assigned to nobody

[2019-11-01 17:13] SabreCat commented on #11276
Closing for now, we'll see if it shows up again!

[2019-11-01 17:13] #11276 closed, assigned to nobody

[2019-11-01 17:17] #11240 closed, assigned to nobody

[2019-11-01 17:18] SabreCat commented on #11240
Moving to GitHub Actions has helped some, and local tests should be run with `only` and specific commands in any case. We can revisit this later if needed!

[2019-11-01 17:19] SabreCat commented on #11225
Closing this for now. If we can reproduce this outside of a specifically VirtualBox environment, it'd be worth reopening!

[2019-11-01 17:19] #11225 closed, assigned to nobody

[2019-11-01 17:21] SabreCat commented on #11223
The users don't appear to have been deleted. Could be the fallback isn't working.

[2019-11-01 17:27] SabreCat commented on #11220
This does seem to be a duplicate of #11182 from what I can tell. If I'm mistaken, feel free to reopen, but if so it'd help to have a clearer main issue description to explain what differentiates it from the other ticket!

[2019-11-01 17:27] #11220 closed, assigned to nobody

[2019-11-01 17:30] SabreCat commented on #11193
This error occurs when they haven't checked the box; absent any report otherwise, closing this for now!

[2019-11-01 17:30] #11193 closed, assigned to nobody

[2019-11-01 17:33] SabreCat commented on #11181
The linked tickets appear to all be variations of this. Will close the others and mark this to get help!

[2019-11-01 17:34] SabreCat commented on #11002
Looks like #11181 was a duplicate of this, but has the most documentation--closing this one!

[2019-11-01 17:34] #11002 closed, assigned to nobody

[2019-11-01 17:34] #11242 closed, assigned to nobody

[2019-11-01 17:34] SabreCat commented on #11174
@Xaz16 Are you still at work on this?

EDIT: Looks like Xaz16 grabbed a bunch of issues but hasn't been around in the last month--I'll open this one up for further help as well.

[2019-11-01 17:48] SabreCat commented on #11373
Closing for now as we're already on the relevant version--it is possible we've missed updates causing issues, but those can be documented in their own tickets as they're discovered.

[2019-11-01 17:48] #11373 closed, assigned to nobody

[2019-11-01 17:52] SabreCat commented on #11355
I think we'd need a current example of the issue to be able to follow up on this in any way. Closing for now, but if it occurs again and we can grab the affected data to see what's going on, we can reopen.

[2019-11-01 17:52] #11355 closed, assigned to nobody

[2019-11-01 17:56] SabreCat commented on #11143
Does look very likely to be a duplicate, as that issue encompasses (and has examples of) many different ways to get bad stat allocations. Closing for now!

[2019-11-01 17:56] #11143 closed, assigned to nobody

[2019-11-01 17:57] SabreCat commented on #11141
Going to mark this as available for help, but @gautamz07 / @Xaz16 definitely jump in if you're still interested in your prior claim!

[2019-11-01 18:00] #11385 closed, assigned to nobody

[2019-11-01 18:00] #11456 closed, assigned to nobody

[2019-11-01 18:01] #11458 closed, assigned to nobody

[2019-11-01 18:01] #11264 closed, assigned to nobody

[2019-11-01 18:01] #11200 closed, assigned to nobody

[2019-11-01 18:02] #11337 closed, assigned to nobody

[2019-11-01 18:02] #11394 closed, assigned to nobody

[2019-11-01 18:02] SabreCat commented on #11185
Opening this up for some incoming volunteers to dig into, but @gautamz07 / @Xaz16 if you're planning to tackle it within the next week or so, speak up!

[2019-11-01 18:05] SabreCat commented on #11121
Sounds like we need more data here to make this actionable. Closing for now; we can reopen if we capture info from an account affected by another incidence.

[2019-11-01 18:05] #11121 closed, assigned to nobody

[2019-11-01 18:06] SabreCat commented on #11085
If there haven't been any new cases of this happening since March, there's been enough tweaking done to chat that it's likely to have been incidentally fixed. Closing for now!

[2019-11-01 18:06] #11085 closed, assigned to nobody

[2019-11-01 18:09] SunSparc commented on #11355
@SabreCat agreed. After trying to replicate it myself I have realized that there is just not enough information. But having the issue here is good so that if anyone else experiences the issue they can add their experience and maybe over time we can gather enough to be able to recreate and track it down. Or it may just be fixed as a result of a seemingly unrelated fix.

[2019-11-01 18:23] SabreCat commented on #11051
Do we have a good way of reproducing this? When I open profiles one after another, there is a bit of delay, but during that delay there's only a tiny strip of the modal visible, not the whole profile. Is it browser-specific?

I'll still flag this as worthy of help (in case we can just do a cache purge irrespective of visible issues), but it'd help contributors to know how to get this to happen!

[2019-11-01 18:26] SabreCat commented on #10998
Not a supported browser, so I'm going to close this for now.

[2019-11-01 18:26] #10998 closed, assigned to nobody

[2019-11-01 18:27] SabreCat commented on #10997
I definitely still see sync issues here, where I'll hatch a pet and equip it but nothing will visibly happen, requiring extra sync or reload.

[2019-11-01 18:30] SabreCat commented on #10976
Happens to me constantly!

[2019-11-01 18:31] SabreCat commented on #10974
With no new input since February and no clues on how to reproduce, closing this for now.

[2019-11-01 18:31] #10974 closed, assigned to nobody

[2019-11-01 18:41] kugoi commented on #11181
Yeah, I still get mouse over behavior on task list. 

Sent from Yahoo Mail on Android

  On Fri, Nov 1, 2019 at 1:33 PM, Sabe Jones<notifications@github.com> wrote:
The linked tickets appear to all be variations of this. Will close the others and mark this to get help!

—
You are receiving this because you commented.
Reply to this email directly, view it on GitHub, or unsubscribe.

[2019-11-01 18:48] SabreCat commented on #10806
Is this effectively a duplicate of #11059 now?

[2019-11-01 18:49] SabreCat commented on #10805
Some of what's described has been addressed in the recent overhaul of private messages, so the time might be ripe to fix this up!

[2019-11-01 18:52] SabreCat commented on #10788
With it looking irreproducible nearly a year ago, methinks it's time to close this.

[2019-11-01 18:52] #10788 closed, assigned to nobody

[2019-11-01 18:55] SabreCat commented on #10786
Upgrading to Important as it's a constant drain for user support.

[2019-11-01 19:03] SabreCat commented on #10996
redphoenix gave a look at this in her party, and reported the following:

[2019-11-01 19:05] SabreCat commented on #10721
Sounds like the specific issue described in this ticket was addressed, so closing!

[2019-11-01 19:05] #10721 closed, assigned to nobody

[2019-11-01 19:06] SabreCat commented on #10736
Sounds like this hasn't been happening for a while. Closing!

[2019-11-01 19:06] #10736 closed, assigned to nobody

[2019-11-01 19:08] SabreCat commented on #10711
Closing in favor of keeping the discussion at #10806 etc. These all seem to be variations on the same theme.

[2019-11-01 19:08] #10711 closed, assigned to nobody

[2019-11-01 19:13] SabreCat commented on #10690
Closing this as it's a feature request rather than a bug. We are working on it, though!

[2019-11-01 19:13] #10690 closed, assigned to nobody

[2019-11-01 19:19] SabreCat commented on #10553
Based on all evidence to date, this has been specific to iOS and we're monitoring the issue there. Closing for habitica-web.

[2019-11-01 19:19] #10553 closed, assigned to nobody

[2019-11-01 20:42] b9chris commented on #11181
Here's a video of me attempting to use a touchscreen to check off both To
Dos and Dailies in Chrome on Win10 (on a Microsoft Surface Book). No this
is not an ad for the salsa I accidentally included in the video ;)

https://youtu.be/yV_bkkb2nLU

[2019-11-01 21:54] Xaz16 commented on #11174
@SabreCat yes, i'm still on this. Sorry, for delay guys, I'm focused on other issues and couple of my pull requests...

[2019-11-01 21:54] Xaz16 commented on #11141
@SabreCat sure

[2019-11-01 21:55] Xaz16 commented on #11185
@SabreCat yeah, I will, but after closing some of PRs and issues, I really want to believe that I will work on it in week or so

[2019-11-02 00:48] Alys commented on #10806
No, many (most?) of these didn't have VersionError messages in Loggly.

I don't recall a lot of these in recent months. If you want to close it, we can reopen when we have a new report that can't be attributed to one of the other open issues.

[2019-11-02 02:31] Alys commented on #11259
See also https://github.com/HabitRPG/habitica/issues/11500 for the specific case of the Guild name being hidden by tags. It's been marked with the 'sprint' label for a fix to be done by a group of coders doing a November sprint, so while that issue is open, no one should try to fix the Guild name / label problem as part of this issue.
If that other issue ends up being closed with a fix, I'll updat

[2019-11-02 13:36] SebastiaanNijland commented on #11356
I fear I won't get around to this at the moment, so that's fine with me!

[2019-11-02 16:59] #11423 closed, assigned to nobody

[2019-11-02 17:45] mistergij commented on #11297
@bmasetto, are you still working on this? I am new to Habitica, and also excited to solve my first project. If you don't mind, I could take it off your hands.

[2019-11-02 18:19] bmasetto commented on #11297
For sure, @mistergij! Unfortunately, I was not able to start solving this issue 😞

If @Alys agree, go ahead 😃

[2019-11-02 20:24] vamsijv commented on #11420
@Alys I was able to make the necessary changes based on your inputs. Thank you!
I believe next steps are unit testing from my end. Is there any other QA cycle involved (or fix validation by some dedicated QA) before deploying to production?
I know that there are some steps mentioned [here](https://habitica.fandom.com/wiki/Using_Your_Local_Install_to_Modify_Habitica%27s_Website_and_API) for individ

[2019-11-02 22:06] thatrobotdev commented on #6146
Sorry, I am not able to successfully install Habitica on my local system. I can't work on this issue anymore.

[2019-11-03 05:36] Alys opened #11503 "on-hover state of tiered display names in group chats should not include a colour change"
As reported by @citrusella (2d6ef231-50b4-4a22-90e7-45eb97147a2c):

"Mousing/hovering over the display name of anyone with a tier turns their name dark blue (like, darker blue than even the mod color)."

When you hover over the name of a player who doesn't have a tier, the colour does not change.
That should be the correct behaviour for tiered players too <strike>but I'll leave this issue as sugge

[2019-11-03 07:20] Alys commented on #6169
This is still happening. Below is feedback from Praxis / @Praxissima (0ce6d43b-efa2-45a3-acaa-59daad7d658d) about it (edited to highlight the most important parts for this issue), including confusing mixed messages that are given when you try to buy an item after it's no longer supposed to be available.

**Praxis**: "... I purchased [this season's outfit] from the seasonal shop. Yet when I equip t

[2019-11-03 07:21] Alys commented on #6169
I'm marking this suggestion-discussion so that we can consider how best to improve the situation.

[2019-11-03 07:23] Alys commented on #6169
By the way, this is worth fixing because it can cause players to change class to buy gear and end up without the gear. Praxis spent 3 Gems to change class after buying the gear for the current class because it wasn't clear that the first purchase had failed.

(sorry about the multi-email spam)

[2019-11-03 09:27] Alys opened #11504 "@username inside markdown code backticks should not be converted to link"
In group chat messages,  if you type an @Username inside backticks for markdown "code" highlighting, you expect to see exactly what you type with the markdown code formatting (red text on a white background), however the @Username is converted into a link and you see the markdown link code.

For example, if you type exactly this: `` `@username` ``

then you expect to see this: `@username` (in red

[2019-11-03 12:45] nikonhub commented on #11504
Hello.

It seems the same behavior happens to private messages.
Without and with backticks :
![image](https://user-images.githubusercontent.com/45662151/68085093-44aa9180-fe3d-11e9-9de1-24fde6c158c4.png)

Because the regex in highlightMentions function only match `@username` wherever it is. Should it also check if we are inside a backticks block ?

[2019-11-03 18:05] cvuorinen commented on #11398
I could try to fix this with something similar to https://github.com/HabitRPG/habitica/pull/11502 (atomic update only to the correct value, without overriding any possible other updates since data was loaded). Or this could probably also be fixed with transactions on Mongo 4, but don't know what's the timeline for that.

[2019-11-03 22:24] Alys commented on #11297
@mistergij and @bmasetto Thanks! @mistergij you're welcome to work on this.

[2019-11-03 22:25] Alys commented on #11420
@vamsijv That wiki page you linked to should contain everything you need to do!

If it turns out that it doesn't, let us know and we'll add to it.

[2019-11-03 22:28] Alys commented on #6146
@thatrobotdev I'm sorry about that and thank you for telling us. I've marked this as help wanted.

If you'd like help with your local install, tell us what's going wrong. If you've already posted to the Aspiring Blacksmiths guild about it and received no replies, please post a reminder.

[2019-11-03 23:06] mistergij commented on #11297
Created a pull request, waiting for confirmation.

[2019-11-03 23:19] mistergij commented on #11297
@Alys, created a pull request, waiting for confirmation.

[2019-11-03 23:29] mistergij commented on #11297
#11505

[2019-11-04 03:27] thatrobotdev commented on #6146
I might be able to help on Habitica in the future, if I can devote more time to troubleshooting this! ;) Thanks for your help.

[2019-11-04 03:52] binamkayastha commented on #11297
Out of curiosity how would you test something like this? Is there a way to award yourself gems in dev and speed up time (Skip to 45 days)?

[2019-11-04 11:06] Alys commented on #11297
@mistergij Thanks! Just so you know, you don't need to post to the issue to tell us when you've created a pull request. :) Instead, in your pull request, you can write "Fixes #11297" (that's the issue number) - you put that in the top post in the pull request (the PR template has a comment there as a reminder). That makes an automatic link between the pull request and issue, and then if the pull r

[2019-11-04 12:32] Tressley commented on #11503
@Alys -- You're correct in that the color should not change and an underline should be applied for player names with and without a tier. This is also true for the `:focus` and `:active` states as well.

[2019-11-04 13:19] lorenzleutgeb opened #11508 "Loading CSS chunk entry failed"
Habitica does not load, so I cannot report this to the "Report a Bug"-guild.

### General Info
  * UUID: n/a (website does not load)
  * Browser: Firefox 70
  * OS: Fedora 31

### Description
The Habitica logo on a purple background flashes, but then disappears and I just get a white page.

#### Console Errors

[code]
![Screenshot from 2019-11-04 14-18-15](https://user-images.githubusercontent.com

[2019-11-04 14:23] paglias commented on #11508
thanks for the report @lorenzleutgeb , I'm not able to replicate on Firefox and that CSS file is loading correctly for me. Could you try a different browser / private window or by clearing the cache?

[2019-11-04 14:38] mistergij commented on #9498
@lemoness or @Alys, may I be assigned to work on this issue?

[2019-11-04 14:51] lorenzleutgeb commented on #11508
OK. After you responded, I tried it with Firefox' "Private Window" feature, and also played around with extensions. It seems that your website does not load with [Privacy Badger](https://github.com/EFForg/privacybadger) enabled (in a certain configuration). For me, Privacy Badger would block requests to the domain "fonts.googleapis.com". Once I enabled requests to that domain, your website would l

[2019-11-04 15:02] paglias commented on #11508
@lorenzleutgeb I just installed Privacy Badger on Firefox 70 and Habitica loads fine for me. Are you using some particular setting?

Anyway, it should be possible for Privacy Badger to block the loading of Google Fonts without breaking the rest of the website since it's loaded in a separate request. I would suggest to open an issue reporting the problem on Privacy Badger's own issue tracker

[2019-11-04 15:14] lorenzleutgeb commented on #11508
Here you can see my Privacy Badger configuration for your site, and how it looks:

![Screenshot from 2019-11-04 16-12-16](https://user-images.githubusercontent.com/542154/68131874-118bff00-ff1e-11e9-8094-4028416b337f.png)

![Screenshot from 2019-11-04 16-10-31](https://user-images.githubusercontent.com/542154/68131882-151f8600-ff1e-11e9-9a12-46f899a07e54.png)

I already filed reported this as an i

[2019-11-05 01:42] davis1410 commented on #11498
I appear to have had a related issue. It kept telling me that `vue-cli-service` wasn't installed, so it wasn't able to build the application. I made some modifications to the `Dockerfile-Dev` file and was able to get the development Docker working today. I'm more than happy to submit my fix in a pull request for review.

[2019-11-05 02:32] adamfitzgibbon commented on #11503
@Alys I can take a look at this one!

[2019-11-05 06:42] nikonhub commented on #10786
I tried to invite an email and I think the problem should come from mandillapp configuration.

Because this link :
https://mandrillapp.com/track/click/30295795/habitica.com?p=eyJzIjoiY2dDMGcxbnRmdlBWNGlLRGprdDFxZ0hfYTh3IiwidiI6MSwicCI6IntcInVcIjozMDI5NTc5NSxcInZcIjoxLFwidXJsXCI6XCJodHRwczpcXFwvXFxcL2hhYml0aWNhLmNvbVxcXC9yZWdpc3RlclwiLFwiaWRcIjpcIjVjNmQ5YTBkNmEyZjRlZjI4NjUwOTgwODYzYTEzOWU0XCIsXCJ1c

[2019-11-05 09:41] Alys opened #11514 "wrong @username selected from list when writing chat if list is stil updating itself"
@katzalina (c3282599-6e4d-48cf-b1ee-5d080120b925) reports:

"Not sure, if this is a new bug, but I think I've managed to hit it twice these last weeks:

"Posting in the Tavern, typing @ and choosing from the list, I seem to have managed to catch the moment before the list updated (just having posted an answer myself, this time) - the addressee seems to be taken from the position on the list, so th

[2019-11-05 12:04] benjaminbhollon opened #11515 "unpredictable html attribute on avatars"
Hey, we've been discussing this at https://github.com/HabitRPG/habitica-chat-extension/pull/51 and @Alys requested I create an issue here.

The basic problem is that any part of the avatar needs to have a data attribute in order to be able to be styled by the CSS.

For example: `<span data-v-42e99447 class="weapon_special_nomadsScimitar"></span>`

The number after data-v- is constantly changing an

[2019-11-05 13:46] paglias commented on #11515
@benjaminbhollon as mentioned in the other issue I'd need to know which element in the avatar need to be marked with an extra class for styling. You can see the template here https://github.com/HabitRPG/habitica/blob/develop/website/client/src/components/avatar.vue#L8

[2019-11-05 13:55] shanaqui opened #11516 "Username selection dropdown in chat freezes intermittently"
I triggered this myself, and I'm not entirely sure how -- possibly because I typed most of the username myself? I think that's what I did. I grabbed the console errors at the time, though I hadn't cleared it first so there may be irrelevant errors. Pastebin of the errors: https://pastebin.com/LMmU2pLB

[2019-11-05 16:05] paglias commented on #11516
The relevant error seems to be

[code]

but it doesn't show the correct location in the source map...

[2019-11-05 16:30] aneesh4995 commented on #11498
That would be great. @davis1410

[2019-11-05 16:48] SabreCat commented on #10786
Attempted a simple fix in https://github.com/HabitRPG/habitica/commit/a32622c81fd231b9da04ecf2767e4c20f16ad3e7, we'll see how it goes!

[2019-11-05 16:51] SabreCat commented on #11498
Absolutely @davis1410, please do!

[2019-11-05 17:04] SabreCat commented on #10806
OK, sounds good!

[2019-11-05 17:04] #10806 closed, assigned to nobody

[2019-11-05 17:34] davis1410 commented on #11498
Got the pull request created, and it's ready for review.

[2019-11-05 22:40] benjaminbhollon commented on #11515
@paglias Unless I'm wrong, the attribute is used on every part of the avatar, even the background.

[2019-11-05 23:27] paglias commented on #11515
@benjaminbhollon Sorry, I think there's some misunderstanding. The data attribute is not something that is going to be remain stable, it's an unique and random identifier used to apply css styling. The way it works cannot be changed.

What I'm proposing is to add a new class on each avatar element to better identify the avatar part it displays (for example head accessory, ..)

But I may be missing

[2019-11-05 23:32] benjaminbhollon commented on #11515
@paglias Oh, I see. The problem is that the extension needs to get the CSS styling applied to it as well, but couldn't without the data attribute, so how would we go about that?

[2019-11-05 23:39] Alys commented on #11503
@adamfitzgibbon Thanks! I've marked this as in progress for you.

[2019-11-05 23:41] Alys commented on #9498
@mistergij Yes, thank you! Comment here if you have questions.

I've updated the top post to add Gryphon-Gryphatrice to the lists of Pets and Mounts that should not show pawprints.

[2019-11-06 05:17] Alys commented on #11515
@benjaminbhollon Does everything below describe the issue correctly? Please tell me if I've got any of this wrong.

1. When you've viewing the website, you see it has generated HTML code like in the screenshot below, containing HTML elements like this one:
`<span data-v-42e99447="" class="hair_flower_0"></span>`

![image](https://user-images.githubusercontent.com/1495809/68269693-76726100-00a6-11e

[2019-11-06 08:40] paglias commented on #11515
You could read the data-xxx value with JavaScript from the extension maybe?

Il giorno mer 6 nov 2019 alle 06:17 Alys <notifications@github.com> ha
scritto:

--
Matteo Pagliazzi - paglias.net

[2019-11-06 10:46] benjaminbhollon commented on #11515
@Alys  Yeah, that's the problem all right. But I like @paglias's idea. I haven't checked the code, but I think it's definitely a feasible idea.

I think it would probably be simple to locate an avatar via js and get its attribute list using the .attributes property of the element. Since it always starts with data-v, I could probably identify which is the relevant attribute pretty easily.

The only

[2019-11-06 16:12] citrusella commented on #11515
Would it ever be appropriate to bring this up for more unofficial (and CSS only so no JS help) styles?

I had a problem like this with some of the navbar text items (namely the ones with dropdowns, and the dropdown items) in one of [the more extensive CSS styles](https://userstyles.org/styles/149439/habitica-old-colors) I've tried to do. I kept trying to keep it up-to-date with the data value, the

[2019-11-06 22:50] benjaminbhollon commented on #11516
It just froze again for me, and the error @paglias reference is also present.

These two errors occurred right after that one, so they were probably also caused by it:

![image](https://user-images.githubusercontent.com/33023252/68344765-cabf2480-012a-11ea-908d-31bff4aa4192.png)

[2019-11-06 23:21] Alys commented on #11515
The header with the avatar should appear on all pages, excluding the "/static/" ones like https://habitica.com/static/community-guidelines and https://habitica.com/static/faq

However if the player is also using an extension to hide the header (some exist for that) then I guess finding the avatar might fail.

Perhaps if the data-v-* value can't be read, the extension can deliberately not show the

[2019-11-07 14:28] citrusella commented on #11516
I just had what seems like this happen without the dropdown freezing by pasting something immediately after an @ (thereby telling the dropdown to go away). I couldn't press enter, anyway. Might just be a separate but related bug (i.e. mention dropdown keeps enter (and up/down?) key from being pressed if it's not specifically/directly dismissed via interacting with it), since I didn't get an error

[2019-11-07 15:28] paglias commented on #11516
Which browser are you using?

It would be extremely useful if we can identify a pattern to replicate it, otherwise if you could open the console when the issue appears, click on the app.xxxxxx.js link next to the error and take a screenshot of what appears

Thanks!

[2019-11-07 20:26] citrusella commented on #11516
At the time with the not-quite-identical/might-only-be-tangentially-related one I was on SlimBrowser (Gecko (Firefox) based, was playing around with it and have actually just uninstalled it), but I just reproduced that one just now on Vivaldi (by typing @ and then pasting something immediately after it (anything that makes it get rid of the dropdown (so, like, anything other than a full or partial

[2019-11-07 21:22] Alys commented on #11504
I've marked this as help wanted and mentioned in the top post that it applies to PMs too - thanks @Nikosmonaut !

EDIT: There's a loosely related issue at https://github.com/HabitRPG/habitica/issues/11520

[2019-11-07 23:06] shanaqui opened #11520 "Username formatting breaks markdown for links in posts"
![image](https://user-images.githubusercontent.com/8144640/68435223-bde61380-01b2-11ea-9add-19ebab1ceb81.png)

(Image included since obviously one can't demonstrate in the same way on github! In other words, including @username in markdown links breaks it because the @mention formatting takes precedence.

[2019-11-07 23:54] benjaminbhollon commented on #11515
@Alys Thanks for the help! I'll definitely do that.

I think with the static pages, there's not as much of a concern, because the user is likely to have loaded another page before viewing one of them, so it would already have read the data-v- value.

[2019-11-08 08:50] evelynstender commented on #11504
Hey @Alys can I work on this one?

[2019-11-08 11:47] Alys commented on #11504
@evelynstender Yes, thank you! Comment here if you have questions!

Note that I've just edited my previous comment here to remove an issue that wasn't directly related (I had misread it). The top post hasn't been changed and still accurately describes this issue.

[2019-11-08 18:57] akmaekki commented on #9247
I have a question regarding this issue. When the user opens opens the modal for chat messages, see screenshot below, (e.g. user clicks on the avatar of another user in the party) a request is done to members/:memberId like `http://localhost:8080/api/v4/members/789cb00c-3018-4cf2-8d3c-3db667aa57ef`.

To fix this issue, I want to know if the other user blocked me. Currently this information, which i

[2019-11-08 19:02] librarianmage commented on #9247
I think that being able to know everyone that a person is blocking would have some concerning uses.

[2019-11-08 21:11] KeiferE commented on #11520
I don't mind taking a look at this one or is this already in progress in the referenced issue?

[2019-11-08 22:26] SabreCat commented on #10786
No luck yet. It's still rerouting to naked `/register` instead of `/static/home` with the param.

[2019-11-08 23:00] Alys commented on #9247
From a moderation point of view, we wouldn't want a player's full block list appearing in the data that anyone can see for that member, so adding the entire `inbox.blocks` to `publicFields` isn't the best approach - thanks for asking about it though!

It would certainly be acceptable from a moderation point of view if partial contents of `inbox.blocks` was in `publicFields`, if that helps (and if

[2019-11-08 23:02] Alys commented on #11520
@KeiferE Thank you! Please go ahead and comment here if you have questions.

[2019-11-09 02:48] Alys commented on #6169
I've replicated this on my local install using two computers on my home network, with each one set to a different time zone. There's probably ways to replicate it using a single machine but this way was easiest for me.

1. Install Habitica locally on one computer - this is referred to as "the **first** computer" in the steps below. (If you already have Habitica installed on a computer, it's fine t

[2019-11-09 02:54] Alys commented on #6169
So to summarise the bug:

- Habitica's code specifies the end date of a Grand Gala (that's the `2019-11-02` date in `website/common/script/content/constants.js` that I mentioned above).
- If your own computer's date is before that end date, the website will show the Grand Gala equipment as being for sale, and will let you buy it. Whether the purchase is actually successful depends on the next two

[2019-11-09 05:22] Alys commented on #6169
~From a VERY quick and dirty test, I _think_ we might be able to fix this bug by changing this code:~

Habitica's staff have approved this fix:

https://github.com/HabitRPG/habitica/blob/99599953f55766fb447707594fe1c66a78d9e89d/website/common/script/content/gear/index.js#L65-L66

so that `moment().isBefore(item.event.end)` becomes `moment().isBefore(moment.utc(item.event.end))`

EDIT: we might wan

[2019-11-09 06:09] Alys commented on #6169
I've updated my previous comment with a couple of notes:

[2019-11-09 06:10] Alys commented on #6169
[so sorry for the email spam, I hit submit accidentally]

I've updated my previous comment with a couple of notes:

"EDIT: we might want to adjust the `isAfter` code in the same way for consistency although that's not directly related to this bug.

"EDIT to the edit: I we don't handle the start-of-Gala case correctly, we might get the same bug as this one but for people in time zones ahead of UTC.

[2019-11-09 09:45] akmaekki commented on #9247
Thank you for your replies!

I think you are right to not unnecessarily reveal too much information. In this case, I would suggest to add a method called e.g. `didUserBlockme` similar to method `blockUser` in [profile.vue](https://github.com/HabitRPG/habitica/blob/develop/website/client/src/components/userMenu/profile.vue)

But this would necessitate extending the API with another endpoint. I thin

[2019-11-09 23:01] vamsijv commented on #11420
The changes for this ticket are available in PR for review.

[2019-11-09 23:44] Alys opened #11522 "Group Plan tags are not deletable after leaving group"
When you're in a guild/party that has a Group Plan, a tag for the group is added to your personal tags (this is correct behaviour).

When you are no longer in that group, the tag remains and you are not able to edit or delete it. I'm not sure if this happens when you leave the group or when the leader removes you or both.

The correct behaviour is that the tag should become one of your personal ta

[2019-11-09 23:48] Alys opened #11523 "party/group leader should remain on invitations tab after removing an invitation"
As reported by @MaybeSteveRogers:

"When viewing the guild member list on web, there's a tab that takes you to 'invitations'. Removing the invitation from any one user results in the modal "tabbing" back to the 'members' list. I'm not sure if it's intentional this way, but it *is* annoying when you're trying to clear all the invitations to have to spend time going back to the 'invitations' tab eve

[2019-11-10 09:13] Alys commented on #11083
Just to confirm, this is still happening. There's a new report below. I've never found a way to reproduce it delibeately.

@JohnJSal (624e48a3-cbea-4bbe-ae44-ca9183f49626): "Recently I'm noticing on the website whenever I click away from a popup screen (like the Messages window, or someone's profile), instead of just going straight back to the page I'm on, another popup screen will appear first, u

[2019-11-10 10:59] twim32 opened #11524 "Design problem (z-index, three-dots menu on tasks)"
Opened reward menu is under inventory items.

[2019-11-10 17:12] nikonhub commented on #11522
Hello.

May I work on this one ?

[2019-11-10 21:45] Alys commented on #11522
@Nikosmonaut Sure, thank you!

[2019-11-10 21:50] Alys commented on #11524
@twim32 Can you please give us a bit more information? For example, the exact name of the menu item that you're referring to and where it should be? If you can take a screenshot, that would help.

Can you also tell us if this happens on the website or iOS app or Android app (or any combination of them)?

By the way, the best place to report bugs is the [Report a Bug](https://habitica.com/groups/gu

[2019-11-10 22:32] Alys opened #11525 "Profile pages have no information when opened as non-modal pages"
If you open a player's profile screen in a window by itself, then you see the header and tabs but with no information shown:
![screenshot](https://i.snipboard.io/8I06lE.jpg)

The correct behaviour is that the information from the "Profile" tab should appear.

You can reproduce this bug in any of these ways:
- Right-click on a player's name / avatar image and select the option to open in a new tab

[2019-11-10 23:26] Alys commented on #10711
There's another verified report of cron not producing a quest progress message in party chat for a player who was in the quest, was not resting in the inn, and who did cron with a value in user.party.quest.progress.up recorded in Amplitude. Loggly showed a version error for one of their Habits at the exact time that cron happened. User ID fd1917b1-20f5-42ee-baeb-ebed34d7ae82

[code]

There's also

[2019-11-11 09:26] twim32 commented on #11524
Yes, of course!
It's happens on website. Here is screenshot:
![as](https://user-images.githubusercontent.com/25387613/68576088-0564ec00-04a0-11ea-8e14-48e485ad009f.png)

When i focus the sub menu of redward item, it goes under shop items. And when i focus out it's ok.

[2019-11-11 10:09] paglias commented on #11524
Thanks for the report but looks like it's a duplicate of https://github.com/HabitRPG/habitica/issues/11457

[2019-11-11 10:21] #11524 closed, assigned to nobody

[2019-11-11 12:32] vamsijv commented on #11525
@Alys I would like to work on this item, if that's fine.

I see that all 3 scenarios from ticket description eventually end up accessing the profile page url which I believe has the root cause. As such, I guess following components need to be looked at for fixing the issue:

- profile.vue

- profilePage.vue

Please let me know if I can proceed further on this. Thank you!

[2019-11-11 16:00] nikonhub commented on #11522
@Alys

I'm trying to figure out what should be the behavior if this same user is reinvited to the group ?
Imagine I remove group field from tags when the user quit/is removed from a group, I think it will create another side effect later.

The thing is the tag.id = tag.group

If the user quit the group they have "The Groupish Group" as a simple tag. They can change it's name, and even forget it on

[2019-11-11 16:53] paglias commented on #10786
Hmm there's probably a condition in the client side routing that triggers the redirect to the register page instead of the home. But if you manually type (in an incognito browser window) `https://habitica.com/static/home?groupInvite=aaaa` you don't get redirected so it might be a mandrill problem

[2019-11-11 19:27] akmaekki commented on #9247
Note to myself:
Ok, now I figured out, how I can solve this issue elegantly. Use '/members/:toUserId/objections/:interaction' => Links related to issue is:

- https://github.com/HabitRPG/habitica/pull/8755/files?file-filters%5B%5D=.js
- https://github.com/HabitRPG/habitica/pull/8206

[2019-11-11 22:55] Alys commented on #11525
@vamsijv  Please go ahead, thanks!

Yes, those three scenarios are just different ways of accessing the profile page as a stand-alone web page.

[2019-11-11 23:05] Alys commented on #11522
@Nikosmonaut Good question, thanks for asking! I think using the same behaviour as challenge tags would be best if that's possible (specifically, when you rejoin a challenge, the existing tag is reused and its name is changed back to what the challenge says it should be). You're right that the group tag should not be deletable while you're in the group.

[2019-11-11 23:17] Alys opened #11537 "challenge participant count and list should update when joining / leaving"
When you join a challenge, the displayed number of participants does not increase immediately, and if you click on the Participants button/icon as soon as you've joined, you don't see yourself in the participant list.
Similarly, when you leave a challenge, the number and participant list are not updated immediately.
After joining / leaving, you need to reload the page to see the number and list ch

[2019-11-11 23:24] citrusella commented on #10232
I'm interested in taking a stab at this, but out of curiosity, is there any maximum height the modal shouldn't go over? (I think if there were, there's probably not a language with a dialog that long, but I figured I'd ask the question (and also claim this, heh) before moving any further than the playing around I've just done to see if I understand what might need to be changed.)

[2019-11-12 00:21] Alys commented on #10232
@citrusella Thank you! I've marked it as help wanted for you. Post here if you have questions. :)

I'm not in a position to comment on a maximum height so you might want to wait a day or two to see if the staff comment, but if there's no other responses then my feeling is that as you say there wouldn't be a language that would cause the dialog to exceed any maximum so it might not be something to

[2019-11-12 01:52] citrusella commented on #10232
The only reason I even thought to ask is because I found the easiest way to test was to add lorem ipsum text to the relevant English string to ensure the message was *always* long enough (as opposed to, say, switching to German and finding a specific pet string that's too long (like Desert Flying Pig's) and navigating to it every time I tried some changes).

...But a whole paragraph's worth of lor

[2019-11-12 12:36] Tressley commented on #10232
@citrusella — Modals should never have have a max-height. This is to accommodate the various types of content and the multiple translations. And sometimes the content of the modal may make it larger than your screen. In this case, the modal would scroll.

[2019-11-13 20:49] paglias opened #11541 "Achievements Refactoring"
We've found out that the achievements code is unnecessarily complex and difficult to manage, both on client and server which caused a few bugs, it should be simplified:

Instead of having a different notification type for each achievement (https://github.com/HabitRPG/habitica/blob/develop/website/server/models/userNotification.js#L36-L49) we should use one single type (maybe `ACHIEVEMENT`) with th

[2019-11-13 21:00] paglias commented on #11541
Also see #11257

[2019-11-14 02:59] adamfitzgibbon commented on #11537
@Alys I'll take a crack at this one

[2019-11-14 20:23] Alys commented on #11537
@adamfitzgibbon Thanks! Marked as in progress for you.

[2019-11-14 21:15] Alys commented on #9262
I've deleted some old comments about a potential fix that's no longer relevant because the site's code has changed.

Recently, a similar bug was fixed in the Challenge creation/edit screen and it was a very easy fix so I'm marking this as a good first issue. https://github.com/HabitRPG/habitica/pull/11409
`:no-close-on-backdrop="true"` looks like it's what we need. The task edit modal already has

[2019-11-14 21:19] Alys commented on #9262
Although I notice that the issue is actually for adding a prompt. I don't know if that needs a specific design? @Tressley

My feeling is it would be good to do a quick fix now to prevent the task edit modal from closing at all when you click outside it, and then if a prompt is desired, it could be added later if design work is needed for it.

[2019-11-14 21:39] Tressley commented on #9262
@Alys -- I agree. For now I think we should just prevent the user from clicking outside of the modal and losing focus. The only way to close the modal should be "Cancel" or "Save."

[2019-11-15 13:29] nikonhub commented on #11522
I created a draft pull request.

I'm not sure how should the tag name change if the user rejoin a party a second time. Because a tag is not added when the user accept the invitation but when a first task is assigned to him. But in this call I'm not aware if this is a first assignement since the user joigned the party or a second to choose if I should update the tag name.

[2019-11-15 18:24] citrusella commented on #8834
Are there any parts of this that still need doing? It looks like the text ([rebirthAdvList3](https://github.com/HabitRPG/habitica/blob/020726f6f83030cc087dac27679eb17b0ce544f6/website/common/locales/en/rebirth.json#L8) and *maybe* [rebirthPop](https://github.com/HabitRPG/habitica/blob/020726f6f83030cc087dac27679eb17b0ce544f6/website/common/locales/en/rebirth.json#L24)?) might still need changing,

[2019-11-16 00:41] moniwang commented on #11541
Hello, can I take on this request?

[2019-11-16 00:42] alicemliu commented on #11523
I'm interested in working on this one if that's okay!

[2019-11-16 02:24] Alys commented on #11523
@alicemliu Thank you! Please go ahead and post here if you have questions.

[2019-11-16 02:25] Alys commented on #11541
@moniwang Sure, thanks! Post here if you have questions.

[2019-11-16 03:08] moniwang commented on #11541
What are some of the bugs that occurred because of this achievements code?

[2019-11-16 04:18] Alys opened #11544 "Habitica Server Outage [FIXED]"
Habitica's website and mobile apps are undergoing an outage at the moment due to server problems. The staff are working hard to fix the issue and everything should be back to normal in a while.

We'll update this issue when it's resolved.

No accounts have been lost. If you try to use the site or apps now you might find that your avatar details and/or tasks don't load, but they're still saved in o

[2019-11-16 06:01] Alys commented on #8834
@citrusella So when you rebirthed, the streaks / counts on your Habits were all set to zero, except for Habits from Challenges and Group Plans?

If so, then no, sounds like there's nothing else to be done.

Regarding those two text strings, my opinion is that they don't need to be changed because the counters on Habits are referred to as streaks, but if I've missed anything or you disgree for othe

[2019-11-16 06:05] Alys commented on #11522
@Nikosmonaut In my opinion, tag behaviour for a Party with a Group Plan should be the same as for a Guild in all respects. However I might be missing something so please tell us if I am!

In case it's not obvious (and I'm sorry if this has caused confusion!) the word "group" when written alone generally includes Guilds and Parties and the Tavern - it's a generic term for all of them. (When it's wr

[2019-11-16 06:18] citrusella commented on #8834
Yes, my group plan habit stayed +1 and my challenge habit stayed +5/-5. (When I looked at the code I didn't see anything about group plan tasks specifically, but the site does ignore them in terms of streak resetting, so...) I don't really think the text change is all that important, personally (unless it's important to mention group plans alongside challenges? \*shrug*), but I asked about it beca

[2019-11-16 07:02] Alys commented on #8834
Ah! I had missed something: mentioning Group Plans as well as Challenges, thank you. :)

.... Which is actually MENTIONED in the top post in this issue. The post that I wrote. :laughing:

I'm reopening this and I'm about to edit the top post to explain what still needs to be done.

[2019-11-16 10:20] nikonhub commented on #11522
@Alys

Sorry for the wrong naming.
So I'm not totally sure about what should be done because fixing this bug almost adds a little feature and changes business rules.

What I understand so far is that you have 3 types of tags

- Normal tags
- Challenge tags : added to the user list of tags when they join a new challenge. The user can change the name and delete this tag like it's a normal tag. If th

[2019-11-16 11:16] paglias commented on #11541
@moniwang mainly some achievements did not show up correctly and were fixed in https://github.com/HabitRPG/habitica/commit/2842087a432d7d31de1b98fe751102e079ee33fc

so right now there are no bugs due to this but it would be great if we could change the way it works to make it less error prone for the future, let me know if you have any question :)

[2019-11-16 12:19] Alys commented on #11544
We believe that the server problems are fixed now.

Everyone should be able to use Habitica without any trouble but if you do notice problems, please post about them in the [Report a Bug](https://habitica.com/groups/guild/a29da26b-37de-4a71-b0c6-48e72a900dac) guild (which you can reach from the Help menu on the website or the Guilds menu item on the mobile app) or if you can't get to the guild, se

[2019-11-16 12:36] Alys opened #11545 "Add Challenge Tasks button should be enabled after selecting new group"
As reported by @citrusella and confirmed by me:

"I inadvertently tried to create a challenge in a guild that has challenges limited to the guild leader. That brought an error and disabled the creation (add tasks) button, so I tried to switch it to a few other guilds and the button didn't reenable. It appears only a full reload reenables the button, even if you've set it after to a guild you shoul

[2019-11-16 16:39] #11042 closed, assigned to nobody

[2019-11-16 16:43] #11457 closed, assigned to nobody

[2019-11-16 16:52] #11477 closed, assigned to nobody

[2019-11-16 16:55] #9603 closed, assigned to nobody

[2019-11-16 16:58] #11297 closed, assigned to nobody

[2019-11-16 17:10] #10232 closed, assigned to nobody

[2019-11-16 17:14] #11420 closed, assigned to nobody

[2019-11-16 17:16] #11503 closed, assigned to nobody

[2019-11-16 19:07] citrusella commented on #8834
If I get the same behavior on my local install, does that mean only the string needs updating? (If so, I could do this pretty quick right now...)

[2019-11-16 19:57] alicemliu commented on #11523
@Alys I've been able to fix the issue, test that it works manually, and have my changes pass automated tests, but I wanted to check on how I should go about writing unit tests for my changes. Which directory should tests for this kind of issue go in, and should each file contain tests for just one issue? Thanks in advance!

[2019-11-16 19:58] alicemliu commented on #11545
Interested in working on this issue!

[2019-11-16 21:42] KeiferE commented on #11520
For desired functionality, do we want the whole link to redirect to desired weblink or the username when clicked on itself link to user with the rest of the sentence linking to desired link?

[2019-11-17 02:18] Alys commented on #11520
The whole link should redirect to the user-specified web link. I.e., the automatic linking for an @Username should be disabled whenever the @Username appears in a markdown link.

(That's the best approach because one of the common examples of this issue occurs when a player copies one of their posts to repost it with an edit. If the original post contains an @Username, you see this issue.)

[2019-11-17 02:19] Alys commented on #11545
@alicemliu Thank you! Please go ahead and post here if you have questions.

[2019-11-17 02:23] Alys commented on #11523
@alicemliu My personal opinion is that automated tests wouldn't be needed for this,  because this is a purely client-side problem, and because it doesn't make the invitation tab unusable so it's not a disaster if future code changes make the issue reappear.
However if any of the staff post here with an opposing reply, listen to them, not me. :)

In the meantime, you'd be welcome to submit a pull r

[2019-11-17 02:51] Alys commented on #8834
@citrusella Sure, go for it! Thanks. :)

[2019-11-17 03:08] Alys commented on #11522
@Nikosmonaut Yes, there's three types of tags (normal, Challenge, and Group Plan tags).

That's correct except that it also applies to a Guild that has a Group Plan. Both Guilds and Parties can have Group Plans. The Group Plan features should be identical for both types of groups.

That's okay but there should also not be a delete icon if the Group Plan tag belongs to a Guild that the player is st

[2019-11-17 06:37] Alys opened #11547 "sorting in member/participant lists should use case folding for Parties, Guilds, Challenges"
As reported by @GeminiForce (bec264b9-5776-47fa-8cb6-672d33ea8fc2):

"On the desktop, when I sort my party alphabetically by [Display Name], it will sort first alphabetically by names with the first letter capitalized and then by names with the first letter not capitalized. So that the names are listed like A, B, C, D, a, b, c, d."

The desired behaviour is that sorting should use [locale-sensitiv

[2019-11-17 06:53] moniwang commented on #11547
I'm interesting in working on this issue.

[2019-11-17 06:56] Alys commented on #11547
@moniwang Great, thank you! Comment here if you have questions.

[2019-11-17 21:02] Alys commented on #11544
Cron safe mode has been turned off.

[2019-11-17 21:02] #11544 closed, assigned to nobody

[2019-11-18 09:55] Alys opened #11560 "saving a Reward with no value / cost should not be possible"
As reported by Togohogo1 / @yiybtheumes (9bb5ff83-dac5-450e-89a9-213ef54c97d6) and confirmed by @citrusella:

"if you set your custom rewards amount to no value and click on it, the site freezes, and reloading it does not unfreeze it. After opening it again in a new tab, your gold value for the reward is set to the value that you last assigned it."

The desired behaviour is that you should not be

[2019-11-18 16:01] paglias commented on #10786
Just tested the fix and it works 🎉

[2019-11-18 20:35] nikonhub commented on #11560
Hello @Alys

May I work on this one ?

Actually the reward is not saved to the database. It just appears on the client site. But if we refresh the page it's not there. We even have an error from the server that value is required.

It's a general case. For all tasks (habit, daily, task or reward) the user can submit and the modal closes sending the request with no checks for required fields on clie

[2019-11-18 21:59] Alys commented on #11560
@Nikosmonaut Thank you for that assessment! I've marked it as in progress for you.

I think we should do the quick fix: "fix the value to a number 0 if it's empty" however you might want to wait a day or so to see if the staff say otherwise. I like that option because it's nice and simple, and if the player has cleared the value field, it's probably because they want a zero-cost reward anyway.

[2019-11-19 08:27] Alys opened #11561 "editing Challenge twice gives "string not found" categories and prevents saving"
If you edit a challenge and save it, and then immediately edit it again, the second edit has the following problems:
- the assigned categories stop being displayed at the bottom of the edit screen and instead you see "string * not found" (screenshot below)
- the "Update Challenge" button cannot be pressed meaning that your edits cannot be saved

I don't know if those two problems are related.

If

[2019-11-19 21:27] Xaz16 commented on #10920
PR created: https://github.com/HabitRPG/habitica/pull/11563

[2019-11-20 13:45] MagicMilly commented on #9262
@alexthomson1, @laurel-thomson, and I (new Habiticans! 🎉) are going to get together and work on this. Thank you for the `good first issue` tag!

[2019-11-20 22:17] SabreCat opened #11565 "Email edit form in Settings misbehaves after submission"
[//]: # (Before logging this issue, please post to the Report a Bug guild from the Habitica website's Help menu. Most bugs can be handled quickly there. If a GitHub issue is needed, you will be advised of that by a moderator or staff member -- a player with a dark blue or purple name. It is recommended that you don't create a new issue unless advised to.)

[//]: # (Bugs in the mobile apps can also

[2019-11-21 12:55] zack25 commented on #6146
Hello, I'd like to work on this.

[2019-11-22 14:56] shanaqui opened #11566 "Removing user from party does not prompt a check on whether a pending quest can start"
Not yet tested; if anyone does have the chance to test this and confirm, that would be appreciated.

[2019-11-23 02:53] Alys commented on #9262
@MagicMilly @alexthomson1 @laurel-thomson Thanks! I've marked this as in progress for you. Post here if you have questions!

[2019-11-23 02:54] Alys commented on #6146
@zack25 Thanks very much! Please go ahead. Post here if you have questions.

[2019-11-23 06:17] Alys commented on #11566
I've seen this reported before so I believe it does happen as described.

Part of the problem with this is that some party leaders don't realise they can start a quest with the "begin" button and/or they think that removing party members first is necessary (we know that's a source of confusion from comments that we've seen in the community). Of course it's fine for a leader to remove members for o

[2019-11-24 08:12] zack25 commented on #6146
I noticed that when editing a Task that the link to delete it reads: "Delete this Task".
![image](https://user-images.githubusercontent.com/19578293/69491445-eb8db680-0e5a-11ea-9dde-584645c527cb.png)

Should I also change this so that it states "Delete this [Task Type]"? This ticket only mentions changing the confirmation message, but I think it'd be consistent to make this change as well, unless

[2019-11-25 10:37] Alys commented on #10688
Another instance:
[code]

[2019-11-25 15:44] paglias commented on #10688
This is likely caused by either:

- an error in the update query used for removing/adding/moving tags that uses the wrong index, leaving holes in the array
- a mongoose bug

We had something similar going on with notifications which was fixed with some manual cleanup every time the object is saved and should work here as well. The code can be found here https://github.com/HabitRPG/habitica/blob/de

[2019-11-25 16:11] #11560 closed, assigned to nobody

[2019-11-25 16:14] #8834 closed, assigned to nobody

[2019-11-25 16:19] #11537 closed, assigned to nobody

[2019-11-25 18:06] MeisterRed commented on #11565
Hi, I would like to give this issue a try

[2019-11-25 20:18] vamsijv commented on #11461
@Alys, I would like to work on this, assuming its open. Please confirm. Thanks.

[2019-11-25 20:18] vamsijv commented on #11461
@Alys, I would like to work on this, assuming its open. Please confirm. Thanks.

[2019-11-25 21:25] SabreCat commented on #11565
Thanks @MeisterRed, go for it!

[2019-11-26 04:35] Alys commented on #10771
This also happens on the Group Plans task board (Rosamund17's report is below) so I'm about to update this issue's title and top post to include Group Plans.

I've also updated the top post to highlight in bold the options that I think would be best. If there's no disagreements in a week or two, I'll mark this as help wanted for those bolded changes.

It's important to note that these changes shou

[2019-11-26 05:25] Alys commented on #11461
@vamsijv Thanks, I've marked it as in progress for you.

[2019-11-26 05:30] Alys commented on #10688
I've removed the needs investigation label and added this to the top post:

EDIT by Alys 2019-11-26: see https://github.com/HabitRPG/habitica/issues/10688#issuecomment-558213190 for the suggested fix.
It's important to state in this issue that you want to work on it before you start because as @paglias noted, he'll fix it if no one takes it up.

[2019-11-26 05:48] nikonhub commented on #11561
@Alys Hi.

I can fix this one.

[2019-11-26 06:07] Alys opened #11589 "old chat messages not highlighted after player changes their Username [wontfix]"
_This is probably something that we don't want to fix because it's not super-common and any fix would be resource-intensive and/or require changes to how Username data is stored, but I wanted it logged here just so we're explicitly aware of it and so we can point people at this issue if anyone else reports it. If there's no objections in a couple of days, I'll close this with no action taken, but

[2019-11-26 08:02] olop01 opened #11590 "Time codes missing"
I was asking in the report a bug guild and they led me here.

The Android app doesn't show time codes in chats and (more important) quest logs. So events that involve damage can't be recognised properly.

Android 8.0.0

[2019-11-26 11:39] paglias commented on #11590
Thanks for the report @olop01 but this should be filed in the Android app repo https://github.com/HabitRPG/habitica-android

[2019-11-26 11:39] #11590 closed, assigned to nobody

[2019-11-26 23:49] Alys commented on #11561
@Nikosmonaut Thanks! Please go ahead and post here if you have questions.

[2019-11-26 23:55] Alys commented on #6146
@zack25 Good catch! I think you're right that that should be changed for all four "task" types. At the very least the current text is wrong for Rewards and should be fixed, and changing it for the other three types for consistency seems good to me.

[2019-11-27 04:13] adamfitzgibbon commented on #10803
I've gotten a little busier so will try to get around to doing this, but if anyone else is looking for something to try, feel free to let me know and grab it from me.

[2019-11-27 09:25] TaiFeng opened #11592 "Unable to run Habitica locally in Docker"
### General Info
  * UUID: 7d0cdda9-2f70-4843-ba31-22f2e0f3c5fb
  * Browser: n/a
  * OS: Ubuntu 18.04.1 LTS (bionic) amd64
  * docker-compose: version 1.25.0, build 0a186604
  * Docker engine: version 19.03.5, build 633a0ea838

### Description
When strictly following the instructions outlined here: https://habitica.fandom.com/wiki/Setting_up_Habitica_Locally_on_Docker

Both the habitica_server and

[2019-11-27 09:58] Alys opened #11593 "chat message purple dot highlighting intermittently doesn't work"
We've seen reports that the purple dot highlighting on a message containing your own Username isn't always visible. It doesn't seem to be related to any specific content of the message. The purple dot can initially not appear on a message and then later it does appear on that same message. A single reload / several reloads does not seem to be enough to fix the problem.

The rest of this post is th

[2019-11-27 19:50] SabreCat commented on #11592
I'm reviewing a fix for this in https://github.com/HabitRPG/habitica/pull/11518. Try working from the Dockerfile-Dev there for now!

[2019-11-27 20:01] #11498 closed, assigned to nobody

[2019-11-27 20:02] SabreCat commented on #11592
Fixed in #11518

[2019-11-27 20:43] citrusella commented on #11593
This might be covered by the "A single reload / several reloads does not seem to be enough to fix the problem." bit but the messages I reported as missing the dot have stayed firmly in the "not having them" camp, reloads, restarts, and all.

[2019-11-28 00:07] Alys commented on #11498
Just to check something...

That doesn't still need to be done does it? For example, Dockerfile-Dev doesn't have `RUN npm set unsafe-perm true` or `EXPOSE 80 8080 36612` that were added to Dockerfile in https://github.com/HabitRPG/habitica/commit/2ab197745a5830e1940448252c23eb175aae442c

I'm not very familiar with Docker so I might be on totally the wrong track here. :)

[2019-11-28 01:45] SabreCat commented on #11498
@Alys Definitely not the `EXPOSE`. If folks run into trouble with file permissions we can add the other one, but so far as I know that's a quirk of our current production architecture rather than a universal thing.

[2019-11-28 02:38] TaiFeng commented on #11592
Thanks @SabreCat . I tried the fix, and the client image appeared to stabilize! Unfortunately, it looks like I'm seeing similar errors for the server in the logs. I've attached my console output here: https://gist.github.com/TaiFeng/61ac3eebe0b4dceadaa245e18011bb43

[2019-11-28 10:47] #11589 closed, assigned to nobody

[2019-11-28 13:35] paglias commented on #9216
This has been fixed in https://github.com/HabitRPG/habitica/pull/11539

[2019-11-28 13:35] #9216 closed, assigned to nobody

[2019-11-29 06:05] SunSparc commented on #10943
I was just reading through the [API page on the wiki](https://habitica.fandom.com/wiki/Application_Programming_Interface#Errors_in_the_API_Documentation), and there was a reference to this issue. Is this an issue that will be ongoing? Looks like the original post was eleven months ago.

[2019-11-29 19:09] #11523 closed, assigned to nobody

[2019-11-29 19:12] #11561 closed, assigned to nobody

[2019-11-30 01:08] Alys commented on #10943
@SunSparc Thanks for asking! It looks like this one slipped through our checking process. I'm marking it as help wanted, but @arjunchawla if you want to take it up again, let us know. @SunSparc You'd also be welcome to claim it too if you wish! First person to post gets it. :)

[2019-11-30 20:37] SunSparc commented on #10943
I can take a stab at it.

[2019-12-01 01:21] SunSparc commented on #10943
Took a bit longer than I initially planned because I did some testing on my local install to make sure that what I was changing in the documentation was indeed accurate.

@Alys: As a side note, we may want to close this issue and perhap open another, if we want to maintain a link on the [wiki API page](https://habitica.fandom.com/wiki/Application_Programming_Interface#Errors_in_the_API_Documentati

[2019-12-01 05:37] Alys commented on #10943
@SunSparc Awesome, thanks, especially for the testing!

We'll close this issue and delete the comment from the wiki once the PR is merged (I've marked this issue with "notify helpers" as a reminder to me to look at it later).

For any new apidocs error, I suggest that any one of these approaches is taken:
- create a PR to fix it straight away (if the error is found by a coder who wants to fix it)

[2019-12-01 06:36] SunSparc commented on #10943
Sounds great! I agree. In which case, what should we do about that comment/link on the wiki:

[2019-12-01 07:19] Alys commented on #10943
@SunSparc I'll delete that comment on the wiki after your PR is merged (might not be immediately after). You'd be welcome to delete it yourself if you wish, after the PR is merged.

[2019-12-01 21:17] paulcalabro commented on #11592
I'm experiencing the same issue as well.

[2019-12-01 22:38] bookofbash commented on #9335
Hi, I am new. Looking for things to contribute to. It seems that this issue should be marked as closed now. Is that correct?

[2019-12-02 10:13] Alys commented on #6169
Just to confirm, this is still happening, and since it happens for limited-time magic hatching potions as well as for seasonal gear, I've updated the title.

@bgmary (512cab82-38b9-46cf-b00e-8fa4efbcb575) reported:

"Whenever I try to use one of my thunderstorm potions, it works and hatches the pet, but if I try to feed the pet, I get an error that the pet doesn't exist, that I don't have the poti

[2019-12-02 10:27] Alys opened #11611 "Features static page shows deleted Chrome Extension and old mobile app images"
As reported by cTheDragons:

"There is a link to the [Chrome Extension](https://habitica.fandom.com/wiki/Chrome_Extension) on the  [Features page](https://habitica.com/static/features) where the app is no longer available. Maybe point to the chat client instead for Chrome and Firefox?"

An additional suggestion was made by @citrusella:

"If we're picking something *semantically* similar (as in "do

[2019-12-02 13:30] Alys commented on #8248
@etherfly (bf479514-05b1-450e-bba3-95497763bada) has reported this bug along with a guess at a possible cause:

"Hi. I've been experiencing a problem with collection quests. One of the item types needed for collection (dryads, for Taskwoods, Part 2 quest) has overflowed and keeps getting found along with another, not completely collected item type. At the moment I have
Pixies 22 / 25
Brownies 15 /

[2019-12-02 15:43] SunSparc commented on #6941
It looks like this will probably close when pr #10854 is merged.

[2019-12-02 23:29] SabreCat commented on #11592
Hmm, OK. @TaiFeng @paulcalabro do you get any better results if you add this line ahead of `RUN npm install` (as in the production Dockerfile)?

[2019-12-03 05:13] ksmith6 commented on #8248
@Alys I went hunting through the code and found what I think is the some of the offending lines in `randomDrop.js`

https://github.com/HabitRPG/habitica/blob/f8bab04a0e66a819f6d7ca5b210d27d991446bf3/website/common/script/fns/randomDrop.js#L51-L57

[2019-12-03 06:00] ksmith6 commented on #8248
Actually, doing some more digging to determine how the overall number of collected items is split into different categories, I came across this code:

https://github.com/HabitRPG/habitica/blob/b108b047cd853fd44a2d2048822f54b6e76f512f/website/server/models/group.js#L1094-L1164

And the key line is: https://github.com/HabitRPG/habitica/blob/b108b047cd853fd44a2d2048822f54b6e76f512f/website/server/mod

[2019-12-03 08:58] Alys opened #11612 "incorrect error when sending private messages (PMs) to a player you have blocked"
When you have blocked a player from sending private messages to you, if they try to message you they see this error:
"You can't send a message to this player because they have chosen to block messages."
That's the `notAuthorizedToSendMessageToThisUser` string in `website/common/locales/en/groups.json`
All of that is working correctly and doesn't need to be changed.

You are also not able to send P

[2019-12-03 09:51] Alys commented on #9335
@bookofbash No, it's still not working. The latest status from paglias is still correct, from what I can tell.

I can see that the new version of the `markdown-it-linkify-images` package has been published to npm (if you do `npm install markdown-it-linkify-images` the code that's installed contains the fix [referenced above](https://github.com/HabitRPG/habitica/issues/9335#issuecomment-377663184).

[2019-12-03 09:53] Alys commented on #8248
@ksmith6 That looks very promising! Thanks for doing that investigation! Would you like to do a pull request for the fix?

[2019-12-03 11:09] Alys commented on #10803
@adamfitzgibbon Thanks for letting us know! I've put this back to help wanted but post here if you'd like to take it up again.

[2019-12-03 11:22] Alys commented on #9899
I've removed some of the older posts from here that were just about the issue being claimed so that the ones containing technical details are easier to find.
This issue is still occurring and is open for someone to work on.

[2019-12-03 20:48] MeisterRed commented on #11565
Hey there, just wanted some clarification on how I should develop a solution (This is my first time interacting with vue so my knowledge is somewhat limited).

I reproduced the bug myself and noticed that any forms inside a div with "v-if="user.auth.local.email"" would immediately disappear as if the account no longer had an email just like you said. You also mentioned that the email for the accou

[2019-12-03 21:04] SabreCat commented on #11565
@MeisterRed A forced refresh would be an acceptable solution!

[2019-12-03 21:09] MeisterRed commented on #11565
Alrighty, I'll have a pull request ready sometime today or tomorrow. Thank you so much for getting back to me very quickly

[2019-12-04 07:06] tsukimi2 commented on #11612
Hi, can I try working on this issue?

[2019-12-04 13:29] shanaqui opened #11613 ""Click the paw print to hatch" appears even when the icon is not a paw print"
It's correct that this appears and might be a bit confusing.

[2019-12-04 16:01] paglias commented on #9335
Fixed in https://github.com/HabitRPG/habitica/commit/6c36ebc952f3720dea6f6e8c16f29d16d7df5676

[2019-12-04 16:01] #9335 closed, assigned to nobody

[2019-12-04 19:13] ShupingHe commented on #11259
Can i take this once the design work settled?

[2019-12-04 21:43] Alys commented on #10771
I've marked this as help wanted and rewritten the top post to clarify the desired fixes. I've also included a short checklist of things that should be checked when testing a PR (e.g., make sure that the normal user tasks page isn't affected). I'm happy to help with testing if desired.

[2019-12-05 18:53] akmaekki commented on #11612
I would like to work on this, cause I already have a similar issue.

[2019-12-05 21:49] Alys commented on #11612
@tsukimi2 I'm sorry for our late reply. Please go ahead! Comment here if you have questions.

@akmaekki I'm sorry, @tsukimi2 asked first. :) We should have marked this as in progress back then.

[2019-12-05 21:52] Alys commented on #11613
I've marked this as suggestion-discussion for the staff to say what wording should be used for when the icon isn't a paw print.

[2019-12-05 21:54] Alys commented on #11259
@Stevens1995 It might be a while until the design is ready. Would you be interested in working on https://github.com/HabitRPG/habitica/issues/11500 right now? It's a similar problem. You'd be welcome to comment on that issue and start now if you wish!

[2019-12-06 00:16] ShupingHe commented on #11500
I'd like to work on this issue

[2019-12-06 04:46] Alys commented on #11500
@Stevens1995 great, thanks! Please go ahead.

[2019-12-06 12:43] shanaqui opened #11615 "Dropdown menu can get "stuck" until you mouse over it again"
_Edit by Alys 2020-01-04:_

See [this comment](https://github.com/HabitRPG/habitica/issues/11615#issuecomment-570763238) for a way to reproduce this issue.

In brief, reloading a page causes the mouse on-hover effect for the menu of THAT page to be reversed (hovering over it hides the menu, moving the mouse away reveals the menu).

_end of edit_

----

I've seen this as well in Google Chrome. I ca

[2019-12-06 14:13] paglias commented on #11615
I'm not able to replicate the problem, which browser are they using?

[2019-12-06 14:15] shanaqui commented on #11615
I asked folks in RaB to drop any further information here. :) I've had it happen recently, on Google Chrome.

[2019-12-06 19:35] JohnJSal commented on #11615
I'm using Chrome. I'll post again if I notice any patterns in when it happens.

I don't know if this is related, but last night I noticed a similar problem with the Inventory drop down, but rather than retain the entire purple box with white text inside (which is what I see with the Guild tab issue), it didn't show the purple box, just the menu item text superimposed over the images underneath.

[2019-12-07 04:50] Alys opened #11616 "Kickstarter 2019 achievement removed from account"
@a_diamond (eb5f51e6-cd0a-4590-b20c-5322bff97cc0) reported that they lost their 2019 Kickstarter achievement (`achievements.kickstarter2019`). They own 2019 Kickstarter equipment so they certainly should have the achievement and I've given it back to them.

From what they've said, it looks like they had been given it in the past but then lost it for unknown reasons. As described below, potential r

[2019-12-07 05:29] Alys opened #11617 "NPCs should have NPC style on Display Name in chat, Hall, etc"
When [players who are also NPCs](https://habitica.fandom.com/wiki/Kickstarter#Non-Playing_Characters_.28NPCs.29) post to chat, their Display Names don't have the correct formatting for an NPC. You can see what the format should be by looking at Bailey's name in the "Staff and Moderators" list on the right-hand side of the [Tavern](https://habitica.com/groups/tavern).

For an NPC who is also a cont

[2019-12-08 04:51] yowkah commented on #11592
I just wanted to chime in here. I'm havinfg the exact same error as provided in the logs above for the server-side. The client runs well. Adding the specified line to the Dockerfile-dev didn't result in any change.

I did some troubleshooting and tried to find some extensive logs since the stack-trace isn't very long. One of those steps involved eliminating nodemon. After changing the "start" scri

[2019-12-08 13:45] ShupingHe commented on #11482
can i take this one ? : )

[2019-12-08 14:18] huaw commented on #11482
I just started to watch your community. Is there good one I can contribute
to?

On Sun, Dec 8, 2019, 8:45 AM 动力小车 <notifications@github.com> wrote:

[2019-12-08 23:44] Alys commented on #11482
@Stevens1995 Thanks! Please go ahead and post here if you have questions.

@huaw Hi! First off, have a look at the [Guidance for Blacksmiths](http://habitica.wikia.com/wiki/Guidance_for_Blacksmiths) wiki page if you haven't already seen it, and the pages it links to. They'll give you a lot of useful information about contributing. The "good first issue" GitHub label might have some simple issues,

[2019-12-09 00:54] Alys commented on #11259
When https://github.com/HabitRPG/habitica/pull/11620 ("fix challenge layout") is merged, we should check this issue to see if there are still any layout problems or if the problems described above have changed. I've marked that PR as "notify helpers" to remind me to follow up on this after it's merged.
EDIT: also when https://github.com/HabitRPG/habitica/issues/11500 is closed.

[2019-12-09 17:26] MagicMilly commented on #9262
Update: @alexthomson1 and @laurel-thomson have spun up local copies on their machines (Linux and Windows). Still working on mine (MacOS). But we are making progress! ⭐️

[2019-12-10 21:36] Alys opened #11633 "on-hover state of Tier 3 and Tier 5 display names in group chats should not include a colour change"
As reported by @EliotThe (0d77107e-9128-4656-8c02-6e06331fa396):

"On the website, when I mouse over Tier 3 and Tier 5 players' names in chat, they turn blue. It's the same blue that everyone's names turned during that sitewide bug a couple months back. ... It's only happening with tiers 3 and 5"

There was a similar bug last month: https://github.com/HabitRPG/habitica/issues/11503
but it was fixe

[2019-12-10 23:21] yowkah commented on #11592
Turns out the error is hidden outside of the logs.
The cause seems to be the limit to the amount of file watchers by inotify.

im on manjaro, so the line below fixed the issue for me. If you are on linux as well, make sure you use your distro's equivelant of this to get nodemon to work.
[code]
In the meantime. If i got spare time this weekend, I'll see if there is an effective way to reduce the am

[2019-12-11 19:52] Xaz16 commented on #11174
I finally on this issue... and I can't reproduce it

My steps for reproduce:

1. remove all foods, potions, eggs from user (through mongo)
2. buy enchanted armoire until drop is food/potion/egg

And after such steps I saw it in quick inventory. Can we move it on qa?
@paglias  @Alys

[2019-12-12 12:02] Alys commented on #11174
@Xaz16 I don't recall any recent reports of items obtained from the Armoire not appearing immediately. I don't think this issue relates to the Armoire.
If you'd like to keep looking into it, try using a task to reproduce it. You can speed up testing by increasing your Perception with buffs or direct database updates.

[2019-12-12 14:19] paglias commented on #11174
I think this should happen wirh Gear Irena that you don't own and have
never owned before

Il Gio 12 Dic 2019, 13:02 Alys <notifications@github.com> ha scritto:

[2019-12-12 14:29] shanaqui commented on #11174
@paglias I think gear is irrelevant here since it doesn't show in the quick inventory anyway (only foods, potions and eggs do, because they're the only ones you can sell)? I think they were just using the Armoire to test because it drops food as well.

[2019-12-12 15:57] paglias commented on #11174
@shanaqui you're right, I got confused with another issue :)

[2019-12-12 21:43] merwok commented on #11174
The issue that I’ve seen is not with armoire, but rather food or potions obtained with task combos or daily streaks that don’t appear when going to stable screen (android or ios).

[2019-12-13 07:05] nikonhub commented on #11633
Hello.

Sorry I didn't ask to work on this one. But I checked the issue and it seemed a very quick fix.

[2019-12-13 08:10] Alys commented on #11633
@Nikosmonaut no worries, thanks for posting to tell us and for the pr! I'm marking this as in progress.

[2019-12-13 11:22] Xaz16 commented on #11174
Ok, I will try to reproduce it in this way

[2019-12-13 13:14] #11295 closed, assigned to nobody

[2019-12-13 13:16] #11500 closed, assigned to nobody

[2019-12-13 13:17] #11547 closed, assigned to nobody

[2019-12-13 13:18] #10943 closed, assigned to nobody

[2019-12-13 13:18] #11525 closed, assigned to nobody

[2019-12-13 13:27] #11633 closed, assigned to nobody

[2019-12-15 11:50] tsukimi2 commented on #11617
@Alys Is it alright if I take a try at this issue?

[2019-12-15 21:18] Alys commented on #10689
Another confirmed report of this from @MaybeSteveRogers (767e5d92-0e13-4e30-acb1-d8bba62824fc)

(Also I've deleted a couple of comments here that weren't directly about this issue and that were logged in https://github.com/HabitRPG/habitica/issues/11420 )

[2019-12-15 23:54] ShupingHe commented on #11482
@Alys is it OK to change some text and style when refactor the component? I guess the answer is not, but if it's allowed, it would be much easier to abstrat the component

for example, in the home page, the register button show `sign up`:
![image](https://user-images.githubusercontent.com/19243114/70871309-fdd1bf00-1fd8-11ea-9029-4862c3761326.png)
and it's different in the group-plans page:
![imag

[2019-12-16 01:41] Alys commented on #11482
My feeling is that it would be good to have consistency across the forms,
if only for ease of coding and translating but it's not something I can
make a decision on. :)

FYI @Tressley

[2019-12-16 01:42] Alys commented on #11617
@tsukimi2 Yes, thanks! Please go ahead.

[2019-12-16 16:25] Tressley commented on #11482
They should both say "Sign Up"

[2019-12-18 10:44] Alys commented on #10605
Here's another case of this issue:

[code]

[2019-12-23 11:01] Alys opened #11662 "Challenge categories can't be changed when editing"
After you've created a Challenge, if you then edit it, you can't change the categories.

You should be able to change categories from the Challenge's edit screen for cases where you select the wrong categories by accident.

[2019-12-23 16:48] #11565 closed, assigned to nobody

[2019-12-24 00:18] ok-ikaros commented on #11662
Can I tackle this?

[2019-12-25 01:14] ok-ikaros commented on #11662
@Alys Just gently reminding that I'd like to take this issue! I took a look at it and it is actually quite a simple change.

[2019-12-25 03:30] Alys commented on #11662
@lelandhwu  Yes, please go ahead. Thanks.

[2019-12-26 14:00] pachuco commented on #10998
Confirming button issue with Basilisk browser, from the same guys that did PaleMoon. It's an FF v52 derivative.

The buttons fail to register click unless you fiddle with clicking around edge of button.

[2019-12-27 14:05] Alys opened #11664 "extraMonths lost when free subscription from Group Plan is terminated"
If you have a free subscription from a Group Plan and have `extraMonths` stored up from a previous subscription, you lose those extra months when you leave the Group Plan.

Steps to reproduce:
1. Add a Group Plan to a guild (you can learn how to do that on a local install at [Using Your Local Install to Modify Habitica's Website and API](http://habitica.fandom.com/wiki/Using_Your_Local_Install_to_

[2019-12-27 18:12] citrusella commented on #11662
Question that might be more relevant on the PR, not sure: I think this happens when cloning, too (I cloned something from my party (where I do challenge readying privately before they're ready) to the guild I run and couldn't change the categories). Does that count as "editing" or is it a separate issue that would need to be fixed differently from the editing?

[2019-12-27 18:13] ok-ikaros commented on #11662
I believe that in both instances they use the same challenge modal, so the fix should work when cloning as well. Will test this manually later.

[2019-12-29 16:29] Xaz16 commented on #11174
Hi guys
What about this one: I noticed that we have some issues with vue state updates, due to splitting common and client codebase we miss that some of complex object like user.items.gear.owned have assigned without updates from vue reactivity.

I created PR to resolve such issues: https://github.com/HabitRPG/habitica/pull/11637
And I suggest to retest such issues after merging it

[2019-12-29 17:18] Xaz16 commented on #11141
About this one:
It looks like issue is not relevant anymore, I test in on Chrome and Safari on OSX. I edited challenge that not bound to guild or party, bound to guild, bound to party. It I edited in about 5 times without any errors.
Suggest to close it @paglias @Alys
One thing that I found: after editing short name it is not updated at all (nor first edit, nor second... etc)

[2019-12-30 02:04] Alys commented on #10786
I'm reopening this because the bug still exists if the invited user signs up using the Google sign-in method (even with a Google account that uses the same email address as the inviter entered into the invitation form). The user does not get an invitation to the party and the inviter does not get the `invitedFriend` achievement.

Steps followed in my test:
1. Check that my lady.alys@gmail.com addr

[2019-12-30 05:05] Alys commented on #11141
Darnit, I logged a duplicate bug for this issue: https://github.com/HabitRPG/habitica/issues/11561. That was fixed in https://github.com/HabitRPG/habitica/pull/11591 so yes, this issue is no longer needed. Thanks @Xaz16 !

[2019-12-30 05:05] #11141 closed, assigned to nobody

[2019-12-30 05:08] Alys commented on #11612
Just for the record, the same problem happens when sending a gem gift as @tsukimi2 [found here](https://github.com/HabitRPG/habitica/pull/11636#issuecomment-569502580) and is fixing (thanks!!)

[2019-12-30 05:12] Alys commented on #11174
@Xaz16 Thanks! I've put this on hold until https://github.com/HabitRPG/habitica/pull/11637 is closed and then we can test to see if it's fixed.

I've also marked this as "status: needs reply" since that label is used for periodic reviews. Anyone reviewing it can ping me for a reply if needed. :)

[2019-12-30 10:45] paglias commented on #10786
Hmm I can see why this happens, we'll have to store the invite in localstorage

[2019-12-31 00:52] Alys opened #11681 "cannot buy multiple gift subscriptions using Amazon"
If you try to buy more than one gift subscription using the Amazon payment method, the second, third, etc attempts fail.

Steps to reproduce:
1. Buy a one-month gift subscription for one player using the Amazon payment method. Observe that it succeeds.
2. Click on another player's profile, click the gift icon, select the one month subscription option.
3. Click the "amazon pay" button.
4. Observe t

[2019-12-31 12:20] cvuorinen opened #11682 "Webhook for quest invitation"
[//]: # (Before logging this issue, please post to the Report a Bug guild from the Habitica website's Help menu. Most bugs can be handled quickly there. If a GitHub issue is needed, you will be advised of that by a moderator or staff member -- a player with a dark blue or purple name. It is recommended that you don't create a new issue unless advised to.)

[//]: # (Bugs in the mobile apps can also

[2019-12-31 23:21] Alys opened #11684 "equipment shows on avatar with Snowball transformation buff"
When you have the Snowball buff cast on you, your equipment shows.
The correct behaviour is that your armor, back, body, eyewear, head, headAccessory, shield, and weapon items should not appear while the buff is in place.

This was observed on a Healer with `preferences.costume` set to true (screenshot below from @cvuorinen / @Squall_ / fa756acf-9127-4a3c-8dac-8ff627d30073) and on a Mage with  `pr

[2019-12-31 23:28] Alys commented on #11684
So apparently this isn't a bug. The staff have just told me that class-specific equipment is meant to show up on Snowball avatars now. I'm closing this.

[2019-12-31 23:28] #11684 closed, assigned to nobody

[2019-12-31 23:29] SabreCat commented on #11684
Working as intended, hehe. ⛄️ Now, in a similar fashion to the Shiny Seeds transformation that turns you into a differently colored flower based on your class, the Snowball transformation includes some class-specific decoration. You won't see your actual current equipment, just a class-specific iconic set.

[2020-01-01 00:12] Alys commented on #10758
Just confirming that this is still happening:

Alex, Lunar Mage   @lunarwitch (b9464d2c-7bd0-45c9-962e-f09799b9c7d2):
"Hi! Whenever I go to my equipment page and expand the armor tab, the last piece of equipment is displayed as a seventh spot on the grid instead of creating a new row. Image: https://imgur.com/a/KIe1pBb I have already tried refreshing, clearing my cache, and restarting the browser.

[2020-01-01 10:11] Alys opened #11685 "Animal skins shifting and disappearing when other skins equipped"
As @geolojess (da27bf23-48f7-469d-9a32-58521f9c84a9) reports expressively:

_"Now this is a wild one, when I equip a new skin on the website the animal skins (which are 'locked, I haven't bought any of them) move around and swap places with eachother. Sometimes one will even disappear and then come back when I equip another skin. I thought my brain was messing with me at first XD"_

When I set my

[2020-01-01 19:21] SabreCat commented on #11685
Duplicate of #10225 I think?

[2020-01-01 19:28] #11685 closed, assigned to nobody

[2020-01-02 22:10] noelo-cohelo commented on #9478
I'm sorry, I have trouble doing that.

When I click "report a bug", this is the effect and I don't know what to do
next.

[image: Screenshot_20200102-230747.png]

Best regards
Ewa

On Wed, 25 Sep 2019 at 18:12, Matteo Pagliazzi <notifications@github.com>
wrote:

[2020-01-02 22:23] shanaqui opened #11687 "MIsalignment in some pages due to "Shrink Your Habitica Tasks" Stylish theme"
![image](https://user-images.githubusercontent.com/8144640/71696958-64632500-2dae-11ea-9846-b03c54f9d802.png)

Reported by @Nakonana (33bb14bd-814d-40cb-98a4-7b76a752761c).

_edit 2020-01-23:_ [this comment](https://github.com/HabitRPG/habitica/issues/11687#issuecomment-577458274) explains the cause.

[2020-01-03 09:11] Alys commented on #11461
@vamsijv How are you going with this? Do you have any questions for us or need any advice? Or if real-life has got in the way and you no longer have any free time, just let us know! We understand what that's like. :)

[2020-01-03 12:56] Kevin-DDR commented on #11687
I wasn't able to reproduce the issue using Chrome, in English, French or  Русский .
I also tried in a smaller window

It might be linked to the web browser used? IE or Edge perhaps?

![Capture d’écran de 2020-01-03 13-40-40](https://user-images.githubusercontent.com/12892650/71724448-a59c1900-2e30-11ea-85ed-91ef92aec8e3.png)
![Capture d’écran de 2020-01-03 13-48-06](https://user-images.githubuserc

[2020-01-04 06:28] Alys opened #11688 "inconsistent notification dismissal for Cards (greetings, birthday, etc)"
If two or more players each send you the same kind of card (e.g., if you have three Birthday cards), you have a notification for each of them (see the screenshot below). That's correct behaviour so far.

There's two ways that you can get to the cards and remove the notifications.

### First way:
1. You click on one notification. **That one notification immediately disappears**; the other notificat

[2020-01-04 07:11] Alys commented on #11615
@geolojess reported something similar and I've reproduced it with the steps below.

1. Go to the Tasks page and reload the site. This is just to ensure that any other glitches are probably cleared.
2. Click on the top-level item for any drop-down menu that has more than one entry, for example, click on Inventory. (Don't use Tasks since it has no drop-down; don't use Help since it has a different b

[2020-01-04 07:38] Alys opened #11689 "Background names and descriptions are not visible"
_I'm not sure if the issue below is a bug or a deliberate design decision. I'd always assumed design decision for the new website, but it was reported by @geolojess as a possible bug, and part of her report makes me wonder now if it is actually a bug. I'm marking this as "needs design" for a design decision to be made. If it's not a bug, this can be closed and we can point back to the decision whe

[2020-01-04 08:11] citrusella commented on #11687
I've no idea if it happens in Edge (pre-Chromium or post-Chromium) but--after a really rocky time getting a test account set up because IE just couldn't part with the cache I guess and then just refused to run without freezing so I had to pull out an entire second computer--but IE11 (11.914.17763.0) on Windows 10 does not have this issue (though it *does* have an issue where absolutely no actions

[2020-01-04 09:38] Kevin-DDR commented on #11688
Would it be too early to ask permission to work on this? This seems like a pretty good first issue for aspiring Blacksmiths (such as myself)

[2020-01-04 12:24] Alys commented on #11688
@Kevin-DDR Sorry, I forgot to set labels on this! It's marked now as suggestion-discussion while we wait to see if anyone, especially Habitica's staff, have any objections to my proposed fix or any better ideas. If there's been no objections in a few days, it will be available to be worked on. We'll check with you then to see if you're still interested. Thanks for asking about it!

[2020-01-04 12:27] Alys commented on #11688
Ah, I see you've made a PR already. :)

[2020-01-04 12:57] Kevin-DDR commented on #11688
Sorry, I probably should have waited for a reply before working on it ^^'

[2020-01-04 19:11] citrusella commented on #11687
Also doesn't happen on Edge or Edge Beta in English. (I, again, didn't think to test outside English, *gah*, but in this case it also probably would have annoyed the person I was trying to quickly borrow the computer from.) Is there anything special about Russian that would be more likely to make that happen?

[2020-01-04 19:16] Kevin-DDR commented on #11687
I tried it just in case the different Alphabet might have affected the layout. (Just a wild guess frankly)
If Edge isn't the issue, I'm not quite sure where it could come from

[2020-01-06 17:41] negue commented on #11221
I think these issues were already fixed by the bigger redesign #11241

[2020-01-06 22:03] saraolson opened #11701 "Group Plan purchase analytics tweak"
Group plan subscription analytics are working slightly incorrectly. When a user buys a group plan, that purchase is correctly recorded, but then the 'free' subs created for each member are also recorded as '0.0' price subs. These subs appear in the total subscriptions charts when you filter to see Subscriptions only.

[2020-01-07 23:05] Alys commented on #11682
@cvuorinen I've checked with Habitica's staff and they're happy for this to go ahead, so you're welcome to work on it - thank you! I've marked it as in progress for you, but if this has come in too late (e.g., if you've become involved in other work in the past week), tell us and we'll set it to help wanted.

[2020-01-08 10:35] Alys opened #11703 "default Backgrounds tab should be 2020"
_As reported by @loremi (64d5d2fa-4ab1-4ff2-bc93-e46a18d44b25):_

When clicking on the "Backgrounds" menu in the web version, it defaults to displaying the 2019 backgrounds instead of the 2020 ones.

[2020-01-08 22:10] Kevin-DDR commented on #11703
I'd love to work on this one if no other aspiring Blacksmith wants it !

[2020-01-09 00:19] Alys commented on #11703
@Kevin-DDR Thanks! Please go ahead! Post here if you have questions.

[2020-01-09 00:23] Alys opened #11705 "purchases of Mystery Items equipment sets recorded twice/more in Amplitude"
When you buy a Mystery Item set using an Hourglass, the purchase is recorded in Amplitude once for each piece of gear in the set.

The desired behaviour is that there should be one Amplitude record for each Mystery Item set.

Here's an example:

Event Properties:
acquireMethod Hourglass
category behavior
itemKey back_mystery_202001
itemName Five Tails of Fable
itemType Subscriber Gear
Other:
Clien

[2020-01-09 00:26] Alys commented on #11705
Here's an example:

Event Properties:
acquireMethod Hourglass
category behavior
itemKey back_mystery_202001
itemName Five Tails of Fable
itemType Subscriber Gear
Other:
Client Event Time Jan 9, 12:10:45 am UTC

Event Properties:
acquireMethod Hourglass
category behavior
itemKey head_mystery_202001
itemName Fabled Fox Ears
itemType Subscriber Gear
Other:
Client Event Time Jan 9, 12:10:45 am UTC

I'

[2020-01-09 00:30] Alys commented on #11705
In case anyone's curious, here are the Mystery Sets that contain more than two items (this is not relevant for a fix for this issue, just something I was looking at when wondering how much this issue would affect statistics):
      2014-02 - 3
      2018-02 - 3
      2019-07 - 3
      3017-03 - 3
      3017-04 - 3
      3014-04 - 4
      3014-05 - 4

[2020-01-09 05:20] cvuorinen commented on #11682
@Alys ok, I'll start looking into this.

[2020-01-11 05:24] Alys commented on #10679
This happens even if the RYA modal doesn't need to appear (i.e., cron without the modal can also cause this issue). Here's a report from @citrusella:

@citrusella: "I cronned while editing my profile and the edit box closed and wiped all my changes (luckily I was doing something minor but...). I don't know if this is consistent on just cron itself or if the site tried to show me a modal (I never s

[2020-01-11 05:24] Alys commented on #10679
I'll leave this marked as suggestion-discussion for another week then if there's no objections, I'll mark it as help wanted for a contributor to work out a fix.

[2020-01-11 05:39] citrusella commented on #10679
I have no idea if I've even sniffed up the right tree but I suddenly wondered something special about cron but had no way off the top of my head to figure it out: Is there any other action on Habitica that will force a sync more or less just by existing? (That is, without clicking anything?)

I just had the thought because most everything you can edit is in a modal but *usually* the things that ca

[2020-01-11 17:13] #9262 closed, assigned to nobody

[2020-01-11 17:13] #11688 closed, assigned to nobody

[2020-01-12 00:44] alexthomson1 commented on #11615
@laurel-thomson and I are interested in working on this issue.

[2020-01-12 03:29] Alys commented on #11615
@alexthomson1 @laurel-thomson great, thanks! Post here if you have questions.

[2020-01-14 09:30] Alys commented on #9136
There was a bug report about this today from @sophiadaniels (40e741cd-bdc4-4a79-b932-853ad09e4944):

**"Burst of Flames doesn't display a notification with the damage done to the boss. it just tells me the mana spent, xp gained, and that i cast the spell. but it's not clear that it's actually doing any damage without checking the pending damage before and after using it. even if it's 1:1 int stat:

[2020-01-14 09:50] Alys commented on #8326
_I'm reopening this because a similar issue is occurring again as reported by @pecooh (7af3dce8-4d05-43d4-9dee-8f4d6c3f0eb7)._

_@pecooh writes:_

"when adding check list in japanese Kanji or Hiragana, Katakana, Enter key bugs occur. https://garafu.blogspot.com/2015/09/javascript-ime-enter-event.html

IME bug occur like [this issue](https://github.com/HabitRPG/habitica/issues/8326), but there is a

[2020-01-14 11:10] Alys opened #11736 "contributor tier color/icon should appear in guild/challenge member/participant list"
When you click on the "Member List" badge for a guild/party or the "Participants" list for a challenge, all player's names are grey, regardless of their contributor tier.

The desired behaviour is that each player's name should be formatted with the same colour and icon that appears on posts made by the player.

[2020-01-14 11:13] Alys opened #11737 "member list should update when viewing different guilds"
If you visit a guild and click on its "Member List" badge, you see a list of the guild's members. If you then immediately visit a different guild and click on its badge, you see the SAME list - i.e., the list for the first guild. You have to reload the website to see the second guild's member list.

The desired behaviour is that a reload should not be necessary.

[2020-01-14 11:55] paglias commented on #9478
@noelo-cohelo sorry but I can't see your screenshot, what should happen is that a pre-filled email should open up to be sent to the mobile devs

[2020-01-14 11:58] #11703 closed, assigned to nobody

[2020-01-14 12:00] paglias commented on #10920
Fixed in #11637

[2020-01-14 12:00] paglias commented on #11174
Fixed in #11637

[2020-01-14 12:00] #11174 closed, assigned to nobody

[2020-01-14 12:01] #10920 closed, assigned to negue

[2020-01-14 12:06] #11682 closed, assigned to nobody

[2020-01-14 12:22] #11662 closed, assigned to nobody

[2020-01-14 12:24] #11612 closed, assigned to nobody

[2020-01-15 06:07] tsukimi2 commented on #11737
@Alys Is it ok if I take a look at this issue?

[2020-01-15 07:14] Alys commented on #11737
@tsukimi2 Please do, thank you! Post here if you have questions.

[2020-01-15 08:41] Kevin-DDR commented on #11736
I would like to try my hand at this If that's okay with everyone!

[2020-01-15 11:05] tsukimi2 commented on #11737
@Alys Hi, need some help in reproducing the bug.  I tried to reproduce the steps mentioned in the issue  but was not able to observe the bug.  Could you provide more detail about how to reproduce it? Thanks. The steps I tried is as follow:

Step 1:
Click on member list badge of guild Crimson Vow
![Screenshot from 2020-01-15 18-46-16](https://user-images.githubusercontent.com/3499949/72428382-84d8a

[2020-01-16 15:46] paglias commented on #11736
Sure @Kevin-DDR , go ahead!

[2020-01-17 11:07] Alys commented on #11737
That's exactly the steps I took to reproduce the issue. Looks like it's an intermittent bug. :( I'll try to make time on the weekend to do a bit more experimenting.

Firefox on Ubuntu in case that's relevant.

[2020-01-17 14:00] shanaqui opened #11738 "Allocating 100 stat points to one stat causes text to overflow from the box"
![image](https://user-images.githubusercontent.com/8144640/72617748-91c4dc80-3931-11ea-9bfb-e07d5588d626.png)

Reported by JohnJSal in Report a Bug.

[2020-01-17 16:01] Tressley commented on #9136
@Alys -- I'm hesitant to add another snack notification because of how poor the UX is with them now. We have plans to tackle that UX this year. In the mean time, I think your solution to show a boss damage snack is a good one for the interim.

Here's a Zeplin artboard with how damage should be displayed: https://zpl.io/2p0d882

[2020-01-18 06:54] Alys commented on #11461
@vamsijv I've set this back to Help Wanted but if you're still interested in working on it, let us know what you're up to with it.

[2020-01-18 07:24] Alys opened #11740 "incorrect avatar shown after sending private message (PM) in inbox"
_As reported by @cTheDragons with minor edits:_

On the website in the new messaging area when I send a message to a player, my avatar shows not as I am now but as I was before in my last message.

If I leave and go back the avatar is then correct as I sent the message.

Steps to Reproduce,
+ Send a message to someone.
+ Exit the message screen change your Avatar's costume.
+ Send another message

[2020-01-19 01:40] Alys commented on #10828
I've added the text below to the top post for this issue and I've also deleted a couple of old comments that were just related to a previous contributor asking to work on this.

This is the desired fix for this issue:

- When you edit a Party, the Description field must be optional - you should not be forced to enter a Description before you can click the "Update Party" button.
- When you edit a G

[2020-01-19 02:41] Alys commented on #11738
I'm labelling this as "neds design" in case @Tressley wants to comment but if there's no objection in a week, I'll change it to help wanted for expanding the Stat Points boxes slightly to accommodate three-digit numbers and slightly longer "pts" labels that might exist in other languages.

[2020-01-19 04:37] Alys commented on #10679
I wouldn't be surprised if @citrusella is correct that it's the automatic sync that causes this problem rather than cron/RYA itself. I can't think of anything else that would cause an automatic sync.

A contributor can force cron to be due on their local install by setting their test account's `lastCron` date to one or more days in the past, BUT I'm not sure if that would immediately trigger the w

[2020-01-19 11:29] #11522 closed, assigned to nobody

[2020-01-20 14:08] ksmith6 commented on #8248
@Alys - You can go ahead and make the pull request.  When I tried to push the one-line fix branch to `origin` I didn't have sufficient privileges.

[2020-01-20 19:39] youcandanch commented on #11740
I'll take a stab at this.

[2020-01-20 23:09] Alys commented on #11740
@youcandanch Thanks! Please go ahead and post here if you have questions.

[2020-01-20 23:13] Alys commented on #8248
@ksmith6 Thanks for letting us know! I'll leave this open for a contributor to work on it. I'll edit the top post to draw attention to your suggested fix.

If you'd like to set up a local install for implementing, testing, and pushing changes like this, have a look at [Setting up Habitica Locally](http://habitica.fandom.com/wiki/Setting_up_Habitica_Locally) on our wiki. Post here if you do decide

[2020-01-20 23:49] Alys opened #11764 "incorrect number of gems sent as gift"
@Ceran (aabe567b-aa55-42c1-b612-b7699a7ba9b7) reported the issues below with an incorrect number of gems being sent as a gift and gift UI features not behaving as expected. This is collated from a couple of their posts after I'd asked some follow-up questions. My comments are in _italics_.

The incorrect numbers of gems _might_ be caused by the UI feature where if your cursor is in the Gem amount

[2020-01-21 12:47] SabreCat opened #11765 "Attempting to create a Challenge with not enough Gems locks Challenge submission until refresh"
[//]: # (Before logging this issue, please post to the Report a Bug guild from the Habitica website's Help menu. Most bugs can be handled quickly there. If a GitHub issue is needed, you will be advised of that by a moderator or staff member -- a player with a dark blue or purple name. It is recommended that you don't create a new issue unless advised to.)

[//]: # (Bugs in the mobile apps can also

[2020-01-23 01:03] Alys commented on #11687
Nakonana helped us with some more troubleshooting and found that the problem is caused by the [Shrink Your Habitica Tasks](https://habitica.fandom.com/wiki/Shrink_Your_Habitica_Tasks) Stylish theme so I'm closing this issue. I'll update the theme's wiki page to indicate that this is a known bug.

For the record, it causes some other pages to also show the same problem (e.g., [Overview for new User

[2020-01-23 01:03] #11687 closed, assigned to nobody

[2020-01-23 08:43] shanaqui opened #11767 "Transferring leadership should have a confirmation popup"
**Qasmi:** Party Leadership is instantly transferred to another member without confirmation when you click on "Transfer Ownership>3 dots button>View Party". It should ask for confirmation before transferring as sometimes while removing a member one can accidently make them the leader.
**shanaqui:** Hmm. Sabe, is there meant to be a confirmation? Should I put this on Github, you think?
**SabreCat:*

[2020-01-25 02:28] Alys commented on #11764
More details from Ceran (and I'm about to ask them for data about browsers, extensions, etc):

[2020-01-26 01:41] paulcalabro commented on #11592
@SabreCat Adjusting the number of file watchers as noted above resolved my issue.

[2020-01-26 04:39] aristizabal95 commented on #11765
The reason why the button is disabled is because the `loading` property inside the `challengeModal` is not being set to false after sending a `createChallenge` request to the server. The only instance of resetting the `loading` property to false is on `challengeModal.vue:540` where client-side errors have been identified. this property should be set to false after completing a request, no matter i

[2020-01-26 05:39] Alys commented on #11764
More details from Ceran in response to questions from me:

[2020-01-26 07:52] Alys opened #11768 "challenge bugs when owner/leader deletes their account"
When a challenge owner deletes their Habitica account, any challenges they own have these problems:

1. In the "My Challenges" and "Discover Challenges" pages, the "Created By" field is blank. The first screenshot below shows an example of this problem in the "Test Challenge - don't join" challenge.
It should say "no owner" as decided [here](https://github.com/HabitRPG/habitica/issues/5979#issueco

[2020-01-26 13:58] SpeedyLom commented on #11768
I wouldn't mind giving this one a go, it looks like a good first issue.

I'm not at the PC at the moment; but from having a quick poke around earlier doing the following should fix it:
- Add a couple of `null` checks in `tasks.js` would allow the page to load
- Update `userLink.vue::displayName()` to return the `noChallengeOwner` string instead of `null`

[2020-01-26 19:39] aristizabal95 commented on #11765
I'm interested on working on this issue

[2020-01-27 01:34] Alys commented on #11768
@tthorpe88 Thanks! Please go ahead and comment here if you have questions.

If you'd like to be sure that the staff approve of your suggested approach, you might like to wait a couple of days to see if they add any comments here.

[2020-01-27 01:35] Alys commented on #11765
@aristizabal95 Thanks! I've marked it as in progress for you.

[2020-01-27 02:34] JohnJSal commented on #10918
I just want to point out that the Wiki states the following on the Orb of Rebirth page:

I'm not sure if this is the intended behavior, or if perhaps this line was added to the Wiki simply to reflect the current (bugged?) state of the game. But from what I can tell from the documentation, pets and mounts *are* supposed to be unequipped during a Rebirth, even though they are still usable immediatel

[2020-01-27 03:06] citrusella commented on #11765
Curiosity question rather than anything super specific, because it's been gnawing at me: Does #11545 have the same root cause as this (the loading property thing keeping the button disabled, and thus the this.loading addition would in theory fix it) or no?

[2020-01-27 03:26] aristizabal95 commented on #11765
@citrusella I believe it is. As of right now, the loading property of this module will only reenable itself if a clientside error was found. Since the loading property is the one that disables the button, then any server-side error will not reenable the button until refreshing.

Now, I made some tests before adding clientside validation on this specific issue, and seems like serverside exceptions

[2020-01-27 03:46] aristizabal95 commented on #11765
@citrusella Nevermind, gave it a try (pun intended) and adding a basic exception handling wasn't as difficult as I thought. I'm going to update my PR. If you want, give it a try and see if that resolves your problem!

[2020-01-27 07:34] shanaqui commented on #10918
It used to be the case that the pets and mounts appeared to be locked until the drop system is unlocked, so the mechanic was created for that. That's no longer the case so it is no longer needed. The wiki will usually describe the current state of affairs, not the intended state of affairs.

[2020-01-27 14:52] actuday6418 opened #11789 "Trouble setting up local Habitica server for contributing"
This question was asked first in stackoverflow and then referenced in the Habitica Blacksmith's guild. I'm in the process of setting up Habitica locally for contributing, and I get a ton of errors when running npm start in the Habitica directory, and also with npm install. I can't make the slightest sense of this and any help would be much appreciated. I'm running Linux Mint Tina with npm 6.13.4 a

[2020-01-27 16:41] paglias commented on #11789
Hi @actuday6418 have you tried increasing the number of allowed file watches as described here https://github.com/HabitRPG/habitica/issues/11592#issuecomment-564304863?

[2020-01-27 20:31] SpeedyLom commented on #11768
Cool, I don't mind waiting for confirmation/suggestions before starting since this is the first time working on the code 😁

[2020-01-29 05:19] mayajosyula opened #11790 "inconsistent user count on home page"
Mentioned this in the Bug Guild and was told by Alys to create an issue.

The user count on the Habitica home page is inconsistent - at the top it says 3 million, but at the bottom it says 2 million.

Top of page:

<img width="888" alt="habiticahometop" src="https://user-images.githubusercontent.com/10248632/73329639-3e953880-4213-11ea-9333-2ea16cb126ef.PNG">

Bottom of page:

<img width="876" alt

[2020-01-29 06:38] changami commented on #8326
Hi, it's been a while!
I hope to fix this again if you like, how do you think?

[2020-01-29 07:13] wScottSh commented on #11738
If no one objects, I can tackle this one.

I'm going through the contributing docs right now. I'll post if I have any questions.

[2020-01-29 07:30] Alys commented on #8326
@changami That would be awesome, thank you! Please go ahead. Sorry your original fix wasn't preserved!

[2020-01-29 07:31] Alys commented on #11738
@wScottSh Thank you! Please go ahead!

[2020-01-29 12:23] Alys commented on #11790
@agentx999 Thanks very much!  Your assessment is correct. Both locations should be using the "over x million" phrasing.

However the number should be changed from 3 to 4. (Our current user count is 4 671 530.)

To any contributor wanting to work on this, I've marked it as good first issue - it should be a good introduction for any new Blacksmith. Here are some pointers to relevant code.

https://g

[2020-01-29 14:41] #11617 closed, assigned to nobody

[2020-01-29 21:43] jackieklaura commented on #7454
Hey there, I had this issue in the _Hardware Hackers_ guild (`59d2df2b-1c6b-416f-8fb7-deb1ef31d388`) recently when I removed inactive members. Was in contact with @Alys already in the _Report a Bug_ guild. Now I tried again to remove one of the members who could not be removed (now only one at a time) through the [Party & Guild Data Tool](https://oldgods.net/habitica/cTheDragons/group.html), and n

[2020-01-29 21:49] jackieklaura commented on #7454
Ahem, and one more thing. Kind of funny. But now I just wanted to try to remove another inactive member that was not removed back then in my first attempt to batch remove around 160 members. Although, not completely sure if I included them (was on the fringe of our 1 year idle time criterium). Nevertheless, this worked, and now the other member I already tried to remove several times (described ab

[2020-01-30 00:34] Alys commented on #7454
@jackieklaura Thanks for the detailed information!

From the "localhost" addresses in the response body, I think postman might have been doing something odd.

Anyway I've fixed your guild's member count again. Thanks for testing if you could do it, shame it didn't work. You're welcome to post to the Report a Bug guild the next time it needs doing.

[2020-01-30 08:36] jackieklaura commented on #7454
Hey  @Alys , thanks for fixing. But when did you fix it? Already in the few minutes between my last two posts? That would explain it. Otherwise something slightly weird (or magITal) happend, as described in my last post. But yes, if I need a quick memberCount fix I'll let post in the Report a Bug guild. This here is just to provide more insight on the bug, and because I'm really curious what cause

[2020-01-30 09:55] neepsnikeep commented on #11790
I'm looking into this

[2020-01-30 10:03] Alys commented on #7454
@jackcogdill I fixed the membercount just before I made my previous post (about 9 hours ago), so definitely not between your two earlier posts from 12 hours ago.

The localhost thing I can't explain.

We recently discovered a bug where you can't remove a party/guild member if they haven't validated their @Username (these are players who haven't used Habitica for many months) - that will be the nul

[2020-01-30 10:47] SpeedyLom commented on #11768
Since there haven't been any updates to this I'll get started on it as soon as possible (probably the weekend).

[2020-01-30 12:06] actuday6418 commented on #11789
YES!! It works now! Thank you!

[2020-01-30 12:06] #11789 closed, assigned to nobody

[2020-01-30 15:35] Tressley commented on #11738
@wScottSh -- Thanks for taking this on! Here are some quick changes:
- Update the label from "pts" to "points"
- The boxes should be wide enough to have 24px of space between them. As you can see in Shanaqui's screenshot above, the Strength container isn't flush to the left margin of "Stat Points" heading.

[2020-01-30 16:28] wScottSh commented on #11738
Sure thing.

[2020-01-30 22:47] Alys commented on #11790
@neepsnikeep Thanks! I've marked it as in progress for you. Post here if you have questions.

[2020-01-30 22:54] Alys commented on #10828
I've marked this issue as "help wanted" again and deleted a couple more old comments related to a previous contributor asking to work on this.

[2020-01-31 04:16] crookedneighbor commented on #7561
I'm going through old issues that I had opened on Github, I assume this issue is low enough priority that it's not really even worth keeping open. Agree?

[2020-01-31 04:36] Alys commented on #7561
I agree with closing it. I don't think the benefit of the template is worth the time to set it up and maintain it.

We saw only a few posts lamenting the loss of the template feature from the previous API's docs. If we do see any complaints about this being closed, we can work to clarify the wiki's instructions for testing API routes.

I believe there's also third-party websites that can be used t

[2020-01-31 04:36] #7561 closed, assigned to nobody

[2020-01-31 09:13] Alys opened #11794 "some Premium and Wacky Hatching Potions have errors in _addlNotes data"
This bug can be seen when you use the API to fetch Habitica's `content` data with this command this:
[code]

For some items, such as the Royal Purple Hatching Potion, you'll see the error shown below in the `_addlNotes` (additional notes) data:

[code]

That error should not be there.

Below is some of the code related to this issue.

https://github.com/HabitRPG/habitica/blob/257a52cba1712f4fbc5b0

[2020-01-31 18:35] wScottSh commented on #11738
I've made it through the docs, but haven't yet set up my environment. I'll have time this weekend to do so. Just keeping you in the loop.

[2020-02-01 04:48] Alys opened #11796 "non-NPCs should not have NPC style on Display Name in chat, Hall, etc"
Many players now have the NPC style on their Display Names, even though they are not NPCs. For example:
- lefnire
- Lemoness
- Megan

I believe it's happening to anyone who supported Habitica's original Kickstarter and is due to the code below, which sets `isNPC` to true if the user's account has any value for `user.backer.level`
https://github.com/HabitRPG/habitica/blob/257a52cba1712f4fbc5b0265fd

[2020-02-01 04:49] Alys commented on #11796
Anyone who states that they want to work on this should be willing to start immediately and submit a pull request rapidly.

[2020-02-01 05:38] nikonhub commented on #11796
Hello @Alys

I can hix this one.

[2020-02-01 05:49] Alys commented on #11796
@Nikosmonaut Awesome, thanks so much! Go right ahead!

[2020-02-01 06:09] nikonhub commented on #11796
I need a little help here :).
Because depending on different functions there is a different comparison.

Those are 3 that I found :

-
[code]

- Not sure about this one. What is "npc" field, should I use it ?
[code]

- This one is simple. If I look at the user mongodb schema there is no "level". I suppose it is "tier" field now.
[code]

This is mongodb user schema :
[code]

[2020-02-01 06:53] Alys commented on #7454
@jackcogdill I can't actually replicate the issue with removing members where  flags.verifiedUsername is false. If you notice problems with removing players again, tell us in the Report a Bug guild and we'll see if we can work out what's going wrong.

[2020-02-01 07:51] Alys commented on #11796
@Nikosmonaut Ah yeah, some of that code is just wrong. It should be `backer.tier` never `backer.level`, exactly as you say. Sorry, I missed that when I was writing this issue.

Using `message.backer.tier === 800` should give identical results to using `message.backer.npc` since the `backer.npc` title was given to all players who had 800 for their `backer.tier`. The tier amount is the primary data

[2020-02-01 08:36] MynahMarie commented on #11794
Hi! I'm a new contributor but I'd like to have a try at solving this issue. Let me know if that's ok 😃

[2020-02-01 10:15] Alys commented on #11796
I wanted to do some thorough testing for the fix for this issue so I compiled a list of all the places that a user's names appear. It kind of got bigger than I initially intended but I decided I might as well be thorough while I was doing this. :laughing: Several of the locations below are not actually relevant for this issue.

All of these locations have both Username and Display Name unless stat

[2020-02-01 10:23] #11615 closed, assigned to nobody

[2020-02-01 10:25] Alys commented on #11796
Breaking up that long list into two sections...

On the production site (habitica.com), the following items DON'T display any special formatting, so when testing the fix for this issue, I'll check that these items either still DON'T display formatting or DO display formatting but appropriately. If new formatting has appeared and I'm in any doubt about whether that's good, I'll ping the staff about

[2020-02-01 11:01] #11736 closed, assigned to nobody

[2020-02-01 12:55] Alys commented on #11794
@MynahMarie Sure, thank you! Please go ahead and post here if you have any questions.

[2020-02-01 12:58] Alys commented on #11796
Ha. :) Those two lists of locations need to be adjusted already now that https://github.com/HabitRPG/habitica/pull/11763 has been merged. :laughing: Some locations that used to not have formatting now do have it. This is just a reminder to me that I'll want to re-sort the lists again the next time I need to test name formatting.

[2020-02-01 13:35] Alys opened #11799 "colour tier names in website header might need more contrast"
This is for only the staging site at the moment (i.e., this doesn't happen in production yet).

The normal contributor tier / NPC colours are now being applied to the player's name in the header. For some tiers, there's not a lot of contrast between the name and the header's purple background. For others, the contrast seems fine to my eyes but the colours don't always match well; I don't know if t

[2020-02-01 13:43] Alys opened #11800 "notification and User Icon menus have wrong colours"
This is for only the staging site at the moment (i.e., this doesn't happen in production yet).

The colours in the Notifications menu and User Icon menu are off, as shown in the screenshots. The other menus (Inventory, etc) are still okay.

I'm marking this as suggestion-discussion for now because the staff might be doing a fix for it themselves. If not, it can be changed to help wanted.

![image]

[2020-02-01 13:46] paglias commented on #11799
@Tressley

[2020-02-01 13:57] paglias commented on #11800
Fixed https://github.com/HabitRPG/habitica/pull/11708#issuecomment-581032606

[2020-02-01 13:57] #11800 closed, assigned to nobody

[2020-02-01 14:04] paglias commented on #11799
Nevermind, my fault here, fixed in https://github.com/HabitRPG/habitica/commit/ad3b673fdac4b6f03b65bd8701c33bcb99a41af9

It was definitely a side effect of a PR that wasn't meant to change the header

[2020-02-01 14:04] #11799 closed, assigned to nobody

[2020-02-01 16:38] citrusella commented on #11796
Might-be-rather-important-but-IDK-if-anyone-will-want-to-do-anything-about-it-if-the-fix-itself-doesn't-resolve-it note: The NPC formatting appears to apply retroactively to *all posts* of affected users. My reference points for this are:

- posts from several months back from Lemoness in the [Seasonal Decoration Guild](https://habitica.com/groups/guild/f065a669-9483-42d4-9562-7f8dd5b8adb7) (I was

[2020-02-01 21:14] shanaqui commented on #11227
@jamesisaacm (d8617135-a8e8-491d-9fa1-0945203c47c0) reported:

I've confirmed the behaviour in Firefox.

![image](https://user-images.githubusercontent.com/8144640/73599015-e0c85f80-4536-11ea-8f35-f5be3b30acc5.png)

It does pop out and allow the buttons to be used if you wiggle the mouse and dance widdershins, but it's a bit of a pain.

I think this issue needs to be re-opened? Or should I create

[2020-02-02 00:05] Alys commented on #11227
I'm reopening this since it looks like exactly the same behaviour that was originally reported.

A fix had been made in https://github.com/HabitRPG/habitica/pull/11230 which did work at the time, so I'm guessing it's been inadvertently reverted or overwritten with more recent changes. I've updated the top post to say that the code in that PR might help to resolve the issue again.

I'm marking this

[2020-02-02 00:08] freyacodes commented on #11227
It is not exactly the same. Unlike with the initial issue, the clipping seems to depend on where the mouse is pointing.

[2020-02-02 00:11] Alys commented on #11227
@Frederikam Ah, thank you! I hadn't noticed that.

When you move your mouse away from the drop-down menu it becomes fully visible. It's only hidden by the footer when your mouse is over the menu, so the problem might lie in styles that are only used for the on-hover state.

I'm copying that to the top post too.

[2020-02-02 00:38] Alys commented on #11796
@citrusella Thank you for reporting that! The fix should apply retroactively as you suggest because it will be applying a style to the name based on backer information stored in post. Fortunately this bug doesn't affect the data stored in the post, just how the styles are chosen based on that data.

I've realised something in my top post in this issue was misleading: "I've temporarily deleted my b

[2020-02-02 01:32] Alys commented on #5155
I'm closing this since we're not using transifex any more and I _think_ the translation string upload/download process is at least partially automated or at least scripted now.

If I'm wrong, we can reopen this or start a new one that doesn't mention transifex, but it might need to have details of the current process to help work out where it can be improved.

[2020-02-02 01:32] #5155 closed, assigned to nobody

[2020-02-02 01:42] Alys commented on #11611
For reference, the Apps and Extensions section is shown in the screenshot below (note the old mobile app images) and I've pasted in the current text from it. I'm changing this to "on hold: needs design" since it probably needs more changes than replacing the extension and I'm changing the title to "Features static page shows deleted Chrome Extension and old mobile app images".

![image](https://us

[2020-02-02 02:36] Alys opened #11801 "move FAQ questions and answers from API v4 content route to dedicated route"
_Note for contributors: This issue relates to API version 4, which is used internally by the official website and mobile apps. All third-party tools must still use version 3. You're welcome to work on this issue after it's been marked as help wanted but be careful that your fix changes only [API v4](https://github.com/HabitRPG/habitica/tree/develop/website/server/controllers/api-v4). It must not c

[2020-02-02 02:37] Alys commented on #11801
I've marked this as suggestion-discussion for the staff to comment on it since what I've described might  not match what they want. I'll change it to help wanted in a couple of weeks if there's been no objections.

[2020-02-02 03:26] Alys opened #11802 "remove `userDefaults`, `tasksByCategory`, and `userDefaultsMobile` from API v4 content route"
_Note for contibutors: This issue relates to API version 4, which is used internally by the official website and mobile apps. All third-party tools must still use version 3. You're welcome to work on this issue after it's been marked as help wanted but be careful that your fix changes only [API v4](https://github.com/HabitRPG/habitica/tree/develop/website/server/controllers/api-v4). It must not ch

[2020-02-02 04:02] Alys opened #11803 "add lastUpdated value and query parameter to API v3 content route"
_This issue is for API v3 but if API v4 is given a `content` route before this issue is fixed, then the change described here should be done for both v3 and v4. This adds a new feature to the route and so it's not a breaking change for API v3._

---

When you use the [content](https://habitica.com/apidoc/#api-Content-ContentGet) route with the API v3 command below, the returned data is very large.

[2020-02-02 05:04] Alys opened #11804 "adjust API v4 content route to remove duplication and unused data, or split into multiple routes"
_FYI for any contributors reading this: This issue refers to API version 4, which is used internally by the official website and mobile apps. All third-party tools must still use version 3._

---

When you use the [content](https://habitica.com/apidoc/#api-Content-ContentGet) route with the API v4 command below, the returned data is very large, which increases loading time and bandwidth used. This

[2020-02-02 10:58] #11796 closed, assigned to nobody

[2020-02-02 11:09] Alys opened #11805 "cron should remove duplicates from pushDevices array"
When a player uses one of the mobile apps, an object describing their device is added to the `pushDevices` array in their User document. For example:
[code]

Sometimes the data is duplicated (or triplicated, quadruplicated,...), which means that the player will received duplicate push notifications.

When cron runs, it should examine the `pushDevices` array and remove any duplicates.

I suggest th

[2020-02-03 10:01] Alys opened #11822 "header partially hidden by body of page"
_@Redpinkandwhite (7e608437-5403-42e2-81bf-c25cce8f6464) reported:_

"I am running into a small bug where my bar is overlapping my party images, partially cutting off my mana bar. I have tried refreshing the page and closing the tab.

I just tried closing the browser window as well and reloading Firefox. The images are still set under or over the bar. Image below:"

![scr](https://snipboard.io/7cr

[2020-02-04 12:14] shanaqui opened #11824 "Users who do not have usernames show up only as @ in challenges"
In old challenges, there are sometimes participants who have never confirmed a username. These users appear in the "view progress" tool as "@", and also in the "End Challenge" username selection.

![image](https://user-images.githubusercontent.com/8144640/73743921-8fdb8580-4747-11ea-88d9-85b3d318a0e1.png)
![image](https://user-images.githubusercontent.com/8144640/73743935-9833c080-4747-11ea-84fa-9

[2020-02-04 20:14] xrem commented on #11805
@Alys could you verify please?

[2020-02-04 20:40] xrem commented on #7645
@Alys does this TODO in `cron.js` file still actual?

https://github.com/HabitRPG/habitica/blob/b5182ed7d454f0a01497da8472b54d642fbe43ee/website/server/libs/cron.js#L483-L489

[2020-02-04 22:31] Alys commented on #7645
@xrem Yes, we'd definitely like that TODO to be done - thanks for asking about it! If you'd like to do a pull request for it, please do!

If you do, you can reference this issue in it, but please write `partial fix for #7645` rather than `fixes #7645` because we'll eventually want a fix that prevents this issue from occurring in the first place (e.g., after database transactions are available).

[2020-02-04 22:33] Alys commented on #11805
@xrem I've marked this as in progress for you. Thanks!

[2020-02-04 22:58] Alys commented on #11824
My suggestion for how to fix this is that if the Username is not available, that list should show the Display Name. The "@" symbol should not be used for Display Names.

I've set labels on this.

[2020-02-05 06:46] tuttiq commented on #11824
Seems like this is the place that displays usernames on the `memberSearchDropdown` component:
https://github.com/HabitRPG/habitica/blob/aefd664db1ef46b24a6d9edc5ac55248e9082b0e/website/client/src/components/members/memberSearchDropdown.vue#L22

I'm just jumping to conclusions here (I'm getting to know this project now), but I'm guessing this could be solved with an `or` operator for username OR di

[2020-02-05 07:22] Alys commented on #11824
@tuttiq We do want Usernames shown when they're available because they're the best way to identify players these days.

Your OR idea sounds good! If you'd like to try it, tell us and I'll mark this as in progress for you.

[2020-02-05 08:47] tuttiq commented on #11824
Sure, let me setup my local environment and I'll try to submit a PR for that :)

[2020-02-05 11:59] Alys commented on #11824
@tuttiq Awesome, thanks! Post here if you have questions or run into trouble.

[2020-02-05 12:08] zlotte commented on #11790
Was it fixed or I can fix it ? :)

[2020-02-05 14:01] actuday6418 commented on #11790
Can I work on this? I'm new and need somewhere to start

[2020-02-05 14:31] Tressley commented on #9501
Zeplin artboard for updated item designs: https://zpl.io/VQ7Z8mR

[2020-02-05 15:04] actuday6418 commented on #11227
Could I give this a go?

[2020-02-05 19:11] librarianmage commented on #2433
Is this still an issue? It's been a while since I've noticed it happen, but I could just not be seeing it.

[2020-02-05 19:20] librarianmage commented on #8128
Is this still an issue?

[2020-02-05 19:22] librarianmage commented on #7716
Is this still an issue?

[2020-02-05 21:56] Alys opened #11827 "Experience gained from Enchanted Armoire should appear in header stats immediately"
When you gain experience from the Enchanted Armoire, your experience bar in the header does not change immediately. You have to click the sync button to make the new experience appear.

The desired behaviour is that as soon as you gain experience from the Armoire, your exerperience bar should increase and thee number to the right of it should change. Clicking the sync button should not be necessar

[2020-02-05 22:01] Alys commented on #2433
Yes, it still happens.

The Armoire has a new issue that makes this bug a bit harder to notice: https://github.com/HabitRPG/habitica/issues/11827

[2020-02-05 22:10] Alys commented on #2433
I've removed some old comments (e.g., posts confirming it's still happening).

I guess that levelling up after getting experience from using the Armoire would be easier to do and have less impact on performance than leveling after a quest finishes. When https://github.com/HabitRPG/habitica/issues/11827 is fixed, I'm going to create a new issue specifically for leveling up from the Armoire.

[2020-02-05 22:13] Alys commented on #11827
By the way, when you get enough Experience from the Armoire to level-up, the level-up doesn't happen until you complete a task (https://github.com/HabitRPG/habitica/issues/2433). That's not directly related to this issue (this issue is much newer!), but if the contributor who works on this issue happens to see a way of fixing the level-up problem at the same time, you'd be welcome to do that. Don'

[2020-02-05 22:18] Alys commented on #7716
I just did a test, creating two challenges, joining them, then closing them with me as the winner. I received the correct notification in each case, so for that specific situation, this bug no longer exists. Maybe it still exists under other circumstances, but I'm closing this for now and we can reopen it again if the bug does get reported again. Thanks @MathWhiz !

[2020-02-05 22:28] Alys opened #11828 "Brutal Smash and Burst of Flames skills should show a boss damage notification"
When you are in a boss quest and you complete a task, you see a "damage to boss" notification, like the one at the bottom of the screenshot below.

You should see the same notification when you do boss damage from using the Brutal Smash and Burst of Flames skills. Those skills used to give a notification but at some point they've stopped doing that.

![image](https://user-images.githubusercontent.

[2020-02-05 22:46] Alys commented on #8128
Yes, this is still an issue.

Note to anyone working on this, currently you can't see how much boss damage you do from notifications due to https://github.com/HabitRPG/habitica/issues/11828 but you can watch how your test account's `party.quest.progress.up` changes in your local database.

I've removed some old comments from this issue (just requests to work on this and confirmations/questions rel

[2020-02-05 22:51] Alys commented on #9501
@Tressley Is this ready for a contributor to work on it? If so, I'll add the "help wanted" label.

[2020-02-05 23:06] Alys commented on #9501
Is that Zeplin link pointing to the correct screen? It does show quest scrolls but also other items and doesn't show how the explanations should appear. The first time I used the link, zeplin showed me an error, so maybe its got itself screwed up somewhere. :)

[2020-02-05 23:13] Alys commented on #11790
@zlotte @actuday6418 : this issue is in progress. You might like to look for issues marked with the "help wanted" label.

If you see any in progress issues where the most recent comment is a few months old and there's no linked pull request, you can ask on them, but this one was claimed just a week ago. :)

[2020-02-06 07:26] neepsnikeep commented on #11790
I'm pretty much done with it, but have problems testing it. My test environment seems to be very unstable, so even if I revert my changes it doesn't build... I'm working on it.

[2020-02-06 12:57] Tressley commented on #9501
@Alys -- Yes, this is the correct artboard. Is the link working now? If not, here's a screenshot in the meantime. The bottom row contains the examples for earned quests. The other examples are the various states for items in The Market and other shops.

![image](https://user-images.githubusercontent.com/2686586/73939090-b1a74a80-48b6-11ea-840e-4e19a6c6edb6.png)

These designs will be used for when

[2020-02-06 22:49] Alys commented on #9501
@Tressley Awesome, thanks for all the details! I've updated the top post to tell contributors to be sure to read all comments. Yes, the zeplin link works for me now.

For any contributor working on this:

- The text to display is taken from `unlockCondition.text` in the quest's data as shown in the two snippets below.
- Changes will be needed to that data to adjust the price.
- For the Dust Bunnie

[2020-02-06 22:53] Tressley commented on #9501
@Alys — Discussed this with the team today and we’re just going to have Habitica staff tackle it!

[2020-02-06 22:54] Alys commented on #9501
Oh, okay. I've added the in progress label.

[2020-02-07 08:53] shanaqui opened #11830 "Profiles are not displaying avatars or health/mana/experience bars"
Profiles are not showing avatars or health/mana/experience bars. Example from a person who reported:

![image](https://user-images.githubusercontent.com/8144640/74014635-ff8b8380-4986-11ea-90a5-d8afb1180293.png)

This appears to be only affecting users without tiers, but not *all* users without tiers, according to the reports.

Reported on Firefox, Chrome, Explorer and Edge.

EDIT: See this commen

[2020-02-07 08:59] shanaqui opened #11831 "After moving a task, the three-dots menu appears behind other tasks - z-index problem"
Reported by krezzkrazz:

I've reproduced the behaviour on Firefox in Windows. It occurs with all task-types, not just habits.

![image](https://user-images.githubusercontent.com/8144640/74015081-dae3db80-4987-11ea-9096-935297dfd18f.png)

This looks similar to #11457, but only occurs after dragging a task.

[2020-02-08 07:18] citrusella commented on #11830
Might be relevant errors? Happens when I click on a profile with the issue but not otherwise. (I've pared most of these (other than the TypeError and the failed log) down to their "not expanded" versions because it was really long and I didn't want to spit too much information here if it wasn't absolutely relevant (but I get the feeling I might have cut info off of "component" where it occurred, t

[2020-02-08 07:49] Alys commented on #11830
@citrusella Useful!! Thank you!

It might be from this:
[code]
From this code:
https://github.com/HabitRPG/habitica/blob/71cc313c9a2231b35885bdfb30b185a72098e670/website/client/src/components/memberDetails.vue#L27
which should probably have a check for whether `member.contributor` is defined before it tries to read the level.

That tallies with "This appears to be only affecting users without tier

[2020-02-08 08:16] citrusella commented on #11830
...Huh, I was looking at the stuff that had recently gone into the website and the change that included that file particularly intrigued me but I didn't want to say anything without seeing if I could quickly play around with changing it back (because I'm not learned enough yet to know how to *actually* fix it) just to see if the change had caused anything...

~~"Quickly" turned into "oh wait my mo

[2020-02-08 09:03] Alys commented on #11830
I've done some testing and I'm sure it's breaking for people who don't have any information in their `ccontributor` object. Fixing it should be a simple matter of something vaguely like:

`v-if="member.contributor && member.contributor.level && member.contributor.level > 0 && ...`

The reason that the bug doesn't occur for some players who have no contributor tiers is that they  have a contributor

[2020-02-08 09:05] Alys commented on #11830
We need a quick fix for this so if a contributor would like to take it on, that's great, but please be willing to submit a pull request in a day or less. We'd still like you to test the fix on your own local install though to ensure that there's no other inadvertent bugs. :)

[2020-02-08 09:19] Alys commented on #11830
One final point just for those who are curious:

A player with a completely empty `contributor` object will still be able to view their own profile with no bug in it. That's because the user's own data loaded into the browser does contain at least an empty `contributor` object.

It's only when the player's data has NO contributor object (not even an empty one) that you see this bug, and that only

[2020-02-08 09:43] Alys opened #11833 "navigation menu leaves ghost image visible after clicking on a menu item"
This bug started about a day ago, so it's from a recent change.

JohnJSal (624e48a3-cbea-4bbe-ae44-ca9183f49626) reports:

"when I go to a menu item that has a drop-down list (e.g. Shops, Guilds, Challenges) and click on one of the list items (e.g. Market, My Guilds, Discover Challenges), it leaves a 'ghost' image of the drop-down list. This doesn't seem to happen if you are already on that partic

[2020-02-08 11:53] fdmcneill2019 commented on #11828
Where is the code or files for this issue? I'm interested in trying to fix this one.

[2020-02-08 12:29] fdmcneill2019 commented on #11828
Where is the code or files for this issue? I'm interested in trying to fix this one.

[2020-02-08 17:17] actuday6418 commented on #9222
@Alys, I'd like to work on this. Seems to be a decent beginner's issue. Could you give a quick brief on which direction to take, being new to habitica's code base?

[2020-02-09 03:14] Alys commented on #11830
When the fix for this goes live, staff or moderators should modify the Report a Bug guild's description to remove the info about the bug and add N/A in the "CURRENT KNOWN HIGH-IMPACT BUGS" section. I'm labelling this as "notify helpers" to remind me.

[2020-02-09 06:12] Alys commented on #9222
@actuday6418 Actually due to the way that stats change notifications are created, this one is pretty difficult, maybe even impossible without a significant rewrite of part of our code. I realise it might not look like that on the surface so I'm sorry it was misleading!

The [good first issue](https://github.com/HabitRPG/habitica/labels/good%20first%20issue) label is a good one to follow for easy i

[2020-02-09 06:16] Alys commented on #11831
This is _probably_ a CSS z-index problem, although any contributor working on this should check that before proceeding on that assumption.

I've added labels for help wanted, etc.

[2020-02-09 06:18] Alys commented on #11790
@neepsnikeep How are you going with that? If you're still having trouble with your local install, let us know what errors you're seeing and we might be able to help.

[2020-02-09 06:19] Alys commented on #11227
@actuday6418 So sorry about the delay! Yes, please go ahead (although if you're no longer interested post again here and I'll set it back to help wanted).

[2020-02-09 08:55] Alys commented on #11828
@fdmcneill2019 Thanks! I've marked this as in progress for you.

To find the relevant code locations, you can follow a process something like this:

`git grep -i "burst of flames"`  - that will show you all places where that text appears. A lot of the places will be in the locales files ("/en/" English text and texts for other languages) but you can either ignore them if you see other results that

[2020-02-09 11:14] Alys commented on #11259
I'm closing this issue because the layout problems described here have been fixed in the PR linked above. If we notice any others we can open a new issue.

[2020-02-09 11:14] #11259 closed, assigned to nobody

[2020-02-09 14:08] actuday6418 commented on #11227
I would love to take this up. Any pointers as to which direction to take? I'm new to Habitica's code base. Thank you!

[2020-02-09 22:00] Alys commented on #11227
@actuday6418 It's likely to be the same bug or a similar one as the one that was fixed last time, so the previous fix might give you some pointers. See above for the link to the merged pull request ("Fix task dropdown menu overflow") - that will show you the code changes that were done then.

If that doesn't help or if you have any other questions, post again here!

[2020-02-09 22:48] Alys opened #11834 "loading tips can't be read when loading is too quick"
This isn't exactly a bug but...

As reported by @Acorn_Sprout (2a5618da-d8c4-4530-a943-3fa871ef4859):

_"This may already be known and it's not precisely a bug, but when using a browser the introductory tip lasts no more than about a second. FWIW the platform I'm currently using is Chrome version 79.0.3945.130 (Official Build) (64-bit) on Windows 10. With Internet Explorer on the same machine, ver

[2020-02-10 15:17] Tressley commented on #11833
The menu should close after you've clicked on a menu item.

[2020-02-10 20:43] Alys commented on #11833
I've updated the top post to indicate the desired fix and marked this as help wanted.

[2020-02-10 21:04] joefessenden commented on #11831
I'm looking at this, and I don't think it's necessarily a z-index problem. If so, I should be able to adjust that value in the inspector in my browser. I'm still looking at it, but I'm not claiming it yet because I'm not sure I'll get much of anywhere. I'm still pretty new, an both of the beginners items seem claimed.

[2020-02-10 21:52] joefessenden commented on #11831
I committed a change for this to task.vue. I'm hoping I did it right. I'm very new to this. The .task element needed to have the position=relative removed so the z-index would be respected. I cannot find any negative effects from the change in the checking I did.

[2020-02-10 22:11] Alys commented on #11831
@joefessenden Thanks for taking this on! I've marked it as in progress for you. When you're ready, do a pull request and Habitica's staff will review it (it might not happen for a few days). If you'd like more details about the pull request process, [Using Your Local Install to Modify Habitica's Website and API](http://habitica.fandom.com/wiki/Using_Your_Local_Install_to_Modify_Habitica%27s_Websit

[2020-02-11 00:26] fdmcneill2019 commented on #11828
@Alys I'm currently having some issues cloning the repository with Git so it may take me a few days to get started, but I'll definitely get to work on it when I can. Thanks.

[2020-02-11 02:00] Alys commented on #11828
@fdmcneill2019 Thanks for the update! Cloning is usually simple so if something's going wrong it'll be an unusual problem and you're welcome to ask for help with it if you wish. If you do want help, as a first step, use the process described in [Setting up Habitica Locally](https://habitica.fandom.com/wiki/Setting_up_Habitica_Locally) for your platform, and let us know which step fails and what er

[2020-02-11 08:38] phillipthelen opened #11852 "Look into Texture"
Especially for the task list and the chats, scroll performance could be a bit better. Maybe look into Texture if that can help there: https://github.com/texturegroup/texture/

[2020-02-11 11:00] Kimoki commented on #3974
I know this is an zombie thread, but I had the exact same problem. It was my ad blocker. I disabled it on Habitica (they deserve every penny of ad revenue they can get) and viola, my Facebook and Google login buttons showed up. The solution is still relevant today.

[2020-02-11 11:04] Alys commented on #3974
@Kimoki Great to know, thanks for posting that! Good news though - we don't have any ads. :) We used to many years ago (tiny Google text ads on the Tasks page) but you definitely won't see any now! Thanks for being willing to put up with them though. :)

[2020-02-11 17:01] fdmcneill2019 commented on #11828
@Alys Luckily I was able to clone it early this morning. Thanks for the link.

[2020-02-11 21:12] joefessenden commented on #11831
@Alys Thanks. I checked in the code (I think). Can you let me know if I did that right (I just don't want this to be waiting for me - I know the code review will take some time)? I am a bit green at GitHub, and it doesn't seem to behave in quite the same way as my previous experience (SVN).

[2020-02-11 21:24] #11830 closed, assigned to nobody

[2020-02-11 21:26] SabreCat commented on #11830
I've made the change to the Report a Bug guild description!

[2020-02-11 23:22] Alys commented on #11831
@joefessenden Hmm, I can't see a pull request from you so I think something might have gone wrong with that. Did you find the "Submitting your Change for Review in a Pull Request" section in [Using Your Local Install to Modify Habitica's Website and API](https://habitica.fandom.com/wiki/Using_Your_Local_Install_to_Modify_Habitica%27s_Website_and_API)? It looks like you're up to step 4, so if anyth

[2020-02-12 03:59] joefessenden commented on #11831
My challenge is that I'm trying to use the git interface in the IDE, so that's where I'm running into something not covered well by the docs. I posted a couple times in general in the Aspiring Blacksmiths Guild, but got no response. I did find where I made a pull request and a commit, but it only went to my clone, not to y'all. How do I address that?
https://github.com/joefessenden/habitica/commit

[2020-02-12 10:47] Alys commented on #11831
Ah right. I saw your questions in the guild. I'd guess there were no answers because none of us have used that IDE for git commands. Your best option if you want to persist with doing it in the IDE might be to ask for help from the IDE's vendor. It can't be uncommon to need to do a PR from a fork to the original repo so they might be willing to update their documentation to include instructions fo

[2020-02-12 13:04] neepsnikeep commented on #11790
Okay I figured out rebasing, this is quite neat. I was about to create a pull request for work in progress, but seem to be denied to do that?

I'm updating Docker right now as coincidentally one is available now. It's whining that it needs more space even if it has plenty, but all the fixes and workarounds that worked for others don't do it for me. `docker system prune` seemed very promising, but

[2020-02-12 14:13] shanaqui opened #11855 "Negative rewards can reduce health or kill you immediately"
Reported via email for iOS and web, confirmed by me on web.

If you create a reward with a negative cost (e.g. -10 gold), it still removes gold in the same way as a normal reward, but it seems that it doesn't check whether you have enough gold to purchase it. If you do purchase it and your gold goes into the negative, it then starts taking away health. If the gold reward is larger than -50g, it ju

[2020-02-12 16:25] neepsnikeep commented on #11790
FINALLY!! Ok it's working. Following the steps for the pull request now.

As frustrating as it was setting everything up, it's more satisfying than I thought to test my changes. I guess it's worth it doing more in the future :)

[2020-02-13 05:28] DXCanas commented on #11822
Does anyone mind if I pick this up? I'm new around here.

[2020-02-13 05:56] DXCanas commented on #11822
I'm thinking this line is the culprit:
https://github.com/HabitRPG/habitica/commit/53555a0f161a883a9a9bb3c801cf63e36153b8ed#diff-8cbf1baa36a2fdb9de136c1614f62226R51

as it uses `rem` to define the max height, and `rem` draws its height from `font-size` on `<html>`, which I believe is set by the browser according to the DPI on your display (or something). If the `font-size` on `<html>` is anything

[2020-02-13 06:44] hamboomger commented on #11855
Okay, can I do this as my first issue? Seems like a simple one.

[2020-02-13 09:31] shanaqui opened #11860 "Searching guilds is inconsistent between "My Guilds" and "Discover Guilds""
Reported by loremi:

Confirmed by me in Firefox using that guild/keyword.

[2020-02-13 10:55] Alys opened #11861 "clarify messages shown when a quest has already started"
The message below is used when four events occur:
"Your party is already on a quest. Try again when the current quest has ended."
https://github.com/HabitRPG/habitica/blob/e6ba1ccca72221a80e6e869bb2b87e0ad8faaafe/website/common/locales/en/quests.json#L104

Those events are when you try to:
1. issue an invitation for a new quest while your party is on a quest
2. force-start the current quest that h

[2020-02-13 11:59] Alys commented on #11737
I can reproduce this bug every time with this process:

1. go to Tasks page
1. reload website (to clear out any cached guild membership data)
1. click on your notifications and click on the new message notification for one guild
1. observe that you're taken to that guild's page - ensure it has loaded fully before going further
1. click on the member list icon
1. make note of the first few members

[2020-02-13 12:41] artur-borys commented on #11833
Hello, I'm new here and I would like to work on this issue.
I have already tried some change in my local instance and it seems that it is solveable by changing selectors related to topbar-item and topbar-dropdown in the style section of `components/header/menu.vue` component.

[2020-02-13 12:55] artur-borys commented on #11833
Hello I'm new here and I would like to work on this issue.

At first I thought the dropdown should stay after user clicks and have a background color (which currently becomes transparent after user click). I have achieved this, so if maybe you would like the dropdown to stay I can commit this change.

**However** after a while I've seen that you want the dropdown to actually close - and I've achie

[2020-02-13 21:58] ianrandmckenzie commented on #11861
I think I have a solution ready for this. I just need to read the guide on pull request protocols.

[2020-02-13 22:26] shanaqui opened #11863 "Extra padding on equipment page / drawer covering footer"
Reported by wilkoklak in Report a Bug:

Confirmed in Firefox.

@Tressley, could you confirm how this is supposed to look? (Or tag in someone who can?) :D The person who reported this already volunteered to potentially do a fix.

[2020-02-13 22:35] ianrandmckenzie commented on #11861
Looks like a couple of tests related to my changes failed. I'll look into it right now.

[2020-02-13 22:37] artur-borys commented on #11863
Hello, I'm the one who reported this, so you can assign me to this issue :)

[2020-02-13 22:43] shanaqui commented on #11863
Thanks! But please wait until the designers have confirmed how this is supposed to behave. :)

[2020-02-13 22:59] ianrandmckenzie commented on #11861
All passing now, ready for review.

[2020-02-13 23:17] Alys commented on #11863
I've added labels, including the "on hold - needs design" one since a design decision is needed.

@artur-borys When a decision is made, there'll be a comment here about it. One of us will then mark this as in progress for you, but please let us know then if you're no longer interested and we'll set it back to help wanted. Thank you! :)

[2020-02-14 02:40] ianrandmckenzie commented on #11827
@Alys I'd like to tackle this, but for my own developer happiness, I need to know a few things:

- Is there a way to pre-populate the database and log into a generated account? I'm more of a Ruby on Rails guy and Rails does this by running a script that populates the database in a `seeds.rb` file
- Is there a developer console where I can execute commands to test functions without having to use th

[2020-02-14 12:20] Tressley commented on #11863
That's quite the jump! I believe this is an artifact from when pages used a smaller footer. Now that we're using a larger footer, the amount of space when the drawer is collapsed is correct.

[2020-02-14 12:28] artur-borys commented on #11863
@Tressley but the space is added above the footer and I think it should be added below. I'll demonstrate what I have already done in my local branch in a moment

[2020-02-14 12:34] artur-borys commented on #11863
Okay, here's how it looks when the drawer is open after my changes
![drawer-shown](https://snipboard.io/p94mlW.jpg)

You can see here that when user is at the bottom of the page, there is an extra space below content of the footer, opposed to extra space above footer as it is currently on habitica.com.

When user closes drawer or goes to a page where there is no drawer, the extra space is removed

[2020-02-14 12:36] Tressley commented on #11863
@artur-borys -- There isn't a reason for padding to be added as the footer allows the drawer to be open without blocking the main content. You can see the correct behavior on the Tasks page.

[2020-02-14 12:49] artur-borys commented on #11863
@Tressley okay, understood. I'm waiting on the last word about how it should behave and for help wanted label :)

[2020-02-14 12:58] artur-borys commented on #11834
Maybe make the tip collapse into a small window attached to border of the screen after loading finishes? The window could stay for a few seconds or be closed by the user.

[2020-02-14 14:03] actuday6418 commented on #11227
I made this PR after changing the footer's z-index from 17 to 10. That doesn't seem to have any adverse effects but still solves the problem. However, the PR made for issue  #11831 appears to be a change in the z-index of the three-dot menu itself. Would that then solve our problem too?

[2020-02-14 18:57] joefessenden commented on #11227
@actuday6418 I ended up not changing the z-index at all. Instead, I removed the "relative" css declaration from ".task". I did test with my code, though, and it looks like it resolves this issue, too, at first glance.

[2020-02-14 19:07] joefessenden commented on #11790
Is there a mechanism in the code somewhere that can easily get a live user count so this doesn't have to be manually set as the number grows?

[2020-02-14 19:49] neepsnikeep commented on #11790
Well sure I guess you can connect to the database and get an up to date user count, but the performance issues are not worth it in my opinion. It's not like you need to update the million user count every day. The home page loads sluggish enough, a minor thing like an automatic user count isn't worth making it more slowly. A responsive front page is essential for getting new users.

[2020-02-14 21:49] shanaqui opened #11864 "Group plan reminder email is using wrong value to generate price"
A user reported in email that their group plan for two people was quoted in their reminder email as renewing at 36 (instead of 12).

Alys already dug into what's going wrong:

This only refers to the price quoted in the reminder email, not to the actual charges which are happening correctly.

[2020-02-14 21:58] ianrandmckenzie commented on #11681
Hey @Alys — if no one picks up this issue after I finish #11827 I'd like to add this to my task queue. I'm on vacation next week and my chosen form of relaxation is to contribute to open source. My goal is to resolve 4 or more Habitica issues. Thanks!

[2020-02-14 22:01] ianrandmckenzie commented on #11827
Tagging myself so that Zapier will add this issue to my calendar. @ianrandmckenzie

[2020-02-14 22:39] ianrandmckenzie commented on #11827
_edit by Alys 2020-02-15: This comment is not specific to this issue but is a useful local install troubleshooting tip. If your install is running correctly, you can ignore this comment. See also the ["Review the Server Output" section of Setting up Habitica Locally on Linux](https://habitica.fandom.com/wiki/Setting_up_Habitica_Locally_on_Linux#Review_the_Server_Output) where this tip has been cop

[2020-02-15 02:07] ianrandmckenzie commented on #11827
Okay, I think I'm at wits end for this. I worked on this for 4 hours, but my lack of experience with Node/Vue is really showing in this attempt. The best I could come up with is to add:

`website/client/src/store/actions/shops.js:79`:
[code]

This updated the experience bar, but it duplicated the Experience received notification. It shows this message:
"You wrestle with the Armoire and gain Experi

[2020-02-15 03:49] Alys commented on #11827
@ianrandmckenzie Thanks very much for trying and adding your notes here! I'll leave this marked as help wanted.

Thanks for the troubleshooting tips too! I've added them to the ["Review the Server Output" section of Setting up Habitica Locally on Linux](https://habitica.fandom.com/wiki/Setting_up_Habitica_Locally_on_Linux#Review_the_Server_Output).

There are no scripts for pre-populating the data

[2020-02-15 03:54] Alys commented on #11681
@ianrandmckenzie Thanks! I've marked this as in progress for you.

[2020-02-15 03:56] Alys commented on #11681
@ianrandmckenzie Although there have been changes to Habitica's subscription code lately so it's possible this error no longer occurs. @negue @paglias @SabreCat Do you know if it's been fixed?

[2020-02-15 04:00] Alys commented on #11864
I've marked this as important priority since it affects people who have paid to use Group Plans. It's actually not something that a contributor can fix because the code is in a private repo since it's related to sending emails (sorry shanaqui, I didn't mention that when I was describing the problem). I've chosen to leave this issue here though so that we don't lose track of it because I'm not sure

[2020-02-15 04:04] Alys commented on #11863
@artur-borys I've marked this as in progress for you - thanks! The desired fix is to make the drawer behave as it currently does on the Tasks page, since Tressley has said that's the correct behaviour.