[2016-04-28 14:10] librarianmage commented on #5424
@Alys As the weekly progress emails are currently turned off, is this still an issue?

[2016-04-28 14:31] brightbold commented on #2377
Ugh - clearly I haven't had time to follow up. @MathWhiz you should go for it if you have the time; I am totally under water with work right now. Hopefully you will find the experimentation I did in https://github.com/HabitRPG/habitrpg/issues/2377#issuecomment-32142300 helpful and you won't have to spend too much time on it to get it finished.

[2016-04-28 15:39] OlsonAC1 commented on #4252
Hello, my party completed the quest "Vice, Part 2: Find the Lair of the Wyrm" and I was the only one not to receive an achievement or rewards. If you could do anything to fix this, I would be grateful. My ID is 54665726-61fc-473f-8062-31a950a9ae11, and I have completed this quest once before, so it's not mistaken that I already have the quest achievement once.

[2016-04-28 15:45] sujunmin commented on #7117
Hi @Alys , I‘ve chatted with xiamo at team chat room, he said he had changed time zone 15 days ago by using only one device, but this problem was happend some days ago, he thought it should be happend when he just changed the time zone, not after some days. By the way, he will use another new device to help test.

[2016-04-28 19:06] humanehero opened #7127 "Mana cap not accurately reflecting allocated intelligence"
General Info
- UUID: 71fa11e9-592f-45c0-9995-f05822c255a2
- Browser: Google Chrome 49.0.2623.112 m
- OS: Windows 10
### Description

Prior to today, I had 2 points allocated to intelligence and a mana cap of 50. I recall adding points to INT and seeing my cap go up. I added another point to INT today and my cap went up to 52. With 3 points allocated, my cap should be 56, right?

![habitica mana ca

[2016-04-28 21:57] paglias commented on #5424
@MathWhiz we want this to stay open for when we'll restart weekly recap emails

[2016-04-28 21:58] librarianmage commented on #5424
@paglias That makes sense
On Thu, Apr 28, 2016 at 4:57 PM Matteo Pagliazzi notifications@github.com
wrote:

[2016-04-28 22:03] Alys commented on #7082
@nasfarley88 If you can get all the output from the entire local install process, that should help. I can't think of anything else.

[2016-04-28 22:13] Alys commented on #4252
@OlsonAC1
I've given the achievement and rewards to you. Reload if you don't see them. Please tell me if they don't appear after that!

[2016-04-28 22:31] citrusella commented on #7127
Did you take off a piece of clothing that granted intelligence points? Is it possible you could have had a buff to your intelligence yesterday that you don't have today? Your maximum MP should be 2 times your intelligence at any given time, plus 30.

[2016-04-28 22:33] Alys commented on #7127
Your maximum mana depends on your entire current Intelligence, not just on allocated points. The formula for it is on the wiki's [Mana Points](http://habitica.wikia.com/wiki/Mana_Points) page  --- and exactly as I was typing that, @citrusella ninja'ed me with the formula. :)

I can see from your profile that your current INT is 11 (level: 8, allocated: 3), so a max of 52 is correct.

I'm closing t

[2016-04-28 22:33] #7127 closed, assigned to nobody

[2016-04-29 00:45] Alys commented on #3921
No but let's talk about it after API v3 is released when we'll have more time. There's plans for a UI overhaul which will tie in to this.

[2016-04-29 00:50] Alys commented on #5035
I think this should wait till after API v3 too. It feels like there'd be changes in many places for this, so keeping it well separate from other work that involves many changes would be sensible.

[2016-04-29 00:51] librarianmage commented on #5035
@Alys do you know if there is a timeline for the v3 release?
On Thu, Apr 28, 2016 at 7:50 PM Alys notifications@github.com wrote:

[2016-04-29 00:55] Alys commented on #5035
Yes, a timeline for the remaining work is being developed. It won't be too
much longer.

On Fri, 29 Apr 2016 10:51 am MathWhiz, notifications@github.com wrote:

[2016-04-29 01:45] librarianmage commented on #7103
On the website (last is the one currently used on the site):
![screenshot 2016-04-28 at 8 20 40 pm](https://cloud.githubusercontent.com/assets/12386291/14906265/08fc34de-0d7f-11e6-9e3b-2871b9e8c5b8.png)
On iOS:
[iOS](https://goo.gl/photos/1KPug42sPf5wEZBw8)

[2016-04-29 01:59] quin-jay commented on #7103
With the exception of the middle symbol, it looked good to me on both platforms. Was that the iOS app?

[2016-04-29 02:02] librarianmage commented on #7103
The pic is the website, the link is to ios. The last symbol is the one
currently used on the website, so that would most likely be preferable (and
if we reach a consensus, I would like to work on this)
On Thu, Apr 28, 2016 at 8:59 PM lynnyliz notifications@github.com wrote:

[2016-04-29 02:05] quin-jay commented on #7125
Well I first broached this idea in the Aspiring Coders guild chat, and Alys suggested that Github would be a better setting for discussion -- she didn't mention Trello. I tend to agree with her; this isn't a new feature, it's a discussion about changes to make to specific, existing code.

That said, if more people think Trello is the best setting for it after all, I'm happy to post there too.

[2016-04-29 02:06] librarianmage commented on #7125
@lynnyliz Now that you talk about it that way, that makes more sense! `Retracts previous statement`

[2016-04-29 02:17] crookedneighbor commented on #7125
I think labelling them as "wild" is a great idea.

[2016-04-29 02:21] librarianmage commented on #7125
@crookedneighbor @lynnyliz Related to some of the strings you will be changing: #4445

[2016-04-29 02:42] quin-jay commented on #6685
Just dropping a note to say that #4445 discusses specifically the achievement strings about using Keys to the Kennels and #7125 discusses the naming of generation 1 (non-quest, non-rare pets). If there are PRs made, I'll post a recap here of what still needs deciding.

[2016-04-29 02:51] quin-jay commented on #7125
Thanks for the link, @MathWhiz! The issue in the reference above (6685) also deals with achievement text strings. I think that 6685 and 4445 combined will have enough alterations to make a full PR, so if we don't decide either of those right away I think it'll be fine. This one also seems important enough to do without waiting for the others -- the Beast Master progress box is pretty confusing wit

[2016-04-29 02:56] quin-jay commented on #7103
Yeah, sounds great! I just wanted to chip in my idea about using an icon. I agree that the third symbol is preferable, too

[2016-04-29 03:01] quin-jay commented on #7103
And for the record, here's what the third symbol looks like on the Android app:

![image](https://cloud.githubusercontent.com/assets/6640915/14907320/c26a64e4-0d62-11e6-8c2c-f0c061a4eaee.png)

[2016-04-29 03:02] librarianmage commented on #7103
@lynnyliz That looks really good!

[2016-04-29 03:06] quin-jay commented on #7103
@MathWhiz Yeah I think that symbol is a great choice, it looks good on all platforms! I'm glad it can be the same tasks for everyone, I have no idea how you'd go about specifying that a task should only show up for Android or website users :hushed:

[2016-04-29 03:06] librarianmage commented on #7103
So now my plan is:

### Learn About Habitica

#### Notes

Overview of New Users:
💻 only: ☰(Menu - Top Bar) > Help
FAQ:
📱: ☰ > About > Help & FAQ
💻 : ☰ > Help > FAQ

#### Checklist
1. [ ] Read the Overview of New Users (Website only)
2. [ ] Read the FAQ

### Join the Newbies Guild

#### Notes

☰ > Social > Guilds
This is the best place to ask questions!

### Introduce Yourself to the Tavern

### No

[2016-04-29 03:22] quin-jay commented on #7103
@MathWhiz hmm... Well, you tell them that they're looking for the FAQ, so theoretically they'll know to click it once they see it... What if you did ☰ > Help for both? In mobile, there's also another menu item "About" under the section heading "About", so that might get confusing and might be worth leaving off this time.

Pros:
-succinct
-consistent across platforms
-thematically similar to how we

[2016-04-29 08:55] natfarleydev commented on #7082
Log files: https://gist.github.com/nasfarley88/87158b0e731fb8bd25923a3ef97d409d

They are all named after their commands so it should be pretty obvious what they are (except `npm-debug.log`, that was just outputted by npm).

[2016-04-29 12:55] librarianmage commented on #7103
@lynnyliz or the website, but yeah, I think they could be made more succinct

[2016-04-29 12:58] librarianmage commented on #7103
Note to self - Default tasks are in https://github.com/HabitRPG/habitrpg/blob/develop/common/script/content/index.js#L2721

[2016-04-29 13:37] crookedneighbor commented on #7119
@GitHubSphinx I'm able to reproduce this on firefox on a mac and I'm working on a fix. I'm curious why we haven't got more reports...

[2016-04-29 13:39] GitHubSphinx commented on #7119
I'm the only one who uses :watch: emoji for my brick-laying activities?

[2016-04-29 14:55] #7119 closed, assigned to nobody

[2016-04-29 14:57] crookedneighbor commented on #7119
Both issues will be fixed on the next deploy.

@Vampitch https://github.com/HabitRPG/habitica-markdown/commit/6207fc32f117512a17a275dd5b7e1dd166fc0f74
@GitHubSphinx https://github.com/HabitRPG/habitica-markdown/commit/eaf59b35d456196b589dd9b84a2b2e85919c5485

[2016-04-29 14:59] crookedneighbor commented on #3488
With the new Habitica Markdown module, this is fixed.

[2016-04-29 14:59] #3488 closed, assigned to nobody

[2016-04-29 14:59] crookedneighbor commented on #3774
I've boosted the emoji up to 1.5em all around.

[2016-04-29 14:59] #3774 closed, assigned to nobody

[2016-04-29 15:12] librarianmage opened #7128 "Markdown does not render on test site"
General Info
- UUID: N/A
- Browser: Chrome
- OS: Windows 7
### Description

On my test server, none of the markdown loads at all, leaving a blank space. However, the text is there and shows in the editing form. If I had to guess, it would because it couldn't find the markdown script.
#### Console Errors

[code]

[2016-04-29 15:15] crookedneighbor commented on #7128
You need to reinstall your bower components.

[2016-04-29 15:15] #7128 closed, assigned to nobody

[2016-04-29 19:08] kalmduck opened #7129 "Party member received NaN quest items"
General Info
- UUID: 9219a210-e771-4a3e-91ac-65914c3a17ec
- Browser: Safari
- OS: El Capitan
- Party ID: bff1392a-f42f-4901-b9f9-f4d522e69858
### Description

When one of my party members did their cron, they received NaN testimonies for the Golden Knight Part 1.  This resulted in finishing the quest immediately, which was a little unexpected because we were around 20/300 testimonies needed.  This

[2016-04-29 20:49] Alys commented on #7129
Thank you very much for reporting this! We've seen this happen before but only under well-understood circumstances when we know of a specific problem that has caused it. Finding it seemingly randomly like this is new and I'm glad we know about it!

I'm sorry your quest ended prematurely. I know that can feel like a demotivating anticlimax. I've given four gems to you and that party member to buy r

[2016-04-29 22:13] librarianmage commented on #7090
@Alys ... I'm getting the errors again.

[2016-04-29 22:58] Alys commented on #7118
I'm closing this now but if you'd like more help, see the advice from my previous post, and let us know whether that worked or not. We'll still see your reply and can reopen this if necessary.

[2016-04-29 22:58] #7118 closed, assigned to nobody

[2016-04-29 23:09] Alys commented on #7125
I'm definitely in favour of this. The only problem I can see is that when terms are gamified, some users have a lot of trouble understanding them, and "Wild" will probably be one of those cases, but I love the term and think it works and we should use it. We can minimise confusion by having a small sentence on the Pets and Mounts pages explaining what "Wild" means. Something vaguely like "These ar

[2016-04-29 23:28] Alys opened #7130 "Fix Character Values labels are confusing on small screens"
In the Settings > Site > Fix Character Values screen, the labels are currently on the right of the fields, and when the screen is viewed in a small window (e.g., a phone), the labels drop down to the next line and it's easy to become confused about which field is which:

![screen shot 2016-04-30 at 9 26 15 am](https://cloud.githubusercontent.com/assets/1495809/14932163/ab553ec4-0eb5-11e6-8ca9-6a45

[2016-04-29 23:41] Alys commented on #7090
@MathWhiz The "Error: Cannot find module ..." errors? Does your cloud9 box have a swap file and if so how big is it and your RAM? If it doesn't have one, can you add one and try again? If that doesn't help or is irrelevant, post the full output to a [gist](https://gist.github.com) or similar.

[2016-04-29 23:44] librarianmage commented on #7090
It comes with a swap file, but only has 256 mb (I think) of memory. I have
no idea how I got it to work before
On Fri, Apr 29, 2016 at 6:41 PM Alys notifications@github.com wrote:

[2016-04-29 23:54] Alys commented on #7090
How big is the swap file?

Getting it working before might have been luck if the box was just performing better than usual for some reason. Increasing the swap file size might help.

[2016-04-30 00:09] Alys commented on #7082
Links to the specific files, since they're huge:
- [vagrant_up_--provider_virtualbox.log](https://gist.github.com/nasfarley88/87158b0e731fb8bd25923a3ef97d409d#file-vagrant_up_-provider_virtualbox-log)
- [sudo_npm_install_-g_npmAT3.log](https://gist.github.com/nasfarley88/87158b0e731fb8bd25923a3ef97d409d#file-sudo_npm_install_-g_npmat3-log)
- [npm_install.log](https://gist.github.com/nasfarley88/87

[2016-04-30 03:10] librarianmage commented on #7090
@Alys I don't believe I can, but I will try
On Fri, Apr 29, 2016 at 6:54 PM Alys notifications@github.com wrote:

[2016-04-30 08:26] quin-jay commented on #7090
I'm also having "cannot find module" errors. My c9.io installation stopped working, so I created a fresh Ubuntu VM, created a swap file right away using the DigitalOcean link @Alys provided, and then followed the Wiki's guide on setup as closely as I could.

My swap file is 4GB, and my VM's memory is 512MB (the VirtualBox default).

(Update: Issue persists even when raising "swappiness" from 10 to

[2016-04-30 08:48] quin-jay commented on #7125
@Alys Oh, right, I meant to also suggest how to explain the terminology! What if we updated the tutorial that pops up when you unlock drops*? I can't find the proper file at the moment, but I think Justin already pops up to explain that eggs drop, right?

I do love your idea to have small sentences on the Pets and Mounts pages explaining how you get each kind of pet. And I envision the link to the

[2016-04-30 13:03] Suamppa commented on #7084
Wartzu has done the fix but I'm still trying to kick Zetrou to action...

[2016-04-30 15:18] ghost commented on #7130
Thank you so much for reporting it! I've been thinking about it for quite some time already.

May I add another modal which doesn't look nice for me...

@Alys would you rather like me to create new ticket for these issues?

[2016-04-30 19:34] Alys commented on #7130
@GitHubSphinx A new issue would be best. Thank you!

[2016-04-30 20:05] GitHubSphinx commented on #7130
@Alys sorry, that wasn't meant as an attempt to high-jack your ticket. Moving my comment to another one.

[2016-04-30 20:08] ghost opened #7132 "The death modal looks messy on small screens"
The [death modal](https://github.com/HabitRPG/habitrpg/blob/develop/website/views/shared/modals/death.jade) looks messy for me both on Opera for Android and FF for win - when viewed with small window width

Screenshot is taken in Russian to show all the issues:
![scr](https://i.snag.gy/r35xN4.jpg)
- image and text look misplaced
- dontDespair heading overlaps the image
- the button with refillHeal

[2016-04-30 21:29] lemoness commented on #2451
I think we've moved on from it, actually. So let's close it for now unless
someone feels very passionately about it.

On Thu, Apr 28, 2016 at 6:19 AM, MathWhiz notifications@github.com wrote:

[2016-04-30 21:29] #2451 closed, assigned to nobody

[2016-05-01 00:53] citrusella opened #7133 "Flower not appearing on avatar transformed with shiny seed; unsure if this is intended behavior"
General Info
- UUID:
- Browser: Firefox
- OS: Windows 7 (via Bootcamp on a Macbook Pro)
### Description

Didn't include my UUID because it's apparently happening to everyone (according to discussion in the Tavern), but the hair flowers aren't appearing on flower-transformed avatars. I didn't know if this was an intended change (especially since the wiki still mentions flowers as being the only thi

[2016-05-01 01:17] librarianmage commented on #7130
I can do this (will have to wait until my box works, though)

[2016-05-01 01:18] librarianmage commented on #7132
@Alys I can do this!

[2016-05-01 01:57] librarianmage commented on #7090
Okay, so here is a detailed walk-through of what I go through (with pictures! `such pro`):

### 1. Clone my `habitrpg` repo and set up the `upstream` remote

![image](https://cloud.githubusercontent.com/assets/12386291/14939539/1b700b02-0f11-11e6-9e29-5abd5a7e33e4.png)
c9.io allows you to automatically start a box with a cloned git repository, and it installs without a hitch

### 2. Check `node` /

[2016-05-01 02:16] Alys commented on #7133
The new behaviour is more consistent from a coding point of view (the avatar transformation buffs are meant to override everything on the avatar), and it probably came about when the code was refactored (i.e., the original behaviour might have been a bug) but I'd really like to see the original behaviour brought back if it can be done without too much unpleasant code. When the Shiny Seeds were fir

[2016-05-01 07:01] jtgithub2016 opened #7134 "Cannot Connect to Server Errors"
General Info
- UUID: e44e6069-2e30-49cf-ab49-db41d3134045
- Browser: Vivaldi
- OS: Windows
### Description

I am getting a lot of "cannot connect to server" errors when I try to click on good habits, check off to-dos or dailies, etc.  This problem has become much more frequent in the last 48-72 hours.  I am located in PR China - I don't know if this is a Great Firewall issue.  Logging off and logg

[2016-05-01 07:21] Alys commented on #7134
@jtgithub2016 There might not be much we can do to help if it is due to the Great Firewall. :(

We have https://github.com/HabitRPG/habitrpg/issues/6700 for tracking the server errors that occur sometimes for many users, but there's been very few of them lately so your issue might not be related to that.

Do you have any other browsers that you can use? If so, do you have the same problem on them?

[2016-05-01 07:39] Alys commented on #7090
@MathWhiz and @lynnyliz : I'm pretty sure the only problems are that there's a LOT of modules to install and any box that doesn't have enough power can't handle it (although lynnyliz's box sounds beefy enough). I've been using a server recently on which the installation process works well most of the time, but sometimes it does give the "Cannot find module" errors. When I see those, I run "npm ins

[2016-05-01 07:54] Alys commented on #7117
For the past three days, I've been monitoring xiamo's daily reset (cron) times and the time zone recorded in his Habitica account.

I can see that his time zone hasn't changed at all in those days, which means that it's very unlikely he's having trouble with cron running at the wrong time.

The times of his daily reset are variable:

2016-04-30 10:19:46
2016-04-29 14:47:30
2016-04-28 08:14:47
2016

[2016-05-01 07:57] Alys commented on #6936
@swellingt0n I'm closing this now but if you'd like more help, see my previous post. If you comment here we'll still see if even though this is closed. We can reopen if needed.

[2016-05-01 07:57] #6936 closed, assigned to nobody

[2016-05-01 08:24] Alys commented on #7129
Data extracted from user 52225cdf-88a7-4b35-a306-764d16259748, from a backup made before the cron reported here:

[code]

This has happened before, also under unknown circumstances: https://github.com/HabitRPG/habitrpg/issues/5882

That's the only other occurrence I can find, excluding those that happened from bugs we understand (e.g., the time when a guild quest was started accidentally and it ov

[2016-05-01 10:31] quin-jay commented on #7090
@Alys It didn't (kept getting stuck on babel-runtime/helpers/interop-require, or something to that effect). HOWEVER, I deleted node_modules, ran npm install again (and then again, since it failed on phantom-js), and then after that npm start acted a little funny but everything was fine after an rs! I'm half worried I won't get this running again if I shut it down now (lol), so I'm off to get some

[2016-05-01 10:49] Alys commented on #7090
@lynnyliz Once you have the node modules installed and npm start is working, then shutting it down and restarting it should be safe. `npm start` is a pretty simple process and should just keep working (assuming your own code changes will compile). The only time you're likely to run into problems is when Habitica's code requires new or updated modules and you have to run npm install again. Even the

[2016-05-01 11:13] Jolanda5 commented on #5253
Is this done or is there anything else to do here?

[2016-05-01 11:18] Alys commented on #5253
@Jolanda5 I'm not certain, but Habitica's API and related code is being rewritten at the moment, and the new code is likely to either already have a fix for this issue or make it easier for a fix to be written. I'll mark this issue as "wait" and we'll look into whether a fix is still needed when the new API is released, which should be just a few weeks away.

[2016-05-01 11:26] paglias commented on #5253
This is fixed in v3

[2016-05-01 11:31] #5253 closed, assigned to nobody

[2016-05-01 11:39] crookedneighbor commented on #7134
Vivaldi is based on Chromium, I believe. So it should be fine.

[2016-05-01 12:05] ghost commented on #7005
Closing it as done.

Please feel free to share feedback here or on [Trello](https://trello.com/c/SvTsLdRF/12-translations).

[2016-05-01 12:05] #7005 closed, assigned to nobody

[2016-05-01 12:10] ghost commented on #5155
Somewhere in Transifex UI I've found something which seems to be an easy implementation of web hooks:
https://www.transifex.com/_/resources/ajax/habitrpg/habitrpg/content/autofetch/

As far as I understand, it's meant to automatically update files in Transifex projects when they are changed in the source url.

I haven't tested it yet as the risk of losing translations / translation memory is quite

[2016-05-01 12:17] paglias commented on #5155
I think I tried it but for some reason it didn't work. Actually running our own script is not  a big problem and we can simply automatize it

[2016-05-01 12:29] lynxlynxlynx commented on #7005
So, what was done?

[2016-05-01 12:40] ghost commented on #7005
@lynxlynxlynx please see the "**Reviewers and coordinators for languages**" section in the description for the [Trello card](https://trello.com/c/SvTsLdRF/12-translations). As of now:

[2016-05-01 12:50] Jolanda5 commented on #5937
As far as I can see it this is still an issue. Is somebody working on this or can be worked on this at the moment?

As for the suggestion made: I think the number would better fit into the panel title

[2016-05-01 12:58] paglias commented on #5937
Is this a client side problem or the number is missing from the database?

[2016-05-01 14:26] jtgithub2016 commented on #7134
Thanks much for the quick response.  Things seem better this evening.  I
got one Gateway timed out message, but I think hitting reload fixed it.  I
don't know if the Great Firewall is affecting Habitica, but in case you all
are not familiar with the GFW, it is not a constantt thing.  For instance,
using VPN software at my home is normally ok, but around times of political
sensitivity or instabilit

[2016-05-01 15:04] mgpc3 commented on #6313
I don't think I tried to edit the party details through a mobile app either (I use iOS) but my party seems to be leaderless once again. I'm not sure how long it's been that way, I just noticed today.

UUID: 8f21e403-8e3a-4d75-8824-74fe4712b2ce
Group ID: dbfaff12-f77e-4635-9cab-aad256e616a7

[2016-05-01 22:47] Alys commented on #5937
@paglias It looks like it's a database problem. There's 34 groups that have memberCount 0 and at least two of those do have members (I didn't bother checking the others).

There's also four guilds with negative member counts, although each of them has one member:
{ "_id" : "8d6bee0e-140b-4c80-83b8-d63ef2b6da62", "memberCount" : -1 }
{ "_id" : "bcbf367c-49a9-40d7-8b9a-da318b1b5d7b", "memberCount" :

[2016-05-01 22:50] paglias commented on #5937
Thanks, this too is fixed in v3!
Il 02 mag 2016 12:47 AM, "Alys" notifications@github.com ha scritto:

[2016-05-02 00:02] jtgithub2016 opened #7135 "Loss of Gems"
General Info
- UUID: e44e6069-2e30-49cf-ab49-db41d3134045
- Browser: Vivaldi
- OS: Windows
### Description

This morning, I lost about 9 gems.  There may have been a loss of gold, XP, or MP as well, but the gems are what I particularly noticed.  It seemed like I was getting delayed "credit" for failure to complete a task or something, but I wasn't aware this could impact my gem count.
#### Console

[2016-05-02 00:18] Alys commented on #7135
It's likely that you experienced the bug https://github.com/HabitRPG/habitrpg/issues/4313 in which your browser holds on to data in local storage instead of sending that data to the server for permanent storage. When your browser later syncs to the server, the data it was holding is often lost - i.e., the unsaved changes that you could see in your browser are reverted (although sometimes they are

[2016-05-02 01:04] Alys commented on #7134
Vivaldi has been very responsive for me so I'm no longer suggesting it might be causing the problem. :) It's a nice browser.

When you get the server errors, could you check in the Console to see if there's any error messages and tell us what they are? Ignore the warning that says "Deprecation warning: moment().zone is deprecated, use moment().utcOffset instead. https://github.com/moment/moment/is

[2016-05-02 01:08] Alys commented on #7134
Oh and thank you for the information about the GFW. That's good for us to know.

[2016-05-02 04:11] Gourganator commented on #6644
I have the same probleme but with the Mouse Guard Helm, my ID is b1cf915d-fd2f-4f13-ae4c-74e630e3a8e2

thanks if you can help!

[2016-05-02 04:21] Alys commented on #6644
@Gourganator You have the Warrior seasonal items now. You'll see them on your Equipment page (reload if they don't appear immediately).

[2016-05-02 04:28] loksonarius commented on #6644
@Alys
Hello, I've been redirected to this page by someone from the tavern. I had the same issue happen to me, except that I rebought the armor and the transaction completed, but a few seconds later the Mouse Armor disappeared from my inventory and the 90 gold I spent was gone for good.

I was wondering if I could get some help?

-Dan (891b455c-ca57-488d-9e75-e0cf4c48272f)

Thank you!

[2016-05-02 04:29] Alys commented on #6644
@loksonarius already fixed in the Tavern

[2016-05-02 04:36] loksonarius commented on #6644
@Alys  Thank you!

[2016-05-02 05:14] Gourganator commented on #6644
@Alys the Mouse Guard Helm isn't in my inventory and I still have my 60 gold (I reloaded a lot in the last hour ), is it an other problem or I have to wait?

b1cf915d-fd2f-4f13-ae4c-74e630e3a8e2

thanks for helping!

[2016-05-02 05:30] Alys commented on #6644
@Gourganator That's weird - I was sure I checked after I fixed it. Anyway, the gear is there now. If you'd like to subtract the gold, you can use a custom reward or Settings > Site > [Fix Character Values](http://habitica.wikia.com/wiki/Fix_Character_Values) on the website. Sorry about that.

[2016-05-02 05:33] Gourganator commented on #6644
@Alys thanks! it's perfect!

[2016-05-02 09:11] Jolanda5 commented on #4840
Is this still an issue? Is somebody working on this? Can be worked on this at the moment?

[2016-05-02 11:10] Alys commented on #4840
@Jolanda5 This issue is best not worked on at the moment. Habitica's API and related code are undergoing redevelopment at the moment, and that includes the code related to subscriptions. Any changes made for this issue would conflict with the new API code.

I've actually just made a post about that in the [Aspiring Coders](https://habitica.com/#/options/groups/guilds/68d4a01e-db97-4786-8ee3-05d612

[2016-05-02 13:15] ghost opened #7137 "No Contributor's License Agreement for Transifex Team"
Discussing a way to put an extra comment somewhere on Transifex regarding styling (and maybe give extra link to the Guidance) we've noticed that Habitica Contributors team on Transifex doesn't have Contributor license agreement ([wikipedia explanation](https://en.wikipedia.org/wiki/Contributor_License_Agreement)). Looking into the question, I'd like to point out the following aspect - for what it'

[2016-05-02 14:12] Alys commented on #7137
pinging @veeeeeee (redphoenix)

[2016-05-02 14:55] sujunmin commented on #7117
I chatted with xiamo today, and he said he got right attack time after he changing his device playing habitica, but he still thought that is the services bug XD. I thought there was no evidence or findings for this issue, this issue might be closed, thanks.

[2016-05-02 15:59] #7117 closed, assigned to Alys

[2016-05-02 21:10] #7135 closed, assigned to nobody

[2016-05-02 21:33] switchchan opened #7138 "Stuck quest invite"
General Info
- UUID: 03c6c12c-3ae8-4c4b-bded-d8c326517c95
- Browser: Firefox 45.0.2
- OS: Windows 8.1
### Description

Almost the same issue as: https://github.com/HabitRPG/habitrpg/issues/6880
Left a party, joined another one. Now I'm getting a quest invite every time I visit Habitica, and no matter what I click, it reappears the next time I visit the page.
Tried logging out, cleaning cache etc.

[2016-05-02 22:01] veeeeeee commented on #7137
Duly noted. It might take me a bit to get to this, but yes, it's necessary.

[2016-05-02 22:15] natfarleydev commented on #7082
Yep, I can confirm the non-ascii characters. Just renders as lots of `^@^@^@^@^@^@^@` etc. when looking at it with less.

[2016-05-02 22:55] jtgithub2016 commented on #7135
Yep - all set.  Thanks much.

On Mon, May 2, 2016 at 8:19 AM, Alys notifications@github.com wrote:

[2016-05-03 04:00] Alys commented on #7138
I've remove the quest invitation from your account. If you're still seeing it, please reload the site.

I'm closing this now but if you have more problems, comment again here. We'll still see your reply even though this is closed.

[2016-05-03 04:00] #7138 closed, assigned to nobody

[2016-05-03 09:13] #5937 closed, assigned to nobody

[2016-05-03 09:37] RichardSkolek opened #7139 "Cannot log in"
Hello, I cannot log in to Habitica. The buttons "Play Habitica", "Join for free" and "Gamify your life" don't do anything. When I used it two days ago, everything worked fine.
I tried to clear cookies and local storage and it didn't help.

General Info
- UUID: f37656d7-db29-42b7-9859-1ac8d6ee59aa
- Browser: Firefox
- OS: Windows 10

Any help would be appreciated.

[2016-05-03 10:35] Alys commented on #7139
Please go to https://habitica.com/static/clear-browser-data and click the button you'll see there, and then clear your cookies again. Are you able to log in after that?

If not, please try incognito / private mode in Firefox, and if that fails too, try another browser - Chrome if at all possible.

If it doesn't work in Chrome, open the JavaScript Console and copy-paste the contents of it for us. L

[2016-05-03 10:47] RichardSkolek commented on #7139
Hello, nothing worked with Firefox, but I was able to log in with Chrome and Internet Explorer. However, that does not really solve my problem - I would like to continue using Firefox.

[2016-05-03 11:02] Alys commented on #7139
Yes, no worries, we're happy to help troubleshoot Firefox, we just needed to know first where the problem lies. It's unlikely to be with your account since it works in other browsers, so there's probably something wrong with Firefox itself.

Reboot your PC just in case there's something weird going on that a reboot will fix.

Then start Firefox and disable all extensions without exception (you can

[2016-05-03 11:35] Amphara opened #7140 "Suscription gone after about a week"
General Info
  UUID: 9b520b7f-b3ae-4968-a515-a694ee58f94e
  Browser: Chrome
  OS: Windows 10

Description: After about seven days my subscription has gone. And no I don't how to fix this problem without buying a new one.
Besides, I'm not sure if I received the correct number of mystic hourglasses. But I am not able to look it up at the moment, for I don't have a subscription at the moment.
(Sorry

[2016-05-03 11:53] RichardSkolek commented on #7139
Hello, thank you for your help. I have fiddled with Firefox in the meantime and I am not sure what I did, but all works fine now. Well, everything seems to be in a default setting with most of my information gone, but Habitica works:). Thanks!

[2016-05-03 21:10] reneamac commented on #4252
Hello!

I recently completed The Serpent of Distraction with my team for the second time, but I did not receive the achievement or rewards.

Thanks for your help!
User ID: 862f595d-72a7-42fc-a1d0-324bbb139456

[2016-05-03 23:11] Alys commented on #7139
"Well, everything seems to be in a default setting with most of my information gone"  -- Is it a level 1 character with no personalised tasks? If so, you've created a new account accidentally. You can go to Settings (the gear-shaped icon) then Site to delete it (red delete button at the bottom right of the page).

If it's your same account but some tasks are missing, click the "clear" button next

[2016-05-04 00:02] Alys commented on #4252
@reneamac I've given the achievement and rewards to you. Reload if you don't see them. Please tell me if they don't appear after that!

Admins: I've also given the Night-Owl quest achievement and rewards to martanna (d3baa3cf-3dda-4208-9373-046f5a2f7ea5) who ask about it in the Tavern. I'm posting here in case martanna doesn't see my Tavern message about it and reports it here later.

[2016-05-04 00:55] Alys commented on #7140
I'm so sorry about that! That's very odd. Do you still have the receipt that you were sent by email when you made the subscription, if so, please forward it to admin@habitica.com. We can use that to put your subscription back the way it was.

If you don't have the receipt, can you tell us whether you used PayPal or Amazon or a credit card to make the subscription, and also what email address you u

[2016-05-04 02:21] Ohios commented on #4252
Hello there! My party just completed the The Call of Octothulu quest, and it seems like none of us got the rewards.

My ID: 8b6880fe-dd95-423d-9191-42253eb3c0fd

My Group ID: 3908c727-60d1-4453-a545-463b431a7d86

Thank you for your help!

[2016-05-04 03:08] reneamac commented on #4252
@Alys Got it! Thanks!

[2016-05-04 15:09] wizdave commented on #4174
This happened to me today as well - I checked all the items listed by admin in the original post, but my cron does not appear to have run today. See additional details below:

I just started using Habitica yesterday (May 3) and completed all of the dailies that I had setup, but the dailies have not reset yet today. Additionally I have not done any damage to the party quest boss that I started yest

[2016-05-04 19:37] martanna commented on #4252
Hi!
I recently completed The Night-Owl quest but didn't get my reward. Other members of party did get one after completion.

My User ID:d3baa3cf-3dda-4208-9373-046f5a2f7ea5
My Group ID: 57a98e1b-8872-49f9-aef1-2da4473a9c5c

Thank you for your time and help!

[2016-05-04 19:44] martanna commented on #4252
@Alys thank you for super-quick help. I got rewards after 3 days. Probably poor Errol got lost again...

[2016-05-04 21:14] lovesthesoundof commented on #4846
Same thing happened to me - I then resubscribed for a single month and immediately cancelled, just to get that one month, and now the following appears:

"Canceled Subscription - Subscription will become inactive on 02/03/2016"

As you can see from the date of my post, that is in the past. Hm. I can still buy gems with gold as if subscribed, and I have a pending mystery item box sitting around in

[2016-05-04 22:51] ghost commented on #5631
**_Fixed**_

[2016-05-04 23:37] crookedneighbor commented on #5631
Please submit a pr. I'll merge it right in.

[2016-05-04 23:48] Alys commented on #4174
@wizdave There can sometimes be a problem with cron not running after the first day on Habitica. We aren't sure why but we're almost at the end of a big project to do some code refactoring, so if that doesn't fix the problem, we'll be in a better place to investigate it after that. Regardless, your Dailies should reset correctly tomorrow. Comment again here if they don't. The damage you've accumul

[2016-05-05 00:16] Alys commented on #4846
@lovesthesoundof Sorry about that! Please email admin@habitica.com. Tell them your User ID (to find out how to get it from either the website or app, see step 6 of the [Help > Report a Bug](https://github.com/HabitRPG/habitrpg/issues/2760) instructions), and also what service you used to make the subscription (PayPal, Amazon, or credit card) and what email address is associated with that service.

[2016-05-05 03:25] PuzzleTheDragon opened #7143 "Subscribed and got a gift in my inventory but when I click it is says empty"
General Info
- UUID: ed3b794e-4188-45d6-9380-eb540063d87b
- Browser: Opera
- OS: Windows 10
### Description

Subscribed today and got a present in my inventory when I click it it says empty and there is a little 0 in the corner of the present
![image](https://cloud.githubusercontent.com/assets/19199148/15035397/1a8a80a8-1247-11e6-8abb-e7095ed179fd.png)
#### Console Errors

[2016-05-05 04:06] Alys commented on #7143
That's expected. The Mystery Items are usually released about one week before the end of the month. The box is empty until then. If you hover over the gift box, you'll see a brief message about that, but if you'd like more information, the wiki's [Mystery Item](http://habitica.wikia.com/wiki/Mystery_Item) page has details.

[2016-05-05 04:06] #7143 closed, assigned to nobody

[2016-05-05 10:31] Kettlehead commented on #4252
Hi there, my party recently completed Vice, Part 2: Find the Lair of the Wyrm (Finding Light Crystals) and whilst the other members of the party received the rewards I did not.
User ID: f0340a82-576c-48ff-a4bf-52dc243431ba
Group ID: 5e3447f6-8aae-4f58-bf37-6c4ffcf88c16
Thanks loads in advance! :)

[2016-05-05 10:47] Alys commented on #4252
@Ohios I've given the achievement and rewards to your party.

@Kettlehead I've given the achievement and rewards to you.

Reload if you don't see them. Please tell me if they don't appear after that!

[2016-05-05 11:53] Atomk commented on #6025
I was about to open a new issue, glad someone did before me. All of you have great points to be honest, but it is really confusing. Maybe it could be put in a "Repeat section" external to avdanced options but Alys is still right, simpler is better. @crookedneighbor I can't seem to find information on this redesign but I'm interested, can you point me in the right direction?

[2016-05-05 15:02] lawofthewolf commented on #4252
I recently completed Vice, Part 2 but didn't get any of the rewards or the achievement. It was a fairly quick quest so I'm happy to redo it but would need a new scroll. Another party member was on the quest but I'm not sure if they received anything.

"All items found! Party has received their rewards. -a day ago+1
lawofthewolf found 5 Light Crystals. -a day ago+1"

My ID: 1279e3cc-0ff2-4282-a645-

[2016-05-05 20:59] Alys commented on #7140
Email received. Will deal with this solely by email now.

[2016-05-05 20:59] #7140 closed, assigned to nobody

[2016-05-05 21:02] Alys commented on #7139
I'm closing this now but if you'd like more help with missing tasks, see my previous post and comment here. We'll still see your reply and can reopen this if necessary.

[2016-05-05 21:02] #7139 closed, assigned to nobody

[2016-05-05 21:25] TheSchwamm opened #7146 "May 2016 Enchanted Armoire equipment never delivered"
General Info
- UUID: c7966a3e-1d16-4cd9-8bea-6ed10679f6ba
- Browser: Firefox/Chrome
- OS: Windows of various flavors
### Description

Hello!

While i did see Bailey's announcement that the May Enchanted Armoire gear is available, the items have never appeared.  Hovering over my Enchanted Armoire tells me that new equipment will be available during the first week of the month.

i've tried reloading

[2016-05-05 22:10] Alys commented on #7146
Sorry about that! I've reset the flag in your account that tells you when the Armoire has more gear.

Reload to see the correct Armoire message, but tell me if it still isn't correct!

For our reference, I saw (and fixed) another report of this in the Tavern, so I'm leaving this open so that we can improve the process after API v3 is released.

[2016-05-05 22:26] TheSchwamm commented on #7146
That did seem to work!  i'm just confused about how some people clearly had that flag set while others didn't.

[2016-05-05 22:51] Alys commented on #7146
@TheSchwamm There's a script that is run over all user accounts to set the flag, but there must have been timeouts while it was running, so that some accounts were missed.

[2016-05-05 23:20] TheSchwamm commented on #7146
Welp, i guess we've found a script that needs some error checking.  Happy
to help, haha!

On Thu, May 5, 2016 at 5:51 PM, Alys notifications@github.com wrote:

[2016-05-06 09:34] Alys commented on #7146
Out of all the users who logged in since the beginning of April, I've found about 3760 who had `flags.armoireEmpty` set to true when it should be false (i.e., those people were being told that the Armoire was empty when they did not yet own all of the most recent Armoire items). I've flipped the flag for them so they should find that the Armoire tells them the correct thing now.

There's likely ot

[2016-05-06 10:31] luhm opened #7147 "Not recieving awards of a quest"
General Info
  UUID: 551e07b9-9c6b-4d59-835a-bba077de6911
Browser: Chrome
OS: Windows 7
### Description

I completed a quest with a group and I haven't recieved the rewards, despite another quest started. The Quest I finished was the "The Moonstone Chain, Part 1: The Moonstone Chain Quest". It started around 29th april.
There's another member that experienced the same issue, but I do not have thei

[2016-05-06 10:35] Alys commented on #7147
@luhm Sorry about that!  I can give the quest rewards to you and the other party member. Can you please click on their name in party chat or in the list of party members to see their profile and tell me what their User ID is? You'll see the User ID near the top right of their profile.

[2016-05-06 10:38] luhm commented on #7147
Sure!
user @small_ginger_pirate
User ID: d11b15cd-1fca-4831-9fc1-420cd36a7f47

[2016-05-06 10:54] Alys commented on #7147
Thanks luhm!
I've given the achievement and rewards to both of you. Reload if you don't see them. Please post again here if they don't appear after that!

[2016-05-06 10:54] #7147 closed, assigned to nobody

[2016-05-06 21:03] SabreCat commented on #7146
Tch, what a nuisance. Thanks for the cleanup @Alys!

[2016-05-07 00:02] Alys commented on #7134
Have you been getting any errors recently? If so, was there anything in the Console?

[2016-05-07 00:48] Ohios commented on #4252
@Alys Thank you so much!

[2016-05-07 08:32] BlueeCookie opened #7149 "I can't delete an old task/challenge?"
General Info
- UUID: a96ff047-9d73-4e62-add2-741aeee2a454
- Browser: Chrome
- OS: Windows 10
### Description

[//](#): # I haven't been on in a while, but I know that I should be able to delete this challenge/task? It's not showing up in my participating challenges, and I haven't gotten a notification saying that it's been broken/deleted... When I click on the challenge icon nothing happens?

!["i

[2016-05-07 09:16] Alys commented on #7149
This is an example of this bug: https://github.com/HabitRPG/habitrpg/issues/2763

Please see the steps listed in "Deleting a Challenge Task" on the wiki's [Challenges](http://habitrpg.wikia.com/wiki/Challenges) page. Let us know how that goes!

[2016-05-07 09:18] Alys commented on #4252
@lawofthewolf
I've given the achievement and rewards to you. Reload if you don't see them. Please tell me if they don't appear after that!

[2016-05-07 10:42] Cl0udyy opened #7150 "Cannot join a challenge"
Hi guys,

I can't seem to be able to join the challenge 'First Years' from the guild Hogwarts School of Witchcraft and Wizardry (https://habitica.com/#/options/groups/challenges/338b0609-2ccf-4cb3-84ae-15cfc789b094) as it keeps loading once I've pressed the button to do so. I've already contacted the admin and they want me to write a bug report so here I am.

Does anyone know what to do?

![captur

[2016-05-07 11:28] Alys commented on #7150
Please see this bug report: https://github.com/HabitRPG/habitrpg/issues/1471
The only part you need to read is the section in bold at the top under the heading "What to do if you see "request entity too large" from any action involving a challenge or a guild" (even if you haven't seen  that exact error message, that section in bold should help). Comment here if you still need help!

[2016-05-07 11:50] Cl0udyy commented on #7150
Thank you so much for your help, it works now!

Sorry I didn't take time to go through the other topics to find the solution.

[2016-05-07 12:46] Alys commented on #7150
No worries, and thanks for letting us know!

[2016-05-07 12:46] #7150 closed, assigned to nobody

[2016-05-07 13:17] lawofthewolf commented on #4252
@Alys
Looks like everything is there now. Thank you so much!

[2016-05-07 18:32] NicCHab opened #7151 "Max mana fluctuation"
General Info
- UUID: 8cfa1365-9d42-4dfe-b4e0-480cc6fcc0ac
- Browser: Firefox
- OS: Windows 7

The upper limit of my mana bar keeps switching back and forth between 88 and 126 (so right now I have 87/88 in the mana bar, but last night I had 70/126). It does this maybe once or twice a day, but not on any pattern I can see.

At first I thought maybe it had something to do with whether I'd completed a

[2016-05-07 19:20] luhm commented on #7147
Hey, I know it have been closed, but another member said he haven't recieved the rewards too.

User ID: 5dac9a81-e0b8-4190-88b3-69bce26aa9f0

[2016-05-07 22:42] crookedneighbor commented on #7151
It is related to doing all your dailies. When to complete all of them, it gives you a stat boost for the next day, which includes intelligence, which determines how much mana you have.

[2016-05-07 22:42] #7151 closed, assigned to nobody

[2016-05-08 00:41] Alys commented on #7147
@luhm No worries; replying to a closed issue is correct if you're experiencing the same problem! I've given the achievement and rewards to that player.

[2016-05-08 02:43] Quesseriel commented on #5988
Our party also (f050b02e-3c6a-4bd2-8d03-7597ae262079) is experiencing this bug. I (2cba45b4-7cc8-4f33-9ea1-a4a7369e6fa1) very rarely take damage from others from the boss.  Our party is pretty big (25 currently) and it's only been happening for a couple of weeks, but I'm pretty sure that generally only a few members, usually the same ones, take damage for everyone.  The progress and damage reports

[2016-05-08 03:26] Alys commented on #5988
@Quesseriel and everyone else here: we're close to the end of a large project to improve Habitica's back-end code (make it more reliable, stable, efficient, etc). There's a chance that it will prevent this bug or make it occur less often, or at least make it easier to investigate! For the moment, we're not going to keep looking into this, however I've added it to my list of issues to get back to w

[2016-05-08 08:32] Alys commented on #7082
@nasfarley88 I've been able to get a local install working with the api-v3 branch on a Ubuntu 14.04 non-virtual machine, although I had to increase my swapfile from 2G to 4G before it would work. I followed the usual process in [Setting up Habitica Locally](http://habitica.wikia.com/wiki/Setting_up_Habitica_Locally), using the Unix section, except that before doing the final `npm install` (in the

[2016-05-08 08:33] Alys commented on #7149
@BlueeCookie I'm closing this now but if you'd need more help, let us know how those steps from the Challenges page went. You can comment here and we'll still see your reply and can reopen this if necessary.

[2016-05-08 08:33] #7149 closed, assigned to nobody

[2016-05-08 08:36] Alys commented on #7084
@Zambad When wartzu did the fix, the excess invitation for wartzu's account disappeared from your party's invitations section without me needing to do anything. The same is most likely to happen when  Zetrou does the fix, and even if Zetrou never does, the excess invitation won't be doing any harm, so I'm going to close this now.

We're close to the end of a project to make some changes to Habitic

[2016-05-08 08:36] #7084 closed, assigned to nobody

[2016-05-08 09:11] Rohlik opened #7152 ""Crazy" page after open Habitrpg webpage"
General Info
- UUID: abf7a2d4-caf0-4a98-b053-49313e8fc262
- Browser: Chrome, last version
- OS: Win 8.1
### Description

Something when I open Habit web page I get this:
![habbit](https://cloud.githubusercontent.com/assets/2051154/15096937/a3afb228-150c-11e6-88f6-7ef7db5548c9.PNG)

After F5 is everything OK. I can´t reproduce this bug.

[2016-05-08 09:35] Alys commented on #7152
When that happens, it's because your browser hasn't downloaded all the files it needs from the server, or it has stored incomplete or corrupted data for your profile. It is almost always fixable by reloading the page, or by logging out and logging back in. If you're unable to log out, you can go to https://habitica.com/static/clear-browser-data and click the button that you'll see there, which wil

[2016-05-08 09:35] #7152 closed, assigned to nobody

[2016-05-08 13:44] ltorroba opened #7153 "Level up not being triggered after quest completion"
General Info
- UUID: 8ac1be04-4201-4eed-a2a4-436eada5c0e9
- Browser: Chrome, Safari, Firefox
- OS: Mac OS X
### Description

This morning my party (635ab0d2-a0d1-4660-ab84-a12ea92ed4d1) completed a quest (_Vice, Part 3: Vice Awakens_), granting us 1000 EXP. This took me to 2090 EXP total, above the 1340 EXP threshold for level 52.

![](http://i.imgur.com/DtgjwAD.png)

In an attempt to fix the issu

[2016-05-08 14:03] crookedneighbor commented on #7153
This is a duplicate of https://github.com/HabitRPG/habitrpg/issues/2433

When you check off a task, you'll level up.

[2016-05-08 14:03] #7153 closed, assigned to nobody

[2016-05-08 18:30] NicCHab commented on #7151
Understood; thanks very much!

[2016-05-08 22:16] SabreCat commented on #7134
I've been using Vivaldi for Habit myself lately, and it seems to work at least as well as Chrome. There is one issue where running Habitica in one of Vivaldi's "web panes" is missing some functionality because it doesn't display Javascript confirmation or alert boxes--but we intend to clean those out in favor of homegrown modals already.

[2016-05-08 22:29] ltorroba commented on #2433
@lefnire Sorry to be bringing this out from the grave, but you mentioned that as the experience is handled as a mongo query, you do not have access to the user object to trigger the level up, potentially requiring a major rewrite.

Do you happen to know if this, by any chance, is getting fixed on the API v3 update?

[2016-05-08 23:04] Alys commented on #2433
@zesme We'll be looking into a lot of old issues after API v3 is released, including this one. The code has changed a lot since lefnire's comment, so don't rely on it still being accurate.

[2016-05-09 09:53] paglias commented on #2433
@zesme @Alys unfortunately this bug isn't fixed by v3. The way to fix it would be to load all the users profiles when finishing a quest but it's an expensive operation that we prefer not to do unless really necessary

[2016-05-09 21:00] #6073 closed, assigned to nobody

[2016-05-09 21:02] paglias commented on #5831
Fixed in v3

[2016-05-09 21:02] #5831 closed, assigned to nobody

[2016-05-09 21:02] paglias commented on #5834
Fixed in v3

[2016-05-09 21:02] #5834 closed, assigned to nobody

[2016-05-09 21:03] paglias commented on #5830
Fixed in v3

[2016-05-09 21:03] #5830 closed, assigned to nobody

[2016-05-09 21:08] paglias opened #7158 "[API v3] Announce changes"

[2016-05-09 21:10] paglias opened #7159 "Upgrade NPM dependencies"
- [x] Switch Q for Bluebird
- [x] Jade -> Pug
- [x] See deprecation notices when running `npm install`
- [x] Node 6
- [ ] upgrade lodash (breaking changes!)
- [ ] upgrade validator (breaking changes!)
- [ ] upgrade devDeps

[2016-05-09 21:10] paglias opened #7160 "[API v3] Very long errors from rejected promises can hang the server"

[2016-05-09 21:11] paglias opened #7161 "[API v3] Disable parts of Cron for migration day"

[2016-05-09 21:11] paglias opened #7162 "[API v3] Old API page should be moved to new url and renamed with info for v3"

[2016-05-09 21:12] paglias opened #7163 "[API v3] Go through remaining TODOs"

[2016-05-09 21:12] paglias opened #7164 "[API v3] Test payments"

[2016-05-09 21:12] paglias opened #7165 "[API v3] Test static pages (clear browser data too)"

[2016-05-09 21:13] paglias opened #7166 "[API v3] Put back automatic invitation to party for new users invited via email"

[2016-05-09 21:14] paglias opened #7167 "[API v3] Maintenance mode"

[2016-05-09 21:16] paglias opened #7168 "[API v3] Make sure DEBUG routes are disabled in production"

[2016-05-09 21:17] paglias opened #7169 "[API v3] Review indexes"
Already done but give a look at slow queries to make sure we didn't miss anything

[2016-05-09 21:18] paglias opened #7170 "[API v3] Check that redirect urls points to v3"
- [x] facebook
- [x] payments
- [ ] email unsubscription url

[2016-05-09 21:19] paglias opened #7171 "[API v3] Check that there aren't memory leaks and CPU usage is normal"

[2016-05-09 21:22] paglias opened #7172 "External logging service"

[2016-05-09 22:12] ghost commented on #7014
@Alys one month later, things didn't change much. My subscriber status went up one more month (15 now) thus granting me a mystic hourglass, but nothing close to the 12 months subscription I was expecting, though my credit card has been updated for more than a month now.
So as far as I see it, Paypal didn't try that much to collect my subscription since then.

[2016-05-09 22:41] paglias opened #7173 "[API v3] Update list of benefits for subscribers"

[2016-05-09 22:49] librarianmage opened #7174 "Update Press kit"
Similar to #5906, the press kit should probably updated to include Android screenshots (if other people get the pictures, I wouldn't mind putting them in :wink::wink:)

@lemoness @Alys @crookedneighbor

[2016-05-09 22:53] librarianmage commented on #7174
It might also make sense to look into a different way of displaying the images. It currently looks rather cluttered, and the page currently has a (deactivated) carousel like thing in it.

[2016-05-10 02:28] larewenevenstar opened #7175 "enchanted armoire issues"
- Browser: safari
- OS: os x (10.11.4)

Description
since the announcement of the new enchanted armoire items, i've not been able to get any of the new sets from it. i've not had this problem previous months. when i open the armoire i get either just experience or food from it, but never the new items. i checked my equipment and i don't see any of them there, so it's not just that i missed a notif

[2016-05-10 03:21] lhong1987 commented on #4252
Group ID: b17d08f1-f24d-4586-9715-554e58f299aa
User ID: edddaa05-ed14-4e3b-ab3f-341a27689b32

I finished "The Golden Knight, Part 2: Gold Knight"
It registered that I completed the quest but scroll for part 3 has not appeared.

Cheers

[2016-05-10 03:36] Alys commented on #7175
To investigate this, we need to be able to look at your account, so we need your User ID. To find out how to get it from either the website or app, see step 6 of the [Report a Bug](https://github.com/HabitRPG/habitrpg/issues/2760) instructions (also available from Help > Report a Bug in the Habitica website's menu).

[2016-05-10 04:03] larewenevenstar commented on #7175
here's my user ID: da975ccc-2fd2-4e97-9da8-cfcc269c008b
sorry i didn't include it before, i only noticed the bit about the API and didn't want to include it for obvious reasons. ^^

[2016-05-10 07:08] Alys commented on #7175
@larewenevenstar You have all of the Armoire's items, including the ones from this month.

Sometimes the Armoire reports a different item than it actually gives you (to avoid that happening, sync before using the Armoire, and allow the automatic sync to finish after each Armoire purchase before you make another one). I think it's likely that that's what happened when you were given the new items.

[2016-05-10 07:10] Alys commented on #4252
@lhong1987 I've given the achievement and rewards to you. Reload if you don't see them. Please tell me if they don't appear after that!

[2016-05-10 07:21] Alys commented on #7014
Thank you for telling us! I've instructed PayPal to try to take the payment again. Once that goes through, I'll update your subscription details, including your Hourglasses to give you the extra three you should receive (four in total for another year's payment).

[2016-05-10 08:32] remjey commented on #5109
Hi, I’ve just stumbled upon this problem on the production website. It has happened each time one of our rogues cast Tools of the Trade. On the other hand, my Valorous Presence spell seems to apply a correct bonus value.

[2016-05-10 08:49] Alys commented on #7161
My plans (comments, suggestions, changes welcome):
- [x] Look through cron code in detail to see if anything else should be added below.
- [x] Create a permanent "safe mode" flag for cron so that the after-maintenance behaviour can be turned on and off easily.
  - [x] Adjust config.json to contain CRON_SAFE_MODE environment variable, set to the **string** `"false"` normally.
  - [x] Adjust api-v3

[2016-05-10 08:57] Alys commented on #5109
@remjey Can you give us more details? What buff were you expecting to get? What buff did you actually get? How many times was Tools of the Trade cast? Which player cast it (their User ID please, which you can find near the top right of their profile, which you see when you click on their name in party chat or party membership list). What is your User ID (to find out how to get it from either the w

[2016-05-10 08:58] remjey commented on #5109
@Alys I’m sorry, my bad, I was using a translated wiki article as a reference, but actually it is very outdated. I made the calculations again with the formulas from the english wiki and everything is fine.

[2016-05-10 09:06] Alys commented on #5109
@remjey Thanks for letting us know!

Would you mind telling us which wiki article it was? We should get that retranslated. I'm really sorry it caused confusion. :(

[2016-05-10 09:10] remjey commented on #5109
Sure, on http://fr.habitica.wikia.com/wiki/Voleur it says that « Outils de Travail » (Tools of the Trade) will give a PER × 0,03 buff, with examples for PER==50 => buff==1.5 and PER==100 => buff==6.

[2016-05-10 10:04] Alys commented on #5109
@remjey Thanks! I've posted in the [Commonwealth of i18n - Aspiring Linguists of Habitica](https://habitica.com/#/options/groups/guilds/7732f64c-33ee-4cce-873c-fc28f147a6f7) guild to ask if someone will update the French page.

Of course if you'd like to, you'd be welcome to! :) If you're interested in getting involved in wiki translations, we have [Guidance for Linguistic Scribes](http://habitica

[2016-05-10 10:58] Alys commented on #7161
I've edited my list in my first comment to add these:

- [ ] ??? A subscription that is due to terminate is not terminated? This would prevent complaints about not being able to get the subscription benefits for the final day of the subscription. Not so important for a maintenance window of less than a day, but would be important if there's ever a longer one in future (or if we use maintenance mod

[2016-05-10 11:59] paglias commented on #7161
I think we don't care about purging old todos and history compression happening a day later and it shouldn't cause perf problems

[2016-05-10 13:33] Vijaysp commented on #4591
I am getting this error in Jenkins,
I did a change in main.less file and while deploying using grunt deploy -debug
4mRunning "less:generate" (less) task[24m
[D] [35mTask source: /opt/app/jenkinsws/module/node_modules/grunt-contrib-less/tasks/less.js[39m
[33mWarning: Cannot find module 'promise' Use --force to continue.[39m

[2016-05-10 13:36] WillowKB commented on #4252
Heya! Our Group completed Vice Part 2, but no one has received the rewards or the new scroll.

My Username: Willow13
My UserID: 0111e48f-f912-40f7-8126-8c066d8002ae

Group ID: 3c45b3e1-b7a0-4a7d-914c-246b52b2367d

[2016-05-10 14:47] paglias opened #7177 "[API v3] Review i18n strings and push to Transifex"

[2016-05-10 14:49] paglias opened #7178 "Activate or remove skipped tests in server code"
We have a lot of skipped tests in the server side code, they should be activated or removed

[2016-05-10 14:50] paglias opened #7179 "[API v3] Rename website/src and website/public to /website/server and website/client"
Something I've been wanting to do for a long time :)

@SabreCat @Alys @crookedneighbor what do you think?

[2016-05-10 15:01] paglias opened #7180 "[Post API v3] Port IAP"
Was not ported in v3 because it would have required changes in mobile apps

[2016-05-10 15:02] paglias opened #7181 "[Post API v3] Payments refactor"
- [ ] proper tests
- [ ] proper urls
- [ ] do not pass data a stringified query parameters

[2016-05-10 15:05] ghost commented on #5631
Reported on Transifex by @lyubomirv:
`gemButton` says

even if number is 1

introduced with https://github.com/HabitRPG/habitrpg/pull/4733

[2016-05-10 15:10] ghost commented on #5631
Using this old thread as an external memory:

the following system message doesn't look natural:

[2016-05-10 15:50] #7160 closed, assigned to nobody

[2016-05-10 15:50] paglias commented on #7160
Fixed in api-v3

[2016-05-10 16:28] SabreCat commented on #7179
Definitely more readable that way!

[2016-05-10 16:30] SabreCat commented on #7161
Analytics shouldn't need anything unusual. We do need to make sure we still send the cron event, because that's the most reliable indicator we have of a user checking in on a given day.

[2016-05-10 17:17] TeresaEllis commented on #7134
I don't know if this is the right thread, but I am also getting a "can't connect to server" or "timed out error".  I just started two days ago and the first day was fine.  I can still get HabitRPG Metro to work, but when I go online, nothing finishes refreshing.  I have tried using Firefox and Microsoft Edge and both have problems, where neither did the day before.  I also signed my son up for an

[2016-05-10 18:08] crookedneighbor commented on #4591
We don't use less. Are you sure you meant to post in this repository?

[2016-05-10 18:09] crookedneighbor commented on #7179
Do it.

[2016-05-10 19:03] larewenevenstar commented on #7175
they seem to have appeared now, they were there when i last checked,
thanks for your help, sorry to bother you! you can go ahead and close this now if you want ^^

[2016-05-10 19:16] TheHollidayInn commented on #7159
The Express projects have an automatic issue posted every month to update dependencies. It might be a good thing for us to do as well.

[2016-05-10 20:30] #7175 closed, assigned to nobody

[2016-05-10 20:44] remjey commented on #5109
I see somebody did it already, so I guess maybe next time I spot an inconsistency ;)

[2016-05-10 20:52] paglias commented on #7159
I wanted to use https://greenkeeper.io/ but first we have to upgrade a lot of things

[2016-05-10 21:12] paglias commented on #7179
Will do after client is merged

[2016-05-10 21:16] Alys commented on #7179
Awesome idea. Much easier to understand.

[2016-05-10 21:20] Alys commented on #4252
@WillowKB  I've given the achievement and rewards to your party. Reload if you don't see them. Please tell me if they don't appear after that!

[2016-05-10 21:30] Alys commented on #7090
MathWhiz has got a local install running on a more powerful server, and it looks like @lynnyliz has it working too.

@BrunoAssis (or anyone else) If you're still having trouble, delete the node_modules directory so that you can get a fresh start with the `npm install` commands, rebase your local install to get the latest code, compare config.json with config.json example and add any new items that

[2016-05-10 21:30] #7090 closed, assigned to nobody

[2016-05-10 21:56] Alys commented on #7014
PayPal has collected the $48 from you now.

I've given you the missing three Hourglasses. Your monthly gem cap is already at the maximum, so that's correct. I'll check on your Habitica account's subscription details again this time next month to ensure that the monthly count is ticking over correctly.

Thank you for your support and I'm sorry it's been troublesome for you!

For my reference:

[cod

[2016-05-10 21:56] #7014 closed, assigned to nobody

[2016-05-10 22:47] Alys commented on #7134
@TeresaEllis Do you have any programs or services on your computer or on network devices in your home that might be blocking access? For example, do you use a proxy server or software like Net Nanny‎ that blocks access to websites that aren't on a child-safe whitelist? By the way, if your son is younger than 13, could you please read the "Legal Requirement" section at the top of [Children Using Ha

[2016-05-10 23:02] Thornclaw9000 opened #7183 "Pets cannot be fed :("
I've clicked the don't show message again when you feed at pet (on accident) and now it won't let me feed them :(

[2016-05-10 23:11] Alys commented on #7183
Close your browser (all tabs and windows) and reopen it. That setting is a browser feature and that's how you make your browser reset your decision.

[2016-05-10 23:11] #7183 closed, assigned to nobody

[2016-05-10 23:19] TeresaEllis commented on #7134
My son is 13, so that shouldn't be the problem.  I can't find any program or service that would block Habitca and my account isn't refreshing either.  As I say, I can use HabitRPG Metro, which is nice or I wouldn't be able to use the program at all and I really like it.  I am staying on task better than I have with anything else.  It is when I go online or when my son goes online where the 'error

[2016-05-10 23:25] Ohios commented on #4252
Hello again! My group just completed the Rooster Rampage, and it seems like some of us did not get the rewards.

My UID is 8b6880fe-dd95-423d-9191-42253eb3c0fd

My Party's ID is 3908c727-60d1-4453-a545-463b431a7d86.

Just wondering, is there something we can do to prevent this from happening? It's happened to us a few times already, so I want to make sure we're not doing anything wrong. :)

Thank

[2016-05-11 00:04] Alys commented on #4252
@Ohios
I've given the achievement and rewards to your party. Reload if you don't see them. Please tell me if they don't appear after that.

I'm sorry about the repeated problems you're having! It happens when the quest process times out before it has given the rewards to all the players in the party. This occurs much more often when there's a lot of players, so reducing the size of the party is, u

[2016-05-11 01:14] crookedneighbor commented on #7159
@paglias We shouldn't upgrade to Node 6 until it becomes the stable release.

👍 for greenkeeper. I use it a lot and it's great.

[2016-05-11 05:22] Vijaysp commented on #4591
Please remove the post, it should go to other repo.
Thanks

[2016-05-11 05:32] Alys commented on #4591
Thanks @Vijaysp !

[2016-05-11 07:53] mael2 commented on #6279
same issue here
@Alys can you remove me from my party please?

UUID 6c470c1d-5238-4af7-84b8-da5f95b2fb11
Group ID: 190d313c-f286-4c08-8b5c-f07c1226613d

thanks!

[2016-05-11 08:10] paglias commented on #7159
Node 6 is a LTS and as far as I know it's been released a few days ago
Il 11 mag 2016 3:14 AM, "Blade Barringer" notifications@github.com ha
scritto:

[2016-05-11 08:58] Elythingol opened #7185 "Dailies tasks left from previous month challenge"
General Info
- UUID: dde908b3-dbb7-46ce-9a9b-dcb4d58f1347
- Browser: Google Chrome Version 49.0.2623.112 m
- OS: Windows 8.1
### Description

I have dailies tasks left from previous month challenge.Currently, i don't have active challenges.

![screenshot_14](https://cloud.githubusercontent.com/assets/7562146/15175534/75cad76a-176f-11e6-9c6e-1bae5c81a0a0.png)
![screenshot_1](https://cloud.githubuse

[2016-05-11 09:20] paglias commented on #7159
Oh it looks like it won't become an official LTS until October
Il 11 mag 2016 10:09 AM, "Matteo Pagliazzi" matteopagliazzi@gmail.com ha
scritto:

[2016-05-11 10:17] Alys commented on #7185
@Elythingol Sorry about this! It's an example of this bug: https://github.com/HabitRPG/habitrpg/issues/2763

Please see the information in bold in the first post in that bug report.

I'm closing this now since we already have it reported, but if you need help after following the steps from that bold section, you can comment either here or in that bug report.

[2016-05-11 10:17] #7185 closed, assigned to nobody

[2016-05-11 10:28] Alys commented on #6279
@mael2 That should be done now. Please reload the website or refresh the app (or you might need to log out of the app) and tell me if anything doesn't look right.

[2016-05-11 10:29] mael2 commented on #6279
thanks for the fast response, i'm no longer in the party

[2016-05-11 10:39] Mithedhelwen commented on #7061
Hi--I have the exact same issue described above:  In a party of two, my other party member is doing a little damage, but I completed all my dailies and loads of to-dos yesterday (and spent lots of mana adding "burst of flames to most of them), and I haven't done any damage at all.  Please advise.  Thanks!

User ID:  ee648396-666e-40cd-af3e-7912ced3a2b8
Group ID:  bf19fe3b-fb18-4b6d-8b5e-c68fd79353

[2016-05-11 11:10] Alys commented on #7061
@Mithedhelwen I can see that you joined Habitica only a day ago, and have been through only one cron since then ([cron](http://habitica.wikia.com/wiki/Cron) is the process that resets your Dailies at the start of each day, and also applies your quest progress and does other things). Either the quest started this morning after your cron happened, or it started yesterday and you were [resting in the

[2016-05-11 12:41] paglias commented on #7159
Updated a bunch of libraries (not devDeps) but not Lodash or validator because they introduce some breaking changes that are difficult to solve.
- validator throws an error when a value is not passed instead of returning false
- lodash renamed so many functions I was getting mad

[2016-05-11 12:55] paglias commented on #7159
Pug is going to be available on npm only after v2

[2016-05-11 14:46] paglias commented on #7159
Deprecation notices are only for devDeps

[2016-05-11 21:05] keysmashes opened #7187 "Error on guild pages"
General Info
- UUID: 0e1d15f7-f36b-4f15-a9e1-0c31b732dac9
- Browser: Chrome 50
- OS: Ubuntu 14.04
### Description

Going on any guild page causes an error. It doesn't happen in the Tavern, only guild pages (so I assume it's nothing to do with chat).

![image](https://cloud.githubusercontent.com/assets/9433472/15196411/f99e5216-17c3-11e6-8d37-4eebfb674169.png)

![image](https://cloud.githubusercont

[2016-05-11 21:17] Ohios commented on #4252
@Alys thank you so much! I'll let the party leader know. We appreciate everything you do! :)

[2016-05-11 21:20] keysmashes opened #7188 "'How it works' page (/static/features) could use some TLC"
https://habitica.com/static/features ([code](https://github.com/HabitRPG/habitrpg/blob/develop/website/views/static/features.jade)) has screenshots of the old mobile apps, and the boss image is broken. Having buttons sprinkled throughout a paragraph also doesn't look great IMHO:

![image](https://cloud.githubusercontent.com/assets/9433472/15196716/b1e722d4-17c5-11e6-9982-58aa8f26bbaf.png)

I know

[2016-05-11 21:35] Alys commented on #7187
Thank you! We found and fixed that error. Reload and it should stop now.

[2016-05-11 21:35] #7187 closed, assigned to nobody

[2016-05-12 00:55] Thornclaw9000 opened #7190 "Redoing tasks glitch"
It is possible for you to gain free mana/drops/xp/coins by pulling out undone things and redoing them over and over andover until you hit critical. Also, you gain free mana/ coins because those values cannot benegative. Someone could do this on a highly valuable task and level up really quick. Please fix this.

[2016-05-12 01:08] Alys commented on #7190
We're aware of this and we don't mind if people do this kind of "cheating" because it doesn't affect anyone except the player who does it. In fact, repeatedly unticking and ticking the same task is recommended as one way of implementing a "Wishing Well" (https://github.com/HabitRPG/habitrpg/issues/4626#issuecomment-72838554 ). Also if people want to level up quickly, they can do so much more easil

[2016-05-12 01:08] #7190 closed, assigned to nobody

[2016-05-12 01:41] librarianmage commented on #7188
Some of the pictures could be taken from the press kit

[2016-05-12 15:41] mrshinesward opened #7192 "Habits keep resetting"
General Info
- UUID: 10dcd1dd-db7d-4aba-b0e7-ad9179f217b6
- Browser: Chrome
- OS: OS X Yosemite
### Description

I tick off my habits but they keep resetting to yellow
#### Console Errors

[2016-05-12 16:06] TheHollidayInn commented on #7192
Do they immediately reset or does this happen the next day?

[2016-05-12 16:22] mrshinesward commented on #7192
It happens the next day. I just ticked one off, so it's green, but I did the same thing yesterday, and today it was yellow.

[2016-05-12 16:22] paglias opened #7194 "[API v3] Client TODOs"
- [x] load completed todos if Completed tab is clicked
- [ ] review @TODOs
- [x] remove localStorage for the user CAN'T DO

@TheHollidayInn

[2016-05-12 18:19] LagartixaADB commented on #4252
Hello, my party is having the same issue. The group ID is: dbd78fa8-3534-4742-923a-5a42b60734b6 We completed the Serpent of Distraction this morning and the Snail of Drudgery Sludge last week. We just realized today that neither of the quests gave us rewards.

[2016-05-12 20:59] ghost commented on #7034
Hello,

For the party, again with my username (petrajaga), I participated in but didn't receive the awards for the following quests:
- The Moonstone Chain, Part 1: The Moonstone Chain Quest (I've completed this quest once before, but wouldn't mind getting the rewards for this new round - especially the XP)
- The Icy Arachnid

Some more members have mentioned not receiving the Moonstone Chain #1 qu

[2016-05-12 21:22] crookedneighbor commented on #7192
This is the intended behavior. See http://habitica.wikia.com/wiki/Task_Value for more details.

[2016-05-12 21:22] #7192 closed, assigned to nobody

[2016-05-12 22:29] DeweyReadmore opened #7196 "Haven't Received Rewards of Pet Quest"
General Info
- UUID: ac2fd2a7-ab57-4fd9-8512-99d526544e40
- Browser: Firefox
- OS:
### Description

My party recently completed The Icy Arachnid (I was the quest owner), and at least a couple of us have failed to receive the rewards, including myself and user petrajaga, UUID:     94924696-eb5d-4124-a436-ee6f1c71d04f
Can this be fixed? Sorry for the trouble!
Thanks for your help!
#### Console Error

[2016-05-12 23:01] lemoness opened #7197 "Frog Pets are Backwards"
The frog pets are facing the wrong way! Their sprites should be reversed.

[2016-05-13 01:36] lemoness commented on #7174
I agree!

How about these images?
![android screenshot2](https://cloud.githubusercontent.com/assets/3494081/15235458/50c2dfd8-1870-11e6-90f1-109b30cc17e2.png)
![android screenshot4](https://cloud.githubusercontent.com/assets/3494081/15235461/50e852a4-1870-11e6-858c-200ca6f36a58.jpg)
![android screenshot6](https://cloud.githubusercontent.com/assets/3494081/15235463/51129ae6-1870-11e6-8f31-74e55647f

[2016-05-13 01:37] librarianmage commented on #7174
@Lemoness where would I find that?
On Thu, May 12, 2016 at 8:36 PM lemoness notifications@github.com wrote:

[2016-05-13 01:49] lemoness commented on #7174
It's here: https://www.youtube.com/watch?v=hgdeJnSili0

On Thu, May 12, 2016 at 6:37 PM, MathWhiz notifications@github.com wrote:

[2016-05-13 02:32] Melissarie commented on #4252
I seem to also be dealing with this issue. I haven't received rewards for the last 2 quests I've been a part of.
My Username: Melissarie
 My UserID: d04b8cff-7234-46db-bc60-b86e64410998
Quests: Snail of Drudgery Sludge
Serpent of Distraction

[2016-05-13 09:38] habitrpguser opened #7200 "Can't edit "Ghost Ship" guild: permanent "Server currently unreachable" error"
As guild leader of the "Ghost Ship" (Guild ID: 4b4c7c73-884d-42ea-b2f8-e6be35d28479), I (UUID 1aff9116-34b0-438c-9877-06038bdce161) am currently trying to edit the guild's speech bubble ("Message from group leader") and logo. I always get a "Server currently unreachable" error, and the change isn't saved. (Posting in the guild works fine though.)

I guess (but have no proof) that this is related t

[2016-05-13 11:06] Alys commented on #7200
Guild is https://habitica.com/#/options/groups/guilds/4b4c7c73-884d-42ea-b2f8-e6be35d28479 not a4244022-f517-437e-b038-24fa5fe99c32. :)

I've removed the logo and replaced the leader message. The hearts in the challenge name didn't come across because the editor I use didn't handle them properly, but they can be added later. Tell us here if anything else isn't right.

I don't have any firm opinion

[2016-05-13 11:24] habitrpguser commented on #7200
Ooops yes, I shouldn't have accidentally copied the group id of my private testing guild! :-} I edited my original post here accordingly.

@Alys , thank you for fixing this so fast! (What would we do without you?) I'll report again here after the new code goes live. (Then I'll try to put the hearts back in as a test.)

[2016-05-13 12:02] Alys commented on #7196
No need to apologise! I'm sorry this bug hit you!

I've given the achievement and rewards to you both. Reload if you don't see them. Please post again here if they don't appear after that!

[2016-05-13 12:02] #7196 closed, assigned to nobody

[2016-05-13 12:06] Alys commented on #7034
@petrajaga
Could you please tell me your User ID? To find out how to get it from either the website or app, see step 6 of the [Report a Bug](https://github.com/HabitRPG/habitrpg/issues/2760) instructions (also available from Help > Report a Bug in the Habitica website's menu).

[2016-05-13 12:10] Alys commented on #4252
@LagartixaADB  I've given the achievement and rewards to your party. Reload if you don't see them. Please tell me if they don't appear after that!

@Melissarie You're part of LagartixaADB's party.

[2016-05-13 13:23] Melissarie commented on #4252
@Alys  Thank you I didn't realize the whole party was having the issue :)

[2016-05-13 13:24] TheHollidayInn commented on #7194
- [x] Fix Party members in header
- [x] Fix party via invite user
- [x] Fetching party chat
- [x] Fetching tavern chat
- [x] Change get user guilds param to userGuilds
- [x] Fix server message for incorrect group type
- [x] API Token does not appear on settings page
- [x] Guild descriptions do not show
- [x] Challenge member check is not working
- [x] Challenge add tasks is sending request to earl

[2016-05-13 14:12] LagartixaADB commented on #4252
Thank you @Alys !

[2016-05-13 14:34] ltorroba opened #7201 "Question mark icon being rendered in navbar in place of ☰"
General Info
- **UUID**: 8ac1be04-4201-4eed-a2a4-436eada5c0e9
- **Browser**: Google Chrome
- **OS**: OS X
### Description

Yesterday I noticed that the ☰ icons to open up the dropdowns in the navbar were replaced with question mark icons. Much like in Mario. The screenshot below illustrates what I see:

![](http://i.imgur.com/Ww71nwU.png)

Clearing the cache or using Incognito mode on OS X trigger

[2016-05-13 14:42] Amuchia commented on #4174
Someone in my party (user id: 4db332ad-a42c-44a0-9d12-7ee8b16b86a6 ) checks off their dailies before cron but doesn't do any damage to the boss even though they're part of the quest (a quest that just ended, so alas I can't screenshot the quest's participants).

[2016-05-13 15:41] paglias commented on #7194
- [x] target should not appear for skills that have no target (like Searing Brightness)

[2016-05-13 15:42] #7179 closed, assigned to nobody

[2016-05-13 15:43] paglias commented on #7194
- [x] views calls User.user.ops.opName instead of User.opName

[2016-05-13 16:06] librarianmage commented on #7201
It may be that the font isn't loading correctly.

[2016-05-13 16:22] paglias commented on #7194
- [x] Tags selection is broken (adding / removing tags from tasks)

[2016-05-13 16:22] paglias commented on #7194
- [ ] User.sortTag is not a function

[2016-05-13 21:57] paglias commented on #7194
- [x] Battle monsters with friends button (when not in a party or partying solo) doesn't work
- [x] Changed site language doesn't reload page

[2016-05-13 22:37] paglias opened #7206 "[API v3] Are drops working?"

[2016-05-13 22:44] Alys commented on #4174
@Amuchia Are they resting in the inn each night? If so, that will stop their quest progress being applied. See http://habitica.wikia.com/wiki/Rest_in_the_Inn for details. If that's not it and if the person continues to not make progress on the next quest, ask them to post here so that we can go through some troubleshooting steps with them.

[2016-05-13 23:11] ghost opened #7207 "[API v3] Clicking a checkbox causes task to lose checklist and tags"
General Info
- UUID: 28771972-ca6d-4c03-8261-e1734aa7d21d
- Browser: Chrome
- OS: Win 7
### Description

 Attempted to click a checkbox. Blue bar goes across, checklist disappears, as do tags.
This also happens when clicking that "0/3"-type button that shows/hides the checklist.

Edit: Syncing returns them.
#### Console Errors

[2016-05-13 23:30] russodd opened #7208 "[API V3] Rogue Skill Outcome Display Error"
General Info
- UUID: 883df187-945c-44ce-b187-e4400398eefd
- Browser: Chrome Version 50.0.2661.94 (64-bit)
- OS: OS X Yosemite
### Description

When I use one of my rogue skills on a task (tried both Backstab and Pickpocket), a popup saying "Task "undefined" not found." comes up in the top right instead of the message saying that the skill was applied to the task.  All of the other popups appeared

[2016-05-14 00:31] DeweyReadmore commented on #7034
@Alys The UUID for @petrajaga is     94924696-eb5d-4124-a436-ee6f1c71d04f. I just realized that I didn't receive the rewards for Moonstone Chain Part 1 this go around either, interestingly. I've completed that scroll before, though, and I don't need the rewards, but I'll keep asking around in our party to make sure nobody else was affected. Thanks again for all of your help, @Alys ! Sorry for the

[2016-05-14 00:43] agentdwib opened #7209 "Quest Owner won't start quest"
Hopefully I am doing this correctly - the Wiki made me do it :innocent:

BecomeUberHuman is our party and we are stuck waiting for the current quest owner to start the quest.  We'd either like to get the quest started, or abort it so we can start a new quest.

My User ID:  1789fa21-4df8-4064-a555-616dbc032964

[2016-05-14 00:43] Alys commented on #7034
@DeweyReadmore what's your User ID? I'll do both of you at once.

[2016-05-14 00:50] DeweyReadmore commented on #7034
Oh, I don't need the rewards, thanks though! I just mentioned it in case that helps you identify the source of the error or something (not sure whether you keep statistics on this sort of thing?). And I haven't heard back from any other party members about this issue yet, either, so it looks like it's just @petrajaga for now. :) Thanks!

[2016-05-14 01:11] crookedneighbor commented on #7207
Taking a look.

[2016-05-14 01:12] lemoness commented on #7207
Further update: if you try to add another checklist, it will only let you add one, and it will not be saved.

[2016-05-14 01:20] lemoness opened #7210 "[API v3] Searing Brightness - Invalid Target"
General Info
- UUID: 7bde7864-ebc5-4ee2-a4b7-1070d464cdb0
- Browser: Safari
### Description

When Searing Brightness is cast, the target associated with using a skill on a specific task incorrectly appears. If you try to click on anything, it tells you that it is an "Invalid target." The cross persists through different tabs, and the button for Searing Brightness remains highlighted on the task pa

[2016-05-14 01:25] lemoness opened #7211 "[API v3] Errors when Unequipping Battle Gear"
When you click "Unequip Battle Gear" the following messages display:

![apitest1](https://cloud.githubusercontent.com/assets/3494081/15265430/0b38bdb6-1938-11e6-9463-de23f10712cd.png)

[2016-05-14 01:27] lemoness opened #7212 "[API v3] "Equipment Unequipped""
When a piece of Battle Gear is equipped, the message that instead displays is "[Equipment] unequipped."

[2016-05-14 01:30] Alys commented on #7209
How long has it been since the quest invitation was sent?

What attempts have been made to get in touch with the quest owner? I can see that they're still logging in to Habitica.

[2016-05-14 01:32] ltorroba opened #7213 "[API v3] Social > Challenges Error: 'Must supply a valid "type" query string'"
General Info
- UUID: 8ac1be04-4201-4eed-a2a4-436eada5c0e9
- Browser: Chrome, Firefox
- OS: Mac OS X
### Description

Upon accessing the Social > Challenges page (#/options/groups/challenges), the following popup shows up:

![](http://i.imgur.com/II6Z1v0.png)

Furthermore, no challenges whatsoever are listed. This behaviour was observed on both Chrome and Firefox.
#### Console Errors

`GET https://

[2016-05-14 01:33] Alys commented on #7034
Sorry @DeweyReadmore I missed that in your earlier post. We know that this problem isn't caused by a bug as such, it's because when the quest ends, if there's a lot of people who need the rewards or if Habitica is overloaded for other reasons, then the reward process times out before everyone's accounts are modified. We're coming to the end of a project to improve Habitica's code to make it more e

[2016-05-14 01:54] Gooseus commented on #7208
I'm getting the same thing casting Burst of Flames as mage:

![screen shot 2016-05-13 at 9 50 25 pm](https://cloud.githubusercontent.com/assets/39137/15265548/24392bc6-1955-11e6-8cf7-3676d0d1af27.png)

[2016-05-14 01:56] lemoness commented on #7206
I have been paying close attention to this, but have not received any drops, even after boosting my perception and checking off many tasks.

[2016-05-14 01:57] lemoness commented on #7206
Correction! There are now some drops in my inventory that were not there previously, but they never displayed while checking off tasks.

[2016-05-14 02:04] lemoness opened #7214 "[API v3] Progress graph not working"
Clicking on the progress graph on Habits/Dailies does nothing.

[2016-05-14 02:29] Alys commented on #6624
@sundaresvani  and @bakatenko
I'm closing this but if you're still having troupe, see my most recent post to each of you (a different one for each - search upwards for your name), and let us know how that goes. We'll see your reply and can reopen this if necessary.

[2016-05-14 02:29] #6624 closed, assigned to nobody

[2016-05-14 02:54] ghost commented on #7213
Can't make one, either. The drop-down menu with Tavern etc is empty, and it gives "Challenge validation failed" when trying to save.

[2016-05-14 03:17] froggily opened #7216 "[API v3] Errors from dailies from ended challenge"
General Info
- UUID: 634ef54c-8d52-4293-8adc-f0e810dd85dc
- Browser: Google Chrome Version 50.0.2661.86 (64-bit)
- OS: Mac OS X Yosemite 10.10.5
### Description

Clicking either the megaphone or the pencil on a daily from an ended challenge causes an empty grey box to appear where the challenge-ended message should be in the edit menu. Clicking the save button from the edit menu causes a "daily va

[2016-05-14 03:31] froggily opened #7217 "[API v3]Adding multiple tasks at a time causes error"
General Info
- UUID: 634ef54c-8d52-4293-8adc-f0e810dd85dc
- Browser: Google Chrome Version 50.0.2661.86 (64-bit)
- OS: Mac OS X Yosemite 10.10.5
### Description

When adding multiple tasks at a time, the red "Yikes, an error occurred!" message appears with "Error [object Object]" appears. When you sync, the new ones seem to be placed randomly at the top and/or bottom.
#### Console Errors

Failed t

[2016-05-14 03:39] #7207 closed, assigned to nobody

[2016-05-14 03:49] #7212 closed, assigned to nobody

[2016-05-14 03:50] #7211 closed, assigned to nobody

[2016-05-14 03:53] crookedneighbor commented on #7211
Closed with 4dd7c29bafd07faa9d4f079e76b865b81bc41a42

[2016-05-14 04:22] citrusella commented on #7216
Could this be related to the fact that absolutely no challenges seem to be listed on the test site? For that issue, I get a message reading "you must supply a valid "type" query string".

EDIT: Bleh, searched the list before replying to this and managed to miss the separate challenge issue. ~~I need sleep.~~

[2016-05-14 04:25] citrusella commented on #7208
I get the same with Brutal Smash. I have no idea if it's even having an effect and won't know for a whole 24 hours. XP

[2016-05-14 04:43] citrusella opened #7219 "[API v3] Checking one checklist item removes checklist entirely until a sync; after sync, the item checked is now unchecked"
General Info
- UUID: 2d6ef231-50b4-4a22-90e7-45eb97147a2c
- Browser: Mozilla Firefox 46.0.1
- OS: Windows 7 Professional Service Pack 1 (via Bootcamp on a late-2011 Macbook Pro)
### Description

[//](#): # I'd take a screenshot, but my screenshot program isn't cooperating right now... Checking an item on a checklist makes the checklist disappear entirely. It's as if the daily doesn't even have one

[2016-05-14 05:15] taldin commented on #7210
Seconded, ran into this one too.

[2016-05-14 05:19] shanaqui commented on #7213
I could make challenges appear by selecting a group, but the all/none buttons didn't work, and the participating/not participating and owned/not owned sections don't seem to work either.

[2016-05-14 05:21] shanaqui commented on #7219
On a to-do, the to do just disappeared entirely, returned with the checklist in the same condition after a reload.

[2016-05-14 05:24] shanaqui commented on #7206
I am also getting drops, but not the pop-ups.

[2016-05-14 05:30] shanaqui opened #7220 "[API v3] Sticky header not working"
General Info
- UUID: bb089388-28ae-4e42-a8fa-f0c2bfb6f779
- Browser: Chrome 50.0.2661.102 m
- OS: Windows 10
### Description

[//](#): # Sticky header option is not working despite being enabled; it doesn't work when I refresh or check and uncheck it, either.
#### Console Errors

[//](#): # None that I can see, but I am not very familiar with the console.

[2016-05-14 05:40] shanaqui opened #7221 "[API v3] Mage skills"
General Info
- UUID: bb089388-28ae-4e42-a8fa-f0c2bfb6f779
- Browser: Chrome 50.0.2661.102 m
- OS: Windows 10
### Description

[//](#): # Casting Earthquake immediately returns the mana on sync. Message appears in the party window, but buff doesn't seem to be applied.

Burst of Flames appears to work, with the caveat that there's an error message "task "undefined" not found". This occurs on all typ

[2016-05-14 05:50] taldin opened #7223 "[API v3] Blessing costs no mana"
Casting Blessing deducts 25 mana, but then gives you 25 right back.

[2016-05-14 06:05] shanaqui opened #7224 "[API v3] Clicking habits until blue sends them to the bottom of the list"
General Info
- UUID: bb089388-28ae-4e42-a8fa-f0c2bfb6f779
- Browser: Google Chrome
- OS: Windows 10
### Description

[//](#): # Clicking +only habits until they're blue sends them to the bottom of the list the next time you sync. Clicking on them just a couple of times doesn't seem to have that effect, nor does clicking on an already blue +/- habit.

[2016-05-14 06:30] Alys opened #7225 "[API v3] Challenge tag length popup error message is misplaced"
When creating a challenge, if you enter a tag name that's too short, the popup that it must be at least three characters long is pointing at the title field instead of the tag field.

![screen shot 2016-05-14 at 4 26 53 pm](https://cloud.githubusercontent.com/assets/1495809/15266696/eac9b6f2-19f0-11e6-87f9-ae223e9f1bed.png)

[2016-05-14 09:41] Alys opened #7227 "[API v3] Gems cannot be gifted (sent) from one player to another"
### Description

When using the "Send Gift to" modal, the "send" button does not do anything.
#### Console Errors

[code]

There's also incomplete code in the API's transfer-gems route.

I'm working on a fix for this now.

[2016-05-14 10:23] citrusella opened #7229 "[API v3] Chat does not keep updates since last refresh, even when updated or synced"
General Info
- UUID: 2d6ef231-50b4-4a22-90e7-45eb97147a2c
- Browser: Mozilla Firefox 46.0.1
- OS: Windows 7 Professional Service Pack 1 (via Bootcamp on a late-2011 Macbook Pro)
### Description

Fetching recent messages updates the chat... but only for as long as you are on it. Going to another page on the site (without a reload) and coming back puts the chat back in the state it was in when the s

[2016-05-14 10:35] Alys opened #7230 "[API v3] Cannot flag chat messages (and probably can't unflag either)"
### Description

When trying to flag a message, the confirmation modal appears, but clicking on the "Report Violation" button does not dismiss the modal. If you cancel the modal, you can see a flag on the message but the flag disappears as soon as you refetch chat (i.e., it's applied client side but not server side).
#### Console Errors

[code]

I believe that's referring to this code from `websit

[2016-05-14 11:12] Kryzowsky opened #7231 "[API v3] After joining a guild, the join button remains"
General Info
- UUID: 432192fb-66ed-413c-88f6-b1ece628d943
- Browser: Google Chrome 50.0.2661.102 m
- OS: Windows 7
### Description

After joining a guild and going to the guild page, the "Join" button remains (next to the Leave button). AFAIK it should disappear. When clicking it, it states "User already in that group"
#### Console Errors

[2016-05-14 11:17] Kryzowsky opened #7232 "[API v3] Can't start quests (party of one)"
General Info
- UUID: 432192fb-66ed-413c-88f6-b1ece628d943
- Browser: Google Chrome 50.0.2661.102 m
- OS: Windows 7
### Description

I've left my party, created a new by myself, but I can't start quests. Even though I am in a party. I am not sure though if I could start a quest or not if I remained in my party, as a quest invitation there was already on its way.
#### Console Errors

[2016-05-14 11:25] Kryzowsky opened #7233 "[API v3] Checklists - only one checklist item can be added"
General Info
- UUID: 432192fb-66ed-413c-88f6-b1ece628d943
- Browser: Google Chrome 50.0.2661.102 m
- OS: Windows 7
### Description

So, after I've created a new daily, I wanted to add a checklist, but it didn't add a second one, I can only create one checklist item. Same for old dailies and todos overall.
#### Console Errors

[2016-05-14 11:28] Kryzowsky opened #7234 "[API v3] Can't remove or keep tasks from challenges that have ended"
General Info
- UUID: 432192fb-66ed-413c-88f6-b1ece628d943
- Browser: Google Chrome 50.0.2661.102 m
- OS: Windows 7
### Description

Challenges that have ended and have the broken megaphone icon. You click the broken megaphone, then it offers you to keep or remove the tasks, but neither of them does anything.
#### Console Errors

[2016-05-14 11:34] Kryzowsky opened #7235 "[API v3] New tasks appear on the bottom"
General Info
- UUID: 432192fb-66ed-413c-88f6-b1ece628d943
- Browser: Google Chrome 50.0.2661.102 m
- OS: Windows 7
### Description

When adding new tasks, after refreshing the page, they are at the bottom of the list
#### Console Errors

[2016-05-14 11:36] Kryzowsky commented on #7235
Umm, sorry, I found out just after posting this (error regarding multiple to-dos) that this has already been posted, so I changed this to an other issue.

[2016-05-14 11:36] Wariannem opened #7236 "[API v3]: Pet pop-up doesn't show when hatching a pet"
[//]: # General Info
- UUID: a1f425bb-1fa4-4fcc-93d7-56737a8edfe2
- Browser: Chrome (Version 50.0.2661.94 (64-bit))
- OS: Mac El Capitan
### Description

[//]: # The Pet hatched pop-up  doesn't show after hatching a new pet. I ticked the option to show the pet pop-ups just before hatching.

[2016-05-14 11:42] Kryzowsky opened #7237 "[API v3] Open new tasks in edit mode remain in edit mode after refresh"
General Info
- UUID: 432192fb-66ed-413c-88f6-b1ece628d943
- Browser: Google Chrome 50.0.2661.102 m
- OS: Windows 7
### Description

When the "Open new tasks in edit mode" function is checked, tasks remain in edit mode, even after refreshing the page. However, if you cancel/tick the saves, they collapse as normal.
#### Console Errors

[2016-05-14 11:57] Alys commented on #7235
Thanks @Kryzowsky! Don't be worried about creating too many issues though. It's okay to close ones that are no longer needed and open new ones. :)

For anyone keeping track of this by email, this issue, which used to be "Adding multiple habits/dailies/to-dos error", is now about this bug:

"When adding new tasks, after refreshing the page, they are at the bottom of the list"

It might be related t

[2016-05-14 12:00] Alys commented on #7233
Confirmed, and also after reloading, the checklist item disappears.

[2016-05-14 12:05] crookedneighbor commented on #7233
I've fixed this, but the new version of the code has not been deployed. Will leave this issue open so it's easier for people to find.

[2016-05-14 12:43] crookedneighbor commented on #7236
@Wariannem Can you quickly follow up and explain why you closed the issue? I assume you figured it out and it wasn't actually an issue, but I'd like to be sure.

[2016-05-14 12:58] lordmatt opened #7238 "Enchanted Armoire items not appearing in inventory"
General Info
- UUID: 96d68c04-a526-4141-b3ae-1ec7cb0d91c8
- Browser: Chrome
- OS: Ubuntu
### Description

I clicked the Enchanted Armoire a bunch of times. I got two rare items Comical Arrow and Curved (something or other) amour. However, the number of items in my inventory is unchanged. I have no idea if the pet food appeared as I do not know how much of that I had sitting about before hand.
####

[2016-05-14 13:05] Alys commented on #7238
Please see this issue for an explanation and work-around: https://github.com/HabitRPG/habitrpg/issues/5376 (see the text in bold near the top).

[2016-05-14 13:05] #7238 closed, assigned to nobody

[2016-05-14 13:11] Memry opened #7239 "[API v3] Broken Challenge Lnks"
- UUID: e495bd8b-f2f1-48e8-8f5f-9a52710999cf
- Browser: Chrome Version 50.0.2661.102 m
- OS: Windows 7
### Description

A challenge shows the "Broken Challenge Link" message and the megaphone marked in red but when I go into the challenge it does not give the usual "This challenge has been completed and the winner was " message and option to remove tasks

![image](https://cloud.githubusercontent.c

[2016-05-14 13:25] crookedneighbor commented on #7233
This is deployed.

[2016-05-14 13:25] #7233 closed, assigned to nobody

[2016-05-14 13:27] librarianmage commented on #7239
Same as #7234?

[2016-05-14 13:37] Memry opened #7240 "[API v3] No gems in challenges"
General Info
- UUID: e495bd8b-f2f1-48e8-8f5f-9a52710999cf
- Browser: Chrome Version 50.0.2661.102 m
- OS: Windows 7
### Description

No gems in challenges

I have several challenges I have created usually worth about 1 gem each.  (The one displayed is a challenge I use to clone, and yes, it has no participants but should have a gem value.)

Test site image for challenge https://v3.habitica.com/#/o

[2016-05-14 13:43] Memry opened #7241 "[API v3] Challenge filter"
General Info
- UUID: e495bd8b-f2f1-48e8-8f5f-9a52710999cf
- Browser: Chrome Version 50.0.2661.102 m
- OS: Windows 7
### Description

On the challenge page it comes up with no groups selected.  I can select individual groups but when I select "All" nothing happens.  "None" works fine.

[2016-05-14 13:56] Memry opened #7242 "[API v3] data display tool"
General Info
- UUID: e495bd8b-f2f1-48e8-8f5f-9a52710999cf
- Browser: Chrome Version 50.0.2661.102 m
- OS: Windows 7

Data display tool shows inaccurate information.

I just refreshed the display and it shows me with the wrong health, resting in the inn, and with todos due today.  (I just clicked done on all my dated to dos).

![image](https://cloud.githubusercontent.com/assets/7385423/15268825/cff

[2016-05-14 13:57] librarianmage commented on #7242
I think the DDT only shows info from the main site
On Sat, May 14, 2016 at 8:56 AM Memry notifications@github.com wrote:

[2016-05-14 13:59] Memry commented on #7239
Yep.  I searched ahead of time but didn't see it.  My mistake.

[2016-05-14 14:00] Alys commented on #7242
Yes, @MathWhiz is correct. That version of the DDT is linked to the habitica.com site.

There'll be a test version for the API v3 site soon.

[2016-05-14 14:00] #7242 closed, assigned to nobody

[2016-05-14 14:08] crookedneighbor commented on #7219
Looking at this now.

[2016-05-14 14:11] Memry commented on #7227
I tested it within the last hour and I it said it sent.  My gem counter decreased by one.  (I sent the gem to Kryzowski 432192fb-66ed-413c-88f6-b1ece628d943)

My UUID is e495bd8b-f2f1-48e8-8f5f-9a52710999cf

[2016-05-14 14:13] Memry commented on #7206
I just checked off enough to-dos to raise my level twice.  Not a single drop said it displayed and I have no new food for my pets.

[2016-05-14 14:15] crookedneighbor commented on #7219
@shanaqui @citrusella I can't reproduce this now. I did some work on the checklists last night so I think I fixed the bug then. Is it working for you now?

Going to close this now, but definitely re-open it if there's still a problem.

[2016-05-14 14:15] #7219 closed, assigned to nobody

[2016-05-14 14:16] agentdwib commented on #7209
Apparently this has been resolved.  The party leader was able to remove the
quest owner from the party and this removed the quest.  Sorry to bother
everyone!

On May 13, 2016 9:30 PM, "Alys" notifications@github.com wrote:

[2016-05-14 14:21] Alys commented on #7209
No worries! Thanks for letting us know!

[2016-05-14 14:21] #7209 closed, assigned to nobody

[2016-05-14 14:22] Alys commented on #7227
Yes, the fix for it has gone live. Thanks Memry!

[2016-05-14 14:22] #7227 closed, assigned to nobody

[2016-05-14 14:25] crookedneighbor commented on #7240
Looking now.

[2016-05-14 14:30] shanaqui commented on #7219
Yeah, looks like whatever you did fixed it. I've tested both dailies check lists and to dos.

[2016-05-14 14:36] crookedneighbor commented on #7241
Looking. I think I know what it is.

[2016-05-14 14:47] TianJinRong opened #7243 "When editing the details of task, the input area of description can be expanded exceed the limit of the task panel."
General Info
- UUID: 0207d2fe-a324-4ae1-9cd9-60772ce89a8b
- Browser: Google Chrome
- OS: Win 10
### Description

![image](https://cloud.githubusercontent.com/assets/9194532/15269045/62905234-1a25-11e6-9132-fbeabc6ec1a5.png)
When editing the details of task, the input area of description can be expanded exceed the limit of the task panel.
#### Console Errors

[2016-05-14 14:52] Alys commented on #7243
That's deliberate. It allows a player to give themselves more room to read or write notes. It does look ugly, but it's fully under the control of the player so they can shrink it back down if they don't want it to be that large. For long notes or notes with wide lines, it can be very useful.

[2016-05-14 14:52] #7243 closed, assigned to nobody

[2016-05-14 14:56] crookedneighbor commented on #7241
Fixed with https://github.com/HabitRPG/habitrpg/commit/a697d028b7e999c5e29ad66158ff7d1cffddd09d and deployed.

[2016-05-14 14:56] #7241 closed, assigned to nobody

[2016-05-14 14:57] crookedneighbor commented on #7240
@paglias I think this is an issue with the migration script.

[2016-05-14 14:58] crookedneighbor commented on #7234
Copying from #7239

A challenge shows the "Broken Challenge Link" message and the megaphone marked in red but when I go into the challenge it does not give the usual "This challenge has been completed and the winner was " message and option to remove tasks

![image](https://cloud.githubusercontent.com/assets/7385423/15268660/140768d0-199b-11e6-960a-fdf7a048f82c.png)

[2016-05-14 14:59] #7239 closed, assigned to nobody

[2016-05-14 15:11] TheHollidayInn commented on #7194
Fixed:
-  (the one about the timezone is needed)
- Changed site language doesn't reload page
- Tags selection is broken (adding / removing tags from tasks)
- Battle monsters with friends button (when not in a party or partying solo) doesn't work
- load completed todos if Completed tab is clicked

[2016-05-14 15:12] TheHollidayInn commented on #7208
Thanks! I believe this is happening for all skills that require a target.

[2016-05-14 15:14] crookedneighbor commented on #7213
The original issue is fixed. Not sure about

If that's still occurring, open a new issue.

[2016-05-14 15:14] #7213 closed, assigned to nobody

[2016-05-14 15:15] TheHollidayInn commented on #7231
@paglias This should be working now with my latest fixes.

[2016-05-14 15:16] TianJinRong commented on #7243
Should we only limit the width of the input area might be better?

[2016-05-14 15:18] crookedneighbor commented on #7243
No. This has been brought up before and we decided against it at the time. We're going to start work on a redesign of the frontend, so we'll revisit this then.

[2016-05-14 15:44] crookedneighbor commented on #7231
Should be fixed now. Re-open if not.

[2016-05-14 15:44] #7231 closed, assigned to nobody

[2016-05-14 16:08] TheHollidayInn commented on #7210
@paglias @crookedneighbor I am pushing a fix that should fix the invalid target.

As for the persistent target `spell.immediateUse` is not being populated, and I am looking into it.

[2016-05-14 16:20] citrusella opened #7244 "[API v3] Attribute points cannot be manually allocated"
General Info
- UUID: 2d6ef231-50b4-4a22-90e7-45eb97147a2c
- Browser: Mozilla Firefox 46.0.1
- OS: Windows 7 Professional Service Pack 1 (via Bootcamp on a late-2011 Macbook Pro)
### Description

Decided to test rebirth (which appears to be working fine) and class selection (I chose rogue). Previous incarnation, I had auto-allocation for task based selection turned on. Upon upgrading to rogue, I ha

[2016-05-14 16:25] citrusella commented on #7244
Turns out the server just didn't actually level me up but my browser thought I was. XP Whoops. Still only had one allocated by the auto-allocation, though--is that normal?

[2016-05-14 16:52] WillowKB commented on #4252
Hi, me again! :)

Our group completed the Dilatory Distress, Part 1: Message in a Bottle, and didn't get the rewards.

My Username: Willow13
My UserID: 0111e48f-f912-40f7-8126-8c066d8002ae

Group ID: 3c45b3e1-b7a0-4a7d-914c-246b52b2367d

Thanks :)

[2016-05-14 17:11] quin-jay opened #7246 "[API v3] Unchecking Daily with completed checklist only subtracts mana"
General Info
- UUID: 1534a0ee-2f69-4c2e-9659-0d719ac2ea68
- Browser: Chrome 50.0.2661.94 m
- OS: Windows 10
### Description

Steps to replicate:
1. Make a Daily with at least one checklist item
2. Check off all checklist items
3. Check off Daily
4. Uncheck Daily
5. Mana is deducted, but not XP or Gold

Having one but not all checklist items ticked off results in the expected behavior when checking

[2016-05-14 17:33] ghost opened #7247 "[API v3] Challenges filter by membership doesn't seem to work"
General Info
- UUID: ffa26f90-f4cf-40b5-8b3b-aca988ab8ed2
- Browser: FF 46.0.1
- OS: win10
### Description

In challenges nothing is listed if I choose to filter the ones I take part in, or the ones I don't take part in. Only All works fine
#### Console Errors

[2016-05-14 17:35] ghost opened #7248 "[API v3] Unable to delete a tasks when editing a new challenge"
General Info
- UUID: ffa26f90-f4cf-40b5-8b3b-aca988ab8ed2
- Browser: FF 46.0.1
- OS: win10
### Description

I'm creating a new challenge: I add a habit/daily/task/reward, but before saving the challenge I decide to delete the habit/daily/task/daily. The site gives an error: Task not found
#### Console Errors

[2016-05-14 17:38] ghost commented on #7248
After saving a new challenge, it seems there's still no way to delete a task

[2016-05-14 17:42] ghost opened #7249 "[API v3] No info about participants in challenges"
General Info
- UUID: ffa26f90-f4cf-40b5-8b3b-aca988ab8ed2
- Browser: FF 46.0.1
- OS: win10
### Description

Challenges show the number of participants, but the details don't show the How's Everyone Doing? section. When I try to end a challenge and declare a winner, the list of participants is empty
#### Console Errors

[2016-05-14 18:02] quin-jay opened #7250 "[API v3] Can't leave challenge -- "Remove-" and "Keep tasks" links both non-functioning"
UUID: 1534a0ee-2f69-4c2e-9659-0d719ac2ea68
Browser: Chrome 50.0.2661.94 m
OS: Windows 10
### Description

Possibly (or probably) related to #7234. Steps to replicate:
1. Join a challenge
(1a. Confirm success by syncing and checking task list -- the button doesn't change from "Join" to "Leave" right away)
2. Click the Leave button
3. In the bubble that pops up, the cursor becomes a pointer finger w

[2016-05-14 18:28] ghost opened #7251 "[API v3] Mistakes in new notification texts"
There is now a new notification when selling items, but depending on the case, its text contains some minor mistakes:

![capture d ecran de 2016-05-14 19-51-54](https://cloud.githubusercontent.com/assets/4882150/15270030/fc601804-1a11-11e6-8ffe-53e46fc3848a.png)
No space between _Pet_ and _Cub_, and _eggs_ is plural but only one can be sold at a time.

![capture d ecran de 2016-05-14 19-57-18](htt

[2016-05-14 18:30] paglias opened #7252 "[API v3] Update apidoc url when releasing"

[2016-05-14 18:34] paglias commented on #7237
This is probably due to the task._editing state being saved to localStorage.

I'm not sure if we should fix it or now @Alys @crookedneighbor

[2016-05-14 18:36] paglias commented on #7234
Will look into this, when migrating there where a lot of tasks where not linked to any challenge...

@Kryzowsky this task on habitica.com was linked to a challenge that had been closed?

[2016-05-14 18:37] paglias commented on #7229
@TheHollidayInn new group object is not being sinced?

[2016-05-14 18:38] paglias commented on #7223
@taldin is blessing applied at all?

[2016-05-14 18:39] paglias commented on #7216
@froggily the tasks you're having a problem with are correctly linked to a finished challenge on habitica.com?

[2016-05-14 18:40] paglias commented on #7210
@TheHollidayInn is this fixed at least partially?

[2016-05-14 18:41] paglias commented on #7244
This one needs a further look

[2016-05-14 18:43] TheHollidayInn commented on #7210
Yea, not completely though.

[2016-05-14 18:44] paglias opened #7253 "[API v3] When creating a challenge no group is selected by default"

[2016-05-14 18:52] ghost opened #7254 "[API v3] Server unreachable notification when creating / joining a guild"
### General Info
- UUID: a75eb6f8-5a29-482f-a971-7aff7438da86
- Browser: Firefox 46
- OS: Ubuntu
### Description

When creating a new guild, I'm getting a _server unreachable_ notification (or some similar text, I have the french version of this text):

![capture d ecran de 2016-05-14 20-43-01](https://cloud.githubusercontent.com/assets/4882150/15270155/6c91c1f6-1a15-11e6-97df-c3c5bfea5e6e.png)

I

[2016-05-14 18:54] paglias commented on #7254
@Blablux can you try again now? thanks

[2016-05-14 18:59] ghost commented on #7254
@paglias Just tried now, same punishment. I might just add that the guild is indeed created, with nothing looking wrong right now. It's just that this notification is weird.

Side note: I may be able to test this a few more times, but I'll soon be completely broke :smile:

[2016-05-14 19:03] ghost commented on #7251
Found a few more new notifications that looks ... wrong:

![capture d ecran de 2016-05-14 20-54-49](https://cloud.githubusercontent.com/assets/4882150/15270209/2c10cc56-1a17-11e6-87e6-017804ed64d1.png)
![capture d ecran de 2016-05-14 20-54-55](https://cloud.githubusercontent.com/assets/4882150/15270210/2c145a24-1a17-11e6-9260-f822cea0c1c7.png)
![capture d ecran de 2016-05-14 20-55-05](https://clou

[2016-05-14 19:08] crookedneighbor commented on #7254
I can't reproduce this. Can you provide all the details to reproduce this? IE, the exact text you're putting into the fields?

[2016-05-14 19:11] citrusella opened #7255 "[API v3] Key to the Kennels does not work"
General Info
- UUID: 2d6ef231-50b4-4a22-90e7-45eb97147a2c
- Browser: Mozilla Firefox 46.0.1
- OS: Windows 7 Professional Service Pack 1 (via Bootcamp on a late-2011 Macbook Pro)
### Description

Key to the Kennels gives a "not found" message after hanging for a few seconds, at least with the free option, but then _appears_ to work (i.e., the paws return). Hatching a pet afterward (which highlights

[2016-05-14 19:24] ghost commented on #7254
The guilds were created as public guilds, with random text in title and description, except for one thing, all guild titles began with _[API v3]_ followed by the random text.

![capture d ecran de 2016-05-14 21-14-34](https://cloud.githubusercontent.com/assets/4882150/15270249/023a4ac2-1a19-11e6-8ac8-725e40c6b4a9.png)
![capture d ecran de 2016-05-14 21-14-35](https://cloud.githubusercontent.com/as

[2016-05-14 19:32] crookedneighbor commented on #7254
Great, thanks for the info.

[2016-05-14 19:59] ghost commented on #7244
Automatic allocation based on task specs.

General Info
- UUID: ffa26f90-f4cf-40b5-8b3b-aca988ab8ed2
- Browser: FF 46.0.1
- OS: win10

Habit - hard, red, Physical, level 1. +++ = OK
The same habit, changed to Other,
--- = death, back to level 1
+++ = level up, `error object Object`, no attribute point, no level up after sync

Console output:

[code]

or should it be reported to a separate issue?

[2016-05-14 20:02] keysmashes opened #7256 "[API V3] Leaving a party with only you in it causes an error"
General Info
- UUID: 0e1d15f7-f36b-4f15-a9e1-0c31b732dac9
- Browser: Chrome 50
- OS: Ubuntu 14.04
### Description

To reproduce:
1. Be not in a party
2. ~~Go to https://v3.habitica.com/#/options/groups/party~~ not necessary
3. Press 'Battle Monsters With Friends'
4. Press 'Send Invitations' and close the popup
   - _you are now in a party containing only yourself_
5. Press 'Leave' and 'Confirm'
6.

[2016-05-14 20:02] ghost commented on #7254
I get the exact same notification when joining an existing guild (reproduced on four different guilds). I load the _Public guilds_ list, hit the _Join_ button on any guild, and while the newly joined guild is loading, I once again get a _Server currently unreachable_ notification.

![capture d ecran de 2016-05-14 21-59-06](https://cloud.githubusercontent.com/assets/4882150/15270397/2af411b8-1a1f-1

[2016-05-14 20:02] GitHubSphinx commented on #7244
correction: no level up (after sync) with that error

[2016-05-14 20:09] GitHubSphinx commented on #7244
or should it be reported to a separate issue?

[2016-05-14 20:20] keysmashes commented on #7237
Can't reproduce – after a refresh, tasks left in edit mode appear like that for a second, but then collapse again. Honestly, I think this behaviour (of previously-open tasks staying open after refresh) might be better, or at least no worse.

#2965 may be relevant?

[2016-05-14 20:28] crookedneighbor commented on #7254
Hmmm... @paglias is it possible that the request is just timing out before it can finish? I'm not seeing any of these issues.

[2016-05-14 20:44] ghost commented on #7254
Now that I can reproduce it at any time, I can give a little more insight about the timing (if that is of any interest).

When joining a guild, first the blue loading/syncing bar on top of the site loads (almost instantly), and give the notification. Then the page itself loads as a whole.

This may also be interesting to note that I'm only seeing this behaviour with the guilds. I still have much t

[2016-05-14 22:06] Alys commented on #4252
@WillowKB  I've given the achievement and rewards to your party. Reload if you don't see them. Please tell me if they don't appear after that!

[2016-05-14 22:11] Alys commented on #7237
I don't think we should fix this. If you've chosen to leave a task open, then you'd want it to remain open, especially if the refresh happened because of Habitica's automatic six-hour reload (even if you lost your edits, you'd at least be able to easily find the task you were editing).

[2016-05-14 22:22] Memry commented on #7242
OK

[2016-05-14 22:53] Memry commented on #7206
Still not getting drops.  And I have changed class to Rogue and have a perception of 166

[2016-05-14 23:12] Memry commented on #2695
It should be a fairly simple item.  The code that select by tag should have a simple not selector capability.

[2016-05-14 23:15] Memry opened #7258 "[API v3] Tags will not filter tasks"
General Info
- UUID: e495bd8b-f2f1-48e8-8f5f-9a52710999cf
- Browser: Chrome Version 50.0.2661.102 m
- OS: Windows 7
### Description

When I select a tag on my Tasks screen - nothing displays.  All tasks disappear.
#### Console Errors

![image](https://cloud.githubusercontent.com/assets/7385423/15271124/127da19c-19ef-11e6-9262-7166bfdce1dd.png)

[2016-05-14 23:19] Memry commented on #7253
I also noticed that the list of guilds dropdown is not limited to guilds I am a member of.  It won't let me create a challenge in another guild, but it was difficult to find a guild I could create a challenge in.

[2016-05-14 23:33] crookedneighbor commented on #7206
I'm looking at this.

@Memry I found I needed to reload the page before the drops appeared, but I _was_ getting them.

This suggests to me that the client is just not doing the `randomDrop` calculation.

[2016-05-14 23:34] paglias commented on #7206
The client doesn't do any calculation for drops, it sends notifications
when the server sends a user._tmp object
Il 15 mag 2016 1:33 AM, "Blade Barringer" notifications@github.com ha
scritto:

[2016-05-14 23:34] Memry opened #7259 "[API v3] Death lies! Greedily!"
General Info
- UUID: e495bd8b-f2f1-48e8-8f5f-9a52710999cf
- Browser: Chrome Version 50.0.2661.102 m
  - OS: Windows 7
### Description

I tested death.  It took my gold as expected, but it also told me my violet floppy hat broke.  What actually broke was my Stephen Weber shaft of the dragon.

[2016-05-15 00:01] Alys commented on #7259
Ah nostalgia... How nice to see this bug again. :scream: :imp: :rage:

To save anyone else's time if they're thinking of searching for this, this is how we fixed it last time: https://github.com/HabitRPG/habitrpg-shared/pull/295/files
but that when the gear was in an array, whereas now its not, so that fix is no longer relevant.

[2016-05-15 00:04] Alys commented on #7259
Huh, correction: randomVal does put them into an array, but it's already sorting it. And the seed isn't specified, so it should be PI, so you'd expect the same behaviour on client and server. Odd.

@Memry Do you feel like dying a few more times to see if Death always lies? :)

[2016-05-15 00:05] Alys commented on #7259
Note the `health = 1` option in the debug menu at the footer of the page. That plus one negative Habit is a fast way of dying.

[2016-05-15 00:11] Alys commented on #7259
Something else to test: If you buy the lost item back before dying again, do you always lose the same item? With no seed being specified, I'd expect that you would, at least until you obtained brand new gear. If that happens, we'll want to change that.

[2016-05-15 00:57] taldin commented on #7223
It's being applied, yes, but you wind up getting the 25 mana back (-25, +HP, +25 MP)

[2016-05-15 01:10] librarianmage commented on #7174
@lemoness The main changes are done, but it still doesn't look great. Some potential things to think about are:
- Change Position of Download Button - It being inline with the download text looks rather jarring and out of place
- Add links to Images?
- Change Image Size - Some of the more important pictures, like the website sample screens, are smaller than, say, the app icons
- Image Presentation

[2016-05-15 01:17] TianJinRong commented on #7243
WOW~ Look forward to NEW VERSION :)

[2016-05-15 01:20] citrusella commented on #7259
Death only lies until it syncs (in my experience with dying), at least as far as I can tell? Is that important to note? It said my diploma broke, presented the Horned Iron Helm in the rewards list, and then fixed itself to diploma when I synced.

[2016-05-15 03:42] crookedneighbor commented on #7206
This is fixed and will be live in the next hour.

[2016-05-15 03:42] #7206 closed, assigned to crookedneighbor

[2016-05-15 04:06] CloJo opened #7265 "API v3: Burst of flames"
General Info
- UUID: 99463fab-e36e-4f8b-87f6-a6f925850ed8
- Browser:  Safari
- OS:  OSX Yosemite, v 10.10.5
### Description

[//](#): # Mage skill burst of flames appears to work, but returns error message "unable to cast on challenge task"  The mana for casting is returned upon sync.
#### Console Errors

[2016-05-15 07:50] Alys commented on #7265
The fact that you can't successfully cast it on a challenge task is actually one of the very few feature changes that this new code introduces. The idea is that skills which adjust a task's value (colour) can't be used on tasks from an active challenge so that it's easier for the challenge creator to judge the challenge using the values of the tasks.

However it sounds like that limitation only ta

[2016-05-15 08:33] ghost opened #7266 "[API v3] "Start a quest" button showing up while already in a quest"
### General Info
- UUID: a75eb6f8-5a29-482f-a971-7aff7438da86
- Browser: Firefox 46
- OS: Ubuntu 16.04
### Description

I started API v3 already in a quest, but the _Start a quest_ button is showing up below the current Quest.

![capture d ecran de 2016-05-15 10-27-01](https://cloud.githubusercontent.com/assets/4882150/15272895/f2d1e81e-1a87-11e6-831b-2add3ddc416c.png)

Clicking on it brings up th

[2016-05-15 08:35] ghost commented on #7266
Just to be sure it wasn't related to the fact that I was on a quest while migrating to API v3, I aborted the quest and created a new one. The _Start a quest_ button is still showing up.

[2016-05-15 08:42] ghost commented on #7251
I haven't tested it on production, but buying a saddle gives notification about "buying saddle food"

[2016-05-15 08:44] ghost commented on #7251
Purchasing quests are missing an _a_ in _purchased_. Also, some quests titles seems odd.
![capture d ecran de 2016-05-15 10-19-10](https://cloud.githubusercontent.com/assets/4882150/15272954/dab8e8ac-1a89-11e6-935e-1054ffb79ead.png)
![capture d ecran de 2016-05-15 10-21-38](https://cloud.githubusercontent.com/assets/4882150/15272953/dab8a2ca-1a89-11e6-93c8-e212bfbdb6aa.png)

[2016-05-15 08:46] paglias commented on #7251
I think we're passing the item's keys instead of translated name...

[2016-05-15 08:50] paglias commented on #7259
This can be due to some differences in stats (for example critical hits are broken right now in v3 so they won't be accounted for on the client)

Will review this at the end of testing when hopefully it'll have disappeared automatically.

Idea for the future: run this code only on the server like for randomDrops

[2016-05-15 08:52] paglias commented on #7244
@GitHubSphinx it's fine to keep it here!

[2016-05-15 08:57] paglias commented on #7256
Fixing this one

[2016-05-15 09:06] paglias commented on #7256
Fixed in https://github.com/HabitRPG/habitrpg/commit/6ab3280045525011bbf906a2965403d2ccad8ecc

Thanks @anowlcalledjosh ! It'll go live at the next deploy

[2016-05-15 09:06] #7256 closed, assigned to nobody

[2016-05-15 09:10] ghost opened #7267 "[API v3] "Join" button not replaced by "Leave" after joining a challenge"
### General Info
- UUID: a75eb6f8-5a29-482f-a971-7aff7438da86
- Browser: Firefox 46
- OS: Ubuntu 16.04
### Description

I went to the challenges page and picked a challenge.

![capture d ecran de 2016-05-15 11-03-59](https://cloud.githubusercontent.com/assets/4882150/15273030/fd0cbe4e-1a8c-11e6-99ca-ee26cf8499b1.png)

Hitting the _Join_ button does increase by 1 the numbers of participants, but th

[2016-05-15 09:13] paglias commented on #7240
This is fixed in https://github.com/HabitRPG/habitrpg/commit/708f495684d6ddcb32d5c2af9cbdaeb21b87efd8 and was indeed a bug in the migration. Unfortunately it won't go live while testing :/

[2016-05-15 09:14] paglias commented on #7237
Closing this, we'll probably fix #2965 sometime in future

[2016-05-15 09:14] #7237 closed, assigned to nobody

[2016-05-15 09:16] paglias commented on #7217
Note: can't reproduce locally but only on v3.habitica.com

[2016-05-15 09:19] paglias opened #7268 "[API v3] TypeError: Cannot assign to read only property '$__isNested' of [object Object]"
TypeError: Cannot assign to read only property '$__isNested' of [object Object]
    at autoAllocate (autoAllocate.js:72:10)
    at updateStats (updateStats.js:36:9)
    at Object.scoreTask (scoreTask.js:257:3)

[2016-05-15 09:20] paglias opened #7269 "[API v3] Warning: a promise was created in a handler but was not returned from it"

[2016-05-15 09:22] paglias opened #7270 "[API v3] VersionError: No matching document found at CRON"

[2016-05-15 09:23] ghost commented on #7253
I confirm that a lot of guilds are showing up when creating a challenge, guilds that I'm not part of. But maybe this should be reported as another issue ?

[2016-05-15 09:25] paglias opened #7271 "[API v3] Sorting tasks doesn't work (undone by sync)"

[2016-05-15 09:28] paglias commented on #7217
@TheHollidayInn this happens because instead of a single POST request one is sent for each task being added

[2016-05-15 09:28] paglias commented on #7217
Also, every time you add one or more task there' s a GET call to /user

[2016-05-15 09:33] Kryzowsky opened #7272 "[API v3] Challenge and deleting challenge bugs"
General Info
- UUID: 432192fb-66ed-413c-88f6-b1ece628d943
- Browser: Google Chrome 50.0.2661.102 m
- OS: Windows 7
### Description

When creating a new challenge

1) You can choose from all the guilds for the challenge to be held in, instead of just the ones you are part of

2) You can't add multiple tasks at once (the button does nothing)

~~3) You can't remove tasks or leave when leaving, it wil

[2016-05-15 09:34] paglias commented on #7216
@citrusella I've fixed the daily validation error and the fix is going live in a few hours with the next deploy. For the non-working megaphone see #7234

[2016-05-15 09:35] #7216 closed, assigned to paglias

[2016-05-15 09:41] #7240 closed, assigned to paglias

[2016-05-15 09:46] paglias commented on #7235
@TheHollidayInn This seem to be because tasks on the client don't follow user.tasksOrder

[2016-05-15 09:48] paglias commented on #7224
This is definitely #7235

[2016-05-15 09:48] #7224 closed, assigned to nobody

[2016-05-15 09:49] paglias commented on #7214
[code]

[2016-05-15 10:01] paglias commented on #7214
Fixed in https://github.com/HabitRPG/habitrpg/tree/api-v3

[2016-05-15 10:01] #7214 closed, assigned to nobody

[2016-05-15 10:14] paglias commented on #7250
Fixed in https://github.com/HabitRPG/habitrpg/commit/0f7964cac11f0bcdb82336eb82903391ed52ad0c

@lynnyliz note that there are still some bugs when leaving a challenge for example the Join button may still act like if you're still participating until you reload the page

[2016-05-15 10:14] #7250 closed, assigned to nobody

[2016-05-15 10:31] paglias commented on #7258
Fixed in https://github.com/HabitRPG/habitrpg/commit/cb0939a38c9c63c164455ce16dcc5a0bbd6ba17b

[2016-05-15 10:31] #7258 closed, assigned to nobody

[2016-05-15 10:41] paglias commented on #7269
We should disable this warning, it's caused by babel  + async / await
- https://github.com/petkaantonov/bluebird/issues/903
- http://bluebirdjs.com/docs/api/promise.config.html

[2016-05-15 10:46] paglias commented on #7272
3. is fixed

[2016-05-15 10:46] paglias commented on #7272
Number 3 is fixed

[2016-05-15 10:47] paglias commented on #7271
Changing title from tags to tasks

[2016-05-15 10:53] paglias commented on #7234
@Kryzowsky can you try now?

[2016-05-15 11:13] #7171 closed, assigned to paglias

[2016-05-15 11:27] t1emp0 commented on #2433
Bug still alive...
Same happened to me, not really pleasing but not anything extremely bothering.
Hope that when I update the task, it will fix itself.

![capture](https://cloud.githubusercontent.com/assets/19372035/15273632/9612ca26-1aa0-11e6-831f-9cb5e490809d.PNG)

[2016-05-15 11:38] #7269 closed, assigned to paglias

[2016-05-15 11:45] crookedneighbor commented on #7259
@paglias That's what I was thinking. Same for armoire purchases.

[2016-05-15 12:37] Treegona commented on #7234
User ID: 039fcf70-8eab-4c84-9ccd-8e9bf4d600f9
Browser: Firefox 46.0.1
OS: Windows 10

I have a possibly related bug? It involves a missing challenge.
I joined a challenge about 2 months ago. I never received a notification that the challenge ended and the megaphone doesn't have a red background, but when I look through the challenges page I can't find it -I searched for the challenges I'm particip

[2016-05-15 12:44] paglias opened #7274 "Add integration tests for /tasks/unlink/:taskId"

[2016-05-15 12:50] paglias commented on #7234
@Treegona hi, this issue is about a testing site not the main https://habitica.com, where did you notice it?

[2016-05-15 12:54] Treegona commented on #7234
@paglias Oh, sorry, I followed the instructions on Habitica's report a bug page which sent me to [this page](https://github.com/HabitRPG/habitrpg/issues/2760). One of the links took me to [here](https://github.com/HabitRPG/habitrpg/issues). From there I just searched for challenges, I hadn't realised that this wasn't where I was supposed to be.
Edit: Could you maybe point me to where I should be?

[2016-05-15 13:01] paglias commented on #7234
@Treegona don't worry, can you open a separate issue about this?

[2016-05-15 13:07] Treegona opened #7275 "Missing challenge. Can't leave, can't edit."
General Info
- UUID: 039fcf70-8eab-4c84-9ccd-8e9bf4d600f9
- Browser: Firefox 46.0.1
- OS: Windows 10
### Description

I joined a challenge about 2 months ago. I never received a notification that the challenge ended and the megaphone doesn't have a red background/doesn't seem broken, but when I look through the challenges page I can't find it -I searched for the challenges I'm participating in and

[2016-05-15 13:11] #7163 closed, assigned to paglias

[2016-05-15 13:11] paglias commented on #7163
Done

[2016-05-15 13:21] Wariannem commented on #7236
@crookedneighbor Yes I realised it was not an issue, the error was on my end. Tested it again and it all worked fine.

[2016-05-15 14:16] Memry commented on #7259
When I came back on today and had refreshed for another reason, it showed my violet floppy hat as the item to purchase and the shaft of the dragon was back in my inventory and back on my gear (I had been carrying it when it "broke".

I died again, and it said my sleek cat suit broke, showed the nunchaku as the item to purchase, but when I checked in inventory and tried to equip the sleek cat suit

[2016-05-15 14:28] TheHollidayInn commented on #7267
I'll take this one.

[2016-05-15 14:30] GitHubSphinx commented on #7244
Something (maybe going above level ten) has fixed the automatic allocation for me

[2016-05-15 14:33] Memry commented on #7272
#2 doesn't work in live data either

And I cannot close my challenge.  It shows no participants.

[2016-05-15 14:34] GitHubSphinx commented on #7244
Nope, the problem with automatic allocation is back (I'll be deleting the previous message and this one)

[2016-05-15 14:36] paglias commented on #7217
I'm fixing this

[2016-05-15 14:37] Memry commented on #7249
Me too

UUID e495bd8b-f2f1-48e8-8f5f-9a52710999cf
Browser Chrome Version 50.0.2661.102 m
OS Windows 7

[2016-05-15 14:42] Memry commented on #7267
I created a challenge at it first showed Join still, then showed Leave after I refreshed.  But the tasks never showed on my task page, just the tag.  I tried sync and refresh, neither brought up the tasks.

UUID: e495bd8b-f2f1-48e8-8f5f-9a52710999cf

[2016-05-15 14:44] paglias commented on #7217
Fixed in https://github.com/HabitRPG/habitrpg/commit/b31de3845bfe9b832819105483782f747c24d48c

@froggily it'll go live with the next deploy (later today or tomorrow)

[2016-05-15 14:44] #7217 closed, assigned to nobody

[2016-05-15 14:46] TheHollidayInn commented on #7272
I will take these.

[2016-05-15 15:01] paglias commented on #7270
Can't figure out this one.. maybe it was a glitch, review at the end of testing

[2016-05-15 15:14] Memry opened #7276 "[API v3] Stealth wants a target"
General Info
- UUID: e495bd8b-f2f1-48e8-8f5f-9a52710999cf
- Browser: Version 50.0.2661.102 m
- OS: Windows 7

When I select "Stealth" it give me the indicator that I need to select a task.  When I then try to click on anything it give me a message "invalid target"  It won't go away until I select another skill.

[2016-05-15 15:17] TheHollidayInn commented on #7253
I will fix this. The multiple guild issue is filed separately. Thanks!

[2016-05-15 16:02] TheHollidayInn commented on #7249
I'll fix this

[2016-05-15 16:23] aviskase opened #7277 "[API v3] Typos in api docs"
General Info
- UUID: 266104ca-889e-4a7a-956d-3bd9a94244d3
### Description

1) Two entries with a heading "Group - Accept a pending quest". [1](https://v3.habitica.com/apidoc/#api-Group-AcceptQuest) [2](https://v3.habitica.com/apidoc/#api-Group-ForceQuestStart)
The second one is wrong, because it's about force starting: `https://v3.habitica.com/api/v3/groups/:groupId/quests/force-start`

2) Entry [

[2016-05-15 16:33] TheHollidayInn commented on #7248
I am fixing this.

[2016-05-15 16:40] TheHollidayInn commented on #7247
I'll fix this

[2016-05-15 17:06] aviskase opened #7278 "[API v3] Petal-free potion acts like a task spell"
General Info
- UUID: 266104ca-889e-4a7a-956d-3bd9a94244d3
- Browser: Google Chrome 50
- OS: Ubuntu Mate 16.04
### Description

_Precondition:_ user have "Shiny Seed" effect

_Steps to reproduce:_
1. Go to "Tasks"
2. Buy "Petal-free potion" in the Rewards section

_Result:_
Potions acts like a task spell: cursor changes to a hand with plus.
Shiny Seed effect actually is not reversed (need to update

[2016-05-15 17:20] ghost opened #7279 "[API v3] No message on reaching level 100+"
General Info
- UUID: ffa26f90-f4cf-40b5-8b3b-aca988ab8ed2
- Browser: FF 46.0.1
- OS: win10
### Description

Please excuse me if I'm wrong, but it seems there should be a message on reaching level 100+. I don't get it on v3 beta
#### Console Errors

seems like none

[2016-05-15 17:24] aviskase opened #7280 "[API v3] Can't load user info by links to static/front/#?memberId="
General Info
- UUID: 266104ca-889e-4a7a-956d-3bd9a94244d3
- Browser: Google Chrome 50
- OS: Ubuntu Mate 16.04
### Description

This type of links can be generated when adding a message as a task.

For example, I've added a message as a task. By default, there is a link to the user in the notes.

![0515_59f](https://cloud.githubusercontent.com/assets/3819473/15275663/7b8fa4d2-1af3-11e6-9dfc-951c22a

[2016-05-15 17:28] ghost opened #7281 "[API v3] Debug boss progress up feature not working"
General Info
- UUID: ffa26f90-f4cf-40b5-8b3b-aca988ab8ed2
- Browser: FF 46.0.1
- OS: win10
### Description

Boss progress up feature from the debug menu doesn't work producing error: (something like) the path `party.quest.progress.up` hasn't been saved. The path is reserved.

I'm not sure if it's an issue. Please excuse me for reporting if it's not.
#### Console Errors

PUT XHR https://v3.habitica

[2016-05-15 17:31] ghost commented on #7281
Also `+1 missed day` and `+2 missed days` give `Not found` response.

[2016-05-15 17:33] paglias commented on #7272
@Kryzowsky 4 works for me. It's possible that you tried to delete and old challenge in which cause you wouldn't get refunded because the migration had a bug that meant all prizes where set to 0

[2016-05-15 17:34] paglias commented on #7280
Thanks, will look into this

[2016-05-15 17:43] GitHubSphinx commented on #7276
Warrior skills: gaze and valorous presence - produce `Invalid request parameters.` error

[2016-05-15 17:44] Alys commented on #7275
@Treegona That challenge would have ended - sometimes when that happens, the notifications aren't sent to all players because of a timeout. For advice about deleting the tasks, please see the text in bold near the top of this issue: https://github.com/HabitRPG/habitrpg/issues/2763
Comment either here or there if you still have the problem after going through the steps that that links to.

Sorry ab

[2016-05-15 17:44] #7275 closed, assigned to nobody

[2016-05-15 17:45] ghost commented on #7210
Warrior skills: gaze and valorous presence - produce `Invalid request parameters.` error.

Please tell me if this should better be reported to a separate issue

[2016-05-15 17:56] paglias commented on #7210
@GitHubSphinx  about gaze and valorous presence can you open the console before you try to cast them, then switch to the Network tab. Once the error appears you should see a new red request, click on it and copy what you can find in the Response tab, thanks!

[2016-05-15 18:05] Alys commented on #7277
I'll fix these where I can, and report back if there's anything I can't do.

[2016-05-15 18:13] ghost commented on #7210
[code]

And response for Valorous Presence (https://v3.habitica.com/api/v3/user/class/cast/intimidate?targetType=party&targetId=undefined)

[code]

[2016-05-15 18:31] GitHubSphinx commented on #7210
response for Valorous Presence added above:
(https://v3.habitica.com/api/v3/user/class/cast/intimidate?targetType=party&targetId=undefined)

[code]

[2016-05-15 18:38] ghost commented on #7210
@paglias Oh, I'm afraid that's not what you've asked for (

Maybe this responce:

![pic](https://snag.gy/VW4wUb.jpg)

[2016-05-15 18:46] crookedneighbor commented on #7281
The missed day things are fixed. Will go out on the next deploy. I'll fix the boss progress problem.

[2016-05-15 18:51] Treegona commented on #7275
I found the problem, which was apparently my fault. The challenge was still open, but I couldn't find it because it was a newbies challenge and I hadn't realised those were excluded by the filter. Sorry for the trouble.

[2016-05-15 19:09] Alys commented on #7275
No worries! Thanks for letting us know!

[2016-05-15 19:17] Alys commented on #7279
On the production site, you get the normal level-up modal when reaching 100 (i.e., the same as for other levels). There isn't a special one for level 100.

[2016-05-15 19:25] aviskase commented on #7277
Thanks! One more spotted ---
6) Typo in the endpoint for entry ["Meta - Get all paths for the specified model"](https://v3.habitica.com/apidoc/#api-Meta-GetUserModelPaths)
Displayed: `https://v3.habitica.com/api/v3s/models/:model/paths`
Should be: `https://v3.habitica.com/api/v3/models/:model/paths`

[2016-05-15 19:26] ghost commented on #7279
Thank you! Ah, the message about not receiving more attribute points must then be on the character stats page... Sorry

[2016-05-15 19:26] #7279 closed, assigned to nobody

[2016-05-15 19:28] paglias commented on #7208
This should be fixed with https://github.com/HabitRPG/habitrpg/commit/52bedc3563f90b089ce5fdb9aad0fe1bb89daf08 that has just been deployed. Reopen if the error persists after reloading the site.

[2016-05-15 19:28] #7208 closed, assigned to nobody

[2016-05-15 19:28] paglias commented on #7210
This should be fixed with https://github.com/HabitRPG/habitrpg/commit/52bedc3563f90b089ce5fdb9aad0fe1bb89daf08 that has just been deployed. Reopen if the error persists after reloading the site.

[2016-05-15 19:28] #7210 closed, assigned to nobody

[2016-05-15 19:28] paglias commented on #7221
This should be fixed with https://github.com/HabitRPG/habitrpg/commit/52bedc3563f90b089ce5fdb9aad0fe1bb89daf08 that has just been deployed. Reopen if the error persists after reloading the site.

[2016-05-15 19:28] #7221 closed, assigned to nobody

[2016-05-15 19:28] paglias commented on #7223
This should be fixed with https://github.com/HabitRPG/habitrpg/commit/52bedc3563f90b089ce5fdb9aad0fe1bb89daf08 that has just been deployed. Reopen if the error persists after reloading the site.

[2016-05-15 19:28] paglias commented on #7232
This should be fixed with https://github.com/HabitRPG/habitrpg/commit/52bedc3563f90b089ce5fdb9aad0fe1bb89daf08 that has just been deployed. Reopen if the error persists after reloading the site.

[2016-05-15 19:28] paglias commented on #7246
This should be fixed with https://github.com/HabitRPG/habitrpg/commit/52bedc3563f90b089ce5fdb9aad0fe1bb89daf08 that has just been deployed. Reopen if the error persists after reloading the site.

[2016-05-15 19:28] paglias commented on #7265
This should be fixed with https://github.com/HabitRPG/habitrpg/commit/52bedc3563f90b089ce5fdb9aad0fe1bb89daf08 that has just been deployed. Reopen if the error persists after reloading the site.

Regarding challenge task @Alys is right, but we should open a different issue for it.

[2016-05-15 19:28] #7265 closed, assigned to nobody

[2016-05-15 19:28] paglias commented on #7276
This should be fixed with https://github.com/HabitRPG/habitrpg/commit/52bedc3563f90b089ce5fdb9aad0fe1bb89daf08 that has just been deployed. Reopen if the error persists after reloading the site.

[2016-05-15 19:29] paglias commented on #7246
Ops.. wrong issue!

[2016-05-15 19:34] paglias commented on #7246
Confirmed, no idea where it comes from though

[2016-05-15 19:55] ghost commented on #7223
@paglias. The same issue for the revived Valorous Presence and the Gaze. It seems they give mana back

[2016-05-15 19:57] paglias commented on #7223
@GitHubSphinx if you reload the page the problem persists? it should be fixed now

[2016-05-15 20:10] ghost commented on #7223
I've reloaded the page, cleared browser data from static/clear-browser-data, ctrl+f5'ed, opened in Opera for Android.

Valorous Presence and Intimidating Gaze still return mana for me.

[2016-05-15 20:14] #7276 closed, assigned to nobody

[2016-05-15 20:23] paglias commented on #7223
Confirmed on v3.habitica but can't reproduce locally :(

[2016-05-15 20:38] quin-jay commented on #7250
@paglias Yep, just confirmed that that's the case. Another issue I just noticed is that the "Leave challenge and..." heading no longer has the grey background so the text is hard to read, but I'm sure you're already aware of that. Good work to you and everyone else, I know you're all working overtime to squash all these bugs! :+1:

[2016-05-15 20:53] ghost commented on #7223
It's gone. No more mana refunds for me.

But it's gone alongside with debug menu. And I started to get 502 reds when trying to cast Brutal Smash (

[2016-05-15 20:54] paglias commented on #7223
@GitHubSphinx sorry the app went offline while updating, try reloading now.

[2016-05-15 20:54] #7223 closed, assigned to nobody

[2016-05-15 20:55] ghost commented on #7223
Great!

Oh @paglias and sorry for taking your time (

[2016-05-15 20:58] GitHubSphinx commented on #7223
Oh @paglias and sorry for taking your time (

[2016-05-15 20:59] paglias commented on #7223
Thank you for reporting bugs!
Il 15 mag 2016 10:58 PM, "Sphinx" notifications@github.com ha scritto:

[2016-05-15 21:04] cTheDragons commented on #7232
Not sure if it is a bug or due to the copy over, however the quest won't start in my party. The following items took place:

+ System copied over with all but one member accepted the quest

+ One member left the party

+ I invited the party member back

+ Kicked the other party member who not accepted out

+ Other party member I invited came back and accepted the quest.

So is it a bug or just one

[2016-05-15 21:39] quin-jay commented on #7251
Just wanted to confirm the same behavior when _purchasing_ eggs as well (including the typo mentioned by @Blablux):
![screenshot 7](https://cloud.githubusercontent.com/assets/6640915/15276932/dc5b8392-1ac3-11e6-9db7-191aa29ac8b6.png)
![screenshot 9](https://cloud.githubusercontent.com/assets/6640915/15276933/dc5dbedc-1ac3-11e6-99c0-4363484dab12.png)

[2016-05-15 21:39] #7277 closed, assigned to nobody

[2016-05-15 21:43] ghost commented on #7251
Just noticed the typo in _purchased_ (purchsed) on the screen shots. Is it also there on production?

[2016-05-15 21:44] cTheDragons commented on #7232
Not sure if it is a bug or due to the copy over, however the quest won't start in my party. The following items took place:

System copied over with all but one member accepted the quest

One member left the party

I invited the party member back

Kicked the other party member who not accepted out

Other party member I invited came back and accepted the quest.

So is it a bug or just one of those

[2016-05-15 21:55] quin-jay commented on #7251
@GitHubSphinx Right now there are no notifications in the live/production site, whether for confirming sale of an item or purchase of any item

[2016-05-15 22:21] Alys opened #7285 "[API v3] streak on Daily can't be edited"
### Description

When you edit a Daily to adjust its streak, and then save, the new streak number appears. When you sync, the previous streak number reappears. I.e., edits to the streak appear to be not saved to the database.
#### Console Errors

none

[2016-05-15 22:55] TheHollidayInn commented on #7225
I can't reproduce this.

[2016-05-15 23:25] Alys commented on #7225
Ah, I'm sorry, it's browser dependent, and I should have specified my browser, and thought to test in other browsers.

It happens in Vivaldi, a Chrome / Opera offshoot that is not common enough to worry about for now.

I can't reproduce it in Chrome.

In Firefox, the popup doesn't appear at all, but I'll log that separately.

I'm closing this. We might reopen it later, after API v3 is live.

[2016-05-15 23:25] #7225 closed, assigned to nobody

[2016-05-16 00:22] quin-jay opened #7288 "[API v3] After manually changing XP to level up, 500 Internal Server Error when clicking tasks"
UUID: 1534a0ee-2f69-4c2e-9659-0d719ac2ea68
Browser: Chrome 50.0.2661.94 m
OS: Windows 10
### Description

What I did:
1. Clicked +1 Level button in the debug menu. This didn't immediately level me up, but rather added a level's worth of experience, as expected
2. Clicked on a task (either positive or negative) to trigger levelup modal, which usually works, but instead gave this:
![screenshot 10](h

[2016-05-16 00:27] Memry opened #7289 "[API v3] Stealth generates an error message"
- UUID: e495bd8b-f2f1-48e8-8f5f-9a52710999cf
- Browser: Version 50.0.2661.102 m
- OS: Windows 7

Originally Stealth wanted a target (see ticket #7276.  Now it generates an error message

![image](https://cloud.githubusercontent.com/assets/7385423/15277782/3942a38a-1ac2-11e6-9bbb-bfb0c93c5b4a.png)

Three attempts, each attempt generated the message

[2016-05-16 00:34] Alys commented on #7288
Sorry, this isn't your main point, but anyway, FYI:

That won't be what's causing the button's error. They button just adds 1000 to `party.quest.progress.up`, which means you'll do 1000 damage to the boss when you cron. The boss's HP doesn't matter. It's just like using Brutal Smash multiple times to over-kill the boss.

[2016-05-16 01:13] quin-jay commented on #7288
@Alys Oh, that totally makes sense, thank you for explaining! I'm still getting an error, but it looks like it's going to be fixed soon (#7281). When that fix deploys, I'll test whether quest XP triggers this issue too. I'm having visions of users not being able to click any tasks because they finished a quest, so I really wanna test everything just to make sure

[2016-05-16 02:19] CloJo opened #7290 "[API v3] Orb of rebirth didn't reset tasks to yellow"
General Info
- UUID: 99463fab-e36e-4f8b-87f6-a6f925850ed8
- Browser: Safari
- OS: OSX Yosemite version 10.10.5
### Description

[//](#): # Using orb of rebirth did not reset all tasks to yellow.  The to-dos range in colour from red to yellow (no dark red)  Dailies range in colour from orange to yellow.  Habits have all reset to yellow.
#### Console Errors

![screen shot 2016-05-16 at 12 16 37 pm](

[2016-05-16 02:20] quin-jay commented on #7289
I see the same behavior. Here's my error console:

[code]

[2016-05-16 03:32] crookedneighbor commented on #7281
This is fixed and will be live on the next deploy. Likely tomorrow.

[2016-05-16 03:32] #7281 closed, assigned to nobody

[2016-05-16 04:36] Memry opened #7291 "[API v3] Custom Day Start time will not set"
- UUID: e495bd8b-f2f1-48e8-8f5f-9a52710999cf
- Browser: Chrome Version 50.0.2661.102 m
- OS: Windows 7

Tried to set a custom cron.  It returned the error message "path lastCron was not saved" and when I refresh the old custom cron time shows.
![image](https://cloud.githubusercontent.com/assets/7385423/15280408/e4c2a74c-1ae4-11e6-94b9-4a89f5c348ba.png)

[2016-05-16 05:37] Alys commented on #7291
I'm about to rename this to "Custom Day Start time will not set".

I believe setting lastCron is an important part of this feature as it protects the user from a surprise cron at the time of changing or too soon afterwards.

[2016-05-16 08:51] Alys commented on #7290
Confirmed that using the Orb of Rebirth doesn't change the task colours, but if you do a manual sync immediately after the rebirth has finished, then the tasks revert to yellow. Something wrong with the way the tasks are saved?

[code]

[2016-05-16 08:58] Alys commented on #7290
Also note that all of CloJo's Habits, which did reset to yellow, belong to active challenges, so that might have allowed rebirth to work correctly.

When I tested, my Habits behaved in the same way as the other tasks (did not become yellow until after a manual sync). None of my Habits are from active challenges.

[2016-05-16 09:36] Alys opened #7294 "[API v3] Challenge participants can edit settings of tasks that only the challenge owner should edit"
### Description

After joining a challenge, the participants can edit their own copies of the challenge tasks in ways that only the challenge creator should be able to do.

These are the only things a challenge participant should be able to edit ([ref.](http://habitica.wikia.com/wiki/Challenges#Challenge_Participant.27s_Permissions)):
- Add/edit checklists
- Add/edit notes
- Assign/remove tags (th

[2016-05-16 09:39] Alys commented on #7294
More specifically, this is using the API directly, or the mobile apps. The website's client code still prevents those edits.

[2016-05-16 13:24] quin-jay opened #7295 "[API v3] Incorrect Armoire items shown in inventory until sync"
UUID: 1534a0ee-2f69-4c2e-9659-0d719ac2ea68
Browser: Chrome 50.0.2661.94 m
OS: Windows 10
### Description
1. I went on an Enchanted Armoire shopping spree
2. I tried to equip the new gear I'd seen in the notifications, but couldn't find it
3. Instead I saw a bunch of unfamiliar gear, which I then equipped successfully despite the error message in the notification bubbles
4. Sync reverted the equips

[2016-05-16 13:34] Memry opened #7296 "[API v3] Join and Leave button displayed in guild at the same time"
General Info
- UUID: e495bd8b-f2f1-48e8-8f5f-9a52710999cf
- Browser: Chrome Version 50.0.2661.102 m
- OS: Windows 7

I joined Lifehackers guild to help someone else test something.  After I joined - this appeared:

![image](https://cloud.githubusercontent.com/assets/7385423/15290913/3c69997e-1b30-11e6-83f1-aab3151a856b.png)

[2016-05-16 14:02] quin-jay commented on #7296
@Memry Does the issue persist after refreshing the page? For me, joining or leaving guilds forces a page reload (it does in the live site, too). I'm unable to replicate, but maybe I would be if it didn't automatically reload.

[2016-05-16 14:02] Melissarie commented on #4252
I seem to be dealing with this issue again
My Username: Melissarie
 My UserID: d04b8cff-7234-46db-bc60-b86e64410998
 Quest: Recidivate Transformed

[2016-05-16 14:19] TheHollidayInn commented on #7291
@crookedneighbor I think you created the new route `/debug/set-cron`. I think we should move the route to the user controller to fix this issue.

[2016-05-16 14:23] TheHollidayInn commented on #7285
@paglias Looks like the request is being sent correctly from client. I think this line might be the cause: https://github.com/HabitRPG/habitrpg/blob/api-v3/website/server/models/task.js#L59 .

[2016-05-16 14:26] TheHollidayInn commented on #7280
@paglias I think this is actually two issues. One, the front page member view needs to be fixed (which is just a need to use the new Member service). Two, I don't believe the task should link to the front page. It should probably use the member info modal (but, this is more of a feature)

[2016-05-16 15:59] dfecko opened #7300 "[API v3] Open new task in edit mode not working"
General Info
- UUID: 2fb6b0c7-a7eb-4903-a2a9-2f5a0916de47
- Browser: Chrome
- OS: Windows 7
### Description

[//](#): Setting checked to open new task in edit mode.  Remains open for a second, but then quickly collapses
#### Console Errors

[2016-05-16 16:04] paglias commented on #7280
@TheHollidayInn if in v2 it linked to the home page we can change it later

[2016-05-16 16:05] paglias commented on #7285
Yeah it's that

[2016-05-16 16:18] paglias commented on #7294
So the website UI doesn't require any change? Just extra validation for the API?

[2016-05-16 16:23] paglias commented on #7232
I think I closed the wrong issue, this could still be valid.

@cTheDragons in your case it could be caused by the migration

[2016-05-16 16:28] paglias commented on #7268
Fixed

[2016-05-16 16:28] #7268 closed, assigned to nobody

[2016-05-16 16:29] paglias commented on #7244
@GitHubSphinx sorry but I'm having some trouble replicating this, can you explain again the steps to see the problem?

[2016-05-16 16:29] #7236 closed, assigned to nobody

[2016-05-16 16:43] paglias commented on #7289
This is fixed, let me know if you see it again

[2016-05-16 16:43] #7289 closed, assigned to nobody

[2016-05-16 16:43] paglias commented on #7290
This is fixed, let me know if you see it again

[2016-05-16 16:43] #7290 closed, assigned to nobody

[2016-05-16 16:43] paglias commented on #7288
@lynnyliz I think I fixed this (an error with auto allocation), can you check if it's working? I couldn't replicate myself

[2016-05-16 16:43] #7288 closed, assigned to nobody

[2016-05-16 16:43] paglias commented on #7278
@aviskase this should be fixed, reopen if it's not the case!

[2016-05-16 16:43] #7278 closed, assigned to nobody

[2016-05-16 16:50] ghost commented on #7244
@paglias It may be something with my account actually - i.e. due to dying a lot. It doesn't show up all the time. And I have difficulties reproducing it on a fresh account myself. However the steps which produce the error for me now:
1. fix character values: level 12,
2. in stats go for Automatic Allocation - Distribute points based on task activity
3. create new habit, make it Social and Hard (op

[2016-05-16 16:57] ghost commented on #7244
It seems I really can't make this issue show up on a fresh new account. Sorry

[2016-05-16 17:00] paglias opened #7301 "[After API v3] Add ability to return all completed todos (on website just from last 30)"
@Alys

_edit by Alys:_

The code to be modified is in website/server/controllers/api-v3/tasks.js in `async function _getTasks()`

Currently there's a limit of 30 imposed in the code.

[2016-05-16 17:03] paglias commented on #7244
@GitHubSphinx If you still have access to the account where it happened, can you try replicating it once again after having hard refreshed the page? (refresh it 2 times just to be sure)

I searched in the logs and I think it could be a bug I fixed a few minutes ago

[2016-05-16 17:03] GitHubSphinx commented on #7244
just a couple of minutes

[2016-05-16 17:04] dfecko opened #7302 "[API v3] Enable Class System button in settings before level 10"
General Info
- UUID: 2fb6b0c7-a7eb-4903-a2a9-2f5a0916de47
- Browser: Chrome
- OS: Windows 7
### Description

[//](#): There is an Enable Class System button in Settings -> Site after performing a rebirth while still at level 1.  Clicking it shows a popup that says I must be level 10.
#### Console Errors

[2016-05-16 17:04] ghost opened #7303 "[API v3] Resetting from settings doesn't reset attribute points"
General Info
- UUID: a46cf6fa-189e-44fa-b5b6-aa9371ecac8b
- Browser: FF 46
- OS: win10
### Description

I'm resetting the account from the danger zone. However the attribute points (auto allocation based on tasks) are still there
#### Console Errors

[2016-05-16 17:09] ghost opened #7304 "[API v3] Invalid request parameters if wrong email when signing up"
General Info
- UUID: none
- Browser: FF 46.0.1
- OS: win 10
### Description

Trying to sign up with
- login mememe1
- email me@me.me1

produces specific error about email being incorrect on production, but v3.beta gives just "Invalid request parameters" error

I'm not sure if it's an issue or a feature, reporting in just in case
#### Console Errors

none

[2016-05-16 17:17] ghost commented on #7244
@paglias tested several times. No error occurred. Automatic allocation seems fixed!

[2016-05-16 17:18] ghost commented on #7296
For what it's worth, I've seen the same thing on production

[2016-05-16 17:22] #7244 closed, assigned to nobody

[2016-05-16 17:32] paglias commented on #7244
thanks for all the testing!

[2016-05-16 17:32] paglias opened #7305 "[API v3] Webhook docs not shown"

[2016-05-16 17:46] quin-jay commented on #7288
@paglias Yep, it seems to be fine now! I tested it with class-based and task-type-based auto allocation, and both seem to be working again. Thanks :)

[2016-05-16 18:12] #7285 closed, assigned to paglias

[2016-05-16 18:43] citrusella commented on #7294
As far as I can tell, the v3 site still prevents the relevant settings from being changed, but the app still allows for the changes (i.e. the API still allows the changes).

[2016-05-16 18:59] crookedneighbor commented on #7305
Fixed in https://github.com/HabitRPG/habitrpg/commit/e6b5fe4013638f0333875f2bef0cc6217bd75609

[2016-05-16 18:59] #7305 closed, assigned to nobody

[2016-05-16 19:40] crookedneighbor commented on #7280
Fixed. Will go out in the next deploy.

[2016-05-16 19:40] #7280 closed, assigned to nobody

[2016-05-16 19:54] lemoness opened #7307 "[API v3] Leveled up immediately after death"
When I opened the test site for the first time today, it correctly told me that I had died. However, after clicking through that modal (and the "choose a class" modal, which popped up due to probably-unrelated a bug on the mobile app), there was a popup congratulating me on leveling up.

[2016-05-16 19:57] paglias commented on #7307
It's possible that you last used the site as say level 8 and before dying you had reached level 10?
In this case the site would show the level up popup for going from 8 to 9

[2016-05-16 19:58] paglias opened #7308 "[After API v3] Update Chrome Ext (before api v2 is retired)"

[2016-05-16 19:58] paglias opened #7309 "[API v3] Support legacyId in v2 routes"
- scoring
- getting a particular task
- updating a particular task
- deleting a particular task

[2016-05-16 19:59] lemoness commented on #7307
Aha, that was probably it, since I was testing the mobile app a lot this weekend! And would explain why I have not been able to replicate it.

[2016-05-16 19:59] #7307 closed, assigned to nobody

[2016-05-16 20:00] paglias commented on #7267
This should be fixed now, reopen if it isn't

[2016-05-16 20:00] #7267 closed, assigned to nobody

[2016-05-16 20:00] paglias commented on #7272
This should be fixed now, reopen if it isn't

[2016-05-16 20:00] paglias commented on #7248
This should be fixed now, reopen if it isn't

[2016-05-16 20:00] #7248 closed, assigned to nobody

[2016-05-16 20:00] paglias commented on #7247
This should be fixed now, reopen if it isn't

[2016-05-16 20:00] #7247 closed, assigned to nobody

[2016-05-16 20:00] paglias commented on #7249
This should be fixed now, reopen if it isn't

[2016-05-16 20:00] #7249 closed, assigned to nobody

[2016-05-16 20:03] paglias commented on #7232
@Kryzowsky I'm not able to replicate this one, quests start correctly for me

[2016-05-16 20:04] crookedneighbor commented on #7253
Okay, I've tracked down why this is happening. Steps to reproduce:
1. start a party
2. create a challenge for that party
3. Leave a party
4. Notice that challenge from that party still exists in challenges list
5. create a challenge (get a javascript error since you don't have access to the group object for that challenge)
6. See that dropdown is not populated

Not sure what the correct behavior f

[2016-05-16 20:05] paglias commented on #7291
@crookedneighbor do you want to use debug/set-cron (moved to user controller) or the old way of updating the user with PUT /user whitelisting lastCron?

[2016-05-16 20:07] paglias commented on #7304
Yeah we'll want to show the underlying error messages, not the Invalid request parameters one.

[2016-05-16 20:08] paglias commented on #7234
This should be fixed, reopen if it's not

[2016-05-16 20:08] #7234 closed, assigned to paglias

[2016-05-16 20:11] paglias commented on #7296
Confirmed, @TheHollidayInn this happens when the page is refreshed after joining a guild (I don't think the refresh is necessary) a second refresh fixes it. I think the problem is because the isMember binding is a one time binding

[2016-05-16 20:11] crookedneighbor commented on #7291
I think the real question is do we want to give clients the ability to set lastCron to _any_ date? If so, yeah, I'm fine moving it to the user controller or making it adjustable.

If we want to control how lastCron is set, I'd make setting a custom day start a separate route.

[2016-05-16 20:16] lemoness opened #7311 "[API v3] Payments Bugs"
- The first time I purchased gems via Stripe, the entire page went entirely blank and had to be reloaded. On a refresh, all was normal and the gems had been awarded. I was unable to replicate this, so it may have been a fluke.
- Attempting to cancel a 3-month recurring subscription resulted in the error message: {"success":false,"error":"NotAuthorized","message":"Missing authentication parameters.

[2016-05-16 20:20] paglias commented on #7255
@citrusella can you do me a favor an try using Key to the Kennels again? then post here when you've received the message. I've searched through the logs but can't find this error

Also just before you try to use it, can you open the console and switch to the network page. When the error occurs a new red request will appear, click on it and copy the Request URL

[2016-05-16 20:24] #7194 closed, assigned to nobody

[2016-05-16 20:24] paglias opened #7312 "[API v3] User.sortTag is not a function"
General Info
- UUID:
- Browser:
- OS:
### Description
#### Console Errors

[2016-05-16 20:25] paglias commented on #7254
@Blablux still getting this error?

[2016-05-16 20:26] TheHollidayInn commented on #7296
Yep, same happened in challenges. I can fix this

[2016-05-16 20:28] paglias commented on #7300
@dfecko can you try again? This is working for me

[2016-05-16 20:31] lemoness commented on #7295
Possibly related: I've been sporadically getting two items from the Armoire at once. (Either two pieces of equipment, or two types of food.)

![apibug2](https://cloud.githubusercontent.com/assets/3494081/15302906/385f8868-1b6a-11e6-98c8-f1a97c1f8222.png)

At first they aren't in my equipment section, but after a reload, both appear.
Let me know if this should be a separate ticket!

[2016-05-16 20:36] Alys commented on #7300
@dfecko If this problem happens only with Dailies, then it's a known bug that happens in the current production site too. https://github.com/HabitRPG/habitrpg/issues/5728

It can also sometimes happen in the current production site with other kinds of tasks if the website isn't yet synced with the server. https://github.com/HabitRPG/habitrpg/issues/2965#issuecomment-156799671

[2016-05-16 20:45] Alys commented on #7253
I think it would be okay to have the kicked player left in challenges. There could be cases where the the group leader doesn't like the player, but the challenge creator has no problems with them. At the least, I don't think it matters if they aren't removed from challenges before go-live.

Perhaps in future we could add a remove-player-from-challenge option for challenge owners (that might be pop

[2016-05-16 20:52] paglias commented on #7235
Fixed, going live in 15 minutes

[2016-05-16 20:52] #7235 closed, assigned to nobody

[2016-05-16 20:52] paglias commented on #7271
fixed

[2016-05-16 20:52] #7271 closed, assigned to nobody

[2016-05-16 20:54] Alys commented on #7294
Yes.

[2016-05-16 20:54] crookedneighbor commented on #7253
@Alys then we need to change the client code to handle the null group. It'd be easier to not allow a person that leaves a private guild or party to remain in a challenge, but if you feel strongly, we can write some workaround in the client.

[2016-05-16 20:57] paglias commented on #7291
Well in v3 we tried to limit the paths freely updatable but I've been forced to undo many changes like streaks on tasks. The option here is to make lastCron settable or create a new route to change the custom day start

[2016-05-16 20:58] TheHollidayInn commented on #7291
I think we move the debug route to the user controller. Then it becomes a "setter" and we can add restrictions.

[2016-05-16 21:01] ghost commented on #7254
@paglias I just tried right now, and I'm still getting the notification while joining a guild.

[2016-05-16 21:02] #7164 closed, assigned to nobody

[2016-05-16 21:03] paglias commented on #7254
@Blablux  :( can you try with a new account?

[2016-05-16 21:06] paglias commented on #7266
@TheHollidayInn confirmed

[2016-05-16 21:13] citrusella commented on #7255
The URL (from the 404 error in the network page list) was https://v3.habitica.com/api/v3/user/releaseBoth

Also of note (I think, but maybe not) in regards to my original description, since I noticed them as I was doing this: Though the sync brings back the pets/mounts, until a full reload the key is unusable and the numbers for the master achievement progress remain at whatever new hatch attempts

[2016-05-16 21:16] Alys commented on #7301
Thanks @paglias.

I think we can get away with this not being done before go-live if it can't be fitted in easily. For the DDT, I can add a note that all completed To-Dos can still be found in an export.

[2016-05-16 21:18] ghost commented on #7254
I just created a new account, but I'm somehow stuck after logging in:
![capture d ecran de 2016-05-16 23-16-03](https://cloud.githubusercontent.com/assets/4882150/15304213/52366746-1bbc-11e6-81ed-290caa7ad423.png)
I tried reloading, closing and reopening, but right now I'm still stuck there.

[2016-05-16 21:19] paglias commented on #7254
Sorry, reload in 5 minutes and it'll work
Il 16 mag 2016 11:18 PM, "Benoit Hetru" notifications@github.com ha
scritto:

[2016-05-16 21:21] ghost commented on #7254
Yes, I figured that out, I'm now getting a 502 / Bad Gateway :smile:

[2016-05-16 21:25] ghost commented on #7254
Still the same with a new account:
![capture d ecran de 2016-05-16 23-24-14](https://cloud.githubusercontent.com/assets/4882150/15304401/66ee4608-1bbd-11e6-8a05-4490c17ff673.png)
User ID b8db48a7-3afa-425e-9731-9286ee1d8bae if this is of any help.

[2016-05-16 21:26] quin-jay commented on #7311
Possibly related: Every pageload creates these errors in the console. I can't think of any other reason besides payments that Habitica would need to load anything from Amazon

[code]

Then again, these errors also appear in the production site, so either there's a bug that's live that's just become a problem with the v3 changes or these errors aren't related to these payment bugs.

[2016-05-16 21:32] paglias commented on #7254
Last thing: can you try with a different browser / a smartphone or an
incognito window?
Il 16 mag 2016 11:26 PM, "Benoit Hetru" notifications@github.com ha
scritto:

[2016-05-16 21:32] Alys commented on #7253
Go with what's easiest!

[2016-05-16 21:36] quin-jay commented on #7311
Also: I see the same behavior when attempting to cancel a 6-month subscription.

Also also: It looks like in v3 the Subscription page is supposed to tell you how long it'll be before your subscription renews, but it's factored wrong -- It tells me how long it's been since I subscribed:
`[credit card icon] You have -1.00 months of extra subscription credit.`
Not strictly a payments bug, but probabl

[2016-05-16 21:36] dfecko commented on #7300
After trying again it looks like I was running into the bug mentioned
below. Habits and to-dos are working fine.
On May 16, 2016 2:36 PM, "Alys" notifications@github.com wrote:

[2016-05-16 21:37] Alys commented on #7311
@lynnyliz That `-1.00 months` message is likely to be a thing in your account. What's your User ID?

[2016-05-16 21:39] ghost commented on #7254
Just tried on Android 6.0.1 with Firefox mobile:
![screenshot_20160516-233557](https://cloud.githubusercontent.com/assets/4882150/15304754/63f084aa-1bbf-11e6-8385-f1a576ecba20.png)
Still getting the error message

[2016-05-16 21:41] crookedneighbor commented on #7300
Will close this now then. Thanks for verifying it!

[2016-05-16 21:41] #7300 closed, assigned to nobody

[2016-05-16 21:45] Alys commented on #7311
@lynnyliz never mind about the uuid, I found it. :)  That was a problem in your account - your subscription data had a negative extra months value. I've fixed it in the test database. Please check the subscription page again.

FYI, all the negative credit amounts have already been fixed in the production database, so that won't come back for your account after the next migration.

[2016-05-16 21:50] quin-jay commented on #7311
Oh hey, now both versions of my account look the same. Thanks, @Alys! :D

This gave me an idea for a new feature I could maybe start working on eventually -- Showing what date you subscribed and when you'll be re-billed! It was super handy when I thought that's what the error was :stuck_out_tongue_winking_eye:

[2016-05-16 22:41] lemoness commented on #7311
Just chiming in to say that would be a great feature!

On Mon, May 16, 2016 at 2:51 PM, lynnyliz notifications@github.com wrote:

[2016-05-16 22:55] Alys commented on #4252
@Melissarie I've given the achievement and rewards to you. Reload if you don't see them. Please tell me if they don't appear after that!

[2016-05-17 02:00] Alys commented on #7259
Death now reports that you lost two items. One of the items is the one that appears immediately in the Rewards column but that goes back into your inventory after a sync (Death's client-side choice). The other is the item that appears in the Rewards column after the sync (Death's server-side choice).

For anyone wanting to test Death, thanks to @crookedneighbor the Debug menu in the footer now con

[2016-05-17 02:11] Alys opened #7313 "[API v3] A Tavern challenge can be created without a gem prize"
### Description

When creating a challenge in the Tavern, you aren't forced to set a gem prize.
#### Console Errors

none

[2016-05-17 02:24] Alys opened #7314 "[API v3] Challenge creation: no validation message for missing group (lower priority)"
### Description

When creating a challenge, if you neglect to select a group from the drop-down, you don't get any validation error messages until you click "save", and then you get the blue growl saying "Error Challenge validation failed".

The ideal behaviour would be for client-side javascript to give you a warning when you click save but before anything is sent to the server (in the same way t

[2016-05-17 02:29] Alys opened #7315 "[API v3] server error notification blue colour / color doesn't scream "error""
### Description

The server errors now use a blue growl, but should they be a different colour? Blue is typically a positive colour, and is similar to the mana notification. It might be harder for people to realise that an error has occurred. The red colour from the old server errors might be better?

If this is changed, I believe it would not need to be done before go-live.

![screen shot 2016-05

[2016-05-17 03:35] crookedneighbor commented on #7315
I agree, anything with a response code of 400 or higher should be a different color.

[2016-05-17 04:21] ghost opened #7317 "[API v3]Cannot accept/reject quest from Party interface"
General Info
- UUID:
- Browser: Chrome
- OS:  Win10
### Description

Accept/Reject buttons next to Ian do not work. They get the blue outline highlight, but do not do anything. Have to refresh page to get the quest invite pop-up again.
#### Console Errors

[2016-05-17 06:12] Alys commented on #7294
Sorry, another thing that a challenge participant must be able to do:
- Edit the streak on a challenge's Daily

It's necessary for the case where bugs / internet outage causes an unfair cron that removes the streaks.

I've updated my first post here to include this.

[2016-05-17 06:15] paglias commented on #7259
What about having the revive code running only on the server? So the bug
can't exist
Il 17 mag 2016 4:00 AM, "Alys" notifications@github.com ha scritto:

[2016-05-17 06:21] Kryzowsky commented on #7234
It is not. I click the red megaphone, it tells me the winner, then if I click Remove Tasks or Keep Them, neither does anything. - In the upper right corner - "Invalid request parameters"

[2016-05-17 06:27] Kryzowsky commented on #7272
Deleting a challenge still doesn't give gems back (at least not immediately, or after sync)

[2016-05-17 06:32] Kryzowsky commented on #7313
Also, as of now all challenges are featured without a gem prize (except when creating an entirely new one).

[2016-05-17 06:35] Kryzowsky opened #7319 "[API v3] Old challenges, which I own and participate in - I can't be selected as winner"
General Info
- UUID: 432192fb-66ed-413c-88f6-b1ece628d943
- Browser: Google Chrome 50.0.2661.102 m
- OS: Windows 7
### Description

In older challenges, transported from the site, which I did not newly create, I can't be selected as a winner (I am not on the list or at the bottom), even though I participate in them (even according to the filter).
#### Console Errors

[2016-05-17 06:38] paglias commented on #7272
Did you try with a new challenge? Challenges from the old site have a bug
that caused the prize to be set to 0
Il 17 mag 2016 8:27 AM, "Kryzowsky" notifications@github.com ha scritto:

[2016-05-17 06:39] Kryzowsky commented on #7272
Yes, I did try with a new one I have just created. It even showed the gem prize in the Tavern unlike all the others.

[2016-05-17 07:11] Alys opened #7320 "[API v3] Challenges can not be edited by their owner or an admin"
### Description

Most challenge attributes cannot be edited by their owner or by admins.

Note that I'm not referring to editing the tasks that have been added to the player's own task lists. I'm talking about the challenge itself.

When a challenge owner or admin tries to edit the challenge:
- They ARE able to change the title (this is correct).
- They seem to be able to change the tag but on a r

[2016-05-17 07:30] Alys commented on #7313
@Kryzowsky That's a known problem caused by the migration a few days ago when the test site was created. You can ignore it. It won't happen in the next migration.

[2016-05-17 07:30] Alys commented on #7259
That would fix the problem forever and I would love it beyond all things.

[2016-05-17 07:38] Alys commented on #7320
Note that the challenge creator should not be able to create a checklist.

The creator (and admins) should be able to :
- Edit the title of a task
- Edit the extra notes (NB: the participants can also edit)
- Change the difficulty
- Edit the Habit's negative and positive buttons
- Edit the repeat fields and start date for a Daily
- Edit the due date for a To-Do
- Add and delete tasks

[2016-05-17 08:59] Alys commented on #7161
CRON_SAFE_MODE is set to true on v3.habitica.com now.

[2016-05-17 09:10] Alys commented on #7272
Confirmed that when I create a new challenge with a gem prize and then delete the challenge, I do not get the gems back, even after a sync or reload. That was tested with a new challenge created on the test site.

If I create a new challenge with a prize and declare myself the winner, I do get the gems back after syncing.

[2016-05-17 09:12] Alys commented on #7319
@Kryzowsky That's probably due to a bug in the mgiration that created the test accounts.

When I create a new challenge on the test site, I am able to select myself as the winner.

[2016-05-17 10:08] TheHollidayInn commented on #7272
Hmm. I didn't make any changes to fix this. We couldn't confirm the issue, but it seems it is continuing. I'll try to replicate locally with the updates.

[2016-05-17 10:33] Alys commented on #7272
from server/models/challenge.js:

[code]

That exemption for the Tavern is the problem. @Kryzowsky and I were testing with Tavern challenges. I've just tested with a non-Tavern challenge and deleting it causes gems to be returned correctly.

I don't believe that exemption should be there, even if that's current behaviour on the production site. Sometimes you do legitimately need to delete a challe

[2016-05-17 10:40] Alys commented on #7272
Looks fixed.

That same bug exists in production so we don't need to fix it in API v3 yet. It will be fixed in future in https://github.com/HabitRPG/habitrpg/issues/6723

I can't replicate that in one test. However it's well known on the production site (a timeout error, I believe) so it's not impossible the same thing is happening with v3. We can work on it in future in https://github.com/HabitRP

[2016-05-17 12:43] Memry opened #7322 "[API v3] Cannot send a card to a party member"
General Info
- UUID: e495bd8b-f2f1-48e8-8f5f-9a52710999cf
- Browser: Chrome Version 50.0.2661.102 m
- OS: Windows 7
### Description

I cannot send a card to a party member.  I can send it to myself, but not to Sphinx. I tested all three cards.

Also - do you want as a separate issue that when I click the notification that I received a card - it does nothing.

[2016-05-17 13:00] Memry opened #7323 "[API v3] Start a quest button not working"
General Info
- UUID: e495bd8b-f2f1-48e8-8f5f-9a52710999cf
- Browser: Chrome Version 50.0.2661.102 m
- OS: Windows 7
### Description

I am in a party with Sphinx we created just for testing quests and other party items.  We just completed a quest and when I select the "Start a quest" button, nothing happens.

[2016-05-17 13:01] paglias commented on #7323
Any console error?
Il 17 mag 2016 3:00 PM, "Memry" notifications@github.com ha scritto:

[2016-05-17 13:07] Memry commented on #7323
Nothing.  There is no response at all.  I might as well be clicking a blank space.

[2016-05-17 13:47] paglias commented on #7322
It's okay to keep them in 1 issue

[2016-05-17 13:50] paglias commented on #7315
@crookedneighbor @Alys just change the notification color to red?

[2016-05-17 13:51] crookedneighbor commented on #7315
Yeah

[2016-05-17 13:52] paglias commented on #7254
@Blablux wow this bug is so strange, if you have the possibility, can you try the same thing from a different wifi or mobile network?

[2016-05-17 13:59] ghost commented on #7323
confirmed. Party ID e3565aa7-2917-4460-9716-c930e4fd778d

**_added:**_
I've been able to start a quest from inventory
... abort it... and now the "start" button works again

**_added after that:**_
In case it may be relevant:

meaning the previous quest ended with a couple of errors. We'll test it once again today

[2016-05-17 14:01] Wariannem commented on #7251
When using the website in another language (tested french) the notification comes twice and in different versions for feeding pets. For purchasing the notification comes in english with the typo mentioned earlier by @GitHubSphinx and @Blablux.
![screenshot 2016-05-17 15 58 12](https://cloud.githubusercontent.com/assets/19360357/15324835/647e81a4-1c48-11e6-8e8a-f722ea540638.png)

[2016-05-17 14:11] ghost opened #7324 "[API v3] List of party members doesn't show health points"
General Info
- UUID: ffa26f90-f4cf-40b5-8b3b-aca988ab8ed2
- Browser: FF 46.0.1
- OS: win10
### Description

The list of party members doesn't show HP and it looks like:
`Sphinx ( HP)`

IDK if it may be related to https://github.com/HabitRPG/habitrpg/issues/7323 and our party is somehow broken, but features like inviting seem to work ok (Group ID: e3565aa7-2917-4460-9716-c930e4fd778d)
#### Console

[2016-05-17 14:13] ghost commented on #7324
And it is fixed after starting a quest from inventory. Strange...

[2016-05-17 14:13] GitHubSphinx commented on #7323
I've been able to start a quest from inventory

[2016-05-17 14:15] GitHubSphinx commented on #7323
... abort it... and now the "start" button works again

[2016-05-17 14:16] #7324 closed, assigned to nobody

[2016-05-17 14:20] GitHubSphinx commented on #7323
In case it may be relevant:

meaning the previous quest ended with a couple of errors. We'll test it once again today

[2016-05-17 14:28] paglias commented on #7259
Let's wait until the end and if we can't fix it we'll switch to server only code

[2016-05-17 14:30] paglias opened #7325 "[API v3] No more batch-update means changes not synced automatically"
One of the few advantages of batchUpdate was that it automatically reconciled the browser data with the database data every time a request was sent in case the user was updated by using a mobile app, 3rd party integration, quest boss, ...

Now this doesn't happen anymore so it's possible to work on the site for a long time without syncing and the updated values will never show up.

@Alys @crookedn

[2016-05-17 14:31] paglias commented on #7323
@GitHubSphinx would you mind inviting me to your party? UUID ed4c688c-6652-4a92-9d03-a5a79844174a

[2016-05-17 14:31] ghost opened #7326 "[API v3] Challenges list inside a group doesn't show the note if no challenges"
General Info
- UUID: ffa26f90-f4cf-40b5-8b3b-aca988ab8ed2
- Browser: FF 46.0.1
- OS: win10
### Description

If a party/guild has no challenges, the list will say _No challenges yet, visit  Challenges to create one._ on production. However this note is note displayed for me on v3beta

added: the note is there for guilds, but not for a party
#### Console Errors

none afaict

[2016-05-17 14:33] GitHubSphinx commented on #7326
added: the note is there for guilds, but not for a party

[2016-05-17 14:34] GitHubSphinx commented on #7323
done

[2016-05-17 14:37] ghost commented on #7323
@paglias done

added: Quest completed. No errors this time

[2016-05-17 14:37] paglias opened #7327 "[API v3] Client contains call to API v2"
Both in views and in client/js files

[2016-05-17 14:45] Wariannem opened #7328 "[API v3]: Party page displays the button "Start a Quest" although the party is already on a quest"
General Info
- UUID: a1f425bb-1fa4-4fcc-93d7-56737a8edfe2
- Browser: Chrome (Version 50.0.2661.94 (64-bit))
- OS: Mac El Capitan
### Description

The green button "Start a Quest" is displayed on the party page while the party is on a quest. Clicking on it opens the quest inventory and after picking a quest and clicking to send the invite, the notification "Your party already on a quest [...] Try a

[2016-05-17 14:47] paglias commented on #7303
@GitHubSphinx are they reset in v2?

[2016-05-17 14:48] paglias commented on #7303
I can't find it in the code

[2016-05-17 14:55] paglias commented on #7255
@citrusella this should work now!

[2016-05-17 14:55] #7255 closed, assigned to nobody

[2016-05-17 14:55] paglias commented on #7311
Errors should be fixed now!

[2016-05-17 14:55] paglias commented on #7234
@Kryzowsky would you mind trying once again? It should finally work. Thanks for your patience!

[2016-05-17 14:56] paglias opened #7329 "[API v3] Accepting invite to party does not show party without reloading"
You have to reload the page before it shows up

[2016-05-17 14:57] paglias commented on #7328
Duplicate of #7266

[2016-05-17 14:57] #7328 closed, assigned to nobody

[2016-05-17 14:58] ghost commented on #7303
I believe I tested it yesterday, and they did reset in v2. Resetting is supposed to produce a fresh new account with the same credentials, as far as I understand

[2016-05-17 14:59] ghost commented on #7303
I'm double-checking it now

[2016-05-17 15:00] paglias commented on #7303
Thanks, @Alys I can't see the code to reset points here https://github.com/HabitRPG/habitrpg/blob/develop/common/script/ops/reset.js but I may be missing something

[2016-05-17 15:06] paglias commented on #7266
Fixed, will go live in a few hours

[2016-05-17 15:06] #7266 closed, assigned to nobody

[2016-05-17 15:07] paglias opened #7330 "[API v3] When partying solo and invited to new party, invitation page is not shown"

[2016-05-17 15:13] ghost commented on #7303
@paglias @Alys I'm sorry, I'm wrong about it. Attribute points are not reset when you reset account. Both in v2 and v3 =(

[2016-05-17 15:15] paglias commented on #7326
@TheHollidayInn I think this is because the $scope.group behaves differently than in v2

[2016-05-17 15:17] ghost commented on #7326
I've just created a new account and new party of one... and the note is in place. Strange.

Added:
but the problem remains for my account and the party:
![sc](https://snag.gy/w6JGDV.jpg)

[2016-05-17 15:20] librarianmage opened #7331 "[API v3] Party name defaults to "group name""
General Info
- UUID: 95f16006-1504-4a9f-95b6-0c7314dbd7ee
- Browser: Chrome
- OS: Windows
### Description

On the production server, the party I am in has no name:
![image](https://cloud.githubusercontent.com/assets/12386291/15327884/a1f799ec-1c18-11e6-8ce8-bb3e646cf5c8.png)

However, on the API v3 server, the party I am in has been renamed to "group name"
![image](https://cloud.githubusercontent.

[2016-05-17 15:26] paglias commented on #7331
@MathWhiz thanks, this is expected. In v3 the party name is required so to avoid getting validation failed errors I've defaulted groups with missing names to "group name". You can change it to something else if you want

[2016-05-17 15:26] #7331 closed, assigned to nobody

[2016-05-17 15:29] ghost commented on #7303
addition:
I'm tripple checking it, and it may actually be something with un-allocated points which kept bothering me.

When I reset the account un-allocated points are in place (as the allocated ones) but then with the first level change the un-allocated points are taken away.

I'll close the issue until I figure out what really should be reported.

[2016-05-17 15:29] #7303 closed, assigned to nobody

[2016-05-17 15:32] paglias commented on #7322
Fixed (going live shortly the inability to send a card, opening a new issue for the redirect issue)

[2016-05-17 15:32] #7322 closed, assigned to nobody

[2016-05-17 15:33] GitHubSphinx commented on #7326
The note is back for my account too

[2016-05-17 15:35] GitHubSphinx commented on #7326
and disappeared again...

[2016-05-17 15:39] paglias opened #7332 "[API v3] Forcing quest start doesn't update party page"
Manual refresh is needed to show that quest has started

[2016-05-17 15:44] paglias opened #7333 "[API v3] Completed todos are not loaded"

[2016-05-17 15:59] paglias commented on #7313
Fixed

[2016-05-17 15:59] #7313 closed, assigned to nobody

[2016-05-17 15:59] paglias commented on #7253
Fixed

[2016-05-17 15:59] #7253 closed, assigned to nobody

[2016-05-17 16:00] paglias commented on #7272
@Alys that exception was in v2, I can remove it if you want

[2016-05-17 16:19] #7314 closed, assigned to nobody

[2016-05-17 16:19] paglias commented on #7314
Fixed since a group must be selected now

[2016-05-17 16:25] paglias commented on #7323
Dup #7232

[2016-05-17 16:25] #7323 closed, assigned to nobody

[2016-05-17 16:26] paglias commented on #7302
@dfecko it doesn't show on habitica.com?

[2016-05-17 16:32] paglias commented on #7320
@Alys except for the tag issue, the rest is disabled in v2 too

[2016-05-17 16:34] ghost commented on #7254
Just tried on a mobile network on a third device, still the same error (unfortunately I can't upload the screenshot yet, I may do it tomorrow if needed)

[2016-05-17 16:35] paglias commented on #7320
regarding the tag issue I disable it because it caused a new tag to be created on the users without removing the previous one. I would vote for not being able to change, of course the ui would have to be updated

[2016-05-17 16:36] paglias commented on #7291
I agree with @crookedneighbor , let's create a new route to set custom day start

[2016-05-17 16:38] paglias commented on #7251
@Alys should these new notifications removed (you purchase a ..., you sold a ...)

[2016-05-17 16:42] paglias commented on #7315
What about "Not enough gold"? In production is a blue notification, should it be an red one too?

[2016-05-17 17:00] crookedneighbor commented on #7315
I think it should be red.

[2016-05-17 17:00] crookedneighbor commented on #7315
Since it denotes an error.

[2016-05-17 17:11] paglias commented on #7315
Server errors return a red notification.
Client notifications have not been changed, we can change them later

[2016-05-17 17:11] #7315 closed, assigned to nobody

[2016-05-17 17:12] paglias commented on #7251
Removed 2 strings and fixed the error with non english languages

[2016-05-17 17:12] #7251 closed, assigned to nobody

[2016-05-17 17:22] paglias commented on #7304
Fixed

[2016-05-17 17:22] #7304 closed, assigned to nobody

[2016-05-17 17:32] paglias commented on #7333
Fixed

[2016-05-17 17:32] #7333 closed, assigned to nobody

[2016-05-17 17:32] paglias commented on #7301
Moving to POST API v3

[2016-05-17 17:37] L1st3r opened #7334 "Issue with getting equipment from the Enchanted Armoire"
General Info
- UUID: e177e5a0-2606-40b7-b448-bbc7359ca30f
- Browser: Chrome 50.0.2661.102 m
- OS: Windows 10
### Description

After receiving I believe 4 pieces of equipment out of about 6-8 tries, I now have a streak of at least 8 attempts in a row that did not result in any equipment. There HAS to be a bug here, I realize that it's random, but that is crazy unlucky!

It's almost as if the code d

[2016-05-17 17:38] L1st3r commented on #7334
So of course the next two gets were equipment. What are the percents for getting the equipment?

[2016-05-17 18:36] beffymaroo opened #7335 "Markdown support on all platforms"
A number of issues have come up in some guilds about users wanting or needing to warn others about post content (spoilers, triggers in guilds where that is relevant).

TWs or other warnings/content notes are less useful when the reader of a post can see all text in the post at once- as in platforms where messages show in their entirety or do not scroll, or in the case that the poster is not able t

[2016-05-17 19:05] dfecko commented on #7302
I'm not sure, I'm above level 10 on my real account and don't want to mess
with it like I'm doing in the test instance.
On May 17, 2016 10:27 AM, "Matteo Pagliazzi" notifications@github.com
wrote:

[2016-05-17 19:21] Alys commented on #7302
It does not display before level 10 in production (neither for a new account nor for an account that has rebirthed)

[2016-05-17 19:33] martanna commented on #4252
Hi @Alys I think I have the same issue again. It also didn't recall my contribution toward quest on the last day (I was in the Inn for the most it, but on the last day I checked out - quest has no recollection of it or used mana for casting Tools of Trade).
My Username: martanna,
User ID: d3baa3cf-3dda-4208-9373-046f5a2f7ea5
Quest: The Golden Knight Part 1

[2016-05-17 19:36] Alys commented on #7334
Randomness does unpleasant things like that sometimes. If you keep trying, you'll get the gear.

Note this issue: https://github.com/HabitRPG/habitrpg/issues/5376 -- you might have been given gear on some of the times when it said you hadn't.

You can see the randomness stats here: http://habitica.wikia.com/wiki/Enchanted_Armoire

If you're using Settings > Site > Fix Character Values to give your

[2016-05-17 19:36] #7334 closed, assigned to nobody

[2016-05-17 19:38] Alys commented on #7272
Let's leave it for now, we can remove it later. I'm closing this but adding it to my list of things to look at after go-live. Sorry, paglias, I should have noticed that sooner. :(

[2016-05-17 19:38] #7272 closed, assigned to nobody

[2016-05-17 19:55] Alys commented on #7246
common/script/ops/scoreTask.js

Mana is handled correctly because it's assigned by _gainMP()

The bug for XP and GP will come from differences between _calculateDelta() and _calculateReverseDelta() and the way they handle checklists. I don't know exactly where but I'm sure I can find it, and I'll look at it later today if no one else gets to it first.

[2016-05-17 19:59] Alys commented on #4252
@martanna That's fixed for you. Sorry about the trouble! The lack of quest progress / ToT effect could be due to a temporary sync error. If it happens persistently, please log a bug!

[2016-05-17 20:04] crookedneighbor commented on #7246
I personally don't think this is a blocker. It'll be nice to fix this before release, but I'm fine if this particular behavior doesn't get fixed until after the official release.

[2016-05-17 20:06] Alys commented on #7320
Oh, I'm sorry. :(  I should have tested.

Agreed! Leave it till after go-live if you wish. In production, even when a tag is changed, we don't want the change to be copied to existing participants (reasons in https://github.com/HabitRPG/habitrpg/issues/6974#issuecomment-204667694 ) so disabling editing works.

[2016-05-17 20:13] Alys commented on #7303
FYI, it will be covered by whatever fix we make for this issue: https://github.com/HabitRPG/habitrpg/issues/6482 which is a catch-all for all attribute point problems.

[2016-05-17 20:21] Alys commented on #7325
So as an example, you could be at low health, and a party member casts a skill to increase your health, but you don't see if for potentially a long time afterwards?

If you use negative Habits before the healing is synced to the browser, could that cause problems with the browser thinking you should die when the server knows you shouldn't?

[2016-05-17 20:23] paglias commented on #7325
Yes

[2016-05-17 20:27] paglias commented on #7325
One option to fix this is to send back user._v with every server response and if the difference between the client _v and the _v sent by the server is > 1 force a sync

[2016-05-17 20:31] quin-jay opened #7336 "make it more obvious that casting skills onto challenge tasks is impossible"
_edit by admin:_

It is no longer possible to cast a skill on a challenge task and have the effect last, however there is no visual indication of that. You can attempt to cast a skill on a task and then you see an error message and the skill casting is reversed (i.e., the API prevents the skill being cast), but we want that to be more user-friendly.

To fix this issue, we need to modify the web in

[2016-05-17 20:32] paglias commented on #7320
I don't know why the UI prevents to change title / difficulty but the API allows changes to them both in v2 and v3

[2016-05-17 20:56] Alys commented on #7320
I definitely think this can be ignored until later! I regret opening it. :)

I'm closing it but adding it to my list of things to revive after go-live.

[2016-05-17 21:03] Alys commented on #7336
Checking task values for the test site can be done with [this version of the Data Display Tool](http://oldgods.net/habitrpg/ddt_for_v3_site_using_APIv2.html) -- see the Task Overview section.

[2016-05-17 21:40] quin-jay commented on #7336
@Alys Ah thank you, this'll come in handy! Just to make sure -- The only skills that actually change task value are Brutal Smash and Searing Brightness, right? There's no universal score increase just for targeting on a task?

[2016-05-17 21:42] Alys commented on #7336
@lynnyliz That's correct!

[2016-05-17 21:44] quin-jay commented on #7336
@Alys Schweet, I'll get to testing and post an update here in a few minutes (not to overwhelm y'all with emails... :grimacing:)

[2016-05-17 22:00] TheHollidayInn commented on #7326
Fixing this.

[2016-05-17 22:03] TheHollidayInn commented on #7317
Fixing this.

@paglias The issue here is the return structure of force start does not send response.data.quest like other quest routes. Is it okay to change this structure on the server side? I am adding a hack on the client side for now.

[2016-05-17 22:06] TheHollidayInn commented on #7332
Fixing this.

@paglias The issue here is the return structure of force start does not send response.data.quest like other quest routes. Is it okay to change this structure on the server side? I am adding a hack on the client side for now.

[2016-05-17 22:08] quin-jay commented on #7210
@paglias I'm still seeing the 'Invalid target' error with Searing Brightness. When I click on the skill, these errors show up:

[code]

[2016-05-17 22:08] paglias commented on #7332
Yeah, let's change it on the server before we release v3
Il 18 mag 2016 12:06 AM, "Keith Holliday" notifications@github.com ha
scritto:

[2016-05-17 22:10] TheHollidayInn commented on #7329
Fixing this.

[2016-05-17 22:15] quin-jay commented on #7336
I wasn't able to test Searing Brightness because of [an earlier issue](https://github.com/HabitRPG/habitrpg/issues/7210) that's still present for me. But it looks like Brutal Smash didn't create a persistent change in task value -- it turned the challenge task blue until I synced again, at which point it became green and I got my mana back. So we're all good there!

[2016-05-17 22:21] TheHollidayInn commented on #7296
I'm having trouble replicating this locally, but I am changing the way joining and leaving a guild works, so I am hoping that will solve this problem and some others. Let's just have you all test when the fix is pushed, please.

[2016-05-17 23:13] TheHollidayInn commented on #7330
Fixing.

[2016-05-17 23:17] TheHollidayInn commented on #7317
@paglias same issue as #7332

[2016-05-17 23:27] TheHollidayInn commented on #7332
Actually, never mind. I'm not seeing any route that returns quest in the response. Maybe it was an old v2 thing.

[2016-05-18 03:25] CloJo opened #7338 "API v3: Error message selling potions"
General Info
- UUID: 99463fab-e36e-4f8b-87f6-a6f925850ed8
- Browser: Safari
- OS: OSX Yosemite v10.10.5
### Description

Selling potions returns the error message "Key not found for user.items hatchingPotions"  Potion number is decreased by one and gold is properly increased.
#### Console Errors

[2016-05-18 04:16] Memry commented on #7338
I was able to sell potions earlier with no issues.

UUID: e495bd8b-f2f1-48e8-8f5f-9a52710999cf
Chrome Version 50.0.2661.102 m
OS: Windows 7

[2016-05-18 04:21] WillowKB commented on #4252
Me again (3rd time in about a week).

Not sure if my group leader (Mwinflow) already contacted you... buuut:

Our group completed the Moonstone quest, and didn't get the rewards..

My Username: Willow13
My UserID: 0111e48f-f912-40f7-8126-8c066d8002ae

Group ID: 3c45b3e1-b7a0-4a7d-914c-246b52b2367d

[2016-05-18 04:59] citrusella opened #7339 "[API v3] Party notifications go to "guild" url but otherwise function fine"
General Info
- UUID: 2d6ef231-50b4-4a22-90e7-45eb97147a2c
- Browser: Mozilla Firefox 46.0.1
- OS: Windows 7 Professional Service Pack 1 (via Bootcamp on a late-2011 Macbook Pro)
### Description

Instead of going to https://v3.habitica.com/#/options/groups/party (what the main site goes to from a notification), the notification that pops up (i.e. via a boss strike or a skill/buff) goes to the group