[2021-10-21 22:37] #13276 closed, assigned to nobody

[2021-10-21 22:39] #12914 closed, assigned to nobody

[2021-10-22 16:35] #7809 closed, assigned to nobody

[2021-10-22 16:43] #12442 closed, assigned to CuriousMagpie

[2021-10-29 19:12] citrusella commented on #12920
Technically there's an API command to create a new post: https://habitica.com/apidoc/#api-News

...But as I've never done it, I don't know what being *allowed* to post it entails (i.e. getting the local install account in question to have the NewsPoster permission, for instance).

[2021-10-31 17:18] jbryson3 commented on #13329
I can take a crack at this, if its not already in progress

[2021-10-31 21:02] citrusella commented on #13329
I'm not someone who can give a definitive answer as I'm not, like, staff or something, but I think [Guidance for Blacksmiths](https://habitica.fandom.com/wiki/Guidance_for_Blacksmiths) advises to look at the most recent comment to see if someone's asked to work on it recently and then if you do ask, to wait on admin okay before starting work? (Largely to make sure you don't waste your time, if an

[2021-10-31 21:12] jbryson3 commented on #13329
Thanks @citrusella, I totally missed the last reply to this before I started work. It was only when I was opening up the PR that I saw that someone had requested to work. I figured I'd open up the PR anyway because I had something.

I'll be more mindful on this project in the future, and will definitely understand if the PR gets closed and the ticket assigned to the previous person!

[2021-10-31 21:27] citrusella commented on #3465
Out of curiosity: *Is* this still occurring? What are the "some issues" mentioned just after the redesign? When I try to sort of force what's happening in the OP to happen in a PM to myself (by adding a random English word into a string of Hebrew), it seems to work the way I expect it from seeing things on other websites? (AFAICT, as I'm not fluent in Hebrew.)

[2021-10-31 22:19] citrusella commented on #9902
So... I have *no idea* (yet) if I have the skill to take on something like this at present, but I wanted to ask this question even though I'm pretty sure it's not actually part of the issue (i.e. this issue is just about the alias field, which should appear *only if* developer mode (which would need to exist as part of this too) is on)... so... tangentially:

Is that "confirm before applying damag

[2021-11-01 15:44] Tressley commented on #9902
@citrusella -- That's just a mock-up artifact from previous discussions. You can ignore that. 😅

[2021-11-01 15:49] Tressley commented on #12796
@CuriousMagpie -- I agree that I don't think this is a bug, or something that needs fixing. Ideally, the whole task would receive the outline when casting a skill, but the trade-off seems to be a loss of accessibility. Let's go ahead and close this for now.

[2021-11-01 15:49] #12796 closed, assigned to CuriousMagpie

[2021-11-01 17:16] citrusella commented on #9902
Okay, fair. I just saw it and was like 👀

[2021-11-02 07:51] JasonCarvalho-tech commented on #12419
Hi, it is not the regex, this issue is that the validation is only run after 3 character have been entered in the email field. I can fix it to run as soon as any character is entered like it works for the username and password fields.
This issue is also present in the [https://habitica.com/register](https://habitica.com/register) page.
If it's okay with you I can work on resolving the issue by app

[2021-11-02 19:44] Lyqst commented on #12920
Thanks @citrusella !

I managed to give myself permission by manually modifying my test user in the database (as far as I'm aware, there's no API endpoint for this):

![image](https://user-images.githubusercontent.com/78376862/139933902-5502ad60-7f53-4c2d-85c3-34e7fa47cbf4.png)

Anyway, here's what I did:

![image](https://user-images.githubusercontent.com/78376862/139936314-ba79b2fa-6b3d-45cf-8d1

[2021-11-03 14:22] Tressley commented on #12419
Thanks for your interest @JasonCarvalho-tech. I've assigned this issue to you.

[2021-11-04 00:15] citrusella commented on #12920
Oh darn even though this is an issue someone else is working on at this very moment, I wanna ask a clarifying question for this point because this doesn't specify daylight or standard time, does that mean it should always be EST (as it is in the code Lyqst is working on to my understanding)? Or does it matter when Eastern is in daylight time (especially as *all* of Eastern observes it AFAIK, hrmmm

[2021-11-04 15:31] Lyqst commented on #12920
@citrusella yeah, that's a good point. Actually, that wouldn't be too difficult to solve using [moment's timezone add-on](https://momentjs.com/timezone/).

From their front page:
[code]

[2021-11-04 20:25] CuriousMagpie opened #13616 "Stealth can be cast from mobile app and then on website"
[//]: # (Fill out relevant information - UUID is found from the Habitica website at User Icon > Settings > API)
### General Info
  * UUID: ba175c69-7edc-43e9-8c02-141895074732
  * OS: Windows 10
  * mobile OS: Android

### Description
As a rogue I cast “stealth” daily to minimise the damage I receive.  If I do so from my phone, it will only let me once, saying that casting again would make no diff

[2021-11-04 21:33] #9210 closed, assigned to CuriousMagpie

[2021-11-05 04:04] JasonCarvalho-tech commented on #13529
Hi, I too do not have this issue but did scour the web for solutions,
One might be to edit the package.json to say:
`"serve": "npx --max_old_space_size=4096 vue-cli-service serve" `
as suggested in this thread [https://github.com/vuejs/vue-cli/issues/1453#issuecomment-395131913](https://github.com/vuejs/vue-cli/issues/1453#issuecomment-395131913). This is untested by me so I have no idea if it wil

[2021-11-05 06:35] danndylan commented on #13529
Hi, i tried making the changes in package.json but the error is still the same
[code]

I also tried setting up using docker, but im still having the same error when it comes to running npm run client:dev. not sure if the issue is with my machine

[2021-11-09 17:17] CuriousMagpie opened #13623 "Dragging tags unexpectedly swaps unrelated tags"
[//]: # (Before logging this issue, please contact site administrators from "Report a Bug" in the Habitica website's Help menu. If a GitHub issue is needed, staff will let you know and will most likely log one on your behalf. It is recommended that you don't create a new issue unless advised to.)

[//]: # (Bugs in the mobile apps can be reported via Menu > About > Support.)

[//]: # (If you have a

[2021-11-09 21:02] SabreCat commented on #13252
@Tressley I know there's been plenty else going on; should we leave this on hold, or do you feel like knocking this out yet?

[2021-11-09 21:04] SabreCat commented on #12937
@TheSeally Hi, sorry for the delay! If you're still interested, I can definitely hand this off to you. Let us know what questions you have, here or in the Aspiring Blacksmiths Guild!

[2021-11-09 21:07] SabreCat commented on #13543
We haven't heard from @SandraBiros in a while; @kartiks26, if you're still interested, feel free to look into it!

[2021-11-09 21:09] SabreCat commented on #13329
Yeah, apologies for the delay there! We're implementing some new practices with regards to maintaining these GitHub queues, so turnaround times should start to improve. In any case, we'll give a look at your PR soon!

[2021-11-09 21:11] SabreCat commented on #3465
Good question. I'm going to close this for now as we haven't had any commentary on it in a very long time, and what commentary does exist is pretty vague. If we get new reports of specific trouble with RTL, we can write it up more precisely!

[2021-11-09 21:11] #3465 closed, assigned to nobody

[2021-11-09 21:17] SabreCat commented on #12920
@Lyqst Looking like good work! I agree that `.tz` could be a viable solution for the last comment. Could you go ahead and open a PR with your work so we can continue the review there?

[2021-11-09 21:26] SabreCat commented on #13542
@GabeNedden Are you still working on this one? Let us know what questions you've run into!

[2021-11-09 21:27] SabreCat commented on #13286
@codexdelta Are you still working on this? Let us know what questions have come up!

[2021-11-09 21:29] SabreCat commented on #12972
@vanathi-g Been a while since we've heard from you on this one--are you still planning to wrap this up? Let us know how you're doing!

[2021-11-09 21:31] SabreCat commented on #12971
@Helcostr is this still on your radar? Let us know how things are going!

[2021-11-09 21:33] SabreCat commented on #12936
If it's causing cursors to behave oddly, I think removing the `draggable` property after we're done with it is the way to go.

[2021-11-09 21:37] SabreCat commented on #9244
@Helcostr Another one we last heard from you a couple months ago--still hoping to take it across the finish line? Or ready to let go for someone else to handle?

[2021-11-09 21:38] SabreCat commented on #8735
@ThatGuyDavid09 Still planning to work on this one? Let us know what questions you have!

[2021-11-09 22:07] CuriousMagpie commented on #13623
Removed second user info as they were having an issue with tasksOrder and not their tags.

[2021-11-09 22:29] ThatGuyDavid09 commented on #8735
@SabreCat No, school got in the way. So sorry I couldn't help!

[2021-11-10 10:51] Alys commented on #8063
Sorry, I should have changed the labels on this ages ago. My "simple solution" had a large bug and I never had time to fix it. I'm putting this back to help wanted.

Anyone who picks it up might want to look at https://github.com/HabitRPG/habitica/pull/12499 and the comment that paglias wrote there for how to fix the bug. Or you can work on your own solution!

[2021-11-10 20:33] GabeNedden commented on #13542
I'm sorry @SabreCat I've gotten busy and have to prioritize other projects. I will unassign myself.

[2021-11-11 00:49] codexdelta commented on #13286
@SabreCat will be trying to deliver this by this weekend, thanks.

[2021-11-11 17:48] Tressley commented on #13252
Here they are! https://zpl.io/bL3Ej67

[2021-11-11 17:49] CuriousMagpie commented on #12784
Closing this issue for now. We recommend using the mobile apps whenever possible and if the team decides to clean up the mobile browser experience, we'll target specific pain points.

[2021-11-11 17:49] #12784 closed, assigned to nobody

[2021-11-11 19:23] CuriousMagpie commented on #11616
Closing because this seems to have been a one time glitch.

[2021-11-11 19:23] #11616 closed, assigned to nobody

[2021-11-11 19:30] CuriousMagpie commented on #10829
I'll work on this one!

[2021-11-11 20:07] SabreCat commented on #10124
looking through the code, the `quantity` field is sort of vestigial--we either don't use it at all, or recheck what it ought to be and set it to the appropriate value whenever the list of members changes. And we haven't really seen issues with inappropriate quantity-based charges in recent memory (people getting confused by Stripe's invoice prorating, yes; people not realizing that they'll be char

[2021-11-11 20:07] #10124 closed, assigned to nobody

[2021-11-11 20:11] CuriousMagpie commented on #12965
Closing this as there hasn't been activity on this since January, however we can reopen it if we do start getting more reports of this problem.

[2021-11-11 20:11] #12965 closed, assigned to nobody

[2021-11-12 00:38] Helcostr commented on #9244
@SabreCat Lost the Habitica project from my computer, and I don't feel like starting over from scratch. I'll let someone take over for now.

[2021-11-12 00:38] Helcostr commented on #12971
@SabreCat Lost the Habitica project from my computer, and I don't feel like starting over from scratch. I'll let someone take over for now.

[2021-11-12 06:46] thewilloftheshadow commented on #9244
I'd be willing to come back and take this over

[2021-11-12 16:13] CuriousMagpie commented on #12971
Thanks for the update @Helcostr! I've opened this back up for someone else to tackle.

[2021-11-12 16:14] CuriousMagpie commented on #9244
@Helcostr Thanks for the update!

@thewilloftheshadow It's all yours! Thank you!

[2021-11-12 16:30] #12419 closed, assigned to jasonmishi

[2021-11-12 16:41] #13329 closed, assigned to jbryson3

[2021-11-12 20:27] CuriousMagpie opened #13624 "Armor avatar layer appears behind bangs"
### Description
@citrusella reports: The armor avatar layer appears behind bangs. Normally this is more or less to no effect but it means the headgear portion of the rogue set for 2021 Autumn shows up behind the bangs, since the actual headgear is goo and the "headgear" is built into the armor.

### General Info
  * UUID: 2d6ef231-50b4-4a22-90e7-45eb97147a2c

[2021-11-12 20:32] CuriousMagpie opened #13625 "Broken link on Features page"
### Description
There is a broken link on https://habitica.com/static/features page.

Under 3rd Party Tools section it links to the Chrome Extension which leads to a page to nowhere. I suspect it needs to be changed to the Chrome Chat Extension (https://chrome.google.com/webstore/detail/habitica-chat-client/hidkdfgonpoaiannijofifhjidbnilbb) and the Firefox Chat Extension (https://addons.mozilla.or

[2021-11-13 01:21] CuriousMagpie commented on #13625
I'll look into this one.

[2021-11-13 01:21] CuriousMagpie commented on #13624
I'll look into this one!

[2021-11-15 05:13] Crats1 commented on #13542
Hi, can I work on this issue?

[2021-11-15 14:03] vanathi-g commented on #12972
Hey! Really sorry for the delay but I'm still working on it. May I have another week to work on it? I think I've almost figured it out.

[2021-11-15 18:59] CuriousMagpie commented on #13542
@Crats1 Sure thing! I'll assign it to you; if you get stuck, feel free to checkout the Aspiring Blacksmiths Guild for assistance!

[2021-11-15 19:20] CuriousMagpie commented on #13625
![habitica-broken-link](https://user-images.githubusercontent.com/78037386/141841018-770c15e6-5291-4654-a6ab-cd4a61abbe55.png)

The link is, indeed broken. It goes to the Habitica Chrome extension which is no longer available. The user suggested replacing it with the Chrome and Firefox Chat extensions (links above), but they don't do the same thing as the old extension. It looks like the Habitica

[2021-11-15 19:24] CuriousMagpie commented on #13624
![Screen Shot 2021-11-15 at 2 22 58 PM](https://user-images.githubusercontent.com/78037386/141841478-f94896eb-751a-46cd-a266-587d39198b84.png)

Yup, those are bangs on the top of the goo. Probably has something to do with the order in which avatar elements are rendered, am looking into.

[2021-11-15 21:12] CuriousMagpie commented on #13624
Looking into this a bit more, this is working as intended. The goo is supposed to be semi-transparent, and if you look closely, you can see the rest of my avatar's hair as well. I also noticed that different parts of the bangs peek out of different pieces of headgear. Closing this now!

[2021-11-16 06:15] citrusella commented on #13624
No, the goo is headgear.

The *armor* in the same set includes a fake "headgear" and *that* appears behind the bangs. Let me get a picture myself?

[2021-11-16 06:21] citrusella commented on #13624
Armor in question:

![Screenshot 2021-11-16 at 01-17-50 Equipment Inventory Habitica](https://user-images.githubusercontent.com/14182450/141931910-923d7c39-7f5d-4391-8658-31f017cc3393.png)

Appearing behind bangs:

![Screenshot 2021-11-16 at 01-17-40 Equipment Inventory Habitica](https://user-images.githubusercontent.com/14182450/141931953-89281253-b36b-451d-9c8b-3f5179ef175e.png)

With bangs remo

[2021-11-16 14:47] ReCore-sys commented on #13252
Hey! First time doing anything here so it might take me a day or so to get a hang of the codebase but can I take a shot at this one?

[2021-11-16 17:46] CuriousMagpie commented on #13252
Hey there @ReCore-sys! Here's the link to the design--I think @Tressley will need to give you access to Zeplin for it to work for you: https://github.com/HabitRPG/habitica/issues/13252#issuecomment-966499227

I'll go ahead and assign this to you. Thanks for your help!

[2021-11-16 17:48] CuriousMagpie commented on #13624
Oh, _weird_. I see what you mean, yeah. It probably has something to do with the way the avatar is rendered and the order of the layers, but I'm not sure we want to necessarily change how that works because one piece of equipment looking strange. @SabreCat, what are your thoughts here?

[2021-11-16 19:04] CuriousMagpie commented on #11257
I'll take this one, too, since I'm also handling #11541 and they're related.

[2021-11-16 19:34] Tressley commented on #13252
@ReCore-sys -- Can you provide me with an email address to invite to our Zeplin workspace?

[2021-11-17 01:09] ReCore-sys commented on #13252
Yeah sure. kjshore2004@gmail.com

[2021-11-18 03:42] FirstLoveLife opened #13629 "Language is not correct on habitica webpage"
[//]: # (Before logging this issue, please contact site administrators from "Report a Bug" in the Habitica website's Help menu. If a GitHub issue is needed, staff will let you know and will most likely log one on your behalf. It is recommended that you don't create a new issue unless advised to.)

[//]: # (Bugs in the mobile apps can be reported via Menu > About > Support.)

[//]: # (If you have a

[2021-11-18 04:04] wyatt400 commented on #13629
I'm having the same issue. However, it changed from English to Spanish and even if I go into the settings to change it back to English or British English, it does not work and stays Spanish.

[2021-11-18 04:06] wyatt400 commented on #13629
Interesting, I just reloaded and it changed to Chinese?

[2021-11-18 07:30] Carifyn commented on #13629
Same issue here, using Google Chrome. (Mobile app is working fine)
I'm using German language and it partially switched to French. Changing to English works, when I switch back to German, all French parts are showing as English instead of German. Reloading the site makes it show in French again (while still being set to German). xD
![habiticalang](https://user-images.githubusercontent.com/94597775/

[2021-11-18 08:14] petrof21 commented on #13629
Same here, noticed this couple of days ago, and it happens every day.
But sometime during the day it returns to my default English language.

[2021-11-18 12:57] Agares commented on #13629
I believe this is happening because there's some cache between Habitica's servers and the end users which caches the `/api/v4/i18n/browser-script` endpoint, which should not be cached on public caches, because it depends on the user's session.

[2021-11-18 13:24] FirstLoveLife commented on #13629
My grifriend also suffer similar issue, she cannot switch to other languages after switch from Chinese to English.

[2021-11-18 16:28] SabreCat commented on #13629
@Agares

Hmm, could be! Based on my and @phillipthelen's investigations, my theory is that the `browser-script` is only actively fetched from the API in the base `index.html`, and that's not reliably happening after Vue has finished setting up and loading the user--but that doesn't quite explain why people are getting _arbitrary_ languages assigned to them. Maybe a cache is involved!

[2021-11-18 16:41] Agares commented on #13629
A cache is definitely, involved, the response has an `Age` header, and a `Via: 1.1 google`. I guess a quick solution would be to do `Cache-Control: private`, or `Cache-Control: no-store` (though that'd increase the number of requests to the backend quite significantly). I see `max-age=0` is set in current Cache-Control, but not sure if that was the original header from the server, or is it the cac

[2021-11-18 17:07] 0H21 opened #13630 "Language Issues"
First of all, I apologize because I can't report a bug since I can't understand anything. Second, I can't also send my API because once again I can't understand anything. I just logged in on my account when my language became Chinese. I blindly tapped to where I could find the settings, of course google gave a lot of help, but the language setting is already on "English".

When I tried to click th

[2021-11-18 17:11] SabreCat commented on #13629
@Agares Would it be possible for you to submit a PR with the suggested change? I'm guessing this tweak would be in `website/server/controllers/v3/i18n.js`?

[2021-11-18 17:14] Agares commented on #13629
Sure, can do in an hour or so :)

[2021-11-18 17:55] saraolson commented on #13630
We have an open issue for this already, please see https://github.com/HabitRPG/habitica/issues/13629

[2021-11-18 17:55] #13630 closed, assigned to nobody

[2021-11-18 18:30] Agares commented on #13629
The PR is ready for your review :)
https://github.com/HabitRPG/habitica/pull/13631

[2021-11-18 20:27] SabreCat commented on #13624
Right, this is very much not something that we'd change the layering for. Should the armor's attached headgear be moved to the actual headgear component of the set? @beffymaroo

[2021-11-18 21:08] fassina2 opened #13632 "Habitica won't load on PC, tested 2 different browsers."
Habitica won't load, yesterday it loaded but the tasks were invisible so I had to use the phone app.

Today the site won't load it stays in the purple background with the white logo forever.

Tested 2 different browsers, chrome and vivaldi. Also tested on my phone browsers, vivaldi and chrome. Same thing all of them giving infinite load screens.

I'm in Brazil, using windows 10, phone is an androi

[2021-11-18 22:34] wyatt400 commented on #13629
The PR was closed because it doesn't fix the problem.

Someone could try to code up a new pull request that will hopefully fix the problem.

[2021-11-19 00:46] FirstLoveLife commented on #13629
I found my language setting works correctly now :)

[2021-11-19 00:50] FirstLoveLife opened #13633 ""Bird Buddies Quest Bundle" has been existd for months"
[//]: # (Before logging this issue, please contact site administrators from "Report a Bug" in the Habitica website's Help menu. If a GitHub issue is needed, staff will let you know and will most likely log one on your behalf. It is recommended that you don't create a new issue unless advised to.)

[//]: # (Bugs in the mobile apps can be reported via Menu > About > Support.)

[//]: # (If you have a

[2021-11-19 00:50] FirstLoveLife commented on #13633
![image](https://user-images.githubusercontent.com/37442588/142519997-98b50fc9-9d5f-4626-bf1d-c945abe2769c.png)

[2021-11-19 14:26] 0H21 commented on #13630
Thank you ^^

[2021-11-19 18:42] CuriousMagpie opened #13634 "String error on Equipment screen"
Off-Hand Item text is not rendering on the Equipment screen.

Probably introduced by PR #9210.

![Screen Shot 2021-11-19 at 9 10 36 AM](https://user-images.githubusercontent.com/78037386/142674780-b669015c-7618-4efd-97b8-da267596af91.png)

Edited to add: I can't seem to replicate this on my end. Everything looks fine.

Here's the section of code where the string is used on the Equipment page:
http

[2021-11-19 19:47] CuriousMagpie commented on #13633
Thanks for raising this, @FirstLoveLife!

[2021-11-19 20:16] snuli375 commented on #13325
hi! can i take a stab at this?

[2021-11-19 21:36] #13633 closed, assigned to CuriousMagpie

[2021-11-19 21:48] SabreCat commented on #13634
The string is undefined in most of our language files, only penciled in for English, French, and Chinese... but it _should_ fall back to English where it's missing, not throw an error. I wonder if this is somehow oddly related to #13630? Maybe it's cleared up now that's been addressed?

[2021-11-20 00:52] FirstLoveLife commented on #13629
This issue should have been fixed

[2021-11-20 02:58] FirstLoveLife commented on #13633
@CuriousMagpie Hi, thanks! but 5 hours past, the bundle still doesn't change on page

[2021-11-22 19:45] CuriousMagpie commented on #13633
It hasn't been deployed to production yet--should roll out tomorrow!

[2021-11-22 20:36] #12902 closed, assigned to nobody

[2021-11-24 06:48] FirstLoveLife commented on #13629
This issue appears again @SabreCat @Agares

[2021-11-24 07:07] haslers opened #13652 "Habitica website will not load in Firefox due to MIME type mismatch"
I tried with and without cookies, same result. See attached screenshot.
<img width="927" alt="Screen Shot 2021-11-24 at 08 04 13" src="https://user-images.githubusercontent.com/19686340/143191010-7e8410e5-599e-401c-a6fd-61eb3d2b0cb2.png">

[2021-11-24 10:29] benzinn94 commented on #13629
Yep. It's switching between French and Dutch for me.

[2021-11-24 10:33] Agares commented on #13629
@SabreCat I think with the new release, a revert for my commit (https://github.com/HabitRPG/habitica/commit/90a14ee871f5a8ada79365f7e95bdd85bc67424e) got (re)deployed.

[2021-11-24 11:42] melvio commented on #13629
I've seen Russian, French, German, and Portuguese over here.

[2021-11-24 13:46] SabreCat commented on #13629
yup, a fix is on the way up now.

[2021-11-24 13:46] #13629 closed, assigned to SabreCat

[2021-11-24 13:48] SabreCat commented on #13652
I've made a change to server config that should hopefully address this. Closing for now, please reopen if there's new reports!

[2021-11-24 13:48] #13652 closed, assigned to nobody

[2021-11-24 17:18] CuriousMagpie commented on #13634
Another report from a user, this time on the Broken Task modal:
![broken-challenge-modal](https://user-images.githubusercontent.com/78037386/143285124-b5935b6e-e08a-446b-8961-0e8aedce647b.png)

However, I cannot replicate the issue on my local development server:
![Screen Shot 2021-11-24 at 12 15 06 PM](https://user-images.githubusercontent.com/78037386/143285211-72d6f345-1ce1-4808-ba1b-b6cd2a83be

[2021-11-24 20:16] citrusella commented on #13634
I had something *like* this happen inconsistently to a few strings in the help menu while trying to force the language issue through repeated reloading (just to see what it looked like) while my language was set to (US) English and the website continued to appear in what looked like English (as I never experienced the language issue).

Dunno if related but felt like mentioning.

[2021-11-24 21:12] CuriousMagpie commented on #13634
I feel like it's got to be tied to the language/cache issues somehow. The two reported problems were were both strings updated in #9210, so it's possible that the cache wasn't grabbing those updates as well. I'd also updated a couple strings in the help menu as well.

[2021-11-24 21:28] citrusella commented on #13634
Ooh, my problem was also in a string that was probably updated, I just noticed--I don't remember for sure what the other one was, but one string reported as having a problem was requestAF.

[2021-11-24 21:56] CuriousMagpie commented on #13634
That string was changed to "requestFeature."

[2021-11-28 02:18] Ahat130 commented on #11501
hi, is this available? im interested to fix this

[2021-11-29 19:27] CuriousMagpie commented on #11501
Sure thing, @Ahat130! I'll assign it to you momentarily.

[2021-11-29 23:02] Ahat130 commented on #11501
one question: where would i find the pinned items file? im new to github so i dont know where to find it

[2021-11-29 23:30] Ahat130 commented on #11501
never mind ive found it

[2021-11-29 23:46] CuriousMagpie commented on #11501
@Ahat130 You can also ask for help in the Aspiring Blacksmiths Guild, if you need it!

[2021-12-01 01:28] abigley commented on #12905
Hi, I'd like to work on this!

[2021-12-01 01:28] maryketa commented on #12397
Hi! I'm a first-time contributor, can I take a stab at this?

[2021-12-01 16:30] CuriousMagpie commented on #12905
Sure thing, @abigley! I'll assign it to you momentarily.

[2021-12-01 16:31] CuriousMagpie commented on #12397
Absolutely, @maryketa! Be sure to check out the Aspiring Blacksmiths Guild if you get stuck.

[2021-12-02 17:41] creaturebytes opened #13665 "Unable to Send Party Invites"
![unnamed](https://user-images.githubusercontent.com/89276822/144474809-b45d151a-1224-419f-aa11-5277f886a094.png)

[2021-12-03 13:27] FirstLoveLife opened #13666 "Monthly Start Date is not correct"
* UUID: ef3f1e96-dcbd-4036-a8cd-3d5cb10b4edd
  * Browser: chrome
  * OS: arch linux

### Description
My timezone is utc+8, it should be friday now as the system calender shows, but habitica recongize it as saturday.
![image](https://user-images.githubusercontent.com/37442588/144609886-77ad3031-8ccc-4ea7-906e-4085a884c9f8.png)
![image](https://user-images.githubusercontent.com/37442588/144609964-25

[2021-12-03 16:44] CuriousMagpie commented on #13665
I just looked user 9dfb935c-fe91-46bc-8518-9962834c8220 up in the database and can confirm that they are in no parties or guilds and have no outstanding invitations.

[2021-12-03 18:15] CuriousMagpie commented on #13632
@fassina2, are you still having this issue?

[2021-12-03 18:17] CuriousMagpie commented on #13634
I haven't seen anything more about this, so I'm going to go ahead and close on the assumption that the cache updates were the root cause.

[2021-12-03 18:17] #13634 closed, assigned to CuriousMagpie

[2021-12-04 02:09] FirstLoveLife commented on #13666
@CuriousMagpie Hi, i think this is not a minor issue, because it mess up my monthly tasks' due day

[2021-12-04 10:27] Alys commented on #13665
According to Amplitude, user 9dfb935c-fe91-46bc-8518-9962834c822 joined a party on Nov 19, 11:27:07 pm UTC, about an hour after creating their account. They also have quest progress messages for 2021-11-24, 2021-11-30, 2021-12-01, 2021-12-02, and 2021-12-03, so they were in a party _probably_ continuously from at least 2021-11-24 to now.

[2021-12-04 10:28] Alys commented on #13665
I think this is a case of the person who reported the issue assuming that the invitee wasn't in a party when they actually were.

[2021-12-05 05:45] Alys commented on #13666
@FirstLoveLife Can you please tell us this extra information to help us investigate:

1. What time of day was it in your time zone when you noticed this?
1. Had you reloaded the website since the previous day? Or had you opened the website in a new tab on the current day?
1. Was it with a Daily you had just created?
   * Or a Daily you had created in the past? If you had created it in the past, wh

[2021-12-06 17:19] CuriousMagpie commented on #13665
Okay, I'll go ahead and close this. The user did reply to email saying that the issue was resolved and all the folks were now in their party.

[2021-12-06 21:25] CuriousMagpie commented on #13665
Reopening this because we received another email from the user indicating that it's a persistent problem, so it does require investigation.

[2021-12-07 03:19] Alys commented on #13665
Copying in some parts of their latest email:

It's not possible for someone to join a party without an invitation, so the invitations must be working. It may be worth talking them through the process to see where the confusion lies. I'll have a go at that, and also get them to try inviting a test account of mine that I know is not in a party.

[2021-12-07 20:40] CuriousMagpie commented on #13632
Closing this issue.

[2021-12-07 20:40] #13632 closed, assigned to nobody

[2021-12-07 21:42] #12972 closed, assigned to vanathi-g

[2021-12-08 16:31] SabreCat opened #13680 "Task Scored webhook not firing when task causes a level up"
[//]: # (Before logging this issue, please contact site administrators from "Report a Bug" in the Habitica website's Help menu. If a GitHub issue is needed, staff will let you know and will most likely log one on your behalf. It is recommended that you don't create a new issue unless advised to.)

[//]: # (Bugs in the mobile apps can be reported via Menu > About > Support.)

[//]: # (If you have a

[2021-12-08 16:41] SabreCat opened #13681 "Missing translations not correctly defaulting to US English"
[//]: # (Before logging this issue, please contact site administrators from "Report a Bug" in the Habitica website's Help menu. If a GitHub issue is needed, staff will let you know and will most likely log one on your behalf. It is recommended that you don't create a new issue unless advised to.)

[//]: # (Bugs in the mobile apps can be reported via Menu > About > Support.)

[//]: # (If you have a

[2021-12-08 17:03] CuriousMagpie commented on #13666
@FirstLoveLife Are you still having this issue or did @Alys's instructions help you get it resolved?

[2021-12-08 17:55] SabreCat commented on #13624
Per @beffymaroo, this set is an intentionally unusual design, so it does have some quirks to work around. We'll leave this as is!

[2021-12-08 17:55] #13624 closed, assigned to CuriousMagpie

[2021-12-09 02:02] CraigInches commented on #13681
I wasnt able to replicate the issue with a fresh local  install. Can you provide the exact language and background - (I cant see a winter canyon backgroud is it seasonal?)

[2021-12-09 07:11] FirstLoveLife commented on #13666
Sorry for late reply, I will verify it tonight

[2021-12-09 15:41] CuriousMagpie commented on #13681
@CraigInches I checked in multiple languages--Spanish, French, British English, Danish, Swedish--and the string wasn't being translated. I was checking in production (which is the release branch). The Winter Canyon background is one of the three new backgrounds this month. The only one which had defaulted to American English text was the Frozen Polar Waters background.

[2021-12-10 00:43] CraigInches commented on #13681
I see the issue, its not the translations falling through.. they dont exist even in default english, will do a PR here to resolve the en, and then head over to the translations repo to fix up the alternatives.

[2021-12-10 05:17] CuriousMagpie commented on #13681
Oh my goodness, I see it now, too. Too much staring at the code on my part—thanks for catching this, @CraigInches!

[2021-12-10 15:43] #13681 closed, assigned to nobody

[2021-12-11 09:58] FirstLoveLife commented on #13666
Sorry, this issue doesn't appear anymore.

[2021-12-13 20:55] CuriousMagpie commented on #13666
Thanks for letting us know!

[2021-12-13 21:49] SabreCat commented on #13529
Attempted fix didn't take for some people, and the PR author hasn't been responding. Opening this back up for contributors to investigat!

[2021-12-13 23:50] maryketa commented on #12397
Pretty sure I fixed this! I described the changes I made in the pull request, and when I played around with it locally everything worked as expected. I think this also might help with #11516.

[2021-12-14 15:57] citrusella commented on #9902
Okay, still trying to figure out if I have the skill and not (yet?) claiming this (stepping through what would need to be done and seeing if I can follow how to do it before I potentially ask to do it in case I flake), but I noticed the alias strings referenced in the original post have been deleted from tasks.json. If they need to be added back as part of this, should they have the exact same tex

[2021-12-14 21:54] #10829 closed, assigned to CuriousMagpie

[2021-12-15 02:53] colindmurray opened #13699 "[Feature Request]: Zones with zone-specific dailies & habits for vacation, travelers, and more"
Last year I had a great time with Habitica... until I went on a month-long vacation. I checked into the tavern but opening the app was pointless. All my normal dailies and habits were mostly irrelevant (tidy my room, brush my dog's teeth, ect. ok... sure). When I came back I was so knocked out of the habit I never picked it back up.

My proposal is Zones. Your default homeland zone is everything t

[2021-12-15 14:58] Lyqst commented on #12920
Apologies for the huge delay on this @SabreCat , life has been a little chaotic lately. I just created the PR!

[2021-12-15 17:54] SabreCat commented on #13699
Hi @colindmurray, we don't use GitHub for feature requests. Send feedback using the form on the site, if you'd like to send your idea along!

[2021-12-15 17:54] #13699 closed, assigned to nobody

[2021-12-15 21:48] CuriousMagpie commented on #9902
If it were me, I'd re-use the old text strings.

[2021-12-15 21:58] CuriousMagpie commented on #12819
I'll work on this one!

[2021-12-16 11:50] iswarmondal commented on #13252
### **Here is the code to solve the problem**
**Just copy the code and test it out using an HTML file**
@ReCore-sys @CuriousMagpie

[code]

[2021-12-16 21:48] pleshevskiy commented on #13666
![image](https://user-images.githubusercontent.com/7839004/146453189-5732a817-5ef3-48ab-8229-ee9f72f13a96.png)

I've reproduced it.

I opened the Habitica site on the 16th and decided to change the task date after midnight on the 17th. If you reload the page, the date will be correct. To fix the error, you need to calculate the client date before opening the modal.

[2021-12-17 11:28] Bokoness commented on #13110
Hey, can I take work on this issue?

[2021-12-17 11:34] Bokoness commented on #8462
Hello, still need help with this issue?

[2021-12-18 15:53] Bokoness commented on #13325
Hey sup with this issue? can I take it?

[2021-12-18 15:54] Bokoness commented on #13023
Hey, can take this issue?

[2021-12-21 23:45] CraigInches commented on #12760
Id like to take a crack at this one if no ones actively working on it.

[2021-12-23 20:51] CuriousMagpie commented on #13110
Absolutely, @Bokoness!

[2021-12-23 20:55] CuriousMagpie commented on #13325
@snuli375 Do you still want this one? @Bokoness, if they don't want it, we can assign it to you.

[2021-12-23 20:56] CuriousMagpie commented on #13023
Hey @Bokoness! Thanks for your interest in contributing to all these issues! This one is still under discussion, so it's not assignable.

[2021-12-23 20:57] CuriousMagpie commented on #13252
@ReCore-sys are you still working on this?

[2021-12-23 21:20] CuriousMagpie commented on #12760
Sure thing, @CraigInches!

[2021-12-23 21:51] CuriousMagpie commented on #13543
@kartiks26 Are you still working on this?

[2021-12-23 21:52] CuriousMagpie commented on #13542
@Crats1 Are you still working on this?

[2021-12-23 21:53] CuriousMagpie commented on #13373
@ieahleen Are you still working on this?

[2021-12-23 21:54] ReCore-sys commented on #13252
Nah. The other guy managed to come up with a solution and I haven't played around with the testing environment enough to implement it, so not much point.

[2021-12-23 21:57] CuriousMagpie commented on #12937
@TheSeally Hey, are you still working on this?

[2021-12-24 11:10] ieahleen commented on #13373
Yes, I had some family emergencies and health issues that distracted me - if it's urgent I can leave my claim for someone else

[2021-12-24 11:29] Crats1 commented on #13542
Hi @CuriousMagpie, I'm still working on this issue.

[2021-12-24 16:30] CuriousMagpie commented on #13252
Fair enough, @ReCore-sys!

@iswarmondal Please open a PR with your fix. Thanks!

[2021-12-24 16:31] CuriousMagpie commented on #13373
Nope, no worries, @ieahleen! Thanks!

[2021-12-24 16:31] CuriousMagpie commented on #13542
Awesome, thanks, @Crats1!

[2021-12-25 10:43] kartiks26 commented on #13543
nope

[2021-12-28 14:49] TheSeally commented on #12937
@CuriousMagpie, sorry for a long fix. Yeah I want to fix this issue after holidays.

I have already looked at code and have questions:
- is it ok if I calculate this flag in scheme hook (`pre` for example)?
- since this flag will be dynamic should I remove it from DB scheme or or it will break backward compatibility?

[2021-12-28 14:52] FirstLoveLife commented on #13666
![image](https://user-images.githubusercontent.com/37442588/147578389-56fa1a95-86da-4a39-866d-2e370ba8ecfd.png)

![image](https://user-images.githubusercontent.com/37442588/147578435-29feb2d3-60b8-440d-9266-48004d4bf6ef.png)

reproduced again

[2021-12-28 16:52] CuriousMagpie commented on #12937
No worries, we just wanted to be sure you were still working on it. @SabreCat is in a better place to answer your questions than I am.

[2021-12-28 16:55] CuriousMagpie commented on #13666
@chenli Can you please describe what you are doing when you generate these screenshots? Without context, they aren't as helpful as they could be. Please also keep in mind that we are a small team and that minor issues such as this one can take some time to resolve.

[2021-12-28 17:21] SabreCat commented on #13666
@FirstLoveLife Agreed, I think we need more explanation before we can address this--

is it just that clicking "Today" goes to the wrong date?
is the task coming due on the wrong day?

what is it you're seeing that suggests "Habitica recognizes it as Saturday"?

[2021-12-29 02:35] FirstLoveLife commented on #13666
@CuriousMagpie I'm sorry that description was missing.

@SabreCat

I hope to change the monthly task's starting day.

From my latest screenshot above, habitica thinks 2021/12/28 is Sunday, but it should be Tuesday actually.

[2021-12-29 16:10] SabreCat commented on #13666
The first screenshot shows Sunday, November 28. The second screenshot shows Tuesday, December 28.

[2021-12-29 16:10] #13666 closed, assigned to nobody

[2021-12-29 16:12] SabreCat commented on #13666
The first screenshot shows November 28, which is a Sunday. The second one shows December 28, a Tuesday. Those are both correct. What am I missing..?

[2021-12-29 16:22] #13665 closed, assigned to nobody

[2021-12-29 20:53] CuriousMagpie commented on #13013
Putting this here mainly for my own reference as I work on this issue:

I was able to duplicate this behavior for every single quest chain in the Masterclasser series. I was also able to duplicate it for the quest chains "Attack of the Mundane" and "Vice the Shadow Wyrm."

![quests-unlocking](https://user-images.githubusercontent.com/78037386/147702599-90ab44c9-9468-4c03-ac8d-3259bea1cac8.png)

[2021-12-31 07:04] FirstLoveLife commented on #13666
@SabreCat That's my bad. I didn't notice they are different months. Sorry for wasting your time.

[2022-01-03 00:00] phorcys420 commented on #13529
The real NodeJS arg to increase heap space would be ``--max-old-space-size=4096``, and NOT using underscores.

This is what I use when that problem occurs (mostly when using bundlers such as rollup).
Set 4096 (4G) to the amount you desire, except 4096 mostly will do the trick.

[2022-01-03 12:20] Cred1Tor commented on #12124
i can fix it, but i don't know how can you write a unit test for failing transaction
i tested it manually by throwing an error before commiting transaction and the changes were reverted as expected

[2022-01-03 14:01] Tressley commented on #13374
I am not sure there's an immediate solution. We do have plans for the customization shop so we can loop this in during those discussions. 👍🏻

[2022-01-03 19:17] CuriousMagpie commented on #13529
@phorcys420 Could you put together a PR for this?

[2022-01-03 19:22] CuriousMagpie commented on #12124
Hey @Cred1Tor, can you put together a PR for this? Thanks!

[2022-01-03 20:18] citrusella commented on #13529
I just tried that last one and still hit the issue with 4096 as the size... but I'm inept enough at this particular thing that it's possible I messed up where or how to put it, even though it SEEMED like I did it right...

(I was trying it on my local install purely because I was going through the entire installation on a new device and have been itching to make sure the install actually, like, wo

[2022-01-04 14:56] Cred1Tor commented on #12286
i'd like to work on this

[2022-01-04 16:51] CuriousMagpie commented on #12286
Sure thing, @Cred1Tor!

[2022-01-06 17:34] CuriousMagpie opened #13731 "Account reset button pop-up text needs revision"
### Description
User reports: "I just reset my account (using the option in the Danger Zone). The warning text says "You will lose all your equipment but you will be able to buy it all back, including all limited edition equipment or subscriber Mystery Items that you already own." However, the subscriber Mystery Items are still in my inventory. (So are the Daily Check-In items ... and the birthday

[2022-01-08 18:03] alekpentchev commented on #13731
Hi there :)
If it'd be fine for you, I'd like to tackle this issue. It'd be a good start for me when it comes to contributing to your repository :)
From what I understood the goal of this task is to change the pop-up text of the account reset button to reflect the same approach as the wiki page, right?

[2022-01-10 11:09] phorcys420 commented on #13529
I mean.. sure ? I don't really see the point though.
My PR would straight up just be one singular line change in https://github.com/HabitRPG/habitica/blob/develop/website/client/package.json

Likely,
[code]
to
[code]

[2022-01-10 16:32] CuriousMagpie commented on #13731
@alekpentchev Welcome! Please go ahead and take this one on. The test should say something like: "Start over, removing all levels, gold, gear, history and tasks. Subscriber Mystery Items, free commemorative items, and achievements will be retained." And be sure to check out the [Aspiring Blacksmiths Guild](https://habitica.com/groups/guild/68d4a01e-db97-4786-8ee3-05d612c5af6f) in the app!

[2022-01-10 21:16] CuriousMagpie commented on #13529
Huh, that's weird. Did you follow the instructions on the [Setting up Habitica Locally](https://habitica.fandom.com/wiki/Setting_up_Habitica_Locally) wiki page?

[2022-01-12 03:22] vanathi-g commented on #13543
Hey, may I work on this issue if no one else is currently working on it? @CuriousMagpie

[2022-01-12 17:24] CuriousMagpie commented on #13543
Go for it, @vanathi-g!

[2022-01-14 19:36] CuriousMagpie opened #13749 "Negative habits don't display 0 correctly"
### General Info
  * UUID: 7c94e21b-8ff2-44a7-a5f1-cfdef807a5f5
  * Browser: Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/96.0.4664.110 Safari/537.36
  * OS: Windows

### Description
From user:

![streak-counter-negative](https://user-images.githubusercontent.com/78037386/149574419-9b7f1fc2-f441-42f9-bb8d-ed6a42ecc56e.png)

I checked the user's value for

[2022-01-14 22:22] creaturebytes opened #13750 "Language Not Changing or Reverting Back"

[2022-01-15 08:03] ouroboran commented on #13749
@CuriousMagpie Can I work on this issue?

[2022-01-15 08:07] Etherfly commented on #5924
I'd like to highlight that this is still a problem with the website that needs solving.
https://www.reddit.com/r/habitica/comments/n1mxvd/how_do_i_turn_the_sound_down/

I personally feel that the volume is too high for most sound themes, and the only theme that I currently find okay in terms of volume is the LuneFox's theme. All others blast twice as loud and way louder that everything else I migh

[2022-01-15 18:09] alekpentchev commented on #12678
Hi there :)
Can I tackle this issue?

[2022-01-17 00:55] Basrara commented on #12892
hi! i hope it's okay for me to post here. i'm not entirely sure if what just happened to me is 100% this issue or if there's something else going on, but it seems close enough to fit here.

so i just tried to buy the orb for free a few minutes ago, and i still cannot see any game effects. i refreshed the page afterwards multiple times, logged out and back in again, cleared all habitica-cache, and

[2022-01-17 06:45] dehanz13 commented on #13749
Hi @CuriousMagpie , I would love to tackle this issue if it's still open

[2022-01-17 10:56] SkitzAvernal commented on #13749
Hi @CuriousMagpie, if it's open I would like to work on this

[2022-01-17 11:25] iswarmondal commented on #13325
Hey @Alys  can you provide some images of this issue happening, it seems like the issue is pretty hard to generate

[2022-01-17 11:34] iswarmondal commented on #13749
**Hey @CuriousMagpie, it looks like the same issue is also happening with the positive habits also. Take a look at this**
![image](https://user-images.githubusercontent.com/73457704/149762358-802239b4-be1d-4cde-942a-b849bc75c47c.png)
If you (or anyone) are not working on this issue then I would like to work on this issue

[2022-01-17 21:14] CuriousMagpie commented on #13749
Hey folks! We assign issues in the order people ask for them, so if @ouroboran is still interested, they can work on it.

@iswarmondal - the display there actually makes sense, as it's showing that the habit has been clicked 0 times positively and 0 times negatively. This is a display issue that affects habits that have only a positive or a negative option.

[2022-01-17 21:16] CuriousMagpie commented on #13750
@creaturebytes I see that you've already sent an email to the admin team for assistance, so I'm closing this issue.

[2022-01-17 21:16] #13750 closed, assigned to nobody

[2022-01-17 21:20] CuriousMagpie commented on #12678
Sure thing, @alekpentchev!

[2022-01-17 21:25] CuriousMagpie commented on #12892
@Basrara This is very helpful information, thank you! I know we had another user who recently had a similar issue and we had to manually update a few things on their account. If you need us to do that for you, drop us a line at [admin@habitica.com](mailto://admin@habitica.com).

@kmacart Are you still interested in this issue? I know it's been a while since you've asked about this issue, so no wor

[2022-01-18 13:32] riolet-vose opened #13770 "Issues on running 'npm start' | Apple M1"
### General Info
  * OS: Mac OS Monterey v12.1 on Apple Silicon
  * Node.js : v14.18.2
  * npm : 6.14.15

### Description
Followed the instructions published here -
https://habitica.fandom.com/wiki/Setting_up_Habitica_Locally_on_MacOS

Getting the following error when I run npm start :-

[code]

#### Console Errors

On running npm audit -
[code]

[2022-01-18 14:02] ouroboran commented on #13749
Hi @CuriousMagpie, Thanks. I will work on this issue. So, after fixing, the view should look like below. Please correct if I'm wrong.

![image](https://user-images.githubusercontent.com/97726608/149951646-5a4b1b71-134f-4547-9ff4-126e293d3e61.png)

[2022-01-19 01:49] sahyrlelyaams commented on #13770
@CuriousMagpie @SabreCat What can be done?
I have reported this using e-mail id 2000raspi@gmail.com

[2022-01-19 11:42] pleshevskiy commented on #13666
@SabreCat @CuriousMagpie I described above with screenshots of how I reproduce this error. Why did my comment go unheeded?

[2022-01-19 15:49] SabreCat commented on #13666
@pleshevskiy That's a different issue than the original poster described.

If you think you've found a bug, please use the bug reporting feature within the app or on the website. (We're likely to lock GitHub ticket creation to Habitica staff and contractors only, soon!)

[2022-01-19 16:10] CuriousMagpie opened #13772 "Justin's "Let's Go" button visual bug"
### General Info
  * UUID: ccd674f1-a67e-4de4-a66d-1267006b075b
  * Browser: Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/97.0.4692.71 Safari/537.36
  * OS: MacOS

### Description
from user:

![justin-lets-go](https://user-images.githubusercontent.com/78037386/150169496-eeb68000-0282-45be-87ac-3d49e171919f.png)

Fix would correct the hover text color to match the r

[2022-01-19 16:45] jaredmez commented on #13772
Can I take this issue?

[2022-01-19 16:47] CuriousMagpie commented on #13772
@jaredmez You sure can! 😄

[2022-01-19 16:50] Cred1Tor commented on #12286
i'm wondering what operations should be a part of a transaction? only where memberCount and user's membership are involved or everything else as well, like updating group plan, challenges, tasks etc? and in that case we'll also have to change some of the group schema methods' signatures to add a session as a parameter, bc some of the db operations happen there

[2022-01-20 09:05] Alys commented on #13325
@iswarmondal I don't have screenshots, but they wouldn't show anything useful anyway - they'd just show two of the streak achievement notifications instead of one, with nothing on the screen to explain the issue.

If you're not able to replicate it, that's fine! We can leave this for someone who can. It may depend on what your other settings are (e.g., whether you have "Don't show popup when attai

[2022-01-20 17:35] CuriousMagpie opened #13774 "Fix Character Values should not allow operands"
### Description
User email:

I was able to replicate this in development:

Added "+ 25" to the health field:
![Screen Shot 2022-01-20 at 12 27 21 PM](https://user-images.githubusercontent.com/78037386/150390699-46f5d02c-bf91-45d6-a99e-ed96d077418c.png)

You died screen:
![Screen Shot 2022-01-20 at 12 27 44 PM](https://user-images.githubusercontent.com/78037386/150390783-f232f8a9-30ef-4e36-9b20-6fa

[2022-01-20 20:16] creaturebytes opened #13775 "Class Change Text Line For Equipment Store Misleading"

[2022-01-21 04:20] vanathi-g commented on #13774
Hey, I'd like to work on this issue!

[2022-01-21 21:10] #12905 closed, assigned to abigley

[2022-01-21 21:16] CuriousMagpie commented on #13774
@vanathi-g Go forth and slay this bug!

[2022-01-21 21:23] CuriousMagpie commented on #13775
The fix for this should make it clear that class can be changed in settings for characters > level 10.

[2022-01-21 21:42] CuriousMagpie opened #13777 "API docs need to updated to reflect that "Render a user avatar as an HTML page" is not working"
### Description
The API documentation needs to be updated to reflect that "Render a user avatar as an HTML page" is not working and reference #9489 as the HTML export issue is also discussed there

### Render a user avatar as an HTML page:
![Screen Shot 2022-01-21 at 4 40 32 PM](https://user-images.githubusercontent.com/78037386/150603812-f20ba8fc-3e7e-47a6-9c7f-9d84c2e73eb6.png)

### Render a use

[2022-01-24 20:55] KrSkander commented on #13749
Hello @CuriousMagpie, I'm sorry I've made an extra attempt at this issue ! As I'm new to contributing I didn't even notice that issues get assigned per priority until now ! I hope this isn't much of a problem.
Thanks in Advance

[2022-01-25 17:26] CuriousMagpie commented on #13749
@KrSkander Absolutely no problem! Welcome to open source and Habitica! If you haven't already checked it out, there's an [Aspiring Blacksmiths Guild](https://habitica.com/groups/guild/68d4a01e-db97-4786-8ee3-05d612c5af6f) that can be really helpful for new contributors.

[2022-01-25 17:29] shagen9285 commented on #13775
Hey! Do you mind if I try and fix this issue?

[2022-01-25 18:10] CuriousMagpie commented on #13775
@shagen9285 Go for it! Thanks!

[2022-01-26 17:15] dnow2000 commented on #13770
hello, I saw in the console errors that it is telling you that you are missing peer dependencies. I found this link to stack overflow that shows someone that has a similar problem:
https://stackoverflow.com/questions/46053414/npm-warn-requires-a-peer-of-but-none-is-installed-you-must-install-peer

Use following for each peer dependency to install that and remove the error:
npm install --save-dev x

[2022-01-26 17:16] dnow2000 commented on #13749
has this issue been resolved?

[2022-01-26 17:25] CuriousMagpie commented on #13749
@dnow2000 There's an open PR for this under review right now.

[2022-01-28 16:22] SabreCat opened #13798 "Seasonal items from nonstandard gear slots inappropriately locked for re-purchase"
### Description
Via @citrusella:

This is unlikely to affect many users, ~~as these items aren't normally set to `false` under routine app usage~~. But in the event that they are in that state, they should indeed be Gold-purchasable while the user is the appropriate class, not blocked as if behind a non-existent gear progression!

[2022-01-28 16:53] megansearles commented on #13798
Hi, can I take this issue?

[2022-01-28 17:35] citrusella commented on #13798
Just a question since the phrasing of this threw me off when I read it and I don't know if I'm understanding what you meant--since death sets lost items to `false` does that mean nonstandard slots can't get lost to death? Or am I misunderstanding and you just mean it's statistically unlikely under a routine `false`-setting feature like death, since there are so many items that could theoretically

[2022-01-28 17:38] CuriousMagpie commented on #13798
@megansearles Sure thing--welcome to Habitica! You might want to check out the [Aspiring Blacksmith's Guild](https://habitica.com/groups/guild/68d4a01e-db97-4786-8ee3-05d612c5af6f) as well!

[2022-01-28 20:20] SabreCat commented on #13798
Oh, you're quite right, I thought these were excluded from breakage during the `revive` op, but it looks like any `special` gear with a `value` greater than 0 should be eligible to break. I've struck out that phrase from the issue ticket.

[2022-01-30 01:23] j-dover commented on #13777
Hi, can I work on this issue?

[2022-01-31 17:21] CuriousMagpie commented on #13777
Hey there @j-dover! You sure can--thanks!

[2022-01-31 17:36] CuriousMagpie commented on #13770
@sahyrlelyaams Are you still having this problem? As @dnow2000 points out, the issue is with your peer dependencies. Did you run `sudo npm install -g mocha` after installing node and npm? I'm using an Apple M1 and haven't had any issues running a local copy of the application.

[2022-01-31 20:55] j-dover commented on #13777
Hi @CuriousMagpie ,

I successfully updated the API doc locally by adding this line into website/server/controllers/top-level/dataexport.js as api.exportUserAvatarHtml's apiDescription:

` * @apiDescription This HTML export feature is not currently working (https://github.com/HabitRPG/habitica/issues/9489).`

However, I ran the full test suite by following the directions from [
Using Your Local In

[2022-01-31 21:33] #12892 closed, assigned to CuriousMagpie

[2022-01-31 21:33] #13731 closed, assigned to alekpentchev

[2022-01-31 21:35] #13543 closed, assigned to vanathi-g

[2022-01-31 21:41] #12920 closed, assigned to Lyqst

[2022-02-02 14:17] sahyrlelyaams commented on #13770
@CuriousMagpie I have globally installed mocha before running npm install.

As for installing the peer dependencies, I went through a never ending rabbit hole as after installing eslint & acorn packages, which were supposedly missing, it said popper.js is missing, which I tried to install as well.

I installed popper.js using --save-dev & now, it still can't detect the installation of popper.js fo

[2022-02-02 21:52] CuriousMagpie commented on #13770
The folks in the [Aspiring Blacksmiths Guild](https://habitica.com/groups/guild/68d4a01e-db97-4786-8ee3-05d612c5af6f) may be able to help you with this.

[2022-02-02 21:52] #13770 closed, assigned to nobody

[2022-02-02 21:54] CuriousMagpie commented on #13777
Hey @j-dover, the folks over in the [Aspiring Blacksmiths Guild](https://habitica.com/groups/guild/68d4a01e-db97-4786-8ee3-05d612c5af6f) may be able to help you troubleshoot this!

[2022-02-02 22:31] KrSkander commented on #13616
@CuriousMagpie I'll try to look into this issue

[2022-02-03 17:22] CuriousMagpie commented on #13616
@KrSkander Sure thing! If you run into any problems, the [Aspiring Blacksmiths Guild](https://habitica.com/groups/guild/68d4a01e-db97-4786-8ee3-05d612c5af6f) is a good place for help.

[2022-02-04 16:07] SabreCat commented on #13529
Isn't this exactly the fix that was attempted already? I thought you said we needed a _not_ underscored parameter?

[2022-02-04 16:13] SabreCat commented on #12937
@TheSeally ah, apologies that I didn't notice these questions!

* Calculating in a hook could be okay, I'd be happy to look at the idea in a PR!
* Leave it in the schema for now, we may be able to safely remove it but I'll double-check with the team first!

[2022-02-04 16:22] #12731 closed, assigned to nobody

[2022-02-04 16:36] SabreCat commented on #12286
@Cred1Tor I'd suggest starting with the operations that update counts, because they've been thorns in our collective side for ages! And that's what's relevant to this specific issue ticket. There could definitely be other places where transactions would be beneficial, but let's get this piece done first.

[2022-02-04 16:42] SabreCat commented on #11236
A ton of Group Plan (to be renamed "Team") features won't work the same way after the coming rewrite--in fact, "shared completion" as currently implemented isn't really going to be a thing, in this iteration. Closing this ticket

[2022-02-04 16:42] #11236 closed, assigned to nobody

[2022-02-04 16:52] SabreCat commented on #9672
We're tracking odd little pending features like this on a project board, rather than in issue tickets, these days--but I will add this to a list of possible things for @CuriousMagpie to tackle when we'd like!

[2022-02-04 16:52] #9672 closed, assigned to nobody

[2022-02-04 18:56] CuriousMagpie opened #13819 "v3 API Issues"
### Description
From SunSparc in [Aspiring Blacksmiths Guild](https://habitica.com/groups/guild/68d4a01e-db97-4786-8ee3-05d612c5af6f):

I've asked SunSparc for an example of an API call where this happens, so we have a place to start investigating this.

[2022-02-05 02:20] SunSparc commented on #13819
For a quick example of this, we can call the "_Get challenges for a user_" action:

[code]

I made this request just now and it returned `40,759` bytes of data.

This data includes `4,781` bytes of notifications. All of which have been received and read months ago. The choice to include these notifications in every request could be a different topic. But my recommendation would be, make notificati

[2022-02-05 03:11] citrusella commented on #13819
This isn't some sort of criticism of the merits of what you've said or anything (*particularly* not the notification thing, since I can't even think of how that data could in theory be useful for an unrelated request, contrast other parts of the user information like stats which *could* be useful depending on the action being called), but technically "get all challenges for user" is described in t

[2022-02-05 06:51] Alys commented on #13819
At least some of those notifications will be from this issue: https://github.com/HabitRPG/habitica/issues/10752 "notifications for 'Your Invitation has been Accepted' are not shown"

For example, SunSparc currently has has 16 notifications in total, of which 9 are `GROUP_INVITE_ACCEPTED`; I have 19 total, 8 `GROUP_INVITE_ACCEPTED`.
To be clear, these are only the type of notifications that are sto

[2022-02-05 12:12] parisni opened #13820 "Sync tasks with dav protocol"
if habitica can provide a task dav endpoint then the tasks would be shared among tasks tools and that would be great

[2022-02-05 16:07] SunSparc commented on #13819
@citrusella, you are correct, the `member=true` does give me exactly what I would expect from a request to the `https://habitica.com/api/v3/challenges/user` action. I am glad that you mentioned the use of query parameters. Query parameters are important and useful tools. They can easily be misused and overused as quick fixes that eventually become permanent solutions. I think that some of our quer

[2022-02-07 22:09] CuriousMagpie commented on #12607
@Tressley Is this modal--accessible from the bottom of the subscription page--also in this issue's scope? Once you type in the username or email address, it opens up the existing modal, which is the one which is reference here.

![Screen Shot 2022-02-07 at 5 04 18 PM](https://user-images.githubusercontent.com/78037386/152880048-b992da04-0ae0-4809-b54c-f5a1b30c9e19.png)

And should the new modal de

[2022-02-08 17:11] CuriousMagpie commented on #13820
Hi there! We don't take feature requests via GitHub. Instead, we ask that you submit a [Request A Feature](https://docs.google.com/forms/d/e/1FAIpQLScPhrwq_7P1C6PTrI3lbvTsvqGyTNnGzp1ugi1Ml0PFee_p5g/viewform?usp=sf_link) form. Thanks!

[2022-02-08 17:11] #13820 closed, assigned to nobody

[2022-02-09 07:11] Alys commented on #13777
@j-dover This is in response to your question in the Guild (as well as above) but I'm posting here so that we can record the conversation here for permanent reference.

If that apiDescription comment is the only thing you changed, then it's highly unlikely that the test errors are due to your code. Sometimes the tests fail for unrelated reasons - for example, for temporary timeouts (which is a pre

[2022-02-09 23:39] probaton commented on #13819
I cannot begin to express how much I agree with this ticket, but the pedant in me feels obligated to point out that many of the potential changes @SunSparc is recommending should probably come with an API version bump. Experience has taught me that, however weird and arcane it may be, there will always be someone relying on the extraneous data in an API response.

[2022-02-09 23:45] citrusella commented on #13819
I think they're working on version 4 of the API right now? Maybe? (So maybe this is the *perfect* time to bring it up?)

[2022-02-10 02:41] Woozical commented on #13680
Is this still an issue? First time contributor here so I'm not super familiar with the project's code, but just from my initial looking through I don't see anything out of place in regards to sending the webhook on task scoring. The taskScoredWebhook is sent on each individual scoring of a task. Inside of that function, ignoring errors from outdated sessions, the only possible early returns prior

[2022-02-10 13:38] SunSparc commented on #13819
@probaton, I would honestly like to hear all of your reasons for disagreeing with this ticket.

@citrusella, from what I can tell, the version 4 of the API has been in the works for a number of years now.

It is my expectation that any changes that are made as a result of this ticket would not be applied to the current API version, but to a future version. I agree that right now is a perfect time

[2022-02-10 17:05] CuriousMagpie opened #13844 "Leaving a challenge and removing tasks does not remove challenge's tags"
### General Info
  * UUID: 09d36e6e-229e-4d50-85cf-ed870098174c
  * Browser: Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/97.0.4692.99 Safari/537.36

### Description
From user:

I've noticed this as well and it's vaguely irritating. I think it would be a good upgrade to change `website/client/src/components/challenges/leaveChallengeModal.vue` so that when

[2022-02-10 19:41] probaton commented on #13819
@SunSparc Not 100% sure, but I'm guessing my perspective was lost in translation when I used negative in my opening statement. The opinion I was going for was "this is an awesome idea, we need this now, it is awesome".

The only reason I posted at all (other than to express my support) is that removing response data represents a breaking change, which should come with a version bump. However, it s

[2022-02-10 23:41] Woozical commented on #13680
So through manual user testing I have not yet been able to confirm this issue. Every task scored on my local install successfully sends a webhook which is then successfully received by a local Flask server. I'm noticing in the request body of the task score webhook that level up information is included when the task triggers a level up (highlighted in red in attached image). Also that there doesn'

[2022-02-11 09:51] Alys commented on #13819
There's information about the API versions and API changes on the wiki at [Application Programming Interface](https://habitica.fandom.com/wiki/Application_Programming_Interface) but in brief:

- version 4 is the version that Habitica's website and apps use and it shouldn't be used for any third-party tools until it's released for public use (until that time, it may change without notice, causing a

[2022-02-11 16:36] SabreCat commented on #13844
I believe this is intentional. The tag becomes part of the user's list, and they can apply it to non-Challenge tasks if desired.

So if we do implement a change here, we'd at least want to check that the user hasn't made use of the tag elsewhere before deleting it.

[2022-02-14 18:56] CuriousMagpie commented on #13819
From another user:

[code]

[2022-02-14 21:58] wolverdude opened #13861 "Image alignment off for pink pet & mount achievement icons"
[//]: # (Before logging this issue, please contact site administrators from "Report a Bug" in the Habitica website's Help menu. If a GitHub issue is needed, staff will let you know and will most likely log one on your behalf. It is recommended that you don't create a new issue unless advised to.)

[//]: # (Bugs in the mobile apps can be reported via Menu > About > Support.)

[//]: # (If you have a

[2022-02-17 17:52] megansearles commented on #11072
Hi, can I take this issue?

[2022-02-21 21:36] CuriousMagpie opened #13871 "Edit Avatar Menu images placed incorrectly"
### General Info
  * UUID:d70fa9f4-4aa6-4086-8c75-2337fd4d7761
  * Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/98.0.4758.102 Safari/537.36

### Description
From user:

I was able to duplicate this issue in production.

This may have something to do with the shift away from spritesheets or in the CSS used to position the image elements on e

[2022-02-23 18:36] CuriousMagpie commented on #11072
@megansearles You sure can and with our thanks!

[2022-02-27 18:38] wolverdude commented on #13861
This appears to have been fixed. I'll go ahead and close it.

<img width="582" alt="Screen Shot 2022-02-27 at 10 37 38 AM" src="https://user-images.githubusercontent.com/4276302/155895209-73ab3303-b1de-478d-9f8b-71942fbfd4e9.png">

[2022-02-27 18:38] #13861 closed, assigned to nobody

[2022-03-03 19:59] CuriousMagpie commented on #13252
This solution does not work with our codebase, therefore we're opening it up to contributors again.

[2022-03-04 06:42] Alys commented on #13616
In the Aspiring Blacksmith's guild, @Sythh asked a question about replicating this, and I'm putting my answer here so that all the information about this issue is stored in one place.

The way I'd expect the bug to work is below but I have not tested it myself.

1. Log in to your account on the website.
1. Log in to your account on the mobile app.
1. Use Stealth on mobile. Use it multiple times if

[2022-03-10 18:21] CuriousMagpie opened #13883 "Master Keys to the Kennel is Broken"
[//]: # (Fill out relevant information - UUID is found from the Habitica website at User Icon > Settings > API)
### General Info
  * UUID: 7debdd0a-23f0-46d9-af75-e364d8e877bf
  * Browser: Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:97.0) Gecko/20100101 Firefox/97.0

### Description
The Master Keys to the Kennel no longer work. We tested them on a local `develop` branch and then in production--th

[2022-03-10 20:07] KTKreature commented on #13252
Could I try to solve this?

[2022-03-11 07:10] Alys commented on #13883
I've just tested in production three times and each time I saw console messages similar to those but the pets and mounts were released.

[2022-03-12 21:51] megansearles commented on #11072
Have there been any more reports of issues of this type since 2020? I haven't been able to reproduce any of these yet (though I know that doesn't mean it's not still an issue), so I thought it might be useful if it were possible to see a more recent example too

[2022-03-13 16:32] Nakonana commented on #11072
It is still happening for me on Win 10 Firefox 97.0.1 (64-Bit). But I don't see any errors in the console. I just replicated it a few minutes ago with my Thunderstorm Cactus and Thunderstorm Panda, but the issue didn't happen with my Thunderstorm Fox 🙃. Possible considerations for replication:

For the cactus, I clicked to rehatch immediately, without waiting for the purple bar at the top to fully

[2022-03-15 17:06] CuriousMagpie opened #13891 "Guild navigation using notifications does not update challenges to current guild"
### General Info
  * UUID: b0fbabc9-32be-49c7-8b3e-f05578f61388
  * Browser/OS: Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:98.0) Gecko/20100101 Firefox/98.0

### Description
Navigating to a different guild page using Notifications does not update the guild's challenges. i.e. It is still showing the challenges from the previous guild. Steps to reproduce. 1. Go to a guild page. 2. From the notific

[2022-03-16 00:45] dsychin commented on #13891
Here's a screen recording reproducing the issue.

![habitica_reproduce2](https://user-images.githubusercontent.com/19268668/158495028-37f4c08f-895e-43d8-99f6-53283b9bce74.gif)

[2022-03-16 12:56] Alys commented on #13891
This has been happening for several months. We had it reported at https://github.com/HabitRPG/habitica/issues/13256 which was closed with a PR, but I'm not sure the bug ever went away.

[2022-03-18 09:02] ieahleen commented on #13373
I'm sorry. I will not be able to continue working on this.

[2022-03-18 12:15] vanathi-g commented on #13774
Hi @CuriousMagpie , while I add validation for not allowing operands, shall I also add validation to ensure the level and streaks fields are positive integers?

[2022-03-18 16:43] CuriousMagpie commented on #13252
@KTKreature Sure thing! Just for clarity's sake, I am currently working on a similar issue--feel free to look at [my progress here](https://github.com/CuriousMagpie/habitica/blob/gifting-modal-design/website/client/src/components/payments/sendGiftModal.vue) and take whatever you think is useful. We would like to have this part be a component so we can easily deploy it in other parts of the site.

[2022-03-18 16:51] CuriousMagpie commented on #13774
@vanathi-g That would be a great upgrade and as long as you're in there...

[2022-03-18 16:51] CuriousMagpie commented on #13373
Not a problem, thanks for letting us know.

[2022-03-18 17:03] CuriousMagpie commented on #13286
@codexdelta Are you still working on this? Please let us know!

[2022-03-18 17:05] CuriousMagpie commented on #13680
@SabreCat Is this still an issue, since @Woozical tested it and wasn't able to replicate the issue?

[2022-03-18 17:06] CuriousMagpie commented on #13772
Hi @jaredmez! Are you still working on this? Have any questions coming up that we can help with?

[2022-03-18 17:06] CuriousMagpie commented on #13775
@shagen9285 Hello! Are you still working on this issue?

[2022-03-18 17:07] CuriousMagpie commented on #13110
@Bokoness Are you still working on this? Have any questions popped up that we can help you with? Thanks!

[2022-03-20 02:04] megansearles commented on #11072
@Nakonana Thank you so much!! For each of these examples, did you own the necessary eggs and hatching potions? Also, do you have the preference set to not show popups when hatching or raising a pet to a mount?

[2022-03-21 06:31] Alys commented on #13774
Regarding this from @vanathi-g  closed PR:

It's possible for some of those values to be negative due to normal game play:
- HP can be negative if enough damage is done to a player to reduce their Health below zero (the next time the player syncs or crons, their avatar will die but HP will be negative until then).
- Exp can be negative if you complete a To Do or Daily and level up, and then uncomp

[2022-03-22 04:14] johnl2102 commented on #13891
Hi, I and a colleague of mine are interested in working on this issue. What would be the best way to get started?

[2022-03-22 04:18] wllyng commented on #13373
Hi would me and a partner be able to pick up this task? If so what would be a good place to start?

[2022-03-22 08:26] vanathi-g commented on #13774
Alright, I'll make the necessary changes! Thanks @Alys

[2022-03-23 03:22] johnl2102 commented on #12971
Can I pick this up?

[2022-03-23 16:51] CuriousMagpie commented on #13373
Hi @wllyng, if you'd like to take this on, you're welcome to do so! A good place to learn about our tech stack is on [the Guidance for Blacksmiths page](https://habitica.fandom.com/wiki/Guidance_for_Blacksmiths) on the wiki and general questions can be posed in the [Aspiring Blacksmiths Guild](https://habitica.com/groups/guild/68d4a01e-db97-4786-8ee3-05d612c5af6f) in-game. Thanks for your help!

[2022-03-24 11:53] Nakonana commented on #11072
@megansearles you're welcome 👍.

Regarding your questions:
- I did own all potions and eggs.
- No popups for me :)

[2022-03-24 16:33] CuriousMagpie opened #13903 "Birds of a Feather Achievement is not being awarded to some users"
The Birds of a Feather achievement is not being awarded to some users who have met all criteria.

After the migration script was run, we received a number of user reports that they had not received the achievement despite meeting all criteria.

Normally, awarding the achievement manually in the database is sufficient, but in this case, awarding it in the database only awarded it on the website, no

[2022-03-25 00:23] Alys commented on #13903
It might have something to do with Gryphons being included in the Birds of a Feather achievement since they have an extra, special Pet and Mount.

[2022-03-25 03:34] Alys commented on #7645
https://github.com/HabitRPG/habitica/pull/13900 is intended to fix some of the tasksOrder errors (when the task being moved is not in the tasksOrder object).

[2022-03-25 15:35] CuriousMagpie commented on #13903
That's a good point, @Alys. I'll look into it--I suspect it may be the gryphatrice, not the royal purple one, since the royal purple is a magic potion pet that everyone can get but the gryphatrice is not. It may be that we have to specify the colors in the achievement, which we normally don't have to do on non-specific-color related pet quests.

In the meantime, another user report:

[2022-03-27 17:04] citrusella commented on #13903
The royal purple *gryphons* are rare pets/mounts [awarded for Naming Day](https://habitica.fandom.com/wiki/Event_Item_Sequences#Habitica_Naming_Day_Items), not ones that can be gotten through magic potion combinations.

I remember at one point they erroneously were showing up as if you could combine a gryphon egg and royal purple potion to get it but I'm pretty sure Habitica refused to hatch them.

[2022-03-28 06:54] Alys commented on #13903
`zodiacZookeeper: Boolean,` is in website/server/models/user/schema.js but there's no similar entry for `birdsOfAFeather`

That may be causing some of the differences in behaviour.

[2022-03-28 18:52] CuriousMagpie commented on #12971
@johnl2102 I'm still waiting for your reply on the other issue you wanted--we only allow folks to work on one thing at a time.

[2022-03-28 18:55] CuriousMagpie commented on #13903
@Alys Thanks--that's definitely something to track down.

@citrusella Thanks for pointing out my misstatement on how the royal purple gryphons are obtained. I have investigated the gryphon situation and do not believe the royal purple or gryphatrice gryphons are the issue here, as I was able to get the achievement to award in development with both of them missing from the user account.

[2022-03-28 18:57] vanessasickles commented on #13772
@CuriousMagpie I would love to take this issue if @jaredmez is still busy!

[2022-03-28 19:24] findohsset commented on #4221
The strategy callback function should call the done method, otherwise it will end with error.

`
const passport = require('passport');

passport.use(
  new FacebookStrategy(
    {
      clientID: config.get('facebook.oauth2.clientId'),
      clientSecret: config.get('facebook.oauth2.clientSecret'),
      callbackURL:
        'https://domain.com/passport/facebook/oauth2/callback',
      profileFiel

[2022-03-28 21:04] jaredmez commented on #13772
@CuriousMagpie You cant take it!

[2022-03-29 01:06] johnl2102 commented on #12971
Sorry about that, can I take this issue and drop #13891 ? 😄

[2022-03-29 01:32] CuriousMagpie commented on #13772
I’m afraid I’m a bit confused? If you’re still working on this @jaredmez, that’s great. We try to check in with folks every so often, that is all.

[2022-03-29 04:01] citrusella commented on #12941
I haven't *confirmed* that I know how to fix this (usually I will straight up try what I think the fix is before I commit to claiming something) but I'm *pretty sure* I know what will fix this, so can I claim it?

(I'm trying to get my computer with a working local install up to date so there's a *small* chance I withdraw this very quickly if I run into an error I can't resolve while updating it,

[2022-03-29 15:54] citrusella commented on #12941
How can I add snowballs to my inventory (or manually transform the avatar)? Since they're not available right now my local account does not have access to them to test and fix this.

[2022-03-29 16:31] CuriousMagpie commented on #12971
Sure thing! Let us know if you have any questions! You can also check out the [Aspiring Blacksmiths Guild](https://habitica.com/groups/guild/68d4a01e-db97-4786-8ee3-05d612c5af6f) in game.

[2022-03-29 16:33] citrusella commented on #12941
Cool, I literally *just* fixed it, too. XD

[2022-03-29 16:34] CuriousMagpie commented on #12941
Sweet! Thanks!

[2022-03-30 16:30] Tressley opened #13914 "Issue with opening and closing the item drawer on smaller screens"
On the mobile browser version of Habitica, the item drawer close icon is inaccessible due to tabs overlaying the control.

![image](https://user-images.githubusercontent.com/2686586/160884995-6dd6c86f-50c6-429e-996e-4a7b1a2df38d.png)

[2022-03-30 17:06] vanessasickles commented on #13914
@Tressley I'd love to take on this one!

[2022-03-31 20:39] #12941 closed, assigned to citrusella

[2022-03-31 21:41] mars-schmutz commented on #13070
Is this still a problem? I was trying to replicate it but I wasn't having any luck. I tried Chrome and Firefox, but I haven't been able to try on Edge yet.

[2022-04-04 15:02] #13903 closed, assigned to nobody

[2022-04-05 03:29] oswinrodrigues commented on #168
I have this same request. I know the issue was created several years ago, so I'm wondering if this is now possible?

[2022-04-06 13:28] Tressley commented on #13914
Tagging in @SabreCat to see if he can provide any guidance.

[2022-04-09 01:59] vanessasickles commented on #13914
I revisited this and decided to just try continuing to `npm install` missing packages until it stopped returning them.

Through this chain, I `npm install`ed:

- `vue-cli-service`
- `@vue/cli-plugin-babel`
- `@vue/cli-plugin-eslint`
- `@vue/cli-plugin-unit-mocha`
- `vue-cli-plugin-storybook`
- `@storybook/core/server`

The `@storybook/core/server` is where I got caught, because `npm install` yield

[2022-04-09 12:23] Tressley commented on #13914
@negue -- Are you familiar with this issue? It's related to Storybook.

[2022-04-09 13:24] negue commented on #13914
@vanessasickles Could it be that you not ran `npm install` in the `website/client` folder?

We have the server one in `/` (root of the repo) and `website/client` for the client - both need to be installed.

I think after that `it should` work.

as for the `npm install @storybook/core/server` npm packages can be only installed with using a `name` or `@org/name` sub entries like `/server` are not pa

[2022-04-10 17:34] rilygreat opened #13923 "Broken seasonal items appearing purchasable for gems in featured section"
via @citrusella from admin email

[2022-04-11 13:06] JanStefanski commented on #13529
Hey, I struggled with the same issue, but as for me the problem was fixed by deleting local copy of the repo and cloning it again, with small change, I've ran `git config --global core.autocrlf input` as it's written in wiki. (Docker on Windows)

[2022-04-11 15:41] CuriousMagpie commented on #13923
Essentially the same as issue #13798, PR in progress.

[2022-04-11 15:46] CuriousMagpie opened #13929 "MS Edge - Choose Class Modal Broken"
### General Info
  * UUID: 61dc80c3-8522-482e-a7af-04554c531570
  * Browser: MS Edge
  * OS: Windows 10

### Description
The modal at level 10 for choosing a class is broken in the Microsoft Edge browser. User Settings > Choose Class also has this error as does purchasing a class change with gems. The user was able to select a class via User Settings > Choose Class in Firefox with no problem.

![m

[2022-04-11 16:31] citrusella commented on #13923
...Wait, these are caused by the same thing? 0_o

(Confused because to me they look like entirely separate issues that both have the same genesis (gear lost to death). I can buy the gear I'm seeing for gold in the market (unlike the nonstandard slot issue), it's just inappropriately showing up for gems in the seasonal shop's featured item section. If the root cause is the same that is so interesti

[2022-04-11 17:08] citrusella commented on #13923
I may be off-base because I'm still not SUPER proficient at JS, but I think this issue is caused by the featured items code, specifically, looking for *anything* falsy for the equipment key(s) it's checking, which would include `false` (the way equipment is listed if lost to death, as opposed to nonexistent in your equipment list if you've never bought it before, which would be when it'd make more

[2022-04-11 17:12] citrusella commented on #13929
I was curious about what could be causing this (partially because it reminded me of a weirdly similar issue happening universally regarding the avatars on the modal wearing seasonal gear IIRC) but couldn't reproduce it on (gem) class change.

[2022-04-11 21:45] Liz433 commented on #13325
Hi! Is this issue still available? I would like to try and contribute

[2022-04-12 20:38] CuriousMagpie commented on #13923
Okay, I figured out what's going on here. If you lose a piece of gear due to rebirth or death _and_ it is one of the pieces in `featuredSet` in `website/common/script/libs/shops-seasonal.config.js`, _then_ it will appear purchasable with gems in the Seasonal Shop while it is simultaneously unavailable to purchase with gold _if_ your class does not match that of the set's.

Example:
I have a test c

[2022-04-13 03:26] wllyng commented on #13373
Hi,
We found a fix for the bug but we were wondering if there exists UI tests in the test suite. In testing for the change should we just have mocha test for the absence of the year tabs by looking to see if the submenu class exists on the website?

[2022-04-13 17:57] CuriousMagpie commented on #13325
@Liz433 It sure is--thank you and welcome!

[2022-04-13 18:00] CuriousMagpie commented on #13373
We normally test UI changes in the browser by using a local development server. Here are instructions for [setting up Habitica locally](https://habitica.fandom.com/wiki/Setting_up_Habitica_Locally).

[2022-04-13 20:16] W1-PopelierE commented on #13929
I'd love to dive into this tomorrow. I am new to Habitica but not new to Vue. Sounds like something I have done before for work.

[2022-04-13 20:22] CuriousMagpie commented on #13929
That would be wonderful @W1-PopelierE! I'll go ahead and assign this to you.

[2022-04-13 21:08] wllyng commented on #13373
In that case would that mean that we wouldn't need to create automated tests for UI changes? We have tried testing the UI changes manually and it seemingly works!

[2022-04-13 21:58] johnl2102 commented on #12971
I've tried to recreate the issue using usernames with digits and hyphens on a locally built version of Habitica, but was unable to reproduce the error as the XML exports successfully.

Is the issue fixed?

[2022-04-14 05:29] Alys commented on #12971
@johnl2102 It still has the error described from https://github.com/HabitRPG/habitica/issues/12971#issuecomment-822357432 downwards, so a fix for that is still desired.

To make it easier to focus on the important comments, I've deleted some of the older ones that are no longer needed (confirmations of the original bug, and old posts about claiming and un-claiming this issue).

[2022-04-14 15:02] W1-PopelierE commented on #13929
@CuriousMagpie I am using the `develop` branch and this is working as it should.
The only comment could be that the image is not aligned in the center of the purple border. But besides that visual "bug" I am unable to reproduce this.

![Screenshot 2022-04-14 at 16 58 03](https://user-images.githubusercontent.com/17490821/163417693-05f93a0d-1bb8-4ee3-9cbe-8b3512084fa1.png)

[2022-04-14 15:06] W1-PopelierE commented on #13772
@CuriousMagpie it appears this issue is still open and has not been fixed in `develop` yet. Would you like me to pick this up?

[2022-04-14 19:46] CuriousMagpie commented on #13929
Thanks, @W1-PopelierE. The non-centering behavior is due to the gear that the avatars are wearing and how they're placed in the avatar display with backgrounds, etc., so that's working as intended. I'm going to go ahead and close this unless we get future reports.

[2022-04-14 19:46] #13929 closed, assigned to W1-PopelierE

[2022-04-14 19:47] CuriousMagpie commented on #13772
@W1-PopelierE This issue is assigned to @jaredmez. Is there something else you'd be interested in working on?

[2022-04-18 11:52] W1-PopelierE commented on #13772
@CuriousMagpie yeah I noticed this was assigned to @jaredmez but since this is still not fixed I thought perhaps I can take over this issue. I'm looking for any great "first issues" to get to know the code.

[2022-04-18 16:17] CuriousMagpie opened #13941 "Changing the UI language requires a workaround"
### General Info
  * UUID: 128c50f0-3f5c-47aa-94b9-f293a4920d0f
  * Browser: Mozilla/5.0 AppleWebKit/537.36 (KHTML, like Gecko) Chrome/100.0.4896.75 Safari/537.36
  * OS: Macintosh; Intel Mac OS X 10.15.7

### Description
From the user:

**Reproducible Steps:**
1. Navigate to **[Settings](https://habitica.com/user/settings/site).**
2. Go to the **Language** drop-down.
3. Select the desired languag

[2022-04-18 20:31] CuriousMagpie commented on #13542
@W1-PopelierE Would you like to take on this issue?

[2022-04-20 04:04] marsespinosa commented on #6544
it works for me when I run:

# Using Ubuntu
curl -fsSL https://deb.nodesource.com/setup_16.x | sudo -E bash -
sudo apt-get install -y nodejs

reference is https://github.com/nodesource/distributions/blob/master/README.md

[2022-04-20 05:52] Jeewhan commented on #13941
@CuriousMagpie Is this problem difficult for first-time contributors to solve? When I saw the video, I couldn't immediately figure out how to fix it. I want to contribute to habitica, but I haven't found a suitable issue yet.

[2022-04-20 10:35] WaelChettaoui commented on #13871
Hey guys! I was interested in trying to solve this issue would that be alright?

[2022-04-20 18:08] W1-PopelierE commented on #13941
@CuriousMagpie Have you tested this on the latest version of `develop`? I tried to reproduce this issue and this is working fine on the `develop` branch.

[2022-04-20 18:15] Jeewhan commented on #13542
@CuriousMagpie May I try it instead? It would be great if given the opportunity to contribute to me.

[2022-04-21 01:32] KrSkander commented on #13616
Hey @CuriousMagpie, I managed to replicate the issue and deducted that the API works fine, this issue is only related to the frontend and is a display sync problem as @Alys predicted.

In order to replicate this issue, I hosted the latest version of Habitica locally and ran the latest mobileapp version on my local network using android studio, following both the guides provided for blacksmiths.
I

[2022-04-21 01:58] KrSkander commented on #13616
**2.  Stealth 2 dailies out of 3 on mobile app then one on webapp without refreshing :**

- Used Stealth x2 (mana 130 --> 40 )

![Test2 Mobileweb1](https://user-images.githubusercontent.com/57879188/164356116-a88c357f-4d92-4965-ba34-eaebfa2897de.jpg)

Stats in the DB after mobile cast :

![Test2 Stats after first cast](https://user-images.githubusercontent.com/57879188/164356019-5ec67c18-1a63-468b

[2022-04-21 02:11] KrSkander commented on #13616
### **3.  Stealth 1 daily  out of 3on mobile app then stealth the 2 left on the webapp without refreshing :**

- Used stealth x1 on mobile (mana 130 --> 85)

![Test3 Mobile stealth x1](https://user-images.githubusercontent.com/57879188/164356893-b90c2d9d-d8a6-4a10-9e2a-1f62d3f3146d.jpg)

![Test3 stats after MobileCast](https://user-images.githubusercontent.com/57879188/164356924-4f64cc8f-1693-4d30

[2022-04-21 12:40] WaelChettaoui commented on #13871
Can't seem to reproduce the issue on my machine (Windows 11 Home Version 21H | Chrome Version 100.0.4896.127 | UID: 50d2ad84-00d9-4b55-9d3c-dfb0943420ea
)

[2022-04-21 15:38] CuriousMagpie commented on #13941
@W1-PopelierE This is an issue which pops up intermittently for users--we get enough tech support email about it that we decided that it needed further investigation.

[2022-04-21 15:39] CuriousMagpie commented on #13542
@Jeewhan Sure, thanks for volunteering!

[2022-04-21 15:43] CuriousMagpie commented on #13871
This was resolved by #13933, it wasn't linked to this issue. Closing this now.

[2022-04-21 15:43] #13871 closed, assigned to nobody

[2022-04-21 21:24] #13373 closed, assigned to wllyng

[2022-04-22 13:39] WaelChettaoui opened #13944 "Modal has responsiveness issues when browser window is snapped to one side of your screen."
UUID: 3f590bfb-6bc1-4863-97fa-ebdad828cb89
Browser: Chrome Version 100.0.4896.127
OS: Windows 11 Home Version 21H

Description: The modal that pops out when clicking on your avatar (top left under the navbar) has responsiveness issues when snapping your window to the sides of your screen.  Please refer to the images attached. On the live site the issue only happens with the stats tab, however when

[2022-04-22 14:25] WaelChettaoui commented on #13944
I also have an idea that may be able to solve it if you dont mind giving me a go at it.

[2022-04-22 15:25] CuriousMagpie commented on #13944
Related issue from admin email:

![Screenshot-2022-04-20-131235](https://user-images.githubusercontent.com/78037386/164745212-92b8fa1b-bbd7-4ae3-baa6-43dc699b2875.png)

UUID: 2e2f3f67-92c0-43a8-b50a-d647e222b488
Browser: Chrome/100.0.4896.127
OS: Windows NT 10.0; Win64; x64

[2022-04-22 15:25] CuriousMagpie commented on #13944
@Tressley Do you have any input on these display issues?

[2022-04-24 22:41] benTranCodes commented on #13941
Hey I got super interested in this issue and did some investigating and I _think_ I may have found the issue with this. So far this is just a speculation because I also was not able to reproduce this issue with the `develop` branch. I used Chrome Version 100.0.4896.127 (Official Build) (x86_64) on MacOS 12.3.

From what I can tell, the logic for setting the language code is correct and I was able

[2022-04-25 13:38] Tressley commented on #13944
Hmm... Yeah, there's plenty of horizontal space to prevent these from happening. It looks like it's related to percentage based units being used. Definitely think these could be fixed.

[2022-04-25 13:48] WaelChettaoui commented on #13944
I'd like to try my hand at solving the issue if possible!

[2022-04-25 16:30] CuriousMagpie commented on #13944
Sure thing, @WaelChettaoui! Thanks for taking this on!

[2022-04-25 16:52] CuriousMagpie commented on #13941
@SabreCat You know a lot more about the cache issue we were having late last year--does this look like a potential fix or would it be re-opening that can of worms?

[2022-04-25 23:03] shagen9285 commented on #13775
I think it has been fixed already. Unless I'm missing it somewhere, but when I go to the shop before level ten and try to buy something not in my class, it tells me I need to be level ten before I can change class.

[2022-04-26 21:42] CuriousMagpie commented on #13775
Huh, you're right. The text seems pretty clear to me as well--I'm going to go ahead and close this. Feel free to request another issue!

[2022-04-26 21:42] #13775 closed, assigned to shagen9285

[2022-04-29 14:39] saraolson opened #13954 "Allow Burst of Flames to be used on Group Tasks"
Right now if you try to use Burst of Flames on a Group Task, it shows an error. Talking to Sabe, it seems this was because the skill used to change the color of the task and at the time we didn't want that. We think it'd be fair to allow it to be used on Group tasks now.

We need to have a more thorough discussion on how we'd like skills to interact with Group tasks in general in the future as wel

[2022-04-29 20:57] #13774 closed, assigned to vanathi-g

[2022-04-29 21:47] #12124 closed, assigned to Cred1Tor

[2022-05-02 04:23] vanathi-g commented on #13883
Hey, can I work on this issue? I checked and the pets and mounts are being released as intended. The console messages appear because of a forced reload (in `keysToKennel.vue`) interrupting the request-response flow.

[2022-05-04 21:11] CuriousMagpie commented on #13883
@vanathi-g Sure thing! Thank you!

[2022-05-05 21:50] #13749 closed, assigned to KrSkander, ouroboran

[2022-05-05 21:51] #13013 closed, assigned to CuriousMagpie

[2022-05-05 21:51] #13206 closed, assigned to CuriousMagpie

[2022-05-07 06:18] vanathi-g commented on #13883
Hi, I just realized the issue hasn't been assigned to me yet @CuriousMagpie . Also, I have a couple of questions to clarify certain things:

1. There is no achievement for using Key to the Kennels (pet/mount/both)?
2. The achievements Beast Master, Mount Master and Triad Bingo unlock the pet, mount and master keys respectively in the shop?

Basically (if I understood correctly), on using a key, th

[2022-05-07 09:30] Alys commented on #13883
@vanathi-g I've given this issue the "in progress" status label to indicate that you're working on it. Thanks for reminding us about that!

There's no direct achievement for using Key to the Kennels but use of it may increase the counter on Beast/Mount Master and Triad Bingo achievements.
Those achievements don't unlock the keys; the keys are unlocked when you've gained the appropriate set of pets

[2022-05-07 13:41] vanathi-g commented on #13883
Alright, thanks for the info @Alys !

[2022-05-12 20:14] #12607 closed, assigned to CuriousMagpie

[2022-05-13 04:41] grelca commented on #12963
most services solve this by including a signature header in the webhook. basic process for that is to take the body of the webhook and encrypt it with a secret key that both server and client know. the secret key should also be different for every client. that encrypted value is then passed as a signature header and the client can decrypt it using the secret key and verify the decrypted version ma

[2022-05-13 14:53] rilygreat opened #13973 "t.response undefined error when purchasing orb of rebirth"

[2022-05-13 21:11] #13798 closed, assigned to megansearles

[2022-05-16 11:40] vanathi-g commented on #13973
Hey, this is similar to an issue I worked on with Keys to the Kennels. May I work on this one as well?

[2022-05-16 19:00] #13680 closed, assigned to Woozical

[2022-05-16 19:06] SabreCat commented on #13772
Haven't seen anything from @jaredmez in a while, and @vanessasickles has some other issues assigned, so if you still want this @W1-PopelierE, go for it!

[2022-05-16 19:07] #13529 closed, assigned to nobody

[2022-05-16 19:09] SabreCat commented on #13542
The submitted PR didn't fix the issue, and we haven't heard from @Jeewhan in a while, so I'm opening this back up.

[2022-05-16 19:11] Jeewhan commented on #13542
@SabreCat At the company I recently moved to, I was so busy with work that I couldn't proceed. I'm sure I can do it this month. Could you give me one more chance?

[2022-05-16 19:12] SabreCat commented on #13110
No response, opening this back up

[2022-05-16 19:13] SabreCat commented on #12971
Should be fixed by the linked PR. Closing until we hear otherwise!

[2022-05-16 19:13] #12971 closed, assigned to johnl2102

[2022-05-16 19:13] SabreCat commented on #12937
No response in a long while, opening this back up.

[2022-05-16 19:15] SabreCat commented on #12819
@CuriousMagpie still planning on tackling this?

[2022-05-16 19:16] SabreCat commented on #12760
Long time with no activity, opening this back up.

[2022-05-16 19:16] SabreCat commented on #12678
Four months no activity, opening this back up.

[2022-05-16 19:17] #12397 closed, assigned to maryketa

[2022-05-16 19:20] SabreCat commented on #11501
No activity since last quarter 2021. Opening this back up.

[2022-05-16 19:21] CuriousMagpie commented on #12819
I don't think I'll have time to get to it any time soon, so opening it back up.

[2022-05-16 19:24] SabreCat commented on #11072
@megansearles are you still working on this?

[2022-05-16 19:25] SabreCat commented on #9244
No activity since this was assigned. Opening it back up.

[2022-05-16 19:25] #6941 closed, assigned to Alys

[2022-05-16 19:28] SabreCat commented on #7927
This looks like a feature that, in the event that we decide to embark upon it, would be tracked on the internal project board rather than the outstanding issues tracker. Closing.

[2022-05-16 19:28] #7927 closed, assigned to nobody

[2022-05-16 19:54] megansearles commented on #11072
Hi @SabreCat ! Yes, sorry for the period of inactivity. Just getting settled in after moving cross country, but now I have my computer stuff set back up!

[2022-05-17 06:38] W1-PopelierE commented on #13542
@SabreCat Sorry, I didn't notice you tagged me here. Is there any Developer chat besides the one on Habitica where issues are distributed/talked about or anything like that?

[2022-05-19 20:37] #13883 closed, assigned to vanathi-g

[2022-05-20 17:29] CuriousMagpie commented on #13973
Absolutely! Assigning you.

[2022-05-24 20:13] CuriousMagpie opened #14015 "Modal backdrop hides notifications"
### General Info
  * UUID: 236f76d4-3789-4866-aade-9f8be9d72fef
  * Browser: Mozilla/5.0 (X11; Linux x86_64; rv:99.0) Gecko/20100101 Firefox/99.0
  * OS: Linux

### Description
From user email:

The fix for this would be to set the z-index for notifications so that they are displayed above the modal backdrop but not on top of the modals themselves.

[2022-05-25 06:53] W1-PopelierE commented on #13772
@SabreCat PR submitted.

[2022-05-25 15:09] #14015 closed, assigned to nobody

[2022-05-26 02:15] megansearles commented on #11072
Hi again @SabreCat, I actually should probably find a different bug to work on. I've spent many hours on this one, but haven't been able to reproduce it yet

[2022-05-27 15:59] CuriousMagpie opened #14017 "Quest rewards tool tip cut off on quest modal"
[//]: # (Fill out relevant information - UUID is found from the Habitica website at User Icon > Settings > API)
### General Info
  * UUID: c7834c97-7063-4070-a4c0-25e6a297929e
  * Browser: Chrome/101.0.4951.67
  * OS: Windows NT 10.0; Win64; x64

### Description
When hovering over the right-most reward in the quest modal, the tool tip is cut off. The tool tip should display fully.

![2022-05-25_us

[2022-05-27 17:30] JeppeKlitgaard commented on #12741
Is there any update on this? In my view this is quite an important feature that is missing.

It might be worthwhile to add that Unicode emoji's currently have working behaviour in some places:
- ✔ Editing a task on web
- ✔ Task view on mobile
- ❌ Task view on web (gives 403 forbidden to do `emoji_name.png` not found on server)

[2022-05-31 20:56] rilygreat opened #14030 "NS_BINDING_ABORT error when using master key to kennel"
could potentially be linked to this issue: https://github.com/HabitRPG/habitica/issues/13883

[2022-06-01 14:23] saraolson opened #14032 "Not receiving password changed successfully toast"
When going to Settings to change your password, you can type in your old password + new password, click save, and nothing seems to happen except a load bar. The fields stay filled in with what you typed. If you then click save again, it says 'Wrong Password' because the first save actually did change your password.

It should show a green "Your password has been changed" toast in the top corner, a

[2022-06-02 17:31] saraolson opened #14033 "Accounts with password but no local email can't add an email"
Someone can have a local password and username to log in, but if their email doesn't carry over to local auth after going through the Forgot Password flow, then there's no UI for them to manually add an email in Settings. We should show a text field for these users to add an email address themselves.

Here's a summary of the Settings UI in the various local auth states, the first is what's missing

[2022-06-03 16:12] CuriousMagpie commented on #13973
Hey @vanathi-g, are you making any progress on this?

[2022-06-03 16:13] CuriousMagpie commented on #13944
Have you made any progress on this, @WaelChettaoui?

[2022-06-03 16:14] CuriousMagpie commented on #13914
@vanessasickles Hi there! Were you able to resolve your local installation issues?

[2022-06-03 16:15] CuriousMagpie commented on #13777
@j-dover Have you made any progress on this?

[2022-06-03 16:23] CuriousMagpie commented on #13616
Thanks for your work on this, @KrSkander! It sounds like the problem here is essentially not syncing to the server when you switch from mobile to web and back again. And on that note--I'm going to close this issue!

[2022-06-03 16:23] #13616 closed, assigned to nobody

[2022-06-03 16:24] CuriousMagpie commented on #13325
@Liz433 Are you making any progress on this?

[2022-06-03 16:28] CuriousMagpie commented on #13252
@KTKreature Hey there! Have you done any work on this? I have come up with an implementation and have been given the task of turning it into a component and deploying it across the site, so I'm going to assign this to myself and unassign you. Feel free to look at our other open issues!

[2022-06-03 18:07] CuriousMagpie commented on #9488
@sau226 Awesome! Thanks a bunch, I know it's not real exciting coding, but it is really helpful for us.

[2022-06-03 18:08] CuriousMagpie commented on #13542
@W1-PopelierE Hey there, there isn't any other place where we discuss issues that are open to the community.

@Jeewhan, are you making any progress on this?

[2022-06-03 18:44] SabreCat commented on #14030
Almost certainly duplicate of #13883. Closing for now.

[2022-06-03 18:44] #14030 closed, assigned to nobody

[2022-06-03 20:41] #13772 closed, assigned to W1-PopelierE

[2022-06-04 03:23] vanessasickles commented on #13914
@CuriousMagpie Thanks for checking in! I haven't gotten to revisit this yet, but it's back on my radar now. Thanks so much!

[2022-06-04 08:30] darkarchana commented on #14017
I didn't find the problem on the latest develop branch on chrome and firefox. Someone need to check on this, clarify, and close the issue if no problem found.
![habitica-quest-tooltip](https://user-images.githubusercontent.com/41007883/171991417-082fab95-bdb7-4e20-919e-78c4bf631375.png)

[2022-06-04 16:13] darkarchana commented on #14032
I have 2 ideas to solve this and want to have a go. May I work on this? If I may which are more preferable from this 2 solutions?

1)
- on [https://github.com/HabitRPG/habitica/blob/develop/website/client/src/components/settings/site.vue](url)
add on changeUser method:
[code]

Or

2.

- on [https://github.com/HabitRPG/habitica/blob/develop/website/client/src/components/settings/site.vue](url)
add

[2022-06-05 06:24] Alys commented on #9488
@sau226 It shouldn't be necessary to run an actions workflow for you to make a PR.  If you haven't already seen our wiki docs about coding for Habitica, see [Setting up Habitica Locally](https://habitica.fandom.com/wiki/Setting_up_Habitica_Locally) (the "Fork and Clone Habitica" section will show you a good way for setting up your local repo), and [Using Your Local Install to Modify Habitica%27s W

[2022-06-05 07:20] j-dover commented on #13777
@CuriousMagpie I'm really sorry for the delay.

I followed Alys's advice and pushed my changes to GitHub to open a pull request.

[2022-06-05 08:31] p4nu commented on #13542
If it's okay for @Jeewhan I can try to fix this

[2022-06-05 08:33] Jeewhan commented on #13542
@CuriousMagpie I wasn't sure if I was in charge of the work, so the start was late, but I'm working on it now.

[2022-06-05 08:44] p4nu commented on #13325
If it's okay with @Liz433 I can try to fix this

[2022-06-05 09:12] nishant-jain commented on #9244
Hi, Can I pick this up?

[2022-06-05 09:57] Alys commented on #9244
FYI I've deleted some old comments that were just about claiming and unclaiming this issue. All the remaining comments are relevant to the fix required.

@nishant-jain I'll leave your question for Habitica's staff to answer, just so that we can be sure a fix is still desired. Thank you for asking!

[2022-06-06 00:05] Alys commented on #9488
@sau226 Ah I see, you're referring to this notice in https://github.com/HabitRPG/habitica/issues/9488:

"1 workflow awaiting approval
First-time contributors need a maintainer to approve running workflows."

I've clicked the approve button.

[2022-06-07 12:44] vanathi-g commented on #13973
Hey! Sorry, was busy with some other stuff. I was actually having trouble reproducing the issue when I checked last.

[2022-06-08 07:04] iswarmondal opened #14051 "Group the skill cast messages in party chat"
[//]: # (Before logging this issue, please contact site administrators from "Report a Bug" in the Habitica website's Help menu. If a GitHub issue is needed, staff will let you know and will most likely log one on your behalf. It is recommended that you don't create a new issue unless advised to.)

[//]: # (Bugs in the mobile apps can be reported via Menu > About > Support.)

[//]: # (If you have a

[2022-06-08 07:19] W1-PopelierE commented on #14051
But don't you want to see the time? What if there is no activity except 1 person and someone casts every hour. Then there should be no concatenation I suppose? This requires more UX design than a simple count.

[2022-06-08 17:25] citrusella commented on #14051
For what it's worth, suggestions are usually made in the [request a feature form](https://docs.google.com/forms/d/e/1FAIpQLScPhrwq_7P1C6PTrI3lbvTsvqGyTNnGzp1ugi1Ml0PFee_p5g/viewform?usp=sf_link). I do know before that form existed (when feature requests were made on Trello) that "lessen or eliminate system messages in party chat" was a perennial suggestion.

There's also an open issue tangentially

[2022-06-09 17:16] oswinrodrigues commented on #775
Revisiting this, many years later, to check if this is any more feasibile now than before? Would really like the ability to trade with (or even just gift) another party member (or friend). It would add to the experience of 'being in this adventure (habit-building) together'.

[2022-06-10 17:47] CuriousMagpie commented on #14051
Hi there, @iswarmondal! Per @citrusella's comment, they are correct that suggestions of this type should be directed towards the [request a feature form](https://docs.google.com/forms/d/e/1FAIpQLScPhrwq_7P1C6PTrI3lbvTsvqGyTNnGzp1ugi1Ml0PFee_p5g/viewform?usp=sf_link) and not created as new GitHub issues. I'll be closing this issues. Thanks for understanding.

[2022-06-10 17:47] #14051 closed, assigned to nobody

[2022-06-10 17:48] CuriousMagpie commented on #13973
Weird! Are you still having problems replicating the issue?

[2022-06-10 17:52] CuriousMagpie commented on #9244
@nishant-jain If you'd like to take this on, that would be great!

[2022-06-10 17:53] CuriousMagpie commented on #13325
@p4nu Since it's been a week and @Liz433 still hasn't replied, I'll go ahead and re-assign this to you. Thanks!

[2022-06-10 17:55] CuriousMagpie commented on #14032
@darkarchana I'll go ahead and assign this to you. As for which fix is preferable, I'll leave that to @SabreCat to weigh in on!

[2022-06-10 17:55] nishant-jain commented on #9244
Thanks, will take this on.

[2022-06-10 18:04] CuriousMagpie commented on #14017
I'm unable to duplicate on either Firefox or Chrome. Am closing, but will re-open if we get additional user reports of the issue.

[2022-06-10 18:04] #14017 closed, assigned to nobody

[2022-06-10 18:21] CuriousMagpie opened #14052 "Inconsistent quest locking fix needed on server-side code"
### Description
Per the comment in PR #13734:

Users have begun reporting that they can no longer purchase quests in the final Masterclasser quest chain due to the fact that we added a client-side check to ensure that they have completed all prerequisites. This is the intended and correct behavior: users need to complete all 12 prerequisite quests before they can purchase the first quest in the fi

[2022-06-10 18:59] #13777 closed, assigned to j-dover

[2022-06-10 19:06] #9488 closed, assigned to sau226

[2022-06-11 06:26] p4nu commented on #13325
I'll try to fix this during this weekend, so you can unassign me monday if I haven't come up with anything until then.

[2022-06-11 07:15] vimiomori commented on #12886
Do we want to have this validation on the client side or the server side?
Sorry if I've just completely misunderstood, but since it looks like the [validation is enforced on the client side](https://github.com/HabitRPG/habitica/blob/65d2eac4c3a20529d633b8d7f511a9e365442336/website/client/src/components/challenges/challengeModal.vue#L548), what we want to do here is to validate the summary is not e

[2022-06-11 17:10] nishant-jain commented on #9244
@CuriousMagpie Working under the assumption that both group types (guilds/parties) have this restriction. Let me know if that is not true.

[2022-06-11 17:22] nishant-jain commented on #9244
@Alys @CuriousMagpie Hey, sorry for spamming.
While looking at the code base and the previous attempts at this bug, I noticed my approach is almost similar to https://github.com/HabitRPG/habitica/pull/10340, which was not merged earlier. Is something else required here instead?

[2022-06-12 05:49] vimiomori commented on #14052
May I take this issue?

[2022-06-12 05:58] darkarchana commented on #14032
@CuriousMagpie, I already did PR #14054,
I used the first solution, since I think it leaves less footprints and I think there are not many success response that need to be showed currently. So when in the future the API has more success response, the notification dispatch can be moved to the axios interceptors.

[2022-06-12 10:20] Alys commented on #9244
@nishant-jain If you've handled all the points in the comments of that pull request, then the approach is likely to be okay. None of the comments said that the overall approach was bad.

See also the comments in this issue, as they might help (e..g, confirmation about affecting parties).

[2022-06-12 17:43] p4nu commented on #13325
I got a local environment running, but unfortunately I had not enough time to solve this.

Someone else can take it if there are others waiting.

If there isn't, I can continue looking this next weekend.

[2022-06-14 20:44] megansearles commented on #13844
Hi! Can I take this issue?

[2022-06-16 20:20] CuriousMagpie commented on #13844
@megansearles Absolutely--just keep in mind there needs to be a check that the user hasn't used the tag elsewhere!

[2022-06-16 20:22] CuriousMagpie commented on #14052
@vimiomori Yes, please!

[2022-06-16 20:25] CuriousMagpie commented on #9244
What @Alys said. 😀

[2022-06-16 20:26] CuriousMagpie commented on #13325
@p4nu It's fine if you still want to work on this.

[2022-06-16 21:02] CuriousMagpie opened #14070 "Profile Modal displays poorly at smaller screen sizes"
### Description
From a user:

<img width="480" alt="image001" src="https://user-images.githubusercontent.com/78037386/174159847-a58dc41f-5dcc-4151-83fe-a04f197b5713.png">

There are also significant issues with the display of the stats page:
<img width="480" src="https://user-images.githubusercontent.com/78037386/174162714-64d49d8c-6b06-4553-8341-cc559e9ff11d.png">

The fix more than likely does n

[2022-06-18 09:39] Alys commented on #13256
I'm reopening this because the bug is still happening or has started happening again. I've checked the current code and the fix in the linked PR is still in place, so it looks like a different method of fixing it will be needed now.

[2022-06-19 02:48] Jeewhan commented on #13542
@CuriousMagpie @SabreCat PR submitted.

[2022-06-19 11:37] scootyboots commented on #14070
Could I take a crack at this? I've got a fix working locally at least for the top header of the profile modal.

Also is this a duplicate with https://github.com/HabitRPG/habitica/issues/13944 ?

[2022-06-21 16:32] CuriousMagpie commented on #13944
Reassigning this to @scootyboots

[2022-06-21 23:33] saraolson commented on #13973
im also having trouble replicating the issue now, and i had gotten it before.

now though, the orb just won't work on my first use. i see it available for 0 gems, i get the modal, i click buy, the page refreshes, but im still a level 112 rogue. i scrolled down to try again, and the 2nd time it worked. thats the same pattern i noticed with the error, just.. now, no error.

[2022-06-22 01:48] scootyboots commented on #13944
I'll be addressing at least some of these issues in https://github.com/HabitRPG/habitica/issues/14070

[2022-06-22 18:55] SabreCat commented on #13941
That sounds quite plausible. We turned off CDN caching of the resource, but it could well help to skip cache during the API request.
@CuriousMagpie Is this reproducible in the testing environments?
@bbqben if you're still around, care to create a PR with your proposed solution?

[2022-06-22 19:02] bbqben commented on #13941
@SabreCat Yup, I can work on getting a PR in with the mentioned changes 👌

[2022-06-25 12:59] JasonCarvalho-tech commented on #13286
Can I work on this issue please?

[2022-06-25 20:19] nishant-jain commented on #9244
Hey, I think the PR is ready for review. https://github.com/HabitRPG/habitica/pull/14053

[2022-06-30 16:55] CuriousMagpie commented on #11162
This is still happening--

UUID: da1cddd2-5cfb-4dbf-87a2-4d1fc97af973
User Agent: Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:102.0) Gecko/20100101 Firefox/102.0

[2022-06-30 17:38] CuriousMagpie commented on #13286
I've assigned this to you, @JasonCarvalho-tech! Thanks!

[2022-07-05 20:09] CuriousMagpie commented on #13973
Hi @vanathi-g -- are you making any progress on this? A few folks have been having problems with getting the orb to work per @saraolson's comment: they attempt to buy it for 0 gems, it doesn't work, and then they can buy it and it works--and charges them gems.

[2022-07-05 20:10] CuriousMagpie commented on #13914
Hey @vanessasickles! Checking in on this again--are you making any progress?

[2022-07-05 20:12] CuriousMagpie commented on #13325
Opening this up for other folks now.

[2022-07-06 20:32] #13941 closed, assigned to bbqben

[2022-07-08 07:28] nishant-jain commented on #9244
My apologies. Didn't mean to be pushy!

[2022-07-08 20:49] #14070 closed, assigned to scootyboots

[2022-07-14 01:46] wolverdude commented on #11270
I have a lot of dailies, and I intentionally skip days from time to time. Ideally, RYA would give me the option to ignore days I didn't check in. It could be a button on the RYA screen or a toggle in the settings menu.

[2022-07-14 03:28] vimiomori commented on #14052
@CuriousMagpie
Hello! I'm just wondering, should I ask someone to review my pull request?

[2022-07-14 20:24] #14052 closed, assigned to vimiomori

[2022-07-15 20:07] furyuri commented on #13325
I was unable to reproduce this, otherwise I'm interested in taking this as my first issue.

[2022-07-15 20:21] furyuri commented on #12819
Hello there! I'd like to try and help with this one as my first issue.

[2022-07-18 20:56] CuriousMagpie commented on #12819
Sure thing, @furyuri!

[2022-07-19 17:17] CuriousMagpie commented on #9455
Closing per @Tressley's comment that @negue fixed this a while back!

[2022-07-19 17:17] #9455 closed, assigned to nobody

[2022-07-19 19:32] furyuri commented on #12819
Thanks @CuriousMagpie!

[2022-07-19 19:33] furyuri commented on #13325
@CuriousMagpie - Any new info on reproducing this bug? I wasn't able to do so...

[2022-07-22 20:24] #9244 closed, assigned to nishant-jain

[2022-07-25 01:20] furyuri commented on #12819
Based on the testing I did using the console, the `hatch` function isn't running at all if the user already has the pet.

I made the conditional statement `(1>0)` and it still wouldn't run. But when I hatched a "hatchable pet" then my console message and the error message showed up (because I changed the conditional statement to see what would happen).

[2022-07-25 01:24] furyuri commented on #12819
Now I need to find out where the eventHandler logic starts. It seems that the error logic (when a user _cannot_ hatch a pet) needs to be moved out of  `hatch.js`, but I'm not sure where it would go until I hunt down the beginning of this hatching process.

[2022-07-25 16:21] citrusella commented on #12819
I may be sniffing up the wrong tree, but is it possible this is where the hatching gets its start? (It definitely contains logic (near the end of what I copied) that checks if a pet is hatchable and hatches it if you've clicked both an egg or a potion (in either order).)

https://github.com/HabitRPG/habitica/blob/8070486def93ba9f73e23f30f4ae2171dd89f82c/website/client/src/components/inventory/item

[2022-07-25 18:57] furyuri commented on #12819
Ooooh. Thanks @citrusella - I had looked at that file yesterday, but looking again I'm specifically noticing lines `553-559` and beyond , I'll look more into that...

Hmm...I think this is egg-actly what I'm looking for...🥚

[2022-07-29 16:52] CuriousMagpie commented on #13891
Another user reporting this issue:

[2022-08-01 07:44] ofilipowicz commented on #12741
To be honest, I think it should be split into to tasks. One is fixing current emojis which are not working since many, many years already. Two is designing more emojis as mentioned by @SabreCat.

Ticket no. 1 wouldn't require design team work and could be easily done by one developer. This way, we would at least have basic emojis working. Otherwise, we can wait for resources to do all design work

[2022-08-01 16:21] citrusella commented on #12741
I'm sure this is just me with a no-reading-comprehension-today brain, but when you say "fixing current emoji" do you mean "upgrading the library to a current standard" or "making sure emoji that should theoretically be in the current, non-updated library are working"?

I feel like I'm *sure* you probably mean the first one but wanted to ask because I couldn't wrap my head around what it meant as w

[2022-08-01 16:51] merwok commented on #12741
I read it as your first interpretation.  First fix the emojis that exist now and work only partially, then do a broader rework or replacement of the whole library.

[2022-08-01 17:13] CuriousMagpie commented on #13891
User provided a screenshot of the console:
![console log](https://user-images.githubusercontent.com/78037386/182205368-1a4a3f49-e0df-4640-ac30-192c63f9d0fe.png)

[2022-08-05 15:14] CuriousMagpie commented on #12741
I will be working closely with the rest of the team to determine the best approach for this issue. I know it's been a problem for a long time, but while this is something I am going to be working on, I am not actively working on it at this time.

[2022-08-05 15:23] CuriousMagpie commented on #13325
I haven't been able to reproduce it, either.

[2022-08-05 15:25] CuriousMagpie commented on #14032
Completed with PR #14054

[2022-08-05 15:25] #14032 closed, assigned to nobody

[2022-08-09 15:38] furyuri commented on #12819
I'm still working on this...hopefully I can get a PR in by this weekend.

[2022-08-13 08:18] theneelshah commented on #13891
@CuriousMagpie Can I pick this up? I've never done a contribution before and am excited for my first contribution. I managed to repro this issue locally..

[2022-08-13 12:16] theneelshah commented on #13891
Have created a pr: https://github.com/HabitRPG/habitica/pull/14169

[2022-08-16 08:49] manuirapuram123 opened #14173 "cant able to use my mail id"
[//]: # (Before logging this issue, please contact site administrators from "Report a Bug" in the Habitica website's Help menu. If a GitHub issue is needed, staff will let you know and will most likely log one on your behalf. It is recommended that you don't create a new issue unless advised to.)

[//]: # (Bugs in the mobile apps can be reported via Menu > About > Support.)

[//]: # (If you have a

[2022-08-16 08:54] manuirapuram123 commented on #14173
I tried to sign up, but when I put in my usual mail id for sign-ups, it told me that the e-mail was already taken. Unfazed, I tried to sign in, figuring that I had made an account and forgotten about it (after all, it's happened before). It then told me that there was no user with that username. Now I'm getting a little worried, so I click "forgot password" and enter my e-mail. That's when it tell

[2022-08-16 15:19] CuriousMagpie commented on #14173
Please send an email to admin@habitica.com, as we don't handle requests like this on GitHub.

[2022-08-16 15:19] #14173 closed, assigned to nobody

[2022-08-18 12:41] phillipthelen opened #14175 "Challenge Category list is copy/pasted 4 times in the client code"
The list to define the different challenge categories is copy and pasted in 4 different locations. Instead of having this long list in the code 4 times, it should be moved to the common code and added to the content definitions there.

It could also be useful to return it with the `/content` api call

[Github search to find all occurrences of the list](https://github.com/HabitRPG/habitica/search?q

[2022-08-18 17:14] CuriousMagpie opened #14176 "URL redirect from login page not working properly"
Reported by @citrusella via email:

### General Info
- **UUID:** 2d6ef231-50b4-4a22-90e7-45eb97147a2c
- **User Agent:** Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:91.0) Gecko/20100101 Firefox/91.0

### Description

#### Comments
We recently put in a [redirect vulnerability fix](https://github.com/HabitRPG/habitica/commit/d76d5f2cf19899305470ee43e6409f6840b4ed5a) of which this is an unfortunate s

[2022-08-18 20:29] antonderegt commented on #13256
Hi there, could I have a go at this one?

[2022-08-20 00:51] gabrielgaraujo commented on #12760
May I give it a shot?

[2022-08-22 03:02] furyuri commented on #12819
I'm not sure that the error thrown in `hatch.js` (lines `41-43`) was ever actually working..the commit message said "wip: split shared ops" and when I edit `index.vue` (line  `551`, `isHatchable()`) and force the message to get called, I get an `uncaught Promise` error.

[2022-08-22 03:03] furyuri commented on #12819
There also seems to be other unfinished code in `index.vue` in regards to making eggs draggable...
![image](https://user-images.githubusercontent.com/19518199/185830394-d3f20b59-74eb-431a-8c41-ba0e2bc2b14b.png)

[2022-08-22 12:31] antonderegt commented on #13256
Or should this issue be closed? I saw someone else already submitted a PR in issue #13891

[2022-08-22 20:26] antonderegt commented on #14176
Excuse me for not asking for the okay to work on this issue. The fix was so small I just went ahead and pushed a PR.

I hope you don't mind.

Let me know what you think!

[2022-08-23 06:44] CuriousMagpie commented on #14176
No worries! If it was an easy fix, all the better! :)

[2022-08-23 17:51] antonderegt commented on #11162
Hey! Can I pick this up?

[2022-08-23 23:48] CuriousMagpie commented on #11162
@antonderegt Absolutely Thank you!

[2022-08-23 23:50] CuriousMagpie commented on #12760
Sure thing, @gabrielgaraujo! Thanks!

[2022-08-23 23:53] CuriousMagpie commented on #12819
If you see other parts of the code that you'd like to finish up while you're working on this issue, go ahead and do so! Just be sure to document them clearly in your PR and check for any relevant issues that your fixes may resolve.

[2022-08-23 23:55] CuriousMagpie commented on #13256
Good catch, I've linked that issue here as well. Once the PR is reviewed and put into production, this issue will be closed as well.

[2022-08-24 00:19] Tundrian commented on #14175
Is anyone currently working on this issue? If not I'd love to contribute to this. Please let me know if there's anything I need to be aware of before diving in.

[2022-08-24 03:21] citrusella commented on #12819
For what it's worth, I'm *fairly sure* the notification/error worked *at one point*, as I was aware of it enough to note its absence and that's the whole reason I reported it originally. *However* (this is a hypothesis and not what definitely happened), it's possible that the last time it definitely worked was on the previous design of the website (which stopped getting used late September 2017),

[2022-08-26 20:22] #13286 closed, assigned to jasonmishi

[2022-08-26 20:45] #13891 closed, assigned to nobody

[2022-08-26 20:45] #13256 closed, assigned to nobody

[2022-08-26 20:56] #14176 closed, assigned to nobody

[2022-08-28 16:01] antonderegt commented on #12286
Can I work on this one? 😃

[2022-08-29 21:02] CuriousMagpie commented on #12286
@antonderegt If you're feeling up to it, sure thing! 😁

[2022-08-29 21:05] CuriousMagpie commented on #14175
@Tundrian I don't know anything in particular that you need to know--this is essentially a refactor to streamline the codebase a tiny bit. 😄

[2022-08-30 13:29] MmKargar opened #14198 "Error: Forbidden on habitica.com"
I get `Error: Forbidden` on habitica.com.
![image](https://user-images.githubusercontent.com/11253027/187449821-cc2f2cd9-afbc-43de-b477-e3c64d3abd47.png)

[2022-08-30 17:01] CuriousMagpie commented on #14198
This has been corrected in #14176 and should be in production shortly. In the meantime, you will just need to retype the website address into your address bar on the browser.

[2022-08-30 17:01] #14198 closed, assigned to nobody

[2022-09-08 10:00] Alys opened #14217 "add `quantity` body parameter to apidocs for "Purchase Gem or Gem-purchasable item""
In the API, the `https://habitica.com/api/v3/user/purchase/:type/:key` route allows you to specify the amount of items you wish to buy (e.g., more than one Hatching Potion at once, or more than one gold-purchasable Gem at once). You do that by supplying a body parameter called `quantity`, with the value being an integer indicating the amount of the item to buy.

This issue is to get the `quantity`

[2022-09-08 10:02] Alys commented on #14217
I've added the "notify helpers" label to remind me to remove the tip about using `quantity` from [Application Programming Interface > Errors in the API Documentation](https://habitica.fandom.com/wiki/Application_Programming_Interface#Errors_in_the_API_Documentation) on the wiki.

[2022-09-09 14:59] ATommasi commented on #14217
I can take care of this

[2022-09-19 04:07] wilsonhou commented on #13542
@SabreCat  @CuriousMagpie could I take on this issue?

[2022-09-19 18:35] CuriousMagpie commented on #13542
@wilsonhou Sure thing! I've assigned this to you.

[2022-09-22 19:56] CuriousMagpie opened #14246 "FAQ Code Refactor"
The FAQ code needs to be refactored to take into account differing numbers of questions between platforms, retired questions, and reordered questions.

Files affected (these may not be the only ones):
- `website/client/src/components/static/faq.vue`
- `website/common/script/content/faq.js`
- `website/common/locales/en/faq.json`
- `test/content/faq.js`

[2022-09-22 20:14] SabreCat commented on #14246
Specific things to overhaul:

* faq.js in common/script/content supposes that all platforms will have the same number of questions and that we will never remove a question from the list. So...
* * Change the structure of common/script/content/faq.js to something like `{ platformA: [ 1, 2, 4, 8 ], platformB: [ 2, 3. 4. 5 ] }` or similar
* * ...somehow keep the actual response in the content API the

[2022-09-25 06:39] anishcode19 commented on #14175
Hi, I'm interested in contributing to this issue. This would be my first open-source contribution. Can it be assigned to me?

[2022-09-29 15:33] AdamWier commented on #13110
Hello, I would be interested in working on this as part of Hacktoberfest if it's still available and relevant. :)

[2022-10-05 20:05] mnosov622 commented on #13299
Hello @shanaqui !

I would love to work on this issue. Can you assign it to me, please ?

[2022-10-06 19:21] Sasheem commented on #13542
@CuriousMagpie Hello! May I attempt this issue?

[2022-10-07 21:33] #14217 closed, assigned to AdamArcane

[2022-10-11 20:52] saraolson commented on #14033
@mayankjx we'll be handling this issue internally as we're also redoing the Settings screen UI, but any issue tagged with the Help Wanted label should be open for contributors to take on!

[2022-10-11 20:54] saraolson commented on #13973
@Mighil31 the t.response undefined error shows up in the corner in a red message bubble.

[2022-10-12 20:46] #14175 closed, assigned to Tundrian

[2022-10-12 20:51] #11162 closed, assigned to antonderegt

[2022-10-12 21:55] citrusella commented on #13624
This isn't some sort of request to revisit this or anything, but it felt like noting somewhere semi-permanent that multiple people in the past few days have mentioned experiencing this (and wondering why it was like that) with the ghost sheet armor added to the armoire this month too.

(In my opinion it's kind of fun with that one, though, like you taped hair to the outside of the sheet. XD But ju

[2022-10-13 19:37] Sasheem commented on #13542
@SabreCat @CuriousMagpie Hello again! Just checking back in to see if this issue is still available to be worked on?

[2022-10-15 18:49] ShivSitaram commented on #12937
Could I try working on this one? It's my first time ever helping Habitica with Blacksmith-ing. I'm not 100% sure I'll be able to do it, but I would like to try.

For confirmation-- would I need to delete ALL the mentions of `flags.armoireEmpty`, or just the three places where `user.flags.armoireEmpty` is calculated?

The three places where `user.flags.armoireEmpty` is calculated is what I get when

[2022-10-15 21:18] ShivSitaram commented on #12937
This is my first time ever on Habitica GitHub.

Is a valid solution to

1. create a JSON file with all an array of all the armoire items,
2. then replace each place where `user.flags.armoireEmpty` exists in all the files in the habitica code with a check if the user has all the items in the JSON file created in step 1?

If so, I'd be happy to do this!

I'm sorry about all the questions... this is

[2022-10-16 14:00] Mighil31 commented on #13973
@saraolson so here's what I'm doing
- Created a new user.
- Change user's level to 100 in mongo
- Complete a task which then creates the rebirth modal
- Buy the orb
This works and I'm sent to the home screen as a level 1 warrior. I dont get any error either. I have tried on both chrome and firefox. Is there anything else that I should be trying ?

@rilygreat also mentioned these
[code]
Could these

[2022-10-16 20:18] ShivSitaram commented on #13973
@Mighil31 @saraolson I tried what @Mighil31 did, and I'm not able to replicate the error. I've only tried it on Chrome, though. Looks like you tried Firefox.

@Mighil31 I'm not sure how those options could be the issue, but I'm not really able to see anything else that could be the problem...

[2022-10-16 20:20] ShivSitaram commented on #12937
Would it be a valid solution to create a JSON file with a list of Armoire items, then replace every time user.flags.armoireEmpty is mentioned with a check if the user owns each one of those items? That seems simplest to me... unless I'm understanding the issue incorrectly!

[2022-10-17 02:49] adamfitzgibbon commented on #14246
I can help with this! It seems like there are three separate action items here though. so I'm going to start with the hardcoded lists in `faq.js` first and have subsequent PRs for the API changes

[2022-10-17 07:26] CuriousMagpie commented on #14246
Hi there! I'm working on this--we usually only have one contributor working on an issue at a time. Is there anything else that strikes your fancy?

[2022-10-17 07:43] adamfitzgibbon commented on #14246
Oh sorry, didn't know if you were active on it or not. I'll look at the other issues thanks

[2022-10-17 08:06] adamfitzgibbon commented on #13923
Hey @CuriousMagpie, I could work on this, but the logic flow you described above seems to be the current functionality.  You're saying we should check their class and if it doesn't match and they owned it previously, then it's locked which based on your example seems to be what is happening. Can you clarify?

[2022-10-17 08:39] citrusella commented on #13923
That logic *is* the current functionality AFAIK. The problem is that the equipment is showing up as purchasable for gems (and not gold) when the user has already bought it for gems before, if it happens to be a featured item. This featured item can be bought whether you're the same class or not, even though the typical "gear lost to death" (or old-style rebirth, technically) situation both removes

[2022-10-17 17:37] rilygreat opened #14301 "can't view popup message when hovering over reward items"

[2022-10-18 07:35] adamfitzgibbon commented on #12936
Hello, I'm going to take a look at this. Looking at the functionality, I think we may want to have them start with the `draggable` property because otherwise we are defaulting to a normal pointer on the sidebars which feels less intuitive. But let me know if you disagree

[2022-10-20 04:07] mirrorcoloured commented on #9361
Looks like this one has been waiting for a while. I've added the stopwords module which seems to provide a nice sort order:
![image](https://user-images.githubusercontent.com/2054119/196851891-a0278e8e-c148-49b8-80a4-8bc608c1ef19.png)
My working branch is here:
https://github.com/HabitRPG/habitica/compare/develop...mirrorcoloured:habitica:fix-az-sort
I have two questions:

1. I am only able to get

[2022-10-20 06:36] adamfitzgibbon commented on #9477
This looks like it was already fixed, at least on web. Can anyone confirm?

[2022-10-20 13:26] Tressley commented on #9477
@adamfitzgibbon -- This does not look to have been fixed. The behavior of the A-Z sort should mirror the experience of the other options, i.e. It should also use the expand and collapse functionality.

If you're interested in taking this on, just drop a comment and I'll assign it your way. 👍🏻

[2022-10-20 16:48] michkrej commented on #5648
Hi! I could take a look at this if it still needs to be fixed :) Otherwise I would appreciate if you could point me in the direction of another ticket, I would love to help out!

[2022-10-21 04:43] klai890 commented on #12678
hi! can i be assigned to this issue?

[2022-10-21 05:32] adamfitzgibbon commented on #9477
@Tressley Oh ok, from the above I thought the ideal functionality was to hide the "See more" without it being collapsed. If we want it to work with the "See more" I can take that on!

[2022-10-23 12:23] Vagamin opened #14305 "I get Error: Forbidden on habitica.com."
.

[2022-10-24 03:17] adamfitzgibbon commented on #12936
Fixed in #14302

[2022-10-24 03:17] adamfitzgibbon commented on #9477
Fixed in #14304

[2022-10-24 03:51] adamfitzgibbon commented on #9370
Does this require translations?

[2022-10-24 05:27] adamfitzgibbon commented on #8190
Hey I'm taking a look at this

[2022-10-24 07:30] adamfitzgibbon commented on #8190
Looking at the current day code years after this ticket was created, it looks like we already put some validation in around inviting by userId, but was missing it when inviting by username. #14316 fixes that

[2022-10-24 19:06] ch4kra commented on #13252
Hi! I'm interested in contributing to Habitica. Is this issue being worked on?

[2022-10-25 13:09] Tressley commented on #13252
@ch4kra -- Thank you for your interest in contributing to Habitica! Yes, the componentization is still being worked on by @CuriousMagpie. Please feel free to have a look at our other open issues.

[2022-10-25 16:15] citrusella commented on #14305
Hmm... #14198 is the same problem (and... has the same image? weird) but was fixed at the end of August. Is this somehow the same cause or a new one?

(Actually, is the fix there related at all? The fix on that one was mentioned to be the fix for broken redirects I reported, but a broken redirect issue would not list "habitica.com" in the address bar (and would cause a not-found error IIRC)...)

[2022-10-26 15:20] saraolson commented on #13973
i just tested now and im still getting the previous behavior i commented where  the first orb purchase doesn't actually work, even though an error isn't showing anymore. this time it at least didn't seem to charge me gems on my 2nd try.

using firefox on an old account. went to settings > fix char values to set level to 100 for the free orb > market > buy orb there. it acts like it worked until re

[2022-10-27 10:05] Dhia52 commented on #12937
Hello @SabreCat!

Is that a good issue for a first-time Habitica contributor? I'd like to work on it.

[2022-10-27 17:24] CuriousMagpie commented on #8190
Thanks for taking a look at this!

[2022-10-27 18:46] CuriousMagpie commented on #14301
Hey there! If you want to try it, sure! I know it's been reported before but I wasn't able to duplicate it.

[2022-10-27 18:50] CuriousMagpie commented on #13923
I *think* what should happen is that if the user used to own the item--regardless of their current class--if they lose it to death or disfigurement, it should be re-purchasable with gold, not gems. It seems unfair to make users use gems to re-purchase something they lost through a game mechanic. So if you want to take a look at it, @adamfitzgibbon, with that thinking, go for it! :)

[2022-10-27 18:52] CuriousMagpie commented on #9361
@SabreCat, can you answer @mirrorcoloured's questions?

[2022-10-28 15:21] CuriousMagpie commented on #12937
Hi @Dhia52! Since you already are working on another issue, we'd like to leave this one for someone else to take care of--if it's still open when you finish the other one, let us know here if you're still interested! Thanks!

[2022-10-28 15:26] CuriousMagpie commented on #13542
It sure is and it's all yours, @Sasheem! Thanks!

[2022-10-28 15:27] CuriousMagpie commented on #13624
We knew about it, but thanks for posting here, too @citrusella. Like last year, this was an intentional design choice. 😄

[2022-10-28 15:29] CuriousMagpie commented on #13299
I'll go ahead and assign it to you, @mnosov622! Thanks!

[2022-10-28 17:31] saraolson opened #14319 "Next Hourglass showing incorrect month estimate"
User bought a 12 month sub Oct 2021, it renewed Oct 2022 and we're saying they will get their next hourglass in october. that should be november.

9f7155e8-dbb6-4795-a522-b861b125daec

<img width="438" alt="Screen Shot 2022-10-28 at 1 17 01 PM" src="https://user-images.githubusercontent.com/12453119/198697255-66b27ba5-0f6c-434c-ad31-ea84d05aa86d.png">

[2022-10-28 21:15] citrusella commented on #14301
I was able to duplicate it on a quest modal on the inventory page (was even on a quest so that there wouldn't be an invite button, just like the picture), though it was harder to notice because my tooltip went upward (but still got cut off on the side).

[2022-10-30 21:44] shuldrox commented on #12937
Hello @CuriousMagpie and @SabreCat!

I was wondering if you got my message above. If so, could you let me know your response?

Thanks very much!

[2022-10-31 18:40] CuriousMagpie commented on #12937
Hey there @shuldrox! This should be relatively straight-forward. I'll assign it to you. Thanks for the nudge! 😄

[2022-10-31 19:35] tiagocpontesp commented on #8577
https://github.com/HabitRPG/habitica/issues/8577#issuecomment-292801987
-- This kind of behavior could be implemented client-side (local "save-games" heh).
If it already is please ping (so I consider trying this cool app :) ).

[2022-11-01 03:25] adamfitzgibbon commented on #13923
This should fix it #14326 it still locks the item if it's the wrong class. I can make it also unlock the item if that is what we want @CuriousMagpie

[2022-11-01 18:00] shuldrox commented on #12937
Wow, thanks @CuriousMagpie! I'll start working on it!

[2022-11-02 18:03] CuriousMagpie commented on #12937
You should ignore those two files. :smile: Those are scripts that the devs use and don't actually populate the armoire each month. We do a content build every month--here's part of my cheat sheet for that process:

---

- Add gear to `website/common/script/content/gear/sets/armoire.js` in the appropriate variable for each piece. Be sure to name them the same as the image name without the slot & ar

[2022-11-02 19:14] shuldrox commented on #12937
@CuriousMagpie Okay! I'll ignore those two files. Thanks for all the help!

The way I understand it (for what I need to do)--In every file where `user.data.armoireEmpty` is mentioned, I replace it with a dynamic check.

Last question-- sorry about all these-- should `user.flags.armoireEmpty` **still exist**, or should I remove it? (I will replace the mentions with a dynamic calculation anyway.

I

[2022-11-07 18:14] saraolson opened #14339 "Next Hourglass estimate showing for inactive subs causing confusion"
If someone subscribes then cancels, it causes confusion to see an hourglass estimate up until their benefits end.

**It would probably be easiest to hide this field when a sub has a termination date?**

---

ex someone bought a 1-month sub, cancelled, a 3-month sub, cancelled, then a 12-month sub and cancelled again to get the hourglasses up front. the estimate said their next hourglass would be i

[2022-11-09 06:37] AnhuaW commented on #12360
@SabreCat Hi, may I take on this issue?

[2022-11-09 19:17] CuriousMagpie commented on #12360
Not a problem @AnhuaW! Thanks so much!

[2022-11-10 13:58] Dhia52 commented on #14301
Hello!

I finally managed to install Habitica on my machine. I can start working on the issue proper.

[2022-11-11 17:21] shuldrox commented on #12937
@CuriousMagpie @SabreCat could anyone clarify my question in the previous post?

If I don't hear a response, I'll open a pull request based on what I THINK is right, and then we can edit it based on what is right.

[2022-11-12 11:40] bootymcjudy opened #14349 "Unable to create party or guild on local docker install"
### General Info
  * Locally installed using Docker

### Description
When trying to create a party or guild the site just spills out Unexpected error has occurred on the top right of the page. What is odd is I could have sworn this worked earlier this week, but now on a fresh install it stopped working

#### Console Errors
when looking at the logs of the server,
[code]

So it looks like the issue

[2022-11-12 22:03] antonderegt commented on #12286
Unfortunately I've not been able to fully fix the issue in a timely manner. Please see #14203 for a partial fix. The only tasks left are to create a new error message (for when the transaction is rolled back) and implementing the fix to all places where member count is changed.

Good luck!

[2022-11-12 22:25] AlexKliger commented on #13914
Hi @CuriousMagpie. Wanted to know if I could try to resolve this issue?

[2022-11-18 15:00] AlexKliger commented on #13914
Hey @CuriousMagpie,

Just wanted to follow up on this issue and request to work on it again as per the Blacksmith guidelines. I feel that it would be a good first contribution and I believe that I have already found the solution.

[2022-11-18 16:58] CuriousMagpie commented on #13914
Hi @AlexKliger, I've gone ahead and reassigned this to you since we haven't heard from @vanessasickles in a while. Thanks!

[2022-11-18 22:43] #13923 closed, assigned to adamfitzgibbon

[2022-11-18 22:45] #9477 closed, assigned to nobody

[2022-11-18 22:48] #12936 closed, assigned to nobody

[2022-11-19 02:44] citrusella commented on #10719
Since this appears to be an identical issue to #13923 which was closed as fixed by #14326 should it also be closed?

[2022-11-21 01:12] mjfighter opened #14369 "Purchased thunderstrom potion to use on my dragon egg and dragon is greyed out"
<img width="99" alt="image" src="https://user-images.githubusercontent.com/118700090/202938043-3fad23ed-80e5-41f8-94af-8c9e4cc1c5ed.png">

I attached a picture of it. Any ideas?

[2022-11-21 01:15] mjfighter commented on #14369
I just tried getting another mount with a normal potion and it worked. Is it just a bugged hatching potion?

[2022-11-22 16:40] CuriousMagpie commented on #14369
Do you have a dragon egg in inventory?

In the future, please use "Report A Bug" form for these sorts of questions and concerns. Thanks!

[2022-11-22 16:42] CuriousMagpie commented on #10719
Thanks for the catch!, @citrusella!

We can always re-open this issue if it hasn't been fixed by #14326.

[2022-11-22 16:42] #10719 closed, assigned to nobody

[2022-11-23 17:23] mjfighter commented on #14369
Yea I have a decent amount of dragon eggs in my inventory!
i just wasn't able to use the dragon after turning him into a mount

[2022-11-23 17:26] mjfighter commented on #14369
I also just bought a new thunderstorm potion and now I cant even feed the dragon
<img width="103" alt="image" src="https://user-images.githubusercontent.com/118700090/203610828-158007f3-8cfc-4b8a-9b07-d3a7f1a57f1b.png">
<img width="97" alt="image" src="https://user-images.githubusercontent.com/118700090/203610885-3f8df41d-28d8-47d3-bd69-8650f396ca9e.png">
He doesnt have a health bar

[2022-11-28 16:19] CuriousMagpie commented on #14369
You can't feed the dragon because you already raised it into a mount. You can only do that once. In order to rehatch the pet, you need both an egg and potion in your inventory.

I am closing this issue, as the application is working as intended. Please use the "Report a Bug" link located under the "Help" menu in the header with any future concerns. Thanks!

[2022-11-28 16:19] #14369 closed, assigned to nobody

[2022-11-28 16:28] mjfighter commented on #14369
If you read the message it says i bought a NEW dragon after the last one DIDNT get turned into a mount after feeding it the appropriate amount of times.

[2022-11-30 10:35] therealmaxmoon commented on #12043
I find this a really good idea, because in some challenges I create high score boards automatically and have dozens of people in the list and it would be very nice to be able to visit their profiles by a click to see if they already won one of those challenges or to contact them to ask questions about their scores, etc. Otherwise it isn't even possible to figure out their profiles (without the uui