[2020-05-11 14:19] Tressley commented on #9476
@citrusella -- Sorry for my late reply! Yes, you'll want an invite to Zeplin to get design specs. Can you provide me an email I can send the invite to?

[2020-05-11 14:38] paglias commented on #12178
Sounds good 👍 I'll mark it as help wanted then

[2020-05-11 16:20] Tressley commented on #8663
@paglias -- These are still on hold until we have a moment to look at achievements again. 👍

[2020-05-11 17:59] fmaximus commented on #12178
I'll tackle it

[2020-05-11 18:06] citrusella commented on #9476
@Tressley citrusellaflugpucker@yahoo.com should work, I think. o.o

[2020-05-11 19:07] SabreCat commented on #12018
Closing for now. Nobody's been able to reproduce it and it's distracting our helpful contributors! 😅

[2020-05-11 19:07] #12018 closed, assigned to nobody

[2020-05-12 00:06] Alys commented on #12178
@fmaximus Thanks! I've marked this as in progress.

[2020-05-12 00:12] Alys commented on #12182
If there's no objections in a couple of days, I'll mark this as help wanted for adding the same close icon that User Profile > Backgrounds has (the x in the top right corner). That seems to be a decent way of achieving the desired behaviour below I think, keeping consistency with similar modals, and it would be an easy workaround until the refactoring is done.

[2020-05-12 11:00] cvuorinen commented on #12182
@Alys as I said already in previous comment "I can make a PR for this if you think it's a good idea."

[2020-05-12 11:17] Alys commented on #12182
@cvuorinen Ha yes, good point, you did say that! Thanks for the reminder! If there's no objections in a couple of days I'll mark it as in progress for you and post here when I've done that. Thank you!

[2020-05-12 12:40] fmaximus commented on #12101
I see the issue also for `npm run test`.
I played with it a bit, and adding `test:prepare:mongo` helps to give a clear message.
PR on the way.

[2020-05-12 14:42] shanaqui commented on #1703
@alecbrick I'm setting this issue back to help wanted, but if you want to pick it back up, let us know!

[2020-05-12 14:45] shanaqui commented on #9933
@somersjw Hi there! Are you still interested in working on this? I'll mark this as help wanted again in about a week if we don't hear back. :)

[2020-05-12 14:45] shanaqui commented on #11865
@inftp Thanks for letting us know! I've marked it as help wanted again. I'm not sure if someone else will be able to use your PR -- @Alys?

[2020-05-12 16:54] phillipthelen commented on #12126
I could not find a way to configure this in weblate unfortunately. So we'd have to change the source/translation files.

[2020-05-12 16:54] phillipthelen commented on #12119
I could not find a way to configure this in weblate unfortunately. So we'd have to change the source/translation files.

[2020-05-12 16:58] veeeeeee commented on #12040
Agree with @Alys's assertion that items did not change order while looking at the page. Reordering should only happen on reloading the page/sync/navigating away.

[2020-05-12 17:00] veeeeeee commented on #12182
Ok to move forward on this, @cvuorinen! Thanks :)

[2020-05-12 17:12] SabreCat commented on #11151
Some of the above has been implemented in https://github.com/HabitRPG/habitica/commit/6658abbcd99e55f2001f3ca05781b8aca58c796b

Agreed that we should be using correct/current/relevant time range information instead of years-old irrelevant ones.

[2020-05-12 17:26] SabreCat commented on #11151
More specifically, there are several things we can fix up, here:

- When an item is pinned but can't be bought due to its event having elapsed, remove it from `pinnedItems` automatically. Currently we do this with some db cleanup post-event, but that's a less than ideal solution.
- As a fallback, don't show the class-related lock message if it's locked due to a `canBuy()` failure; instead, show a

[2020-05-12 17:46] sergey-prosvirnin opened #12198 "npm ERR! habitica@4.141.1 start: `gulp nodemon` npm ERR! Exit status 1"
Hi, I am using NodeJS 12.10.0 and running the **npm start** server start command and getting the following error.

[code]

My log
[code]

[2020-05-12 18:08] benkelaar commented on #10209
I'd like to take a crack at this.

[2020-05-12 18:18] sergey-prosvirnin opened #12199 "Proxy error: Could not proxy request /api/v4/user/auth/local/register from liga.is:8080 to http://server:3000 (ENOTFOUND)."
Hi, I'm trying to build from running containers to run Habitica with the **docker-compose -f docker-compose.dev.yml up -d command**. I end up getting a broken frontend at ip_server:8080 and when I try to send a **Proxy error: Could not proxy request /api/v4/user/auth/local/register from liga.is:8080 to http://server:3000 (ENOTFOUND)**. In doing so, I have all three containers running.

[code]

![i

[2020-05-12 18:23] paglias commented on #12199
Hi @sergey-prosvirnin the client should proxy requests to the server process which in your case seems to be configured to be at http://server:3000/, is that correct?

[2020-05-12 18:25] paglias commented on #12126
We should probably write a script or change the existing one that uploads new translations to weblast. @phillipthelen @SabreCat do you know where the code for that is?

[2020-05-12 18:26] paglias commented on #12198
what happens if you try to run `node ./website/server/index.js ` instead of `npm start`?

[2020-05-12 19:08] sergey-prosvirnin commented on #12198
Amazingly, it works! Thank you!

[2020-05-12 19:09] sergey-prosvirnin commented on #12198
By the way, I noticed another mistake when launching **npm start**.

[code]

[2020-05-12 19:10] sergey-prosvirnin commented on #12198
Why is your solution working?

[2020-05-12 19:15] sergey-prosvirnin commented on #12198
Yes, as far as I can see in docker-compose.yml.

[2020-05-12 19:21] sergey-prosvirnin commented on #12199
Yes, as far as I can see in docker-compose.yml.

[2020-05-12 19:25] SabreCat commented on #12126
Hmm, @gryphonbot does that, but I don't know how it's configured...

[2020-05-12 20:33] paglias commented on #12198
Hmm I haven't worked with docker for a while, could you check your config.json file exists and has the same content as config.json.example?

[2020-05-12 21:01] sergey-prosvirnin commented on #12198
https://github.com/HabitRPG/habitica/issues/12199 - here I tried to run the docker, but it didn't work.

[2020-05-12 21:07] sergey-prosvirnin commented on #12198
#12199 - here I tried to run the docker, but it didn't work.

[2020-05-12 23:23] SabreCat commented on #12126
Oh, now that I think about it, it's all Git-based. Weblate pulls `develop`, and builds out locale strings based on our `en` tokens plus the list of supported languages. Then commits the translated strings and pushes to develop via @gryphonbot.

[2020-05-12 23:37] Alys commented on #10209
@benkelaar That would be fantastic, thank you! I've marked it in progress for you.

[2020-05-13 00:06] Alys commented on #1703
I've removed some old comments that are no longer relevant and updated the top post to mention that a contributor should review the other comments here and in https://github.com/HabitRPG/habitica/pull/12021

Ideally we should collate all the comments from both sources and purge anything irrelevant to make this easier to pick up. :-/ If I can find time I might do that.

[2020-05-13 00:26] Alys opened #12200 "profile modal reopens inappropriately"
@shayyyyy (fd977ee7-5df7-4168-a116-e05ccc9c7b5c) reports:

**"Whenever I click out of something (Like completing a task or going between the party and task tabs) it shows a random person's profile."**

We've had this occurring in the past but we don't seem to have an open issue for it.

[2020-05-13 00:45] Alys commented on #11151
Regarding this:

there was a brief discussion elsewhere about something related to it:

alys: "What if for anything that we want pinned to everyone's Reward column, we had a pinnedItems array in content and the code that displays pinned items for users read that as well as their own pinned items? We'd actually need five arrays/objects, one for each class and one for non-class things, but it would

[2020-05-13 08:10] sergey-prosvirnin opened #12201 "Is it possible to make the group plan free?"
Hello, is it possible to make the group plan free? How do I turn off my credit card and Amazon Pay windows?

[2020-05-13 08:19] paglias commented on #12199
hmm could you try to change http://server:3000/ to http://localhost:3000/ and see if it works?

[2020-05-13 08:21] sergey-prosvirnin commented on #12199
How do you do that? Can you explain in detail?

[2020-05-13 08:21] sergey-prosvirnin commented on #12199
How do you do that? Can you explain in detail?

[2020-05-13 08:23] paglias commented on #12199
We have a guide for using docker, https://habitica.fandom.com/wiki/Setting_up_Habitica_Locally_on_Docker have you tried it?

[2020-05-13 08:28] paglias commented on #12201
Hi @sergey-prosvirnin , this repo is used to host the code for Habitica.com where group plans are a paid features so we don't currently offer a way to disable the payments option and we're not likely to introduce the ability to here. But you can remove the code that requires the payments from your own copy of the code.

[2020-05-13 08:28] #12201 closed, assigned to nobody

[2020-05-13 08:28] sergey-prosvirnin commented on #12199
Yeah, I've tried that guide. I was just running the docker-compose -f docker-compose.dev.yml up -d command from the habitica directory.

[2020-05-13 08:30] paglias commented on #12198
Which operating system are you on? Based on your OS there are separate guides here https://habitica.fandom.com/wiki/Setting_up_Habitica_Locally and each of them has a section to troubleshoot issues

[2020-05-13 08:34] paglias commented on #12199
I see :( unfortunately I don't think anyone from the core team uses that method for running Habitica (pinging @SabreCat just in case), could you try posting in the Aspiring Blacksmiths guild to see if someone has had a similar issue and see how they fixed it? https://habitica.com/groups/guild/68d4a01e-db97-4786-8ee3-05d612c5af6f

[2020-05-13 08:36] sergey-prosvirnin commented on #12198
I am using Ubuntu Xenial 16.04 and I see that my problem with Docker is similar to MongoDB not working properly. And by the way, the link to solve the problem is broken now.

![image](https://user-images.githubusercontent.com/24830345/81790257-d4787900-950d-11ea-8137-28129c3592f3.png)

[2020-05-13 08:38] paglias commented on #12198
For the error with `npm start` have you tried this section?

<img width="720" alt="Schermata 2020-05-13 alle 10 37 42" src="https://user-images.githubusercontent.com/589911/81790521-ccb4d680-9505-11ea-9924-667f4f50b866.png">

[2020-05-13 08:41] paglias commented on #12126
thanks! i thought it would be in this repo https://github.com/HabitRPG/Habitica-Webhooks but it's not so it might be on the VM with the remaining scripts that also post to slack?

[2020-05-13 09:00] paglias commented on #1703
I'm going to take over that PR, it was almost done and contains a lot of good refactoring, I'll try to finish it this or next week

[2020-05-13 09:11] Alys commented on #12198
@sergey-prosvirnin Thanks for telling us! The "Install MongoDB" section was removed when the installation process was made an automatic part of the docker install, however you're right that it's still needed for troubleshooting. I've added it back to the Docker instructions with a link to MongoDB's manual.

If you notice other documentation problems, you'd be welcome to fix them yourself if you wi

[2020-05-13 09:22] sergey-prosvirnin commented on #12198
Thank you, it worked for me! Now the npm start works!

[2020-05-13 09:27] paglias commented on #12198
That's great @sergey-prosvirnin !

[2020-05-13 09:27] #12198 closed, assigned to nobody

[2020-05-13 11:06] SabreCat commented on #12126
No, I don't think we have our own script. It's just Weblate, given creds for a GitHub account.

[2020-05-13 11:21] fmaximus commented on #12199
@sergey-prosvirnin Can you check the `habitica_server_1` container.
In the list you posted, it appears to be in state `Exit`,
so not running anymore.

[2020-05-13 16:53] sergey-prosvirnin commented on #12199
Thank you for pointing that out, I didn't notice right away. Now all the containers are up and the error is the same.

[2020-05-13 17:26] sergey-prosvirnin commented on #12199
@paglias, it seems that the problem is in the server container, below the log from that container.

[code]

[2020-05-13 17:54] sergey-prosvirnin opened #12202 "buffer.js:293 throw new ERR_INVALID_ARG_TYPE( ^ TypeError [ERR_INVALID_ARG_TYPE]: The first argument must be one of type string, Buffer, ArrayBuffer, Array, or Array-like Object."
Hey, it's me again! I'm trying to deploy the habitica server and get an exception.

[code]

[2020-05-13 19:06] fmaximus commented on #12199
That seems like a missing property.
Did you copy `config.json.example` to `config.json`.
I suppose you'll have to do this, before running docker-compose up.

[2020-05-13 20:04] sergey-prosvirnin commented on #12199
I copied it again, but I'm getting an error.

[code]

[2020-05-13 20:04] sergey-prosvirnin commented on #12199
I copied it again, but I'm getting an error.

[code]

[2020-05-13 20:16] sergey-prosvirnin commented on #12202
It's a simple mistake, I just forgot to copy. If you have the same problem, do **cp config.json.example config.json**.

[2020-05-13 20:16] #12202 closed, assigned to nobody

[2020-05-14 08:20] paglias commented on #12126
Ahh ok, that makes sense! Then I guess we should be able to setup something with a github action that only runs on those commits

[2020-05-14 16:28] paglias commented on #12199
That seems to be a docker compose  issue, https://github.com/docker/compose/issues/3927

[2020-05-14 17:53] paglias commented on #9242
I'm handling this in #12179

[2020-05-14 20:36] paglias commented on #12200
Can we ask them about console errors? Is it fixed by a reload?

[2020-05-15 08:49] Alys commented on #12200
I had asked them to email console log messages to us if it happened again but from what I've seen they haven't sent anything yet. I did suggest they reload if to stop it at least temporarily. That typically does stop this sort of problem.

[2020-05-15 11:26] Alys commented on #11831
I'm closing this because it should be fixed by the library update that @terminalstderr discovered.  https://github.com/HabitRPG/habitica/pull/11858#issuecomment-629042378 The new version of the library should be live in a few days.

@terminalstderr Thanks so much for that investigation! Nice work!

[2020-05-15 11:26] #11831 closed, assigned to nobody

[2020-05-15 19:29] fmaximus commented on #12126
Weblate has quite good support for updates in source strings.
Those are automatically counted under "Things to check",
with a diff style source change.
If only one word is changed I would rather keep the translation,
than to have to re-translate everything.
Especially if it's a only whitespace change.

[2020-05-15 23:01] HowlingWolfTable commented on #11865
I'll take it on. I'll let you know if it's too complex, but I think I'll be able to handle it.

[2020-05-16 03:15] terminalstderr commented on #12041
I'm interested in taking a look at this tomorrow. 👍 I think I understand what is needed, but I'll have to learn about the API and the test suite(s) before I'll be ready to try and tackle this implementation.

[2020-05-16 08:46] Alys commented on #12126
@fmaximus Unfortunately for a lot of languages we've been seeing that strings are not being adjusted when the English version changes, and sometimes those adjustments are quite important, even those that are single-word changes sometimes. For example, we've seen cases where the end date of a limited availability item/event wasn't re-translated, meaning that people using non-English languages are s

[2020-05-16 08:52] Alys commented on #11865
@HowlingWolfTable Thank you! I've marked this as in progress for you.

Please review @inftp 's pull request and the comments made in it: https://github.com/HabitRPG/habitica/pull/11991
Many of the comments will be relevant to your work (e.g., we list new error messages there), and you might like to consider re-using some or all of the code.

@inftp @shanaqui I'm sorry I didn't reply to your questi

[2020-05-16 09:42] Alys commented on #12041
@terminalstderr Thank you! I'm marking it as in progress for you. Comment here if you have any questions!

[2020-05-16 15:00] terminalstderr commented on #12041
Should I be working on v3 or v4 of the API? (I will probably find the answer soon as I'm looking through documentation)

[2020-05-16 15:02] fmaximus commented on #12040
PR ready: Changing sort order or moving away resets the order.
Sync doesn't, new egg types end up at the end.

[2020-05-16 16:28] paglias commented on #12041
@terminalstderr if it's not a breaking change (ie something that modified an existing behavior) but only an addition, api v3 is fine

[2020-05-16 17:03] fmaximus commented on #9498
I'll take it

[2020-05-16 20:11] fmaximus commented on #12126
If the translation history in Weblate stays intact, I'm good.
In that way you could always copy the previous translation back.

Whitespace or punctuation only changes should not revert.

IMHO, dates should be handled by variables, and filled up with other translations, like .dateEndApril and .augustYYYY, or generated by moment. In this way the update is done programmatically,
and all languages are

[2020-05-17 01:30] Alys commented on #9498
@fmaximus Thanks! I've marked this as in progress.

[2020-05-17 06:56] HowlingWolfTable commented on #11865
I will have to abandon @Alys. I'm new to this LOL.

[2020-05-17 12:16] Alys opened #12208 "Guild new message notifications not being sent intermittently"
Three to four days ago, there were two reports in the Report a Bug guild of notifications not appearing when new messages were posted to guilds that the players were members of. The guilds' member counts were small enough that notifications should have been sent. I've copied the reports below.

The reports indicated that it had been an ongoing problem for a day or more, not just a once-off glitch.

[2020-05-17 12:16] Alys commented on #12208
Loggly has no records for either player that seem to be relevant.

[2020-05-17 12:37] Alys commented on #11865
@HowlingWolfTable No worries! Thanks for letting us know!

[2020-05-17 14:03] Alys commented on #12208
@PixelStormArt from about half an hour ago:
**"As far as I can tell, notifications are back to normal for me."**

[2020-05-17 15:07] citrusella commented on #12208
So basically, I got asked if a) was I definitely talking about the notifications dropdown, b) was it happening on mobile too, and c) if it was happening on both, then could I use my browser console to look for errors

My exact response (okay, there's a couple of mostly non-relevant things cut out) was as follows:

Then he said it seemed intermittent and maybe the server wasn't behaving correctly a

[2020-05-17 15:15] paglias commented on #12208
Given the timing I suspected it was an issue linked to last week deployment but after reviewing the code and loggly I don't think so anymore. It could be due to some database or server issue but nothing obvious popped up. Let's see if we get more reports the next few days

[2020-05-18 00:33] Alys commented on #12208
A report from @AnneLine (16a107de-d519-43ce-8c30-8da5cbcbb237) from 4 hours ago indicating a problem in the past few days, possibly now resolved:

**"I'll also add my notifications have been intermittent, and one of my party members mentioned a few days back (before the report) that her notifications had stopped. So it definitely was a thing a few days ago, and seems to be back to 'normal' now...

[2020-05-18 18:03] citrusella commented on #9476
...It's been a week with no invite. Is everything okay? 0_o

[2020-05-18 18:39] Tressley commented on #9476
@citrusella -- Hmm... I did send one to citrusellaflugpucker@yahoo.com. However, this wouldn't be the first time an invite has gotten lost. I just sent another. Please let me know if you don't see this one!

[2020-05-19 08:15] Alys opened #12217 "URLs containing non-English letters cannot be posted in markdown links"
If a URL contains non-English characters such as this Russian wiki page: https://habitica.fandom.com/ru/wiki/Снаряжение
then it can't be posted as a markdown URL in a chat message in Habitica.

I.e., posting this to a guild will fail:
`[test](https://habitica.fandom.com/ru/wiki/Снаряжение)`

This shorter version with only one non-English letter fails too:
`[test](https://habitica.fandom.com/ru/wik

[2020-05-19 08:16] Alys commented on #12217
sorry, pressed enter too soon, more coming.

[2020-05-19 08:23] Alys commented on #12217
If a URL contains non-English characters such as this Russian wiki page: https://habitica.fandom.com/ru/wiki/Снаряжение
then it can't be posted as a markdown URL in a chat message in Habitica.

I.e., posting this to a guild will fail:
`[test](https://habitica.fandom.com/ru/wiki/Снаряжение)`

This shorter version with only one non-English letter fails too:
`[test](https://habitica.fandom.com/ru/wik

[2020-05-19 08:43] benkelaar commented on #12217
@Alys Looks markdown-it doesn't show the link contents in the token contents if there are non-roman numerals in the link. Will see if there's already a bug-report on markdown-it for that.

[2020-05-19 08:53] benkelaar commented on #12217
Actually markdown-it seems to be doing the right thing, problem is (of course) the source-mapping code. The non-roman characters are url-escaped by markdown-it, so the link then no longer regex-matches the link in the source text. Makes sense. Will have a fix in about 5 minutes.

[2020-05-19 08:58] Alys commented on #12217
@benkelaar Thanks so much for jumping on this so quickly!

[2020-05-19 12:16] shanaqui commented on #9933
@somersjw I'm marking this as help wanted again, but if you'd like to pick it back up, please just let us know!

[2020-05-19 12:19] shanaqui commented on #10786
@benkelaar Just checking in whether you're still working on this one! If not I'll mark it as "help wanted" again. :)

[2020-05-19 12:28] benkelaar commented on #10786
@shanaqui I am holding off work on this issue until this merge request #12141 is merged since it heavily touches all the same related code.

[2020-05-19 14:39] #11705 closed, assigned to nobody

[2020-05-19 14:55] #12178 closed, assigned to nobody

[2020-05-19 14:59] paglias commented on #12199
I'm going to close the issue since it doesn't seem an error linked to Habitica itself but comment here if there are new updates

[2020-05-19 14:59] #12199 closed, assigned to nobody

[2020-05-19 15:28] #12217 closed, assigned to nobody

[2020-05-19 15:45] jacobguinther commented on #10041
I would like to work on this issue.

[2020-05-19 15:48] paglias commented on #10041
Hi @jacobguinther ! Thanks for the offer but I just realized we didn't properly update the  tags on this issue and it's actually being fixed in this PR https://github.com/HabitRPG/habitica/pull/12142

[2020-05-19 18:24] citrusella commented on #9476
This is what I have so far (and maybe all I need to do? gonna go over it with a fine toothed comb):

![Three posts in order--nested blockquotes, blockquotes with not-blockquotes around, and a blockquote in isolation](https://user-images.githubusercontent.com/14182450/82363286-98488b00-99db-11ea-9e61-5747fc79879f.PNG)

But I did want to ask since it occurred to me and the Zeplin example only contai

[2020-05-19 19:59] fmaximus commented on #9498
@Alys In my PR, I'm still showing the Wolf-Veteran,
as it's attainable by verifying your username.
Let me know if that's not OK.

[2020-05-20 09:22] Alys commented on #10041
I've marked this as in progress instead of help wanted since it's being fixed by @negue

[2020-05-20 09:25] Alys commented on #9498
@fmaximus Yes I think that's good. Thanks for thinking of it!

[2020-05-20 10:32] #11828 closed, assigned to nobody

[2020-05-20 11:27] #12103 closed, assigned to nobody

[2020-05-20 13:03] fmaximus commented on #12119
I saw this addon mentioned in the documentation: [Cleanup translation files](https://docs.weblate.org/en/weblate-3.10.1/admin/addons.html#cleanup-translation-files)

[2020-05-20 14:14] paglias commented on #12208
I guess we can keep this open but it's almost certainly caused by the notifications being lost during server performance issues, they also fix themselves as soon as a new message is sent. It won't even be fixed by the use of transactions because the notifications take too long to be sent and must be handled separately from the message sending process.

Only solution would be to refactor the notifi

[2020-05-20 14:17] paglias commented on #11593
I think given the refactoring of the highlight mechanism that was done this should be closed until we see more reports, what do you think @Alys ?

[2020-05-20 14:23] jacobguinther commented on #11020
Is this issue just scoped to the users actual profile page or does it involve the modal that pops up on the chats as well?
I noticed that there is different behavior depending on if you click the avatar vs the username.
I was curious what the desired behavior of this modal would be for a deleted user.
1) Behavior 2 (show deleted users profile along with Deleted Account message)
or
2) 404 Inside of

[2020-05-20 17:30] citrusella commented on #12208
My only question is did the server really have performance issues consistently every time someone posted to Report a Bug for 2-ish days? (I use RaB for this example and not any other guild I was in with the issue because people consistently post to that one much more often than most of the other guilds I could confirm had the issue.)

Like... the fact that it was sustained (and affected some guild

[2020-05-20 19:58] qrdean commented on #9933
I can take a look at this.

A few questions for clarity:
This is just for seasonal items that have fallen out of season?
Seasonal items are the only items that have an 'event' object?
Do you want me to add "this item is unavailable" text to the bottom of the modal?

Thanks.

[2020-05-20 23:30] Alys opened #12220 "Stealth tooltip should state how many Dailies it will protect"
In the tooltip for Stealth, it should tell you how many Dailies will not cause damage if you cast the skill.

(This was a feature on the old site and was logged in https://github.com/HabitRPG/habitica/issues/9136 for a fix. Moving it to here to split up that issue.)

[2020-05-20 23:31] Alys commented on #9136
I'm closing this. One of the items from the top post was fixed recently, another already had its own issue, and I've just created an issue for the third. I've updated the top post to link to the issues.

[2020-05-20 23:31] #9136 closed, assigned to nobody

[2020-05-20 23:38] Alys opened #12221 "new design for boss damage notifications from tasks and skills"
As stated by @Tressley at https://github.com/HabitRPG/habitica/issues/9136#issuecomment-575685571 :

"Here's a Zeplin artboard with how damage should be displayed: https://zpl.io/2p0d882
![image](https://user-images.githubusercontent.com/2686586/72626536-e871ec80-3918-11ea-98f2-5a6de8178183.png)
"

This design should be applied to the notification you see when you do damage to the boss by completi

[2020-05-21 01:12] Alys opened #12222 "possible problem with quests: party quest data missing key and leader"
I've just found two parties that had active quests but the quests did not have an entry for `quest.key` or `quest.leader`

This was preventing a third-party tool from working correctly (two reports of that were how I found this issue) and would cause problems in Habitica too (e.g., not displaying the quest details in the party, not allowing the quest owner to force-start or cancel/abortt the quest

[2020-05-21 08:20] Alys commented on #12222
One of the quest owners has said _"I believe I tried to abort/remove/complete it in the past"_ so that might be related. However when I tried to abort a quest it was correctly aborted.

[2020-05-21 08:21] Alys opened #12223 "the same URL cannot be posted twice in a markdown link"
If you try to post the same URL twice in the same message (example below), it fails.
[code]

The error also occurs if there is text between the two links. Posting the same URL (with different text) is essential for multi-lingual posts.

The player sees "An unexpected error occurred" and the server logs show:
[code]

The "Cannot read property 'index' of null" message also occurred in this issue: ht

[2020-05-21 08:58] Alys opened #12224 "New tasks added to existing challenge should always show up with challenge tag"
When you join a challenge, a tag for that challenge is created in your account (at least it is when [this bug](https://github.com/HabitRPG/habitica/issues/10689) doesn't happen). You have the ability to delete the tag if you want to while still in the challenge (that's intentional and shouldn't be changed; e.g., it's useful if you've retagged the challenge tasks with one of your own tags).

If the

[2020-05-21 09:55] paglias commented on #12208
That's a good point, the server definitely didn't have issues for that long. Although I think recently we've had days with very little activity in RaB

[2020-05-21 09:57] paglias commented on #12223
@benkelaar looks like `match` is null here https://github.com/HabitRPG/habitica/blob/develop/website/server/libs/highlightMentions.js#L110-L120 in some cases?

[2020-05-21 10:25] benkelaar commented on #12223
I was thinking this would be a good idea last time but couldn't think of a proper way to test it. TDD gone wrong I guess :smile:

Adding something like `if (!match || !match.index) return;` should prevent these errors from being critical.

As for the bug it might be because some regex matches return a list of simple strings if there are multiple matches. In that case using matchAll and taking the

[2020-05-21 10:54] benkelaar commented on #12223
Found a PC, will implement both.

[2020-05-21 11:31] benkelaar commented on #12223
So the problem was not the match method, rather it was the fact that `.` in the first link would overeagerly match to include the second link. Now adjusted the unit test to actually test for the functional failure that would then happen.

[2020-05-21 12:20] Alys commented on #12208
There was one day a while back where we went nearly 24 hours with no posts, but the other days have had a bit of traffic. Below are the numbers of posts for each day currently visible in the guild. We delete posts we've replied to so these are just the admin replies and some posts that didn't need replies (i.e., the original bug reports would have added to these numbers if they were still there).

[2020-05-21 16:00] #12223 closed, assigned to nobody

[2020-05-21 17:44] citrusella commented on #12208
During the time that I was having the issue, several messages had been posted before I realized, and almost every other time I checked back, there was at least one new message I hadn't been notified of. :thinking:

[2020-05-21 20:49] cvuorinen commented on #12221
I can take this one.

[2020-05-22 03:04] #11593 closed, assigned to nobody

[2020-05-22 03:16] Alys commented on #12221
@cvuorinen Awesome, thanks!

@Tressley or another staff member will send you the Zeplin invitation.

Post here if you have any questions!

[2020-05-22 03:26] Alys commented on #11020
@jacobguinther Excellent question and thanks for the very clear screenshots!

The behavior should  be the same for clicking the avatar vs the Username.

Behavior 2 (show deleted users profile) is incorrect. The avatar image and names are being taken from the chat message (which is tolerable) but the dates and check-in count are fake data. They'll always default to today's date and 0 since the actu

[2020-05-22 03:31] Alys commented on #9933
@qrdean Thanks! I've marked this as in progress for you.

Not exactly. A `git grep` through the content for "event" (with a couple of normal greps to narrow it down to just content data) shows that there's a few others:

`git grep event | grep content | grep -v /locales/`
website/common/script/content/gear/sets/special/index.js:151:    event: EVENTS.birthday,
website/common/script/content/gear/set

[2020-05-22 03:33] Alys commented on #12119
Hmmm, that does look kind of useful. Unfortunately like much of the addons documentation it's vague and I haven't been able to find more details anywhere. :( I'm a bit concerned that it might overwrite all translations.

If anyone knows of more details about this addon, please post here!

[2020-05-22 03:54] terminalstderr commented on #12041
I would appreciate some help debugging an issue that I've encountered in my local development environment if anyone has a moment to spare (and has experienced similar issues in a Windows 10 Docker local development setup).

I posted a question on the [Aspiring Blacksmiths guild](https://habitica.com/groups/guild/68d4a01e-db97-4786-8ee3-05d612c5af6f)... I'll copy the message here as well since I'm

[2020-05-22 04:26] Alys commented on #12041
I've replied already in the guild. If you need more help, can you post there? If we have two conversations about it, you're likely to get redundant troubleshooting steps.

[2020-05-22 09:25] Alys opened #12226 "avatar transformation buffs (Snowball, etc) can't be cast or removed on website"
On the website, you can't cast an [avatar transformation item](https://habitica.fandom.com/wiki/Transformation_Items) on yourself or on a party mate.

If the transformation is cast on you by someone using the mobile app, you can't remove it with the antidote.

It's expected that the effect will wear off when your next [cron](http://habitica.wikia.com/wiki/Cron) runs as normal, but if any player af

[2020-05-22 09:42] Alys commented on #12226
On the website, you can't cast an [avatar transformation item](https://habitica.fandom.com/wiki/Transformation_Items) on yourself or on a party mate.

If the transformation is cast on you by someone using the mobile app, you can't remove it with the antidote.

It's expected that the effect will wear off when your next [cron](http://habitica.wikia.com/wiki/Cron) runs as normal, but if any player af

[2020-05-22 09:49] paglias commented on #12226
Will make an hotfix

[2020-05-22 09:50] Alys commented on #12226
I wonder if it is because of this change from that PR, in the castEnd() function:
[code]

If I recall correctly, an earlier version of that PR had the `if` statement changed to `this.spell.target === 'task'`, which was the minimum needed to ensure the issue was fixed. That's likely to be necessary to prevent this new issue.

[2020-05-22 09:51] Alys commented on #12226
Also, this _might_ need to come back:
`-      if (!beforeQuestProgress) return null;`
because questProgress won't always be an integer and this might fail:
` if (questProgress > 0) {`

[2020-05-22 09:52] paglias commented on #12226
The issue seems to be that `questProgress ` is used only in that mixin but defined in a separate component so it's not available for avatar transformation items. I'll move it to the mixin. But in general this is a good example of why mixins are quite terrible and have been removed from React and I think are going to be deprecated in Vue 3

[2020-05-22 11:31] paglias commented on #12226
Should be fixed in https://github.com/HabitRPG/habitica/commit/032c95d5c84c3bfa76baca921f04ee394f2da195

[2020-05-22 14:32] #12226 closed, assigned to nobody

[2020-05-22 15:48] #12182 closed, assigned to nobody

[2020-05-23 02:11] Alys commented on #11058
As an alternative to preventing the sync button being unusable until all syncs have finished, we could convert the RYA screen to use bulk task scoring, which was added in https://github.com/HabitRPG/habitica/pull/11389 , as indicated by matteo in this comment: https://github.com/HabitRPG/habitica/issues/8914#issuecomment-608553670

I'm marking this as suggestion discussion for the staff to comment

[2020-05-23 02:15] Alys commented on #8914
The latter part of this issue is logged at https://github.com/HabitRPG/habitica/issues/11058 and I've added a reference to paglias's comment above.

The former half of the issue still happens but we don't see any clear reports of it. I'd guess that if you use two tabs, you're more likely to be a power user who understands more about what's happening when it occurs. I'm closing this but we can reop

[2020-05-23 02:15] #8914 closed, assigned to nobody

[2020-05-23 18:55] jacobguinther commented on #11020
@Alys Thanks for the clarification. I will work on this.

[2020-05-23 23:19] qrdean commented on #9933
Thanks for that! Yeah I think that throws my original idea of just checking the event out the window.

I'm looking at exposing the value returned from the canBuy function that appears on some item structures. This will allow the front end to use the canBuy function that seasonal items and specialty items already have to tell us if that item is purchasable. The front end can then respond with a dis

[2020-05-24 02:58] Alys commented on #11020
@jacobguinther Great, thanks! I've marked it as in progress.

[2020-05-24 07:18] Alys commented on #9501
Just to check... Is it correct that the shop doesn't use the small bottom banner like in the two mockups below? I.e., it was decided that that would not be done?

![image](https://user-images.githubusercontent.com/1495809/82748047-3379a000-9de2-11ea-9947-108e17c280ee.png)

![image](https://user-images.githubusercontent.com/1495809/82748054-47250680-9de2-11ea-955f-7d1bd5dcb97c.png)

Here's what it'

[2020-05-25 01:29] alexandreabeh commented on #12220
Hi! I'd like to work on this :)

To confirm, it looks like according to https://habitica.fandom.com/wiki/Rogue#Stealth

that this should be the calculation
`
Number of dodged Dailies = 0.64 * (Total Number of Dailies [both due and not due]) * PER / (PER + 55)
`

Is that still accurate?

[2020-05-25 15:02] #9242 closed, assigned to nobody

[2020-05-25 15:02] #12181 closed, assigned to nobody

[2020-05-25 20:20] cvuorinen commented on #12221
Ok, just to be clear, do you want the notification to look exactly like that on the image, or use same general styling that all other notifications use for font sizes, padding etc. and just use the text and icon like in the image? Because just setting the text and icon doesn't really look exactly like the image.

![Screenshot from 2020-05-25 23-18-11](https://user-images.githubusercontent.com/1764

[2020-05-26 00:48] Alys commented on #11950
Same thing also happens on Firefox on Windows 10 (reported by @PixelStormArt 100fadc6-0b54-4329-8dc3-d96b5e482399) and Firefox on Ubuntu (me). I'm about to change the title to remove mention of Chrome.

@ajeffrey How are you going with this? Did you need any advice about creating a PR? If real-life has got in the way and you no longer have free time for it, just let us know! We understand what tha

[2020-05-26 01:25] Alys opened #12248 "bulk scoring should be used in RYA ("Check off any Dailies you did yesterday" screen)"
Currently, when you complete Dailies in the "Check off any Dailies you did yesterday" screen (aka RYA / Record Yesterday's Dailies), each Daily is scored individually. This leads to issues such as the ones described at https://github.com/HabitRPG/habitica/issues/11058 and in its comments and the other issues it links to.

The desired approach is that when bulk scoring is available (https://github.

[2020-05-26 01:27] Alys commented on #11058
I've logged the new issue for using bulk scoring: https://github.com/HabitRPG/habitica/issues/12248
It's on hold until the bulk scoring PR is finished (sorry, when I wrote my previous comment here, I didn't realise that PR hadn't been finished yet).

[2020-05-26 01:36] Alys commented on #8914
We've had a new report of buggy RYA behaviour. I'm just noting this here so that we have it recorded, and can point people at it if anyone else reports the same problem. It doesn't require that this issue be reopened because we have https://github.com/HabitRPG/habitica/issues/12248 which will fix this problem.

@bifca (058cb4b9-268a-4072-9ee9-abaae8f24a2f) reported in the Report a Bug guild that s

[2020-05-26 08:35] Alys commented on #12220
@alexandreabeh Thanks! I've marked it as in progress for you.

We try to keep the wiki pages accurate but they shouldn't necessarily be relied up when coding. It's best to get information directly from the source code. One of the easiest ways to do that is to use "git grep" to search for a keyword. For example:
`git grep -i stealth | grep -v "/locales/"`
(`-i` for case-insensitive searching; the n

[2020-05-26 14:23] Tressley commented on #11950
Bringing @negue into this discussion He was the lead on the most recent PM enhancements.

[2020-05-26 14:37] Tressley commented on #12221
@cvuorinen -- Thanks for your quick work on this! I sent an invite to the email you provided above.

As for the current design, I'm sure you've seen that most of the existing snack notifications aren't following the proper margins and padding from the Zeplin artboard. This issue only calls for implementing the boss damage notification, so using the same general styling is okay for now.

However, i

[2020-05-26 15:10] negue commented on #11950
`min-/max-height` of `--textarea-auto-height` is there:
- to be small 40px, when no text is in it
- to be "bigger" 80px, when text is inside the area

it could be set to `height` instead of `min/max` , to re-enable the resizing.

But due to the space between the textarea and the page-bottom - the resizing is hard to get it right (either it shrinks down OR jumps to the full height).

Maybe we shoul

[2020-05-26 16:00] cvuorinen commented on #12221
@Tressley yes, I can update the styling too while am working on this anyway :+1:

[2020-05-26 22:35] fmaximus commented on #11681
Before promising I can fix it, I would like to take a look into why it's reusing the same Billing Agreement.
Can you (create and) share an Amazon Sandbox account I can use on my local deployment.

[2020-05-26 22:57] fmaximus commented on #11376
2 ideas come to mind:
* report uncaught errors in Amplitude, to allow to investigate future similar issues.
* have a generic retry logic for mongodb optimistic locking failures

[2020-05-27 00:00] ajeffrey commented on #11950
@Alys no problems here! Just slipped my mind, I've made a note to create a PR tomorrow :)

@negue When I was playing around in the dev console, switching it to height seemed to provide the same user experience without the bug, but of course I'll have to have a play around to make sure it works consistently and across browsers. Once I've got something together I'll ping you and if you could let me

[2020-05-27 14:33] paglias commented on #11376
uncaught errors are already reported, not in Amplitude but in loggly, I haven't seen anything related to this error recently but I can look if we get a new report

[2020-05-27 16:18] veeeeeee commented on #12224
This behavior is reasonable. Ok to move forward

[2020-05-27 16:24] veeeeeee commented on #11058
Closed in favor of using the bulk scoring approach in #12248

[2020-05-27 16:24] #11058 closed, assigned to paglias

[2020-05-27 16:53] paglias commented on #11058
I think the idea behind this was, once bulk scoring is implemented, to disable the Start My New Day button after it's been clicked once to avoid issues where people click over it multiple times

[2020-05-27 17:15] veeeeeee commented on #2433
@Alys We noticed that #11827 has been closed. Are you still planning to create the new issue for leveling up from Armoire? Should we close this issue?

[2020-05-27 17:20] veeeeeee commented on #5648
Given that #6502 has been closed and merged, does this issue still need to remain open?

[2020-05-27 19:52] cvuorinen commented on #12221
I made a PR already for just the icon & text change. I can make another PR later for the styling.

[2020-05-27 23:47] Alys commented on #5648
That PR was closed without being merged - the text at the bottom about the branch being successfully deployed is misleading. There ended up being no changes in that PR due to the force-push of commit that reversed them.

[2020-05-28 00:42] tsukimi2 commented on #12224
@Alys Alright if I have a try at this issue?

[2020-05-28 02:27] Alys commented on #12224
@tsukimi2 Sure, thanks! Please go ahead and post here if you have questions.

[2020-05-28 02:47] Alys commented on #2433
Heck, sorry, I meant to update this issue regarding that! The new issue for leveling up from the Armoire wasn't needed because #11827 /  PR #11884 fixed that too. :tada: :trophy:  I've just changed the title of that PR to make that more obvious.

I'm about to edit the title and top post for this issue to indicate that it's only for Quest XP now. However I'm going to put it on hold because honestly

[2020-05-28 10:14] Alys commented on #12248
I've given this the "in progress" label so that it has a status but please change that if it's wrong, or tell me to and I will. :)

[2020-05-28 17:20] ajeffrey commented on #11950
I've just added a PR @negue @Alys, I've tried it with just the max-height => height change and it seems to work as intended in Chrome and Firefox. I've just tested it now in Safari too and you can resize, but it does tend to increase in size rather quickly!

[2020-05-29 09:43] shanaqui opened #12252 "Achievements in profile modal overlap and are unreadable once you click "Show all""
![image](https://user-images.githubusercontent.com/8144640/83245863-3f29e580-a199-11ea-9f25-0186d7c574e1.png)

Reported on all browsers.

[2020-05-29 16:13] paglias commented on #12252
fixed in https://github.com/HabitRPG/habitica/commit/c9bf157c23775cb46d7994c048b80889f8c2fa33

[2020-05-29 16:13] #12252 closed, assigned to nobody

[2020-05-30 02:30] jacobguinther commented on #10827
@Tressley
When making the stats bars more responsive we would also have to consider how they appear on a users profile. Profile stats bars start to have issues at around the same screen width. I would like to propose tackling the status bars responsiveness on a separate issue where they are considered on both the header and profile.

For this issue.
What do you think about just removing the party

[2020-05-30 22:28] alexandreabeh commented on #12220
Thanks @Alys! Will do.

[2020-05-30 23:48] Amberlisi commented on #11946
Hi, I'd like to pick this up if that's alright. I was able to reproduce this error using the API

![image](https://user-images.githubusercontent.com/43859793/83341183-0461a380-a2a6-11ea-88b6-2f635cfd6922.png)

[2020-05-31 02:47] Alys opened #12253 "tag screen too narrow for wide tags, especially as window size shrinks"
_I'm marking this as suggestion-discussion for Habitica's staff to consider whether the Tags screen could be widened as described below, or whether another fix would be desirable._

When you click the "Tags" button to open the pop-up screen that displays your tags, the screen is rather narrow and tags that aren't very short will wrap. See the first screenshot below with my browser at full screen w

[2020-05-31 03:09] Alys opened #12254 "changing due date twice on a new To-Do does not update the view"
If you create a To-Do, then set a due date, the due date appears correctly. If you immediately change the due date, the new date does not appear (you still see the first one). When you sync, you see the second date, so this is merely a display problem, not a problem with the date being saved to the database. After you have synced, the problem no longer occurs.

Steps to reproduce:
1. Create a To-D

[2020-05-31 03:16] Alys commented on #12254
For anyone curious, the "help wanted" label on-again off-again dance you can see just up there was from me testing a problem with the webhook that posts issues to Aspiring Blacksmiths. I've reported it to the staff.

[2020-05-31 03:24] alexandreabeh commented on #12220
I've submitted https://github.com/HabitRPG/habitica/pull/12255 for initial review :)

[2020-05-31 04:03] Alys commented on #11946
@Amberlisi  Thank you! Please go ahead, and post here if you have questions.

[2020-05-31 04:12] Alys commented on #6867
I'm marking this as in progress because it's looking like it will be fixed by @alexandreabeh in https://github.com/HabitRPG/habitica/pull/12255

[2020-05-31 05:24] Alys opened #12256 "Incorrect email address shown in slack notification when reporting a PM you sent"
**Background info** in case it's helpful:
* When a PM is sent from one player to another, each person has their own copy of the message in their inbox. I.e., there's a separate database document for each copy. (You can see examples of this in the json code below.)
* When a player reports a private message (either one that they sent or one that was sent to them), an email is sent to moderators and

[2020-05-31 10:18] Alys commented on #12253
BTW @shanaqui has pointed out that if you make the browser window "too" small, the problem doesn't occur - the tags screen actually looks quite good then, and it takes up the full width of the window.

![image](https://user-images.githubusercontent.com/1495809/83349953-dfd7fb00-a37b-11ea-90b1-3ca0daace57d.png)

[2020-05-31 11:10] bigsee commented on #12254
@Alys never contributed to an open source project before but I wouldn't mind starting here if no-one else has taken this one and slower delivery isn't a problem?

[2020-05-31 11:19] Alys commented on #12254
@bigsee Hi! Thank you, please go ahead! We've seen only one report of this bug so it looks like it's not inconveniencing a lot of people, so slower delivery sounds okay for this. If you have any questions or run into trouble, post here and we'll help. :)

[2020-05-31 11:34] bigsee commented on #12254
@Alys great - thank you! :)

[2020-05-31 19:00] paglias commented on #9933
@Alys just to be sure, this is a client side only issue, right?

[2020-06-01 00:36] Alys commented on #6867
This issue will be partly fixed by @alexandreabeh in #12255. As @paglias [points out](https://github.com/HabitRPG/habitica/pull/12255#pullrequestreview-421508223), that PR is for a client-side fix and we'll still need an API level fix. When that PR is merged, I'll update this issue and change it back to help wanted.

[2020-06-01 11:31] Alys commented on #9933
I'm not sure. I didn't get a chance to test through the API today but I'll try to tomorrow!

[2020-06-01 13:42] #12221 closed, assigned to nobody

[2020-06-01 15:25] #12040 closed, assigned to nobody

[2020-06-01 16:01] paglias commented on #12256
The issues comes from `authorEmail` used here https://github.com/HabitRPG/habitica/blob/8d8079209364eceac7c3ae0a6f20d126ac9568fb/website/server/libs/slack.js#L141 always being the email of the sender https://github.com/HabitRPG/habitica/blob/8d8079209364eceac7c3ae0a6f20d126ac9568fb/website/server/libs/chatReporting/inboxChatReporter.js#L86.

For anyone fixing this, the query here https://github.co

[2020-06-01 17:36] bigsee commented on #12254
@Alys I didn't add any unit tests and wasn't sure whether it was appropriate. Not sure whether that would be appropriate but happy to look into it if so.

[2020-06-01 18:24] Amberlisi commented on #11946
@Alys Are these API calls being handled in website/server/libs/user/index.js? That's what it looks like to me, but wanted to verify in case I'm wasting time going down the wrong path.

[2020-06-01 19:06] Tressley commented on #9501
@Alys -- The goal of the first pass was to re-add the quests that could be earned. When we plan for a second pass we'll include the introduction of unlock text in the banner, rather than the price.

[2020-06-01 19:12] Tressley commented on #10827
@jacobguinther -- I completely agree! Right now that component is a little messy as it's used in multiple instances (header, profile, member/participant list for parties/guilds/challenges.) I think creating another issue for responsive bars would smart.

As for this issue, yes, let's remove the empty party banner. However, it should only be removed when a user is below tablet size, since tablets s

[2020-06-01 19:33] cvuorinen commented on #12221
@Tressley that PR now closed this issue, but I can still work on the styling when you are ready with the design. (Do we need a new issue for that, or it's ok to just discus it here?)

[2020-06-02 05:15] Alys commented on #12254
@bigsee If [Habitica's staff](https://habitica.fandom.com/wiki/Staff) say anything different than I do here, listen to them not me. :) My feeling is tests wouldn't be needed because this is just a website front-end change. As a general guideline though, if the staff think that tests will be needed, they'll say so in a comment on your pull request. Thanks very much for asking about this! I apprecia

[2020-06-02 10:57] paglias commented on #12254
Regarding the tests, we don't require tests for client side changes as we don't have many but if you want to add one it would be great, ideally we'd like to increase the client side coverage

[2020-06-02 11:37] shanaqui commented on #10938
Since there's been no response here for so long, I was going to mark this as help wanted again. However, before I do, looks like there was an open question about implementation for this (re: adding a scroll bar or not)? Maybe a question for @Tressley as it's a design sort of thing?

[2020-06-02 11:53] shanaqui commented on #11075
The issue with stackable achievements seems much improved to me:
![image](https://user-images.githubusercontent.com/8144640/83516779-98fb1a00-a4cf-11ea-9b91-3dfe324ee8d3.png)

The issue with the tooltips also seems to be solved. The only thing remaining (I think) is the right-aligned text above the slots:

Modal:
![image](https://user-images.githubusercontent.com/8144640/83516880-d1025d00-a4cf-11e

[2020-06-02 12:46] Alys commented on #9933
My testing will have to slip to tomorrow, sorry. I have an early start at work so I need to get to bed early. I'll have an early finish though so I'll definitely have time to test this bug with the API tomorrow.

[2020-06-02 13:58] Tressley commented on #12221
Great, thanks for your work on this. Let's move the styling to a new issue. I can create that and ping you when it's ready. 👍

[2020-06-02 15:23] NickHolden commented on #11865
i'd like to take this one on!

[2020-06-02 23:45] Alys commented on #11865
@NickHolden Thank you! Please go ahead and post here if you have questions or run into trouble.

You've probably seen this already from one of my comments above but just in case:

Please review @inftp 's pull request and the comments made in it: #11991
Many of the comments will be relevant to your work (e.g., we list new error messages there), and you might like to consider re-using some or all of

[2020-06-03 02:32] Amberlisi commented on #11946
Hey! So, something that I noticed while running through a few tests was that running the API command to set the players display name will error out if a '\\' is followed by anything other than a character such as 'n', or 't', or 'r'. I've tried this with one, and two backslashes. Both produced the same error.

I'm not sure how this kind of scenario can be handled and wondering if there are any tho

[2020-06-03 09:22] Alys commented on #11946
Sorry about the delay! Yes, I think it's the update() function in that file.

For your other question, I think what's going wrong is that \ has a special meaning in your PC's shell, as well as having a special meaning in the database. When you want to put a \ in a command-line command like that curl command, you need to escape the \ with another \
Also to put a \ into the database as a plain-text

[2020-06-03 11:06] Alys commented on #9933
@paglias I guess you can say it happens with the API as well, although that's not as significant a problem.

Steps I took to test the API's behaviour:
1. Use a database command to add an unavailable potion to my `pinnedItems` array: `{ "path": "hatchingPotions.Fairy", "type": "hatchingPotions" }`
1. Pin an available potion (Golden).
1. Confirm in my Rewards column that both are pinned and look pur

[2020-06-04 15:36] shanaqui opened #12272 "If you type @, it gets automatically filled in by the next username you mention"
This one is tough to describe, so here is some test text:

This produces the following results:

![image](https://user-images.githubusercontent.com/8144640/83777556-7a3c8500-a681-11ea-8437-47df77b02f86.png)

[2020-06-04 15:48] shanaqui opened #12273 "Renaming a party shows you the placeholder text for renaming a guild"
From Report a Bug:

![image](https://user-images.githubusercontent.com/8144640/83778813-1b780b00-a683-11ea-9367-5f4a73fc82a6.png)

It says "Enter your **guild's** name" instead of "Enter your party's name".

[2020-06-04 21:25] Tressley commented on #11075
@shanaqui -- Yeah, I think updating the title is fine. Might be a good first issue as well!

[2020-06-04 21:30] Tressley commented on #10938
@shanaqui -- Let's put this one on hold for now. We have planned updates to the drawer that will introduce new designs. 👍

[2020-06-05 00:12] Alys commented on #12273
I've labelled this as "good first issue" so ideally it should be picked up by someone relatively new to Habitica's code.

As a note for anyone working on this, the same form is used for both Guilds and Parties, so the fix is NOT to merely change the text but to put in an "if" statement or similar. There's likely other code on the form that has different behaviour for guilds versus parties.

The [U

[2020-06-05 04:33] PitiTheGrey commented on #12273
It would ne my second contribution to Habitica code. If that counts as relatively new, I would give it a try.

[2020-06-05 06:22] Alys commented on #12273
@PitiTheGrey That would be great! Thank you! Post here if you have questions.

[2020-06-05 11:41] PitiTheGrey commented on #12273
"Enter your guild's name" has an entry in the locales files (for translation), but
"Enter you party's name" has not.
Shall I go just with the english version?
Otherwise we might have to add a new line to every locales files.

[2020-06-05 12:00] Alys commented on #12273
You can create a new string in just the locales/en/ file (put it directly underneath the "Enter your guild's name" string to keep them both together). You don't need to edit the other language files because the translation process will do that automatically (see the README file in the locales directory for brief details and there's more info on the wiki if you're curious).

[2020-06-05 14:30] Amberlisi commented on #12272
So entering a single '@' symbol, (no username) will be retroactively filled in with a username if you use the @ symbol to fill in a username somewhere else in the text?

[2020-06-05 14:41] paglias commented on #9933
I think having some sort of data in the API showing if an item can be bought or not would be very useful especially for the mobile apps and also to avoid having to calculate the availability on the various client sides. Not sure if `locked` is the best option here or would be confusing, we seem to have several properties that could be used including `canBuy`

[2020-06-05 16:21] veeeeeee commented on #11508
Closing as this specific issue is outside of our control. We'll look into hosting the fonts ourselves as a separate issue.

[2020-06-05 16:21] #11508 closed, assigned to nobody

[2020-06-05 16:28] Tressley commented on #12253
Two changes I think we can make:
1. Move headings to above their respective tags so we don't have a column of white-space.
2. Set a min-width on the element to prevent it from looking like Alys' second screenshot.

I think we can go ahead and tag this as help wanted. 👍

[2020-06-05 16:36] SabreCat opened #12275 "Member Counts Inaccurate in Parties"
### Description
[//]: # (Describe bug in detail here. Include screenshots if helpful.)

Clean-up of #7454. You can visit that ticket to see the full history of discussion on this issue.

`memberCount` in group records is a stored computed value that we currently attempt to keep up to date by incrementing and decrementing as members join and leave. It frequently gets out of sync, leading to people

[2020-06-05 16:36] SabreCat commented on #7454
Closing this overburdened ticket and replacing with a clean version--see above!

[2020-06-05 16:36] #7454 closed, assigned to nobody

[2020-06-05 16:40] Tressley opened #12276 "Challenge tags are not converted to normal tags after a Challenge link is broken"
When a Challenge ends (or is deleted) the associated tag should be converted to a normal tag and sorted properly in the tags dropdown. Currently, when a Challenge ends, the tag is still considered a Challenge tag and sorted incorrectly.

Cleanup of #7569. You can visit that ticket to see the full history of discussion on this issue.

[2020-06-05 16:40] Tressley commented on #7569
Closing this issue to move relevant information to a new issue #12276.

[2020-06-05 16:40] #7569 closed, assigned to nobody

[2020-06-05 17:14] citrusella commented on #12272
An @ symbol in isolation, with no text other than a space immediately after it, will be filled in with the next username that gets an @ symbol later in the text. There can be any number of isolated @ symbols before the "real" mention.

The original text (which I had seen the bug on after using the the Tavern) that I reported the bug with in RAB on Habitica was

`Nope! @ usernames were introduced i

[2020-06-05 17:23] Amberlisi commented on #12272
I haven't delved into it, but it does appear to follow a predictable pattern.
Citrusella has 10 characters in the string.
Usernames has 9 characters in the string + 1 space, so Citrusella eats the whole string (@ usernames)
Introduced has 10 characters in the string + 1 space, so Citrusella eats all but the last character (@ introduced)

So basically it is replacing characters after the @ symbol,

[2020-06-05 17:30] Amberlisi commented on #12272
Can I pick this one up to start working on it?

[2020-06-06 00:22] tsukimi2 commented on #12224
@Alys Just started working on the issue, but since I have only joined very few challenges in my habitica game play before and have not used the tags before, so I'm not 100% sure whether I'm getting the problem description correctly and so just want to confirm before proceeding.

In particular, concerning the desired behaviour "when new tasks from a challenge are added to your list, the tag is crea

[2020-06-06 02:41] Alys commented on #12275
I'm changing this to suggestion-discussion because @paglias has raised load-related concerns about the desired fix (which was developed from an old comment in the old issue) and I don't want a contributor starting on it if it's decided we don't go ahead with it. :)

[2020-06-06 04:42] Alys commented on #12224
@tsukimi2 That's exactly correct in my opinion!

It may seem inconsistent that the re-added tag applies to only ToDoA2, but since the player had previously chosen to delete the challenge's tag, they would not want it re-applied to all challenge tasks. The point of adding the tag back is to easily let them find the new challenge task, so I think applying the tag to only ToDoA2 is correct.

[2020-06-06 04:43] Alys commented on #12272
@Amberlisi Please do! You seem to have a great understanding of what's going on already!

@citrusella Thanks for the extra details! They were helpful.

[2020-06-07 01:57] Alys commented on #11516
_Another report of this by @Acorn_Sprout (2a5618da-d8c4-4530-a943-3fa871ef4859) referring to a post attempted in the Report a Bug guild (I'll ask for console log data if it happens again):_

"when I started typing "@Alys" the name pop-up appeared, but the highlighting didn't work. I couldn't navigate on it, and nothing would get rid of it short of refreshing the page. Even using the sync button di

[2020-06-07 02:01] benjaminbhollon commented on #11516
If it helps, I've found it to happen more often in smaller guilds, especially when I'm trying to type the name of someone not in the guild (happens a lot in the private guild I use to communicate with my guild's officers)

[2020-06-07 09:56] ksschmi commented on #12256
Hi. Could I grab this issue?

[2020-06-07 10:18] Alys commented on #12256
@ksschmi Yes, thank you! Post here if you have questions or run into trouble.

[2020-06-07 10:52] #9476 closed, assigned to nobody

[2020-06-07 10:53] #11950 closed, assigned to nobody

[2020-06-07 10:59] #12273 closed, assigned to nobody

[2020-06-07 11:01] paglias commented on #12275
In the meantime if the issue affects mostly parties where the member count is more important (due to the limit of 30 members) we could recalculate the number of members just for them excluding guilds

[2020-06-07 11:19] Alys commented on #11516
_Here's some more details from @Acorn_Sprout (2a5618da-d8c4-4530-a943-3fa871ef4859):_

"Here's what was in my JS log:
![scrennshot](https://snipboard.io/Hgryjc.jpg)

--the above was cut-and-pasted because that page's screen froze* after the names pop-up appeared---

* Actually, no, the text box isn't completely frozen. I can delete and add text, but can not add carriage returns, although I can del

[2020-06-07 14:32] paglias commented on #11516
The errors `@Acorn_Sprout` has all seem to come from extensions not from Habitica code, the ones posted [here](https://github.com/HabitRPG/habitica/issues/11516#issuecomment-549888938) seems more promising.

Without being able to reproduce it's not possible to see exactly where this is happening but looking online it could be a Vue issue with duplicate keys or some missing data around here https:/

[2020-06-07 14:44] paglias commented on #11516
Regarding

Looks like if you type @ + something and the autocomplete does not show any username the carriage return doesn't work until you press the spacebar so the (invisible) autocomplete is removed

[2020-06-08 00:19] Amberlisi commented on #12272
@Alys Wanted to get some thoughts on the execution of this. It seems that it can be fixed by simply running a regex to check if a stranded @ symbol is in the message and then replacing it with an escaped @ symbol (\\@). Code below is from the chat.vue file:

[code]

[2020-06-08 09:41] paglias commented on #12272
@Amberlisi thanks for the code! I think the issue might also be happening at the server level so we should try to fix it there so that it gets fixed for the mobile apps as well. The code that highlights the mentions is here https://github.com/HabitRPG/habitica/blob/develop/website/server/libs/highlightMentions.js and @benkelaar might have some inputs on where to start

[2020-06-08 10:28] benkelaar commented on #12272
@Amberlisi Awesome that you picked this up!

I think it would be preferable to fix this in the code that is at fault instead of injecting escape characters beforehand (I'm also not sure if that will fix it). But the problem puzzles me. If I update the `highlightMentions.test.js` unit tests with preceding @'s it doesn't happen at all.

However I haven't looked at this exact case yet. I might have s

[2020-06-08 10:34] shanaqui commented on #12272
@benkelaar You could test it yourself (with the test text I provided or your own) so that you can see how exactly it works, but the answer is that it only happens on submit. If you just paste in that exact text, from a plain text editor, the issue will still occur.

[2020-06-08 11:21] benkelaar commented on #12272
@shanaqui Thank you. My apologies, I should have just taken the time to properly test it myself.

[2020-06-08 17:39] Amberlisi commented on #12272
That makes sense! Let me take a look at the file you just mentioned and figure out a solution at the server level

[2020-06-08 17:48] ksschmi commented on #11951
Hey, could I grab this issue as well?

[2020-06-09 04:48] Amberlisi commented on #12272
So, I found the sanitizeText function that the API calls when posting to chat. Right now the sanitizeText function only trims messages longer than the max length. That function could be added to so that it would check for any \@ symbols that have a space after it and then escape that \@ symbol so that it's seen as a literal character.
[code]
Also, the places I seen the bug happen is the party chat

[2020-06-09 10:08] sergey-prosvirnin opened #12285 "How to connect to send e-mail?"
Hello, can you tell us how to set up your mail service?

1. In the config.json settings of the **habitica** project, should I explicitly specify the URL of my mail server with or without a port (e.g. https://mydomain.com or https://mydomain.com:3100 in EMAIL_SERVER_URL)?

2. A similar question for the **habitrpg-email-server** project, what should I specify in BASE_URL, the URL of the **habitica**

[2020-06-09 13:12] shanaqui commented on #12041
Hi @terminalstderr, are you still working on this one? Let me know, or I'll mark it as help wanted again if you're not interested anymore. :)

[2020-06-09 16:09] benkelaar commented on #12272
@Amberlisi Awesome, that does look like an effective workaround for now! (I'm still not sure why it works, so extra kudos that you found that solution!)

Now that I've had some time to look at it it appears the problem is actually in the https://github.com/HabitRPG/habitica-markdown module, when rendering it in the frontend.

Ah, of course, the regular expression it uses to find the match searches

[2020-06-09 16:17] SabreCat commented on #12275
OK, I'm updating this ticket to relate to Parties only, and will spin off a separate ticket for Guilds that we'll leave on hold pending the ability to use transactions.

[2020-06-09 16:21] SabreCat opened #12286 "Member count inaccurate in Guilds and Parties"
### Description
[//]: # (Describe bug in detail here. Include screenshots if helpful.)

Clean-up of #7454. You can visit that ticket to see the full history of discussion on this issue.
Split off from #12275; that ticket can be addressed first.

`memberCount` in group records is a stored computed value that we currently attempt to keep up to date by incrementing and decrementing as members join an

[2020-06-09 16:26] veeeeeee commented on #7645
On hold because upgrading to MongoDB 4.0 may correct this issue.

[2020-06-09 16:43] veeeeeee commented on #7991
We're putting this feature on hold for now, pending resources to rethink the UX interaction.

[2020-06-09 17:23] veeeeeee commented on #8190
Currently, a user who has been PM-blocked can still invite the blocking user to a party or guild. Blocking user will not see notifications in Habitica but will still receive the email invitation. Blocking user also will still show as an invited user in the guild member list under "Invites" tab. This should not happen.

On the blocked user side, the invitation should appear like it goes through, bu

[2020-06-10 12:58] #12272 closed, assigned to nobody

[2020-06-10 13:01] #12101 closed, assigned to nobody

[2020-06-11 11:14] shanaqui commented on #9498
The Ethereal Lion is showing as a pawprint even though it was only attainable from the 2013 Kickstarter.

![image](https://user-images.githubusercontent.com/8144640/84379033-119f5c00-abdd-11ea-8dff-c714640ba7a6.png)

The Veteran Wolf is not currently attainable (I have an account with a verified username which has not received it; I think gaining the pet by doing that has been turned off for quite

[2020-06-11 12:38] Alys commented on #9498
For the Veteran Wolf, I _think_ if you change your Username you'll receive it.
From memory, you no longer get it when you create a new account, even though your Username is verified automatically at that time, but changing the Username later means that you have to verify it and that triggers the gift.

I don't know whether that's the intended behaviour. It makes sense in the context of how the ver

[2020-06-11 12:46] Alys commented on #9498
Hmm, no, sorry, even changing your Username now no longer awards the pet, so this needs to be changed to false too:
https://github.com/HabitRPG/habitica/blob/3063a38d6066728431fbcc27d0df2b6517a3ee29/website/common/script/content/stable.js#L87

and the comment above it could be just:
`// Veteran Pet Ladder - awarded on major updates - https://habitica.fandom.com/wiki/Event_Item_Sequences#Veteran_Pe

[2020-06-11 21:08] SabreCat opened #12291 "If user has redundant party invite, can get kicked out of party attempting to clear it"
[//]: # (Before logging this issue, please post to the Report a Bug guild from the Habitica website's Help menu. Most bugs can be handled quickly there. If a GitHub issue is needed, you will be advised of that by a moderator or staff member -- a player with a dark blue or purple name. It is recommended that you don't create a new issue unless advised to.)

[//]: # (Bugs in the mobile apps can also

[2020-06-12 01:02] Alys commented on #12275
Following on from an initial question about this issue in Aspiring Blacksmiths:

From memory, there's already code for recomputing memberCount (`git grep memberCount` to find it), so it may be pretty simple to use that code when a party's membership change.

[2020-06-12 10:35] Alys commented on #12291
Confirmed with these steps:
1. Invite an account to your party.
2. Using that account, log in to the Habitica website and confirm that the invitation is there. Do NOT accept or reject the invitation.
3. Add the account to the party with a database update command that sets the account's `party._id` attribute to the party's group ID.
4. Reload the website while you're logged in to that account. Conf

[2020-06-12 17:13] SabreCat commented on #12291
Thanks for the STR, @Alys! That should be enough to go on--changing from needs-investigation to help-wanted.

[2020-06-13 01:14] tsukimi2 commented on #12224
@Alys To produce the desired behaviour, instead of modifying the client-side to "check for the presence of the tag for every challenge task", which might add extra load every time you load the task page as you first mentioned in the issue, do you think the following approach would work without creating any undesired effect?

I'm thinking about modifying the server-side such that when userA who own

[2020-06-13 02:29] Alys commented on #12224
@tsukimi2 That sounds great to me and I love how much detail you've gone into in your explanation! You may like to wait a day or two (maybe until next week since it's the weekend now in some places) to see if Habitica's staff have any comments. They are much more familiar with good coding practice for Habitica than I am. :)

By the way, this isn't strictly related but if you do change that file, c

[2020-06-13 06:27] JalanshMunshi commented on #12275
Hi, can someone please assign this issue to me. I do have general programming experience and I would like to work on this as my first issue. I will go through the issues mentioned here, start working on this issue and post any doubts here.

[2020-06-13 17:57] JalanshMunshi commented on #12275
As per my understanding, we have to change how the number of members is calculated. I was unable to determine which section of code recomputes it (as pointed out by @Alys ).

There is not separate end-point like `url: '/groups'` for parties and hence, whether a group is a party or not is checked in the `groups.js` file (website/server/controllers/api-v3/groups.js).

The `memberCount` attribute is

[2020-06-14 15:10] fmaximus commented on #9498
@Alys I've made the changes

[2020-06-15 08:34] Alys commented on #12275
@JalanshMunshi I'm sorry about the delay! I've marked this as in progress for you.

The issue is that when people join or leave a group, the group's `memberCount` attribute is adjusted by merely adding or subtracting 1 from the current value. This would work perfectly well if database transactions were in place, but without them it's unreliable. For example, when a player joins a group, we need to

[2020-06-15 11:02] dabrowskif commented on #11356
Hi, I would like to participate in the Habitica and I chose this for my first bugfix. I've already sent a mail - you can invite me to Zeplin project, so I can look at a new design that was made by Tressley.

[2020-06-15 12:03] Alys commented on #11356
@dabrowskif Fantastic, thanks! I've marked this as in progress for you. I've found your email and passed on your email address to Tressley and the other staff.  :)

[2020-06-15 13:39] SabreCat commented on #12275
@JalanshMunshi Look for uses of `memberCount += 1` or `memberCount -= 1`! example: https://github.com/HabitRPG/habitica/blob/develop/website/server/controllers/api-v3/groups.js#L606

[2020-06-15 17:34] sergey-prosvirnin opened #12307 "Restore password. Bug, no documentation?"
Hi, I use habitica and habitrpg-email-server + Mandrill API. I want to do a password recovery via a link and have created a corresponding template for that.

![image](https://user-images.githubusercontent.com/24830345/84687615-b2c44480-af46-11ea-8634-9b96fb879aa1.png)

But when I try to click the link I get a 404 although this URL is sent in the habitrpg-email-server request. What could be the err

[2020-06-15 18:07] JalanshMunshi commented on #12275
Thanks for the help, @Alys, and @SabreCat !

Can you please review my draft PR? Since the draft PR is for changing the way how memberCount is incremented/decremented, I don't think I need to change any existing test cases or add any new ones.

However, please confirm this from your end as well. Please point out if I am missing anything or making any mistake in the draft PR.

Some doubts from my en

[2020-06-15 21:31] paglias commented on #12307
I'm going to close this issue as it's a duplicate of https://github.com/HabitRPG/habitrpg-email-server/issues/17

[2020-06-15 21:31] #12307 closed, assigned to nobody

[2020-06-15 21:32] paglias commented on #12285
The memory leak warning is just a default behavior by Node when more than 10 event listeners are added to an object, not an issue per se. Also I saw from the other comment that you've fixed the issue with emails not being sent so I'm going to close this issue

[2020-06-15 21:32] #12285 closed, assigned to nobody

[2020-06-16 07:13] Alys commented on #12275
Good questions!

My personal opinion about the tests is that you're probably correct that they don't need to be updated, but if Habitica's staff say otherwise, listen to them not me. :)

You're right that the code for challenges doesn't need to be modified for this issue. Challenges do suffer from the same memberCount problem as groups but the consequences are less severe, so there's no point us t

[2020-06-16 08:44] shanaqui commented on #12041
@terminalstderr No worries! Thanks; I've marked this as help wanted again. :)

[2020-06-16 16:05] paglias commented on #12275
@Alys is right, I would not update tests as there are already tests covering the changes in `group.memberCound`, we could add a test where we manually set the database value for `memberCount` to a wrong number and check that it corrects itself (for parties) after a new user joins but it would become obsolete as soon as transactions are enabled so I would say we can skip it

[2020-06-16 16:55] citrusella commented on #11516
This is a case of maybe the same bug or perhaps a different one, but I was typing a message with an @ near the front and some @ s at the end and decided to revise the first @ while the one at the end was sitting with nothing after it... the autocomplete worked and replaced both @ signs with the same user, then I went to add the name I *wanted* to the final @ and *then* it froze.

Possibly-relevant

[2020-06-16 17:05] paglias commented on #9871
@benkelaar sorry for the delay! yeah it looks like those are the only things that changed and on the server side should be good with upgrading to v4. I'm going to bump this up on my list and hope to get to it by the end of June

[2020-06-16 17:06] #9498 closed, assigned to nobody

[2020-06-16 19:31] #10827 closed, assigned to Tressley

[2020-06-16 20:06] Tressley commented on #11356
Invite sent!

[2020-06-17 02:34] wwyl1234 commented on #12253
I think I can do this. It is just changing one of the vue files .

I think this file needs to be changed to incorporate the 2 changes from Tressley's comment:
 https://github.com/HabitRPG/habitica/blob/develop/website/client/src/components/tasks/tagsPopup.vue

[2020-06-17 11:06] Alys opened #12309 "swearword blocker incorrectly blocks some words containing non-English characters"
The swearword blocker can prevent an innocent word being posted if the word contains:
- a non-English letter that the blocker interprets as a word boundary and
- a syllable that the blocker interprets as a swear word.

For example, the name "Assétou" cannot be posted in the Tavern or public guilds. The swearword blocker thinks that the three letters before the "é" character are a stand-alone word,

[2020-06-17 11:32] Alys commented on #12309
I completely forgot to include something important:

**You should not need to modify the `website/server/libs/bannedWords.js` file that contains the swear words. Please don't commit any changes to that file or let any swear words appear in your pull request.**

Habitica tries to keep all of its public spaces as safe places for people of all ages and backgrounds, and that includes the issues and pu

[2020-06-17 15:36] paglias commented on #12253
thanks @wwyl1234 ! I'll mark the issue as in progress for you, let us know if you have any question

[2020-06-17 16:02] sergey-prosvirnin opened #12310 "SyntaxError: Cannot use import statement outside a module. Habitica and the habitrpg-email-server."
Hello! I'm trying to use **habitica** and the **habitrpg-email-server** in a productive mode. I directly use **process.env.NODE_ENV = 'production';** in **index.js**, but still get errors of the following type.

[code]

 Attempts were made to fix this by adding **"type": "module"** to package.json, running **--experimental-modules** and changing the **_index.js_** extension to **_index.mjs._** How

[2020-06-17 18:09] paglias commented on #12310
Hi @sergey-prosvirnin , as mentioned in the previous issue we don't use Github as a support platform so these questions should be posted in the Aspiring Blacksmiths guild, moreover running Habitica in production mode is not documented publicly and we don't have plans to keep up to date docs for that in the near future. I'm going to answer this time but from the next one the issue will be closed.

[2020-06-17 18:09] #12310 closed, assigned to nobody

[2020-06-17 20:17] wwyl1234 commented on #12253
The file that I mentioned before is not the issue seen here but the tag pop ups from adding tags to a task.

[2020-06-17 21:29] Shuyinsama commented on #12309
This is, and will always be, a challenge I guess. Since in this case you would not like to censor since the word is not secluded or on its own.

But adding checks for this like saying `if there is no space after or before`. What to do with things like `anass` or `oshit`. You still would like to match those situations. I'm not sure if the regular expression is gonna cut it.

[2020-06-18 01:56] wwyl1234 commented on #12253
I have a fix for this (haven't commit it yet). Let me know if there is a need to want the fix for this problem to be consistent to tag pop ups (see attached file).
![Screen Shot 2020-06-17 at 9 55 00 PM](https://user-images.githubusercontent.com/30581379/84968823-5b100f80-b0e5-11ea-8785-6a0512f6334a.png)

[2020-06-18 02:55] Alys commented on #12309
@Shuyinsama Thanks for your comment!  Just to let you know, I've edited your comment to replace the swearwords with `TESTPLACEHOLDERSWEARWORDHERE` and I've clarified the top post to indicate that it can be used in issue comments as well as PR comments. :) Sorry about the uncertainty there!

You're right that the examples you provided cause a moderation problem but there's no need for the swear wor

[2020-06-18 14:09] paglias commented on #12253
Hmm let see what @Tressley thinks

[2020-06-18 20:15] Shuyinsama commented on #12309
@Alys Thank you for the edits and the clarifications.

I did a quick mess around while I was on my way home from work
https://regex101.com/r/zGD2Li/1

It seems we need to edit the regex a bit, this seems to be working but needs some more testing too with some various swearwords. I will be able to edit the files somewhere tomorrow in my local installation to test it agains multiple things.

[2020-06-19 02:29] Amberlisi commented on #11946
Okay, so too many hours later and I realize that a thing called JSON.Stringify exists. Which automatically escapes the slashes and new lines that get entered when running the API to change the display name. I can throw a bunch of slashes and new lines into the name and it comes out looking perfect! The file that would be changed is the index.js file, within the update function

`    if (acceptable

[2020-06-19 04:19] Amberlisi commented on #11946
I just realized that it puts quotes at the beginning of the string, and the end of the string

[2020-06-19 05:18] Amberlisi commented on #11946
Alright, many hours later I realize there's a JSON.stringify method that will escape an entire string. Not sure if this is a good practice or not, but it has successfully changed the display name with any number of backslashes and new lines. The JSON string output prepends and appends double quotes " " on the string. So I had to slice the string to remove those from the final displayname value.

`

[2020-06-19 13:13] shanaqui opened #12311 "Habits in the challenge view have incorrect and misaligned negative icon"
![image](https://user-images.githubusercontent.com/8144640/85136054-f238ac80-b236-11ea-9722-9fed4e14cebf.png)

Presumably they should have the lock icon, horizontally centred.

[2020-06-19 21:43] Shuyinsama commented on #12311
It seems like not all the needed classes are set in the `task.vue` component.

https://github.com/HabitRPG/habitica/blob/fd8f21455c5e865c9dcf1f8774bd7c19ee708bd2/website/client/src/components/tasks/task.vue#L311-L318

The `habit-control-negative-disabled` class should be set and is set when `task.down` equals `false` and when the `isUser` prop is set.

The `task.vue` component is used in the `colu

[2020-06-20 00:14] DXCanas commented on #11822
Took a very long time to apply a single-line fix, but I've updated the PR with the fix after a rebase @Alys

[2020-06-20 04:32] tsukimi2 commented on #12276
@Tressley May I help out with this issue?

[2020-06-20 04:32] Alys commented on #11822
@DXCanas Thank you!! I've marked this issue and https://github.com/HabitRPG/habitica/issues/11071 as in progress for you.

[2020-06-20 11:59] Alys commented on #12276
@tsukimi2 Please do! I've marked this as in progress for you.

[2020-06-20 16:26] paglias commented on #11946
Hi @Amberlisi , I think the best place to fix this would be [here](https://github.com/HabitRPG/habitica/blob/develop/website/server/libs/user/validation.js#L29) since we already have a method used to check for the validity of display names, we could expand it to disallow line breaks.

I *think* but @Alys can confirm that we don't want to limit display names to latin chars like we do for usernames

[2020-06-20 16:28] paglias commented on #12311
@SabreCat @negue might this be due to one of the recent design changes to the tasks?

[2020-06-20 16:29] Amberlisi commented on #11946
@paglias Oh, so we are RESTRICTING the user from using '\\n' in their names? I thought the goal was to check if the user used a new line and then make it so that it would be displayed properly.

[2020-06-20 16:32] paglias commented on #11946
Yeah my understanding is that the aim here is to disallow that since I can't think of any benefit / reason for allowing new lines in display names

[2020-06-20 16:33] Amberlisi commented on #11946
Well, it's not that we would want to allow a new line, but we would want to clean up the text so that it's not seen as a new line, but as a literal '\\n' instead

[2020-06-20 16:40] #11071 closed, assigned to Alys

[2020-06-20 16:40] #11822 closed, assigned to nobody

[2020-06-20 16:53] negue commented on #12311
in #12274 (or rather in our ongoing refactor of #12142) the condition `task.group.id`  was removed for the positive icon, but not for the negative one.

@SabreCat so only the condition for the negative needs to be removed?

[2020-06-20 16:54] paglias commented on #11946
from a previous comment by @Alys

Also I'm not sure we want to ban backslashes in general from display names, usernames are restricted to a-z and 0-9 mostly but display names should have more freedom IMO

anyway let's see what @Alys and @shanaqui think

[2020-06-20 19:04] Shuyinsama commented on #12311
@negue If that is correct I've added a Pull Request. If something needs to change let me know :)

[2020-06-20 19:09] Shuyinsama commented on #12309
It seems like my change was not enough and completely correct. The tests for the stringUtils fails on one word and it seems the sweawords are incorrectly banned in the tavern chat.

This requires some more work.

[2020-06-21 01:31] tsukimi2 commented on #12224
@Alys Sure, will change the aforementioned comment in the next PR submit (forgot to do so on the first PR).  Just a quick question, instead of leaving a magic number of 25 here deep in the model layer, would it be better to have it as a part of the configurable items in config.json and use nconf.get in the challenge model? Or was it because it was anticipated that it's only in this part of the cod

[2020-06-21 04:07] Alys commented on #12224
@tsukimi2 My personal feeling is that the number doesn't need to be in config.json. It's not likely to be changed often, nor different for the various production/test/local sites, and the codebase has many other numbers hard-coded as constants. So I think it'd be fine to just change the comment and leave the number there but if Habitica's staff say something different, follow their advice not mine

[2020-06-21 08:15] Alys commented on #12309
@Shuyinsama Thanks for continuing to look into this! I've marked it as in progress for you, but if you decide you'd rather not keep on with it, just let us know and we'll set it back to help wanted. You're also welcome to keep posting here if you have any questions or would like to keep discussing options!

[2020-06-22 11:16] JalanshMunshi commented on #12291
@Alys: Will it be okay if I start working on this issue?
A fix that I could think of is that could we introduce a check before inviting a user to the party? The check will verify if the user is already a member of the party or not.

Another fix that I could think of is that we can see what happens when a user accepts the part and how can we change the code to avoid this bug.

[2020-06-22 12:48] Alys commented on #12291
@JalanshMunshi You're welcome to start on it - thank you!

I think we already have that check, and I _think_ it works correctly. I'm pretty sure this bug creeps in after that point, and only happens in unusual circumstances.

That's probably the better approach to take. For example, when the user is trying to accept a party invitation, you could check if they're already in that same party, and if

[2020-06-23 09:36] #12311 closed, assigned to nobody

[2020-06-23 13:25] Tressley commented on #12253
This doesn't need to touch the tags component within the task modal, only the task board. We're actively working on improvements to the overall modal that address the tag component as well.

[2020-06-23 13:49] ksschmi commented on #12256
Hey, I'm quite confident in having figured out the issue, but I'm having a bit of an issue actually implementing the fix:

TL;DR: I don't know how to access the recipient's email in the sendInboxFlagNotification function. Any clue how to?

The issue is as @paglias mentioned, which is that line 86 in InboxChatReport.js is always setting this.authorEmail = sendingUser.email.
Then, in line 142 of sla

[2020-06-23 16:23] veeeeeee commented on #8337
May be related to #12286 and potentially solved in a similar fashion. This ticket will remain on hold until we can upgrade to a version that allows transactions, which will allow us to make a complete fix.

[2020-06-23 16:29] veeeeeee commented on #8502
@paglias Have your recent changes to unlock route corrected for this issue?

[2020-06-23 16:48] paglias commented on #8502
Oh yes, this can be closed

[2020-06-23 16:48] #8502 closed, assigned to nobody

[2020-06-23 17:31] JalanshMunshi commented on #12291
Thanks for the reply, @Alys !

As per my understanding, the API call, `url: '/groups/:groupId/join'`, gets executed when a user accepts the party invitation. Please point it out if I am committing a mistake here.

We can write some new code which will check if the current party of the user is the same as the party that the user is invited to. This code will be executed only if the user has been in

[2020-06-23 20:55] Shuyinsama commented on #6146
I would love to take this one. It seems we only need to add the correct translations and change both the window alert message as well as the text in the edit task modal?

[2020-06-23 21:12] Shuyinsama commented on #12309
@Alys Due to a personal leave I will be able to work on this in the weekend of July 4th.

I had another quick look today and this change may need some refactoring in the `stringUtils` file. It might need something more as I have a feeling a change to the regex will not be enough. This needs something more robust that can act as an actual swearword blocker. Before I dive in head first I first would

[2020-06-24 02:03] wwyl1234 commented on #12253
https://github.com/HabitRPG/habitica/pull/12332

Okay, I made a pull request.

[2020-06-24 15:59] shakhbulatgaz commented on #9957
Hello!
Previous PR's seem to be abandoned, so, do you mind if I try to solve this?

[2020-06-24 20:01] shakhbulatgaz commented on #9957
Hello

This seems like a lot of work, but I would like to try this out.
Maybe in the process, I can figure out a better way to find unused translations or whatnot.

[2020-06-25 02:20] wwyl1234 commented on #9326
Hmm for tags, it looks like it can be fixed by change the code in user.vue (perhaps by removing line 506) or some CSS property needs to be added like mouseover and mouseout for the appropriate elements. And for the for the other dropdowns appears to be in the file taskModal.vue and tagpopup.vue.

[2020-06-25 08:17] JalanshMunshi commented on #12291
@Alys

I implemented the above logic and checked it locally. The logic seems fine but the `BadRequest(res.t('alreadyAMemberOfTheParty'));` does not work. The alert says that `String 'alreadyAMemberOfTheParty' not found.`

I guess we will have to pre-include this error message somewhere. Where can we implement this? What do you suggest?

Also, as an addendum to my previous comment, we will also hav

[2020-06-25 11:19] tsukimi2 commented on #12276
@Alys Not directly related to this particular issue, but as I was testing out challenge tags when implementing the bug fix, I noticed that if a user joined a challenge with a task (let's say with task title ToDo1) and then leave the challenge afterward (but without deleting the associated tasks), and then later on decide to join the same challenge again, the task list will display the associated t

[2020-06-25 14:50] #9871 closed, assigned to nobody

[2020-06-25 15:07] Tressley commented on #12276
@tsukimi2 -- This is the expected behavior. Once a user leaves a Challenge and keeps the Challenge tasks, they are no longer associated with the Challenge. Should the user choose to re-join that Challenge, a duplicate Task has to be created to track their Challenge participation.

[2020-06-25 15:20] paglias opened #12334 "Enable MongoDB Transactions"
Since https://github.com/HabitRPG/habitica/pull/12331 Habitica's codebase has been upgraded to use version 4.2 of MongoDB which also supports [transactions](https://docs.mongodb.com/manual/core/transactions/).

Due to the way transactions have been built into MongoDB it's not possible to start using them right away as they are only available on Replica Sets and not single node installations like o

[2020-06-25 15:20] paglias commented on #9871
The next steps are outlined here #12334

[2020-06-25 21:23] SabreCat opened #12336 "Webhook update route requiring "type" to be explicitly sent when changing options"
[//]: # (Before logging this issue, please post to the Report a Bug guild from the Habitica website's Help menu. Most bugs can be handled quickly there. If a GitHub issue is needed, you will be advised of that by a moderator or staff member -- a player with a dark blue or purple name. It is recommended that you don't create a new issue unless advised to.)

[//]: # (Bugs in the mobile apps can also

[2020-06-25 21:26] SabreCat commented on #12336
I haven't personally reproduced this yet, so marking as Needs Investigation, though the user reporting the issue has volunteered to look into it.

[2020-06-25 21:40] robwhitaker commented on #12336
@SabreCat Fyi, I'm the one who reported it ([@rhitakorrr](https://habitica.com/profile/cab16cfa-e951-4dc3-a468-1abadc1dd109)). I'll hold off on looking into it until you give the go-ahead.

[2020-06-25 21:54] ksschmi commented on #12256
I'm gonna pass this issue along for now. Thanks for letting me have a crack at it

[2020-06-25 22:51] SabreCat commented on #12336
@robwhitaker Feel free--I was holding it open for you!

[2020-06-26 02:50] Alys commented on #11946
So sorry about the delay in my reply!

Yes, I agree!

Also as paglias says in the previous comment, it'd be best to not ban backslash altogether. Just converting `\n` to `\\n` (i.e., escaping the backslash in that case) is the safest approach.

[2020-06-26 02:57] Alys commented on #6146
@Shuyinsama Thanks! I've marked this as in progress for you.

You don't need to worry about translations at all (see the _README_FIRST.md file in any of the locales directories for more details if you're curious).

Yes, that sounds correct. I've deleted some old comments that don't directly relate to the fix required, so if you'd like to look through the issue again it should be easier to find the

[2020-06-26 03:37] Amberlisi commented on #11946
So we aren't checking for validity. We are taking the users input and changing the output to escape the characters. Keep in mind that this also happens for \b, \r, \t etc. \\n is not the only problem. And I don't know if it's because of my settings, but the API won't even let a user input a string that contains a backslash followed by a character that doesn't have a special function, such as \\a o

[2020-06-26 04:19] Amberlisi commented on #11946
Something else interesting I noticed regarding non-Latin characters... I'm actually having problems getting these to work even without making any changes to the way the code works now. So, if I try to change my name to: "Añ傳Yellow Spider" using the API it returns A�?Yellow Spider. Doing this in the UI works though. But I also don't understand non-Latin characters and how they work

[2020-06-26 06:00] Shuyinsama commented on #6146
Pull Request added! Thanks @Alys

[2020-06-26 09:33] Alys commented on #12309
@Shuyinsama The swear word blocker applies in the Tavern and almost all public guilds. The same code is used for all those locations so doing manual tests in just the Tavern on your local install should be sufficient but you could create a public guild locally too (you can be sure that any public guild you create locally will have the swear word blocker applied to it).

It also applies to Username

[2020-06-26 09:39] Alys commented on #12291
@JalanshMunshi Sorry we didn't reply earlier! This is sounding good so far, except that throwing a BadRequest error may not be the best way to handle it because I _think_ (I could be wrong) that the user would see that error message. Since this error condition wasn't caused by anything the user did wrong, and since the user can't fix it themself, it may be best to not show them an error message at

[2020-06-26 09:43] Alys commented on #12256
@ksschmi I'm sorry we didn't reply to your question here from a few days ago! If we helped work out how to access the recipient's email would you want to pick this up again, or do you definitely want to pass it on to someone else? It's up to you either way. Sorry again about the delay in our replies!

[2020-06-26 13:39] paglias commented on #11946
@Alys regarding this

Actually I was proposing of banning `\n` altogether as javascripts always transform it in a return carriage

<img width="201" alt="Schermata 2020-06-26 alle 15 32 56" src="https://user-images.githubusercontent.com/589911/85862671-625caa80-b7c2-11ea-8db7-d66afcd05c0d.png">

So `string.includes("\n")` will return true only if a return carriage exists in the string not if you ma

[2020-06-27 08:33] Alys commented on #11450
This accessibility issue was reported yesterday/today by @wslindon (5ccc801c-9c10-41eb-890f-a9ad5c5adee0), so it's probably from a recent change:

"I LOVE the new style changes. Everything looks cleaner and easier to read, e.g. when making a new task with subtasks. Great job Habitica team!
Oh, but Accessibility took a hit (it was never great). **I can Tab into editing subtasks, but can't seem to T

[2020-06-27 13:12] tsukimi2 commented on #12276
@Tressley Ic.  Thanks for the explanation.  ^_^

[2020-06-27 14:53] #11020 closed, assigned to nobody

[2020-06-27 17:45] #6146 closed, assigned to nobody

[2020-06-27 17:46] paglias commented on #6146
Closed by https://github.com/HabitRPG/habitica/pull/12338

[2020-06-27 22:27] laurel-thomson commented on #12041
I'd be interested in working on this issue!

[2020-06-28 03:41] Alys commented on #12041
@laurel-thomson Fantastic, thanks! Post here if you have questions or run into trouble!

[2020-06-28 12:02] Alys commented on #11946
@paglias Ah, sorry about that! I misunderstood. Thanks for the correction. :)

@Amberlisi I have trouble with non-Latin characters on the command-line and in scripts sometimes too. I think my Linux box doesn't have proper support for them. Something like that may be what's going wrong for you. It's likely not a problem that will affect this issue.

[2020-06-28 14:57] Tokelin commented on #10930
I seem to be getting a similar or even the same issue. So far I've launched the back end using `./node_modules/.bin/gulp nodemon`

[2020-06-28 16:46] terminalstderr commented on #12041
@laurel-thomson, I did some research and I may know the line of code that needs updating. Let me know if you want to review my findings 👍

[2020-06-28 17:00] JalanshMunshi commented on #10930
Hi, @Tokelin !

I received a similar error for `err code ELIFECYCLE`.

Did you try this?

Search for ELIFECYCLE on [this page](https://habitica.fandom.com/wiki/Setting_up_Habitica_Locally_on_Linux) and you'll find this section. I hope this helps.

[2020-06-29 12:36] Tokelin commented on #10930
Yes, that fixed it, thank you.

I did see that comment earlier - should've tried it first, but decided to still comment since the issue is still present it seems.

[2020-06-29 14:45] #12220 closed, assigned to nobody

[2020-06-29 16:21] #12253 closed, assigned to nobody

[2020-06-29 23:19] rogesson commented on #11173
Hello everyone!

I can make this adjustment as a first contribution :)

[2020-06-30 03:11] alexandreabeh commented on #11450
Hi @Alys ! Looking at the conversation history on this issue, I agree that it's a pretty large project. I'm interested in learning how to make websites more accessible, so this seems like a good opportunity. I went ahead and installed the axe accessibility chrome plugin out of curiosity, and saw a number of things that could be improved beyond keyboard accessibility. The beta version of the tool e

[2020-06-30 03:27] Alys commented on #11173
@rogesson Great, thank you! Please go ahead and post here if you have questions!

[2020-06-30 03:30] Alys commented on #11450
@alexandreabeh Thanks so much! I've marked this as in progress for you, but for answers to your actual questions, I'll let the staff reply. :)  I'm just a moderator and won't be doing a code review so the staff will have a better idea about the best way to arrange your pull requests.

[2020-06-30 04:00] alexandreabeh commented on #11450
Ok, sounds good 👍 thanks!

[2020-06-30 12:51] shanaqui commented on #9933
@qrdean Hi! Are you still working on this issue? If not, or if we don't hear from you within seven days, I'll mark this as help wanted again. :)

[2020-06-30 12:55] shanaqui commented on #12254
@bigsee Hi! Are you still working on this issue? If not, or if we don't hear from you within seven days, I'll mark this as help wanted again. :)

[2020-06-30 13:44] Tressley commented on #11450
@alexandreabeh -- Thank you for your interest in this! To bring you up to speed, the Habitica team has been making updates to the task modals to address the tab navigation comment made by @Alys. To compliment these changes, I think starting with the task board controls and separating them into individual PRs is a great idea!

[2020-06-30 16:28] veeeeeee commented on #9326
This is a behavior that is no longer desired--we want dropdowns to remain open unless expressly closed.

[2020-06-30 16:28] #9326 closed, assigned to nobody

[2020-06-30 16:35] veeeeeee commented on #9350
On hold pending further work on Settings.

[2020-06-30 16:38] veeeeeee commented on #9351
Because the solution for this may result in additional server load, staff will be taking another look at the best approach.

[2020-06-30 16:59] veeeeeee commented on #9362
On hold for now pending full review of how Equipment and Items UX works.

[2020-06-30 18:05] JalanshMunshi commented on #12291
Thanks for the input, @Alys ! That approach is better than throwing a BadRequest. Yes, the user will see that error and the user did not do anything wrong in this case; hence it would be inappropriate to throw a BadRequest.

As suggested, I checked if the user is already a member of the party or not, and the line `if (userPreviousParty) await userPreviousParty.leave(user)` will only be executed wh

[2020-06-30 22:55] shanaqui opened #12357 "Using a second transformation item in one day causes the item for reversing it to "lag" to the previous type"
ieahleen: "I have been transformed in a Ghost but I have Sand to buy in my reward column instead of the Opaque Potion..."
ieahleen: "update: Now that I am a snowman, I have the Opaque potion in the reward column. Something went out of sync?"
citrusella: "I cycled through flower, starfish, snowman, ghost, and ghost (no downtime between), and I ended up with the following, even after reloads:
    Fl

[2020-07-01 02:34] alexandreabeh commented on #11450
Thanks @Tressley ! To make sure I understand what you mean by task board controls (I'm still a relatively new contributor, this is my second issue) - are you referring to the To Do items, Dailies, and Habits in the first screenshot at the top of this thread, plus the dropdown menu on each task?

[2020-07-01 14:58] Tressley commented on #11450
@alexandreabeh -- Correct! Additionally, I think the tab order should be:

1. Task
2. Task control (+/- for Habits, checkboxes for Dailies/To Do's)
3. Task menu
4. Checklist (if available)

[2020-07-02 20:29] alexandreabeh commented on #11450
Thanks @Tressley ! I did some research and it sounds like it's a best practice to set tabindex as 0 and let the order be dictated by the natural order of elements in the DOM. https://webaim.org/techniques/keyboard/tabindex#overview

If we follow that, the tab order would be
1. Task control (+, -, or checkbox)
2. Task
3. Task menu
4. Checklist (if available)

What do you think? I could see it being

[2020-07-02 21:24] SabreCat opened #12360 "Possible for collection quest items to get into empty or non-numeric state"
[//]: # (Before logging this issue, please post to the Report a Bug guild from the Habitica website's Help menu. Most bugs can be handled quickly there. If a GitHub issue is needed, you will be advised of that by a moderator or staff member -- a player with a dark blue or purple name. It is recommended that you don't create a new issue unless advised to.)

[//]: # (Bugs in the mobile apps can also

[2020-07-02 21:25] SabreCat commented on #12360
Setting this to "priority: minor" supposing it's a rare fluke; if we see this happening more frequently than this one-off, then the priority should definitely go up.

[2020-07-03 04:01] Alys opened #12361 "API should prevent Chilling Frost and Stealth skills being cast when there is no point"
The Mage skill Chilling Frost will prevent the streaks from all your incomplete Dailies being set to zero when cron runs. This skill needs to be cast only once on each day. Casting it more than once on the same day has no additional benefit and just wastes Mana.
**The API should prevent Chilling Frost from being cast if it has already been cast that day.**
I.e., if the user has `stats.buffs.streak

[2020-07-03 04:03] Alys opened #12362 "buttons for website's Chilling Frost and Stealth skills should be unclickable/disabled when there is no point casting them"
_I'm marking this as "on hold: needs design" for Habitica's staff (especially @Tressley) to comment about whether design work is is needed for this and/or to give specifications for how the skill buttons should look or behave._

As described in the API issue https://github.com/HabitRPG/habitica/issues/12361, the Mage skill Chilling Frost needs to be cast only once each day, and the Rogue skill Ste

[2020-07-03 04:08] Alys commented on #6867
I'm closing this because I've created two new issues that will cover the remaining items for this issue.

https://github.com/HabitRPG/habitica/issues/12361 (API - disable skill casting)
https://github.com/HabitRPG/habitica/issues/12362 (website - disable buttons)

[2020-07-03 04:08] #6867 closed, assigned to nobody

[2020-07-03 11:18] Alys opened #12364 "logged-in user's profile/achievement data not loaded (profile edit form empty, achievements not shown)"
On the website, if you look at your own Achievements screen, none of your achievements are shown. However you can still see the achievements for any other player.

If you go to edit your own Display Name, or profile "About" text, or profile image, you see an empty edit form - none of your current data is displayed there, even though you can see your current name and profile data when you look at y

[2020-07-03 12:17] #12364 closed, assigned to nobody

[2020-07-03 14:48] #12336 closed, assigned to nobody

[2020-07-03 14:51] #12275 closed, assigned to nobody

[2020-07-03 19:56] #12224 closed, assigned to nobody

[2020-07-03 20:36] paglias commented on #12361
Looks good to me! I'll mark it as `help wanted`

[2020-07-03 20:41] paglias commented on #9351
Going to tackle this one

[2020-07-03 20:56] paglias commented on #9351
So after some investigation:

1. The API has all the info needed to update the party members but its results are not used
2. That being said I just tried to use the `heal all` spell and the results were applied correctly to the party members without a refresh because the spell is also run on the client https://github.com/HabitRPG/habitica/blob/develop/website/client/src/mixins/spells.js#L117

The

[2020-07-04 02:07] Alys commented on #9351
I'm seeing the same as @paglias for several of the party buff skills I've tested. When you view a party member's on-hover stats or profile (not your own stats/profile) you see the correct data immediately. For cards, I am also seeing the party member's achievement count being updated correctly.

The person casting the buff is not updated immediately, either for their stats changed by the buffs or

[2020-07-04 09:41] Alys opened #12366 "can't send second private message to new recipient after sending first message: "user is no longer receiving private messages""
As reported by @Nakonana (33bb14bd-814d-40cb-98a4-7b76a752761c):

_"... bug that I encountered twice within ~2 weeks: when I send a PM to someone with whom I don't have a PM history (I think, that's when it happens), then switch to another PM or somewhere else in Habitica (I think), then open the inbox with said sent PM, it tells me that I can't reply to this conversation anymore. This got me worr

[2020-07-04 09:45] paglias commented on #12366
Might be due to the redesign of the inbox? cc @negue

[2020-07-04 09:47] Alys commented on #12366
I've labelled it suggestion-discussion until negue comments.

[2020-07-04 14:02] negue commented on #12366
Oh, I fixed a same kind of issue some weeks ago.

The ability to send a message to an user is allowed if none of these conditions are true: https://github.com/HabitRPG/habitica/blob/develop/website/client/src/pages/private-messages.vue#L765

The message `This user is no longer receiving private messages` is from `PMUserDoesNotReceiveMessages` which is only shown if `canReceive` is false.

The last

[2020-07-04 20:36] paglias commented on #10554
I think this was fixed by a PR I made a month or so ago

[2020-07-04 20:36] #10554 closed, assigned to nobody

[2020-07-04 20:38] paglias commented on #11066
I think this has been fixed by a PR this week, can anyone confirm if it keeps happening?

[2020-07-04 20:38] paglias commented on #11051
I think this has been fixed by a PR this week, can anyone confirm?

[2020-07-04 20:41] paglias commented on #11182
Given the recent updates to the inbox UI, is this still happening or can be closed?

[2020-07-04 22:01] #9351 closed, assigned to nobody

[2020-07-05 07:06] Alys commented on #11182
I have not seen reports of it or noticed it myself so I'll close it. We can reopen if it's still happening.

[2020-07-05 07:06] #11182 closed, assigned to nobody

[2020-07-05 07:07] Alys commented on #11051
Looking good to me! We can reopen if we see new reports of it.

[2020-07-05 07:07] #11051 closed, assigned to nobody

[2020-07-05 07:08] Alys commented on #11066
This was always intermittent and hard to reproduce but since there's been recent changes to how profiles are loaded, I think it's reasonable to close this and we can reopen if we see new reports of it.

[2020-07-05 07:08] #11066 closed, assigned to nobody

[2020-07-05 07:43] Alys commented on #12366
@negue Thanks! Shall I mark this as "help wanted" for a contributor to work on? Or "in progress" for you if you want to work on it?

[2020-07-05 12:03] cTheDragons opened #12368 "Alter API to allow Bulk Feeding"
Due to the API Limits to soon come into affect, bulk hatching and feeding pets will become very slow through the API. Tools like the [Bulk Pets Feed Tool](https://oldgods.net/habitica/cTheDragons/feed.html) will take a long time for users to complete triad bingo quickly as well as feed all their quests pets.

Please could we alter the  [/user/feed/](https://habitica.com/apidoc/#api-User-UserFeed)

[2020-07-05 12:40] negue commented on #12366
I'll fix it :)

[2020-07-06 07:40] Alys commented on #12368
Approval for this issue was given by paglias in the Aspiring Comrades guild so I'm marking it as Help Wanted.

For anyone who wants to work on this:
This is purely an API change. The bulk feed option doesn't need to be supported in the website or official mobile apps. They should continue working as normal - i.e., the query parameter added to [/user/feed/](https://habitica.com/apidoc/#api-User-Use

[2020-07-06 09:56] PitiTheGrey commented on #12368
Bulk feeding sounds like a good idea. Not sure if I can catch up with the 'medium level', but I'd like to give it a try.

[2020-07-06 11:05] Alys commented on #12368
@PitiTheGrey Thank you! I'm marking it as in progress for you. If you have any questions or run into any trouble, post here and we'll help!

[2020-07-06 23:48] PitiTheGrey commented on #12368
Do we want to make comrades' lives easier and check if the query-amount exceeds the necessary amount of feeds to make a pet become a mount, or will we leave them calculating this themselves?
In case we want to help them: "how do I establish a new 'eror message': 'query amount too high.'"

[2020-07-07 05:11] Alys commented on #12368
Excellent question! Thank you for asking.

The easiest thing for both the end user and the Comrades may be for the API to not actually throw an error at all. Instead, it could let the user specify a number as high as they liked, then it would check if that number were more than needed and if so, it would use only as many foods as actually needed.

For example, I, as an end user see that I have a B

[2020-07-07 07:02] bigsee commented on #12254
Hi @shanaqui - apologies for the delay. Since submitting a PR and waiting for a review I got very busy with work. I do intend to finish this and will make some time this weekend. Please feel free to re-assign if this is more urgent than that though!

[2020-07-07 08:03] Alys opened #12376 "cancelled Guild edits persist when edit form is reopened"
_I'm marking this as suggestion-discussion for the staff to consider as I'm not sure if it's a bug or a deliberate feature. Even if it's a feature, it will be good to have it here as a wont-fix closed issue in case we see other reports._

@Nakonana (33bb14bd-814d-40cb-98a4-7b76a752761c) reports:

**"So, I just edited one of my guilds, but then realized I made a wrong edit and clicked the [x] to un

[2020-07-07 08:10] Alys commented on #3553
For anyone wanting this feature, there's a third-party style that hides party system messages: [Hide System Messages in Party on Habitica](https://habitica.fandom.com/wiki/Hide_System_Messages_in_Party_on_Habitica)

[2020-07-07 08:10] Alys commented on #3553
For anyone wanting this feature, there's a third-party style that hides party system messages: [Hide System Messages in Party on Habitica](https://habitica.fandom.com/wiki/Hide_System_Messages_in_Party_on_Habitica) created by @citrusella

[2020-07-07 12:23] shanaqui commented on #12254
@bigsee If you're intending to keep going with it, that's fine! We just check in to make sure things don't go totally stale. :)

[2020-07-07 12:24] shanaqui commented on #9933
I've set this back to "help wanted" since we didn't get a reply!

[2020-07-07 12:32] shanaqui commented on #11356
@dabrowskif Hi! Are you still interested in working on this issue? If not, or if we don't hear from you within seven days, I'll mark this issue as "help wanted" again just to make sure it doesn't go stale!

[2020-07-07 15:15] laurel-thomson commented on #12041
@terminalstderr I see your comment above - I'll give that a try and see if it works! Thanks!

[2020-07-07 16:08] veeeeeee commented on #9370
If #9362 is fixed first, it should handle this issue. However, given that this is a relatively straightforward change to copy, we are ok to move forward on this fix as an interim solution.

[2020-07-07 16:11] veeeeeee commented on #9372
This is still desired. Hopefully the closed PR offers a helpful way forward to accelerate development on a solution.

[2020-07-07 16:24] veeeeeee commented on #9470
@GoldenDrummer730 Hi there! It's a bit late, but if you're still interested, please let us know so we can put this issue down as claimed!

[2020-07-07 16:36] veeeeeee commented on #9622
On hold pending research around user needs re: RYA

[2020-07-07 16:44] veeeeeee commented on #9638
Closing due to inability to replicate after multiple attempts and test accounts. If someone else does manage to replicate this issue, we can reopen.

[2020-07-07 16:44] #9638 closed, assigned to nobody

[2020-07-07 17:01] veeeeeee opened #12377 "Correct handling for adding second @mention in Tavern and Guild chats"
Scenario: If you write a message with a single @mention and later decide to @mention a second user, the dropdown list of names does not appear for the second @mention.

Ideally, selecting the desired choice from dropdown menu should not lose focus of the text area. (Currently, selecting your choice requires you to re-select text area in order to continue typing).

This issue is a cleanup of #9694

[2020-07-07 17:01] #9694 closed, assigned to nobody

[2020-07-07 18:08] paglias commented on #9372
Actually I just realized this has been fixed by a previous PR, it's not perfect but now the favicon is handled like all the other static files and cached for at least 1 week

[2020-07-07 18:08] #9372 closed, assigned to nobody

[2020-07-07 19:43] paglias commented on #12368
Hmm if a number of food items to feed is passed I'd prefer it to throw an error, but I don't have a strong opinion. Maybe we could have a `feed all` where it feeds the necessary amounts of food until the user runs out or the pet becomes a mount?

[2020-07-07 20:21] PitiTheGrey commented on #12368
I made a pull-request for the bulk feed. It indeed works like Alys suggested. Does the code look too messy?
I wouldn't mind if I was told to change it to `feed all` like paglias suggested.
On the other hand `all` is equal to `?amount=23`.
Please tell me what you think.
Piti!

[2020-07-08 09:30] #12366 closed, assigned to nobody

[2020-07-08 18:29] Amberlisi commented on #11946
So I would make changes to 3 files:
1. settings.json - Needed for a new error message when a user tries to set their display name using a backslash followed by the letter n
2. validation.js - To add a check for the occurrence of a backslash followed by the letter n
3. index.js - To get the validator in the UI to check for the presence of a backslash followed by the letter n

I think all of the set

[2020-07-08 18:42] paglias commented on #11946
Only the english file will have to be changed! the others will be updated automatically

as for the code my suggestion would be to start by opening a PR in draft state, even if the code doesn't work yet it'll make it easier to comment on it

[2020-07-09 12:13] shanaqui opened #12381 "Profile page out of alignment when translated versions of Habitica are used"
From Report a Bug:

![image](https://user-images.githubusercontent.com/8144640/87038618-ead94300-c1e5-11ea-8ab9-e7d1b8e59c6a.png)

[2020-07-10 23:02] SabreCat opened #12382 "Clicking "Guilds" in header doesn't actually help you get to Guilds"
[//]: # (Before logging this issue, please post to the Report a Bug guild from the Habitica website's Help menu. Most bugs can be handled quickly there. If a GitHub issue is needed, you will be advised of that by a moderator or staff member -- a player with a dark blue or purple name. It is recommended that you don't create a new issue unless advised to.)

[//]: # (Bugs in the mobile apps can also

[2020-07-11 10:33] Alys commented on #12381
It also happens in English for head accessories:
![image](https://user-images.githubusercontent.com/1495809/87222175-0e061d00-c3b5-11ea-8578-bb8ea5fe186f.png)

I'm labelling this as needs design for a design decision to be made about how to best fix this. @Tressley

----

It seems to be a fairly recent problem. The image below comes from an issue comment made on 2 June (https://github.com/HabitRPG

[2020-07-11 10:39] Alys commented on #9638
I believe this was fixed in https://github.com/HabitRPG/habitica/pull/9711 by matchajune but the autoclose wasn't triggered.

[2020-07-11 11:57] Alys opened #12383 "CORS Origin errors when using third-party tools from two or more domains - API headers may need Vary: Origin"
_I'm labelling this suggestion-discussion for the staff to consider if `Origin` should be added to the `Vary` header (Mozilla docs referenced below)._

---

When a player is using third-party tools from two different domains in the same browser at about the same time, they'll see inappropriate CORS errors.

For example, Ceran (aabe567b-aa55-42c1-b612-b7699a7ba9b7) was using [a third-party tools on

[2020-07-11 13:36] Tressley commented on #12382
I think we may want to be sure this is a pattern. Challenges navigates to "My Challenges" from the top-level link, even if your Challenges are empty.

I'd be more inclined to change both Guilds and Challenges top-level links to navigate to their respective discover pages.

[2020-07-12 05:20] Alys commented on #8813
_I'm marking this issue as suggestion-discussion for the staff and mods to consider my proposed change below (in bold)._

The current state is that swear words are blocked in the Tavern and most public guilds. The only guilds that don't have swear word blocking are ones about special topics where normally blocked words do form part of legitimate conversations ([website/server/libs/guildsAllowingBa

[2020-07-12 09:52] Alys commented on #12382
This probably isn't something to consider now since the issue is suggestion-discussion but I'm writing it now so I don't forget later if it becomes help wanted. :)

If / when the change to the Guilds menu goes live, can we consider mentioning it in a Bailey? I know it's a small change from a technical perspective but a Bailley would help to spread the word that it's intentional, hopefully avoid "b

[2020-07-12 10:07] paglias commented on #12383
Definitely something to fix, but might be worth using a proper module like https://github.com/expressjs/cors

[2020-07-12 16:48] JalanshMunshi commented on #12361
@Alys I am interested to work on this issue. Would you be so kind as to mark it as an in-progress issue for me? I will comment here in case I need some help.

[2020-07-13 05:39] Alys commented on #12383
It just happened to me again and this time I was paying close attention so this was the situation:

1. At roughly 2020-07-13 14:20 UTC+10 I used a third-party tool at ieahleen.github.io (the [Habitica Randomizer](https://ieahleen.github.io/habitican-randomizer/)).
2. About an hour later (2020-07-13 15:18) I used a third-party tool at oldgods.net (the [Inbox Display & Export Tool](https://oldgods.n

[2020-07-13 09:53] #9500 closed, assigned to nobody

[2020-07-13 10:17] paglias commented on #12383
I haven't had time to look into the best solution yet

[2020-07-13 11:40] Alys commented on #12383
Oh sure, I'm sorry! I didn't mean to rush you.

[2020-07-13 12:21] Alys commented on #12361
@JalanshMunshi thank you! It's yours.

[2020-07-13 14:00] #12291 closed, assigned to nobody

[2020-07-13 14:05] paglias commented on #12368
Fixed in #12384

[2020-07-13 14:05] #12368 closed, assigned to nobody

[2020-07-13 21:31] PitiTheGrey commented on #12357
Trying to reproduce the above mentioned errors, it took me 4 transformation items until I finally got 'the wrong detranformation remedy. I was using chrome browser. What do you think?

[2020-07-14 08:41] Alys commented on #10298
I can't reproduce this and I don't recall seeing reports of it recently so I'm guessing this was fixed incidentally by code changes. I'm closing it.

[2020-07-14 08:41] #10298 closed, assigned to negue

[2020-07-14 11:32] shanaqui commented on #12357
@PitiTheGrey Did you _use_ the reward to transform yourself back? Because I reproduced it by _not_ using the reward and going straight for each transition (just observing which reward is available), and it's reliable for me: it happens every time.

[2020-07-14 13:58] paglias commented on #12383
I'd say to try to adapt our current code with a few extra things:

- Make sure the existing `Vary: Accept-Encoding ` is not removed but `Origin ` is appended to it
- Since we're here could we change the `cors` middleware from applying to all routes to just those under `/api/v3`? The middleware is currently applied here https://github.com/HabitRPG/habitica/blob/develop/website/server/middlewares/in

[2020-07-14 14:11] dabrowskif commented on #11356
Yes, im stuck at one moment and currently i dont have time to solve it, i hope ill move forward in next week.

[2020-07-14 16:55] #12334 closed, assigned to paglias

[2020-07-14 19:30] paglias commented on #12286
With PR #12335 the Habitica codebase has been updated to support MongoDB 4.2 and transactions making it possible to fix this issue.

Transactions allow operations on multiple documents to be executed ensuring that either all of them are executed correctly or none, making it possible to fix this issue.

An example on using transactions can be found at https://mongoosejs.com/docs/transactions.html w

[2020-07-14 19:31] paglias commented on #12124
With PR #12335 the Habitica codebase has been updated to support MongoDB 4.2 and transactions making it possible to fix this issue.

Transactions allow operations on multiple documents to be executed ensuring that either all of them are executed correctly or none, making it possible to fix this issue.

An example on using transactions can be found at https://mongoosejs.com/docs/transactions.html w

[2020-07-14 19:32] paglias commented on #11422
@SabreCat is this being handled in the Teams PR?

[2020-07-14 19:33] paglias commented on #11199
With PR #12335 the Habitica codebase has been updated to support MongoDB 4.2 and transactions making it possible to fix this issue.

Transactions allow operations on multiple documents to be executed ensuring that either all of them are executed correctly or none, making it possible to fix this issue.

An example on using transactions can be found at https://mongoosejs.com/docs/transactions.html w

[2020-07-14 19:33] paglias commented on #10689
With PR #12335 the Habitica codebase has been updated to support MongoDB 4.2 and transactions making it possible to fix this issue.

Transactions allow operations on multiple documents to be executed ensuring that either all of them are executed correctly or none, making it possible to fix this issue.

An example on using transactions can be found at https://mongoosejs.com/docs/transactions.html w

[2020-07-14 19:34] paglias commented on #10421
With PR #12335 the Habitica codebase has been updated to support MongoDB 4.2 and transactions making it possible to fix this issue.

Transactions allow operations on multiple documents to be executed ensuring that either all of them are executed correctly or none, making it possible to fix this issue.

An example on using transactions can be found at https://mongoosejs.com/docs/transactions.html w

[2020-07-14 19:34] paglias commented on #10275
With PR #12335 the Habitica codebase has been updated to support MongoDB 4.2 and transactions making it possible to fix this issue.

Transactions allow operations on multiple documents to be executed ensuring that either all of them are executed correctly or none, making it possible to fix this issue.

An example on using transactions can be found at https://mongoosejs.com/docs/transactions.html w

[2020-07-14 19:35] paglias commented on #10210
With PR #12335 the Habitica codebase has been updated to support MongoDB 4.2 and transactions making it possible to fix this issue.

Transactions allow operations on multiple documents to be executed ensuring that either all of them are executed correctly or none, making it possible to fix this issue.

An example on using transactions can be found at https://mongoosejs.com/docs/transactions.html w

[2020-07-14 20:06] paglias commented on #12222
Have we had new reports of this?

[2020-07-14 20:07] paglias commented on #8337
With PR #12335 the Habitica codebase has been updated to support MongoDB 4.2 and transactions making it possible to fix this issue.

Transactions allow operations on multiple documents to be executed ensuring that either all of them are executed correctly or none, making it possible to fix this issue.

An example on using transactions can be found at https://mongoosejs.com/docs/transactions.html w

[2020-07-14 20:09] paglias commented on #7645
With PR #12335 the Habitica codebase has been updated to support MongoDB 4.2 and transactions making it possible to fix this issue.

Transactions allow operations on multiple documents to be executed ensuring that either all of them are executed correctly or none, making it possible to fix this issue.

An example on using transactions can be found at https://mongoosejs.com/docs/transactions.html w

[2020-07-14 20:10] paglias commented on #10123
With PR #12335 the Habitica codebase has been updated to support MongoDB 4.2 and transactions making it possible to fix this issue.

Transactions allow operations on multiple documents to be executed ensuring that either all of them are executed correctly or none, making it possible to fix this issue.

An example on using transactions can be found at https://mongoosejs.com/docs/transactions.html w

[2020-07-14 20:14] paglias commented on #11376
With PR #12335 the Habitica codebase has been updated to support MongoDB 4.2 and transactions making it possible to fix this issue.

Transactions allow operations on multiple documents to be executed ensuring that either all of them are executed correctly or none, making it possible to fix this issue.

An example on using transactions can be found at https://mongoosejs.com/docs/transactions.html w

[2020-07-14 20:15] paglias commented on #11059
With PR #12335 the Habitica codebase has been updated to support MongoDB 4.2 and transactions making it possible to fix this issue.

Transactions allow operations on multiple documents to be executed ensuring that either all of them are executed correctly or none, making it possible to fix this issue.

An example on using transactions can be found at https://mongoosejs.com/docs/transactions.html w

[2020-07-14 20:17] paglias commented on #12208
If this hasn't happened again I'd suggest closing the issue as it's not replicable

[2020-07-14 20:19] paglias commented on #12286
If you work on this the code used for guilds should also replace the existing one to make sure parties member count is accurate

[2020-07-14 20:55] SabreCat opened #12396 "Vue duplicate keys errors in Quests shop"
[//]: # (Before logging this issue, please post to the Report a Bug guild from the Habitica website's Help menu. Most bugs can be handled quickly there. If a GitHub issue is needed, you will be advised of that by a moderator or staff member -- a player with a dark blue or purple name. It is recommended that you don't create a new issue unless advised to.)

[//]: # (Bugs in the mobile apps can also

[2020-07-14 21:08] paglias commented on #12396
For the `starEmpty` instance it comes from [here](https://github.com/HabitRPG/habitica/blob/develop/website/client/src/components/shops/quests/questInfo.vue#L31) using the star type from the for loop [here](https://github.com/HabitRPG/habitica/blob/develop/website/client/src/components/shops/quests/questInfo.vue#L165) as a key and there can be more than 1 star of the same type.

In this case I'd s

[2020-07-14 21:19] SabreCat commented on #12396
Yeah, I tried dropping the `:key` line but it did indeed gripe that `v-for` needs a key!

[2020-07-15 16:06] Amberlisi commented on #12377
I haven't looked at the code yet, but would a possible solution be to add a .focus() so that the text area is selected automatically after the user selects an entry from the dropdown list? Or is there a more elegant solution to this

[2020-07-16 02:59] Alys commented on #9486
The way this should work is:

**Report Modal**

When you click on the report option from the profile screen, a report modal should open, very similar to the one you see when you click report on a chat post (first screenshot below).

The differences between the chat post modal and the profile modal should be:
* Instead of seeing the text of a post ("Test post" in the screenshot below) you see "You

[2020-07-16 12:47] shanaqui commented on #11356
No worries! :) I'll leave this as in progress for you.

[2020-07-16 12:51] shanaqui commented on #11865
@NickHolden Hi! Are you still interested in working on this issue? If not, or if we don't hear from you within a week, I'll mark it as help wanted to see if anyone else wants to take it on. :)

[2020-07-16 12:53] shanaqui commented on #12256
Hi @ksschmi! Can you confirm whether you still want to work on this? If not, or if we don't hear from you within a week, I'll mark this issue as help wanted again. :)

[2020-07-16 12:54] shanaqui commented on #12276
@tsukimi2 Hi! Are you still working on this issue? If not, or if we don't hear from you within a week, I'll mark this issue as help wanted again. :)

[2020-07-16 12:55] shanaqui commented on #12309
@Shuyinsama Hi there! Are you still working on this? If not, or if we don't hear from you within a week, I'll mark this issue as help wanted again. :)

[2020-07-16 12:56] ksschmi commented on #12256
Hi,

nope, feel free to open it back up!

On Thu, Jul 16, 2020 at 2:54 PM shanaqui <notifications@github.com> wrote:

--
Klara Schmidt
University of Michigan| Computer Science | 2021
Hungarian Student Society President
ksschmi@umich.edu
+1 (248) 495-4716

[2020-07-16 17:43] shanaqui opened #12397 "Intermittent issues with creating a new line in chat - Enter key not working"
AnneLine reports:

Ceran corroborates:

Nakonana added some info:

Though it's worth noting that it happens to AnneLine while composing in the text box, so it isn't always due to pasting in. It may be related to #11516, but Ceran confirms it can't always be due to that.

[2020-07-17 06:27] JalanshMunshi commented on #8236
@paglias
Running `npm i` pops the `EBADPLATFORM` error.
[code]
I fetched the latest code after the MongoDB update and then executed `npm i`. It seems that my system is not considering `fsevents` to be an optional dependency, in spite of optional being set to `true` in `package-lock.json`.

What can I do to fix this? My system is Ubuntu 18.04. Ubuntu and Windows are present in parallel on my dualbo

[2020-07-17 10:09] paglias commented on #8236
Hmm the build is passing correctly here on Github Actions using Linux and it seems that your develop branch has diverged from the one here
<img width="636" alt="Schermata 2020-07-17 alle 12 07 45" src="https://user-images.githubusercontent.com/589911/87775338-37480280-c826-11ea-9233-837e9de39d33.png">

I would try to hard reset your branch to match the one here (if you don't have any pending chang

[2020-07-17 10:11] paglias commented on #8236
Let me know how that goes @JalanshMunshi , if it still doesn't work I'd try to also delete `package-lock.json` and reinstall everything

[2020-07-17 10:13] Alys commented on #12222
Not reports but I found other examples of it when I went searching through parties (without looking at private data such as party names or chat).

[2020-07-17 10:18] Alys commented on #11376
From everything I saw at the time I was looking into this, I _think_ the most likely cause was the one described in this comment and the comments after it: https://github.com/HabitRPG/habitica/issues/11376#issuecomment-534746769
i.e., a random drop at much the same time as the quest ended could have overwritten the `items` object, removing the eggs that the user HAD been given when the quest ended

[2020-07-17 10:24] paglias commented on #11376
That's possible, transactions could help if we wrap everything in a transaction from the moment the user is loaded until it's finally saved. I'm a bit wary of wrapping everything into transactions though due to the performance impact it would have

[2020-07-17 10:43] #12381 closed, assigned to nobody

[2020-07-17 10:56] Alys commented on #9292
We already have an API POST route for leaving a Quest: [/api/v3/groups/:groupId/quests/leave](https://habitica.com/apidoc/#api-Quest-LeaveQuest)
So the only change needed for this issue is the website UI for it. For example, there could be a "Leave Quest" button under the Quest box on the Party page, next to the Abort button in the screenshot below. (NB Only the Party leader and Quest owner see th

[2020-07-17 11:25] Alys opened #12398 "party leader should not be able to remove the owner of the party's quest"
_I'm marking this as suggestion-discussion for a few days for the staff to comment on whether my suggested fix is desired and then if there's no objections I'll mark it as help wanted._

Currently, it is possible for a Party leader to remove the Party member who is the owner of the Party's current Quest. This leaves the Party's `quest` object in an invalid state (see the sample data at the bottom

[2020-07-17 11:27] Alys commented on #12222
https://github.com/HabitRPG/habitica/issues/12398 is one cause of this bug. There may or may not be others.

[2020-07-17 11:28] Alys commented on #12222
It may be worth assuming that https://github.com/HabitRPG/habitica/issues/12398 is the only cause and closing this until/if we find it still happening after https://github.com/HabitRPG/habitica/issues/12398 is fixed.

[2020-07-17 11:47] SabreCat commented on #12222
I'd say it's highly likely that #12398 is this issue, but with the cause clearly identified. Let's pursue a fix there, and if this one crops back up afterward, we can reopen it!

[2020-07-17 11:47] #12222 closed, assigned to nobody

[2020-07-17 13:54] JalanshMunshi commented on #8236
@paglias Hard reset worked like a charm! :smiley:

One question. I should fix the merge conflicts in package-lock.json and commit it, right? I always get conflicts in that file and that leads to a lot of `git rebase --continue` commands pushing the commits to my develop branch.

[2020-07-17 13:58] paglias commented on #8236
@JalanshMunshi good question, unfortunately package-lock.json seems to get generated differently based on the OS, npm version, ... so my suggestion would be to either use the generated one from the upstream branch (so don't delete it but simply run `npm i` and it should use the existing one) otherwise I'd probably try not to commit changes to it at all, so as soon as you've run `npm i` I'd remove

[2020-07-17 14:02] paglias commented on #8236
In general as long as there have been no changes to dependencies (a new dependency or a major upgrade), package-lock.json should not change

[2020-07-17 15:22] JalanshMunshi commented on #8236
Alright, got it! Thanks!

[2020-07-18 01:22] tsukimi2 commented on #12276
@shanaqui Sorry, been busy lately.  Will work on this again during this weekend.  Thanks for the reminder.

[2020-07-18 16:51] JalanshMunshi commented on #12361
@Alys

I was able to figure out a fix for Chilling Frost. It would look like this -

![Frost fix](https://user-images.githubusercontent.com/29619543/87857146-107eee80-c942-11ea-97fc-69510083504c.png)

I am sending a `BadRequest` here as this is something that the user did. I may be wrong. Please let me know.

I also need one more confirmation. Does

mean we should be comparing the stealth value wi

[2020-07-18 20:41] #11946 closed, assigned to nobody

[2020-07-19 04:27] Alys commented on #12383
Today my only uses of Habitica have been through the habitica.com website and a third party tool at oldgods.net, however that tool has been failing with the message below in the console - note `0.0.0.0` is the "domain" that the API was expecting, which is odd (and I've certainly not been attempting to use that [meta-address](https://en.wikipedia.org/wiki/0.0.0.0)). I expect this would also be fixe

[2020-07-19 11:36] lulock commented on #11386
It's strange, I'm able to replicate the bug on Firefox 78.0.2 (64-bit) by clicking the modal outside of the "gem" box. So I'm assuming it pops up only when you go to select the "subscription" area even without having selected one of those radio buttons. (see screenshots below - the gems box is greyed out when the payment methods pop up, while subscriptions is black)

It seems to be registering a c

[2020-07-19 21:38] GoldenDrummer730 commented on #9470
Hello! I do apologize for not replying to this issue after such a long time

Unfortunately our group has moved on and we will not be working on this issue anymore.

Thank you!

[2020-07-20 00:42] Alys commented on #12377
@Amberlisi I'm not sure if that will help. From my testing, I don't think the text area loses focus.

I'm not actually sure that this issue still exists, or at least not as written here. Going back to the original issue (https://github.com/HabitRPG/habitica/issues/9694), the "second scenario" written there still seems to happen (I've copied it all below) but that's a bit different than described h

[2020-07-20 00:44] Alys commented on #12377
Ah, actually, if you select the second item **with your mouse**, then the issue as written here still happens, so yes, focus() in that case may help! Selecting with keyboard arrow keys doesn't cause focus to be lost. The "second scenario" still exists though.

[2020-07-20 00:52] Alys commented on #12361
@JalanshMunshi That website error looks good to me! It's possible that Habitica's staff will ask for a different type of error than "BadRequest" to be used, but if so it should be a simple change. BadRequest seems fine to me though.  If you'd like to do a pull request when you're ready to to show us the code, the staff will comment there if they have a suggested change.

For your stealth question,

[2020-07-20 01:07] Amberlisi commented on #12377
Yeah, I can pick this up and look into it further! It doesn't seem like an urgent issue, right?

[2020-07-20 02:27] Alys commented on #12208
There's been another report of this from @Altariel (be317a32-c027-4032-bbd5-25ccb21eb912): "I think I'm missing a guild notification, because I got a tagged notification on my phone, but I've been going through my guild notifications on the website and don't see it there. ..  I'm definitely a member of the guild, which is [The Samurai of Philomathy](https://habitica.com/groups/guild/c4328791-5172-

[2020-07-20 08:42] Alys commented on #12377
@Amberlisi that's right, it's not urgent. Thank you! I've marked it as in progress for you. If you run into trouble or have questions or need clarification for any of it, just post here and we'll help!

[2020-07-20 13:44] Tressley commented on #9292
@Alys -- Thank you for this! The Quest column suffers from being overlooked during redesign implementation, but we do have plans to tackle it soon. I have designs that need to be re-worked a little, but this is a use-case the team can discuss before implementation.

[2020-07-20 18:53] paglias commented on #12208
We can give this a try but there are a few things to consider:

- given the time it takes to send notifications to everyone I don't think it's feasible to have the message sending and the notifications in the same transaction, it would make sending a message very long in the api
- if we add a transaction for the notifications only we risk going from "everyone except a few users got the notificatio

[2020-07-21 10:19] Alys opened #12405 "banned words (swear words, etc) should be allowed in guilds with a bannedWordsAllowed Group attribute"
EDIT 2020-08-17 : Stages 1 and 2 have been completed. **Stage 3 is now ready to be done.**

In https://github.com/HabitRPG/habitica/pull/9253, we prevented swear words being posted to most public guilds. Some guilds are exempt (e.g., because religious guilds need to be able to mention terms that otherwise would be considered banned religious oaths).

The guilds that don't have swear word blocking

[2020-07-21 10:21] Alys commented on #8813
I'm closing this in favour of https://github.com/HabitRPG/habitica/issues/12405

[2020-07-21 10:21] #8813 closed, assigned to nobody

[2020-07-21 16:37] veeeeeee commented on #12405
Good to move ahead as described.

[2020-07-21 16:46] veeeeeee commented on #12361
Requesting a wording change for the error message: "You've cast this skill already. It won't have any additional effect." This language can be used for other skills if needed as well. If we discover that additional specificity is needed for user understanding, we can revisit.

[2020-07-21 16:52] veeeeeee commented on #12362
Recommend using the same string as #12361 when this is implemented: "You've cast this skill already. It won't have any additional effect." Ideally, replace the tooltip when hovering over the skill set with this new message.

This could also include a disabled state for when the user does not have sufficient MP to cast the skill.

[2020-07-21 16:56] veeeeeee commented on #12376
This is not a deliberate feature. If user has cancelled out of the edit form, they should be abandoning any changes.

Putting this issue on hold for design improvements.

[2020-07-21 16:59] veeeeeee commented on #12383
Ok with @paglias suggested pathway above. Removing suggestion-discussion label.

[2020-07-21 21:29] SabreCat commented on #8764
Will be fixed by #12142. We now delete the child tasks when the origin task is deleted--unlike with Challenges, it doesn't make as much sense to leave them on the user lists in a detached state.

[2020-07-22 00:22] junewerner commented on #9957
I can grab this issue if it still needs doing. This feels like something I can bash-fu

[2020-07-22 06:30] lulock commented on #11386
Hey @Alys, any thoughts or opinions on the above ?

I know it starts to go into a design discussion - and I would even be interested in exploring whether splitting "gems" and "subs" under two tabs might make more sense when splitting the actions considered they're handled independently in this scenario anyway. You can't gift gems and a subscription in one go, can you? As this layout kind of sugges

[2020-07-22 11:52] Alys opened #12407 "API must have exception to not include Tavern in list of guilds"
If you use the [api/v3/groups](https://habitica.com/apidoc/#api-Group-GetGroups) route to get a list of guilds for a user, then the returned list includes the Tavern. The Tavern should not be included.

I.e., if you do this command:
`curl -s -X GET -H "x-api-user: $HRPG_USER_USERID" -H "x-api-key: $HRPG_USER_APITOKEN" https://habitica.com/api/v3/groups"?type=publicGuilds&paginate=false"`
then the

[2020-07-22 11:52] Alys opened #12408 ""habitrpg" group should be deleted from the database"
If you use the api/v3/groups route to get a list of guilds for a user, then the returned list includes this one:
{"_id":"habitrpg","leader":"9","name":"HabitRPG","type":"guild","memberCount":0,"privacy":"public","description":null}

As stated by paglias at https://github.com/HabitRPG/habitica/issues/7431#issuecomment-339338704, that group should be deleted from the database.

This needs to be done

[2020-07-22 11:52] Alys commented on #7431
I've split this into two issues https://github.com/HabitRPG/habitica/issues/12407 and https://github.com/HabitRPG/habitica/issues/12408 so I'm closing this one.

[2020-07-22 11:52] #7431 closed, assigned to nobody

[2020-07-22 12:17] Alys commented on #11386
@lulock I'm sorry, interface changes are not really something I should comment on. Habitica's staff will answer your questions. :)

[2020-07-22 12:18] Alys commented on #9957
@junewerner Thank you! I've marked this as in progress for you.

[2020-07-22 15:14] SabreCat commented on #11386
Paging @Tressley!

I'll also label this as needing design input.

[2020-07-22 15:16] SabreCat commented on #12408
done!

[2020-07-22 15:16] #12408 closed, assigned to nobody

[2020-07-22 15:34] Tressley commented on #11386
The Gifting modal actually has updated designs that can be found in our Zeplin: https://zpl.io/bLxmdL7, https://zpl.io/VqlPvm7

![image](https://user-images.githubusercontent.com/2686586/88196535-4efcfd80-cc0f-11ea-8d74-f5585e82f338.png)

@lulock -- Are you interested in taking on the updated designs? If so, can you provide an email address for a Zeplin invitation.

[2020-07-22 15:44] SabreCat commented on #2433
@paglias, @Alys mentioned database transactions above--is this something that would fall under that label you've been curating?

[2020-07-22 16:02] paglias commented on #2433
I think the issue here is not much with transactions but with the fact that when applying quests progress we do not load the users document at all but just increase their EXP with a database command, while levelling up requires calling `updateStats` on the user object that would have to be loaded. We can explore the perf impact this would have but I don't think transactions would help in solving t

[2020-07-22 16:10] SabreCat commented on #11592
By the look of it, this is a duplicate of #10930, and folks running into trouble seem to have resolved it..? Let us know if this is still happening and needs attention in the Habitica dev Dockerfile.

[2020-07-22 16:10] #11592 closed, assigned to nobody

[2020-07-22 17:37] lulock commented on #11386
@Tressley oooh looks sweet! Sure send the Zeplin invite to lulock00@gmail.com

@SabreCat @Alys thanks guys 😺

[2020-07-23 10:09] Alys commented on #2433
My reference to database transactions wasn't because they'll fix this issue (they won't) but because any fix for this issue would ideally also include database transactions so that the fix is reliable for all party members.

[2020-07-23 10:15] paglias commented on #2433
Yeah but we have to pay attention when using transactions in these cases or we risk making the problem worse:

- the update to the quest progress is done after the user is saved to avoid delaying the API response meaning that we can't use a transaction for the user action (eg scoring a task) and updating the quest progress or if there's an issue with the quest change everything (including the user

[2020-07-25 11:22] #10209 closed, assigned to nobody

[2020-07-25 12:37] #8730 closed, assigned to SabreCat

[2020-07-25 12:37] #8764 closed, assigned to SabreCat

[2020-07-25 12:37] #9876 closed, assigned to nobody

[2020-07-25 12:37] #10041 closed, assigned to nobody

[2020-07-25 12:37] #11422 closed, assigned to SabreCat

[2020-07-26 11:21] Alys commented on #11516
@Nakonana (33bb14bd-814d-40cb-98a4-7b76a752761c) has reported a bug that I think is an instance of this issue:

"**I have encountered a floating, not disappearing User selection drop down menu ([console text](https://trello-attachments.s3.amazonaws.com/5dfa77963d47893b8474869d/5e261bfa0c5bcf1647c15dbd/144332a26989bc73eff3d2a51362f50d/floating_drop_down.txt) if that's of any help). Happened on Fire

[2020-07-26 18:41] bigsee commented on #12254
@shanaqui thank you for checking in. :) just made an updated PR that hopefully solves this. and apologies again for the delay.

[2020-07-27 20:49] SabreCat commented on #10605
Still getting reports of this with PayPal subscriptions. Possibly only hits in the case when we get a cancel notification from the PayPal side, rather than when the user ends the subscription via Habitica?

[2020-07-27 23:05] alexandreabeh commented on #11450
Hi @Alys , I just noticed that the linked PR says it will close this issue, but it's only a partial fix. Is there a way to undo whatever automatically triggered that? I didn't want this issue to get lost track of halfway through.

Things the PR addresses out of the original description in this issue:
- to-do items
- dailies
- habits
- dropdown menu for individual tasks

Additional things that are

[2020-07-28 00:32] ssalbdivad opened #12414 "Allow users to share their tasks with each other"
### Motivation
For users with an accountability partner or group, the inability to share tasks with other users is a huge obstacle. The alternatives that come to mind are:

- Sending a screenshot of your tasks page
- Sharing your password
- Upgrading to a group plan and tracking everything as a group task

The last is probably closest to being acceptable, but the group interface isn't well suited

[2020-07-28 07:07] lulock commented on #11386
Hey @Tressley ! Is this design implementation still open for grabs? I wouldn't mind having a look at the designs on Zeplin and taking a shot at it.

[2020-07-28 08:47] paglias commented on #12414
Hi @ssalbdivad and thanks for posting this idea, we use Github exclusively for reporting bugs, in case of feature requests those can be suggested using the following Google Form https://docs.google.com/forms/d/e/1FAIpQLScPhrwq_7P1C6PTrI3lbvTsvqGyTNnGzp1ugi1Ml0PFee_p5g/viewform

[2020-07-28 08:47] #12414 closed, assigned to nobody

[2020-07-28 11:58] shanaqui commented on #12309
@Shuyinsama I've marked this issue as "Help wanted" again so someone else can pick it up. You're welcome to pick it back up yourself as well, just let us know. :)

[2020-07-28 11:59] shanaqui commented on #12256
Thank you, I've done that!

[2020-07-28 12:00] shanaqui commented on #11865
@NickHolden I've marked this as help wanted again, but feel free to let us know you want to pick it back up.

[2020-07-28 12:02] shanaqui commented on #11173
@rogesson Hi there! Are you still working on this issue? If not, or if we don't hear back from you within a week, I'll mark it as help wanted again just to make sure it doesn't go stale. :)

[2020-07-28 13:01] Tressley commented on #11386
@lulock -- Yes! I have not forgotten about you. I just need to make some small adjustments to the designs before exporting them to Zeplin (we've since made updates to some of the components.) I'll have them in Zeplin and an invite over to you today.

[2020-07-28 14:38] SabreCat commented on #11450
@alexandreabeh I suspect GitHub's parsing doesn't understand that "partially fixes #" is not the same as "fixes #"--I made a small edit to the wording in the PR that looks to have successfully removed the auto-close link!

[2020-07-28 15:41] alexandreabeh commented on #11450
That would make sense - now I know for next time. Thank you @SabreCat !

[2020-07-28 15:43] paglias commented on #10605
Yes that's likely, Paypal seems not to validate some of our requests, the error is not very informative unfortunately

[2020-07-28 15:49] paglias commented on #10605
In particular some requests paypal makes to the IPN route result in this error

[code]

[2020-07-28 16:16] veeeeeee commented on #10804
Even though the above mentioned PR has been merged, we're keep this issue on hold for a more in-depth look at how @mentioning works under the hood.

[2020-07-28 16:36] veeeeeee commented on #9899
On hold for now--we'd like to make this be consistent with other seasonal/limited timing items that can be pinned.

[2020-07-28 16:38] veeeeeee commented on #9933
Related to #9899 and likely will require close handling.

[2020-07-28 16:44] veeeeeee commented on #9936
After some discussion, we have decided that quest owners should be able to start quests for all scrolls they own regardless of level requirement, since they presumably acquired quest legitimately and are now experienced players. Likely solution is to remove level check for starting quests or inviting people to a quest. @Alys can you confirm and perhaps update initial post and title for clarity?

[2020-07-28 16:49] veeeeeee commented on #9958
Is this still a useful ticket to keep open? Is there a way we can make it easier for a contributor to take on?

[2020-07-28 16:56] veeeeeee commented on #10008
This is a good first issue for contributors particularly for the header elements. For anything below the header, please hold off as staff would like to make sure the taxonomy is handled logically and consistently across the board.

[2020-07-28 17:01] SabreCat commented on #10035
It's been a while since I've even felt the need for these--there are better tools available for filling out the inventory of a test user. It might be simplest just to remove these non-functional buttons from the debug toolbox.

[2020-07-28 17:07] SabreCat commented on #9958
I'd suggest closing this one, myself. It should be more of a checkpoint for development to clean up any that you find in client code that you touch.

[2020-07-28 17:12] #9958 closed, assigned to nobody

[2020-07-29 11:03] Alys opened #12417 "quests that are level-locked for purchase should be usable at any level"
Currently, certain quest scrolls can only be bought or used after you have reached a certain level (the list of quests is below).

We want this to be changed so that **if you already own one of those quest scrolls, you can use it to start a quest regardless of what level you are**.

Existing features that should NOT be changed:
- quest scrolls that are given when you reach a certain level should s

[2020-07-29 11:05] Alys commented on #12417
The affected quests are below, taken from the wiki's [Level](https://habitica.fandom.com/wiki/Level) page ("Unlocks" section):

* Level 15
   * The player receives a free Dish Disaster quest scroll.
   * The player is able to buy or use a SnackLess Monster quest scroll.2
   * The player is able to buy or use a Laundromancer quest scroll.2
* Level 30
   * The player receives a free Free Yourself of

[2020-07-29 11:07] Alys commented on #9936
@veeeeeee That's a nice idea! Is this what you had in mind? https://github.com/HabitRPG/habitica/issues/12417 I thought it would be clearer to create a new issue.

[2020-07-29 14:45] SabreCat commented on #9936
That looks good to me!

[2020-07-29 14:52] Tressley commented on #11386
@lulock -- Invite sent! Please let me know if you don't see it. Here's a link to the Zeplin artboard: https://zpl.io/V10ZNxZ

[2020-07-29 15:40] veeeeeee commented on #9936
Great writeup! Thanks, @Alys. Closing this issue now :)

[2020-07-29 15:40] #9936 closed, assigned to nobody

[2020-07-30 07:51] lulock commented on #11386
woohoo I'm ON it

<img src="https://lumiere-a.akamaihd.net/v1/images/mi_stickerbook_kim_possible_kim5_986b3e4c.png?region=0%2C0%2C1850%2C1484" width="100" />

[2020-07-30 09:32] Alys commented on #12417
I've labelled this as notify helpers to remind us to tell the Socialites and Wiki Wizards about it when it's due to go live.

[2020-07-30 09:54] hamboomger commented on #12417
I could try to tackle that issue

[2020-07-30 14:49] shanaqui commented on #11304
This challenge is currently displaying this problem: https://habitica.com/challenges/71e7e92f-131d-459f-95cb-9286fc1fc795

If I search "Quartz", I see QuartzFox.
If I type "fo", I see these users and not QuartzFox.
![image](https://user-images.githubusercontent.com/8144640/88937275-d8e63f80-d27b-11ea-80bd-ff617e9c166e.png)

At the moment, the pattern I can see is that it's due to capitalisation: i

[2020-07-30 15:07] paglias commented on #10976
This was fixed by #12179

[2020-07-30 15:07] #10976 closed, assigned to nobody

[2020-07-30 16:37] SabreCat commented on #12417
Thanks @hamboomger, happy to see you give it a go! Hit us up here or in the Aspiring Blacksmiths guild with any questions that arise.

[2020-07-30 17:51] navnit0707 opened #12419 "error not shown even after invalid email"
To Create problem:
visit this https://habitica.com/static/home
fill the form and in mail section write @g and move to password column you will se there is no error will apear and then fill all the option .
![Screenshot (429)](https://user-images.githubusercontent.com/40719341/88956579-3057d000-d2bb-11ea-9a64-0510aa42cba1.png)

As this should so error but not showing .
now change email to @g.g you

[2020-07-30 19:12] SabreCat commented on #12419
Ah, looks like an issue with the regex used to validate the field. You're definitely welcome to submit a fix PR!

[2020-07-30 20:01] #9863 closed, assigned to nobody

[2020-07-30 21:24] AlexanderColen commented on #12407
Is this issue still looking for help?
Seems like a good issue that I could start with.

If I am not mistaken, a straightforward fix would probably be to use the [$ne](https://docs.mongodb.com/manual/reference/operator/query/ne/) operator to exclude the entry with the tavern ID.

[2020-07-30 22:35] AlexanderColen commented on #11075
Has this issue been resolved but not been closed?

I cannot seem to reproduce the issue when following the following steps: (Neither in English nor in a different language)

[2020-07-31 03:12] navnit0707 commented on #12419
ok i will fix it

[2020-07-31 08:01] Alys commented on #11151
Just to confirm (since it's a new Gala now) the issue reported [in this comment above](https://github.com/HabitRPG/habitica/issues/11151#issuecomment-626287070) is still happening for anyone that has the quest scroll pinned:

![image](https://user-images.githubusercontent.com/1495809/89013545-68145580-d357-11ea-9a4d-08845219ad43.png)

[2020-07-31 08:41] paglias commented on #12419
Hi @navnit0707 I'm sorry but we have a refactor of the auth components underway at #12141 that will also fix this issue

[2020-07-31 08:44] paglias commented on #12407
@AlexanderColen it's still looking for help!

These two methods are the ones most commonly used to fetch one or more groups https://github.com/HabitRPG/habitica/blob/develop/website/server/models/group.js#L230-L363

[2020-07-31 08:49] paglias commented on #11265
Looks like this is being fixed by #11389

[2020-07-31 09:16] #12041 closed, assigned to nobody

[2020-07-31 09:48] #12254 closed, assigned to nobody

[2020-07-31 20:31] ssalbdivad commented on #12414
I added this suggestion to the form and got no response.

If I were to implement it myself, is there a different process I would go through?

[2020-08-01 10:10] paglias commented on #12414
@ssalbdivad I'll talk with the team and get back to you next week

[2020-08-01 10:32] paglias opened #12421 "Change page title based on the site section being viewed"
Currently the page title is `Habitica - Gamify You Life` no matter the section of the site you're visiting.

We already support dynamically changing the page title using the `title` property in the app store. See
- https://github.com/HabitRPG/habitica/blob/8003632041f0f62634be1f66b34bbd75ac3add1b/website/client/src/app.vue#L470-L472
- https://github.com/HabitRPG/habitica/blob/8003632041f0f62634be1

[2020-08-01 13:50] paglias commented on #10985
@SabreCat this has been fixed by the recent group tasks PR?

[2020-08-01 14:45] SabreCat commented on #10985
Yes, indeed!

[2020-08-01 14:45] #10985 closed, assigned to SabreCat

[2020-08-01 18:05] rogesson commented on #11173
Hello @shanaqui,  how are you?

After some time without being able to continue, today i made a new commit in the PR that is open with the requested modifications.

I'm commenting here because I saw that there was no automatic notification.

Thanks and sorry for the delay!

[2020-08-02 10:28] paglias commented on #12414
Hi @ssalbdivad currently there are no plans to include such a feature in the Habitica code base, this might change in the future and in that case the team might contact you to discuss the idea more in depth.

Habitica is open source but given the complexity of the product and the fact that it's used in production we cannot include any new feature that is being proposed both to avoid clutter and al

[2020-08-02 14:07] paglias commented on #10679
Is this still happening? Now opening a new modal should not close the other ones

[2020-08-02 14:08] paglias commented on #9307
Is this still an issue?

[2020-08-02 14:12] paglias commented on #11009
Is this still an issue? Login check ins and other modals all appear correctly after RYA

[2020-08-02 15:02] paglias commented on #12362
https://github.com/HabitRPG/habitica/pull/12404 disables the buttons when the spell should not be used anymore, so what's missing in this PR is just the disabled state for the button

[2020-08-02 15:44] citrusella commented on #10679
I could try having a daily open to edit right at day start (...or just set my day start to noon or 1pm) and test to see if it closes in line with cron running, with or without the popup.

(In fact, I think I *will* do that because it will have a side effect I'll enjoy, so why not? XD)

[2020-08-02 17:23] citrusella commented on #10679
...So I can't get cron to run **at all** while I'm editing things? So I can't test either flavor of this (i.e. with or without the RYA modal appearing), because those are both part of cron, right? And even after I close the thing I'm editing, it doesn't run until one of two things happen:

1. Cron runs elsewhere (i.e. another tab or platform)
2. The website is reloaded and not just synced

Number

[2020-08-02 23:42] ndossougbete commented on #3405
This still seems to be an issue on the website, even after I switched my language to "British English". Is there a way to switch the first day of the week that I missed?

[2020-08-03 13:34] #11681 closed, assigned to nobody

[2020-08-03 13:58] Tressley commented on #12362
For the disabled state we just need to set `opacity: 0.5` and remove the cursor and hover state.

[2020-08-03 14:29] SabreCat commented on #9307
Doesn't look familiar to me. If anything they're sometimes placed too far down the screen so that downward scrolling is necessary when the modal _could_ fit on screen if it were placed higher!

[2020-08-03 14:29] #9307 closed, assigned to nobody

[2020-08-03 15:21] Tressley commented on #11075
Yeah, I believe this was fixed in #12395. Thanks for catching it @AlexanderColen!

[2020-08-03 15:21] #11075 closed, assigned to nobody

[2020-08-03 17:07] navnit0707 commented on #12419
yeah, i checked the auth component respo  and this will help to fix this issue . Thanx for updates atleast i understood how all these works

[2020-08-03 18:42] SabreCat opened #12437 "Punctuation following an email address in Markdown fields causes it not to be parsed as email"
[//]: # (Before logging this issue, please post to the Report a Bug guild from the Habitica website's Help menu. Most bugs can be handled quickly there. If a GitHub issue is needed, you will be advised of that by a moderator or staff member -- a player with a dark blue or purple name. It is recommended that you don't create a new issue unless advised to.)

[//]: # (Bugs in the mobile apps can also

[2020-08-04 17:48] shanaqui commented on #11173
Thanks for the update! :)

[2020-08-06 20:45] thebat137 commented on #11009
@paglias, it seems to be working for me now.

[2020-08-06 22:59] Alys commented on #11009
I don't recall recent reports of it.

[2020-08-06 22:59] #11009 closed, assigned to nobody

[2020-08-06 23:00] Scottd125 commented on #12405
Hi all,

I'll be happy to pick this issue up. It looks like a good first issue to work on :)

[2020-08-06 23:02] Alys commented on #12405
@Scottd125 thanks! It's yours. Comment here if you have any questions or run into trouble.

[2020-08-07 01:05] Scottd125 commented on #12405
Hey @Alys

I've created the PR with the change and the api-v3-integration test suite seems to be failing at a specific test. The full test suite was ran locally on the new branch before creating a PR and they all passed successfully. I ran the failing test locally afterwards on the new branch and they appear to be passing without issues.

I'm not sure if this is a result of a problematic test or t

[2020-08-07 10:44] Alys commented on #12405
@Scottd125 The tests sometimes fail for reasons unconnected with the code changes (e.g., timeouts). For your PR, the failing test is:

  1) POST /groups/:groupId/leave
       Leaving a group with extraMonths left plan when the group is a public guild
         calculates dateTerminated and sets extraMonths to zero after user leaves the group:
     An unexpected error occurred.

I doubt it's related

[2020-08-07 11:58] rafucuk opened #12441 "Port forwarding"
I tried to port forwarding with habitica but there is a problem.

### Description
I ran `npm run client:dev` with port 80 and forward port 80.
Worked perfect but everything is empty, then I realize:

I didn't port forward MongoDB and nodemon server. I forwarded both of them but still not working.

#### Console Errors
![haha123](https://user-images.githubusercontent.com/33981808/89643446-78c84c80-d

[2020-08-07 11:59] RaufSSen commented on #12441
I censored my IP for security.

[2020-08-07 13:42] shanaqui opened #12442 "Updating avatar does not update your avatar in the "view party" section"
From Report a Bug: when you update your avatar's appearance, it does not update your avatar in the "View party" modal.

![image](https://user-images.githubusercontent.com/8144640/89651629-238b3b80-d8bc-11ea-92c5-e5cba4a798ad.png)

[2020-08-07 16:39] bigsee commented on #12396
@SabreCat @paglias I'd be happy to take a look if this still needs attention?

[2020-08-07 16:51] bigsee commented on #11139
@Alys @SabreCat @paglias does this one still need attention?

[2020-08-07 17:02] bigsee commented on #12309
@shanaqui I'd be happy to have a look if @Shuyinsama no longer has time?

[2020-08-07 17:12] bigsee commented on #11304
@shanaqui is anyone looking at this issue atm? :)

[2020-08-07 17:27] bigsee commented on #11865
@shanaqui this one looks a little involved from what I can see of the previous PR. However, I'm willing to have a go if this still needs attention and no-one else is on it. If I get in trouble or find that it's beyond me then I could just bring it back and let you guys know?

[2020-08-07 20:17] SabreCat commented on #11139
@bigsee It looks like a fix was attempted a while ago and abandoned--you're welcome to have a look!

[2020-08-07 20:18] SabreCat commented on #12396
@bigsee Sure, should be a pretty simple bit of code cleanup--you're welcome to it!

[2020-08-08 11:56] Alys commented on #11865
@bigsee Thank you! That would be great. I've marked it as in progress for you. Feel free to tell us if you have any questions or decide not to work on it.

[2020-08-08 11:57] Alys commented on #12309
@bigsee Thanks! Please go ahead and post here if you have questions or run into trouble!

[2020-08-09 07:20] bigsee commented on #12309
@Alys I managed to block my test user locally during testing and got chat privileges revoked. I've set up a second test account now anyway to keep working. Is there anything I can do to restore access to my test accounts if this happens locally or do I need to go through the same process as if it happened for real?

[2020-08-09 08:59] paglias commented on #11304
@bigsee this should be up for grab now but I've noticed you've already quite a few issues in progress, do you want to wait until those are fixed?

[2020-08-09 09:15] paglias commented on #12441
Looking at the first line of your screenshot it looks like the server is reachable but returning a 500 error, so it looks like the port forwarding is working

[2020-08-09 09:16] paglias commented on #12405
The tests are passing now

[2020-08-09 09:18] paglias commented on #10605
The PR fixing the IPN issue has been deployed, I'm not sure it's linked to this issue but we might want to review this in a bit to see if it's still happening

[2020-08-09 10:00] paglias commented on #10679
Thanks @citrusella for all the details! I'll give this a better look when I have some time

[2020-08-09 10:41] bigsee commented on #12309
Made a PR for this 👆🏽

[2020-08-09 10:42] bigsee commented on #11304
hey @paglias

[2020-08-09 10:45] bigsee commented on #11304
hey @paglias

Yeah, I speculatively commented on a few to see if at least one was free. Ended up with three. I guess it's like waiting for buses... :)

Just made a PR for the highest priority and moving onto the second one (medium). Happy to look at this one too if it's OK with you?

[2020-08-09 14:00] bigsee commented on #11865
PR is here 👆🏽

[2020-08-09 15:22] shanaqui opened #12447 "If you add a tag to a task you are creating, your dashboard gets filtered by that tag"
Expected behaviour is that adding tags does not affect what tags you're currently filtering by. However, at the moment, when you add a tag to a task during task creation, your dashboard becomes filtered by that tag.

To replicate:

- Start creating any type of new task, from the green + icon (not the quick-add at the top of each column)
- Add a tag
- Save or cancel task creation
- Observe that you

[2020-08-09 15:47] paglias commented on #11304
sure go ahead!

[2020-08-09 15:48] paglias commented on #11304
@bigsee I think that there are a couple of related issues here if you want to give a look at them while working on this:

- https://github.com/HabitRPG/habitica/issues/10242
- https://github.com/HabitRPG/habitica/issues/9755

[2020-08-09 16:04] bigsee commented on #11304
@paglias sure thing! happy to take a look at these together and come back if the solutions are beyond my current skill level...

[2020-08-09 16:06] bigsee commented on #10242
I'm going to take a look at this, per the suggestion from @paglias [here](https://github.com/HabitRPG/habitica/issues/11304#issuecomment-671067945). I'll shout if I get stuck. :)

[2020-08-09 16:06] bigsee commented on #9755
I'm going to take a look at this, per the suggestion from @paglias [here](https://github.com/HabitRPG/habitica/issues/11304#issuecomment-671067945). I'll shout if I get stuck. :)

[2020-08-09 16:26] #12361 closed, assigned to nobody

[2020-08-09 16:26] #12362 closed, assigned to nobody

[2020-08-09 17:44] #11173 closed, assigned to nobody

[2020-08-09 17:58] #12396 closed, assigned to nobody

[2020-08-10 16:38] #11083 closed, assigned to nobody

[2020-08-10 16:38] #12200 closed, assigned to nobody

[2020-08-10 16:39] paglias commented on #12405
PR for point 1 has been merged

[2020-08-10 16:45] SabreCat commented on #12309
@bigsee Chat muting is controlled by `flags.chatRevoked`, and login ban is `auth.blocked`, both in the user record. You can set those values as needed in your local database, when testing!

[2020-08-10 16:49] howmuch515 opened #12459 "XSS issue in notification"
A party name is printed without escaping in the notification.

I reported the same issue in the "Report a Bug" guild.

![demo](https://user-images.githubusercontent.com/10630083/89808262-d980af00-db74-11ea-98a9-c04e5ba650e0.png)

[2020-08-10 17:19] paglias commented on #12459
Thanks for the report @howmuch515, I'm redacting the description and we'll handle it internally. Next time could you please contact admin@habitica.com so that the report is not available publicly, thanks

[2020-08-11 04:06] Alys commented on #10242
@bigsee Thanks! I've marked it as in progress for you

[2020-08-11 04:55] Alys commented on #9755
@bigsee great, thanks! I've marked it as in progress for you

[2020-08-11 08:26] shanaqui commented on #11356
@dabrowskif Just checking in again to make sure this issue doesn't go stale! Are you still planning to work on this?

[2020-08-11 08:28] shanaqui commented on #12377
@Amberlisi Hey! Just checking in whether you're still interested in doing this fix -- not to rush you, just to make sure it doesn't go stale if you're not interested anymore. :) Let us know within a week if you want to keep working on it; otherwise, I'll mark it as help wanted again. Thanks!

[2020-08-11 08:29] shanaqui commented on #9957
@junewerner Hi! Are you still interested in working on this issue? If not, or if we don't hear from you within a week, I'll mark it as help wanted again. No rush, just making sure it doesn't go off the radar. :)

[2020-08-11 10:18] paglias commented on #12441
Closing this issue as it's not directly related to the Habitica code, @RaufSSen if you still need help the [Aspiring Blacksmiths](https://habitica.com/groups/guild/68d4a01e-db97-4786-8ee3-05d612c5af6f) guilds is probably the best place to get help

[2020-08-11 10:18] #12441 closed, assigned to nobody

[2020-08-11 11:56] Alys commented on #12309
@bigsee You can also make one of your local accounts an admin and then you can use the Hall of Heroes to control muting, blocking, etc in all user accounts. See the "Testing your Change Manually" section in [Using Your Local Install to Modify Habitica's Website and API](http://habitica.fandom.com/wiki/Using_Your_Local_Install_to_Modify_Habitica%27s_Website_and_API) - the debug menu lets you make a

[2020-08-11 13:13] Amberlisi commented on #12377
Hey @shanaqui, yeah I just got back into looking at this. Got busy with work so I had to put this one off for a bit.

[2020-08-11 16:21] SabreCat commented on #11356
@paglias and I poked at this a little in the context of @JalanshMunshi's recent PR, but it's still proving thorny..

[2020-08-13 18:19] Amberlisi commented on #12442
Hi, anybody mind if I pick this one up to look into?

[2020-08-14 02:12] Alys commented on #12442
@Amberlisi please do, thank you! Post here if you have questions or run into trouble.

[2020-08-14 18:18] bigsee commented on #12309
@SabreCat @Alys thank you for the tips!

[2020-08-15 06:31] JalanshMunshi commented on #4626
@Alys I saw this issue mentioned in the Aspiring Blacksmiths guild and I went through this issue and the underlying logic behind how drops are rewarded on [Habitica Wiki](https://habitica.fandom.com/wiki/Drops).

I don't know if this has been discussed earlier, but is it possible to introduce a property inside the `TaskSchema` which will indicate whether this task has been revived or not.

For exa

[2020-08-15 12:44] Alys commented on #4626
@JalanshMunshi Thank you for asking about this but we decided long ago that we don't want to change the current behaviour. In particular, the wishing well feature that it enables is popular. It's documented on the wiki in a few places, including articles that have been featured in Habitica's blog (e.g., [this](https://habitica.fandom.com/wiki/Sample_Custom_Rewards#Wishing_Well) and [this](https://

[2020-08-15 16:49] JalanshMunshi commented on #4626
@Alys Yep, that makes sense. Thanks for letting me know! :smile:

[2020-08-16 16:31] akshay1992kalbhor commented on #9957
Hi, I found two keys with the same value in backgrounds.json:

    { "backgroundShop" : "Background Shop", "backgroundShopText": "Background Shop" }

I am assuming one of the above (key, value) pairs should be removed?

[2020-08-17 07:31] Alys commented on #9957
@akshay1992kalbhor Not necessarily, it's possible that both are used, and if so we may want to keep both. Even though they're both the same now, at some future time they may be given different values.

You can find out where they are used (if they are used) with `git grep backgroundShop`
The results will contain a lot of hits from the translated locales files so if you want to remove them you can

[2020-08-17 10:30] Alys commented on #12405
I've completed Stage 2. Stage 3 is now ready to be worked on. I've updated the top post to indicate that.

Thanks @Scottd125  and @paglias !

@Scottd125 If you'd like to work on Stage 3, post here briefly to say so. Don't feel obliged to though! It's up to you. :) If we don't hear from you either way in a couple of days, I'll mark this as help wanted.

[2020-08-17 10:38] #12407 closed, assigned to nobody

[2020-08-17 14:54] Tressley commented on #11266
Designs are completed and in Zeplin. https://zpl.io/VKMZDg6

[2020-08-17 19:18] benkelaar commented on #11266
Can I pick this one up? I think I still need to be added to the Zeplin project, user benkelaar.

[2020-08-17 22:47] Alys commented on #11266
@benkelaar Thanks! I've marked this as in progress for you.

I believe the Zeplin access needs us to use your email address, but we can use the email address in your Habitica account if you wish - just let us know if that's the right one, no need to post it here.

Alternatively, you can give us a different email address if you wish, either here or by email to admin@habitica.com if you want to keep

[2020-08-18 09:33] shanaqui commented on #12377
@Amberlisi Thanks for checking in! :)

[2020-08-18 09:34] shanaqui commented on #11356
@dabrowskif Since I didn't hear back, I'm marking this as help wanted again. You can let us know if you want to pick it back up later, of course!

[2020-08-18 09:35] shanaqui commented on #9957
@junewerner Hi! Since I didn't hear back from you I'm marking this as help wanted again, but if you want to pick it back up in future, you can just let us know again!

[2020-08-18 09:48] shanaqui commented on #12417
Hi @hamboomger, just checking in how you're doing on this! Still want to work on it? If not, or if we don't hear from you in a week, we'll mark it as help wanted again just to make sure it doesn't go stale. :)

[2020-08-18 09:50] shanaqui commented on #11450
@alexandreabeh Hi! Just checking in whether you still want to work on this further, or whether we should open it up as help wanted again. If you don't want to work on it or we don't hear from you within a week, I'll go ahead! :)

[2020-08-18 11:01] Alys opened #12481 "enhance "Get members for a challenge" API route to include tasks"
Currently, the API route [Get members for a challenge (/api/v3/challenges/:challengeId/members)](https://habitica.com/apidoc/#api-Member-GetMembersForChallenge) returns:
- the participants in a challenge
- their public profile data if `includeAllPublicFields` is set to `true`

In addition to its current behaviour, we it to have a new optional Boolean parameter called something like `includeTasks`

[2020-08-18 11:05] Alys commented on #12481
I've labelled this "medium level coding" because I _think_ it should be not too hard since you can look at how the `includeAllPublicFields` option was set up, and can look at the task routes for fetching task data, but it may be at the more difficult end of medium. If you take this up and run into trouble, feel free to ask for help!

[2020-08-18 14:42] Tressley commented on #11450
@shanaqui -- This is actively being worked on in #12363

[2020-08-18 16:41] SabreCat commented on #11767
A Javascript `confirm()` prompt would be fine here, though if you want extra contributor-tier brownie points, you could abstract https://github.com/HabitRPG/habitica/blob/develop/website/client/src/components/payments/cancelModalConfirm.vue to a more generic mixin and employ that!

[2020-08-18 16:44] veeeeeee opened #12482 "Data Export Erroring Out"
Users report being unable to export data via XML or JSON in #10100.

Per suggestion from @paglias, the JSON export can be accomplished via this link: https://habitica.com/user/settings/data-export instead of accessing it directly

Previous discussion located at #10100 but as the cause is likely to be different, we are starting with a new issue ticket.

[2020-08-18 16:45] #10100 closed, assigned to nobody

[2020-08-18 16:57] veeeeeee commented on #10446
We're putting this on hold for now until Gem Bank has more functionality.

[2020-08-18 17:03] SilkAndSlug commented on #12482
`{
success: false,
error: "InternalServerError",
message: "An unexpected error occurred."
}`

https://habitica.com/export/userdata.xml

[2020-08-18 20:09] benkelaar commented on #11266
@Alys Indeed, that's the right one! Thanks!

[2020-08-18 22:40] Scottd125 commented on #12405
I'll be happy to tackle Stage 3!

[2020-08-19 08:12] Alys commented on #12405
@Scottd125 Fantastic, thanks!

[2020-08-19 17:15] mbroshi commented on #12437
I have never contributed before, but I would be interested in taking a crack at this one. My guess is that the issue is a regex gone haywire, which would be good for a first-timer like myself.

[2020-08-19 17:36] paglias commented on #12437
thanks @mbroshi ! I've marked the issue as in progress for you, let us know if you have any question but it's very likely the issue is indeed a regex one

[2020-08-19 18:56] Liviathan2 opened #12485 "feeding pets food cursor equips and unequips the pet"
[//]: # (Before logging this issue, please post to the Report a Bug guild from the Habitica website's Help menu. Most bugs can be handled quickly there. If a GitHub issue is needed, you will be advised of that by a moderator or staff member -- a player with a dark blue or purple name. It is recommended that you don't create a new issue unless advised to.)

[//]: # (Bugs in the mobile apps can also

[2020-08-20 01:34] alexandreabeh commented on #11450
Hi, yes I'm still working on this issue and will be starting another branch for keyboard accessibility in the Shops once the above PR is wrapped up :)

[2020-08-20 02:27] Alys commented on #12485
Any feedback, questions, or concerns about the [Community Guidelines](https://habitica.com/static/community-guidelines) or any other aspects of Habitica related to the community, chatting, etc can be sent to the staff at admin@habitica.com. You may like to copy your comments and questions about that from this issue into an email.

Bugs can also be reported at that address if you don't wish to acce

[2020-08-20 04:47] mbroshi commented on #12437
Nothing is ever simple! I've found the root cause in the isLinkOrEmail function in the habitica-markdown project. That function has some surprising behavior:
"www.google.com@user" is considered the URL link http://www.google.com followed by an @user mention
but
"http://www.google.com@user" is consider the URL link http://www.google.com@user with no @ mention
That behavior is enforced by unit tests

[2020-08-20 10:24] paglias commented on #12437
@mbroshi I'd keep the issue open here but you can open a new one in the habitica-markdown repo here https://github.com/HabitRPG/habitica-markdown/issues/new or if you have a fix ready you can make a pr directly without opening an issue

[2020-08-20 13:43] projectormato commented on #10008
Hello!
I am interested in working on this issue.

I’m not familiar with Habitica, can you give me some advice on which image needs an alt? (Or can you tell me how to find out?)

I’m not good at English, so I’m using Google Translate (or getting help from friends).

[2020-08-20 18:22] Liviathan2 commented on #12485
I refreshed the website, and it's still having the same problem.  This time it would not feed meat to my griffin.

[2020-08-20 18:40] SabreCat commented on #12485
Removed the off-topic section of the main post to make it easier to read for anyone investigating the issue!

[2020-08-20 19:12] benkelaar commented on #11266
@paglias I noticed your comment showing it won't show the levelUp modal on from the RYA modal. What's the RYA modal? Raise Your Attributes?

[2020-08-20 19:22] SabreCat commented on #11266
@benkelaar: That's "Record Yesterday's Activity"--the modal that lets you check off Dailies due on the previous day, before your start-of-day processing (the `cron` function) runs.

[2020-08-20 20:01] benkelaar commented on #11266
Ah, clear, that's the "yesterdaily" modal right?

[2020-08-20 20:48] SabreCat commented on #11266
Correct. "Yesterdaily" is the internal or casual dev term; "Record Yesterday's Activity" is the official name!

[2020-08-21 00:04] Alys commented on #12485
@Liviathan2 which type of Gryphon was it? E.g., Base, Desert, etc

Was there an error message when you tried to feed it?

Can you give us that list of extensions you have installed that may affect Habitica in any way?

[2020-08-21 09:46] #11265 closed, assigned to nobody

[2020-08-21 09:46] #12248 closed, assigned to paglias

[2020-08-23 02:30] Alys opened #12487 "Stealth on-hover text confusing when all Dailies are completed / not due"
Stealth's on-hover text is misleading if you have not cast the Skill today and you don't have any remaining Dailies due. This is the current text:

https://github.com/HabitRPG/habitica/blob/d0bc0dbe498adbe036e01c261d8eed12a68c4dc2/website/common/locales/en/spells.json#L79

Possibly it should be changed to make it more generic so that it applies in either case. E.g., "There is no need for you to ca

[2020-08-23 16:57] mbroshi commented on #12481
I'd like to give this one a try, although I'm brand new to this project, so I am stretching a bit. It looks simple enough to add a new Boolean field, and then it should just be a matter of figuring out how to run the correct query.

Am I correct that when `includeTasks` is set to `true`, the data sent back should include all tasks for each user for that challenge along with their completion status

[2020-08-23 19:50] Gumnos commented on #12487
The advantage to being Gumnos both here and on Habitica is that I get tagged into these discussions here. 😉

I like @citrusella's phrasing best so far as it covers both the "you've already used it" case and the "you haven't used it, but if you did, it wouldn't do anything" case. Maybe something like "No uncompleted dailies for you to sneak past."?

[2020-08-24 03:35] Alys commented on #12481
@mbroshi Thank you! I've marked it as in progress for you. You're very welcome to keep asking questions here when you need to.

The data sent back will include an object for each challenge participant. Each object should have all of the challenge's tasks for that participant. No other tasks need to be included.
The completion status will already be in each task's data (along with all other details

[2020-08-24 03:38] Alys commented on #12487
What about "No remaining uncompleted Dailies for you to sneak past" to cover the case where there are uncompleted Dailies that have been stealthed. Does "remaining" indicate that appropriately?

I like the "sneak past" terminology!

I prefer all of the suggestions here over mine so mine can be withdrawn from consideration. :)

[2020-08-24 04:22] citrusella commented on #12487
The only thing I wonder is if "sneak past" fits for Chilling Frost as well (like, I genuinely wonder... mage-ing was never my strong suit, so I have no idea XD).

[2020-08-24 11:02] Alys commented on #12487
Oh heck! I forgot that same string was used for Chilling Frost as well as Stealth! Well done @citrusella !

So yes, we shouldn't use "sneak" or other words reminiscent of "stealth" in the string (although we could split this into different strings for each skill but that's probably more effort than is really needed at the moment). We could go for one of the generic options suggested so far and the

[2020-08-24 12:07] Gumnos commented on #12487
I agree that "sneak" doesn't apply so well for Chilling Frost.

I originally considered the more generic "No uncompleted dailies for this to {affect,effect}" but would have had to think long and hard about whether it's "affect" or "effect" because I always struggle with this one in certain cases.

[2020-08-24 12:36] citrusella commented on #12487
It's affect. 😛 ("Effect" as a verb does have uses (i.e. "to effect change") but I'm pretty sure they don't apply here. "Effect" as a verb is more like "to implement"; "affect" as a verb is "to influence or change" in this context. That is, the dailies are influenced to keep their streaks or not damage you, therefore "affect". ... </teacher voice>)

(Also, I did think about putting that extra edit

[2020-08-24 13:26] Scottd125 commented on #12405
Hey all, just a quick question.

In the last PR it was requested to add the bannedWordsAllowed property to a noSet property.

As the third stage features the bannedWordsAllowed property to be set by an admin on the website via a form. Would it be fine to remove it from the noSet property or is it included there for other reasons that I may be missing?

[2020-08-24 14:41] prachi15091999 commented on #11767
Sir
My team of some students are looking for an open source project to contribute to, and this seems like a good starting point to work on.
We have thought to solve this issue and some other issues of this project that could be  added to this proejct.
So our work considered for merging with the project?

[2020-08-24 14:43] Tressley commented on #11356
Hi @raghavchugh21 -- Please provide an email address to receive a Zeplin invite. Zeplin is how the platform we use for design hand-off to contributors.

[2020-08-24 14:45] prachi15091999 commented on #11767
Sir
My team of some students are looking for an open source project to contribute to, and this seems like a good starting point to work on.
We have thought to solve this issue and some other issues of this project that could be added to this proejct.
We will make a pop up dialogue box to solve this issue with good design.
So our work considered for merging with the project?

[2020-08-24 16:02] paglias commented on #12405
@Scottd125 it was added to `noSet` because otherwise the leader of the group would be able to change its value, the idea is that in the updateGroup route there'll be a special check to see if the user making the update is an admin and in that case if `bannedWordsAllowed` is passed in the request body it should be used to update the value of the field

[2020-08-24 16:25] paglias commented on #12481
@mbroshi the idea is that when `includeTasks` it should return the same data as the individual GET member route for a challenge member https://habitica.com/apidoc/#api-Member-GetChallengeMemberProgress, so an array of tasks for each member with the challenge tasks. You can also try to share the code between this route and the individual get member one

[2020-08-24 16:35] Scottd125 commented on #12405
@paglias Thank you for the clarification, I ended up getting myself a bit confused but that makes a lot more sense now

[2020-08-24 18:01] raghavchugh21 commented on #11356
Here's my email - 18ucs195@lnmiit.ac.in

[2020-08-24 19:39] raghavchugh21 commented on #11356
Starting my work on the issue, kindly share the acceptance tests.

[2020-08-24 21:02] benkelaar commented on #12482
I can take a stab at this if you don't mind.

[2020-08-25 07:53] Alys commented on #11767
@prachi15091999 Hi! Thank you for wanting to work on this! I've marked it as in progress for you.

If you'd like to do something more complex than a Javascript confirm() prompt, it may be best to post some details here first about what you are thinking of doing. You're also welcome to post here if you have any questions or run into problems!

By the way, just so you know, not everyone here is male

[2020-08-25 08:15] Alys commented on #12482
@benkelaar Thanks very much! Please go ahead.

[2020-08-25 09:12] shanaqui commented on #12417
@hamboomger I'm marking this as help wanted again, but just let us know if you'd like to pick it up again sometime in the future and nobody else has! :)

[2020-08-25 14:10] paglias commented on #11356
@raghavchugh21 what do you mean by acceptance tests?

[2020-08-25 14:18] raghavchugh21 commented on #11356
@Tressley @paglias  Can you point out your requirements from this issue once more?

[2020-08-25 14:26] paglias commented on #11356
The requirements are to change the Skills Layout to match the design that you can find here on Zeplin https://app.zeplin.io/project/59c16a1433075573feaa48fb/screen/5dadbe46c02f1e83270ec082

[2020-08-25 14:33] raghavchugh21 commented on #11356
@paglias Great. Working on this right away!

[2020-08-25 15:11] paglias commented on #10008
@projectormato basically every `img` element (you can search for `<img` in the `website/client/src` folder) should have an `alt` attribute

[2020-08-25 15:15] paglias commented on #10679
I just tried to replicate this issue after the bulk scoring PR was merged and I can't replicate nor the issue described here nor the one reported by @citrusella . In particular I left a tab open with an edit task modal and went back to it after cron time, the RYA modal appeared correctly and the edit task modal wasn't closed even after starting my day:

<img width="662" alt="Schermata 2020-08-25 a

[2020-08-25 15:15] #10679 closed, assigned to nobody

[2020-08-25 15:18] paglias commented on #10008
SVG elements as well should have alt texts as explained here https://webdesign.tutsplus.com/tutorials/accessible-svg-methods-for-adding-alternative-content--cms-32205#:~:text=The%20element%20for%20an,have%20multiple%20title%20elements%20embedded. but it's more complex so @projectormato I'd first handle the images and later, in a separate PR, the SVGs icons

[2020-08-25 16:30] veeeeeee commented on #12487
Let's try "Using this skill won't have any additional affect" to start. We can always adjust if additional confusion arises.

[2020-08-25 16:38] veeeeeee commented on #10605
Closing this issue for now. Can reopen or start a new issue if recurring.

[2020-08-25 16:38] #10605 closed, assigned to nobody

[2020-08-25 16:41] Tressley commented on #11356
@raghavchugh21 -- Please take a look at #10618 as it overlaps with this issue.

[2020-08-25 16:45] veeeeeee commented on #10653
Closing since IE is being discontinued in favor Microsoft Edge. We don't have the resources to support more than MSFT does, unfortunately.

[2020-08-25 16:45] #10653 closed, assigned to nobody

[2020-08-25 16:46] citrusella commented on #12487
...I feel the need to point out that in that phrasing, it's "effect". (Curse my teacher brain.)

[2020-08-25 16:59] veeeeeee commented on #10771
Closing this issue in favor of starting a new one without extraneous Group Plan details, as filters for Group Plan (now Teams) have been removed.

[2020-08-25 16:59] #10771 closed, assigned to nobody

[2020-08-25 17:01] veeeeeee opened #12495 "filters on Challenge page for Habits, To-Dos, Rewards don't work (sort of works for Dailies)"
From @Alys in #10771

As described in detail below, most of the normal task filters (due, completed, etc), aren't of much use when looking at a Challenge's main page ([e.g., this page](https://habitica.com/challenges/14cf33bb-1e97-4a31-8f3d-49c0f9781d3a)). The fixes described below should be done.

This does NOT apply to the screens you see when you are looking at an individual member's Challenge