[2017-01-26 23:27] Alys commented on #8207
MEmry, the worker bee (df8b14f2-e135-4789-970d-5056e99fcc3f) has reported this in a party of three. I've edited the top post to remove the statement that it's only for large parties.

[2017-01-27 07:00] ghost commented on #5639
OK, knowing that it's OK from the lodash point of view and having the exception in the test script, I believe translators can share the practice of not including article tokens in these three strings: messageDropFood, feedPet, and armoireFood.

I'll close the issue now. Should developers want the translators to revisit these strings later in the future then either wording can be changed in English

[2017-01-27 07:00] #5639 closed, assigned to nobody

[2017-01-27 16:06] lynxlynxlynx commented on #5639
It's a wider problem, but I agree a separate report would be better. Nobody commented yet though.

[2017-01-27 18:12] artemisclyde opened #8459 "Subtask checkboxes not displayed on mobile"
As you can see in the image below, checkboxes are not displayed at my daily subtask. I can still click them and the tick will appear, but the boxes are missing.

**Device information:**
Phone: One Plus X
Android Version: 6.0.1
Habitica Version: 0.0.36 (148)

![photo_2017-01-27_19-07-42](https://cloud.githubusercontent.com/assets/16636453/22381994/1f497f2c-e4c4-11e6-8de2-633ad46578dd.jpg)

[2017-01-27 18:29] paglias commented on #8459
@artemisclyde this should be reported in the android repo https://github.com/HabitRPG/habitica-android

[2017-01-27 18:29] #8459 closed, assigned to nobody

[2017-01-28 05:43] Alys commented on #7715
@MathWhiz I think it should be fine to work on this now. It's for Dailies and #8414 is for To-Dos so there should be no conflicting overlap. However the method used to fix that other issue might be suitable for this one too and we'll probably steal and adjust the migration script from 8414. :)

[2017-01-28 05:44] Alys commented on #8452
@MathWhiz Yes. :)

[2017-01-28 06:15] Alys commented on #8430
@brockmacd You do own the equipment from this quest. You'll find it in your equipment list. On the website, you can use the search form to search for it by name or partial name.

We have a guild within Habitica now for faster reporting of problems. You can get to it from Help > Report a Bug from the website's menu or Guilds > Report a Bug from the mobile app. We can usually give rapid replies with

[2017-01-28 06:15] #8430 closed, assigned to nobody

[2017-01-28 11:09] aurlxo commented on #1753
I'd like to have the option to edit challenge task titles on my own task board.

In my opinion, the possibility of forgetting the original task is a small downside in this. Being able to edit the tasks to fit your own task style feels almost like it should have always been possible since people have different ways of playing Habitica! It could be even done so that you could check the original desc

[2017-01-28 11:30] Alys commented on #1753
@Vamii The possibility of a challenge participant forgetting the original task is actually a fairly serious one because all participants are meant to have identical tasks when they take part in a challenge, and are meant to action them in the way the challenge owner deemed correct. Challenges are the one place in Habitica where differences in play style sometimes need to be minimised so that all p

[2017-01-28 12:06] aurlxo commented on #1753
@Alys Thank you for the fast answer! I do understand your concern with this issue.

Still, I believe that as completing a task is also up to the conscience of the players (it would be possible to participate in challenges and just click through them regardless), I don't think it's that likely, or a major issue, if someone ends up "completing" challenge tasks in a slightly modified way that fits th

[2017-01-29 13:21] joedragons commented on #7749
FYI, I logged in this AM to accept my damage and did not notice any change.  I am now on Windows 10 and FF51 but otherwise seems to behave the exact same for me.  I am not sure if there's any reopen procedure or I should file again or what.  I will keep an eye out to make sure I am not just sleepy and missed it but I am certain I saw the non-boss damage and I am certain I took damage so unless the

[2017-01-29 13:30] joedragons commented on #6025
As stated/hinted, seems to affect "Every X Day" dailies the same way.  That's how I noticed.
I think my monitor is pretty big at 1920x1080 but under the new popout system I'm for less redundancy/anything that doesn't make me need to scroll more=)
Since advanced options are expanded by default I am for leaving it there tho there may be aspects of the tasks that others use differently or are differe

[2017-01-29 21:40] Alys opened #8461 "quest participation changed from true to false mid-quest"
This might be a once-off weird glitch but I'm recording it now in case it turns out to be a recurring bug.

In the Report a Bug guild, trowelmunkie (365ebf2d-74ae-4a20-9949-51e64f9152ba) reported "My account isn't recording damage I make against the boss. I'm a member of the party, my weapon is equipped, I'm not at the Inn, I'm getting credit for checking in, and my spells are being applied to the

[2017-01-29 22:03] Alys commented on #6025
@joedragons Advanced Options are only expanded by default if you've selected that behaviour under Settings > Site.
We're part way through a project to improve the website in various ways so it's likely that we'll look at streamlining the task edit screen during that project.

[2017-01-30 00:07] robertoschiavone opened #8462 "Enough exp to level up, enough damage to get killed"
[//]: # (Before logging this issue, look through common problems at https://github.com/HabitRPG/habitrpg/issues If you find your issue there, read at least the first post to see if there is a workaround for you)

[//]: # (Github is primarily used for reporting bugs. If you have a feature request, use "Help > Request a Feature" so that the feature request can be vetted by the larger Habitica commun

[2017-01-30 04:54] Moniarchy commented on #8397
@Alys Hi! I've been overwhelmed with work so haven't fixed the code but I'm going to be working on it this evening. I think I pinpointed the problem a while ago but I stopped when I had a rebase problem. Anyway, look forward to a PR soon, thanks for all the patience.

[2017-01-30 11:13] Alys commented on #8461
trowelmunkie says that they don't remember any errors or unusual behaviour around the time that this problem started (about a week ago).

[2017-01-30 11:21] Alys commented on #8368
From the Report a Bug guild by ReadyToBegin (31436f61-eac6-4886-8187-ebaa1d5080c6):
"Minor bug where widget for Android shows 1 less health than on site and on app. Ex. Widget has 47 when everything else has 48."

I've added that to the top post ("Android widget: rounds down")

[2017-01-30 16:24] librarianmage commented on #8087
I can do Development!

[2017-01-30 20:28] cTheDragons commented on #8350
Since this appears to only be affecting me and this particular challenge may I close the challenge please?

[2017-01-31 00:57] Alys commented on #8163
I'm seeing this happen more and more, and I haven't seen any reports of it happening again immediately after I've fixed it so I don't think it's caused by any specific problems in players accounts. I.e., it could be more or less random due to currently unexplained timeouts during cron. Obviously we should work out what's causing that and fix it but that might not be easy.

If there's no complaints

[2017-01-31 15:11] toddmedema commented on #4173
Also looking forward to this! Much needed for exercise tasks (aka exercise every 2 days)

[2017-01-31 16:26] TheHollidayInn commented on #4173
This and a few more repeatables are being worked on here: https://github.com/HabitRPG/habitica/pull/8444 .

[2017-01-31 21:09] Alys commented on #8350
I'm really sorry we never solved this. :(  Is there any data we can give you to help you assess the challenge?

[2017-01-31 21:12] cTheDragons commented on #8350
No I'm good. I think :) As you know using my own "ways" to see if I can find the answers I need.

[2017-01-31 22:28] sriramsharma25 commented on #8443
Could I contribute here? Can someone guide me on how to get started? Thanks!

[2017-02-01 09:50] youve opened #8464 "Desktop notifications nagging in unsupported browser"
[//]: # (Before logging this issue, look through common problems at https://github.com/HabitRPG/habitrpg/issues If you find your issue there, read at least the first post to see if there is a workaround for you)

[//]: # (Github is primarily used for reporting bugs. If you have a feature request, use "Help > Request a Feature" so that the feature request can be vetted by the larger Habitica commun

[2017-02-01 16:20] SabreCat opened #8465 "Arrange Magic Potion pets in seasonal order"
[//]: # (Before logging this issue, look through common problems at https://github.com/HabitRPG/habitrpg/issues If you find your issue there, read at least the first post to see if there is a workaround for you)

[//]: # (Github is primarily used for reporting bugs. If you have a feature request, use "Help > Request a Feature" so that the feature request can be vetted by the larger Habitica commun

[2017-02-01 17:59] paglias commented on #8464
@youve to check that the browser supports notifications we don't use the user agent but
[code]

and it correctly returns false if `window.Notification` doesn't exist meaning that the Notification service isn't supported by the browser. And it's the suggested method to check for notification support by [MDN](https://developer.mozilla.org/it/docs/Web/API/notifiche) and across the web.

If we're miss

[2017-02-01 19:42] GrayDays commented on #8307
Tested task editing on the site itself and I'm still having the same problems I mentioned here https://github.com/HabitRPG/habitica/pull/8456#issuecomment-276490294

[2017-02-02 01:23] willira2 commented on #8465
Hi, mind if I take this one?

[2017-02-02 04:14] SabreCat commented on #8465
Go for it!

[2017-02-02 04:23] SabreCat commented on #6169
@veeeeeee ran into this, or something very much resembling it, today. https://gyazo.com/fa6c6571c5953d6a0af1da17303b8466

It was 5:43 PM in the Pacific time zone when she reported it, which would mean it was February 2 in UTC but February 1 in her local zone. The `EVENTS` end date is `2017-02-02`...

[2017-02-02 08:38] youve commented on #8464
Hey, thanks for your help. What I was hoping for was that you would add something like this to the dialog:

![buttons](http://i.imgur.com/t5zGpkg.png)

I still think you should do that.

But you gave me the words I needed to fix the problem for myself -- googling "window.Notification.permission" was enough to help me figure out some other things to search for to find what I needed. I had to add ab

[2017-02-02 11:15] paglias commented on #8464
@youve glad you managed to get it working but I don't think we should implement the change. We respect the way the Notification is supposed to work and your problem seems to be due to some incorrect implementation at the browser level

[2017-02-02 11:15] #8464 closed, assigned to nobody

[2017-02-02 16:04] TheHollidayInn commented on #8465
We should consider how we will order these if we move content to the DB.

[2017-02-02 16:19] mandyzhou commented on #8307
Given @GrayDays's comment, are there any downsides to allowing the modal to shrink further? A few other outstanding pieces of feedback from the pull request:
- There seem to be further opportunities to save on vertical space by removing double horizontal lines and reducing vertical padding (e.g., there's a lot of extra padding under the Repeat Every options).
- The daily modal has the Repeat Every

[2017-02-02 16:31] madpink commented on #8087
Tag and Task have both been merged, I am going to start wading into "user" has anyone already started on it?

[2017-02-02 16:54] lynxlynxlynx commented on #8452
Ok, I'm back. These tests are just properties on the object find() and remove() use to filter. Since there's two of them and few uses, a wrapper doesn't make that much sense. I envision the function to simply append the extra property on call, before the filtering starts. Is that what you had in mind @paglias ?

[2017-02-02 16:55] paglias commented on #8452
Actually I was thinking to move the mongodb query (https://github.com/HabitRPG/habitica/pull/8427#issuecomment-274513364) to a variable and use it in all the places where it's necessary instead of copying the code around

[2017-02-02 17:01] lynxlynxlynx commented on #8452
Good idea, even cleaner.

[2017-02-02 17:14] aureo96 commented on #8443
Have you tried testing this theory whit a text similar to what you want to send but without the "&"? What comes to mind is that when sending the message the message is chopped into chuncks (for faster and easier reading) by http or some other protocol. So, if you do not keep the connection active only a chunck will be sent.
Note: Also are you converting the text to hex before sending it?

[2017-02-03 02:18] librarianmage commented on #8087
@madpink From the comments, it appears that no one has started working on it, so you should have no problems starting!

@Alys @crookedneighbor I took a peek at the current state of the api documentation, and would suggest this break-down for PRs (keeping in mind the 10 max routes/PR suggested):

* [GET `/api/v3/user`](https://github.com/HabitRPG/habitica/blob/develop/website/server/controllers/api

[2017-02-03 07:38] Alys commented on #8087
I've broken down `user` as suggested by @MathWhiz

@madpink I've assigned you to the first set but let us known if you've started on one of the others.

[2017-02-03 07:44] Alys commented on #8443
@aureo96 The successful test with the 70-character-long string implies it is the &. It's almost certainly that encoding is needed, as TheHollidayInn suggests. It's unlikely to be from the connection not staying alive long enough - we don't have that problem when sending much larger sets of data.

[2017-02-03 11:25] madpink commented on #8087
okay dokeey... I will begin on the first segment

here's a quick question, I like including sample output, but for GET /api/v3/user even with a new user it is extremely long (almost 600 lines)... which would make the most sense:
-abbreviating the output by removing some lines
-skipping the output altogether when it is long
-including the whole thing
-move output to a wiki page and link back

[2017-02-03 11:28] paglias commented on #8087
@madpink I think abbreviating the output in places where there are long lists (for example items, email preferences, ...) is the way to go. Also because the attributes in those lists change quite frequently and we don't want to update them every time an item is added

[2017-02-03 18:19] aureo96 commented on #8443
Is the Message being sent as html, Json, or something else?

Sent from my iPhone

On Feb 3, 2017, at 1:44 AM, Alys <notifications@github.com<mailto:notifications@github.com>> wrote:

@aureo96<https://github.com/aureo96> The successful test with the 70-character-long string implies it is the &. It's almost certainly that encoding is needed, as TheHollidayInn suggests. It's unlikely to be from the c

[2017-02-03 18:27] aureo96 commented on #8443
Also I recommend using wireShark to capture what is being sent and see the contents.

Sent from my iPhone

On Feb 3, 2017, at 1:44 AM, Alys <notifications@github.com<mailto:notifications@github.com>> wrote:

@aureo96<https://github.com/aureo96> The successful test with the 70-character-long string implies it is the &. It's almost certainly that encoding is needed, as TheHollidayInn suggests. It's

[2017-02-03 18:44] vincecampanale commented on #8351
@Alys @SabreCat
Hi guys! Sorry for the delay. Finally dedicating time to this and it _will_ get done. So it seems like several things need to be removed in order to fully remove this notification from the game. Please let me know if I'm missing something or if I have included something that must stay.

* the entire readCard.js test in /test/common/ops
* `readCard` on line 462 of userServices.js in

[2017-02-03 20:56] Alys opened #8472 "Challenge tag edit field appears when editing a saved challenge"
When editing a challenge that was created in the past, there's a field for editing the tag. That field should be removed because it is not permitted for the challenge owner to edit the tag after the challenge has been created.

We should also put a message on the challenge creation form to explain that the tag can't be edited after the challenge is saved. It should probably go just before the "Mor

[2017-02-03 21:02] Alys commented on #8472
We should also put a message on the challenge creation form to explain that the tag can't be edited after the challenge is saved. It should probably go just before the "More Info" tool tip link. It's important that the message also appears on the form you see just after you clone the challenge (it's almost certainly the same form but whoever adds this message should test that).

I'm editing the to

[2017-02-03 21:15] SabreCat commented on #8351
@vincecampanale Hmm, no, taking all that out would entirely remove the functionality for marking a card as read. We do want users to be able to read cards and remove them from the queue, we just want to avoid displaying the little "nye has been read" growl.

Here's where that happens:  https://github.com/HabitRPG/habitica/blob/ea24eeb0199a687115da0224b64b62c57629aea2/website/client-old/js/services

[2017-02-03 21:17] vincecampanale commented on #8351
Got it. That's very helpful feedback - good thing I didn't just start deleting! Thanks @SabreCat

[2017-02-03 22:29] Alys commented on #8443
@aureo96 WireShark is for analysing network problems, which is unlikely to be relevant to this issue.

@sriramsharma25 I'm sorry, we missed your post from three days ago. To get started, you'd [install Habitica locally](http://habitica.wikia.com/wiki/Setting_up_Habitica_Locally) then do some testing with the API's [removeMember](https://habitica.com/apidoc/#api-Group-RemoveGroupMember) route to se

[2017-02-04 00:56] madpink commented on #8087
I am having a problem with the delete user command. I create a dummy account to delete, but I can't get it right.

I tried the following curl command:

`curl -X DELETE -H “Content-Type:application/json” -H “x-api-user:xxxxxxxx-5a12-4a06-91e6-6877b6b6ea6a” -H “x-api-key:xxxxxxxx-a225-4e5b-b178-14bb9064eed4” -d {“password”:”abc123”} https://habitica.com/api/v3/user`

and I tried:
`curl -X DELETE -H

[2017-02-04 01:09] Alys commented on #8087
@madpink I can confirm that the UID and Token are correct. :) You left them in place in the second curl command, but I've edited them out since your test account has an email address in it that might be a real one. If it weren't a test account that was going to be deleted, I'd change the token.

Does `DELETE` work like `POST` or `PUT`? I can't recall. If so, the syntax for a body parameter is more

[2017-02-04 04:40] Alys opened #8474 "Task edit screen changes: move Dailies repeats out of Advanced Options; enlarge Notes; reduce spacings"
Following on from issue https://github.com/HabitRPG/habitica/issues/8307 "New Edit functions requires more scrolling on smaller screens" and from PR https://github.com/HabitRPG/habitica/pull/8456 "Added double columns to edit modal", there are some more changes we can make to the task edit screens:

For reference for the current edit modal, see the screenshot below.

- Give the task title near the

[2017-02-04 04:43] Alys commented on #8307
I've created a new issue for most of those changes: https://github.com/HabitRPG/habitica/issues/8474
"Task edit screen changes: move Dailies repeats out of Advanced Options; enlarge Notes; reduce spacings"

If I've left anything out, please tell me and I'll update it.

@GrayDays For this:
"if I add checklist items in edit mode and then try to scroll down, it scrolls the background instead of the e

[2017-02-04 17:25] madpink commented on #8087
@Alys Thanks, and oops.  I've tried numerous methods to send the delete user command, I still cannot get any result other than either "There is no account that uses those credentials." or "Invalid request parameters."

Sending a payload through a DELETE statement is fairly unusual, so is there possibly another step I am missing?

Trying to trace my way through the script, it seems as though I'm pa

[2017-02-04 17:50] akortesmaa commented on #8087
@madpink `curl -X DELETE -H "x-api-user: ***-44a8-b98e-ec4468a7e467" -H "x-api-key: ***-4550-431c-8f4d-4769bc25ec25" -d password=1234 localhost:3000/api/v3/user` worked for me. Response is `{"success":true,"data":{},"notifications":[]}`

[2017-02-04 18:14] madpink commented on #8087
`curl -X DELETE -H “x-api-user:xxxxxxx-5a12-4a06-91e6-6877b6b6ea6a” -H “x-api-key:xxxxxxxx-a225-4e5b-b178-14bb9064eed4” -d password=abc123 https://habitica.com/api/v3/user`

Still will not work for me, I am 100% sure the userID, password and apiKey are correct, but I still keep getting
`{"success":false,"error":"NotAuthorized","message":"There is no account that uses those credentials."}`

[2017-02-04 18:51] akortesmaa commented on #8087
@madpink So you are absolutely sure that the account still exists? Can you `GET` its profile? Do you still get the same response if you create another account and try to delete that?

[2017-02-04 18:53] paglias commented on #8087
If it keeps happening can you send me the ID so I can check if everything
is fine?

Il 04 Feb 2017 19:51, "Atte Kortesmaa" <notifications@github.com> ha
scritto:

[2017-02-04 19:33] madpink commented on #8087
Thanks for the responses... I was able to execute a number of actions on this account such as allocating points, adding tasks and changing class, but oddly I could not DELETE the account nor could I GET the user profile. I have since created another fake account and was able to delete it.

@paglias I sent you the account info if you want to tinker with it.

[2017-02-05 01:35] vincecampanale commented on #8472
I'll take this one!

[2017-02-05 12:57] madpink commented on #8087
I put in a PR for the first batch of User, will start working on the next

[2017-02-05 20:19] joshuaohana commented on #5811
Been a while since this has been commented on... still need help with this feature? It's also one I would love to use instead of all the clicking to sell everything!

[2017-02-05 21:46] marceloneil commented on #8474
I made a couple edits, do you have any feedback @Alys?

![screenshot from 2017-02-05 16-43-42](https://cloud.githubusercontent.com/assets/6353492/22630158/65e52d46-ebc2-11e6-9b3c-73dd8e3d3ac6.png)

[2017-02-05 22:39] khipkin commented on #8465
@TheHollidayInn Maybe assign months/seasons to each potion and group based on that, then sort based on the year it was first added to the game?

[2017-02-06 00:06] aureo96 commented on #8443
I have been giving it a thought and I regretfully decline the offer if the responsibility of fixing the issue falls to me. While I do want to help improve or fixed Habitica bugs I currently can't because I will be entering finals in a week. Plus, I am not sure if I have set up Habitica correctly in my computer. After finals I will be glad to help where I can.

Sent from my iPhone

On Feb 3, 2017,

[2017-02-06 03:03] Alys commented on #8474
@marceloneil I like that! It looks good! Feel free to make a PR. Thanks!

[2017-02-06 05:32] #8254 closed, assigned to nobody

[2017-02-06 05:37] TheHollidayInn commented on #8465
Exactly!

[2017-02-06 05:37] TheHollidayInn commented on #5811
Please do!

[2017-02-06 17:12] joshuaohana commented on #5811
Cool, I'm on it! Question on desired implementation, way I see it there's a couple ways to do it and since I'm new to the project want to make sure I stick with Habitica preferred conventions.

1) Add a deleteAll flag (and its associated pass-thru from client to service) to common/ops/sell which would set qty=0
2) Create a secondary endpoint and common/ops function for sellAll

I'd prefer #1, espe

[2017-02-06 17:37] Alys commented on #5811
Should `deleteAll` be `sellAll`?

Option 1 sounds best to me too, but if other admins disagree, go with what they say. I think it's likely that at some future time, we'll have support for selling a specified number of items, so it would be neater to have only one route that can handle 1 item (the default) or N items or all items.

In the API, I wonder whether this needs to be implemented as `sellA

[2017-02-06 18:28] rakesh-tirupathi commented on #8465
Hi ! I am new to this And would love to contribute here. Can someone guide me on how to get started. Thanks.

[2017-02-06 19:54] joshuaohana commented on #5811
@Alys I am all for a sell N instead of sellAll. Could just be a text input (or slider?) that defaults to 1, and a param input on the api side. I'll get to it!

I'm not sure how approval or whatever works... am I "approved" to do the feature as you suggested above or do we need to go through the Trello board or anything?

Implementation plan;
1) UI - change sell dialog to allow quantity selection (

[2017-02-06 21:35] khipkin commented on #8465
@rakesh-tirupathi This issue is already in progress by another contributor. However, are other issues ready for someone to take on! I suggest looking at issues labeled with ["Help Welcome Now"](https://github.com/HabitRPG/habitica/labels/status%3A%20issue%3A%20help%20welcome%20now)

[2017-02-06 22:26] SabreCat opened #8478 "Check-in Incentives popup should have an opt-out option"
[//]: # (Before logging this issue, look through common problems at https://github.com/HabitRPG/habitrpg/issues If you find your issue there, read at least the first post to see if there is a workaround for you)

[//]: # (Github is primarily used for reporting bugs. If you have a feature request, use "Help > Request a Feature" so that the feature request can be vetted by the larger Habitica commun

[2017-02-07 00:03] Alys commented on #5811
@joshuaohana I think a text input would be better than a slider since it's probably easier to specify the exact amount you want to sell, especially for people with motor difficulties who might have trouble using the slider precisely.

My personal preference would be for `quantity` rather than `qty` in the code. Not sure if you were going to do that anyway and were just abbreviating it here. :)

Yo

[2017-02-07 01:03] joshuaohana commented on #5811
Sounds good thanks @Alys

Agreed, quantity does look better, was just abbreviating here but intended to follow whatever naming conventions already existed in the code ... having a poke through the code seems quantity is used most of the time, but qty is used once in the analytics service, lol, guess I'll be going with `quantity` :)

[2017-02-07 15:48] SabreCat opened #8482 "Timeouts in Amazon Payments test"
[//]: # (Before logging this issue, look through common problems at https://github.com/HabitRPG/habitrpg/issues If you find your issue there, read at least the first post to see if there is a workaround for you)

[//]: # (Github is primarily used for reporting bugs. If you have a feature request, use "Help > Request a Feature" so that the feature request can be vetted by the larger Habitica commun

[2017-02-08 14:28] applmak commented on #6462
Hi. This issue here is the use of `ngModel` at this line: https://github.com/HabitRPG/habitica/blob/a2cfeafc02393b167cb3dfef0524d7a89b45cc9f/website/views/options/social/chat-box.jade#L11

After every keystroke, `ngModel` does a full `$rootScope.$digest`, which causes the whole page to reflow. I'd suggest removing that directive, and instead, manually assigning to `message.content` in the `keyDown

[2017-02-08 14:37] applmak commented on #6462
Oh, actually you don't even need to pass along `message.content` to the `keydownlistener`! Instead, you can look up the value in the text field via `e.target`, and send it to `postchat` there! If you want, I can draft a PR.

[2017-02-08 15:46] SabreCat commented on #6462
@applmak A PR would be great!

[2017-02-08 19:14] #8465 closed, assigned to nobody

[2017-02-09 02:42] applmak commented on #6462
Okay, so I investigated a bit. Here's what I found:
1. The actual problem is hard to repro on a local dev environment. I'm sure that has to do with the super-fast network and the fact that no one is in my Tavern.
2. I can't just get rid of the `ng-model` and replace it with a custom directive that only updates the scope on form-submission, because the `at.js` autocomplete library is tightly couple

[2017-02-09 04:03] johnpaulada commented on #8443
Hi! I think I can work on this. 😄

[2017-02-09 04:06] Alys commented on #8443
@johnpaulada Great, thanks! Ask here if you have any questions or run into problems.

[2017-02-10 05:32] johnpaulada commented on #8443
Hi! How do I get gems to make a guild? Not entirely sure which field to modify to get gems.

[2017-02-10 06:05] Alys commented on #8443
Use the debug menu in the footer. There's an option for gems.

[2017-02-10 06:08] johnpaulada commented on #8443
Welp, I did not see that. LOL. Thanks!

[2017-02-10 06:14] joshuaohana commented on #5811
Unfortunately barely had any time to work on this save a few minutes here and there... much of which was getting used to navigating around the code base. Coming along well enough though should have a first pass done soon enough. As far as the UI goes, do we want to keep the existing button with the sell one going on and add in the new stuff, or just replace it all with an input+button where the in

[2017-02-10 08:38] johnpaulada commented on #8443
Hi again! Where can you see the message after you've been removed from the guild?

[2017-02-10 09:09] Alys commented on #5811
No worries about the delay; this isn't a high priority change.

I think you can get rid of the existing "sell one" button.

I like the top screenshot with the wide button. That will be good for those languages where the translated strings are longer than in English.

[2017-02-11 06:24] Alys commented on #8142
@jakers821 I've marked this as "help welcome now" again so that someone else can take it up, however if you have time to work on it before someone else has claimed it, comment again here.

Everyone else: Feel free to comment here to claim this if you'd like to work on it.

[2017-02-11 07:06] #8397 closed, assigned to nobody

[2017-02-13 10:02] #8474 closed, assigned to nobody

[2017-02-13 22:05] Alys commented on #2805
I'm closing this because I believe it was fixed by a cron improvement that @paglias made some time ago. I don't recall seeing any instances of this bug recently.

[2017-02-13 22:05] #2805 closed, assigned to nobody

[2017-02-13 22:21] lemoness opened #8488 "New checklist items are sometimes deleted when you click "Save and Close""
UUID: 7bde7864-ebc5-4ee2-a4b7-1070d464cdb0
Browser: Safari Version 10.0.1

### Description
Sometimes when I enter checklist items on a To-Do, often a new To-Do, they are erased when I click "Save and Close." This behavior has been happening for at least a week or two.  The To-Do itself is always saved.

[2017-02-14 00:38] AndrzejDoyle commented on #8441
Hi Alys, I'd like to take a look at this one.  I think it could be quite straightforward, if we use a similar mechanism to the class-bonus suffix.

[2017-02-14 18:28] paglias commented on #8482
New test with similar timeouts

[2017-02-15 10:24] Alys commented on #8443
@johnpaulada Sorry about the delay on an answer for you! It's sent by email and by push notification, depending on your settings from Settings > Notifications on the website. That will make it difficult and maybe impossible to test fully on a local install since emails typically can't be sent from one but other admins might have more ideas about how to test.

[2017-02-15 13:20] mandyzhou opened #8490 "Opening Edit modal causes task columns to widen"
General Info
  * UUID: 8cce502f-a91c-40c2-b782-687759c6da0a
  * Browser: Firefox 51.0.1 (64-bit)
  * OS: Ubuntu 16.10

Posted in Report a Bug guild and directed by @Alys to post here. Every time I edit a task, the Habits column widens, causing the other columns to shift to the right. After I exit the edit modal, the width changes back.

My current screen resolution is 1366x768 and my browser windo

[2017-02-16 16:12] madpink commented on #8087
I have the second batch of User ready and will submit soon (waiting for merger of part 1)
I am going to move on to third batch

[2017-02-16 16:30] librarianmage commented on #8087
Can this be re-opened?

[2017-02-16 17:53] TheHollidayInn commented on #8087
Ah, this closed because you had "Fixes". I would not add that if you are only doing a partial fix.

[2017-02-16 18:20] librarianmage commented on #8087
Yep! I totally forgot to remove it when submitting my PR
On Thu, Feb 16, 2017 at 11:53 AM Keith Holliday <notifications@github.com>
wrote:

[2017-02-16 19:24] madpink commented on #8087
in anyone familiar with how user/unlock is supposed to work?
I tried the following POST's, both of which appeared to work, took gems out of the account, but did not actually do anything

1.  "https://habitica.com/api/v3/user/unlock?path=midnight_clouds"
2 gems were deducted from my account, but Midnight Clouds did not unlock. (and it should have cost 7 gems)

2. "https://habitica.com/api/v3/user/u

[2017-02-16 21:32] Alys commented on #8087
@madpink From a quick look at the code here: https://github.com/HabitRPG/habitica/blob/develop/website/common/script/ops/unlock.js#L12-L32
it looks like the path you specify needs to be a full path (e.g., containing the word "background" for your first example), and it's costing 2 gems (the default 0.5 cost) and failing because you've given it a partial path.

For a background, the path in the use

[2017-02-16 22:53] madpink commented on #8087
thanks @Alys I did test in production, UUID: b0413351-405f-416f-8787-947ec1c85199

for the record, I am almost done with the entire "User" section... I have 5 calls left to test, and these I definitely need to use in a test environment

will do some more testing and then submit an issue

[2017-02-16 23:33] #8482 closed, assigned to nobody

[2017-02-17 09:23] Alys commented on #8087
@madpink I've given you four gems.

[2017-02-17 11:07] #8338 closed, assigned to nobody

[2017-02-17 13:20] kawunngg commented on #8116
and again ...

UID: ce935e7f-00e6-44bc-a44a-5280553810f0

challenge: https://habitica.com/#/options/groups/challenges/2b7a3732-5c78-457a-94e2-9c913d14984c

[2017-02-20 00:18] EYHN commented on #8490
If set the ```<body>``` overflow:auto.I can fix it easily.

and set ```.modal``` overflow:auto,it looks good.
![image](https://cloud.githubusercontent.com/assets/13579374/23108311/9c1ec766-f746-11e6-99ad-d7a0a4980c43.png)

But the page height is too short, there will be two scroll bars
![image](https://cloud.githubusercontent.com/assets/13579374/23108296/4de6ae60-f746-11e6-93aa-368149557d16.png)

[2017-02-20 00:20] mandyzhou commented on #8490
Just as an update, it looks like this is happening for all modals I've encountered, not just the Edit modal.

[2017-02-20 00:23] EYHN commented on #8490
When a modal is turned on,the body's scroll bar is hidden

[2017-02-20 00:29] madpink opened #8496 "API Issue: user/change-class doesn't validate class listed"
[//]: # (Fill out relevant information - UUID is found in Settings -> API)
General Info
  * UUID:  b0413351-405f-416f-8787-947ec1c85199

### Description
[//]: # (Describe bug in detail here. Include pictures if helpful.)

If the class given as a parameter is invalid in an API call, a success is still returned

for example:
`user/change-class?class=cellist`

will still return:
`{"success":true,"dat

[2017-02-20 02:09] madpink opened #8497 "API Issue: release of pets/mounts can give undue achievements"
[//]: # (Fill out relevant information - UUID is found in Settings -> API)
General Info
  * UUID:  b0413351-405f-416f-8787-947ec1c85199

### Description
[//]: # (Describe bug in detail here. Include pictures if helpful.)
Sending release to pets, mounts or both returns a success and grants achievements regardless of whether the user earned it. That is, even if the user has gotten 0 pets, the call w

[2017-02-20 04:37] illuscat opened #8498 "Losing Health Steadily ... for unknown reasons?"
[//]: # (Fill out relevant information - UUID is found in Settings -> API)
General Info
  * UUID: 45cab1d6-0a6a-453f-8a46-a2a807b803ef
  * Browser: Chrome
  * OS: Windows 10

### Description
[//]: # (Describe bug in detail here. Include pictures if helpful.)
Lately, my avatar health has been steadily decreasing ... despite the fact that I have checked off all my dailies and have had no negative ha

[2017-02-20 04:46] Alys commented on #8498
This is most likely a local problem with your account (e.g., missing Dailies that are hidden by a tag) or your browser or computer (e.g., an extension or other third party tool that's subtracting health) since we haven't seen other reports of it. I've seen that you've also reported this in the Report a Bug guild, which is the best place for initial reports of bugs, so I'll keep helping you there.

[2017-02-20 04:46] #8498 closed, assigned to nobody

[2017-02-20 06:31] jtgithub2016 opened #8499 "Quest Acceptance Not Updating in Vivaldi"
[//]: # (Before logging this issue, look through common problems at https://github.com/HabitRPG/habitrpg/issues If you find your issue there, read at least the first post to see if there is a workaround for you)

[//]: # (Github is primarily used for reporting bugs. If you have a feature request, use "Help > Request a Feature" so that the feature request can be vetted by the larger Habitica commun

[2017-02-20 10:15] Alys commented on #8499
Logging out and logging back in shouldn't be necessary. It should be enough to reload the website using your browser's reload or refresh button. I use Vivaldi and I've just tested and that works for me.

When you said "even though I hit "refresh"" were you talking about your browser's refresh / reload button? Or were you referring to Habitica's sync button on the top right of the website? The sync

[2017-02-20 10:15] #8499 closed, assigned to nobody

[2017-02-20 13:38] madpink commented on #8087
I have finished the User section, I am waiting on the first PR to be merged before submitting the next.

I would be willing to pick up on Challenge if needed, or any other sections that might need help

[2017-02-20 16:17] rakesh-tirupathi commented on #8497
Hi guys! I would like to contribute to this. I am new to this, could any one please suggest how to get started and what needs to be done.
Thanks.

[2017-02-20 16:48] illuscat commented on #8498
Thanks! I'm sorry for the double-post.

[2017-02-21 06:21] lulock commented on #8496
Hey! I'm new here, and would like to contribute to this :)

[2017-02-21 07:43] Alys commented on #8496
@lulock Thank you! Please go ahead! Comment here if you have questions or run into trouble.

[2017-02-21 07:56] Alys commented on #8497
@rakesh-tirupathi Thank you!

Have a look at http://habitica.wikia.com/wiki/Guidance_for_Blacksmiths for an introduction to coding for the website. It links off to a Setting Up Habitica Locally page which will help you create a local install for development and testing.  Post to the Blacksmith's guild if you need help (the wiki pages contain links).

After that it's just a matter of finding the co

[2017-02-21 16:04] maximumtiu commented on #8445
Hi, I'd like to take this one!

[2017-02-21 16:22] SabreCat commented on #8445
@megantiu Great, go for it! Let us know if you run into any difficulty.

[2017-02-21 21:53] Alys opened #8500 "task sorting order problem not related to tasksOrder discrepancies"
Issue https://github.com/HabitRPG/habitica/issues/7645 documents a task sorting problem that occurs when there is a discrepancy between the task IDs of a user's tasks and those recorded in the user's `tasksOrder` object. I believe there's another sorting problem as well because it's reported by people who don't have an incorrect tasksOrder object. I realise the tasksOrder sort bug can fix itself,

[2017-02-21 21:55] beffymaroo opened #8501 "Split pixels in avatar/mount templates relative to backgrounds"
General Info
  * UUID: 9fe7183a-4b79-4c15-9629-a1aee3873390
  * Browser: Firefox 51.0.1 (32-bit)
  * OS: Windows 10

### Description

Avatar/mount templates seem to split pixels (due to 3x size where each pixel is upsized to 3x3 pixels for sprites) relative to backgrounds. Backgrounds do not appear to be the cause of the issue, after testing of many backgrounds. Many Gen 1 mounts also appear to ha

[2017-02-21 22:15] tricksyfox commented on #8501
So I think it's been mentioned somewhere at some point before, but I think some of the backgrounds are splitting not because they are split in regard to their own grid (whereas the flying pig, for example, has splits relative to itself), but because of the "expand to 3x and remove one row of pixels from the side" rule in creating backgrounds. It's not, to my knowledge, clearly specified which sing

[2017-02-21 22:24] SabreCat commented on #8501
I've noticed this too. If a critter splits pixels relative to the avatar, it's likely a problem with the pet/mount; if the avatar doesn't line up on the background grid, that suggests it's a problem with the background.

[2017-02-21 22:26] beffymaroo commented on #8501
If there's an issue with background alignment relative to the avatar template, that must be true for every background, since I haven't found one that doesn't have this issue yet after testing 20+ . The splits also seem pretty consistent from one to another, though this is difficult to be precise about.

[2017-02-21 22:29] tricksyfox commented on #8501
Looks like the backgrounds all need to move one pixel down and to the right, whereas the splitting mounts, as far as I recall, all need to move one pixel up and to the left.

If I recall correctly, the only gen 1 mount that's splitting is the flying pig. At least, that's the only one I remember having to move. I noticed when I was making the glow mounts because of the border, and with the pig I di

[2017-02-22 02:44] madpink opened #8502 "API Issue: user/unlock incorrectly charges gems under numerous scenarios"
[//]: # (Fill out relevant information - UUID is found in Settings -> API)
General Info
  * UUID:  b0413351-405f-416f-8787-947ec1c85199

### Description
[//]: # (Describe bug in detail here. Include pictures if helpful.)

if the path provided is not valid (e.g.  api/v3/user/unlock?path=cayennepeppersauce )the POST still returns a success, and the Items have been unlocked message.

If there is only

[2017-02-22 03:59] TheHollidayInn commented on #8500
Does this seem to only be occurring on the UI side?

[2017-02-22 10:55] Alys commented on #8500
I don't know and I don't think it would be easy for me to find out. I'd need to get someone who's affected by it to screenshot their tasks and then I'd need to compare them with the orders from the tasksOrder object, doing that soon enough after the screenshot was taken to be certain that nothing else had affected the sort order in the meantime - that means no manual sorting, no adding or deleting

[2017-02-22 17:49] kantamablade opened #8504 "User Validation"
I'm sorry but I'm nowhere near being a techgeek. I can't find another way to report this issue.

On the app itself I'm getting "User Validation Failed" and on the website I'm getting this.
![screenshot 2017-02-22 12 42 20](https://cloud.githubusercontent.com/assets/25962066/23224692/5557a524-f8fd-11e6-9aeb-5f744f5d4b93.png)

[2017-02-22 18:09] paglias commented on #8504
@kantamablade thanks for the report. Can you post your user id (UUID) so we can investigate? You can find it in the app -> settings -> account details

When did the error started to appear?

[2017-02-22 18:38] kantamablade commented on #8504
I also get the "not connected to the Internet" error sporadically but that
one doesn't halt my activities like this validation one has. I can't get my
character out of the tavern or really access anything else since I'm not
validated.

The validation error only started a few hours ago but boy has it ever been
vexing.

On Wed, Feb 22, 2017 at 1:09 PM, Matteo Pagliazzi <notifications@github.com>
wro

[2017-02-22 18:47] paglias commented on #8504
@kantamablade can you try again to refresh the website now? It should be fixed. Let me know if it is not and sorry for the trouble

[2017-02-22 18:54] kantamablade commented on #8504
It's fixed on both website and app. Thank you kindly for your help! May we
all slay our Dailies and accomplish our glorious tasks of getting cute pets!

On Wed, Feb 22, 2017 at 1:47 PM, Matteo Pagliazzi <notifications@github.com>
wrote:

[2017-02-22 20:49] KyleVerma commented on #8163
Hello. I'd like to take a shot at closing this issue.

One question: is there no worry about a cron still running after an hour?

[2017-02-22 21:42] madpink opened #8505 "API Issue: user/unlock allows purchase of unavailable items"
[//]: # (Fill out relevant information - UUID is found in Settings -> API)
General Info
  * UUID:  b0413351-405f-416f-8787-947ec1c85199

### Description
[//]: # (Describe bug in detail here. Include pictures if helpful.)

Seasonal items that are unavailable at a certain time can still be purchased using user/unlock. For example, Halloween skins

[2017-02-22 22:28] Alys commented on #6559
An update:

If your subscription has been cancelled so that it has a defined termination date stored in your user document, then the end date is displayed on the Subscription page (see screenshot below).

For the case where the subscription has not been cancelled, we still have the problem I described above with the start date (`purchased.plan.dateCreated`) not necessarily being the date of the cu

[2017-02-22 22:33] Alys opened #8506 "end date for cancelled subscription does not obey user's date format preference"
When a subscription has been cancelled, the end date (`purchased.plan.dateTerminated`) is displayed in the USA date format, instead of in the format chosen by the user at Settings > Site.

For example for user 98089587-1bbe-4de2-92d3-0bbe76513a3f (one of my accounts):

![image](https://cloud.githubusercontent.com/assets/1495809/23235458/4eb9cae0-f9a1-11e6-8944-1f295d4138d6.png)
[code]

[2017-02-23 04:18] Alys commented on #8163
@KyleVerma Thank you!!

To be honest, it could probably be as little as a few minutes to stop this problem from occurring. Cron really should be over pretty quickly. Anything more than 5 minutes might be too long. I recommend using a variable to hold the time period and then we can adjust it easily if we need to.

[2017-02-23 13:30] #8504 closed, assigned to nobody

[2017-02-23 20:01] ghost opened #8508 "CSS spacing on "Purchase Gems" page"
[//]: # (Before logging this issue, look through common problems at https://github.com/HabitRPG/habitrpg/issues If you find your issue there, read at least the first post to see if there is a workaround for you)

[//]: # (Github is primarily used for reporting bugs. If you have a feature request, use "Help > Request a Feature" so that the feature request can be vetted by the larger Habitica commun

[2017-02-24 14:03] liamdawson opened #8510 "Alignment issue with popovers on profile -> achievements"
General Info
  * UUID: ff7a63c1-0026-4bc3-9e72-478761ce0021
  * Browser: Chrome 56
  * OS: Windows 10 x64

### Description
When hovering over achievements in the relevant profile tab, if you click on an achievement to make the popover stay, it is a few pixels out of alignment with the on-mouseover version, causing a slight shift on animating in/out.

Sorry for the gif quality.
![repro](https://clo

[2017-02-24 17:28] SabreCat opened #8512 "Fix Character Values allows values less than 1"
[//]: # (Before logging this issue, look through common problems at https://github.com/HabitRPG/habitrpg/issues If you find your issue there, read at least the first post to see if there is a workaround for you)

[//]: # (Github is primarily used for reporting bugs. If you have a feature request, use "Help > Request a Feature" so that the feature request can be vetted by the larger Habitica commun

[2017-02-25 03:19] khipkin commented on #8501
What does "splits pixels" mean?

[2017-02-25 04:47] cailinglu commented on #8512
If it's alright, I'll work on this one :)

[2017-02-25 05:15] Alys commented on #8512
@caillu Thanks, please do! Comment here if you have questions or run into trouble.

[2017-02-26 05:42] Alys commented on #8505
I've marked this as suggestion-discussion so that we can talk about the best way to fix it. We'll always need to have dates manually specified somewhere because the exact start and end dates for each item varies each year, but the API should obey those dates - currently it looks like only the website obeys them (and the mobile apps?). I guess ideally we'd make the API return something useful about

[2017-02-26 06:03] #8445 closed, assigned to nobody

[2017-02-26 15:27] L1st3r commented on #4748
Sort to drag this old issue back from the dead, but my party is dealing with issues surrounding this. Why don't we just implement multiple leaders? That way if one leader is away on vacating or something else, the party doesn't suffer? I'd be willing to look into implementing this in a week or so if nobody has an issue with the functionality

[2017-02-26 19:32] maximumtiu commented on #8506
I've got what I believe to be a fix for this, but I'm having trouble simulating a subscription locally to confirm it. How would I go about doing that?

[2017-02-26 19:48] TheHollidayInn commented on #8506
You can either set up a test Stripe or Amazon account and edit your config.json or you can just add a subscription to the user via your local mongo db.

[2017-02-26 21:02] beejunk commented on #8490
This is kind of a tricky one. The body scrollbar is purposefully being hidden when the modal is open in order to avoid the double-scrollbar issue. This is causing the responsive design to widen to the new width.

One option is to permanently remove the body scrollbar and add another one somewhere else in the main app window. This is made a little tricky by the fixed positioning of the navbar and h

[2017-02-26 23:12] librarianmage commented on #8087
I can work on Group!

[2017-02-26 23:25] librarianmage commented on #7715
In [/website/server/models/task.js](https://github.com/HabitRPG/habitica/blob/develop/website/server/models/task.js#L223), there is this code:

[code]

What does the `startDate` part of the schema do?

[2017-02-27 01:56] Alys commented on #4748
Copying @L1st3r's related comment and my reply from the Aspiring Blacksmith's guild to keep the conversation in one place:

**Lister**: Has anyone play with the group/party logic? I'm thinking of adding the ability to add "admins" to parties, and would like to ask a few questions before performing brain surgery...

**Alys**: Interesting idea! I know there's been feature requests that sound similar

[2017-02-27 02:29] maximumtiu commented on #8502
Hi, I'd like to work on this one!

[2017-02-27 03:33] beejunk commented on #8490
I fiddled around with this a bit, and my previous suggestion does not work very well. It causes odd visual artifacts when loading, and requires a few additional fixes to work with smaller screens. It also pushes the footer off the bottom of the screen in a way that's not so straightforward to work around.

EDIT: It also caused the party header to scroll off the window, so definitely a no go.

[2017-02-27 04:48] L1st3r commented on #4748
So let's change the name from admins to party execs for now. To start with I'd just like to give them the ability to kick an unruly party/guild member.

I didn't think about paying groups, I guess I'd be ok with that since a passing leader is probably going too stay active.

I don't think any APIs would break (tho I only took a cursory look at the code, and node it's not my strongest language) I w

[2017-02-27 05:52] TheHollidayInn commented on #7715
Start date helps with calculating frequency of the dailies.

[2017-02-27 05:54] librarianmage commented on #7715
I mean, what does the default bit do?
On Sun, Feb 26, 2017 at 11:52 PM Keith Holliday <notifications@github.com>
wrote:

[2017-02-27 07:17] TheHollidayInn commented on #7715
It returns a formatted string of today starting at the 0th hour. For example: 2/27/2017 0:00:00 (but probably ISO format or some standard.)

[2017-02-27 09:11] Taotao120 opened #8515 "Exported data were messy code"
Description
I exported my data earlier and found out the tasks were messy code, which were surposed to be Chinese.
![one](https://cloud.githubusercontent.com/assets/26052063/23355231/c37f1bca-fd0f-11e6-8564-0aa1a616e8dc.png)

General Info
  * UUID: 765630ed-09f1-4606-b6f9-d99c70a0ef10
  * Browser: Firefox
  * OS: Windows 10

[2017-02-27 09:32] Alys commented on #8515
@Taotao120 Could you please show us what your Habits look like in Habitica, if they aren't things that you want to keep private? We'd need just a screenshot of the Habits column, showing the task titles.

[2017-02-27 14:09] librarianmage commented on #7715
@TheHollidayInn Doesn't that mean that it is already converted into a date if it is empty? Am I missing something?

[2017-02-27 15:30] librarianmage commented on #8087
For Groups, should I document how `create-plan` works?

[2017-02-27 16:17] TheHollidayInn commented on #7715
Yea, if the value is empty and you save a document, it will add that value by default.

http://mongoosejs.com/docs/defaults.html

[2017-02-27 17:14] librarianmage commented on #7715
Then what needs to be changed? I am not clear on this.

[2017-02-27 17:34] SabreCat commented on #8501
@khipkin: Habitica's sprites use a 3x scale. To produce the pixelated look of the images on the site, you take a tiny image
![image](https://cloud.githubusercontent.com/assets/4501321/23372186/3af6e7c6-fce0-11e6-8780-8193f4ac844e.png)
and scale it up to three times its size without any interpolation:
![image](https://cloud.githubusercontent.com/assets/4501321/23372218/51a541fc-fce0-11e6-8bb9-417ba

[2017-02-27 18:15] #8113 closed, assigned to nobody

[2017-02-27 18:19] #6462 closed, assigned to nobody

[2017-02-27 18:20] #8428 closed, assigned to nobody

[2017-02-27 18:52] khipkin opened #8518 "Error while trying to subscribe with coupon code through Stripe."
_edit by Alys:_

khipkin was affected by two bugs, one caused by unexpected data in her account that caused a subscription to terminate early and the other caused by a bug in our code that processes coupons. **This issue is specifically for fixing the bug that prevents coupons being used.** You can read details of that from this comment and below: https://github.com/HabitRPG/habitica/issues/8518#i

[2017-02-27 18:54] khipkin commented on #8501
OH! I see what you mean! Thanks for explaining it. :blush:

[2017-02-27 19:16] librarianmage commented on #4748
Would a "party exec" be able to kick another "party exec" off?

[2017-02-27 19:35] L1st3r commented on #4748
Initially only the leader could. Future enhancements could have a voting system created where each admin could vote. But now we're getting more complicated.

[2017-02-27 20:59] TheHollidayInn commented on #7764
https://github.com/HabitRPG/habitica/pull/8517

[2017-02-28 01:43] #8072 closed, assigned to nobody

[2017-02-28 04:20] mohit-surana opened #8519 "Collecting multiple quest items for the same task"
General Info:
  * UUID: ca2a5138-d9d2-49ba-a882-f45581dff5cf
  * Browser: Chrome Version 55.0.2883.95 (64-bit)
  * OS: macOS 10.12.3 (Sierra)

Description:
Quests that involve collecting quest items (eg. soaps in Attack of the Mundane, Part 1: Dish Disaster!) are not affected by drop caps(and they should not be).

But if you check off a Todo or a Daily -> Uncheck the same -> Recheck the task

Expe

[2017-02-28 05:00] Alys commented on #8519
Thank you for telling us but please see https://github.com/HabitRPG/habitica/issues/4626 in particular the first comment from me which explains this behaviour and why it's currently permitted.

We have a guild within Habitica for faster reporting of problems. You can get to it from Help > Report a Bug from the website's menu or Guilds > Report a Bug from the mobile app. When you find a bug, you ca

[2017-02-28 05:01] #8519 closed, assigned to nobody

[2017-02-28 07:14] Alys opened #8520 "Challenges filter shows only groups you are a member of - can't see joined challenges of guilds / parties you aren't in"
On the [Challenges](https://habitica.com/#/options/groups/challenges) page, the "Groups" list should show all the groups that you are a member of (that part is working) AND **it should show all the groups that you are not a member of but that contain challenges you are participating in** (that part is no longer working, although it used to; I do not know when it stopped working).

If showing the n

[2017-02-28 08:09] jerell-mendoza commented on #8497
Hi @Alys, I've gotten the local instance set up and running after following the guide. Can I contribute to this issue? It'll be my first!

[2017-02-28 09:55] Alys commented on #8497
@rakesh-tirupathi Have you made a start on any code for this? If not, that's fine! We understand about real life getting in the way of coding. :) Let us know if you're not working on it yet and if you're not, @jerellmendoodoo can take it over.

[2017-02-28 14:28] rakesh-tirupathi commented on #8497
I am sorry @Alys, I am having troubles having the environment set up. ya
sure @jerellmendoodoo <https://github.com/jerellmendoodoo> can take over
this issue. I will let you know after setting up the local instance and i
will take up other tasks.

Thank you

On Tue, Feb 28, 2017 at 3:55 AM, Alys <notifications@github.com> wrote:

[2017-03-01 11:14] lulock commented on #8496
Hey, @Alys and @madpink !

So I've spent quite a bit of time navigating the source code for this project and have gotten acquainted with the website itself both locally and deployed. I've managed to recreate the issue here with an API call, but the behaviour I noticed was the following:

- An API call to change to a valid class will return with success and will re-assign the class correctly as wel

[2017-03-01 22:13] Alys commented on #8350
From the Report a Bug guild by maxmoon (12631f31-5d3f-4796-b315-ad7115749beb) :

**I wanted to download the csv file of one of my challenges to choose a winner, but the export button always gives me an unexpected error. The download works for all of my other challenges, but not this one. It is this challenge: https://habitica.com/#/options/groups/challenges/b63d1fdd-8588-4317-8cfe-37419e750f14**

[2017-03-01 23:05] AndrzejDoyle commented on #8441
I'd like to add that I initially thought this was a website-only change, and it's taking me some time to get up to speed with the mobile apps. If anyone feels like they have a solution that would work across all three platforms, feel free to jump in and take over/team up!

[2017-03-02 04:52] pleavin commented on #5505
Is this still an issue? I'm looking for something to try to tackle and this seemed relatively entry-level from first glance.

[2017-03-02 04:57] Alys commented on #5505
@pleavin If you can find an easy, quick fix, then yes, please do. Feel free to start!

If it turns out to be difficult for any reason, it would be best to not do it now because we're part way through a project to make many improvements to the website's code, which would fix this issue.

[2017-03-02 12:54] therealmaxmoon commented on #8350
@Alys Sorry, I have read your message to not close the challenge to late. I had to choose a winner for the challenge, because people are going crazy if my challenges will not end at the last day of a month. But my first guess was the api has problems with usernames, because I had participants from all over the world and the usernames contain foreign signs.

[2017-03-02 17:19] librarianmage commented on #8087
@Althenis How is Hall going?

[2017-03-02 21:20] Alys commented on #8496
@lulock Thank you for looking into that in detail!

If the user specifies an invalid class, an error should be thrown and no change should be made.

However it's still okay for the user to specify that they want no class and then be opted out of the class system.

[2017-03-02 21:40] Alys commented on #8441
@AndrzejDoyle The twoHanded message should be in the data returned from the API's content route because the website and mobile apps use the API to get the information about the gear (as do third-party tools). Have a look at the code in website/common/script/content/gear - that's where all the equipment is defined. The sets/wizard.js file will show you most of the twoHanded gear (for example, the c

[2017-03-03 07:01] jerell-mendoza commented on #8497
Hi, just as an update, I've fixed the issue and tested it locally through the UI and it appears to be working. Edited the releaseBoth, releaseMounts, releasePets .js files. I've read a bit through the wiki and I see that it's recommended that I write some unit tests regarding this? Is that a good next step?

[2017-03-03 09:37] Alys commented on #8502
@megantiu thank you! Please do! Comment here if you have questions or want to discuss approaches.

[2017-03-03 09:49] Alys commented on #8497
@jerellmendoodoo unit tests would be good, thank you! Comment here if you'd like adviqe about them.

When the code is ready for use (or sooner if you have questions that require us to see it), commit it locally, then push the branch to your fork of the repository in GitHub, and then you'll seea button for making a pull request. Ask again if you need more details. :)

[2017-03-03 13:57] #8360 closed, assigned to nobody

[2017-03-03 18:52] #8506 closed, assigned to nobody

[2017-03-04 03:41] Alys commented on #7922
This was implemented in https://github.com/HabitRPG/habitica/pull/7951

[2017-03-04 03:41] #7922 closed, assigned to nobody

[2017-03-04 03:42] Alys commented on #5988
I haven't seen any reports of this in a while so I'm closing this. We can reopen it if it returns.

[2017-03-04 03:42] #5988 closed, assigned to nobody

[2017-03-04 03:48] Alys opened #8530 "API allows quests to be purchased and started without fulfilling eligibility requirements"
In the Report a Bug guild, Birkwelch writes:
"I previously mentioned a minor bug in the Android app about being able to start a quest without having completed the requirements; apparently you can also purchase any quest without fulfilling eligibility requirements, i.e. you don't have to be level 60 to purchase Recidivate, or have completed the first two parts to obtain part three."

Even though th

[2017-03-04 03:49] Alys commented on #8530
Argh, sorry, hit enter way too early! Am fixing this now with a shorter title and proper first post. Will delete this message when I'm done.

[2017-03-04 03:55] Alys commented on #8530
I've fixed the title and updated the top post with this information:

In the Report a Bug guild, Birkwelch writes:
"I previously mentioned a minor bug in the Android app about being able to start a quest without having completed the requirements; apparently you can also purchase any quest without fulfilling eligibility requirements, i.e. you don't have to be level 60 to purchase Recidivate, or hav

[2017-03-04 14:33] tim1234ltp commented on #8530
Greetings, I would like to handle this issue.

[2017-03-04 19:29] Alys commented on #8530
@tim1234ltp Please do, thanks!

[2017-03-05 04:55] junipernova opened #8532 "Challenges that are expired that I can't delete!"
[//]: # (Before logging this issue, look through common problems at https://github.com/HabitRPG/habitrpg/issues If you find your issue there, read at least the first post to see if there is a workaround for you)

[//]: # (Github is primarily used for reporting bugs. If you have a feature request, use "Help > Request a Feature" so that the feature request can be vetted by the larger Habitica commun

[2017-03-05 05:48] Alys commented on #8532
Please see "Deleting a Challenge Task" on the wiki's [Challenges](http://habitica.wikia.com/wiki/Challenges#Deleting_a_Challenge_Task) page. There's a series of steps to try; step 7 will bring you to the Report a Bug guild if none of the others help.

That guild is the best place to report any problem. You can get to it from Help > Report a Bug from the website's menu (or Guilds > Report a Bug fro

[2017-03-05 05:48] #8532 closed, assigned to nobody

[2017-03-05 15:15] tim1234ltp commented on #8530
I have been trying to recreate such bug in my local habitRPG (web version) but still not able to purchase any quest without fulfilling eligibility requirements. Messages pop up telling me I am not meeting a particular requirement.

I am looking at habitica/website/server/controllers/api-v3/shops.js for some clues. Yet, I am still quite confused about how the purchasing is handled. Are there any ot

[2017-03-05 18:15] bressani opened #8534 "Default tags are not being translated when changing the language"
I've createad my account with Facebook, so it has been created in Portuguese (i'm brazilian), but when i switched to the English language, the default tags still are in Portuguese.

[2017-03-05 18:16] #8534 closed, assigned to nobody

[2017-03-05 18:17] bressani commented on #8534
Just found that i can edit it. Sorry.

[2017-03-05 21:33] eyelesbarrow commented on #8508
Hi can I give this a try?

[2017-03-05 21:36] Alys commented on #8508
@eyelesbarrow Sure! Thank you! Comment here if you have questions or run into trouble.

[2017-03-05 21:53] Alys commented on #8500
An interesting comment was made in the Report a Bug guild by spartan7886:

**"sorting behavior. I consistently see that if I make a task and then immediately move it into position it doesn't stick, even if I wait a bit before moving it. If I make the task, manually sync, and then move it, it sticks. I do not have a message** [about the tasksOrder issue #7645] **on the Task Adjuster website. Is thi

[2017-03-06 00:48] rhdsmnd commented on #8520
This seems to be working for me (Mozilla v51.0.1 on Windows 10).  Is there a specific platform/browser combination for which it's not working?

[2017-03-06 02:00] Alys commented on #8530
The bug is in the API (the back-end code that implements the features that the website, mobile apps, and third-party tools use). It doesn't happen on the website because the website has its own client-side code to enforce the restrictions, but code needs to be in the API too so that you can't bypass the restrictions by using the mobile apps or any third-party tools.

These are the API routes:
http

[2017-03-06 05:32] tim1234ltp commented on #8530
Thank you for your reply!
I followed instructions and run this:
`curl -X POST -d "type=quests&key=dilatoryDistress3" -H "x-api-user: my own user id" -H "x-api-key: my own API key" https://habitica.com/api/v3/user/purchase/quests/dilatoryDistress3`

I try to purchase the stage 3 quest that I should not be able to buy and some main problematic output is:

{**# "success":true,"**data":{"items":{"gear

[2017-03-06 07:33] lulock commented on #8530
Hey @tim1234ltp,

you can recreate the bug locally by using your localhost url instead of https://habitica.com/api/v3/

i.e. http://localhost:3000/api/v3/user/purchase/quests/dilatoryDistress3, or whatever port your local instance is running on. You will have to create a local user and use the local api-key to test as well.

From there you can `git grep` any relevant terms to find code worth looki

[2017-03-06 09:36] Alys commented on #8530
@tim1234ltp Can you tell me your User ID? I'll look into reversing the purchases you made as tests.

[2017-03-06 09:48] Alys commented on #8520
That's weird: it's working for me too now. I'm sure it wasn't the other day. It won't be a platform/browser thing. Maybe there's a certain circumstance in which it doesn't work?? Anyway, I'm sorry for wasting your time @rhdsmnd ! I'm closing this. If I can replicate the problem I'll reopen it.

[2017-03-06 09:48] #8520 closed, assigned to nobody

[2017-03-06 11:15] tim1234ltp commented on #8530
@Alys  a547cd88-24e5-46d0-bd1b-eb453f653ffe
Sorry for inconvenience!
@lulock Thank you so much for the info!

[2017-03-06 22:54] keysmashes commented on #5490
Was any decision reached on this? I'd personally like to see click-outside-to-close implemented, and would be happy to investigate it myself (life permitting).

[2017-03-06 23:38] SabreCat commented on #5490
@anowlcalledjosh Help is welcome on this per the label! However, it's likely to be rendered moot by a frontend redesign we're working on, so if it proves to be a difficult task, it may not be worth sinking a lot of hours into.

[2017-03-07 06:00] jerell-mendoza commented on #8497
Hi @Alys, I've created the unit tests and ran them and it's all looking good. I've followed your steps: commit locally, push to branch on my fork, and next I'll go and make the pull request. Thanks for all the help up till now, what happens next?

[2017-03-07 06:20] jerell-mendoza commented on #8142
Hi @Alys, I'd like to try to work on this issue.

[2017-03-07 11:48] eastwood commented on #8432
I'm happy to fix this for the team. Let me know if this is okay!

[2017-03-07 12:57] zerom1 commented on #5419
I might add something absolutely useless, as I'm no developer... but on https://github.com/HabitRPG/habitica/blob/develop/website/common/script/content/eggs.js it seems to me that only animals like "Unicorn" and "Egg" are having the "mountText" addendum.

Does it mean that other languages which would want to translate "Falcon" in two different words (for the pet and the mount) would be able to do

[2017-03-07 15:30] SabreCat commented on #8432
@eastwood: Go for it, with our thanks! Let us know if you need any help as you go.

[2017-03-07 15:56] SabreCat commented on #5419
@zerom1: Correct. At the moment, the `mountText` for most mounts defaults to the same text as the pet. https://github.com/HabitRPG/habitica/blob/develop/website/common/script/content/eggs.js#L16 That could still be fixed, per this issue!

Plain eggs lacking `canBuy`, I believe is meant to restrict availability of those pets to the Egg Hunt quest (and by extension the Spring Fling event). But if yo

[2017-03-07 16:07] SabreCat commented on #8501
This runs a bit deeper than just needing to scoot the backgrounds around a bit--even the background _template_ is wrong. Backgrounds are currently 140x147, which is evenly divisible by 3 vertically, but not horizontally. I fear they would all need to be updated to a more fitting size (go square, 147x147?) to fix this long-term.

[2017-03-07 16:35] zerom1 commented on #5419
@SabreCat I checked the wiki and you're right, that's the explanation for the Egg egg.

As for the defaults, the fix seems pretty easy to me. In Transifex, in French, I can see that all animals have a translatable mount name. For example, questEggRoosterMountText exists there. That's because it's in content.js. The Rooster lacks the mountText: t('questEggRoosterMountText'),' line in eggs.s. Is it

[2017-03-07 16:39] tricksyfox commented on #8501
Yikes! How complex!

Right now the pixel artists are instructed to do the art on a 47x49 canvas, export at 3x, and then shave off a pixel so it's 140x147. Does anybody know why this came to be? Because 141x147 (while not square) IS divisible by 3.

It also looks like there's an issue with the templates on the pixel art trello -- I just downloaded the bg templates, and the one with the mount and th

[2017-03-07 16:50] librarianmage commented on #8087
@JTorr Are you still working on Challenge?

[2017-03-07 17:52] SabreCat commented on #5419
@zerom1: If the strings exist already, then yes, overriding the default is all that need be done!

[2017-03-07 20:33] SabreCat commented on #8500
Fun related addenda:

1. The loading bar barely twitches when you first create a task. It looks less active than when you do something as simple as checking off a checklist item.

2. If you create a task and immediately drag-drop it, you get this error in the JS console--
[code]

3. If you then _delete_ that task, there's no additional error. But any tasks from the position you moved it to downwar

[2017-03-07 21:22] Alys commented on #8518
Oh heck @khipkin I'm so sorry we never replied to this! I kept it in my inbox to do something about your subscription but it got buried. :( I can see your subscription has terminated because of this bug and of course you couldn't create a new one. :( I'm going to leave this issue open for an investigation into the cause and a coding fix but I'm about to PM you with details of how I'll fix the spec

[2017-03-07 21:33] SabreCat opened #8540 "When editing a Challenge, tasks save instantly instead of awaiting Save"
[//]: # (Before logging this issue, look through common problems at https://github.com/HabitRPG/habitrpg/issues If you find your issue there, read at least the first post to see if there is a workaround for you)

[//]: # (Github is primarily used for reporting bugs. If you have a feature request, use "Help > Request a Feature" so that the feature request can be vetted by the larger Habitica commun

[2017-03-07 21:43] eyelesbarrow commented on #8508
Hi I think I know how to do this. But I am having problems on locating this code as I am new to github. Any hints on where it is so I can do a PR?
Thanks!

[2017-03-07 21:52] Alys commented on #8518
In case it helps with us investigating the bug, here is khipkin's subscription data from before the cancellation, taken from a backup made on 2017-01-26 and from today before my manual fix is applied:

[code]

[code]

[2017-03-07 22:00] khipkin commented on #8518
Thank you, @Alys! I wasn't going to panic or start pinging until we got a bit closer to the end of the month. 😊

[2017-03-07 22:03] khipkin commented on #8518
Although I am now realizing that the end of *my* month (in terms of my original subscription) has already passed. 😢 Darn. Totally miscalculated on that.

[2017-03-07 22:11] ghost commented on #8508
habitica<https://github.com/HabitRPG/habitica>/website<https://github.com/HabitRPG/habitica/tree/develop/website>/views<https://github.com/HabitRPG/habitica/tree/develop/website/views>/static/

________________________________
From: Kay Alave <notifications@github.com>
Sent: Tuesday, March 7, 2017 3:43:22 PM
To: HabitRPG/habitica
Cc: Smith, Daniel; Author
Subject: Re: [HabitRPG/habitica] CSS spaci

[2017-03-07 22:29] khipkin commented on #8518
**I just tried again, and the exact same thing is still happening.**

[2017-03-07 22:29] Alys commented on #8518
All fixed. Here's the current state in case we need to repair it again if future subscription attempts fail. Note the consecutive benefits in particular.

[code]

[2017-03-07 22:34] Alys commented on #8518
Oh. I posted that last comment at exactly the same time as @khipkin said a new subscription attempt failed. :-/  "All fixed" refers to her current repaired subscription specifically, NOT to this bug.

It looks like there's a persistent bug with subscribing with a coupon code. It might be related to subscribing over the top of a cancelled subscription.

@khipkin I'm sorry to mess you around, but ca

[2017-03-07 22:39] khipkin commented on #8518
@Alys It still fails with the same error message. Based on the message content, I would guess that the coupon parameter isn't being passed as expected.

[2017-03-07 22:41] Alys commented on #8142
@jerellmendoodoo Thank you! Comment here if you have questions or problems.

[2017-03-07 23:05] Alys commented on #8518
Thanks so much for testing!  I've put back the subscription details that are shown in [my post above](https://github.com/HabitRPG/habitica/issues/8518#issuecomment-284881450). Tell me if anything doesn't work.

I think you're right about the couponn parameter not being passed. Here's the error from our logs:
[code]

We must also look into why your original subscription's cancellation date was set

[2017-03-07 23:14] lulock commented on #8442
Hey!

So, I looked a little bit into this and it seems that the API call that is sent via the web-client always leaves out the message query when removing a member:

![image](https://cloud.githubusercontent.com/assets/8599836/23682302/752d6b18-03ac-11e7-8ce2-6b73a5b2f6ee.png)

The API expects something like `?message=get outta here` tagged at the end.

I just have to find where the web-client cons

[2017-03-07 23:19] Alys commented on #8442
@lulock You're welcome to look into it - thanks! Comment here if you have questions.

I suspect however that the message should be in POST body parameters rather than in the query string. The messages could be long or contain punctuation or non-ascii characters, all of which could be troublesome in a URL query string. But it's entirely possible that the apidocs or the api itself don't describe or

[2017-03-08 00:01] Alys commented on #8540
I've marked this as entry level coding because the easiest "fix" is to just as a sentence of explanation to the form, however feel free to override me and change it and make other suggestions!

I think changing the actual behaviour would be nightmare level coding. :)

[2017-03-08 00:02] Alys commented on #8540
I think changing the actual behaviour would be nightmare level coding. :)

[2017-03-08 00:15] librarianmage commented on #8540
Would the warning be best placed by [the Save/Cancel](https://github.com/HabitRPG/habitica/blob/develop/website/views/options/social/challenges.jade#L40) buttons?

[2017-03-08 00:18] librarianmage commented on #5356
What is the current status on this?

[2017-03-08 00:21] librarianmage commented on #6933
What is the status on this?

[2017-03-08 00:25] librarianmage commented on #4384
What is the status on this?

[2017-03-08 00:28] librarianmage commented on #4332
What is the status on this?

[2017-03-08 00:29] librarianmage commented on #8365
Should this be marked as in progress?

[2017-03-08 00:32] librarianmage commented on #7667
What is the status on this?

[2017-03-08 00:32] librarianmage commented on #5815
Hasn't this been fixed now?

[2017-03-08 00:42] librarianmage commented on #7103
This should probably be no longer be marked as "In Progress"

[2017-03-08 01:10] Alys commented on #7103
Hmm, good point.

@lemoness just checking: This is still desirable?

[2017-03-08 01:16] Alys commented on #5815
Ah yes, thanks! I had multiple tutorials at once yesterday a few times while testing something else with no lockdown.

[2017-03-08 01:16] #5815 closed, assigned to nobody

[2017-03-08 01:16] Alys commented on #5815
Ah yes, thanks! I had multiple tutorials at once yesterday a few times while testing something else with no lockdown.

[2017-03-08 02:03] khipkin commented on #6933
No status! It's up for grabs, as far as I know. :)

[2017-03-08 02:05] khipkin commented on #6933
#2373 was fixed in #7804, so this should be good to go.

[2017-03-08 07:51] paglias commented on #7667
@MathWhiz the new client is using updated deps with NPM

[2017-03-08 07:53] Alys commented on #6933
Anything marked "on hold" and "website improvement", like this issue, is probably best left alone for now. We're part way through a project to make some improvements to the website, including changing the technology used for the site's front-end. Any "website improvement" issues are likely to be fixed as part of that project, and so any changes made for them now on the current site would be used f

[2017-03-08 07:54] Alys commented on #8365
Yes, thanks!

[2017-03-08 07:58] Alys commented on #5356
Still suggestion-discussion and also probably best to wait for the website improvement project as described in [my comment in #6933](https://github.com/HabitRPG/habitica/issues/6933#issuecomment-284971739)

[2017-03-08 07:59] Alys commented on #8540
@MathWhiz Yeah, I think that would work. Give it a try if you wish. Just wait a day or so to see if SabreCat disagrees with my assessment of the issue. :)

[2017-03-08 08:14] Alys commented on #4332
The individual people's specific problems were fixed but the bug might still remain; that's why this was left open. We see similar reports sometimes. However we do have a separate internal list of improvements we want to make to the subscription code, which includes a note about this issue.

[2017-03-08 08:24] Alys commented on #8500
It sounds like when you create a task, the task itself is saved as a new document in the däabase's tasks collection, but the user's own document is not being saved with the task's ID in the user's tasksOrder array. That's a guess but it's probaply a good point for a contributor to start looking at.

[2017-03-08 12:12] Alys commented on #8508
@eyelesbarrow A useful tip to finding the right code is to look for some unique text on the page near where you want to work. For this case, it might be "Subscribe using" or "Enter Coupon Code". You can use `git grep` to search in the repository for that (first `cd` to the top level directory of the repository - the directory that contains the `config.json` file):

`git grep "Subscribe using"`

In

[2017-03-08 14:35] librarianmage commented on #8540
@Alys Oh, I wasn't planning on completing this, I was hoping to clarify

[2017-03-08 14:46] eyelesbarrow commented on #8508
Hi @Alys thanks very much, you've been very helpful. I'm afraid what I have done is very simple right now and I do not think it is right yet (just an alignment). I'd like to continue working on this, if that's OK.

[2017-03-08 17:13] SabreCat commented on #5356
This became much lower priority after Rebirth was modified not to remove equipment, as well.

[2017-03-08 17:16] SabreCat commented on #4384
We do still get occasional reports of people attempting to subscribe, getting charged, but not receiving subscription benefits on the Habitica end. The specific error message doesn't sound familiar, though.

[2017-03-08 17:19] TheHollidayInn commented on #4384
I believe this happens when Paypal sends a cancel notice, our webhook doesn't work correctly, and then someone tries to cancel via our Paypal route, but it is already canceled on the Paypal side, so we get an error http response from the API.

[2017-03-08 17:36] SabreCat commented on #4384
@TheHollidayInn: That might happen (it certainly does with Stripe, which has no Webhook handling at all yet), but if so, that's a different issue--this issue as reported happens at time of subscription, not cancellation.

[2017-03-08 21:00] Alys commented on #8508
@eyelesbarrow Sure! That would be fine!

[2017-03-10 04:20] LadyOrTheTiger commented on #4332
This was resolved two years ago. You asked me this last year too. I'm very
happy with my 12 month subscription. It still works great.
love,
Habitica fan
Melissa

On Tue, Mar 7, 2017 at 7:28 PM, MathWhiz <notifications@github.com> wrote:

[2017-03-10 04:38] SabreCat commented on #4332
@LadyOrTheTiger, per @Alys's comment above, we're holding the ticket open because we're not convinced the underlying problem has been resolved. I.e., it was fixed for you, but we think it could happen to someone else again. You might want to mute the thread using the unsubscribe link that comes with the email notifications!

[2017-03-10 05:19] Caryyon commented on #8443
How is this issue going? I'd like to lend a hand.

[2017-03-10 06:39] johnpaulada commented on #8443
I wasn't able to test it because the email isn't being sent. Go ahead. :)

[2017-03-10 20:34] Caryyon opened #8554 "Docker - ELIFECYCLE error"
[//]: # (Before logging this issue, look through common problems at https://github.com/HabitRPG/habitrpg/issues If you find your issue there, read at least the first post to see if there is a workaround for you)

[//]: # (Github is primarily used for reporting bugs. If you have a feature request, use "Help > Request a Feature" so that the feature request can be vetted by the larger Habitica commun

[2017-03-10 20:44] Alys commented on #8087
@MathWhiz @JTorr I'm opening up Challenges for someone else to pick up. For more details see my comment at https://github.com/HabitRPG/habitica/pull/8112#issuecomment-285779308 . I'm updating the top post to link to the PR so it can be reused but to say that Challenges are open.

@MathWhiz If you want to take on Challenges, post here and I'll assign it to you. Otherwise it's open for anyone.

[2017-03-10 20:46] librarianmage commented on #8087
@Alys I will take Challenges on
On Fri, Mar 10, 2017 at 2:45 PM Ray Arndorfer <raymond.arndorfer@gmail.com>
wrote:

[2017-03-10 21:49] TheHollidayInn commented on #8554
We have just merged in or are about to merge in a forked version of moment-recur that should fix this issue. @SabreCat

[2017-03-11 01:03] teqnickels commented on #8540
@Alys, I'd like to take this if it's ok.

[2017-03-11 01:04] Alys commented on #8540
@teqnickels Thank you! Comment here if you have questions or problems.

[2017-03-11 02:51] Caryyon commented on #8554
@TheHollidayInn has this been merged? I've fetched the new version and i'm still getting the same error.

[2017-03-11 08:07] paglias commented on #8554
@Caryyon it should be merged by now, can you try again?

[2017-03-11 22:59] eastwood commented on #8488
The only way I've managed to replicate this issue is by creating a TODO item and upon editing the issue (to add checkboxes), had my network connection hindered. Is this issue happening *all* the time or sporadically? Are you behind corporate proxy where DNS can be flaky (I know my work is). Can you replicate this with other browsers?

[2017-03-12 00:11] Alys opened #8560 "columns on mount page are too narrow for Turtle flippers"
The "heads" of the Turtle mounts are wider than of the other mounts and the columns on the Mounts page haven't been sized to accommodate them neatly (see screenshot below).

This is probably just a simple CSS fix, but if for some reason it turns out to be at all complex, it would be best to leave this to be fixed in a website improvement project that we're part way through.

![image](https://cloud

[2017-03-12 07:53] Alys opened #8561 "limit party size to 30 members"
Currently, a party can have an unlimited number of members. This isn't good for performance and it can also give players a bad experience of Habitica for reasons related to accountability and interpersonal interactions.

We want parties to be limited to 30 members. However we don't want to immediately disadvantage the parties that are currently larger, so the limitation will be that you cannot inv

[2017-03-12 20:27] Jacqland commented on #2176
I'm happy to have found this (I'm also in the 30s levels, 56/90 pets found, maxed perception, no flying pig eggs). Hopefully they'll show up soon. I was beginning to suspect the flying pigs were intended to make me spend RL$.

[2017-03-13 04:09] djw11192 commented on #8560
Hello @Alys.  I would like to work on this.  I am new to making open source contributions but would love to become involved in this project.

[2017-03-13 04:32] teqnickels commented on #8540
@Alys, I have a question regarding the description of the problem. _"However, that appears only to apply to the miscellaneous fields at the top of the Challenge (description and so on)--if you manipulate the challenge tasks at all, those changes propagate instantly."_

Is this in reference to editing items added to "habits", "dailies" or "to-dos"?

[2017-03-13 04:39] Alys commented on #8560
@djw11192 Thank you, that would be great! Comment here if you have questions or run into problems.

[2017-03-13 15:29] SabreCat commented on #8540
@teqnickels: That's correct! If anything's changed in the Habits, Dailies, To-Dos, or Rewards, those changes cannot be canceled via the Cancel button.

[2017-03-13 20:55] SabreCat commented on #8560
Should this instead be a pixelist fix to make properly sized icons for turtle heads instead of using their whole front sprite? @lemoness @beffymaroo

[2017-03-13 20:59] SabreCat opened #8566 "Users with lifetime subscriptions do not receive Jackalope mounts when joining a Group Plan"
[//]: # (Before logging this issue, look through common problems at https://github.com/HabitRPG/habitrpg/issues If you find your issue there, read at least the first post to see if there is a workaround for you)

[//]: # (Github is primarily used for reporting bugs. If you have a feature request, use "Help > Request a Feature" so that the feature request can be vetted by the larger Habitica commun

[2017-03-13 21:52] beffymaroo commented on #8560
That might be the easiest thing to do- if @lemoness agrees I can add that to the Pixel Art Trello and post it as an available claim. People tend to turn out mount heads pretty quickly. :)

[2017-03-14 00:26] Caryyon commented on #8554
I'm still seeing the same error. I'm looking into it on my side as well.

[2017-03-14 07:04] ghost opened #8568 "Please delete account"
Please see email to Alys regarding account issue

[2017-03-14 07:25] Alys commented on #8568
Can you please log in to the Habitica website using the account you want deleted and go to Help > Report a Bug, and post there something simple like "please delete this account". Even though it's not strictly a bug, that's the best place to post because it needs admin assistance. We'll be able to use your post to find your account and we'll then delete it. Another benefit of posting there is that

[2017-03-14 07:25] #8568 closed, assigned to nobody

[2017-03-14 07:31] ghost commented on #8568
Hi,

I have just gone back to habitica on my pc but the account is still there.

On 14 Mar 2017 07:25, "Alys" <notifications@github.com> wrote:

[2017-03-14 07:40] Alys commented on #8568
Yes, I haven't deleted it yet. Please post to that guild that I described in my email to you - the one that you reach by going to Help > Report a Bug. I need you to post there so that I can see which Habitica account is yours and so that I can have proof that the person asking for it to be deleted is the person who owns it - I'm sorry about that, but proof of ownership is our standard practice bef

[2017-03-14 07:44] ghost commented on #8568
I have posted there and received an email to say the case had been closed,
so i assumed it had been deleted.

On 14 Mar 2017 07:40, "Alys" <notifications@github.com> wrote:

Yes, I haven't deleted it yet. Please post to that guild that I described
in my email to you - the one that you reach by going to Help > Report a
Bug. I need you to post there so that I can see which Habitica account is
yours

[2017-03-14 07:49] ghost commented on #8568
I have posted another message there now.

Thanks

On 14 Mar 2017 07:44, "Catherine Smith" <cat.smith.uk@googlemail.com> wrote:

[2017-03-14 11:19] keysmashes commented on #5490
I've converted the dropdowns at the top to ui-bootstrap dropdowns (note to self: [version 0.13.0](https://angular-ui.github.io/bootstrap/versioned-docs/0.13.0/#/dropdown)), and they seem to be working OK. They look almost exactly like the original menus:

![image](https://cloud.githubusercontent.com/assets/9433472/23896813/98566040-08a2-11e7-8a33-14eedb63509a.png)

However, the menus on the right

[2017-03-14 12:16] paglias commented on #8554
@Caryyon the problem is that we're not using anymore the code that cause that error. Can you try to reinstall from scratch making sure the repository is up to date?

[2017-03-14 22:35] Alys opened #8570 "weekly (and monthly?) Habit counters are resetting too often"
The new Habit counters added in PR https://github.com/HabitRPG/habitica/pull/8198 have a setting for resetting either each day or week or month. Currently, the weekly counters are always resetting each day, regardless of what setting is chosen. There is some evidence that monthly counters might sometimes also be resetting too soon but that's not certain (see one of the reports below).

I tested ov

[2017-03-14 22:49] SabreCat commented on #8570
I think weekly counters reset on Mondays. Perhaps that caused some confusion? I'll set one of mine to weekly and see if it persists through tomorrow.

[2017-03-14 22:50] Alys commented on #8570
Today is Wednesday for me, so the weekly shouldn't have reset today.

[2017-03-14 22:51] SabreCat commented on #8570
OK, got it!

[2017-03-14 22:55] joedragons commented on #8570
Thanks team.  If I can provide any more info, let me know.  When I said Sunday reset I meant overnight Sunday to Monday AM (whenever it reset then, I assumed with my cron).

[2017-03-14 22:56] SabreCat opened #8571 "Habits from Challenges and Group Plans should show counter reset frequency (uneditable)"
[//]: # (Before logging this issue, look through common problems at https://github.com/HabitRPG/habitrpg/issues If you find your issue there, read at least the first post to see if there is a workaround for you)

[//]: # (Github is primarily used for reporting bugs. If you have a feature request, use "Help > Request a Feature" so that the feature request can be vetted by the larger Habitica commun

[2017-03-14 23:01] Alys commented on #8570
@joedragons So the weekly counter reset on Monday morning? That is expected. However from your comment it sounds like they also reset again after that - "this AM" - was that Tuesday or Wednesday morning?

[2017-03-14 23:38] shalott commented on #8570
Will attempt to reproduce the error overnight tonight in production and will take a look at the code tomorrow if I can! But it does sound like maybe the release happening on Sunday caused confusion for people since their weekly counters would have appeared to reset the next day, even though actually they were resetting on their Sunday->Monday cron.

[2017-03-15 00:08] Alys commented on #8571
Oh good point! The same applies to Habits from Group Plans so I'm about to edit the title to mention them too.

[2017-03-15 03:11] joedragons commented on #8570
@Alys It reset for me both overnight Monday and today (Tuesday).  So between bed and morning (also when my cron is set to run) both days.  Sorry it's kind of confusing to explain especially because I am not sure exactly when the reset happened because I was asleep=)

So (pretend) example, if I went to bed at 11PM and got up at 7AM every day, it'd be:
Sunday 11PM(tallies are set) - Monday 3AMcron(m

[2017-03-15 07:54] Alys commented on #8570
@joedragons Thanks for those details! It's clear to us and that's useful to know.

For your information if you're curious, the Habit counters are reset by cron.

Also FYI, cron probably isn't running at exactly 3am. I'm assuming 3am is your Custom Day Start time, which means that it's the earliest **possible** time that cron can run. Cron actually runs at the exact time that you first use Habitica

[2017-03-15 09:48] Yayef commented on #8570
Some more information that might help: the first time I set weekly and monthly counters for habits was on Monday. On Tuesday, all counters (daily, weekly and monthly) were resetted to zero. Today (Wednesday), all counters are correct, there were not resetted tonight.

[2017-03-15 12:55] joedragons commented on #8570
@Alys Cool that's nice to know, I was curious=)  So both times my computer was off, so per your explaination it would have been first thing in the morning run.
Like @Yayef this morning (Wednesday) my counters were ok.  My computer was off again, there was no noteworthy difference to me between this morning and the last two.

[2017-03-15 14:06] shalott commented on #8570
My weekly counters did not reset tonight so I was unable to reproduce yet, but it occurs to me that the cron reset might be happening Monday->Tuesday instead of Sunday->Monday, and possibly only for some users?

The code, in cron.js, checks whether the day of week of the cron activity is Monday (ie, getDay() returns 1):

[code]

So I'm wondering now, is getDay() localized to the user's location by

[2017-03-15 15:50] SabreCat commented on #8570
I set up the habit in the Take This challenge to reset weekly, and it did not reset for me this morning (Wednesday).

@shalott, the code above doesn't take into account custom day start times. So cron could be running for Monday morning when the time `moment()` returns is Sunday (CDS 10PM or something). This suggests to me that we need a global function for determining the _effective_ day of the w

[2017-03-15 21:04] teqnickels commented on #8540
@SabreCat, I'm not seeing the problem for myself. I've created tasks. I attempted to edit those tasks. I've used the cancel button at the top to cancel my edit of those tasks and the cancel button at the bottom both, while I was in mid edit and after saving an edit. All those buttons seem to work just fine. Am I misunderstanding the problem or has it been fixed?

[2017-03-15 21:12] librarianmage commented on #8540
I believe the problem is that the "Save" and "Cancel" for the challenge (by
the title) doesn't stop the syncing of tasks when you add/delete/modify
them. For instance, when @SabreCat was working on the "Take This"
challenge, they accidentally added a habit, but when they tried to click
cancel on the challenge (believing it would prevent it from syncing to all
of the participants), it was already b

[2017-03-15 21:25] SabreCat commented on #8540
@teqnickels, @MathWhiz is correct. Here's detailed steps to reproduce:

1. Create a Challenge with any number of associated tasks.
2. Make sure that at least one user has joined the Challenge. (Creating it should have signed you up already, but you can double-check by syncing and seeing that the tasks show up in your list.)
3. Return to the Challenge and edit. Add a task. Then click Cancel instead

[2017-03-15 21:47] lemoness commented on #7103
We're going in a different direction now, involving achievements instead, so let's table this for now.

[2017-03-15 21:51] lemoness commented on #8488
This happens sporadically but regularly. I'd say roughly 1 in 5 times I add a checklist, this happens. I don't have any corporate proxies or anything like that, and my internet works without issue in other cases.

[2017-03-15 21:54] Alys commented on #8570
My weekly counter reset yesterday (Wednesday morning in my time zone). It did not reset this morning. The monthly counter reset on neither of those days.

My time zone is UTC+10 and my CDS is 2.

[2017-03-15 21:55] Alys commented on #8570
My time zone is UTC+10 and my CDS is 2.

[2017-03-16 13:08] Qchristensen opened #8573 "Check-in prize when you have all available prizes should have a special message"
_edit by Alys 2017-03-25:_

_The original bug report here by Qchristensen is below but has also been copied to the Android repo at https://github.com/HabitRPG/habitica-android/issues/732 - all work on the Android bug should be recorded there. The iOS version is at https://github.com/HabitRPG/habitica-ios/issues/447.  This issue is now for related changes to the website version of the check-in mess

[2017-03-16 14:57] paglias opened #8574 "Migrate API errors to apiMessages from i18n (no translations for developer-only messages)"
https://github.com/HabitRPG/habitica/commit/939712ad1f8e8c8e228907b30844fcd3bb5dae51 introduced the `apiMessages` library  (https://github.com/HabitRPG/habitica/blob/develop/website/server/libs/apiMessages.js) because we've decided that API messages aimed at developers will only be in English from now on.

We should migrate old translated messages to the new lib.

[2017-03-16 18:10] snarsnartheworkalien commented on #8045
Just wanted to chime in that this can be seen as an accessibility issue. Do accessibility issues get more resources from Habitica?

Fine motor movements of the mouse can be challenging for certain hand and wrist limitations, while keyboard entry can be easier. I'd also consider this when choosing your delimiter text.

[2017-03-16 18:38] #8496 closed, assigned to nobody

[2017-03-16 19:10] toddmedema commented on #8075
Can confirm, seeing this bug on Chrome 56 on Mac. Driving me crazy. All the other parts of Habitica are nice to haves, if the TODO list is buggy, nothing else matters...

I'd like to add a bounty to this issue. Can someone please add it to BountySource?

[2017-03-16 22:05] Alys commented on #8570
My weekly and monthly counters did not reset this morning (Friday).

Another report from the Bug guild, from Shiroi Chaika (60e74c6d-4919-46cb-b87f-bc8edd3dd5b7; CDS 0, UTC-4):
"I changed a number of my habits to reset weekly as soon as Bailey's news was announced, and but they've still been resetting every day. No data on monthly resets. No other problems with my Habitica and no other changes tha

[2017-03-17 01:38] shalott commented on #8570
My own weekly habits did not reset either.

Alys, is there any way to inspect the bug reporters' tasks to confirm that
the habits in question are in fact set to be weekly tasks? It seems
unlikely that people would be seeing radically different behavior since
there's just the one conditional check to determine whether to reset the
task that day or not.

On Thu, Mar 16, 2017 at 6:05 PM, Alys <notifi

[2017-03-17 01:47] lemoness commented on #8560
Yes, this should be handled by a pixelist!

On Mon, Mar 13, 2017 at 2:53 PM, beffymaroo <notifications@github.com>
wrote:

[2017-03-17 02:19] Alys commented on #8570
@shalott yes, I can do that easily, and for each of the people who've reported it, I've checked that they do have habits set to weekly (I've been doing that without looking at the titles or notes for the tasks).

Tonight if I can make time or tomorrow at the latest, I'll set up an automatic process to collect Habit frequency and counter data (without any personal data about the contents of the tas

[2017-03-17 09:30] jcgruenhage opened #8577 "Federated self-hosting for privacy crazy people?"
From what I've seen, Habitica is very cool, but I am very concerned about my privacy here. To use the full potential of habitica, I'd need to fill in data, that I would rather not share with some 3rd party. To avoid that, I can locally host habitica, I know, but that, if I understand the way it works correctly, makes me unable to work together with others, that are on the main server or on their o

[2017-03-17 10:14] jcgruenhage commented on #8577
Also, you can only use the mobile app with the main server, right?

[2017-03-17 11:51] Alys opened #8578 "Habit counters do not reset when you are resting in the inn"
When you are resting in the inn, the Habit counters don't reset. They should reset in the same way as when you are not resting in the inn.

Some relevant code:
- the [performSleepTasks](https://github.com/HabitRPG/habitica/blob/db9befde177c517abac419a1007e62e958f42437/website/server/libs/cron.js#L95) function, which is run when you're resting in the inn
- [the code that resets the Habit counters](

[2017-03-17 14:54] AndrzejDoyle commented on #8441
Ah - yes, we could it do that way (and it would certainly be easier!).

I was working on the assumption that the API should reflect the `notes` as they actually exist for the weapon (i.e. what we have now), and that the apps should use the `twoHanded` property to decide whether to append a suffix or not.  I.e. the same thing that my previous commit does for the webapp.

Treating this issue as "aut

[2017-03-17 17:17] citrusella commented on #8573
I think the saddle is actually day 100? As it is, it's currently the last prize until they implement more, so it's probably saying zero because there's no more (though on the site, that counter until next doesn't display if the next prize doesn't exist yet). This probably should have been reported at the [Android issue list](https://github.com/HabitRPG/habitica-android/issues) (or using the in-app

[2017-03-17 19:57] beffymaroo commented on #8560
Okay, claim for re-doing the heads is on the Trello. Will update when they are done!

[2017-03-17 23:30] Alys opened #8580 "backgrounds Check-In prize has no name in the notification modal"
The check-in prize for your second day in Habitica is a set of backgrounds. When you're given that prize, the modal does not show the name of the prize:

![image](https://cloud.githubusercontent.com/assets/1495809/24066193/0e9db55c-0bbc-11e7-9449-2eedc1723d50.png)

It should show the name in a way similar to this:

![image](https://cloud.githubusercontent.com/assets/1495809/24066252/6d394b1c-0bbc-

[2017-03-18 00:22] Yutsuten opened #8581 "Subscription popup is too narrow in Japanese"
General Info
  * UUID: 203f208a-e0f0-4442-bf16-d4f19e553e8a
  * Browser: Chromium 56.0.2924.76
  * OS: Ubuntu 16.04 (64-bit)

### Description
[//]: # (Describe bug in detail here. Include pictures if helpful.)
As I changed my user language to Japanese (Settings -> Site -> Language -> 日本語), I noticed that the text of the subscription button popup is near illegible.
Here an image showing how it appe

[2017-03-18 01:23] Alys opened #8582 "multiple Group Plan To-Dos approved together don't give rewards automatically"
If a group plan member completes two or more To-Dos that require approval and the group leader approves them all at the same time, only one of the tasks is correctly handled in the member's task list (it gives XP, etc and disappears). The other approved tasks remain in the member's list and have to be marked completed again manually to make them give XP, etc and disappear.

Steps to reproduce:

1.

[2017-03-18 02:19] citrusella commented on #8580
Should it be noted that the equipment rewards don't seem to load the right name in Android either? The first (the thing in the bard set) actually reads armor_special_bardrobes (or something like that) instead of its actual equipment name. (Or at least it did on the account I just made to play around and look.)

[2017-03-18 02:42] Alys commented on #8581
We're part way through a process to redesign the website's front-end code but I think this is definitely worth fixing now because the way it behaves is completely unhelpful to anyone considering a subscription! @mateus-etto Thank you for reporting it and yes, please do start working on it!

In case it's relevant and you're not aware yet, we use [Stylus](http://learnboost.github.io/stylus/) for our

[2017-03-18 03:19] Alys commented on #8580
@citrusella Ah, great point. I did notice that but it just didn't occur to me to report it :man_facepalming: It's a separate problem though and I've reported it here: https://github.com/HabitRPG/habitica-android/issues/708#issuecomment-287512698

[2017-03-18 03:30] Alys commented on #8573
Yes, the saddle is day 100, so this is a temporary problem because we haven't updated our content yet with the next set of prizes.

@lemoness This issue is very specific to the case where we get behind on keeping the check-in prizes updated. It won't be worth fixing if it's likely that this is the last time we'll get behind. What do you think about this - should the website and apps have code to c

[2017-03-18 04:43] Alys commented on #8530
@tim1234ltp I'm sorry about the delay on this. I've removed the four dilatoryDistress3 quest scrolls that you bought and given you back the 16 gems.

[2017-03-18 04:57] tim1234ltp commented on #8530
@Alys No problem! I am sorry about the progress too. I am having some serious trachea issues right now. Need a bit of time to recover.

[2017-03-18 05:17] Alys commented on #8530
@tim1234ltp That's fine! Your health is more important. This isn't a high priority issue so take your time. I hope you're feeling better soon!

[2017-03-18 17:37] Yutsuten commented on #8038
Is someone working on it? I'll would like to try fixing it.

[2017-03-18 19:10] jcgruenhage commented on #8554
I have the same issue, but only with NODE_ENV set to production. With that set to developement, it works.

[2017-03-18 21:15] Alys commented on #8582
Stefano Black (51bfc474-433c-4886-bcdc-1bb9df2ece74) who first reported this issue in the Report a Bug guild says that it also happens for Habits and Dailies. I assume Rewards as well but I have not tested. I expect that the same fix would work for all task types.

[2017-03-18 23:26] Alys commented on #8038
@mateus-etto It's all yours. Thank you! Comment here if you have questions.

[2017-03-19 02:27] Yutsuten commented on #8038
@Alys I found 2 ways to solve this, one of them is harder to do, and requires an http request. The easier and fastest one is to increment the _user.party.quest.progress.collectedItems_ when a quest item was found.
For now I'll PR the easier and fastest solution. If that isn't enough, please tell me how I could make an http request through the API to get the updated value of _collectedItems_ from t

[2017-03-19 02:40] Yutsuten commented on #8561
Looks complicated, but can I try to do it?

[2017-03-19 05:23] Alys commented on #8561
@mateus-etto Sure! Thank you! Ask here if you run into problems. I think the actual code won't be too complex; there's just a few things to consider in it.

[2017-03-19 09:15] Alys commented on #6025
This was changed in https://github.com/HabitRPG/habitica/pull/8477

[2017-03-19 09:15] #6025 closed, assigned to nobody

[2017-03-19 09:55] Alys opened #8585 "more tests are needed to ensure shouldDo performs correctly for all current Dailies repeat options"
We are adding new repeat options to Dailies so we need to be sure that the tests for the current options are thorough. This issue describes all the conditions that should be tested (not including tests for the new repeat behaviour, which will also be needed but they can be added with the new code).

Some of these tests will already exist but not all of them do. Please add any that I've missed or g

[2017-03-19 11:49] brockmacd commented on #8430
Hello!

First of all, thank you so much for this awesome app! My friends and I are epically more productive! Thank you!!

Secondly, a little bit ago, my credit card payment got messed up, and I lost my gem cap and time travelers progress and drop cap since my subscription started in December?

Once again, thank you for all your work!

Brock
AKA Alatar the blue
5722ec15-ceb3-48cd-ba5a-e6ae1bcdcd21

[2017-03-19 15:59] jimcullenaus commented on #8172
Huh, I thought I had responded to this already. Guess not.

If you don't want perfect proportionality, that's what the dampening/decay factor is for. The more the decay, the less proportional it is, and the more weight is given to the current level. But the current system of *ignoring* anything other than current level is just ridiculous. As I said previously, you can absolutely work your butt off

[2017-03-19 19:52] Alys commented on #8570
My weekly Habit counters haven't reset over the past few days, including Sunday (which was the correct behaviour).

My weekly counters also didn't reset today (Monday), which is when they should reset. I'm at UTC+10 and it's still Sunday in UTC. I'll report again tomorrow.

My monthly counter hasn't reset at all (correct).

[2017-03-19 22:13] Alys commented on #8430
@brockmacd I can't see any problems with your gem cap or Hourglasses or consecutive month count so I'll need more information. Since it involves your personal financial details, please email admin@habitica.com and include your message from here and any other information you might have (it's okay if you don't have more; I can ask specific questions if I need to).

BTW, we have a guild within Habiti

[2017-03-19 22:14] Alys commented on #8430
Heh, sorry, copy-paste fail on that information about the Bug guild. :) Just read the first two paragraphs from my reply.

[2017-03-19 22:18] shalott commented on #8570
Alys, is there some way you can check what the result is of just this call on the server right now:

[code]

[2017-03-19 23:04] Qchristensen commented on #8573
Sorry, yes this was for day 100, not 95.  Also, re reporting in-app, I can't find a report a bug button.  The closest I could find was under help - how do I report a bug, it links to the main website which then links here.

Resolution for this would perhaps be to check when the next check-in prize is due, and if there isn't one at this stage, just don't display the "Your next prize..." line.  As I

[2017-03-20 03:30] joedragons opened #8587 "Quest start has blank notification message"
General Info
  * UUID: 66902097-c79b-496f-acd9-b78cc5867b28
  * Browser: FF52.0.1 (and older, just upgraded this weekend)
  * OS: Windows 10

Description
I've been running thru the Lunar quests and noticed for each of them when the quest starts a blank notification message appears.  I believe this notification is associated with the quest start (e.g. "Your quest, Lunar Battle, Part 3: The Monstrou

[2017-03-20 10:38] Alys commented on #8207
In https://github.com/HabitRPG/habitica/issues/8587 , @joedragons reported that this happens when a quest start message is put into party chat.

I wonder if it's from system messages in general - perhaps the title of the party hasn't been loaded at the time that a system message is put into party chat.

[2017-03-20 10:42] Alys commented on #8587
Thanks for telling us! Very interesting about it being related to quest start messages. I've copied that information to https://github.com/HabitRPG/habitica/issues/8207 where we're tracking this issue. We hadn't
noticed a correlation with quest messages before so this might give us a good boost to solving it!

BTW, the Help > Report a Bug guild is a good place to report even problems like this. We

[2017-03-20 10:42] #8587 closed, assigned to nobody

[2017-03-20 11:34] Alys commented on #8573
@Qchristensen Sorry about the confusion with the bug reporting button! There definitely shouldn't be anything on the website that links directly here - can you tell us please where you found that link?

The bug reporting links should all point to the "Report a Bug" guild (available most easily from the website's Help menu, but also available on the app from Guilds > Public Guilds > Report a Bug).

[2017-03-20 12:52] joedragons commented on #8587
@Alys NP.  I've watched the other issue, thanks for linking.  I searched "quest"; I see now I should have searched "notification"=)
I'm a QA/QE by trade so filing this took me no time at all.  However, I don't want to waste your or anyone elses time=9  I do feel screens are better for here, but other than that I can certainly stick to the guild.

[2017-03-20 12:56] joedragons commented on #8570
Not sure how much continued info you want here esp if @Alys is doing account monitoring but my counters reset overnight (Sunday to Monday) as my above comment described and I expected better understanding how the feature works.  I am (maybe pathetically) excited to see if they reset again tomorrow and there's repeatable behavior for me;)

[2017-03-20 13:51] shalott commented on #8570
My weekly counters reset on my cron just now as expected (I'm US east
coast, UTC-5). Have added new settings and will see what happens tomorrow.

On Mon, Mar 20, 2017 at 8:56 AM, Joe Tom <notifications@github.com> wrote:

[2017-03-20 18:28] marceloneil commented on #8582
I'll be working on this in my spare time, although I am pretty busy. If somebody else wants to work on this, feel free to.

[2017-03-20 21:04] Alys commented on #8570
My weekly Habit counters reset this morning (Tuesday UTC+10). If my experience last week repeats, they'll also reset tomorrow morning so I'll post again then. My weekly Habits had been created last Tuesday so in case that affects the reset, I've created a new weekly Habit today, as well as having the one that I've been using for a week.

@joedragons This is almost certainly a time zone-dependent p

[2017-03-20 21:05] Yutsuten commented on #8561
Do I have to worry about translations? I have never worked with it...
And can I show the current value of _memberCount_ to the users?

I was thinking to put a message like this:
[code]

[2017-03-20 22:10] Alys commented on #8561
@mateus-etto You don't need to worry about translations. In fact, we prefer that you don't edit any of the files under `website/common/locales` except for the ones in `website/common/locales/en` (don't even change the other English variants such as `en_GB`). All translation work is done in Transifex.

Yes, you can show memberCount to the users - that's a good idea. I like your wording, except the

[2017-03-20 22:51] Yutsuten commented on #8561
@Alys Thank you for the answer, I didn't know that.

I have another question:
If the party currently have 29 of 30 members, the leader still can invite users, right? What is the expected behaviour if the leader invite 2 or more users in this situation?
1. The invitations fail completely. The success will happen only if 1 member is invited.
2. Only the first invitation is sent, but the another fail

[2017-03-20 23:31] Alys commented on #8561
Excellent questions! I hadn't thought of any of that!

The limit should apply to current members plus pending invites, so 29
members plus 1 invite means no more invitations can be sent.

When you try to invite more people at once than the limit allows, all
invitations fail completely.

On Tue, 21 Mar 2017, 08:51 Mateus Etto <notifications@github.com> wrote:

[2017-03-21 02:23] Yutsuten commented on #8561
@Alys Got it. Now a more technical question:

I'm changing the _api.inviteToGroup_ "function" in the server and was able to get the number of current members on the party, the number of emails and UUIDs provided to invite, but I can't find a property with how many pending invitations currently exist in the party.

In the client (groupService,js) the value is in the _group.invites_, so I could easi

[2017-03-21 08:00] Yayef commented on #8570
My weekley habits counters reset yesterday (Monday UTC + 1) AND today (Tuesday UTC + 1). As far as I know, my monthly habit counter did not reset.

[2017-03-21 09:43] Alys commented on #4544
I'm closing this because PR #8198 added Habit counters and related features can be based on that now.

[2017-03-21 09:43] #4544 closed, assigned to nobody

[2017-03-21 11:42] Alys commented on #8561
Ah, yes, the number of invitations isn't stored anywhere. Each invitation is stored in the account of the player who was invited and when the party page loads, a search is done to find all of those players. The database has an index on that field so the search is fast. You could do a similar search to count the number of invitations.

I don't know off the top of my head where the code that searche

[2017-03-21 11:59] lynxlynxlynx commented on #8172
I don't think anyone is advocating for keeping the current solution.

[2017-03-21 12:00] joedragons commented on #8570
My counters reset overnight (Monday to Tuesday, also UTC-5) for the second week.  Seems consistent on my account to me!=)  I'll only post outliers or new info from now on unless repeated info is desired ("Yes, it happened again").  Thanks for all your work!

PS: It randomly dawned on me during lunch that I wonder if no-one has seen bad behavior for monthlies because it hasn't been a month yet.  I'

[2017-03-21 15:45] citrusella commented on #8573
The Android Report a Bug button (that sends an email to the developers) should be on the "About" page of the app, by the way. :blush: (Just in case you need to use it sometime in the future.)

[2017-03-21 16:30] SabreCat opened #8590 "To-Dos with checked-off checklist items turn red faster"
[//]: # (Before logging this issue, look through common problems at https://github.com/HabitRPG/habitrpg/issues If you find your issue there, read at least the first post to see if there is a workaround for you)

[//]: # (Github is primarily used for reporting bugs. If you have a feature request, use "Help > Request a Feature" so that the feature request can be vetted by the larger Habitica commun

[2017-03-21 20:31] Alys commented on #8570
All my weekly counters reset again this morning (Wednesday) as well as yesterday (Tuesday), the same as last week. They haven't reset on any other days of the week. My monthly counters still haven't reset since this issue was logged.

It's looking like that's the standard behaviour, although the exact days on which it happens can very based on time zone (Monday and Tuesday OR Tuesday and Wednesday

[2017-03-21 20:55] shalott commented on #8570
Yep, mine reset both days as well--puzzling! I should be able to take a look at the code tomorrow and try and get in a fix.

[2017-03-22 04:26] Moniarchy commented on #8590
I would like to help with this. :)

[2017-03-22 06:01] Alys commented on #8590
@Moniarchy Thank you! Comment here if you have questions.

[2017-03-22 10:06] paglias commented on #8570
Did a very quick investigation, @shalott you might find this useful:

- [here](https://github.com/HabitRPG/habitica/blob/develop/website/server/libs/cron.js#L327) `moment(now)` doesn't use the user timezone so it'll default to the server timezone that should be the one of the US east coast (but I'm not 100% sure). You can get a date with the user timezone using this function https://github.com/Hab

[2017-03-22 11:24] jimcullenaus commented on #8172
Oh, I was under the impression that's what you *were* proposing.

[2017-03-22 13:49] eastwood commented on #8432
PR should be done pending review :)

[2017-03-22 15:08] shalott commented on #8570
Thanks, @paglias, I can easily understand why the reset would happen at the WRONG time due to user timezone issues, the thing that is baffling me is why it happens TWICE--presumably the cron should be wrong the same way each time, no?

Anyway, first going to try and get a test to reproduce the issue and then that should clarify!

[2017-03-22 15:19] paglias commented on #8570
Well I think it could reset twice if the server time returns monday or
another reset day for the counters for two different days for the user.
Because the user day and the server day don't match the user could cron in
day 1 while it's monday for the user and cron in day 2 while for the server
it's still monday

Il 22 Mar 2017 16:08, "astolat" <notifications@github.com> ha scritto:

[2017-03-22 16:26] teqnickels commented on #8540
@SabreCat Thanks for letting me look into this, unfortunately I have time constraints that have prevented me from moving forward. For the sake of not wasting your time, @silentsoundz is very interested in looking into this issue and so, I'm releasing this to give her the opportunity to do so. Thanks all!

[2017-03-22 16:28] silentsoundz commented on #8540
Hey all. Im silentsoundz I am a student at learners guild and would like to be a part of this project. I can look into the issue as soon as I get the go ahead.

[2017-03-22 16:31] librarianmage commented on #8540
@silentsoundz As @TeqNickels was already given the go-ahead, I am fairly
certain it is ok for you to start.
On Wed, Mar 22, 2017 at 11:28 AM Stephani McGrath <notifications@github.com>
wrote:

[2017-03-22 23:24] lemoness commented on #8573
So, at some point the Check-in Prizes will stop, possibly after around 500
or so. Will we run into the same issue at that time? If so, it's worthwhile
to get the code in.

On Tue, Mar 21, 2017 at 8:45 AM, citrusella <notifications@github.com>
wrote:

[2017-03-22 23:38] Alys commented on #8573
For the case where there will never be more check-in prizes, we'd want a different message than the one needed to fix this bug, but it would be  the same code to display it, so yes, we should fix this now on all three platforms. When the final check-in prizes are added to the site, we can change the message at the same time (we should put a comment in the code now to remind us). I'll log issues fo

[2017-03-22 23:54] rohangokhale commented on #8578
Forgive me if I'm off base, I've been getting familiarized with the code for only the past week or so. In the cron.js file, the function performSleepTasks never calls tasksByType.habits.forEach((task)... to reset the counters. Could the problem lie there?

[2017-03-22 23:59] Alys commented on #8578
@rohangokhale Yes, that's right! The code for resetting the counters needs to be called by that function. It would be best to move that code to its own function so that it can be called in both places without duplicating the code.

[2017-03-23 07:32] Lalaitha opened #8593 "Orb of Rebirth still visible after rebirth + reload of website"
Yesterday when I used the Orb of Rebirth, I noticed it was still visible (and set to cost 6 gems) in the Market - even after reloading the website multiple times.

Just checked again, to be sure - and the Orb is still visible in the Market.

Browser used: Google Chrome (checked using Microsoft Edge as well).
OS: Windows.

[2017-03-23 12:02] Alys commented on #8573
I've logged the Android issue here: https://github.com/HabitRPG/habitica-android/issues/732

I'll do some testing on a borrowed iPhone to see if something similar is needed for the iOS app.

@lemoness On the website, when you have received the final prize available so far, the modal below is what you see. Do you want us to add a message to it saying that there's no more prizes at the moment but th

[2017-03-23 20:53] silentsoundz commented on #8540
I've been poking around with this issue. The save/cancel buttons only apply to the "challenge title" field and the "tag name" field. You cannot edit the "description" field once the challenge has been saved. I am thinking the warning label suggestion would be better placed in the tasks description. "New tasks will automatically save once entered." Or something to that effect.

[2017-03-23 21:06] SabreCat commented on #8540
@silentsoundz: What do you mean by "You cannot edit the 'description' field once the challenge has been saved"? I've edited Challenge descriptions on a regular basis for the Take This series, so I don't think that's accurate.

Having the warning label near the tasks area does make sense, though!

[2017-03-23 22:52] ryanleesipes opened #8596 ""D is Undefined" Mystery Gift"
General Info
  * UUID: f6057c63-a045-41c5-ba1d-2f993e4a4e42
  * Browser: Firefox 52.0.1
  * OS: Ubuntu 16.04

### Description
When opening two Mystery Gifts in my inventory (for being a subscriber) received the notification "D in Undefined". Can't tell if there is anything new in my inventory.

#### Console Errors
Wasn't ready for the error so did not capture console error or screenshot.

[2017-03-23 22:57] Alys commented on #8596
Please reload the website before clicking the Mystery Box. Your browser doesn't have all the information it needs yet.

We actually have a guild within Habitica for faster reporting of problems. You can get to it from Help > Report a Bug from the website's menu (or Guilds > Report a Bug from the mobile app). For general questions about Habitica features, you can go to Help > Ask a Question on the

[2017-03-23 22:57] #8596 closed, assigned to nobody

[2017-03-23 23:04] silentsoundz commented on #8540
@SabreCat correction it is the "Tag name" that cannot be edited. Sorry for the confusion. Once the challenge is made the order of the fields change.

[2017-03-23 23:41] silentsoundz commented on #8540
@SabreCat I am very new to Habitica and also very new to open source. Please advise on what the next steps are. Was the problem just needing a suggestion or should I do a pull request to fix this....

[2017-03-24 05:29] Yutsuten commented on #8593
I have this issue too... May I work on it?

[2017-03-24 15:14] SabreCat commented on #8540
@silentsoundz All good! In Habitica's repo, the "help welcome now" label means we're looking for someone from the community to step up and address the issue. "in progress" means, as in your case, that someone has volunteered to take care of it. So the next step is indeed to submit a pull request!

Feel free to comment here if you have further questions; we're happy to help new open source contribu

[2017-03-24 16:32] khipkin commented on #8518
Ping! <2 weeks until my subscription runs out again.

[2017-03-24 19:16] silentsoundz commented on #8540
thank you @SabreCat. Upon further Observation with this issue I was hoping to make a suggestion. there could be warning label.... or if the save and cancel buttons were placed below the challenge description and above the tasks. in their place a new button that says exit ( to take you out of edit mode) it might make things more clear.

[2017-03-24 21:17] SabreCat commented on #8540
@silentsoundz: Sure, OK. So long as the core matter is addressed--making it clear that "Cancel" will not stop any edits to tasks from going out--that could work!

[2017-03-24 23:52] lemoness commented on #8573
Yes, let's add the message there as well!

On Thu, Mar 23, 2017 at 5:02 AM, Alys <notifications@github.com> wrote:

[2017-03-25 03:57] Alys commented on #8573
I've updated the top post in this issue to be specifically for the website.

I've created a new issue for the same problem in the iOS app at https://github.com/HabitRPG/habitica-ios/issues/447

As mentioned above, the Android bug report is at https://github.com/HabitRPG/habitica-android/issues/732

[2017-03-25 04:32] Alys opened #8598 "the "Delete Completed" on-hover message needs to be changed"
_<strike>I'm logging this initially for suggestion/discussion, but once a decision is made, a PR will be needed to change some text on the website (regardless of the exact decision).</strike>_

<strike>When you click the "Delete Completed" button in the To-Dos "Done" tab, completed To-Dos from Group Plans are **not** deleted. Is this what we want? It's consistent with To-Dos from active challenges

[2017-03-25 17:28] TheHollidayInn commented on #8598
Completed todos get archived, correct? Why would we want to delete information? I think we should not delete todos.

[2017-03-26 02:54] Alys commented on #8598
There isn't exactly an archiving process; it's just that the completed To-Dos on the website don't show more than 30 (the most recently completed ones). All completed To-Dos are stored in the database in the same way as other tasks until deletion. We delete old completed To-Dos for performance and database space ([Task History Compression](http://habitica.wikia.com/wiki/Task_History_Compression) f

[2017-03-26 03:29] TheHollidayInn commented on #8598
If we don't allow for deleting in challenge, we should not here either. Currently, the user's task is the only indication of approval for group leaders to verify that a member completed it. The task can be deleted if the group leader unassigns them.

[2017-03-26 07:00] gracesusanchen commented on #8585
Hi Alys, this is 'GraceS' on habitica : ), I would definitely be interested in picking this one up! I may need a bit of time to comb through all the test cases though.

The existing test cases are in /test/common/shouldDo.test.js, right? Are there any conventions for naming/structuring the test folder? Thanks ; ) your help is very appreciated!

[2017-03-26 15:56] TheHollidayInn commented on #8585
I would just follow the other tests as examples. You can run the test with `gulp:test:common` after adding `.only` to the describe function.

[2017-03-26 19:02] Alys commented on #8585
@gracesusanchen Thanks very much, it's yours! Comment again here if you have more questions.

[2017-03-26 19:23] #8561 closed, assigned to nobody

[2017-03-26 19:27] #8038 closed, assigned to nobody

[2017-03-26 20:29] Yutsuten commented on #8593
I will work on this issue now. When I fix it, I'll create a PR.

[2017-03-26 22:08] Alys commented on #8593
Ah, I'm sorry, I meant to comment on the weekend. :(

I've realised this is actually intentional because the Orb of Rebirth is set to be unlocked if you reach level 50 OR if you have the Beast Master achievement (http://habitica.wikia.com/wiki/Orb_of_Rebirth ), however that was set up a long time ago when we didn't have other features like the Key to the Kennels for releasing pets.

We often see S

[2017-03-26 22:27] Yutsuten commented on #8593
No problem @Alys .
I'll wait for more informations before continuing.

[2017-03-26 23:00] Yutsuten commented on #8580
@Alys I would like to work on this issue, may I?

[2017-03-26 23:33] Alys commented on #8580
@Yutsuten Please do! Thanks!

[2017-03-27 04:31] Yutsuten commented on #8573
May I work on this issue?

[2017-03-27 05:18] Lalaitha commented on #8593
Oh, I wasn't aware of that - strange enough, since I've looked at that wiki page a lot of times. Interesting information.

[2017-03-27 06:21] Alys commented on #8593
@Lalaitha You and me both. And I've even worked on the code for Rebirth in the past!  :)

[2017-03-27 08:43] Alys opened #8600 "cancelled subscriptions sometimes end early"
I've seen the subscription problem described below a few times now in recent weeks. We've had similar problems in the past but my feeling is the cause for this now is relatively new (e.g., a previous cause was from a negative extra_months value but that's been fixed now). So, I'm creating a new issue for this.

A user reported today that they cancelled their subscription and the end date was set t

[2017-03-27 10:51] Alys commented on #8573
@Yutsuten Yes, thanks!

[2017-03-27 13:16] TheHollidayInn commented on #8600
It is possible that Stripe did not charge them for the full month. Stripe is able to dynamically adjust the price.

[2017-03-27 14:56] SabreCat commented on #8593
I would be fine with removing the Beast Master unlock. Simplification!

[2017-03-27 15:57] #8581 closed, assigned to nobody

[2017-03-27 16:03] #8385 closed, assigned to nobody

[2017-03-27 17:50] madpink commented on #8574
are you interested in this being multiple files from the outset, or lumping all the apiMessages into one and possibly splitting it out later?

Also, just to make sure I know what is involved before I volunteer, I believe that the tasks involved in this would be:

1. Copying all of the api messages into the new lib
2. Removing those same api messages from their current locations & translations
3. u

[2017-03-27 19:37] Alys commented on #8593
@lemoness says she also had forgotten that Beast Master unlocks Rebirth.:) This is clearly a feature we no longer want!

@Yutsuten please go ahead. The change we want is that the Beast Master achievement should no longer unlock the Orb of Rebirth. Thank you!

[2017-03-27 20:01] Alys commented on #8600
The information I found in Stripe lists the full $5 price so it did charge for the full month.

[2017-03-27 21:21] beffymaroo commented on #8560
Turtle Icons are ready, thanks to artisan Willow the Witty. Filenames should be correctly formatted.

![mount_icon_turtle-base](https://cloud.githubusercontent.com/assets/9218855/24378619/6f0bd17e-12f8-11e7-99d9-70f5eb647337.png)
![mount_icon_turtle-cottoncandyblue](https://cloud.githubusercontent.com/assets/9218855/24378625/7762b270-12f8-11e7-9161-4fe9d6bda63d.png)
![mount_icon_turtle-cottoncandy

[2017-03-27 21:25] beffymaroo commented on #8560
Artisan Willow the Witty has completed the Turtle Icons (Heads) - they can be found here: https://trello.com/c/j4qJevKQ/1-turtle-heads-by-willow-the-witty

I didn't upload them here directly because you lose the filename that way, and I've already given these the correctly formatted filenames needed for when they are implemented. :)

[2017-03-27 22:55] Yutsuten commented on #8593
@Alys I found that the Orb of Rebirth is enabled at ``website/common/script/fns/updateStats.js``, lines 97-100:

[code]

I removed the ``user.achievements.beastMaster`` verification, so future users that receive the Beat Master achievement won't be allowed to buy the Orb of Rebirth.

But the users which already have the ``rebirthEnabled`` changed to true, the Orb of Rebirth will continue appearing

[2017-03-27 23:22] s-feinstein commented on #8443
Hi! Just checking in about the status of this issue
@Caryyon and @johnpaulada where are each of you at? I'd also like to lend a hand, if that's useful.

[2017-03-28 00:57] Alys commented on #8593
@Yutsuten Yes, that's fine. We won't worry about the users who already have it enabled. Turning it off would provoke questions and there's no real need. Thank you!

[2017-03-28 03:26] Yutsuten commented on #8582
@marceloneil Are you still working on this issue? If its okay for you, I would like to work on it.

[2017-03-28 09:26] paglias commented on #8574
@madpink if we start adding all message maybe it's better to split into multiple files.

And the steps are okay, the important thing is not to remove anything used in the client side and to only move API messages meant for developers, so I'd start with things about `req.params.xxxxx must be ...` and similar

[2017-03-28 13:14] ioandev opened #8607 "Web site is not aware of all mobile app state changes"
[//]: # (Fill out relevant information - UUID is found in Settings -> API)
General Info
  * UUID: eeaa2757-fb24-49f9-afbf-1104e94bf70a
  * Browser: Chrome
  * OS: Win 10

### Description
[//]: # (Describe bug in detail here. Include pictures if helpful.)
I'm mostly using Habitica from my android phone as I like the design way more and it's everywhere I go. However, I use it in the browser sometime

[2017-03-28 14:05] marceloneil commented on #8582
@Yutsuten I haven't found much time to work on it, so please take it :)

[2017-03-28 15:28] quilynn commented on #8570
Adding my experience from this week, Alys copy-pasted my message from the Report a Bug guild above (I'm Quilynn)

This week I definitely had my habits reset on the mornings of BOTH Monday AND Tuesday for my habits marked to reset weekly. So as the cron triggered on both Monday and Tuesday it reset. My reset time is at the default, 12 AM, (UTC -6:00). They aren't resetting every day, only Mon+Tue.

[2017-03-28 15:30] SabreCat commented on #8570
OK, yup. I had my weekly Challenge task reset today, too. It didn't reset yesterday because I was in the Inn.

[2017-03-28 22:39] Alys commented on #8207
We've seen other reports that this is from quest start messages and I've noticed that once myself. For some reason when they result in notifications being sent, the party name isn't included. That would be a good place to start fixing this, even if it turns out that there are other causes as well (we can always open a new issue later if there are other causes after this one is closed).

[2017-03-29 00:37] Yutsuten commented on #8582
@Alys Can you help me? I'm not being able to upgrade my party to group plan in my local Habitica...
I tried editing some values in the database but nothing works... :(

[2017-03-29 06:11] gracesusanchen commented on #8585
Hi @Alys,

I think I now partly have my head wrapped around the code and how to test, here's a quick description of my understanding.

Of the three parameters of `shouldDo()`:
* `day` - is the current time in Date format, with timezone GMT
* `dailyTask` - the task we are checking if due
* `options`
  * `.dayStart` - is the CDS, a number between 0~24
  * `.timezoneOffset` - is the timezone, a numbe

[2017-03-29 10:26] Alys commented on #8582
@Yutsuten Here's an example of the `purchased` object in a guild or party:
[code]

And in case it's useful, here's an example of a user's free subscription from a group plan:
[code]

Ask again if you need anything else!

[2017-03-29 18:46] beffymaroo commented on #7991
An artisan is now working on an item to put in the Market (akin to Key to the Kennels) for this feature. The info for badge name/ mouseover text is as follows:

If possible it could also say how many classes they have Ultimate Gear for?

[2017-03-29 21:36] beffymaroo opened #8609 "New Card and Badge: Get Well"
We've got a new card and its associated badge ready to implement. :)

The image files and the information for the Market item and badge name can be found on this Trello card: they are not posted here directly in order to preserve the correctly-formatted filenames. :)

https://trello.com/c/W1lhmwEp/7-get-well-card-and-badge

[2017-03-29 21:38] beffymaroo opened #8610 "New Card and Badge: Congratulations!"
We've got a new card and its associated badge ready to implement. :)

The image files and the information for the Market item and badge name can be found on this Trello card: they are not posted here directly in order to preserve the correctly-formatted filenames. :)

https://trello.com/c/ahqm9IFN/6-congratulations-card-and-badge

[2017-03-29 21:47] beffymaroo opened #8611 "Replace Current NPC Badge image"
The current image for the NPC badge is the same as the one for Warrior-Ultimate Gear. An artisan has created a new image for this achievement- it can be found here:

https://trello.com/c/Z65N9dNA/13-updated-npc-badge-image

[2017-03-29 21:54] beffymaroo opened #8612 "New Achievement and Badge: Completed Tutorial."
A new achievement and badge are ready to be implemented! This should be received when a player completes the tutorial after they sign up. The badge image and the name/mouseover text for the user achievement page can be found here:

https://trello.com/c/Uz5cwCgk/15-completed-tutorial-badge

[2017-03-29 21:56] beffymaroo opened #8613 "New Achievement and Badge: Joined a Challenge"
A new achievement and badge are ready to be implemented! This should be received when a player participates in their first Challenge. The badge image and the name/mouseover text for the user achievement page can be found here:

https://trello.com/c/rBBuCJWR/2-joined-a-challenge-badge

[2017-03-29 21:57] beffymaroo opened #8614 "New Achievement and Badge: Joined a Guild"
A new achievement and badge are ready to be implemented! This should be received when a player joins their first guild. The badge image and the name/mouseover text for the user achievement page can be found here:

https://trello.com/c/F4MwDe9D/3-joined-a-guild-badge

[2017-03-29 21:58] beffymaroo opened #8615 "New Achievement and Badge: Invited a Friend"
A new achievement and badge are ready to be implemented! This should be received when a player invites a friend to Habitica, and that friend becomes an active user. The badge image and the name/mouseover text for the user achievement page can be found here:

https://trello.com/c/46zdTjUc/10-invited-a-friend-badge

[2017-03-29 22:00] beffymaroo opened #8616 "New Achievement and Badge: Shared Avatar to Social Media"
A new achievement and badge are ready to be implemented! This should be received when uses the Share feature to share their avatar on social media. The badge image and the name/mouseover text for the user achievement page can be found here:

https://trello.com/c/g5SjXob9/16-shared-avatar-on-social-media-badge

[2017-03-29 22:09] beffymaroo opened #8617 "New Achievements and Badges: Checked in X Days in a Row"
These new achievements and badges are ready to be implemented! These should be received when a player checks in for the number of days indicated by each badge. The badge images and the names/mouseover text for the user achievement page can be found here:

https://trello.com/c/uxR0r5R0/5-checked-in-x-days-in-a-row-badges

[2017-03-29 22:12] beffymaroo opened #8618 "New Achievements and Badges: Earned X Pieces of Equipment"
These new achievements and badges are ready to be implemented! These should be received when a player earns the number of pieces of equipment indicated by each badge. The badge images and the names/mouseover text for the user achievement page can be found here:

https://trello.com/c/F7a1Ic6j/8-earned-x-pieces-of-equipment-badges

[2017-03-29 22:14] beffymaroo opened #8619 "New Achievements and Badges: Grew X Mounts"
These new achievements and badges are ready to be implemented! These should be received when a player grows the number of mounts indicated by each badge. The badge images and the names/mouseover text for the user achievement page can be found here:

https://trello.com/c/ZP7TlViF/11-grew-x-mounts-badges

_edit by Alys:_  See the [comment below](https://github.com/HabitRPG/habitica/issues/8619#issue

[2017-03-29 22:18] beffymaroo opened #8620 "New Achievements and Badges: Hatched X Pets"
These new achievements and badges are ready to be implemented! These should be received when a player hatches the number of pets indicated by each badge. The badge images and the names/mouseover text for the user achievement page can be found here:

https://trello.com/c/bLEQxYax/12-hatched-x-pets-badges

[2017-03-29 22:21] beffymaroo opened #8621 "New Achievements and Badges: Personalized X Tasks"
These new achievements and badges are ready to be implemented! These should be received when a player personalizes the number of tasks indicated by each badge. The badge images and the names/mouseover text for the user achievement page can be found here:

https://trello.com/c/3emx3xCj/14-personalized-x-tasks-badges

[2017-03-30 02:28] Alys commented on #7991
@beffymaroo So the message should be:
"Has collected all the gear for 1 class(es) and has emptied their armory X time(s)."
"Has collected all the gear for 2 class(es) and has emptied their armory X time(s)."
and the same for 3 and 4 classes. Yes? That's achievable.

[2017-03-30 03:14] Vampitch commented on #8615
So exciting! I'm sorry for bringing this up, will previously referred active accounts somehow count for this? Thank you!

[2017-03-30 03:38] Alys commented on #8615
We do backdate achievements whenever possible but I think that in this particular case, it will unfortunately not be possible. Once a party invitation has been accepted, there's no trace of it left in Habitica and so no way for us to reliably tell who should get the achievement.

This won't be a problem after this new feature goes live because the code that handles the acceptance can award the ach

[2017-03-30 03:41] ghost opened #8622 "Quest XP Reward Error"
[//]: # (Fill out relevant information - UUID is found in Settings -> API)
General Info
  * UUID: 25f0d3d9-fab3-4ac3-b09a-fd03a9e9e9fa
  * Browser: Chrome (latest)
  * OS: Windows 10

### Description
[//]: # (Describe bug in detail here. Include pictures if helpful.)

If you complete a quest that puts your XP over leveling up it won't level you up until you complete another event.

#### Console Er

[2017-03-30 03:43] Alys commented on #8622
Thank you but that is a known problem: https://github.com/HabitRPG/habitica/issues/2433

We have a guild within Habitica for faster reporting of problems. You can get to it from Help > Report a Bug from the website's menu (or Guilds > Report a Bug from the mobile app). The only time you'd need to log an issue in GitHub is if it's a complex problem, and then a moderator would advise you of that.

[2017-03-30 03:43] #8622 closed, assigned to nobody

[2017-03-30 07:13] tim1234ltp commented on #8530
@Alys Thanks man!
Just recovered and has a bit more investigation into the code.

I am still finding if there are any files that stored users' quest progress (ie. what quests have been unlocked) and the file that stored requirement for every quest in the Habitica. Could anyone give me some hints on this?

I figure out that
test/common/ops/buyQuest.js
website/common/script/ops/buyQuest.js
seems to

[2017-03-30 10:08] Alys commented on #8530
@tim1234ltp Habitica uses your quest achievements to work out if you've done the previous quest in a series. For example, if my quest achievements look like this:
[code]
then I am allowed to buy `dilatoryDistress2` but not `dilatoryDistress3`.

To find the file that stores the requirements for each quest, and other data about them, do `git grep dilatoryDistress1` (or pick any other quest ID). You'

[2017-03-30 10:18] Alys commented on #8585
@gracesusanchen That sounds good to me!

[2017-03-30 12:47] cTheDragons opened #8624 "Bulk feeding Pets does not always deduct Milk."
`SPOILERS AHEAD`

###  General Info
  * Browser: Opera
  * OS: Javascript using AJAX

### Description
When feeding pets through an API call, your food is not always deducted. I had 81 milk before I bulk feed all my Gen 1 White Type Pets. I now have 63 milks despite all my Gen 1 pets are feed.

#### Console Errors
No errors return!
They just like the food and grew into mounts.

[2017-03-30 13:58] TheHollidayInn commented on #8585
Some tests are commented out, so you will want to enable those.

Also, you tests look good but here are few suggestions:
 1. All "not due" are separate tests. For example, not due yesterday is a test.
 2. You will want to have a test for every x day on a certain day
 3. The months have different options - every x days and on a certain date (not day).

[2017-03-30 14:14] Alys commented on #8585
This issue is for tests for just the current repeat options for Dailies (so not monthlies or other new repeats). I want us to get a solid set of tests for the existing behaviour before any new ones are introduced. Tests for new behaviour wouldn't pass with the current code, so they're best left to a different PR.

[2017-03-30 15:13] Paolo-Oliverio opened #8625 "*DELETE*"
*DELETE*

[2017-03-30 15:19] #8625 closed, assigned to nobody

[2017-03-30 15:35] Alys opened #8627 "approved Group Plans task gives XP,GP,MP, then subtracts it, then re-gives it"
When a complete Group Plan task requiring approval is approved, and the user who completed the task syncs, they see notifications for XP, GP, MP being given, then notifications for the same amounts being taken away, and then a third set of notifications for the same amounts being given again. They end up with the right stats but it looks buggy.

It's possible that this does not happen every time b

[2017-03-30 15:42] librarianmage commented on #8362
I fear that I will have to drop this, as this area is rather complex and I am rather inexperienced with Angular. I am sorry :(.

[2017-03-30 15:44] Alys commented on #8362
@MathWhiz That's okay! Thank you for letting us know!

[2017-03-30 15:46] librarianmage commented on #7715
Hi, I am not sure what needs to be changed.

[2017-03-30 15:48] librarianmage commented on #8609
I can do this! Would it be possible to do this in the same PR as #8610?

[2017-03-30 15:48] librarianmage commented on #8610
I can do this! Can I do it in the same PR as #8609?

[2017-03-30 15:53] Alys commented on #8625
@Paolo-Oliverio Just as a note, in case you have other bugs in future, we have a guild within Habitica for faster reporting of problems. You can get to it from Help > Report a Bug from the website's menu (or Guilds > Report a Bug from the mobile app). The only time you'd need to log an issue in GitHub is if it's a complex problem, and then a moderator would advise you of that. :)

[2017-03-30 17:37] Yutsuten commented on #8627
I think it is related to #8582, I'll check it...

[2017-03-30 20:18] librarianmage commented on #8609
What text should I use for the card?

[2017-03-30 20:18] librarianmage commented on #8610
What text should I use?

[2017-03-30 21:58] JoelTheWriter commented on #8600
A quick diagnosis. I'm pretty green, so possible I'm overlooking something.

From payments.js, line 427:
[code]
For the day, `nowStr` is using `dateUpdated` _(3/08 in this case)_.

`remaining` is 12 _(04/08 - 03/27)_.

(03/08 + 12) = 03/20 _(user's `dateTerminated`)_.

Seems as simple as changing `${moment(plan.dateUpdated).format('DD')}` to `${now.format('DD')}`. But there very well could be some

[2017-03-30 23:31] librarianmage commented on #8611
I can do this!

[2017-03-31 02:17] beffymaroo commented on #8609
The text for the badge and market item are in the body of the Trello card linked above. Same for the other cards/badges. :)

[2017-03-31 02:18] librarianmage commented on #8609
What I mean is, what text is there for the message?

[2017-03-31 02:45] beffymaroo commented on #8609
Ahhh. Good catch! I will compose the text and post it within the next day or so. Same for the other card/badge ticket. :)

[2017-03-31 03:39] toddmedema commented on #8075
Would it be possible to add this on BountySource? This bug is driving me crazy and making Habitica unfortunately annoying to use, I'd be happy to pay someone $20 to fix this

[2017-03-31 04:45] DaveLillethun opened #8630 "Cannot login using Firefox on Windows 7"
[//]: # (Before logging this issue, look through common problems at https://github.com/HabitRPG/habitrpg/issues If you find your issue there, read at least the first post to see if there is a workaround for you)

[//]: # (Github is primarily used for reporting bugs. If you have a feature request, use "Help > Request a Feature" so that the feature request can be vetted by the larger Habitica commun

[2017-03-31 12:40] paglias commented on #8630
Can you try going to https://habitica.com/static/clear-browser-data and follow the instructions there? Let us know if it works afterwards

[2017-04-01 07:00] johnpaulada commented on #8443
Hi! I don't know how to send an email when I'm running a local install so I can test what's actually going on.

[2017-04-01 07:58] corinnaj commented on #8620
@beffymaroo If no one is working on this yet, I'd like to give it a try :)

[2017-04-01 08:03] Alys commented on #8443
@johnpaulada I'm not sure it's possible (or at least not easily possible) to set things up so that emails can be sent from a local install. You might like to do a pull request with the code you have so far and we'll review it and see what testing might be needed.

[2017-04-01 08:04] Alys commented on #8620
@corinnaj Go for it! Thank you!

[2017-04-01 08:09] Alys commented on #8075
@toddmedema I'll talk to the staff about getting it added to BountySource, but one thing first:

Can you confirm that you experience this bug with **checklist** items inside a single To-Do? I.e., on the website, you find a To-Do that has a checklist, you open that To-Do for editing, then in the edit modal, you drag the checklist items around, and then you find that the checklist reorders itself. I

[2017-04-01 08:09] johnpaulada commented on #8443
I'll do so when I found it. LOL. Not sure where I put it.

[2017-04-01 08:12] Alys commented on #8610
@MathWhiz This and the other two you've asked for are yours. Thanks! I personally feel that it would be fine to put them in the same PR, and no other admins have said otherwise yet, so give it a try. :)

[2017-04-01 08:20] Alys commented on #7715
@MathWhiz Probably these things:

- adjust the `startDate` object that you found in https://github.com/HabitRPG/habitica/issues/7715#issuecomment-282597680 so that it has the `required` attribute (https://github.com/HabitRPG/habitica/issues/7715#issuecomment-228525675 )
- adjust the edit modal for Dailies so that it's not possible to save your edits if you have deleted the original start date and

[2017-04-01 09:04] Alys commented on #8600
@JoelTheWriter It does seem to me that you're correct. `dateUpdated` should certainly not be used when calculating time remaining because it can be changed by events unconnected to the user's payments (for example, [cron changes it at the start of each month](https://github.com/HabitRPG/habitica/blob/c23062f87e706a80644d2db6f8d4dd3c4f85a917/website/server/libs/cron.js#L57)). Using `now` instead co

[2017-04-01 14:09] toddmedema commented on #8075
Ah, that's the correct one! Is there a bounty on that one?

[2017-04-01 21:42] librarianmage commented on #7715
I do in fact use the iOS app (which makes sense due to my recent posts in
the Comrades guild), and it is not possible to delete the date there either.
On Sat, Apr 1, 2017 at 3:20 AM Alys <notifications@github.com> wrote:

[2017-04-01 22:59] Alys commented on #8350
Also happened with the March TakeThis challenge:

2017-04-01T22:38:09.235Z - error: TypeError: Cannot read property 'push' of undefined
    at /var/app/current/website/transpiled-babel/controllers/api-v3/challenges.js:747:32
    at Array.forEach (native)
    at _callee7$ (/var/app/current/website/transpiled-babel/controllers/api-v3/challenges.js:741:21)
    at tryCatch (/var/app/current/node_modul

[2017-04-02 03:17] CutTheCode commented on #8621
I would like to help with this

[2017-04-02 03:53] Alys opened #8636 "better message for blocked users"
Currently, when a moderator blocks a user, the user sees this message if they are already logged in or are trying to log in:

![image](https://user-images.githubusercontent.com/1495809/33219829-825bd7e4-d13c-11e7-93d6-15c27de255b2.png)

We want the message to be replaced with this text:

**"This account, Profile Name {insert profile name here}, User ID {insert User ID here}, has been blocked for b

[2017-04-02 10:37] CutTheCode commented on #8598
Hello, I would like to help with this, may I ask where the file contains this function: clearDoneTodos(), is located?

[2017-04-02 11:27] Alys commented on #8598
@CutTheCode Thanks! It's all yours!

The best way to find code is with the `git grep` command. Change into the root habitica directory in your local install (i.e., the directory that contains the `config.json` file) and then type `git grep clearDoneTodos`. You'll see search results from the entire code base.

Comment again here if you have any other questions or run into trouble.

[2017-04-02 21:41] Alys opened #8639 "flagged chat messages need to remain visible to the person who posted them"
When a chat message is flagged by two players or by one moderator, the current behaviour is:
- the message is hidden from the player who posted it **(this needs to change)**
- the message remains visible to moderators
- the message is hidden from all other players

The desired behaviour is:
- **the message remains visible to the player who posted it**
- the message remains visible to moderators (a

[2017-04-03 01:41] librarianmage commented on #8609
Please let me know when the text is added!

[2017-04-03 08:01] Alys opened #8641 "Automatic Allocation of attribute points cannot be switch on / off"
On the User > Stats page, the checkbox for turning Automatic Allocation on and off doesn't save the user's choice.

Steps to reproduce:

1. Use a database update command to set this: `"preferences.automaticAllocation": true`
2. Sync the website and confirm that the "Automatic Allocation" checkbox is on
3. Untick the "Automatic Allocation" checkbox.
4. Observer that a sync occurs (the blue sync lin

[2017-04-03 08:42] Alys opened #8642 "subscription page is inaccurate for cancelling Google Play and iTunes subscriptions"
When a player has a subscription they created through Google Play or iTunes, it is not possible for them to cancel the subscription from inside Habitica. They have to go to Google Play or iTunes to cancel it there.

However there is no indication of that when they visit the website's subscription page - what they see is in the screenshot below. If they click the cancel button, they get an error: `

[2017-04-03 11:14] Alys opened #8643 "when ex-subscriber joins group plan, they lose Mystic Hourglasses and Mystery Items"
If a user has previously had a subscription and has unused Mystic Hourglasses or unclaimed Mystery Items, they lose them when they join a guild or party that has a group plan.

Steps to reproduce:

1. Give a user a gift subscription that terminates in the past. Example:
[code]
2. Ensure that:
   - the user has one or more Hourglasses (`purchased.plan.consecutive.trinkets`)
   - the user has unclai

[2017-04-03 18:44] SabreCat commented on #8574
Re step 2, you would only need to remove them from the English translation files. Changes there will propagate to other languages via a scripted process we run.

[2017-04-03 22:21] CooperFLe commented on #8643
New to the project and not sure how everything is put together yet. Still trying to figure out how everything works together.

Wouldn't the solution to this just be pulling out the plan.merge() call from the if statement and putting after the if statement so it merges that data no matter what?

I am not sure how to test to make sure this is a valid solution.

[2017-04-03 23:21] beffymaroo commented on #8609
My apologies, the travel schedule of myself and some of the other staff delayed me from this task. I'll certainly post here and on the Congratulations card ticket when I have finalized text.

[2017-04-03 23:27] Alys commented on #8643
@CooperFLe Sure, if that's guaranteed to not change any behaviour for the case that's currently covered by the `if` statement.

[2017-04-03 23:27] beffymaroo opened #8647 "Golden Rock Mount Sprite Fix"
The body sprite for the Golden Rock Mount currently has a stray pixel some distance from the rest of the body. The image attached to the Trello card linked below has been corrected to remove the stray pixel and has the correct filename.

https://trello.com/c/lduSl5jU/17-corrected-golden-rock-mount-body-sprite

[2017-04-04 00:31] librarianmage commented on #8609
Thank you!
On Mon, Apr 3, 2017 at 6:21 PM beffymaroo <notifications@github.com> wrote:

[2017-04-04 01:59] CooperFLe commented on #8643
Sorry, this is my first time attempting to contribute to an open source project. Not sure if I did all of that right...

[2017-04-04 02:27] CooperFLe commented on #8647
I'm working on this one :) Replaced the file, but the stray pixel is still present. Working on why right now.

[2017-04-04 04:42] CutTheCode commented on #8612
Hello, I want to help with this and still trying to figure out what to do. This will be a basic achievement, right?

[2017-04-04 19:16] SabreCat commented on #8647
Fixed in #8650, merged by way of one of our content branches.

[2017-04-04 19:16] #8647 closed, assigned to nobody

[2017-04-04 22:44] beffymaroo commented on #8610
@MathWhiz Here are the possibilities for the text when the recipient opens the card. We'd like all five of them to be randomized in the manner of the Valentines and New Year's cards:

---
Congratulations on your success!

I'm so proud of you!

Well done!

A round of applause for you!

Bask in your well-deserved success!

---
Get Well card text is pending! Hopefully I'll have that to you within the

[2017-04-04 22:45] librarianmage commented on #8610
Got it! Thank you!
On Tue, Apr 4, 2017 at 5:44 PM beffymaroo <notifications@github.com> wrote:

[2017-04-05 01:17] TNychka commented on #8641
Is help still needed on this task? I'm available to give it a go if needed.

[2017-04-05 01:52] Alys commented on #8641
@TNychka Please go ahead! Thanks! It might turnout to be #rom something weird that lodash is doing so if you can't find a cause don't be afraid to ask questions.

[2017-04-05 14:06] jarrett commented on #3385
this would mean that failed Stripe payments do not properly trickle back to
Habit?

I did a Stripe integration recently, so I'm familiar with the Stripe API. (I'm still getting to know the Habitica codebase, though.) I can look into this issue and post my findings here, if nothing else. I know this is a three-year-old issue, so I wanted to check in before going down the rabbit hole. Does this stil

[2017-04-05 14:50] Rosenblad opened #8654 "Bug: 869/850 XP"
[//]: # (Before logging this issue, look through common problems at https://github.com/HabitRPG/habitrpg/issues If you find your issue there, read at least the first post to see if there is a workaround for you)

[//]: # (Github is primarily used for reporting bugs. If you have a feature request, use "Help > Request a Feature" so that the feature request can be vetted by the larger Habitica commun

[2017-04-05 14:51] SabreCat commented on #8654
Duplicate of #2433. You'll level up next time you check off a task!

[2017-04-05 14:51] #8654 closed, assigned to nobody

[2017-04-05 14:54] SabreCat commented on #8654
We have a guild within Habitica for faster reporting of problems: [Report a Bug](https://habitica.com/#/options/groups/guilds/a29da26b-37de-4a71-b0c6-48e72a900dac). You can get to it from Help > Report a Bug from the website's menu (or Guilds > Report a Bug from the mobile app). The only time you'd need to log an issue in GitHub is if it's a complex problem, and then a moderator would advise you o

[2017-04-05 14:55] librarianmage commented on #8609
For the achievement image, should the filename be `achievement-getwellx2.png`?

[2017-04-05 15:47] SabreCat commented on #3385
I think this may be ready to close, actually, as we just recently implemented Stripe webhook handling for these things! @paglias can confirm.

[2017-04-05 15:50] paglias commented on #3385
Yep, it's fixed!

[2017-04-05 15:50] #3385 closed, assigned to nobody

[2017-04-05 15:58] librarianmage commented on #8639
I can take a look!

[2017-04-05 16:11] librarianmage commented on #7854
@paglias I think it might make more sense to tag this as discussion

[2017-04-05 16:14] librarianmage commented on #4040
What is the status on this?

[2017-04-05 23:07] beffymaroo commented on #8609
@MathWhiz The filename should be fine as-is, several other achievement image files have hyphens between words and the "2x" part is also consistent with the other achievements.

Here is the text that should be displayed when the card is opened by the recipient (again, these should be randomized possibilities).

1. Hope you feel better soon!
2. Take care! <3
3. You're in my thoughts!
4. Sorry you're

[2017-04-05 23:42] librarianmage commented on #8609
@beffymaroo Yeah, I meant `2x`. I was mostly asking because with all of the other cards, the name of the achievement image matched the name of the card, which I think might be intentional.

[2017-04-06 04:11] khipkin commented on #8612
@CutTheCode My guess would be yes.

[2017-04-06 10:32] Alys commented on #4040
I think we should leave this one until we've finished the website improvement project. It will be involve changes to client-side code and if it were done now it would need to be rewritten for the new website code. I'm marking this as on hold.

[2017-04-06 10:34] Alys commented on #8639
@MathWhiz Cool!

[2017-04-06 19:55] keysmashes commented on #5490
Nope, I needed to tweak `$hrpg-modal-dropdown > div` in `global-modules.styl`. I'll have a pull request open soon™.

[2017-04-06 23:38] CooperFLe commented on #8614
I can work on this one since nobody else has expressed interest 👍

[2017-04-07 00:04] beffymaroo commented on #8609
@MathWhiz Good point. Filename is now `achievement-getwell2x`

[2017-04-07 00:49] sebcagnon commented on #1806
Hello

At least for the Guild Leader part, I propose that we change the dropdown by text box where we can input the ID of the new Guild Leader. The request should error if the ID is wrong or the user is not in the guild.

[2017-04-07 02:04] TNychka commented on #8641
I've narrowed it down to something weird that lodash is doing. User.preference.automaticAllocation does not exist in users by default and It looks like when the set method is called, if the element doesn't already exist in the user's info, then it will not be created. So because User.preference.automaticAllocation doesn't exist, and lodash won't create it, the user autoAllocate preference is never

[2017-04-07 02:10] librarianmage commented on #8577
My suggestion is to post this to the [Trello Board](https://trello.com/c/odmhIqyW/440-read-first-table-of-contents), as it is a feature suggestion. To answer your second question, it is possible to connect the app to a different server, which you can learn more about [here](http://habitica.wikia.com/wiki/Guidance_for_Blacksmiths#Mobile_App_for_iOS) (check the repositories for the mobile apps).

[2017-04-07 02:11] librarianmage commented on #8577
Also, what exactly do you mean by "using the full potential of Habitica"?

[2017-04-07 02:24] librarianmage commented on #8441
Should this be marked as in progress?

[2017-04-07 02:27] MathWhiz commented on #8298
What is the status on this?

[2017-04-07 02:28] rhdsmnd commented on #8636
Is there a way to get the Community Manager profile name ("Lemoness")?  In the config.json, there seems to only be an entry for COMMUNITY_MANAGER_EMAIL and not other user details.  Peeking in my own (sparse) test database, there doesn't seem to be any references to a Community Manager (or other special staff/admin users) either.

Also, are there other versions of the string ("This account...") for

[2017-04-07 02:35] librarianmage commented on #7687
I can do this!

[2017-04-07 02:36] librarianmage commented on #7379
What is the status on this?

[2017-04-07 02:49] CooperFLe commented on #8577
@MathWhiz my guess about the full potential of Habitica is @jcgruenhage wants to be able to locally host all of his files, but still interact with users of the website through parties and guilds.

I don't see this being a possibility because of how the system works. You'd be able to tweak your own stats to give you amazing buffs that could then be shared with your party members in quests and throu

[2017-04-07 02:51] librarianmage commented on #8577
Yes, it would make things like subscriptions and gems more complicated. My
best guess would be to use something like a blockchain.
On Thu, Apr 6, 2017 at 9:49 PM Cooper F Le <notifications@github.com> wrote:

[2017-04-07 07:30] Alys commented on #7379
There's compelling arguments from this comment onwards: https://github.com/HabitRPG/habitica/pull/5137#issuecomment-102196106
for making the gems refundable. My feeling about the current state of the community is that the main reasons for deleting a Tavern challenge would be because you'd put it there by mistake or because one of our many challenge bugs had broken the challenge. I'm marking this a

[2017-04-07 07:37] Alys commented on #7687
@MathWhiz  Great!

[2017-04-07 08:06] Alys commented on #8636
@rhdsmnd There isn't an environment variable for "Lemoness" and we're not too concerned about that. Our main reason for having the env variables is so that email addresses can be changed quickly when Lemoness is unavailable. It's okay if the messages still show her name then (slightly inaccurate but it doesn't stop people from getting help quickly).

To find the strings that contain the current me

[2017-04-07 08:35] Alys opened #8658 "avatar transformation buffs no longer give the caster an achievement (Snowball, Shiny Seed, Seafoam, Spooky Sparkles)"
When you cast a [transformation buff](http://habitica.wikia.com/wiki/Transformation_Items) on a party member, both you and they are meant to get the associated achievement. As the Bailey message from 4/6/2017 says, "Throw a Shiny Seed at your friends and they will turn into a cheerful flower until their next cron! ... Plus, you and your pal will both receive the Agricultural Friends badge!"

Howev

[2017-04-07 09:10] Alys commented on #8614
@CooperFLe  Thanks! It's yours!

[2017-04-07 12:01] CooperFLe commented on #8614
Quick question: Can someone help point me in the right direction to where I should add the check for the achievement? I was thinking of putting it in the code where a user joins a guild, but I am not sure where that happens.

[2017-04-07 13:26] librarianmage commented on #7687
To be clear, the parts I should add are:

* Max Mana
* Challenges Won
* Totals for stats
* Pets/Mounts
* Contributor status
* Achievements
* Profile Blurb

[2017-04-07 14:00] mandyzhou commented on #8658
The achievement descriptions also indicate that only the recipient of the transformation buff gets the achievement (e.g., "Got snowballed x times by party members."), so those descriptions would need to be updated as well (though is it possible that the current behavior is as intended, and there was an error in the Bailey announcement?).

[2017-04-07 14:58] CooperFLe commented on #8658
@mandyzhou I'm trying to find past announcements to see if they made similar announcements indicating the same intended behavior. I can't find any though, maybe @Alys can check to see?

[2017-04-07 16:12] mandyzhou commented on #8658
@CooperFLe Good idea to look at previous Bailey announcements! Here's what I've found (not all of the transformation item announcements mention the achievements):

10/6/2016 and 10/3/2014: "If you have Spooky Sparkles cast on you, you will receive the "Alarming Friends" badge!"

12/30/2016 and 12/31/2014: "Anyone hit with a snowball earns the Annoying Friends badge."

These seem to support my theo

[2017-04-08 03:06] Alys commented on #8658
Hmmm. I was sure the achievement used to be given to both caster and receiver but I might have been thinking of the greeting cards.

I'll ask Lemoness if she wants the Bailey or code changed. Sounds like it will probably be the Bailey.  On hold until I hear back since she has commitments this week. Thanks @CooperFLe and @mandyzhou !

[2017-04-08 07:08] Alys commented on #8614
@CooperFLe That sounds like a good place for it. It should be in the API code (not the client-side website code) so that the achievement is given regardless of whether you join a guild on the website, official mobile apps, a third-party tool, or using raw API commands.

The API documentation is at https://habitica.com/apidoc/ and you can search in there for the API route that would let you join a

[2017-04-08 17:22] gracesusanchen commented on #8585
I have the PR ready, but two new tests added by me are failing for the same reason. I will try to explain below:

* Test case: When Start Date is today, CDS is midnight (`dayStart = 0`), but the current time is before midnight, the Daily Task should not be due.

In my test I am setting
- `options.dayStart = 0` for midnight,
- `task.startDate = new Date()` for Start Date of today's date
and the cur

[2017-04-09 11:09] jcgruenhage commented on #8577
@MathWhiz By using the full potential, I meant that I would use it in a way where I could fully use the features, which would invade my privacy quite a bit, because every tiny bad habit is in there, a lot of things I want to accomplish, my daily schedule and so on. By hosting habitica myself, I am not giving away that data to a US based company (not that I would trust a German company with that, b

[2017-04-09 13:23] librarianmage commented on #8577
While people can certainly "cheat" here, one cannot write a line of
JavaScript and suddenly become a moderator / contributor or get a
subscription (which is possibly part of your list of "fully using" Habitica.
On Sun, Apr 9, 2017 at 6:09 AM Jan Christian Grünhage <
notifications@github.com> wrote:

[2017-04-09 15:40] jcgruenhage commented on #8577
Using some script kiddie grade JavaScript to become a moderator, is most certainly not what I meant with fully using habitica. Those user power levels (or subscriptions for that matter) could be verified using a central server. If some server tries to federate, and one of their users appears to have stuff that doesn't match up with the verification server, that server is simply blocked. Would that

[2017-04-09 17:11] librarianmage commented on #8577
But if there is a verification server, surely your information would still
be viewable, right? I am just having trouble understanding how this is
feasible.
On Sun, Apr 9, 2017 at 10:41 AM Jan Christian Grünhage <
notifications@github.com> wrote:

[2017-04-09 18:08] CooperFLe commented on #8577
@jcgruenhage if your only concern is keeping your tasks private, I would recommend keeping a list of tasks on paper numbered or otherwise labeled. In Habitica, your task name could be "Task 1", and written down in a notebook or something, you could have your task as "Task 1: Hide all the data!".

If you are worried about other information, that would be a lot trickier and probably wouldn't be poss

[2017-04-09 18:19] jcgruenhage commented on #8577
The verification server I meant was just for "Is subscriber/Moderator/Contributor", since that seemed to be your major concern with that :D

@CooperFLe It's not only the tasks, I'd like to keep as much as possible on my server only, since all that data (or metadata) is not really needed on your side.
A way more intuitive fix for "hiding task/daily/habit content" would be to just encrypt that, with

[2017-04-09 18:22] librarianmage commented on #8577
As this is a feature request and you don't plan on taking it on, I would
recommend posting it to the Trello board (link above) and closing this
issue.
On Sun, Apr 9, 2017 at 1:19 PM Jan Christian Grünhage <
notifications@github.com> wrote:

[2017-04-09 19:35] paglias commented on #8577
Agreed about posting it to Trello. We won't introduce this feature as Habitica but you're free to work on it but consider you'll have to set up your own central server to manage group features separate from the main Habitica server.

[2017-04-09 19:35] #8577 closed, assigned to nobody

[2017-04-10 10:41] jcgruenhage commented on #8577
I posted this on Trello, but I have to say that closing this seems wrong to me, since the issue is not fixed ^^
Also, how is this supposed to get ANY attention by someone who would be willing to fix this, if it is just a comment, on an archived card in Trello? Keeping this open would imho be better :D

[2017-04-10 10:48] paglias commented on #8577
@jcgruenhage we use Github for issues that we're going to work on and it's been decided that this is not something that we'll pursue as Habitica. Being the project open source you're free to work on it separately but we won't include it in the core Habitica repository.

[2017-04-10 10:54] jcgruenhage commented on #8577
So you're saying that even if someone implemented proper federation, you wouldn't want that in your repository/on the main site?

[2017-04-10 11:00] MathWhiz commented on #8577
At the point that someone wants to work on it (or someone wants to post a
bounty on BountySource, right?), an Issue/PR will be created, probably with
much more relevant discussion regarding the state of the project then.
On Mon, Apr 10, 2017 at 5:54 AM Jan Christian Grünhage <
notifications@github.com> wrote:

[2017-04-10 11:02] MathWhiz commented on #8577
It must also be approved by the staff as well, I believe.
On Mon, Apr 10, 2017 at 6:00 AM Ray Arndorfer <raymond.arndorfer@gmail.com>
wrote:

[2017-04-10 11:23] Alys commented on #8577
@jcgruenhage We have no plans to incorporate it into our repository. There are too many factors that could involve a lot of work, such as the need to validate subscriptions and gem purchases. Working on those factors, or doing an in-depth review and test of a contributor's work on them, or maintaining the code on an ongoing basis would take time away from development of features / bug fixes that a

[2017-04-10 11:48] jcgruenhage commented on #8577
Well.. That's sad to hear, but understandable of course..

[2017-04-10 18:45] SabreCat commented on #8658
I'm pretty sure the transformation items have only ever given the achievement to the target. It is indeed the greeting cards that work two-way. So the Bailey was in error. Certainly a possibility to change if we decide we want the two things to work similarly, though!

[2017-04-11 13:28] CooperFLe commented on #8614
I currently have it working, but the achievement only shows after you join a guild then log out and back in...

[2017-04-11 15:09] #8573 closed, assigned to nobody

[2017-04-11 19:31] kvsm commented on #8642
Ok if I take a shot at this? Shall I hold off until messages are finalised?

[2017-04-11 20:15] beffymaroo opened #8663 "New Achievements and Badges: Checked off X Tasks"
These new achievements and badges are ready to be implemented! These should be received when a player checks off the number of tasks indicated by each badge. The badge images and the names/mouseover text for the user achievement page can be found here:

https://trello.com/c/PMBVCiyv/4-checked-off-x-tasks-badges

[2017-04-11 20:38] kawunngg commented on #8116
... and again ...

UID: ce935e7f-00e6-44bc-a44a-5280553810f0

challenge: https://habitica.com/#/options/groups/challenges/d4e5405d-e38f-4cd1-9a66-1caf7866f441
edit: i created this challenge about a week ago, unfortunately i noticed only now.

is it still usefull to report broken challenges?

[2017-04-11 20:56] Alys commented on #8116
@kawunngg Yes, still useful, so we know how often it happens. :(  Does the original challenge still exist? If so, can you try cloning it again?

If it does not still exist, did it have many tasks or complex tasks that would take significant time to rewrite? I might be able to find the taaks in a backup, although that's a slow process so for short simple challenges, creating the tasks manually migh

[2017-04-11 21:17] kawunngg commented on #8116
@Alys i already closed the origial challenge. but cloning it again worked like it should the last 2 times (Feb 17 & Oct 10).
i keep a "blue print" in my own private guild, i already lost a challenge because i closed it before cloning x-D but it's very nice of you to ask. :)

[2017-04-11 21:55] kvsm commented on #8636
Is this in progress? If not, I'd be happy to take a look.

[2017-04-11 22:06] kvsm commented on #8621
Pardon my ignorance, but what does it mean to 'personalise' a task?

[2017-04-11 22:15] Alys commented on #8642
@kvsm You'd be welcome to start now! Thank you! If you get to the point when you're ready to do a pull request and we haven't finalised the words yet, post a message here asking us about it. Although even after you've done a pull request it's easy to update it with a wording change.

[2017-04-11 22:17] Alys commented on #8636
@rhdsmnd Are you working on this? If so, that's great! If not, @kvsm can. :)

[2017-04-11 23:42] rhdsmnd commented on #8636
Yeah, I've been tinkering with it and will start coding the new message;
sorry about going mia.  I ran into weird behavior when setting auth.blocked
(logged in user still able to use webite?).

On Apr 11, 2017 3:17 PM, "Alys" <notifications@github.com> wrote:

[2017-04-11 23:45] Alys commented on #8636
@rhdsmnd No worries and thank you!

The logged in user should still see the website and can probably navigate around but they can't take any actions such as completing or editing tasks, buying items (gems or gold), posting messages. Once they've logged out, they can't log back in.  Does that explain what you're seeing?

[2017-04-11 23:54] TNychka commented on #5279
Looks like what's happening is the stealth attribute is calculated based on static stats.
in
[code]
 none of
+ user._statsComputed.per
+ user.tasksOrder.dailys.length * 0.64
+ 55

will change between casts, thus each cast will avoid the same number of dailies increasing stealth stat linearly.
Depending on intended behavior (Correct me if I'm wrong) stealth should avoid _up to half_ of the users' _

[2017-04-12 00:38] TNychka commented on #7645
Still need help on this one? I'm willing to take a look at it.

[2017-04-12 01:02] Regina3000 commented on #8500
Alys, if it would help, I'd be willing to guinea-pig. We could set up a certain time, then you could direct me what to do, and in what order to do it, so that you can see what's happening. We could coordinate through Hangouts or something.

[2017-04-12 02:21] LoganBarnett opened #8665 "Double cron run in a single day"
General Info
  * UUID: b8edbaae-561a-4e78-a4c2-8d39ff4a777c
  * Browser: Chrome
  * OS: Windows 10, Windows 7, Ubuntu 15.10, Android Oxygen OS 4.0.3

My party-mate has run into an issue where it seems to be triggering multiple crons in a day (which has caused a loss of levels and such - I've repaired the data).

c.rayon is the user with the problem in the screenshot below.

![habitica-double-cron-

[2017-04-12 02:49] Alys commented on #8665
Please ask her to post to the Report a Bug guild from the Habitica website's Help menu (or from Guilds > Public Guilds on the mobile app). We can see her account from there which will make it easy to troubleshoot this and her posting there also makes it clear that she doesn't mind us looking into her account.

I'm closing this issue now because this will almost certainly be something simple like h

[2017-04-12 02:49] #8665 closed, assigned to nobody

[2017-04-12 03:50] khipkin commented on #8614
@CooperFLe sounds like you need to sync the client's user with the server

[2017-04-12 09:32] Alys commented on #7645
@TNychka Thank you, it would be great if you could work on this!

The most pressing fix is to have a function that runs during every cron to fix taskOrder discrepancies, and that's currently our only requirement for this issue.

I personally would also like to see a feature in future that gives the user a button to click to run that function at any time (because any player who keeps their tasks in

[2017-04-12 10:48] kvsm commented on #8642
Great, the work is already done so I will submit the PR later and leave it for review for the time being. :)

[2017-04-12 10:50] Alys commented on #5279
@TNychka I like that idea!

Although it would still count inactive Dailies in its calculations (user.tasksOrder.dailys.length gives the total number of all Dailies). We're part way through adding an `isDue` property to Dailies (https://github.com/HabitRPG/habitica/pull/8509), which, when completed, would make it easier for Stealth to count only due Dailies.

[2017-04-12 12:18] kvsm commented on #8642
Ok, submitted the PR. Just out of interest, it occurred to me that iTunes/Play must provide some kind of callback to let you know when a user subscribes - do they not do the same when they cancel?

[2017-04-12 18:02] kvsm commented on #8613
Can I pick this one up?

[2017-04-12 21:32] Alys commented on #8613
@kvsm Yes, thanks!

[2017-04-13 02:51] Alys opened #8668 "Task Alias field is not visible in Rewards"
When you edit a Reward, you cannot see the Task Alias field. You should be able to see it (and modify it).

You can see the Task Alias field when editing Habits, Dailies, and To-Dos, so they are all working correctly.

The Task Alias field is part of the Advanced Options, so this bug has probably happened because all Advanced Options have been hidden for Rewards. If so, the fix would be to un-hide

[2017-04-13 03:05] Alys opened #8669 "Dailies and To-Dos can be scored up or down (completed or uncompleted) multiple times"
Using the API's route for scoring a task (https://habitica.com/api/v3/tasks/:taskId/score/:direction ), you can mark a Daily or To-Do complete multiple times (i.e., without toggling it back to incomplete each time).

If you test it, you see that all the effects of completing the task are applied each time: you gain XP for each completion, the task's value changes each time, for Dailies, the streak

[2017-04-13 06:28] Alys commented on #4459
fixed in https://github.com/HabitRPG/habitica/commit/1a7c8c1f875944370320e0a061aba17438bc14b9 and/or related commits around that time

[2017-04-13 06:28] #4459 closed, assigned to nobody

[2017-04-13 17:34] yugensoft commented on #8333
Is this error still current?

[2017-04-13 17:55] yugensoft commented on #8571
Hi, I'm interested in helping and this issue looks like a good start. Can it be assigned to me? Cheers

[2017-04-13 19:33] SabreCat opened #8671 "Mount Growing modal should use mount name, not pet name"
[//]: # (Before logging this issue, please post to the Report a Bug guild from the Habitica website's Help menu. Most bugs can be handled quickly there. If a GitHub issue is needed, you will be advised of that by a moderator or staff member -- a player with a dark blue or purple name. It is recommended that you don't create a new issue unless advised to.)

[//]: # (Bugs in the mobile apps can also

[2017-04-13 19:40] SabreCat commented on #8571
@yugensoft: OK! Let us know here if any questions come up while you're working on it!

[2017-04-13 19:43] SabreCat commented on #8333
Not seeing anything in today's logs. Will close for now!

[2017-04-13 20:56] Alys commented on #8518
For the record, khipkin's subscription was adjusted again a couple of weeks ago.

I've updated the top post with this information:

khipkin was affected by two bugs, one caused by unexpected data in her account that caused a subscription to terminate early and the other caused by a bug in our code that processes coupons. **This issue is specifically for fixing the bug that prevents coupons being u

[2017-04-13 23:12] kawunngg commented on #8116
so today @MintyOtterine stated that the bug seems to like me...

https://habitica.com/#/options/groups/challenges/9044eba5-da20-4105-a4e4-6042a2a5de0e

[2017-04-13 23:15] kawunngg commented on #8116
so today @MintyOtterine stated that the bug seems to like me....

https://habitica.com/#/options/groups/challenges/9044eba5-da20-4105-a4e4-6042a2a5de0e

[2017-04-14 00:29] rhdsmnd opened #8672 "Account suspended/blocked error lacks detail; lead to hanging website on refresh"
[//]: # (Before logging this issue, please post to the Report a Bug guild from the Habitica website's Help menu. Most bugs can be handled quickly there. If a GitHub issue is needed, you will be advised of that by a moderator or staff member -- a player with a dark blue or purple name. It is recommended that you don't create a new issue unless advised to.)

[//]: # (Bugs in the mobile apps can also

[2017-04-14 13:58] TigzAU commented on #8671
I can look into this one,  I'm happy to look at the code alter it and complete testing on my local version, sounds like a simple switch in the code without looking at it.

[2017-04-14 16:32] yugensoft commented on #8571
OK its done, I'll put up the pull request soon.

[2017-04-14 17:12] librarianmage commented on #8671
@TigzAU You may want to check out https://github.com/HabitRPG/habitica/blob/develop/website/views/shared/modals/raise-pet.jade

[2017-04-14 19:20] MagnusFundal commented on #5419
From the looks of it, the egg name is generated automatically by appending "egg" on the pet's name.
Can we change this in translations at all? It looks horribly wrong in Danish.
About as wrong as "Fresh Lied Eggs" when you mean "freshly-laid eggs".

[2017-04-14 23:54] lemoness opened #8674 "New Groups Static Page Needed"
The static page that tells people about our paid group plan options is out of date, as can be seen here: https://habitica.com/static/plans

This page should be updated so that it tells people about the current group plans and lets them sign up for one, while also having places that they can learn more about family plans and enterprise plans.

Here is a template for the new page:

![image uploaded

[2017-04-15 01:02] Alys commented on #5419
To add some more details for @MagnusFundal's report, below is the conversation from the Aspiring Linguists of Habitica guild. The workaround given is only partially useful since you can't predict in advance whether the pet's name will end in a consonant.

_Hagtar wrote:_
Does anyone know how egg, pet and mount naming works?
I have this horrible suspicion that eggs are named as [Pet type] [Egg], i.

[2017-04-15 14:59] TigzAU commented on #8671
Thanks @MathWhiz , line 7 is the problem advised, "h3(style='margin-bottom: 0')=env.t('raisedPet',{pet:'{{::raisedPet.displayName}}'})" the "displayName" is calling the right naming convention but the issue is that the naming convention for mounts is based off the pets in all its calls from sprites to information.
so a mount is "tigercub-color/type" for all of its calls except one.
The only place

[2017-04-15 21:56] yugensoft commented on #8674
Can I take this on?

[2017-04-15 23:14] Alys commented on #8674
@yugensoft Sure! Thank you!

[2017-04-16 08:21] Alys commented on #7687
@MathWhiz Yes, all of those, and also the user's Battle Gear and class.

[2017-04-16 08:32] Alys commented on #8672
@rhdsmnd That seems reasonable to me, although if other admins suggest a different approach, listen to them not me. :)

Just as a general note about this issue, I'd like to see it fixed because when a user has been blocked and doesn't initially understand the message they get about that, they might refresh the website to see if that fixes the problem (we often tell people to refresh to fix certain

[2017-04-16 08:34] Alys commented on #8333
This is still happening.

172.31.61.177 - - [15/Apr/2017:11:44:12 +0000] "GET /assets/audio/off/ToDo.mp3 HTTP/1.1" 404 82 "-" "okhttp/3.4.1" "188.207.110.211"

[2017-04-16 09:07] yugensoft commented on #8674
How should I deal with the existing Social->Group Plans menu link to https://habitica.com/#/options/groups/group-plans ? Shall I leave it as is, or make both Social->Group Plans and [Front]->Corporate Plans link go to the updated https://habitica.com/static/plans page?
Also should I rename the "Corporate Plans" tab text to "Group Plans"?

[2017-04-16 15:45] yugensoft commented on #8674
Also the "Get a group plan" button, which is "Create a new group" in the group-plans page, is using angular so this page won't be "static" anymore, so I need clarification on this.

[2017-04-17 00:22] Alys opened #8676 "negative clicks on group plans Habits are treated as positive clicks"
When a player in a group plan claims a Habit that requires approval and clicks on the negative button, after approval has been given, the player is rewarded with XP, GP, etc and the Habit turns green, as if they'd clicked the positive button. This occurs for Habits that have both plus and minus buttons and for Habits with only minus buttons.

Steps to reproduce:
1. Group leader creates a Habit, se

[2017-04-17 00:50] Alys opened #8677 "Group Plans task approval list needs information about task types, better formatting"
When a member of a group plan completes a task that requires approval, the group leader sees the approvals as shown in the screenshot below.

1. It's not possible to tell whether the tasks are Habits, Dailies, To-Dos, or Rewards. In the case below, for the first two tasks, one is a Habit and one a Daily. There needs to be an indication of task type.
1. For Habits, it's also not possible to tell if

[2017-04-17 00:58] Alys commented on #8677
I've added this to the list in the top post:

For Habits, it's also not possible to tell if the member clicked the plus or minus button, which is important to know for correctly approving it. It should state whether plus or minus was clicked.

[2017-04-17 04:39] #8580 closed, assigned to nobody

[2017-04-17 20:28] citrusella commented on #6708
I noticed today that the smaller width still happens in Internet Explorer 11. Not sure how important that is, but it felt worth bringing up.

[2017-04-18 01:39] lemoness commented on #8674
The Social > Group Plans menu link should still go to the in-game group
plans page. And yes, it should say "Group Plans" instead of "Corporate
Plans." Thanks so much for working on this ticket!

On Sun, Apr 16, 2017 at 8:45 AM, yugensoft <notifications@github.com> wrote:

[2017-04-18 04:38] Yutsuten commented on #7792
@eternal44 Did you quit fixing this issue?
@Alys Is this still expected to be done? If yes, may I finish it?

[2017-04-18 05:07] DaveLillethun commented on #8630
Hi Matteo,
That link did not help, but then I did a hard reset of all my Firefox
settings (basically setting it back fresh as if I had just downloaded it).
The full reset seemed to fix everything!

Thanks for your help.

- Dave

-----------
Dave L.

On Fri, Mar 31, 2017 at 5:40 AM, Matteo Pagliazzi <notifications@github.com>
wrote:

[2017-04-18 05:12] eternal44 commented on #7792
All yours

On Apr 17, 2017 9:38 PM, "Mateus Etto" <notifications@github.com> wrote:

@eternal44 <https://github.com/eternal44> Did you quit fixing this issue?
@Alys <https://github.com/Alys> Is this still expected to be done? If yes,
may I finish it?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub
<https://github.com/HabitRPG/habitica/issues/77

[2017-04-18 05:24] Alys commented on #8630
@DaveLillethun Thanks for letting us know!

If you experience any other bugs, please report them in the Report a Bug guild from Social > Guilds in the website and mobile apps, or from the website's Help menu. You can start reporting a bug there with a relatively brief message - just enough to explain the problem. We can usually give rapid replies within the guild and it's rare that an issue needs

[2017-04-18 05:24] #8630 closed, assigned to nobody

[2017-04-18 11:16] TNychka commented on #8641
@Alys , the pull request was merged. I assume I messed something up so it didn't auto close this issue, but this task is done. Just a heads up!

[2017-04-18 16:48] #8641 closed, assigned to nobody

[2017-04-18 17:33] savemeaspark commented on #8611
I believe I have isolated the code for this and will be submitting an update momentarily. 👍

[2017-04-18 21:33] Alys commented on #7792
There's a PR for this now so we should settle on how we're going to handle the possibility of this being a breaking change. I'm commenting here instead of in the PR since we've already started discussing it here. The discussion starts at https://github.com/HabitRPG/habitica/issues/7792#issuecomment-233097683

The PR is https://github.com/HabitRPG/habitica/issues/8683 and currently I think it would

[2017-04-18 22:04] rhdsmnd commented on #8672
Awesome!  I'll open a pull request soon for this and #8636

[2017-04-18 22:56] #8658 closed, assigned to nobody

[2017-04-18 22:58] Alys commented on #8658
The Bailey message will be changed to the text below when the PR is deployed to the website (it might be in a few days). The wiki copy of the Bailey can be edited now. There's a screenshot in the PR: https://github.com/HabitRPG/habitica/issues/8679

"Throw a Shiny Seed at your friends and they will turn into a cheerful flower until their next cron! You can buy the Seeds in the <a href='/#/options/

[2017-04-18 23:31] Yutsuten commented on #7792
For testing the migration, I can do tests by switching between branches develop and the one with the invite changes. I don't have idea of how I could create the migration, but I may learn. :)

I know we may have some undesired eventualities, but from my part I'll do my best to make things happen with no problems...

[2017-04-19 01:42] Alys commented on #8674
@yugensoft For this:

we might need to split up the Social > Group Plans page so that the second screen (the one where you can enter the details of your new guild) has a different URL. Then your button could link to it directly, assuming the user was already logged in, which I think is what Lemoness is wanting.

We should probably also put a note at the top of that page saying that it's for creati

[2017-04-19 02:04] Alys commented on #8642
@kvsm I've updated the top post to change the text for the Apple cancellation instructions. The Google text has not changed.

[2017-04-19 11:47] Alys opened #8686 "achievements are sometimes invisible in the profile modal"
Sometime's a player's profile won't show the achievement badges. For example, the screenshot below was taken from a player who has these achievements:

[code]

![image](https://cloud.githubusercontent.com/assets/1495809/25178522/70c6f864-2549-11e7-9aa3-3c1a39472bf2.png)

All the examples I've seen of this have been with players who have only a few achievements but I've only seen a handful so that

[2017-04-19 21:34] TheHollidayInn commented on #7908
I'm pretty sure this is the same error that happened with Stripe account that were cancelled and we were not notified. I'll write a test for this and ensure our webhooks/ipn are working.

[2017-04-20 00:16] lemoness commented on #8674
I think that makes sense. Let's add the following sentence at the top of
the Social> Group Plans page:

"This page is for creating a brand-new Group Plan. To turn a previously
existing Private Guild into a Group Plan, simply go to your Guild and click
the "Upgrade" button in the upper left."

On Tue, Apr 18, 2017 at 6:42 PM, Alys <notifications@github.com> wrote:

[2017-04-21 07:48] iamakidilam commented on #8668
Hello, I'm a newbie and would like to contribute to the project. For testing out the application, should I just create an account or is there any other way? Can anyone help me in setting up the stuffs?

[2017-04-21 07:51] alanpallath commented on #8671
Is the issue fixed/need work? I'm new here, but would like to contribute on something. Can anyone help me  in setting up?

[2017-04-21 07:58] TigzAU commented on #8671
I'm still working on the change at the moment

[2017-04-21 21:15] gwenaellarmet commented on #6941
Is there anyone currently working on this issue ? I'd love to give it a try

[2017-04-22 16:44] HiccupinGminor commented on #7820
Has this been solved? Unfortunately I'm still getting the

error popup when I try to apply a new tag that I've created (and saved) to anything. A full refresh before applying works fine.

 I'm happy to try to investigate and fix myself if no one else is looking into this.