[2017-10-24 22:34] lemoness commented on #9250
I agree that we'll need an empty state with a clear message. @tressley this is something to add to your list of designs!

[2017-10-25 00:21] Alys commented on #8070
I'd still like the completion date-time for dailies to be stored, for the player's own information and to help with debugging. It's still low priority though.

[2017-10-25 00:59] lemoness opened #9262 "Prevent accidentally closing tasks in edit mode"
When tasks are open in edit mode, you shouldn't be able to click out of them and lose changes. Instead, it should trigger the following prompt if they typed anything in the task while it was in edit mode:

"Would you like to stop editing? Any changes made will not be saved."

Note that this prompt shouldn't come up if they didn't enter any text or make any changes.

[2017-10-25 01:01] lemoness opened #9263 "Quick inventories should be centered"
The Quick Inventory is not centered, compared to the one in the Market. See http://recordit.co/uHUtzsqSlv for an example. Note that there may be other discrepancies with Quick Inventories across the site.

[2017-10-25 01:03] lemoness opened #9264 "Issue when sorting by Hatchable"
We've received the following bug report from Scribbler (78a53f0e-415e-439e-be14-8db6078ca5ef): “This is a minor bug, but when viewing my stable sorted by “hatchable”, the aquatic sorts incorrectly to the beginning of the bear cub row, that way offsetting the whole row compared to the other rows. Based on the other rows, it should sort between Floral and Ember. It is a pet that I’ve turned into a m

[2017-10-25 01:12] lemoness opened #9265 "Both eggs and potions should hatch pets from Items"
When hatching pets from the Items page instead of using the new rapid hatch mode in the Stable, there is a bug. When you click on a hatching potion, it correctly highlights all the eggs that you can use it on and lets you click on an egg to hatch a pet. However, if you click on an egg, nothing happens. The same behavior should occur if you click on an egg: it should highlight all the possible poti

[2017-10-25 01:18] lemoness opened #9266 "When a filter/tag is selected, it should apply to all new tasks"
When you create a task while a filter/tag is selected, it should automatically apply the filter to that new task. This is currently functioning correctly with the advanced task add (the green plus button), but not with the quick-add above each column.

[2017-10-25 01:24] Alys commented on #9228
@SimplyComplexable In your test account, set this data:
[code]

Here's a full list of all the items you can put in it (as many as you want can go in at once):

"armor_mystery_201402", "armor_mystery_201405 armor_mystery_201406 armor_mystery_201407 armor_mystery_201408 armor_mystery_201409 back_mystery_201402 back_mystery_201404 headAccessory_mystery_201404 headAccessory_mystery_201409 head_mystery

[2017-10-25 08:45] #8022 closed, assigned to nobody

[2017-10-25 08:46] paglias commented on #9262
We can also prevent the modal from closing at all by clicking outside of it or by pressing ESC if we want

[2017-10-25 11:12] Alys commented on #9262
I'd like to keep being able to use ESC to close the modal - it's a useful for keyboard control of the website.

I like the idea of the prompt to confirm you want to leave.

[2017-10-25 11:19] Alys commented on #9107
@TNychka Destan53's current value of  user.preferences.allocationMode is taskbased but it might have been different when this issue was logged.

[2017-10-25 11:23] Alys commented on #8500
I've marked this as need investigation rather than on hold. It's hard to be sure what causes each report of sort bugs but I think it's likely there's still problems.

[2017-10-25 11:31] Alys commented on #9256
A note for myself for when the fix for this goes live: The "notify helpers" label is for me to tell the Socialites that the API Token will change every time a player changes their password, so if a player reports that an extension or other third party tool has suddenly stopped working, they should check to see if their API Token has changed. If it's reported often, we should clarify it further to

[2017-10-25 11:37] Alys commented on #9256
This commit: https://github.com/HabitRPG/habitica/commit/077e93e66e7eb4dcc46af7471e1039ff10a8627c
contains some new locales strings. Below are some suggestions for changes to those strings that I proposed to the staff back when this was first being discussed. The staff didn't comment either way about my suggestions so @TNychka don't consider my words below to be approved, but I'd still like us to

[2017-10-25 12:18] Alys commented on #8782
Thanks @TNychka ! It's yours.

Don't worry about existing non-int values in the database - admins will remove those before your PR is merged. If you could remind us of that in your PR, we'd be grateful. :)

[2017-10-25 12:21] Alys commented on #8368
@Ieahleen Thanks! I've updated the top post.

[2017-10-25 12:35] Alys commented on #8721
I've changed "Settings" to "User Icon" in the top post but everything else is still the same - I've just tested and it still works as described.

[2017-10-25 13:15] Alys commented on #7431
The API part of it does still happen, although the effects aren't apparent on the website as far as I can tell.

If you use the api/v3/groups route to get a list of guilds, for example like this:

curl -s -X GET -H "x-api-user: $HRPG_USER_USERID" -H "x-api-key: $HRPG_USER_APITOKEN"  https://habitica.com/api/v3/groups"?type=publicGuilds&paginate=false"

then the returned list includes all appropria

[2017-10-25 13:58] paglias commented on #7431
I think the second can be deleted and I'd add an exception to the api so the tavern is not returned

[2017-10-25 14:28] pineapple-joe commented on #9179
@Alys
Hey,
I managed to get it working, but I'm not sure if the result is correct.
In order to show the items
<img width="1024" alt="screen shot 2017-10-25 at 5 33 11 pm" src="https://user-images.githubusercontent.com/10450216/32004532-a14a71dc-b9aa-11e7-87b4-b828358f282d.png">
 I changed:

https://github.com/HabitRPG/habitica/blob/5ced47f590a042e183de2ebf8770be77f730c039/website/common/script/lib

[2017-10-25 14:38] SabreCat commented on #9179
Hmm, no, most definitely not! This filter should only show gear that doesn't belong to any specific class, so the seasonal and standard sequence gear don't belong there.

I think what needs to happen is one of the following:

1. Add logic around here https://github.com/HabitRPG/habitica/blob/3503b307b20a5276a12f92084c196a8d6de3b538/website/common/script/libs/shops.js#L176 to find and add eligible

[2017-10-25 16:21] petmat commented on #9265
Hi! I would like to take a look at this if it's ok.

[2017-10-25 18:31] pineapple-joe commented on #9179
@SabreCat @Alys
ok, thanks.

This is the filter I came up with:

[code]

resulting with showing only the contributor gear:
(for level 7 contributor, and critical bug solver - 5 items)

<img width="1034" alt="screen shot 2017-10-25 at 9 27 40 pm" src="https://user-images.githubusercontent.com/10450216/32015986-5d5ddbbe-b9cb-11e7-9c12-88d7673a5300.png">

level 3 contributor:

<img width="1027" alt="

[2017-10-25 20:29] #8163 closed, assigned to nobody

[2017-10-25 20:32] lemoness commented on #9266
Matteo is working on this! I've adjusted the labels on this ticket.

[2017-10-25 20:35] #8849 closed, assigned to nobody

[2017-10-26 01:32] lemoness commented on #8070
I've updated the labels on this ticket!

[2017-10-26 01:39] lemoness commented on #9265
@petmat Thank you so much! Feel free to get started, and let us know if you have any questions.

I'm updating the labels on this issue.

[2017-10-26 05:55] LulaV14 commented on #8070
Hi, can I help with this?

[2017-10-26 09:40] majestic-owl448 commented on #9179
at the moment if one loose Seasonal Equipment for death the items are found under Class:None, same for Enchanted Armoire items, would this prevent it?

[2017-10-26 10:04] pineapple-joe commented on #9179
@Ieahleen  could you give me the flows to reproduce those use cases?
I'll test it out.

[2017-10-26 10:18] majestic-owl448 commented on #9179
I have no idea on that, I know only that when loosing equipment for death
that particular equipment has a `false` value.

2017-10-26 12:04 GMT+02:00 borisabramovich86 <notifications@github.com>:

[2017-10-26 11:09] phillipthelen opened #9275 "Round task difficulty value"
The iOS app currently has an issue where it changes the trivial difficulty (value of 0.1) to a string representation of "0.10000000000005" (or something similar). This causes the api to reject the value, because it is not a valid difficulty. Unfortunately fixing this in the app would be non-trivial, so it would probably be easier to change the validation on the server side to round the task diffic

[2017-10-26 12:08] pineapple-joe commented on #9179
@Alys @SabreCat
could you provide me with flows to reproduce what @Ieahleen is talking about?
I want to make sure not to break any existing functionality.

From what I understand, if you had
Seasonal equipment or Enchanted Armoire items
and you died, it will be under
the Class: None section?

[2017-10-26 12:21] Alys commented on #9179
@borisabramovich86 When you die, one piece of equipment is chosen randomly and its `true` value is changed to `false` in your items.gear.owned object. So you can mimic the effect of death by using a database command in your local install to adjust the gear values in a test account.

Enchanted Armoire items lost due to death should show up under Class : None.  The same should happen for any non-cla

[2017-10-26 13:35] TNychka commented on #9107
Silly question: How do I change the allocationMode through the client? I can change it through the database or api no problem, but I can't do it through the client. When I turn automatic allocation on it defaults to taskBased, and I'm pretty sure all desktop client tasks default to strength. That would explain what is happening.

[2017-10-26 15:04] TNychka commented on #9107
@alys Cannot reproduce: classbased, taskbased, and flat all perform exactly as they should. I can see some other causes behind this however
- All modes default to str if something goes wrong. Maybe something went wrong?
- **What I assume the real issue is:** There is no method client side to select allocationMode. Mode defaults to taskbased when automaticAllocation is activated. All tasks default

[2017-10-26 15:36] SabreCat commented on #8500
I'm about to merge a partial fix by @TNychka https://github.com/HabitRPG/habitica/pull/8928 , and @TheHollidayInn has some additional fixes in the works! Hopefully those will cover it.

[2017-10-26 15:49] SabreCat commented on #8671
This probably depends on first getting a fix to https://github.com/HabitRPG/habitica/issues/9214 ; I'd say we keep this on hold until that.

[2017-10-26 15:51] SabreCat commented on #8735
@Dagrik I saw you deleted your PR--are you planning to spin up a new one, or should this issue be released for someone else to tackle?

[2017-10-26 16:08] JoshSears commented on #8735
I didn't realize that got deleted.  Oops.  Well, I will be spinning up a new one.  Literally (as can be seen above), I was just having an issue with getting the test changed to see the name.

[2017-10-26 16:14] SabreCat commented on #8735
OK! Let us know what help you need once your PR is back in action!

[2017-10-26 18:30] pineapple-joe commented on #9179
ok, got it.

so the original code handled the non-class-specific gear lost due to death.
It shows any items not of the user class that were owned, and now are false.

class specific isn't shown in this category.

If you lose seasonal class-specific gear - it will show here, because it's class is special.

I'll add non class specific gear that the user can own.

[code]

Here you can see the contrib

[2017-10-26 18:45] paglias opened #9276 "Move from PhantomJS to Chrome Headless for client tests"
PhantomJS is giving us a lot of problem due to the fact that it's using an outdated JS engine.

We should move to Chrome Headless for this.

In a PR that's currently in progress but that's going to be merged soon we had to disable unit tests because of this, so when this issue is fixed client tests should be enabled again by changing this line in package.json (under "scripts")

[code]

to

[code]

[2017-10-26 19:13] SabreCat commented on #9179
I think that's pretty close, but I'm not convinced that broken class or seasonal gear belongs here. To the end user, there is no `class` and `specialClass`, just "what class is associated with this gear set?" (Also, is that a short sword, second from the right? That's class gear by any rubric.)

The "None" class filter should show gear that

1. is not currently owned,
2. that the user can buy,
3.

[2017-10-26 23:27] Alys commented on #8500
#8928 is for the tasksOrder bug so it won't help with this issue (other sorting bugs).

[2017-10-26 23:56] lemoness commented on #9275
I've added labels to this issue.

[2017-10-26 23:57] lemoness opened #9278 ""Show Bailey" must be clicked twice"
In https://habitica.com/user/settings/site , the button "Show Bailey" has to be clicked twice to actually show the Bailey. Bailey's most recent announcement should pop up after a single click.

[2017-10-27 00:02] lemoness opened #9279 "Issues with Class Change modal"
1. _This is the only part that needs a fix:_
**When changing classes, the Warrior should default to being selected. Otherwise, you can't actually see any of the class names or information.**

This is what we want the screen to look like as soon as it's opened (i.e, the same thing that you see now when you've clicked on the Warrior image):

![screenshot_2018-02-24_12-11-35](https://user-images.gith

[2017-10-27 00:04] lemoness opened #9280 "Names of Equipment visible on hover"
When you view someone else’s profile, you can see thumbnails of their equipment but no names or descriptions, including on hover or click. The names of the equipment pieces should be visible on hover.

_edit by Alys: see [this comment below](https://github.com/HabitRPG/habitica/issues/9280#issuecomment-368189702) for a description of what needs to be done._

[2017-10-27 00:07] lemoness opened #9282 "Glasses and animal ears are not working"
Glasses and animal ears are not working. This may be happening because the Edit Avatar modal is equipping them to Battle Gear even when the user has Costume enabled.

[2017-10-27 00:15] lemoness opened #9283 "Make Challenge Owner's Name Clickable"
You need to be able to click the challenge owner's name to bring up their profile information. This is useful for lots of reasons -- seeing when they last logged in, sending them a direct message, etc.

[2017-10-27 00:17] lemoness opened #9284 "Challenge Progress Rewards fixes"
When viewing the Challenge progress of a user, the Rewards section should have only “Custom” (or just label it as “All”), and should not have “Wishlist”, since Wishlist are never relevant to Challenges.

[2017-10-27 00:22] lemoness opened #9285 "Clone Tasks Button Label Change"
When you're cloning a Challenge,  the button at the bottom of the popup should say “Clone Tasks” instead of "Add Tasks."

[2017-10-27 00:27] lemoness opened #9286 "My Challenges should include all Owned Challenges"
The My Challenges sections of the site should include:

-  all of a user's Owned Challenges, even if they aren't currently part of those Challenges.
- Challenges that they own which are located in a Private Guild.
- Challenges that they have joined which are located in a Private Guild.

[2017-10-27 00:34] zwernberg commented on #9275
I'd like to give this one a shot

[2017-10-27 00:45] TNychka commented on #9107
Second comment, why is there no way to set a task type on desktop? I know on mobile I can set int/per/con/str on a task. Should there be an issue for this too? Or is this planned functionality.

[2017-10-27 00:46] lemoness opened #9287 "Cannot leave a group with an active subscription"
If you try to leave a Group Plan that is not yours, you get the error “Cannot leave a group with an active subscription.” Normal users should not be able to add anyone to a Group Plan, but they should be able to leave one whenever they wish. There should, however, be a popup that says "Are you sure you want to leave this Group Plan?"

[2017-10-27 00:50] lemoness opened #9288 "Guild content transfers"
If you start typing a chat message in a Guild and change Guilds through the notification pop up, not deleting the message, the text migrates to the next Guild. (It's possible that this only happens if you do this quickly.) This also sometimes happens with Guild Challenges.

[2017-10-27 00:55] lemoness opened #9289 "Tier color chart is incorrect"
The Tier color chart located in the Tavern has many style issues. The tier icons are the wrong color and T5/6 are too big (T5/6 and T7 are supposed to be the same size square, but T7 is rotated). See a quick comparison:

<img width="311" alt="screen shot 2017-10-26 at 5 52 24 pm" src="https://user-images.githubusercontent.com/3494081/32083282-83d4b6ae-ba76-11e7-906c-fcda17efcf2b.png">

Whichever c

[2017-10-27 00:57] lemoness opened #9290 "Mod/Staff Names in Tavern should be Clickable"
The Tavern has a list of all the staff and mods in the side bar. You should be able to click each name of a mod/staff member to bring up their user profile. This is important because it ensures that users have a quick way to get in touch with staff and mods.

[2017-10-27 01:00] lemoness opened #9291 "@Username selection with keyboard arrow keys in drop-down mentions list in chat"
When tagging someone's name in chat, you can no longer select the person's name using arrow keys. Instead, you need to use the mouse. You should be able to use arrow keys to select someone's name.

[2017-10-27 01:05] lemoness opened #9292 "Quest participants can’t leave the quest"
A quest participant can’t leave the quest (which is necessary if they want to leave the party). The quest owner should NOT be able to leave the quest. The party leader and all other quest participants SHOULD be able to.

EDIT by Alys 2020-04-09: The desired behaviour is to have a feature to allow a player to remove themself from the quest without leaving the party.
The behaviour when leaving a par

[2017-10-27 01:10] lemoness opened #9293 "New Party members can't join pending Quests"
After a new user joins a Party, if there is a pending quest that is still in the invitation state, the new Party member cannot join the pending quest. If they choose Accept, they get an error message: "Your party is already on a quest. Try again when the current quest has ended." If the player joins the party while the quest is still in the invitation stage, they SHOULD get an invitation to the qu

[2017-10-27 01:12] lemoness opened #9294 "Can't view Party modal after viewing Challenge participants"
If you attempt to view the Party member modal after having looked at a list of Challenge participants, the Challenge participants show up in the modal instead of Party members. This is only fixed on a refresh.

[2017-10-27 01:19] lemoness opened #9295 "No sort party members in Header feature"
Currently, we are missing the following options to sort party mates in the header: background, Habitica date joined, last time user logged in, and sort by level. There should also be options that allow you to choose between sorting by ascending and descending for each sort type. For this ticket, we'll definitely need to see screenshots to make sure that everything is presented correctly.

[2017-10-27 01:21] lemoness opened #9296 "Have to reload after accepting Party invite"
When you accept an invitation to a Party, you have to reload before the Party members appear in your header. They should appear instantly.

[2017-10-27 02:30] crisryantan commented on #9296
can you tell me more about this? which file and route should i look into?

[2017-10-27 05:10] qhuynh96 commented on #9293
Hi, has anyone been working on this? If not I am happy to be on it. I am a newbie and would try my best. Btw, can you show me where the Party page and relates located? I tried to find it but could not in the end.

[2017-10-27 06:53] bryllej8 commented on #9296
When i try to click the sign up button , it displays invalid request parameters on top, you should put some validation errors at the bottom of input or make a tooltip on input. It is very important for user interaction.

[2017-10-27 09:34] kartikadur commented on #9295
can i try this?

I've been meaning to work on a Vuejs project.

[2017-10-27 09:55] EmilyOng commented on #9285
I would like to take this up.

[2017-10-27 10:46] EmilyOng commented on #9280
I would like to take this

[2017-10-27 10:57] Alys commented on #9295
@kartikadur Sure! Thank you! Comment here if you have questions or run into trouble.

[2017-10-27 10:58] Alys commented on #9280
@EmilyOng Thanks! Comment here if you have questions or find problems.

[2017-10-27 11:04] Alys commented on #9296
@dscbrylle143 Can you please go to the Report a Bug guild in Habitica to describe that problem in more detail. I'm not sure it's related to this issue (if it is, we can copy your comments from the Bug guild back to here). You can reach that guild from Help > Report a Bug on the website. That's the best place to report bugs.

@xxryan1234 The best way to examine this bug is to create a couple of tes

[2017-10-27 11:09] pineapple-joe commented on #9179
ok, so not sure how to proceed.

1. what's a broken class?

2. About the short sword.
The user's class is warrior. I added to his items weapon_rogue_1 = false.
not sure if that's possible in a normal use case.
When we say class specific, we mean the user's class (warrior) or any class (of the basic 4) ?
Because the user's class here is warrior, the weapon's class is rogue, therefore , he can see i

[2017-10-27 11:26] Alys commented on #9107
@TNychka Thanks very much for the investigation! It sounds like this was a once-off bug or a misunderstanding, or a bug that's already been fixed by other changes. I'm closing this but we can reopen it if we notice it happening again. I've added a mention in your tier notes in Habitica that you helped by investigating this.

It's a known problem that the current website doesn't have the correct in

[2017-10-27 11:26] #9107 closed, assigned to nobody

[2017-10-27 11:28] kartikadur commented on #9295
Any tips for Design, UX, UI, Code, etc. not mentioned in the blacksmith wiki?

[2017-10-27 11:30] Alys commented on #9275
@zwernberg Thank you! However I recommend waiting for a few more hours to see if any of the other admins comment here. This is a bit of an unusual issue since it requires changing the API's correct behaviour to compensate for a flaw in the iOS operating system, so they might have special suggestions related to it. For example, I believe we should add a comment to the new code to explain why the ch

[2017-10-27 11:45] marceltn commented on #9263
I could not reproduce it. For me is already centered.

![image](https://user-images.githubusercontent.com/3443711/32102740-6e4a4de0-bafc-11e7-8624-6df428f107e0.png)
![image](https://user-images.githubusercontent.com/3443711/32102743-7162a84c-bafc-11e7-8c44-e334921c7b0a.png)

[2017-10-27 11:51] phillipthelen commented on #9275
I’d like to add that this is not a flaw in iOS. It’s a floating point
error, that can also happen in other systems. Internally in the iOS app,
the value is 0.1. It’s only when converting that float to a string when
serializing it to json that the error occurs. Which is something that can
also happen with other clients. So I wouldn’t consider this making the api
behaviour incorrect, but rather maki

[2017-10-27 11:53] Alys opened #9302 "add "Copy As To-Do" to Tavern, guilds, party"
The "Copy As To-Do" feature needs to be added back to **all** messages in the Tavern, all guilds, and the user's party.

`website/client/components/chat/chatMessages.vue` is where you'd start looking into this; you'll see that there's already code there for it but it's been commented out because the copyAsTodo button wasn't working. The contributor who works on this would need to work out why and

[2017-10-27 12:59] abatula commented on #8813
That sounds like an interesting method, I'll take a look at it! Sorry for the slow response, I need to convince GitHub to email my other address.

[2017-10-27 13:01] perkyguy commented on #8917
For my first contribution to this project, I took a stab at this issue. Since the In Progress label got removed, I figured it was up for grabs, and  I submitted a PR, #9297

[2017-10-27 13:16] EmilyOng commented on #9280
Sorry i am new to vue.js...is it something like [this](https://github.com/EmilyOng/habitica/blob/issue9280/website/client/components/avatar.vue)?

[2017-10-27 13:24] EmilyOng commented on #9290
👍

[2017-10-27 13:34] Tressley commented on #9132
@rholinshead -- Thanks for taking a look at this! Let's remove the tooltip, but keep the text at the bottom. You can see reference the design here:

![image](https://user-images.githubusercontent.com/2686586/32106314-4af6b87c-baf9-11e7-8932-77066a3d6c9c.png)

[2017-10-27 13:51] Tressley opened #9303 "Incorrect Heading margins and spacing"
H1, H2, and H3's have incorrect spacing on various pages throughout the app.

**Current Implementation**
![image](https://user-images.githubusercontent.com/2686586/32107305-3243a76a-bafc-11e7-9b70-116767d4359d.png)

**Mock-up Fixes**
![image](https://user-images.githubusercontent.com/2686586/32107368-5a173bf8-bafc-11e7-92a5-5cfeb2a8d456.png)

[2017-10-27 14:05] SabreCat commented on #9179
OK, so it is an existing bug! Thanks for the investigation. Yeah, I think you can PR it like this, then!

[2017-10-27 14:11] SabreCat commented on #8500
ah, right!

[2017-10-27 14:12] SabreCat commented on #8917
Great, thanks @perkyguy !

[2017-10-27 14:49] Tressley opened #9305 "Incorrect states on dropdown menus"
Dropdown menus have incorrect styling when hovering menu items.

**Current Implementation**
![image](https://user-images.githubusercontent.com/2686586/32109859-ea7e5378-bb03-11e7-947b-933bb323c5ac.png)

**Mock-Up Fixes**
![image](https://user-images.githubusercontent.com/2686586/32110033-7f98b700-bb04-11e7-8cc0-ae6519376d3c.png)

[2017-10-27 19:56] lemoness commented on #8070
@LulaV14 Absolutely! Thank you so much. Let us know if you have any questions.

I've updated the labels on this ticket.

[2017-10-27 21:50] lemoness commented on #9290
@EmilyOng Thanks! Let us know if you have any questions.

I've updated the labels on this ticket.

[2017-10-27 21:54] lemoness commented on #9293
@qhuynh96 Thank you so much! Go ahead and work on it. Another dev will be along soon to answer your question.

I've updated the labels on this issue.

[2017-10-27 22:06] lemoness opened #9307 "Modals should open without being scrolled"
Often when long modals pop up, they're scrolled to the very bottom by default, like this:

<img width="533" alt="screen shot 2017-10-27 at 1 40 52 pm" src="https://user-images.githubusercontent.com/3494081/32124586-24485edc-bb1d-11e7-8dfe-abf0f8915283.png">

They should instead pop up with the top of the modal displaying, like this:

<img width="574" alt="screen shot 2017-10-27 at 1 40 55 pm" src=

[2017-10-27 23:18] mattWillis commented on #6426
@lemoness I was actually just taking a look at the new website's accessibility. I ran a report on the task page and under 508 standards (the least strict of the government accessibility standards) there are about 27 errors and 11 warnings- at least on my task page. There are currently 1003 errors under the strictest standard, but not even government agencies are complying with that standard yet!

[2017-10-28 01:29] lemoness commented on #6426
@mattWillis A list like that would be INCREDIBLY helpful, thank you! Feel free to post them in here, and then I'll split them into separate tickets as needed :)

[2017-10-28 04:12] Asuza commented on #9276
I'd like to try this.

[2017-10-28 08:14] dnlup commented on #9303
@Tressley created a [PR](https://github.com/HabitRPG/habitica/pull/9311) about it, Don't know if it fits your needs.

[2017-10-28 09:19] Alys commented on #9276
@Asuza Thank you! Please comment here if you have questions or find problems.

[2017-10-28 09:38] Alys commented on #9280
@EmilyOng Would you like to submit a PR for those changes? GitHub will highlight all the differences for us which makes it easier to review. :) We can give you advice then and the PR will be easy for you to update if more changes are needed. Thanks for working on this so quickly!

By the way, it looks like you have a typo: "showqeuipments" instead of "showequipments". Capitalising the second word

[2017-10-28 12:07] Alys commented on #4753
I've changed this to suggestion-discussion.

I've edited the top post to mark those items that have already been done. I believe the remaining ones are still useful but we might want to change how the information is presented in the new website. FYI @lemoness

[2017-10-28 13:18] joelmaxuel commented on #1766
User ID:d6e1290f-5ec3-42d9-b73b-6a51b4824a93, just reached 90/90, yet no achievement awaited.  Although I did purchase an egg and three hatching potions to get to 90/90, not sure if that makes a difference. @lefnire

[2017-10-28 18:30] citrusella commented on #9263
That might be because of your screen size/resolution? Here's what it looks like at 1280x800 resolution on a 13 inch monitor:

![uncentered2](https://user-images.githubusercontent.com/14182450/32137347-fc9ce996-bbeb-11e7-8666-b958db5b26c9.png)
![uncentered1](https://user-images.githubusercontent.com/14182450/32137348-fcd06618-bbeb-11e7-93c3-9a2eb94fc64f.png)

For what it's worth, your first image d

[2017-10-28 18:57] dirtyreyes opened #9314 "allocate always assigns to STR"
curl https://habitica.com/api/v3/user/allocate -s -X POST -H "Content-Type:application/json" -H "x-api-key: ..." -H "x-api-user: ..." -d '{"stat":"int"}'

This assigns to STR. I can't seem to assign to anything but STR, and I've tried escaping characters and stuff like that.

[2017-10-28 19:07] perkyguy commented on #8917
@SabreCat , I didn't put in my UUID, if I still can, here it is e8be8049-ac14-401f-89ff-ce0aaa3445b4

[2017-10-28 21:54] Asuza commented on #9276
Thanks, @Alys. I'm having a lot of trouble getting this working. I'm trying to use Docker (as mentioned here: http://habitica.wikia.com/wiki/Setting_up_Habitica_Locally#Docker). I've removed the phantomjs karma modules and added the one I need for Chrome. I've installed puppeteer, and had it trying to launch Chrome inside the "web" container. However, after struggling with trying to get missing de

[2017-10-28 22:03] LunarGem commented on #8917
I'm wondering faintly if "the potato issue" falls under this one...

[2017-10-28 23:27] Alys commented on #8917
The potato issue (https://github.com/HabitRPG/habitica/issues/3571) has a fair bit of discussion in it and seemed complex, so probably best to keep it separate from this issue. Although it looks like we settled on a fairly simple fix, so I'll update that issue's top post to try to enliven interest in it - thanks for the prompt, LunarGem! @perkyguy you don't need to consider the potato issue here.

[2017-10-28 23:44] Alys commented on #3571
I've edited the top post to add the text below to it. Further discussion of this is welcome.

----
There's a lot of discussion below but we've settled on ellenhutchings's and crookedneighbor's idea of having separate translatable strings for "potato", "a potato", and "the potato" (and all other foods as well of course). In content.json, we currently have this string:

	"foodPotatoe": "Potato",

Th

[2017-10-29 04:53] Alys opened #9317 "Cards (greetings, thank you, etc) should not have multiple Batch Buying (also gear, Backgrounds, Mystery Item sets, Rebirth, Fortify, Armoire)"
Currently, when you buy a card to give to a party member, you're asked how many you want to buy.

That option shouldn't be available for cards because as soon as you've bought a card, you have to select the party member to give it to. It only makes sense to buy one card at a time.

For reference for new contributors, these are the cards that this issue refers to:
![image](https://user-images.githu

[2017-10-29 04:54] Alys commented on #9317
labels updated

[2017-10-29 06:58] FutureNathan commented on #4332
Is this fixed? I bought my 12 month fine.

[2017-10-29 07:56] ineffyble commented on #6597
I just ran into this. Tried to make it easier by changing my username to lowercase, but was told already taken (because the check is insensitive).

[2017-10-29 08:01] ineffyble opened #9318 "No favicon showing for site"
As far as I can see, there's currently no favicon set for habitica.com (implicitly by having a favicon.ico in the site root, or explicitly with a meta tag). This occurs whether logged in or out .

[2017-10-29 08:04] ineffyble commented on #9318
Looks like there's a PR that addresses this: #9235

[2017-10-29 10:13] pineapple-joe commented on #9243
Hey, can I work on this one?

[2017-10-30 02:34] tim1234ltp commented on #9186
@Alys  I have been struggling with TravisCI check. The error shown is said to be with the unit/libs/payments/group-plans/group-payments-create.test.js.
Yet, what I have done is only changing subscription.vue in website/client/component/setting. And I am quite sure my repo is up to date.

The only thing I suspect is that termination date depends on total month of the group and personal plan. And my

[2017-10-30 08:13] kartikadur commented on #9295
@Alys I think I have everything mostly figured out, just need a few clarifications.
- What data point does `background` refer to in the user profile data?
- Should the list (mentioned above) be the new sort list or should it be added to the existing sort list?
- Am I allowed to do the i18n stuff? If yes, which files am I allowed to modify?
- Is there a prescribed unit test structure for a given co

[2017-10-30 12:18] perkyguy commented on #9305
I threw in a pull-request to make these changes. However, I was unsure about how the Active should look when hovered, so I made it react the same way.

[2017-10-30 12:50] ArthurFoucher commented on #9317
Hi, first-time contributor here ! That sounds like something I could tackle, so I'll look into it if that's ok ?

[2017-10-30 13:33] marceltn commented on #9263
@citrusella thanks for the feedback.
I opened in a small resolution and maybe I got it the issue.
The reference to be centered is the entire window itself instead of the container (excluding the bar in the left).
**Intead of this**:
![image](https://user-images.githubusercontent.com/3443711/32172954-8746fbe4-bd64-11e7-9c3b-d12479ffb55a.png)

**Must be like this**:
![image](https://user-images.gith

[2017-10-30 14:55] SabreCat commented on #4332
I'll close this for now, and we can reopen if we see further incidences!

[2017-10-30 14:55] #4332 closed, assigned to TheHollidayInn

[2017-10-30 16:46] SabreCat commented on #9317
@ArthurFoucher Sure! Go for it, with our thanks.

[2017-10-30 18:32] inverse opened #9324 "Keyboard shortcuts"
Is there a way to create new tasks, dailies, habits via keyboard shortcuts? If not could this be a feature request.

I couldn't see any other ticket asking this.

[2017-10-30 23:53] ArthurFoucher commented on #9317
It seems the same kind of things has already been done for the equipment type (https://github.com/HabitRPG/habitica/blob/develop/website/client/components/shops/buyModal.vue#L45-L47), but there's a `genericPurchase` boolean that may serve that exact purpose. I 'd like to use it to check if I should display the "How many to buy" part of the modal, instead of a more clunky `item.purchaseType !== "ge

[2017-10-30 23:55] abatula commented on #8813
Two questions:

Should I add a new file for banned words with a new name? If I replace the existing one, won't it show the current list of blocked words in the summary of changes (which you're trying to avoid)?

Also, should guilds be blacklisting the sets of words that aren't allowed, or white listing the ones that are? My first thought is to use blacklisting, but I think either way would work ab

[2017-10-31 00:33] trvrfrd commented on #9263
Also curious about this issue. Some screens have an offset based on the sidebar width when "centering" the container, some center it relative to the whole screen. Which is the correct behavior? Should be an easy change either way to make them consistent.

[2017-10-31 01:21] lemoness commented on #9303
I've updated the tags on this ticket.

[2017-10-31 01:31] lemoness commented on #9243
@borisabramovich86 That would be very helpful, thank you! Let us know if you have any questions.

I've updated the labels on this ticket.

[2017-10-31 01:38] lemoness opened #9326 ""Tags" and "Repeats" and "Reset Streak" dropdowns within Tasks do not close on mouse-away"
When you open the "Tags" dropdown within task edit mode, the only way to close it is to click on the tags box again. It should behave like the other dropdowns and close when you mouse away.

_edit by Alys 2017-12-30:_

The same problem exists for the "Repeats" dropdown in Dailies and the "Reset Streak" dropdown in Habits. The same fix is desired for all three dropdowns.

[2017-10-31 01:53] lemoness opened #9327 "Warning about no notifications for Guilds with too many members"
For performance reasons, Guilds that have over 5000 members do not receive notifications. Those Guilds should have the following warning in them:

"This Guild is too big to receive notifications for performance reasons. Be sure to check back often for replies to your messages!"

The style of the design should be as follows, albeit with the updated copy:

<img width="965" alt="screen shot 2017-10-3

[2017-10-31 02:12] splashofcrimson commented on #9327
I'm still a beginner, but I would like to try working on this!

[2017-10-31 02:14] lemoness commented on #9324
Hi Inverse! Feature requests like this generally go on Trello, not on Github, so I'm closing this ticket. You may be interested in this Trello card here: https://trello.com/c/vDYCrh16/13-add-new-parse-text-do-this-tag-hard-monday

[2017-10-31 02:14] #9324 closed, assigned to nobody

[2017-10-31 03:06] haydenbetts commented on #9245
Hi @Alys! I've finished the tests 1,3, and 4 from your original issue post. I have written test 2, but it does not seem to be passing. Can you take a look at it to see if it is written correctly: [test 2](https://github.com/haydenbetts/habitica/blob/f1c262911eb1276cb3b18d2e7fe8878f412ed4ea/test/api/v3/integration/groups/POST-groups.test.js#L118)

If it is written, correctly, and there is a problem

[2017-10-31 04:49] perkyguy commented on #9302
I threw in a PR to handle the non-inbox side of this.

To get this working in the inbox, there are some complications that I found. I believe the main issue is how the modals are being handled. Whenever a modal is being shown, the one previous to it is hidden. However, when opening a child modal from a parent modal, the parent is hidden and it hides its child. This messes with the modal stack, and

[2017-10-31 04:54] melarish commented on #9289
I could work on this one. Looks like the < path > elements (https://www.w3schools.com/graphics/svg_path.asp) need a little tweaking. Are the exact numbers shown in the Zeplin or do I fiddle with it until it looks right? Email is melarish@gmail.com

[2017-10-31 07:55] LulaV14 commented on #9326
Hi @lemoness ! Can I help with this?

[2017-10-31 10:10] Alys commented on #9302
@perkyguy That's great, thanks for giving those details, and for the PR!

[2017-10-31 10:44] Alys commented on #8813
@abatula Yes, please use a new file.

For blacklisting versus whitelisting:
We'll start with a few different lists of banned words, but we might add more lists in future. When we do, we'll want the new lists to be automatically applied to all existing guilds. Because of that, every list should apply to every guild unless that guild has a setting to say that a particular list does not apply.
So I g

[2017-10-31 10:57] Alys commented on #9245
@haydenbetts It might be because [the code](https://github.com/HabitRPG/habitica/blob/f4d021ab8c1ee093611a506d82bcbe2c53fd059c/website/server/models/group.js#L142-L154) that gives a default value to the summary does so when the guild is fetched from the database and so it might not get triggered by that test. That's a bit of a guess though and could be totally wrong. Would you like to submit a PR

[2017-10-31 11:11] Alys commented on #9295
@kartikadur

- `preferences.background` in the user's data. All avatars that use the same background should be grouped together. I believe that's the only requirement for this sort order. There's no need to try to put the avatars in order of the name of the background, or its release date, or anything like that.
- The list from this issue should be added to the existing sort list (good question; t

[2017-10-31 11:17] Alys commented on #9221
@lemoness I think closing this and making a new one would be clearest.

[2017-10-31 11:20] Alys commented on #7970
I'm closing this because it will be fixed by https://github.com/HabitRPG/habitica/pull/8565 when that's been deployed to production.

[2017-10-31 11:20] #7970 closed, assigned to nobody

[2017-10-31 11:29] Alys commented on #9276
@Asuza I'm afraid I'm not very familiar with Docker but some of the other admins are. Are you still having trouble with it?

[2017-10-31 12:35] dirtyreyes commented on #9314
Anything I can do to help at this point? It's easy to confirm this behavior.

[2017-10-31 12:39] Tressley commented on #9305
@perkyguy -- No worries! You're intuition was right in the behavior for the active hovered. Thanks for taking a look at this!

[2017-10-31 13:22] brianhall commented on #9291
I'll take a stab at this one!

[2017-10-31 13:46] Asuza commented on #9276
Yes, I still don't know what's going on. I will need to learn a lot more about Docker to get any further, so hopefully the other admins know exactly what the problem is.

[2017-10-31 17:01] klezt commented on #9294
Hello @lemoness. I am new to this project but can I help with this?

[2017-10-31 19:16] LunarGem commented on #8860
Any tips on how to make the line endings come out right?

[2017-10-31 19:17] mattWillis commented on #6426
# Habitica Accessibility Fixes

**TODO**

- [ ] Links should include href.
- [ ] Links should include some type of text content.
- [ ] Images must include an alt attribute.
- [ ] Headings should be nested logically not used for styling.

## Links

### Problem

`Error 1194.22 (l): Anchor element found with no link content and no name and/or ID attribute.`

`Warning 1194.22 (l): Anchor element found

[2017-10-31 19:18] librarianmage commented on #8860
What editor are you using?
On Tue, Oct 31, 2017 at 2:17 PM LunarGem <notifications@github.com> wrote:

[2017-10-31 19:18] SabreCat commented on #8860
@LunarGem The answer will probably vary based on your dev environment. What OS are you on, and what are you using to make your edits?

[2017-10-31 19:21] mattWillis commented on #6426
@lemoness These types of errors constitute around 95% of the accessibility issues on the site. I would be happy to help in implementing fixes. I have never used Vue.js. But I have used Backbone, Ember, and Angular and I am very familiar with Bootstrap.

I also have this comment saved as a markdown file. I can also update with great references and tools to assist in accessibility testing.

[2017-10-31 19:33] LunarGem commented on #8860
Windows 10 v1709 using the most recent version of Atom.  @SabreCat @MathWhiz

[2017-10-31 20:03] LunarGem commented on #8860
I'm also getting this error on the npm start part of my local install:
`Error: Cannot find module 'C:\Users\<me>\Documents\GitHub\habitica\node_modules\bcrypt\lib\binding\bcrypt_lib.node'`
@SabreCat Know what I should do about that? I've refreshed every file in my repo a bunch of times.

[2017-10-31 21:50] Alys opened #9333 "can't fairly judge challenges because of limit of 30 in participant drop-down"
When a challenge has more than 30 participants (which is common) it's not possible to see the progress of more than 30 of them using the "Select a Participant" dropdown. It should be possible to access a list of all challenge participants (even if it's paged in some way), and to click on every name on the list to view their challenge tasks.

(While you can use the CSV file for judging the challeng

[2017-10-31 22:03] Alys opened #9334 "pinned Rewards on Tasks page need on-hover effect to show the pin/unpin icon"
In the Rewards column on the Tasks page, when you hover over any pinned Reward, the pin icon should become visible at the top of the Reward and you should then be able to click on it to unpin the item.

I.e., when you hover, currently you see this:

![image](https://user-images.githubusercontent.com/1495809/32250825-c874bb4e-bed9-11e7-97a9-e73d3753f2d0.png)

The desired effect is the same but with

[2017-10-31 22:03] Alys commented on #9334
labels updated

[2017-10-31 22:15] librarianmage commented on #8860
Have you run `rm -rf node_modules/` and `npm start`
On Tue, Oct 31, 2017 at 3:03 PM LunarGem <notifications@github.com> wrote:

[2017-10-31 22:28] lemoness opened #9335 "No mouseover text on images inserted with markdown"
Mouseover text on images inserted with markdown doesn't appear to be working correctly.

[2017-10-31 22:31] lemoness opened #9336 "Social Icons need wider clicking"
The social icons in the main footer and elsewhere on the site can only be opened if they're clicked directly on the central icon. They should open when you click anywhere in the circle.

[2017-10-31 22:33] lemoness opened #9337 "Mystery Item Notification does not automatically disappear"
When you’ve claimed all your Mystery Items, the notification doesn’t disappear until you’ve reloaded the website.

[2017-10-31 22:36] lemoness opened #9338 "Notifications sometimes take you to the wrong Guild"
We've been getting sporadic reports of the Guild/Party message notifications not working correctly:

thebat137 (dea8a9e8-c084-438a-9a14-7fe96a73fd0a): The guild/party notifications don't seem to work right any more. Yesterday, when I clicked on a notification it would take me to the guild or my party, as appropriate. Today, clicking on a bug guild notification took me to my party (and consumed the

[2017-10-31 22:39] lemoness opened #9339 "Incorrect Experience Notification on Level-Up"
We're getting reports that when people level up, they're getting notifications saying that they lost experience. While technically correct (since their experience reset), it's misleading. They shouldn't get the experience lost notification when they level up.

[2017-10-31 22:41] lemoness opened #9340 "Mount Master/Beast Master don't have popups"
When a user earns the Beast Master, Mount Master, and/or Triad Bingo badges, they don't get any kind of pop-up or confirmation. They also have to reload Habitica to even see the badges in their achievements section. The pop-up modal should happen as soon as they earn it, and the badge(s) should be visible immediately.

[2017-10-31 22:46] lemoness opened #9341 "Incorrect Armoire Experience Notifications"
Some users are reporting that every time they click on the armoire, they get an incorrect experience notification. Here is one such report:

"The most recent one I saw went like this:
I click the armoire.
I get a message that I've gained experience, the amount being listed as "+14".
I get a message that I've spent 100 gold.
I get a message that I've gained experience, but now the amount is listed

[2017-10-31 22:48] lemoness opened #9342 "Armoire equipment pieces remaining do not update automatically"
As you buy pieces from the Armoire, the number of equipment pieces remaining does not automatically update itself in the on-hover message on the Armoire’s icon on the tasks page. You have to do a full refresh to see the new number. It should update automatically

[2017-10-31 22:50] Alys commented on #9333
I've changed this issue's title and updated the top post to say this:

When a challenge has more than 30 participants (which is common) it's not possible to see the progress of more than 30 of them using the "Select a Participant" dropdown. It should be possible to access a list of all challenge participants (even if it's paged in some way), and to click on every name on the list to view their cha

[2017-10-31 22:50] lemoness opened #9343 "Deleted tags should be deselected"
If you delete a tag while it is selected, it stays selected, and you have to click "clear all filters" for your tasks to reappear. Instead, when deleting a tag, it should be automatically deselected.

[2017-10-31 22:51] LunarGem commented on #9340
Isn't there already an issue for this?

[2017-10-31 22:51] lemoness opened #9344 "Problems with Guild Search in Japanese"
We've received the following report:

sky_y ( 7bb68622-379f-4bcd-a3a4-b341d3052247 )
In Japanese, the guild search in https://habitica.com/groups/discovery doesn't tokenize some Japanese query correctly.
For example, I know 4 groups in Japanese:
日本語話者の集会所/Japanese speaker's resthouse
Habitica 日本語訳 Team
小さい人たちの階段（ASD/ADHD/AS日本語用ギルド）
日本語話者/創作者向けギルド
They surely contain "日本" (meaning "Japan") in their

[2017-10-31 22:52] LunarGem commented on #8860
@MathWhiz I'll try that next.

[2017-10-31 22:55] lemoness opened #9345 "Skills should not collapse checklists"
Collapsing checklists while targeting a skill is awkward and disorienting, as it shifts your task list around right when you’re homing in on something to click. Rather than hide the checklists to avoid having them get clicked in the process of skill use, we should just have the skill click not activate the task components.

[2017-10-31 22:55] Alys commented on #9340
@LunarGem I can't find one but if you see it, post its URL here and we'll close one of them. Thanks!

[2017-10-31 22:56] lemoness opened #9346 "Calendar can't be easily closed"
In task edit mode, you can't dismiss the calendar unless you select a day or cancel editing the task. You should be able to dismiss it by moving your mouse away.

[2017-10-31 22:58] Alys commented on #8232
I'm closing this because we have this issue now: https://github.com/HabitRPG/habitica/issues/9339
It's not exactly the same thing but it's close enough and once it's fixed, if there's still a problem we can reopen this issue or make a new one.

[2017-10-31 22:58] #8232 closed, assigned to nobody

[2017-10-31 23:15] LunarGem commented on #9340
I think it's addressing the same problem as this one here: https://github.com/HabitRPG/habitica/issues/9214

[2017-10-31 23:17] Alys commented on #9340
Ah, no, not exactly the same. :) That one is the popup you see when you create one particular pet or mount. This issue is the achievement earned popup that you should always get when you first get beastmaster or mountmaster.

[2017-10-31 23:32] LunarGem commented on #9340
Ah. Okay! Got myself turned around a bit. :P

[2017-11-01 00:24] lemoness opened #9349 "Skills Drawer requires 2 clicks to open"
To open up the action drawer containing the skills when you have it minimized on load, several users have reported that it needs 2 clicks the first time, although after that it always needs only one. One possibility is that some code has it set to "enabled" or "maximized" at the start and the first click "minimizes" it even though it already is minimized. Of course, there could also be other cause

[2017-11-01 00:49] librarianmage commented on #8860
Sorry, `npm install`.
On Tue, Oct 31, 2017 at 5:53 PM LunarGem <notifications@github.com> wrote:

[2017-11-01 02:10] lemoness opened #9350 "Hide Header"
We used to have the option of hiding the gamified header ~, as well as making it sticky so that it stayed when you scrolled down. We'd like to restore both of those options.~

Edited: We're splitting hide header from the sticky header feature, as we suspect the sticky header request touches on some UX issues that require further research.

[2017-11-01 02:12] lemoness opened #9351 "Skills should immediately affect player casting the skills in header and profile screen"
When you cast skills that affect your party and hover over their images to see if it took affect, their info bars don’t change until you’ve refreshed the page. This change should take place immediately.

[2017-11-01 02:15] lemoness opened #9352 "Grand Gala Seasonal Equipment appears twice after class change if Equipment is pinned to Rewards"
User report: I was a Warrior and I had pinned all the other-class Grand Gala equipment (Rogue, Healer, Mage) to my rewards column, to remind me to change classes to get it before the end of the month. Today I decided to actually do the change, and I discovered that all of the equipment for my new class (Healer) now appeared in the rewards column twice. Buying one instance of an item from the rewar

[2017-11-01 02:18] lemoness opened #9353 "Pinned Items misaligned"
Pinned items are not aligning to the grid properly when there are only two items in a row (ex. 2, 5, 8...)
<img width="574" alt="screen shot 2017-10-31 at 7 15 57 pm" src="https://user-images.githubusercontent.com/3494081/32257102-35904244-be70-11e7-9bb4-48ccf584bf07.png">

[2017-11-01 02:21] lemoness opened #9354 "Indicate that Orb of Rebirth is instant"
We need clearer text on the Orb of Rebirth indicating that it’s instant. Currently, the text on clicking the orb in the Market reads:

"Orb of Rebirth
Restart your character at Level 1 while retaining achievements, collectibles, equipment, and tasks with history."

It should read:

"Instantly restart your character at Level 1 while retaining achievements, collectibles, equipment, and tasks with hi

[2017-11-01 02:24] lemoness opened #9355 "Floating Tooltip in Items"
If you use your last hatching potion of the type you have selected, this out-of-place tooltip popup doesn't go away until you refresh:

<img width="432" alt="screen shot 2017-10-31 at 7 23 24 pm" src="https://user-images.githubusercontent.com/3494081/32257222-0c72e334-be71-11e7-9a50-8690caeadf61.png">

[2017-11-01 02:33] lemoness opened #9356 "Sorting by Stat does not include class bonus"
On the Equipment page, when you sort your equipment by a stat, like perception or strength, the sorting does not take the class bonus into account of the class, only the raw bonus. This results in an incorrect recommendation. It should include the class bonus.

[2017-11-01 05:01] AmyMendelsohn commented on #9354
Hi, this is my first time trying to contribute to habitica, and I'd like to try this.

[2017-11-01 05:23] rholinshead commented on #9353
Hey @lemoness , can I grab this one? I'm assuming we just want the items to begin alignment from the left? Should be a quick fix :)

[2017-11-01 05:36] stephqwu commented on #9354
@lemoness This is my first time contributing as well, hopefully this works!

[2017-11-01 06:29] AmyMendelsohn commented on #9354
Aw, okay, I see stephqwu already finished.

[2017-11-01 21:37] #9221 closed, assigned to nobody

[2017-11-01 21:39] lemoness opened #9359 "Can't View Check-Ins for other users"
Currently, when you open a user's profile modal, the area that is supposed to show their number of Check-ins is broken and does not display. This should be fixed.

[2017-11-01 21:42] lemoness commented on #9326
@LulaV14 Yes, please! Thank you for volunteering. Let us know if you have any questions!

I've updated the labels on this ticket.

[2017-11-01 22:40] lemoness commented on #9263
The best people to advise here are actually @paglias and @tressley!

[2017-11-01 22:41] lemoness commented on #9327
@splashofcrimson Thank you very much! Let us know if you have any questions.

I've updated the labels on this issue.

[2017-11-01 23:53] LunarGem commented on #8860
Thanks, @MathWhiz , my install works now! I changed the way I was doing the error, making it more like the errors when Chilling Frost has already been cast for the day, etc. I'm hoping I've done that correctly, maybe I could submit the pull and someone could check it? I'd mark it WIP if that helps. @SabreCat

[2017-11-02 01:02] lemoness opened #9360 "Skills show cut-off text"
When you go to apply a skill, e.g. Burst of Flames, the outline of the skill hover doesn't fit the content. It should only contain the title ("Burst of Flames"), but instead you can see a bit of the cut-off description.
<img width="238" alt="screen shot 2017-11-01 at 6 00 51 pm" src="https://user-images.githubusercontent.com/3494081/32304761-bf42705c-bf2e-11e7-8b4f-3e2e0fc40870.png">

[2017-11-02 01:03] lemoness opened #9361 "Quest Titles should not include "The" to accomodate A-Z sort and translations"
~In the Quests Shop, sorting from A-Z includes "The" as a criterion. Sorting should be tweaked to ignore "the" when it's the first word of a Quest name.~

Edited: The simplest solution for this issue would be to remove "the" from all quest titles. This preserves the functionality of the A-Z sort as well as our ability to allow for translations.

[2017-11-02 01:08] lemoness opened #9362 "Sorting Equipment should group by set"
When you sort your Equipment, there's no way to make the pieces organize by set anymore. For example, for the seaside set, the bathing suit would be on the top line while the shovel and bucket would be all the way at the bottom. In addition to having the Special section automatically be arranged by set when you group by class, we should also have the option to Sort by Set instead of just Name and

[2017-11-02 01:10] lemoness opened #9363 "Unequipping + equipping causes stuck popup"
When equipping or unequipping  an item, at least on Firefox, the description popup persists and then moves into the upper right corner of the screen until you refresh. There’s no other way to dismiss it.

[2017-11-02 01:18] lemoness opened #9364 "Flying Pig soars too high, must have its glory contained"
When you tame a flying pig pet, the greyed out version hovers about a half-centimeter too high, so that they're actually flying out of the top of the box. This should be adjusted.

<img width="615" alt="screen shot 2017-11-01 at 6 16 25 pm" src="https://user-images.githubusercontent.com/3494081/32305157-068c5138-bf31-11e7-9c7e-5b1d533c01da.png">

[2017-11-02 01:34] Alys commented on #9361
This is interesting from a translation perspective. For example, French
speakers would want Le and La ignored when sorting.  Coding that for every
language would be nightmarish.

I am wondering if the best solution would be to have a second title that's
used for sorting and then translators could handle this however best for
their language. E.g. in English, the second title would be "Birds of
Prey

[2017-11-02 01:59] clay-reed-a commented on #9361
I do not believe it is that nightmarish. We create a hash map of languages to a list of leading words that language considers ignorable. If we know where our users are we know what languages to focus on. Similarly, doing it with a data structure like this makes adding a new “ignorable word” trivial.

I do not think the secondary “sortable title” field is a good solution at all. It basically negate

[2017-11-02 03:07] Alys commented on #9361
I think users sorting the titles isn't bad because it's once-off effort for
each title and gives a good result for any leading word that needs to be
ignored, with no need for a code change to add leading words when new ones
are identified, but if you'd like to do the hash map solution, I have no
objection!

Something else that might be relevant: Is sorting currently being done
correctly for the RT

[2017-11-02 04:46] lemoness opened #9366 "Incorrect Divider in Food Quick Inventory"
No matter how many times you cycle through the food in the quick inventory, the item on the right-hand side is always separated out slightly. The idea is that there is a separation that loops around like a conveyor belt. So if you have 10 items, the separator only shows up between item 10 and item 1. Right now, it just separates out whichever item is on the right-hand side.

We had envisioned it w

[2017-11-02 04:47] lemoness opened #9367 "Food Quick Inventory Tooltip Persists"
<img width="601" alt="screen shot 2017-11-01 at 9 39 57 pm" src="https://user-images.githubusercontent.com/3494081/32310108-4ca867c6-bf4d-11e7-9f25-0fff2058b73b.png">
When you close the quick inventory after opening the pet food info, its tooltip remains on the screen.

[2017-11-02 04:52] lemoness opened #9368 "Odd Pet Feeding Behavior"
We've received some reports that sometimes when a user quick-hatches a pet where they already have the mount (not sure if it happens other times), the greyed-out don't-have-this-pet-but-do-have-the-mount icon doesn't update to a regular colored have-this-pet icon until a refresh. This means that, until I reload, they can still click on the greyed-out icon and get the dialogue for hatching the pet

[2017-11-02 04:57] lemoness opened #9369 "Back and body accessories don’t show in a player’s stats"
Back and body accessories don’t show in a player’s stats:
<img width="623" alt="screen shot 2017-11-01 at 9 56 13 pm" src="https://user-images.githubusercontent.com/3494081/32310457-939ca7b2-bf4f-11e7-88b3-f64ef140667b.png">

[2017-11-02 05:04] lemoness opened #9370 "Improving Market Copy during Grand Galas"
In the Market, the section for Equipment has this message for all four classes: "You already have all your class equipment! More will be released during the Grand Galas, near the solstices and equinoxes."

This is a little misleading during Grand Galas, because it appears even when you haven't yet purchased all of the currently available Grand Gala equipment from other classes, so you can't tell w

[2017-11-02 06:12] pcvonz commented on #8824
I removed the report flag from the website and made the API return an error if a system message is flagged, the commit is [here](https://github.com/pcvonz/habitica/commit/39de88ace19844cd24d232b2f0620f86657ec33c).

[This test](https://github.com/HabitRPG/habitica/blob/a28aea65f88e8847b824e82553faaa9aa055942b/test/api/v3/integration/chat/POST-groups_id_chat_id_clear_flags.test.js#L77) now fails. Sh

[2017-11-02 08:54] paglias commented on #9263
There doesn't seem to be different css for the drawer in those pages but there's this comment in the market page that indicates we might want to consolidate the code into a shared component

[code]

[2017-11-02 08:55] paglias commented on #9263
There doesn't seem to be different css for the drawer in those pages but there's this comment in the market page that indicates we might want to consolidate the code into a shared component

[code]

For the code itself I think @negue can help

[2017-11-02 08:58] paglias commented on #9263
I think a cause of this could be that the sidebar in the stable is much larger than in the market.
<img width="368" alt="schermata 2017-11-02 alle 09 57 08" src="https://user-images.githubusercontent.com/589911/32317538-5bf6742c-bfb4-11e7-8b17-42db65f9470d.png">
<img width="478" alt="schermata 2017-11-02 alle 09 57 20" src="https://user-images.githubusercontent.com/589911/32317539-5c113424-bfb4-11

[2017-11-02 09:02] paglias opened #9371 "Opening the party page makes too many requests"
Every time the party page is opened all these requests are made to the server:

<img width="461" alt="schermata 2017-11-02 alle 10 01 53" src="https://user-images.githubusercontent.com/589911/32317672-e1e1390a-bfb4-11e7-9cbf-14d87ff117cb.png">

There's an extra party request and one for the public guilds that shouln't be there at all

[2017-11-02 09:03] paglias opened #9372 "Cache the favicon file"
The favicon we're using is downloaded again any time you visit a new page, it should be cached

[2017-11-02 12:50] mandyzhou commented on #9224
I totally understand that you all are super busy, and I'm so sorry to be a bother, but I was wondering if there's an timeline for reviewing the pull request fixing this bug. The bug has been negatively affecting my workflow, since I have to manage a lot of quick-turnaround tasks, to the point that I've been looking into other to-do managers. The bug is labeled "POST-REDESIGN" and "priority: import

[2017-11-02 14:07] kartikadur commented on #9295
@Alys thanks for the update

[2017-11-02 14:15] kartikadur commented on #9295
Since this ticket requires preapproval, I wanted to confirm a few things before I make any design / code choices. Listed below are the sort options, to the best of my understanding.

sortBy option | sortBy order | flavour text (website/common/locales/en) |
---------- | ---------- | ---------- |
background | n/a | background |
class | n/a | class |
date joined | ascending | earliest date joined |
|

[2017-11-02 15:53] Tressley commented on #9263
Correct. They should be centered horizontally in the middle of the container (not page) as @paglias outlined above. And yes, it does look like the Stable has a much larger left column than the Market. The Market is actually the correct version, so the Stable should be adjusted accordingly.

[2017-11-02 16:24] trvrfrd commented on #9263
Alright, I'm diving into it and will hopefully have a PR open later today. I'll let you all know if I have any questions.

[2017-11-02 18:04] SabreCat commented on #8860
@LunarGem Absolutely, go ahead!

[2017-11-02 19:55] splashofcrimson commented on #9327
@lemoness awesome! If you need my email, it's splashofcrimson@gmail.com

[2017-11-02 22:31] lemoness commented on #9289
@melarish Thank you so much! We've invited you to our Zeplin, which should have all the exact numbers for you. Let us know if you have any questions.

I've updated the labels on this ticket.

[2017-11-02 22:32] lemoness commented on #9291
@brianhall Thank you very much! Let us know if you have any questions.

I've updated the labels on this ticket.

[2017-11-02 22:34] lemoness opened #9380 "Can't send message with Ctrl-Enter on Windows/Chrome"
We've received reports that some users using Windows/Chrome cannot automatically send messages using Ctrl-Enter. Sending messages using Cmd-Enter appears to work on Macs, at least in Safari.

[2017-11-02 22:37] lemoness commented on #9294
@klezt Absolutely! Thank you very much for helping out. Let us know if you have any questions.

I've updated the labels on this ticket.

[2017-11-02 22:39] lemoness commented on #9354
@AmyMendelsohn Sorry about the confusion -- there are plenty of other tickets, though, if you're still interested in helping out :)

@stephqwu Thanks so much for helping! We really appreciate it. As a note, in the future it's best to post if you see a ticket that you want to claim to avoid the risk of two people tackling it at once :)

[2017-11-02 22:45] lemoness commented on #6426
@mattWillis Thank you so much for this -- it's incredibly helpful. Please feel free to dive in and ask questions if you have them! We'll do our best to assist.

[2017-11-02 22:49] lemoness commented on #9353
@rholinshead Yes, they should be pressed to the left. Thank you for helping out!

I've updated the labels on this ticket.

[2017-11-03 00:03] gitlui commented on #9262
Hey there I'd like to start contributing to habitica. Would you mind if I try to solve this issue?

[2017-11-03 02:04] lemoness opened #9381 "When editing tags and tasks, "Save" should save all entered text"
Any entered text in the filters box and in the checklists for tasks should automatically save when you click Save, even if you haven't yet clicked Enter.

[2017-11-03 02:06] lemoness opened #9382 "Make Time Traveler Pet/Mounts Pinnable"
In the Time Travelers shops, Mystery Sets can be pinned to Rewards, but Pets and Mounts currently cannot. This is a bug. You should be able to pin the Pets and Mounts that you can buy from the Time Travelers.

[2017-11-03 12:21] joedragons commented on #9369
This works for me in Windows 10 Firefox, in case that helps.
From the title, I thought this meant stats total not tab, but now that I see the screen, I checked and the images are showing for me.

[2017-11-03 19:50] LunarGem commented on #8860
It's here: https://github.com/HabitRPG/habitica/pull/9385

[2017-11-03 22:17] lemoness opened #9387 "Fix Character Values has incorrect XP"
When you reset your level via Fix Character Values, it does not set your XP to 0, but keeps it at the level it was at previously. This isn't the desired behavior, since you can reset yourself to say level 10 with 2000 xp (and then next task click takes you back to level 43). It should reset your XP to 0 when you adjust your level.

[2017-11-03 22:23] lemoness opened #9388 "Can't edit profile"
We're getting many reports that edits to profile often don’t stick, even after multiple attempts and multiple refreshes.

[2017-11-03 22:32] lemoness opened #9389 "Challenge Progress Dailies should default to "All""
When viewing the progress of a user in a Challenge, the Dailies section should default to “All” because the “Due” option can make it look like the Dailies have disappeared. This shouldn't affect the Task Page defaults in any way.

[2017-11-03 22:36] lemoness opened #9390 "Challenges can't be filtered"
There's an issue with filtering Challenges based on tags, making it look like they never load. This should be fixed.

[2017-11-03 22:39] lemoness opened #9391 "Editing Challenges that aren't yours"
It appears that you can edit tasks from a Challenge that is not yours -- the edits do not actually stick upon refresh, but you shouldn't be able to edit them at all.

_edit by Alys:_

As an example of this problem, when you have joined a challenge and you see a task from the challenge in your own tasks list, you can click on that task to open it for editing (which is correct), but you can then cha

[2017-11-03 22:41] lemoness opened #9392 "Broken Megaphone Missing"
You can no longer tell from a task that the Challenge no longer exists, because the Challenge megaphone doesn’t look broken. The broken megaphone icon should be used.

@Tressley can give you directions about how to get the icon for the broken megaphone.

[2017-11-03 22:43] lemoness opened #9393 "Close Challenge Popup / modal appears erroneously"
When editing a Challenge after closing a previous Challenge, the Challenge close dialog pops up after saving the edits to the Challenge. This shouldn't happen.

[2017-11-03 22:49] lemoness opened #9394 "Shouldn't change short name/gem prize"
The Challenge edit form should not allow the short name (tag name) or gem prize to be changed.

[2017-11-03 22:54] lemoness opened #9395 "Group Tasks can't be sorted"
In the Group plan page, when you grab a Daily and move it to another place, you get an error message telling you "Task not found" and the Daily's position reverts back to where it was before.

[2017-11-03 23:53] lemoness opened #9396 "Details button for Pending Quests doesn't always work"
Sometimes the Details button on a pending quest doesn’t do anything when you click it. Reloading doesn’t fix it, but switching to a different browser does. This error was in the console: "TypeError: null is not an object (evaluating 'this.partyMembers.map')"

[2017-11-04 00:21] lemoness opened #9397 "Remove extraneous Settings option"
The option "Tag list in tasks starts collapsed" should be removed from Settings, since it isn't applicable in the new design.

[2017-11-04 01:08] lemoness commented on #9327
Great! @Tressley will get you set up soon.

[2017-11-04 01:13] lemoness commented on #9262
@gitlui We'd love to have you contribute! Thank you so much. Let us know if you have any questions.

I've updated the labels on this ticket.

[2017-11-04 01:39] lemoness opened #9398 "Selling items should be input, not dropdown"
When selling items, you should have an input that is analogous to the batch-buying, not a dropdown. When you click it, you should be able to type in the number that you want, and it should grey out automatically if you try to sell more than you have. The number that you're selling should also reset between items.

For comparison, this is the batch-buying input:

<img width="358" alt="screen shot 2

[2017-11-04 01:42] lemoness opened #9399 "Change Static Page Donation Button to Contribute Button"
The Donation button on the Static Pages should instead say "Contribute" and should link to the following Wiki page about contributing: http://habitica.wikia.com/wiki/Contributing_to_Habitica

[2017-11-04 01:45] lemoness opened #9400 "Contributor Title Tooltip"
You should be able to hover over a contributor’s name tag in chat and see their contributor title (for example,  "Friend Artisan").

[2017-11-04 01:47] lemoness opened #9401 "Confirmation Step for Gem/Hourglass Purchases"
There should be a confirmation step when you buy anything with gems or hourglasses, such as the one that pops up when you buy backgrounds.

[2017-11-04 01:49] lemoness opened #9402 "Action Drawer opened with top bar"
Clicking anywhere on the top bar of the action drawer on any page (such as the skills bar or quick inventory) should open or close it. You shouldn't have to move all the way to the tiny arrow in the right hand corner to interact with it.

[2017-11-04 01:53] lemoness opened #9403 "Too-long checklist names break border"
If the name in a Checklist is too long, it will not be truncated and will cross the box's border. Instead, it should wrap automatically.

[2017-11-04 02:09] klezt commented on #9294
@lemoness I have submitted a pull request with the bug fix (1 line of code) (pull request #9365), however it fails the Travis CI with error that I food is not currently available for purchase, which is unrelated to the bug fix. Do I need to make any changes?

[2017-11-04 08:30] Alys commented on #5233
MP in the notifications is rounding up/down depending on the exact value being rounded. The correct behaviour is to round down. This is very low priority though.

I've updated the labels.

[2017-11-04 09:27] Alys commented on #9294
@klezt Thanks for the PR! Those two errors are happening in all pull requests at the moment and they aren't related to your code as you say, so you don't need to worry about them. I think one of the staff has a change in progress to fix the tests. If you notice any more errors though, comment on the PR and we'll look into them.

[2017-11-04 09:40] Alys commented on #9400
For whomever works on this:

The player's contributor title does not need to be extracted from the player's profile. Instead, it can be easily found in the chat message. Here's an example of a chat message made by a Tier 6 contributor:
[code]

The `contributor.text` field is what should appear when you hover over their name.

----

_Related to this, `contributor.level` is what should be used to se

[2017-11-04 18:20] rcmbal commented on #9397
Complete newbie here: Would a complete removal of the option in the codebase and their localisations be sufficient or would there be a need of any replacement code?

If it's a matter of deleting the option, I'd like to tackle this task.

[2017-11-04 19:02] Alys commented on #9397
@rcmbal It's just deleting the option and associated code and locales/en/ string(s). I've marked this as in progress for you. Thank you! Comment here or on any PR you make if you have questions.

[2017-11-04 19:05] TNychka commented on #9403
I can cover this, I have a fix nearly done. Just to make sure I'm not missing anything, this should only be css changes in task.vue correct?

[2017-11-04 19:51] Alys opened #9405 "special characters in profile names cause chat message highlighting to fail (regex error)"
If a player's name contains a closing bracket `)` and if a message to that player exists in any chat area, then a regular expression error happens when the player views the chat area and they are not able to see the message to them, or any messages that appear after it. This was reported by the player "Stay Whelmed :)" 7d8263bd-7b74-4d71-8da2-95ee147b14fe but I've replicated it with a test user.

[2017-11-04 23:41] Zian opened #9407 "Home Page Hangs at White Image of Logo in Internet Explorer 11"
I can't reach the Report a Bug guild from the Habitica website; feel free to redirect this bug as necessary.

### General Info
  * UUID: Can't get it
  * Browser: Internet Explorer 11
  * OS: Windows 7 x64

### Description
When I go to https://habitica.com/, I see a purple screen and then nothing happens.

To reproduce the problem, launch Internet Explorer 11 and go to https://habitica.com/.

####

[2017-11-04 23:54] Alys commented on #9407
Zian, this is a good place for bugs when you can't get in to Habitica!

Please go to https://habitica.com/static/clear-browser-data and click the red "Clear Data" button there, then reload the website using your browser's refresh button while you are holding down the "Control" or "Command" key on your keyboard. Does that help?

[2017-11-05 01:38] librarianmage commented on #9400
Will the chat message also include `backer` information, if it exists? Otherwise, the coloring of the chat names can't be determined by the chat message alone.

[2017-11-05 01:38] librarianmage commented on #9400
I can work on this!

[2017-11-05 01:39] librarianmage commented on #9400
Relevant code:

https://github.com/HabitRPG/habitica/blob/12fd79059b09f258bf9f7d54415180f03a2c8ba8/website/client/components/chat/chatMessages.vue#L25-L31

https://github.com/HabitRPG/habitica/blob/560d247c9b5a09e6f568798fe8382d887eaf34d5/website/client/mixins/styleHelper.js#L2-L17

[2017-11-05 02:35] librarianmage commented on #9400
Never mind, it is

[2017-11-05 05:05] melarish commented on #9289
Thanks! I've joined the project. It only shows 3 screens on it though - Navigation/Checked into the Inn, Tasks/Habits, Tasks/Habits/Edit Tags. I can't see one for Tier Chart :|

[2017-11-05 07:32] Alys commented on #9400
@MathWhiz It's yours, thanks! Excellent question too - I hadn't thought about the NPCs. Thanks for finding out about that!

[2017-11-05 07:59] pineapple-joe commented on #9243
@Alys @lemoness @SabreCat

Hey,
so from looking at Key to the Kennels documentation,
I see that there are a few scenarios (Like release pets, release both etc).

I see those options in the API, but not in the site client.
from what I understand:
1. You buy the key
2. It appears in your inventory in the Special section (?)
   Or do is it used the moment you buy it?
3. there is supposed to be a moda

[2017-11-05 09:22] Alys commented on #9243
@borisabramovich86  Your code ideas look good to me although I'm not as familiar with our new website code as the other admins so listen to them not me if they give feedback. :)

However I can tell you for sure that the key is used the moment you buy it (it does not appear in your inventory after purchase). There is a modal showing the usage options, with buttons to choose which option you want.

[2017-11-05 10:17] rcmbal commented on #9399
I'd like to take a look at that.

[2017-11-05 10:29] Alys commented on #9399
@rcmbal Thank you! Post here or in your pull request if you have questions or run into trouble!

[2017-11-05 12:59] madpink commented on #8087
@MathWhiz It's pretty much ready... I need to rebase and check for changes then I'll submit it.

[2017-11-05 14:46] rcmbal commented on #9399
One or two strings need to be replaced:

- Should `companyDonate` just have the contents changed ("Donate" to "Contribute"), or should the label be changed as well? Both options would work, since `appFooter.vue` is the only instance of `companyDonate`.

- Should the link to the contribution wiki page be hard-coded, or should another string containing the URL be added, since the page itself is mult

[2017-11-05 15:33] Tressley commented on #9327
@splashofcrimson -- You've been invited to our Zeplin project. Please let me know if you don't see the invite.

You can find the design specs here: https://zpl.io/aB19D7O

[2017-11-05 18:00] mattWillis commented on #6426
@lemoness Awesome! I started diving in and feel confident that I will be able to make the necessary changes. Is the `develop` branch the correct place to make these changes, or should I create a new branch?

[2017-11-06 01:26] Alys commented on #6426
@mattWillis I recommend creating a new branch in your local install, using
any name you like, basing it on the develop branch. When you do the pull
request, it will be against the develop branch.

Thank you! I really like the assessment you've done and I'm glad you're
helping us with this.

[2017-11-06 02:39] Zian commented on #9407
When I go to the aforementioned URL, I get the following console errors:

DOM7011: The code on this page disabled back and forward caching. For more information, see: http://go.microsoft.com/fwlink/?LinkID=291337
File: clear-browser-data
HTML1300: Navigation occurred.
File: clear-browser-data
HTML1500: Tag cannot be self-closing. Use an explicit closing tag.
File: clear-browser-data, Line: 1, Colu

[2017-11-06 02:40] Zian commented on #9407
Here's a screenshot:
![habit rpg purple screen of death](https://user-images.githubusercontent.com/1581929/32423015-d55f7380-c258-11e7-8b22-efb570221ce3.png)

[2017-11-06 09:42] Alys opened #9414 "Amazon subscription payments are being converted to gem payments"
Sometimes when a player attempts to use Amazon to buy a subscription, what actually happens is a $5 gem purchase. One example of a user's bug report is below.

The staff are already aware of this issue and are working on it but I'm opening this issue so that players affected by it can find out when it's been fixed. Note though that once this issue is closed, it might be a couple of days before the

[2017-11-06 11:00] Alys opened #9415 "cron runs too early after a time zone change"
There seems to be a new problem in the code in cron that is supposed to protect the user from an inappropriate cron when the user's time zone changes. Below are several reports that were made in the Report a Bug guild. I believe this is a relatively new problem because I don't recall it happening the last time the USA changes time zones. A few days ago, we also saw similar reports from European pl

[2017-11-06 11:36] jnes92 commented on #9372
Does the current version has a favicon ?
The current website (habitica.com) does not seem to have one attached.
In my local environment on the latest development branch I also don´t see this file.

_(Btw. was looking for some small issue for getting started to contribute to habitica 👍 )_
Would it be fine to use a Webpack plugin/ some other 3rd party for this?

[2017-11-06 11:47] paglias commented on #9372
@jnes92 hmm you're right...

the site shows a favicon for me
<img width="437" alt="schermata 2017-11-06 alle 12 42 56" src="https://user-images.githubusercontent.com/589911/32439690-12705ff4-c2f0-11e7-9d34-c9ea18aa0610.png">

but if you go to that url the result is a 404 error and no file exists in git.

So yeah it looks like we should add the file, using a webpack plugin is fine but we already ha

[2017-11-06 13:14] kartikadur commented on #9295
### sort options dropdown
closed | open - all options | open - filtered options | open - no options |
----- | ----- | ----- | ----- |
![dropdown-closed](https://user-images.githubusercontent.com/1319511/32441927-76fca8e0-c31f-11e7-8d74-2f67267673fb.png) | ![dropdown-open-alloptions](https://user-images.githubusercontent.com/1319511/32442000-c52530e6-c31f-11e7-9735-9e273bd5e089.png) | ![dropdown-op

[2017-11-06 15:42] librarianmage commented on #9372
A favicon PR has already been created here: https://github.com/HabitRPG/habitica/pull/9235

[2017-11-06 15:51] librarianmage commented on #8333
Is this still an issue?

[2017-11-06 15:52] librarianmage commented on #8333
I checked the console, and didn't see any errors.

[2017-11-06 17:03] LunarGem commented on #8893
This still on hold?

[2017-11-06 18:18] trvrfrd commented on #9402
Any special steps to reproduce this? I'm able to click anywhere on the top bar of the action drawer and have it open and close as expected (except on the first click of the skills drawer as in #9349). Working as expected in both Firefox and Chrome.

[2017-11-06 19:34] pcvonz commented on #9405
Hey, I can take a look at this one.

[2017-11-06 20:02] splashofcrimson opened #9421 "Local Installation: dist-client error"
Hey, I'm having trouble with my local installation of habitica. I was able to get everything running without errors, but when I navigate to localhost:8080, I get the error: ERR_CONNECTION_REFUSED, and when I navigate to localhost:3000, I get the error:
{
success: false,
error: "Error",
message: "ENOENT: no such file or directory, stat 'C:\home\habitica\dist-client\index.html'"
}

Could someone ple

[2017-11-06 21:58] lemoness commented on #9289
Sorry about that! @Tressley will be sure to get those screens up for you
very soon.

On Sat, Nov 4, 2017 at 10:05 PM, Mel <notifications@github.com> wrote:

[2017-11-06 21:58] lemoness commented on #9289
Sorry about that! @Tressley will be sure to get those screens up for you very soon.

[2017-11-06 22:30] paglias commented on #9372
Ah I missed that, in that case @jnes92 it would be better to wait for us to merge that PR then you can work on the cache part :)

[2017-11-06 22:39] lemoness commented on #9295
Thanks for all this work! I'm tagging @Tressley on this so that he can give you some feedback on the implementations of the designs.

[2017-11-06 22:40] lemoness commented on #8333
I'm going to close this for now, but it can always be reopened if necessary.

[2017-11-06 22:40] #8333 closed, assigned to nobody

[2017-11-06 22:49] lemoness commented on #8893
The redesign is done, but I'm not sure that this is still happening. Have we had any recent reports?

[2017-11-06 22:49] librarianmage commented on #9421
Did you wait for the webpack to compile? Once `npm run client:dev` starts, it will take a bit before you can actually run the site.

[2017-11-06 22:50] lemoness commented on #9405
@pcvonz Thank you very much! Let us know if you have any questions.

I've updated the labels on this issue.

[2017-11-06 22:53] lemoness commented on #9402
@trvrfrd Thank you for investigating this! It looks like this is actually a duplicate of the issue, so I'm closing this now.

[2017-11-06 22:53] #9402 closed, assigned to nobody

[2017-11-06 23:55] splashofcrimson commented on #9421
@MathWhiz  Ok, I waited for around ten minutes, and I was hit by a long series of errors "Expected linebreaks to be 'LF' but found 'CRLF'. I suspect it would be relate to the fact that I'm running a windows PC, but when I run git config core.autocrlf, it is indeed true. Did i set this up incorrectly?

[2017-11-06 23:56] librarianmage commented on #9421
Did you commit all of your files before running the server?
On Mon, Nov 6, 2017 at 5:55 PM splashofcrimson <notifications@github.com>
wrote:

[2017-11-06 23:57] librarianmage commented on #9421
Did the errors say which files were messed up?
On Mon, Nov 6, 2017 at 5:56 PM Ray Arndorfer <raymond.arndorfer@gmail.com>
wrote:

[2017-11-07 00:09] splashofcrimson commented on #9421
Here's a screenshot of the errors I'm getting. I haven't committed anything before running the server, is that something I was supposed to do?

![image](https://user-images.githubusercontent.com/26318707/32470452-f02d9598-c325-11e7-9ef4-2035c93a667d.png)

[2017-11-07 00:10] librarianmage commented on #9421
Oh, no, I was just asking that in case the errors were happening due to an
edit
On Mon, Nov 6, 2017 at 6:09 PM splashofcrimson <notifications@github.com>
wrote:

[2017-11-07 00:12] librarianmage commented on #9421
Should `autocrlf` be true? Shouldn't all of the lines end with LF?
On Mon, Nov 6, 2017 at 6:10 PM Ray Arndorfer <raymond.arndorfer@gmail.com>
wrote:

[2017-11-07 00:15] splashofcrimson commented on #9421
I set 'autocrlf' to false, and I'm still getting the same errors. I'll try restarting my PC and running everything again.

[2017-11-07 00:16] librarianmage commented on #9421
You might want to pull again
On Mon, Nov 6, 2017 at 6:16 PM splashofcrimson <notifications@github.com>
wrote:

[2017-11-07 00:27] splashofcrimson commented on #9421
Ok! So I fetched from upstream and updated my local repo, and everything seems to be updated. Still same errors regardless of my autocrlf setting, but now I'm getting this new message at the end. Progress? (By the way, thank you for helping!)

![image](https://user-images.githubusercontent.com/26318707/32470884-8490dcfc-c328-11e7-9155-820d688928ff.png)

[2017-11-07 01:25] librarianmage commented on #9421
No problem! It seems like your problem is a bit more difficult than expected. Does the actual website work now?

[2017-11-07 01:31] splashofcrimson commented on #9421
Yes! It works!!! The error's still there though, I'd presume I'd need to fix that before submitting any pull requests.

[2017-11-07 01:45] librarianmage commented on #9421
I would think so. Maybe the git config will fix that for you?

[2017-11-07 01:55] librarianmage commented on #8914
Should this be on hold?

[2017-11-07 01:56] librarianmage commented on #9415
Possibly related:

* https://github.com/HabitRPG/habitica/issues/8944
* https://github.com/HabitRPG/habitica/issues/8828

What are your thoughts, @Alys?

[2017-11-07 01:57] lemoness opened #9423 "Loading Page Tips"
Here are the new tips that should display under the loading screen.

Tip #1. Check tasks on the go with the Habitica mobile apps.
Tip #2. Click any equipment to see a preview, or equip it instantly by clicking the star in its upper-left corner!
Tip #3. Use emoji to quickly differentiate between your tasks.
Tip #4. Use the # sign before a task name to make it really big!
Tip #5. It’s best to use sk

[2017-11-07 02:02] librarianmage commented on #5974
Is this still desired/relevant?

[2017-11-07 02:06] librarianmage commented on #7172
Is this still an issue? Isn't this what Amplitude is?

[2017-11-07 02:06] librarianmage commented on #7137
@veeeeeee What is the status on this?

[2017-11-07 02:10] lemoness opened #9424 "Group Plans: Assigned Bar not applied until refresh"
When creating new tasks in a group, the bottom bar that says ‘this task is unassigned, claim’ doesn’t appear until refresh.

[2017-11-07 02:10] librarianmage commented on #7561
Those issues have still not been fixed

[2017-11-07 02:10] librarianmage commented on #7581
Is this still an issue?

[2017-11-07 02:12] librarianmage commented on #8617
@Crizzooo Are you still working on this?

[2017-11-07 02:12] lemoness opened #9425 "Task Error in Group Plans"
Group plans:  When you are viewing tasks in the guild’s task management page, if you try to complete a task there, you see the error message “task not found”. It should say something along the lines of “you need to claim this task and then complete it in your own task list”.

[2017-11-07 02:14] lemoness opened #9426 "Deleted Group tasks don't disappear until refresh"
After deleting tasks from the Group taskboard, they don’t disappear until after a refresh.

[2017-11-07 02:16] lemoness opened #9427 "Group Plans Tasks Show Edit Modal in Task Board"
In Group Plans, when editing a task title assigned to yourself from your taskboard, it allows you to save the edit and displays the new text for .5 sec before reverting to original title. You can edit successfully from the Group task board. Editing the title is supposed to be blocked from the personal taskboard, so we should disable the field in the modal.

[2017-11-07 02:19] lemoness opened #9428 "Error when unclaiming Group Plan task"
When unclaiming a Group Plan Habit from your task page, you get a notification saying ‘An unknown error has occurred’. This may also be the case with Dailies and To-Dos.

[2017-11-07 02:24] lemoness opened #9429 "Group Plan Subscription Issues"
We received the following report:
When a group plan has been cancelled but the paid-for time has not yet expired, it’s not possible to add a new group plan (e.g., if you want to change your payment method). You have to wait until the entire paid time has run out, meaning that there’s likely a few hours where all the group plan features disappear.

[2017-11-07 02:37] lemoness opened #9430 "Firefox - Difficult to edit checklists"
In Firefox, when editing checklists, the cursor turns into a cross with arrows in all four directions so that you can move the whole item up and down to a different position in the list. However, this makes it impossible click into the text to change it, since the cursor only appears at the very end of the checklist entry. Instead, when hovering over the text entry, you should have a normal mouse

[2017-11-07 02:52] lemoness opened #9431 "Enchanted Armoire "all items found" popup too early"
The pop-up that appears when you've bought all the Enchanted Armoire items telling you that you've found all the pieces of equipment is appearing too early. It also appears repeatedly. The popup should only appear when you've actually found all of the pieces in the Enchanted Armoire.

[2017-11-07 02:53] lemoness opened #9432 "Armoire item seemingly incorrect"
The Armoire can tell you the right thing in the notification it gives you, but then you see the wrong thing on the website for a while, and then later the wrong thing disappears and the right thing reappears. We’ve seen enough reports like that to be pretty sure it’s happening as I describe.

[2017-11-07 02:55] lemoness opened #9433 "Multiple task entry field stays open"
If you type in multiple tasks (which expands the text field) and then change your mind and delete them, the text field stays expanded until a page refresh. This has been tested on both Firefox and Chrome.

[2017-11-07 02:56] lemoness opened #9434 "Tags list does not scroll"
The tags list in the task creation/edit dialog does not scroll. This means that if the user has a lot of tags, they're unable to select/deselect the tags at the top of the tags list, because they're displayed off-screen.

[2017-11-07 02:57] lemoness opened #9435 "Monthlies inaccurate?"
We've received a user report that they created two Dailies and set them to repeat monthly on the same day of the month, but when they checked them off, they both showed up as "Due" the next day.

[2017-11-07 03:00] lemoness opened #9436 "Persistent Incorrect Due Dates"
If you create a task with a due date set for that same day, the task is labeled "Due a few seconds ago". If you then change the due date, the task is still labeled the same way. In order for the task to be labeled correctly (like "Due in 3 days"), you have to clear the due date, save changes, assign the correct date and save again (or refresh the page).

[2017-11-07 04:19] TheHollidayInn commented on #9425
This was actually disabled a while back. You can't complete a task there.

[2017-11-07 04:19] librarianmage commented on #9405
Oops! Sorry @pcvonz, I forgot to ask here before submitting a PR yesterday.

[2017-11-07 04:20] librarianmage commented on #9398
May I work on this?

[2017-11-07 04:23] librarianmage commented on #9283
Should this be marked as in progress, as #9308 has been proposed to fix this?

[2017-11-07 05:01] pcvonz commented on #9405
@MathWhiz No worries! I'll find another issue.

[2017-11-07 05:08] TheHollidayInn commented on #9287
We have to fix the member count on the groups that have this issue. It should only happen when there are two members in a group, but it is possible for more. I have fixed the cause of the issue though.

[2017-11-07 05:09] pcvonz commented on #9430
Hey, can I take a look at this?
I'm using Firefox nightly and although the cursor changes it doesn't make it impossible to edit the checklist item. Which version of Firefox should I test with?

[2017-11-07 10:38] paglias commented on #7172
This is fixed, we're now using Loggly (Amplitude is for stats)

[2017-11-07 10:38] #7172 closed, assigned to paglias

[2017-11-07 10:50] Alys commented on #9283
labels updated. Thanks @MathWhiz

[2017-11-07 10:51] Alys commented on #9398
@MathWhiz Yes, thank you!

[2017-11-07 11:06] Alys commented on #9435
Might be related to this: https://github.com/HabitRPG/habitica/issues/9200

[2017-11-07 11:15] Alys commented on #9415
Yeah, could be related. At the very least it's good to have them all linked together. Thanks MathWhiz!

[2017-11-07 11:20] Alys commented on #8914
I've removed the parts that are no longer relevant and marked this as suggestion-discussion instead of on hold. Thanks MathWhiz!

[2017-11-07 11:23] Alys commented on #8893
I can't repllicate it. Closing. We can reopen if needed.

[2017-11-07 11:32] Alys commented on #9399
Normally when text changes, we don't change the label as well, but in this case since it's used in just one place and the meaning of the text is significantly different now, I think it's worth changing the label too.

However, I think the intention of this issue might actually be for the "donate" button that you see **after** you've logged in to remain as it is now (i.e., still say "Donate" and st

[2017-11-07 12:13] librarianmage commented on #9415
No problem!
On Tue, Nov 7, 2017 at 5:16 AM Alys <notifications@github.com> wrote:

[2017-11-07 19:33] Tressley commented on #9289
@melarish -- You can find that mock-up in Zeplin now. Here's a link! https://zpl.io/V1yvwQE

[2017-11-07 20:11] librarianmage commented on #6941
@SabreCat How should the bounty be handled on this issue?
On Tue, Nov 7, 2017 at 12:56 PM Sabe Jones <notifications@github.com> wrote:

[2017-11-07 20:45] paglias opened #9438 "Going directly to /logout doesn't clear the local login status"
If an user goes directly to /logout without passing from the button on the website they'll be logged out from the server but the client will still think that they're logged in.

The problem is that the /logout link must be reachable on the server, one option could be to rename the logout route on the server to something difficult to type or to require some weird query parameter to be passed that c

[2017-11-07 23:05] lemoness commented on #9430
@pcvonz Thank you for investigating! I'm not sure which versions of Firefox cause this issue, but it should only be the arrow cursor when it's next to the draggable section. We also have some related reports on Firefox of people not being able to click the (+) to add a new checklist item because of the cursor issue, so it would be helpful if you could look into that, too. Let us know if you have a

[2017-11-08 00:15] gitlui commented on #9262
Hmmm.. as I'am new to Vue.js can someone maybe explain why the properties for b-modal:
no-close-on-backdrop="true",
no-close-on-esc="false" aren't working?

The no-close-on-backdrop works if ESC should be forbidden too.

[2017-11-08 03:12] joedragons commented on #9206
I see this is closed, but I noticed the PR is not merged, so in case interested I noticed this as well today on quest picking.  See attached.  I can file another ticket if desired.

![habiticarevampfeedback20](https://user-images.githubusercontent.com/9559205/32529833-af3805f8-c408-11e7-9d79-4e951a21ee9a.png)

[2017-11-08 07:07] kartikadur commented on #9421
In your case ESLINT (the linting code) is throwing the errors, nothing wrong with the codebase as far as the screencaps show. The [eslint: linebreak-style](https://eslint.org/docs/rules/linebreak-style) rule is enforcing a check for `LF`.

If your local code files are stored with `crlf` instead of `lf` then as a temporary solution create a `.gitattributes` file with the above code at `~/website/`

[2017-11-08 08:12] kartikadur commented on #9295
No problem. This is an interesting interaction design issue.

[2017-11-08 10:00] paglias commented on #9262
you mean the .vue files?

have you tried passing them as props? `:no-close-on-esc="false"` for example? See how they're used here https://github.com/HabitRPG/habitica/blob/develop/website/client/components/yesterdailyModal.vue#L6-L7

[2017-11-08 10:02] paglias commented on #9208
Sprites are now cached, so only audio files are missing now

[2017-11-08 10:03] paglias commented on #5974
yes

2017-11-07 3:02 GMT+01:00 MathWhiz <notifications@github.com>:

--
Matteo Pagliazzi - paglias.net

[2017-11-08 10:09] gitlui commented on #9262
Yes I mean the .vue files. Couldn't they be organized more in folders like so:
taskModal (folder)
---taskModal.js
---taskModal.scss
---taskModal.html
---taskModal.vue

this would increase the file count but drastically improve readability, mergability and searching in these files.

I haven't tried your :no-close-on-esc="false" variant because my local installation doesn't build right now. I'll try

[2017-11-08 10:16] paglias commented on #9262
@gitlui we're going to keep the css/js/html together because it's been really helpful in general to have everything together, especially the js and html that are really coupled with Vue. I do realize, though, that some of them have got really big and we may want to split them into smaller components at least. I'll let you know

[2017-11-08 10:35] gitlui commented on #9262
Ok I can live with that. Just wanted to clear things up. thx so far

[2017-11-08 10:39] paglias opened #9439 "When registering from the home page cannot press Enter to submit the form"

[2017-11-08 15:14] #7159 closed, assigned to paglias

[2017-11-08 15:14] paglias opened #9440 "Upgrade NPM deps and Node to v8"

[2017-11-08 15:19] Gabomfim commented on #9439
does somebody know where is the home page code at?

[2017-11-08 15:23] paglias commented on #9439
https://github.com/HabitRPG/habitica/blob/develop/website/client/components/static/home.vue

[2017-11-08 16:38] Tressley commented on #9295
Hey @kartikadur -- Great work so far! A couple of points of feedback:
- There are a lot of options, but I don't think we need to get that granular for this type of control. The user search provides a lot of value and I think the options you've suggested in your JSFiddle are inline with the more common usecases. I think the list I'd go with is: [Class, Date Joined, Level (Descending), Name (Ascendi

[2017-11-08 16:45] Tressley opened #9441 "Tooltip for displaying a Task's tags does not wrap"
![image](https://user-images.githubusercontent.com/2686586/32561304-ffdfdd34-c479-11e7-8417-89a1acd3e072.png)

Hovering the tag icon on a Task reveals a tooltip of the associated tags for that Task. The tooltip looks to have a max-width that does not cause the tags to wrap to the next line.

[2017-11-08 17:11] kartikadur commented on #9295
@Tressley, thanks for the update.

Does sorting 'class', a categorical parameter, provide any benefits? I would assume a filter would be more suited for it. (ditto with background if it is still being considered).

For 'Date Joined' should I use ascending, descending, or both ?

[2017-11-08 17:13] Tressley commented on #9295
@kartikadur - Class can be sorted alphabetically (Healer, Mage, Rogue, Warrior), but yes, you're correct in stating a filter would be more appropriate. Date Joined should be both! Sorry for the confusion.

[2017-11-08 17:36] paglias commented on #9436
Going to work on this

[2017-11-08 18:04] paglias commented on #9436
Fixed in #9442

[2017-11-08 18:18] paglias commented on #9346
@Tressley this should be by moving the away, with a button or clicking outside of it like other dropdowns?

[2017-11-08 18:19] paglias commented on #9346
@Tressley this should be by moving the away, with a button or clicking outside of it like other dropdowns?

[2017-11-08 18:27] paglias commented on #9349
This seems to be due to some conflict between the local open state and the store state

[2017-11-08 21:06] lemoness commented on #9317
@ArthurFoucher - I'm so sorry -- it looks like some wires got crossed, and one of our programmers looped this fix into a bigger change that he was working on. This is totally our fault! I hope that it isn't too discouraging. We definitely want you to keep contributing, though, so please check out any of the other issues in the "help wanted" tag. @Negue will also be happy to show you his PR if you

[2017-11-08 22:10] ArthurFoucher commented on #9317
No worries, and yes if you could reference that PR here that would be great !

[2017-11-08 22:13] Tressley commented on #9346
@paglias -- It should be when you click off of it. I'm not a fan of when you're no longer hovering it component as it has too many areas action close to edge of the object.

[2017-11-08 22:13] Tressley commented on #9346
I have noticed a bug where clicking off of the calendar does not close the calendar. That could be an issue causing the reports.

[2017-11-08 23:45] lemoness commented on #7137
Vicky is currently quite swamped with other projects, but it's still on the list!

[2017-11-08 23:47] lemoness commented on #7561
I've updated the labels on this ticket.

On Mon, Nov 6, 2017 at 6:10 PM, MathWhiz <notifications@github.com> wrote:

[2017-11-08 23:48] lemoness commented on #7581
That's a question for @SabreCat!

I've updated the labels on this ticket.

[2017-11-08 23:49] lemoness commented on #8617
I've updated the labels on this ticket.

[2017-11-08 23:52] pcvonz commented on #9430
I've come across a couple things.

1. I've tried in Chrome/Chromium, Firefox Developer, and Firefox 52b and every text input of the checklist item will show the draggable cursor on hover. The reason is this line in the taskModal component https://github.com/HabitRPG/habitica/blob/061968dd1aabe66339422d42b473089ed9c6f128/website/client/components/tasks/taskModal.vue#L463 Changing that from `move` t

[2017-11-08 23:57] lemoness commented on #9425
Yes, that's why the error message needs to be changed, so that it's more accurately describing what action you need to do.

I'm open to suggested wording, but for now, possibly: "Can't complete a task from the Group Dashboard"?

[2017-11-08 23:59] lemoness commented on #9287
Hm, why should it happen for two members? Or do you mean that only two-person Groups are affected?

[2017-11-09 00:04] lemoness commented on #9430
The second question is something for @Tressley to answer!

[2017-11-09 00:13] lemoness commented on #5974
I've updated the labels on this ticket.

[2017-11-09 00:14] lemoness commented on #9440
@paglias Is this in-progress?

[2017-11-09 00:51] Alys commented on #9295
@kartikadur Please also include Last login in both directions since it's one of the most useful sort orders.

I'd like to see Background kept too since it's often the most attractive option unless @Tressley has a specific objection to it. It could be sorted by background key (no need to sort by name). I'd suggest allowing sorting in both directions to give the user the most flexibility in choosing

[2017-11-09 01:31] lemoness opened #9444 "Group Plans -- Incorrect Assigned Users Count"
I have a Group Plan task that is assigned to me and one other person in the Group, but it says "Assigned to you and 2 others." It's a three-person group, so it's either counting me twice, or erroneously thinks that the third member of the Group Plan has been assigned to the task.

[2017-11-09 01:38] lemoness opened #9445 "Can't remove Group Plan user"
As the leader of a Group Plan, you are currently unable to remove an unwanted user from your Group Plan. It produces the error "no such subscription" as well as the following in the developer console:

[Error] TypeError: null is not an object (evaluating 'this.partyMembers.map')
members — 2.9b6c295f2feab413449c.js:5699
get — vue.runtime.esm.js:3040
evaluate — vue.runtime.esm.js:3147
(anonymous fun

[2017-11-09 02:02] pcvonz commented on #9286
I can try and take care of this one.

[2017-11-09 02:11] lemoness opened #9446 "Incorrect mana reported"
We've received the following bug report:

"Reported this previously but was told it was probably a sync issue, so I tested it on my dailies (which are easier to keep track of than my many habits which can have more than one click a day. Refreshed twice (waiting for everything to fully load each time) before ticking off dailies. Total mana at the start (having refreshed twice to be sure) was 331. I

[2017-11-09 02:21] splashofcrimson commented on #9421
Edit: Never mind, it worked for a good 15 - 20 minutes, but I'm getting the same error again.

My .gitattributes file is indeed there, I put it in the habitica folder (above the website folder):

![image](https://user-images.githubusercontent.com/26318707/32585512-c56dc95c-c4cb-11e7-8189-0daa97181819.png)

inside the .gitattributes file:

![image](https://user-images.githubusercontent.com/26318707

[2017-11-09 02:23] lemoness opened #9447 "Checklist Sorting Issue - Wrong Checklist Deleted"
At least on Firefox, there is a checklist sorting bug that occurs when you move a checklist item up, and then, without saving, delete an item that used to be above it but is now below it. We've had a report that this causes

Here is how to replicate:
Add items A, B, C, D, E to checklist (in that order).
Move item E to the second slot, so that you have the sequence AEBCD.
Delete item C
You should t

[2017-11-09 02:32] lemoness opened #9448 "Potential Seasonal Shop Problems"
These are possible issues with Seasonal Shop while it's in its open state that will need to be investigated before we open it again in December. They have not been replicated yet. If any contributors would like to set up their local installs so that a Grand Gala is happening now so you can investigate all or some of them, we will be happy to help you do that. We will also accept PRs for partial fi

[2017-11-09 02:46] lemoness opened #9449 "Seasonal Shop page is blank"
Currently on Safari, the Seasonal Shop does not display, so only the Footer is showing. This is not an issue on Firefox.

<img width="1417" alt="screen shot 2017-11-08 at 6 39 25 pm" src="https://user-images.githubusercontent.com/3494081/32585979-00aea624-c4b5-11e7-8e9d-2157baa62343.png">

[2017-11-09 04:57] mandyzhou commented on #9423
For Tip #26, the arrow indicating a buff is now on the player's name's right, not left.

[2017-11-09 05:41] kartikadur commented on #9421
Yeah it is still the eslint stuff. something (possibly your IDE) might be reverting your code files to `crlf` line endings?

You could try setting your line endings in your IDE. I use vscode and it allows me to set the line endings per file. what IDE are you using?

edit: Another option is to turn off the eslint: linebreak-style rule for the duration where you lint and run the code. You can turn i

[2017-11-09 05:49] pcvonz commented on #9286
Did some digging into the ownership issue:

On the My Challenges page the filter will always check if the user is a member of the challenge since the `participating` role is always passed. The easy solution is to not pass the `participating` role when `Owned` is checked in the sidebar. But that'd mean that the user wouldn't be able to see every challenge they own but aren't participating in and al

[2017-11-09 07:28] kartikadur commented on #9295
@Tressley should I be add filter options in that case or just stick to sort options? Thanks for the clarification.

@Alys Thanks for the update, I'll keep 'Last Login' (asc, desc) as it does seem to have a valid use case, though I am a little shakey on 'Background'

If I may use an example: user wants to take a background themed screenshot. Suppose the user wants a background that appears in posit

[2017-11-09 08:20] majestic-owl448 commented on #9449
The same issue on Google Chrome!

[2017-11-09 09:34] Alys opened #9450 "emailed party invitations don't give the invited member an invitation to the party"
When a person who doesn't have a Habitica account receives an emailed invitation to join Habitica, they are not given an invitation to the inviter's party.

Steps to reproduce:

1. Go to your party page.
2. Use the email invitation feature to send an email to an email address that does not currently have a Habitica account.
3. Click on the "join their Party on Habitica" link in the email.
4. Creat

[2017-11-09 09:35] Alys commented on #9450
labels updated

[2017-11-09 09:37] Alys commented on #9450
Part of the testing for the fix for this should ensure that when the invited player joins the party, the person who invited them should get the `invitedFriend` achievement.

[2017-11-09 09:58] paglias commented on #9440
No it's not in progress, but I'll tackle it myself once I'm done with my current work so I'll set it to on hold

[2017-11-09 12:05] apiekarska opened #9451 "Include number in a particular string for translation"
### General Info
  * Type: Translations
  * Language: Polish (probably other too)

### Description
There is a string (groups.json/charactersRemaining) saying "characters remaining" and on the site it displays as e.g. "250 characters remaining". The best translation in Polish would be "pozostało 250 znaków" (literally "remaining 250 characters") which needs the number to be included in the string.

[2017-11-09 13:00] Alys commented on #9287
I can't replicate this in staging so I'm closing it as fixed.

[2017-11-09 14:18] Alys commented on #6482
More problems with attribute points:

Il Mago Grigio (test account) ( ac056eb4-eaca-4b53-ab8d-dfd43d42ee6a ):
After various reports of strange things with attribute points at low levels, I have created a test account and fast forwarded between the first few levels. Well, here my observations:
- at level 1-9 I have already points to allocate (1 per level), but there are no notifications about them.

[2017-11-09 14:30] Alys commented on #9295
@kartikadur That background example is just one of the use cases. A more relevant one that I should have remembered earlier is that some of the backgrounds tile  - they've been specifically designed by the artists to be used by two or more players at once with the sort option set to background to take advantage of the tiling. You can see them on the wiki at [Backgrounds > Tiling Backgrounds](http:

[2017-11-09 15:08] kartikadur commented on #9295
@Alys thanks for letting me know.

In that case, I'll start working on the list below.
+ Class (sorted alphabetically by name of class)
+ Background (sorted alphabetically by name of background)
+ Date Joined (asc, desc)
+ Last Login (asc, desc)
+ Level (desc)
+ Name (a-z)
+ Tier (desc)

[2017-11-09 17:31] SabreCat commented on #9449
The following appears in the JS console:

[code]

[2017-11-09 17:35] SabreCat opened #9453 "Group plan tasks display incorrectly on small views"
[//]: # (Before logging this issue, please post to the Report a Bug guild from the Habitica website's Help menu. Most bugs can be handled quickly there. If a GitHub issue is needed, you will be advised of that by a moderator or staff member -- a player with a dark blue or purple name. It is recommended that you don't create a new issue unless advised to.)

[//]: # (Bugs in the mobile apps can also

[2017-11-09 18:36] paglias commented on #9439
Fixed in https://github.com/HabitRPG/habitica/pull/9452/commits/6b1a893d6ae7c7d948000a43d7789f9cd7571df4

[2017-11-09 18:37] #9439 closed, assigned to nobody

[2017-11-09 18:38] #9345 closed, assigned to paglias

[2017-11-09 18:38] #9349 closed, assigned to paglias

[2017-11-09 18:38] #9436 closed, assigned to paglias

[2017-11-09 21:54] lemoness opened #9454 "Can't Edit Group Plan"
When the leader of a Group Plan tries to edit the Group Plan, for example by changing the summary,  it instead shows an error message that says "can't change the leader", regardless of whether or not you actually attempted to change the leader. You are then unable to save your edits.

[2017-11-09 22:00] Alys commented on #9444
As a note for anyone investigating this:
The bug is almost certainly that the group leader is being counted twice so I'd recommend starting to look into it there.

[2017-11-09 22:21] lemoness opened #9455 "Updates to the Quest Section on the Group Detail Page"
We have some new upcoming style updates to the Quest page to address some confusion about whether or not people are participating in a Quest and to make the Quest text more prominent. I've attached the screenshots to this ticket, but whoever will be tackling this ticket will need to be added to our Zeplin by @Tressley so that they can get all the details about spacing etc. For that reason, if you'

[2017-11-09 23:31] lemoness opened #9456 "Floating tooltips incorrectly positioned"
We've gotten multiple reports that sometimes tooltips from the navigation bar randomly appear elsewhere on the page and persist across Habitica pages until a browser refresh. One user reports that they've noticed this behavior on Firefox with the Gems and Gold tooltips in particular.

[2017-11-09 23:41] lemoness commented on #9456
We're investigating to see if some of our recent staging deploys have fixed this.

[2017-11-10 00:24] thefridge111 commented on #9135
I've had a PR out on this for a few weeks now without any feedback or movement, is there something I missed that I need to do?

[2017-11-10 00:48] SabreCat commented on #9135
@thefridge111 No, we're just buried in PRs at the moment, on top of a pretty big issue backlog. ^^; We've done some process tweaking this week, so it should be a little better going forward!

[2017-11-10 00:54] thefridge111 commented on #9135
Ok! I'll take a peek at that backlog and see if theres anything I can pick off!

[2017-11-10 00:56] lemoness commented on #9135
Awesome! We look forward to seeing more fixes from you :)

[2017-11-10 00:59] lemoness commented on #9423
Good catch, thank you! I'm editing this now.

[2017-11-10 01:01] lemoness commented on #9286
Good point about the filter! Thanks very much for tackling this.

I've updated the labels on this ticket.

[2017-11-10 01:27] lemoness commented on #9399
Hi @rcmbal, thanks for tackling this! As for whether or not the Donation
button should remain the same before and after you log in, for now just do
whichever version is easiest. So if it's simpler to have it say
"Contribute" in both places, that's okay!

On Tue, Nov 7, 2017 at 3:33 AM, Alys <notifications@github.com> wrote:

[2017-11-10 01:42] pcvonz commented on #9430
I was adding some checklists to one of my tasks and noticed that the problem is more complicated than I originally assumed. If a checklist item is longer than the input box it's easier to see what @lemoness described originally in Firefox. The reason it appears not editable is that the cursor is placed at the end of the input box. The solution is to pass a handle to the sortable js directive.

Is

[2017-11-10 02:55] pcvonz commented on #9430
Ok, I was able to fix this issue with `vuedraggable`. If there isn't a strong reason for using the custom `sortablejs` directive, I think this is a better all around solution. Let me know and I'll submit a pull request!

[2017-11-10 03:08] lemoness opened #9457 "Seasonal Shop Closed State Style Change"
There current Seasonal Shop style is incorrect.

This section should be removed:

<img width="341" alt="screen shot 2017-11-09 at 7 03 10 pm" src="https://user-images.githubusercontent.com/3494081/32641056-b148b332-c580-11e7-8ce8-eba6644ce059.png">

The text should actually say, "The Seasonal Shop is open during Habitica's four Grand Galas."

Grand Galas should link to the Wiki page: https://habit

[2017-11-10 03:28] lemoness opened #9458 "Updates to the Equipment Page"
We need to implement some changes to the Equipment page based on feedback from users, as well as to reinstate the Unequip All buttons!
<img width="718" alt="screen shot 2017-11-09 at 7 15 52 pm" src="https://user-images.githubusercontent.com/3494081/32641608-d223d5ac-c583-11e7-8fa3-643a71a629b6.png">
<img width="717" alt="screen shot 2017-11-09 at 7 16 48 pm" src="https://user-images.githubusercon

[2017-11-10 03:56] mandyzhou commented on #9456
In case additional information is helpful (I was the user who reported noticing this behavior on Firefox with the Gems and Gold tooltips), I've since also noticed this with the Sync and User tooltips, as well as with tooltips from the Skills action drawer. Another user in the Report a Bug guild also reported seeing this behavior with Skills tooltips.

[2017-11-10 04:49] joedragons commented on #9456
If this is what you mean I noticed and took a screen, in case it helps.
Interestingly, I had not cast "Searing Brightness", so don't think it's related to activity.
I this occuring with "Sync" on my Party screen (no screenshot).
I also primarily use (and only noticed so far) on FF [Windows 10].
These don't move when you scroll, seem to be stuck in the place they appear.  I believe they disappear o

[2017-11-10 06:49] majestic-owl448 commented on #9456
![habitica](https://user-images.githubusercontent.com/26656284/32646058-edf9bf28-c5ea-11e7-8091-95d7f56f8fe3.png)
 I have this one that stick to the line break between the chatbox and the messages below (or the same height if it's not a chat page), it appears almost every time that I click on the User Icon, stay there even changing page, and go away only on reload. Google Chrome 62.0.3202.89, on W

[2017-11-10 10:56] hextal commented on #9457
Can I give it a shot? looks like a pretty good first issue wouldn't mind giving it a shot if someone can guide me a little hassantalpur@gmail.com

[2017-11-10 11:15] paglias commented on #9457
@hextal sure! You can open a PR and ping me if you have any question

[2017-11-10 12:02] paglias commented on #9430
@TheHollidayInn might some some inputs about this

[2017-11-10 12:12] joedragons commented on #9456
This is what I meant by "these don't move when you scroll"=)  I think this is a better phrasing.  Or alternative phrasing=)  Either way, I think we agree=)

[2017-11-10 13:31] Tressley commented on #9295
@kartikadur -- Let's stick with Sort options for now. I'll need some time to address filters in the design. In the mean time, I think the list you've provided looks good to start working with. @Alys -- Does this hit everything for you?

[2017-11-10 13:35] Tressley commented on #9458
@lemoness -- In addition to the page-level updates, there are design changes to the Drawer component that are a bit more technical. Would you like to break that out into a separate issue? It specifically touches on Drawers that have tabs (e.g. Quick Inventory.)

[2017-11-10 13:44] Tressley commented on #9430
@pcvonz - The Plus is not supposed to act as button, but as an icon for the checklist item you are currently adding. The behavior is similar to that of Google Keep.

I understand the confusion in how green is suggesting an action. I think changing the fill color of the Plus SVG to  `#878190` helps.

[2017-11-10 23:59] AlyxMoon commented on #9451
This would be my first attempt at helping with the project so I need to familiarize myself with the code, but I'm happy to give this a shot!

[2017-11-11 02:04] Alys commented on #9295
@kartikadur @Tressley Yes, thanks, that list is good! I'd be happy for the work to start based on it.

I have a slight preference for allowing sorting in both directions for all options to maximise flexibility, but I understand you probably want to keep the list short so it's not worth considering that unless there's other requests for it in future.

[2017-11-11 02:45] Alys opened #9460 "Google and Facebook registration buttons in the Settings screen don’t work"
The Google and Facebook registration buttons within the User Icon > Settings screen don’t work correctly - they do not add those authentication methods to the user's account.

Console log:
site.vue?2834:514 Uncaught TypeError: e.socialLogin is not a function at click (site.vue?2834:514) at HTMLButtonElement.e (vendor.1fa51d06df40d59327b2.js:6)

[2017-11-11 03:23] Alys commented on #9460
Actually the behaviour has changed since this was reported in our internal bug list. Now when you try to attach Google authentication to an existing account, you see this in a popup window:
[code]
and this in the console;
[code]

For Facebook you see this in a popup:
[code]
and much the same console message.

It's also not possible to de-register Facebook. Console log:
[code]

[2017-11-11 05:16] Alys opened #9461 "Quest Completionist achievement should not require quests to be completed in order"
As reported by Tex Geoffiamson in the Report a Bug guild and as confirmed by Lemoness, there is a bug with how you achieve the "Quest Completionist" achievement ("Completed all sixteen quests in the Masterclasser Quest Series and solved the mystery of the Lost Masterclasser!").

With our current code the achievement is only assessed when Masterclasser Part 4 is assessed: https://github.com/HabitRP

[2017-11-11 07:27] kartikadur commented on #9295
I can start based on the current inputs. Let me know if there are suggestions for the flavour text.

[2017-11-11 07:46] Alys opened #9462 "when purchasing multiples of an item, Amplitude does not indicate number purchased"
Most purchasable items now let you buy multiples at once by selecting the number from a drop down or typing it. When you do a purchase like that, our Amplitude data does not say how many items were bought. For example, this is the record from me buying 18 potions:
[code]

That data should also contain the number of items purchased. E.g.:
[code]

This should occur for items bought with either gems

[2017-11-11 10:17] Alys commented on #9432
I've done tests to confirm that this is a real bug, not users being mistaken about what they've been given.

In my tests, each time I used the Armoire, a server-side change gave me food or equipment or XP and I saw a notification that I spent gold and another notification of the item that I was given. Examining my user document in the database showed me that the notification was always correct.
Af

[2017-11-11 10:27] paglias commented on #9432
Does the server return the correct gp data? In that case we could get rid at all of the client side code and just rely on the server result

[2017-11-11 11:31] Alys commented on #9432
The server doesn't return the gold spent or change in gold at all, but we could take the gold price from the Armoire's content data.

[2017-11-11 11:36] paglias commented on #9432
Yeah using that sounds good to me

Il 11 Nov 2017 12:31, "Alys" <notifications@github.com> ha scritto:

[2017-11-11 13:23] Tressley commented on #9457
@hextal -- It looks like you were invited to Zeplin before I had a chance to get the artboard imported! You can now review the design here: https://zpl.io/a3XN751

[2017-11-11 23:06] Alys opened #9464 "Sync bar is not visible for Record Yesterday's Activity screen (RYA)"
When you're completing Dailies in the Record Yesterday's Activity (RYA) screen, there's no way to tell when each tick mark has been synced to the server and so you can take unfair damage from some of your clicks not being recorded if you click too quickly.

~Possible solutions include making the normal sync bar that appears at the top of the website visible when the RYA screen is up, or adding a c

[2017-11-11 23:07] Alys commented on #9464
Labels updated. I'm marked this as needing design. @Tressley

[2017-11-12 17:12] joedragons commented on #9456
This occurred to me again today, this time in Chrome (Windows 10).  I wasn't sure if "We're investigating to see if some of our recent staging deploys have fixed this." meant on some staging site or if the fixes were staged (on the live site) so thought I'd report back.

[2017-11-12 17:25] paglias commented on #9456
@joedragons thanks for the report! We're investigating this on a private testing site that contains several changes and probably fixes the problem but it will take a few days before it can land on Habitica.com

I'll post here when it's live

[2017-11-12 19:26] aalsehly86 commented on #9393
Hello @lemoness I can take care of this.

[2017-11-12 19:27] jpngfile commented on #8785
I don't think this is still an issue. I tried testing on a local build and wasn't able to reproduce.

1. The first task is due every second Sunday and starts today on a Sunday. It has isDue = true.
2. The second task is due every second Sunday and starts one week prior. It has isDue = false.

[code]

[2017-11-12 20:58] hextal commented on #9457
hey guys im pretty lost here, im trying to figure out where to edit the js/css?
 and where can i find the sprites especially for the shop_open and the background?
 currently im only seeing the halloween one and i dont see where to extract the new one on zeplin although im still kinda getting used to zeplin

[2017-11-12 21:01] paglias commented on #9457
@hextal the css/js files are inside website/client/components: the files ending in .vue have css/js/html inside, the shop closed image can be downloaded from zeplin, click on it and on the right there should be a link to download it in svg format

[2017-11-12 21:24] librarianmage commented on #9462
@Alys should the key be `amountPurchased` or `quantity`?

Either way, I can work on this!

[2017-11-12 21:30] librarianmage commented on #9457
Should this be marked as in progress?

[2017-11-12 21:34] librarianmage commented on #9458
As far as I can tell, the updates include:

* Adding a Battle Gear / Costume switcher at the top of the page
* Adding Unequip Battle Gear / Remove Costume, etc. buttons
* Moving the BG / Costume switcher in the action drawer to the title of said drawer
* Adding an overlay when the costume is disabled

is that correct?

[2017-11-12 21:45] librarianmage commented on #9460
Relevant Code:

https://github.com/HabitRPG/habitica/blob/d9830950aacc3343d708eccd1a2a33c585e797de/website/server/controllers/api-v3/auth.js#L291-L363

https://github.com/HabitRPG/habitica/blob/d9830950aacc3343d708eccd1a2a33c585e797de/website/client/components/settings/site.vue#L116-L121

https://github.com/HabitRPG/habitica/blob/d9830950aacc3343d708eccd1a2a33c585e797de/website/client/components/s

[2017-11-13 03:36] Alys commented on #9461
Labels updated. I've marked this as important priority because it's going to affect more and more people in the near future as they complete old quests to get the achievement, and the sooner this is fixed, the fewer manual fixes we'll have to do when they report the bug.

After the fix goes live, admins will have to run a migration to ensure that all players who've earned the achievement have been

[2017-11-13 11:14] Alys commented on #9462
@MathWhiz Thank you! Let's make it `quantityPurchased`. I do like quantity better than amount, but I want to use a double word to assist with grepping for the term. Searching the code base for merely `quantity` would be stressful. :)

[2017-11-13 12:28] librarianmage commented on #9462
Ah, yeah.
On Mon, Nov 13, 2017 at 5:14 AM Alys <notifications@github.com> wrote:

[2017-11-13 13:02] Tressley commented on #9464
@Alys -- I don't think I am completely clear on the issue, but from what I'm gathering, I don't think needs design, but rather fixing how we display the user's state.

Are you referring to completing RYA and then seeing the Tasks page while the server is still syncing your information? The sync bar is present in that state, but easy to miss upon the visual impression of the Tasks being presented.

[2017-11-13 13:08] Tressley commented on #9458
@MathWhiz -- Good eyes! Your list pretty much hit all of the changes. There are a couple more to add.

- "You have disabled your costume" design message has been revised.
- "Auto-equip new" and "Use costume" have been pulled from the drawer and added as page-level controls.
- The tabs being included in the drawer header is only when the drawer is open. Otherwise it'll keep the same closed state de

[2017-11-13 13:14] Tressley commented on #9449
Is this still an issue for anyone? I'm having trouble replicating in Chrome and Safari this morning.

[2017-11-13 13:15] Tressley commented on #9353
@rholinshead -- Are you part of our Zeplin project yet? If not, is there an email address I can send an invite your way?

I have an artboard in Zeplin to give you the specs for the correct positioning in the Rewards column.

[2017-11-13 13:44] majestic-owl448 commented on #9449
On Chrome 62.0.3202.89, Windows 10, the Seasonal Shop is not visible.

Il lunedì 13 novembre 2017, Tressley Cahill <notifications@github.com> ha
scritto:

[2017-11-13 14:26] kartikadur commented on #9421
I managed to get rid of the eslint: linebreak-style errors, this solution worked for me.
Leaving a solution in case anyone else stumbles here.

_note: the `end of line` settings have to be in place before the repo is cloned locally in either case_

This works for me as I prefer unix style line endings even though I use a windows machine:
+ delete local repo clone
+ reinstall git with the line endi

[2017-11-13 17:14] paglias commented on #9421
@kartikadur thanks for the investigation, going to close the issue

[2017-11-13 17:14] #9421 closed, assigned to nobody

[2017-11-13 18:18] librarianmage commented on #9231
@Sabrecat I was thinking about how this best be implemented on the client,
and I was wondering: should the designs be created first?

On Wed, Oct 18, 2017 at 3:54 PM Sabe Jones <notifications@github.com> wrote:

[2017-11-13 18:20] librarianmage commented on #9462
Should it also record quantity for gear? It should always be 1.

[2017-11-13 18:24] librarianmage commented on #9462
Also, there is this

https://github.com/HabitRPG/habitica/blob/7fe25049063aae6de581dfac9f2fffd65cd9ef37/website/common/script/ops/buy.js#L27-L48

Which means that each individual purchase is recorded on Amplitude.

[2017-11-13 19:47] garkbit opened #9467 "Skills cannot be cast more than once within a 10-second window"
### General Info
  * UUID: f744cbeb-05cf-434b-9388-ff01282e34d1
  * Browser: Chrome v62
  * OS: OSX 10.12

### Description
Casting a skill requires a looong round-trip (~10s) from the server confirming that a cast was completed before casting a second time will be effective. However, the UI happily gives the impression that you have successfully cast, until one of the `POST` requests returns, wher

[2017-11-13 19:57] negue commented on #9462
I think this should be post-poned until the `buy/purchase`-methods merged / refactored

[2017-11-13 20:16] #9398 closed, assigned to nobody

[2017-11-13 20:39] negue commented on #9243
@borisabramovich86 Could you create a PR for your changes then we can test & review them easier

[2017-11-13 20:52] negue commented on #9153
Closing this, the modal was redesigned and fixed (the bubble is gone and the remaining message is under the amount selection)

[2017-11-13 20:52] #9153 closed, assigned to nobody

[2017-11-13 22:51] librarianmage commented on #9458
I'd like to try this, but I don't know if I can actually do it.

[2017-11-13 22:57] librarianmage commented on #9455
When a user is in a quest, should the "Leave Party" button be greyed out? Then it's obvious that they need to leave the quest first.

[2017-11-13 23:06] librarianmage commented on #9185
I've seen it working with Bailey.

[2017-11-14 00:46] lemoness commented on #9451
@AlyxMoon Thank you so much! Let us know if you have any questions.

I've adjusted the labels on this ticket.

[2017-11-14 00:53] lemoness commented on #9393
@aalsehly86 Thank you so much! Let us know if you have any questions.

I've updated the labels on this ticket.

[2017-11-14 00:55] lemoness commented on #9457
I've updated the labels on this ticket!

[2017-11-14 00:56] lemoness commented on #9231
@MathWhiz Yes, that's probably for the best if you don't mind waiting. We've got quite a lot of designs to implement at the moment, but this one is on our list!

[2017-11-14 01:00] lemoness commented on #9185
I'm closing this ticket now, but we can reopen it if the issue recurs!

[2017-11-14 01:00] lemoness commented on #9455
That's a question for @Tressley!

[2017-11-14 01:04] lemoness commented on #9458
@MathWhiz I'll assign it to you for now, but let us know if you hit a wall. What email address should we invite to Zeplin?

[2017-11-14 01:05] MathWhiz commented on #9458
If you're able to get it easily, the one connected to my Habitica account.
On Mon, Nov 13, 2017 at 7:04 PM lemoness <notifications@github.com> wrote:

[2017-11-14 01:38] librarianmage commented on #9231
Darn. Well, I can wait!

[2017-11-14 01:41] librarianmage commented on #9461
So instead, it should check when any of the quests are completed? Would it make sense to add a "series" key to the quest data?

[2017-11-14 02:44] lemoness opened #9470 "Localize comma vs period"
We should have a string related to the decimal separator, for example when calculating boss health. Some languages use a comma instead of a period, so numbers such as "977.11 / 1000.00" look very odd.

[2017-11-14 02:55] lemoness opened #9471 "Possible Tasks Page Style Bugs"
We've received this report but have been unable to replicate it. However, it may be happening on a small screen. "The numbers of my stats are partially obscured by members of my party and i am unable to see the entirety of the drop down menu. my view is cut off under the entry for "stats" when i mouse over the portion of the menu that allows me to change my avatar background or check my messages."

[2017-11-14 04:57] rholinshead commented on #9353
@Tressley I'm not part of the Zeplin project yet but would like to join. My email is ryanholinshead @ hotmail.com . Btw, this does have an accepted PR with a fix for the alignment, it just needs to be merged by someone with correct permissions :)

[2017-11-14 08:04] pineapple-joe commented on #9243
@negue
Hey,
I'll try to create one this week.
I haven't finished working on this one yet,
but I hope to finish in the next few days,
If that's ok.
When I'm done, I'll create a PR, no problem.

[2017-11-14 12:32] Alys commented on #9462
No, this shouldn't be postponed. We need this information for
troubleshooting bug reports related to gem purchases. I expect it's also
important for tracking the popularity of gem-purchaeable items; for
example, there's a large difference between one purchase of 1 potion and
one purchase of 18 potions.

MathWhiz, for equipment I don't care if quantityPurchased is included or
not. If it's easier or

[2017-11-14 12:40] Alys commented on #9464
No, this is about displaying the sync bar while you are marking Dailies
complete within the RYA screen. You need to know when eaoh action you take
has synced, otherwise you risk having some of your Dailies not completed
when cron runs. A sync bar needs to be visible in RYA for the same reasons
it's visible on the tasks page.

On Mon, 13 Nov 2017, 23:02 Tressley Cahill <notifications@github.com> wr

[2017-11-14 13:37] Tressley commented on #9353
@rholinshead -- Zeplin invite sent!

[2017-11-14 13:40] kartikadur commented on #9359
I'm working on another issue, but can I claim this as well?

[2017-11-14 14:34] klezt commented on #9334
Hello @Alys I can deal with this issue.

[2017-11-14 16:11] kipraske commented on #9128
To expand on @mitten 's comment. I did some poking around and what seems to be happening is that the markdown-it library only parses chunks of strings at a time. So if you put in an emoji next to some other text, then markdown-it completely ignores the emoji since it thinks it is just part of the word. Thus it is "working" without a space next to it because it never gets transformed into the image

[2017-11-14 18:32] paglias commented on #9464
The sync bar is actually there but covered by the purple background behind so it's almost invisible

[2017-11-14 19:36] paglias commented on #9346
So there's definitely a bug here because the datepicker by default is closed automatically when clicking outside it but for some reason this isn't working when it's inside a modal

[2017-11-14 20:47] lemoness commented on #9458
I've passed it along to @Tressley, so he will invite you soon!

On Mon, Nov 13, 2017 at 5:06 PM, MathWhiz <notifications@github.com> wrote:

[2017-11-14 20:50] lemoness commented on #9359
@kartikadur Yes, you can! Just be sure to let us know if you can't finish it. Thank you!

I've updated the labels on this ticket.

[2017-11-14 20:51] lemoness commented on #9334
@klezt Thank you so much! Let us know if you have any questions.

I've updated the labels on this ticket.

[2017-11-14 21:18] lemoness opened #9476 "Website Markdown does not currently support quoting with > and >> (blockquotes)"
Website Markdown does not currently support quoting with > and >>. It should be updated so that it supports this again.

[2017-11-14 22:18] Tressley commented on #9458
@MathWhiz -- Zeplin invite sent your way. You can find the Zeplin artboards here:

- **Equipment/Battle Gear:** https://zpl.io/bzw8GYX
- **Equipment/Costume:** https://zpl.io/bAOmXGp
- **Equipment/Drawer Open/Battle Gear:** https://zpl.io/agg8LG0
- **Equipment/Drawer Open/Costume:** https://zpl.io/25NEKgW
- **Equipment/Drawer Open/Costume/Disabled:** https://zpl.io/2jpZXl6
- **Equipment/Drawer Clo

[2017-11-14 22:24] negue opened #9477 "Sorting stable by name,causes to list all animals"
Using the `A-Z` sort just lets all animals to be listed, which breaks the `show more / less` workflow

[2017-11-14 23:54] #9287 closed, assigned to nobody

[2017-11-14 23:54] #9395 closed, assigned to nobody

[2017-11-14 23:54] #9424 closed, assigned to nobody

[2017-11-14 23:54] #9426 closed, assigned to nobody

[2017-11-14 23:54] #9427 closed, assigned to nobody

[2017-11-14 23:54] #9429 closed, assigned to nobody

[2017-11-15 00:04] librarianmage commented on #9476
It appears that instead of the blockquotes not appearing, blockquotes (what happens when > or >> is typed) are simply unstyled. @Tressley, would that be something that you would design?

[2017-11-15 00:04] TheHollidayInn commented on #9444
Fixed in this commit: https://github.com/HabitRPG/habitica/pull/9437/commits/5ea06a22a0e4439d27a4ec7464cb9ee7e9a8ef28

[2017-11-15 00:04] #9444 closed, assigned to nobody

[2017-11-15 00:18] Alys commented on #9462
@MathWhiz I've just got online and have looked at the code you posted - thank you  for finding that!

Hatching Potions aren't included in that else-if block and my tests show that when I buy multiple Hatching Potions at once, Amplitude records only a single event with no indication of the quantity purchased, so Hatching Potions at least need to be fixed.

I agree that the code you posted does look

[2017-11-15 01:13] lemoness opened #9478 ""Cannot revive if not dead""
We've gotten several reports that when users die and attempt to revive themselves via the popup modal by clicking "Refill Health and Try Again", they get the error message "Cannot revive if not dead" and have to refresh before they can restore their health.

[2017-11-15 01:28] lemoness opened #9479 "Can't re-pin lost Grand Gala item"
If you lose a limited-time Grand Gala item due to running out of health and then unpin it from your Rewards column, the item does not appear in the Market, so you can no longer buy it back from anywhere.

[2017-11-15 01:35] lemoness opened #9480 "Profile Modal has overlapped styling issues"
We've received several reports that in the Profile modal, there is not enough space between the right edge of the avatar image and the left edge of the name/level/health/experience/mana column, which causes the image to up partly covered by the data column. We've received one report that this seems to happen only in Firefox, not Chrome and doesn't seem to be affected by browser window size, but an

[2017-11-15 02:07] librarianmage commented on #9462
@Alys It appears to be that the code to buy quests is here:

https://github.com/HabitRPG/habitica/blob/7fe25049063aae6de581dfac9f2fffd65cd9ef37/website/common/script/ops/purchase.js#L109-L162

[2017-11-15 02:20] lemoness opened #9482 "Unallocated Attribute Point notification causes page to disappear"
If you click "You have 1 unallocated Attribute Point(s)" under your notifications and exit out of the modal, the body of the page disappears so that all you can see are the toolbar, header, and footer. This is the case on Firefox at the least.

[2017-11-15 02:45] lemoness opened #9483 "Hover Description for Items sticks to corner"
On the Items page, sometimes the hover description for the Items clips to the top left corner of the page and covers the avatar. This has been reported to happen on Chrome, and may possibly happen on other browsers as well.
<img width="618" alt="screen shot 2017-11-14 at 6 43 25 pm" src="https://user-images.githubusercontent.com/3494081/32816091-f611fc8c-c96b-11e7-9e88-c662565e01e7.png">

[2017-11-15 02:48] lemoness opened #9484 "Card purchase should have confirmation notification + Card purchase modal should not reopen itself"
When casting a card on someone, no confirmation is given ~and gold doesn't decrease until the page is synced or refreshed~. There should be a confirmation notification in the corner, ~and the gold should be subtracted immediately~.

_Edit by Alys 2018-01-13 to summarise the comments below:_

The desired fix for this issue is both of these:
1. When you buy a card, you should see a notification sayi

[2017-11-15 03:19] librarianmage commented on #3323
Is this still an issue?

[2017-11-15 03:29] librarianmage commented on #3553
Has there been any internal decisions on this? Personally, I think it would be easier if system messages weren't in a message box, but were instead outside of a chat box with smaller text. Messaging apps that I use tend to do that with "administrative" messages (adding new people, changing the title, etc).

[2017-11-15 03:35] librarianmage commented on #4403
Is there anything that should be done first?

[2017-11-15 03:36] librarianmage commented on #6169
Is this still an issue?

[2017-11-15 03:38] MathWhiz commented on #5557
Should this be labeled with `status: issue: on hold - needs designs`?

[2017-11-15 04:35] rholinshead commented on #9132
@Tressley just wondering if you've had a chance to review the PR that addresses this?

[2017-11-15 05:45] rholinshead commented on #9353
@Tressley thanks for the invite. I'm able to see 12 screens but none of them appear to be showing the pinned items / Rewards column. Am I looking in the wrong place?

[2017-11-15 08:16] majestic-owl448 commented on #9479
I have all my lost grand gala equipment under Class:None, I can pin it without issue. And it appears in my reward column when pinned, but I obviously can't buy it as it is not the correct class.
Maybe the issue is that the equipment doesn't appear under the expected class?

[2017-11-15 08:19] majestic-owl448 commented on #9427
This is an issue also for challenges tasks. I can edit title, dates, difficulty, but then the changes revert soon after. Is also this fixed by @TheHollidayInn fix?

[2017-11-15 08:56] kartikadur commented on #9359
Thanks @lemoness.

Is there anything I should know before beginning work on this? like which files to touch, unit testing, etc.

[2017-11-15 10:01] Alys commented on #9464
Thanks @paglias !  It sounds like this just needs an adjustment to the current design. Even knowing the sync bar is there, I can't see it. :)

[2017-11-15 10:24] Alys opened #9485 "seasonal Grand Gala equipment appears under the "None" class in Shops > Market"
When you lose seasonal equipment due to death, it can be bought again at Shops > Market, but you have to change the "Class" drop-down to "None" before you see the gear.

The correct behaviour is that it should appear under the class that the equipment belongs to.

[2017-11-15 10:25] Alys commented on #9479
@Ieahleen  Thank you! I've tested and confirmed you're right, and the items can be purchased if you're in the right class. I think this issue was either reported before we added those items to "None" or the user couldn't find them, as you suggest.

I've logged https://github.com/HabitRPG/habitica/issues/9485 for getting the gear moved to the right class drop-down option.

[2017-11-15 10:25] #9479 closed, assigned to nobody

[2017-11-15 11:25] Alys commented on #6169
Yes, I'm pretty sure we had problems like this at the end of the most recent Grand Gala.

[2017-11-15 11:34] Alys opened #9486 "user profile screens need a flag / report button to report bad profiles or display names"
The profile screen for a player needs to have a report button, similar to the report button on chat messages, so that players can report profiles containing bad text or images, or players who have bad names.

See the comments below for details.
~This needs design work to determine the location and appearance of the report button (although I suggest it looks the same as it does on chat messages to

[2017-11-15 11:35] Alys commented on #9486
Labels updated (not yet sectioned, on hold needs design).

[2017-11-15 11:50] Alys commented on #4403
This still needs discussion. Some thoughts:

- [ ] _Add report dialog to block user button_ - I've logged an issue for flagging profiles: https://github.com/HabitRPG/habitica/issues/9486 . It's not tied to the block button but I think it's good to keep the two features separate (you might block someone you don't like who hasn't violated the rules; having a report button the same as on chat message

[2017-11-15 12:02] Alys commented on #3553
I'm still really keen to keep system messages in normal party chat, in chronological order with all the messages from players, and with the system messages never hidden by default, but hideable with a button you'd click each time you visit party chat. This has the best chance of avoiding confusion from players about why they've suffered loss of health or why their stats have improved.

I like Math

[2017-11-15 12:04] Alys commented on #8207
I'm closing this now that the new website has been released. I don't believe this happens any more but it can be reopened if I'm wrong.

[2017-11-15 12:04] #8207 closed, assigned to nobody

[2017-11-15 12:17] Alys commented on #9467
This is one example of a more general behaviour across the website where any time you take several actions too quickly, not all actions are recorded permanently. See the wiki's [Sync Errors](http://habitica.wikia.com/wiki/Sync_Errors) page for details. It's recommended that when you have clicked on one task/skill/purchasable item/etc, you wait for the sync bar (a purple line) to travel across the

[2017-11-15 12:17] #9467 closed, assigned to nobody

[2017-11-15 12:20] Alys commented on #8781
This can go on hold until https://github.com/HabitRPG/habitica/issues/9458 is finished.

[2017-11-15 12:22] Alys commented on #9458
When this issue is resolved, https://github.com/HabitRPG/habitica/issues/8781 should be taken off hold.

[2017-11-15 12:36] Alys commented on #3323
This was logged for the old site and was typically because the site had too much javascript for a browser to handle. The new site is hopefully better so I'm closing this. We can log a new issue if needed.

Thanks MathWhiz! :)

[2017-11-15 12:36] #3323 closed, assigned to nobody

[2017-11-15 12:37] LunarGem commented on #3553
I definitely think this is important now especially with the new UI with all of the scrolllllling. (Are we dealing with all of the scrolling? It probably would be even worse on mobile.) Maybe like in Google Hangouts where the text is tiny and grey?

[2017-11-15 13:00] Tressley commented on #9353
@rholinshead -- My apologies. I exported to the wrong Zeplin project. 🙄

You can now find the specs here: https://zpl.io/29NN0RA

[2017-11-15 13:11] joedragons commented on #8207
FYI, I've seen "this" once since the revamp.  What I'd say is the new behavior occurs as the screenshot below.  I haven't seen it more than once (and forgot about this issue report) so hadn't reported it.
Interestingly, the time I saw it was during a holiday so there were definitely no changes to the code (per the commit list of github) so it was truely intermittent.  Nothing says that this hasn't

[2017-11-15 13:18] Alys commented on #8207
@joedragons Thanks for that! I think for the moment we'll assume that it might have been fixed, since our code is churning pretty quickly these days. :)

However if anyone does see that from now on, please do report it in the Report a Bug guild! We'd probably open a new issue for it, despite what I said above about reopening this one. :)

[2017-11-15 13:30] Tressley commented on #9464
@paglias / @Alys  -- Is it possible to store completed Dailies from the RYA modal and sync them once the user has clicked the "Start my day" button? In the context of the modal, the user is checking off multiple Dailies in a short amount of time. This is different from the typical flow on the Tasks' page. That doesn't feel like the proper logic.

The way RYA works now is:
- Navigate to Habitica an

[2017-11-15 13:32] Alys opened #9487 ""static" member profile URL"
_(This might be a duplicate but I can't find it in another issue.)_

On the old website, URLs like https://habitica.com/static/front/#?memberId=d904bd62-da08-416b-a816-ba797c9ee265 pointed to a web page that displayed a player's profile.

That currently does not work but is still desired, although the format of the URL will change.

I'm marking this as suggestion-discussion until we've filled in t

[2017-11-15 13:33] LunarGem commented on #9482
I think this is because the link to open the profile doesn't have a fall back page. When the modal is closed, there's nothing behind it, so nothing is shown. Do we want it to fall back to the task page or the last viewed page under this circumstance?

[2017-11-15 13:39] Alys opened #9488 "QR code should be removed and URL redirected to "static" member profile URL"
This issue should be taken off hold when https://github.com/HabitRPG/habitica/issues/9487 has been resolved.

QR Codes are used for `GET /qr-code/user/:memberId` -- I.e., they are used for URLs such as https://habitica.com/qr-code/user/d904bd62-da08-416b-a816-ba797c9ee265

Those URLs should redirect to the "static" member profile page which will be implemented in https://github.com/HabitRPG/habiti

[2017-11-15 13:40] Alys commented on #9488
Labels updated.

[2017-11-15 13:41] Alys commented on #9487
The other issue is https://github.com/HabitRPG/habitica/issues/9488

Labels updated.

[2017-11-15 13:56] Alys commented on #9464
@Tressley Even if that's done, can the visibility of the sync bar be improved first since that would be a small, quick change and would give immediate benefit? What you describe would take more effort and there might be a delay in starting it since there's so much else being worked on.

I'm not sure if storing the user's actions in the RYA modal and doing all the syncs at once at the end is the be

[2017-11-15 14:03] Tressley commented on #9464
Then the solution is to have the sync bar above the overlay in the stack. 👍

[2017-11-15 14:06] Alys commented on #9464
@Tressley Thanks! I've added that comment to the top post and updated the labels.

[2017-11-15 14:29] Alys opened #9489 "API route to export avatar as PNG file is broken"
The [Data Export - Render a user avatar as a PNG file](https://habitica.com/apidoc/#api-DataExport-ExportUserAvatarPng) API route is not working.
`https://habitica.com/export/avatar-:uuid.png` (for example, https://habitica.com/export/avatar-d904bd62-da08-416b-a816-ba797c9ee265.png ).

It redirects to https://habitica-assets.s3.amazonaws.com/avatars/d904bd62-da08-416b-a816-ba797c9ee265.png which s

[2017-11-15 14:56] Tressley commented on #9132
@rholinshead -- Looks good to me!

[2017-11-15 15:35] klezt commented on #9294
@Alys This issue has been fixed, by applying the fix to client/components/header/index.vue. Therefore the PR was closed (bug fix in PR was in client/components/appHeader.vue that no longer exists), but this issue should be closed.

[2017-11-15 15:57] majestic-owl448 commented on #8189
has this been solved?

[2017-11-15 15:58] paglias commented on #9225
This seems to be fixed now

[2017-11-15 15:58] #9225 closed, assigned to nobody

[2017-11-15 16:06] #9346 closed, assigned to paglias

[2017-11-15 16:06] #9441 closed, assigned to paglias

[2017-11-15 16:22] paglias commented on #9483
@lemoness is this happening on staging too? Might have been fixed by the upgrade there

[2017-11-15 16:25] #9294 closed, assigned to nobody

[2017-11-15 16:31] #9135 closed, assigned to nobody

[2017-11-15 16:32] #9224 closed, assigned to nobody

[2017-11-15 16:32] #9132 closed, assigned to nobody

[2017-11-15 16:35] #9336 closed, assigned to nobody

[2017-11-15 16:39] #9405 closed, assigned to nobody

[2017-11-15 16:41] #9451 closed, assigned to nobody

[2017-11-15 16:47] #9334 closed, assigned to nobody

[2017-11-15 16:52] #9285 closed, assigned to nobody

[2017-11-15 16:52] Tressley commented on #9476
@MathWhiz -- Thanks for doing the detective work. This is something I'll need to design.

[2017-11-15 16:52] #9303 closed, assigned to nobody

[2017-11-15 16:53] #9354 closed, assigned to nobody

[2017-11-15 16:53] #9397 closed, assigned to nobody

[2017-11-15 16:57] librarianmage commented on #9476
Glad to help!

![](https://media.giphy.com/media/Yiw4aLjpxldhC/giphy.gif)

[2017-11-15 18:16] librarianmage commented on #9489
IIRC @lemoness said that there were designs needed about this? The avatar export used to display the level indicator as well, which no longer is on the actual avatar.

[2017-11-15 18:26] MathWhiz commented on #9458
Uh oh! The invite didn't work for me. Can you please invite me again? @Tressley

[2017-11-15 19:01] garkbit commented on #9467
It's pretty consistently a 10-second sync for me. I see reading through the code that there are

If I've got task and exp history defined, which I do. However, I can find no reference to that on your Sync Errors page, which seems to be telling "click slower, twitchy". That's a pretty disheartening response when I can only register 1 click every ten seconds. To do a little math, it would take me a

[2017-11-15 19:04] garkbit commented on #9467
Also, describing this as a "Sync Issue" is misleading, I think. Sync seems to be working as designed. It's a performance issue, IMO. If the server response time were below, I dunno, 100ms or so, issues would be few and far between.

[2017-11-15 19:05] Alys commented on #9467
It's definitely not the user experience we want but we are planning to fix the more general problem, which will fix it for skills too. In future there might also be the ability to cast a skill multiple times with one action.

[2017-11-15 19:09] Alys commented on #9489
Hmmmm. I feel it would be best if it exported the avatar exactly as it's shown on the website but @Tressley what's your intention for this?

[2017-11-15 20:28] SabreCat opened #9490 "Health/Experience/Gold/etc notifications go by too quickly"
[//]: # (Before logging this issue, please post to the Report a Bug guild from the Habitica website's Help menu. Most bugs can be handled quickly there. If a GitHub issue is needed, you will be advised of that by a moderator or staff member -- a player with a dark blue or purple name. It is recommended that you don't create a new issue unless advised to.)

[//]: # (Bugs in the mobile apps can also

[2017-11-15 20:28] lemoness commented on #3553
I can confirm that in the future there will be the option for batch skill
casting, but it isn't the highest item on our priority list right now.

This is a good topic for @Tressley to look over.

On Wed, Nov 15, 2017 at 4:02 AM, Alys <notifications@github.com> wrote:

[2017-11-15 20:30] SabreCat opened #9491 "API route for Key to the Kennels missing checks to see if user is eligible"
[//]: # (Before logging this issue, please post to the Report a Bug guild from the Habitica website's Help menu. Most bugs can be handled quickly there. If a GitHub issue is needed, you will be advised of that by a moderator or staff member -- a player with a dark blue or purple name. It is recommended that you don't create a new issue unless advised to.)

[//]: # (Bugs in the mobile apps can also

[2017-11-15 20:36] lemoness commented on #9476
I've updated the labels on this issue!

[2017-11-15 20:39] Alys opened #9492 "quantity field greys out when trying to buy too many gems or transformation items"
When you try to buy subscriber gems or transformation items (e.g., Spooky Sparkles) with gold, if you enter a purchase quantity higher than what you can afford, the number field and the arrows become greyed out. You can't reduce the number using the arrows or by typing, and you can't complete the purchase. You have to close the modal and reopen it to start again.

The correct behaviour is that whe

[2017-11-15 20:39] Alys commented on #9492
Labels updated

[2017-11-15 20:43] lemoness commented on #9483
Has not been tested on staging.

On Wed, Nov 15, 2017 at 8:22 AM, Matteo Pagliazzi <notifications@github.com>
wrote:

[2017-11-15 21:01] TheHollidayInn commented on #9445
I think this has been fixed in my other PR. I can' replicate on the latest develop.

[2017-11-15 21:02] TheHollidayInn commented on #9425
By disabled, I mean you can't get the message to show. Clicking shouldn't work at all. Are you able to click? (could be a browser thing)

[2017-11-15 22:13] lemoness opened #9493 "Vivaldi - Stripe modal prevents scroll"
If you try to purchase gems/subscription via Stripe while using Vivaldi, you can't scroll upwards on the screen once you've chosen and dismissed a payment method. You have to close the screen and re-open it, or refresh.

[2017-11-15 22:19] lemoness opened #9494 "Can buy locked quests from Rewards column"
We've received the following report in relation to the new Mystery of the Masterclassers gem-purchasable quest line. "I bought the first quest in the line (but haven't started doing it yet) and pinned the other three to my rewards column for later. I noted that I was not able to buy quests 2-4 in the shop (this is another case where an explanatory "You can't buy this yet" popup upon clicking would

[2017-11-15 22:20] Alys commented on #9490
There's also reports of it being too fast for feeding pets:
"Can the flash message please stay a little bit longer. Especially when feeding pets"
"Hey guys! When I feed my pets, the notifications last about half a second and I have no time to read anything whatsoever. I'm using Firefox, but I think I experienced the same problem with Chrome. Anyway to fix this? // Thanks."

And an older report for

[2017-11-15 22:27] lemoness opened #9495 "Preview incorrectly shows two-handed weapon AND shield"
If you try to change your costume while wearing a shield and try to equip a two-handed weapon (or vice-versa), the preview shows your Avatar wearing both. There is no message or other warning that it's a two-handed weapon, but you are not able to equip my Avatar as it appears in the preview. (Note that this is separate from but related to https://github.com/HabitRPG/habitica/issues/8441). The prev

[2017-11-15 22:29] Alys opened #9496 "large user profile images stretch out of the profile modal"
As reported by tr1p (34850a08-5663-4a89-80e5-c7b47d337dcb) in the Report a Bug guild:

"Photos in user modals can grow out of the modal. Some photos are huuuuuge, it looks weird."

Example (using a [Wikipedia commons image](https://en.wikipedia.org/wiki/Sunset#/media/File:Sunset_2007-1.jpg)):

![image](https://user-images.githubusercontent.com/1495809/32863698-13ca32a2-caa8-11e7-84c4-64cb9c3e304a.

[2017-11-15 22:31] lemoness opened #9497 "Preview doesn't work while transformed"
With the effect of a transformation item active, the preview function when buying a piece of equipment doesn't work, as it shows the effect of the transformation item and not the piece that you are planning to buy/equip. It should show your normal avatar with the regular preview item on it.

[2017-11-15 22:36] lemoness opened #9498 "Pawprints should not show for some Special Pets and Mounts"
_edited by Alys 2018-11-11_

For the Special Pets and Mounts (those shown in the screenshot below), currently if you don't own them, you see pawprints for them. The pawprints are appropriate for only those Special Pets and Mounts that you are able to obtain by taking actions yourself (e.g., completing a Quest). The other Special Pets and Mounts are no longer available or are given out by staff at

[2017-11-15 22:45] lemoness opened #9499 "Opt-out of pet hatching pop-up does not work"
The setting to not show popups when hatching a pet does not work correctly.

[2017-11-15 23:08] lemoness opened #9500 "Pinning a Quest or Time Traveler item resets filters"
Pinning a Quest or item on the Time Travelers' shop resets filters. This has been confirmed happening in Chrome, Firefox, and Opera.

[2017-11-15 23:10] lemoness opened #9501 "Put Earnable Quests back in Quest Shop"
Earnable Quests (Feral Dust Bunnies and Basi-list) need to be put back in the Quest Shop, with an explanation for how you can earn them. (FYI, they were removed in commit 7a6bf8b8702871e13b8572d8f5a2083a760c3d49 because the shop hadn't been set up to display them correctly.)

----
edit 2020-02-07: Any contributor interested in working on this should read all the comments as some contain important

[2017-11-15 23:37] SirLouen commented on #9200
Same happens with the "repeat after xx days" in the daily setting. The workaround works fine: I switched to weekly setting saving the task, and then back to daily setting and it was solved.

[2017-11-16 00:19] librarianmage commented on #9491
Relevant code:

https://github.com/HabitRPG/habitica/blob/d4881cb73aecb5c0ab3293321d39625321172f16/website/server/controllers/api-v3/user.js#L1436-L1483

https://github.com/HabitRPG/habitica/blob/d4881cb73aecb5c0ab3293321d39625321172f16/website/common/script/ops/releaseBoth.js#L9-L85

[2017-11-16 00:24] AlyxMoon commented on #9461
Since nobody has commented it doesn't seem like anyone has grabbed this to work on yet. I'd be happy to try and get this fixed.

[2017-11-16 00:58] Alys commented on #9461
Oh darn, I meant to reply! Yes, MathWhiz is correct, it should check when
any of the quests have been completed. I like MathWhiz's idea of a `series`
key so that the quest IDs don't need to be hardcoded.

MathWhiz did you want to work on it since you were looking into it already
or are you ok for Allister to take it on?

On Thu, 16 Nov 2017, 10:24 Allister <notifications@github.com> wrote:

[2017-11-16 01:00] lemoness opened #9502 "Must enter full Guild name for search results"
Currently, searching for just a partial word in the Guild search bar does not bring up the Guild in questions. For example, searching for "wolf" still does not bring up Wolfsrudel, but if you enter "Wolfsrudel" in its entirety you see the Guild in results. This should also be the case for other search bars.

[2017-11-16 01:05] lemoness opened #9503 "Cannot change leader of Guild/Party"
You currently cannot manually change the leader of a Guild, or Party (and possibly also a Group). After selecting a new leader and clicking the Update button, no change to the leader is made, not even after a reload. Debug shows "TypeError: Cannot read property 'template' of null".

[2017-11-16 01:08] lemoness opened #9504 "Filtering by Guild tier only loads the first page of results for that tier"
Filtering by Guild tier only loads the first page of results for that tier. For example, when you select "Bronze" it only loads the Guilds with 50 members, then gets stuck.

[2017-11-16 01:09] lemoness opened #9505 "Can't edit "only group leader can create Challenges""
After creating a Guild, you can't change the option for "Only group leader can create Challenges" because the checkbox is not found in the edit page.

[2017-11-16 01:13] lemoness opened #9506 "Username notifying is too broad"
The purple dot that notifies people when they've been tagged in a post is too widely applied. For example, a user named "The H" sees the purple dot appears every time the word "the" precedes the letter "h", for example in the phrase "the Habiticans."

[2017-11-16 01:19] lemoness opened #9507 "Errors with batch-buying gold purchasable quests"
Batch-buying gold purchasable quests seems to result in errors where the number the user attempted to purchase don’t show up in inventory, but gold is sometimes deducted correctly for the amount they attempted to purchase anyway.

[2017-11-16 01:27] lemoness opened #9508 "Non-participants still see pending Quest damage"
If you reject a quest invitation, you still get the notifications about Boss damage when you complete tasks, and you see your pending damage in the Party page. ~(This might only happen while the quest is in the invitation stage.)~ You should never see any pending damage or boss damage notifications once you have rejected a Quest.

[2017-11-16 01:27] librarianmage commented on #9461
@Alys I am fine with @AlyxMoon taking over. I just like to provide some thoughts.

[2017-11-16 01:51] lemoness opened #9509 "Can't leave Guild from the Discover Guilds page"
When you click “leave” in the Discover Guilds page (NOT in the Guild’s own page), you see the error message “Group not found or you don't have access” and you do not leave the Guild.  Clicking this button should allow you to immediately leave the Guild.

[2017-11-16 01:52] lemoness commented on #9509
Note that this may also be the case from the My Guilds page.

[2017-11-16 01:55] lemoness opened #9510 "Sometimes Guilds display the wrong Challenges"
We've received periodic reports that sometimes Guilds will display Challenges from other Guilds instead of their own Challenges. The issue is fixed with a refresh.

[2017-11-16 01:56] lemoness opened #9511 "Silver tier Guilds use wrong color"
Silver tier Guilds erroneously use the bronze color for their number in the crest. They should use their silver color.

[2017-11-16 01:59] lemoness opened #9512 "Incorrect badge for Guilds with 100 members"
Guilds with exactly 100 members seem to have a misaligned number in the Guilds list and are missing their badge, both there and in the Guild's "member list" box inside the Guild itself.

[2017-11-16 06:13] pcvonz commented on #9430
@paglias Still waiting to hear back whether we want to replace the custom sortablejs directive with the vuedraggable component. If not, I can continue working on the issue.

[2017-11-16 09:08] #9462 closed, assigned to nobody

[2017-11-16 09:41] Alys commented on #9427
@Ieahleen It's not fixed by that fix but we have it recorded here: https://github.com/HabitRPG/habitica/issues/9391

[2017-11-16 09:54] Alys commented on #9391
As an example of this problem, when you have joined a challenge and you see a task from the challenge in your own tasks list, you can click on that task to open it for editing (which is correct), but you can then change the title, due date, difficulty, and possibly other fields that you shouldn't be able to edit. Those fields should be greyed out and/or not able to be clicked on.

The list of fiel

[2017-11-16 12:12] Alys opened #9513 "Rewards should be allowed to have decimal values"
It should be possible to set a Reward's value to have decimal points. E.g., it's allowed to create a Reward that costs 1.75 gold.

However when you try to do that on the new website, it doesn't allow decimal points and tells you that you have to choose between nearest values of 1 and 2. That restriction should be removed.

[2017-11-16 12:13] Alys commented on #9513
labels updated

[2017-11-16 12:18] Tressley commented on #9496
I don't think this is Needs Design as much as needs max-width/scaling on the image and image container.

[2017-11-16 12:24] Alys opened #9514 "language cannot be changed in Firefox"
In Firefox 57, when you go to User Icon > Settings and change the language using the drop-down menu, the website reloads as it should but your language setting is not saved. When I tested this using my own account, examining my user document in the database showed that `preferences.language` was not changed. I repeated this a few times with the same result.

When I tried to change the language in

[2017-11-16 12:25] Alys commented on #9514
labels updated

[2017-11-16 12:27] Tressley commented on #9489
This is actually the first I'm hearing of this feature. I remember some discussion around sharing your Avatar to social media, but this sounds a little different. @Alys -- You're referring to the API route and not an actual site feature, right?

As for how I think we could handle the feature -- This could be as simple as a modal that pops up and lets the user customize their Avatar export with (ba

[2017-11-16 12:36] Alys opened #9515 "deleted Group Plan tasks don't disappear until after you reload the Group Plans page"
As reported by liandri ( fcedf401-f9d3-4598-9bc0-58302221992b ) in the Report a Bug guild:

Group bug: habit doesn't go away after deleted

Steps to reproduce:
- 1 habit, unassigned
- Open, assign to self to avoid "Task not found" error
- Click delete

Expected behavior: dialog closes, habit disappears from list

Actual behavior: dialog closes, habit remains, still shows unassigned, no visible err

[2017-11-16 12:41] Alys commented on #9425
There's a comment that might be related to this in another bug report: https://github.com/HabitRPG/habitica/issues/9515. liandri was reporting a bug with deleting Group Plan tasks and as part of that they said:

"... Open [a Group Plan task], assign to self to avoid "Task not found" error ..."

Based on that, it sounds like you might get the "Task not found" error whenever you try to modify a task

[2017-11-16 12:41] Alys commented on #9515
Labels updated.

I've copied the comment about the "task not found" error to https://github.com/HabitRPG/habitica/issues/9425

[2017-11-16 12:59] Alys commented on #9489
Yes, this is an API route, not a website feature.

It's not related to sharing to social media (at least not directly; you could use the API route to share your avatar image manually).

All this route is meant to do is give you your avatar image as a PNG file. The route can be used directly within third-party tools to display the user's avatar so if the route were changed to produce a modal by def

[2017-11-16 13:30] Tressley commented on #9513
Just noting that this should not go past two decimal places.

[2017-11-16 13:31] Alys commented on #9496
labels updated

[2017-11-16 13:39] LunarGem commented on #9506
Shouldn't the mentions be directly attached to the @ symbol like the dropdown that allows you to select? The H should only be mentioned when "@The H" appears in a post.

[2017-11-16 16:21] librarianmage commented on #9511
Offending code:

https://github.com/HabitRPG/habitica/blob/03a09b75465e644ceb81401d1a46127f118b5bce/website/client/components/groups/publicGuildItem.vue#L6-L11

[2017-11-16 16:23] librarianmage commented on #9512
Offending code:

https://github.com/HabitRPG/habitica/blob/03a09b75465e644ceb81401d1a46127f118b5bce/website/client/components/groups/publicGuildItem.vue#L6-L11

[2017-11-16 16:27] librarianmage commented on #9506
Oops, looks like I accidentally broke it in #9411. I'll setup a fix ASAP

[2017-11-16 19:00] paglias commented on #9506
@MathWhiz I don't think your PR caused this issue since your PR has not been deployed yet. I'm discussing witth the team whether we only want to allow mentions with the `@` char or if we also want to highlight usernames in the wild, but in that case we might want to require a white space between the username and the next word

[2017-11-16 19:34] librarianmage commented on #9506
Sorry, just fixing it as @lemoness specified
On Thu, Nov 16, 2017 at 1:00 PM Matteo Pagliazzi <notifications@github.com>
wrote:

[2017-11-16 20:12] #9506 closed, assigned to nobody

[2017-11-16 20:14] beffymaroo opened #9517 "Completed To-Dos cannot be cleared"
There is not currently a way to clear completed To-Dos. Folks would probably like to have that option again. :)

Here is text from the wiki detailing the way this feature worked previously:

"At the bottom of the "Done" tab is a button marked "Delete Completed" that will permanently delete all of your completed To-Dos (including those not visible in the Done tab but not including those that are pa

[2017-11-16 20:34] TheHollidayInn commented on #9425
Yea, I did fix some issues with claiming, so that could be what you are referencing.

[2017-11-16 20:59] Alys commented on #9517
Labels updated. "on hold - needs design" @Tressley

In addition to not deleting To-Dos that are part of a challenge, it should also not delete To-Dos that are from a Group Plan. Once that goes live, we'll need to update the wiki's text - we'd be grateful if the contributor who fixes this puts a brief reminder of that in their PR so we don't forget! :)

[2017-11-16 21:04] Alys commented on #8813
Just to ensure we don't forget about this, the PR that fixes this issue should delete the `guildsAllowingBannedWords` variable and any code that uses it. It was added as a short-term fix in https://github.com/HabitRPG/habitica/pull/9253 which has just now been merged into `develop`. FYI @abatula

[2017-11-16 21:06] TheHollidayInn commented on #9515
This is a duplicate: https://github.com/HabitRPG/habitica/issues/9426

[2017-11-16 21:06] #9515 closed, assigned to nobody

[2017-11-16 21:17] TheHollidayInn commented on #9430
I just wasn't aware of Vue Draggable. Seems fine to me, but we need to ensure the events are triggered and handled correctly. Also there are cases (or maybe just a case) where we don't allow sorting because the tasks are presorted. For example, the todos being sorted by date should not allow for dragging.

[2017-11-16 22:03] pcvonz commented on #9430
The directive works well but I don't think there is a way to provide arguments to a custom directive. I'll start replacing the sortablejs directive with the Vue Draggable component. 👍

[2017-11-16 22:15] Alys commented on #9514
There's been more reports about this (below). It seems to be recent Firefox releases, not just 57. I'll be updating the title as soon as I've posted this.

---

Aerilita ( 3b724a41-48d3-4048-ae27-70b258cf5a72 )

Coming to add to the language changing bug (doesn't switch, no amount of refreshes help), only my Firefox isn't new, it's Firefox 52.5.0 (32-bit) esr (on Windows XP). Given how in my saved

[2017-11-16 23:41] lemoness opened #9520 "Change Badge Tooltips"
We need a few text changes to the following achievements!

Costume Contestant
Description should read "Participated in X Habitoween Costume Contests. See some of the awesome entries at blog.habitrpg.com! [Should not be a link]

Contributor Badge
Has contributed to Habitica, whether via code, art, music, writing, or other methods. To learn more, join the Aspiring Legends Guild!

[2017-11-17 00:29] gilmoreg commented on #9371
I'm looking at this, the public guilds call is made when the ChallengeModal mounts (so you can attach a challenge to a Public Challenges if you have the gems). Unless there's a way to stop it from mounting until it is actually displayed that call will have to stay there.

The duplicate call to /api/v3/groups/party is due to the ChallengeModal dispatching the guilds:getGroup action in addition to G

[2017-11-17 00:37] lemoness commented on #9423
The design is now finished for this issue, and it's ready to claim!

[2017-11-17 00:37] lemoness commented on #9423
I've updated the labels on this ticket.

[2017-11-17 00:46] lemoness opened #9521 "No Filter for Equipment in Market"
Currently, we are missing a Filter for Equipment in the Market, which means that you can filter any set of items except Equipment. "Equipment" should be the top check box on the side bar.

[2017-11-17 00:52] lemoness opened #9522 "Boss Tooltip should show HP"
The tooltip when you hover over a Boss quest should show the Boss' total HP both on the Quest page and in the Rewards column. See the design below for an example of what it should look like.
<img width="341" alt="screen shot 2017-11-16 at 4 49 34 pm" src="https://user-images.githubusercontent.com/3494081/32923811-709b1e2e-caee-11e7-80ca-ac13b20b59a9.png">

[2017-11-17 01:57] lemoness opened #9523 "Guild Backdrops should not tile"
<img width="344" alt="screen shot 2017-11-16 at 5 53 55 pm" src="https://user-images.githubusercontent.com/3494081/32925622-ada6c274-caf7-11e7-874f-a0fa263fd4b6.png">
None of the Guild backdrops (such as the current Flowering Meadow default) are meant to tile. It should be a single unchanging image width. We should set a max width for that sidebar, but we shouldn't make it static.

[2017-11-17 02:08] lemoness commented on #9292
Slight addendum to this: the way that we'd prefer to handle this for the short term is to simply make it so that leaving the party is possible during a quest, albeit with a warning when you click the "Leave" button that says "Warning! Leaving the Party now will remove you from your quest and you will not receive any quest rewards. If you are the Quest owner, the Quest will be cancelled."

I'm maki

[2017-11-17 03:54] mandyzhou commented on #9482
I don't know if a fall back page is what is needed, because the benefit of a modal is that it doesn't interrupt your workflow, and exiting out of it should get you back to exactly where you were previously.

[2017-11-17 04:55] mandyzhou commented on #9490
I really like the way the apps (or maybe just the Android app?) combines notifications for experience, gold, and mana. Those are easier for me to parse a little more quickly and are a little less overwhelming. Would it be difficult to implement those for the website as well? Then those combined notifications could appear at the same speed as the ones for slightly more complex things like feeding p

[2017-11-17 06:04] Alys commented on #9461
@AlyxMoon It's all yours, thank you! Comment here if you have questions.

[2017-11-17 09:31] #8452 closed, assigned to nobody

[2017-11-17 09:31] #8739 closed, assigned to nobody

[2017-11-17 09:31] #9454 closed, assigned to nobody

[2017-11-17 10:14] kartikadur commented on #9359
@lemoness
Is `loginIncentives` or `achivements.habitica` from `user.data` responsible for tracking user checkins? or am I completely off in that I will I have to manually calculate this value?

[2017-11-17 11:05] paglias commented on #9506
@MathWhiz oh it wasn't a critique, I was just saying that it was not caused by your PR :)

[2017-11-17 11:07] Alys commented on #9292
It would be essential that leaving the party removed the player from the quest's object and removed the quest data from the player's account. The code that does those two things should include its own check that both had been done successfully, and if not, it should repeat the failed database updates until they were successful. In the past we've had some unpleasant bugs resulting from quest data r

[2017-11-17 11:10] Alys commented on #9292
That's not to say that I disagree with @lemoness's comment. From the user's point of view, I think it would be fine if the only change was that they got the warning message. However the contributor who implements that warning message should also implement the code to remove the quest data.

I suggest that the final sentence in the warning could be "If you are the Quest owner, the Quest will be abo

[2017-11-17 11:20] Alys commented on #9359
@kartikadur  `loginIncentives` is the number of check-ins.

[2017-11-17 11:21] paglias commented on #9371
we can pass an option to ChallengeModal modal to prevent it from doing that request?

I think the party is already saved into the store since the party member are always in the header. There aren't many tests indeed but if you want to give it a shot I can help you if you have any question

[2017-11-17 11:21] phillipthelen opened #9526 "Uncaught TypeError when opening news in android app"
When opening the static news page in the android app, we get an error which prevents the news from then showing up:

[code]

[2017-11-17 11:30] paglias commented on #9526
I thought the error was caused by the user not being logged in but I just tried to logout and open the new stuff static page and it renders correctly

[2017-11-17 11:38] paglias commented on #9456
Is this fixed now?

[2017-11-17 11:40] TheHollidayInn commented on #9510
I think this is fixed, but if not, post further reports here, please.

[2017-11-17 11:46] TheHollidayInn commented on #9390
Do you mean filtering based on categories? Or are you referring to tasks? Category filtering is working on live for me.

[2017-11-17 12:00] Alys opened #9527 "Gold balance does not change when using Enchanted Armoire"
As reported in the Report a Bug guild by froggydarren ( 150a3ee2-cc0e-45ef-9da1-5ca2fb341316 ) and confirmed by me:

"I was buying Enchanted Armoires today, and noticed that when I do so from the rewards panel in the tasks page, the gold amount doesn't refresh as the gold is spent - it was only when I refreshed that the correct amount displayed. It's not a major bug, but it's mildly inconvenient t

[2017-11-17 12:06] TheHollidayInn commented on #9286
Yea, the issue is we first wanted to only included participating challenges. To fix this, you'll probably need to:
1. Remove this: https://github.com/HabitRPG/habitica/blob/develop/website/client/components/challenges/myChallenges.vue#L115
2. Replace this: https://github.com/HabitRPG/habitica/blob/develop/website/client/components/challenges/myChallenges.vue#L130 with an "Owned" filter because our

[2017-11-17 12:27] kartikadur commented on #9359
Thank you.

[2017-11-17 12:31] TheHollidayInn commented on #8116
@kawunngg are you seeing any error messages? And can you post here next time it happens with the challenge id? or URL?

[2017-11-17 12:33] TheHollidayInn commented on #7764
I can't recreate this on develop.

[2017-11-17 12:45] #9394 closed, assigned to nobody

[2017-11-17 13:01] #9526 closed, assigned to nobody

[2017-11-17 13:19] TheHollidayInn commented on #8189
Nope! Would you like to fix it?

[2017-11-17 13:49] majestic-owl448 commented on #8189
At the moment I'm in vacation, and I will be for a couple of weeks, if no
one will have approached this issue I could try when I will return

Il venerdì 17 novembre 2017, Keith Holliday <notifications@github.com> ha
scritto:

[2017-11-17 14:24] TheHollidayInn commented on #8540
I don't think this is an issue anymore. Tasks are added one at a time now.

[2017-11-17 15:05] TheHollidayInn commented on #8472
I believe this is fixed here: https://github.com/HabitRPG/habitica/pull/9412

[2017-11-17 15:16] aeshildr commented on #1616
Please reopen. I started playing today and have this same issue.
Refreshing after each operation doesn't work
Moving the daily to a new position doesn't work

[2017-11-17 15:19] TheHollidayInn commented on #8144
This is fixed.

[2017-11-17 15:19] #8144 closed, assigned to nobody

[2017-11-17 15:34] librarianmage commented on #9484
It also allows multiples to be purchased, but only sends one before exiting.

[2017-11-17 15:42] librarianmage commented on #8472
Yes, it was. Thanks for noticing!

[2017-11-17 18:44] TheHollidayInn commented on #7721
@cTheDragons How does the Challenge Data Tool track this info?

[2017-11-17 18:45] lemoness commented on #9449
fixed in c8ca67a

[2017-11-17 19:41] klezt commented on #9514
@Alys The error is in client/components/settings/site.vue
`
async changeLanguage (e) {
      const newLang = e.target.value;
      this.user.preferences.language = newLang;
      await this.set('language');
      window.location.href = '/';
}
`
at "await this.set('language');", that seems to not be executed sometimes. This issue is random, but seems to be solved when this line is replaced by "some

[2017-11-17 19:47] rkojima commented on #9217
So it seems like the bug happens when you open the notification, click on one of the other tabs (profile or achievements), exit out without allocating any points to your stats, navigating to a different page without refreshing (tasks, inventory, shops, etc.,), and then clicking the notification again.

[2017-11-17 21:18] gilmoreg commented on #9371
Here's the code I think would be changed:
[https://github.com/HabitRPG/habitica/blob/develop/website/client/store/actions/guilds.js](https://github.com/HabitRPG/habitica/blob/develop/website/client/store/actions/guilds.js
)
[code]
There are already comments hinting this might be a good idea. The simplest thing would be to check if something is already stored, if not, make the API call, store and r

[2017-11-17 21:38] lemoness commented on #9484
Confirming that you should NOT be able to buy more than one card at a time.

[2017-11-17 21:51] lemoness commented on #9292
Yes, I didn't mean to suggest that there shouldn't be code changes to remove you completely from the quest! That is definitely essential. Thank you for the addendum.

[2017-11-17 21:54] lemoness commented on #9390
This appears to have been fixed in a recent deploy!

[2017-11-17 21:54] #9390 closed, assigned to nobody

[2017-11-17 23:13] #9149 closed, assigned to TheHollidayInn

[2017-11-17 23:13] #9284 closed, assigned to TheHollidayInn

[2017-11-17 23:13] #9389 closed, assigned to TheHollidayInn

[2017-11-17 23:13] #9391 closed, assigned to TheHollidayInn

[2017-11-17 23:13] #9505 closed, assigned to TheHollidayInn

[2017-11-17 23:41] Alys opened #9530 "newly sent messages can't be deleted from "Messages" inbox"
In the private messages inbox,  if you send a message and then immediately delete your copy of the message, the message is not actually deleted. It disappears from the right-hand side of the screen, but is still visible in the left-hand side, and then if you reload, you see that the message reappears on the right-hand side off the screen.

By examining my test account in Habitica's database, I con

[2017-11-17 23:44] rkojima commented on #9217
It also seems like when you click on the "member-details" class first (i.e. the health, mana, and experience on the left hand side, as well as the avatar picture), exit out of that (while staying on any of the tabs on the modal page), then click on the unallocated points notification, then it won't go to the stats tab in the modal page, but rather the last tab you were on before you exited out of

[2017-11-18 00:13] Alys commented on #8991
Another from arimich ( 7937d431-5d37-4714-bb8b-e2f588741527 )  at November 17, 2017 8:44:20 pm UTC and 8:44:17 pm UTC
and there's been a couple of other reports since I made my last post here.

[2017-11-18 00:33] Alys opened #9531 "hatching a pet gives a second, empty hatching dialog"
From AbelianGrape ( e723ec48-2de6-4560-8f89-ed505a3efdf3 ) in the Report a Bug guild:

"I hatched some pets today and after clicking the Onward! response to [this dialogue](https://pasteboard.co/GTYF7eC.png), a nearly empty hatching dialogue containing only the response buttons kept popping up again at the top of the page. It looked like [this](https://pasteboard.co/GTYFsxk.png). I tried clicking

[2017-11-18 00:37] joedragons commented on #9490
Funny, I would have said this was improved yesterday or the day before.  Seems about the original speed now.  I also figured this changed because of people saying it went by too slow (I initially had feedback that way).  I'm surprised the solution isn't a configurable option, considering speed is probably based on taste.

[2017-11-18 00:38] joedragons commented on #9483
I suspect this is a dup of this: https://github.com/HabitRPG/habitica/issues/9456

[2017-11-18 00:39] joedragons commented on #9456
@paglias FYI, I never had a reproducable scenario but I'll be on the lookout.

[2017-11-18 00:51] Alys opened #9532 "pet hatching modal has too much whitespace"
From Praxis Arete ( 0ce6d43b-efa2-45a3-acaa-59daad7d658d ) in the Report a Bug guild:

"... after yesterday's changes: When you click the "paw print" icon in Stable to hatch a new pet, the confirmation popup for "hatch/cancel" is now off-size - too large, as though a big white margin has been added to the right hand side, with the normal content of the pop-up aligned at the left. (I think this is

[2017-11-18 00:53] Alys opened #9533 "food drawer sometimes goes blank after hatching"
From Praxis Arete ( 0ce6d43b-efa2-45a3-acaa-59daad7d658d ) in the Report a Bug guild:

"... occasionally ... the foods menu at the bottom of the Stable page sometimes goes blank after hatching, with all the windows black as though you have no foods left. Re-synching and refreshing did not fix this; I had to navigate to a different Habitica page and then return to the Stable page for it to display

[2017-11-18 01:05] lemoness commented on #9533
Question! What happens if they click the sideways arrow within the food
drawer when this happens? I think this might actually be confusion as a
result of the fact that the food drawer doesn't loop correctly (as
described here: https://github.com/HabitRPG/habitica/issues/9366) because
sometimes you end up with a blank "page".

On Fri, Nov 17, 2017 at 4:53 PM, Alys <notifications@github.com> wrote:

[2017-11-18 01:19] Alys opened #9534 "invisible member names in party member modal when giving a card"
When you buy a card (birthday card, congratulations card, etc) to give it to a party member, the modal that shows the party members does not show their names:

![image](https://user-images.githubusercontent.com/1495809/32975242-1707bc78-cc51-11e7-8a71-e420bb680605.png)

[2017-11-18 01:52] lemoness commented on #9534
Is it perhaps white font?

On Fri, Nov 17, 2017 at 5:19 PM, Alys <notifications@github.com> wrote:

[2017-11-18 03:28] Alys opened #9536 "hatching modal appears when feeding a pet"
The report below is from thebat137 ( dea8a9e8-c084-438a-9a14-7fe96a73fd0a ) in the Report a Bug guild. It might be just another case of modals reappearing inappropriately but I'm copying it here in case it's a separate problem. For now I'm labelling this as minor priority and needs investigation but we can up it's priority if we see more reports.

"I was feeding one pet when somehow the popup to h

[2017-11-18 04:05] Alys opened #9537 "scroll bar mostly hidden in quest details participants list"
From Aerilita ( 3b724a41-48d3-4048-ae27-70b258cf5a72 ) in the Report a Bug guild:

"On the website in quest details the list of participants is positioned in such a way that its scrollbar is mostly hidden by the quest description in the middle. (I could scroll it with the mouse wheel though.)"
[to illustrate](https://pasteboard.co/GTWWdtC.gif)

I've confirmed that. In fact it's so well hidden on m

[2017-11-18 04:16] Alys opened #9538 "User Icon menu can't be reached on smaller screens / with some languages / when zoomed in"
It's not possible to reach the User Icon menu if the browser window isn't wide enough. This depends on your screen size, resolution, zoom level (i.e., users will poor eyesight can't use the menu if they've zoomed in to see the text), and language (i.e., users with a language that has long words can't use the menu).

Reports from the Bug guild:

---

Aerilita ( 3b724a41-48d3-4048-ae27-70b258cf5a72

[2017-11-18 04:19] Alys commented on #9538
Labels updated. I've made this priority important because it's an accessibility issue and vital functions are unusable when you can't get to the User Icon.

@Tressley if you want to do an improved design, post here and I'll change it from help wanted to needs design. Otherwise a contributor could try to improve how the menu shrinks / wraps.

[2017-11-18 05:09] Alys commented on #9484
Multiple purchases are being removed in https://github.com/HabitRPG/habitica/issues/9317 which already has a PR in progress, so whoever works on this issue shouldn't try to remove the multi-purchase code.

[2017-11-18 14:43] Alys opened #9541 "ticking a task in Record Yesterday's Activity screen can mark it incomplete"
Under some circumstances (not yet known as far as I'm aware) it's possible for you to mark your Dailies complete (really complete with no sync errors) but then the next day you see the RYA screen with those Dailies appearing in it as if they weren't completed.

If you then mark the Dailies complete in the RYA screen, it actually UNcompletes them. I.e. the checkbox in RYA acts as a toggle for the a

[2017-11-18 15:21] LunarGem commented on #9538
I have some CSS knowhow, I could look into this (as a welcome break from my implementation related issues). I can't seem to get my local install to run properly, though.

[2017-11-18 16:11] Davyd23 commented on #9520
Hello,

I will work on this if it is still available.

Edit: Made a pull request with the modifications.

[2017-11-18 20:55] pcvonz commented on #9537
I can help with this!

[2017-11-18 22:23] paglias commented on #9456
I'm closing this but if you notice it again leave a comment here!

[2017-11-18 22:23] #9456 closed, assigned to nobody

[2017-11-18 22:23] paglias commented on #9483
I'm closing this but if you notice it again leave a comment here!

[2017-11-18 22:23] #9483 closed, assigned to nobody

[2017-11-18 22:24] ghost commented on #9538
I really hope that Habitica institutes better control over revisions because this issue WAS fixed (at least in English) after the initial redesign in one of the early fixes ... and then has become progressively more broken as more fixes to the site that are instituted. That should not happen. The mobile site should have no problem fitting a 12.9" tablet and yet it does not fit even in English with

[2017-11-18 22:26] paglias commented on #9371
Guilds and parties are both groups but with some different fields, also one user can belong to one party but many guilds.

Regarding storing groups in the store: we only want to store the user party, the guilds should be loaded on demand as it happens now. The data should never be considered stale but clicking on Fetch Recent Messages in the chat page should fetch the entire group again

[2017-11-18 22:29] joedragons commented on #9538
Not 100% sure this is the same issue but I can brute force the icon not to show just by shrinking my browser to a certain width.  So it's easy to repro, no need to change languages or zoom in or anything.  Now an optimal fix obviously would take all that into account=)

![habiticarevampfeedback17](https://user-images.githubusercontent.com/9559205/32985312-f2fcacbe-cc85-11e7-9c7d-fa71b432621e.png)

[2017-11-18 23:54] gilmoreg commented on #9371
Added PR #9546 to eliminate the second call to /api/v3/groups/party. If we don't want to store guilds I can't think of a way to eliminate that call, unless Vue has some method other than mounted() that only fires when the modal actually appears.

[2017-11-19 00:31] aalsehly86 commented on #9536
@Alys this could be related to issue #9393

Notice this behavior also happens with other modals as well.

![gems](https://user-images.githubusercontent.com/30061021/32986067-c2127050-cc96-11e7-94af-9b0f411a84ca.gif)

![hatch](https://user-images.githubusercontent.com/30061021/32986068-c225a6e8-cc96-11e7-80de-45484c8bbd54.gif)

[2017-11-19 00:36] aalsehly86 commented on #9531
@Alys I'm thinking this is related to issues #9393 and #9536!

[2017-11-19 01:21] aalsehly86 commented on #9534
You're right @lemoness

[2017-11-19 03:00] cassidypignatello commented on #9520
Hi @lemoness, I'm a little confused why my build failed in Travis. I also had three tests fail locally, but I checked out the develop branch and they also failed there as well. Here's what I'm seeing in Terminal:
[code]
I'll keep trying to figure this one out, but any help you could provide would be greatly appreciated!

[2017-11-19 22:44] TheHollidayInn opened #9549 "Cancel button has broken text when user has a group auto plan"
When viewing the subscription page under settings while having a group auto plan, the i18n string is not found.

[2017-11-20 04:49] TheHollidayInn opened #9550 "Stable Image Loading Errors"
### Description
[//]: # (Describe bug in detail here. Include screenshots if helpful.)

thebat137 ( dea8a9e8-c084-438a-9a14-7fe96a73fd0a )
In the stable, I'm getting weird little black bars showing up transiently. They seem to appear superimposed over or hovering below pet icons, and scrolling, hovering, and clicking around on the page will cause them to jump to a new location or disappear, and ne

[2017-11-20 04:51] TheHollidayInn opened #9552 "Buying Cards Doesn't Give Notifications"
### Description
[//]: # (Describe bug in detail here. Include screenshots if helpful.)

The Druid ( 68ce1251-d4a8-4ed6-ada4-f9ebea261d1e )
@TheHollidayInn I did hit the "select" button, but it still wasn't working. It did eventually register, but it was several minutes later. I've tried it on a different computer to see if it was an issue on my end, but it's still happening. It's that second grey