[2016-06-13 08:27] Alys commented on #7557
@rongqingpin I believe I've removed you from your previous party's quest as part of my clean up for https://github.com/HabitRPG/habitrpg/issues/7653

I'm closing this now but if you experience more unexpected health loss, comment here again and we'll reopen this.

[2016-06-13 08:27] #7557 closed, assigned to crookedneighbor

[2016-06-13 09:01] Melissarie commented on #7569
I'm having this issue too, no clue how to remove them now that the challenge is done

[2016-06-13 09:05] Melissarie commented on #7454
We are also having this issue, but more specifically none of our party members can see an active member with the username Lunarqueen. At this point not even she can see herself in the party but she can still accept quests and participate, her ID# is eceef4dc-8009-43ad-b5e9-d7149909acbb

[2016-06-13 09:37] Alys opened #7658 "validation of user / group / challenge / task documents"
We sometimes have trouble with players' accounts because they contain objects that are not supposed to be there, or don't contain objects that should be there. It's likely that similar problems could occur with groups, challenges, and tasks.

It would be useful to have a script that could be run over a user / group / challenge / task document (a separate script for each kind) to check that all its

[2016-06-13 09:50] Alys commented on #7569
@Melissarie if you just want to remove the tags, it doesn't matter that their appearance hasn't changed. You can delete challenge tags at any time, just like deleting normal tags, even while you're an active participant of the challenge if you don't want to use the tag (deleting the tag doesn't affect your participation in the quest).

[2016-06-13 10:05] Alys commented on #7454
@Melissarie Your party seems to have the correct member count. I can find 80 players who are in that party and the member count is set to 80. Not being able to see some members of the party and Lunarqueen not being able to see herself in the member list isn't related to the member count. I'm guessing you can see only 30 players - that's a deliberate limitation (at the moment at least) to reduce th

[2016-06-13 11:47] paglias commented on #7652
@Alys consider that with local storage being removed this bug should not happen anymore. What happened a few days ago was that the server had two different JS files with different names. I think a link to the login page after X seconds should be enough

[2016-06-13 12:17] Alys commented on #7653
Based on a new report of this from a user affected by it, it seems that when a player is in an active quest and then leaves the quest and leaves the party, their participation in the quest might be changed from `true` to `false` (the correct behaviour should be that they're deleted from the party's `quest.members` object). That's just a guess at what's happening though; I haven't had time to look

[2016-06-13 12:34] Alys commented on #7652
I'm pretty sure this is still happening for people. For example, from the Report a Bug guild three hours ago:

Indiana Kleks (dc37f933-94fe-438c-bcaa-277e6ac577f2):
Hi. Can't log on to Habitica. I use FB login and:
on Safari I keep seeing Habitica logo and tips and it does not move beyond that
I managed to log on on Chrome, but for the past 2 days even on that browser I was getting the same effect

[2016-06-13 12:37] paglias commented on #7652
What I'm saying is that going to the front page and logging back in seems
enough to fix it as described in that bug report. So adding a link to the
front page that says "try to log in again" should be enough

2016-06-13 14:34 GMT+02:00 Alys notifications@github.com:

##

Matteo Pagliazzi - paglias.net

[2016-06-13 12:41] paglias commented on #7653
The group.leave function seems to be missing code that remove the user from the quest participants

This should help

[code]

[2016-06-13 12:43] paglias commented on #7653
And also leaving a quest sets the user in `group.quest` to `false` as @Alys thought which still causes damage to be applied because the `group._processBossQuest` method doesn't distinguish between members with `true` or `false` status

[2016-06-13 14:49] SabreCat commented on #4840
We have had recent reports of that behavior in production.

Adding a field to the database is OK if it's the best solution for the problem!

As part of this fix, we'll want to get tests in place to ensure we're doing this correctly across all payment methods. I was investigating this some myself, and I have a suspicion we may be relying on `lastBillingDate` even when it doesn't exist.

[2016-06-14 01:56] Hus274 commented on #4840
I'm having a hard time writing tests for the subscribeCancel method in amazon.js. The only existing test around it is an integration test and I'm not seeing a way to mock out the amzLib.closeBillingAgreement method so that the call doesn't return a 500 response.

I'm also not sure quite how to make a unit test around a GET method. It seems like this should be a unit test, all I want to do is verif

[2016-06-14 01:59] Hus274 commented on #4840
The other thing I can think of is to not send a next bill for amazon as it really doesn't exist and we're just making something up for it. Then the subscription cancellation can handle null. I think that this actually makes more sense as this could easily be expanded for new payment methods that don't support subscription based payments and simply record a one time payment. This would allow all th

[2016-06-14 03:20] heyakyra commented on #1101
Ah, which dependencies?

[2016-06-14 04:12] Inouju opened #7661 "Dockerfile npm 3 install issue"
### Description

Docker has trouble creating a new image at
`RUN npm install -g gulp grunt-cli bower npm@3`
giving
`code MODULE_NOT_FOUND`
#### Console Errors

[Gist of `docker-compose up -d` output](https://gist.github.com/Inouju/ffdc5abe2e948dc787ec9e7ff5f3d5ac)
#### Possible fix

Install npm@3 first, then other dependencies.

_Dockerfile:_
# Install global packages
RUN npm install -g npm@3
RUN

[2016-06-14 09:09] ghost commented on #5631
- [x] minor inconsistency in `tip7`:

[2016-06-14 09:28] Alys commented on #5631
@GitHubSphinx I'll fix Pagodas tonight while I'm making another tips change, and do includeComepletedTodos at the same time.

Thanks to you and Racobot and CAKS42!

EDIT (not worth more email spam): Ah, Pagodas was already fixed in a previous tips change to remove the confusing "tile" terminology.

https://github.com/HabitRPG/habitrpg/commit/337cb22a9deb36777ac955a37724fab3d31c6312
https://github.

[2016-06-14 14:22] kamni opened #7662 "Orb of Rebirth causes animal ears in 'Customize Avatar' interface to need to be repurchased"
General Info
- UUID: fedc44cb-088a-4bc8-8f4f-3e6a1882f042
- Browser: Safari
- OS: OS X 10.11.4
### Description

After using the Orb of Rebirth, the animal ears in the 'Customize Avatar' interface are now locked, even though they previously had been purchased:

<img width="445" alt="screen shot 2016-06-14 at 10 09 36 am" src="https://cloud.githubusercontent.com/assets/101778/16046136/56d81ae2-3219-

[2016-06-14 14:44] Alys commented on #7662
Ah, it's actually correct behaviour at the moment for all gold-purchasable (non-zero cost) equipment to be removed by the Orb of Rebirth, although we are considering changing that - see https://github.com/HabitRPG/habitrpg/issues/5750 for details.

However you're right that the option to buy them again with gems shouldn't be there because that's misleading. Possibly though the easiest way to resol

[2016-06-14 18:24] kamni commented on #7662
It seems a bit odd to include them as equipment, because they can be worn with other head gear and they really kind of go with the animal faces (which don't get reset by the Orb of Rebirth). Also, they can be purchased with gold now? I've only ever seen the gem option prior to rebirth -- is this something new?

But anyhow...behavior is unexpected either way. :)

[2016-06-14 18:30] crookedneighbor commented on #7662
@kamni they're purchased initially on the avatar customization page, but they are technically gear (classified as head accessory).

They can only be purchased with gold _after_ you have already purchased them once through the avatar customization screen.

I agree that it's confusing.

[2016-06-14 23:25] Hus274 commented on #7634
From my experience, I was only using the web client and the first time I logged in on a new computer, I wasn't sure where I was supposed to sign in as an existing user. It would definitely be nice to have a login button on the main page that makes it clear where to log in for existing users.

I like the play button text because it's short and sweet so I feel like it would make sense to change the

[2016-06-15 00:36] Hus274 commented on #7658
After doing a little research and looking into the code, I've found that it looks like this is something that [Mongoose at least already partially provides](http://mongoosejs.com/docs/validation.html). I'm looking into using this more. Not quite sure how expansive it is as the majority of the mongoose documentation is for version 4.x and from what I can tell, habitica is using 2.15. I'll dig into

[2016-06-15 00:44] Hus274 commented on #7658
Here's a sample output from the built in validation:

#### Challenge Object

[code]

#### Validation output

[code]

This is easily given by calling verifySync() on the schema object.

[2016-06-15 00:48] Hus274 commented on #7658
Validated that this works for nested objects in the schema.

[2016-06-15 01:00] Hus274 commented on #7658
@Alys This looks like what you were asking for, what do you think?

[2016-06-15 02:45] crookedneighbor commented on #7658
What makes you think we use Mongoose 2? We're definitely using v4

[2016-06-15 03:03] Hus274 commented on #7658
oh, my mistake. I was trying to find the version number to look for the documentation and when I did npm -v mongoose it gave me 2.15.0. I'm not quite sure what's going on there then.

[2016-06-15 03:04] Hus274 commented on #7658
Ahh I think that's giving me the version of npm overall, not the module. That's my bad.

[2016-06-15 03:19] crookedneighbor commented on #7658
The real issue here is that calling any of the validation methods on every object one at a time will be extremely slow :/

So the script would need to be written in such a way that it batches the calls. We'd also probably want to run this on a prod backup, rather than prod itself and log the ids of the documents that don't match the schema.

[2016-06-15 04:24] Alys commented on #7658
I'd also like to be able to run it manually on a specific user (or group, challenge, task). For example, a user reports that they can't use the mobile app, so we run the validation on their account to see if there's anything corrupted.

@Hus274 Nice work on finding the mongoose validation method - that's looking much easier than I thought it would be!

[2016-06-15 04:33] IstraLouise commented on #7634
I am having trouble with the buttons on the homepage.  I recently switched computers and am back to using Windows 8.1 with Firefox 47.0 and when I click "Play for Free" or anything else.. it goes through some web addresses like its loading a page, but it doesn't go anywhere.  Three other people on the Facebook page have stated that they've had the same problem for at least 24 hours.  This is a big

[2016-06-15 06:02] Alys commented on #7634
@IstraLouise Please try going to https://habitica.com/static/clear-browser-data and clicking the red button there, and then (BEFORE logging in) clear all "habitica.com" cookies from your browser. After that, try to log in. If you still can't log in, please open a new issue and we'll help you further there. This issue is specifically about renaming the buttons on the home page. :)

[2016-06-15 06:16] lemoness commented on #7652
Getting a bunch of complaints about this on social media, so adding the extra message asking them to try logging in again is definitely high priority.

[2016-06-15 08:05] paglias commented on #7658
Mongoose also strips any field that is not defined in the schema before saving so we should be mostly fine. The problem we had a few days ago is probably due to some old v2 code that'll be retired anyway the next month. After it we can run a one time migration to fix anything broken but apart from that all the necessary fields should already be validated and sanitized

[2016-06-15 12:19] crookedneighbor commented on #7442
We could accomplish this by adding a dateJoined property to the user object's party property.

[2016-06-15 13:43] MercuryChaos commented on #6296
@paglias I see that the site's been updated, and I'm still having a similar problem: now the site gets stuck on a loading page instead of showing the broken version of the main tasks page. Clearing the cache seems to fix it, but when it gets stuck I don't see any errors (or anything at all) in the console. This happens both on my Widows PC and my Mac(both in Chrome.)

[2016-06-15 14:05] paglias commented on #6296
@MercuryChaos :( If you haven't already done can you try going to https://habitica.com/static/clear-browser-data and follow the instructions there? Hopefully it'll works after that. If it doesn't please comment again and we'll try another way

[2016-06-15 15:55] mistkafka opened #7666 "PhantomJS! PhantomJS! PhantomJS no found again."
General Info
- UUID:
- Browser:
- OS: CentOS7 (on VM)
### Description

I have read [Setting up Habitica Locally](http://habitica.wikia.com/wiki/Setting_up_Habitica_Locally). And I read [#7090](https://github.com/HabitRPG/habitrpg/issues/7090#issuecomment-214714317). Yes, we need swap file, and I create a 8GB swap file. But, it still error when I run npm install.
#### Console Errors

[code]

[2016-06-15 17:31] SabreCat commented on #7652
We've found what's causing this and are updating our deploy process to prevent it from happening!

[2016-06-15 18:07] SabreCat opened #7667 "Update bower dependencies"
### Description

Many of our Bower dependencies are pinned to very old versions. Version pinning is good for keeping our production instances consistent, but it does mean we ought to review every so often to update them manually. We haven't done that in a while! We should try to get packages updated where they don't specifically depend on an old version.

[2016-06-15 18:14] ghost commented on #7254
Just to follow up on this bug, since v3 went live for all users, I do not have this notification when joining a guild anymore. So as far as I'm concerned, it doesn't happen in production right now.

[2016-06-15 18:17] #7254 closed, assigned to nobody

[2016-06-15 18:17] crookedneighbor commented on #7254
👍

[2016-06-15 19:09] khipkin commented on #7652
@SabreCat what was the problem??

[2016-06-15 19:51] SabreCat commented on #7652
@khipkin: It's caused by the interaction of our Web architecture and the Node dependency installation process. We run between 5 and 7 Web servers that automatically scale up and down to keep site latency at acceptable levels. When a new server is added as part of that auto-scaling, it installs the application and all its dependencies. If dependencies have new versions between the time of the last

[2016-06-15 20:41] IstraLouise opened #7669 "Opening page redirects back to opening page after login"
General Info
- UUID: I don't have my user ID because I can't properly log in from the main page through the computer
- Browser: Firefox 47.0
- OS: Windows 8.1

Description
  The first time ONLY that I click on one of the two buttons on the main page, I get a login window.  When I try to login, it starts to redirect, but redirects in such a way that I end up still on the main page that explains wha

[2016-06-15 20:51] maxygo opened #7670 "Undefined signing in facebook in Chrome/FF"
Steps to reproduce:
1. Click  login / register via facebook
2. just close opened modal window
3. get an undefined error alert

screen - https://img.in6k.com/screens/Habitica__Your_Life_the_Role_Playing_Game_2016-06-15_23-48-47.png

[2016-06-15 21:25] ghost commented on #5631
- [x] Minor inconsistency pointed out on Transifex by @lyubomirv: out of 28 *UnlockText strings, 10 strings have pet name beginning with the first capital letter while 18 others mention pet without capitalization, for comparison:

@Alys @Blade @lemoness would you consider this an issue?

[2016-06-15 23:07] Alys commented on #7670
Was the window you closed the one that asks you to log in to Facebook? I.e., the one that says "Log in to use your Facebook account with HabitRPG"?  If so, I can confirm that the bug is reproducable when I do that.

Or was it a different modal window?

We should change HabitRPG to Habitica, BTW.

[2016-06-15 23:07] Alys commented on #5631
I think it should be consistent and I think upper case is nicer. We'll wait a bit to see if there's any opinions for lower case.

[2016-06-15 23:23] maxygo commented on #7670
Yes, exactly this window.

[2016-06-16 00:12] aManNamedTed commented on #7670
Maybe there's a variable that's setting that pop-up response to undefined regardless if there's an interaction in the window?

[2016-06-16 00:21] Hus274 commented on #7549
I believe this has already been fixed. I tested on both ubuntu and on el capitan using safari and wasn't able to replicate the bug.

[2016-06-16 01:41] Alys commented on #7549
Yeah, I'm seeing different behaviour now. Clicking the "Delete Completed" button makes the blue sync line appear but the completed To-Dos are still visible, however if you reload, then the completed To-Dos disappear, so it's probably related to https://github.com/HabitRPG/habitrpg/issues/7392 . There's also no confirmation step; I thought there used to be but I could well be wrong.

The desired be

[2016-06-16 02:11] Alys commented on #4252
@paglias @crookedneighbor @SabreCat @TheHollidayInn This is still happening, sometimes for parties of less than ten members, and very often for large parties. Even limiting parties to 30 members won't prevent it. Giving the quest rewards to parties manually is easy enough, but not sustainable in the long term, and is open to accidental or deliberate abuse.

What can we do to make the process of aw

[2016-06-16 02:14] Alys commented on #7653
The code that gives out damage from the boss has been modified so that players won't be damaged if they are listed in the quest.members object as `null` or `false`. This fixes the most urgent issue but the remaining fixes listed in the top post are still needed.

[2016-06-16 02:18] Alys commented on #7669
This is probably related to https://github.com/HabitRPG/habitrpg/issues/7652 but the repeated redirections seem different.

@IstraLouise Can you please go back to https://github.com/HabitRPG/habitrpg/issues/7652 and click the red button again, and then BEFORE trying to log in, clear your browser's cookies for habitica.com. Are you able to log in after doing that?

[2016-06-16 03:01] Hus274 commented on #7392
The api call that is being made when sync is called only calls for the uncompleted todos and then overwrites the entire todos object as paglias said. I've updated the sync method to also call for completed todos. Just want to write some tests before committing.

[2016-06-16 03:08] Hus274 commented on #7392
Actually I'm not seeing any tests around the client side JS files so I'm not sure quite how I would further test this in addition to the manual validation. I'll submit the pull request for now, I can go back and add tests if needed.

[2016-06-16 03:15] crookedneighbor commented on #7392
We're putting off tests on the client side js until the client rewrite. Just do a lot of manual testing for now.

[2016-06-16 03:23] crookedneighbor commented on #7629
Closed by https://github.com/HabitRPG/habitrpg/pull/7672

[2016-06-16 03:23] #7629 closed, assigned to nobody

[2016-06-16 03:29] crookedneighbor commented on #7540
Closed with https://github.com/HabitRPG/habitrpg/pull/7671

[2016-06-16 03:57] TheHollidayInn commented on #4252
Have you had an success replicating this? Also, Atomic transaction could help with this off the top of my mind. I'll have to try to replicate and take a look at the code first though.

[2016-06-16 04:12] IstraLouise commented on #7669
That worked!  Thank you!

[2016-06-16 04:16] Alys commented on #4252
Never tried to replicate, but create a party with maybe twenty players and see if it happens. Perhaps you'd need to put your server under some other kind of load as well. I don't think we have a good grasp of exactly what causes players to be skipped.

[2016-06-16 04:23] Alys commented on #7652
The app.js filenames being different seems to cause only some of these problems.

There's a related issue at https://github.com/HabitRPG/habitrpg/issues/7669#issuecomment-226383893 which was fixed by using the clear-browser-data page and then deleting cookies before logging in (clear-browser-data alone didn't seem to be enough). Adding cookie clearing to the clear-browser-data page would make this

[2016-06-16 04:26] Alys commented on #7549
@Hus274 is currently doing a fix for #7392 (thank you!) so probably best that no one works on this issue until that one is completed because it could cause the delete button's behaviour to change.

[2016-06-16 06:10] lemoness commented on #5631
I also like upper case!

On Wednesday, June 15, 2016, Alys notifications@github.com wrote:

[2016-06-16 06:50] Alys commented on #4252
Can atomic transactions work when you have to update multiple documents? (I miss SQL databases. :cry:)

What if we did something like this:

When the quest ends, we collate the participant's IDs and the rewards they are due, and store all that in a `questRewardsPending` object in the party's `groups` document - write all that in a single update. If the update fails, retry until it succeeds. The up

[2016-06-16 08:27] paglias commented on #4252
No transactions (atomic updates of multiple docs) in Mongo :(

[2016-06-16 12:20] #7600 closed, assigned to nobody

[2016-06-16 13:02] MercuryChaos commented on #6296
@paglias It fixes the problem for the current browser session, but I have to do it again when I close and reopen.

[2016-06-16 13:27] paglias commented on #6296
@MercuryChaos are you using any setting / extension that could prevent localStorage from working?

[2016-06-16 13:46] MercuryChaos commented on #6296
@paglias ...apparently, yes. I disabled the [Habitica Chrome extension](https://chrome.google.com/webstore/detail/habitica/pidkmpibnnnhneohdgjclfdjpijggmjj?utm_source=chrome-ntp-icon), and when I restarted my browser I was able to get to the landing page and log in without any problems.

[2016-06-16 16:25] cmontello opened #7675 "Page Freeze After Submitting Post in Party/Guild"
General Info
- UUID: fa5b431d-140f-4a53-9938-3782e4389932
- Browser: Chrome
- OS: Mac OSX 10.11.5
### Description

Whenever I submit a message/post in my party or a guild on the website the page freezes and I have to reload it. I tried disabling all my extensions and it still froze. When I did it on Safari everything worked fine and nothing froze.
#### Console Errors

Not sure if this is what you'

[2016-06-16 19:03] ghost commented on #5631
- [x] Another typo found by @lyubomirv in `questFrogCompletion`:

_"You can even see the tiny tadpoles and through the clear casing!"_ - aspiring quest writers have agreed that _"and"_ is odd here.
- [x] And another inconsistency with `questAtom1Drop` and `questAtom2Drop`mentioned in https://github.com/HabitRPG/habitrpg/issues/7629#issuecomment-225453537 (hasn't been addressed yet, as far as I und

[2016-06-16 20:25] #7650 closed, assigned to nobody

[2016-06-16 22:08] evelynwightman opened #7677 "Link to join party is no good"
Received an emailed invitation to join a party, but the links redirect to the home page regardless of browser, mobile or computer. Link is:
https://habitica.com/static/front?groupInvite=a7126ac805642f066c0d1a3b5cdbf027b45efa7641553dfbb87fcad34f311878f47c0b75dfead1067bc72d471f625a3d158f47b6b722ea7533f0d8732463fcc04a11462aa129968cbc6f3af911fd0707477061177b77686e8a68ee29f6bab79b98eab163a3b86688a8f219

[2016-06-16 23:25] khipkin commented on #7677
Maybe the invite was canceled?

[2016-06-17 00:34] Alys commented on #7677
@evelynwightman When you log in on the home page (the blue "play" button), where does it direct you to after that?

If you don't see the invitation after logging in, what happens if you stay logged in and go back to your email and click the link again?

[2016-06-17 06:52] thompsnm opened #7678 "`docker-compose up -d` throws error `Cannot find module '/usr/lib/node_modules/npm/lib/build.js'`"
I'm trying to follow the [Setting up Habitica Locally](http://habitica.wikia.com/wiki/Setting_up_Habitica_Locally), but when I get to the step of running `docker-compose up -d`, dozens of the following errors appear in the console and the process exits with a non-zero code:

[code]

It appears that this is an issue with the upgrade to `npm v3` coming after other `npm install`'s. If remove `npm@3`

[2016-06-17 09:42] Alys commented on #7678
@thompsnm If that fixes the problem, please do submit a PR! Thank you!

[2016-06-17 10:11] paglias commented on #7677
That link should only be sent to email addresses that are not registered to Habitica. Are you sure you received the invite at the email address used for your account?

[2016-06-17 12:26] evelynwightman commented on #7677
The invite was fresh. I was signed in on the same browser using the same email address the invite came to.

[2016-06-17 13:48] jmoraispk opened #7680 "My mount vanished..."
Hey. I noticed and know a very specific bug and I think it is quite easy to understand it and resolve shouldn't be hard...
THE BUG IS:
When I equiped a animal to mount, it desapeared and a warning showed up saying something like: " 'notMount' missing. I am pretty sure it has to do with that 'do not display mount' on the equipment tab.

My mount was deleted...

[2016-06-17 13:58] crookedneighbor commented on #7680
@soqueroprogramar I can't reproduce this.

What's your User ID? You can find it in [Settings > API](https://habitrpg.com/#/options/settings/api). Be sure to only copy the User ID and _not_ your API Token.

[2016-06-17 14:52] Melissarie commented on #7454
@Alys Thanks for looking into this! Is there anyway for the 30 players shown to be active members? Most of the visible players are all long inactive and it makes it very hard to know who is in a quest when it will not show all the members. Ex. The last quest was only showing 7 players even though I know there were at least 10 people on the quest. I know it's mostly just due to how large the party

[2016-06-17 15:22] jmoraispk commented on #7680
@crookedneighbor My ID is fd7e9510-09cc-4bcd-ab66-11159cfde467

After a while I noticed my bear didn't vanished however it is like 2 peaces of meat were taken out of his mouth and it became small again and I got my 2 meats back...  I still think it is a bug and not an internet glich because the bear I was growing wasn't even the last animal that I fed before mounting it... additionally, it passed

[2016-06-17 22:20] #7678 closed, assigned to nobody

[2016-06-18 03:25] Gumnos opened #7683 "String 'headAccessoryCapitalized' not found"
General Info
- UUID:
- Browser: Chromium
- OS: Linux (Debian Stable)
### Description

Trying the new "Group by type" option for equipment, I get a section with the error

![habitica_head](https://cloud.githubusercontent.com/assets/1056674/16168767/32f4ae1a-34da-11e6-9fae-f5f8b95a78ff.jpg)

[2016-06-18 04:01] joedragons commented on #7683
Not surprisingly also affects Firefox browser in Windows7.  Thanks for reporting!

[2016-06-18 05:36] Alys commented on #7666
Can you please delete the node_modules directory, do `npm cache clean`,
then `npm install` again, twice if the first one gives any errors, and then
if the second one fails as well, show us the full output of both install
attempts.

On Thu, 16 Jun 2016 1:55 am 迷雾卡夫卡, notifications@github.com wrote:

[2016-06-18 10:10] paglias commented on #7623
This should be fixed once the next patch version of Mongoose gets released.

[2016-06-18 10:13] paglias commented on #6296
@MercuryChaos I've used the Chrome extension for the past two days but I've not been able to reproduce the problem. We'll keep investigating.

[2016-06-18 10:14] paglias commented on #7677
@evelynwightman can you tell us your UUID (Settings -> API)? Also can you send me in a private message on Habitica (my username is `paglias`) the email at which the invite was sent? Thanks

[2016-06-18 11:27] Gumnos commented on #7683
heh, the template had spaces requesting my browser+OS so I filled them in, but you're right, I suspect browser doesn't matter.

As a side-note, it was annoying that I had to hand-transcribe that since the header/message was unselectable for copy/paste purposes and even my browser Find functionality couldn't target it to try Cursor mode (toggled with `F7` in FireFox)

[2016-06-18 12:11] #7683 closed, assigned to nobody

[2016-06-18 12:11] crookedneighbor commented on #7683
Thanks for reporting this. There was just a typo. I've fixed it and will deploy soon.

[2016-06-18 14:28] Alys opened #7684 ""Start Quest" button does nothing when not in a party"
If you are not in a party, and you click on a quest scroll that you own, the "Start Quest" button does nothing when you click on it.

It should show you a message explaining that you need to create or join a party before you can start a quest.

[2016-06-18 16:59] #7542 closed, assigned to nobody

[2016-06-18 17:23] #7549 closed, assigned to nobody

[2016-06-18 19:01] Hus274 commented on #7618
I'm not seeing a place to add the new email text. Is this somewhere in the locale file that I'm just missing?

[2016-06-18 19:34] citrusella opened #7687 "Missing pieces in "static" url members / users profile"
General Info
- UUID: 2d6ef231-50b4-4a22-90e7-45eb97147a2c
- Browser: Firefox 47
- OS: Windows 7
### Description

Pieces of the profile produced by a "static" url (i.e. https://habitica.com/static/front/#?memberId=2d6ef231-50b4-4a22-90e7-45eb97147a2c ) are missing. The parts I count:
- Max mana (but not the current amount out of that mana; it displays as "null", i.e. 56/null)
- Totals for stats (bu

[2016-06-18 21:04] habitrpguser opened #7688 "Change still shows after canceling task edit (until next sync/reload)"
General Info
- UUID: 1aff9116-34b0-438c-9877-06038bdce161
- Browser: several (Firefox, Chrome)
- OS: Windows
### Description

When I edit a task, then click "Cancel", I see the new text I entered instead of the old one (as if I had clicked "Save" instead). After clicking "Sync" or reloading the page in my browser, however, the correct unaltered text is shown as it should be.

I already reported th

[2016-06-18 23:05] Alys opened #7689 "private messages (PMs) are incorrectly marked as read when leaving the inbox"
Currently, your private messages are marked as read when both entering and leaving your inbox.

The correct behaviour should be:
- mark them as read when entering the inbox (already done; no change needed)
- mark them as read when a sync occurs while viewing the inbox
- do NOT mark them as read when leaving the inbox

They should not be marked as read when leaving the inbox because if a new messag

[2016-06-18 23:34] evelynwightman commented on #7677
User ID: b9c8f0be-2658-466d-ba94-9e680ae672b7

[2016-06-19 00:14] patrick96 opened #7690 "Item found in task duplication"
General Info
- UUID: 0be969bd-d1c0-4009-bedd-703990e983a9
- Browser: Firefox 46.0
- OS: Arch Linux
### Description

When I complete a daily task and find an item, I can un and recheck the task again to receive the item over and over again without it being removed when unchecking the checkbox (the Gold and Silver was removed properly).
This happened to me with a daily task that repeats every 7 days

[2016-06-19 00:22] Alys opened #7691 "party invitation cannot be declined/rejected if you are already in a party"
If you are in a party with only yourself, it's possible for other players to send you invitations to their party (this is correct behaviour).

However it's not possible for you to reject those invitations - the decline button doesn't work.

I'm marking this as high priority, because it prevents you from receiving invitations to other parties. Also it's probably affecting a fair proportion of new p

[2016-06-19 00:29] Alys commented on #7690
Please see the first comment on this issue: https://github.com/HabitRPG/habitrpg/issues/4626
for an explanation of why that is the correct behaviour. If you'd like to comment on it, please comment on that issue rather than this one to keep the conversation in one place.

[2016-06-19 00:29] #7690 closed, assigned to nobody

[2016-06-19 01:12] crookedneighbor commented on #7691
Looking at this.

[2016-06-19 01:21] #7691 closed, assigned to nobody

[2016-06-19 06:50] Alys commented on #7482
@thebat137 I've deleted the extra Moonstone 2 quest scroll.

I'm going to close this because we haven't seen any other reports of it and it might have been fixed by the same change that fixed the double/triple quest damage bug. We can always reopen it later if it reoccurs.

[2016-06-19 06:50] #7482 closed, assigned to nobody

[2016-06-19 09:36] lynxlynxlynx commented on #7556
@Alys Why you do you consider it useful for the api to return the message? In case the third party wants to display it?

Currently the api docs don't specify this return value and ignoring it in normal operation would require hardcoding in either callOpsFunctionAndRequest or the op itself. Or extra parameters. Nothing as nice as removal.

Is the API frozen?

[2016-06-19 09:40] Alys commented on #7556
It's not necessary on the website because you can see that your messages have been read. However if you're marking them as read using an API call, you might not have the same visual feedback and so it's beneficial to pass back a clear message. Bu if it's not possible to hide the message on the website while still returning it for all other API calls, then we should show it on the website too (but

[2016-06-19 09:43] paglias commented on #7618
@Hus274 when a member is booted from a group they should receive an email even if the custom message isn't passed. If it doesn't work like this it's a bug.

Regarding emails text they're stored on our email provider, if you provide me with the text I'll add it before any code goes live

[2016-06-19 09:59] lynxlynxlynx commented on #7556
But in this case the call is only setting a var and returning it. Even if that can somehow silently fail, one could still check the return value [0]. Another option is to pass an empty string if the op was a noop. That would also skip all the duplicates.

[0] https://github.com/HabitRPG/habitrpg/blob/28f2e9c356d7053884107d90d04e28dde75fa81b/common/script/ops/markPMSRead.js

[2016-06-19 10:07] paglias commented on #7677
I've not been able to reproduce this, I got the correct email invitation. @evelynwightman I'll try to invite you

[2016-06-19 10:10] paglias opened #7694 "Automatically refresh party page when party is created"
When a new party is created it's not shown until the user manually refresh the site

[2016-06-19 10:48] khipkin commented on #7694
Logic should probably go [here](https://github.com/HabitRPG/habitrpg/blob/develop/website/client/js/controllers/partyCtrl.js#L62).

[2016-06-19 10:57] #7623 closed, assigned to nobody

[2016-06-19 10:57] paglias commented on #7587
Fixed

[2016-06-19 10:57] #7587 closed, assigned to nobody

[2016-06-19 11:38] lynxlynxlynx commented on #7556
That's the cleanest option, so I'm pretty happy with it. RFC

[2016-06-19 12:21] ghost opened #7695 "Minor translations issues repository"
The issue is created to have reports about minor issues with translations which: are easy to fix, require changes to the code, don't require taking decisions on the look&feel of the site or the way to handle the situation.

New issues will be added as comments, the ticket may be closed and reopened whenever there's the need for it.
- [x] The header has "Mana" untranslatable.
  Found by **Racobot**

[2016-06-19 12:22] GitHubSphinx commented on #7695
- [ ] The header has "Mana" untranslatable.
Found by **Racobot** on Transifex. ***Fixme***: The line https://github.com/HabitRPG/habitrpg/blob/develop/website/views/shared/header/header.jade#L25 should be altered to replace `Mana` with `env.t('mana')`

[2016-06-19 13:05] joedragons commented on #5535
I noticed this before as well too, but this seems better with the latest redesign; I haven't noticed in a while.  Wondering if this issue is fixed or at least less prominent.  FYI/2 cents.

[2016-06-19 13:10] evelynwightman commented on #7677
Huh. I received an email invite like last time, but on this one the link worked. Took me to my main page with a huge invite on it. The original invite still doesn't work.

[2016-06-19 13:18] crookedneighbor commented on #5535
It's not "fixed", but the party page now reloads every time you go to it, so the only way to reproduce it is to be on the party page, click fetch recent messages, get the notice that damage has been dealt, and see that the boss has not been updated. If you leave the page and come back, then it will update.

Going to close this now, since we don't plan to fix it before the frontend redesign.

[2016-06-19 13:18] #5535 closed, assigned to nobody

[2016-06-19 13:38] #7689 closed, assigned to nobody

[2016-06-19 13:42] crookedneighbor commented on #5535
@paglias pointed out to me that the fetch recent messages button does update the quest data, so this is actually fixed now.

[2016-06-19 13:46] crookedneighbor commented on #7556
This is fixed with https://github.com/HabitRPG/habitrpg/commit/941ff10cdceb59313d575aa6362844fc4ff2e93f, will go out with the next deploy.

[2016-06-19 13:46] #7556 closed, assigned to nobody

[2016-06-19 13:59] crookedneighbor commented on #7695
@GitHubSphinx I've added the labels and moved the mana untranslatable to the top area. Thanks for opening this!

[2016-06-19 14:01] #7695 closed, assigned to nobody

[2016-06-19 14:02] crookedneighbor commented on #7694
Doing this now. Meant to do it days ago.

[2016-06-19 14:06] #7694 closed, assigned to nobody

[2016-06-19 14:26] #7684 closed, assigned to nobody

[2016-06-19 18:26] ghost opened #7696 "Unable to use the gems in the guild's bank (as a guild leader)"
### General Info
- UUID: 60e9e6cd-efdb-4e9d-8035-3277c3276d52
- Guild ID: 17d57080-1bb2-407a-8276-63282e44c3ce
- Browser: Google Chrome Version 51.0.2704.103 m (also happens with Internet Explorer Version 11.420.10586.0)
- OS: Windows 10 Home
### Description

I subscribed to Habitica today and made my first guild. From what I understand, the 4 gems used to create the guild can be returned by makin

[2016-06-20 01:17] khipkin opened #7697 "Inviting party to quest should hard-refresh party page"
I invited my party to quest, but the only visual feedback I got was the quest modal going away.  Fetching recent messages and pressing the "sync" button didn't make any difference.  The quest invitations panel only appeared after I manually refreshed the whole page.

This is super weird to me and doesn't seem like desirable behavior.

Thoughts?

_edit by Alys, 16 October 2016:_

See [this comment]

[2016-06-20 01:49] crookedneighbor commented on #7697
Did you have any console errors when you started the quest? It does update automatically for me.

[2016-06-20 01:55] #6706 closed, assigned to nobody

[2016-06-20 02:04] khipkin commented on #7697
Yeah, but they seem to be the usual suspects:

[2016-06-20 02:14] crookedneighbor commented on #7697
Can you go over exactly how to reproduce this? I was able to start a quest from the part page by pressing the start quest button without issue.

[2016-06-20 02:34] khipkin commented on #7697
My party had finished our last quest, so I clicked the "Start a Quest" button, picked a quest scroll, and clicked "Invite Party to Quest".  Then the modal went away, the little blue load bar at the top of the page wooshed from left to right with no problem, and nothing else happened.

The "Start a Quest" button was still in the little panel on the left, just chilling.  No indication that anything

[2016-06-20 02:38] crookedneighbor commented on #7697
Could be something specific to just finishing a quest and then starting a new one.

[2016-06-20 02:41] khipkin commented on #7697
Maybe? That was the case the first time, but the other times were from canceling a quest invite and then immediately starting a new quest.

[2016-06-20 11:56] crookedneighbor opened #7698 "Re-Enable End to End Tests"
The helper file in test/e2e/helper.js may need to be adjusted.

[2016-06-20 13:59] ghost commented on #7696
For the sake of linking: https://github.com/HabitRPG/habitrpg/issues/7361 (please ignore offtopic messages about errors in the middle)

[2016-06-20 14:48] Dewines opened #7699 "Changes to challenges not saving at all"
I created an new challenge and the information in the notes fields didn't save in the To-Dos. This was important because they contained links to articles that the person doing the challenge needed to read. I tried re-adding the notes (severaltimes), but they just didn't save.

I therefore deleted the To-Dos and recreated them, including the notes fields. When I'd saved the challenge, all the To-Do

[2016-06-20 15:27] SabreCat commented on #4819
We've gotten a couple more reports of this over the last week or so. Guess it's not quite done with us yet. :\

[2016-06-20 16:45] paglias commented on #7696
Duplicate of #7631 (cleaning it up now)

[2016-06-20 16:45] #7696 closed, assigned to nobody

[2016-06-20 17:01] ghost commented on #7696
@paglias looks like you got the wrong link

[2016-06-20 17:04] paglias commented on #7696
@Racobot yep sorry! #7361

[2016-06-20 21:11] paglias commented on #7677
I've checked the code but was unable to reproduce / find any bug. If it happens again we'll reopen

[2016-06-20 21:11] #7677 closed, assigned to nobody

[2016-06-20 21:45] Gumnos opened #7701 "Should sorting equipment on an attribute while grouped by type consider the class bonus?"
As an example, when I group by type and sort by PER, the Jester Hat (PER+15) sorts before the Umbral Hood (PER+12).  But with my Rogue's class bonus, the Umbral Hood actually gives me PER+18 (12 + 6) which is better than the Jester Hat.  When grouped by class, it's not an issue since my class-specific equipment is all together.

Should the sorting take class-bonus into consideration?

[2016-06-20 22:56] crookedneighbor commented on #7701
I don't think so. If you're concerned about using the class bonus, you can do so by selecting the class.

[2016-06-20 22:57] crookedneighbor commented on #7701
Though, if the code to do as you suggest is simple, I might chang my mind.

[2016-06-21 00:01] Alys commented on #7701
I think it should consider the class bonus to make it easy to find your best piece for a stat. Using the class grouping option doesn't really help with that because off-class and non-class gear can have better bonuses in some cases. Using the new type grouping option and selecting an attribute sort order is an excellent way of optimising your battle gear, and ignoring the class bonus feels like a

[2016-06-21 00:08] Gumnos commented on #7701
I'm mostly concerned with "I want the best PER bonus from my equipment, so group by location-type, sort by PER, and pick the top item for each item-type".  But with the current sort, the top pick doesn't get me the best resulting stats.  It's not a big deal now that I know about it, but it might throw people who haven't waded through obscure corners of the wiki.

[2016-06-21 00:35] amandaleee opened #7702 ":food not found in user.items.food"
General Info
- UUID: 46879cf2-9a78-4450-b420-8f97841db0c7
- Browser: Chrome Version 51.0.2704.84 (64-bit)
- OS: Mac OS 10.10.1
### Description

A couple of times over the last few days, I've gotten the same drop twice in a row when clicking on a habit twice in a row [because I completed it twice that day]. After this happens, I can see I have two of a kind of the particular drop I got in my invent

[2016-06-21 09:24] Dewines commented on #7699
I've now played around with a test challenge and basically you have to get everything perfect first time. The only thing you can change now is the explanatory text. If you make a mistake and need to make any changes to tasks or add any extra tasks, the changes just don't save.

[2016-06-21 12:32] #7392 closed, assigned to nobody

[2016-06-21 16:39] ghost commented on #7393
This is just about to go under the cut in the Aspiring Socialites guild chat:

[memorable]

[2016-06-21 17:43] khipkin commented on #7702
Here's the implementation of the API method: https://github.com/HabitRPG/habitrpg/blob/develop/website/server/controllers/api-v3/user.js#L740

Semi-related, but there's a copypasta mistake in the URL in the documentation.  It says `/api/v3/user/equip/:pet/:food` but it should say `/api/v3/user/feed/:pet/:food`.

[2016-06-21 18:00] crookedneighbor commented on #7702
Please submit a pr to fix it.

[2016-06-22 20:09] immaterial-ctrl commented on #1774
I don't disagree with closing it, but I thought I would express my interest so others would know it (my interest in the matter) exists.

How I found this, was that I was looking for a way to send gold to fellow party members (I am not the leader), I thought it would be neat if there was a bank where resources could be shared or sent to party members, so I did a wiki search and found a conceptially

[2016-06-22 20:27] lemoness commented on #1774
Thanks for letting us know! Right now, the discussions aren't in a consolidated place because we aren't ready to move forward yet with the changes. If you keep an eye on Github, you'll start to see PRs and discussions happening later when we are ready to start implementing the features. In the meantime, you can comment on the Guilds Trello card https://trello.com/c/OY9PDkmn/84-guilds-v2-groups-gui

[2016-06-23 00:20] Hus274 opened #7708 "Duplicate completed todos"
### Description

Currently, if a user checks off a todo before loading the completed todos and then proceeds to load the completed todos, the task that the user has completed in the current session is duplicated under the done todos tab.

To replicate this bug:
1. Refresh the page
2. Complete a todo
3. Click Done tab under todos
4. Look for the todo that was completed, it should have two entries i

[2016-06-23 06:39] Alys commented on #5214
Habitica's code has been changed significantly since this was logged, including changes to avoid the bug I linked to above, so I'm closing this now. If it reoccurs, we can reopen or create a new issue.

[2016-06-23 06:39] #5214 closed, assigned to nobody

[2016-06-23 12:55] #7701 closed, assigned to nobody

[2016-06-23 14:29] #7540 closed, assigned to nobody

[2016-06-24 02:45] crookedneighbor opened #7712 "Unclaimed Mystery Items are purchasable with hourglasses"
If a subscriber leaves the gift in the mystery box, there is nothing preventing them from purchasing the item in the time traveler shop.

[2016-06-24 12:57] #7708 closed, assigned to nobody

[2016-06-24 17:42] OnyxWings commented on #7670
I tried it in Chrome and it worked fine, but the undefined error still shows up in Firefox.

[2016-06-24 19:27] Flaffers commented on #6337
My progress graphs for my To-Dos also act very weird. Here's a picture of them.
![todos](https://cloud.githubusercontent.com/assets/6238628/16348280/84fbf64c-3a1f-11e6-86ce-9a509c353778.PNG)

The shape you see has been stuck like that for several months, even though the very height of the trapezoid (value of 40,000 or so) is shown as 5/21.

My graphs also aren't spaced normally on the x-axis. Seve

[2016-06-24 23:39] Hus274 commented on #7712
Is there a way to get a mystery item in the test environment?

[2016-06-24 23:44] Alys commented on #7712
This will give you the latest set:

  'purchased.plan.mysteryItems': ['head_mystery_201606','armor_mystery_201606']

[2016-06-24 23:47] Hus274 commented on #7712
Perfect, thanks Alys!

[2016-06-25 00:11] crookedneighbor commented on #7712
The API just needs an extra check to see if the item in question is in the mystery box array and error if it is. Should be straightforward.

[2016-06-25 02:14] Alys opened #7714 "eyeglasses (eyewear_special_*TopFrame) can be lost and then can't be re-purchased"
It's possible for the eyeglasses to have false values in a user's account, and when that happens, the user cannot get them back. They do not appear in the Rewards column for purchase (not even for zero gold), and when you click on them in the User > Customise Avatar screen, you get the `gearNotOwned` error.

I don't know how they can be given false values. I've tested death, rebirth, and reset and

[2016-06-25 02:14] amandaleee commented on #7702
Going to close this since @khipkin fixed in a PR. Thanks everyone! <3 <3

[2016-06-25 02:20] Alys commented on #7702
@amandaleee We actually need to keep this open because the PR was just for a related documentation error, not a fix for the bug. But thank you for wanting to keep the issue queue neat!

[2016-06-25 02:22] amandaleee commented on #7702
Oh, got it! Thanks, sorry, I hadn't seen it in awhile so I thought it had been fully fixed and deployed. :D

[2016-06-25 03:21] Alys commented on #5754
Copied from crookedneighbor's post at https://github.com/HabitRPG/habitrpg/issues/5071 :

When the join button is clicked, the filters appear to reset to "either", but the radio buttons don't revert back to either. Clicking on the desired radio button again, even if it's already selected corrects the behavior. My desired behavior is that it remain filtered.

[2016-06-25 04:20] Alys commented on #5071
I've edited the top post to mark one item as completed and to move another item to another issue (link provided in top post).

[2016-06-25 04:28] Alys commented on #7410
I'm pretty sure this is a side-effect of not being able to edit challenges and so will be fixed when https://github.com/HabitRPG/habitrpg/issues/7320 is fixed, but I'm leaving it open in case I'm wrong. It should be tested again after https://github.com/HabitRPG/habitrpg/issues/7320 is closed.

[2016-06-25 04:38] Alys commented on #7625
I don't think this is directly related to casting the skill. For the huge XP gain and boss damage to have been caused by casting BoF on the challenge task, there'd have to be a bug in both the code that prevents skills being cast on challenge tasks and in the code that controls how much XP and boss damage can be done by BoF, and both those pieces of code are relatively simple and unlikely to be bu

[2016-06-25 04:52] Alys commented on #4092
We can't change the value on rewards in the way that it's done for habits, but it would be technically possible to record history (one history entry for each click on a reward, with purging happening for older clicks, as is done for habits). We'd need to consider whether the extra database space and purging processing during cron would cause a problem.

This would be a reasonably popular change be

[2016-06-25 05:02] Alys commented on #7539
related: https://github.com/HabitRPG/habitrpg/issues/5754 "Challenges filter is forgotten after joining one"

[2016-06-25 05:02] Alys commented on #5754
related: https://github.com/HabitRPG/habitrpg/issues/7539 "Challenge filtering reverts after closing challenges"

[2016-06-25 05:34] Alys commented on #7469
related: https://github.com/HabitRPG/habitrpg/issues/7449 "Challenge Tags are not automatically associated with Challenge Tasks when creating new challenges"

[2016-06-25 05:34] Alys commented on #7449
related: https://github.com/HabitRPG/habitrpg/issues/7469 "Challenge Extra Notes Missing in creator's copies of tasks after creating a challenge"

[2016-06-25 05:43] Alys commented on #7379
Discussion of whether this is desirable or not is here: https://github.com/HabitRPG/habitrpg/pull/5137#issuecomment-98564554
with the decision being that Tavern challenges shouldn't have the gems refunded, although there seemed to be willingness to reconsider later.

A note about the relevant code is here: https://github.com/HabitRPG/habitrpg/issues/7272#issuecomment-219680193

[2016-06-25 05:53] ghost commented on #7410
This was actually fixed (deliberately, I thought so I didn't come back to Github). Doesn't seem to be an issue anymore.

[2016-06-25 05:53] #7410 closed, assigned to nobody

[2016-06-25 06:00] Alys opened #7715 "Start Date can be set to null / empty string on a Daily"
When editing a Daily on the website, you can delete the Start Date. After saving, the task has a Start Date of `null`.

This is confusing because it's not obvious to the player how cron will treat it (immediately due versus never due) and because the official and unofficial site/apps/tools will display the due-ness of the Daily in different ways (e.g., website says not due, Android app says due).

[2016-06-25 06:02] Alys commented on #7715
oops, saved prematurely. I've changed the final paragraph to this:

The website should also handle deletion of the Start Date in a more informative way. For example, if there's no Start Date then don't let the Daily be saved, or save it but set the Start Date to today so that you see the date if you edit the task again, or set the Start Date to today as soon as you move focus out of the Start Date

[2016-06-25 06:08] Alys opened #7716 "Winner of challenge sees a notification for a previous challenge that they've won"
Amazon_Warrior (4273f332-21e2-419a-8a35-e462ce341f5c) reports:
**I just won a Challenge-'Help the Poet'-but the alert that came up was for the very first Challenge I won 'A Weekend Fully Booked: 24-Hour Readathon'. The alert said I'd just won the Readathon Challenge, even though that happened ages ago.**

I've seen one other report of a similar problem and I was able to replicate the bug just now.

[2016-06-25 06:17] Alys commented on #7716
It's worth noting that Amazon_Warrior has won only two challenges, so the challenge listed in the notification was for the previous one that they had won (it was only incidentally their first one). The challenge listed in my notification was the previous one that I'd won.

It might be that the process to send a notification is sometimes reading the user's `achievements.challenges` array before the

[2016-06-25 07:07] Alys opened #7717 "new Mystery Items from gift box require reload before they work correctly"
We often see questions and bug reports from subscribers who try to get their new Mystery Items but see errors or don't see the items because their browser hasn't loaded the new content yet.

It would be nice if a reload could be forced at some appropriate point, perhaps when they click on the Mystery Box (and only if a reload is actually needed), but other options could be considered too.

[2016-06-25 07:14] Alys commented on #7715
Ha, I'm an idiot. Cron treats Dalies with no Start Date as starting on the day that cron runs (`moment()`), which means they were NOT due on  the previous day.

So I guess if there's no Start Date supplied, the default could be `tomorrow`, although I still sort of like the idea of setting it to today, for consistency with new Dailies. I don't have a strong preference though.

[2016-06-25 08:01] ghost commented on #7715
So in other words, if no start date is set, it'll always be tomorrow i.e. never, won't it?

[2016-06-25 08:28] Alys commented on #7715
@GitHubSphinx That's correct, with the current implementation. I'd encourage anyone reading this to not rely on that always being the case.

I can see that that could be considered a useful feature (an easy way to make a Daily permanently not due) but I don't think it's intuitive, and it relies upon all possible clients (official and unofficial; current and future) handling a missing Start Date in

[2016-06-25 08:53] Alys opened #7719 "create FAQ answers for Android"
`common/locales/en/faq.json` needs to be edited to add answers for Android, in the same way that answers for iOS exist. For example, create a new string for `androidFaqAnswer0` just under the `iosFaqAnswer0` string.

If anyone wants work on this before this issue contains any other advice, then make all the Android answers the same as the iOS answers initially, and make adjustments later based on

[2016-06-25 09:13] Alys commented on #5038
Seems fixed.

[code]

[code]

[2016-06-25 09:13] #5038 closed, assigned to nobody

[2016-06-25 09:13] paglias commented on #7715
Can be fixed by setting `required: true`, making sure it's a default value and running a migration to set the missing dates to today (?)

[2016-06-25 09:46] Alys commented on #7714
The person who reported this (9db797f4-ef95-443f-9635-e74973294f08) says "I did do a reset when I first started using Habitica, because the tutorial and my experimentation left me with a ton a unearned gold and XP. That probably did it. I just never noticed it earlier. Very odd." Their start date is 2016-05-12T21:05:47.994Z so the reset would probably have been soon after that. However it's not co

[2016-06-25 09:47] Alys commented on #7715
Sounds good, although we should probably make the migration set the date as a day or two in the future.

[2016-06-25 09:51] Alys commented on #4683
We've made significant changes to the code since this bug occurred so I'm closing this. If it happens again, we can reopen.

[2016-06-25 09:51] #4683 closed, assigned to nobody

[2016-06-25 10:13] Alys commented on #7336
This will be covered by https://github.com/HabitRPG/habitrpg/issues/2470 "Invalid spell targets shouldn't provide green highlight" so I'm closing this one. I've copied notes about it to the top post on that issue.

[2016-06-25 10:13] #7336 closed, assigned to nobody

[2016-06-25 10:52] Alys commented on #3903
I'm closing this because Habit history works differently now (multiple clicks are recorded for each recent day).

[2016-06-25 10:52] #3903 closed, assigned to nobody

[2016-06-25 10:57] Alys opened #7720 "Habitica's favicon is hard to see on Windows 10 task bar"
_Reported in the Report a Bug guild:_

"On Windows 10, the task bar is dark so that when you pin Habitica's icon to it, the dark purple doesn't show up."

![http://i.imgur.com/UBjZNFV.png](http://i.imgur.com/UBjZNFV.png)

Possibly we could make a version of the icon with a white background or outline and use an appropriate meta tag to deliver it to only Windows 10 users.

[2016-06-25 12:17] cTheDragons opened #7721 "People joining the challenge are not appearing in the order they joined"
## General Info

bc10ec41-4213-4482-bbb8-558e3c3ea8d5
Opera 37.0.2178.43
Windows 8.1 32-bit
## Description

In API2, you could determine when a user joined a challenge by the order they appear on the list. Now it is difficult to determine  who are the late comers are, without keeping a list outside Habitica.

Thanks

[2016-06-25 12:21] Alys commented on #7721
This feature (or any other feature that provides similar data) is important for judging how long a participant has been doing the challenge tasks and/or how quickly they have ticked off the To-Dos.

[2016-06-25 12:31] crookedneighbor commented on #7721
The user's challenge tasks should have a dateCreated attribute which would be the date they joined the challenge. Might just be a matter of exposing that info.

[2016-06-25 12:37] cTheDragons opened #7722 "Gem Receiving text is in native language of sender"
_Admin note: Edits made to bring original ticket up to date with conversation_
## General Info

bc10ec41-4213-4482-bbb8-558e3c3ea8d5
Opera 37.0.2178.43
Windows 8.1 32-bit
## Description
- Text for the receiver of a gem gift appears in the native language of the sender. _(See Example below)_.  **The text for the sender of the gem should be in the native language of the sender and for the receiver t

[2016-06-25 13:30] paglias commented on #7721
That would require to load all the tasks for each member

[2016-06-25 15:21] sougat818 commented on #7719
Hi @Alys,

I would like to work on this.

[2016-06-25 16:08] cmcarthur commented on #7431
Is this ready to be picked up? Looking for something simple to get started with.

[2016-06-25 16:10] cmcarthur commented on #7464
Is this able to be picked up? Looking for something to get started with.

[2016-06-25 19:23] Alys commented on #2805
Another report of this (the first I've seen since my previous entry a month ago):

user's data:

[code]

party chat:

[code]

[2016-06-25 20:10] Alys commented on #5998
I'm closing this because the behaviour is different now (a solo-party player sees just the "quest later" button on the modal).

[2016-06-25 20:10] #5998 closed, assigned to nobody

[2016-06-25 20:11] Alys commented on #2507
The quest code has changed considerably since this was logged, to fix a variety of bugs, so I'm closing this now.  We can reopen if it occurs again.

[2016-06-25 20:11] #2507 closed, assigned to nobody

[2016-06-25 20:13] Alys commented on #5265
I'd like there to be a "decide later" button as well, in case the modal appears while you're in a hurry to action tasks.

[2016-06-25 20:24] Alys commented on #5998
Sorry, my last comment was wrong (when I was testing this, the creation of a solo party hadn't properly taken effect). A player in a solo party DOES have the invite button and it now works correctly.

[2016-06-25 20:27] Alys commented on #6598
This has been fixed. The quest invitation is now deleted when you leave the party.

[2016-06-25 20:27] #6598 closed, assigned to nobody

[2016-06-25 21:03] Alys opened #7723 "non-empty private group (guild/party) can be deleted if memberCount is wrong"
If a private group contains multiple members but the memberCount is 1, then when one player leaves the group, the group will be deleted (i.e., the group is treated as empty).

This situation arose recently when I was manually creating a private guild for a huge party that needed to be split up, and I added all the members to the guild but forgot to set the memberCount to the correct number, so whe

[2016-06-25 21:07] Alys opened #7724 "cannot leave a party that no longer exists"
If a player's account contains a `party._id` for a party that no longer exists, they are unable to leave the party, or create a new one, or be invited to a new one. I found a case of this today - confirmed that the `party._id` in their account did  not correspond to any existing group.

I don't know how this situation happened, but I imagine that any action to leave or be removed from a party coul

[2016-06-25 22:08] crookedneighbor commented on #5265
Let's not implement this until after the redesign.

[2016-06-25 22:22] Alys commented on #7464
@cmcarthur Yes, if you'd like to work on this, that would be great! Post here if you have any questions or run into any problems.

[2016-06-26 03:40] Alys commented on #7431
@cmcarthur, yes, this can be worked on, thank you!

[2016-06-26 03:41] Alys commented on #7719
@sougat818  Thanks, please do!

[2016-06-26 06:03] Alys opened #7725 "login usernames can include spaces at the end - adjust API's login route to prevent that"
It's possible to register for Habitica with a login name that has a space at the end and this space is saved in the database as part of the login name.

This means that you can't log in unless you realise that the space was added and enter it along with the rest of your login name.

You can't register like that on the website (I've just tested and the space is removed) so I'm guessing that it's ha

[2016-06-26 07:03] Alys commented on #7719
@lemoness and @vIiRuS  We're proposing that the FAQ answers for Android be the same as for iOS, except that the "Report a Bug" answer uses "About" instead of "Menu" as described above. Should there be any other differences?

[2016-06-26 09:34] paglias commented on #7725
It should be enough to add trim:true to the username field. I remember we tries to do it but it caused problems because there are duplicates like "username" and "username "

[2016-06-26 10:06] Alys commented on #7725
We shouldn't try to change it for existing users, both because of the duplicates and perhaps some users are used to the space being there.

However for all new user registrations, I think it's best that leading and trailing spaces are removed.

[2016-06-26 11:32] Alys commented on #7653
Here's another instance of this, where a player is no longer in a party but has a quest invitation, and they can't reject it because the code throws an error about not being able to find the party ID. I had thought that the quest invitation process allowed you to reject a quest invitation no matter what, but I must have been thinking of something else. Tomorrow, I'll search through the database to

[2016-06-26 12:53] Alys opened #7727 "no quest progress made by non-resting quest participants"
I sometimes see reports of players who are in a quest and who are not resting in the inn going through cron but with no quest progress message appearing in party chat. I'm going to start recording them here so we can track the bug.

ldykstra (b3c228d9-954e-4136-b60e-5ec8a1578864)  -15 hours before now:
"Hello! My party is currently on a quest. When I logged in this morning (through mobile), my com

[2016-06-26 13:11] #4840 closed, assigned to nobody

[2016-06-26 13:15] crookedneighbor opened #7728 "Fill in tests for payments lib"
The [test file for the payments lib](https://github.com/HabitRPG/habitrpg/blob/81ac45f2a7ccabc8b31ae5856592894ff3a24109/test/api/v3/unit/libs/payments.test.js) is under tested. I've filled in the it blocks I believe need to be added.

[2016-06-26 14:07] paglias opened #7729 "Use NPM Shrinkwrap"
Now that we have NPM 3 on EB it should work and will fix #7652

[2016-06-26 22:02] Alys opened #7730 "challenges being joined twice simultaneously; challenge tasks duplicated"
I've seen some reports of players having duplicate challenge tasks and I've also seen challenge IDs appearing twice in users' `challenge` objects. I'm going to start reporting all instances here so that we can track it and work out what's causing it.

This is distressing for the players because it makes their task lists feel out of control, and it can be damaging for them and their party if they t

[2016-06-26 22:58] cmcarthur commented on #7464
Great, just got my env set up, working on this over in https://github.com/cmcarthur/habitrpg/tree/cron-tests

[2016-06-27 05:28] Alys commented on #7653
1977 users had RSVPneeded set to true but no party ID. I've set RSVPneeded to false for them all, and I've added points to the To-Do list in the top post here to have the code improved for this case too.

[2016-06-27 05:33] Alys commented on #7714
I've fixed the glasses for the 241 users who had false values. I'll check for more periodically.

I'm leaving this open until we either know and fixed what caused it, or have adjusted the code so that lost eyeglasses can be bought back for zero gold just like other equipment (my favourite solution because it will be a good workaround for any future bug that might cause this to happen again, even i

[2016-06-27 07:19] paglias commented on #7730
It's likely that users are clicking more than once on the Join button... the fact is that Mongoose should prevent this from happening (same data added to an array twice) but it doesn't look to be working

[2016-06-27 07:22] Alys commented on #7730
Does bootstrap provide an easy way to make a button unclickable immediately after it's been clicked?

[2016-06-27 07:23] paglias commented on #7730
We can probably make so a request is only sent after the previous one has
ended but then it would resolve the problem on the site only, could still
happen from mobile or API. Anyway better than nothing

2016-06-27 9:22 GMT+02:00 Alys notifications@github.com:

##

Matteo Pagliazzi - paglias.net

[2016-06-27 07:35] paglias commented on #7730
Confirmed that clicking very quickly on the Join button causes this

2016-06-27 9:23 GMT+02:00 Matteo Pagliazzi matteopagliazzi@gmail.com:

##

Matteo Pagliazzi - paglias.net

[2016-06-27 08:15] ghost commented on #3465
I was asked by Alys to describe an issue caused by this in the chat area.

So basically, when posting a message in an RTL language, it jumbles up the timestamp. Instead of just showing "5 days ago", for example, it shows "5" on one side of the message and "days ago" on the other.

And just as anywhere else in the site - if the message includes both English and RTL words, it screws it all up as ori

[2016-06-27 08:35] Alys commented on #3465
I've marked this issue as "interface" because we might be able to improve that situation if we decide to modify the chat code in any future redesign of the website.

Here's the problem described by Racobot in context from https://habitica.com/#/options/groups/guilds/17d57080-1bb2-407a-8276-63282e44c3ce :

![image](https://cloud.githubusercontent.com/assets/1495809/16373972/d363a63e-3c97-11e6-95a0-

[2016-06-27 09:29] Alys commented on #7666
I'm closing this now but if you'd like more help, see my previous post, and let us know how that goes. We'll still see your reply and can reopen this if necessary.

[2016-06-27 09:29] #7666 closed, assigned to nobody

[2016-06-27 09:59] Alys commented on #4252
To help us keep tracking this bug, I'm going to use this comment to record the confirmed instances of it that I see reported in Habitica (not a new comment for each instance because it will be spammy).

Mon Jun 27 09:57:32 UTC 2016:
Tahtimittari (444cf175-e917-4683-a40d-498b09146148):
"Hey. 9 days ago (18/06) me and my party finished the quest - The moonstone chain (can send a print screen if help

[2016-06-27 10:06] Alys opened #7731 ""undefined" in a notification from up-scoring a task"
![untitled_1](https://cloud.githubusercontent.com/assets/1495809/16376156/44f2251e-3ca2-11e6-9247-74cf4edd27b8.jpg)

That was reported in the Report a Bug guild by Okha (dc378150-cd9b-435a-a402-e1250b0ccf6c):

"Hi! Today I received "undefined" as a drop. I wonder what that might be... Here's the screenshot: https://s31.postimg.org/hfmv3xvgr/Untitled_1.jpg ... , it happened around 11:10 - 11:20 AM

[2016-06-27 13:13] khipkin commented on #7730
http://stackoverflow.com/questions/18130808/preventing-dealing-with-double-button-clicks-in-angular

[2016-06-27 17:31] SabreCat commented on #7714
I think all that's needed here is to add a `canOwn` property using the `ownsItem` function to the glasses in https://github.com/HabitRPG/habitrpg/blob/develop/common/script/content/gear/sets/special/index.js.

[2016-06-27 20:05] wisteriacs commented on #6815
FYI, I've been using Habitica daily on Safari on my iPad. Thus far, no
problems. Next, I'll start using it on Desktop Safari to see if it's
holding up.

[2016-06-27 23:55] khipkin commented on #7407
This has been happening to me for the last few days in other guilds as well, not just the Tavern and my party chat.  Specifically, it has been happening in the [Achieve, Accomplish, Aspire guild](https://habitica.com/#/options/groups/guilds/588519bb-5c2e-4a12-a5a7-8c9f73192f9f).

[2016-06-27 23:56] khipkin commented on #7393
This has been happening to me for the last few days in other guilds as well, not just the Tavern and my party chat.  Specifically, it has been happening in the [Achieve, Accomplish, Aspire guild](https://habitica.com/#/options/groups/guilds/588519bb-5c2e-4a12-a5a7-8c9f73192f9f).

[2016-06-28 00:49] lemoness commented on #7719
They should be the same aside from any pathway differences. As I'm an iOS
user, I can't actually check to make sure, but maybe @thehollidayinn can.

On Sun, Jun 26, 2016 at 12:03 AM, Alys notifications@github.com wrote:

[2016-06-28 01:15] veeeeeee commented on #7393
This is happening for me in my party and Tomes of Compelling Significance for this current session. I noticed it yesterday for my party and for Ink Slingers. Yesterday the notifications would dismiss if I clicked through two or three times. Today it seems to take a few more clickthrough attempts before they'll dismiss.

[2016-06-28 08:56] dgodovanets opened #7735 "Notification about the party is not deleted after check automatically."
General Info
- UUID: 6b4563cf-ef71-4508-839e-f553d358dab9
- Browser: Google Chrome Version 53.0.2774.3 dev-m
- OS: Windows 7

About bug:
When I check my notifications about gild, it is deleted after check. But when I check notification about party, it is not deleted. I do it by click on X

[2016-06-28 09:33] Alys commented on #7735
Hi @Eramik. We have this reported at https://github.com/HabitRPG/habitrpg/issues/7393 so I'm closing this issue but you can follow #7393 for the progress of the fix. If you click the "fetch recent messages" button, the party notification is usually cleared.

[2016-06-28 09:33] #7735 closed, assigned to nobody

[2016-06-28 12:39] #7393 closed, assigned to nobody

[2016-06-28 13:09] JerseyEmerald commented on #7393
I'm still having this same problem,  on my computer and Web browser...I log off all the time, chrome is updated

[2016-06-28 13:10] Melissarie commented on #1806
I would also like to see more of our party members. I have been looking everywhere trying to find where to put this. We have an old, large party and there are a lot of members, but we can mostly only see the inactive players which is causing a real issue with our current active members. We can't even see who all is participating in a quest, and it's causing a few problems. I'm attempting to add a

[2016-06-28 13:11] khipkin commented on #7393
I don't think the fix has been deployed yet.

[2016-06-28 13:16] paglias commented on #1806
We can decide to fetch all party members but IMHO only after we enable the
cap to the number of members (old big parties will be grandfathered)
Il 28 giu 2016 3:10 PM, "Melissarie" notifications@github.com ha scritto:

[2016-06-28 13:18] Alys commented on #1806
@Melissarie I'm not sure if you saw my answer to you when you asked about that in the Report a Bug guild: "It's not possible to affect which party members are shown. However if your party leader wishes it, I can help them remove all members who haven't logged in to Habitica for the past several days/weeks (the leader can choose the period of time). The leader can post here [to the Report a Bug gui

[2016-06-28 13:24] khipkin commented on #1806
What if a new sort option were added where you could sort party members based on how recently they were active?

[2016-06-28 13:27] Melissarie commented on #1806
@Alys I didn't see that, thank you. I'll have to talk to the party leader

[2016-06-28 14:16] sougat818 commented on #7725
Is it ok if I work on this?

[2016-06-28 14:51] crookedneighbor commented on #7393
It has not, I'm about to deploy.

[2016-06-28 15:26] luanmuniz commented on #7724
Investigating i think i found the source:

https://github.com/HabitRPG/habitrpg/blob/develop/website/server/models/group.js#L164
This query is returning `null` and than
https://github.com/HabitRPG/habitrpg/blob/develop/website/server/controllers/api-v3/groups.js#L130
This return the error

Any ideas how should we approach the solution?
When is appropriate to delete the partyId?

[2016-06-28 16:04] crookedneighbor commented on #7393
It's been deployed.

[2016-06-28 20:09] Nairwolf opened #7737 "Reset forgotten password should display a pop-up when mail is sent"
General Info
- UUID:
- Browser: Firefox 47
- OS: Xubuntu
### Description

When you try to log in and you forget your password, you go in this [page](https://habitica.com/static/front#/forgot-password-panel). When you write your mail address, and you valid it by clicking on the submit button, there is no pop up or something else to tell you that it's okay, your password has been reset, and you rece

[2016-06-28 20:44] Alys commented on #7737
There is a standard JavaScript alert popup that appears after you've clicked "submit", saying "If we have your email on file, a new password has been sent to your email."

Please close all browser windows then reopen and try using that form again.

If it still doesn't appear, look in your browser settings including in all your extensions, to see if you've blocked popups from Habitica in some way,

[2016-06-28 20:51] Alys commented on #7725
@sougat818 Yes, please do.

[2016-06-28 23:14] sporeball opened #7738 "The sprites for some equipment can touch the knockout image in the death modal"
**OS:** Windows 10
**Browser:** Google Chrome
**User ID:** ce3d1e2b-be53-4e5e-8101-273157548178

Example:
![](http://i.imgur.com/HqdjknA.png)

I'll open a pull request to fix this soon.

[2016-06-29 02:05] Hus274 commented on #7728
I can work on filling these in.

[2016-06-29 04:15] ShulamitLH commented on #7699
That is happening still for me as well. Once a challenge is saved, there's no option to add additional tasks or to change the title or difficulty of a task. I just tried it this morning, and it looked like it would add a task, but on refresh, the new task disappeared.

We really need to be able to edit existing challenges. It's too much work to re-create the challenge each time there is a small ch

[2016-06-29 04:17] ShulamitLH commented on #7599
When I recently added a new challenge, the order was completely rearranged when I hit save. It bears no resemblance to the order I added them.

[2016-06-29 04:18] ShulamitLH commented on #7320
That is happening still for me as well. Once a challenge is saved, there's no option to add additional tasks or to change the title or difficulty of a task. I just tried it this morning, and it looked like it would add a task, but on refresh, the new task disappeared.

We really need to be able to edit existing challenges. It's too much work to re-create the challenge each time there is a small ch

[2016-06-29 09:26] Alys commented on #7730
FYI, for the TAKE THIS challenge, there are 6817 participants and 5 of them have two sets of the tasks. Not a high proportion.

[2016-06-29 12:59] ghost commented on #7738
For possible reference, the latest changes were introduced with https://github.com/HabitRPG/habitrpg/pull/7156 (I don't know if this issue is actually related to those changes, but linking just in case)

[2016-06-29 14:11] luanmuniz commented on #6485
Is there still anything to do here?

[2016-06-29 14:15] luanmuniz commented on #6597
I like this too

But i think we should do a list and ask the users to change their username of duplicate exist. I know this is not cool but i also thinks this kind o password check should be temporary

[2016-06-29 14:19] luanmuniz commented on #4365
Any updates here? Can i get this?

[2016-06-29 14:23] librarianmage commented on #4365
I don't have a plan to work on this in the near future, so feel free!
On Wed, Jun 29, 2016 at 10:19 AM Luan Muniz notifications@github.com
wrote:

[2016-06-29 15:00] sporeball commented on #7738
Accidentally tapped the button to close the issue on GitHub's mobile site, haha. We're not done yet.

@GitHubSphinx Looks like that issue just fixed some formatting with the text in the modal for the Russian translation. Thanks, though.

[2016-06-29 18:32] #7652 closed, assigned to nobody

[2016-06-29 18:32] #7729 closed, assigned to nobody

[2016-06-30 00:36] mandyzhou opened #7741 "Bailey announcements no longer have dates in the titles"
The last three Bailey announcements have omitted dates from the titles. The dates were helpful for several reasons:
- Users are in different time zones, so statements like "This is the final day to subscribe and receive the Selkie Item Set" are more precise/meaningful.
- The dates made the [Old News page](https://habitica.com/static/old-news) easier to read since the numerals helped signal each se

[2016-06-30 02:18] crookedneighbor commented on #7741
@SabreCat @lemoness

[2016-06-30 12:21] Alys commented on #7724
I think it would be appropriate to delete `party._id` and also any guild ID from the user's `guilds` object at any time that a query for a group with that ID finds no matching group.

The code you've found looks relevant!

[2016-06-30 12:55] khipkin commented on #2373
My classes end in the next few weeks, and then I will start working on this again!  Not looking forward to merge conflicts. :stuck_out_tongue_closed_eyes:

[2016-06-30 13:07] khipkin commented on #4682
These ["Powered by Stripe" Badges](https://stripe.com/about/resources) seem like a good place to start, if you guys continue to use Stripe!  I know I always look for some kind of "Secured by..." or "Protected by..." badge when I purchase something online.

Ex: ![Dark version of badge](https://stripe.com/img/about/logos/badge/small/dark.png) ![Styled, bigger version of badge](https://stripe.com/img

[2016-06-30 13:19] khipkin commented on #7730
#6961 is also an issue with rapid clicking.

[2016-06-30 13:32] khipkin commented on #7721
Instead of loading all tasks for each member every time:
- [ ] add a `dateJoined` field in the `user.challenges` schema
- [ ] add something to the join-challenge logic that sets the `dateJoined` value
- [ ] deploy the above changes and wait a little bit
- [ ] have a one-time migration that sets all unset `dateJoined` values to the `dateCreated` value of the user's challenge's task(s)
- [ ] THEN yo

[2016-06-30 14:16] crookedneighbor commented on #7721
Unfortunately, it's not that easy. `user.challenges` is an `Array` of challenge ids. To do what you propose, it'd need to be an `Array` of `Object`s, which would be a breaking change for any integration that displays a user's challenges.

So, to do what you propose, we'd also have to transform the `Array` of `Object`s back to an `Array` of ids whenever someone requested the user object to maintain

[2016-06-30 14:43] crookedneighbor commented on #7724
So you basically need to add this after the group lookup, right before the group is returned.

[code]

In my opinion, it should still send back a 404, since that particular request was unsuccessful.

[2016-06-30 14:45] paglias commented on #7724
I agree that it should return a 404

[2016-06-30 14:53] ghost commented on #7599
[memorable]

[2016-06-30 15:17] SabreCat commented on #7741
Yup, just an oversight. I usually add them in if they're not part of the text @lemoness provides, but I must have spaced out the last few times. I'll add it to my checklist!

[2016-06-30 19:23] khipkin commented on #7721
Hmmm... I see.  What about adding a new field `user.challengesDateJoined` (or something more succinct) that maps challenge ids to date strings?

[2016-06-30 20:10] SabreCat commented on #6933
Does this still need the "wait" label? @Alys

[2016-06-30 20:13] SabreCat commented on #6169
Does this still happen as described post v3? I might expect people to see error messages instead of rollbacks, at least.

[2016-06-30 20:17] #5074 closed, assigned to nobody

[2016-06-30 20:20] SabreCat commented on #7731
Could this be a duplicate of #4548?

[2016-06-30 22:51] khipkin commented on #6933
Yes, it's waiting on #2373.

[2016-06-30 23:07] khipkin opened #7745 "500.html is out of date"
[/website/client/500.html](https://github.com/HabitRPG/habitrpg/blob/28f2e9c356d7053884107d90d04e28dde75fa81b/website/client/500.html) is very out of date.
- [ ] The page title uses "HabitRPG" instead of "Habitica".
- [ ] It either directs the user to a long-closed bug in the old repo ([here](https://github.com/lefnire/habitrpg/issues/165)) or to a blog post that no longer exists ([here](http://ha

[2016-07-01 00:29] #7741 closed, assigned to nobody

[2016-07-01 00:34] lemoness commented on #6485
No, this should be closed!

[2016-07-01 00:34] #6485 closed, assigned to nobody

[2016-07-01 02:39] Alys commented on #7731
Let's assume it is. Nice catch.

[2016-07-01 02:39] #7731 closed, assigned to nobody

[2016-07-01 02:40] crookedneighbor commented on #7745
That page is not actually used anymore. It should just be deleted.

[2016-07-01 02:41] #7745 closed, assigned to nobody

[2016-07-01 03:00] #5631 closed, assigned to nobody

[2016-07-01 03:28] crookedneighbor commented on #7721
I'd rather not. Probably the best course of action would be to have a new property. Something like `user.challengesJoined` that would be an object:

[code]

And then for backwards compatibility, `user.challenges` would be computed by looping over it and creating an array of ids.

[2016-07-01 03:59] sougat818 commented on #7723
Hey @Alys I would like to work on this.

[2016-07-01 13:01] ghost opened #7747 "giftedSubscriptionInfo string may be inacurate"
Reported by @Racobot and @lyubomirv on Transifex

`giftedSubscriptionInfo` string is `<%= name %> gifted you a <%= months %> Subscription`

With regard to its use in payment.js

`message: shared.i18n.t('giftedSubscriptionInfo', {months, name: byUserName}),`

the string supposedly results in e.g. `"User gifted you a 3 Subscription"` (for 3 months subscription) which doesn't feel right.

The string

[2016-07-01 13:24] crookedneighbor commented on #7747
month(s) seems like the right solution to me.

[2016-07-01 15:52] sporeball commented on #7738
@Alys This looks like it'll require changing the size of one of the spritesmith-main spritesheets (to make the knockout image in the spritesheet bigger). Is it fine if I do that?

[2016-07-01 16:17] SabreCat commented on #5299
Is this still happening since the v3 upgrade? Other than #7393, which was recently closed, I haven't seen anything like this.

[2016-07-01 16:32] SabreCat commented on #7738
@MrEikono: Editing any of the spritesheets directly won't help, because those images will be overwritten the next time we compile sprites. You'll want to edit the knockout image itself, found in `common/img/sprites/spritesmith/misc`.

[2016-07-01 21:39] Alys commented on #7747
Yes, in the code `months` is just a number, so the word "month(s)" will be missing from the message.

Also something for us to check: is the language being chosen correctly for that message? Is it picking up the receiver's language (desired) or the sender's language (incorrect)? https://github.com/HabitRPG/habitrpg/blob/develop/website/server/libs/api-v3/payments.js#L109-116

[2016-07-01 22:55] khipkin commented on #7747
@Alys that localization problem is also addressed in #7722.

[2016-07-01 23:23] joedragons opened #7749 "Post cron damage report does not include boss damage"
General Info:
- UUID: 66902097-c79b-496f-acd9-b78cc5867b28
- Browser: FF (47)
- OS: Windows 7

Description:
I noticed that after shutting down my machine for the evening pre-cron, when I wake the next day and load habitica, damage for incomplete dailies is given but that damage does not include damage (also from incomplete dailies) given by a quest boss you're fighting.

---Example---
Before I wen

[2016-07-01 23:40] thompsnm commented on #7661
I believe the suggested fix was put in place in #7681 to fix a duplicate bug I had opened (sorry about that!), so this issue can be closed.

[2016-07-01 23:48] Alys commented on #7661
Thanks!

[2016-07-01 23:48] #7661 closed, assigned to nobody

[2016-07-02 00:20] Alys commented on #7749
That health notification that you see is meant to tell you the total health
loss/gain since the last time the website synced to the server. Did a
healer in your party cast a skill to increase everyone's health either just
after your boss damage message in party chat, or any time in the several
hours before? If so, they increased your health enough that the total
health change you experienced was o

[2016-07-02 00:49] OnyxWings commented on #7670
I did find something after clicking the Facebook login button, receiving the message box, and looking in Firefox's debugger:

`LoggedIntoFacebook:undefined,LoginStatus:undefined`

Is there an "if" option for closing the Facebook login pop-up?

[2016-07-02 01:10] OnyxWings commented on #7670
The debugger also had

`LoggedIntoFacebook:undefined,LoginStatus:undefined`

[2016-07-02 01:50] joedragons commented on #7749
@Alys Thanks for the reply.  I confirmed with my party member, who is (currently) a healer, that they did not heal me between the time of the two screenshots or at all since.  It also does not show in the party log (which I can attach more of if it helps).

I did cast a personal heal later in the day, but it was hours later.

[2016-07-02 03:58] khipkin commented on #2965
Ping on this issue since this irritates me on a daily basis.

[2016-07-02 04:12] khipkin commented on #3921
I really like the idea of splitting up the informational vs actionable icons.

[2016-07-02 04:35] juanpflores opened #7751 "Character not leveling up after quest"
General Info
- UUID: f3c5f608-ff31-4bf4-9bee-7be8ed3465aa
- Browser: Chrome
- OS: Mac OS X "El Capitan" 10.11.5
### Description

My party just finished a Quest. I have enough XP to level up though I'm not getting to the next level. I refreshed the browser and there was no change on it.

![image](https://cloud.githubusercontent.com/assets/6200135/16538237/edeafa62-3fe3-11e6-8965-5530be3f3dc9.png)
#

[2016-07-02 04:55] sporeball commented on #7738
I don't know why my pull request fixing #7197 and the pull request I sent to my fork of the HabitRPG repository to update it are referenced in #7752 , but if changing the knockout image itself is the only thing I need to do, #7752 adds 80 pixels of width to the knockout image, which looks it like it should be enough.

[2016-07-02 05:22] juanpflores commented on #7751
It took a couple of hours to level up

[2016-07-02 06:04] Alys commented on #7751
Please see https://github.com/HabitRPG/habitrpg/issues/2433 for this issue.

[2016-07-02 06:04] #7751 closed, assigned to nobody

[2016-07-02 10:01] ghost commented on #7747
A separate issue, but from the same field:

an inbox message about sending/receiving gems from [members.js#L366](https://github.com/HabitRPG/habitrpg/blob/develop/website/server/controllers/api-v3/members.js#L366):

[code]

has a space missing which results in

`Hello <%= receiverName %>, <%= senderName %> has sent you4 gems! <optional message>`

[2016-07-02 10:49] #2466 closed, assigned to nobody

[2016-07-02 15:52] joedragons commented on #7749
RE:PS- This occurred to me again this morning and this time my party member did take damage so I suspect it is unrelated as I originally stated (tho maybe another bug lurking).

However, of note to the original description, I asked them to check if they received a window in the morning from the overnight boss damage and they did not receive anything though their HP was down the "correct" amount.

[2016-07-02 16:50] saada opened #7753 "Native macOS app"
Hey Habitica team,

I didn't know where else to reach you. I just built a [native macOS version of the web app](https://github.com/saada/Habitica-macOS).
I'd be more than happy to move my repo to your official Github organization.

Thanks for making Habitica,
- Moody

[2016-07-02 19:13] crookedneighbor commented on #7753
Hi @saada, at this time we won't be supporting an desktop apps that wrap the web app. You can, however, add your app to the [Habitica wiki](http://habitica.wikia.com/wiki/Category:Apps).

If you need help with that, feel free to [chat in the Aspiring Comrades guild](https://habitica.com/#/options/groups/guilds/2ff9822b-27f2-4774-98da-db349b57a38e), which is focussed on developing 3rd party apps an

[2016-07-02 19:13] #7753 closed, assigned to nobody

[2016-07-02 20:26] saada commented on #7753
Thanks @crookedneighbor
my userid: 4d6b8d45-d4d0-44b8-b149-e25b5c7ede09

[2016-07-02 21:22] crookedneighbor commented on #7753
Tier awarded! You can read more about [contributor tiers and rewards here](http://habitrpg.wikia.com/wiki/Contributor_Rewards).

Note that as your tier increases, it takes progressively more work to achieve the next one. There's some information about that at Contributor Rewards, but feel free to ask here if you have questions!

[2016-07-02 23:31] sporeball commented on #7738
Just changed the width of the knockout image again in 7b9a340. Here's a screenshot -

![image](https://cloud.githubusercontent.com/assets/12767408/16542945/032bf550-4072-11e6-81f7-82e0d882430c.png)

[2016-07-02 23:56] Alys commented on #4231
I'm sorry we never got back to you about this. I'm closing it now because the site has had many changes since you logged this, and Opera Mini probably has too. However if by chance you're still having trouble, comment here and we can reopen this, although if Opera Mini uses any non-standard browser behaviour, we might not be able to resolve the issue.

[2016-07-02 23:56] #4231 closed, assigned to nobody

[2016-07-03 00:08] khipkin commented on #7697
This is still happening for me.

There are tons of console errors like this:

But there are also some different ones this time:

![image](https://cloud.githubusercontent.com/assets/5641207/16543045/4fcb19cc-40c2-11e6-9fc5-c9df8d3fef32.png)

[2016-07-03 00:10] Alys commented on #7697
@khipkin Can you try again with all browser extensions disabled? Might not make a difference but worth trying.

[2016-07-03 00:40] tygryziolek opened #7754 "Habitica does not load in Opera browser"
General Info
- UUID: 46fbe915-b4a2-4525-b9d5-63bf1b4a4ab3
- Browser: 38.0.2220.31
- OS: OS X 10.9.5
### Description

Opera newly installed, all data imported from FireFox I used previously. First run.
When going to Habitica page, I get to Tips page, but no further. Instead it keeps switching between tips. The dashboard never loads.

I cleared local storage, deleted cookies and closed and opened br

[2016-07-03 01:37] khipkin commented on #7697
@Alys wow good call! That did it.  I wonder which extension caused it.  Adblock maybe?

The only errors on the console this time were 4x the `api.amplitude.com` error mentioned above.

[2016-07-03 03:24] luanmuniz opened #7756 "[Suggestion] Create debug script to give char gems"
### Description

Today i tried to test a part of the website that need Gems at my local env but i could not find how to give my char Gems. Maybe is as simple as editing the gold amount at the database, but i didn't find out how.

Since we have debug scripts to equips, mounts and pets, we should have for gems too.

[2016-07-03 04:01] crookedneighbor commented on #7756
Go to the footer:

![screen shot 2016-07-02 at 11 01 24 pm](https://cloud.githubusercontent.com/assets/2916945/16543706/ed83b166-40a8-11e6-99a7-cd5f108d9d08.png)

[2016-07-03 04:01] #7756 closed, assigned to nobody

[2016-07-03 04:20] sougat818 commented on #7754
http://help.opera.com/Mac/12.10/en/errorconsole.html This might help with reporting cosole errors.

[2016-07-03 06:18] Alys commented on #7754
@sougat818 Thanks, that's useful!

@tygryziolek Can you please open the "Errors panel" using those instructions, then reload the Habitica website, and tell us what (if anything) appears in the Errors panel?

You might also like to try using private mode (File > New Private Window) with no extensions or add-ons enabled. That might get Habitica working straight away, and it would be useful to know i

[2016-07-03 07:08] Alys commented on #7697
It could have been adblock or a similar blocking/privacy extension, although they really shouldn't have any effect on the quest behaviour and so this is something we should look at in more detail. Would you mind narrowing down which extension it was that caused the problem? As a first step, I'd recommend turning **on** all extensions **except** those that:
- block ads
- enhance security/privacy (e

[2016-07-03 09:20] Alys commented on #5988
Another report in the Tavern from Felis.Mau (f5b75d40-e57d-4fd7-8db8-a57c5d12ba8a):

"I started a quest yesterday before I checked of my dailies, I didn't check in the tavern but I didn't do any damage today... Normally I make a few hundreds of damage..."

I've confirmed that Felis.Mau:
- forced started the quest at Jul 2, 2016 10:03:44 pm UTC
- cronned at Jul 3, 2016 6:11:32 am UTC according to b

[2016-07-03 12:17] luanmuniz commented on #7756
@crookedneighbor Thank you, didn't saw that. Maybe mention it in the readme, next to the debug scripts?

[2016-07-03 12:59] khipkin commented on #7697
I turned off all extensions again and checked that it still worked.  (It did.)

Then I turned them all back on, one at a time, and checked that it still worked each time.

The confusing part is that, even after I had re-enabled all of them, IT STILL WORKED. ???????  I mean, I guess that's a good thing, but now I have no idea why it ever didn't work to begin with?

[2016-07-03 15:17] khipkin commented on #5953
I just reproduced this a few times.

I opened an existing task, added an empty checklist item to the end, and attempted to move the empty item back to the beginning.  Doing so deleted a bunch of the checklist items.

![image](https://cloud.githubusercontent.com/assets/5641207/16546136/a8892818-4141-11e6-8ee8-a377b52598a6.png)
![image](https://cloud.githubusercontent.com/assets/5641207/16546143/b92

[2016-07-03 21:23] RedCloakLife opened #7757 "Can't Delete To-Do's and Tasks for Closed Challenges"
I have joined a few challenges over my time on Habitica and each time one comes to an end the tasks/dailies/to dos are still on my page and I cannot delete them. I can't find the challenge to leave it since the challenge is closed and I don't know how to clear these items from my lists.

User ID: baec4cdf-61d1-4f42-aa63-42cce8a1866d

[2016-07-03 21:26] khipkin commented on #7757
Do any of them have a little red megaphone icon next to them?  If so, try clicking on that.  A "remove" option should pop up.

[2016-07-03 21:27] RedCloakLife commented on #7757
Ooph, that worked perfectly. Thank you so much!

[2016-07-03 21:37] Alys commented on #7757
@RedCloakLife thanks for letting us know it's working.

@khipkin Thank you!

[2016-07-03 21:37] #7757 closed, assigned to nobody

[2016-07-04 10:27] habitrpguser commented on #7716
I just want to confirm that this happened to me, too.
It is very likely that I was active (i.e., logged in) on the site at the moment that the challenge was closed.
I'm using the website, not the app.
This is the only time I won a challenge since the API change. So I can't remember any time when this did NOT happen lately. (So it's actually possible it happens always. If you want to find that out,

[2016-07-04 11:05] paglias commented on #7716
The code in the won-challenge modal is written to show not the last won challenge but the previous one

`::user.achievements.challenges[user.achievements.challenges.length - 1]`

Maybe it was needed before the rewrite but now it seems a bug

[2016-07-04 11:06] paglias commented on #7716
Ignore my previous comment

[2016-07-04 16:04] SabreCat commented on #7738
@lemoness, what do you think?

[2016-07-04 18:28] beeflin commented on #2176
Surely, if the random number generator is truly random, it is possible to get a infinitely long streak without an essential item? It would happen to a few people and spoil the game for them. I'm waiting to see whether I'm one of those people (many eggs, few potions). But if I were setting the frequency of drops I would make it slightly non-random to eliminate this possibility. Is this not a good i

[2016-07-04 19:41] khipkin commented on #2176
_tl;dr If the random number generator is truly random, no one's game will be spoiled._

---

Things can be technically "possible" but with such a negligible probability that they may as well be impossible.

For example, GUIDs are "unique", but it is technically possible to generate the same GUID twice.  It's just so **so _so_** unlikely that we assume it will never happen. If it ever did, the univ

[2016-07-04 19:44] khipkin commented on #5299
This has been happening to me consistently for the last few days.

[2016-07-05 05:35] dpaczewski opened #7758 "local install error: fs.js:808 - return binding.readdir(pathModule._makeLong(path));"
General Info
- UUID: n/a
- Browser: n/a
- OS: Ubuntu 14.04
- node: v4.4.7
- npm: 3.10.3
- grunt: grunt-cli v1.2.0
- habitica build: I think it's the latest
### Description

I try to install habitica on fresh Ubuntu installation (v 14.04) running on VMwave. I follow the instructions found on the local installation page. Once I run the 'npm start' command I get the information that:

[nodemon] app c

[2016-07-05 06:00] Alys commented on #7758
Can you please show us the full output of the earlier steps in the installation process? It's likely that errors started there, and we'll need to fix the earliest errors first. Also tell us how much swap space is on your nemesis machine.

[2016-07-05 09:29] khipkin commented on #5299
And it only happens for guilds, not parties.  If I visit my party page first, that notification clears.  Then, for the first guild I visit after that, the notification doesn't clear.

[2016-07-05 10:25] dpaczewski commented on #7758
OK, but I will have to go through the installation process once again, so I will have the time to do this in a couple of hours.

I don't think I have swap unless Ubuntu creates it on it's own.

If it comes to installation then I had to perform one additional step which was the installation of g++ which wasn't installed by default and which is not mentioned in wiki - I think that was the reason I h

[2016-07-05 12:33] paglias commented on #7758
@dpaczewski can you try creating manually the folder `/home/night/habitrpg/website/build`?

[2016-07-05 15:58] SabreCat commented on #5299
Yup, just had this happen to me too. Reopening!

[2016-07-05 15:59] dpaczewski commented on #7758
@paglias - this sovled the problem. Looks like the system is up and running! Thank you :)

![image](https://cloud.githubusercontent.com/assets/15254143/16590997/2cca1cba-42da-11e6-89a6-1a5907e1dae9.png)

[2016-07-05 16:34] paglias commented on #7758
@dpaczewski great!

[2016-07-05 16:34] #7758 closed, assigned to nobody

[2016-07-05 17:25] #7648 closed, assigned to nobody

[2016-07-05 17:25] paglias commented on #7180
Android has been ported

[2016-07-05 17:25] #7169 closed, assigned to paglias

[2016-07-05 17:26] #5891 closed, assigned to paglias

[2016-07-05 17:40] paglias opened #7759 "API rate limiter"
In v2 we had a middleware to throttle API requests, it's been removed in v3 because it was not supported anymore but we should add something back to limit the number of requests an IP can make.

The last used version can be found here https://github.com/HabitRPG/habitrpg/blob/47f6f2febecb3aea2b805ba77a0c8e1c8b095389/website/src/middlewares/apiThrottle.js

[2016-07-05 18:35] #7348 closed, assigned to nobody

[2016-07-05 21:57] camdroid opened #7763 "Challenges: "Select All" doesn't select all challenges"
General Info
- UUID: beb555b6-31ab-4da2-b168-0d02d4c6dda9
- Browser: Chrome 51.0.2704.106
- OS: OS X El Capitan 10.11.5 (15F34
### Description

When clicking "Select All" in the Challenges view, not all challenges are actually selected.

After clicking "None":
<img width="1395" alt="screen shot 2016-07-05 at 2 44 46 pm" src="https://cloud.githubusercontent.com/assets/189652/16601194/106e7378-42c0-

[2016-07-06 00:37] khipkin commented on #7763
Weird. Maybe an off-by-1 error or something?

[Here](https://github.com/HabitRPG/habitrpg/blob/28f2e9c356d7053884107d90d04e28dde75fa81b/website/views/options/social/challenges.jade#L86) is the "All" group filter button, which calls the challenge controller's `selectAll()` function ([here](https://github.com/HabitRPG/habitrpg/blob/28f2e9c356d7053884107d90d04e28dde75fa81b/website/client/js/controlle

[2016-07-06 00:40] cTheDragons opened #7764 "Leaving the guild removes you from the challenges even though it appears you are still participating"
### General Info

bc10ec41-4213-4482-bbb8-558e3c3ea8d5
Opera 37.0.2178.43
Windows 8.1 32-bit
### Description

Leaving the guild removes you from list of participants of the challenges even though it appears you are still participating. I just checked with [this challenge](https://habitica.com/#/options/groups/challenges/0e44b906-86bf-46ef-9733-b99d4fd6404c). States 2 Participants but only @R@chel

[2016-07-06 00:41] khipkin commented on #7648
@paglias Was this resolved by the Shrinkwrap thing?

[2016-07-06 02:00] Alys commented on #7764
I'm strongly in favour of staying in challenges when you leave a guild. It would work much better with many of the ways that challenges and guilds are used (e.g., we often try to put challenges about a certain topic in a guild of the same topic, but for anyone to join not just current guild members).

[2016-07-06 02:02] Alys commented on #7763
It currently shows you all the guilds that host challenges you have joined, but the select all button highlights only guilds that you are a member of.

The desired behaviour is to highlight all guilds in that list.

[2016-07-06 07:52] ghost commented on #7719
I would also like to contribute to this if its still needed.

[2016-07-06 09:29] paglias commented on #7648
@khipkin no, it was resolved from another change that makes sure localStorage never gets corrupted

[2016-07-06 13:54] lousanna opened #7765 "Please ignore"
Removed.

[2016-07-06 14:05] tygryziolek commented on #7754
Guys, I feel a little bit silly right now - I tried to see the error console and all of the sudden the page loaded! It took a while, but loaded just fine, and as far as I checked - works all right.
Sorry for bothering you. I don't know what happened, but I'm glad it did :)
Thank you for your suppport.

[2016-07-06 17:42] paglias commented on #7754
@tygryziolek don't worry, we're happy that it worked :)

[2016-07-06 17:42] #7754 closed, assigned to nobody

[2016-07-07 14:59] ShulamitLH commented on #7699
I just tried creating a new challenge with a variety of tasks and difficulties. After saving, I had a different member of our party join the challenge. All of the tasks had randomly organized themselves and had all reset the difficulty to easy, despite that I had set them about 1/3 easy, 1/3 medium and 1/3 hard. I was unable to make any changes on the challenge using edit.

[2016-07-07 15:00] ShulamitLH commented on #7599
I just tried creating a new challenge with a variety of tasks and difficulties. After saving, I had a different member of our party join the challenge. All of the tasks had randomly organized themselves and had all reset the difficulty to easy, despite that I had set them about 1/3 easy, 1/3 medium and 1/3 hard. I was unable to make any changes on the challenge using edit.

[2016-07-08 02:07] lemoness commented on #7738
That might be a little too far to the right. How does it look over the user's head?

[2016-07-08 03:49] mcooledge commented on #7717
I would be interested in poking at this a bit. Would be learning the stack as I go so it may take a bit of time to figure out - based on currently open issues, this seems like a good place to start.

I can't think of a better way to do it than (check if content needs to be loaded)(force reload if necessary), so I'm willing to keep that open for discussion as well.

[2016-07-08 17:40] citrusella commented on #7764
Would also be helpful if someone purposely or accidentally joins one of the Tavern's [two](https://habitica.com/#/options/groups/guilds/00000000-0000-4000-A000-000000000000) [links](https://habitica.com/#/options/groups/guilds/habitrpg) (each linked word is a different version of the guild) visible in the guilds list--leaving wouldn't kick them from _all_ Tavern challenges.

[2016-07-08 23:11] Alys opened #7767 "can't flag system messages in party chat"
It's no longer possible to flag the system messages in party chat - i.e., the messages that report skills cast and quest progress. They need to be flaggable so that players can report them when the person mentioned has an inappropriate name.

The error message is: `"member" must be a valid UUID.`

Having a UUID check is good, but we should make an exception for system messages.

[2016-07-09 12:49] ghost opened #7769 "Some pets appear on top of the background border"
General Info
- UUID: 60e9e6cd-efdb-4e9d-8035-3277c3276d52
- Browser: Chrome
- OS: Windows 10
### Description

I'll just copy paste my comment from the Report a Bug guild:

Alys contacted Lemoness about this, and she said that she'd like to have that fixed by having the pets positioned higher.

I'm not sure if she meant to position them higher by editing the PNGs of the specific pets this happens w

[2016-07-10 16:39] Hus274 commented on #7767
I can take a look into this.

[2016-07-10 18:01] luanmuniz commented on #7759
https://github.com/HabitRPG/habitrpg/blob/develop/website/server/middlewares/apiThrottle.js
This file still exist, with another module making the limit. But this file is not called anywhere.

Can you explain in details what we should do? that way i can send a PR. Thank you

[2016-07-10 22:45] Hus274 commented on #7764
I can look at this

[2016-07-11 02:11] sporeball opened #7772 "The filters bar interacts weirdly with the menu containing health, experience, etc. whenever the tasks page is loaded"
**OS:** Windows 10
**Browser:** Google Chrome
**User ID:** ce3d1e2b-be53-4e5e-8101-273157548178

Whenever the tasks page loads, the filters bar renders partially on top of the menu containing the player's avatar, health, experience, mana, and party members. Because of this, to use the scrollbar in this menu in order to see all party members, you have to click and drag on the top few pixels of the

[2016-07-11 02:21] sporeball commented on #7738
@lemoness Does this look okay?
![image](https://cloud.githubusercontent.com/assets/12767408/16718292/87caf4de-46d3-11e6-869e-9ffc9ac355f4.png)

[2016-07-11 09:57] Alys commented on #7769
Speaking for myself, I quite like it when the pets are more to the left because it hides less of the mount and avatar. Perhaps you could move the Falcons and Eggs up a pixel or two without moving them horizontally? That's a personal opinion though.

I'm pretty sure Lemoness meant editing the PNGs. I agree with you that changing the code wouldn't be the best approach.

[2016-07-11 10:22] paglias commented on #7759
@luanmuniz unfortunately this will require some deep changes because the app is spread across multiple server and a local throttler would be pretty meaningless as there isn't an easy way to share the data about requests across servers.

Thanks for the interest but for now I don't think we'll make any change for this

[2016-07-11 11:29] luanmuniz commented on #7759
There are a few modules that can plug a Redis store in it and it can work in multiple instances
https://www.npmjs.com/package/express-rate-limit
https://www.npmjs.com/package/rate-limit-redis

But the problem here is that we need a Redis instance, i could not find anything mentioning redis in the code so i think we don't have one today.

[2016-07-11 11:59] ghost opened #7774 "Time stamp in chat is not localized anymore"
Reported by linguists (@CakeKnight) and forwarded from the Report a Bug guild

The time stamp used to be in a user's system language. The feature has lost translations now, which as it seems might have coincided with #7664 (or not :smiley:)

FYI @paglias @Alys

[2016-07-11 12:39] paglias commented on #7759
Yeah, no Redis or any other in memory store for now

[2016-07-11 14:32] #7765 closed, assigned to nobody

[2016-07-11 15:42] ghost opened #7775 "Delete Account"
General Info
- UUID: b17c9359-9ed1-44df-9437-cf954cb49b98
- Browser: Safari
- OS:
### Description

Hello, I am trying to delete my account, but it seems that I have the wrong password. If you can help me in any way, please and thank you. Below, it shows what happens after I hit enter for the passwords.

<img width="287" alt="screen shot 2016-07-11 at 10 40 22 am" src="https://cloud.githubuserconte

[2016-07-11 16:09] paglias commented on #7775
@aslinkma it looks like yours is a Facebook account and currently we have a bug preventing those accounts from being deleted correctly, sorry about this!

Right now the only way to deleted FB accounts is to add local authentication to your account (email and password) from the settings page, then you'll be able to delete the account using the same password:

<img width="702" alt="schermata 2016-07

[2016-07-11 16:41] mcooledge commented on #7772
I just want to chime in that this is consistent for
**OS:** Windows 10
**Browser:** Firefox 47
**User ID:** 225ebf4e-8e61-4b80-93b8-74da957021fc

[2016-07-11 17:10] ghost commented on #7775
Thank you!

[2016-07-11 18:35] WillowKB opened #7776 "Would like to transfer leadership of a Guild to another member, but their name is not showing up in members list!"
Hi there,

I'm trying to transfer leadership of the Guild 'Veggie cooking club' ( 30af590a-74d4-4e68-9e72-558a75c6c64d ) to Para spark ( f8bedd9e-b3be-45f4-a458-91b25726e0fa ), but her name is not listed as a member. She has joined and rejoined, just to make sure, but her name is not given as an option when I'm trying to transfer leadership.

My ID: 0111e48f-f912-40f7-8126-8c066d8002ae

Could you

[2016-07-11 19:06] ghost commented on #7776
@WillowKB unfortunately, it's a known issue: https://github.com/HabitRPG/habitrpg/issues/1806

Based on the previous answers, you may be asked to send a message to a moderator in Habitica

I'm just another user like you so please take my advice for what it's worth - it only might save you some time. You could copy your message and paste it in the chat found at [Help > Report a Bug](https://habitic

[2016-07-11 19:33] WillowKB commented on #7776
Will do, thanks so much for letting me know :)

[2016-07-11 20:23] DrStrangepork opened #7777 "API Documentation - typo in "Update a task""
### Description

Task - Update a task

https://habitica.com/api/v3/task/:taskId

Should be **tasks**

[2016-07-11 21:41] #7775 closed, assigned to nobody

[2016-07-11 21:43] lynxlynxlynx opened #7778 "static/features: missing image"
https://habitica.com/static/features has a reference to https://habitica.com/common/img/sprites/spritesmith/quests/quest_vice3.png (above "Fight Bosses") which can't be found anymore.

[2016-07-11 22:52] Alys commented on #7776
@GitHubSphinx Perfect, thank you. <3

Closing this as it's been handled in the Bug guild.

[2016-07-11 22:52] #7776 closed, assigned to nobody

[2016-07-12 00:04] khipkin commented on #7778
Confirmed.
![image](https://cloud.githubusercontent.com/assets/5641207/16750838/e28a25aa-47d4-11e6-9595-901f8f9a4dd3.png)

[2016-07-12 01:29] sporeball commented on #7738
Don't mind the 30 or so new commits in #7752 , I'm just bad at rebasing apparently

[2016-07-12 02:28] #7767 closed, assigned to nobody

[2016-07-12 06:20] ghost commented on #7769
@Alys yeah, good idea. I could probably do that. But I'd still rather do it for all pets...

I mean, I'm sure there are other pets that behave like this, other than the Egg and Falcon, so moving all pets will fix it for any other ones this is happening to.
And I think it would be nice for all pets to appear at about the same spot, instead of having each pet in a slightly different place.

I'm now

[2016-07-12 06:35] ghost commented on #7738
@MrEikono for what it's worth it feels that some pieces of head gear might touch the knockout image if it's placed above the head like that. You may want to test the [Shade Helm](http://habitica.wikia.com/wiki/Backers#Backer_items) for example, [Flame of Mind](http://vignette3.wikia.nocookie.net/habitrpg/images/b/b9/Head_mystery_201405.png/revision/latest?cb=20150712063217) or [Crown of Tentacles]

[2016-07-12 06:51] ghost opened #7779 "Boss rage effect message in chat doesn't have code style which may look odd"
The rage effect string in party chat doesn't use the code formatting. It looks a bit odd among other system messages.

Example:

![pic](https://snag.gy/FMYzNX.jpg)

Place in the code: https://github.com/HabitRPG/habitrpg/blob/develop/website/server/models/group.js#L531

[2016-07-12 09:16] ghost commented on #669
Seems that there exists at least one other reason. Seems to me that certain names are not wanted.

[2016-07-12 11:36] Alys commented on #669
@blogsettings There is currently no filtering preventing certain names being used when a new account is created, except names that are already in use (which cannot be used again for another account). What problem are you experiencing specifically?

[2016-07-12 11:45] ghost commented on #669
I wanted to rename my username to blogspot which apparently does not exist:
https://gist.github.com/blogspot/ - Result: **Page not found**
**404 - This is not the web page you are looking for.**
So why is it not possible to choose the name?

[2016-07-12 11:51] Alys commented on #669
That's referring to a GitHub user account, whereas this closed issue was referring to accounts on the https://habitica.com (Habitica / HabitRPG) website. We can't help you with GitHub account issues. You can access your GitHub profile at https://github.com/blogsettings and it might allow you to change your username, but if you need help with that, try contacting GitHub.

[2016-07-12 11:54] Ozzystrasza commented on #7779
I'd like to work on that one, if it's ok.

[2016-07-12 14:02] Alys commented on #7779
@Ozzystrasza Please do! Thanks!

[2016-07-12 15:04] SabreCat commented on #7738
...I only just now got the joke inherent to "Flame of Mind".

I'm slow. Like, two years slow, apparently.

[2016-07-12 18:03] #7728 closed, assigned to nobody

[2016-07-12 22:57] #4365 closed, assigned to nobody

[2016-07-13 00:24] lemoness commented on #7738
I guess you just weren't in the right frame of mind for it ;)

But yes, I think that many of the helms will unfortunately overlap.

On Tuesday, July 12, 2016, Sabe Jones notifications@github.com wrote:

[2016-07-13 00:31] Hus274 commented on #7764
I removed the code that deletes the user from the challenge when leaving a group which required an update to the delete user because it was using that functionality to remove the user from any challenges they were participating in. After writing this replacement code, I was trying to write a new test for the delete user functionality and it looks like the challenge model leave method only removes

[2016-07-13 00:38] Hus274 commented on #7764
Looks like to determine the members in a challenge is actually just a database scan to find any users with the given challenge id so it should only need to reduce the member count which is much easier.

[2016-07-13 01:57] Alys commented on #7738
Oh.... frame of mind.... I TOTALLY got that after Sabe's comment and didn't have to wait for Lemoness's reply AT ALL. :blush:

[2016-07-13 02:15] Alys commented on #5988
Another report in the bug guild from AC (03a02bbb-d54d-48c6-96f9-117c804d8590):

"I logged in today and my tasks reset, but I didn't deal any damage to our boss, despite having done a lot of work yesterday. I didn't do any damage to the party either, even though I left a couple of dailies undone. There's just no line about my damage at all in the party chat. Is this some sort of bug? I was logged

[2016-07-13 03:56] Alys commented on #5988
Tavern, Moosy (7583232e-3233-4ce6-81de-8ac8b67f9a4b):
"@AC You are not the only one, I also didn't deal any damage :("

Most recent quest progress message:

[code]

A more recent cron in Amplitude: `Jul 13, 2016 3:29:29 am UTC` (resting false)

[code]

[code]

[2016-07-13 05:37] Alys commented on #5988
Bug guild, ann (01b5a3ef-933e-4258-ac27-4b6af46d85fc):
"I also had the same problem as AC, none of my damage to the monster was recorded last night. Haven't been resting in the tavern for a couple weeks."

Most recent quest progress message:

[code]

A more recent cron in Amplitude: `Jul 13, 2016 4:53:15 am UTC` (resting false)

[code]

[code]

[2016-07-13 05:43] Alys commented on #5988
Bug guild, leviatus (6ff8d2fb-6f5b-411e-985b-18e8195e4aee):
"Hi, I am facing a similar issue to AC in which I did not deal any dmg to the party boss. There seems to be a problem resetting some tasks as well."

**Three of leviatus's Dailies are marked as completed and have no history entry from the most recent cron (the other Dailies do have that history entry).**

Most recent quest progress messag

[2016-07-13 05:47] Alys commented on #7779
@Ozzystrasza You can reproduce this error by starting the The Magical Axolotl quest, leaving some due Dailies uncompleted, then forcing cron by using the "missed +1 day" button in the debug menu in the footer of the website on your local install and then clicking the sync button. Tell us if you need more details!

[2016-07-13 06:33] Alys commented on #5988
Another confirmed report from Zebedee (94fae8ce-e89b-4984-9a76-0ce709267f24):

Cron ran `Jul 13, 2016 5:46:17 am UTC`, no quest progress.

[2016-07-13 06:50] Alys commented on #5988
Possibly related:
- cTheDragons (bc10ec41-4213-4482-bbb8-558e3c3ea8d5) reported that after using the Orb of Rebirth, two of her non-challenge To-Dos were still orange (I confirmed that by looking at their values)
- Bug guild 10 hours ago from CritterDoc42 (e01b9191-194f-4dfc-9461-9dca3fdc49e8): "On the website I keep getting a red error message saying an unexpected error occurred. It asks me to re

[2016-07-13 08:19] Alys commented on #5988
Another confirmed report from Timothy Crittenden (7bbf8061-0609-466c-9705-62a47e94939c):

Cron ran `Jul 12, 2016 10:10:04 pm UTC`, no quest progress.

[2016-07-13 08:31] Alys commented on #5988
Lyna (60418e8f-ee15-428a-8f3a-9b7b13dc5f7c)
`Jul 13, 2016 3:56:03 am UTC`

[2016-07-13 09:14] OrangeBoreal commented on #4174
Hello,
No damages dealt for me this morning, nothing showing up in the chat even when I click on "Fetch recent messages".
I'm the quest owner, not resting in the Inn, used the iOS app to connect first this morning.
My ID: bc612705-7cb4-4f3e-ba39-0871980b1a11
Group ID: f14cdfd7-cc6e-47e9-a5a0-fc38ad140efe

Thanks for the help !

[2016-07-13 09:19] Alys commented on #5988
Jlbl (bc612705-7cb4-4f3e-ba39-0871980b1a11) `Jul 13, 2016 5:05:35 am UTC`

[2016-07-13 09:20] Alys commented on #4174
@OrangeBoreal Sorry about that, and thanks for letting us know! Usually that happens just once so you should be back to normal tomorrow, but please tell us if it happens again on this quest or any future one!

[2016-07-13 10:52] Alys commented on #5988
- Another person with two Dailies that didn't become uncompleted and that have no history entry for the most recent cron: Wraith Lord (ac6cdf93-afca-4121-8cbc-c8e5c34ce17d)
- Someone with a Daily they didn't finish which did not lose its streak and they didn't lose any HP: Ava (5d3c3da9-651c-404c-b02e-1a1ff3126b35). I confirmed that one of their Dailies is missing the most recent history entry.

[2016-07-13 11:42] Ozzystrasza commented on #7779
@Alys That worked thanks! And I fixed the problem! Well at least in my local version, now I don't know exactly how to make the same changes here.
I made changes to these files:
common/locales/ja/questscontent.json
common/locales/en/questsContent.json
common/locales/ro/questscontent.json
common/locales/sk/questscontent.json
common/locales/zh_TW/questscontent.json
common/locales/en@pirate/questscont

[2016-07-13 11:47] Alys commented on #7779
@Ozzystrasza In general, you need to commit your changed files, then push your changes to your own GitHub copy of the repository, and then do a pull request. See Guidance for Blacksmiths for more details, or look at any good git instruction website (the Guidance page has links to one or two good ones).

However note that in this particular case, you don't want to commit all of those files - just t

[2016-07-13 11:56] ghost commented on #7779
TBH I would be slightly against solving it this way. If I get it right, you want to add markdown styling in locales text. It would leave space for inconsistencies if/when translators misunderstand the purpose of "those symbols at the beginning and at the end". If there's no other way, I would add instructions to translators, but I'm almost sure we'll end up having at least one language not process

[2016-07-13 12:00] Ozzystrasza commented on #7779
hmmm I could try a diferent way, but I did that because the first line of the text ("Magical Axolotl uses AXOLOTL REGENERATION!") already had markdown styling in the locales text, so I thought someone just forgot to do the same for the second line.

[2016-07-13 12:16] crookedneighbor commented on #7779
I see your point @githubsphinx, but we should just  change the locale for now. We're going to do a redesign of the frontend soon and we may decide to change how system messages are displayed. We can make decisions about how the locales are done then.

[2016-07-13 12:18] ghost commented on #7779
OK, you got me convinced XD

[2016-07-13 12:56] #7779 closed, assigned to nobody

[2016-07-13 14:14] Ozzystrasza commented on #7724
Is this how it should look like in [line 158](https://github.com/HabitRPG/habitrpg/blob/develop/website/server/models/group.js#L158) and on? Or am I completely wrong?

[code]

[2016-07-13 17:00] citrusella commented on #7778
I believe the correct URL is https://habitica.com/common/img/sprites/spritesmith/quests/bosses/quest_vice3.png, after working out the syntax from [this](https://github.com/HabitRPG/habitrpg/blob/develop/common/img/sprites/spritesmith/quests/bosses/quest_vice3.png).

[2016-07-13 17:47] Otocinclus commented on #5988
Hi Alys, I'm the other one in a party with AC (I'm dfa5d988-992a-4dec-8183-c15c8adb041f) We were doing the Wailing Whale quest at the time. I'm showing my previous check in as normal (7/10/16 @ 0:34), and then it jumps to (7/12/16 @ 4:56 am). I check in every day, and definitely was not awake at 5 in the morning. I have my cron set to 4:00am, so I wonder if my 7/11 check in got delayed and therefo

[2016-07-13 21:19] keysmashes opened #7784 "Task notes don't always disappear properly after hover"
General Info
- UUID: `0e1d15f7-f36b-4f15-a9e1-0c31b732dac9`
- Browser: Chrome 51
- OS: Ubuntu 14.04
### Description

![image](https://cloud.githubusercontent.com/assets/9433472/16819931/8be4633c-4946-11e6-8028-e1177819103d.png)

To reproduce:
1. have a task with extra notes
2. hover over task, notes appear
3. hover over progress button, tooltip appears
4. move cursor up over tooltip as it disappea

[2016-07-13 22:34] #7301 closed, assigned to nobody

[2016-07-13 23:38] Hus274 commented on #7730
I can look into pushing out a fix for this

[2016-07-14 02:23] Hus274 commented on #7730
Looks like the deduping function in the syncToUserMethod is working but the duplicate still happens in the database for some reason.

Log statements:

[code]

DB after the parallel posts:

[code]

I don't know how the two updates get merged as I would think one would just overwrite the other. I'm going to try to dig a little deeper into it to see if I can find the actual root cause

[2016-07-14 03:17] Hus274 commented on #7730
I see the duplicated save happening:

[code]

With the following code:

[code]

From my understanding of the mongoose save, a save of the local document should completely overwrite what is currently in the database so I don't see how saving with 3 challenges can result in 4 challenges in the database. Any thoughts on how this could be happening?

[2016-07-14 03:25] Hus274 commented on #7730
Looking at the object returned in the callback of the user.save() function, the duplicate isn't seen:

[code]

[2016-07-14 03:30] Hus274 commented on #7730
Potential solution is maybe to do a couple update operations instead of a save `User.update({_id: user._id}, {$addToSet: {challenges: challenge._id}}));`

[2016-07-14 04:05] Hus274 commented on #7730
So I think I might have figured out what was happening here. Mongoose treats saves of objects that already exists as inserting a differential between what's there and what's being saved. In this case, I think what would happen is both of the saves are occurring at the same time and both compute a diff against the document without the challenge being added. Both computed differentials then have the

[2016-07-14 04:28] sporeball commented on #7738
Fixed the fork. Testing various pieces of head gear now.

[2016-07-14 05:07] sporeball commented on #7738
Even the Shade Helm doesn't overlap with this setup. (Is the knockout image too close to the health bar now, though?)

![](http://i.imgur.com/UWIcr6X.png)

I'll have to adjust the dimensions of the knockout image accordingly if this is fine, so we won't have to use any `top` or `left` values on `.knockout`, but here's what I did in Chrome's developer tools:

![image](https://cloud.githubuserconten

[2016-07-14 12:52] khipkin commented on #5299
Now that the message count notification has been added, I noticed that when I go to the first guild page after the site reloads, the count momentarily flickers down by one but then increments again once the page fully loads.

This makes me think the message for the guild is being dismissed locally only, which then gets overridden by the values on the server when the sync completes.

[2016-07-14 12:56] khipkin commented on #5299
If I _don't_ fetch recent messages, leaving the notification count artificially high, then cast a buff for my party that shows up in the party chat, the client syncs and the +1 count for my party chat cancels out the fake +1 from the already-read guild chat.

Seems like a race condition where the client tries to update the server while the server tries to update the client; the server wins, so the

[2016-07-14 22:03] keysmashes commented on #7784
I did some more testing, and I think in order to reproduce, you can just leave the cursor on a tooltip like 'Progress' until the tooltip disappears. The extra notes popup is then wedged open until the mouse moves onto and off the task.

[2016-07-14 22:32] acrylicconstellations opened #7786 "A cheap way to get free eggs"
General Info
- UUID:  d0fcef2a-f556-4dae-aeb5-c6b19c63ae38
- Browser: Google Chrome
- OS: Chromebook
### Description

Sometimes when you complete dailies, an egg gets dropped. I accidentally found while trying to fix some values that if you keep clicking to complete/uncomplete dailies, you can get a lot of eggs of that certain pet. It could be a way to cheat, I don't know if it even counts as a bu

[2016-07-14 23:07] Alys commented on #7786
Thanks for telling us! However we don't really mind about this. :) It can even be useful as part of a custom reward. See my comment at https://github.com/HabitRPG/habitrpg/issues/4626 for more details.

[2016-07-14 23:07] #7786 closed, assigned to nobody

[2016-07-15 02:28] lemoness opened #7788 "When an invitation is accepted, the inviter should be notified."
When a Party or Guild invitation is accepted, the person who sent the invitation should receive a notification that it was accepted.

Sample text:

[NAME OF USER] accepted your invitation to [NAME OF GUILD/PARTY]!

[2016-07-15 02:36] lemoness opened #7789 "Say "Invitation Sent" instead of "Invitations Sent" if only one invitation was sent"
We should adjust the notification message for invites to say "Invitation Sent" instead of "Invitations Sent" if only one invitation was sent.

[2016-07-15 03:16] Alys commented on #7789
Any programmer working on this should keep in mind that the non-English translations will handle plurals in different ways. Possibly in some languages the verb will need to be pluralised too, not just the noun. It's probably best to have a separate string for "Invitation Sent", rather than trying to build pluralisation into the existing string with a variable.

I'm advertising this in Aspring Code

[2016-07-15 06:45] Alys commented on #7407
This might be still happening. I asked about it in the Tavern and received these responses:

tricksy.fox (90e5c4f2-d5d9-4472-ab2c-19041ee2218d):
I was experiencing that bug earlier today as well as yesterday (and maybe the day before? My sense of time isn't the best). I was seeing my messages go through fine, but it wasn't updating other people's messages as mine went in, so it would look like I w

[2016-07-15 12:02] Ozzystrasza commented on #7789
Hello, I'd like to give this one a try.

[2016-07-15 12:57] khipkin commented on #7407
@Alys are those two reports talking about the tavern chat or party chat?

[2016-07-15 13:59] Alys opened #7790 "tasksOrder arrays bugs: hide tasks (Dailies can't be completed!), prevent sorting tasks"
Sometimes, the user's `tasksOrder` arrays don't contain all of the user's task IDs, or they contain IDs that shouldn't be there, causing bugs. For example:
- [ToDo list sort order is not preserved · Issue #7645](https://github.com/HabitRPG/habitrpg/issues/7645) - when IDs for completed To-Dos aren't removed from `tasksOrder.todos` - I've seen several reports of this
- Neilinha (05ccf744-331a-4ae4-

[2016-07-15 14:04] Ozzystrasza commented on #7789
@Alys @lemoness When you invite a friend by email, you can add multiple emails at once, but when inviting by UserID you can only invite one at a time, is that correct? If so, should the button on the UserID invite say "Send Invitation" instead of "Send Invitations" as well?

[2016-07-15 14:04] paglias commented on #7790
When requesting all the tasks the taskOrder array isn't used and when requesting a single type (not used by the website) there's code to make sure all the tasks are shown

[code]

Probably the problem lies in the client side code then. I'd also like to make sure that at cron these inconsistencies get fixed automatically by adding missing ids and removing the non existing ones

[2016-07-15 14:14] paglias commented on #7790
Hmm in theory the client side has code to show unordered tasks too

[code]

[2016-07-15 14:21] paglias commented on #7790
From my own tests a task missing fro user.taskOrder still shows up in the list (at least on the website) and can be re-ordered correctly

[2016-07-15 14:26] paglias commented on #7790
I've deleted several ids from my own tasksOrder lists of different types and they still showed up on the website and still cannot replicate the behavior

[2016-07-15 14:37] Alys commented on #7790
Yes, sorry, my Dailies list is long, and I didn't think to look at the bottom.

[2016-07-15 15:43] citrusella commented on #7407
@khipkin Mine's fairly localized to the Tavern, mostly because I haven't noticed it elsewhere. My party chat never moves because I'm in a lone party, so I've never noticed anything there, and I think there's something different about guilds that's usually somehow keeping it from happening there.

I'm trying to figure out if there's anything different about the behavior, though the Tavern's moving

[2016-07-15 19:06] khipkin commented on #2893
This is turning out to be harder than I expected.  There are so many different conditional things going on for each achievement, the logic can't be pulled cleanly into a mixin.  This results in several questions that must be addressed.

Which of the following things would still be desirable in the proposed grid format?
1. **some achievements are always hidden if they are not achieved**

   - some

[2016-07-15 19:28] dgodovanets commented on #2893
Can that things be mutual? I thinks it is the best way.

[2016-07-15 20:31] khipkin commented on #2893
@Eramik what?

[2016-07-15 20:36] khipkin commented on #2893
_(edit: nevermind)_

[2016-07-15 22:53] Hus274 commented on #7788
I can work on this.

[2016-07-15 23:20] lemoness commented on #2893
1. I think having a visible Seasonal Section for badges is actually a good
   thing, because it results in users learning that there are Seasonal events
   to look forward to. For example, if you see a greyed-out badge with
   "Celebrated Habitica Naming Day on July 31st", that encourages you to stick
   around for Naming Day. If you see "Cast Seafoam on a Friend during the
   Sumer Splash event"

[2016-07-15 23:22] lemoness commented on #7738
Hm. How does it look in that position with a variety of different helms
(and no helm at all)? Having a variety of equipment in the mockups will
make it easier to see what looks best overall.

On Wed, Jul 13, 2016 at 10:07 PM, MrEikono notifications@github.com wrote:

[2016-07-15 23:28] lemoness commented on #7789
Well, we'd actually like you to be able to invite multiple UUIDs, too.
Should I make that a separate GH ticket, or can it be tackled with this one?

On Fri, Jul 15, 2016 at 7:04 AM, Oziris notifications@github.com wrote:

[2016-07-15 23:32] lemoness opened #7792 "Allow Multiple Invites"
Right now, there is a problem where if you try to send someone an invite but they have another pending, you cannot send the invitation. Users should be allowed to have multiple invites pending, and when they choose a Party, the other Party invites should be automatically rejected.  (Note that this should not happen with Guilds.)

[2016-07-15 23:47] Ozzystrasza commented on #7789
I'm finished with the first issue, so I will give that a try too. In case I'm not successful I will let you know.

[2016-07-16 00:14] Alys commented on #7792
To any developer who works on this:

Invitations are currently stored like this in the user document:

[code]

The party invitation will need to be changed to an array of objects. This will require that all existing party invitations in the database be converted to the new format, using a migration script. An admin will run the migration when the time comes.

[2016-07-16 00:17] khipkin commented on #2893
@lemoness Mostly, the achievements that fit into the 3rd point are ones with plural variations of the standard singular title and/or description.  The ultimate gear achievement is the outlier.

[2016-07-16 00:29] Ozzystrasza commented on #7789
There is a commented line on the code at the part that enables multiple UUID invites:
`//- @TODO: Refactor src/controllers/groups api.invite to use promises before implimenting this`
If anyone could give some insight about that message, and how I should proceed.

[2016-07-16 00:32] crookedneighbor commented on #7792
Y'all realize changing the data structure is a breaking change, right?

[2016-07-16 00:36] crookedneighbor commented on #7789
If I recall correctly, v3 of the API supports this. It's just not done on the front end.

[2016-07-16 00:41] Alys commented on #2715
I've edited the first post here to add a lot of details about the previous work that has been done.

[2016-07-16 00:54] Alys opened #7793 "party invitations can't be removed"
Reported by Kingkrimmson (cea63e37-cf21-4296-a2d5-416dd8664e9a) in the Report a Bug guild:

**Hey, I'm a party leader and noticed that when I try to "Boot Member" for someone who has been invited but hasn't join yet (effectively to rescind invite), they are removed from the list, but when I come back to the party screen, they're still listed. Is this a known issue, or am I missing something?**

I'

[2016-07-16 02:27] sporeball commented on #7738
@lemoness I'll be at my computer a bit less until Thursday, but I'll try to find some time to test with as many helms as possible. 😊

[2016-07-16 02:35] Hus274 commented on #7793
I was able to reproduce this. It appears that the invite is not rescinded. The invitation shows up on the party screen again after refreshing the page and the invited user is still able to join the party.

[2016-07-16 02:55] Alys commented on #7793
@Hus274 Thank you! I've marked this as help welcome.

[2016-07-16 08:27] paglias commented on #7792
Agreed that we cannot just change invitations.party to an array. It'll break mobile apps and any integration that relies on it.

What we could do is to use a query parameter to return an array instead of an object but it's going to be confusing

[2016-07-16 14:57] khipkin commented on #2893
@lemoness A few more questions:

The kickstarter achievement title takes the tier as a parameter.  Should I add a new string without the parameter so the badge can be shown (greyed-out) if unachieved?

As mentioned in previous comments, some achievements with both singular and plural forms.  Would it be okay to use the singular form for unachieved instances as well?
Example: Habitica Naming Days

[2016-07-16 17:34] keysmashes opened #7796 "Guild gems box doesn't align with anything else"
General Info
- UUID: `0e1d15f7-f36b-4f15-a9e1-0c31b732dac9`
- Browser: Chrome 51
- OS: Ubuntu 14.04
### Description

![image](https://cloud.githubusercontent.com/assets/9433472/16820387/b0cfb3d4-4948-11e6-861e-815c39515b37.png)

IMO the guild gems box looks kind of odd stuck to the right-hand side like that. I don't know what it looked like before (or even if it changed, I might just be going mad)

[2016-07-16 17:50] Hus274 commented on #7796
I think this looks good!

[2016-07-16 21:51] Hus274 commented on #2715
I'll look into this.

[2016-07-16 22:34] Alys commented on #7792
We could put all party invitations into `invitations.parties` (an array of objects), and also put the most recent one into `invitations.party` (an object, as now). Maybe after a few months we could deprecate `invitations.party` by leaving it as an empty `{}` permanently (non-updated clients would then never show an invitation but wouldn't break fatally). Regardless of how it's done, a migration wi

[2016-07-16 22:44] Alys opened #7798 "allow `inbox.optOut` to be returned by `api/v3/members/:memberId`"
As a first step in fixing the issue [Not told that someone has opted out of PM's until AFTER you have composed the message · Issue #6540 · HabitRPG/habitrpg](https://github.com/HabitRPG/habitrpg/issues/6540), the `api/v3/members/:memberId` route should return the value for `inbox.optOut`

( @TheHollidayInn Thanks!! )

[2016-07-17 08:16] dgodovanets opened #7799 "On-hover pop-out is out of the screen"
General Info
- UUID: 6b4563cf-ef71-4508-839e-f553d358dab9
- Browser: Google Chrome, Version 53.0.2785.8 dev-m
- OS: Windows 7

Screenshot - http://prntscr.com/btwh9w [EDIT by Alys: screenshot is pasted in below]
When I start quest and hover my pointer under the quest scrolls, I can see pop-outs with info about quest, but that window is half out of my screen. You should do pop-out to down.

![image

[2016-07-17 18:47] khipkin opened #7803 "Weird that users can get the Veteran pet(s) without the Veteran achievement"
In the aftermath of the APIv3 site migration, I (along with anyone else who "weathered" the storm :stuck_out_tongue_winking_eye:) received the Veteran Wolf pet but not the Veteran achievement.

I think that this was intentional, but in my opinion, either one should be renamed or they should be a package deal.  Until I checked just now, I assumed I had the achievement because I had the pet.  I can'

[2016-07-17 19:34] khipkin commented on #2893
@lemoness

Another thing.  Rebirth achievement strings are weird...

The `rebirthOrb` string is just manually concatenated with a number in the client instead of passing a parameter into the string.  I have to add a string that doesn't mention the rebirth level for use when the achievement is unachieved.  Do you want me to add the param to `rebirthOrb` since I'm in the file anyway?

[2016-07-17 20:00] Alys commented on #7803
My opinion on this is strong, highly subjective, and biased, so keep that in mind as you read. This is my personal opinion, not me speaking as a mod or admin.

I don't think they should be a package deal.
It also feels odd to rename the Veteran achievement since it's been around for so long, but that would be a better option than giving the pre-Angular achievement to newer players, if you don't wa

[2016-07-17 20:05] Nairwolf commented on #7737
Hi @Alys,

I don't know why I haven't see that before, but yes, now, I see the JS alert popup which say this message "If we have your email on file, a new password has been sent to your email.".

This issue can be closed

Thank you for your contribution and time on Habitica.

[2016-07-17 20:31] Alys commented on #7737
No worries. :) Thanks for letting us know!

[2016-07-17 20:31] #7737 closed, assigned to nobody

[2016-07-17 21:12] crookedneighbor commented on #7803
I completely agree with Alys.

[2016-07-17 21:41] khipkin commented on #7803
That makes sense! I just think it's weird that they're named the same thing since they don't go together.

[2016-07-18 00:46] khipkin commented on #2893
The plural versions of Streak and PerfectDays achievement titles also do weird concatenation things.

_(edit: expand)_

Weirdly, the plural forms of the strings are used for `0` values, which are currently only visible to the current user.  It looks awkward... I propose using the singular forms instead, especially because it will be more consistent with the other changes I am making:

![image](htt

[2016-07-18 02:05] Hus274 commented on #7793
This appears to only happen with parties, not with guilds.

[2016-07-18 03:30] Hus274 commented on #7793
I'll look into this

[2016-07-18 07:21] ghost commented on #7803
@Alys You've been quoted in the [👂 Overheard Somewhere in Habitica](https://habitica.com/#/options/groups/guilds/21559f50-7b2d-4191-a13f-ca6e75b732b9) guild. Please let me know if you want me to delete my post quoting you. Well,.. you can surely just delete my post if you don't like it there =)

[2016-07-18 07:23] Alys commented on #7803
Ha, thanks @GitHubSphinx, that's cool. :)

[2016-07-18 07:30] ghost commented on #7796
As far as I can judge from the picture, the changes also fix #5507

[2016-07-18 11:32] khipkin commented on #2373
@Alys Done done done and ready for review (finally)!

[2016-07-18 15:55] SabreCat commented on #2893
Kickstarter: We try not to show grayed-out achievements that it's not actually possible for the user to work toward. Kickstarter backing is an example: there's not likely to be another Kickstarter any time soon (probably not ever), so it'd be misleading to say "here's an achievement you can get!"

Singular for grayed-out version: Sounds good.

Pluralization/parameterization of Rebirth and others:

[2016-07-18 16:05] SabreCat commented on #7407
I've definitely noticed Tavern rolling back to the way it looked on my first visit of the day, and haven't seen similar behavior in Guilds. Just anecdotal, but one more observation anyway.

[2016-07-18 16:49] khipkin commented on #2893
@SabreCat Thanks for the input!

Yeah, I agree with hiding impossible, unearned achievements.  So that would include the NPC, Kickstarter, Veteran, and Original User achievements, correct?  Any others? Do costume contests still happen?  I'm leaning towards having a section similar to the Rare Pets/Mounts sections, where things appear there only if you've earned them.

Yayy! I've been using singula

[2016-07-18 17:55] gravitonbit opened #7805 "Party member did not log damage to boss"
General Info
- UUID:  5b7a8716-8e74-44c2-ae9e-48feaa05000a
- Browser: Chrome, Firefox.
- OS: Mac
### Description

[//](#):I'm currently a participant and owner of a quest (http://i.imgur.com/l9ITshX.png) everything was working fine but today I logged in Cron and my dailies got updated, but when I log into the party chat there's no message of my attack at all (http://i.imgur.com/ufQgCjx.png). I was

[2016-07-18 19:49] evanostroski opened #7806 "Renaming a new tag before saving creates unusable tag"
General Info
- UUID: aecf6364-1cfb-4b5c-98c0-241b88b2e0d8
- Browser: Chrome Version 51.0.2704.103 (64-bit)
- OS: Darwin 407s-MacBook-Pro.local 15.5.0 Darwin Kernel Version 15.5.0: Tue Apr 19 18:36:36 PDT 2016; root:xnu-3248.50.21~8/RELEASE_X86_64 x86_64
### Description

Renaming a tag before saving creates an unusable tag
#### Steps to Reproduce
1. Click Tag **Edit**
2. Type `test1` into new Tag
3

[2016-07-18 21:11] Alys commented on #5988
The several entries above here starting at https://github.com/HabitRPG/habitrpg/issues/5988#issuecomment-232235844 were due to a specific problem that was fixed (I'll track down the details later). The earlier ones and the ones from now on are likely due to something else.

---

Another confirmed report from gravitonbit (Habitica name is mus; 5b7a8716-8e74-44c2-ae9e-48feaa05000a) at https://github

[2016-07-18 21:12] Alys commented on #7805
Thanks very much for telling us, and I'm sorry about the trouble! We're recording this in another issue and I've copied details of your report there: https://github.com/HabitRPG/habitrpg/issues/5988#issuecomment-233460142

This is likely to be a once-off or very rare event, so you should be back to normal tomorrow.

[2016-07-18 21:12] #7805 closed, assigned to nobody

[2016-07-18 21:41] Alys commented on #7407
Found in the Tavern by a.study.in.emerald (32d0f48a-b1d2-430a-b67a-3cef54d9e7ad):
"Wow. Is the Tavern chat being a little glitchy for anyone else? Any time I fetch recent messages, it shows me a slightly different set of the most recent ones. The newest will show but the second-newest won't, then the third most recent will disappear but the second newest will come back, and the one that was first

[2016-07-18 22:00] SabreCat commented on #2893
Interpolation -- I mean passing a parameter into the string. Maybe I used the wrong word :P

[2016-07-18 22:33] khipkin commented on #2893
Nah you're probably right... I just didn't know the word. :P  What if I rename the variable being used for interpolation?  Is that world-ending?

[2016-07-18 22:39] lemoness commented on #2893
Costume Contests do still happen every year, so that one can go in the
Seasonal section.

On Mon, Jul 18, 2016 at 3:33 PM, Kaitlin Hipkin notifications@github.com
wrote:

[2016-07-18 22:42] lemoness commented on #7407
This happened again to me this morning, also in the Tavern. Have not
noticed it in Guilds recently, and I have been checking them fairly
regularly.

On Mon, Jul 18, 2016 at 2:41 PM, Alys notifications@github.com wrote:

[2016-07-18 23:27] Ozzystrasza opened #7807 "Says "Invitations Sent" even if you leave "Email" or "User ID" fields empty"
General Info
- UUID: 8389891a-ba52-4580-b08b-2cb706c7e0b4
- Browser: Chrome Version 51.0.2704.103 (64-bit)
- OS: Windows 10
### Description

In the "Invite Friends" window of either party or guild, if you leave the fields "Email" or "User ID" empty and click on the "Send Invitations" button, you will receive a notification saying "Invitations Sent".
#### Console Errors

[2016-07-19 09:54] ghost commented on #7361
@Alys regarding your message in the guild chat

Were you able to replicate this issue? I've just tested it in Chrome with the same result (bug is still there for me).

[2016-07-19 10:08] ghost commented on #7361
A little bit of references:
- selecting guild from the list of g._id's https://github.com/HabitRPG/habitrpg/blob/develop/website/views/options/social/challenges.jade#L131
- defining input max as maxPrize https://github.com/HabitRPG/habitrpg/blob/develop/website/views/options/social/challenges.jade#L164
- calculating maxPrize for defined gid https://github.com/HabitRPG/habitrpg/blob/develop/website

[2016-07-19 10:17] Alys opened #7809 "Chilling Frost skill freezes the streaks on challenge Dailies"
Chilling Frost freezes streaks on Challenge Dailies.

<strike>This is consistent with being able to edit the streaks on Dailies (necessary for recovering from unexpected crons), but not consistent with the policy that skills can't be used to affect challenge tasks. Perhaps we didn't change this when API v3 was being built due to just an oversight (I didn't think of it until cTheDragons asked about

[2016-07-19 10:21] Alys commented on #7361
@GitHubSphinx I haven't tried to replicate it. We've had enough people reporting it that I'm sure it's an issue.

Thank you for the code references!

[2016-07-19 15:50] IanThorp commented on #7763
I will take a look at it later today. See if I can do anything to help.

[2016-07-19 16:09] SabreCat commented on #2893
@khipkin: Any change to what parameters an already published string expects, whether adding, removing, or renaming, will break existing translations. I'll defer to Transifex experts like @GitHubSphinx and @paglias as to what circumstances, if any, that's acceptable.

[2016-07-19 16:28] crookedneighbor commented on #2893
They just need to be updated before deploying so those strings get reset on Transifex.

[2016-07-19 16:54] ghost commented on #2893
For what it's worth, I would second @crookedneighbor

Please excuse me, I'm not sure I've managed to catch up with the discussion and the logic of the changes being suggested. @khipkin I hope I get the concept of `variable being used for interpolation` right ;-)

If you change a string in a json locales file (e.g. rename a variable) you only need to make sure that the place in code where the strin

[2016-07-19 18:18] SabreCat commented on #2893
OK, cool. So disregard my prior comments about making new strings; you can change what's going on in the existing ones just fine, it sounds like!

[2016-07-19 22:59] JuliaCBrown commented on #7807
I'd be interested in tackling this

[2016-07-19 23:05] khipkin commented on #7809
I agree that it skills should not affect challenge dailies.

[2016-07-20 15:16] paglias commented on #7809
I think we just forgot to exclude challenge dailies from the skill

[2016-07-20 20:38] artemisclyde opened #7812 "Delimiters"
Hya! So I'm currently trying to give my tasks some kind of order. For example I seperate my habits in 2 sections being 'important' and 'fun'. 'important' contains things such as cleaning my flat, getting my university [stuff] done and further on. 'fun' contains things such as skating for a bit since I want to get back to it or practising guitar. So that works fine for me, but I want to state the f

[2016-07-20 20:56] Lupison opened #7813 "Deleting account and signing up back up with same email hangs Habitica"
General Info
- UUID: d1083a06-5e76-4b62-a026-ce050e93125e
- Browser: Chrome (Win), Silk (Kindle)
- OS: Windows 7, Kindle
### Description

[//]: # I deleted my account and signed right back up with the same email/password.  This worked on the computer I was currently working on (Computer A).  However, when I attempted (next day) to access my account through another browser/machine (Computer B and/o

[2016-07-20 21:13] Alys commented on #7812
Hi @artemisclyde! I think it's a nice idea and it might be something that could be added in future, but feature requests are best done at Help > Request a Feature from the Habitica website's menu. We use GitHub just for bug reports. I'm closing this now, but if you want to create a feature request, you can include the link to this issue in it.

Also, as a note, I've edited your message here to rep

[2016-07-20 21:13] #7812 closed, assigned to nobody

[2016-07-20 21:15] Alys commented on #7812
Note that we have no plans to prevent you from turning off both plus and minus buttons on Habits. That's a useful option that's used by many players to display delimiters, notes, quotes, etc, so we recognise it as a feature. :)

[2016-07-20 21:22] keysmashes commented on #7796
If anyone knows what `.tile.flush` is currently used for (or has a way to find out), I'd love to know! [This](https://github.com/HabitRPG/habitrpg/blame/develop/website/client/css/tasks.styl#L512) is affecting the guild gems box, and I'd love to just delete it given it was last touched in 2013.

Also, is there anywhere I should be putting guild-related CSS? I've been finding stuff strewn across se

[2016-07-20 21:23] Alys commented on #7813
I've responded to this in the Report a Bug guild where you made your first post about it.

[2016-07-20 21:23] #7813 closed, assigned to nobody

[2016-07-20 22:22] khipkin commented on #7796
@anowlcalledjosh `.tile.flush` is used [on these two lines](https://github.com/HabitRPG/habitrpg/blob/b4b0d7e89cd2fa0a7de63f145ce7523f082e6125/website/views/shared/mixins.jade#L4-L5) and [on this line](https://github.com/HabitRPG/habitrpg/blob/e920734648f60fde77b982aff42c1fc59e51652d/website/views/options/social/group.jade#L3).

[2016-07-21 16:07] audiolion opened #7814 "Tutorial Bug - shows (+)/(-) buttons after clicking on task edit pane"
General Info
- UUID: 236e74bc-986d-41ad-9fa1-d4842ad72334
- Browser: Chrome 51.0.2704.103
- OS: macOS 10.11.5 (El Capitan)
### Description

When I watched the tutorial I saw that when you made a new task and modified the (+)/(-) buttons you would see the buttons UI update in the edit task pane.

Currently the UI has changed a bit, but we can no longer see the buttons appearing, however the text mo

[2016-07-21 16:16] audiolion commented on #2433
I am not sure if this should be in a separate issue or not.

I signed up today and clicked through the tutorials and they were giving me experience. I ended up with 1 xp over the experience limit for my level 2 and it wasn't until I did another action (updated a task that gave me xp) that the trigger occurred to level me up.

I feel like at the very least a new player who goes through all the tuto

[2016-07-21 16:34] pocketkey opened #7815 "Sudden Death"
### General Info
- UUID: cc3c7720-6887-4bc0-af95-7bcb73839a6c
- Browser: Chrome
- OS: Windows 7 Professional x64
### Description

I woke up this morning and checked Habitica, only to find that I had died somehow over night. I checked my party, thinking the quest may have already started, but it didn't. I checked the chat and no damage was done overnight. All my dailies were finished yesterday and

[2016-07-21 16:39] SabreCat commented on #2433
@audiolion: The new player tutorial is supposed to be tuned such that you finish just shy of leveling up, and checking off one of the starting tasks puts you over. Had you checked anything off prior to starting the tutorial? If not, there may be a bug in how much Experience the tutorial hands out; if you did check something off beforehand, it's this issue for sure.

[2016-07-21 16:50] audiolion commented on #2433
@SabreCat I am pretty sure I did something to give me random experience, or clicked on a different tutorial that gave me exp, maybe I joined a guild, I can't recall. That explains how I was just over the barrier after doing the new player tutorial and must be related to this issue.

If you want I can make a new account and follow steps to recreate, but maybe it is not helpful since we already know

[2016-07-21 16:54] Dewines commented on #7716
I just thought I'd post to say that this just happened to me today. I had created a challenge in my private party and today I completed it so I closed the challenge and made myself the winner. It then announced that I had won a completely different challenge, one that I won some time ago.

[2016-07-21 17:16] Ozzystrasza commented on #7361
I'd like to look into this, if it's ok.

[2016-07-21 19:13] ltorroba commented on #2433
I understand triggering a level up is an expensive operation, and thus it is not a suitable solution for this issue. What about having Angular change the XP counter label (e.g.: 80/100, 194/170) to something like "SYNC TO LEVEL UP!" or "REFRESH TO LEVEL UP". This should be simple enough to do in Angular, and should also eliminate the reports coming from this issue.

I will gladly take a look into

[2016-07-21 19:32] audiolion commented on #2433
wait what is the problem here? why can't we call a sync to level up and instead want the user to manually do something to call it? why not just call it ourselves?

If we have an EXP bar we can check is the left side > right side? if so call sync/levelup. Is there something that is more expensive about doing this check than having the user call it manually when the see they have more exp than their

[2016-07-21 19:39] Alys commented on #2433
Syncing or refreshing won't make the user level up. Completing a task will. See the text in bold at the top of this issue for more detail.

[2016-07-21 19:42] Alys commented on #7361
@Ozzystrasza Please do! Thanks!

[2016-07-21 19:45] ltorroba commented on #2433
@Alys Perhaps we could use that as text then? "Complete a task to level up!"

Or maybe and uglier hack would be to create a task, and dynamically complete it? Not sure if it is possible (it’s also quite ugly), but it’s an option…

[2016-07-21 19:56] Alys commented on #2433
I'm in favour of displaying text that says "Complete a task to level up!"

However if anyone wants to work on that, wait a day or two to see if there's more feedback from other admins/staff.

[2016-07-21 20:01] Ozzystrasza commented on #7806
I got that error too when I tried to check a new tag I created into a task. But it worked once I refreshed the page.

[2016-07-21 20:06] crookedneighbor commented on #2433
:+1:

[2016-07-21 20:28] Alys commented on #7815
@pocketkey I'm sorry about this! In case you don't know, you can use [Fix Character Values](http://habitica.wikia.com/wiki/Fix_Character_Values) to recover from the unfair damage.

Technical details:

We have Amplitude logs that show:
- Jul 21, 2016 5:10:16 am UTC : a "navigate" event, health 49
- an eleven hour gap between sessions
- Jul 21, 2016 4:04:15 pm UTC : a "navigate" event, health 0
- Ju

[2016-07-21 20:33] Alys commented on #7814
Ah, that's actually a problem with the tutorial, not a bug in the UI. I'm about to edit the title to change it to "Tutorial Bug - shows (+)/(-) buttons after clicking on task edit pane".

Can you please tell us which tutorial you watched?

[2016-07-21 21:25] lemoness commented on #2433
I like that idea!

On Thursday, July 21, 2016, Blade Barringer notifications@github.com
wrote:

[2016-07-21 21:32] Alys commented on #2433
Okay, no more need to wait. :) The idea for saying "Complete a task to level up!" is approved! @zesme Would you like to do it?

[2016-07-21 21:35] Ozzystrasza commented on #7361
I think I found the problem.
The [function](https://github.com/HabitRPG/habitrpg/blob/develop/website/client/js/controllers/challengesCtrl.js#L431) that calculates available group balance is always returning 0, because `group.leader` doesn't exist. Hopefully that's the only problem.

Gonna work on the fix now.

[2016-07-21 21:41] audiolion commented on #7814
If you go to the `Settings icon -> Tutorial` (last menu option) it links you to [this tutorial video](https://vimeo.com/57654086#t=115s) where I linked how it shows the buttons appear and disappear in the edit pane as you edit. This tutorial is a bit outdated in comparison to the UI so that is one discrepancy, but IMO it is _clearer_ to have the button ui toggle, and if you decided against it, why

[2016-07-21 21:49] audiolion commented on #2433
im going to follow this just/potentially implement myself just to learn about contributing and learn more about the system, I am excited to become a Blacksmith :)

[2016-07-21 21:50] Alys opened #7816 "collection quest progress message for zero items should be "... found no [item names]""
_This is something that was discussed in Aspiring Socialites 45 days ago. The messages are still there if anyone wants to review the conversation (search for "found nothing")._

Currently, for collection quests, on any days when you find no items, the quest progress message is `[person's name] found nothing`

We'd like it changed to `[person's name] found no [item name(s)]` (for example, "Alys fou

[2016-07-21 22:25] cjprieb commented on #7699
I'd like to attempt to fix this issue. I'm still learning my way around the code base and familiarizing myself with where things are, so I'm not yet sure what changes would need to be made.

[2016-07-21 22:30] cjprieb commented on #3324
One suggestion is to have a toggle that allows the user to show/hide the missing pet types. That way users who want to see all the possible spaces can, and others can only view the pets they actually own. And it'd be easy to switch between the two views.
I only have one pet and it's third from the end of the base pets, so it's a bit annoying to have to scroll to it.

[2016-07-21 22:30] wildcate commented on #3324
Ich bin bis zum 29.07. in der Sommerpause. In dieser Zeit werden keine Bestellungen über den Online-Shop bearbeitet oder versendet, und ich bin nur sehr eingeschränkt über Email oder Telefon zu erreichen. In dringenden Fällen bitte eine SMS an meine Mobilnummer schicken: 0160 9161 4276.

I am on summer break until July 29. Until then, orders via the online shop will not be sent out, and I have lim

[2016-07-21 22:36] Alys commented on #7699
@cjprieb Thank you!! If you have any questions at all or would like any advice, just comment here!

[2016-07-21 22:48] Alys commented on #7814
We disabled the ability to use a task when editing it because of accidental uses while editing (e.g., https://github.com/HabitRPG/habitrpg/issues/2502 and https://github.com/HabitRPG/habitrpg/issues/2628). The text indenting problem is something we can look at when/after we redesign the website's code (a project that's being planned now).

@lemoness Should we delete the old videos such as https://

[2016-07-21 23:04] ltorroba commented on #2433
@Alys From my _somewhat-limited-but-growing_ experience with Angular, I think this should be a great task for anyone wanting to get started. If @audiolion feels he is up to it, I think this will be a perfect one for him! 😄

[2016-07-21 23:06] deilann commented on #7814
The text indenting is intentional, so that way you get a better idea of
what the text will look like when there are actually buttons.

On Thu, Jul 21, 2016 at 3:48 PM, Alys notifications@github.com wrote:

##

Currently Reading
https://www.goodreads.com/user/email_signature_destination/35215676?utm_medium=reading_link&utm_source=email_signature
[image: Book Cover]
https://www.goodreads.com/user/em

[2016-07-21 23:13] audiolion commented on #2433
cool I will start working on this if that is ok!

[2016-07-21 23:16] audiolion commented on #7814
@deilann ah gotcha, I think because I watched the tutorial video and saw the buttons appear and then in the current iteration of the UI I saw that the text was indented but no button appeared I figured it was a bug.

@Alys makes sense! I would have maybe just put the buttons there but disabled them so they could see what it looks like, but that works as well, and understood that this will likely b

[2016-07-21 23:22] Alys commented on #2433
@audiolion Very okay! Thank you!

Thanks @zesme ! :)

[2016-07-21 23:23] Alys commented on #7814
@deilann Oh of course!

@audiolion Let's leave this one open for now, at least until Lemoness has replied. :)

[2016-07-22 03:32] audiolion opened #7817 "api.amplitude.com bad checksum POST Error"
General Info
- UUID: 236e74bc-986d-41ad-9fa1-d4842ad72334
- Browser: Chrome 51.0.2704.103 (64-bit)
- OS: macOS 10.11.5 (El Capitan)
### Description

On every page load and while a page is left open I am getting console errors related to `bad checksum` responses from a `400 POST` to `api.amplitude.com`.
### Request Headers

[code]
### Response Headers

[code]
### Response

[code]
### Request Form D

[2016-07-22 15:58] sporeball commented on #7738
Ended up being a bit more busy than I thought I would be, but I'm testing every helm as I write this. And:
![image](https://cloud.githubusercontent.com/assets/12767408/17063020/3e733466-4fea-11e6-81fd-588bdf076069.png)

@lemoness I'm a bit skeptical about moving the knockout image even higher than in the screenshot with the Shade Helmet, because then it would be really, really close to the health

[2016-07-22 19:17] habitrpguser commented on #5168
I checked this again. When you leave a guild now, you still automatically leave all the challenges you joined in there - only now, you are no longer offered the choice whether you want to keep or remove the tasks (nor in any other way automatically made aware that you are also thrown out of the challenges). The tasks are kept. While the behavior was just inconsistent before, I think it can be prob

[2016-07-22 19:20] khipkin commented on #5168
@habitrpguser There is another issue related to this that has active discussion! Issue #7764.  It is being looked into. :smiley:

[2016-07-22 19:22] khipkin commented on #7817
Re your unrelated section: yes and yes. :+1:

[2016-07-22 19:33] audiolion commented on #7738
the off centered knockout animation with some of the hats makes it look a little strange. It is unfortunate that we do not have more space to separate the two because if it was higher above it would be more distinct and centering wouldn't matter as much I feel like.

[2016-07-22 19:46] audiolion commented on #7817
hey we both go to RIT 😃

[2016-07-22 20:18] khipkin commented on #7817
@audiolion whaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaat

[2016-07-22 22:25] JuliaCBrown commented on #7816
I would like to tackle this as well if that is alright.

[2016-07-23 00:18] habitrpguser commented on #5168
@khipkin Ah, thanks! Good to have the link here now.

[2016-07-23 18:12] dodsonnick opened #7819 "New issue"
General Info
- UUID:
- Browser:
- OS:
### Description
#### Console Errors

[2016-07-23 18:15] dodsonnick commented on #7819
// report bug here
alert (" hello, what is your name?");
var name = name
alert(" hello,  name");

[2016-07-23 20:15] #7819 closed, assigned to nobody

[2016-07-23 23:43] zmbc opened #7820 "Unsaved tags appear in list of tags to apply and can't be moved without reload"
General Info
- UUID: d814e580-fa5c-49e3-a40e-edc225329740
- Browser: Chrome 51
- OS: Windows 7
### Description

When I'm editing tags and create a new one and haven't saved it yet, it already appears in the list of tags to apply to a To-Do. When I select this option,  I get this error:

"tagId" must be a valid UUID corresponding to a tag belonging to the user.

As I understand it, the problem here

[2016-07-23 23:58] Alys commented on #7820
The "save" button in the tags section is badly named. A new tag is saved to your account as soon as you click the "add" button after typing its name. The "save" button just closes the tag editing screen. You'll notice that the error message you describe occurs even after clicking the save button.

However as soon as something causes a sync (e.g., saving some other change to a task or manually clic

[2016-07-24 06:55] zmbc commented on #7820
That makes sense, and perfectly explains the behavior I was seeing. Given that the "Save" button is more of a "get me out of edit mode" button, wouldn't it make more sense if the "add" button initiated a sync? Otherwise the issue will still exist while remaining in edit mode.

I'm a little busy at the moment, but I may take a stab at a pull request for this if I get around to it.

[2016-07-24 08:36] Alys commented on #7820
Fair point! Note though I was just guessing, so it might turn out to be something else. You're welcome to work on it if you wish!

[2016-07-24 19:52] khipkin commented on #7820
It's super misleading that things get saved before you finish (and confirm) creation.  Saving tags/tasks/todos feels like it should be a confirmation that you want the changes you made to stick around.  Having them stick around before that confirmation is awkward.  And when you create tasks/todos with the setting to show options, a sync will save and close the new task/todo when you've barely star

[2016-07-24 19:59] Alys commented on #7820
Saving of tasts is out of scope for this issue (there's another issue for
tasks auto-closing, and most changes to tasks are only saved manually).
Editing tags is a simple thing, with mistakes being easy to correct, so I
don't think it matters that auto-saving happens.

On Mon, 25 Jul 2016 5:52 am Kaitlin Hipkin, notifications@github.com
wrote:

[2016-07-24 21:15] Ozzystrasza commented on #7361
Question: If I'm guild leader and there are 4 gems in the guild bank, and I also have 4 gems in my personal gem balance and I want to create a guild challenge with 4 gems reward, should those 4 gems be subtracted from guild bank or from my personal balance?

[2016-07-24 21:39] Alys commented on #7361
From the guild bank.

When you're the leader, when you create a challenge with a gem prize, if the guild bank has enough gems to cover that prize, the guild bank gems should always be used.

[2016-07-24 21:46] keysmashes opened #7822 "No indication of why sign up button is disabled"
When signing up to Habitica, the "Get Started Now!" button isn't clickable unless all fields are filled in and the email address provided is valid. However, there's no indication of what is wrong if the button is clicked when these conditions are not met. Leaving aside the issue of email validation (I'm pretty sure `a@a` shouldn't be accepted...), there should probably be some kind of visual feedb

[2016-07-24 21:55] Alys commented on #7822
When I fill in all the fields but use an invalid email address (ss@ss), I
can click the button but then see a popup saying "Invalid email address".
If you're not seeing that, close and reopen your browser (that will reset
the browser's setting to disable popups, in case you've selected that at
some time in the past). If you still don't see it, tell us which browser
and OS you're using.

You're cor

[2016-07-24 22:45] crookedneighbor commented on #7822
Fun fact: technically a@a _is_ a valid email address because the earliest email happened over p2p networks, so it didn't require a website domain, just an identifier of the computer you were on.

But yes, in the redesign, that should all be considered.

[2016-07-25 00:29] audiolion commented on #7361
is there a warning that happens if you go over the guild bank of gems where it draws from your personal gem stores?

It seems like a better interaction would be you can only draw from what is in the guild bank, and the leader or potentially others with proper permissions can transfer from their personal stores 'donating' to the guild bank, and then the challenge can be created with a higher prize

[2016-07-25 00:58] Alys commented on #7361
@audiolion There's no warning, but usually the default action for challenges is to take from your own balance, so it should be fairly obvious that it would do so. We could add a warning, but I'd see it as low priority and not in scope for this bug fix.

It would also be a lower priority to allow players to add gems to the guild bank - it's a requested feature but I'm not sure if a decision has eve

[2016-07-25 01:10] audiolion commented on #7361
ah yeah, that does make sense @Alys . I agree its not in the scope of this PR for a warning.

[2016-07-25 17:37] audiolion commented on #5724
Is this still something we want to pursue?

#### Tooltip says 'Progress'

![tooltip](http://imgur.com/qOb5EWV.jpg)

#### Graph Title is 'History'

![graph](http://imgur.com/fTlKDBm.jpg)

#### Graph Label and Tooltip hover is 'Score'

![graph tooltip](http://imgur.com/BYhtalB.jpg)

Relatively easy fix, the issue is that this styling is used on other graphs ('Progress -> History -> Score') e.g. the

[2016-07-25 17:47] battlmonstr opened #7824 "Repeat every X periodic dailies punish too soon"
I have a "daily" periodic task called "sport" with Repeat = "Every X days", and "Repeat every" = 7.
Usually the task is grey, but sometimes it is green, yellow or red.
It is very confusing as to when it becomes green, yellow or red, but when that happens, I need to complete (mark) it during the same day, otherwise I get penalties (lose health).

I would like to do this task once a week (once in 7

[2016-07-25 20:34] Alys commented on #7824
What you've described is the correct, expected behaviour for Dailies set up with the "Every X Days" feature. In your case where X is 7, that feature is intended to make a Daily due on its 'Start Date", then exactly 7 days from its Start Date, then exactly 7 days after that, and so on.

There is currently no feature to make a Daily due 7 days after you last completed it however there will be in fut

[2016-07-25 20:34] #7824 closed, assigned to nobody

[2016-07-25 21:19] lemoness opened #7825 "New Party Loading Text"
It would be fun to have the text that displays when you are loading a party be more flavorful.

Possible text:

"Your party is being summoned. Please wait..."

Open to other ideas! Maybe we could even have a couple different ones?

[2016-07-25 21:29] audiolion commented on #7825
Are you saying instead of this message?

![party loading message](http://imgur.com/RVcQSas.jpg)

If so, that seems fine

[2016-07-25 21:30] Alys opened #7826 "update blog links on habitica.com footer and front page header; add new Developer link to footer"
Currently on the habitica.com's footer, there's a link to "Blog" for http://blog.habitrpg.com/
and there's another link to it on the header navigation bar at https://habitica.com/static/front

Both those links should be changed so that the text is "Tumblr".

A new link should be added just before both of them, called "Blog" with the URL https://habitica.wordpress.com/

Also, in the footer, under t

[2016-07-25 22:01] battlmonstr commented on #7824
I'm sorry, but I still claim that the current system behaviour is different from what I describe as expected, and different from what you describe as well.

Like I said, I'm getting punished even if I complete a task, and it looks something like this:
If I start a task on Monday (day N) with "repeat every 7 days", and then complete it on Wednesday (same week, day N+2), then I can get punished next

[2016-07-25 22:22] audiolion commented on #7826
Accidentally made my first PR with the changes I had in my other branch, whoops!

[2016-07-25 22:25] Alys commented on #7824
For all Dailies, you do get punished if you don't complete a Daily on the day that it was due, and the current behaviour of "Every X Days" Dailies is that they are due exactly X days after the last time they were due. Because of that, it's expected, and technically correct, that you are getting punished on the days it is due when you have completed it on earlier days but not on the due days themse

[2016-07-25 22:34] battlmonstr commented on #7824
I understand now.
If the work is started, where is it tracked? Could you link this issue to the issue where the work is ongoing?

Speaking about the colors, I've checked your wiki link. It makes sense for bad habits (with + and -), but 1) it doesn't make sense for a repeating task; 2) The table doesn't explain a grey color which I observe 90% of the time. 3) how "consecutive clicks" can be negativ

[2016-07-25 22:38] audiolion commented on #7824
@battlmonstr I think the thing to consider is a scenario like 'go to gym' with MWF repeat, if you go an extra time on a TH when it is grayed out (because it isnt due on this day) you still get a bonus because hey, going to gym on thursday in addition is great too, but you still need to go on Friday as you usually do.

It makes it a bit complex when the user could want to do something IN ADDITION t

[2016-07-25 22:41] mcooledge commented on #7824
@battlmonstr, a grey task is one that is not due that day. If it's grey and you do it, you'll get a reward, but you won't get punished for not doing it that day.

[2016-07-25 22:42] mcooledge commented on #7824
Also, my strategy for weekly tasks that don't depend on the day is just to add a new todo every week for the task. It's slightly less elegant and I don't get punished for not doing it, but it works fine for now.

[2016-07-25 22:46] battlmonstr commented on #7824
If I know that I'm going each Friday, there's a special option to check "repeat every Friday",
but IMO "repeat every X days" was meant for something else.
Like if I'm going on Wednesday might mean that on Friday I have something else planned. I don't want to be punished for that.
With habitica I try to find time for all my hobbies. I don't have a schedule for them (can't have or don't want to have

[2016-07-25 22:52] audiolion commented on #7824
IMO if there is a loose schedule for the activities they should go under the 'habits' section, e.g. 'spend some time with friends', + it when you do, try to keep it green/blue

[2016-07-25 22:55] mcooledge commented on #7824
I agree with audiolion, habits are probably a better option for the use case you described.

"repeat every X days" is good for when you don't need to do something every day but want to do it regularly and on a schedule. Cleaning the cat's litter box, for example, is often something people want to do every other day, so that would be a daily with "repeat every 2 days" selected.

Having weeklies wou

[2016-07-25 22:58] battlmonstr commented on #7824
Habits are not great. I still want to be punished for lazyness automatically.

Having weeklies sounds great. Actually "weeklies" + "bi-weeklies" + "half-weeklies" would be ideal for me.

[2016-07-25 23:15] audiolion commented on #7824
Yeah, follow https://github.com/HabitRPG/habitrpg/pull/7811 for updates on that functionality and talk to SabreCat if you have any comments or suggestions or see [this trello card](https://trello.com/c/XuVokK2V/108-add-weeklies-monthlies-to-habitica-com)

[2016-07-26 01:05] lemoness commented on #7825
Yes!

On Mon, Jul 25, 2016 at 2:29 PM, Ryan Castner notifications@github.com
wrote:

[2016-07-26 01:07] lemoness commented on #7814
If the videos are causing confusion instead of solving it, we should probably remove their links. They are indeed very out of date.

[2016-07-26 01:13] lemoness commented on #7738
It's turning out to be tougher than expected to get something that looks
good consistently. Some other options we can try:
- two knockout sprites on either side of the avatar, out of weapon/shield
  range
- a knockout sprite ABOVE the health bar, separated from the avatar

On Fri, Jul 22, 2016 at 12:33 PM, Ryan Castner notifications@github.com
wrote:

[2016-07-26 01:17] Alys commented on #7824
@battlmonstr @audiolion Actually comments and suggestions should still go on [that Trello card](https://trello.com/c/XuVokK2V/108-add-weeklies-monthlies-to-habitica-com), not directly to SabreCat and not to the "WIP: Monthlies" pull request. SabreCat will see any comments added to the Trello card, and that's the best place for them to keep all feature suggestions and comments together in one place

[2016-07-26 04:48] audiolion commented on #7824
Apologies! Cant edit anymore

[2016-07-26 11:28] #7826 closed, assigned to nobody

[2016-07-26 13:18] youbrokesomething commented on #3730
@Alys I'm interested in working on this, are there reproducible steps to get myself into the state where I have costume or gear on that I don't own?

[2016-07-26 13:55] crookedneighbor commented on #3730
There's an inventory button in the footer when running a local instance.

[2016-07-26 15:45] gregory-marton opened #7830 "Consider using a different CA, e.g. Let's Encrypt, instead of Comodo."
Habitica's https certificate is signed by Comodo group, which has a problematic history:
https://en.wikipedia.org/wiki/Comodo_Group

It's easy and free to use Let's Encrypt instead (or one of many other more honest providers):
https://letsencrypt.org/

Most users would not notice the change (which is actually part of the problem... :-p ).

Please consider doing so? I would love to not need to trus

[2016-07-26 16:11] weehobbit4 opened #7831 "UUID: f0e222a3-02f7-447e-934d-b4b26164ac66, can't participate in quests"
General Info
- UUID: f0e222a3-02f7-447e-934d-b4b26164ac66,
- Browser:  Chrome & Firefox
- OS:
### Description

I am not able to participate in any quests. I am added to them via my party, but none of my actions seem to effect anything and I don't receive any rewards once the quest is complete. Please help!
#### Console Errors

[2016-07-26 16:28] audiolion commented on #7831
hey, to not muddle up our github issue tracker with what might be non-code related bugs we ask that you post in the ["Report a Bug"](https://habitica.com/#/options/groups/guilds/a29da26b-37de-4a71-b0c6-48e72a900dac) guild first, if we can't help you from there we will ask you to create a ticket here.

Thanks!

[2016-07-26 16:50] Hus274 opened #7832 "No clickable link to old-news static page"
### Description

I was looking to open the old news (https://habitica.com/static/old-news) link to see the update that I accidentally clicked through here and had a hard time getting to the old-news page on the static website. From what I could see, neither the static website nor the links below include one to the old news page. Would this be something worth changing? I think it would make sense t

[2016-07-26 18:36] citrusella commented on #7825
Can ones be suggested here? I have ideas. XD

[2016-07-26 18:55] khipkin commented on #7832
If you go to Settings->Site, there's a "Show Bailey" button that lets you view the recent news again, but I can't find any other links to Bailey, old or new.  I agree that adding at least one link to the static page would be useful.

[2016-07-26 18:56] audiolion commented on #7825
@citrusella absolutely please offer suggestions 😄

[2016-07-26 21:03] ghost opened #7834 "Nothing but blank page in Opera for Android"
Sorry, didn't have a chance to investigate it, but when I tried to open Habitica in Opera for Android some minutes ago, there was absolutely nothing - just blank space, no window title, no error message - which didn't feel right.

I've experienced this on two different devices, one of which had never been used to open  the site before.

Added: Oh, forgot to mention, that now it's OK, so the issue

[2016-07-26 21:05] GitHubSphinx commented on #7834
Oh, forgot to mention, that now it's OK, so the issue is only a feedback about something that has been solved already - just in case you may need the info

[2016-07-26 21:19] crookedneighbor commented on #7834
There was a problem with the deploy. Good now. Thanks for letting us know.

[2016-07-26 21:19] #7834 closed, assigned to nobody

[2016-07-26 23:29] audiolion commented on #7799
looks like a case where the translation is longer than expected resulting in the visual bug. The best way to approach this is to use a popout library that looks to determine where is the best place to pop out info if the default (top in this case) is cut off. Not sure what approach Habitrpg would like to take though. I have noticed similar issues with cut off popouts in other areas.

[2016-07-26 23:42] Alys commented on #7832
When I do "show Bailey" and then click on Bailey, the window that opens has a link to old news at the bottom. Is that not there for you?

[2016-07-26 23:42] Alys commented on #7832
But despite that, a link to news on the site might be nice.

[2016-07-26 23:47] Hus274 commented on #7832
It is, I just didn't know that that existed until khipkin posted above.

[2016-07-27 03:10] ghost opened #7836 "Pets grown into Mounts but still display as Pets"
Hi! This is about a few of my pets that have grown into mounts. They display on the 'Mounts' page, but they are still displaying as pets (as in not faded out) on the "Pets" page. Eg I have a White Bear Cub showing but I also have a White Bear mount and I can click on both to be displayed as my pet + mount. I definitely have not hatched a new White Bear Cub, and I've logged in and out, cleared my c

[2016-07-27 03:56] crookedneighbor commented on #7834
Here's the technical details of what happened: http://devs.habitica.com/outage-july-26-2016-post-mortem/

[2016-07-27 07:47] ghost commented on #7834
@crookedneighbor thanks for the details!

Psst I don't think you've actually wanted to link http://devs.habitica.com/outage-july-26-2016-post-mortem/babeljs.io/ in the blog post :-)

[2016-07-27 11:10] crookedneighbor commented on #7834
Thanks for catching that! Updated.

[2016-07-27 12:35] Alys commented on #7831
@weehobbit4 It's possible that the quest owner started the quest before you were able to accept the invitation. Alternatively, if you were resting in the inn, you wouldn't make any progress on the quest.

There's no quest running now in your party so I can't investigate immediately but I can if necessary if this happens again.

The next time a quest invitation appears, click the "accept" button as

[2016-07-27 12:35] #7831 closed, assigned to nobody

[2016-07-27 13:38] crookedneighbor opened #7837 "APIDoc value types should be capitalized"
Many of the params in the APIDoc comments show types with all lowercase letters, like `{string}`, when they should be `{String}`. `{uuid}` should be stylized as `{UUID}`.

[2016-07-27 16:37] audiolion commented on #7837
ill tentatively say I will do this unless someone else who wants to help contribute for the first time posts here requesting to do it.

[2016-07-27 17:19] crookedneighbor commented on #7837
It can also be done a little at a time, so if you want to claim a particular file, go for it.

[2016-07-27 19:13] paglias commented on #7837
Hmm honestly I think I prefer everything lowercase

Il 27 lug 2016 7:19 PM, "Blade Barringer" notifications@github.com ha
scritto:

[2016-07-27 19:20] audiolion commented on #7837
@paglias If we want to be consistent and clear that we are returning native Javascript objects we should follow how [types are defined](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects#Fundamental_objects) in js which have the first letter capitalized for native object types.

[2016-07-27 19:23] paglias commented on #7837
Well, we're returning JSON which is a text format not executable code

[2016-07-27 19:44] audiolion commented on #7837
so why not label everything JSON or string?

I think it comes down to, do we want to label it as what `typeof json.key` would return or what the native constructor is

[2016-07-27 20:34] crookedneighbor commented on #7837
APIDoc uses capitalized versions and I think we should match that. Even though it's JSON that's coming back, we're still getting Strings, Booleans, Numbers, etc. They're not all Strings.

If you feel strongly about the lowercase version, that's fine, but then they should _all_ be lowercase.

[2016-07-27 20:45] audiolion commented on #7837
yeah I will convert either way, I guess the issue is we dont have a standard right now with the mixing of upper and lower, [apidoc apiParam](http://apidocjs.com/#param-api-param) is capitalized in their docs

[2016-07-27 21:28] paglias commented on #7837
I just think that keeping everything lowercase will make maintenance easier
and is less error prone. But if you prefer to have the uppercase first
letter I'm okay with that

Il 27 lug 2016 10:45 PM, "Ryan Castner" notifications@github.com ha
scritto:

[2016-07-27 23:48] #7837 closed, assigned to nobody

[2016-07-28 03:12] pqhunter opened #7841 "Disappearing gems"
General Info
- UUID: 0298735e-b2e1-4720-a605-4f4a00c70338
- Browser: Chrome
- OS: Andorid
### Description

I just rebirthed (lvl 120). Before my rebirth I had 17 gems but now I only have 9. I  think the system still charged me for the 8 gems that it takes for anyone between levels 50 and 99 to rebirth, even though I was level 120 at the time.  I would really like my gems back. Thanks for the help.

[2016-07-28 05:02] cTheDragons commented on #7764
HI,

Is it ok to close the challenge? _I would like to get my gems back and the guild owner is asking questions_.

As far as I can tell it fairly reproducible.

Thanks

[2016-07-28 05:10] Alys commented on #7764
@cTheDragons Ah heck yes, sorry! Any time you want now.

[2016-07-28 20:22] SabreCat opened #7843 "Seasonal Shop shouldn't display "broken" equipment"
General Info
- UUID: 7f14ed62-5408-4e1b-be83-ada62d504931
- Browser: Vivaldi
- OS: Windows 10
### Description

When you purchase a gear item from the Seasonal Shop, it disappears. If you lose a current Seasonal Shop gear item to zeroing out your Health or to using the Orb of Rebirth, though, the item then appears on the page, faded out. You can click it, and be informed that you already own the it

[2016-07-29 09:52] Alys commented on #7815
@pocketkey Did you change parties not too long before the unexpected damage? If so, it was probably this bug: https://github.com/HabitRPG/habitrpg/issues/7653
In brief, you might have still been in a quest in the party you left.

There's no evidence of that now, but if the quest has finished already, I wouldn't expect to see evidence.

If that's what happened, you should be safe from unexpected da

[2016-07-29 10:11] Alys commented on #7653
I checked the database today and about 200 players were still in quests in parties they'd left (about 120 parties). I removed them from those quests.

[2016-07-29 13:52] Hus274 commented on #7653
I'll help work on this!

[2016-07-29 14:06] audiolion commented on #4332
can this be closed? what is the status on it, 2 years old!

[2016-07-29 22:46] sporeball commented on #7738
Knockout sprite above the health bar:

![](http://i.imgur.com/C0PiOxF.png)

Maybe two knockout sprites could look something like this:

![](http://i.imgur.com/o1i80UZ.png)

I also tried putting the knockout sprite under the avatar:

![](http://i.imgur.com/vHDYSDb.png)

[2016-07-30 01:58] Hus274 commented on #7653
It doesn't appear that it currently does the following:
-  check that the code for force-starting a quest removes any players from quest.members that don't have a true value

Will look into fixing this first.

[2016-07-30 02:48] Hus274 commented on #7653
[] check that the code which allows a person to voluntarily leave the party does remove them from the party's quest, regardless of what state the quest is in (confirmed that it does NOT remove them from a pending quest; have not tested an active quest). It must also remove the quest invitation from their own account.
should be fixed by #7845

[2016-07-30 04:12] Alys opened #7846 "Habits with large history cause "Request entity too large" errors"
A Habit that's used very frequently develops a large history and can cause "Request entity too large" errors when the player tries to keep using the task.

We found one such task today with about 700 entries for this month and 1600 for the previous month (before that preening had been happening). There were about 2440 history entries in all.

The error stopped happening when I set the history to a

[2016-07-30 04:22] Alys commented on #7846
We could also perhaps adjust the API to send back fewer/no history entries when the plus/minus buttons are clicked. @crookedneighbor commented in the Bug guild:

"My guess is that if it's very old, we're probably sending back the entire history of the task in the update call (even though it has no effect on the update)"

[2016-07-30 04:46] Hus274 commented on #7653
Working on these two:
- check that the code for force-starting a quest removes any players from quest.members that don't have a true value
- check that the code for force-starting a quest removes any players from quest.members that aren't in the party

[2016-07-30 05:25] citrusella commented on #7825
_flakes out_

Ideas (all with the followup of "please wait..."):
- "Your party is coming in from battle."
- "Your party is gathering."
- "Your party is materializing."
- "Your party is searching for scrolls."

I'm not sure these are all great, and there's one on the tip of my tongue that I just can't come up with, but maybe you'll think these are good (or they'll spawn other ideas...

[2016-07-30 08:53] ghost commented on #7825
Suggestion: can we have several strings like in case of loading screen hints?

[2016-07-30 11:50] crookedneighbor commented on #7846
We just need to adjust the client side update method to not send the history as part of the update call. Same thing was happening when editing groups because we were sending the chat array as part of the update.

[2016-07-30 13:12] crookedneighbor opened #7847 "Update email route should check that proposed email is not already being used"
https://github.com/HabitRPG/habitrpg/blob/7c579bf850402ac43c146002e475b9baac4f66a2/website/server/controllers/api-v3/auth.js#L521-L543

There's a unique index on that field, so it's causing a 500 when the route is hit with an email that already exists in the system.

[2016-07-30 15:10] Hus274 commented on #7653
#7848 should fix the two issues I commented about above.

[2016-07-30 16:50] Hus274 commented on #7653
#7849 -> check that the code which allows a party leader to boot a member from the party does remove them from the party's quest, regardless of what state the quest is in

[2016-07-30 19:06] Hus274 commented on #7653
I'm not sure that this is possible anymore, I'm unable to replicate this issue and I'm not quite sure what to change because I don't know where it's failing.

 change the code that allows you to accept/reject a quest invitation so that if you try to do either when you are not in a party, it deletes the invitation (currently it throws an error and you can never reject it

Any thoughts?

[2016-07-30 19:07] Hus274 commented on #7653
@Alys I know you've been the one primarily doing the research around this, do you think this is still worth doing?

maybe adjust the code that allocates quest damage so that it only damages players after checking that they are also in the party. That would only be worth considering if this turns out to be widespread, and even then might be a bad idea if it results in so many extra queries that it

[2016-07-30 20:27] Hus274 commented on #7843
I can look into this

[2016-07-31 00:57] Alys opened #7851 "Clicking tasks rapidly gives you drops then removes them. Are drops being awarded client-side?"
_**Players who experience this bug do NOT need to comment on this issue. We know it happens for everyone and so we do not need to know which players have noticed it.**_

---

If you rapidly mark many tasks as complete or hit + many times quickly on a Habit, you appear to be given more drops than you are actually given -- dropped items are removed after a sync.

This implies that drops are being aw

[2016-07-31 03:21] Alys commented on #7653
@Hus274 Thanks for all the fixes so far! I've updated the list in the top post.

This one still happens:
- "change the code that allows you to accept/reject a quest invitation so that if you try to do either when you are not in a party, it deletes the invitation (currently it throws an error and you can never reject it"

If you add a quest invitation (see below) to a player who isn't in a party, t

[2016-07-31 03:51] Hus274 commented on #7653
@Alys awesome, that makes sense. I have to clean up one issue the Blade commented on before but then I should be able to pick that up and finish this one out!

[2016-07-31 06:09] Shadow-Byte commented on #7719
I just proposed the edit.

[2016-07-31 15:47] SabreCat commented on #7851
Interesting. Could it be an overload on database writes per time? I.e., does anything _other_ than drops also roll back when you perform this flow?

[2016-07-31 17:41] Hus274 commented on #7843
Ok this should be the last one then: #7852

Let me know if there's anything else that should be done here to finish this one out!

[2016-07-31 17:42] Hus274 commented on #7653
Ok this should be the last one then: #7852

Let me know if there's anything else that should be done here to finish this one out!

[2016-07-31 19:58] Alys commented on #7851
Yes, it does the usual thing of rolling back gold and XP when you sync, as typical for sync errors. The reason drops are notable is that they're meant to be assigned server-side now.

Although interestingly, I've just checked the history on the Habit and it does record one value for every rapid click, even when gold and drops are rolled back. I haven't noticed that before from sync errors, althoug

[2016-07-31 20:16] SabreCat commented on #7851
Aren't Gold and XP also assigned server side, though? So it could still be both things affected by the same problem.

In the past, it was a case of the server data and the client data conflicting. It could now be a case of the server data and the database data conflicting. If the server doesn't wait for the database round-trip before returning its response to the client, the client could be update

[2016-08-01 02:10] evanostroski commented on #7806
Think the issue is in : /website/client/js/controllers/filtersCtrl.js
I'll take a look when I get the chance.

[2016-08-01 04:49] librarianmage opened #7854 "Avatar Customization Localization Strings"
Most of the options in the "Customize Avatar" section do not have localized strings available. ~~As I am planning on adding strings for them to the member modal in #7768,~~ **Edit: Due to the major task this entails, this will be added in a separate PR.** I thought that it would be a good idea to add the strings as labels on the "Customize Avatar" page. @SabreCat @Alys @lemoness @crookedneighbor @