[2017-08-09 22:43] shanaqui opened #8936 "Blank task page even after clearing tags/search"
### General Info
  * UUID: bb089388-28ae-4e42-a8fa-f0c2bfb6f779
  * Browser: Chrome
  * OS: Windows 10

### Description
Sometimes when I return to the task page, it's empty. Clearing tags and the search box don't restore my tasks; only refreshing the page completely. It seems to happen at random; I can't trigger it to occur, and I can't identify a pattern. Reporting per Alys' request. :)

It did o

[2017-08-10 09:11] Alys commented on #8936
This might be a purely client-side problem but it seems to have started very recently so it might instead be related to some server changes that have been made recently.

It was also reported in the Report a Bug guild 6 hours before now by AnariaLaurelin (436ddc93-cd2c-4fc0-aeba-3af6a1621c41):
"occasionally when I click Tasks from another page on the site all my tasks disappear unless I reload the

[2017-08-10 09:19] Alys commented on #8936
Interestingly, Ameera NM (520d1298-afa5-4760-a28e-84c3eb778cd9) who is mentioned in shanaqui's message has also posted this to the Report a Bug guild, indicating that the problem was on both app and website (which points towards server problems):

"Hello! My Dailies on the Android App aren't loading. Tried refreshing it several times & I've even logged in the website but no avail. Thanks for helpi

[2017-08-10 10:46] Alys commented on #8350
Solved it. :)  Or at least I know what causes it; I have not written code to prevent this bug but that should be easy now. Also, until the fix is written and live, we could do once-off fixes for each challenge that is affected by this, although for large challenges that would be time consuming.

This bug happens when, at some time in the past, **a challenge participant has left the challenge choos

[2017-08-10 14:43] abatula commented on #8813
I can work on this if you have more details on what you need done. As originally written, my fix (#8177) to #8062 should also block those words in guilds and private groups. Is this a case of more extensive tests needed (e.g. test both tavern chat and a regular guild to make sure the words are blocked)?

[2017-08-10 18:12] FrankieFabuloso commented on #8636
Is this issue still open? I'd be happy to work on it. 😄

[2017-08-11 01:04] ExperimentMonty opened #8940 "Stealth's tooltip does not show that it is based on PER"
Title pretty much says it all, Stealth is the only skill that is based on an attribute that does not tell you it's based on an attribute.  The mage's Chilling Frost works similarly to Stealth, and does not list an attribute, but it's an automatic freeze all ability that isn't based on any attributes, while Stealth increases in power based on your PER.

[2017-08-11 04:29] huiwang159 opened #8943 "How to find the challenge page for leaving?"
Hi everyone. I am just wondering is there a link somewhere to the challenge page so I can leave a challenge? It seems such a chore to scroll through all the guilds...

[2017-08-11 10:40] shanaqui commented on #8943
There's a challenge section! On the website, click the dropdown beside social and then click challenges. You can filter it by challenges you're a member of, too.

Just a note, this isn't a bug; even if the capability wasn't on Habitica, this would be a suggestion rather than a bug report. As such, you might want to ask questions like this in the Habitica Help guild in future, and direct suggestion

[2017-08-11 10:43] shanaqui opened #8944 "Timezone/cron issue despite Habitica picking up new timezone"
[//]: #
### General Info
  * UUID: bb089388-28ae-4e42-a8fa-f0c2bfb6f779
  * Browser: Google Chrome
  * OS: Windows 10

### Description

On the 9th, I went from Belgium (UTC+2) to the UK (UTC+1). I updated the time on all my devices, and am reasonably sure I refreshed Habitica. What's more, when I checked in settings, it shows the correct timezone (UTC+1), and my day start is still midnight. Howeve

[2017-08-11 11:43] Lalaitha commented on #8936
I have had the same issue for some days now. Only on the website, though.
When it happens, I have usually had a tag selected before I go to a guild. When returning to the task page, it appears empty. Deselecting the tag does not help, only a complete reload, as Shanaqui mentions.

![screenshot](http://i.imgur.com/cUdeBFF.png)

[2017-08-11 11:45] shanaqui commented on #8936
I can add that I don't usually select tags at all, so it's probably not to do with tags!

[2017-08-11 12:09] lynxlynxlynx commented on #8931
Here's another one:
![spectacle u29152](https://user-images.githubusercontent.com/121515/29212372-95797764-7e9e-11e7-95e8-212d68c83478.png)

It was in a running session. Let me know if you need the inviter's UUID.

[2017-08-11 12:18] shanaqui commented on #8944
I've also now noticed I have lost all my streaks through this, including challenge streaks.

[2017-08-11 12:20] majestic-owl448 commented on #8936
ID: c073342f-4a65-4a13-9ffd-9e7fa5410d6b
Display Name: Il Mago

It happened to me also, it has started after mid July, not sure exactly time it happened for the first time, but I'm sure it wasn't happening before that time.

When I return to the tab I have the task page open the tab reload or sync on it's own but no task is loaded, the only way is to use F5 to have tasks back! The sync button does

[2017-08-11 12:24] #8943 closed, assigned to nobody

[2017-08-11 15:54] Alys commented on #8636
@FrankieFabuloso Ah, I'm sorry, we should have had this marked as on hold. It will require changes to the website, and a redesigned website will be released soon. We'll take this off hold after that. Sorry about that! If you'd like to work on it then, please post again here when the new site is in use.

[2017-08-11 16:00] Alys commented on #8813
@abatula Thank you for offering! However we'll leave this on hold for a little longer. As you might have seen from a [Bailey message](https://habitica.com/static/old-news), a new design for the website will be released soon. One aspect of it will be tags for guilds, to categorise them by topic. @shanaqui had the idea to use those tags to control swearword blocking in guilds. For example, most guil

[2017-08-11 22:42] FrankieFabuloso commented on #8636
@Alys No worries! I'll look for another to work on!

[2017-08-11 23:12] FrankieFabuloso commented on #8672
Has this issue been completed? If not, I'd love to take a look at it.

[2017-08-11 23:18] FrankieFabuloso commented on #8757
If no one is working on this I'd love to take a look at it.

[2017-08-12 01:30] JoshSears commented on #8757
@FrankieFabuloso Just to clarify, I am not working on this currently.

[2017-08-12 04:12] Alys commented on #8672
@FrankieFabuloso I'm sorry, we should have marked this as on hold until the website redesign project is finished. It's likely to either be fixed by that project or would involve new code so any fix made now would be wasted. If it's still necessary after the new website is live, you'd be welcome to work on it then!

[2017-08-12 04:14] Alys commented on #8757
@FrankieFabuloso Thank you! Please go ahead! :)

[2017-08-12 06:53] jonathanly commented on #8350
@Alys If you don't mind, I'd like to take a stab at this issue. This will be my first attempt at contributing to open source, huzzah!

[2017-08-12 08:27] Alys commented on #8350
@jonathanly Yessss!! It will be great to see this fixed. Thanks! :)

[2017-08-12 13:18] Alys opened #8946 "cron changes `lastCron` date even when it realises it shouldn't run"
If `/api/v3/cron` is run when it's not yet time for cron to happen, the `cronAsync` function does correctly stop  cron happening but it incorrectly sets `lastCron` and `auth.timestamps.loggedin` to the current time.

I.e., if any process tries to run cron when there's no need to, the value for `lastCron` and `auth.timestamps.loggedin` becomes inaccurate. This could happen when any third-party tool

[2017-08-12 14:47] jonathanly commented on #8350
No problems, excited to work my first contribution!! :)

Spent some time trying to replicate the bug on my local environment with no success. Are there any particular steps to replicate the bug consistently?

Going off your analysis @Alys, would the issue be 'fixed' if I wrapped the failing code in the following conditional statement?
[code]

[2017-08-12 20:35] Alys commented on #8350
@jonathanly I think that should be enough.

To replicate the problem, create a challenge with one task (can be more but one is enough), get a user account to join the challenge, confirm that they do have the challenge task in their account, and then manually "remove" them from the challenge by using a mongodb command to $pull the challenge's ID out of the user's `challenge` array. Something like t

[2017-08-13 07:57] C0000kie commented on #453
I had the same problem. I added a friend to the party (and they accepted). They show up in the browser, but I can't see them on the phone app. Then I reinstalled the app, but that only caused my other party members to disappear as well.

[2017-08-14 07:42] C0000kie commented on #453
I am still not able to see my party member :(. Need some help

[2017-08-14 09:17] Alys commented on #453
@C0000kie Can you please ask about that in the Report a Bug guild? It's within Habitica so we can see your Habitica account there which lets us examine it to find any problems that might be in it, although this is probably just from the app showing you cached data. You can reach the Report a Bug guild from the Help menu on the website or the Guilds menu item on the mobile app (you'll find it in th

[2017-08-14 10:42] C0000kie commented on #453
Oh okay, thanks :)

[2017-08-15 02:37] Alys commented on #7764
I've had two reports that this bug is still happening so I'm reopening this. I'll test it myself later when I get a chance. Note that it might have stopped for a while (I'm pretty sure I tested the fix for it) but then started up again due to some other code change.

[2017-08-15 14:35] jonathanly commented on #8350
@Alys Awesome thanks for the pointers!

I'm just about ready to submit a pull request, is there any particular format you'd like it in?

[2017-08-15 22:27] Alys commented on #8350
@jonathanly The only things I think we really care about are:
- the title is descriptive enough for us to recognise the PR when we're looking at a list of them
- the body contains a description of what the PR does and any additional notes that might be relevant (also screenshots for those PRs that change any visible parts of the site, but that's not relevant here)
- the title and body both contain

[2017-08-15 22:59] #8940 closed, assigned to nobody

[2017-08-15 23:06] LunarGem commented on #8619
I'm having some trouble setting up my dev environment for this. I got some errors setting up the Mongo database. I didn't get a response in the aspiring blacksmith's guild, should I try again or can someone help me here?

[2017-08-16 15:54] guyguy2001 commented on #8619
Sorry for taking so long to write this.
(I will write it for windows, should be similiar for mac / linux)
Whenever I want to run mongo, I just open cmd (no matter where) and write
```mongod```. If it gives you an error like
[code]
Just create the folder that it wants.
If it gives you other errors just remove all the content __inside of__ c:data\another-folder\

[2017-08-17 19:50] asifmallik commented on #8669
@JacksonCoder are you working on this right now? If not, I would like to give it a try

[2017-08-18 00:04] ksmith6 opened #8966 "Invalid Security Certificate"
_edit by Allys:_

### This bug will be affecting all users and we're investigating it ASAP so there's no need for anyone else to comment on this issue.

### Is IS safe to proceed to the Habitica website so you can click through the certificate error if your browser allows that and if you feel comfortable doing so. Note though that in general, it's very sensible to not click through when you see ce

[2017-08-18 00:23] freexploit commented on #8966
+1

[2017-08-18 00:24] Alys commented on #8966
Thank you very much for these details! We did replace the certificates a while back but it looks like it hasn't taken properly. We're looking into it now!

[2017-08-18 00:24] manoyanx commented on #8966
+1

[2017-08-18 02:18] Alys commented on #8966
The new certificate is now in place. Your browser might still be using the old one and reporting that the site is insecure, but once your browser checks again with the server, it will pick up the new one. Thanks for your reports!

[2017-08-18 02:18] #8966 closed, assigned to nobody

[2017-08-20 06:33] Alys opened #8970 "one day missing from nextDue field in every-day Dailies"
The problem below was reported in the Report a Bug guild by Il Mago Giallo (c073342f-4a65-4a13-9ffd-9e7fa5410d6b), who I'm asking to subscribe to this issue's notifications so that we can ask further questions if needed.

**"some of my dailies due every day have as next due dates: 20/08/2017, 22/08/2017, 23/08/2017... Aug 21st is missing**
**I have added alysthisone [to the notes] on a couple that

[2017-08-20 20:06] Alys commented on #8669
@asifmallik Please go ahead if you're still interested in working on this.

[2017-08-20 20:16] Alys commented on #8970
The problem fixed itself, I think probably when the next cron ran. Here's the current nextDue section for the Daily above:
[code]

However we still don't know what caused the dates to be omitted.

[2017-08-21 20:43] pgoswami3 commented on #8917
Re:
@SabreCat
1 & 3: I didn't get the "should better be static" part. Does it mean that the key should be taken out from the groups.json so that Transifex don't translate that part and hardcode to the jade file?

@Alys
2. deleteSocialAccountText & incorrectDeletePhrase: Alys, can you please give me a little bit insight/relatable thread # on this one? Btw when I tried to delete my account with a wr

[2017-08-21 22:00] jerell-mendoza commented on #7643
@paglias , I take a look at this one. Do we still need work on it?

[2017-08-21 22:51] SabreCat commented on #8917
@pgoswami3: Re 1 & 3: Correct! I think you'll find those aren't even part of the Pug files; rather, they're in server code only. (If you do find them on the client somewhere, drop a comment here. I'd be curious where and why, hah)

[2017-08-22 08:19] paglias commented on #7643
@jerellmendoodoo it's something we're still interested in but not an high priority right now. But if you want to work on it, that's great, it might just be a while before we can review it since we're in the middle of a website redesign project

[2017-08-22 14:23] Maxx115 opened #8979 "Connection error (both browser and app and through mobile internet)"
I have tried a lot, but nothing seems to work. I have used both Chrome and Microsoft Edge. The app doesnt work either, through my internet at home and mobile. I cant provide any User-Informations as I cant access any. While searching I havent seen any similar issue or a notice of the servers being down.
![unbenannt](https://user-images.githubusercontent.com/30586848/29570019-8a5be05a-8755-11e7-9bc

[2017-08-22 14:30] ehSistemas commented on #8979
Me too

[2017-08-22 14:31] nikipound commented on #8979
I'm having the same issue on Firefox with Windows 10 where I am unable to connect. I've been able to use my Android (Device: quark, Android Version: 23, AppVersion: Veresion 1.1.6 (1926)) and iOS apps only sporadically, but I keep getting messages reading, "Connection Error: You are not connected to the internet."

[2017-08-22 14:31] deilann commented on #8979
Same issue

On Aug 22, 2017 7:31 AM, "nikipound" <notifications@github.com> wrote:

[2017-08-22 14:34] Maxx115 commented on #8979
At least I now know I am not alone. I was trying all I could already, reinstalled the app, cleared the browser history and cache and so on. I gueass now we have to wait until someone of the dev´s will notice it.

Also it seems to be completely down again.

[2017-08-22 14:55] itsasooz commented on #8979
Am also getting the 502 error issue: First with the entire page, then page partially loaded before one of the dialog bubbles returned the error.  Currently getting fully-loading page with much slower progress than normal.

EDIT: And back to the 502 bubbles.  I will leave the page alone and hope it's just getting really popular.

[2017-08-22 15:56] Maxx115 commented on #8979
Update: It seems to work fine now. I still dont know the reason, but it seems to be fine now.

[2017-08-22 20:52] Alys commented on #8979
There were problems with the server but they have been fixed now. We're sorry about the trouble!

[2017-08-22 20:52] #8979 closed, assigned to nobody

[2017-08-23 02:29] sushi-study opened #8982 "IOS Habitica App not registering party"
[//]: # (Before logging this issue, please post to the Report a Bug guild from the Habitica website's Help menu. Most bugs can be handled quickly there. If a GitHub issue is needed, you will be advised of that by a moderator or staff member -- a player with a dark blue or purple name. It is recommended that you don't create a new issue unless advised to.)

[//]: # (Bugs in the mobile apps can also

[2017-08-23 05:18] melarish commented on #8676
What's the easiest way to apply a group plan in local? I found the purchased object in https://github.com/HabitRPG/habitica/issues/8677 but it seems mongo shell doesn't allow multi-line commands. is the only way to put that all on one line?

[2017-08-23 12:10] Alys commented on #8982
Can you please report that to the app developers through the app's Menu > About > Report a Bug button?

This GitHub repo is for the website, not the iOS app, although if you ever do have bugs with the website, the best place to report them is in the Report a Bug guild (see the comments in the new issue form here for more details).

[2017-08-23 12:10] #8982 closed, assigned to nobody

[2017-08-23 20:27] librarianmage commented on #8876
@SabreCat Shouldn't this be closed?

[2017-08-23 20:54] SabreCat commented on #8876
@MathWhiz Yup, thanks! Must not have had the right "fixes" line in the PR.

[2017-08-23 20:54] #8876 closed, assigned to nobody

[2017-08-24 05:47] melarish commented on #8676
I could try adding a debug menu option to apply a group plan (in a separate ticket) - would that be okay and perhaps helpful to others?

[2017-08-24 18:01] gwong5 commented on #8676
could @Moniarchy and i try our hands at this? or is this being worked on?

[2017-08-26 06:40] Alys opened #8991 "cron happening twice at almost the same time (e.g., double quest progress / boss damage)"
In the Report a Bug guild, Birkwelch (310aea01-13f5-4fb6-929e-be39d63e665b) reported that cron ran twice:
"Just a few minutes ago, I seem to have cronned twice in the same instant, according to my party log? I did identical damage, but the first time received (correctly) no damage, having completed my dailies, but the second time the system acted as if I had completed nothing, killing me and morta

[2017-08-26 08:13] Alys commented on #8991
Also happened to die_biny (cbded7a0-03c6-42dd-bcce-98d9b6df6977), reported by email. I've verified it in Amplitude:
[code]

[2017-08-26 12:44] Alys commented on #6941
@MathWhiz How's your code going for this? Even though another coder has submitted a PR, you can still submit one if you wish. Alternatively if you have any suggestions to make about @asifmallik's PR based on anything you found from working on this issue, you might like to post those.

[2017-08-26 17:05] librarianmage commented on #6941
@Alys While I can't show you any code right now due to being away from a computer and having a broken install, I had some ideas about the implementation that I was working on articulating that I was planning on posting when I get home. Also, I was under the assumption that PRs were closed at the moment, which was why I didn't post a PR yet.

On Sat, Aug 26, 2017 at 7:44 AM Alys <notifications@gith

[2017-08-27 11:25] mdanlowski commented on #8743
Hi! Today I have encountered a similar error when trying to register with google

- Chrome 60.0.3112.101
- Windows 7
- Sign up with Google account **(no invitation)**

![image](https://user-images.githubusercontent.com/24384407/29749405-e38aecc4-8b2a-11e7-859d-7fa8eeb96e3f.png)

[2017-08-27 13:59] paglias commented on #8743
Hi @mdanlowski! Sorry about this, the problem has been harder to fix than expected. Can you signup with your email instead or signup with google from the front page and then get another invite? Thanks

[2017-08-27 18:21] mdanlowski commented on #8743
Sure :smile: I've registered with email; just wanted to help :+1:

[2017-08-28 11:43] Alys commented on #8931
Below is another buggy `invitations` object from the account of a user who had been invited to a party. The party leader says "We have [an] invite that we can't get rid of. We've been trying to get rid of him/her from invites for a month, but it says that there is no one by that user name in our group."

[code]

[2017-08-28 11:46] Alys commented on #8116
This bug is still happening. A report from LaMama Fox (8f9110b4-50d7-446b-a142-0c6ca0cb5029):

"I've had trouble cloning challenges. Two weeks ago cloned a challenge but the to do's and habits didn't copy. When I realized this, I cloned it again, and it worked. Today I just tried to clone two challenges: https://habitica.com/#/options/groups/challenges/9d228793-a88f-4294-94fd-82f0125c055e and http

[2017-08-28 11:57] kawunngg commented on #8116
i still notice it too, but i started to notice it instantly before saving the challanges :-P
one moment later and it usually works again. it happend on several times of the day and I'm not sure if it's connected to high user traffic. but i can only set it in relation to the amount of chatter the guilds I'm in, so i might be wrong.

[2017-08-28 19:08] miblake6 commented on #8991
Hello! I have not contributed to Habitica before. I am curious on how I can help :)

[2017-08-29 02:55] Alys commented on #8991
More examples of this from two parties:

Zak (26847753-9bfe-4be0-8229-e710c3eab338) :+1:

[code]

Chunsa (ff05183f-ed24-4ae2-bf73-dbc791bbcf9e) :
[code]

@miblake6 We don't know what's causing this. It's probably related to the server errors that have been common in recent days. If you'd like to try to investigate you'd be most welcome to but it might not be a common code bug; there could be multi

[2017-08-29 12:23] miblake6 commented on #8991
OK thank you, good luck!

[2017-08-29 12:50] joedragons commented on #8570
This appears fixed to me, btw, thanks all for their efforts!

[2017-08-29 16:10] librarianmage commented on #7946
@khipkin How are you doing on this?

[2017-08-29 16:11] librarianmage commented on #5232
I can work on this!

[2017-08-30 10:40] Alys commented on #7946
I'm putting this on hold until after the new website is released. It's likely to either be fixed then or have new code that will need to be worked on.

[2017-08-30 22:19] Alys commented on #8991
Double cron for roonspoon (d50d86c0-c1f7-4478-8299-3af83c1ff872). Note the same cronCount in each.

![image](https://user-images.githubusercontent.com/1495809/29897583-ff86e3a4-8e24-11e7-8be8-e8dbd217622f.png)

![image](https://user-images.githubusercontent.com/1495809/29897594-10410bf2-8e25-11e7-902f-d074b023663d.png)

[2017-08-31 01:21] lemoness opened #9008 "Moderator Tool: Option to prevent new users from posting messages"
It would be nice to have a setting to temporarily turn off the ability of new users to post before allowed to do so by a moderator. This would be very helpful in situations where a single user (or several trolls) tries to make many accounts in a row to dodge a ban and spam chat.

Possible implementation:
1. All existing users are allowed to post.
2. Under normal conditions, all new users are allow

[2017-08-31 01:34] Alys commented on #9008
Duplicate. ;)  https://github.com/HabitRPG/habitica/issues/8063

I'm adjusting that old issue to contain some adjustments from this new one.

[2017-08-31 01:34] #9008 closed, assigned to nobody

[2017-08-31 05:09] librarianmage commented on #6941
If we are trying to implement use cases like

* Cleaning bathrooms once every month
* Replacing your home air filter once every three months
* Getting a free credit check once every four months

I feel like a better representation would be creating "blocks" of time in which the daily is active until the period passes, after which the damage is dealt. It might not look like a significant change, bu

[2017-08-31 10:01] Alys commented on #8116
A few instances have happened to AnneLine (16a107de-d519-43ce-8c30-8da5cbcbb237):
"about half of the private challenges I'm trying to set up are not getting any to dos in them.... I am watching and just re-cloning, but reporting for your reference...."

@kawunngg Thanks for your details!

[2017-08-31 18:50] SabreCat commented on #6941
@MathWhiz: Yeah, I think that's a better description of the suggestion here: "X times every Y [intervals]". That said, "X [Intervals] Since Last Completed" could still have its own use cases.

[2017-08-31 18:55] librarianmage commented on #6941
@Sabrecat Would you like me to implement both?
On Thu, Aug 31, 2017 at 1:51 PM Sabe Jones <notifications@github.com> wrote:

[2017-08-31 20:20] SabreCat commented on #6941
@MathWhiz Sure, if you're feeling like tackling it! There's also "Active Until Completed" as one of my own personal deepest desires :3

[2017-08-31 20:22] librarianmage commented on #6941
@Sabrecat What do you mean?
On Thu, Aug 31, 2017 at 3:21 PM Sabe Jones <notifications@github.com> wrote:

[2017-08-31 20:28] SabreCat commented on #6941
@MathWhiz Or maybe "Due Until Completed". Suppose I have a bog-standard Daily due every Monday. At present, if I fail to do the Daily, then on Tuesday I will take some damage, but the Daily will no longer be due.

What I'd like to see is an option where if I fail to complete the Daily, it'll do its damage _and then be due again the next day_. It only stops being due once I check it off, at which p

[2017-09-01 17:04] paglias opened #9015 "Node 8 Upgrade checklist"
### NPM Install on Node 8 on the node8 branch

[code]

### NPM outdated

Package                                   Current         Wanted         Latest   Notes
### Server
- [x] amazon-payments                      0.0.4          0.0.4          0.2.6
- [x] amplitude                            2.0.4          2.0.4          3.5.0     No breaking changes
- [x] nconf                                0.8

[2017-09-01 21:26] Brubrubru commented on #6676
Hi, I have the same problem. Our owner is sleeping since 29/8 and we are stuck. This is annoying.
id of the party 9b66352a-f0b2-42fb-81b7-c21a014edafe
my own id b0017bf9-7b7f-414d-8f29-14030773f1fe
can you help us please?

[2017-09-03 02:30] librarianmage commented on #6941
@SabreCat I spent some time visualizing what each daily version would look like, to make sure I understand what each one would look like. Outlines around the day mean that it is "active", and red scribbles show when damage is applied.

Basic Daily (Repeat 1x a week on Sundays)
===========================
![img_201709022120240](https://user-images.githubusercontent.com/12386291/30000092-4cf59354-90

[2017-09-05 16:58] SabreCat commented on #6941
Yes, that is absolutely right, what an awesome visualization XD No doubt someone will come up with a different funky use case that's not covered by the above, but that looks great to me.

[2017-09-05 19:01] librarianmage commented on #6941
@SabreCat Thanks! It's amazing what one can do when they can't sleep XD. Should I hold off on working on this until the redesign comes out?

[2017-09-05 19:49] SabreCat commented on #6941
@MathWhiz Did you build the calendar / take the photo? Or did you paint onto an existing image?

As for timing with the redesign, you can implement the needed server-side logic and tests right away. But building out the UI for selecting the different options should probably wait!

[2017-09-05 22:43] Alys commented on #8045
In the [Trello card for this issue](https://trello.com/c/vDYCrh16/13-add-new-parse-text-do-this-tag-hard-monday), Nathaniel Nelson has expressed interest in working on this.

In some of the comments above, `#` has been suggested as an indicator for the special codes for tags, attributes, etc. I suggest not using `#` or other [markdown](http://habitica.wikia.com/wiki/Markdown_Cheat_Sheet) formattin

[2017-09-05 22:54] librarianmage commented on #6941
@SabreCat I took a pic of a [LEGO calendar](https://brickset.com/sets/853195-1/Brick-Calendar) set that I use.

Ok! I will start brushing up on how task scheduling is implemented.

[2017-09-06 02:42] JohnKacz commented on #8045
@Alys, could you explain how markdown formatting might cause confusion? Does Habitica use markdown in other places? If so where and for what? Bold, italic, etc.?

Seems like not conflicting with markdown would be pretty limiting if it's a real requirement.

[2017-09-06 02:45] librarianmage commented on #8045
Markdown is used pretty much anywhere user input happens. Bold, italics,
code, headings — all of it is used.
On Tue, Sep 5, 2017 at 9:42 PM John Kaczmarek <notifications@github.com>
wrote:

[2017-09-06 02:55] JohnKacz commented on #8045
So it is. I just tested it out. So `# Heading 1` would be different from `#tag` because of the space. So it still might not be an issue but could make parsing a little more tricky I guess.

Perhaps `@` could work as an alternative?

[2017-09-06 06:16] san7hos commented on #8045
You could parse it before handing it to the markdown engine, you just need
to make sure not to break any markdown.

[2017-09-06 06:20] librarianmage commented on #8045
You will also want to make sure to check out how each client processes
Markdown to make sure it doesn't break.

On Wed, Sep 6, 2017 at 1:16 AM Michal Stasa (Santhos) <notifications@github.com> wrote:

[2017-09-06 06:50] deltaidea commented on #8045
Todoist has a great implementation of such feature being optional:
- You write "foo tomorrow".
- "tomorrow" is highlighted with a colored box around it. This word now has special meaning.
- If you press `Backspace`, the highlighting will be removed. Now the word is just a part of the text.

[2017-09-06 07:26] Alys commented on #8045
@JohnKacz @San7hos I'm not so concerned with confusion in how it's coded but instead with confusion in the minds of the users. I don't want the Socialites and bug hunters to have to keep explaining that `# something` and `#something` have different meanings. :) It's the kind of thing that would cause repeated questions.

In addition, while `# Heading 1` currently has a different effect than `#Head

[2017-09-06 08:18] deltaidea commented on #8045
I'm not familiar with the API but here's an edge case. Please correct me if I'm being an idiot.

- Suppose I send `{ title: "foo p1", priority: null }` when creating a new daily.
- Suppose the server parses `p1` as priority = 1
- What if I send `{ title: "foo p1", priority: 2 }`? Which priority setting takes precedence?

This applies to anything else parsed from the text, like tags or days.

[2017-09-06 08:48] Alys commented on #8045
@deltaidea You're not being an idiot at all! That's an important thing to consider.

You could make a case for either `... p1` or `priority: 2` taking precedence but my feeling at the moment is that it would be most useful to have `title: "foo p1"` take precedence. For example, a user could be creating tasks with a third-party tool that hard-coded the `priority: 2` attribute but the user wanted to

[2017-09-06 16:52] SabreCat commented on #6941
Ooh, that might mean we can make use of those on the wiki when this is live... 🤔

[2017-09-06 17:15] librarianmage commented on #6941
@SabreCat Ooh, that's a good idea! If we are able to do that, I can add another image for the "X Times Y intervals" for a larger value of X. I can also clean the images up.

[2017-09-08 17:11] librarianmage commented on #6941
@SabreCat I've been thinking about how to implement these options, and I have a couple thoughts:

### Daily Schema
https://github.com/HabitRPG/habitica/blob/6e70f27bc698d14876fe7e7d0191ddee18e387a2/website/server/models/task.js#L22-L92
https://github.com/HabitRPG/habitica/blob/6e70f27bc698d14876fe7e7d0191ddee18e387a2/website/server/models/task.js#L195-L213
https://github.com/HabitRPG/habitica/blob

[2017-09-08 19:44] SabreCat commented on #6941
Good questions!

* Repeat Until Completed checklist: my instinct is to leave checklist items checked until the task is done and rescheduled.
* `nextDue`: I'm not deeply familiar with how that field is used (@vIiRuS can maybe weigh in?), but my immediate expectation is that `nextDue` will be different depending on whether the Daily has been checked off or not. If it's due until completed, and it's

[2017-09-08 23:03] librarianmage commented on #6941
@SabreCat `nextDue` is used in the client to help people figure out the next times it will be active, I believe.

[2017-09-12 10:33] shanaqui opened #9029 "When adding tasks to an existing challenge, they are not tagged"
### General Info
  * UUID: bb089388-28ae-4e42-a8fa-f0c2bfb6f779
  * Browser: Chrome
  * OS: Windows 10

### Description
When I edit a challenge to add a new task, the new tasks aren't given the challenge tag for me or for other participants (checked on Ehlyah's account, 9c4776eb-7330-465b-85cc-e4ccef6c1ad1). The challenge in question is [this one](https://habitica.com/#/options/groups/challenges/5

[2017-09-12 11:49] Alys commented on #9029
@shanaqui Just to confirm, this happens in the current production habitica.com site as well as the staging site, right?

[2017-09-12 12:17] shanaqui commented on #9029
Yep, tested on both to see if it'd be fixed on the staging site, but it isn't.

[2017-09-12 13:17] Alys opened #9031 "VersionError prevents quest from ending (participants received rewards but quest was not removed from party)"
If a VersionError occurs when a party's `group` object is being saved, it can leave a quest in an inconsistent state.

The report below from Gumnos (43e2413a-f440-43c8-b96c-85b93024488c) in the Report a Bug guild describes a quest that should have ended normally but didn't. From the user's description and from what I've seen in the data I have access to, it looks like all of Habitica's code for en

[2017-09-14 13:52] TS000 commented on #8991
Hello, thinking my CRON and server knowledge might be of help. May I be of service?

[2017-09-14 16:54] SabreCat commented on #8991
@TS000 Note that "cron" in the Habitica context doesn't mean an actual cron job (I fought feebly against the term while it was propagating, but it's stuck), but the series of calculations and actions that occur when the user checks in on the site or app for the first time after a new day has started for them. [Habitica wiki entry on Cron](http://habitica.wikia.com/wiki/Cron) That said, if you can

[2017-09-14 17:17] cyotee commented on #4971
No, the mobile can't be used offline. If you try it gives you an error. Don't lie.

[2017-09-14 21:07] mrbeardy commented on #8991
Would it be possible to see the express logs for these cron requests? Knowing where the multiple calls are coming from could help narrow this bug down. Although you'd have hoped `checkForActiveCron` would secure against the situation of multiple requests.

Apart from some possible multi-threading issue somewhere I can't really see any obvious issues with the code that could cause multiple `cron`'s

[2017-09-16 20:04] billy-tutch opened #9043 "dist client"
{"success":false,"error":"Error","message":"ENOENT: no such file or directory, stat 'C:\\Users\\Administrator\\Desktop\\habitica\\dist-client\\index.html'"}

What's missing, i don't have a dist-client folder

[2017-09-17 06:50] paglias commented on #9043
When are you getting this message?

[2017-09-17 10:11] billy-tutch commented on #9043
When loading the localhost.

NPM Start runs fine, installation went through without any errors. I don't have a dist-client folder anywhere?

[2017-09-17 19:48] paglias commented on #9043
I see, we've to update the docs. Basically you can run the client in a separate process running `npm run client:dev` and find it at `localhost:8080`, with the api at `localhost:3000` with automatic rebuilding when files change or build the client only once with `npm run client:build` and access it alongside the api at `localhost:3000` but it takes awhile to build it everytime and it's only meant f

[2017-09-17 19:48] #9043 closed, assigned to nobody

[2017-09-18 21:59] NQNStudios commented on #8045
Cross-posting from the Trello thread.
[code]

In response to the RTL and language-agnostic requirements that I'm just now reading, I have no experience with coding for RTL support but I'm more than willing to do some learning and give it my best shot, because the skillset will come in handy. Here's an article that I haven't read fully but looks relevant. https://docs.microsoft.com/en-us/globalizat

[2017-09-18 22:25] Alys commented on #8045
@Natman64 The website's pages will all be changing in the overhaul, so I don't recommend working on the front-end part of this yet, but the website redesign will make very few changes to the API's code, which is where the parsing needs to be done, so you'd be safe to start there!

[2017-09-19 06:13] dataf3l opened #9048 "when I logon to habitica I get a white screen, apparently a white modal covers all the site with high z-index"
[//]: # (Before logging this issue, please post to the Report a Bug guild from the Habitica website's Help menu. Most bugs can be handled quickly there. If a GitHub issue is needed, you will be advised of that by a moderator or staff member -- a player with a dark blue or purple name. It is recommended that you don't create a new issue unless advised to.)

[//]: # (Bugs in the mobile apps can also

[2017-09-19 09:17] Alys commented on #9048
Please go to https://habitica.com/static/clear-browser-data and click the red "Clear Data" button there. Does that help?

[2017-09-20 02:21] Sethycakes opened #9053 "Leaving Group Plan and starting an individual subscription"
[//]: # (Before logging this issue, please post to the Report a Bug guild from the Habitica website's Help menu. Most bugs can be handled quickly there. If a GitHub issue is needed, you will be advised of that by a moderator or staff member -- a player with a dark blue or purple name. It is recommended that you don't create a new issue unless advised to.)

[//]: # (Bugs in the mobile apps can also

[2017-09-20 02:51] Alys commented on #9053
cTheDragons's advice to you in the Habitica Help guild is correct. It's best to not ask the same question in two places because it can lead to duplicate effort to help you. Also we try to keep github issues dedicated to problems that need code fixes so if you run into a bug, you can report it in the "Report a Bug" guild, available from Guilds or from the website's Help menu (if you ever need a rem

[2017-09-20 02:51] #9053 closed, assigned to nobody

[2017-09-21 07:18] rakheepatel commented on #3553
Thanks @yafinee
With your suggestion I went ahead and made this bookmarklet. It's not perfect, but it does the job. For anyone else who comes here looking for this solution, see image on how to make your own bookmarklet. Pop the following code in the *URL* field:
 `javascript:(function(){$('li').has('code').hide()})();`

![hrpg_hide_sys_msg](https://user-images.githubusercontent.com/5573174/306833

[2017-09-21 13:31] ricardonunesdev commented on #8879
My suggestion would be to selectively block the clicked habit button (+ or -) until a response was provided by the backend. The notification would show up and the button would be unlocked then.

This way there would be no hardcoded time limit, apart from the actual processing time, which is widespread and, IMHO, acceptable. If the RTT is low enough, the button is unlocked quickly and the user can

[2017-09-21 21:45] Alys opened #9059 "password reset process fails if a user's email address has upper-case letters"
If a user's email address in Habitica contains any upper-case letters, when they use the password reset form, their account is not given a value for `auth.local.passwordResetCode` and they do not receive a password reset email. This happens even if they enter their email address into the reset form using the exact case that it's stored in in Habitica.

If their email address in their account is ch

[2017-09-22 05:31] thezeronine commented on #8443
I'm still not able to reproduce the issue as mentioned in my previous comment.. sorry guys! =/

[2017-09-22 16:32] SabreCat commented on #8443
@TheZeroNine Sorry it didn't work out! Thanks for letting us know; I've opened this back up for help.

[2017-09-23 02:20] Alys opened #9068 "VersionError during cron might cause entire cron to fail - non-fatal error handling needed?"
In the Report a Bug guild, TNoth (2a791021-b07e-4046-ba3b-474f76e9d2e0) said "I am currently in a quest and when I logged on today, it did not show any damage inflicted on the boss." I confirmed that the quest portion of cron had not run. Loggly shows a VersionError during that cron: `No matching document found for id "f813fa26-bca2-48e5-bee0-e2a7303ff7b9"`. That uid is for one of TNoth's Dailies.

[2017-09-23 14:52] trvrfrd commented on #8781
I am having a similar (maybe the same?) problem with the Unequip Battle Gear/Costume buttons.

When I hit the button, the UI shows that all items were removed from my avatar, and I get an individual notification for each piece of equipment saying it was unequipped. But, if I refresh the page, only one (and exactly one) item has been unequipped.

What seems to be happening is that a separate POST r

[2017-09-23 16:29] TheHollidayInn commented on #9068
The issue is that when saving the user with all the new cron data, mongo rejects the save. The issue is that notifications is in an array and modified in parallel with the read notifications route.

The first solution should be to move the notifications off of the user.

[2017-09-24 04:08] Alys commented on #9068
But wouldn't that cause a VersionError for the player's User ID? The VersionError in this case specifies a task ID.

[2017-09-24 05:41] TheHollidayInn commented on #9068
Ah, I missed that. Then this is related to the task history or task checklists. The checklist error happens during task saving/editing, so I am leaning towards that to be inspected.

[2017-09-24 10:45] Alys opened #9071 "API should block purchase of high-level basic class equipment until low-level gear is bought"
Currently, the API allows you to purchase any of the basic class-specific gear, regardless of whether you've bought lower-level pieces. For example, using the API you can buy the Warrior's Golden Sword before you've bought the Warrior's Training Sword.

The API should prevent this.

[2017-09-24 14:35] matchajune commented on #9059
Hello!

What is the current status of this issue? I am very interested in tackling this issue and would like to get confirmation to proceed.

Thanks!

[2017-09-24 21:01] Alys commented on #9059
@matchajune Thank you for asking! However @outofthisworld has actually submitted a PR so a fix is underway. Hopefully you can find another issue that you're interested in though!

@outofthisworld It's a good idea to post on an issue before you start work on it to avoid any chance of two people working on the same problem at once. :) It also gives admins a chance to give any information that might

[2017-09-25 17:05] matchajune commented on #9071
Hello @Alys !

Just want to confirm if anyone is working on this before I take it.

Thanks!!

[2017-09-26 15:19] Alys commented on #9071
@matchajune Thank you! It's all yours. :) Comment here if you have questions or run into trouble.

[2017-09-26 23:24] Alys opened #9083 "add confirmation step to "begin" button for quests"
Quest owners sometimes click the "Begin" button on a quest before party members have had a chance to accept/reject the invitation because they don't understand what the button is for.

We want to add a confirmation screen that displays this text:
**"Are you sure? Only X of your Y party members have joined this quest! Quests start automatically when all players have joined or rejected the invitatio

[2017-09-28 06:42] SSKUltra commented on #9083
I could work on this once the habitica local is fit for contribution.

[2017-09-29 06:44] Zian opened #9095 "Cannot Get Past the "New Stuff" Announcement Popup Dialog"
I can't figure out how to get to the Report a Bug guild from my browser; the entire website is obscured and I can't even scroll past. Feel free to redirect this bug as appropriate.

### General Info
  * UUID: Cannot get to the page with the information
  * Browser: Internet Explorer 11
  * OS: Windows 7 SP1 x64 EN-US

### Description
I cannot get to any part of the website except for the first two

[2017-09-29 08:48] Alys opened #9096 "allocated stat points appear to go to Strength"
When a user allocates a stat point, on the server it is allocated correctly every time,  but on the client it looks like the point is always allocated to Strength. As soon as you reload you see the correct allocations.

I've tracked it down to this code:
https://github.com/HabitRPG/habitica/blob/4495539e8c34c16b00b3f3c4bb7721428ae72478/website/client/components/userMenu/profile.vue#L281
https://gi

[2017-09-29 08:51] Alys commented on #9096
I'm marking this important because it's a highly visible bug - so many reports of it in the Bug guild and Tavern! We need this fixed for the Socialite's sanity if nothing else.

If a contributor wants to take it on, please only do so if you already can see how to fix it and can submit a PR within the next day. Comment here if you can do that. I'm also asking the staff devs for input on this and it

[2017-09-29 10:44] Alys opened #9097 "API allows a user to block themself from sending PMs"
The API route `/api/v3/user/block/[userid]` allows a user to specify their own User ID for blocking.

It should be changed so that it throws an error when you try to block yourself.

[2017-09-29 10:48] pineapple-joe commented on #8593
Hey, may I work on this one?

[2017-09-29 11:17] Alys commented on #8593
@borisabramovich86 yes, thank you! Comment here if you have questions.

[2017-09-29 11:19] Alys commented on #8593
@borisabramovich86 Note though that the [Setting up Habitica Locally](http://habitica.wikia.com/wiki/Setting_up_Habitica_Locally) instructions and related wiki pages haven't yet been updated for the new website and if you follow them exactly as written, your local install won't work. If you need help with that before we update them, comment here or ask for help in the Aspiring Blacksmiths guild (t

[2017-09-29 15:14] citrusella commented on #9095
I think that's a known issue with multiple modals popping up at once right now. I believe you can dismiss Bailey's message (until the next refresh, the equivalent of "tell me later") by clicking anywhere in the non-news part of the page. It's not a fix, but it might be a doable workaround.

[2017-09-29 21:02] trvrfrd commented on #9096
I have a fix running locally that seems to solve the issue. Happy to open a PR if no one has taken care of it yet!

@Alys, you had definitely tracked down the problem. It seems to be a simple matter of the `allocate` function in `website/client/components/userMenu/profile.vue` calling the other `allocate` function in `website/common/script/opts/allocate.js` incorrectly. The latter expects its seco

[2017-09-29 21:38] TheHollidayInn commented on #9096
Feel free to open a PR, and I will review! I believe you have the right concept. I was about to do this fix otherwise.

[2017-09-29 22:18] tiffanynwyeung commented on #8879
As someone who heavily does all the habits at the same time and has run into sync errors multiple times, a potential - if *hard* - workaround is to delay all the notifications and instead lump them together into a mass total, perhaps pinging a notification of the sums of each stat earned? Of course this is reliant on if there's a way to track the overwhelming amount of requests from one ID, let's

[2017-09-29 23:33] Alys commented on #9096
This might be related although a fix for it does NOT have to go live at the same time as the fix for the problem above:

Destan53 (380a5fa2-0938-4cc1-8357-89acf2d7e503):
"I think that the automatic allocation of attribute points isn't working, previous to the change of the site I had the mode of "Distribute attribute points evenly", but last night after the changes I went up one level, and the att

[2017-09-29 23:44] TheHollidayInn commented on #9096
That issue seems to have to with how auto allocation works on the server (maybe cron). We should probably separate the issue. But we can double check after this PR goes live.

[2017-09-29 23:48] #9096 closed, assigned to nobody

[2017-09-29 23:53] trvrfrd commented on #9096
whoa, I contributed something! :heart_eyes_cat: thanks y'all!

[2017-09-30 00:17] Alys opened #9107 "problems with autoallocation of stats"
From Destan53 (380a5fa2-0938-4cc1-8357-89acf2d7e503) in the Report a Bug guild:
"I think that the automatic allocation of attribute points isn't working, previous to the change of the site I had the mode of "Distribute attribute points evenly", but last night after the changes I went up one level, and the attribute point that should've gone to Constitution went to Strength instead, as you have sug

[2017-09-30 00:17] Alys commented on #9096
@trvrfrd Thank YOU! We love the fast fix for this!

@TheHollidayInn I've made a new issue for the other thing: https://github.com/HabitRPG/habitica/issues/9107  It won't be related to cron. Auto-allocation happens on level-up.

[2017-09-30 15:47] vasyl-shumskyi opened #9110 "Habit progress graphs disappeared in new interface"
Hello,

Looks like habit progress graphs disappeared in the new interface.

http://habitica.wikia.com/wiki/Habits#Checking_on_your_Habits

<img width="251" alt="habit_progress_graph" src="https://user-images.githubusercontent.com/2331802/31047253-c727d812-a60f-11e7-9182-a3fd60acb722.png">

[2017-10-01 05:36] Alys commented on #9110
Bugs are best reported in the Report a Bug guild that you can access from the Help menu on the website or from Guilds on the website or mobile app. There's also a bit more information about that in the template within the new issue form in GitHub. If it's ever necessary for you to report a bug in GitHub, an moderator or staff member would advise you of that in the Report a Bug guild.

However ther

[2017-10-01 05:36] #9110 closed, assigned to nobody

[2017-10-01 05:57] Zian commented on #9095
Thanks for the tip; it worked for me.

[2017-10-01 06:57] pineapple-joe commented on #8593
If you can give me some pointers on setting up the new site, I would appreciate it. It would speed things up :)
Also, I can't find those posts you mentioned, if you can add a link here.
(The Aspiring Blacksmiths link just leads me to the new site)
https://habitica.com/#/options/groups/guilds/68d4a01e-db97-4786-8ee3-05d612c5af6f

Thanks!

[2017-10-01 07:48] Alys commented on #8593
URLs have changed now that the new website is live. You can find the Aspiring Blacksmiths guild in the guild list. We'll be updating the wiki when we can.

[2017-10-01 14:23] #8201 closed, assigned to TheHollidayInn

[2017-10-01 14:24] #8002 closed, assigned to nobody

[2017-10-01 18:48] ResamVi opened #9119 "api/v3/i18n/browser-script 504 (Gateway Timeout)"
I've got a local install of Habitica running with the website loading except for the text.

![screenshot from 2017-10-01 20-36-01](https://user-images.githubusercontent.com/6261556/31057835-6753c4b6-a6e9-11e7-9617-873a388e85a9.png)

With the following steps:
`npm start`
`npm run client:dev`
`using chrome on http://localhost:8080`

After visiting localhost:8080 the console logs the following messag

[2017-10-01 23:28] dataf3l commented on #9048
This was the old version, I think the new version behaves differently

[2017-10-01 23:28] #9048 closed, assigned to nobody

[2017-10-02 18:11] paglias commented on #9119
are you able to access `http://localhost:3000//api/v3/i18n/browser-script`

[2017-10-02 18:37] josher19 opened #9125 "API Docs broken"
### General Info
  * UUID: 176ad08e-df92-4d19-94ba-23fe8a87ae9a
  * Browser: Latest Chrome & Firefox: Mozilla/5.0 (Macintosh; Intel Mac OS X 10.12; rv:55.0) Gecko/20100101 Firefox/55.0
  * OS: MacOS X 10.12

### Description
[//]: # (Describe bug in detail here. Include screenshots if helpful.)
API Docs broken.

When going to https://habitica.com/apidocs/ get 404 Error and message:

[code]

#### HT

[2017-10-02 19:05] AlexCaranha commented on #9125
It's broken since September 29, 2017.

[2017-10-02 22:57] luanmuniz opened #9127 "Duplicated equipment in list"
[//]: # (Before logging this issue, please post to the Report a Bug guild from the Habitica website's Help menu. Most bugs can be handled quickly there. If a GitHub issue is needed, you will be advised of that by a moderator or staff member -- a player with a dark blue or purple name. It is recommended that you don't create a new issue unless advised to.)

[//]: # (Bugs in the mobile apps can also

[2017-10-02 23:01] luanmuniz opened #9128 "Missing sleeping_bed emoji image"
[//]: # (Before logging this issue, please post to the Report a Bug guild from the Habitica website's Help menu. Most bugs can be handled quickly there. If a GitHub issue is needed, you will be advised of that by a moderator or staff member -- a player with a dark blue or purple name. It is recommended that you don't create a new issue unless advised to.)

[//]: # (Bugs in the mobile apps can also

[2017-10-03 02:12] luanmuniz opened #9132 "Bug with Tooltip in Choose class modal"
[//]: # (Before logging this issue, please post to the Report a Bug guild from the Habitica website's Help menu. Most bugs can be handled quickly there. If a GitHub issue is needed, you will be advised of that by a moderator or staff member -- a player with a dark blue or purple name. It is recommended that you don't create a new issue unless advised to.)

[//]: # (Bugs in the mobile apps can also

[2017-10-03 02:13] luanmuniz opened #9133 "Undefined as Description"
[//]: # (Before logging this issue, please post to the Report a Bug guild from the Habitica website's Help menu. Most bugs can be handled quickly there. If a GitHub issue is needed, you will be advised of that by a moderator or staff member -- a player with a dark blue or purple name. It is recommended that you don't create a new issue unless advised to.)

[//]: # (Bugs in the mobile apps can also

[2017-10-03 02:19] luanmuniz opened #9134 "Customize avatar modal doesn't highlight correct section"
[//]: # (Before logging this issue, please post to the Report a Bug guild from the Habitica website's Help menu. Most bugs can be handled quickly there. If a GitHub issue is needed, you will be advised of that by a moderator or staff member -- a player with a dark blue or purple name. It is recommended that you don't create a new issue unless advised to.)

[//]: # (Bugs in the mobile apps can also

[2017-10-03 04:52] lemoness opened #9135 "A-Z Sort should be based on species"
When sorting by A-Z in the Stable, the sort is applied to the leading color name rather than then animal name. This means all the Base animals are first, and it is a less useful metric than it should be.

[2017-10-03 04:54] lemoness opened #9136 "Edits to Skills (Stealth, Chilling Frost, Brutal Smash)"
After the redesign, there are several small bugs with skills:

- Chilling Frost should be grayed out after the first time that it is cast, since there is no advantage to casting it multiple times a day. - logged at https://github.com/HabitRPG/habitica/issues/6867
- <strike>Brutal Smash and Burst of Flames no longer have an associated notification saying how much damage it dealt to the Boss.</strik

[2017-10-03 05:08] lemoness commented on #9127
Thank you for reporting this! The good news is that this was due to a one-off bug with the migration, so you can simply unpin them and it shouldn't happen again. I'm closing this ticket, but it can always be reopened if something happens to change this.

[2017-10-03 05:09] #9127 closed, assigned to nobody

[2017-10-03 05:11] lemoness commented on #9134
This is due to an issue with our SVGs.

[2017-10-03 05:12] lemoness commented on #9133
The wording that should be used is "This Habitican hasn't added a description." and it should be in italics.

[2017-10-03 05:13] lemoness commented on #9128
This may be the case for other emojis as well.

[2017-10-03 05:15] lemoness opened #9137 "Quest data carries over"
A user has reported that when they attempted to invite their party to a quest which was correctly denied due to a level requirement, and they then opened up a new quest to invite their party (the Basi-list), the quest invite button incorrectly remained locked until they refreshed the page.

[2017-10-03 05:22] lemoness opened #9138 "Ctrl+Enter should send chat message"
You should be able to hit Ctrl+ enter to send chat messages in ALL chat areas of the new site.

[2017-10-03 08:40] ResamVi commented on #9119
`localhost:3000` doesn't work at all. So trying `http://localhost:8080/api/v3/i18n/browser-script` just yields this text page:
`Error occured while trying to proxy to: localhost:8080/api/v3/i18n/browser-script`

`http://localhost:8080//api/v3/i18n/browser-script`
points to your "Sometimes even the bravest adventurer gets lost." error page.

[2017-10-03 08:59] ResamVi commented on #9119
Okay, I got it to work.
What I mistakenly did was using `npm start` to compile and then `Ctrl+c` to kill the process afterwards and use `npm run client:dev` instead. But it suffices to use `npm start` and  navigate to localhost:3000.

[2017-10-03 10:15] #9119 closed, assigned to nobody

[2017-10-03 13:34] #9125 closed, assigned to paglias

[2017-10-03 13:34] paglias commented on #9125
I've just committed a fix for this, it'll go live with the next deployment

[2017-10-03 15:05] luanmuniz opened #9142 "There is no way to change class after closing the modal"
[//]: # (Before logging this issue, please post to the Report a Bug guild from the Habitica website's Help menu. Most bugs can be handled quickly there. If a GitHub issue is needed, you will be advised of that by a moderator or staff member -- a player with a dark blue or purple name. It is recommended that you don't create a new issue unless advised to.)

[//]: # (Bugs in the mobile apps can also

[2017-10-03 15:05] #9142 closed, assigned to nobody

[2017-10-03 15:07] Alys commented on #9142
@luanmuniz When you have questions about where to find things on the new site or how to do something, please go to Help > Ask a Question to ask there.

When you've found a bug, please report it at Help > Report a Bug. If we need you to copy it to GitHub, a moderator or staff member will advise you there, but almost always that's not necessary.

You can change class (or enable the class system) at

[2017-10-03 15:10] paglias opened #9143 "PressKit page is broken"
The presskit page on the new website is broken, see https://habitica.com/static/press-kit.

There are some issues in the code that prevent it from working

Code like this

[code]

won't work because for webpack urls to work they cannot use computed properties. So either define them manually or move everything to `/website/static` and then link the images as `/static/${pathToImageInStaticFolder}`

[2017-10-03 15:11] paglias opened #9144 "Merchandise page is broken"
The presskit page on the new website is broken, see https://habitica.com/static/merch.

There are some issues in the code that prevent images from showing up.
Code like this

[code]

won't work because for webpack urls to work they cannot use computed properties. So either define them manually or move everything to `/website/static` and then link the images as `/static/${pathToImageInStaticFolder}

[2017-10-03 16:17] paglias opened #9146 "Remove user wrapping from common code"
`user.{fns/ops}...` is not used anymore by the new client so the code for it can be removed: there are some tests that still use the wrapping code and an occurence in the code itself.

[2017-10-03 18:49] LunarGem commented on #9136
Are the docs on local installs updated yet? I could try this (I'm already working on a skills-related server side issue, so if it's not too much different with Vue instead of Angular it's probably within my skill set).

[2017-10-03 19:43] PauloDeSouza commented on #8931
Canceling pending invitation is now broken after the update. A lot of people complaining in the Looking for a Party Guild, as well Group leaders.

[2017-10-03 21:35] lemoness opened #9149 "Leaving Challenge has misleading buttons"
When you leave a running challenge, the pop up that asks  if you want to delete the tasks lets you click  "Okay" or "Cancel". Instead, these buttons should say "Keep" and "Remove".

[2017-10-03 21:53] lemoness opened #9150 "Accessibility Issue: Zoom Level"
We received the following report:

"Thank you for all your work on the new site. It certainly looks very smart and up to date. I do need to report a bug though that unfortunately is a show stopper for me. I am partially sighted and use large fonts and zoomed screens. This worked perfectly with the old site but the new site does not (yet) adjust to my zoom level, so I am unable to easily see all my

[2017-10-03 21:57] lemoness opened #9151 "Stable Count Incorrect"
We've received the following report:

"In the Stable, my count of how many pets I have no longer counts ones I have turned to mounts. I should have 46/90 pets. I now show 39/90 I currently have 7 pets turned to mounts that are greyed out."

[2017-10-04 00:39] madpink opened #9153 ""You bought subscriber gems" when they've all been bought - message formatting needs to be fixed"
### Description
[//]: # (Describe bug in detail here. Include screenshots if helpful.)

<strike>When purchasing subscriber gems, there is no notification when we've purchased all that we can.  I keep clicking the purchase button and i get "You bought subscriber gems" but no more gems are added and no gold is deducted.</strike>

<strike>Using the API I get  the error message: "You've reached the Go

[2017-10-04 04:01] librarianmage commented on #9149
I can do this!

[2017-10-04 04:04] librarianmage commented on #9143
I have experience with the press kit page, so I can work on it.

[2017-10-04 04:05] librarianmage commented on #9133
@lemoness Should a message saying "This Habitican hasn't added a photo." be used under the photo section if a photo hasn't been added?

[2017-10-04 05:28] Alys commented on #9143
@MathWhiz Thank you!

[2017-10-04 05:31] Alys commented on #9149
@MathWhiz Go for it!

If you need to add new locales strings, can you give them long names something like `tasksKeep`, rather than short names like `keep`? Grepping the code base for all uses of a string's key is a nightmare when the key is a single common word. :)

[2017-10-04 13:52] librarianmage commented on #8827
Should this be added with #9143? If so, I can do this.

[2017-10-04 14:45] TheJoeSchr opened #9156 "Streamline +create [task/habit/dailiy]"
The new style is really cumbersome with the "+create" button.
I understand you want to know which kind of entity I want to create so you can pop up the specific modal, but I think a + button on each list would be better. Now I have to do 2 clicks to add a task. I like to add a lot of task at once, as quickly as possible, so I can move on with my day. This is now really cumbersome. Even better woul

[2017-10-04 15:57] JoeSchr commented on #9156
#

[2017-10-04 19:41] paglias commented on #9156
@JoeSchr we're working on a better design for this, it should be out in a few weeks!

[2017-10-04 19:41] #9156 closed, assigned to nobody

[2017-10-05 01:02] lemoness commented on #8888
We've made many changes to the new website, so this doesn't appear to be an issue any more. I'm closing this ticket, but if you feel that it should be reopened for any reason, please feel free to leave a comment!

[2017-10-05 01:02] #8888 closed, assigned to nobody

[2017-10-05 01:03] lemoness commented on #8875
Is this still happening?

[2017-10-05 01:04] lemoness commented on #8829
We've made many changes to the website, and this doesn't appear to be an issue any more. I'm closing this ticket, but if you feel that it should be reopened for any reason, please feel free to leave a comment!

[2017-10-05 01:04] #8829 closed, assigned to nobody

[2017-10-05 01:06] lemoness commented on #5035
Has this been addressed? If so, it should be closed.

[2017-10-05 01:07] lemoness commented on #2413
We've made many changes to the website, and this should have been addressed. I'm closing this ticket, but if you feel that it should be reopened for any reason, please feel free to leave a comment!

[2017-10-05 01:07] #2413 closed, assigned to nobody

[2017-10-05 01:08] lemoness commented on #8039
Has this been addressed already?

[2017-10-05 01:08] lemoness commented on #8022
Has this been addressed already?

[2017-10-05 01:09] lemoness commented on #8075
Is this still an issue for people?

[2017-10-05 01:11] lemoness commented on #8362
We've made many changes to the website, and this doesn't appear to be an issue any more. I'm closing this ticket, but if you feel that it should be reopened for any reason, please feel free to leave a comment!

[2017-10-05 01:11] #8362 closed, assigned to nobody

[2017-10-05 01:11] tardis4500 commented on #8829
Is this a joke? It's not an issue because the functionality was completely removed. Telling me that TODOs will stay collapsed in the new interface and then removing the functionality as the "solution" so that no TODOs are collapsed is not a fix. This issue should not have been closed since the problem remains: TODOs do not stay closed.

[2017-10-05 02:10] Alys commented on #8829
@tardis4500 You might not have reloaded the website recently - reloads are necessary for the latest changes to take effect so I'd recommend reloading once a day, maybe twice a day while we're pushing out changes rapidly, or at least reloading when you see information in Habitica about more bugs being fixed. Checklists are definitely staying closed for me at the moment. If you reload and still see

[2017-10-05 06:12] lemoness commented on #1484
We plan to tie this into a future feature involving a history log, so I am closing this discussion because it is fairly outdated. It can always be reopened in the future if needed.

[2017-10-05 06:12] #1484 closed, assigned to nobody

[2017-10-05 06:13] lemoness commented on #1703
Is this still an issue?

[2017-10-05 06:14] lemoness commented on #1728
We will be revisiting better ways for scoring and awarding Challenges in a future feature that is being planned, so I am closing this ticket for now. It can always be reopened if necessary.

[2017-10-05 06:14] #1728 closed, assigned to nobody

[2017-10-05 07:49] wilhen01 commented on #8829
Nice one, thanks guys!

[2017-10-05 08:10] #5035 closed, assigned to nobody

[2017-10-05 08:11] paglias commented on #8039
Not yet

[2017-10-05 08:11] paglias commented on #8022
Not yet

[2017-10-05 08:52] wildcate commented on #1703
I haven't done any challenge item sorting for a long while, so I can't
actually say - sorry!

lemoness wrote:

[2017-10-05 09:16] #9095 closed, assigned to nobody

[2017-10-05 17:26] lemoness commented on #1338
This ticket is very outdated, so I'm closing it for now! It can always be reopened if needed.

[2017-10-05 17:26] #1338 closed, assigned to nobody

[2017-10-05 18:28] thebat137 commented on #8075
I was experiencing it occasionally before and have not experienced it since the update.

[2017-10-05 18:33] toddmedema commented on #8075
I also have not experienced this since the update, huzzah!

[2017-10-05 18:40] Prutonium commented on #8075
Haven't seen the issue since either :) great work on the update y'all!

[2017-10-06 08:27] ghost opened #9166 "Internal watch failed"
[code]

[2017-10-06 08:28] ghost commented on #9166
And my logfile is like that.
`
root@ubuntu:~/habitica# cat /root/.npm/_logs/2017-10-06T08_26_22_472Z-debug.log
0 info it worked if it ends with ok
1 verbose cli [ '/usr/bin/node', '/usr/bin/npm', 'start' ]
2 info using npm@5.4.2
3 info using node@v6.11.4
4 verbose run-script [ 'prestart', 'start', 'poststart' ]
5 info lifecycle habitica@4.2.1~prestart: habitica@4.2.1
6 info lifecycle habitica@4.2.

[2017-10-06 08:40] ghost commented on #9166
Had to do some modifications to my server, fixed.

[2017-10-06 08:40] #9166 closed, assigned to nobody

[2017-10-06 08:42] ghost opened #9167 "Installion seems to be stuck"
I installed habitica on my ubuntu 16.04 server, everything seems to be good, but after running npm start it seems to be stuck.
![image](https://user-images.githubusercontent.com/31951743/31270016-5845d7ca-aa8b-11e7-881a-ceb6be1bbba5.png)
Been like this for 10 minutes now.

[2017-10-06 09:45] #8075 closed, assigned to nobody

[2017-10-06 09:47] paglias commented on #9167
It doesn't seem to be stuck, the server is running (Express server listening...), can you open localhost:3000?

[2017-10-06 10:26] pineapple-joe commented on #8593
Hey, I finally managed to get my local copy working! :)
I got some questions:

1. I can't see the enable BeastMaster in debug Menu.
Can I manually activate it in the DB?
or is there additional functionality?

2. Also, the level up in the debug menu is not working for me.
I tried setting my level to 50 in the DB, but I don't see the Orb of Rebirth in Market.

3. I understand the test scenario is:
-

[2017-10-06 10:38] ghost commented on #9167
Thanks for reply.
It returns me this error: `{"success":false,"error":"Error","message":"ENOENT: no such file or directory, stat '/root/habitica/dist-client/index.html'"}
`

[2017-10-06 10:44] paglias commented on #9167
@gkua ok that means the server is running correctly, now you should open a new terminal window or tab (without closing the current one or stopping the process) and run `npm run client:dev`, wait for that process to finish the first compilation (it takes some time) then you'll have the API accessible at `localhost:3000` while the website is accessible at `localhost:8080`.

We're working on updating

[2017-10-06 10:44] #9167 closed, assigned to nobody

[2017-10-06 10:51] Alys commented on #8593
@borisabramovich86 If you give yourself all the pets using the debug menu, you'll get the beastmaster achievement (although you might need to give yourself all but one pet and then hatch the final pet normally to trigger the achievement). It's probably simpler to use a database update command to set the achievement manually - look in the Blacksmiths documents on the wiki for information about doin

[2017-10-06 11:08] Alys opened #9169 "Record Yesterday's Activity (RYA) not obeying Custom Day Start time (CDS) when displaying Dailies after midnight?"
_EDIT 2019-07-13:_ See [this comment](https://github.com/HabitRPG/habitica/issues/9169#issuecomment-511092160) for some details about how to reproduce the bug.

_In the Report a Bug guild, thebat137 (dea8a9e8-c084-438a-9a14-7fe96a73fd0a) wrote:_

I had an interesting bug the other day related to custom day start settings and checking off yesterday's tasks at initial check-in.
My custom day start i

[2017-10-06 15:16] tim1234ltp commented on #9144
I would like to help with this issue. Even though I only have experience with Bootstrap but not Vue, I will try my best with this issue.

[2017-10-06 15:54] SabreCat commented on #9144
Thanks, @tim1234ltp! Be sure to comment here or in the Aspiring Blacksmiths guild if you need any help.

[2017-10-06 17:00] ghost commented on #9167
Is it possible to run provess even after after closing ssh? Tried nohup but seems to be no luck

[2017-10-06 17:03] paglias commented on #9167
@gkua I don't use ssh to run Habitica, sorry :( Maybe @SabreCat knows something

[2017-10-06 17:20] TheHollidayInn commented on #9167
Are you asking how to run multiple process after connecting to your server?

I'd recommend using docker compose if you are doing a remote server. But, you can just open multiple terminals, ssh into your server from each terminal, then run the server on one connection, and the client on the other. This will give you control without throwing process to the background.

[2017-10-06 17:45] SabreCat commented on #9167
Yeah, I just use multiple SSH terminals, that works out easiest. (I sometimes have upwards of 5 open... one for Webpack, one for server, one for grepping stuff, one for vim, one root XD)

[2017-10-06 17:58] ghost commented on #9167
I meant running the processes when closing ssh client eg (putty)
Example: open up 2 instances of ssh
Do npm start and on other instance npm run client:dev and close the putty’s
Right now id i close them, the processes stop aswell.

[2017-10-06 18:02] SabreCat commented on #9167
Oh, I see. You might be able to run them in a screen tab or something? I wouldn't advise it, though, as you do sometimes need to restart them manually (e.g. when changing locale strings, for `npm start`), and you get valuable debug information out of them as well (the `npm run client:dev` session will show you syntax errors if it ever fails to recompile).

[2017-10-06 18:08] ghost commented on #9167
Thanks for quick reply.
Yeah, i agree with your answer.
So.. let me be more clear, i have a desicated server where i connect to and host it on there, not on my local machine.
So basically, right now if i close the putty connection, it ends the npm processes aswell, is there a workaround about this? I agree, you would need to manually restart it sometimes, eg when changing something, but right now

[2017-10-06 18:22] SabreCat commented on #9167
@gkua Yup, I use a remote server for Habitica dev too. There are various ways to run background processes on Ubuntu, but I just tried `screen` and it worked just fine: https://uisapp2.iu.edu/confluence-prd/pages/viewpage.action?pageId=115540034

[2017-10-06 18:30] ghost commented on #9167
Thanks, ill check it

[2017-10-06 21:19] lemoness commented on #9133
@MathWhiz Yes, I think that's very reasonable!

[2017-10-06 21:21] lemoness commented on #8827
Yes, it should! Thank you very much.

On Wed, Oct 4, 2017 at 6:52 AM, MathWhiz <notifications@github.com> wrote:

[2017-10-06 22:06] Alys commented on #9136
@LunarGem Sorry about our delay on answering this! We'd love you to work on it - thank you!

These two docs have been updated:
http://habitica.wikia.com/wiki/Guidance_for_Blacksmiths
http://habitica.wikia.com/wiki/Setting_up_Habitica_Locally

This one has not yet:
http://habitica.wikia.com/wiki/Using_Your_Local_Install_to_Modify_Habitica's_Website_and_API
but most of it should still be the same as

[2017-10-07 01:38] lemoness opened #9171 "Images should be automatically resized in chat (and elsewhere)"
Images are now no longer neatly resized when embedded in chat. (This may also be an issue in profiles, Guild/Challenge sidebars, and task lists, so those should all be checked as well.)

[2017-10-07 01:46] lemoness commented on #1703
I'm going to close this issue for now, but we can always open a new ticket if it happens again.

[2017-10-07 01:48] lemoness commented on #1806
I'm closing this for now because we have rewritten all of our front-end code, but if this is still an issue, we can open a new ticket.

[2017-10-07 01:48] #1806 closed, assigned to nobody

[2017-10-07 01:50] lemoness commented on #2028
Given the fact that in the current version of the redesign, the costume filter is toggled at the bottom of the page and the outfits are not separated out, I think this change might be more confusing than clarifying, so I am closing this ticket for now. If necessary, we can always open a new one.

[2017-10-07 01:50] #2028 closed, assigned to nobody

[2017-10-07 01:53] lemoness commented on #2433
I believe that the tutorial no longer awards experience, so this should no longer be an issue. If it is, we can always reopen this ticket or make a new one.

[2017-10-07 01:54] lemoness commented on #2433
Ah, I see that it also includes Quest rewards and Armoire. Is this still happening in the new site?

[2017-10-07 01:55] lemoness commented on #2470
This is handled differently now with the new site, and I don't believe that it is a major issue anymore, so I am closing this ticket. A new one can be opened again if necessary.

[2017-10-07 01:55] #2470 closed, assigned to nobody

[2017-10-07 02:00] joedragons commented on #2433
Pretty sure someone reported this in the bug guild today.  I haven't seen it myself but I also haven't finished a quest (yet=D)).

[2017-10-07 02:01] lemoness commented on #2490
Chat is handled different now, so this should no longer be an issue. If it happens again, we can open a new ticket.

[2017-10-07 02:01] #2490 closed, assigned to nobody

[2017-10-07 02:01] LunarGem commented on #2433
I do know it happens on the apps from time to time (that's where I do most of my checking).

[2017-10-07 10:05] pineapple-joe commented on #9097
Hey, can I handle this issue?

[2017-10-09 07:41] sheley commented on #9128
i submitted a "bug report" though the website about this last week, can confirm for other emojis: i have a lot of missing ones on my tasks etc. and then i just got curious and decided to check if there's an issue for it.

[2017-10-09 14:42] IronWalnut opened #9173 "Notification Dropdown Showing with Scroll Bars"
### General Info
  * Browser: Google Chrome
  * OS: Windows 10

### Description
[//]: # Notification area shows with scrollbars instead of expanding to correct size. This happens when I have none/one/several notifications.

![untitled](https://user-images.githubusercontent.com/12644611/31343743-7d51d3fc-acde-11e7-9536-48ce7da63464.png)

![untitled2](https://user-images.githubusercontent.com/126446

[2017-10-09 20:00] SabreCat commented on #2484
Closing this. I still think it's a fun idea, but we use Trello for misc feature requests and enhancements like this these days!

[2017-10-09 20:00] #2484 closed, assigned to nobody

[2017-10-10 02:05] aalsehly86 commented on #9138
Hello @lemoness, anyone currently working on this issue? Because Tavern Chat, Party Page and Messages has been **fixed** and tested on 56.0 (64-bit) Firefox on Ubuntu and it's working fine with Ctrl+enter to send messages. Just don't know if there are more chat boxes to be fixed?
The first two sections, Groups and Guilds? We're contributing to this as a part of a Computer Science class. Thanks.

[2017-10-10 23:37] maurnoc commented on #9173
Hello @IronWalnut. If no one is currently looking into this, I will push a correction to fix the scroll/visible issue.

[2017-10-10 23:42] IronWalnut commented on #9173
Thanks! I think you guys have done a great job at cleaning up the new GUI since it launched.

[2017-10-11 00:52] lemoness commented on #9173
@maurnoc Thanks for your help! We look forward to seeing your PR.

[2017-10-11 02:24] joedragons commented on #9173
I also noticed this today on the quest details before a purchase as well.  I'm curious if the fix will be general or specific to this.  I can provide a screen if desired.
Both occur for me in FF if it helps (also Windows 10).

[2017-10-11 14:02] maurnoc commented on #9173
@joedragons  Could you please post a screen shot? I will try to fix the issue later today.

[2017-10-11 15:19] joedragons commented on #9173
@maurnoc Here's a screenshot of the bundle, but it also occurs with the individual quests.  Let me know if you need more details.  Thanks for the reply and help=)

![habiticarevampfeedback16](https://user-images.githubusercontent.com/9559205/31449879-0e739436-ae76-11e7-8dce-e664b5e73b21.png)

[2017-10-11 15:58] thefridge111 commented on #9135
I can take a look at this if noone else is. Should be simple enough to implement.

[2017-10-11 20:52] maurnoc commented on #9173
Thank you. I pushed the changes to my teams branch. I am currently waiting for them to test it to make sure I did not miss anything.

[2017-10-12 09:26] Alys opened #9179 "new Contributor equipment is not able to be purchased after a contributor tier is awarded"
When a contributor is given Tier 2, 3, 4, or 5, one of their [Contributor Rewards](http://habitica.wikia.com/wiki/Contributor_Rewards) is a piece of equipment, which they need to buy for gold.

They should be able to buy it by going to Shops > Market and selecting "None" from the 'Class" drop-down list. The equipment should appear there for purchase with gold because of this `canOwn` code:
https:/

[2017-10-12 11:44] Alys opened #9180 "Using FIx Character Values to adjust stats temporarily makes the website append not add"
Using FIx Character Values to increase your gold by a certain number temporarily makes the website **append** that number to your gold balance, not **add** it. To replicate the bug:

1. Go to User Icon > Settings > Fix Character Values
2. Adjust your gold to have any non-zero value (e.g. 42).
3. Click "Save & Close".
4. Go to your task list and click a positive Habit.
5. Observe your gold balance:

[2017-10-12 13:46] Alys commented on #9083
@SSKUltra Would you still like to work on this? If so, we'd love you to - let us know and we'll mark this as in progress. Local installs should work now but if you run into any problems, as in the Aspiring Blacksmiths guild.

[2017-10-12 15:24] SSKUltra commented on #9083
@Alys I would love to work on this right away. Thanks for the update.

[2017-10-12 16:20] pineapple-joe commented on #9133
Hey, can I work on this one?

[2017-10-13 01:55] trvrfrd commented on #9151
I've got a simple fix for this working locally, happy to open a PR if no one else is working on it!

[2017-10-13 02:11] Alys commented on #9097
@borisabramovich86 Yes, thank you!

[2017-10-13 02:12] Alys commented on #9135
@thefridge111 Thanks! Please do!

[2017-10-13 02:13] Alys commented on #9133
@borisabramovich86 Sure! Thanks!

[2017-10-13 02:13] Alys commented on #9151
@trvrfrd Thanks, please do!

[2017-10-13 03:17] LunarGem commented on #9151
Oh, I thought that was the intended behavior. I use it to count which holes I have so I can get my Triad Bingo. Should this be the correct behavior or am I just taking advantage of a bug? :)

[2017-10-13 10:23] kawunngg commented on #8116
i think it happens more often now since the update :(

[2017-10-13 11:07] pineapple-joe commented on #9097
Hey,
should the error message be something that exists,
or do I add a new message?
And if so, how to I go about doing it, with the i18n translation and all?

[2017-10-13 22:17] lemoness commented on #9138
@aalsehly86 Thank you for asking! This bug has indeed been recently fixed, but I hope that you and your classmates will contribute to one of the other issues. Check out the "POST-REDESIGN" tag to see some of the most recent issues!

[2017-10-13 22:17] #9138 closed, assigned to nobody

[2017-10-13 22:18] lemoness commented on #9097
The error message should read "You can't block yourself!" I'll let one of the devs chime in about the way to make it translatable.

[2017-10-13 22:23] lemoness commented on #9151
@LunarGem Hah, very clever. It's not the correct behavior, so it's definitely still a fix that needs to be made.

[2017-10-13 22:31] lemoness commented on #9083
@SSKUltra Thank you so much! We're excited to see your fix.

[2017-10-13 23:04] Alys commented on #9097
Add the string to the appropriate file in locales/en/ and the translators
will handle the rest in transifex.

On Sat, 14 Oct 2017, 09:18 lemoness <notifications@github.com> wrote:

[2017-10-14 01:15] lemoness opened #9184 "Search Bar shouldn't be case-sensitive"
When you try to search for a task via the task page search bar, it does not work if you use capital letters. For example, if you have a task named "Running" and I enter "Running" in the search bar, it finds nothing, but when you enter "running" the search correctly identifies the task. Search should not be case-sensitive.

[2017-10-14 01:42] lemoness opened #9185 "NPCs need banner icon in chat"
When the real-life people who are in-game NPCs post in chat, they're missing their banner icon. It's visible in the Tavern column next to Bailey's name, but doesn't actually show up when they write a message.

[2017-10-14 01:44] lemoness commented on #9185
Here's an example: https://imgur.com/a/00yTI

[2017-10-14 01:48] lemoness opened #9186 "Subscription termination date should obey date format preference"
Right now,  the subscription termination date found under User icon > Settings > Subscription page is not displayed according to the user’s date format preference. This can lead to confusion.

[2017-10-14 01:49] lemoness opened #9187 "Gifting message is repeated"
When you send a gift with a message, if you go to send another gift to a different user, the same message is already in the modal and the same gem amount is already selected. You should start with a blank message box and gem amount.

[2017-10-14 01:52] lemoness opened #9188 ""Check out of Inn" Banner"
We need to add the following banner to the Tasks page and the Party page when you're resting in the inn, to enable you to easily check out of the inn without leaving the page that you're on.

<img width="1416" alt="screen shot 2017-10-13 at 6 51 22 pm" src="https://user-images.githubusercontent.com/3494081/31571436-99b9f404-b047-11e7-9efa-837dfd8313af.png">

The designs for this feature are availa

[2017-10-14 02:00] lemoness commented on #2965
This should no longer be a problem on the new site, but if it happens again, definitely let us know and we'll open a new ticket to investigate!

[2017-10-14 02:00] #2965 closed, assigned to nobody

[2017-10-14 02:01] lemoness commented on #3324
You can now use the filters on the side of the Stable to hide pets that you don't own (and filter them in many other ways, as well), so I'm closing this issue!

[2017-10-14 02:01] #3324 closed, assigned to nobody

[2017-10-14 02:03] lemoness commented on #3465
We still have some issues with this, but are they different enough from the original problems that we need to open a new ticket, or can we keep this one?

[2017-10-14 02:05] lemoness commented on #3977
This is no longer a problem in the new site because notes are displayed differently, so I'm closing this ticket.

[2017-10-14 02:05] #3977 closed, assigned to nobody

[2017-10-14 02:06] lemoness commented on #4012
Is this still happening? If so, should we open a new ticket to account for the coding changes, or keep this one?

[2017-10-14 02:06] lemoness commented on #4040
We are now open to this feature again :)

[2017-10-14 02:08] lemoness commented on #4298
We're not currently planning to implement this feature request, but if we reconsider it in the future, we'll open a new ticket with the designs.

[2017-10-14 02:08] #4298 closed, assigned to nobody

[2017-10-14 02:09] lemoness commented on #4605
Is this still happening?

[2017-10-14 02:10] SabreCat commented on #4012
I don't think we even have a Bailey head on the new site (sadly). Closing!

[2017-10-14 02:10] #4012 closed, assigned to nobody

[2017-10-14 02:15] lemoness commented on #4660
The Habitica Help Guild is already far at the top now, and the other sticky Guilds will be added in a future update with suggested Guilds, so I'm closing this ticket for now. A new one will be opened when the designs are ready!

[2017-10-14 02:15] #4660 closed, assigned to nobody

[2017-10-14 02:17] lemoness commented on #4681
Transformation items are handled differently now, so I'm closing this ticket.

[2017-10-14 02:17] #4681 closed, assigned to nobody

[2017-10-14 02:17] SabreCat commented on #4605
There was some dev discussion of largish memory usage, but nothing like 2GB--more in the hundreds of MB.

[2017-10-14 02:19] lemoness commented on #4682
A large redesign for the subscription page is still in the works, so I am closing this ticket for now.

[2017-10-14 02:19] #4682 closed, assigned to nobody

[2017-10-14 11:39] BlackEdder commented on #7970
I have a similar problem.

My User ID:29c6cae1-b18e-472d-97bc-36f3aa7ebc5b
Both the iphone app and on safari.

It started happening after going to colombia for a week (Normally I am based in the UK).

[2017-10-14 11:56] BlackEdder commented on #7970
As an update:

I managed to login on firefox from a linux machine. Now I seem to be able to login on the iphone again, but still not from safari on OSX.

[2017-10-14 15:55] shinning91 commented on #9187
Taking a look at this now

[2017-10-14 16:34] SabreCat opened #9192 "Front page is missing Facebook (etc.) metadata"
[//]: # (Before logging this issue, please post to the Report a Bug guild from the Habitica website's Help menu. Most bugs can be handled quickly there. If a GitHub issue is needed, you will be advised of that by a moderator or staff member -- a player with a dark blue or purple name. It is recommended that you don't create a new issue unless advised to.)

[//]: # (Bugs in the mobile apps can also

[2017-10-14 16:53] ganes1410 commented on #9192
can i try this?

[2017-10-14 17:03] SabreCat commented on #9192
@ganes1410 Absolutely! Post here or in the Aspiring Blacksmiths Guild if you need a hand with anything.

[2017-10-14 17:32] ganes1410 commented on #9192
while setting up **node** and **npm** are not installed inside the vagrant machine

[2017-10-14 18:20] LunarGem commented on #8860
Are there some updated links for the new code that I should be looking at now?

[2017-10-14 18:27] LunarGem commented on #2433
Yep, definitely still happening on the new site. Is this a priority or should other bugs be smashed first?

[2017-10-14 18:28] LunarGem commented on #4665
*bump* Especially since the new site doesn't work on mobile, being able to use an alternate name for users with long names or foreign-language names would really help.

[2017-10-14 20:33] LunarGem commented on #8619
I'm not sure how to use your fork as a starting point, @guyguy2001, especially since the redesign. Is that still applicable? It seems as if a lot of folders disappeared when the codebase was restructured.
EDIT: Nvm, actually using my brain for a change fixed most of the problems I was having. 😛 The controller files are missing after the redesign though...

[2017-10-14 21:09] SabreCat commented on #2433
@LunarGem I'd agree that it's a minor priority per the label, but it is a very common source of confusion, so we'd certainly appreciate a fix if you figure it out!

[2017-10-14 21:12] SabreCat commented on #8860
@LunarGem: The logic for the skill behavior still lives in the same place in the common code, above. I don't know that anything will need to change client-side, but if so, https://github.com/HabitRPG/habitica/blob/develop/website/client/components/tasks/spells.vue is a place to start!

[2017-10-14 21:29] LunarGem commented on #8860
I had another client side skills related assignment anyway, thanks!

[2017-10-14 22:53] Alys commented on #4665
@LunarGem This is still under discussion by the staff, along with related
changes to how players are mentioned and how they log in. It has some
complexities because login names can be real-life names (privacy issues),
might violate the Community Guidelines (must stay hidden until changed by
the player), and don't yet exist for players who use only social media
authentication. An easier way to ment

[2017-10-14 23:00] LordVladneutral commented on #3556
Something that is present on trello, pushed by me but not only me, is the idea that there should be a way to have a task with damages different from the reward it gives. There should be unrewarding tasks that hit hard and very rewarding tasks that hit less.

I'd like to put a bounty on that function, that is why I bring it up here, but should I do it on this issue ? It's the closest I could find ?

[2017-10-14 23:11] Alys commented on #9192
@ganes1410 Can you look back through the output of the installation process
from the start and show us the first errors that appear? If you don't still
have the output, do `vagrant destroy` then start again from step 6 in the
“vagrant" section in
http://habitica.wikia.com/wiki/Setting_up_Habitica_Locally . Also see
"Prepare for Troubleshooting" in the same page.

On Sun, 15 Oct 2017, 04:32 R.Ganes

[2017-10-15 08:14] tim1234ltp commented on #9144
Just posted my PR.

[2017-10-15 12:55] LunarGem commented on #4665
Just making sure cause this is one of my favourite ideas. Perhaps names could be checked by a mod before posting is allowed? Idk just a thought.

[2017-10-15 17:12] #9184 closed, assigned to nobody

[2017-10-15 17:20] #9151 closed, assigned to nobody

[2017-10-15 17:24] LunarGem commented on #8860
The link you gave me to help me understand the member array doesn't work now, is there a new version of that? @SabreCat

[2017-10-15 17:36] SabreCat commented on #8860
Ah! Right. This is where that sort of thing hangs out now: https://github.com/HabitRPG/habitica/blob/develop/website/client/mixins/spells.js#L26

[2017-10-15 18:11] guyguy2001 commented on #8619
@LunarGem you have 2 "html" files to worry about: the achievement screen and the popup message. just copy paste any of those, as there are a lot of examples like them. (Just hit inspect on an achievement in the site, check for something like the element id or name, and look for it in the files. I use the grepWin program for stuff like that). (edit) Tell me if you need help finding it though :P

[2017-10-15 18:51] LunarGem commented on #8619
@guyguy2001 I've actually made a ton of progress thanks to the code you did, I'm about finished making edits and I'm about to start testing to see where any problems are.

[2017-10-16 06:20] SSKUltra commented on #9083
**Update on the issue**
@Alys and @lemoness, I have made changes to the code to fix this issue. Local testing seem to work fine, so I have submitted a PR.

[2017-10-16 09:14] Alys commented on #4665
Speaking as a mod, that sounds time consuming. :) We wouldn't check in advance but would recommend community members flag posts from users with bad login names (as they already do for bad display names). However the other points are more troublesome: a lot of players don't have login names, and the privacy aspect is important so we'd need to tell players well in advance that their login names woul

[2017-10-16 12:14] Alys commented on #8920
From what I've seen, this is fixed in the new site. If anyone still sees it happening, please comment here and we'll reopen it.

[2017-10-16 12:14] #8920 closed, assigned to nobody

[2017-10-16 12:21] Alys opened #9200 "can't change "Day of the Month" for monthly Dailies - new Start Date is not obeyed"
When you create a Daily that has a monthly repeat with the "Day of the Month" setting, the day (the `daysOfMonth` value) is taken from the Start Date - e.g., if you create the Daily on the 15th of the month, then `daysOfMonth` is set to `[ 15 ]` and the Daily repeats on the 15th of every month. That works corectly.

However if you change the Start Date to make the Daily repeat on a different day,

[2017-10-16 13:39] LunarGem commented on #4665
Ok! When you want to start working on this I'd love to at least participate in designing it if my coding expertise isn't up to implementing it...

[2017-10-16 13:41] LunarGem commented on #8860
Thanks! I think when I find how to determine the class from the member array my fix will be complete. @SabreCat

[2017-10-16 13:52] SabreCat commented on #8760
Closing this, no longer relevant under new client.

[2017-10-16 13:52] #8760 closed, assigned to nobody

[2017-10-16 15:09] jerell-mendoza commented on #7643
@paglias , hi it's been a while, but I've started looking into this - is this simply adding:
`responseErr = new BadRequest(res.t(err.message));` and translating the mongoose validation error? I'm wondering what happens if we don't have a proper mapping for the the error message thrown?

In the comment in the error handler it says:
`// TODO standard message? translate?`
Do we want to throw in a sta

[2017-10-16 15:40] LunarGem commented on #8860
@SabreCat Do we have a method we can use (via the api or otherwise) to get the class of a given user ID?
EDIT: nvm, found what I was looking for! I understand the code a lot more today than I did yesterday 😛

[2017-10-16 15:56] tim1234ltp commented on #9186
I guess the subscription date should be using date format set by users in setting->site?
I would like to take this issue on hand.

[2017-10-16 16:45] LunarGem commented on #8860
Last question, how do I send the red notification bubble that will have the error in it? @SabreCat

[2017-10-16 18:37] pineapple-joe commented on #9179
Hey, can I try to work this out?

[2017-10-16 20:33] lemoness commented on #5071
Challenges are now handled differently, so I am closing this ticket.

[2017-10-16 20:33] #5071 closed, assigned to nobody

[2017-10-16 20:34] lemoness commented on #5067
The front page has been updated and this is no longer relevant, so I am closing this ticket!

[2017-10-16 20:34] #5067 closed, assigned to nobody

[2017-10-16 20:35] lemoness commented on #4981
This has now been resolved by the new redesign!

[2017-10-16 20:35] #4981 closed, assigned to nobody

[2017-10-16 20:35] paglias commented on #7643
@jerellmendoodoo This is a bit old so I might not remember exactly but the idea was to change the Mongoose error messages with a code like "DUPLICATE_KEY_XXX" and when handling the error substitute the error code with `res.t('DUPLICATE_KEY_XXX')`

[2017-10-16 20:35] lemoness commented on #4827
Inbox messages are now handled very differently, so I am closing this ticket.

[2017-10-16 20:35] #4827 closed, assigned to nobody

[2017-10-16 20:36] lemoness commented on #4746
@paglias Should I remove the "on hold" label or has this already been handled?

[2017-10-16 20:37] paglias commented on #4746
Let's close this as it'll be handled by another issue

[2017-10-16 20:37] #4746 closed, assigned to nobody

[2017-10-16 20:38] lemoness commented on #4648
So, users should already be able to flag their own posts. Should we instead just close this and make a separate ticket for allowing people to flag private messages?

[2017-10-16 20:39] lemoness commented on #4559
@sabrecat @paglias Has this been refactored already?

[2017-10-16 20:40] lemoness commented on #4555
This now behaves differently, so I am closing this ticket.

[2017-10-16 20:40] #4555 closed, assigned to nobody

[2017-10-16 20:41] lemoness commented on #4017
Is this still an issue for Firefox on Ubuntu?

[2017-10-16 20:44] lemoness commented on #3648
We've redesigned the front page. Is this still a problem?

[2017-10-16 20:44] lemoness commented on #3625
Is this still an issue?

[2017-10-16 20:46] lemoness commented on #3049
We are pushing better warnings/security for the API token this week, so I am closing this ticket!

[2017-10-16 20:46] #3049 closed, assigned to nobody

[2017-10-16 20:46] #2948 closed, assigned to nobody

[2017-10-16 20:47] lemoness commented on #2945
The footer has been changed, so I am closing this ticket.

[2017-10-16 20:47] #2945 closed, assigned to nobody

[2017-10-16 20:48] lemoness commented on #2863
We need to do a lot more design work before we are ready for this, so I think it's too early for a GH ticket. The bounties can be reclaimed by the people who posted them!

[2017-10-16 20:48] #2863 closed, assigned to deilann

[2017-10-16 20:49] lemoness commented on #2578
Is this still an issue after the redesign?

[2017-10-16 20:50] lemoness commented on #6426
We're reopening this issue now that we're done with an overhaul of the website. Feedback about which areas of the site are and are not accessible via screenreader would be very helpful!

[2017-10-16 20:51] lemoness commented on #6397
This is a duplicate issue, so I am closing it!

[2017-10-16 20:51] #6397 closed, assigned to nobody

[2017-10-16 20:52] lemoness commented on #6329
Push to top/bottom will be returning soon, but they will not be using these icons, so this issue is no longer relevant.

[2017-10-16 20:52] #6329 closed, assigned to nobody

[2017-10-16 20:52] lemoness commented on #6216
@paglias Was this completed?

[2017-10-16 20:53] lemoness commented on #6058
Is this still an issue @sabrecat?

[2017-10-16 20:57] paglias commented on #6216
Not yet but we can use Loggly for this too I think

Il 16 Ott 2017 22:53, "lemoness" <notifications@github.com> ha scritto:

[2017-10-16 20:58] TheHollidayInn commented on #6058
Yea, we need to refactor this. There are three ways to refactor Type code and I’m sure we can remove some other parameters etc here.

[2017-10-16 21:00] citrusella commented on #6397
@lemoness May I ask which issue this is a duplicate of? I want to follow it, but I'm having trouble finding it.

[2017-10-16 21:05] librarianmage commented on #3648
[It appears to be pretty good](
https://validator.w3.org/nu/?doc=https%3A%2F%2Fhabitica.com%2F), except for
one error.
On Mon, Oct 16, 2017 at 3:44 PM lemoness <notifications@github.com> wrote:

[2017-10-17 00:32] LulaV14 commented on #9180
Hi @Alys and @lemoness, may I try to fix this issue?
I've already setup the environment in my local computer, and currently I'm investigating about how the error is happening and which components are involved in the process.

[2017-10-17 00:44] Alys commented on #9180
@LulaV14 Please do! Thank you! Comment here if you have questions or run into trouble.

[2017-10-17 00:58] lemoness commented on #5980
This is no longer an issue!

[2017-10-17 00:58] #5980 closed, assigned to nobody

[2017-10-17 01:01] lemoness commented on #5953
I can no longer replicate this, so I think that it's fixed. If someone else still has trouble with it, we can reopen this ticket or make a new one.

[2017-10-17 01:01] #5953 closed, assigned to nobody

[2017-10-17 01:02] lemoness commented on #5832
@paglias Has this been completed?

[2017-10-17 01:03] lemoness commented on #5814
@sabrecat is this still an issue?

[2017-10-17 01:03] lemoness commented on #5690
Is this still happening?

[2017-10-17 01:04] lemoness commented on #5628
This is no longer applicable to the new site, so I am closing this issue.

[2017-10-17 01:04] #5628 closed, assigned to nobody

[2017-10-17 01:05] lemoness commented on #5557
We are now welcoming help on this issue, but you'll need to post here to finalize the design before implementing it!

[2017-10-17 01:08] lemoness commented on #5505
This is no longer happening in the new site, so I am closing this issue!

[2017-10-17 01:08] #5505 closed, assigned to nobody

[2017-10-17 01:10] lemoness commented on #8540
@SabreCat Is this still an issue with the new design?

[2017-10-17 07:33] pineapple-joe commented on #9153
Hey, can I work on this?

[2017-10-17 08:26] Alys commented on #4017
You can no longer type a due date at all :( so this is irrelevant.

[2017-10-17 08:26] #4017 closed, assigned to nobody

[2017-10-17 08:30] Alys commented on #9153
It looks like this has been fixed by a recent update by the staff - there's a message now telling you when you've bought them all, which appears when you click on the gem icon to open the confirmation screen. However it's sort of mis-formed.... :)

![image](https://user-images.githubusercontent.com/1495809/31654295-f0d80252-b368-11e7-8e71-da385a0561fc.png)

I'm renaming this issue to indicate that

[2017-10-17 08:33] Alys commented on #9179
@borisabramovich86 Yes please!! :) Post here if you have questions.

[2017-10-17 08:34] Alys commented on #9186
@tim1234ltp Yes, although the setting is in User Icon > Settings now. Thanks for taking it on! Post here if you have questions or find problems.

[2017-10-17 08:37] Alys commented on #4559
That code is gone now. There's no active code containing `items.weapon`

[2017-10-17 08:37] #4559 closed, assigned to nobody

[2017-10-17 08:39] Alys commented on #4648
Yes, good idea, this issue is too full of irrelevancies now. I'm creating a new issue. https://github.com/HabitRPG/habitica/issues/9204

[2017-10-17 08:39] #4648 closed, assigned to nobody

[2017-10-17 08:56] Alys opened #9204 "private messages (PMs) in inbox can't be flagged / reported"
When a player receives an inappropriate private message, they need to be able to flag it to alert moderators in the same way they can flag a message in a guild.

_edit 2018-04-18: Code for some (perhaps most) of the features below exists from work done in https://github.com/HabitRPG/habitica/pull/9761 . Any contributor working on this should investigate the existing code before creating new code.

[2017-10-17 09:34] pineapple-joe commented on #9153
Yeah sure, i'll take it :)

[2017-10-17 10:17] daniel-234 commented on #9188
Hi @lemoness, I am looking to make my first contribution to open source projects. Do you think I could start working on this task?

[2017-10-17 11:03] Alys commented on #9153
Great! All yours.

[2017-10-17 11:04] Alys commented on #9188
@daniel-234 Thanks! Please go ahead. Comment here if you have questions or run into problems.

[2017-10-17 11:16] Alys opened #9205 "sprite glitches: images become mixed up after a content deploy containing new images"
When a content deploy contains new images, the website displays the wrong images until it's reloaded. We know about this and are intending to fix it but I thought I should report it here for completeness and because Riverstone has reported this delightful example of it from her party header. :)

![sprite glitch](https://vignette.wikia.nocookie.net/habitrpg/images/2/20/New_party_member.png/revision

[2017-10-17 11:31] Alys commented on #2578
Yes, same issue and cause.

[2017-10-17 11:38] Alys commented on #9187
@shinning91 Thanks!

[2017-10-17 13:17] daniel-234 commented on #9188
Hi @Alys, as @lemoness wrote, I would need all the information to build the banner, which seems it's available on Zeplin. Can I get access to it? Thanks!

[2017-10-17 14:20] jerell-mendoza commented on #7643
@paglias , ah I see, I think this is out of my realm of know-how, I don't think I can tackle this one.

[2017-10-17 15:44] SabreCat commented on #5832
Yep, this is done!

[2017-10-17 15:44] #5832 closed, assigned to paglias

[2017-10-17 15:48] #9144 closed, assigned to nobody

[2017-10-17 15:49] SabreCat commented on #3625
I'm pretty sure it is, yes.

[2017-10-17 17:16] maurnoc opened #9206 "Quest Purchase Menu Showing with Scroll Bars"
[//]: # (Before logging this issue, please post to the Report a Bug guild from the Habitica website's Help menu. Most bugs can be handled quickly there. If a GitHub issue is needed, you will be advised of that by a moderator or staff member -- a player with a dark blue or purple name. It is recommended that you don't create a new issue unless advised to.)

[//]: # (Bugs in the mobile apps can also

[2017-10-17 19:07] LulaV14 commented on #9180
I've already sent the PR :)!

[2017-10-17 20:09] SabreCat opened #9208 "Move more static files to Webpack"
### Description
[//]: # (Describe bug in detail here. Include screenshots if helpful.)

@paglias made the following observations in our testing document:

If possible, we should get these files into the build process for uniform caching of static content.

[2017-10-17 20:16] SabreCat opened #9209 "Replace raw HTML internal hyperlinks with router links"
### Description
[//]: # (Describe bug in detail here. Include screenshots if helpful.)

From @paglias in our internal bug tracking doc:

Example of a hardcoded `href` we could get rid of: https://github.com/HabitRPG/habitica/blob/develop/website/client/components/appFooter.vue#L16

Example of a proper `router-link`: https://github.com/HabitRPG/habitica/blob/develop/website/client/components/appFoo

[2017-10-17 20:46] hardikjain29 commented on #9209
I could pick this up, if no one else is?

[2017-10-17 20:53] SabreCat opened #9210 "Remove duplicate I18N strings"
### Description
[//]: # (Describe bug in detail here. Include screenshots if helpful.)

As reported by @paglias in our internal bug tracking doc:

We should remove duplicate strings used for the same meaning. E.g. https://github.com/HabitRPG/habitica/pull/9191/commits/1717c2a5df3e649764d224eeee780f7b07d0cb24 - removed `headGear` because we had `headgearCapitalized` already. Word of caution! There

[2017-10-17 20:59] SabreCat opened #9211 "Replace alert() and confirm() with modals"
### Description

From our internal bug reporting doc:

There are still some places where we use an `alert()` or `confirm()`, producing an ugly default JavaScript popup. These should be replaced with modals.

Example `alert()`: https://github.com/HabitRPG/habitica/blob/develop/website/client/components/static/home.vue#L597
Example `confirm()`: https://github.com/HabitRPG/habitica/blob/develop/websi

[2017-10-17 21:07] paglias commented on #9209
@hardikjain29 thanks! The only thing, do not change links that use `target="_black"` as those are okay as `<a>` tags

[2017-10-17 21:07] paglias commented on #7643
@jerellmendoodoo no worries :)

[2017-10-17 21:09] paglias commented on #3648
I don't think this makes sense anymore as the HTML is just a few lines, the rest comes from Vue.js so it's not analyzed by the W3C validation

[2017-10-17 21:09] #3648 closed, assigned to nobody

[2017-10-17 21:09] cezarypiatek commented on #9209
@hardikjain29  If you don't mind I have already commited fixed to my fork. I'm preparing PR

[2017-10-17 21:12] hardikjain29 commented on #9209
@cezarypiatek Ohh sure, go ahead! :D

[2017-10-17 21:16] SabreCat opened #9213 "Server errors appear as blank red bar"
[//]: # (Before logging this issue, please post to the Report a Bug guild from the Habitica website's Help menu. Most bugs can be handled quickly there. If a GitHub issue is needed, you will be advised of that by a moderator or staff member -- a player with a dark blue or purple name. It is recommended that you don't create a new issue unless advised to.)

[//]: # (Bugs in the mobile apps can also

[2017-10-17 21:23] SabreCat opened #9214 "Popup suppression on pet hatching and mount raising is broken"
[//]: # (Before logging this issue, please post to the Report a Bug guild from the Habitica website's Help menu. Most bugs can be handled quickly there. If a GitHub issue is needed, you will be advised of that by a moderator or staff member -- a player with a dark blue or purple name. It is recommended that you don't create a new issue unless advised to.)

[//]: # (Bugs in the mobile apps can also

[2017-10-17 21:48] lemoness commented on #6397
Oh dear, I'd have to do a bit of hunting -- it was one of the twenty-seven that I reviewed yesterday. If you search for "JAWS" it might come up!

[2017-10-17 21:50] lemoness commented on #6216
Okay -- then should I close this issue, or change the status?

[2017-10-17 21:53] paglias commented on #6216
I've changed the tags and updated the description

[2017-10-17 22:07] LunarGem commented on #9214
I could probably try to poke with this, I've been messing with the modals while doing my other fixes. At the very least I could try to find the area of the code where the problem is.

[2017-10-17 22:45] #5111 closed, assigned to nobody

[2017-10-17 22:47] lemoness commented on #5299
This should no longer be an issue with the new site, so I'm closing this ticket!

[2017-10-17 22:47] #5299 closed, assigned to nobody

[2017-10-17 22:48] lemoness commented on #5294
Sharing will be handled differently when it is implemented again, so I am closing this ticket for now.

[2017-10-17 22:48] #5294 closed, assigned to nobody

[2017-10-17 22:48] lemoness commented on #5291
Sharing will be handled differently when it is implemented again, so I am closing this ticket for now.

[2017-10-17 22:48] #5291 closed, assigned to nobody

[2017-10-17 22:48] lemoness commented on #5233
Is this still an issue?

[2017-10-17 22:49] lemoness commented on #5215
We're open to considering a feature like this in the future, but Github is really more of a place for bugs and new features that have a roadmap for implementation, rather than feature requests, so I'm closing this for now.

[2017-10-17 22:49] #5215 closed, assigned to nobody

[2017-10-17 22:50] lemoness commented on #5205
This is no longer applicable, so I'm closing this ticket.

[2017-10-17 22:50] #5205 closed, assigned to nobody

[2017-10-17 23:14] lemoness opened #9216 "Glasses, Animal Ears need a "None" option"
When you're setting up an avatar, the glasses and animal ears should have a "none" option the way that the other items (for example, ponytails) do. This should be the case in the tutorial setup and in the normal user detail modal.

_edit by Alys:_ ~Mustaches need a "none" option too.~ UPDATE: that's fixed.

[2017-10-17 23:16] lemoness opened #9217 "Unallocated points message redirects incorrectly"
In the notification dropdown menu, if you click the message that says "You have x unallocated points" after you level up, it erroneously takes you to Profile. Instead, it should take you to Stats.

[2017-10-17 23:17] maurnoc opened #9218 "Duplicate readme.md in website/client"
[//]: # (Before logging this issue, please post to the Report a Bug guild from the Habitica website's Help menu. Most bugs can be handled quickly there. If a GitHub issue is needed, you will be advised of that by a moderator or staff member -- a player with a dark blue or purple name. It is recommended that you don't create a new issue unless advised to.)

[//]: # (Bugs in the mobile apps can also

[2017-10-17 23:23] edgardmota commented on #9216
Hi, @lemoness ! Could you assign this for me? I'm not familiarized with the underlying technologies, but I can, at least, try. A bounty hunter here, and the bounty is a humble hacktoberfest T-Shirt :smile: !

[2017-10-17 23:24] rkojima commented on #9217
I could take a look at this!

[2017-10-17 23:41] #9218 closed, assigned to nobody

[2017-10-17 23:49] Alys commented on #5233
MP in the stats bar is still being rounded down correctly. MP in the notification you get when completing a task is either rounded or truncated to one decimal place - we'll have to look at the code to see which (I can do that later if no one gets to it first).

[2017-10-17 23:54] Alys commented on #9216
@edgardmota Thank you! Please go ahead! You're welcome to comment here if you have any questions or run into any trouble.

I'm also adding mustaches to the list of things that need a "none" option. We recently added a none option for beards, but mustaches need their own. The user's setting for that is stored in `preferences.hair.mustache`.

The code for the beards might be a good place for you to

[2017-10-17 23:57] edgardmota commented on #9216
Thanks, @Alys, I'll do my best and I'll ask for help if I get in trouble...

[2017-10-17 23:57] Alys commented on #9217
@rkojima Thanks heaps! Ask here if you have questions.

[2017-10-17 23:58] Alys commented on #9214
@LunarGem Thanks!

[2017-10-17 23:59] LulaV14 commented on #9213
Hi @SabreCat, can I give it a try?
I'm just having a little trouble looking for how is the Task calling the notifications? And where should I look for the error handler in the client section?

[2017-10-18 00:05] abatula commented on #9200
I can take a look at this one

[2017-10-18 00:05] Alys commented on #9210
Can we break this into separate issues for each of the three points, or make a rule that there's to be only N fixes per PR as we did for the apidocs issue? I dread getting a PR with ALL THE FIXES and having to review it for the translation caveat in point 1. :) That one is especially important because it can significantly mess up the meanings for non-English speakers.

[2017-10-18 00:06] Alys commented on #9153
@borisabramovich86 I'm **really** sorry about this, but we've just in the past few minutes realised that there's other issues with that modal and with other modals too, which will need more of a site-wide change, and that would probably affect any fix that you did for this particular formatting issue. It might be best for you to not work on this. Have you done any work on it yet? If you're very ne

[2017-10-18 00:07] citrusella commented on #6397
Aha! It seems to be #6426!

[2017-10-18 00:08] Alys commented on #9200
@abatula  Thank you!

[2017-10-18 00:38] civan commented on #9211
Hi there, I will take this one!

[2017-10-18 01:21] lemoness opened #9220 "Fixes for Task Option Menus"
The option menus in task edit mode have the following two issues:

1. They should close when you click away from them.

2. One should automatically close when you open a different one:

<img width="357" alt="screen shot 2017-10-17 at 6 20 00 pm" src="https://user-images.githubusercontent.com/3494081/31696699-e0f3d7ea-b367-11e7-956a-e55b948cc2eb.png">

[2017-10-18 01:35] lemoness opened #9221 "Shouldn't view others' check-ins"
The check-in bar should not display in other people's profiles, since you can only see your own check-ins. Currently, it displays as an empty bar.

<img width="236" alt="screen shot 2017-10-17 at 6 33 59 pm" src="https://user-images.githubusercontent.com/3494081/31697029-dabcf526-b369-11e7-83f3-c13075ef4847.png">

Of course, you should still be able to view it on your own profile.

[2017-10-18 01:44] lemoness opened #9222 "Need different messages for losing and spending Gold/Mana"
Right now, whenever your Gold count goes down, you are told that you "spent" the Gold. This is correct if you buy an item, but inaccurate if your Gold count goes down for any other reason (for example, dying or unticking a completed task). In those cases, a different message should appear, telling you that you "lost" your Gold.

Likewise, there should be a difference with "spending Mana" (when usi

[2017-10-18 01:50] lemoness opened #9223 "Markdown and emoji in Tags on Task Edit doesn't work"
When editing tasks, the tags that appear in the tag selection option dropdown do not display markdown correctly.
<img width="138" alt="screen shot 2017-10-17 at 6 48 18 pm" src="https://user-images.githubusercontent.com/3494081/31697368-00da0c92-b36c-11e7-9ca6-ef65afe52557.png">

_Edit by Alys 2018-01-23_:
This is the current incorrect appearance of the tag section of the task edit form. Emoji and

[2017-10-18 01:51] Alys commented on #9221
Is there a reason we hide the number of check-ins now? It's no more of a privacy invasion than the date you joined, and it was terribly useful for Socialites to see it to help with all the questions and "bug" reports about check-in incentives. :)

[2017-10-18 01:58] lemoness opened #9224 "Relative due dates should be in days, not hours"
On the tasks page, we now use relative due dates. However, they are erroneously displaying in hours instead of displaying in days. Because there is no way to select hours, instead of saying something like "due in 5 hours" it should simply say "due today" (or "due tomorrow", depending on the time of day).

[2017-10-18 02:02] lemoness opened #9225 "Scheduled To-dos remain at top"
When you switch you To-do list from the 'Active' view to the 'Scheduled' view and back again, all To-dos with dates remain at the top of the list in due date order instead of returning to their original (manual) sort order. Refreshing the page puts them back in their proper positions, but they should return to their original sort order immediately.

[2017-10-18 02:54] h93xV2 commented on #9222
Hi, I would like to start working on this. However, I am unfamiliar with the code base. Can you point me in the direction of where I can start?

[2017-10-18 03:34] tim1234ltp commented on #9186
@Alys Is there any options to give my test account subscription in my local Habitica? I couldn't find it in debug menu.

[2017-10-18 03:42] tim1234ltp commented on #9128
I have investigated this issue for a bit but I could not know how you get the sleep_bed emoji in the first place. According to [http://habitica.wikia.com/wiki/Emoji](url) , if you use :melior:, emoji could be shown. In the emoji cheatsheet, there is no sleep_bed though.

[2017-10-18 03:45] lemoness opened #9227 "Can't Unequip Mustaches"
Although we recently fixed the issue where you couldn't unequip beards, there is still an issue where you can't unequip mustaches. They should have a "none" option that can be used to unequip them.

[2017-10-18 03:49] lemoness opened #9228 "Subscriber Gift Box not visible for non-Subscribers with unclaimed Mystery Items"
We've received this bug report: "The Mystery Item gift box doesn’t appear in Inventory > Items > Special if you are not a current subscriber, even if you have Mystery Items that you can still claim."

[2017-10-18 03:56] Alys commented on #9227
Sorry lemoness, I added Mustaches to the Glasses and Ears issue (https://github.com/HabitRPG/habitica/issues/9216) a few hours ago, but I forgot to remove it from the bug document. :(  They'll all need similar fixes and the beards option will be a good way of seeing how to do it.

[2017-10-18 03:56] #9227 closed, assigned to nobody

[2017-10-18 04:04] mtrivera commented on #9222
@lemoness I would like to work on this one

[2017-10-18 04:11] shivasheeshyadav commented on #9211
@SabreCat I would like to work on this issue. Please assign it to me.

[2017-10-18 04:16] shivasheeshyadav commented on #9220
@lemoness I would like to work on this issue. Please assign it to me.

[2017-10-18 04:23] pineapple-joe commented on #9153
Hey, no problem. I have nothing substantial yet.

[2017-10-18 06:00] sheley commented on #9128
the other ones missing for me are:

🗣 `speaking_head`
🥗 `green_salad`
🎙 `studio_microphone`
🍽 `plate_with_cutlery`
 🥄 `spoon`

(edit: hmm I also checked and see that these are all missing from the emoji cheatsheet page..)

interestingly i can see them all fine in the edit screen, but then the emoji disappears in the regular tasks view and the text appears instead

edit view:
<img width="428" alt="

[2017-10-18 06:10] tim1234ltp commented on #9128
Perhaps this is an issue of Habitica's support for emoji? From I what know, not all emoji icons in the cheatsheet are supported, let alone others outside of the cheatsheet.

[2017-10-18 06:15] sheley commented on #9128
could be.

you can also see that the versions of emojis are different in my two screenshots. In the edit screen it looks like the most recent design of the emojis are being used. but in the task view (the second screenshot), the emoji design is different and i'm guessing an older generation.

Maybe the task view is displaying the older generation of emojis, which don't support the missing emojis i

[2017-10-18 06:17] sheley commented on #9128
also to cite my source of where i thought the emojis displayed were the newer versions: https://emojipedia.org/mobile-phone/

<img width="513" alt="screen shot 2017-10-18 at 08 17 06" src="https://user-images.githubusercontent.com/3749305/31703422-c70f8e6c-b3dc-11e7-9976-7b21076d55ca.png">

[2017-10-18 06:23] tim1234ltp commented on #9128
I found a closed issue https://github.com/HabitRPG/habitica/issues/7428 "Unicode emoji not changing to images". It was said to be fixed in the old Habitica. Perhaps it could give you some insights?
This repo is also something worth looking at: https://github.com/HabitRPG/habitica-markdown-emoji

[2017-10-18 07:12] omguhh commented on #9223
I will check this :)

[2017-10-18 07:56] Alys commented on #9211
@shivasheeshyadav Thank you! Comment here if you have questions or find problems.

[2017-10-18 07:56] Alys commented on #9220
@shivasheeshyadav Thank you! it's yours. Comment here if you have questions or find problems.

[2017-10-18 07:57] Alys commented on #9222
@mtrivera  Thank you! it's yours. Comment here if you have questions or find problems.

[2017-10-18 08:02] Alys commented on #8694
I'm closing this because there's been large changes to how tags are displayed.

[2017-10-18 08:02] #8694 closed, assigned to nobody

[2017-10-18 08:07] Alys commented on #9223
@omguhh Thank you! Ask here if you have any problems.

Note that you might notice or be told about certain specific emoji not being displayed, while other emoji do work. That's a separate problem that's being investigated in https://github.com/HabitRPG/habitica/issues/9128 . For this issue, all you need to do is get markdown and some emjoi working. The :melior: emoji would be the best one for test

[2017-10-18 08:50] aquibm commented on #9224
Hi, I've just got the project setup locally. Would love to pick this one up if it's not assigned yet.

[2017-10-18 12:16] Alys commented on #9224
@aquibm Thanks! It's yours. Comment here if you have questions or run into problems.

[2017-10-18 12:19] Alys commented on #9223
A correction to my previous post:  The library that the new website uses is https://www.npmjs.com/package/habitica-markdown . For example, in website/client/directives/markdown.js you'll see `import habiticaMarkdown from 'habitica-markdown';`

The `habitica-markdown` library makes use of the https://github.com/HabitRPG/habitica-markdown-emoji library that I mentioned before, and so `habitica-markd

[2017-10-18 13:20] Alys commented on #9128
Here's my understanding of this issue:

There's two types of emoji. One type is specified by using words inside colons, for example `:smile:` - that's the only type that this issue is concerned with. It's supported by Habitica because it can be set up to use the same images on all platforms.

The other type can be specified by using the Apple keyboard, or other keyboards or methods of insertion, a

[2017-10-18 13:29] Alys commented on #9186
@tim1234ltp Use a mongodb command to set the account's `purchased.plan` to this:
[code]

[2017-10-18 13:31] Alys commented on #9188
@daniel-234 Send your email address to admin@habitica.com and include this issue's URL in your message so we know what it's about.

[2017-10-18 18:39] SabreCat commented on #9213
The task doesn't so much call the notification as make changes to the user, which are then picked up by the notification watch: https://github.com/HabitRPG/habitica/blob/ee82f5a774363455228f7e467618997ed5ba8ed1/website/client/components/notifications.vue#L230-L233 But there's potential to run into an error during this try/catch https://github.com/HabitRPG/habitica/blob/3377f8a916f607248a7fb7928333

[2017-10-18 18:41] SabreCat commented on #9210
Yeah, that makes sense! Do you have a preference on which way to handle it?

[2017-10-18 18:42] SimplyComplexable commented on #9225
I'm looking at this one.

[2017-10-18 20:11] LunarGem commented on #8860
@SabreCat Ping? How do the snackbars work? @Alys ?

[2017-10-18 20:23] #8593 closed, assigned to nobody

[2017-10-18 20:26] #9097 closed, assigned to nobody

[2017-10-18 20:29] SabreCat commented on #8860
Ah, sorry @LunarGem! I actually did a bit of a linkdump on another issue ticket regarding how the snackbars work and where errors are handled. https://github.com/HabitRPG/habitica/issues/9213#issuecomment-337688371 You may be OK just adding an error response on the API side, and once that issue is fixed it'll display on the client.

[2017-10-18 20:36] #9133 closed, assigned to nobody

[2017-10-18 20:40] mtrivera commented on #9222
How can I sync my fork if their is no `master` branch?
https://help.github.com/articles/syncing-a-fork/

[2017-10-18 20:40] #9209 closed, assigned to nobody

[2017-10-18 20:41] SabreCat commented on #9222
@mtrivera, you can use `develop` instead of `master` when following those instructions!

[2017-10-18 20:44] #9173 closed, assigned to nobody

[2017-10-18 20:47] #9171 closed, assigned to nobody

[2017-10-18 20:49] librarianmage opened #9231 "Due until Completed, X times every Y intervals"
Copied from #6941

If we are trying to implement use cases like

* Cleaning bathrooms once every month
* Replacing your home air filter once every three months
* Getting a free credit check once every four months

I feel like a better representation would be creating "blocks" of time in which the daily is active until the period passes, after which the damage is dealt. It might not look like a sig

[2017-10-18 20:52] librarianmage commented on #9231
@SabreCat Since I'm planning on working on them in tandem, is it okay that I combined them into one?

[2017-10-18 20:53] SabreCat commented on #9231
Sure, thanks!

[2017-10-18 20:58] mtrivera commented on #9222
Please remove me from this issue. I'm having too many issues trying to get Docker working, and I'm beyond frustrated at this point.

[2017-10-18 21:03] SabreCat commented on #9222
@mtrivera: Sorry to hear it! If you get some distance and feel like trying again sometime, the [Aspiring Blacksmiths Guild](https://habitica.com/groups/guild/68d4a01e-db97-4786-8ee3-05d612c5af6f) is a good place to go for setup help re: Habitica dev environments.

[2017-10-18 22:20] LunarGem commented on #8860
So to throw an error, should I use a try/catch or try to call something with the axios thing?

[2017-10-19 00:40] joedragons commented on #9173
@maurnoc thanks for the fix and the other PR=)

[2017-10-19 00:43] lemoness commented on #7907
We've temporarily removed this feature to revisit and improve it, so I'm closing this ticket for now.

[2017-10-19 00:43] #7907 closed, assigned to nobody

[2017-10-19 00:44] lemoness commented on #7895
Is this still something that needs to be done?

[2017-10-19 00:45] lemoness commented on #7882
This should no longer be a problem with the new sprites, but if it is, we can open a new ticket.

[2017-10-19 00:45] #7882 closed, assigned to nobody

[2017-10-19 00:46] lemoness commented on #7822
This has been changed, so I am closing this ticket.

[2017-10-19 00:46] #7822 closed, assigned to nobody

[2017-10-19 00:47] lemoness commented on #7820
Tags now behave differently, so I am closing this ticket. However, if something similar happens again, we should open a new ticket to examine the new code.

[2017-10-19 00:47] #7820 closed, assigned to nobody

[2017-10-19 00:48] lemoness commented on #7799
The quest modal is handled completely differently now, so I am closing this ticket.

[2017-10-19 00:48] #7799 closed, assigned to nobody

[2017-10-19 00:49] lemoness commented on #7784
This is no longer relevant in the new site, so I am closing this ticket!

[2017-10-19 00:49] #7784 closed, assigned to nobody

[2017-10-19 00:50] lemoness commented on #7769
Is this still something that needs to be done?

[2017-10-19 00:50] lemoness commented on #7759
Is this still something we need?

[2017-10-19 00:51] lemoness commented on #7738
Is this still an issue?

[2017-10-19 00:59] sporeball commented on #7738
oh gosh i completely forgot Habitica was ever a thing (and, accessorily, this problem)
i'm so sorry 😞
i'll get my act together and check very soon

[2017-10-19 01:07] sporeball commented on #7738
looks like this is no longer a problem since the knockout image isn't in the death modal anymore.
what is an issue is that my costume now slightly touches this circle
![image](https://user-images.githubusercontent.com/12767408/31749473-149d42a8-b42f-11e7-8edb-3acefcef6888.png)
but that's a new issue, so i guess i'll close this one

[2017-10-19 01:07] #7738 closed, assigned to nobody

[2017-10-19 01:07] lemoness opened #9233 "Enchanted Armoire messages lack flavor"
The flavor messages for the Encanted Armoire have been lost in favor of a new bland message. Instead, the messages should be:

"You wrestled the Enchanted Armoire and gained [AMOUNT] experience. Take that!"

"You found [FOOD]. Who put that in here?"

"You found [EQUIPMENT]! Amazing!"

[2017-10-19 02:21] lemoness commented on #7738
Thank you very much!

On Wed, Oct 18, 2017 at 6:07 PM, MrEikono <notifications@github.com> wrote:

[2017-10-19 02:22] #9206 closed, assigned to nobody

[2017-10-19 02:25] lemoness commented on #4605
In that case, I'm going to close it for now. If we need to, we can always reopen this.

[2017-10-19 02:29] lemoness commented on #3556
Thanks for commenting! We're open to that feature in the future, but we're actually going to need to do some internal discussions before we'd be ready to accept a bounty on something like this. I'm sorry for the disappointment. I'm going to close this issue to avoid further confusion.

[2017-10-19 02:29] #3556 closed, assigned to nobody

[2017-10-19 02:34] lemoness commented on #3625
Have added labels!

[2017-10-19 03:34] spacenate commented on #9233
Hello Lemoness!

I have reviewed Guidance for Blacksmiths, Setting up Habitica Locally, and joined Aspiring Blacksmiths. Is it okay if I start working on a PR for this issue?

[2017-10-19 05:40] SSKUltra commented on #9211
Hey @shivasheeshyadav, I have added some code that uses confirm() method. If you have already added code that fixes this issue with modals, it would be great if you could share the screen-caps/code so that I make similar changes to my PR and all confirmation modals look the same throughout the site?

[2017-10-19 07:28] Alys commented on #9210
I think a different issue for each point might be best since they'll need different strategies to fix them.

[2017-10-19 12:48] paglias commented on #7759
Yes

[2017-10-19 12:50] paglias commented on #7895
Yes, it's something that would be nice to have and it's not on hold anymore but very low priority

[2017-10-19 14:18] SabreCat commented on #9233
@spacenate Go for it, with our thanks!

Note that the relevant i18n strings already exist: https://github.com/HabitRPG/habitica/blob/1df8668d382486763c61530329534e373cd897a7/website/common/locales/en/messages.json#L37-L39 We just need to show them again!

[2017-10-19 14:25] SabreCat commented on #8860
@LunarGem I'd say to throw an error either from the API or in the common code, whatever ends up being most feasible.

https://github.com/HabitRPG/habitica/blob/develop/website/common/script/content/spells.js#L62 - common code (shared client/server) for the Ethereal Surge spell, could `return` early with an error
https://github.com/HabitRPG/habitica/blob/develop/website/server/controllers/api-v3/us

[2017-10-19 16:21] librarianmage commented on #5143
Should this be closed?

[2017-10-19 16:22] librarianmage commented on #5311
Shouldn't this be closed?

[2017-10-19 16:22] librarianmage commented on #3018
Is this still an issue?

[2017-10-19 20:29] LunarGem commented on #8860
I've finished the fix! My local install is complaining at the moment, should I submit the pull now or wait until I've wrangled the server?

[2017-10-19 20:31] LunarGem commented on #9222
I could try and mess with this.

[2017-10-19 20:47] paglias commented on #3018
yes!

2017-10-19 18:23 GMT+02:00 MathWhiz <notifications@github.com>:

--
Matteo Pagliazzi - paglias.net

[2017-10-19 21:19] spacenate commented on #9233
@SabreCat Excellent, thanks for the lead on the i18n strings :)

[2017-10-19 22:46] Alys commented on #9204
I've marked this as help welcome.

[2017-10-19 22:57] Alys commented on #9204
labels updated

[2017-10-19 23:17] rkojima commented on #9217
@Alys Hi, so I'm trying to test this out in my local install, but whenever I level up, I don't receive a message. I do receive the point and can allocate them. Is there something wrong with my local environment?

[2017-10-20 00:14] LunarGem commented on #9136
I was thinking that there should be a more obvious place for knowing how many dailies you've avoided, like the top of the daily column? Or an overlay on dailies that won't be counted?

[2017-10-20 00:29] lemoness commented on #9136
I've passed this question along to our designer, @Tressley!

On Thu, Oct 19, 2017 at 5:14 PM, LunarGem <notifications@github.com> wrote:

[2017-10-20 00:31] lemoness commented on #7643
Labels added.

[2017-10-20 00:36] lemoness commented on #9221
My understanding was that other users could never see a user's check-in incentives, since the concern was that people didn't want a certain number of check-ins when compared to log-in date to become a valued metric when assessing someone to be in a Party (for example), particularly since the check-ins aren't accurate for longer-term users. who were active before the check-ins started. However, I'm

[2017-10-20 00:37] lemoness commented on #5233
That would be very helpful, thanks!

[2017-10-20 00:38] lemoness commented on #3018
I've updated the labels on this issue.

[2017-10-20 00:40] lemoness commented on #9222
@LunarGem Thank you very much! That would be very helpful. Let us know if you have any questions.

I've updated the labels on this issue.

[2017-10-20 00:44] lemoness commented on #9225
I've updated the labels on this ticket.

[2017-10-20 00:49] lemoness commented on #5311
It should!

[2017-10-20 00:49] #5311 closed, assigned to nobody

[2017-10-20 00:49] lemoness commented on #5143
It should!

[2017-10-20 00:49] #5143 closed, assigned to nobody

[2017-10-20 00:50] lemoness commented on #7895
I've updated the labels on this issue!

[2017-10-20 00:50] lemoness commented on #7759
I've updated this labels on this issue!

[2017-10-20 01:38] Alys commented on #3018
This issue has a lot of old information and ideas, some of which will no longer be relevant. For example, party member stats WILL now have to be pulled from the database because they're available now on-hover; the recent changes to triggering cron might make the cron information about outdated too; and there's probably other comments that could be misleading now. The issue with making sync take to

[2017-10-20 01:42] Alys commented on #8860
@LunarGem If you've fully tested it manually in a local install's website and it works but you can't get the automated tests to run, then submit a PR and check the travis-ci build's test results when they appear. Otherwise, it's best to get your local install working so you can be sure of the fix before you submit it.

[2017-10-20 01:57] lemoness commented on #7927
We will need designs for this before it can be implemented. I'm adding a new "status: on hold - designs needed" label.

[2017-10-20 01:59] lemoness commented on #7940
Is this something that we can open up yet?

[2017-10-20 02:00] lemoness commented on #7946
I'm closing this issue because if there are still issues with those modals, they will have a different cause and need a new ticket.

[2017-10-20 02:00] #7946 closed, assigned to nobody

[2017-10-20 02:00] lemoness commented on #7981
This is no longer relevant.

[2017-10-20 02:00] #7981 closed, assigned to nobody

[2017-10-20 02:01] lemoness commented on #7990
Quest progress is handled differently now, so I am closing this ticket.

[2017-10-20 02:01] #7990 closed, assigned to nobody

[2017-10-20 02:01] lemoness commented on #7992
Is this still something that needs to be done?

[2017-10-20 02:01] lemoness commented on #7998
Is this still something that needs to be done?

[2017-10-20 03:00] librarianmage commented on #7721
Is this still a desired fix?

[2017-10-20 03:00] librarianmage commented on #7717
Has this been fixed with the redesign?

[2017-10-20 03:01] librarianmage commented on #5757
Is this still an issue?

[2017-10-20 03:03] librarianmage commented on #2541
Is this still an issue? I feel like waiting for the blue bar to load is a click delay in itself.

[2017-10-20 03:04] librarianmage commented on #5040
Is this still an issue with the redesign?

[2017-10-20 03:04] librarianmage commented on #4677
Is this still desired?

[2017-10-20 03:05] librarianmage commented on #5466
Now that the UI has been changed, should it be reopened?

[2017-10-20 03:07] librarianmage commented on #5724
Should this be closed, but considered in the eventual progress graph update?

[2017-10-20 03:08] librarianmage commented on #6337
Given that the graphs are currently not existent, should this be closed?

[2017-10-20 03:09] librarianmage commented on #7159
Have these dependencies been updated?

[2017-10-20 03:10] librarianmage commented on #7569
Is this still desired?

[2017-10-20 03:10] librarianmage commented on #5829
Is this still a thing?

[2017-10-20 03:14] librarianmage commented on #8000
How much of this is still needed/uncomplete?

[2017-10-20 03:15] librarianmage commented on #7974
With the new redesign, I'm no longer seeing any error messages of that type anymore. Has this been fixed?

[2017-10-20 03:16] librarianmage commented on #4500
Is this still an issue, with the new client?

[2017-10-20 03:16] librarianmage commented on #4297
IIRC, the method of sharing avatars, etc, is changing, so should this be closed?

[2017-10-20 03:17] librarianmage commented on #8088
How does this work now, with the client redesign?

[2017-10-20 03:19] librarianmage commented on #8067
The Inventory does not display this introductory text anymore; should it be closed?

[2017-10-20 03:19] librarianmage commented on #8011
Is this still an issue?

[2017-10-20 03:19] librarianmage commented on #8083
Is this still an issue?

[2017-10-20 03:20] librarianmage commented on #8133
Is this still an issue?

[2017-10-20 03:25] librarianmage commented on #6124
Is this still an issue?

[2017-10-20 03:25] librarianmage commented on #6685
Is this still an issue?

[2017-10-20 03:27] librarianmage commented on #7178
Is this still an issue?

[2017-10-20 03:28] librarianmage commented on #7421
Should this be considered during the current avatar export rethink?

[2017-10-20 03:28] librarianmage commented on #7617
Should this still be on hold?

[2017-10-20 03:29] librarianmage commented on #5583
Group IDs are no longer shown on Guild pages; should this be closed?

[2017-10-20 03:29] librarianmage commented on #8127
Is this still an issue?

[2017-10-20 03:30] librarianmage commented on #8275
Is this still an issue?

[2017-10-20 03:30] librarianmage commented on #8369
Should this be closed? The graphs are currently being considered (IIRC).

[2017-10-20 03:31] librarianmage commented on #8395
Should this be closed, during the task value graph reimplementation?

[2017-10-20 03:31] librarianmage commented on #4018
Is this still an issue?

[2017-10-20 03:31] librarianmage commented on #8324
I haven't seen these in awhile; are they still a thing?

[2017-10-20 03:32] librarianmage commented on #8472
@vincecampanale Are you still working on this?

[2017-10-20 03:32] librarianmage commented on #8442
Is this still an issue?

[2017-10-20 03:32] librarianmage commented on #7667
Is this still an issue?

[2017-10-20 03:33] librarianmage commented on #5356
With the new update, is this Issue still needed?

[2017-10-20 03:33] librarianmage commented on #6933
With the current redesign, hasn't this been mostly fixed?

[2017-10-20 03:36] librarianmage commented on #8172
Should this still be considered?

[2017-10-20 03:36] librarianmage commented on #8432
The issue has been fixed; should this Issue be closed?

[2017-10-20 03:37] librarianmage commented on #8787
Is this still an issue?

[2017-10-20 04:25] Alys commented on #9217
@rkojima Make sure your test account is above level 10 and has chosen a class (not opted out of the class system). Post again here if that doesn't help.

[2017-10-20 04:31] Alys commented on #7940
We'd need to reimplement the PM export option first, and also ideally fix that subscription problem since recovering unfairly deleted PMs would be nightmarish.

[2017-10-20 05:37] #6933 closed, assigned to nobody

[2017-10-20 05:38] #5356 closed, assigned to nobody

[2017-10-20 06:00] jjmcgaffey commented on #7974
Apparently - and I hadn't been getting them for quite a while before the latest redesign. Sorry, I don't remember when they stopped.

[2017-10-20 06:00] #7974 closed, assigned to nobody

[2017-10-20 06:56] lynxlynxlynx commented on #8172
Why not, the algorithm is still unfair?

[2017-10-20 07:32] JorisDebonnet commented on #4677
Well, not by me, as I don't use HabitRPG anymore at the moment. I still think my report makes sense though, as control-return is a pretty widespread way to submit textareas in software :) (here on Github for example!)

[2017-10-20 07:43] Alys commented on #8275
The website isn't currently supported on mobile devices. If this same problem happens in future it will be from a different cause so I'm closing this. We can open a new one if needed.

Thanks @MathWhiz for finding all these. :)

[2017-10-20 07:43] #8275 closed, assigned to nobody

[2017-10-20 07:45] Alys commented on #5583
Indeed.

Anyone wanting the Group ID can get it from the URL. It's only ever needed to ask for help with some bugs.

[2017-10-20 07:45] #5583 closed, assigned to nobody

[2017-10-20 07:47] Alys commented on #7421
Closing.

We're pretty good these days aboot adding tests for all new code, so it's likely this would be done by default when the export feature is being worked on. If not, we can reopen.

[2017-10-20 07:47] #7421 closed, assigned to nobody

[2017-10-20 07:50] #8395 closed, assigned to nobody

[2017-10-20 07:51] #8369 closed, assigned to nobody

[2017-10-20 07:52] Alys commented on #6124
Closing. We can reopen if this still happens on a recent Windows version.

[2017-10-20 07:52] #6124 closed, assigned to nobody

[2017-10-20 07:53] Alys commented on #8083
Closing. We can reopen if this still happens.

[2017-10-20 07:53] #8083 closed, assigned to nobody

[2017-10-20 07:55] #8011 closed, assigned to nobody

[2017-10-20 07:56] #8067 closed, assigned to nobody

[2017-10-20 07:58] #8432 closed, assigned to nobody

[2017-10-20 07:58] #7667 closed, assigned to nobody

[2017-10-20 07:59] Alys commented on #8324
Closing. We can reopen if this still happens.

[2017-10-20 07:59] #8324 closed, assigned to nobody

[2017-10-20 08:00] Alys commented on #4018
Closing. We can reopen if this still happens.

[2017-10-20 08:00] #4018 closed, assigned to nobody

[2017-10-20 08:00] #4297 closed, assigned to nobody

[2017-10-20 08:05] Alys commented on #7569
We definitely still want this. There's valuable use cases for keeping tasks
from challenges so you need the tag for organisation.

On Fri, 20 Oct 2017, 13:10 MathWhiz <notifications@github.com> wrote:

[2017-10-20 08:05] #6337 closed, assigned to nobody

[2017-10-20 08:07] Alys commented on #5724
Yes. When a replacement for progress graphs is implemented, we're likely to be more careful about  the terminology so this can be closed.

[2017-10-20 08:07] #5724 closed, assigned to nobody

[2017-10-20 08:11] Alys commented on #5040
The new layout prevents this happening even when there's a lag.

[2017-10-20 08:11] #5040 closed, assigned to nobody

[2017-10-20 08:12] Alys commented on #5757
Yes, all of this should still be relevant.

On Fri, 20 Oct 2017, 13:01 MathWhiz <notifications@github.com> wrote:

[2017-10-20 08:13] #7992 closed, assigned to nobody

[2017-10-20 08:57] paglias commented on #5829
done!

[2017-10-20 08:57] #5829 closed, assigned to nobody

[2017-10-20 08:57] paglias commented on #7159
No

2017-10-20 5:09 GMT+02:00 MathWhiz <notifications@github.com>:

--
Matteo Pagliazzi - paglias.net

[2017-10-20 09:06] Alys commented on #7998
this has been done

[2017-10-20 09:06] #7998 closed, assigned to nobody

[2017-10-20 09:12] #8000 closed, assigned to nobody

[2017-10-20 09:13] paglias commented on #7178
yes

[2017-10-20 09:13] paglias commented on #4500
should be

[2017-10-20 09:13] #4500 closed, assigned to nobody

[2017-10-20 09:14] paglias commented on #8127
Yes, this still happens when a query string is in the url. The fix should be to tell hello.js to always redirect the Google popup to the login page

[2017-10-20 09:16] paglias commented on #7617
Yes let's keep this on hold as a bigger discussion needs to happen before

[2017-10-20 14:24] librarianmage commented on #7103
What is the status on this?

[2017-10-20 14:25] librarianmage commented on #5646
Should this be closed? If I understand this correctly, it has been fixed.

[2017-10-20 14:26] librarianmage commented on #8303
Is this still an issue, with the redesign?

[2017-10-20 14:28] librarianmage commented on #8371
This appears to have been fixed.

[2017-10-20 14:31] librarianmage commented on #8735
Note: This has not been fixed in the redesign

[2017-10-20 14:32] librarianmage commented on #8786
This appears to have been fixed, with the new client.

[2017-10-20 14:32] librarianmage commented on #8686
Has this been fixed?

[2017-10-20 14:33] librarianmage commented on #7675
Does this still happen?

[2017-10-20 14:34] librarianmage commented on #7407
I haven't done much testing on this, but I haven't seen it happen recently. Is this still an issue?

[2017-10-20 14:35] librarianmage commented on #6710
Does this still happen, with the new font?

[2017-10-20 14:38] librarianmage commented on #6710
After doing some quick 'testing', it appears to have been fixed.

[2017-10-20 14:39] librarianmage commented on #7539
Now, the page redirects back to the challenge list when a challenge is closed, so should the filter still persist?

[2017-10-20 14:40] librarianmage commented on #5754
Joining challenges does not happen on the same "page", so is this still desired?

[2017-10-20 14:43] librarianmage commented on #8330
I haven't seen this happen; is it still an issue?

[2017-10-20 14:46] librarianmage commented on #7687
Should this be closed, as it hasn't been reimplemented yet?

[2017-10-20 14:46] librarianmage commented on #8788
Does this still happen?

[2017-10-20 14:47] librarianmage commented on #8087
@madpink How are you doing on this?

[2017-10-20 14:48] librarianmage commented on #8490
This doesn't happen anymore, as far as I can tell, so should it be closed?

[2017-10-20 14:50] librarianmage commented on #8304
I don't see an option for this anymore on the Settings page. Is this still desired?

[2017-10-20 14:50] librarianmage commented on #6961
Stat allocation isn't displayed like this anymore; should this Issue be closed?

[2017-10-20 14:51] librarianmage commented on #6679
Should this be closed and considered during re-implementation?

[2017-10-20 14:53] librarianmage commented on #8003
Has this list been updated?

[2017-10-20 15:14] SimplyComplexable commented on #9225
@lemoness There is an active PR for this. Not sure if that means it should have a different label, but just FYI.

[2017-10-20 15:19] SimplyComplexable commented on #9228
I'll look at this one.

[2017-10-20 15:22] paglias commented on #7675
can reopen if it happens again

[2017-10-20 15:22] #7675 closed, assigned to nobody

[2017-10-20 15:22] paglias commented on #7407
can reopen if it happens again

[2017-10-20 15:22] #7407 closed, assigned to nobody

[2017-10-20 15:22] paglias commented on #6710
Comment if it happens again and I'll reopen the issue

[2017-10-20 15:22] #6710 closed, assigned to nobody

[2017-10-20 15:22] paglias commented on #7687
Yes, let's close this one

[2017-10-20 15:22] #7687 closed, assigned to nobody

[2017-10-20 15:23] paglias commented on #8003
No but most things are still todo, let's keep this, I'll try to clean it up and split into multiple issues in a few days

[2017-10-20 15:38] fogbank commented on #5754
No, I don't think it's relevant anymore.

[2017-10-20 15:38] #5754 closed, assigned to nobody

[2017-10-20 16:14] JoshSears commented on #8735
Still on my todo list, just school, fam, and a new house had to take
priority.  Just having an issue with making the test display a name.

On Oct 20, 2017 10:31 AM, "MathWhiz" <notifications@github.com> wrote:

[2017-10-20 18:21] vincecampanale commented on #8472
Nope, all yours!

[2017-10-20 18:22] citrusella commented on #8304
I see no reason they'd theoretically want to remove the option on purpose unless it just wasn't feasible with the new site.

But then I'm not them. (And also biased because I like/used the option.)

[2017-10-20 18:32] citrusella commented on #9233
For what it's worth (I took a look at the PR but felt weird commenting right on it), I'm pretty sure the "you gained experience" bubble appeared as its own separate notification on the old site, i.e.

[-100 Gold]
[+53 Experience]
[You wrestle with the Armoire and gain Experience. Take that!]

As opposed to the style of the food and equipment notifications, which were essentially the way the equipm

[2017-10-20 19:47] SabreCat commented on #8304
I think now that we have the quick-add fields at the top of the task columns again, this could be re-implemented. (Before the quick-adds were restored, you always got the edit popup when adding tasks anyway.)

[2017-10-20 19:50] SabreCat commented on #6679
Yes, we don't currently have the graphs at all, so this issue isn't in evidence.

[2017-10-20 19:50] #6679 closed, assigned to nobody

[2017-10-20 19:51] SabreCat commented on #6961
Yup, good call. There are still sync errors associated with rapid clicking of attribute assignment, but the specific visual issue here is no longer present.

[2017-10-20 19:51] #6961 closed, assigned to nobody

[2017-10-20 19:52] SabreCat commented on #8490
Yup! Thanks for doing this old-issue hunting, btw @MathWhiz, much appreciated!

[2017-10-20 19:52] #8490 closed, assigned to nobody

[2017-10-20 19:54] librarianmage commented on #8490
No problem! With such a large core base being around so long, it's easy for
stuff to sink to the bottom.
On Fri, Oct 20, 2017 at 2:52 PM Sabe Jones <notifications@github.com> wrote:

[2017-10-20 19:56] SabreCat commented on #8788
Just gave it a quick test locally. Game-over sound plays OK when wiping oneself out on minus Habits!

[2017-10-20 19:56] #8788 closed, assigned to nobody

[2017-10-20 19:59] SabreCat commented on #8172
Yup, this behavior (which is common/server code) didn't change with the frontend redesign. It could still stand to be overhauled.

[2017-10-20 20:01] SabreCat commented on #6933
There's probably still room for improvement (a long completion list still looks rather awkward), but it's much better these days.

[2017-10-20 20:02] SabreCat commented on #6685
Yes, on a cursory look these strings have not been changed.

[2017-10-20 20:04] SabreCat commented on #2541
There's still nothing stopping the user from mashing a task again while the blue bar is cycling.

[2017-10-20 20:19] haydenbetts commented on #9185
I would like to work on this.

[2017-10-20 21:30] lemoness commented on #4677
I'm not sure we want this right now, actually, so I'm closing it. We can always reconsider in the future and reopen it!

[2017-10-20 21:30] #4677 closed, assigned to nobody

[2017-10-20 21:34] lemoness commented on #8787
Right now, Key to the Kennels is on the list to restore. When we do, we can make sure as part of testing that feature, this doesn't happen, so we don't need this ticket.

[2017-10-20 21:34] #8787 closed, assigned to nobody

[2017-10-20 21:35] lemoness commented on #9185
@haydenbetts Thank you so much! It's yours. Let us know if you have any questions!

[2017-10-20 21:36] lemoness commented on #8133
I don't believe it is. We can always reopen this if someone can replicate it.

[2017-10-20 21:36] #8133 closed, assigned to nobody

[2017-10-20 21:39] lemoness commented on #7717
I think it has, but we can reopen this ticket or make a new one if it happens again!

[2017-10-20 21:39] #7717 closed, assigned to nobody

[2017-10-20 21:40] lemoness commented on #2541
I'm not sure we want this any more, though. Wouldn't it be better to just focus on our planned fixes for sync errors/batch actions?

[2017-10-20 21:41] lemoness commented on #3018
I think we should close this, then, and open a new, updated ticket when we're ready.

[2017-10-20 21:42] #3018 closed, assigned to nobody

[2017-10-20 21:43] lemoness commented on #7721
I believe so, unless there's a technical reason that we wouldn't want to do this!

[2017-10-20 21:44] lemoness commented on #7721
I've updated the labels on this issue.

[2017-10-20 21:45] lemoness commented on #5466
Actually, I'm not sure that this is something that we still want to do, as I worry it would lead to confusion.

[2017-10-20 21:46] lemoness commented on #7569
I've updated the labels on this issue!

[2017-10-20 21:49] lemoness commented on #5757
I've updated the labels on this issue!

[2017-10-20 21:52] lemoness commented on #8304
So actually, we don't need a setting for this. Quick-add doesn't work this way, but adding a new task with advanced mode by clicking the green (+) always opens the task in edit mode. So the feature is already accessible for any task type from the task page, and you can choose if you want to open in edit mode or not on a task-by-task basis without changing your settings.

[2017-10-20 21:52] #8304 closed, assigned to TheHollidayInn

[2017-10-20 21:53] lemoness commented on #7159
I've updated the labels on this issue.

[2017-10-20 21:54] lemoness commented on #7178
I've updated the labels on this issue.

[2017-10-20 21:55] lemoness commented on #8127
I've updated the labels on this issue.

[2017-10-20 21:56] #7103 closed, assigned to nobody

[2017-10-20 21:57] lemoness commented on #8472
Is this still happening, actually?

[2017-10-20 21:59] lemoness commented on #9228
@SimplyComplexable Thank you very much! Let us know if you have any questions.

I've updated the labels on this issue.

[2017-10-20 21:59] librarianmage commented on #8472
Just tested it, and yes, the "Short Name" field appears to be editable when
editing challenges, though it doesn't actually change when submitted.
On Fri, Oct 20, 2017 at 4:57 PM lemoness <notifications@github.com> wrote:

[2017-10-20 22:01] lemoness commented on #8330
If it is, we can reopen this.

[2017-10-20 22:01] #8330 closed, assigned to nobody

[2017-10-20 22:02] lemoness commented on #7539
I'm open to it -- @Cantras would this still be a helpful feature in the new flow?

[2017-10-20 22:03] lemoness commented on #8686
I haven't seen any instances of it, so I'm closing this ticket. We can always reopen in the future if necessary.

[2017-10-20 22:03] #8686 closed, assigned to nobody

[2017-10-20 22:03] #8786 closed, assigned to nobody

[2017-10-20 22:03] #8371 closed, assigned to nobody

[2017-10-20 22:04] lemoness commented on #8303
I haven't seen reports, but if we need to we can always reopen this or make a new ticket!

[2017-10-20 22:04] #8303 closed, assigned to nobody

[2017-10-20 22:04] #5646 closed, assigned to nobody

[2017-10-20 22:05] lemoness commented on #8472
I've updated the labels on this issue.

[2017-10-20 22:05] librarianmage commented on #3909
Doesn't this work now? I have a normal account that is can also be signed in with my Google account.

[2017-10-20 22:05] librarianmage commented on #7725
Is this still in progress?

[2017-10-20 22:06] librarianmage commented on #3571
@rbreu Are you still working on this?

[2017-10-20 22:07] librarianmage commented on #7809
Please remove "in progress" tag, as I am no longer working on this.

[2017-10-20 22:07] librarianmage commented on #8232
Is this still an issue? If so, should it still be on hold?

[2017-10-20 22:08] MathWhiz commented on #8128
@sjyn Are you still working on this? If not, can this not be tagged in progress?

[2017-10-20 22:09] librarianmage commented on #8283
This appears to have been fixed in #8463

[2017-10-20 22:10] librarianmage commented on #8070
@vincecampanale Are you still working on this? If not, can this not be marked in progress?

[2017-10-20 22:11] librarianmage commented on #8478
Is this in progress?

[2017-10-20 22:11] librarianmage commented on #8502
@megantiu Are you still working on this?

[2017-10-20 22:12] librarianmage commented on #8004
@cincospenguinos Are you still working on this?

[2017-10-20 22:12] librarianmage commented on #8590
@Moniarchy Are you still working on this?

[2017-10-20 22:12] librarianmage commented on #8530
@tim1234ltp Are you still working on this?

[2017-10-20 22:13] librarianmage commented on #8718
@JacksonCoder Are you still working on this?

[2017-10-20 22:13] cTheDragons commented on #7721
It should be noted that this information is available in the [Challenge Data Tool](https://oldgods.net/habitica/cTheDragons/challenge.html) now

[2017-10-20 22:14] librarianmage commented on #8365
Are you still working on this, @caillu?

[2017-10-20 22:14] librarianmage commented on #8721
@ru-lai Are you still working on this?

[2017-10-20 22:15] cTheDragons commented on #8442
I believe it still is, unless someone fixed the API and it is not implemented yet ? Notice the label been removed.

[2017-10-20 22:15] ghost commented on #7539
I think it matters less, since you can open all the challenges you want in new tabs, which you couldn't before. It might still be helpful for others, but for my own workflow it's irrelevant.

[2017-10-20 22:16] librarianmage commented on #8782
Is this still in progress, or has it been fixed with the new client?

[2017-10-20 22:17] MathWhiz commented on #7991
@megan-starr9 Are you still working on this?

[2017-10-20 22:17] librarianmage commented on #8441
Should this still be on hold?

[2017-10-20 22:17] librarianmage commented on #7431
Should this still be on hold?

[2017-10-20 22:17] librarianmage commented on #7123
Should this still be on hold?

[2017-10-20 22:19] librarianmage commented on #5556
Should this still be on hold? Also, the "End date" part of the Issue has already been added in the new redesign.

[2017-10-20 22:19] librarianmage commented on #5551
Should this still be on hold?

[2017-10-20 22:19] librarianmage commented on #8671
Should this still be on hold?

[2017-10-20 22:22] librarianmage commented on #6559
This has already been added, so should this issue be closed?

[2017-10-20 22:23] librarianmage commented on #6540
Should this no longer be on hold?

[2017-10-20 22:23] librarianmage commented on #3730
Should this no longer be on hold?

[2017-10-20 22:23] librarianmage commented on #8612
Should this still be on hold?

[2017-10-20 22:24] MathWhiz commented on #4819
@joe-salomon2 Are you still working on this?

[2017-10-20 22:25] librarianmage commented on #7645
@TNychka Are you still working on this?

[2017-10-20 22:26] librarianmage commented on #8636
Should this still be on hold? How does it look with the new update?

[2017-10-20 22:26] librarianmage commented on #8672
Should this still be on hold? How does it look with the new update?

[2017-10-20 22:26] librarianmage commented on #8917
@pgoswami3 Are you still working on this?

[2017-10-20 22:27] librarianmage commented on #8743
Does this still happen?

[2017-10-20 22:27] librarianmage commented on #8039
Should this still be on hold?

[2017-10-20 22:27] librarianmage commented on #8827
Can this be marked as in progress?

[2017-10-20 22:28] librarianmage commented on #2516
Should this issue be closed, due to the current absence of value graphs?

[2017-10-20 22:28] librarianmage commented on #2516
If not, should it be marked as available and not on hold?

[2017-10-20 22:58] TNychka commented on #7645
@MathWhiz yes, the task is finished and the PR is in progress here https://github.com/HabitRPG/habitica/pull/8928

[2017-10-20 23:16] maximumtiu commented on #8502
@MathWhiz Ah man, I'm sorry, I've been meaning to give an update on this. Other than some messing around in my dev environment, I wasn't able to produce a full-fledged solution before my life got super busy. I no longer have time to give this issue the love it deserves 😞

Please feel free to re-assign. I'm sorry for any inconvenience I've caused.

[2017-10-20 23:18] librarianmage commented on #7645
Oops! I missed that.
On Fri, Oct 20, 2017 at 5:59 PM Tyler Nychka <notifications@github.com>
wrote:

[2017-10-21 01:52] lemoness opened #9242 "Guild Notifications and Party Notifications sometimes do not automatically clear."
Notifications for Guild and Party messages don’t reliably clear when you click them and go to the guild/party they are from. I’m pretty sure that Party never clears, and Guild notifications don’t clear if you go from one Guild to another, but we should definitely carefully investigate.

[2017-10-21 01:59] lemoness opened #9243 "Key to the Kennels is not showing for users who are eligible"
Key to the Kennels is not showing for users who are eligible. It should be restored to the Market.

[2017-10-21 01:59] Alys commented on #2516
That PDF from @PaulRosenfield still has some great ideas in it so I think this issue should be kept open so we don't lose track of it. I'm leaving it on hold though because I think some significant changes to the method of displaying history are still being considered.

[2017-10-21 02:04] #5466 closed, assigned to nobody

[2017-10-21 02:09] Alys commented on #5466
We've spoken in the past about splitting `priority` (difficulty) into importance and difficulty (or "damage" and "reward"), with different settings being possible for each, so if we ever do that and we include an option for zero damage, that would cover most of this use case - take no damage from incomplete optional Dailies (although also no Perfect Day).

[2017-10-21 02:20] Alys opened #9244 "API must enforce maximum length for summaries for Guilds and Challenges"
Guilds and Challenges have a summary field and the website enforces a maximum length for it:
https://github.com/HabitRPG/habitica/blob/6838b7d0a60c1b5b089ae5dab17f9cf10e09b937/website/common/script/constants.js#L9-L10

The API's routes for creating and editing Guilds and Challenges should enforce the same maximum.

Note that currently the API does not make the summary field mandatory - that is des

[2017-10-21 02:21] Alys commented on #9244
There should also be tests that ensure that IF a summary is provided, it is not too long.

[2017-10-21 02:23] spacenate commented on #9233
Ah okay, thank you! I will try two separate notifications for experience gains.

[2017-10-21 02:25] cailinglu commented on #8365
@MathWhiz not working on this currently. I think I was doing it incorrectly before.

[2017-10-21 02:30] TigzAU commented on #8671
If it does, reassign someone else, the variable that is causing the issue in the old code was being transcoded to its variable at the webpage itself not the coding behind it, I could not see the code to alter this, if it's still happening that is most likely where the issue will be, sorry to advance for me, I know where the issue is  but I can not change it

[2017-10-21 02:34] citrusella commented on #8304
...I didn't realize those even functioned differently! :worried: I even went so far as to hide the green plus in one of the styles I'm working on because I figured the features were the same regarding opening an edit window! \*goes to consider the merits of un-hiding that*

[2017-10-21 02:34] Alys commented on #9243
When the Key to the Kennels has been used, the player should be redirected to the Inventory > Stable page so that they can confirm that the Key was successful.

[2017-10-21 02:37] Alys commented on #8365
labels updated

@caillu Thanks for letting us know!

[2017-10-21 02:40] Alys commented on #8502
labels updated

@megantiu No worries at all! We understand about real-life taking precedence! Thanks for letting us know. :)

[2017-10-21 02:42] Alys commented on #8827
labels updated

[2017-10-21 02:43] librarianmage commented on #8827
Thanks!
On Fri, Oct 20, 2017 at 9:42 PM Alys <notifications@github.com> wrote:

[2017-10-21 02:47] Alys opened #9245 "add tests for the summary field for Guilds and Challenges"
Tests are needed for the new summary field in Guilds and Challenges:

- [ ] creating a challenge through the API with NO summary provided - summary should equal challenge.name (necessary to ensure backwards compatibility for existing third-party tools)
- [ ] creating a guild through the API with NO summary provided - summary should equal group.name (necessary to ensure backwards compatibility for

[2017-10-21 02:48] Alys commented on #9245
labels updated

[2017-10-21 03:02] calasada commented on #9245
As for task one, isn't it doing that here: https://github.com/HabitRPG/habitica/blob/506275c30e1a0953d5d447913d4f642d7feb1723/website/server/models/challenge.js#L60-L62
Maybe i'm in the wrong part of the code, it's my first time looking at this project.

[2017-10-21 03:06] Alys commented on #9029
@shanaqui I'm sorry, this bug was reported before so I'm closing this one. My bad.
https://github.com/HabitRPG/habitica/issues/8004

[2017-10-21 03:06] #9029 closed, assigned to nobody

[2017-10-21 04:32] Alys commented on #8991
Another report of this from trepto (071f3d98-6f33-4b63-bde1-b1898802fa16):

"Ack! The check-in bug I reported a bit ago was back this morning, but following the instructions I was given previously didn't work. :/
When I refreshed Habitica to run cron, (android app), I got the popup asking me to check off any dailies I did yesterday. I had a Perfect Day (confirmed through Data Display). I immediate

[2017-10-21 04:45] tim1234ltp commented on #8530
@MathWhiz I am afraid not. I haven't been able to solve the issue. You can take on this though but I am not sure if there is any change to new Habitica in terms of api.

[2017-10-21 04:57] Alys commented on #6559
Ah yes. The termination date is displayed (when it exists). The next renewal date can't be displayed for the reasons listed above, so I'm closing this. A renewal date is still desirable but needs significantly more work than just adjusting the display. We want to make other improvements to subscriptions so I'll mention this requirement to the staff, and if this isn't done at the same time as the o

[2017-10-21 04:57] #6559 closed, assigned to nobody

[2017-10-21 05:02] Alys commented on #6559
I won't mention mention this to the staff because the renewal date idea is already well described at https://github.com/HabitRPG/habitica/issues/5556
Thanks for your posts on both, MathWhiz.:)

[2017-10-21 05:13] librarianmage commented on #6559
No problem! Glad to help :)

On Sat, Oct 21, 2017 at 12:02 AM Alys <notifications@github.com> wrote:

[2017-10-21 05:15] #8283 closed, assigned to nobody

[2017-10-21 08:42] paglias commented on #3909
It only works one way

[2017-10-21 08:57] paglias commented on #8039
Yes because we haven't decided what to test

[2017-10-21 09:29] Alys commented on #8530
@tim1234ltp No worries, thanks for letting us know!

The API wasn't changed in any way that would affect this issue.

[2017-10-21 09:30] Alys commented on #8530
labels updated

[2017-10-21 09:42] Alys commented on #9245
Yes, that's the code that performs that action but our automated test suite needs a test to ensure that code always performs correctly. :)

Have a look at http://habitica.wikia.com/wiki/Using_Your_Local_Install_to_Modify_Habitica%27s_Website_and_API if you'd like to read about the tests.

[2017-10-21 10:22] Alys commented on #5551
To be honest, I'm not too keen on this idea. The public guilds are open to all. Allowing only guild members to post is easily bypassed by joining, posting, then leaving, so it doesn't guarantee that all visible posts will be from current members, it just adds extra inconvenience to a legitimate use case. If the guild leader wants strict control over posting to the guild, they could make a private

[2017-10-21 10:25] Alys commented on #5551
I'm editing my previous postt to remove my comment about bug reports because "a message about joining the guild is in place of the chat box" would make it very clear what's happening. :) That's a good idea if this is implemented.

[2017-10-21 10:33] Alys commented on #7123
I'm marking this as suggestion-discussion.

I'd very much like to see this implemented, and for guilds as well as the Tavern. The Report a Bug guild would benefit from a pinned post at the top of the chat right now - it would be more obvious than the description and there's up-to-date information we could put in it.

If we wanted only a single sticky post (rather than an unlimited number of sticky

[2017-10-21 10:37] Alys commented on #5757
An important point is that each message should be readable by all party members, no matter what language each speaks. That would need to work regardless of what client each player was using, so the API should return the translated version of the message, using the user's chosen language.

[2017-10-21 10:45] Alys commented on #8088
I just tested with a Stripe subscription. When you cancel, you see a JavaScript alert saying that your subscription was cancelled and then when you click it's ok button, you're redirected to the Tasks page.

A better approach would be to not have the JavaScript alert and instead refresh the data on the Subscription page to show the termination date, and not redirect the user away from that page.

[2017-10-21 10:51] Alys commented on #3730
I'd certainly like to see the dequip buttons come back. They were so convenient. I'm marking this as suggestion-discussion, although it might end up being closed in favour of a new issue that better describes the current situation.

[2017-10-21 11:02] shanaqui commented on #5551
I'm not a fan of this for the reasons Alys mentions -- it seems weird to me that in this case people could still view the guild if they weren't members, as now, but not post unless they join. And if we changed that, people who wanted to enable that might as well just make private guilds.

[2017-10-21 11:05] Alys opened #9247 "prevent typing a private message to a player who has blocked you / opted out of PMs"
On the Messages screen (shown below), when the player that you're trying to send a message to has blocked you or has opted out of all private messages, then there should be no "send" button or new message field at the bottom of the screen. Instead, there should be a statement that you can't message that person (use the `notAuthorizedToSendMessageToThisUser` locale string, which already exists: "Yo

[2017-10-21 11:07] Alys commented on #6540
I've created a new issue for being told that you can't PM a person **before** you type: https://github.com/HabitRPG/habitica/issues/9247

I'm setting this issue to suggestion-discussion so that we can discuss the other points mentioned above, and I'm adjusting the title accordingly.

[2017-10-21 11:07] Alys commented on #9247
labels updated

[2017-10-21 11:09] shanaqui commented on #9221
My impression was that at least some users were actually in favour of having the check-ins show so they could assess regularity of check-ins when party recruiting. It's a valuable way of seeing whether someone's playing style matches up with the goals of a given party -- if regular checking in is that important to a given party, the leader will notice someone isn't doing it _anyway_ and then kick

[2017-10-21 11:21] Alys commented on #9221
I don't recall any reports of unfair treatment from the old site because of the visibility of the check-in count, although maybe it's not the sort of problem a player would report.

Longer-term users aren't really penalised any more because the check-ins have been around for 300+ days.

With the Bug guild being so busy at the moment, I'd really like the Socialites to still be able to give accurate

[2017-10-21 11:23] Alys commented on #5556
labels updated

I've marked this as suggestion-discussion rather than on-hold so that we can decide what we want displayed, although the staff might decide to close this if it's being discussed internally along with other payment issues.

[2017-10-21 11:25] eric-horvat commented on #9247
I'll give this a go

[2017-10-21 11:31] Alys opened #9248 "challenge creator should not automatically join their own challenge"
Currently, when you create a challenge, you are automatically made a participant.

This should be changed. A challenge creator should not automatically join their own challenge. They should become a participant only when/if they choose to click the "Join" button.

----

_Here are the reasons (just FYI; this is not important for implementing this change):_
- _If you don't yet have the achievement f

[2017-10-21 11:31] Alys commented on #9248
labels updated

[2017-10-21 11:33] Alys commented on #7469
I'm closing this because we've decided to do this instead: https://github.com/HabitRPG/habitica/issues/9248 "challenge creator should not automatically join their own challenge"

[2017-10-21 11:33] #7469 closed, assigned to nobody

[2017-10-21 11:33] Alys commented on #7449
I'm closing this because we've decided to do this instead: https://github.com/HabitRPG/habitica/issues/9248 "challenge creator should not automatically join their own challenge"

[2017-10-21 11:33] #7449 closed, assigned to nobody

[2017-10-21 11:34] Alys commented on #9247
@eric-horvat Cool, thanks! Comment here if you have questions or find problems.

[2017-10-21 11:53] Alys commented on #8441
I think I've seen more questions and "bug" reports about two-handed weapons with the new site than with the old, so we definitely still want this.

Labels updated.

[2017-10-21 11:57] Alys commented on #8782
The website no longer allows non-integer values to be entered but I'm guessing the API does so that would still need to be fixed. If anyone looks at this and discovers that the API has already been changed, please comment here and we'll close this.

Labels updated.

[2017-10-21 12:00] Alys commented on #7809
@MathWhiz Thanks for letting us know!

Labels updated. I've also cleaned up some of the comments and edited the top post a bit to clarify the fix.

[2017-10-21 12:11] Alys commented on #5232
Sorry we didn't reply earlier, @MathWhiz! Are you still interested in working on this?

[2017-10-21 12:11] Alys commented on #5232
Sorry we didn't reply earlier, @MathWhiz !

[2017-10-21 12:13] Alys commented on #2541
Yes, THI's ideas for action queues, undoing, etc, would cover all this.

[2017-10-21 12:13] #2541 closed, assigned to nobody

[2017-10-21 12:16] Alys commented on #7970
@BlackEdder  You're not affected by the _cronSIgnature bug if you're able to log in on another platform.

On Safari, go to https://habitica.com/static/clear-browser-data and click the red "Clear Data" button there. If that doesn't make the website work, report the problem in the Report a Bug guild (available from Guilds on the mobile app or from Help on the website) and we'll help you more there.

[2017-10-21 12:22] hydeenoble commented on #9248
Hey, I am not 100% familiar with the stack used, but i would like to look into this. can I?

[2017-10-21 12:33] Alys commented on #9248
@hydeenoble Please do, thanks! It's not a bad first issue because it involves removing code rather than adding it. :)

If you haven't yet seen [Guidance for Blacksmiths](http://habitica.wikia.com/wiki/Guidance_for_Blacksmiths) and the pages it links to, they'll help you get familiar with our tech and how to make a local install. Comment here if you have questions or run into trouble.

[2017-10-21 12:44] Alys commented on #5690
I'm closing this but we can reopen if it's still happening.

[2017-10-21 12:44] #5690 closed, assigned to nobody

[2017-10-21 12:47] Alys commented on #5814
keyboard navigation does't do anything in the new Justin tutorial

[2017-10-21 12:47] #5814 closed, assigned to nobody

[2017-10-21 12:50] Alys commented on #8039
copying from https://github.com/HabitRPG/habitica/issues/7698 (now closed):

"Re-Enable End to End Tests
The helper file in test/e2e/helper.js may need to be adjusted."
20 June 2016

[2017-10-21 12:50] #7698 closed, assigned to nobody

[2017-10-21 12:50] Alys commented on #8751
I'm closing this. We can reopen if it still happens.

[2017-10-21 12:50] #8751 closed, assigned to nobody

[2017-10-21 12:51] Alys commented on #8874
labels updated

[2017-10-21 12:54] Alys commented on #8875
This no longer happens when I test for it. We can reopen this if anyone else notices it.

[2017-10-21 12:54] #8875 closed, assigned to nobody

[2017-10-21 13:13] librarianmage commented on #5232
I think I'll keep it open for another user right now.
On Sat, Oct 21, 2017 at 7:11 AM Alys <notifications@github.com> wrote:

[2017-10-21 13:45] jyotman commented on #9244
Hi, may I take this up?

From what I understand, there needs to be a validation check while creating/updating (APIs) challenges or guilds using *express-validator*. I noticed that the validation is already present at the mongoose schema level.

Also should the check be on all *groups* or only on *groups* of type *guild*?

[2017-10-21 14:08] Alys commented on #5232
No worries!

Labels updated.

[2017-10-21 14:13] #6982 closed, assigned to nobody

[2017-10-21 14:14] #7492 closed, assigned to nobody

[2017-10-21 16:31] omguhh commented on #9223
Hey @Alys , thanks so much for the links and resources, I really appreciate it :D
I'll try to get

this done for you!

[2017-10-21 18:49] majestic-owl448 commented on #9188
If #5232 is implemented the wording will need to be changed as then the tasks will change in value

[2017-10-21 20:34] Alys commented on #5232
When this is implemented, the wording on the banner from https://github.com/HabitRPG/habitica/issues/9188 will need to be changed. Either change it on the website as part of the fix for this issue if https://github.com/HabitRPG/habitica/issues/9188 has already been completed, or put a comment in https://github.com/HabitRPG/habitica/issues/9188 to say that the wording needs to change.

I'm copying

[2017-10-21 20:35] Alys commented on #9188
@leahleen - excellent point, good catch! I've updated https://github.com/HabitRPG/habitica/issues/5232

[2017-10-21 21:17] haydenbetts commented on #9185
Hi! In my testing, when I set a user's contributor tier = 10 (npc), there was no problem with the styling in tavern chat. See: https://i.imgur.com/yzHMilO.png

Do you know where the bug appeared in production so that I can try to replicate it?

[2017-10-21 21:23] haydenbetts commented on #9245
I would like to work on this.  Because I'm new, would it be ok if I first submitted a pr with just one of these tests at first so I can get some feedback?

[2017-10-21 21:25] Alys commented on #9245
@haydenbetts That would be fine! It's a good idea when you're not sure about your approach. Thank you for taking this on! Comment here or on your PR if you have questions or run into trouble.

[2017-10-21 21:36] Alys opened #9249 "error messages disappear too quickly ("username or password is incorrect", swearword / slur warning)"
When you're logging in but enter the wrong details, you see the message below but it's in a red notification that disappears in just one or two seconds - far too quickly for you to be able to read it.

This needs to be displayed in a more useful way. Even a JavaScript alert would be better (e.g., as a quick fix until a more elegant solution could be done). It would be okay if the red notification

[2017-10-21 21:38] Alys commented on #9249
Labels updated.

I've marked it as "good first issue" since my suggested quick fix would be simple, but that label should be removed if the quick fix isn't considered suitable.

[2017-10-21 21:59] librarianmage commented on #9247
@Alys How should this issue affect https://github.com/HabitRPG/habitica/issues/8142?

[2017-10-21 22:21] Alys opened #9250 "Party page "Start a Quest" chooses one scroll to be the default, even when you don't own it"
If you go to the Party page and click "Start a Quest", the quest modal that appears always has the Feral Dust Bunnies quest as the default, even when you don't own that scroll. Screenshot below shows this.
 [EDIT: It can be any scroll including ones you don't own.]

I suggest that the default content in the centre part of that screen should always be a message saying something like "Select a quest

[2017-10-21 23:02] Alys commented on #9247
@MathWhiz ha, great point! Thank you! It depends a lot on which issue is finished first.:)  I'll update the top post to include some words about that.  I've added a note to your Hall of Heroes entry to recognise your recent large efforts in assessing issues as a partial contribution to Tier 7.

[2017-10-21 23:03] Alys commented on #8142
Labels updated.

[2017-10-21 23:27] CharlesStocky commented on #9242
Hi there, could I take this?

[2017-10-21 23:33] Alys commented on #9242
@CharlesStocky Yes, thank you! Comment here if you have questions or find problems.

[2017-10-21 23:51] librarianmage commented on #9247
Aww, thanks :D
On Sat, Oct 21, 2017 at 6:02 PM Alys <notifications@github.com> wrote:

[2017-10-22 00:44] TheGameFreak720 commented on #9249
I would like to help. What do I need to know in order to help?

[2017-10-22 05:02] pgoswami3 commented on #8917
@MathWhiz , Go ahead, all yours.

[2017-10-22 05:37] rkojima commented on #9217
@Alys Ok thanks! Will check it out

[2017-10-22 09:06] Alys commented on #2516
Labels updated to "status: on hold - needs design" at Lemoness's suggestion.

[2017-10-22 15:15] librarianmage commented on #8917
Thank you, but I'm not planning on working on this right now.
On Sun, Oct 22, 2017 at 12:02 AM Pratik Goswami <notifications@github.com>
wrote:

[2017-10-22 18:05] AugustoEMoreira commented on #9249
I'm actually working on this bug, i just need to test befores make an push.
Can you confirm if docker image is working?

[2017-10-22 22:11] Alys commented on #9249
@AugustoEMoreira I'll mark this as in progress for you. It's best to comment on an issue when you start on it. You might also want to describe your approach here so that we can advise you about whether it's suitable (for example, making all notifications stay visible for longer would not be the best fix because the gold/experience/etc ones need to disappear quickly). If you're having trouble with

[2017-10-22 22:42] Alys commented on #8813
Labels updated.

@abatula I've marked this as in progress in case you still want to work on it, but if you don't no worries at all - just let us know and we'll put it back to help wanted.

We're actually doing a quick fix to introduce swearword blocking to most guilds, requested by Lemoness: https://github.com/HabitRPG/habitica/pull/9253 however that's intended to be just a short term solution unt

[2017-10-22 23:16] rholinshead commented on #9132
I'm interested in taking this issue, but what is the desired UX here? Should the black-box tooltip appear on hover and the text below the "Opt Out" label not ever be shown? I noticed it has both classes `d-none` and `d-inline-block` which both use `!important` for their `display` attribute...

I can think of two options here:
- Remove the black-box tooltip completely
- Remove the text below 'Opt O

[2017-10-23 04:31] citrusella commented on #9250
When I open the start a quest button, mine defaults to Egg Hunt (I own neither the dust bunnies nor the egg hunt at this point in time, though I've completed both). Is that a different "flavor" of this, or something different?

[2017-10-23 07:22] jyotman commented on #9244
@Alys ☝

[2017-10-23 13:00] AugustoEMoreira commented on #9249
I'm sorry for that.

Well, apparently the problem is in the one transition that you guys are using to all modal, so if we split it maybe will work

[2017-10-23 13:21] Tressley commented on #9233
@citrusella @spacenate -- We definitely want to keep the Armoire's "drop" and flavor in the same notification. I'm trying to reduce how many snacks we show. 😛

![image](https://user-images.githubusercontent.com/2686586/31890972-f73f0fbe-b7d2-11e7-80db-ca51f1b517f5.png)

So the stack would be:
[-100 Gold]
[You wrestle with the Armoire and gain Experience. Take that! +53 EXP]

[2017-10-23 15:39] librarianmage commented on #8620
This doesn't need to be on hold, right?

[2017-10-23 15:39] librarianmage commented on #8540
I believe so

[2017-10-23 15:39] librarianmage commented on #8488
Should this still be on hold?

[2017-10-23 15:40] librarianmage commented on #8500
Should this still be on hold?

[2017-10-23 16:56] TNychka commented on #9107
@Alys I'm willing to take a look at this.

~Quick question first, do we know that this was unintended? I would interpret Distribute attribute points evenly as sending a point to each of the in repeating order ie str -> con -> int -> per ->str -> con -> int ... ect.~

~The other interpretation I have is that all stats should be leveled to the same value by lowest priority and ties split randomly. i

[2017-10-23 17:15] LunarGem commented on #8620
Nope, and it's not. I'm working on it! (Mostly from the other issue, where it's easier to implement them both at once..)

[2017-10-23 17:40] vincecampanale commented on #8070
Nope, sorry, not working on this any more either.

[2017-10-23 17:42] TNychka commented on #9107
Currently, it looks like it assigns to the lowest valued stat
[code]
I can investigate further to see if this is the case. Is there any way I can get Destan53's user.preferences.allocationMode ? That would help in debugging. If it is flat then we have an issue if it is not (and is corrupt or some other value) then the issue is elsewhere as automatically allocating to str is expected behavior.

[2017-10-23 17:44] TNychka commented on #9107
Actually it looks like it defaults to
[code]
maybe their preference was not set? That would explain the behavior. Will investigate more.

[2017-10-23 18:03] SabreCat commented on #8128
It's been nearly a year--opening it back up!

[2017-10-23 18:04] SabreCat commented on #3571
More than a year idle; changing the tag!

[2017-10-23 19:34] Moniarchy commented on #8590
@MathWhiz Yes, I totally forgot about it. Going to get some work on it today.

[2017-10-23 21:01] paglias opened #9256 "Add button to regenerate API Token and regenerate the token automatically when the password is changed"
The settings page should have a button to regenerate API Token.

This will require a new route (that asks for the user password or checks that the user is correctly authenticated in case of a social account where no password exist) and relative tests.

Some initial code can be found in these two commit https://github.com/HabitRPG/habitica/pull/9202/commits/077e93e66e7eb4dcc46af7471e1039ff10a8627c

[2017-10-23 21:02] lemoness commented on #7970
Should these labels be updated?

[2017-10-23 21:04] lemoness commented on #5556
We've been discussing these internally, so I'll move these suggestions over and we can close this ticket!

[2017-10-23 21:04] #5556 closed, assigned to nobody

[2017-10-23 21:15] lemoness commented on #9221
Okay! In that case, should I edit this ticket to make it about fixing the
check-in functionality, or close it and make a new one?

On Sat, Oct 21, 2017 at 4:21 AM, Alys <notifications@github.com> wrote:

[2017-10-23 21:15] rkojima commented on #9217
I think this is a side bug, but it seems that whenever I click the unallocated points notification and exit the modal without allocating points, clicking on the notification will not take me to the modal again. If I navigate away from the current page by clicking any of the nav-links at the top, or refresh the page, clicking on the notification will let me go to the modal page.

[2017-10-23 21:17] lemoness commented on #6540
I think Challenge leaders and Guild leaders should still be allowed to opt-out of the PM system. Not all Guilds and Challenges require asking the leader questions, and some people may find the PM system very invasive. If they'd like to avoid it, I think that's fine. For that reason, I'm closing this ticket, though people can continue to comment on it if they disagree with me.

[2017-10-23 21:17] #6540 closed, assigned to nobody

[2017-10-23 21:18] lemoness commented on #5551
Agreed with both points. I'm closing this ticket.

[2017-10-23 21:18] #5551 closed, assigned to nobody

[2017-10-23 21:20] lemoness commented on #3730
De-equip buttons will be coming back, but we need to finalize their designs before making a new ticket, so I'm closing this for now.

[2017-10-23 21:20] #3730 closed, assigned to nobody

[2017-10-23 21:22] lemoness commented on #7123
We definitely still want this feature. I'm adding it to the list of things that need a design and updating the label accordingly.

[2017-10-23 21:23] librarianmage commented on #3730
@lemoness Maybe instead the issue should be labeled on hold: needs designs?
On Mon, Oct 23, 2017 at 4:20 PM lemoness <notifications@github.com> wrote:

[2017-10-23 21:27] lemoness commented on #7725
I've updated the labels on this issue.

[2017-10-23 21:28] lemoness commented on #8478
@SabreCat What's the status on this?

[2017-10-23 21:28] lemoness commented on #8004
I've updated the labels on this issue.

[2017-10-23 21:30] lemoness commented on #8718
I've updated the labels on this issue.

[2017-10-23 21:30] lemoness commented on #8721
I've updated the labels on this issue.

[2017-10-23 21:31] lemoness commented on #8721
@alys Do any of the descriptions in the original post need to be updated?

[2017-10-23 21:32] lemoness commented on #8442
I've updated the labels on this issue.

[2017-10-23 21:32] #7539 closed, assigned to nobody

[2017-10-23 21:34] lemoness commented on #7991
I've updated the labels.

[2017-10-23 21:39] lemoness commented on #7431
I don't believe this is an issue anymore, but we can reopen it if it is!

[2017-10-23 21:40] lemoness commented on #8612
I've updated the labels on this issue!

[2017-10-23 21:43] lemoness commented on #3730
No, since most of this is out-of-date, I'd rather make a new ticket when we have the specifics!

[2017-10-23 23:04] megan-starr9 commented on #7991
Sorry!! I meant to respond the other day - that’s fine though! I’m familiar with angular, not vue, so the change in platform slowed me down some.

[2017-10-23 23:26] lemoness commented on #9185
This happened in the Tavern, so if you are unable to replicate it, there's a possibility that it was fixed by a separate deploy. Can anyone else replicate it?

[2017-10-24 01:27] lemoness opened #9258 "Assorted Issues in Internet Explorer 11"
The site currently isn't optimized for Internet Explorer 11, and so users have reported the following issues that need to be fixed:

- [x] I'm unable to edit my profile.
- [x] Lots of problems in IE. The members of my party do not show on the top bar. I cannot backspace to delete characters in this chat window.
- [x] I created a Daily and when I finished, my profile opened. (Checking that Daily di

[2017-10-24 02:19] TigMonkey commented on #4221
I solved this error. Follow the progress.
Facebook Log in -> Settings -> Apps -> Logged in with Facebook -> Delete Your apps.
After deleting your apps, Try to login with Facebook button.

[2017-10-24 05:11] Alys commented on #9250
Ah, interesting! Almost certainly the same problem.

When you have never owned a quest scroll, your account's list of owned scrolls has no mention at all of that type of scroll. When you own 1 scroll, your account's list contains that scroll type with a value of 1 (unsurprisingly). When you use that scroll, your list contains that scroll type with a value of 0 (i.e., the scroll type is still inclu

[2017-10-24 05:41] pcvonz commented on #8824
Hey, I'd like to help out with this. I'll dig into it a little tonight.

[2017-10-24 09:28] borisabramovich86 commented on #9179
Hey,
I am working on this, and while I understand the flow in general, I can't seem to pinpoint the issue.
If you could provide me with some hints, I would really appreciate it :)
Mainly, the flow of how the items shown in the market are loaded.
Thanks!

[2017-10-24 11:11] Alys commented on #9249
Other messages that disappear too quickly and that could be considered along with the password message:
- the message you see when you've tried to post a swearword to the Tavern (https://github.com/HabitRPG/habitica/pull/9253#issuecomment-338515399 )

[2017-10-24 11:16] Alys commented on #8368
From the Report a Bug guild by nickd (d5807fc1-af1d-49c1-94ec-5a613c18b18c):
"A very minor inconsistency between the way gold is displayed in the Android App and the website. I don't think it matters, but thought I'd point it out just in case.I have 79.51924409624348 gold. The website says 79.51, presumably just displaying the first two characters after the decimal point. The android app says 79.5

[2017-10-24 12:56] majestic-owl448 commented on #8368
Rigth now the value is floored as an integer (79). This since a couple of days after the removal of the silver coins (as first update there was a decimal value for gold like on the website)

[2017-10-24 14:23] #9180 closed, assigned to nobody

[2017-10-24 16:32] SabreCat commented on #8478
Ah, looks like the PR got abandoned but the status on the ticket wasn't changed. Updated!

[2017-10-24 17:29] mitten commented on #9128
I've read through this ticket, and the similar one at [#9223](https://github.com/HabitRPG/habitica/issues/9223), and I think my issue is more like this one.

I am seeing the "missing emoji" problem, but it's a little more complex. When I put certain emojis in on their own, like "unicorn" or "fox face", they do not appear. However, when I put them **directly** next to another emoji, they do appear.

[2017-10-24 17:32] paglias commented on #8743
No, it can still happen. For reference, the solution is to make sure the google popup always redirect to the login page

[2017-10-24 17:47] TNychka commented on #8782
@Alys createTask only validates that it is a number, not that it is an int.
task.js line 226
```  everyX: {type: Number, default: 1}, // e.g. once every X weeks```
should be fixed just by changing it to
[code]
There might be a cleaner way to accomplish that. Idk what effect this will have on existing non-int values in the database. I am willing to work on this task.

[2017-10-24 19:16] TNychka commented on #9256
@paglias Willing to take a look at this.

[2017-10-24 19:46] mitten commented on #9223
I commented more extensively over in [#9128](https://github.com/HabitRPG/habitica/issues/9128), but thought I'd cross-reference the gist of it here, in case it's related.

The tldr; is that some emoji which do not appear properly when typed by themselves magically appear when typed directly next to another emoji. This makes me think it's not a library problem, but something else. I posted a set of

[2017-10-24 20:29] SimplyComplexable commented on #9228
Is there a way I can add a mystery item to my inventory?

[2017-10-24 22:03] lemoness commented on #9256
@TNychka Thank you very much! Let us know if you have any questions.

I've updated the labels on this ticket.

[2017-10-24 22:05] lemoness commented on #8743
I've updated the labels on this issue.

[2017-10-24 22:07] lemoness commented on #8917
I've updated the labels on this issue.

[2017-10-24 22:13] lemoness commented on #9132
@rholinshead Thank you very much for working on this issue! I'm tagging our designer @tressley who can help you come up with a good UX solution.

I've updated the labels on this ticket.

[2017-10-24 22:14] lemoness commented on #9244
@jyotman Sorry for the delay! We'd love to have you work on this ticket. I'll leave your more technical questions for one of our devs.

I've updated the labels on this issue.

[2017-10-24 22:18] lemoness commented on #8540
@tressley you may want to take a look at this.

I'm updating the labels on this issue.

[2017-10-24 22:19] lemoness commented on #8488
I haven't seen this issue since the redesign, so I'm closing this ticket!

[2017-10-24 22:19] #8488 closed, assigned to nobody

[2017-10-24 22:20] lemoness commented on #8500
@Alys @sabrecat Was this tasks sorting issue already resolved, or is it the one that we're currently working on?

[2017-10-24 22:21] lemoness commented on #8620
I'm updating the labels on this issue.

@LunarGem Thanks for tackling this!

[2017-10-24 22:22] lemoness commented on #8070
Is this something that we still want @paglias? If not, I'll close this ticket.

[2017-10-24 22:24] lemoness commented on #9107
@TNychka Thanks for tackling this!

I've updated the labels on this issue.

[2017-10-24 22:26] TNychka commented on #9107
@lemoness no problem, but I will need Destan53's user.preferences.allocationMode before I can proceed further.

[2017-10-24 22:33] lemoness commented on #8824
@pcvonz  Thank you very much! Let us know if you have any questions.

I've updated the labels on this issue.