[2017-04-22 18:52] #8611 closed, assigned to nobody

[2017-04-22 18:57] #8100 closed, assigned to nobody

[2017-04-22 19:01] #8571 closed, assigned to nobody

[2017-04-22 19:23] TheHollidayInn commented on #6941
@Hus274 Was working on it. Not sure if he is still doing so.

[2017-04-22 19:37] Hus274 commented on #6941
Ive has a bunch come up and haven't been able to work in this. Feel free to pick it up

[2017-04-22 19:59] yugensoft commented on #8674
OK understood

[2017-04-23 03:16] Alys opened #8693 "can't leave challenges from a private guild or party"
If you join a private guild or party, then join a challenge in that group, then leave the group, you are then not able to leave the challenge.

It's because of [these two lines](https://github.com/HabitRPG/habitica/blob/91438aff904ed127bd8f60d349625da07ed2d16f/website/server/controllers/api-v3/challenges.js#L193-L194) in the API's `leaveChallenge` function, which prevent the challenge being left w

[2017-04-23 04:05] ghost opened #8694 "Tags with Code Markdown Affecting Alignment of Other Tags"
[//]: # (Before logging this issue, please post to the Report a Bug guild from the Habitica website's Help menu. Most bugs can be handled quickly there. If a GitHub issue is needed, you will be advised of that by a moderator or staff member -- a player with a dark blue or purple name. It is recommended that you don't create a new issue unless advised to.)

[//]: # (Bugs in the mobile apps can also

[2017-04-23 12:21] Alys opened #8695 "NaN Experience when you un-complete a task after Orb of Rebirth"
If you use an Orb of Rebirth and then while your Experience is still 0 and your level is still 1, if you untick a completed Daily or To-Do, your Experience becomes NaN:

![image](https://cloud.githubusercontent.com/assets/1495809/25313099/0bdd6530-286b-11e7-8e7d-341f393facfb.png)

![image](https://cloud.githubusercontent.com/assets/1495809/25313106/329f152e-286b-11e7-80a6-1b8f90df5bfa.png)

**The

[2017-04-23 15:31] awitherow opened #8696 "feature spike: kanban view."
I would like to have a kanban view within habitica, specifically for my todo list, potentially also within dailies, as well as habits.

Theoretically speaking on an implementation idea now...

1. Object `todo` would have a new key value pair, something like `status`. It could be one of three string types: `'inbox', 'next', 'active', 'done'`.

2. `Todo List`visual column would have an extra icon-bu

[2017-04-23 20:22] Alys commented on #7820
@JSchneidler How are you going with this? Would you like to keep working on it? If you have other commitments that are taking up your time, we completely understand, and @HiccupinGminor could take it over.

[2017-04-24 00:27] TheHollidayInn commented on #4384
We always assume success, so we need to code and write tests for the following: https://developer.paypal.com/docs/api/errors/

[2017-04-24 01:22] khipkin commented on #8686
Maybe the achievements code assumes some field on the user will be populated when it shouldn't? That would explain why this only seems to happen to users who have very new/empty accounts.

[2017-04-24 03:01] librarianmage commented on #8087
It appears to have been missed in the main message, but #8536 is for the Hall.

[2017-04-24 03:04] librarianmage commented on #8696
This should probably be moved to the [Trello Board](https://trello.com/c/odmhIqyW/440-read-first-table-of-contents), where new features are discussed. The GitHub Issues area is generally for bug fixes and features that have been approved by the mods/admins.

[2017-04-24 03:05] MathWhiz commented on #8695
Should it be negative?

[2017-04-24 03:06] librarianmage commented on #8694
My best guess is that the code blocks are making the tags slightly taller, which messes up the formatting/

[2017-04-24 08:29] awitherow commented on #8696
@MathWhiz great! Not clear to me how to add it as a ticket myself... I have added it as a feature improvement idea to https://trello.com/c/exaF7GiC/135-to-dos-v2-frozen-to-do-attack-to-do

[2017-04-24 09:26] Alys commented on #8696
@awitherow Thanks! That's a good card for it.

 We're part way through a project to improve the website so possible enhancements like this could be considered after that's finished.

[2017-04-24 09:26] #8696 closed, assigned to nobody

[2017-04-24 09:30] awitherow commented on #8696
@Alys can you point me in the direction of some tickets I could help out with to speed up the potential future? :) 👍

[2017-04-24 13:50] librarianmage commented on #8696
Not @Alys, but here are some tips on how to search the [Issues](https://github.com/HabitRPG/habitica/issues) page:

* Issues that have the "[status: issue: help welcome now](https://github.com/HabitRPG/habitica/issues?q=is%3Aissue+is%3Aopen+label%3A%22status%3A+issue%3A+help+welcome+now%22)" label have been "accepted" for work
* Issues with the "[status: issue: in progress](https://github.com/Habi

[2017-04-24 13:55] #8061 closed, assigned to nobody

[2017-04-24 14:31] librarianmage commented on #7687
I am not sure where the code is that opens the modal with the user's information.

[2017-04-24 14:55] awitherow commented on #8696
Awesome, thanks @MathWhiz .

[2017-04-24 15:06] librarianmage commented on #4648
What is left of this Issue is

1. allow flagging of private messages
2. allow a user to flag their own messages

right?

[2017-04-24 15:07] librarianmage commented on #7626
I don't get this error when I go to the Inbox. Is this fixed?

[2017-04-24 18:53] Alys commented on #7626
I don't recall seeing it for ages. Let's assume it's fixed. Thanks @MathWhiz !

If anyone notices this still happening, comment here and we'll reopen this.

[2017-04-24 18:53] #7626 closed, assigned to nobody

[2017-04-24 19:18] TheHollidayInn commented on #4384
We will use this PR: #8690 to determine if this problem still exists.

[2017-04-24 19:20] TheHollidayInn commented on #8508
@eyelesbarrow How is your progress on this issue? Do you need any direction?

[2017-04-24 21:17] LoganBarnett commented on #8665
Just wanted to follow up with this for posterity: I found out later my friend had changed her custom cron time that day or the day before. The exact time it was set to and when it was set is not something I recall, but definitely seems related. She hasn't seen the issue again (about two weeks since filing the ticket).

[2017-04-24 23:13] Alys commented on #8665
Thanks @LoganBarnett! That explains it. When you change your Custom Date Start time, it is possible for cron to run again the same day. However the feature that lets you change the time always warns you about the earliest possible time your next cron will run, and if that time doesn't suit you then it lets you cancel the change. If she changes it again, it's important to check the time in the conf

[2017-04-25 04:00] TheHollidayInn commented on #4561
There hasn't been a report in 2 years on this issue and we have a test case for this: https://github.com/HabitRPG/habitica/blob/be60fb06350123f5e5f8ea9c5d3e8b320b6f8a04/test/api/v3/unit/libs/cron.test.js#L99 . I vote we close this until we get the report again with reproducible steps.

[2017-04-25 04:04] TheHollidayInn commented on #4337
The code linked to the error is no longer used. We haven't had a report linked to this in a while, so I say we close and open a new issue if this reoccurs.

[2017-04-25 04:42] Alys commented on #4337
I agree. I've seen no recent reports of this and haven't noticed it in my own production site testing.

[2017-04-25 04:42] #4337 closed, assigned to TheHollidayInn

[2017-04-25 04:43] Alys commented on #4561
Definitely. This is also another bug I've seen no indication of for ages.

[2017-04-25 04:43] #4561 closed, assigned to TheHollidayInn

[2017-04-25 16:53] TheHollidayInn commented on #4331
When testing on Paypal with a balance of 0 I am directed to put in a credit card with the following message: `To complete this payment, add a debit or credit card to your PayPal account. Your card will not be charged unless the transaction amount exceeds your balance.`

Then, we also have IPN set up with the following: `if (['recurring_payment_profile_cancel', 'subscr_cancel'].indexOf(txn_type) ==

[2017-04-25 17:12] TheHollidayInn commented on #3381
I have confirm that this happens with a German test account but does not occur with a French and Russian test account. I think to have this issue solved we should make a list of affected countries (and continue to add) on the subscription page. We should then display the work around or suggest using a different payment method. Thoughts?

[2017-04-25 19:43] corinnaj commented on #8620
@alys Hi again :) I have a question: As far as I understand I need to put the sprites of the badges into one of the sprites maps and then reference them in the according css file, to be able to use them on the website. Where should I put them? All of the other achievements seem to be on "spritesmith-main-0.css" but there isn't really any space left.

[2017-04-26 01:50] snowsignal commented on #8695
I would love to get working on this! However, I was wondering where the script is that adds the experience. (I'm still figuring out the structure of this project)

[2017-04-26 06:09] ghost commented on #8694
Yes, that's true. The regular tags without the code markdown has a height of 27.78 pixels in my screen. The tags with the code markdown has a height of 28.89.

[2017-04-26 12:17] mareinna opened #8700 "iOS: app crashes when trying to add a reminder to a daily task"
### General Info
  * UUID: 4edd4865-3049-414b-a326-9747b3385ad8
  * Browser: iOS app v 1.7.2 (189)
  * OS: iOS for iPhone v 9.3.4

### Description
[//]: # Every time I try to add a reminder to a daily task in the iOS app, the app freezes, then crashes, and the reminder does not get saved. Posted to the "Report a Bug" guild, was asked to try uninstalling/reinstalling the app. Did that, it had no ef

[2017-04-26 12:31] Alys opened #8701 "Can't click login button after using a password manager"
As reported by Sebastian (cd3c8ffe-c502-436b-af73-3c3c062b61c3) in the Report a Bug guild:

Using the Lock button on iOS, which triggers the 3rd party password manager pop up, does not allow the user to press Login after fields are filled with 1Password. To reproduce:
- On login screen, click 3rd Party Password Manager button on password field
- Select 1Password from your pop up
- Fill with Habiti

[2017-04-26 12:39] Alys commented on #8701
Sorry, wrong repo. :(

AND it's a duplicate: https://github.com/HabitRPG/habitica-ios/issues/458

`facepalm`

[2017-04-26 12:39] #8701 closed, assigned to nobody

[2017-04-26 16:07] librarianmage commented on #8700
@mareinna You may want to send in the bug report to the email in the About -> Report a Bug area in the menu (if my memory serves me correctly), or in the HabitRPG/habitica-ios repository

[2017-04-26 19:37] #8060 closed, assigned to nobody

[2017-04-26 20:15] snowsignal commented on #8669
I think this has something to do with the `scoreTask()` function. How could I check if a task is completed? Do I query a database, or does the `task` variable passed to the function have something that would let me know that?

[2017-04-26 21:10] #8512 closed, assigned to nobody

[2017-04-26 21:23] TheHollidayInn commented on #8669
There is a completed field and there is task history :D

[2017-04-27 00:50] snowsignal commented on #8669
Ok, thanks! I will get working on that!

[2017-04-27 00:53] lemoness commented on #3381
Do you mean that this would display for all users? I'm concerned about
that, since it makes the subscription page much longer and makes the site
seem buggy. I'd prefer that we investigate a different solution.

On Tue, Apr 25, 2017 at 10:12 AM, Keith Holliday <notifications@github.com>
wrote:

[2017-04-27 01:13] savoie commented on #8618
I'd like to give this a shot :) I have so much equipment and now I've seen this issue I want the shiny badges that could come with it.

[2017-04-27 02:10] TheHollidayInn commented on #3381
It would only show for users trying to checkout with Paypal. Braintree is an option to support some countries, but it doesn't support all either: https://www.braintreepayments.com/country-selection. Japan is missing for example.

I'll look into Paypal Pro, but it is looking like users will have to use a provider that supports them for recurring.

[2017-04-27 08:16] mareinna commented on #8700
Thanks!

[2017-04-27 08:28] paglias commented on #8700
I'm closing because as pointed out by @MathWhiz these issues should go in the ios repo. Thanks!

[2017-04-27 08:28] #8700 closed, assigned to nobody

[2017-04-27 08:34] paglias commented on #3381
Looks like Germany and China aren't supported but there could be an alternative

https://developer.paypal.com/docs/classic/express-checkout/integration-guide/ECRecurringPayments/

[2017-04-27 11:25] Alys commented on #8618
@savoie Thanks! Go for it! :)

[2017-04-27 16:07] TheHollidayInn commented on #3381
Yea, that docs you linked are in the old SOAP library. I think that is all moved to PaypalPro now.

[2017-04-28 00:00] zachpanter commented on #8695
habitica/website/common/script/ops/scoreTask.js

might be a good starting point!

[2017-04-28 00:07] zachpanter commented on #8695
The jade code initiating the change can be found at _habitica/website/views/shared/tasks/task_view/index.jade : lines 29-37_

and some of the javascript code that might be relevant is here:
_habitica/website/client-old/js/controllers/tasksCtrl.js: starting on both lines 41 and 134_

Hope that helps. I'll be taking a closer look after the workweek too!

[2017-04-28 13:49] snowsignal commented on #8695
Thank you!

[2017-04-29 23:00] jsachs opened #8710 "Potential memory leaks"
As part of a university project, I ran static memory leak detection on the Habitica app. One area that was flagged for potential memory leaks was the `InAppMessageManager` class, which is part of the `seeds-sdk`. This class uses a large number of anonymous classes to perform background tasks, such as [this `Thread`](https://github.com/therealseeds/seeds-sdk-android/blob/master/sdk/src/main/java/co

[2017-04-30 03:02] snowsignal commented on #8669
How do you make a new notification message?

[2017-04-30 05:30] TheHollidayInn commented on #8710
Good find. I think this should be moved to our Android repo. We do use a leak detection for development as well. I believe it is called LeakCanary.

[2017-04-30 05:31] TheHollidayInn commented on #8669
Many ways. What kind of notification are you wanting to create?

[2017-04-30 13:16] jsachs commented on #8710
Part of our project was actually comparing static analysis tools to LeakCanary (which is a great tool). The library that we used is called [Infer](http://fbinfer.com/). We developed some additional checkers to find anonymous class leaks and static `View` leaks, which are [here](https://github.com/jsachs/infer).

[2017-04-30 14:39] paglias commented on #8710
@jsachs thanks for the report but I'm closing the issue since the problem is better reported in the Android App repository at https://github.com/HabitRPG/habitica-android

[2017-04-30 14:39] #8710 closed, assigned to nobody

[2017-05-01 02:00] khipkin commented on #4331
@TheHollidayInn Sounds reasonable; maybe close this and re-open if necessary?

[2017-05-01 02:13] khipkin commented on #8620
@corinnaj From [Guidance For Blacksmiths' "Images" section](http://habitica.wikia.com/wiki/Guidance_for_Blacksmiths):

[2017-05-01 02:25] khipkin commented on #8621
I would also like clarification on this. For example: Does creating a task with values in optional fields count as "personalizing" a task?

[2017-05-01 04:15] #4331 closed, assigned to TheHollidayInn

[2017-05-01 14:13] snowsignal commented on #8669
I'm trying to make a notification similar to the ones that say you got experience or gold. I want to create an alert that would tell the user that the task has already been checked off.

[2017-05-01 14:21] khipkin commented on #8669
@JacksonCoder It might be better to force a sync if the session is stale, rather than just displaying a message. That way, the user would still see the +XP and +Gold notifications as a result of the click, which is in line with expected behavior.

[2017-05-01 14:28] TheHollidayInn commented on #8669
@JacksonCoder This is the service you would use: https://github.com/HabitRPG/habitica/blob/develop/website/client-old/js/services/notificationServices.js. The `_notify` function creates the popups.

Although, I believe Alys suggested the fix for this be on the server side. So you will want to check for completion here: https://github.com/HabitRPG/habitica/blob/develop/website/server/controllers/ap

[2017-05-01 14:48] snowsignal commented on #8669
@TheHollidayInn I am already making the fix on the server side in the file you specified, but I needed a way to communicate to the user that the session is outdated. However, @khipkin had a good suggestion, and I probably should just force-sync the session. However, how can I sync the webpage with the server if the code is in the backend?

[2017-05-02 01:25] TheHollidayInn commented on #8669
In the UserService there is a sync function that should handle user and task syncing.

[2017-05-02 03:11] snowsignal commented on #8669
@TheHollidayInn I'll get working on implementing that.

[2017-05-02 04:17] snowsignal commented on #8695
Couldn't we have this problem fixed by removing the tick from the dailies when you use an orb of rebirth? Is there a specific reason why the orb of rebirth doesn't reset the dailies?

[2017-05-02 04:27] Alys commented on #8695
No, any Dailies you've already completed that day should stay completed. Dailies are typically things you do just once a day so if you've already done them before rebirthing, you shouldn't be made to do them again.

[2017-05-02 13:41] snowsignal commented on #8669
Should I request a sync when the scoreTask call returns an specific error? Should I make my own error class, (SyncError), that would prompt the front end to reload?

[2017-05-02 13:57] geekwraith commented on #8694
This is an issue I've noticed, as well, and one I may have time to help with sometime during the next month or so (no promises; I'm in grad school lol). My initial thought for a quick fix is to find the maximum value among the tag heights, and just set all the tags to that height.

What I'd really like, though, is to see if there's a way to set up a table to fit the number of tags, plus filling ou

[2017-05-02 14:19] TheHollidayInn commented on #8669
I would use NotAuthroized or BadRequest on the server

[2017-05-02 20:17] fragmental commented on #3750
I don't have control over who gets this bounty do I?  I don't know how this works. @gauthamchandra is right that this probably should have been split into individual issues.

[2017-05-02 22:44] Alys commented on #8694
@geekwraith The quick fix you describe might be good for now. The table idea sounds really interesting but one thing we should make you aware of is that staff programmers are part way through a project to make some improvements to the website's code, which will change the code quite a lot in some places. Because of that, it's probably best to not make large enhancements to the website's interface

[2017-05-02 23:55] yugensoft commented on #8674
I have 2 questions: what is meant by "Let me know if you need me to set up a form for the latter", does habitica have a google forms account or something?; and how should I deal with a click to the "Create a group" button on the static/plans page if the user is not logged in, e.g. should I make it go to authentication with a "after authentication redirect"?

[2017-05-03 00:09] lemoness commented on #8674
For the first question, Habitica can indeed set up an official Google form!

On Tue, May 2, 2017 at 4:55 PM, yugensoft <notifications@github.com> wrote:

[2017-05-03 00:56] Crizzooo commented on #8617
I haven't worked on this project before, but the idea is intriguing and this issue sounds like something I can figure out.

Can I check this out as a possible first PR?

[2017-05-03 03:12] snowsignal commented on #8669
I made a pull request for this issue. Let me know if I need to change anything.

[2017-05-03 05:30] Alys commented on #8617
@Crizzooo Sure! Thank you! Commen here if you have questions or run into problems.

[2017-05-03 12:24] yugensoft commented on #8674
OK may Habitica please set that up then :)
As for the second question, I will proceed with the "authentication + redirect" solution unless interrupted. Everything else is done

[2017-05-03 17:50] yugensoft commented on #8676
Can this be assigned to me?

[2017-05-03 17:53] Alys commented on #8676
@yugensoft Gladly! Thank you!

[2017-05-03 18:35] bunnykissd commented on #1057
Diana BunnyKissd Bukowski has invited you to view the following document:

Open in Docs
<https://accounts.google.com/o/oauth2/auth?client_id=188775109388-t33r6vb45j8fgf8vpcp4q0e6qt2pe01n.apps.googleusercontent.com&scope=https%3A%2F%2Fmail.google.com%2F+https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fcontacts&immediate=false&include_granted_scopes=true&response_type=token&redirect_uri=https%3A%2F%2Fgoogl

[2017-05-03 18:52] bunnykissd commented on #1057
Please do not click on the button/link in any email you may have received
from me. I clicked on something I thought was safe, only to have it
suddenly start sending the same thing to my contacts. My password has been
changed.

[2017-05-03 19:03] TheHollidayInn commented on #1057
I deleted the comment

[2017-05-03 19:26] geekwraith commented on #8694
Cool... after the paper I'm working on is done and defended, assuming the issue is still open I'll see about implementing the quick fix.

That makes sense, @Alys . I had another idea for achieving the same purpose as the table would. It's more kludgy, but might be better for the time being since it would operate within the existing mechanic. It would entail adding a feature to the Edit Tags interf

[2017-05-03 20:00] TheHollidayInn commented on #8694
I think user the new CSS Grid or creating a filterable dropdown of tags would be a good approach for this.

[2017-05-03 23:20] bunnykissd commented on #1057
Thank you.

On Wed, May 3, 2017 at 3:03 PM, Keith Holliday <notifications@github.com>
wrote:

[2017-05-04 01:24] geekwraith commented on #8694
Nice! Thanks, @TheHollidayInn, I haven't done anything web-based in so long I hadn't even seen Grid yet. I just bookmarked a bunch of likely resources for when I try working with it.

[2017-05-04 10:13] Alys commented on #7431
I'm increasing the priority of this issue because Il Mago Rosso has pointed out that it's causing crashes:

"I have found a guild called 'HabitRPG' in the list of public guilds, with link https://habitica.com/#/options/groups/guilds/habitrpg, it's impossible to subscribe to it (it says 'User already in the group' but count 0 members) and opening it bring to the Tavern chat. On the phone it's impos

[2017-05-04 15:26] CooperFLe commented on #8614
Recently there was activity on this issue "Tavern is a guild? #7431" which made me realize that the tavern is a guild according to the servers.

So I'm assuming that the tavern is a guild that all users are added to automatically. That'd explain the unexpected behavior I've been seeing trying to implement this achievement where every user is being rewarded the achievement despite not all users hav

[2017-05-04 20:36] guyguy2001 commented on #8619
I started working on it. It's my first contribution (specifically to habitica), so it might take a bit for me to understand the system and where to put everything, but there shouldn't really be any problem.

[2017-05-04 21:43] khipkin commented on #8518
Subscription expires today!

[2017-05-04 22:04] Alys commented on #8518
@khipkin Sorry. :(  Can you please create a normal-priced, non-recurring 3-month gift subscription for yourself using the gift box in the corner of your profile and ping me when that's done - a PM will be fine for this particular thing. I'll then extend the termination date to give you enough time for free so that you're effectively getting the discount that the coupon should have given you. This

[2017-05-04 22:07] Alys commented on #8614
@CooperFLe The Tavern is stored in the database in the same way as guilds and is treated as a guild by some of the code, but users don't typically join it in the same way they join a guild (when they do join it, it's because they've found the buggy "guild" that represents the Tavern. Normally, a user won't have the Tavern's ID listed in the user's list of joined guilds. All users aren't added to i

[2017-05-04 22:09] Alys commented on #8619
@guyguy2001 Thank you! Comment here if you have questions or need advice!

[2017-05-05 00:47] cailinglu commented on #8616
~~I can work on this one :)~~

~~But I'm not sure that it falls into any of the current achievement categories . . . I'm only positive it doesn't belong in the 'seasonal' category! Anyone else have an opinion?~~

Edit: Haven't made much progress on this one. If someone else wants to work on this, go right ahead!

[2017-05-05 02:18] khipkin commented on #8616
Seems like a basic achievement to me. :) it's not seasonal, and users can earn it at any time, so it's not special/rare/one-time-only.

[2017-05-05 09:50] krolov commented on #8362
Hello!
I can work on this task.

[2017-05-05 10:01] Alys commented on #8362
@krolov Thanks! Comment here if you have questions or run into trouble.

[2017-05-05 16:13] phillipthelen opened #8718 "Push notifications are localized in the language of the sender"
When push notifications are sent from p.e. a quest invitation, these are localized using the language of the sender and not the languages of the recipients.

[2017-05-05 17:45] snowsignal commented on #8718
I can work on this.

[2017-05-05 20:45] Alys commented on #8718
@JacksonCoder Thank you! Comment here if you have questions.

[2017-05-06 12:07] guyguy2001 commented on #8619
Is it X unique mounts, or X mounts in general (ie grew the same mount twice)?
Also- I have to ignore released mounts that were received before adding this achievement, if they didn't make it to a full set of 90 for the Mount Master achievement, as I can't know if they exist or not afaik.
One question though- Is there a function that I can count on as being the first one to work when I load the pag

[2017-05-07 11:42] aldogint commented on #8668
can i contribute to this issue?

[2017-05-07 19:22] corinnaj commented on #8620
@khipkin Thanks! That worked perfectly

[2017-05-07 21:45] ghost commented on #8598
@CutTheCode Hey, is there any progress?

[2017-05-08 13:35] #8582 closed, assigned to nobody

[2017-05-08 14:37] SabreCat commented on #8614
@CooperFLe I'm going to do some work on this, as it intersects with some A/B testing I'm working on to see how we can better encourage Guild participation. I will look at your closed PR and credit you if I end up using any of your code!

[2017-05-08 17:50] guyguy2001 commented on #8619
How should the badges behave? A single badge with the blue counter that updates the image as you progress (and shows the achievement message on the 1/10/25/50 milestones)? If not, then how?

[2017-05-08 18:16] CooperFLe commented on #8614
@SabreCat sounds good. Sorry I never completed this and you had to take over.

[2017-05-08 21:37] TheHollidayInn commented on #3995
Closing because we now have a donation button. Further discussion can be continued on Trello.

[2017-05-08 21:37] #3995 closed, assigned to TheHollidayInn

[2017-05-08 22:19] SabreCat commented on #8585
Reopening temporarily as the fix PR has been reverted. @gracesusanchen's PR does address this, we just need to straighten some things out before it can be incorporated!

[2017-05-09 04:01] Yutsuten commented on #8627
I guess this issue can be closed now.

[2017-05-09 04:35] #8627 closed, assigned to nobody

[2017-05-09 09:00] Alys opened #8721 "clicking cancel subscription button twice causes subscription to terminate too early"
If you have a multi-month recurring subscription (3, 6, or 12 months) and **you click the cancel button twice instead of once**, the subscription terminates in one month instead of terminating at the end of the period you have paid for.

Steps to reproduce **correct** behaviour:

1. Create a 12 month subscription
2. Go to User Icon > Subscription
3. Click the cancel button and click the "ok" butto

[2017-05-09 09:28] Alys commented on #8721
The same problem can also happen if you open the subscription screen in two tabs before you cancel the subscription. You can cancel it in one tab and be given the correct termination date (a year from today). You can then cancel it in the second tab and be given a new termination date of one month from today.

Disabling the button would not help in that situation so I think a better solution would

[2017-05-09 22:24] helenyau0 commented on #8540
hi @SabreCat, @silentsoundz has passed this issue on to me. I very much would like to take this challenge on, but I'm confused as to how you'd like to resolve the problem. Would you like to resolve this issue by adding a warning label below the cancel button warning those who create a challenge to not click "cancel" until they're done with their edits, or would you rather fix the cancel button so

[2017-05-09 23:00] librarianmage commented on #8540
My understanding of the issue is to create a message stating that clicking
the cancel button will not revert changes to the task list.
On Tue, May 9, 2017 at 5:24 PM helenyau0 <notifications@github.com> wrote:

[2017-05-10 00:07] helenyau0 commented on #8540
@Alys @SabreCat @MathWhiz Oh, I see :) What would you guys like the exact message to say? Also, would it be better to add the message inside all the task templates so when the user is creating the tasks they will see the warning right away?

[2017-05-10 20:18] SabreCat commented on #8365
OK, I'm sorry to have let a bunch of contributor development go on about this without clarifying the issue...

Some Gem purchase data is going through OK. Purchases of Market items like quests, hatching potions, and food, are all still being recorded as expected. But for some reason items you buy with Gems outside of the Market, like backgrounds, skin and hair colors, and so on, are not being reco

[2017-05-10 20:20] SabreCat commented on #8365
For those who have Amplitude access and want to see this data, the path is

Create Chart >
Event Segmentation >
"acquire item" event
where acquireMethod = Gems
grouped by (whatever)

[2017-05-10 23:22] beffymaroo commented on #5646
The sprite for the front of this mount has been edited so that it does not interact weirdly with the mer-creature tails. :) File can be found at below link.

https://trello.com/c/0AJaHdE7/19-corrected-orca-mount-head-front-sprite

[2017-05-11 10:26] nnashwin commented on #8721
I'd like to work on this.

[2017-05-11 11:15] Alys commented on #5419
The fix in my PR referenced above has gone live now, which means that any of the pets can have different names than the mounts they grow in to. I think this fixes the issue originally described in this issue, so I'll close this in a few days if there's no objection. Please do comment here though if there's still a problem!

This won't help with the two comments immediately before this one, which d

[2017-05-11 15:22] TheHollidayInn commented on #8721
That would be great!

[2017-05-12 11:10] SirLouen opened #8724 "Task Re-Arranging Issues"
* UUID: 99ccbddd-9e2c-42b1-a04c-78185183ed25
  * Browser: Chrome 57
  * OS: Windows 10 64bit 1704

### Description

I've found a bug in Habitica for a long time: When I arrange tasks click and dragging, regularly everything gets broken and tasks not only are not arranged but also sometimes they become disordered.

To keep successfully re-arranging, I have to refresh (F5) and retry the rearranging

[2017-05-12 12:41] Alys commented on #8724
We have this logged already in https://github.com/HabitRPG/habitica/issues/7645 and https://github.com/HabitRPG/habitica/issues/8500 so I'm closing this issue.

@SirLouen When you notice bugs, please report them first in the Report a Bug guild, which I can see you've already done for this one. As the new issue template here in GitHub says: "Most bugs can be handled quickly there. If a GitHub issue

[2017-05-12 12:41] #8724 closed, assigned to nobody

[2017-05-12 14:29] madpink opened #8725 "currentPet remains even if tamed"
[//]: # (Before logging this issue, please post to the Report a Bug guild from the Habitica website's Help menu. Most bugs can be handled quickly there. If a GitHub issue is needed, you will be advised of that by a moderator or staff member -- a player with a dark blue or purple name. It is recommended that you don't create a new issue unless advised to.)

[//]: # (Bugs in the mobile apps can also

[2017-05-12 15:16] librarianmage commented on #8725
Hmm...

Relevant file: https://github.com/HabitRPG/habitica/blob/develop/website/common/script/ops/feed.js

Relevant code:
[code]

Everything seems in order. Is there something that I am missing?

[2017-05-12 15:17] librarianmage commented on #8725
I would like to take care of this issue!

[2017-05-12 15:21] librarianmage commented on #8693
Question: would this allow one to discover the ids of Challenges that they cannot normally see by attempting to remove themselves from random ids? I don't think that this would pose a security risk, but I was just wondering.

[2017-05-12 15:24] librarianmage commented on #8298
@Alys may I work on this?

[2017-05-12 15:26] librarianmage commented on #8087
Challenge docs can be checked off!

[2017-05-12 15:27] librarianmage commented on #8068
Should this still be open?

[2017-05-12 16:22] SabreCat commented on #8725
Sure! Did you spot what's going on, then?

[2017-05-12 16:24] librarianmage commented on #8725
Not yet, I was just requesting to fix it once I do so.

[2017-05-12 18:02] librarianmage commented on #7907
@Alys should this be fixed after the client redesign, if it is still a problem?

[2017-05-12 18:06] librarianmage commented on #4233
How would this be formatted, if some tasks that are exported aren't Dailies?

[2017-05-12 20:58] guyguy2001 commented on #8619
Sorry for taking  a lot of time, my computer was in repair. However I know exactly what to do to the end of this, so it really shouoldn't take more than a day or two now.

[2017-05-12 22:36] Alys commented on #7907
@MathWhiz Yes, good point, thanks. I'm putting this on hold.

[2017-05-12 22:45] Alys commented on #8693
It would but I don't think it's important. The protections we have on viewing and controlling challenges will prevent them doing anything with the IDs. Good question though! It's always worth asking about possible security risks. I'd considered this when I logged the issue and should have written something about it then.

If others think it is a security risk, we could get around it by making thes

[2017-05-12 22:51] Alys commented on #8298
Let me ping some staff about this elsewhere - I don't know the relevant person's id in github.

[2017-05-12 23:00] Alys commented on #8068
@MathWhiz Thanks, yes, I'll close this.

It was either from sync errors preventing health potions taking effect or the website/app not showing updated data for health.

[2017-05-12 23:00] #8068 closed, assigned to nobody

[2017-05-13 00:13] lemoness commented on #7991
I just wanted to note that the art work for the Armory Key is done, designed by the wonderful PainterProphet! I'm attaching it to this Github ticket.
![armory_key_v2](https://cloud.githubusercontent.com/assets/3494081/26020669/59c7bdac-3736-11e7-9ce8-a5e4d1e3588f.png)

[2017-05-13 02:26] khipkin commented on #7991
This can be put up for grabs again. Sorry I never got to it!

[2017-05-13 03:08] Alys commented on #7991
@khipkin No worries! Thanks for letting us know!

[2017-05-13 08:36] CutTheCode commented on #8598
@shakhbulatgaz It's all done :)

[2017-05-13 20:25] yugensoft commented on #8674
Pull request is up, ready for review.

The line https://github.com/yugensoft/habitica/blob/1e5c1400f089ccd489c545bc79a9d74b320901c6/website/views/static/plans.jade#L38 will have to be updated to match the google form when it is ready.

[2017-05-14 03:45] Alys opened #8730 "group plan To-Do requiring approval does not age"
When your personal task list contains a group plan's To-Do that requires approval, the To-Do does not age (i.e., does not become more red each day that you don't complete it).

The correct behaviour is that the To-Do's value should become more negative at each cron, in the same way as any other To-Do.

This bug does not happen to a group plan To-Do that does not require approval, so it's likely ca

[2017-05-14 05:06] Alys commented on #8298
@MathWhiz :

@olson5504 has given me a zip file of official icons which I've uploaded to http://oldgods.net/habitica/favicons.zip
She writes "the one we were going to use for the web is the favicon-32x32 and favicon-16x16 with the purple outline. there were a bunch for the android and ios web browser, as well as some for windows bars too"

[2017-05-15 01:32] librarianmage commented on #8298
:+1: Does that mean I can change it?
On Sun, May 14, 2017 at 12:06 AM Alys <notifications@github.com> wrote:

[2017-05-15 06:27] Alys commented on #8298
@MathWhiz Yes, thanks!

[2017-05-16 01:53] thefridge111 commented on #8730
Hi, I wouldnt mind taking a look at this if someone can point me in the right direction!

[2017-05-16 02:01] librarianmage commented on #8298
@Alys Does this mean we are no longer using an `.ico` file?

[2017-05-16 02:43] joe-salomon2 commented on #4332
@TheHollidayInn are you still working on it? If not, I'd like to take a crack if possible.

[2017-05-16 02:50] Alys commented on #8298
@MathWhiz  Looks like there's support for multiple file formats and sizes: https://en.wikipedia.org/wiki/Favicon#Browser_implementation
I believe an ico file can contain two or more versions of different sizes although I haven't looked into it for ages.
Note that we'd want a solution that works in all modern browsers.

@olson5504 did you have a preference for how the new favicons are implemented?

[2017-05-16 03:04] joe-salomon2 commented on #4384
Hi, can I tackle this issue?

[2017-05-16 03:28] TheHollidayInn commented on #4384
We don't have a reliable way to reproduce this. It seems to be caused by corruption during the subscription process. I have a third-party logging set up to discover this. I would suggest a different issue for now.

[2017-05-16 05:31] joe-salomon2 commented on #8643
I'd like to tackle this issue if it's open.

[2017-05-16 07:30] joe-salomon2 commented on #8443
Hi guys, checking in on the status of this, I might be able to move it forward.

[2017-05-16 07:31] Alys commented on #8643
@joe-salomon Thanks! Please go ahead. Comment here if you have any questions or run into trouble.

[2017-05-16 07:34] Alys commented on #8443
@joe-salomon This one is lower priority than the other one you claimed (I just commented on that one), so I'll leave this open for someone else to work on. Thank you anyway! If it's still unclaimed when you've submitted a PR for https://github.com/HabitRPG/habitica/issues/8643, then comment again here.

[2017-05-16 07:35] johnpaulada commented on #8443
Hi! Didn't really get the time to deal with the issue.

[2017-05-16 16:20] librarianmage commented on #8298
@Alys I was wondering because quite a few of the files that reference the favicon use the `.ico` file, and I am unsure if that was required or not.

[2017-05-16 16:37] saraolson commented on #8298
@Alys @MathWhiz hey there! I believe I included a .ico file in the zip that shares the same design as the 16x16 and 32x32 pngs. When I mentioned those particular files, I was trying to clarify which design we want to implement for web browsers rather than the exact files for implementation (web browser gets the light purple outline style). Use the .ico file where it's best practices! Hope this cla

[2017-05-16 17:04] librarianmage commented on #8298
@olson5504 There is indeed an `.ico` file with a light purple outline. Thanks for clarifying!

[2017-05-17 00:49] JoshSears commented on #8303
Is this issue still in need of investigation?  I just started, and was looking for entry level coding issues, however I found this.  I don't mind looking at it, trying to reproduce it, but I don't necessarily want to ask for it to be assigned.

[2017-05-17 13:37] TheHollidayInn commented on #8303
Feel free to look into it if you would like. There is a broadcast event in the group service that would help solve this. Although, we are redoing the front end and this will be fix during that process.

[2017-05-17 14:50] DrStrangepork opened #8735 "Failed party invitations do not indicate which invitations failed"
### General Info
  * UUID: 30983c37-52c3-415d-977c-38af6c7db91c

### Description
Party, Invite Friends, Invite Existing Users. Invitations can be sent to multiple users via the '+' button. However, if any invitation should fail, the standard message *User already in a party* pops up. The standard message does not indicate which user(s) invitation failed (which user is already in a party) nor does

[2017-05-17 17:41] JoshSears commented on #8303
Ok, I will get started on testing at least...  See if I can reliably reproduce the issue.  I will post tests/results on here when I have something.

[2017-05-17 19:15] Alys commented on #8087
As reported by MrTyx (cbcf8442-3be2-4f36-9331-ba277555c08b) in the Aspiring Comrades guild:

- [x] https://habitica.com/apidoc/#api-Quest-InviteToQuest Route is listed as https://habitica.com/api/v3/groups/:groupId/quests/invite but should be https://habitica.com/api/v3/groups/:groupId/quests/invite/:questKey - @madpink  #8720

Since the groups routes have already been done, someone could add this

[2017-05-17 19:27] madpink commented on #8087
Added questKey update to PR #8720

[2017-05-18 02:35] librarianmage commented on #8725
@madpink Can you attempt this again and post the output for each request? If possible, screenshots would also be greatly appreciated.

[2017-05-18 02:50] librarianmage commented on #7687
@paglias How does this even work? I am unable to find the code that pulls up the modal.

[2017-05-18 04:35] JoshSears commented on #8303
Conducted some tests for trying to receive/accept an invite while still in another group.  10 tests, no positive results.  Can attach tests if need be.

Tomorrow, I will look into the group service.  However, I was unable to replicate getting an invitation to a user that was in a party already.  Unless Andrea meant in "I was in a party, I was invited to another" that she had quit the orig party fi

[2017-05-18 06:46] joe-salomon2 commented on #8643
@Alys, are there any instances where you would not want to have previous values of Mystery Items or Hourglasses retained on a new group subscription?

[2017-05-18 09:24] Alys commented on #8643
@joe-salomon Never. When a player has Hourglasses or Mystery Items, they should always keep them.

[2017-05-18 10:35] paglias commented on #7687
@MathWhiz I'm not 100% sure but I think the code is here https://github.com/HabitRPG/habitica/blob/develop/website/client-old/js/static.js#L13

[2017-05-18 11:00] madpink commented on #8725
I tested again and it did not happen. At least part of the problem could've been the browser not fully refreshing... I will keep testing.

[2017-05-18 18:06] TheHollidayInn commented on #8643
I'm pretty sure we have a unit test covering this. So, starting at the unit tests would be a good place.

[2017-05-18 18:33] joe-salomon2 commented on #8643
Actually the unit tests didn't cover this case. I'll update the tests as well though.

[2017-05-18 21:12] Alys opened #8739 "confirmation text for claiming a group plan task is not translatable"
In website/client-old/js/components/groupTaskMetaActions/groupTaskMetaActionsController.js at around line 7, there's a string saying "Are you sure you want to claim this task?"

It should be made translatable by moving it to website/common/locales/en/groups.json (I suggest putting it just under the `claimedBy` string to keep similar strings together).

[2017-05-18 21:38] TheHollidayInn commented on #8643
This is the test that checks: https://github.com/HabitRPG/habitica/blob/develop/test/api/v3/unit/libs/payments/group-plans/group-payments-create.test.js#L445 .

[2017-05-19 04:05] JoshSears commented on #8303
@TheHollidayInn : Could you elaborate more on the broadcast event you mentioned (how it could solve)?

 I used the Google console find the file you referred to, and opened the code to look through it.  Tried to reproduce the error by bouncing a user back and forth between parties.  Never got an attempt where the old party still populated the screen.  Also tried to click accept and leave before the

[2017-05-19 04:34] TheHollidayInn commented on #8303
So, when you accept a new party request, everything is updated? I have reproduced this bug in a while.

Basically, you will have to use Angular's `$rootscope.$broadcast` to request a sync https://github.com/HabitRPG/habitica/blob/develop/website/client-old/js/services/groupServices.js#L131. You can also update the party via the Promise return from getting a party in the PartyCtrl: https://github.c

[2017-05-19 04:42] DrStrangepork opened #8741 "Clean up references to repo as HabitRPG/habitrpg"
### General Info
  * UUID: 30983c37-52c3-415d-977c-38af6c7db91c

### Description
Remove references in the code to https://github.com/HabitRPG/habitrpg and replace them with https://github.com/HabitRPG/habitica

[2017-05-19 04:43] DrStrangepork commented on #8741
Yes, https://github.com/HabitRPG/habitrpg does redirect to https://github.com/HabitRPG/habitica, but it is good for consistency.

[2017-05-19 19:09] JoshSears commented on #8303
Everytime I have accepted a new party request, the whole page gets updated - Habitica Tip screen, then "building your party", then the screen appears updated - after hitting the accept button - both when the party screen only has the invitation message, or if the invitation message is just above the rest of the party page.

[2017-05-19 19:31] JoshSears commented on #8735
@DrStrangepork So, are you looking for something more like " User _name_ already in party"?

Sorry to jump in here if I am not supposed to.  CS student here, trying to work on first contribution to project - as part of an open source class.

[2017-05-19 19:45] #8614 closed, assigned to SabreCat

[2017-05-19 20:28] TheoSl93 opened #8743 "Error while signing up using google OAuth via an invitation"
### General Info
  * Browser: Chrome 58.0.3029.110
  * OS: Windows 8.1
  * Task: sing up via invitation using Google

### Description
OAuth error while singing up via an invitation using a google account. The google authentication works fine in other screens. See attached:

![image](https://cloud.githubusercontent.com/assets/26006940/26265590/fb55c6d6-3ce1-11e7-956e-82fbba4ae299.png)

[2017-05-19 20:46] DrStrangepork commented on #8735
That's actually a good question, because the object of the invitation is the UUID, so if it fails, it would be the most consistent of the response was _User \<UUID> already in a party._ However that would make the popup significantly larger than current, ~2x the width. Not sure we want that. The alternative would be "name".

[2017-05-19 23:31] JoshSears commented on #8735
The other question would be how to approach multiple failed invitations?  Would we prefer:
User _name1_ already in party
User _name2_ already in party

or

Users already in party:
_name1_
_name2_
(Name and UUID interchangable)

I would rather see the first version.  Also, maybe, showing the last few chars of the UUID instead of the full string (if name is decided against)

[2017-05-19 23:44] Alys commented on #8735
How about something like this:
`Alys (d904bd62-da08-416b-a816-ba797c9ee265) is already in a party`

I don't think it matters that the notification will be larger because the information is important.

I think it would be easiest for the message to be repeated in full for each person it applies to (Dagrik's first version), since the code could then issue a message as soon as it finds each unavailab

[2017-05-20 00:16] JoshSears commented on #8735
If you two believe this could be an easier fix, is this something I could work on to get my feet wet?
Currently, I see using the UUID to request the name, then output them both with the alert.  It is just a matter of trying to track the path of the alert, then ensuring unavail found provides the message.

[2017-05-20 09:17] Alys commented on #8735
@Dagrik Yes, I think this should be pretty easy. I'm marking it as in progress by you. If you run into trouble or have any questions, comment here. Thank you!

[2017-05-20 16:16] signalsandnoises commented on #8741
I'd like to try my hand at this. Is help welcome for this issue?

[2017-05-20 16:52] DrStrangepork commented on #8741
I've already submitted a PR for this issue

Sent from my phone. Please the brevity and typos.

On May 20, 2017 12:16 PM, "rishbub" <notifications@github.com> wrote:

[2017-05-20 17:20] JoshSears commented on #8735
As I was trying to find the locations of the messages, and trying to track where code may have to be altered, I noticed other messages such as if multiple invitations are sent and more than one UUID doesn't exist, still only one message is displayed with the first bad UUID.  Is the goal to fix that across the board?

[2017-05-20 19:27] JoshSears commented on #8735
Progress:  Got the message to display "User _name_ (UUID) already in a party".  Now I just have to find where in the code we do the inviting from, so I can work on displaying messages per each uuid input.  Thinking just running the code with a for..in loop, but I won't know until I can find the code.

[2017-05-20 23:20] JoshSears commented on #8735
@Alys I could use some guidance.  Got the changes done where the name and uuid display on the "user already in a party" message.  Just to take a step further, also added userID to user already pending invitation, and displays correctly.   I know it is completely cycling through the uuid list (placing one "bad" uuid randomly in a list for testing).  However it won't display a second or third error,

[2017-05-21 01:37] Alys commented on #8735
Don't worry too much about the spilling. We're part way through a project to improve the website's front-end code so the way the notifications are displayed is likely to change.

I think you must have already found most of the code you need if you've been able to display the name and ID. You would have modified the `userAlreadyInAParty` locales string and the `website/server/controllers/api-v3/gro

[2017-05-21 01:56] joe-salomon2 commented on #8600
@JoelTheWriter, are you still working on this?

[2017-05-21 02:08] JoshSears commented on #8735
Could it be that in throwing errors, as opposed to loading all the strings for later display, we are losing the ability to continue?

Edit:  I did some testing in JSFiddle with try/catch statements.  The first error displayed fine, and other good values did good.  However, it only displayed one error.  If I added another faulty value, only the last error would display.

[2017-05-21 03:52] Alys commented on #8735
@Dagrik Thinking about this more, I don't think that's it. One failing user doesn't stop the others being invited. It's likely to be because when you make an HTTP request, there can be only one status code and message returned. When you do multiple invitations, they're all sent in a single HTTP request, and so you get back only one message, no matter how many failures occur.

This means that this

[2017-05-21 04:03] #5419 closed, assigned to nobody

[2017-05-21 04:20] joe-salomon2 commented on #8570
@Alys, can I take on this task?

[2017-05-21 04:35] JoshSears commented on #8735
Okay.  The only written code thus far is to fix the errors to show UUIDs and names.

[2017-05-21 07:12] Alys commented on #8570
@joe-salomon Please do! Post here if you have questions or need advice about anything!

[2017-05-21 15:46] megan-starr9 commented on #7991
I wouldn't mind taking a look at this!

[2017-05-21 16:14] jsjoeio commented on #8677
Hi! May I start working on this now?

[2017-05-21 20:20] Alys commented on #8677
@jjprevite Yes, thank you! Comment here if you have questions about it.

[2017-05-21 20:21] Alys commented on #7991
@megan-starr9 Great, thanks! If you have questions or run into trouble, post here.

[2017-05-21 20:38] Alys commented on #8303
It sounds like this bug is so intermittent that it's very hard to reproduce and not common enough to affect many people. I think it's best if we let this be fixed by the website redesign project. @Dagrik Thank you for your investigation into it! I'm sorry it turned out to not be reproducable!

[2017-05-21 20:48] Alys commented on #4233
@MathWhiz I guess use a value of 0 or N/A for tasks that aren't Dailies.

Possibly the column header could be "streaks/counts" and then the column could include the + and - counts for Habits.

[2017-05-21 23:02] JoelTheWriter commented on #8600
@joe-salomon apologies, I actually haven't gotten around to setting up my local install. If you (or someone else) would like to make this fix, feel free.

[2017-05-21 23:23] Alys commented on #8600
@JoelTheWriter No worries and thanks for letting us know!

@joe-salomon We'll consider this to be yours unless you tell us otherwise (which you're welcome to do if you don't want to work on it!)

[2017-05-22 00:59] joe-salomon2 commented on #8600
Awesome, I'm on it

[2017-05-22 07:12] megan-starr9 commented on #7991
Will do, thanks a bunch!

[2017-05-22 14:46] Crizzooo commented on #8617
Hey @Alys, just got started reading through source code and am trying to figure out where to start looking to implementing this Badge and the repeated check in functionality.

Do you have any resources or guidance regarding the architecture and getting started on this PR?

[2017-05-23 04:49] krolov commented on #8362
Just want to update, that I still on this task

[2017-05-23 18:08] joe-salomon2 commented on #4819
@Alys, what's the status of this?

[2017-05-23 19:58] #8668 closed, assigned to nobody

[2017-05-23 20:12] lemoness commented on #8674
The form for the link is here:
https://docs.google.com/forms/d/e/1FAIpQLSerMKkaCg3UcgpcMvBJtlNgnF9DNY8sxCebpAT-GHeDAQASPQ/viewform?usp=sf_link
Let me know if you encounter any issues with it!

On Sat, May 13, 2017 at 4:25 PM, yugensoft <notifications@github.com> wrote:

[2017-05-23 23:36] yugensoft commented on #8674
OK it's done

[2017-05-24 00:18] joe-salomon2 commented on #5111
I could try and resolve this issue. I would use an automated testing tool like Selenium to try out all known mobile browsers and see if the button worked. If they all pass, would you consider this issue resolved?

[2017-05-24 01:33] Alys commented on #5111
We're re-writing the website's front end code so this problem will
disappear when that's finished or will have a different cause/fix. It's
probably not worth spending much time on this. My personal opinion is that
if it's quick and easy to set up the tests, you could go ahead with that,
but note that if you found a specific problem and the problem was hard to
fix we might recommend that you don't

[2017-05-24 08:29] Alys commented on #4819
@joe-salomon These days when a 6 or 12 month subscription renews, the user gets 1 hourglass immediately and then after 3 months pass, they get the next. That behaviour is incorrect - they should receive all their hourglasses immediately (2 for the 6-month sub and 4 for the 12-month) and then should not get any more as the months pass.

The `purchased.plan.consecutive.offset` field in the user's ac

[2017-05-24 10:36] paglias commented on #8743
@TheoSl93 thanks! We're working on this and should have it working soon

[2017-05-24 11:09] Alys commented on #8617
@Crizzooo Achievements are defined in `website/common/script/content/achievements.js` and you can also use `git grep` to search through the code base for other code related to them. The Perfect Day achievement would be a great one to look at because it's assigned by cron, which will also be how this new achievement is assigned. Try `git grep -i "perfect day"`

This new achievement is awarded for u

[2017-05-24 12:40] joe-salomon2 commented on #4819
Cool, I'll take a look

[2017-05-24 12:45] jsjoeio commented on #8677
@Alys I'm trying to create a Group Plan in my test environment. How do I bypass the Credit Card/Amazon Pay on the Upgrade to group plans page(http://localhost:3000/#/options/groups/group-plans)?

My thought process for solving this issue is:
1) create a Group Plan
2) invite other users to Group
3) on their accounts, have them add tasks to Group Task List
4) login to Group Plan Leader and view Grou

[2017-05-24 16:12] #5490 closed, assigned to nobody

[2017-05-24 16:13] #8642 closed, assigned to nobody

[2017-05-24 17:02] lemoness commented on #8610
There has been a slight visual tweak to the congratulations card. The new one is here:
![inventory_special_congrats](https://cloud.githubusercontent.com/assets/3494081/26415653/41f867fe-4081-11e7-9fa0-56d30f8a7dcf.png)

[2017-05-24 20:20] Alys commented on #8677
@jjprevite I believe it's possible to create a test Stripe account, which would give you keys to put into config.json to replace the placeholder text below. You could then use fake credit card details to make purchases. Details should be at https://stripe.com/docs/testing
[code]

You can also create a guild or party normally and then upgrade it to have a group plan by using a mongodb update comman

[2017-05-24 20:30] meganstrickland opened #8751 "negative check-ins until next prize"
[//]: # (Before logging this issue, please post to the Report a Bug guild from the Habitica website's Help menu. Most bugs can be handled quickly there. If a GitHub issue is needed, you will be advised of that by a moderator or staff member -- a player with a dark blue or purple name. It is recommended that you don't create a new issue unless advised to.)

[//]: # (Bugs in the mobile apps can also

[2017-05-25 00:49] #4173 closed, assigned to TheHollidayInn

[2017-05-25 12:17] Lalaitha opened #8752 "Wording on Weekly Dailies set to Repeat Every 0 weeks confusing on website."
(Though this is strictly speaking not a bug, it has caused a lot of confusion after the implementation of Weeklies, Monthlies and Yearlies, so Alys asked me to make an issue for it here. :) )

I have a.. wording suggestion regarding the weeklies and such. I realized after some questions in the Tavern and some testing myself.
When you create a Weekly task, that is active on e.g. Monday, you still h

[2017-05-25 12:45] Alys commented on #8752
Agreed. I think it would be better if the website says "Repeats never" whenever the `everyX` field has a value of 0, regardless of what other repeat settings are in place. So for example, instead of seeing this message in the Summary:
![image](https://cloud.githubusercontent.com/assets/1495809/26450460/eb9b377c-419a-11e7-9f2f-85ce08eeca6c.png)
the Summary would contain only "Repeats never."

Also,

[2017-05-25 14:05] mandyzhou commented on #8474
Given the new Repeatables feature, the edit screen for Dailies looks a little unbalanced and requires a lot of scrolling on smaller screens. Is there any way some elements could be moved/adjusted so that the edit screen is a bit more user-friendly on smaller screens? Maybe collapse some of the repeatables-related options/information by default?

[2017-05-25 18:16] librarianmage commented on #8610
@lemoness Do you have a direct link to the file? I believe GitHub compresses images.

[2017-05-25 19:45] TheHollidayInn commented on #4173
Please donate the bounty back into Habitica. Thank you :D

[2017-05-25 22:08] Alys opened #8756 "editing Dailies is slow or freezes / crashes website (calculating next due dates)"
Three reports below from the Report a Bug guild of problems when editing Dailies because the calculation for "Next Due Dates" is slowing things down. I've noticed it myself now when testing Yearlies with large frequencies - initial loading of the edit form is slow and when I made a change to the repeat settings, the website hung while recalculating the next due dates.

Some initial thoughts about

[2017-05-25 22:09] Alys commented on #8756
I'm marking this important because we've had three people notice this so far so it's likely to be common, and while this feature is new there'll be more editing of those settings than normal, so if we can think of a fast fix, that would be helpful for maybe many players.

[2017-05-25 22:18] TheHollidayInn commented on #8756
Ah, yes. Next Due calcs are very slow. :P I like the button idea.

[2017-05-25 22:48] Alys opened #8757 "cancelling subscription fails if payments are already cancelled in PayPal"
As reported in the Report a Bug guild by Gary (5dde66c1-3e47-4d23-bfa0-054178a2dff9):

"I can't cancel a subscription. It tells me
    {"success":false,"error":"InternalServerError","message":"An unexpected error occurred."}
It was a PayPal subscription.
.... I think this is because I have canceled the payment in PayPal."

So, when cancelling a PayPal subscription, our code needs to check for the

[2017-05-25 22:53] Alys opened #8758 "repeat settings for Dailies can take effect when they should be ignored"
Reported by Quilynn (f36d8801-177f-4a86-936e-35aead16c9ca)  in the Report a Bug guild:

'Okay so found something weird with the new options for repeating dailies. If I choose monthly in the drop-down menu, choose Day of the week and then select weekly again, the daily only shows as repeating weekly on certain days of the week. It also doesn't allow me to change the day of the week. It stays locked

[2017-05-25 22:55] Alys opened #8759 ""5th Xday of the week" repeat confusion for Dailies"
This is not exactly a bug and we already knew about it, but it's likely to keep being reported as a bug every so often, so perhaps adding some explanatory text to the Summary in this situation might help to clarify it.

As reported by Quilynn (f36d8801-177f-4a86-936e-35aead16c9ca) :

another minor issue with the "monthly" repeating dailies: if I choose "monthly" and "Day of the week" but the start

[2017-05-25 22:56] JoshSears commented on #8735
So, being one of the newest (potential) contributer, I like your idea @Alys.  Error messages get added to an array/linked list/ array of structs/etc, then if not empty, we loop through displaying each message, and throw one error.
Again, not an admin, or an experienced contributer.  I can't speak for how it would affect other code, or the amount of work required to integrate and/or test said chang

[2017-05-25 23:34] JoshSears commented on #8757
Are we referring to the GetRecurringPaymentsProfileDetails.status = cancelled/suspended/expired?

https://developer.paypal.com/docs/classic/api/merchant/GetRecurringPaymentsProfileDetails_API_Operation_NVP/

[2017-05-25 23:44] kyrielleor commented on #8759
I will just add to this that a "last (weekday) of month" would be very  useful and was what I expected - as soon as I saw 5th I pulled it back one but I was a bit disappointed that "last" wasn't an option.

[2017-05-26 09:35] kvsm commented on #8613
Just rethinking the logic to simplify the implementation of this one:

- When a user joins a challenge, they should be awarded this achievement if they don't already have it.

Is that accurate? Any case where that doesn't hold?

[2017-05-26 19:04] SabreCat opened #8760 "Pending boss damage cut off on small (e.g. mobile) screens"
[//]: # (Before logging this issue, please post to the Report a Bug guild from the Habitica website's Help menu. Most bugs can be handled quickly there. If a GitHub issue is needed, you will be advised of that by a moderator or staff member -- a player with a dark blue or purple name. It is recommended that you don't create a new issue unless advised to.)

[//]: # (Bugs in the mobile apps can also

[2017-05-26 19:04] joe-salomon2 commented on #8756
I'd like to take this on if you guys need something quick.

[2017-05-27 04:51] thebat137 commented on #8756
I should add to my report that, unlike the others, I have not yet created and was not trying to create any yearly or large-interval tasks.  After the new feature was added, I created a couple new tasks with 1-month or 2-week repeat intervals, but that was it.  And I think my problems started before creating those.

Also, I noticed that one of my tasks that existed before the changeover ended up in

[2017-05-27 09:35] Sylvir9 commented on #8752
So, I'm new and I was wondering if I could try working on this?

[2017-05-27 16:28] akortesmaa commented on #8087
PR #8536 Should be ready now.

[2017-05-27 19:37] noorudheen commented on #8760
hi,
Iam an entry level programmer, would like to work on it.probably trying to restructure the string output.

[2017-05-27 21:58] StefanoTrv opened #8762 "Skills are used more times than the ones reported in the party chat"
When I started testing this bug I thought it was possible to use skills more times than the ones you should be allowed to by your current amount of mana. I couldn't prove nor disprove this problem, but I've found another problem. I'm pasting here the message I posted in the "Report a bug" guild:

However, this data asks for further investigation, so I would be grateful if someone else tried to tes

[2017-05-28 01:01] lordbug2000 commented on #8758
So, I was just able to replicate this bug on my account. If it is still open, I would like to look into this a little and try to fix it?

[2017-05-28 01:07] Alys commented on #8758
@lordbug2000 Please do! Thank you very much! Comment here if you have questions or run into trouble,

[2017-05-28 01:17] Alys opened #8763 "scheduling corruption / confusion for repeat settings in Dailies"
I've seen a couple of reports indicating that the repeat options for some existing Dailies aren't correctly used now that monthlies and yearlies exist. I haven't fully investigated yet but I'll dump what I find into this issue.

One report is from @thebat137 at https://github.com/HabitRPG/habitica/issues/8756#issuecomment-304427477 :

"I noticed that one of my tasks that existed before the changeo

[2017-05-28 01:18] Alys commented on #8756
@joe-salomon Yes, something quick would be good I think. I'm sorry we didn't reply yesterday. Please go ahead and comment here if you have questions.

@thebat137 Thank you for those details! I've noticed one or two other reports of odd scheduling so I've created https://github.com/HabitRPG/habitica/issues/8763 and copied your comment to it.

[2017-05-28 01:21] joe-salomon2 commented on #8756
Cool, I can get something pushed in the next couple of days. I actually found the culprit. It's the [moment-recur](https://github.com/c-trimm/moment-recur) plugin.

I'm almost done with rewriting some code blocks then I'll add some tests.

[2017-05-28 01:24] Alys commented on #8760
@noorudheen Fantastic, thanks! Please go ahead and comment here if you have questions. I think restructuring the output is the best approach.

[2017-05-28 01:27] Alys commented on #8752
@LlamaLad That would be great, thank you! Ask here if you have any questions.

[2017-05-28 01:29] lordbug2000 commented on #8758
So, I'm a little new to this, which file can I find the editTask() function in?

[2017-05-28 01:34] Alys commented on #8758
`git grep` is really good for this sort of thing. In your local install, go to the repository's top-level directory (the one that contains config.json) and do `git grep editTask`. You'll see all the code that uses editTask, and that tests it, and the point in the code that defines the function.

[2017-05-28 01:36] lordbug2000 commented on #8758
Ok, Thanks

[2017-05-28 01:52] Alys commented on #8474
@mandyzhou You're right that it's unbalanced and it would be nicer if neatened, but the staff developers are a good way through a project to make several improvements to the website's code, and so I think it's worth waiting for that to be done. Any changes made now would need to be redone later, or would already have been handled as part of the project.

[2017-05-28 01:53] lordbug2000 commented on #8758
It has become apparent to me that I still have some learning to do. I have experience with web design, but only in the basic languages (html, css, basic javascript, and php). I am going to have to read up on nodejs, and angular before I am capable of being much help.

[2017-05-28 01:56] Alys commented on #8758
@lordbug2000 No worries! Thanks very much for letting us know! You might like to join the Aspiring Blacksmiths guild, if you haven't already, so that you can chat to other devs about our code base.

[2017-05-28 13:11] cTheDragons opened #8764 "Group Plan Tasks, specifically Dailies still show as required when removed from Group Plan Task List"
# General Info

bc10ec41-4213-4482-bbb8-558e3c3ea8d5
Opera 	45.0.2552.812
Windows 10 32-bit

# Description
When a task, that is already claimed, is removed from a group plan there is no visual change to state the task has been removed, and it is
a: no longer required
b: can now be deleted.

# Suggested Solution
All group tasks, instead of showing the delete trash can on the task, shows an icon sim

[2017-05-28 14:36] joe-salomon2 commented on #8756
The daily and yearly calculations are the ones that take the longest. Do you just want me to fix the logic behind those? Or should I rewrite the weekly and monthly ones as well for consistency?

[2017-05-28 22:43] Alys commented on #8756
@joe-salomon Please rewrite all of them, thank you. I suspect it will help even in the daily and weekly cases, for example on slow computers, such as in this report made today in the Report a Bug guild, from Kella (b50b5e4d-0134-4e3b-9627-565840558f59):
"Related to the new repeat dailies problem, I realized the app wasn't working so switched to the website. I use chrome. Any time I try to edit a d

[2017-05-29 02:18] sswam commented on #8763
My dailies that were previously on certain days of the week (e.g. every Monday) are now converted to "Weekly" tasks on the web app, which is fine, but in the Android app they are appearing as daily tasks that repeat every day.  So, I am seeing all my "dailies" every day in the app, rather than on the correct days of the week.  I tried pressing "sync" and "reload content" to no avail.  I tried clea

[2017-05-29 02:26] sswam commented on #8763
Actually even editing the daily on the web does not fix the problem entirely.  When I edit the task in the app it still appears to be recurring every 1 day instead of every 1 week.  The problem also occurs for newly added tasks that should occur each Monday for example, they appear as "every 1 day" tasks when I edit in the Android app.

Also I added a 1-yearly task starting 29/02/2020, just to be

[2017-05-29 16:36] joe-salomon2 commented on #8756
What is the proper behavior for this case:

which results in
`Repeats monthly every 1 months on the 5 Monday`
`Next Due Dates
07/31/2017, 10/30/2017, 01/29/2018, 04/30/2018, 07/30/2018, 10/29/2018`

In the existing code,it skips the months in which there is no 5th Monday. Is this the correct behavior? Thanks!

[2017-05-29 20:06] Alys commented on #8756
Yes, that's currently considered the correct behaviour.

On Tue, 30 May 2017, 02:36 joe-salomon <notifications@github.com> wrote:

[2017-05-29 23:33] brightbold commented on #7991
I'm excited for this feature! A suggestion for discussion: Could we have an option to also empty the zero GP items (the way Keys to the Kennel lets you choose pets, mounts, or both)? I'm very motivated by equipment, and felt disappointed when I'd run out of standard gear to buy. So when I did my last rebirth (back when the Orb removed equipment), I created more challenge by forcing myself to pay (

[2017-05-30 09:01] Alys commented on #8763
@sswam Please report those problems in the Report a Bug guild, which you can reach from Help > Report a Bug on the website or from Guilds > Public Guilds on the mobile app. We can't help you without knowing which Habitica account is yours and when you post to the guild, we can see your account straight away. Please also tell us there which of your Dailies have those problems. If we need specific r

[2017-05-30 11:11] Alys opened #8768 "due / not due status and "Next Due Dates" for Dailies are not adjusted by cron when resting in the inn"
When a player is resting in the inn (`preferences.sleep` set to true), cron will not run the code that recalculates the `isDue` and `nextDue` attributes for all Dailies.

This means that for the entire time a player is resting in the inn, each of their Dailies when viewed on the mobile apps will remain looking due {or not due} if the Daily was due {or not due} when they started resting, regardless

[2017-05-30 16:54] #7942 closed, assigned to nobody

[2017-05-30 20:57] #8768 closed, assigned to nobody

[2017-05-31 04:47] TheHollidayInn commented on #8763
I believe we have addressed what we could here on Slack, @Alys. Should we investigate further?

[2017-05-31 12:04] Alys commented on #8763
Agreed so I'll close this. I haven't found any other scheduling problems that can't be explained by the issues we already know about.

[2017-05-31 12:04] #8763 closed, assigned to nobody

[2017-05-31 15:09] TheHollidayInn commented on #8585
This was fixed in a different PR from me reverting us back to Zone.

[2017-05-31 15:09] #8585 closed, assigned to nobody

[2017-05-31 15:34] TheHollidayInn commented on #8759
I can confirm that the intention is actually to repeat every last when the number is greater than 4. Looking into that, but I am open to help on this. :D

[2017-05-31 15:37] TheHollidayInn commented on #8752
@LlamaLad Just now seeing your post. Do you need any assistance with understand the flow? I add the code, so feel free to ask me questions.

[2017-05-31 18:58] lemoness commented on #7991
I think that could be a viable option for a future version of this feature,
but shouldn't hold up the initial release.

On Mon, May 29, 2017 at 4:33 PM, Kelley Curry <notifications@github.com>
wrote:

[2017-05-31 19:40] SabreCat commented on #6756
This has been live for a little while now! Closing.

[2017-05-31 19:40] #6756 closed, assigned to nobody

[2017-05-31 21:51] Alys commented on #8759
I'd like to see a pair of radio buttons for choosing whether you want the Nth (weekday) or the final (weekday). The radio buttons could appear whenever the Start Date happens to be the last (weekday), so that would sometimes be the 4th or the 5th.

[2017-06-01 05:07] jerell-mendoza commented on #8142
@Alys, sorry haven't been able to work on this in a looong time. I think you can just open it up to others to work on this.

[2017-06-01 10:58] Alys opened #8775 ""Invalid date" for Daily with weeksOfMonth monthly repeat for 4th (weekday) with everyX 1"
There's a problem that I think is related to the `weeksOfMonth` monthly repeat option, although I'm not sure of the details yet. In the Report a Bug guild, nonhoration (a82d7efb-a44f-4484-b630-465620623462) said:

***I haven't had a cron rollover in 3 days and whenever I try to check off a daily today I get a "Gateway 504" error. (It looks like I can + or - habits though)"**

The AWS logs from the

[2017-06-01 11:49] Alys commented on #8142
@jerellmendoodoo No worries! Thanks very much for letting us know!

[2017-06-01 14:17] TheHollidayInn commented on #8775
This seems to be the same issue as the last Thursday of the month. The 4 week is actually the 5 week

[2017-06-01 14:18] TheHollidayInn commented on #8775
And non of the repeat days are selected. So that's an issue as well.

[2017-06-01 14:20] TheHollidayInn commented on #8775
Well, never mind. The start date should work. So yea, last day of the month issue.

[2017-06-01 16:26] JoshSears commented on #8693
@Alys If you believe its just the removal of those two lines, might I give it a go?  I would like to remove those in my local build, and then test.  Seems a simple enough fix....since you already found the problem!

[2017-06-01 16:59] kvsm commented on #8615
Can I pick this one up?

[2017-06-01 17:31] kvsm commented on #8560
Hi, I noticed these icons weren't added yet so I took the liberty of submitting a PR. Hope that's ok :)

[2017-06-01 21:02] TheHollidayInn commented on #8775
Okay, after further review, I believe this is because the repeat days are unselected.

https://github.com/HabitRPG/habitica/blob/develop/website/common/script/cron.js#L155

If you select monthly, weeksOfMonth - you have to have at least on day selected - so it will repeat: 'on the x day of the month'

So, I assume that is causing the issue. I will check to see if I can just return false if the set

[2017-06-01 23:50] Alys commented on #8775
But they aren't supposed to select a day of the week for that case, are they? Isn't it meant to determine the day from the start date? There's no options for selecting the day of the week:

![image](https://cloud.githubusercontent.com/assets/1495809/26705249/5a428210-4778-11e7-8f36-9baea98a934c.png)

----

Unrelated to that and just for the record, nonhoration has confirmed that their problem with

[2017-06-02 00:14] Alys commented on #8615
Yes, thank you!

[2017-06-02 00:36] TheHollidayInn commented on #8775
Ah, okay. So there must have been an issue while saving from the UI. I put a fix that will ensure the cron and score keeps working. Let me also add a check before save on the client

[2017-06-02 01:36] lemoness commented on #8560
That's great! Thank you very much :)

[2017-06-02 02:47] Alys commented on #8693
@Dagrik That sounds great, thanks!

[2017-06-02 04:17] Alys commented on #8764
I like this alternative: "Another alternative solution which will give better control, show an icon similar to the challenge tag removal (megaphone with cross through it). This will then give the user the option to remove all tasks that are no longer attached to the group plan or complete them."
Although I think that for consistency with challenges, the options should be remove all tasks that are

[2017-06-02 08:12] dulcissimahabitica opened #8779 "Strange bar under my statistisc and team."
[//]: # (Before logging this issue, please post to the Report a Bug guild from the Habitica website's Help menu. Most bugs can be handled quickly there. If a GitHub issue is needed, you will be advised of that by a moderator or staff member -- a player with a dark blue or purple name. It is recommended that you don't create a new issue unless advised to.)  - I was advised by @Alys to post here, so

[2017-06-02 20:59] lemoness commented on #8610
Yes, it's on Trello here: https://trello-attachments.s3.amazonaws.com/52e9d25cd467121630c6350d/52f73657fe2cc93e7b7bbd4a/63851070509373593b6ff0b409274ef9/inventory_special_congrats.png

[2017-06-02 22:41] tricksyfox commented on #8759
Not sure if this is worth mentioning, but a related issue might appear more infrequently for months that don't have certain days. i.e. If I have something set to the 31st of every month. And that's not even thinking about leap year.

[2017-06-03 00:44] Alys opened #8781 "partial failures in "Unequip Costume" / "Unequip Battle Gear" / "Unequip Pet, Mount, Background" - sync errors?"
From the Report a Bug guild by Lilith of Alfheim (cfeac000-285a-4db4-a624-8412f24484f1):

**I've been recently encountering a bug whenever I use the "Unequip Costume" and "Unequip Pet, Mount, Background" buttons. The latter button works properly about 80% of the time and does absolutely nothing the other 20%. The Costume button on the other hand removes a random selection of items. Sometimes it re

[2017-06-03 01:23] Alys opened #8782 "everyX values for Dailies should not be allowed to be non-integers"
The <strike>website</strike> API accepts non-integer values for `everyX` for a Daily, such as 0.5. This causes errors such as the one below.

Suggested fixes:
- The API and/or task schema must prohibit anything other than an integer (including 0, which is currently allowed and should remain allowed until/if we implement a different way of making a Daily never due). It should also ensure that there

[2017-06-03 02:20] Alys commented on #8782
_Ugh._

[code]

I'm changing those to 0 since that's probably more or less the users' intention.

I've updated the top post to state that `null` must not be allowed (i.e., the everyX value has to exist; while still being allowed to be zero).

[2017-06-03 03:18] TheHollidayInn commented on #8782
Wow. This is being fixed in the performance PR as well.

[2017-06-03 11:17] mczuchnowski commented on #8142
@Alys I'd like to contribute to this one.

[2017-06-03 11:28] Alys commented on #8142
@mczuchnowski Thanks! It's yours.

[2017-06-03 11:55] mczuchnowski commented on #8616
Just to clarify: this should only apply to sharing via the AddThis plugin that resides on the foreground of the avatar (which by the way has some styling issues and bubbles up clicks to the avatar itself, toggling you between tasks and avatar settings) and ignore all the other sharing contexts, like footer and modals?

[2017-06-03 11:58] mczuchnowski commented on #8612
Clarification needed: what does "complete the tutorial" actually mean? I see some tutorial- and tour-related fields in the schema, but they don't seem to change when I click around the site as a newly created user (all tutorial-related fields seem to be set to `true` right away after creating a new user). The badge kinda suggests a movie player and there are in fact some tutorial videos, but in th

[2017-06-04 11:13] ChintuKarthi commented on #6716
hey can anyone explain me about how to remove "Failed to load resource: net::ERR_BLOCKED_BY_CLIENT" without disabling the AdBlock ?
because if i develop a webpage, i don't want my users to get those error because of some AdBlocking softwares.

I am new to web developing, don't mind if there is an easy to to do it and i didn't know about it means i'm sorry, and please help me out!
Thanks :)

[2017-06-05 02:22] kyrielleor commented on #8759
One software I used to use before, when you selected repeating by day-of-week, had a checklist of days of the week and a checklist of weeks - the latter was "1st, 2nd, 3rd, 4th, 5th, last, alternating" - with alternating as a radio button, so you couldn't do it in combination with any of the others. In this case, alternating wouldn't be very useful, but the other pieces would. That opens up a can

[2017-06-05 06:12] Alys opened #8785 "isDue is incorrect for weekly-frequency Dailies when the start date is not a due date"
For Dailies with the "weekly" frequency, isDue isn't calculated correctly when the start date is a few days before the first date that the Daily should be due on. I.e., if the Daily is scheduled for Sundays but not every Sunday, and the start date happens to be a different day of the week, then the isDue calculation is off by a week.

The two Dailies below are set to be active on every second Sund

[2017-06-05 17:58] Alys opened #8786 "notification menu closes when one notification is dismissed"
We've had some complaints about how the new behaviour where the notification menu closes when you use the "clear" button (the "x") to remove one notification.

For example, from Dewines:

"on the website, the chat notification popup has started closing again every time you dismiss a notification. The popup should stay open so you can dismiss more than one guild at a time. I'm in a lot of guilds an

[2017-06-06 01:04] JoshSears commented on #8693
Tested first.  Problem was recreated successfully on first try, both in trying to keep the tasks and removing them as well.  Challenge on test acct was removed when challenge leader picked winner or deleted challenge.  Moving forward to test proposed fix.

[2017-06-06 02:08] JoshSears commented on #8693
Second test: Proposed fix.  Was able to leave a challenge after leaving a group.  If "Remove Tasks" was selected from leave option, challenge stayed displayed on the screen and the Join button is visible.  The join button gives and error and does not allow rejoining.  Upon reload, the challenge disappears.  The tasks are removed, however the Challenge Tag stayed present.  If "Keep Tasks" was selec

[2017-06-06 05:55] #8298 closed, assigned to nobody

[2017-06-06 17:05] #7715 closed, assigned to nobody

[2017-06-06 17:06] paglias commented on #7715
The startDate field is now required

[2017-06-06 17:21] librarianmage commented on #8725
Hmm... as it hasn't been duplicated, should this just be marked as investigation needed?

[2017-06-06 17:24] librarianmage commented on #8694
Are you still intending on working on this, @geekwraith?

[2017-06-06 17:25] librarianmage commented on #8663
I can work on this!

[2017-06-06 17:25] librarianmage commented on #8624
Were you able to reproduce this, @cTheDragons?

[2017-06-06 17:29] librarianmage commented on #7615
Does this still happen?

[2017-06-06 17:30] librarianmage commented on #3730
Is this still of interest?

[2017-06-06 17:30] madpink commented on #8725
I'm willing to admit that I think I got this one wrong. I tried multiple times and have not been able to repeat it... so is there a status for PEBKAC?

[2017-06-06 17:38] Alys opened #8787 "Key to the Kennels returns user to Task page instead of Pets/Mounts page"
After using Key to the Kennels, the user is returned to the Tasks page, which can be confusing since it's not related to the action they just took. A better result would be taking them to the Pets page if they released only Pets or Pets and Mounts, or taking them to the Mounts page if they released only Mounts. That would give good feedback that the Key had worked correctly.

This is not something

[2017-06-06 18:13] Alys commented on #8725
:-) I'll close it but we can reopen if it happens again.

[2017-06-06 18:13] #8725 closed, assigned to nobody

[2017-06-06 19:01] Alys commented on #3730
@MathWhiz This part is still needed but still low priority:

"We still need a fix for dequipping Costume pieces and Battle Gear pieces that you are wearing but don't own (which can happen occasionally due to unusual circumstances)."

I.e., the current dequip features would need to be changed to work even when the items you are wearing are not ones you own (pets that have been released; equipment t

[2017-06-06 19:02] librarianmage commented on #3730
Ah, ok
On Tue, Jun 6, 2017 at 2:01 PM Alys <notifications@github.com> wrote:

[2017-06-06 19:14] TheHollidayInn opened #8788 "Death sounds does not play when negative habit is clicked or cron damage is applied"
_edit by Alys:_

When you click a minus Habit, the minus Habit sound should play. However if you die from a minus Habit or from damage taken from your Dailies at cron or from damage from a quest boss due to a party mate, then the Death sound should play. Currently it does not play.

[2017-06-06 20:04] cTheDragons commented on #8624
I haven't tried it since posting the bug report but yes, it was repeatable.

[2017-06-06 20:57] lemoness opened #8789 "New PressKit Screenshot"
There is a new screenshot to add to the PressKit! It should replace the old task list screenshot.

[2017-06-06 20:57] lemoness commented on #8789
<img width="1440" alt="screenshotsample6-6" src="https://user-images.githubusercontent.com/3494081/26851565-15cfc70a-4ac0-11e7-8dc2-6edc75046f6c.png">

[2017-06-06 21:13] TheHollidayInn opened #8790 "Normalize Task Links"
Currently our group and challenge tasks require a sync and are a copy of the originals. This leads to many syncing issues and performance issues. We should implement something similar to database normalization: https://en.wikipedia.org/wiki/Database_normalization.

Basically the steps are as follows:

1. Create a ID ref to original task (already done)
2. Whenever the task is queried, populate with

[2017-06-06 21:47] TheHollidayInn commented on #8663
Woot!

[2017-06-07 01:29] librarianmage commented on #8789
I can do this!

[2017-06-07 01:43] #8560 closed, assigned to nobody

[2017-06-07 01:49] #7971 closed, assigned to nobody

[2017-06-07 01:55] #8639 closed, assigned to nobody

[2017-06-07 02:04] #8609 closed, assigned to nobody

[2017-06-07 02:04] #8610 closed, assigned to nobody

[2017-06-07 02:23] TheHollidayInn commented on #8789
Thanks!

[2017-06-07 02:28] Alys commented on #7615
Haven't seen it for ages. I'm closing this but we can reopen if it comes back. Thanks @MathWhiz !

[2017-06-07 02:28] #7615 closed, assigned to nobody

[2017-06-07 03:14] #5618 closed, assigned to nobody

[2017-06-07 15:30] kvsm commented on #8790
So, if I understand this right:

- the original tasks are the ones stored against the challenge/group (ie. with `task.userID` not set)
- currently, the user's copy of the task has to be kept in sync with the original
- instead, we would still have a user copy but instead of trying to keep it in sync, we'd just use the `task.challenge.taskId` to pull the original any time we needed it?

[2017-06-07 16:09] TheHollidayInn commented on #8790
Yea, and the group.taskId. There are certain fields that the user can edit, so those can be copied over. The rest of the fields should come from the population.

[2017-06-07 16:34] Alys commented on #8790
I've just realised that we'll still need to sync when the user leaves the challenge and chooses to keep the tasks, and also when the challenge is deleted or closed so that all participants keep their copies of the tasks. :(  In the latter cases it will be critical that we don't have sync failures - more critical than syncing is now because there won't be any opportunity for the user to work around

[2017-06-07 16:43] #8613 closed, assigned to nobody

[2017-06-07 16:59] #8643 closed, assigned to nobody

[2017-06-07 17:16] #8600 closed, assigned to nobody

[2017-06-07 17:21] TheHollidayInn commented on #8790
Looks like we decided to:
 - keep the old challenge task instead of delete
 - on getChallengeTask, check if the challenge has ended and sync that task at that point.

[2017-06-07 17:29] Alys opened #8793 "do not delete challenge tasks when a challenge is closed / deleted"
Currently, when a challenge is closed or deleted, the tasks belonging to that challenge are deleted. Note that I'm referring to the challenge's own copies of its tasks, not the tasks that were given to each participant.

We want to change that so that the challenge's own copies of its tasks are never deleted. That probably just means changing this line:
https://github.com/HabitRPG/habitica/blob/67

[2017-06-07 18:09] kvsm commented on #8790
Ok... would something like this help for general cases other than closing/deleting a challenge?

- User joins a challenge. A user copy of challenge tasks is made as normal.
- Later, user logs in. User's tasks are fetched. For any task which is a challenge task, the original is also fetched. The original is merged with user copy, with user-editable fields from user copy overwriting original.
- Serv

[2017-06-07 18:45] Alys opened #8794 "allow users to specify what time zone they are in"
~This is currently marked as suggestion-discussion and we are still considering it. It might not be implemented. In a couple of days if there's no objections, I'll probably change it to help welcome.~

Currently, the Habitica website reads your time zone from your browser (which gets it from your OS). The mobile apps read it from your mobile device.

We will keep those mechanisms but we are consid

[2017-06-07 18:47] kvsm commented on #8793
Tagging this for later - I'll give someone else a chance to claim it first. :)

[2017-06-07 19:26] TheHollidayInn commented on #8790
Hmm. Yea, I think you have the overall idea. I think we can check performance/logic once the code is coming together. Would you like to be assigned to this issue?

[2017-06-07 19:45] kvsm commented on #8790
Sure, I'll take a swing at it.

[2017-06-08 04:05] #8510 closed, assigned to nobody

[2017-06-08 17:34] #8756 closed, assigned to nobody

[2017-06-08 19:03] #8351 closed, assigned to nobody

[2017-06-08 19:18] #8758 closed, assigned to nobody

[2017-06-08 19:52] Alys commented on #8461
I'm closing this because we haven't seen it again but we can reopen this if we do get other reports.

[2017-06-08 19:52] #8461 closed, assigned to nobody

[2017-06-08 20:01] Alys opened #8801 "some quests have incorrect unlock conditions"
_As reported in the Report a Bug guild by Il Mago Rosso:_

**In the quests section, even if I own the quest but I'm not the right level to use it, it says `You must be level 15 to buy this quest!`, when instead I own the quest but I must be at least level 15 to use the quest.**

**Also, I think that having the gold purchasable quests say `To earn this quest, complete Terror in the Taskwoods, Part

[2017-06-08 20:31] Alys commented on #8248
My personal feeling about this is that the current behaviour is more game-like and realistic because if you were walking through woods looking for items, you would typically find more of one kind by random chance. However I don't feel so strongly about it that I'd argue if the decision was to change it!

[2017-06-08 20:41] lemoness commented on #8248
I think it would feel more satisfying if you only found items that were still pending -- right now, it feels like your effort can be wasted.

[2017-06-08 20:45] #6721 closed, assigned to nobody

[2017-06-08 20:51] TheHollidayInn commented on #8735
The idea is correct! Here is a more lower level flow:

1. Use Bluebird.all to process all promises
2. Loop through return values and check for errors
3. Return human readable error lists

[2017-06-08 22:29] Alys commented on #8735
@Dagrik If you'd like to go ahead following TheHollidayInn's flow, please do! Tell us if you have questions or need more details.

We're aware that this is now more complex than I originally thought (my mistake - so sorry!) so if you'd prefer someone to take over now, that's also okay. The work you've done so far might be usable in its current form to at least slightly improve the present situatio

[2017-06-09 01:38] Alys commented on #5811
I'm closing this since we have an item in Trello for it, and we're part way through a website improvement project that will make this feature request easier to add in the not too distant future.

[2017-06-09 01:38] #5811 closed, assigned to nobody

[2017-06-09 13:19] madpink commented on #8087
at this point, are there any others that need work?

[2017-06-09 13:37] Alys commented on #8087
The Member routes are the only remaining ones. They were assigned to Althenis who then said [above](https://github.com/HabitRPG/habitica/issues/8087#issuecomment-272304071) that MathWhiz could do it, although we didn't change the assignment in the top post.

MathWhiz are you working on Member?

[2017-06-09 13:40] librarianmage commented on #8087
Oops, not yet. @madpink can complete it if they like.
On Fri, Jun 9, 2017 at 8:37 AM Alys <notifications@github.com> wrote:

[2017-06-09 13:47] madpink commented on #8087
I'd be happy to work on Member

[2017-06-09 14:42] Alys commented on #8087
@madpink It's yours, thanks.

[2017-06-09 15:14] geekwraith commented on #8694
I am, @MathWhiz, but not as soon as I'd thought. If you're asking because you or someone else wants to do it, don't wait on me... if it's still open when I finish jumping through extra bureaucratic hoops, I'll tackle it, and if not, I'll find a different open issue to play with.  :o)

[2017-06-09 15:16] librarianmage commented on #8694
@geekwraith No, it's totally fine!
On Fri, Jun 9, 2017 at 10:14 AM geekwraith <notifications@github.com> wrote:

[2017-06-09 15:27] #8741 closed, assigned to nobody

[2017-06-10 04:35] JoshSears commented on #8735
@Alys I will get the changes thus far submitted this weekend for review - maybe to at least get part of the original problem fixed.  I want to read up on bluebird first, as I am unfamiliar with it.  I will check it out tomorrow, and let you know - but don't count me out yet!

[2017-06-10 04:39] JoshSears commented on #8693
@Alys I will try to submit something this weekend with the fix, unless the differences noted need to be addressed.

[2017-06-10 18:40] Alys commented on #8593
This is still happening so I'm reopening it. The problem is that some of the code linking Rebirth to Beastmaster has not been removed - below is a list but there might be more as well.

Whoever works on this should test by getting an account on their local install to have Beastmaster (see the Debug menu for an option to make that easy), then use Rebirth, then ensure that Rebirth is not still enabl

[2017-06-10 19:48] orendon opened #8807 "When dead is possible to buy a potion to recover some health (Android)"
[//]: # (Before logging this issue, please post to the Report a Bug guild from the Habitica website's Help menu. Most bugs can be handled quickly there. If a GitHub issue is needed, you will be advised of that by a moderator or staff member -- a player with a dark blue or purple name. It is recommended that you don't create a new issue unless advised to.)

[//]: # (Bugs in the mobile apps can also

[2017-06-11 03:50] gilmoreg commented on #7274
Going to try taking this one on.

[2017-06-11 04:48] Alys commented on #7274
@gilmoreg Thank you!

[2017-06-11 16:17] joe-salomon commented on #4753
What's the status of this issue? I'd like to look into it if nobody is working on it.

[2017-06-11 17:17] Alys commented on #7856
I'm closing this because we haven't seen other reports of it. We can reopen it if it occurs again.

[2017-06-11 17:17] #7856 closed, assigned to nobody

[2017-06-11 17:29] Alys commented on #4753
We would still need to ensure that a quest was aborted before the quest owner was booted, but the process described in the top post would be simpler.

[2017-06-11 17:38] Alys commented on #8248
I've added this to the top post and marked this as help welcome:

### Current Situation:

When cron runs for a participant of a collection quest, it gets the number of items that the user has found (that's just a single number with no distinction between the types of items). It randomly chooses the type of item for each item found and applies the results to the quest.

### Desired Fix:

The same a

[2017-06-11 19:20] gilmoreg commented on #7274
Submitted [PR 8810](https://github.com/HabitRPG/habitica/pull/8810).

[2017-06-11 21:05] JoshSears commented on #8693
PR submitted.

[2017-06-11 22:41] Alys opened #8812 "banned words in a chat post should be listed in the error message"
When a player posts a message that contains banned words (swear words, etc) to the Tavern, their post isn't made and they see a `bannedWordUsed` message advising them to rewrite it.

The message should list the inappropriate words that they used.

I suggest it be displayed like this (where "word1" and "word2" are the bad words) but other ideas are welcome:

_Oops! Looks like this post contains a s

[2017-06-11 23:10] Alys opened #8813 "certain kinds of swear words / oaths should be blocked in guilds"
~This is on hold until the PR for https://github.com/HabitRPG/habitica/issues/8062 is completed (automatic muting of slurs), since there'll probably be code in that PR that can be repurposed for this issue.~ EDIT: We're now considering which words to block where.

In https://github.com/HabitRPG/habitica/pull/8197 , we prevented swear words, slurs, etc being posted to the Tavern and that's been wor

[2017-06-13 00:28] lemoness commented on #4753
I think that change would be a good idea! I think the potential for misuse,
while present, isn't likely to be common.

On Sun, Jun 11, 2017 at 10:29 AM, Alys <notifications@github.com> wrote:

[2017-06-13 01:15] Alys commented on #4753
Here's what I propose as the fix for this issue (different than what's in the top post now):

- For every quest, the party leader has the same control as the quest owner - the leader can cancel, begin, abort the quest.
- If the party leader cancels or aborts the quest, the quest scroll is returned to the quest OWNER, not the leader. There must be a test to ensure that behaviour.
- Below the cancel

[2017-06-13 07:02] Alys commented on #7991
If we do implement the option to remove free gear (I agree that we should when we have time), then we'll need to make an adjustment to the `back_special_snowdriftVeil` item, and possibly the other items given in check-in incentives. Recently, I removed all gear for Il Mago Rosso, and we found that the Snowdrift Veil didn't appear in the Rewards column to be bought back, possibly because we've neve

[2017-06-13 14:39] brightbold commented on #7991
@Alys Ooh thanks! I will take you up on that — I'm about to do a rebirth and I like to return to powerless and possessionless baby adventurer and have to build from the ground up. I really appreciate it!

[2017-06-13 23:42] shanaqui commented on #7767
This needs to be reversed -- in practice, people don't use it to flag offensive usernames (which would be fine in private chat anyway), and instead, it seems to cause a lot of confusion, or people hoping we'll delete them if they flag them.

[2017-06-14 18:27] #8775 closed, assigned to nobody

[2017-06-15 18:40] Alys opened #8820 "API should accept false as well as null for due date for To-Dos"
As described in https://github.com/HabitRPG/habitica-ios/issues/136 and https://github.com/HabitRPG/habitica-ios/issues/292 , once a due date has been set for a To-Do, you can't remove it because of an issue with Reskit.

The API currently allows the due date to be unset with a `null` value.

**The API should be changed to also allow a To-Do's due date to be unset with a `false` value** (in additi

[2017-06-16 14:15] snowsignal commented on #8820
I can work on this one. I think I have a better understanding of the code to be modified this time around.

[2017-06-16 15:14] paglias commented on #8820
Not sure this is a good idea or it'll work correctly with Mongoose. I think the fix should be on the iOS' side not in the API

[2017-06-16 18:00] Alys commented on #8820
I've updated the two issues in the iOS repo to indicate that the suggested idea of changing the API is no longer desired.

@JacksonCoder Thanks for being willing to work on it. I hope you can find another issue you're interested in!

[2017-06-16 18:00] #8820 closed, assigned to nobody

[2017-06-16 18:24] Alys opened #8824 "system messages in party chat should not be flaggable"
Currently, it's possible for any party member to flag a system message. We've decided that it should not be possible (see https://github.com/HabitRPG/habitica/issues/7767#issuecomment-308279239 for reasons).

System messages are those that display quest progress message and skill casts. The `uuid` is `system`:
[code]
The changes desired are:
- On the website, remove the flag button from system mes

[2017-06-16 18:30] Alys commented on #7767
@shanaqui I've logged it here: https://github.com/HabitRPG/habitica/issues/8824

[2017-06-16 21:26] kvsm commented on #8793
Ok, I'll pick this one up since no-one else has. I'm in a position to start on #8790 but I think it makes sense to get this in place first.

[2017-06-17 16:53] AndreGtz commented on #8786
This needs to get fixed, it is so annoying to dismiss all alerts.
:+1:

[2017-06-17 18:53] madpink commented on #8087
I have Member pretty much ready except for:
 /api/v3/members/:toUserId/objections/:interaction

How do I actually initiate an objection in order to then view it with this command?

[2017-06-19 22:26] lemoness opened #8827 "Add FAQ to Press Kit"
Based on the volume of interview requests that Habitica receives, we've decided to implement a FAQ section on the Press Kit. All of the text can be found here: https://docs.google.com/document/d/17Ys40wZOkP4kSUDHE3aQN8Ayaxz5Wpkryg3lcbn5BUc/edit?usp=sharing

This should appear towards the bottom of the press kit page, below the images.

The "Marketing/Social Media Inquiries" section of the contact

[2017-06-20 08:39] redloste commented on #8812
Hi there! If there's no one working on this yet, I'd like to help.

[2017-06-20 12:06] TheHollidayInn commented on #8812
Go for it!

[2017-06-20 15:44] Alys opened #8828 "cron time zone problems"
We have code in cron to prevent cron running at an inappropriate time when you change time zones but I think it's missing some cases. There's two reports below.

I wrote the code we have now so I'll try to think through it all again to see if I can find where it's missing the problem but if anyone else also wants to look at it, feel free! The "cross over the midnight in originating time zone but w

[2017-06-20 22:01] Alys commented on #8014
A new example (BTW, we see this bug often, but this example has interesting details):

marharet (297f6e4f-be87-4c57-9d0c-3e16813deed8) :
I just found strange behaviour of application. I already have tried reopening app and opening in incognito mode. So I just lvled up to 2nd lvl and received new mission. I saw that my lvl number has been incremented and progress bar has been properly refreshed. Th

[2017-06-20 22:01] Alys commented on #7625
I haven't seen this for a while so I'm closing it. We can reopen if we hear other reports of it.

[2017-06-20 22:01] #7625 closed, assigned to nobody

[2017-06-20 22:10] Alys opened #8829 "checklists on To-Dos and Dailies do not stay collapsed"
In the Report a Bug guild, Voidhawk (39e1503b-2415-45e3-905c-d7684fda0039) wrote:

"Since the recent [website] update, new To-Dos do not stay "collapsed" when you reload the site. Old To-Dos will stay collapsed, but changing the collapsed state (for checklists) does not maintain it's state. I keep all mine lists collapsed to save space, and only expand when I want them expanded."

This is probably

[2017-06-20 22:12] Alys commented on #8829
If this is an easy, fast fix, it would be worth doing. If it's not, then it might be best to ignore this since we're part way through a website redesign that will presumably fix this problem since there will be new code for the website.

[2017-06-21 13:53] Alys opened #8831 ""Repeat Every" button is wrong for "Monthly" repeat frequency in Dailies edit form"
In the Daily edit form, when you select the "monthly" frequency, the "Repeat Every" button doesn't change from what it was previously ("Weeks" in the image below). It should change to be "Months".

It does change correctly when you select "daily", "weekly", or "yearly".

![image](https://user-images.githubusercontent.com/1495809/27387568-faedd0a8-5690-11e7-8e1d-00a542e91eba.png)

[2017-06-22 05:54] joe-salomon commented on #4753
Looks interesting, can I help out?

[2017-06-22 07:49] wilhen01 commented on #8829
I've noticed this happening in the last few days too. It's a minor annoyance, but it'd be nice to fix it 😄

[2017-06-22 20:22] pouyio commented on #8831
Hi! (first time contributing to a project so sorry in advance 🙃)

I have a question, I cloned the project and fixed this issue, but tests aren't passing, and weren't passing *before* my changes anyway.

Should I try to fix them before creating the PR?

[2017-06-22 21:13] #6401 closed, assigned to nobody

[2017-06-22 21:25] SabreCat commented on #8831
@pouyio Tests unrelated to the fix in question, whose status doesn't change after adding the fix, can be ignored in most cases. There are a few tests that misbehave in some environments at the moment, and until we can get those things ironed out, we'll get the odd false test failure.

[2017-06-22 21:27] SabreCat commented on #8831
That said, if you _want_ to correct some of those weird failing tests, you're more than welcome to! :D But best to put that on a separate PR if it bears no connection to the other substance of the PR.

[2017-06-22 23:04] fghber opened #8833 "Custuom Day Reset leads to issues: unable to create new dailies at certain day of the week & weekly dailies show up on the wrong day."
[//]: # (Fill out relevant information - UUID is found in Settings -> API)
### General Info
  * UUID: 2379dd46-aaf9-4b95-80fe-cd89f62e5864
  * Browser: Microsoft Edge 40.15063.0.0/Chrome
  * OS: Windows 10

### Description
A while ago on a Sunday I have changed my day reset time to one hour earlier the midnight (PST). First, I did not notice any issue. But the next week I noticed some of my weekly

[2017-06-23 06:57] majestic-owl448 commented on #8833
This is not a bug... it's the behaviour for setting a custom day start time before midnight, look here: http://habitica.wikia.com/wiki/Custom_Day_Start#Examples_and_a_Warning_about_Late_Custom_Day_Start_Times

Also, now the best place to report a bug is the Report a Bug guild inside Habitica

[2017-06-23 14:58] fghber commented on #8833
Okay, wrong show up on wrong day may be not a bug, but a feature.
What about the problem to create dailies?

[2017-06-23 15:00] Alys commented on #8833
@fghber As @Ieahleen says, that behaviour is intentional, and bugs should be reported in the Report a Bug guild (from the Guilds or Help menu on the website, and from Guilds on the app). It's rare that a bug needs to be reported in GitHub and if it does, a moderator would notify you of that. The problem with creating a Daily on Sunday is probably this issue: https://github.com/HabitRPG/habitica/is

[2017-06-23 15:00] fghber commented on #8833
I have reported the bug in the bug guild before and was told to report it here!

[2017-06-23 15:02] fghber commented on #8833
Thanks for closing! 👍

[2017-06-23 15:03] Alys commented on #8833
Ah, sorry, I've been offline for a couple of days and haven't checked the bug guild. I'm reopening since another admin must have wanted to investigate further.

[2017-06-23 15:45] Alys commented on #8695
A related problem, reported by Donaithnen (189af1f9-6cba-4032-9a43-26880c1d6779) in the Report a Bug guild:

"When you use an Orb of Rebirth it takes you back to the Tasks page. If you then try to hit + on a Habit before doing anything else the message that pops up to say how much exp you got says "+NaN Exp". The gold part seems to work as expected. If you refresh the page it will then show that y

[2017-06-23 16:16] Alys opened #8834 "Habit counters should be set to zero by Orb of Rebirth (not for challenges or group plans)"
When you use the Orb of Rebirth, it should set the counters for all your own Habits to zero. This will be consistent with how the streaks of Dailies are reset to zero.

Habit streaks should NOT be reset to zero for any Habits that are part of active Challenges or are from Group Plans (also consistent with Rebirth's affects on Dailies).

_EDIT 2019-11-16: The two points above might already be done.

[2017-06-24 12:10] Alys commented on #8833
@fghber I've caught up with everything in the Report a Bug guild and I can't see an admin requesting this to be in GitHub, so I'm going to close this again.

You might have been thinking about this conversation in the Bug guild starting on 2017-06-04:

You posted:
"I have 2 problems: I cannot create new **active** dailies. When I create a random daily it is always **grayed-out** no matter whether

[2017-06-24 12:10] #8833 closed, assigned to nobody

[2017-06-24 16:08] fghber commented on #8833
@Alys I was requested via a private message by
@TheHollidayInn  Can you post in report a bug guild how to recreate the issue you are having and post how you changed the CDS to fix it? -16 days ago         
 TheHollidayInn 
PN: Regarding my bug report: I have restored my CDS to the regular time. This fixed all my problems. I have refreshed the page many times before (also with Ctrl+F5/without cache

[2017-06-24 17:57] Alys commented on #8751
I'm putting this on hold because we're most of the way through a project to change the website's front-end code and this might no longer happen afterwards, or if it does, there'll be new code that will need to be modified to fix it.

[2017-06-24 17:58] Alys commented on #8441
I'm putting this on hold because we're most of the way through a project to change the website's front-end code and this might no longer happen afterwards, or if it does, there'll be new code that will need to be modified to fix it.

[2017-06-24 17:59] Alys commented on #8694
I'm putting this on hold because we're most of the way through a project to change the website's front-end code and this might no longer happen afterwards, or if it does, there'll be new code that will need to be modified to fix it.

[2017-06-24 17:59] Alys commented on #8786
I'm putting this on hold because we're most of the way through a project to change the website's front-end code and this might no longer happen afterwards, or if it does, there'll be new code that will need to be modified to fix it.

[2017-06-24 18:00] Alys commented on #8827
I'm putting this on hold because we're most of the way through a project to change the website's front-end code and this might no longer happen afterwards, or if it does, there'll be new code that will need to be modified to fix it.

[2017-06-24 18:00] Alys commented on #8829
I'm putting this on hold because we're most of the way through a project to change the website's front-end code and this might no longer happen afterwards, or if it does, there'll be new code that will need to be modified to fix it.

[2017-06-24 18:01] Alys commented on #8695
I'm putting this on hold because we're most of the way through a project to change the website's front-end code and this might no longer happen afterwards, or if it does, there'll be new code that will need to be modified to fix it.

[2017-06-24 18:03] Alys commented on #8207
I'm putting this on hold because we're most of the way through a project to change the website's front-end code and this might no longer happen afterwards, or if it does, there'll be new code that will need to be modified to fix it.

[2017-06-24 18:03] Alys commented on #8075
I'm putting this on hold because we're most of the way through a project to change the website's front-end code and this might no longer happen afterwards, or if it does, there'll be new code that will need to be modified to fix it.

[2017-06-24 18:04] Alys commented on #1806
I'm putting this on hold because we're most of the way through a project to change the website's front-end code and this might no longer happen afterwards, or if it does, there'll be new code that will need to be modified to fix it.

[2017-06-24 18:04] Alys commented on #8686
I'm putting this on hold because we're most of the way through a project to change the website's front-end code and this might no longer happen afterwards, or if it does, there'll be new code that will need to be modified to fix it.

[2017-06-24 18:05] Alys commented on #7431
I'm putting this on hold because we're most of the way through a project to change the website's front-end code and this might no longer happen afterwards, or if it does, there'll be new code that will need to be modified to fix it.

[2017-06-24 18:06] Alys commented on #5111
I'm putting this on hold because we're most of the way through a project to change the website's front-end code and this might no longer happen afterwards, or if it does, there'll be new code that will need to be modified to fix it.

[2017-06-24 18:08] Alys commented on #7123
I'm putting this on hold because we're most of the way through a project to change the website's front-end code and there'll be new code that will need to be modified to fix it.

[2017-06-24 18:09] Alys commented on #7675
I'm putting this on hold because we're most of the way through a project to change the website's front-end code and this might no longer happen afterwards, or if it does, there'll be new code that will need to be modified to fix it.

[2017-06-24 18:10] Alys commented on #7882
I'm putting this on hold because we're most of the way through a project to change the website's front-end code and this might no longer happen afterwards, or if it does, there'll be new code that will need to be modified to fix it.

[2017-06-24 18:11] Alys commented on #7407
I'm putting this on hold because we're most of the way through a project to change the website's front-end code and this might no longer happen afterwards, or if it does, there'll be new code that will need to be modified to fix it.

[2017-06-24 18:11] Alys commented on #4827
I'm putting this on hold because we're most of the way through a project to change the website's front-end code and this might no longer happen afterwards, or if it does, there'll be new code that will need to be modified to fix it.

[2017-06-24 18:12] Alys commented on #6329
I'm putting this on hold because we're most of the way through a project to change the website's front-end code and this might no longer happen afterwards, or if it does, there'll be new code that will need to be modified to fix it.

[2017-06-24 18:13] Alys commented on #6710
I'm putting this on hold because we're most of the way through a project to change the website's front-end code and this is one of the things we're considering during it. Even if that project doesn't change the font, afterwards there'll be new code that will need to be modified to fix this issue.

[2017-06-24 18:13] Alys commented on #2965
I'm putting this on hold because we're most of the way through a project to change the website's front-end code and this might no longer happen afterwards, or if it does, there'll be new code that will need to be modified to fix it.

[2017-06-24 18:14] Alys commented on #7738
I'm putting this on hold because we're most of the way through a project to change the website's front-end code and this might no longer happen afterwards, or if it does, there'll be new code that will need to be modified to fix it.

[2017-06-24 18:16] Alys commented on #4981
I'm putting this on hold because we're most of the way through a project to change the website's front-end code and this might no longer be necessary afterwards, or if it does, there'll be new code that will need to be modified to fix it.

[2017-06-24 18:17] Alys commented on #5299
I'm putting this on hold because we're most of the way through a project to change the website's front-end code and this might no longer happen afterwards, or if it does, there'll be new code that will need to be modified to fix it.

[2017-06-24 18:18] Alys commented on #5507
I'm closing this because we're most of the way through a project to change the website's front-end code and this is likely to no longer happen afterwards, or if it does, there'll be new code that will need to be modified to fix it.

[2017-06-24 18:18] #5507 closed, assigned to nobody

[2017-06-24 18:18] Alys commented on #5556
I'm putting this on hold because we're most of the way through a project to change the website's front-end code and this might no longer be needed afterwards, or if it does, there'll be new code that will need to be modified to fix it.

[2017-06-24 18:18] Alys commented on #5628
I'm putting this on hold because we're most of the way through a project to change the website's front-end code and this might no longer happen afterwards, or if it does, there'll be new code that will need to be modified to fix it.

[2017-06-24 18:19] Alys commented on #5551
I'm putting this on hold because we're most of the way through a project to change the website's front-end code and there'll be new front-end code that will need to be modified after that.

[2017-06-24 18:20] Alys commented on #5690
I'm putting this on hold because we're most of the way through a project to change the website's front-end code and this might no longer happen afterwards, or if it does, there'll be new code that will need to be modified to fix it.

[2017-06-24 18:20] Alys commented on #5814
I'm putting this on hold because we're most of the way through a project to change the website's front-end code and this might no longer happen afterwards, or if it does, there'll be new code that will need to be modified to fix it.

[2017-06-24 18:21] Alys commented on #5924
I'm putting this on hold because we're most of the way through a project to change the website's front-end code and this might no longer be relevant afterwards, or if it does, there'll be new code that will need to be modified to fix it.

[2017-06-24 18:22] Alys commented on #5953
I'm putting this on hold because we're most of the way through a project to change the website's front-end code and this might no longer happen afterwards, or if it does, there'll be new code that will need to be modified to fix it.

[2017-06-24 18:22] Alys commented on #5980
I'm putting this on hold because we're most of the way through a project to change the website's front-end code and this might no longer happen afterwards, or if it does, there'll be new code that will need to be modified to fix it.

[2017-06-24 18:23] Alys commented on #7772
I'm closing this because we're most of the way through a project to change the website's front-end code and this is likely to no longer happen afterwards, or if it does, there'll be new code that will need to be modified to fix it.

[2017-06-24 18:23] #7772 closed, assigned to nobody

[2017-06-24 18:24] Alys commented on #5291
I'm putting this on hold because we're most of the way through a project to change the website's front-end code and this might no longer happen afterwards, or if it does, there'll be new code that will need to be modified to fix it.

[2017-06-24 18:24] Alys commented on #5215
I'm putting this on hold because we're most of the way through a project to change the website's front-end code and this might no longer be relevant afterwards, or if it does, there'll be new code that will need to be modified to fix it.

[2017-06-24 18:24] Alys commented on #5205
I'm putting this on hold because we're most of the way through a project to change the website's front-end code and this might no longer happen afterwards, or if it does, there'll be new code that will need to be modified to fix it.

[2017-06-24 18:26] Alys commented on #7539
I'm putting this on hold because we're most of the way through a project to change the website's front-end code and this might no longer happen afterwards, or if it does, there'll be new code that will need to be modified to fix it.

[2017-06-24 18:27] Alys commented on #5754
I'm putting this on hold because we're most of the way through a project to change the website's front-end code and this might no longer happen afterwards, or if it does, there'll be new code that will need to be modified to fix it.

[2017-06-24 18:27] Alys commented on #5071
I'm putting this on hold because we're most of the way through a project to change the website's front-end code and this might no longer be relevant afterwards, or if it does, there'll be new code that will need to be modified to fix it.

[2017-06-24 18:28] Alys commented on #2470
I'm putting this on hold because we're most of the way through a project to change the website's front-end code and this might no longer happen afterwards, or if it does, there'll be new code that will need to be modified to fix it.

[2017-06-24 18:29] Alys commented on #7492
I'm putting this on hold because we're most of the way through a project to change the website's front-end code and this might no longer be relevant afterwards, or if it does, there'll be new code that will need to be modified to fix it.

[2017-06-24 18:29] Alys commented on #2490
I'm putting this on hold because we're most of the way through a project to change the website's front-end code and this might no longer happen afterwards, or if it does, there'll be new code that will need to be modified to fix it.

[2017-06-24 18:29] Alys commented on #7769
I'm putting this on hold because we're most of the way through a project to change the website's front-end code and this might no longer happen afterwards, or if it does, there'll be new code that will need to be modified to fix it.

[2017-06-24 20:00] yugensoft commented on #8674
Bump

[2017-06-24 20:29] geekwraith commented on #8694
Not a problem -- currently spending all my extra time/energy calling and writing Senators and visiting their offices so that if they pass this damn health care bill and I end up losing coverage and being forced onto disability by my chronic conditions, at least I'll know I did everything I could to prevent it.

[2017-06-24 23:08] jpngfile commented on #8785
I'd like to try working on this issue.

[2017-06-25 00:41] Alys commented on #8785
@jpngfile Thanks! Comment here if you have questions or run into trouble.

[2017-06-25 06:34] nik-suri commented on #8760
Hi,
I am also an entry level programmer and would like to help on this issue.

[2017-06-25 07:09] Alys commented on #8760
@RealDealNikhil @noorudheen I'm sorry but it's best that we put this on hold now. We're most of the way through a project to change the website's front-end code and this bug might no longer happen afterwards, or if it does, there'll be new code that will need to be modified to fix it.

[2017-06-25 07:13] Alys commented on #8671
@TigzAU I'm putting this on hold because we're most of the way through a project to change the website's front-end code and this might no longer happen afterwards, or if it does, there'll be new code that will need to be modified to fix it. We'll assess the status after the new code is live and if it's still needed, we'll open this back up for you to work on if you wish.

[2017-06-25 07:29] Alys commented on #8330
@mylesdakan I'm putting this on hold because we're most of the way through a project to change the website's front-end code and this issue might no longer happen afterwards, or if it does, there'll be new code that will need to be modified to fix it. We'll assess it after the new website code is live and then if it's still needed, you'd be welcome to keep working on it if you wish.

[2017-06-25 07:31] Alys commented on #8508
@eyelesbarrow I'm closing this because we're most of the way through a project to change the website's front-end code and it's very likely that this issue will no longer happen afterwards. If it does, there'll be different code that will need to be modified to fix it, and we can reopen this then.

[2017-06-25 07:31] #8508 closed, assigned to TheHollidayInn

[2017-06-25 07:32] Alys commented on #5505
I'm putting this on hold because we're most of the way through a project to change the website's front-end code and this issue might no longer happen afterwards, or if it does, there'll be new code that will need to be modified to fix it.

[2017-06-25 07:33] Alys commented on #7687
@MathWhiz  I'm putting this on hold because we're most of the way through a project to change the website's front-end code and this issue might no longer happen afterwards, or if it does, there'll be new code that will need to be modified to fix it. We'll assess it after the new website code is live and then if it's still needed, you'd be welcome to keep working on it if you wish.

[2017-06-25 07:34] Alys commented on #7784
@dv4quadcore  I'm putting this on hold because we're most of the way through a project to change the website's front-end code and this issue might no longer happen afterwards, or if it does, there'll be new code that will need to be modified to fix it. We'll assess it after the new website code is live and then if it's still needed, you'd be welcome to keep working on it if you wish.

[2017-06-25 07:34] Alys commented on #7820
I'm putting this on hold because we're most of the way through a project to change the website's front-end code and this issue might no longer happen afterwards, or if it does, there'll be new code that will need to be modified to fix it.

[2017-06-25 09:57] LordVladneutral commented on #4605
I'm on Arch, latest version, and Firefox, also latest version (stable ones, though)

I think I got a pretty unique feedback about this matter :  the freezing also frequently happened to me, so I was looking for a solution on my own. First I looked at reducing my task list to the minimum, same with guilds and challenges, that helped, but really just a bit.

Then I looked at the browser side of thin

[2017-06-25 10:12] paglias commented on #4605
@LordVladneutral thanks for the report, I just want to say that we're working on a complete redesign and rewrite of the client side of the site that should be released in a few months from now and we hope it'll give a boost to performances and greatly reduce the memory usage of the app

[2017-06-25 16:13] nik-suri commented on #8760
Ok, thanks for letting us know.

[2017-06-25 18:07] Bb2jake commented on #8730
In scoreTask(), it does look like all group items requiring approval are stopped cold. Letting To-Dos through only so they can age appears to be straightforward. I can work on it, if you'd like.

[2017-06-25 21:42] Alys commented on #8730
@Bb2jake Thanks, please do!

[2017-06-25 23:10] alexanderqchen commented on #8834
Hi! I'm new to contributing to Habitica and practical programming in general. Would this be something I can handle? I'm kind of lost with all the files and don't really know where anything is yet, but I'd be glad to help in any way I can!

[2017-06-26 04:29] nik-suri commented on #8788
Hi, I would like to help on this issue. Do you have any other pointers?

[2017-06-26 11:10] Alys opened #8838 "future Start Date for a Daily does not appear in the Next Due Dates list"
If you set a Daily's Start Date to be in the future and use the "Daily", "Monthly", or "Yearly" repeat type, then the start date does not appear in the "Next Due Dates" (see example below).

The same problem does not occur for the "Weekly" repeat type.

![image](https://user-images.githubusercontent.com/1495809/27536577-bfc4f1e8-5a67-11e7-9114-972edd071cda.png)

_Thanks to Il Mago Rosso for report

[2017-06-26 11:57] Alys commented on #8834
@alexanderqchen We'd be happy for you to try this! You can comment here if you run into trouble or have questions.

To start with, I'd search through all the files to find those that have "Rebirth" in their name (case-insensitive; e.g., `find . -iname \*rebirth\*` on Linux/Unix/BSD/MacOS) and also use `git grep -i rebirth` to find any files that contain code about Rebirth. On *nix, you could use `

[2017-06-26 12:01] Alys commented on #8788
@RealDealNikhil Thanks! Comment here if you have questions or run into trouble. See the wiki's [Guidance for Bards](http://habitica.wikia.com/wiki/Guidance_for_Bards) page to learn how the audio files are set up in our code, and to find the file names for the audio files. You can use that information to find any code that already uses the Death audio files to see if there's bugs in it. It's also p

[2017-06-26 21:32] Alys opened #8839 ""monthly" Dailies cannot be set to "Day of the Week""
When editing a Daily's repeat settings, if you select the "Monthly" repeat frequency, and try to change to "Day of the Week", the console log shows the error "TypeError: e.map is not a function"

If you save your change and then go back into the edit form, you see that the setting has reverted to "Day of the Month".

[2017-06-26 21:35] #8598 closed, assigned to nobody

[2017-06-26 21:38] Alys commented on #4753
@joe-salomon Yes, please do! Sorry about the delay in our reply.

[2017-06-27 13:05] TheHollidayInn commented on #8839
Does this PR fix this issue: https://github.com/HabitRPG/habitica/pull/8835?

[2017-06-27 21:11] guyguy2001 commented on #8612
I believe this should not be "finished the 5 step tutorial", but "have seen all the tutorial snippets all over the site". The first option wouldn't have a sense of accomplishment, nor something you can work towards. But the second one makes the player search all over the site, and learn everything there is to it.

[2017-06-27 22:06] guyguy2001 commented on #8620
Are you still on it? If not, could I continue from where you left? I want to check whether or not bugs that happen in my mount achievement will also happen in yours (and from there why they happen in the first place). But if not, I have some formatting notes I got after working on mine:
- in pets.json you can use <%= count %> to track how many pets you hatched
- in schema.js- it would probably be

[2017-06-28 06:30] alexanderqchen commented on #8834
Got it. I'll try my best!

[2017-06-28 22:09] joedragons commented on #8351
Thanks team=)

[2017-06-28 23:39] alexanderqchen commented on #8834
@Alys The counters now should work as you have described. However, I was not able to test habits that are part of group plans because when I tried to make a group, it asked me for payment. Is there any way to test groups?

Additionally, when I run `npm test`, there are about 80000 errors, even on the develop branch.

What should I do from here?

[2017-06-30 12:15] joedragons commented on #8014
In case it helps, I noticed this a week or two ago when creating a new account.  I was able to "correct" my level by +ing a habit so I assumed it was minor.
Maybe this bug was on my brain but today my party finished a quest (containing xp rewards) enough to put me over to the next level.  I didn't notice (but had noticed earlier I was close), and then clicked -(minus) on one of my habits and notic

[2017-06-30 13:12] citrusella commented on #8014
That's https://github.com/HabitRPG/habitica/issues/2433, actually, slightly different than this but also kind of the same? The tutorial, *most* times AFAIK, properly levels you up but sometimes (more often recently) "reverts" it? Quests (and the Enchanted Armoire) don't check to see if you've met the XP required to level up, and syncing also usually doesn't (I don't think), but all tasks check for

[2017-06-30 14:15] joedragons commented on #2433
As noted in #8014 earlier this AM, I noticed if you perform a negative habit you also level.  I thought this was funny, it actually made me take note of this=)

[2017-06-30 14:17] joedragons commented on #8014
@citrusella Thanks.  I admit I was lazy and stopped hunting after I found this one=)  I subscribed over there.

[2017-06-30 19:34] corinnaj commented on #8620
I am really sorry, Uni started again and I suddenly had a lot more to do than I thought... Please go ahead, you can use anything I already did, if you like :)

[2017-07-01 16:25] #8831 closed, assigned to nobody

[2017-07-01 16:33] #8677 closed, assigned to nobody

[2017-07-01 22:34] bwrightson commented on #8838
@Alys First-time contributor. I took a look at this code and it seems reasonable to fix. Can I work on this?

[2017-07-02 18:24] nik-suri commented on #8788
I've been looking through the code base to understand how and when audio files are played. I see that, in tasksCtrl.js, when the negative habit is clicked, the "Minus_habit" sound is played. Do you want this sound to be replaced by the "Death" sound?

[2017-07-02 22:22] Alys commented on #8788
Ah no, sorry, we should have made this issue clearer. When you click a minus Habit, the minus Habit sound should play. However if you die from a minus Habit or from damage taken from your Dailies at cron (or from damage from a quest boss due to a party mate), then the Death sound should play.

I'm copying this information to the top post.

[2017-07-03 01:15] nik-suri commented on #8788
No worries. Thank you for clarifying!

[2017-07-03 19:43] savoie commented on #8618
I have _no idea_ why I thought it would be a good idea to say I could do this 2 days before starting a course-overloaded school term. I do have a few free days now though, so I should have this done today or tomorrow.

[2017-07-04 01:55] nik-suri commented on #8788
Hi, I've gone through the code base and think that I've found the source of the error. However, my Habitica install has been delayed. I am stuck on creating a swapfile. When I try to run any of the swap commands such as "mkswap", "swapon", or "swapoff", bash gives me this error:
`-bash: swapon: command not found`
I am not sure what steps to take from here. From what I understand, swapfile commands

[2017-07-04 11:07] cTheDragons opened #8849 "API - Get challenges for a group does not allow `party` or `habitrpg`"
## Description

Unable to call
`https://habitica.com/api/v3/challenges/groups/:groupId`
with the groupIds of `party` or `habitrpg`

This is inconsistent with several of the group routes, such as `https://habitica.com/api/v3/groups/:groupId`

[2017-07-04 11:22] redloste commented on #8812
Hi! Unfortunately, I do believe that I have to drop this issue. Stuff is coming up, and I don't think that I can tackle this one at this point. Thanks, though, for the opportunity. Cheers!

[2017-07-04 11:23] cTheDragons commented on #8228
Hi all! Just adding to the conversation, a full url is not required to render the inability to open a challenge by either by left or right mouse clicking the link. In the [The Renaissance Man](https://habitica.com/#/options/groups/guilds/08a6022c-f62e-4672-bdfc-0050b3ab3d83) there is a couple of challenges called diy.org. Left or right mouse clicking the links in the challenge box left of the guil

[2017-07-04 11:23] Alys commented on #8849
FYI for any contributors working on this, the "habitrpg" value for the group ID is an alias for the Tavern. Looking in the API code for the group route that cTheDragons provided will show you code that can be copied to make this fix.

[2017-07-04 11:23] Alys commented on #8812
@UnstoppableVelocity No worries! We totally understand. Thanks very much for letting us know!

[2017-07-05 03:14] melarish commented on #8849
Looking at this. Trying to get back into contributing! At least the local setup runs smoothly now 👍

Does this affect any part of the UI or only when you call the api directly?

[2017-07-05 16:58] SabreCat commented on #8849
@melarish: This should be API-only; we could update the frontend to use the fixed route, but frontend changes are on hold at the moment. So correcting this on the backend should be sufficient!

[2017-07-05 16:59] SabreCat commented on #8788
@RealDealNikhil: I haven't worked with those commands myself. However, a quick search on your error reveals [this Q&A](http://community.onion.io/topic/1397/swapon-command-doesn-t-exist-in-any-packages)--maybe that'll help you out?

[2017-07-06 03:10] nik-suri commented on #8788
@SabreCat Thanks for giving me this link. How did you create a swap file without running those commands?

[2017-07-06 04:24] nik-suri commented on #8788
@SabreCat Just in case it makes a difference, I am running on mac.

[2017-07-06 15:46] kawunngg commented on #8116
i just tried to clone a challenge, and noticed the tasks disappear right after clicking on the "clone" button. it was around 3:35 pm (UTC).

User ID: ce935e7f-00e6-44bc-a44a-5280553810f0
original challenge: https://habitica.com/#/options/groups/challenges/5836115a-0654-4078-b278-96d2b3c823bd

i discarded it right away, so there's no clone. i hope the info helps.

[2017-07-06 16:50] SabreCat commented on #8788
I've never needed to make a swap file, sorry! I start from [these steps](http://habitica.wikia.com/wiki/Setting_up_Habitica_Locally#Install_NodeJS_and_npm_for_Mac_OS_.2F_Linux_.2F_Unix) and have never had trouble with swap file size.

[2017-07-06 20:43] #8145 closed, assigned to TheHollidayInn

[2017-07-06 21:08] #8674 closed, assigned to nobody

[2017-07-06 21:25] #7274 closed, assigned to nobody

[2017-07-06 22:16] #4676 closed, assigned to TheHollidayInn

[2017-07-07 01:48] nik-suri commented on #8788
@SabreCat Okay, thank you for your help. I will try that.

[2017-07-09 15:46] bwrightson commented on #8838
@Alys Checking in!

[2017-07-09 22:14] melarish commented on #8849
It doesn't look like there's tests for 'GET challenges/groups/:groupId' party or tavern challenges right now? I can see public/private guild and 'official challenge is present' in GET-challenges_group_groupid.test.js. Shall I do those first or would that be a different ticket?

[2017-07-09 22:20] Alys commented on #8838
@bwrightson So sorry we didn't reply! Yes, if you'd like to look into this, please do.

[2017-07-10 03:23] TheHollidayInn commented on #8849
What do you mean by do those first, @melarish? Adding test and features for getting party challenges and habitica challengers would fix this issue.

[2017-07-10 04:31] pineapple-joe commented on #8812
Hey,
I'd like to help solve this issue if no one else is on it already.

[2017-07-10 05:49] melarish commented on #8849
Oh, I mean you can test either by UUID or the 'party'/'habitrpg' alias. I'm assuming getting challenges by group UUID works already? But it isn't tested as far as I can see. I'll add that test too

[2017-07-10 19:48] SabreCat opened #8860 "Make Ethereal Surge work only on non-Mages in the party"
[//]: # (Before logging this issue, please post to the Report a Bug guild from the Habitica website's Help menu. Most bugs can be handled quickly there. If a GitHub issue is needed, you will be advised of that by a moderator or staff member -- a player with a dark blue or purple name. It is recommended that you don't create a new issue unless advised to.)

[//]: # (Bugs in the mobile apps can also

[2017-07-11 11:36] LunarGem commented on #8860
I could try this! I'd just need some time to familiarize myself with the codebase.

[2017-07-11 16:33] SabreCat commented on #8860
@LunarGem: Great, go for it! I suspect there is a simple modification to be made here that'll do the trick. https://github.com/HabitRPG/habitica/blob/develop/website/common/script/content/spells.js#L52-L66

[2017-07-11 16:40] SabreCat opened #8862 "Cannot read property 'leader' of undefined in Group Plan Guild"
[//]: # (Before logging this issue, please post to the Report a Bug guild from the Habitica website's Help menu. Most bugs can be handled quickly there. If a GitHub issue is needed, you will be advised of that by a moderator or staff member -- a player with a dark blue or purple name. It is recommended that you don't create a new issue unless advised to.)

[//]: # (Bugs in the mobile apps can also

[2017-07-11 16:52] SabreCat opened #8863 "Unlock methods for some Quests are incorrect/hardcoded on client"
[//]: # (Before logging this issue, please post to the Report a Bug guild from the Habitica website's Help menu. Most bugs can be handled quickly there. If a GitHub issue is needed, you will be advised of that by a moderator or staff member -- a player with a dark blue or purple name. It is recommended that you don't create a new issue unless advised to.)

[//]: # (Bugs in the mobile apps can also

[2017-07-11 16:57] LunarGem commented on #8863
Do we know what was wrong with the apps that wouldn't allow them to handle the proper code?

[2017-07-11 17:23] SabreCat commented on #8863
Not sure. I think it was missing the relevant cases here https://github.com/HabitRPG/habitica-android/blob/develop/Habitica/src/main/java/com/habitrpg/android/habitica/models/shops/ShopItemUnlockCondition.java#L9-L16, but why that would lead to a crash, I don't know.

[2017-07-11 17:24] LunarGem commented on #8860
@SabreCat I think I have the solution, I just need to find the code that stores the data into that "member" variable. Do you know where that is? Either that or to find code that allows fetching data from UID.

[2017-07-11 17:30] SabreCat commented on #8860
`member` is the iteratee of `target` in the `each` call (see https://lodash.com/docs/4.17.4#forEach). So `member` means a member of the party, and the spell's effects will be applied to each member of the party in turn. The array of party members is sent from the client here: https://github.com/HabitRPG/habitica/blob/develop/website/client-old/js/controllers/rootCtrl.js#L364-L375

EDIT -- Minor co

[2017-07-11 17:31] LunarGem commented on #8863
Java was a little while ago, and I haven't set up my dev environment for this yet, but I'm curious to know what kind of data getUnlockCondition() returns in the ShopItem class. It appears to return unlockCondition, which is a variable declared at the top of the file but never defined. Am I misunderstanding this?

[2017-07-11 17:35] LunarGem commented on #8860
Ah, alright. This fix should be pretty simple, but I'll need to learn me some LoDash first. 😛

[2017-07-11 17:40] SabreCat commented on #8863
I thiiiink that's just the string pulled from the quest's `unlockCondition.condition`. So `invite friends`, or (when fixed) `create account` etc. @vIiRuS might need to confirm, though.

[2017-07-12 15:27] librarianmage commented on #8860
What should happen if all members in the party are Mages?

[2017-07-12 15:29] librarianmage commented on #4384
Is this still an issue?

[2017-07-12 15:31] TheHollidayInn commented on #4384
I haven't seen it on our log system. So, I'd say no.

[2017-07-12 15:32] librarianmage commented on #8863
Is this related to #8801?

[2017-07-12 15:33] librarianmage commented on #8779
@Alys should this wait to see if it is still an issue after the client redesign?

[2017-07-12 15:40] librarianmage commented on #8621
Is this "create / edit" tasks?

[2017-07-12 15:42] librarianmage commented on #8612
@CutTheCode Are you still planning on working on this?

[2017-07-12 15:46] librarianmage commented on #8515
Is this still an issue?

[2017-07-12 15:49] LunarGem commented on #8860
@SabreCat @MathWhiz Hmm. Perhaps the limitation should be one Ethereal Surge per cron? Or if Mage has cast Ethereal Surge this cron, you can't cast Ethereal Surge on them? I notice this fix is exploding in complexity... 😛

[2017-07-12 17:42] bensenberner commented on #8616
It looks as if the avatar sharing functionality has been removed, correct? When I hover over my avatar all I see is my name

[2017-07-12 18:05] SabreCat commented on #8860
@MathWhiz: Good question! Perhaps it should just error out with "no legal targets". But let me check in with the rest of the team on that.

[2017-07-12 18:08] SabreCat commented on #8863
@MathWhiz: Conceptually related, but a different problem.

[2017-07-12 18:08] #4384 closed, assigned to TheHollidayInn

[2017-07-12 18:11] bensenberner commented on #8624
@cTheDragons
- How many Gen 1 White Type pets did you have? I assume more than 18?
- What do you mean when you "bulk fed" them? Did you call the feed API many times in rapid succession? Would you mind posting a snippet of the code you used to perform the bulk feed?

[2017-07-12 18:51] phillipthelen commented on #8863
The issue is that when the android app does not find a matching unlock condition, it returns 0 as the resource ID. Which the system can not find, since it‘s not a valid I’d. Is the plan that the api already returns the localized string for the unlock condition? If we make the change in the android app in the next days, we would be able to update the server side in a week or two (we can‘t update th

[2017-07-12 19:01] LunarGem commented on #8863
I was thinking that 0 could be a problem, but I wanted to make sure I could trace the data through the program before I decided that was the problem. I'm not sure about the differences between server- and client-side in this particular project. Would one need to just add the cases to the switch or is there some dynamic solution we're going after?

[2017-07-12 19:05] SabreCat commented on #8863
@LunarGem: Adding cases to the switch, then later updating the server content with the right strings, would be a simple solution.

A better / more futureproof solution would be to eliminate the switch arrangement entirely, and instead fetch the localized string directly from the API. We'd also want the API to provide a meaningful response when we try to purchase one of these unlockable quests from

[2017-07-12 19:06] SabreCat commented on #8860
Confirmed with @lemoness, saying "No valid targets" (or similar) and refunding the MP spent would do the trick in that scenario!

[2017-07-12 19:07] LunarGem commented on #8863
Would we want to do the simple solution now, and then the better one later, or just do it right in the first place? @SabreCat

[2017-07-12 19:08] LunarGem commented on #8860
Got it, I'll definitely do that when I do the fix. Having some trouble installing things atm.

[2017-07-12 20:12] TheHollidayInn commented on #8014
I believe this is the same issue:
[code]

[2017-07-12 22:11] ForbiddenFig403 opened #8869 "Cannot use my in app log in to log in on website."
[//]: # (Fill out relevant information - UUID is found in Settings -> API)
### General Info
  * UUID: 2b35e3eb-1bb5-48c9-a03a-07b6fe4c320b
  * Browser: Chrome (as far as I know it's the latest version)
  * OS: Windows 10

### Description
[//]: # I cannot post on the Bug Guild on the website without an account, so this is not something I can do. I also have looked through the entire guild list on m

[2017-07-12 23:39] deidyomega commented on #8869
+1

My fiancee used signin with google, on her phone, and it worked, however when she tried to login via the desktop app, it gave her an oauth error

[2017-07-13 02:34] librarianmage commented on #2650
Should this be put on hold to see if it changes with the new client update?

[2017-07-13 02:36] librarianmage commented on #5223
@Alys should this be put on hold to see if this is affected by the client update?

[2017-07-13 02:37] librarianmage commented on #3051
Should this be closed, as the addition of the RYA feature allows one to retroactively get a Perfect day?

[2017-07-13 02:38] librarianmage commented on #2898
Hasn't this been implemented?

[2017-07-13 02:40] librarianmage commented on #3999
@Alys Should this be left until after the client update?

[2017-07-13 02:43] librarianmage commented on #4133
Are these still desired? From what I remember, at least some of these features have been implemented (Profanity filter)

[2017-07-13 02:43] librarianmage commented on #4660
Is this still desired? If so, may I take a look?

[2017-07-13 02:46] librarianmage commented on #4665
What is the status on this?

[2017-07-13 02:47] librarianmage commented on #5294
@Alys should this be put on hold / closed due to its inclusion in #7687?

[2017-07-13 02:50] librarianmage commented on #5024
What is the status of this?

[2017-07-13 08:13] mczuchnowski commented on #8616
@bensenberner you probably have some form of ad blocking which hides this button. I had to disable Ghostery and uBlock Origin to see this.

[2017-07-13 09:59] Alys commented on #8869
@ForbiddenFig403 We'll deal with your login problem here since you've logged this issue but if you have any problems in future, the guild is called "Report a Bug" and can be access from Guilds on the mobile app (you'll find it in the Public Guilds section), or from Help on the website. You can also report bugs from About > Report a Bug in the mobile app's menu.

Can you please give us more informa

[2017-07-13 15:38] ForbiddenFig403 commented on #8869
@Alys Thank you for the information for next time. I have resolved the issue on my end after much googling on how to clear out my cache and figuring out definitively which account I was using on my mobile app. Previously the issue was that when I clicked the "login" ("Enter"/"Play") button, it didn't send me anywhere at all. Another user from the help section addressed me in order to get this info

[2017-07-13 17:36] #8869 closed, assigned to nobody

[2017-07-13 19:08] joedragons commented on #8829
In case relavent, I noticed today that this does not happen for all todos.  The quote above infers since a change but I have 3 todos with subtasks on one account and the middle-aged one auto expands but the younger and older do not.  I noticed this on a new todo on another account so I don't believe fixed but does not seem consistent to me.  I do not recall if I created the tasks different ways bu

[2017-07-13 20:06] lemoness commented on #3051
Good call!

[2017-07-13 20:06] #3051 closed, assigned to nobody

[2017-07-13 20:08] lemoness commented on #3999
We're revamping the way the Rewards column works in the upcoming redesign, so I'm closing this.

[2017-07-13 20:08] #3999 closed, assigned to nobody

[2017-07-13 20:09] lemoness commented on #4133
We definitely still want the username filters, as well as Profanity Filters for Guilds, but it may make sense to split these into individual tickets. Thoughts?

[2017-07-13 20:10] lemoness commented on #5024
This will be handled after the upcoming redesign.

[2017-07-13 20:10] #5024 closed, assigned to nobody

[2017-07-13 20:11] lemoness commented on #4660
This should definitely be on-hold because the Guilds page is getting completely revamped.

[2017-07-13 21:12] LunarGem commented on #4133
@lemoness I don't know if it's any of my business, but generally in my projects if two similar problems don't have the same code solution, I put them in different issues to be closed with different pull requests for organizational purposes. In a large community like this one, that could also serve to allow the problems to be worked on separately and concurrently by different people.

[2017-07-13 21:52] librarianmage commented on #5024
@lemoness Then should it be marked as "on hold" in stead of closed?
On Thu, Jul 13, 2017 at 3:10 PM lemoness <notifications@github.com> wrote:

[2017-07-14 00:56] lemoness commented on #4133
That's how we've been doing it in more recent years, as well. I'm closing
it now, but can reopen if needed.

On Thu, Jul 13, 2017 at 2:13 PM, LunarGem <notifications@github.com> wrote:

[2017-07-14 00:56] #4133 closed, assigned to nobody

[2017-07-14 18:29] lemoness commented on #5024
I closed it because it will be implemented in a different way than is
described earlier in this issue, since it will be integrated with the new
site design. That being said, if devs feel that it's helpful to keep this
issue open in the interim, I'm happy to do so!

On Thu, Jul 13, 2017 at 2:52 PM, MathWhiz <notifications@github.com> wrote:

[2017-07-14 21:34] librarianmage commented on #3553
Should this be put on hold?

[2017-07-14 21:34] librarianmage commented on #2516
Should this be put on hold?

[2017-07-14 21:41] librarianmage commented on #6941
@gwenaellarmet Are you working on this? If not, I'd like to try my hand at it.

[2017-07-15 01:28] lemoness commented on #2516
It should indeed!

[2017-07-15 03:26] Alys opened #8873 "can't create Group Plans"
It's no longer possible to create a group plan. Steps to reproduce:

1. Create a private guild
2. Click the Upgrade button
3. Click either the Stripe or Amazon buttons.
4. Observe that nothing happens - the buttons appear to not do anything. The console shows the error below.

The same thing occurs if you try to create a guild with a group plan from the Social > Group Plans menu item.

[code]

Tha

[2017-07-15 03:29] Alys commented on #8873
Adam Keeton (ec2072f9-bb0a-4181-8e37-6dcba9bafcf0) wants to create a group plan now so we should tell him when this is fixed.

[2017-07-15 03:49] Alys opened #8874 "cancel subscription message is incorrect for free subscriptions from group plans"
When you have a free subscription from a group plan, the Settings > Subscription page displays this error message just below the blue "Subscribed" box:
`String 'cancelSubInfoGroup Plan' not found.`

It should show instead show a message explaining that the owner of the Group Plan can cancel the Group Plan by going to the guild or party that contains the plan, clicking on the "Payment Details" tab,

[2017-07-15 03:56] Alys opened #8875 "problems with hitting enter in chat messages due to name mentions"
_This issue might not be needed because it might disappear once our website improvement project is finished but I'm recording it here since we now know about it. Thanks to citrusella, the serving wench for reporting it! The words below are hers._

Trying to press enter on the website breaks/doesn't work when in a block of text it considers a mention (particularly if there's no trailing space after

[2017-07-15 05:17] Alys commented on #8873
When this is fixed, we should also reply to all the admin emails filed in the [_group_plan_bug](https://mail.google.com/mail/u/1/#label/_group_plan_bug) label.

[2017-07-15 06:05] Alys commented on #2898
We've implemented the ability for a leader to say why they've removed a player, but not the ability for a player to say why they've left the guild. Not sure if it's needed since they could post to party chat or PM the leader.  It might be more open to misuse for rude complaints about a guild.

I'm closing this but I have no objections if another admin reopens it.

[2017-07-15 06:05] #2898 closed, assigned to deilann

[2017-07-15 06:07] Alys commented on #4665
@MathWhiz still suggestion-discussion

[2017-07-15 06:12] Alys opened #8876 "loading screen tip 27 needs to be changed from describing "yesterdailies" to Record Yesterday's Activity"
As mentioned by Guy Geva in the Bug guild, the loading screen tip 27 describes how to create [yesterdailies](http://habitica.wikia.com/wiki/Dailies#Yester-Dailies): "Make late-night Dailies refer to the night before (such as “flossed last night”) so you can check them off in the morning."
It's still sort of relevant but much less than it used to be.

Lemoness says it would be nice to change it to

[2017-07-15 11:17] Alys commented on #3553
@MathWhiz It's suggestion-discussion so it's not currently open for changes to be made, and we're still discussing it intermittently so I think leaving it as suggestion-discussion is probably best. We won't be marking it as help welcome until after the website improvement project is finished.

[2017-07-16 01:57] Alys commented on #8873
Also tell TresyllianCastle (f3a9fdd2-ae8e-4bef-bd80-00e0b202736c) when it's fixed. The non-email advices should go by PM so the users affected don't have to read the Bug guild every day.

[2017-07-16 02:01] Alys opened #8878 "gift subscriptions and gift gems can't be purchased through PayPal"
Trying to send a gift subscription results in a "Server currently unreachable" notification as soon as you click on the PayPal button. The PayPal website is available at the same time.  Creating a non-gift subscription for yourself does not produce this error, nor does attempting to buy gems with PayPal.

Thanks to XBZ1337 (ed9bd06a-742b-4a6c-be3e-f06f49a564ba) for reporting this in the Report a B

[2017-07-16 03:51] librarianmage commented on #4665
@Alys Oh, that makes sense. Thanks!

[2017-07-16 04:03] librarianmage commented on #8876
Would something like "Record late-night Dailies in the morning using the Record Yesterday's Activity" work?

Also, once the wording is worked out, I can replace the text.

[2017-07-16 09:28] Alys opened #8879 "sync / version error when clicking Habit plus button twice quickly"
From Guy Geva (add37003-c9da-40cd-9eb6-803579c06b40) in the Report a Bug guild:

"Clicking a habit 2 quickly times activates it twice, cancels the second one [see screenshot], but keeps the habit counter as 2.
The habit counter didn't go down to the real number after reloading/syncing the page."

I.e. if you click twice quickly enough that a sync error reverses the second change to the user's stat

[2017-07-16 09:34] Alys commented on #8839
Yes, the bug has been fixed.

[2017-07-16 09:34] #8839 closed, assigned to nobody

[2017-07-16 12:13] LunarGem commented on #4665
Is anyone trying to continue the discussion on this? I was thinking that the display name should be just that, a display name, and that mentions etc. should use the username (which is changeable, so that shouldn't be a problem). Hovering over a display name could reveal the username for mentions, the suggestion menu could show display name and username (like Celestine, Rogue Lady of the Moon (@Lad

[2017-07-16 13:54] Alys opened #8880 "gems can't be purchased with Amazon or Stripe"
Gems can't be purchased using Amazon or Stripe (PayPal works). This error appears:

[code]

Thanks to SwedishKoala (56822473-8083-40b7-85ca-24105e205a43) for reporting this in the Report a Bug guild.

[2017-07-16 19:15] gwenaellarmet commented on #6941
@MathWhiz I give it a try but I haven't got a chance to finish this, feel free to give it a try

[2017-07-17 04:06] cTheDragons commented on #8624
I had all of them available. So that is 9 in total. However I was feeding them only one at a time.

Regarding the Bulk Feed, yes I was calling the API multiple times. I have posted by (alpha) code in this [Repository](https://github.com/cTheDragons/Habitica-Bulk-Feed).

[2017-07-17 10:22] Alys commented on #8880
fixed in https://github.com/HabitRPG/habitica/issues/8881

[2017-07-17 10:22] #8880 closed, assigned to nobody

[2017-07-17 10:23] Alys commented on #8873
fixed in https://github.com/HabitRPG/habitica/issues/8881

I've contacted the people listed above, including in the emails.

[2017-07-17 10:23] #8873 closed, assigned to nobody

[2017-07-17 22:01] lemoness commented on #8874
@alys It should wait!

On Fri, Jul 14, 2017 at 8:49 PM, Alys <notifications@github.com> wrote:

[2017-07-18 18:00] yugensoft commented on #8676
Hi, thanks for merging in my other issue PR, but please restore this one back to "help welcome", as didn't manage to work on it and I don't have time now, cheers.

[2017-07-18 19:53] #8570 closed, assigned to nobody

[2017-07-18 20:15] #8693 closed, assigned to nobody

[2017-07-18 20:26] #8807 closed, assigned to nobody

[2017-07-18 20:35] #8497 closed, assigned to nobody

[2017-07-18 20:35] SabreCat commented on #8497
Fixed in #8545 .

[2017-07-19 00:55] Alys commented on #8878
Also happens if you try to buy gems through PayPal as a gift by going through a player's profile screen (not if you buy gems using PayPal for yourself from the gem icon in the website's header).

XMLHttpRequest cannot load https://www.paypal.com/cgi-bin/webscr?cmd=_express-checkout&token=EC-7U775140EV9373346. No 'Access-Control-Allow-Origin' header is present on the requested resource. Origin 'htt

[2017-07-19 02:13] Alys commented on #8350
Another report.

2017-07-19T01:58:45.566Z - error: TypeError: Cannot read property 'push' of undefined
    at /var/app/current/website/transpiled-babel/controllers/api-v3/challenges.js:913:32
    at Array.forEach (native)
    at _callee7$ (/var/app/current/website/transpiled-babel/controllers/api-v3/challenges.js:907:21)
    at tryCatch (/var/app/current/node_modules/regenerator-runtime/runtime.js

[2017-07-19 21:06] #8062 closed, assigned to nobody

[2017-07-20 01:39] #8615 closed, assigned to nobody

[2017-07-20 01:45] #7792 closed, assigned to nobody

[2017-07-20 17:23] SabreCat opened #8888 "Gear that grants no bonus shouldn't say it gives 1.5x"
[//]: # (Before logging this issue, please post to the Report a Bug guild from the Habitica website's Help menu. Most bugs can be handled quickly there. If a GitHub issue is needed, you will be advised of that by a moderator or staff member -- a player with a dark blue or purple name. It is recommended that you don't create a new issue unless advised to.)

[//]: # (Bugs in the mobile apps can also

[2017-07-20 17:28] #7958 closed, assigned to nobody

[2017-07-20 18:50] SabreCat commented on #8863
@LunarGem It's probably worth doing the quick fix, given the display on the apps is legit confusing especially to new users we want to retain. If the more proper solution isn't too difficult, I'd say go ahead with it, but the simple solution is still worthwhile if that's all we can pull off right now.

[2017-07-20 18:53] SabreCat commented on #8876
The tip can be broader in focus than that, methinks. Perhaps:

"Did a Daily yesterday, but forgot to check it off? Don't worry! You'll have a chance to record what you did before starting your new day."

@lemoness @beffymaroo any thoughts on the above?

[2017-07-21 14:56] adbrandau commented on #8876
@SabreCat I think your suggestion is about perfect.

The only thing I would suggest is mentioning function i.e.

"Did a Daily yesterday, but forgot to check it off? Don't worry! You'll have a chance to record what you did before starting your new day **with Record Yesterday's Activity**"

[2017-07-21 16:09] tiazahmd commented on #8876
Hey guys, new to coding. Would love to help out with these minor fixes. Can you guide me on where I can find the appropriate files to modify for this? Also, for future reference, would you suggest how to dig these up etc. and contribute?

[2017-07-21 16:59] SabreCat commented on #8876
@tiazahmd: For updating text like this, you'll want to edit the English language locale files in `website/common/locales/en`. To find the specific string, I suggest using GitHub's search feature for relevant keywords (say, "late-night Dailies" here), or `git grep` on the command line!

[2017-07-21 17:00] SabreCat commented on #8876
Feel free to hop in to the [Aspiring Blacksmiths Guild](https://habitica.com/#/options/groups/guilds/68d4a01e-db97-4786-8ee3-05d612c5af6f) for a whole community of folks helping one another contribute to Habitica code.

[2017-07-21 17:52] tiazahmd commented on #8876
@SabreCat I was actually pointed to here from the Guild. So do I create a pull request for the file?

[2017-07-21 17:55] SabreCat commented on #8876
@tiazahmd Absolutely! Then we'll take a look and get it merged in if all's well.

[2017-07-21 17:55] #7417 closed, assigned to nobody

[2017-07-22 00:44] Alys opened #8892 "challenge tasks become untagged"
Sometimes tasks belonging to an active challenge will become untagged, without the task owner removing the tags.

I have not been able to replicate this bug but I've seen a few reports of it, notably from shanaqui. I'm logging this to help us gather data and investigate.

I suspect (but have no evidence yet) that this can happen when a challenge is edited and that it only affects the challenge own

[2017-07-22 01:18] tiazahmd commented on #8876
@SabreCat which branch do you use for submissions?

[2017-07-22 01:55] Alys commented on #8362
@krolov I'm putting this on hold because we're most of the way through a project to improve the website, which might make this issue irrelevant, or at least will change that code that needs to be modified to fix it.

[2017-07-22 01:58] Alys commented on #8222
A similar problem exists for challenges: when a challenge owner deletes their account, the challenge should become marked as not having an owner so that we can easily find it and close or adopt it.

I've updated the top post to include this note.

[2017-07-22 03:02] Alys opened #8893 "mana notifications are shown to users under level 10"
Under some circumstances, a player below level 10 can see a notification showing that mana has been removed. Mana should be invisible to the player until they reach level 10 and choose a class (not visible if they opt out of the class system).

I don't yet know what triggers the notification but I've just rebirthed so I'll watch for it.

This was reported by _Meakuel (4382653f-4dbe-4f0f-84dd-6127c

[2017-07-22 18:11] LunarGem commented on #8888
Would someone like me to try this? I'm almost done with another PR, I could try this little one, too.

[2017-07-22 21:58] guyguy2001 commented on #8619
After a lot of time fighting with bugs and staying at the same spot for a long time, I think I should give this one up and let someone else come at this with a new perspective. **HOWEVER, PLEASE USE MY FORK OF IT AS A STARTING POINT**. It will make things so much more easier for you, as I also added a new badge type for this. Some notes and todos for whoever takes this on:

- The branch in my repo

[2017-07-22 22:41] LunarGem commented on #8863
@SabreCat I'm doing the simple fix now, but after I finish we can keep the issue open for someone to work on the proper one? It's a bit of an important issue and it would take a lot more research for me to be able to handle the big fix, I think.

[2017-07-23 06:53] Alys commented on #8863
@LunarGem We can do that! Thank you for mentioning it. When you create a pull request, in the title and/or body write "partial fix for https://github.com/HabitRPG/habitica/issues/8863". That will link your PR to the issue but make it clear that the issue should be left open. Don't write "fixes https://github.com/HabitRPG/habitica/issues/8863" because that would cause the issue to be automatically

[2017-07-23 06:56] Alys commented on #8619
@guyguy2001 Thank you so much for all those detailed notes! I've marked this as help welcome and put an edit in the top post to direct the attention of other coders to your comment. If the final fix is based on your code, you'll get partial credit towards a contributor tier for it. Please remind us of that if you notice we've forgotten when the issue is closed!

[2017-07-23 08:47] Alys commented on #8888
@LunarGem I'm sorry but it's best that this issue isn't done at the moment. The changes needed are purely in the client-side code, and we're most of the way though a project to rewrite that code, so any work done on this now would have to be re-done later. I'm putting this on hold until that project is finished. If you'd like to work on it then, you'd be welcome to!

[2017-07-23 09:40] guyguy2001 commented on #5279
@Alys Can I work on it, now that isDue exists?

[2017-07-23 09:46] guyguy2001 commented on #8620
Just like I said, I merged this with the mount achievements, and then, as I described in #8619, I quit it, but now all that remains in both is identical (except for tiny differences in calculations, like the fact that every triad bingo is 180 pets and not 90), and solving one will solve the other. So, if you'd like to contribute to this achievement, look at my large comment in #8619 to see what ne

[2017-07-23 10:25] LunarGem commented on #8888
@Alys Ah, ok!

[2017-07-23 10:28] LunarGem commented on #8619
I could maybe try this next? I'm experiencing an odd amount of motivation this week :P

[2017-07-23 10:41] Alys commented on #5279
@lemoness  Seeking your approval for the proposed fix:

Currently, when you cast Stealth, it protects you from a certain number of Dailies that can be up to about half the number of TOTAL Dailies you have. For a high-Per Rogue, two casts can hide all Dailies.

The proposed fix is to make Stealth less powerful by counting only the active Dailies and by making each cast have a smaller effect than th

[2017-07-23 10:43] Alys commented on #8620
@guyguy2001 Good points, thanks! I'll put this on hold and mention it in  #8619 and we will close this if the PR for that fixes both.

[2017-07-23 10:45] Alys commented on #8619
@LunarGem Please do, thank you! See also https://github.com/HabitRPG/habitica/issues/8620 in particular the final comment from @guyguy2001. If you do a pull request that fixes both this issue and that one, please write "fixes https://github.com/HabitRPG/habitica/issues/8619 and fixes #8620" in the title of your PR. That will cause both issues to be closed automatically if your PR is merged.

[2017-07-23 11:40] Audiotuete commented on #8878
Hi the Error is caused in habitica/website/client-old/js/services/paymentServices.js:365 by the `$http.get(url)` method. For some reason angulars `$http` is not attaching the right header to the requests.
The generated URLs are vaild. When you open them from the error in the console or request them via Postman they work just as intended.

My first somewhat hacky try would be to explicitly set a he

[2017-07-23 12:23] TNychka commented on #5279
@Alys if @guyguy2001 would like to do this, thats fine by me!

[2017-07-23 12:44] MathWhiz commented on #8876
Develop is the branch that all submissions branch off of.
On Fri, Jul 21, 2017 at 8:18 PM Imtiaz Ahmed <notifications@github.com>
wrote:

[2017-07-23 18:39] guyguy2001 commented on #5279
So do I start working on it now, or do I need to wait for approval?

[2017-07-23 19:09] TNychka commented on #5279
@guyguy2001 You're probably okay to start looking at it, but just wait for Alys or lemoness to confirm before committing or going too in depth.
The code I referenced above is located in spells.js (habitica/website/common/script/content) around line 197, see what you can do with that.

[2017-07-23 23:49] Alys commented on #8862
This also happens with normal group plans, possibly when the subscription has ended (so it could be related to a payment method not being there). I've been noticing it for days but forgetting to report it. It doesn't seem to do any harm.

[2017-07-24 16:34] CharityB commented on #8829
Any update on when the project might be completed that is going to correct this issue?

[2017-07-24 19:41] SabreCat commented on #8878
@Audiotuete: At the moment, the default config for Content-Type is `application/json;charset=utf=8`; you're suggesting we change that to `text/plain`?

[2017-07-24 20:07] SabreCat commented on #8329
This got duplicated in #8863 and a bunch of discussion happened there. Normally I'd close the newer dupe, but since there's more detail in that ticket, I'm closing this one instead. Sorry @TheHollidayInn!

[2017-07-24 20:07] #8329 closed, assigned to nobody

[2017-07-24 20:43] Neromaru commented on #8443
I'd like to help!) If this is still in progress ) #"New to git"#

[2017-07-24 20:45] SabreCat commented on #8443
@Neromaru Go for it! @johnpaulada relinquished claim on it, so the in-progress tag is yours. Let us know here or in the [Aspiring Blacksmiths Guild](https://habitica.com/#/options/groups/guilds/68d4a01e-db97-4786-8ee3-05d612c5af6f) if you need any assistance navigating Git or the code!

[2017-07-24 20:51] Neromaru commented on #8893
As first thing that comes to my mind is to show mana but for characters whose level is below 10 set to 0

[2017-07-24 20:59] Neromaru commented on #8443
where can i get the code to watch through ?

[2017-07-24 21:18] SabreCat commented on #8443
@Neromaru You can browse the code right here on GitHub! https://github.com/HabitRPG/habitica lets you navigate through using GitHub's site.

For editing, you can get a step-by-step how-to on obtaining your own copy of the code and setting up your own Habitica server [on the wiki here](http://habitica.wikia.com/wiki/Setting_up_Habitica_Locally)!

[2017-07-24 21:22] Neromaru commented on #8443
@SabreCat Sorry for disturbing, but can i find neede file quikly by using "#" sign ? And also now i'm installing Habitica server

[2017-07-24 21:24] SabreCat commented on #8443
@Neromaru What do you mean by finding files with #? I'm not familiar with that convention.

[2017-07-24 21:29] Neromaru commented on #8443
@SabreCat Sorry for disturbing again I mean after request, posted #8893 or etc and near some code file on git I also see "#" sign
Sorry, I'm really newbie to git but want to help.

[2017-07-24 22:02] SabreCat commented on #8443
Each [issue ticket](https://github.com/HabitRPG/habitica/issues) and [pull request](https://github.com/HabitRPG/habitica/pulls) gets a unique ID. Referencing that ID with a # in front of it in a GitHub comment automatically creates links between the comment and the ticket or PR, and from that ticket or PR back to the comment.

I'm still not sure what you mean by code files with #. :\ If you go to

[2017-07-24 22:03] Neromaru commented on #8443
Thanks, u understood me correctly now i se that was my conprehansion issue of that thanks a lot.

[2017-07-24 22:05] SabreCat commented on #8443
OK, great! You can also click a code line number, hold Shift, and click another line number to highlight a block of code. That makes a link like this: https://github.com/HabitRPG/habitica/blob/develop/website/server/libs/cron.js#L19-L27

[2017-07-24 23:15] lemoness commented on #5279
I think that these fixes have promise! However, I would like us to test
them to make sure that they don't have a negative impact on retention -- I
could see there possibly being a case where users are casting Stealth to
make Habitica easier and less discouraging for themselves.

On Sun, Jul 23, 2017 at 12:09 PM, Tyler Nychka <notifications@github.com>
wrote:

[2017-07-24 23:56] Alys commented on #5279
@guyguy2001 Go ahead with this, thank you!

Unless another admin says otherwise, keep the old behaviour in the code as well. Use an if-else block for switching between the old and new behaviour. For now, the `if` condition could be just `true` (i.e., `if true do new behaviour else do old behaviour`). Later we can adjust that for A-B testing or just to be able to easily switch between the new and o

[2017-07-25 01:06] Audiotuete commented on #8878
Hi, my first guess is not going to fix it, but I found a simple workaround that definitely works.
Just inject `$window` at the top of habitica/website/client-old/js/services/paymentServices.js:4 and :5 after `$rootScope` like this:
[code]
and instead of making an `$http` request just call `$window.open(url, '_blank');` like this:

[code]
Sorry for not PRing myself, but I'm still somewhat overwhelm

[2017-07-25 11:18] Neromaru commented on #8443
@SabreCat https://drive.google.com/open?id=0B_UxcC6DaSQQM2NTd3BrU3Q1Wmc
got this thing while installing server try to go on nd error connection occured

[2017-07-25 12:46] joedragons commented on #8570
Is this fix live (on the website)?  I saw the same behavior this AM.  I still don't have a good handle over when merged code goes live, I suppose.  Just wanted to make sure there's no edge cases, really.

[2017-07-25 15:01] SabreCat commented on #8570
@joedragons Not live yet! It's in a week of staging testing before we send it out to everyone. The best way to see what's actually out on the production site is the [releases page](https://github.com/HabitRPG/habitica/releases).

[2017-07-25 15:03] joedragons commented on #8570
Thanks @SabreCat ; I'll monitor that page from now on=)

[2017-07-25 15:04] SabreCat commented on #8443
@Neromaru Looks like maybe MongoDB isn't running. You'll need to run `mongod` in your MongoDB install's `bin` directory before you start the Habitica server.

[2017-07-25 17:30] Neromaru commented on #8443
@SabreCat i ran the server but cannot connect via studio 3t and trully in which ngis file which response to this message ? #Sorry for disturb

[2017-07-25 19:35] Neromaru commented on #8443
@SabreCat ok i get one thing, but when i delete member nothing comes to him, i mean notification, but in messages it goes clear

[2017-07-25 20:44] guyguy2001 commented on #8619
@LunarGem It took me an absurdly long time to realize this, but server side functions, being server side, apply to all platforms. Therefore, you don't need to track achievements gained on android respectively. Only 2 kinds of mounts/pets are left to track in retrospect afaik- past ones, and single time ones (like events). For the event ones, I would assume all of them are gen 2 (We gotta ask that

[2017-07-25 20:47] SabreCat commented on #8443
@Neromaru I believe this issue only comes up when making an API call to delete the member; it's not implemented on the current Web site.

[2017-07-25 23:29] SabreCat commented on #8764
I believe this would be a client side fix, so best to pause this until the redesign is complete. If investigation suggests the majority of this would be server-side, though, I'd be happy to flip the label back.

[2017-07-25 23:37] SabreCat commented on #8500
This looks likely to be an Angular client issue. Putting it on hold for the Vue redesign.

[2017-07-25 23:38] SabreCat commented on #8490
Client issue. Putting on hold until after the redesign.

[2017-07-25 23:39] SabreCat commented on #8488
Likely Angular client issue. Placing on hold for frontend redesign.

[2017-07-25 23:45] SabreCat commented on #8333
Likely client side issue. Pausing for the frontend redesign.

[2017-07-25 23:46] SabreCat commented on #8304
Client/UI issue. Placing on hold for the frontend redesign.

[2017-07-25 23:52] SabreCat commented on #7670
Client side quirk. Placing on hold for frontend redesign.

[2017-07-25 23:54] SabreCat commented on #7390
By my read, this is something the client would need to do as needed, so I'm pending this for the frontend redesign. If your understanding is different, @Alys, go ahead and flip it back!

[2017-07-25 23:55] SabreCat commented on #6982
Placing on hold for frontend redesign.

[2017-07-25 23:55] SabreCat commented on #6961
Client issue. Pending for frontend redesign.

[2017-07-25 23:56] SabreCat commented on #6679
Client issue. Pending for frontend redesign.

[2017-07-25 23:58] SabreCat commented on #6559
Might have server-side pieces that can be done prior to redesign, but it's largely a matter of information display on the client, so I'm placing this on hold for now.

[2017-07-25 23:58] SabreCat commented on #6540
Client would need to query this to warn the user. Pending for redesign.

[2017-07-26 00:01] SabreCat commented on #5557
This will need enough UI implementation that it should be placed on hold until the frontend redesign is ready.

[2017-07-26 00:02] SabreCat commented on #5294
Pausing this for the frontend redesign.

[2017-07-26 00:02] SabreCat commented on #5233
Client display issue. Pending for frontend redesign.

[2017-07-26 00:04] SabreCat commented on #4648
Client UI issues. Pending for after frontend redesign.

[2017-07-26 00:05] SabreCat commented on #4559
Client code refactoring. Pending for after the redesign.

[2017-07-26 00:05] SabreCat commented on #4555
Client display issue. Pending until after the frontend redesign.

[2017-07-26 00:07] SabreCat commented on #4017
Concerns client UI elements. Pending until after frontend redesign.

[2017-07-26 00:07] SabreCat commented on #4012
Client display issue. Pending until after frontend redesign.

[2017-07-26 00:08] SabreCat commented on #3977
Client display issue. Pending until after frontend redesign.

[2017-07-26 00:08] SabreCat commented on #3730
UI feature. Pending until after frontend redesign.

[2017-07-26 00:09] SabreCat commented on #3625
Will need enough client UI work that this should be pended until after the frontend redesign.

[2017-07-26 05:26] Alys commented on #8893
@Neromaru Before level 10, mana hasn't been introduced to the player yet, so they shouldn't see anything at all about it because it's confusing.

Admittedly, we don't do a good job of explaining mana when they reach level 10, but that might change in future.

[2017-07-26 12:01] Vampitch opened #8900 "Turkish translations ready for release"
Hey everyone, the Turkish translations are once again complete -except for about three quest translations which I suspect will be done asap-. Would be awesome if we could get it officially released! Thanks so much!

[2017-07-26 16:20] ghost commented on #5639
For the record:

Transifex supports custom variable delimiters now. I've added the `<%= name %>` pattern to the list of placeholder delimiters for JSON variables - which is used by Transifex for automatic checks. Transifex will return error and won't let a translator save a string if a variable from the original string is missing in the translation.

In other words, translators (including reviewer

[2017-07-27 10:56] Neromaru commented on #8443
@SabreCat accept me regretions, i failed , i'll keep trying but again, sorry, my knowledges aren't good enogh as i thought...

[2017-07-27 15:33] SabreCat commented on #8443
@Neromaru: OK, thanks for letting us know! Feel free to further hunt the "help welcome now" tag for something that might better fit your abilities.

[2017-07-27 21:16] SabreCat commented on #8900
Closed in https://github.com/HabitRPG/habitica/commit/f7220e7e8cb650cfd13893bfeda47f8d9d7c1497.

[2017-07-27 21:16] #8900 closed, assigned to nobody

[2017-07-28 16:04] LunarGem commented on #8863
Nobody answered my question on the android repo, so I thought I'd repost (do you guys check there often?)
Can someone tell me where the code that `com.habitrpg.android.habitica.R` refers to is? I'd like to make sure that my returns are correct instead of just guessing and copying from the other one.
Also, is there a Trello board for the android app? I was wondering about some features from the mai

[2017-07-28 16:07] LunarGem commented on #8893
@Alys If anyone wanted some user-focused language rewritten I could probably tackle that.

[2017-07-28 20:09] ghost commented on #5155
I'm not sure who uploads the files to Transifex now, so may I have the attention of @paglias or @crookedneighbor or @SabreCat

Please excuse me if it's a false alarm, but could you please check if your update script includes all the files.
July 27, 2017 we get 5 files updated with new content on Transifex, but not the following files: front.json, messages.json, newClient.json (missing), npc.json,

[2017-07-28 20:22] SabreCat commented on #5155
@GitHubSphinx: newClient.json is intentionally left out for now, as that's not ready for public use yet. The update script has the rest, but the base strings either haven't been edited in those files recently or have only been edited on `develop`, not `release` which represents what's actually being deployed to production. You should see those files get updated today where necessary.

[2017-07-28 20:24] ghost commented on #5155
@SabreCat thank you very much for clarification!

[2017-07-29 08:16] Alys commented on #8893
@LunarGem Best to wait for the current website code redesign project to be finished, but maybe after that. Thank you for offering!

[2017-07-29 08:22] Alys commented on #8863
There isn't a Trello board for the Android app but suggestions are collected by email from the app's About > Send Feedback button, and staff periodically choose website features to port to the mobile apps.

The Android repo is the best place to ask about Android code. Admins get emails when comments are made there but there's only a couple who do work on the Android app so it might take a while fo

[2017-07-29 13:46] Alys commented on #8515
@Taotao120 I'm closing this now but if you'd like more help, see the question from my previous post, and let us know if there's any other information you can give us. We'll still see your reply and can reopen this if necessary.

@MathWhiz Thanks!

[2017-07-29 13:46] #8515 closed, assigned to nobody

[2017-07-29 13:48] Alys commented on #8779
@dulcissimahabitica I'm closing this because I know it will no longer be an issue after the client redesign that MathWhiz mentioned, which is not far away now. I'm sorry we couldn't work out what caused this!

[2017-07-29 13:48] #8779 closed, assigned to nobody

[2017-08-01 00:07] cTheDragons commented on #8624
Hi all! I have updated my code now, so you will need to view this [commit](https://github.com/cTheDragons/Habitica-Bulk-Feed/commit/fa7a0c4658436eef921dd1027e9167b82d186a45) to see the original.

With the latest [code](https://github.com/cTheDragons/Habitica-Bulk-Feed) I have determine if you feed the pets in serial it works well. (Food is deducted as expected).

[2017-08-01 02:41] librarianmage commented on #8612
@beffymaroo or @lemoness, would you be able to clarify?

[2017-08-01 02:44] librarianmage commented on #8663
@beffymaroo, should the previous badge be replaced by the second one?

[2017-08-01 04:37] librarianmage commented on #8663
Is there a 'disabled' icon?

[2017-08-01 15:36] regifr commented on #8760
can I join this issues?

[2017-08-01 15:46] regifr commented on #8760
can I join this issues?
I think I got the solution for this
![screenshot_617](https://user-images.githubusercontent.com/30581795/28834930-f294ea16-770d-11e7-859f-93e9fcf8ec1c.png)

[2017-08-01 15:54] regifr commented on #8760
like this
![screenshot_615](https://user-images.githubusercontent.com/30581795/28834381-47ec52b2-770c-11e7-86da-8e12e54376d6.png)

[2017-08-01 17:11] jeffg-dev commented on #4712
Added $15 bounty but didn't see it show up here, so... https://www.bountysource.com/issues/8685226-graph-money-earned-spent

[2017-08-01 17:18] SabreCat commented on #8760
@regifr The issue is marked as on hold because the frontend is being completely redesigned (see yesterday's Bailey announcement). You can submit a PR if you'd like, but it's not likely to end up live for long.

[2017-08-01 18:59] thezeronine commented on #8443
Hey guys! I'm interested in working on this issue. As far as I understand no one is on it?

[2017-08-01 23:57] lemoness commented on #8612
I think that idea has potential! We'd just need to clarify where all the
tutorial pieces are. I'd like it to be a separate badge, though, because
part of this badge's purpose is to give users an easy win that introduces
them to the achievement system.

Regardless, this should be "on hold" until the redesign is finished, so I'm
updating that now.

On Mon, Jul 31, 2017 at 7:41 PM, MathWhiz <notifica

[2017-08-02 01:02] BennyHarv3 opened #8909 "Docker container cannot start the application after being built"
[//]: # (Fill out relevant information - UUID is found in Settings -> API)
### General Info
  * UUID: 26d0ea00-bad1-4ec2-8531-918d522e6e47
  * Browser: Firefox
  * OS: macOS Sierra 10.12.6

### Description
I will open a PR after creating this as I have a local fix. I'm citing the [Docker section of Setting Up Locally](http://habitica.wikia.com/wiki/Setting_up_Habitica_Locally#Docker) wiki where ap

[2017-08-02 01:07] BennyHarv3 opened #8910 "Docker container does not mount local source correctly to run the app"
[//]: # (Fill out relevant information - UUID is found in Settings -> API)
### General Info
  * UUID: 26d0ea00-bad1-4ec2-8531-918d522e6e47
  * Browser: Firefox
  * OS: macOS Sierra 10.12.6

### Description
I will open a PR after creating this as I have a local fix. I'm citing the [Docker section of Setting Up Locally](http://habitica.wikia.com/wiki/Setting_up_Habitica_Locally#Docker) wiki where ap

[2017-08-02 01:17] BennyHarv3 commented on #8554
I think this issue is obsolete? I just ran all the Docker container instructions in the [wiki](http://habitica.wikia.com/wiki/Setting_up_Habitica_Locally#Docker) and didn't encounter this. Did encounter #8909 and #8910, though, but I fixed them and opened a PR for them.

[2017-08-02 02:21] regifr commented on #8760
I new in Habitica and Github. I like the contributing system in Habitica 😄
I want contribution to Habitica ~~so i search issues, and I see this issue~~
sorry if I have a mistake in the pull request, its my first PR

[2017-08-02 10:44] Alys opened #8914 "Record Yesterday's Activity (RYA) confusion: sync errors"
_This is not exactly a bug but it's a behaviour that's confusing enough that it would be good to change it if we can. It's something to look at after the new website is released, if it's still happening then._

<strike>When you see the RYA modal first thing in the day, you can click Escape to dismiss it without going through the process of completing Dailies and starting your new day. You can keep

[2017-08-02 14:17] SabreCat commented on #8554
@BennyHarv3 Thanks for pointing that out! I'll close this issue, but of course we can reopen it if anyone runs into trouble again.

[2017-08-02 14:17] #8554 closed, assigned to nobody

[2017-08-02 14:19] SabreCat commented on #8443
@TheZeroNine: You are correct! Feel free to investigate, with our thanks!

[2017-08-02 15:35] #8578 closed, assigned to SabreCat

[2017-08-02 15:38] #8862 closed, assigned to SabreCat

[2017-08-02 18:12] ghost opened #8917 "Translators suggest minor changes to some locale strings"
As noted and/or suggested by translators, some strings may benefit from slight changes:

Key - Suggestion - Reasoning
- [ ] enterprisePlansEmailSubject - should better be static as suggested by @mokovec - confirmed by @SabreCat https://github.com/HabitRPG/habitica/pull/8729#issuecomment-318910450
- [ ] deleteSocialAccountText & incorrectDeletePhrase - need token (variable) for DELETE - translators

[2017-08-02 18:58] thezeronine commented on #8443
Is there a testcase for this route / function somewhere? I'm not familiar with the project setup yet and I might overlook something.

[2017-08-02 19:11] #8909 closed, assigned to nobody

[2017-08-02 19:11] #8910 closed, assigned to nobody

[2017-08-02 19:18] SabreCat commented on #8443
@TheZeroNine: Relevant tests can be found in https://github.com/HabitRPG/habitica/blob/develop/test/api/v3/integration/groups/POST-groups_id_removeMember.test.js . I believe the specific test is https://github.com/HabitRPG/habitica/blob/develop/test/api/v3/integration/groups/POST-groups_id_removeMember.test.js#L126 ; using an & in the query param https://github.com/HabitRPG/habitica/blob/develop/w

[2017-08-02 19:27] #8789 closed, assigned to nobody

[2017-08-02 19:43] #8812 closed, assigned to nobody

[2017-08-02 21:16] Alys opened #8920 "can't complete Dailies in Record Yesterday's Activity (RYA) screen if not on tasks page"
If you're viewing any page except the tasks page when the RYA screen appears, you can't complete the Dailies that appear in the screen. You can tick the checkboxes but the tasks don't go grey and they do lose streaks and damage you when cron runs.

This will happen to anyone who has left the website open overnight set to any page except the tasks page.

It's probably a source of a lot of the bug r

[2017-08-02 22:39] asmfreak opened #8922 "Group task API is documented (an possibly coded) wrong"
### General Info
  * UUID: 1f740057-8e11-4ca3-a9b2-54886615dca6
  * Browser: any
  * OS: any

### Description
This is the current implementation:
[code]

apiDoc reports `/api/v3/group/:groupId/tasks/:taskId/move/to/:position`,  whereas actual code uses `/group-tasks/:taskId/move/to/:position`. Also `groupId` isn't used in actual function text.

[2017-08-03 02:02] librarianmage commented on #8922
https://github.com/HabitRPG/habitica/blob/7b9ebc34655320b5df3c1c351897f9b8d4f38c53/website/server/controllers/api-v3/tasks/groups.js#L95-L145

[2017-08-03 06:15] thezeronine commented on #8443
Thanks! That's what I was looking for ;)

[2017-08-03 19:12] thezeronine commented on #8443
I've been trying to reproduce this bug with a test. I always got `message = undefined` with
[code]

it seems to me that `req.query` is always undefined for this route. after changing `let message = req.query.message` to `let message = req.body.message` it worked.
 (https://github.com/HabitRPG/habitica/blob/develop/website/server/controllers/api-v3/groups.js#L883)

I guess this is an issue with my

[2017-08-03 19:41] SabreCat commented on #8443
@cTheDragons, do you know what might be different between your and @TheZeroNine's setup?

[2017-08-04 10:03] cTheDragons commented on #8443
@TheZeroNine is your message:

? As stated above I think the issue is because there is an ampersand (&) in the message that is causing the issue.

Regarding environment, I'm using Javascript as per my [Party & Guild Data Tool](https://github.com/cTheDragons/Habitica-Party-Guild-Data-Tool)

I have just tested it with the latest public release. The following message:

is still emailed out as:

As yo

[2017-08-04 10:54] thezeronine commented on #8443
@cTheDragons I cannot send any message at all, the `req.query` is always `undefined` when I try to send messages. The message is in `req.body` so I think I'm doing something wrong, because every other route just works as expected (with the POST params being in `req.query`).

I will try your AJAX call on the weekend to see if it works on my side.

Yes, you can just append `#L123` to the end of the

[2017-08-07 02:05] TNychka commented on #7645
So, I'm very close to fixing this, there is just one issue I'm encountering you can probably answer pretty quickly.
Currently it appears that I've fixed the reordering bug, it will now not include tasks that have been completed when a user drags and drops so it won't "randomize" the task locations anymore.
But, obviously I would like to fix the issue of having the completed tasks in there in the f

[2017-08-07 05:04] SalethiNat94 opened #8927 "Error: cannot find module 'habitrpg-shared' (Setting up Habitica locally)"
* UUID: 7a1b0a51-0221-4542-b09f-c5e27ba83f31
  * Browser: Chrome version 59.0.3071.115
  * OS: Windows 10

I'm trying to install Habitica locally: I followed all the instructions provided in the online guide, and everything worked smoothly until I attempted to run `npm start`. `The console told me that various important modules needed to be installed, which looked like this:

 Local Npm module "gr

[2017-08-07 08:09] Alys commented on #8927
@Pizilden Your fork of the repo (https://github.com/Pizilden/habitrpg) is very very old.

I recommend deleting C:\users\daniel\desktop\habitica_base\habitrpg completely including everything installed under it, then update your fork in github. Once it's identical to https://github.com/HabitRPG/habitica/ , start from the top of http://habitica.wikia.com/wiki/Setting_up_Habitica_Locally again. There

[2017-08-07 09:21] paglias commented on #7645
@TNychka user.todos doesn't exist on the server, it's only used in the client version. On the server you have user.tasksOrder.{taskType} which is an array of sorted tasks ids divided by task type and tasksOrder.todos should already include only non completed todos. The real todos are stored in the `tasks` collection inside the database

[2017-08-07 10:06] Alys commented on #7645
One aspect of this bug is that tasksOrder.todos sometimes does include the IDs of completed To-Dos - I see that often in reports of this bug. It can also contain the IDs of deleted To-Dos, sometimes does not have the IDs of incomplete To-Dos, and occasionally contains duplicated IDs. The same applies to the other tasks types, although To-Dos are the most common culprit.

[2017-08-07 22:27] SiGhTfOrbACQ commented on #7841
I have had the same issue happen twice now to me - I can't quite figure it out. It seems to happen when I level up. I definately charges you, and you get the gems. But upon leveling up - the gems I purchase disappear. Is there logs to see what happened?

I am level 33; and I don't know about the rebirth thing yet.

[2017-08-07 22:57] pgoswami3 commented on #8917
@GitHubSphinx, I'd like to work on this issue & this would be my first open source contribution in the community.

[2017-08-08 03:37] SalethiNat94 commented on #8927
@Alys Wow, holy outdated repos Batman O__O If I remember correctly I forked the old HabitRPG repo way back when I joined in 2014, but at the time never got around to doing anything with it. Attempts at updating this fork gave me nothing (even when I tried to sync the upstream) so I deleted the fork and cloned a completely new one, and the setup worked perfectly this time! Thanks for your help ^__^

[2017-08-08 03:37] #8927 closed, assigned to nobody

[2017-08-08 11:45] Alys opened #8931 "bugs in party invitations - sending / cancelling / accepting?"
I've seen enough reports to be pretty sure that the latest code related to party invitations has bugs in it. Below are some of the reports. I haven't had a chance to investigate in detail or even find out which platforms problems appear in, but I'm dumping all this here now so it doesn't get lost or forgotten about. I'll clean up this issue once I or anyone else has investigated properly.

Transur

[2017-08-08 17:54] SabreCat commented on #8917
@pgoswami3 Go for it, with our thanks! Be sure to comment here or in [the Aspiring Blacksmiths Guild](https://habitica.com/#/options/groups/guilds/68d4a01e-db97-4786-8ee3-05d612c5af6f) if you need assistance as you get started.

[2017-08-08 23:10] thatrobotdev commented on #8879
Do you think we could set a time limit, like 2 secs, until you can press the button again, to make sure people aren't spamming?

[2017-08-09 00:28] Alys commented on #8879
We've had a time limit in the past and it was very unpopular. We had feedback that some players would record their instances of good and bad Habits all at the same time, which is a valid use case, and the limit made it more difficult for them. However that might have been more than 2 seconds; I can't recall. A 2 second limit would certainly help with this but I'm more concerned about how the user'

[2017-08-09 00:32] deilann commented on #8879
Oh my, I remember when there was a time limit imposed in the past. It was
awful, and I didn't even record all my habits at once. It seemed like a
pretty short duration when it was announced, but one thing I've learned
from playing MMOs is that a lot can happen in 2 seconds. ;) It's way longer
than we think it is, when waiting. If a time limit were to be imposed, half
a second would probably be bet