[2016-11-08 23:19] Alys commented on #8199
We have the problem with Reset not unassigning attribute points recorded at https://github.com/HabitRPG/habitica/issues/6482 so I'm going to close this issue. If you'd like to follow the progress of the fix, there's a subscribe button in the right hand column of the issue page.

I've removed the old quest information from your account.

We actually have a guild within Habitica now for faster repo

[2016-11-08 23:19] #8199 closed, assigned to nobody

[2016-11-08 23:23] Alys commented on #8196
@lynxlynxlynx The confirmation screen for Rebirth mentions that challenge tasks aren't affected, but if you'd like the wording to be changed to make it more understandable, please comment here with suggestions. It's brief so it might not be clear enough.

[2016-11-09 07:45] Pexpy commented on #8199
Heya, thanks.

I just remember using this from a year ago when I reported on another issue and got here by browser history. Wasn't aware you had more systems in place since.

[2016-11-09 08:10] Pexpy commented on #8199
Oh, and would that be the place to go to to fix my account - theres other little things like Perfect Day badges.

I would just Delete Account instead but I've got a good few subscriber items I'd rather not lose.

[2016-11-09 14:21] lynxlynxlynx commented on #8196
Ah, must've missed it, as it's not my first rebirth and it has been ages since I translated that bit.

[2016-11-09 19:57] paglias opened #8201 "Redesign Implementation Todos"
This is an internal issue used to keep track of what's needed for the redesign.

## General

### Performances
- [ ] Load only the locales needed: in particular do not load static pages' strings in the app and vicevers
- [ ] get rid of spritesheets
- [ ] split vendors.js and the css into different chunks too

### Grid
- [x] Change gutters to match Zeplin's (24px vs 30px in Bootstrap by default)
###

[2016-11-09 23:22] khipkin commented on #8201
https://help.github.com/articles/tracking-the-progress-of-your-work-with-projects/

[2016-11-10 08:22] paglias commented on #8201
@khipkin I think that for everyone's sanity it's better if I don't create a separate issue for each item in the list. It'll just create a lot of noise in the repo for things that we won't be able to fix for some time

[2016-11-10 20:36] #8137 closed, assigned to nobody

[2016-11-11 00:44] TheHollidayInn commented on #8132
@Alys Where is the current logic that locks the pet features for users before they are level 3? I'm not seeing the code, and on my local install, I am able to use the pet features before level 3.

[2016-11-11 14:21] Frownigami1 opened #8205 "Rapid Habit Completion Exploit"
Not sure if this a bug or not, but being able to rapidly 'complete' (spam the + button) a habit seems to defeat the point of the app. This can be done indefinitely to gain XP and currency. Would anyone be opposed to me implementing a small delay (1 minute perhaps) between being able to 'complete' the same habit?

In addition, on the web client, doing this floods the screen with XP and currency gai

[2016-11-11 14:26] librarianmage commented on #8205
See #2541

[2016-11-11 14:29] Frownigami1 commented on #8205
Thanks. Didn't see that.

[2016-11-11 14:37] Frownigami1 commented on #8205
So what about the notification flooding on the web client? How about limiting notifications to a frame?

http://imgur.com/a/4JTpj

[2016-11-11 14:37] librarianmage commented on #8149
Should this be marked as In Progress?

[2016-11-11 14:39] MathWhiz commented on #8132
Maybe the "Pet blocking" feature is implemented as "No drops, no pets"?

[2016-11-11 15:02] paglias commented on #8205
@Frownigami1 we're currently redesign the web client so for the time being we're holding on any UI change but it's something we'll keep in mind for the redesign!

[2016-11-11 15:02] #8205 closed, assigned to nobody

[2016-11-11 15:25] librarianmage commented on #8070
@markwk Do you have any progress?

[2016-11-11 15:28] librarianmage commented on #8061
Should this be marked as in progress?

[2016-11-11 16:24] librarianmage commented on #8045
Regarding the keywords and such, [Wunderlist](http://wunderlist.com) allows keywords in task creation (after switching on an option), and then highlights each "chunk" of text it recognizes during task entry. There is also an option to keep the keywords in the task name.

[2016-11-11 16:49] librarianmage commented on #7809
If this should be changed, I can do it!

[2016-11-11 16:51] librarianmage commented on #7799
Should this be put on hold for after the client update if it is still applicable?

[2016-11-11 16:55] librarianmage commented on #7792
What is the status on this?

[2016-11-11 17:11] librarianmage commented on #7722
Should this be marked as In Progress?

[2016-11-11 17:18] eternal44 commented on #7792
@MathWhiz  - no active development on my end.

[2016-11-11 17:50] librarianmage commented on #7442
I can remove it, unless the decision is to add the property.

[2016-11-11 17:53] librarianmage commented on #7715
I can look into this!

[2016-11-11 17:55] librarianmage commented on #7747
Just for clarification, what exactly is the issue here?

[2016-11-11 18:15] librarianmage commented on #5365
If the idea is to add a link to the translated news, I can do that!

[2016-11-11 18:30] SabreCat commented on #8132
Did we ever actually lock people out of even accessing the Pet/Mount pages? We even have a Justin visit when you first go there, saying that after level 3 you get to do such and such.

[2016-11-11 19:00] librarianmage commented on #8087
I can do chat!

Other Updates:
- Coupon is finished
- Status is finished ( #8165 )
- Unsubscribe is finished ( #8187 )

[2016-11-11 19:20] rrgayhart commented on #8190
@Alys ^ PR submitted for a fix!

[2016-11-12 00:46] lemoness commented on #8061
It should indeed! I've marked this issue as "in progress."

[2016-11-12 03:24] Alys commented on #2965
For the record, since this was just asked about in the Report a Bug guild, it can also be caused by anything else that causes a sync, such as casting a skill. Naesten ( 8041974e-1c29-400f-b19e-563e27c8d4dd )  wrote:

"so if you start to edit a task (for example, add a bunch of checklist items) but then cast, say, 'tools of the trade' while the task is still open for editing, you (can?) lose your e

[2016-11-12 04:16] UnexpectedMushroom commented on #8116
It happened again. :P

[Original](https://habitica.com/#/options/groups/challenges/bed856de-d1e6-4f2b-beb7-e7a5d7434367)

[Clone 1](https://habitica.com/#/options/groups/challenges/3ea1f60b-2d7a-49e9-81b9-6b98ce0f2cc4)
[Clone 2](https://habitica.com/#/options/groups/challenges/7de0511e-9d43-481c-927a-34929a14bc1d)
[Clone 3](https://habitica.com/#/options/groups/challenges/fc573ce1-cdb0-4ddb-8d09-4

[2016-11-12 04:39] Alys opened #8207 "guild/party new message notifications in menu bar can be blank until sync completes or stay blank"
edit by Alys 2017-03-29, copying from [my comments below](https://github.com/HabitRPG/habitica/issues/8207#issuecomment-287724362):

In #8587 , @joedragons reported that this happens when a quest start message is put into party chat.

We've seen other reports that this is from quest start messages and I've noticed that once myself. For some reason when they result in notifications being sent, the

[2016-11-12 04:56] Alys commented on #8116
Confirmed. Reopened. Thanks @UnexpectedMushroom !

[2016-11-12 17:45] bek8 opened #8208 "Habitica thinks it's yesterday"
[//]: # (Fill out relevant information - UUID is found in Settings -> API)
General Info
  * UUID: ee01128e-0514-4ce4-9c97-cf9f78e529a3
  * Browser: Chrome Version 54.0.2840.71 (64-bit)
  * OS: Mac Sierra 10.12.1

### Description
[//]: # (Describe bug in detail here. Include pictures if helpful.)
I opened habitica on a Mac that was in the wrong time zone yesterday (after a new installation of the O

[2016-11-12 17:48] bek8 commented on #8208
I saw I should have rested in the inn before changing the time zone, but to be honest, habitica was not really on my mind when I set up my new mac... http://habitica.wikia.com/wiki/Rest_in_the_Inn

[2016-11-13 09:02] Alys commented on #8208
This is expected behaviour, and correct from a technical point of view, although unfortunate from your point of view. Habitica reads the time zone from your PC or mobile device - it has no other way to find out which time zone you are in - so having the wrong time zone on your PC or making a sudden change to the zone can result in cron happening at a time that seems wrong to you. On the website, y

[2016-11-13 09:02] #8208 closed, assigned to nobody

[2016-11-13 09:28] Alys commented on #5365
@MathWhiz Yes, please add the link as shown in the screenshot in the top post. The link should point to http://habitica.wikia.com/wiki/Whats_New  (not http://habitica.wikia.com/wiki/Whats_New_2016 - the undated Whats_New URL will always point to the current year, so it's the best one to use). Ping me when you're done and I'll review it.

[2016-11-13 10:43] #7747 closed, assigned to nobody

[2016-11-13 10:46] Alys commented on #7747
@MathWhiz  Embarrassingly, it turned out to be a one-word fix that could have been done at any time. I've fixed it here: https://github.com/HabitRPG/habitica/commit/9aa4b8aa64ccdfa3af4a6832cc3dded4b102b73e
Thanks for asking about it!

@GitHubSphinx Note my comment about pluralisation at the top of https://github.com/HabitRPG/habitica/commit/9aa4b8aa64ccdfa3af4a6832cc3dded4b102b73e

[2016-11-13 10:48] ghost commented on #7747
@Alys thank you for taking time to fix it! I'll add comment to Transifex about pluralization.

[2016-11-13 10:54] Alys opened #8209 "list of subscription plans is wrong"
At Site > Subscription, the 1-month plan occurs three times, once with a listed charge of $48:

![image](https://cloud.githubusercontent.com/assets/1495809/20245047/e7c2dfa6-a9e2-11e6-8ec2-ba88a2af8a8a.png)

.

The same incorrect text appears when you give someone a subscription:

![image](https://cloud.githubusercontent.com/assets/1495809/20245066/3848855c-a9e3-11e6-872d-c4dcc8deb960.png)

[2016-11-13 11:19] Alys opened #8210 "pet and mount names are not being translated"
In the Pets and Mounts pages, the colour (`potion`) and breed (`egg`) of a pet or a mount are not translated, even though translations exist in the locales files for many languages. See screenshot below.

The problem seems to lie within these bits of code:

https://github.com/HabitRPG/habitica/blob/9aa4b8aa64ccdfa3af4a6832cc3dded4b102b73e/website/common/locales/en/pets.json#L74-L75

https://github

[2016-11-13 11:22] Alys commented on #8210
The forgotten screenshot:

![image](https://cloud.githubusercontent.com/assets/1495809/20245170/529c94f8-a9e7-11e6-83c0-e53c9e4e0227.png)

[2016-11-13 12:05] Alys commented on #7715
Thanks @MathWhiz! When the fix is ready to be merged, I'd appreciate it if you could remind us that a migration is needed to fix all Dailies that don't have a start date (being especially cautious about challenge Dailies, if any of them need fixing). An admin will write the migration script.

[2016-11-13 12:08] Alys commented on #7442
@MathWhiz Let's remove it - thanks! There were never very many complaints about this sort order no longer working, and the fix to make it work again would have taken more time than we had available then. Ping me when it's ready and I'll try to review it.

[2016-11-13 12:12] Alys commented on #7799
@MathWhiz Great point, thank you!

[2016-11-13 12:14] Alys commented on #7809
Yes, let's change it. Chilling Frost should NOT freeze the streaks on Dailies.

@MathWhiz Thanks! When this is ready to be merged, I'd appreciate it if you could remind me that the Socialites and Wiki Wizards should be informed about this.

[2016-11-13 13:46] crookedneighbor commented on #8209
@thehollidayinn is this because of the changes you've made?

[2016-11-13 14:16] paglias commented on #8209
Yes, it's probably related to https://github.com/HabitRPG/habitica/blob/develop/website/common/script/content/index.js#L2680-L2687

[2016-11-13 18:02] bek8 commented on #8208
Thank you! Fixed it :)

Happy regards,
Kate

[2016-11-13 18:38] khipkin commented on #8210
I thought that the "(locale)" strings in the json files was just meant to act as a reminder to also localize the parameters before passing them in.  Are they actually supposed to cause additional code to run?

[2016-11-13 19:25] #8209 closed, assigned to nobody

[2016-11-13 20:07] khipkin commented on #7809
@Alys All dailies or just challenge dailies?

[2016-11-13 20:16] MathWhiz commented on #7809
Challenge dailies, if I'm not mistaken
On Sun, Nov 13, 2016 at 2:07 PM Kaitlin Hipkin <notifications@github.com>
wrote:

[2016-11-13 20:33] paglias commented on #8210
It's meant to specify the language that should be used for the translation

[2016-11-13 20:48] crookedneighbor commented on #7809
Definitely challenge dailies.

[2016-11-14 17:19] lynxlynxlynx commented on #8210
That's a pretty unfortunate design, as we have to remind translators all the time to leave tags alone. This would then be an exception.

[2016-11-14 18:49] jcasimir commented on #8045
I would love a shorthand like:
- `^m` for Medium difficulty
- `^h` for Hard difficulty

That's the feature that most frequently requires me to go into the task details. It could also use `^0 ^1 ^2 ^3` to avoid the i18n issue :)

[2016-11-14 18:51] mchlltt opened #8215 "Some mount image backgrounds are not transparent"
General Info
  * UUID: 804ca182-f16c-4ff5-b115-d73cdba94935
  * Browser: Chrome
  * OS: Windows 7

### Description
[//]: # (Describe bug in detail here. Include pictures if helpful.)

First off -- this is unlikely to be a priority, since it's noticeable to me because I sometimes use extensions that change pages' backgrounds colors ([Dark Reader](https://chrome.google.com/webstore/detail/dark-reade

[2016-11-14 19:19] JohnKacz commented on #8045
@jcasimir That's much clearer than what I had in mind (!, !!, !!!, etc.) which implies priority/urgency.

So I would now advocate for tags, difficulty, and due dates support be the first features to be worked on because they are (IMO) the main use cases for the most commonly added task type (To-Dos)
- Tags: `#tag` and `#"tag with spaces"`
- Difficulty: `^0`, `^1`, `^2`, `^3`
- Due Date: ???

Date

[2016-11-14 19:33] librarianmage commented on #8045
What about tags that have quotation marks in them?

On Mon, Nov 14, 2016 at 1:19 PM John Kaczmarek notifications@github.com
wrote:

[2016-11-14 19:37] JohnKacz commented on #8045
@MathWhiz, I guess you could say the same thing about tags that have `#` in them. I guess you could change it to be `#tag#` and `#tag with spaces#` but I'd be curious to know how many people use tags with quotation marks.

[2016-11-14 19:42] jcasimir commented on #8045
If I get enough work done today my reward to myself is trying to get up to speed with hacking on the project. If I make progress there I'll take a first swing at the difficulty parsing as a proof-of-concept.

[2016-11-14 21:19] Alys commented on #8215
Could you modify just one mount and do a PR for it and we'll get an Artisan to make sure there's nothing wrong? Then you'd be free to add them all to the PR, without concern that your time might be wasted.

[2016-11-14 21:29] Alys commented on #8210
@lynxlynxlynx No, translators are not meant to modify the `(locale)` part of the tags (nor any other parts). It's handled by code. See the `eggNotes` strings in `content.json` for examples. In those, `(locale)` has never been modified for any language but the translations work.

[2016-11-15 01:20] crookedneighbor commented on #8215
FYI, this is just for the mount icon image (that is displayed on the mount page), not the one used for the mount itself.

[2016-11-15 03:12] mchlltt commented on #8215
Yes, apologies for not specifying this.

[2016-11-15 14:37] TheHollidayInn commented on #8132
Yea, I don't think we are blocking the access at all. Should I just hide the tabs if they are under level 3 or do we want some sort of server side check?

[2016-11-15 17:48] SabreCat commented on #8132
My vote is that this is not an issue and can be closed.

[2016-11-15 23:32] sjyn commented on #8128
I can look into this if it's something that is wanted

[2016-11-16 01:18] TheHollidayInn commented on #8116
@UnexpectedMushroom Do you have any ideas on the steps you take to recreate this issue or does it happen randomly?

[2016-11-16 01:24] TheHollidayInn commented on #8070
I believe this is the line to investigate and write a test for: https://github.com/HabitRPG/habitica/blob/develop/website/server/libs/cron.js#L304

[2016-11-16 01:56] UnexpectedMushroom commented on #8116
I have no idea. I don't think I did anything out of the ordinary.

[2016-11-16 02:10] SabreCat commented on #8128
Cool, go for it!

[2016-11-16 12:10] Dewines opened #8222 "Automatic guild leader transfer not working as intended"
If a guild leader leaves their guild or deletes their Habitica account, the leadership used to transfer automatically to the guild member who had been in the guild longest. However, during the last major update to Habitica, the guild members are no longer displayed in the order of joining. This means that now, when a guild leader leaves the guild, the leadership is automatically passed to a totall

[2016-11-16 21:38] PowerlinxJetfire commented on #7720
Presumably this was added to the taskbar via Chrome, since that's the only browser in the screenshot, and I can't figure out a way to pin websites there with Edge. Chrome won't follow any Microsoft-specific meta tags, so I don't think there's any way to target Windows specifically.

But, this isn't just a problem on Windows, so that's okay. If a user adds a desktop or homescreen shortcut from any

[2016-11-17 04:27] TheHollidayInn commented on #8132
Don't we still want to lock pet access at level 3 though?

[2016-11-17 04:32] TheHollidayInn commented on #8116
@UnexpectedMushroom Do you know how to view the console? If this happens again, can you right click, select Inspect Element, select Console tab, then paste the output here?

[2016-11-17 09:53] Alys commented on #8222
I agree that automatic transfer of guild leadership is no longer desirable, not only because a randomly selected leader can be bad, but also because the Pirate Cove guild has good processes in place to help guilds find a suitable new leader, and those processes would work better if automatic leadership changes weren't made (e.g., an automatically-assigned new leader can mask the fact that a guild

[2016-11-17 16:06] SabreCat commented on #8132
No, we never have and I haven't yet heard an argument as to why we should start. A brand new user can receive a pet as part of a seasonal event, for example; why shouldn't they be allowed to go use it?

[2016-11-17 16:18] khipkin commented on #8046
Another example of weird partial-party-sync behavior:
![image](https://cloud.githubusercontent.com/assets/5641207/20397372/7854d9b2-acb7-11e6-9b38-8fa4077d3330.png)

[2016-11-17 16:42] TheHollidayInn commented on #8132
I'm not sure, but @alys comment seems to imply they want pets locked :P

[2016-11-17 17:05] Dewines commented on #8222
That is a good point about mods gaining access to a private guild or party. I hadn't thought of that because I'd only considered the problem from the point of view of public guilds.

If having no leader value might be a problem from the programming angle, would it be possible to have some sort of dummy account called @NoLeader that no one actually has access to but as far as the code is concerned

[2016-11-17 17:52] SabreCat commented on #8132
My read is that @Alys and @lemoness were operating from a mistaken assumption that these features used to be locked pre-level-3 when in fact they weren't ("Do we still want", "no need to change that")--so maybe best to hold off a decision until they clarify, haha.

EDIT: The text that appears when you first visit the Pets page is indeed a little misleading on this count:

That implies that you can

[2016-11-17 18:14] paglias commented on #8046
That's a bug because with real time chat when you get a system message the party get synced and so it should update the quest status. not sure why it doesn't.

[2016-11-17 18:25] SabreCat commented on #8046
Quest readouts seem to lag behind updates in general. When you start a quest, it can take a hard refresh before the invite list is replaced by the active quest data, for instance.

[2016-11-17 18:32] #8210 closed, assigned to nobody

[2016-11-17 19:10] #8046 closed, assigned to nobody

[2016-11-17 21:42] Alys commented on #8222
Oh, yes, of course, we could create a NoLeader account, set up its profile to explain what it is, and then randomise the password if we wanted to be sure mods couldn't use it to access private groups.

It would be a smaller code change to add that account to the group and set the leader to it than to allow guilds to have no leader.

Unless there's other suggestions or objections in the next couple

[2016-11-17 22:33] khipkin commented on #7697
Another example of weird partial-party-sync behavior, this time when a quest ends:
![image](https://cloud.githubusercontent.com/assets/5641207/20397372/7854d9b2-acb7-11e6-9b38-8fa4077d3330.png)

[2016-11-17 22:34] khipkin commented on #8046
I commented on #7697 since it's more immediately relevant there.

[2016-11-18 00:45] lemoness commented on #8132
That's correct for me, at least -- I assumed that the status quo locked up
those features.

On Thursday, November 17, 2016, Sabe Jones notifications@github.com wrote:

[2016-11-18 03:48] Alys commented on #8132
Same here. I was judging by the way the feature was described in-site, and assumed it had changed inadvertently during the API upgrade.

Good point about the pets for new users from special events.

I'd be okay with just making the site's text more accurate if we don't want to change the behaviour.

[2016-11-18 08:20] markwk commented on #8070
@MathWhiz No luck jumping in on this one. Crazy client work past month.

[2016-11-18 13:15] cmajames commented on #8222
Any sort of dummy account feels like a security hazard. Random passwords aren't sufficient to guarantee 'no access'; something else in the code would have to do that. @Alys, are NPC accounts secure in this fashion?

[2016-11-18 13:39] crookedneighbor commented on #8222
I agree that having an actual account to represent `NoLeader` is not the way to go. The code should just be adjusted to handle the case where there is not a leader (IE, provide dummy values for the fields that get populated for the user in the group).

`NPC` users, the ones with the black background on their names, are real users, not bots, who backed the original kickstarter project.

[2016-11-19 03:01] Alys opened #8227 "buying gems with gold gives two notifications when language is not 'en'"
If you set your language to some of the non-English languages and then go to the Market to buy a gem with gold, you receive two notifications for `+1 gem`, one in your chosen language and then after a short delay, another one in English:

![image](https://cloud.githubusercontent.com/assets/1495809/20452491/a51d3958-ae56-11e6-82d6-a3199da10001.png)

I've tested a few languages and it happens with o

[2016-11-19 05:07] khipkin commented on #8227
Possible [translations] issue?

[2016-11-20 04:08] #7442 closed, assigned to nobody

[2016-11-20 06:52] Alys commented on #8222
So to summarise so far, the desired fix for this is that when a guild leader leaves the guild or deletes their Habitica account:
- Remove the current code that automatically chooses a new leader
- Make the guild's `leader` attribute be an empty string or null or some other non-UUID value or possibly a placeholder UUID that doesn't correspond to a real account - **decision needed**
- In the guild's

[2016-11-20 16:53] Yutsuten commented on #4252
Hello,

I've completed the quest "The Golden Knight, Part 1", but didn't received the scroll for Part 2, neither the achievement for the quest. Completing the Part 1 took about 2 months, so I was kind of expecting the rewards >.<

"All items found! Party has received their rewards. -a day ago"

Group ID: 872a7d99-af57-4851-8234-9de619f47a63
User ID: 203f208a-e0f0-4442-bf16-d4f19e553e8a

Thank you

[2016-11-20 17:25] sporeball commented on #7738
...

So, the chunk of time from earlier got negated because of git merge conflict nonsense. Sorry, people who reacted with confetti.

However! I have a break from school for the next week! Hopefully I can use this time to **get. this. issue. done...!!**

[2016-11-20 21:48] #8215 closed, assigned to nobody

[2016-11-20 22:33] Alys commented on #7625
For the record, another example similar to this was logged in the Report a Bug guild by La Chapelière (b8824fa6-fa1e-452a-8bc0-34b21ce06ccd) about 10 hours ago:

"Hi, I've just had a weird thing happen to me when I clicked a reward. It was supposed to cost 10 gold. It took from me around 33 gold and 70 mana but gave me 2000xp. It might have costed me some life points too, I'm not sure."

I can't f

[2016-11-21 08:03] ghost commented on #4252
Hi there!

Same here, we've completed "Attack of the mundane, Part 1" and Part 2 is still locked.
Our GroupID is: e00e2f68-45b0-40e0-884b-f885f24a87f0

Thanks!

[2016-11-21 11:19] #5358 closed, assigned to nobody

[2016-11-21 11:56] Atomk opened #8228 "URLs in challenge titles are rendered as links"
General Info
  * Browser: Chrome 54, 64bit
  * OS: Windows 7

### Description
If a link (i.e. https://github.com) is used in the challenge's title, when you click on the link in the challenge name (for example in the challenge list or in challenges section of a guild), the link opens the URL and not the challenge. Potential problem: if the title of a challenge is just an URL, probably there would

[2016-11-21 13:07] crookedneighbor commented on #8228
This is expected behavior for the markdown parsing. I recommend putting the link in the challenge description instead.

[2016-11-21 13:07] #8228 closed, assigned to nobody

[2016-11-21 17:43] camachoborracho opened #8229 "Basi-List does not get correct damage"
Basi-List does not get correct damage for an attack.

On a group quest, it says I have 4.0 damage, but it shows up as 97.0 health for basi-list. (there have been other times where it shows boss HP seems incorrect but this is the most obvious example I noticed). Doesn't seem to be a rounding error either.

[//]: # (Fill out relevant information - UUID is found in Settings -> API)
General Inf o
  *

[2016-11-21 21:27] lynxlynxlynx commented on #8227
Since I was looking at gems: This is the plusOneGem string in the "purchase" API call. Quite interesting, as it is also the only user besides a test.

[2016-11-21 22:10] Maryelizk commented on #4252
Hi, I have this problem as well. I completed The Golden Knight Part 1 (it only took a casual 4 months) and I didn't get the quest completion message or the Part 2 scroll but in the party chat is says  "All items found! Party has received their rewards." I wasn't paying close attention to my XP and Gold but I think I got those parts of the reward, but the whole point was the scroll so we can contin

[2016-11-22 02:33] Alys commented on #8229
This is from rounding. Your damage was 3.9970677369 and the boss's health is 96.002932263. The health is rounded up for display because you might want to know how much damage you'd have to do to defeat the boss. For a health of 96.002 you'd have to do 97 damage in whole numbers, not 96.

If you'd like to suggest that we show decimals (e.g., on hover as we do for some of your own stats), Help > Req

[2016-11-22 02:33] #8229 closed, assigned to nobody

[2016-11-22 02:39] Alys commented on #4252
@mateus-etto @Maryelizk I've given you the quest rewards and achievement. If it happens again, you can go to Help > Report a Bug from the Habitica website or Guilds > Report a  Bug from the mobile app to report it in-game (no need to supply your User ID or Group ID when you do that).

@shurke Can you please tell me your User ID or copy your post to [that guild](https://habitica.com/#/options/group

[2016-11-22 02:48] Alys commented on #8228
One problem though would be that if the challenge creator uses nothing but a link in the title, they can't then get into the challenge to edit it or close it, if the challenge title always points to the off-site URL.

However I can't replicate this link behaviour in Chrome (albeit on a Linux box). When I hover over the exercism.io link, the browser's status bar does act as if my mouse is on a link

[2016-11-22 04:50] Yutsuten commented on #4252
Thank you @Alys !!

[2016-11-22 07:50] ghost commented on #4252
Thanks @Alys, but it was the whole group who didn't get the reward (including the scroll for the next quest). if you need it, my UID is:  273591b7-dd6f-4791-a563-5605b2a492a2

[2016-11-22 09:48] Alys commented on #4252
@shurke Thanks for that! I've given all of you the quest rewards and achievement.

[2016-11-22 10:30] ghost commented on #4252
oh now it works, thanks @Alys!

[2016-11-22 13:14] chonkatonk commented on #4252
does anyone know how i can get removed from this chain?

On Tue, Nov 22, 2016 at 5:30 AM, shurke notifications@github.com wrote:

##

Regards,
 Tim Lara

[2016-11-22 13:15] paglias commented on #4252
There should be an unsubscribe link both in the emails and the issue page

2016-11-22 14:14 GMT+01:00 chonkatonk notifications@github.com:

##

Matteo Pagliazzi - paglias.net

[2016-11-23 00:28] Deebster commented on #8228
On Chrome/Windows 10 I see the link as reported, but single-clicking both on and after the url goes to the Habitica link.

Middle-clicking or going via the right-click context menu does (unsurprisingly) go to the embedded link.

[2016-11-23 03:32] crookedneighbor commented on #8228
I would argue that the markdown parser is acting as intended. If we don't want it to behave that way, we should require that titles not contain urls or not render them as markdown.

[2016-11-23 10:46] Alys commented on #8228
Agreed. As long as single-clicking the link opens the challenge page, the behaviour is correct.

Allowing all markdown in the challenge title is good.

[2016-11-23 12:08] afino opened #8232 "Experience (XP) gain not shown when reaching a new level"
General Info
  * UUID: e6350942-4808-4b1b-8abe-99d646f608d9
  * Browser: Vivaldi 1.5.658.42 (based on Chromium)
  * OS: Windows 7 Professional 64 Bit

### Description

Whenever you grow to a new level after you completed/checked a task, your XP gain for this task is NOT displayed with the other messages in the upper right corner. All other messages show up (health gain, gold, mana, found items), b

[2016-11-23 14:20] Hus274 opened #8233 "Incorrect text for read older news on 'New Stuff by Bailey' Page."
[//]: # (Before logging this issue, look through common problems at https://github.com/HabitRPG/habitrpg/issues If you find your issue there, read at least the first post to see if there is a workaround for you)

[//]: # (Github is primarily used for reporting bugs. If you have a feature request, use "Help > Request a Feature" so that the feature request can be vetted by the larger Habitica commun

[2016-11-23 18:33] khipkin commented on #5365
This should probably be reopened.

[2016-11-23 18:34] librarianmage commented on #5365
I have the fix ready, I just need to take a pic (on mobile 'till Sunday)
On Wed, Nov 23, 2016 at 1:33 PM Kaitlin Hipkin notifications@github.com
wrote:

[2016-11-23 18:36] khipkin commented on #8233
This is a known issue, and @Alys already removed the broken link in https://github.com/HabitRPG/habitica/commit/ab4c8b0a468a094d957a6e9b93d99268e5208089.  The issue is currently being tracked in #5365 and #8216.

[2016-11-23 22:00] Alys commented on #8233
@Hus274 Thanks for letting us know though! I'm going to leave this issue open so it's more visible to anyone else who might want to report it.

[2016-11-24 04:41] 32gits commented on #8232
I would like to tackle this as my first contribution

[2016-11-24 04:57] khipkin commented on #8232
@32gits Just some advice from another contributor, but you should wait to start on this until a staff member confirms it as a desired change.  No one wants their efforts to go to waste!  You can find some issues that are ready to be worked in if you look at the "Help Wanted" labeled issues.

[2016-11-24 04:59] 32gits commented on #8232
Cool thanks

[2016-11-24 05:03] 32gits commented on #8128
If this is still open I would like to try it. I need to contribute to this project within the next couple weeks for a class I'm in.

[2016-11-24 06:05] tobek commented on #8113
Hey guys, I was musing about a similar feature (and [commented on the trello board](https://trello.com/c/cwQvDQI9/208-habits-v2-expected-habit-frequency-onlies-habit-maximum-custom-habit-names#comment-5836803370bf699b3dea8e5e)) and did a mockup that might work as a UI for the counter:

![image](http://i.imgur.com/Yomb56b.png?1)

Also, not sure exactly how you were going to implement the counter pe

[2016-11-24 06:17] tobek commented on #8113
@shalott I see you have a PR open for this - if you guys like this UI and/or trailing window (control field could be "Counter shows last X days") I'm happy to submit a PR to your branch.

[2016-11-24 07:11] Alys commented on #8128
@32gits It's likely that @sjyn is still working on it - sorry, we should have changed the status to "in progress".

We'd love to have your help with any "help welcome" issues, but be aware that even if you submitted a pull request rapidly, it might be more than two weeks before it was reviewed and accepted. If your class requires an **accepted** contribution, this might not work for you.

[2016-11-24 07:12] Alys commented on #8232
@khipkin Thanks!

I'm marking this as on hold because we're planning some improvements to the website that might affect how the notifications work.

[2016-11-24 08:01] 32gits commented on #8128
That's fine. I don't think it has to be accepted. Either way I'd love to help!

[2016-11-24 08:07] 32gits commented on #7720
I could mess around with some alternate favicons.

[2016-11-24 10:28] Alys commented on #8233
Text has been deleted.

[2016-11-24 10:28] #8233 closed, assigned to nobody

[2016-11-24 10:31] Alys opened #8235 ""Progress until next NaN/NaN" is showing in User > Profile (Daily Checkin Incentives)"
On the User > Profile page, the Daily Checkin Incentives progress shows as "Progress until next NaN/NaN":

![image](https://cloud.githubusercontent.com/assets/1495809/20595229/dcc5c6d6-b284-11e6-9ab3-44cd8bf30a60.png)

[2016-11-24 10:36] Alys commented on #7720
@veeeeeee @lemoness Would you like @32gits to experiment with creating new favicons? If so, are there any guidelines that should be followed?

[2016-11-24 16:39] Atomk commented on #8228
@Alys sorry for the late response, thanks to @Deebster I figured out that this behaviour happens if I click on the challenge title with the center mouse button (the mouse wheel) which is a shortcut for "open in a new tab", using the primary mouse button everything works properly.
I'm so used to open links this way I didn't even notice, sorry. I guess everything is okay then :)

[2016-11-24 20:46] 32gits opened #8236 "Unable to successfully run 'npm install'"
OS: Ubuntu 16.04 LTS

### Description

Every time I try to run `npm install` I get the following output:

[code]

I've also tried with the newer versions of node and npm. I have updated my config.json and package.json with the latest files in the GitHub source code.

[2016-11-24 21:17] gruentee commented on #8236
I'm experiencing the same issue.

[code]

[2016-11-24 21:19] paglias commented on #8236
You have to installare NPM >= 3.10.10

Il 24 Nov 2016 22:17, "Constantin" <notifications@github.com> ha scritto:

[2016-11-24 21:36] gruentee commented on #8236
@paglias OK, thanks. I'll update and try again.

[2016-11-24 22:03] Alys commented on #8228
@Atomk No worries, I understand about being in that habit! Thanks for letting us know!

[2016-11-24 22:20] 32gits commented on #8236
@paglias I've tried with npm v4, do I specifically need 3.10.10?

[2016-11-25 00:13] marceloyuela commented on #7697
Is this still open? If so, I can try to get a force-refresh of the page working in the next week and a half.

[2016-11-25 04:16] sjyn commented on #8128
@32gits believe it or not that's also why I'm working on this issue. If I can fix it, I'll submit a pull request; I'm not sure I'll get it done by my class's deadline.

[2016-11-25 10:09] paglias commented on #8236
NPM 4 is okay. 3.10.8 and 3.10.9 have a bug that prevent it from working

Il 24 Nov 2016 23:20, "32gits" <notifications@github.com> ha scritto:

[2016-11-25 14:41] 32gits commented on #8236
@paglias this is not closed. like I said, I've tried with npm4 already.

[2016-11-25 14:56] paglias commented on #8236
Sorry, can you try pulling the latest changes from GitHub and cleaning your npm cache? We build Habitica on Linux multiple times a day and it works fine

[2016-11-25 18:53] TheHollidayInn commented on #8235
Is this just on your account or do you have reports from others, @Alys ?

[2016-11-25 19:12] 32gits commented on #8236
I was able to fix this issue. I thought I had updated my branch properly, but then followed these steps in [Using Habitica Git](http://habitica.wikia.com/wiki/Using_Habitica_Git) and it worked while running nodejs 7 and npm 4:

---
Rebase Branch
====================

When you want to update your local branch, you need to rebase it from the upstream branch. Let's update develop:
[code]
---
It now s

[2016-11-25 19:12] #8236 closed, assigned to nobody

[2016-11-25 19:59] shalott commented on #8113
I'm sorry, but for my part, I don't want either of those and prefer the functionality as I've already coded it. I find the dots very hard to "read" and they'd be especially bad for tasks I want to do a large number of times within the counter period. And a trailing window would frustrate me. If I have a weekly target in my head, I want to see myself building up towards it.

[2016-11-25 20:25] tobek commented on #8113
Fair enough - I look forward to the feature being released!

[2016-11-25 20:28] 32gits commented on #8235
My profile on the website is fine, but my local build is showing NaN/NaN.

**Edit:**
Also in relation, it might be good to add a "+1 Check-In" to the debug menu.

[2016-11-25 21:54] khipkin commented on #8113
Also, small red and green dots would be incredibly difficult for visually-impaired users to process, especially colorblind users.

[2016-11-25 22:16] Alys commented on #8235
There was a report from someone else, and it was happening on both my accounts. It's not happening today on my accounts (I have "Progress until next 1/2").

[2016-11-25 23:40] Alys commented on #8235
"Progress until next NaN/NaN" appears when `loginIncentives` is less than 2 (i.e., for all new users from now on until after their second cron).

[2016-11-26 04:10] Alys commented on #7697
@marceloyuela It is still open, thank you!

[2016-11-26 07:48] #4879 closed, assigned to nobody

[2016-11-26 15:49] TheHollidayInn commented on #7697
@marceloyuela Instead of a refresh, you can also use this strategy:

https://github.com/HabitRPG/habitica/blob/develop/website/client-old/js/services/groupServices.js#L110

https://github.com/HabitRPG/habitica/blob/ac732b2c85853570b31d596d0a5054cd46bed2ec/website/client-old/js/controllers/notificationCtrl.js#L17

You can use this to force a full refresh of the part in the Group services by calling

[2016-11-26 15:57] TheHollidayInn commented on #8235
@Alys Okay, I think I know the issue then. Thanks! I'll post a fix later today.

[2016-11-26 21:15] marceloyuela commented on #7697
Hey, thanks!

[2016-11-26 23:36] #8235 closed, assigned to TheHollidayInn

[2016-11-27 12:48] gruentee opened #8238 "Todo checklist not editable"
General Info
  * UUID: 43bc1fee-4ba0-4924-8968-43cfc2ee57c9
  *  Browser: Firefox and Chromium
  * OS: Linux

### Description
A checklist is not editable anymore, once created.
After clicking the "toggle checklist button" a click on the "Add checklist" button has no effect and produces the console errors shown in attached logs.

![auswahl_021](https://cloud.githubusercontent.com/assets/923759/2064

[2016-11-27 13:58] Alys commented on #8238
Those console log messages are just warnings, not errors, and you can ignore them.

To add a new checklist item, put your cursor in the final item then hit enter on the keyboard. Sorry it's not obvious! We're intending to make it clearer.

We have guilds within Habitica now for faster ways of getting help. If you have questions about how  to use features in Habitica, you can go to Help > Ask a Que

[2016-11-27 13:58] #8238 closed, assigned to nobody

[2016-11-27 17:11] TheHollidayInn commented on #8189
@Alys You are correct. My fix only syncs on first adding. The note sync needs to happen when a users has never had the task.

The logic I added in my PR also needs to go here: https://github.com/HabitRPG/habitica/blob/develop/website/server/models/challenge.js#L119 .

I will fix this during the week if no one beats me to it.

[2016-11-27 19:44] citrusella commented on #8222
@Alys I'm no vIiRuS, but for the end user, the Android app only *displays* the leader's name if there's a leader message. Of course, this may have no bearing on how the app processes no leader in ways one *can't* see, but I felt like mentioning it anyhow?

[2016-11-27 20:22] Alys commented on #8222
@citrusella Oh, thank you! That's good to know. I've logged a request to add the leader's name: https://github.com/HabitRPG/habitica-android/issues/666

[2016-11-27 20:35] Alys opened #8239 "extra, misaligned paw print for Royal Purple pets (from Daily Check-In Incentives hatching potions)"
When you have hatched one pet with a Royal Purple hatching potion, the line of paw prints contains 10 paws (should be 9) and one is misaligned.

It's also inconsistent with how the other Magic Potion pets are displayed. They don't show paw prints unless you own potions to create new pets - that was added in https://github.com/HabitRPG/habitica/pull/7911

![image](https://cloud.githubusercontent.co

[2016-11-27 20:38] Alys commented on #8239
In my personal opinion, removing the extra, misaligned paw print is more important than making the hiding/showing of the prints consistent with the other Magic Potion pets. We're going to keep on getting questions and bug reports in the Tavern, Newbies, and Bug guilds while the misaligned print is there.

[2016-11-27 20:53] gruentee commented on #8238
@Alys, thanks for the quick response.

This applies for the deprecation warnings, but the last one (`TypeError`) is indeed one, isn't it?
It is thrown when clicking on the "Add check list button" after toggling off (hiding) the checklist items in edit mode.

I agree, this is not obvious at all and should be changed.

[2016-11-27 21:11] Alys commented on #8238
Yes, sorry, I missed the TypeError message, which is an error, not a warning. It won't occur when we improve how the checklists are presented. I expect we won't show the button to add a checklist when a checklist has already been added.

[2016-11-27 22:28] librarianmage commented on #8132
A suggested text change:

[2016-11-27 23:27] Alys commented on #8132
@MathWhiz Try this:

Submit a PR with a screenshot and nag me until I've merged it. :)

[2016-11-28 17:36] probaton opened #8240 "Wallet toolbar spills onto second line at certain widths"
[//]: # (Fill out relevant information - UUID is found in Settings -> API)
General Info
  * UUID: 6d7d6651-604d-4e7c-adff-a040770a6768
  * Browser: Chrome, Firefox, IE11
  * OS: Windows 10

### Description
[//]: # (Describe bug in detail here. Include pictures if helpful.)
When opening the Habitica main page at a certain width, the the toolbar at the top of the page becomes too crowded, spilling t

[2016-11-28 21:02] SabreCat commented on #8239
Fixed in c7039bc9ea51b. Misplaced close parenthesis :p

[2016-11-28 21:02] #8239 closed, assigned to nobody

[2016-11-28 22:13] khipkin commented on #8240
Possible duplicate of #8089.

[2016-11-28 23:29] crookedneighbor commented on #8240
It is a duplicate. Also, it's not high priority as we're part way through a redesign of the frontend.

[2016-11-28 23:29] #8240 closed, assigned to nobody

[2016-11-29 00:19] lemoness commented on #5033
We've since added a bunch of sorting options. I'm closing this ticket but feel free to comment if you think it should be reopened!

[2016-11-29 00:19] #5033 closed, assigned to nobody

[2016-11-29 00:21] lemoness opened #8241 "Equipment Page Needs Search Function"
Despite the sorting options, the Equipment page still gets quite unwieldy. There should be a way to easily search for a specific piece of equipment.

[2016-11-29 00:33] khipkin commented on #5033
Personally, I would really love if the sort option persisted! Even if it's just on a per-session basis.

[2016-11-29 06:50] probaton commented on #8240
My apologies, I only used the standard search box to search for duplicates, which I only now realize includes the is:open tag. Thanks for getting back to me.

Incidentally, I don't suppose you have any kind of ETA on the new front-end? I couldn't find anything about it in Habitica news. Not that I'm trying to pressure you into a deadline or anything, but a ballpark would be much appreciated.

[2016-11-29 06:59] Alys commented on #8240
@probaton No worries. :)

There's no ETA yet for the redesign. Any high priority problems with the current design are still being fixed though.

By the way, we have a guild within Habitica now for faster reporting of problems. You can get to it from Help > Report a Bug from the website's menu or Guilds > Report a Bug from the mobile app. When you find a bug, you can start reporting it by putting a

[2016-11-29 17:23] mdakan commented on #4936
Is help still welcome on this? I was able to view the temporary solution on Egg Hunt and A Stern Talking-To. If the art is done, how does that get incorporated?

[2016-11-29 23:28] mjackson714 commented on #8227
I can work on this

[2016-11-29 23:28] mjackson714 commented on #8227
If no one has claimed it

[2016-11-30 00:04] Alys commented on #4936
@mylesdakan Yes! If you'd like to add that final image, that would be great. From memory, you just need to overwrite the placeholder image with the new one (images are in website/assets/sprites/spritesmith/quests/bosses/ ), but if you need to, you can check what's been done for the other quests, and you can see how the image replacement works in your local install. Please include a screenshot in y

[2016-11-30 00:04] Alys commented on #8227
@mjackson714 Thank you! Please do.

[2016-11-30 02:25] sjyn commented on #8227
I was able to get the bug to be reproduced. To do this, I had to "trick" habitica into thinking it was purchasing gems.

In the file `/website/common/script/ops/purchase.js` you need to change

[code]
to

[code]
and comment out or remove the lines

[code]
(this will break all other purchasing I believe)
In `/website/client-old/js/services/userServices.js` I changed (around line `378`)

[code]
to

[2016-11-30 17:12] a2lin commented on #8241
Mind if I take a whack at this? I'm new to javascript but enthusiasm has got to count for something, right?

[2016-11-30 17:56] mdakan commented on #4936
Hm, I replaced the images locally but I'm not seeing any change in how those quests display. I'll keep trying to figure it out, but I'm open to any helpful hints.

[2016-11-30 18:13] SabreCat commented on #4936
@mylesdakan: After making any change to image files, run `gulp sprites:compile` (edit: or `npm run sprites` methinks) to build those edits into the spritesheets loaded by the site.

[2016-11-30 18:13] librarianmage commented on #8241
I'm guessing it is search by name?

[2016-11-30 22:02] mdakan commented on #4936
@SabreCat Thanks for the help! Is there documentation about how habitica uses gulp that I could look at?

[2016-12-01 02:40] TheHollidayInn opened #8246 "Items to-do before group plans launch"
### Description
[//]: # (Describe bug in detail here. Include pictures if helpful.)

- [x] Exclude group tasks where challenge tasks are excluded `'challenge.id': {$exists: false},`
- [ ] Set up group plan email
- [ ] Push amazon worker live

[2016-12-01 06:50] Asing1001 commented on #7886
Not instinct that should click icon to freeze the tooltip, would have better UX to freeze when mouse over the tooltip.

[2016-12-01 10:33] Alys commented on #8241
@paglias This feels like it might be very dependent on how the equipment page is created. Would it be best done after the website improvement project is finished?

@a2lin Sorry, I should have thought to ask that before I added the "help welcome" label. Thanks for asking! We'll comment again here about it soon.

@MathWhiz  Name, yes definitely. My personal opinion is that it would be good if the se

[2016-12-01 13:10] paglias commented on #8241
@Alys If it's just adding an input field where items can be filtered by name, I'd say we can do it now, of it's a complete design change probably not worth it

[2016-12-01 16:56] SabreCat commented on #4936
@mylesdakan: Hmm, I don't know that we have a dedicated resource for gulp. It's used for a number of our automated tasks, like tests and `browserify`, in addition to spritesmithing. All the gulp tasks are collected here in the repo: https://github.com/HabitRPG/habitica/tree/develop/gulp

[2016-12-01 16:58] #4936 closed, assigned to nobody

[2016-12-01 17:43] Otocinclus commented on #5988
Back with the same issue today (it's been a while since I noticed it happen!) I'm Chickenfox (dfa5d988-992a-4dec-8183-c15c8adb041f) I checked in last night hours before my cron from the iOS mobile app. My streaks are intact. When I logged in on Chrome this morning, I got a Daily Check in Incentive of 1 purple potion, but it is not appearing in my inventory (I have previously received a potion, tha

[2016-12-01 18:04] #7788 closed, assigned to nobody

[2016-12-01 21:26] SabreCat commented on #8185
Fixed in eaaab35 and de070a4. However, @Hus274's PR includes a bunch more refactoring still worth considering, so no need to close the request.

[2016-12-01 21:26] #8185 closed, assigned to nobody

[2016-12-02 02:26] Hus274 commented on #7749
I can take a look into making this notification.

[2016-12-02 04:17] librarianmage commented on #5365
Slight problem: The new-stuff page is precompiled, meaning that it is unable to translate a link. Suggestions on how to continue?

[2016-12-02 14:25] ghost commented on #5365
@MathWhiz maybe add the link to the footer (to the left from and above the buttons) of https://github.com/HabitRPG/habitica/blob/develop/website/views/shared/modals/new-stuff.jade ? I guess it will look a bit worse, but with this way greater changes can be avoided...

[2016-12-02 16:36] ksmith6 opened #8248 "Collection Quest - Users earn "excess" collection items in multi-category collection quests"
General Info
  * UUID: 6d9d36a8-d91f-4737-8e8c-4fe9a4d632fe
  * Browser:  Chome 54.0.2840.98
  * OS: Mac OSX

### Description
My party just completed the *Terror in the Taskwoods, Part 2: Finding the Flourishing Fairies* collection quest where the party must collect 15 Brownies, 10 Dryads, and 25 Pixies.

The problem was that we quickly found the 10 Dryads, but it obviously took longer to get to 2

[2016-12-02 18:10] SabreCat commented on #8248
This is currently working as intended, but it's a worthy tweak to consider. Given collection quests are generally not as engaging as boss quests, implementing this change as another way to make them a little less painful (the counts needed received a nerf recently already) might be worthwhile.

[2016-12-03 02:34] lemoness commented on #7720
I think a white background for our current favicon would work well.

[2016-12-03 02:37] benwurth opened #8250 "Unicode Character "Trigram for Heaven" (\u2630) does not display on the website"
[//]: # (Before logging this issue, look through common problems at https://github.com/HabitRPG/habitrpg/issues If you find your issue there, read at least the first post to see if there is a workaround for you)

[//]: # (Github is primarily used for reporting bugs. If you have a feature request, use "Help > Request a Feature" so that the feature request can be vetted by the larger Habitica commun

[2016-12-03 02:41] 32gits commented on #7720
Yeah I've already swapped it out on my end and it looks good. I was just waiting to hear back on this.

[2016-12-03 03:23] Hus274 commented on #8035
It looks like this is still happening to people according to the issue linked above so I can take a look into this one.

[2016-12-03 05:05] Alys commented on #8241
@a2lin If you'd like to proceed as @paglias describes, please go ahead! E.g., you could add an input field into which a player types a word or phrase. That causes the equipment list to show only those items that contain the word or phrase in their name or description. Alternatively, it could keep showing all the equipment but have the ones that match the search highlighted in some way (or have the

[2016-12-03 06:22] 32gits commented on #7720
I don't have Habitica setup on my Windows machine, but here's what the new favicon looks like on a light/dark browser tab.

![habitica-compare](https://cloud.githubusercontent.com/assets/10841727/20857346/373c4984-b8e6-11e6-9db8-1b87a1c6eada.png)

[2016-12-03 06:33] Alys commented on #7720
@32gits Cool! If you'd like to make a pull request, please do.

I'm not sure if [legal permissions](http://habitica.wikia.com/wiki/Guidance_for_Artisans#Becoming_an_Artisan) are needed for this type of image change - @lemoness ?

[2016-12-03 06:34] Alys commented on #8035
@Hus274 Thank you!!!!!!

[2016-12-03 06:37] 32gits commented on #7720
I just received confirmation tonight on the permissions I sent for pixel art. Let me know if I need to send anything else. Thanks.

[2016-12-03 06:38] Alys commented on #7720
@32gits No, that's perfect then. No other permissions would be needed.

[2016-12-03 06:40] 32gits commented on #7720
Okay cool. What's the best command to get my build up to date before a pull request? I feel like I've seen a few different suggestions depending on where you look.

[2016-12-03 06:52] Alys commented on #7720
My preference when I haven't yet made a pull request is to do this:

	git fetch upstream
	git checkout [your_branch_name]
	git rebase upstream/develop

[2016-12-03 07:05] 32gits commented on #7720
Hmm. best course of action here?
[code]

[2016-12-03 10:16] lynxlynxlynx commented on #8250
Works fine here (but not a mac). Lato is taken directly from google fonts. Are you forcing any user styles through the browser?

[2016-12-03 10:25] Alys commented on #5988
@Otocinclus Your check-in counter is 9, which means you've only received one Purple potion so far. The other incentive notification was telling you that a potion will be your next prize when you reach 10 check-ins. I'm sorry about the confusion! The incentive notifications of upcoming prizes are actually supposed to display a generic image rather than a specific prize to avoid people thinking that

[2016-12-03 11:17] dilkROM commented on #5919
I'm experiencing an issues and I am not sure if it's caused by the above or something else. I missed checking my dailies before midnight so I went in to change my CDS to 1 AM instead of 12 AM. When I woke up this morning I seemed to have done damage and also taken damage from the boss in the quest I'm on. There was a system message in the chat at about 11:50 AM. First time I ever saw a strange beh

[2016-12-03 11:40] Alys commented on #5919
@dilkROM Cron always runs when you use Habitica for the first time after your Custom Day Start time. That use can be anything that causes your account to be modified - completing a task, changing a setting, etc. Cron runs **before** your action takes effect.

From what I can see in the logs, it looks like you used Habitica at 19 minutes after midnight (when you went in to change the CDS) so cron r

[2016-12-03 11:49] dilkROM commented on #5919
@Alys thanks for your fast reply. I did the CDS change on the computer. Unfortunately I did not screenshot / do not remember what message it told me. Apologies for that. Can you explain this behavior and why this is a design choice? This seems pretty unintuitive to me; It's 30 minutes past midnight, my cron has ran, I reset to 1 AM I would expect that the next time the cron runs is the next day, 1

[2016-12-03 12:03] Alys commented on #5919
@dilkROM It is deliberate design: Habitica is set up to run cron the first time you use Habitica after your CDS.

It is undesirable to have cron run twice in one day, but the feature that lets you change the CDS is designed to warn you about the next time it will run, and then you can cancel the change if that time doesn't give you long enough to do your Dailies. If you cancel, then cron will run

[2016-12-03 15:07] bdorer commented on #6426
Could you lable pets and mounds? Those are labled in the iOS app so the developer could provide you with the lables.

[2016-12-03 15:44] dilkROM commented on #5919
@Alys right, I think I get it. So in my situation I should've waited until after 1 AM then setup my CDS for 1 AM and the alert would've said that the cron runs at 1 AM starting December 4th. Perhaps that was my mistake. Will make sure to double-check this in the future!

Thanks for all the help!

[2016-12-03 17:30] khipkin commented on #7720
@32gits You have to open up the file `package.json`, manually resolve the merge conflicts, do `git add package.json` once the conflicts are resolved, then do `git rebase --continue`.

[2016-12-03 19:31] NoxiousPluK commented on #8250
Works fine here too on Chrome 54.0.2840.99 m (64-bit) but Windows 10.

When I check the developer tools, it reports Lato aswell.

Can you try setting it (using developer tools) to !important to test?

Based on http://www.wastedpotential.com/solved-google-web-fonts-not-displaying-on-some-macs/ (old but possible still an issue).

[2016-12-03 19:39] lynxlynxlynx commented on #8172
I'd go for something simpler. On level up, nullify only the training data for the stat that "won". That way the rest get a chance to win on the next level ups and even the rares ones can potentially amass enough to win the race at least once.

[2016-12-03 20:42] benwurth commented on #8250
I figured out what the issue was. I had the TypeKit version of Lato installed locally on my machine which (apparently) does not support certain Unicode characters. The Google Font style sheet always pulls the local version of fonts before their CDN fonts and so it was using my local Lato.

As this is a Google Font problem, I'm not sure how you can fix it on your end. I'm going to go ahead and clos

[2016-12-03 20:42] #8250 closed, assigned to nobody

[2016-12-03 23:49] NoxiousPluK commented on #8250
Then adding !important might work for a force-pull? It seems to work for some people :)

[2016-12-03 23:56] 32gits commented on #7720
I added package.json but when I `git rebase --continue` I get this:
[code]
my commit "updated package.json and config.json" was just from when I put habitica on my new PC and found some files were out of date so I manually copy/pasted from the repository source code. I'm guessing there was a better way to do that via Git... I'm about ready to delete my branch and re-fork to start fresh. What shoul

[2016-12-04 00:13] benwurth commented on #8250
I did try adding !important but it did not work for me. Uninstalling my local font did, though.

[2016-12-04 00:26] Hus274 commented on #8035
I tried to really think through all the possibilities of how to solve this problem and ended up doing something different than the above suggestion. The solution that I built individually saves all the users in a party and then retries any of those that fail in the same method for up to thirty seconds (this can be adjusted).

The reason I did this solution was because it seemed less invasive than

[2016-12-04 01:05] khipkin commented on #7720
Ahh.  If I were you, I would start fresh and copy over your changes.  There may be a better way, but this way will probably be simpler.

[2016-12-04 02:28] Alys commented on #8035
@Hus274 That sounds good! I'm happy for us to give it a try. Thank you!

[2016-12-04 02:30] Alys commented on #8250
We're part way through a project to make some improvements to the website so it's likely that this problem won't be around for long.

[2016-12-04 02:41] Alys commented on #5919
@dilkROM No worries, and yes, that sounds right!

[2016-12-04 02:44] Alys commented on #8172
@lynxlynxlynx I like that idea, at least as a way to start improving this feature. It would be easy to explain to the users, which is important to reduce ongoing, repeated questions.

@jimcullenaus How do you feel about that idea?

[2016-12-04 07:30] #7720 closed, assigned to nobody

[2016-12-04 07:37] #8132 closed, assigned to nobody

[2016-12-04 20:51] Alys opened #8253 "sprite for Royal Purple dragon mount is misplaced"
As reported by Aerilita (3b724a41-48d3-4048-ae27-70b258cf5a72) in the Report a Bug guild:

"I just raised Royal Purple Dragon mount and I think the sprite for it is misplaced. I made a comparison with a regular Base Dragon mount here: http://savepic.net/8646829.gif "

[2016-12-04 21:37] Alys opened #8254 "moderator Hall bug: adjusting a previously-blocked user causes them to rest in the inn"
When a moderator uses Social > Hall, they have extra features there for modifying user accounts (e.g., to give pets or gems). When they use those features to make any change to a user's account, if the user has ever been blocked in the past, the change that the moderator makes causes the user to be resting in the inn (not blocked, just resting).

This is because of this code: https://github.com/Ha

[2016-12-04 22:47] crookedneighbor commented on #8254
:+1:

[2016-12-05 00:44] citrusella opened #8255 "Blank messages can be posted to chat"
### Description
[//]: # (Describe bug in detail here. Include pictures if helpful.)

I posted this to the Report a Bug guild:

I tested it out after seeing a blank message in the Tavern this morning; the app won't post a message if you leave the field blank but will post a blank message if it includes a space character. This doesn't happen on the website (except in the case I mentioned above with

[2016-12-05 04:52] khipkin commented on #8253
@Alys Would it be helpful to have an issue tag dedicated to image/pixel-art issues?

[2016-12-05 09:40] a2lin commented on #8241
Sorry for the delay!
@Alys I've opened a PR with an attempt.

Took a few shortcuts:
Filtering by notes turns out to be quite the performance hit (if you own a lot of equipment). Since this feature is mostly targeted at people who own a lot of equipment, I took a shortcut and didn't include searching the description in this attempt (probably gonna need a better data structure unless I overlooked a

[2016-12-05 09:51] Alys commented on #8241
@a2lin Two days doesn't count as a delay! :) I'm impressed that you've made a PR already.

I totally agree about not searching the notes since it's bad for performance. Good call to leave it out. We're  part way through a project to improve the website's front-end code, and it might turn out that after that project is finished, filtering by note is faster, so we can look into it then.

I think it'

[2016-12-05 09:54] Alys commented on #8253
@khipkin Maybe... We're trying to limit the topic-specific tags as much as possible (we used to have HEAPS and it was hard to find the ones we wanted). We make an exception for translations because they're important for understanding the site, and also for challenges at the moment while there's so many challenge bugs, but for everything else we usually prefer to rely on keyword searching. In an id

[2016-12-05 22:52] DrStrangepork commented on #8123
#8148 is merged and deleted, so closing ticket

[2016-12-05 22:52] #8123 closed, assigned to nobody

[2016-12-05 23:15] cybercrash commented on #4252
Hi,
We just had this issue too, we completed Recidivate, Part 1: The Moonstone Chain on Dec 1, and no one got a splash screen or the rewards (party of 3), but on the party page it says "All items found! Party has received their rewards."
Group ID: 466d773f-b6bd-414f-a6d0-6559016bd1c5

Thanks a ton in advance!

[2016-12-06 01:10] Hus274 commented on #8255
I can take a look into making this change.

[2016-12-06 02:00] mdakan commented on #8254
I'm interested in fixing this.

[2016-12-06 02:55] PowerlinxJetfire commented on #7772
I've figured out the root cause of this. The [jQuery plugin](https://github.com/garand/sticky/) Habitica is using for the sticky header (the thing with health, avatars, etc.) doesn't handle dynamic content well. The plugin works by putting a placeholder element in place to keep the rest of the content (i.e. the filter buttons) below the header. But it doesn't detect when the header's size changes,

[2016-12-06 04:03] khipkin commented on #7772
@PowerlinxJetfire Nice investigation!

[2016-12-06 04:47] PowerlinxJetfire commented on #7772
@khipkin thanks! Just submitted a [PR](https://github.com/HabitRPG/habitica/pull/8258) that fixes the resize case.

[2016-12-06 04:50] PowerlinxJetfire commented on #7772
I still haven't found a way to know when all of the content has loaded in order to fix the page load case. You could fix it for most users with a few `setTimeout()` calls that fire at intervals (say every .2 or .5 seconds) for a few seconds after the page load. But if anyone's internet connection is slower than the last timeout, they'd still experience the issue. And overall it would be a pretty h

[2016-12-06 09:28] Alys commented on #4252
@cybercrash I've given the achievement and rewards to your party. Reload if you don't see them. Please tell me if they don't appear after that!

[2016-12-06 09:33] Alys commented on #7772
@PowerlinxJetfire Regarding the long-term view: We're part way through a project to improve the website's front-end code and that will probably change how this issue can be fixed, if the issue persists after the project is done.

[2016-12-06 09:35] Alys commented on #8254
@mylesdakan Thank you!

[2016-12-06 19:37] cybercrash commented on #4252
@Alys thank you so so much!!! seems to have worked!!!

[2016-12-06 19:51] mdakan commented on #8254
@Alys For your third bullet point, is it possible the user would already be asleep? Would that cause a problem for this test?

[2016-12-06 20:11] Hus274 commented on #8253
It looks like this is true for the peppermint dragon as well.

[2016-12-06 20:16] Hus274 commented on #8253
And the spooky dragon.

[2016-12-06 21:21] Hus274 commented on #8253
I think I can pick this up. I haven't done much for image manipulation but it doesn't look too bad.

[2016-12-06 21:46] Alys commented on #8253
@Hus274 Thank you! And for noticing the others.

[2016-12-06 21:48] Alys commented on #8254
Ah, good question. In the tests you can control the user's state so you could make sure they were/weren't asleep first, as appropriate, then run the code to simulate the actions being tested.

[2016-12-06 22:32] khipkin commented on #8253
@Hus274 Those other sprites were already reported in #7982.  Maybe this issue should be merged into that one?

[2016-12-07 01:58] Hus274 commented on #8253
@khipkin From what I saw on that issue, the list of images that needs to be fixed still needs to be compiled. In my preliminary look through the repo, I saw a fair number that still need to be fixed. My suggestion would be to make the list and then break down the work so anyone can pick up any fix. For this reason, I've fixed the ones mentioned above so they don't need to be compiled in that list

[2016-12-07 02:28] Hus274 commented on #7982
### Body Issues
This is a list of the body issues that I was able to find looking through the repository. Still need to look through head files.
* Flying Pig Body
  * Floral
  * Peppermint
  * Spooky
  * Thunderstorm
* Lion Cub Body
  * Etheral
  * Peppermint
  * Spooky
  * Thunderstorm
* Tiger Body
  * Floral
  * Peppermint
  * Spooky
  * Thunderstorm
* Panda Cub
  * Peppermint

[2016-12-07 02:44] Hus274 commented on #7982
### Head Issues
* Dragon (covered by #8253)
* Flying Pig Head - Listed ones are moved slightly up and left
  * Floral
  * Peppermint
  * Spooky
  * Thunderstorm
* Fox Head - These are too high
  * Peppermint
  * Spooky
* Lion Cub Head - Ever so slightly too high and to the left. This might not be noticeable really
  * Peppermint
  * Floral
  * Spooky
  * Thunderstorm
* Panda Head
  * Peppermint ->

[2016-12-07 02:45] Hus274 commented on #7982
These are all the ones I could find by just checking all the images in the repository.

[2016-12-07 06:36] SirIntellegence commented on #8089
What is the status of this? It makes it rather hard for me to check my health on my screen.

[2016-12-07 15:02] tt-rasm commented on #8023
Is this still being worked on? If not, I'd like to tackle it.

[2016-12-07 21:29] Alys commented on #8023
@Tallestthomas Thanks! It's yours now.

@lemoness Do you have a preference for the wording?

I think my favourite is [Awww....What **does** my pet like to eat?](http://habitica.wikia.com/wiki/Food_Preferences)

[2016-12-07 23:50] lemoness commented on #8023
I think "What does my pet like to eat?" is best, though I'd remove the "Awww" section.

[2016-12-08 00:30] TheJadeFox commented on #8023
Thanks!  😊

[2016-12-08 00:42] tt-rasm commented on #8023
@Alys Awesome, I'll get on it in a bit, going with the "What does my pet like to eat?" wording

[2016-12-08 02:49] ricitron commented on #4252
We completed Lunar Battle, Part 1, but didn't get the reward even though it said the quest was completed.
Group ID: 4057b7f8-4a8d-41d9-b26e-f1f3604b3239

[2016-12-08 05:37] paglias opened #8264 "Create a method to add user notifications through MongoDB's updates"
Right now notifications can be added to users through `user.addNotification` that requires a `.save()`, we should have an equivalent method that adds notifications using `User.update` thus not requiring to load and save the entire user

[2016-12-08 05:41] paglias opened #8265 "Add link to merchandise page in Market"
We realized that the merchandise page is only linked in the footer, we should add a link in the market page.

![schermata_2016-12-07_alle_20_36_22](https://cloud.githubusercontent.com/assets/589911/20998898/cf2a82e6-bcc5-11e6-8ded-537864f220a5.jpg)

[2016-12-08 05:43] paglias opened #8266 "Update merchandise page to include the new Habitica Mug"
The [Habitica store](https://teespring.com/stores/habitica) has two more items (mugs) that aren't listed in the merchandise page at https://habitica.com/static/merch

[2016-12-08 09:38] Alys commented on #4252
@ricitron I've given you and your party the quests' rewards and achievements.

[2016-12-08 09:52] #8253 closed, assigned to nobody

[2016-12-08 10:50] jimcullenaus commented on #8172
@Alys it's an interesting idea. I'm unfortunately not nearly a good enough statistician to be able to say whether or not that would work properly.

If I had to make a guess, though, I'd say it very well might roughly approximate a proportional result given a large enough dataset, but when the number of points to be distributed is <100 like with Habitica, I'd be worried it might degenerate to somet

[2016-12-08 11:12] lynxlynxlynx commented on #8172
It's also about code complexity and therefore bugs and maintenance burdens. That's why KISS approaches are so popular.

Sure, if you're one xp away from a level-up and reach it with an old red difficult todo, you'll lose some of the attribution. But is it really that important?

[2016-12-08 15:13] Hus274 commented on #8265
I can pick this one up.

[2016-12-08 17:08] b9chris commented on #8089
To be clear my Pull Request/patch for this issue is attached, so I'm just waiting for approval from the team to merge it into the code. Then this will be Fixed.

Sooo.... can I persuade someone to take a look and if happy, merge it? It's basically a one-liner.

[2016-12-09 02:50] #8089 closed, assigned to nobody

[2016-12-09 17:58] Hus274 commented on #8266
I can add these

[2016-12-09 19:30] #8035 closed, assigned to nobody

[2016-12-09 19:54] #8266 closed, assigned to nobody

[2016-12-09 19:57] #8265 closed, assigned to nobody

[2016-12-09 20:14] #7723 closed, assigned to nobody

[2016-12-09 20:33] jimcullenaus commented on #8172
That's what's so beautiful about this solution though. It's *really* simple. It's just keeping track of two simple pie graphs and returning whatever colour from that graph has the biggest size difference. It's not adding on any new data structures that need to be kept track of, or inventing a complicated new algorithm. It's a simple, elegant way of making the stats represent with near-perfect accu

[2016-12-09 21:30] lynxlynxlynx commented on #8172
That's where we disagree — I don't care for perfect proportionality at all times. I'm looking at it at a level based timeframe, not lifetime. That can can never be really fair under any of these solutions, since you can only assign one attribute to a task, while many should affect more.

[2016-12-09 22:30] Hus274 commented on #8264
I can add this.

[2016-12-09 22:57] khipkin commented on #8264
@paglias Should the original method be removed when the new one is added?

[2016-12-10 01:02] paglias commented on #8264
@khipkin not really, I wanted to add this new method because it'll allow us to add a notification without having to load the user when it's not already loaded

[2016-12-10 05:05] hexanoid commented on #4252
Hi,
We've just had the same issue.
We completed Vice, Part 2: Find the Lair of the Wyrm but it seems that one of the group members received the reward and achievement. I think it is the same issue as everyone reported here.
Group ID: b958e6b8-b4e2-4046-b576-3aa912bfc6a4
Thank in advance!

[2016-12-10 05:06] khipkin commented on #8264
@paglias So when would it be better to use the old method instead of this new one?

[2016-12-10 05:32] TheHollidayInn commented on #8264
@khipkin Technically, it would be better to use the old method when you have the user loaded and you are already making updates to the user. This new method would be used only when you are only adding a notification.

@paglias and @Hus274 I strongly suggest we document these methods and their separate use cases. Honestly, I don't believe many people to pick up on the differences, but if they see e

[2016-12-10 08:56] Alys opened #8274 "sprites in Cornucopia Mystery Item Set are misaligned"
The sprites for the Cornucopia mystery items are misaligned (head_mystery_201611 and weapon_mystery_201611).

When used in Habitica, they look like this:
![bad](http://i.imgur.com/PAAQTYJ.png)

But they should look like this:
![good](http://vignette2.wikia.nocookie.net/habitrpg/images/9/91/Promo_mystery_201611.png/revision/latest?cb=20161123070157)

I.e., In Habitica, the hat is too far to the lef

[2016-12-10 17:06] foxnsocks opened #8275 "On iPad, a single press of backspace in any chat/pm window results in slowly deleting entire post"
New this week, at least to me. I did just update to ios 10.1.1, but I also usually compose in notepad and paste into chat because of fatal lag so I may not have noticed. This is on safari on iPad - I use the phone app (android) but web on desktop and toy devices.

[2016-12-10 17:37] khipkin commented on #8264
@TheHollidayInn Ahh that makes sense! But I agree that documenting the differences would be rather important.

[2016-12-10 20:34] #7697 closed, assigned to nobody

[2016-12-10 20:43] TheHollidayInn commented on #8023
Fixed via #8268

[2016-12-10 20:43] #8023 closed, assigned to nobody

[2016-12-10 21:27] paglias commented on #8264
One example would be this PR, where we load the user just to add the notification https://github.com/HabitRPG/habitica/commit/6a63f080adb89ce7afc2c65dc884368cc45ddc71#diff-b950a7c557b35ea58bc2685532c46170R309

I agree that docs are important, also the notification should probably be build using `new UserNotification(...)` with UserNotification being a model that can be found in models/userNotifica

[2016-12-10 22:28] #8241 closed, assigned to nobody

[2016-12-11 20:00] padm0 commented on #8274
Hello! I'd like work on this!

[2016-12-11 20:15] TheHollidayInn commented on #8274
@padm0 Go for it!

[2016-12-11 21:48] Alys commented on #4252
@hexanoid I've given the achievement and rewards to your party.

[2016-12-11 21:55] Hus274 commented on #4252
@Alys do you know if this occurred after #8251 was deployed to prod?

[2016-12-11 22:20] padm0 commented on #8274
<img width="212" alt="after" src="https://cloud.githubusercontent.com/assets/24511511/21083787/f50790c8-bfac-11e6-95e4-3430829e409e.png">
<img width="168" alt="before" src="https://cloud.githubusercontent.com/assets/24511511/21083788/f508491e-bfac-11e6-85cb-4cd5da3c5051.png">

[2016-12-11 22:20] padm0 commented on #8274
Before:

[2016-12-11 23:48] khipkin commented on #4252
@Hus274 I could have just missed it, but I don't think that PR has been pushed to the live site yet.

[2016-12-12 00:09] padm0 commented on #5419
Hello! Is this issue looking for:
1) continuity across the English names of the image files to translate to other languages better?
or
2) for better translations of existing files in other languages?

[2016-12-12 00:23] padm0 commented on #7982
Hello! I've started working on some of these images. What would be the best way to submit the corrections?

[2016-12-12 02:50] Alys commented on #4252
@khipkin Correct, it hasn't been deployed yet.  @Hus274 You can keep track of deployments to prod at https://github.com/HabitRPG/habitica/releases and bug fixes are always mentioned there. But don't worry, I will be keeping a very close eye on this bug once your code is deployed. :) I'll make note of the release here at the time of release (unless someone one else does first), and I'll go back to

[2016-12-12 15:52] Hus274 commented on #4252
@Alys that sounds great, thank you!!

[2016-12-12 17:13] #8274 closed, assigned to nobody

[2016-12-12 17:18] SabreCat commented on #7982
@padm0: A pull request would be ideal. I saw you did one already for the cornucopia set, so keep doing that! Let us know if you need any help.

[2016-12-12 18:40] chonkatonk commented on #4252
sup sup, anyone know how to get off this chain? i thought i unsubscribed
but am still getting them

On Mon, Dec 12, 2016 at 10:52 AM, Travis <notifications@github.com> wrote:

--
Regards,
 Tim Lara

[2016-12-12 20:36] SabreCat commented on #4252
@chonkatonk: There's a "mute the thread" link in the email you replied to. You can also log in to GitHub and click the "unsubscribe from this thread" button on the Notifications page, https://github.com/notifications

[2016-12-12 20:39] chonkatonk commented on #4252
thanks so much!

On Mon, Dec 12, 2016 at 3:37 PM, Sabe Jones <notifications@github.com>
wrote:

--
Regards,
 Tim Lara

[2016-12-12 20:58] Alys commented on #4252
For the record, we've been getting a lot of this bug lately, although I've been forgetting to record it here. I've even been seeing it in parties of less than six players.

A fix for it went live about half an hour ago in [Release v3.59.1](https://github.com/HabitRPG/habitica/releases/tag/v3.59.1): [Implementing retries on failed user updates when finishing a quest by Hus274 - Pull Request #8251](

[2016-12-13 03:39] Hus274 commented on #7618
I apparently lost track of this issue at some point and just found it a day ago. Sorry for the delay on this, I've posted a pull-request now!

[2016-12-13 04:34] Hus274 commented on #6941
Would it be alright if I tried picking this up?

[2016-12-13 13:59] paglias commented on #7618
@Hus274 no worries, we're usually the ones who lose track of PRs :)

[2016-12-13 14:15] TheHollidayInn commented on #6941
@Hus274 I think that is fine. I'd like to message you about implementation thoughts though. I'll PM you

[2016-12-13 18:48] #2893 closed, assigned to nobody

[2016-12-13 22:50] Alys opened #8282 ""Path 'type' required" error from incomplete notification"
We've seen three reports from users who were getting constant errors saying `Path 'type' required`. It prevents them performing any actions on the website or mobile app.

It's caused by an incomplete entry in the user's `notifications` object. Below is an example. The cron notification is included for comparison - the incomplete notification is the one under it with nothing but an `updatedAt` line

[2016-12-13 23:49] khipkin commented on #7991
The PR I mentioned above (#7904) has finally been merged, so I can start working on this sometime this week! 🎉

[2016-12-13 23:55] Alys opened #8283 "space missing in Gem gift message"
When gems are gifted to a player, the player receives a message saying "[person's name] has sent you X gems".

In languages other than the default `en`, there's no space between the number of gems and the translated word "gems". This is because the en version of the `privateMessageGiftIntro` string contains a space at the end of the string:
`"Hello <%= receiverName %>, <%= senderName %> has sent y

[2016-12-14 00:02] vincecampanale commented on #8283
Hello Alys! I have not contributed to Habitica before. This seems like a manageable task for a newbie. Mind if I give it a shot?

[2016-12-14 00:14] Alys commented on #8283
@vincecampanale Please do! Thank you!

[2016-12-14 00:33] vincecampanale commented on #8283
@Alys Having trouble upgrading MongoDB. Can I proceed with version 3.2?

[2016-12-14 04:09] vincecampanale commented on #8283
Okay, I have made the necessary changes. Unfortunately merging `privateMessageGiftIntro` and `privateMessageGiftGemsMessage` means that the translations will have to be redone, however it is definitely the best solution. If the translations cannot be redone, I could keep `privateMessageGiftIntro` and just add a space to the beginning of `privateMessageGiftGemsMessage`, but 1) that's not really fix

[2016-12-14 04:27] Alys commented on #8283
In my opinion, it's fine to redo the translations for this. It will result in an improvement overall. Translators are often looking for extra work anyway :)

You can commit them locally, push them to your fork of the repository in GitHub, then from there do a pull request.

[2016-12-14 05:05] vincecampanale commented on #8283
@Alys Sounds good :) Just made the Pull Request!

[2016-12-14 13:37] khipkin commented on #8283
I'm concerned that `privateMessageGiftIntro` may be intended to be combined with `privateMessageGiftGemsMessage` OR `privateMessageGiftSubscriptionMessage`:

      "privateMessageGiftGemsMessage": "<%= gemAmount %> gems!",
      "privateMessageGiftSubscriptionMessage": "<%= numberOfMonths %> months of subscription! ",

[2016-12-14 16:14] vincecampanale commented on #8283
Ah you're right @khipkin. Good observation. @Alys is there a spacing error when gifting months of subscription as well?

I can either recreate privateMessageGiftIntro and concatenate `privateMessageGiftGemsMessage` with a space when constructing `message` (then do the same for `privateMessageGiftSubscriptionMessage`). Or, I can just apply the consolidation I used for `privateMessageGiftGemsMessage

[2016-12-14 16:57] lynxlynxlynx commented on #8283
Can this wait until pr 8173 is merged? We'll have conflicts otherwise.

[2016-12-14 21:53] Caryyon commented on #7916
I also was unable to reproduce. Has this issue been fixed or should I keep digging?

[2016-12-15 02:28] vincecampanale commented on #8283
@lynxlynxlynx Sounds good, let me know when it's ready.

[2016-12-15 15:09] devnuhl commented on #4628
+1 for Collection quests being real time. I think two in my party yesterday lost all progress as the third cron'd first, had enough items to solo finish it, leaving myself and the second with nowhere for our progress to go. I understand cronning the combat quests, but not collection.
/2c

[2016-12-15 16:00] #7712 closed, assigned to nobody

[2016-12-15 19:47] #7618 closed, assigned to nobody

[2016-12-15 22:27] SabreCat commented on #7916
Reproduced it just now in the Tavern. If you look carefully as you click different profiles, you will see it come up, ~but it's not reproducible by toggling one's own mount and viewing one's own profile.~

![image](https://cloud.githubusercontent.com/assets/4501321/21244413/21cfb2a0-c2e3-11e6-9644-506acc65ce6c.png)

~I suspect it may be a difference between whether the user's equipped mount is `nu

[2016-12-16 00:36] #7722 closed, assigned to nobody

[2016-12-16 00:51] vincecampanale commented on #8283
@Alys Now that PR #8173 is merged, how do I sync my fork and update my local version so I can try to tackle this problem again?

[2016-12-16 01:33] Alys commented on #7916
Equipping and dequipping a pet still shows this problem in your own avatar.

[2016-12-16 08:46] lynxlynxlynx commented on #8283
If you're not familiar with git, it will be easier if you ignore your previous commits and start fresh. Assuming you're on the master branch and you named the official repository (remote) "upstream":
git branch old8283 # save previous work
git reset --hard HEAD~2 # delete last two commits
git fetch upstream && git rebase upstream/develop

Then just do what you did before. You can look at your prev

[2016-12-16 09:17] DrStrangepork opened #8288 "Habitica does not build as a docker container after upgrade to npm@4"
General Info
  * UUID: 30983c37-52c3-415d-977c-38af6c7db91c
  * OS: docker

### Description
Because each line of a Dockerfile runs as a separate container in cache, the environment that installs npm@4 does not carry over to subsequent commands, resulting in a failure of npm commands.

#### Console Errors
    Step 11 : RUN npm install -g gulp grunt-cli bower
     ---> Running in 1a82edfe5612
    mo

[2016-12-16 10:26] Alys opened #8289 "pixels missing in broad Bloodred Robes (armor_special_fallRogue)"
There are pixels missing in broad Bloodred Robes (armor_special_fallRogue).
As reported by JuniperGrove in the Report a Bug guild:

"while the "slim body" version of the vampire hunter rogue outfit is fine... the "broad" version does this thing where it shows a shirt pixel. Honestly I just pretended it was earrings, and its possible no one noticed because I'm betting the hood covers it, but I just

[2016-12-16 13:08] DrStrangepork commented on #8288
This appears to be a known bug with npm: https://github.com/npm/npm/issues/15225

[2016-12-16 17:18] SabreCat commented on #7916
Edited my post to strike out my fail.

[2016-12-17 00:46] #7982 closed, assigned to nobody

[2016-12-17 01:34] vincecampanale commented on #8283
Okay, I made the change that should fix the issue without breaking anything that depends on `privateMessageGiftIntro`.
What's the best way to test this change? Or should I just submit it for review since it is relatively small?

[2016-12-17 01:52] vincecampanale commented on #8283
Anybody know how to resolve this?

<img width="625" alt="screen shot 2016-12-16 at 8 56 38 pm" src="https://cloud.githubusercontent.com/assets/15335197/21283505/8868c13e-c3d1-11e6-8dbe-5389b2283577.png">

[2016-12-17 06:36] TheHollidayInn commented on #8283
Do `git fetch` instead. Then `get rebase [branch]`

[2016-12-17 09:07] lynxlynxlynx commented on #8283
And you'll have to force push to your fork (push -f).

[2016-12-17 20:13] padm0 commented on #8289
I'd like to work on this!

[2016-12-17 20:29] Hus274 commented on #8282
Based on the example above and the fact that the updatedAt timestamps for the two notifications are at the same time and the type of the first one is CRON, I feel like this is likely related to the splice statement [here](https://github.com/HabitRPG/habitica/blob/develop/website/server/libs/cron.js#L374). I'm wondering if there's a bug in Mongoose with this situation that could lead to this.

What

[2016-12-17 21:27] vincecampanale commented on #8283
So the code is functional, as shown in the expected vs. actual output of the transfer gems test. (Expected lacks the space, actual has correct spacing -- so the test fails, but the output is what we want.) I'm having trouble with figuring out how to get the build to pass all of the tests. I could rewrite the tests and have it pass that way for the second of the build tasks, but the first one just

[2016-12-17 22:16] lynxlynxlynx commented on #8283
You added blank lines.

JS ES2016 allows for specifying a key:value pair as just one of them, when they are identical. So don't construct anything like { a: a }

Another style thing, add a comma to the last element in the array/list/object. You'd think it's a syntax error, but no.

[2016-12-18 05:11] TheHollidayInn commented on #8289
Go for it!

[2016-12-18 15:53] paglias commented on #8282
@Hus274 my idea was the same, that .splice was to blame but I've asked mongoose's maintainer and there shouldn't be problems with it https://github.com/Automattic/mongoose/issues/4807#issuecomment-267792059.

So far we've removed the code that added `updatedAt` to every notification and the errors have disappeared but I'm not sure if it solved the problem or if it was already solved and the change

[2016-12-18 17:19] vincecampanale commented on #8283
All the tests passed! Thank you so much @lynxlynxlynx - that advice was extremely helpful for this PR _and_ taught me some new things.

[2016-12-18 18:11] Hus274 commented on #8282
@paglias ahh ok, I would be curious to know if the bug starts reoccurring when the lastUpdatedTimestamp is reintroduced. Is there a reason we do a remove and then add a new notification instead of simply doing an update? It seems like the createdAt and updatedAt timestamps would make the update ideal.

[2016-12-19 07:57] samking opened #8298 "Suggestion for improvements to the new favicon"
The favicon was recently changed to have a white background (https://github.com/HabitRPG/habitica/issues/7720).  This makes it look non-standard since very few websites have a non-transparent background for their favicons, and the same is true for tiles in mobile apps, etc.

A more standard way of achieving good viewability regardless of the background is using an outline.  The two files I could f

[2016-12-19 12:12] Alys commented on #8298
@samking Thank you for looking into this! I've pinged the staff to look at your suggestions.

[2016-12-19 15:00] vincecampanale commented on #8283
Okay pull request #8294 submitted with all the necessary changes!

[2016-12-19 17:33] mcooledge commented on #8298
Just to add my two cents: I definitely prefer this option. I didn't catch the reason for the white background change (now that I see it, I have never had the icon on my windows 10 taskbar), and the appearance on my list of pinned tabs has been bothering me since the change.

<img width="141" alt="habitica" src="https://cloud.githubusercontent.com/assets/11431021/21322499/37c15e72-c5ce-11e6-9a75-de

[2016-12-20 16:48] vincecampanale commented on #8070
@markwk @TheHollidayInn @MathWhiz I'd be happy to give this a shot if that's okay with you guys.

[2016-12-20 18:22] TheHollidayInn commented on #8070
Sounds good. I updated my link to reflect the file change.

[2016-12-21 01:52] #7730 closed, assigned to nobody

[2016-12-21 21:03] lemoness opened #8301 "Scrolling while a modal opens displaces the modal"
* Browser: Safari

### Description
If you happen to be scrolling when a modal opens, it scrolls halfway off of your screen and gets stuck. Furthermore, all the button links align with their original positions, not their displaced images, so you have to hunt around the screen to find them.

Example:

![screen shot 2016-12-21 at 12 48 56 pm](https://cloud.githubusercontent.com/assets/3494081/2140594

[2016-12-22 02:38] Alys opened #8303 "Party page does not update after accepting an invitation to a new party"
From Andrea the Goblin Cleaver (35dd6e3e-f660-4d74-b254-d541e33a70c4) in the Report a Bug guild:

"not sure if its a bug or my browser, but here is what happened: I was in a party, I was invited to another. I accepted the invitation. It still showed me as being a member of my old party, I clicked leave party, that worked but now I have no party and no invitation."

My response (which is a bit of a

[2016-12-22 02:55] Alys opened #8304 "Open new tasks in edit mode doesn't work with new task editing modal"
_edit by Alys 2017-01-21:_

The fix needed for this is that when the "Add Multiple" option is being used, the user's preference option for "Open new tasks in edit mode" should be ignored.

----

From Rachel Ann (7b9c41d3-6d21-4168-9dfd-e0c2489df8ff) in the Report a Bug guild (confirmed by me):

"**The new edit modal doesn't seem to work with the setting "Open new tasks in edit mode". It has no che

[2016-12-22 03:39] Alys opened #8305 "tasks from closed or deleted challenges cannot be removed"
After a challenge has been closed or deleted, it is impossible for any challenge participant to remove the challenge's tasks.

From Laura D (fbd1f053-a460-4b34-a893-2d5934b30e69) in the Report a Bug guild and confirmed by me:

"I just tried to remove the items associated with a challenge that had ended by clicking on the 'broken challenge' link. Instead of bringing up the option to remove the thin

[2016-12-22 04:11] khipkin commented on #8303
This sounds like a side effect of the party not being kept up to date. Do party leave API requests not include a party id? That would be useful for validation that weird things like this can't happen.

[2016-12-22 04:13] Alys commented on #8305
Challenge tasks can be deleted on the mobile apps. Thanks to Altariel for pointing that out! I'm editing the "What to do" section now.

[2016-12-22 08:17] cTheDragons opened #8307 "New Edit functions requires more scrolling on smaller screens"
## General Info

User Id: bc10ec41-4213-4482-bbb8-558e3c3ea8d5
Opera 42.0.2393.85
Windows 10 32-bit
Screen Size: 1368 X 768

## Description

With the new edit function I now I have to scroll much more. As
+ the text is much bigger and therefore I can't see all my task details without scrolling
+ There is no save option at the top of the edit task now. {EDIT by Alys: a save button will be added in

[2016-12-22 08:42] cTheDragons opened #8308 "Task left in odd setting when cancelling editing with ESC / Escape Key"
## General Info

bc10ec41-4213-4482-bbb8-558e3c3ea8d5
Opera 42.0.2393.85
Windows 10 32-bit

## Description

+ Edit Task.
+ Press ESC key to cancel Task.
+ Task is left in "old edit mode"((as per image below) where you need to press save (tick) for it to return to checkbox like other tasks.

![taskleftineditmode](https://cloud.githubusercontent.com/assets/14116069/21419851/4ecb391e-c87e-11e6-93db-8

[2016-12-22 17:40] #8305 closed, assigned to TheHollidayInn

[2016-12-23 05:36] cailinglu commented on #8057
Hello, I'm wondering if I could help with this, unless MrWalen is still working on it.

[2016-12-23 22:51] Castironowl commented on #8307
I particularly second the request to put a save button at the top again.

[2016-12-25 06:48] Alys opened #8311 "group plans Habits and Rewards cannot be edited in Group Tasks List screen ("Save and Close" not functional)"
When I create a Habit or a Reward in a Group Plan that I'm a leader of, I cannot edit it because the "Save and Close" button is not functional. I can make changes to the task's attributes but clicking the save button has no effect (the edit modal remains open and if I cancel it with the cancel button or by hitting ESC, the changes are not saved). This also applies to Habits and Rewards that were c

[2016-12-25 06:49] Alys commented on #8311
This was first reported by MuMind (81385353-52cd-4f46-b424-007c49a00950) in the Report a Bug guild:

"Can't remove negative button from Group Plan habit. On web the Save & Close button doesn't save or close. On Android it just doesn't actually remove the negative button."

[2016-12-25 09:34] Alys commented on #8311
The same applies to Rewards. I'm updating the title and top post to reflect that.

To-Dos and Dailies don't have this bug.

[2016-12-25 10:10] Alys opened #8312 "Party Up and Party On achievements are missing text"
_From thebat137 (dea8a9e8-c084-438a-9a14-7fe96a73fd0a) in the Report a Bug guild:_

I was just looking at my achievements list and I noticed that the hovertext for the "Party Up" and "Party On" achievements seems to be missing. Hovering over the icons just says "Party Up/partyUpText not found" and "Party On/partyOnText not found" (where the slash in those quotes is meant to represent a linebreak).

[2016-12-25 16:19] khipkin commented on #8312
The string names got reverted in [this commit](https://github.com/HabitRPG/habitica/commit/ea24eeb0199a687115da0224b64b62c57629aea2#diff-040152bf2f4ce00a01ce5aa334f0851f).

[2016-12-25 17:06] #8289 closed, assigned to nobody

[2016-12-25 18:50] TheHollidayInn commented on #8312
Eh, sorry. This was definitely my fault. Thanks for fixing it.

[2016-12-25 21:00] #8311 closed, assigned to TheHollidayInn

[2016-12-25 22:03] lynxlynxlynx commented on #5419
From what I read of it, it's more about 2 through improving the originals. Having two identical strings to translate is confusing in itself, let alone spurring the imagination. You have to look at the json key to differentiate and if you translate them literally, like suggested in the first post, you can get non-matching combinations of names and images.

[2016-12-26 07:26] dbarnett commented on #8311
Is the issue on Android also tracked (or related to the checklist issue)?

[2016-12-26 11:53] Alys commented on #4018
There's new behaviour for this bug - it now crashes the website. Steps to reproduce the error:

- Create a new reward
- Change the reward to -10 and save
- First Bug: the reward value does not display, it is blank
- Click the reward
- Second Bug: Web page appears to go into a loop till you run out of memory. No Console errors

The desired fix is:
- Adjust the API so that the only possible values f

[2016-12-26 11:56] Alys commented on #4549
I'm closing this because I can't replicate it and it will be covered in the fix for [Negative reward crashes the website - Issue #4018 · HabitRPG/habitica](https://github.com/HabitRPG/habitica/issues/4018)

[2016-12-26 11:56] #4549 closed, assigned to nobody

[2016-12-26 15:07] khwj commented on #7916
@Alys
Is @AndrewPomorski still working on this? If not I'd like to take this task.

[2016-12-26 20:02] librarianmage commented on #8246
Should this be closed, as the group plans have already been launched?

[2016-12-27 04:47] Alys opened #8315 "Background of task editing modal is white if you double-click the task"
**UPDATE**: The issue occurs when you double-click the task to edit it instead of clicking the pencil icon, regardless of browser/platform.

---

In the Report a Bug guild, derpderp (a7d65869-2f12-433a-a111-b4811ab89555) has told us that when editing a task, the background is always white and there is no highlighting to indicate which buttons have been selected (e.g., for due days, difficulty, etc

[2016-12-27 06:01] Alys commented on #8307
I also support adding a save button or similar to the top of the modal. it's an important usability enhancement for anyone who is editing a task to adjust the title, notes, or checklist, which are common reasons to edit.

[2016-12-27 06:07] Alys commented on #8057
@caillu Please go ahead. Taking @crookedneighbor's feedback above into account, the desired fix now is:

- Leave the existing "balance" property as it is now.
- Create a new property called "balance gem amount" or similar (spaces are optional) which works in the same way as the "balance" property but displays the balance divided by 4. I want the word "balance" (lower case) to be at the start of th

[2016-12-27 06:16] Alys commented on #8311
@dbarnett On the Android app, there's no way yet to manage group plans so this issue wasn't relevant to it. I'm guessing that "On Android it just doesn't actually remove the negative button" refers to an attempt to edit the task in the player's own task list. Regardless, I don't think any further fixes are needed for this issue.

[2016-12-27 06:21] Alys opened #8316 "add "Save & Close" and "Cancel" buttons to the top of the task edit screen"
As described in https://github.com/HabitRPG/habitica/issues/8307, now that task editing is done in a modal, reaching the "Save & Close" and "Cancel" buttons requires scrolling to the bottom, which is especially inconvenient on small screens or when the tags and advanced options are expanded.

We should add "Save & Close" and "Cancel" buttons at the top of the modal (as well as having them at the b

[2016-12-27 06:27] Alys commented on #8307
I've decided to break out the save button problem into a separate issue for a quick fix:: [add "Save & Close" and "Cancel" buttons to the top of the task edit screen - Issue #8316 · HabitRPG/habitica](https://github.com/HabitRPG/habitica/issues/8316)

I'm marking this issue as suggestion-discussion for consideration of two columns (an interesting idea!!) or a smaller font (which might have its own

[2016-12-27 07:57] maximumtiu commented on #8316
Hi, I'd like to take a crack at this one!

[2016-12-27 08:40] Alys commented on #8316
@megantiu Thank you!

[2016-12-27 11:39] janetmango opened #8317 "Can't Remove Ended Challenge Tasks on Firefox or Chrome"
UUID:  d075dca7-01ed-4666-ae2d-22feef18c7bc
Browsers:  Firefox and Chrome
OS: Windows 10

Since the new edit task console, I can't remove broken challenge tasks.  I click the broken challenge link and the task goes blank (picture attached).  When I click Save or Cancel it returns to normal.

When I click the edit task button, the edit task console opens. But if I click Remove task button, nothing

[2016-12-27 13:05] Alys commented on #8317
That's a known problem and we have a fix for it already, which will be deployed in a day or two.

[2016-12-27 13:05] #8317 closed, assigned to nobody

[2016-12-27 16:11] paglias commented on #8246
Let's keep this open for a another few days, still have to do some things

[2016-12-27 18:23] dbarnett commented on #8311
Right, I had claimed the task and attempted to edit it from there. You're saying editing group tasks there is a separate feature request? There wasn't any related error message or anything, just looked like it saved when I clicked "Save & Close" and had no effect.

[2016-12-27 21:52] blatherwock commented on #8315
I'm running Chrome Version 55.0.2883.95 (64-bit) on Mac OS X El Capitan (10.11.6). If I click the edit icon I get the correct yellow background and button highlights, but if I double click on the task to open the popup I get the white background and no button highlights.
<img width="600" alt="screen shot 2016-12-27 at 16 48 53" src="https://cloud.githubusercontent.com/assets/1683023/21509194/bc6ec

[2016-12-27 22:01] SabreCat commented on #8315
Good elaboration, @blatherwock! I will update the issue title, which will help people recognize the workaround of clicking the pencil icon.

[2016-12-27 22:07] beejunk commented on #8315
I can confirm the white background appears on Firefox 50 (Ubuntu Linux) when using the double-click method described by @blatherwock.

[2016-12-27 22:58] joshuabowers2 opened #8320 "Users checked off tasks during christmas but they were not recorded"
[//]: # (Before logging this issue, look through common problems at https://github.com/HabitRPG/habitrpg/issues If you find your issue there, read at least the first post to see if there is a workaround for you)

[//]: # (Github is primarily used for reporting bugs. If you have a feature request, use "Help > Request a Feature" so that the feature request can be vetted by the larger Habitica commun

[2016-12-28 04:02] SabreCat opened #8321 "Can't dismiss task edit modal by clicking outside of it"
[//]: # (Before logging this issue, look through common problems at https://github.com/HabitRPG/habitrpg/issues If you find your issue there, read at least the first post to see if there is a workaround for you)

[//]: # (Github is primarily used for reporting bugs. If you have a feature request, use "Help > Request a Feature" so that the feature request can be vetted by the larger Habitica commun

[2016-12-28 04:25] cTheDragons opened #8322 "Challenge owners cannot delete challenge tasks"
### General Info
* bc10ec41-4213-4482-bbb8-558e3c3ea8d5
* Opera 42.0.2393.85
* Windows 10 32-bit

### Description

You can't delete tasks in a challenge once they are already added. (The trash can no longer exists either in view or edit mode). Because of this, if you accidental put extra tasks in, you need to re-enter the challenge from scratch.

[2016-12-28 04:31] Alys commented on #8320
@joshuabowers2 I've seen that you've reported this in the Report a Bug guild, so we'll handle it there. Reporting tasks in two places can lead to double handling, which can cause problems. The Report a Bug guild is the best place to report any bug. We'll always let you know if it needs to be copied elsewhere.

[2016-12-28 04:31] #8320 closed, assigned to nobody

[2016-12-28 05:16] Alys commented on #8322
I'm pretty sure this is a new bug. It probably appeared in the past couple of days, otherwise we'd have heard about it before now.

Anyone got any ideas about the cause from any recent code changes?

[2016-12-28 05:29] Alys opened #8324 ""undefined" notification when marking tasks complete and possibly from other actions"
As reported by Aerilita (3b724a41-48d3-4048-ae27-70b258cf5a72) in the Report a Bug guild:

"While checking my due dailies, at the one before last, got 'undefined' among the floating notifications. Thought I'd snap a picture just in case. [below]
(I'm not sure all the notifications are from one task, I ticked off several in succession.)"

I've seen this myself occasionally but never got around to r

[2016-12-28 06:26] TheHollidayInn commented on #8322
I'll fix this.

[2016-12-28 06:53] TheHollidayInn commented on #8324
I believe this an issue with our http interceptors and notification parsers for Angular.

[2016-12-28 07:08] #8322 closed, assigned to TheHollidayInn

[2016-12-28 07:24] #8316 closed, assigned to nobody

[2016-12-28 07:38] #2715 closed, assigned to Alys

[2016-12-28 07:45] citrusella opened #8326 "Pressing enter to confirm character choice in IME creates new checklist line"
_edit by Alys 2020-01-14:_

For the current status of this issue, see this comment below: https://github.com/HabitRPG/habitica/issues/8326#issuecomment-574092129

The fix for this issue was made on the old website so it might have stopped working when the new website was created.

_end of edit_

---

### Description
[//]: # (Describe bug in detail here. Include pictures if helpful.)

I was asked t

[2016-12-28 08:07] Alys commented on #8324
In that case, we should probably leave it to be fixed by the site redesign. I think it's worth leaving open though so we don't get duplicate reports. Opposing opinions welcome though. :)

[2016-12-28 08:12] Alys commented on #8311
Only the group leader can edit certain aspects of group plan tasks, such as  the +- buttons. The leader needs to do that in the Group Tasks List tab in the guild or party's page.

[2016-12-28 08:33] #8288 closed, assigned to nobody

[2016-12-28 08:56] Alys commented on #8321
Clicking outside the modal should have exactly the same effect as clicking the cancel button - i.e., it's important that the edit mode is completely cancelled, rather than leaving the task in the task list  in a semi-editing state (as described in https://github.com/HabitRPG/habitica/issues/8308).

[2016-12-28 08:56] changami commented on #8326
@citrusella Thanks for the great and detailed explanation!

I recorded this behavior.
![habitica_bug_report](https://cloud.githubusercontent.com/assets/1789422/21517930/afdd1156-cc97-11e6-8884-be2884f5b074.gif)

And, can I investigate if possible?

[2016-12-28 09:12] Alys commented on #8326
@changami Great video - thank you! That really helps.

Yes, you'd be most welcome to look into this! Ask here if you have any questions or run into any trouble. This is a usability issue so it would be good for it to be fixed.

[2016-12-28 15:35] dbarnett commented on #8311
K, so I guess the app UI needs to reflect that better.

Unfortunate, though. For all the expense of group plans, there are still a lot of limitations in practice.

[2016-12-28 15:36] #7916 closed, assigned to nobody

[2016-12-28 15:39] TheHollidayInn commented on #8321
To add to @Alys 's comment. This function needs to be called when outside the modal is clicked: https://github.com/HabitRPG/habitica/blob/develop/website/client-old/js/services/taskServices.js#L277 .

To allow for clicking outside to cancel, just remove the backdrop property here: https://github.com/HabitRPG/habitica/blob/develop/website/client-old/js/services/taskServices.js#L274 . Then, added a

[2016-12-28 19:34] TheHollidayInn opened #8329 "Lunar Battle quests and the Feral Dust Bunnies quest have incorrect unlock conditions"
### Description

As reported in the Report a Bug Guild:

Here is the start of the code that needs to be changed.
https://github.com/HabitRPG/habitica/blob/develop/website/common/script/content/index.js#L2655

#### Console Errors
[//]: # (Include any JavaScript console errors here.)

[2016-12-28 19:40] SabreCat commented on #8329
The Web site has special handling to display the check-in count instead of "invite friends," but the mobile apps still display only "invite friends". The user reporting the issue is probably on mobile.

Two things to do for the fix, in order:

1. Update the mobile apps to handle a new unlock condition, "check-in incentive".
2. Update the content file to have "check-in incentive" instead of "invite

[2016-12-28 19:40] FedyuninV commented on #8315
Chrome 55.0.2883.87 on Windows 10 (x64) - white background on double click. Does anyone got correct color by double click?

[2016-12-28 19:45] Alys commented on #8311
@dbarnett The group plans are designed to allow the group leader to have strict control over the tasks. It's a deliberate feature, not a limitation, that you can't edit the copies of the tasks in your own task lists.

[2016-12-28 19:48] Alys commented on #8308
The first half of this comment: https://github.com/HabitRPG/habitica/issues/8321#issuecomment-269494056 might be relevant to this issue (calling the cancelTaskEdit function).

[2016-12-28 20:14] TheHollidayInn commented on #8308
Yea, I believe adding this will solve both issues: http://stackoverflow.com/questions/8363802/bind-a-function-to-twitter-bootstrap-modal-close

The angular way though.

[2016-12-28 20:16] TheHollidayInn commented on #8315
Double click is currently not passing the taskStatus: https://github.com/HabitRPG/habitica/blob/2da0a1e88c115300dd70bd73e1f489b53348b6cc/website/client-old/js/controllers/tasksCtrl.js#L72 . That is causing this issue:

Here is the function for reference: https://github.com/HabitRPG/habitica/blob/2da0a1e88c115300dd70bd73e1f489b53348b6cc/website/client-old/js/controllers/tasksCtrl.js#L59

[2016-12-28 21:27] Alys opened #8330 "a negative number of gold-purchasable gems is confusing - display zero instead"
When a subscriber's number of gems already bought with gold in the current month is larger than their monthly gem cap, a negative number is displayed on the gem in the Market.
I.e., when `purchased.plan.gemsBought > 25 + purchased.plan.consecutive.gemCapExtra`  you see something like this:
![image](https://cloud.githubusercontent.com/assets/1495809/21531846/df924db2-cd96-11e6-90f6-ee9f7984f141.png

[2016-12-29 13:25] khipkin commented on #8324
@TheHollidayInn Why do you think that is the cause?

[2016-12-29 14:26] TheHollidayInn commented on #8324
@khipkin Basically, we have notifications that display damage returned in a notifications array on the api response object. On Angular, we have interceptors and a notification ctrl that reads these notifications. There is something off on the timing.

[2016-12-29 18:38] SabreCat opened #8333 "when no audio theme is chosen, do not try to find mp3 files (Server logs errors for failure to find /assets/audio/off/*.mp3)"
[//]: # (Before logging this issue, look through common problems at https://github.com/HabitRPG/habitrpg/issues If you find your issue there, read at least the first post to see if there is a workaround for you)

[//]: # (Github is primarily used for reporting bugs. If you have a feature request, use "Help > Request a Feature" so that the feature request can be vetted by the larger Habitica commun

[2016-12-29 20:07] mandyzhou commented on #8307
Would it be possible to lessen the padding/vertical space between fields? I feel like there's room to make the layout more compact without sacrificing font size or usability. There's also a double horizontal line that's taking up space between Task Alias and Difficulty -- not sure why that's there.

[2016-12-29 20:31] #8057 closed, assigned to nobody

[2016-12-30 06:20] mdakan commented on #8330
I'd like to fix this.

[2016-12-30 11:43] Adagio-cantabile opened #8335 "Refused to display https://www.facebook.com/dialog/oauth.... in a frame because it set 'X-Frame-Options' to 'DENY'."
General Info
  * UUID: 140384ec-0082-4e51-8077-dbd84160ed62
  * Browser: Chrome 55.0.2883.95 (64-bit)
  * OS: OSX 10.11.4

### Description
When I opened the console, I found an error saying
`Refused to display 'https://www.facebook.com/dialog/oauth/?client_id=128307497299777&response_t…com%2F%22%2C%22scope%22%3A%22basic%22%7D&scope=public_profile&display=none' in a frame because it set 'X-Frame-Op

[2016-12-30 15:39] Alys commented on #8330
@mylesdakan Thank you!

[2016-12-30 15:39] Alys commented on #4252
I've seen no verified reports of this since the change went live so I'm closing this. SUCCESS!!!!! Thank you @Hus274 !

[2016-12-30 15:39] #4252 closed, assigned to TheHollidayInn

[2016-12-30 15:58] TheHollidayInn commented on #4252
Woooot!

[2016-12-30 17:56] citrusella commented on #8304
This is still happening for remaining tasks in bulk adding.

entreprayneur (a0ed8f8a-7748-4e6b-92c3-9ad79c094762) said in the Report a Bug guild 2016/12/30 at 12:37:53 EST (GMT -5):

[2016-12-30 18:42] Alys opened #8336 "incorrect $9 option appears in list of subscription options"
As reported by cTheDragons in the Report a Bug guild:

When gifting a subscription for the month there are two options .
1 for $5 Per month
1 for $9 Per Month

The $9 option should not appear there.

It's likely that this also occurs (and should also be fixed) when buying a subscription for yourself.

[2016-12-30 19:03] TheHollidayInn commented on #8336
I merged in a fix for this. I think it hasn't been deployed yet: https://github.com/HabitRPG/habitica/pull/8327

[2016-12-30 19:14] Alys commented on #8336
Ah, sorry. I should have checked. :(

[2016-12-30 19:14] #8336 closed, assigned to nobody

[2016-12-30 19:16] Alys commented on #8307
Additional comments from Gray (3fd1b7e5-7fa1-47d9-8a08-46850da7d387) in the Report a Bug guild:

"I almost always use Habitica in Safari on my iPhone because I find the interface more accessible than the app, but the new task edit view is now causing problems because it is larger than the iPhone screen dimensions and can't be resized even if I try to zoom out. Is there any way we could get the opt

[2016-12-30 19:29] #7749 closed, assigned to nobody

[2016-12-30 19:54] Alys opened #8337 "Challenge member count can be wrong"
The member count listed on a challenge's page (which is taken from the challenge's document in the database) can be incorrect.

For example, for challenge 4d596684-ad74-416e-9abb-8195638247ea created on 2016-11-01, the `memberCount` in the document is 58, but a search for all players participating in the challenge shows only 53

This has also been noticed in other challenges (e.g., ccba7258-bac9-4

[2016-12-31 01:50] cTheDragons opened #8338 "users had profile name change to @profile name not found & "BOSS_DAMAGE" notification errors occur"
### Description
With the last release a number of users names were change to *profile name not found*. It appears users who are affected also removes their blurb and image associated with them.

With current reports it appears not to be device specific or the users interacting with the API in any way.

Reports from Report a Bug Guild:
***From @Erik Angeles UID: 36904466-cfa0-4743-8f6c-201a1f3b5728

[2016-12-31 01:57] etaiklein commented on #8338
![](https://i.imgur.com/eRlKGPI.png)

[2016-12-31 02:16] etaiklein commented on #8338
Coming across this. https://github.com/HabitRPG/habitica/commit/0b8def555b01fc105368e4edb160838c5401803f
it...  explains why we're named this way but not how it became so. I lol'd.
Still digging.

[2016-12-31 02:52] SirLouen opened #8339 "Difficulties does not highlight after saving (Web)"
General Info
  * UUID: 99ccbddd-9e2c-42b1-a04c-78185183ed25
  * Browser:
* In Google Chrome 55 I can highlight but after saving it doesnt appear highlighted
* In Firefox 50, I cannot even highlight by selecting a difficulty.
* In Opera 42, same as Chrome, I can highlight but after saving it doesnt appear highlighted
  * OS: Windows 10

### Description
This only happens in Web, in Mobile it works c

[2016-12-31 03:19] citrusella commented on #8339
Did you double click the task instead of using the edit button? This seems like it's part of this bug: #8315

[2016-12-31 03:20] cTheDragons commented on #8338
OK I just got hit by said bug. Been switching between the Android app and Party app. I cast a skill last before I notice but it could of occurred before that.
UID : 95640e89-24f5-41c7-86ab-533d4ad41cc7

Party being casting Snowballs but not at me. Usual buffing activity.

[2016-12-31 03:26] cTheDragons commented on #8338
Appears 14 users of my 54 member party have been hit. All been active since the code release.

[2016-12-31 03:27] tehkittehkat commented on #8338
The issue has reoccurred for me (after I fixed it by manually changing
profile name under User>Profile). Also, now my avatar has turned into a
snowman?! Very strange. Android app screens hot attached.

On 31 Dec 2016 03:20, "cTheDragons" <notifications@github.com> wrote:

[2016-12-31 03:32] cTheDragons commented on #8338
Snowman is due to your party throwing a snowball at you. (Check your party chat to see who).

Nice to know it not permanent.

Was their snowball throwing occurring before the first time your name changed?

[2016-12-31 03:39] tehkittehkat commented on #8338
Thanks! No, the snowball throwing occurred after the first time my name changed. Still a mystery!

[2016-12-31 03:54] SirLouen commented on #8339
Exactly, double clicked. I did not noticed it was not the whole modal result expected.
I've tried now the pencil edit button, and its completely different modal, background with the same background as the task, and I didn't noticed before but all selectors are not active regardless they where activated before.

It can be closed and merged with #8315

[2016-12-31 03:55] #8339 closed, assigned to nobody

[2016-12-31 04:20] cTheDragons commented on #8338
Appears your profile blurb is removed too with this bug.

[2016-12-31 04:33] ghost commented on #8338
This seems to affect whole parties at once, hitting everyone who's ~signed in recently. ("Recently" probably meaning since last code push.)~ participating in the quest?

[2016-12-31 06:52] Alys commented on #8338
There's only a limited number of PRs that could have caused this and I'm currently looking at this one: https://github.com/HabitRPG/habitica/pull/8249

[2016-12-31 06:54] Alys commented on #8338
Profile blurbs being removed is bad. :( Much harder to change back. Once this is fixed, we'll download a database backup from before this happened and either put back blurbs for those who ask or (better, if we can manage it) put them all back, if they haven't already been changed by the players.

[2016-12-31 18:30] Alys opened #8341 "Subscribe page needs text describing how to give a gift subscription"
I've seen several people ask how to give gift subscriptions. They go to the Settings > Subscription page and try to find the option there. Occasionally they even buy a subscription for themself, thinking that they'll then be able to give it to someone else.

To fix this, the Settings > Subscription page (https://habitica.com/#/options/settings/subscription ) needs a sentence explaining that you ca

[2016-12-31 18:47] Alys commented on #8338
The bug that caused this has been reverted in #8340 however it will still be affecting people as they log in and discover that their profile name, blurb, and image have been erased. @SabreCat and @TheHollidayInn are working to restore profile information from a recent database backup. Any names, blurbs, or images that have already been replaced will not be overwritten by data from the backup.

The

[2017-01-01 00:31] jJayyyyyyy opened #8349 "translation mistake found"
[//]: # (Before logging this issue, look through common problems at https://github.com/HabitRPG/habitrpg/issues If you find your issue there, read at least the first post to see if there is a workaround for you)

[//]: # (Github is primarily used for reporting bugs. If you have a feature request, use "Help > Request a Feature" so that the feature request can be vetted by the larger Habitica commun

[2017-01-01 13:14] cTheDragons opened #8350 "Unable to Export to CSV Challenge Data"
## General Info

bc10ec41-4213-4482-bbb8-558e3c3ea8d5
Opera 42.0.2393.85
Windows 10 32-bit

## Description

When export CSV challenge data receiving error message on screen:
{"success":false,"error":"InternalServerError","message":"An unexpected error occurred."}

Example Challenge:
[Clean the Dungeon (dailies slayer) – December – Winter Wonderland (Snowball all the monsters of the day) ID: 3f0be4

[2017-01-01 14:19] Alys commented on #8349
@jJayyyyyyy Thank you! I've copied your report to the [Aspiring Linguists of Habitica](https://habitica.com/#/options/groups/guilds/7732f64c-33ee-4cce-873c-fc28f147a6f7) guild.  If you'd like to help with translations, you'd be most welcome to! Drop in to that guild to see the resources in the guild's description and to chat to other translators.

If you find any other problems, we'd love to hear

[2017-01-01 14:19] #8349 closed, assigned to nobody

[2017-01-01 15:05] Alys commented on #8350
Confirmed. I get the same error with https://habitica.com/api/v3/challenges/3f0be455-990c-49b0-90cc-2ef3b9214949/export/csv

I can't find any errors in the data downloaded by `eb logs --all`

[2017-01-01 17:54] #8312 closed, assigned to nobody

[2017-01-01 20:00] Alys opened #8351 "Greetings cards have a confusing notification when they are read by the recipient"
When you read a Greeting Card, Birthday Card, Thank-You Card, or New Year's Card, you see a notification saying that it's been read but it uses the key for the notification rather than its user-friendly name. For example, "birthday has been read" or "nye has been read" (screenshot below).

~It should read "Birthday Card has been read" (and similar text for the other cards). Translatable of course.

[2017-01-02 06:03] Alys opened #8352 "on-hover notes on tasks do not update after you edit the notes, until a sync occurs"
When you edit the notes on a task, close the editing window, and then hover over the task to view the notes, the changes you have just made to the notes do not appear (even though the changes were saved - you can confirm that by opening the edit screen again). You have to sync before the changes will appear in the on-hover notes view.

I think this is a recent change because I've seen it reported

[2017-01-02 06:13] vincecampanale commented on #8351
Hi @Alys, I'll take this one as well!

[2017-01-02 06:18] Alys commented on #8351
@vincecampanale Thank you!

[2017-01-02 12:49] paglias commented on #8335
Are you using any particular extension?

[2017-01-02 13:04] paglias commented on #8350
From logs

[code]

Probably due to https://github.com/HabitRPG/habitica/blob/1985d04bcf2de0931c77d92a4da49e694749a2c7/website/server/controllers/api-v3/challenges.js#L560

[2017-01-02 14:04] declanramsay commented on #8352
It seems like there might be an issue with the saving mechanism, where the task is switched to the new values contained in task._edit but not properly set - hence the update but the old value remains bound. I'd be pretty keen to take on fixing this, if that's ok?

[2017-01-02 14:58] declanramsay commented on #8352
Actually, on further inspection, it looks like the binding for the taskPopover in the task view was using one-time binding syntax, removing that solved the problem :)

[2017-01-02 16:51] SabreCat commented on #8351
Another possibility: don't show the notification at all. It's not useful information to the user. They already know they read a card!

[2017-01-02 17:00] #8352 closed, assigned to nobody

[2017-01-02 19:18] Alys commented on #8351
@SabreCat I would totally prefer that! I've been assuming that the less useful notifications we see had to be there because the API enforced it. I'll start making low priority issues to hide them when I find them.

[2017-01-02 20:36] SabreCat commented on #8351
@Alys They are provided by the API, but the client can choose not to display them with no ill effect. (We still want to show any _error_ that occurs, however.)

[2017-01-02 23:09] paglias commented on #8282
This has been fixed since the updatedAt timestamps was removed

[2017-01-02 23:09] #8282 closed, assigned to TheHollidayInn

[2017-01-03 00:09] SabreCat opened #8360 "Default tasks should be tagged with appropriate default tags"
[//]: # (Before logging this issue, look through common problems at https://github.com/HabitRPG/habitrpg/issues If you find your issue there, read at least the first post to see if there is a workaround for you)

[//]: # (Github is primarily used for reporting bugs. If you have a feature request, use "Help > Request a Feature" so that the feature request can be vetted by the larger Habitica commun

[2017-01-03 01:07] MathWhiz commented on #8360
Perhaps it could go under "Creativity"?

[2017-01-03 14:15] #8255 closed, assigned to nobody

[2017-01-03 20:02] SabreCat opened #8362 "Not possible to open challenges in a new tab from main Challenges list"
[//]: # (Before logging this issue, look through common problems at https://github.com/HabitRPG/habitrpg/issues If you find your issue there, read at least the first post to see if there is a workaround for you)

[//]: # (Github is primarily used for reporting bugs. If you have a feature request, use "Help > Request a Feature" so that the feature request can be vetted by the larger Habitica commun

[2017-01-03 23:16] squirrel7 opened #8363 "Lunar Battle 2"
General Info
  * UUID: 109c76c6-fb20-446b-99f3-28bb1414b3fd
  * Browser: Chrome
  * OS: Windows 7

### Description
I am in a party of two, and both members have received the first 2 lunar battle scrolls. I have completed Lunar Battle 1 twice, and Lunar Battle 2 once. I cannot do the second Lunar Battle 2 scroll because it says that I have to complete Lunar Battle 1 before I can do that and it does

[2017-01-04 05:46] Alys commented on #8116
Another report of this has been made in the Report a Bug guild.

[2017-01-04 05:48] beejunk commented on #8315
I will work on this issue, if nobody else is currently working on it.

[2017-01-04 06:02] Alys opened #8365 "purchases of backgrounds are not shown in Amplitude"
I can't find any records in Amplitude of my account purchasing backgrounds. We need this information to help troubleshoot bugs.

I tested on the production website by buying first a single background then a set. UUID 3e595299-3d8a-4a10-bfe0-88f555e4aa0c

[2017-01-04 09:28] Alys commented on #8350
I'd been assuming that cTheDragons's User ID would be in the log file record. :(

@cTheDragons Can you try again now?  I think this was a side effect of the profile name bug.

[2017-01-04 09:41] GrayDays commented on #8307
The aforementioned Gray here - for context, this is what I mean by the edit panel now being larger than the screen dimensions, which may make it clearer why this is such a big problem for me:
http://imgur.com/vZmDvbj
http://imgur.com/zfVzFmW
http://imgur.com/ybu721V

I basically haven't been able to manage my tasks in Safari Habitica at all this week, which has made Habitica very, very hard for me

[2017-01-04 11:02] cTheDragons commented on #8350
Still no joy. Same screen as before.

`{"success":false,"error":"InternalServerError","message":"An unexpected error occurred."}`

[2017-01-04 13:00] Adagio-cantabile commented on #8335
Yes, I'm using a socks 5 proxy, after I turn it off, the error message is gone. Seems that's the problem.

[2017-01-04 14:27] #8264 closed, assigned to nobody

[2017-01-04 18:16] SabreCat commented on #8315
Sounds good @beejunk!

[2017-01-04 22:18] Alys commented on #8363
This has been handled in the Report a Bug guild so I'm closing this. The quest wasn't completed recently so I don't think it's an example of the fixed quest bug.

[2017-01-04 22:18] #8363 closed, assigned to nobody

[2017-01-05 00:40] vincecampanale commented on #8070
Hi all,

Do we want to have a new section in the "Dailies History" which essentially looks like the "Habit History" data? Am I just writing a couple lines to store the data in the database or am I responsible for displaying it in the User Data page as well?

Could someone point me to the code that defines how the habits are stored in the database (so I can apply that to dailies), as well as the co

[2017-01-05 00:47] vincecampanale commented on #8351
Is the cardType variable required to be one word/lowercase?

Unrelated, where would be a good place to add a function that translates cardType into a readable name: (e.g. 'nye' => New Year's Eve) before displaying it to the user? I'm thinking about adding a function like this `if(cardType === 'nye'){ displayCardType = "New Year's Eve" }` and so on for each cardType. Let me know what you think.

Th

[2017-01-05 05:50] declanramsay commented on #8308
I'd like to fix this (and the sister issue #8321)

[2017-01-05 06:01] Alys opened #8368 "rounding inconsistencies"
This issue is to list inconsistencies in rounding numbers within the website and between the website and apps, and to discus which ones we want rounded up, or rounded down, or rounded off. It's not a complete list yet - if you notice any others, please comment here.

Items have been marked complete if they are correct or if an issue or PR has been created for them (even if the issue has not been f

[2017-01-05 06:24] Alys commented on #8368
This issue is to list inconsistencies in rounding numbers within the website and between the website and apps, and to discus which ones we want rounded up, or rounded down, or rounded off. It's not a complete list yet - if you notice any others, please comment here.

- Player's HP (e.g., 33.02):
  - website: rounds up (34)
  - Android app: rounds up (34)
  - **iOS app: rounds down** (33)
  - desir

[2017-01-05 07:14] Alys commented on #8351
@vincecampanale Ah, I'm sorry, we should have updated the top post. The desired change now is that we don't show a notification to tell the user that they've read the card. See the above comments for details. I'll update the top post now.

[2017-01-05 07:16] Alys commented on #8308
@thelucideffect Thanks very much! Can you please comment briefly on the other issue to say that you're working on it so that no one else claims it?

[2017-01-05 07:19] declanramsay commented on #8321
Working on this and its sister issue #8308

[2017-01-05 08:52] lemoness commented on #8341
Something like "Want to gift a subscription to someone?

1. Open their profile! You can do this by clicking on their avatar in your
party header, or by clicking on their name in chat.

2. Click on the gift icon in the bottom left of their profile.

3. Select "subscription" and enter your payment information.

Thanks for supporting Habitica!"

[2017-01-05 10:46] zerom1 opened #8369 "Dates under task data and XP data are not entirely visible."
General Info
  * UUID: f298bb5d-78a1-4c05-b948-49ad1eae29bb
  * Browser: Chrome 55.0.2883.87 m
  * OS: Windows 10 Family x64

### Description

Hi everyone, I've been using Habitica for a month and I noticed something. When looking at the data of any particular task or of the XP level (the yellow bar), the dates are not displayed properly. There seems to be no space for the first digit, the one at

[2017-01-05 13:48] joedragons commented on #8351
@Alys @SabreCat Tangential but in case deserving of a note/issue per the discussion above, I find the the fact healers casting protective aura generating a notification weird.  For me (as a healer currently) it's an additional thing I need to click to clear after casting the spell.  In other words, I know I cast protective aura and it lists it in the party things done, so getting a notification an

[2017-01-05 14:11] librarianmage commented on #8070
@vincecampanale From what has been said before, this is what needs to be changed / have tests updated for: https://github.com/HabitRPG/habitica/blob/develop/website/server/libs/cron.js#L305

The model for all tasks is here: https://github.com/HabitRPG/habitica/blob/develop/website/server/models/task.js

[2017-01-05 14:13] librarianmage commented on #8365
What is "Amplitude"?

[2017-01-05 16:15] MercuryChaos opened #8370 ""Blessing" spell isn't working"
General Info
  * UUID: ba9920a5-b079-4db8-ad25-f47bb81d2f5f
  * Browser: Chrome
  * OS: Windows 7, Mac OS Sierra

### Description
 When I cast the "Blessing" spell, it doesn't have any effect on the other members of my party - it only helps me. I also get an notification from the website (the red bubble in the upper right-hand corner) that says something like "BOSS_DAMAGE is not a valid enum value

[2017-01-05 16:22] DrStrangepork opened #8371 "Quest button labels do not match quest instructions"
### Description
[//]: # (Describe bug in detail here. Include pictures if helpful.)
Quest instructions read:

But the buttons are labeled "Cancel" and "Start Quest"

[2017-01-05 18:07] Alys commented on #8368
I've updated the OP to say that on iOS, boss HP is rounded down.

[2017-01-05 18:26] Alys commented on #8338
All profile names, blurbs, and images have now been restored from a database backup (except for any that had already been added by the player themself).

The BOSS_DAMAGE notification was cleared from all players who'd logged in in the couple of weeks before the bug occurred. I didn't clear older accounts because they'll be handled when we do a proper fix for it. However it's still a problem for th

[2017-01-05 18:31] Alys commented on #8370
@MercuryChaos That's a side-effect of this bug: https://github.com/HabitRPG/habitica/issues/8338  (I've just updated the title to make it contain "BOSS_DAMAGE", so you wouldn't have noticed it if you'd searched for that issue - sorry about that).

You weren't affected by that bug but one of your party mates was. I've cleared the problem for them.

Can you please try again now and tell us if it wor

[2017-01-05 19:20] Alys commented on #8351
@joedragons I'm in two minds about that one. On the one hand, it does give feedback that the spell casting was successful, but on the other hand, it is a bit redundant. BTW, you know you don't have to click on those? They disappear by themselves.

[2017-01-05 19:22] Alys commented on #8371
Good point, thanks! I think the button should be "Invite" because there's already confusion over starting quests. Perhaps even "Invite party to quest" - there's room for a long button.

Opinions, anyone?

[2017-01-05 19:27] Alys commented on #8369
This doesn't happen in my browser, so it might be browser specific. If anyone else can reproduce it, please post here.

[2017-01-05 19:31] Alys commented on #8365
It's for tracking things like which purchases a user makes, when they cron and with what stats, when they die, etc. Very helpful for resolving bugs. `git grep -i amplitude` in the repository's root directory shows where amplitude code is. Thanks for asking - I should have explained.

[2017-01-05 19:55] citrusella commented on #8371
Does the button say different things depending on whether it's a multi-member party or a single-member one?

[2017-01-05 20:20] Alys commented on #8371
Hmmmm. I believe it does not, but it should! It definitely says "Start quest" on a multi-member party. It would be good to say that on a solo party but "Invite party to quest" otherwise.

[2017-01-05 20:43] DrStrangepork commented on #8371
I will look into the single/multi-member party issue and report back.

[2017-01-05 21:38] joedragons commented on #8351
@Alys Fair enough=)  If there was a chance of spell failure (there may be for other spells?) or if there was no record in party then it makes more sense to me.  But I see what you mean (I've definitely clicked the wrong thing before tho I think it was evident when I did).

And yeah, sorry, when I said click I was referring to the resultant notification in the header area (example attached) that yo

[2017-01-05 22:30] DrStrangepork commented on #8371
When the sole member of a party starts a quest, the button says "Start Quest".

-----
However, when not yet in a party, the buttons "Start a Party with your friends!" and "Invite Friends Now" open the "Name your new party!" popup, and on that popup I see a condensed blue button with no text:
[code]

- Hitting this button with no invite fields filled out results in an error message.
- Hitting this

[2017-01-06 02:46] JedMeister commented on #4173
:+1: Looking forward to this one people... :smile:

[2017-01-06 03:17] toddmedema opened #8372 "task columns are too thin in small windows on some browsers"
[//]: # (Fill out relevant information - UUID is found in Settings -> API)
General Info
  * UUID: 6a60aecd-4aa9-4365-ae16-6775ad8b9e98
  * Browser: Chrome
  * OS: Mac

### Description
The website was doing just fine on the free version, but something about upgrading to a subscriber broke the website when I have my browser window take up 1/2 my MacBook Pro screen (960px) wide. See screenshot below

[2017-01-06 03:46] cTheDragons opened #8374 "Claim Button appearing on all tasks if your subscriber."
## General Info

UID :bc10ec41-4213-4482-bbb8-558e3c3ea8d5
Opera 42.0.2393.85
Windows 10 32-bit

## Description

Since the latest release of [3.66.1](https://github.com/HabitRPG/habitica/tree/v3.66.1) claim buttons have appeared on all tasks that are not apart of a group plan. (Including challenge tasks).

If you click the claim button you receive an error only group tasks can be assigned.

Appear

[2017-01-06 03:53] TheHollidayInn commented on #8374
This should be only if you have a subscription.

[2017-01-06 03:55] cTheDragons commented on #8374
So it meant to occur if you have a subscription?

OR

It is a bug and is only occurring to users who have a subscription?

[2017-01-06 03:59] TheHollidayInn commented on #8374
It is a bug and I believe it is only happening when users have a subscription.

[2017-01-06 04:11] cTheDragons commented on #8374
Confirmed Only happening with users who subscribed.

[2017-01-06 10:25] myoshuGO commented on #8227
@mjackson714 @Alys I would like to work on this. It's ok for you if I try to fix this?

[2017-01-06 12:24] DrStrangepork commented on #8371
So should the instructions be changed from "Invite" to "Start Quest"?

[2017-01-06 13:28] SondaSengupta commented on #8374
I am also experiencing the same issue. It started last night and I'm a subscriber as well.
It actually makes it hard to read my tasks because of the way things are pushed onto new lines.

![screen shot 2017-01-06 at 7 19 12 am](https://cloud.githubusercontent.com/assets/7119672/21719088/68c0e9ae-d3e1-11e6-92a8-a4f2a1d08ea7.png)

[2017-01-06 14:47] ksmith6 commented on #8374
@cTheDragons - The title has a spelling error: "your" should be "you're"

[2017-01-06 15:11] IronWalnut commented on #8372
I am having this same problem on Windows where it only uses half the available space in the 2x2 layout. Today is the first time I'm noticing this, it was fine last night.

Attached a screen capture to demonstrate as well as a console warning.
![capture](https://cloud.githubusercontent.com/assets/12644611/21721906/4cc02cf8-d3f8-11e6-8ea5-767da57c3e93.PNG)
![capture2](https://cloud.githubusercontent

[2017-01-06 15:40] Alys commented on #8372
@toddmedema This shouldn't have come from you buying a subscription (thanks for that by the way!). Subscriptions don't adjust how the website displays, although we do have a temporarily subscription-related bug at the moment - those "claim" buttons on the tasks shouldn't be there and they show only for subscribers, so maybe that's related.

Those error messages come from a browser extension so the

[2017-01-06 15:47] IronWalnut commented on #8372
I tried again with two different browsers (Firefox & Edge with no extensions enabled) and same issue. I am also not a subscriber. Again, weirdly enough this only appears to effect the 2x2 layout. The full screen (4x1) and very small screen (1x4) appear to be working normally.

Edge:
![capture2](https://cloud.githubusercontent.com/assets/12644611/21723166/6e911270-d3fd-11e6-8a5c-8435508a2ad0.PNG)

[2017-01-06 16:23] #8374 closed, assigned to nobody

[2017-01-06 16:24] TheHollidayInn commented on #8372
Are the other two tasks lists missing or just stacked under?

[2017-01-06 16:27] IronWalnut commented on #8372
Oh my mistake I should have been more specific. The other two boxes are stacked underneath in my screenshots. It appears that the 2x2 layout is only using half the available width of that space. As I expand & contract my window size the box width DOES shift, but only uses half the space on this particular layout.

[2017-01-06 17:28] haleyrc commented on #8372
I'm encountering this same issue. Specifically it breaks in the 768-991px range, which seems to be missing a CSS rule to update the width of the task-column elements to 50%.

[2017-01-06 17:45] #8315 closed, assigned to nobody

[2017-01-06 18:44] citrusella commented on #8372
This is happening on Firefox (50.0.2) for me as well, and I've had my window at this size before without it doing it. They used to take up the whole space when in the "grid/quadrant" sort of layout.

[2017-01-06 18:54] Alys opened #8376 "party page's list of members no longer shows HP"
The list of members on the party page should show each member's HP. It currently does not. In the screenshot below, you can see the blank space before "HP" where the health should go.

This almost certainly happened in [Release v3.66.1 Group Plans for Parties](https://github.com/HabitRPG/habitica/releases/tag/v3.66.1) or in the release after it (3.66.2 probably; it's not on the releases page yet).

[2017-01-06 19:49] Alys commented on #8372
I can replicate this on Firefox on Ubuntu Linux. When the browser window gets small enough for the To-Dos and Rewards to move under the Habits and Dailies, they do move as they are supposed to, but the columns then do not become wider (they should).

I can't replicate on Chrome but it might be OS specific for Chrome.

[2017-01-06 19:50] Alys commented on #8372
I'm renaming this issue from "UI Bug: breaks when window is 1/2 Macbook Pro screen (subscriber)" to "task columns are too thin in small windows on some browsers"

[2017-01-06 20:22] MercuryChaos commented on #8370
It doesn't seem to be - the party member who I'm pretty sure you're referring to still has their health stuck at 15. Also, my party members' HP is no longer displaying in the guild sidebar where everyone's username is listed. It just says "( HP)".

[2017-01-06 20:36] Alys commented on #8370
That HP problem is a new known tbug: https://github.com/HabitRPG/habitica/issues/8376
It should be fixed the next time we deploy changes to the website (probably within a day or two). Lets wait until that's happened before we proceed with this issue, since it's too hard to work out what's going on when you can't easily see your party's HP values. Sorry about this. :(

[2017-01-06 20:55] mleah commented on #8341
I'd like to take a look at this issue.  Anything else I need to know or any reason to wait on starting?

[2017-01-06 21:44] SondaSengupta commented on #8374
looks good!

[2017-01-07 06:02] Alys commented on #8227
@myoshuGO Thank you! Please go ahead!

[2017-01-07 06:12] Alys commented on #8338
This is more important to fix quickly for ALL players than I originally realised. The "BOSS_DAMAGE is not a valid enum value for path type" error appears when an active player without a BOSS_DAMAGE notification casts a party skill, if any inactive player in the party has that notification (see #8370, and I've tested it myself now). So we need to either remove all BOSS_DAMAGE notifications from all

[2017-01-07 08:33] cTheDragons opened #8379 "NYE (and assume Valentine) Card is hard coded."
## Description

The website code that displays New Years cards in the shop is definitely hard coded to show/hide them. I am assuming it is also the same with the Valentine card.

Could you please adjust the API so the card is unable to be used outside these times.

Could you please adjust the Content Data to show if the card is available. This will allow Comrades  to show  the cards at the correct

[2017-01-07 09:13] Alys commented on #8341
@mleah Thanks! Please start whenever you're ready.

I think the best location for it might be on the left hand side of the page under the Benefits information, but we might change our minds on that once we've seen what it looks like (apologies in advance if that happens!). I don't think there's anything else you'd need to know.

[2017-01-07 10:49] paglias commented on #8338
Fixed https://github.com/HabitRPG/habitica/commit/28e8ec2d2c16e8be478be338e21863bafc1e394b

If we have to revert again code that involves a notification we should pay attention not to remove it from the list of valid notifications

[2017-01-07 11:01] #8246 closed, assigned to paglias, TheHollidayInn

[2017-01-07 18:12] lynxlynxlynx commented on #8370
Btw, blessing just worked in our party. Someone cast it and I got healed.

[2017-01-07 18:55] mandyzhou commented on #7687
I know this is on hold, but I just wanted to note that most of the achievements (i.e., everything except quests and the challenges heading/table) are missing as well. Battle gear is also missing, although that might be intentional.

[2017-01-07 19:06] citrusella commented on #7687
I wonder if that's a side effect of their being removed/added? (For the new achievements, anyway, since the ones that are big now are the only ones that have become missing since this started.)

[2017-01-07 19:24] Alys commented on #7687
It's sounding like it's buggy enough to be worth working on now, even though it might have to be redone during the website improvement project. If no other admins say otherwise in the next couple of days, I'll take this off hold.

[2017-01-07 23:58] librarianmage commented on #8372
I am also having this problem (Win 10, Chrome 55.0.2883.87 m (64-bit))

[2017-01-08 02:59] #8376 closed, assigned to TheHollidayInn

[2017-01-08 12:42] brianhoping opened #8383 "Failiure to install npm correctly"
[//]: # (Before logging this issue, look through common problems at https://github.com/HabitRPG/habitrpg/issues If you find your issue there, read at least the first post to see if there is a workaround for you)

[//]: # (Github is primarily used for reporting bugs. If you have a feature request, use "Help > Request a Feature" so that the feature request can be vetted by the larger Habitica commun

[2017-01-08 13:31] Coehill opened #8384 "Add Habitica app to F-Droid store"
Continuation of [this issue](https://github.com/HabitRPG/habitica/issues/5562):
________________________________

F-droid is the leading app store exclusively for Free and Open Source Software for Android. It would be the most natural thing in the world for Habitica, built as FOSS from the start, to be available there.

I want to use the app, but I don't want to connect my phone (my pocket compute

[2017-01-08 13:34] #8384 closed, assigned to nobody

[2017-01-08 14:25] TheHollidayInn commented on #8383
You need to run mongod in a separate terminal first

[2017-01-08 15:04] ghost commented on #5419
I'm sorry confusion! Originally the goal was to bring the attention of the devs so that in the future we could have separate names for quest pets and mounts. Even if the names are the same in English, having 2 identical stings will help translators to get better translations. Imagine that for some languages it doesn't feel natural to call a small cow a cow - you can only use equivalent for calf.

[2017-01-08 16:44] ghost opened #8385 "Email addresses should not probably be translatable"
Following the discussion in the i18 guild...

Although I haven't managed to find mistakes in the mailto part of the strings, for consistency and security reasons may we have email addresses as tokens so that translators could not change them?

E.g.: instead of
`If you have an issue or concern about a particular Mod, please send an email to Lemoness (<a href="mailto:leslie@habitica.com">leslie@habi

[2017-01-08 16:58] Alys commented on #8385
That's a really good idea!

The <%= email %> token could be used to insert a value from an environment
variable so that we could change it easily when needed (e.g., <%=
communityManagerEmail %> and change the value when/if Lemoness goes on
holiday).

If there's no disagreements for this idea, I can make a list of all current
addresses in the strings and then we can plan suitable variable names for

[2017-01-08 17:21] ramblinjan commented on #8333
Is there a specific set of repro steps for this? If I run client locally via Mac OSX setups it doesn't result in any 404s with audio off.

[2017-01-08 17:23] ramblinjan commented on #5111
"Play" button no longer exists. Can we close this or does it persist with the current UI?

[2017-01-08 18:43] Alys commented on #5111
The "Play" button has been renamed to "Enter Habitica" and "Join for Free" but I don't think the underlying code was changed. I'd guess that both would display this problem on any system where the problem does exist. It was never occurring on all mobile browsers so it's hard to say if the problem still exists or not.

[2017-01-08 20:15] Alys commented on #8384
In case anyone else is seeing this and is curious about the state of it, please follow the issue that @DistantParadox linked to at the top of his comment.

@DistantParadox It's always best to add comments to an existing issue rather than make a new one. That keeps all notes about the issue in one place.

[2017-01-09 03:40] brightbold commented on #8376
**Thank you** for fixing this regression, @TheHollidayInn! This feature is really helpful for healers so I'm glad it looks like we'll have it back shortly.

[2017-01-09 03:45] toddmedema commented on #8333
Unable to repro on my computer on Habitica.com (Chrome 55.0.2883.95 on OS X)

[2017-01-09 08:34] zerom1 commented on #5639
Hi everyone, I'm French, I joined the French Linguists Guild a month ago, and I found that "potato issue" too... I'm glad I found this thread !

The potato issue is the same for us. It's written "vous avez trouvé **a** potato" while it should be "vous avez trouvé *une** patate". What I don't get is that it seemed to me that in every other strings, <%=article%> was properly translated in French...

[2017-01-09 10:24] ghost commented on #5639
@Alys, All
for the sake of housekeeping and managing the discussion here it seems to me that there are two options:

- keeping this very issue focused on the problem of adding untranslatable English article "a" to all the language strings, while we have #3571 for more generalized problem. It feels like fixing this very issue can be done with far less effort as a part of the problem - taking the ov

[2017-01-09 11:52] #8383 closed, assigned to nobody

[2017-01-09 15:15] SabreCat commented on #8379
I actually committed a change to do that, but had to revert it because our own native mobile apps don't support sending cards to party members yet. @vIiRuS

[2017-01-09 15:16] SabreCat commented on #8370
Great! I'll close this for now, but feel free to reopen if you see any similar trouble.

[2017-01-09 15:16] #8370 closed, assigned to Alys

[2017-01-09 20:17] mandyzhou commented on #8384
I see @DistantParadox has already found it, but for anyone else who sees this, there's [a more up-to-date discussion in the Android app's repository](https://github.com/HabitRPG/habitica-android/issues/194) than in the issue linked above.

[2017-01-10 08:21] ghost commented on #5639
@crookedneighbor @paglias could you please help me understand malformedStringExceptions in gulp-transifex-test.js
https://github.com/HabitRPG/habitica/commit/9d9e99045db801c041aad9fd257565a41dfcb0e6#diff-c8dd712740555cab0ddd553fb4e95638R18

Are these exceptions for build testing only or does it mean that for example translators can omit `article` and `dropArticle` variables in the strings mentione

[2017-01-10 08:54] Alys commented on #5639
@GitHubSphinx

_"keeping this very issue focused on the problem of adding untranslatable English article "a" to all the language strings"_
I think you're right that this issue should be kept open to work on that. I feels like a fairly easy fix to me at the moment, although I haven't looked into it in depth.

That code you linked to looks like it's just used during the testing phases and isn't rele

[2017-01-10 09:00] ghost commented on #5639
@Alys thanks!

`cross posting here and in the i18n guild`
At the same time I can confirm, that omitting `dropArticle` in `messageDropFood` doesn't seem to give any errors and notifications work like charm. And I don't see reasonable difference with the other 2 strings - which I must have tested, but don't remember the outcome.

P.S. issue closed by mistake, I'd suggest keeping it open until an exp

[2017-01-10 09:35] ghost commented on #5639
`cross posting here and in the i18n guild`

Another update: I see no difference in the way articles are introduced in all the three strings: `messageDropFood`, `feedPet`, and `armoireFood` and all of them don't produce errors if article variable is omitted - and translators of a couple of language teams have done it months or even years ago... My guess would be that JS doesn't give errors like Jad

[2017-01-10 09:59] lynxlynxlynx commented on #5639
I guess it comes down to how lodash does templating, since that's what t() uses. I don't see anything in the examples, but this would be much simpler to test than whole Habitica:
https://lodash.com/docs/4.17.2#template
(iow, do non-matching placeholders get silently dropped)

Ah, it throws a ReferenceError in this case, so it's odd, as Habitica should catch the exception.

[2017-01-10 11:20] #8335 closed, assigned to nobody

[2017-01-10 11:27] Alys opened #8390 "FaceBook Pixel isn't firing correctly - delete it"
From jmcook (06faccc5-5f69-453c-9a9d-0eeed865985c) in the Report a Bug guild:

"**It looks like the FaceBook Pixel isn't firing correctly. I'm using the 'Facebook Pixel Helper' Chrome extension. This doesn't affect anyone, except the companies marketing team.**"

I haven't done anything to verify or investigate this.

FYI: definition of [The Facebook Pixel](https://en-gb.facebook.com/business/help

[2017-01-10 11:54] lynxlynxlynx commented on #5639
That's it, it throws the exception only if a param is missing, but not the other way round. So
[code]
works just fine without any complaints. This is why removing the token is not noticed by the system.

[2017-01-10 16:02] SabreCat commented on #8390
The pixel can probably be removed. We had thought it might have some more sophisticated referrer tracking than we currently had implemented, but as far as I've heard, that's not the case. @lemoness, has the Facebook analytics been valuable for you?

[2017-01-10 19:00] #8227 closed, assigned to nobody

[2017-01-10 19:03] #8372 closed, assigned to nobody

[2017-01-10 19:04] #8308 closed, assigned to nobody

[2017-01-10 19:04] #8321 closed, assigned to nobody

[2017-01-10 19:42] beejunk opened #8391 "Submit button in create/invite party modal has no label."
[//]: # (Before logging this issue, look through common problems at https://github.com/HabitRPG/habitrpg/issues If you find your issue there, read at least the first post to see if there is a workaround for you)

[//]: # (Github is primarily used for reporting bugs. If you have a feature request, use "Help > Request a Feature" so that the feature request can be vetted by the larger Habitica commun

[2017-01-10 20:02] beejunk commented on #8391
This appears to happen specifically when clicking the 'Battle Monsters With Freinds' button at the top of the page. The 'Invite Friends' button on the Party page works correctly.

[2017-01-10 22:22] lemoness commented on #8390
Unfortunately, it didn't turn out to provide the analytics that we had
hoped. I think we can remove it.

On Tuesday, January 10, 2017, Sabe Jones <notifications@github.com> wrote:

[2017-01-10 22:59] eanplatter commented on #8391
Same thing on Chrome / OSX

[2017-01-11 02:18] librarianmage commented on #8391
I can take a look!

[2017-01-11 02:19] librarianmage commented on #8390
I can remove it!

[2017-01-11 04:08] eanplatter commented on #8391
I might also look at it, I've never delved into this codebase before :P

[2017-01-11 09:12] wangjames commented on #8365
Is Amplitude is correctly tracking purchases for everything else except backgrounds?

[2017-01-11 13:13] waahto opened #8395 "Progress graph: Date problems"
Not that they're consistently unintuitive but that they're inconsistently unintuitive.

FWIW, 1, 2 and 3 are habits, 4, 5 are dailies.

![screen shot 2017-01-11 at 14 48 59](https://cloud.githubusercontent.com/assets/16896115/21849215/52b182b0-d80d-11e6-849a-474fbcd75f2c.png)
**1** Why do I have three points on a graph that spans a single day? Are they based on the actual time I did them? My guess

[2017-01-11 14:35] librarianmage commented on #8391
@eanplatter Then I'll let you take a peek, as this doesn't look too challenging. Best of luck!

[2017-01-11 14:40] eanplatter commented on #8391
Thanks! @MathWhiz!

[2017-01-11 14:51] Alys commented on #8368
It is possible (not confirmed) that the pending boss damage shown in the menu bar is rounded differently than the remaining boss health shown on the party page, leading to a player thinking that they'd done enough damage to kill the boss when they hadn't.

For example, this was reported in the Report a Bug guild by Bookwormy606 (1ea2c754-7f2b-4801-a815-6fb4f74a4f76): "It just happened that the dam

[2017-01-11 16:11] librarianmage commented on #8395
Semi-related issues:

* #7907
* #5724
* #6337
* #3810
* #2948
* #2516

[2017-01-11 16:15] librarianmage commented on #8362
I can work on this!

[2017-01-11 16:15] librarianmage commented on #8360
I can work on this!

[2017-01-11 16:16] #5365 closed, assigned to nobody

[2017-01-11 20:40] madpink commented on #8087
I would like to help with tasks

[2017-01-11 20:43] Alys commented on #8087
@madpink Thank you!

[2017-01-11 21:19] Alys opened #8397 "gem gift message is missing most of the text"
When a player sends gems to another player, the recipient is supposed to see an inbox message saying:

`Hello [recipient's name], [sender's name] has sent you 2 gems!`

For example:

![image](https://cloud.githubusercontent.com/assets/1495809/21866165/ed10d710-d840-11e6-8f03-bf82155e2c30.png)

However the message currently says only this:

`2 gems!`

For example (one of these has an optional messa

[2017-01-11 21:28] Moniarchy commented on #8397
Hi! Can I take this issue?

[2017-01-11 21:41] Alys commented on #8397
@Moniarchy Yes, thank you!

[2017-01-11 21:51] SabreCat opened #8398 "Nonsense coupon code looks like it's accepted until payment process continues"
[//]: # (Before logging this issue, look through common problems at https://github.com/HabitRPG/habitrpg/issues If you find your issue there, read at least the first post to see if there is a workaround for you)

[//]: # (Github is primarily used for reporting bugs. If you have a feature request, use "Help > Request a Feature" so that the feature request can be vetted by the larger Habitica commun

[2017-01-11 21:58] lynxlynxlynx commented on #8397
Sounds like a regression from #8283.

[2017-01-11 22:42] Alys opened #8399 "Royal Purple Flying Pig Pet has white background near the tail instead of transparent"
The Royal Purple Flying Pig Pet has white background near the tail instead of being transparent:

![image](https://cloud.githubusercontent.com/assets/1495809/21869342/0e9e8108-d84f-11e6-877f-da542224d3cc.png)

For comparison, a Cotton-Candy Blue pig:

![image](https://cloud.githubusercontent.com/assets/1495809/21869359/2f378180-d84f-11e6-8ca2-c641666da558.png)

_(Thanks  to Aniksja for reporting t

[2017-01-11 23:15] TheHollidayInn commented on #8376
No problem, since I am the on that broke it :P.

[2017-01-11 23:36] Alys commented on #8399
Anyone modifying the image would have to send a permissions email first as described in https://trello.com/c/eFz57Pqi/24-permissions

However if an Artisan modifies the image and a Blacksmith adds it to repository, the Blacksmith doesn't need to do the perrmissions email.

I'm linking to this post from the [Pixels in Progress (Aspiring Artisans)](https://habitica.com/#/options/groups/guilds/a141a5

[2017-01-12 01:28] librarianmage commented on #8087
@Althenis Are you still planning on working on Hall and Member?

[2017-01-12 03:14] librarianmage commented on #8399
I can do this (I have already sent the permissions)

[2017-01-12 03:22] madpink commented on #8087
I've just made one change thus far, but before I wade too deeply into it, I wanted to make sure that I am on the right path. There really are a lot of potential errors, because any body param could have produce an error.

I include some examples, but that really increases the shear amount of space being used... are they a good idea?

[2017-01-12 04:52] eanplatter commented on #8391
Found the regression! Here: https://github.com/HabitRPG/habitica/pull/8328

Looks like the default text isn't being applied to `group.sendInviteText` from the controller, I am digging into why!

[2017-01-12 05:22] eanplatter commented on #8391
Cool, I think I figured it out.

When #8328 was added, the text for the buttons was changed from `=env.t('sendInvitations')` to the dynamic message influenced by the `groupsCtrl` `{{group.sendInviteText}}` which makes sense to show the different button text.

The only problem is that if the button isn't subject to the fee text, then the `group` has no concept of `sendInviteText`.

All I did was we

[2017-01-12 05:55] eanplatter commented on #8391
PR: https://github.com/HabitRPG/habitica/pull/8402

[2017-01-12 22:27] akortesmaa commented on #8087
@MathWhiz First of all, thanks for the reminder. Hall seems to be almost done, so I'll try to finalize it in the next couple of days. Haven't done anything on member though, so feel free to take it if you want.

[2017-01-12 23:06] #8399 closed, assigned to nobody

[2017-01-13 01:22] khipkin commented on #8397
Looks like #8312 was not the only bug caused by string name regressions in [this commit](https://github.com/HabitRPG/habitica/commit/ea24eeb0199a687115da0224b64b62c57629aea2#diff-040152bf2f4ce00a01ce5aa334f0851f)...

[2017-01-13 01:36] khipkin commented on #8385
Suggestion: [translations] and not sure if medium- or entry-level-coding?

[2017-01-13 07:27] Nerzenjaeger opened #8404 "Checked off daily not being recognised, streak on that daily reset on next day"
[//]: # (Before logging this issue, look through common problems at https://github.com/HabitRPG/habitrpg/issues If you find your issue there, read at least the first post to see if there is a workaround for you)

[//]: # (Github is primarily used for reporting bugs. If you have a feature request, use "Help > Request a Feature" so that the feature request can be vetted by the larger Habitica commun

[2017-01-13 16:51] madpink opened #8405 "API: dates may be invalid"
[//]: # (Fill out relevant information - UUID is found in Settings -> API)
General Info
  * UUID: b0413351-405f-416f-8787-947ec1c85199
  * Browser: Safari
  * OS: MacOSX 10.11 (el capitain)

### Description
[//]: # (Describe bug in detail here. Include pictures if helpful.)
When submitting new tasks through the tasks API, anything can go into many of the date params.

For example if I POST the fol

[2017-01-13 17:16] madpink commented on #8398
FYI - I submitted a coupon code for 20% off, it looked as though it was accepted, but I was charged the full amount

[2017-01-13 17:43] madpink commented on #4018
I created a negative reward with the tasks API, as long as I had gold, it deducted the appropriate amount of gold. As soon as I was out of gold, pressing the negative reward caused me damage.

No crash though

[2017-01-13 20:00] TheHollidayInn commented on #8397
Yea, I think there is something with the line endings that is causing the difference to mess up.

[2017-01-13 21:03] TheHollidayInn commented on #8398
@madpink Which payment processor did you use?

[2017-01-13 21:10] madpink commented on #8398
Amazon payments

[2017-01-14 10:58] Alys commented on #7727
I've been forgetting to report examples of this bug here, but it's happening often. We see reports in the Report a Bug guild at least once every few days, usually more often. It's not consistent though - one player might have it one day and then not again for some time, so it's likely to be from something like timeouts when updating the party object during cron, rather than a code bug. I'm wonderi

[2017-01-14 12:34] Alys commented on #8324
Another report from Aerilita (3b724a41-48d3-4048-ae27-70b258cf5a72) is below. This time it seems to be not from marking a task completed, although perhaps it was just slow to display from an earlier task completion - I wouldn't normally expect that delay though.

"I've got another "undefined". Was participating in the gem lottery, and noticed the broken challenge icon today, clicked it, read about

[2017-01-14 13:48] Alys opened #8408 "Custom Day Start setting allows confusing selection of minutes"
_moved to_ https://github.com/HabitRPG/habitica-android/issues/691

[2017-01-14 13:48] Alys commented on #8408
Ugh, so sorry, wrong repo.

[2017-01-14 13:48] #8408 closed, assigned to nobody

[2017-01-14 15:28] h-2 opened #8409 "I have 410/380 experience, how can that be?"
[//]: # (Fill out relevant information - UUID is found in Settings -> API)
General Info
  * UUID: h-2
  * Browser: Firefox 50.1.0
  * OS: FreeBSD 11

### Description

I have 410/380 experience, how can that be? Reloading doesn't help.
![screenshot](https://cloud.githubusercontent.com/assets/2996863/21955987/68e11292-da76-11e6-951d-e95363394bd6.png)

#### Console Errors

[code]

[2017-01-14 17:15] Alys commented on #8409
Please see https://github.com/HabitRPG/habitica/issues/2433 for details of this bug.

By the way, we have a guild within Habitica now for faster reporting of problems. You can get to it from Help > Report a Bug from the website's menu or Guilds > Report a Bug from the mobile app. When you find a bug, you can start reporting it by putting a brief message there - just enough to explain the problem,

[2017-01-14 17:15] #8409 closed, assigned to nobody

[2017-01-14 20:04] khipkin commented on #8397
It's weird that the unit tests aren't catching these problematic regressions. That itself is a bad smell.

[2017-01-14 20:47] khipkin commented on #4682
Suggestion: [entry level coding] or [medium level coding]

[2017-01-14 21:54] madpink commented on #8087
Tasks is finished,  waiting on approval.

I would be happy to work on more.

May I take over tags?

[2017-01-14 22:03] richardhooper commented on #8087
@madpink Be my guest, I'm afraid I never got up to steam!

[2017-01-14 23:40] khipkin opened #8411 "Markdown in task-edit modal no longer works."
![image](https://cloud.githubusercontent.com/assets/5641207/21959009/bc097c86-da6f-11e6-9ec7-4065cccd444e.png)

vs

![image](https://cloud.githubusercontent.com/assets/5641207/21959010/c5c01b54-da6f-11e6-84ae-b4e808a6c3a2.png)

[2017-01-14 23:59] Alys commented on #8411
Confirmed, thanks @khipkin!

For anyone who works on this:

We do want markdown and emoji to be enabled in the display of the title (i.e., in the part of that screenshot that appears between the "Save & Close" button and the "Add Checklist" button). The reason for having the title there is to allow you to review what it will look like before saving the task.

This should be a fairly simple matter

[2017-01-15 00:41] Alys opened #8412 "Check-in counter at User > Profile is broken: next{{::getProgressDisplay()}}"
As reported by RandomGryffindor in the Reprt a Bug guild:

Now at the User>Profile where you can see your check-in counter, it says: Progress until next{{::getProgressDisplay()}}.

![image](https://cloud.githubusercontent.com/assets/1495809/21959324/369190b0-dabb-11e6-8888-94b6b0cb0d89.png)

[2017-01-15 02:11] Alys commented on #4682
Actually I'm going to put this on hold. The credit card button has been improved since this was logged ("Credit Card (using Stripe)" now) and redesigning the screen to make it look more professional is best done during the website improvement project, which this issue is already tagged for. @khipkin Thanks for drawing our attention to it!

[2017-01-15 02:24] tassiolucas opened #8413 "Error in site login in Firefox browser"
The site does not work the login and popup button in Mozilla Firefox asking which means of login. When clicking it loads and nothing appears. I tested it on Google Chrome and it is working normally.

[2017-01-15 03:34] Alys commented on #8413
It definitely works in Firefox normally and I've just tested it successfully now. Your Firefox browser probably has cached some corrupted data for your account. Please go to https://habitica.com/static/clear-browser-data in the browser that's failing and click the red "clear data" button there, then try logging in again. If that still doesn't work, disable all Firefox extensions and try again.

If

[2017-01-15 03:34] #8413 closed, assigned to nobody

[2017-01-15 03:44] Alys commented on #8404
Yes, it will just be a sychronisation issue. At the end of each day, it's recommended to click the sync button on the website or mobile app and then check that all Dailies that should be completed are. Also, this might not be relevant to you but in case it is, if you have several Dailies that you can mark completed at once, it's best to pause between ticking each one to give the site or app a chan

[2017-01-15 03:44] #8404 closed, assigned to nobody

[2017-01-15 06:41] khipkin commented on #7946
I'm currently working on this... not sure how it's going to turn out, since I haven't had my local setup running for a while. 😝

[2017-01-15 10:32] Coehill commented on #8384
@Alys @mandyzhou Thanks, I realized my mistake soon after posting, which is why I closed the issue.

[2017-01-15 12:03] hur commented on #8412
The progress display works fine for me.
![](http://i.imgur.com/F5LQWtz.png)

[2017-01-15 12:29] sprusr commented on #8405
Going to have a crack at this, unless anybody else steps in

[2017-01-15 12:56] Alys commented on #8385
Below are all the locales strings that contain email addresses, separated into sections based on what the email addresses are used for, with my suggestions for the environment variable names that we use for each address.

@paglias @SabreCat  Do you have any objections to using ENV variables for this? Or better ideas?

----
suggested ENV variable: `PRESS_ENQUIRY_EMAIL`
current value: leslie@habitic

[2017-01-15 13:00] Alys commented on #8412
@hurbraa Sorry! I should have specified that this bug is for players who have more than 50 check-ins (because we don't yet have support for more than that).

[2017-01-15 22:34] paglias commented on #8385
@Alys that's ok for me!

[2017-01-15 22:51] Alys commented on #8385
I've edited my previous comment to change the suggested names for the environment variables from camelCase to all caps, for consistency with all other ENV vars (e.g., PRESS_ENQUIRY_EMAIL instead of pressEnquiryEmail)

[2017-01-15 23:38] declanramsay commented on #8411
I'd like to fix this.

[2017-01-16 01:57] Alys commented on #8411
@thelucideffect Thank you!

[2017-01-16 02:12] librarianmage commented on #8412
Would you like it to be something like "Progress until next: ???"

[2017-01-16 02:21] Alys commented on #8412
Since this bug should (I think) only happen when we haven't yet added new incentives to the website, it's probably best to replace "Progress until next..." with a different message. Perhaps:
**"New check-in incentives will be added soon!"**

@lemoness How does that sound?

By the way, it's possible that the new incentives will be added before this bug is fixed, but I still think it should be fixed

[2017-01-16 06:52] ghost commented on #5639
Bringing the issue up. @lynxlynxlynx I'm sorry I don't quite get it, do you mean that it's OK to remove tokens from strings processed with JS?

Could we please get an official confirmation that article variables can be omitted in these three strings: `messageDropFood`, `feedPet`, and `armoireFood` - as it causes no errors.

@Blade has stated in the second message of this thread that:

Thus it seem

[2017-01-16 07:58] lynxlynxlynx commented on #5639
It's ok from lodash' point of view, but Habitica devs need to make a choice — allow that or not. Leaving it be as-is is a bit dangerous as stated elsewhere, since translators could erroneously remove other tokens elsewhere without anyone noticing.

[2017-01-16 11:15] ghost opened #8415 "Some translation files are not pulled from Transifex (supposedly the ones uploaded there manually)"
@paglias a report from a translator and your recent commit made me notice that translations of some files are not pulled from Transifex - supposedly the ones I used to test if it's possible to upload files to Transifex manually (my email from 11/26/26).

The files are:
- merch.json - added with https://github.com/HabitRPG/habitica/commit/fd7aedbff2ddf579e287900f7cacbf128a69d24f
- loginIncentives.j

[2017-01-16 14:52] TheHollidayInn commented on #8398
@SabreCat Amazon payments is what I mentioned in Slack.

[2017-01-16 15:41] SabreCat commented on #8398
Updated the ticket to mention users might not even see an error.

[2017-01-16 16:59] paglias commented on #8415
@GitHubSphinx thanks for the heads up, I've added them to my script, feel free to reach out whenever you see something is missing https://github.com/HabitRPG/habitica/commit/cddd0df4f2b08017b07e0ef2e3c1e3ef51a9c468

[2017-01-16 16:59] #8415 closed, assigned to nobody

[2017-01-16 20:17] GrayDays commented on #8307
yo is…anything…actually happening with this? this is still a serious problem that is preventing me from using habitica. which is a very bad thing.

[2017-01-16 22:02] mandyzhou commented on #8307
Seconding @GrayDays -- I think this is a serious usability issue and an exception to Habitica's largely responsive web design. As at least a temporary fix, would it be possible to add back the previous non-modal interface as an option? Or, maybe, have the non-modal interface kick in for certain window/screen sizes? Hopefully those options wouldn't require too much extra work.

[2017-01-17 07:53] Moniarchy commented on #8397
Plugging away on this, also using this as a learning opportunity since I have not contributed here before so taking some time reading up on particular technologies in this stack/reading through the codebase. I want to be cognizant of the time I'm taking. Is there a particular timeframe I should try to have this complete by?

[2017-01-17 09:04] lynxlynxlynx commented on #8397
The only deadline is when someone else gets annoyed or excited enough to beat you to the punch.

[2017-01-17 13:40] droitducoeur commented on #4174
9b100a2f-6caa-4c21-bd59-40b361dd2e79
 I have this problem, I cannot fight any bosses, when I am in the group or not

ID van de groep: d5413f93-a81a-43d3-8f0f-dbe5ec36b139

[2017-01-17 21:05] lemoness commented on #8412
I think that phrasing works well!

On Sunday, January 15, 2017, Alys <notifications@github.com> wrote:

[2017-01-17 21:42] pllearns commented on #7417
Just double checking, could I go ahead and work on this issue? I don't see a PR for it, and any recent updates. Thanks! I'll also update the Blacksmith Guild Page.  I will be working with @rachel-ftw on this.

[2017-01-17 21:48] #8341 closed, assigned to nobody

[2017-01-17 21:49] #8411 closed, assigned to nobody

[2017-01-17 21:49] TheHollidayInn commented on #7417
Go for it. :D

[2017-01-17 23:53] librarianmage commented on #8360
This is what I'm planning to add:

* Productive Work -> Work, School, Chores
* Eat Junk Food -> Health + Wellness
* Take the Elevator Stairs -> Health + Wellness, Exercise

Does that make sense?

[2017-01-18 02:35] MathWhiz commented on #8087
Note: Meta has been merged in

[2017-01-18 02:36] librarianmage commented on #8087
* Meta has been finished
* Chat is located at #8277

[2017-01-18 15:11] #5429 closed, assigned to nobody

[2017-01-18 15:12] mandyzhou commented on #8412
This still seems broken -- it no longer says "Progress until next", but it does still show "{{::getProgressDisplay()}}".

[2017-01-18 17:19] JCiske commented on #8405
Changing the type to date changes the look of the popup calendar.  I'm not sure that it would be a desirable look but it does work.

Before:
![before](https://cloud.githubusercontent.com/assets/1137190/22074967/795a6544-dd67-11e6-8962-a60e151e943d.png)

After:
![after](https://cloud.githubusercontent.com/assets/1137190/22074992/868d4484-dd67-11e6-944f-1f046943736d.png)

[2017-01-18 17:27] sprusr commented on #8405
@JCiske to clarify, this is a modification to the backend, changing how the "Due Date" for a todo is stored in the database. Shouldn't affect how the date picker is displayed on the frontend. The before listed above, also appears to be for a daily task, whereas this change only affects todo tasks.

[2017-01-18 17:35] JCiske commented on #8405
@sprusr Thanks for responding so quickly.  The images are exactly as you said, I was just trying to give a comparison as to what the "After" looked like before changing the type to "date" rather than "text".  So if I am understanding you clearly, the way the date was being displayed as well as the ability to input text isn't the issue and I am looking in the wrong place?

[2017-01-18 17:39] sprusr commented on #8405
@JCiske I think this is most likely an unrelated issue.

[2017-01-18 17:42] JCiske commented on #8405
I made the change and have since changed it back.  I was just trying to assist with the issue.

[2017-01-18 18:50] Alys opened #8423 "Searing Brightness affects challenge tasks"
Skills are not meant to adjust the value of challenge tasks but when a Healer casts Searing Brightness, all their tasks are made less red, including challenge tasks.

The desired behaviour is that challenge tasks should not be affected by Searing Brightness.

[2017-01-18 20:58] Alys commented on #4174
@droitducoeur I can see an attack from your account in the past day approximately. If you notice not attacking again when you think you should, tell us and we'll look into it again. The best way to report it to use is in the Report a Bug guild, which you can get to from the Help menu in the website or from Guilds in the website and mobile apps.

[2017-01-19 03:07] gsacavdm commented on #8385
Hi @Alys, I can certainly help with this. I can easily update the strings in the json files as follows:

    communityGuidelines.json:    "commGuidePara012": "If you have an issue or concern about a particular Mod, please send an email to Lemoness <%= COMMUNITY_MANAGER_EMAIL =>)."

And the jade files as follows:

    p!=env.t('commGuidePara012', { "COMMUNITY_MANAGER_EMAIL": env.COMMUNITY_MANAGER_E

[2017-01-19 03:08] gsacavdm commented on #8412
I've submitted a PR for this and a new rev for it.
Can the tag for this be updated to in progress?

[2017-01-19 04:18] Alys commented on #8385
@gsacavdm It's best to ask questions about a specific issue in the issue, as you've done here. That keeps all the information together.

In the your local install, the environment variables are in the config.json file. When you're ready to make a pull request, you'd copy them to the config.json.example file and commit that file along with your code changes. You wouldn't commit the config.json file

[2017-01-19 05:25] #8412 closed, assigned to nobody

[2017-01-19 10:13] lynxlynxlynx commented on #8423
I'll take a look.

[2017-01-19 17:53] pllearns commented on #7417
Hey! We are making progress, we have created a condition that allows the user to enter the word 'DELETE' and that deletes their account. We intend for this to be the command for anyone who has logged in with Facebook and Google without creating a local user. We will write a test for this and should have a PR for review either later today or tomorrow. Thanks again for letting us take this on!

[2017-01-19 18:10] pllearns commented on #7417
Oh, we did have a question, how have you mock logged in through the local dev site a Facebook or Google login? We would like to be able to test all edge cases. I didn't see anything on this in the wikia. Thank you!

[2017-01-19 19:17] #8391 closed, assigned to nobody

[2017-01-19 22:17] keysmashes opened #8428 "Check-in prize message shouldn't always be plural"
The check-in prize message for when the next prize will be awarded is always pluralised, even when there's only one day until the next prize. When there's only one day left, it should be singular, e.g. "Your next prize will unlock in 1 more check-in!"

Apologies if this is already known or if a fix is planned.

![image](https://cloud.githubusercontent.com/assets/9433472/22127441/c9d86df4-de93-11e6

[2017-01-20 06:11] khipkin commented on #8428
I'm not sure if this can be effectively translated into all languages that Habitica supports, but it might be easier to do something like instead of having separate singular/plural versions of the string:

[2017-01-20 06:40] brockmacd opened #8430 "Stoïkalm Calamity, Part 1: Earthen Enemies"
I completed the quest, Stoïkalm Calamity, Part 1: Earthen Enemies, but was not awarded the prize (Mammoth Rider Armor)

- Sir Breven

[2017-01-20 06:56] khipkin commented on #8430
@brockmacd The admins will need your User ID (**not your API token**) and/or your party ID in order to view your account details.

Also, this seems to be a (still unconfirmed) case of #4252.

[2017-01-20 06:58] brockmacd commented on #8430
Hello,

My ID is
5722ec15-ceb3-48cd-ba5a-e6ae1bcdcd21
And party ID is
Group ID: a359261d-09ab-41ac-ba32-39f94dac6592

Thank you for your promptness!

Sir Breven

[2017-01-20 08:53] gsacavdm commented on #8385
Thanks for the tips @Alys, I've started the work on this and have pushed it to my fork. I've added comments to the commit. If you or others can take a quick look to make sure I'm going the right direction, that would be great.

Here's the link to my commit:
https://github.com/gsacavdm/habitica/commit/6e590f8edd8ed12da5fd93eae34f06fecc32be68

Reiterate my disclaimer: Still a n00b, so I apologize if

[2017-01-20 16:25] keysmashes opened #8431 ""How to Report an Issue" issue needs updating ("Memorable" tag changed to "type: memorable")"
Issue #2760 has a link to the "most common issues", which is all those tagged as "Memorable". This tag doesn't exist any more – it's been replaced by "type: memorable" – so the issue needs to be updated to link to the correct tag. [This](https://github.com/HabitRPG/habitica/issues?utf8=%E2%9C%93&q=label%3A%22type%3A%20memorable%22%20) is the search it should link to.

Alternatively, the contents o

[2017-01-20 16:35] SabreCat opened #8432 "Check-in Incentives progress bar inconsistency"
[//]: # (Before logging this issue, look through common problems at https://github.com/HabitRPG/habitrpg/issues If you find your issue there, read at least the first post to see if there is a workaround for you)

[//]: # (Github is primarily used for reporting bugs. If you have a feature request, use "Help > Request a Feature" so that the feature request can be vetted by the larger Habitica commun

[2017-01-20 16:41] paglias commented on #7417
@pllearns the only way that comes to my mind is to register an app with google and / or facebook in order to get api keys that then you can use. But probably it's easier to just change the values into your local database to simulate the existence of google / facebook auth

[2017-01-20 17:05] paglias commented on #8423
@Alys is this a client side only effect or it's persisted to the database?

[2017-01-20 20:49] TheHollidayInn commented on #8432
This is the way I original displayed it, but was asked to change.

[2017-01-20 21:42] cailinglu commented on #8398
May I try solving this?

[2017-01-20 21:48] TheHollidayInn commented on #8398
Please!

[2017-01-20 21:52] SabreCat commented on #8432
That's really odd. I understand why dropping to 0 could be off-putting, but having it be out of 10 one day and out of 5 the next is at least as puzzling as that.

[2017-01-21 10:26] Alys opened #8441 "two-handed weapons/shields aren't easily identifiable as such"
Most two-handed weapons aren't easily identified as such because they don't have anything in their text to state that they are.

We sometimes see bug reports from mobile app users when equipping a two-handed item unequips a shield. There are issues to give notifications about that when equipping them on the apps (https://github.com/HabitRPG/habitica-ios/issues/433 and https://github.com/HabitRPG/h

[2017-01-21 10:39] Alys commented on #8304
I've added this to the top post to make it easier for potential coders to see what needs to be done:

The fix needed for this is that when the "Add Multiple" option is being used, the user's preference option for "Open new tasks in edit mode" should be ignored.

Although opposing opinions are welcome. :) Other admins can change my edit if they wish.

[2017-01-21 10:47] Alys commented on #8307
@TheHollidayInn What do you think about the suggestion to add back the previous non-modal interface as an option? Is it realistic?

@ All staff: How about the idea to use two columns in the edit modal? I think that would work nicely for everyone on PC browsers (I'd love it) and might be more usable on wide mobile devices. It might cause problems on small mobile devices if horizontal scrolling can'

[2017-01-21 10:58] Alys commented on #8428
@GitHubSphinx Do you have any thoughts about whether workarounds like `check-in(s)` will work in enough languages to make it worth doing?

[2017-01-21 11:13] ghost commented on #8428
Quick reply: we have some pluralized strings that consider the difference
between '0 to 1' and '2 and above' in English. It's not the best option,
but I personally believe it's better than not having any pluralization at
all. As for the suggested walk-around, it should be noted that I've seen
reports from some translators who find the (-s) practice look not quite
natural both in English and when l

[2017-01-21 11:31] Alys commented on #1703
This issue might be easier to fix now because there is code for sorting tasks in Group Plans: https://github.com/HabitRPG/habitica/pull/8358

It's possible that the code could be reused or copied for challenges. Or I might be completely wrong. :) It's probably worth a look though.

[2017-01-21 11:43] cTheDragons opened #8442 "Website Client: The Optional message is not sent by email or PM when removing someone from a Guild"
## General Info

User Id: bc10ec41-4213-4482-bbb8-558e3c3ea8d5
Opera 42.0.2393.137
Windows 10 32-bit

## Description
When removing a member from a guild via the website client (not direct via the API), you have the option of sending an optional message. Despite text being typed into this message, the optional message is not sent either by PM or by email (Though you do receive an email, if attached

[2017-01-21 12:21] GrayDays commented on #8307
I can scroll in all directions, but not being able to see the whole width at once is an issue; additionally, I've found that at least in the current version of iOS, anytime the text I'm typing goes past the edge of the screen or I hit return or the up/down arrows to go to the previous or next text field, the view gets slingshotted around wildly for a second before returning to center on where the

[2017-01-21 12:29] cTheDragons opened #8443 "API removing users from guild sometimes does not send the complete optional message."
## General Info

User Id: bc10ec41-4213-4482-bbb8-558e3c3ea8d5
Opera 42.0.2393.137
Windows 10 32-bit

## Description

When removing a member from a guild using the API, you have the option of sending an optional message. Sometimes the API cuts the message off. For example the message:

`Thank you for helping me Test! Could you please rejoin the [Testing & Bug Squashing for Dragon Tools](https://ha

[2017-01-21 20:24] khipkin commented on #8441
It may be useful to consider this change in the context of #2028 (Split out mechanical and fluff descriptions of gear), if only to future proof the work done here so it does not have to be redone later.

[2017-01-22 00:44] TheHollidayInn commented on #8307
@alys I think we can do 2 columns on Dekstop and fix the display for mobile devices. I'll add this to my immediate list if no one gets to it before me.

[2017-01-22 02:42] Alys commented on #8423
This is server-side. It persists to the database.

It's actually not client-side immediately. As soon as you click the Searing Brightness skill, your non-challenge tasks change colour but your challenge tasks don't. After a sync, your challenge tasks change colour too.

[2017-01-22 02:55] Alys commented on #8441
I think that if we do this change using code that automatically adds the two-handed description on-the-fly, rather than hard-coding it into the locales files, then any rework later would be small.  Also I suspect that #2028 will be in the on-hold / suggestion-discussion state for a while since it's not a simple change. The most promising idea there was @crookedneighbor's suggestion that the locale

[2017-01-22 04:52] TheHollidayInn commented on #1703
Yep, the code allows to order challenge tasks (and can be shared between all three). Although, there needs to be a taskOrder object on the challenge - not sure if that exists.

[2017-01-22 07:06] Alys commented on #7417
@pllearns Below are examples of the `auth` object for user accounts created using the Facebook and Google authentication methods. The `auth` object is at the top level of the player's document in the "users" collection in the mongodb database. You can create two user accounts in your test database using the username and password method, and then change the login method for each of them by using an

[2017-01-22 07:10] Alys commented on #7417
Note that it's possible for an account to have two or more of the authentication methods at the same time. I.e., a single user account can be accessed with a username and password, and with Google sign-in, and with Facebook sign-in.

For any account that has a password assigned, the delete feature must require the user to enter that password, even if the account also uses Google / Facebook authent

[2017-01-22 08:16] khipkin opened #8445 ""Quest started" system message should use backticks."
The quest-started message (added in #8107) is not wrapped in backticks, so it stands out from the other system messages:

![image](https://cloud.githubusercontent.com/assets/5641207/22169171/06f55024-df27-11e6-89db-e1cac1d16dc8.png)

[2017-01-22 08:18] lynxlynxlynx commented on #8423
The bug is even worse, as it affects also other code (rebirth, reset, fortify).

[2017-01-22 09:22] ghost commented on #8428
Now as I read the thread carefully, I should say I'm sorry that I haven't considered the context of the discussion. If the task is to make it look better with minimum changes, then I can mention a walk-around used by many translators.

Sometimes instead of having sentence-like string with grammar suitable only for some values of a variable (`Your next prize will unlock in X more check-ins`) it may

[2017-01-22 09:52] Alys commented on #8428
I like that idea! It also puts the number in a position where it's very easy to read when you're in a hurry, which is likely since this is a message you see first thing every day when you want to be getting ready for work/school. If there's no complaints in a couple of days, we'll go with this suggestion:

`Check-ins until your next prize:  <%= numberOfCheckinsLeft %>`

[2017-01-22 11:13] Alys commented on #6193
PR in progress: https://github.com/HabitRPG/habitica/pull/8446

[2017-01-22 11:37] lynxlynxlynx commented on #8445
While it looks odd, wouldn't the reverse be better? The way system messages/code tags are styled is just horrible imho. There was some discussion about this somewhere already, maybe #3553.

[2017-01-22 12:21] Alys commented on #8445
For now, we should keep consistency with the existing system messages. We're working on some improvements to the website's front-end and we can improve how they look as part of that. Good point though - there's definitely room for improvement in their appearance.

[2017-01-22 14:41] Alys commented on #8443
I think your idea about the `&` causing the problem has a good chance of being correct. If so, this is likely to be an easy fix.

[2017-01-22 14:55] Alys commented on #8431
@anowlcalledjosh Thanks very much for pointing that out! I've updated the link in that issue and also made some other changes that I've been meaning to for a while.

We'll keep it as an issue. It's rare that we need to make changes and when we do, it's faster for us to modify it by editing the issue than by doing a commit or by describing what needs to be changed to a contributor. Thank you for th

[2017-01-22 14:55] #8431 closed, assigned to nobody

[2017-01-22 17:43] TheHollidayInn commented on #8443
Maybe the messages needs to be encoded then and is not?

[2017-01-22 19:21] madpink commented on #8087
please change the PR reference on tasks from 8400 to 8447

[2017-01-22 19:54] lynxlynxlynx commented on #8445
On a related note, the navbar notification you now get for it is without text. In other words, just the mini chat icon is displayed once you click to get the notification list.

[2017-01-22 19:56] lynxlynxlynx commented on #8445
On a related note, the navbar notification you now get for it is without text. In other words, just the mini chat icon is displayed once you click to get the notification list, instead of also the party name. Did anyone else see it?

[2017-01-23 00:44] Alys commented on #8087
@madpink Done! Thanks for the note!

[2017-01-23 03:35] khipkin commented on #8445
@lynxlynxlynx I've seen that once or twice, but I didn't notice when it happened.

Edit: the issue for the weird blank party notification is #8207.

[2017-01-23 05:33] AnnekeCr commented on #8443
I'm looking for my first GitHub contribution. Can I try look into this? :)

[2017-01-23 15:03] #8390 closed, assigned to nobody

[2017-01-23 18:37] rae-ralston commented on #7417
👏

[2017-01-23 19:01] #8398 closed, assigned to nobody

[2017-01-24 03:47] deonna commented on #8428
Is anyone currently working on this issue? If not, I'd like to pick it up.

[2017-01-24 03:59] Alys commented on #8428
@deonna Please do, thank you! Post here if you have any questions about it.

[2017-01-24 10:14] #8423 closed, assigned to nobody

[2017-01-24 11:52] Alys opened #8452 "abstract the code that checks for a task belonging to a challenge or a group plan"
As described in [this comment from paglias](https://github.com/HabitRPG/habitica/pull/8427#issuecomment-274513364) the challenge and group plans code created in https://github.com/HabitRPG/habitica/pull/8427 should be abstracted to a static method inside the Task model, so that duplication of the code can be removed.

@lynxlynxlynx has offered to work on this (thank you!).

Once it's finished, wor

[2017-01-24 12:35] #6193 closed, assigned to nobody

[2017-01-25 03:34] AmberShards opened #8454 "Quest Items Show as Collected When Quest Has Not Started"
[//]: # (Before logging this issue, look through common problems at https://github.com/HabitRPG/habitrpg/issues If you find your issue there, read at least the first post to see if there is a workaround for you)

[//]: # (Github is primarily used for reporting bugs. If you have a feature request, use "Help > Request a Feature" so that the feature request can be vetted by the larger Habitica commun

[2017-01-25 04:11] Alys commented on #8454
That's intentional because if the quest starts before your next cron (i.e., before you start using Habitica tomorrow, in most cases), then those items will be applied to the quest.

By the way, we have a guild within Habitica now for faster reporting of problems. You can get to it from Help > Report a Bug from the website's menu or Guilds > Report a Bug from the mobile app. When you find a bug, yo

[2017-01-25 04:11] #8454 closed, assigned to nobody

[2017-01-25 11:46] madpink commented on #8087
quick question about APIDOC, are apiuse definitions shared from document or do they need to be defined each time?

[2017-01-25 12:04] librarianmage commented on #8087
From what I remember, they don't require re-definition
On Wed, Jan 25, 2017 at 5:47 AM madpink <notifications@github.com> wrote:

[2017-01-25 13:56] librarianmage commented on #8452
So once this issue is completed, I can continue working on #8213?

[2017-01-25 14:00] librarianmage commented on #7715
Should I wait to work on this until #8414 is merged?

[2017-01-25 20:35] cailinglu commented on #8365
I can work on this one :)

[2017-01-25 20:39] cailinglu commented on #8365
Should hair, skin, and shirt purchases also be sent to Amplitude?

[2017-01-26 00:44] TheHollidayInn commented on #8365
I would like that! Pretty much anything purchased with Gems would be nice to see.

[2017-01-26 07:40] Alys commented on #8397
@Moniarchy How are you going with this? Need any advice or have any questions for us?

[2017-01-26 07:48] Alys commented on #8441
Since there's been no complaints about my suggested approach, I've marked this as help welcome and adjusted the top post to make that approach definite rather than suggested.

[2017-01-26 11:28] Alys commented on #8142
@jakers821 How are you going with this? Do you have any questions for us or need any advice?

If real life things have happened that mean you no longer have time for this, just let us know and we'll open it up to someone else. We completely understand about how that can happen!

[2017-01-26 12:33] Alys commented on #8333
This bug is still happening on the production server. Here's a recent log file record:

172.31.57.74 - - [26/Jan/2017:02:58:46 +0000] "GET /assets/audio/off/Daily.mp3 HTTP/1.1" 404 82 "-" "okhttp/3.4.1" "60.123.123.123"

I cannot get the 404 error to show up in my local install and I don't know why, bug the bug still exists.

[2017-01-26 18:57] mgracer48 commented on #8443
ill help

[2017-01-26 22:36] Alys commented on #8307
For anyone interested in this issue, please see the comment I have made on a pull request at https://github.com/HabitRPG/habitica/pull/8456#issuecomment-275535624
Feedback should be written in that pull request, NOT here in this issue because you'll be discussing the pull request specifically.