[2014-01-14 18:17] CiderSalt commented on #2232
I'm having the same problem--rogue with no achievement though I upgraded to ultimate gear. I also wasn't wearing all my rogue armor at the time. My user ID is f7163b41-30a7-4b12-98d5-b244671fa0c4. Thanks for any help!

[2014-01-14 18:32] lemoness commented on #2381
Yup, if you can't find a ticket for an issue, it's always better to err on
the side of reporting it. If it's a duplicate, we can always close it.

On Mon, Jan 13, 2014 at 2:39 PM, deilann notifications@github.com wrote:

[2014-01-14 18:47] nqatsi commented on #942
Hey guys! This is my first post here, so let me know if I'm doing anything wrong!

I thought it would be funny if the rooster grew out of a chick!

1x: ![small-chick](https://f.cloud.github.com/assets/2873319/1913664/1c1b8332-7d4c-11e3-8203-806af0f702bf.png)

3x: ![normal-chick](https://f.cloud.github.com/assets/2873319/1913668/2ef3d612-7d4c-11e3-9261-aa1cccc0227b.png)

what do you guys think?

[2014-01-14 18:55] lemoness commented on #945
Emerald Ox - YES, YES, YES, look at that cobra! I think the dithering works
well, actually, because where it might seem busy on another animal, on a
cobra it evokes scales.

wolvenhalo - Kraken = perfect! Great job!

Jesper - Hang on, I'll find some pixel art examples of textured wood for
you.

On Tue, Jan 14, 2014 at 9:00 AM, EmeraldOx notifications@github.com wrote:

[2014-01-14 19:02] lemoness commented on #945
@JesperDramsch Here are a bunch of examples of pixel art involving wood! They all have different strategies used to create texture.

http://fc04.deviantart.net/images3/i/2005/153/4/8/wood_texture_test_by_xtremetom.gif
http://piq.codeus.net/static/media/userpics/piq_6966_400x400.png
http://i.imgur.com/7gA8r.png (wood tile in upper right)
http://tinypic.com/view.php?pic=2em0uao&s=5#.UtWJeo62nCE

You

[2014-01-14 19:03] EmeraldOx commented on #945
@lemoness Oh gosh, thank you!! Is there anything else I need to do to the King Cobra, or is it good to go? (Whenever you guys need it, of course!)

[2014-01-14 19:04] lemoness commented on #945
Argh, sorry, super tired. Anyway, hopefully those examples will help inspire you!

[2014-01-14 19:04] lemoness commented on #945
EmeraldOx, just email me at leslie@habitrpg.com so that I can send you the permissions form!

[2014-01-14 19:05] EmeraldOx commented on #945
@lemoness Ah, okay, I'll go do that!

[2014-01-14 19:08] lemoness commented on #942
EmeraldOx - no base, just look at the mount size guideline and make sure to
have the head in a seperate layer.

Pandah - VERY cute! I would definitely want a rat!

nqatsi - Your chick is super well-done! Unfortunately, we already have the
full range of rooster pets completed, and the chick is too large to be a
pet. See the guidelines in the original post. It's great pixel art, though!

On Tue, Jan

[2014-01-14 19:22] nqatsi commented on #942
oh, ok! it was good practice anyways! I usually don't do pixel art :)

I did it 81x99 pixels as the wiki says... is it supposed to be smaller?

I'm still a little bit lost between here and trello! where can I find the priorities?

thanks for the feedback! :)

[2014-01-14 19:27] EmeraldOx commented on #942
@lemoness Okay! I'll get working on that.

[2014-01-14 20:56] brightbold commented on #2377
The only concern I have is that they're not always actionable. You and @lorian clearly have dailies that aren't mandatory but can still be done. I have maybe one of those but most of mine are more like "take out trash and recycling" or "move the car for street cleaning day" which are only relevant on certain days of the week and otherwise I don't really want to see them.

What's the use case for d

[2014-01-14 21:14] Polymathema commented on #945
@lemoness is the three headed lamia acceptable or should I continue refining it? It might take me a bit to get it finished if it needs more work, I have a large project looming in the future, but I do not mind working on it in my spare time. (also I couldn't really respond in the Tavern before the thread got too far away from me, I'm glad you liked the poster I made, feel free to use it for Habit

[2014-01-14 21:21] Anrisa opened #2401 "Accidently sold first egg"
I didn't know what I was doing and now I don;t have my wolf egg anymore. Any way to get it back?

[2014-01-14 23:10] wc8 commented on #2401
It’s sold for good, but all is not lost. Besides being able to buy gems and buy a wolf egg in the market, you have a fair chance of finding more eggs as you go along. I can’t guarantee, because they drop at random, but wolf eggs are reported to be among the most frequent.

[2014-01-14 23:11] Anrisa commented on #2401
Thank you :dancer:

[2014-01-14 23:11] colegleason commented on #2401
You have a 30% chance to find an egg when a drop occurs.
On Jan 14, 2014 5:10 PM, "wc8" notifications@github.com wrote:

[2014-01-14 23:26] JesperDramsch commented on #945
Hey @lemoness thank you for your patience!

What do you think about this one:

![chest_mini](https://f.cloud.github.com/assets/2620316/1916068/cbdfc13c-7d71-11e3-9ebf-03e0762cdacb.png) ![chest_large](https://f.cloud.github.com/assets/2620316/1916069/cbf4d8a6-7d71-11e3-92c0-f6e616ed00fa.png)

Also tried to put it on a pile of gold:
![chest_haufen_mini](https://f.cloud.github.com/assets/2620316/1916

[2014-01-15 01:13] Pandah commented on #942
![guineapetline](https://f.cloud.github.com/assets/6396120/1916812/0bfa28ba-7d82-11e3-9dd8-2daf891730c6.png)
So I just excitedly finished the guinea pig colors tonight.  About time I did something I enjoy, I guess :P And here is what I did for the mount
![guineamount](https://f.cloud.github.com/assets/6396120/1916766/e88490ba-7d80-11e3-9de6-7d58664d653c.png)

[2014-01-15 01:21] SabreCat commented on #942
@Pandah I am terrified of what the boss monster you need to fight to unlock those will look like.

Have you tried making the head of the mount into a separate layer and saddling up a Habiteer on it? I'm having trouble picturing how the avatar would sit.

[2014-01-15 01:38] deilann commented on #2398
You don't join a boss battle if the quest has already been activated before you join the party. The only way you could join the boss fight is to cancel the quest, reactivate it, and then you accept the quest along with everyone else.

[2014-01-15 02:12] Pandah commented on #942
Certainly!
![testguineamount](https://f.cloud.github.com/assets/6396120/1917086/4b75e0c6-7d8a-11e3-9ff8-3cd773eaed6c.png)

Here is about what I was picturing, though it could easily sit a bit farther back if I cut it out farther.  My inspiration was their adorable fattiness, so sitting on the top of the back would go along with that, I'm just not sure if that would be allowed.  But here is my exam

[2014-01-15 03:00] deilann opened #2402 "Minor Text Change: Cloth Armor to "Clothing" or "No Armor""
You start off wearing cloth armor. You can't take it off. It confers no benefit. This doesn't make sense: you're clearly not wearing cloth armor. You're wearing clothing. Cloth armor goes on top of clothing and actually, made properly, was just as good as other types of armor, with added flexibility. (Alexander the Great wore cloth armor.) It would make a lot more sense to have it say you were wea

[2014-01-15 03:30] dwhitlow opened #2404 "Winter Wonderland gear does not provide class equip bonuses"
TSIA

[2014-01-15 03:32] colegleason commented on #2404
Duplicate. Please follow #2322 for updates.

[2014-01-15 03:32] #2404 closed, assigned to nobody

[2014-01-15 03:32] EmeraldOx commented on #942
@Pandah Oh my goodness I would buy that quest scroll in a heartbeat, that mount is adorable.

[2014-01-15 03:35] SabreCat opened #2405 "To-Do checklist behavior is unintuitive"
I was taken by surprise when checking off a To-Do with not all the checklist items completed gave me the full multiplier as if I'd done all of them. I'm not sure the current behavior is intuitive or likely to apply in the majority of use cases.

Here are several ways one might use a checklist for a To-Do in Habit:
1. The To-Do represents a project with a number of smaller actions, all of which mus

[2014-01-15 03:47] wc8 commented on #2377
I have a mix: some only actionable specific day(s), some due specific day(s) but can be done on other days (like your professional reading), and 1-2 always grey (check if due, can't always do).

I'd love to be able to filter out the not-actionable tasks, too. (I've wanted the [_Skip Daily_](https://trello.com/c/CSQTy050) someone suggested, which :x:'s a task, and takes HP if was due.)

When someon

[2014-01-15 05:28] TheOfficePicnic opened #2407 "Party member died during quest and was not booted from participating"
The explanatory text beneath the Trapper Santa quest says that if you die during a quest you're booted out. One of my teammates died during the quest yesterday, did damage to TS on cron, and is still active in the quest as of today. This is either a bug or the text does not agree with the intended behavior.

[2014-01-15 05:41] TheOfficePicnic opened #2408 "Balance suggestion: Rework the way Pickpocket and Burst of Flames interact with streaks/blues"
The range of possible benefits from Pickpocket and Burst of Flames is absolutely massive, based on the fact that they seem to grant exponential benefits when cast on tasks with high streaks or those that are very blue.

I have used each spell on standard yellows and gotten roughly 8 Gold or XP. When used on a blue with a streak of 50+, that benefit has been as high as 85 or so.

This presents thre

[2014-01-15 06:09] colegleason commented on #2407
I also experienced this, actually.

[2014-01-15 07:58] Aiseant opened #2409 "Display of collected quest items"
Hi !

Is it intended that we can collect "Broken Twigs    12 / 10" ?
And if I may, it would be nice to have a small icon or something indicating that we collected enough items of one kind for the quest.

Thanks

Aiseant

[2014-01-15 09:20] mczuchnowski opened #2410 "Ethereal Surge unexpected behavior"
I noticed this happening at least twice. Example:

1) I have 35 mana and cast Ethereal Surge. I lose only 25 mana, which I assume is the result of the spell also working on me.
2) When I do anything else after that (like complete a daily or to-do, edit a task), I lose additional 5 mana (so my real cost gets paid).
3) If the "anything else" I do happens to be casting the Burst of Flames (I still ha

[2014-01-15 09:59] deilann opened #2411 "Badges Display String Not Found"
At least the Ultimate Gear Badge and the Original User badge are displaying "string not found"

[2014-01-15 10:37] Aiseant commented on #2231
I just made a pull request for this, my very first one !!!

[2014-01-15 10:56] deilann opened #2413 "Dedicated Log-In Page"
Is there a logistical reason there's no dedicated log-in page? Often, the pop-over log-in screen is twitchy on my tablet, an issue I've found to be non-problematic on other sites by accessing their log-in page proper. Lately, it's been even more of an issue, the pop-over page freezing on log-in attempt, giving me scroll control to the under layer then crashing my browser.

(It is crashing Chrome,

[2014-01-15 11:14] aghendrix commented on #2012
Sometimes I use a skill right before I'm going to check a task as done. So I use the skill and click the checkbox right after. What I didn't know was that the skill stays selected even after use, and due to some kind of bug, if I click the checkbox it instead of checking uses the skill again, even if there is not enough mana.

[2014-01-15 12:21] laurentiu69 commented on #945
Hi, just my first pixel art. Cow boss ?!
![cow72_59](https://f.cloud.github.com/assets/6397811/1920010/79f84376-7ddf-11e3-83c8-4a265cda9f66.png)
![cow_216_177](https://f.cloud.github.com/assets/6397811/1920011/7f009760-7ddf-11e3-93c7-55b63f61b929.png)

[2014-01-15 12:52] wildcate opened #2414 "Suggestion: Checklist item colour change"
First of all, yay checklists! So nice to finally have them!
My only (small) issue with the lists is that they seem to become redder even faster than normal to-do items, and then glare at me menacingly even though I am working as fast as I can...

Would it be possible to reset the shading of a checklist to some more friendly colour (like green or even blue) once a checkbox has been clicked? That wo

[2014-01-15 13:51] ParisiT opened #2415 "Viewing other's equipment"
When I go to see a party member's stats using the top bar, I end up seeing at least the equipment (maybe all of the stats, I am not sure) of the last person I clicked, rather than the person I am currently looking at. Not sure what's causing this bug and it's low priority, but I figured I would mention it.

[2014-01-15 14:44] Aiseant commented on #2415
Indeed. Stats and Attribute seem ok, but Equipment is wrong if I don't hit F5 between members I'm looking at.

edit : after snooping around, it's a FIXME in views/shared/profiles/stats.jade

[2014-01-15 15:57] paglias commented on #2411
Fixed in https://github.com/HabitRPG/habitrpg-shared/commit/966151ebcce26f1bd94c684fa2cb02e82168661d , https://github.com/HabitRPG/habitrpg/commit/178086ef30af96fd629c222ecf888cba55e951af and https://github.com/HabitRPG/habitrpg/commit/2e12ffefc6a52042aaa6f1a47efe4fec9fe90f0e

[2014-01-15 15:57] #2411 closed, assigned to nobody

[2014-01-15 15:58] #2401 closed, assigned to nobody

[2014-01-15 17:28] extrajordanary commented on #945
Hello all!

Pretty new to Habit, but super excited to try my hand at contributing some artwork. I haven't seen anyone else claim it here or on Trello yet, so I'm starting to work on a Rooster boss. :)

[2014-01-15 17:40] lefnire commented on #2415
dupe of https://github.com/HabitRPG/habitrpg/issues/2323 , follow there

[2014-01-15 17:40] #2415 closed, assigned to nobody

[2014-01-15 17:46] lefnire commented on #2407
It's to-be-implemented, I have it half-progress on my localhost. I'll push in coming weeks

[2014-01-15 18:25] jatheism commented on #945
![fireblob](https://f.cloud.github.com/assets/6412366/1923272/4cd0ccaa-7e12-11e3-8024-1bc5e1ef712a.png)

Wanted to make a fireblob monster like the ones I used to see in the old SNES games.

[2014-01-15 18:28] colegleason commented on #2414
I believe the scoring on checklists causes the to get more red faster since each checklist item is a multiplier. We should look at not applying the multiplier when changing the score down, perhaps.

[2014-01-15 18:51] lefnire commented on #2408
I definitely see an issue here, but I probably won't be jumping in to fix this personally for a few months (just due to backlog of criticals). If anyone wants to get started on this, the code is under [habitrpg-shared/content.coffee#api.spells](https://github.com/HabitRPG/habitrpg-shared/blob/develop/script/content.coffee#L248), and simulations to test the output are [here](https://github.com/Habi

[2014-01-15 18:54] lefnire commented on #2398
@deilann has the right of it. See http://habitrpg.wikia.com/wiki/Quests#Starting_a_Quest

[2014-01-15 18:54] #2398 closed, assigned to nobody

[2014-01-15 19:25] dwhitlow commented on #2322
It shouldn't be left as is. It costs as much as a penultimate gear piece but actually gives the stats of a piece one tier lower than it when you factor in the class equip bonus. If players spent their gold on the regular tier items instead, they wouldn't be far off from the stat gains from the special items, and they'd also be that much closer to being able to buy their ultimate gear.

[2014-01-15 19:55] JesperDramsch commented on #945
The cave is suspiciously quiet. You see an abandoned chest standing in the middle. Maybe the oger or troll or whatever creature hoards gold and gems, is just out hunting. You approach the chest when suddenly:

![chest_monster_mini](https://f.cloud.github.com/assets/2620316/1924218/fd275ff4-7e1e-11e3-8d99-7bf99032b910.png) ![chest_monster_large](https://f.cloud.github.com/assets/2620316/1924217/fd2

[2014-01-15 20:16] KnittyGritty opened #2416 "PayPal Purchase Gems Info States it Removes Ads"
Hi there,

I've just joined on the 13th, and paid the donation via paypal, however, there's still advertising coming up, and no gems arrived either...what went wrong there?

Thanks for looking into this...

[2014-01-15 20:37] jatheism commented on #945
And then in comes the gap-toothed Ogre to see what all the fuss is about...

![ogre](https://f.cloud.github.com/assets/6412366/1924604/dea16ff6-7e24-11e3-8872-c8eca69d2504.png)

[2014-01-15 21:31] colegleason commented on #2351
@lefnire: Thoughts on this? It's a bit time sensitive and people keep asking in chat.

[2014-01-15 22:04] Rickyb1194 opened #2417 ""String not found""
Under the achievements, it shows this message, when I believe it is suppose to show best armor was achieved.

[2014-01-15 22:05] Rickyb1194 opened #2418 "Checklists - not editable"
Once a checklist has been created, I don't see a way to add to that list.

[2014-01-15 22:11] paglias commented on #2417
It should be fixed as soon as a new version of the site is pushed, let me know if it continues to appear in the coming days

[2014-01-15 22:25] deilann commented on #2418
Press enter while in the text box of the spawned item. You'll get another one. It's not intuitive, but it works.

[2014-01-15 23:10] deilann opened #2419 "No Mana Regen on Cron"
Pretty sure I didn't get +10 Mana this morning. Might have spent Mana in the middle of the night, but don't think I did. User ID: e7b5d1e2-3b6e-4192-b867-8bafdb03eeec

Fixed manually; just thought you'd want to know.

[2014-01-15 23:26] Pandah commented on #942
![ratpetline](https://f.cloud.github.com/assets/6396120/1926080/f436fe50-7e3b-11e3-9a1d-10f862100494.png)

![ratmountlist](https://f.cloud.github.com/assets/6396120/1926107/3f7541f6-7e3c-11e3-956a-40c66eb5e72a.png)

Lots of rats, comin' through! :D

[2014-01-15 23:29] lefnire commented on #946
@Aiseant contrib.lvl++ for the achievement badges. Just pushed "perfect day" achievement

[2014-01-15 23:39] #2351 closed, assigned to nobody

[2014-01-15 23:45] #2354 closed, assigned to nobody

[2014-01-15 23:52] #2324 closed, assigned to nobody

[2014-01-16 00:24] SabreCat commented on #2322
I don't think the principal value of these items is in the stats, so it doesn't bother me that they're weaker than their equivalents of similar cost.

Might be time for a poll on the topic, in any case.

[2014-01-16 00:25] SabreCat commented on #2322
Or heck, we could get rid of Class Equip Bonus altogether. That was a compromise thing from me being grumpy about classes swapping gear around for stat optimization, and since then I've come around to the notion it's not that big a deal :P

[2014-01-16 00:38] Clariel commented on #1611
Is this supposed to be fixed? Because I have tasks with tag icons that have no tags assigned.

[2014-01-16 01:01] #2176 closed, assigned to nobody

[2014-01-16 01:08] TheInventrix commented on #942
I'd really REALLY love to contribute some pet/mount art but the length of this thread is... daunting. But I don't want to duplicate anyone's efforts so far, so could anyone give me a quick summary of what people are working on or what you might most appreciate having done? Or should I just work on whatever I think of and hope for the best?

[2014-01-16 01:19] lefnire commented on #2176
Did you get a chance to run your sims against the new function @colegleason ? I started to write some tests, and thought "how does one write tests for random? eh whatever, I'll just ask him if he gave it some runs"

[2014-01-16 01:34] lefnire commented on #2416
what's your UUID? Sorry for the issues, paypal IPN is quite finicky. We're looking into it, and recommending the credit-card payment (which uses Stripe) in the mean-time

[2014-01-16 01:36] lefnire commented on #2400
Follow progress on #1057

[2014-01-16 01:37] #2400 closed, assigned to nobody

[2014-01-16 02:38] zoebeagle commented on #942
Took another stab at a living thing... the platypus.  Let me know what you guys think.  If it looks good, I'll start recolors.
![inplace](https://f.cloud.github.com/assets/4400262/1927308/3a5ddc30-7e57-11e3-877e-0941ebc45ebb.png)

[2014-01-16 02:45] lefnire commented on #2384
See above commit, will this do?
![screenshot](http://gyazo.com/0f278dab52c3096a62121c914a7cdeef.png).

[2014-01-16 03:02] Jaegermeiste commented on #2384
That would be perfect!

[2014-01-16 03:44] Pandah commented on #945
Jabberwock?
![jabberwocklg](https://f.cloud.github.com/assets/6396120/1927601/696b6e76-7e60-11e3-81a9-6e58636dfd87.png) ![jabberwock](https://f.cloud.github.com/assets/6396120/1927600/66339e72-7e60-11e3-9090-4aa354a56ed3.png)

[2014-01-16 03:47] lefnire commented on #945
Oh my goodness.... we've got a fresh batch of _insanely_ talented artists. Believe you me, almost all of these are goign in

[2014-01-16 04:37] SabreCat commented on #2408
I've been giving this some thought, too--been playing a Rogue and spamming Pickpocket to try to build up the Gold for all the winter gear. Which is great for the completionist in me, but has revealed the game balance issue all too clearly. And I'm playing a Reborn Rogue who only has ~40 PER!

The swing of output needs to be addressed, but the "spammability" of them is a big part of it too. You can

[2014-01-16 04:37] lefnire commented on #2322
I'm not opposed to that. This might be one for the polls

[2014-01-16 04:39] lefnire commented on #2355
Shoot, can't replicate. I'll check back again here later, or if someone else can replicate

[2014-01-16 04:54] lefnire commented on #2382
Shoot! We'll look into when we can, in the mean time what's the ID of your guild ([under the Group Info section](https://www.evernote.com/shard/s17/sh/0f56e6b1-4408-48bd-9368-6760ac3d3763/5b570abc2deb1112e78f4cb37ed4b9eb)) I'll get you reimbursed

[2014-01-16 05:02] lefnire commented on #2392
can't replicate on the latest 0.0.16 build (yesterday's release), when you upgrade can you try again and check back here?

[2014-01-16 05:19] wes1 opened #2420 "suggestion: need new gear!"
have cooler armor like tech arrmor or enchanted armor!

[2014-01-16 05:33] wes1 commented on #2419
me neither!

[2014-01-16 05:38] colegleason commented on #2176
I did and it's fine. Don't have the output handy for you though.

You can test random functions to make sure the results lie within some
variance. Tests might fail every now and then though.

On Wed, Jan 15, 2014 at 7:19 PM, Tyler Renelle notifications@github.comwrote:

##

## Cole Gleason

Student, University of Illinois at Urbana-Champaign
Email: cg@colegleason.com
Website: colegleason.com

[2014-01-16 05:42] wes1 opened #2421 "suggestion: put the charactor values buttons back!"
yesterday my account had a large glich and deleted all my MPs, GPs, and experience. So I think it would be helpfull to put the buttons back. Thanks!

[2014-01-16 05:45] deilann commented on #2421
Go to settings. You'll see the "Fix Character Values" button. The only one that's not active at this moment is the gold, as the Winter Wonderland equipment is gold-purchaseable.

[2014-01-16 05:45] deilann commented on #2420
I'd head over to Trello for something like that. This is where coding gets done. :)

[2014-01-16 05:50] wes1 opened #2422 "traper santa not receving damage!"
says when I give damage to my boss it says "wes1 has dealed 0 damage to trapper santa!" please fix this bug!

[2014-01-16 05:51] lefnire commented on #2422
follow https://github.com/HabitRPG/habitrpg/issues/2168

[2014-01-16 05:51] #2422 closed, assigned to nobody

[2014-01-16 05:51] extrajordanary commented on #945
Rooster in progress!

Only just put in the rough outline of the tail feathers. I think the texture on the body looks decent so far. I'm definitely going to go back over the wings and clean them up (they were the first part I worked on).

This is my very first attempt at pixel art ever so any and all feedback is greatly appreciated!
![rooster_wip](https://f.cloud.github.com/assets/4017420/1928031/a

[2014-01-16 06:18] colegleason opened #2423 "Security: return the same error for wrong username/password"
We currently return two different modals for a wrong username or a wrong password. This is a security hole as it allows people to farm usernames for login. If you can do this it's easy to compare with leaked/hacked DBs from other sites and try the same password.

![screen shot 2014-01-16 at 12 17 06 am](https://f.cloud.github.com/assets/232327/1928123/d93379aa-7e75-11e3-863b-bff223429873.png)
![sc

[2014-01-16 08:26] lemoness commented on #946
Did you do that, or should I?

On Wed, Jan 15, 2014 at 3:29 PM, Tyler Renelle notifications@github.comwrote:

[2014-01-16 08:29] deilann commented on #1774
Someone may also want to donate gems to a guild they particularly like, but are not running.

[2014-01-16 08:43] Aiseant commented on #946
@Lefnire : many thanks ! And now I'm craving for the contrib shield, to have the whole set ! One day, I'll finally have internet at home, and I intend to install hrpg locally to play around and learn how this damn code works

[2014-01-16 09:06] Aiseant opened #2425 "Challenge : broken link"
Hi,

After a challenge ends, you get a "broken link" when hovering the megaphone icon of its tasks. It's not really user-friendly :)

Regards

Aiseant

[2014-01-16 09:19] Thyra-Sinisalo opened #2426 "error 401 when pressing Fetch Recent Messages button"
Hi :)
I keep getting the error message 401: you don't have access to this group when I hit the Fetch Recent Messages button in my Party. I does not prevent me from posting there or accepting challenges, only the button seems to have a problem. I get the new messages when I refresh the website.
I have found this ticket on the issue that was closed and said it was fixed 3 months ago:
https://github.

[2014-01-16 10:14] mczuchnowski opened #2427 "Hover on Health Potion moves spells a few pixels down"
Every time I hover my mouse over the Health Potion, the spell list moves a little bit down, gets back when I stop hovering over the potion. Not a biggie, but I suppose not something planned either.

[2014-01-16 12:24] Akiaya opened #2428 "Position on base wolf mount is not what it supposed to be"
I recently gained a Bear mount from Trapper Santa quest and then i fed and turned my base wolf into a mount. But while my character is positioned correctly on bear mount, its a little bit off on wolf mount. Ill be showing below:
Bear: ![mount bear](https://f.cloud.github.com/assets/6347702/1930300/fb55d46e-7ea8-11e3-9a86-b7b5fa0487bd.png)
Wolf: ![mount wolf](https://f.cloud.github.com/assets/63477

[2014-01-16 13:15] Heyocto opened #2429 "Dissapearing Ski- sassin Pole"
I died a day or two ago and now every time a new day comes I have to re-buy the Ski- sassin Pole.

[2014-01-16 13:29] Tina-Lou opened #2430 "HabitRPG not showing my party?"
I'm fairly new to the game, so I apologize if this is known, or there's an easy workaround that I haven't figured out yet.  I'm playing as Tina Lou , I'm level 3, and just joined a party  (The Determined Ones.)   I posted in the chat there, and can still see challenges from them in my challenge tab.

However, when I click my 'party' tab, it's telling me that I'm not in a party, but that I can crea

[2014-01-16 14:04] deilann commented on #2170
I had this exact issue at one point in time and it was also related to the colon.

[2014-01-16 14:25] #2418 closed, assigned to nobody

[2014-01-16 14:51] wc8 commented on #515
I recently saw and commented on the related G+ thread, but it's old, and maybe no one's being notified. Hopefully just adding @lefnire @paglias and @SabreCat will notify you. Maybe we can use this ticket #515 to come up with a list?

Simple recap of my comments:
- my tag use is to support developers, so set them up however you need them, and I'll follow along.
- some indicator of suggestion, trell

[2014-01-16 14:57] Anrisa commented on #942
Hi! I would love to make a pet, but I don't know how to do this "3x pixel zoom" :(

[2014-01-16 15:02] zoebeagle commented on #942
@Anrisa What program are you using?

[2014-01-16 15:37] lefnire commented on #515
The only ones I don't use are work-item and interface, but I think other devs are using it. Good to know about `support`, I didn't know that. You can alternatively assign me on the ticket, since I'm the only one (currently) with database access. Vicky had concern with my granting db access to any devs, which I need to quell soon since other devs will need it eventually

[2014-01-16 15:42] lefnire commented on #2425
Click it and it tells you everything you need to know. Maybe we should add "click here for info"?

[2014-01-16 15:54] lefnire commented on #2176
:+1:

[2014-01-16 16:10] Erreinion opened #2431 "spelling of potato"
In the confirmation window when feeding a potato to a pet, it is spelled 'potatoe'

[2014-01-16 16:30] paglias commented on #1611
I can confirm this is back,  (sometimes) tags are not correctly saved or deleted

[2014-01-16 16:48] lefnire commented on #1611
I'll write up some api.mocha tests for this. Gonna wait will after https://github.com/HabitRPG/habitrpg/pull/2396 is merged so we don't step on the CS => JS conversion toes

[2014-01-16 16:52] lefnire commented on #2430
Does a refresh help you? If not, can you post your UUID here?

[2014-01-16 16:53] lefnire commented on #2428
Don't have the ticket handy, but mount-positioning is a known issue (some mounts, not all). Due to limitation in bounding box dimensions of avatar sprites, we're going to revisit after a sprite dimensions decision (could be some time)

[2014-01-16 16:55] Tina-Lou commented on #2430
I logged out and logged back in, seemed to fix it

Sent from Yahoo Mail on Android

[2014-01-16 16:57] lefnire commented on #946
(@lemoness I got it), @Aiseant IIRC you have some other art floating around we have yet to merge. Also I'll likely be using your bug-squasher hammer which will get a contrib.lvl++. Ie, fear not, you'll get your lvls - you're one of the consistent contribs :) but hey, we can always more code help!

[2014-01-16 16:59] lorian commented on #2408
I think having them only be usable once per daily per day would definitely improve things; it would grant an advantage for having multiple long-streak dailies, instead of just one you spam indefinitely. Having the task be "exhausted' for longer than a day or two, however, seems unnecessarily punitive, and an annoying thing to have to keep track of.

Also, I'd like to speak out in favor of benefits

[2014-01-16 17:13] wc8 commented on #2431
There’s a user request to leave it spelled wrong… I think a proposed quest might be factoring that mistake in.
I tend to think we should correct it when we get a chance, for the sake of users who are learning English, and the quest can factor in the correction.

[2014-01-16 17:14] lorian commented on #2405
Oh, wow, I actually thought it already worked that way. I'd been occasionally checking off checklists with incomplete items, because they weren't all done but the overlying project was "good enough". I would definitely vote for to-do checklists only giving bonuses for checked-off items. It's a lot less tedious to check off all the items than it is to manually delete uncompleted checklist items!

[2014-01-16 17:31] lorian opened #2432 "Stealth preventing very little damage at very high perception"
I used Stealth with 12 dailies uncompleted, which (at my standard of 2.4 damage per undone daily) should have done about 29 damage to me. After using Stealth at 153 Perception, the next morning I took... 19 damage. As spending 45 mana at level 63 for the prevention of 10 damage hardly seems worthwhile, I have to assume something's not right.

[2014-01-16 17:47] lorian commented on #2432
Nevermind, I found the relevant code, and it appears that is working as intended:
user.stats.buffs.stealth += Math.ceil(user._statsComputed.per \* .03)
So at my level of perception, 45 mana allows me to dodge a random 5 dailies, which is about the 10 hp I saved. I wish I had known that before I cast the spell; 4 casts of pickpocket would have gotten me way more than one health potion!

[2014-01-16 17:47] Anrisa commented on #942
@zoebeagle I use Paint.NET. It's easier to use than most

[2014-01-16 17:52] Fannish commented on #2345
In a related note, I have over 25 dailies, and have finished 3 checklist heavy tasks, and have a STR of 87.

Yet in 3 days of completing all tasks and using my brutal smash at least 2-3 times a day, I've only done1 point of damage.
I am solo, and due to chronic depression, I've set all my tasks to hard, to try and make sure I actually go out and DO them.

Wondering if it is because I am solo, beca

[2014-01-16 18:17] lefnire commented on #2345
@Fannish that's definitely a bug. 25dailys, high str, etc - you should be dealing ~30dmg to the boss each morning. I'll look into this in the near future, got some stuff keeping me busy for a bit

[2014-01-16 18:19] lefnire commented on #2432
@lorian I have a To-Do to up the stealth buff based on %dailies-owned, and increase the number besides (given the MP cost). As I mentioned, I won't have time to dive into this for another couple months - but if you can suggest the math (or better, modify / run some simulations / PR) we'll get those in and boost your contrib lvl

[2014-01-16 18:21] Fannish commented on #2345
@lefnire Did you need my party ID?
(and counted it up, I actually have 42 dailies. >.> I may have over itemized)

[2014-01-16 18:22] lefnire commented on #2345
UUID & Party ID please, yeah. Even so, 1 daily is 1pt avg. So you should be doing at least 42dmg. Smash is a heavy hit, checklists add dmg, redness add dmg, etc

[2014-01-16 18:27] lorian commented on #2432
I'll give it a try! I do so love math and simulations.

[2014-01-16 18:29] Fannish commented on #2345
@lefnire Party ID : a77e686e-b215-429b-9a05-b3c282e7ed87  And it suddenly did 160 damage all at once- perhaps it was just being slow to tally everything?
Annnd I finally found it- UUID : a62df112-0ba4-4833-864f-24f0163e7ee2

Seems like 160 would be the last two days damage for all dailies and to do tasks I did...

[2014-01-16 18:51] wc8 commented on #515
There’s a gem/coin label, but usually coins and gems are not the same type of issue.
Would it be useful to create a “points" or “HP,XP,GP,MP” label so you can filter to those kinds of problems, and/or convert the existing label to just gems?

Oh, and I deleted custom-day-start in favor of cron per what @SabreCat said on G+, but later I saw @lefnire mentioned it in his list, do you need it back? I

[2014-01-16 19:11] lefnire commented on #515
Actually, to be honest I'm not using tags a _whole lot_. I'm relying instead on sorting in Zenhub columns, which I'm mostly managing myself (feel free to re-order if you want, but I think I've got a pretty good handle on Github - unlike Trello where I fell into oblivion). I think things are in a pretty good state right now unless anyone has objections, and if so feel free to change

[2014-01-16 19:12] lefnire commented on #2432
Discussion [here](https://github.com/HabitRPG/habitrpg/issues/2408#issuecomment-32396208) for reference, let me know if you need help getting those up-n-running

[2014-01-16 19:12] wc8 commented on #2334
@lefnire so you’re aware…
@supersweet I’m assuming this is still a problem for you. If so, please provide your User ID.

[2014-01-16 19:36] katfang opened #2433 "Failed to Level Up after gaining Experience (XP) from Completing Quest"
_edit by admin:_
# What to do if you notice this bug:

**You will level up as soon as you complete a Daily or To-Do, or use a Habit or Reward. None of your Experience will be lost.**

**You don't need to report it because we know that it happens for all players if they gain enough Experience to put them over the limit for levelling up from any of these causes:**
- **completing a quest**
- ~using t

[2014-01-16 19:48] lefnire commented on #2433
your next task (habit, daily, todo, etc) update will level you up.

[2014-01-16 19:50] lefnire commented on #2334
I'm aware, harder to fix than it sounds so will do when I get a moment (and when we get a UUID)

[2014-01-16 20:35] ghost commented on #1057
Could someone take a look at my account to see what's going on? I have a custom start time of 1am and haven't had problems with it up until now. Yesterday, I didn't look at HabitRPG at all until after 1am, and hadn't done any dailies (that I can remember!) due to being sick. But somehow I still had a streak going, still did damage to santa, and no damage to myself.
userid:
3c735bf8-8e39-4fb6-ae02-

[2014-01-16 20:55] extrajordanary commented on #945
Changed the colors to make it more evil. Please let me know if you have any other feedback for me. Thanks! :)

![rooster_boss extrajordanary _3x](https://f.cloud.github.com/assets/4017420/1934751/c44091e8-7eef-11e3-81ca-c61109e652a1.png) ![rooster_boss extrajordanary](https://f.cloud.github.com/assets/4017420/1934752/c886abd4-7eef-11e3-83be-ce35f6baa9e7.png)

[2014-01-16 20:56] colegleason commented on #2429
@Heyocto can you do me a favor and refresh the page to see if the pole is still in your inventory? I wonder if the page only shows the pole in your equipment but the server doesn't recognize that you purchased it.

[2014-01-16 21:02] wildcate commented on #2305
Similar thing here - the rogue who cast the tools of the trade spell has a buff, my character shows no buffs even though I did refresh the browser.

[2014-01-16 21:06] colegleason commented on #2167
@lefnire How did you reproduce this? I'm having difficulty.

[2014-01-16 21:30] colegleason commented on #2423
Additionally, I worry about timing attacks, but I have no evidence that Habit is susceptible yet.

[2014-01-16 21:46] paglias commented on #2167
@lefnire mongoose doesn't show a stack trace for its errors or we're not dealing correctly with them?

It may be https://github.com/HabitRPG/habitrpg/blob/develop/src/controllers/user.js#L422 with body `[{}]` that is not treated as empty?

---

No, it shouldn't be that because we check after for each op not to be empty https://github.com/HabitRPG/habitrpg/blob/develop/src/controllers/user.js#L442,

[2014-01-16 23:03] wes1 commented on #2421
sorry didnt understand that :-)

[2014-01-16 23:06] colegleason commented on #2421
@wes1 Please look at this [Wiki page](http://habitrpg.wikia.com/wiki/Settings). You want 'Fix Character Values'.

[2014-01-16 23:06] #2421 closed, assigned to nobody

[2014-01-16 23:07] colegleason commented on #2433
@lefnire I assume this is just because we don't update the User object on quest completion?

[2014-01-16 23:09] lefnire commented on #2433
Right, in many cases we fail to run `user.fns.updateStats()`, which will trigger level up, etc accordingly. In the case of quests, `user.stats.exp` is handled as a mongo query, so we don't have access to the user object. Fixing that is a whole big thing and I'm not sure it's worth the time/effort

[2014-01-16 23:11] wes1 opened #2434 "not giving contributor rewards!"
I am not receiving contributor rewards:
![screen shot 2014-01-17 at 8 12 13 am](https://f.cloud.github.com/assets/6416566/1936082/6fd72d7e-7f03-11e3-8087-3ce517fc93db.png)
![screen shot 2014-01-17 at 8 13 06 am](https://f.cloud.github.com/assets/6416566/1936084/746dce92-7f03-11e3-9307-7b4f41c7144b.png)

[2014-01-16 23:11] wes1 opened #2435 "not giving contributor rewards!"
I am not receiving contributor rewards:
![screen shot 2014-01-17 at 8 12 13 am](https://f.cloud.github.com/assets/6416566/1936082/6fd72d7e-7f03-11e3-8087-3ce517fc93db.png)
![screen shot 2014-01-17 at 8 13 06 am](https://f.cloud.github.com/assets/6416566/1936084/746dce92-7f03-11e3-9307-7b4f41c7144b.png)

[2014-01-16 23:11] #2434 closed, assigned to nobody

[2014-01-16 23:12] lefnire commented on #2435
You have to actually commit fixes. Filing bug reports is handy, but doesn't
make the cut

On Thu, Jan 16, 2014 at 4:11 PM, wes1 notifications@github.com wrote:

[2014-01-16 23:12] #2435 closed, assigned to nobody

[2014-01-16 23:13] wes1 commented on #2435
dang it!

[2014-01-16 23:14] wes1 commented on #2421
ok ok ok so many people are pulling me out on this issue

[2014-01-16 23:15] #2420 closed, assigned to nobody

[2014-01-16 23:21] colegleason commented on #2433
Ah, yeah. It would be nice if Mongoose supported findAndModify through the Schema.

[2014-01-16 23:23] wes1 opened #2436 "BUG! only shows mounts head!"
I don't know if anybody has this happening to them but when I go to the mounts page it only shows my mounts head!
![screen shot 2014-01-17 at 8 24 27 am](https://f.cloud.github.com/assets/6416566/1936178/3eef70de-7f05-11e3-9109-e8e65d1f0457.png)

[2014-01-16 23:24] wes1 commented on #2436
if hs is just normal just close the issue! :-)

[2014-01-16 23:27] Popitop commented on #943
![healer staff resized](https://f.cloud.github.com/assets/6414375/1936198/bab77cfc-7f05-11e3-892c-554bb27bf148.png)
Threw this together because I liked this design idea, feedback would much appreciated!

[2014-01-16 23:28] lefnire commented on #2436
this is normal behavior...

[2014-01-16 23:28] #2436 closed, assigned to nobody

[2014-01-16 23:56] Novakza opened #2437 "Vanishing / Missing gold"
It's possible that I had misclicked a reward (perhaps a backlog of purchases to catch mistakes like that would be useful), but I just had something in the region of 30 gold disappear shortly after completing an item on my to-do list. I wasn't keeping a close track, but I had roughly 55 before, then completed it, then took my attention elsewhere, and then found I had dropped to 29ish. Likely not an

[2014-01-17 00:16] hattieshoe commented on #2431
Even though I'm one of those who's enjoyed the misspelling and joked about it, I agree with wc8 that it would be better to correct it and not leave it just for the sake of nostalgia for a few people. Most readers would just assume it was a typo which isn't the impression you want to give. I'm sure the proposed quest could easily work around the correction.

[2014-01-17 01:10] SabreCat commented on #2408
Having task exhaustion only last until next cron makes some sense. But in most cases the limiting factor is cron already--you get back your 10 Mana, you burn it on Burst of Flames/Pickpocket on the same daily, you move on with your day.

[2014-01-17 01:16] DanielTheBard commented on #945
@deadlyfurniture - I had a personal concern on the trello about your sabre-tooth, so I'm copying it over here:

"The main problem for me is the head I think? The snout, ears, and coloration seems to scream more... weasel-like, or a hyena? I can't put my finger on it. The head might also just be too small in relation to it's body?

When I think of a sabre-tooth my mind immediately jumps to a tiger.

[2014-01-17 01:34] zoebeagle commented on #942
![lineup](https://f.cloud.github.com/assets/4400262/1936969/580beb8a-7f17-11e3-9cfe-fc69fee290ff.png)

Most of the platypi recolors... not particularly satisfied with the golden and pink... didn't try skele or zombie yet, and having trouble with the cotton candy blue.

[2014-01-17 01:37] lorian commented on #2408
That may be true; I tend to get most of my mana from to-dos, so I can cast it a lot more than once a day, but most people seem to do a lot fewer to-dos. If exhaustion lasts more than a day, though, there will have to be some sort of visual indication so you know when your task has refreshed.

[2014-01-17 01:47] SabreCat commented on #2408
Yeah, that crossed my mind. Trick there is that we have a _lot_ of icons stacked up on tasks already, so adding another glyph would require careful consideration.

It's just one possible solution, in any case. Rebalancing mana cost and output may be easier and just as effective.

[2014-01-17 02:05] katerberg commented on #2431
When I grep the repository, I don't see this spelling anywhere in the code. I was just looking for some low-hanging fruit (or potatoes...) to clean up.

I assume it's in the database rather than in the actual code base?

[2014-01-17 02:08] fuzzytrees commented on #942
Nice! They are really cute. May I suggest that instead of keeping the feet
and beak the exact same color throughout, you might make them match the
color scheme? So a paler grey for the White, dark brown for Desert, etc.
Use your discretion if you think it looks funny.

On Thu, Jan 16, 2014 at 8:34 PM, zoebeagle notifications@github.com wrote:

[2014-01-17 02:09] katerberg commented on #1953
Is this still a valid issue? I see the video working properly on the main site.

Sorry if this is considered dead. I know it's 2 months old; I'm just trying to find something easy to work on for my first commit.

[2014-01-17 02:15] colegleason commented on #2431
It's [here](https://github.com/HabitRPG/habitrpg-shared/blob/c9ddf0e15dbf8bf8a2b8137d0a8e8a020efc2cb9/script/content.coffee#L510). Maybe we should also fix the modal to use the text attribute.

[2014-01-17 02:21] colegleason commented on #1953
Unless there is some other video than the one I see, this is no longer valid.

[2014-01-17 02:21] #1953 closed, assigned to nobody

[2014-01-17 02:44] katerberg commented on #2431
I have the fix done but I don't know how to submit a pull request. I have it completed locally on my own branch but I get 403s when trying to push my branch. Do I need to fork the repo? This is my first time working on a group project on github. Sorry :baby:

[2014-01-17 02:46] deilann opened #2438 "Tavern Message Displays Incorrect Information"
Says that Bosses will damage you for your undone dailies while resting, rather than damage you for your party members' undone dailies. Just needed to swap out the info in tavern.jade:

http://pastebin.com/R1HavwFX

[2014-01-17 02:52] colegleason commented on #2431
Yeah, here is what you should do.
- Fork the repo on Github
- Locally where you have the changes, run:

[code]
- Go to habitrpg/habitrpg-shared and open a PR.

[2014-01-17 03:01] katerberg commented on #2431
Submitted! https://github.com/HabitRPG/habitrpg/pull/2439

I did not actually change the key name since I don't know if it's stored in the DB or somewhere else that persists and the text should be the only user-visible part.

[2014-01-17 03:09] #2438 closed, assigned to nobody

[2014-01-17 03:09] SabreCat commented on #2438
Tweaked the wording a bit to remove some redundancy, but it's in now. Thanks for the catch!

[2014-01-17 03:10] katerberg opened #2440 "Top bar not loading"
When I log into HabitRPG, the top bar is just not there. I cannot see anything above the tags section as seen here:
![screenshot - 01162014 - 09 05 51 pm](https://f.cloud.github.com/assets/479643/1937438/4b7a62d6-7f24-11e3-8761-434085858a1b.png)

I'm using Firefox on Debian but have replicated this problem on Firefox on MacOS and in Chrome on Windows. I had another user log into their account on m

[2014-01-17 03:10] deilann commented on #2431
If we're going to fix this (and give me profound sadness, of the cats wearing clothes and flavored coffee beans types) the backwards nature of the feeding message should probably also be fixed. (Talks about Wolf-Base or Wolf-Desert instead of Base Wolf or Desert Wolf.)

[2014-01-17 03:12] lefnire commented on #2440
Sure you didn't [disable header](https://habitrpg.com/#/options/settings/settings)? [screenshot](https://www.evernote.com/shard/s17/sh/fc0aecd7-ce28-4817-a9f9-2e20282f6b29/f809d70887d33b3d17492b85590aaf2d)

[2014-01-17 03:22] Mintavious commented on #945
I was pretty bad and meant to make this a normal monster, but he ended up too large, I think.  Mutant Pigmen:

![mutant pig man monster copy](https://f.cloud.github.com/assets/6351199/1937503/8afaca34-7f26-11e3-886f-315b233a989b.png)
![mutant pig man monster copyx3](https://f.cloud.github.com/assets/6351199/1937504/907993be-7f26-11e3-9b03-bff0c0d77829.png)

[2014-01-17 03:30] katerberg commented on #2440
That was definitely the issue. Sorry for the confusion. I looked in the settings as well but was looking for top bar as that's what it's referred to on the wiki. Thanks!

[2014-01-17 03:30] #2440 closed, assigned to nobody

[2014-01-17 03:44] katerberg commented on #2431
@deilann This has been included on the pull request as well.

[2014-01-17 03:46] SabreCat commented on #2433
Ah, I noticed this too earlier today. It would be cool to get that levelup rush when finishing a quest, but definitely low priority especially if the fix is a hassle.

[2014-01-17 04:02] TheInventrix commented on #942
@lemoness I just saw your recent comment and now my question feels silly! >.> Could I take a stab at the cow pet and mount or has it been claimed? There's no note of it as being such on the link, but I wanted to ask before duplicating effort.

Also, I made a hedgehog pet, what do you guys think?

![hedgehog pet](https://f.cloud.github.com/assets/6414963/1937652/1191e870-7f2c-11e3-9b64-fa41abe1edc2

[2014-01-17 04:17] deilann opened #2441 "Testing Can't +1 Own Chats, Interesting Results"
Attempting to +1 your own chats now gives you the lovely message. However, it freezes up my browser then redirects me back to tasks, rather than leaving me in the Tavern.

[2014-01-17 04:53] thrappstead opened #2442 "Challenge bug"
after completing the challenge the the to-do is still there and says broken challenge link where the trash normally is, so I can't remove it

[2014-01-17 04:54] thrappstead commented on #2442
my user id is f90dc4e7-cce6-4b83-a138-936e0621e550

[2014-01-17 04:54] lefnire commented on #2442
click the "broken challenge" button, it gives you more information

[2014-01-17 04:55] thrappstead opened #2443 "rewards in habits"
A reward has shown up in my habit section and I cant remove it.

user id: f90dc4e7-cce6-4b83-a138-936e0621e550

[2014-01-17 05:12] sabrinastarfire opened #2444 "checked in inn but still died after going away for a few days"
i checked in inn but still died after going away for a few days.

[2014-01-17 05:29] colegleason commented on #2444
Were you on the Trapper Santa Quest?

On Thu, Jan 16, 2014 at 11:12 PM, sabrinastarfire
notifications@github.comwrote:

##

Cole Gleason
Student, University of Illinois at Urbana-Champaign
Computer Science, Class of 2015
cg@colegleason.com | colegleason.com

[2014-01-17 07:13] ghost opened #2445 "Donation issue"
Hi,

3 days ago I made a donation through PayPal but I didn't received any gem yet.
My User ID is: de9c8079-aa01-441f-9fce-8d7305b9dc80.

Thanks for support.

[2014-01-17 08:01] Aiseant opened #2446 "Perfect day achievement : not awarded if you have grey dailies uncomplete"
Hi there,

I removed a daily yesterday (without checking it before), and had my whole list completed at the end of the day. I didn't received any achievement for this "perfect day".

Is this intended ? (it would make sense, in a way)

If so, would checking the daily before removing it prevent this behaviour ?

Or maybe it's not related at all, and linked to something else ?

Regards

Aiseant

[2014-01-17 08:08] lemoness commented on #943
Hm, interesting! Is that a weapon of some kind? Right now we aren't in dire
need of any new weapons, but it's good practice. One thing I would suggest
for the future is having a less saturated color palette and experimenting
with some shading. Keep at it!

On Thu, Jan 16, 2014 at 3:27 PM, Popitop notifications@github.com wrote:

[2014-01-17 08:12] lemoness commented on #945
GUYS, there is a TON of awesome art here! I want to make sure I can comment
on every piece, but it's gotten quite late and so I will need to do that
tomorrow or Saturday. Rest assured that you are not pixeling for the void <3

On Thu, Jan 16, 2014 at 7:22 PM, Mintavious notifications@github.comwrote:

[2014-01-17 08:37] lemoness commented on #2446
Also didn't get my perfect day when I checked my last daily, but maybe it's calculated on cron. That would be my instinct, anyway.

[2014-01-17 08:40] lemoness opened #2448 "Lost most of day's checked items?"
Checked off a bunch of items, including all my dailies. Then, when I came back to HabitRPG to check the tavern quickly before bed, it announced a loss of MP and gold, and I saw that all of my tasks for the day except for those I checked first thing in the morning had reappeared/unchecked.

I rechecked them all. Will keep you posted, I guess.

[2014-01-17 09:26] kibin opened #2449 "Windows Phone 8 app"
What about this platform? Do you plan making app for it?

[2014-01-17 09:28] Aiseant commented on #2446
Yes, I was my first thought. I waited my cron before posting this issue, it wasn't the problem.

[2014-01-17 09:34] Aiseant commented on #946
@Lefnire : yes, I know there's still some of my pixels around. But anyway, I feel kinda bad gaining level with such small pieces when there's awesome Bosses posted all around :-) So I over-compensate by flooding you with it ^^ For coding, I have to admit it's basically selfish, as it'll primary help _me_ improving myself with new coding skills. But if I succeed, I'll be able to help a little. I ho

[2014-01-17 09:40] colegleason commented on #2449
Please cast your vote for that here: https://trello.com/c/1ip1chIA/404-native-windows-phone-8-app

[2014-01-17 09:40] #2449 closed, assigned to nobody

[2014-01-17 09:44] kibin commented on #2449
Thanks!

[2014-01-17 10:02] Aiseant commented on #2405
For me, it doesn't make sense at all that checking a todo without completing the checklist reward you with the same exp than checking the whole checklist, or even checking some of the items in the list.

If I read the code right, what you propose is already in for checklist in dailies. When the Task is a ToDo, you're granted the exp depending on the checklist length, and nothing else, @lefnire wro

[2014-01-17 12:43] bakatamas opened #2450 "No experience or gold gained after restarting?"
After attaining the ultimage gear, I bought gems and restarted the whole game as was advised.

The problem is that tasks now seem to give no xp or gold for completion...

User: tenchi39

[2014-01-17 13:06] bakatamas commented on #2450
After opening the page again, the problem went away....

[2014-01-17 13:07] #2450 closed, assigned to nobody

[2014-01-17 13:24] wc8 opened #2451 "Change Class user confusion"
It’s come up again in the tavern, a user expecting they would to change classes for free  because of in-game wording. [Edit: previous in-game wording, in this latest case, so maybe this isn’t so pressing.]

@SabreCat had suggested [class change](https://trello.com/c/L1H6LiZ3/110-character-stats-attributes-the-class-system) become a Market Item, with users getting one for free when they choose a cl

[2014-01-17 13:28] Yaneela opened #2452 "Reset to lvl 5 with 30 EXP everyday"
Hello there,

I've been experiencing a problem for about 3 days now where it sets me back to lvl 5 with about 30 EXP everyday. It seems to happen completly random all throughout the day.
My character seems to be stuck on this weeks tuesday too, the dailies haven't reset since then, and my To-Do-List keeps going back to what I had on tuesday (already checked things reappearing, new things dissappea

[2014-01-17 13:35] eiron opened #2453 "Party Spells not working - Healer"
I have been trying desperately to heal my party, but am getting a 500 error on each. The error text: "Error 500: request entity too large (see Chrome console for more details)."

[2014-01-17 13:48] wc8 commented on #2446
Were any of your grey dailies unchecked? It believe it's a known issue that Perfect Day’s not yet accounting for not-due dailies.

[2014-01-17 13:48] Anrisa commented on #942
What's available to make???

[2014-01-17 13:53] wc8 commented on #2445
Hi, sorry for your troubles. Thanks for letting us know.

Attn: @lefnire

[2014-01-17 14:37] Aiseant commented on #2446
Hooo, it must be that, I often have grey dailies. Thanks @wc8.

[2014-01-17 15:19] stupadbear opened #2454 "Donated, gems not showing up"
## Fixed

I've noticed that other people are having the same issue, so even if it's not been long since i wanted to just poke my head in and let you know.

I donated (Because you're amazing!), got a receipt and all but gems haven't shown up.

My ID is 4521379a-69cf-4d3b-aade-c073d32bd065

My nickname is Stupidbear
## <bountysource-plugin>

Want to back this issue? **[Post a bounty on it!](https://

[2014-01-17 15:46] wc8 commented on #2405
@Aiseant (Your _by-the-way_ is a known issue, there are several tickets about it.)

@SabreCat I agree with _award bonuses only for completed checklist items_
I do not think that _bonuses_ should be awarded for incomplete checklist items.

[2014-01-17 15:52] lorian opened #2455 "Suddenly died, Rollover didn't happen, weirdness everywhere."
I just died this morning, and I had completed all my dailies, and wasn't on the boss quest (I'm on the cub quest). Last night I had 26 hp (and 947 gold ; ;), and this morning I was told that I died.

All of my dailies still have streaks, and in fact the newest daily that I made yesterday is cloned: there are 4 copies of it, all with streaks (although one has one more streak than it should). How th

[2014-01-17 15:57] wc8 commented on #2405
Follow-up thought: I’d prefer over-all the assumption that a ✓ in the box means _good enough_ than _everything done_.

I don’t want the system to check things off for me. (If it does, at least make it visual, check every box.)

[2014-01-17 16:03] lefnire commented on #2454
yeah, paypal IPN is slow and finicky (I added a note to the checkout screen to use card if available, which uses stripe - a much preferred vendor). I'm still looking into this, in the meantime i  ran the script for you - give that a whirl

[2014-01-17 16:05] snagerdra opened #2456 "duplicating 'to do' and 'daily' tasks"
having to delete duplicating items. some of them have duplicated themselves like 4 times. I just got this account yesterday so i wasn't sure if that was supposed to happen? doesn't make sense for it to.

then, when i completed a 'to do' item, sometimes it gave me gold and ex but stayed put and stayed yellow and other times it gave me damage. i tried to click items off my to do list several times s

[2014-01-17 16:14] wc8 commented on #2327
#2405 related.
As I said there, I'd rather not have the system check anything off for me, e.g. having to-do/daily be a short-cut for all CLIs completed. Perhaps this could be a user option?

[2014-01-17 16:20] wc8 commented on #2456
@lefnire this sounds to me like a corrupted item.
Seems like we had a bug like this ages ago and defeated it. Now we're getting multiple reports here and on tavern about it.

[2014-01-17 16:25] wc8 commented on #2455
Hi, sorry, cleaning up the clones is something I suspect we'll need @lefnire to tackle.
He'll probably need your User ID.

[2014-01-17 16:27] stupadbear commented on #2454
Thank you very much! :)

[2014-01-17 16:27] snagerdra commented on #2456
I should say that by 'item' i mean the words you type in that are your tasks. I am so new, maybe there are actual items in this game thing.

[2014-01-17 16:45] kbonardi opened #2457 "can't login via android app"
Have tried using both username/password and user ID/API token but once both fields are filled, clicking either 'go' on keyboard or 'login' on screen does nothing.

[2014-01-17 16:47] putrocca opened #2458 "Account Disappeared"
My account disappeared suddenly.  Username: putrocca

When I try to log in, it says there is no one registered with my username, and when I try to request a password reset it says it does not know my e-mail address.  I tried all my e-mail addresses and it returned that it didn't know any of them.

I found this old closed similar issue:
https://github.com/HabitRPG/habitrpg/issues/1369?source=cc

It

[2014-01-17 16:56] lorian commented on #2455
User ID: 142e1f47-6fae-4927-a5c2-3ea8a42b71d1
Any idea what happened? It's like my account is currently stuck halfway between three copies of yesterday and today.

I have managed to clean up the clones; I kept hitting delete and reloading the page, and eventually they went away. Hopefully that's the last of it!

[2014-01-17 17:19] lefnire commented on #2369
Sorry for the hold up on this, we're trying to fix cron once-and-for-all (see https://github.com/HabitRPG/habitrpg/pull/2346). In the meantime, Options > Settings > Fix Character Values. For streaks, Task > Edit > Restore Streaks. If you want me to fix anything not covered in those spots let me know

[2014-01-17 17:39] putrocca commented on #2458
Addendum: one additional fact: I was sent a Party invite shortly before the bug occurred.  I did not receive notificaiton of it, but the other players can still see my Party invite.

Group ID: 7e02501b-4e9e-4a23-90ab-94def9b98b9e

[2014-01-17 17:41] extrajordanary commented on #942
@TheInventrix cute hedgehog! Also, you can search "cow" in this thread to see that the pets have been fully done. Not sure if the mount is fully done though as I've  seen the base model posted (https://github.com/HabitRPG/habitrpg/issues/942#issuecomment-19861466) but not all of the color variations. @fuzzytrees Are you still working on the cow mount?

[2014-01-17 17:43] colegleason commented on #2453
Oh dear. Just to help debug: how big is your party?

On Fri, Jan 17, 2014 at 7:35 AM, Eiron Page notifications@github.comwrote:

##

Cole Gleason
Student, University of Illinois at Urbana-Champaign
Computer Science, Class of 2015
cg@colegleason.com | colegleason.com

[2014-01-17 17:45] colegleason commented on #2452
Wow, this sounds like the most extreme cron-related bug I've heard of. Can
we get your UUID, please?

On Fri, Jan 17, 2014 at 7:29 AM, Yaneela notifications@github.com wrote:

##

Cole Gleason
Student, University of Illinois at Urbana-Champaign
Computer Science, Class of 2015
cg@colegleason.com | colegleason.com

[2014-01-17 17:52] Yaneela commented on #2452
I'd love to send you my UID right away but the earlier mentioned bug of just showing me bits of coding and pictures occured again so I can't look it up right now :/
I've been trying to load up a screenshot of it but GitHub won't let me (or else I'm to stupid)

I could upload it to my tumblr or deviantart though, if you think that'd help ...

[2014-01-17 17:55] colegleason commented on #2452
That would help a lot, just so we can see what is going on. Do you, by chance, have _a lot_ of to-dos?

[2014-01-17 17:56] Yaneela commented on #2452
Last time I checked I had something about 6 To-Dos

The Upload problem was apparently my browsers fault so here you go:
It goes on like that for a while longer ...

![habitrpg bug](https://f.cloud.github.com/assets/6429627/1942885/a352d084-7fa0-11e3-9a17-3cb7bf966627.png)

[2014-01-17 18:11] octern commented on #2369
I'm not sure if this was the cron bug -- if the problem had been an early rollover, then the damage should have hit after I checked off the first of the dailies, right? But in any case, it hasn't recurred since then.

I mentioned the gold because it's not possible to restore GP during the winter event. But I made up for it by exploiting the pickpocket bug, so we're more or less even again.

[2014-01-17 18:24] colegleason commented on #2452
Oh, I've seen this before! I think it means there is an error in the Jade
template.

If you are using Chrome, could you please right click on that page and
click "Inspect Element", then go to the tab called "Console" and copy and
paster any errors here for us?

On Fri, Jan 17, 2014 at 11:56 AM, Yaneela notifications@github.com wrote:

##

## Cole Gleason

Student, University of Illinois at Urbana-

[2014-01-17 18:38] Yaneela commented on #2452
I'm actually using firefox, there it says:
19:24:03.299 [object Exception] app-f70c919f.js:5

[2014-01-17 18:43] colegleason commented on #2452
I don't know firefox all that well. Is there any more info there (like an
arrow you can click?)

On Fri, Jan 17, 2014 at 12:38 PM, Yaneela notifications@github.com wrote:

##

## Cole Gleason

Student, University of Illinois at Urbana-Champaign
Email: cg@colegleason.com
Website: colegleason.com

[2014-01-17 18:50] Yaneela commented on #2452
I can click on it and it sends me to this really long code line, should I copy it?

[2014-01-17 18:51] lemoness commented on #2446
Yikes, same thing happened to me! Must be my grey Dailies. Darn, I was so excited! Oh well, I'm sure it will be fixed soon.

[2014-01-17 18:51] colegleason commented on #2452
If you could, please just paste it here: http://pastebin.com/ and copy the
link here.

On Fri, Jan 17, 2014 at 12:50 PM, Yaneela notifications@github.com wrote:

##

## Cole Gleason

Student, University of Illinois at Urbana-Champaign
Email: cg@colegleason.com
Website: colegleason.com

[2014-01-17 19:03] Yaneela commented on #2452
So I tried copying it, but apparently firefox doesn't want that (_sigh_ this is so exhausting, I don't know a thing about codes and the likes Q__Q) but I found this somewhere in the console:

Filename:  https://habitrpg.com/app-f70c919f.js
Message:  Component returned failure code: 0x8052000b (NS_ERROR_FILE_CORRUPTED)[nsIDOMStorage.setItem]
Name:  NS_ERROR_FILE_CORRUPTED
Result:  2152857611

I don

[2014-01-17 19:16] TheInventrix commented on #942
@extrajordanary Oh, a ctrl+f search is a really good idea, I don't know why I didn't think of it. _facepalm_ I'll wait to hear back regarding the colors and in the meantime I'll take a shot at the sabertooth mount as it looks like that one's still up for grabs.

And on looking at the other pet art, my hedgehog is definitely too big. <.< I will go back and redo it too!

[2014-01-17 19:58] colegleason commented on #2452
Hmm, this appears to be an issue with Firefox's localStorage. It seems it
has been corrupted somehow.

On Fri, Jan 17, 2014 at 1:03 PM, Yaneela notifications@github.com wrote:

##

## Cole Gleason

Student, University of Illinois at Urbana-Champaign
Email: cg@colegleason.com
Website: colegleason.com

[2014-01-17 20:01] eiron commented on #2453
We are seven or eight. We are, however, likely to be cutting down a couple
members. Things do get unstable above six, as promised.
On 17 Jan 2014 17:45, "Cole Gleason" notifications@github.com wrote:

[2014-01-17 20:05] TheInventrix commented on #942
So, sabertooth mount!

![sabertooth pet](https://f.cloud.github.com/assets/6414963/1943941/8bfde0e2-7fb2-11e3-8786-b1bf9a81723b.png)

I tried to match the existing mount style and keep the original pet art's color palette; I'll wait on recolors until I get feedback.

[2014-01-17 20:11] lorian commented on #2455
FYI, it sounds like my issue is some mishmash of issues  #2458 (unreset dailies) and #2456 (duplicated entries) . I'm now completely terrified of logging out.

[2014-01-17 20:16] MarsEnyalios commented on #942
Hi, I'm new to HRPG, but I thought I'd pop into the art threads and see if there's anything I can help with! I've been making art for years now, and I'd like to try my hand at pixeling. Is there a list for needed mounts/pets--oh look, there is. But it looks like all of those have been claimed... Hm, now I'm lost. _Is_ there anything I can help with? Are the same artists who did the mounts going to

[2014-01-17 20:22] lefnire commented on #2458
Try logging in with Facebook, it's the most common mistake ("I promise I didn't use Fa- oh.") If not, I'll look into this soon

[2014-01-17 20:45] extrajordanary commented on #942
@TheInventrix  Looking good! One thing that immediately jumps out at me is that the back legs seem a lot higher up than a lot of the other mounts making it feel like the body is twisted instead of being closer to a side view like the others. (https://github.com/HabitRPG/habitrpg/issues/942#issuecomment-28263202) The other kitty mounts (tiger/lion) are good for comparing.

[2014-01-17 20:51] extrajordanary commented on #942
@Rowan-Law Hello and welcome! I'm new too (to both HRPG and pixeling), so I share your "i want to help but where do i start?!" sentiment. Glad you found the list (the trello one yes? https://trello.com/c/ei8UQA3k/370-quest-chain-gen-2-pets), and yes, I think most things are claimed so far... except maybe the Marshmellow Slime boss. I'd definitely pop over to the Quests thread (https://github.com/H

[2014-01-17 20:55] MarsEnyalios commented on #942
**@extrajordanary** Ooohoh. The Marshmallow Slime boss? _That_ sounds fun. _Goes to check out the linked threads_ Thanks ^^

[2014-01-17 20:56] octern commented on #2456
I've gotten repeat to-dos from time to time as well. Only doubles though, never quadruples. I didn't post about it because I could never replicate it or figure out exactly what was going on, but it's definitely not a thing of the past. I've also only observed this on to-dos, though that may be because I add to-dos much more frequently than other categories.

[2014-01-17 21:00] MarsEnyalios commented on #945
Has the Marshmallow Slime boss been claimed yet? If not, can I have a shot at it?

[2014-01-17 21:16] putrocca commented on #2458
Yep, that was it!  Wow, I barely remembered I even HAVE facebook.  I would suggest adding this to FAQ if it's common.  Thanks so much!

[2014-01-17 21:16] #2458 closed, assigned to nobody

[2014-01-17 21:36] KnittyGritty commented on #2416
...well, you got me there...where would I find my UUID?
 

Gesendet: Donnerstag, 16. Januar 2014 um 02:35 UhrVon: "Tyler Renelle" notifications@github.comAn: HabitRPG/habitrpg habitrpg@noreply.github.comCc: KnittyGritty e.boernard@web.deBetreff: Re: [habitrpg] "Donation" not registering... (#2416)

what's your UUID? Sorry for the issues, paypal IPN is quite finicky. We're looking into it, and reco

[2014-01-17 22:36] Yaneela commented on #2452
So I've deleted all cookies and the display bug seems to be gone for now, here's my User ID (finally):
04c8d6fb-d9a1-4888-9f91-30c1b91dbf49

[2014-01-17 22:44] thrappstead opened #2459 "rewards in habits"
I have a reward that has found its way in my habit section, cant find anyway way of removing it

user id: f90dc4e7-cce6-4b83-a138-936e0621e550

[2014-01-17 22:52] #2442 closed, assigned to nobody

[2014-01-17 23:25] TheInventrix commented on #942
@extrajordanary Aha, thanks! Is this better?

![sabertooth pet](https://f.cloud.github.com/assets/6414963/1945476/8ae335f6-7fce-11e3-9241-e6e077aadb45.png)

[2014-01-17 23:34] extrajordanary commented on #942
@TheInventrix Much better! I like how you shifted the front left leg over too, it really helps the tooth stand out against the orange. That's all the feedback I've got, I think it looks great. :)

[2014-01-17 23:49] lorian commented on #2456
I got a large batch of triples and quadruples of all my recently-added dailies and to-dos this morning (along with other, more pressing problems). Never had it happen before.

[2014-01-17 23:51] Eipois commented on #2454
## Fixed

Hi! I have the same problem, 12.1. I donated 5 dollars, but nothing happened. At least on habitRPG, but other things look OK - I have confirmation email and so.

User ID: 139b9647-c05a-41a3-bc80-4124d7555ec0
nick: Eipois
Paypal Transaction ID: 1BY73719XA059531B

Thanks a lot for help, I want to buy winter collection o:-) :)))

[2014-01-18 02:39] colegleason commented on #2431
Fixed via #2439

[2014-01-18 02:39] #2431 closed, assigned to nobody

[2014-01-18 02:48] prophecynine opened #2461 "Challenges display improperly"
When looking at challenges from the list (in a guild, for example), the interface seems to expect the user to click on the challenge title again to close it before clicking the next one. For example:

Challenge 1
Challenge 2
...
Challenge 50

Clicking challenge 1 opens the details. good so far. Now if the user clicks challenge 350, it does not open the details for challenge 50 as expected, but ins

[2014-01-18 03:32] JennaMalkin opened #2462 "Tutorial Video Outdated"
This early tutorial video needs updating: http://vimeo.com/57654086

^ It talks about generic weapons as 'increasing experience gain', which isn't accurate any more.

[2014-01-18 03:43] fragmental commented on #2462
I can make videos, but I don't know all the details.

[2014-01-18 03:51] Mintavious commented on #945
I feel weird commenting again so soon.  While taking a break from personal projects I decided to try my hand at a rocky Beholder (This time intentionally boss-sized):
![beholder base](https://f.cloud.github.com/assets/6351199/1946220/b97b4af0-7ff3-11e3-947d-0fab52d9cee7.png)
![beholder basex3](https://f.cloud.github.com/assets/6351199/1946221/bc037ea0-7ff3-11e3-8a1e-5e8afc83f017.png)

[2014-01-18 04:12] colegleason opened #2463 "Display error modal for NS_ERROR_FILE_CORRUPTED"
As mentioned in #2452, it's possible for some sort of browser-level storage error (cookies, local storage, etc). We should catch this error and instruct the user to clear their cookies (at least for HabitRPG).
## <bountysource-plugin>

Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/1386003-display-error-modal-for-ns_error_file_corrupted?utm_campaign=plugin&ut

[2014-01-18 04:13] MarsEnyalios commented on #945
@Mintavious I don't think you have to worry about posting again so soon when your art is so awesome . . .

[2014-01-18 04:16] colegleason commented on #2462
Please take the discussion to [this Trello card](https://trello.com/c/hPftdlM2/406-tutorial-video-needs-updated) as I imagine more people will see it there.

[2014-01-18 04:16] #2462 closed, assigned to nobody

[2014-01-18 04:19] lemoness commented on #2451
Just chiming in to say that the Class Change market scroll was indeed the
agreed-upon solution... And to subscribe to this thread from my phone ;)

On Friday, January 17, 2014, wc8 notifications@github.com wrote:

[2014-01-18 04:37] SabreCat commented on #2459
Duplicate of #2443

[2014-01-18 04:37] #2459 closed, assigned to nobody

[2014-01-18 05:02] SabreCat opened #2464 "Rethink STR effects"
A few users have noted that STR is the only "double-edged sword" attribute: reducing task redness might insulate you from future damage, but it also reduces the reward for getting your act together. It's the only attribute that has an inherent drawback.

This, however, seems to be mostly a philosophical objection, since the effect of even an off-the-charts STR score is unnoticeable when it comes t

[2014-01-18 05:22] #2446 closed, assigned to nobody

[2014-01-18 05:29] colegleason commented on #2441
@deilann: Do you still experience this? I can't seem to reproduce it.

[2014-01-18 05:44] deilann commented on #2441
Yes. I attempt to +1, get a hang up, and then it redirects me to the tasks
page. Happens in Chrome on my laptop, Chrome on my Android tablet, and
Puffin on my Android tablet.

On Fri, Jan 17, 2014 at 9:29 PM, Cole Gleason notifications@github.comwrote:

[2014-01-18 05:45] deilann commented on #2441
(For the record, I just tested it in Chrome on my laptop.)

On Fri, Jan 17, 2014 at 9:44 PM, Ryan yandoryn@gmail.com wrote:

[2014-01-18 05:52] lefnire commented on #2451
@wc8 shouldn't be too tough. I think we have a roll-up scroll (kinda "hear ye hear ye" looking) floating around we could use so it doesn't look too similar to our quests.

[2014-01-18 05:53] colegleason commented on #2441
When you get a chance, could you please do the following to help me debug?
1. Right click on the page and click "Inspect Element" to open the developer tools.
2. Click the tab called "Console".
3. Right click the console and check "Preserve Log upon Navigation"
4. Try to +1 your chat message.
5. Copy any text that appears in the console window here.

[2014-01-18 05:55] lefnire commented on #2454
@Eipois √

[2014-01-18 05:58] lefnire commented on #2416
String of characters under `User Id` at https://habitrpg.com/#/options/settings/api

[2014-01-18 06:00] #2402 closed, assigned to nobody

[2014-01-18 06:06] lefnire commented on #2446
pushing @colegleason's fix, thanks cole!

[2014-01-18 06:09] deilann commented on #2441
Strangely, not getting anything there. Further notes: If I let the
notification expire and do not attempt to close it, I do not get a redirect.

Consider using 'dppx' units instead of 'dpi', as in CSS 'dpi' means
dots-per-CSS-inch, not dots-per-physical-inch, so does not correspond to
the actual 'dpi' of a screen. In media query expression:
(-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 1

[2014-01-18 06:33] lefnire commented on #2445
@JeanMichMuch ran a script for you, give that a shot

[2014-01-18 07:09] lefnire commented on #2344
@paglias [this comment](https://github.com/HabitRPG/habitrpg/pull/2346#discussion_r8953610) (just so you know I'm not ignoring your question)

[2014-01-18 07:18] deilann commented on #2464
Would be interesting if STR went back to increasing XP gain, but only on "Physical" tasks, while INT did it on "Mental" tasks, but that would require everyone allocate and fiddle with more settings.

What if a high STR caused a chance of different status effects? You could "stun" a task on a chance, like a critical, and it wouldn't be able to hurt you.

STR is used in a lot of games to determine h

[2014-01-18 07:27] deilann opened #2465 "Profiles Broken"
When clicking on a name in chat, profiles pull up an empty profile.

[2014-01-18 07:35] deilann opened #2466 "Opening Tavern Tab Doesn't Refresh"
When you go into Guilds and click on their tab, it automatically refreshes the chat, so that you can see new messages. Is there a logistical reason clicking on the Tavern tab doesn't do the same?
## <bountysource-plugin>

Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/1386001-opening-tavern-tab-doesn-t-refresh?utm_campaign=plugin&utm_content=tracker%2F68393&u

[2014-01-18 07:41] #2465 closed, assigned to nobody

[2014-01-18 08:49] ghost commented on #2445
Thanks @lefnire, you fixed it.
Have a nice day.

[2014-01-18 08:49] #2445 closed, assigned to nobody

[2014-01-18 09:05] colegleason commented on #2441
Ah, I wasn't trying to close it. I am now getting that problem.

On Sat, Jan 18, 2014 at 12:09 AM, deilann notifications@github.com wrote:

##

## Cole Gleason

Student, University of Illinois at Urbana-Champaign
Email: cg@colegleason.com
Website: colegleason.com

[2014-01-18 09:09] deilann commented on #2441
Further testing: other notification popups act similarly.

Fed pets to test it, despite not having the right food, oh well, and
closing that popup took me to /tasks as well.

On Sat, Jan 18, 2014 at 1:05 AM, Cole Gleason notifications@github.comwrote:

[2014-01-18 09:10] colegleason commented on #2441
Here is the issue (in bootstrap-growl): https://github.com/ifightcrime/bootstrap-growl/blob/master/jquery.bootstrap-growl.js#L16

We will want to modify that package to use window.location or something instead of `#`.

[2014-01-18 09:17] deilann commented on #2441
A quick fix would be to set allow_dismiss: false

On Sat, Jan 18, 2014 at 1:10 AM, Cole Gleason notifications@github.comwrote:

[2014-01-18 09:18] colegleason commented on #2441
Sure, but let's see if we can't fix it real fast. Issue submitted here: ifightcrime/bootstrap-growl#40

I can also fork if we need to, but I would rather not.

[2014-01-18 10:01] mczuchnowski opened #2468 "Deleted To-do's hurt bosses"
I normally do around 10 damage to the boss daily. If some critical hits occur, this can be 13 or something. Yesterday I had to remove 2 or 3 to-do's, because they didn't apply anymore. They were red and orange, I think one had a checklist. Today, after logging in, I dealt 31 damage to Trapper Santa, which means these to-do's were treated as completed (although they do not show up in the Completed

[2014-01-18 11:23] elprohabro opened #2469 "Brutal smash doesn't work"
I tried it on To-dos, on Dailies and on Habits, and neither of them worked. Pls, help my to-dos become less red!

[2014-01-18 11:29] JennaMalkin commented on #2464
Thank you! Not sure what you mean by 'task threat', @SabreCat ?

As it is, currently, a high STR works against habit formation.  If the goal is not necessarily the Gold/Silver, but the bright blue colour itself, (because green/blue means 'I'm doing ok, HabitRPG is working'), strength works against habit formation.

For example, I use a habit to remind me to blog. Before the class system, I would s

[2014-01-18 13:39] brightbold commented on #2377
How do people feel about going ahead with the faded emoji under the current circumstances of completed and disabled looking the same, and then continuing the discussion about making those two different. I could play with some mockups but as mentioned previously, I can't implement that change by myself because I'd need someone else to add the class (not yet ready to get into Angular & Coffee Script

[2014-01-18 14:31] putrocca commented on #1057
My account is also having a problem wherein the daily tasks don't resert properly, but in my case it can't be custom day clock because I didn't use the custom day clock.

In my case, daily tasks that I checked off in the morning or midday reset successfully, but the ones I checked off in the evening remain grayed out.  By evening I mean around 6 to 10 PM, so nowhere near midnight.

This problem ha

[2014-01-18 15:01] deilann commented on #2381
I have a solution for this--

index.coffee line 553
`return cb?({code:401, message:"You already have that mount"}) if user.items.mounts[pet] and (userPets[pet] >= 50 or food.key is 'Saddle')`

should be:

`return cb?({code:401, message:"You already have that mount. Try feeding another pet."}) if user.items.mounts[pet])`

so that it disallows feeding of any pets that you have mounts of, even if it

[2014-01-18 15:52] SabreCat commented on #2464
"Threat" is just another way of saying "redness," sorry. How dangerous the task is. I think I internalized it as a word for that, but I don't know that it ever caught on official-like. xD

[2014-01-18 15:57] SabreCat opened #2470 "Invalid spell targets shouldn't provide green highlight"
At the moment, when you're casting a spell, most areas of the page light up with a green border when you mouse over them, regardless of the spell you're casting. It's not until you try to e.g. cast Pickpocket on one of your fellow party members that you get the "invalid target" error.

A green box highlight is a pretty clear "yes, go for it!" cue, so we should change this. Possibilities (in all ca

[2014-01-18 16:05] deilann commented on #2470
Be careful with the color grey you choose, if that's how you go. Some greys may be the same as some of the blues.

Frex: http://s.wsj.net/public/resources/images/OB-VG023_health_DV_20121105173546.jpg (at least, I think that's the right one. it's hard to pull them off google images because there are also blank ones)

[2014-01-18 16:33] lorian commented on #2377
It seems reasonable enough. In all honestly, the non-faded emoji, no matter
how convenient it is, does look like a UI mistake.

Would it be possible/a good idea to just make completed/disabled tasks
slightly less faded, so they were easier to read?

On Sat, Jan 18, 2014 at 5:39 AM, Kelley Curry notifications@github.comwrote:

[2014-01-18 16:40] lorian opened #2471 "Wrong report of item lost on death; two items lost on death"
When I died, I was told I lost my leather armor; however, what was actually missing (and what I could buy again) was the off-hand short sword, AND the hook sword. Which might be a consequence of the fact that I am a rogue, and leather armor would be a warrior item (in which case, good job making sure I don't have to class change to get my gear back! I would have been very unhappy about that).

[2014-01-18 16:49] Sprachprofi opened #2472 "Make Help available"
Right now it's a real pain to find the Tutorial and FAQ pages. Even after having found them before, I still manage to err in the navigation. I don't see how new users can find these pages at all.

Suggestion: Add a <?> button to the top right, at least for users < 10 levels. Alternatively add "Help" in the user dropdown after "Settings" and before "sync".

[2014-01-18 17:25] Twinkly opened #2473 "Experience bar didn't update when I leveled up with a To-Do checklist"
Experience bar didn't update (return to zero) when I leveled up with a To-Do checklist: I got the level, but experience bar remains in 220/250 (I was at level 8, and I'm not sure if the max 250 is for level 8 or 9.) I guess this is because I leveled up with a huge To-Do with 18-part checklist. I basically skipped a level :D

[2014-01-18 18:34] colegleason commented on #2473
The max seems to be 250 for level 9, so maybe it is possible you basically
skipped a whole level?

On Sat, Jan 18, 2014 at 11:25 AM, Twinkly notifications@github.com wrote:

##

Cole Gleason
Student, University of Illinois at Urbana-Champaign
Computer Science, Class of 2015
cg@colegleason.com | colegleason.com

[2014-01-18 18:47] colegleason commented on #2381
That looks correct. How can I help you test it?

On Sat, Jan 18, 2014 at 9:01 AM, deilann notifications@github.com wrote:

##

Cole Gleason
Student, University of Illinois at Urbana-Champaign
Computer Science, Class of 2015
cg@colegleason.com | colegleason.com

[2014-01-18 18:49] colegleason commented on #1057
HabitRPG should update your time zone when it reloads the page, but there
may be a bug when you actually move timezones since you are technically
going "backwards/forwards" and I'm not sure we account for that.

Cron: 2348957130841029 HabitRPG: 0

On Sat, Jan 18, 2014 at 8:32 AM, putrocca notifications@github.com wrote:

##

## Cole Gleason

Student, University of Illinois at Urbana-Champaign
Emai

[2014-01-18 19:06] TheInventrix commented on #942
Thanks extrajordanary!

Et voila, a complete set of sabertooth mounts.

![sabertooth mount lineup](https://f.cloud.github.com/assets/6414963/1947937/a314331a-8072-11e3-992a-e9e5b60c7ad0.png)

And while I'm here, I finished a set of hedgehog pets too.

![hedgehog pet lineup](https://f.cloud.github.com/assets/6414963/1947942/ff363c92-8072-11e3-8fd5-b5e533c8c896.png)

[2014-01-18 20:00] brightbold commented on #1628
Turns out this isn't solely browser dependent. In my fairly vanilla local install, she's perfect in Firefox. But on the live site, using an active character, the inline style on `#undefined-sticky-wrapper` is set to `height:138px` instead of `height:148px` as it is on my local, so Bailey's out of position.

I don't know what sets the height of that wrapper div (or why), but we don't necessarily ne

[2014-01-18 20:12] djuretic commented on #2207
I guess this should be closed, Markdown works there.

[2014-01-18 20:16] putrocca commented on #1057
I haven't actually moved timezones at all, I'm still in the timezone in which I created my account.  I have tried logging out and back in a few times, nad waiting a few hours to see if things refreshed in the afternoon, but they didn't.

[2014-01-18 20:21] lefnire commented on #2207
truth

[2014-01-18 20:21] #2207 closed, assigned to nobody

[2014-01-18 21:01] KnittyGritty commented on #2416
oh, thanks, found it...

 

here we go: 

 

9abb0c9f-1eaa-4cec-84c1-5676c6d7f97b

Gesendet: Samstag, 18. Januar 2014 um 06:58 UhrVon: "Tyler Renelle" notifications@github.comAn: HabitRPG/habitrpg habitrpg@noreply.github.comCc: KnittyGritty e.boernard@web.deBetreff: Re: [habitrpg] "Donation" not registering... (#2416)

String of characters under User Id at https://habitrpg.com/#/options/settings/a

[2014-01-18 21:10] lemoness commented on #2446
Thanks Cole!!

On Fri, Jan 17, 2014 at 10:06 PM, Tyler Renelle notifications@github.comwrote:

[2014-01-18 21:16] snagerdra commented on #2456
it happened again this morning, but only for to-dos, rewards, habits and dailies that i added, yesterday. i'm also now getting that thing where the dailies you clicked off yesterday are staying greyed out. might have happened because I messed around with the weird 'this many hours a day' setting, not understanding what it was. I guess it lets you pretend you live on mars.

[2014-01-18 21:47] Streakiest commented on #945
Hi there! I really wanted to contribute to Habit, so I made a boss. It's an Oni, japanese orge demon things. Please let me know if you have any suggestions.
![oni-1](https://f.cloud.github.com/assets/4136052/1948304/37b7b8a0-8089-11e3-8fc1-90942dab6e8b.png)

(Also, how do I give permission to let HabitRPG use this if they wish?)

[2014-01-18 22:31] SabreCat opened #2474 "Duplicate Challenges, then unremovable To-Dos"
I popped in to the Bailey Appreciation Guild, and determined in my expert judgment that they were not appreciating Bailey sufficiently. So I made some Challenges!

They went through OK, but one of them the Markdown didn't look right (#2475), so I went in and did a quick Edit. When I returned to the Guild, I discovered there were two copies of that Challenge active!

So I deleted one. Everything lo

[2014-01-18 22:32] SabreCat commented on #2474
Oh wait--this might be a variation on #2456? Not sure.

[2014-01-18 22:36] colegleason commented on #2456
Perhaps we should enforce unique task _ids per user. I imagine there is some case where it gets added twice somehow.

[2014-01-18 22:43] SabreCat opened #2475 "Link Markdown in Challenges doesn't display parenthetical text"
If I do a []() Markdown in the description of a Challenge, a link is created, but it displays the bare URL, not the text I placed in parentheses.

If I remove the parentheses, the link isn't created at all; it stays plain text. Once I add the parentheses, even with nothing between them, the link text turns blue and becomes clickable.

[2014-01-18 22:47] SabreCat commented on #1628
@brightbold: I vote you go for it. Take an end-user spin through the site with the change active, see if anything looks out of place. Maybe do a search through the pages to see where else that style is used, pay particular attention there. There will be additional eyes on it when you submit the pull request, after all (@lefnire does always say "be bold", and it's even in your username!).

[2014-01-18 22:48] colegleason commented on #1628
Move fast and break things!
On Jan 18, 2014 4:47 PM, "Sabe Jones" notifications@github.com wrote:

[2014-01-18 22:58] wes1 opened #2477 "Add mana potions!"
Just ran out of mana and would like to have more! can we make mana potions?

[2014-01-18 23:14] agnesnutter commented on #946
I’ve noticed that many items (I think every food item, quest scrolls, the saddle, and the fortify potion) have a problem where the “pixels” are between 1 and 3 actual pixels win width, and vary _within_ the sprite, leaving sub-“pixel” art. Is this a problem that needs addressing? It makes it look inconsistent.

[2014-01-18 23:19] SabreCat commented on #946
@agnesnutter: I'd agree that's a problem. I thought we had all the food and saddle repixelated at some point, but I never saw that artwork get deployed...

[2014-01-18 23:21] agnesnutter commented on #946
(If you’re not clear what I mean: this image http://cl.ly/image/2Y153u2d0K0H/Image%202014-01-18%20at%206.20.21%20PM.png shows how they look on the Inventory page.)

[2014-01-18 23:35] baconsaur commented on #946
@agnesnutter I redid all of the food items and the saddle shortly after they were introduced, but they haven't been replaced yet. The new versions are in the pet/mount thread. So it's already been addressed, I'm just not sure when that update will happen!

[2014-01-18 23:55] deilann commented on #2381
If you have a moment, I'm having trouble compiling shared for my local setup.

[2014-01-18 23:56] djuretic commented on #2475
Can't reproduce it, what is the exact description you are putting into the challenge?

[2014-01-19 00:01] deilann commented on #2470
If you're looking for a colorblind-safe color, yellow is the best. Anyone who can see color at all can see yellow.

[2014-01-19 00:05] DanielTheBard commented on #942
@TheInventrix - Looks nice!

Announcement to everyone! We think there's no pixel art for some of the eggs! D: Might need egg art for the Treeling, Cow, and Sabertooth Tiger

[2014-01-19 00:06] MarsEnyalios commented on #945
@Streakiest That's awesome! One thing I'd suggest trying--a lot of the art work around here is outlined darkly--maybe try darkening up the outline.

[2014-01-19 00:42] fuzzytrees commented on #942
@DanielTheBard Treeling and cow already have eggs.

@TheInventrix @extrajordanary Still working on the cow mount, and when I'm done I'll recolor it.

[2014-01-19 00:56] TheInventrix commented on #942
Well that was an interesting comment glitch. Hrmph. As I originally said:

@fuzzytrees It's all yours, then! :D

@DanielTheBard I'll take the sabertooth tiger egg. I've seen some hatching animations floating around; do you need that done for it too?

[2014-01-19 01:16] lefnire commented on #942
Nay to animations, alas. Another day

On Saturday, January 18, 2014, TheInventrix notifications@github.com
wrote:

[2014-01-19 01:20] 101Leafy commented on #942
So I finished the Marshmallow Slime mount, but I'm not sure how to export it at 3x zoom. Could someone please help me?

[2014-01-19 01:23] TheInventrix commented on #942
@101Leafy It depends on what you're using, but it should be something along the lines of "Scale Image", choosing 300% and turning off interpolation (if it's a program that does interpolation).

[2014-01-19 01:25] 101Leafy commented on #942
Thanks, that worked! Here is the Marshmallow Slime mount:
![marshslime](https://f.cloud.github.com/assets/6332664/1948716/9f3a3da8-80a8-11e3-95c6-4f4fc89dadaf.png)

[2014-01-19 01:30] 101Leafy commented on #942
And here it is with a player from the classes topic on it:
![marshslimemockup](https://f.cloud.github.com/assets/6332664/1948728/2fae1eb8-80a9-11e3-88b3-a5720d2f7590.png)

[2014-01-19 01:51] TheInventrix commented on #942
How's this for a sabertooth egg?

![sabertooth egg](https://f.cloud.github.com/assets/6414963/1948748/2c2fa326-80ac-11e3-94f9-1d4cc5c5e88c.png)

[2014-01-19 01:57] wc8 commented on #2477
You'll get more the next day, and for every to-do you complete.

[2014-01-19 02:02] wc8 commented on #2466
I can't answer the question, but I can tell you this: if you add Tavern to your browser bookmark bar, I think it does refresh when you access the page that way.

[2014-01-19 02:03] deilann commented on #2466
Yes. If you open a new tab or do a force refresh or do anything but
navigate to the tavern tab through a funnel, it'll refresh. I'm just not
sure what triggers a Guild refresh upon opening the tab and why it's not
implemented for the Tavern, if there's a reason.

On Sat, Jan 18, 2014 at 6:02 PM, wc8 notifications@github.com wrote:

[2014-01-19 02:17] brightbold commented on #1628
Cool. That's how I like to roll. But I'm new here so I didn't want to take the wrong tactic.

[2014-01-19 02:38] Streakiest commented on #945
![char](https://f.cloud.github.com/assets/6171467/1790779/8bc68b12-6980-11e3-9809-de14698bdbce.PNG)![oni-1](https://f.cloud.github.com/assets/4136052/1948794/47d7391c-80b2-11e3-9da4-ed38f12368c6.png)![oni-small](https://f.cloud.github.com/assets/4136052/1948796/5011845c-80b2-11e3-80d2-5fc167b8e9c5.png)

That's made it look much nicer, I think! Thanks. (Edit: Put a character next to the boss)

[2014-01-19 02:47] MarsEnyalios commented on #945
Very nice! (And you betcha) :) Oh, and I like the added curve to the left side of the hair.

[2014-01-19 03:01] marcelosizer commented on #2399
@paglias I was looking on how to replace the strings on `.coffee` files and found another project already doing that:

[Locale folder](https://github.com/codecombat/codecombat/tree/master/app/locale)
[Issue on moving strings to the database](https://github.com/codecombat/codecombat/issues/22)
[Comment on issues when english strings are updated](https://github.com/codecombat/codecombat/issues/65#is

[2014-01-19 03:10] brightbold commented on #1628
Hmm. Getting a horizontal scrollbar in IE9. So I'll have to look at that more later. (Unless we're not supporting 9. I was kind of assuming 9+.)

[2014-01-19 03:54] MarsEnyalios commented on #945
@Streakiest -- I think you email Lemoness for the permissions form

[2014-01-19 04:39] SabreCat commented on #1628
Not sure how much we care about IE, period, but 9+ is as reasonable as it gets for IE, I guess.

[2014-01-19 04:46] SabreCat commented on #2477
Mana potions purchasable with Gems could be a thing, but they'd have to be hella expensive if they were Gold-purchasable. Otherwise you could infinite loop Pickpocket for as much Gold as you'll ever need :P

[2014-01-19 04:46] SabreCat commented on #2470
Maybe a yellow-black striping, like a no-parking zone? xD

[2014-01-19 04:51] deilann commented on #2470
That's a good idea!

On Sat, Jan 18, 2014 at 8:47 PM, Sabe Jones notifications@github.comwrote:

[2014-01-19 04:54] Streakiest commented on #945
Oh, okay, I should have read the topic instead of just looking at the nice pictures. xP
E-mail sent.

[2014-01-19 05:19] MarsEnyalios commented on #945
@Streakiest Oh, I only just noticed her email an hour or two ago XD

[2014-01-19 05:22] Alys opened #2478 "old Completed To-Dos are archived immediately (not after 3 days)"
When you view your completed todos, it says: "Completed To-Dos are automatically archived after 3 days." I take this to mean "3 days after you completed them" (which gives the player plenty of time to untick accidental completions and to analyse their done actions).

However, how it actually works seems to be that a completed todo will be archived immediately if the todo is more than 3 days old (i

[2014-01-19 05:25] colegleason commented on #2478
Yeah, it looks like you are right. We'll need to add a completion date.

On Sat, Jan 18, 2014 at 11:22 PM, Alice Harris notifications@github.comwrote:

##

Cole Gleason
Student, University of Illinois at Urbana-Champaign
Computer Science, Class of 2015
cg@colegleason.com | colegleason.com

[2014-01-19 05:26] colegleason commented on #2478
I feel like I remember looking at this code and thinking "Man, this feels wrong." but I was so tired it didn't even register.

[2014-01-19 05:33] MarsEnyalios commented on #942
@101Leafy -- What if the players rode _in_ the slimes? Just a thought XD

[2014-01-19 05:42] extrajordanary commented on #942
@101Leafy Yeah, similar to @Rowan-Law , the player might _need_ to ride in the slime depending on how flexible to the coding is that layers the players and mounts together. So if you overlay a pic of a player on a current mount, I would think it's safe to assume that's where the placement needs to be. But I also know @fuzzytrees was experimenting with a unique mount style for the Treeling mount (h

[2014-01-19 06:22] agnesnutter commented on #946
@baconsaur Ah, okay, great!

[2014-01-19 07:01] colegleason commented on #942
@101Leafy Your art is fantastic, but could somebody explain to me what a Marshmallow Slime is? Is that like when you put a marshmallow in the microwave and then decide to put a saddle on it and ride it around town? :wink:

[2014-01-19 07:35] deilann opened #2479 "Suggestion: Alter Drop Chances"
Now that Cole's fixed the drop issue, I've noticed something-- the amount of food you get isn't logical for how the system works.

It takes 1 hatching potion and 1 egg to make a pet, but 9 (correctly chosen) foods to evolve a pet. While food drops slightly more than eggs or potions, it's not weighted in a way that over time, won't leave a user with far more eggs and hatching potions than necessary

[2014-01-19 08:28] Jotempe commented on #2479
The problem if you rebalance it is, that beginner players will be getting pets much more slowly, but stockpiling useless (for them) food.

[2014-01-19 08:34] deilann commented on #2479
Yeah, I thought about that. There could be some ways to get around that (altering algorithm based on level or number of pets), but I feel like the algorithm should be the same for all users. I'm thinking rather than 30/30/40 cutting it back to 20/20/60 would show a lot of results in the long run, but have a smaller impact in the short run?

[2014-01-19 08:34] Jotempe opened #2480 "Gaining points by spell casting does not cause to level"
I have cast "Bust of Flames" of a task and got extra 50XP - this however did not result in leveling, the XP counter was showing 1043/1000. Only after cron rolled to the next day, level-up occured.

[2014-01-19 08:48] deilann commented on #2231
This has been fixed.

[2014-01-19 12:03] Popitop commented on #943
I'm back, and I brought a Goblin-related submission for Goblin Week! (http://goblinweek.tumblr.com/) I made a little Habit Goblin, and all of his gears. The gears here are at 40x40, which is what I found on the wiki, but I'm assuming you also need a 90x90 version?
![habit goblin resized](https://f.cloud.github.com/assets/6414375/1949398/9827c1bc-8101-11e3-9c27-3077bb92c25c.png)
![goblin cap](https

[2014-01-19 12:30] eineg commented on #2247
@SabreCat

Hi SabreCat,

for your information: It worked 2 times in the meantime when i got int points, but the last 2 levels i unfortunately again got automatically strength points (although i alomost exclusively did mental tasks).

I wonder if you can tell me when the automatically distribution of the attribute points will work, so i am gonna change the choices to manually distribution until the

[2014-01-19 12:58] paglias commented on #2399
@Sinza- thanks, the main problem with the first link's approach is that since habitrpg-shared is used also on the browser we would have to add all the languages to the compiled javascript file making it very heavy or creating an habitrpg-shared version for every single language

[2014-01-19 13:18] Rev-C commented on #943
Hi! I'm new around here, I love doing pixel art though and I'm wondering what are the limitations?

[2014-01-19 13:59] SabreCat commented on #2247
@eineg Gems added. I'll try to look into the problem today.

My hunch at the moment is that maybe it's scoring Reward purchases as Strength training, which is an issue that crops up now and again (@lefnire was too clever by half, using "task value" to mean both the price of a Reward and the "redness" of actual tasks).

[2014-01-19 14:04] #2231 closed, assigned to nobody

[2014-01-19 14:05] putrocca commented on #1057
Acting on the theory that the problem could be being caused by Facebook giving HabitRPG the wrong timezone data, I tried reconstructing my account using a username and password login instead of a facebook login, to see if that made things reset normally.  The first night, at least, it was a success, so it seems Facebook interface might have been the problem.  I will report back here if, on future

[2014-01-19 14:07] SabreCat commented on #2470
I'm not sophisticated enough in CSS yet to know how I'd do that, unfortunately. I could research... or maybe a style guru like @brightbold or @nafoster could venture a suggestion?

[2014-01-19 14:10] deilann commented on #2470
I know I saw someone in the Tavern struggling with local install who stated
they wanted to do CSS stylesheets... maybe they'd like to take a crack at
this.

On Sun, Jan 19, 2014 at 6:07 AM, Sabe Jones notifications@github.comwrote:

[2014-01-19 14:23] SabreCat commented on #2470
I _think_ that was @brightbold, but I might be thinking of a different Tavern conversation than you.

[2014-01-19 14:24] deilann commented on #2470
No, it was another user. They just posted in the dev guild 13 hours ago,
asking for help getting MongoDB running.

On Sun, Jan 19, 2014 at 6:23 AM, Sabe Jones notifications@github.comwrote:

[2014-01-19 14:26] SabreCat commented on #2470
Ah, excellent.

[2014-01-19 14:42] brightbold commented on #2470
The guy Ryan is thinking of is Griffin Wiebel. He posted in the developers guild asking for help with Grunt and MongoDB. I don't think I'm likely to be able to help him but I responded just so someone would have. If @SabreCat or @colegleason or someone who actually knows what they're doing could help him out, maybe we could get another  CSSer on board.

[2014-01-19 15:08] SabreCat commented on #2470
Cool. I'll drop by there later, see if I can lend a hand.

[2014-01-19 15:13] SabreCat opened #2483 "Checklists make To-Dos get red faster"
The more checklist items present on a To-Do, the faster it gets red when cron runs. I just ran a test on local advancing a single day on a task with no checklist, a task with a 3-item checklist, and a task with a 15-item checklist:

![screenclip](https://f.cloud.github.com/assets/4501321/1949711/fe959b26-811b-11e3-8d4a-86bea6f9bd9c.png)

This behavior does not appear to occur with Dailies' checkli

[2014-01-19 15:43] SabreCat commented on #2247
@eineg: I found the problem. What's happening is that when your To-Dos get redder, they "de-train" the associated attributes. So if you have lots of Mental, Social, and Other To-Dos in your list, and don't check them off, they'll tend to drag those attributes down and cause Strength to pull ahead by default.

I've written a fix, so that now only missed Dailies de-train attributes. Should be deploy

[2014-01-19 15:51] SabreCat commented on #2475
I am a dumb. I had the [] and the () backward, putting the intended visible text in the parentheses and the link in the brackets. XD Closing!

[2014-01-19 15:51] #2475 closed, assigned to nobody

[2014-01-19 15:58] SabreCat commented on #2474
Duplicate challenges probably resulted from all that site slowness. I still have a weird To-Do I can't get rid of, though.

[2014-01-19 16:05] SabreCat commented on #2470
Ah, looks like you already directed him to Aspiring Legends. I'll give it a bit and see if he drops in there, I don't normally check the Developers Guild.

[2014-01-19 16:55] SabreCat commented on #1528
This appears to happen whenever an incidental update forces a sync. For instance, the most common situation I see it with right now is when a party member checks in, triggering boss damage to me.

[2014-01-19 17:06] SabreCat opened #2484 "Have checklists give multiple drop chances, not one big drop chance"
In most respects, checklists act as multipliers on their master task. They're collections of subtasks that get scored together. And in most respects this makes sense--you don't want a bunch of separate Gold, XP, and Mana notifications, you want them all totaled up and nabbed together.

But drops, now, that's a different story. At the moment we put together all those multipliers, making a big check

[2014-01-19 17:17] SecretCheri opened #2485 "Logging in after a month"
I'm trying to log back in after about a month of vacation but it's ot letting me at all. When trying to recover my password as well it is saying it can't find a user under that email.

[2014-01-19 17:56] eineg commented on #2247
@SabreCat

AH OKAY, that sounds reasonable! I really have a lot of red mental to dos!

Nice to know that red daylies also influence the stats! Good idea!

Thank you for the gems, for the fix and the great game!

[2014-01-19 18:05] colegleason commented on #2475
I thought that might be the issue but for some reason I thought both ways
were valid in Markdown.
On Jan 19, 2014 9:51 AM, "Sabe Jones" notifications@github.com wrote:

[2014-01-19 19:05] ghost commented on #946
Hi, I have a welcome sign for the wiki! From here: https://trello.com/c/0srkx2YZ/392-wiki-front-page-pixel-art
![wiki welcome sign](https://f.cloud.github.com/assets/6444791/1950238/643dc672-813c-11e3-994d-9a4b93b01ab5.png)
Any advice on how to improve it would be great! also I'm not sure how to submit it at 300x zoom I'm afraid D:

[2014-01-19 19:08] PaulRosenfield opened #2487 "Leveled up when I shouldn't have after HUGE xp gain"
I was a level 46 mage with intelligence of 115 at 117xp out of 1130 needed to reach level 47. I completed a crazy huge Todo with 11 checklist items, set to hard difficulty, which had been sitting on my Todo list for months. That gave me 571 experience, bringing my new total to 688.  Strangely, however, this caused me to level up. I have reloaded my page several times to make sure the problem is wi

[2014-01-19 19:09] #2487 closed, assigned to nobody

[2014-01-19 19:12] colegleason commented on #2487
I imagine it may have actually awarded you 1584 exp and the notification
was wrong since it doesn't take leveling into account.
On Jan 19, 2014 1:09 PM, "PaulRosenfield" notifications@github.com wrote:

[2014-01-19 19:21] PaulSainsbury commented on #2472
I'll try add this (first time contributor)

[2014-01-19 19:33] Lukrecja commented on #943
Hello everyone,
I heard You're making RPG game...
![skyrimlike](https://f.cloud.github.com/assets/6423516/1950283/993feb7c-813f-11e3-858d-9f7834bd6f90.png)

Also have few sketches of elemental armors, but I'm still working on them.

[2014-01-19 20:22] lorian commented on #2180
This was fixed until a couple days ago, but it's back to the seemingly-random reordering now (as seen in #1616 ) :( I try to keep my completed to-dos clear, but I have a bunch that are from challenges and thus can't be cleared. This is really unfortunate, as had gotten used to the working ordering, and was relying on it for my daily task planning. (Note that, unlike 1616, it's definitely not reord

[2014-01-19 21:31] MarsEnyalios commented on #942
@colegleason -- Yes. Yes, that's exactly it.

[2014-01-19 22:01] colegleason commented on #2301
VersionError only has to do with array updates!

http://aaronheckmann.blogspot.com/2012/06/mongoose-v3-part-1-versioning.html?m=1

I'm going to argue we should move away from arrays and just have a position field on subdocuments. Position is generally only used for display anyway, right? May also fix duplication issues with tasks, etc.

[2014-01-19 22:07] ArlieS opened #2489 "Chat needs "ignore" feature"
First, I apologize for not putting this in Trello. I am unfamiliar with that tool and cannot find a way to add an item - or to search existing items.

Tavern chat currently includes a talkative individual with frequent name changes, whose "humorous" repartee doesn't work for me. I'd very much appreciate a way to avoid reading anything he posts; otherwise I'll probably just stop visiting the tavern

[2014-01-19 22:10] colegleason commented on #2301
http://tgriff3.com/post/44230656391/versioning-in-mongoose

[2014-01-19 22:11] colegleason commented on #2301
I wonder if the majority of these errors are people moving habits around in their lists. It would be wonderful if we could narrow down these errors to a specific operation.

[2014-01-19 22:38] lefnire commented on #2301
Tasks used to be an object rather than multiple arrays, we experienced quite a lot of issues with that and migrated _away_ from objects to arrays to solve. I'm wary of moving back unless we're sure we're not going to hit those issues again, I can't remember what they were but there are some tickets floating around with the convos, I'm seeing https://github.com/HabitRPG/habitrpg/issues/634 & https:

[2014-01-19 23:06] wes1 commented on #2477
hey i want to make a pixel art on gimp do you know how to make a pixel art?

[2014-01-19 23:16] #2327 closed, assigned to SabreCat

[2014-01-19 23:18] #2247 closed, assigned to SabreCat

[2014-01-19 23:40] #2472 closed, assigned to nobody

[2014-01-20 00:33] lefnire commented on #2485
See http://habitrpg.wikia.com/wiki/FAQ#Username_and_email_not_recognized

[2014-01-20 00:36] Streakiest commented on #2464
Perhaps STR could have more of an effect on red tasks than yellow and blue ones? If you had a maximum red for example, then you completed that task, you should instantly see a colour change, but completing a yellow one wouldn't have as large as an effect. That would make warriors better at recovering, making them a more 'hardy' class. Coming back from the brink is totally a warrior thing to do!

I

[2014-01-20 00:39] lefnire commented on #2470
I vote:

Then we don't have to futz with css

[2014-01-20 00:45] marcelosizer commented on #2399
@paglias @lefnire is the `new-stuff.jade` file created dynamically? How should the strings be replaced? And how is it supposed to be translated?

[2014-01-20 01:12] #2478 closed, assigned to nobody

[2014-01-20 01:36] Arcosine commented on #945
Hello, all, is there any need for some centaurs?

![centaurspearlarge](https://f.cloud.github.com/assets/6445822/1951172/bdb9e138-8171-11e3-8c13-9dade7a11cb8.png) ![centaurbowlarge](https://f.cloud.github.com/assets/6445822/1951170/bd632aa0-8171-11e3-8fd0-77d65359b3b5.png)
![centaurs](https://f.cloud.github.com/assets/6445822/1951171/bd7f33c6-8171-11e3-8770-7acced731c76.png)

I tried to make them

[2014-01-20 01:50] lefnire commented on #2399
it's not created dynamically. Hmm, it might be a tough one to translate since we push them out every week or so, it's almost like a blog. should we skip it?

[2014-01-20 02:08] MarsEnyalios commented on #945
@Arcosine -- read up a few posts for your question

[2014-01-20 02:14] Arcosine commented on #945
Oh, whoops, missed that comment. Thanks!

[2014-01-20 02:25] MarsEnyalios commented on #945
Anytime

[2014-01-20 03:00] colegleason commented on #2301
Possible fixes:
1. Catch all `VersionErrors` and retry the operation a few times.
2. Place a lock (in DB) on every array. A process has to acquire and release the lock properly. Failure to acquire the lock results in a HTTP 409 error.
3. Use `update` instead of `save` when working on arrays.
4. Remove arrays in favor of objects.
5. Find locations in the code where we are updating positionally but

[2014-01-20 03:08] colegleason opened #2490 "Long profile names in chat cause scrollbar"
![screen shot 2014-01-19 at 9 07 04 pm](https://f.cloud.github.com/assets/232327/1951466/1911265a-8180-11e3-9f6f-f7ee8cbb2927.png)

I think we should either make them wrap inside the box or just set a length limit.
## <bountysource-plugin>

Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/1385987-long-profile-names-in-chat-cause-scrollbar?utm_campaign=plugin&ut

[2014-01-20 03:12] lefnire commented on #2490
gosh, that guy....

[2014-01-20 04:38] deilann commented on #2490
I've been thinking for a while that setting a character limit would be good, even for ones that don't cause a scrollbar. When going through the names that come up after typing @, the longer names seem to cause a bit of lag and are just awkward.

[2014-01-20 04:39] #2483 closed, assigned to SabreCat

[2014-01-20 04:39] #2405 closed, assigned to SabreCat

[2014-01-20 04:49] deilann commented on #2489
I agree. At the very least, being able to filter out someone's posts would be appreciated. (Especially if you could do what some systems do with downvoted comments-- show them if you click a link to expand them, but by default hide them). That way, if context got terrible without what was being said, it would be possible to go back and see what happened.

$user1 chatchatchat
$user2 chatchatchat
(3

[2014-01-20 05:22] mczuchnowski commented on #2468
Again, I removed some to-do's (and really completed only one) and dealt 39 (!!!) damage to Santa today, where my dailies normally deal ~10 damage.

[2014-01-20 06:05] deilann commented on #2468
Cannot reproduce. On a test user, I activated Trapper Santa. Deleted a variety of red To-Dos, some with checklists, some without. Did not deal any damage to Trapper Santa.

[2014-01-20 06:07] mczuchnowski commented on #2468
Hmmm...this would mean that I do some extra large damage with some of my dailies for some reason...

[2014-01-20 07:04] lunarius opened #2492 "Unable to Donate via PayPal"
Hello,

When using Chrome on a Mac, if I click on the PayPal button I'm taken to a blank page with "about:blank" in the URL bar.

When using Safari on a Mac, if I click on the PayPal button I'm taken to a blank page with "https://www.[object%20Object].paypal.com/cgi-bin/webscr" in the URL bar.

When using Firefox on a Mac, if I click on the PayPal button I'm taken nowhere; the click doesn't seem t

[2014-01-20 07:15] MarsEnyalios commented on #945
![marshy boss dark blue](https://f.cloud.github.com/assets/6422224/1952294/52139268-81a2-11e3-8c59-5b0add58b60c.png) ![marshy boss dark blue x3](https://f.cloud.github.com/assets/6422224/1952292/48e84760-81a2-11e3-9c26-b3ab7ddeae94.png)

Marshmallow Slime Boss? (Too non-slimy?)

[2014-01-20 07:52] colegleason commented on #2492
Also seeing this on my (production) account. data-env is being set to an object somehow. Relevant line: https://github.com/HabitRPG/habitrpg/blob/003e21408020771e2a878060173596b050c0618d/views/shared/modals/buy-gems.jade#L33

[2014-01-20 08:21] colegleason commented on #2301
baed on emails in the past few days:

| URL | Count | Notes |
| --- | --- | --- |
| /api/v2/user/ | 6 | Empty body. |
| /api/v2/user/batch-update | 57 | Many of these have bodies that are arrays of 1-3 empty objects WTF? |
| /api/v1/user/tasks?type=daily | 1 |  |
| /api/v1/user | 4 | one of these had `?garbage={blah}` |

[2014-01-20 08:49] deilann commented on #2484
That would be fantastic. Although, I think drop chances need to be looked at in general. Buffed, I seem to have over 50% chance of a drop! A single well-formed checklist could cover all my drops for the day.

[2014-01-20 10:16] marcelosizer commented on #2399
I liked the idea of using the wikia to translate it but at the moment there is no wikia for other languages so it just wouldn't be translated.

[2014-01-20 13:29] Streakiest commented on #945
I like the design a lot! The way it's twisting up is very cool.

I think you should try using less shades of colour. You've used smooth gradients for your shading, which looks fine but doesn't really fit with the style. Try picking 7 or so colours from the white to blue to black, and then only using those.

Another tip for the outline, avoid having these kinds of sharp corners. (Highlighted in gre

[2014-01-20 14:23] deilann opened #2493 "inn not good for illness and other unexpected events"
The way the inn is set up now, it is very good for planned absences, like vacations. However, because dailies don't reset upon leaving, it is not good for illness. If I have a flareup, I may think everything is fine until halfway through my list. At that point, I have a choice: take the hit for the rest of the day so that upon returning, my dailies aren't half completed, cheat so that I can come b

[2014-01-20 16:32] MarsEnyalios commented on #945
I was worried about the smoothing, to be honest. I'll work on both the colours and the outline. Thanks! And yay, you like the design (I spent a whole two days just trying to figure that part out)!

[2014-01-20 16:37] makethatwork commented on #1057
I am having this problem as well - no custom day start, ticked off some of my dailies in the afternoon and some in the early evening (before 11PM), but all but my daily that doesn't trigger on Sundays are still ticked.  I was using the iOS mobile app, so I don't know if the bug is there or what.  Will try ticking off my one available daily today on the site instead and see if it resets properly.

[2014-01-20 16:44] hattieshoe commented on #2380
I noticed this too -- there's now another one, "Smile more," with no gems -- and I wondered how they're doing it, so I tried all kinds of things to create a challenge for the tavern with no gems (not selecting a prize amount, setting it to zero, setting it higher but changing it to zero, entering a negative number, selecting a guild and then changing it to the tavern, etc.) but couldn't get it to

[2014-01-20 16:52] putrocca commented on #1057
Once again my new not-Facebook-attached account reset successfully, while the Facebook-attached one did not.

[2014-01-20 17:02] andrez89 commented on #2493
I agree.
I injuried my ankle last week and since then I couldn't excercise, but also after completing the first time other dailies that I could perform, I could not check them (read, study, etc..).

[2014-01-20 17:11] PurpleKoalas commented on #943
Hi everyone! i'm also new around here, but would like to contribute to this wonderful web app and if someone could help me out and/or give me something to work on?

[2014-01-20 17:22] 101Leafy commented on #942
I have a problem, and I was wondering if you  could help me. You see, I'm an Original User, and I have the Veteran badge, but I don't have the Veteran Wolf. Why don't I have it?

[2014-01-20 17:23] mommunyon opened #2494 "Daily not reseting"
My daily goals do not resent.

[2014-01-20 18:59] octern commented on #2493
@andrez89 It sounds like changing the inn wouldn't solve your problem, since IIUC you want to be able to check off some dailies but be protected from others. For that case I think the only reasonable solution is to set the affected dailies to not recur (in the settings for that daily, unmark every day of the week) until you've recovered. For @deilann, I agree, checked dailies should clear at the e

[2014-01-20 19:16] wolvenhalo commented on #945
A tip to everyone when scaling up the images:

//Photoshop://
In the little window that pops up for you to do so [Image > Image Size] there should be a drop down box that defaults to [Bicubic (best for smooth gradients)]. You'll want to change this to [Nearest Neighbour (preserve hard edges)] to avoid blurring and keep the pixels clear.

//GIMP://
In the window that pops up [Image > Scale Image] y

[2014-01-20 20:54] Streakiest commented on #945
For Paint.NET, you go to Image > Scale, then set resampling to 'Nearest Neighbour'. Or if you're doing manual scaling, set Quality to 'Pixellated'. In other programs, just look for these kinds of words when you're doing the scaling.

Also, if you find that your program is making smooth lines when you draw, look for 'anti-aliasing' and turn that off. (That's usually what it's called, anyway)

[2014-01-20 21:43] ghost commented on #1057
I had the problem on an email only account, if someone could verify that it really was the case on my userid.

[2014-01-20 21:48] marcelosizer commented on #2399
That's the lvlxx under your avatar. Some languages with different alphabets will probably change that.

[2014-01-20 22:44] Urse commented on #945
![trex 2](https://f.cloud.github.com/assets/6455119/1959013/63e15e26-8224-11e3-94f7-eb53ac962756.gif)
![trex 2large](https://f.cloud.github.com/assets/6455119/1959014/63ec3d0a-8224-11e3-879f-c167c749eaca.gif)
You said you needed a T-Rex boss?

[2014-01-20 23:51] MarsEnyalios commented on #945
Alright, so I attempted the Marshy Boss again.
![marshy boss dark blue colour redo jagged](https://f.cloud.github.com/assets/6422224/1959407/377a5db6-822d-11e3-9ced-76f1100d24ce.png) ![marshy boss dark blue redo jagged x3](https://f.cloud.github.com/assets/6422224/1959406/30c20654-822d-11e3-8e16-b2911238e7b8.jpg)

I tried dithering to mix the colours, but I couldn't get it to work in a way that wa

[2014-01-21 00:21] JadelynnOpal opened #2496 "Reset does not remove attribute points OR lets them go negative"
I was a level 15 rogue and went to reset my account and for some reason it didn't completely reset. I still have the attribute points (and am classed as a Rogue) from when I was level 15 and I still have a Mana bar even though I don't have access to any spells/skills. I didn't find this on any known bugs list, either.
## <bountysource-plugin>

Want to back this issue? **[Post a bounty on it!](http

[2014-01-21 00:25] wolvenhalo commented on #945
I think here dithering wouldn't work as well because it gives a kind of
scaly, uneven texture while this is to be smooth, so I like it with this
style of shading personally :)

On 20 January 2014 23:51, Rowan-Law notifications@github.com wrote:

[2014-01-21 00:30] baconsaur commented on #945
I was already working on a t-rex boss. :( That does look nice though.

[2014-01-21 00:34] Urse commented on #945
Oh, Sorry. I scrolled through and looked for anyone working on one and then did it. It's kinda hard to do bosses when there's so many dedicated pixel artists already on the spot.

Btw I loved your work in pets..I read the entire thread before coming to bosses.

[2014-01-21 00:41] lefnire commented on #2168
I pushed a fix, but I need to write some more tests before I deploy this - want to make sure it's not affecting other things.

[2014-01-21 00:45] baconsaur commented on #945
Thanks!

I mentioned I was doing it before the giant influx of boss art happened in here, so it was easy to miss, I guess. :/ I do like like how yours came out, I was just really set on completing the t-rex line myself.

[2014-01-21 00:48] cleave29 opened #2497 "Dailies not reseting for night owls"
Hey I sometimes have days where my dailies don't reset and I've been having them more frequently lately.
I wonder if it's because some days I don't check in until after midnight even though my dailies reset is set at 4am.
I'm going to try checking in before midnight just to get them reset and see if that helps.

[2014-01-21 00:50] JadelynnOpal commented on #2496
I also have all pet and mount-related inventory items, though combat gear has been removed. And still have access to the equipment store as well.

[2014-01-21 00:58] extrajordanary commented on #945
@Rowan-Law I like the change in colors. I agree that dithering would probably not work well for. I do think though that it could use some sort of, I don't know, drippy gloopy parts? Because right now it doesn't feel like a slime, it just feels like more of a spikey water monster. And looking at it again, it looks pretty happy haha. I like the big grin, but what would it look like with slightly mor

[2014-01-21 01:07] Urse commented on #945
_sigh_ forgive my enthusiasm, yeah, there should be a better way of claiming artwork, I did check the trello card and there was no claim on the trex where there was for the other pets. Although, more choice is a good thing so maybe baconsaur can finish his, post it and whoever picks artwork can choose. I'm okay with that. It is my first piece of pixel art ever and I do plan on making more. It's ve

[2014-01-21 01:08] MarsEnyalios commented on #945
"_MANIACAL MARSHMALLOW SLIME GUFFAWS AS IT KILLS YOU!_ :D"

JORDAN I WOULD LAUGH SO HARD IF I GOT THAT MESSAGE AFTER BEING KILLED BY IT. I might die _just_ to get that message XD

Hmm. Do you think if I changed the colour scheme to something like purple-blue that it woulnd't look so watery? I'm not sure where I would put in actual slimy parts.

@Urse -- You do kinda have to poke around to find wha

[2014-01-21 01:14] Urse commented on #945
![trex 3](https://f.cloud.github.com/assets/6455119/1959836/497b9a46-8239-11e3-90bd-8ef5f73609e7.gif)
![trex 3large](https://f.cloud.github.com/assets/6455119/1959837/497ccbc8-8239-11e3-922d-933eba40ce1a.gif)
 Here you go, defined hand.

[2014-01-21 01:28] baconsaur commented on #945
Mine is a skeletal t-rex, so it's different enough they could potentially both be used. I don't have a Trello account and until recently there weren't that many artists around for these issues to come up, so I didn't think to sign up there and claim it. It probably would be best with so many people contributing now to have a more accurate system to determine who's doing what.

[2014-01-21 01:47] Urse commented on #945
Baconsaur, thats sounds awesome! You need to finish it and share! Two very different beasts indeed.

[2014-01-21 01:52] Streakiest commented on #945
Maybe if you added some marshmallow pink along with the blue you have. It'll look delici-uhm, I mean, really scary.

If you wanted to make look more slime-like, try adding shiny bits, a lighter patch in a darker shade area.
![image](https://f.cloud.github.com/assets/4136052/1959973/f23e972e-823d-11e3-81a3-ec6084949010.png)
But less randomly placed than I've done it. :P

[2014-01-21 01:56] MarsEnyalios commented on #945
Streakiest- I debated having it look deceptively friendly XD But sure, I'll try that!

[2014-01-21 02:09] SabreCat commented on #2484
A comprehensive drop overhaul is on my big projects list, which alas are very difficult to get done except during extended vacations :crying_cat_face:

[2014-01-21 03:43] ghost commented on #2492
Experiencing this same phenomenon on Chrome for Windows Vista.

[2014-01-21 03:44] lemoness commented on #943
RESPONSES!  Sorry, I’ve been really busy.

Popitop – Cool goblin! I’m a fan. Go ahead and send me an email at Leslie@HabitRPG.com for the permissions form so that we can make the goblin a boss for a battle! One issue – the armor image is broken. Can you try reuploading that one?

zoebeagle – I missed commenting on your hammer, but it is SUPER great!

Lukreja – Very nice! A little bit of feedback:

[2014-01-21 04:47] lemoness commented on #942
SO MANY RESPONSES!

nqatsi, TheInventrix – Yeah, right now things are sort of an organizational mess. I’m about to make a post about that.

TheInventrix – I love the hedgehog, but it is in fact a little big. Could you make it smaller? Try putting it next to a human to check the size. The revised Sabertooth mount looks good to me, and so does its egg! Shoot me an email at Leslie@HabitRPG.com and I

[2014-01-21 04:47] lemoness commented on #942
On a related note... we’ve been getting a lot of people feeling frustrated by the length of these Github threads. We’ve been tossing around a couple of ideas, and I wanted to run this one past you:

What if instead the art submission process was moved to Trello? I would make a variety of Trello cards for all the types of art (IE Quest Pets and Bosses, Equipment, Character Customization, etc!), and

[2014-01-21 04:48] lemoness commented on #943
Okay, I've made an important post about potentially changing our organizational structure HERE: https://github.com/HabitRPG/habitrpg/issues/942#issuecomment-32821242 You guys should check it out.

[2014-01-21 05:08] duckiegirl opened #2498 "To-do"
I can't add new To-Dos to my list! AHHHH!!

[2014-01-21 05:10] prophecynine opened #2499 "to-dos misfiring in app"
I have the android app and I recently tried to check off some to-dos.
It consistently misread my taps and checked off the wrong ones.
Not sure if the culprit was the app or my phone, but I suspect the app...

[2014-01-21 05:21] SabreCat commented on #942
@lemoness: Pixel art is an active enough topic that you could probably have an entire Trello board for it! That would let us have a different set of board members for the purpose, too.

[2014-01-21 06:19] TheInventrix commented on #942
@lemoness It sounds good to me!

[2014-01-21 06:21] lemoness commented on #942
@SabreCat BRILLIANT, a separate board would be perfect!

On Mon, Jan 20, 2014 at 10:19 PM, TheInventrix notifications@github.comwrote:

[2014-01-21 06:34] TheInventrix commented on #942
In the meantime, @lemoness how's the size on this hedgehog? It looks okay to me compared to my HabitRPG character

![hedgehog pet base](https://f.cloud.github.com/assets/6414963/1961083/cf59f140-8265-11e3-8ae3-5fc74c64ac56.png)

[2014-01-21 06:57] lemoness commented on #945
First things first: I made an important post about reorganizing all these threads in a much more coherent way: https://github.com/HabitRPG/habitrpg/issues/942#issuecomment-32821242 Please go give it a read and respond there!

Now, personal responses:

@Polymathema  – I think the Lamia is good! Go ahead and send me an email at Leslie@HabitRPG.com so I can get you the permissions form.

@JesperDrams

[2014-01-21 06:58] lemoness commented on #942
Looks great to me! Super cute.

On Mon, Jan 20, 2014 at 10:34 PM, TheInventrix notifications@github.comwrote:

[2014-01-21 07:43] ksoltys commented on #2378
Hi, I seem to be having the same problem. I was setting up a challenge for my party for the first time, and somehow managed to produce two copies of exactly the same challenge. Then I left and eventually deleted one of them, stupidly clicking "do not delete tasks". Now it seems I am stuck with them forever, because they don't have delete buttons. Also, it's confusing not only for me, having 4 dupl

[2014-01-21 07:54] deilann opened #2500 "Selecting Chat Names with Enter Sends Message"
On Windows 7, using Firefox or Chrome, I am able to view names via @ and then press enter to select one.

However, since switching to Ubuntu (lubuntu and gnome), I have found that (in Firefox and Chromium), pressing enter sends the message. (It also selects the name, so I the message "@$name".)

For the life of me, I can't figure out why this is.

[2014-01-21 08:56] kundragon opened #2501 "synced sudden death"
me and a party memeber both died this morning for no reason
i was just reaching lvl 6 yesterday and was in full health.

chrome v 32.0.1700.76 m
UID 8ce39acf-679b-4f88-b1c7-8e9f5b8ab55a

[2014-01-21 12:11] ibvee commented on #2501
Partner didn't die. But I did. Not so much red tasks, lvl 35, 45/50 health.

Damage with refreshing this morning was -55 Which was not normal at all for the amount of open tasks...

808aa439-96bf-4af1-9f4e-a74757d1e57f

firefox 26.0

[2014-01-21 13:51] FeatherF commented on #942
I'm kinda new to HabitRPG, so I hope it's okay if I just jump in here. ^-^;

How about a phoenix?

![phoenixegg](https://f.cloud.github.com/assets/6458891/1963667/8fa34f7a-82a0-11e3-8269-1d8c3fbd26c0.png)
![phoenix 1](https://f.cloud.github.com/assets/6458891/1963652/79818838-82a0-11e3-9813-62582b234233.png)
![phoenixmount 1](https://f.cloud.github.com/assets/6458891/1963680/d4eeda0e-82a0-11e3-953

[2014-01-21 14:04] deilann commented on #2501
Important question: Are y'all doing Trapper Santa?

[2014-01-21 14:09] nqatsi commented on #942
I think a new trello board exclusive for pixe lart would be perfect. And I also think that some design guidelines (like a colour pallet) would help us a lot.

[2014-01-21 14:19] ibvee commented on #2501
I did, but finished it already. However, this did happen to me once while
doing trapper Santa also.

On Tue, Jan 21, 2014 at 3:04 PM, deilann notifications@github.com wrote:

[2014-01-21 14:20] Urse commented on #942
Okay, so i've made a trello account. I've used my google address. The con about outside image hosting isn't really a con because if you have a google account, you can host images on picasa for free.

I like the proposed change because the trello format is much clearer to understand at a glance, looks like it's always being updated. And I don't want to accidentally step on any more toes or have any

[2014-01-21 14:40] zoebeagle commented on #942
I think moving to Trello would be a good idea.  These pixel art threads are becoming unwieldy (again, lol).

[2014-01-21 15:28] deilann opened #2502 "Suggestion: Disable Clicking Habits Whilst Editing"
More often than not, editing my habits goes something like this:

Maybe disable clicking on the (+) and (-) during editing?

[2014-01-21 15:33] alexhudici opened #2503 "Repeatedly clicking and unclicking dailies causes inconsistent xp allocation"
If the user clicks a daily and unclicks it once, the XP and other resources get allocated and unallocated correctly. However if you do this a few times on the same daily an extra amount of XP gets allocated.

Haven't looked @ the code but it is possible that the algorithm that allocates points based on streaks interprets the multiple 'completed' clicks as a streak even though you had unclicked it

[2014-01-21 16:21] Urse commented on #945
until the new system is in place...
Here: cthulhu has risen from the deep to be your friend
![cuthlhu2](https://f.cloud.github.com/assets/6455119/1965266/13d0def4-82b8-11e3-9c41-2d617067ce2a.gif)
![cuthlhu2large](https://f.cloud.github.com/assets/6455119/1965267/13d3579c-82b8-11e3-8485-47e034e64b9a.gif)

[2014-01-21 16:39] wolvenhalo commented on #945
Dang that looks cool @Urse :)

On 21 January 2014 16:21, Urse notifications@github.com wrote:

[2014-01-21 16:39] wolvenhalo commented on #942
I agree with above, trello sounds like a great idea.

PS. Treeling egg?
![treeling egg](https://f.cloud.github.com/assets/6326218/1965680/5495f8b6-82bd-11e3-96c6-ac7f859cfce0.png)
If someone's already put work into one feel free to ignore.

[2014-01-21 17:14] colegleason opened #2504 "Round Boss health up, not to nearest integer"
A user in Tavern reported that the boss said it was at 0 HP but the quest wasn't complete. I think this might be because he has like .2 HP but that rounds down on the display to 0 HP.

This is the offending line, just need to make sure that it isn't used elsewhere: https://github.com/HabitRPG/habitrpg-shared/blob/develop/script/index.coffee#L191

Maybe we can add a roundDirection arg.

[2014-01-21 17:18] MarsEnyalios commented on #942
@FeatherF -- At least one of the phoenixes has been done already . . . (But Hi, and welcome to the art threads! You kind of have to poke around to figure out what's still needed; I confess, I'm still a newbie too here, so I'm still not quite sure on what's needed)

![Phoenix](https://f.cloud.github.com/assets/3494081/498840/780b06e6-bc21-11e2-89c9-222ee4a4c9dd.gif)

[2014-01-21 17:57] zoebeagle commented on #2187
I accidentally just wasted a bunch of mana trying to "Close" the calendar.  Maybe it would beneficial (even without the display issue) to verify the user actually wants to cast a spell/use a skill?

[2014-01-21 18:05] MarsEnyalios commented on #945
@Lemoness -- Yeah, I'm getting lots of feedback! It's nice, especially since I haven't done a whole lot of pixel art :D

[2014-01-21 18:22] Urse commented on #942
![mount octopus1largeback](https://f.cloud.github.com/assets/6455119/1966460/dc6a77d4-82c8-11e3-886f-36b2334c30ad.gif)
![mount octopus1largefront](https://f.cloud.github.com/assets/6455119/1966461/dc6ba460-82c8-11e3-970b-46783e976ec4.gif)
![mount octopus1largewhole](https://f.cloud.github.com/assets/6455119/1966462/dc6dbc78-82c8-11e3-8f0a-5a6d59dc2d47.gif)
![pet octopuslarge](https://f.cloud.githu

[2014-01-21 18:28] ehungerford opened #2505 "To-Dos reappear after refreshing page"
Two to-do tasks have been reappearing in my list after being checked off when I refresh the HabitRPG page.

Using Google Chrome Version 32.0.1700.76 m. User ID e2806c97-2a70-48e0-a522-a5af185a4aac.

[2014-01-21 19:24] PaulSainsbury commented on #2466
I think I can fix this one.  I'll send a pull request shortly.

[2014-01-21 19:28] paglias commented on #2466
If I recall correctly guilds are not cached because they use a lot of memory so each time you open one it's fetched again from the server, while the tavern is cached.

[2014-01-21 19:31] PaulSainsbury commented on #2466
Yeah, that seems to be it.  I've basically made the controller for '/groups/tavern' update the cached copy before assigning it to the scope.  I'm kinda new to Angular, Node and Mongo so I'm not yet sure if I've broken some best practice or not though.

[2014-01-21 19:33] paglias commented on #2466
I think it's ok, you should just check one thing: when opening the tavern for the second, third... time can you check that the memory usage doesn't increase too much? Because last time we implemented an auto update for the tavern chat it had this problem, you can use the chrome task manager for that.

[2014-01-21 19:34] PaulSainsbury commented on #2466
Cool, I'll do that.  How well is the code covered by tests and how do I run them before I submit my pull request? (I'm running on Ubuntu)

[2014-01-21 19:37] Streakiest commented on #942
I think this'll work great, with the combination of the updated main post and newer posts appearing at the top, people can always tell what's happening. I'd update the wiki about this too, that's how I found the github threads.

As for image hosting, imgur has always been pretty good for me.

[2014-01-21 19:38] paglias commented on #2466
Actually when you "sync" the chat we have a 100mb surge in memory, for some reason the old chat object is not garbage collected correctly.

About tests, if you installed habitrpg (npm install) and its global dependencies (npm install -g grunt mocha bower) then you can run tests using `npm test`. Anyway I don't think this is covered by tests (they are [here](https://github.com/HabitRPG/habitrpg/tre

[2014-01-21 19:43] PaulSainsbury commented on #2466
Yeah, I have very little data in my chat and the sync was adding 2-3mb per sync. I'm trying to spot what could be referencing the "old" object still that might cause the browser to not garbage collect it... but likely that's going to mean I need a far better understanding of the Angular $scope usage. :(

[2014-01-21 19:46] lemoness commented on #945
@Urse - Awesome! I'm a big fan. If you haven't emailed me already, now's
the time :)

@Rowan-Law - Feedback on pixel art for HabitRPG has improved my art
IMMENSELY! It's a great community.

On Tue, Jan 21, 2014 at 10:05 AM, Rowan-Law notifications@github.comwrote:

[2014-01-21 19:48] brightbold commented on #2493
There are two Trello cards suggesting things that might work better: [House of Healers](https://trello.com/c/0KfFF92z/347-inn-full-gp-no-hp-loss-no-xp-gain-xp-gives-level-up-attributes) that would be designed to work better with illnesses - you could still check off any tasks you could complete, but maybe no XP gained or lost so you wouldn't die but nor would you want to stay there forever. And [T

[2014-01-21 19:52] lemoness commented on #945
Okay, the switch to Trello is officially going to happen! Heads-up, though
- I am traveling this week (representing HabitRPG at the UCSF Wellness
  Expo!) so I will be out of touch for a bit. In the meantime, put new art
  here; this weekend/next week I will be setting up the boards with
  guidelines and art transfer.

On Tue, Jan 21, 2014 at 11:46 AM, S Leslie leslie@habitrpg.com wrote:

[2014-01-21 19:56] lemoness commented on #942
Okay, the switch to Trello is officially going to happen! Heads-up, though
- I am traveling this week (representing HabitRPG at the UCSF Wellness
  Expo!) so I will be out of touch for a bit. In the meantime, put new art
  here; this weekend/next week I will be setting up the boards with
  guidelines and art transfer.

Urse - Cute octopuses! I'm not quite sure how the player will be riding
that mo

[2014-01-21 19:58] deilann commented on #2493
Yes. I am aware of this. I contribute heavily on Trello. You're missing my
point.

The Tavern doesn't reset dailies after you enter it. Let's say you had a
family emergency and had to suddenly ship across state for a day. You go
into the Tavern, but when you come out, all of the dailies you checked off
before having to ship across state remain checked.

In other words, the Tavern is only useful fo

[2014-01-21 20:01] brightbold commented on #2490
There's also a horizontal scrollbar (at least in Chrome/Mac) when the message fits perfectly on one line. I think it's the space for the +1 that causes it.
![tavern scrollbar](https://f.cloud.github.com/assets/405068/1967479/cb764360-82d5-11e3-866e-f527ec7fb4b7.png)
Maybe should that be a separate issue, if the solution is to cap name length. But we also might want to do `.tavern-chat li .scrollab

[2014-01-21 20:03] DanielTheBard commented on #945
@lemoness - I actually love that you're making a trello board for pixel art! It should be encouraged that pixel artists join the habitrpg board AND the pixel art board I think. Sometimes we'll be discussing ideas on the trello and not be able to share them with the pixel artists without throwing up a post here in the sea of posts and hoping for the best. I think this could be a great step towards

[2014-01-21 20:05] deilann commented on #2490
If raw URLs generated hyperlinks upon posting, rather than pasting as text,
that would negate the URL problem. I know people have been asking for that
anyway.

On Tue, Jan 21, 2014 at 12:01 PM, Kelley Curry notifications@github.comwrote:

[2014-01-21 20:12] brightbold commented on #2493
No I know you're very active on Trello - but there are a lot of cards so I didn't necessarily expect you to be familiar with every single one of them! Sorry if that came off as know-it-all - not how I meant it.

But when we had the original discussion in the Tavern that led to the Sanctuary idea, I was making all the exact same points you made here about why the Tavern doesn't work. (In my opinion

[2014-01-21 20:14] brightbold commented on #2490
+1. URLs converting to hyperlinks automatically would be awesome for more than just reducing scrollbars!

[2014-01-21 20:23] deilann commented on #2493
Nah, I probably don't know all of them, but as a person with severe chronic
illness, those are cards of extreme interest to me.

Sanctuary doesn't work as well for me because often times severe illness
means I lose the capability to be on the computer at all. I'm trying to fix
that by making my computer hands-free and create a setup where I don't have
to get out of bed, but until I've perfected th

[2014-01-21 20:25] deilann commented on #2490
wrt possibly blocking the trash can--

as the time stamp changes, the trash can would likely move and become
visible again

On Tue, Jan 21, 2014 at 12:14 PM, Kelley Curry notifications@github.comwrote:

[2014-01-21 20:40] brightbold commented on #2493
Personally I like your tavern reset-on-checkout solution better than the sanctuary idea for either an off-the-grid vacation or a debilitating illness. (Sanctuary is preferable if you're able to do some but not all tasks.) Although I don't understand why you couldn't use sanctuary in a situation where you're doing no tasks - I don't see the downside of it unless they implement it so that streaks ar

[2014-01-21 20:42] PaulSainsbury commented on #2466
Looks like this is going to be well over my head to resolve since I'm quite new to all this.  I'll leave it for someone more capable to figure out how to make the combination of tools release memory between refreshes.

[2014-01-21 20:46] lefnire commented on #2249
looks like something else is at play. I've written some tests to ensure this isn't happening, and sure enough non-questers are _not_ hurt by bosses (as intended). It could be that the non-questers are using a 3rd-party app. Chrome extension, mobile app, etc - and they're getting notifications of damage they've taken off-site

[2014-01-21 20:49] deilann commented on #2493
Not just streaks, but redness. In my vision of Sanctuary, tasks would still
change color-- it only makes sense. It's a great way to tell if you're
making progress, even if there's no XP gain. Freezing your account entirely
allows you to preserve it the way it was, letting you come back to the way
things were.

I definitely would like Sanctuary for mild illness or an on-the-grid
vacation (although

[2014-01-21 20:51] brightbold commented on #2493
Oh good point. I didn't think about redness.

[2014-01-21 20:53] Urse commented on #942
![mount octopus1largespritecheck](https://f.cloud.github.com/assets/6455119/1968126/cd30e158-82dd-11e3-913a-d63ffdfb2a64.gif)
I guess i need to move the octopus lower in the canvas?

[2014-01-21 20:54] lefnire commented on #2168
Happy to say this looks fixed :) let me know if anyone experiences it again

[2014-01-21 20:54] #2168 closed, assigned to nobody

[2014-01-21 20:59] deilann commented on #2493
Yup. Some of my hospital visits have lasted over a month. It's not uncommon
for them to last a week. Often, my assumption leaving to go to the hospital
is that it will be a quick ER visit, not in patient. Can you imagine coming
back after a month! Those would be some _red_ tasks.

On Tue, Jan 21, 2014 at 12:52 PM, Kelley Curry notifications@github.comwrote:

[2014-01-21 20:59] zoebeagle commented on #942
Maybe make the head of the octopus bigger to compensate?  I can't really
tell... On mobile
On Jan 21, 2014 3:53 PM, "Urse" notifications@github.com wrote:

[2014-01-21 21:04] Mintavious commented on #945
@lemoness You're right that the pigman is missing a pixel in the outline, it was intentional when I created it to make the arm feel rounder I guess?  If there's any trouble with that no problem closing it up!  Also the Beholder is definitely a DnD monster, and also part of the inspiration behind this dude, maybe something else like "Stony Gaze", or whatever you guys come up with is totally fine ha

[2014-01-21 21:04] deilann commented on #2493
logistics: possibly it would be necessary for the game to recognize if
you've had cron in the last 24 hours, so you can't sign in and out of the
inn repeatedly to spam dailies? If coming out of the inn doesn't trigger a
true cron, and instead just refreshes dailies, they wouldn't be able to
spam it for drops, but they could really mess with challenges this way.

On Tue, Jan 21, 2014 at 12:59 PM, R

[2014-01-21 21:19] Urse commented on #942
![redomountoctopus](https://f.cloud.github.com/assets/6455119/1968358/88467b12-82e1-11e3-885c-9c858f4eda74.gif)
there...excuse the inappropriate layering of the mount over the pet.

[2014-01-21 21:34] DanielTheBard commented on #945
Hello! We're looking to get some pixel artwork for a mini boss for the upcoming [Vice quest!](https://trello.com/c/JuDktlpf/354-quest-chain-vice-the-treacherous-shadow-wyrm) Since you created Vice, @baconsaur, I think you're obviously deserving of dibs if you want it.

As for what the mini boss should be... idk! We want to scrap part 1 of the quest because it's not currently do-able in our quest s

[2014-01-21 21:50] jatheism commented on #945
@lemoness I darkened the outlines, please let me know if they are dark enough though.  Thanks so much for the feedback!

![ogre_small](https://f.cloud.github.com/assets/6412366/1968641/01c2e418-82e6-11e3-90ec-e2e01cb6f114.png)
![fireblob_small](https://f.cloud.github.com/assets/6412366/1968642/04f06d68-82e6-11e3-80c6-3355aac4843a.png)

[2014-01-21 21:54] lefnire commented on #942
@baconsaur can you hook me up with a Base Gryphon Mount, head cut from body like your others?

[2014-01-21 21:55] Decals opened #2506 "Pickpocket WAAAAAY too effective."
I have a daily that I've managed to keep up for 58 straight days.  When I pickpocket this daily, I get 73 gold and 73 silver.  For paying just 10 mana.  With 60 mana points, do the math and think about how much gold I can rake in.  Personally, I'm avoiding using it because with potions costing gold it means that there's basically no worries about dying... pretty much ever.  There should probably b

[2014-01-21 21:59] lefnire commented on #2506
dupe of #2093

[2014-01-21 21:59] #2506 closed, assigned to nobody

[2014-01-21 22:05] baconsaur commented on #942
@lefnire
![gryph_mount_headless](https://f.cloud.github.com/assets/4521047/1968769/25e94646-82e8-11e3-9ad8-f0f3c5c088cf.png)

[2014-01-21 22:07] baconsaur commented on #945
@DanielTheBard Certainly! I think some sort of shadow-monster-minion-type thing would work well for that. I'll see what I can come up with. :)

[2014-01-21 22:12] JennaMalkin commented on #945
@lemoness, could the permission form be downloadable from the new board?

[2014-01-21 22:26] wc8 commented on #2493
Hm... would manual day start button address your needs?
My thought with making check out of the inn = reset dailies is, what if I check in the inn just in case and want to check out before night fall if I get better? Everything I log will be wiped, it'll discourage checking-out.

[2014-01-21 22:30] deilann commented on #2493
Thta would be another reason to do the 24-hour check.

The way I'd set it up, the system would check to see if cron has run in the
last 24 hours. If it has, nothing would happen upon checkout. This would
solve your situation as well as keep people from using the system to really
screw up challenges.

If cron has not run in he least 24 hours, dailies are reset.

On Tue, Jan 21, 2014 at 2:26 PM, wc8

[2014-01-21 22:32] deilann commented on #2493
That being said, manual day turnover is the one feature I want more than
any other.

But BrightBold has a fair point -- the way the Tavern is set up, it's
really not useful for even vacations, unless you're leaving in the morning.
While manual cron would be a boon to me, many users would want automated
cron and the ability to use the Tavern.

On Tue, Jan 21, 2014 at 2:30 PM, Ryan yandoryn@gmail.co

[2014-01-21 22:38] brightbold commented on #2493
I had also thought of that and was thinking you'd need a cron check. No idea whether that's technically easy or not. But manual day start might be a better and less complicated solution than any of this.

[2014-01-21 22:48] tildelowengrimm opened #2507 "Quest still appears in party despite being complete"
Yesterday, on cron, I got a pop-up notification that I had completed a quest. I was able to find the quest mount and ride it. However, on the social page, the quest is still listed, and the boss still seems to have HP.

My user id is: `d704a894-509b-4bf6-a2a1-b6dd9e17fa36`
My group id is: `4b2733b2-4cac-4b2b-8a8e-8a0fa951ffec`
## <bountysource-plugin>

Want to back this issue? **[Post a bounty on

[2014-01-21 22:52] lefnire commented on #942
@baconsaur you rock :) Launching quest soon, @lemoness did bacon already
get contrib.lvl++ for these?

On Tue, Jan 21, 2014 at 2:05 PM, baconsaur notifications@github.com wrote:

[2014-01-21 23:06] wolvenhalo commented on #945
@baconsaur just seen that you did want to do it and expected that but came
up with a mini boss anyway because I have some free time:

![shadowdragonminion](https://f.cloud.github.com/assets/6326218/1969358/d9ef3f8a-82f0-11e3-91cc-5cbba90f30a4.png)

@baconsaur you obviously have veto powers and first dibs on the boss (I can
always edit and recolour this for something else) but wondered what you
tho

[2014-01-21 23:09] Streakiest commented on #946
![lightcrystal](https://f.cloud.github.com/assets/4136052/1969367/0310f66a-82f1-11e3-8b01-feb2f7e0766c.png)
I've made a little Light Crystal for the Vice questline. Drawing shiny things is great fun.

[2014-01-21 23:13] MarsEnyalios commented on #945
@wolvenhalo -- no image shows

[2014-01-21 23:24] chaoticawesome opened #2508 "item not in inventory after purchase + took incorrect gold amount"
Hello,

I attempted to purchase the Oiled Leather armor (30 gold), and the game took 20 gold from me and did not give me the armor, even though it notified me that I had bought it. I was able to successfully purchase the Oiled Leather when I tried again, though I can't give myself back the 20 gold until the holiday event is over.

Browser: Firefox 26.0
User ID: 79167200-f69d-4af3-bcac-6d166c21fd31

[2014-01-21 23:30] wolvenhalo commented on #945
I know, I tried a couple of times, clicking the link should bring it up
though.

On 21 January 2014 23:13, Rowan-Law notifications@github.com wrote:

[2014-01-21 23:34] tildelowengrimm commented on #2345
For what it's worth, I found it a challenge to solo Trapper Santa, but not an impossible one. I do 3-6 habits, have somewhere from 12-20 dailies, and do 1-5 old to-dos every day.

[2014-01-21 23:36] MarsEnyalios commented on #945
@wolvenhalo-- I'm not seeing a link o.o

[2014-01-21 23:39] Streakiest commented on #945
![shadowdragonminion](https://f.cloud.github.com/assets/6326218/1969358/d9ef3f8a-82f0-11e3-91cc-5cbba90f30a4.png)
Odd, it works for me... (just to clarify, that's wolvenhalo's, not mine.)

[2014-01-21 23:42] wolvenhalo commented on #945
Interesting, ah well, cheers for posting for me. :)

On 21 January 2014 23:39, Streakiest notifications@github.com wrote:

[2014-01-21 23:46] lefnire commented on #945
@wolvenhalo it's perfect! DTB wanna tell the tale?

@wolvenhalo-- I'm not seeing a link o.o

—
Reply to this email directly or view it on
GitHubhttps://github.com/HabitRPG/habitrpg/issues/945#issuecomment-32977035
.

[2014-01-22 00:07] Dexyne commented on #2084
I have this problem too (on the wolf).
I think it's because we don't see his body (but we see it when mounted).

[2014-01-22 00:21] baconsaur commented on #945
@wolvenhalo I don't want to be negative because it's nicely done and the last thing I want to do is discourage contribution, but I'm feeling really put off by having something I said I was working on be done by someone else again after that issue was just discussed. I know you meant well and offered it as just an option, but it makes me very uncomfortable to be put in the position of replacing som

[2014-01-22 00:25] lefnire commented on #945
We might be able to use both. Quests are super easy to add, so if it looks
different enough we can create a totally new quest. If very similar, we can
do a "return of the ____"  kinda deal. I say post :-)
On Jan 21, 2014 4:21 PM, "baconsaur" notifications@github.com wrote:

[2014-01-22 00:58] NinKenDo64 opened #2509 "Redoing quest failed."
So my party already finished the first trapper Santa quest and recovered the polar bear mount. However the next quest didn't start (not sure if it was supposed t or not). Anyway, the other day I saw that we could redo the Trapper Santa quest, so I invited the party to do so.

One of the members in our party has become inactive, so after doing the invite, I booted him from the party while his accep

[2014-01-22 01:08] DanielTheBard commented on #945
@baconsaur - You did call it, so put up your work, too. It's likely that both could be used in one way or another. @wolvenhalo did a good work and it matches the quest. But, it is your dragon and you called dibs so give it a shot. We can figure something out. But @lefnire is right, it's pretty easy to make quests, so it'll be easy to figure out how to use both your work.

[2014-01-22 01:09] SabreCat commented on #945
Heck, maybe there could be random variants on the quest, sometimes you get one boss sprite and sometimes another. It'd take a minor bit of coding, but it's easily within the realm of possibility!

[2014-01-22 01:21] lefnire commented on #2509
Did you send the invites? Only the quest leader can force-start (which is what you want in this case).

[2014-01-22 01:25] chaoticawesome commented on #2508
Hello again,

It just happened again, this time with the Scimitar (35 gold). It took 34 gold and did not give me the item despite saying so. It also spontaneously gave me 20 gold and some silver. I should note that both times this has happened I bought something directly after using my Rogue Pickpocket ability on a Habit. I hope this gets resolved quickly!

[2014-01-22 01:27] lefnire commented on #2301
As in run a manual mongo update query (like we're doing with quests) instead of `model.save()`? Might be worth a shot, I'll look into it

these are things we should definitely do. I feel like I learned the double-save lesson half-way through coding this repo, so all code before that lesson is subject to double saves. I mean to audit the repo soon and check for these situations.

Yeah, this ticket

[2014-01-22 01:34] HanjiVi commented on #942
I really want to help but don't know what to work on! Anything that needs to be done?
Edit: did more research. How about a Koala?
![koalol](https://f.cloud.github.com/assets/6466487/1970709/a5160b88-8311-11e3-8a13-031258a39423.png)
![koalolol](https://f.cloud.github.com/assets/6466487/1970719/238d59f8-8312-11e3-951b-0a585bdba439.png)

[2014-01-22 01:41] jatheism commented on #945
An idea popped into my head on the way home from work - hope you like it!

![dark knight](https://f.cloud.github.com/assets/6412366/1970331/53bfb1ae-8306-11e3-92b7-1b1e98457d3a.png)

[2014-01-22 02:49] casicastiel commented on #2168
Bless you! We actually just started the quest again the other day, but everything's been fine. :3

[2014-01-22 03:13] colegleason commented on #2301
Yeah , no problem. I'll try to put more time into this later this week. I
just got back at school, so I'm still settling in.

The reason 1. works is that the VersionError is really a Mongoose thing
since it tries to refer to array items by indicies. I believe that using
the Mongo update would mitigate that.

On Tue, Jan 21, 2014 at 7:27 PM, Tyler Renelle notifications@github.comwrote:

##

## Cole

[2014-01-22 04:37] GrayDays opened #2510 "Sprites fuzzy on Mobile Safari for iOS7.0.4"
**[edit by @lefnire]: This also happens on the _app_ now too, not just browsers. Needs to be fixed ASAP**

I've been using the mobile Safari version of HabitRPG since it has more features than the iPhone app. Today I updated my OS from 7.0 to 7.0.4 and when I went on the mobile site again the character, pet, and item icons were garbled as screenshotted.
http://i.imgur.com/mV4MV8L.jpg main screen
h

[2014-01-22 04:44] MarsEnyalios commented on #945
Jowiri -- I am the dark knight. None shall pass.

"'Tis just a flesh wound."
"'Just a flesh wound'?! I just cut your arm off!"

[2014-01-22 05:06] ghost commented on #2510
Yeah, I'm having the same problem tonight iOS Safari AND iOS Chrome.

[2014-01-22 06:34] colegleason commented on #2301
By the way, if you ever find a good way to reproduce this, let me know. I can't seem to figure it out for the life of me.

It would be awesome if we could get a list of ops performed during the batchUpdate when there is a VersionError/

[2014-01-22 06:38] extrajordanary commented on #945
@lemoness   Better?

![rooster_boss_ extrajordanary _3x](https://f.cloud.github.com/assets/4017420/1971509/be8f8e18-832f-11e3-8073-65aa7c1a43d4.png) ![rooster_boss_ extrajordanary](https://f.cloud.github.com/assets/4017420/1971510/be94614a-832f-11e3-9be8-003d6e43374c.png)

[2014-01-22 06:49] DanielTheBard opened #2511 "Rebirth Causes You to Lose Limited Edition Gear"
So, it's understandable that rebirth can force you to buy back your normal gear and even your contrib/backer gear. But by making you lose limited edition gear, you lose out a limited edition item forever (assuming you use rebirth after that item is available).

I spent the time to hit lvl 60 and get all the new winter gear before finally using rebirth. Only to discover I needed to re-purchase all

[2014-01-22 06:52] DanielTheBard commented on #2084
I'll throw up a pick of mine... once I unlock the stable again aha. It was a mess from like 6 mounts.

[2014-01-22 06:54] DanielTheBard commented on #946
@Streakiest - Love it! Definitely want to use it for the Vice quest :)

[2014-01-22 07:36] colegleason opened #2514 "503 Application Error on addTask op"
Just tried to add a task and got this error:
![screen shot 2014-01-22 at 1 33 28 am](https://f.cloud.github.com/assets/232327/1971756/cbc2f324-8337-11e3-925a-e8af244b3d03.png)

HTTP status error: 503

It was performed on a batchUpdate. That was the only op included. Curiously, the params and query for the op seemed to be undefined.

[2014-01-22 07:40] colegleason commented on #2514
Oh, it seems the entire app is down. JK.

[2014-01-22 07:40] #2514 closed, assigned to nobody

[2014-01-22 07:41] lefnire commented on #2514
Yeah trying a repair, sorry shouldn't be too long. One sec

[2014-01-22 07:50] GrayDays commented on #2510
Update: the garbled images have spread to the gold/silver and equipment icons since OP. http://i.imgur.com/LYimNrT.jpg Haven't bought any equipment or sold any items between posting earlier and taking this screenshot a minute ago, only checked off a couple of habits and dailies.

[2014-01-22 08:02] deilann commented on #2511
Looking at the code, it suggests that you'll be able to repurchase it, just like someone who lost it via death, but I may be reading it wrong.

[2014-01-22 08:23] Foxkitten opened #2515 "tried to invite a friend to a party i am in, got booted out of said party and then couldn't access habitrpg for 5 mins"
Hi, i've fixed this error by just waiting and refreshing lots but it's still something that happened so i thought i'd put it here

I just tried to invite a friend to a party i am in and it came up with an application error and asked me to try again after a few moments. I did this 3 more times, and then tried closing and opening my tab to see if that would help.
When heading back through to my part

[2014-01-22 08:24] Foxkitten commented on #2515
This is completely not an important issue, i just wanted to make sure you guys know this happened as it was worrying. i thought my account had been deleted or something.

[2014-01-22 09:56] Yughurt commented on #2378
Secondary issue is that the "tag filter" for the challenges doesn't disappear after you remove the challenge.

[2014-01-22 10:09] breadstrings commented on #946
Hi mintclock. It's looking good! I like the font. :) It's not exactly what I was looking for but is a good start.

Can we make the sign bigger, but remove the mouse arrow (I found that confusing thinking my mouse had jumped there!). I personally think the text should read "HabitRPG Wiki". Also, can we make the colour scheme match the treasure chest logo?

Thanks @mintclock for your contribution! I

[2014-01-22 10:54] PaulRosenfield opened #2516 "Improvements to Habit's history graphs"
Lemoness asked me to post about some of the problems with Habit's graphs (i.e. the 'history' of a user's experience or a particular daily) and about some possible ways to improve them. I am writing a textbook on data analysis, and I find the current versions difficult to impossible to read. Also, they contain so little information about a user's history that they aren't really worth reading.

I th

[2014-01-22 12:41] NinKenDo64 commented on #2509
I assume I've sent them given it says they've been accepted. I also think I'm the quest leader, else how was I able to boot somebody?

[2014-01-22 12:45] ParisiT commented on #2510
Same issue, so it's probably not just you.

[2014-01-22 13:27] SabreCat commented on #2511
Yup, this was fixed already. We spotted it when we introduced the logic to re-buy gear pieces on death, and fixed it then.

[2014-01-22 13:27] #2511 closed, assigned to nobody

[2014-01-22 13:27] baconsaur commented on #945
Alright, mine is a shadow wisp. I figured it could be a part of Vice split off to guard the way to his lair or something along those lines.

![shadowwisp](https://f.cloud.github.com/assets/4521047/1974095/ae5d96dc-8368-11e3-984d-00b9cb306c3d.png)

[2014-01-22 14:06] jatheism commented on #945
Lol @Rowan-Law - "come on...chicken!"  Love that scene.

[2014-01-22 14:29] brightbold commented on #2094
I just found the same thing. I created what are essentially 1-person challenges to motivate my daughter (Complete the three giant school projects by Monday and earn 7 gems, etc.) When she didn't successfully complete one, I deleted it assuming the gems would be returned to me. I would have declared myself the winner to get them back, but since I wasn't really participating and didn't win, I didn't

[2014-01-22 14:32] deilann commented on #2510
That looks like it's reading the sprite sheet wrong, thinking it's larger than it is, so when it gets into position, it's in the wrong place and zoomed out.

[2014-01-22 14:42] Urse commented on #942
![mount octopus2large](https://f.cloud.github.com/assets/6455119/1974654/d0ed4940-8372-11e3-9f8d-6bb7dbe65d3c.gif)
![mount octopus2largeseparated](https://f.cloud.github.com/assets/6455119/1974655/d0eed580-8372-11e3-8dbc-f35353fba68a.gif)
Here is the fattened mount, cleaned up a little. If it looks good, i'll clean up the pet too and start on the variations. let me know, yes, no.

[2014-01-22 14:58] Urse commented on #945
awesome things baconsaur! Continue making awesome things! It's not your job to decide what makes the cut. Your job is to inspire and amaze.

[2014-01-22 15:48] poopstick commented on #1460
@lenfire I'm back. Sorry about the delay, but this now happens in Chrome on all my PCs. Even following the instructions in the screenshot provided don't help.

I get the message:

Missing :username or :password in request body, please provide both

[2014-01-22 15:54] casicastiel opened #2517 "Link to LFG board is to the wrong URL"
I imagine the LFG forum on Wikia has been renamed recently, as the link in the Tavern sidebar now points to a board title which doesn't exist: http://habitrpg.wikia.com/wiki/Board:Looking_for_a_Group_(LFG), rather than http://habitrpg.wikia.com/wiki/Board:The_Archery_(LFG).

[2014-01-22 16:06] poopstick opened #2518 "Two parallel parties exist; HabitRPG switches randomly between them"
Okay, way back when HabitRPG was still on the old system, I set up a party and added friend #1, who joined.

Then, after the transition to the new back end (when we all got our veteran wolves), I added two more friends. Friend #2 joined, friend #3 didn't.

I have never seen both friend #1 and #2 at the same time. I was mostly seeing friend #2 (friend #1 died a lot) through December. Then, about tw

[2014-01-22 16:12] lefnire commented on #2518
This happens periodically for old users. When you see the "wrong" party
next, leave it. Refresh and you'll see the right party. If you see another
wrong party, you may be in more than 2. keep leaving until the right party
shows up consistently on refresh. Tell your mates to do the same
On Jan 22, 2014 8:06 AM, "poopstick" notifications@github.com wrote:

[2014-01-22 16:12] paglias commented on #2399
shared/modals/achievements.jade is done

As @luveluen pointed out different languages will have different word orders causing problems with pieces like this:

[code]

So the next step, when we will have moved everything to main.json will be to implement string interpolation with lodash `_.template` allowing for variables to be passed to `env.t()`

[2014-01-22 16:24] marcelosizer commented on #2399
@paglias I've been slowly doing the modals folder and it's almost over. Did you merge it already? I'll have a lot of things to change here.

Also, the items section can be removed from main.json as it's all in the content.coffee.

[2014-01-22 16:26] paglias commented on #2399
Oh, sorry, I'll revert the commit immediately, let me know when you're done.

[2014-01-22 16:27] Urse commented on #945
![cultists large](https://f.cloud.github.com/assets/6455119/1975778/c494b688-8381-11e3-9057-732772967080.gif)
![cultists](https://f.cloud.github.com/assets/6455119/1975779/c4980f68-8381-11e3-85e9-532391cb61d7.gif)

Today you get cultists. i i cthulhu ftagn.

[2014-01-22 16:36] marcelosizer commented on #2399
@paglias I'll probably be done today as I stopped for some days and yesterday I got back to it. I won't change the new_stuff.jade as there was no decision on how to do that and I won't commit drops.jade as I have another PR on that file and I'm afraid to cause inconsistencies.

And if you want to keep that file just let me know.

[2014-01-22 16:38] wolvenhalo commented on #945
@baconsaur no I entirely agree, it is your quest and all yours. It's not
that I'd looked at your comment saying you'd like to do it and ignored it,
I drew one up before just in case. I love the wisp, I think that'd be great
for the quest.

On 22 January 2014 16:27, Urse notifications@github.com wrote:

[2014-01-22 16:39] aurakami commented on #945
@Urse WOW! You're very skilled at pixel art, it's so beautiful!

[2014-01-22 16:40] lorian opened #2519 "Random subset of dailies not refreshing on cron"
This has happened to me twice over the last week; it's not ALL my dailies, however, it's an extremely random subset. (Not, for instance, the last dailies I checked off before going to bed). My reset time is 6am, but until just recently, I've never had problems with it, and I check off everything before midnight. The streaks for said dailies were also, sometimes, borked.

Also, I'm not sure if this

[2014-01-22 16:45] Urse commented on #945
![cultistslighter](https://f.cloud.github.com/assets/6455119/1975978/78dd0d00-8384-11e3-8423-b4023779fabb.gif)
and here a little lighter.

[2014-01-22 16:48] Urse commented on #945
@aurakami , I'm skilled at art art  and graphic art which comes in handy for pixel art. This is fun, pixel art lends itself well to my messy style.

seriously, the only pixel art i'd ever done before the t-rex was designing the skin for my minecraft character.

[2014-01-22 16:53] aurakami commented on #945
@Urse I guessed that might also be the case, often people skilled in one sub-set of art are skilled in another. Still awesome though :) If you don't mind me asking, do you have a place to view your other works? (I'm a curious little bug, haha.)

[2014-01-22 17:00] martenson opened #2520 "wrong text label on hoover"
at settings tab there is missing label for 'Show classes tour' button

![screenshot 2014-01-22 11 56 06](https://f.cloud.github.com/assets/1814954/1976155/a7c04234-8386-11e3-841c-60e94d7158e1.png)

[2014-01-22 17:05] paglias commented on #2520
It is fixed, will arrive when a new version of the site is uploaded

[2014-01-22 17:05] #2520 closed, assigned to nobody

[2014-01-22 17:26] AtomicVagabond opened #2521 "Dailies did not receive refresh"
Today is my 3 3rd day using habitrpg and my dailies did refresh today.

[2014-01-22 17:52] deilann commented on #2517
Furthermore, it would make lives a lot easier if the link didn't end in ), as this makes it really hard to link via markdown in the tavern.

[2014-01-22 17:54] PaulRosenfield commented on #2516
This should be the link to the pdf. https://www.dropbox.com/s/ion4ismamewscmp/Habit%20Graphs.pdf
Apologies for the rough figures and rough writing. It was 4am. But hey! I enjoyed it, and I hope you do too!

~Paul

[2014-01-22 18:11] MarsEnyalios commented on #945
This ![marshy boss redo](https://f.cloud.github.com/assets/6422224/1968076/1e682924-82dd-11e3-85d2-b10508663061.png)![marshy boss redo x3](https://f.cloud.github.com/assets/6422224/1968077/1e707430-82dd-11e3-99c0-1a86cfdc7660.png)
Opposed to this?
![marshy boss dark blue colour redo jagged](https://f.cloud.github.com/assets/6422224/1959407/377a5db6-822d-11e3-9ced-76f1100d24ce.png) ![marshy boss da

[2014-01-22 18:17] deilann commented on #2516
Man, that is awesome. My only comment would be that one of your assumptions is incorrect: experience does not always go up. When a player dies, they lose a level and any experience they had beyond that level. But with a bar chart like that, you could have it dip below the x axis for death.

[2014-01-22 18:19] colegleason commented on #2516
I could probably code up some prototypes in D3js when I have time.

On Wed, Jan 22, 2014 at 12:17 PM, deilann notifications@github.com wrote:

##

Cole Gleason
Student, University of Illinois at Urbana-Champaign
Computer Science, Class of 2015
cg@colegleason.com | colegleason.com

[2014-01-22 18:19] Urse commented on #945
@Rowan-Law I like the pink, looks like it's ooozing.

@aurakami  http://www.tormentedartist.com/ I still have to clean it up since google did away with thier free cart app, but the work is there. It's still out of date though. You'll get the gist of what i'm capable of.

[2014-01-22 18:25] Streakiest commented on #945
I prefer the spikes, myself, but the oozy stuff looks nice as well. I also imagined the pink more like this, twisting up with the blue.
![image](https://f.cloud.github.com/assets/4136052/1976998/1ea5fe92-8392-11e3-9036-2019e0c4efff.png)
Also, maybe little drippy bits at the top? Might just look weird, though, I'm not sure.

I'd like to see the arms idea too, if you think it'd look cool!

[2014-01-22 18:26] deilann opened #2523 "Party Buffs (Boosts) Don't Last A Day (skill buffs and cosmetic buffs like snowball)"
Unless everyone's cron is synced up, party boosts don't last at all. I imagine it would be terribly difficult to make them last 24 hours, rather than go away upon cron, but it seems kind of frustrating to spend MP on something and then have it only affect your party members for a short period of time.
## <bountysource-plugin>

Want to back this issue? **[Post a bounty on it!](https://www.bountysou

[2014-01-22 18:30] marcelosizer commented on #2399
@paglias views/shared/modals is done.
Habitrpg #2522 and Habitrpg-shared [#110](https://github.com/HabitRPG/habitrpg-shared/pull/110).

The file drops.jade is translated but hasn't been commited to avoid version conflict; the files new_stuff.jade and login.jade hasn't been translated as there's no decision on what to do with the first and the latter is not being used anymore.

[2014-01-22 18:40] poopstick commented on #2518
Super! That worked. Never would have thought of that. Glad to have escaped
the mirror universe before my own goatee'd self showed up and murdered me.

On Wed, Jan 22, 2014 at 11:12 AM, Tyler Renelle notifications@github.comwrote:

[2014-01-22 19:00] paglias commented on #2399
@Sinza- merged everything :)

[2014-01-22 19:42] TheInventrix commented on #945
@Rowan-Law @Streakiest Seconded on the arms!

One think I think might help is making the spikes have little drippy bits off of some of them, like they're covered in a viscous slime. Not sure how well that could be executed at this scale, though. Adding a shine point to the head might help too with the whole wet/slimy look.

Also, if you want to give it more of a "translucent" made-out-of-slime fee

[2014-01-22 19:43] hozishka commented on #1057
I'm having this problem as of this morning. Email only account, no custom start time, and the dailies I checked off in the evening (before 11pm) didn't reset. Some of them are challenge dailies, but not all of them.

Other effects:
- One of my dailies jumped to the top of the list - it was at the bottom when I went to bed.
- All but one of the dailies that didn't reset are now showing a 2 day stre

[2014-01-22 20:01] Urse commented on #942
![pet octopus1](https://f.cloud.github.com/assets/6455119/1978133/af3a40c8-839f-11e3-9336-434b6862cb04.gif)
![octopusegglarge](https://f.cloud.github.com/assets/6455119/1978132/af395384-839f-11e3-9a20-fed39a131958.gif)
![pet octopus1large](https://f.cloud.github.com/assets/6455119/1978134/af476ad2-839f-11e3-9637-1dae969e5fa8.gif)

seriously, boredom does not sit well with me.

[2014-01-22 20:04] aurakami commented on #945
@Urse Thank you for sharing :) I love your craft work!

[2014-01-22 20:43] DanielTheBard commented on #945
@baconsaur - That's actually really the kind of thing I had in mind! When we first said maybe a mini-boss could be used for that part of the quest, I was thinking some kind of shadow monster. It could fit in really well because it'd be a physical manifestation of Vice's influence. Like the shadow creature is part of the shadows the dragon eminates and they infect people and make them give into vic

[2014-01-22 20:50] DanielTheBard commented on #942
@Urse - I dig your Octopi and your Cthulhu boss! :) Obv gotta see what @lemoness @lefnire @etc think, (because they are much more powerful awesome people than me) but I could totally see these released in a future quest. And with a giant Octopus monster (outright call him Cthulhu or just allude to it? I'm pretty sure he's public domain aha but I like allusions.) that could be a toouuuugh boss batt

[2014-01-22 21:12] dfjkla commented on #1057
Haven't checked here a while. I've had this happen again, latest yesterday/today. It happens maybe once or twice in a fortnight.

I always check my dailies after midnight local time, before CDS. Refreshing HRPG page doesn't help. I don't use FB or mobile versions. Firefox on Win7 and Linux Mint - I only run one instance of HRPG.

UUID 87a47e8c-5d1f-4910-a030-3f36c70ef816

[2014-01-22 21:22] wolvenhalo commented on #945
Sure, I'll get to doing some tweaking and see what I come up with :) And
I've just started the Fiery Gryphon quest @baconsaur, I'm excited.

On 22 January 2014 20:43, Daniel the Bard notifications@github.com wrote:

[2014-01-22 21:43] Lukrecja commented on #943
I hope this is good size:
![skyrim like](https://f.cloud.github.com/assets/6423516/1978846/6b8528b6-83a9-11e3-9b87-3e2faf5b9e50.png)

Armor parts:
![armors](https://f.cloud.github.com/assets/6423516/1978853/7fd847da-83a9-11e3-9ea6-ebb5da0832c7.png)
![blades](https://f.cloud.github.com/assets/6423516/1978854/82e25e3e-83a9-11e3-8fe1-fba0cddbcc9d.png)
![helmets](https://f.cloud.github.com/assets/6423

[2014-01-22 22:15] Urse commented on #942
@DanielTheBard cthulhu is public domain. I don't think lovecraft even left an heir to his
estate and he died poor. All his writing is free and open on the net. So
yeah, use the name. He wrote this stuff coming up on 100 years ago.
http://en.wikipedia.org/wiki/H._P._Lovecraft
What isn't public domain are the specific renditions of games and logos
people have made after but i've kept clear of those.

[2014-01-22 22:39] ghost commented on #2523
I agree. I've had instances where I receive no benefit at all from spells cast after I'm done for the day. When I log in a new day starts and the spell ends before I even get any use of it.

[2014-01-22 23:17] Urse commented on #942
but if you're really not keen on riding the cthulhu bandwagon...my vote would be to name him Khlul'hloo or Cthulu.
Cthulhu (alternate spellings: Tulu, Cthulu, Ktulu, and many others--http://www.yog-sothoth.com/wiki/index.php/Cthulhu "In fact, Lovecraft speculated that "Khlul'hloo" might be closer to the actual pronunciation. The ancient Babylonians believed in fish-men named Kulullu, a race of dem

[2014-01-22 23:50] marcelosizer commented on #2399
@luveluen on what file?

[2014-01-23 00:10] ohtree opened #2524 "Streak reset even though I didn't skip it"
I had a task (which is a challenge so I can't go and fix the streak) which had thirty or forty days on it and even though I did not miss clicking it, the streak reset. Can I get this fixed? And what caused it? I do have a custom day start, could that be the cause?

[2014-01-23 01:01] AtomicVagabond opened #2526 "clicking on habit activated wrong one."
I clicked on one of my negative only habits twice, but it selected the positive option on one of my other habits a few spaces above twice instead.

[2014-01-23 01:23] Urse commented on #945
@DanielTheBard I was thinking something like that too. Mini boss, epic boss. You kill it, it keeps coming back to take you down. Although if its such an incursion into territory, i'm okay with withdrawing it as a submission. I had no idea it would be such a problem.

and with that i'm gunna just say that if there are any lovecraft fans who want in on the whole eldritch mind twisting horror picture

[2014-01-23 01:38] SabreCat commented on #945
@Urse: Ooh, cultists! I think we need even more contrast than you've got in the second iteration, though. Before I saw your text, I squinted at it and thought, "it's a cave with a sword in it?" I still can't really resolve what the thing in the middle is. Maybe make the chamber walls or black glow (whatever the surroundings are supposed to be, heh) a different color from the cultists' robes? And b

[2014-01-23 01:39] SabreCat commented on #945
:+1: the T-rex fight followed by Skeletal T-Rex fight idea. Not every one of these Gen 2 Pet quests needs to be an identical, single fight thing!

[2014-01-23 02:05] 101Leafy opened #2527 "I don't have the Veteran Wolf"
I'm an Original User, so I have the Veteran Badge. However, I don't have the Veteran Wolf. Why?

[2014-01-23 02:06] Urse commented on #945
@SabreCat ![cultists2large](https://f.cloud.github.com/assets/6455119/1981215/f240b248-83d2-11e3-8e04-51c0a206cd14.gif)
something like this?

[2014-01-23 02:26] 101Leafy commented on #942
I split the Slime mount, tell me if I should change it.
![marshmallowsplit](https://f.cloud.github.com/assets/6332664/1981308/8b7dddee-83d5-11e3-827a-5e37a5b51e76.png)
(I also shaded the left side)

[2014-01-23 02:27] baconsaur commented on #945
@DanielTheBard I really like that idea for the t-rex! I'm still struggling with getting a large skeleton to look good in pixel art, but I should have it done pretty soon. I'll try to make it look a little zombie-ish too to seem like it recently rose from the dead to fit in with that. Really looking forward to seeing how you put these stories together, you come up with the coolest stuff. :)

[2014-01-23 04:08] Pandah commented on #942
Added shading to the rat mount heads :)
![ratmountlist](https://f.cloud.github.com/assets/6396120/1981713/e505e556-83e3-11e3-97ad-3f0962bca047.png)

[2014-01-23 04:20] SabreCat commented on #945
@Urse: Ooh! Yeah! Exactly! I'm actually astonished at how sharply that followed what I was trying to convey with my critique, haha. I still don't _entirely_ understand what the thing in the middle is, but maybe I'm not supposed to? (Some sort of glob on a pedestal? Or bubbling up out of a book with a beam of light shining underneath it?)

[2014-01-23 04:22] MarsEnyalios commented on #945
@SabreCat -- I thought it was a sword

[2014-01-23 05:35] HanjiVi commented on #942
Colored up some koalas- feedback anyone?
![koalolol](https://f.cloud.github.com/assets/6466487/1982063/0bdd8fec-83f0-11e3-9f2d-b48bd9e369aa.png) ![koal5](https://f.cloud.github.com/assets/6466487/1982064/11d1d660-83f0-11e3-96c6-10dd5c22342d.png) ![koal3](https://f.cloud.github.com/assets/6466487/1982065/14849cda-83f0-11e3-9550-11986c59c873.png) ![koal4](https://f.cloud.github.com/assets/6466487/19

[2014-01-23 06:56] lefnire commented on #2510
Does refreshing the page fix the issue?

On Wednesday, January 22, 2014, deilann notifications@github.com wrote:

[2014-01-23 07:10] ghost commented on #2510
No, refreshing does nothing. Neither does restarting the browser(s) or, in my case, the iPad.

[2014-01-23 07:16] deilann commented on #2510
Did a little more research-- this has been a problem in the past. iOS is
scaling the spritesheets, so they display wrong. The only fix people have
found in the past is to use single images for iPad users. Basically, iOS is
being stupid, not the site.

On Wed, Jan 22, 2014 at 11:10 PM, Anysia notifications@github.com wrote:

[2014-01-23 08:25] deilann commented on #2380
Yeah, I can't figure it out either. Cannot reproduce, but it's certainly happening.

[2014-01-23 08:26] deilann commented on #2527
Mentioned here: https://github.com/HabitRPG/habitrpg/issues/2329 Not sure if the push ever happened, though, as I still don't have mine.

[2014-01-23 08:29] xtraorange commented on #2355
To be clear: I just confirmed again, same procedure, same error.

[2014-01-23 08:54] ghost commented on #2510
It worked fine until about the time the gryphon quest was added. Unlike the OP, nothing changed in my device (no updates--all automatic updates are turned off on my device) and it happens in Chrome as well. So something changed on the site recently. It has basically made the image heavy pages unusable on iOS since it is impossible to tell what you are clicking in the inventory, pets, market.

[2014-01-23 09:16] ivyxaur commented on #1308
We could also go to D&D tiers

Easy - Hero
Medium - Paragon
Hard - Epic

(Also yeah mouseover of Easy Medium Hard / including it in the tutorial would help!)

[2014-01-23 09:25] deilann commented on #2510
Gryphon quest would have changed the spritesheet/made it bigger, so that could be it.

[2014-01-23 09:35] mariemariem commented on #2455
hey, exactly this happened to me over night. i levelled up a few hours before midnight. over night my pixel guy suddenly died (I had full health points and in no way my unfinished dailies could have taken all 50 HP), one recently added task was duplicated and my dailies won't refresh (they appear grey and checked off the same as the day before).

any news, lorian?

my user ID: eef887b6-351c-4eeb-a

[2014-01-23 09:37] ivyxaur opened #2530 "Social Media Connection"
(I'm sorry I'm pretty new to this whole thing I hope I'm doing this right and that this hasn't been suggested before!)

Alright, I'll be the first to say that I hate how games will sometimes do everything in their power to make you tell your friends exactly how much you're having fun. However,  HabitRPG is something I'd love to have the option of reporting my progress on! If you gave the option of

[2014-01-23 10:07] deilann commented on #2530
Note: I am not an admin on the site, or anyone of importance. However, I _am_ going to meet up with the folks of importance tomorrow and talk about social media and SEO. So I am so glad to hear your thoughts on this.

I do find it annoying when things constantly ask me if I want to share with X social media site (Freerice, I'm looking at you. "You just answered five questions right in a row? Would

[2014-01-23 13:31] Urse commented on #945
@SabreCat  @Rowan-Law _mischievous grin_ Its a piece of abstract art and they're trying to figure out what it all means.

I work in photoshop and have since about 1998, i'm not a master at manipulating images because my grasp of color still needs to be developed but i know how to break them out into layers when i make them so they can be tweaked. It's always good to leave yourself wiggle room beca

[2014-01-23 14:04] domi7777 commented on #2492
"about:blank" in url bar and empty page on Chrome win 7

[2014-01-23 14:38] paglias commented on #2399
Fantastic work guys! @Sinza- @luveluen

I'm gonna merge the latest changes by @luveluen now.

Next I'll add string interpolation, then before we start other languages I would like to split `main.json` do you have any advice?

[2014-01-23 14:49] marcelosizer commented on #2399
\o/ Yeah!

@paglias will `_.template` be used on the jade files? Will we have to update them again?

About the main.json I was thinking on a file for the most common strings like **general.json** with strings like _cancel_, _ok_, and other that appear on several parts. And split the rest of the main.json by folder and have separate files for large ones like we did with terms and privacy. What do y

[2014-01-23 15:08] SeanStiny commented on #2329
I also don't have the wolf but I have the badge.

User ID: 776d604e-b3d4-4b61-8c7a-6928ef24e40a

[2014-01-23 15:11] paglias commented on #2399
@Sinza- it will be totally options, if instead of having a text split into more strings because of some variable in the middle it will be possible to have only one string injecting the variable in the middle with more or less the same syntax. Anyway I'll be doing this.

[2014-01-23 15:13] SeanStiny commented on #2527
I also still don't have mine.

User ID: 776d604e-b3d4-4b61-8c7a-6928ef24e40a

[2014-01-23 15:34] jatheism commented on #945
Wanted to do a skeletal demon thing coming out of swampy looking water.  Not the most concrete idea to start off with, but I was happy with the end result -

![skeletaldemon](https://f.cloud.github.com/assets/6412366/1985795/d8de9de4-8443-11e3-8472-30a424b167cc.PNG)

[2014-01-23 16:01] marcelosizer commented on #2399
Ok. If you want some help let me know. Can I split the main.json?

[2014-01-23 16:08] paglias opened #2531 "Angular syntax in html attributes is sanitized by Jade"
I just discovered that this piece of code:

![selezione_018](https://f.cloud.github.com/assets/589911/1986017/af2529de-8446-11e3-85c5-fd2c38f2f6b4.png)

It is rendered:

![selezione_016](https://f.cloud.github.com/assets/589911/1986020/b565f044-8446-11e3-897e-e9f24739c551.png)

It is a quite serious bug, it makes all the ng-if, popover, ng-class... unuseful if they have any "html" code (like `&, <

[2014-01-23 16:11] Arigator opened #2532 "How to view exported data? (.CSV, .XML, .JSON files)"
As completed ToDos get archived now after 3 days and I still want to be able to view them in some way, I used the export function in the "Settings" - "Data Export" sub menu.

I think it would be important to put up a tutorial or just a short description on how to view these files the best way, as I don't think this is basic knowledge for HabitRPG users (I, for one, have no idea. First I tried to o

[2014-01-23 16:22] jatheism commented on #945
Slow work day, did an evil bunny...

![evil bunny](https://f.cloud.github.com/assets/6412366/1986275/7dcc5c8c-844a-11e3-98ae-ba8a09f615f1.PNG)

OMG - I work at a help desk and someone on the phone just called it "Mozzarella Foxfire"

[2014-01-23 16:36] paglias commented on #2399
We only miss drops.jade, I would like to wait for that one @Sinza- then you can split main.json

[2014-01-23 16:39] marcelosizer commented on #2399
I have already added drops.jade strings to the main.json file so it could be split right now.

[2014-01-23 16:40] paglias commented on #2399
Perfect! Then if you want, do it!

2014/1/23 Marcelo Sizer notifications@github.com

##

Matteo Pagliazzi - paglias.net

[2014-01-23 16:41] colegleason commented on #2531
Well, shit.

On Thu, Jan 23, 2014 at 10:09 AM, Matteo Pagliazzi <notifications@github.com

##

## Cole Gleason

Student, University of Illinois at Urbana-Champaign
Email: cg@colegleason.com
Website: colegleason.com

[2014-01-23 16:43] colegleason commented on #2492
Sorry, I'll try to look into this today.

On Thu, Jan 23, 2014 at 8:04 AM, domi7777 notifications@github.com wrote:

##

## Cole Gleason

Student, University of Illinois at Urbana-Champaign
Email: cg@colegleason.com
Website: colegleason.com

[2014-01-23 16:45] paglias commented on #2531
No option to disable it, we'll have to do it. What about a global search &
replace with a code editor? It's not necessary everywhere but it won't hurt

2014/1/23 Cole Gleason notifications@github.com

##

Matteo Pagliazzi - paglias.net

[2014-01-23 16:49] paglias commented on #2531
This is probably the reason for #2492 :
`data-custom="?uid={{user._id}}&amp;apiToken={{user.apiToken}}"`

What I don't understand is why angular doesn't throw any error

[2014-01-23 16:56] paglias commented on #2531
Maybe it's a false alarm. I mean it's sent escaped by the server but then it's correctly interpreted and if you check an element attributes with the chrome console they are not escaped... Strange

[2014-01-23 16:56] #2531 closed, assigned to nobody

[2014-01-23 17:13] lorian commented on #2455
My only "news" is that the dailies-not-all-refreshing party happened once again, but thankfully not the dying part! Useful tip for recovering: if you have a copy of the habit page open from the previous night (that you haven't refreshed), you can go into that page's "fix values" and it will have filled in your previous gold/hp/xp total; that's the only easy way to get your gold back.

Otherwise, I

[2014-01-23 17:16] marcelosizer commented on #2399
What about the js files? For instance this is from `inventoryCtrl.js`:

[code]

[2014-01-23 17:18] extrajordanary commented on #945
@jon It's awesome! I love the water dripping from the arms. One thing though, I think the water splashes on the outside should be going up and away from the creature (assuming that my interpretation is correct: he rises up from beneath the water and those are the mini waves he caused?) also if he popped up fast enough to make such big splashes then there would probably also be tiny little water dr

[2014-01-23 17:19] paglias commented on #2399
I forgot about that... env.t is avalaible as a global object in the browser
and translations are loaded there too so we can translate those as well.
Should we do them before splitting?

[2014-01-23 17:26] marcelosizer commented on #2399
I can split it first and then create separate .json files for the .js files. That way people can start translating as there's already a lot to translate.

[2014-01-23 17:47] MarsEnyalios commented on #942
@HanjiVi -- They're really cute! However, many of them seem kind of . . . transparent. The lighter ones are rather hard to look at (for me, at least). For the really pale ones (blue and pink) I would darken up the outlines a bit more . I think almost all the ears need to be darked up. And maybe if they were just slightly bigger? They seem super small for some reason. (Also, I think they need to fa

[2014-01-23 18:30] BlackSphinx opened #2534 "Dailies are completely messed up"
Last night when I went to bed, all of my daily tasks were checked off. The first three of them were on large streaks - 18 if I remember correctly, since I have managed to do them every day since I joined. The fourth should have been on a streak over 8. Today I get on and I take a 1.8 HP penalty, see that two of those 18 streaks have been reset to 2, see the fourth streak has also been reset to 2,

[2014-01-23 18:52] richardschembri opened #2535 "Paypal button redirects to an empty page"
When clicking on the "buy now" button of the paypal option it simply redirects into an empty page "about:blank"

[2014-01-23 19:25] jatheism commented on #945
@extrajordanary thanks for the notes - I'll see what I can do to correct the physics there.

Here is a new one.  I think my next pic will be something more out there, less standard.

![crazywitch](https://f.cloud.github.com/assets/6412366/1988114/e47e1db2-8463-11e3-86af-bd3701c0308a.PNG)

[2014-01-23 20:04] ozziefallick commented on #1485
I'll take a crack at the ICS export, but if I end up being a deadbeat again feel free to toss it to someone else. I assume we want it in APIv2?

[2014-01-23 21:08] zoebeagle commented on #2532
You should be able to open XML in pretty much any browser, but the data might not be very useful for you.  CSV you should be able to load into Excel or another spreadsheet program.  You might need to open the spreadsheet program first, then Open (or import) from there.

[2014-01-23 21:12] zoebeagle commented on #2535
I can confirm this is happening in Chrome - Windows 7.
Looks like something wrong with [object Object] not getting resolved:

`<form method="post" action="https://www.[object Object].paypal.com/cgi-bin/webscr" class="paypal-button ng-pristine ng-valid" target="_top">`
and
`<input type="hidden" name="env" value="www.[object Object]"><input type="hidden" name="custom" value="?uid=e09e3b3c-a2ac-4a01-

[2014-01-23 21:15] colegleason commented on #2535
There is an issue where the `env` for Paypal button is being concatenated
incorrectly. I have not figured it out yet.

On Thu, Jan 23, 2014 at 3:12 PM, zoebeagle notifications@github.com wrote:

##

Cole Gleason
Student, University of Illinois at Urbana-Champaign
Computer Science, Class of 2015
cg@colegleason.com | colegleason.com

[2014-01-23 22:50] crashrampage opened #2536 "Non-breaking space errors on character build view"
Under the 'Character Build' section on Stats & Achievements, there's a &nbsp; that prints out in plaintext, and a few more places where I suspect there's supposed to be a space, but there isn't one ('Class:Rogue' and 'Unallocated Points0').

This happens with Firefox and Safari under OSX, as well as Firefox under Linux.

![screen shot 2014-01-23 at 5 44 26 pm](https://f.cloud.github.com/assets/648

[2014-01-23 23:00] sketchyj commented on #945
So what art is needed? I'd love to make something but I can't find a list of current needs at all. I tried the trello page, but my computer hates trello and it didn't help.
Thanks!

[2014-01-23 23:39] deilann commented on #2530
Hokai, so this has been talked about, and it is definitely a thing that is wanted, not just by you, but by hRPG. The only issue is in implementing it. But it will happen!

Further thoughts: Sharing gives a small gold bonus. Not only would this increase the number of shares, which is good for the site, but sharing increases accountability, which is crucial for forming habits. Drawbacks: people coul

[2014-01-23 23:52] Arigator commented on #2532
Thanks for your reply! I tried to import it with the free Excel alternative "Libre Office Calc" so far. The import of the .CSV works, but this file only contains habits and dailies, no ToDos! The import of the .XML does not work at all. When I try to open the .JSON file in Calc, it gets opened in "Libre Office Writer" instead (the "Word" alternative) and yes, all the completed ToDos are there but

[2014-01-24 00:04] MarsEnyalios commented on #945
@sketchyj There's not actually so much of a "list" for most things--or at least, that's how it seems to me. There are a few things on Trello, but all of them have been done/claimed in the way of bosses. The way I think it works for right now is you just come up with something and post it? A few people are doing that, anyways.

[2014-01-24 00:16] marcelosizer commented on #2536
@crashrampage I believe this one has been fixed. Did you find more?

[2014-01-24 01:09] ghost commented on #2517
We should probably also set up a redirect for the old URL.

[2014-01-24 01:12] deilann commented on #2517
Agreed. I'd suggest creating a redirect for the old URL, then creating a redirect called just "The Archery," which would be what's linked to instead on the sidebar so that it's easier to Markdown.