[2015-10-26 08:04] #6099 closed, assigned to nobody

[2015-10-26 08:06] badgerwizard commented on #6097
Hi, the invitation has come back, should my party mate and I clear our caches?

[2015-10-26 09:20] Alys commented on #6097
I've cleared the invitations again in the database, but yes, it might be best if you do clear your caches, and also clear local storage for habitica.com (google for how to do that for your types of browsers because it can be different than clearing your cache).

[2015-10-26 10:14] Thor333 opened #6108 "Nothing displays"
Hi guys,
For me it's a huge issue, nothing happens on any browser i try.

With https://habitica.com/
it's an «Application Error An error occurred in the application and your page could not be served. Please try again in a few moments.If you are the application owner, check your logs for details.»

with https://habitica.com/static/front with a incognito mode
it's a blank page, but with lots of sour

[2015-10-26 10:15] Alys commented on #6108
Yes, I'm sorry, our database has crashed so the site is unavailable. We've asked the company that hosts our database to investigate.

[2015-10-26 10:18] Alys opened #6109 "Habitica unavailable 26 October - "Application Error" (database outage)"
**EDIT: The problem described below has been fixed. Habitica's website and mobile apps should be running normally but we are continuing to monitor them.**

---

The Habitica website and mobile apps are currently unavailable due to a database outage.

We have asked the company that hosts our database to see if there's anything they can do to get it running again.

The website will be displaying an

[2015-10-26 10:22] Alys commented on #6108
I've opened an issue describing the problem: https://github.com/HabitRPG/habitrpg/issues/6109

We'll post all updates to that.

Once again, I'm really sorry! We and our database company are doing everything we can to get the database working again.

[2015-10-26 10:22] #6108 closed, assigned to nobody

[2015-10-26 10:26] Alys commented on #6109
We've heard back from our database company. The database has been restarted but its indexes need to be rebuilt. That's happening now but it will take a while. After that's finished, other actions might be needed.

The fix is progressing but we don't yet know when the site will be back up.

[2015-10-26 10:32] Alys commented on #6109
It's looking like there'll be no data loss, or at worst we'll have lost the most recent minute or two of data.

[2015-10-26 10:38] Mr-Kumar-Abhishek commented on #6109
Good news. I was using it when it happened.

[2015-10-26 10:56] Alys commented on #6109
The process to rebuild the database's indexes is about halfway through. We're estimating another half hour for that, and then some additional time after that to apply a patch that should stop this problem happening again.

[2015-10-26 11:18] pierreozoux commented on #6109
What is your database provider and the size of the database? (just for the record?)

Thanks for your work :)

[2015-10-26 11:35] Alys commented on #6109
Our database provider (mongolab) is estimating that there's still another 35 minutes before the indexes are rebuilt. There'll be a bit more downtime after that for patching.

[2015-10-26 11:50] Alys commented on #6109
The database index has finishing being rebuilt! We're now applying a patch to prevent this happening again.

[2015-10-26 11:51] paglias commented on #6109
and then came back again

2015-10-26 12:50 GMT+01:00 Alys <notifications@github.com>:

--
Matteo Pagliazzi - paglias.net

[2015-10-26 11:57] paglias commented on #6109
The site is up and running again. Let us know if you experience any other issue

[2015-10-26 12:06] Alys commented on #6109
Many thanks to the people at [mongolab](https://mongolab.com/) who helped us through this and we SO responsive to our emails!

[2015-10-26 12:46] ladynthread opened #6110 "Party activity didn't sync (dailies did)"
My party activity didn't sync at cron but my dailies did.  I tried to sync at cron from my Nexus7 tablet just shortly after my cron time (EST) using android chrome browser (not android app) and at that time I received the Application Error message so I waited until I could use my laptop.  However, now that I've tried syncing on my laptop (Windows 7 and tried both Chrome and Firefox) the last days

[2015-10-26 12:47] Alys commented on #6110
Can you please tell us what party activity you're referring to?

[2015-10-26 12:49] Ainoah opened #6111 "drop of 'undefined'"
Hi,

I had a bug in my account, "Error cannot set property 'drop' of undefined".

I don't know what it means. I've reached the level 60 when casting a spell and that bug came. I've reloaded my page to see if it continued to appear and it did.

I'm uploading the image of this here.

Thanks a lot for your hard work ! (and sorry for my english)

![erreur habitica](https://cloud.githubusercontent.com/

[2015-10-26 12:51] ladynthread commented on #6110
The one that applies the daily damage to the quest.

[2015-10-26 12:55] Alys commented on #6110
Sorry about that! It's probably a side-effect of this bug: https://github.com/HabitRPG/habitrpg/issues/6109

The bug has been fixed now so your quest progress should be reported normally tomorrow.

[2015-10-26 12:55] #6110 closed, assigned to nobody

[2015-10-26 12:56] crookedneighbor commented on #6111
This is a duplicate of https://github.com/HabitRPG/habitrpg/issues/4986

You can follow the advice at the top of the issue as a work-around.

[2015-10-26 12:56] #6111 closed, assigned to nobody

[2015-10-26 13:00] ladynthread commented on #6110
No problem, I was afraid of that but wanted to report in case it wasn't.  I'll check back tomorrow if it hasn't resolved.

[2015-10-26 13:17] Auleliel commented on #5997
@Dewines Ah, yes, that was me having trouble joining the Fight Back Against Depression challenge. I tried to join a similar challenge that only had 30 people (the #$%& You, Depression! challenge in The Chronic Illness Guild), but got the same error message.

[2015-10-26 17:24] UtterlyWeird commented on #4313
I wrote this last night in the newbie guild:

Could someone please explain to me why most of my dailies never showed up to be clicked today? I've cleared cache, hit sync more than once, and checked the settings on them. I also noticed that a pet I'd hatched yesterday was reverted back to egg and potion this morning. -15 hours ago+1

I use the latest Firefox, on a PC, and I never use any other devi

[2015-10-26 20:48] lemoness commented on #5979
That sounds good to me!

On Tue, Oct 20, 2015 at 3:53 PM, Blade Barringer notifications@github.com
wrote:

[2015-10-26 23:17] #6109 closed, assigned to nobody

[2015-10-27 02:35] kylestratis commented on #5542
@SabreCat is there any reason to remove the invitations object? I just tested it, and it seems like it is still used. If it is still being used, I can remove the FIXME comment to prevent further confusion.

[2015-10-27 02:43] crookedneighbor commented on #5542
Looking at the git history, it looks like that FIXME comment has been there for a very long time, I bet we've lost context on what the FIXME was actually referring to.

[2015-10-27 04:34] nicolevonvon commented on #2044
Hi, has this text been confirmed? It's the last task that hasn't been worked on in entry-level-coding and since I haven't worked in the environment yet I'd really like to tackle something basic before something more meaty...

[2015-10-27 06:56] MrFifths opened #6116 "Unable to tick off dailies (website down?) resulted in loss of hp..death...loss of lots of gold"
my fiance couldnt tick off her dailies yesterday because both her app and the website was being very buggy (was the same on my phone and pc)...she ended up losing a level and a bunch of items/gold as a result. Is there anything we can do about this?

[2015-10-27 07:30] MaidM commented on #6116
Same problem here!  I run Habitica across 4 devices - 2 iOS, 2 laptops.  Everything was showing correctly completed on the laptop, but not on the iPad.  None of my day's progress was showing there even after I logged off, removed the app, went back out to the laptop, completed another daily, went back to the tablet, reinstalled the app and relogged on.  Now my entire party is dead as a result and

[2015-10-27 07:47] NessaP commented on #6103
Though I had done all my tasks yesterday, I have taken damages today. Plus two of my tasks appeared to be already done when I logg on this morning...

[2015-10-27 07:55] Alys commented on #6116
@MrFifths We're sorry about the outage! You can read about it in [this issue](https://github.com/HabitRPG/habitrpg/issues/6109) if you would like to know the details. Your fiance can use Settings -> Site -> [Fix Character Values](http://habitica.wikia.com/wiki/Fix_Character_Values) to restore her level and gold, and enough extra gold to buy back the equipment lost. Settings is the gear-shaped icon

[2015-10-27 07:55] #6116 closed, assigned to nobody

[2015-10-27 08:07] Roberic opened #6118 "Rogue spell without effect"
Hello,

today, I cast Tools of the Trade on my party various times. (Yes, I had an awful long To-Do-List, but did it, yeah!). The problem is, it seems to have affected my Perception, but not the party's. Just the last spell raised their Perception somewhat, but not the ones before that.
Is there anything we can do about this?

I'm using Firefox on Win 8.1. My API is bf1ff7b3-7ff9-4a97-b067-57ccbd3

[2015-10-27 10:04] Alys commented on #6118
Can you tell us what you or your party members noticed that makes it seem that the skill wasn't applied to them?

Note that if their cron ran after you cast the skill before they had a chance to look at their perception, they wouldn't have noticed the buff. Could that explain it?

[2015-10-27 10:08] Alys commented on #2044
@nicolevonvon It might be best to wait for final confirmation for this one, but you might like https://github.com/HabitRPG/habitrpg/issues/5979 which is ready to be worked on.

[2015-10-27 10:48] fghber commented on #5997
Suffering from the same issue when I try to join the Challange "10 Habits You Should Do Every Day."
Can you add me manually to that challange or is it over or something?

[2015-10-27 10:51] fghber commented on #5997
Sorry, forgot my UID: 2379dd46-aaf9-4b95-80fe-cd89f62e5864

[2015-10-27 11:16] nicolevonvon commented on #5979
I've been directed here from #2044, which seems to be awaiting further feedback. Can I pick it up?

[2015-10-27 11:16] nicolevonvon commented on #2044
Thanks Alys will do so!

[2015-10-27 11:17] crookedneighbor commented on #5979
Feel free to pick it up.

[2015-10-27 11:23] Roberic commented on #6118
My perception increased but not that of the party. The difference was quite easily noticeable as their perception was still their basic perception after I cast the spell nine times. Only after the tenth time it finally went up. Our mage was online while trying it and had notified me about it actually, as, of couse, I thought everything was alright when looking at my skill rate.

[2015-10-27 11:47] Roberic commented on #6118
Strangely, our warrioress just looked at her perception and hers has gone up now, too. But the mage had even relogged. Could there be some delay somehow?

[2015-10-27 14:41] nivl4 commented on #4737
it seems @paglias fixed this in fc9d0775ab5ec94d7079ee510c3ca1b3f8a84125 , e75d3547c50b4a21b0606ac9be5d5300190c6116, close this issue or more work needed?

[2015-10-27 15:12] paglias commented on #4737
@nivl4 yes, it's fixed!

[2015-10-27 15:12] #4737 closed, assigned to nobody

[2015-10-27 15:16] nivl4 commented on #1402
Is this still open? or already fixed?

[2015-10-27 17:29] crookedneighbor commented on #1402
Yes.

[2015-10-27 20:25] nicolevonvon commented on #5979
Changes made and pull request created.

[2015-10-27 20:34] ghost opened #6124 "Cursor stuck as 'scrolling down' cursor"
Sometimes when I load the main page, my cursor is stuck in the 'down direction' scrolling. (Something like this: http://cdn3.howtogeek.com/wp-content/uploads/2008/03/270x238ximage136.png.pagespeed.ic.otxzs_VmdR.png but only with down, not with up).

This usually happens when there are notifications or quest redemption. It does not go away with refreshing, but will if I close the window, then open

[2015-10-28 00:04] nelle013 opened #6125 "Application Error. Site not loading. Server Issue"
I tried to reload my page when my tasks weren't syncing, but it says Application Error and won't even load the page on Safari, Chrome, and the app says Application Error. Please fix... just started a quest!

[2015-10-28 00:47] crookedneighbor commented on #6125
We've restarted the app. Are you still experiencing issues?

[2015-10-28 01:16] nelle013 commented on #6125
Nope all working! Thanks!!

Janelle Rowe
School Psychology Student
University of Alabama
(585) 727-8433
Sent from my iPhone

[2015-10-28 01:18] #6125 closed, assigned to nobody

[2015-10-28 01:23] Tsuruga opened #6128 "Lost Gems after hitting refresh"
Hi,

I have lost 15 gems after I hit refresh on the website.

So today I have bought 45 gems by 900 golds from the market. Then I bought the November 2014 Sets of Theme for 15 gems, and I had 30 gems left,

Then, after I hit refresh, I saw I only have 15 gem left. I have back the 900 golds I used to buy 45 gems, but there is no more gem available in the market for me to buy from.

My User ID is: 3

[2015-10-28 02:27] Rorikins commented on #3160
I'm having the same issue but it won't resolve with a reload/refresh browser. I'm using Chrome.

[2015-10-28 02:28] Alys commented on #3160
close all browser windows and reopen them.

[2015-10-28 02:32] Rorikins commented on #3160
That worked! Thank you!!

[2015-10-28 05:16] nicolevonvon commented on #3517
I'd like to try work on this since it hasn't been worked on for a while.

[2015-10-28 07:59] lamachine opened #6129 "Short lived error message in Chrome, about being unable...blah blah... drop... Could not copy the rest"
e699f7e2-a640-4315-86e2-dde7dd02bfb1
Gave me a new quest window that I could not click through (later or invite).  Reloading the page repeated the error.

https://habitica.com/api/v2/user/class/cast/fireball?targetType=task&targetId=a502b897-6440-4ab0-999a-a83f82990915 Failed to load resource: the server responded with a status of 500 (Internal Server Error)
app-d19051ed.js:36
Object
config: Objec

[2015-10-28 08:01] Alys commented on #6129
Please see this issue: https://github.com/HabitRPG/habitrpg/issues/4986

If that's not it and it's still happening, comment here and we'll reopen this but I'm afraid in that case we will need the full error message. If you have a screenshot facility on your computer, you might be able to catch an image of it in time.

[2015-10-28 08:01] #6129 closed, assigned to nobody

[2015-10-28 08:42] Alys commented on #6128
I've given you back the 15 gems. Comment here if there's any further problems related to them.

[2015-10-28 08:42] #6128 closed, assigned to nobody

[2015-10-28 11:21] LB7979 commented on #4252
My Party finished Vice pt. 2 recently but some people didn't get the "Quest completed" pop-up, or, more importantly, the rewards. @Alys could we please get the rewards manually? Those who didn't get the rewards are:

Alantroll 29886e1f-deae-4363-a893-d2fcecf6727c
Atmosa 2c52be20-9241-4ca0-901b-dd60bb7f8207
EmanonSuomynona 8cb48592-37f4-4925-a1fd-9b030f6d8619
Fruit Punch Samurai a76d9a36-ac2d-4f3c-

[2015-10-28 11:36] WhitneyFox opened #6130 "I mysteriously Died with 33 health left"
When I went to bed last night I had 33 health left. I had 4 incomplete items (all bright blue so less than a health point each). I'm fighting Octothulu so I was expecting to lose 8 health points last night, but this morning I opened Habitica and it said I died and my wand broke. Can you look into this to verify why I died and if I did anything wrong, missed anything, or if this is related to the r

[2015-10-28 11:45] crookedneighbor commented on #3517
Go for it.

[2015-10-28 11:46] #5979 closed, assigned to nobody

[2015-10-28 11:50] Alys commented on #6130
At a guess it will be either because of [this bug](https://github.com/HabitRPG/habitrpg/issues/4313) causing your Dailies to not be recorded as completed (see the Advice section near the top; if your Dailies have lost their streaks, or have only very small streaks, then that bug would have happened), or because of damage from your party mates's missed Dailies (go to your party chat and click "Fetc

[2015-10-28 11:50] #6130 closed, assigned to nobody

[2015-10-28 11:53] Alys commented on #4252
@LB7979 I've fixed that for you all. Please tell me if anything still isn't right. You might all need to reload the website before you see the changes.

[2015-10-28 12:23] hartalex opened #6131 "Cron fail"
My Cron failed last night.  Just an FYI if you are keeping track of these.

[2015-10-28 14:35] LB7979 commented on #4252
Thank you!

[2015-10-28 16:20] DisbelievedMonK commented on #4595
Same thing.
Morning: HabitRPG on Android 4.0.4. Checking some Dailies and Habits.
Day: Google Chrome on PC. Checking Dailies, Habits, and To-Dos. Adding and editing tasks, using skills, getting new level, spending attribute points. So, I did quite a lot of things.
Evening: Google Chrome on another PC. Everything, what I did since the morning is gone. No new tasks, no gold, no new level. Everything

[2015-10-28 17:33] lamachine commented on #6129
Exactly the problem I was having, I will clear my cache, but it was at a level-up, using a skill, and with a scroll drop.  Thanks.  
      From: Alys notifications@github.com
 To: HabitRPG/habitrpg habitrpg@noreply.github.com
Cc: lamachine lamachine.geo@yahoo.com
 Sent: Wednesday, October 28, 2015 1:01 AM
 Subject: Re: [habitrpg] Short lived error message in Chrome, about being unable...blah blah.

[2015-10-28 19:19] JustTeaForMe opened #6132 "Mystic Hourglass Problem"
I have been a member for almost two years now. And a while back I had purchased the 12 month subscription. I cannot recall ever receiving an hourglass for consecutive months except from switching my subscription from monthly to yearly. So I have kept an eye out for hourglasses.

Maybe I am not understanding the process of how it works, but on the Time Traveler's Page it says, "You'll need a Mystic

[2015-10-28 19:19] JustTeaForMe opened #6133 "Mystic Hourglass Problem"
I have been a member for almost two years now. And a while back I had purchased the 12 month subscription. I cannot recall ever receiving an hourglass for consecutive months except from switching my subscription from monthly to yearly. So I have kept an eye out for hourglasses.

Maybe I am not understanding the process of how it works, but on the Time Traveler's Page it says, "You'll need a Mystic

[2015-10-28 20:06] danlitwin commented on #5997
I, too, am having this error trying to join the ["I'm awesome"](https://habitica.com/#/options/groups/challenges/f5469002-b21d-4657-8450-2d194e846a73) challenge. (Which I thought I was actually in, but may have experienced this before and forgotten about it.) Please add me manually if necessary, or ask me anything that can help you track down the bug. Thanks!

User ID: 0569c2d4-f59d-4bab-a4e7-1df9

[2015-10-28 20:20] Alys commented on #6103
@Tenerezza We're working on a workaround for the daylight saving problem that will be in place by 1 November.

@NessaP You were probably affected by [this bug](https://github.com/HabitRPG/habitrpg/issues/4313). There's an Advice section near the top that will help you recover from the unfair damage.

[2015-10-28 20:20] #6103 closed, assigned to nobody

[2015-10-28 20:35] Alys commented on #6133
I'm closing this as a duplicate of https://github.com/HabitRPG/habitrpg/issues/6132

[2015-10-28 20:35] #6133 closed, assigned to nobody

[2015-10-28 20:36] Alys commented on #6132
Can you please tell us your user ID so that we can identify your Habitica account? To find your User ID, go to Help -> Report a Bug and see step 6 of the instructions.

[2015-10-28 20:41] Alys commented on #4595
@DisbelievedMonK I'm sorry about that! It must have been frustrating. You were hit by this bug: https://github.com/HabitRPG/habitrpg/issues/4313
In brief, the PC you were using during the day was holding on to all your changes instead of sending them to Habitica's server, which means that they were never permanently recorded. If you reload that PC a couple of times, it is possible, although not ce

[2015-10-28 20:41] #4595 closed, assigned to nobody

[2015-10-28 20:42] Alys commented on #6131
Can you give us some details about how it failed? For example, did it not run at all? Did it run twice? Did it run at the wrong time? Did it run but some of the things it should have done did not happen? Did something else go wrong?

[2015-10-28 20:48] hartalex commented on #6131
It's like it half ran,  I completed all of my dailies, however only half of them reset.  I'm also doing a quest, so we took damage for the dailies that didn't reset. The dailies that did reset did end up damaging the boss.

[2015-10-28 20:49] hartalex commented on #6131
The dailies that didn't reset were checked and I had to uncheck them manually.

[2015-10-28 20:57] Alys commented on #6131
Thanks @Vorgone. That wasn't actually cron failing. You were hit by this bug: https://github.com/HabitRPG/habitrpg/issues/4313
In brief, when you ticked off your Dailies yesterday, your browser had not sent those actions to the server for permanent storage, and then after your cron ran, it did send the actions, causing the Dailies to be incomplete when cron ran and then completed afterwards.
There

[2015-10-28 20:57] #6131 closed, assigned to nobody

[2015-10-28 21:42] noppanit commented on #6093
Yes that solved the problem and also did `no-bin-links` for `npm install` as well. I'm going to close the issue now. Thanks.

[2015-10-28 21:42] #6093 closed, assigned to nobody

[2015-10-28 21:47] Alys commented on #5997
@fghber We're having some trouble adding you to that challenge (eef51c7c-3d99-405a-a662-2bd4744f9b54) but we'll keep trying.

@danlitwin You should be in that challenge now. Let us know if that's not the case.

[2015-10-28 22:27] WhitneyFox commented on #6130
Thanks Alys.
That bug does seem to be the issue. I only play with myself in the party, so thankfully this didn't affect anyone else.
I've reset my HP to 33 and gold to 3 as I remember those stats, but the XP I just guessed at as I knew I was approaching leveling, but didn't know the exact amount.
Is there anyway to get the wand back without repurchasing it, as I technically didn't die and it there

[2015-10-28 22:38] Alys commented on #6130
You can give yourself extra gold to buy back the wand.

[2015-10-28 22:55] BanktownUSA opened #6134 "Can't leave the Inn"
I've tried for weeks to log out of the tavern and each time the tavern screen shows that i log out, but the little zZZ don't disappear and when i return to main page it still has the little yellow box telling me i'm resting in the Inn. I've logged out, refreshed, synced etc nothing seems to work.

7a64f655-6147-40a1-8ca5-6634279e0516

Using Chrome and Mac OS X version 10.7.5

[2015-10-28 23:02] Alys commented on #6134
I've taken you out of the Inn.

However it's not impossible that something in your browser is caching the Inn and it might put you back in. Comment here if that happens. Also, try using a different browser, or incognito mode in the same browser, or clear local storage in your browser (that's different than cache and cookies).

[2015-10-29 01:11] lemoness commented on #2523
Elaborating on the idea of using it as a log-in incentive... what if you
got a pop-up at the beginning of the day saying "these buffs are waiting
for you! Click to apply" or something along those lines. That way, it would
be more obvious. However, I would find such a pop-up annoying throughout
the day.

However, I do have some concerns with this. I assume that this would only
apply to buffs, not h

[2015-10-29 01:37] crookedneighbor commented on #2523
So, currently, if someone cast a buff at 11pm, it would be applied immediately and disappeared after the user's next cron. So the user could only get the benefit in the hour before their cron, and if they didn't log in at all, they wouldn't get it at all.

What if instead, someone casts a buff at 11pm, if the user logs in before 11, it acts as normal. Lasts till the next cron. If they didn't log i

[2015-10-29 01:42] veeeeeee commented on #2523
@lemoness I imagined that healing behavior would remain the same, as we haven't had complaints on those and they already act differently from buffs. Not sure about transformation items--if we were to convert transformation items to this system as well, I'd imagine it would be less "spell casting" and more "someone left a magical spell-bomb just for you".

As for login-incentive, maybe the option t

[2015-10-29 02:02] JustTeaForMe commented on #6132
Sorry, it is 346d6f99-5fa7-4f05-bed8-39949732e5e4

[2015-10-29 03:00] kanabe commented on #5997
Hi there!

I posted in the other thread about this issue awhile back: https://github.com/HabitRPG/habitrpg/issues/1471 hoping someone would add me onto the challenge, but I didn't know another thread was made. I'm still having the same problem to join this challenge: https://habitica.com/#/options/groups/challenges/eef51c7c-3d99-405a-a662-2bd4744f9b54

I've refreshed, and tried joining it on Mozil

[2015-10-29 03:15] Alys commented on #2523
For avatar transformation buffs, when I cast them, I want to see them take effect immediately. Usually I'm transforming the whole party at once for a consistent effect. My party mates often do the same thing.

[2015-10-29 06:41] DisbelievedMonK commented on #4595
@Alys Oh, I didn't find that post, when I tried to search for this bug.
Yep. I'm at my work PC now (which I used during the day yesterday), and all progress came back. And that's good. I already checked again all my tasks at home last night, so I've got double rewards, and that's no really good. But thanks for help anyway.

[2015-10-29 06:57] Alys commented on #4595
The Advice section talks about using Fix Character Values to adjust your stats. You can use that to remove the estimated double rewards.

[2015-10-29 09:02] veeeeeee commented on #2523
@Alys Yes, that makes sense.

In any case, my proposed solution was specifically responding to the problem of buffs wearing off at cron. I'm not sure how many parties out of the total population have this issue. Also, I imagine that the buff-pot solution would get very annoying for solo partiers, unless they tend to mostly stick to individual and not party buffs.

[2015-10-29 12:03] Alys commented on #5997
@kanabe Sorry, we missed that. I'll handle your request in that issue.

@fghber I'm very sorry, I can't get you into that challenge. I've tried several times but it looks like it's just too large now.

[2015-10-29 12:03] #5997 closed, assigned to nobody

[2015-10-29 13:37] hattieshoe opened #6135 "Bought gems with PayPal but they never showed up"
On Monday Oct 26 I bought 20 gems through PayPal. The transaction went through in PayPal, but when I would normally have been redirected back to Habitica and my gem number would have been updated, I got an "Application Error" message instead. I received a confirmation email from PayPal, but not the usual one from Habitica. A few minutes afterward, I noticed the Habitica site was having trouble loa

[2015-10-29 15:19] cosmiclaurel opened #6137 "Lost all (50) health overnight and now my dailies are not resetting"
I don't think I should have lost all 50 health in one night, but regardless, my dailies are not resetting. Many of them are grey with the black checkmark.

[2015-10-29 16:14] Alys commented on #6137
I'm sorry about this! You were hit by this bug: https://github.com/HabitRPG/habitrpg/issues/4313 Please see the Advice section near the top for how to recover from it.

[2015-10-29 16:14] #6137 closed, assigned to nobody

[2015-10-29 17:25] #2711 closed, assigned to nobody

[2015-10-29 18:04] bunnyplanet opened #6139 "closed dialog boxes, now can't feed pets"
I was feeding a pet today when I noticed that in the box where it says something like "do you want to feed the cotton candy to your pet" there was a checkbox saying something like "close additional dialog boxes."  I thought this meant it would stop asking me the question in future, so I clicked it. It seemed to work for a time or two, but then trying to feed the pet, or any other pet just stopped

[2015-10-29 18:36] SabreCat commented on #6139
Close your browser and reopen it. You'll then start seeing the prompts again!

[2015-10-29 18:36] #6139 closed, assigned to nobody

[2015-10-29 19:49] Alys commented on #6135
I'm very sorry hattieshoe! The email had been filed away in our email system and so I only found it when went searching there for your user ID. I'll reply there soon.

[2015-10-29 19:49] #6135 closed, assigned to nobody

[2015-10-29 19:55] hattieshoe commented on #6135
Thank you very much! :-)

[2015-10-29 20:34] Alys commented on #1471
@UnexpectedMushroom You're now in that challenge.

@kanabe I'm sorry, that challenge is too large for even admins to add you to it.

[2015-10-29 20:35] #6134 closed, assigned to nobody

[2015-10-30 00:45] UnexpectedMushroom commented on #1471
Thank you ^^

Date: Thu, 29 Oct 2015 13:35:03 -0700
From: notifications@github.com
To: habitrpg@noreply.github.com
CC: riverstone@live.com.au
Subject: Re: [habitrpg] "Error request entity too large" - can't join / leave / edit / end challenge or guild (#1471)

@UnexpectedMushroom You're now in that challenge.

@kanabe I'm sorry, that challenge is too large for even admins to add you to it.

—
Repl

[2015-10-30 04:58] Roberic commented on #6118
So no idea?

[2015-10-30 05:05] Alys commented on #6118
It's most likely this bug: #4313
Your browser was seeming to cast the skill, making your own stats seem larger, but it wasn't sending your actions to the server, so they had no effect on your party.

However we'll leave this open for a while to see if anyone reports anything similar, in which case it might be a separate bug.

[2015-10-30 10:49] Thrashmandicoot commented on #5446
I made a pull request with the fixes and changes. Please review :) :metal:

My apologies for the delay, moved, switched computers, and needed to re-setup all my environments.

[2015-10-30 11:33] CleberDSantos opened #6142 "Error when selecting an equipment"
when selecting an equipment displays an error message, follow the pintscreen
![error-habitica](https://cloud.githubusercontent.com/assets/1626423/10844736/39774844-7ee9-11e5-823f-8fce05dd8980.png)
![error-habitica-console](https://cloud.githubusercontent.com/assets/1626423/10844737/3ba9c22c-7ee9-11e5-8e9f-edbf1ae461b7.png)

[2015-10-30 11:36] CleberDSantos commented on #6142
my user id: 0240b278-6591-4b2d-8339-6c6e0ebb4998

[2015-10-30 11:37] Alys commented on #6142
There's application errors across the site intermittently. We're rolling back some recent changes to see if that improves matters. Please try again in a few minutes, and if it's still giving you errors, try again in an hour or two. We're continuing to monitor the site so we'll definitely get this fixed soon.

[2015-10-30 11:37] #6142 closed, assigned to nobody

[2015-10-30 13:02] joezimjs opened #6143 "Service Unavailable"
I'm consistently getting Service Unavailable errors. Here is the exact error object:

[code]

[2015-10-30 13:47] crookedneighbor commented on #6143
Thanks for reporting this, we did some upgrades to our node dependencies, but it introduced instability so we rolled back the release and things should be back to normal now. I'm closing this, but if you're still getting errors after refreshing your browser, feel free to re-open it.

[2015-10-30 13:47] #6143 closed, assigned to nobody

[2015-10-30 14:22] joezimjs commented on #6143
Nope it looked good right after I finished posting this :stuck_out_tongue:

[2015-10-30 15:19] crookedneighbor commented on #683
Do to some breaking changes coming up with V3, we can't consider this feature request at this time.

[2015-10-30 15:19] #683 closed, assigned to nobody

[2015-10-30 15:56] sgabler opened #6146 "Deleting a reward asks you if you want to delete the *task*"
![image](https://cloud.githubusercontent.com/assets/3625477/10850649/1c2fe104-7f27-11e5-9eb3-c96c1d14a0f6.png)

The text should read "Are you sure you want to delete this reward?"

_EDIT by Alys 2019-08-29:_
See https://github.com/HabitRPG/habitica/issues/6146#issuecomment-523241278 for the current status of this bug and the desired fix.

[2015-10-30 19:24] lemoness commented on #4618
The art for the currently completed Mount Heads is found on this Trello
card:

https://trello.com/c/8b70B8V6/36-mount-heads

I will post here as more are completed.

The ones that can currently be implemented are:

Cobras - @Rbrinkley

Roosters - @rbrinkley

Whales - @Rbrinkley

Gryphons - @rbrinkley

Tigers - @zorella

Rare Mounts (Polar Bear, Mantis Shrimp, Turkey, Mammoth, and Orca) -
@zorella

[2015-10-31 01:49] raj05041995 opened #6148 "Raj"
importabt

[2015-10-31 01:50] raj05041995 opened #6149 "Facebook"
facebook

[2015-10-31 01:55] crookedneighbor commented on #6148
I'm assuming this was opened by mistake. If it wasn't a mistake, please fill in this issue with details about the issue you're experiencing.

[2015-10-31 01:55] #6148 closed, assigned to nobody

[2015-10-31 01:55] crookedneighbor commented on #6149
I'm assuming this was opened by mistake. If it wasn't a mistake, please fill in this issue with details about the issue you're experiencing.

[2015-10-31 01:55] #6149 closed, assigned to nobody

[2015-10-31 02:54] lemoness commented on #2523
Personally, I'm drawn more to Blade's idea - it seems much more intuitive.
Also, now the more I'm thinking about it, I'm worried about too many
notifications requiring actions right when you open the site, especially
considering login incentives.

On Thu, Oct 29, 2015 at 2:02 AM, veeeeeee notifications@github.com wrote:

[2015-10-31 03:16] Thrashmandicoot commented on #6146
confirmed.

line 89 tasks.json is "Are you sure you want to delete this task?"

Simple recommended fix of changing to "Are you sure you want to delete this?" since used commonly for rewards and tasks.

Other fix could be taking a json value that asks if they want to delete this 'daily', 'to-do', 'reward', etc.

[2015-10-31 03:35] Alys commented on #6146
+1 for "Are you sure you want to delete this?"

I would love it to also state the text of the item you're deleting. That would protect the user from accidentally clicking on the wrong trash can icon.

[2015-10-31 03:38] Alys commented on #2523
We'd have to define "log in" in this context in a sense that was more useful to the user than normal. If it had the normal meaning (i.e., any action taken by their account), then if they'd left their browser open while they slept and the website's automatic reload happened before cron, or if a mobile app widget refreshed itself, or Beeminder counted their To-Dos (which it does at midnight), then t

[2015-10-31 04:21] #5550 closed, assigned to nobody

[2015-10-31 10:25] Couvah commented on #1471
Hey~ I can't join these challenges. ID: 4f4af460-3bba-4381-901d-0b1a83ae62f8
I guess the reason is too much people joins it. More than 700 people joins each of them~
Can you help me?~(●'◡'●)

![1](https://cloud.githubusercontent.com/assets/15520445/10863060/5f54d6b2-7ffc-11e5-9f6c-9d0c5fb734f9.png)
![2](https://cloud.githubusercontent.com/assets/15520445/10863061/5fbb5392-7ffc-11e5-9e58-7120e54234

[2015-10-31 10:53] Alys commented on #1471
@Couvah I'm adding you to the challenges now. Please wait 15 minutes then reload the website. Tell me if you don't seem to be in either of the challenges correctly.

[2015-10-31 10:58] Couvah commented on #1471
@Alys  Oh I got it !~ Thank you very much!~ ლ(╹◡╹ლ ) HUG!~

[2015-10-31 14:35] Alys commented on #6132
Sorry about that! I've given you the four Hourglasses that you should have received when your twelve-month subscription was renewed.

[2015-10-31 14:35] #6132 closed, assigned to nobody

[2015-10-31 21:54] Midgey opened #6154 "Shiny seed and Spooky sparkles do not affect avatar"
A member of my party used "spooky sparkles" on everyone in the party, however my avatar never changed into a ghost (everyone else's did). Previously someone used "shiny seed" on me and my avatar did not turn into a flower. Both of these times a message was generated in the party chat saying the item had been used on me.

User ID: f1e7288a-67c9-47b2-8610-7fc0aa45244a
Browser: chrome
OS: Windows 10

[2015-10-31 22:04] Alys commented on #6154
Those items take effect until your next cron and then the effect disappears.

Did your party mates cast them on you after you'd stopped using Habitica for the day? If so, they would have worn off as soon as you started using Habitica the next day (when your cron ran).

Let us know if that's not the case or if you need any clarifications!

[2015-10-31 23:37] #6154 closed, assigned to nobody

[2015-11-01 01:27] Roberic commented on #6118
It seems to have sent the effect to some of the group, yet not all.

[2015-11-01 01:28] Roberic commented on #6118
So.. My apologies, I'm somewhat confused. Is there any solution or consequence to this or is this support forum just for collecting bugs?

[2015-11-01 02:03] Alys commented on #6118
It depends on the issue. For issues where we need to explain a bug or feature to the person reporting the issue, then we provide support, and a solution if there is one. For issues where we don't yet have enough information to work out what's happening, the issue is just for collecting information until we can do something with it.

When you say that some of the group was affected but not all, how

[2015-11-01 02:27] Roberic commented on #6118
Thank you for your explanation.
Please find the answers to your questions above, as in us indeed communicating our procedures.

But do I take it right that the buffs do not have a duration of 24 hours, i.e. from midnight to midnight, but just the periods in which the individual player logs in and then logs in the next day?

[2015-11-01 02:37] Alys commented on #6118
I'm very sorry but I can't tell for sure from what you've written whether you examined your party members' buffs yourself, or waited for them to tell you. You said that difference was quite easily noticeable but I'm not certain that you meant noticeable by you or by them. You said your mage and warrior had notified you about it, which implies that you waited for your party members to report their

[2015-11-01 03:29] JuniperViking opened #6155 "Costume Problem - Fall 2015 equipment / gear disappeared after it was bought"
Alys told me via the tavern to just make a new post.
I couldn't get the costume even though I first clicked about an hour and a half before midnight EST.
this:
https://twitter.com/DoranOfTheNorth/status/660658325684645888
resulted in this on refresh:
https://twitter.com/DoranOfTheNorth/status/660658428096983040

ID is 235a1cbd-48c5-41b1-afb4-59d2f8645c57
Sorry. :-/ My guild needs a healer and I al

[2015-11-01 03:46] Taratard commented on #6155
I have been having the same problem. I've been trying since like, 11:20 EST. I've been trying to buy the healer items before they go away, but it keeps refunding all my gold. My id is 1dc84bda-603a-47e6-8575-c20c98ed7f69

[2015-11-01 06:28] ghost commented on #4186
Well, I wanted to use the emoji :european_castle: but pasting in the image is too short and putting in the text is too long! Is there any way these character limits can be adjusted so that emojis work properly again?

[2015-11-01 13:22] Roberic commented on #6118
My apologies if I did not chose clear words. Thank you for your attempt to find out and explain the spellcasting, and thank you for your time.

I admit I had expected a somewhat less technical approach but that might be my personal position.

Since this becomes too time and energy consuming for me, I hereby declare this case, as far as it concerns me, closed.

[2015-11-01 13:50] crookedneighbor commented on #6118
If you feel differently later and would like to explore this some more, please feel free to re-open the ticket.

[2015-11-01 14:13] 225g commented on #1471
I tried everything and waited a month. I still can't join. My browser is Palemoon. (I can't even sign in on Firefox.) The challenge is "10 habits you should do everyday".

[2015-11-01 14:26] Mairi012 opened #6156 "Casting spells triggers boss damage"
I finished all of my Dailies yesterday, and my cron ran normally with no damage.  My cron is set to run at 10pm - I changed it to this time months ago, and it has been working fine at that time, until now.  My only suspicion is that it has something to do with my changed cron time and the fact that the seasonal time change happened last night.  But, the numbers are weird.

This morning, at about 7

[2015-11-01 14:38] shanaqui commented on #1471
@225g They'll need your user ID to try and add you to the challenge, but unfortunately @Alys already said that one is too big to add anymore people to.

[2015-11-01 15:15] jchiasson commented on #5919
Often when in a boss fight with my party it is showing that I am doing damage and receiving damage twice at once when I log in. I think it's mostly when I log in on my phone instead of computer but I'm not certain of that. Both my phone and computer have the same time zone and my roll over time is set to 12 midnight. My user ID is fb257b2d-7f49-4631-bb29-a4f90af939bc It's been happening for a whil

[2015-11-01 15:34] MlleMensonges opened #6157 "Didn't receive quest rewards"
Hello! My party and i recently beat Necro-Vice. Everyone received their rewards except me. Do you know how to fix it?
My ID is 5ceab585-e9e8-413b-aaf9-f7a92650e21c

[2015-11-01 16:47] SabreCat opened #6158 "Reward costs no longer have right side padding on Chrome"
Sometime within the last few days, the items in my Rewards column lost part of their padding, leading to a chopped-off, uneven look:

![image](https://cloud.githubusercontent.com/assets/4501321/10870014/bc0cca70-8085-11e5-9422-f924ec32af62.png)

I'm using Google Chrome on Windows 10. @Alys has reported that this issue ~~doesn't happen for her~~ also occurs in SeaMonkey, a Firefox-based browser.

[2015-11-01 17:00] ninetyd commented on #4800
I think I have a similar issue. When trying to join https://habitica.com/#/options/groups/challenges/f5469002-b21d-4657-8450-2d194e846a73 I get the following error message :"Error request entity too large". I'm using Firefox 41.0.2.

[2015-11-01 17:30] drdave00 opened #6159 "Background not granted"
User ID: a317b728-2a4f-454b-8fc2-e6e99ff42791

Hi there. I tried purchasing a background (the October swamp one), but the diamonds were taken without access to the background being opened. I was using Chrome for Android on the mobile site at the time. Thanks!

[2015-11-01 17:35] ghost opened #6160 "Cannot accept quest in mobile Chrome/iOS"
Tried to accept a quest this morning in Chrome/iOS 9.1/iPad Air. Nothing happens when I click accept and it still shows as 'Pending' in party chat. Worked fine a couple days ago and still works in Safari. Did something change in Habitica? I also upgraded iOS (but it was from 9.? to 9.1).

[2015-11-01 17:36] ghost commented on #6160
Never mind. 5th time's the charm and it finally worked.

[2015-11-01 17:36] #6160 closed, assigned to nobody

[2015-11-01 18:16] LostRalph commented on #6155
I had the same issue last night at 11:30 PM MST trying to buy the Halloween Mage set before it went away. My ID is 61342bf2-1eba-498e-a958-0cf9452863e1

[2015-11-01 18:37] supermouse35 opened #6161 "Second chron run"
A second chron ran for me today. It ran as normal at midnight, and then again around 1:00 PM today. The second chron resulted in loss of 42 health points and reset all of my daily streaks to 0. I was able to fix the problem by resetting, but not sure why it happened in the first place. I'm assuming this is related to the time change, as I see several of us have reported similar experiences in the

[2015-11-01 19:08] dirad opened #6162 "inactive user with perfect day stays buffed [sync / cron issue?]"
hi,
Fairly new to Habitica, i have a party with some ppl i found online.
One of the users have not been active for a few days, and i see they have not logged in.
Despite this fact, the perfect day buff they gained a week ago still appears in the avatar & in the stats.

Maybe no sync ?

I dont know if i should post their userID for privacy reasons.

Windows8.1 / FF 41.0.2

[2015-11-01 19:20] lemoness commented on #6155
I'm very sorry that you all experienced this problem! We're investigating it now. Rest assured that you will all get your equipment, even if we have to grant it manually.

[2015-11-01 19:31] SabreCat commented on #6155
@JuniperViking @Taratard @LostRalph: I've tweaked the availability to catch a few more time zones. Can you refresh the page and have another go at buying the equipment?

[2015-11-01 19:41] SabreCat commented on #6162
Players' accounts don't update unless they log in. What you're seeing is to be expected based on what you've described.

[2015-11-01 19:41] #6162 closed, assigned to nobody

[2015-11-01 20:19] Lyranessie commented on #1471
Help!
I can't close my challenge.
I've waited almost 4h before trying again and it is still giving the error.
I don't want any participant to be damaged beacause of it.

Challenge Name: Lumosity! October Edition
URL: https://habitica.com/#/options/groups/challenges/bf0ecb3c-6601-475b-9eee-f22f58bd0c60
Prize: 1 Gems (I'll give the +3 myself since it was supposed to be 4 gems)
Winner: Vilda a4150982

[2015-11-01 21:08] CookieDoe commented on #6155
i also have bought the set only to have it disappear last night with all my gold returned to me. (mage)
My ID is 606e5699-8694-404c-86ac-663b3daa2051

[2015-11-01 21:13] LostRalph commented on #6155
I was able to buy it, and keep it. I've refreshed the page, checked off
some habits, gone to other pages, and I still have the mage set.

Thank you for your help.
Ralph
On Nov 1, 2015 12:31 PM, "Sabe Jones" notifications@github.com wrote:

[2015-11-01 21:15] gbear605 commented on #6161
I had the same as well.

[2015-11-01 21:16] ChaoticTeal commented on #6161
Ditto. It did a bunch of damage to my party too.

[2015-11-01 21:56] SabreCat commented on #6155
@CookieDoe: As above, the items have already had their availability extended. If you buy them now you should be set!

[2015-11-01 22:25] Alys commented on #6161
I'm very sorry about this! It was because of the daylight savings change that you went through. When the time changes, it can cause cron to run a second time. You and your party members can use Settings -> Site -> [Fix Character Values](http://habitica.wikia.com/wiki/Fix_Character_Values) to restore lost health, and you can edit each Daily to fix its streak. The "Dailies History" section in  Data

[2015-11-01 22:25] #6161 closed, assigned to nobody

[2015-11-01 22:27] Alys commented on #1471
@Lyranessie The challenge has been closed and the 1 gem and achievement awarded.

@225g As shanaqui says, I'm afraid I can't help you with that challenge.
@shanaqui thank you.

[2015-11-01 22:32] Alys commented on #6159
Sorry about that! I've given you the background.

[2015-11-01 22:32] #6159 closed, assigned to nobody

[2015-11-01 22:35] Alys commented on #4800
@ninetyd What is your User ID? You can see it at Settings -> API.

[2015-11-01 22:50] Alys commented on #6157
I've given you the rewards. Please reload to see them Comment here if they still don't appear.

[2015-11-01 22:50] #6157 closed, assigned to nobody

[2015-11-01 22:52] Alys commented on #5919
@jchiasson That's this issue: https://github.com/HabitRPG/habitrpg/issues/2805. You can follow it for progress reports although currently we don't know what causes it.

[2015-11-01 22:58] shanaqui commented on #1471
@Alys I'm omnipresent, you can't get away from me.

[2015-11-01 23:08] Alys commented on #6156
I'm sorry about this! Your cron ran a second time today because of the daylight savings change. It's odd that you took no damage form your Dailies, but unless that keeps happening in future crons, we can consider it to be a once-off glitch.

Your Custom Day Start of 10pm might be causing some unexpected behaviour, because it's making Habitica treat each day as if it were yesterday, until 10pm. Thi

[2015-11-01 23:15] Taratard commented on #6155
I bought the items, and after refreshing and doing a lot of messing around with completing/creating tasks, and it's all staying! Thank you so much! :D

[2015-11-01 23:23] Mairi012 commented on #6156
Thanks, Alys.

Yeah, I'd figured out that my days were actually starting late, instead of early, and I was OK with that.

I'm not worried about this as a regular thing - it has been fine for months, and it did seem likely to be related to the time change.  On the other hand, the specific behaviour is downright weird.  Among other things, cron clearly ran three times, not just two.  And none of the

[2015-11-02 01:17] jchiasson commented on #2805
This is happening to me as well. It seems to happen mostly when I sign in from my phone but it doesn't always happen.

[2015-11-02 02:18] CookieDoe commented on #6155
how long is the extension?

[2015-11-02 02:20] CookieDoe commented on #6155
i refreshed it didn't stay

[2015-11-02 02:24] CookieDoe commented on #6155
where is the wooden plank? I thought that was only 90 coins?

[2015-11-02 02:25] CookieDoe commented on #6155
bought all again. cast healing on my team. everything left.

[2015-11-02 02:26] CookieDoe commented on #6155
i've bought everything. cast spells and then it resets.

[2015-11-02 02:33] WhitneyFox commented on #6130
Hi Alys,
It happened again. I think it's because of the day light saving time switch. The last time I had noticed a glitch in my computer where it ended day light savings early and now it happened again today with the official time change.

Not sure if that will help you assess the bug and update the code before more Habiticans are affected.
Thanks.
      From: Alys notifications@github.com
 To: H

[2015-11-02 05:10] TripleBzzz opened #6163 "unable to buy seasonal costume article"
Alys suggested I post this here - my Habitica ID is a3e90129-0929-44e7-adcd-12e152d0515d. I tried to buy the Mage's enchanted thread from the Autumn 2015 Special gear on my rewards page and kept getting a message that I could not buy it despite having enough gold.

[2015-11-02 05:11] debra-s-goldberg commented on #1471
I waited a day and rebooted my computer.  Please add me to https://habitica.com/#/options/groups/challenges/745d9160-27cb-4ec9-8327-836963658727   ID: c8fda7cd-0374-4c82-bf15-de7586a4310e  Thanks!

[2015-11-02 05:12] pierrotte opened #6164 "Bought a set using gems, only have access to one of the set items."
Hello, I purchased the hairstyle set 1, and had access to all of the options at first, but when I came back a few days later I realized I can now only use the hairstyle I'd left on my avatar, which isn't even one I particularly like. All the other ones in the set have greyed out again. Help?

I'm using google chrome on a computer running windows 7.
My user ID is: 3fe99ac8-e1e4-4f0a-baf2-4b5ddbeb2c

[2015-11-02 05:16] TripleBzzz commented on #6163
sorry - first time on GitHub - ties to #6155

[2015-11-02 05:16] #6163 closed, assigned to nobody

[2015-11-02 05:22] TripleBzzz commented on #6155
Alys suggested I post a comment here - my Habitica Id # is a3e90129-ca29-44e7-adcd-12a152d0515d. I tried to buy the Mage's enchantened thread feom my rewards page and it kept giving me the message "you can't buy this item" even though I had enough gold. and there were no other items for sale under gear/costumes

[2015-11-02 08:28] Deztiny7747 opened #6165 "Didn't receive quest rewards"
Hello! We defeated Burnout and the Exhaust Spirits today. Everyone received their rewards except me. I received the phoenix pet and mount, but not the candies. I've also noticed that sometimes when i receive candy through the mobile app, it does not appear in my inventory. Do you know how to fix it?

My ID is 709674a5-8bd5-4e90-ae97-bff149d562b8

[2015-11-02 08:30] Alys commented on #6156
Timezone maths is weird, especially when you bring custom day starts into the equation. :-/ It doesn't completely surprise me that cron ran three times. We are working on a fix, it's just a bit painful to get it right. Thank you for the bug report. I'll close it now since we have the timezone problem reported in a few other issues, but if you do notice anything similar happening when there's no ti

[2015-11-02 08:30] #6156 closed, assigned to nobody

[2015-11-02 09:27] Alys commented on #6165
Sorry about that! I've given you the food.

Regarding this:
"sometimes when i receive candy through the mobile app, it does not appear in my inventory"
If the mobile app you are using is the iOS "Habitica" app with the purple gryphon logo, please report that through Menu > About > Report a Bug

If it's the iOS "HabitRPG" app with the brown chest logo, we recommend no longer using it and using the

[2015-11-02 09:27] #6165 closed, assigned to nobody

[2015-11-02 09:44] Alys commented on #6155
@CookieDoe I've given you the Autumn 2015 Warrior weapon, which you were missing.  I've removed some of your recent comments to make it easier to track what's left to be done. :)

@TripleBzzz I've given you the Thread.

If anyone else is still missing equipment that they tried to buy while it was available, please comment here in the next couple of days.

[2015-11-02 09:51] Alys commented on #6164
Sorry about that pierrotte! I've given you the items you bought. Please reload if they don't appear straight away.

I'm closing this now but if they don't appear after a reload, comment here and we'll keep helping you.

[2015-11-02 09:51] #6164 closed, assigned to nobody

[2015-11-02 09:56] Alys commented on #6130
Thanks @WhitneyFox. It's a known problem that timezone changes can caused more than one cron in a day. We're working on a fix for it.

[2015-11-02 09:57] Alys commented on #1471
@debra-s-goldberg I've added you to that challenge.

@shanaqui We wouldn't want to. :)

[2015-11-02 10:01] Alys commented on #4800
@ninetyd I'm closing this now because we are tracking this bug in https://github.com/HabitRPG/habitrpg/issues/1471 however please do comment here with your User ID and then I will add you to the challenge you listed.

Anyone else who has this bug, please report it at https://github.com/HabitRPG/habitrpg/issues/1471

[2015-11-02 10:01] #4800 closed, assigned to nobody

[2015-11-02 10:05] Alys commented on #6158
It happens to me on Chrome 46.0.2490.80 (64-bit) on Mac OS 10.6.8

[2015-11-02 11:20] ninetyd commented on #1471
Thanks for the comment on #4800 @Alys. I can't join https://habitica.com/#/options/groups/challenges/f5469002-b21d-4657-8450-2d194e846a73. My ID is 97e0905f-cafa-44bd-848d-4816b24b5b4b.

[2015-11-02 12:03] Alys commented on #1471
@ninetyd I've added you to that challenge.

[2015-11-02 12:05] Alys commented on #6001
This was fixed.

[2015-11-02 12:05] #6001 closed, assigned to crookedneighbor

[2015-11-02 15:10] SnowmanST commented on #4252
Hello!
Our party have just completed the *The Moonstone Chain Part I* quest but everyone didn't receive the rewards/achievement. Could you fix the problem?

![](http://i.imgur.com/OA2pu10.jpg)

**Our Group ID** is

29408153-7df6-4aa1-8c19-200ad6a09eac

**Quest participants are**

Hound Dog : eea5c2cf-951b-453d-ade1-a95a3280cd52
istoria78 : 4a37faae-30a9-4c61-a72c-8266646b75cc
Joerle : 2d4d5ee9-d79

[2015-11-02 18:33] suorpio opened #6166 "trapped in party"
I think my party leader has quit playing habitrpg, but I'm still stuck in his party! Quitting the party keeps producing an API error and I can't seem to get out.

[2015-11-02 18:36] Alys commented on #4252
@SnowmanST I've given the quest rewards to those people.

[2015-11-02 18:41] Alys commented on #6166
Please either copy and paste the full text of the error message here, or take a screenshot of it and drag the image into a new comment (don't attach the image to an email because GitHub won't include it in this issue).

We'll also need to be able to identify your account and the party. Please go to Help -> Report a Bug from the Habitica website and see step 6.

[2015-11-02 18:51] pierrotte commented on #6164
I just wanted to say thanks, it's all sorted out! :smile:

[2015-11-02 18:52] suorpio commented on #6166
I'm not able to produce the error message anymore, but still trapped nonetheless. Glancing at the party leader's profile I can see he hasn't logged in for 2 weeks.

UserID: fd82e12f-72b6-44de-b389-1d5371478430

GroupID: 27edf2e9-35ae-4574-81bc-901f1164ddb6

[2015-11-02 19:28] pipisafoat commented on #6095
I followed these directions and got my account working on my preferred browser again, but it took advantage of that to get rid of most of my spooky pets, return SOME of my gems to me (but not all of them!), and delete almost all of my gold. I know how to reset my gold count, but is there any way for me to get my spooky pets back, or at least the rest of my gems if I can't have all the pets? (I had

[2015-11-02 19:50] Lyranessie commented on #1471
@Alys thank you very much! _hug_

[2015-11-02 19:58] Alys commented on #6095
@pipisafoat tell us your User ID (see step 6 in Help -> Report a Bug) and how many gems are missing.

[2015-11-02 20:04] pipisafoat commented on #6095
Ah, sorry! User ID: b2293f3a-bffb-4e01-8db3-7b6926677f36
I am missing 8 gems. (No way to get my spooky pets back? I really loved my spooky tiger cub especially! It's okay if not. I appreciate you helping with the issue, whatever the resolution ends up.)

[2015-11-02 20:07] debra-s-goldberg commented on #1471
Thanks, @Alys!

[2015-11-02 20:12] Alys commented on #6095
@pipisafoat Yes we can give you the pets back, I just wanted to do all the changes at the same time rather than the pets first and then the gems after you told me how many were missing. Also, I needed your user id first. :) Wait about ten minutes then reload the site. Comment here again if it's not all correct then.

@duran0820 I'm closing this issue now, but if you're still having trouble, please

[2015-11-02 20:12] #6095 closed, assigned to nobody

[2015-11-02 20:25] Alys commented on #6166
You're out of the party now. Reload if it doesn't look like that. If it still doesn't look like you're not in a party, log out of Habitica, clear your cache, cookies, and also clear local storage for habitica.com (you might have to google for how to do that for your browser), and then close all browser windows.

Comment here if you're still having trouble. We'll see your comment and keep helping y

[2015-11-02 20:25] #6166 closed, assigned to nobody

[2015-11-02 21:05] ninetyd commented on #1471
Thanks a lot @Alys!

[2015-11-02 22:58] suorpio commented on #6166
Everything is fixed! Thanks!

[2015-11-03 00:37] lemoness opened #6168 "Move Overview for New Users to Website"
Right now, the Overview for New Users is located on the wiki, which we've discovered is confusing to new users, who sometimes don't even realize that it is there on the linked page. For this reason, I am proposing a new page on the website, similar to the FAQ, that contains the Overview for New Users. (We will also want to add a line to the top of the website's FAQ that says something along the li

[2015-11-03 00:43] Alys commented on #6168
I've advertised this in the Aspiring Coders guild

[2015-11-03 03:37] mchlltt commented on #5465
Hello!

Which language HabitRPG uses for you: German
Where on the site the message appears: When I click on an egg or potion on the Market page to sell it, the blue box below "Are you sure you want to sell a ____?" says "Error processing the string" etc instead of "Verkaufe ___ für _ Gold" The issue does not occur when I click on food items.
What you clicked on (if anything) that caused the messag

[2015-11-03 03:55] JuniperViking commented on #6155
I am still missing it. The time zone extension managed to miss me. I refreshed several times during that time, and played quite a bit, but found no ability to buy it. It didn't show up in the list anymore after midnight on the 31st, period, which occurred for me about an hour after my original post.

[2015-11-03 04:56] SnowmanST commented on #4252
@Alys  problem solved! thanks!

[2015-11-03 07:53] Alys commented on #6155
@JuniperViking I've given you the 2015 Fall Healer equipment. Tell me if it doesn't show up after a reload.

If anyone else is still missing equipment that they tried to buy while it was available, please comment here in the next couple of days and state which pieces you are missing, for which class.

[2015-11-03 08:09] Alys opened #6169 "limited time purchasable items (e.g., Magic Hatching Potions, Grand Gala equipment) can't be bought at the end of the end of the event"
_EDIT 2019-11-03: See https://github.com/HabitRPG/habitica/issues/6169#issuecomment-549111718 for the latest status. -- Alys_

_EDIT 2019-11-09: The comments just below that one for a method to replicate the bug and a suggested unconfirmed fix. -- Alys_

**EDIT 2020-01-09: The staff have approved the fix described in this comment: https://github.com/HabitRPG/habitica/issues/6169#issuecomment-55206

[2015-11-03 08:12] Alys commented on #5465
@miche1 Thank you for telling us! @crookedneighbor has fixed that. The blue button currently shows English text but that will change when the text is translated. Please reload if you're still seeing the error.

[2015-11-03 13:05] Aquamandias opened #6170 "Unable to Post in Tavern"
When trying to post in the tavern using the iPad app, the page changes to what should be a text box but all it says is (null) and there is no way to edit or type.

[2015-11-03 14:59] AminArria commented on #6168
I'll work on this.
This would be another static page like the faq right?

[2015-11-03 15:21] mchlltt commented on #5465
@Alys Great, thanks! It now reads the correct text (in English), which is much better than the error message.

[2015-11-03 16:07] SabreCat commented on #6168
@AminArria: Exactly!

[2015-11-03 19:07] Alys commented on #6170
Thank you for telling us! I've moved your report to https://github.com/HabitRPG/habitrpg-ios/issues/274 which is in the repository we use for the iOS app. Could you please visit that issue and click the "subscribe" button on the right-hand column? That means you'll be emailed when anyone updates that issue, so that they can contact you for more information if needed. You won't receive emails for a

[2015-11-03 19:07] #6170 closed, assigned to nobody

[2015-11-03 19:08] JuniperViking commented on #6155
YAY! I got it! Thank you, thank you!

[2015-11-03 19:37] heidihohh opened #6173 "Deleting food items"
Twice today I have had a food item disappear when I went to/refreshed the Pets page. (not the same food item, either... chocolate and honey today.)

[2015-11-03 19:50] Alys commented on #6173
That will be from one of these causes (the first one is most likely if you've used the Armoire several times today):
1. [Enchanted Armoire drops equipment but no gear or the wrong gear appears in Inventory - Issue #5376](https://github.com/HabitRPG/habitrpg/issues/5376). That can also happen with food - the Armoire gives you food initially but then the bug causes it to be replaced with something e

[2015-11-03 19:50] #6173 closed, assigned to nobody

[2015-11-03 20:01] heidihohh commented on #6173
Thank you for the prompt answer... but the second one occurred when I only clicked the enchanted armoire once?
h

Date: Tue, 3 Nov 2015 11:50:15 -0800
From: notifications@github.com
To: habitrpg@noreply.github.com
CC: heidiho.hh@live.com
Subject: Re: [habitrpg] Deleting food items (#6173)

That will be from one of these causes (the first one is most likely if you've used the Armoire several times

[2015-11-03 20:25] HunterKahn commented on #6155
I had the same problem in that I bought the Rouge-class items Bat-tle Wings and right-handed Bat-tle Ax (already own the left-handed ax and the armor) before the Fall Festival ended, but then whenever I'd revisit the site the items would be gone. I tweeted to Habitica about this and they said I should post here with my User ID and that it would be resolved. My User ID is a4215755-f047-4c34-806d-aa

[2015-11-03 22:26] Alys commented on #6155
@HunterKahn That should be all fixed up for you! Tell me if it isn't. Reload first if you don't see them straight away.

[2015-11-03 22:28] Alys commented on #6173
It could have been from one of the other two causes too. I should have mentioned before: if you tell us your User ID, we can give you back the food. See Help -> Report a Bug step 6 for how to find your User ID.

[2015-11-03 22:32] Alys commented on #6158
It's happening on SeaMonkey too now. Perhaps it's a recent change and I hadn't reloaded since it started? Sorry, I thought I did reload when I checked but I must have forgotten.

So, yeah, not a browser-specific problem.

[2015-11-03 23:40] heidihohh commented on #6173
it hasn't happened since; i've been going very slowly! my user id is heidiho.
thank you!
h

Date: Tue, 3 Nov 2015 14:29:06 -0800
From: notifications@github.com
To: habitrpg@noreply.github.com
CC: heidiho.hh@live.com
Subject: Re: [habitrpg] Deleting food items (#6173)

It could have been from one of the other two causes too. I should have mentioned before: if you tell us your User ID, we can give y

[2015-11-04 01:35] sagerpg opened #6174 "Phoenix Mount problem - Weapon cuts through the mounts neck"
First off sorry if I'm doing this wrong.

my warriors weapon goes right between the phoenix mounts head and neck

API user ID is:  8be36885-7014-4f45-8fcb-f87e90a31a12

Again sorry If I did this wrong

[2015-11-04 01:36] jamesmgg opened #6175 "Lag when ticking off a TODO"

[2015-11-04 01:49] lemoness commented on #6174
Don't worry, you're doing this right! Thank you for reporting it.

It's an issue with the art asset which has a pretty straightforward fix.
It's not a high-priority change, though, so it may take a little while
before it is implemented.

On Tue, Nov 3, 2015 at 5:35 PM, sagerpg notifications@github.com wrote:

[2015-11-04 01:56] Alys commented on #6175
Can you give us some more information please?

Is it on the website (if so, which browser) or one of the mobile apps, and if so which one (iOS versus Android, Habitica versus HabitRPG)?

Has it only started happenig or has it been happening for a while?

Does it happen every time you tick off a To-Do or only sometimes?

Does it ever happen with other kinds of tasks or Rewards?

How long is the lag

[2015-11-04 02:41] jamesmgg commented on #6175
On website, chrome browser, app in general is very laggy (scrolling, typing, clicking, popdown animations), but when completing a TODO it is especially laggy, I haven't tried with other tasks or rewards, extreme lag after clicking done a TODO lasts around maybe 1-1.5 seconds

I noticed something: it seems like the lag occurs while the blue loading bar at the top of the screen is in around 20-50% a

[2015-11-04 02:54] alentheunique commented on #6155
Hi! My ID is 5d2d847f-1fc7-481f-9032-58ec675c7543
I have lost my Limited autumn 2015 weapon (It looks like a rule or a plank), It adds strength, so I think it belongs to warriors? I don't know, I just got to level 10. Thanks!

[2015-11-04 04:12] jimrthy commented on #6155
Hi there! My ID's db401af4-47d6-4d5c-8e5f-bd6c39d12504. I started out with the bird seed, scarecrow armor, and scarecrow hat. After I lost them the official last night, I found out about the plank. I found out about the extension around 9:30 the next night. I thought I had the plank, hat, and armor then (couldn't afford all 4 thanks to my spiffy potion of rebirth), but they were gone the next day

[2015-11-04 07:31] joekatzman commented on #5919
I'm noticing a real problem with Daylight Savings Time. Ever since that ended, the time on all my devices is correct but Habitica resets at 11pm (which would be midnight if DST was still operative). This has been 100% consistent, and really screws up my days,

[2015-11-04 07:38] Alys commented on #5919
@joekatzman The timezone on at least one of your devices is almost certainly incorrect.

[2015-11-04 08:03] joekatzman commented on #5919
I assume this doesn't mean any computer I've ever logged into Habitica from, just any machines showing the web page or running the iOS app.

@Alys I've double-checked. All devices in question show the identical and correct time, and are set automatically by Apple to the Pacific Time zone (GMT -0800). The end of Daylight Savings Time, which Apple adjusts for automatically, was the catalyst for erro

[2015-11-04 10:07] Alys commented on #5919
@joekatzman When you log in to the Habitica website (literally log in, using the login form) or when you reload the website in an existing browser window, or when you open the website in a new window, Habitica reads the timezone of the machine you are using, and it stores that timezone in your Habitica user account and uses it from then on. When you next perform any of those actions on the same ma

[2015-11-04 10:10] Alys commented on #6155
@alentheunique @jimrthy You should have your missing gear back now.

[2015-11-04 10:14] Alys commented on #6175
Does that 1-1.5 seconds lag happen every time you tick off a To-Do or only sometimes?

Can you please try ticking off Dailies and Habits to see if the same thing happens? If you don't want to modify your stats incorrectly, open [Fix Character Values](http://habitica.wikia.com/wiki/Fix_Character_Values) before starting your tests, and then save it afterwards to reset your values to what they were w

[2015-11-04 10:15] Alys commented on #6173
I'm sorry, we can't use your profile name to adjust your account because more than one person can use the same name. Can you please go to Help -> Report a Bug and see step 6? That shows you how to find your User ID, which is unique to your account.

[2015-11-04 13:18] heidihohh commented on #6173
Goddess, I'm such a moron about this!

I'm lazy in bed right now... torn meniscus,7am and all that. I appreciate all the time you've spent while I'm being an idiot. I want so worried about the missing items as I was that I'd goofed it up somehow!

Thank you. I'll figure this out after my MRIs today!

Heidi

On November 4, 2015, at 4:15 AM, Alys notifications@github.com wrote:

I'm sorry, we can't

[2015-11-04 13:44] derronbrown commented on #4800
Having the same problem joining "10 Habits You Should Do Every Day" - 6acfcb07-d0b5-489f-9ee0-509813bb81e0

[2015-11-04 16:21] chamini2 commented on #5649
Hello, I'm not the party leader of my party, but I see there's three invites for three people already in the members list, the Group ID is fbd39690-cb18-4f65-9a92-55a781e133a3

Hope someone can give me a hand fixing this?

[2015-11-04 16:25] redmanatee opened #6178 "Application Error notification"
Getting consistent Application errors telling me to reload the page this morning.  It happens on all pages, and when I refresh nothing I have done prior this morning is saved.

Using Chrome, the log from Chrome is the following

[code]

This was from attempting to view the tavern.

[2015-11-04 16:27] redmanatee commented on #6178
And... now it seems to be working again.  So, feel free to close this if the logs don't offer any help.  Apologies - after 10 minutes of fighting with it, I figured it was a more serious issue.

[2015-11-04 17:07] #6178 closed, assigned to nobody

[2015-11-04 17:16] taskassassin opened #6179 "Party page shows application error; when reloaded, an additional error message appears"

[2015-11-04 17:38] SabreCat commented on #6158
Thanks for checking back! Updated the main issue text.

[2015-11-04 17:38] joyfuldarkness opened #6180 "Application Error appears when I tick off items, and other functions"
Here is a screen shot of what I get.
![habitica](https://cloud.githubusercontent.com/assets/15656435/10946402/1a63ca1c-82f0-11e5-946c-6c8beb006323.png)

I also see this in the log of the console when I use inspect element
app-a203edf3.js:37 gp
https://api.github.com/repos/habitrpg/habitrpg?callback=callback Failed to load resource: net::ERR_SSL_PROTOCOL_ERROR
app-a203edf3.js:37 Base Bear Cub reall

[2015-11-04 17:48] nebularkatanae opened #6181 "I've gotten an "Application 503 Error" and I have no idea why?"
![image](https://cloud.githubusercontent.com/assets/15656730/10946816/58ac38f2-82f2-11e5-8618-7ed9d28b13ab.png)

I'm confused and unsure what happened but when i try to mark down a task it gives me this message. I tried reloading the page but nothing really changed.

[2015-11-04 19:31] lemoness commented on #6174
Had a spare moment, so here we go! If this is made the head layer, it should fix this issue. (No change to the back layer is necessary.)
![mount_phoenix_head](https://cloud.githubusercontent.com/assets/3494081/10949376/72f1174c-82e7-11e5-8191-005ddad141af.png)

This can probably be handled by an Aspiring Coder (@alys, correct me if I'm wrong). If there's any issue with the art once it's implemente

[2015-11-04 21:59] Alys commented on #6181
Hi @nebularkatanae. Thank you for telling us about this! When it happens, it's not because of anything you did. It indicates a temporary problem on Habitica's server, often associated with high levels of usage. We're investigating the cause of this particular occurrence and you should find it's already stopped. If not, it will stop soon. I'm very sorry about the inconvenience!

[2015-11-04 21:59] #6181 closed, assigned to nobody

[2015-11-04 22:00] Alys commented on #6180
Thank you for telling us about this! It indicates a temporary problem on Habitica's server, often associated with high levels of usage. We're investigating the cause of this particular occurrence and you should find it's already stopped. If not, it will stop soon. I'm very sorry about the inconvenience!

[2015-11-04 22:00] #6180 closed, assigned to nobody

[2015-11-04 22:01] Alys commented on #6178
No need for apologies! Thank you for letting us know, and I'm sorry for the inconvenience!

[2015-11-04 22:10] Alys commented on #6174
I've advertised it in the Aspiring Coder's guild.

[2015-11-04 22:12] Alys commented on #6179
This should have stopped now.

[2015-11-04 22:12] #6179 closed, assigned to nobody

[2015-11-04 22:20] Alys commented on #6173
You're not being a moron! Take your time, there's no hurry. :)

[2015-11-04 22:21] Alys commented on #4800
@derronbrown I'm sorry, the error on that one is too persistent and I can't add you.

[2015-11-05 01:25] ghost commented on #2805
I am also having this issue. Damage is identical.
![new bitmap image](https://cloud.githubusercontent.com/assets/8877144/10977356/9419d9ea-83be-11e5-9b91-0dd92ddca1c6.jpg)
I have a custom cron and use two devices (PC and iPhone app), though both are in the same time zone. I think @brandonlichtenwalner is on to something. I use the app at night and sometimes don't close the app until the next day,

[2015-11-05 02:17] slylysylar opened #6184 "Can't activate Triad Bingo"
Dear Support,

Could you please help me investigate why I can't activate the Triad Bingo award?
I got both Beast Master and Mount Master award.
And this morning I found all 90 pets again but still no Triad Bingo.

Thank you very much for your time!
Regards.

[2015-11-05 02:21] crookedneighbor commented on #6184
Hi @slylysylar, we'll need your User ID to investigate.  You can find it in [Settings > API](https://habitrpg.com/#/options/settings/api). Be sure to only copy the User ID and _not_ your API Token.

Note: Your user id is not the same as your profile name.

[2015-11-05 03:27] slylysylar commented on #6184
thanks for the lightning fast reply!
My user ID is as follows
261abc9f-ddff-4417-b6db-057f7691fce6

[2015-11-05 03:34] derronbrown commented on #4800
:( thank you for trying.
On Nov 4, 2015 5:21 PM, "Alys" notifications@github.com wrote:

[2015-11-05 03:40] Alys commented on #6184
Hi @slylysylar. You've already released your Mounts. To get the Triad Bingo award, you need to have all pets and all mounts at the same time.

[2015-11-05 03:45] slylysylar commented on #6184
oh no, I thought that would be the normal procedure. Catch, tame, release, and catch again :(
Is there any way you guys can assist with this or I'm outta luck Alys?

[2015-11-05 04:01] Alys commented on #6184
I've given you the achievement.

[2015-11-05 04:01] #6184 closed, assigned to nobody

[2015-11-05 04:03] crookedneighbor commented on #6158
I think I've tracked down the offending commit.

[2015-11-05 04:04] slylysylar commented on #6184
Thank you so much. You are awesome!

[2015-11-05 04:09] thespooniest opened #6185 "Level suddenly dropped by 38"
At about 11:00PM EST on November 4, 2015, my wide noticed that my level had suddenly dropped from 81 to 43. This probably occurred between 12:00PM and that time. I still have my gold, levels, and experience, so I don't think I died (and I'm sure I didn't die 38 times). But my stats, not cou ting allocated points, are what I would expect for a Level 43 character. Despite that, though, all 81 of my

[2015-11-05 04:17] crookedneighbor commented on #6158
Closed with https://github.com/HabitRPG/habitrpg/commit/78cfbd2c6ac7e1a3d319f982ac0080f45ca19cec

[2015-11-05 04:17] #6158 closed, assigned to nobody

[2015-11-05 06:10] ArcShade083 commented on #5510
I had this problem specifically with an "every x days" daily that I edited to change the frequency. It took me a while to figure out why I was being damaged. Today the user data display showed it as due even though it was supposed to be grey. I'm pretty sure it would have been due today if I hadn't changed the frequency.

[2015-11-05 08:42] Alys commented on #6185
I've confirmed from a recent database backup that your level was definitely 81 (sorry about that - I wasn't doubting you, we just need to confirm things like that when really odd errors happen).

You can use Settings -> Site -> [Fix Character Values](http://habitica.wikia.com/wiki/Fix_Character_Values) (FCV) to restore your level.

I don't suppose you were using FCV over the past day for any kind

[2015-11-05 10:10] Alys commented on #5649
@chamini2 I've removed the invitations. It's not unheard of for them to come back, so comment here again if they do.

[2015-11-05 12:31] iiieeeoo commented on #5510
My every-other-dalies spontaneously got out of sync a week or two ago (showing as due in the DDT when they were grey on my task list and vice versa). I reset the start dates and they've been working fine since then so I pretty much forgot about it. @ArcShade083, you might want to give that a try as a simple fix.

[2015-11-05 14:50] ArcShade083 commented on #5510
I had to reset my start date just to make my every x dailies line up properly with each other. What I ended up doing was just deleting the old ones and re-creating new ones. I just figured the developers might want to know that it's happening.

[2015-11-05 16:19] Hudelf opened #6186 "Experience is 201/200, no level up"
![habitica level up bug](https://cloud.githubusercontent.com/assets/15674430/10974190/d94f34ca-83ae-11e5-9a2c-36b1efdb9fa1.JPG)

This fixed itself after getting more experience, but was a bit odd. I had the same experience through the Android app. I may have received the final bit of experience by completing a task through the app, I can't remember for sure, if that makes any difference.

[2015-11-05 16:42] jea0009 opened #6187 "Cannot create to-do checklists"
Lately whenever I press enter after adding one part of a checklist, all of my recent achievements pop up and block the screen instead of adding a new line for me to type in the second part. I am on a work computer so I only have access to IE.
 My ID is 7415cb9f-32c0-4173-ab76-cdef1216481d

[2015-11-05 16:56] SabreCat commented on #6186
Duplicate of #2433, I believe. Though if the gauge went that high by some other method than mentioned there, let us know!

[2015-11-05 16:56] #6186 closed, assigned to nobody

[2015-11-05 17:26] Yvaine8 commented on #5651
Sorry, I had to completely reinstall my computer, so it seems like I'm not going to be able to do this any time soon, so @gauthamchandra, this is all yours if you want it.

[2015-11-05 19:46] Alys commented on #6187
Can you give us more details about what the recent achievements are? For example, do you see all the notifications of the gold, mana, experience, and drops that you've earned? Or do you see your profile page or your stats page that list your achievements, such as quests completed?

[2015-11-05 19:54] SabreCat commented on #6187
Possibly the same issue as encountered in #5423 / #5690 ?

[2015-11-05 19:55] jea0009 commented on #6187
I see the notifications of all the gold, mana, experience and drops that I
have.  However, I just tried to take a screen shot to show you and it seems
that after 2 weeks of not working, it suddenly is working fine. Thank you!

On Thu, Nov 5, 2015 at 2:46 PM, Alys notifications@github.com wrote:

##

_Jaclyn Adamo_

Juris Doctor Candidate, Class of 2017
*Northeastern University School of Law *

Vic

[2015-11-05 19:56] SabreCat commented on #6187
OK, I can close this for now, but let us know if it recurs!

[2015-11-05 19:56] #6187 closed, assigned to nobody

[2015-11-05 20:00] Alys commented on #6187
@jea0009 Thanks for letting us know. Are you using IE 10, or another version of IE?

[2015-11-05 20:02] jea0009 commented on #6187
I am using IE 10

On Thu, Nov 5, 2015 at 3:00 PM, Alys notifications@github.com wrote:

##

_Jaclyn Adamo_

Juris Doctor Candidate, Class of 2017
*Northeastern University School of Law *

Vice Chair of Social Activities - SBA
Chair of External Relations - Women's Law Caucus

Cell: 407-455-0921

[2015-11-05 20:19] Alys commented on #6187
Do you happen to have the "Show All Notifications" bookmarklet installed in IE? That's the one described in the Bookmarklets section on the wiki's [Customizations](http://habitica.wikia.com/wiki/Customizations) page.

[2015-11-05 20:23] jea0009 commented on #6187
I don't think so, I don't have any idea what the wiki's customizations page
is though.

On Thu, Nov 5, 2015 at 3:19 PM, Alys notifications@github.com wrote:

##

_Jaclyn Adamo_

Juris Doctor Candidate, Class of 2017
*Northeastern University School of Law *

Vice Chair of Social Activities - SBA
Chair of External Relations - Women's Law Caucus

Cell: 407-455-0921

[2015-11-05 22:03] Alys commented on #6187
If you click on the link in the previous message, it will take you to that page. However if you don't recall installing the bookmarklet, then I expect you haven't. Thanks for answering our questions! This information will hopefully get us a step closer to working out what IE is doing when it does that checklist bug.

[2015-11-05 22:04] Alys commented on #5690
In https://github.com/HabitRPG/habitrpg/issues/6187 there's a report of hitting enter not redirecting to a new page but instead showing all previous XP/GP/MP/drops notifications.

[2015-11-05 23:00] nrobeck opened #6189 "application error on load"
when loading the tasks page, an application error is occuring right before the page finishes loading:

Cannot GET /api/v2/groups/undefined/chat/seen

[2015-11-05 23:17] SimpleCreater opened #6190 "Can't leveling over 14!"
Hi there,
If I become level 15 an error pops up and it will not save my stats any more.
I hope you can help me out.

Error message:
Yikes, an error occurred! Please reload the page, your last action may not have been saved correctly.

your,
Skymen

[2015-11-05 23:40] Alys commented on #6190
Please see this issue for an explanation and fix: https://github.com/HabitRPG/habitrpg/issues/4986

[2015-11-05 23:40] #6190 closed, assigned to nobody

[2015-11-06 02:12] ghost commented on #1471
@kanabe @225g FYI, a new version of the 10 habits challenge can be found [here](https://habitica.com/#/options/groups/challenges/f32f5dc6-668c-4cec-972b-73a09abf1fe8), and there is another copy of it in the Library of Shared Tasks guild. They are both "permanent challenges" that are not expected to declare a winner, but you can pick up the tasks from them.

[2015-11-06 04:24] gauthamchandra commented on #5651
yea. I can tackle this. I will have a PR by the end of the weekend.

[2015-11-06 06:04] jamesmgg commented on #6175
It happens every time I tick a todo. Scrolling makes it even worse.

Ticking habits don't cause lag. however dailies do produce the same lag like the todos.

It's been happening for a while, though I think it only started happening once I got long dailies and todos.

Here's my userid: 3f2abcfa-d140-4c8f-859e-61ffea50cf4d. Let me know if I can help with anything else.

[2015-11-06 09:56] carroux commented on #6174
I noticed this too and thought it looked funky. I'll have a go at this tomorrow since it seems like a straightforward fix and no one's claimed this issue yet.

[2015-11-06 10:46] sidawson opened #6191 "Leaving Challenge does not remove Filter from Tasks Pages (web & iOS)"
## PROBLEM
- Leaving a challenge (and removing all tasks) still leaves the related LI (and sub tags) on the Tasks page.
- Ie, the filter button for the challenge is still visible.
- These filters are also still visible in the iOS app (unknown re Android)

This implies that leaving a challenge does not actually leave the challenge completely, just deletes the tasks and removes your participation fr

[2015-11-06 11:53] sidawson opened #6192 "iOS Daily Reminder Time Jumped Back 3 Hours"
## PROBLEM

On iOS my daily reminder time (Settings > Reminder > Every Day at) was set to 10pm (22:00). Today it self-changed to 7pm (19:00).
## TO REPRODUCE

Unable to reproduce. Sorry
## NOTES
- It's hard to tell if this was because a) of the v1.1.1 update or b) timezones shifting - since both are happening at the moment
- It's possible this is because the daily reminder time is stored in the da

[2015-11-06 17:05] librarianmage commented on #6192
If it is a problem with the iOS app, it may be better to open an issue at [HabitRPG/habitrpg-ios](https://github.com/HabitRPG/habitrpg-ios).

[2015-11-06 18:35] Alys commented on #6191
Hi @sidawson. It's actually a deliberate feature that the challenge's tag remains after you've left the challenge. Please see https://github.com/HabitRPG/habitrpg/issues/4062 for an explanation of that. If you have questions or comments about it, could you please comment on that issue so that we can keep the conversation in one place?

The official term for the filtering feature on the tasks page

[2015-11-06 18:35] #6191 closed, assigned to nobody

[2015-11-06 18:38] Alys commented on #6192
@sidawson As @MathWhiz says, could you please copy this report to the iOS repository?

[2015-11-06 18:38] #6192 closed, assigned to nobody

[2015-11-06 20:05] Alys commented on #6189
Thanks for reporting this! We restarted the server and that seems to have fixed the problem.

[2015-11-06 20:05] #6189 closed, assigned to nobody

[2015-11-06 20:06] Alys commented on #6155
I'm closing this now but if anyone is still missing limited edition gear that they tried to buy at the end of last month, comment here.

[2015-11-06 20:06] #6155 closed, assigned to nobody

[2015-11-06 20:13] #5446 closed, assigned to nobody

[2015-11-06 20:19] Alys commented on #4186
@lemoness What do you think about removing the character limit for the Tag Name field in the challenge creation screen to allow emoji to be used, or at least make the limit large enough that a couple of emoji with long names could be specified?

I don't think there's a significant problem with doing that. The limit is probably there so that thoughtless challenge creators don't create very long tag

[2015-11-06 20:26] Alys commented on #6041
I'm closing this since the consensus is that gold-purchasable items should be one-click for ease of use, and because accidental purchases are easy to recover from with Settings -> Site -> Fix Character Values.

I've checked gem-purchasable items under Inventory, Quests, Avatar, and Backgrounds, and they already have confirmations.

[2015-11-06 20:26] #6041 closed, assigned to nobody

[2015-11-06 20:33] Alys commented on #6085
Confirmed. See the green highlighted text in the left-hand side of the image below. Those texts should contain numbers.

![screen shot 2015-11-07 at 6 31 38 am](https://cloud.githubusercontent.com/assets/1495809/11008002/6a49f7c4-8519-11e5-862e-68e4516706f7.png)

@ItsMirre When this is fixed, you should receive an email saying that it's closed, so you don't need to keep refreshing to check. :) Tha

[2015-11-06 20:48] Alys commented on #6079
I think it would also be helpful for the automatically determined timezone to be displayed to the user. E.g., it could say "Habitica has been told by your PC / mobile device that your timezone is GMT+10. If this is incorrect, please adjust your device's timezone setting."  I'd like us to do that even if we don't provide an option for changing the zone. (If I don't hear any objections in a couple o

[2015-11-06 21:04] Alys commented on #5913
@AnitaYCheng or @lemoness If this is still desired, would you like to mock up what it should look like?

[2015-11-06 21:06] Alys commented on #5126
@paglias Can this and https://github.com/HabitRPG/habitrpg/issues/3986 be closed now?

[2015-11-06 21:06] Alys commented on #1806
Are there any objections to my idea above about having a UUID-only list of members available to the group owner? If not, I'll mark this as suitable for someone to work on it. It would be a temporary feature to allow leadership changes and booting, until we work out how we want to handle this permanently, which might take us a while.

[2015-11-06 21:17] Alys commented on #5618
The simplest way to fix this is to adjust the number of items required. We could also increase the drop rate, but that's a harder fix and doesn't make it obvious to the players that a change has been made.

Here's the current numbers of items required for all collection quests:

20 -- Dish Disaster (Attack of the Mundane part 1)
30 -- Find the Cub (Trapper Santa part 2) -- 10 twigs + 20 tracks
45

[2015-11-06 21:30] Alys commented on #3783
The menu now closes when you go to a new page.

[2015-11-06 21:30] #3783 closed, assigned to nobody

[2015-11-06 22:51] crookedneighbor commented on #1806
I don't think we should work in this right now, but we should consider it for v3.

[2015-11-06 23:00] Alys opened #6193 "convert user password encryption to BCrypt"
Currently, we use SHA1 for encrypting users' passwords. BCrypt is more secure so we will move to it.

Reasons why are outlined in the [MOVE TO BCRYPT Trello card](https://trello.com/c/amT5t900/243-move-to-bcrypt), especially the comment by Sherman Boyd. We're continuing the conversation in this issue.

As Sherman points out, the code change will be easy but migrating users will be hard. We cannot

[2015-11-06 23:04] Alys commented on #6193
Note that when users change their passwords, they can enter the same password as before. It would then be encrypted in the new scheme and they wouldn't have to remember a new password.

[2015-11-06 23:31] Alys commented on #6193
The simplest approach might be to go with the two-schemes system (all new users use BCrypt, all users who change passwords use BCrypt, everyone else keeps their old SHA1 password) but with no user notification, and then later we can worry about whether we ask/encourage/force users to change.

[2015-11-06 23:51] sidawson commented on #4062
Ahh. Thank you for explaining, @Alys.

## why "filter"

re https://github.com/HabitRPG/habitrpg/issues/6191 I incorrectly used "filter" because
    a) clicking it filters the list of visible tasks, and
    b) the use of the term Filter in the iOS app.
Unfortunately, I don't have any suggestions for alternative/clearer nomenclature.

## a humble suggestion

Could I humbly suggest: From a UX perspec

[2015-11-07 00:21] Alys commented on #4062
@sidawson "the use of the term Filter in the iOS app" -- Ah, I didn't know that. Thank you for mentioning it!

The "remove all tasks" option should remove all tasks that are officially part of the challenge (tasks put in the challenge by the challenge creator), but it should not remove any tasks that the player has created in their own task list (even if they applied the challenge tag to it). I've

[2015-11-07 00:58] sidawson commented on #4062
I tried to reproduce the "user added tasks are removed when leaving a challenge" but was unable. Possibly fixed since I last did this, possibly I mis-remembered it.

I didn't notice the field for adding new/custom tags. Thank you for pointing that out.

A super simple UI (rather than back end) solution might be to have a message pop up telling the user that now they've left the challenge (and remo

[2015-11-07 01:22] crookedneighbor commented on #6193
Could we also have it swap out the password for new hashed one when the user logs in?

[2015-11-07 01:33] Alys commented on #6193
omg genius

[2015-11-07 01:34] Alys commented on #6193
I'm updating my first post to include that so we don't forget it and so it looks as if I thought of it. ;)

[2015-11-07 03:47] squirrel7 commented on #5510
I am having this issue...I checked the data display to see how much damage I was doing to the boss my party is fighting and it said I had one daily unchecked even though my daily list showed everything either checked or gray. Checked the "dailies incomplete" list and it's my "every 30 days" daily that I created about a month ago. I made a temporary fix by changing it to the other kind of daily and

[2015-11-07 05:39] inquiryqueue opened #6194 "enchanted armoire gear later replaced with different gear"
I had a golden tunic from the enchanted armoire and my avatar was wearing it as a costume.
When I logged in today, the golden tunic had been replaced with the "plague doctor overcoat" in my inventory (both for equipping and using as a costume) and on my avatar.

[2015-11-07 05:43] Alys commented on #6194
This has been reported here: https://github.com/HabitRPG/habitrpg/issues/5376
Please see the bold text near the top for an explanation.

[2015-11-07 05:43] #6194 closed, assigned to nobody

[2015-11-07 11:42] #5126 closed, assigned to nobody

[2015-11-07 11:43] #3986 closed, assigned to lefnire

[2015-11-07 11:48] paglias opened #6195 "We're storing a lowercase version of usernames (FOR REFERENCE)"
cc @Alys

Just to be sure we don't forget this: currently we're storing a lowercase version of usernames under `auth.local.lowerCaseUsername` so that we can check for duplicates with different casing without expensive regex queries

[2015-11-07 15:21] gbear605 opened #6197 "Random loss of health"
I just joined https://habitica.com/#/options/groups/challenges/1228c899-3e90-4102-9bfd-55fc8f3c1988 and then immediately lost 1.5 health. It was definitely not because of my cron, and I'm not logged on on any other computers.

[2015-11-07 17:48] Alys commented on #6197
This wasn't because you joined the guild, it was just reported to you at the same time. It was because of one of these causes:
1. If you are on a boss quest with other people, then one of those people cronned and caused damage to the party due to missed Dailies. If this is the case, you'll see a message about it in party chat (click "Fetch Recent Messages" to ensure you're seeing the latest messag

[2015-11-07 17:48] #6197 closed, assigned to nobody

[2015-11-07 17:53] Alys commented on #5510
@ArcShade083 @iiieeeoo @squirrel7 This is a problem in the Data Display Tool, not Habitica. I believe it's incorrectly calculating the start date in some cases, probably because of the time portion of the date which you have no control over or visibility of in the browser (certain combinations of the time portion and your timezone and your Custom Day Start time can result in the date being one day

[2015-11-07 18:53] gbear605 commented on #6197
Yep, it was someone in the party.

[2015-11-07 20:16] palerefraction opened #6199 "Error: Cannot read property 'challenge' of undefined""
I think the challenge "Six Little Boxes" got deleted and now every single one of those six little boxes gives me an error that takes up the right half of my screen >.> Six 'little' boxes indeed, lol.
![capture](https://cloud.githubusercontent.com/assets/15708153/11017093/88b3c4d0-8562-11e5-82e3-fa83463d0199.PNG)

[2015-11-07 22:08] Alys commented on #6199
Just checking: Did you reload and did it keep happening after that?

If so, we'll need to know your User ID to help you. Please go to Help -> Report a Bug from the Habitica website and see step 6 for how to find your User ID (it's different than your name).

[2015-11-08 00:28] palerefraction commented on #6199
9b1367a9-31c2-4d96-81a4-57f4cbf77928

I did refresh, and it keeps happening.
Interesting side note, those "six little boxes" habits don't show up on the android app (nor do I get the error) :l

[2015-11-08 00:45] Alys commented on #6199
That interesting side note is very relevant! :)  The challenge tasks have been deleted from your account. They're still appearing in your browser because it is caching them, and it's showing you the errors because it can't get full information about them from the server because they no longer exist there.

A quick workaround to regain access to the site will be to use a different browser or (proba

[2015-11-08 01:53] gauthamchandra commented on #3750
These are a ton of changes to be classified as 1 issue or feature request.

These should be broken down into individual issues and then tackled incrementally.

I am also willing to tackle the major piece that would allow the user to login with their Google account. I will file a new issue for this specific piece and reference it here.

[2015-11-08 04:28] palerefraction commented on #6199
Ugh! Thank you so much ((Heart eyes emoji)) That was bugging me allllllll day! Thank you thank you thank you!

[2015-11-08 04:31] Alys commented on #6199
You're welcome. :)

[2015-11-08 04:31] #6199 closed, assigned to nobody

[2015-11-08 15:18] kanabe commented on #1471
@Cantras Thank you for the notice!
@Alys Thank you for doing your best in rectifying the situation.

[2015-11-08 15:58] crookedneighbor commented on #6193
For this, we should make the snakecase `hashed_password` a camelcase `hashedPassword`.

With v3, eslint will fail the build for using snakecase. I can set it to ignore that specific line (see https://github.com/HabitRPG/habitrpg/pull/6203/files#r44226378), but it'd be better to not have to do that. Since this work needs to be done anyway, we might as well do that change now, rather than do a migra

[2015-11-08 22:48] Alys opened #6204 "Timezone used by Habitica should be visible to the user"
When a player logs in to the website (i.e., literally logs in using the login form) or when they reload the website, their browser reads the timezone that their PC is set to and uses that for determining when cron should run and which Dailies should be visible. The timezone is stored in         `preferences.timezoneOffset` as a negative minutes offset (e.g., UTC+10:00 is -600).

It would be useful

[2015-11-09 11:09] JamesOwers commented on #5649
I have the same issue. Was invited to a party by multiple members and now the invitation persists even though I am already a member. I'm also still on the 'invited' list. uuid=36b11762-799c-4719-8b66-a10c6da05c5e

[2015-11-09 11:21] Alys commented on #5649
@kungfujam I've fixed that for you, but it's not unheard of for it to come back. If it does, comment here again and also clear local storage for your browser (you might need to google for how that's done, for some browsers it's different than clearing the cache).

[2015-11-09 14:15] roma0104 opened #6205 "Food Drop Chance Not Reset/Reseeded After Awarded By Daily"
I was exploring the event sound themes and checked-off a daily to hear the sound.  I checked it, received a cotton candy food drop, unchecked it.  I changed the theme and checked the same daily, received another cotton candy.  It did this four times, repeated on the same daily.

I have not had another drop to test this and see if it recreated with other tasks.

Minor issue I think.  Breaks the awa

[2015-11-09 14:15] roma0104 commented on #6205
I have only seen this on the web application.

[2015-11-09 14:16] JamesOwers commented on #5649
Cheers, that's worked but only after again accepting the invitation.

[2015-11-09 16:31] AminArria commented on #6204
I'll work on this.

This timezone would be displayed inside the Custom Day Start form right? Not in another form below it

[2015-11-09 18:23] Alys commented on #6204
Thanks @AminArria!

It should be in its own form under the CDS form. They're two different concepts so they need to be kept separate, and we don't want the users thinking that CDS is a good way to compensate for a wrong timezone.

[2015-11-09 18:33] Alys commented on #6205
Thanks for letting us know, but this is expected behaviour. The drop chance is seeded by the amount of gold the player has (this is necessary to give the same random result on both client and server) so if you take actions that repeatedly produce a drop when you have an unchanging amount of gold, you will get the same drop every time. We don't really consider this a bug since it doesn't occur in n

[2015-11-09 18:33] #6205 closed, assigned to nobody

[2015-11-09 22:21] testsubject1987 commented on #6175
I am using Habitica with Firefox (42.2) on a Windows XP3 system and also on a Windows 8.1 system, the problem is more pronounced with greater frequency on the XP system, when scrolling or clicking around the whole site will lag, hang, glitch, give error messages, sometimes (censored) the browser ranging from 1-4 seconds on the 8.1 system and 5-20 seconds on the XP system.

The problem I have notic

[2015-11-09 23:37] #6086 closed, assigned to lemoness

[2015-11-09 23:41] lemoness commented on #5906
Looks like this has been done except for the Basi-list, which still needs to be added. However, we'd like to add the following iOS screenshots as well:

![en-us-iphone5-0-dailies-portrait](https://cloud.githubusercontent.com/assets/3494081/11050152/5587d51e-86f8-11e5-8a83-89a76c829d87.png)
![en-us-iphone5-1-levelup-portrait](https://cloud.githubusercontent.com/assets/3494081/11050148/557827a4-86f8

[2015-11-10 16:48] gaballison opened #6206 "Application error on load"
Pretty much every day when I try to log on to the Habitica website I get an application error telling me `Failed to load resource: the server responded with a status of 503 (Service Unavailable).` If I refresh the page several times that usually fixes it and my dailies reset, etc., although sometimes I think that contributes to my random duplicate damage entries.

Today, however, instead of the st

[2015-11-10 17:04] Thor333 opened #6207 "Change in XP gained for BoF"
Hi guys,
I've seen this many times, when in cast Burst of Flames on the same task multiple times in a row, the XP gained may change (a bit).
So, is it worthwhile bothering about it?
(Other stuff, is this thinkable to add some sound effects to the spells?)
++
![habitica 2](https://cloud.githubusercontent.com/assets/11922087/11069148/f2d902b6-87d4-11e5-9a99-e89671131ee3.jpg)
![habitica 3](https://cl

[2015-11-10 20:41] Olathe commented on #6193
One alternative is to just log everyone out. They log back in with their current password and the database is immediately updated with their bcrypted current password. People who forgot their password can click on the `Forgot Password` link on the sign in page.

[2015-11-10 20:43] kawunngg opened #6209 "challenge's task due dates from creator differ from due date seen by participants"
hello all,

i run a weekly challenge and participants repeatedly reported me, that they had a "wrong" due date for the challenge tasks.

due date of the challenge should be every friday, participants often told me they saw thursday as the due date. not the same persons, not the same weeks, always thursday instead of friday.

but i did not set a wrong due date, i always see the intended due date in

[2015-11-10 20:58] Olathe commented on #6193
You could also do the following:
- Log everyone out, except for those who have passwordless Facebook logins
- When they log back in, check the password against the SHA-1 version
- If the password is correct, add the bcrypted version and destroy the SHA-1 version

If they forgot their password:
- The "Forgot Password" link on the login screen will work as normal
- They reset their password with a n

[2015-11-10 21:08] Alys commented on #6209
For both challenge and non-challenge tasks, the tasks dates are stored in the database as UTC times (GMT+0). When a player looks at the task though the website, they see the date converted to their own timezone.

For that challenge, the dates on the To-Dos are 2015-11-12T23:00:00.000Z. Anyone with a timezone of GMT+1 and greater will see Friday; any other timezone will produce Thursday.

We need t

[2015-11-11 01:33] Alys commented on #6193
Being logged out automatically from Habitica isn't something that typically happens, so if all non-facebook players were logged out at once, there'd be questions in the Tavern and social media about what had happened, and then a lot of "me too" posts. It would make Habitica seem buggy.

Also there's likely to be more players than you'd think who have lost access to their email accounts or who mist

[2015-11-11 07:48] Alys commented on #6207
It's possible to get a critical hit while casting that skill, which increases the XP gained by a small amount. That's what you're seeing when the XP is higher than normal. There is no critical hit notification for skills.

For sound effects, you might like to suggest them on our feature tracker, which you can get to at Help -> Request a Feature.

[2015-11-11 07:48] #6207 closed, assigned to nobody

[2015-11-11 08:29] startmyquest opened #6210 "Error: Cannot set property 'drop' of undefined"
I am unable to level up my character as every time I do it, I get the above error message

![screenshot 2015-11-11 at 08 27 49](https://cloud.githubusercontent.com/assets/4692218/11086988/5b78df52-884e-11e5-931d-3f0ffa633737.png)

[2015-11-11 08:35] Alys commented on #6210
Please see https://github.com/HabitRPG/habitrpg/issues/4986 for an explanation and fix.

[2015-11-11 08:35] #6210 closed, assigned to nobody

[2015-11-11 12:09] SilkAndSlug commented on #2479
I'm new to Habitica's code, and fairly new to the game and community: please forgive me if this has been said elsewhere!

FYI, I have 28 pets and 1 mount.

Could we alter the drop-ratios depending on number of pets and/or mounts? I'm thinking that new players mostly want eggs and potions but that, as their Stable grows, they'll mostly want food. I've not run the numbers, but for an example:
- star

[2015-11-11 14:14] dzmcclure opened #6212 ""Error Cannot read property (User ID) of undefined""
Getting that every time I try to use the page in chrome.

Console log:
Navigated to https://habitica.com/
app-9d153fae.js:6 GET https://habitica.com/api/v2/groups/party 500 (Internal Server Error)(anonymous function) @ app-9d153fae.js:6s @ app-9d153fae.js:6f @ app-9d153fae.js:6j @ app-9d153fae.js:7(anonymous function) @ app-9d153fae.js:7j.$eval @ app-9d153fae.js:7j.$digest @ app-9d153fae.js:7j.$ap

[2015-11-11 14:27] Alys commented on #6212
Please reload. If that doesn't fix it, clear local storage (google for how
to do that in your browser; it can be different than clearing cache). Tell
us if that doesn't work.

[2015-11-11 14:34] mfdeveloper commented on #5801
+1 @Alys I have a similar problem! After perform `vagrant up` problems to install `babel`, `hoek` and others node modules are displayed on terminal. After that, I tried login into this machine with `vagrant ssh` and realize the `npm start` command and I get the error:

[code]

Finally, get the error:
![captura de tela 2015-11-11 as 11 31 52](https://cloud.githubusercontent.com/assets/431606/110932

[2015-11-11 14:43] Midgitus commented on #6212
Getting the same error in Firefox on Windows 7. Of note, the error message shows up twice when I try to navigate to my party, which seems to have disappeared (problematic, since I was just part of a quest).

User ID: 128fffed-ede4-4ee8-9ff7-eb702e0282bf

Web Console (immediately after logging in):

<source> element has no "src" attribute. Media resource load failed. habitica.com
All candidate reso

[2015-11-11 15:42] Alys commented on #6212
@Midgitus You're still in the party and quest. Did you try my suggestions from my previous comment? If not, can you please, and tell us if that helps or not?

[2015-11-11 15:46] Midgitus commented on #6212
Thanks, @Alys. I did try your suggestions. Unfortunately, they didn't help.

[2015-11-11 15:47] paglias commented on #6212
Could you try clearing your cookies? Or trying an incognito tab?

[2015-11-11 15:47] Alys commented on #6212
@Midgitus Can you try logging in using a different browser? If you have no other browser installed and aren't able to install one, please try using incognito mode in your current browser. Note that this is just a temporary workaround.

[2015-11-11 15:51] Midgitus commented on #6212
Cookies are cleared, still the same message.

@Alys I've tried in IE with the same error message. Trying Chrome now, but Chrome is hanging on me (not anything Habitica-related - it appears to be doing this with any site I'm on.) Just tried incognito in Firefox, with the same error message.

[2015-11-11 15:52] paglias commented on #6212
I fear that for some reason their data got corrupted in the database
Il 11 nov 2015 4:51 PM, "Midgitus" notifications@github.com ha scritto:

[2015-11-11 15:53] Alys commented on #6212
Party object for Midgitus (chat removed)

[code]

[2015-11-11 15:56] Alys commented on #6212
And for dzmcclur (chat removed):

[code]

Interestingly, Midgitus's party has no name field. I'm adding one now.

[2015-11-11 16:03] Alys commented on #6212
@Midgitus Can you please go to the party page and reload it? I have no idea if the changes I've made will help, but it's worth a try. :)  If it works, you can edit the name, description, etc, that I added. If it doesn't work, can you try a few other pages to see if errors also occur?

[code]

[2015-11-11 16:06] zoebeagle commented on #6212
I am also getting this message... just started this morning.  I am using Chrome on Windows 10. I cleared all temp files/cookies and tried in incognito mode, none of which fixed it.  My party has seemingly disappeared.  If you need more info, please let me know.  Thanks.

<start error>
Yikes, an error occurred! Please reload the page, your last action may not have been saved correctly.

"Error Cann

[2015-11-11 16:08] Alys commented on #5801
@mfdeveloper The dependencies needed change too often for it to be practical to provide a complete box. For example, every time a library released a security patch, we'd need to upload a new box, and all contributors would need to download it.

Please do `npm install`. If that produces errors, do `npm install` again and this time capture the full output of it and show it to us. Note that it's wort

[2015-11-11 16:08] Midgitus commented on #6212
@Alys Worth a shot, but still giving me the error twice and prompting me to start a party.

[2015-11-11 16:11] Midgitus commented on #6212
@Alys The error is occurring on every Habitica page, actually. It just happens to be showing up on the party page twice.

[2015-11-11 16:24] Alys commented on #6212
@zoebeagle Your party still exists (the same applies to anyone else seeing these errors). It will come back as soon as we work out what's causing this.

[2015-11-11 16:26] aideelad commented on #6212
Hi!

I'm also getting this problem on party and tasks as well as several other pages of the site. I've tried clearing the cache and cookies on Chrome (Version 46.0.2490.80 m) and Opera (
Version:    33.0.1990.58) with no change. My user ID is  27b67351-41b1-4718-90ed-7dc510005747

Thanks!
Aidee

[2015-11-11 16:27] GlassGypsy commented on #6212
I am experiencing this exact same bug (including quest/party disappearance).  It's also preventing login to the oldgods site.  I'm accessing Habitica via Chrome on my android. Clearing cache/trying incognito mode hasn't worked.

Yikes, an error occurred! Please reload the page, your last action may not have been saved correctly.

"Error Cannot read property '7b9f2806-57c6-4643-833e-9c040ffa54a5' o

[2015-11-11 16:27] zoebeagle commented on #6212
Thanks @Alys you guys rock :)

[2015-11-11 16:28] Alys commented on #6212
Could everyone experiencing this please reload the site and tell me if it's still happening now?

[2015-11-11 16:30] zoebeagle commented on #6212
Looks like everything is back to normal here.  Thank you!

[2015-11-11 16:31] GlassGypsy commented on #6212
It showed the questless screen briefly at first, but corrected to normal by the time the page finished loading.  Oldgods site also working again. Thank you!

[2015-11-11 16:32] Midgitus commented on #6212
Beautiful - looks like everything is back to normal here. Thanks, @Alys !

[2015-11-11 16:33] dzmcclure commented on #6212
Whew this got fixed fast. Everything looks ok for me as well. Thank you!

[2015-11-11 16:34] Alys commented on #6212
Thanks everyone, especially for your fast replies to our questions!

FYI to fix it we reverted some very recent changes to the site which shouldn't have caused errors, and certainly didn't during our testing, but obviously something was wrong. We'll go through those changes in detail to work out what it was.

[2015-11-11 16:34] #6212 closed, assigned to nobody

[2015-11-11 17:04] mfdeveloper commented on #5801
Many thanks for your fast response @Alys. I understand your point about a full box. Please, check my terminal output below, after perform `npm install` twice:

[code]

[2015-11-11 17:04] testsubject1987 opened #6215 "Habitca Lag, Hanging, Glitches, Error Messages, Freezes"
I am using Habitica with Firefox (42.2) on a Windows XP3 system and also on a Windows 8.1 system, the problem is more pronounced with greater frequency on the XP system, when scrolling or clicking around the whole site will lag, hang, glitch, give error messages, sometimes freezes the browser ranging from 2-6 seconds on the 8.1 system and 5-20 seconds each tick on the XP system.

The problem I hav

[2015-11-11 19:54] gauthamchandra commented on #6215
@testsubject1987 Can you give us what the specific error messages are?

If you need help finding browser console errors (errors not shown to your directly by Habitica), Go to Firefox's Tools -> Web Developer -> Toggle Tools. It should toggle a developer toolbar that looks something like this:

<img width="1434" alt="screen shot 2015-11-11 at 2 52 37 pm" src="https://cloud.githubusercontent.com/ass

[2015-11-11 19:59] gauthamchandra opened #6216 "Automatic logging of client side errors"
This app doesn't currently seem to have any sort `onerror` hook to capture and send to us browser errors that might be happening.

Adding a tool such as [Rollbar](https://rollbar.com) or [Raygun](https://raygun.io/javascript) could help us solve this problem and fix bugs pre-emptively.

Worst case scenario, we should at least add a manual `onerror` event handler ourselves and then use it to log th

[2015-11-11 22:14] kawunngg commented on #6209
hello Alys,

thank you for your answer. i assumed this was a time zone thing. as long as the US people reported it i did not bother. But Rupunzel asked about it because she's from UK and only has 1 hour difference. but yes, it makes sense, her time is UTC, and mine is UTC+1.

i see a problem too with adjusting due dates to time zones. if the hoster of a challenge does not think about that, they mi

[2015-11-12 01:53] carolstone commented on #6006
Well, that's been miserable. I can't seem to get my vagrant box to work. I'm going to be posting in an appropriate thread and come back so I can work on this.

[2015-11-12 02:47] crookedneighbor commented on #6216
I've added this to the API-v3 milestone.

[2015-11-12 02:49] #5651 closed, assigned to nobody

[2015-11-12 02:55] crookedneighbor commented on #6193
I agree. Logging out everyone at once would be a support nightmare.

I think we should just have some friendly reminders to do it, and maybe some kind of incentive?

If we can get the majority of active users to switch over voluntarily, then we can discuss logging the rest of them out.

[2015-11-12 04:03] gauthamchandra commented on #5542
@SabreCat I can tackle this if noone else is.

Good way to get more familiar with this code

[2015-11-12 04:41] gauthamchandra commented on #3517
If i18n is needed, then this would mean we would have to list every major route in a json file in `common/locales/en` and pull this variable from a template.

This sounds tedious and if a new route or page is added, then new text would have to be added in the json.

Unit tests should at least be added then so that the tests would fail if it hit any route where it couldn't find a matching entry in

[2015-11-12 06:10] justicar347 opened #6220 "Random Death"
I logged on today and found that I had died. I should not have taken any damage. All dailies were checked and I am not fighting a boss. I think this may have happened several weeks ago as well. I had dailes unchecked, but seemed to take way to much damage.

User ID: 7f4483a2-b6b1-434f-82b1-899927234c98

Using Chrome and windows 7

[2015-11-12 06:12] justicar347 commented on #6220
A quick update. I just noticed that several dailies are still checked. However, I checked them well before cron last night.

[2015-11-12 06:24] Alys commented on #6220
Sorry about that! You were hit by this bug: https://github.com/HabitRPG/habitrpg/issues/4313
Please see the Advice section near the top.

[2015-11-12 06:24] #6220 closed, assigned to nobody

[2015-11-12 16:06] TrainerAnade opened #6225 "No tutorial or way to start the tutorial?"
I joined the website yesterday afternoon and was never shown a tutorial or any way to go through a tutorial. I never saw an error, either. I tried closing the browser completely and coming back in and I tried logging out and back in, but I never got a tutorial, error, or notification of a tutorial. I signed up through Facebook and hadn't downloaded the app yet, so I'd only been on the website.

I

[2015-11-12 18:27] crookedneighbor commented on #6225
@JJStamm Thanks for reporting this! I think I know what's wrong and am testing a fix for new users.

Would you like me to reset the tutorial for you? Or do you have it handled?

[2015-11-12 18:28] crookedneighbor commented on #6225
That is to say, do you feel like you understand the app well enough that you don't want to do the tutorial :)

[2015-11-12 18:32] TrainerAnade commented on #6225
@crookedneighbor I've figured out things at this point, I think and don't need a tutorial. But thank you for the offer!

[2015-11-12 19:05] #6225 closed, assigned to nobody

[2015-11-12 20:51] Stercus commented on #6060
I would like to take this.

[2015-11-12 21:20] Stercus commented on #6060
![habitica-192x192](https://cloud.githubusercontent.com/assets/15823400/11131554/37fb7128-8959-11e5-9e2d-96a44ea9b5b4.png)

[2015-11-12 23:53] lemoness commented on #4186
Personally, I think that removing the limit is just fine. We probably don't
need a note about the tag, but I think we should shorten the field as a
nice visual cue!

On Fri, Nov 6, 2015 at 12:19 PM, Alys notifications@github.com wrote:

[2015-11-13 01:13] SnowmanST commented on #4753
Hello,

Our group is in similar situation.
Quest owner sent invitation for the quest, but he doesn't start the quest or respond to other party members for unknown reason.
And some party members are on vacation, so they will not accept or reject the quest for a while.
As a result, We are stuck in "Quest Invitation" screen for 5 days.
Could you please force cancel the quest invitation so other membe

[2015-11-13 01:55] carolstone commented on #6006
Thanks to Alys, my vagrant box appears to be working. I've named my preference sortChat. Tell me if you prefer I name it differently!

[2015-11-13 02:01] shermanhuman commented on #6193
The tags idea is a good one.  It doesn't hurt to look at the future too, when someone figures out an attack against bcrypt.  I was looking into how Linux handles this.  Linux predates most hashing algorithms, so they had to figure out a future proof way handle hashing algorithm changes.  Basically they embed a tag in front of the hash:

[code]

You could add the tags (not necessarily in the hash),

[2015-11-13 02:21] madisonparklove opened #6230 "Cannot hatch eggs"
I cannot hatch any of my eggs. When I click on a potion (or egg), Alexander the Merchant asks me if I want to sell it, and then when I click on an egg (or potion) nothing happens. My only options seems to be to sell the items, which I don't want!

[2015-11-13 02:51] esmanning opened #6231 "Buying Mage Staff causes shield hand equipment to unequip with auto-equip off"
I have "Auto-equip new gear" turned off, but whenever I buy a Mage staff, I get the "[staff name] is two handed" message, and my shield hand equipment (Mustaine's Milestone Mashing Morningstar) unequips itself. My weapon hand equipment remains as it was before the purchase.

UID: 809d8b43-07a1-49ab-9bb5-ad3ba461688d

[2015-11-13 02:57] Alys commented on #6231
Nice catch. I've advertised this in Aspiring Coders since it should be fairly easy to track down.

[2015-11-13 02:59] Alys commented on #6230
You should get a pop-up dialog saying "do you want to hatch..." (or similar). It contains a checkbox that asks if you don't want to see those pop-ups again (that's added by your browser and we have no control over it). Did you tick the checkbox once before? If so, you won't see those pop-ups again, and hatching won't work. You can tell your browser to reset that setting by closing all browser wind

[2015-11-13 09:57] UnexpectedMushroom commented on #1471
Can I be added to the [Happy List challenge](https://habitica.com/#/options/groups/challenges/2def5ee7-291b-4ec0-860e-33c2d3d09551) please?

[2015-11-13 12:51] Alys commented on #6230
I'm closing this but if you still need help comment here.

[2015-11-13 12:51] #6230 closed, assigned to nobody

[2015-11-13 12:58] ojeytonwilliams commented on #6085
Hi.  I've been looking at this recently and I have half a fix (correct numbers now appear, but the badge sometimes hides), and just realised I should probably mention that I'm working on it!

[2015-11-13 13:01] Alys commented on #6085
@ojeytonwilliams Thank you! :) If you run into any problems, you're welcome to ask questions here, and/or submit a PR with partially completed code for us to look at.

[2015-11-13 13:05] Alys commented on #1471
@UnexpectedMushroom You should now be in the Happy List challenge, but let me know if anything doesn't look right.

[2015-11-13 13:07] Alys commented on #5542
@gauthamchandra Thank you! I'm not aware of anyone else working on it so it's yours for as much of it as you want to do.

[2015-11-13 13:10] Alys commented on #3517
Perhaps as a first step, we should get it working in USA English. That would give immediate benefits for many players and could be completed relatively quickly. Translations could then be added later.

[2015-11-13 13:11] ojeytonwilliams commented on #6085
You're very welcome!  Part of the reason I'm doing this is to figure out how to do it, so I'll hold off asking questions for the moment.

I don't think the total fix is going to be very large (or take me much longer), but if it's more useful to see partially completed code, I'd be happy to submit what I have.  Up to you!

[2015-11-13 13:15] Alys commented on #4186
I'm advertising this in Aspiring Coders as ready for someone to start working on it. The requirements are that in the challenge creation/edit form, we want the "Tag Name" field to have its length limitation removed, and we want the physical size of that field to be shortened to be perhaps a quarter of its current size.

The Prize field could also be shortened by the same amount (no other changes a

[2015-11-13 13:22] Alys commented on #6085
@ojeytonwilliams  I think we would only want to see partially completed code if you had questions, or if the new code was a large, complex piece of work that would benefit from an early review to ensure it was going in the right direction, but that shouldn't be the case here.

[2015-11-13 13:24] Alys commented on #4753
@SnowmanST The quest leader last logged in 3+ days ago, so I think this request is fair. Reload the party page in ten minutes and you should see the quest is gone. Comment again here if there's any problems.

[2015-11-13 13:24] ojeytonwilliams commented on #6085
Sounds good.  Thanks for the help :)

[2015-11-13 13:28] Alys commented on #6193
I love the idea of tags or similar - that's very clever! I've added a note about it to the top post.

[2015-11-13 13:43] WanderingPat commented on #4174
I'm running into the same issue as ruby1110.  I started the basi-list quest with my party.  I did the first damage, but haven't done anything else in the last 2 days.  Since I started this quest, I know I SHOULD be on it.  My ID: d2f54671-fd08-4da4-b3ed-8de3165b768c
![partylog](https://cloud.githubusercontent.com/assets/15042744/11147240/932f27ea-89e2-11e5-9fda-467b03368495.PNG)

[2015-11-13 15:01] ojeytonwilliams commented on #6085
@Alys There is something I'd like clarification on.

Currently, if you mouse over "Buy Gems with Gold", it tells you that you initially have a cap of 25 gems and that cap is increased by 5 for every 3 month block you subscribe for.  However, the badge is invisible if you select "Recurring $5 every 1 months" and, to my mind, it should be visible and say "Cap raised to 25".

Then the other options w

[2015-11-13 17:04] gauthamchandra commented on #3517
@Alys Fair enough. So enable this feature only for `uk` and `en` locales?

@nicolevonvon Tell me if you need any help with this. This looks fairly straightforward.

[2015-11-13 17:05] gauthamchandra commented on #5542
:+1: Will have a PR for you hopefully by the end of this upcoming weekend.

[2015-11-13 22:09] jamesmgg commented on #6175
Some expensive computations must be occurring on the long lists. That is something we both have in common.

[2015-11-14 01:45] lemoness commented on #6079
I like the idea of a warning that detects a timezone change, and I also
like the idea of displaying their time zone. I think separating the time
zone of Habit and the device i a big can of worms, and would like to avoid
it where possible.

On Fri, Nov 6, 2015 at 12:49 PM, Alys notifications@github.com wrote:

[2015-11-14 01:54] lemoness commented on #5913
I think that we can start with a straightforward warning. Something like:

Alas! Your browser doesn't have JavaScript enabled, so Habitica can't
properly display the site. Enable JavaScript to continue!

We can also have a cute picture, such as this one:
https://trello-attachments.s3.amazonaws.com/52e9d25cd467121630c6350d/52ec8ff45478b402281557b7/150x150/cf8e7db9bca60c76fca5723ec5e4ee2d/coding_3_b

[2015-11-14 01:58] lemoness commented on #5618
Let's say:

10 Dish Disaster
20 Find the Cub (10 of each)
30 Find the Lair of the Wyrm
40 Egg Hunt
40 Message in a Bottle (20 of each)
60 A Stern Talking-To
100 The Moonstone Chain

How do people feel about those numbers?

On Fri, Nov 6, 2015 at 1:17 PM, Alys notifications@github.com wrote:

[2015-11-14 02:12] Alys commented on #5618
10 for Dish Disaster feels a bit low to me, but I don't feel strongly about it, and it's been a while since I was low-level so I might be misremembering drop rates. The others seem good!

[2015-11-14 02:29] benaubin commented on #5913
Love that picture!

[2015-11-14 03:36] lemoness commented on #4618
Rooster and Whale mount heads are complete as well! They can be found on the Trello card. I'm editing my previous comment to be up-to-date.

[2015-11-14 04:51] crookedneighbor commented on #5618
I feel like the lower tier classes were pretty well spaced, it was just the high tier ones that were waaaay too hard.

I feel bad for the people who completed the original moonstone quest though. That was certainly an accomplishment! (I've been putting it off until a change like this happened)

[2015-11-14 05:08] camachoborracho opened #6238 "23 Perfect Days Achievement for no Dailies"
First go under User > Stats & Achievements and scroll down to various achievements.

If you find new people who haven't added Dailies yet and have been on for a while, you may notice this. I added mine about 2 days ago but, I got an award for not doing any Dailies (which seems to defeat the point of accomplishing actual Dailies, no?).

"23 Perfect Days
Completed all active Dailies on 23 days. With

[2015-11-14 05:22] sagerpg opened #6239 "Party Recruitment Trouble"
hi when I try to invite an existing user to join my party it gives me a message saying "User already pending invitation." but the they haven't received the invite

My User ID is: 8be36885-7014-4f45-8fcb-f87e90a31a12
the group ID is: 30b0c744-0040-41c3-85ec-db3a9b7c71ac

[2015-11-14 05:22] Alys commented on #6239
What is the user's ID?

[2015-11-14 05:23] sagerpg commented on #6239
8b24dae5-23f9-48d5-9374-5380c72c4ad4

[2015-11-14 05:28] Alys commented on #6238
Thanks @camachoborracho. We have this recorded (somewhat messily) at https://github.com/HabitRPG/habitrpg/issues/4535 and it's also closely related to https://github.com/HabitRPG/habitrpg/issues/2565 which I've just edited to explicitly describe this case.

[2015-11-14 05:28] #6238 closed, assigned to nobody

[2015-11-14 05:31] sagerpg commented on #6239
I also had a similar problem when i tried to invite our other member but I don't remember how I solved it

[2015-11-14 05:33] Alys commented on #6239
That user already has a pending invitation for a party, so the message you saw was correct. They'll need to reject that existing invitation before they can receive a new one (or accept it of course if they want to be in that party, in which case they also won't be able to receive new invitations).

I'm going to close this now, but if they have any problems with rejecting the invitation, they can c

[2015-11-14 05:33] #6239 closed, assigned to nobody

[2015-11-14 07:32] nicolevonvon commented on #3517
Hi, my free time has unfortunately been taken up with work priorities the past 2 weeks. Hoping to do this tomorrow though!
@gauthamchandra if you have a suggestion on a way to do this which will make future translation easier but isn't quite as intensive then that would be welcome.

[2015-11-14 12:43] madisonparklove commented on #4174
For 3 days in a row now, when my cron resets, I don't show up at all in the quest chat as having done damage or taken damage. I am participant in the quest and I am not resting in the inn. ID: 9d462b64-137a-4a91-800b-02e0bf1cd2ca
![screen shot 2015-11-14 at 7 42 35 am](https://cloud.githubusercontent.com/assets/13150260/11163591/5d4dcffc-8aa3-11e5-8582-745d5ecab670.png)

[2015-11-14 13:10] Alys commented on #5801
@mfdeveloper Please show us the full output of `npm install` (from the command itself until the output ends). We need to see all of it because there could be important errors near the beginning, and trying to troubleshoot errors that happen later can be difficult without knowing what else has failed.

[2015-11-14 13:32] Alys commented on #4174
@WanderingPat and @madisonparklove You should both find that you do damage to the quest boss on your next cron.

For our reference: Both of your accounts were missing a value for `party.quest.key`, even though you were listed as being in the quest's members object.

[2015-11-14 13:48] Alys commented on #6085
@ojeytonwilliams For the one-month option, the gem cap isn't raised immediately - you have to wait three months before the first raise happens. If the badge was there, it would need to say "cap is 25" rather than "cap raised to 25". I think it's best though that the badge only appears for the multi-month options, because that helps to highlight that they have better advantages.

[2015-11-14 14:22] madisonparklove commented on #4174
Thank you!

Sent from my iPhone

[2015-11-14 18:15] Awesumpunk opened #6241 "Tags not re-ordering when I re-order them also randomizing when I edit a Daily"
My UUID is: f7c356cf-3888-4884-acfa-ff61e7f51321
This just started this morning (11/14/2015) and it's very annoying.  What happens is I try to re-order my tags in a way that makes sense so that the Challenge tags are at the bottom of the list, and they don't stick after I press the sync button.  Then I click the Grey Dailies button and go to untag the "Still Needs Improvement" tag from some dailie

[2015-11-14 20:35] Alys commented on #6241
I can't replicate this so I think it's a local problem with your browser.

First try reloading the site to see if that fixes it.

If it does not, please log out of Habitica, clear cookies, cache, and local storage, close all browser windows, and then log back in and try again.

If that doesn't fix it, and if you have another browser installed, please try on that. This is a temporary workaround and

[2015-11-14 22:21] ghost commented on #2805
Same issue occurred today under similar circumstances as my last post. Before cron, I last checked Habitica on my laptop. After cron, I first checked Habitica on my iPhone. Upon opening the app, it refreshed info on Habits, Dailies, and To-Dos, but not Party. I had to go to Menu-->Party and refresh that page separately. Double damage appeared. I have the most recent version of the app.

[2015-11-14 23:19] Alys commented on #2805
@lmking How much time do you estimate passed between the fresh information about your tasks appearing, and you refreshing the party page? What is your User ID (from Settings -> API on the website, but it will be in the app somewhere too).

[2015-11-15 02:54] ghost commented on #2805
The time gap was short—maybe 30 seconds. My User ID is 88357773-a371-41f5-9ee2-5c4def77a810 .

[2015-11-15 05:48] Alys commented on #2805
For @lmking's two reports, the duplicate damage occurred within 0.2 seconds in the first case, and 1.9 seconds in the second.

[code]

[2015-11-15 09:24] scalegraze opened #6242 "Adding a new checklist item to an existing list sometimes closes edit mode"
I am encountering this in Firefox.
I will often edit existing to-dos with a few checklisted items.  The first time I do this when I return to the page, it will often close editing leaving me with a blank checklist item or sometimes with a couple of letters.

[2015-11-15 10:28] Alys commented on #2965
This can also interrupt editing of checklist items, including removing some or all of the text that had been entered into a new, unsaved item.

The frequency of this problem can be reduced if you click the website's sync button before editing a task.

[2015-11-15 10:30] Alys commented on #6242
The underlying problem has been reported in https://github.com/HabitRPG/habitrpg/issues/2965, and I've just updated it to include the specific case of editing checklists. I'm closing this issue since we're tracking the problem in that other one.

This typically happens when unrelated changes are synced into the website at the same time that you are trying to save your changes. The frequency of thi

[2015-11-15 10:30] #6242 closed, assigned to nobody

[2015-11-15 10:34] scalegraze commented on #6242
Thanks, I'll try this solution.
I wasn't sure if it was the same problem or not as my situation seemed similar, but different. I thought it best to start with a new ticket.
Out of curiosity, is there a shortcut key for syncing the page (other than completely reloading with f5)?

[2015-11-15 10:39] Alys commented on #6242
No worries about the new ticket. :)

There isn't an inbuilt shortcut key, but the [Vimium Chrome extension](https://chrome.google.com/webstore/detail/vimium/dbepggeogbaibhgnhhndojpepiihcmeb) adds keyboard controls to many elements on the site, including sync. There's similar tools for other browsers.

[2015-11-15 10:41] #5480 closed, assigned to nobody

[2015-11-15 10:41] scalegraze commented on #6242
Any suggestions on where I might find a similar tool for firefox?

On 15 November 2015 at 20:09, Alys notifications@github.com wrote:

[2015-11-15 10:45] Alys commented on #3457
@crookedneighbor @paglias This might be something to consider for API v3, if it's not already on the list.

[2015-11-15 10:56] paglias commented on #3457
it's on the list!

2015-11-15 11:45 GMT+01:00 Alys notifications@github.com:

##

Matteo Pagliazzi - paglias.net

[2015-11-15 11:17] Alys commented on #6242
Yes, you can search for extensions for firefox at https://addons.mozilla.org/en-US/firefox/
Keywords like keyboard, shortcut, and accessibility will probably find something.

[2015-11-15 12:53] UnexpectedMushroom commented on #1471
@Alys Thank you ^^

[2015-11-15 20:31] testsubject1987 commented on #6215
Hello,

I apologize for the delay. Its not exactly something I like wrangling with. I get frequently a script error at 'Script: https://habitica.com/app-c96340b6.js:5'

Here is an attached screenshot of what you asked for.

![consolehabitica20151115pm0229](https://cloud.githubusercontent.com/assets/15749182/11170821/61db6978-8ba5-11e5-9e3c-b985e1492c3f.jpg)

I hope that helps further any advise an

[2015-11-15 22:09] kellarules commented on #6040
I'm dealing with a consistent problem with the order of my To-do's that only started happening _after_ problem #2606 had been resolved.

First, some explanation of how my system works: I use a tag system that allows me to see just the to do's that I want to be currently working on, while having other ones I want to do soon but not yet hidden. I do this by first having a #1 tag and a #2 tag that I

[2015-11-15 22:15] kellarules commented on #6040
Oh and I forgot to mention. I could not replicate this in the order of the dailies. If i messed with the tags and order in habits, I did notice that the order changed, but I didn't rearrange the order enough to figure out if it was the same pattern as with my to-do's.

[2015-11-15 23:02] Alys commented on #6040
The current To-Do sorting feature works by comparing the positions of all To-Dos. When you're filtering to show only some To-Dos, the position that you think you move a To-Do to might be different than the one you are actually moving it to. E.g., if you have two hidden To-Dos at the bottom of the list, and you move a visible To-Do to the bottom, the visible To-Do might be placed above or below or

[2015-11-15 23:02] Alys commented on #6040
Emoji in Habitica: http://habitica.wikia.com/wiki/Emoji

[2015-11-16 14:17] bill-mcgonigle commented on #6193
I'm glad to see this is being worked on - thank you! @crookedneighbor 's idea of offering incentive would definitely speed compliance (assuming the infrastructure exists to offer the user a piece of gold for doing a site task).  If it takes several months to slowly migrate the rest, so as to not overwhelm support, at least  it's done after those several months!  Unfortunately at $dayjob I've been

[2015-11-16 14:26] crookedneighbor commented on #6193
We could also make a modal pop up when the user first loads the site prompting them to update their password. (They could even do it right from the modal)

[2015-11-16 14:35] bill-mcgonigle opened #6248 "enabling pushTaskToBottom"
I'm a fairly new user (again) - I'm using pushTaskToTop regularly, but adding new ToDo's is a chore because my list is so long I have to plan on spending half a minute per entry, as I have to drag most tasks all the way to the bottom.  Having pushTaskToBottom working would save me quite a bit of time (and encourage good habits...).

I see that pushTaskToBottom is there but commented out:
https://g

[2015-11-16 17:00] ohmissjamie commented on #2805
Hello! A party member has encouraged me to submit a bug here, I hope this is the right place to do so!

Reading through the comments a bit, I see that I am not the only one experiencing the "double damage bug". Every night I attack twice (or am attacked twice, depending). Whatever damage I deal and am dealt, it happens twice every night consistently.  It was suggested that I would be a good test c

[2015-11-16 17:19] Alys commented on #6248
Ohhh... ctrl-click..... That's a clever idea.

It is only for clutter reasons that we don't have push-to-bottom fully implemented yet, although I very much want it when we reorganise the task icons (https://github.com/HabitRPG/habitrpg/issues/3921). The feature would work if there were a UI element for it. We added the code for it to try to help with the To-Do sorting bug and so `pushTask(task,$in

[2015-11-16 17:25] Alys commented on #6193
A modal is a nice idea! It might be the only incentive we need to get many of the users converted. Although I'd like to see it implemented a couple of weeks or more after the feature where their password is automatically updated when they log in. We're bound to get questions about why the modal exists (even if the modal explains why itself!) and reducing the number of people who need to be shown t

[2015-11-16 17:26] SabreCat commented on #6248
I like the ctrl-click idea too! Especially if the push-to-top icon flips to a push-to-bottom icon while Ctrl is held.

[2015-11-16 18:01] shermanhuman commented on #6193
Yeah, additionally the exposure goes beyond habitica, surely there are users that use the same password for everything; Amazon, Paypal, online baking etc.  With that in mind sooner sounds better than later.

[2015-11-16 18:28] crookedneighbor commented on #6248
:+1: to icon flipping

[2015-11-16 18:50] masterolav opened #6249 "Unable to start quest"
I started the quest Attack of the Mundane Part 1.  No one else was in my party.  I then canceled the quest to join another party.  I have left the other party.  When I click on my quest scroll to start the quest again, I receive the following error message "Group not found or you don't have access."  Help!

[2015-11-16 19:00] masterolav commented on #6249
Never mind.  I was able to fix it.

[2015-11-16 19:00] #6249 closed, assigned to nobody

[2015-11-17 02:02] lemoness commented on #4618
Cobra heads are done! They can be found on the Trello card. I'm editing my previous comment to be up-to-date.

[2015-11-17 07:32] Alys commented on #3824
I'm closing this because it's mentioned in https://github.com/HabitRPG/habitrpg/issues/4499 (second comment).

[2015-11-17 07:32] #3824 closed, assigned to nobody

[2015-11-17 07:39] Alys commented on #4499
From several comments back:
_"the only downside is users signing up with someone else's email address (which.. like... why)."_

I've seen at least two complaints of that in emails to the admin@habitica.com address. I'm certain that one of them was a legitimate complaint. The other one felt a bit more like the user just forgot that they'd signed up ages ago, but I might be misjudging that.

Unrelat

[2015-11-17 08:29] kellarules commented on #6040
Aha! I tried reordering the list while all tags were off and it worked! I messed with it back and forth and the order stuck. So I'll keep that in mind if things get messed up again.

I also messed with the emoji idea and I liked it. I was a bit frustrated at how, because my screen is kinda small, it created line breaks in my tasks that I didn't want and there wasn't an easy way to get everything o

[2015-11-17 08:34] lvdpal opened #6252 "Guild description is too narrow on guild page"
When looking at a guild page with a long description the site forces you to scroll very far down, even if you have a screen that has plenty of space too allow it to be wider.

![image](https://cloud.githubusercontent.com/assets/3662798/11206257/169e9f06-8d0e-11e5-8c90-87537da14c1c.png)

It would be nice if this had a variable width, so it would just use the space that is available. For example lik

[2015-11-17 08:35] Alys commented on #6040
@kellarules You can often prevent a line break occurring between two words by replacing the space with these six characters: `&nbsp;` which is the HTML code for "non-breaking space". If you replace all spaces in one task with that, the task **might** stay on one line, although the limits imposed by the task columns might still cause it to wrap. You can at least partially control where it wraps by

[2015-11-17 08:37] Alys commented on #6252
That would be nicer!

Everyone: Unless there's any objections in the next couple of days, I'll mark this as "help welcome now" and advertise it in the Aspiring Coders guild.

[2015-11-17 08:44] Alys commented on #2805
@ohmissjamie You are right that you would be a good test case! If you don't object, one night when you are on a quest, could you please log out of the mobile app (that will stop it taking any actions on your account that we aren't aware of, such as background syncs), and also close all browser tabs that have Habitica open, on all laptops or PCs that you use Habitica on.

If you use any third-party

[2015-11-17 10:36] Alys opened #6253 ""You do not own this pet" (or mount) message when displaying a pet / mount you have just hatched / raised"
When you hatch a pet and click on the "display" button in the modal screen that appears, you sometimes see the message ":You do not own this pet" and the pet does not appear in your avatar. However when you go to your Pets page, you can see the pet there, and it remains after a sync.

![screen shot 2015-11-17 at 8 20 10 pm](https://cloud.githubusercontent.com/assets/1495809/11208867/4ddc979c-8d69-

[2015-11-17 13:56] TheSchwamm opened #6254 "Typo in suggestion to read "Communit Guidelines""
When one has not yet agreed to follow the Community Guidelines, the following text appears above Party Chat:  "If you would like to post messages in the Tavern or any party or guild chat, please first read our Communit Guidelines and then click the button below to indicate that you accept them."  The trailing "y" is missing from "Community."

[2015-11-17 13:58] bill-mcgonigle commented on #6248
just a quick note - before figuring out how to do a local habitica install (->To-Do), I tried this just using the Chromium debugger, and it didn't work for me.  I'm not really sure how the interplay of the debugger and Angular work though, so maybe it wasn't a valid test:

`a(ng-click='if($event.metaKey || $event.ctrlKey) { pushTask(task,$index,'bottom') } else { pushTask(task,$index,'top') }'', t

[2015-11-17 15:42] ojeytonwilliams commented on #6231
@Alys I think I found a solution to this, but it made me realise there's something about the habitica code I can't get my head around.  What are the files in common/script/src used for?  I assumed they would compile into common/script, but that doesn't seem to be the case.

[2015-11-17 15:56] EmanonSuomynona opened #6257 "Not receiving damage from quest boss"
For the Icy Arachnid quest that I (and my rather large party) am on, I have not been dealt damage even though the boss we're fighting has damaged the party.This is probably an issue I shouldn't be complaining about, but without any boss damage, it's a little bit boring. :)

My User ID is 8cb48592-37f4-4925-a1fd-9b030f6d8619.

[2015-11-17 16:47] natfarleydev opened #6258 "Completing task wipes get certain days of the week with swagger UI and python requests"
I am feeding the

[code]

method a task from

[code]

. When I do this, it wipes the 'certain days of the week' information, even though it is present (I think?)

The task in question is here (with history redacted)

[code]

After running the "up" action on the task, the `"repeat"` section is not altered.

[2015-11-17 16:54] natfarleydev commented on #6258
I should say that although the `"repeat"` section is not altered, on Habitica.com the task does not show up as an active daily.

After completing the task, it looks like this (history redacted again):

[code]

[2015-11-17 17:07] crookedneighbor commented on #6231
They are not used. That was my attempt at an es6 refactor. They will be deleted soon.

[2015-11-17 17:33] SabreCat commented on #6253
Hmmmm. Can we confirm it has to do with speed of clicking? While developing those buttons, I had this issue with any egg or hatching potion that included spaces in its name (e.g. Flying Pig, Cotton Candy Blue), but I thought I had addressed that. It's possible the issue has recurred.

[2015-11-17 17:36] SabreCat commented on #6257
Have any of your party members been using the "Blessing" ability to heal the party? When you log in, Blessings and damage from Dailies including boss damage get totaled up, then the overall change to Health is applied. So if, for instance, the boss hit you for 10 and 5, but your party Healers sent out Blessings totaling 20, you wouldn't see your Health go down at all.

[2015-11-17 17:49] SabreCat commented on #6253
I was able to equip a just-hatched Tiger Cub, so that disproves my hypothesis at least on the egg side.

Can we use some kind of queueing to avoid a race condition here? ( @crookedneighbor ?)

[2015-11-17 17:49] crystalraebryant opened #6259 "Invited friend to join party and she accepted, but now shows up in both the party member and invited lists"
**My User ID:** 11a45a75-0310-4d75-9f88-fec2691db78f
**Friend's User ID:** bf8806ad-1319-49a5-a480-90df4aa348e5
**Group ID:** 7cc472f1-1e15-4d1f-8199-675e36a4a26e

**Browser:** Chrome 46.0.2490.86 m
**OS:** Windows 10
**Javascript errors:** none

![capture](https://cloud.githubusercontent.com/assets/14956396/11219581/c60bae90-8d20-11e5-86c2-f6c889d1ead0.PNG)

Possibly related:
My friend joined via

[2015-11-17 18:27] EmanonSuomynona commented on #6257
No, none of my party members have cast Blessing since the damage.
Here is the party chat record.
![image](https://cloud.githubusercontent.com/assets/15892973/11220621/786c6e9e-8d26-11e5-9a4d-02107418dd8a.png)

Also, for some strange reason, the problem was fixed just now when the boss dealt 3.5 damage... I have no idea why... Anyway, sorry for the trouble, I guess...

[2015-11-17 18:34] #6257 closed, assigned to nobody

[2015-11-17 18:34] SHHHHHH opened #6260 "Misspelling in Community Guidelines link"
This is nothing major, but there is a missing y in the guilds chat, before I agree to the "terms".
Here is a screenshot: https://www.dropbox.com/s/p8uboetur0w978f/PrtScr%20capture_4.jpg?dl=0

[2015-11-17 19:31] lemoness commented on #5618
How about multiplying the number of their achievement badge to balance it
out and give them credit where credit is due?

Edited proposal:
20 -- Dish Disaster (Attack of the Mundane part 1)
30 -- Find the Cub (Trapper Santa part 2) -- 10 twigs + 20 tracks
30 Find the Lair of the Wyrm
40 Egg Hunt
40 Message in a Bottle (20 of each)
60 A Stern Talking-To
100 The Moonstone Chain

On Fri, Nov 13, 2015

[2015-11-17 20:19] SabreCat commented on #6257
OK! Keep an eye out; you can reopen this issue if it starts happening again!

[2015-11-17 20:20] SabreCat commented on #6260
Duplicate of #6254 .

[2015-11-17 20:20] #6260 closed, assigned to nobody

[2015-11-17 20:20] SabreCat commented on #6259
Duplicate of #5649 .

[2015-11-17 20:20] #6259 closed, assigned to nobody

[2015-11-17 20:31] Alys commented on #6259
@crystalraebryant I've removed the invitation from your party and from your friend's account. However these tend to come back, so if it reappears, you or your friend or anyone else in your party can comment here and I'll remove it again. We'll still see your comments even though this issue is closed.

[2015-11-17 20:44] Alys commented on #6258
You've said that it wipes the day of week information but you've also said that it's not altered, so I'm not sure what behaviour you're seeing. Using `direction` is meant to just mark the task as completed or not completed. For a Daily, if you mark it as completed, it will turn grey in the website because it is no longer due that day (but it should still have the same due days configured so that i

[2015-11-17 21:52] SabreCat commented on #6253
While doing some testing on fixes to the sharing modals, I got this error again with a Cotton Candy Pink pet.

[2015-11-17 22:05] natfarleydev commented on #6258
Sorry, it wasn't very clear. The problem is that when 'Morning Prayer' is completed with the API method, it deletes the days from the 'certain days of the week' on the website, so that the daily never occurs.

On further inspection, it looks like the problem is that the 'Morning Prayer' task has somehow had it's 'repeat' property corrupted. This means that instead of `"su": true`, 'Morning Prayer'

[2015-11-17 22:08] Alys commented on #6260
@SHHHHHH I've seen that you were asking in the Newbies Guild if you reported this correctly. You definitely did! The only reason we closed it is that someone else had reported it first. :) We're tracking the fix in the first issue (the one linked to above).

[2015-11-17 22:10] Alys commented on #6258
When you use `post /user/tasks/{id}/{direction}` with a direction of `up` on a task that doesn't have the 'repeat' property corrupted, does it work correctly? I.e., does the task get marked as done, but the repeat settings are not changed inappropriately?

Separate to that, do you have any idea what could have caused the repeat settings to be corrupted for your prayer Daily? Was the Daily created

[2015-11-17 22:27] natfarleydev commented on #6258
When the repeat parameter is not corrupted, `post /user/tasks/{id}/{direction}` works fine.

I was able to reproduce the corruption bug but only in python (not with Swagger UI). I think it may be a bug in the requests library, since the corruption only happens when I use `requests.put` method. When I use the `requests.put` method in python with `put /user/tasks/{id}`, the repeat item becomes corru

[2015-11-17 22:47] Alys commented on #6258
Okay, I'm closing this, but if you need help with your Python code that uses the API, you're welcome to show us the code!

[2015-11-17 22:47] #6258 closed, assigned to nobody

[2015-11-17 23:02] Alys commented on #6253
Ah, it might be related to spaces in the potion name. I just had it happen with two spaced-potions and not with one non-spaced potion.

[2015-11-17 23:03] Alys commented on #6253
I've removed the speed of clicking comment from the OP.

[2015-11-18 02:59] lemoness opened #6263 "Add "Merch" Section to Static Page"
Now that Habitica has a Teespring and a Stickermule, we should make a static page for merch that links to them both. The Merch Page should also probably be accessible from within the site, maybe in the footer? Recommendations are welcome.

[2015-11-18 03:24] #6253 closed, assigned to nobody

[2015-11-18 03:37] Alys commented on #6253
Well that was significantly faster to fix than I thought it would be. :-/

[2015-11-18 03:38] #5913 closed, assigned to nobody

[2015-11-18 03:42] gauthamchandra commented on #6215
Not 100% sure yet but this seems to be purely a performance issue.

If I had to guess, I would say this is due to a lot of the dailies, tasks and todos you have causing the `$digest` cycle to hoard the JS event loop and forcing Firefox to just kill the script.

I am going to do some testing to see if I can boost performance.

[2015-11-18 03:47] crookedneighbor commented on #6254
Fixed with 6bd0ed76cc7e2355af2697d6fb5fe898bcebbc5a

[2015-11-18 03:47] #6254 closed, assigned to nobody

[2015-11-18 04:02] crookedneighbor commented on #6248
I think we should have a global listener for the meta key. On keydown, it applies a class to the body element. On keyup, it removes that class.

The button toggle will then be as easy as hiding one and showing the other when the class is applied and the reverse when the class is not applied.

It will also allow us to do similar things in the future without any hackery.

[2015-11-18 11:11] UnexpectedMushroom commented on #1797
Hasn't this been fixed?

[2015-11-18 13:34] crookedneighbor commented on #1797
Looks like it now opens the single challenge page, so yes. Thanks for noticing.

[2015-11-18 13:34] #1797 closed, assigned to nobody

[2015-11-18 15:24] Alys commented on #3543
I'm closing this because we now have orphaned challenges listed as "no owner" and the [Elves](https://habitica.com/#/options/groups/guilds/a7d0a7c8-f1cf-4813-b841-75308003f611) search for them often and find new owners or close them.

[2015-11-18 15:24] #3543 closed, assigned to nobody

[2015-11-18 16:10] jamesmgg commented on #6175
@Alys Have you all be able to replicate the issue?

[2015-11-18 17:25] SHHHHHH commented on #6260
@Alys Thanks for the response :) I checked, but failed to see that there is report about this. Tho I guess I missed it because it's 'closed', and I thought closed issues are resolved too, so I only searched the open ones.
@SabreCat Sorry for the dupe :)

[2015-11-18 18:28] testsubject1987 commented on #6215
It would be my guess to IF the two computers I am using were not so similar in specs or if the problem was constant over a long period of time.

To note, perhaps I should of said this, that consoling was done before I clicked or did anything. Just loaded it up and clicked into it. Not sure if that makes any difference.

I have a few hunches... my 8.1 and XP systems have a difference... and I think

[2015-11-18 18:28] crookedneighbor commented on #6260
It's closed because I just fixed it :)

[2015-11-18 18:39] SHHHHHH commented on #6260
@crookedneighbor Cool. :+1: :) So issues do remain open until they get resolved.
Then I guess I wasn't looking hard enough. Next time I'll be more thorough. :)

[2015-11-18 18:42] tomaspinho commented on #4252
My party just completed Attack of the Mundane part I and I got none of the rewards, even though I accepted the quest, and I I even have logs with my username regarding the same quest. This is not the first time this has happened either. Can anyone help?

[2015-11-18 19:15] Rialgar opened #6267 "Error 500 when casting BackStab"
Hi, when casting Backstab, I get an error message:

"Cannot set property 'drop' of undefined"

Chrome Console showed a 500 Error:

[code]

and an object

[code]

JSON of that object (sans api-key):

[code]

The actual server response was:

[code]

The Stack Traces do not seem helpful (all in minified code), but I saved them and can provide them if needed.

I would reach level 30 by casting it, aft

[2015-11-18 20:52] gauthamchandra commented on #6215
@testsubject1987

Browsers use your GPU to do some hardware acceleration for rendering for added performance. The lack of graphics hardware on XP _could_ add to the problem but I personally think its mostly the number of dailies, todos and habits you have. The framework that Habitica uses for JS (Angular 1.x) doesn't work well with large amounts of data unless it is tuned properly. **I am not too

[2015-11-18 21:00] Alys commented on #6267
This has been reported already at https://github.com/HabitRPG/habitrpg/issues/4986 so I'm closing this issue.
Please see that issue for the fix.

[2015-11-18 21:00] #6267 closed, assigned to nobody

[2015-11-18 21:09] #6085 closed, assigned to nobody

[2015-11-18 21:25] Alys commented on #6175
@jamesmgg No, it doesn't happen for me. You could try deleting your completed To-Dos (there's a button at the bottom of the "Done" tab), or try on a different browser.

[2015-11-18 22:02] tomaspinho commented on #4252
@Alys thanks for the quick response! And sorry for not giving you the user id, will take that into account in the future.

[2015-11-19 12:33] mfdeveloper commented on #5801
Ok @Alys ! I edited my last comment above with my **full terminal output** after `npm install` command. My apologies if I disturb you :(

**OBS:** Now, the server was started! I fix the problem adding the `devDependency` into package.json, like this:

[code]

This solution is mentioned in a issue of this repo: https://github.com/flosse/kartevonmorgen/issues/5.
Can I create a `pull request` with th

[2015-11-19 16:22] ToraOkami commented on #6206
I'm getting a similar Application Error, only when I try refreshing the page it thinks for a very long time then gives me the Error again. I have to completely close that webpage and open a fresh tab for Habitica to continue working properly.

[2015-11-19 16:27] salfej opened #6268 "Only one sub-task can be checked off before application error is thrown for other sub-tasks"
Working on Chrome Version 46.0.2490.86 m. Habitica is a pinned tab that opens up when launch chrome, and I'm already logged on. I access it on several computers, and this particular computer I haven't used to access Habitica in about a week. When I logged on, I got messages for the past 5 achievements I received (leveling up, hatching a dragon, etc.). I have Daily tasks with several sub categories

[2015-11-19 16:35] jlriddell commented on #6206
I'm getting a similar error and reloading does not fix the issue - I also need to open a new page.

[code]

[2015-11-19 21:45] sjvrijn commented on #6268
Same problem here. Also with Chrome version Versie 46.0.2490.86 m, not as a pinned tab. Wanted to create 2 new habits and reorder them. Kept throwing the error after 1 (saved) action. Refreshing meant I could do one more thing, then the errors came again. Same console log messages

[2015-11-19 22:04] Alys commented on #6268
I've just restarted the website which typically fixes application error problems. Please comment here if it happens again.

[2015-11-19 22:06] Alys commented on #6206
@ToraOkami @jlriddell I've just restarted the website which typically fixes application error problems. Please comment here if it happens again today.

@gaballison We've restarted the site a few times over the past few days. Are you still getting an application error every day when you try to log on?

[2015-11-19 23:10] salfej commented on #6268
The restart seems to have worked. My sub-tasks don't throw errors anymore, and the response time is quick again. Everything seems to be in working order again!

However, the first uncaught security error is still present. I logged out and logged back in just to make sure it wasn't an authentication thing. Haven't cleared cache and cookies yet, but I could try that later. The https://s7.addthis.com

[2015-11-19 23:18] petathames commented on #5988
My party is having weird quest issues, but its more to do with extra damage with crons running twice or at the wrong time.  I know in my case it's not related to #5919 as I haven't changed my timezone recently and I only access Habitica via the webpage (I do have the android app installed but rarely use it).

Group ID: 1b2f65f1-0720-4491-9db3-4973fd2c982e
My ID: 4733870a-a49b-4fb5-bcc6-c5863973ccc

[2015-11-20 02:31] Arodang commented on #4186
I'll take this one on if that's okay. Found the max length and cut that out, moved the tags down by the prize. Working on the styling now, trying to wrap my head around how Jade handles styling and where habitrpg stores the CSS styles.

[2015-11-20 03:44] citrusella commented on #6268
Addthis provides the share button on the avatar. Dunno why there's a security error, but simple layman me thought I'd mention that. XP

[2015-11-20 10:32] Aidenbloodaxe opened #6271 "The Moonstone Chain, part 3 hasn't been unlocked"
Hello, the Moonstone Chain, part 3 hasn't been unlocked even though I've just completed part 2, I'm level 73(requirement is 60) & I was supposed to receive the quest as a reward for completing part 2.
- Kind Regards

[2015-11-20 12:22] mfdeveloper commented on #5876
Hello @AnitaYCheng, I had the similar problem with `phatomjs` dependency, and I suggested one fix in issue #5801 . Please, check if this solution work to you :)

[2015-11-20 12:40] Alys commented on #6271
Thank you for reporting it, but this is the same issue that's being tracked at https://github.com/HabitRPG/habitrpg/issues/4252 so I'll close this one. If you'd like us to give you the rewards for the quest, please comment on that issue with your User ID (it's different than your name; to learn how to find your User ID, see step 6 from the instructions at Help -> Report a Bug). There's probably ot

[2015-11-20 12:40] #6271 closed, assigned to nobody

[2015-11-20 16:56] allynia6 commented on #4173
I would like to see the repeating function added to the To Dos (not just the dailies).

Specifically, I would like to see the following functionality:

Repeat every [x] [days/weeks/months] regardless of completion date (new to do every 2 weeks regardless of whether the last one was completed - so there could be two identical to dos on the list at the same time)

Repeat every [x] [days/weeks/months

[2015-11-20 23:20] #6206 closed, assigned to nobody

[2015-11-20 23:24] Alys commented on #6268
I'm closing this because the restart we did seems to have fixed the server errors. The security warning about addthis.com isn't related, and isn't a security problem for any players (at worst, it would prevent the avatar being sharable).

[2015-11-20 23:24] #6268 closed, assigned to nobody

[2015-11-21 00:11] Alys commented on #6248
@bill-mcgonigle Did you have any questions about crookedneighbor's suggestion for a global listener? Or about the local install? If you run into problems with either, you're welcome to comment here for assistance. If the local install isn't going smoothly, it often helps to run `npm install` more than once (e.g., that eliminates problems due to temporary network outages), and if it still doesn't w

[2015-11-21 01:30] sporeball opened #6272 "When trying to hatch a pet that I already have, the popup still appears"
**User ID:** ce3d1e2b-be53-4e5e-8101-273157548178
**Operating System:** Windows 10 (Google Chrome)

_Popup and alert_
![image](https://cloud.githubusercontent.com/assets/12767408/11315692/50e3b5bc-8fab-11e5-8af2-434e5e3b7af6.png)

_Proof that I have the Zombie Tiger_
![image](https://cloud.githubusercontent.com/assets/12767408/11315703/ac21c162-8fab-11e5-8ffc-dd454a337476.png)

[2015-11-21 01:36] Alys commented on #6272
Confirmed. Thanks @MrEikono!

[2015-11-21 02:27] Alys commented on #5801
@mfdeveloper Sorry, I've only just seen your question about making a pull request. When you edit a comment, github doesn't notify us. We get emails for only new comments.

@crookedneighbor or @paglias What do you think of the proposed change in the previous comment?

[2015-11-21 11:11] crookedneighbor commented on #5801
Fine with me.

[2015-11-21 11:26] Alys commented on #5801
@mfdeveloper Please do a pull request for your change. Include your User ID from Settings -> API because it will count towards a contributor tier.

[2015-11-21 17:06] TheHollidayInn commented on #6248
I have actually added something similar to what @crookedneighbor is describing here: https://github.com/HabitRPG/habitrpg/blob/develop/website/public/js/controllers/inventoryCtrl.js#L260
https://github.com/HabitRPG/habitrpg/blob/71473a93ad415d84f20ccd2bdfefa9a93f9728db/website/views/index.jade#L3

This is a global event that can be fired and watched. I used this for hitting the escape key to cance

[2015-11-21 21:30] Alys commented on #6248
@TheHollidayInn Thank you! That should be very helpful!

[2015-11-21 23:00] Alys commented on #5510
@ArcShade083 @iiieeeoo @squirrel7 If you're still having trouble with this, edit the tasks to change the Start Date to a recent date (a date after daylight savings ended). Let me know if that doesn't fix it.

[2015-11-22 23:07] gpenalba opened #6276 "Application Error"
dd75fadf-ba01-48d9-a3b4-22beb3b97a3e

There's something going wrong when I invite people into my party. I tried to invite 3 friends, none of them are actually able to do anything in my party, they constantly get an application error. One friend forwarded the invite that I sent him, so I clicked on the invite... NOW I'M GETTING THE APPLICATION ERROR. It shows up on the right side of the screen ever

[2015-11-23 01:13] RingonMatrix commented on #6276
I am having the same problem except it happens when I do a to-do or a habit and it will never save.

[2015-11-23 01:23] IstraLouise commented on #6276
I have the same error message but it started when I went to a page for a challenge that was just put up on the Short Term Goal Accountability Group for [Food Diaries](http://habitica.com/#/options/groups/challenges/2a40fbf2-da93-4d12-b1b2-4bd570e2aff1)  I managed to join by maneuvering the join button up at the top of the application error until I could get a hand.. Now the application error is fo

[2015-11-23 01:28] Alys commented on #6276
I've restarted the server so the errors should stop now. However comment here if they persist.

For future reference, when you see application errors, reloading the page using the browser's refresh/reload button is the only fix worth trying; syncing or clearing cache won't help (not that they were bad things to try because they can fix some problems, but they aren't necessary in this case).

[2015-11-23 01:47] britnbutler opened #6277 "Enchanted Armoire Item Disappeared"
A few days ago I received the Shepherd's Crook from the Enchanted Armoire. It showed up and I equipped it, but then a few hours later it was no longer equipped to my avatar and it was completely gone  from my inventory.

[2015-11-23 01:48] RingonMatrix commented on #6276
It seems to have worked. Thanks a lot Alys

[2015-11-23 02:12] Alys commented on #6277
Please see this issue: https://github.com/HabitRPG/habitrpg/issues/5376
in particular the section in bold near the top.

[2015-11-23 02:12] #6277 closed, assigned to nobody

[2015-11-23 02:14] britnbutler commented on #6277
This isn't the same issue. The item did show up, so I know that I had it
and it wasn't just that the Enchanted Armoire told me the wrong thing. Then
later the item disappeared.

On Sun, Nov 22, 2015 at 8:13 PM, Alys notifications@github.com wrote:

##

_Brittany Butler_

Physical Science Professor
Concordia University Chicago

Math Professor
College of Lake County

[2015-11-23 02:21] Alys commented on #6277
The item you're first told about can appear in your equipment list and even be equipped, but can disappear on a later sync. The bug is that your browser and the server have different opinions about what the Armoire gave you, and the server's information overrides the browser when a proper sync occurs.

If you feel that the Armoire's behaviour was unfair, go to Settings (the gear-shaped icon) then

[2015-11-23 05:02] gpenalba commented on #6276
The errors persist. I browse to the habitica page, and it slowly loads my task page, I see the bar move across the top of my screen. It stops at the very end before completion, hangs there for a bit, and then application error shows up. After the error I cannot select anything. I'm running firefox, latest version, Windows 7. A friend of mine that I invited is running chrome, and he gets the same e

[2015-11-23 07:40] Snellopy commented on #4420
G'day, my Vietnamese credit card expired in September, but due to the joys of bureaucracy coupled with incompetence on the bank's part, I've only just now received the replacement. I'm getting the same error message, my ID is 33991e0a-de55-4986-ac81-af78491a84de. Thanks for all your help, both here and on Habitica in general.

[2015-11-23 08:55] Alys commented on #4420
@Snellopy Fixed! You should be able to resubscribe now. Comment here if you can't. Thank you very much for your support!

[2015-11-23 10:32] natfarleydev opened #6279 "Unable to leave party"
I am currently unable to leave my party. I press 'leave' but I stay in the party. Any suggestions?

[2015-11-23 10:37] Alys commented on #6279
Try clearing local storage for the habitica.com domain (that's different than clearing your cache so you might need to google how to do it for your browser). You can also try on a different browser, or an incognito window in the same browser.

If none of those things work, tell us what happens when you try each of them, and then we can try to help further, but we'll need information about your acc

[2015-11-23 11:08] natfarleydev commented on #6279
Clearing localStorage did not help unfortunately.

I'm running Fedora, with the latest Firefox installed.

When I press 'leave', I get the following error in the js console:

[code]

My UUID is: `ecc53331-4aa1-4b02-b3b3-e794d0ff6827`
My Group UUID is: `260a8b42-e73f-431a-aaf2-0f5fc178880a`

As for possible cause, I'm currently building a python API for Habitica (https://github.com/nasfarley88/pyha

[2015-11-23 11:21] Alys commented on #6276
@gpenalba In the database, there's no invitations pending for your user account or your party, so that isn't causing the problem. There might be something corrupted saved in your browser. Please log out of Habitica, clear your cookies, cache, AND local storage (the latter is important), and close all browser windows. Alternatively, try using Habitica in a different browser (at least as a temporary

[2015-11-23 16:40] gpenalba commented on #6276
Cleared everything and it works! It's funny how reluctant I am to actually clear out everything... but whatever it was, it's gone now. I won't be sending any more 'join my team' emails though... I'll just add people from ID.

I should also note that playing with incongnito mode worked just fine as well.

[2015-11-23 17:39] ghost commented on #2805
![habitica2damage](https://cloud.githubusercontent.com/assets/8877144/11344324/7ea83fa6-91de-11e5-8fe1-6be991fb8d64.jpg)

Happened again. I've been logging when the problem occurs. It seems to be a problem with the app, not the website. When I leave the app open before cron and open the app the next morning, double damage. If I exit the app before cron (just swiping up to close, not logging out),

[2015-11-23 19:11] ojeytonwilliams commented on #6272
I looked at this earlier and noticed that there is a fair bit of logic going on in user.ops.hatch to see if a pet should appear.  However you can't get the result back to the controller without calling hatch with a callback and _that_ stops the messages from appearing.

I feel like it should be possible to get a result back from user.ops functions, otherwise you'll end up having to duplicate their

[2015-11-23 19:26] SabreCat opened #6282 "Avatar's eyes are closed in modals while in the Inn"
If you're checked in to the Inn, the various modals for congratulations and social media sharing show the closed-eyes version of the avatar:

![image](https://cloud.githubusercontent.com/assets/4501321/11347080/7b713d22-91e5-11e5-957d-3e483daa1d02.png)

There's a parameter when displaying `generatedAvatar` to force the avatar's eyes closed regardless of Inn status, for the purposes of the "knocked

[2015-11-23 21:52] ghost opened #6283 "503 (Service Unavailable)"
Hello there, this is a constant error I have encountered today. If I refresh the main page this error appears before I have done anything. I'm not sure if this is the proper code to have posted as I am not accustomed to this happening. Let me know if there is anything else I can add.

![503 service unavailable](https://cloud.githubusercontent.com/assets/15988730/11351047/4a0021d2-91e9-11e5-9a71-0a

[2015-11-24 04:28] FoxDilemma opened #6284 "Android update removed health potion"
Hello,

After the most recent app update the health potion disappeared from my rewards.  The rewards tab also scrolls with a stutter.  The health potion is still available on the website.  I've tried clearing the cache and uninstalling and re-installing the app, no change.

I have a Samsung Galaxy 3, I'm running Android 4.1.2
User ID: 8a8ab479-8339-46ed-a619-88d525e2728b

[2015-11-24 09:10] ruddfawcett opened #6285 "Interest in a Habitica GitHub sync website?"
Hi!  I attempted to build a [PHP website about (3?) years ago](https://github.com/ruddfawcett/HabitRPG-GitHub) for (then) [HabitRPG and GitHub](https://github.com/habitrpg/HabitRPG-GitHub), where you would gain experience for committing to GitHub repositories.  Unfortunately I had to abandon the project, but I have begun using Habitica again, and was wondering if there was any interest in me rebui

[2015-11-24 09:55] Alys commented on #6285
Interesting idea! I can see the benefit to a Habitican running a local copy of it. The website that you're considering building - would that be a public one for anyone to use, with their data stored in the website's MySQL database? If so, that would be a problem because their tokens would then not be guaranteed private, however I might have misunderstood what you have in mind!

You might be intere

[2015-11-24 10:40] Alys commented on #6284
Hi @FoxDilemma. This has been reported at https://github.com/HabitRPG/habitrpg-mobile/issues/396 so I'll close this issue. If you wish, you can subscribe to notifications for that issue in the right-hand column of that page.

[2015-11-24 10:40] #6284 closed, assigned to nobody

[2015-11-24 10:44] Alys commented on #6283
If this is still happening, please try using a different browser or using incognito / private mode in your current browser. If that works, then clearing local storage in your preferred browser might fix the problem.

[2015-11-24 11:08] Alys commented on #6279
Thanks for the information about your python work but I agree with you that it's unlikely to be related (when it's finished though, post about it to the Aspiring Coders guild and I'll add a page to the wiki for it).

Your account had three closed/deleted challenges in its challenges array which _might_ have been causing the problem (details below for our reference). I've set your challenges array

[2015-11-24 11:15] natfarleydev commented on #6279
No effect. I used `localStorage.clear()` in Firefox again just to be safe, but I get the same error message when I press 'leave'.

[2015-11-24 11:22] #6204 closed, assigned to nobody

[2015-11-24 11:28] Alys commented on #6079
The code to display the timezone has been merged (a comment from me near the end has a final screenshot) https://github.com/HabitRPG/habitrpg/pull/6228

I'm agreeing with Lemoness about a manual timezone change being a can of worms. We'd get some power users who'd use it appropriately, but we'd get many other users who'd change it without realising what it would do (and without reading any warning

[2015-11-24 11:38] Alys commented on #6279
Can you please try in a different browser? If that doesn't work, I'll edit your account and the party in the database to remove you.

[2015-11-24 11:53] Alys commented on #6276
Thanks for letting us know!

[2015-11-24 11:53] #6276 closed, assigned to nobody

[2015-11-24 14:22] danielvancamp commented on #6174
Hello there!

I just started checking the codebase and playing around a little bit. I fixed this issue in order to get the know the structure some more (@carroux, sorry :P). I guess I'll make a pull request now? Sorry kinda a noob at the open community developing.

What I did : took @lemoness phoenix base sprite and added it to the spritesmith-main-8.png on the exact place as the previous one, fla

[2015-11-24 15:21] natfarleydev commented on #6279
Fresh install of Google Chrome yields the same result (i.e. I don't leave the party).

[2015-11-24 15:34] ruddfawcett commented on #6285
I completely agree. The keys would have to be stored properly in order to avoid a breech.  The second project you thinker to is the original one I wrote (not very secure or functional), but the first link is almost an exact copy of the original one I made, just less configurable.  I wonder how they are storing the keys.  I'll do some research and get back to you.  Thanks!

[2015-11-24 15:56] danielvancamp commented on #6174
<img width="140" alt="screen shot 2015-11-24 at 16 45 34" src="https://cloud.githubusercontent.com/assets/8830345/11372159/3d78ce1c-92cc-11e5-96a3-eab9d02f356d.png">
<img width="143" alt="screen shot 2015-11-24 at 16 46 08" src="https://cloud.githubusercontent.com/assets/8830345/11372160/3d7c4af6-92cc-11e5-8a39-9f5c2cc1ae59.png">

Visual change (don't know if i can post it here for spoilers or som

[2015-11-24 16:26] danielvancamp commented on #6060
Hey guys,

just checking into this one, here is the favicon in 192x192.
I couldn't find the SVG (or other vector format) for the logo though. Is it around or is it useful if i make it?

![favicon_192x192](https://cloud.githubusercontent.com/assets/8830345/11372955/6b46ac70-92d0-11e5-9a5a-8c80abf71e1e.png)

if you want i can create a pull request (i think) and put the resource file in the codebase,

[2015-11-24 16:41] danielvancamp commented on #5906
Hey guys,

I could help with this one as well. Just downloaded the presskit to get the logo from it. Seems there is one low res screenshot as well. I could replace this too if you like :
- Tasks Page.png
  ![tasks page](https://cloud.githubusercontent.com/assets/8830345/11373341/14f90ca8-92d2-11e5-8b59-181d1af1816b.png)

So the tasks that need to be done here are :
- Add IOS screens
- Get file nam

[2015-11-24 16:47] RomanovYurii opened #6287 "Problems with deleting files"

[2015-11-24 17:19] TheHollidayInn commented on #6169
When you say the items disappear, do you mean they disappear from the user's inventory, the rewards column or the time shop? Or a mix?

Also, are you able to replicate this in any way?

[2015-11-24 17:29] maryrobinette opened #6288 "No pop-up for raising Mount"
After the update to the site, I was getting the pop-up window when I raised a mount. Then it stopped appearing. The ticky box in Site settings "Don't show popup when raising a pet into a mount" was unchecked.

I have tried checking it, and then unchecking it. No luck.
I've raised mounts with it checked and unchecked.
I've reloaded the page multiple times.

And now I'm at the end of potential fixes

[2015-11-24 17:46] TheHollidayInn commented on #6071
Can we just reorder the Gulp tasks to fix this? I'm happy to try it out.

[2015-11-24 18:55] SabreCat commented on #6071
This actually isn't happening for me anymore. It restarts once, but it doesn't fill several terminal screens with restart notifications like it used to.

[2015-11-24 18:56] #6071 closed, assigned to crookedneighbor

[2015-11-24 19:15] SabreCat commented on #6288
I haven't been able to reproduce this yet - I got the popup as expected when I raised a Spooky Bear just now. What mounts have you raised recently? Does the browser console show any errors?

[2015-11-24 19:21] ruddfawcett commented on #6285
@Alys now that I think about it, I see no reason why tokens couldn't be used as parameters in the webhook URL, such as `?apiToken=xxx-xxx-xxx&secret=xxx-xxx-xxx`, as it would only expose the tokens to the user adding the webhook to their own repository.

It looks like this is what @Kerrick is doing on his site.  @Kerrick -- any interest in possible building this up a bit more as a service, with cu

[2015-11-24 19:40] SabreCat commented on #6169
@TheHollidayInn: They disappear from the Rewards column--or, even worse, they sometimes _don't_ immediately disappear from the Rewards column, but when you buy them, they vanish from inventory and refund the Gold upon next sync.

Replicating it should be possible, if a little tricky. This would do it:
1. Change the `event` date range of a seasonal set in the `content` file so that the item is acti

[2015-11-24 19:45] maryrobinette commented on #6288
Thanks for trying. I've raised Pink Lion, Red Panda, Desert Lion, Blue Panda, Zombie Fox, Skeleton Panda.

No error messages on the browser console. I do get the small popup notification, but not the large one.

[2015-11-24 20:06] SabreCat commented on #6288
Aha. It looks like a recent change that made it possible to get the popup for premium and quest mounts may have messed with the popup's display when you raise one of the drop-items-only combinations. (FYI @Alys) I'll look into it!

[2015-11-24 20:20] gauthamchandra opened #6291 "Data population script for mongo?"
For easier testing of certain cases, we should have some sort of mongo script that gets loaded when we run the mongo shell.

For example, for #6215, a tool to generate a vast amount of dailies, habits, and todos for a specific user might be useful when testing the performance of our Angular code.

Is there something similar to this available right now or in the works? If not, I might tackle this a

[2015-11-24 20:25] maryrobinette commented on #6288
Thanks so much! I miss the pretty, pretty popups.

[2015-11-24 21:02] paglias commented on #6291
@gauthamchandra I think we have something similar to generate users on the go for testing https://github.com/HabitRPG/habitrpg/blob/develop/test/helpers/api-integration.helper.js#L73 but it goes through the api, not directly on mongo

[2015-11-24 21:47] SabreCat commented on #6288
My first hypothesis, about the premium and quest mounts vs. drop mounts, was incorrect, but I'm getting closer to figuring out what's actually going on. My current supposition is that our `countTotal` thing is adding up `false` mounts as well as `true` ones, which means that nothing changes when a `false` mount turns `true`, and thus the modal doesn't fire if you're re-raising a mount that you've

[2015-11-24 21:54] maryrobinette commented on #6288
I have used the Key to the Kennels.

I tested this theory by saddling one of my quest pets (Golden Cheetah) to see if the popup appeared and it did.
I also tried the Golden Lion, and the popup was absent.

[2015-11-24 22:25] Alys commented on #6285
No, tokens should not be put in URLs because it is a security risk. URLs are always transmitted across the net in the clear, even to secure sites, which means that your token would be exposed to anyone reading your browsing history, or sniffing your internet traffic, or viewing logs that contain the URL (which could be on a wide variety of servers that your internet traffic passes through).

@Kerr

[2015-11-24 22:39] Kerrick commented on #6285
@ruddfawcett That's why it's best for services like these to never store API keys. That's why GitHabit simply [takes a key](https://github.com/Kerrick/githabit/blob/master/index.js#L15) as a URL parameter and [passes it right on](https://github.com/Kerrick/githabit/blob/master/lib/habit-rpg.js#L12) to ~~HabitRPG~~ Habitica. GitHub is the only one storing your API keys. (And if you're worried about

[2015-11-24 22:49] Alys commented on #6285
@Kerrick Sorry, yes, you're right about sniffing, but HTTPS URL parameters are not secure for the other reasons I listed. There's some details at https://blog.httpwatch.com/2009/02/20/how-secure-are-query-strings-over-https/

Is there some other way that your service can securely pass tokens?

[2015-11-24 22:49] carroux commented on #6174
No worries @danielvancamp I got caught up with midterm exams and let this slip, your fix looks perfect! Congrats on getting your first green GitHub squares and (soon) having your first pull request merged into an open-source project!

[2015-11-24 22:50] Alys commented on #6287
@RomanovYurii I'm guessing this might have been created by accident so I'm closing it now, however if you're having any sort of problem with Habitica, please comment here to describe it and we can reopen this and help you.

[2015-11-24 22:50] #6287 closed, assigned to nobody

[2015-11-24 22:54] Alys commented on #6279
@nasfarley88 I've removed you from the party - tell me if that's still not looking right for you! I'm about to close this but we'll still see any comments you make here.

I'm sorry about the immense annoyance this must have caused you, and thank you for helping us troubleshoot it. Your js console errors will be of use with trying to work out what's going wrong, so we'll keep note of this issue.

[2015-11-24 23:01] Alys commented on #6279
Actually, sorry, I'll leave this open because we don't seem to have another issue for it, although I've seen other reports of it. @nasfarley88 you can unsubscribe from notifications for this issue, if you wish to, using the button in the right-hand column on this page.

Extra information about nasfarley88's account and party (before removal):

[code]

There's another user in the Newbies guild now

[2015-11-24 23:30] Alys opened #6294 "dying after level 100 permanently removes an attribute point"
If you are above level 100 and you die, you lose an attribute point. It is then impossible to gain the point back because when you level up after level 100, you can't gain points.

("Impossible" unless you do a workaround which is: adjust your level down to below 100, level up, and then adjust your level up again to what it should be.)

There's two ways we could fix this:
1. Prevent an attribute p

[2015-11-25 04:10] mayajosyula opened #6295 "String processing error on front page"
Near the very bottom of the static front page, I see this:

![screenshot from 2015-11-24 20 04 29](https://cloud.githubusercontent.com/assets/10248632/11388095/0c48cf34-92e7-11e5-83b3-db57eb95b993.png)

I doubt it's related to my browser, but for the record I've tried viewing the page on both Chrome and Firefox.
Please let me know if I need to include any additional information!

[2015-11-25 04:13] Alys commented on #6295
Confirmed.Thanks @agentx999!

Page URL: https://habitica.com/static/front

[2015-11-25 09:28] Darutik commented on #6295
I have the same error, on my computer and netbook, both with linux, with Opera, Chromium and Midori web browsers.
Here is the Console log from Opera:

[code]

[2015-11-25 10:09] Darutik opened #6296 "Habitica does not load (with Chrome Extension enabled)"
It worked to days ago (my first use). Since yesterday I only have this when I try to visit the game. I don't know why.

![znammuvu88yp9h5wsvqgczivvtvswtfhyrcj-nen4ng](https://cloud.githubusercontent.com/assets/1495809/11394546/8a9e82c8-93b1-11e5-85fc-623dcb4cd790.png)
[original full size version: https://www.dropbox.com/s/pb4m4hdd64bj4xn/screenshot.png?dl=0 ]

The buttons does not work, no matter

[2015-11-25 10:40] Alys commented on #6296
Please clear your browser's cache, cookies, and local storage (not that local storage is different than cache or cookies, and methods of clearing it vary, so you might need to google for how to clear it for you browser). Tell us if that doesn't help.

You should find that you are able to use the Habitica website in a different browser on your PC, and possibly even in incognito / private mode in yo

[2015-11-25 12:04] Alys opened #6297 "Emoji are not displayed as icons in challenge lists"
If a challenge has an emoj in its title, you see the text of the emoji in the challenge box on a guild page, and in the list on the Challenges page. Instead, you should see the emoji itself.

Challenges page:
![screen shot 2015-11-25 at 10 00 49 pm](https://cloud.githubusercontent.com/assets/1495809/11396824/53d5e33a-93c0-11e5-82c9-ab1bc710cc1a.png)

Challenges box on a guild page:
![screen shot 2

[2015-11-25 12:48] ojeytonwilliams opened #6298 "Notifications when equipping and unequipping items lack clarity"
When a user directly unequips an item by clicking on it on the equipment page, a message pops up saying "<%= itemText %> un-equipped".  However no message appears if the user unequips it indirectly (by equipping something that conflicts with it).

I think the messages should inform the user they've unequipped something in both cases, with an extra notification about two-handed weapons if the two-h

[2015-11-25 13:45] ojeytonwilliams commented on #6295
I can take a look at this.

[2015-11-25 13:57] crookedneighbor commented on #6298
I think it makes sense to have an un-equip notice for the offhand item when using a two handed weapon, but I don't think it's necessary to announce that you've unequipped one sword when you equip another sword. It should be obvious, and I think adding extra notifications will just add extra clutter.

[2015-11-25 14:17] ojeytonwilliams commented on #6298
How about the following, in order of precedence:

equip any weapon while having one or zero weapon(s) equipped -> no notifications
equip a two-handed weapon -> habitica tells you what (if any) off-hand item you've unequipped
equip an off-hand item -> habitica tells you what (if any) two-handed weapons you've unequipped

[2015-11-25 14:20] crookedneighbor commented on #6298
That sounds reasonable to me.

[2015-11-25 15:48] evil-ai opened #6300 "Please get rid of "Fix Character Values""
This feature makes HabitRPG totally pointless and removes all of the fun. Games aren't entertaining if there's no danger and if you can just win by changing values in a box. There's a reason many people stop playing a game once they discover a cheat or a way to break it.

I can't imagine how one would stay motivated after finding out this exists.

[2015-11-25 17:08] arfmach opened #6301 "Subscription renewal"
Hello. My ID is b27cbb47-5546-430f-ae4f-8f05731780a9. I've subscribed in 2015-09-09 so there were already 3 payment transactions (2015-09-09, 2015-10-09, 2015-11-09). The last one wasn't approved by Credit Card company in the first try, but in the second one; I think the Habitica system didn't properly recognize it, since it's showing only 2 consecutive months in https://habitica.com/#/options/set

[2015-11-25 17:26] Alys commented on #6301
Hi @arfmach. I'm sorry about this! I'm trying to find your payments in the website of the payment processor that you chose, but I'm not able to. It looks like you use a different email address for that than you do for your Habitica account, which is fine but I just need to know what it is. To protect your privacy, please email admin@habitica.com and state the ID for this issue, which is 6301, and

[2015-11-25 17:35] Alys commented on #6300
Hi @evil-ai. I understand that you find Fix Character Values (FCV) demotivating and I'm sorry about that! However we won't be removing it because it's a very useful tool for many players. It helps us to recover from accidental damage due to bugs or network outages (e.g., if my internet connection was unavailable for a day and I took a large health loss from not being able to do my Dailies, I would

[2015-11-25 17:35] #6300 closed, assigned to nobody

[2015-11-25 18:27] arfmach commented on #6301
Ok, thank you. I've just forwarded the receipt email, with additional info.

[2015-11-25 20:15] Darutik commented on #6296
It still does not work fine on Opera, but I have found another web browser where I can use Habitica pretty fine (I don't know the name, is one of those unfamous free web browsers from the Ubuntu repositories, but it works).
Right now I'm fine with this solution, anyway I can try to help resolving that issue. Thanks!

[2015-11-25 22:11] Alys commented on #6301
Thanks @arfmach! I've fixed your month count, Hourglass, and gem cap. Please reload the site to see the changes, and comment here if there's any problems. We'll see your comment and keep helping even though I'm closing this now (it can be reopened if needed).

[2015-11-25 22:11] #6301 closed, assigned to nobody

[2015-11-25 22:24] #6288 closed, assigned to SabreCat

[2015-11-25 22:52] Alys commented on #6297
Fixed (already!) by TheHollidayInn in https://github.com/HabitRPG/habitrpg/pull/6302 / https://github.com/HabitRPG/habitrpg/commit/83934bf5c9d74374611a01668e9b39d53758d798

[2015-11-25 22:52] #6297 closed, assigned to nobody

[2015-11-25 22:59] #6295 closed, assigned to nobody

[2015-11-26 06:25] maryrobinette commented on #6288
Hurrah! Thank you for fixing it. I just raised a mount and the popup appeared as expected.

[2015-11-26 11:58] MooToYouToo opened #6304 "Eyepatch stuck on character after reset"
A while back I reset my character and an eye patch I must have bought as a different class is now stuck on my character and not in my equipment. I cannot rebuy it, I assume because I am a healer now wheras before I might have been a warrior. It doesn't disappear when using a costume.

I noticed there were other issues with this same problem but they are all closed. For example this one #3377.

256

[2015-11-26 11:59] Alys commented on #6304
I'm afraid we can't help you without being able to identify your account. To do that we need your User ID. Can you please go to Help -> Report a Bug and see step 6 of the instructons? That will tell you how to find your User ID. It's different than your profile name.

[2015-11-26 12:08] markhowson commented on #6252
The existing wide popover doesn't seem wide enough, so created a new little class just for this one. It's my first commit and I'm no CSS guru, so apologies if this is a terrible idea!

[2015-11-26 12:26] lvdpal commented on #6252
I already had a look at the code myself, (but had some trouble getting it installed locally to test it) and as far as I could see the wide popover was only used for this one location. But I couldn't test it, so I didn't dare make the change. (Especially since it would be my first commit too.)

[2015-11-26 13:01] markhowson commented on #6252
Oops, sorry, didn't mean to step on your toes! You're quite right, though - I'd searched and thought wide-popover was being used in the seasonal shop/etc, but it's not in the code any more. Amended.

[2015-11-26 13:45] kchauhanmd opened #6306 "Sync issues on computer & iOS app"
Hi! So here is some technical information that I think might help:
- I use Google Chrome version 46.0.2490.86 m on a Windows 7 PC
- I have an iPhone 5c with an OS of 8.1.2
- My userID is d2fa6e6f-3b8b-4bf1-83f8-5f9641691d6b

At least for the past week, I have been having issues on my laptop when creating/checking off tasks/dailies. Sometimes, the blue bar at the top does not completely finish and

[2015-11-26 14:40] MooToYouToo commented on #6304
Sorry, forgot. Updated with my User ID.

[2015-11-26 16:30] #6174 closed, assigned to nobody

[2015-11-26 16:50] lvdpal commented on #6252
No toes were stepped on, no worries!
Op 26 nov. 2015 14:01 schreef "markhowson" notifications@github.com:

[2015-11-26 16:53] #6231 closed, assigned to nobody

[2015-11-26 17:48] SabreCat commented on #5428
In fact, I'm finding that I can't launch the login window _at all_ on Microsoft Edge. I cilck "Play Now" or any of the other blue login buttons on the front page, but nothing happens. The developer console doesn't show anything awry happening.

[2015-11-26 17:58] SabreCat commented on #6272
@ojeytonwilliams: I had the same thought, looking at this and wishing we could get the existing-pet check up ahead of the `$window.confirm`. That's a broader issue and a larger refactoring effort than this fix, though, so if you'd like to spin off a new issue ticket, we can discuss further there!

[2015-11-26 17:58] #6272 closed, assigned to nobody

[2015-11-26 18:18] Alys commented on #6304
Can you sync please and tell me if it's gone or not?

[2015-11-26 18:35] #4602 closed, assigned to nobody

[2015-11-26 19:30] danielvancamp commented on #5649
Same issue here, both joined and were invited by mail.
Group ID :  793119dc-6589-4dff-8282-1ffd3dd32671

[2015-11-26 19:58] Alys commented on #5649
@danielvancamp Affected users are 5d91a8fb-4781-4f1d-a040-a10f58c99348 and 0ce5bf69-77cc-4c14-9ab5-97a5ed128ac6. I've removed the invitations for them, but they often come back a few times. I'll check again a couple of times a day for the next few days and remove them again if needed. If you notice the same problem for those users a week from now, please comment again here.

[2015-11-26 20:00] MooToYouToo commented on #6304
Yep, totally gone, thank you!

[2015-11-26 20:05] #6304 closed, assigned to Alys

[2015-11-26 21:07] Alys commented on #6306
I'm sorry you're getting these errors so often!

The sync issues on your browser might sometimes be related to this issue: https://github.com/HabitRPG/habitrpg/issues/4313
Have a look at the Advice section near the top (that's the only party you need to read). In brief, reloading the website every so often might help with some of the sync problems.
(Even though that issue focuses on cron, it appli