[2016-05-27 22:27] jcmoore65 commented on #7412
Same issue. Chrome Browser. Windows 10 OS.

I encounter it by:
1. Filter by a tag
2. Create a new To-Do
3. Observe the new item is tagged
4. Edit the item to clear the tag
5. Observe the item is still tagged

[2016-05-27 22:40] jcmoore65 opened #7524 "Clicking sync causes existing tags filters to be unselected"
This is similar to https://github.com/HabitRPG/habitrpg/issues/7413 but not nearly as complicated.

General Info
- UUID: bbde9cd8-1275-4dbf-be1c-00f43186bfaf
- Browser: Chrome
- OS: Windows 10
### Description
1. Click a Tag to filter items
2. Observe: Tag is selected and items are filtered
3. Click the Sync button
4. Expect: Tag is still selected and items are still filtered
5. Observe: the Tag is

[2016-05-28 01:48] Alys opened #7525 "Docker configuration for local installs need to be updated"
The Docker configuration files for installing Habitica on a virtual machine need to be updated before new local installs can be created on docker. For example, it's now essential to use npm 3 instead of npm 2 and the current configuration probably installs npm 2. Other changes might also be needed.

Please test your fixes before submitting a PR by running up a docker container and confirming that

[2016-05-28 01:50] Alys commented on #7519
Copying my answer from the Aspiring Coder's guild: The docker and uberspace configurations will need to be updated for the latest dependencies and I neglected to state that in the Setting Up Habitica Locally page.  I'll get the documentation changed and I will log an issue for updating the docker container.

It's best to not ask the same question in two places because it duplicates effort to respo

[2016-05-28 01:50] #7519 closed, assigned to nobody

[2016-05-28 01:53] #7456 closed, assigned to nobody

[2016-05-28 01:56] Daxatina commented on #4252
Our party completed the Vice Part 2 quest but did not receive the rewards.
My user ID is
4a4757a9-c441-481d-9fb6-3aa9dfce0878;
our party ID is
5e1e6fe6-a878-4318-a321-cd1b25ffd4e3

[2016-05-28 02:04] Alys commented on #7517
FYI for anyone investigating this; It's not new behaviour from API v3. I've noticed it a few times over the past few months (never got around to reporting it, although I should have).

[2016-05-28 02:14] Alys commented on #7409
Lemoness has created https://github.com/HabitRPG/habitrpg/issues/7507 to describe the preferred challenge order so I'm closing this one. The 30 participant problem is described in https://github.com/HabitRPG/habitrpg/issues/7422

Thanks, @Cantras, @Eiron, @Dewines for the information!

[2016-05-28 02:14] #7409 closed, assigned to nobody

[2016-05-28 02:19] Alys commented on #7422
Fixed in https://github.com/HabitRPG/habitrpg/releases/tag/v3.2.0

[2016-05-28 02:19] #7422 closed, assigned to nobody

[2016-05-28 02:27] Alys commented on #5810
I believe this has been fixed now that API v3 has been released. This can be reopened if I'm wrong.

[2016-05-28 02:27] #5810 closed, assigned to nobody

[2016-05-28 02:38] Alys commented on #7524
Thanks for reporting this! It will be the same problem as reported in https://github.com/HabitRPG/habitrpg/issues/7413 although it didn't mention syncing specifically so I've just updated it to say that.

[2016-05-28 02:39] Alys commented on #3621
Closing this now that API v3 has been released.

[2016-05-28 02:39] #3621 closed, assigned to nobody

[2016-05-28 02:40] #7524 closed, assigned to nobody

[2016-05-28 02:41] Alys commented on #1493
Closing this now that API v3 has been released.

[2016-05-28 02:41] #1493 closed, assigned to lefnire

[2016-05-28 02:50] Alys commented on #7514
We have this reported at https://github.com/HabitRPG/habitrpg/issues/7469 and the mention of "cloning" here is misleading because I think that person was referring to joining a challenge, rather than cloning. I've just tested and cloning a challenge does not remove notes.

[2016-05-28 02:50] #7514 closed, assigned to nobody

[2016-05-28 02:53] Alys commented on #7504
I'm sorry about this! We are tracking this problem in https://github.com/HabitRPG/habitrpg/issues/7320 and it's one of our high priorities. I'm closing this issue now but if you want to follow the progress of the issue, you can subscribe to notifications using the button in the right-hand column of that issue.

[2016-05-28 02:53] #7504 closed, assigned to nobody

[2016-05-28 04:03] ShineAugustine commented on #7450
Also having problems with this. I was initially able to select the difficulty levels when setting up the to-do tasks for my challenge, and set all three of the tasks to different levels (easy, medium, and hard). Now all three are mysteriously set as easy and I cannot change their values when I go to edit the tasks. I can open the edit option for the task, everything appears normal, but when I clic

[2016-05-28 04:12] Alys commented on #5004
Habitica's API has been updated to version 3 and it includes better support for checklists. Documentation is at https://habitica.com/apidoc/

[2016-05-28 04:12] #5004 closed, assigned to nobody

[2016-05-28 04:39] ghost commented on #7505
Thanks for reporting it! I believe it's already being worked on (https://github.com/HabitRPG/habitrpg/issues/7353). @Alys do you need UIDs of the party members here too?

[2016-05-28 04:57] Alys commented on #7505
@kaleighm @GitHubSphinx No, the party member IDs aren't needed. @kaleighm Sorry about the delay on this - I've been recovering from a broken laptop and the other admins have been very busy with bug fixes. I'll be clearing this invitation out of your account in the next couple of hours most likely.

@GitHubSphinx Thanks for the link to the other issue!

[2016-05-28 05:02] EmilyD1037 opened #7526 "Charachter un-equip/re-equip"
### Description

fcdbb86a-bbcb-47a2-b40c-2fdade76d798  User ID

character "clothes/weapons are not showing on the screen.
If you click un-equip it says it is unequipped, but when you try
to re-equip, it doesn't show on the character. I have reloaded
several times, left it over the day with no resolution.

[2016-05-28 07:37] ShulamitLH commented on #7353
It's happening with these three users in our party. They are all occasional users rather than daily users and do not participate in most quests.

f8cc66da-b76e-45bf-96a3-0452d4d60aa1
8e347eca-a1b7-4d85-a890-a5e38479f70a
437203f0-8198-4d04-a352-5d3af826ad49

[2016-05-28 07:37] ShulamitLH commented on #7412
I'm having the same issue, though the workaround helps (double-clicking on the unwanted tag and letting Habitica sync). I'm now having a related problem, though. If I select a tag and then mark something off or reload, that tag is no longer selected. This is a problem when I want to quickly mark off several things filtered by that tag. It's also a problem on the Sabbath (I have a Sabbath filter/ta

[2016-05-28 08:25] thebat137 commented on #7482
I think something similar to this may have happened to me, although I didn't catch it at the time.  I have a solo party, and we were on the Moonstone Chain, Part 1 quest during the maintenance.  I did get the triple quest progress bug (same number of moonstones found three times by me during the first full day after maintenance) but I assumed it was some form of intended compensation for the misse

[2016-05-28 09:47] Alys commented on #7505
@kaleighm I've looked through your account and I can't see any pending quest invitation. It looks like the problem has already fixed itself. I'm closing this but comment here if you are still having trouble.

[2016-05-28 09:47] #7505 closed, assigned to nobody

[2016-05-28 09:57] Alys commented on #7526
@EmilyD1037 On the habitica.com website, the Equipment page has two columns. On the left is your Battle Gear (equipment that affects your stats), on the right is your Costume (equipment that appears on your avatar if you have the "Use Costume" option turned on).

I can see from your account that you do have the "Use Costume" option turned on. This means that when you equip or unequip or re-equip a

[2016-05-28 10:10] Alys commented on #7450
@makkoi Your video shows that the error occurs when editing a challenge, and we have that bug reported at https://github.com/HabitRPG/habitrpg/issues/7320

I can't replicate this when creating a challenge - I am able to set the difficulty on tasks in a new challenge as I'm creating it, and the selected difficulty persists when I view the challenge after saving it and after reloading (so the diffic

[2016-05-28 10:10] #7450 closed, assigned to nobody

[2016-05-28 10:24] Alys commented on #7412
@ShulamitLH We have that problem of selected tags being cleared reported at https://github.com/HabitRPG/habitrpg/issues/7413 ("Clicking sync (or doing other activities) removes selected tags in the tag filter"). You do not need to comment there because we know it affects all players. If you'd like to receive notifications for that issue, you can subscribe to them with the button in the right-hand

[2016-05-28 10:37] Alys commented on #7353
@ShulamitLH I've deleted the quest invitation from those three players' accounts. If you or they have more trouble, comment again here.

**devs**: I am wondering if quest invitations persist in a player's account if the quest owner starts the quest before the player has had a chance to accept or reject the invitation. That's a guess; I haven't had time to look at the code.

[2016-05-28 11:12] ShulamitLH commented on #7493
It's still happening to me as of this afternoon.
User ID cd180aea-f9bf-4bf0-99e6-b62a0f9e6359

[2016-05-28 11:18] Alys commented on #7503
I'm closing this now but if you'd like more help, see the points from my previous post, and let us know if there's any other information you can give us. We'll still see your reply and can reopen this if necessary.

[2016-05-28 11:18] #7503 closed, assigned to nobody

[2016-05-28 11:29] Alys commented on #7429
@sujunmin Are you still having problems? "I've reloaded and still can not see me."

@jhendricks611  @paglias has fixed one of the bugs you reported -- being unable to make any progress in the quest -- in https://github.com/HabitRPG/habitrpg/issues/7470 and I can see from the quest progress log for your party that an entry did appear for you on 2016-05-27 20:29:05 UTC. However if you don't see a qu

[2016-05-28 11:39] sujunmin commented on #7429
@Alys still the same. But I still can join the quest.

[2016-05-28 11:44] Alys commented on #4252
Sorry about the delay, everyone. I've been suffering from a broken laptop.

@MKBGeorgi No worries! It wasn't much time. :)

@KatRoses @brentnotbroken

[2016-05-28 12:04] Alys commented on #4252
@KatRoses @brentnotbroken @chonkatonk @Ohios @mfreydavis @marastara @gesneramor @Daxatina
I've given the achievement and rewards to your listed players. Reload if you don't see them. Please tell me if they don't appear after that!

[2016-05-28 12:08] Alys commented on #7429
@sujunmin Can you describe the problem in more detail? Is it your party mate who cannot see you in the party (if so, that person should reload the website and tell us if that doesn't help), or can you not see your own name in the party? Is there anything else that's going wrong?

[2016-05-28 12:14] Alys commented on #5035
@MathWhiz I'm not sure whether or not it's something we still want. Don't proceed unless one of the other admins responds. It might be a while until they do since they're focussing on critical bug fixes at the moment.

[2016-05-28 12:27] Alys commented on #6861
Habitica has recently undergone large changes, which means that the code that caused these bugs probably does not exist any more. I'm closing this, but if you notice the same problem happening again, please open a new issue.

[2016-05-28 12:27] #6861 closed, assigned to nobody

[2016-05-28 12:28] Alys commented on #5821
Habitica's code has recently undergone large changes, which means that the code that caused these bugs probably does not exist any more. I'm closing this, but if you notice the same problem happening again, please open a new issue.

[2016-05-28 12:28] #5821 closed, assigned to nobody

[2016-05-28 12:31] Alys commented on #4513
I believe this issue isn't needed any more because it's no longer possible to relabel tasks of one type as a different type now that API v3 has been released, so I'm closing this. It can be reopened if I'm wrong.

[2016-05-28 12:31] #4513 closed, assigned to nobody

[2016-05-28 12:34] Alys commented on #7495
The issue of not making any progress on a quest has been fixed in https://github.com/HabitRPG/habitrpg/issues/7470 but please comment on https://github.com/HabitRPG/habitrpg/issues/7470 if you notice it happening again.

The duplicate (sextuplicate!) damage messages are being tracked in https://github.com/HabitRPG/habitrpg/issues/2805 and we have made a fix for that too. If you notice an identical

[2016-05-28 12:34] #7495 closed, assigned to nobody

[2016-05-28 12:41] Alys commented on #5988
A similar report from Fancazzone (1799656c-e917-4200-9099-4ea81f07b10e) in the Tavern: "Tonight a ghost stag attacked my party for 20 damage, but when I woke up, I had suffered no wounds." No heals had been cast to remove the damage before Fancazzone saw it.

[2016-05-28 12:44] Alys commented on #2613
Habitica's code has recently undergone large changes, which means that the code that caused these bugs probably does not exist any more. I'm closing this, but if you notice the same problem happening again, please open a new issue.

[2016-05-28 12:44] #2613 closed, assigned to nobody

[2016-05-28 12:46] Alys commented on #5648
I'm most of the way through refactoring common/script/ops/scoreTask.js which contains the code for this, so I'm assigning this to myself.

[2016-05-28 13:15] crookedneighbor commented on #5035
I think we should put this off until the site redesign. No sense in working on it right now.

[2016-05-28 13:28] sujunmin commented on #7429
@alys
1. I've reloaded, re-logined more times on mobile, web, and app(android) versions.
2. I can attend quest from the notifications email or open web, but can not accept at the android version.
3. Every mate can not see me at the participants list.
4. I can get quest completion notifications mails, also the awards for the quests.
5. These things are happened after the upgrade of habitica this ti

[2016-05-28 13:37] Alys commented on #7506
I've adjusted the guild's memberCount to 4 so the immediate problem is fixed.

We'll do a migration script for correcting the member counts of all guilds.

[2016-05-28 14:58] #7415 closed, assigned to nobody

[2016-05-28 15:09] JenniferMartin opened #7527 "Cron treated dailies as if they were unchecked"
General Info
- UUID: 154802ac-9567-4916-ac66-79ea5ba81ec7
- Browser: Firefox
- OS: Windows 7 64-bit
### Description

When I logged in this morning (Saturday), I took damage from and had the streaks reset on all my Friday dailies. I also lost the Perfect Day bonus. I know I had checked off all my due dailies yesterday, and I did not lose any gold this morning (i.e., from things not having saved cor

[2016-05-28 15:16] JenniferMartin commented on #7521
Just wanted to note that this is not new behavior with the recent update--it's been occurring for me for as far back as I remember (can't remember if it was from the beginning or not). I use Firefox on Windows 7. It had never occurred to me to bug it, though.

[2016-05-28 15:17] Alys commented on #7469
As far as I can tell from my testing, this happens only when a challenge creator first saves the challenge - the tasks that are added to the creator's task list at that time don't have anything in the "Extra Notes" field.

If the challenge creator leaves the challenge, choosing to delete the task, and then rejoins the challenge, the new copies of the tasks do have notes.

If anyone else joins the

[2016-05-28 15:19] Alys commented on #5358
@MathWhiz I think this would be fine for you to work on. Please note though that since it's not urgent, it might be a while before your PR is reviewed, if we're still fixing high priority bugs at that time.

[2016-05-28 15:24] Alys commented on #2805
https://github.com/HabitRPG/habitrpg/issues/7527 might be an example of this bug

[2016-05-28 15:24] Squeemu commented on #7527
I think I'm having the same issues: streaks were reset on my Friday dailies and Perfect Day bonus lost, even though I checked all my dailies off.

I'm currently on a quest and it appears that I cronned twice, both times appearing as "an hour ago." The first cron shows that I did damage to the boss and took no damage, the second one shows that I did zero damage but took damage from the boss.

I onl

[2016-05-28 15:30] Squeemu commented on #2805
I commented in another thread, but I see this is probably the better one, so I'll just copy and paste my other response.

I think I'm having the same issues: streaks were reset on my Friday dailies and Perfect Day bonus lost, even though I checked all my dailies off.

I'm currently on a quest and it appears that I cronned twice, both times appearing as "an hour ago." The first cron shows that I di

[2016-05-28 15:31] Alys commented on #2805
In #7527 there's a second report, from Squeemu (df5a0dda-0b53-45a2-9366-d239aa6663bf) that is similar to the earlier cases of this bug but has differing amounts of damages:

[code]

[2016-05-28 15:32] Alys commented on #7527
@JenniferMartin We can't rule out #4313 because its effects aren't always consistent and it might not have left your Dailies ticked. However this could also be an example of the double cron bug (https://github.com/HabitRPG/habitrpg/issues/2805 ) so I've noted it in that issue.

@Squeemu I've noted your report in #2805 too.

Thank you both for reporting this!

[2016-05-28 15:32] #7527 closed, assigned to nobody

[2016-05-28 16:03] Alys commented on #4186
This is fixed. I can create a tag with :o: (`:o:`) and a tag with :european_castle::european_castle::european_castle::european_castle::european_castle::european_castle::european_castle::european_castle::european_castle::european_castle::european_castle::european_castle::european_castle::european_castle::european_castle::european_castle::european_castle::european_castle::european_castle::european_c

[2016-05-28 16:03] #4186 closed, assigned to nobody

[2016-05-28 16:07] Alys commented on #3998
This still happens. If you initially select a guild/party and enter a gem prize of greater than 1 and then change the group to the Tavern, the gem prize is changed to 1.

The correct behaviour is that the prize should not be automatically changed to 1 if it is greater than 1.

If the prize is 0 and you chose the Tavern, then the prize should be changed to 1.

[2016-05-28 16:13] Alys commented on #6313
I've just checked all parties and guilds and they all have leaders so I'm closing this. If the problem reoccurs, it will have a new cause so we can open a new issue.

[2016-05-28 16:13] #6313 closed, assigned to nobody

[2016-05-28 16:32] Alys commented on #2578
I'm most of the way through refactoring common/script/ops/scoreTask.js which contains the code for this, so I'm assigning this to myself.

[2016-05-28 16:37] Alys commented on #7335
@beffymaroo Now that markdown is in both the mobile apps, what do you need to improve trigger warnings?

[2016-05-28 17:21] AranelS opened #7528 "Unexpected death causes item loss"
General Info
- UUID: 77f27b3d-09fc-4d21-8484-d945d39c198a
- Browser: Firefox
- OS: Windows 7
### Description

[//](#): # Yesterday I could not get the page to load all day (I can't report the errors because they aren't happening anymore, sorry), but I didn't worry about it much because my health was (at least close to) full and I only lose about 5 health if I forget to check my dailies.

Today it

[2016-05-28 18:14] makkoi commented on #7450
@Alys Yeah, sorry, the video shows when it's being edited when this happens. It first happened to me when I was creating the challenge, not editing it (I didn't think to create a new challenge).

I just went to create a video example of creating a challenge, but now when I try to create a challenge task, it allows me edit the difficulty. So, it either fixed itself or someone fixed it, which is gre

[2016-05-28 18:24] makkoi commented on #6723
I agree, I also cannot add multiple tasks when editing a challenge that I own. I am not even given the option to add multiple tasks. It doesn't show up.

![screen shot 2016-05-28 at 1 46 18 pm](https://cloud.githubusercontent.com/assets/19537840/15629276/ab48fef8-24da-11e6-973e-e9796ef022c4.png)

user ID: b3e66733-ab6f-432f-a052-6fa64585da5a
Browser: Google Chrome Version 50.0.2661.102 (64-bit)
OS

[2016-05-28 18:52] makkoi opened #7530 "Creating Challenge: Cannot Add Multiple Tasks under "To-Do""
I saw and commented on the issue where you can't add multiple tasks while editing a challenge, [#6723](https://github.com/HabitRPG/habitrpg/issues/6723), because I am having that problem as well.
### Description

I can't add multiple tasks under "To-Do" when creating a challenge (not just editing it).
Red arrow in shot below ↘
![screen shot 2016-05-28 at 1 11 40 pm](https://cloud.githubusercontent

[2016-05-28 18:56] veggiet commented on #7412
I have encountered this same issue. The double click workaround worked for me as well. I'm glad I searched github before making a new report.

[2016-05-28 21:50] Alys commented on #7528
I'm sorry about the errors! I'm not able to work out what was causing them for you, and we weren't having any site-wide problems yesterday, but if it happens again, try going to https://habitica.com/static/clear-browser-data and clicking on the button there, and then before you log in again, clear your browser's cookies for the habitica.com domain.

Losing an item when you die is actually a standa

[2016-05-28 21:50] #7528 closed, assigned to nobody

[2016-05-28 21:53] Alys commented on #7530
This is the same bug as the one reported in #6723. I've edited the title of that issue to specify creating and editing challenges.

[2016-05-28 21:53] #7530 closed, assigned to nobody

[2016-05-28 22:02] quin-jay commented on #7336
Does this commit add UI indications that you can't cast skills on challenge tasks? I think that's what this ticket was left open for. I couldn't find it in the commit but there was a lot to filter through :smirk:

[2016-05-28 22:39] AranelS commented on #7528
I didn't know you could buy back seasonal items, thanks!

I know that losing an item is a standard part of death--that wasn't the bug, the death was the bug. My character should definitely not have died after missing only one day of dailies.

[2016-05-28 22:48] Alys commented on #7336
@lynnyliz It does not. Thank you! I was wrong to close this. I'm about to edit the top post to indicate what still needs to be done.

[2016-05-28 23:08] #7525 closed, assigned to nobody

[2016-05-28 23:19] keysmashes commented on #7521
I'm on Ubuntu 14.04 and can reproduce this in Firefox, although not Chrome.

[2016-05-29 00:40] Alys commented on #2805
Another report in the Tavern from Wabisabi (91cb2031-b9cd-4872-94dc-8768abddb1f7): "But the damage sustained wasn't enough to account for the number of levels that members of my party have gone down. And something is screwy; for example, on 5/27/16 at 19:52:58, @SuperBeagle attacked for 114.8 damage and incurred 0, but then immediately attacked for 0 and incurred 24.7. It's almost like cron happen

[2016-05-29 00:45] Alys commented on #2805
Suggestion: until we work out what's causing this and stop it happening, we adjust cron so that if a player has done less than 2 points of damage to the boss (e.g., one or two task's worth of damage), then the boss does not do any damage to the party.

It's a bit extreme because sometimes just one or two points of damage could be a legitimate amount for a full day. We could prevent damage to playe

[2016-05-29 01:48] hairlessbear commented on #7521
I've had this issue in Chrome since I started using Habitica a year and a half ago. Happens on Windows and Linux. Usually happens inconsistently; seems to be caused by moving off of the item too quickly to be properly detected, but I'm not sure.

EDIT: To be clear, this happens with any items (food, eggs, pets etc.), but doesn't happen very often.

[2016-05-29 02:55] quin-jay commented on #7336
@Alys Ah, good tip! Next time there's still work to be done on a ticket I'll edit the top post so that it's easily noticed without rereading the entire thread :)

[2016-05-29 03:47] crookedneighbor commented on #7420
Finally made some headway on this. See https://github.com/HabitRPG/habitrpg/pull/7532

[2016-05-29 04:13] hairlessbear commented on #7353
@Alys You're correct. `user.party.quest.RSVPNeeded` is [one of the variables that controls the invitation modal](https://github.com/HabitRPG/habitrpg/blob/develop/website/client/js/controllers/notificationCtrl.js#L170) (`user.party.quest.completed` is the other). When a user accepts or rejects a quest, `RSVPNeeded` is set to false. If neither happens, it stays `true`, causing the modal to keep pop

[2016-05-29 05:07] Alys commented on #7353
Heheh. Thanks @hairlessbear ! Sorry we broke your code! :)

[2016-05-29 06:13] Alys opened #7535 "when moderator unflags a post, email must be sent"
Currently, when any player flags a post, an email is sent to some of the moderators.

We need a similar email to be sent when a moderator removes the flags from a post.

The recipient list should be the same as for flag emails.

The subject should be the same so that the unflag email is threaded with the matching flag email.

The body can be very similar, but with moderator name and unflagging dat

[2016-05-29 10:04] DeathTimer opened #7536 "Can't cancel tags, only add them"
The problem first occured a week ago. I'm trying to cancel a tag in one of my To-Do's and after I save the settings, the tag still exists. When trying to give it another tag, it adds up and yet again cannot be removed.

I'm using Chrome, fully updated.
User ID: 443336c4-bac4-44f6-a10f-b6603c019f13

[2016-05-29 10:49] Alys commented on #7536
We're tracking this bug in https://github.com/HabitRPG/habitrpg/issues/7412

See the first comment from me for a work-around (in biref, double-click on the tag's checkbox).

If you'd like notifications about the progress, there's a subscribe button in the right-hand column.

[2016-05-29 10:49] #7536 closed, assigned to nobody

[2016-05-29 11:45] jrsimonelli13 opened #7537 "Participation in Quests Not Working Properly"
- tried to go to https://github.com/HabitRPG/habitrpg/issue but it sent me to a 404 page

General Info
- UUID: 250ad625-2ddf-45ce-b6f3-50efb4b7ecf2
- Browser: firefox
- OS: windows 10
### Description
- Boss quest isn't registering my activity, only the activity of my partner (see photo below). This has been going on for  several days now. You can see at the bottom left corner that I am participati

[2016-05-29 11:56] crookedneighbor commented on #7537
The correct link is  https://github.com/HabitRPG/habitrpg/issues (s on the end). Where did you see the other link so I can correct it?

Your quest object on your user was missing the quest key. I've added it.

For admin reference:

[code]

[2016-05-29 12:02] crookedneighbor commented on #1471
This should be fixed with the v3 api. If it is not, please report here.

[2016-05-29 12:02] #1471 closed, assigned to lefnire

[2016-05-29 12:03] #1489 closed, assigned to nobody

[2016-05-29 12:04] #1496 closed, assigned to Alys

[2016-05-29 12:04] jrsimonelli13 commented on #7537
I very much appreciate your help on this crookedneighbor!! I am showing this now though.

![untitled1](https://cloud.githubusercontent.com/assets/19633590/15633127/da6cfbb4-2573-11e6-9f21-9118f748e07c.png)

The page you asked for with the link is this:

![untitled2](https://cloud.githubusercontent.com/assets/19633590/15633128/e9e12728-2573-11e6-961c-eef9d38edf5a.png)

[2016-05-29 12:04] #1527 closed, assigned to lefnire

[2016-05-29 12:05] #1593 closed, assigned to nobody

[2016-05-29 12:05] #1665 closed, assigned to nobody

[2016-05-29 12:06] #1698 closed, assigned to nobody

[2016-05-29 12:09] crookedneighbor commented on #1963
Issue moved to [HabitRPG/habitica-markdown #4](https://github.com/HabitRPG/habitica-markdown/issues/4) via [**ZenHub.io**](https://www.zenhub.io/)

[2016-05-29 12:09] #1963 closed, assigned to snicker

[2016-05-29 12:10] #1977 closed, assigned to lefnire

[2016-05-29 12:11] #6771 closed, assigned to nobody

[2016-05-29 12:21] crookedneighbor commented on #7537
So sorry about that, I'll fix it in a second.

[2016-05-29 12:29] crookedneighbor commented on #7537
Uhg, I need to download backup of the database to restore your user. It'll be restored in less than 2 hours. I feel terrible about this and will award you some gems to say sorry about the inconvenience.

[2016-05-29 12:31] jrsimonelli13 commented on #7537
No worries. I very much appreciate all you are doing to help me with this issue. Thanks!!

[2016-05-29 13:06] crookedneighbor commented on #7537
Okay, could you try reloading the page now?

I've awarded your user 4 gems.

[2016-05-29 13:13] jrsimonelli13 commented on #7537
The page seems to be loading normally, though I took a health hit and a gold hit (maybe from built up boss attacks I assume?). I will check the quest page first thing tomorrow to see if I hit the boss at all since nothing has shown up for my user yet and I believe it updates only upon the first login of the day.
I can't thank you enough for your hard work on this issue. I am hardly deserving of th

[2016-05-29 13:16] crookedneighbor commented on #7537
@jrsimonelli13 I just realized that your cron probably ran again. I've reset you back to the restore point again and set you to be asleep in the inn. Refresh the page, check out of the inn, and everything should be back to normal.

[2016-05-29 13:16] #7537 closed, assigned to nobody

[2016-05-29 13:18] crookedneighbor commented on #7537
You can restore any gold you've lost using fix character values on the settings page.

[2016-05-29 13:25] jrsimonelli13 commented on #7537
Will do. Thanks again!

[2016-05-29 14:07] ltorroba commented on #7412
Just encountered this issue for the first time. The fix suggested by @Alys works perfectly as described.

Is anyone working on this? Perhaps I could take a look.

[2016-05-29 14:19] crookedneighbor commented on #7428
Fixed with https://github.com/HabitRPG/habitica-markdown-emoji/commit/6b6f633a75c92650631b3190a3d5290aa67278b2

Will go out with the next deploy.

[2016-05-29 14:19] #7428 closed, assigned to nobody

[2016-05-29 14:26] crookedneighbor commented on #7412
Go for it.

[2016-05-29 14:52] crookedneighbor commented on #7502
Closing this. Re-open if you're still having issues.

[2016-05-29 14:52] #7502 closed, assigned to nobody

[2016-05-29 14:52] crookedneighbor commented on #7522
Closing this. Let me know if you're still having issues.

[2016-05-29 14:52] #7522 closed, assigned to nobody

[2016-05-29 14:52] crookedneighbor commented on #7526
Closing this. Let me know if you're still having issues.

[2016-05-29 14:52] #7526 closed, assigned to nobody

[2016-05-29 14:52] crookedneighbor commented on #7491
Thanks for reporting this!

[2016-05-29 15:20] crookedneighbor commented on #7473
Not receiving this anymore.

[2016-05-29 15:20] #7473 closed, assigned to nobody

[2016-05-29 15:21] #7438 closed, assigned to nobody

[2016-05-29 15:37] #7491 closed, assigned to nobody

[2016-05-29 17:21] ghost commented on #5155
As I don't know the right place to ask for that, I'm using this thread (also sending notification to @crookedneighbor)

Could you please let us know when the next locales update will take place, if possible, so that one of the Chinese translators could check possible issue with two versions of MMMM reported previously here: https://www.transifex.com/habitrpg/habitrpg/translate/#zh/gearjson/2283580

[2016-05-29 19:55] librarianmage commented on #7431
This is also the case on iOS

[2016-05-29 19:56] librarianmage commented on #7388
I can work on this!

[2016-05-29 20:35] ghost opened #7539 "Challenge filtering reverts after closing challenges"
- Browser: Chrome
- OS: Win10
### Description

After selecting to show only the challenges I own, and/or only the challenges in the ghost ship guild, I then select a winner for one of the organ donor challenges. The action is taken, the blue bar starts to go across and it appears normal, but then the page reverts to showing me challenges from all guilds/all owners.

[2016-05-29 22:28] nelle013 commented on #7420
Good luck Blade Barringer!

On Sat, May 28, 2016 at 10:47 PM, Blade Barringer notifications@github.com
wrote:

[2016-05-29 22:32] Alys commented on #7388
@MathWhiz Please do!

[2016-05-30 00:47] Alys commented on #4840
@Jolanda5 I believe it's still a problem. I've checked with the other admins and none have given any objections to you working on this, so if you'd like to, please do!

[2016-05-30 09:18] Maslor commented on #7493
This just happened to me too. I create a new checklist item of a daily task and it gets replaced by my previous checklist item.
Browser: Safari
UID: 84947daf-c445-4bf6-b49c-e62adcd2043d
OS: OS X El Capitan

[2016-05-30 09:26] cTheDragons commented on #7416
Hi I'm still unable to post to the Newbies Guild. (Despite the Avatars has been fixed). Has this been closed as it will now been fixed under [the issue listed in the Chat Client](https://github.com/Horacious/HabitRPG-Chat-Extension/issues/42)?

[2016-05-30 09:28] cTheDragons opened #7540 "Gem Sent Text in the Inbox does not formatted "as code" anymore"
### General Info
- bc10ec41-4213-4482-bbb8-558e3c3ea8d5
- Opera 37.0.2178.43
## \- Windows 8.1 32-bit
### Description

Previously before API v3 any gems sent to a user will be formatted in the Inbox as
`@ThisPerson has sent you gems.` Message from User

Now it just showing:
@ThisPerson has sent you gems. Message from User

[2016-05-30 09:36] Alys opened #7541 "Tags cannot be sorted / reordered"
Tags cannot be sorted. If you change the order of the tags, the next time a sync occurs, they change back.

[2016-05-30 10:36] Alys commented on #7541
This might be browser-dependent. cTheDragons says it works in Opera. I can't get it to work in Chrome or Firefox.

[2016-05-30 11:37] shervinmathieu commented on #7507
I've been looking into this today,

It seems that date of creation has never been saved for challenges, and that they are pulled from the database in the order that they are stored.

I'm not sure how to fix this for existing challenges as they are now out of order and with no way of figuring out which was created first. For future challenges, we could either leave it as is (and hope that no more d

[2016-05-30 12:31] crookedneighbor commented on #7507
I can tell you definitively that there is a `createdAt` field for all challenges in the database.

[2016-05-30 12:31] crookedneighbor commented on #7507
Never mind, didn't see your edit.

[2016-05-30 12:59] crookedneighbor commented on #7416
Sorry, didn't realize it was still not working. Will look into this.

HabitRPG, Inc. has officially taken over maintaining the chat client, so I've ported the chat issue here: https://github.com/HabitRPG/habitica-chat-extension/issues/5

[2016-05-30 13:23] OrangeBoreal opened #7542 "In automatic task-based attribute point allocation, training points not reset to zero after leveling up"
General Info
- UUID: bc612705-7cb4-4f3e-ba39-0871980b1a11
- Browser: Google Chrome (Version 50.0.2661.102 m)
- OS: Windows 7
### Description

I'm using the automatic allocation mode for my attribute points, based on the tasks I've performed.I'm also using the official user data display tool to track my training points.
From my experience so far, only the training points for the attribute of the la

[2016-05-30 15:04] #7416 closed, assigned to nobody

[2016-05-30 15:27] crookedneighbor commented on #7416
@cTheDragons I've just fixed it and published a new version of the chat extension. v1.4.0

[2016-05-30 18:41] Asmodan opened #7545 "Damaged from checked daylies"
Did check all daylies yesterday (pre midnight) my habitica day end at 4 or 5 a.m i believe.
(Some i did finish on my mobile device, latest AppVersion, OS Android-4.4.2)
Though no daylie unticked, the boss hit with i suppose like nothing would habe been checked.
No Timechange or something like that sync and refreshed my app and brower after ticking the quests.

user ID:6cea3d6d-936a-4834-8e28-ec491

[2016-05-30 19:08] crookedneighbor commented on #7420
Okay, this _should_ be fixed now so I'm closing this. If you are still having issues, please comment back here with your user id and the link to the challenges that are not working for you.

[2016-05-30 19:08] #7420 closed, assigned to nobody

[2016-05-30 19:28] him89088 opened #7546 "'null' is not a valid enum value for path 'challenge.broken'"
General Info
- UUID: 3225d5f9-46d2-4995-b670-8583ecacd82b
- Browser: Chrome 50.0.2661.102 m
- OS: Windows 10 Pro
### Description

Hi,
So I opened my Habitica page, just after beginning of my cron (00:00 IST for me). As soon as it opened, a dialog box appeared notifying me that I have suddenly zero health. As well as continuous wave of notifications **'null' is not a valid enum value for path 'chal

[2016-05-30 19:33] crookedneighbor commented on #7546
This was my fault. I'm fixing it.

[2016-05-30 19:35] him89088 commented on #7546
That was quick! A'ight, man. Thanks for letting me know. Hope things get back on track soon. Cheers.

[2016-05-30 19:53] paglias opened #7548 "Verify that v2 is sanitizing input data"
- `task.value` is null
- `task.challenge` missing

[2016-05-30 20:02] shrisnerd commented on #7546
I am also having this issue, but when I check off tasks related to a challenge I built/own and am the only member of. The task itself doesn't get checked off, but it does give me XP, mana, gold.. The message is the same, it's just the circumstances are slightly different.
![image](https://cloud.githubusercontent.com/assets/19655344/15657547/ea947d3e-267f-11e6-9114-fcab8441ef54.png)

[2016-05-30 20:09] #7388 closed, assigned to nobody

[2016-05-30 20:10] paglias commented on #7546
This should be fixed now. @shrisnerd @him89088 if you reload the site it should work!

[2016-05-30 20:18] #7546 closed, assigned to nobody

[2016-05-30 20:21] him89088 commented on #7546
It does. Thanks

[2016-05-30 20:22] #7493 closed, assigned to nobody

[2016-05-30 20:29] Maslor opened #7549 "Can't delete completed tasks"
UUID: 84947daf-c445-4bf6-b49c-e62adcd2043d
Browser: Safari
OS: OS X El Capitan

On my TODOs, I try to "Delete Completed" tasks and sync but after I refresh my browser, the completed tasks come back. I've tried to delete them more than three times but they always come back, even if I sync right after deleting.

---

_edit by Alys, 2016-06-16:_

I'm seeing different behaviour now. Clicking the "Dele

[2016-05-30 20:39] superbrewers commented on #7545
This also happened to my son today. Each time, logging in through Chrome, multiple "null" error messages were displayed, his health was depleted, and he had the option to "Restore health and start again". There were no boss battles, but he had checked off all his dailies yesterday, so he was upset when his character died.

He showed me what happened, and that dropped him to level 72.

I closed out

[2016-05-30 20:45] crookedneighbor commented on #7545
The `null` error messages were probably this: https://github.com/HabitRPG/habitrpg/issues/7546, which has been fixed now.

[2016-05-30 20:46] crookedneighbor commented on #7545
@superbrewers on the settings page, there is a fix character values button where your son can correct their unfairly lost levels and gold.

[2016-05-30 20:48] librarianmage opened #7550 "Leveling Up Contrib Tier: "Path `flags.contributor` was not saved, as it's a protected path""
General Info
- UUID: Can't get to it
- Browser: Chrome
- OS: Chrome OS
### Description

I just gained a contributor tier (thanks @crookedneighbor!), and went to the site to dismiss the alert. However, when I click on it, it loads a bit and then gives the error "Path `flags.contributor` was not saved, as it's a protected path" before popping up the modal again. I mean, I'm grateful and all for beco

[2016-05-30 20:56] ltorroba commented on #7550
I just faced the same issue after gaining a contributor tier (thanks @crookedneighbor and the Habitica team!). Here's a screenshot of the modal:

![](http://image.prntscr.com/image/77cfb066025e44a484e98287ad4e5683.png)

Refreshing the browser window made the problem go away.

UUID: 8ac1be04-4201-4eed-a2a4-436eada5c0e9
OS: Mac OS X
Browser: Chrome

[2016-05-30 20:58] Alys commented on #7545
@superbrewers If your son is under 13, could you please read the first section in the wiki's Children Using Habitica" page at http://habitica.wikia.com/wiki/Children_Using_Habitica ? In brief, there's a legal requirement for Habitica to collect parental permission for young children to use Habitica, but you can do that easily by sending us an email.

[2016-05-30 21:04] crookedneighbor commented on #7550
Whelp, that's awkward.

I've dropped each of you down a tier. Can you confirm that it has started working again? I'll bump you back up when I've fixed this.

[2016-05-30 21:07] Alys commented on #7545
For @Asmodan's report, I've confirmed that cron treated all Dailies as if they were not completed:

[code]

As @Asmodan says, there was no duplicate cron - i.e., the previous progress message was a day earlier.

It's possible for completed Dailies to be ignored if #4313 happens, but @Asmodan was using the app as well as the website and refreshed the website which usually clears #4313, so I think t

[2016-05-30 21:10] librarianmage commented on #7550
After refreshing, I no longer get the notification, although I still have
the 3 gems from the tier increase and the crystal helm is still unlocked
for me

On Mon, May 30, 2016 at 4:05 PM Blade Barringer notifications@github.com
wrote:

[2016-05-30 21:11] crookedneighbor commented on #7550
That is expected.

[2016-05-30 21:12] ltorroba commented on #7550
Same here - 3 extra gems and crystal armour unlocked.

[2016-05-30 21:34] ShuLongNu opened #7551 "Repetitive "5/30/16" & Lost Almost Everything."
General Info
- UUID:  cf9a1419-cef1-47d8-921d-a7d7f38da424
- Browser: Chrome
- OS: Windows 10
### Description

After the fix on habitica today regarding on our inability to check off our tasks, logging in issue and getting some sort of null error, I found that I have lost 2 levels, a shield, all my money, and my dailies streak.

None of this makes sense, because I finished all my tasks and dailies

[2016-05-30 21:39] librarianmage commented on #7551
did they also all turn red?

On Mon, May 30, 2016 at 4:34 PM ShuLongNu notifications@github.com wrote:

[2016-05-30 21:44] ShuLongNu commented on #7551
all except the daily challenge "word of the day"

[2016-05-30 21:44] paglias commented on #7551
Note for devs: this happens because we're  saving user and tasks separately (while concurrently) so it's possible that a task is saved correctly before the one that errors stop the whole process.

[2016-05-30 21:49] Alys opened #7552 "Mystery Items not given to new subscribers"
We've had two emailed reports of people who just created a subscription not being given the Mystery Items.

I am not certain if this is a code bug or an intermittent glitch with their records not being updated correctly in the database, but if it's a code bug, it's high priority.

After the period for getting this month's subscriber items is over, I'll go through the database and give them to all

[2016-05-30 21:54] crookedneighbor commented on #7551
Did cron run multiple times because of the bad value in the challenge object?

[2016-05-30 21:56] Alys commented on #7551
@ShuLongNu had also made a report of this by email and I was helping them there, so here's some extra information they have just given me there:

"The first time I got on Habitica today was between the time period of 1PM and 2PM EST. It was the same time when I notice I lost everything and having the same problem with most people who are reporting an issue."

@ShuLongNu we'll deal with this in Git

[2016-05-30 21:56] Alys commented on #7551
@ShuLongNu had also made a report of this by email and I was helping them there, so here's some extra information they have just given me there:

"The first time I got on Habitica today was between the time period of 1PM and 2PM EST. It was the same time when I notice I lost everything and having the same problem with most people who are reporting an issue."

@ShuLongNu we'll deal with this in Git

[2016-05-30 21:56] Alys commented on #7551
@ShuLongNu had also made a report of this by email and I was helping them there, so here's some extra information they have just given me there:

"The first time I got on Habitica today was between the time period of 1PM and 2PM EST. It was the same time when I notice I lost everything and having the same problem with most people who are reporting an issue."

@ShuLongNu we'll deal with this in Git

[2016-05-30 21:57] Alys commented on #7551
@ShuLongNu had also made a report of this by email and I was helping them there, so here's some extra information they have just given me there:

"The first time I got on Habitica today was between the time period of 1PM and 2PM EST. It was the same time when I notice I lost everything and having the same problem with most people who are reporting an issue."

@ShuLongNu we'll deal with this in Git

[2016-05-30 21:59] paglias commented on #7551
@crookedneighbor yes. because lastCron is set after all task and the user have been saved correctly even if 1 fails it would restart the process from the beginning while having already saved 99% of progress. Ideally this should never happen but when there's a problem saving data it can happen.

[2016-05-30 22:05] crookedneighbor commented on #7551
Ahh. That makes sense. We should definitely save lastCron at the beginning then.

@ShuLongNu would you like the history and color for your tasks reset to what they were this morning? We have a db backup from 10 hours ago, which would be before the problem occurred.

[2016-05-30 22:08] paglias commented on #7551
The problem with setting lastCron at the beginning is that <cronSignature
would be set at the end anyway so it won't change much and could do more
harm than good since cron would not fully run for at least another 24hrs...
we have to find a different solution
Il 31 mag 2016 12:05 AM, "Blade Barringer" <notifications@github.com> ha
scritto:

[2016-05-30 22:08] ShuLongNu commented on #7551
@crookedneighbor yes, I would appreciate that

[2016-05-30 22:21] cTheDragons commented on #7416
Hi I have downloaded 1.4.0 and it does not work. It does not come up with your groups tab so you can select which chat windows. Other than the icon at the top it does nothing! Could we revert back the old version on the Chrome store so I can at least download the buggy version.

Thanks

[2016-05-30 22:26] Alys commented on #2805
Reported in the Tavern by Pauglos (0a292c31-a7f9-416b-9f3a-a99afd09f11a):

[code]

[2016-05-30 22:29] crookedneighbor commented on #7416
@cTheDragons Are you sure you don't just need to re-link your account?

[2016-05-30 22:36] cTheDragons commented on #7416
Ah! `Facepalm` Forgot to check the machine between the keyboard and the screen. Can see the Newbies guild now. Were we meant to lose the Avatars though?

[2016-05-30 22:39] crookedneighbor commented on #7416
Are they lost or just taking a while to populate?

[2016-05-30 22:41] crookedneighbor commented on #7416
Hmmm... I wonder if Horacious updated the chrome extension without updating the repo. Could you open an issue https://github.com/HabitRPG/habitica-chat-extension/issues

[2016-05-30 22:49] cTheDragons commented on #7416
[Done](https://github.com/HabitRPG/habitica-chat-extension/issues/8)

Thank you for your hard work!

[2016-05-30 23:49] Xehias opened #7555 "Text does not show up immediately when typed into guild chat"
General Info
- UUID: bfaa6b85-aa5a-4c2d-900b-84278ee5fc03
- Browser: Google Chrome 50.0.2661.102 (64-bit)
- OS: Mac OS X 10.9.5
### Description

Whenever I type into any guild chat, the text takes a few seconds to show up. The faster I type, the worse it gets. If I type continuously, the text appears in chunks. This problem does not happen in my party’s chat.

[2016-05-30 23:53] Alys commented on #7555
We have this reported at https://github.com/HabitRPG/habitrpg/issues/6462

If you'd like notifications about the issue, there's a subscribe button on that page.

A good work-around is you type your message into a text editor then paste it into chat. Pasting is instant. You can also use the Chrome chat extension - if you'd like details about it, please go to Help > Ask a Question and someone will b

[2016-05-30 23:53] #7555 closed, assigned to nobody

[2016-05-31 00:02] Xehias commented on #7555
My bad—I hadn’t noticed the issue had already been reported, even though I skimmed the reports list! Thank you for replying quickly and for the workarounds.

[2016-05-31 00:04] Alys commented on #2805
maxh (991d201d-8307-4117-a3b3-b974adbf2327) in Tavern:
"I seem to have been hit with a double-cron last night, causing the loss of all streaks, 12 HP, and my perfect day buff."

No quest, but confirmed from a Daily's history:

{ "_id" : "4ebf9746-3406-4a35-9308-66653d503b4d", "history" : [ { ... { "date" : 1464321604555, "value" : 91.38817566702585 }, { "date" : 1464525924658, "value" : 90.8083660

[2016-05-31 00:29] onlyforhabitica opened #7556 ""Your private messages have been marked as read""
General Info
- UUID: 553bd048-0d10-4a47-835a-21eff8f35c55
- Browser: Most recent version of Firefox
- OS: Windows 8.1 64-bit
### Description

When I check my inbox, like eight or so of these popup messages show up, and they sometimes continue to show up if I go to other tabs like Party.
http://i.imgur.com/EO4aLkV.png
http://i.imgur.com/Zk3LLwC.png
#### Console Errors

[2016-05-31 00:37] Alys commented on #7556
Confirmed. I saw it once when accessing my inbox this morning (which is expected and currently the intended behaviour), then twice when I was leaving the inbox.

I think we should get rid of that message altogether on the website; it's good to return it from the API. In the website, it's not helpful and typically too many messages make people blind to all messages.

[2016-05-31 01:24] rongqingpin opened #7557 "Health points drop dramatically and repeatedly without reason (not in quest)"
General Info
- UUID: 217e89b1-62d9-456e-b801-9d22aa6a4b39
- Browser: tried both safari and opera
- OS:
### Description

My health points have dropped several times with no apparent reason for a few days. I'm not currently in a quest (the quest in my party hasn't started). It happens during the day, after I've logged in for several hours, when I complete a daily or a task. Sometimes it drop by 8~10

[2016-05-31 02:21] crookedneighbor commented on #7557
Are you receiving any red error messages?

[2016-05-31 02:53] crookedneighbor commented on #7551
@ShuLongNu your task value and histories should be back to normal. Report here if that is not the case.

[2016-05-31 02:56] crookedneighbor commented on #7546
@shrisnerd @him89088 did y'alls tasks get very red when this happened? I think this caused cron to run multiple times, messing with the history of dailies and the value of your tasks. If you'd like, I can restore the color and history back to the state they were in yesterday. Just let me know.

[2016-05-31 02:58] ShuLongNu commented on #7551
@crookedneighbor  it seems to be dailies are fixed, but my shield and I'm not sure if it's also the rod that's not back to normal, because the kite shield wasn't broken yesterday and the rewards is still saying 20 coins for acolyte rod

not sure if those are part of history.

[2016-05-31 02:59] crookedneighbor commented on #7545
@superbrewers I figured out what happened, the bug I linked to caused your son's account to cron multiple times. He probably noticed that many of his task's colors turned very red. I can restore them to the state they were before it happened, I just need your son's user id.

You can find it in [Settings > API](https://habitica.com/#/options/settings/api). Be sure to only copy the User ID and _not_

[2016-05-31 03:01] crookedneighbor commented on #7551
It's totally separate. I didn't want to modify your account any more than necessary since you could have made changes since the backup data I have.

You can just use the "Fix Character Values" button on the settings page to grant yourself enough gold to purchase them back. Let me know if you need additional assistance, happy to look into it.

[2016-05-31 03:02] ShuLongNu commented on #7551
ok thanks!

[2016-05-31 03:03] ghost commented on #4174
Hello!  Since the recent update, I haven't been finding any quest items for the past 9 days.  I first had an issue with not displaying in the party, but after a few days that was fixed (I think it was just a display error).  Now, despite doing Dailies and habits, I've found nothing each day.

my user ID:  09232b39-47ef-4264-8b49-ef4dafeabe67

any help would be appreciated!  Thank you!

[2016-05-31 03:10] crookedneighbor commented on #4174
@AnB749 You did not have the quest key on your user object for some reason. I've added it.

[2016-05-31 04:56] swistak opened #7558 "Two different task with same task-id"
General Info
- UUID: a847788d-5f96-4bf3-94c5-7e1ac7b4cb0c
- Browser: Firefox (newest)
- OS: Windows 7
### Description

Two separate tasks have been given the same task id: task-79f3230a-1e9c-4507-ae36-519871e3049e
This results in me not beeing able to complete the second task because all the calls always refer to the first one.
These task have not been modified recently so I don't know why did the

[2016-05-31 05:56] him89088 commented on #7546
@crookedneighbor Yes they did. I would really appreciate it if you could restore it. Also, it happened with my teammate. Is it possible for you to restore hers too? Her UUID is 1bb1d942-6867-48f1-94ab-42b5eac400a4.
Thanks

[2016-05-31 08:03] Jolanda5 commented on #4840
@Alys Thank you for your answer. But I'm afraid I don't have enough time
right now, the day I asked I was on a coding camp but now that it's over
I have to go back to studying, I am really sorry. I'll tackle it when I
have time again if it's not done by then.

Am 30.05.2016 um 02:47 schrieb Alys:

[2016-05-31 08:26] colinwirt commented on #7493
This issue is still happening for me. The newly inserted item is always overwritten with the last item in the list. It's not a duplicate.

[2016-05-31 08:36] Batchasse commented on #7493
Hello,
For me too. It's not blocking, however. Copy (CTRL+C) what I type before hitting the return key, then paste. I might create a specific task for it, for days I'm short of XPs ;-)

[2016-05-31 08:55] Alys commented on #4840
@Jolanda5 That's okay! Thanks very much for letting us know, and I'm sorry we didn't reply on the day!

[2016-05-31 09:16] Alys commented on #7558
Unique IDs are enforced by our database and it is impossible to create a task that contains the same ID as an existing task. When an attempt to do that is made, an error is returned (code 11000, message "E11000 duplicate key error index...").

In addition, I've searched through the ID numbers of your tasks and found only one task with the ID 79f3230a-1e9c-4507-ae36-519871e3049e

I suspect your bro

[2016-05-31 09:45] Zajec opened #7559 "Overwriting item from list with the text from previous position"
General Info
- UUID: Zejec
- Browser: Chrome
- OS: Win7 x64
### Description

The bug exists while editing the list under a task in To-Do.
After filling the last empty field and pressing enter, new line is created but the text from the field I just finished is replaced with the text from the previous point. It happens once for each edition of the Task (next lines are created normally).
#### Console

[2016-05-31 11:06] quin-jay commented on #7493
@crookedneighbor has that PR gone live yet? It looks like a number of people (including me) are still seeing this issue.

[2016-05-31 11:32] shrisnerd commented on #7546
Thank you for asking. My tasks did not get red--it was fixed the very same day I saw the problem, so everything is fine now for me.

shrisnerd

On 5/30/2016 10:56:26 PM, Blade Barringer (notifications@github.com) wrote:

[2016-05-31 11:51] Boreale opened #7560 "Loosing life when doing some tasks"
I noticed, not long after the update that sometimes I'm loosing points of life when I do some dailies or habits. Sometimes 2 points, sometimes 7 !!! I don't want to loose my game because of that ..
I'm not sure but I also think it happened for mana, my mana bar  fell at less than 100 despite I didn't change anything in my equipment ..

Is it possible to fix this ?

Thanks

[2016-05-31 12:03] crookedneighbor commented on #7559
This has been fixed, but it is not yet deployed.

[2016-05-31 12:03] #7559 closed, assigned to nobody

[2016-05-31 12:03] crookedneighbor commented on #7493
It has not been deployed yet. Should go out today.

[2016-05-31 12:38] crookedneighbor commented on #7560
What's your User ID? You can find it in [Settings > API](https://habitrpg.com/#/options/settings/api). Be sure to only copy the User ID and _not_ your API Token.

Did you see any errors that looked something like this?

![null value for challenge](https://cloud.githubusercontent.com/assets/4967571/15656992/8b30a44e-26ca-11e6-8964-632de4f09fe6.JPG)

[2016-05-31 12:50] crookedneighbor commented on #7546
@him89088 The tasks should be fixed now. Report back if they are not.

[2016-05-31 13:10] crookedneighbor opened #7561 "APIDoc - Create template to allow sending API requests from the APIDoc page"
See http://apidocjs.com/#template

[2016-05-31 13:21] rongqingpin commented on #7557
What do you mean by error messages? I only have messages noticing me how many health points are dropped. They are in red though...

Thanks.

---

From: Blade Barringer notifications@github.com
Sent: Monday, May 30, 2016 10:21 PM
To: HabitRPG/habitrpg
Cc: rongqingpin; Author
Subject: Re: [HabitRPG/habitrpg] Health points drop dramatically and repeatedly without reason (not in quest) (#7557)

Are yo

[2016-05-31 13:34] Memry commented on #7420
I don't know if this is part of the same issue, but I closed a challenge yesterday or the day before and today I received the typical broken challenge link info.  I asked it to "keep tasks" and got this:

![image](https://cloud.githubusercontent.com/assets/7385423/15675648/c08a87ea-26f7-11e6-91c6-649362d44f60.png)

I tried twice and it gave me the same message the second time.

When I asked it to

[2016-05-31 13:50] crookedneighbor commented on #7420
@Memry this was caused by the migration and was this issue: https://github.com/HabitRPG/habitrpg/issues/7546#issuecomment-222662772

If you're still having problems, please chime in on this or that issue.

[2016-05-31 13:54] paglias commented on #7420
@crookedneighbor what @Memry is reporting is being unable to keep tasks when unlinking them. Unfortunately it's still an issue because https://github.com/HabitRPG/habitrpg/blob/develop/website/server/controllers/api-v3/tasks.js#L875 causes validation to fail. I've opened an issue in the Mongoose repo but haven't received a response yet https://github.com/Automattic/mongoose/issues/4182

[2016-05-31 13:56] crookedneighbor commented on #7420
:+1:

[2016-05-31 14:23] Boreale commented on #7560
My ID, like my username is 67ac4995-6cdd-444e-ad1f-3ab2fd23d5ba.
I don't see any of this messages, it's just when I check a task, daily or habit that I see a notification like "-2.6 health" on the topright.

[2016-05-31 14:39] itsasooz opened #7562 "No Cron? Dailies not reset"
General Info
- UUID: 312f9e64-7c17-40dc-b10c-3c03afc948a3
- Browser: Chrome
- OS: Windows 8.1

Logged in at usual time to find Dailies not reset; multiple reloads did not fix this.  Checked off other dailies, which remain checked off after multiple reloads.

[2016-05-31 15:01] librarianmage commented on #7550
When signing in on another computer, I received a notification for "reaching tier 2" that only dismissed after refreshing the page

[2016-05-31 15:15] superbrewers commented on #7545
Hi Alys,
My wife and I set his account up for him, so we do give him permission. Didn’t realize you needed it on record.

Thanks.

[2016-05-31 15:16] superbrewers commented on #7545
Thanks for your help. We restored his levels, but he isn’t too worried about the colors on the tasks. Now that he knows the reason, he’s OK.

[2016-05-31 16:38] Selantri commented on #7557
1c265ce6-ec4a-4aa5-8363-19ffd9fce52d
Browser: Firefox
OS: Apple 10.10

I'm having a problem too where, when I first log on and click something, I lose health for no apparent reason. At first it was just  10 or 17 HP, but the past two days, it's been over 50 HP, causing player death every single time I log in. My undone dailies and quest damage cannot account for it. Super frustrating.

[2016-05-31 16:52] librarianmage commented on #6623
Is this still a problem?

[2016-05-31 17:15] librarianmage commented on #7133
Would I be able to work on it now?

[2016-05-31 18:22] sqhendr opened #7565 "Tags not removed when saving"
When I create a new task and remove a tag, after saving it, the tag is reapplied. For example, if I create a new task with no tags filtering my tasks, it automatically applies "personal" and "work." If I then go back and try to remove "work," and save the task, the "work" tag is still applied.

UUID: 15ff046a-e882-49eb-b5b9-910c56b0a2be
Browser: Tried on Chrome and on Vivaldi
OS: Windows 7

[2016-05-31 18:22] SabreCat commented on #7565
Duplicate of #7412. Will be fixed later today!

[2016-05-31 18:22] #7565 closed, assigned to nobody

[2016-05-31 18:42] phrohdoh commented on #7540
With my naive peek into the codebase it seems the message is still wrapped in ticks so perhaps something is stripping them out before converting markdown to html.

https://github.com/HabitRPG/habitrpg/blob/fb035c414cfada1f20bd1a30c632f981156c712a/website/server/libs/api-v3/payments.js#L169

[2016-05-31 18:49] him89088 commented on #7546
@crookedneighbor Yes. They are fixed now. Thanks a lot.

[2016-05-31 19:02] citrusella commented on #7562
Did you lose any health?

[2016-05-31 19:04] itsasooz commented on #7562
I didn't have any nongrey unchecked dailies, so I don't know whether health would have been lost.

[2016-05-31 19:14] citrusella commented on #7562
Okay, I just asked because it sounded like it could be this bug: #4313

That bug often causes damage because what happens when the bug occurs is that the browser doesn't send the checks to the server until the next day, which means any dailies that were due yesterday that haven't reset would have caused damage (and all affected dailies would have reset to 1 on the streak counter).

But there have

[2016-05-31 19:17] itsasooz commented on #7562
Ah!  I see.  I had seen that one, but read "dailies unticked" and assumed it was a different problem from mine.  Should I go post there?

[2016-05-31 19:27] citrusella commented on #7562
I'm not sure (mostly because I don't have much experience with telling people things on Github... though I'm sure it wouldn't hurt if you'd like to comment); at the very least the advice might help you to fix any effects you might have experienced.

(I'm also not sure whether or not you should go there because I'm not sure it's your exact problem? If it is, then that's great, but I feel I attribut

[2016-05-31 19:33] itsasooz commented on #4313
I've got an issue that's possibly the same as this one:
https://github.com/HabitRPG/habitrpg/issues/7562

Can't confirm, as I am not currently in a quest, and the only dailies I hadnt taken care of were grey ones.

[2016-05-31 19:55] #7412 closed, assigned to nobody

[2016-05-31 20:46] Sawseruquo opened #7566 "Repeated error messages + undeserved death + interface not loading correctly"
### General Info
- UUID: 787283cd-0e7b-41f4-8474-9d0d224a2869
- Browser: Safari 9.1.1
- OS: 10.11.5
### Description

Refreshed my Habitica page on Safari this morning to get two 'Yikes' error messages at once – this happened a couple of times. I tried closing Safari and opening Habitica in Chrome (50.0.2661.102), whereupon I got the following mathematical gobbledegook (Fig 1).

![fig 1](https://cl

[2016-05-31 21:06] SabreCat commented on #7566
@Sawseruquo: I've done some repairs to your data. If you reload now, does it behave better?

Your party was listed as being on the Egg Hunt quest, but your personal data had you on Moonstone Chain Pt. 1. That got things confused when it tried to display what items you'd collected. So we'll need to track down how that happened! Did you change parties or quests recently?

[2016-05-31 21:17] Sawseruquo commented on #7566
Thanks @SabreCat. Just reloaded again – the screen now behaves fine, but I've lost another level and all my streaks on my dailies – and all my to-dos are now dark red when some of them were different colours before. Is there any way to reset the data to the way it was last night?

![fig 4](https://cloud.githubusercontent.com/assets/19674758/15690802/6b700e7e-27c4-11e6-8e98-85c6b939caea.png)

I've

[2016-05-31 21:47] SabreCat commented on #7566
@Sawseruquo: I'll pull down a database backup and see what I can find for you!

[2016-05-31 22:00] crookedneighbor opened #7567 "Cron should pull quest key from party"
When cron runs, it pulls the quest key from the user. The key can get out of sync with the group for unknown reasons. Cron already loads the party so it can use the key from the party.

[2016-05-31 22:16] Alys commented on #7560
@Boreale You're in a large party that is doing a boss quest. It's likely that the health loss you see comes from the boss attacking the party because of another player's incomplete Dailies. The next time you see one of those health loss messages, go to the party page on the website and click the "fetch recent messages" button. If you're on the app, go to the chat section of the party screen. Look

[2016-05-31 22:23] Alys commented on #7562
@itsasooz I think @citrusella's assessment of this might be correct - it could have been that #4313 bug. Even if it's not, as she says, the Advice section near the top will help you untick your Dailies without losing gold, experience, and mana, and using the Data Display Tool each night will help you notice before cron that the bug has happened (although that might not be worth your time if this b

[2016-05-31 22:23] #7562 closed, assigned to nobody

[2016-05-31 22:48] crookedneighbor commented on #7566
@Sawseruquo I've restored your task colors, streaks, and history from yesterday.

If you wan to adjust your level and gold, you can do so by going to Settings > Site and using the "Fix Character Values" button.

[2016-05-31 22:48] #7566 closed, assigned to nobody

[2016-05-31 23:24] Alys commented on #7133
@lemoness Is it okay if this is changed to put back the adorable winking flower effect? :)

[2016-05-31 23:38] Sawseruquo commented on #7566
Legend. Thank you!

Sent from my iPhone

[2016-05-31 23:47] sustained commented on #7320
I'll try to take a look at fixing this, been as though I ran into the issue myself and need something to do but no promises as I have zero experience with your codebase.

[2016-05-31 23:49] librarianmage commented on #7550
@crookedneighbor I just checked and I do not have the crystal helm unlocked anymore

[2016-06-01 00:10] ltorroba commented on #7550
Here too - no access to crystal armour. Gems are still there though.

[2016-06-01 01:42] #7507 closed, assigned to nobody

[2016-06-01 01:45] crookedneighbor commented on #7550
Working on this now

[2016-06-01 03:10] crookedneighbor commented on #7567
I'm working on this.

One hiccup I discovered is that currently the items for collection quest get determined during the [randomDrop op](https://github.com/HabitRPG/habitrpg/blob/28f2e9c356d7053884107d90d04e28dde75fa81b/common/script/fns/randomDrop.js), which needs the quest key to happen.
1. Since we never actually display this data, we could instead just log number of drops for collect progress

[2016-06-01 03:20] Altariel3 commented on #7449
I am also experiencing this error for challenges that I joined, that I don't own.  If a task is added after I joined the challenge than the challenge tag isn't associated with the task.

user ID: be317a32-c027-4032-bbd5-25ccb21eb912
Browser: Google Chrome Version 50.0.2661.102 m
OS: Windows 10, 64-bit

[2016-06-01 03:25] Altariel3 opened #7569 "Challenge Tags not Reverting to Ordinary Tags after Challenge Ends"
General Info
- UUID: be317a32-c027-4032-bbd5-25ccb21eb912
- Browser: Google Chrome Version 50.0.2661.102 m
- OS: Windows 10, 64-bit
### Description

When a challenge I'm in ends, the challenge tag is still sorted into the Challenge tags section of the tags dropdown. It should be converted to an regular tag and sorted appropriately.

[2016-06-01 03:36] crookedneighbor commented on #7569
Was it the case that challenge tags were converted to regular tags? That's not what I recall.

If that's so, I never knew that. @Alys @lemoness ?

[2016-06-01 03:40] crookedneighbor commented on #7550
Going to keep this open until I deploy the fix tomorrow morning so that I remember to award y'all your tiers.

[2016-06-01 03:46] wdiip opened #7571 "Level-Down and Draining Gold Bug"
### General Info
- UUID: 9433d95d-4896-4730-99f9-16dd24d88364
- Browser: Chrome
- OS: Windows 7
### Description

I just became level 10 and chose to Opt-Out of the class system. I had 4 HP when I levelled up, and right after levelling up I selected a negative Habit which subtracted 4 HP from my newly re-filled HP meter. Everything worked as normal.

I re-opened Habitica a short while later and was

[2016-06-01 03:50] Altariel3 commented on #7569
That's always the way it was before, for me at least, and I also looked it up in the Wiki which says, "When a challenge is over, the megaphone icon disappears and the tag will look like a regular tag."

[2016-06-01 03:50] crookedneighbor commented on #7569
Today I learned!

[2016-06-01 03:54] crookedneighbor commented on #6700
We've moved off the hosting provider where these kind of errors manifested and the code base has changed substantially where if this kind of thing happens again, it'll be more useful to start a new issue rather than pile onto this one, so I'm closing it.

[2016-06-01 03:54] #6700 closed, assigned to nobody

[2016-06-01 03:54] #7134 closed, assigned to nobody

[2016-06-01 04:01] Alys commented on #7567
I'd be fine with logging just the number of drops. I can change the DDT so that it reports only "x drops" rather than "y Fire Coral and z Blue Fins". The types of drops are nice for gamification but not really necessary for motivation.

Although now that I've typed that...

There could be cases where you know you already have enough Coral but need more Fins and you'd want the DDT to tell you how y

[2016-06-01 04:02] Alys commented on #7567
Just don't let me forget to modify the DDT as soon as this goes live!

[2016-06-01 04:10] quin-jay opened #7572 "Tag reorder doesn't persist on sync or refresh"
General Info
- UUID: 1534a0ee-2f69-4c2e-9659-0d719ac2ea68
- Browser: Chrome 50.0.2661.102 m
- OS: Windows 7

Somehow my tag order got messed up, but every time I try to reorder them, either they revert to their previous order or the relevant tags end up in a different order unlike either the original or the intended. A non-ideal workaround is to delete the affected tags and create new ones in the

[2016-06-01 04:14] ghost commented on #4174
@crookedneighbor Thanks for that, I will let you know how it works.  So far, there hasn't been anything found, but I will check again tomorrow.  Fingers crossed!

[2016-06-01 04:24] librarianmage commented on #7550
Thanks!

On Tue, May 31, 2016 at 10:40 PM Blade Barringer notifications@github.com
wrote:

[2016-06-01 04:29] Aerten commented on #7545
This happened to me as well.  I can go back and fix my streaks and what not (PITB), but I finished all my tasks and am in a challenge.  The party quest page says I did NO damage (LIES!) and I took damage.  Can y'all fix that part?

![habitica](https://cloud.githubusercontent.com/assets/16511223/15698183/cb92a09e-278f-11e6-8bf2-3fb0b040bf82.png)

[2016-06-01 04:43] Alys commented on #7567
Ohh!!! The best party about the idea to just log number of drops, not type of drop:

You can make players accumulate quest drops ALL the time, just as they accumulate boss damage all the time. Then when a collection quest starts late in the day, they've already made some progress towards it (just as they do for a boss quest). This is a nice bonus for the player, and makes the two types of quests b

[2016-06-01 04:51] D-Patterson opened #7573 "Not Dropping Zombie Hatching Potions At All"
General Info
- UUID: 647a138e-e27e-4cd1-aba0-afbf5ed72955
- Browser: Google Chrome
- OS: Windows 8
#### Description

I have been playing Habitica for a long time, and I haven't gotten a single zombie hatching potion in about two months. (I only know it's been that long since I've been waiting to hatch a zombie dragon for the beast master achievement.) I think I might be getting an excess of anothe

[2016-06-01 05:09] citrusella commented on #7571
Sounds like you may have been affected by #7551

If it helps, you can restore the levels and gold (plus the gold to buy the two items you should have lost) by using Fix Character Values in the site area under the settings cog/gear.

[2016-06-01 05:32] Batchasse commented on #7493
Works fine now. Thanks a lot

[2016-06-01 05:39] DonMiti commented on #6632
Good day Alys.
Please assist in updating my account too. I too have the same issue.
d9a57a32-1fb9-46ee-abb2-cc49171a68d6.
Thank you, I appreciate it.

[2016-06-01 06:52] paglias commented on #7567
I may be wrong but since randomDrops are based on the user stats at the moment of the randomDrop call we don't risk producing different results since it'll be called at a different time with (probably) different stats? Also all drops would be determined by the same type of drops instead of different type of drops (at the morning I may have 50HP and 200XP while in the evening 35HP and 300XP)

[2016-06-01 07:05] Alys commented on #7567
Ah no, the way I see it, there's still going to be the random drop calculation made at exactly the same point as it is now, and the number of random drops will still be stored in the user's party.quest.progress.collect object as now. The only different is that they're stored as simply a number, rather than as a type of drop, and the type of drop is then worked out on cron, using the stored number.

[2016-06-01 07:12] paglias commented on #7567
Hmm but we would not know if the party is on a quest or not.. and on which type of quest. We can probably just calculate the drops anyway and just discard them at cron if the party is not doing a collect quest

[2016-06-01 07:24] Alys commented on #7567
Yes! Just like for boss quests - more consistent code. :)

[2016-06-01 08:30] paglias commented on #879
Closing as API v3 has been released and while it doesn't address this problem specifically we're doing things differently now and this discussion is outdated. May be useful for yesterdailies

[2016-06-01 08:30] #879 closed, assigned to nobody

[2016-06-01 08:31] paglias commented on #1402
Closing since with API v3 this can't happen anymore

[2016-06-01 08:31] #1402 closed, assigned to negue

[2016-06-01 08:32] #1762 closed, assigned to nobody

[2016-06-01 08:34] paglias commented on #1806
Fixed at API level but UI is still missing the ability to fetch other members

[2016-06-01 08:42] paglias commented on #2530
This is possible when levelling up and in a bunch of other situations. Shall we close it?

[2016-06-01 08:44] paglias commented on #2454
This should be fixed

[2016-06-01 08:44] #2454 closed, assigned to nobody

[2016-06-01 08:45] paglias commented on #2334
This should be fixed

[2016-06-01 08:45] #2334 closed, assigned to nobody

[2016-06-01 08:45] paglias commented on #2301
Done :)

[2016-06-01 08:45] #2301 closed, assigned to nobody

[2016-06-01 08:46] #3177 closed, assigned to nobody

[2016-06-01 08:47] paglias commented on #3079
is this still an issue?

[2016-06-01 08:47] paglias commented on #3048
Critical hits are handled on the server now

[2016-06-01 08:47] #3048 closed, assigned to nobody

[2016-06-01 08:48] paglias commented on #3014
This should be fixed

[2016-06-01 08:48] #3014 closed, assigned to nobody

[2016-06-01 08:48] #2953 closed, assigned to nobody

[2016-06-01 08:48] #2853 closed, assigned to lefnire

[2016-06-01 08:49] paglias commented on #2763
Should be fixed

[2016-06-01 08:49] #2763 closed, assigned to nobody

[2016-06-01 08:49] paglias commented on #2751
Fixed in v3

[2016-06-01 08:49] #2751 closed, assigned to nobody

[2016-06-01 08:50] paglias commented on #2672
Fixed with the new database since it rewrote all the data

[2016-06-01 08:50] #2672 closed, assigned to nobody

[2016-06-01 08:58] paglias commented on #3806
The latest changes by @Alys should have fixed this

[2016-06-01 08:58] #3806 closed, assigned to Alys

[2016-06-01 09:01] paglias commented on #3457
Fixed in v3

[2016-06-01 09:01] #3457 closed, assigned to nobody

[2016-06-01 09:01] paglias commented on #3429
This should be fixed

[2016-06-01 09:01] #3429 closed, assigned to nobody

[2016-06-01 09:02] paglias commented on #3259
Should be fixed

[2016-06-01 09:02] #3259 closed, assigned to nobody

[2016-06-01 09:03] paglias commented on #3200
Fixed in v3

[2016-06-01 09:03] #3200 closed, assigned to nobody

[2016-06-01 09:03] paglias commented on #3207
Should be fixed

[2016-06-01 09:03] #3207 closed, assigned to nobody

[2016-06-01 09:03] #4215 closed, assigned to nobody

[2016-06-01 09:04] paglias commented on #4125
Reopen if it occurs again

[2016-06-01 09:04] #4125 closed, assigned to nobody

[2016-06-01 09:04] paglias commented on #4132
Hopefully this is fixed in v3

[2016-06-01 09:04] #4132 closed, assigned to nobody

[2016-06-01 09:04] paglias commented on #4090
Fixed in v3

[2016-06-01 09:04] #4090 closed, assigned to nobody

[2016-06-01 09:05] #4064 closed, assigned to nobody

[2016-06-01 09:05] paglias commented on #4054
Done for server code, client side code will be linted once we redesign the site

[2016-06-01 09:05] #4054 closed, assigned to nobody

[2016-06-01 09:06] paglias commented on #4030
Reopen if it happens again

[2016-06-01 09:06] #4030 closed, assigned to nobody

[2016-06-01 09:07] paglias commented on #4018
I fear this is still an issue in v3 on the API side, there are no check for reward.value to be > 0

[2016-06-01 09:08] paglias commented on #3953
Fixed in v3

[2016-06-01 09:08] #3953 closed, assigned to nobody

[2016-06-01 09:08] #4447 closed, assigned to nobody

[2016-06-01 09:09] paglias commented on #4432
We now have a blog for devs (http://devs.habitica.com) and should not make any breaking change to the API

[2016-06-01 09:09] #4432 closed, assigned to nobody

[2016-06-01 09:10] paglias commented on #4639
Should be fixed in v3, also read queries are fast and cheap

[2016-06-01 09:10] #4639 closed, assigned to nobody

[2016-06-01 09:10] paglias commented on #4610
Should be fixed

[2016-06-01 09:10] #4610 closed, assigned to nobody

[2016-06-01 09:11] paglias commented on #4551
Reopen if it happens again

[2016-06-01 09:11] #4551 closed, assigned to nobody

[2016-06-01 09:11] paglias commented on #4538
Using npm@3 now

[2016-06-01 09:11] #4538 closed, assigned to nobody

[2016-06-01 09:12] paglias commented on #4964
Fixed in v3

[2016-06-01 09:12] #4964 closed, assigned to nobody

[2016-06-01 09:12] shervinmathieu commented on #7535
I'm going to work on this.

[2016-06-01 09:12] paglias commented on #4955
Reopen if it happens again

[2016-06-01 09:12] #4955 closed, assigned to nobody

[2016-06-01 09:13] paglias commented on #4735
This should be fixed now

[2016-06-01 09:13] #4735 closed, assigned to nobody

[2016-06-01 09:13] paglias commented on #4681
I think this has been implemented (press ESC)

[2016-06-01 09:26] paglias commented on #3968
Should be fixed

[2016-06-01 09:26] #3968 closed, assigned to nobody

[2016-06-01 09:26] paglias commented on #4633
Should be fixed, reopen if it happens again

[2016-06-01 09:26] #4633 closed, assigned to nobody

[2016-06-01 09:27] paglias commented on #4448
@crookedneighbor still an issue?

[2016-06-01 09:27] paglias commented on #4957
Should be fixed, reopen if it happens again

[2016-06-01 09:27] #4957 closed, assigned to nobody

[2016-06-01 09:28] paglias commented on #5156
Should be fixed, reopen if it happens again

[2016-06-01 09:28] #5156 closed, assigned to nobody

[2016-06-01 09:29] paglias commented on #5038
@crookedneighbor the first 2 points are still valid? Regarding 1 I think we should allow multiples of 0.25

[2016-06-01 09:29] paglias commented on #5506
Should be fixed, reopen if it happens again

[2016-06-01 09:29] #5506 closed, assigned to nobody

[2016-06-01 09:29] paglias commented on #5341
Should be fixed, reopen if it happens again

[2016-06-01 09:29] #5341 closed, assigned to nobody

[2016-06-01 09:29] paglias commented on #5323
Should be fixed, reopen if it happens again

[2016-06-01 09:29] #5323 closed, assigned to nobody

[2016-06-01 09:30] paglias commented on #5309
@Alys still an issue?

[2016-06-01 09:32] paglias commented on #6175
Reopen if it's still occurring

[2016-06-01 09:32] #6175 closed, assigned to nobody

[2016-06-01 09:32] paglias commented on #6040
Should be fixed in v3

[2016-06-01 09:32] #6040 closed, assigned to nobody

[2016-06-01 09:32] #6027 closed, assigned to nobody

[2016-06-01 09:32] paglias commented on #5986
Reopen if it occurs again

[2016-06-01 09:32] #5986 closed, assigned to nobody

[2016-06-01 09:33] paglias commented on #5870
Should be fixed, reopen if it happens again

[2016-06-01 09:33] #5870 closed, assigned to nobody

[2016-06-01 09:33] #6431 closed, assigned to nobody

[2016-06-01 09:33] #6430 closed, assigned to nobody

[2016-06-01 09:34] paglias commented on #6185
Should be fixed, reopen if it happens again

[2016-06-01 09:34] #6185 closed, assigned to nobody

[2016-06-01 09:35] paglias commented on #6610
Should be fixed, reopen if it happens again

[2016-06-01 09:35] #6610 closed, assigned to nobody

[2016-06-01 09:35] paglias commented on #6497
Should be fixed, reopen if it happens again

[2016-06-01 09:35] #6497 closed, assigned to nobody

[2016-06-01 09:43] #7558 closed, assigned to nobody

[2016-06-01 09:44] paglias commented on #7551
Closing as it seems resolved

[2016-06-01 09:44] #7551 closed, assigned to nobody

[2016-06-01 09:45] paglias commented on #7557
@rongqingpin @Selantri can you try logging out of Habitica?

[2016-06-01 09:45] paglias commented on #7560
@Boreale I would also try logging out, comment here if it's still happening after that

[2016-06-01 09:45] #7560 closed, assigned to nobody

[2016-06-01 09:45] #7548 closed, assigned to nobody

[2016-06-01 09:46] paglias commented on #7572
Duplicate of #7541

[2016-06-01 09:46] #7572 closed, assigned to nobody

[2016-06-01 09:46] #7509 closed, assigned to nobody

[2016-06-01 09:46] #7414 closed, assigned to nobody

[2016-06-01 10:05] Alys commented on #5309
Unless the subscription code has been substantially rewritten to have new behaviour, rather than just refactored, I think this would still be an issue. I've seen other examples of it occasionally over the months, reported by email (I fixed them each manually).

[2016-06-01 10:50] Alys commented on #3079
Ah, I haven't used Habits for weeks, so I have no data to look at.

As I understand it from comments others have made, EVERY click you make on a Habit today is stored. There's no preening of any kind until cron runs - is that right? If that's how it works now, then this issue is certainly resolved.

[2016-06-01 11:13] Alys commented on #6632
@DonMiti You don't seem to be in a party or in a quest. Can you tell us please what's going wrong or what needs to be updated inn your account?

[2016-06-01 11:46] crookedneighbor commented on #7571
@citrusella I checked the user id, and this user was not affected by that issue.

[2016-06-01 11:47] fbsr opened #7574 "Group quests don't working"
General Info
- UUID: 95c171f5-ea31-465e-ac41-6e19b17a4786
- Browser: Chrome
- OS: Windows 10
### Description

I join in group boss quest, but not working damage in boss xD.
#### Console Errors

I don't know

[2016-06-01 11:50] crookedneighbor commented on #7550
I've applied the tiers. Refresh the website for it to take effect.

[2016-06-01 11:50] #7550 closed, assigned to nobody

[2016-06-01 11:56] #4448 closed, assigned to nobody

[2016-06-01 12:02] NikicaJEa opened #7575 "Chat message submitted does not appear until you Fetch Recent Messages"
When I write something and hit enter as this is usually the button that submits your message , it deletes my message which is quite annoying.

[2016-06-01 12:02] crookedneighbor commented on #7574
You were listed in the quest as `null`, which should indicate that the quest was started without you choosing to join in. (`true` would mean you accepted the quest and `false` would mean you rejected it)

Did you press the accept quest button?

In any case, I've added you to the quest.

[2016-06-01 12:04] crookedneighbor commented on #7575
I cannot reproduce this. Where is this happening? What browser are you using?

What's your User ID? You can find it in [Settings > API](https://habitrpg.com/#/options/settings/api). Be sure to only copy the User ID and _not_ your API Token.

[2016-06-01 12:05] Alys commented on #7573
This is just from random chance. You'll get zombie potions in future. Please see this issue for more details: https://github.com/HabitRPG/habitrpg/issues/2176

[2016-06-01 12:05] #7573 closed, assigned to nobody

[2016-06-01 12:09] Alys commented on #7571
@wdiip It's possible that you were affected by this bug: https://github.com/HabitRPG/habitrpg/issues/4313
In brief, for a period of time, your browser was unable to communicate with the server. It kept on allowing you to take actions, and applied those actions to the website as best it could (e.g., causing you to appear to level up) but it wasn't sending any of your actions to the server for perma

[2016-06-01 12:14] fbsr commented on #7574
Really? It's joke? It I accept quest, I'm in quest. The boss appear in quest menu.
This issue not resolved. Wrong closed.

[2016-06-01 12:20] Alys commented on #7574
@fbsr There **was** a problem with your quest but @crookedneighbor has just fixed it for you. You will start doing damage to the boss each morning now.

Tomorrow morning, if you don't see that you've damaged the boss, then comment here again and we'll keep helping you, but based on everything that I and @crookedneighbor can see in your account, the problem is now fixed.

[2016-06-01 12:21] Efox917 opened #7576 "Lost food, potions and eggs"
General Info
- UUID: c1-----8f
- Browser: Safari 9.1.1
- OS: Mac 10.11.5
### Description

While I was feeding my zombie pet rotten meat, my food supply disappeared.  I had about 21 rotten meats.  I fed 9 to Zombie Wolf, and started feeding Zombie Tiger.  I fed Zombie Tiger about 4 rotten meats, and the rest of the rotten meat supply disappeared.  I tried refreshing, and that didn't help.  I couldn

[2016-06-01 12:24] Alys commented on #6632
@DonMiti Sorry, ignore my previous comment! I was looking at your data using a broken script. You definitely are in a party and in a quest.

There seems to be something odd with your party. We are looking into it.

[2016-06-01 12:35] wdiip commented on #7571
@Alys That Fix Character Values button is really useful in case of bugs like this, thank you. I'll keep an eye out for the blue sync bar from now on.

[2016-06-01 12:37] crookedneighbor commented on #7576
FYI, when you edit an issue, we don't get an email alert that changes have been made to the issue. I'm going to copy and paste your text and then delete this comment so that we have a record in email about the issue.

General Info

UUID: c1e6d23e-aa8c-48a1-83eb-eeb6e41c198f
Browser: Safari 9.1.1
OS: Mac 10.11.5
Description

While I was feeding my zombie pet rotten meat, my food supply disappeared.

[2016-06-01 12:45] shervinmathieu commented on #7535
However, is there any way to enable emails in development? I can't test changes if there is no way to do so.

[2016-06-01 12:49] crookedneighbor commented on #7574
@fbsr Sorry, I was rushing when I made my comment. What Alys says is exactly right.

However, in addition, I accidentally removed some properties on your party object. I've restored it from a backup from a few days ago. You may have lost some chat messages in the meantime. If desired, I can download a more backup recent backup and restore the chat messages from there.

I'm sending you 4 gems for t

[2016-06-01 12:50] crookedneighbor commented on #6632
@DonMiti While helping with this issue https://github.com/HabitRPG/habitrpg/issues/7574#issuecomment-222981954, I inadvertently removed some data from your party.

I've restored the data from a few days ago, but you may be missing some chat messages. I can download a more recent backup and restore the chat messages from that, if you'd like.

I'm also sending you 4 gems for the inconvenience. So so

[2016-06-01 13:02] wysawyg opened #7577 ""No such customer" error trying to cancel subscription with failed payments"
General Info
- UUID: 93d5429b-6f05-4e08-bd76-1e449678330d
- Browser: Chrome
- OS: Windows 8
### Description

I tried to cancel my subscription today and the first time I got an json internal server error (I didn't capture the exact detail).
On subsequent attempts, I get: {"success":false,"error":"Error","message":"No such customer: cus_4iWhikZtiXoOR6"}
However the subscription page still shows me

[2016-06-01 13:54] MercuryChaos commented on #6296
I'm having a similar problem. Whenever I try to log into Habitica after restarting my browser (Chrome, Windows and Mac versions) I see a broken version of the "tasks" page that's similar to what Zelah-Myer posted (except the tour guide NPC's head is visible above the stat bars.) Clearing my cache fixes it temporarily, but anytime I close and reopen my browser I get the broken page until I clear my

[2016-06-01 14:22] JerseyEmerald opened #7578 "party members HP, quest, etc doesn't update automatically - multi refresh / logouts required"
General Info
- UUID: 29c5340b-d150-4347-862c-fec571a18b8a
- Browser: any
- OS: any
### Description

Since the maintenance was done I have to reload 5 to 7 times and refresh 5 to 7 times EVERY TIME I want to check my party Members HP, it subtracts my mana immediately HOWEVER,  when I go to my party page, it doesn't show there and the mana doesn't apply to those who are low in HP unless I reload 5/7

[2016-06-01 14:23] JerseyEmerald commented on #7578
Ps this happens on my android,  mobile browser and my computer... I use Google Chrome, it's current, andriod app is current

[2016-06-01 14:35] SabreCat commented on #4681
This suggestion is about having the ESC happen automatically when you change pages.

[2016-06-01 14:36] NikicaJEa commented on #7575
Sorry,  it shows after I click on the button "fetch  recent messages" .  I was just thinking it should automatically show it like when I click  the button " send chat"

[2016-06-01 14:37] NikicaJEa commented on #7575
I use mozilla
95ad2725-8209-4fbe-8e58-db346d5c5467

[2016-06-01 14:42] luhm opened #7579 "Not recieving awards of a pet quest"
General Info
UUID: 551e07b9-9c6b-4d59-835a-bba077de6911
Browser: Chrome
OS: Windows 7
### Description

My group completed the pet quest of Zombie Sabre Tooth and I had recieved the invitation for it day may 29th and accepted it by the Android APP. The last 3 days I only used the Habitica Andoid APP, and when I entered the habitica website interface today I recieved another invitation but for the s

[2016-06-01 14:46] SabreCat commented on #7577
This happens when your credit card payments have failed enough times that our payment processor stopped trying to charge you, but the notification didn't make it back to Habitica to cancel the subscription on our end. So the good news is that you haven't been charged any extra times! I'll get the subscription canceled in Habitica for you.

[2016-06-01 15:02] SabreCat opened #7581 "Add back drop tracking for analytics"
### Description
#7547 moved some drop-related code around in such a way that we no longer send drop data to our analytics providers. It's not one of our top needs, data-wise, but it would still be nice to have again. We should implement it in the server code for drops instead of on the client.
#### Console Errors

[2016-06-01 15:14] rongqingpin commented on #7557
I have logged out and logged back in. Still the same thing. After the health points from yesterday's activity are taken off, I rearranged some tasks and checked off a few dailies; then some points are taken off with no apparent reason - not in a quest, didn't click on bad habits, etc. I logged out once more and the points taken off didn't come back either.

---

From: Matteo Pagliazzi notification

[2016-06-01 15:18] paglias commented on #6296
@MercuryChaos what's your UUID?

[2016-06-01 15:25] paglias commented on #7557
No errors recorded for @rongqingpin

[2016-06-01 15:30] paglias commented on #7577
@SabreCat there's an error recorded for @wysawyg `error: TypeError: Cannot read property 'current_period_end' of null`

[2016-06-01 15:31] SabreCat commented on #7577
@paglias Ah, yes. That's the one! Prior to v3, that's the error that end users saw in this same situation.

[2016-06-01 15:32] paglias commented on #7577
@SabreCat cool! do you know why we haven't setup Stripe webhooks to tell us of failed payments? Also do we know how many users are affected?

[2016-06-01 15:37] cgibson-dev commented on #4505
I never had this issue before, but I am now seeing this bug in Chrome as well. Ever since the last maintenance (or two maintenances ago), the toggled value of the tag does not persist. Occasionally, the tags "clear" (as if the 'clear' button was clicked) just by leaving the task pane, and then returning. Most of the time, it appears as if the selected tags "clear" after a certain amount of elapsed

[2016-06-01 15:46] SalamandaBlue commented on #4174
Good mornin',

I've been apart of the same quest for a few weeks now, but after the big Habitica update online I can't seem to damage the boss my party is fighting. Actions like casting spells for the group still show up, but no damage is done from my dailies, to-do's, or positive habits. I'm the quest owner, I'm not resting at the inn, and another member of my party is damaging the boss just fine

[2016-06-01 15:47] SabreCat commented on #7577
@paglias: Webhooks would definitely be the solution; no specific reason other than not having the opportunity/resources yet. I don't know how to tell how many users currently have failed Stripe subscriptions that are still active in Habitica, but we get a mid-single-digits number of reports of the issue every month.

[2016-06-01 16:07] MercuryChaos commented on #6296
@paglias ba9920a5-b079-4db8-ad25-f47bb81d2f5f

[2016-06-01 16:17] Aschkal opened #7582 "Party's chat box does not update"
As in the title, the chat box for my party does not update.
The time of when the messages were sent keeps increasing but no new message appears. It happens for both chat messages and activities.

UUID: b393a2e7-239d-4782-9851-a9f57d0c72a6
Browser: Google Chrome
OS: Ubuntu (16.04)

[2016-06-01 16:55] paglias commented on #6296
@MercuryChaos if you open the browser console do you see any errors in there? (Ctrl+Shift+J or Cmd+Options+J on OS X)

[2016-06-01 17:06] crookedneighbor commented on #7574
I've restored the chat message that was missing. Everything should be good now. Let me know if you still don't make progress after your next cron.

[2016-06-01 17:06] #7574 closed, assigned to nobody

[2016-06-01 17:06] crookedneighbor commented on #6632
@DonMiti I've added back in the missing chat message.

[2016-06-01 17:06] #6632 closed, assigned to nobody

[2016-06-01 17:07] crookedneighbor commented on #7582
This is expected. The chat is not real time (yet!), you need to press the fetch chat messages button.

[2016-06-01 17:07] #7582 closed, assigned to nobody

[2016-06-01 17:22] cgibson-dev commented on #4505
Just tested the bug and it appears that syncing the site is what is causing the tags to clear. Clicking the "Sync" button in the top right cleared any selected tags for me.

[2016-06-01 17:34] EHLOVader commented on #7557
be3ac978-507a-4234-b5c4-d044a3bcc0eb
Browser: Chrome
OS: Apple 10.11

I had an issue over the past few days where it drained all my health after I saw a level up for completing all my dailies the night before.

This follows another issue which wasn't formally reported but after the maintenance I was seeing next days dailies after midnight instead of my remaining dailies. Something I do often with

[2016-06-01 17:42] rongqingpin commented on #7557
So can you check why the points keep dropping?

---

From: Matteo Pagliazzi notifications@github.com
Sent: Wednesday, June 1, 2016 11:25 AM
To: HabitRPG/habitrpg
Cc: rongqingpin; Mention
Subject: Re: [HabitRPG/habitrpg] Health points drop dramatically and repeatedly without reason (not in quest) (#7557)

No errors recorded for @rongqingpinhttps://github.com/rongqingpin

##

You are receiving this

[2016-06-01 17:54] MercuryChaos commented on #6296
@paglias Yep. They wouldn't all show in a screencap so I just copied and pasted the whole thing:

`app-8f3d5c85.js:6 TypeError: Cannot read property '_id' of undefined
    at Object.o [as party] (app-8f3d5c85.js:43)
    at new <anonymous> (app-8f3d5c85.js:45)
    at Object.i [as invoke] (app-8f3d5c85.js:5)
    at D.instance (app-8f3d5c85.js:6)
    at app-8f3d5c85.js:6
    at x (app-8f3d5c85.js:4)

[2016-06-01 17:56] MercuryChaos commented on #6296
@paglias Yep.
![capture](https://cloud.githubusercontent.com/assets/3300217/15720038/3cc9630c-27f8-11e6-9df1-8abc79746639.PNG)

Do you want me to copy and paste the whole thing? It's pretty long.

[2016-06-01 17:57] lizbernstein opened #7584 "Already in Party"
General Info
- UUID: 4ae99914-c77a-4939-af33-c15dbf8a9ae3
- Browser: Chrome
- OS: Windows 10
### Description

[//](#): # My friends and I just joined. I tried to invite them to a party, but every time I try it says they're already in a party (even though they're not, obviously).
#### Console Errors

[2016-06-01 17:59] crookedneighbor commented on #7584
Do you have your friend's user id?

[2016-06-01 18:04] lizbernstein commented on #7584
Yes. It does it for both of them. I just had one of them invite me and it
worked though.

On Wed, Jun 1, 2016 at 1:59 PM, Blade Barringer notifications@github.com
wrote:

[2016-06-01 18:53] DonMiti commented on #6632
I appreciate all the time you put into fixing the problem. Thanks a lot.
Habit really helps me keep my life in check. You are doing amazing work.

Regards.

On Wed, 01 Jun 2016, 19:06 Blade Barringer notifications@github.com wrote:

[2016-06-01 19:17] EHLOVader commented on #7557
Would it be possible to expose a ledger of all the scoring in the system?

Obviously such a log would take lots of space and certainly it shouldn't be used for tallying the live values, but in cases like this it would allow me to audit the scoring myself to identify issues that happened. Might even offer an interface for quickly reversing small items in the scoring without much fuss.

[2016-06-01 19:19] Balduranne opened #7585 "Bug: Lost my gems"
Hello,

I'm not sure what happened, but all my gems for June (I'm a subscriber) disappeared after I had bought a scroll for them.
The gold is gone, and I can't buy more gems, I was only able to get one after this happened.

My user ID is 44a335a6-e09a-4537-b4c4-8b6fc7f81953
I'm one Chrome, Win10

[2016-06-01 19:36] quin-jay commented on #7572
Oops, I searched all issues for "tag reorder," and it didn't show me that one. Should've tried a second search phrase!

[2016-06-01 19:49] quin-jay commented on #7557
@EHLOVader If you click the "Data" button in the toolbar, you can use a couple of the options in the Data Display Tool to show you the exact score of every one of your tasks. It's not ideal but it's probably the best place to start if you're trying to find a rogue task.

[2016-06-01 20:05] quin-jay commented on #7556
Is there a different way to implement the feature that would be more similar to other chat platforms? Example: If a message has been read, you see a checkbox somewhere

[2016-06-01 20:08] kawunngg commented on #7449
same thing for me: in all challenges i create, the tags aren't connected to the tasks. this only happens in my own challenges. if i leave the challenge and join again, they are connected again. (tried once). challenges by other people seem to behave normal.

ce935e7f-00e6-44bc-a44a-5280553810f0
Win7 / Firefox 46.0.1

Habitica user aust said they have the same problem, don't know what system they u

[2016-06-01 20:12] quin-jay commented on #7535
@velezsarain You may have already figured this out, but in your local install there's a config.json file that includes a line where you can specify an email address. I believe any tests you do with your local account will send a real email to that address (and it has nothing to do with login information, so you can use the same email address as your real Habitica account).

[2016-06-01 20:14] quin-jay commented on #7535
Although, if the email is to be sent to mods only, config.json won't help. Oops, disregard previous message! :relaxed:

[2016-06-01 20:34] #7552 closed, assigned to SabreCat

[2016-06-01 22:05] Selantri commented on #7557
@paglias  This morning I had no large, unexpected drops in health. After logging out and back in and doing a few more tasks, still no drops. Maybe that fixed it? I also stayed on past the chron turn-over last night, which I have not done since the problem started.

[2016-06-01 22:41] Definitia opened #7587 "Tasks with broken challenge links - unable to "keep" them and getting an error message"
UUID: fbcc1ddd-a6ef-499a-ae30-fa817b000438
Browser: Mozilla Firefox 46.0.1
OS: Windows 7

Whenever there is a task with a broken challenge link (i.e. the challenge is already completed or deleted), upon clicking the broken challenge icon on the task there is an option to either keep the challenge tasks (thus unlinking them from challenge so they are open to editing etc) or remove them. Whenever I

[2016-06-01 22:49] Definitia commented on #7575
The exact thing described in the title happens to me as well - when I submit a message or use a skill, it does not appear in the chat automatically, I have to "fetch" it; same for the boss damage message when I first log in after the Cron. However, it only occurs when I'm at work and thus using Chrome - normally I use Firefox. It started after the last big maintenance and was very confusing at fir

[2016-06-01 22:52] Definitia commented on #7587
I believe a similar issue submitted earlier today might be connected: https://github.com/HabitRPG/habitrpg/issues/7569

[2016-06-02 01:50] crookedneighbor commented on #7584
I meant, could you post your friend's user id so I can check the database and see if there's any strange data in their account that would prevent you from inviting them. It sounds like you're now successfully in a party with them, so I'm going to close this.

[2016-06-02 01:50] #7584 closed, assigned to nobody

[2016-06-02 01:56] ghost commented on #4174
@crookedneighbor , it's me again.  So I checked this morning and again I have found no items relating to my quest.  I understand that it's possible to not have found anything, but seeing as I have done all my Dailies, and quite a few good habits, I would think I would at least have found something.  Do you have any more suggestions for things I should do, or should I wait a little longer?

My user

[2016-06-02 02:39] crookedneighbor commented on #4174
@SalamandaBlue @AnB749 you both did not have keys on your party.quest attribute again... something must be removing it on accident. What platforms do you use?

I'm working on a PR that will make all these operations run on the server using the group object instead of relying on the user object, so in any case, this should be fixed soon. https://github.com/HabitRPG/habitrpg/pull/7570

[2016-06-02 04:09] ghost commented on #4174
@crookedneighbor Thanks for the quick response!

I primarily use 3 different systems with Habitica.

I use Google Chrome with Windows 8.1 Pro,  Google Chrome with Windows 7 Home, and the Android App.

[2016-06-02 04:43] SalamandaBlue commented on #4174
@crookedneighbor  Thanks for looking into this. I use the same as @AnB749 , that is the Android app on my phone, and Google Chrome with Windows 8.1
I actually just switched back to Windows 8 recently, and didn't have this problem on Windows 10.

[2016-06-02 07:11] quin-jay commented on #7579
@luhm Just to confirm: Did you see in party messages that you were doing damage to the boss?

[2016-06-02 07:47] wysawyg commented on #7577
Ah, that makes sense. My debit card expired end of April and I forgot to update it on here. Thanks.

[2016-06-02 08:21] Alys commented on #7579
You're already a participant in the Owl quest - you can confirm that by looking at the participant list on the website's party page (reload the page to ensure you're seeing the latest information). You would have accepted it when you accepted the incorrect Sabre Tooth invitation (basically, you **were** given the invitation for the Owl quest, but there was some incorrect cached data in your accoun

[2016-06-02 08:21] #7579 closed, assigned to nobody

[2016-06-02 08:31] Alys commented on #7575
@NikicaJEa @Definitia Thanks for the reports! We had something very similar reported at https://github.com/HabitRPG/habitrpg/issues/7407 so I've updated that with your comments, and we'll use that for tracking and fixing the issue.

[2016-06-02 08:31] #7575 closed, assigned to nobody

[2016-06-02 08:36] Alys commented on #4505
@hbennet That's a separate issue and we have it recorded at https://github.com/HabitRPG/habitrpg/issues/7413 . No need to comment there - we know it affects all players.

I'm closing this issue because I believe an upcoming change to how temporary data is stored from the website will make both Chrome and Firefox not persist tags after the browser is closed and reopened.

[2016-06-02 08:36] #4505 closed, assigned to nobody

[2016-06-02 08:43] shervinmathieu commented on #7541
I don't think this is browser dependent. It is broken in all of my browsers.

[2016-06-02 08:46] Alys commented on #7577
@wysawyg's subscription has been removed from Habitica and we have this bug reported elsewhere so I'm closing this.

[2016-06-02 08:46] #7577 closed, assigned to nobody

[2016-06-02 08:47] paglias commented on #7587
@Definitia thanks for the report! Actually this is caused by a bug in our ORM (https://github.com/Automattic/mongoose/issues/4182) but it should be fixed fairly quickly!

[2016-06-02 08:49] paglias commented on #7557
@Selantri great news! We deployed a fix that hopefully should fix this problem and it looks like it's worked for you!

[2016-06-02 08:51] paglias commented on #7535
@lynnyliz the email setting you see in config.json is only used for password recovery that for 100% delivery have to be sent directly from our server. All other emails are sent through Mandrill

[2016-06-02 09:06] Alys commented on #7576
@Efox917 The ID you provided isn't your User ID (unless you've deleted your account since then). Can you please paste your User ID into a new comment?

I've obscured most of the code you provided in case it's your API token. Once you've provided your User ID, I'll check to see if it was your token, and if so, I'll change your token. This will either log you out of Habitica immediately, or cause th

[2016-06-02 11:02] awitherow opened #7589 "Missing Contribution Guidelines"
As I look through a lot of these pull requests, I see a lot of inconsistency in the code being implemented. I would like to head an effort to creating a contributing.md file to help standardize the codebase.

[2016-06-02 11:08] paglias commented on #7589
@awitherow we do have a CONTRIBUTING.md file https://github.com/HabitRPG/habitrpg/blob/develop/.github/CONTRIBUTING.md

Regarding inconsistencies in the code we've done a full refactor of the server code and it's is now completely consistent and linted using ESLint. The client side code will adopt a standard code style as soon as we start refactoring it too.

[2016-06-02 11:08] #7589 closed, assigned to nobody

[2016-06-02 11:11] paglias commented on #7589
Feel free to propose any improvement to the existing contribution guildelines and current client side code, just keep in mind that because a client side code refactoring is being planned right now we're not actively improving the code style and any work may be undone as soon as the refactoring starts

[2016-06-02 11:28] shervinmathieu commented on #7541
I found out that while the API call to reorder tags works, as it passes the tests and updates the database properly, reordering the tags in the client itself will not update the database but will call the API anyway. I'm believe that the client files are not passing the correct argument to the API calls however this would be strange too since the karma tests are also passing...

[2016-06-02 11:31] awitherow commented on #7589
Refactoring should be a rolling process, the features and bugs aren't going to stop coming in... should start making small changes towards standardization within every PR 😄 but yeah sure, I'll look into it.

[2016-06-02 11:36] crookedneighbor commented on #7541
Are there karma tests for tag re-ordering?

[2016-06-02 11:43] fbsr commented on #7574
Thank you for support, but don't work yet unfortunately. And button of find members and party members show same time now in task page.

[2016-06-02 11:53] shervinmathieu commented on #7541
Now that you mention it, there does not seem to be karma coverage for this function, the karma code reads:

[code]

When this is fixed maybe this test should be written? Although I have zero experience with writing karma code.

[2016-06-02 12:05] paglias commented on #7589
@awitherow when I talk about refactoring I mean a complete rewrite of the client side code moving away from Angular 1, right now it doesn't make sense for us to spend time and resources of the core team in refactoring a code that will be replaced soon

[2016-06-02 12:24] shervinmathieu commented on #7541
I was right, the API is being called with wrong arguments.

The tag being passed to the API is not the one that is being moved, but actually the tag in the destination position.

This causes the API to move the destination tag to the same position its in.

This behaviour is broken if the tags have already been sorted and the client is not synced, and tags are actually sorted then. But not always i

[2016-06-02 12:30] kawunngg commented on #7449
oh, another thing i noticed, don't know if this is connected: when i create challenges the tasks appear on top of my to do list, if i join other people's challenges, they are added on the bottom of the list as usual.

[2016-06-02 12:39] crookedneighbor commented on #7574
The memberCount in the group object was set to 1 instead of 2 (likely from restoring the backup I had) which is what caused the button to re-appear. I've corrected it. (note though, that in the future, the button may appear again for parties with less than 4 members. See https://github.com/HabitRPG/habitrpg/pull/6765)

I do see evidence that you caused damage to the boss. Please reload the party p

[2016-06-02 12:40] Alys commented on #7540
The backticks aren't making it into the database now. This is a gem gift message that was sent today:

[code]

and here's one sent a few months ago, with correct backticks (although there really should be a space after the closing backtick):

[code]

[2016-06-02 12:42] Alys commented on #6623
I haven't seen recent reports of this, and it seems to be resolved for the people here, and we'll be redesigning the client code, so I'm closing this.

[2016-06-02 12:42] #6623 closed, assigned to nobody

[2016-06-02 12:43] paglias commented on #7541
@velezsarain good investigation!

[2016-06-02 12:43] Alys commented on #7552
I've awarded the May Mystery Items to all current subscribers (I put them straight into the `items.gear.owned` object because that was fastest).

[2016-06-02 12:45] fbsr commented on #7407
Ok thank you for support.

[2016-06-02 12:48] paglias commented on #6296
We're working on a change to how data is persisted that should fix this in the next few days. Thanks for your patience!

[2016-06-02 12:59] rongqingpin commented on #7557
Could it be I'm listed in two parties by mistake? This morning when I logged in, I lost 10 health points. But yesterday I only had one daily incomplete, which should be 2 or 3 points at most. Also the party I'm currently in haven't started a quest yet. So it makes no sense how the 10 points were lost...

---

From: Matteo Pagliazzi notifications@github.com
Sent: Wednesday, June 1, 2016 11:25 AM
To

[2016-06-02 13:40] crookedneighbor commented on #7557
It's impossible to be in two parties at once now (since the party id is defined as a string on the user object).

[2016-06-02 13:41] crookedneighbor commented on #7557
@rongqingpin do you use only the website? Or do you use one of the mobile apps as well?

[2016-06-02 15:26] librarianmage commented on #7556
@lynnyliz From past experience, it seems to turn the messages that are read grey

[2016-06-02 15:42] rongqingpin commented on #7557
I just use the website. I downloaded the app (iOS) but rarely open it.

---

From: Blade Barringer notifications@github.com
Sent: Thursday, June 2, 2016 9:41 AM
To: HabitRPG/habitrpg
Cc: rongqingpin; Mention
Subject: Re: [HabitRPG/habitrpg] Health points drop dramatically and repeatedly without reason (not in quest) (#7557)

@rongqingpinhttps://github.com/rongqingpin do you use only the website? O

[2016-06-02 15:54] awitherow commented on #7589
@paglias are you guys going to be going Angular 2 or have you considered rewriting in React? I'm quite biased to React, but I've been really enjoying the maintainability of React with Atomic principles.

[2016-06-02 16:06] SabreCat commented on #7540
Possibly something that started happening when we changed Markdown libraries? @crookedneighbor

[2016-06-02 17:02] crookedneighbor commented on #7540
No. The controller is just not including them.

https://github.com/HabitRPG/habitrpg/blob/develop/website/server/controllers/api-v3/members.js#L358

[2016-06-02 17:07] ghost commented on #5631
- [x] typo in `noCompletedTodosChallenge` 'Completed' is misspelled:

Nice catch by @CAKS42 on Transifex

[2016-06-02 17:37] crookedneighbor commented on #7567
^ could have a tavern collection quest boss :)

[2016-06-02 19:29] sustained commented on #7320
Sorry but I'm having way too many issues with my computer (constant freezing, kernel panics) to commit to fixing this or any other issue. It's impossible to do any development work when your machine is on its way out.

I'll probably try to contribute once I get a new machine, whenever that may be.

[2016-06-02 20:10] habitrpguser opened #7591 "Challenge names changed into "challenge-name""
Several challenges had their names replaced with "challenge-name" during the API change.

Examples:
- All challenges in the [Fighters Guild](https://habitica.com/#/options/groups/guilds/b70667de-9c04-43f8-bbaa-924640489ddb)
- this [Tavern challenge](https://habitica.com/#/options/groups/challenges/7d78870c-5473-496a-b1cd-bdb288590c7a)

I didn't search for others.

I've seen it on the website (with

[2016-06-02 20:35] UnexpectedMushroom commented on #7591
Here are a few others:

https://habitica.com/#/options/groups/challenges/56825dea-5761-48f3-9068-ddb14280a554
https://habitica.com/#/options/groups/challenges/e1c22fa4-d4de-4731-8482-03a929ffbd07
https://habitica.com/#/options/groups/challenges/d7a0da37-b793-4722-a933-e9f0ea3561e4
https://habitica.com/#/options/groups/challenges/83ddb5f5-8e36-47b8-9f90-3649e369906d

This one was called "Learn ASL"

[2016-06-02 20:44] rongqingpin commented on #7557
I'm pretty sure somehow I'm in two parties at the same time. I just got a notice that a quest is completed, which is not the one I'm currently in with my party!

---

From: Blade Barringer notifications@github.com
Sent: Thursday, June 2, 2016 9:41 AM
To: HabitRPG/habitrpg
Cc: rongqingpin; Mention
Subject: Re: [HabitRPG/habitrpg] Health points drop dramatically and repeatedly without reason (not in

[2016-06-02 22:02] shervinmathieu commented on #7541
It seems this function is the culprit :

[code]

Sometime between the beginning of it, when the data is valid, and the call to `Tags.sortTag()`, a function in common/script/ops/sortTag.js is called, will sort the data, and cause the call to the other sortTag function to fail (because the data was already sorted).

There needs to be a way to store the tag info before it is modified client side.

[2016-06-02 22:26] Alys commented on #7591
We'll do a search for all challenges with that incorrect name and adjust them all to use the names that existed in a backup of the site from just before Maintenance.

I'll do that this weekend if no one else does it first (other admins: feel free to if you want to).
NOTE: Several of the challenge owners now know about this problem and are likely to fix it in their own challenges, so we should be c

[2016-06-02 22:29] luhm commented on #7579
Thank you!
I'll pay more attention next time to be certain that I am participating in the quests I accept.
:)

[2016-06-03 10:10] shervinmathieu commented on #7561
The template should include fields to input user ID and the API password, right?

[2016-06-03 10:33] Alys commented on #7561
@velezsarain Yes.

[2016-06-03 10:53] jtgithub2016 commented on #7134
Lately, I've been having trouble getting my Party's status to update?  For
example, if we finish a quest, I need to log off Habitica, close the
browser, re-launch the browser, and then log back in.  At least that's what
I've been doing.  Simply closing and re-launching the browser doesn't
work.  It's possible logging off and back on might be sufficient, but I
haven't tried that.

Same problem crop

[2016-06-03 11:10] JerseyEmerald commented on #7578
During tree quest,  I always log out, when I logged in, participating members hp showed 50
I checked off my dailes
Then a msg showed  -34 mana (why??)
My hp showed 50, after I did a refresh 6 times, then reload page 5 times I saw the reason
It was all false..every team member hp ranged from 13 to 23!!!!!
I used all my up casting blessing skill to get them all up to 50!!!!!
This is extremely annoyi

[2016-06-03 11:13] JerseyEmerald commented on #7578
The real problem is constant reloading and refreshing the page, every single hour, every day., even when I leave messages in the chat area for the party I'm in, same happens when I go to the INN, it's ridiculous

[2016-06-03 11:28] Alys commented on #7134
@jtgithub2016 Are you seeing "Cannot connect to server" errors? If not, can you please copy your comment to this issue: https://github.com/HabitRPG/habitrpg/issues/7578
Please also tell us there if you've tried reloading and if so, what effect that has.

[2016-06-03 12:10] Alys commented on #7578
A problem that might be related is described here: https://github.com/HabitRPG/habitrpg/issues/7134#issuecomment-223549787 (quest doesn't appear until logging out and relaunching browser).

I can't replicate JerseyEmerald's problem (if I use direct database update commands to adjust my party members' health, the change appears in the website after a single reload). However that's a party of four p

[2016-06-03 12:26] Alys commented on #7557
@rongqingpin Your current party ID is bdf39d10-4e04-4c69-8d31-608aa9fb72aa - that's stored in your user account and there's space for only one party ID, so it's not meant to be possible to be in two parties. You can find that same ID on the party page, in the left-hand column near the bottom. If you ever think that you are in a different party, please look for the ID on that page and tell us what

[2016-06-03 12:51] Alys commented on #7585
Can you tell us what you mean by "after I had bought a scroll for them"? Do you mean you bought a quest scroll with gems, or something else?

How many gems did you have before that, and how many just after?

If you did buy a scroll, do you still have it?

[2016-06-03 13:00] rongqingpin commented on #7557
Thanks, I see. I left my old party in the middle of a quest, and I wasn't in a quest with my new party until yesterday. Is it possible that I was still in the old party's quest although I'm in a new party (but haven't started a new quest)? That would explain the quest completion notice I saw and the unexplained lost health points. Now that the old quest is completed and I've started the new one, h

[2016-06-03 13:11] crookedneighbor commented on #7557
@rongqingpin Thank you for that information! While leaving a party should clean up any data related to being in that party's quest, it's possible there's a bug some where. We'll investigate that.

[2016-06-03 13:30] Balduranne commented on #7585
I bought 45 gems with gold, purchased a Tangle Tree scroll (With Gems). After that I either clicked on the scroll I bought or tried to get a different one, but the 45 Gems just disappeared, along with the gold I used to buy it and the quest scroll I got.
For some reason after that I could buy a single gem for the remaining gold (Which I did). Right after the bug happened I only had one gem that I

[2016-06-03 13:55] shervinmathieu commented on #7561
Would it be ok to leave out the api calls that take complex parameters (ex: createChallenge) and the ones that may be undesirable (like the entirety of the authentication related calls)?

[2016-06-03 13:57] crookedneighbor commented on #7561
@velezsarain no.

Also, just an FYI, I'm going to be very picky about how this is implemented 😄

[2016-06-03 14:09] shervinmathieu commented on #7561
This is going to be harder than I thought...

I'm still going to give it a shot because I kinda opened this one

Don't expect this to be finished soon

[2016-06-03 14:22] paglias commented on #7589
@awitherow we've shortlisted React and [Vue](https://vuejs.org/)

[2016-06-03 14:56] librarianmage commented on #7561
@velezsarain You might want to take a peek at the api docs from v2

[2016-06-03 15:12] sczther commented on #6710
Any news on this?

[2016-06-03 16:41] irgendwr opened #7595 "minor experience/level up bug"
General Info
- UUID: 5ea6bd9e-fb1f-4f18-95d5-d3072355f8c6
- Browser: Google Chrome
- OS: Windows
### Description

Level didn't increase after experience was above limit, even after syncing and refreshing the page. This was also the case on the Android App.
After getting more experience the level increased as it should.
![habitica](https://cloud.githubusercontent.com/assets/17804578/15783614/2ed337

[2016-06-03 16:58] SabreCat commented on #7595
Duplicate of #2433. We've knocked out a few ways this can happen, but not yet all of them!

[2016-06-03 16:58] #7595 closed, assigned to nobody

[2016-06-03 17:02] irgendwr commented on #7595
@SabreCat okay, thanks and sorry for the duplicate ^^

[2016-06-03 17:39] #2377 closed, assigned to nobody

[2016-06-03 17:43] #7130 closed, assigned to nobody

[2016-06-03 17:47] #7132 closed, assigned to nobody

[2016-06-03 18:44] shervinmathieu commented on #7561
After trying to do this I'm afraid apidoc isn't quite ready yet to send sample requests that contain arrays... The doc itself can be written but the sample requests are bugged and will not fill the parameters correctly.

In general apidoc does not like arrays

Example:
I want `body: { tagDetails: { name: 'morning2'}}`

But apidoc generates `body: { tagDetails: '', 'tagDetails.name': 'morning2' }`

[2016-06-03 18:55] crookedneighbor commented on #7561
Could you share a branch or snippet with what you've done?

[2016-06-03 19:11] shervinmathieu commented on #7561
Sure.

I only modified 1 file : https://gist.github.com/velezsarain/09524b04528eba8bfe9466114e508a2f

So I got getTags working just fine because it's only a pair of headers. But for updateTags, both

[code]

and

[code]

Do not work. The first one will produce an incorrect field "tagDetails[]" (not an array), the second one will create a unwanted tagDetails field along the tagDetails.name field, w

[2016-06-03 21:27] Alys opened #7599 "challenge tasks in user's task lists are in wrong sort order after joining"
When you join a challenge, the tasks that are added to your own task list are not in the same order as they are in the challenge as shown in the Challenges page. They should be.

For challenges where the order is important, challenge owners can number each task and write instructions in the challenge for the participants to follow the numbers. That's probably a good idea even after this bug is fix

[2016-06-03 22:05] Alys commented on #5649
I believe this can no longer happen since Habitica's API v3 rewrite.

[2016-06-03 22:05] #5649 closed, assigned to nobody

[2016-06-03 22:16] Alys opened #7600 "after accepting a guild/party invitation, the invitation persists"
If you accept a guild invitation, the invitation is correctly deleted from your user document in the database, but it still appears in the browser until you reload. If you try to accept it again, you receive an error message (which is expected and correct, but not user-friendly).

The desired behaviour is that as soon as you've accepted the invitation, the notification for it should be removed fro

[2016-06-03 22:20] Alys commented on #7600
(sorry, misclicked on submit).

If you accept a guild invitation, the invitation is correctly deleted from your user document in the database, but it still appears in the browser until you reload. If you try to accept it again, you receive an error message (which is expected and correct, but not user-friendly).

The desired behaviour is that as soon as you've accepted the invitation, the notificat

[2016-06-03 22:43] Alys commented on #7591
Ugh. About 430 challenges affected. I'm definitely cleaning this up today.

[2016-06-03 22:55] JerseyEmerald commented on #7578
![screenshot_20160603-183844](https://cloud.githubusercontent.com/assets/17463902/15794843/040e8aa4-29bc-11e6-8986-2598b538d2ba.png)
![screenshot_20160603-183853](https://cloud.githubusercontent.com/assets/17463902/15794851/12eb7b36-29bc-11e6-9b91-74cafedc2920.png)
![screenshot_20160603-184050](https://cloud.githubusercontent.com/assets/17463902/15794861/29362ada-29bc-11e6-8c4e-10079a21e14a.png)

[2016-06-03 23:20] Alys commented on #7578
I've confirmed that right now, all party members have 50 hp.

GitHub isn't great at displaying multiple images clearly, so here's links to each of them:
https://cloud.githubusercontent.com/assets/17463902/15794843/040e8aa4-29bc-11e6-8986-2598b538d2ba.png
https://cloud.githubusercontent.com/assets/17463902/15794851/12eb7b36-29bc-11e6-9b91-74cafedc2920.png
https://cloud.githubusercontent.com/assets/

[2016-06-03 23:29] Alys commented on #7591
All of the challenges that had the name "challenge-name" now have the name that they had before the migration, except for the ones listed below. Previously, they had no name (an empty string); now they have the name "no name". They're likely to be test challenges, or otherwise unneeded, so I'll look through them a bit later today.

[2016-06-03 23:29] lemoness opened #7601 "Transparent glasses files"
The current glasses are not transparent, which makes it look odd when your avatar is sleeping. Here are new glasses files by James Danger that have transparent lenses! They should replace the old ones.

![top_frame_-_black-2](https://cloud.githubusercontent.com/assets/3494081/15795635/5ac13b58-29a8-11e6-8294-d15ea3dbf4d6.png)
![top_frame_-_blue-2](https://cloud.githubusercontent.com/assets/3494081

[2016-06-03 23:29] Alys commented on #7591
And I've just realised some might have private information so I've deleted that list.

[2016-06-03 23:38] Alys commented on #7578
@JerseyEmerald : Have you done the reloads yet to see how the party members' health changed? If not, when you do do the reloads, take a screenshot of the section of the party page that shows all their healths before you do start the reloads, and then after every reload, take another screenshot. When you've finished as many reloads as you need to see the correct data, please drag all the screenshot

[2016-06-04 01:19] lemoness commented on #1023
API is done, so we can reopen this discussion. Personally, I think that a confirmation popup as well as changing the label to say "Clear All Completed To-Dos" would be plenty of warning.

Having a Clear All versus a Clear Visible seems to add clutter without as much of a benefit, in my opinion, but I'd be interested to hear opposing views.

[2016-06-04 01:21] lemoness commented on #718
Did we ever hear back from the Lato dev team on this fonts issue? If not, we may need to look in to a different solution.

[2016-06-04 01:24] lemoness commented on #1483
@crookedneighbor Is this still relevant?

[2016-06-04 01:26] lemoness commented on #1484
Now that the API rewrite is done, we can discuss if this is still feasible or relevant.

Some people do request Undo buttons periodically, but if I recall correctly, there were issues getting it to work properly.

[2016-06-04 01:27] lemoness commented on #1488
We are still interested in an iCal integration!

[2016-06-04 01:30] lemoness commented on #1562
This is a feature request, so it should go on Trello instead.

[2016-06-04 01:30] #1562 closed, assigned to nobody

[2016-06-04 01:33] lemoness commented on #1634
The current way that we are handling purchasable items is pretty entrenched, so I don't think we need this ticket any more. If someone really disagrees, comment hear and I will reopen it.

[2016-06-04 01:33] #1634 closed, assigned to nobody

[2016-06-04 01:34] lemoness commented on #1703
Still an issue post API-rewrite, or can this be closed?

[2016-06-04 01:36] lemoness commented on #2136
This is still something that would be useful!

[2016-06-04 01:37] #1483 closed, assigned to nobody

[2016-06-04 01:37] crookedneighbor commented on #1483
Since we're moving away from Angular, no.

[2016-06-04 01:38] lemoness commented on #2129
We're thinking of doing a more thorough re-evaluation of site design in the future, and we can re-examine this at that time. In the meantime, I'm closing this ticket. Feel free to comment if anyone still feels strongly about this!

[2016-06-04 01:38] #2129 closed, assigned to nobody

[2016-06-04 01:39] lemoness commented on #2098
@SabreCat Do you still want this open? It's pretty old.

[2016-06-04 01:43] lemoness commented on #2044
Reading through this discussion again, it sounds like the consensus is to change the names of the attributes to reflect the stats. Let's do that. I'm happy with deilann's proposed text:

Strength: e.g. relating to exercise and activity
Intelligence: e.g. relating to academic or mentally challenging pursuits
Perception: e.g. relating to work, or financial tasks
Constitution: e.g. relating to health

[2016-06-04 01:46] lemoness commented on #2028
I still think that this ticket is a good idea, but it's very low priority, so I'm not sure we should leave this ticket open unless someone is hoping to work on it.

[2016-06-04 01:47] lemoness commented on #1983
I am no longer having this issue. If anyone else is, feel free to comment and I'll reopen!

[2016-06-04 01:47] #1983 closed, assigned to nobody

[2016-06-04 01:50] lemoness commented on #1841
Right now we have Guild search, which helps this, and the Pirates do a good job of managing things. I think this filter could still be a good idea, but think that we should evaluate as part of the Guilds/groups improvements that we are planning to make this year, so I am going to close this ticket. If someone disagrees, comment here and I will reopen it!

[2016-06-04 01:50] #1841 closed, assigned to nobody

[2016-06-04 01:54] lemoness commented on #1785
Personally, since we have the notification counter in its own ticket, I think that this should be closed. We also send users an email when they're invited, and we're about to send them optional push notifications on their phones for the app. Given these changes, I don't think that we need to move invite notifications to PMs. I'm closing this issue, but feel free to comment if you disagree and I wi

[2016-06-04 01:54] #1785 closed, assigned to nobody

[2016-06-04 01:57] lemoness commented on #1774
If we're going to make it so that users can contribute gems to the Guild bank, we should discuss it as part of the Guild improvements/redesigns coming later this year. The feature has been requested on Trello, so it will definitely come up during that discussion -- I don't think we also need this ticket open. I'm going to close it now, but feel free to comment if you disagree and I can reopen it.

[2016-06-04 01:57] #1774 closed, assigned to nobody

[2016-06-04 01:58] lemoness commented on #1753
Are we still interested in this?

[2016-06-04 01:59] lemoness commented on #1728
Better Challenge participant data is definitely still needed.

[2016-06-04 02:07] #1503 closed, assigned to nobody

[2016-06-04 02:13] Alys commented on #718
https://github.com/HabitRPG/habitrpg/issues/6710 has some more recent conversation about this and it takes over from #2956 mentioned above.

[2016-06-04 02:13] #718 closed, assigned to nobody

[2016-06-04 02:16] crookedneighbor commented on #1484
I have so many thoughts about this.

1) what actions are undoable? I assume anything that affects other players (skills, boss damage after cron, transferring gems, etc) would not be.
2) can you only undo the last action? Or can you choose from a list of recent actions? Can you undo an undo?

This would also nicely tie into a recent activity stream. I'm thinking something like:

[code]

And then th

[2016-06-04 02:17] #1753 closed, assigned to nobody

[2016-06-04 02:18] crookedneighbor commented on #1753
I don't think so. It's by design that you can't change the task text.

[2016-06-04 02:18] Alys commented on #1753
People ask about it every so often. With the recent challenge API and database changes, we could make it so that participants could change the task names but the challenge owner would still see the original name when assessing the challenge.

However there'd probably be cases where the participants forgot what the original task was and actioned it in a way that wasn't suitable for fulfilling the c

[2016-06-04 02:19] crookedneighbor commented on #1753
^ Much more articulate than me, but exactly what I was thinking.

[2016-06-04 02:19] lemoness commented on #1101
I've reached out to Vicky to see if this is still relevant.

[2016-06-04 02:23] #2530 closed, assigned to nobody

[2016-06-04 02:24] Alys commented on #1703
Still an issue.

[2016-06-04 02:26] lemoness commented on #7133
Yes :)

On Tue, May 31, 2016 at 4:24 PM, Alys notifications@github.com wrote:

[2016-06-04 02:28] Alys commented on #7133
@MathWhiz Feel free to start if you still wish to!

[2016-06-04 02:33] librarianmage commented on #7133
Ok! (I already did it ;) )
On Fri, Jun 3, 2016 at 9:28 PM Alys notifications@github.com wrote:

[2016-06-04 02:34] librarianmage commented on #2044
I can do that!
On Fri, Jun 3, 2016 at 8:43 PM lemoness notifications@github.com wrote:

[2016-06-04 02:52] #7353 closed, assigned to nobody

[2016-06-04 03:45] SabreCat commented on #2098
Not super important. I've long since stopped using task-based auto-allocate, myself; it's a system that could use some overhauling if it's to be of value to more than a niche population of users.

[2016-06-04 03:45] #2098 closed, assigned to nobody

[2016-06-04 04:34] SabreCat opened #7602 "Subscription benefits code needs refactoring/future-proofing"
### Description

With #4819 closed, loyal subscribers should be getting their Mystic Hourglasses and related benefits on schedule again. However, this error resulted from the subscription award logic (https://github.com/HabitRPG/habitrpg/blob/develop/website/server/libs/api-v3/cron.js#L47-L69) being a bit unnecessarily complex and difficult to follow. We may be able to write cleaner logic that e.g

[2016-06-04 04:37] JerseyEmerald commented on #7578
Ok here's a new set, just taking.. please note, there are no error msgs on my side..

[2016-06-04 04:59] JerseyEmerald commented on #7578
Just logged and went to part page, I was down in HP along with Lazyez8 who was at 45.7 but u can't see her hp in this
![screenshot_20160604-002441](https://cloud.githubusercontent.com/assets/17463902/15797647/8763daae-29ed-11e6-9383-908659338f6a.png)
   RELOADED PAGE..just to make sure there wasn't aby one else
![screenshot_20160604-002535](https://cloud.githubusercontent.com/assets/17463902/15797

[2016-06-04 06:19] Alys commented on #7591
Out of those "no name" challenges, all but two had no tasks, description, nor gems, so I deleted them. The other two had tasks so I left them alone.

All done.

Thanks for reporting this @habitrpguser and @UnexpectedMushroom! We hadn't previously known about it.

[2016-06-04 06:19] #7591 closed, assigned to nobody

[2016-06-04 06:40] Alys commented on #5190
Is this still needed? Something to consider for the website rewrite?

[2016-06-04 06:41] Alys commented on #4746
Is this still needed? Something to consider for the website rewrite?

[2016-06-04 06:50] Alys commented on #3486
I'm closing this because our backend code has been rewritten since this was logged and the frontend code is going to be rewritten too. Both of those should make a difference to speed.

[2016-06-04 06:50] #3486 closed, assigned to nobody

[2016-06-04 06:53] Alys commented on #2634
Do we need to do anything more for this?

[2016-06-04 07:04] Alys commented on #7585
I've given you back the missing 44 gems. If you're still short of gold, Settings > Site > Fix Character Values will fix that for you. Best guess I can make is that this was some sort of error with the website not syncing correctly with the server but still acting as if it was working and storing changes in local storage, but then not syncing them to the server later. We're getting rid of local sto

[2016-06-04 07:04] #7585 closed, assigned to nobody

[2016-06-04 08:57] paglias commented on #4746
@Alys absolutely something we still want

[2016-06-04 08:57] paglias commented on #2634
Yeah, something to keep in mind for the rewrite

[2016-06-04 10:50] ghost commented on #4174
Hey @crookedneighbor , the last two days I have been finding items.  Thank you so much!  I hope @SalamandaBlue is doing ok with their boss.

[2016-06-04 11:09] #5190 closed, assigned to nobody

[2016-06-04 11:10] crookedneighbor commented on #5190
The principle will be good, but the this implementation is specific to Angular.

[2016-06-04 11:36] Maslor commented on #7601
I have 2 questions:
1 - On which branch should I change the files?
2 - Do you know what the file is that references the current glasses?

[2016-06-04 11:51] Maslor commented on #7601
I got this @lemoness

[2016-06-04 12:12] Maslor commented on #7601
I downloaded each of the files, changed their names to the current glasses names and overwrote them in the eyewear directory.

[2016-06-04 12:46] #7601 closed, assigned to nobody

[2016-06-04 12:57] #7066 closed, assigned to nobody

[2016-06-04 13:04] #3517 closed, assigned to nobody

[2016-06-04 14:04] #5728 closed, assigned to nobody

[2016-06-04 15:01] crookedneighbor commented on #6462
Just deployed a release that uses some of the changes @Sinble suggested. There's still a _bit_ of lag, but it's much better than it was before and since we're doing a rewrite of the client soon, I think I'm going to say this is good enough.

[2016-06-04 15:01] #6440 closed, assigned to nobody

[2016-06-04 15:04] crookedneighbor commented on #7587
This can be closed when mongoose@4.4.20 or higher is released.

[2016-06-04 16:28] robertpateii commented on #6462
thanks! this is a lot better. I confirm still a little lag but it's a lot more usable now.

[2016-06-04 22:39] citrusella opened #7605 "Text on not-due dailies has become dark"
General Info
- UUID: 2d6ef231-50b4-4a22-90e7-45eb97147a2c
- Browser: Firefox 46.0.1
- OS: Windows 7
### Description

Text on done and grey dailies (and done to-dos) is the same color as it is on due tasks. (My browser says that's rgb 51 51 51 (#333333).)
#### Console Errors

None.

[2016-06-04 23:00] #7605 closed, assigned to nobody

[2016-06-04 23:00] crookedneighbor commented on #7605
Whoops, this was me. Fixed. Will go out with the next deploy.

[2016-06-04 23:16] jrenee25 commented on #4819
@Alys , my subscription renewed on May 20, 2016 05:00:41 PDT (Transaction ID: 7NG63989GR750834S) and I did not get any more hourglasses and my gem cap is still stuck at 20.  Please fix this.  If I am supporting Habatica, I would like to get the subscriber perks that were promised.

[2016-06-04 23:51] Alys commented on #4819
@jrenee25 As I mentioned, all you have to do is let us know when the problem occurs and we'll always fix it. You have your hourglasses and increased gem cap now.

[2016-06-04 23:57] crookedneighbor commented on #4819
@jrenee25 we figured out the source of the bug and deployed a fix a little after your subscription would have renewed. So, hopefully, this is the last time this will happen to you.

[2016-06-05 01:03] jrenee25 commented on #4819
@Alys @crookedneighbor thank you both so much!  I'm excited to have my hourglasses and increased gem cap - time to go shopping!

[2016-06-05 05:07] UnexpectedMushroom commented on #7591
np ^^

[2016-06-05 08:49] Alys commented on #7301
@paglias Is it okay if we add an option to return all completed To-Dos at once? Or did you want it to be done so that you have to request the first 30, then the second 30, and so on?

[2016-06-05 08:52] paglias commented on #7301
@Alys go ahead! All at once is okay, just not display all of them on the
site
Il 05 giu 2016 10:49 AM, "Alys" notifications@github.com ha scritto:

[2016-06-05 09:01] Alys commented on #7549
Confirmed. When you click on the "Delete Completed" button in the "Done" tab, you don't see the normal confirmation step, and no To-Dos are deleted.

There are no errors in the javascript console.

[2016-06-05 10:07] jtgithub2016 commented on #7578
I'm using Vivaldi 1.2XXX on Windows, and having trouble getting Party status to update when issuing new quest invitations or after finishing a boss quest.  It will update if I log off, close the browser, and re-open, but doesn't seem to update short of that.

[2016-06-05 10:13] jtgithub2016 opened #7608 "Vivaldi Todo Creation/Update Issue"
General Info
- UUID: e44e6069-2e30-49cf-ab49-db41d3134045
- Browser: Vivaldi 1.2XXXX
- OS: Windows
### Description

Having trouble with creating/updating Todos in Vivaldi:
1) Sometimes (but not always) I cannot get a checklist to manifest within the Todo.  So I write a Todo, assign a name, difficulty, etc.  But if I go back later to add a checklist, it will not be visible after I save the Todo.  I

[2016-06-05 10:23] Alys commented on #7608
Vivaldi is a relatively new browser, so it might have non-standard behaviour (I use it myself and love it, and I know it's based on Chrome, but it does have differences). Are you able to use Chrome for a while to see if the same problems occur?

When you notice the checklist being invisible in the To-Do (on any browser), please take a screenshot of the To-Do in edit mode, and in normal mode. Come

[2016-06-05 10:27] jtgithub2016 commented on #7608
Ok, thanks.

On Sun, Jun 5, 2016 at 6:24 PM, Alys notifications@github.com wrote:

[2016-06-05 11:11] #7133 closed, assigned to nobody

[2016-06-05 11:18] #4174 closed, assigned to nobody

[2016-06-05 11:18] #7567 closed, assigned to crookedneighbor

[2016-06-05 12:24] #2044 closed, assigned to nobody

[2016-06-05 13:20] crookedneighbor commented on #7129
Closed with https://github.com/HabitRPG/habitrpg/pull/7570

[2016-06-05 13:20] #7129 closed, assigned to nobody

[2016-06-05 15:17] msiwek opened #7609 "Lost health (and level) upon using Burst of Flames"
Just used the Burst of Flames after being left with 2HP (my party is fighting a quest boss, others are not performing well :P ) and wanted to boost my health by leveling up, but after using Burst of Flames on a task I lost HP and got killed... It's really bummer, can you look into that? I cannot recreate it, due to obvious reasons, so maybe you can check the log.

User ID: 3963fa54-22e8-4597-b514-

[2016-06-05 18:26] SabreCat commented on #7609
Given that you were in a boss quest, could it be that a party member's check-in delivered the final 2+ damage sometime between your previous action and when you cast Burst of Flames? You would then see the damage when you BoFed, as that's when your Health next had the chance to sync with the server--it's not that the BoF caused the damage.

[2016-06-05 18:28] msiwek commented on #7609
Hmm.. I seriously doubt that given the hour (6 pm). Would be really weird
to have such time set for day end, but I'll ask friends.
On Jun 5, 2016 8:27 PM, "Sabe Jones" notifications@github.com wrote:

[2016-06-05 18:35] citrusella commented on #7609
It doesn't matter when the time was set for the day to end, if the person logged in then. (Some days, I don't log in until almost midnight! :worried: ) Your cron (the actual day rolling over for you) doesn't actually occur until the first time you log on after your day starts. That would mean someone could cause damage to the party if they logged on for the first time of the day at 6pm.

[2016-06-05 19:13] mleah opened #7610 "Pop-ups with pet names do not disappear"
#### General Info
- UUID: 2fd8e68b-4105-4bba-9378-82e4f64c858c
- Browser: Google Chrome Version 50.0.2661.102 (64-bit)
- OS: Mac OSX Yosemite
#### Description

While on the pets page, I began feeding many of my pets.  As each one grew into a mount, the pop-up with the pet name below the corresponding pet remained.  The pop-ups didn't disappear when scrolling or clicking on them.  They only disappe

[2016-06-05 19:21] citrusella commented on #7610
Probably a similar issue to #7517 , #7521 , and #5180 . (Just for reference.)

[2016-06-05 20:55] Alys commented on #7609
@msiwek You don't actually have to ask your friends - you can see when damage from the boss occurred in your party chat. On the website, go to the party page and click the "fetch recent messages" button to load the latest posts.

From looking at your party's quest progress log, there was damage done to the party about 6 or 7 hours ago, so that is likely to be what caused your health loss. I'm clos

[2016-06-05 20:55] #7609 closed, assigned to nobody

[2016-06-06 01:38] citrusella opened #7613 "Flower not appearing on any avatars"
General Info
- UUID: 2d6ef231-50b4-4a22-90e7-45eb97147a2c
- Browser: Firefox 46.0.1
- OS: Windows 7
### Description

Flower does not show up at all on avatars when equipped. (I even took all head equipment off in case it was under it for some reason.) I could test it when transformed with a shiny seed... but I kind of wanted to wait until I was a rogue to use the seed again. :-/
#### Console Error

[2016-06-06 01:51] crookedneighbor commented on #7613
Uhg. Clearing I didn't test this well enough before merging. I'll look at this and fix it.

[2016-06-06 02:29] thompsnm commented on #6429
Looks like the link in the initial comment is returning a 404, is there an updated link?

[2016-06-06 02:36] #6429 closed, assigned to nobody

[2016-06-06 02:36] crookedneighbor commented on #6429
We're going to do a total rewrite of the client code which will be fully tested, so this issue is no longer needed.

[2016-06-06 03:06] #7613 closed, assigned to nobody

[2016-06-06 03:18] testsubject1987 commented on #6462
Agreed... progress. There are still some lag and error messages, for example I click a daily and it jumps around the screen, doesn't check the one I clicked but rather another one. Refreshing the page seems to help relieve the issue.  But overall I am impressed. Please keep up the good work.

[2016-06-06 06:34] habitrpguser opened #7614 "New tag can't be moved (without manually reloading the page)"
General Info
- UUID: 1aff9116-34b0-438c-9877-06038bdce161
- Browser: several (Chrome, Firefox)
- OS: Windows (website bug, not app)
### Description

When trying to move a new tag directly after creating and saving it, I get the error message "No tag item was found with given id." Once I've reloaded the page in my browser, everything works fine again.

I've also tried creating the tag, then doing a

[2016-06-06 08:07] ghost commented on #3465
FYI @paglias @veeeeeee

This issue is once again brought up in the i18n guild by @_Racobot_ and @_eburcat_. Let me copy parts of the discussion:

I believe the issue needs a fix... one way or another =)

[2016-06-06 09:25] paglias commented on #7587
This should be fixed now, mongoose@4.4.20 was released 12 hours ago

[2016-06-06 10:04] Sardtok commented on #3465
Can the translation texts contain markup? If so, I would suggest going through translation texts and marking specific words, like Habitica, with markup setting the directional property: `Blah blah blah <bdi lang="en">Habitica</bdi>, blah blah blah.`

EDIT:
This should clearly mark the Habitica as a string that should not be translated. And should allow mixing of RTL and LTR, although it's not nece

[2016-06-06 11:10] Alys opened #7615 ""request entity too large" when editing/closing challenges"
When performing actions on popular challenges, you will sometimes see the error "**request entity too large**" and the action you tried to take will fail. This used to occur often (https://github.com/HabitRPG/habitrpg/issues/1471) but will be less common now that we're on API v3. However I want to track it, and maybe we'll find ways to mitigate it further.

I just noticed it on the challenge [Push

[2016-06-06 11:31] librarianmage commented on #7174
@lemoness I would like the separate files, please.
On Wed, May 18, 2016 at 7:12 PM lemoness notifications@github.com wrote:

[2016-06-06 12:47] paglias commented on #7615
@Alys the problem is probably that all the members data is sent to the server. It should only affect challenges as for groups we fixed the problem

[2016-06-06 14:16] LlamaHobbit commented on #7556
This is still happening for me. Everytime I access my inbox I get 6-8 messages on the side that my "private messages have been marked as read". Even when there was only one message to read. Even when there were no unread messages and I merely navigated there to reply to someone or re-read a message for info. And they all pop-up again when I navigate away to a guild, to my tasks, or to my party. If

[2016-06-06 15:31] SabreCat commented on #7610
Definitely the same category of trouble, if not an exact duplicate. This is not something we'll likely tackle until rewriting the Web frontend in a new framework later this year, but if a contributor submits a good solution, we're happy to have it!

[2016-06-06 15:33] PendragnJenna opened #7616 "Party Page Requires Manual Reloading Since Maintenance"
General Info
- UUID: e77d6c97-8850-4f31-bd46-c412243d6035
- Browser: Chrome
- OS: Mac OS X 10.11.5
### Description

Since big maintenance weekend, the Party page doesn't show new quest invitations, update party member HP, or show new messages unless you both "Fetch New Messages" and manually reload the page in the browser. The new message notification icon also continues to display even after havi

[2016-06-06 17:42] paglias opened #7617 "Improve user notifications system"
#7588 introduced user notifications stored in `user.notifications` in order to be able to remove `localStorage`. We only implemented the notifications that previously relies on the presence of `localStorage`. In future we'd like greatly to expand the use of these notifications.

Some ideas / things to discuss:
- [ ] move drops to notifications from user._tmp
- [ ] introduce additional properties t

[2016-06-06 17:43] #7342 closed, assigned to nobody

[2016-06-06 17:46] crookedneighbor commented on #7617
What happens when a 3rd party scores a task and a drop gets added to the queue? Would that mean that the next time I use the website, I'd be inundated with drop notifications? Or would this be part of the ephemeral notifications type?

[2016-06-06 17:51] paglias commented on #7617
We could batch them... so if you happen to login and have 10 drops, you'd only get 1 notification

[2016-06-06 18:45] ghost opened #7618 "Need notification when party invite rescinded"
When a party invitation is sent, a user with that option enabled gets an email. If the user is removed from the party, there's an email for that as well. There is, however, no email sent for if the invitation is rescinded before you join -- making it possible to get an email and sign in to accept, but find nothing.

This email should probably not be exactly the same as the removed from party email

[2016-06-06 20:33] Alys commented on #7618
I think this is good idea.

@lemoness If you'd like this, would you like to provide words for the email?

[2016-06-06 21:03] sporeball commented on #7197
Is this still a problem even though it's been more than three weeks since this issue has been opened?

[2016-06-06 21:15] Alys commented on #7197
Yes. It's a low priority bug so we haven't rushed to fix it. If you're wanting to know whether you can work on it, then you would certainly be welcome to!

[2016-06-06 23:54] sporeball commented on #7197
@Alys Sorry for not 100% following the guidelines on Wikia, but here's the fix.

User ID: ce3d1e2b-be53-4e5e-8101-273157548178

[2016-06-07 11:13] cTheDragons commented on #7540
Also another point I noticed the @ symbol is missing front of the users' name.

So it is currently:
ThisPerson has sent you X gems.

As opposed to
'@ThisPerson has sent you X gems'

[2016-06-07 12:27] Melissarie commented on #7578
I'm having a similar issue! Although it also hasn't been letting me see more than a select handful of party members, and the party chat almost never updates so I at this point have no clue what's going on in the party anymore. I know I'm apart of a large party but has been seriously bogged down since maintenance. @Alys
Oh and I can't see all the party members at the top anymore either :/ Just a se

[2016-06-07 12:36] JerseyEmerald commented on #7616
Refer to #7578

[2016-06-07 12:44] JerseyEmerald commented on #7578
Also, I have the same problem that's reference  in   #7393

[2016-06-07 13:09] crookedneighbor commented on #7578
I'm working on this now.

[2016-06-07 13:37] citrusella opened #7620 "Automatic allocation (task-based, etc) continues working for first ten levels after Orb or Rebirth or Reset"
General Info
- UUID: 2d6ef231-50b4-4a22-90e7-45eb97147a2c
- Browser: Firefox 46.0.1
- OS: Windows 7
### Description

I rebirthed with task-based allocation on but intended to turn it off before level 10 when I should have gotten my first batch of attribute points. Then I remembered/found out I couldn't because that section of the stats page is inaccessible before 10. So I waited for level 10, and

[2016-06-07 15:20] ghost commented on #3465
Hey, I'm one of the new members in the Hebrew translation team.

I just wanted to hop in and say that adding `dir="rtl"` as an HTML body tag seems to fix any of the alignment issues. The only drawback is that doing so slightly messes with the site's design, and that it also re-aligns chats, which isn't what we want. I don't know how to fix the design problems this causes, but applying a `dir="ltr"

[2016-06-07 17:05] BeanieB commented on #6462
This has been an issue for a loonngg time for me, and this is a HUGE step forward. Thank you so much!

[2016-06-07 21:28] lemoness commented on #2433
If we aren't interested in fixing this right now because it's an expensive operation, should we remove the "help welcome now" tag or maybe close the issue unless we're hoping for a more feasible fix that someone can propose?

[2016-06-07 21:29] lemoness commented on #2463
Can this be closed now that we use the loading page?

[2016-06-07 21:30] lemoness commented on #2466
Should we close this ticket since we are planning on changing the way chat works in the future?

[2016-06-07 21:31] #2463 closed, assigned to nobody

[2016-06-07 21:32] paglias commented on #7571
Reopen if it happens again

[2016-06-07 21:32] #7571 closed, assigned to nobody

[2016-06-07 21:32] lemoness commented on #2470
I agree that the behavior should be that only valid targets are highlighted, not anything else. Shall we add the "Help welcome now" tag?

[2016-06-07 21:33] paglias commented on #2470
@lemoness go ahead!
Il 07 giu 2016 11:33 PM, "lemoness" notifications@github.com ha scritto:

[2016-06-07 21:42] lemoness commented on #2479
Since this issue was opened and last commented on, we have released a new feature, the Enchanted Armoire, which allows you to get food drops. Furthermore, because it is based on gold, selling excess eggs and potions means that you can click on the Armoire more frequently. Additionally, we also give out multiple times a year food as part of Seasonal events, although this has a lesser impact.

Two f

[2016-06-07 21:42] #2479 closed, assigned to nobody

[2016-06-07 22:21] Alys commented on #7620
In my opinion, the ideal behaviour would be that after a rebirth, the points for the first 10 levels shouldn't be allocated at all, and I think it should be the same for a new player before they reach level 10 (I'm not sure what the current situation is with that there and I haven't had time to test yet).

If no one objects to that idea in a few days, I'll mark this as help welcome.

@citrusella I

[2016-06-07 23:06] citrusella commented on #7620
A new player shouldn't currently be able to select an allocation method, so if my previous three times through are any indication, they'll just get the 10 points, unallocated (unless something _else_ is messed up).

And thank you for the points! Everything seems to be working now (I even checked off some tasks I'd just done and leveled and assigned an eleventh point XP).

[2016-06-08 02:35] #7197 closed, assigned to nobody

[2016-06-08 02:43] #7578 closed, assigned to nobody

[2016-06-08 02:43] #7616 closed, assigned to nobody

[2016-06-08 02:43] #7356 closed, assigned to nobody

[2016-06-08 02:43] #7397 closed, assigned to nobody

[2016-06-08 02:43] #7453 closed, assigned to nobody

[2016-06-08 03:22] #7535 closed, assigned to nobody

[2016-06-08 10:16] Alys opened #7623 "Orb of Rebirth and Reset do not clear buffs"
When you use an Orb of Rebirth or Reset, the buffs to your Constitution, Intelligence, Perception, and Strength are not set to zero. I believe they should be because a level 1 player with large buffs has a very different experience than a player with no buffs.

In addition, players occasionally try to use Reset to get rid of extremely high buffs (and hence levels) given by over-enthusiastic party

[2016-06-08 10:41] Alys commented on #7620
tl;dr the only change needed for this issue is that **both the Orb of Rebirth and Reset** should set `preferences.automaticAllocation` to be `false` regardless of what its previous value was (this is in addition to all the other changes Rebirth and Reset already make, of course).

I did some testing with a new account, following through various settings changes, and below is the current behaviour,

[2016-06-08 14:56] SabreCat commented on #7623
Seems uncontroversial to me. Reset and Rebirth are supposed to be slate-cleaners; this was an oversight, not anything desirable.

[2016-06-08 15:47] shervinmathieu commented on #7413
It seems not persisting selected tags was an intended change? That is what is written in the code's comments:

Should I still look into this despite that?

Also a very recent commit has removed all usage of localstorage to persist user info https://github.com/HabitRPG/habitrpg/commit/f7be7205e7a7a9e2eb0a9e44f65a8173f16e148e
so "fixing" this would require to revert those changes.

[2016-06-08 16:11] jcmoore65 commented on #7413
Oh please don't let this be the new normal. It comes up in other situations where it doesn't make sense. For instance, if you are a Rogue and cast a spell (Tools of Trade, I believe) it removes the selected tag.

[2016-06-08 16:16] SabreCat commented on #7413
Tags deselecting mid-session is not intended, no. That comment refers to tags staying selected _across_ sessions--logging into Habitica for the first time in a day and not seeing your entire task list tended to be disorienting.

[2016-06-08 16:17] paglias commented on #7413
@velezsarain to fix this it should be enough to comment these 3 lines https://github.com/HabitRPG/habitrpg/blob/develop/website/server/models/user/schema.js#L111-L113

[2016-06-08 16:18] paglias commented on #7413
actually, the best thing is to also `plainObj.filters = undefined` here https://github.com/HabitRPG/habitrpg/blob/develop/website/server/models/user/hooks.js#L15

[2016-06-08 16:35] Gooseus opened #7625 "HUGE unexplained experience (XP) gain, damage to boss, jump in levels"
### General Info
- UUID: 81060e72-f214-4894-aed5-d8849da9372e
- Browser: Chrome (can get version later if relevant)
- OS: Windows 10
### Description

Wish I'd gotten a screenshot, but last night I cast Burst of Flames on a task and got conflicting alerts. One said "Burst of Flames cannot be cast on Challenges" and the other gave me something like 1044xp and I jumped an entire level immediately.  A

[2016-06-08 18:33] ghost opened #7626 "Cannot set property 'new Messages' of undefined when visit inbox"
General Info
- UUID:
- Browser: Opera
- OS: Android
### Description

I got email about new message, followed the link and got the blue notification message: Cannot set property 'new Messages' of undefined.
#### Console Errors

[2016-06-08 21:29] librarianmage commented on #7625
Was the task you cast the spell on from a challenge?

[2016-06-08 21:32] librarianmage commented on #7620
I can do this!

[2016-06-08 21:41] librarianmage commented on #7620
@Alys Question: What is the difference between `reset` and `reroll`?

[2016-06-08 21:44] Gooseus commented on #7625
Yep, I was unaware that it wasn't allowed and wasn't even really thinking about it... just trying to rack up some max DPD spamming BoF.

Specifically, it was the the Write 5,000 Words to do from the 15K Words Challenge that I cast on, I believe.  Not sure if that matters.

[2016-06-08 21:46] librarianmage commented on #7620
@Alys Never mind. They are completely different

[2016-06-08 21:49] librarianmage commented on #7625
Were you clicking really quickly? I don't know if that would be of any significance, but sometimes spamming creates desync issues, which could of caused your problem.

[2016-06-08 21:58] Gooseus commented on #7625
I suppose I'd describe it as quickly in human speed.

I scrolled, clicked BoF, then clicked the task... that feels like an eternity in computer speed, though it could be relevant if it was a bug related to round trip communication from previous BoF sent with latency?

[2016-06-08 22:02] eburcat commented on #5760
@lemoness Sorry to bring it up again just now. While in other languages using Habitica may be a minor issue - in RTL languages, unfortunately - it's a major translation issue, as it might be evident here: https://github.com/HabitRPG/habitrpg/issues/3465 . leaving Habitica as an English text in the Hebrew translation - completely messes up a lot of the texts (same happens to user names in the quest

[2016-06-08 22:05] Alys commented on #5760
@eburcat   This could be a completely ignorant question, and if so, I am sorry, but is the problem that the letters in "Habitica" untranslated read left-to-right while all the other words read right-to-left? If so, would "translating" it as "acitibaH" help?

@veeeeeee If that did help, would it be acceptable from a trademark point of view?

[2016-06-08 22:11] eburcat commented on #5760
@Alys unfortunately this won't help... Mixing a single non-rtl letter in an RTL text can mess up the alignment if the html element is not marked as containing a right-to-left text. And since Habitica is made up of TONS of different HTML elements - finding the right places to add the HTML notation for RTL languages is a complicated task.

[2016-06-08 22:24] crookedneighbor commented on #7625
I see in your party, you just completed the second part of the moonstone quest series, which includes a reward of 1000xp. Most likely, the quest ended, but you hadn't synced yet. When you cast the skill, it failed, but also synced your user, resulting in the large amount of xp.

[2016-06-09 01:31] mike-s-6 opened #7628 "Toggl Button no longer appears on tasks"
General Info
- UUID: 024f7c53-a21c-48b8-a813-1d7d0dd2642e
- Browser: Chrome 51.0.2704.79
- OS: Windows 7
### Description

The Toggl button extension no longer appears on the tasks, as described in  http://habitica.wikia.com/wiki/Toggl

This is how it appears for me:
![sampletask](https://cloud.githubusercontent.com/assets/19829115/15916256/4e365740-2e23-11e6-93bb-0465c8b4f3c6.jpg)

I have tried up

[2016-06-09 01:44] crookedneighbor commented on #7628
Our own @SabreCat opened a PR on the extension to fix this. Should go out in the next release.

See https://github.com/toggl/toggl-button/issues/570

[2016-06-09 01:44] #7628 closed, assigned to nobody

[2016-06-09 02:24] Gooseus commented on #7625
@crookedneighbor That definitely would make sense, but that's not the last quest we did...  The last quest we did was Vice Part 2 specifically to unlock the current quest, which is Vice Part 3.  Before Vice2 I'm pretty sure we did either Dilatory 3 or Trapper Santa.  Nobody in my group has Moonstone unlocked yet, I'm highest level at 46.

We actually specifically were driving toward Vice3 because

[2016-06-09 02:26] librarianmage commented on #7625
@Gooseus Vice Part 2 is the second quest in the Moonstone Quest chain, if that changes anything

[2016-06-09 02:37] Gooseus commented on #7625
I'm definitely confused... I was under the impression Vice and Moonstone were completely different quest series?

![image](https://cloud.githubusercontent.com/assets/39137/15917262/0c12ad8c-2dc9-11e6-8f49-459ee3b448cb.png)

![image](https://cloud.githubusercontent.com/assets/39137/15917269/1d88d474-2dc9-11e6-8168-23600e20fcbf.png)

Did this change or am I missing something?  That screen also shows

[2016-06-09 02:40] librarianmage commented on #7625
Oh, nvm
On Wed, Jun 8, 2016 at 9:37 PM Shawn Marincas notifications@github.com
wrote:

[2016-06-09 03:08] crookedneighbor commented on #7625
Sorry, you're right, I wasn't looking closely enough. I saw light crystals and mistakenly thought it was the moon stone quest.

[2016-06-09 03:09] crookedneighbor commented on #7625
You can't be in two parties at once because parties are determined by a single value on the user object.

[2016-06-09 03:10] crookedneighbor commented on #7623
Do it.

[2016-06-09 04:54] hmacphail commented on #7599
Hello, trying to replicate this to see if I can fix it, but I'm a bit confused.

Is there a certain way to order your challenge tasks or is this just referring to "the order in which the tasks are displayed"? Also, I found the tasks to all add in the correct order, but maybe I'm missing a step. In my test, the challenge creator had all the tasks in reverse order (is this the bug?), while for norma

[2016-06-09 05:12] hmacphail commented on #7599
Just noticed as well, I cannot rearrange the order of the challenge tasks on the challenge creation/edit pages. When I click to drag or click the push to top arrow, nothing happens. Tested on both chrome and firefox.

[2016-06-09 05:17] hmacphail commented on #7320
I can take a look into fixing this. Just so I'm clear, should the changes to the challenge tasks be reflected in the users' copies of those tasks or not?

[2016-06-09 05:26] Alys commented on #7599
The order in which tasks are displayed on the challenge's page is the order in which they should be displayed in your own task lists after you've joined the challenge. (Although you are permitted to reorder them in your own lists after you've joined.)

There is a different bug that prevents a challenge creator from sorting their tasks, but that's not related to this. https://github.com/HabitRPG/ha

[2016-06-09 05:26] Alys commented on #7599
A fix for this issue can assume that the creator has put the tasks in the correct order, and should mimic that order when giving the tasks to the participants.

[2016-06-09 05:27] Alys commented on #7320
Yes, changes to a challenge's tasks should be replicated to the tasks of all participants. New tasks added to the challenge should be given to all current participants.

[2016-06-09 10:44] JerseyEmerald commented on #7393
I'm still having this problem with party notifications not clearing in the browser as well.

[2016-06-09 13:42] keysmashes commented on #7623
On rebirth, `user.stats.buffs` is already set to an empty object (`{}`), in two places ([line 50](https://github.com/HabitRPG/habitrpg/blob/develop/common/script/ops/rebirth.js#L50) and [line 98](https://github.com/HabitRPG/habitrpg/blob/develop/common/script/ops/rebirth.js#L98)). Does it need to be prefilled with all attributes set to 0 instead? If so, I'm happy to fix this.

[2016-06-09 15:06] SabreCat commented on #7620
For the curiosity of others who might be following: `reroll` is a legacy name for the Fortify Potion. We could potentially change it in the code for clarity, but it'd be a breaking change for minimal benefit.

[2016-06-09 16:10] ghost opened #7629 "Possible inconsistency with naming quest lines: Moonstone chain, Golden Knight chain"
An issue raised on Transifex and in the i18n guild

 -> about `questMoonstone1Text`

 -> about `questGoldenknight1DropGoldenknight2Quest` _The Golden Knight Chain Part 2: Gold Knight (Scroll)_ and `questGoldenknight2DropGoldenknight3Quest` _The Golden Knight Chain Part 3: The Iron Knight (Scroll)_

While I think it's OK to have a quest name repeated in the name of the quest line (The Moonstone Cha

[2016-06-09 16:46] tjittedevries opened #7630 "Cannot boot user from party"
General Info
- UUID: c6662b6c-8958-402a-a9e9-36dbdd2e8cdb
- Browser: 51.0.2704.84 m
- OS: Windows 10
### Description
- I invited someone to my party, this user says the invite was never delivered. So we agreed to re-invite them.
- I'm booting this user from the party, I click the button, the user disappeared from the list. Now I reload Habitica, or I switch to some screen and then back to the Part

[2016-06-09 19:25] SabreCat opened #7633 "Disallow @habitica.com email addresses for new accounts"
### Description

It's possible when signing up for a Habitica account to specify a habitica.com email address. That causes all notification emails meant for the new user to arrive in the administrative inbox.

Pending a more thorough email verification workflow, we should at least disallow @habitica.com email addresses when validating the field, so people are clear that they should specify an emai

[2016-06-09 22:32] Alys opened #7634 "no clear "login" option on the home page"
The home page contains a "Play Habitica" button and a "Join for free" button but no obvious button for logging in after joining.

Every so often, we see users who've come from the apps (often via email links) being confused about how to get into the website. They don't realise they can use the play/join buttons to log in.

@lemoness how would you prefer this be handled? Adding a new button? Renami

[2016-06-10 01:57] lemoness opened #7635 "Minor Icon Fixes"
A few of the icons for helms incorrectly had outlines, but Balduranne has fixed them. They'll need to be added to the game :)

![icon-rmw-helmet-2](https://cloud.githubusercontent.com/assets/3494081/15952223/e50165f2-2e73-11e6-8d11-f2bc0013a2c4.png)
![icon-miner-helmet-3](https://cloud.githubusercontent.com/assets/3494081/15952222/e5013212-2e73-11e6-896b-bdf5c04c4bb7.png)
![icon-archer1-hat-3](htt

[2016-06-10 02:39] lemoness opened #7636 "Add "Equipment Type" to Equipment Sorting"
To match the mobile apps, there should be an "Equipment Type" sorting option based on the body location of the item (helm, armor, etc).

[2016-06-10 02:47] eshapard opened #7637 "v3 API Documentation"
I think the documentation for the v3 API has a typo.

The url for reqesting a single task seems to be:

[code]

At least, that's what's working for me; not

[code]

as described at: https://habitica.com/apidoc/#api-Task-GetTask

[2016-06-10 02:52] lemoness commented on #7174
![challenges sample screen](https://cloud.githubusercontent.com/assets/3494081/15953049/30393d0e-2e7b-11e6-918d-e73308b096d6.png)
![guilds sample screen](https://cloud.githubusercontent.com/assets/3494081/15953050/3046ff34-2e7b-11e6-9269-3fc6bdba99cd.png)
![market sample screen](https://cloud.githubusercontent.com/assets/3494081/15953058/58097632-2e7b-11e6-895a-b91d97f59e11.png)
![equipment sample

[2016-06-10 02:54] librarianmage commented on #7174
@lemoness Thanks! I will replace the images and see if they will work better
On Thu, Jun 9, 2016 at 9:52 PM lemoness notifications@github.com wrote:

[2016-06-10 02:56] crookedneighbor commented on #7637
Good catch. Want to make a PR?

[2016-06-10 03:04] eshapard commented on #7637
I would, but I don't really know how PRs work... not that savvy with github.

[2016-06-10 03:07] crookedneighbor commented on #7637
You sure? I can point you to the line that needs changing: https://github.com/HabitRPG/habitrpg/blob/develop/website/server/controllers/api-v3/tasks.js#L231

[2016-06-10 03:36] Moocie commented on #7615
**Breathe Real Air (Air-Pollution prevention challenge)**
Hello! I wanted to add two tasks to help prepare for cyclones and prevent heat strokes, but it says request entry too large. There are only 49 people using the challenge. Tavern challenge and an old one. https://habitica.com/#/options/groups/challenges/d3ba70c1-12c5-42b0-bb1a-99f4402d8ba3
I was able to edit out a word and save, but was unab

[2016-06-10 04:17] librarianmage commented on #7174
Actually, the original images look better

On Thu, Jun 9, 2016 at 9:53 PM Ray Arndorfer raymond.arndorfer@gmail.com
wrote:

[2016-06-10 04:21] eshapard commented on #7637
Thanks, I updated that code and created my first pull request.

Looks like that line was commented out, though. Is there some other program
that generates the documentation based on those comments?

On Thu, Jun 9, 2016 at 8:07 PM, Blade Barringer notifications@github.com
wrote:

[2016-06-10 10:42] #7481 closed, assigned to nobody

[2016-06-10 10:44] paglias commented on #7623
Hmm strange... it could be due to that mongoose bug that was solved in the last version. Can someone check if it's still happening?

[2016-06-10 10:44] paglias commented on #7623
I'll check it, be sure to run `npm update` before trying

[2016-06-10 12:50] crookedneighbor commented on #7637
We use http://apidocjs.com/ to generate the docs.

[2016-06-10 12:51] #7637 closed, assigned to nobody

[2016-06-10 12:54] kdemerath opened #7640 "Can not add new Webhook (the "enabled" parameter should be a boolean)"
General Info
- UUID: 0b697098-44b7-47bb-9844-4a5129f0947b
- Browser: Chrome 51.0.2704.84 m
- OS: Windows 10
### Description

When trying to add a new Webhook under https://habitica.com/#/options/settings/api by adding a valid URL and pressing "add" button the following message appears: the "enabled" parameter should be a boolean
#### Console Errors

[2016-06-10 12:55] crookedneighbor commented on #7640
This has just been fixed and will go live this week.

See https://github.com/HabitRPG/habitrpg/pull/7622

[2016-06-10 12:55] #7640 closed, assigned to nobody

[2016-06-10 13:12] Lelldorian opened #7641 "Validator failed for path `auth.local.email` with value `[my_username]`"
General Info
- UUID: a8cf8b58-929d-433a-8fce-2c0ab066722a
  ![habitica_error](https://cloud.githubusercontent.com/assets/19857488/15965373/bbd5621e-2f1d-11e6-8f97-66471aefbfb8.jpg)
- Browser: Firefox 46.0.1, Chrome 51.0, Habitica AndroidAPP
- OS: Windows7
### Description

When I load habitica.com web, I receive this message: Validator failed for path `auth.local.email` with value `[my_username]`

[2016-06-10 13:26] Alys commented on #7641
That has happened because when you created your Habitica account, you didn't enter an email address but instead you put just the name "lelldorian" in the email field (or you might have registered with an email address but then later changed it to your name). We've recently implemented stricter checking for email addresses, which is why you're seeing that warning message now.

I've fixed the immedi

[2016-06-10 13:26] #7641 closed, assigned to nobody

[2016-06-10 13:26] Alys commented on #7641
That has happened because when you created your Habitica account, you didn't enter an email address but instead you put just the name "lelldorian" in the email field (or you might have registered with an email address but then later changed it to your name). We've recently implemented stricter checking for email addresses, which is why you're seeing that warning message now.

I've fixed the immedi

[2016-06-10 13:26] Alys commented on #7641
That has happened because when you created your Habitica account, you didn't enter an email address but instead you put just the name "lelldorian" in the email field (or you might have registered with an email address but then later changed it to your name). We've recently implemented stricter checking for email addresses, which is why you're seeing that warning message now.

I've fixed the immedi

[2016-06-10 13:52] paglias commented on #7623
Confirmed

[2016-06-10 13:56] paglias commented on #7623
Opened an issue in the mongoose repo https://github.com/Automattic/mongoose/issues/4218

[2016-06-10 14:06] paglias opened #7643 "Translate Mongoose validation messages"
Pass the string key as the error message and then in the error handler middleware substitute it with the translated string since we have access to `req.language`

[2016-06-10 15:06] viktoradavid opened #7644 "Undoing daily task doesn't remove received item from user's inventory"
UUID: bb7bc7ae-d12c-4275-b054-fa14902b224d
Browser: Chrome Version 46.0.2490.80 (64-bit)
OS: Linux 3.13.0-24-generic

After finishing a daily task, user can receive XP, money and items. After **undoing** the daily task, received XP and money are taken from the user, but received item remains in user's inventory. Finishing the task again grants the user the same item again. This allows farming infi

[2016-06-10 15:20] Sardtok commented on #3465
bdi is a tag for isolating text with a possibly different directionality in bidirectional text. https://developer.mozilla.org/en/docs/Web/HTML/Element/bdi

To work properly, it might require directionality set in CSS, though. There's also the bdo tag which allows forcing directionality, but I think the dir="rtl" already forces the directionality if there are no overrides anywhere.

[2016-06-10 16:05] paglias commented on #7644
@Fanarim there's a limit to the number of drops you can get daily. Also there are other ways to cheat like creating many tasks. Cheating is possible and there's no way we can prevent it from happening given the way Habitica works  but in the end if you cheat it'll only affect yourself.

[2016-06-10 16:05] #7644 closed, assigned to nobody

[2016-06-10 23:45] Alys commented on #7608
@jtgithub2016 I'm closing this now, but if you still need help, please post again here and give us whatever answers you can from my questions.

[2016-06-10 23:45] #7608 closed, assigned to nobody

[2016-06-10 23:52] Alys commented on #7482
@thebat137 I've checked in a database backup from just before the maintenance and you had only one quest achievement for each of the Moonstone quests, so since you have three now for Moonstone 1, it looks like you did get the quest rewards and achievements twice. I've removed one of the achievements (you now have two for all Moonstone quests), but I haven't removed anything else.

If you want extr

[2016-06-11 00:18] lemoness commented on #7629
So, any references to chains in the Golden Knight quest line titles are a mistake. The Moonstone Chain literally refers to the line "Without a chain of moonstones, nothing can harm me" and is not meant to be a different name for a quest line.

As for the repetition, let's change the name of that quest line to Recidivate, and the second quest to Recidivate Pt. 2: The Necromancer. That should remove

[2016-06-11 00:50] lemoness commented on #1101
She says: One critical question to ask right now is what license everything else we're using (other libraries etc) is on. If there's code that's still licensed through GPL 2.0 that hasn't been upgraded (and doesn't look like it will be) then changing over to AGPL is right out.

[2016-06-11 01:11] lemoness commented on #7618
Yes, this makes sense. Perhaps it should have the same subject line so that it could thread?

As for the body of the email, let's do:

"Your Party invitation has been rescinded by the party leader, so your invitation link will no longer work. To find a different Party, try posting in the [Party Wanted Guild](link). Good luck!"

[2016-06-11 01:13] lemoness commented on #1101
Unfortunately, it looks like based on our dependencies, this will not be possible.

[2016-06-11 01:13] #1101 closed, assigned to nobody

[2016-06-11 01:34] Alys commented on #7618
To the Blacksmith who works on this: you won't be able to test sending the email from your local install. We'll test it after you've submitted a PR.

Note Lemoness's comment about the subject being the same as for the invitation email - that's a good point.

[2016-06-11 01:49] Alys commented on #7630
I've found the two player who have invitations to your party. The invitations look correctly formatted so I'm not sure why they aren't appearing. Please ask them to log out of the Habitica website, then log back in, and click on the notification icon in the menu bar. If they still can't see the invitation notification there, they should take a screenshot of the notification icon with all the notif

[2016-06-11 01:51] Alys commented on #7630
Ah, one of them (MadMouze) is actually already in a party. They'd need to leave that party before they could accept your invitation, and in fact I'm not sure that it should have been possible to invite them. The other one is not in a party.

[2016-06-11 02:01] Alys commented on #6815
@wisteriacs Now that we've changed Habitica's API and database structure, purging task history will be much easier and I can do it quickly. However the site might have also started performing better for you - is it working in Safari now? Do you still want me to delete the history entries in all your Habits and Dailies? I'm not sure how much it will help but I'm happy to try.

Note though that we'r

[2016-06-11 07:42] Alys opened #7645 "tasks become unsorted - task list sort order is not preserved (tasksOrder errors)"
**Sometimes when you sort your To-Dos, some or all of them will become unsorted, either immediately after you have sorted them, or later when you add new To-Dos.**

**The workaround is to post to the [Report a Bug guild](https://habitica.com/#/options/groups/guilds/a29da26b-37de-4a71-b0c6-48e72a900dac) to say that your To-Do sort order is not being saved. An admin will then cleanse some data in yo

[2016-06-11 09:25] shervinmathieu commented on #7620
If this is not fixed yet I want to pick it up, as well as #7542

[2016-06-11 09:44] Alys commented on #7620
@velezsarain MathWhiz has a PR for this already, but the other issue isn't being worked on as far as we know. Comment on that one to say you're doing it (no need to ask there; you're welcome to start now).

[2016-06-11 09:48] shervinmathieu commented on #7620
Oh wow I can't believe I missed the pull request. I must be blind -_-

[2016-06-11 11:29] Alys commented on #7645
I got bored and stopped the search, but I was getting a pretty consistent r To-Do IDs that appear in `user.tasksOrder.todos`

[2016-06-11 11:29] Alys commented on #7645
I got bored and stopped the search, but I was getting a pretty consistent r To-Do IDs that appear in `user.tasksOrder.todos`

[2016-06-11 11:34] Alys commented on #7645
I got bored and stopped the search, but I was getting a pretty consistent result: Out of the To-Dos IDs appearing in the user's `tasksOrder.todos` array, about 2 to 3 % are actually for completed To-Dos, so we need to clean up those arrays. We could either do a stand-alone migration script that we run now, and then re-run it in future, however often seems necessary, or build something automatic th

[2016-06-11 11:53] Alys commented on #7587
This is still happening on the habitica.com site and staging site, with the error notifications appear just as in the screenshot above and this in the console:

POST https://habitica.com/api/v3/tasks/unlink-all/ae7118bf-760d-411f-979c-1d417164d2b1?keep=keep-all&userV=3799 400 (Bad Request)

[2016-06-11 13:05] crookedneighbor commented on #7645
Should be trivial to purge them at cron.

[2016-06-11 13:24] Alys commented on #7431
As well as the "Tavern" entry in the guilds list, which points to the Tavern's https://habitica.com/#/options/groups/guilds/00000000-0000-4000-A000-000000000000 URL, there's also a "HabitRPG" entry, which point's to the Tavern's https://habitica.com/#/options/groups/guilds/habitrpg URL. Neither should appear in the guilds list.

[2016-06-11 13:26] thebadwolfgirl opened #7646 "Habitica Page Just Keeps Loading?"
General Info
- UUID:
- Browser: Chrome
- OS: Windows 10
### Description

For a few days now, Habitica won't open properly on my laptop. It will just keep loading? It works just fine on my Kindle Fire, but if I try to open it on my laptop, all it does it give me this loading screen:

![image](https://cloud.githubusercontent.com/assets/17323884/15985280/34583b56-2fb6-11e6-9984-2f2dca8e8184.png)

I w

[2016-06-11 13:36] Alys commented on #7646
Go to http://habitica.com/static/clear-browser-data and click the button you'll see there, then clear your browser's cookies for the "habitica.com" domain. After that, you should be able to log in.

This works in nearly every case that we've seen of this problem, so I'm going to close this issue now, but if it doesn't work for you, do please comment here and we'll reopen it as soon as we see your

[2016-06-11 13:36] #7646 closed, assigned to nobody

[2016-06-11 14:02] Hus274 commented on #7635
I can take this up.

[2016-06-11 14:05] Hus274 commented on #7635
It looks the following also have this outline:
shop_head_special_spring2016mage.png
shop_head_armoire_dragonTamerHelm.png

[2016-06-11 14:47] Hus274 commented on #7636
I can give this a shot

[2016-06-11 15:48] librarianmage commented on #7633
I can try this! Should it be server-side, client-side, or both?

[2016-06-11 16:06] crookedneighbor commented on #7633
Server side for sure. We can add client side later if needed.

[2016-06-11 16:29] thebadwolfgirl commented on #7646
Oh my goodness thanks! =D

[2016-06-11 17:45] paglias commented on #6815
@Alys FYI localstorage has already been removed

[2016-06-11 17:57] #7413 closed, assigned to nobody

[2016-06-11 18:12] paglias commented on #7646
We should add a link to that page if loading takes more than x seconds

[2016-06-11 18:13] paglias opened #7648 "Add Link to Clear Browser Data page if loading screen is visible for more than X seconds"

[2016-06-11 19:19] thebadwolfgirl commented on #7646
Ya I totally agree!

[2016-06-11 20:34] thebat137 commented on #7482
@Alys, thanks for your help. Please do delete the extra scroll for Moonstone Part 2 as well --- I'd rather not use it, to keep my achievements "even".

[2016-06-11 21:06] #7635 closed, assigned to nobody

[2016-06-11 21:18] thebat137 commented on #7393
The version of the problem I'm presently seeing is that if I go to the party page (by any means, including reloading the page when I'm already on it), the new notifications seem to load automatically, but the "new message" indicator only gets cleared if I click the "fetch messages" button.  This generally doesn't find any further notifications beyond the ones I just loaded, but it clears the flag.

[2016-06-11 21:23] ghost opened #7650 "FAQ points not expanding on Opera mobile"
General Info
- UUID:
- Browser:
- OS:
### Description
#### Console Errors

[2016-06-11 21:35] tjittedevries commented on #7630
Ok, so one user has now joined the party using the story you've written. So the reason for this ticket has been solved, booting members hasn't though.
Is there a way to boot MadMouze from the party, as he is in another already?

[2016-06-11 22:16] Hus274 commented on #4840
So I was trying to look into this today and I had a couple questions.
1.  From the wiki: http://habitica.wikia.com/wiki/FAQ#How_do_I_cancel_my_subscription.3F if you follow the link, there's no button to cancel a subscription. Is this becasue I'm not subscribed? If so, is there a way to "purchase" a subscription on my local instance to test this?
2. I see that there's a script ( cancelSubscription

[2016-06-11 22:27] Alys opened #7652 "can't log in after manually clearing all local storage data; clear-browser-data button does not work"
General Info
- UUID: d904bd62-da08-416b-a816-ba797c9ee265
- Browser: Chrome Version 51.0.2704.79 (also Vivaldi, a Chrome-like browser)
- OS: Ubuntu 16.04
### Description
1. I manually deleted all local storage data for habitica.com.
2. Go to https://habitica.com/
3. After a moment, the URL changes to https://habitica.com/#/tasks (as expected) and the following items appear in local storage:
   ![s

[2016-06-11 22:33] Alys commented on #7652
Step 7 is misleading, sorry. It should read:

When I click the red "Clear Local Storage" button, the button itself responds to show that I've clicked on it, with that little kind of jiggle it does, but nothing else happens. No other messages appear in the console.

I'm about to edit the original post.

[2016-06-11 22:44] Alys commented on #7652
There's several reports in the Tavern/Newbies guild/Bug guild today of similar problems and at least one a day or two ago that was probably the same thing. A couple of people have reported that reloading the site or opening it in a new tab will fix the problem.

[2016-06-12 00:32] wisteriacs commented on #6815
Thanks for checking with me! I tried right after the migration and it worked for a few days and then stopped. I just deleted my website data and it appears to be working again!

If local storage is only recently deleted, we can give it a few days and see if it holds up. It seemed like local storage was a very likely culprit. I'll be in touch if it's acting up again.

[2016-06-12 00:42] Alys opened #7653 "a player can incorrectly remain in a quest in a party that they have left"
greeniezona (bf3cdf52-0b87-448a-81dd-459d74323230) reported in the Report a Bug guild:

"I keep randomly losing HP for no reason. I completed all dailies, there was no damage from my party. My suspicion is this damage is from a quest in my old party, a quest and party that I left over a week ago. It shouldn't still be doing damage to me, right?"

That shouldn't be possible but I checked anyway and

[2016-06-12 00:46] crookedneighbor commented on #7653
Thanks for picking this up Alys, I've been meaning to, but haven't had the time. These steps all look correct to me.

[2016-06-12 00:53] Alys commented on #7653
233 players are in two quests.

6 players are in three quests.

They'll potentially be taking damage from the boss so I'm marking this as high priority, at least until we find out whether the code DOES pass damage on to them from all those quests.

I'm working to remove those players from their excess quests today.

[2016-06-12 00:57] Alys commented on #7653
FYI for Socialites: There is no way for a player to work out if they are still in a previous party's quest. An admin will have to search the database to find out.

I'm moving this comment up to my first post.

[2016-06-12 01:06] Alys commented on #7653
greeniezona reports that the damage from the previous-party quest does seem to match the unexplained damage they've been noticing.

[2016-06-12 01:19] plmko32 commented on #4753
My team leader left during quest.. so our team is stuck. Could you cancel the quest which has no participants?

Group : 180671ab-4873-4b05-8c9e-5a6dfef00998

[2016-06-12 02:49] Alys commented on #4753
@plmko32 That ID doesn't match any group. Can you copy it again or tell me your own User ID? Either's equally good for me.

[2016-06-12 02:55] Alys commented on #4840
`./migrations/cancelSubscription.js` is only ever used manually, and in fact probably hasn't been used by admins for a long time. It was written back when there were only one-month subscriptions, and so the one month period in it did make sense then. However you can ignore it for the purposes of this issue. If admins ever used it again, they'd modify it as needed for the specific case they were us

[2016-06-12 02:57] Alys commented on #7630
Can you give me MadMouze's User ID? I think if you click on his name, you'll be able to see his profile. I didn't keep my data from yesterday that had his ID in it.

[2016-06-12 03:14] Alys commented on #7652
For the record, a few hours ago, @crookedneighbor redeployed the production site because paglias found that the AWS servers had different js files.

Now, when I repeat the steps above, steps 1 to 5 are the same. When I go to the clear-browser-data page, I do not see the `GET` error in the Console (no errors appear at all), the button on that page does work, and I'm then able to log in.

If I manua

[2016-06-12 03:26] crookedneighbor commented on #7652
Yep. Can definitely do that.

[2016-06-12 06:11] tjittedevries commented on #7630
020225f7-c8d5-4914-a7f6-04f948f5caf4

[2016-06-12 06:16] Alys commented on #7630
I've deleted the invitation to your party from MadMouze's account.

I'm leaving this issue open because I want to try to replicate the bug to see if it's a code error or a once-off glitch. Possibly the code to revoke invitations doesn't work if the player is in another party.

[2016-06-12 07:31] Alys opened #7654 "empty parties exist in database"
The database's `groups` collection contains at least one party with no members, possibly as a side effect of https://github.com/HabitRPG/habitrpg/issues/7653 ("a player can be in two quests at once, even though in only one party") or possibly left over from glitches with the APIv3 migration. We should go through the database and purge empty parties and private guilds. Not urgent.

For example, I c

[2016-06-12 09:00] alexmakeev commented on #5030
Alternative is to wrap Array into Dict:
Like `[{key:"asd", val:123}]`
I have wrote such wrapper and use it when needed.

[2016-06-12 10:47] paglias commented on #7587
Confirmed :( I've asked to reopen the Mongoose issue here https://github.com/Automattic/mongoose/issues/4182

[2016-06-12 13:35] #7620 closed, assigned to nobody

[2016-06-12 13:51] Efox917 commented on #7576
Hi, I just saw this.  Sorry for the tardy response.  I hope this is the user Id you need:  8f9110b4-50d7-446b-a142-0c6ca0cb5029
I’ll put this in Github as well.

[2016-06-12 14:00] Alys commented on #7654
I've deleted 14 parties that had no members, including the one listed above, as part of the fixes for https://github.com/HabitRPG/habitrpg/issues/7653

I'll do a search for other empty parties and private guilds some other time.

[2016-06-12 14:04] Hus274 commented on #4840
Thanks Alys! Has this been happening for all the payment types or just one of them? I see that the logic to get the date when canceling is slightly different for each of the three payments types, stripe, amazon, and paypal. Specifically, I'm wondering if this happened when people were paying with Amazon

[2016-06-12 14:07] Alys commented on #7653
For all the players who were in two or more quests, I've removed them from the quests in any parties that they were not members of.

There were quite a lot who had `false` or `null` values in group.quest.members for active quests so we definitely need to look for any code that might be permitting that.

It has just this instant occurred to me that there could be players who are in only one quest a

[2016-06-12 14:31] Hus274 commented on #4840
I believe I've found the issue. Amazon payments doesn't have a concept of when the subscription ends so it's assumed to be 30 days from the last billing date (this is inaccurate for any subscription type that is not one month).

So in the original case posted here, the user subscribed to a three month package. This set the last billed date to today. Then when we call cancelSubscription API, we sen

[2016-06-12 14:33] Hus274 commented on #4840
I can probably test this out too if need be, it's relatively inexpensive.

[2016-06-12 14:40] #7636 closed, assigned to nobody

[2016-06-12 17:17] paglias commented on #7652
I had opened an issue about the same thing yesterday https://github.com/HabitRPG/habitrpg/issues/7648

[2016-06-12 17:41] Hus274 commented on #7618
I can look into doing this.

[2016-06-12 18:23] Hus274 commented on #7618
So from what I'm seeing, it looks like the only time habitica tries to send an email on having someone removed from a group (whether invited or not) is when someone has passed a long an optional message when they removed the person. So the current expected behavior is no email either when removing someone or rescinding an invite unless a message has been provided. Do we want to send an email by de

[2016-06-12 18:48] ghost commented on #7629
@lemoness thank you! Since it means major renaming, I believe another minor inconsistency could be fixed as well:

[2016-06-12 20:47] Hus274 commented on #4840
I think that it makes sense in this case to add another subscription field specific to amazon payments here as there's already a specific field ( lastBillingDate ) for this kind of use case in the subscription object. As the method that creates the subscription already has a concept of months that the subscription applies to, I would save that information to the database when the subscription is c

[2016-06-12 21:21] Alys commented on #7652
Ah, I think that's where I got the idea. :)  It would be nice if the clearing could be done automatically though. It would then look like the site was just slow rather than seeming buggy.

[2016-06-12 22:58] Hus274 commented on #7600
I'll have a fix out for this shortly.

[2016-06-13 02:17] sujunmin commented on #7429
Hi @Alys , the problems happened before at the above post were gone, thank you!

[2016-06-13 03:23] Alys commented on #7429
@sujunmin Thanks for letting us know! Sorry it took so long before it was resolved.

[2016-06-13 03:23] #7429 closed, assigned to nobody

[2016-06-13 04:12] hmacphail commented on #7320
Are we sure the tag name should be editable? It has been explicitly left out in the code. If yes, then would all of the tags on the users' pages be changed as well?

[2016-06-13 04:18] Alys commented on #7320
The tags on the user's pages should not be changed, and it's okay if the tag is not editable. See my comment https://github.com/HabitRPG/habitrpg/issues/7320#issuecomment-219837082 for more details.