[2013-09-11 16:34] fuzzytrees commented on #942
Not quite done yet, obviously, but:

![bailey_sample](https://f.cloud.github.com/assets/4355305/1124486/f2ac8158-1aff-11e3-92d8-5f0071499373.png)

[2013-09-11 17:03] Shaners commented on #942
Nice stuff! I was thinking without the actual pet in it, just the egg, to give it a bit if mystery with hints to what the new pet is by what the egg looks like and what Bailey says.

[2013-09-11 17:46] paglias commented on #1498
@Shaners what is happening, I think, is that: when you complete a task/todo/habit a request is sent to the server which then sends back the whole user object which when received by the client overrides the current user object.

So if you click too fast it may happen that a server response override the user object with an older version of it and some changes may get lost.

Try clicking very fast an

[2013-09-11 18:40] Shaners commented on #1498
The thing that worries me is that I haven't really been able to find anyone in tavern chat that has gotten an egg drop (without using it right away) since the rewrite but they seem to be flush with potions. If it's a server override with an older version wouldn't it affect potions in the same manner?

[2013-09-11 18:47] paglias commented on #1498
The code for eggs/potions drop on habitrpg-shared is exactly the same, sincerely I don't know

[2013-09-11 18:53] wc8 opened #1519 "FAQ Browers Support Derby reference"
http://community.habitrpg.com/content/browser-support says use Chrome because IE not supported by Derby. Since we are Angular now should this be:

1) deleted?
2) rewritten (if Angular supports some browsers better than others)?

[2013-09-11 18:56] paglias commented on #1501
removed

[2013-09-11 18:56] #1501 closed, assigned to nobody

[2013-09-11 19:47] lefnire commented on #1519
Angular supports IE! I think it has _some_ compatibility issues (eg, IE<9 have some concerns - but not many). And our code will get more supportive of all browsers over time (we're currently not using shivs where we could be). I'd say we mostly support IE, but when in doubt use something besides. Btw, for those that don't know - IE is famously a very bad browser, and most web apps have to make con

[2013-09-11 19:51] jbfp opened #1520 ""Upping" habit sometimes returns Internal Server Error"
Sometimes when "upping" a habit, the API returns an odd 500 Internal Server Error:

[code]

[2013-09-11 19:53] lefnire commented on #1520
Ahhh! I've been looking for this bug for forever!! Finally someone found
it. Ok, could you give me your user id & the name of the task that triggers
this?

On Wednesday, September 11, 2013, Jakob Pedersen wrote:

[2013-09-11 19:56] jbfp commented on #1520
UserID: 919f682b-a3ce-4fda-947c-32c559a14479
TaskID: e5daab0c-b28d-421c-9323-277dac2b8f75
Task name: "test" (this is just the text)

[2013-09-11 20:03] fuzzytrees commented on #942
Oh! Well, that's certainly doable. We could also do:

![cow_announcement](https://f.cloud.github.com/assets/4355305/1126037/fa2a96aa-1b1c-11e3-9b19-7bb1f50871e1.png)

(Also, the reason the sky is pretty blank is so that writing can be added).

Also, I made the frames for some of the others:
![cobra_frame](https://f.cloud.github.com/assets/4355305/1126048/34f15698-1b1d-11e3-8cfe-d0480cfd926f.png)

[2013-09-11 20:36] lefnire commented on #139
broken reset button is fixed now. reseting by removing sample tasks is as intended, I see many more people wanting a blank slate once they've figured out the system, then the starter tasks

[2013-09-11 20:36] #139 closed, assigned to nobody

[2013-09-11 20:38] lefnire commented on #382
closing this ticket, lots of new pets in the pipeline at https://github.com/lefnire/habitrpg/issues/942

[2013-09-11 20:38] #382 closed, assigned to nobody

[2013-09-11 20:40] wc8 commented on #1519
I'll take a stab at it.

[2013-09-11 20:40] lefnire commented on #396
we'll follow up on this feature in the Trello card

[2013-09-11 20:40] #396 closed, assigned to nobody

[2013-09-11 20:56] Shaners opened #1521 "Missing Shade Armor Graphic in Rewards"
Currently is showing the gold weapon:
![goldshadearmor](https://f.cloud.github.com/assets/2374703/1126435/48e45c16-1b24-11e3-9289-88bfc1427c0b.png)
Other shade items show the correct graphics on the player though:
![goldshadearmor002](https://f.cloud.github.com/assets/2374703/1126443/76adc268-1b24-11e3-8bee-a972dba5fdd4.png)

[2013-09-11 20:56] lefnire commented on #1520
Nailed it. This ticket makes me happy, I was getting only a portion of the CastError in emails and the logs were too flooded to find in history (getting proper logging is on my TODOs). Thanks @jbfp. This could have something to do with #1498 too...

[2013-09-11 20:56] #1520 closed, assigned to lefnire

[2013-09-11 21:25] lefnire commented on #1498
definitely some funkiness going on with eggs, I'm going to check into this soon

[2013-09-11 21:29] lefnire commented on #1516
fixed - thanks @paglias !

[2013-09-11 21:29] #1516 closed, assigned to nobody

[2013-09-11 21:40] lefnire commented on #1498
ok cool, referenced fix above #1520 looks like fixed the issue (after some local testing). Re-open if we experience this still

[2013-09-11 21:40] #1498 closed, assigned to nobody

[2013-09-11 21:43] lefnire opened #1522 "Re-organize habitrpg-shared branches"
1. move #master => #derby
2. move #rewrite => #master
3. update habitrpg #derby, #develop, #master package.json files

[2013-09-11 21:44] lefnire commented on #1498
btw @Shaners the best way to test this is: comment out this line https://github.com/HabitRPG/habitrpg-shared/blob/rewrite/script/algos.coffee#L124 , "restore streak" on a daily to 100, check & uncheck it over & over

[2013-09-11 21:50] lefnire opened #1523 "Groups: add "who have you invited""

[2013-09-11 22:04] meganstrickland commented on #1057
I seem to be having this issue, both with the website and the Android app. When I originally registered, I was in the Eastern Time zone (GMT -5). My custom day start has been set to 5am. I didn't use HabitRPG for quite a while, but have just started using it again. I am now in Pacific Time zone (GMT -8) and am experiencing this issue with dailies remaining gray. I don't know yet if I would lose XP

[2013-09-11 23:18] eiron commented on #1499
The completed tasks are now cleared, but that does leave roughly 1000 (or
more) todos still active.

On 11 September 2013 14:55, Matteo Pagliazzi notifications@github.comwrote:

[2013-09-12 00:36] wc8 commented on #1519
I gave it a quick rewrite, just so it'd be more up-to-date.

[2013-09-12 00:36] #1519 closed, assigned to nobody

[2013-09-12 01:21] wc8 commented on #1463
ArtfulDodger in the Tavern reports that it is not functioning—i.e. cannot save Silver prices for Rewards in Webkit browsers but works fine in Mozilla.
Shaner reported,

[2013-09-12 01:22] SabreCat commented on #1351
This got taken care of at some point during the rewrite. Closing!

[2013-09-12 01:22] #1351 closed, assigned to nobody

[2013-09-12 01:23] SabreCat commented on #1463
I reported this pre-rewrite in #1230 ... looks like it's still out there.

[2013-09-12 02:20] SabreCat commented on #1513
Getting some good ideas here. Quick questions--
1. Adding and rearranging objects in the tourSteps array should change up the length and sequence of the tour, right? No weird hardcoded boundaries I need to watch out for?
2. Not sure I'll need the bubbles to point anywhere different yet, but in case I do try to tinker! By the look of it, the "element" property tells it where to look on the page. Wh

[2013-09-12 03:38] lefnire commented on #1513
Yep, they're CSS selectors. It uses jQuery, if you're familiar - so if you need to point to something different, think CSS

[2013-09-12 04:04] nuzzlebutt opened #1524 "Missing Achievement"
I recently bought the final Golden item and have zero items left to buy in my rewards section.  But I don't have the achievement for having the fully upgraded armor set.

[2013-09-12 08:03] jbenzimra commented on #1524
Same for me.
![screenshot 2013-09-12 at 10 02 18 am](https://f.cloud.github.com/assets/5383317/1129102/c67ce35c-1b81-11e3-9623-19ce0fad9f00.jpg)
![screenshot 2013-09-12 at 10 01 54 am 1](https://f.cloud.github.com/assets/5383317/1129103/c68f08ac-1b81-11e3-8610-307e18b34d0a.jpg)

[2013-09-12 11:13] wc8 commented on #1514
#1524 and streaks badges also reported.

[2013-09-12 12:56] paglias commented on #1499
1000 active todos? that's really a lot and I don't think we can do really
anything about that

2013/9/12 Eiron Page notifications@github.com

##

Matteo Pagliazzi - paglias.net

[2013-09-12 12:57] paglias commented on #1513
I would add a bubble to show that clicking on the avatar you're ported to the options page

[2013-09-12 15:43] lefnire commented on #1499
@litenull did some work with [ngInfiniteScroll](http://binarymuse.github.io/ngInfiniteScroll/) on a separate branch for mobile, thinking about toying with that in the near future to see if we could get infinite todo list sizes. Would be a bit down the pike though

[2013-09-12 17:08] paglias commented on #1057
The mobile app has a known bug which has just been fixed so an update should roll out in a few days

[2013-09-12 17:16] #1511 closed, assigned to nobody

[2013-09-12 17:39] paglias commented on #1396
Fixed that the tour was shown twice (we should use User.log to set also the local model..) Closing since I don't think we're going to fix that when you have no habits/dailys then the tour isn't shown because other selectors aren't as good as the actual ones to show the user around and the tour should be needed only the first time.

[2013-09-12 17:39] #1396 closed, assigned to nobody

[2013-09-12 17:41] ozziefallick commented on #1485
Alright, experimenting now. So I'm clear, what's the expected behavior? I never used due dates in prod.

[2013-09-12 17:55] paglias opened #1525 "Add info about Guilds on FAQ page?"
What is a guild? I can't find it anywhere and also how it differs from a party?

[2013-09-12 18:04] lefnire commented on #1525
added http://community.habitrpg.com/content/guilds-v-parties

[2013-09-12 18:04] #1525 closed, assigned to nobody

[2013-09-12 18:06] paglias commented on #1459
Think it's ok now!

[2013-09-12 18:06] #1459 closed, assigned to lefnire

[2013-09-12 18:50] demhips commented on #1524
Same here

[2013-09-12 18:52] demhips opened #1526 "No drops?"
Since the code rewrite, I have not received a single item drop - and I check off quite a few things per day.  Is anyone else having this issue?

[2013-09-12 19:15] lefnire commented on #1526
dupe of #1498

[2013-09-12 19:15] #1526 closed, assigned to nobody

[2013-09-12 20:19] lemoness commented on #942
Looking great, fuzzytrees! I think you're definitely on the right track
with these :)

On Wed, Sep 11, 2013 at 1:04 PM, fuzzytrees notifications@github.comwrote:

[2013-09-12 21:09] lefnire commented on #1514
fixed

[2013-09-12 21:09] #1514 closed, assigned to nobody

[2013-09-12 21:18] LordDarkly commented on #942
Very awesome fuzzy! I'm impressed with your cow introduction, I think it'll be an excellent addition to HabitRPG.

If you don't mind, I'd like to use that first one as a frame for the cobra introduction. It's very exciting to see these things coming together!

[2013-09-12 21:22] lefnire commented on #1485
Check out http://angular-ui.github.io/bootstrap/#/datepicker to get you started. We were previously using bootstrap-datepicker 3rd party module, but it didn't bode well with jquery-to-derby-model bindings. Nor will it for Angular, unless we write a custom directive (hence the above link to give us a boost).

Expected behavior: click the "Date" field of a todo, get a calendar, select a date, update

[2013-09-12 23:33] lefnire opened #1527 "refactor auth to be more modular"
1. ~~move sync stuff in userServices to syncServices~~
2. ~~move auth stuff in userServices to authServices~~
3. same for controllers that are duplicating auth logic
4. add facebook js api code in instead of current server-side method
5. gut front-page dependencies on memberServices, userServices, etc - and only depend on authServices

## <bountysource-plugin>

Want to back this issue? **[Post a b

[2013-09-13 01:34] SabreCat opened #1528 "Tag filters sporadically auto-clear [$15 awarded]"
Every so often, while using the site, my selected tag filters automatically get cleared. I haven't been able to figure out what, if any, conditions cause it to happen: it's pretty random. I've had the filters reset while the site sits idle in another window, or while I'm in the middle of inputting a new task.

We had some uncertainty about whether tag filters should persist across sessions or duri

[2013-09-13 01:38] SabreCat opened #1529 "De-Aryanize default character"
Whenever a new user registers, their avatar defaults to a white male with blond hair. It'd be much more welcoming to a diverse base of users if the initial avatar were random, making no assumptions about the "typical" player's gender or skin color.

Self-assigning since this is a change hopefully within my coding reach, and which I tend to care about more than most!

[2013-09-13 01:43] wc8 opened #1530 "Chat Refresh: Fetch = Send"
If anything is in the message box when you hit the sync symbol button (Fetch Recent Messages), it will be sent out to the Tavern.
Is this the intended result? It might be confusing to the users.

[2013-09-13 01:44] SabreCat opened #1531 "Can't log in using autofilled password"
If I log in to the site using my password as filled in by Firefox's saved passwords feature, this error appears:

![screenclip](https://f.cloud.github.com/assets/4501321/1135529/910776b2-1c15-11e3-8f62-144799967c9b.png)

If I backspace it out and retype it, I make it in just fine. I've confirmed that my saved password is correct by clipboard-copying it directly from the saved password list and pas

[2013-09-13 02:13] wc8 commented on #1529
You could randomize it—or use _blue skin and white hair_. The latter option might be more palatable to those who take their character's appearance seriously. (As opposed to users like me who change it every so often.)

**The tour should probably mention the option to change the character's appearance.**. It's been a hot topic in the past.

[2013-09-13 02:25] Shaners commented on #1531
Probably similar to the 1 password issue? #1506

[2013-09-13 02:31] lefnire commented on #1531
definitely the same issue, and I think i know what's going on at this point. Let's close this one and I'll explain my theory there

[2013-09-13 02:31] #1531 closed, assigned to nobody

[2013-09-13 02:33] Shaners commented on #1498
@lefnire booyah lets do some testing. Maybe the way I was testing before was breaking things.

[2013-09-13 02:35] lefnire commented on #1531
actually, my theory is wrong. Ha. But anyway, same issue. I'll follow up with any progress

[2013-09-13 03:07] SabreCat commented on #1529
It would only be random when a new character is first generated--I'm not saying it should randomize your avatar every time you log in, ha. If I can't get it to be random, then we could come up with an iconic character setup that dodges the problematic nature of the white male default: a green-skinned lady, perhaps!

[2013-09-13 03:17] lefnire commented on #1528
yeah, definitely a bug there - indeed not the filter-persistence issue .

[2013-09-13 04:12] lefnire commented on #1530
not intended result. And could be the reason sync isn't working, will look into.

[2013-09-13 05:06] AdrienLemaire commented on #782
I know the thread is old, but it's still open :)

It seems that recently only 1 drop can occur per day.  Any reason why ? I knock off between 15 and 20 tasks a day, but I only got 1 potion per day over the last week (the eternal base/white/desert)

![eggs](http://i.imgur.com/VfUYmIl.png)

A bit frustrating :)

[2013-09-13 05:22] lefnire commented on #782
May frustration beget action, [thusly is open source](https://github.com/HabitRPG/habitrpg-shared/blob/master/script/algos.coffee#L123). In the mean time, I'll take a peak when I can

[2013-09-13 05:31] lefnire commented on #1529
Thou shalt all be unto mine own image! But I agree with @wc8, that should probably be the last item of the tour steps. "Finally, click here to customize your avatar".

One downside I anticipate is that I'm recently very much leaning towards removing habitrpg-shared/helpers:userSchema() and relying entirely on Mongoose default values for the User model. This will make my life a whole lot easier, bu

[2013-09-13 05:31] AdrienLemaire commented on #782
oh ok, limit should be 2. Maybe I just got unlucky then :)

[2013-09-13 06:11] Shaners commented on #1429
Any clue what is going on here?:

[code]

bootstrap.css seems to exist in the correct place.

Does it have something to do with this?

[code]

[2013-09-13 06:58] fuzzytrees commented on #942
Yes, that is what the first one is for! Go for it!

Can people tell what's on the last frame?

[2013-09-13 15:11] imymia commented on #1057
Yesterday I checked 4 of my dailies around 11 PM, today they were still checked and I had lost HP and my streaks. I have no custom setting for reset time. I'm using Chromium on a mac, if that's of any help.

[2013-09-13 16:03] paglias commented on #1048
We could add statistics server side, every time a drop is logged log the type and the user.

[2013-09-13 16:05] paglias commented on #1523
i'm going to take this, do you think that making a global find on the users to see who are invited to a specific party/guild is too expensive in term of performances? Well it will depend a lot on how many users are out there mostly

[2013-09-13 16:06] paglias commented on #1221
There is any javascript error? Open the console to see if there's any (ctrl+shift+j on chrome)

[2013-09-13 16:10] paglias commented on #1521
it may be a problem of wrong css positioning, can you say which image should appear? and what is the css class of the reward image: on chrome right click on the weapon image, select "inspect element" (or something similar to that) and report the code that appears highlighted

[2013-09-13 16:13] paglias commented on #1521
The image that should appear is the sword the avatar has in the image you posted? Also the avatar body is gold, it is right or should be the one near your's avatar helmet here https://habitrpg.com/bower_components/habitrpg-shared/img/sprites/shop_sprites.png?

[2013-09-13 16:32] lefnire commented on #1523
Yeah, I think that will be pretty expensive actually. Party would be easy: `User.findOne({'invitations.party.id':PARTY_ID})`. But because invitations.guilds is an array, you'd probably have to do a map-reduce. But in theory: `User.find({'invitations.guilds.$.id':GUILD_ID})`. We'd need to `ensureIndex` on those two fields as well.  Are you sure we need this feature? Nobody's asked for it before. Bu

[2013-09-13 16:53] paglias commented on #1523
Sincerely i found a bit annoying not seeing the users I invited because the
user doesn't know wheter they have been correctly invited or not but it's
certainly low priority, so I'll implement it maybe in the next future

2013/9/13 Tyler Renelle notifications@github.com

##

Matteo Pagliazzi - paglias.net

[2013-09-13 16:58] lefnire commented on #1523
fair enough. Yeah, let me know when you get started then if you need help with database stuff

[2013-09-13 18:02] paglias commented on #1463
Fixed this and others similar validation errors

[2013-09-13 18:02] #1463 closed, assigned to nobody

[2013-09-13 18:10] Shaners commented on #1521
It is supposed to show this image: ![shade-armor](https://f.cloud.github.com/assets/2374703/1140409/617cabf4-1c9e-11e3-837f-b294c68ba19d.png) in the rewards column.
This is what chrome is throwing: `background-position: -1160px 0;}`
Which should be correct, no?

`<span ng-class="{&quot;shop_armor_6 shop-sprite item-img&quot;: true}" class="shop_armor_6 shop-sprite item-img"></span>`

All images on

[2013-09-13 18:11] KatjeiDa commented on #1221
This is what I get when I click ctrl+shift+j:

Sync: Queue is empty app-7ca01d26.js:14
Given URL is not allowed by the Application configuration.: One or more of the given URLs is not allowed by the App's settings.  It must match the Website URL or Canvas URL, or the domain must be a subdomain of one of the App's domains.

[2013-09-13 18:11] KatjeiDa commented on #1221
For the record though I usually open HabitRPG in FireFox

[2013-09-13 18:14] paglias commented on #1221
@KatjeiDa did you saw this content in the console on the profile page or on the tasks page? if the latter, could you post what you see in the console when you are on the profile page?

[2013-09-13 18:18] Shaners commented on #1048
We can probably close this now.

[2013-09-13 18:20] Shaners commented on #782
This can probably be closed as well.

[2013-09-13 18:21] paglias commented on #1521
yes it's correct but the shop_armor_6 is interpreted befor the background image rule so it is overriden by it. This is because in habitrpg-shared the order of css files is not defined, will fix it later

[2013-09-13 19:11] paglias commented on #1521
Should be fixed in https://github.com/HabitRPG/habitrpg-shared/commit/ae4f3a6481312f54859e289b2afc12d5bb14f635 but to be sure as soon as @lefnire pushs it to beta we should check if everything is ok

[2013-09-13 19:11] #1521 closed, assigned to nobody

[2013-09-13 19:13] lefnire commented on #1221
pushing fix to beta. Gonna do a quick test-run, then i'll push to prod. Her acct had some derby-wrought null preferences, and there's some funkyness in chat-message contributor analysis .

[2013-09-13 19:13] #1221 closed, assigned to nobody

[2013-09-13 19:19] lefnire commented on #1521
check on prod in a bit. I may have pushed beta before your fix went in, and I don't know how to trigger re-bower-install on heroku without another commit

[2013-09-13 19:35] paglias commented on #1521
ok, I won't be able to check anything this evening, @Shaners can you give a look in a few hours?

[2013-09-13 19:57] lefnire opened #1532 "CastError: Cast to number failed for value "04:00" at path "preferences.dayStart""
Hmm... how to handle this. So custom day start is supposed to be entered as an integer, but some people are entering it as "04:00" - which can't be int-casted. Since we're not setting the value on a dedicated API route (but instead doing `User.set('preferences.dayStart',...)` - we can't sanitize it server side. Maybe we just need to have a validator on that input field via angular

[2013-09-13 20:06] litenull commented on #1499
Nice, nice. let the force be with you.

[2013-09-13 20:09] litenull commented on #1451
@lefnire Hacking it as we speak.

[2013-09-13 20:30] tack00 opened #1533 "Difficulty Logging into Iphone app"
Hey guys, I'm sorry if this is too minor an issue to be posting here, but I'm not sure where else to ask. I've recently downloaded the Habitrpg Iphone app, but for some reason I can't seem to login to my existing account. Would I need to make a new account to use the iphone app?

My user name is Tack00.

Thanks!

[2013-09-13 20:34] lefnire commented on #1533
what errors are you seeing?

[2013-09-13 21:02] Shaners commented on #1521
It's all good now! :sunglasses::thumbsup:
![shade-reward-set](https://f.cloud.github.com/assets/2374703/1141604/a446a692-1cb7-11e3-8f5c-20dc9d346b81.png)
(on beta)

[2013-09-14 00:00] lefnire opened #1534 "Testing (Karma = e2e & unit, API = mocha)"
1. Client code test: Karma (e2e & unit)
2. Server code: mocha unit tests

This is an enormous task, and I'm actually going to make it one of my HabitRPG Dailies to add one test / day. I'm just creating this ticket to get it on the radar, will reference some initialization / salient commits to the ticket, & close it

[2013-09-14 00:48] lefnire commented on #1534
Sheiße, we're gonna have to figure something out for the e2e tests. They can't run the server (esp. if we want CI like Travis on GH), but the server is what generates the html files from Jade + SSI.
1. We could get away without writing e2e tests, and just have solid controller specs
2. Or we could make the jade compiling a Grunt step instead of Express... not wait, we can't do that because we need

[2013-09-14 04:29] hammermybones commented on #1524
Also missing this achievement. I noticed that Issue #1514 is marked as closed, but I am still with the original problem.

[2013-09-14 08:58] BlackEdder commented on #1532
How about turning it into a drop down list? That should solve the problem. The down side of course would be that the drop down list would get quite long.

[2013-09-14 12:02] paglias commented on #1532
what about sanitizing it in a mongoose pre save middleware http://mongoosejs.com/docs/middleware.html?

[2013-09-14 12:18] paglias commented on #1532
I tried to set a value like "04" on my local installation and angular converts it to 4 which should be correctly, sincerely I don't know how to set a value like "04" and "04:00" trigger an html5 validation error, maybe is something prior to the rewrite?

[2013-09-14 13:38] marphod opened #1535 "Potion/Egg Drops not getting a pop up"
Since the new site, I've apparently been collecting Eggs and Potions, but I've never gotten prompted about a item drop.

I only know if  have had any drops when I check my inventory and compare it against my previous state.

It is possible that this is a result of using a pop-up or script blocker on my end, but I have whitelisted almost everything to do with HabitRPG.

[2013-09-14 14:06] lefnire commented on #1535
dupe of https://github.com/lefnire/habitrpg/issues/1394

[2013-09-14 14:06] #1535 closed, assigned to nobody

[2013-09-14 14:16] lefnire commented on #1532
ah! Presave, why didn't I think of that. Will do!

[2013-09-14 14:55] SabreCat commented on #1045
This is only a non-issue right now because we don't have popup drop notifications in the rewrite yet. It's something we can keep an eye out for when that's re-implemented, though, so I'm reopening.

[2013-09-14 15:00] lefnire commented on #1524
@hammermybones #1514 was quite assuredly fixed, verified by a handful of users. Per chance you registered within the last few weeks and missed the veteran achievement?

[2013-09-14 15:19] SabreCat commented on #1020
Actually, it turns out this is still the case--and in fact has gotten worse. When you purchase a gear reward, _nothing_ changes in the shop: you still see the item you just bought, same price, same tooltip. The avatar updates correctly, but it takes a refresh to see the next tier of item.

[2013-09-14 15:21] SabreCat commented on #1302
At the moment, Streak achievements aren't getting awarded at all. Will need to keep an eye on this when that piece is fixed.

[2013-09-14 15:27] SabreCat opened #1536 "Provide a means for users to intentionally review tour"
At the moment, the startup tour is one-and-done based on browser and computer (I think; cookie maybe?). In order to view it again, you need to start a new account or log in from somewhere else (or clear cache?). As we work on making the tour more useful and informative--see issue #1513--it could be worth our while to provide a place on the Options page to restart the tour.

This could later become

[2013-09-14 15:31] paglias commented on #1536
You can restart it from the settings page!

[2013-09-14 15:38] SabreCat commented on #1536
Oh! That must be brand new! Closing.

[2013-09-14 15:38] #1536 closed, assigned to nobody

[2013-09-14 15:49] lefnire commented on #1302
This isn't a ticket  well fix. Now that we're stable, and soon as streak
notify is back, well remove restore streak anyway since it was a feature to
patch memleak issues
On Sep 14, 2013 11:21 AM, "Sabe Jones" notifications@github.com wrote:

[2013-09-14 17:30] meganstrickland commented on #1057
This seems to be resolved for me now. I'll report back if that changes. Big thanks to the HabitRPG team!

[2013-09-14 23:43] pipng13579 opened #1537 "Removal of game items from shop is permanent"
When I initially joined habit RPG, i thought that the items in the shop were examples, so i deleted all of them. Now i realised that the RPG hinges on buying these in-game items, but I have removed them and they are now permanently gone. Could we make these items un-deletable and restore these items to those who may have deleted it?

[2013-09-15 05:47] hammermybones commented on #1524
Sorry, wasn't paying proper attention to issue #1514 and just saw the 'missing achievement.' To clarify, I am in fact missing the 'Ultimate Gear' achievement.

[2013-09-15 09:42] paglias commented on #1537
Which items are you talking about? The ones under the "Rewards" column can't be deleted unless you created them

[2013-09-15 09:47] paglias commented on #1048
I think I'm affected by this, I got 4 potions and 0 eggs, this is not impossible but strange considering that no one has ever reported getting more eggs than potions

[2013-09-15 10:56] pipng13579 commented on #1537
![image](https://f.cloud.github.com/assets/4781051/1145146/58dd2020-1df5-11e3-8e12-c1592babaf8e.png)

Hmm, somehow I managed to remove them. I have tried ctrl+f5 to get a server copy of the page, but that did not help.

[2013-09-15 12:21] pjf opened #1539 "Wishlist: Daily tasks with no HP loss for failure"
I keep finding there are task types which I'd like to receive XP for if I complete them, but only at most once per day, and with no HP loss if I fail.

For example, the first git commit of the day should generate XP, but usually if I'm hacking code, I'm making lots of commits, and they can threaten to overwhelm my HabitRPG experience. However I don't want to _lose_ HP if I don't commit, I'm probab

[2013-09-15 12:27] wizonesolutions commented on #1539
+1

[2013-09-15 14:22] paglias commented on #1537
How did you managed to remove them? They are stored server side so you can't have removed them, did you edit the page html? the console shows any error (on chrome ctrl+shif+j)? have you tried from another pc?

[2013-09-15 15:38] pipng13579 commented on #1537
I remember that all the items had a "delete" button and I just clicked on every one of them. Could it be that a new update removed this feature?

The console log says:
Sync: Queue is empty app-ea0e0b8d.js:14
Given URL is not permitted by the application configuration.: One or more of the given URLs is not allowed by the App's settings.  It must match the Website URL or Canvas URL, or the domain mu

[2013-09-15 15:44] pipng13579 commented on #1537
This issue is not a local issue. I can replicate it in chrome on another computer as well. (And interestingly, the 'play' button does nothing on internet explorer for the static front page)

[2013-09-15 16:38] Shaners commented on #1048
In the past(derby) people have reporting having more eggs than potions after I adjusted the algorithm. It was around the rewrite that eggs seemed to be getting deleted.

Sent from my iPhone

On Sep 15, 2013, at 2:47 AM, Matteo Pagliazzi notifications@github.com wrote:

[2013-09-15 16:55] pipng13579 commented on #1537
I got the rewards back now that I have levelled up! :) I'll close this since it seems to be a fluke that I managed to delete the rewards.

[2013-09-15 16:55] #1537 closed, assigned to nobody

[2013-09-15 18:31] djuretic opened #1540 "Missing 21-day streak achievement"
I reached a 21-day streak in one of my dailies, but the Achievements page shows "0 Streak Achievement(s)".

I tried to search the source code for that functionality, I only found this on `archive/derby_controllers/unlock.coffee`:

[code]

Is that feature ported to the AngularJS rewrite?

[2013-09-15 20:55] lemoness opened #1541 "Streak Achievement Problem?"
I've gotten two new streaks - and no achievements for it! Someone else in the Tavern was just complaining about this, too.

[2013-09-16 00:45] djuretic commented on #1541
Yes, I'm also having this problem: #1540

[2013-09-16 11:50] AdrienLemaire opened #1543 "Didn't receive Ultimate Gear achievement"
Hello,

I could buy today the last shield, and now have:

[code]

But the achievement isn't available. My user id is 84497c76-4028-4dd5-8403-69b4f5b12575

I'll check again tomorrow in case achievements are updated only once a day.

**EDIT:** No, still not received a day after

[2013-09-16 15:29] tack00 commented on #1533
Ah, sorry for the late response. Turns out I was just being dumb and forgot about the whole case sensitive thing. Thanks for the help anyway!

[2013-09-16 15:44] #1533 closed, assigned to nobody

[2013-09-16 16:55] lefnire commented on #1020
can you open the no-update bit on a separate ticket, i wanna track these differently since the tooltip is minor but the update thing sounds major. This tooltip bit is still happening though eh? I'll look into it, may require updating angular-ui-bootstrap (i need to do that anyway to remove all the components we aren't using)

[2013-09-16 21:05] lefnire commented on #1541
closing for #1540

[2013-09-16 21:05] #1541 closed, assigned to nobody

[2013-09-17 00:25] lemoness opened #1544 "Make "Todos" into "To-Dos""
Figured I would stick this in here because it's such an easy fix. In Spanish, "Todos" means "all", and I've gotten more than one confused person who knows Spanish and wants to know why there are three columns when they are supposed to put everything in the "all" column.

Adding a hyphen and a capital D really can't be difficult, right?

[2013-09-17 00:32] djuretic commented on #1544
Another option is to use "ToDo" (without hyphen).

[2013-09-17 00:37] lemoness commented on #1540
Great, tracking this :)

[2013-09-17 00:39] lemoness commented on #1544
Either works for me :)

On Mon, Sep 16, 2013 at 5:33 PM, djuretic notifications@github.com wrote:

[2013-09-17 12:52] Celtis commented on #969
Just a comment @paglias - but if you close issues due to duplication, could you leave a link to the other bug please? Otherwise I (and anyone else) have to search through to find the duplicate to see what's happening with it.

Thanks

[2013-09-17 13:25] paglias commented on #969
Yes, @Celtis, you're right. It should be #663

[2013-09-17 13:28] Celtis commented on #969
Thank you!

[2013-09-17 13:48] brightbold commented on #1540
Two of my party members also achieved 21-day streaks post-Derby and did not get the achievement. There's definitely something funky here.

[2013-09-17 13:49] brightbold commented on #1543
Related to #1540 ?

[2013-09-17 13:52] brightbold commented on #1497
If possible, this would be nice because I've noticed the names are also case-sensitive in the Tavern. So when people mention me but fail to use my silly camel-case, it doesn't highlight the post.

[2013-09-17 14:09] lefnire commented on #1540
yep, i'll fix this today. the achievement set was client-side in derby, rather than in habitrpg-shared - I just need to move it over

[2013-09-17 14:09] lefnire commented on #1543
yep, i'll fix this today. the achievement set was client-side in derby, rather than in habitrpg-shared - I just need to move it over

[2013-09-17 14:40] AdrienLemaire commented on #1543
Ok thank you :-)
On 18 Sep 2013 00:09, "Tyler Renelle" notifications@github.com wrote:

[2013-09-17 16:19] lefnire commented on #1394
Done. Ref'ing my last commit, we didn't need any complex APIv2 setup after all. In fact, we can probably remove the whole user._tmp nonsense, since we can `$rootScope.$watch('user.items.eggs')` and `$rootScope.$watch('user.items.hatchingPotions')`, see if any items were added. Another day another time, if it aint broke.

[2013-09-17 16:19] #1394 closed, assigned to lefnire

[2013-09-17 17:40] #1510 closed, assigned to nobody

[2013-09-17 17:41] paglias commented on #1045
Drops notification are back in but I think this still occurs, right^

[2013-09-17 17:48] paglias opened #1546 "Pets in stable not updated after potion is hatched"
I noticed that after having hatched a potion with an egg in the inventory the pets list is not updated until the next page refresh.

This probably happens because Angular dirty-checks everything but only in the current scope. And since the stable uses another controller then it doesn't work.

[2013-09-17 18:01] paglias commented on #1546
I can't replicate this in my local installation, maybe it only took a while for angular to update the view. Closing for now

[2013-09-17 18:01] #1546 closed, assigned to nobody

[2013-09-17 18:59] lefnire commented on #1397
fixed

[2013-09-17 18:59] #1397 closed, assigned to lefnire

[2013-09-17 20:14] mmarkey3 commented on #1336
This probably belongs on the Trello boards as an issue of balance rather than a "bug" anyway. :3 Thanks for the rewrite, the new app works great!  I'll wait until progress is visible again to bring this up again, though, since that's sort of necessary to the underlying issue.

[2013-09-17 21:30] Moxana opened #1547 "Tasks won't delete!"
I left my HabitRPG alone a long time in tavern rest mode and I'm finally coming back to use it and I need to delete a lot of outdated tasks (I rerolled so everything is neutral again) and I can't get any of them to delete! I hover over and get the little pointer hand but I can't click.

Is it something I'm doing wrong/don't have/don't have enabled?

[2013-09-17 21:35] hjalmberi opened #1548 "Dailies don't refresh daily"
97cd6acc-7f56-4066-a0e7-31a1f6b1b2f0
Day start is 8 am, time zone +4

Some days dailies refresh just fine, some days they just stay checked. It isn't related to the unchecked days, I have Saturday and Sunday unchecked, and the last time bug happened was Tuesday. There was no checking in to tavern before that.

[2013-09-17 22:05] mczuchnowski opened #1549 "Chat refresh button doesn't seem to work"
Whenever I click the refresh button in Tavern or Groups, it doesn't so anything. I can only see new messages when I refresh the whole page or when I post something myself. This could be something with my browser or my extensions, I'm not sure yet. Will do some experiments and let you know if I find any extension-chat-refresh dependencies.

Browser: Chrome
User ID: a5966c55-f839-49c8-8462-5400d2ee4

[2013-09-17 22:10] mczuchnowski commented on #1549
Tried in Incognito mode (no extensions) with a party member, still works as described above.

[2013-09-17 22:17] lefnire commented on #1547
i'm gonna need some info to diagnose, [follow these instructions](http://community.habitrpg.com/content/submitting-bugs) and I'll look into tomorrow or the next

[2013-09-17 22:18] mczuchnowski commented on #1549
Works the same with incognito mode (no extensions), after clicking the button a few times (Party chat) it even gave me the following error: 401: You don't have access to this group

Console:
Failed to load resource: the server responded with a status of 401 (Unauthorized) https://habitrpg.com/api/v1/groups/9d4f2a42-e34b-48a1-af2e-1c13e834fd02?

[2013-09-17 22:21] lefnire commented on #1549
great info, that'll give me a clue for when I jump in

[2013-09-17 22:38] lefnire commented on #1540
have to push back till tomorrow, but made big progress

[2013-09-17 22:38] lefnire commented on #1543
have to push back till tomorrow, but made big progress

[2013-09-18 14:29] paglias commented on #1045
We could

a) Delay notifications until modal is closed (see http://stackoverflow.com/questions/11952579/watch-multiple-scope-attributes-in-angularjs)
b) Use some css trick to show both together

[2013-09-18 14:33] paglias commented on #1045
Would go with **a** but the problen is that when a drop occurred is known to angular only after the server returns data (right, @lefnire?) while the gp/exp points are updated client side so they're not concurrent

[2013-09-18 14:42] lefnire commented on #1045
that's correct. I'd go with b personally, just give the growl updates a really high z-index. Currently they're hidden under username dropdown anyway, so that would solve two birds one stone

[2013-09-18 15:02] paglias commented on #1045
yes **b** is working, pushing now

[2013-09-18 15:02] #1045 closed, assigned to nobody

[2013-09-18 15:04] wc8 commented on #1544
Alternatively, **Tasks**
—or just call it _Onces_ :wink: and, as with Dailies, suggest function without the constraint of dictionary meanings.
(P.S. I jest about _Onces_.)

[2013-09-18 15:07] wc8 commented on #1539
I'm puzzled, you can do this already, can't you with Grey dailies?
Disable all day of the week buttons, eg. S M T W T F S.

[2013-09-18 15:20] lefnire commented on #1544
Not tasks. Tasks has been used historically as the general term for all the objects (todos, dailies, habits, rewards) and is also defined on the schema as such

[2013-09-18 17:11] paglias commented on #573
This is fixe now, which means that it doesn't trigger validation errors and works. But it breaks css when you have 4+ digits (10.01 or 1000) and it isn't specified anywhere that you can use silver, the icon is the gold one.

So we can close this unless you do want to add more silver-specific options & fixes.

[2013-09-18 17:14] paglias commented on #740
This should be working now.

[2013-09-18 17:14] #740 closed, assigned to nobody

[2013-09-18 17:16] paglias commented on #489
This should be fixed now.

[2013-09-18 17:16] #489 closed, assigned to nobody

[2013-09-18 17:26] paglias commented on #815
This shouldn't be an issue anymore with the rewrite

[2013-09-18 17:26] #815 closed, assigned to nobody

[2013-09-18 17:42] paglias commented on #1441
Duplicate of #1486

[2013-09-18 17:42] #1441 closed, assigned to nobody

[2013-09-18 17:48] paglias commented on #1451
The big delay when opening the option page is probably due to the fact that it loads all the controllers (there are 7 tabs and at least one - inventory - has more than one controller) together.

We could have a different route for each tab so that it should be a lot faster but that could means that tavern is reloaded every time (but maybe not since it's not reloaded when switching back to the task

[2013-09-18 17:50] paglias commented on #1434
Duplicate of #1358

[2013-09-18 17:50] #1434 closed, assigned to nobody

[2013-09-18 17:54] paglias commented on #913
Is this still a bug?

[2013-09-18 18:03] paglias commented on #1482
Also `tasks`

[2013-09-18 18:06] paglias commented on #1503
also socket.io doesn't run on heroku

[2013-09-18 18:10] paglias commented on #866
Fixed

[2013-09-18 18:10] #866 closed, assigned to nobody

[2013-09-18 18:11] paglias commented on #603
I'm going to add this, but @lefnire... what to do with old todos?

[2013-09-18 18:13] paglias commented on #730
This should be fixed as soon as we switch to subdocs for tasks

[2013-09-18 18:39] lefnire commented on #603
if we do this after we move to subdocs user.todos, we can give it a default value:

[code]

If we don't want to wait till then, I can run a migration script to set all completeds to `+new Date()`. I recommend we wait till we're using subdocs, we can tackle that this week or weekend

[2013-09-18 18:40] lefnire commented on #1503
You can config socket.io to use xhr polling (we were doing that with Derby on Heroku before), but yeah - no socket anyway

[2013-09-18 18:42] lefnire commented on #1482
oh that's a good idea, I hadn't thought of that!

[2013-09-18 18:43] paglias commented on #603
No problem waiting for subdocs :)
Il giorno 18/set/2013 20:39, "Tyler Renelle" notifications@github.com ha
scritto:

[2013-09-18 19:54] paglias commented on #1482
EDIT: read the comment below

[2013-09-18 20:20] paglias commented on #1482
The only solution seems to be moving script tags (for google adsense) outside of the template as they break everything.

There's a way to move them somewhere else with angular? Maybe using a directive?

[2013-09-18 20:36] lefnire commented on #1482
Most of the adsense code is presently in a directive, since it has to be rendered after linking. See public/js/directives/directives.js:habitrpgAdsense . Might be we just cut & paste all the current adsense code in the views, right into the directive so that the directive contains everything, instead of just transcluding the html? Do some experimenting with that

[2013-09-18 21:29] gwillen commented on #1157
I don't think I have permissions to reopen this, but it's still happening on the new site. The problem is that you need to be passing a 'distance' parameter to sortable. (I'm assuming from what I can gather that you're using Angular's sortable, which passes through to JQuery's sortable: here's the option I'm talking about. http://api.jqueryui.com/sortable/#option-distance)

The default is for any

[2013-09-18 21:38] lefnire commented on #1451
Two options I see:
1. Exactly what you're describing, using angular-ui-router for sub ng-views (this was something I saw too in research, definitely a possibility). Pros: easier to code, since we'd be letting angular-ui-router's do the grunt work. Cons: things aren't loaded permanently per session (as you described with tavern having to load each time you access it). This could _actually_ be a goo

[2013-09-18 22:24] AnastasiaStabie commented on #1359
I'm having the same issue.
I'm noticing an issue in "Dailies"

I have "1h Japanese Study" as one of my "Daily" quests and want to have it setup to be a goal only on mondays, wednesdays, and fridays. I set it up originally on my computer browser(Chrome Version 29.0.1547.66 m paired with Windows 7.) However, when I checked the same task on the mobile version the days (on/off) had been switched. It w

[2013-09-18 22:26] AnastasiaStabie commented on #1057
I'm noticing an issue in "Dailies"

I have "1h Japanese Study" as one of my "Daily" quests and want to have it setup to be a goal only on mondays, wednesdays, and fridays. I set it up originally on my computer browser(Chrome Version 29.0.1547.66 m paired with Windows 7.) However, when I checked the same task on the mobile version the days (on/off) had been switched. It was now enabled for S.T,TH,S

[2013-09-18 22:31] trueskawka opened #1551 "Too big a group"
Hey.

I can't see my group properly on my 11,6 inch netbook screen in Chrome. No horizontal scrollbar either.

![habit_team](https://f.cloud.github.com/assets/3491502/1169375/dbd27d68-20b1-11e3-9757-adcb2680adf1.jpg)

[2013-09-18 22:42] derekantrican opened #1552 ""Onlies" (Habits with only a "+" or only a "-") don't reset if clicked more than once"
As I understand it, Habits that are dubbed "Onlies" (because they have only a "+" or only a "-") are supposed to reset along with dailies because otherwise rewards would just diminish without going back up (and opposite for negative onlies).

The bug I am experiencing is thus: when I have clicked one of these (Such as "Worked on HW') more than once a day, it doesn't reset at the day turnover. If I

[2013-09-18 22:44] lefnire commented on #1045
Awesome!

[2013-09-19 01:03] Nolori commented on #1552
For me, it actually depends on how many times you clicked it. So, say you clicked it once, it resets the next day. If you click it more than once, it will reset in about two days. If you click it a bunch, (and it turns, say, blue) it will slowly go back up to green and yellow as the next couple of days pass if you don't click on them.

I'm not sure what the intended function is, but that's how it

[2013-09-19 01:10] lefnire commented on #1552
yeah, the algorithms has it slowly fall back to 0 over time. So if you click + once, the next day it theoretically should go back. If you smoked (-) 10 cigarettes in one day, it's not going to hit 0 again for a week or so

[2013-09-19 01:10] #1552 closed, assigned to nobody

[2013-09-19 01:14] lefnire commented on #1552
actually, as i recall the math:
- scoring is 1pt modified (by weapon, lvl, and task color)
- regression is .2pt

so even after 1 day for 1pt you probably won't 0-out, will take a little while. We had a math expert do all this, I don't even question it lol

[2013-09-19 01:26] lemoness commented on #1544
Okay then, To-Do or ToDo. I think the hyphen looks cleaner, personally.

On Wed, Sep 18, 2013 at 8:20 AM, Tyler Renelle notifications@github.comwrote:

[2013-09-19 01:30] SabreCat commented on #1544
"To-do" is the more standard English usage. It's a "To-do list", not a "Todo list".

[2013-09-19 01:36] SabreCat opened #1553 "Next equipment in line doesn't appear until refresh"
Firefox on Windows 7, uuid 24593eff-c4cc-43e3-950b-51f291a3468b (my test dummy)

Similar to #1020 but worse: if you purchase a new piece of equipment, you get the notification that you've bought a thing, and it appears on your avatar, but the next item to purchase doesn't appear in the shop until you refresh the Tasks page.

Note that my valiant tester here has a wooden shield, but Wooden Shield s

[2013-09-19 01:38] lemoness commented on #1544
Exactly! :D

On Wed, Sep 18, 2013 at 6:30 PM, Sabe Jones notifications@github.comwrote:

[2013-09-19 02:36] NotChrisPlease opened #1554 "API returning error 401"
I'm trying to call call the API from https://habitrpg.com/api/v1/user/task/taskname/up, but whenever I do I get HTTP Error 401 in response.

[2013-09-19 02:54] wc8 commented on #1551
Original plan was to limit party size. [P.S. I'm not sure the status of that.]

An alternative to scrollbars might be to scale each party member down, but that still will probably run into width limitations eventually.

[2013-09-19 02:57] wc8 commented on #1539
Closing this, since daily tasks with no HP loss is possible. Reopen/comment back if I missed something.

[2013-09-19 02:57] #1539 closed, assigned to nobody

[2013-09-19 03:05] pjf commented on #1539
You can complete a task and get XP/GP if it's not due on that day? If so, that's perfect. :) Thank you very much! <3

[2013-09-19 03:31] wc8 commented on #1316
Have you seen: [Timed Tasks/Alarms](https://trello.com/c/FwSlQrR5)?
I added a link to this ticket.
Current plan for Priority and Difficulty multipliers is here: https://trello.com/c/4C8w1z5h
As noted there, Urgency might be handled by Due Date and/or Start Date.

[2013-09-19 03:34] wc8 commented on #1311
Have you seen: [Gold Pots for Saving](https://trello.com/c/s7qi0EMU)?
I'll note the idea there for a percent-based division of gold. EDIT: percentage is a mentioned option.

[2013-09-19 03:54] wc8 commented on #1309
See [Perfect Day Bonus](https://trello.com/c/an2xJ1lX)

See [Ate Frog Bonus](https://trello.com/c/yJlBTla3) based on this ticket. Vote for it. (Or let us know there in the comments if the description missed something.)

[2013-09-19 03:55] #1309 closed, assigned to nobody

[2013-09-19 04:00] derekantrican commented on #1552
Ok. Thank you for the clarification. Per this http://goo.gl/GWC4Te I got confused (I thought they were supposed to entirely reset every day).

"and then to prevent them from becoming too useless or damaging we reset them back to 0 at the beginning of each day."

[2013-09-19 04:25] wc8 commented on #1358
https://trello.com/c/W46gHos0

[2013-09-19 04:29] paglias commented on #1057
If you're are using the iOS version of the app an update which should fix
you're issue is being processed by apple and should arrive in some days.
On android it should already be fixed.
Il giorno 19/set/2013 00:26, "AnastasiaStabie" notifications@github.com
ha scritto:

[2013-09-19 04:38] lefnire commented on #1057
went out today, so should update today / tomorrow

[2013-09-19 04:45] wc8 commented on #1308
@SabreCat Difficulty values: **easy x0.5, normal x1, hard x2** won the poll
Thus, brush teeth can be 1/2 as hard as a normal task, and 1/4 value of a hard task.
These differ from Priority values: x1 (normal), x1.5, x2

Overall I like the idea.
To make it clearer: on mouseover show _easy_, _normal_, _hard_, respectively.

[2013-09-19 04:51] wc8 commented on #1214
To vote head to this card on our Feature Request tracker: https://trello.com/c/DeJA1wan

[2013-09-19 04:53] wc8 commented on #893
This is: https://trello.com/c/HzlNeTQB right?

[2013-09-19 04:58] wc8 commented on #928
Closing for housekeeping, since it's probably best to follow-up on community site.

[2013-09-19 04:58] #928 closed, assigned to nobody

[2013-09-19 05:15] wc8 commented on #1349
You can weigh in
here: http://community.habitrpg.com/content/should-game-difficulty-be-adjustable-or-normalized-httpgoogl2tzve
here: http://community.habitrpg.com/content/habitrpg-too-easy
or here: #325 Difficulty Normalization

[2013-09-19 10:14] fragmental opened #1555 "Does the server have any thing like server push?"
I'm thinking of push notification and the way the gmail phone app always seems to have the e-mail at the same time the webmail does.

[2013-09-19 13:07] lefnire commented on #1555
no push notifications. we may investigate pubnub in the future, but we don't really have a need for it anywhere yet

[2013-09-19 13:07] #1555 closed, assigned to nobody

[2013-09-19 16:33] paglias commented on #1551
@wc8 that is anyway going to be a problem with small screens and phones. We could add horizontal scrolling but it's so ugly

[2013-09-19 16:34] paglias commented on #1157
@gwillen Reopened. Will give a look to it in some days

[2013-09-19 16:43] paglias commented on #1214
Then i think we can close it if it's going to be tracker on trello.

[2013-09-19 16:43] #1214 closed, assigned to nobody

[2013-09-19 16:46] #1358 closed, assigned to nobody

[2013-09-19 17:08] paglias opened #1556 "Popover with html code"
The group gems popover wasn't showing, now it works but angular-ui-bootstrap doesn't support using html code as popover content, so the result is this:

![schermata del 2013-09-19 19 06 10](https://f.cloud.github.com/assets/589911/1174798/ef81f4c8-214d-11e3-992d-e43b07a1c419.png)

There's an open pull request on angular-ui-bootstrap for this but even if it's merged it's not going to land in a vers

[2013-09-19 17:09] paglias commented on #1554
Are you sure you used the correct authentication headers? https://github.com/lefnire/habitrpg/wiki/API#full-api

[2013-09-19 17:17] paglias commented on #1451
I think that 2 wouldn't solve any performance issues, at least not the long time when opening the options page.

As for 1 (which I would go for, personally) I think we could save things like the tavern/groups not having to reload them every time in a session: actually if you open the tavern and swicth back to the tasks then when you go back to the tavern it doesn't loads because it's already, I th

[2013-09-19 17:18] paglias commented on #1551
Ideas on that are well accepted

[2013-09-19 17:53] paglias commented on #1482
I have pushed some code to **move-partials** branch, but it's not working, everything in ok with the html but the javascript `(adsbygoogle =...` inside the directive template is not executed. We really need to execute it there? There isn't another way?

I tried to execute it in the link function of the directive but doesn't work.

[2013-09-19 18:19] wc8 commented on #1551
How about translucent arrows so you can arrow right or left for more, as appropriate?

[2013-09-20 01:04] SabreCat commented on #1513
Sorry I haven't been working on this much yet! September is a busy month for me. Users' group meeting for my day job...

[2013-09-20 03:09] SabreCat opened #1560 "Bogus "Not enough GP" error"
Firefox on Windows 7, user ID 7f14ed62-5408-4e1b-be83-ada62d504931. Affects both beta.habit and main.

I currently have 1.96 GP, and can't purchase a Reward costing 1 GP:

![screenclip](https://f.cloud.github.com/assets/4501321/1178195/f1a06f42-21a1-11e3-9713-84164e330e1d.png)

[2013-09-20 03:41] kelseyr713 opened #1561 "Lost egg when I got another egg"
Last night, I got a fox egg. I don't have any hatching potions yet, so I couldn't do anything with it. I got a dragon egg today. When I went to check my inventory, the dragon egg was there, but the fox egg was gone.

Thank you for your help! :)

[2013-09-20 04:06] Shaners commented on #1561
Thanks for reporting this! What level were you at when you got each egg?

This is concerning since it always seems to be eggs getting killed.

[2013-09-20 04:09] kelseyr713 commented on #1561
Level 4 for both eggs! Right now, I'm at 82/180 for level 5. My user ID is 7aace286-d821-4d37-9a74-a58d484e0519 if you need it/that would help.

[2013-09-20 04:09] Shaners commented on #1539
Yep you should be able to. A daily not assigned any days just loses the penality it otherwise would have inflicted if missed.

[2013-09-20 12:53] paglias opened #1562 "log activities to view later"
Originally reported by @TheWebTech on HabitRPG/habitrpg-shared#19

---

---

## <bountysource-plugin>

Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/964816-log-activities-to-view-later?utm_campaign=plugin&utm_content=tracker%2F68393&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&

[2013-09-20 13:03] paglias commented on #1560
I can't replicate this on my local install. does it happens for every reward?

[2013-09-20 14:43] SabreCat commented on #1560
I discovered this morning that it may have been a display issue with my gold total, rather than an error in the "Not enough GP" message. I accrued some 60 silver from a Daily, and I ended up with 1 gold and less than 50 silver in change--suggesting I'd in fact had less than 1 gold when I was trying to purchase that 1-gold reward.

[2013-09-20 15:52] lefnire commented on #1529
Actually, I take that "last step of the tour" bit back. I forgot that there actually is a popover that shows up after a few clicks in the game, it's the first popover after the tour

[2013-09-20 16:06] paglias commented on #1553
Fixed, the watch expression wasn't working as expected (even tough it was called various times when the app was loaded)

[2013-09-20 16:06] #1553 closed, assigned to nobody

[2013-09-20 16:07] baconsaur commented on #942
Very cute frames! Is that last one the gryphon? Looks like feathers and pawprints!

I'd really like to find some time this weekend to put together backgrounds for the gryphon and t-rex. :)

[2013-09-20 17:48] paglias commented on #1020
Fixed

[2013-09-20 17:48] #1020 closed, assigned to nobody

[2013-09-20 17:59] lefnire commented on #1551
will check into bootstrap carousel

[2013-09-20 19:58] hjalmberi commented on #1548
It happened again, 8 more hours till they can refresh next time if you want to take a look

[2013-09-21 12:01] fuzzytrees commented on #942
Yes, glad you can tell! And the other one's for the t-rex. Go ahead and use
them!

On Fri, Sep 20, 2013 at 12:07 PM, baconsaur notifications@github.comwrote:

[2013-09-21 14:26] paglias commented on #1551
I've pushed https://github.com/lefnire/habitrpg/commit/332b4bd89949cc927077ff108b2f7fd6d57a40b9 which does the trick showing horizontal scrollbars when needed and will go un-noticed to most users.

@trueskawka can you check on beta.habitrpg.com if it's working fine for you?

[2013-09-21 14:42] trueskawka commented on #1551
I can't see a difference. We have 10 people in our team and I can see only 8.5.
![habit_team2](https://f.cloud.github.com/assets/3491502/1185820/f488186a-22cb-11e3-9539-ab21a67bee19.jpg)

[2013-09-21 14:45] paglias commented on #1551
Sorry @trueskawka, it may take a while to arrive on beta.habitrpg.com, don't know exactly how much. Anyway the result will be similar to this:
![schermata del 2013-09-21 16 29 29](https://f.cloud.github.com/assets/589911/1185832/69e837fc-22cc-11e3-8647-812b669b84c7.png)

Notice the horizontal scrollbar

[2013-09-21 14:51] paglias commented on #1157
@gwillen I've set it to 5px (https://github.com/lefnire/habitrpg/commit/3fb6f25c42d75e63f9c2b4a28d413cd1ba2ed1c1), let me know what do you think, if it's stil not enough I can tweak it

[2013-09-21 14:51] #1157 closed, assigned to nobody

[2013-09-21 15:04] lefnire commented on #1551
I haven't yet set up continuous deployment on Heroku, I'll delay the
manually when I get home tonight (EST) and then look into setting up CI
On Sep 21, 2013 10:45 AM, "Matteo Pagliazzi" notifications@github.com
wrote:

[2013-09-21 16:40] gwillen commented on #1157
Thanks @paglias! Is the change pushed to production? It still seems to be dragging at 1px for me in Chrome 29.0.1547.76 on OS X. The javascript file I'm getting is app-1057e01b.js, and it doesn't appear to contain the change. (I searched for 'axis: "y"' in the minified JS and inspected the one match, which looks like the pre-patch source.) I did try shift-refresh and clearing the cache.

[2013-09-21 16:48] paglias commented on #1157
No it's not in production, I don't know when it will be pushed but I think
at last tomorrow.

[2013-09-22 00:20] octern opened #1564 "browser warns me that SSL certificate just expired"
`habitrpg.com uses an invalid security certificate.
The certificate expired on 9/21/13 16:59 . The current time is 9/21/13 17:18 .
(Error code: sec_error_expired_certificate)`

[2013-09-22 01:39] baconsaur commented on #942
Here's one of them!
![gryph_framed](https://f.cloud.github.com/assets/4521047/1186829/8efbfef6-2327-11e3-8ab4-b2921bdefd8a.png)

[2013-09-22 02:29] fragmental opened #1565 "front.jade ReferenceError habitrpgpixel.png"
http://pastebin.com/1n8bUBEL  When I run develop, it all loads, but when I go to the localhost:3000, this is what I see.

It's looking for "/bower_components/habitrpg-shared/img/logo/habitrpg_pixel.png" which doesn't exist, but habitrpg_pixel.png does exist in "/public/logo/",  "/public/bower_components/habitrpg-shared/img/logo/",  and also "/node_modules/habitrpg-shared/img/logo/".

[2013-09-22 02:47] fragmental commented on #1565
Since I seem to be the only one having this problem, I assume I did something wrong?

[2013-09-22 02:48] lefnire commented on #1565
`npm install && bower install`?

[2013-09-22 03:05] lefnire commented on #1564
Follow https://twitter.com/habitrpg/status/381614459510222848

[2013-09-22 03:05] #1564 closed, assigned to nobody

[2013-09-22 06:29] mrmowgli opened #1566 "Security certificate (HTTPS) pops up as expired."
Https connections are currently broken (They say untrusted connection) because both Firefox and Chrome say the certificate has expired.  Please renew ASAP!

Thanks

[2013-09-22 06:35] LordDarkly commented on #942
I think I may be out of my league here. You are a master, my good sir.

[2013-09-22 07:03] fragmental commented on #1565
Same.  I'll try this again with a new clone tomorrow.

[2013-09-22 07:38] fragmental commented on #1566
The certificate has been renewed, but it doesn't show it.  I think it's a problem with the provider of the certificate.  It is safe to ignore the error and proceed to the site.  It should be fixed soon.

[2013-09-22 09:57] paglias commented on #1565
I can't replicate this but anyway there was an error in the code of `getBuildUrl`, fixed in https://github.com/lefnire/habitrpg/commit/4ded02e5dca7c69ecf4726a9f63c006e02c53885

[2013-09-22 10:03] paglias commented on #1551
Ok, @trueskawka should be in production but since there are some problems actually (http://blog.habitrpg.com/post/61931364067/woah-whats-with-the-site) you can try beta.habitrpg.com .

[2013-09-22 10:03] #1551 closed, assigned to nobody

[2013-09-22 10:04] paglias commented on #1157
@gwillen should be in production but since there are some problems actually (http://blog.habitrpg.com/post/61931364067/woah-whats-with-the-site) you can try beta.habitrpg.com .

[2013-09-22 10:04] #1565 closed, assigned to nobody

[2013-09-22 12:28] #573 closed, assigned to nobody

[2013-09-22 12:32] paglias commented on #1548
This should be the same as bug #1057

[2013-09-22 12:32] #1548 closed, assigned to nobody

[2013-09-22 13:09] trueskawka commented on #1551
Maybe it's a Chrome +  Win7  thing, but it doesn't work...

![image](https://f.cloud.github.com/assets/3491502/1187597/221e12ae-2388-11e3-8202-dd86c6d19cba.png)

[2013-09-22 13:58] corylowe commented on #1566
Thanks.

[2013-09-22 14:21] damascus1286 commented on #1560
I just encountered the same problem. I have 60 gold and 96 silver and it won't let me buy the red helm, marked as costing 60 gp.

[2013-09-22 16:14] lefnire commented on #1566
SSL cert fixed. Don't know what happened there, so I just deleted the cert & DNS entries, re-uploaded cert & re-created DNS entries. Fixed :/

[2013-09-22 16:14] #1566 closed, assigned to nobody

[2013-09-22 16:56] lefnire commented on #1551
I still haven't added CI, I'm working on that now. I _just now_ manually deployed to beta, so give beta a second go. It works on my Mac, but Macs hide scrollbars unless accessed which makes this work perfectly (visually) - I want see what this will look like on Windows, where scrollbars are always present.

Edit: Woops, didn't see @paglias 's screenshot. Ok, merging to master & deploying

[2013-09-22 17:27] trueskawka commented on #1551
It does the trick.

![image](https://f.cloud.github.com/assets/3491502/1187978/2f653d06-23ac-11e3-8529-e62310587baf.png)

[2013-09-22 17:52] lefnire commented on #1551
awesome!

[2013-09-22 18:14] mikefinney commented on #1566
Nice job all! :)

[2013-09-22 20:46] fragmental commented on #1565
Fixed.  Thanks!  I've had this problem for about a week.

[2013-09-23 14:51] Shaners commented on #942
Beautiful yea, that is exactly it! I like the dithering on the gusts, good stuff.

[2013-09-23 14:52] Pandoro commented on #942
Awesome <3 Can't wait to see these in the game!

On Mon, Sep 23, 2013 at 4:51 PM, Shane Lister notifications@github.comwrote:

[2013-09-23 16:03] Shaners commented on #1048
Got my local working again. Here is the data for 1,000 drops!
https://f.cloud.github.com/assets/2374703/1192228/77a28674-245f-11e3-9b31-e38fbf5bbc77.png

## Potions v.s. Eggs

![potionsvseggs](https://f.cloud.github.com/assets/2374703/1192313/fc107d5c-2460-11e3-9573-5c27ec344968.png)
So the ratio between potions and eggs seems fine.

## Egg Drop Distribution

![eggdistribution](https://f.cloud.git

[2013-09-23 16:13] lefnire commented on #1451
Well Tavern is like that because I manually coded it to be such via #2 above, it was re-loading each time before I added that functionality. So if we go with #1 (which I'm leaning towards personally as well), we're not going to get that Tavern mechanism unless we code it in. Sounds like #1 it is then!

[2013-09-23 16:15] lefnire commented on #1482
I'm not quite sure to be honest. I'm a bit newbie when it comes to directives. I may play with this sometime when I get the chance to see what issues you're hitting. Do you have a branch?

[2013-09-23 16:20] paglias commented on #1482
It's on move-partials branch

[2013-09-23 16:29] paglias commented on #1482
Anyway I've read that js code in directve's template property is not executed by angular so the only soution is to move it outside of it.

[2013-09-23 17:02] JMTyler commented on #1485
If it's unlikely that this is going to become available any time soon, maybe it would be a good idea to quickly toss in an alert similar to the one on progress graphs? i.e. "This feature is not yet ported from the original site."

I've tried to add due dates to my Todos a couple times (leisurely, no big deal), then finally came here to report it as a bug, but of course perused existing issues firs

[2013-09-23 18:30] ozziefallick commented on #1485
I think that would be wise. Since school just started for me and I had a lot of competing obligations, I haven't gotten to give Habit nearly the attention I've been wanting to, but that should hopefully be changing soon!

[2013-09-23 18:47] therufs commented on #1048
Today I got (what appears to be) my ~9th consecutive potion.  :/  Is the egg deletion issue still ... um, an issue?

[2013-09-23 20:18] Shaners commented on #1048
@therufs as far as I have seen it isn't an issue any longer.

[2013-09-23 22:33] lefnire commented on #1048
Bravo @Shaners! I'm going to put this in our YC application, "as you can see here (laser pointer)". The egg/potion conspiracy theories look sufficiently debunked, I'm closing this ticket.

@therufs the egg-deletion issue has been fixed, and many people have found plenty of eggs. Do you not have any eggs whatsoever? Keep an eye out for any chrome errors, see the bottom of [submitting bugs](http://c

[2013-09-23 22:33] #1048 closed, assigned to nobody

[2013-09-23 22:44] lefnire commented on #1048
I need to write up a detailed self-service account diagnosis. But for the technically-inclined, what you can do is `GET /api/v1/user` (curled [with your credentials](https://github.com/lefnire/habitrpg/wiki/API)), save it as a json file locally, import as a record in mongodb, [setup the local server](https://github.com/lefnire/habitrpg/blob/master/README.md), then run the server and sign in with y

[2013-09-24 04:27] Shaners commented on #1048
@lefnire Whoa, awesome! I should have looked into the API sooner...

[2013-09-24 06:49] lemoness commented on #942
SO COOL!!

On Mon, Sep 23, 2013 at 7:52 AM, Pandoro notifications@github.com wrote:

[2013-09-24 13:59] LordGrowl opened #1571 "Full username appears in party and guild leader messages, rather than display name"
My name appears as "LordGrowlTheAwesome" in my party and guild leader messages, rather than my display name of "LordGrowl".

Party leader message:
![24-09-2013 14 55 35](https://f.cloud.github.com/assets/5367204/1200225/5c5bbc1a-2521-11e3-8a0b-4434be215f40.png)

Guild leader message:
![24-09-2013 14 55 45](https://f.cloud.github.com/assets/5367204/1200227/5e2509fc-2521-11e3-949d-4c829105170c.png)

[2013-09-24 15:19] ghost commented on #1540
I am not getting streak achievements, either. Is this still a problem being worked on, or has this thread shifted to Ultimate Gear achievement?

[2013-09-24 15:28] lefnire commented on #1540
Not fixed yet, on my plate - laid some groundwork for the fix, but it's not
100%

On Tuesday, September 24, 2013, sbkent wrote:

[2013-09-24 16:20] baconsaur commented on #942
Glad you guys like it! :D

I'm still having trouble deciding what to do with the t-rex.

[2013-09-24 16:25] gwillen commented on #1157
Verified on beta that it works. Thanks!

[2013-09-25 01:42] fuzzytrees commented on #942
Wow, that is really great! Maybe for the t-rex you could have a sort of
barren landscape with a volcano erupting in the background?

On Tue, Sep 24, 2013 at 12:20 PM, baconsaur notifications@github.comwrote:

[2013-09-25 03:29] Gaelan commented on #1529
@lefnire Should I figure out random gear? Or should I wait because of the `habitrpg-shared/helpers:userSchema()` removal?

[2013-09-25 15:06] storian commented on #775
I would like to suggest an alternate to this idea, specifically for the useless hatching potions the game now generates: trade useless hatching potions back to the game for a useful one.  Context: I currently have all Base, White, and Desert pets.  But I pretty much only receive Base, White, and Desert potions from the game.  At this time these potions are not only useless, they are annoying, beca

[2013-09-25 15:33] Shaners commented on #775
Vendoring useless items for gold is probably going to be the solution at least as a first step. Also keep in mind when new pets are released you'll have need for those base, white, and desert potions again so you probably don't want to zero out on them completely. Trading common potions for rarer ones begins to eat at the already lack luster monetization, so if added would have to come at a high p

[2013-09-26 01:01] ArcticOokami opened #1573 "Habit Task opens up to "Edit Mode" when Page is Opened/Refreshed"
Whenever I get to the Task Page from a link, a certain task in my habits 'opens up' to the 'edit mode'.  Same thing happens if I refresh the page.  Going from 'Options' to 'Tasks' doesn't affect it, though.

I'm using Chrome and the same thing happens in Firefox.

[2013-09-26 03:17] SabreCat commented on #1529
How would random gear work? At the moment, there's only one set of linearly improving gear, though I get the impression there will be more variety once classes are up and running.

[2013-09-26 16:59] lefnire commented on #1529
I think @Gaelan  means the avatar customizations (pink v yellow shirt might be the "gear" referred to?)

In any case, let's put this tick on hold (@Gaelan don't do anything yet) until I've fully removed helpers:userSchema() in favor of user.js:Schema. I'll ping back here when that's done - or I might just implement it myself at the same time, since once we're using mongoose schema, avatar randomiz

[2013-09-26 21:52] Gaelan commented on #1529
Yeah, that's what I meant. My bad.

[2013-09-27 00:18] katfang commented on #1509
Just a note, this happened to me when I invited someone to the party (and I was not the original party creator (I think)). In addition, when my friend joined, she saw herself on top as well.

[2013-09-27 01:06] lemoness commented on #775
Yeah, our monetization scheme could use some help.

Maybe pay a gem to trade in potions? But again, potions for gold is most
likely to be the result for the interim. I think there's a Trello card to
debate this...

On Wed, Sep 25, 2013 at 8:33 AM, Shane Lister notifications@github.comwrote:

[2013-09-27 03:08] dbueller commented on #775
I have so much gold. Maybe I could pay to get rid of some of these potions?
On Sep 26, 2013 9:06 PM, "lemoness" notifications@github.com wrote:

[2013-09-27 06:40] mclois opened #1576 "Disappearing lion"
Two days ago I got a lion cub egg. All my hatching potions were base, white and dessert, and I already had those lions, so I bought a golden potion and hatched a golden lion. The next day I had no golden lion, and I had a skeleton hatching potion!

Had I seen the skeleton potion the day before I would not bought the golden one, so I am almost sure it was not there, but I cannot be 100% certain. Th

[2013-09-27 19:52] Shaners opened #1577 "Wobbly Stable on Hover"
This is kind of cool but I am guessing not an intentional effect?
![wobblystable](https://f.cloud.github.com/assets/2374703/1228915/c5f19bd4-27ad-11e3-9190-1586bf889430.gif)
Happening in chrome but not firefox.

When you hover over an item in the stable it changes how long that line is. Will go back to the original size after mouse exit.

[2013-09-27 20:00] Shaners commented on #1577
Actually this is really fun!

[2013-09-27 21:45] lefnire commented on #1577
noted. Ps, how do you make those gifs?

[2013-09-27 22:00] Ohrange opened #1578 "Frozen blue daily"
![h](https://f.cloud.github.com/assets/5556164/1229718/069ed568-27c0-11e3-9a0f-28f1f7bef5ec.png)
This is on my sister's account. She created the shower daily and within a few minutes it had turned blue and is unable to be completed, edited or deleted. As you can see, there is no tick box.

I'm not sure if it's related but she's also been receiving random huge bouts of points. These are dishearteni

[2013-09-27 23:13] kaenoku commented on #1578
I have the same problem

[2013-09-27 23:59] Nostos opened #1579 "Problem with Guild Gems mouse-over window"
Hello.

This is definitely not a big problem, but I'll write it anyway (it doesn't seem to be in the issues list).

There seems to be an error in the Group page. When you move the mouse over the "Guild gems" picture, a small window appears with the following text:

"Guild Bank
Gems which your Guild leader can use for prizes in the upcoming <*a target=_blank href="https://trello.com/card/challenges

[2013-09-28 03:46] Ohrange commented on #1578
Kaenoku, are you having the points issues too or just the stuck item?

[2013-09-28 06:15] Shaners commented on #1577
Ideally with a screen capture to video program then video frames to layers in PS but had no admin rights at the time I made this so I just took a bunch of auto screen shots with hot keys while moving my mouse around.

[2013-09-28 06:15] kaenoku commented on #1578
Oh sorry, just the stuck item Probably shouldve specified.

[2013-09-28 07:03] katfang commented on #1561
Had a similar issue. I hit Level 4 and received a Wolf Egg and a Desert Hatching Potion (as far as I can tell, it was for leveling, but I wasn't looking to closely). Later, closed the window and then went back to HabitRPG and got a notification that I had unlocked the drop system and now had a Flying Pig Egg. No Wolf Egg anywhere, but I still have the Desert Hatching Potion

[2013-09-28 07:05] katfang commented on #1445
Not wholly sure where to leave this comment, but this seems at least somewhat related. When I unlocked the stable, the Veteran Wolf was already there. I don't actually have the pet, though...?

[2013-09-28 09:21] Nostos opened #1580 "User double-add does not disappear"
After adding a friend of mine to my party, I involuntarily clicked "Send invite" with the same user ID. A red bar with "400: User already pending invitation." appeared under my character menu, and I expected it would disappear in a few seconds; however, it did not, even after changing panel, and in order to remove it, I had to refresh the page.

Not a big deal, indeed, but I'm telling this anyway

[2013-09-28 16:00] lefnire commented on #1445
it's there but you don't have it? what do you mean?

[2013-09-28 17:31] Shaners commented on #1445
@katfang can you see the veteran wolf in your stable now? Can you click on it to use it as a pet?

[2013-09-28 17:43] GuyDudeman opened #1581 "Daily streaks not giving achievement."
This may be due to the transition between websites (I started a day or two before the transition) but I have 1 daily with a 23 streak, 1 with a 22 streak, and 1 with a 21 streak, I think I did restore streak on the 21 day one, but the other two I got over a period of 21+ days. The achievement page still claims that I have 0 21-day streaks on Dailies.

[2013-09-28 17:53] Shaners commented on #1581
Same as #1540, can follow up there if you'd like.

[2013-09-28 17:54] GuyDudeman opened #1582 "Possibly exploitable Pet bug"
I hatched a dragon with the zombie potion, I didn't have a zombie dragon in the stable, I refreshed the page and after refreshing I had the dragon, but I also still had my potion and egg. I decided to see if the page just hadn't updated to get rid of the egg, so I tried to hatch the dragon with the white potion, again, nothing in my stable, again I refreshed the page, this time the dragon egg and

[2013-09-29 02:00] katfang commented on #1445
@lefnire As far as I can tell, I never hatched a wolf. It was there as soon as I unlocked the stable. Is this supposed to be right? I did also have a wolf egg that disappeared (I never hatched it), but I think that the wolf egg was still there after I saw the Veteran Wolf. I mean that the egg disappeared afterwards.

@katfang Yes, I see it in my stable, and I can click on it and use it.

[2013-09-29 13:31] paglias commented on #1445
If you signed up before the 4th of september it's normal that you have the veteran wolf, it's been given to anyone who signed up before that date

[2013-09-29 13:40] #1581 closed, assigned to nobody

[2013-09-29 13:45] paglias commented on #1561
@lefnire could it be https://github.com/HabitRPG/habitrpg-shared/blob/rewrite/script/algos.coffee#L180 that should be an array so multiple drops don't override themselves? We discussed that a while ago when rewriting the site I think

[2013-09-29 13:50] paglias commented on #1578
@Ohrange @kaenoku thanks for the bug report! can you check wheter there are some javascript errors, on chrome you can check pressing CTRL+Shift+J and reporting back what you're seeing

[2013-09-29 13:53] paglias commented on #1577
yeah this is there since I rewrote the stable.... it's happening only with some pets, so it's probably the image

[2013-09-29 13:54] paglias commented on #1577
not it's not the image because it also happes hovering the missing-pet icon

[2013-09-29 13:57] paglias commented on #1579
Thanks for reporting, I'm closing this because it's already reported as #1556

[2013-09-29 13:57] #1579 closed, assigned to nobody

[2013-09-29 14:48] paglias commented on #1577
Ok should be fixed in https://github.com/lefnire/habitrpg/commit/bb8bbe4e0f80003cf41ba4b96ac5817e81313947 (I referenced the wrong issue but it's ok).

[2013-09-29 14:48] #1577 closed, assigned to nobody

[2013-09-29 14:52] #1419 closed, assigned to nobody

[2013-09-29 15:08] paglias commented on #1571
Are you still able to replicate this? Always? because I was able but only once than it started working fine

[2013-09-29 15:13] LordGrowl commented on #1571
Yup:

![29-09-2013 16 11 27](https://f.cloud.github.com/assets/5367204/1233258/9e07989a-2919-11e3-909f-2767e3c2e866.png)

[2013-09-29 15:15] paglias commented on #1571
I really don't understand:
![schermata del 2013-09-29 17 14 57](https://f.cloud.github.com/assets/589911/1233271/facd4fd4-2919-11e3-8f85-7ae49508cc4d.png)

[2013-09-29 15:17] LordGrowl commented on #1571
Well I wouldn't post an easy one for you on here, would I?  >=P

Right, I'm using Mozilla Firefox 23.0.1 (latest version) with zero cache. Windows XP Professional SP3, if that helps.  I'll try Google Chrome when I get home from work and see what I get from that for you.

[2013-09-29 15:23] paglias commented on #1571
It was there then I edited some code to debug it and at some point disappeared, now with the old code the bug disappeared at least on my local install.

For anyone else trying to fix this: the code is ok and it's used correctly elsewhere in the app but sometimes the second argument to the `username` helper is passed as `undefined`

[2013-09-29 18:52] kaenoku commented on #1578
Umm..I'm not really sure what I'm looking for? This was under the 'console' tab:

Uncaught TypeError: Cannot call method 'appendChild' of null graphics.js:17
AdSenseGraphics.drawSCurveWithCanvas graphics.js:17
(anonymous function) graphics.js:18
(anonymous function) graphics.js:18

Is that what you mean?

[2013-09-29 19:15] paglias commented on #1578
Yes it was that but sadly there's no clue of an error or something like that. Thanks anyway! Did this happened only with one daily or more?

[2013-09-29 19:23] paglias commented on #1578
@kaenoku what do happens when you try to delete it? Could you give another shot at the console after having tried to delete the daily? Thanks

[2013-09-29 19:45] kaenoku commented on #1578
It's just the one daily that's stuck. When i try to delete it, there's the regular popup thing that asks if I want to delete it or not. I click yes and the popup disappears, but the daily is still there.
This is what I get in the console after trying to delete:

TypeError: Cannot call method 'indexOf' of undefined
    at h.a.remove (https://beta.habitrpg.com/app-571bf273.js:15:15425)
    at https:

[2013-09-29 20:08] ozziefallick commented on #1485
@lefnire: Am I supposed to be using that Angular UI directive, or writing my own based on it?

[2013-09-29 21:21] lefnire commented on #1485
I'd say use the AngularUI directive. We're already using AngularUI for a
few other bits, so it'll be an easy drop-in

On Sun, Sep 29, 2013 at 4:08 PM, J. Ozymandias Fallick <
notifications@github.com> wrote:

[2013-09-29 22:38] ozziefallick commented on #1485
Sounds good. What's the procedure for adding a module to the codebase?

[2013-09-29 23:46] lefnire commented on #1485
bower install {package} --save
On Sep 29, 2013 6:38 PM, "J. Ozymandias Fallick" notifications@github.com
wrote:

[2013-09-30 00:06] ozziefallick commented on #1485
None of that `angular.module('myModule', ['ui.bootstrap']);` stuff? I noticed there didn't seem to be any in the rest of the codebase.

[2013-09-30 03:58] ACRPG commented on #1561
i had about 6 eggs saved in my inventory, and today when i logged on, the page acted as though i was new to the system ("you've unlocked the drop system!") and deleted all my saved eggs. :(
everything else (e.g., all the health points i've lost, lol;  my level; my armor, etc) seem to be the same
i'm on level 22

[2013-09-30 08:15] Ohrange commented on #1578
I'm the same, with just the one daily that's stuck.

Here's my console before trying to delete:
Sync: Queue is empty app-571bf273.js:15
3
Uncaught TypeError: Cannot call method 'appendChild' of null graphics.js:17
Given URL is not allowed by the Application configuration.: One or more of the given URLs is not allowed by the App's settings.  It must match the Website URL or Canvas URL, or the domai

[2013-09-30 09:46] AndreCaseyScott commented on #1318
I realize I should be discussing more of this here instead of pull requests... latest thoughts at #1583 , but plan to write-out-loud here soon.

[2013-09-30 12:25] jepler opened #1585 "Drops and the late game"
I know that according to issue #1048, the drop system is considered to be working as designed, but I still feel that something needs to be done about egg and hatching potion drops for the late / "end" game.

I wrote my own Python simulator of the drop system at https://gist.github.com/jepler/6763003 which runs until the necessary 90 eggs and 90 potions were dropped to give a user the ability to ha

[2013-09-30 13:02] kriscrat commented on #1561
Same happened to me. Still have all my potions, but all my old eggs disappeared. 

From my Android phone on T-Mobile. The first nationwide 4G network.

-------- Original message --------
From: ACRPG notifications@github.com
Date: 09/29/2013  8:58 PM  (GMT-08:00)
To: lefnire/habitrpg habitrpg@noreply.github.com
Subject: Re: [habitrpg] Lost egg when I got another egg (#1561)

i had about 6 eggs save

[2013-09-30 14:16] CharlesLove opened #1586 "iPhone App login using API token generates "We're Offline" error"
I'm not sure if this also happens with regular accounts, but I created my account using Facebook on the main site. When I try to login using the user id and api id, a "We're Offline" message appears at the top. I can not login, but if I shut down the app and re-run it a generic account is shown and I can access the default lists of things. Probably another bug.

Running iPhone 4, 7.0.2

[2013-09-30 14:21] paglias commented on #1578
@kaenoku and @Ohrange thanks a lot!

Can you ask you another little help?

When you open the console there are on the top of the panel other tabs, you should switch to the "Resources" tab:

![schermata del 2013-09-30 16 09 29](https://f.cloud.github.com/assets/589911/1237579/c0d07678-29da-11e3-93e6-da48aaa0b6d6.png)

Then on the sidebar on the left expand the "Local Storage" list and select habitr

[2013-09-30 14:27] paglias commented on #1578
Sorry @kaenoku and @Ohrange a simple logout should be enough :)

[2013-09-30 16:15] strawberryjello commented on #1561
My experience was similar to katfang's. I got a panda cub egg at level 4, then after logging out and back in I got a dragon egg (I might have leveled a little in between); the panda cub egg was gone. After another re-login, the dragon egg was replaced by a bear cub egg. This happened all in one day, within a few hours; so far it hasn't happened again. I still have the bear cub egg.

[2013-09-30 19:35] jepler commented on #775
As I mentioned in #1585, in the current system a player will need an average of 979 drops until she gets the 90 eggs + 90 potions needed to fill the stable, which is more than 2.5 years at two drops a day; she will likely have an excess of 57 of one kind of egg and more than 100 of some potion (a total of about 890 extra drops).  So clearly something needs to be done, if only "stacking" the eggs a

[2013-09-30 19:37] gkatsev commented on #775
Like people have said above, trading between users and the game would be great. Between users, it would just need approval of both users and with the game it could be like 3 base options would get you a white, 3 white would get you a desert and so on. Probably should be more balanced but something along those lines.
Also, what exactly is a `token`?

[2013-09-30 20:03] ghost commented on #1586
I have the same problem. Can't get Habit to run on my iPhone at all. Always says offline.

[2013-10-01 00:28] kaenoku commented on #1578
Ok I tried it. Still stuck. :\

[2013-10-01 00:43] ACRPG commented on #1561
It just happened to me a second time. Once again I got the "new user" messages (e.g. "Use the party system!").

[2013-10-01 01:12] Gaelan opened #1587 ""Locked" Tasks"
It would be nice to have a flag on tasks that disables checking (or clicking in the case of habits) it from the UI, and only allowing changes from the API. This might ruin the idea of a paid tier though.

[2013-10-01 02:38] Ohrange commented on #1578
Yup, mine's still stuck after that too.

[2013-10-01 04:55] derekantrican commented on #775
@gkatsev tokens are the same as gems

@lemoness Saw the weekly update! I'm voting for "Sell them back for gold"!

[2013-10-01 07:07] AndreCaseyScott commented on #1318
Still unsure of what framework to use. Markdown files would be the most portable files, as they can be parsed easily to HTML or any other format.

So far options are:
- Jekyll using GitHub Pages (allows for user-friendly editing via [Prose.io](prose.io))
- [Wintersmith.io](wintersmith.io) which is a full fledged flat-file CMS
- [Daux.io](http://daux.io/), which I just found. Specifically for docum

[2013-10-01 13:19] paglias commented on #1587
Hi, can you explain this a little more? I can't understand the purpose

[2013-10-01 13:25] Gaelan commented on #1587
@paglias If I use the API to create a task based on a todo item from some other site, it would be useful to prevent checking it from the HabitRPG GUI and only allow checking it via the other site.

[2013-10-01 13:26] paglias commented on #1587
ok understood!

[2013-10-01 14:46] wc8 commented on #775
My vote: enable both _sell them back for gold_ and maybe also _gem(s) to trade them_.
Reasons:
1) Selling them back for gold reduces over-supply of potions and eggs, keeping them valuable
2) Unwanted potions and eggs are most likely rewards for progress, so let them be useful for health potions and rewards
3) It's likely people will keep asking for trade option. So, if they don't want to pay a tra

[2013-10-01 15:24] wc8 commented on #1585
Closing, follow up on the Pets Suggestion thread.

[2013-10-01 15:24] #1585 closed, assigned to nobody

[2013-10-01 20:22] lemoness commented on #775
I am with @wc8 100% - I was actually dwelling on this last night and came
to the same conclusion. Due to ease of implementation, the
sell-back-for-gold would probably come first, but I think that the
trade-for-a-gem option, if kept simple, could be very useful and also a
good, creative use of gems. It could maybe even be the first step of the
Crafting system we've bandied about for a bit.

Let's m

[2013-10-01 20:44] Shaners commented on #775
It'd have to be more like 20 base potions for 1 golden potion or it would never make sense to ever buy a golden (since you could buy base or common for cheaper.)

-Shane

-------- Original message --------
From: lemoness notifications@github.com
Date: 10-01-2013  1:22 PM  (GMT-08:00)
To: lefnire/habitrpg habitrpg@noreply.github.com
Cc: Shane Lister shane@atramentous.com
Subject: Re: [habitrpg] Pet

[2013-10-01 20:59] Shaners commented on #775
Oops that doesn't really make sense since our gem cost is off or likely rounded up if less than zero. But with a trade up mechanic the cost mechanics would have to change too.

[2013-10-01 23:13] lemoness commented on #942
Great news, guys - we're gearing up to start actually implementing the Mount System!

BUT, before we can do that, we need those of you who contributed to the recolors (yes, that's right, a billion years ago) to contact me at leslie@habitrpg.com so that you can give us explicit permission to use them in the game/get your Contributor rewards!

SO! That means that I need @fuzzytrees, @ashjolliffe, @b

[2013-10-02 00:54] lemoness commented on #775
Noted - I was just tossing out numbers. If people want the trade model,
then we need to do some number crunching. One method might be paying more
gems to trade with fewer potions?

Example (with made up numbers)

10 base potions + 1 gem = 1 gold potion
8 base potions + 2 gems = 1 gold potion
6 base potions + 3 gems = 1 gold potion
2 base potions + 4  gems = 1 gold potion

Games like Flutter use th

[2013-10-02 01:04] gkatsev commented on #775
I still think that requiring a gem is not a good thing. Perhaps it should be potions+gold or something.
While I don't think habitrpg will necessarily be affected the same way, I know that some games that do in-app purchases but are still free to play can reach a state where you cannot progress any further without paying.
Though, I guess the other option for is to require gems but also allow tradin

[2013-10-02 04:24] Shaners commented on #775
@gkatsev currently you can get all the pets, except for rare, without spending any gems... you'd just have to be extremely lucky or play Habit for a long time. That part is probably not going to change because Habit needs the 'long game' to keep people interested. Also currently pets don't do anything besides being your faithful companion through all your trails and tribulations to self improvemen

[2013-10-02 04:32] Shaners commented on #1556
This may sound stupid... but maybe we can just remove the html for now?

[2013-10-02 05:40] lefnire commented on #942
@randallstanhope I knew it was you! I said "allie ask if it's randallstanhope" and she wouldn't ask. I'm so heppy :)

[2013-10-02 06:03] rrigor opened #1589 "Party member doesn't show up"
I (rgorman) show up in my friend's account as in his party, but he does not show up in my account as in my party.

[2013-10-02 06:15] nathander commented on #942
@lefnire What a crazy coincidence!

[2013-10-02 12:53] onlysal commented on #1057
Have a custom day start/end of 3 a.m. (3 on the 24 hr clock) If I go in after midnight they don't reset for the next day. And they used to...

[2013-10-02 14:12] wc8 commented on #775
Just to make sure I'm following this, the "trading" we're talking about is **between users**, not selling back to the marketplace, correct?

I did not mean to propose that users be able to trade drops back to the market for gems or other potions (except maybe a health potion). I was referring to these two options:

1) sell drops back for gold
2) pay exchange fee (gem/gems) to trade drops _between

[2013-10-02 14:29] wc8 commented on #775
P.S. re exchange fee:
As @Shaners said, drops are free with patience, for a fee (gems) you can speed up the acquisition.
Since trading is a way of speeding up your collection, an exchange fee seems appropriate.

[2013-10-02 14:31] wc8 commented on #1350
I think this is resolved, no?

[2013-10-02 19:01] lefnire commented on #1350
Alas, http://gyazo.com/078c0be70300f5d202973ed6d22675e5 . We're not going
to deal with this until our Bootstrap 3 upgrade though

On Wednesday, October 2, 2013, wc8 wrote:

[2013-10-02 19:08] lefnire commented on #1556
yeah, we can either remove the html or not use angular-ui for the popover. Either would be a pretty quick fix

[2013-10-02 19:45] Nelmalih0 opened #1590 "Excuses"
I know that you are probably working on some kind of skip button for dailies, but i have an idea for it.

Excuses

When you skip a daily, a text box will pop up asking you why you are skipping it that day, the next day you will get a pop-up (or some kind of reminder of some sort) that you skipped that daily and why, and it will ask you if it is a legit reason to skip it (sometimes something seems

[2013-10-02 20:57] lefnire commented on #1576
will look into this when i can, i'll add some gems to your account to buy back missing pets in the meantime

[2013-10-03 02:11] jepler commented on #964
I'm also seeing this on dailies.

An unlikely cause is how (a+b)-b is not always exactly equal to a in floating-point arithmetic.  This is unlikely because the difference is going to be down in the [ULPs](http://en.wikipedia.org/wiki/Unit_in_the_last_place), at billionths or less of a silver point or XP—while it's possible to quickly pick up 5XP or 10SP by exploiting this bug.

A more likely cause

[2013-10-03 18:44] wisteriacs commented on #775
Since I don't see an actual poll, wc8 voiced my feelings exactly way back when. ;-)

I don't worry about exchange rates between players because I don't think there's anyone out there with a dozen spare golden potions to trade off and flood the market. I could be wrong and ill-informed.

[2013-10-03 23:07] wc8 commented on #1590
Discussion/voting of the idea to add a skip button can be found [here](https://trello.com/c/Rt13zl9x).

[2013-10-03 23:11] AndreCaseyScott commented on #1590
As much as I understand the the motive behind this idea, I don't think makes much sense in the grand scheme of HabitRPG. The Tavern is kind of the "giant" skip button anyways.

It would become to easy to just skip instead of doing it, even with a %HP hit.  What's the point in skipping anyways? You keep your streak bonus even though it's not a streak?

[2013-10-04 01:39] Mr-Margaret-Scratcher opened #1593 "Dying *after* completing task"
Hi, it seems that sometimes when you open habitRPG, and you should have technically already died, delays in connecting to the server mean you haven't yet lost the day's HP. Then it seems that completing  task makes everything update, resulting in your task being removed and then you dying as you should have initially.

Not a big deal, but annoying if you've managed to tick off the one thing you we

[2013-10-04 01:44] Mr-Margaret-Scratcher opened #1594 "Accidentally made a load of blank task via the API"
Was experimenting with the API via as3 and I've accidentally made a lload of blank task, which I can't edit or delete..

[2013-10-04 08:04] AndreCaseyScott commented on #1556
Which branch does beta track? This still seems to be showing up in beta and was merged with develop... :/

Also any idea where I would be able to "fake" some gems on the dev install for testing?

[2013-10-04 12:09] jepler commented on #775
For this proposed trade economy to work, you not only need people with spare gold potions, but you need them to want more white potions.  There doesn't seem to be any reason that would happen unless HabitRPG ends up with "potion farmers" who are also demanding some real-world money on the side. I think you want to avoid setting up a system which will attract this kind of abuse.

[2013-10-04 14:33] paglias commented on #1556
For faking gems, I personally edited the db directly

[2013-10-04 14:37] Shaners commented on #1556
I did that as well on local.

[2013-10-04 16:14] Shaners commented on #775
Sorry been sick and in / out of a Nyquil coma. If we are talking a player to player trading marketplace that comes with it's own issues.

You can't make a player market gold based. We have to assume that there are players cheating or abusing the gold rewards. They could even be gifting themselves thousands of gold through the restore function so we have to assume there is an infinite amount of gol

[2013-10-04 16:37] baconsaur commented on #942
I liked the volcano idea! Got a bit carried away with the rest of it though... I hope this will work.

![trex_framed](https://f.cloud.github.com/assets/4521047/1270985/2ad93e34-2d13-11e3-952d-bdf034afa9a0.png)

[2013-10-04 16:38] lefnire commented on #942
@baconsaur these are flipping amazing... You really have some talent my friend

[2013-10-04 19:54] lemoness commented on #942
@baconsaur I am just in total awe. It seems like you top yourself every
time!!

On Fri, Oct 4, 2013 at 9:38 AM, Tyler Renelle notifications@github.comwrote:

[2013-10-04 23:31] wc8 commented on #775
To clarify, I meant
1. User can exchange unwanted drops back to **market** (_not_ other players) for gold.
2. Users can trade drops for drops (eg. egg for egg, potions for egg, etc.) between players...

If we can trade drops between us without needing an exchange fee, that's fine by me.
_Limited number of trades per week_ sounds like a better plan. Once per day? Once per week?

Also, I suggest it

[2013-10-05 05:33] joernal commented on #1561
i had the same problem as kelseyr713
i had a dragon egg earlier and i didn't hatch it because i didn't have any potions.
later, i found a flying pig egg and i just noticed my dragon egg missing
i was also at level 4 during this whole ordeal

[2013-10-05 13:38] baconsaur commented on #942
Thanks guys! I'm really glad you like them. It's been nice having an excuse to do some pixel art once in a while. :D

[2013-10-06 14:10] djuretic commented on #1594
Do you mean that you cannot delete them via the API, or you can't delete them from the website?

[2013-10-06 14:17] paglias commented on #1594
What do you mean by blank? We should avoid the possibility to create
such tasks if they do create problems

2013/10/6, djuretic notifications@github.com:

##

Matteo Pagliazzi - paglias.net

[2013-10-06 14:18] djuretic commented on #1589
What happens if you leave the party and get invited again to join it?

[2013-10-06 18:43] PSmitty1990 opened #1596 "Unresponsive Script"
059c8b85-8b8f-4223-b5a7-d50e23b0df28

I am using Firefox, and I often use private browsing to use the site.

Sometimes when habitRPG is loading an action, usually after giving rewards for completing my goals ( +5 exp, etc), I get the following error message:

"A script on this page may be busy, or it may have stopped responding. You can stop the script now, or you can continue to see if the script

[2013-10-06 21:12] lefnire commented on #1586
This will be something going wrong with the API then. Both of you, give me your UUIDs and I'll take a look at this the moment I can.

[2013-10-06 21:15] CharlesLove commented on #1586
Here you go: b1d3d145-fc41-4e0c-8d9f-5cc8a06aae5c

[2013-10-06 21:28] meshachjackson opened #1597 "Party invites not shown: 2 JavaScript Errors"
![screen shot 2013-10-06 at 2 24 32 pm](https://f.cloud.github.com/assets/624763/1277564/b603e3fe-2ecd-11e3-99b5-1a14e99d5dd6.png)
## Steps to reproduce:
- login
- click 'options' > 'groups'
- enter user code into Members > Invite form field:

- click invite
## Console Error

Note: Expanding the object reveals that the api returns a status 400 for ""User already pending invitation."

I don't belie

[2013-10-06 21:30] meshachjackson commented on #1589
Similar to my experience with #1597, though I never actually see any party members appear.

[2013-10-06 21:36] jepler commented on #964
Hmm, today I saw a net decrease in my money when I toggled a daily repeatedly.

[2013-10-06 21:55] rrigor commented on #1589
Same thing. I also added a third member to our party, and she isn't showing
up for me either.

On Sun, Oct 6, 2013 at 7:18 AM, djuretic notifications@github.com wrote:

[2013-10-06 22:01] paglias commented on #1589
Actually the current behaviour is that a party member won't show up until
he/she accepts the invite.

Are you sure that they checked in the groups tab for yours invite?
Il 06/ott/2013 23:55 "beccairene" notifications@github.com ha scritto:

[2013-10-06 22:03] paglias commented on #1597
The error you are seeing is because they have already been invited to your
party. They won't show up until they accept the invite.

Are you sure they checked their groups tab for your invite?
Il 06/ott/2013 23:28 "Meshach Jackson" notifications@github.com ha
scritto:

[2013-10-06 22:03] paglias commented on #1596
Do you have a big number of items (habits, todos, dailys...)?
Il 06/ott/2013 20:43 "PSmitty1990" notifications@github.com ha scritto:

[2013-10-06 22:32] rrigor commented on #1589
In my case, at least my first party member accepted my invite... as I
accepted his when he invited me. In both cases, I show up on his profile,
but he does not show up on mine.

On Sun, Oct 6, 2013 at 3:01 PM, Matteo Pagliazzi
notifications@github.comwrote:

[2013-10-06 22:42] lemoness opened #1598 "Egg/Potion Duplication"
I hatched a pink cotton candy wolf today. It said that it was successful, and both the egg and the potion disappeared. However, when I went to the Stable, I didn't see my pink wolf, so I refreshed the page. Sure enough, there was the wolf - but when I went back to my inventory, the pink potion and the wolf egg had reappeared. When I tried to hatch another pink wolf, it told me I already had that p

[2013-10-06 23:44] ghost commented on #1586
2af019ec-90ec-431f-8cc8-3e6bb81e01ff

On Sun, Oct 6, 2013 at 5:15 PM, CharlesLove notifications@github.comwrote:

##

Author of _Ashfall_ and _Ashen Winter_.
www.mikemullinauthor.com

[2013-10-07 00:36] gwillen opened #1599 "Closing 'edit' doesn't save"
When closing 'edit' mode on a task/habit/daily by clicking the 'pencil' icon a second time, it should either save, or revert and warn that it's not saving.

Right now it just closes, leaving the changes unsaved, and then next time the page is refreshed they're lost.

I understand the logic behind this behavior, but if you expect (as I did) that clicking the pencil again will save, it's hard to not

[2013-10-07 04:38] KellenM opened #1600 "Using "Restore" may result in Death"
I noticed recently that when you enter the "Restore" dialog, changes are made to attributes _as you type_, which sort of contradicts the "Save" part of the "Save & Close" button that closes the dialog.

This some people highlight and start typing over, which bypasses this issue, but some people delete the entire text and re-type it. This makes a big difference, due to the "real time" updating.

Sa

[2013-10-07 06:22] PSmitty1990 commented on #1596
I have 12 Habits, 8 Dailies, and 31 Todo's. I am really behind on those.

On Sun, Oct 6, 2013 at 3:04 PM, Matteo Pagliazzi
notifications@github.comwrote:

##

Sincerely,

   Pierre Alexander Smith

[2013-10-07 06:40] lefnire commented on #1596
Check todos > completed (bottom tab), make sure it's cleared
On Oct 6, 2013 11:22 PM, "PSmitty1990" notifications@github.com wrote:

[2013-10-07 07:59] PSmitty1990 commented on #1596
Oh wow. There was a lot in there. Thank you!

On Sun, Oct 6, 2013 at 11:40 PM, Tyler Renelle notifications@github.comwrote:

##

Sincerely,

   Pierre Alexander Smith

[2013-10-07 08:25] dfjkla commented on #587
This still happens occasionally even with the new build. I've had it happen three or four times since it launched, latest today. Yesterday I refreshed before and after updating, yet I still have checked items in my game today.

Custom day start at 6am, I checked the items around 2am.

[2013-10-07 08:57] AndreCaseyScott commented on #587
I have actually had this happen too. It was always so random, and I noticed it via the Mobile app thus couldn't check the console. It would stay in the same state even if I checked the computer later that day. Would reset the next day. Will keep an eye on it, for more conclusive evidence. 3am reset time.

@dfjkla if you notice it again, check the javascript console and post any errors here

[2013-10-07 10:12] ghost commented on #1596
Hi I just got the same script but this was on the guild page.
I use firefox as well.
I cleared the completed tasks and tried again but whenever I try to load guilds I would get this
Script: https://habitrpg.com/app-571bf273.js:5
I joined 4 guilds at the same time so I am assuming that is the issue. After clicking continue script three times I got through.
I will quit a few guilds to avoid this iss

[2013-10-07 11:43] brightbold commented on #1599
+1. Back in the Derby days I also thought this action would save and it took me a while to figure out it didn't.

[2013-10-07 11:45] brightbold commented on #1549
I can confirm this problem in Chrome.

[2013-10-07 12:02] brightbold opened #1601 "Some dailies didn't reset"
All the dailies I checked off after 8pm (EDT) yesterday are still checked this morning. My turnover time is 2am. One of them had a 93 streak which stayed intact, one had a streak of 3 or 4 that has reset to 1, and I don't think the other two had streaks and are both at 1. (I'm mystified as to why one streak reset and one didn't!)

I solved this fairly easily by unchecking all the tasks and then re

[2013-10-07 12:06] brightbold commented on #1596
I can confirm this happens in Firefox but not Chrome or Safari. Good to know about clearing completed To Dos - I'll try that next time.

[2013-10-07 13:20] paglias commented on #1596
Closing this, pleas follow up at #1499

[2013-10-07 13:20] #1596 closed, assigned to nobody

[2013-10-07 13:22] paglias commented on #1599
I sincerely don't understand this, there's a big "Save & Close" button and
the pencil icon is faded unless you hover it with the mouse, there's
nothing suggesting that it should save the edits, or no?

2013/10/7 Kelley Curry notifications@github.com

##

Matteo Pagliazzi - paglias.net

[2013-10-07 13:44] brightbold commented on #1599
The pencil icon is _always_ faded unless you hover over it, so there's nothing about it being faded that suggests that it's not fully functional. Yes there is a big Save & Close button but it's way down the page and you often have to scroll to get to it. So when I first realized that I could toggle the pencil to collapse the task I thought I had discovered a big timesaver - click the pencil, edit,

[2013-10-07 15:57] Shaners commented on #1598
I think the reappeared egg and potion will disappear but I am not 100% sure of that. Are they still there now?

[2013-10-07 16:00] Shaners commented on #1600
The restore feature is going away eventually so I'm not sure this type of fix is going to be a priority.

[2013-10-07 16:10] Shaners commented on #1599
Maybe something like this would help:
![saveandclose](https://f.cloud.github.com/assets/2374703/1281927/e14f7ecc-2f6a-11e3-988f-4b88b8e09e39.png)

[2013-10-07 16:53] KellenM commented on #1600
Oh! I didn't know that. In that case, I would agree that it's not a priority at all. But if any type of "type in your attribute here" remains somewhere, it would be good to hold changes until users hit "submit."

[2013-10-07 17:04] brightbold commented on #1599
Thanks Shaners! Something like that would definitely help. Although we'd need to think both about narrower screens (I tend to keep my browser windows about 75% width so I can look at two things at once) and longer task titles. Here's a screenshot of my first few dailies - if you stuck the button up there I'd have no room for text!
![task-screenshot](https://f.cloud.github.com/assets/405068/1282327

[2013-10-07 17:53] Shaners commented on #1599
Well I'm just not sure that it'd be obvious to other people that clicking the pencil icon a second time saves the changes so even if that was in place some might seek out the save button at the bottom. Which is kind of a pain if your changes are in the top 50% of the edit panel. It also would only appear when editing the task since you don't need to save otherwise so longer task names aren't that

[2013-10-07 17:54] gwillen commented on #1599
Putting a save button at the top is not a bad idea. But I think the key action item here is a change to the behavior of the pencil icon.

It really violates the principle of least surprise to have a button that hides the edits I just made, but _neither_ saves nor cancels them. I would prefer that it save, because why wouldn't it? But if not, it should cancel, and put up a dialog warning that it wi

[2013-10-07 18:07] Shaners commented on #1599
Yea good points. It kind of acts like a minimization thingy right now. Maybe it should become an x so you can cancel out the changes you've made (with warning dialog) if you'd made a mistake in your edits.

[2013-10-07 18:11] Shaners commented on #1600
Yea agreed, I think everywhere else waits for a save or + button to be pressed first.

[2013-10-07 18:39] lemoness commented on #1598
Nope, they're gone - but I think while they are there, you are still able to hatch pets with them.

[2013-10-07 19:11] paglias commented on #1598
That is quite strange I admit, It might be that Angular is taking a while to update every change but everything should be ok when refreshing, at least the website is using the old user copy stored in localstorage.

@lemoness yes, while they are there you are still able to hatch pets

[2013-10-07 19:42] Sassifrass opened #1602 "Lost account"
I took a break from using the site for a while, but when I tried to sign in with my old credentials, it said I didn't have an account.
I still have the Chrome Extension active with my old info.

Is there anyway to recover my old account?
UUID: cb62ac15-1faf-461d-9014-062a122ec8d2

[2013-10-07 20:31] lemoness commented on #1599
Actually, my biggest issue with this is that when you uncheck a tag, it leaves that tag without automatically saving and closing, and so you have to hunt around for it to click save-and-close. Automatic saving would probably help this.

[2013-10-07 21:19] Shaners commented on #1599
Or halting the filtering until you actually save the changes.

[2013-10-07 22:01] mclois commented on #1576
Thank you Tyler!

I am trying to remember to printscreen the stable every time I hatch an egg, so far it has not happened again :/

[2013-10-07 22:11] gwillen commented on #1356
This is still somewhat bad post-rewrite. I'd be curious to hear what @Fitzwibble is seeing, but for me Habit is using anywhere from half a gig to a whole gig of ram regularly, which is more than all my other tabs put together. Every morning if I've left it open overnight, the garbage collection stall while it remembers itself takes many minutes.

[2013-10-07 22:47] lefnire commented on #1356
make sure to always clear your completed todos (bottom tab of todos column). beyond that, follow https://github.com/lefnire/habitrpg/issues?labels=performance&milestone=&page=1&state=open for our progress

[2013-10-07 22:49] gwillen commented on #1356
It would be nice if it were possible to keep todo history without keeping it all in RAM forever.

Failing that, it would be nice if there were a warning somewhere that you have to clear them to save RAM.

I'll go try that.

[2013-10-08 00:42] fuzzytrees commented on #942
I wholeheartedly approve of your volcano, baconsaur!

Here's more frames:

![rooster_frame](https://f.cloud.github.com/assets/4355305/1285722/55476884-2fb2-11e3-8623-9e7bfaec75d6.png)

![slime_frame](https://f.cloud.github.com/assets/4355305/1285723/5d09373c-2fb2-11e3-8ba5-dfac29d18134.png)

And the completed Treelings:
![treeling_pet](https://f.cloud.github.com/assets/4355305/1285728/742cceec-2fb

[2013-10-08 00:54] philadams-zz opened #1603 "PUT request to complete a todo task does not yield XP/GP"
In the web interface, marking a todo as 'complete' gives you XP and GP. But via the API, this does not appear to happen (a PUT to user/task/:id). The todo is marked 'complete', it disappears from the web view, but no XP/GP are given.

This is in contrast to the habits up/down where you ARE awarded XP/GP for up and lose HP for down.

[2013-10-08 00:56] philadams-zz commented on #1594
I did similar things when trying to up/down a habit... if you send along basically any string as the task id (/:id/up for example), then it just assumes you're trying to create a new task. So I made several new tasks before realizing this was happening.

[2013-10-08 05:22] dyg321 opened #1604 "silver coins rewarded without any task completed"
I created a daily task, i marked it as completed, i rewarded 99 silver coins, but i realized that i did not complete the task so i unmarked it, then i lost 98 silver coins, after all i have 1 silver coin without any work.
i can repeat the process any times i want, and my silver coins will increase more and more.

i think this cannot be. am i wrong?  is it a bug or this is the way it should be?
tha

[2013-10-08 15:58] MercuryChaos commented on #775
My preference would be to sell extra drops to Alexander for a little bit of gold, and I think this option should be available regardless of whatever other drop-related features are introduced (crafting, etc.) People can always use gold to buy their own custom rewards, so even if a user isn't interested in the more RPG-like aspects of the site, the drops will still be useful and motivating for them

[2013-10-08 17:38] #1399 closed, assigned to lefnire

[2013-10-08 17:44] paglias commented on #1356
Partly are the todos but memory usage is going up anyway (I easily reach 400-500 mb opening the options page and checking some dailies, with 0 todos).

Surely always keeping the tab open is not helping in the long term but the app itself is very complex, browser garbage collection (removing objects not used from the RAM) is probably not perfect, too.

I would suggest closing the tab after some tim

[2013-10-08 17:59] lemoness commented on #942
Very cute Treelings! My only comment is that I would like the "Gold"
Treeling to look a little more golden if possible. Other than that, I think
they are very fun!

On Mon, Oct 7, 2013 at 5:42 PM, fuzzytrees notifications@github.com wrote:

[2013-10-08 18:24] lemoness commented on #775
Okay, so it seems like we've come to the following conclusions:
1. Selling unwanted drops for a little bit of gold will be relatively easy
   to implement, will clear unwanted inventory, and will reward players,
   including those for whom the pet system is not motivating.
2. Player-to-player trades are probably not viable for the economy of Habit.
3. Player-to-market trades, even with a gem price

[2013-10-08 19:01] louy opened #1605 "Comment not viewable in Web UI"
When i hover on the comment icon on any item on the website the comment fades in.
However, as soon as i hover on the comment box (not the icon) the box disappears.

So when i move my cursor on the comment icon it appears and then it disappears instantly unless i move the mouse inside the comment icon for only 1 pixel and then stop.

[2013-10-08 20:14] wc8 commented on #775
Maybe just update the existing Trello card? https://trello.com/c/gMeHxtja

[2013-10-08 20:17] wc8 commented on #1604
Looks like #286 and #423 persist.
It's a bug, but a minor one (no major harm done, unless the user chooses to abuse it).

[2013-10-08 20:19] Shaners commented on #775
I think I might try my hand at developing the stacking thing this week!

Player to player trades might be more viable in the future but involve a significant development piece / security issues / scam issues / economic and gem impact issues to consider.

[2013-10-08 20:28] #1604 closed, assigned to nobody

[2013-10-08 22:09] lefnire commented on #1599
I vote just have the edit pencil save, it's simple enough. I understand the
arguments on this thread and agree re: the surprise (I fell victim myself
once or twice, and I created the thing)
On Oct 7, 2013 2:19 PM, "Shane Lister" notifications@github.com wrote:

[2013-10-09 02:53] brightbold commented on #1599
Haha, Tyler!
Yeah, that would be great.

[2013-10-09 08:35] dfjkla commented on #587
How do I check the javascript console?

[2013-10-09 14:38] wc8 commented on #1599
Pencil Save: add mouseover "Save" text
or Replace Pencil with Save icon (eg. the little Disk icon)

Either way, I'd vote to also have an X icon to cancel the changes. Sometimes I'm glad I can back away from a change I started.

[2013-10-09 14:55] paglias commented on #587
On chrome you can open it with CTRL+Shift+J

2013/10/9 dfjkla notifications@github.com

##

Matteo Pagliazzi - paglias.net

[2013-10-09 19:22] clmmerrill opened #1607 "Did not lose HP overnight"
Display name: Cindy
UserID# 2b44124d-f9bc-49a9-bc97-26e5b3cd099c

Use Windows system 7 Professional on office computer, Andriod 4.1.1 on phone, and Windows Vista or Home on home computer. Using chrome on both computers. version Version 30.0.1599.69 m at office. Probably same one at home. The mobile app on the phone.

I didn't lose hp last night. I mentioned yesterday that I was advanced to a new l

[2013-10-10 00:11] lefnire commented on #587
Is this due to the Monday / Sunday international thing? Can't remember if
we fixed that or not..
On Oct 9, 2013 7:55 AM, "Matteo Pagliazzi" notifications@github.com wrote:

[2013-10-10 08:50] dfjkla commented on #587
Thanks, both. It did happen on Monday local time. Week starts on Monday over here, don't recall if there's a setting somewhere about that.

I'll keep you posted if/when it re-occurs!

[2013-10-10 12:52] JesperDramsch opened #1608 "Display Name not used in guilds as leader"
I was just looking at a guild I started and it seems to use my original name. (One of the very very old veterans here.)
Unfortunately that is my full name, which doesn't quite feel comfortable.

[2013-10-10 18:14] djuretic commented on #1608
I think this bug has already been reported: #1571.

[2013-10-10 23:42] octern commented on #1600
This is a very clear and entertaining bug report. Also, I'm in favor of keeping the restore feature. I mostly use it to take away xp if I think I got too much for a task.

[2013-10-11 00:18] lefnire commented on #1608
Yes indeed, closing

[2013-10-11 00:18] #1608 closed, assigned to nobody

[2013-10-11 03:36] lemoness commented on #775
Okay, I updated the Trello card!

I think this Github can be marked as closed for now, and then reopened if we decide to revisit the trading issue :) If you guys think there is a reason to keep it open, just let me know!

[2013-10-11 06:49] MinatureCookie opened #1610 "Items lost when changing computers"
Congratulations, level 4! Here's a bear cub egg.
Reopen browser on different PC
Congratulations, level 4! Here's a tiger egg.
Bye bye bear cub egg.

[2013-10-11 15:27] Shaners commented on #1610
Similar to #1561

[2013-10-11 15:33] MinatureCookie commented on #1610
Almost exactly the same, in fact. My changing of PCs may have been irrelevant, then. Sorry I didn't notice the other issue thread.
Closing as a duplicate of #1561

[2013-10-11 15:33] #1610 closed, assigned to nobody

[2013-10-12 15:54] SabreCat commented on #1528
This appears to be a whole mini-refresh of the page. I've had it happen in the midst of editing the value of a Reward, and not only did the tag filters clear, but my Reward went back to its previous value.

[2013-10-12 15:58] SabreCat opened #1611 "Tag icons remain after all tags removed via global deletion"
Given issues #1403 and #1528, tag filters aren't very useful to me at the moment. Plus I don't have all that many context-sensitive tasks these days anyway, so I decided to wipe out my filters by deleting them all from the main list. The checkboxes are gone from all the tasks, but the tasks still retain the "tags" icon saying they have tags added. Hovering over them doesn't show anything.

UID 7f1

[2013-10-12 18:42] TheWebTech opened #1612 "Easy fix! - when viewing a guild page, Guild Gems html anchor is displayed."
On a guild page(doesn't matter which one) the "Guild Gems button" mouseover tooltip has a link in it which #1 can't be clicked due to the speedy disappearing of the tooltip, and #2 because the anchor element is improperly typed.

[2013-10-12 19:29] s-boardman opened #1613 "Can't seem to register"
Hi,

I've been trying to register with username/email/password but the interface hangs and doesn't seem to act whenever I click on the "Register" button after inputting these details.

![regscreen](https://f.cloud.github.com/assets/3591844/1320739/9569d0d0-3374-11e3-94af-f368a733316a.PNG)

I can't get past this screen...

[2013-10-13 16:32] dfjkla commented on #587
Now it happened overnight between Sat/Sun. I checked items after midnight on early Sunday morning, got damage during the night (custom day start at 6am), but the checked items are still checked the following day (Sun).

[2013-10-13 17:05] #1556 closed, assigned to nobody

[2013-10-13 17:34] Otocinclus opened #1614 "Lost Veteran Wolf pet"
What browser you're using: iPhone, Safari.
Your User ID: dfa5d988-992a-4dec-8183-c15c8adb041f
No errors occurred

I had the veteran wolf pet that was given out a while ago, and had him equipped. I changed him out for a fox maybe a few weeks ago and I don't know when it happened that he disappeared, but now he is gone. He does not show up under the "Rare" pet category in my Stable.

[2013-10-13 17:36] lefnire commented on #1614
how very strange, he's showing up in your database entry. Is this consistent across refreshes?

[2013-10-13 17:36] lefnire commented on #1614
oh, you said iPhone / Safari - is this the mobile app? I'm not sure if he's been added to the mobile app yet

[2013-10-13 17:37] paglias commented on #1614
@lefnire me too, I think the last commit you pushed to develop cause this, it may be my own https://github.com/lefnire/habitrpg/commit/bb8bbe4e0f80003cf41ba4b96ac5817e81313947

[2013-10-13 17:40] paglias commented on #1614
Fixed in https://github.com/lefnire/habitrpg/commit/c3086c61949dfd224ac5f0b727dc8e6d759d4348

[2013-10-13 17:40] #1614 closed, assigned to nobody

[2013-10-13 17:43] Otocinclus commented on #1614
I use the iphone app on my phone, and I use safari on my computer.
It is consistent across refreshes that he is not there.
Is the fix that paglias is talking about an upcoming thing or should I be seeing him now?

[2013-10-13 17:44] paglias commented on #1614
@Otocinclus no it's fixed but still not on the website

[2013-10-13 17:45] Otocinclus commented on #1614
@paglias - Okay, cool :) Thanks for the really quick attention, wow!

[2013-10-13 17:45] lefnire commented on #1614
thanks @paglias!

[2013-10-13 17:51] lefnire commented on #1614
pushed, give that a shot

[2013-10-13 18:03] paglias commented on #1600
@lefnire what do you think about that? I have a fix ready for this so that values are saved only after clicking "Save".

I would like to use the same system also for profile editing, what do you think?

[2013-10-13 18:07] Otocinclus commented on #1614
There he is! Thank you @lefnire and @paglias !

[2013-10-13 18:09] lefnire commented on #1600
Sounds good re: restore saving. I thought it was already that way, guess I was wrong - yeah, pull the trigger.

Regarding profile-editing, the only difficulty is going to be the adding / deleting websites feature. We could just apply it to everything except websites. We could also remove the websites field altogether, since we now support Markdown and they can add arbitrary lists (including for we

[2013-10-13 18:50] paglias commented on #1600
@lefnire I've applied this also to websites, the commits are https://github.com/lefnire/habitrpg/commit/68426c7ccbe46c3be6ca439d6918ce0bd1a4c400 for profile editing and https://github.com/lefnire/habitrpg/commit/4e56df0e8241e8c5a15bb21528f8c912a7f9e8a0 for restore values.

[2013-10-13 18:50] #1600 closed, assigned to nobody

[2013-10-13 22:38] djuretic opened #1615 ""Cannot POST /" after donating via Paypal"
When going back to the HabitRPG website from Paypal page (after donating), I get a blank page with this message:

Cannot POST /

The address bar shows this URL: https://habitrpg.com
Refreshing the page solves the problem.

My suggestion is to show a "Thank you" page or something like that.

[2013-10-13 22:43] lefnire commented on #1615
Yeah, having a helluva time with this one. We're using the `return` variable [described here](https://developer.paypal.com/webapps/developer/docs/classic/paypal-payments-standard/integration-guide/Appx_websitestandard_htmlvariables/) (CTRL+F it), and the subsequent `rm` variable defaults to 0 which is GET. It's trying to POST to the return URL upon completion, but it's setup to GET it... [here's t

[2013-10-13 23:05] lefnire commented on #1615
fixed

[2013-10-13 23:05] #1615 closed, assigned to nobody

[2013-10-13 23:06] lemoness opened #1616 "Daily Reordering (sort order not maintained)"
Over the past couple of days, my Dailies keep reordering themselves. It's pretty frustrating. I've added some new Dailies recently - could that be linked?

[2013-10-14 00:22] djuretic commented on #1615
Great, thanks a lot!

[2013-10-14 12:12] paglias commented on #1616
By keep reordering what do you mean that if you move them they go back to the old position?

[2013-10-14 12:25] paglias commented on #1613
Hi @s-boardman !

The whole interface hangs after clicking the Register button or simply nothing happens?

Could you open the console (Ctrl+Shift+J on Chrome) and see if after clicking the button some error appears there?

Thanks!

[2013-10-14 12:27] paglias commented on #1612
It is still there now?

[2013-10-14 12:29] paglias commented on #1602
Have you tried recovering your password or does it says that you're email is not registered?

[2013-10-14 14:34] Valence87 commented on #1485
Is there an eta on porting due dates? I miss them.

[2013-10-14 15:18] ozziefallick commented on #1485
Man, I really wish I could give you one. In my fork, you can enter due dates manually, but I haven't gotten the date picker to play nice yet, and all my attention has been on job interviews for the past four weeks. I'm hoping to get back to working on it later this week, but if it would be useful to have manual entry back in, I can put a tag there and submit a pull request.

[2013-10-14 16:15] Sassifrass commented on #1602
It told me my email wasn't registered.
I signed up for a new account with my email saunatina@gmail.com, but I
would like to recover the old account if possible.

S.

2013/10/14 Matteo Pagliazzi notifications@github.com

[2013-10-14 16:19] lefnire commented on #1602
The mail for the provided UUID was **s.sassifrass@gmail.com**, uname **Sassifras**. looks well and good in the database - wanna try that log instead?

[2013-10-14 16:27] Valence87 commented on #1485
Having manual entry would be great, if that's not too much trouble to move over.

Good luck with the job interviews!

[2013-10-14 16:36] Sassifrass commented on #1602
Thanks for responding.
All my email addresses are forwarded to my main address and I couldn't find
anything from Habit RPG in the search to know I used an alt.

Everything looks good.

S.

2013/10/14 Tyler Renelle notifications@github.com

[2013-10-14 16:37] paglias commented on #1602
Good! Closing this issue then

[2013-10-14 16:37] #1602 closed, assigned to nobody

[2013-10-14 19:15] lefnire opened #1617 "donate button doesn't work on splash pages"
because the necessary controllers are only loaded in the main app. minor

[2013-10-14 19:47] s-boardman commented on #1613
Hi @paglias

Well I tried again today and the screen flashes but doesn't move past the page with registration options. It doesn't obviously reload either.

There is a ping1 error, but that appears to be fairly benign?
"Given URL is not permitted by the application configuration.: One or more of the given URLs is not allowed by the App's settings.  It must match the Website URL or Canvas URL, or th

[2013-10-14 19:52] paglias commented on #1613
Yes that error is totally benign...

Which browser are you using?

[2013-10-14 19:53] s-boardman commented on #1613
I'm on chrome, latest version. Have disabled all the obvious extensions (ad
block, flash control).

It's very odd, seems to be exclusive to habit rpg :-(
On 14 Oct 2013 20:52, "Matteo Pagliazzi" notifications@github.com wrote:

[2013-10-14 20:36] Catmagnet opened #1618 "Dailies not re-setting"
I had this problem before the port, and it's still occurring.  At least once a week--and twice this past week (today being the second time) my dailies have not updated.  I've tried rebooting my computer, turning the browser off and then on again, and refreshing the page.  None of that helps.  I don't use the mobile app often, but this hasn't happened on the days when I _do_ use the mobile app, so

[2013-10-14 21:07] lemoness commented on #1616
No, it appears to be a random position.

On Mon, Oct 14, 2013 at 5:12 AM, Matteo Pagliazzi
notifications@github.comwrote:

[2013-10-15 13:26] fragmental commented on #1598
Same happened here.

[2013-10-16 05:30] hannawolf commented on #1586
I've got this problem as well...  UUID is:

1622652b-fd9d-4ad3-94a7-833bbffe984c

[2013-10-16 15:30] Shaners commented on #1577
Confirmed, no more dancing pets. Maybe we could use some idle animations on hover after a few seconds to spice up this page.

[2013-10-16 17:24] ACRPG commented on #1561
This has happened to me about ten times now. And I think that Issue #1610 sheds light on exactly _when_ it's happening. Occasionally, I log into Habit on a less-used computer, and then log in again on my old, mainstay computer.Upon the login to the main computer, I get hit with the new user messages and my eggs are deleted.

[2013-10-16 17:43] Shaners commented on #1561
@ACRPG when you see the tour how do you end it, do you press end tour or just hit next? Are you using beta.habitrpg.com or just habitrpg.com?

[2013-10-16 18:27] paglias commented on #1561
@lefnire it could be https://github.com/HabitRPG/habitrpg/blob/master/public/js/services/guideServices.js#L115, it' quite sure it. But i don't understand why @ACRPG flags get resetted. It should be fixed with https://github.com/HabitRPG/habitrpg/commit/08fd4a865a21be0f8b04078ae11a5c81887ec6be which doesn't reset user's eggs if they are already there.

@ACRPG beside the new user message you also ge

[2013-10-16 19:05] paglias commented on #1549
Fixed with https://github.com/HabitRPG/habitrpg/commit/a56242d1a758ef11fcaa20b5ba2ab50f33a709d2

[2013-10-16 19:05] #1549 closed, assigned to nobody

[2013-10-16 19:38] paglias commented on #1530
Fixed in https://github.com/HabitRPG/habitrpg/commit/066364e3c9a38cc0d1be3da8772eb4930ef2cd68

[2013-10-16 19:38] #1530 closed, assigned to nobody

[2013-10-16 20:10] bluepeter opened #1619 "Missing a comma"
https://github.com/HabitRPG/habitrpg/blob/master/config.json.example#L15

[2013-10-17 00:06] lefnire commented on #1619
thanks!

[2013-10-17 00:06] #1619 closed, assigned to nobody

[2013-10-17 01:01] lefnire commented on #1618
dupe of https://github.com/HabitRPG/habitrpg/issues/1057, let's follow up there

[2013-10-17 01:01] #1618 closed, assigned to nobody

[2013-10-17 01:01] lefnire commented on #1601
dupe of https://github.com/HabitRPG/habitrpg/issues/1057, let's follow up there

[2013-10-17 01:01] #1601 closed, assigned to nobody

[2013-10-17 01:17] lefnire commented on #1607
were the dailies still checked? is it the same issue as https://github.com/HabitRPG/habitrpg/issues/1057 ?

[2013-10-17 01:40] lefnire commented on #1561
Man, this was a pretty bad bug. I've pushed @paglias's fix. If anyone effected wants gems to buy back their lost eggs / pets, reply with your UUID and I'll hook you up.

@paglias should we close this one, or should we leave it open to verify it doesn't happen again?

[2013-10-17 02:40] kelseyr713 commented on #1561
Thank you, everyone! I'm glad I could help find this. :) I ended up finding another fox egg, so I don't need any gems or anything. :)

[2013-10-17 03:02] ACRPG commented on #1561
I just tested it out again -  I signed into Habit on my secondary computer, then closed out Chrome and came back to my primary computer and logged in. Sorry for the delay.

Result is that I got the splash screen "Drops Enabled!" which seems a little different than what happened before - I don't remember the big splash screen, just smaller notes, but maybe my memory's off on this.

To answer your p

[2013-10-17 03:09] clmmerrill commented on #1607
No not same as #1057, all the checked things from night before were
unchecked and ready for the new day.

I only had a 3-4 couple yellow habits. Nothing red. Maybe 1 yellow daily. I
just thought I should have lost 1-5 hp like I do every night.  Just an
anamoly that surprised me and I wasn't sure if I was supposed to mention
it. It hasn't happened since.

On Wed, Oct 16, 2013 at 9:17 PM, Tyler Rene

[2013-10-17 13:43] paglias commented on #1561
@ACRPG next time you'll get an egg, could you try switching pc to see if they still get deleted? They shouldn't, it's just to be sure.

@lefnire well we stil have this problem about getting the "drop enabled", etc.. messages

[2013-10-17 17:58] ACRPG commented on #1561
So I just tested a few more times (signed in on computer #2, closed browser, signed in on computer #1) - and this time, no splash screen or newbie tour notes! Bravo!

@paglias, per your request, I'll test things again once i get an egg to see if it gets deleted. but as i noted above, i almost never receive eggs. i now have 21 potions and 0 eggs, lol. if @lefnire restores a few of the eggs i lost w

[2013-10-17 18:04] paglias commented on #1561
Good to know @ACRPG ! (Even though sincerely no fix was specifically made for the splash screen/tour bug)

About egg:potions ratio there has been a complex discussion at #1048 with some extensive testing made by @Shaners (https://github.com/HabitRPG/habitrpg/issues/1048#issuecomment-24931248) that showed no problem.

Until today I had 12 potions and no eggs as you, but I just got a lion egg, wait

[2013-10-18 08:46] dfjkla commented on #1487
Graphs are really useful in figuring out when you did a something task, and how often.

I have a few tasks which increment in value (Easy>Medium>Hard) at each step. For example, I have "eat fish" as a daily task to encourage me to eat more fish. First time of the week is Easy, second time is Medium, and third fish meal of the week is Hard.

While that is an easy task to keep tabs on, graphs would

[2013-10-18 14:59] Shaners commented on #1487
@dfjkla something like a repeating checklist with weights for each item might work for that. Kind of like #529. Maybe add your thoughts here: https://trello.com/c/PJ1iJ413/65-checklists

[2013-10-18 19:23] EarnWings opened #1620 "2 accounts with same email?"
I was booted from the software/site and when I attempted to log back in, the system did not recognize my username/password, so I submitted my email to reset it.

It sent me an email with a new password, and when I logged in, I am back a level 1 with old habits/dailies/etc.

I was on level 15 or so and finally getting used to the "right way" to set things up, so I'm a little concerned.

Username I

[2013-10-18 19:25] paglias commented on #1620
Could you report the user id you have on the iPhone app?

[2013-10-18 19:27] lefnire commented on #1620
When did you first register? You sure you didn't use Facebook login
originally? Do you have a very specific (capitalization included) task
title that was on our list? Like "Call Jared" or something

On Fri, Oct 18, 2013 at 12:25 PM, Matteo Pagliazzi <notifications@github.com

[2013-10-18 19:34] EarnWings commented on #1620
Yeah - wasn't sure if it was recommended to enter the userId on this forum:

UserId on iPhone: ea043a45-1916-43bb-83ba-32275

Tailwinds,
Andrew C. Hartley
Certificated Flight Instructor
http://www.smartflighttraining.com

On Fri, Oct 18, 2013 at 3:27 PM, Tyler Renelle notifications@github.comwrote:

[2013-10-18 19:37] EarnWings commented on #1620
I don't think I used the Facebook registration at all, thought I could be
wrong.

I just gave my iPhone UserId.

One of my Dailies is "Check Weather & NOTAMS" (ought to be pretty specific,
if that helps find the account)

Tailwinds,
Andrew C. Hartley
Certificated Flight Instructor
http://www.smartflighttraining.com

On Fri, Oct 18, 2013 at 3:27 PM, Tyler Renelle notifications@github.comwrote:

[2013-10-18 20:04] lefnire commented on #1620
You did indeed use Facebook, I found the account, the id is `ea043a45-1916-43bb-83ba-32275ba30c55` (one you gave us got truncated), but I was able to use your specific Daily - thanks for that one!

Yeah, just login with facebook on the website and you should be gold.

[2013-10-18 20:06] #1620 closed, assigned to nobody

[2013-10-18 20:06] EarnWings commented on #1620
Okay - I'll give that a shot... thanks!

Tailwinds,
Andrew C. Hartley
Certificated Flight Instructor
http://www.smartflighttraining.com

On Fri, Oct 18, 2013 at 4:04 PM, Tyler Renelle notifications@github.comwrote:

[2013-10-18 22:44] skyegecko opened #1621 "Configuration item BASE_URL seemingly ignored"
I'm trying to host my own copy of HabitRPG with a subdirectory in the URL i.e. http://domain/habitrpg/ however all page content (static files, links) assumes a base URL of / i.e. http://domain/
My config.json contains the following. Note the contents of the BASE_URL variable.

[code]

[2013-10-18 23:09] dfjkla commented on #529
I like these suggestions. Here some thoughts cross-posted from another thread:

I have a few tasks which increment in value (Easy>Medium>Hard) at each step. For example, I have "eat fish" as a daily task to encourage me to eat more fish. First time of the week is Easy, second time is Medium, and third fish meal of the week is Hard.

So to refer to wc8's suggestion which is elegant, you could also

[2013-10-18 23:09] dfjkla commented on #1487
Thanks Shaners, good catch - I added my comments there!

[2013-10-19 00:55] ACRPG commented on #1561
Alright, I received an egg on Computer #1, then logged in on Computer #2, and then back in on Computer #1. The egg remained in my inventory! Looks good so far!

[2013-10-19 14:41] PazZaitGivon commented on #1186
So recently, two weeks ago, (a while after the rewrite) I (marquian on habitrpg as well) set up the guild: inHabitants of the earth. It told me it was going to take 4 of my gems, but it did not. The Guild does have four Gems but they are not mine, they appeared spontaneously as a gift/ newbie package?

I think the bug is has the potential to be more serious than just people creating tons of guilds

[2013-10-19 23:47] lefnire commented on #1487
i'll re open this if i decide to implement with one of the above libraries (likely angular-ui), but simply porting the old google charts code was easiest for now. There's also some strangeness where it's not picking up the containing div's width and it's spilling out, so I manually set it to 300px width (which won't look great on or small screens), so we'll want to fix that eventually - but in the

[2013-10-19 23:47] #1487 closed, assigned to lefnire

[2013-10-20 02:49] SabreCat opened #1623 "Progress graphs look very different, sometimes mangled"
Some graphs among my Dailies look like straightforward line graphs, others like step graphs. (Has to do with the days they're active, I think.) That's less concerning than the fact that the date labels on the horizontal axis get mangled at times:

![screenclip](https://f.cloud.github.com/assets/4501321/1367488/17b70b1c-3932-11e3-867e-c4cb1a630a4a.png)

Firefox on Windows 7, user ID 7f14ed62-5408-4

[2013-10-20 09:43] #1561 closed, assigned to nobody

[2013-10-20 15:34] baconsaur opened #1625 "Still getting one drop per day on first click?"
I commented on an issue about this a while back, but it was closed after the rewrite because it was supposed to have been fixed. But ever since the drop system was introduced way back when, I've always received exactly one drop per day on my first completed task. This is still the case. I've tried using both Firefox and Chrome, and tried it on multiple computers, and it's completely consistent. An

[2013-10-20 16:40] MattRenthing opened #1626 "Still having syncing issues"
This is related to this ticket that was closed when you guys made the new site: https://github.com/HabitRPG/habitrpg/issues/1368

Basically, I can log in with the same account name (MattRenthing) and PW (#notanoob) on both the iOS mobile ap and the website but the dailies do not sync and the User ID and API Tokens are different. Now, it should be said that the aps on my iPad and iPhone have the sa

[2013-10-20 16:48] lefnire commented on #1626
common situation is person used facebook to sign up on web, and then registered uname/password on mobile. If they don't have the same uuid, they're different accounts. Give me both uuids and I'll see if i can give you more info

[2013-10-20 16:54] MattRenthing commented on #1626
Web: d601f7b0-2866-470d-85b7-3eaf070bec28
iOS: dadc5f64-343b-4799-abed-051d15583779

[2013-10-20 16:58] lefnire commented on #1626
yep, as described above. You registered web with facebook, then mobile with uname/pw under `MattRenthing`. Unfortunately no way to merge accounts, so you'll have to choose just one

[2013-10-20 16:58] #1626 closed, assigned to nobody

[2013-10-20 17:03] SabreCat commented on #1625
Does it matter what it is you click? Like, a really blue plus-Habit and a 200-streak Daily act the same?

[2013-10-20 17:09] SabreCat opened #1627 "Chat sync button throws 401 error"
If I click the "Fetch Recent Messages" button in my party chat, a banner error "401: You don't have access to this group" appears.

This error was logged once, but I haven't been able to replicate it:

[11:03:01.613] "Error: [$rootScope:inprog] http://errors.angularjs.org/undefined/$rootScope/inprog?p0=%24apply
d/<@https://beta.habitrpg.com/app-b3021526.js:3
i@https://beta.habitrpg.com/app-b302152

[2013-10-20 17:15] SabreCat opened #1628 "Bailey looks more like she's bodiless than peeking"
Firefox on Windows 7, beta.habit. No JS errors.

The sprite for Bailey peeking out to say "psst" is positioned a few pixels too high up, making it look like she doesn't actually exist below the eyeballs:

![screenclip](https://f.cloud.github.com/assets/4501321/1368536/2a149116-39ab-11e3-80d4-7e1ad480ecc6.png)

[2013-10-20 17:49] brightbold opened #1629 "Drop sales are partially implemented on production, breaking egg hatching"
So, it looks like part of the (cool! new!) drop-selling feature got unintentionally rolled out on production? On production, I see Alexander's message about how to hatch or sell drops. When I click on a tiger egg, I see a button "Sell tiger for 3GP." When I click on a potion to hatch it, I get a _second_ button underneath, saying (IIRC) "Sell for 3GP" (but not saying what I'm selling. So I didn't

[2013-10-20 17:54] brightbold commented on #1628
Why doesn't Bailey like Firefox? She looks great in Chrome and Safari on Mac, but here she is in Firefox Mac, where she's too low instead of two high:
![bailey-ff-mac](https://f.cloud.github.com/assets/405068/1368605/874e13e8-39b0-11e3-8173-f760a8fa9bb7.png)

[2013-10-20 18:02] paglias commented on #1627
@lefnire getting a party is always going to return a 401 error, see https://github.com/HabitRPG/habitrpg/blob/master/src/controllers/groups.js#L105

[2013-10-20 18:19] lefnire commented on #1629
Hmm, can't reproduce, and prod and beta are at the same commit SHA. The
deselection bit is just a visual issue where it's not yet obvious which egg
is selected, I'll be fixing that. I think I'll wait for someone else to
chime in to see if the blank sell button happens again, you do a hard
refresh?
On Oct 20, 2013 10:49 AM, "Kelley Curry" notifications@github.com wrote:

[2013-10-20 18:23] paglias commented on #1621
Actually that option is used only to create the redirect url for facebook login (and will fail when using a port like http://localhost:3000).

[2013-10-20 19:30] brightbold commented on #1629
I did but unfortunately I sold all my potions (on beta) so can't attempt to reproduce until I get another potion. Maybe it was just a fluke of the page not having fully reloaded after the feature was committed?

[2013-10-20 19:33] djuretic commented on #1628
Firefox on Ubuntu 13.04:

![bailey](https://f.cloud.github.com/assets/1175986/1368776/7020219e-39be-11e3-8e3d-7f3da2152e07.png)

[2013-10-20 20:11] lefnire commented on #1629
Hit me with uuid if you want gems to test more (or uuid of test account if
you want to)
On Oct 20, 2013 12:30 PM, "Kelley Curry" notifications@github.com wrote:

[2013-10-21 00:23] baconsaur commented on #1625
It makes no difference. I've tried starting off with brand new tasks, 100+ streak dailies, etc.

[2013-10-21 14:37] SabreCat commented on #1629
I can confirm this is happening, on main Habit and not beta.habit. What's worse, you also no longer get popups of "you can't hatch that combination" - can you even hatch things at all on main right now?

[2013-10-21 14:39] SabreCat commented on #1629
Ah wait, a hard refresh does seem to fix it. Some sort of cache issue, perhaps.

[2013-10-21 14:41] hattieshoe commented on #1625
I have noticed something similar but only lately (maybe last 2 to 3 weeks) -- only one drop per day and on the first daily or task. I did notice yesterday that it doesn't happen when I click a habit first, just dailies and tasks.

[2013-10-21 14:43] hattieshoe commented on #1625
And there is often another time in the day when I click something and I _think_ I'm going to get a drop -- everything pauses for 5 to 10 seconds just like when I get that first drop -- but then nothing drops. Does that happen for you, baconsaur?

[2013-10-21 15:49] Shaners commented on #1625
This would be a hard one to fix if it's not reproduce-able. Look out for JS errors in console or maybe try remaking the offending task (assuming it is a daily) and restoring the streak to see if there might be something specific to that task. Otherwise you may just have to wait until Tyler has the time to look into your account and see if there is anything strange.

What is your user id?

[2013-10-21 15:50] paglias commented on #1186
@lefnire https://github.com/HabitRPG/habitrpg/blob/master/src/controllers/user.js#L456 `balance` is protected, we talked about implementing a specific route or allowing only gems reduction some time ago but I think it's still missign

[2013-10-21 16:26] hattieshoe commented on #1625
User ID is 0b670754-57f5-4704-854f-9a9c92107b9b. It doesn't seem to be linked to one particular task, but I will start tracking it better. I'll also make a new daily right now for "track possible drop bug" and check it off first tomorrow to see if the same thing happens.

[2013-10-21 16:29] baconsaur commented on #1625
hattieshoe I haven't noticed that, but I'll look out for it now that you've mentioned it.

User ID is 3cc82d33-d000-44a7-aac8-9e33c186e625

I'll experiment a bit over the next few days and take notes on what happens so I can give you some more specific information.

[2013-10-21 17:03] Shaners commented on #1625
Thanks, really appreciate the extra effort put in to trying to fix this.

If you are getting a drop every time the first task is checked then there must be something funny happening here: https://github.com/HabitRPG/habitrpg-shared/blob/master/script/algos.coffee#L128 or here https://github.com/HabitRPG/habitrpg-shared/blob/master/script/algos.coffee#L129 or here https://github.com/HabitRPG/habitr

[2013-10-21 17:06] paglias commented on #1625
@Shaners as a fix for #1561 if they're drops are re-enabled every day previous eggs will not be deleted (https://github.com/HabitRPG/habitrpg/commit/08fd4a865a21be0f8b04078ae11a5c81887ec6be), so they won't notice anything getting deleted.

[2013-10-21 17:48] Shaners commented on #1625
@paglias yep but if they noticed them being deleted before that fix, it could be a good indicator that this one is being caused by a similar resetting issue.

[2013-10-21 18:06] baconsaur commented on #1625
I don't think I've ever had any eggs disappear. But I've had a ton of them for a while now, so if any went missing I'm not entirely sure I'd notice.

[2013-10-21 18:15] Shaners commented on #1625
Well if it happened I think would wipe out all eggs.

-Shane

[2013-10-21 18:25] hattieshoe commented on #1625
I've never had any eggs or potions disappear. Wouldn't have noticed eggs because I've always run an excess of potions and hence hatch any eggs as soon as I get them.

[2013-10-22 07:41] Zian opened #1630 "Item description popup is hard to see"
Given the following setup, then when I try to hover my mouse cursor over the description popup icon, it is very hard to get the description popup to stay visible. The popup shows up for a second and then goes away.
- Internet Explorer 10
- Windows 7 x64
- Maximized window on a Dell 1905FP monitor (1280x1024)

[2013-10-22 12:13] hattieshoe commented on #1625
Tuesday 10/22/13: I clicked first on the new daily I made yesterday for "track possible drop bug" and got a lion cub egg. If the pattern continues, I won't get any more drops today. Other info: I've been using the beta site -- would it make any difference if I tried the main site tomorrow? Also, it occurs to me that I haven't gotten a potion drop for a long time, only eggs. I don't know if that is

[2013-10-22 13:13] djuretic commented on #1625
I think I have the same problem, I've always felt that I got more drops at the start of the day. So yesterday II started to put attention when I received drops, and I can say that yesterday and today I received eggs on my first daily (blue daily, 40+ days streak), I'm using the main site.
The JS console only shows this:

[code]

[2013-10-22 14:32] baconsaur commented on #1625
Last night I deleted and remade all of my dailies and restored the streaks, and clicking on one first this morning immediately dropped a potion. I'll try something else tomorrow.

I've also been using the beta site exclusively, if that makes any difference,

[2013-10-22 18:15] paglias commented on #1625
@baconsaur thanks for the help troubleshooting this bug, could you try tomorrow witha new task with the streak at 0 to see if it happens anyway?

Also do you have long streaks? How many days?

[2013-10-22 18:33] paglias commented on #1625
Just made some testing and found out that with a task with priority "Easy" and a 33 days streak I always, and I tried over 30 times, get a drop.

I could replicate this only with dailies and is due to how the chance of getting a drop is calculated:
- We have a `delta` absolute number (don't know exactly how it is calculated but it's not very important)
- This `delta` is moltiplied for the `priorit

[2013-10-22 19:15] Shaners commented on #1625
Doesn't this area make it so streak modifiers can max out? https://github.com/HabitRPG/habitrpg-shared/blob/master/script/algos.coffee#L103
`else if currentValue > 21.27 then currentValue = 21.27`
`delta = Math.pow(0.9747, currentValue)`

[2013-10-22 19:17] paglias commented on #1625
No, the strek bonus, regarding drops, is calculated here https://github.com/HabitRPG/habitrpg-shared/blob/master/script/algos.coffee#L127-L129, it's different from the delta

[2013-10-22 19:30] Shaners commented on #1625
Is the Delta it is grabbing here https://github.com/HabitRPG/habitrpg-shared/blob/master/script/algos.coffee#L115 undefined then? Then we calculate the abs of undefined... `chanceMultiplier = Math.abs(delta)`

I also don't really get why we zero out streak then do this `chanceMultiplier += streak`

[2013-10-22 19:35] paglias commented on #1625
Why undefined? It's passed to `randomDrop()` from `score()` which calculates it using this function https://github.com/HabitRPG/habitrpg-shared/blob/master/script/algos.coffee#L208-L217

About the algorithm probably a discussion on how much value should be given to streaks will be necessary, for the lastDrop count I'll see to fix it now

[2013-10-22 19:48] hattieshoe commented on #1625
It sounds like a high streak value may guarantee a drop-on-first-click (if I'm understanding correctly) but today I clicked one first with a streak of 0 and still got a drop. baconsaur, I'm curious too whether the same thing will happen to you if tomorrow you first click something with a streak of 0. For me it doesn't seem to matter whether I click on one with a high streak or no streak at all, or

[2013-10-22 19:53] paglias commented on #1625
@hattieshoe yes, checking if this happens only with dailies or also with habits would be very useful, I could replicate it only with dailies.

It may have been a fortuity getting the drop with a 0 streak daily....

I sent a pull request to fix the lastDrop's count so you can get two drops in a day https://github.com/HabitRPG/habitrpg-shared/pull/30

[2013-10-22 20:07] hattieshoe commented on #1625
Okay, tomorrow I'll (1) click a yellow to-do; if no drop then (2) click a yellow habit; if no drop then (3) click a 0 streak daily. I'll let you know what happens. Should it make any difference whether I use the beta or main site?

[2013-10-22 20:24] paglias commented on #1625
Fantastic! No difference main or beta

[2013-10-22 21:39] Shaners commented on #1625
Ah I think I get it now. `user.items.lastDrop.date` gets updated on the first drop but `user.items.lastDrop.count` never resets preventing a second drop from ever happening. I wonder if anyone has been getting 2 drops in a day and if so why would .count be reset for some but not others.

[2013-10-23 05:19] octern opened #1631 "Selling potions provides streak bonus notification"
I checked off a daily for which I received an 87 silver streak bonus. Then I went to my inventory and sold a base potion. I got a "+1 GP" notification and a "+87 SP  streak bonus" notification. I tried twice more, and it continued happening.

I don't seem to actually be getting the bonus silver; I'm just getting a notification that says I am.

[2013-10-23 05:23] lefnire commented on #1631
Ah, looks like User.user._tmp.streakBonus doesn't get discarded until
User.log({}) sync. That detailed description gives some good insight into
the situation, thanks Michael

On Tue, Oct 22, 2013 at 10:19 PM, Michael Cohn notifications@github.comwrote:

[2013-10-23 08:27] paulstaab opened #1632 "Can't login with firefox password manager"
My password for HabitRPG is saved in the Firefox password manager, so than when I enter my username in the login field, Firefox automatically fills in the password for me. However, the login afterwards does not work, giving me a prompt saying

[code]

If I copy the password from the password manager to the clipboard and manually paste it in the corresponding field everything works.

This happens s

[2013-10-23 10:02] Quarkmus opened #1633 "I bought 20 gems (with Paypal) and still see ads."
I bought 20 gems (with Paypal) and still see ads.

[2013-10-23 10:34] AdrienLemaire opened #1634 "Unlock skin set after buying a skin"
Hi,

Could you please update the code so if I want to buy a skin set in which I already bought a skin, the cost of the set is reduced by 2 gems ?

I bought a spooky skin a bit fast, then decided to donate 5$ for 20 gems, and now I wish I had bought the set instead.

Thanks for your support
Cordially
## <bountysource-plugin>

Want to back this issue? **[Post a bounty on it!](https://www.bountysourc

[2013-10-23 12:27] hattieshoe commented on #1625
Wednesday 10/23/13
1. Clicked yellow to-do: there was a short pause, but no drop.
2. Clicked yellow habit: No drop, no pause.
3. Clicked zero streak daily (one I made yesterday): No drop this time!
4. Clicked daily with streak of 8: Got an egg.

No drops all day yesterday after the first one.

Today's sequence seems to bear out the theory about streaks forcing the first drop. But this streak-of-8

[2013-10-23 13:36] ShadowBB commented on #940
Hey, this bug is still occurring. How do I reopen this bug?

[2013-10-23 13:39] paglias commented on #940
@ShadowBB reopening it, by  saying they are linked do you mean that one tag's tasks are shown when the other one is selected or also that in the site the 9th and 8th tags are highlighted at the same time like if you clicked both?

[2013-10-23 14:07] ShadowBB commented on #940
The second one

Both tags are highlighted when I click only 1 of them.
Or when they are already highlighted:
Both tags are un-highlighted when I click only 1 of them.

They also actually filter "correctly", so only tasks (Etc.) that have both these tags are shown... however that always happens because I can't give a task only 1 of these tags... if I give a task 1 of these tags he automatically rec

[2013-10-23 14:19] ShadowBB opened #1635 ""Options" should change into "Tasks" when clicking the avatar in the tasks window (and visa versa)"
When I click "Options" (In the "username" drop down menu) it changes to Tasks so the user can correctly switch back to the Tasks view-port.

However when I use the Avatar to go the the Options menu there is still the option to go to the options menu in the drop down menu.

Clicking this menu item will not change anything but this menu item itself (which if clicked again behaves like it should and

[2013-10-23 14:37] lefnire commented on #1633
Sorry, this was a manual database migration issues I hit with a handful of
users. Shoot me your user ID and I'll disable
On Oct 23, 2013 3:02 AM, "Quarkmus" notifications@github.com wrote:

[2013-10-23 14:40] paglias commented on #1635
Thanks for the report! This has been fixed in https://github.com/HabitRPG/habitrpg/commit/0c7ba32c6b1ee377ac7a85fb33df2737c686467d, it should arrive on the site in the next few days!

[2013-10-23 14:40] #1635 closed, assigned to nobody

[2013-10-23 14:43] paglias commented on #940
Probably you have already tried this but in case you didn't, what happens if you delete and recreate both tags?

[2013-10-23 15:04] baconsaur commented on #1625
I just did the same experiment as hattieshoe and got the exact same results. I'm fairly sure I've had drops when clicking a zero streak daily first before, but that didn't happen this time. May have just been a coincidence. I generally start off with one of my higher streaks, which are around 170.

I did have this problem long before streaks were introduced, but that was pre-rewrite, so that may h

[2013-10-23 15:22] SabreCat commented on #1625
Cool investigation, @baconsaur, @hattieshoe! So it's not literally the
first click... but there could still be some issues here.
- Are streaks guaranteeing a drop, at some point? Should they? What should
  that point be? (I'd like to see a steady chance increase until the
  all-important 21-day mark, at which point an infinitesimal miss chance for
  a drop is fine. But that's just one opinion.)
-

[2013-10-23 15:26] paglias commented on #1625
@SabreCat considering a delta of about 1 or more (I always found it to be a number from 1 to 2) with 19-20 streak the chances of getting a drop are about 100%

No one is getting the second drop in a day because the count is never resetted, it should be fixed with https://github.com/HabitRPG/habitrpg-shared/pull/30 which I haven't merged myself since I'm not entirely sure it's going to work correct

[2013-10-23 16:03] paglias commented on #1540
Streak achievements are back! The commits are https://github.com/HabitRPG/habitrpg-shared/commit/9285a3e44b3f4d4ce33379c01c9872e6e6f2427e for habitrpg-shared and https://github.com/HabitRPG/habitrpg/commit/20f2d75bbf19bdb6ca3c6a519308a21ed6fe0e7c for the main site

[2013-10-23 16:03] #1540 closed, assigned to nobody

[2013-10-23 16:29] lefnire commented on #1540
Awesome man! One thing - looks like it requires a refresh to go through (modal & badge don't show until after refresh, undo doesn't remove until after refresh - [video](https://dl.dropboxusercontent.com/u/3869142/streak_achievement.mp4)). I think the solution is to `user.markModified('achievements')` after setting the achievement. I haven't figured out what the deal is here, but sometimes certain

[2013-10-23 16:31] paglias commented on #1540
@lefnire try now updating habitrpg-shared, I didn't run `grunt` so the browser wasn't getting the new code

[2013-10-23 16:32] paglias commented on #1540
the commit is https://github.com/HabitRPG/habitrpg-shared/commit/79e0d5cba2ff5567c8ca20a18b0b74fa8b9a2419

[2013-10-23 16:35] lefnire commented on #1540
sure enough, that did the trick! deploying

[2013-10-23 16:38] lefnire commented on #1540
Random thought, should we start removing the `paths[...]=...` stuff? We used to have that since it was required for Derby to be aware of what's been modified; however, Angular's digests & Mongoose's attr-setters take care of the situation and don't need to know which paths have been modified. On the one hand, none of our current projects use `paths` (now that we're off Derby), on the other hand _o

[2013-10-23 16:44] lefnire commented on #1635
getting an error http://gyazo.com/758dce802158c517f0405888e9c0d9f8 , but it appears benign (everything still works, and this bug is indeed fixed)

[2013-10-23 16:45] paglias commented on #1540
I thought they were needed for mongoose... I would remove them, I mean I don't think that anyone uses habitrpg-shared and even if they did they should trust only the api, I think habitrpg-shared is made for the main site client & server and for the mobile app. As a developer I would not rely on it, but we can also keep them, it's the same

[2013-10-23 16:48] lefnire commented on #1540
Ha, you're the same as me. "Meh". But cool, I'll take a peak later to make sure nothing is using it, and if not I'll just delete them when I see them

[2013-10-23 16:48] aurakami commented on #945
I made a moonstone :D I know it's not on the list, but I made it in case you guys may want it xD (Plus, it's my favorite stone.)
![moonstone](https://f.cloud.github.com/assets/4622000/1391827/86d44802-3c02-11e3-98b4-5547fe57cc56.png)
![moonstone_large](https://f.cloud.github.com/assets/4622000/1391828/8b6eaf2e-3c02-11e3-8ba1-1298b6e810a5.png)
![moonstone_large](https://f.cloud.github.com/assets/46

[2013-10-23 16:50] paglias commented on #1635
it seems to appear only when opening the app with no hash attached to the url (habitrpg.com only), fixed in https://github.com/HabitRPG/habitrpg/commit/fe52731393470473a830ab04198280b01fca338a

[2013-10-23 16:51] aurakami commented on #946
Completely random, but here is a candy corn ya'll may use xD
![candy_corn](https://f.cloud.github.com/assets/4622000/1391883/4d9bb1b4-3c03-11e3-9886-2685ce1cfa80.png)
![candy_corn_large](https://f.cloud.github.com/assets/4622000/1391884/4f8a4170-3c03-11e3-99ac-eb1dc8a9795b.png)
Happy Halloween everyone! :)

[2013-10-23 16:52] lefnire commented on #946
candy cooooorn!

[2013-10-23 18:04] MllePandaRoux opened #1636 "Back after 1 month..."
Hi,
I left HabitRPG a bit, leaving my character in the tavern. I just came back and my character died and lose all of her gear :(

I know I can restore my character but I don't remember her characteristics, can you help me with that ?
Thank you in advance

[2013-10-23 18:31] Pandoro commented on #945
Oooh that looks sexy. It's pretty big, but I think it would work out as
some sort of item!

On Wed, Oct 23, 2013 at 6:48 PM, aurakami notifications@github.com wrote:

[2013-10-23 18:34] aurakami commented on #945
Thank you! I can make it smaller if you want? I don't know what sizes things should be so I'm kind of winging it, haha. :) Should it be with or without animation?

[2013-10-23 18:40] Pandoro commented on #945
Arg :x I used to know this kind of stuff, but lately I have been out of the
loop pretty much :x Because of that I don't really know if it can be used
or not, but I like it. Somehow I thought it looked really fitting as an egg
for a certain project, what do you think @lemoness ? But if you say it is a
stone, maybe we should not misuse it ;)

Size wise, I think this would be some kind of item in whi

[2013-10-23 18:45] ozziefallick commented on #1485
Pull request submitted. Hope to be getting the actual date-picker in soon!

[2013-10-23 18:45] aurakami commented on #945
Ah no worries :) I'd love to contribute more random art, I'm just worried about sizes. I can do a different shape? Maybe an oval instead? Common shapes of them are circles or ovals but I can do something different. Or do one that isn't cut? Or you can use it as an egg, haha. Whatever ya'll want :D

Derp, I just saw this when I scrolled up, "Items should be under 45 pixels wide and 39 pixels high a

[2013-10-23 18:51] Pandoro commented on #945
:) Yea as far as I know there is still a lot of art in the pipeline, but
eventually if quests come I am sure that we will need a LOT of dropped
items ^^.

I checked, the bigger one seems to be 36x36 pixels at 3x zoom level so it
should be fine. Also I think it should be 45 high and 36 wide actually as
the potions are higher than they are wide :x

On Wed, Oct 23, 2013 at 8:46 PM, aurakami notificat

[2013-10-23 18:56] aurakami commented on #945
Oh fun :D I can just keep pumping out random stuff whenever ideas come to me, haha. (Or until I annoy enough people.) I can't wait x3

No bigger than 45x36 at 3x zoom, I can do that :)

Here's the oval one and the smaller one just in case xD
![moonstone_oval_large](https://f.cloud.github.com/assets/4622000/1393111/c154e196-3c14-11e3-8c8e-e541b8cc98bf.gif)
![moonstone_1_large](https://f.cloud.githu

[2013-10-23 20:24] lefnire commented on #1623
I kinda slopped it together to get something working (since people were requesting). In case someone gets to this before me, another issue is that the graph has a manually-set width since it's not detecting the wrapping div's width for some reason

[2013-10-23 21:19] lemoness commented on #1540
Quick question - is there a way for us to retroactively get streak
achievements? Because I got a bunch in the interim period, but they still
haven't showed up. Also, will above-21 streaks garner the achievement (aka
will I get it for clicking a Daily for the 30th time)??

On Wed, Oct 23, 2013 at 9:48 AM, Tyler Renelle notifications@github.comwrote:

[2013-10-23 21:20] lemoness commented on #946
Haha, yum!! :D

On Wed, Oct 23, 2013 at 9:52 AM, Tyler Renelle notifications@github.comwrote:

[2013-10-23 21:31] lemoness commented on #945
Loving the animation! These all look great, and I think they can absolutely
be used in the quest system. We'll definitely keep you posted!!

On Wed, Oct 23, 2013 at 11:57 AM, aurakami notifications@github.com wrote:

[2013-10-23 21:37] aurakami commented on #945
Thank you :) No worries if you don't end up using anything I make. Supporting the site and making the art is all fun and well enough for me.

[2013-10-23 21:45] lefnire commented on #1540
Unfortunately no. We'd have to write a database migration, and even at that I can't think of a possible way. We'd have to count all users' dailies' streaks mod 21, and add that many achievements - but there's no way to tell how many current achievements happened after the achievements weren't working vs how many of users' current were from before

[2013-10-23 21:56] brightbold commented on #1540
Wait, seriously? I've been telling people in the tavern their achievements will show up once it it was ported. I don't want people coming after me with pitchforks!

[2013-10-23 22:15] lefnire commented on #1540
I mean, I could just add achievements for all `task.streak % 21`, but people are going to end up with many more achievements than is accurate

[2013-10-23 22:26] lefnire commented on #1540
alternatively I could could set people's achievements manually if they shoot me a #

[2013-10-23 22:31] atariisoda opened #1638 "gray all the time/ frozen"
hey got a question..so my dailies are all gray every day although I have some of them set to be performed every day, they are all frozen:( and I am not sleeping in the Tavern either. So I can't progress coz nothing changes.

[2013-10-23 22:32] brightbold commented on #1540
Yeah, I was just writing the following comment when I saw your above comment in email:

How about a temporary honor system (like the reset streak) that lets us enter the total number we think we should have? Is that possible? I think people are going to be disappointed not to get that reinforcement. It's been a long time since anyone's had a streak achievement!

So whichever of those two solutions

[2013-10-23 22:34] lefnire commented on #1540
That's probably the easiest fix, I'll get started on that
On Oct 23, 2013 3:32 PM, "Kelley Curry" notifications@github.com wrote:

[2013-10-23 22:38] brightbold commented on #1540
Thanks - that's awesome. You'll need to tell us the date that streak achievements stopped recording so we can do the math.

[2013-10-23 22:39] lefnire commented on #1638
yowzer, what's your uuid?

[2013-10-23 22:43] atariisoda commented on #1638
it's Atarii..wait mate .. you just fixed it :D sweet looks like it works now :) darn it I was stuck for days.. and I can even see the progress chart thingy Thank you

[2013-10-23 22:43] lefnire commented on #1540
July 9th, Angular rewrite go-live day

On Wednesday, October 23, 2013, Kelley Curry wrote:

[2013-10-23 23:13] lefnire commented on #1638
Hmm.. strange, I didn't do anything. Keep an eye on it, if it happens again
see if there are any javascript errors. It could have been cached old
scripts

On Wed, Oct 23, 2013 at 3:43 PM, atariisoda notifications@github.comwrote:

[2013-10-24 03:14] SwizzleSticks opened #1639 "Party Leader Cannot Boot Inactive Members"
Hi all,

There are two inactive members in my party and I cannot boot them no matter how many times I click boot member. I have tried internet explore and chrome. I've disabled extensions, etc. I used chrome's "inspect element" and it looks like it should be asking me to confirm the boot after I click the icon, so it should be possible.

Thoughts?

Swizzlesticks

[2013-10-24 03:17] lefnire commented on #1639
Hasn't been ported yet. It not showing a "not ported" dialog? Was such an
underused feature I saved it for later. I can boot someone manually if you
want

On Wednesday, October 23, 2013, SwizzleSticks wrote:

[2013-10-24 03:24] Valiorin opened #1640 "Dallies don't reset"
So i completed all my dallies last night... And they stayed grey all day.  This isn't the first time this has happened.  I'm not sleeping in the tavern as far as I know, and they are all set for every day.

[2013-10-24 03:51] KristenEberts opened #1641 "Unchecking and re-checking a daily gives more gold and XP than just checking it off once"
If you check off a daily task, then un-check it (e.g. because it wasn't QUITE done when you first marked it complete), you should lose the exact amount of gold and XP you had gained by completing the daily, right? What actually happens is that you lose most, but not all, of what you'd gained. If you check off the daily a second time, you get more XP and gold than you did the first time you marked

[2013-10-24 06:07] SwizzleSticks commented on #1639
Hi Tyler,

It's not showing the "not ported" dialogue unfortunately. I'd appreciate it if you manually booted two members though. Should I just post them here? If so, I hope you don't mind if I edit my post after.

[2013-10-24 06:11] lefnire commented on #1639
You can email me at tyler@habitrpg.com if you're worried

On Wednesday, October 23, 2013, SwizzleSticks wrote:

[2013-10-24 06:57] lemoness commented on #1540
Fantastic workaround, considering. I agree that people would have been very upset - I certainly would have!!

[2013-10-24 07:35] lefnire commented on #1482
Given your last comment, I was able to fix it (https://github.com/HabitRPG/habitrpg/commit/afb1687cf52e64ba09222df57b43c3669e3c4716 and https://github.com/HabitRPG/habitrpg/commit/af230bed77ce01674419e4e46d002290cf871667#diff-7a6d770c287cf03133942144e9f2c670R136 for getting around the ads issue) on the `challenges` branch. I'm going to close this, since it will come in once I merge challenges (it'

[2013-10-24 07:35] #1482 closed, assigned to nobody

[2013-10-24 12:09] paglias commented on #1482
Fantastic!

[2013-10-24 12:25] Laros commented on #1460
I still get this error. I was loged in with via FB. even if I log out and back in I still get the error. Also tried with Chrome, Firefox and IE.

[2013-10-24 12:29] paglias commented on #1639
I'll work on this, but until the other users refresh the page more or less nothing change, right? Also, I'm going to add it as an api route, it doesn't need to be accessible using batchUpdate/User.log, right?

[2013-10-24 12:44] paglias commented on #1627
Fixed in https://github.com/HabitRPG/habitrpg/commit/3a45e721381e26ce32531d3a37b9db17e06f6a32

[2013-10-24 12:44] #1627 closed, assigned to nobody

[2013-10-24 12:56] paglias commented on #1460
@Laros could you try following the steps in this screenshot? https://www.evernote.com/shard/s17/sh/eec8d98a-f9f0-4e83-920e-f5eb83d70384/f0be7cb3671608e7978e3f6a5f21e417

[2013-10-24 12:57] paglias commented on #1460
@Laros even when not logged in

[2013-10-24 12:58] paglias commented on #1641
@AntiquatedMeme thanks for the report, it's a known bug, you can follow at #964

[2013-10-24 12:58] #1641 closed, assigned to nobody

[2013-10-24 13:11] paglias commented on #1623
@lefnire we can set it to the column width with jquery, it won't adapt when window is resized but it's not a big deal.

The only thing is that it's really to small on some screens like my 1366x768 where the column width is 251px.

Actually it looks like this:

![selezione_005](https://f.cloud.github.com/assets/589911/1398952/99776fe2-3cad-11e3-81d5-b33409b3f8b6.png)

Adapting it to the column widt

[2013-10-24 13:35] hattieshoe commented on #1625
Thursday 10/24/13
1. Yellow daily 0 streak - no drop
2. Yellow daily 0 streak - no drop
3. Yellow daily 1 streak - no drop
4. Yellow daily 2 streak - no drop
5. Green daily 0 streak - no drop
6. Green daily 4 streak - dropped potion
So yeah, it looks like the other drop-on-first-clicks that were for 0 or low streaks may have been coincidences, and the streak amount does seem to strongly influence

[2013-10-24 15:59] paglias opened #1643 "Tags deletion"
There was a problem when deleting tags that ended in api.deleteTag not being called (it is fixed in https://github.com/HabitRPG/habitrpg/commit/715e4e42a5d29b07be080320908b10da5f50b7b4 - the commit message is wrong). So tags on the server are updated correctly because `saveOrEdit` (https://github.com/HabitRPG/habitrpg/blob/develop/public/js/controllers/filtersCtrl.js#L8-L13) sends down `user.tags`

[2013-10-24 16:02] paglias commented on #1643
Also the ui (tasks' tags list) isn't updated until the server return the whole user object, this is probably a scope issue but I couldn't solve it

[2013-10-24 16:24] paglias commented on #1643
OK api.deleteTag has been added to batch update operations (https://github.com/HabitRPG/habitrpg/commit/1f8915f5de54357a236f1a4106b50ef84acdff07), it set user.wasModified until I find out why it doesn't update the ui...

[2013-10-24 16:50] lefnire commented on #1639
db query will be `db.groups.update({_id:GROUP_ID},{$pull:{members:MEMBER_ID}})`. Right, doens't need to be accessible by batch (mainly, only the things that mobile uses need that access). Since it's an API route, it will take effect once the viewing user refreshes, doesn't require the booted to refresh

[2013-10-24 16:58] lefnire commented on #1627
god, @paglias you are on FIRE!

[2013-10-24 17:21] lefnire commented on #1643
Look at a the server to see if User.save is actually saving the user to the database (which invokes `__v++`). Sometimes, for reasons I haven't yet figured out, some attributes aren't markedModified, so User.save() just passes through without hitting the database - in those cases I run `user.markModified('tags'), etc` manually.

If I don't get around to writing a migration in time, hit me with one

[2013-10-24 17:23] lefnire commented on #1623
I wonder why it was working in Derby version (it made the dates readable), we haven't modified the Google Charts code any in porting. Ah well. Is your first image without the jquery? That's not too bad actually, IMO, having he score  legend outside the task. Should we roll with that?

[2013-10-24 17:25] paglias commented on #1643
The server saves it correctly it's an angular problem that doesn't update the ui unless the server return the whole user object with the correct changes

[2013-10-24 17:54] paglias commented on #488
I think this is resolved now. Just made a fast checking, if it still happens, just post a comment and I'll reopen it

[2013-10-24 17:54] #488 closed, assigned to nobody

[2013-10-24 17:59] paglias commented on #524
This is implemented now.

[2013-10-24 17:59] #524 closed, assigned to nobody

[2013-10-24 18:05] lefnire commented on #1540
pushing to beta. will push to production later once i can sift out some of the newer things (like hair)

[2013-10-24 18:06] lefnire commented on #1640
Can you see if there are any javascript errors? (see http://community.habitrpg.com/content/submitting-bugs)

[2013-10-24 18:11] #913 closed, assigned to nobody

[2013-10-24 18:17] lefnire commented on #1632
Yeah, I think it's the same as that one - let's follow up there. I think it's something about using AJAX login forms

[2013-10-24 18:17] #1632 closed, assigned to nobody

[2013-10-24 18:19] paglias commented on #855
For experience there's a graph and also for each task, now. Only gold/life progress is missing

[2013-10-24 18:23] #775 closed, assigned to nobody

[2013-10-24 18:24] #767 closed, assigned to nobody

[2013-10-24 18:51] paglias commented on #1243
Closing in favour of #1523

[2013-10-24 18:51] #1243 closed, assigned to nobody

[2013-10-24 19:01] paglias commented on #993
It's now possible to revert back to an older armor set

[2013-10-24 19:07] paglias commented on #1364
Is this still happening?

[2013-10-24 19:10] paglias commented on #1427
@LordGrowl , this is quite difficult if not impossible to replicate, can you reopen in case you see it once again?

[2013-10-24 19:10] #1427 closed, assigned to nobody

[2013-10-24 19:16] lefnire commented on #1186
oh shoot, is guild creation doing a User.log() for balance--? Yeah, most everything else is being handled on the server so this definitely needs to be updated. Good catch @paglias

[2013-10-24 19:27] lefnire commented on #1561
@ACRPG if you, or anyone else on this thread, wants some apology gems hit me with UUID. Sorry everyone, and thanks @paglias!!

[2013-10-24 19:32] paglias commented on #1524
@hammermybones closing in favour of #1543

[2013-10-24 19:32] #1524 closed, assigned to nobody

[2013-10-24 19:38] #1509 closed, assigned to nobody

[2013-10-24 19:45] paglias commented on #1617
Also, on splash pages the user isn't logged-in so he won't get the gems, or no?

[2013-10-24 19:45] #1612 closed, assigned to nobody

[2013-10-24 19:47] paglias commented on #1611
This is fixed, see #1643, but I still have to write the database migration to fix it for existing tasks, follow-up there

[2013-10-24 19:49] lefnire commented on #1617
right, it's best we just remove it from the homepage.

[2013-10-24 20:28] Shaners commented on #993
I think this request is about having the armor displayed on the character but not receiving the stat bonus from said armor. Maybe a setting for hardcore mode? Some talk about a hardcore mode here: https://trello.com/c/k2MWBcxl/204-death-mechanic but it probably needs it's own trello card.

[2013-10-24 20:39] ACRPG commented on #1561
Hi @lefnire, thanks for the offer. My User ID is 03a02bbb-d54d-48c6-96f9-117c804d8590. Is that all you need?
Thank you all!

[2013-10-24 20:48] lefnire commented on #1561
There ya go

On Thursday, October 24, 2013, ACRPG wrote:

[2013-10-24 20:49] Ohrange opened #1644 "Habit is really slow"
I've searched around and can't find this issue reported recently. Apologies if this should be somewhere else.

Habit is consistently taking over a minute to load up for me. This is way too long. I often find myself popping on to tick something off or to add a task to my to dos but by the time the site has finally loaded I've forgotten what it was. Ticking things off is slow as well and it's a nigh

[2013-10-24 20:56] fro0m opened #1645 "I have only "????????" instead Russian Lang sentences in name and description to task"
i created it by my Android tablet but after sync it has become ???????
it's very disappointed me cause i forget what i wrote there =((((

[2013-10-24 20:59] fro0m commented on #1645
wow suddenly i reminded that =))) but fix android app

[2013-10-24 21:00] paglias commented on #1644
Do you have a lot of completed todos? Try clearing them, it has helped a
lot of people

[2013-10-24 21:04] paglias commented on #1645
Writing it in Latin alphabet causes the same problem or not? Also does it
happens also on the site or only on mobile: both creating it directly on
the site and creating it on the phone and seeing it on the site?

[2013-10-24 21:22] paglias commented on #1645
I tried with some cyrillic text taken from the web and it shows correctly....
![2013-10-24 21 08 53](https://f.cloud.github.com/assets/589911/1403356/3af687a6-3cf2-11e3-893c-7676df6d326a.png) also on the website. Let me know if I did anything wrong

[2013-10-24 23:27] lemoness commented on #1634
This would actually be a useful feature, similar to the iTunes Complete-An-Album feature - especially if we are going to be doing more of these in the future.

@lefnire is getting this kind of code in at all feasible before the Event ends? Or will it have to wait until future events?

In terms of pricing, @shaners is generally pretty good at that. Let's see - maybe 4 or 3 gems to "complete a set"?

[2013-10-24 23:29] lemoness commented on #1633
Furthermore, some of my friends started complaining about the quality of the ads - including "Free Sex Games" and "Buy A Wife From Asia." Actually. They have screen shots.

Is that the kind of ad that Habit has (I hope not), or did settings get screwed up in the migration?

[2013-10-24 23:30] lefnire commented on #1634
Yeah, we'll have to add that the "complete a set" feature in for the next event

[2013-10-24 23:32] lemoness commented on #1616
Having this problem again, and it's driving me insane!! It definitely happens every time I add a new Daily. I'm house-sitting this week, so I had to add a bunch - and now my Dailies list is a nightmare. I've had to reorder EVERYTHING three times already - they keep getting entirely scrambled!!

[2013-10-24 23:35] lefnire commented on #1633
No, that's just Adsense - I hate to put this out there.. but it creates ads from (a) what it reads on the page (aka people's tasks), (b) what it knows about the user's browsing history. Mine's all about Android, audiobooks, games, etc... lol _gulp_

And don't worry, it's not a privacy point of concern as far as Habit's concerned. 99% of sites with ads use adsense, it's just the default drop-in unt

[2013-10-24 23:36] lefnire commented on #1633
Anyway, @lemoness are your friends still seeing ads when they shouldn't? Shoot me their UUIDs if so and I'll disable. This should have been fixed per a reverse migration, I'll be bummed if it's still an issue for people

actually, if you want @lemoness i can give you perms to edit the adsense block - I would assume there's a way to disable tracking and instead give it some keywords to go off of (l

[2013-10-24 23:54] lemoness commented on #1633
HAHAHHAHAHAHHAHAHAHAHAH I'M GIVING THEM SO MUCH FLACK FOR THIS

I'll check and see if they're still seeing them - their complaints were
around the time of the migration.

We'll talk to Vicky to see what she thinks. People are pretty used to
spammy ads, IMO.

On Thu, Oct 24, 2013 at 4:46 PM, Tyler Renelle notifications@github.comwrote:

[2013-10-25 03:18] ianoff commented on #1616
FYI, it's not just dailies. It's been happening to me on To Dos & Habits as well, whenever a new one is added, they get resorted from newest on top, to oldest on the bottom -- custom order is gone.

[2013-10-25 03:28] jayweiler commented on #1598
Same happened to me. I was even able to buy another egg and hatch another pet with the same potion. Then the potion and 2nd egg disappeared but so far I still have the 1st egg and both pets.

Update: Navigating away from the page clears the inventory.

[2013-10-25 05:09] Valiorin commented on #1640
It seems to be working today and so I don't see any script errors at this time.  If it happens again I will post an update.  Thanks for the help!

[2013-10-25 06:49] Shaners commented on #1634
Hmmm
- Skin Price: 2
- Set Price: 5
- Rainbow Price (w/o set discount): 16
- Spooky Skin Price (w/o set discount): 12
- Rainbow Set Savings: 11
- Spooky Set Savings: 7

People that buy the whole set at first deserve full discount as an incentive. People that have bought a partial portion of the set should get less of a discount but still should be offered some discount to purchase the remainder.

[2013-10-25 10:47] atariisoda commented on #1638
Well of course it was premature happiness, it still is not working :( If I only knew what these javascript error magical words mean i would fix it.. well anyways HELP

[2013-10-25 10:56] atariisoda commented on #1638
I made a picture with opened console..it's a bit in Polish so I'll try to translate it says: The configuration of the app does not allow the use of this URL: at least one of the given Url address is prohibited. The address must match the site address or the domain must be a subdomain of the application domain... or something like that and it sound very abstract to me :)

![screen shot 2013-10-25 a

[2013-10-25 13:40] hattieshoe commented on #1625
Friday 10/25/13
1. Yellow daily 0 streak - no drop
2. Yellow daily 0 streak - no drop
3. Yellow daily 1 streak - no drop
4. Yellow daily 1 streak - drop egg
Any reason for me to keep tracking this? It seems the problem has been narrowed down pretty well.

[2013-10-25 13:41] hattieshoe commented on #1625
Whoah, I just clicked something else and got another drop. Did someone fix the second-drop issue?? If so - thanks!

[2013-10-25 13:42] paglias commented on #1625
@hattieshoe ahah no need to continue keeping track of this, thanks a lot :) The 1-drop a day limit has been fixed and now it's 2 drops a day as it should be. We should only decide if we're ok with a 100% probability for 20 and more days streaks

[2013-10-25 13:56] paglias commented on #786
This doesn't seem to be an HabitRPG problem and it's well discussed in the post linked by @arscan

[2013-10-25 13:56] #786 closed, assigned to nobody

[2013-10-25 14:10] paglias commented on #1605
This is the same bug as #1630, let's follow up there

[2013-10-25 14:10] #1605 closed, assigned to nobody

[2013-10-25 14:12] paglias commented on #1502
Bugs like #1630 could be related to angular-ui-bootstrap?

[2013-10-25 14:41] paglias commented on #1638
This bug seems to be the same of #1057 and #1640. I would say there's a sync problem with the server.

@atariisoda next time it happens could you try logging out and back in and report if the problem persists? Thanks

[2013-10-25 14:42] paglias commented on #1640
@Valiorin it's the same bug as of #1638, I'm closing this in favour of the other.

Next time it happens, could you try logging out and back in and report if the problem persists on #1638? Thanks

[2013-10-25 14:42] #1640 closed, assigned to nobody

[2013-10-25 14:44] paglias commented on #1638
Also @atariisoda some people seem to experience this only if they open the site after midnight and they have a custom day start, it's your case?

[2013-10-25 15:07] fro0m commented on #1645
so, the task was created by android app. I have no thoughts what could cause that

[2013-10-25 16:23] #738 closed, assigned to nobody

[2013-10-25 16:32] paglias commented on #716
13 digit it javascript Date format, milliseconds since January 1, 1970

[2013-10-25 16:32] #716 closed, assigned to nobody

[2013-10-25 16:38] paglias commented on #1645
so on the website it shows correctly if it's created there?

[2013-10-25 16:43] paglias commented on #1586
I tried on android and it works, does it happens only with facebook accounts?

[2013-10-25 16:43] Shaners commented on #1636
Don't think we have the resources available (Tyler's time) to investigate where you were at before leaving but you certainly can restore yourself to the best of your abilities through Settings > Restore. Or could take this as an opportunity for a Habit rebirth and start from scratch again!

[2013-10-25 16:46] paglias commented on #1582
similar to #1598, closing

[2013-10-25 16:46] #1582 closed, assigned to nobody

[2013-10-25 16:53] paglias commented on #1573
This is still happening?

[2013-10-25 16:56] paglias commented on #1554
I'm almost sure it's wrong authentication, leave a comment if it's something else or it's still happening

[2013-10-25 16:56] #1554 closed, assigned to nobody

[2013-10-25 17:00] paglias commented on #1503
What about this? I can implement it but we should decide a) how often to poll for chat b) something automatic after the user first loads the chat or an opt-in?

[2013-10-25 17:01] #1633 closed, assigned to nobody

[2013-10-25 17:05] paglias commented on #1616
Mmmm... I have no clue on this but as soon as we switch to mongodb's subdocs for tasks we'll need to use a specific property to set item's position so we'll need to update the whole code about this feature and probably this issue will be fixed too, right @lefnire ?

[2013-10-25 19:00] ACRPG commented on #1561
wow, thanks so much, @lefnire!

[2013-10-25 19:36] lemoness commented on #1634
I knew you could be counted on!!

On Thu, Oct 24, 2013 at 11:49 PM, Shane Lister notifications@github.comwrote:

[2013-10-25 19:42] paglias commented on #1625
I think we can close this, if you want to change the probability of getting a drop then open another thread

[2013-10-25 19:42] #1625 closed, assigned to nobody

[2013-10-25 19:46] paglias commented on #1616
ok I got this too this evening.

It may, but I'm really not sure that the only way to make order persisting is replacing the whole array of items (https://groups.google.com/forum/#!topic/mongodb-user/HfFlSInmZME) replacing the old one with the new one which has updated ordering.

I don't know if this will work or not and I think the best solution would be to wait for the switch to subdocs.

[2013-10-25 22:32] Ohrange commented on #1644
Love the awesomely fast replies! Shamefully, I didn't have that many completed to dos but I've cleared the ones I did have. It's taking about a minute to load now. So, still painfully slow. I'm using Chrome.

[2013-10-25 23:48] lefnire commented on #1616
@paglias i'm going to be switching to subdocs on the challenges branch, i'm working on the migration as we speak. If I haven't release challenges within a week, and we need subdocs sooner than later, tell me and I'll re-structure the commits (`git rebase -i`) such that these fixes can be pulled into develop/master - maybe monday/tuesday

[2013-10-26 04:47] paglias commented on #1644
Slow loading times are strange, we optimised the site some time ago so that
most resources are cached and even when they weren't I still was able to
load everything in less than 10secs... Are you sure it's not a connection
issue?

[2013-10-26 14:06] SabreCat commented on #1364
Doesn't look like it. Thanks for the reminder!

[2013-10-26 14:06] #1364 closed, assigned to nobody

[2013-10-26 15:18] paglias commented on #1623
The score is outside the column because for some reason the graph doesn't start from the left but after or in the middle of the coloured vertical strip. Probably with some css hack I can make it showing the values on the y axis on the couloured strip like in my last screenshot.

Also some graphs have dates shown oblique, and they usually are wel readable while in some cases the dates are horizonta

[2013-10-26 15:21] paglias commented on #1629
Ok, everything should be ok with a cache refresh (f5 or ctrl+f5 when on habitrpg.com). If you notice that it continues to happen that cache isn't refreshed when new version are released please open a ticket since it may be a serious issue.

[2013-10-26 15:21] #1629 closed, assigned to nobody

[2013-10-26 15:28] paglias commented on #1603
A PUT to user/task/:id shouldn't be used to mark a todo as complete but only to edit its title, note... instead there's POST /user/tasks/:id/:direction that should be used passifn the task id and in case of a todo direction: up to mark it complete and direction: down to mark it incomplete.

It's documented here https://github.com/HabitRPG/habitrpg/wiki/API

[2013-10-26 15:28] #1603 closed, assigned to nobody

[2013-10-26 15:31] paglias commented on #1597
Probably the same ad #1589, let's follow up there

[2013-10-26 15:31] #1597 closed, assigned to nobody

[2013-10-26 15:34] paglias commented on #1594
Mmm... yes that is the current behavior when making a POST to '/user/task/:id/:direction' and the task doesn't exist, but at it should let you delete/edit the tasks as normal. Is this (not being able to edit or delete) happening only to @Mr-Margaret-Scratcher or also to @philadams ? In case, could you post the uuid of the account you created tasks on?

[2013-10-26 15:36] paglias commented on #1593
Yes, when you connect to the site it uses the user saved in localstorage but it should immediately send a request to the server to get the updates, it is still happening?

[2013-10-26 15:39] paglias commented on #1613
@s-boardman have you managed to sign up, in the meanwhile I tried, using chrome, and couldn't reproduce this issue in any way. Could you try registering from the phone/another pc?

[2013-10-26 15:40] paglias commented on #1446
I think we can continue on #1246 since they seem exactly the same issue related to 1pass

[2013-10-26 15:40] #1446 closed, assigned to nobody

[2013-10-26 15:42] paglias commented on #1246
@lefnire in the meantime we could add a small notice advising people to manually write the password in case they are using a password manager and it doesn't work?

[2013-10-26 15:46] paglias commented on #1576
Could be the same (or at least the same source) of #1598, in case it happens again please post a comment there

[2013-10-26 15:46] #1576 closed, assigned to nobody

[2013-10-26 15:58] paglias commented on #1442
Is this coming together with subdocs?

[2013-10-26 16:22] paglias commented on #526
Follow up at #477

[2013-10-26 16:22] #526 closed, assigned to nobody

[2013-10-26 16:40] lefnire commented on #1502
I think #1630 was also happening before ui-bootstrap. people were reporting tooltip / popover flicker. Incidentally, tooltips / popovers are the #1 thing ui-bootstrap solves, since otherwise we'd have to re-initialize them every time an element is re-drawn (eg, via ng-if or ng-view). Sill trying to figure out what we're gonna do about that

[2013-10-26 16:47] lefnire commented on #1503
I'm in favor of automatic after they first load the chat. Might be a pain to determine which group tab they're on and setInterval / clearInterval accordingly, so whatever you think is the best solution

[2013-10-26 16:51] lefnire commented on #1442
Yeah, I'll b working on the .tasks => habits/dailys/etc subdocs this weekend, I'll get back to you ~Monday with the progress and I'll see if I can merge them from `challenges` to `develop`.

[2013-10-26 16:56] lefnire commented on #1644
I agree with @paglias: if you've already cleared your completed to-dos, and you don't have thousands of tasks, then slow loading time on the /#/tasks page (your main page) means something's up that we're not aware of. /#/options > groups slow-loading is a known issue, we're in the process of building a lazy-loading framework for each group tab (they're very heavy on data)

[2013-10-26 16:59] lefnire commented on #1593
Every API action does authenticate > **cron** > action. So what happens if they're "dead man walking" so to speak, is they die, then their task gets checked. There may be a better way about this, this was the easiest way to go about it on the backend for the time being until we can think of something else

[2013-10-26 17:00] lefnire commented on #1246
yeah, maybe a `<small>If you have trouble with password managers, bla bla bla</small>` right under the pw field?

[2013-10-26 17:44] kitsully commented on #1644
I have cleared my completed todos as well. I had a lot. There was a noticeable difference, but its not as fast as it used to be a few weeks ago. Additionally, I've been getting unresponsive script warnings in both FF and Chrome.

[2013-10-26 19:13] melarish opened #1646 "Trying to buy spooky set, get 500 error"
Chrome console gives something like this:

Failed to load resource: the server responded with a status of 500 (Internal Server Error) https://habitrpg.com/api/v1/user/unlock?path=skin.monster,skin.pumpkin,skin.skeleton,skin.zombie,skin.ghost,skin.shadow
Arguments[1]
0: Object
callee: (...)
get callee: function ThrowTypeError() { [native code] }
arguments: null
caller: null
length: 0
name: "ThrowTy

[2013-10-26 20:21] hannawolf commented on #1586
I think it's a problem only with facebook accounts, but I have an iPhone, so I don't know if that contributes to the problem...  Has anyone gotten this issue resolved yet?  I'm still appless :-(

[2013-10-26 20:32] ghost commented on #1586
I ditched my iPhone (I hated it!) and bought an Android phone. Everything
works fine now.

On Sat, Oct 26, 2013 at 4:21 PM, hannawolf notifications@github.com wrote:

##

Author of _Ashfall_ and _Ashen Winter_.
www.mikemullinauthor.com