[2013-11-15 21:29] nafoster commented on #1828
This happened to me too. I left the second party I was being shown and it automatically placed me in the first one with my friend.

[2013-11-15 21:54] RosemonkeyCT commented on #943
First ever muck about with shields - Hope they aren't too pants! But it's something new to me =/

![demon shield](https://f.cloud.github.com/assets/5843898/1554151/8ea7ac4a-4e40-11e3-902b-c46d48f4d9bf.png)
![healer shield](https://f.cloud.github.com/assets/5843898/1554152/8ef5dd2a-4e40-11e3-9fb3-e5633ee1be03.png)
![ninja shield](https://f.cloud.github.com/assets/5843898/1554153/8efe1706-4e40-11e3-

[2013-11-15 22:24] RosemonkeyCT commented on #943
By the way, I know they're too big - they're x3 zoom like the pets. I was going to ask if they're x2 or just x1 zoom. I stuck with x3 because I wasn't certain - at least you can see them heh. And they're not "for" any class, just trying ideas.

Is the idea of healers and mages having metaphorical shields a thing? Like potions and spells? Because I can have a go at that too ^^

[2013-11-15 23:22] nafoster commented on #943
@RosemonkeyCT: That's a good question. In the meanwhile, you could possibly make symbols for like Fire, Water, Earth, Air, etc.

[2013-11-16 00:37] djuretic commented on #1723
It's happening again.

[2013-11-16 00:42] mpavelko opened #1836 "Pets Missing!"
It looks like all my pets are missing when I try to sign in with Chrome. No pet next to my avatar and none in my stable. No problems in Safari.

[2013-11-16 01:26] fragmental opened #1837 "Guild doesn't show up in the list of Guilds I can create challenges for."
I created a guild, and it doesn't show up under the list of guilds I can create a challenge for.  There is another guild I am also a member of that doesn't show up also.

[2013-11-16 01:36] lefnire commented on #1837
fixed

[2013-11-16 01:36] #1837 closed, assigned to nobody

[2013-11-16 01:37] lefnire commented on #1836
#1818, please refresh Habit

[2013-11-16 01:37] #1836 closed, assigned to nobody

[2013-11-16 01:39] AdrienLemaire commented on #945
fyi, I created a [trello card](https://trello.com/c/sTWAspoH/316-quests) to list and keep track of the Quests pixel art

[2013-11-16 01:51] lefnire commented on #1723
fixed again

[2013-11-16 01:51] #1723 closed, assigned to nobody

[2013-11-16 01:51] lefnire commented on #1821
fixed

[2013-11-16 01:51] #1821 closed, assigned to nobody

[2013-11-16 01:53] lefnire commented on #1786
Wooo!

[2013-11-16 01:59] kakariki commented on #1828
I just attempted to leave the party to see if it reconciled the issue of there being 2 parties, and when returning to the Party tab, it still lists me as being in the party I just left. My friend still cannot see the group they are apparently a member of.

[2013-11-16 02:03] lefnire commented on #1828
Looks like you created 4 parties (found in database). Basically, you're going to need to leave 3 times. For now, any time the page reloads and the party isn't legit, leave. It will be random which party shows up (you may get the "good" on after the 1st leave), but you'll need to leave the 3 bad parties.

@paglias you're right! I was wondering how so many users ended up creating multiple parties, t

[2013-11-16 02:16] RosemonkeyCT commented on #945
Cool =)

[2013-11-16 02:17] lefnire commented on #1828
fixed the above check. but it's strange that @kakariki didn't see the party immediately after creating (i do on my end, `$scope.group = newGroup` kicks in just fine). We'll want to investigate further

[2013-11-16 02:40] lefnire commented on #1828
@kakariki what I mean was you ne- actually, never mind I'll just do some database operation. Check now

[2013-11-16 02:47] lefnire commented on #1833
is this still an issue for you? I'm showing your user is just fine in the database, and you have BearCub-CottonCandyPink equipped. My hunch is #1818 (you just needed a hard refresh). Re-open if still an issue.

[2013-11-16 02:47] #1833 closed, assigned to nobody

[2013-11-16 02:49] RosemonkeyCT commented on #943
Symbols on the shields? Or just symbols in general? And how big?

This sort of thing?

![air](https://f.cloud.github.com/assets/5843898/1555563/a62f9c6e-4e69-11e3-8f50-c4ea4e575136.png)
![water](https://f.cloud.github.com/assets/5843898/1555564/a63fb612-4e69-11e3-8908-06999186a164.png)
![earth](https://f.cloud.github.com/assets/5843898/1555565/a64c6f06-4e69-11e3-9ad8-35a2a1b126c5.png)
![fire](http

[2013-11-16 02:51] RosemonkeyCT commented on #943
...I can do better, I promise. I rushed those to ask if that's what you meant. Ugh, I need to go to bed >_<

[2013-11-16 02:53] RosemonkeyCT commented on #943
Ps if you mean spells, I can sorta do that - I made this a bit ago for my boyfriend -
![roy](https://f.cloud.github.com/assets/5843898/1555571/2aca6abc-4e6a-11e3-813c-f2648c263f9f.gif)
I know it wouldn't be animated. Again, just making sure I follow what you mean. I sometimes get a bit muddled up =/

[2013-11-16 02:58] lefnire commented on #1829
fixed. Also added group & creator in chal header

[2013-11-16 04:45] kakariki commented on #1828
@lefnire All fixed now, thanks :)

[2013-11-16 05:08] #1828 closed, assigned to nobody

[2013-11-16 05:15] SabreCat commented on #1829
Ah! That's pretty cool (if a little busy-looking, with the group and creator info on there). I was actually talking about this list, though, sorry:

![screenclip](https://f.cloud.github.com/assets/4501321/1555730/0a571a3c-4e7e-11e3-83f4-c66329764354.png)

"displayed in groups" meaning, the list of Challenges that you can view from within a Group's page. Clear as mud?

[2013-11-16 05:33] lefnire commented on #1829
Fixed challenge box (pushing)

[2013-11-16 05:33] #1829 closed, assigned to nobody

[2013-11-16 08:53] lefnire commented on #943
@lemoness is right. I'm looking around and it appears we're beyond good (a backlog even!) on pets & mounts. We need weapons & shields for non-warrior classes. Looks like mage weapon is finished (god those look awesome @fuzzytrees, you are seriously talented!). I'm loving @RosemonkeyCT's shields, # 2 is perfect for healers. If anyone wants pointers on getting started, here's @Pandoro's original [sp

[2013-11-16 09:04] lefnire commented on #943
@loarfy - those sprites are absolutely fantastic. Man I want to be that magician! We currently only have 4 classes planned ([deets here](https://trello.com/c/L1H6LiZ3/110-character-stats-attributes-the-class-system)): warrior, healer, mage, rogue. [Scroll up](https://github.com/HabitRPG/habitrpg/issues/943#issuecomment-18117752) & lemon's got the rogues designed. So options for your designs are (1

[2013-11-16 13:02] SabreCat commented on #1789
Hatched another pet today, and the counter increased by 1 without problem. So I'm not sure! We already cleaned up those "undefined" pets from a while ago, right?

I guess unless it happens again, all I need is to have the counter reset to its proper value. But by the sound of it, deploying Mounts may clean up the pet counts along the way, so I'll hang out and see what happens then.

[2013-11-16 13:34] SabreCat commented on #1829
:heart: Love it. Thanks!

[2013-11-16 14:19] #1786 closed, assigned to paglias

[2013-11-16 14:22] ghost commented on #1057
Same issue for the first time. My day start was at 4am. Yesterday, I've been offline all day long, so I checked all my dailies after midnight. Today, everything was still checked, no health loss.

[2013-11-16 14:47] SabreCat opened #1839 "Bug report warning looks terrible on non-widescreen"
If I've got Habit up on my old 4:3 monitor, the warning about bug reporting via proper channels instead of just complaining in chat gets chopped up in unpleasant fashion:

![screenclip](https://f.cloud.github.com/assets/4501321/1556381/fb4ffe28-4ecd-11e3-8867-8a7c2f6437b5.png)

The styling here would be more palatable if it made one big bubble containing the whole width of both lines when a break

[2013-11-16 15:27] SabreCat opened #1840 "Fancy text characters get mangled on @ repost"
Firefox on Win7 here--not totally sure if it happens anywhere else, but it sounds like it's preventing @wc8 from seeing chat highlights ever.

Our Legendary Scribe has a scroll character in her display name, which looks fine when called up via At and included in a chat post:

![screenclip](https://f.cloud.github.com/assets/4501321/1556459/531e0f1e-4ed3-11e3-80fd-8c075f355594.png)

But once it actu

[2013-11-16 15:27] nafoster commented on #1839
What is your monitor resolution? I might be able to tackle this since responsive design is my thing :P

[2013-11-16 15:30] SabreCat commented on #1839
1280x1024, using Firefox at normal zoom (as far as I can tell, anyway... the browser's not very forthcoming with that setting).

[2013-11-16 15:34] nafoster commented on #1839
Is it just happening using Firefox?

[2013-11-16 15:36] SabreCat commented on #1839
Lessee, I've been avoiding Chrome lately since it's slower and crashier than Firefox... oh, interesting! Chrome treats it this way, flying under the button instead of wrapping:

![screenclip](https://f.cloud.github.com/assets/4501321/1556491/d50a1418-4ed4-11e3-812d-48004b0ccdbb.png)

[2013-11-16 15:39] nafoster commented on #1839
Interesting. I will definitely take a look at this.

[2013-11-16 15:51] loarfy commented on #943
@lefnire ah thank you! :D i would be cool with any of those options; just having my stuff used would be great tbh <3 i'm really glad everyone seems to like them!!
i saw that a bunch of rogue things were done already but for some reason i thought there was gonna be like... different sets of rogue armor, or something like that. idk.  i didn't mean to just bulldoze over the already made ideas, sorry!

[2013-11-16 16:07] SabreCat opened #1841 "Add "Most Popular" vs. "Newest" sort options"
I thought of this with respect to the Public Guilds list (https://beta.habitrpg.com/#/options/groups/guilds/public), but it could also be handy for the Challenges list (https://beta.habitrpg.com/#/options/groups/challenges). Related to #1829, we could get some more love for less-frequented Guilds by letting people sort them in recency order. Definitely default to the current number of members sort

[2013-11-16 17:14] paglias commented on #1789
@SabreCat undefined pets are still there I believe, I have one pet more than I should in pets' count. About beast master achievement I don't know if rare pets are still counted now

[2013-11-16 17:14] paglias commented on #1832
I believe relative-date isn't used anywhere, it's in package.json but never required

[2013-11-16 18:32] bobbyroberts99 commented on #1841
## Add "Category" sort option

Another way to get newbie challenges some love might be to assign challenges to a category/hashtag. Kind of like tags for tasks but globally available. And maybe instead of displaying a long list of all challenges in Tavern and Challenges, we display the list of categories and allow drill down. Better yet provide the option of how to look/sort (e.g. list by cats or n

[2013-11-16 18:58] snicker commented on #1832
should we trim it out? Guess this issue can be closed

[2013-11-16 18:58] #1832 closed, assigned to nobody

[2013-11-16 18:59] paglias commented on #1832
I think so, it's used in habitrpg-shared though so we may give a look there
if it can be replaced by Moment. Will give a look to it tomorrow.

[2013-11-17 00:44] brightbold commented on #1840
I also see the double Unicode placeholders on Chrome Mac when wc8's name is typed in a comment. When trying to call it up via At or when viewing a post she's written, I see this:
![wc8](https://f.cloud.github.com/assets/405068/1557547/2fc24b18-4f21-11e3-90c9-13fd0512aa04.png)

I only knew it was supposed to be a scroll because she mentioned it once.

[2013-11-17 02:58] dfjkla commented on #587
This gamebreaking bug still happens, twice this week alone. Any progress?

[2013-11-17 03:04] AndreCaseyScott commented on #587
I had this happen a few days ago, think it was related to me checking in
with the official app. Still no idea what actually triggers it. Happens so
randomly. After the api fixes last time, it rarely happens to me now. But
still annoying.
On Nov 16, 2013 6:58 PM, "dfjkla" notifications@github.com wrote:

[2013-11-17 05:37] abdou1884 commented on #1732
Hi,
My Dailies counter resetted to 1 too. I was one a streak of 4 for three dailies, and I checked them out. They were part of the challenges tasks, so I can't restore the counter too. I'm using Chrome and my username is Abdou1884, as this one. Can I get any help with that?

[2013-11-17 10:20] AdrienLemaire commented on #945
What do you think about this monster as a new boss ?

![gorilla-boss](https://f.cloud.github.com/assets/260983/1558200/db31454e-4f71-11e3-844c-3810aae7a902.png)

(I was trying originally to make a gorilla, but I really messed up the face ^^

[2013-11-17 10:57] AndreaCs opened #1844 "Deleted To-Dos reappearing, draining HP quickly"
I have created a To Do some time ago, and i realized that even after completing/deleting it, it keeps coming back, draining HPs very quickly. Simply refreshing the page makes it come back.
Is there any way around it? or i will be unable to continue at this rate.

![bug](https://f.cloud.github.com/assets/5063361/1558242/ea2f3786-4f76-11e3-860a-ac18990fe3f1.JPG)

[2013-11-17 12:33] paglias commented on #1832
Fixed

[2013-11-17 16:07] Mirosan opened #1848 "HP is at 0 and the char is not dead"
I'm using Google Chrome version 31.0.1650.57 m.
My UserID is bf2dc54a-0905-42af-bbfb-5f66439ef70b.

As I mentioned in the title my char has 0 hp and is still alive. He keeps getting more XP as I'm doing more tasks but he doesn't "die".

I'm would check for some JavaScript errors but I don't know where to start.

Cheers

[2013-11-17 16:08] paglias commented on #1848
Probably you have HP between 0 and 1 but they get rounded down so you see them as 0

[2013-11-17 18:34] lefnire commented on #1844
what's your UUID?

[2013-11-17 18:52] lefnire commented on #943
@loarfy might be we use your gear as end-game rogue set, and a boss (see [latest comments here](https://trello.com/c/sTWAspoH/316-quests))

[2013-11-17 18:56] AndreaCs commented on #1844
Im not sure what the UUID is, my User ID under API, in the settings screen,
is 34b0bca6-82b2-4e74-953c-b9491dd1c049

On Sun, Nov 17, 2013 at 7:34 PM, Tyler Renelle notifications@github.comwrote:

[2013-11-17 19:19] lefnire commented on #1844
That's the UUID, thanks. I ran a script which should have fixed the issue, try again now.

The issue was (@paglias, keep an eye out with me - I'm not sure where this is triggering) that some users' tasks had the wrong type. In this case, the todo's task.type was "habit". @AndreaCs normally, To-Dos don't hurt your avatar as they go red (only Habits & Dailies do). Anyway, should be fixed now.

[2013-11-17 19:19] #1844 closed, assigned to nobody

[2013-11-17 19:29] snicker commented on #1840
Confirmed issue, I'll have to see if this is being caused my some library not being unicode friendly

[2013-11-17 19:35] smograth commented on #946
I made a musical note - not much, but it's something. (Icon Art in the Trello thing)
x1:
![music](https://f.cloud.github.com/assets/5962028/1559128/5692e2c2-4fbf-11e3-880c-b3341f490184.png)
x3:
![musicbig](https://f.cloud.github.com/assets/5962028/1559129/63f682ac-4fbf-11e3-9d95-8e90bffc69e3.png)

[2013-11-17 19:36] lefnire commented on #1840
TMK it's probably Angular doing an html-safe filter, stripping emoji. Either going in (before saving it to `group.chat.0` in the database), or coming out (simply the display of `chat.user`). If this is indeed the issue, we're gonna want to keep it this way. Enabling html-unsafe means users can do cross-site script attacks and hack other users who view their chat messages

[2013-11-17 19:37] snicker commented on #1840
It should just be a Unicode character though, if not, it begs the
question of how it got there in the first place.

[2013-11-17 19:41] lefnire commented on #1840
good points, both!

[2013-11-17 19:41] lefnire commented on #946
Daniel The Bard will be stoked :)

On Sunday, November 17, 2013, smograth wrote:

[2013-11-17 19:42] snicker commented on #1840
Just confirmed, was able to set my username with an emoji, i'll check into where the problem happens ;)

[2013-11-17 19:47] AndreaCs commented on #1844
Thank you!

[2013-11-17 20:07] snicker commented on #1840
Problem seems to be how Angular is encoding the URL before sending to the API, digging into it

[2013-11-17 20:23] paglias commented on #1844
@lefnire definitively very strange... if we used an array of tasks (User.virtual('tasks') is an array of ids only?) it wouldn't happen I believe

[2013-11-17 20:33] lefnire commented on #1844
`User.virtual('tasks')` is an object, the way user.tasks used to be stored, for backwards compatibility in locations that expect `user.tasks`:

[code]

The actual tasks are stored as arrays (User.habits, User.dailys, User.todo, User.rewards). We keep `task.type` on them anyway because we need to reference `task.type` periodically, where we may not know which list it's coming from (eg `lists.jade`)

[2013-11-17 20:56] smograth commented on #942
Here's a penguin!
1x:
![penguin](https://f.cloud.github.com/assets/5962028/1559338/9843ec24-4fca-11e3-8dd0-071d39261efe.png)
3x:
![penguinbig](https://f.cloud.github.com/assets/5962028/1559339/a1fc53fa-4fca-11e3-8b9f-8297a62997b8.png)
I'll do the colours if it's well received.

EDIT: Here's one without shading.
![penguin](https://f.cloud.github.com/assets/5962028/1559343/1d0a04d4-4fcb-11e3-93e0-70

[2013-11-17 21:49] smograth commented on #943
I don't know if this is the right thread-thingy, but I've made some dresses, with and without long sleeves;

Normal sleeves:
x1:
![dress](https://f.cloud.github.com/assets/5962028/1559447/c3ededaa-4fd1-11e3-826d-75ba4c615f05.png)
x3:
![dressbig](https://f.cloud.github.com/assets/5962028/1559448/c9817dc2-4fd1-11e3-9c84-2c4a5d7eb1e9.png)

Long sleeves:
x1:
![dresssleeves](https://f.cloud.github.com/

[2013-11-17 23:29] ghost opened #1849 "Resources appear in guilds page"
Resources (websites) appear in the guild description.

For instance (example from my own guild),

It would be much nicer if the resources did not follow the guild description, like before.

[2013-11-17 23:42] lefnire commented on #1849
Deliberate. We removed the websites feature from groups and users, since
you can achieve the same functionality with markdown in your description,
and it was adding extra maintenence. migrated the old websites into the
description fields and deleted the feafure
On Nov 17, 2013 3:29 PM, "Evropi" notifications@github.com wrote:

[2013-11-17 23:42] #1849 closed, assigned to nobody

[2013-11-17 23:53] AdrienLemaire commented on #1458
bump on this issue. I haven't seen the notification icon in a very long time. Also, as far as I remember, it was only notifying new messages on the party. I suggest to fix and improve the feature by also notifying everytime our username is cited in the party, a group, or in the tavern.

[2013-11-18 00:48] ghost commented on #1048
So, at the moment, the code is set to 52% potions and 48% eggs, right? That's really odd...

A few days ago, I had 8 eggs, no potions. Now, I have 12 eggs, and two potions - base potions, when the only base pets I don't have are also the ones I have no eggs of.

[2013-11-18 01:29] snicker commented on #1458
I'm contemplating re-adding this feature now that highlighting is a
bit more reliable, I think it went missing a while back

[2013-11-18 01:39] therufs commented on #1048
It actually looked like 50/50 the other day when I poked around, but that's barely different.

I can take a look when I get home unless someone more knowledgeable does first.

[2013-11-18 01:56] AdrienLemaire commented on #1458
berzerker in action :)

[2013-11-18 02:24] AdrienLemaire opened #1850 "Memory leak"
It seems all memory-leak related cards ( eg Issue #1356) have been closed, but I can still experience issues.

![cpu_habitrpg](https://f.cloud.github.com/assets/260983/1560111/c1b9deaa-4ff8-11e3-8860-f81d5ca587ef.png)

When I let habitrpg open for too long (sometimes not so long actually), chromium will use 100% of my cpu, trying to load the habitrpg page, and will ask me to kill it.

[2013-11-18 04:20] lefnire commented on #1789
@SabreCat @paglias should be fixed, once and for all (see above commit). Do a double-check on your accounts

[2013-11-18 04:42] lefnire commented on #1611
@paglias did I break this?

[2013-11-18 05:04] lefnire commented on #1850
are you syncing chat often? I think either @snicker or @paglias mentioned trying to implement long-poll on chat, but it causing a mem-leak. I wonder if that's the leak your'e hitting, or if there's also something else

[2013-11-18 05:13] AdrienLemaire commented on #1850
I do sync chat often ^^

Then, I'll refresh the page instead of clicking the sync button from now on, until it gets fixed. Thanks :)

[2013-11-18 05:25] lefnire commented on #1732
@abdou1884 I'm pushing ability to restore streak on challenge tasks, 5m should be live. @SabreCat @wc8 what do y'all think about this, should I keep it in the game? Streak doesn't do anything on challenges (yet) so it won't really affect anything.

[2013-11-18 05:54] paglias commented on #1850
Surely chat syncing is leaking several tens of memory at every sync for the
tavern at least. Probably it's not the only problem with memory but the
only one I could verify

[2013-11-18 08:32] cleave29 commented on #1113
This happened to me twice just recently in the past two days.  I think it actually said it was giving me a potion and then gave me an egg instead.

[2013-11-18 08:36] lefnire commented on #943
So I'm thinking we can use the mage staves for healers too, since they'll be increasing `INT`. That means we need the following:
- 4 more cross-bows (@zoebeagle, you still playing these days?)
- 3 "Spell" (or ability, or skill) icons for all classes. These aren't defined yet, but see [Trello](https://trello.com/c/L1H6LiZ3/110-character-stats-attributes-the-class-system) for a gist, and I'll post b

[2013-11-18 11:24] loarfy commented on #943
@lefnire SWEET. uh, idk if there's anything i've gotta do on my end, so hit me up if there's something I should be doing here, hahahaha

[2013-11-18 12:50] SabreCat commented on #1789
Ah, great. Back to (pets + rare pets) / 90. Thanks @lefnire!

[2013-11-18 12:54] SabreCat commented on #1732
I would vote for it being a temporary inclusion until this issue is resolved. With your own Dailies, the only person you're hurting by cheating is yourself. With a challenge Daily, the challenge leader might be using streak count to help decide the prize winner, so hacked streak values could really sour the situation.

[2013-11-18 14:30] RosemonkeyCT commented on #1732
Sorry, I've been a bit slow on keeping up with this one =/ since the beginning, my computer is a tiny bit slow in general, but the two websites it absolutely cannot cope with (and this will make you laugh) are HabitRPG and Google, particularly the image search - that just fries everything! The daily resorted itself and those have been fine since though, not sure if that was you or just luck but ya

[2013-11-18 14:33] RosemonkeyCT commented on #945
I have no idea what that is, but I want to run away from it very quickly hehe.

[2013-11-18 14:33] RosemonkeyCT commented on #946
Oh that's pretty!

[2013-11-18 14:36] RosemonkeyCT commented on #943
@lefnire Thank you, and sure. I'll have to come back to that, I have an appointment in 20 minutes. I'll try out a few more things when I get back so you can choose the ones you like the best ^^

[2013-11-18 14:38] RosemonkeyCT commented on #943
...Actually, you say Cleric? I'll play around with the colours and styles, see if I can fit with the armour sets and such. Either way, I'll go for too many over too few. I'd rather give choices. I liked the different shapes of the shields as well as the different patterns on them.

[2013-11-18 15:29] paglias commented on #1789
I can confirm it's working, plus now rare pets shouldn't be counted in both pets found and for the beast master achievement.

See https://github.com/HabitRPG/habitrpg/commit/557d65a6263b4368c63f580d1c716cf0d304d06a and https://github.com/HabitRPG/habitrpg-shared/commit/ec1681fce460a332285e84b17932ef3d68fb05d5

Rare pets are currently hard coded in the habitrpg-shared helper (second commit above) s

[2013-11-18 15:29] #1789 closed, assigned to paglias

[2013-11-18 16:00] paglias commented on #1611
Well it seems that finally client-side UI is updated correctly, but server doesn't work and I don't understand why... The returned user is saved correcly and indeed you see the empty tag icon only after a refresh and I can't understand why...

[2013-11-18 16:01] snicker commented on #1840
Well, I've narrowed down the problem at least, unfortunately, I'm not an encoding guru on this kind of stuff.

It appears that the string is not getting encoded properly before leaving the client in the query string. the following string:

according to http://www.url-encode-decode.com/ should get encoded in UTF8 as:

but for some reason, this gets encoded as

Then, on the Node side of things, neit

[2013-11-18 16:02] snicker commented on #1840
Well, Github helped me figure out another possible reason for this problem as I tried to post the above message:
![image](https://f.cloud.github.com/assets/221540/1564093/c653bf5e-506a-11e3-9bf6-c23c40fb16bd.png)

[2013-11-18 16:04] snicker commented on #1840
I'm guessing that's the problem. The only reason this is really an issue is that the message is being sent in the query string... if we sent the payload as JSON in the body, the issue would go away. I don't quite know how to do that either.

[2013-11-18 17:03] RosemonkeyCT commented on #943
Okay... I used the shield designs I had, used the smaller-sized shield because I'm assuming a beginner one would be smaller, and played around using the colours of the first level healer outfit. Here's what I've come up with for designs. If any stand out, let me know and I'll make a full set of those for each level... 4 shields? 5 shields? I just don't want to do each of these 5 times because ther

[2013-11-18 17:04] RosemonkeyCT commented on #943
I know some of the colours clash a bit, not all the designs work, but I posted them all anyway - if you want me to tweak any to see how they look a little differently just let me know.

[2013-11-18 17:10] lefnire commented on #943
Shoot yeah, meant to say healer instead of cleric (religious implications & such). Those are great! That gives me plenty to work with!

[2013-11-18 18:11] RosemonkeyCT commented on #943
Yeah, that's cool. Are there any in particular you liked and wanted me to make more versions of? Like the bigger ones? And in the different healer colours?

[2013-11-18 19:07] RosemonkeyCT commented on #943
On a different note, I tried having a go at the ability icons - here's something I tried for "bash". I don't like the "shockwave" effect I tried to use, I don't think it works. But when I think of bashing something, this is the image in my head.

And I am still going for x3 zoom, I'm assuming by now that's a standard. This it fits in a 50x50 canvas after being zoomed, that's pretty much the size I

[2013-11-18 19:07] snicker commented on #1840
Here's a fun read:
https://gist.github.com/mranney/1707371

[2013-11-18 19:14] RosemonkeyCT commented on #943
Attempt two - like the hammer better, still not sure how to show the movement/sound of the bash =/

![bash](https://f.cloud.github.com/assets/5843898/1565876/9741b8e0-5085-11e3-8245-c49a75fb0f37.png)

Any suggestions?

[2013-11-18 19:19] RosemonkeyCT commented on #943
Attempt three - sorry, I can't make up my mind on things! But i reckon I've cracked it this time:

![bash](https://f.cloud.github.com/assets/5843898/1565904/4cfd8218-5086-11e3-932d-7bfb46c647bd.png)

I'm going for a lie down before I start breaking my computer or my brain melts!

[2013-11-18 21:15] RosemonkeyCT commented on #943
I think I like the idea of matching coloured shields for the healers to fit the armour. After all, the shields for the warriors sort of do too. I know the cross is a bit religious-connotations, but I also know it's a universal sign for aid, and I think that's the best choice for a shield personally. So I'll make the 5 shields based on that thought.

As for the other two designs, I imagined the dar

[2013-11-18 22:01] RosemonkeyCT commented on #943
Here's my set of 5 shields with the cross design using the 5 healer class armours as a base:

![healer 1](https://f.cloud.github.com/assets/5843898/1567339/dd91cb5c-509c-11e3-99df-b2c53f413498.png)
![healer 2](https://f.cloud.github.com/assets/5843898/1567340/dd94075a-509c-11e3-84bf-008aa5429b91.png)
![healer 3](https://f.cloud.github.com/assets/5843898/1567341/dd97478a-509c-11e3-99dd-579f4996a777

[2013-11-18 22:03] RosemonkeyCT commented on #943
The round one looks bigger, so it might work better as shield two instead of one... on the blue and green shields there's some dark green and dark blue but at this zoom it seems to blend too much. Still, I wasn't sure about the full gold thing. I prefer the red and purple one. I'll keep tweaking.

[2013-11-18 22:11] RosemonkeyCT commented on #943
Tweaked a bit - you can see the colours now.

![healer 1](https://f.cloud.github.com/assets/5843898/1567461/576a28a6-509e-11e3-8546-36f513c13624.png)
![healer 2](https://f.cloud.github.com/assets/5843898/1567462/59c92d4a-509e-11e3-99d3-90ff8a29e966.png)
![healer 3](https://f.cloud.github.com/assets/5843898/1567463/5b964e3c-509e-11e3-8076-8843a327a426.png)
![healer 4](https://f.cloud.github.com/ass

[2013-11-18 22:23] RosemonkeyCT commented on #943
I sort of like the almost heartlike shape of the last shield. The second to last one has the tweaked-up corners I gave the first healer shield, but I'm uncertain about if it works. If anything about the shapes don't work it's easy sorted.

In fact, I'll change the green and blue ones slightly again. Sorry, I work better when I talk out loud like this to someone even if they don't reply.

Blue - mo

[2013-11-18 22:26] RosemonkeyCT commented on #943
Argh, that green shield is bugging me so much!

[2013-11-18 23:49] snicker commented on #1840
UGH... talk about chasing a rabbit down a hole... everything seems to be working just fine until the message is rendered using the ngBindHtml directive.

If I do this:
`span {{message.text}}`
instead of this:
`span(ng-bind-html="message.text | linky:'_blank'")`
unicode characters (emojis, really) are rendered correctly.

Hell, I didn't even notice it, but even highlighting works correctly, it's ju

[2013-11-19 00:16] smograth commented on #946
Aw, thanks!

[2013-11-19 00:55] smograth commented on #946
I don't know if this would be useful, but I made a heart effect animation thing. (It's matched to the colour of the health bar!)
x1:
![withoutglow](https://f.cloud.github.com/assets/5962028/1568640/3432d5ec-50b5-11e3-90bf-36fe63489d4b.gif)
x3:
![withoutglowbig](https://f.cloud.github.com/assets/5962028/1568644/43e693ca-50b5-11e3-999e-68258301a2c5.gif)

[2013-11-19 01:16] lefnire commented on #943
These are looking fantastic IMO. I'll start demo-ing on avatars to give you
a feel once I'm at a computer. FYI you can edit posts if you want to
consolidate updated art
On Nov 18, 2013 2:26 PM, "RosemonkeyCT" notifications@github.com wrote:

[2013-11-19 01:24] lefnire commented on #1840
I wonder is it worth it? Don't want to rain on your track if you're onto
something (or enjoying the challenge), but I'd personally toss in and say
"use emoji at your own risk"
On Nov 18, 2013 3:49 PM, "snicker" notifications@github.com wrote:

[2013-11-19 01:58] fuzzytrees commented on #943
Mage and healer staves:
![mage and healer staves](https://f.cloud.github.com/assets/4355305/1569194/d261de5c-50bf-11e3-9d32-581e1ebf8444.png)

Please note that some shading has been added on mage staff # 3, so please use this version.
Opinions on the final mage staff? Is it fancy enough?

Edited to add: Wait I still counted wrong, there are supposed to be 7 weapons, aren't there? Hmmm.....
Edited

[2013-11-19 01:59] smograth commented on #943
Wow, I really like these!

[2013-11-19 02:49] lefnire commented on #943
@RosemonkeyCT cap for actions is 40x40, can you shrink the hammer? (I can use PS to scale if necessary)

[2013-11-19 03:04] fuzzytrees commented on #943
@lefnire right is healer, left is mage

[2013-11-19 03:09] lefnire commented on #1611
Likely what's going on (this took me a long time to figure out).

When you have a "fuzzy" Schema attribute, like [TaskSchema.history](https://github.com/HabitRPG/habitrpg/blob/develop/src/models/task.js#L18) (`Array`), or in the case of [TaskSchema.tags](https://github.com/HabitRPG/habitrpg/blob/develop/src/models/task.js#L22), `Schema.Types.Mixed`, then Mongoose can't override the setter methods

[2013-11-19 03:20] smograth commented on #946
Oh, and here's the musical note as a badge!
![musiccoin](https://f.cloud.github.com/assets/5962028/1569469/8529a584-50c9-11e3-981e-a15fe853d071.png)

[2013-11-19 03:22] snicker commented on #1840
At this point, probably not. Maybe one of those "fix later" sort of
things I'd enough people are bothered by it ;)

[2013-11-19 03:42] smograth commented on #946
Aaaaand finally, an EXP animation! (again, matches the bar). I was worried about it having more frames than the HP one, but they coincidentally have the same amount! Sometimes things just work out that way :)

x1:
![exp](https://f.cloud.github.com/assets/5962028/1569570/85d90e90-50cc-11e3-9f4d-3727d972a354.gif)
x3:
![bigexp](https://f.cloud.github.com/assets/5962028/1569573/988bde0a-50cc-11e3-9170

[2013-11-19 03:47] lefnire commented on #946
@smograth these anims are great - what are your thoughts on how to use them?

[2013-11-19 03:50] smograth commented on #946
I think they could be used as part of the notification for getting more EXP/HP (I should probably modify the heart gif to make one for being damaged) if you want to expand the pixelliness of the interface.

[2013-11-19 03:53] lefnire commented on #946
Gotcha. Will see if I can git 'em in, thanks for the goodies :)

[2013-11-19 03:56] Draayder commented on #943
Tried out some stuff for the rogue icons, let me know what you think.
Backstab
![image](https://f.cloud.github.com/assets/5893391/1569649/70a78a9a-50ce-11e3-9cd5-280fa1a29315.png)
Pickpocket
![image](https://f.cloud.github.com/assets/5893391/1569654/779d64c8-50ce-11e3-81bb-27449fc020cf.png)
Stealth
![image](https://f.cloud.github.com/assets/5893391/1569660/8d2bea76-50ce-11e3-8115-d8489c64a15a.png)

[2013-11-19 04:00] lefnire commented on #943
@Draayder :) :) these are great - @lemoness is gonna have a heyday for permission emails when she's back from vacay, I think we can use _most_ stuff posted on this thread in coming weeks

@fuzzytrees [shoot me](mailto:tyler@habitrpg.com) an email sometime

[2013-11-19 04:13] smograth commented on #946
Awesome - will work on the damage animation tomorrow - any suggestions for other animations I could do?

[2013-11-19 05:37] lefnire commented on #946
@smograth Animations might be a ways out as far as adding to habit. What do you think of doing some class gear, ability (spells) icons, or bosses? If not your cup of tea, keep doin' what you're doin' and I'll try to accelerate an approach to getting your stuff in the game; but if your'e up for it, see [quests/bosses art needs](https://trello.com/c/sTWAspoH/316-quests-bosses) and [classes art needs

[2013-11-19 06:24] AdrienLemaire opened #1855 "titles style"
Very minor issue: the black div wrapping the titles for a user doesn't scale correctly with the text:

![titles](https://f.cloud.github.com/assets/260983/1570111/277bbf20-50e3-11e3-9737-0a20c3a28551.png)

[2013-11-19 07:44] lefnire commented on #943
@fuzzytrees new WIP
![male_sprites](https://f.cloud.github.com/assets/195202/1570546/2e358146-50ef-11e3-9ef7-6aa74b8fb961.png) (@RosemonkeyCT give those shields a gander, tell me if you want me to use other ones / different order)

[2013-11-19 08:52] AdrienLemaire commented on #943
impressive :) But shouldn't we give them full body now instead of just head & hands ? In prevision to half-nuded future clothes.

[2013-11-19 12:00] zoebeagle commented on #943
@lefnire Yep, still here.  Do you guys have any particular theme/color requests for the other crossbows?

[2013-11-19 14:38] snicker commented on #1855
Seems to apply to people with ridiculous titles. Edge case. Suggest do not fix.

Just kidding ;)  I got you:
![image](https://f.cloud.github.com/assets/221540/1572955/45125356-5128-11e3-98ec-2e574b18cbe4.png)

[2013-11-19 14:41] snicker commented on #1855
Merged into develop.

[2013-11-19 14:41] #1855 closed, assigned to nobody

[2013-11-19 15:55] RosemonkeyCT commented on #943
@lefnire The green and blue shields need swapping over (blue is a lower class than green because it matches the lower class healer outfit), and can you use the later one on the blue?

![healer 3](https://f.cloud.github.com/assets/5843898/1573678/b731d45c-5132-11e3-84b0-b0d5f6d90819.png)

As for the green, I still can't decide between the one you've used and this one - your call:

![healer 4](https

[2013-11-19 16:04] RosemonkeyCT commented on #943
How's this?
![image1](https://f.cloud.github.com/assets/5843898/1573768/2894a1c8-5134-11e3-96af-3e6bfcd49bd4.png)

Also I love those new staffs and the way you've made the mage and healer ones different, I think it works really well.

[2013-11-19 16:21] RosemonkeyCT commented on #946
Those animations are so pretty! And I like the music note badge =)

[2013-11-19 16:24] RosemonkeyCT commented on #942
That's cute, I like the one with shading better. I have a friend who adores penguins!

[2013-11-19 16:54] SabreCat opened #1858 "Heavy armors look armless with no weapon/shield equipped"
This was something of a problem already if you happened not to buy a Shield or lost it due to death, while purchasing bigger and better armor, but is accentuated now that we can hide weapons and shields. The Plate Armor and Red Armor, at least (worse on Plate due to less color distinction between shoulder and arm), have a shoulder pad + arm design that makes the sprite look armless, or perhaps win

[2013-11-19 16:54] SabreCat commented on #1858
Screenshots later. They're kind of a pain to do on my tablet :P

[2013-11-19 17:06] marphod commented on #1803
I think the delay is related to the number of total number of tasks a user has, including _completed_ tasks.

I went through and purged a large number of my completed tasks, and the time delay went from about a minute to around 5 seconds.

[2013-11-19 17:47] lefnire commented on #1858
bump @Fandekasp Yeah, there was discussion on https://github.com/HabitRPG/habitrpg/pull/1815 . @Pandoro mentioned (and I second) concern that the pixel art isn't designed modularly, such that they can be turned on-and-off. Particularly, helms often drop low below the face, and we cut the armor from the helm along a pixel line so they can snap into place properly on a sprite guide when creating the

[2013-11-19 18:01] jacobcox36 commented on #943
Hey guys, I want to take a crack at contributing. I'm seeing on trello that this project still needs mage shields, rogue shields, and some icons? I'm not super skilled at navigating trello and github yet -_-

[2013-11-19 19:10] RosemonkeyCT commented on #943
@coyotino I'm not sure if there's been a decision on the mage and rogue shields yet, whether they're being done or not. The icons are 40x40 at x3 zoom - so it fits in a grid of 40 pixels square, and the pixels are clumped in groups of 3x3 to give the pixelated effect. Someone's done the 3 rogue ones, I had a go at one of the warrior ones, but there's still loads left.

[2013-11-19 19:12] Pandoro commented on #943
Just a little heads up 40x40 at 3 times zoom doesn't make sense as 40 is
not dividable by 3.

On Tue, Nov 19, 2013 at 8:10 PM, RosemonkeyCT notifications@github.comwrote:

[2013-11-19 19:41] snicker commented on #942
Penguin looks awesome, but I felt like the scale was off a bit, so I loaded him in:
![image](https://f.cloud.github.com/assets/221540/1575777/8e5e2056-5152-11e3-885b-dc73e90e9031.png)
OMG GIANT PENGUIN!

[2013-11-19 20:28] snicker commented on #1528
It seems that tags will clear if a new `Task` or `Reward` is added as well. I think that I'll look into this as it could probably be an easy solve with the implementation of [this trello card](https://trello.com/c/GYe6MCly/319-tags-save-selected-tags-between-sessions). I'm personally vested so I'll take this one on

[2013-11-19 21:41] AdrienLemaire commented on #1855
@snicker thanks buddy !

[2013-11-19 21:43] AdrienLemaire commented on #1858
sure, I understand

[2013-11-19 21:51] smograth commented on #946
One last animation - damage this time. (Actually made two different options here)

Fades into and out of 100% saturation before breaking in half and desaturating while the coloured parts recede:
1x:
![damagehighsat](https://f.cloud.github.com/assets/5962028/1576997/9573cad2-5164-11e3-81a2-362b3e5ca984.gif)
3x:
![damagehighsatbig](https://f.cloud.github.com/assets/5962028/1577002/9e8d471a-5164-11e3

[2013-11-19 22:06] tzolking commented on #1735
Problem fixed, no further issues!

[2013-11-19 22:33] jacobcox36 commented on #943
So in photoshop, I'd do it in a 40x40 canvas and then bump it up to 300% when I export it to .png?

[2013-11-19 22:39] smograth commented on #943
Here's a book-thing!
Regular #2a2a2a grey outline:
![purplebookgrey](https://f.cloud.github.com/assets/5962028/1577479/32ab4194-516b-11e3-8672-df335dedce3a.png)
![purplebookgreybig](https://f.cloud.github.com/assets/5962028/1577482/393631f4-516b-11e3-8b4c-b0befdfcb09c.png)

Black outline because the grey looks a bit washed-out next to those dark colours:
![purplebook](https://f.cloud.github.com/as

[2013-11-20 00:17] Draayder commented on #943
@coyotino the 40x40 is for the 3x zoom, so really you'd be working on something more like a 13x13 and then up scaling it. It's a pretty tiny area to work with really.

@smograth Those are nice looking! They read much more clearly as books than my attempts.

[2013-11-20 00:34] smograth commented on #943
Robecloaks!
Male:
![maleblurobe](https://f.cloud.github.com/assets/5962028/1578413/666b15e4-517b-11e3-9ebb-b02580837a56.png)
![maleblurobebig](https://f.cloud.github.com/assets/5962028/1578415/6dcf3b9e-517b-11e3-87a3-3315d7395a83.png)
Female:
![fembluerobe](https://f.cloud.github.com/assets/5962028/1578416/727f5e62-517b-11e3-82c5-5c8f81050ffb.png)
![fembluerobebig](https://f.cloud.github.com/asset

[2013-11-20 00:58] lemoness commented on #945
Fandekasp - Hmm, I'm having trouble reading that as a monster. I like the skull head - can you keep the head and then maybe try for a different, clearer body?

So unfortunately we can't use the class-based bosses right now because of permissions issues, so instead, we are postponing that and putting out a call for cool and interesting monsters unrelated to the class system. Go wild, guys! Be super

[2013-11-20 02:16] lemoness commented on #943
Wow, this thread is insane! Some great stuff, especially for the shields and weapons. Let's have some more rogue weapons/shields, guys! :D

[2013-11-20 02:25] lefnire commented on #943
@RosemonkeyCT will swap those out soon, thanks again!

[2013-11-20 02:27] lefnire opened #1859 "TypeError: Cannot read property 'value' of undefined (buyItem)"
[code]

[2013-11-20 03:22] smograth commented on #943
Made a shield! It is a recolour that took like 20 seconds to make :P
![blueshield](https://f.cloud.github.com/assets/5962028/1579209/9caa8f56-5192-11e3-9c9d-27285faeaea5.png)
![blueshieldbig](https://f.cloud.github.com/assets/5962028/1579211/a1e53b4c-5192-11e3-99cc-1b4023bc70b2.png)

[2013-11-20 04:31] AdrienLemaire opened #1860 "tags design messed up"
Hi,

After taking on some challenges, the number of tags is increased dramatically. And on short windows, it looks really bad:

![tags](https://f.cloud.github.com/assets/260983/1579477/7a8c699e-519c-11e3-95ad-17e6d5a39bcf.png)

I suggest to have them in one scrollable horizontal line, same as for the party members

[2013-11-20 04:37] smograth commented on #943
Here's a healer's staff!
![healstaff](https://f.cloud.github.com/assets/5962028/1579507/525a7b4a-519d-11e3-92f2-277ce9b8f022.png)
![healstaffbig](https://f.cloud.github.com/assets/5962028/1579508/554d8dba-519d-11e3-9268-04cc722b0ffb.png)
Might be a bit big; also, I'm not entirely sure about the colours, but I'm open to suggestion.

[2013-11-20 05:13] zachdwyer opened #1861 "Progress Chart: Dates not formatted correctly"
![messed up](https://f.cloud.github.com/assets/5987504/1579657/5d8024e8-51a2-11e3-9bd0-00cfe2d47c6c.jpg)

The dates on the x-axis are all mushed together. I've only been using this for 2 days, I don't know if it will fix itself after I've used it longer.

[2013-11-20 05:28] nafoster commented on #942
Got bored and made an apple as a food item for a pet. It does also look like a tomato, so it could be a generic red fruit.

![apple](https://f.cloud.github.com/assets/3391909/1579699/7354455e-51a4-11e3-97c1-e86c14c7fdba.gif)

[2013-11-20 05:37] jacobcox36 commented on #943
Alright! I had time today to do one: I made a fireball icon for the Wizard Skill. How is it?

![fireball-real](https://f.cloud.github.com/assets/5982955/1579790/8f2701ec-51a7-11e3-831e-65ca196d31a2.png)

![fireball](https://f.cloud.github.com/assets/5982955/1579762/4477196c-51a6-11e3-882f-23f9cda9a567.png)

[2013-11-20 05:51] AdrienLemaire commented on #943
I noticed that there was no bows, so I tried to draw some:

![bow](https://f.cloud.github.com/assets/260983/1579800/b93c5982-51a7-11e3-8359-31cf37f5382a.png)

[2013-11-20 07:51] lefnire commented on #943
@smograth alas, healer staves are complete and implemented (complements to @fuzzytrees!). @coyotino we'll almost certainly use that fireball - a mages 1st spell! I'll keep you posted. @Fandekasp For lack of a complete xbow set, I'm gonna try adding your bows to our rogues tomorrow, thanks for designing them! I'll post here when they're in so we can take a gander

[2013-11-20 08:12] MaddieM4 commented on #1623
@lefnire I used to have this issue on some items back in the Derby days. Not so sure this is actually new.

[2013-11-20 08:18] lefnire commented on #1623
It's a something with google charts. Can't remember if it was a variable I passed in to fix the original issue, or if it was an `style="width:.."` bit. I'll take another pass at it soon, but if anyone wants to tinker with it before I get there, check out the [line charts](https://developers.google.com/chart/interactive/docs/gallery/linechart) api

[2013-11-20 08:41] cleave29 opened #1862 "No longer getting potions (items still arrays, not objects)"
Hello, whenever I get a potion drop, I never see it in the inventory anymore.  Instead I see an increase in eggs.  It's happened three times so far.

[2013-11-20 09:13] AdrienLemaire commented on #943
ok cool ! If someone want to improve the bows, go ahead. It was really difficult for me to decide when&where to add a black border for example :)

[2013-11-20 11:20] RosemonkeyCT commented on #942
The perspective needs shifting a little too - it needs the face the same way as the other pets (it's been mentioned higher up somewhere but I can't remember what they said).

[2013-11-20 11:24] RosemonkeyCT commented on #943
I'm glad someone got what I meant with the canvas zoom thing. And if anyone wants to tweak my hammer feel free, I'm not 100% happy with it.

@lemoness welcome back off holiday!

[2013-11-20 12:12] SabreCat commented on #1858
I wouldn't advocate rolling back the "hide thing" options. When it looks sucky, it's one click to put it back the way it was. And as I mentioned, this isn't a new problem--if you don't buy a Shield, you start looking like you're missing your left arm circa Plate Armor.

[2013-11-20 12:13] SabreCat opened #1864 "Chat highlights now dependent on @ sign"
Prior to recent changes to chat highlighting, any mention of a person's name would highlight them in chat. Now, it appears that only explicit @ mentions get highlighted. Was this intentional? With username "SabreCat":

![screenclip](https://f.cloud.github.com/assets/4501321/1581753/34f17cbc-51dd-11e3-9026-86adee0f118f.png)

[2013-11-20 12:18] SabreCat opened #1865 "Profile without blurb shows "undefined" in popup view"
If a user doesn't fill out their profile blurb, and you click their name in chat or their avatar in party, you see an "undefined" in the upper left corner:

![screenclip](https://f.cloud.github.com/assets/4501321/1581775/b40b3786-51dd-11e3-9b4c-f99baef65c7c.png)

That should probably say "No profile blurb." or just hide the data element entirely.

[2013-11-20 12:35] Pandoro commented on #1858
I'm going a bit out of my comfort zone as to what I promise of me doing.
But I want to get involved more again and I am a BIG fan of this
modification. I already am afraid of the contributer set, as it looks like
you can ONLY wear it with the helmet, which I always tend to hide.

If we can do a hangout on where I can find the stuff in the repos and what
the current state of the pixelart is, I thin

[2013-11-20 13:07] AdrienLemaire commented on #1858
@Pandoro cool ! I was going to add your tutorial in the wiki in the following days, but now that you said you would, I'll let you the honor :) You'll want to add it [here](http://habitrpg.wikia.com/wiki/Tips#Pixel_Art)

[2013-11-20 14:09] paglias commented on #1865
Strange, I can't replicate this and in case the blurb it's undefined it shouldn't show up: https://github.com/HabitRPG/habitrpg/blob/develop/views/shared/modals/members.jade#L11

[2013-11-20 14:09] paglias commented on #1865
In the screenshot above, what is that symbol next to undefined?

[2013-11-20 14:11] paglias commented on #1864
I think it's intentional and probably needed for performances, otherwise every letter typed would result in search for matching usernames

[2013-11-20 14:14] paglias commented on #1859
Probably `nextItem` isn't found https://github.com/HabitRPG/habitrpg-shared/blob/master/script/items.coffee#L126, a broader problem or we can just return false if not found?

[2013-11-20 14:15] paglias commented on #1859
or more probably https://github.com/HabitRPG/habitrpg-shared/blob/master/script/items.coffee#L118

[2013-11-20 14:17] paglias commented on #1861
#1623

[2013-11-20 14:17] #1861 closed, assigned to nobody

[2013-11-20 14:33] snicker commented on #1864
Actually, this should be working, I'll investigate

[2013-11-20 14:39] paglias commented on #1864
@snicker in the readme https://github.com/scarletsky/Angular-At-Directive, in the third snippet of code a flag attribute is mentioned,

Also this is the code https://github.com/scarletsky/Angular-At-Directive/blob/master/src/at.js#L119

[2013-11-20 14:41] paglias commented on #1864
My personal opinion, anyway, is that we should have it dependent on @ sign for both performances but also because I don't want to have a list of username appearing for every letter I type

[2013-11-20 14:46] paglias opened #1866 "Strange matches in chat mentions"
I get some strange matched when mentioning people on github:

![selezione_005](https://f.cloud.github.com/assets/589911/1582672/8ade6378-51f2-11e3-9ed0-d98c2735db8e.png)
![selezione_004](https://f.cloud.github.com/assets/589911/1582673/8ae2251c-51f2-11e3-9d6d-66f181be03c8.png)
![selezione_003](https://f.cloud.github.com/assets/589911/1582674/8ae4f33c-51f2-11e3-9b2b-fbf623d62a28.png)

[2013-11-20 14:47] snicker commented on #1864
this pattern:
`(\s|@|^){1}"+username+"([^\w]|$){1}`
should be working and tests fine, but isn't passing with the space for some reason. Eliminated the previous character test as it's being tested anyway and is probably a faster executing expression as well

[2013-11-20 14:47] Derukee opened #1867 "I cant see my character"
i dont know why but 3 days ago when i log in i only see the tags and the task , help plis D:

[2013-11-20 14:48] snicker commented on #1864
@paglias the '@' sign must be typed in order to make the list pop up, but it was not previously required for highlighting, I didn't intend to break that functionality

[2013-11-20 14:50] #1864 closed, assigned to nobody

[2013-11-20 14:50] paglias commented on #1864
Yeah sorry, I think we were talking about mentions when typing, anyway since user lists in the chat box appears only after the @ sign we should make chat message highlighting consistent with it I think

[2013-11-20 14:51] paglias commented on #1866
Breadstrings, zak Dwyer and Nick gordon when typign `wc` for example

[2013-11-20 14:52] paglias commented on #1867
Could you open the javascript console (ctrl+shift+j on chrome) and report what you see there?

[2013-11-20 14:52] snicker commented on #1866
I've noticed this as well, I think it may have to do with the list being unsorted. I may chase it down this weekend.

[2013-11-20 14:54] snicker commented on #1867
Do you have "Hide Header" clicked in settings?
![image](https://f.cloud.github.com/assets/221540/1582744/b863ffaa-51f3-11e3-9a29-d3ff8eb24bf6.png)

[2013-11-20 15:40] abdou1884 commented on #1732
@lefnire thank you a lot. and I agree with @SabreCat.
@RosemonkeyCT I had same problem with entering the Inn. I restored chrome's window, and the button was visible and clickable. I use an extension called "the great suspender" to minimize chrome's and the many tabs draining my PC's performance, give it a try.

[2013-11-20 16:12] jacobcox36 commented on #943
@lefnire Awesome! I'll do the other two spells this weekend.

@Fandekasp Those bows are sick! I'd suggest maybe just using darker colors on the thinner ones to make them more defined. Do I have your permission to modify them a bit when I get some extra time?

All of this awesome pixel art and gear that everyone's producing is getting me super excited for the new class system!

Question: Are semi-t

[2013-11-20 16:23] MaddieM4 opened #1869 "Green line visible in Contrib Gear announcement when mouse is hovered over"
http://imgur.com/lvYPiCZ

When you hover your mouse over the advertised equipment, the outfit drops down a bit, as intended. However, this reveals a thin green line at the top, that probably shouldn't be there. It's possible this line also exists for the main avatar at the top-left, and it's just hidden by the name caption, but who knows?

[2013-11-20 16:39] SabreCat commented on #1865
It's on beta.habit at least. I can supply a test user and password if you want.

The symbol is just an asterisk, I think. It shows up for people who have blurbs, too.

[2013-11-20 16:43] SabreCat commented on #1864
I'm in agreement with @snicker - assuming no noticeable performance hit, I'd rather see highlights for mentions even without @ flags. Not everybody knows about or uses the autocomplete, like in the example here.

I could be convinced otherwise, though--it would end once and for all the accidental highlighting that happens to folks with short and/or pedestrian user names. :P

[2013-11-20 16:44] snicker commented on #1864
The most recent highlighting fix should have taken care of the issues
with folks with short usernames. I pity the fool that chooses "A" for
their username though, they're just asking for trouble

[2013-11-20 17:09] lefnire commented on #1865
It's from the migration that merged websites into the blurb, and removed websites. I moved them to the blurb in markdown format (asterisk list). I believe this happens then for users who had added a website and deleted it from their profile, leaving the field as `undefined` in mongo. Then the migration copied the value in as literal text. Ah well, minor

[2013-11-20 17:11] lefnire commented on #1869
A piece of the upcoming mounts system peaking through. Pets will have progress bars indicating their growth before they become mounts. This is tucked away enough, and mounts is so close around the corner, I'm just gonna leave it as is

[2013-11-20 17:11] #1869 closed, assigned to nobody

[2013-11-20 17:12] MaddieM4 commented on #1869
Cool! Looking forward to the new feature!

On Wed, Nov 20, 2013 at 9:11 AM, Tyler Renelle notifications@github.comwrote:

[2013-11-20 17:19] lefnire commented on #1858
@Pandoro let's catch up soon (saturday's G+?), I can show you the files and
the complications. For now, let's hold off on this until the class system
is built (is in progress) since I'm knee-deep in sprites and they're in
high flux.

On Wednesday, November 20, 2013, Adrien Lemaire wrote:

[2013-11-20 17:41] ianjohnsa commented on #1803
I also am having this issue. Browser hangs for up to an entire minute when a drop is coming (this is before I see the dialogue box). As a side note I really appreciate the work and features you guys have been putting into Habit but performance in general has become sluggish on my end when switching tabs etc. as well.

Although it's not as sexy as adding new features, it might be time to put a litt

[2013-11-20 17:58] paglias commented on #1445
Fixed

[2013-11-20 17:58] #1445 closed, assigned to nobody

[2013-11-20 17:59] #1543 closed, assigned to paglias

[2013-11-20 17:59] #1818 closed, assigned to nobody

[2013-11-20 18:22] meganstrickland commented on #1057
I thought this was resolved for me, but it happened again. The problem does seem to occur when I check dailies after midnight but before my custom day start time. Not being able to use that time window rather defeats the purpose of a custom day start.

Otherwise, HabitRPG is absolutely awesome and has made a huge difference in my life. Huge. I don't have the expertise to fix bugs, but I'd like to

[2013-11-20 18:28] lefnire commented on #1057
Speaking of bribes, we might be adding BountySource in the near future as further incentive for a dev to tackle these boring, painful, hair-pulling bugs

[2013-11-20 18:49] bobbyroberts99 opened #1870 "Rename top level Inventory tab to Pets?"
In writing documentation on the wiki, we're currently working on how to organize it all. At this point, the wiki is more or less organized around the tabs in Options--one article per tab. Pets seems to be the centrally binding focus of eggs and potions, but there's nothing really about pets in the game. This would make the game and the wiki match up. Thoughts?

[2013-11-20 18:51] paglias commented on #1057
Just to be sure and delimitate the issue, points for missing dailys are deducted when this happens? @lefnire I think we'll have to give really big bribes to get this fixed, then probably we'll find out it's something trivial that went unnoticed

[2013-11-20 18:53] meganstrickland commented on #1057
@paglias I'm not positive. I will try to take more careful note of my stats tonight and will report back.

[2013-11-20 18:55] ghost commented on #1048
Basicaly, here's what happens: everyday, my first 3-4 checks grant me 2 drops total. After that, I hardly will get any drop 'till next day. These drops are always eggs. In the last 3 days, I've got to use my two base potions. Now, I have 23 pets (completed the base pets), no potions, and 16 eggs. I think it's pretty weird, especially because I get the drops always by checking the same things I do

[2013-11-20 18:56] mojganin commented on #1057
@paglias When I encounter this problem (every time I log in after midnight), I do not lose points for my dailies. That's the issue: they're already checked, so I can't NOT get credit for them.

[2013-11-20 18:58] paglias commented on #1048
@PaolaScorpio there's a limit of 2 drops a day. Also dailies with a 10+ streak have more or less a 100% chance of causing a drop. The eggs/potions ratio are just odds

[2013-11-20 19:00] meganstrickland commented on #1057
Hmm... we seem to be describing two slightly different situations, though it may still be the same underlying problem. What happens for me is this: Most days, I check my dailies before midnight and there are no problems. Some days, however, I don't get to it until after midnight, and for that reason I have set my custom day start to 5am. When I check my dailies between midnight and 5am, they are s

[2013-11-20 19:02] bobbyroberts99 opened #1871 "Add popovers with links to wikia"
How do I add a link to the wiki (http://habitrpg.wikia.com/wiki/Challenges) to this element

i.icon-question-sign(popover="Challenges appear on tag-lists & task-tooltips. So while you'll want a descriptive title above, you'll also need a 'short name'. Eg, 'Lose 10 pounds in 3 months' might become '-10lb'", popover-trigger='mouse enter', popover-placement='right')

in

/habitrpg/views/options/socia

[2013-11-20 19:02] ghost commented on #1057
It gets weirder: since 4 days ago, when I had this issue, even if I'm able now to check items, I only experience health loss when I check a negative habit. I have orange and red to-dos, but they cause no harm at all! Before experiencing the checked dailies problem, it never happened.

[2013-11-20 19:03] mojganin commented on #1057
I've encountered both variations (post-midnight, dailies are already checked from the previous day; post-midnight check-off doesn't clear at end-of-day), but lately it's been more the former. Either way, I don't lose health.

[2013-11-20 19:06] mojganin commented on #1057
@PaolaScorpio To-Dos are not supposed to cause harm. From the FAQ: "You can set a deadline, but missing the deadline or letting the todo turn red won't lose you health. Todos actually become more valuable over time and earn you more experience  and gold the longer they languish. This, hopefully, will encourage you to wrap up stale tasks."

[2013-11-20 19:07] ghost commented on #1048
Hum, now I get it. Thanks!

[2013-11-20 19:09] ghost commented on #1057
Really? Too red to-dos used to cause me harm before...

[2013-11-20 19:10] paglias commented on #1057
@PaolaScorpio todos doesn't cause health loss.

@mojganin I think here we're talkin abouth the former of your issues (post midnight they don't reset), I don't remember if there's an issue about the other one, if there isn't feel free to open it.

@lefnire if we assume that algos.cron is run and I don't see why it shouldn't then I would say the issues is probably here https://github.com/HabitRPG/ha

[2013-11-20 19:20] onlysal commented on #1057
For me is that you "just" lose a day of accountability. Although to be fair I didn't notice if I got penalized re health loss for the preceding day... Sigh...
 
Sally B. Sedgwick
sbsedgwick@yahoo.com

On Wednesday, November 20, 2013 2:11 PM, Matteo Pagliazzi notifications@github.com wrote:

@PaolaScorpio todos doesn't cause health loss.
@mojganin I think here we're talkin abouth the former of your

[2013-11-20 19:23] lefnire commented on #1871
Unfortunately, until we upgrade angular-ui-bootstrap you can't. ui-bootstrap v0.5 popovers don't accept html. I'll ping you once we upgrade.

The other thing is a mouseenter popover (note, no space) will cause the popover to disappear when you try to move your mouse _into_ the popover to click the link - because your mouse is no longer hovering over the original element.

What you could do is make

[2013-11-20 19:24] lefnire commented on #1870
we could do that for now, since there's no other inventory besides pest. In the future we plan to add collectible armor, glyphs, quest scrolls, etc - so either we change now and change back later, or we hold off anyway

[2013-11-20 19:32] paglias commented on #1057
@lefnire here https://github.com/HabitRPG/habitrpg-shared/blob/master/script/helpers.coffee#L23 when using `startOf` why don't we use `moment().zone()`? I'm not sure that passing `o.now` to `moment()` takes the timezone offset into consideration https://github.com/HabitRPG/habitrpg-shared/blob/master/script/helpers.coffee#L23

Also, always in the same method (`startOfDay`) we pass the not-sanitize

[2013-11-20 20:00] lefnire commented on #943
@coyotino not sure yet what our remaining abilities will be, might want to hold off till they've stabilized. As for semi-transparent, I'm not sure actually. Everything is just html & css, so probably depends on browser. We're using background-images instead of `<img>`, does that make a difference?

[2013-11-20 20:36] #1803 closed, assigned to nobody

[2013-11-20 20:43] paglias commented on #1803
@ianjohnsa I just pushed some a fix that should help performances, it should arrive on the site in the next few days.

Actually it's the maximux that can be done about this I believe.

I can assure you that we spend a lot of time working on performances but Habit is quite a complex app and requires a lot of resources both on the server and on the client. The best thing you can do for performances

[2013-11-20 20:51] bobbyroberts99 commented on #1870
Hold off would be my vote. I'm just trying to make the game and the wiki more or less parallel so it's transparent what to search for on the wiki. I think this goes away once there are more in-games links. We'll work around it for now.

Will it still be inventory/inventory? How about Gear/inventory (or something different which is maybe a little confusing).

Would it be possible to combine stable

[2013-11-20 21:11] bobbyroberts99 commented on #1871
That did the trick. Thanks.

If that makes sense, I'll start adding other links to the wiki.

#1872

[2013-11-20 21:11] #1871 closed, assigned to nobody

[2013-11-20 21:43] lemoness commented on #942
Hooray, a penguin! Some comments -
Take the size into consideration. There are guidelines posted for pets at the top of this thread.
Also, as RosemonkeyCT pointed out, the perspective needs to be more in line with the other pets. Try examining the existing dragon pets - those might give you a good idea in terms of size and perspective!

[2013-11-20 21:44] AdrienLemaire commented on #943
@coyotino go ahead, thanks :)

[2013-11-20 21:53] lemoness commented on #943
@RosemonkeyCT thanks :)

@Fandekasp @coyotino When you guys are modifying the bows, take the colors of the rogue armor sets into account :) I think these are better than the incomplete crossbows!

[2013-11-20 23:31] nafoster commented on #942
Got bored and made some pet rocks.

![pet-rock-base](https://f.cloud.github.com/assets/3391909/1587562/c9f4b730-523b-11e3-867d-12b1ba61bc27.gif)
![pet-rock-white](https://f.cloud.github.com/assets/3391909/1587563/c9fffcda-523b-11e3-9ae4-37300ec5dfdb.gif)
![pet-rock-cottoncandypink](https://f.cloud.github.com/assets/3391909/1587564/ca0591b8-523b-11e3-9889-888f6ce2e9eb.gif)
![pet-rock-shade](https:/

[2013-11-21 01:05] lefnire commented on #943
@Fandekasp here's the rogues with their bows. (First 3 might be a tad tough to see?)
![rogue_weapons](https://f.cloud.github.com/assets/195202/1588095/1266d75c-5249-11e3-94b3-3b8aab169eca.png)

[2013-11-21 01:07] AdrienLemaire commented on #943
Ok, I'll improve the set in a couple hours (except if @coyotino beats me to it)

[2013-11-21 01:16] lefnire commented on #943
(ps, overall they look really good - I'm really excited about them)

[2013-11-21 01:51] SabreCat commented on #942
@nafoster: Hilarious!

[2013-11-21 02:22] brightbold opened #1873 "Feature request: could the data export track streaks?"
I've been periodically screenshotting Habit in case my streaks get messed up for some reason. So one of the things I was expecting Nick Gordon (don't know his github name)'s awesome export feature to do was to capture that information. But it doesn't do that and it's not clear to me whether you could use the Value column to figure that out. If the export could be enhanced to provide that informati

[2013-11-21 03:36] jacobcox36 commented on #943
Here's what I got! @Fandekasp , do these have your stamp of approval?
![fandekasp s-bows](https://f.cloud.github.com/assets/5982955/1588910/fc0a0618-525d-11e3-9166-a5daac1f7766.png)
![fandekasp s-bows-large](https://f.cloud.github.com/assets/5982955/1588911/fe417be6-525d-11e3-8a99-87825af8f90a.png)

[2013-11-21 03:37] AdrienLemaire commented on #943
damn, and I was working on them XD your version looks good, let's go with it :)

[2013-11-21 03:39] zoebeagle commented on #943
If you guys want to take a stab at the crossbows, be my guest... I'm pretty
tied up with work at the moment.
On Nov 20, 2013 10:37 PM, "Adrien Lemaire" notifications@github.com wrote:

[2013-11-21 03:45] jacobcox36 commented on #943
Oh no! I hope you didn't spend too much longer on them. I'd feel bad :(

[2013-11-21 03:55] AdrienLemaire commented on #943
I was almost done. Just for the sake of completion, here they are:

![bow](https://f.cloud.github.com/assets/260983/1589011/df5c8b96-5260-11e3-82ab-661970aebf0d.png)

![bows_with_rogues](https://f.cloud.github.com/assets/260983/1589014/f2bcb490-5260-11e3-9d1f-e3419b51a57f.png)

I think your colors are prettier for the first 3 bows though :)

[2013-11-21 04:07] smograth commented on #942
I think this one is a bit more like it :)
![penguin](https://f.cloud.github.com/assets/5962028/1589054/7983ee70-5262-11e3-98cd-c1e5bef54a85.png)
![penguinbig](https://f.cloud.github.com/assets/5962028/1589055/7d4e863c-5262-11e3-8408-1c0b6e92e5d8.png)

[2013-11-21 04:10] lefnire commented on #943
Ohhhhh snap! What do we do what do we do! I think I might be leaning towards @Fandekasp ... they're both flipping amazing though, shoot...

[2013-11-21 04:24] lefnire commented on #943
Last thing remaining then is mage & rogue shields, if we decide to have them. We can make a strong case _not_ to have them, since these are DPS classes (and when do mages / rogues have shields in RPGs anyway?), on the one hand. On the other hand, @RosemonkeyCT we can use your original greens for rogues, kinda fitting IMO! (then we'll still need mages). Anyone have opinions here?

[2013-11-21 04:33] DanielTheBard commented on #943
Well, since warriors and healers are the only ones supposed to be using the "DEF" stat, maybe it'd make sense if the rogue and wizard/mage (which are we using?) don't use shield? If rogues are using bows, not much point to use shields right? They don't have a free hand. If they use daggers, short blades, katanas, etc. they could maybe have 2 weapons? So they upgrade weapons separately for each han

[2013-11-21 04:41] AdrienLemaire commented on #943
maybe a mix of the two ?

![bow](https://f.cloud.github.com/assets/260983/1589193/147a6568-5267-11e3-9e2a-0a624c1a6ce1.png)

[2013-11-21 04:50] DanielTheBard commented on #943
@Fandekasp - I prefer that set!

[2013-11-21 04:53] nafoster commented on #942
@SabreCat Yeah, I saw the suggestion for them on Trello, so I figured I would give them a shot. If people like them, I'll finish the set and see how they look with our characters.

[2013-11-21 05:14] AdrienLemaire commented on #943
I just discovered how to make gradients in pixel art with gimp, so I thought I'd make a video: http://habitrpg.wikia.com/wiki/Guidance_for_Blacksmiths#Gradients. Should I go and make more of those videos or not ?

[2013-11-21 05:16] lefnire commented on #943
Absolutely! I'll watch them personally, when I find time :+1:

[2013-11-21 05:36] jacobcox36 commented on #943
For the bows, I'd suggest using mine for the first two. Your first two look less...bow-like. Slightly harder to distinguish what they are.

But the rest of your set looks awesome, and really the ones I did are 50% your work, anyways.

----- Reply message -----
From: "Adrien Lemaire" notifications@github.com
To: "HabitRPG/habitrpg" habitrpg@noreply.github.com
Cc: "coyotino" jacobcox36@gmail.com
Sub

[2013-11-21 06:03] snicker commented on #1873
hi, nick gordon here

it will be a challenge to export this information since it hasn't really been historically recorded. It _could_ be calculated for each row using a similarly defined rule to how streaks are tracked presently. At this point, when the check is done to see if a daily was completed or not, it simply increments or zeroes out the "streak" property of a task based on whether or not i

[2013-11-21 06:14] snicker commented on #1873
Here, if you were to paste this in the F2 cell of the current CSV export:
`=IF(ROUNDDOWN(D2,0)-ROUNDDOWN(D1,0)<=1,1+F1,0)`
You should get a cumulative run of "streak", though this will only work for dailies that repeat all 7 days of the week.

[2013-11-21 07:35] Derukee commented on #1867
yes i clicked that button, my bad thanks guys

[2013-11-21 10:36] Aiseant commented on #946
Veteran badge ?
![achievements_borgne2](https://f.cloud.github.com/assets/4418868/1590931/d2e8928c-5298-11e3-8636-c8a70af7559a.png)

[2013-11-21 10:41] Aiseant commented on #1812
Apparently, any modifiations on a challenge after its creation won't apply to people who already joined it (I tried to change the days some dailies are due, and it didn't change in my dailie list)

[2013-11-21 12:51] RosemonkeyCT commented on #942
@nafoster Oh those rocks are adorable! I'd totally go for that. I wonder how you'd make a mount out of a rock though? That'd be interesting to see hehe. Maybe some kind of golem-style horse? Or something that looks like a troll on all fours?

And @smograth yeah that's more like the others.

[2013-11-21 12:52] #1867 closed, assigned to nobody

[2013-11-21 13:00] RosemonkeyCT commented on #943
@lefnire I agree on the no bows thing. All those green were just recolours of the first three I did anyway. I reckon mages would look good with spells in their hand. As for rogues... Well, they don't have both hands now. They're tied up with the bows. So maybe something else for them? A cape? A... thing, whatever it's called, for where the arrows go? Or (and this is a bit of tweaking, but looking

[2013-11-21 13:02] RosemonkeyCT commented on #946
Nice!

[2013-11-21 13:49] SabreCat commented on #942
@RosemonkeyCT: I picture a Habiteer jogging in place atop a rolling boulder, or perhaps pushing it around Katamari style. Alas, not possible given the current scheme for fitting player sprites to mounts, ha.

[2013-11-21 14:00] static24 commented on #1057
Browser: Chrome
UUID: 6dca820b-a82b-4726-8d55-6b638145d830

I've been having issues with dailies resetting. I have my day start set to 4am, and for some reason the dailies just don't reset sometimes. I often check dailies between midnight and 4am, and this is only maybe the third time this has happened, so I am not sure what is causing it exactly.

[2013-11-21 14:27] brightbold opened #1874 "Got a potion for clicking on the challenges page"
I was chatting in the tavern and wanted to refer to one of the challenges, so I command-clicked to open it in a new tab (Chrome Mac). When I switched to the tab with challenges open, I had a message that I had a skeleton potion. I'd been in the tavern for a while so it's not like I'd just checked off a task and this was the slightly delayed result. Weird.

[2013-11-21 15:48] Draayder commented on #943
Givings rogues daggers as well as bows could be very interesting, I like the idea of just keeping the arrows in a quiver and having the bow loose in one hand. The only issue I see would be the quiver getting lost behind hair or armor, maybe a hip quiver would be a solution?

I think the dagger could also work as a shield since they're often used for parying or as a last defense if someone gets too

[2013-11-21 16:12] jacobcox36 commented on #943
I'd say we start with bows, and maybe move to daggers later. Wielding bows AND daggers simultaneously doesn't make a lot of sense, unless rogues get to grow two extra arms. Additionally, if we're going to redraw the bows so that the string isn't drawn, do you think maybe we should draw them at a 45 degree angle?

[2013-11-21 16:25] nafoster commented on #942
All pet rocks are completed. I'll figure out the mounts at a later date. I want to make a fierce rock golem mount for these :)

![all-pet-rocks](https://f.cloud.github.com/assets/3391909/1593316/802a930c-52c9-11e3-9cd2-d5d8c1193d3e.png)

[2013-11-21 17:00] Draayder commented on #943
Really wielding anything + a bow doesn't make a lot of sense, but if we want them to keep the two items we've gotta find something. Thief masks or something could work but they could easily conflict with the helmets, maybe the quiver could be the extra item?

[2013-11-21 17:30] lefnire commented on #943
Cool, sounds like the simplest solution now is no 2nd item for mage & rogue, and we'll just bump their weapon's INT & ATK+LUK respectively

[2013-11-21 18:15] RosemonkeyCT commented on #943
Yeah that could work quite well. But to make it balanced you'd have to make them more expensive than the warrior and healer weapons.

[2013-11-21 18:16] RosemonkeyCT commented on #942
OHHH the zombie rock!!! I want the zombie rock!!! That's ace!!!

[2013-11-21 19:13] Draayder commented on #943
I guess another solution would be to buy the bow and arrows separately, like you could max out the arrows to get those top tier red ones while still having a level 1 bow. The only issue would be making sure all the arrow and bow lengths line up decently. A huge arrow in a small bow still works but an arrow that doesn't even fit in the bow doesn't work at all, so you'd just have to make the tier on

[2013-11-21 19:15] meganstrickland commented on #1057
Well, I checked my dailies at 1:45am last night / this morning, and my dailies appear to have reset correctly---yay! (I also lost HP as expected for unchecked dailies.) Did someone fix something?

[2013-11-21 19:42] DanielTheBard commented on #943
Again, does it not make sense for Rogue's to dual-wield blades (dagger, shortsword, cutlass, katanas, etc.) and Wizard wield staff in one hand and magic implement (book, orb, skull, relic, rune, etc.) in the other?

Rogue:
- Blade in one hand: STR bonus
- Blade in other hand: PER bonus

Wizard
- Staff in one hand: INT bonus
- Magic Implement in other hand: PER bonus

And then the bows are really n

[2013-11-21 22:13] breadstrings commented on #1771
When I achieved contributor level 1, I got two gems, when it should have been just the title (2 gems come at contrib level 2). Bug?

[2013-11-22 01:02] tentaspy commented on #942
![g8rs](https://f.cloud.github.com/assets/6005605/1597509/a6fd3176-5312-11e3-8b28-8e57088a920f.png)
hi have some gators
edit; forgot the zombie oops... and they're a bit big i think :-(

[2013-11-22 01:03] nafoster commented on #942
@tentaspy OMG these are great!

[2013-11-22 01:05] AdrienLemaire commented on #942
I like those gators :)

[2013-11-22 01:20] SabreCat opened #1875 "Can't log in to locally running Habit"
Bit of contributor frustration, here. Wanted to test out some .jade edits I made, but can no longer make it past the static/front screen with the big PLAY button.

Windows 7, node.js 0.10.22, Mongo... dunno how to tell.

Mongo's running, gets connections OK.
grunt run:dev goes off without errors.

However, when I make any attempt to navigate or log in, I'm redirected to http://localhost:3000/stati

[2013-11-22 01:27] AdrienLemaire commented on #1875
oh, did you try to do some stuff like symlinking the habitrpg-shared directory ?

I'm pretty sure that if you reclone habitrpg in another location, and reinstall it (npm install), it will work. Need to figure out what broke your first repo.

[2013-11-22 01:29] crystalphoenix commented on #946
well, wasn't sure where to put this, but i gave making more hair/face add-ons a try.

mustaches:
![mustash1 sample](https://f.cloud.github.com/assets/5247782/1597611/d634d352-5314-11e3-8ee1-586cedb4f5ee.png)![mustash2 sample](https://f.cloud.github.com/assets/5247782/1597612/d6651878-5314-11e3-989b-b8d05cb008d8.png)

beards:
![beard1 sample](https://f.cloud.github.com/assets/5247782/1597615/f9ecf7

[2013-11-22 01:32] AdrienLemaire commented on #946
Awesome, I want a beard :D

[2013-11-22 01:34] SabreCat commented on #1875
I have a habitrpg-shared clone, but haven't done anything to link it up with habitrpg main. I'll try a redo, then. You suggest recloning in a different location--is there any reason I can't wipe the directory I've got? (Is there a git command to do that cleanly?)

[2013-11-22 01:36] AdrienLemaire commented on #1875
hmm you can try `git clean -df .` or something like that :)

[2013-11-22 01:43] lefnire commented on #1875
Try deleting localstorage:
https://www.evernote.com/shard/s17/sh/e71b95ac-04dc-45f5-8002-5f811f21d7a8/792c378c33e43d1f8f5cc0477dea8d9d

On Thu, Nov 21, 2013 at 5:36 PM, Adrien Lemaire notifications@github.comwrote:

[2013-11-22 01:51] SabreCat commented on #1875
Ooh? That does sound plausible, some sort of mangled cache thing. But how do I get at what you show in the screenshot?

[2013-11-22 01:53] lefnire commented on #1875
Top right settings button in Chrome > Tools > Developer Tools

[2013-11-22 01:57] SabreCat commented on #1875
Any idea where that is in Firefox? I can jump over to Chrome, but I tend to use FF most of the time.

tch... I tried starting over before @lefnire chimed in, anyway, and now grunt run fails to compile Stylus. fml?

![screenclip](https://f.cloud.github.com/assets/4501321/1597795/d236c472-5319-11e3-8377-e32ec82caffa.png)

[2013-11-22 02:11] SabreCat commented on #1875
Needed to npm update (iCal breaks, but who cares) and bower update... now I'm back to where I was on static/front. Will try Chrome.

[2013-11-22 02:12] SabreCat commented on #1875
Hah! Okay! Made it. Now, to restore the edits I made and see if they take. Thanks both of you, I'll get the hang of this eventually!

[2013-11-22 02:12] #1875 closed, assigned to nobody

[2013-11-22 02:42] SabreCat commented on #1875
The fruits of my labor and your assistance: #1876

[2013-11-22 03:08] AdrienLemaire commented on #1875
Troubleshooting added to wiki: http://habitrpg.wikia.com/wiki/Installation_troubleshooting#Cannot_login

[2013-11-22 04:25] jacobcox36 commented on #943
Staves are a two-handed implement though, aren't they? Could we maybe make the off-hand and enchantment on the staff? Or maybe modify the gem in the staff or something?

----- Reply message -----
From: "Daniel the Bard" notifications@github.com
To: "HabitRPG/habitrpg" habitrpg@noreply.github.com
Cc: "coyotino" jacobcox36@gmail.com
Subject: [habitrpg] Pixel Art Thread: Classes & Gear (#943)
Date: T

[2013-11-22 04:54] SabreCat opened #1877 "Admin tab throws 503 error on first visit"
Firefox on Win7. Nothing notable in the JS console.

When I first visit the Admin tab after a bit of absence, the blue loading bar takes a good long time (15 seconds or so?) to traverse my screen. When it finally wraps up, the contributors list remains empty, and a squashed alert box throws a 503 error:

"Application Error

An error occurred in the application and your page could not be served. Pl

[2013-11-22 04:59] DanielTheBard commented on #943
@coyotino - Gandalf dual-wields a staff and a sword :P Honestly, it's not that unusual if the staff is for magical purposes. The diablo series also had one-handed and two-handed staves.

[2013-11-22 05:21] DanielTheBard commented on #943
Let me just double check with Tolkien on that one :P

[2013-11-22 05:45] snicker commented on #946
count me in for a beard too

[2013-11-22 05:48] lefnire commented on #946
@crystalphoenix These are great! @Fandekasp @snicker if we get these beards in all colors (red, grey, blond, black, brown) then I can roll them in with classes. See [current progress](https://github.com/HabitRPG/habitrpg-shared/blob/classes/img/sprites/male_sprites.png)

[2013-11-22 06:00] DanielTheBard commented on #943
Wait a minute, our Healer design has staves and shields! I'm not crazy to think you can wield a staff and something else :P

[2013-11-22 08:14] AdrienLemaire commented on #945
fyi, I made a video about gimp: [how to reuse existing images to draw a boss](http://habitrpg.wikia.com/wiki/Guidance_for_Contributors#Use_an_existing_image).

[2013-11-22 08:20] cleave29 commented on #1862
And again tonight.  I got a cotton candy and skeleton potion and neither of them showed up.  It also gave me an egg after it had given me the potions which breaks the two-drop-per-day limit.

[2013-11-22 12:22] breadstrings commented on #1771
I just noticed that I have the same problem as Bobby. Not that I'm complaining. ;) But it seems wrong to have 2 extra unearned gems.

[2013-11-22 12:27] Pandoro commented on #945
While it is a very interesting approach, I wonder how applicable this is to
habitrpg. As far as I know almost all the art has been made from ground up
and it is clearly visible that this is the case. Doing it this way feels
very different and to me doesn't really fit to well. I think we should
start the policy that whatever is posted on the forum should be posted
directly next to an actual player

[2013-11-22 12:36] AdrienLemaire commented on #945
yes, that's what happened with my rock monster above, I don't know yet how to improve it.

I think the video gives lot of good tips to use (eg make the black border), but needs a second part on how to finish the image so that it fits the style :) If a gimp expert is around here, let me know ^^

[2013-11-22 13:00] breadstrings opened #1878 "HabitRPG Blog Bottom div layer covers navigation menu"
This is a screen shot of the http://blog.habitrpg.com/ask page. As you can see, the bottom images cover the bottom of the navigation menu, making it impossible to see the search box or click on the lower menu buttons.

![image](https://f.cloud.github.com/assets/5908271/1600630/c0fd1cae-5375-11e3-84dd-8996bf3af710.png)

[2013-11-22 13:03] jacobcox36 commented on #943
OKAY IT'S POSSIBLE
Yeesh.

----- Reply message -----
From: "Daniel the Bard" notifications@github.com
To: "HabitRPG/habitrpg" habitrpg@noreply.github.com
Cc: "coyotino" jacobcox36@gmail.com
Subject: [habitrpg] Pixel Art Thread: Classes & Gear (#943)
Date: Fri, Nov 22, 2013 12:00 am

Wait a minute, our Healer design has staves and shields! I'm not crazy to think you can wield a staff and something

[2013-11-22 13:09] nafoster opened #1879 "Glitched daily slowly killing me"
![untitled-1](https://f.cloud.github.com/assets/3391909/1600690/29871fe4-5377-11e3-9e3a-73f09c70290a.jpg)

Not sure how that blank -/+ habit got into my daily section, but I can't delete it and it is slowly killing me.

User ID: f90f3c99-8e91-433d-8db2-7377c6c8f709

[2013-11-22 14:01] lefnire commented on #1771
The algo gives 2 gems for every level. Let's just update the wikia / website sidebar wording

[2013-11-22 14:07] lefnire commented on #1877
fixed, i was running `User.find({'contributor.level':{$exists:1}})`, which was taking too long to compute. I just need to add an index on that field `db.collection.ensureIndex({'contributor.level': 1 })` so it would load faster. Second load worked because mongo caches queries

[2013-11-22 15:51] crystalphoenix commented on #946
is there a set color pallet for the hair colors? i noticed that the new bangs have less contrast in their shading than the original default hair, and was kind of confused what colors to used when shading the stuff i did yesterday... i basically color-picked and guessed it all.

[2013-11-22 16:58] SabreCat commented on #1877
Today I also saw this happen on one of my Guilds (one with much less activity/fewer members than others, oddly enough). Separate issue worth writing up, you think? Assuming I can reproduce it.

[2013-11-22 17:26] lefnire commented on #946
@crystalphoenix ping @lemoness, here's what I understand (take with a grain of salt as I'm not a pixelist):
There is a set color palette, you can find them [here](https://trello-attachments.s3.amazonaws.com/5208f5499d99f7356c00150e/5241333de9ca590767009c1b/b3326b9f29501a8ee207977b470e4518/hairstyles.png) (originally from [this card](https://trello.com/c/YKXmHNjY/306-customization-redo)). Your addi

[2013-11-22 18:33] DanielTheBard commented on #943
Sorry. I was talking to @lefnire , but he deleted his posts :P

[2013-11-22 20:10] kalliburr opened #1881 "You're Dead! But not really..."
When I use HabitRPG on my iPad, every time I check off something I've done on my Dailies list, a screen flashes for just a second telling me that I'm dead, even though I'm not, and then just continues on to the regular page with the item I checked off as being completed.  It's a little weird.  Nothing major, but I don't think it should be doing that.

[2013-11-22 20:14] lefnire commented on #1877
hmm, that's very strange.. `db.groups` has indexes on `type` and `members`, which is what would have been the issue if these problems were similar. I think make a new ticket if it crops up again

[2013-11-22 20:19] m0xf4240 opened #1882 "Inventory Broken"
My inventory has been completely broken for a few days now. Instead of clickable icons I have this
![bug](https://f.cloud.github.com/assets/3958169/1603939/36f8be9e-53b3-11e3-9612-a0804701ccb4.png)
and when I get alerts for new drops they don't show up in the text list. I'm having the same problem in chromium and firefox.

[2013-11-22 20:22] lefnire commented on #1870
inventory/gear sounds good to me. Because while gear/inventory makes sense, gear/pets doesn't - but inventory/gear + inventory/pets :+1:

As for the the combined view, could you do me a mockup? Having trouble visualizing

[2013-11-22 20:24] paglias commented on #1882
New drops not getting in the list until a refresh was my fault but now it's fixed, but the [objectObject] thing is quite strange, instead of potion/egg name it seems like you have the whole item....

[2013-11-22 20:25] lefnire opened #1883 "TypeError: Cannot read property 'tasks' of null"
Ruh-roh. (man I need to add some better reporting, like listing the UUID that flagged the error)

Sorry for the nondescript error dumps, I just need to get them out of my inbox and into GH > Crit so I can find them when I'm working on GH

[code]

[2013-11-22 20:26] onlysal commented on #1057
Well, I got home late last night so checked my dailies (my end of day is 3 a.m.) after midnight. Today they're still checked. So mine isn't fixed. Sigh.
 
Sally B. Sedgwick
sbsedgwick@yahoo.com

On Thursday, November 21, 2013 2:15 PM, meganstrickland notifications@github.com wrote:

Well, I checked my dailies at 1:45am last night / this morning, and my dailies appear to have reset correctly---yay!

[2013-11-22 20:27] lefnire commented on #1812
bumping priority, it's coded to sync to users, but apparently not working

[2013-11-22 20:34] lefnire commented on #1882
@xenakaaii UUID? and how long has this been happening, or is it just within the last hour or so?

[2013-11-22 20:38] lefnire commented on #1862
Did some pretty thorough local testing, can't replicate. UUID?

[2013-11-22 21:07] m0xf4240 commented on #1882
@lefnire It's been like that for the past week. UUID is 15615480-15a0-4efe-894c-f104afa3df3d

[2013-11-22 21:14] snicker commented on #1881
I've also noticed this... I think it's related to iOS not respecting the display:none attribute and http://docs.angularjs.org/api/ng.directive:ngCloak

[2013-11-22 21:14] m0xf4240 commented on #1882
Also the items in the list aren't clickable, it's just text. Here's some more information if it helps:
![screenshot from 2013-11-22 16 17 21](https://f.cloud.github.com/assets/3958169/1604332/8d75bf9e-53bb-11e3-9755-6481421bb7a7.png)

[2013-11-22 21:21] snicker commented on #1840
Issue was fixed with the implementation of Markdown in https://github.com/HabitRPG/habitrpg/commit/efe2ff5d70857d4b25bb5b5c3b455ab879200d4c

[2013-11-22 21:21] #1840 closed, assigned to nobody

[2013-11-22 21:43] ianoff commented on #1881
Is this for the mobile app? Or is this happening on Habit web version, while on the iPad, as well? It is a known issue on mobile.

[2013-11-22 21:43] snicker opened #1884 "Chat performance is not as good as it should be"
Chat is horrendously slow on most mobile platforms, and I think it has to do with one major factor: the ngClass directive is validated everytime a model is set to "dirty" and Angular runs $digest. This causes _every single chat message_ to be tested _twice_ on the input of _every single character_ into a text box.

Check out this fiddle for what I'm talking about:
http://jsfiddle.net/HB7LU/1070/

[2013-11-22 21:51] paglias commented on #1884
I still have to understand why messages are check when the text in the chat
box is updated, they shouldn't be dependent on it and so angular should
check only for $scope properties linked to the new message being written.
Anyway I had heard about bindonce a while ago and I think it would be
really really great

[2013-11-22 21:58] AdrienLemaire commented on #1884
Maybe related to #1850

[2013-11-22 21:59] snicker commented on #1884
from the Angular docs:

for any kind of binding, a $watch is created. So the above is _why_ it happens. It's behavior that is pivotal for Angular to be able to do what it does, but it does create some unnecessary overhead for static things like this. I think I'm going to conquer bindonce implementation and see how it fares

[2013-11-22 22:29] kalliburr commented on #1881
It's the mobile app, yeah.  I wasn't sure if it was known or not.  It does it on my iPad, though, and not my iPhone.

[2013-11-22 22:57] cleave29 commented on #1862
a4be2ca2-67e9-4355-bd27-be3c22fc554f

[2013-11-22 23:03] lefnire commented on #1862
blahh.. `user.items.hatchingPotions` was an array, not an object. Fixed. Vestige of users who didn't refresh between when I deployed the new pet system (couple weeks back) and when the next found a drop. Next time around, I really need to have a "please refresh" notification system in place, preventing actions unless the client is updated. I'm gonna dive in to see how many users are still affected

[2013-11-22 23:07] cleave29 commented on #1862
Wow, thanks, Tyler!  :)
Matt

On Fri, Nov 22, 2013 at 3:03 PM, Tyler Renelle notifications@github.comwrote:

[2013-11-22 23:08] lefnire commented on #1882
same issue as #1862 turns out, I'm gonna fix and get back to you

[2013-11-22 23:23] snicker commented on #1884
bindonce implemented with this PR:
https://github.com/HabitRPG/habitrpg/pull/1885

[2013-11-22 23:24] snicker commented on #1884
So I think we might want to put some "best practices" somewhere for use of Bindonce.

Bindonce directives should only be used if the following rule is true: **the model data being used for the conditional will not change during a session, or will change infrequently enough that it's not unreasonable to expect the user to refresh the page.**

If you do that, we can see some HUGE performance benefit

[2013-11-22 23:26] AdrienLemaire commented on #1884
@snicker please add a tip for this [in the wiki](http://habitrpg.wikia.com/wiki/Guidance_for_Contributors), thanks

You can add a new section **best practices** :)

[2013-11-22 23:31] lefnire commented on #1882
Ran migration for you - do a hard refresh, added gems for the troubles. Let's follow on #1862 for future users

[2013-11-22 23:31] #1882 closed, assigned to nobody

[2013-11-22 23:37] snicker commented on #1884
@Fandekasp added:
http://habitrpg.wikia.com/wiki/Guidance_for_Contributors#Angular.2FNode.2FJade_Tips_.26_Best_Practices

[2013-11-22 23:39] AdrienLemaire commented on #1884
yep, I saw that, nice tip thanks !  I'll try to update my audio code to use bindonce later then :)

[2013-11-22 23:42] ianoff commented on #1881
See https://github.com/HabitRPG/habitrpg-mobile/issues/151 Mobile app issues should be reported at habitrpg/habitrpg-mobile if possible

[2013-11-22 23:43] #1881 closed, assigned to nobody

[2013-11-23 00:11] crystalphoenix commented on #946
well, i spent some time picking through @lemoness 's new bang colors, and recolored the original bangs to match
![original hair recolor](https://f.cloud.github.com/assets/5247782/1605245/aca020d6-53d3-11e3-814d-cf451f798295.png)

[2013-11-23 00:16] lefnire commented on #1879
Running migration to fix this for you, shoudl be complete in next hour or so and you can delete the task. Fixed in https://github.com/HabitRPG/habitrpg/commit/c2b8a6274901c4189dca5d50b67e4f7404d08537 , hopefully this shouldn't happen again

[2013-11-23 00:16] #1879 closed, assigned to nobody

[2013-11-23 00:21] lefnire commented on #1879
yowzer. commit on develop, cherry-pick to master, `rebase -i` to classes, and I've got 3 different SHAs (hence the 3 mentions above). Sorry everyone if this mucks up merges down the pike, I'll keep an eye out

[2013-11-23 01:25] crystalphoenix commented on #946
redid and recolored all the beards and mustaches ^_^
i don't know if there's a separate layer for the mustaches or however that would work... but let me know if you want me to make combinations of them with the beards.

![beards and mustache](https://f.cloud.github.com/assets/5247782/1605542/2181a05a-53de-11e3-8e70-9ea24df01752.png)

[2013-11-23 04:05] crystalphoenix commented on #946
oh! i also added my pixel-diving findings to the wiki:
http://habitrpg.wikia.com/wiki/Guidance_for_Contributors#Colors

i hope this helps keep the hair colors consistent as more things are made ^_^
there are a few in between colors i found that arn't on the chart, but this should cover the main colors in the pallet.

coloring the red hair was tricky ^^; it's done a little differently than the othe

[2013-11-23 04:28] mojganin commented on #1057
Yesterday, encountered a new wrinkle. Checked one of my dailies before midnight, got XP and gold. After midnight, logged on to check off the other, and as soon as the page loaded up, I got XP and gold again for the daily I had previously marked as completed, as though I pressed it again.
Although now, bringing up the site again, it seems to have actually reset this morning.
So, yesterday's sequenc

[2013-11-23 05:44] SabreCat opened #1889 "Bogus achievements"
UID 7f14ed62-5408-4e1b-be83-ada62d504931

I have a mishmash of different tiers of gear, and 70 pets. But my profile is showing the Beastmaster and Ultimate Gear achievements:

![screenclip](https://f.cloud.github.com/assets/4501321/1605915/3e1c322e-5402-11e3-9524-f1333146c857.png)

This appears in the JS console:

[code]

[2013-11-23 05:48] SabreCat commented on #1889
Looks related to @snicker's #1885 ?

[2013-11-23 05:49] hattieshoe commented on #1889
I just noticed I have Beast Master too despite only having 51 pets.

[2013-11-23 05:51] hattieshoe commented on #1889
Though, strangely, when I click on my name by a comment and the box comes up with my information, Beast Master does not show up there. (It's there but grayed out as it always has been.) But on my Stats and Achievements page it shows the Beast Master achievement. SabreCat, is that the way yours is happening?

[2013-11-23 05:53] SabreCat commented on #1889
@hattieshoe: No, I first noticed it when clicking on my own name in Tavern chat--it's wrong both places, here.

[2013-11-23 06:18] lefnire opened #1890 "can't delete tasks (bindonce / beta)"
Trashcan for task-deletion not available in bindonce implementation @snicker

![screen](http://gyazo.com/71b58b412ed57fdc9eb9b287fb8224b9.png)

[2013-11-23 07:03] snicker commented on #1889
This is related to #1885 yes. i've been rolling back some of the changes here and there #1886, #1891, etc... sorry bout that folks

[2013-11-23 07:03] snicker commented on #1889
this one should be fixed by #1886, needs to be made live on beta

[2013-11-23 07:03] #1889 closed, assigned to nobody

[2013-11-23 07:03] snicker commented on #1890
fixed in #1892

[2013-11-23 07:03] #1890 closed, assigned to nobody

[2013-11-23 07:05] snicker commented on #1884
Blech, bindonce seemed a lot more promising than it is turning out to be. Several intense issues, we can use it a bit for now, but there are strange behaviors:
https://github.com/Pasvaz/bindonce/issues/35
https://github.com/Pasvaz/bindonce/issues/29

[2013-11-23 07:08] snicker opened #1893 "NPCs are not getting the right styles on their usernames in chat"
Poor Bailey:
![image](https://f.cloud.github.com/assets/221540/1606034/f9bf6e6e-540d-11e3-8fb5-4ca12becab16.png)

[2013-11-23 07:11] snicker commented on #1893
This is related to bindonce, the bo-class directive does not work when the same tag has double curly brace markup. Issue is documented here:
https://github.com/Pasvaz/bindonce/issues/35

In the meantime, I've rolled back to using ng-class. We should keep an eye on this in case bindonce is fixed, it would be the "high performance" way to do it.

[2013-11-23 07:13] snicker commented on #1893
Fixed here:
https://github.com/HabitRPG/habitrpg/commit/2a7adf7285a4f3d441603c233e417b0aef0e0e44#diff-ddc63968914312231b143b93f4131c57R12

[2013-11-23 09:12] jbenzimra opened #1894 "Beast master achievement granted without all pets"
I currently have 55 pets, but I got the Beast Master achievement.
I've closed Habit, refreshed, and even complete some habits / dailies, but I still get the achievement.

user ID: 0f90ed3c-33fb-4137-85aa-926b1388759d

![image](https://f.cloud.github.com/assets/5383317/1606206/476b532e-541f-11e3-8dd5-a417d039aa31.png)

[2013-11-23 10:05] AdrienLemaire opened #1895 "develop broken"
Error raised : http://sprunge.us/cgRO, by commit 4bedefbc57a1a38509b1d801de8b6aa78ae40d84

Can be fixed by doing:

[code]

@paglias I also notice some dirty commits like 967801eb1fedba86ed5db1c1913edc8d25ade911.  Please check the [wikia tips](http://habitrpg.wikia.com/wiki/Guidance_for_Contributors#7._Issues) on how to avoid that :)

[2013-11-23 12:49] SabreCat commented on #1894
Duplicate of #1889 , should be fixed once that rollback is live.

[2013-11-23 12:49] #1894 closed, assigned to nobody

[2013-11-23 13:24] SabreCat opened #1897 "package.json references nonexistent version of iCalendar"
Running npm install throws a "version not found" error for iCalendar:

[code]

Looks like current version is 0.6.5. I'd correct it myself, but it looks like the package.json points to @lefnire's fork? Didn't want to dabble in matters beyond my ken.

[2013-11-23 13:27] SabreCat opened #1898 "Stats page still counts rare pets in Pets Found"
If you have some rare pets, the Stable correctly shows the number of non-rare pets found out of 90 for "Pets Found", but the Stats page still includes them in its total.

I tried fixing it, but my Angular-fu failed; I couldn't figure out how to reference the petCount variable from outside the Stable page's scope. I could put a Band-Aid on it by appending an "including rare pets" parenthetical, but

[2013-11-23 13:28] paglias commented on #1895
Try updating habitrpg-shared, it's been added in the past days so you may
have an old version of it

[2013-11-23 13:39] AdrienLemaire commented on #1895
good catch... Now I feel stupid ^^ Thanks @paglias

[2013-11-23 13:39] #1895 closed, assigned to paglias

[2013-11-23 16:42] #1898 closed, assigned to paglias

[2013-11-23 16:45] paglias commented on #1898
@SabreCat yeah I'm sorry, I moved the code to the rootScope so that it can be used outside of the Stable

[2013-11-23 16:49] paglias commented on #1895
@Fandekasp I'll try to avoid that "Merge" commits, even though they are not causing any problem I understand it's not the best way to do it :)

[2013-11-23 16:54] snicker commented on #1895
good fix for this is running `npm install --force`

[2013-11-23 18:46] nafoster commented on #1879
Everything seems fine now. I'll let you know if it happens again.

[2013-11-23 20:52] lefnire commented on #946
@crystalphoenix you are on a roll! Great stuff, I'll ping you soon when I get a moment, thanks for all the help

[2013-11-23 21:48] lefnire commented on #1499
@snicker this is the ticket i was talking about. I made some performance headway by (1) using `ng-if` instead of `ng-show` for `task._editing` (so that the edition options aren't bound / listening unless shown), and (2) a partially-functional filter to remove completed todos from the view at https://github.com/HabitRPG/habitrpg/commit/0456b835106b603f748650a34724ae7b03954b93 . Both cause issues: (

[2013-11-23 21:49] jacobcox36 commented on #943
Would you guys like me to work on daggers, then?

[2013-11-23 21:54] lefnire commented on #943
Hm, what's the consensus here then? FYI, for classes v1 we're not going to be able to switch gear. IE, rogues can't choose Dagger/Dagger, Bow/Dagger, etc. So we're going o have to settle on one right-hand track (ie weapon) and one left-hand track (ie shield, or dagger, or nothing), and everyone's gonna have to stick to the same track (eg, rogues can only ever equip a bow and a dagger) until we add

[2013-11-23 22:12] crystalphoenix commented on #946
@lefnire i'm happy to help ^_^
i like my character customization, so helping to expand the range of what's on habitrpg is something i'm glad to do~

and i just finished the colors for the styles i did above:
![hair top pieces](https://f.cloud.github.com/assets/5247782/1607502/cc855002-548b-11e3-9887-12a72b7d4e24.png)
the topknot and the spiky bits are designed to go on top of the bangs, but i don'

[2013-11-23 22:16] AdrienLemaire commented on #946
Nice :) Also, would be great if we had more color choices (first that come to mind is a zombie  hair :) )

[2013-11-23 22:40] DanielTheBard commented on #943
My vote is on rogue's dual-wielding small blades. While Rogue's do indeed use bows, they're more synonymous with knives, daggers, and small blades. I love the bows though, so I'd say we put a pin in the bows and save them for classes version n. (aka whenever we add elite/hybrid classes, such as an archer or ranger)
I'm imagining a progression for rogues as something like:
Knife -> Dagger -> Kukri

[2013-11-23 22:44] lefnire commented on #943
I'm amenable to the idea, if we can get some really solid daggers in in time. Those bows are so effing good, and new classes is (to be frank) very far away. I'll roll with bows + nothing for now, and swap out with double-daggers if we get a really good set in time

[2013-11-23 22:45] #1827 closed, assigned to nobody

[2013-11-23 23:10] lemoness opened #1900 "Party chat broken on beta"
Party chat on beta is broken :( I can't post any comments. I have to switch to non-beta to do so. Tavern works fine.

[2013-11-23 23:12] DanielTheBard commented on #943
I realize it's a long time away aha. Just sharing my thoughts. I agree with your course of action ^
Bows for now, but daggers if possible.

[2013-11-23 23:18] jacobcox36 commented on #945
I made an Orc! Or is it a Goblin? An Orglin...?
![orc](https://f.cloud.github.com/assets/5982955/1607628/f25ac686-5495-11e3-81f9-587c5f6899fa.png)
![orglin](https://f.cloud.github.com/assets/5982955/1607629/f57607b8-5495-11e3-846a-e51ff4cebb86.png)

[2013-11-23 23:48] DanielTheBard commented on #1900
You can post. You just have to hit enter to post. Was just going to make a ticket for this. Party and Guild chat won't let you hit the post comment button. Pressing enter to send works fine though.

[2013-11-23 23:52] lemoness opened #1902 "Concern about Gifs in Chat"
Hm - question for you guys. Should we be having gifs in the chat? Will that be potentially problematic for people with epilepsy and/or people who have sensitivity to that sort of thing? On gif-heavy sites like Tumblr, it's easy to tag for that sort of thing, but we have no Tumblr Savior equivalent.

 On one hand, we have some very mild animation in the contributor and backer armor... but with gifs

[2013-11-24 00:05] SabreCat opened #1903 "Barring markdown, chat scrollbar should kick in on integer number of lines"
Firefox on Windows 7, beta.habit...

If you post a four-line message to chat, you get a scrollbar for your message with just a sliver of movement space, cutting off only the dangly bits of the letters on the lowermost line:

![screenclip](https://f.cloud.github.com/assets/4501321/1607738/f1e6f246-549b-11e3-9283-57cd7f44bd05.png)

The scrollbar should only appear if there's something meaningfully h

[2013-11-24 00:08] SabreCat commented on #1902
There's also the risk of an uncouth user throwing something not-so-PG in there. Any admin would delete it right quick, but there's reason for the saying "what has been seen, cannot be unseen."

[2013-11-24 00:11] snicker commented on #1499
awesome.. I'll make sure to look this over when I get a chance

[2013-11-24 00:20] snicker commented on #1903
Will change from 75px to 80px. Can't base it on the number of lines, per se.

[2013-11-24 00:22] snicker commented on #1903
fixed in https://github.com/HabitRPG/habitrpg/commit/2604d8e21e6ef4e361f121e018961131923984cc

[2013-11-24 00:22] #1903 closed, assigned to nobody

[2013-11-24 00:26] snicker commented on #1902
I believe we can restrict which markdown tags are active... should we disable images and titles and horizontal rules?

[2013-11-24 00:27] lefnire commented on #1902
awww... I was rather liking the images, **and** the gifs. Gives the chat room a lot of character and fun, it was one of the things that made chat at previous jobs I'd worked a lot more frequented

[2013-11-24 00:29] snicker commented on #1902
I'd say put it to a vote. I am fond of it as well.. and beta has the style code that makes the images and scrolling nice and unobtrusive

[2013-11-24 00:32] lefnire commented on #1902
bam http://community.habitrpg.com/content/images-gifs-chat

[2013-11-24 00:38] snicker commented on #1900
Issue confirmed, has to do with some of the styling changes made for markdown. The element for chat is actually "covering" the buttons. You don't experience this in Tavern because of the message below the chat box. Will push a fix

[2013-11-24 00:46] snicker commented on #1900
fixed in https://github.com/HabitRPG/habitrpg/commit/b793d2b753535a5cd51a06f6a5bd40c3a8250abd

[2013-11-24 00:46] #1900 closed, assigned to nobody

[2013-11-24 00:59] snicker commented on #1873
closed for now, if streaks ever get tracked, they'll be exported ;P

[2013-11-24 00:59] #1873 closed, assigned to nobody

[2013-11-24 01:26] snicker commented on #1860
From this:

![image](https://f.cloud.github.com/assets/221540/1607829/36610cc6-54a7-11e3-8d87-94fe4bb66242.png)

to this:
![image](https://f.cloud.github.com/assets/221540/1607831/5e977ad6-54a7-11e3-891e-4c8d46604c7b.png)

**_?**_

[2013-11-24 01:27] bobbyroberts99 commented on #1873
Just a thought, but could this be a feature that users purchase with gems? Basic export is free, more custom = gems?

[2013-11-24 01:28] AdrienLemaire commented on #1860
hmm, the scrollbar looks quite big, you think you can restyle it ? Otherwise, maybe it should be a vertical scrollbard

[2013-11-24 01:41] snicker commented on #1860
@Fandekasp we could re-style the scrollbar. The horizontal approach seems to be the most appropriate. another vertical scrollbar might be odd. Let's see how it fares?

[2013-11-24 01:42] snicker commented on #1860
Also, it will only show if you have more tags than screen realestate

[2013-11-24 01:43] snicker commented on #1873
@lefnire, got an opinion on the subject? I was just about to add support to export an entire user as XML...

[2013-11-24 01:44] snicker commented on #1860
horizontal scroll added here: https://github.com/HabitRPG/habitrpg/commit/38225896f4b48a71e68901430f0a8d1b0d54ee97

leaving this open for comment

[2013-11-24 01:48] AdrienLemaire commented on #1860
Let's see how it fares :)

[2013-11-24 01:49] lefnire commented on #1860
+1 for horizontal. Similar setup to Party horizontal overflow. You two are **titans**

[2013-11-24 01:51] lefnire commented on #1873
Can easily export them as JSON, just `user.toJSON()`. Plus, if they want to run a local instance, they can easily import a JSON dump to Mongo. And personally, tis a bit more human-readable than XML

[2013-11-24 01:56] lefnire commented on #1860
deployed

[2013-11-24 01:58] brightbold commented on #1873
Well, yet another reason to get a local installation running. Maybe after Thanksgiving...

[2013-11-24 02:04] snicker commented on #1860
MAKE ME PURPLE, CLOWN

[2013-11-24 02:06] snicker commented on #1873
I can definitely do both. I just think data crunchers might want to eat XML more often than JSON.

[2013-11-24 02:07] lefnire commented on #1873
"why not both". Why do I always forget that possibility? (@wc8)

[2013-11-24 02:07] snicker commented on #1873
oh and @lefnire, I was asking more for the opinion on the gem cost that @bobbyroberts99 brought up rather than the export formats

[2013-11-24 02:08] snicker commented on #1873
![image](https://f.cloud.github.com/assets/221540/1607892/4f991796-54ad-11e3-86fc-09cabaf5e67e.png)

[2013-11-24 02:09] AdrienLemaire commented on #1860
Better solution would be to have arrows on the left and right of the tags, and clicking on the arrows would scroll the tags.

[2013-11-24 02:09] lefnire commented on #1860
@snicker @Fandekasp Ah! Why do I always forget about contrib levels. You're both purple now, and you motherfuckin deserve it. Thank you so much for all your help! Don't disappear now that you're max, we love you and need you!!! :)

[2013-11-24 02:11] AdrienLemaire commented on #1860
hahaha cool, thanks @lefnire

[2013-11-24 02:18] snicker commented on #1860
@Fandekasp I'm still getting used to the "angular way" of doing things. I could have whipped that up with JQuery in a couple seconds, but the angular way says "make a directive and tag the root element with it, create a template, and angular will do it for you". Time consuming, but easier (?) to maintain

[2013-11-24 02:34] fuzzytrees commented on #943
Preliminary attempt at rogue weapons:

![rogue_weapons](https://f.cloud.github.com/assets/4355305/1607913/9c515af0-54b0-11e3-8658-2a09943cf07b.png)

The subtle curves required for some of those knives are hard because, you know, pixels.
There's also a pretty nice whip by @loarfy above that you might've missed.

[2013-11-24 02:36] AdrienLemaire commented on #943
Awesome :D Now I want to be a rogue ^^

[2013-11-24 02:40] lefnire commented on #943
And there it is... hahaha, @fuzzytrees you're a god. So, just need 2 more (7 weapons total) and @DanielTheBard can start laughing at me. In which case, we'll punt bows to our future Ranger class.

Gawd damn! within _hours_

[2013-11-24 02:41] DanielTheBard commented on #943
@fuzzytrees - I love it, already! :D Not sure about the nun-chuck though? Might just be me.

I'd never laugh at you @lefnire ;)

[2013-11-24 02:47] lemoness commented on #1902
Images are fine - as for the NSFW, that's what mods are for. But I worry
that gifs will pose an actual health risk to some of our users :( Can we
keep images, but nix gifs? Or hide gifs until clicked?

On Sat, Nov 23, 2013 at 4:32 PM, Tyler Renelle notifications@github.comwrote:

[2013-11-24 03:07] fuzzytrees commented on #943
@lefnire \* blushy-face \*

@DanielTheBard I'm not deeply pleased with the nun-chuck either, just wanted to put it out there. Glad you can tell it's a nun-chuck, though!

If anybody wants to mess with those rogue weapons, go for it, I won't be able to work on them for a couple days.

[2013-11-24 03:09] SabreCat commented on #1902
Do we have 24/7 mod coverage in Tavern at this point?

[2013-11-24 03:36] snicker commented on #1902
@lemoness I think that's a fair request.. I'll have to look at how other places are doing it. I think with gifs you have to grab and cache the first frame and load the real image on click :/ it's rather onerous of a process. I'll research.

[2013-11-24 04:44] AdrienLemaire opened #1905 "What is the workflow to update sprites ?"
Hi,

I would like to add more clothes options for men (not fair that only women can choose a different color :) ), and I started to work on 2 branches: [habitrpg/clothing_men](https://github.com/Fandekasp/habitrpg/tree/clothing_men) and [habitrpg-shared/clothing_men](https://github.com/Fandekasp/habitrpg-shared/tree/clothing_men).

The problem is that files like **spritesheets.css** are really unr

[2013-11-24 05:05] Mihakuu opened #1906 "Resource added"
Suggestion to add markdown cheat sheet link in the resource panel of tavern. or something similar.

[2013-11-24 06:09] lefnire commented on #1906
There's a jade file for "click this for markdown tips" (used in profile & group edit), in case someone gets to this before I hit the code

[2013-11-24 07:31] #1748 closed, assigned to nobody

[2013-11-24 12:57] SabreCat opened #1907 "Zombie pets are all alone"
Firefox on Win7, beta.habit:

The Stable has rearranged for the worse, putting Zombie pets on a separate line despite having plenty of space available to hang out with their living counterparts:

![screenclip](https://f.cloud.github.com/assets/4501321/1608604/fa921698-5507-11e3-9797-193363743e09.png)

Zombies need love too. Bring them back to the cool kids table.

[2013-11-24 13:19] paglias commented on #1907
Edit: custom-menu width is set to 70%, we can remove this rule if it's not needed anywhere else

[2013-11-24 13:29] AndreCaseyScott commented on #587
Happened again, just now. Had tab open for a while, well past my custom day start. Refreshed page to check off new dailies. nothing reset. no errors in console.

This could be problematic with challenges. I have an unbroken streak on one of my tasks I know I've done for 24 days, only registers 19 days in Habit. Others in the challenge are showing 24 days. The chart shows no drops from not being ch

[2013-11-24 13:31] SabreCat commented on #1906
On it.

[2013-11-24 14:28] clmmerrill commented on #1906
This is all I have so far. I probably would only ever use the blank line so I couldn't think of any more besides the basics.

Markup Cheat Sheet

line break or paragraph break= shift + enter enter
headlines must be on own line to work = pound sign before and after
once is #h1# , two times is ##h2## and, three times ###h3###
quoting is the > sign
one astrick or underscore _will make italics_
two of

[2013-11-24 14:48] SabreCat opened #1909 "Keep stack selected after selling item"
Currently, if you want to sell off a bunch of Eggs or Potions of the same type, you need to click that stack of items for every one you sell. It'd be nice to instead click the stack and be able to mash "Sell for X GP" until it's empty, i.e., keep the stack selected after selling one piece of it.

Or to choose a quantity to sell, I suppose, but that's probably interface overkill for an uncommon flo

[2013-11-24 15:03] clmmerrill opened #1910 "Clicking link in tavern does not open new tab anymore"
I only use beta.habitrpg, but just checked habitrpg and same thing is happening there.
Until yesterday when I clicked on a link in a chat box, the link would open in a new tab.
Yesterday and today the link opens in the same window. Not a complaint just something different. I just know now to left click to open in new tab.

[2013-11-24 15:42] SabreCat commented on #1910
That's happening here too (Win7 Firefox). I do think this is worth fixing: default behavior should be new tab for links that take you outside the habitrpg.com domain.

[2013-11-24 16:36] SabreCat commented on #1907
Ah yeah, this must have only started happening recently for me because I rearranged the desktop on my 4:3 monitor and knocked off some space on the right-hand side. But there's still space for it all, so at least in this case the 70% cutoff doesn't make sense.

[2013-11-24 16:50] paglias commented on #1910
Partially fixed in https://github.com/HabitRPG/habitrpg/commit/fa2fb8e3fbdb4420be1081f3a314585df00512e7, it won't work with links autodetected (but only with this syntax `[linkName](http://link.com)`), @snicker if you would like to give a look at it I added a comment in the commit

[2013-11-24 17:01] paglias commented on #1907
I've test it and the effects would be these:

![selezione_011](https://f.cloud.github.com/assets/589911/1609040/beb18eb6-5529-11e3-8d3e-ec4a82bace45.png)

Instead of

![selezione_010](https://f.cloud.github.com/assets/589911/1609041/c53e2e06-5529-11e3-8c0a-ee77dffc62a3.png)

And

![selezione_008](https://f.cloud.github.com/assets/589911/1609043/cba03960-5529-11e3-8431-a7fb711861e4.png)

Instead of

[2013-11-24 17:03] SabreCat commented on #1907
Hmm, interesting. I'd mildly prefer only the stable be fixed.

[2013-11-24 18:36] snicker commented on #1910
fixed in https://github.com/HabitRPG/habitrpg/commit/f4323ddc24e5f329a46af3a3a135f78abc671da0

[2013-11-24 18:36] #1910 closed, assigned to nobody

[2013-11-24 19:26] SabreCat commented on #1906
@clmmerrill The cheat sheet link will now go to http://habitrpg.wikia.com/wiki/Markdown_Cheat_Sheet , so if you have more information to add, you can put it right in the wiki!

[2013-11-24 22:11] #1860 closed, assigned to nobody

[2013-11-25 04:00] lemoness commented on #943
SCREAMS SCREAMS SCREAMS THOSE ROGUE WEAPONS

_THOSE ROGUE WEAPONS_

I am sick and dead and those new rogue weapons just MADE my DAY omg @fuzzytrees AMAZING

[2013-11-25 04:26] snicker commented on #1893
We need a "revisit periodically" tag for the issue tracker. I didn't want to close this because I think it's not resolved in the way it should be. But it's all the fault of bindonce...

[2013-11-25 04:27] snicker commented on #1893
@lefnire: "revisit periodically" tag pls <3

[2013-11-25 04:28] AdrienLemaire commented on #1893
oh ok. I thought you mistakenly reopened it :) sorry about that

[2013-11-25 07:33] jbenzimra commented on #1048
Just my small contribution to the discussion: I currently have 31 eggs VS 1 potion.
I get my 2 drops a day, and everything else is normal, so it's certainly some kind of exceptional egg-streak (too bad there is no achievement for that!).
I will keep you informed.

[2013-11-25 14:47] Pandoro commented on #945
Cool, I like the ears on the orc!

On Sun, Nov 24, 2013 at 12:19 AM, coyotino notifications@github.com wrote:

[2013-11-25 14:59] Pandoro commented on #1905
This is pretty much related to HabitRPG/habitrpg-shared/issues/37 As there currently is just one big sprite, it is kind of hard to define a work flow. But hopefully we can jointly come up with something good, so that we can make future contributions easier.

[2013-11-25 15:01] Pandoro opened #1912 "Dailies are turning red extremely slow."
There was a time when I completed a daily pretty much every day (getting up at 8am). It even turned green eventually, however in the past couple of months I haven't completed it a single time, yet it is still blue. I have the weird feeling it is not degrading at all. Is this normal? It is not urgent or anything, but it could break the whole purpose if this is an actual bug.

Name: Pandoro
UUID: 08

[2013-11-25 15:43] paglias commented on #1848
#596

[2013-11-25 15:43] #1848 closed, assigned to nobody

[2013-11-25 15:44] #1303 closed, assigned to nobody

[2013-11-25 15:46] paglias commented on #587
I think we can safely say this is the same as #1057

[2013-11-25 15:46] #587 closed, assigned to lefnire

[2013-11-25 15:47] paglias commented on #1893
@snicker I think you can edit tags, anyway, I've added it :)

[2013-11-25 15:51] paglias commented on #1907
fixed https://github.com/HabitRPG/habitrpg/commit/17c97308f307c7177bd7e3afbcf8d7e854726299

[2013-11-25 15:51] #1907 closed, assigned to nobody

[2013-11-25 16:06] lefnire commented on #1893
ah, interesting - sort of an "acceptability tests" tag

[2013-11-25 16:08] lefnire commented on #1912
Were you resting in the inn during that time?

[2013-11-25 16:10] lefnire commented on #1905
@Fandekasp I believe @lemoness actually added 4 or 5 more shirt colors somewhere, for both genders. We can pull them in, but I'd say
1. wait for classes to be finished, since that branch is completely overhauling spritesheets & css positioning - and our conflicts won't be able to be resolved because they are binary files.
2. unless we can get https://github.com/HabitRPG/habitrpg-shared/issues/37 r

[2013-11-25 16:17] snicker commented on #1893
@paglias I'm not sure I have permissions to edit tags, but thank you!

[2013-11-25 16:23] snicker commented on #1873
XML and JSON export added in https://github.com/HabitRPG/habitrpg/commit/c0a02eeef87e99d08ecad849ca004cb6fd802d7c

[2013-11-25 16:26] paglias commented on #1884
@snicker do you know wheter `bo-text` directive is working without issues?

[2013-11-25 16:33] snicker commented on #1884
Unsure. I would recommend testing to verify.

[2013-11-25 16:50] lefnire opened #1913 "CastError: Cast to number failed for value "04:00" at path "preferences.dayStart""
Thought we had sufficient sanitization in place... is it only client-side?

[code]

[2013-11-25 16:53] paglias commented on #1913
#1532, I don't think we ever added sanitization server-side for that

[2013-11-25 16:53] #1913 closed, assigned to nobody

[2013-11-25 17:04] lefnire commented on #1913
I'm losing my memory @paglias :(

[2013-11-25 17:19] jacobcox36 commented on #945
@Pandoro Awesome, thanks! I think I might want to lower the head to give him a more hunched look, and possibly make him a pixel or two stockier. Anyone else can feel free to make those edits as well, as time is short for me.

I'm also starting work on a dragon, but I have a question: What orientation should bosses be in? From the side, facing left, like a side-scroller? From the front, like the ch

[2013-11-25 17:24] jacobcox36 commented on #945
@Fandekasp 's Skull-headed Gorilla (Gorillaton? Skurilla?) has a sort of Pokemon-type angled orientation, should we stick with that?

[2013-11-25 18:33] paglias opened #1914 "Remove sensitive informations from data export"
Actually user data exported in JSON/XML contains the hashed password and the salt which shouldn't be avalaible I think.

They are removed from api.getUser for example.

@snicker

[2013-11-25 19:03] mikefinney opened #1915 "Cannot Delete Challenge And I Left All Challenges"
I left all challenges I had. I see "Stand up with the alarm" challenge still. I tried refreshing browser. Still there. Can't delete it.

Using Latest Chrome browser: Version 31.0.1650.57

finneycanhelp aka mikefinney ; if you need my facebook client ID, please let me know.

Javascript error in console (unrelated?):

Given URL is not allowed by the Application configuration.: One or more of the giv

[2013-11-25 19:36] snicker commented on #1914
I thought that may be a concern... but that data is only available to the
authenticated user so should it really matter that much?

[2013-11-25 22:25] crystalphoenix commented on #943
i thought of rouges with fancy blades and my mind wandered to hook swords!
so here's my attempt at them ^_^

![hooksword](https://f.cloud.github.com/assets/5247782/1617650/e44c74dc-561f-11e3-8559-9636000dc419.png)

i don't know if i need more contrast in the shading to define the blade better.... let me know what you guys think ^^; it's hard trying to do details on such a tiny level.

a note on it

[2013-11-26 01:21] SyntaxPickax opened #1916 "Momentarily incorrect guild tabs after leaving a guild"
Here's how to reproduce the bug:
1. Join some guilds.
![screen shot 2013-11-25 at 5 05 29 pm](https://f.cloud.github.com/assets/1245093/1618571/132bd538-5637-11e3-8bc3-2b3be696517b.png)
2. Then join a guild with more members than at least one of your other guilds. This guild will be appended to the row of tabs.
![screen shot 2013-11-25 at 5 05 39 pm](https://f.cloud.github.com/assets/1245093/16185

[2013-11-26 02:55] lemoness commented on #1905
Actually, those shirt colors were all Alex :) Our original pixel champ!

[2013-11-26 02:59] lemoness commented on #945
Coyotino, I love the goblin!!! Big thumbs up. Regarding orientation, I think that probably straight-on or angled (mount-style) is best, depending if it is humanoid or not.

[2013-11-26 03:01] lemoness commented on #943
I think that these look great - though I do agree that some shading is needed!!

I think we have our full rogue class set now :)

[2013-11-26 03:16] DanielTheBard commented on #943
@crystalphoenix - Is it possible to make them any more pointed in appearance? They kind of almost look like a staff to me because they seem kind of round at the tip.

@lemoness We're still a 7th weapon short. And I know @fuzzytrees and I didn't know how we felt about the nunchuck. But I do think we're very close! :)

[2013-11-26 03:21] fuzzytrees commented on #943
Was actually just doing some more work (ended up with a little free time I
didn't know I'd have).

The hook blade could replace the nun-chuck here (since it doesn't make a
lot of sense for it to go blade blade NUNCHUCK! blade):
![more_rogue](https://f.cloud.github.com/assets/4355305/1619166/5ce2c39a-564a-11e3-9f4b-934583a7a47e.png)

(edited to actually add image)
(ok, don't know why that's being w

[2013-11-26 03:28] DanielTheBard commented on #943
@fuzzytrees I love you. That's awesome! For those sickle-esque, curved knives, I think I like the smaller one? And it makes sense stepping up to the hook blades from that. Just a little confused on the very last blade you have.

[2013-11-26 03:32] fuzzytrees commented on #943
It's supposed to be a blade that works ok when you have one, but when both
are fully upgraded, it turns into a double-ended sword/katana. I would like
to do it diagonally, but there's no way for it to make sense as both a
single and a double that way.

On Mon, Nov 25, 2013 at 10:28 PM, Daniel the Bard
notifications@github.comwrote:

[2013-11-26 03:34] DanielTheBard commented on #943
OH, I see it now! :) I was confused at first. I'm like... did he get blades for hands? aha

But basically, if the hook blade could match a little more and be a little more pointed, I think the set would be fantastic.

[2013-11-26 03:45] lemoness commented on #943
I also like the smaller hook blade. I was also a little confused about the final blade set, and frankly, I still am - having trouble reading it visually...

[2013-11-26 04:32] kitsully opened #1917 "API Problem Delete and Get Task by ID"
I'm running the python equivalent of this request.

[code]

Obviously in my code the user id and api key are filled in. I just didn't want to write them here. If you need them let me know.

Whenever I try to run it I get a 404 error. When I run the curl command I get "Cannot DELETE /api/user/task/6ea60933-2307-48c8-b68f-c9a4a2a3421b." I also get a similar error when I try a PUT request. A POST req

[2013-11-26 06:05] crystalphoenix commented on #943
@DanielTheBard @lemoness  tweaked it a bunch, improved the shading, and hopefully got the curved shapes better this time round. tried to follow my references better and put the crescent blade on the guard and the slight s-curve on the hook. i hope i succeeded in doing the hook sword justice ^^;
oh! i hope it's ok that i didn't use @fuzzytrees blade colors. they were too light on this 1px wide blad

[2013-11-26 10:50] ghost opened #1919 "Donation trouble"
Hi,

I'm new here, but I already fell in love with this website :) Amazing idea and a great job!

This morning, when I reached level 2, I donated 5$ (PayPal) but I didn't receive anything (no gems, and ads still there).
I found in an other issue that sometimes a manual intervention is necesarry.
So here my User ID: de9c8079-aa01-441f-9fce-8d7305b9dc80

Thanks for your help!

[2013-11-26 12:04] SabreCat commented on #943
Wizard "shields": Staff in one hand and some kind of orb or crystal in the other hand would be badass.

Oh, these are fantastic! I love how the hook swords have developed: the first ones I saw I thought, "dual wielding paper clips?" but @crystalphoenix's last are instantly recognizable.

I would like to suggest that one of the intermediate curved blades be tweaked a bit to be recognizable as a [kh

[2013-11-26 12:17] RosemonkeyCT commented on #943
Wow this thread's been busy while I was away. Sorry if I opened a can of worms back there guys. I do still love the bows, but I'm also loving these new daggers.

[2013-11-26 15:01] snicker commented on #1914
removed in https://github.com/HabitRPG/habitrpg/commit/878bfc7f46282dc69aa02a82d3e87862dc032967

[2013-11-26 15:01] #1914 closed, assigned to nobody

[2013-11-26 15:03] snicker commented on #1916
@Fandekasp is this related to https://github.com/HabitRPG/habitrpg/pull/1904?

[2013-11-26 15:45] Mihakuu opened #1920 "Colored level number showing wrong color on popup window"
I've noticed this before but just thought I was going crazy, finally figured out that it color fixes it the longer I leave the page up, but right after refreshing they're all a bit crazy. I haven't seen this issue here yet
![9 1](https://f.cloud.github.com/assets/3769301/1623249/b09e4498-56b1-11e3-86ca-110c22414b8a.PNG)
![9 3](https://f.cloud.github.com/assets/3769301/1623250/b09ec710-56b1-11e3-83

[2013-11-26 17:50] DanielTheBard commented on #943
@SabreCat - I agree with you on the wizard stuff :) I was thinking they could have an increasingly powerful series of magical implements in their "shield" hand. Like an orb, skull, tome, rune, relic, etc. Idk! :)
Also agree on the hook swords. They're looking much better :) As for the kukri idea, I think the third dagger looks close to one. It might be a better blend into a kukri. Fourth blade, lo

[2013-11-26 18:11] lefnire commented on #1919
hmm.. strange, the IPN might just be waiting in the queue for some reason (sometimes paypal can take a day or two). Anyway, I added gems & removed ads for ya

[2013-11-26 18:11] #1919 closed, assigned to nobody

[2013-11-26 18:36] snicker commented on #1920
This appears to be an issue with the modals being displayed before the user data has been fully loaded, so it shows the color of whatever profile was last viewed if it displays before the data has loaded in the browser. You see it properly the second time the modal is opened for the same user because the data has been cached.

[2013-11-26 18:39] snicker commented on #1920
Steps to duplicate on beta.habitrpg.com:
1. Use a freshly loaded page.
2. Open a profile of a contributor. Label should be the default grey if the modal loads before data is recieved.
3. Close profile.
4. Open profile of same contributor. Label color should be correct.
5. Open profile of a different user of a different contributor level. Label should be color of the previously opened contributor's

[2013-11-26 18:42] snicker commented on #1920
This doesn't make any sense because Angular should be changing the class when the data is received. @lefnire @paglias any clues?

[2013-11-26 18:59] lefnire commented on #1917
What's your UUID? I wanna check if that task actually exists with that id
(6ea6...)

On Monday, November 25, 2013, Kristopher wrote:

[2013-11-26 19:01] kitsully commented on #1917
86fc6c84-6a31-434a-9934-26db5d58ee4a

I have tried this with multiple tasks. I even used POST to create a new task and then copied and pasted the task id directly from the response.

[2013-11-26 19:08] paglias commented on #1916
@SyntaxPickax this happens only with guilds with more members than the others?

[2013-11-26 19:18] paglias commented on #1916
I've been able to replicate this, but only sometimes: it seems that guilds are not always correctly removed, sometimes they appear after leaving them if you refresh but any action on them gives a 401 because the server correctly removed you from the guild. It shouldn't happen because the guild list isn't saved on localstorage & the server doesn't have any sort of caching.

[2013-11-26 19:24] Alys opened #1921 "drops occur on first two Daily tick-offs every day (not random)"
For the past several days, the only time I have received drops of eggs or potions has been first thing in the morning when I've ticked off my first two Dailies. I realise that randomness does sometimes create "patterns" that seem meaningful, but this has been so consistent that it does seem to be a bug - it's always my first two Dailies that produce drops, and never anything else. I'm using Chrome

[2013-11-26 19:29] paglias commented on #1920
@snicker I believe it's https://github.com/HabitRPG/habitrpg/blob/develop/views/shared/header/avatar.jade#L30 this part inside `ng-class`:

`"label-contributor-{{profile.contributor.level}}": profile.contributor,`

As you can see from the screenshot below the `label-contributor-` class is applied but without the contributor level:

![selezione_0135](https://f.cloud.github.com/assets/589911/1625340

[2013-11-26 19:31] paglias commented on #1921
Dailies with a +10 streak have a 100% chance of creating a drop. Is this
your case?

[2013-11-26 19:34] SyntaxPickax commented on #1916
@paglias That's actually a bit tricky for me to test, since I'm the creator of the Climbers Guild, which is tied for lowest member count (3) and I don't want to leave it. Ha!

Of course, if I don't refresh the page (i.e., omit step 3) and just immediately leave the guild while it sits at the end of the row of tabs, then there's no buggy behavior.  But that of course doesn't really model what users

[2013-11-26 19:43] snicker commented on #1920
Does that work? I suppose that ngclass will just evaluate the expression, so it should. That could fix one of our other issues with bindonce and interpolation problems.

I don't know if that will fix _this_ problem though, as this is a issue of putting the cart (view) before the horse (data), have you tested it?

[2013-11-26 19:49] dfjkla commented on #587
Yes, it is. This was opened in March, and 1057 in May, though.

[2013-11-26 19:50] paglias commented on #587
@dfjkla Yeah I know but we did most of the discussion there so it's better to use it

[2013-11-26 19:51] paglias commented on #1920
Sorry I can't test it right now but I read it's the suggested way to go: http://www.thinkingincrowd.me/blog/2013/01/30/string-interpolation-should-not-be-used-with-class-directive-in-angularjs/

I don't know if it will work, I also think that the problem is of another type but it's worth the try

[2013-11-26 19:51] snicker commented on #1920
seems to have worked.

[2013-11-26 19:52] snicker commented on #1920
fixed in https://github.com/HabitRPG/habitrpg/commit/15f3907f00d9d70445980b15f16b54cccf699d74

[2013-11-26 19:57] snicker commented on #1893
Looks like I'm doing this all wrong:
http://www.thinkingincrowd.me/blog/2013/01/30/string-interpolation-should-not-be-used-with-class-directive-in-angularjs/
Thanks @paglias for finding that, I can fix this properly and use bindonce now.

[2013-11-26 20:01] Alys commented on #1921
Yes, that's the case. That explains what I've been seeing. Thank you.

But isn't there now a maximum of two drops per day? I think I read that somewhere in another github issue. If I'm wrong, ignore the rest of this post! :)  This means that drops are no longer random as soon as you get two long streaks going. I'm concerned about this because random rewards are an excellent motivational tool [1] -

[2013-11-26 20:07] snicker commented on #1893
Fixed and bindonce compliant in https://github.com/HabitRPG/habitrpg/commit/a4fb0b42ad64334bad5fbddf459c520406d13b85

[2013-11-26 20:07] #1893 closed, assigned to snicker

[2013-11-26 20:11] snicker commented on #1921
I'm in complete agreement with @Alys, we should never have a 100% drop chance for anything

[2013-11-26 20:13] paglias commented on #1921
@Alys yes there is a 2 drops/day limit.

@snicker @Alys this has been discussed somewhere else (not in a specific issue, though) I agree with you and would like to have a different behavior also because habits and todos are now surely less rewarding than dailies not having the streak bonus

[2013-11-26 20:52] snicker commented on #1921
@lefnire is there a location for this discussion? I'm not suggesting that the streak no longer affect drop chance, but maximum probability should maybe be no more than 75% chance, with the maximum of all factors combined (task age/value, streak, etc)

[2013-11-26 20:52] Alys commented on #1921
Thanks @paglias and @snicker!

As a workaround, I've decided to delete and recreate my dailies when they get to a streak of +10. The random drops are more important to me than the streak achievements.

Is it also worth reconsidering the 2 drops/day limit? Perhaps after the second drop, the chance of future drops is merely reduced (perhaps reduced a LOT if you want to strictly limit the rate at whi

[2013-11-26 20:59] paglias opened #1922 "Drops: revisit chances and day limit"
As explained in #1625.

It came out later in #1921, we should decide if we want to keep dailies with a 10+ streak having a 100% chance of causing a drop.

Also it has been proposed to revisit the 2 drops/day limit, maybe reducing the drop chance after 2 drops.

[2013-11-26 20:59] paglias commented on #1921
Ok, I found the thread where this problem first came out, it's #1625 but I opened #1922 so that we can discuss it there

[2013-11-26 20:59] #1921 closed, assigned to nobody

[2013-11-26 21:05] snicker commented on #1922
I suggested a maximum of 75% chance of a drop when all factors are combined

[2013-11-26 21:41] lefnire commented on #1922
Sure, whichever y'all think is best. The algo is at https://github.com/HabitRPG/habitrpg-shared/blob/master/script/algos.coffee#L125tL128 , shouldn't be too tough to mod. Also, 2/day will be bumped to ~5/day once we release mounts (for food)

[2013-11-26 21:50] AdrienLemaire commented on #1916
@snicker I think it's unrelated. #1904 is related to **partyMinusSelf**, which is only used for the party, not for guilds

[2013-11-26 22:04] Alys commented on #1922
Ooo! Five per day!!! :) Then perhaps it's not worth considering my suggestion to revist the 2 drops/day limit; I imagine that random chance will often spread out five drops so some happen in the later part of the day.

[2013-11-26 22:20] #1532 closed, assigned to lefnire

[2013-11-26 22:26] lefnire commented on #1920
getting wrong colors in party header now: ![screen](http://gyazo.com/9ede14fa5b9bcb2afddb95c14881b1eb.png) (should be some yellow, red, green, blue, etc in there)

[2013-11-26 22:32] #1763 closed, assigned to nobody

[2013-11-26 22:43] snicker commented on #1920
I'm not sure why I thought this was working... Angular does not evaluate the class name, only the conditional of whether or not to apply it. The article is describing a different situation. We need to address the problem I pointed out before, the data loads after the view is displayed.

[2013-11-26 22:56] lefnire commented on #1915
Possibly connected to https://github.com/HabitRPG/habitrpg/issues/1883 , will investigate soon

[2013-11-26 22:58] lefnire commented on #1883
See https://github.com/HabitRPG/habitrpg/issues/1915 . `chal` is undefined [here](https://github.com/HabitRPG/habitrpg/blob/develop/src/models/user.js#L291), meaning the challenge was deleted but the deletion wasn't properly synced to the user. We'll need to (1) figure out why it's not syncing properly, and (2) come up with a way to force-sync in cases like these.

[2013-11-26 22:58] snicker commented on #1920
fixed in https://github.com/HabitRPG/habitrpg/commit/86f62ac2b2c24823e8c967dbaecdfcb1c09a7d0c

please see comments on that commit for why this works

[2013-11-26 23:02] #1920 closed, assigned to nobody

[2013-11-26 23:12] lefnire opened #1924 "Setup CI to deploy develop to beta on passing commits"
(self-assigned). Need to setup continuous deployment, so that `beta` will automatically update with `develop` commits (as long as the tests pass). Couple snags I'm hitting:
- The real tests are in habitrpg-shared, not habitrpg... so "passing tests" difficult to determine
- Travis has CI [integration with Heroku](http://about.travis-ci.org/docs/user/deployment/heroku/), but it requires putting your

[2013-11-26 23:13] snicker commented on #1924
should probably write some tests for the site when we implement features

[2013-11-26 23:18] AdrienLemaire commented on #1924
Yes, need to document the process on how to write tests for habitrpg, and CI should deploy only if tests pass and code coverage > 80% (or if new code contains tests)

[2013-11-26 23:22] AdrienLemaire commented on #1922
@lefnire as said on Trello, I really think we should use that opportunity to add bonus for contribs and insert special gears.

Example:
- 3/day by default
- +1 for legendary+ contribs (right now, not really interesting for champions to try and become legendary)
- +1 for a very rare gear (magical item like protection ring? )
- +2 for a gear that can be bought on the market (food only)

[2013-11-26 23:26] lemoness commented on #943
Hook blades looking VERY nice! We had some earlier mage orbs posted above - let's run with some of those!

[2013-11-26 23:38] lefnire commented on #1924
Ok, maybe I'll hold of on CI then until we have some tests in place. When we get them, want me to add y'all's emails to the deployment status?

[2013-11-26 23:39] AdrienLemaire commented on #1924
sure

[2013-11-26 23:48] lefnire commented on #1924
In the mean time, I'll see if there's a way I can give y'all access to push to heroku/beta without needing some of the other permissions (like editing/viewing env vars, what with stripe/paypal/gmail credentials & all). I just hate being you coding gurus' bottleneck.

[2013-11-27 00:18] lefnire commented on #1922
@Fandekasp ah, yeah sorry forgot about that convo, I'm for it. Also remembering `PER` (aka rogues) will be increase drop amounts as well

[2013-11-27 00:21] AdrienLemaire commented on #1924
If you use a tool like jenkins or buildbot, we should be able to access a waterfall interface, login, and have perms to force a build, without needing to see the code.

[2013-11-27 05:56] snicker commented on #681
as of https://github.com/HabitRPG/habitrpg/commit/13a7292377cf16d14a475b9cdbac18d29d20d6ce, emoji works in all fields that support markdown... currently this is only profile blurbs and tavern chat. Possibly supporting emoji (but not the rest of markdown)

[2013-11-27 07:16] ghost opened #1927 "Ads still there"
Hello,

Yesterday I opened an issue (https://github.com/HabitRPG/habitrpg/issues/1919) because my donation had not been taken into account.
After lefnire's intervention I got the Gems (and now I know a PayPal donation can take few days), thanks for that, but ads are still displayed.

I'm sure it's not expected, could you check my account again please?
User ID: de9c8079-aa01-441f-9fce-8d7305b9dc80

[2013-11-27 07:31] etryn opened #1928 "Issue/Suggestion: Losing an item and maybe death should be less harsh"
Hi,

Not sure if this constitutes a real issue or not, but I died a week or two ago and am still suffering the consequences. Since "losing a random piece of armor" actually means losing all items in that armor slot tree (is this how it should be?), I actually lost several pieces of armor. I was just thinking about how this is a permanent set back (I will always be behind several hundred gold compa

[2013-11-27 07:42] lemoness opened #1929 "Custom Day Start Reset"
Just checked, and my custom day start was reset to zero. Lots of complaints in the tavern, too - this is going to cause a lot of deaths if it isn't fixed soon.

[2013-11-27 07:45] Esstheruth opened #1930 "Custom Day Start randomly reverts to midnight"
So this just happened to several users tonight, including myself, causing us to lose streaks on dailies that were in progress but hadn't been checked off yet.

My custom day start had been 3 a.m. and my day reverted back to midnight after I clicked on one of my dailies around 12:45 a.m.

[2013-11-27 07:47] ghost commented on #1929
Yes, mine was as well. I was changing my end of day from 2 to 3 (it was just after midnight when I was doing this) and the page reset to zero. Not sure if my fussing with the time contributed.

[2013-11-27 08:00] #1930 closed, assigned to nobody

[2013-11-27 08:02] Esstheruth commented on #1929
My custom day start had been 3 a.m. for two weeks already, and my day reverted back to midnight after I clicked on one of my dailies around 12:45 a.m. Lost HP and had to reset several daily streaks.

[2013-11-27 08:22] JesperDramsch commented on #1929
Mine was at 7 am and reset in the middle of the night. When I set it back to 7 this night, the dailies did not reset at said time.

[2013-11-27 08:22] veeeeeee commented on #1929
Clicked a couple things after midnight; page reloaded with clean dailies and a daily start time reset to midnight. Also nearly died as a result, which was, erm, interesting.

[2013-11-27 08:33] JesperDramsch opened #1931 "Hatched Pets missing"
A couple of days ago I was pretty happy to have hit the 40 pets mark (and above). A little later however, I was down to 38 pets.

[2013-11-27 08:37] FireNRice commented on #1929
Logged in to check off some dailies and was already dead.  My custom day start was set at 4AM, and it got reverted to midnight.  Lost armor, over 1300 gold and experience points.

[2013-11-27 08:56] etryn commented on #1929
Happened to me too. Fortunately I didn't die-- sorry to those of you who did! Hopefully you can restore!

[2013-11-27 10:05] Mousekiro commented on #1929
Hit me last night, too. I didn't die, but I went to check off one of my kitchen-cleaning dailies before bed only to find all my dailies unchecked and some of them had lost their streak. When I figured out what had happened, I changed the day start back to 6:00, but I was still quite wary, so I stuck myself in the Inn. Which is a good thing, because when I logged on this morning, it was back to 0:0

[2013-11-27 11:02] DubBub opened #1932 "Challenge To-Do list"
Hello,

My sister and I created a challenge a few weeks ago (private party) and we had a to-do mission; to get a ball. The main point was we got it within a week of putting it up, and we both struck it off our respective MAIN habit page, (She being the host of the party btw), and it was gone from BOTH the MAIN habit page and CHALLENGE page. However, just a few days ago, the to-do pop back up again

[2013-11-27 12:02] Blauelf commented on #1929
As mousekiro said, custom day start seems to reset on every reload/sync. Language preference, which also got reset from English back to my browser's default, does not.

[2013-11-27 13:18] eiron commented on #1929
This has also affected me. But with my other issues due to heavy load restoring the streaks is a bit of an arduous task, as I get frequent browser locks. I am often busy until after midnight, so I need those extra hours for last-minute checking before I do finally get to bed.

[2013-11-27 14:42] paglias commented on #1929
@lefnire I think that https://github.com/HabitRPG/habitrpg/commit/2b128f71f45b2b3cb873eacbe36f8212f28a1dad is preventing any value other than 0 from being used.

You can set values client-side as long as you don't try to delete the old value, because it will set it to 0, you can only replace it with a number by selecting the old value. And server-side is always resetted to 0.

[2013-11-27 14:43] paglias commented on #1931
Is the pet count correct now? I mean it says 38, can you count manually how many do you have?

There was a bug that caused people having more pets counted than they really had.

[2013-11-27 14:47] JesperDramsch commented on #1931
The count is right now. That's disappointing. Thanks :+1:

[2013-11-27 14:47] #1931 closed, assigned to nobody

[2013-11-27 15:02] wisteriacs commented on #1929
- 1 here -- On the mobile app it suddenly said I was Dead. Luckily it gave me a chance to screen-shot my stats before "reviving"!

[2013-11-27 15:11] paglias commented on #1929
Sorry about this guys, it's now fixed (**not live on the site yet!**) but for every one who logged in in the last hours the custom day start has been resetted to 0, we may restore old values from a backup but let's wait for @lefnire

[2013-11-27 16:27] lefnire commented on #681
Truth! We can close this one

[2013-11-27 16:27] #681 closed, assigned to nobody

[2013-11-27 17:45] SabreCat commented on #1922
I think it's important to scale the streak bonus to drop chance way down, whether we have a 2/day limit or 10. Five guaranteed drops is just as demotivating as two guaranteed drops, if not worse.

[2013-11-27 17:55] gorillagnomes opened #1933 "Days not resetting despite being set to 0:00. Also, can't change time for reset."
Every day I have logged in, and every day the tasks from the prior day are still checked off.

I've tried to change the time for reset, but it keeps going back to 0:00 and none of my dailies have been cleared to be checked again the next day. Help!

[2013-11-27 17:59] SabreCat opened #1934 ""Reset" and "Restore" are confusing"
Per @wc8, users have complained in Tavern that "Reset" and "Restore" are too easily confused. They're in close UI proximity, with similar yet _very importantly_ different functions, and extremely similar names. I myself have found myself accidentally saying "Reset" when I meant "Restore" in conversations about features.

Compounding the issue is the fact that the Reset popover runs off the screen:

[2013-11-27 18:00] snicker opened #1935 "certain emoji images are not loading"
It appears that a few Emoji images are not loading, star, heart, a few others.

This is happening because the Gemoji library that is being used for images has symbolic links in the repository:
https://github.com/github/gemoji/tree/master/images/emoji/unicode

and bower does not install the symbolic links. What we get are missing items.

I'll propose manually downloading the images and building the

[2013-11-27 18:03] lefnire commented on #1933
every day you've logged in, it's _never_ reset for you? Hmm... what's your UUID? Re: `0:00`, be sure to enter a whole number between 0 and 24. Eg `2`, not `2:00`

[2013-11-27 18:05] lefnire commented on #1934
I'm all for all of those options. Might not be able to get to this till a bit later, in case you wanna PR me first. In the mean time, you're whole account was reset? Do you want me to restore from yesterday?

[2013-11-27 18:07] SabreCat commented on #1934
Oh, no, haha. That was a joke. I was referencing the "I accidentally the whole (fill-in-the-blank)" Internet meme, with respect to the wording produced by the chopped-off popover bubble.

[2013-11-27 18:08] SabreCat commented on #1934
As for the PR, I'm good for it. I would kinda like to see my extant PR get merged before I get too deep into further tweaks, but I'll take a look at it after I work on that items.coffee task you gave me. Assigning myself.

[2013-11-27 18:09] lefnire commented on #1934
Haha! See, I got the meme but I thought you _accidentally_ missed the word ("he totally did that meme on accident"). So meta!

[2013-11-27 18:14] lefnire commented on #1929
@paglias fixed this, I've deployed fix to both production & beta. I've also ran a migration to restore 0'd dayStarts for users who haven't manually updated after the bug. Everything should be good now, thanks @paglias, and sorry everyone.

Some background on what happened. There were a lot of users whose dayStarts wasn't a whole number (eg `2`), but they were entering `2:00`, which caused Mongoose

[2013-11-27 18:14] #1929 closed, assigned to nobody

[2013-11-27 18:15] SabreCat commented on #1934
Reviewing my list, I _might_ end up needing help getting the icons on there. I'll speak up if I can't figure it out.

Relevant feature question: does (currently-named) Reset wipe out your pets? Or can only a Delete do that?

[2013-11-27 18:16] paglias commented on #1929
@lefnire could be that a cause for all that mess with custom day start not working? The fact that validation prevents deleting the hour (in order to change it) and that it's saved at every change (for example when using the increase/decrease button) is quite annoying

[2013-11-27 18:16] lefnire commented on #1934
Just lists, items, stats. [The code](https://github.com/HabitRPG/habitrpg/blob/develop/src/controllers/user.js#L320tL341).

[2013-11-27 18:21] lefnire commented on #1929
You mean could the other dayStart issues be connected to invalid dayStart (ie, before this push)? I don't think so, to be honest.. I think their accounts wouldn't even load at all when they had invalid dayStarts. I got some emails, people saying "I get red errors and no tasks", and this was the cause

[2013-11-27 18:23] paglias commented on #1929
it would have been too easy :(

[2013-11-27 18:24] lefnire commented on #1929
I know :( I thought about it too, a brief glimmer of hope and then "oh... no..."

[2013-11-27 18:24] SabreCat commented on #1934
Got it. For a moment I thought, "why not pets?", but then realized that pets might have been bought with real money, and take-backsies on that would be not so cool.

[2013-11-27 18:28] #1906 closed, assigned to SabreCat

[2013-11-27 18:43] SabreCat commented on #1839
Appears to have been incidentally resolved by pull #1908. Closing!

[2013-11-27 18:43] #1839 closed, assigned to nobody

[2013-11-27 18:49] amici-ursi commented on #1933
My dailies didn't reset last night either, lefnire. UUID is "psdtwk". I have a custom day start of 4, if that matters.

[2013-11-27 18:52] gorillagnomes commented on #1933
UUID is gorillagnomes. I used numbers only to change the reset time, but I didn't try that until yesterday. Before that, I hadn't messed with the time settings. It's not reset since I started 3 days ago.

[2013-11-27 18:54] paglias commented on #1933
@psdtwk there was a bug yesterday resetting everyone's custom day start, it should be working now

[2013-11-27 18:55] nafoster commented on #1934
If you're looking to add icons and since we're using Bootstrap, try using Font Awesome (http://fontawesome.io/). Completely customizeable SVG icons and works very well with Bootstrap, since it was made for it!

[2013-11-27 18:56] lefnire commented on #1934
FWIW, we haven't added fontawesome to the repo yet, but we plan to. if you decide to give it a try and find adding it to the repo a challenge, ping me

[2013-11-27 19:00] gorillagnomes commented on #1933
Oops. That wasn't my UUID. Here it is: db63d489-e349-41f4-8c19-48a27d34a418

[2013-11-27 19:07] amici-ursi commented on #1933
UUID 94ddad44-d10a-4417-b9a9-75d6f89584e1
Thanks @paglias I'm trying a temporary day start of 14 (about an hour from now) to force a reset of my dailies.

[2013-11-27 19:08] lefnire commented on #1933
@psdtwk that's gonna be for tomorrow, so it won't work. If you and @gorillagnomes want, I can set your `user.lastCron` (aka, "last login") to yesterday and see if that triggers a new day for you?

[2013-11-27 19:10] gorillagnomes commented on #1933
@lefnire  that would be awesome!

[2013-11-27 19:12] lefnire commented on #1933
ok, both give that a try

[2013-11-27 19:20] gorillagnomes commented on #1933
@lefnire  No dice, muchacho. Still the same

[2013-11-27 19:27] lefnire commented on #1933
I think y'all might be hitting https://github.com/HabitRPG/habitrpg/issues/1057 then. I think you hit the 0:00 bug https://github.com/HabitRPG/habitrpg/issues/1929 first (which was fixed), but are now _also_ running into #1057 (which is not yet fixed). Can you give that ticket a gander, and if you think it's the same issue close this one and follow that one?

[2013-11-27 19:29] gorillagnomes commented on #1933
@lefnire  - yes, that's the same problem for me

[2013-11-27 19:32] lefnire commented on #1933
kk, let's follow there

[2013-11-27 19:32] #1933 closed, assigned to nobody

[2013-11-27 20:09] amici-ursi commented on #1933
@lefnire my dailies _did_ reset when 14 came around eight minutes ago. I'm adjusting the day start back to where I had it before. Thanks for your help, all.

[2013-11-27 23:58] snicker commented on #1935
so @lefnire, are we cool with the solution of merging all the images into habitrpg-shared? If so, merge the PR (I can't) and I'll update the code to point to the new image location

[2013-11-28 00:02] AdrienLemaire commented on #1935
LGTM

[2013-11-28 00:26] lemoness opened #1936 "Party Members' Pet Count is Wrong"
When I click on my party members to see how many pets they have, every single one of them is listed as having 90, even though I know for a fact that this isn't true. (One of my friends refuses to hatch any pet at all, only selling them).

[2013-11-28 00:35] lefnire commented on #1936
@snicker bindonce concerns?

[2013-11-28 00:46] lefnire commented on #1935
Merged, added you as habitrpg-shared admin (sorry I forgot to)

[2013-11-28 00:55] snicker commented on #1936
@lefnire nope, don't think that's from something I did. It's showing the number of pets that the logged-in user has, not the number of pets of the targeted user. Seems to be an issue with any profile pop up

[2013-11-28 01:00] lefnire commented on #943
@crystalphoenix @fuzzytrees heads up on size issues we're currently hitting on the daggers https://github.com/HabitRPG/habitrpg-shared/issues/37#issuecomment-29430566 . We should be able to solve them, but might wanna keep any future work as-wide-or-smaller than what ya've got, just in case

[2013-11-28 01:28] lefnire commented on #1922
@SabreCat. Does @Fandekasp's approach, + rogue boosts, sound sufficient? Won't be too hard to add once we're there

[2013-11-28 01:35] lefnire commented on #1930
Fixed

On Wednesday, November 27, 2013, Esstheruth wrote:

[2013-11-28 01:38] lefnire commented on #1927
Let's try to keep things centralized if possible (re-opening old tickets if not solved & such). Can you try again? Double checked the account and the flag is set properly, I think we may just need a hard refresh on your account

[2013-11-28 01:45] SabreCat opened #1937 "Justin is invisible in honor of Turkey Day"
When the Turkey Day announcement came out, I eagerly rushed to look at each of the NPCs' outfits. But alas, Justin has simply opted out of the holiday, leaving only his disembodied voice to guide newcomers!

![screenclip](https://f.cloud.github.com/assets/4501321/1636446/b6d3fad8-57ce-11e3-9f94-ab6a077c3461.png)

Firefox on Win7, beta.habit. Tried a couple of force-refreshes, no good. I don't see

[2013-11-28 01:50] SabreCat commented on #1922
@lefnire: I like @Fandekasp's ideas, yeah! The third and fourth bullets could roll into the Accessory system if and when that happens. The streak bonus piece of the algorithm still needs to be fixed, though, once we have an idea of what the math _should_ look like.

[2013-11-28 02:00] lefnire commented on #1937
fixed

[2013-11-28 02:00] #1937 closed, assigned to nobody

[2013-11-28 02:36] SabreCat opened #1938 "Need a new name for "Re-Roll""
With Classes coming up, there are going to be several features that conceptually map to the tabletop RPG or MMO concept of "re-rolling": account reset, class change, and the actual Re-Roll feature currently available in the Reward shop. That could lead to some user confusion.

Moreover, the semantics aren't a great match to begin with: "re-roll" has its origins in "rolling up a character," referri

[2013-11-28 03:00] lefnire commented on #1938
I think @wc8 had a suggestion like "back to yellow". We could also put it in Options > Settings along with restore et al. It doesn't make much sense as a store item i suppose... (random FYI: not even meant to be a monetization strategy, I only charge gems so people don't abuse it). Also, I think it may be less necessary once we introduce spells for reducing redness, as long as people keep up with

[2013-11-28 03:55] SabreCat commented on #1938
I think it's not so bad as a minor pay-for feature. It's basically a convenience option, because you can do the exact same thing by deleting and recreating those tasks. It just saves you a hunk of time for doing so. But aye, moving it to another tab would make sense!

[2013-11-28 04:12] octern opened #1939 "Turkey increases pet count but not max"
I have 70 regular pets plus the veteran wolf. Previously, my pet total was 70/90. Today the turkey showed up, and my pet total is now 71/90. Either the turkey should not be counted, or it should increase both the count and the max.

[2013-11-28 04:25] SabreCat commented on #1939
Ah, good catch. We had this trouble with the Veteran Wolf before, too, but straightened it out eventually.

[2013-11-28 04:46] #1935 closed, assigned to snicker

[2013-11-28 05:23] #1936 closed, assigned to nobody

[2013-11-28 05:23] snicker commented on #1936
It is something I fixed though

[2013-11-28 06:01] OmerN opened #1940 "Turkey pet is invisible"
When enter the stable there is a space between the veteran wolf and the "Gold footprint".
There is a tooltip when hovering the mouse over the blank space "Turkey"
It's selectable. when selected the avatar seems to be without pet.

![hrpg_turkey](https://f.cloud.github.com/assets/6056164/1637667/62920b80-57f2-11e3-8356-def972a9b911.png)

[2013-11-28 06:43] lefnire commented on #1940
Hard refresh
On Nov 27, 2013 11:01 PM, "OmerN" notifications@github.com wrote:

[2013-11-28 06:49] ghost commented on #1927
Sorry for not re-opening my old tickets.
It's ok now, ads disappeared after log out.

Thanks again and have a nice day.

[2013-11-28 07:00] #1927 closed, assigned to nobody

[2013-11-28 07:37] peppervl commented on #1057
I'm having this issue as well. My custom reset time is 4:00. I went in after midnight last night (but before 4:00 AM) and then today (again after midnight but before 4:00 AM) I go to check them off and they're all grey.

I have had this happen a few times before, though this is the first time I've reported it. I do believe that I'd started checking things off after midnight the day before those ti

[2013-11-28 08:23] bennypowers opened #1941 "Can't Log in Chrome"
I can't log in using Chrome 30.0.1599.101 Mac 10.8.5:
at habitrpg.com/static/front, the PLAY button brings me to http://habitrpg.com/static/front#tasks (instead of habitrpg.com/#tasks)

Works in Safari, FF on same computer. Works on chrome android

[2013-11-28 10:24] yashkochar opened #1942 "free exp, money from dailies"
If you (accidentally) complete a daily task and the click it again so that it is unfinished, your experience and money is reduced. However you still retain the bonus experience and money gained from streak bonus. There is no rollback for the bonus.

![bug](https://f.cloud.github.com/assets/1310989/1638987/41278c8e-5817-11e3-8f31-79e43ee7c644.png)

[2013-11-28 12:55] OmerN commented on #1940
Fixed,(so called). turkey visible after refresh

[2013-11-28 14:21] ghost commented on #943
How about a sword for the rogue
![sword_icon](https://f.cloud.github.com/assets/6059608/1640402/5816b4da-5838-11e3-8267-fcd1897cb3d8.png)
?

[2013-11-28 14:34] #1940 closed, assigned to nobody

[2013-11-28 14:37] SabreCat commented on #1941
Huh, this sounds like the behavior I hit with #1875 ... but I actually solved that by switching _to_ Chrome. Can you try clearing your local user data as described in the screenshot on that issue?

[2013-11-28 16:05] SabreCat commented on #1922
I've just begun studying algos.coffee, so this is an uneducated idea. What if all boosts to drop chance were interchangeable percentage multipliers upon a core value?

Such a scheme might look like this:
Base chance for a drop, with no boosts or reductions whatsoever, is 1% per click.
Task value applies a modifier. Maybe something that's pretty red, or a just-added Medium difficulty task, is worth

[2013-11-28 16:20] filkaris opened #1943 ""Pets Found" of Party members are the same as mine"
All the party members display that they have 15 pets, same as me, even the guys that are lvl 1 and lvl 2.

So I know for a fact it's inaccurate.

It also did the same yesterday, when I had 13 pets.

[2013-11-28 16:23] SabreCat commented on #1922
Once the user has scored a drop, we can make the drop _type_ chances nicely modular too, if designed right.

Imagine the different types of drop as colored stones shuffled together in a bag, or as a deck of cards. The way algos.coffee looks right now, it's a 100-card stack with 40 food items, 30 eggs, and 30 hatching potions. When a drop happens, you shuffle them up and draw one: ah! an egg.

If r

[2013-11-28 16:57] DanielTheBard commented on #943
@the-entropist - Nice, but it's much too big and doesn't really fit in with the style of the dagger set that's been done so far.

[2013-11-28 17:00] SabreCat commented on #1943
Duplicate of #1936. Been fixed in the code, but might not have deployed to the site yet.

[2013-11-28 17:00] #1943 closed, assigned to nobody

[2013-11-28 17:06] filkaris commented on #1943
You're right! Sorry for not searching :innocent:

[2013-11-28 17:07] ghost commented on #943
Yeah just saw the difference after posting it.

On 28 November 2013 17:57, Daniel the Bard notifications@github.com wrote:

[2013-11-28 17:56] bennypowers commented on #1941
Yerp, that fixed it!

Thank you very very much!

Benny Powers
Licensed Israel Tour Guide

In Israel 054-482-5726
In Canada 705-300-0072
In the USA 601-255-3532

bennypowers.com

On Thu, Nov 28, 2013 at 4:37 PM, Sabe Jones notifications@github.comwrote:

[2013-11-28 18:04] #1941 closed, assigned to nobody

[2013-11-28 20:52] paglias commented on #1942
follow at #964

[2013-11-28 20:52] #1942 closed, assigned to nobody

[2013-11-28 21:08] paglias commented on #1939
yes yes, we have to manually update the list of special pets every time one of them is added... we'll probably wait for https://github.com/HabitRPG/habitrpg-shared/pull/45 to be merged and will also fix this.

[2013-11-28 21:46] snicker commented on #1939
https://github.com/HabitRPG/habitrpg-shared/pull/45 merged, this will be fixed when it goes live

[2013-11-28 21:46] #1939 closed, assigned to nobody

[2013-11-29 14:40] laisan commented on #1057
The same happening with me. I have my reset time at 7 am. Couple of days ago it noticed that that setting has been reset to 00:00. I set it back to 7:00 - and now my dailies are not resetting.

[2013-11-29 16:29] SabreCat commented on #1912
I had a Daily I didn't touch for weeks, and was surprised at how long it took to turn red. It does degrade, but it's pretty forgiving about it.

[2013-11-29 16:58] SabreCat commented on #1877
This is still happening to me on the Admin page. Fix wasn't quite sufficient? Or hasn't been pushed yet?

[2013-11-29 17:28] lefnire commented on #1877
I saw it happen as well. Fix is already live, I'll have to revisit later

[2013-11-29 18:11] lefnire commented on #1936
I love it! You're the man!

[2013-11-29 20:02] RosemonkeyCT commented on #943
Random thought - you know the dragon hunter gear how it has a flaming aura for what I'm guessing is a sort of shield? Would that maybe be a thing for the mage gear? Some kind of aura as a shield?

[2013-11-29 22:23] morisy opened #1944 "Habit data older than one month condensed, rather than tracking individual ups/downs"
Noticed this with the CSV export, but appears to be true in general: Historical habit data appears to be condensed to a monthly summary rather than individual ups/downs over the lifetime of usage.

I've been using the HRPG to track, for example, how much water/caffeine I drink per day, but now data that goes back more than a month is lost.

Not sure if this is a bug or intentional given technology

[2013-11-29 22:46] lefnire commented on #1944
We're averaging history entries as we go back in time. See comment at https://github.com/HabitRPG/habitrpg-shared/blob/master/script/algos.coffee#L431tL436 , and see https://github.com/HabitRPG/habitrpg/issues/1499#issuecomment-27832315 for some background on why. So it is indeed due to technical constraints. In the future, we may add keeping all history entries in the database, but only sending t

[2013-11-29 22:50] lefnire commented on #1944
Extra info on ^ , a concern about performing preen on `user.toJSON` for all responses, instead of "destructively" on `cron` is that it is a very costly operation, and it could slow down most ops that return the user object pretty heavily. Will revisit in the future though for a more effective approach.

[2013-11-29 22:50] #1944 closed, assigned to nobody

[2013-11-29 22:50] morisy commented on #1944
Thanks! Figured it was along those lines, but couldn't find the answer in other issues. Thanks for the pointer to it.

[2013-11-29 23:20] lefnire commented on #1057
@paglias Your comments shed a lot of light, I think you've found the problem. It looks like the issue is
- User checks in between 0:00 and `user.preferences.dayStart`
- Server thinks a day has passed, and updates `user.lastCron`
- (For some reason it doesn't actually _run_ cron... this part kinda breaks the theory...)
- Checking in the next day shows `user.lastCron` as today, so it doesn't run cro

[2013-11-29 23:34] laisan commented on #1057
same location

[2013-11-29 23:37] wc8 commented on #1057
In case it helps users in the meantime, my manual new day method is to write down stats, uncheck Dailies & go to Settings>Restore to correct stats e-g. (gold, health).

[2013-11-29 23:59] lefnire commented on #1057
@paglias

We manually add timezoneOffset [here](https://github.com/HabitRPG/habitrpg-shared/blob/master/script/helpers.coffee#L13), for every date-calculation. Because we're running cron on the server, not the client, `moment.zone` will give us the server's tz. So what we do is set `user.preferences.timezoneOffset` [here](https://github.com/HabitRPG/habitrpg/blob/develop/public/js/services/userSer

[2013-11-30 00:17] lefnire commented on #1057
Woo, I think I got it! https://github.com/HabitRPG/habitrpg-shared/commit/282e105ea3c318b6128277318a073af6f9fa20a8#diff-cfb682379d1261ba2ad825d0f77b43e0L364

[2013-11-30 01:19] wc8 commented on #1934
I assume delete account warns user and wipes pets? In that case (delete) I think everything should go, since user is basically saying, forget you ever knew me.

[2013-11-30 01:32] Clariel opened #1945 "reloading the page or adding new habits is randomly resorting them"
Today adding a new habit or just reloading the page started shuffling my existing habits, in a seemingly random way. It's not happening with dailies or todos.

There were some old bugs related to this but they had been closed. Using chrome 31 on (x)ubuntu 13.10. (Apologies if I did this wrong, first bug report)

[2013-11-30 04:58] SabreCat commented on #1934
@wc8: That's my understanding, yeah. I think it drops that user from the database.

[2013-11-30 12:42] paglias commented on #1945
#1616?

[2013-11-30 12:42] #1945 closed, assigned to nobody

[2013-11-30 12:45] paglias commented on #1057
@lefnire I'll give it a try this evening, but this should happen only when user moves to another timezone? Because to me it happened and I never moved since I use habit

[2013-11-30 16:50] lefnire commented on #1057
@paglias well, the code I commented out [here](https://github.com/HabitRPG/habitrpg-shared/commit/282e105ea3c318b6128277318a073af6f9fa20a8#diff-cfb682379d1261ba2ad825d0f77b43e0L364) was indeed meant to handle the edge-case of switching timezones. However, `if moment(user.lastCron).isAfter(now)` doesn't take `user.preferences.timezoneOffset` into account - so I think it was actually the bug. I thin

[2013-11-30 19:27] lefnire commented on #1934
Yep, user is deleted from the database entirely.

[2013-11-30 20:16] kitsully commented on #1917
So I'm guessing by the labels this issue has this isn't a problem localized to me?

[2013-11-30 20:27] lefnire commented on #1917
Yours is the only report, but I marked it up so once we close the `critical`s we can move on to the `important`s

[2013-12-01 03:10] professorsugoi opened #1950 "To-Do List items keep re-appearing after i check them off (but gives me xp & gold)"
When I check off some to-do list items on my phone, they immediately reappear.
The same happens in the browser version when I refresh the page.

It lets me keep the rewards even though they re-appear each time. They also re-appear if I delete them instead.

[2013-12-01 05:25] ShadeJackrabbit commented on #1938
I like the line of "Guard", though that sounds too close to a targetted action. What about "Fortify"?

[2013-12-01 12:41] SabreCat commented on #1938
@ShadeJackrabbit: I like it!

[2013-12-01 13:43] SabreCat opened #1951 "Markdown adds extra horizontal lines in ordered lists"
Made my first Markdown ordered list in guild chat, and discovered that it throws in a HR after every line item:
![screenclip](https://f.cloud.github.com/assets/4501321/1650453/7974ba52-5a8e-11e3-835a-345487bcadb9.png)
It strikes me as unnecessary and unsightly, especially since it stretches the scrollbar to bursting after just a few line items. Can we alter this behavior so it does a raw list with

[2013-12-01 15:53] SabreCat commented on #1934
Hey @lefnire, @nafoster, I am in fact having trouble adding Fontawesome to the repo. It's supposed to go in a "component.json" per the documentation, but I'm not finding that anywhere. Do I need to add [Component itself](https://github.com/component/component) first?

[2013-12-01 16:46] paglias commented on #1934
@SabreCat propably the documentation references the old name of bower.json which was component.json, so i think you can try using bower.json

But, personally, I don't like we're adding a new library to habitrog every week, last week it was +50kb for emojis now we want to add FontAwesome which is 18kb of minified css + the fonts (40kb only for the eot format, hoping other file types are not going t

[2013-12-01 18:11] SabreCat commented on #1934
Hmm, I tried bower.json, but it didn't recognize FontAwesome, at least according to the suggested syntax. I could try pointing it directly at the Git URL instead of using the repo name by itself, maybe... I'll keep toying. @lefnire would have to speak to the strategic concern.

[2013-12-02 04:01] brightbold commented on #1922
Love these ideas. Personally I think a 75% max is too high - as @SabreCat mentions, guarantees (or near-guarantees) are de-motivating. But I definitely think having high-value tasks and good streaks increase your chances is motivating, as long as it's still a surprise when you get a drop. I assume people thinking about this are also referring back to [the Trello issue](https://trello.com/c/7CiJVag

[2013-12-02 05:37] snicker commented on #1934
@paglias I understand your concern with emoji, we could do the work serverside so we don't have to push the huge js array to the client...

[2013-12-02 05:38] snicker commented on #1951
Is it a style issue? Or is markdown actually inserting `hr` elements after every `li`?

[2013-12-02 08:11] breadstrings opened #1953 "Link to Introduction Video in beginner's tutorial is broken"
Copied from Tavern:
The tutorial video linked on site is dead, but I see the one on the wiki is working - I'll check that out maybe it'll answer my questions :) ~ Recon

[2013-12-02 09:40] JesperDramsch opened #1954 "Challenge Tasks not Updated"
I created a challenge and then updated the names to be more gamified. People who joined later, got the new names, yet for me the names remain unchanged but unchangeable since they're challenge tasks.
Shouldn't these be globally updated?

[2013-12-02 11:01] eiron commented on #1950
I have noted this behaviour also. The same bug seems to refund you on upgrades, but allows you to keep the kit.

[2013-12-02 11:04] eiron opened #1955 "Challenges drawing from guild AND personal coffers?"
I am pretty sure I had 24 gems. Then I made a new challenge in my guild and am down to 23 gems. The guild is also down a gem. I am not sure if this has happened before and I just have not noticed it. If so, I would be down three gems in all.

[2013-12-02 13:39] SabreCat commented on #1951
Looks like a style issue. This is what the Inspect Element output looks like:

[code]

[2013-12-02 15:37] lefnire commented on #1955
Yes. If you created the guild (5gems is it?), then those gems get added to the guild bank, and get dipped into first (if the challenge creator is the guild leader) before dipping into user's gems

[2013-12-02 15:48] aurakami opened #1956 "Pets Out of Order"
I'm not sure if it's just me or not, but the pets are no longer listed in order of most common to rare. For simplicity's sake, here is a screen shot.

![pets_bug](https://f.cloud.github.com/assets/4622000/1655811/d1824d7e-5b68-11e3-9f47-0d6e43c95520.png)

It happened more than a week ago for me, I can't remember the exact date. I figured it was an accident due to some bug fix and that it'd be fixe

[2013-12-02 19:07] eiron commented on #1955
Yes. There were those four gems and with three gems offered for challenges
we are down to one. But I seem also to be down on personal gems too.
On 2 Dec 2013 15:38, "Tyler Renelle" notifications@github.com wrote:

[2013-12-02 21:33] JesperDramsch commented on #1951
It's inherited from the .tavern-chat li and party-chat li.

[code]

[2013-12-02 23:13] SabreCat commented on #1951
Hmm, I see. Do we want that there across the board? What would it affect if we took it out?

[2013-12-02 23:20] wc8 commented on #1328
[Costumes comment … wrong browser tab open]

[2013-12-02 23:24] wc8 commented on #993
This (armor idea) seems related to the new [Costumes](https://trello.com/c/iY6A7nlX/336-costumes-armory-v2) card.

[2013-12-02 23:25] wc8 commented on #1328
Mouseover of item notes (the speech bubble icon) is at times impossible to use. This is possibly affected by browser window width. Another user first drew my attention to it.

[2013-12-02 23:32] wc8 commented on #1938
A clear explanation will still be needed with _Fortify_.
Fortify sounds more appealing than re-roll, but still doesn’t describe what will happen: all tasks turning back to yellow.
(I think what I had suggested (off the top of my head) was “Clean Slate”.)

[2013-12-02 23:33] snicker commented on #1951
You don't have to, you can just do an overriding style. Take a look at https://github.com/HabitRPG/habitrpg/blob/develop/public/css/game-pane.styl#L62-L69 for an example of overriding styles in just the markdown tag. That is where you would do it

[2013-12-02 23:37] #1951 closed, assigned to nobody

[2013-12-03 00:01] AdrienLemaire commented on #1956
I think there are no longer any rare pets, they all have the same chance to drop. Therefore, the list order doesn't make sense anymore :)

[2013-12-03 00:09] aurakami commented on #1956
Really? Aw, why the change? I feel like rarity made it more exciting so when you get, say skeleton or one of the cotton candies, it felt extra special. Not to mention more challenging which made for when you did/do collect them all, it feels like a big accomplishment.

[2013-12-03 01:35] SabreCat commented on #1938
@wc8: Agreed. Can you take a look at the changed files in [the fix commit](https://github.com/HabitRPG/habitrpg/commit/af80548a342fdaa636de24a5e0aee7a32b1508db)? You should be able to see what's a tooltip popup, what's a description in a modal window, etc.--let me know what questions and suggestions you come up with.

[2013-12-03 01:38] SabreCat commented on #1328
@wc8: Yeah, that problem has been around for ages: #399. @lefnire had hoped it would be cleared up with the jump to Angular, but it's the same old. Something awry in the way the popovers position themselves...

[2013-12-03 01:38] SabreCat commented on #399
Dah! I thought I'd reopened this ages ago. Doing so now, per @kalmduck's and @wc8's recent comments and my own experience.

[2013-12-03 01:43] SabreCat commented on #1956
Yeah, they're just alphabetically ordered in the Stable, and drop chances are evened out. The only difference among potions now is that some of them cost more when purchased with Gems. We've been seeing quite a few Beastmasters pop up as a result! I'd be curious to hear if people like having varied rarities, though: I feel like flattening them out constricts our design space for uncertain benefit.

[2013-12-03 01:43] SabreCat commented on #399
Assigning to myself because I've been doofing around with popovers quite a bit lately and will take a stab at it. But if somebody more savvy spots the fix first, don't let the assignment dissuade you :P

[2013-12-03 01:50] SabreCat commented on #1951
Cool! Override styles crossed my mind, but I didn't know where the markdown-specific stuff lived. Thanks for the tip!

[2013-12-03 02:03] aurakami commented on #1956
Ah, alphabetical order, that makes sense now xD I still kind of feel like the Beastmaster award should be more difficult to get, but who knows if I'm in the minority, haha. A poll would be nice :)

[2013-12-03 02:20] lefnire commented on #1956
Potion rarity was _put back in_. We evened the algos out substantially, which is an improvement, and we're discussing whether or not to remove rarity - see bottom of https://github.com/HabitRPG/habitrpg/issues/1048 (it's still an open question). @SabreCat yes, I think a poll is in order. Care to do the honors?

They're alphabetical due to a technical issue, which I couldn't find a solution for, so

[2013-12-03 02:27] SabreCat commented on #1956
Oh, interesting--when was the rarity curve put back? I've definitely noticed lots more Golden Potions lately, but the value of "lately" is fuzzy.

I will take a stab at a poll!

[2013-12-03 02:28] aurakami commented on #1956
Ah, thank you for explaining and referencing that thread. I'll give it a read-through :)

That's what I thought it was at first. No rush to fix it, I understand!

[2013-12-03 02:30] lefnire commented on #1956
Rarity was out for about 3 days, we put it back pretty immediately. But the
algo is much simplified, and leveled out so it's no longer
basically-impossible to get rares (hence your golds)
On Dec 2, 2013 7:28 PM, "Sabe Jones" notifications@github.com wrote:

[2013-12-03 02:31] SabreCat commented on #1956
Cool. One of these jam sessions I wanna pick your brain about my "stack of cards" idea...

[2013-12-03 02:59] francehopper commented on #1938
Both "Guard" and "Fortify" sound good to me. Have you considered "Defend" though? Given that Re-roll kinda-sorta reset stats, I'm not sure that would work the best though.

[2013-12-03 04:32] SabreCat commented on #1938
"Defend" has the same problem as "Guard," in that it's most commonly used as a transitive verb in plain English--you guard _something_, defend _someone_, which doesn't click here. Classic jRPG gamers would see the connection pretty quick (oh, yeah, it's that thing I do when I skip my turn to take less damage!), but more and more we're finding our user base isn't actually fluent in those tropes.

[2013-12-03 04:48] francehopper commented on #1938
Ah. Good point there. This is more for sarcasm than to be taken as an actual suggestion, but how about "Hunker Down"? (meant in this context at about 1:30: http://www.youtube.com/watch?v=PAXxPb4uNOQ) As an actual suggestion, could "Rest" potentially work?

[2013-12-03 12:32] SabreCat commented on #1938
Heh! Hunker Down is an action in the recent XCOM games, and actually not so far off from the concept... but as conceived in the current pull request for this, it's a service sold in the shop, so having Alexander "hunker me down" is a bit weird. "Fortify" is still our front-runner.

"Rest," unfortunately no, we've already got one of those. "Rest in the Inn" puts you into vacation mode where Dailies

[2013-12-03 13:59] wc8 commented on #1938
@SabreCat +1 for Fortify
I’ll have to look up the definition of jRPG, but I think it’s a plus that Fortify has roots in an RPG game different from commonly mentioned RPGs. A salute here and there to other RPGs is a nice touch.

I checked the pull request, I think the mouseover text on the button is clearer (hopefully it will be easier to access).

I know this is a little out of the scope of this t

[2013-12-03 14:13] wc8 commented on #1328
Would it mess up drag-and-drop to have notes appear on hovering over the main task text instead of the comment bubble? I had this idea when I noticed that Re-Roll gets two mouse-overs, one for the comment bubble and a simple redundant, yellow label, “Re-Roll"

[2013-12-03 14:18] wc8 commented on #1932
Possible temporary fix: write down your stats, check-off the task and then use Settings > Restore to undo the extra xp+coins. If you get a drop, sell the item before you do Restore.
Then consider _Clear Completed_ for your todos.

[2013-12-03 14:22] wc8 commented on #1928
See ongoing discussion on [Death Mechanic](https://trello.com/c/k2MWBcxl) and [Death Warning](https://trello.com/c/NpknHuDm). Can you share your ideas there?

P.S. link to this discussion added to Death Mechanic card.

[2013-12-03 14:32] wc8 commented on #1590
Closing since it is in the feature tracker already. There’s also a [related idea](https://trello.com/c/NpknHuDm) for an :x:  to grey-out items that have been irremediably missed, HP penalty remaining.

[2013-12-03 14:32] #1590 closed, assigned to nobody

[2013-12-03 17:34] lefnire commented on #1951
Snicker :+1:

[2013-12-04 00:32] SabreCat commented on #1328
@wc8 Ooh, that's a great idea, especially if the fix to comment bubble hover continues to be elusive.

[2013-12-04 00:36] SabreCat commented on #1938
@wc8: jRPG = Japanese (video game) RPG = Final Fantasy, Dragon Warrior, and many others, which tend to be the main inspiration for pixely Habit. I was referring to "Defend", there; I can't immediately think of a game "Fortify" was used in (maybe Puzzle Quest?).

Re post-click notification, that's a possibility, though it'll take me a little bit of work to figure out how, newb that I am.

[2013-12-04 02:53] SabreCat opened #1959 "Pets Found value is blank on first visit to profile stats page"
Firefox on Win7, beta.habit, no JS errors.

When I first open my Stats and Achievements page, my Pets Found number is blank:

![screenclip](https://f.cloud.github.com/assets/4501321/1670197/2164955a-5c8f-11e3-8ad1-e1d1528f4a54.png)

I can see other people's pet counts in their profile popups just fine. And in fact, if I pop up my _own_ profile from e.g. a chat message, the Pets Found value appears

[2013-12-04 02:58] fragmental commented on #1499
Is there any way we could just tell people to clear their completed todos if they see the script error?  I was looking at the comments for the android client and someone was saying that the website was unusable because of this error.  I was having the same error, though the site was still perfectly usable, and that's why I came here.

[2013-12-04 14:11] wc8 commented on #1808
This is closely related to [Challenges: Participant-Customizations (e.g. Aliases, Tags)](https://trello.com/c/XFXRoelM) so I added it to the description and checklist.

What I’m doing for the water challenge is changing the tag name: e.g. Hydrate became 24.oz, but that only works if there’s only one short note to be made.

[2013-12-04 14:25] #1808 closed, assigned to nobody

[2013-12-04 14:53] wc8 commented on #1785
:+1:  Show Invitations even if currently in Party _with confirmation dialog_

If user _accepts_ invitation:
show confirmation dialog,
 “Do you wish to leave your current party, _The Working Wizards_ and join a new party, _The Habitual Healers_?”
 button options: _Stay in Current Party_  or _Leave to Join New Party_

[2013-12-04 14:56] wc8 commented on #1785
P.S. I think this is more of an issue to address as it could be a source of user bug reports (“I didn’t get invitation”) than an enhancement, so I’m not moving it to Trello yet, unless someone recommends otherwise.

[2013-12-04 15:02] wc8 commented on #1587
Vote here, [API-✓-only Locked Tasks](https://trello.com/c/XNlBV7Qa), especially @Gaelan

[2013-12-04 15:03] #1587 closed, assigned to nobody

[2013-12-04 15:19] wc8 commented on #1349
I added links to this discussion on [Death Mechanic](https://trello.com/c/k2MWBcxl), and am closing for housekeeping.

[2013-12-04 15:19] #1349 closed, assigned to nobody

[2013-12-04 15:27] wc8 commented on #1328
Added a [Trello card](https://trello.com/c/x7Zm7UCY) for hover notes.

[2013-12-04 15:29] #1316 closed, assigned to nobody

[2013-12-04 15:44] kingmathyall opened #1960 "Leaving Challenges doesn't delete tags"
When you leave a challenge, it gives you the option to keep or remove the tasks. If you remove the tasks, you have to manually remove the tags that came with the challenge and this can get a little annoying.

[2013-12-04 16:12] wc8 commented on #399
Right now it’s kind of a roulette.
Sometimes I get the yellow label ![yellow label hover](https://f.cloud.github.com/assets/3326182/1674739/ae839404-5cfd-11e3-97cd-5d8d52185c1b.png).
Sometimes I get the white speech bubble style (the ideal) ![cake hover](https://f.cloud.github.com/assets/3326182/1674749/d2f02ec4-5cfd-11e3-953d-271b06f7f5eb.png)

Sometimes I get nothing—or nothing until the cursor

[2013-12-04 16:20] lefnire commented on #1057
Has this resolved for anyone?

[2013-12-04 16:30] wc8 commented on #1282
@aileia I think [](https://trello.com/c/PQz88jll) is what you’re after. You may wish to vote for it if you have not already.

[2013-12-04 16:30] #1282 closed, assigned to nobody

[2013-12-04 16:36] wc8 commented on #1259
I believe the sample items tell users they’ll have an overdraft injury.

Quoth Cake:

So this is an issue from a user standpoint, at least. Either Cake needs to be corrected or the vote (Yes, players should be able to pay rewards hp when they are low gold) needs to be implemented.

[2013-12-04 16:42] wc8 commented on #1149
Since this is merged, I’m closing this.

[2013-12-04 16:42] #1149 closed, assigned to nobody

[2013-12-04 16:46] wc8 commented on #993
Link added to [Costumes](https://trello.com/c/iY6A7nlX). Follow-up there.

[2013-12-04 16:46] #993 closed, assigned to nobody

[2013-12-04 16:57] #1928 closed, assigned to nobody

[2013-12-04 17:02] lefnire commented on #399
This will be quite difficult to fix ourselves, we're using angular-ui-bootstrap for popovers. We'll probably want to revisit this ticket after we've upgraded ui-bootstrap (we're very far behind on that lib, but our app is so tied to an older version that upgrading is a large task). It might _just fix_ the issue once we've upgraded, we'l see

[2013-12-04 17:02] lefnire commented on #1960
follow #1704

[2013-12-04 17:02] #1960 closed, assigned to nobody

[2013-12-04 17:06] lefnire commented on #399
Actually, forgot I had thought this would have been fixed before (as per @SabreCat's comment https://github.com/HabitRPG/habitrpg/issues/1328#issuecomment-29676349). Yeah, maybe it's something we're doing with CSS / positioning then that's conflicting. Not sure

[2013-12-04 17:14] onlysal commented on #1057
Nope. - Had to check them at 12:15 a.m. (one of those days) yesterday. My start is 3 a.m.  They are still checked this morning....
 
Sally B. Sedgwick
sbsedgwick@yahoo.com

On Wednesday, December 4, 2013 11:21 AM, Tyler Renelle notifications@github.com wrote:

Has this resolved for anyone?
—
Reply to this email directly or view it on GitHub.

[2013-12-04 17:14] onlysal commented on #1057
What's interesting is that when this feature was first introduced it worked beautifully.... Just saying...
 
Sally B. Sedgwick
sbsedgwick@yahoo.com

On , S B Sedgwick sbsedgwick@yahoo.com wrote:

Nope. - Had to check them at 12:15 a.m. (one of those days) yesterday. My start is 3 a.m.  They are still checked this morning....
 
Sally B. Sedgwick
sbsedgwick@yahoo.com

On Wednesday, December 4, 2013

[2013-12-04 17:50] lefnire commented on #1057
Well, that was when cron was being calculated on the client instead of the server. We had to move it to the server to support the mobile app, a necessary move but which added extra complexities. *sigh* ok, back to the drawing board

[2013-12-04 19:09] laisan commented on #1057
Looks that it works fine for me now. I first changed reset time to 00:00, and it didn't work. Then (a day later) I changed it back to 7:00 and now it's working and unchecks dailies at that time. At least for the last couple of days.

[2013-12-04 19:16] wc8 commented on #938
It might be good in the tooltip _to explain_ that numbers are rounded. Users seeing life with 0 health and no level-up with 240/240 XP often think it’s a bug.

[2013-12-04 22:06] breadstrings commented on #1954
Also, if you change the challenge daily status from inactive all days to active, it doesn't change the status of those who have already joined the challenge. The only option is to delete the daily and restart again, which can be undesirable.

[2013-12-05 00:43] SabreCat commented on #1282
@wc8 Was there supposed to be a link to something?

[2013-12-05 00:46] SabreCat commented on #1259
Huh--I [thought I changed that](https://github.com/HabitRPG/habitrpg/blob/develop/locales/en/app.json). Maybe I didn't fix it in the right place?

[2013-12-05 00:48] SabreCat commented on #938
It's especially odd that mousing over Health and Experience gives you a little ? pointer (at least in Windows), suggesting you can click for help, but clicking does nothing.

[2013-12-05 01:44] wc8 commented on #1282
Oh… this is it: https://trello.com/c/2iIxa9J5 (Reward Sites)

[2013-12-05 01:51] wc8 commented on #1259
My test character can’t take a hit; he’s notified “Not Enough Gold”.
I created the character recently, maybe yesterday. That’s where I got the sample reward quote.

[2013-12-05 04:19] jreatherford commented on #1950
Similar problem here.  Every-time I open the page, things have been rearranged.

[2013-12-05 04:25] jreatherford commented on #1950
Hey, I got it to work for me.  I _think_ it may have something to do with the mobile version syncing up with the webpage version.  If you use the app, make sure it is not running in the background of your device (turn the device off if you have too) then put everything in the correct order on the page.  Refresh the page and see if it works.  If so, try the app now.

At least, that's what worked fo

[2013-12-05 04:30] SabreCat commented on #1259
Oho! I edited the wrong file! I have the derp again. @Xatres take note, the starting tasks are in [helpers.coffee](https://github.com/HabitRPG/habitrpg-shared/blob/master/script/helpers.coffee), not locales/EN. Thanks for pointing this out @wc8, I'll make a quick fix on habitrpg-shared to at least remove the misleading text. I would like to see the blood-price feature come back, too, but best not

[2013-12-05 04:50] snicker commented on #399
Angular-bootstrap currently has issues with html popovers with Angular 1.2 because of the way HTML safety is handled and the strict contextual escaping stuff

[2013-12-05 08:23] notionparallax commented on #1021
I've had similar problems in the past. It might be [bootstrap not displaying the content as html](http://stackoverflow.com/questions/18861957/html-bootstrap-popover-function), but I don't think that's the problem as it seems to be being stored in the html with new lines, not `<br>`  or `<p>` tags. It's probably how the text is stored when it is first entered, rather than how it is displayed.

[2013-12-05 21:16] lemoness commented on #946
LOVE the facial hair. Awesome job!

One slight issue with the "high up" hairstyles is how they will look with a helmet on top of them - but with the new armory system you will be able to just remove them when you put a helmet on, so it shouldn't be a huge problem :)

[2013-12-05 22:26] lemoness commented on #946
@crystalphoenix send me an email at leslie@habitrpg.com so that I can get you the permissions form to get this art into the game.

[2013-12-05 23:50] lefnire commented on #943
Rolling with the knives, they're amazeballs: [video showing them in action](https://vimeo.com/79997039). Anyone wanna take a stab at mage off-hands?

[2013-12-06 03:07] fuzzytrees commented on #943
Nice video, @lefnire

I've been attempting to make object-shields for the mages, but I am not
having very much success making objects that are both recognizable and the
correct size (_grump grump grump_). Maybe we should just do shields,
translucent if possible.

On Thu, Dec 5, 2013 at 6:50 PM, Tyler Renelle notifications@github.comwrote:

[2013-12-06 03:30] lefnire commented on #943
@fuzzytrees : No pressure, we can roll without if needs be (current setup) - but might be fun to have the off-hands. @RosemonkeyCT has some bad-ass starters [here](https://github.com/HabitRPG/habitrpg/issues/943#issuecomment-28606662). Do whatever you think looks cool, your art is always magnificent

[2013-12-06 04:11] crystalphoenix commented on #943
just brainstorming on those mage shields and though of spells on the off hand.
these arn't very good and need a lot of adjusting and coloring >.> but they're a start of an idea i guess ^^;; wanted some feedback before giving them another go. one of my concerns is how recognizable they are and their visibility against the robes...

fire, water, lightning, poison, ice thingys :

![mage sheild draft]