[2015-11-26 21:27] danielvancamp commented on #6263
@lemoness i'm having a go at the static Merch page. Just to get to know the structure a bit as well. So even if it turns out to be nothing, still good exercise.
I'll post a screen when i'm done or shall I do a PR never the less?

As recommendation i would indeed find this link a place in the footer. Maybe under a new title, something as goodies, which later on can grow with the option **Get your H

[2015-11-26 22:47] danielvancamp commented on #6263
This is what I got!
Let me know if it is something you can use as a first step. Of course with some feedback i can modify like you want.
I tried to build is as dynamically as possible, so just add the number of merchandises you have, add the string in the .json file and everything will get sorted out!

<img width="1174" alt="screen shot 2015-11-26 at 23 43 26" src="https://cloud.githubusercontent.

[2015-11-26 23:41] Alys commented on #6263
That sounds pretty good! Feel free to submit a PR whenever you feel ready!

[2015-11-27 09:48] valene opened #6308 "quest owner hasn't logged in"
my USER ID : 20049d70-043b-4281-a8ce-94cc5a6c448f
our group ID :  fe5fd5df-2e36-4bc0-a591-14e05fa7c87e

We would like to request assistance in removing this quest. Wiki says this is the place to request for this kind of problem.

[2015-11-27 12:33] RandomSue commented on #5929
I have the same issue, challenges page isn't loading. What can I do to fix it?

"Error Runner error: Overflow sort stage buffered data usage of 34085387 bytes exceeds internal limit of 33554432 bytes"

[2015-11-27 13:12] Alys commented on #6308
@valene I've deleted the quest information from the party and all members of the party. The quest scroll has remained with its original owner.

I'm closing this now but if there's any problems, comment here and we'll see it and keep helping you.

[2015-11-27 13:12] #6308 closed, assigned to nobody

[2015-11-27 13:18] Alys commented on #5929
@RandomSue It's possible that one of the challenges you're in is too large and is causing the error. If so, there's not really anything you can do to fix it since to leave the challenge you need to use the challenges page. If you'd like us to investigate to see if this is the cause, please tell us your User ID (see step 6 of Help -> Report a Bug for how to find your User ID).

[2015-11-28 07:26] IstraLouise opened #6310 "Party member not able to join quest."
'circle of friends' has a party member that has tried to join the current quest 4 times and is permanently stuck at pending.

[2015-11-28 07:53] Alys commented on #6310
We can't identify parties by name because the names are not unique - there could be two or more parties called that. Instead we need the group ID, which is a unique identifier. We also need the User ID of the affected party member. Please see step 6 of Help -> Report a Bug for how to find the IDs (the user will need to tell you their ID, or you can find it in their profile).

[2015-11-28 17:59] salfej opened #6311 "Cannot use Backstab to level up to LV 40"
I had a lot of mana built up over the past few days and started using backstab to get some exp and money. I used backstab about 4 times just fine before I leveled up and no. 5 returned an error. It tried to give me the level 40 quest (it displayed the pop-up for it), and I tried backstabbing once more but got the same error.

![image](https://cloud.githubusercontent.com/assets/10404888/11453150/24

[2015-11-28 20:16] Alys commented on #6311
Please see https://github.com/HabitRPG/habitrpg/issues/4986 "Cannot level up with skill (burst of flames, backstab) to levels 15, 30, 40, 60 (from levels 14, 29, 39, 59) -- "Error Cannot set property 'drop' of undefined" for a workaround for this problem.

[2015-11-28 20:16] #6311 closed, assigned to nobody

[2015-11-28 23:35] IstraLouise commented on #6310
Ok, the Group ID: 9bbdc1a5-870c-4197-9ac0-527692686f92
The character ID that is affected is: dcf5fa65-bf57-4ebe-a60a-29e1ca87a26f

[2015-11-29 00:10] Alys commented on #6310
I can't see anything wrong with that player's account or with how the quest is set up in the party.

Please ask the player to comment here with a description of exactly what happens when they try to join the quest. They should also give us details of their browser and operating system, including the version of both (e.g., Chrome version 46), and if they are using Chrome, give us information from t

[2015-11-29 00:46] TheHollidayInn commented on #6043
I believe we can close this now since the solution was merged.

[2015-11-29 00:47] IstraLouise commented on #6310
I've passed on the information to the other members of the party.  I kind of suspect one other person might be having issues as well, but can't confirm because they haven't gotten back to me.  I've supplied links to GitHub for creating accounts and a link directly to this issue so its up to them now.  I was trying to handle as much of it as I could because they are new players.

Thanks for checkin

[2015-11-29 01:03] #6043 closed, assigned to nobody

[2015-11-29 13:34] ghost opened #6313 "No Party Group Leader - 'leader' UUID deleted from party document even though leader is still active and in the party"
I am the group leader of the party but it is not showing up as me being the group leader and I do not have administrative rights to the party.
![screen shot 2015-11-29 at 9 33 59 pm](https://cloud.githubusercontent.com/assets/16068860/11457325/f399af3c-96e0-11e5-986b-7706aaff4b29.png)

User ID:552cf120-2a6a-4bb9-8942-b683c06f201c
Group ID:cafc4e8e-2681-491f-9a9d-c872e105df07

---

_edit by admin:_

[2015-11-29 14:36] IstraLouise commented on #6310
The other person was having problems, but unbeknownst to me they were trying to join using the app.. waiting on the person whose ID I gave you to get back to me as to whether they were trying to use the app to join (and hence need to be on a different page than this) Have offered them a 5 gem reward if they figure out how to join or comment on this thread (having provided the direct link to the si

[2015-11-29 14:53] Dumboldt commented on #6301
Hi, I think my problem relates to this one : I simply didn't receive my subscription renewal's mystic hourglass. I'd be glad if you'd check this issue. My ID : e3e1c551-22ae-403a-911d-8cc05650035c

[2015-11-29 16:10] TheHollidayInn commented on #6168
I believe this is done. A PR seems to have been merged to fix this.

[2015-11-29 16:21] TheHollidayInn commented on #6006
@carolstone If you submit a Pull Request, Alys and others will be able to review it. Then, they can make suggestions on name changes, etc. Let me know if you need any help.

[2015-11-29 16:29] TheHollidayInn commented on #5865
Does this issue need anymore work? It seems to have a fix merged.

[2015-11-29 19:38] Alys commented on #6301
@Dumboldt I've given you the Hourglass and the extra 5 on your gem cap.

[2015-11-29 19:47] Alys commented on #6313
@fxxry I've set you as leader. (Note for admins: I was able to confirm fxxry should be leader because their user id was first in the members list.)

@fxxry This is the second time I've seen a report of this, so if you don't mind, I'd love it if you could give us some information to help us work out what might have caused this:

Did you create the party on the website or on the iOS mobile app?

Hav

[2015-11-29 19:48] NathanMaton opened #6316 "Getting up and running on Habitica as a developer"
Hey - I'm interested in contributing to the codebase here but was wondering if there's a chat room or anywhere people working on it hang out. I've only built 1 other app in Node so would love to chat.

[2015-11-29 19:52] Alys commented on #6316
Hi @NathanMaton! Thank you - we'd love to see contributions from you!

Our wiki's [Guidance for Blacksmiths](http://habitica.wikia.com/wiki/Guidance_for_Blacksmiths) page, and the pages it links to, will help you set up and use a local copy of Habitica. If you run into any problems, you can paste the install output and errors into this issue.

There's a guild called [Aspiring Coders](https://habit

[2015-11-29 19:52] #6316 closed, assigned to nobody

[2015-11-29 19:54] Alys commented on #5865
Thanks @TheHollidayInn!

[2015-11-29 19:54] #5865 closed, assigned to nobody

[2015-11-29 19:58] Alys commented on #6168
Thanks!

[2015-11-29 19:58] #6168 closed, assigned to nobody

[2015-11-29 20:04] NathanMaton commented on #6316
Thanks, just joined the guild!

[2015-11-29 22:57] swistak opened #6317 "Collection quests seem to use strength instead of perception"
As in title, I was surprised when I found much more soap then a rouge in my party (who had more then 28 the perception), so I checked the code, and I cannot find _any_ reference to perception being used to find items instead of strength (despite tooltip indicating otherwise).

Am I missing something?

[2015-11-29 23:00] swistak commented on #5649
Maybe you should use those cases to locate a root cause for this?

[2015-11-29 23:09] Alys commented on #6317
The code is here: https://github.com/HabitRPG/habitrpg/blob/develop/common/script/index.js#L2149
It uses Perception.

[2015-11-29 23:09] #6317 closed, assigned to nobody

[2015-11-29 23:10] Alys commented on #5649
@swistak yes, that's what we've been doing. It's most likely to be a local storage issue, and we'll be investigating removing or adjusting the use of local storage when a large project to significantly improve the code base is finished.

[2015-11-30 00:22] swistak commented on #6317
Thank you!

[2015-11-30 00:30] ghost commented on #6313
Thank you very much.

I created the party on the website.

I did see my name listed as the group leader but it disappeared later, I think it disappeared around 4-5 hours  after the party has been created.

[2015-11-30 01:48] IstraLouise commented on #6310
Thank you, Alys!  The original member who was having the problem was able to fix it by using Chrome. Thank you for your suggestion. I am closing the case now.

[2015-11-30 01:48] #6310 closed, assigned to nobody

[2015-11-30 04:41] Alys commented on #6313
@fxxry Thanks very much for the details! I'm leaving this open so that we can track the problem, since this is the second time I've seen it. You can unsubscribe from notifications for this issue, if you wish to, using the button in the right-hand column on this page.

FYI for other admins, the first occurrence was reported in the Tavern a few days ago, and I fixed it there while hoping it was a on

[2015-11-30 13:42] Aquamandias opened #6318 "Keep getting invited to the party that I am already a part of."
I am currently a member of a party but my name is in both the members box as well as the invited box. I keep getting party invites to my own party.

API: 38f7770d-a176-4e8d-a1e0-a4d16175eb25

Group ID: 64d91ada-0a7c-4ad5-9bb3-6dcab06f4d5a

I am using the Habitica webpage on chrome, my computer is running windows 10. Both are up to date.

[2015-11-30 15:11] salfej commented on #4986
Apologies for writing up a less informative duplicate bug (#6311). I used to work in a QA environment where writing up duplicate bugs was discouraged. The error message said to report it if it was reproducible, so I did. =p This suggestion won't apply to this issue if #6315 fixes it up, but for future bugs that are easy-ish to detect, would it be possible to change their error messages since as th

[2015-11-30 17:04] Klint-psk opened #6319 "All my dailies, to-dos and habits suddenly disappeared"
Exactly what says on the title. I was resting on the Inn since Friday, and this evening I went to check my account and... POOF, all of my dailies, to-dos and habits are gone, EXCEPT one challenge habit. My UID is: 92636bec-ca7d-4895-8d8f-7e99d7f99960
I'm using Firefox 42.0, and checking the Firebug console I can see an error:
TypeError: t.getComputedStyle(...) is null
https://secure.assets.tumblr.

[2015-11-30 18:41] SabreCat commented on #6319
Try clicking "Clear" on your list of tags. It sounds like you might have a challenge tag selected, hiding everything but the challenge's tasks.

[2015-11-30 18:47] Klint-psk commented on #6319
Indeed, that was the problem, thank you very much. The strange thing is that I never ever selected a challenge tag :s

[2015-11-30 19:17] #6252 closed, assigned to nobody

[2015-11-30 19:32] SabreCat commented on #6319
Glad it was as simple as that! I'll close this for now, but if you see the tag getting selected again without your clicking it at all, we can reopen for further investigation.

[2015-11-30 19:32] #6319 closed, assigned to nobody

[2015-11-30 19:44] Alys commented on #4986
@salfej When we're able to identify the point in the code where a customised error message would go, we'd normally then have identified what causes the bug and be able to fix it in that location. When there's common bugs, we try to make them easy to find by putting meaningful keywords in their titles and marking them with the "Memorable" label. That causes them to show up in the "most common issue

[2015-11-30 19:56] Alys commented on #6318
Sorry about this! I've removed the invitation. However it has a tendency to come back under some circumstances. I'll watch for it a couple of times a day for the next few days and keep deleting it. If you're still seeing it a week from now, please comment here again.

[2015-11-30 19:56] #6318 closed, assigned to nobody

[2015-12-01 00:13] NidgeSaeri opened #6321 "Error when opening Habit, Cron fails to run."
After opening, Cron fails to run properly and as soon as the blue bar at the top of the screen finishes it's run, Habit gives an application error. Looking into console of my browser, these are the errors that are there:

Failed to load resource: the server responded with a status of 503 (Service Unavailable)
app-53f28d18.js:31

TypeError: d.user.ops.score is not a function
    at j.a.score (app-5

[2015-12-01 09:18] Dumboldt commented on #6301
Thanks a lot @Alys !

[2015-12-01 11:55] Alys commented on #4648
Summary of actions required (they don't all have to be done at once - e.g., it's okay to do just one and leave the others for someone else to do):
1. allow flagging of private messages
2. allow a user to flag their own messages
3. add additional text to the flag confirmation screen to give a better idea of what should be flagged. Probably one extra sentence and a few bullet points of examples. If

[2015-12-01 13:10] Fancazzone opened #6322 "Grey daily still gives damage"
Dear developers,

I am having this problem which is affecting three of my dailies. In all three cases, they are set to repeat with a non-daily frequency: two are activated once per week and the third only once per month.
The bug shows itself on THE DAY AFTER I complete one of these dailies. While the daily in question is grey and listed as inactive (as it should be since it not a day in which it i

[2015-12-01 15:23] gaballison commented on #2805
It's still happening to me in conjunction with not being able to log in for 3-4 tries a day. I've only used the Habitica app once or twice in the last month so I don't think my issues are app-related. You can see here that the amount of damage I do or take varies considerably:
![habitica-cropped](https://cloud.githubusercontent.com/assets/12204283/11504804/101708f0-9815-11e5-92a7-816f9e6cd748.png)

[2015-12-01 16:35] RydiaWithASpoonyBard opened #6323 "Lost gems for unlocking set of backgrounds?"
d3c00a84-aa96-440e-8d39-c7cefd26681a

Browser: Chrome
OS: Windows 7

I'm not sure exactly what happened, but when I tried to unlock the SET 15 (August 2015) set, it didn't work properly.
1. I went to the backgrounds page and clicked "Unlock Set -15" next to the SET 15 (August 2015) backgrounds.
2. The page refreshed without unlocking the set.  I wasn't sure what happened there.
3. I clicked "Unloc

[2015-12-01 16:47] pseudocyesis commented on #5649
Hello! I'm having the same problem with the invite not disappearing. ID below! Thanks :)

d7f1e549-d4ef-43b5-a277-934a9f7b9a21

[2015-12-01 17:49] NidgeSaeri commented on #6321
Update, fixed now, but it was weird.

[2015-12-01 18:02] lemoness commented on #4648
I think that is a good workaround until we have flagging.

On Tue, Dec 1, 2015 at 3:55 AM, Alys notifications@github.com wrote:

[2015-12-01 18:41] SabreCat commented on #2805
@gaballison: What does it look like when you're not able to log in? Does it tell you your password isn't recognized, or display some other error?

[2015-12-01 19:35] Alys commented on #6321
Application errors like this happen periodically, but usually either fix themselves or we restart the server to make them stop (which we did yesterday). I'm sorry about the trouble! Thanks for letting us know that it's fixed for you.

[2015-12-01 19:35] #6321 closed, assigned to nobody

[2015-12-01 19:36] Alys commented on #6323
Sorry about this! I've given you the 15 gems that were taken incorrectly.

[2015-12-01 19:36] #6323 closed, assigned to nobody

[2015-12-01 19:41] Alys commented on #6322
Please tell me what the start date is for the Dailies that are having trouble (you can see it under Advanced Options in each Daily's edit screen).  Do the Dailies use the "Every X Days" setting or the "On Certain Days of the Week" setting.

How are you determining that these Dailies are the ones causing you to lose health? For example, are you noticing that their streaks are reset to zero when the

[2015-12-01 19:58] Fancazzone commented on #6322
The first one started on 8 September 2015 and is set to repeat every 7 days.
The second one started on 25 August 2015 and it is set to repeat every 30 days.
I am not really sure about which one is the third one right now. In fact, they might be the only two.

I determined it is them because every evening, after I have completed all my dailies, I check my status via the data display tool. In the si

[2015-12-01 20:09] Alys commented on #6322
I think the problem here is that the Data Display Tool is displaying them incorrectly as being due when they are not. I've seen this before with other Dailies set to "Every X Days" but I'm not sure how to fix it.

If you aren't noticing their streaks changing incorrectly or aren't taking more damage than you should when you don't complete them, then they aren't being treated by Habitica as due whe

[2015-12-01 20:11] Fancazzone commented on #6322
Ok, thanks

[2015-12-01 20:20] #6248 closed, assigned to nobody

[2015-12-01 20:36] Alys commented on #5649
@pseudocyesis  I've removed the invitation, but it's not unknown for it to come back a few times. I'll check again a couple of times a day for the next few days and remove it again if needed. If you notice the same problem a week from now, please comment again here.

[2015-12-01 20:59] lemoness commented on #2805
This happened to me this morning. Salient details - I accidentally had Habitica open in two different windows, and checked off tasks on both of them before I realized. When I refreshed to sync them up, I got the popup telling me that the Cobra boss had been defeated (by my second attack).

[2015-12-01 21:17] gaballison commented on #2805
@SabreCat When I can't log in, it allows me to enter my username and password and the horizontal loading bar at the top of the page goes completely across, which you would think would mean I'm logged in, but then I'm not redirected to my tasks screen. I try either hitting the submit button again or refreshing the page and it still keeps me on the front page. Sometimes it takes several tries of ref

[2015-12-01 21:33] SabreCat commented on #2805
@gaballison: OK, got it. Next time you do a cookie cleanup, you could try deleting local storage for habitica.com as well--that might make the login process go more smoothly.

[2015-12-01 21:54] cafmiro commented on #4252
Hello, we are having the same problem with The Moonstone Chain, Part 1.
Our party chat log says we completed it, but not all participants received the rewards, and thus I cannot continue on to the next quest.
Please help.

Group ID:
65999472-62e5-416d-9a8f-37565fe0ebcb

My user ID (didn't receive rewards):
cbecde64-62e6-43da-8ad2-4da1838afb0f

Another participant who it seems didn't get the reward

[2015-12-01 23:28] Alys commented on #4252
@cafmiro We're sorry for the bother to you! I've fixed that for the two accounts you listed.

There's three other people who didn't receive the rewards, but I think they were not participating in the quest, so I haven't given them to them. But post here if they should have them!

[2015-12-02 01:18] cafmiro commented on #4252
@Alys thank you so much!
Yes, there was only 3 of us doing this quest. Thanks again!!!
:smile: :heart:

[2015-12-02 03:41] randomfrom opened #6325 "Bought eggs with gems, now have neither"
I bought 7 snake eggs with my gems and now neither show up. I've restarted my browser, cleared cache and cookies, and logged out and back in. This happened once before and I just assumed it was a one time issue. Am I missing something?

[2015-12-02 04:20] crookedneighbor commented on #6325
What's your User ID? You can find it in [Settings > API](https://habitrpg.com/#/options/settings/api). Be sure to only copy the User ID and _not_ your API Token.

[2015-12-02 04:22] randomfrom commented on #6325
6e9b35c4-3ddf-476f-b9bf-58c4b4ab0720

[2015-12-02 07:45] IceManX2X commented on #5988
I'm new to this but I need to submit a bug.  Not sure if I'm in the right place.  My party and I just finished the quest Dilatory Distress Part 1 but no one received the armor and the 2nd quest scroll.  There was no notification that we finished but in our group chat it stated all items had been found and party members received their rewards.  The quest is not listed under my completed quests eith

[2015-12-02 12:08] Alys commented on #5988
@IceManX2X Sorry about that, and thanks for letting us know! I've given the quest achievement and rewards to you and your party members. Post again here if there's still any problems (note that you might need to reload first to see the changes).

[2015-12-02 15:03] joeywoneill opened #6326 "Quest Owner is Not Acive"
I'm in a party and the quest owner is inactive. The last time the quest owner logged in was on the 25th of November.
User ID: e89e54ff-45dc-4761-83bb-4fdd6e26a966

[2015-12-02 18:38] Rosetiger commented on #4252
My party is having a similar issue, We just completed the moonstones quest but nobody in the party got any reward despite the quest saying it was finished.

Group ID:

1d0a6057-9eee-4333-9aba-c636ee6f8361

[2015-12-02 18:50] ghost opened #6327 "Bought December backgrounds, now gone and gems too"
I saw the December backgrounds were available yesterday so I unlocked them all and used one for my avatar. This morning the avatar background is grey, the backgrounds are no longer showing up in the backgrounds list, and I'm short 15 gems. If they were accidentally released early, can I have my gems back? Or will I automatically get the backgrounds back when they reappear?

User ID: db190b28-8ce5-

[2015-12-02 20:02] ghost commented on #6327
And now they've reappeared. Weird.

[2015-12-02 20:02] #6327 closed, assigned to nobody

[2015-12-02 20:43] sr-ix commented on #4173
Crowding the UI with an additional column seems like a bad option to me.

I would pose that instead of an additional "monthlies" section that there be an toggle for an advanced mode of "dailies" that has complete recurring task features. The "recurring" section could encompass the existing daily features as well as weeklies, monthlies, etc.

[2015-12-02 20:48] Alys commented on #6326
I've confirmed their last login date. That is too far in the past for a quest owner, especially in such a large party.

I've cancelled the quest and returned the scroll to the owner. Your party should now be able to start a new quest.

Comment here if there's any problems. We'll see your replies and keep helping you even though I'm closing this now.

[2015-12-02 20:48] #6326 closed, assigned to nobody

[2015-12-02 23:01] fpepin commented on #5376
I don't know if this is relevant, but I got the december items on iOS and they're not showing up anywhere and I got a notice that the armoire is empty.

Could someone check if I'm indeed in an inconsistent state and if we think this is related to this bug?

user id: 59227709-88a9-4722-afc1-1ed4d45dd686

[2015-12-02 23:29] Alys commented on #5376
@fpepin Everything looks fine. You have the items.  Have you reloaded the website?

[2015-12-02 23:34] fpepin commented on #5376
I had done a sync but not a reload. Reload did fix the problem.

Thanks for checking it out.

[2015-12-03 02:52] lemoness commented on #4618
With the exception of the spooky mount heads, all of the art is done! https://trello.com/c/8b70B8V6/36-mount-heads

[2015-12-03 03:12] lemoness commented on #4936
The art for Find the Lair of the Wyrm is done! It was made by @ricecake2.
![find_the_lair_of_the_wyrm_v5_by_plain_rice-d9gcz6q-2-2](https://cloud.githubusercontent.com/assets/3494081/11550857/9c68b722-9928-11e5-8862-100f090f4e79.png)

[2015-12-03 11:28] markhowson commented on #5852
Looking into this now (and #5854, etc)

[2015-12-03 16:33] tomaspinho commented on #4252
My party just completed Vice, Part 2: Find the Lair of the Wyrm, but I didn't receive the rewards, even though I accepted the quest.

User ID:
0f7525d7-e384-4825-a3f8-ba9d18709b47

[2015-12-03 19:20] mperez07 commented on #4132
Running into the same issue as above user loading the challenges page.

"Error Runner error: Overflow sort stage buffered data usage of 36673809 bytes exceeds internal limit of 33554432 bytes"

User ID: 1ae80ebc-f6bf-4cbf-b601-79c456f51e57

It occurred after joining a couple of guilds (page was previously functioning fine) and without joining any challenges. Using Chrome. Console displays "Failed

[2015-12-03 19:38] jaywink commented on #4173
TBH, the current implementation, no offence to the persons who contributed it, is kinda useless, to me at least. I'd rather have an implementation where I do something once a week, month, etc, like [proposed here](https://github.com/HabitRPG/habitrpg/issues/4775).

[2015-12-03 20:01] #6298 closed, assigned to nobody

[2015-12-03 20:21] shsanders opened #6328 "Page continuously reloads on Firefox on Windows 10"
Habitica cannot load on Firefox on Windows 10. The website continuously reloads, variables aren't being displayed, and there are Javascript errors in the console.
[Uploading habitica_error.txt…]()
![screenshot 1](https://cloud.githubusercontent.com/assets/1735838/11572899/569dbf40-99b8-11e5-9e2e-6fdd29c10bcd.png)

[2015-12-03 21:22] Alys commented on #4252
@Rosetiger I've given all your party members the rewards and achievement for the first quest in the Moonstone quest line ("The Moonstone Chain").

@tomaspinho I've given you the rewards and achievement for Vice, Part 2. If any of your party mates are also missing them, either you or they can comment here with their User IDs (or just tell me the whole party, if they are all missing it).

Sorry abou

[2015-12-03 21:30] Alys commented on #4132
@mperez07 Which were those couple of guilds?

[2015-12-03 22:45] Alys commented on #6328
Please clear local storage in your browser. Note that that's different than clearing cache, so you might need to google for how to do it for the version of Firefox that you're running. If you can't find the right method fairly quickly, let us know.

In the meantime, you should be able to access Habitica by using incognito mode / private browsing in Firefox, or by using another browser.

[2015-12-03 23:10] librarianjess opened #6329 ""push task to top" arrow in To Dos randomly changes back and forth to "push to bottom""
I can't figure out what triggers it, though it seems to happen mostly if the Tasks pane has been open for awhile. ALL arrows suddenly switch to pointing down rather than up. It can be fixed sometimes just by scrolling up on the page. I've had this happen twice today but can't replicate it now to even screenshot it.

---

_edit by admin:_
#### If this is happening to you, click the Ctrl or Cmd butt

[2015-12-03 23:19] Alys commented on #6329
That should only happen when you hold down the Ctrl key (or Cmd) on Mac OS. Is it happening when you're doing copy-paste commands while editing a task or tag, or while performing other Ctrl/Cmd actions (e.g., Cmd-tab to change applications in Mac OS)? If so, you can just ignore the changing arrows - they don't have any effect unless you click on one of them.

The arrows should revert back to the T

[2015-12-03 23:37] librarianjess commented on #6329
It's definitely been happening without having pressed the Command or Ctrl key. I have noticed it only while scrolling up and down on the page looking at my To Dos -- so not while editing. Nothing else has been acting up so it's not likely that it's a keyboard issue.

I'm on a Mac, 10.9.5, using Chrome (version 46.0.2490.86 (64-bit)). I just noticed that Chrome will update on relaunch, so I'll go a

[2015-12-03 23:59] librarianjess commented on #6329
Okay, it's happened again in Chrome -- attached is a screenshot. This is with no buttons on the keyboard pressed. I had just typed in a new to do when I noticed it, but unfortunately I'm not certain if that's what prompted it. I just typed in a new one to test it (the first screenshot that's attached) and it didn't change anything. I screenshotted the mouseover text, which still thinks it's pointi

[2015-12-04 00:12] Alys commented on #6329
The mouseover text isn't intended to change when the up/down change is triggered because it already describes both options.

What kind of device are you using for scrolling - mouse, trackpad? Does that device give you the option for mimicking a Cmd click in any way, for example with a mutli-finger tap on a trackpad? If so, is it possible that device is misfiring sometimes - maybe a button is stuck

[2015-12-04 00:29] librarianjess commented on #6329
Ah, okay -- I hadn't looked carefully at the mouseover text to see if it changed depending on the arrow direction.

I'm using a regular wired Apple mouse -- [this kind.](http://www.apple.com/shop/product/MB112LL/B/apple-mouse?fnode=c7ca2d8eca34d9a96fbff8b83969f7677a9c2abb025b1f7f40bdf28e5f9455fd3bcc2d66a04300a75165c0d06df46dd3bf57b9fc70ed5eafc98d98d1a26cc9e0f901642273fdfa5e3ff79ef4c9e4b4a14f9d3f6a

[2015-12-04 01:33] Alys commented on #6329
Yes, absolutely worth reporting! It isn't sounding like it's a hardware problem so it's good that we know about it. Thank you for all the details so far!

[2015-12-04 07:38] filblue opened #6330 "Cannot delete items from lists"
Not from Dailies, nor Tasks

[2015-12-04 09:11] Alys commented on #6330
Can you give us some more details please? What is preventing the items
being deleted? Is there no trash can icon or do you see an error message
when you click on the icon? Does any other noteworthy behaviour happen?
Does it happen with all tasks or just some? If just some, is it only
challenge tasks? (If so, that's expected; you can't delete challenge tasks
unless you leave the challenge.) Are you

[2015-12-04 09:23] joyheron commented on #4618
The artwork looks really good!
Has anyone made a pull request to implement the coding side of this yet? If not, I might give it a stab this weekend.
I don't know exactly every task that needs to get done, but I think the following tasks need to be accomplished:
- Uploading the finished artwork into the repository (renaming the images systematically)
- Check sprite generation and generate css files

[2015-12-04 10:31] filblue commented on #6330
No response when clicking trash button on website. Happens with all tasks, dailies and habits, no challenges involved. Constantly seeing 'No internet' banner in iOS Habitica app. (Connection is definitely OK)

[2015-12-04 11:45] Alys commented on #6330
Try reloading the website. If that doesn't help, clear local storage (that's different than clearing cache, so you might need to google for instructions for how to do it in your browser). You could also try using a different browser if you have one installed.

[2015-12-04 12:32] filblue commented on #6330
Reopening the browser helped, thanks for great support!

[2015-12-04 12:32] #6330 closed, assigned to nobody

[2015-12-04 14:36] crookedneighbor commented on #4936
Vice2 image added.

![screen shot 2015-12-04 at 8 36 25 am](https://cloud.githubusercontent.com/assets/2916945/11592103/211ad6a0-9a62-11e5-9a4e-2aa9ecb32df7.png)

[2015-12-04 14:41] crookedneighbor commented on #4618
@joyclark go for it.

Regarding the naming scheme, I was thinking `Mount_Stable_Head_<whatever>`

[2015-12-04 15:27] ojeytonwilliams opened #6331 "Random effects in Habitica"
Hey.  I've been looking into #3048 and #5376 and I think they both stem from how random numbers are generated in Habitica.  So, I thought it would make sense create a new issue to discuss this.  If this would be better off as a comment, let me know and I'll do that.

In order for random numbers in Habitica to work properly they need to:
- Appear to be random from the client's perspective.
- Be the

[2015-12-04 15:59] markhowson commented on #5852
I'm quite new to the project, and not yet 100% familiar with the way Habitica likes to do things. I still need to do more thinking/testing before I do a PR, but any feedback would be great. So far:
- Added flags.tourRewards in user data to keep track of awarded steps persistently.
- Using the tracking built-in to the bootstrap tour component to follow which step we're at (ie. local/session storage

[2015-12-04 16:07] crookedneighbor commented on #5376
Personally, I think we should just change the armoire code to not guess what the user received, just report back what the server says.

[2015-12-04 16:59] damemi commented on #4885
I'd like to contribute to this, looking through the code I can find the Tour translation code in website/public/js/services/guideServices.js, but I'm not sure how to simulate this changing class/equipment issue (I'm new to Habitica). Could you possibly help me?

edit: to be more clear, I'm not sure how to use Habitica to get to the point where I can change my class/equipment

[2015-12-04 17:26] bennyty commented on #5924
@SabreCat I'm looking to help with Habitica and I know Audacity well enough to use the audio normalizing filter. To what level do you want the sound normalized?

EDIT: I've been doing some reading and there are programs that analyze more than the peak audio. They look at how the whole audio piece will sound to the human ear and try to balance around that. While I realize this is less important for

[2015-12-04 17:46] damemi commented on #6329
Just commenting to confirm this issue on Linux Chrome 46.0.2490.86 64-bit. Just left the window open for awhile and when I went back all the arrows were pointing down

[2015-12-04 18:15] damemi opened #6332 "Add task "+" positioning acts weird"
This is a small cosmetic bug, but when adding a task (at least for me on Linux Chrome 46.0.2490.86 64-bit) the plus sign seems to be positioned incorrectly (too high), because as soon as I start typing in the box it shifts down to a centered position. Screenshots below:

![plus-above](https://cloud.githubusercontent.com/assets/1839101/11597312/06566a2e-9a89-11e5-92a7-fed2b18784c4.png)
![plus-moved

[2015-12-04 18:40] SabreCat commented on #5924
@bennyty: That sounds great, no pun intended! Could you submit the modified audio files in a pull request so we can all have a listen?

[2015-12-04 18:43] SabreCat commented on #5376
@crookedneighbor: That sounds like a great route to pursue for a fix. I wonder if that might be a worthy refactor/fix for some other things too, like the clumsiness of watching `user._tmp.crit` for critical hit notifications.

[2015-12-04 18:44] SabreCat commented on #5852
@markhowson: That sounds like you're on the right track! If you'd like, you can put your work-in-progress into a PR so we can follow along and provide feedback as needed. You can put "WIP" in the title to make clear you don't intend for it to be merged right away.

[2015-12-04 18:48] UserAns22 commented on #1471
I'm trying to join this challenge:
https://habitica.com/#/options/groups/challenges/bc5a0cbf-de9e-4209-83f4-9af837681e8c
This is my user ID
a4406082-e17f-499f-869d-052b80ea1269
Thanks!
I've tried 4 times now.  Had this error.  Hopefully this thread isn't dead!

[2015-12-04 18:55] SabreCat commented on #6331
My sense is that option 2 with server-side randomness will be the most thorough and sustainable fix. Doing things client-side provides what looks like a snappy response to user action, but has lots of potential to cause downstream confusion and errors. Suppose, for instance, we sent back the Experience and Gold gain for an action in the server response, and the client waited for that before displa

[2015-12-04 18:59] SabreCat commented on #4936
So awesome! Props to ricecake2!

[2015-12-04 19:03] SabreCat commented on #4885
@damemi: Classes unlock when you reach level 10. A popup appears at that point, and choosing a class there takes you to the tour piece screenshotted above.

[2015-12-04 19:10] mperez07 commented on #4132
Scholars, Life Hackers, The Health Nuts, Writers, Mentally ill,
Duolinguists of Habitica, all large guilds with lots of challenges. About
6-7 hours later, I tried again and had no issue. I was able to leave the
Scholar's guild and haven't run into the situation since.

On Thu, Dec 3, 2015 at 1:30 PM, Alys notifications@github.com wrote:

[2015-12-04 21:15] erica3219 commented on #5649
http://i.imgur.com/YrOLL5y.jpg
having same problem here as well.
UUID: 9bab6b19-9cea-4f1c-b9e8-5c54c61a549d
Thanks

[2015-12-04 21:40] Alys commented on #5649
@erica3219 I've removed the invitation, but it's not unknown for it to come back a few times. I'll check again a couple of times a day for the next few days and remove it again if needed. If you notice the same problem a week from now, please comment again here.

[2015-12-04 21:48] erica3219 commented on #5649
As well, I attend a party, but I cast none damage to the monster. I mean, I am cleared my to dos and dailies, however, there was neither text coming up said how much damage I cast nor the blood on monster really gone. But I can use skills as usual.

[2015-12-04 21:52] Alys commented on #1471
@UserAns22 The issue isn't dead. At the top of issues in GitHub, there's a coloured button that says either open or closed to indicate an issues status, and this one says open. Even when issues are closed, we still receive emails for all comments made. I've added you to the challenge.

[2015-12-04 22:19] lemoness commented on #4618
Another could be Mount_Icon, if you want it to be shorter!

On Fri, Dec 4, 2015 at 6:41 AM, Blade Barringer notifications@github.com
wrote:

[2015-12-04 22:21] Alys commented on #5649
@erica3219 That won't have been caused by the invitation. There's nothing wrong in your account for the party's quest, so I don't think there's a bug. If the quest has only just started, no one will have damaged it yet. Damage is dealt by each player only once a day (when they first use Habitica each day). If you need extra information about this, please go to Help -> Ask a Question from the Habit

[2015-12-04 22:54] lemoness opened #6336 "Collar Icon Fix"
The Unconventional Armor collar icons were the incorrect size.

Here are the fixed files:

![conventioncollarblackicon](https://cloud.githubusercontent.com/assets/3494081/11603477/d2a10492-9a96-11e5-96f5-d34bab1f0244.png)
![conventioncollarredicon](https://cloud.githubusercontent.com/assets/3494081/11603476/d29292fe-9a96-11e5-93f2-cb7aa937a374.png)
![conventioncollaryellowicon](https://cloud.githu

[2015-12-05 01:22] UserAns22 commented on #1471
Thank you so much!

[2015-12-05 04:20] crookedneighbor commented on #4618
I like Mount_Icon!

[2015-12-05 05:29] gauthamchandra commented on #6291
I see. I might enhance this a bit and add some dedicated generators to populate the DB using the API.

[2015-12-05 09:39] Alys commented on #4147
As described above, we'll change this behaviour by implementing a start date for To-Dos. If a start date is set, the To-Do won't start getting red until that date has passed. This will satisfy both players who want to keep the current behaviour (they just don't set a start date), and those who want the behaviour to change. Because this new desired feature is described in https://trello.com/c/i6kXv

[2015-12-05 09:39] #4147 closed, assigned to nobody

[2015-12-05 10:24] lynxlynxlynx opened #6337 "Habit progress graph shows wrong values"
As per https://github.com/HabitRPG/habitrpg-email-server/issues/5 , my flat-lining habits aren't showing as approaching 0, but are displayed at -1.02665731... — which is above the neutral task threshold of -1. The actual task values are fine and neutral, just the plotted points are wrong, so perhaps something is going wrong during preening.

Consider the timespan on this composite:
![mostec1](http

[2015-12-05 17:06] dblais1 opened #6338 "Armour not showing (lvl 10)"
NVM

[2015-12-05 18:13] erica3219 commented on #5649
Thanks a lot :+1:

[2015-12-05 21:16] camachoborracho opened #6339 "Unable to delete completed quest (Basi-List)"
User ID: 4d6a708d-3434-468d-bfaf-573dd1b04f7b

So I had invited 2 people to join me on a quest (Basi-List) but they never joined, so I began the quest of the Basi-List & completed without them. However, when I look at INVENTORY > QUESTS under YOUR QUESTS: Unlockable Quests (left side) it states Basi-List 3 - which I am told means I have three copies of this quest in my inventory, possibly because

[2015-12-05 21:53] joyheron commented on #4618
I am working on this right now, but I just wanted to mention that there is some artwork which is currently not done:
- the spooky heads (this was already mentioned)
- the phoenix
- some of the gryphons (Red, RoyalPurple, Shade, Skeleton, White, Zombie)
- the frogs

This doesn't mean that they haven't been completed, but I couldn't find the images on the Trello card.

My plan is to copy the existin

[2015-12-05 22:05] joyheron commented on #4618
Oh, and I also could not find the JackOLantern mount

[2015-12-05 22:29] rachelkachel commented on #5696
I've noticed something similar on my progress graph too. Doesn't really bother me, since that graph has honestly never been very useful, but I'm pretty sure that's not the intended behavior. If it's a wraparound thing, I suspect that one particular to-do is to blame. It currently has a value of -23687.38, according to the DDT. It's 18 months old and has 63 checklist items, 41 of which are checked

[2015-12-06 01:09] citrusella opened #6341 "Streak moving from negative to zero triggers false streak achievement"
I edited a streak to -1 for a daily I wanted to set the streak to zero for when I checked it off, and it popped up that I had 84 21-day streaks. I tried a few other times, and I think it counted up a few times when I did it on the same page to different dailies, but leaving and returning to the tasklist (as well as looking in my profile) reset it to say 84, which is what my profile has read after

[2015-12-06 01:20] Alys commented on #6339
Every time someone accepts a party invitation from you, you are given a new
copy of  the Basi-List quest scroll. You can use them all to do the quest
multiple times (one time per scroll). A quest scroll is removed from your
inventory only when you've used it.

When you try to start any quest and you see the message, "Group not found
or you don't have access", it means that either you are not in a

[2015-12-06 08:16] #6338 closed, assigned to nobody

[2015-12-06 08:17] Alys commented on #6338
For the record, this was the original text of this issue, before it was replaced with "NVM":

---

Hello,

I recently turned lvl 10 and chose the warrior class. After midnight hit and I went to change my leather armour to the chain mail and chain coif I had, no armour or weapons showed up on my avatar except for my round wooden shield. Not sure if this is because I lvld up, or because I purchased

[2015-12-06 09:04] Alys commented on #6341
We actually have a report of this already, surprisingly enough since it's a hard bug to find. :) https://github.com/HabitRPG/habitrpg/issues/2578

I'll close this one now in favour of the older one.

[2015-12-06 09:04] #6341 closed, assigned to nobody

[2015-12-06 09:12] Alys commented on #6339
@camachoborracho I'm back at my computer now and I've checked your account. You are not in a party. That's why you're seeing "Group not found or you don't have access" - the group it's referring to is the party. I don't think there's any bugs in what you've described, so I'm closing this now, however if you need more help, comment here and we'll still see it. If you'd like advice about how to crea

[2015-12-06 09:12] #6339 closed, assigned to nobody

[2015-12-06 16:22] citrusella commented on #6341
Oops! I managed to miss that despite doing a search for my issue before posting! 0_o XD

[2015-12-06 20:00] Alys opened #6344 "static page to clear local storage and cookies"
Several temporary bugs can be fixed by clearing local storage and cookies, but this can be hard to do for players who don't know how (especially local storage on some browsers).

The Habitica website needs a page that contains a button to clear all local storage and cookies for habitica.com. It should be a "static" page (e.g., like https://habitica.com/static/apps ) so that you don't have to log i

[2015-12-06 20:51] randomfrom commented on #6325
Any pointers on what happened? I'm nervous to buy eggs in case I lose even more.

[2015-12-06 20:59] Alys commented on #6325
Sometimes a sync error prevents an action taking effect. Usually the full effects of the action are reversed (items bought are removed and gold or gems used to buy them are returned) but sometimes only half of it happens. I've given you seven Snake eggs. Sorry about the delay!

[2015-12-06 20:59] #6325 closed, assigned to nobody

[2015-12-06 22:36] lynxlynxlynx commented on #4981
Since not much has happened since either report, how about a pragmatic improvement? Switching the order of spells and items is a oneliner (afaict) and would work even if one has many custom rewards — by using the existing tab that filters them.

[2015-12-07 14:07] merri-schwarz opened #6345 "deleting or checking a task"
i get an error when i try to check a task as done or if i try to delete a task. in the console i get:

app-5e9c75fe.js:6 TypeError: d.user.ops.score is not a function
    at j.a.score (app-5e9c75fe.js:33)
    at g (app-5e9c75fe.js:7)
    at D.|| (app-5e9c75fe.js:6)
    at f (app-5e9c75fe.js:7)
    at e (app-5e9c75fe.js:8)
    at j.$eval (app-5e9c75fe.js:7)
    at j.$apply (app-5e9c75fe.js:7)
    a

[2015-12-07 14:12] merri-schwarz commented on #6345
tried mozilla firefox and it seems to be ok so far (1 day)

[2015-12-07 19:29] cassidypignatello commented on #6336
hey there, I can grab this one if that's all right!

[2015-12-07 19:59] camachoborracho commented on #6339
Well, I reset my browser and deleted history, etc. nothing changed.

I posted on boards saying I was looking for people to join my party, 2 people replied and so I invited 2 people asking to join my party (not me to join theirs) and it said they were in a party already - so I suspect a bug now somewhere.

And now I went to party, saw no one else, then was able to start a quest. I was able to start

[2015-12-07 20:27] Alys commented on #6336
@cassidypignatello Please do! Thank you!

[2015-12-07 20:34] Alys commented on #6345
I think this is happening in Chrome because Chrome has something corrupted saved in its local storage. Can you please log out of Habitica in Chrome, go to chrome://settings/clearBrowserData and clear data using the "Cookies and other site and plugin data" option. Then reload Habitica and try again. Please tell us if that helps or not.

[2015-12-07 22:28] Alys commented on #6339
_"Well, I reset my browser and deleted history, etc. nothing changed."_

Yes, none of that would have helped. The thing you needed to do was create a party, and I see from your account that you've done that now. That's why you're able to start quests now.

_" posted on boards saying I was looking for people to join my party, 2 people replied and so I invited 2 people asking to join my party (not m

[2015-12-08 00:09] camachoborracho commented on #6339
Thank you for clarifying. Odd, when I switch computers it's changed but
perhaps need to reloaded.

Glad it's resolved. Will just burn through these ones and move forward
then, thanks!

Ian Camacho
310 775 3540
http://www.imdb.com/name/nm1907117/
cafepress.com/revengetables

On Mon, Dec 7, 2015 at 2:28 PM, Alys notifications@github.com wrote:

[2015-12-08 01:20] lemoness commented on #4618
Thanks for bringing those up! I will add them to the list of needs on that
Trello card.

On Sat, Dec 5, 2015 at 2:06 PM, joyclark notifications@github.com wrote:

[2015-12-08 01:21] lemoness commented on #4618
I've also added a call for the new Peppermint Mount heads.

On Mon, Dec 7, 2015 at 5:20 PM, S Leslie leslie@habitica.com wrote:

[2015-12-08 17:18] joyheron commented on #4618
Also for future reference, if the images are already labelled as: Mount_Icon_{Animal}-{Color}.png by the pixel artists, that would save some time in the future (it would mean that the coders (or whoever is uploading the images into the repository) don't have to rename every file).

[2015-12-08 18:42] kangabell commented on #5505
![partyleader](https://cloud.githubusercontent.com/assets/5122304/11664705/448b43c0-9db1-11e5-85f8-29c5a0b0969b.png)
Note: if you're a party leader you have an additional button that exacerbates the issue.

[2015-12-08 21:55] pseudocyesis commented on #5649
Hey @Alys, still seeing the invitation on my account, hoping to see if you had any new tricks up your sleeve! Thanks

ID again: d7f1e549-d4ef-43b5-a277-934a9f7b9a21

[2015-12-08 22:12] Alys commented on #5649
@pseudocyesis Yes, it keeps appearing. :( I've seen it and removed it several times over the past week. I'm checking twice every day and I'll keep doing that until I see it stop coming back for a few days in a row. I'm afraid it's just a matter of waiting until it clears properly. When we finish some major site upgrades, we'll look into whether our use of local storage can be improved, which I thi

[2015-12-08 23:17] bkovacik commented on #6344
Hi, I'm trying to create a page to do this, but the page I created isn't being included when I npm start. I assume I need to edit some file, but I'm not sure which one.

[2015-12-08 23:24] Alys commented on #6344
website/src/routes/pages.js

Useful tip: grep through the code base for the name of an existing static page, and ignore the node_modules and bower_components directories because they don't have Habitica-specific code:

`grep -rl community-guidelines * | egrep -v "node_modules/|bower_components/"`

[2015-12-09 00:29] crookedneighbor commented on #6344
If you use `git grep` it'll automatically ignore anything in the `.gitignore` file

[2015-12-09 00:32] owlivion opened #6347 "Clicking one task checks another?"
((I couldn't find a similar enough issue to post this on so...))

Occasionally I encounter a strange glitch where I click on one task only for it to check another, mostly it seems to happen to the (almost) mirrored task of ones on the bottom half. It's infrequent enough I thought I was just misclicking at first, but then I watched today as clicking my second last task checked and unchecked the thi

[2015-12-09 01:13] joeywoneill opened #6348 "Push to Bottom Button"
Sometimes the push to top button automatically reverts to push to bottom without me pushing the command button.

[2015-12-09 01:52] Alys commented on #6348
Please see this issue: https://github.com/HabitRPG/habitrpg/issues/6329

Try clicking ctrl/cmd to fix the direction.

[2015-12-09 01:52] #6348 closed, assigned to nobody

[2015-12-09 04:47] kyleelynn99 opened #6349 "Can't leave party"
Every time I leave the party that I'm in I get an Application Error, and when I refresh the page there is an invite to the same party that I just left. If I reject this party request, it just comes up again when I refresh.

Invites to new parties are not showing up.

Using Safari.

[2015-12-09 08:04] SteelClaw commented on #4252
Hi, I've had the same problem highlighted above:

After completion of the Gold Knight Part 1, 2 of the three party members have confirmed they did not recieve the reward or achievement for the quest. One party member indicates that she was rewarded properly and earned an achievement though. I don't know if the problem has anything to do with her account potentially not being active for the day of

[2015-12-09 15:46] amita86 opened #6350 "I can't seem to join a challenge"
Hi, there's a challenge I found in the habitica tavern which i can't join. The title is: Be extraordinarily productive. The error message that appears is:
Yikes, an error occurred! Please reload the page, your last action may not have been saved correctly.
"Error request entity too large"

[2015-12-09 21:39] dirad opened #6352 "Vertical gray bars in task data, but user wasn't resting"
im checking my data in the Data DIsplay tool.
In Dailies History, i see gaps, and the explanation notes they are "days resting at the Inn", but i was not resting....
![habit bars](https://cloud.githubusercontent.com/assets/12030851/11699645/0502cdcc-9ece-11e5-80c9-2122ee0798ed.jpg)

UPDATE:
this . . . graph . . .
![habit graph strangness](https://cloud.githubusercontent.com/assets/12030851/1169980

[2015-12-10 01:09] jylyn opened #6353 "Missing Silly Hat after rebirth"
I rebirthed a few weeks ago and have just noticed that my Silly Hat seems to have gotten lost in transit.  I still have my Silly Robes and my full Absurd ensemble but I'm afraid of becoming a laughing stock if I wear the Absurd Hat together with the Silly Robes!

User ID: 987c6d4f-72f2-49a7-888a-e853b11eaff7

[2015-12-10 08:33] Alys commented on #6350
This is a common problem with large challenges. Sometimes you're able to join if you happen to try during a less busy period, but even that doesn't always work.

We're making some large changes to our database and back-end code that should fix this problem, but it will take a while for that to be complete.

If you're still unable to join the challenge and want to be added to it, please copy the UR

[2015-12-10 08:33] #6350 closed, assigned to nobody

[2015-12-10 08:36] Alys commented on #6352
Resting in the inn is just one example of what might cause those bars. The first part of that sentence is the important part: it's a gap in the record where there's no data. I'm afraid the data is gone and there's no way to get it back. It's probably due to the data merging process that happens regularly, including at the beginning of each month. Please see "Limitations on Data Stored" in the wiki

[2015-12-10 08:36] #6352 closed, assigned to nobody

[2015-12-10 08:36] Alys commented on #6352
You're welcome to post here if you have questions. We'll see them and respond even though I've closed this.

[2015-12-10 08:43] Alys commented on #6353
You are right, that would be completely unacceptable! :)  I've given you back the Hat. Please reload your equipment page if you don't see it there straight away. Comment here if it still doesn't show up! :)

[2015-12-10 08:43] #6353 closed, assigned to nobody

[2015-12-10 08:45] Alys commented on #4252
@SteelClaw Sorry about the delay! Those two people you listed should now have the achievement and rewards. Reload if you don't see them. Comment here if you still don't. :)

[2015-12-10 08:46] Alys commented on #6349
If it's still happening, we'll need to identify your account to see what's wrong, and also identify the party. Please go to Help -> Report a Bug from the Habitica website and see step 6 for how to find the User ID and Group ID.

[2015-12-10 08:49] Alys commented on #6347
When this happens, if reloading doesn't fix it, please clear local storage -- go to the Chrome Settings -> Privacy -> Clear Browsing Data screen (chrome://settings/clearBrowserData ) and use the "Cookies and other site and plugin data" option.

If it persists even after clearing local storage, comment here again.

[2015-12-10 08:49] #6347 closed, assigned to nobody

[2015-12-10 08:57] Alys commented on #6345
I'm closing this, but if you still need help, please send us a reply to my message above.

[2015-12-10 08:57] #6345 closed, assigned to nobody

[2015-12-10 11:23] BibliophileJC opened #6354 "Missing Equipment"
API: 0ad25cfc-c53b-4985-bc0f-bf9bd5d70c89
Hi, I bought the full golden armor on my character and unlocked the armoire, but now it seems that armor is missing from my inventory, along with the gold used to purchase it. Please help!

[2015-12-10 11:34] Alys commented on #6354
Whenever you lose any gold, health, experience, or mana unfairly, you can go to Settings -> Site -> Fix Character Values to restore it.

The behaviour you describe was just a sync error. It's unlikely to happen again if you buy the armour again.

[2015-12-10 11:34] #6354 closed, assigned to nobody

[2015-12-10 13:46] acyuta commented on #6349
I can't leave group to the same group.
![2015-12-10-194514_774x339_scrot](https://cloud.githubusercontent.com/assets/3022834/11716831/507e94ac-9f6e-11e5-99ef-bb995812bf4a.png)

[2015-12-10 14:00] SteelClaw commented on #4252
Thanks, problem solved :-)

[2015-12-10 15:11] dirad commented on #6352
sadface .

but also, why is the graph like that ..?

[2015-12-10 15:46] Alys commented on #6349
@acyuta For the text that appears above the green button, can you please copy it into a comment here as plain text? That will let us run Google Translate over it so that we can see what it says. Also please see my previous comment for information that we need (your User ID and Group ID).

[2015-12-10 15:50] Alys commented on #6352
Do you mean why are there no entry points from Nov12 till Dec1? It could be because of the data averaging that happened at the start of the month. Show us that portion of the graph if you wish, and include your user id if you'd like us to investigate further.

[2015-12-10 18:53] crookedneighbor commented on #6349
That's the leave your current party for a new party button.

[2015-12-10 20:41] merri-schwarz commented on #6345
Hey, sorry for my late answer. I was out of town for a few days/ The problem got solved after I deleted my cache. I still get the error every now and then, but then after refresh it works again. Thanks for the help.

[2015-12-10 20:59] mommie4life opened #6355 "Application Error...."
Getting the following error. It's sometimes coming up in an error box and then all you see is Application Error, but then when I tried to reload the page the last time it gave me the following error. There doesn't seem to be anything in particular that makes it come up, but every fourth thing I touch or so it comes up. Whether changing the page, clicking a task, editing a task, etc.

"Application

[2015-12-10 21:45] Alys commented on #6355
Thanks @mommie4life ! We've restarted the server, which should fix that. Please comment here if you still notice it.

[2015-12-10 21:45] #6355 closed, assigned to nobody

[2015-12-10 23:17] Zer0t3ch opened #6356 "Avatar clipping in the wrong spots"
Not sure if this is the right place for this issue, but it's just something that I noticed on Habitica.com
http://i.imgur.com/V5HoHAf.png
This was noted with the "Absurd Party Robes" used as part of the costume on the "Royal Purple Gryphon" mount.

User ID: 17bbc7b9-95bf-48b1-9bab-c550c2084c0b
OS: Windows 7 Pro
Browser: Firefox 42

[2015-12-10 23:19] Nairolf21 opened #6357 "Color of a new daily created stay in grey"
Hi dear developers,

I've noticed a strange behaviour. I've just created a new daily task today. And, the color of this task is already grey ! If I complete this task, it's still grey. And if I uncheck the task, the color is still grey. I've watched if the task was created with a special parameters for the field "repeat every", but no, it's for everyday.

I also think I need to add that I have sev

[2015-12-11 00:22] jlriddell opened #6358 "Beta Android App - "no Android key hashes configured""
User ID: 1edcea2f-2576-4da1-a11e-45c9104b34bc

I attempted to login to the beta Android app using Facebook, and got an error:
"This app has no Android key hashes configured. Configure your app key hashes at http://developers.facebook.com/apps/128307497299777" [button that says OKAY]
I was then redirected to the app login.

I use a Nexus 6P and am running Android 6.0

[2015-12-11 00:32] MitjaCernko opened #6359 "Facebook login on app doesn't work"
As FB is my only login (also on web app), and the loading screen just disappears shortly after pressing the "sign in with Facebook" button, and leaving me on the login page, I can't use the new version of the app...

[2015-12-11 00:48] crookedneighbor commented on #6359
Duplicate of https://github.com/HabitRPG/habitrpg/issues/6358

[2015-12-11 00:48] #6359 closed, assigned to nobody

[2015-12-11 01:04] Alys commented on #6357
It will probably be because you have a Custom Day Start time that isn't zero and the Start Date on the Daily is interacting incorrectly with that. If you change the Start Date to yesterday (in the Daily's advanced options), then the Daily will be non-grey. Alternatively, wait until tomorrow and it will be non-grey then (you can still tick the task for today and get full rewards from it).

https://

[2015-12-11 01:04] #6357 closed, assigned to nobody

[2015-12-11 01:17] Alys commented on #6357
Sorry, just to be clearer: There is nothing wrong with you having a Custom Day Start that isn't zero. It's a known bug that a new Daily can be grey on the first day if the CDS is non-zero, and we do need to fix that.

[2015-12-11 03:48] AdamORHK opened #6361 ""Quest Invitation: The Basi-List" Keep coming up regardless of accept/ reject/ ask later"
Dear all,

I encountered a bug of "Quest Invitation:  The Basi-List" Keep coming up regardless of accept/ reject/ ask later.
Anyone encountered similar situations and can offer an advice?
Your help is very appreciated.

[2015-12-11 04:21] Alys commented on #6361
Please log out of Habitica (in all browser windows that you might have open), and then clear your browser's cache, cookies, and local storage. Clearing local storage is important, and is something done differently than clearing cache and cookies, so if you don't know how to do it, google for instructions for whatever your browser is. After you've done that, close all browser windows, then reopen a

[2015-12-11 08:24] Nairolf21 commented on #6357
okay, yes you right ! Today, in the morning for me. My daily task is yellow, so it's the usual color. Thank you ;)

[2015-12-11 08:27] Alys commented on #6357
Thanks for letting us know! :)

[2015-12-11 09:05] dirad commented on #6352
what i mean is that on dec12 , on the gray highlighted graph there is a "loop"; the graph line passes dec12, and returns to it...
Also other graphs appear somewhat odd on that day.

[2015-12-11 16:26] skaulana opened #6362 "Android beta: Filter can cause all tasks to disappear, leading to crash"
My user ID = cb953dc8-5075-4e63-9f34-a58d6949f5e0

Just taking the new app (0.0.22) for a quick spin, able to get a consistently reproing crash with Android 4.4.2 on a Samsung Galaxy Tab S:
1. Launch Habitica when already logged in (so you see your character and the Habits screen)
2. Rotate the device (either portrait -> landscape or landscape -> portrait) so the screen refreshes
3. Tap the filter

[2015-12-11 16:32] AdamORHK commented on #6361
Dear Alys,

Thank you for your kind help.
But the problem still exists...
After each time I click any of the options, it will show "Group not found or you don't have access."
then each time I come back, it will be there.

My User ID: f66cc8ad-0c1f-4a61-94cd-8187c15adf50

I think It is a "Quest Invitation: The Basi-List" from one of these Group.
Group ID: f2db2a7f-13c5-454d-b3ee-ea1f5089e601
Group

[2015-12-11 20:53] jnerraw opened #6363 "Bought gems, gold is gone but no gems"
This has happened twice this week...the first time I thought maybe I'd clicked something else by accident but this time I know I didn't. I purchased two gems with gold, and my gold was taken, but Habitica is still saying I have no gems.

User ID: cc591758-bc84-4562-91d1-e2b32198646f

Windows 7, Firefox 42.0

[2015-12-11 23:30] jaywink opened #6364 "Allow disabling popping up notification boxes"
When going through dailies and tasks on a mobile phone, every click pops up 3-4 boxes that together cover most of the screen. This makes going through a list of tasks super slow as one has to wait after each click for them to slowly fade away.

Allow in settings to completely disable these OR disable them automatically on small displays. They could also just be shown as a tiny box with only "amoun

[2015-12-11 23:38] pipisafoat commented on #6363
I've had a similar issue - in trying to purchase the peppermint hatching potion, I've spent gems but not gotten the potion. (I had 1, tried to buy 4 more, 8 gems are gone but I still only have 1 potion!) I've tried refreshing, deleting history/cookies/etc and refreshing; nothing worked. (interestingly, I had the same issue with the last magic potion!)

User ID: b2293f3a-bffb-4e01-8db3-7b6926677f36

[2015-12-12 00:17] Alys commented on #6364
I'm sorry about this @jaywink! Could you please report it through the feedback option on the appropriate app? If you're using iOS, it's Menu > About > Request a Feature. If you're using Android, it's About > Request a Feature. That will ensure that it's sent to the appropriate devs for the app you're using.

[2015-12-12 00:17] #6364 closed, assigned to nobody

[2015-12-12 00:17] Alys commented on #6364
Oh, unless you're talking about using the website on a mobile phone's browser? If so, please go to Help -> Request a Feature from the habitica.com website.

[2015-12-12 01:40] Alys commented on #6362
Thanks very much for those details! I've copied your entire post to our Android repository here where we're tracking this issue: https://github.com/HabitRPG/habitrpg-android/issues/122#issuecomment-164094556
That link won't work for you at the moment, but it will in a few days when we open-source the app (the GitHub repository will then become public).

If you notice anything else related to this,

[2015-12-12 01:40] #6362 closed, assigned to nobody

[2015-12-12 03:46] acyuta commented on #6349
@Alys
When i click on "Join new party" i getting the same screen, but when i click on "Decline Invitation" i getting Application Error. I registering with invitation by this group.
![2015-12-12-094054_981x587_scrot](https://cloud.githubusercontent.com/assets/3022834/11760039/41eb27ae-a0ac-11e5-9b2c-f4e91637c261.png)

[2015-12-12 04:00] Alys commented on #6349
@acyuta Could you please go to https://habitica.com/#/options/settings/api and tell us what is written in the "User ID"  field? I think it might be "ID пользователя" in Russian.

Please do NOT tell us the "API Token" ("это пароль") because it is like a password and must stay secret.

[2015-12-12 04:18] acyuta commented on #6349
@Alys This is my user ID: cacc8f61-50cd-49ed-b1c4-f6e170f7e9cf

[2015-12-12 06:34] Alys commented on #6363
@jnerraw Sorry about that! Whenever you lose gold or other stats unfairly, you can go to Settings -> Site -> Fix Character Values to get the gold back. Settings is the gear-shaped icon at the top right of the website. Let us know if the count of gems remaining to be bought is incorrect.

@pipisafoat I've given you back the gems. Post again here if it happens again.

[2015-12-12 06:34] #6363 closed, assigned to nobody

[2015-12-12 06:40] Alys commented on #6349
@acyuta Thanks! What's happening is that the invitation you used to join your current party keeps coming back even though you no longer need it. I've deleted the invitation, however it's likely to reappear a few times over the next few days. I'm going to keep checking twice a day and deleting it when it appears, until it's gone permanently.

[2015-12-12 06:40] #6349 closed, assigned to nobody

[2015-12-12 06:47] Alys commented on #6361
The quest invitation was issued in a party that you used to be a member of, but aren't any longer. That's why you "Group not found or you don't have access" when you try to use the quest invitation.

I've deleted the invitation from your account so you shouldn't see that error again.

[2015-12-12 06:47] #6361 closed, assigned to nobody

[2015-12-12 08:00] Alys commented on #6352
It could be just a quirk in the graphing library that we used to insert those graphs, or there might be something odd with your data on that day. I'm afraid I can't really tell from looking at the graph alone. If you'd like us to investigate, please give us your User ID -- go to Help -> Report a Bug and see step 6 for how you can find it.

[2015-12-12 08:30] jaywink commented on #6364
I don't have Android or iOS, so web yes. It works beautifully, except for the notifications.

Does this look like a feature or a UX bug to you? :)

![screenshot20151212_101448303](https://cloud.githubusercontent.com/assets/1174866/11761038/4b36fb08-a0bb-11e5-82c3-d304599c2171.png)

[2015-12-12 08:39] Alys commented on #6364
Ah yes, that's the standard notifications for the website. I like your idea of having an option to replace them with a tiny box with only "amount + icon". We wouldn't want that to be the default because it would be confusing for new users, but it would be a great feature for experienced users - I'd probably use it myself even when I was on a PC. This is probably the best Trello card to add it to:

[2015-12-12 11:13] dirad commented on #6352
im just a little weary about posting it -  bf308953-1ed7-4b9d-aa51-c335bc2a6556

also - how can i also br a "collaborator" ?
technically i am sure i can contribute. =]

[2015-12-12 15:27] crookedneighbor commented on #6352
@dirad http://habitica.wikia.com/wiki/Contributing_to_Habitica

[2015-12-12 16:04] dirad commented on #6352
@crookedneighbor i do mean on Github tho

[2015-12-12 16:26] crookedneighbor commented on #6352
If you have a change you'd like to make, feel free to [submit a pull request](https://help.github.com/articles/using-pull-requests/)

[2015-12-12 17:43] jnerraw commented on #6363
Thanks Alys!

[2015-12-12 20:16] sidawson commented on #5490
For consistency (and a less confusing UX), and based on the above logic, we should also make the User Popups (clicking another person's icon when in a party - the window that comes up with their stats) **not** disappear when clicking off it.

At present if you click off that window it disappears (typical behaviour for any other site on the net). However, if that's not the way things are done on Ha

[2015-12-12 20:36] crookedneighbor commented on #5490
I disagree. The surface area in the menu popups is significantly smaller than the surface area of the modals.

[2015-12-12 20:58] Athena-Eleven commented on #5919
I just had this issue for the first time after having no issues since I joined a couple of months ago. Last night I got home at 1am (my cron is midnight) and I'd already ticked off all my dailies using the new app while I was out and about. I went on my computer and cron happened all fine, no damage and I found 12 items towards the quest I'm currently doing. I refreshed the page (as I also do to d

[2015-12-12 21:08] sidawson commented on #5490
Is there an agreed upon pixel area size transition point where we move from one type of behaviour to the other?

And should that be pixels or ems? (given that - particularly those with accessibility issues - people will tend to adjust their screen+browser and thus pixel resolution to assist themselves - eg View Zoom In/Out in your browser menu)

[2015-12-12 23:06] Alys commented on #5490
@sidawson I don't think it's necessary to tie it down to particular pixel dimensions. We can make case-by-case decisions.

[2015-12-12 23:12] cassidypignatello commented on #6336
I've replaced the icons in the wondercon folder, but when I try to run `grunt compile:sprites` it says it's not found. I was looking around the Gruntfile and didn't see that task in there either. am I missing something? thanks for any help!

[2015-12-12 23:14] crookedneighbor commented on #6336
It's been moved to gulp. You can run the sprites compilation task with `npm run sprites`

[2015-12-12 23:17] crookedneighbor commented on #6336
@cassidypignatello I've updated the readme in the common folder to reflect the new command. Sorry for the trouble.

[2015-12-12 23:24] crookedneighbor commented on #4618
@joyclark's work has been merged in.

Still needed:
- [ ] frogs
- [ ] phoenix
- [ ] jackolantern

I also noticed that many of the mount icons did not have transparent backgrounds :disappointed: Will work for now, but in the long haul, that should be fixed.
- [ ] flying pigs
- [ ] cactus
- [ ] cuttlefish
- [ ] dragon

[2015-12-12 23:24] tomaspinho commented on #4252
Is a fix coming down the pipes? As a developer, I'm interested to know technical details :stuck_out_tongue:

[2015-12-12 23:48] crookedneighbor commented on #4252
We don't quite know what the problem is yet, unfortunately. :disappointed:

[2015-12-13 00:06] cassidypignatello commented on #6336
@crookedneighbor oh no problem, that was super helpful. thanks so much for clarifying!

[2015-12-13 00:10] sidawson commented on #5490
Another possibility (retaining existing functionality for accessibility requiring users, while making it less confusing for everyone else) would be to have an "accessibility" option (or section) in the site options.

This would free us up to break functionality all over the site in all sorts of interesting ways - making accessibility in general MUCH better for those users requiring it, while gener

[2015-12-13 02:11] #6060 closed, assigned to nobody

[2015-12-13 07:23] joekatzman commented on #5919
A11, you might try shutting down the app on your phone, so it isn't running at all. Then sleep at the inn. Then shut down the browser entirely, and restart your computer.

That's basically what I did. Even though both computers and the iPhone had the same day/time setting (verified), the full shutdown + inn did seem to fix my dual-cron problem. I have since gone back to using the phone app and com

[2015-12-13 11:35] AdamORHK commented on #6361
Thank you so much for your kind help!!!

[2015-12-13 14:00] phillipthelen commented on #6358
Hi!

This issue has been resolved. You should be able to log in with facebook now.

[2015-12-13 14:11] #6358 closed, assigned to nobody

[2015-12-13 17:41] BNicoleSchmidt opened #6366 "Android crashes on Party screen when switching between Portrait and Landscape"
Steps to replicate:
1. Open Habitica app.
2. Select Party from left side menu.
3. Tilt phone to change orientation.

4 See Error: Unfortunately, Habitica has stopped.

This happens on a Droid Turbo running Android 5.1, Lollipop.

[2015-12-13 18:00] Alys commented on #6366
@BNicoleSchmidt Thank you for reporting this! We have an issue for it at https://github.com/HabitRPG/habitrpg-android/issues/193, so I have copied your information to the top post there. It's possible that this issue is specific to certain phones, so your information about your device will be helpful!

[2015-12-13 18:00] #6366 closed, assigned to nobody

[2015-12-13 18:01] Alys commented on #6366
Note that you won't be able to see the issue I've just linked to at the moment, but it will become visible when we open-source the Android app (the GitHub repository will then become public).

[2015-12-13 18:32] RainbowMegan commented on #5447
I am having this same issue! I'm sure it's because I got a new card a while ago and never updated the info on Habitica. I only just recently noticed that I haven't paid my monthly subscription fee in a long time. I haven't been able to update my card info (same error message) or "cancel" my subscription, error message {"err":"Cannot read property 'current_period_end' of null"}

So if you could can

[2015-12-13 19:13] Alys commented on #5447
@RainbowMegan Thank you for letting us know about this! I've set a cancellation date on your subscription to one week from now, which means that you should be able to create a new subscription. If you do it any time within a week, you won't lose your consecutive benefits. It is necessary to start a new one rather than just changing the card because the subscription has been cancelled at our paymen

[2015-12-13 19:51] RainbowMegan commented on #5447
@Alys Thank you, that worked perfectly!

[2015-12-13 21:38] #4986 closed, assigned to nobody

[2015-12-14 13:11] pnrich commented on #4753
I have a similar problem. I was invited to a party and joined. A quest had been initiated but I was not invited to that quest. Then the quest initiator left the group. Now I am the party leader, and we're stuck with a quest which will not progress for lack of any participants. I've tried to reach the quest initiator, but they're unresponsive. Could I have this quest canceled?

User ID: 5914861f-d2

[2015-12-15 09:12] Alys commented on #4753
@pnrich I've answered this in the Newbies Guild (Help -> Ask a Question) where you asked the same question. In brief, there's no quest in your party. See my message there for more details.

[2015-12-15 13:20] GeorgeSG commented on #5811
I see there are no updates here since September. @melarish, are you still working on this? Can I take it?

[2015-12-15 15:52] deadpyxel opened #6370 "Nothing works, and I keep receiving errors everytime"
Every time I try to do anything, leave the inn, complete a task, I have error message.

Here is the console log:
_[log.txt](https://github.com/HabitRPG/habitrpg/files/62728/log.txt)_

**If helps, I'm using Firefox's lastest update in a linux Ubuntu 14.04LTS. I already tried clear cache, logout and log in, an neither work.**

[2015-12-15 16:28] NickRIOM commented on #6370
This seems to be a similar problem with me, every time I load up Habitica I get the message attatched. It also doesn't seem to allow me to do anything, if I go to try change my avatar it refuses to actually apply the changes I select.
My User ID is: 1b9fca28-f7de-421b-aea2-45e9bfd705b2
And I'm using Chrome on Windows 7
![habitica error](https://cloud.githubusercontent.com/assets/16308579/11816558/

[2015-12-15 19:08] Indubitably1 opened #6371 "Gems and Gold Disappeared"
Hi,

Last night I had 59 gems and over 700 gold. Upon logging in today I noticed that only have 1 gem and 15 gold remaining. I didn't purchase anything with gems yesterday or today, and I don't recall using any gold.

I used the Habitica iOS app yesterday, and today I checked the website and noticed the gems and were gone. So then I opened the app and it showed 59 gems and 700+ gold, but then the

[2015-12-15 19:20] pnrich commented on #4753
@Alys Our party ended up just creating a new party to start the quest over. The group ID I specified earlier refers to the old party. I have no idea whether the quest is still frozen in that party, but we're just about to begin the same quest in the new party. Sorry for the confusion. Thank you for your quick response, though!

[2015-12-15 21:30] lemoness commented on #4618
It turns out that files uploaded with dropbox seem to lose their
transparent backgrounds :( I'm talking to the artists about it.

On Sat, Dec 12, 2015 at 3:24 PM, Blade Barringer notifications@github.com
wrote:

[2015-12-15 22:41] Alys commented on #6371
I'm sorry about that, @Indubitably1! I've given you back the gems. You can restore your gold through Settings -> Site -> Fix Character Values on the website.

[2015-12-15 22:41] #6371 closed, assigned to nobody

[2015-12-15 22:44] Alys commented on #4753
@pnrich Thanks for explaining! As a general guideline, when you report a problem here or in the Tavern or Newbies Guild, if the situation changes, please let us know so that our investigation doesn't go down the wrong path.

[2015-12-15 22:44] Indubitably1 commented on #6371
Thank you!

[2015-12-16 11:23] gdpmesquita opened #6372 "Camouflage headgear on market instead of Umbral"
ID: c7c95a14-c4a0-4538-965b-a03451d627b6
Browser: Chrome

Hi, I already bought the Penumbral Headgear, but after my character died this morning the headgear for sale changed from Umbral to Camouflage, is that correct??

[2015-12-16 11:42] Alys commented on #6372
When you die, you lose one piece of gear, and it goes back into your Rewards column to be repurchased. If' it's a cheaper piece of gear than was available for purchase previously, you have to buy it back first, just like you had to buy it first before you initially saw the better gear. You can learn more if you wish on the wiki at http://habitica.wikia.com/wiki/Death_Mechanics or if you have quest

[2015-12-16 11:42] #6372 closed, assigned to nobody

[2015-12-17 02:58] testsubject1987 commented on #6215
How goes it?

[2015-12-17 03:27] Alys commented on #6215
@testsubject1987 We can't really support XP since Microsoft has ended its support for it. gauthamchandra's advice to test with all script blocking plugins like NoScript, Disconnect, Ghostery, uBlock, Adblock plugins disabled or whitelisted is good - did you try that?

[2015-12-17 05:17] Lalaitha opened #6376 "No reward after part 1 of the Moonstone Chain."
Seems like no party member got the quest rewards from the Moonstone Chain part 1 collection quest.

UUID: 7bdfa0b4-e06b-4a2f-b334-8011e9c03d95
Group ID: da883092-5ef8-4554-a390-85a5e34f3b07

[2015-12-17 05:37] rachteo commented on #6370
I think I might have the same problem

![screen shot 2015-12-16 at 9 27 13 pm](https://cloud.githubusercontent.com/assets/1234900/11862171/ac022e24-a43c-11e5-9a34-1066ba574b83.png)

I'm on Mac OSX (10.10.5) running Chrome version 47.0.2526.106
User ID: e1efa364-fcd5-46fb-972e-31bd94a01afa

_edit:_ Tested in Firefox 31.0 and was able to log in and everything was fine. Switched back to Chrome and er

[2015-12-17 05:56] foxed-in commented on #6370
Same. Losing a lot of inventory, mana, exp and gold due to this.

Win 7/Firefox 42

<source> element has no "src" attribute. Media resource load failed. habitica.com
All candidate resources failed to load. Media load paused. habitica.com
This site makes use of a SHA-1 Certificate; it's recommended you use certificates with signature algorithms that use hash functions stronger than SHA-1.[Learn Mor

[2015-12-17 06:01] IstraLouise commented on #6370
I'm having the same Application error.. I've tried reloading the page several times.. going to other pages.. I started out in the most recent Firefox.. and moved to IE 11 or Edge as they are calling it.. and I'm still getting the application errors no matter where I go..

My mana stats seem to be buggy too.. instead of a XX/XX it looks like the following
Mana: {{statCalc.mpDisplay(profile)}}

Due

[2015-12-17 06:15] Alys commented on #6370
I've restarted the server, which typically clears up these application errors, at least for a while, when they are server-wide, as they probably are now. However there can also be local corruption that causes problems, so can each of you please log out of Habitica, clear cookies and local storage (clearing local storage is important so please google for how to do that in your browser if you're not

[2015-12-17 06:15] #6370 closed, assigned to nobody

[2015-12-17 08:29] Alys commented on #6376
I've given the rewards to all party members. Please get everyone to reload and check that they have them. You can all see what the rewards should be at http://habitica.wikia.com/wiki/The_Moonstone_Chain
Comment here if anyone is missing anything.

If it happens for future quests, leave a comment in this issue: https://github.com/HabitRPG/habitrpg/issues/4252

[2015-12-17 08:29] #6376 closed, assigned to nobody

[2015-12-17 08:49] testsubject1987 commented on #6215
It happens on the non-xp system as well. I have no script blocking plugins, disconnect, ghostery, or ublock. I tried disabling and uninstalling adblock and the same problem persists.

[2015-12-17 08:54] Alys commented on #2863
I'm closing this because the first quest line of gold-purchasable quests was created by @SabreCat in https://github.com/HabitRPG/habitrpg/commit/b9f79552  - Sabe, note the bounty here.

[2015-12-17 09:02] Alys commented on #6215
@testsubject1987 Please create a second account with some test tasks in it (just a few) and use it on the same browser that you use your real account on. Is it noticeably faster? If so, the problem is probably the large number of tasks you have, as suggested by gauthamchandra. Unfortunately there's not a lot we can do about that right now, but we are in the middle of a large project to make some s

[2015-12-17 11:54] nicolevonvon commented on #3517
Hi all, work deadlines did not let up and I'm going away without internet for a while. I unfortunately won't be able to complete this. Sorry.

[2015-12-17 11:57] Alys commented on #3517
@nicolevonvon No problem - real life always should take precedence! Thank you for letting us know.

[2015-12-17 14:23] RachelNL commented on #4252
Hi, My party finished Swamp of the Clutter Frog 2 days ago and not everyone got the rewards.
These party members didn't recieve them:
b4808ef7-6c89-4aa9-aff8-5147c2441cd9
5cb7c3ba-626c-4b96-8519-904a8a6f33b4
addadc51-db8a-4893-a93c-030131cea3eb

Thanks in advance!

[2015-12-17 17:55] gauthamchandra commented on #6215
Yeah. I got super busy at work and was unable to work on this recently. :(

I can look into some short term fixes this coming weekend.

[2015-12-17 18:33] pnrich commented on #4648
I've looked into this. Assuming I have the right idea of what constitutes "Changing the API", the following is true. I assume any files under directories such as /api-v2 are part of the API and shouldn't be changed. Correct me here if I'm wrong.

Point 1 above is impossible without changing the API. The flagging of private messages would require the ability to set a flag without specifying a group

[2015-12-17 19:03] pnrich commented on #3517
I can take a look at this. Seems like a good introductory problem.

[2015-12-17 19:30] SabreCat commented on #2863
I don't feel comfortable claiming the bounty on this, given that "random encounters" was meant to be part of the project and hasn't yet been implemented. A single chain of Gold-purchasable quests doesn't make for a sustainable Gold sink.

[2015-12-17 20:01] Arie3 opened #6377 "Progress not being applied"
Hi :)  I joined up to group with a couple coworkers in their party.  I've been doing dailies and tasks, but none my my activity shows up in the party log and I don't appear as a contributor in the battle.

Group ID: 69da2aae-bacb-42e5-8a35-9a0dc4103fb1
User ID: b9328f57-db91-452b-b643-7c47d238aff3

Tried playing in Firefox and Chrome, Win7 machine.

Thanks!

[2015-12-17 20:11] Rannera commented on #1471
Hi! I can't join this challenge: https://habitica.com/#/options/groups/challenges/e6c1775b-c358-4e35-be89-c63a24d56322

Can you help me? My user ID is: b768b420-e492-4adb-bd06-324da530ebce

[2015-12-17 21:41] Alys commented on #6377
@Arie3 You aren't a participant in the quest. Either the quest had started before you joined the party, or when you received the quest invitation, you selected the reject option. You can see quest participants in the quest box on the party page - click on the participants tab. It's not possible to join a quest after it has started, for fairness (e..g., so that a person can't join on the final day

[2015-12-17 21:41] #6377 closed, assigned to nobody

[2015-12-17 21:46] Alys commented on #2863
No worries, but the exact specifications listed in this issue have been met so it might be worth updating the description.

[2015-12-17 22:01] Alys commented on #1471
@Rannera That challenge was actually started more than a year ago and is due to be closed. The problem with popular challenges is that when many people join, the challenge becomes so large that it no longer functions properly, leading to the errors you saw. At that stage, it's also impossible for the challenge owner to close it. When we find such challenges, we typically close them on behalf of th

[2015-12-17 22:08] Alys commented on #4648
@pnrich I agree with your assessment. If you'd like to work on points 3 and 4, that would be great.

For point 3, I'll prepare an initial body of text and ask Lemoness to make changes, and then you could implement it - that would save you time over adding text now and then having to make changes. :) I'll get that done early this weekend if I can!

[2015-12-17 22:23] Alys commented on #4252
@RachelNL I've given the quest rewards and achievement to those three players. Please ask them to reload, and tell me if they don't see the changes. Rewards are listed on the wiki at http://habitica.wikia.com/wiki/Swamp_of_the_Clutter_Frog

[2015-12-17 22:42] pnrich commented on #4648
Sounds great!

[2015-12-18 00:54] pnrich commented on #6356
This is actually the intended effect. Each mount is represented by 3 different .png files, only two of which are included in the generation of the avatar. The mount's body is added before anything else, then the character sprite (including armor), then the mount's head. This, I presume, is supposed to give the effect of 'riding' your mount. However, with some of the armor-mount combinations, such

[2015-12-18 01:40] Rannera commented on #1471
Have done, thanks! :)

[2015-12-18 08:52] habitrpguser commented on #6006
Waiting... uhhh... patiently? _fidgets_ Must - not - give - up - hope! :}

[2015-12-18 09:05] RachelNL commented on #4252
@Alys Thanks!

[2015-12-18 12:23] TheDamnedestCreature commented on #4252
Hello, I have been instructed to come and comment here.
My party has just finished the Gold Knight part 1 quest, but I did not receive any quest rewards or the quest badge. :(
My ID is 81782948-daea-47ad-be64-ac7757a8d38b :(
Could I please have that fixed? :( Thank you...

[2015-12-18 14:16] shellieware commented on #4252
@Alys - my daughter (userID 910410cb-71e0-47dd-a9b4-faa3fbe9c99c) didn't receive the eggs reward from the Egg Hunt quest we finished about a week ago. All of our other party members (including myself - (userID bfb4b43e-534c-403b-9b62-0b6cd816cc3a) seem to have gotten theirs. This is the second time this has happened to her, unfortunately ...

Thanks for your help!

[2015-12-18 14:26] jpazniokas commented on #5649
I just accidentally booted a player mid-quest by attempting to delete a non-disappearing invite, as per this bug.

Out of curiosity, is there any way to get a player back into a quest after being invited back into the party?  It's unfortunate: the player in question has done the bulk of the damage over the last two days.

[2015-12-18 23:10] Alys commented on #5649
@jpazniokas There isn't normally but if you give us their uuid after they are back in the party, we can put them back in the quest, since this happened as a result of a bug. We would not usually do that in non-bug circumstances.

[2015-12-18 23:17] Alys commented on #4252
@shellieware I've given your daughter two sets of rewards and achievements for the Egg Hunt quest.

If she's under 13, could you please read the top section in the wiki's page "Children Using Habitica"? http://habitica.wikia.com/wiki/Children_Using_Habitica
In brief, if any child younger than 13 uses Habitica, their parent or guardian must give permission by emailing Lemoness, our Community Manage

[2015-12-18 23:48] Alys commented on #4252
@TheDamnedestCreature I've given you the rewards and achievement for that quest - reload if you dont' see them immediately, and tell me if they still don't appear. If any of your party mates are also missing them, either you or they can comment here with their User IDs (or just tell me the whole party, if they are all missing it).

[2015-12-18 23:51] pitchou19 opened #6382 "Can't found friends"
Hi,

I sent an invite to a friend but he were'nt invite to my party when they sign up. I try to had him after by looking for existing member but I can't add him. He can't add me either.

Can you help me with that?

Thank

Kakou Pitch

[2015-12-18 23:56] Alys commented on #6382
Tell him to post a message to the Tavern saying something like "hi pitchou19". You can then click on his name to view his profile, and then you'll see his User ID, which is a long string like 92782948-daea-47ad-be64-ac7757a8d36e. You can use that to invite him to your party.

If he has already joined a party or created his own, he will need to click the "leave" button on the party before you can s

[2015-12-19 02:54] jpazniokas commented on #5649
Thank you so much, @Alys .

b291b934-7d0b-4936-8818-4daeab575211

I appreciate it.  If it were a simple matter of XP, gold and items, I would have just hacked the rewards together myself.  But there are also two pieces of equipment and an achievement involved too.  :)

[2015-12-19 03:18] Alys commented on #5649
@jpazniokas They should be back in the quest now. Please reload your own party page and look at the list of quest participants. Tell me if they don't appear or if anything looks odd. Check tomorrow after they have been through cron to see if a message appears in party chat about their quest progress. Tell me then if that's not right either.

You have another player in the party with this invitatio

[2015-12-19 22:51] jpazniokas commented on #5649
Thank you, @Alys , and not a moment too soon: little did I know that another party member dumped all of their mana into Brutal Smashes: the quest boss had a mere two hours left to live!

I'll let you know about superfluous invites if you like, but I'm a programmer too: this is a pretty low-priority one with everything else y'all have going on, and it's pretty easy to work around: just ignore it.

[2015-12-19 23:03] DesertAlopex opened #6383 "Alert showing in multiple tabs will grant XP/Gold for each one"
Yesterday I browsed through the public guild list and opened a tab for ones that looked interesting. Today when I started up my browser again each of those tabs was showing the newest alert (12/18/2015 Winter Wonderland Begins). I just happened to notice that each time I dismiss the alert on a tab a notice is popping up showing XP and gold gained. (I'll switch to Tell Me Later for the remaining br

[2015-12-19 23:34] Alys commented on #6383
Thanks for letting us know, but those alerts are just showing you what you've earned since the last time you viewed that particular window or tab. The gold and XP aren't given to you more than once. Feel free to comment again if you have questions!

[2015-12-19 23:34] #6383 closed, assigned to nobody

[2015-12-19 23:36] Alys commented on #6383
Also, in case you're curious, the Tell Me Later button merely closes the alert, whereas the Dismiss button makes a change to your account to say that you don't want to see the alert again. That change is saved into your account, which means that the browser has to sync with the server to do the saving. When the sync happens, the browser is told about any other changes to your account since the las

[2015-12-19 23:47] DesertAlopex commented on #6383
Ah! Thanks for the clarification and thanks for your work!

[2015-12-20 01:46] SpadesNeil opened #6384 "Health potions can be bought even while health is at maximum."
It's a minor bug but also a minor fix. Seems like an oversight to me. I misclicked the health potion not realizing it was instant use and it just wasted 25 coins which kinda blows.

[2015-12-20 01:54] bluebird8203 commented on #5919
My cron has been running at the time that I first load the web page or android app on any given day.  It should be running at 2am.  I verified that my time zone is the same on both devices.  Tonight I logged in about 630pm, and the party chat reports me as causing damage to my team at that time.  I"m not sure what to do next.

user id - bf4fcb13-9288-4154-9cdc-bb314d18efb6
running Chrome on Window

[2015-12-20 02:18] selena-ariel opened #6385 "Wrong Number of Monthly Gems"
I just bought a 12-month subscription. (Gifted to myself, from myself. We're friends.) The trouble is as follows: The Market, where I can buy gems, says that my cap is 15 gems, which makes no sense, because my subscription page says that I'm supposed to be getting an _extra_ 20 gems above the base rate. (I haven't bought any gems yet. Just got the subscription a few minutes ago. I could've waited

[2015-12-20 03:20] Alys commented on #6385
The incorrect end date is because there was some information left over in your account from an earlier subscription; I'll get that fixed for you. Reload in fifteen minutes and you should see the correct date.

Your monthly gem cap was increased by 20 gems, however your gems purchased from last month was being held over too, resulting in an incorrect number remaining to buy. I'll fix that as well.

[2015-12-20 03:28] Alys commented on #6385
That should be all fixed now. Comment here if it's not.

[2015-12-20 03:28] #6385 closed, assigned to nobody

[2015-12-20 03:34] Alys commented on #6384
You can get your gold back from any accidental purchase for any reward from Settings -> Site -> Fix Character Values (website only; not on the apps yet).

[2015-12-20 03:35] Alys commented on #6384
Can you tell us which app you were using? If it's one of the Habitica official mobile apps, we can get the text changed to say "Instant Use" to match what it already says on the website.

[2015-12-20 03:41] selena-ariel commented on #6385
@Alys Yes! It's fixed! Thanks a million, I didn't expect it to be taken care of so quickly. All good now.

PS - Thanks for all your work on the site, it's really one of the most incredible apps I've ever come across.  The most dedicated devs :)

[2015-12-20 05:09] SpadesNeil commented on #6384
I was using the website, not any app.

[2015-12-20 05:21] Alys commented on #6384
@SpadesNeil No worries. For future reference, if you hover over the potion, it says that it's instant use.

Devs:

If we were to add a check for full health before allowing purchase of the potion, I believe it should be at the API level and NOT also at the UI level. I.e., even if the website is showing that your health is 50, you should still be able to buy the potion. The server would then read y

[2015-12-20 05:30] Alys commented on #6382
@pitchou19 I'm closing this, but if you are still having trouble, comment here and we'll keep helping you.

[2015-12-20 05:30] #6382 closed, assigned to nobody

[2015-12-20 05:57] Alys commented on #6352
@dirad That double-back effect on the graph seems to be just something that the graphing library did. There's nothing odd in your data. The data points that the graph shows will be correct, but the line that's drawn between them will be interpolated in some way by the library. I haven't seen any other reports of this so it doesn't seem to be something that happens often. If you'd like to investiga

[2015-12-20 06:18] Alys commented on #4648
@lemoness, what do you think of this for the flag confirmation dialog:

Current text:

_Are you sure you want to report this post? You should ONLY report a post that violates the [Community Guidelines](https://habitica.com/static/community-guidelines) and/or [Terms of Service](https://habitica.com/static/terms). Inappropriately reporting a post is a violation of the Community Guidelines and may gi

[2015-12-20 14:41] nicolethenerd opened #6386 "Item disappeared on new item purchase"
I started a Habitica account and purchased the Rainbow Warrior Armor. Later, when I purchased the Leather Armor, my Rainbow Warrior Armor disappeared completely - it is no longer available to equip, or as a costume, or to re-purchase in the item store. As far as I can tell, this is not a duplicate of the bugs where items disappear on user death - I didn't die, my item just disappeared as soon as I

[2015-12-20 14:55] lemoness commented on #4648
Looks great!

On Saturday, December 19, 2015, Alys notifications@github.com wrote:

[2015-12-20 14:58] Alys commented on #6386
@nbieber That's a problem that happens sometimes at the end of the period during which limited edition items, such as the Rainbow gear,  are available. It's because of a timezone difference between your PC and Habitica's server. Your PC thinks it's still okay for you to buy the gear, but the server disagrees.  It was unrelated to buying other gear; it's just coincidental that the Rainbow gear disa

[2015-12-20 15:02] nicolethenerd commented on #6386
Thanks! My user id is 8315c6c0-ca5d-4269-8018-1c2da04e0730

[2015-12-20 15:04] nicolethenerd commented on #6386
...I bought the Rainbow Warrior Helm at the same time, and that did not disappear, though - seems awfully coincidental that the only item I lost was the one I replaced.

[2015-12-20 15:43] Alys commented on #6386
Yes, it was a coincidence. Since you bought both together and lost only one, it's more likely that it was caused by a local storage sync error - the purchase of the Armor appeared to occur in your browser but was never sent to the server. Regardless of whether it was that or the time-period problem, losing it was not caused by buying another piece of gear. You have the armor back now.

[2015-12-20 15:43] #6386 closed, assigned to nobody

[2015-12-20 15:54] nicolethenerd commented on #6386
Makes sense, thank you! :-)

[2015-12-20 18:08] TheDamnedestCreature commented on #4252
@Alys Ah, thank you! :) I can see that now.
My friend tells me that he also didn't receive the rewards from the same quest (Gold Knight part 1), his ID is 103c29de-eeb3-4801-93cb-421e329b7381 ....
If you could give it to him as well, that would be very sweet, thank you~!

[2015-12-21 16:42] penguindigo opened #6387 "Weird item placement on avatar?"
User ID: 72a0ac9c-d3b9-4a36-a3bc-14451b64c319
Mac OS X 10.11 (El Capitan)
Safari

Sorry if there's an issue already for stuff like this: I couldn't find it.  I suppose it isn't a "bug" so much as a suggestion? It's not clear.

I've recently purchased (with Gems) the "Winter-lit Staff" for my mage.  I've found that, compared to other staffs, which my avatar holds in the middle of the shaft.  Sorta

[2015-12-21 21:27] Alys commented on #6387
I'm pretty sure this is by design since it's a year old now, but @lemoness might want to comment.

[2015-12-21 22:19] lemoness commented on #6387
This is intentional! It's part of the design because of the way the color schemes interact in the full outfit. However, if you don't like the way it looks after spending gems for it, let us know and we can turn it back into gems for you.

[2015-12-21 22:32] TheRealChief opened #6388 "Cannot start or end/cancel my partys quest on both PC and Mobile."
My party has been trying to begin the quest "Attack of the Mundane, Part 2: The Snackless Monster", and one of our party members doesnt play any more and didn't accept. All of my other party members have accepted, yet I cannot begin or even cancel the quest.

[2015-12-21 22:39] Alys commented on #6388
We'll need to be able to identify your account and your party. Please go to Help -> Report a Bug from the Habitica website and see step 6.

[2015-12-21 22:42] TheRealChief commented on #6388
6f698f1a-a086-4175-8528-33a592115814  - User ID
0799823a-285a-42b5-b78c-451434e1f6f8  - Group ID

[2015-12-21 23:18] convon11 opened #6389 "I was wondering if you exept code in python."
I was just wondering weather you except code in python?

[2015-12-21 23:26] Alys commented on #6389
I am sorry but no. For Habitica's own code, we accept only the languages already in use, which are listed in the "Technology Stack" section at the top of http://habitica.wikia.com/wiki/Guidance_for_Blacksmiths

However if you want to make any of your own third-party tools, you'd be welcome to use Python! There's a list on the wiki of some tools that other coders have already made: http://habitica.

[2015-12-21 23:26] #6389 closed, assigned to nobody

[2015-12-21 23:29] convon11 commented on #6389
thank you.

[2015-12-21 23:29] Alys commented on #6388
The quest that's currently showing in that party is owned by another player. Because they are the ones who own the quest scroll, only they can start it. If you post a message in party chat asking them to start it, they will hopefully do so! They will see a "begin" button in the quest box. You can find out who the quest owner is in the participants list of the quest.

[2015-12-21 23:29] #6388 closed, assigned to nobody

[2015-12-21 23:58] #6387 closed, assigned to nobody

[2015-12-22 01:01] ghost opened #6390 "Starting values stuck when reloading site"
Every time I open the site, it reloads all my information from a fixed starting point, even though it refreshes to my current stats. This started when Bailey's last notice popped up, and the load page starts with Bailey's notice every time (I always dismiss the message, to no avail). I'm stuck in a Groundhog Day of endless cron. I've included two pictures for comparison. In the first, I just opene

[2015-12-22 01:17] Alys commented on #6390
Log out (if you can), clear cache, cookies, and local storage (that part is important - google for how to do it for your browser; it can be different than clearing cache), then try again. Alternatively (especially if you're not able to clear local storage), try using another browser or using incognito/private mode in your current browser. Does any of that help?

[2015-12-22 01:31] veeeeeee opened #6391 "Subscription announcement email is missing a phrase"
Got an email regarding the message received when one has been gifted a subscription: "Congratulations, [receiving user]!

[giving user] has gifted you a 3 to Habitica! Now you'll get mystery items, disabled ads, and the ability to buy gems for gold! Head over to the site to enjoy the perks. "

Habitican 3s are possibly very useful, but I think we are missing the words "-month subscription" after t

[2015-12-22 03:47] ghost commented on #6390
Hi Alys,
I cleared the cache and cookies, but I can’t clear local storage. The problem is still there. I can open the developer in Firefox and look at the contents of storage, but I can’t seem to do anything to alter it. I don’t know enough about coding to know what to do about that. All the help I could find was far too technical for me to understand.

[2015-12-22 04:28] Alys commented on #6390
Sorry about that! We're currently building a tool to clear local storage with a single button-click, so this will become easier soon. Did the other browser or incognito mode help?

[2015-12-22 16:18] ghost commented on #6390
I took the problem to an IT friend who told me to hit Ctrl+Shift+R. Worked perfectly (so far). I don’t know why clearing the cache didn’t work while that did. Maybe recommend that as a first fix if you come across someone else like me with limited knowledge of developing.

From: Alys [mailto:notifications@github.com]
Sent: Monday, December 21, 2015 23:28
To: HabitRPG/habitrpg
Cc: lmking
Subject: R

[2015-12-22 20:53] #6390 closed, assigned to nobody

[2015-12-23 00:58] lemoness commented on #4618
Transparent backgrounds are done, and so are frogs, phoenix, and jackolantern! https://trello.com/c/8b70B8V6/36-mount-heads

Peppermint mount heads and Spooky mount heads are still in progress.

[2015-12-23 02:23] crookedneighbor commented on #4618
@lemoness I did the peppermint and spooky mount heads already :)

[2015-12-23 04:51] birchjosh opened #6396 "avatar and items don't show up"
the icons for my avatar don't show up, or any hairstyles and whathave you

[2015-12-23 05:19] Alys commented on #6396
Please try reloading the avatar customisation page. If that doesn't help, please go to Help -> Report a Bug from the Habitica website and see steps 6 and 7. We'll need the information there about your User ID and browser and OS.

[2015-12-23 06:38] lemoness commented on #4618
Aha! In that case, we should be set. I will notify the artist :)

On Tue, Dec 22, 2015 at 6:23 PM, Blade Barringer notifications@github.com
wrote:

[2015-12-23 09:59] Alys commented on #5750
After our senior devs finish some significant API changes, we are considering adjusting Rebirth so that it does not remove any of the limited edition Grand Gala equipment. I.e., the only class-specific equipment that would be removed would be the basic class gear.

We might also (at the same time or later), add an option so that hard-code rebirthers would still lose that gear.

[2015-12-23 10:13] lemoness opened #6397 "Accessibility Fixes for Visually Impaired and Blind Users"
From an email:

"I am blind and have recently stubled across this site and game and think it is both interesting and a real help to my own goals as well as fun. However, the site has a number of problems for the visually impaired and blind like myself.

For example, a number of buttons on the pages are not labeled and are simply assigned a number, for example, When my program (JAWS) one of the maj

[2015-12-23 15:37] birchjosh commented on #6396
I actually updated Firefox, and that fixed it

[code]

 To: HabitRPG/habitrpg habitrpg@noreply.github.com
Cc: birchjosh birchjoshua@yahoo.com
 Sent: Tuesday, December 22, 2015 10:19 PM
 Subject: Re: [habitrpg] avatar and items don't show up (#6396)

Please try reloading the avatar customisation page. If that doesn't help, please go to Help -> Report a Bug from the Habitica website and see steps 6

[2015-12-23 16:40] ghost commented on #6397
I will look into this for you.

[2015-12-23 18:00] #6396 closed, assigned to nobody

[2015-12-23 18:08] taldin opened #6398 "Mongo Database is missing"
Since we're headed into the holidays, I found a roundtuit, and I decided to test the latest version of the Setting up Habitica Locally instructions to my Windows machine using the non-Vagrant instructions.   I'm on the step that says 'Download Mongo and follow the instructions', except what happens is that I get a self-installing thingy and no instructions.

But more importantly... no database.  S

[2015-12-23 18:18] tobyfee commented on #5592
I used to work at New Relic and am still pretty tight with the Node team. Tons of memory leaks have been fixed in the last year that the agent caused, and for sure changing node versions (or to io.js) will alter behavior. Can I help getting this off the ground?

[2015-12-23 18:36] Alys commented on #6398
The wiki says, "Download the latest production release of MongoDB. Follow the instructions provided at the MongoDB website for installing and starting MongoDB." The download link takes you to https://www.mongodb.org/downloads and on that page just above the download button is an "installation instructions" link. Do those instructions help?

If they do, you could make that wiki sentence a bit more

[2015-12-23 18:39] Alys commented on #6398
The habitica database itself should be created automatically by the habitica installation process, although it would require that mongodb is set up and running first.

[2015-12-23 18:48] taldin commented on #6398
Yeah, I -think- I just got it working (used extra hammers) but the last time we did this I had a separate database directory for some unfathomable reason.   I know that you want people to use the Vagrant setup, but if you may recall, Vagrant hangs up on me all the time so I'm testing the windows version.

[2015-12-23 18:49] Alys commented on #6398
We have no objection to people not using Vagrant!

[2015-12-23 18:55] taldin commented on #6398
Okay. I got it working, and a part of it might have been that I needed to enable my Github shell to be a super user (not default; there's an error I get where it says I have to run as administrator) and nuke my old copies of the Node caches and stuff.    Also, the mongo instructions are wrong -- 'mongo' and 'mongod' just terminate for me -- I have to use 'mongod -dbpath .'

There are also some kin

[2015-12-23 18:57] taldin commented on #6398
('scary looking"  'Cannot find module ../build/Release/bson' code: Module_not_found'  )

[2015-12-23 18:58] taldin commented on #6398
But yeah. I had to do a bower cache clean and reinstall, so I'm going to clear everything out and start over and follow the instructions from scratch just to be sure I'm not introducing new steps we don't need.

[2015-12-23 20:04] taldin commented on #6398
All right.  Got it running; will be updating the Wiki.

[2015-12-23 20:04] #6398 closed, assigned to nobody

[2015-12-23 20:30] serverless-mom commented on #6006
I'm taking a look at this... right now I'm unsure what I'm doing wrong (for those playing from home I'm looking at chat-message.jade line 3) but I can't reverse the sort order, so I'm going to brush up my Angular and start on it again.

[2015-12-23 22:35] oktayacikalin commented on #3381
I'm also getting "Wir können Ihre Anfrage zurzeit leider nicht verarbeiten. Kehren Sie zu HabitRPG zurück, und wählen Sie eine andere Option aus.".
Any news on this topic?

**edit by admin** google translate says "We can make your request at this time, unfortunately, not process. Return to habitrpg back and choose another option."

[2015-12-23 23:23] TheHollidayInn opened #6399 "Error when subscribing with Paypal"
Hello,

When try to use the Paypal option for my subscription, I am getting the following error:
`{"err":"Cannot read property 'start' of undefined"}`

---

_edit by admin:_
### What to do if this happens to you:

Please comment below and tell us your User ID (to find it go to Settings -> API from the Habitica website). Please also state whether the PayPal transaction appears to have gone through

[2015-12-24 00:05] Alys commented on #6399
Sorry about this! We'll get it fixed up as soon as we can. You can be assured that if you are not able to subscribe before the end of this month, we will still give you this month's Mystery Items.

[2015-12-24 00:10] Alys commented on #6399
I've added this to the top post to ensure any other users who have this problem will see it:

_edit by admin:_

### What to do if this happens to you:

Please comment below and tell us your User ID (to find it go to Settings -> API from the Habitica website). Please also state whether the PayPal transaction appears to have gone through or not.

If you received a receipt from PayPal, please forward

[2015-12-24 00:33] TheHollidayInn commented on #6399
No worries! I'll take a look and see if I can fix it :) But, don't let that stop anyone else who wants to.

[2015-12-24 00:34] Alys commented on #6399
@TheHollidayInn I think Blade and SabreCat have already worked out what's wrong. :)

[2015-12-24 00:38] SabreCat commented on #6399
Yup. We're missing an entry for the eligible dates for the most recent mystery set. Should be now through Jan 2.

[2015-12-24 00:40] TheHollidayInn commented on #6399
Sweet! Thanks :)

[2015-12-24 02:15] ZahRey commented on #6399
Would this happen when subscribing using a credit card too? I just did that and I think something went wrong. I'm still seeing the option to subscribe and gems are not available to buy for gold. I got an email from my credit card saying it had been charged but I also saw a habitica error message (though unhelpfully I didn't write down what it was, and i tried to solve the problem by signing out an

[2015-12-24 02:20] SabreCat commented on #6399
Fixed in 7a41d36834f7a59622d6c198277a25c053148f0c.

@ZahRey, yes, this would affect subscriptions made in the last few hours using any payment method. If you go ahead and email admin@habitica.com, we'll get it sorted for you!

[2015-12-24 02:22] ZahRey commented on #6399
Thanks so much! Will do.

[2015-12-24 02:44] crookedneighbor commented on #3381
@oktayacikalin We'll need your user id to help you with this:

You can find it in [Settings > API](https://habitrpg.com/#/options/settings/api). Be sure to only copy the User ID and _not_ your API Token.

[2015-12-24 07:14] oktayacikalin commented on #3381
@crookedneighbor Sent you an email to [email address removed]. Thanks!

[2015-12-24 12:02] Alys commented on #3381
@oktayacikalin Please paste your User ID into a comment here. Blade might not be available to help you himself depending on his personal schedule, and pasting your User ID here allows any other admin to help. Putting your User ID here is not a security risk; mine for example is d904bd62-da08-416b-a816-ba797c9ee265 and that doesn't give anyone access to any private sections of my account.

[2015-12-25 06:20] oktayacikalin commented on #3381
@Alys Ok - here it is: 225d951f-145a-427a-82ce-095da32e1861

[2015-12-26 01:16] vinsonizer commented on #5182
I've forked the code and written a simple implementation of this that is working, but I am not sure how to contribute it back (new to git/github).  Can someone give me hints on how to do this and also how to get contributor credit (if possible)?

[2015-12-26 01:20] crookedneighbor commented on #5182
You can follow this guide to initiate a pull request: https://help.github.com/articles/using-pull-requests/

[2015-12-26 01:22] vinsonizer commented on #5182
Do i need to do anything with my user id for contribution?

[2015-12-26 01:26] vinsonizer commented on #5182
Thanks @crookedneighbor, got it worked out (i think).  If i don't get credit it is fine, but it would be neat to get the contributor badge.

[2015-12-26 01:37] Alys commented on #5182
@vinsonizer When a pull request is accepted and merged, we always ask for the submitter's Habitica User ID and use that for recording the contribution to a tier. You can add your User ID to your pull request now if you wish, although be aware that not all requests can be accepted (it's rare that one is rejected outright though).

[2015-12-26 02:36] Alys opened #6401 "immediate cancellation of new PayPal subscription shows the user a raw error message"
If you create a subscription with PayPal and then try to cancel it immediately, the notification that you can't do that yet appears as a raw error message in a page by itself, instead of in a dialog screen with an "ok" button to dismiss it.

[code]

![screen shot 2015-12-26 at 12 20 44 pm](https://cloud.githubusercontent.com/assets/1495809/12004915/e8c9c8de-abcc-11e5-9b79-17c4ecbc513d.png)

[2015-12-26 03:06] Alys commented on #3381
@oktayacikalin This seems to be the standard problem that many international users get -- i.e., PayPal doesn't let them create normal repeat subscriptions. However the workaround provided above by Lemoness on  Dec 5, 2014 (https://github.com/HabitRPG/habitrpg/issues/3381#issuecomment-65688043 ) will work for you -- you can use the gift subscription option to gift yourself with a subscription. Find

[2015-12-26 09:52] paglias commented on #6391
fixed

[2015-12-26 09:52] #6391 closed, assigned to lemoness

[2015-12-26 10:30] citrusella commented on #6397
Random comment: I believe fixing labeling issues might also solve problems with some speech recognition programs that I raised on the accessibility trello card a bit back, since it looks (to my untrained eye) like the button names my computer's speech program uses are the same labels a screen reader would use to identify content.

[2015-12-26 12:38] ghost commented on #6397
citrusella: that was my thought as well. I am having issues getting my dev environment setup (thanks holidays). Once the chaos is over I will dive deep and try to find a good solution for this issue.

[2015-12-26 14:57] vinsonizer commented on #5182
Ok, I am modifying it to use a angular.copy for a local working copy while editing.  This should be pretty light-weight and it would be all client side till the save button is used.  I will try to update later today and then see if i can figure out how to modify my pull request.

[2015-12-26 15:01] crookedneighbor commented on #5182
@vinsonizer When you push to your branch, your PR gets updated automatically.

[2015-12-27 01:03] crookedneighbor commented on #6344
Closed with https://github.com/HabitRPG/habitrpg/commit/7df3b333f62b39212c170cf6936bcdf35bf72eeb

[2015-12-27 01:03] #6344 closed, assigned to nobody

[2015-12-27 02:11] #6294 closed, assigned to nobody

[2015-12-27 16:19] Memry opened #6405 "Find the Cub says I should already have it but I don't"
My party completed Trapper Santa.  I purchased the quest Find the Cub from the Seasonal Shop and received a message that I have already earned Find the Cub by completing Trapper Santa and did I really want to spend the gems.  I went back to my inventory page.  No quest.  Checked Trapper Santa and it does not say you earn the Find the Cub quest scroll.

I do not need anything from this.  I'm good w

[2015-12-27 16:36] crookedneighbor commented on #6405
I think the wording is that you've unlocked the quest, which is intended to convey that you are allowed to purchase it and start it, not that it was awarded to you. I agree though, that the phrasing is a little confusing.

@alys, @lemoness thoughts on changing it? This is not the first time this confusion has come up.

[2015-12-27 17:30] Memry commented on #6405
It actually said - "You already earned this quest by completing Trapper Santa. Buy this quest with 4 of your gems?"

[2015-12-27 20:01] Alys commented on #6405
It's treating the Santa quests in the same way that it treats the newer Quest Line quests - i.e., it's behaving as if the first Santa quest gives you a scroll for the second one. The wording is mostly appropriate for the newer Quest Lines because you probably don't want to buy the quest scroll, but wrong for the Santa quest.

Possible solutions are:
- adjust the first Santa quest so that it does g

[2015-12-27 20:01] Alys commented on #6405
@Memry Thank you for taking the time to mention this to us!

[2015-12-27 20:35] joeywoneill opened #6406 "Have to Refresh Page to See Changes to Party"
I have to refresh the page to see changes to the party and their costumes.

[2015-12-27 21:03] Alys commented on #6406
Hi @mrcheepers. That's actually deliberate in the current design of the site, rather than a bug. If the normal sync process synced all information about your party mates, it would be much slower, and because syncs happen every time you take an action, the slowness would be a significant problem. You can see a discussion about this at https://github.com/HabitRPG/habitrpg/issues/4235 and you might l

[2015-12-27 21:03] #6406 closed, assigned to nobody

[2015-12-27 22:28] Zer0t3ch commented on #6356
@pnrich So is this something that needs to be changed?

[2015-12-27 22:37] pnrich commented on #6356
It may be something to refer to the designers and pixel artists, but the code is working exactly as it should.

[2015-12-27 23:07] Zer0t3ch commented on #6356
Okay, fair enough. Thanks.

[2015-12-27 23:45] crookedneighbor commented on #6356
@lemoness Please review this issue.

![gryphon and party robes](http://i.imgur.com/V5HoHAf.png)

[2015-12-27 23:59] edwardet opened #6407 "Cannot cancel subscription"
I'm attempting to cancel my HabitRPG subscription, but running into a consistent error. When I click through to cancel, regardless of browser, I'm either taken to a page reading "{"err":"Cannot read property 'current_period_end' of null"}" or the page simply refuses to load. This has happened several times, on Chrome/Edge/Explorer, on two different computers. Only one Javascript error is thrown, a

[2015-12-28 00:20] Alys commented on #6407
That's a sign that your subscription has already been cancelled in the past by our payment processor company, Stripe, due to multiple failed payments from your debit card. The cancellation was not sent through to our systems so your subscription continued unpaid. I've deleted your subscription information from your Habitica account to complete the cancellation.

[2015-12-28 00:20] #6407 closed, assigned to nobody

[2015-12-28 06:19] pnrich commented on #4648
I've almost finished this, but one part has really got me stuck. I'm trying to have the text from part 4 (modifying blurbInbox) include a mailto link to leslie@habitica.com. However, it's not accepting it as a link, and in my tests, the whole <a> tag shows up instead of a link. This is weird, because links appear elsewhere in translated strings, and function properly, for example in groups.json:

[2015-12-28 06:31] omalora commented on #4252
Hi, I was told this was the place to report a bugged quest. My party finished the Trapper Santa quest some days ago and I don't seem to have received the mount.

UUID: 92796c27-a221-41f6-b186-3c947c731d5a

[2015-12-28 08:42] HabitualPhoenix opened #6408 "Challenge API allows to create challenges that cannot be deleted, and seem to cause UX malfunction"
It seems that the API allows to create guild challenges that 1) it will not be possible to delete, either through the API, or the UI; 2) will make the guild page not loadable for any of the guild's members; and 3) will make the challenges page filters malfunction for the challenge owner.

I think the problem is related to accepting values for the `id` fields in the `"todos"`, which might then lead

[2015-12-28 09:20] Alys commented on #4252
@omalora That's fixed for you. Please reload if you don't see the changes straight away.

[2015-12-28 09:22] Alys commented on #4252
@TheDamnedestCreature That's fixed now for 103c29de-eeb3-4801-93cb-421e329b7381. I'm sorry about the delay; I forgot. :(

[2015-12-28 09:27] Alys commented on #4648
@pnrich I think using `!=env.t('....')` rather than `=env.t('....')` (note the ! mark) will help with that.

[2015-12-28 09:31] Alys commented on #6408
pinging @paglias and @crookedneighbor since this is probably something we'll want to prevent the API from doing.

I'll clean up the bad challenges and anything else that might need fixing. If I find any interesting data, I'll post it here.

[2015-12-28 09:46] paglias commented on #6408
Hmm.. definitely not something we want to happen. It's going to be impossible to do something like this in API v3, for now though it seems a bit of an edge case

[2015-12-28 09:50] Alys commented on #6408
From the user document (note the use of `null` as a challenge id):

[code]

From the group document (note the TWO challenges with `null` as a challenge id):

[code]

`db.challenges.find({}, {'_id':1})` returns 9394 challenges with normal values for `_id` and also the two below. None have a value of null for `_id`.

[code]

@HabitualPhoenix Don't take those "note..." comments as being directed at y

[2015-12-28 09:52] paglias commented on #6408
@Alys

sounds like a good slogan :)

[2015-12-28 10:05] Alys commented on #6408
:)

I have:
- deleted those two challenges
- removed the `null` value from the user document's challenge array
- removed the two `null` values from the group document's challenge array

That should sort out the problems listed above. @HabitualPhoenix tell us if anything is still broken. (I've seen your second email and am dealing with that now but I don't think that will affect the things you've r

[2015-12-28 10:06] HabitualPhoenix commented on #6408
@Alys Thanks a lot! I will let you know if I come across anything strange.

On your previous comment, it would've certainly helped if I knew better what I was doing :)  I was not sure which, and if any, values needed to be given to the ID when a new resource was created. I was hoping that POSTing to the general `challenges` route would lead to a new object creation, which would then, I reasoned, r

[2015-12-28 10:16] Alys commented on #6408
I can understand how it seemed that way! I believe the best approach is to completely delete the `_id` key and its value from the data that you're about to import. The database will then fill one in with a value that it's happy with (the same applies to any ids anywhere in the data). You can also do the same for fields like `dateCreated`, and I think pretty much any of the others if you're happy t

[2015-12-28 10:21] Alys commented on #6408
In the user document, tasks from the bad challenges have this in their data:

[code]

As @HabitualPhoenix reported by email, some of his tasks that were NOT from those challenges have this data:

[code]

I'm hoping that's a once-off glitch related to the challenge weirdness, rather than a problem that might reoccur. Regardless, once API v3 is in place, this sort of thing shouldn't happen any more.

[2015-12-28 10:28] HabitualPhoenix commented on #6408
I'd add that _all_ of my own tasks (habits, dailies, and todos) had this problem. None of them were a part of any challenge at all.

In fact, only the tasks assigned to me as a part of other challenges were OK (and a couple of tasks I added after the incident).

[2015-12-28 10:54] Alys commented on #6408
Not all of your To-Dos had this problem when I investigated them. Some had `"challenge": {},` and some had a proper challenge ID in that object. I'm certain of that because I was checking the challenge objects carefully. However I was avoiding looking at the other To-Do data as much as possible, so perhaps the unaffected To-Dos were created after the challenge mishaps.

I have worked out why non-c

[2015-12-28 11:23] HabitualPhoenix commented on #6408
Yes, I am pretty sure those not affected were created later. I added a couple of todos before I realized this was happening, and also recreated a few, once I did.

Your explanation about looking for a `null` ID and hitting all tasks with no challenges makes a lot of sense. I guess, the only remaining mystery is the two strange non-null `_id` values in `db.challenges`...

Almost all of my tasks are

[2015-12-28 19:17] lemoness commented on #6356
So, we could re-layer the art for the gryphon to prevent this from happening, which I think would probably look better. I'll add it to the list of things we need on Trello.

[2015-12-28 19:24] pnrich commented on #4648
That did the trick. Creating a pull request soon.

[2015-12-28 19:42] camachoborracho commented on #5953
This can be somewhat resolved although it is a little confusing and scary at first if you have a large checklist:

Simply click the check mark (i.e. save) and all things that "disappeared" are there again.

That being said - and maybe I need to open a new issue on this one as it is related but different -
once one moves the empty checklist up (whether 1 or more spots) _one can no longer add checkl

[2015-12-28 20:00] lemoness commented on #6405
I also like the third option best!

On Sun, Dec 27, 2015 at 12:02 PM, Alys notifications@github.com wrote:

[2015-12-28 21:31] ryanaraki commented on #4252
Party finished Find the Cub quest but no cub pet, can you please check?

Party: 0362556c-3fdf-4e93-8040-a5bac13acbb1
User: 4ac45ccc-dd04-4d17-aaa9-9f30ea1fa1b7

Thank you!

[2015-12-28 21:43] Alys commented on #4252
@ryanaraki I've given the quest rewards to the party members who I can identify as having been on that quest. Let me know if I missed anyone.

[2015-12-28 21:50] Alys commented on #6408
@HabitualPhoenix _"the only remaining mystery is the two strange non-null _id values in db.challenges"_   That's a standard mongod thing: https://docs.mongodb.org/v3.0/reference/object-id/ . I believe that normally we don't see that style of ID because our own code supplies IDs in a different style first.

[2015-12-29 02:13] alexllg opened #6411 "Facebook log in issue on Android app"
When using the android app, I can't login with Facebook, it shows an error saying something closer to this: "This URL is invalid. This app must use a valid URL, I mean, an URL which Facebook permits access to your Facebook account."

[2015-12-29 02:21] TheHollidayInn commented on #6399
Okay, to follow up, here is my userID: 206039c6-24e4-4b9f-8a31-61cbb9aa3f66 .

Paypal shows that I have an active subscription to Habitrpg. I had two active subs (because I tried to pay twice), but I cancelled one of the subs. However, my habit account doesn't show me as subscribed.

[2015-12-29 02:22] Alys commented on #6411
Please ensure that you're using the new "Habitica" app, which has a purple and white gryphon logo, and not the old "HabitRPG" app (brown chest logo), which is no longer supported.

Also make sure that you're using the latest version of the Habitica app, so check the Play store to see if there's any updates. After you've installed that, if needed, clear the apps data and then try logging in again.

[2015-12-29 02:22] #6411 closed, assigned to nobody

[2015-12-29 03:17] Alys commented on #6399
@TheHollidayInn I've refunded both PayPal purchases and cancelled both PayPal profiles so that they shouldn't charge you again next month. However it would be wise to check on or after 23 January to make sure you haven't been charged.

The `purchased` object in your Habitica user account is clean so you shouldn't have any trouble creating a new subscription now. Sorry about the bother! If I'd trie

[2015-12-29 03:21] cmlobue commented on #1471
I've been trying for four days to end this challenge.  Same error every time.

Name: Fall 2015 School Habit Challenge
URL: https://habitica.com/#/options/groups/challenges/7b9e1810-3d78-45db-abf5-7045cbe924cf
Award: 3 gems
Winner: moiseaux

Thank you!

[2015-12-29 03:23] Alys commented on #1471
@cmlobue Sorry about that! I think that challenge is actually due to be closed, and it's likely that the only reason it's still open is that the owner gets a similar error when they try to award a winner. I'll contact them about it. If they say that the challenge should be left open longer, I'll add you to it.

[2015-12-29 03:24] Alys commented on #1471
@cmlobue Can you please just completely ignore that idiotic message from me? :) I'm so used to people asking to join challenges that I didn't read it properly.... I'll close it for you now and award the prize to the winner. Thanks for letting us know about this. :)

[2015-12-29 03:25] cmlobue commented on #1471
@Alys I am the owner.  I know it's odd that I'm not also participating, but I am not a student myself.

[2015-12-29 04:00] Alys commented on #6399
I'm closing this since we've fixed the code that caused the bug, but if you're still having trouble, keep posting here and we'll keep helping.

[2015-12-29 04:00] #6399 closed, assigned to nobody

[2015-12-29 04:21] ryanaraki commented on #4252
@Alys thank you so much!

[2015-12-29 04:45] TheHollidayInn commented on #6399
Sweet. Everything is working now! Thanks!

[2015-12-29 04:47] Alys commented on #6399
Thank YOU for subscribing!

[2015-12-29 09:41] GeorgeSG commented on #4104
Just a reminder - this is fixed with the merging of my PR and should probably be closed :)

[2015-12-29 09:50] Alys commented on #4104
@GeorgeSG Thank you! :)

[2015-12-29 09:50] #4104 closed, assigned to nobody

[2015-12-29 10:45] habitrpguser commented on #3381
@oktayacikalin I just want to confirm everything @Alys said above. I've just gift-subscribed myself for a year for the second time. It works great. It does everything you'd hope for (and **great praise to the coders** for that!): If you gift yourself before the previous subscription runs out, the new one starts from the day the old one runs out, not from the day you made the gift subscription onli

[2015-12-29 19:02] rhymeswithsarah commented on #4819
I'm also having a problem with hourglasses. At my most recent renewal (for three months), I didn't receive my mystic hourglass. And the mystic hourglass from the three-month renewal before that, I didn't use right away - and it disappeared when I took the Orb of Rebirth! So I'm missing two hourglasses now :(

UID: 505fa139-f5ff-4447-92ac-7b9ea669f880

[2015-12-29 21:55] GeorgeSG commented on #6006
@tobyfee, I'm not sure from your comment - are you working on this? If you're not, I'd like to take a look at it :)

[2015-12-29 22:07] serverless-mom commented on #6006
@GeorgeSG Please feel free to take this on, I'm a bit absorbed in some other accessibility issues and it will take me several days to get back to this.

[2015-12-29 22:08] GeorgeSG commented on #6006
@tobyfee, Thanks! I'll give it a go :)

[2015-12-29 23:03] Alys commented on #4819
@rhymeswithsarah I'm looking into this for you. Can you tell us please approximately when you used the Orb?

[2015-12-29 23:15] Alys commented on #4819
@rhymeswithsarah You have a six-month subscription, not a three-month subscription. When it was started, six months ago, you would have been given two hourglasses then. I can see that you have Mystery Items for 2014-04 and 2014-08 (both from before your subscription started), so it looks like you did use both Hourglasses and you haven't lost any that you had been given (so you don't need to tell u

[2015-12-30 04:45] daggerdragon commented on #6397
I have some free time this weekend and I will see what I can do to help with labeling, ARIA compliance, etc as well.

[2015-12-30 06:01] anshbansal opened #6419 "Difference between habits and dailies"
Hi

I am new to Habitica. There needs to be better explanation of the difference between habits and dailies. It is really confusing.

[2015-12-30 06:04] anshbansal opened #6420 "Feature request | current streak"
Hi

It would be great if the current streak is shown for habits like many other habit apps. Streak of how many days we have been doing a particular habit consecutively. The graph is fine but it appears if we click on the button. A simple number alongwith the description would be great.

[2015-12-30 06:05] anshbansal opened #6421 "Feature request | indication of something done today or not"
Hi

Currently habits do not show whether it was done today or not. It is a problem as I might have clicked on that today but there is no indication showing that

[2015-12-30 06:34] Alys commented on #6421
Hi @anshbansal GitHub is used primarily for reporting bugs. Feature requests are done through the Help -> Request a Feature menu item on the Habitica website. I'm closing the issues that you logged, however I'll provide tips on each about how to best request them.

For this one, you should read through the Help -> Request a Feature instructions first, but then the cards you want might be one of th

[2015-12-30 06:34] #6421 closed, assigned to nobody

[2015-12-30 06:35] Alys commented on #6420
As mentioned in https://github.com/HabitRPG/habitrpg/issues/6421 have a look through the Help -> Request a Feature card, and then the card you want to comment on might be one of these: https://trello.com/c/wYKm5cS5/98-reports-statistics-history-log-enhanced-graphs-meta-data or https://trello.com/c/1d1BqCM1/144-mastered-habits-dailies or https://trello.com/c/cwQvDQI9/208-habits-v2-expected-habit-fr

[2015-12-30 06:35] #6420 closed, assigned to nobody

[2015-12-30 06:41] Alys commented on #6419
As mentioned in https://github.com/HabitRPG/habitrpg/issues/6421 , Help -> Request a Feature is the best place to make feature suggestions, but first, I'm just checking: Are you using the Habitica website (habitica.com) or a mobile app? If you've only used an app so far, I recommend the website. Above each task column is a "?" icon which gives you information about each task type. Also, from the m

[2015-12-30 06:41] #6419 closed, assigned to nobody

[2015-12-30 13:23] oktayacikalin commented on #3381
@Alys @habitrpguser Thanks - had to find a way to actually find a page having that button :). I'm a noob here so it took some time but now it worked fine!

[2015-12-30 14:55] Alys commented on #3381
@oktayacikalin Thanks for the feedback! It sounds like the instructions on the wiki page I linked to weren't anywhere near clear enough! Would you like to edit that section of the page to put in instructions that would have helped you had they been there? Or would you like to post some suggestions here and we'll update the page?

[2015-12-30 17:35] PrincesseGrenadine opened #6422 "Special character in the gift subscription message box causes error/blockage"
Hello! So, a week ago I wanted to gift my sister a subscription.

I tried twice through the credit card process, completing the card information and everything, and it didn’t work. I got a message saying {"err":"Unexpected end of input"}, and I didn’t know if the payment had been made.

It seemed it hadn’t cause I didn’t get any message, so after a while I tried again through Paypal: it opened a p

[2015-12-30 18:16] Alys commented on #6422
Confirmed from my account. `&` in the message causes `{"err":"Unexpected end of input"}` after clicking on the paypal button.

@PrincesseGrenadine Thank you very much for letting us know!

[2015-12-30 20:35] PrincesseGrenadine commented on #6422
@Alys you’re very welcome :)

[2015-12-30 23:01] oktayacikalin commented on #3381
@Alys I could open my stats view by going into social -> group and clicking on my name. Is there an easier way?
Sure - I could update the wiki page.

[2015-12-30 23:30] Alys commented on #3381
@oktayacikalin No, that's the recommended method from the wiki page. Sounds like it's okay, but feel free to clarify it if you think it needs it.

[2015-12-31 00:03] serverless-mom opened #6426 "Cannot use JAWS or other screen-readers with many pages"
Trello commenter "@Bookrage" mentioned some accessibility issues for the blind and I asked for some more information. He sent me a more complete writeup of what working.

I use JAWS (Jaws Accessibility With Speech.” One of the two big screenreader programs for Windows and I use Internet Explorer 11 as my browser. (Jaws works okay with Firefox but it actually handles Habitica better with IE oddly e

[2015-12-31 00:04] serverless-mom commented on #6426
All but one of the concerns mentioned here should be resolved by PR's that are currently open (I still haven't figured out how to add labels to the shop in the tasks view, but soon!)

[2015-12-31 00:35] GreyMage opened #6427 "Able to select locked avatar skins / hairstyles / shirts without purchasing with gems."
User ID: f96fd5ef-3a77-4913-8d2f-ec8af90b77b2
Browser: Firefox
OS: Windows 7

I'm a programmer so I prod things. I noticed that one is able to "select" locked avatar styles.

I've also tested shirts and skin colors, so I assume the bug is general to avatar customization in general.

[2015-12-31 00:56] Alys commented on #6427
@GreyMage Thank you very much for reporting this! That's some great detective work. The details will be very helpful to us, however I've removed them from this issue so that they don't act as hints for others.... :)  All of the admin team has your original, full report in emails that github sent us, and I'm also copying your text to another location where we can access it. If you'd like a copy for

[2015-12-31 01:09] GreyMage commented on #6427
@Alys Thanks!

I would love to make a pull request with a fix but I haven't actually spent any time reviewing the Habitica codebase, so I fear that might simply delay a patch.

Maybe next time I can make a pull request but for now I'd rather leave it to someone more familiar with the system. :)

[2015-12-31 01:12] Alys commented on #6427
No worries. :)

If you'd like to start coding for Habitica at any time in the future, have a look at Guidance for Blacksmiths
 on the wiki at http://habitica.wikia.com/wiki/Guidance_for_Blacksmiths and join us in the Aspiring Coders guild. You'd be most welcome there!

[2015-12-31 02:09] crookedneighbor opened #6429 "Write Tests for Angular Payment Service"
There are currently no tests around this file: https://github.com/HabitRPG/habitrpg/blob/develop/website/public/js/services/paymentServices.js

[2015-12-31 02:29] crookedneighbor opened #6430 "Convert API (v2) Integration tests to use the new `await` syntax"
[This PR illustrates](https://github.com/HabitRPG/habitrpg/pull/6423/files) how to do the conversion.

Notice that each `before/beforeEach/it` blocks callback function has been replaced with `async function`

This allows use to use the `await` keyword to wait for the promise to resolve and it returns the value that the promise resolves with.

Files that need to be updated in `test/api/v2`
#### gro

[2015-12-31 02:40] crookedneighbor opened #6431 "Convert API (v3) Integration tests to use the new `await` syntax"
[This PR illustrates](https://github.com/HabitRPG/habitrpg/pull/6423/files) how to do the conversion.

Notice that each `before/beforeEach/it` blocks callback function has been replaced with `async function`

This allows use to use the `await` keyword to wait for the promise to resolve and it returns the value that the promise resolves with.

tests in test/api/v3/integration in the api-v3-groups b

[2015-12-31 04:10] TheHollidayInn commented on #6431
I can get all the group and chat tests converted/created. I am already working on a PR with many group routes, so it would be a simple extension.

[2015-12-31 11:15] tcrwt opened #6433 "String 'mysterySet201512' not found in Time Travelers"
There's a string not found in Time Travelers. See image:

![image](https://cloud.githubusercontent.com/assets/6892123/12063965/89dab63a-afaf-11e5-9779-c9d60ac8aae2.png)

Using Chrome on Windows 10
My User ID: 5a86b405-e61b-4ba2-91fd-48fe99bce2ed

[2015-12-31 11:51] #6433 closed, assigned to nobody

[2015-12-31 11:52] Alys commented on #6433
Thanks very much for letting us know! The fix for this will appear on the website soon.

[2015-12-31 13:54] kawunngg opened #6434 "Today i got attribute points over lvl 100..."
Hello all,

today i got the notification that i have unallocated attribute points. my character is lvl 141 and i allocated them all some while ago. so i went to the character page and could allocate those points. (141 in total now.) after refreshing they are still there.

i think i leveled up today, but i'm not sure when the attribute points appeared.

My user ID is ce935e7f-00e6-44bc-a44a-5280553

[2015-12-31 14:02] Alys commented on #6434
Confirmed - see stats below.

@kawunngg Thank you for reporting this!

[code]

[2015-12-31 14:06] d6felix opened #6435 "Quest Accept/Decline buttons don't show up, Firefox"
Windows 7, Firefox 43.0.3, Quest Invitation: Attack of the Mundane, Part 1: Dish Disaster!
In party window i can see pending for new quest, but buttons don't show. Everything works in Internet Explorer.
User ID: e60a6155-25ca-4273-911c-51942ee40bf2
Group ID: b1b47025-a1d7-4f79-99be-4c6c3dc94bd9

[2015-12-31 14:10] crookedneighbor commented on #6434
Probably related to https://github.com/HabitRPG/habitrpg/pull/6312

@TheHollidayInn Mind investigating?

[2015-12-31 14:16] Alys commented on #6434
In a database backup made on 2015-12-28, kawunngg's stats added up to 97 while the level was 140. That probably indicates three deaths after level 100 was reached and the latest code allows gaining of stats after level 100 if the total stats are less than 100.

[2015-12-31 14:22] Alys commented on #6435
@d6felix Sorry about this!

Could you please show us a screenshot of what it looks like in Firefox?

[2015-12-31 14:35] crookedneighbor commented on #6434
Probably because it doesn't take into account unallocated stats.

[2015-12-31 14:35] crookedneighbor commented on #6434
My bad, I should have caught that while reviewing the PR.

[2015-12-31 14:51] kawunngg commented on #6434
oh? only three times? i die a lot. :-D

in fact i wasn't sure if i really had 100 points total before i allocated the new ones. but if i had not 100, this means the lost points weren't allocated to me after levelling up if i lost them. well, not before today?
if i only had 97 on 28th then i should have had 3 unallocated points. i'm sure i did not have them in my notifications, but can't say if the

[2015-12-31 15:09] wraithan commented on #5592
New Relic node agent engineer here: https://discuss.newrelic.com/t/an-update-on-memory-management-in-node-js-perception-vs-reality/31934 is worth mentioning.

Was looking at this project to contribute while I'm on PTO since it is node-y. I noticed in https://github.com/HabitRPG/habitrpg/commit/8ea69e90dd4c72ce41d82492ceb8fb9ed2ddc794 @paglias re-enabled the node agent. Unfortunately it is pretty l

[2015-12-31 15:23] nobugsplz opened #6436 "Habit Task Value doesn't increase or decrease in iOS app."
EDIT: It does increase to higher levels but doesn't decrease. On the web app it shows a slightly red bar, on the iOS it shows a yellow bar

I've been using Habitica for a few days and this is getting a bit annoying.

I use my phone for most everything instead of my computer (it's just easier) and this isn't helping when I have to go on my computer to log habits and get credit for it.

Basically, w

[2015-12-31 19:36] jclevine opened #6437 "503 Service Unavailable error using batch-update."
This just seemed to start happening literally within the last 30 minutes. I tried refreshing multiple times to no avail. Just before this started happening, I sold a bunch of eggs/potions in succession (hence the batch, I assume).

Attached is the webpage error as well as much of a traceback as I could fit into a screenshot (I didn't have logging enabled at the time).

![habitica_app_error](https:

[2015-12-31 19:42] ghost commented on #6437
I'm seeing the same thing.
![habitica page errors](https://cloud.githubusercontent.com/assets/16504228/12067713/be9050a2-afcc-11e5-9f42-3b2044b05cf1.png)

[2015-12-31 19:50] DarkPassenger86 opened #6438 ""Application Error" - Changes are not saved"
Hi. I browsed the help forum but didn't see anything similar to this issue.

I have been receiving an "Application Error" all day. It shows up whenever I try to mark off a task or create a new one or basically change anything at all on Habitica. The error message comes up and says that an error has occurred and that any changes may not have been saved (and they never are saved), and then it says t

[2015-12-31 19:54] striglia commented on #6438
Same for me. In the browser console, I see:

[code]

[2015-12-31 20:19] Alys commented on #6434
@kawunngg It might have been more than three, but three recently enough to show up in your data. :) There's a relatively new bug that's causing you to be given more attribute points than you should be able to have, but it only happens if you die at least once after passing level 100. We'll get that fixed soon, and then the excess attribute points should disappear the next time you die or rebirth.

[2015-12-31 20:23] Alys commented on #6436
Sorry about this @nobugsplz!

On the app, could you please go to Menu > About > Report a Bug and describe this problem there? That's the best way to report app bugs because it sends details about your device (nothing that should be private) to the app developer. Alternatively, you could email mobile@habitica.com, or post to the [habitrpg-ios GitHub repository](https://github.com/HabitRPG/habitrpg-

[2015-12-31 20:23] #6436 closed, assigned to nobody

[2015-12-31 20:32] megbkwyrm commented on #4062
I'm having a related problem, I think--I can't get rid of a challenge task ("mail it") for a long ago challenge. There's no trash can button on the task, and the challenge is no longer showing up anywhere. Is this just me being an idiot, or a bug? (User id: 8e140422-dfc5-4173-adaf-c9d1948866ef
)

[2015-12-31 20:39] megbkwyrm opened #6439 "Challenge task for completed/removed challenge can't be removed?"
I can't get rid of a challenge task ("mail it") for a long ago challenge. There's no trash can button on the task, and the challenge is no longer showing up anywhere. Is this just me being an idiot, or a bug? (User id: 8e140422-dfc5-4173-adaf-c9d1948866ef )

[2015-12-31 21:05] Alys commented on #6439
@megbkwyrm Please see this issue for the fix (in bold near the top of the issue): https://github.com/HabitRPG/habitrpg/issues/2763

[2015-12-31 21:05] #6439 closed, assigned to nobody

[2016-01-01 01:16] megbkwyrm commented on #6439
Thank you! Sorry I couldn't find that topic on my own. I did look around a bit before asking, but apparently not long enough!

[2016-01-01 01:18] Alys commented on #6439
No worries. :) There are a lot of topics to look through!

[2016-01-01 11:54] Rmntdrawings commented on #6350
I would like to be added to challenge, which url is: https://habitica.com/#/options/groups/challenges/a34025ca-7bf1-4efc-b01e-85988532e206, my used ID is 62e97649-48df-49df-bd0e-4129e6f42d45. thank you :)

[2016-01-01 12:13] eiron opened #6440 "Unable to interact with Tasks page"
Hey, so I think I finally completely overwhelmed the website at long last and now I am unable to interact with the main page whatsoever. I cannot add tasks, remove tasks, mark tasks as complete, purchase rewards or items*, or cast spells. Can somebody look into this for me?

*And while at it, would it be possible for you to take 12 gems from my account and give me the current collection of seasona

[2016-01-01 12:14] eiron commented on #6440
(I think it time I tidy up my to-do list - all these ideas, and not enough time! I am at least able to add new tasks through Android's Habitica app.)

[2016-01-01 13:15] janetmango commented on #4819
I just paid my 6-month block subscription on 12/25/2015 but didn't receive my 2 Mystic Hourglasses.  However, I don't know if I'll need them since I have all the items from the Time Travelers shop already....???  Thanks in advance.

[2016-01-01 15:49] ghost opened #6441 "Not in party anymore and quest invitation keeps popping up"
Yesterday at half past eleven, I was still in my party (named Heroes and Villains, I cannot post the party ID because I'm not in there anymore) and am no longer in it this morning. I don't know why and haven't gotten a response from a party member yet. I received the items from our last quest and now the invitation to the new quest keeps popping up randomly when I reload the page. The quest is "Th

[2016-01-01 16:10] IstraLouise commented on #6438
I just started seeing this as a problem this morning at 8:05 PST.. I get an application error twice on my screen that will not go away, even if I reload the page as it says to do.

User ID: f3d96171-562a-4100-a78e-a3792981d837

I am using Firefox 43.0.2 on Windows 10. I didn't start having the problem until I visited The Sandbox from the Guild Leaders and Challenge Creators link to it.  To be fair

[2016-01-01 16:39] crookedneighbor commented on #6438
I've restarted the app. Should be good now. Please refresh your browser.

[2016-01-01 16:39] #6438 closed, assigned to nobody

[2016-01-01 16:39] crookedneighbor commented on #6437
I've restarted the app. Should be fine now.

[2016-01-01 16:39] #6437 closed, assigned to nobody

[2016-01-01 16:50] d6felix commented on #6435
Quest alredy begun. Once we start another - i post screenshot, if bug occurs again.

[2016-01-01 16:57] crookedneighbor commented on #6435
Just tried it in Firefox and the buttons are there. Going to close this issue now, but if the bug occurs again, please re-open it with a screenshot.

[2016-01-01 16:57] #6435 closed, assigned to nobody

[2016-01-01 17:12] crookedneighbor commented on #6430
Updated all the tests to use async with:

[code]

https://github.com/HabitRPG/habitrpg/commit/69c5192f70ab1d6415639ac4f29cc2c770c42c69

[2016-01-01 17:12] crookedneighbor commented on #6430
Still needs work to convert the promises to use `await`

[2016-01-01 18:48] pnrich commented on #6401
I've looked at this, and it's pretty clear why this happens. This is from `website/src/controllers/payments/paypal.js`:

`var parseErr = function(res, err){
    //var error = err.response ? err.response.message || err.response.details[0].issue : err;
    var error = JSON.stringify(err);
    return res.json(400,{err:error});
}`

This function returns a json stringified error straight to the browser

[2016-01-01 19:10] nikhiljha opened #6442 "Can't load challenges page."
When I go to Social > Challenges I get an error and no challenges are listed.

Screenshot of Red Box: https://gyazo.com/8112f33869cbca9bfae19ee26caec33b
Screenshot of Relevant Chrome Console: https://gyazo.com/6a66dda8068eeef600404b412cb19298

I have tried reloading the page, on reload I get the error.

My user ID is f32b16d6-dc03-4122-82bb-373fb145c3ef
and I am on Windows 10/Latest 64bit Chrome B

[2016-01-01 20:24] Alys commented on #6441
@Liobia The party leader has the ability to remove people from the party so that is most likely to be what happened. They are able to give a reason for it, but that's not mandatory. They would have removed you after the quest invitation was sent, which is why you were seeing the invitation. I have deleted it now. Please reload the site if you see it again.

[2016-01-01 20:24] #6441 closed, assigned to nobody

[2016-01-01 20:55] Alys commented on #6442
You're in a couple of popular challenges that are exhibiting bugs because they have too many participants for the site to handle, and that's probably what's causing this error. I've spoken to the challenge owner in the past about them but they hadn't asked me to take action. However now I've deleted one of the challenges ("When You Are Mad Count to 10 1 week challenge") since it didn't have any ta

[2016-01-01 20:57] Sepehr2016 opened #6443 "A typo in the Habitica's homepage"
I recently found a small typo in the Habitica's homepage. In the "Players use Habitica to manage..." section and in the "Chores" tab; at the left side of the page. The title is "Sample Dailies" but below it are habits!

[2016-01-01 22:13] Alys commented on #6443
Thanks very much @Sepehr2016 !

The same thing occurs for "Goals".

I'm fixing this now.

[2016-01-01 22:18] Alys commented on #6443
Hmmm, actually, @lemoness we should get clarification from you.

"Goals" and "Chores" both have tasks that are formatted like Habits, but the text indicates that maybe they're meant to be Dailies. For example, "20 mins of housework" is there as a plus-and-minus Habit, but the minus doesn't make much sense in that context.

Also, none of the sections currently contain Dailies that are formatted as

[2016-01-01 22:43] Alys commented on #6442
The owner has replied about the other challenge, with a requested winner, so I've assigned the winner and deleted the challenge.

I'm pretty sure this should fix the problem you were having viewing the challenge page, so could you please reload the site using your browser's reload or refresh button, and then after that, go to Social -> Challenges.

Comment here if you still get the error!

[2016-01-01 22:43] #6442 closed, assigned to nobody

[2016-01-01 23:37] kawunngg commented on #6434
thank you all for your efforts for habitica! :)

[2016-01-02 00:00] theLastStar opened #6444 "Not getting drops"
I have been getting very little to none drops during the past few levels, pretty sure since I chose to become a rogue - not sure if there is a causality or not. For the past three levels, I have received one food item and perhaps one egg, despite the level progression taking longer than during the first ten levels when I received drops with normal frequency.

How much I check off typically during

[2016-01-02 01:01] Alys commented on #6444
Drops are random (both the item you receive and the chance of receiving an item), so it's not impossible for a player to go through a period of getting few drops from nothing but bad luck rather than a bug.

Over the next couple of days, maybe longer, I'll dump your items owned to a text file each day and compare them to the previous day to see what's changed. If I can confirm that you are getting

[2016-01-02 01:06] Alys commented on #6444
I'll keep watch on this too:

[code]

[2016-01-02 01:07] Alys commented on #6444
@theLastStar Don't worry about changing the password. I'd forgotten about the drop count variable that's in your account. I can watch that to get precise numbers of drops.

[2016-01-02 09:52] Sepehr2016 commented on #6443
@Alys Thanks for your attention!
I agree with you that they're meant to be Dailies.
I think this issue should be fixed soon, otherwise; It may confuse people that are looking forward to join Habitica.

[2016-01-02 10:31] d6felix opened #6445 "Quest Accept/Decline buttons don't show up, Firefox"
![firefox_button_bug](https://cloud.githubusercontent.com/assets/13944504/12074150/f0647a16-b154-11e5-9d39-94b8ee3f8b6f.png)

Windows 7, Firefox 43.0.3, Quest Invitation: Attack of the Mundane, Part 1: Dish Disaster!
In party window i can see pending for new quest, but buttons don't show. Everything works in Internet Explorer.
User ID: e60a6155-25ca-4273-911c-51942ee40bf2
Group ID: b1b47025-a1d7-4

[2016-01-02 12:01] Alys commented on #4819
@janetmango Sorry about that! I've given you the Hourglasses.

[2016-01-02 12:20] Alys commented on #6440
@Eiron I've deleted gems and added the equipment. When you can access your account again, check and let me know if it's not right (even if we're past the time when the gear should be available).

Please go to https://habitica.com/static/clear-browser-data and click the button (read the information around it first; make sure you know your login details). That might help the site behave better for y

[2016-01-02 12:25] Alys commented on #6350
@Rmntdrawings That challenge has been closed in the past day or two.

[2016-01-02 17:47] lordmatt opened #6447 "Quest Part 2 did not drop although the UI says that it did."
My party and I compleated Trapper Santa (inventory_quest_scroll_evilsanta) which does not say anything about Find the cub (inventory_quest_scroll_evilsanta2) in the description. However when I went to puchase Find The Cub it insists that I should already have it.

My ID is: 96d68c04-a526-4141-b3ae-1ec7cb0d91c8

Cheers.

[2016-01-02 18:20] Alys commented on #6447
Sorry about that! That's a mistake in the text of the second quest. We'll be changing that quest to remove the text (see https://github.com/HabitRPG/habitrpg/issues/6405 ). It does need to be purchased with gems.

[2016-01-02 18:20] #6447 closed, assigned to nobody

[2016-01-02 22:43] cpsmartin opened #6449 "Find The Cub not listed as completed"
My party just completed the Find The Cub quest but my stats page does not show that I have completed it and I have not yet received the reward while other members in my quest have. I purchased the quest scroll and started the quest without one of the party members but on the quest invite page it showed that I had accepted the quest.

User ID: 1d59570b-6dd5-4bfd-8108-ce62507941b6
Group ID: 349ab088

[2016-01-02 23:11] Alys commented on #6449
Sorry about that! Sometimes a collection quest does this. I've given you the achievement and rewards. If any other party members are missing them, you or they can paste their User IDs into a new comment here. I'll see that and action it even though I'm closing this now.

[2016-01-02 23:11] #6449 closed, assigned to nobody

[2016-01-03 00:57] FaerytaleInk opened #6450 "Reward from Challenge won't disappear"
I have a reward from an old challenge that just never went away. I believe the challenge had something to do with filing taxes. I can't delete it, or edit it, and the challenge itself is gone along with the all the tasks, but this reward remains.

My user id is: d9e9ed68-3c3f-4442-9ed6-4a5cc3fde66c

I'm running windows 10, but this started when I was on 7 and my browser is firefox.

Thank you!

[2016-01-03 01:23] Alys commented on #6450
We can help by deleting it but you need to tell us what the reward is. Otherwise we'll have to look through all your rewards, which isn't ideal for your privacy, and we might not be able to correctly identify it.

[2016-01-03 01:27] FaerytaleInk commented on #6450
It's "Buy yourself a nice lunch. But only once you are done with taxes." It's the only reward I have right now I believe. Thank you so much!

[2016-01-03 01:29] Alys commented on #6450
That makes it easy. :) It's gone. Sorry about the trouble!

[2016-01-03 01:29] #6450 closed, assigned to nobody

[2016-01-03 04:22] Alys commented on #6405
I'm working on this: "allow the second Santa quest to be purchased and used even if the first one hasn't been done".

@lemoness Do you want any change to the quest text for either Santa quest? The current texts are below.

First quest: "Trapper Santa"

quest description: "You hear moaning roars deep in the icefields. You follow the roars and growls - punctuated by another voice's cackling - to a c

[2016-01-03 14:03] mwillsey opened #6451 "Pinned Tab Icon in Safari"
Hi! The new Safari (9.0) in OS X 10.11 supports pinned tabs which can have customizable icons. I'd love for Habitica to have an icon so it can live forever in my tab bar :)

See "Icons for Pinned Tabs" in the [release notes](https://developer.apple.com/library/prerelease/mac/releasenotes/General/WhatsNewInSafari/Articles/Safari_9.html). All that should be required is adding something like:

[code]

[2016-01-03 15:32] psyclist opened #6452 "Join party notification persists after accepting party invitation"
Browser: Chrome
Machine: Macbook Air; OSX 10.10.5
Console Errors: "Failed to load resources: the server responded with a status of 503 (service unavailable)"
Group ID: b6d5d44c-636c-46fb-8a7e-5d0433f62f4b
User ID: 76cc0561-b634-410a-b415-f2167a65803c

Reloading the page makes the error bar on the right-hand side disappear but the party notification persists. Clicking join party button produces err

[2016-01-03 16:42] #6427 closed, assigned to nobody

[2016-01-03 17:12] PrimReaper commented on #4252
Good morning! I just finished egg hunt but have not received rewards.
User: d6440ea7-9ecf-424f-8ef9-6f66f2f1d57b
Could someone please look into this? Thanks!

[2016-01-03 17:26] maristane opened #6453 "Unable to login using Chrome"
I just hit the button and nothing happens.
Then when I open the console this is what I get:

[code]

On Firefox it works just fine. Since the website is probably working well with other Chrome users, it may have something to do with my browser extensions or my antivirus. But It's not impossible that other users may be experiencing the same problem, so I decided to open this issue.

Does anybody ha

[2016-01-03 17:36] maristane commented on #6453
Well, that was quick.
I tested on anonymous mode in Chrome and it logged in, so I guessed it had something to do with the cookies. I then deleted any cookie related to habitica/habitrpg and it worked again.

I was having this problem since the HabitRPG -> Habitica transition, but I've stopped using the website at that time and just recently decided to come back.

So, if any old user is experiencin

[2016-01-03 17:36] #6453 closed, assigned to nobody

[2016-01-03 20:04] Alys commented on #4252
@PrimReaper I've given you the rewards. Please reload if you don't see them yet.

[2016-01-03 20:19] Alys commented on #6452
Clicking the join party button will produce an error because you're already in that party.

I've deleted the invitation from your account and from the party, but they often come back over a few days. I'll keep deleting it twice a day until it disappears for good.

Can you please go to https://habitica.com/static/clear-browser-data and click the button you'll find there (read the information above

[2016-01-03 20:21] Alys commented on #6453
Thanks very much @maristane! It's good of you to take the time to report back with the fix!

[2016-01-04 00:47] mczuchnowski opened #6454 "Android app - images in todo items not displayed"
I just installed the Android app on two devices (love the new design). I use images for all my habits and dailies (by inserting tags such as `![some_description](www.example.com/image.png)`) and they look great in the browser, but the app doe snot convert these strings into images. They should either whos up or be ignored, otherwise the app is unusable for me, since every item on my lists has gibb

[2016-01-04 01:10] #6454 closed, assigned to nobody

[2016-01-04 01:40] #6422 closed, assigned to nobody

[2016-01-04 07:04] omalora commented on #4252
It seems I've been bugged again. My party just finished Convincing the Unicorn Queen  a little bit ago and it appears others got credit for it so far as I can see on their profiles but I received no credit or rewards.
UUID is: 92796c27-a221-41f6-b186-3c947c731d5a
Party UUID: 5249033a-56aa-4f61-9cb7-f9d3186109e8

[2016-01-04 13:21] hlnewman opened #6457 "Rescue me from my own stupidity (Tavern issue)"
Hey all - I'm traveling and was in the Tavern. I checked out briefly to take the screenshot to go with this article - http://www.forbes.com/sites/hnewman/2015/12/31/use-your-tech-to-make-your-life-a-productive-game-new-years-revolutions-part-3/  (yay!) - and thought I put myself back into the Tavern afterward. Apparently, that was not the case. Not only did I take a huge health hit, but I slammed

[2016-01-04 13:34] crookedneighbor commented on #6457
You and your party can use the "Fix Character Values" button in [Settings > Site](https://habitica.com/#/options/settings/settings) to correct any unfair damage or gold loss.

[2016-01-04 13:34] #6457 closed, assigned to nobody

[2016-01-04 16:24] M1st3rSam commented on #6313
I am the group leader of a party and I am having the exact same problem described here.

[2016-01-04 18:16] crookedneighbor commented on #6313
@M1st3rSam

What's your User ID? You can find it in [Settings > API](https://habitrpg.com/#/options/settings/api). Be sure to only copy the User ID and _not_ your API Token.

Please also provide the id of the party, if possible.

[2016-01-04 18:22] M1st3rSam commented on #6313
The problem has already been resolved by admin but here is the info.
User ID: 6320a833-6907-4e4c-b3d6-8b711444abff
Group ID: dbac8fdf-6fc4-498b-bbc4-e1461bf11ee0

[2016-01-04 18:33] crookedneighbor commented on #5592
Thanks for this info. We're in the process of upgrading to node v4 so we can re-enable New Relic. The current blocker is mongoose v3, which falls back to the js driver instead of using the native driver. We're going to try to upgrade to mongoose v4 so we can upgrade node as well, but so far have had trouble with stability.

[2016-01-04 20:08] huesitos commented on #6434
Hello, something kind of similar happened to me today. i leveled up to lvl 28 and when I went to the stats page to allocate my new attribute point, I had 74 new points! I refreshed the page and allocated them, and they remained. Is this normal behavior?

[2016-01-04 20:21] Alys commented on #6434
@huesitos @crookedneighbor I've just confirmed huesitos's comment. I was at level 24, I levelled up, I received 76 points to allocate.

[2016-01-04 20:26] Alys commented on #6434
@huesitos Sorry about that.  If you tell us your User ID, I'll fix your points. You can find your User ID from Settings -> API ( https://habitica.com/#/options/settings/api ).

What I'll do is unassign all your points since I'm not sure how you'd like them assigned (I can't remove just the most recently assigned ones). But if you tell me how you'd like them split up between the attributes, I can d

[2016-01-04 20:28] TheHollidayInn commented on #6434
I think I see the issue. I can correct it if @crookedneighbor isn't already working on it. Sorry for the delay, btw.

[2016-01-04 20:29] Alys commented on #6434
It's okay, we're on it, but thank you :)

[2016-01-04 20:39] Alys commented on #6434
fixed in https://github.com/HabitRPG/habitrpg/commit/53e2939ad90123985c61f994ad7eed6e0c66b374

[2016-01-04 20:51] klink42 opened #6459 "Way too many attribute points on level"
Hi,

When I reached lvl 11 I noticed that I had 11 attribute points to assign. I reached level 12 quickly after using burst of flame to go through all my mana. When I reached level 12 I saw that I had 89 attribute points to assign. This seems crazy-- is it a glitch?

My userid is:
a84e1a98-6139-409d-baf5-419f173557f5

[2016-01-04 21:21] Alys commented on #6434
Both commits had to be reverted. A new fix will be done soon.

https://github.com/HabitRPG/habitrpg/commit/ece0de51cc29d2972a517c7b02c3c3f1dc15f734
https://github.com/HabitRPG/habitrpg/commit/8db492099cf1e6350afe271d1bf7ac1a6d23addb

[2016-01-04 21:27] TheHollidayInn commented on #6434
Sounds good. Let me know if you need any help!

[2016-01-04 21:28] huesitos commented on #6434
Here is my UserID 75ab2897-b05d-4b29-91b1-e7e0749a8c50. You can unassign them all, I'll allocate them :)

[2016-01-04 21:33] Alys commented on #6434
@huesitos Thanks! I've set all your allocated points to 0 and your unallocated points to 28. Let me know if you want me to allocate them for you.

[2016-01-04 21:44] huesitos commented on #6434
No prob! I did it myself. Thanks for the fast fix!

2016-01-04 17:33 GMT-04:00 Alys notifications@github.com:

##

Denisse Margarita Lara Martín

[2016-01-04 21:54] Alys commented on #6459
Sorry about that! It's a temporary bug that's already been fixed but we haven't yet finished cleaning up everyone's data. I've removed the excess points. Because you'd already assigned them to attributes, I couldn't work out what your previous assignments had been, so I've set all your attributes to zero. You can reallocate points as normal now.

I'm leaving this open for other players to comment

[2016-01-04 21:58] lemoness commented on #6443
Great catch! Both are indeed meant to be Dailies.

[2016-01-04 22:00] Alys commented on #6443
advertised in Aspiring Coders

[2016-01-04 22:17] lemoness opened #6460 "Upgrade amount of users on static page"
We've hit another milestone, which means it's time to update the static page.

It should now say, "Join over a million people making it fun to achieve goals!"

:)

[2016-01-04 22:26] Alys commented on #6460
advertised in Aspiring Coders

[2016-01-04 23:23] oktayacikalin commented on #3381
@Alys Perhaps we keep it as is. I don't want to blow the section up too much..

Or do other readers here think differently?

[2016-01-05 01:30] Reemeela2121 opened #6461 "It doesn't save my recent actions"
There a pop-up saying i need to refresh my browser, b/c there was an error when it came to saving any recent actions. Yet, it's a persistent problem as I continue to refresh my page- it continues to pop up! What should I do? I would like to continue using Habitica in the near future...

[2016-01-05 02:02] Alys commented on #6461
We restarted the server in the past half hour, which might have fixed the problem, but if you're still seeing that error after one more reload, go to https://habitica.com/static/clear-browser-data and click the button (read the text above it first). Tell us if it keeps happening after that.

[2016-01-05 06:59] Alys commented on #4252
@omalora I've given you the achievement and eggs.

[2016-01-05 07:00] Alys commented on #6461
I'm closing this but if you're still having trouble, comment here again.

[2016-01-05 07:00] #6461 closed, assigned to nobody

[2016-01-05 08:19] MHDante opened #6462 "Tavern / Guild / Party chat lag / slowness"
Platform: Win10, Chrome 47.0.2526.106 m

Take a look at this example of the tavern's chat:
![image](https://cloud.githubusercontent.com/assets/4652122/12110172/5c02a85c-b357-11e5-9f20-3e753b775e8a.png)
The Ss were typed one at a time and the Js were typed 5 at a time.

It seems that there is a listener happening every time that the content of the textbox changes. While this doesn't seem to be a pr

[2016-01-05 12:05] Alys commented on #6444
You have been receiving drops over the past couple of days, just not very many of them. To increase your chance of receiving a drop, increase your Perception (e.g., you have one unallocated stat point at the moment - consider assigning it to Perception instead of Intelligence). As you level up and become more powerful and gain more equipment, you'll find that it is easier to increase your Percepti

[2016-01-05 13:37] Reemeela2121 commented on #6461
Sorry, forgot to reply. It's working fine again! Thanks!

On Tue, Jan 5, 2016 at 2:01 AM, Alys notifications@github.com wrote:

[2016-01-05 14:21] rmkoske opened #6463 "To-Do sublist won't sort correctly on Android app"
This is my first bug report - notes for how to do better are appreciated.

I'm using the Habitica Android app, v 0.0.24.  I'm on a Samsung Galaxy S5, if it matters.

For one of my to-dos I created a list of sub-items using the android app.

To Do "Read AofSE" has subtasks:
- Decide reading goal
- Friday
- Saturday
- Sunday
- Monday
- Tuesday
- Wednesday
- Thursday

They were entered in the order a

[2016-01-05 14:31] crookedneighbor commented on #6463
I've copied your report to the android app repo: https://github.com/HabitRPG/habitrpg-android/issues/363

You can track the issue there by clicking the subscribe button.

[2016-01-05 14:31] #6463 closed, assigned to nobody

[2016-01-05 15:04] rmkoske commented on #6463
Oops!  Thanks!

[2016-01-05 15:10] Sepehr2016 commented on #6443
Here in the Wikia guide of the game, it says that they are habits:
http://habitica.wikia.com/wiki/Sample_Habits#Housework

[2016-01-05 18:24] inetjunker opened #6465 "Damage from "grey" dailies, dailies aren't reloading for following day, and MP amount loaded incorrectly"
Hello,

My User ID is "abe55da1-22e1-4885-bef3-624e2cd77cbe". (The number "1"s may be letter "l"s. It is hard to say. Please see point 4 below). I have found the issues when using both Chrome and Firefox browsers. I am using Windows 8.1 OS.

I wanted to report a bug regarding 4 incidents that happened today. To my knowledge this is the first time they have happened.

1) I am receiving damage from

[2016-01-05 18:30] inetjunker commented on #6465
There is one other issue that I just noticed. Several of the task that I added to my list yesterday are now missing.

[2016-01-05 18:34] inetjunker commented on #6465
Again, I apologize for adding more issues to the list. I am merely reporting them as I find them. I am also not able to remove or change any of my equipment, change my mounts, add any new task, or rest in the tavern. I can, however, still "complete" dailies that were still incomplete on my list.

[2016-01-05 22:23] Alys commented on #6443
@Sepehr2016 They're okay on that wiki page because they can be implemented as Habits (e.g., if you didn't want to be punished each day for not doing them). However the minus signs didn't make sense so I've removed them. Thank you!

[2016-01-05 22:34] Alys commented on #6465
I'm sorry about this! You've experienced the bug reported here: https://github.com/HabitRPG/habitrpg/issues/4313

Please see the "Advice" section near the top about how to recover from unfair damage and how to untick your completed Dailies.

This bug is caused by a local storage problem in your browser, and it's probably also causing the issue with not being able to change your avatar or add new t

[2016-01-05 23:02] jclevine opened #6467 "503 Service Unavailable error using batch-update."
See [Issue 6437](https://github.com/HabitRPG/habitrpg/issues/6437). It's happening again. Can you reopen the bug?

[2016-01-05 23:17] sadrithmora commented on #1471
Hello,

I just tried to shut down the "2015 Movie Challenge" in the Tavern and award 5 gems to the winner, BlackUmbral. I did get an error, I don't remember what it was, but it did say something in the text about try reloading. When I reloaded, it seemed the challenge had disappeared for me, but the tasks remained with no indication they were closed. I did the "unclick done tasks" trick for broken

[2016-01-05 23:42] Alys commented on #1471
Sorry about that @sadrithmora! I've checked and the challenge has been closed. BlackUmbral does have the gems and the achievement.

[2016-01-05 23:44] Alys commented on #6467
@jclevine When you're aware of a bug that's happening again, the best thing is to comment on that issue in a new comment. We get notified of all comments even when they're made in closed issues.

I've been noticing a couple of errors too, so I've restarted the server, which should fix it. Comment on that issue or this one if you still have problems after a reload.

[2016-01-05 23:44] #6467 closed, assigned to nobody

[2016-01-06 01:59] lemoness commented on #6405
Small tweaks:

"You hear agonized roars deep in the icefields. You follow the growls -
punctuated by the sound of cackling - to a clearing in the woods, where you
see a fully-grown polar bear. She's caged and shackled, fighting for her
life. Dancing atop the cage is a malicious little imp wearing a castaway
costume. Vanquish Trapper Santa, and save the beast!"

"Trapper Santa squeals in anger, and

[2016-01-06 02:07] lemoness commented on #6460
Another similar change that is needed: adding the Discover Magazine logo to
the list of press logos. Should I make a separate ticket for that, or can
it tag along with this one?

On Mon, Jan 4, 2016 at 2:26 PM, Alys notifications@github.com wrote:

[2016-01-06 02:08] Alys commented on #6460
Tag along, to reduce review effort. :)

[2016-01-06 03:50] NathanMaton commented on #6443
I'll give this bug a shot. See upcoming PR

[2016-01-06 03:58] NathanMaton commented on #6460
how do you upload content to https://d2afqr2xdmyzvu.cloudfront.net/front/images/presslogos/ ?

[2016-01-06 04:55] crookedneighbor commented on #6460
They go in here: https://github.com/HabitRPG/habitrpg/tree/develop/website/public/front/images/presslogos

We'll upload them manually to cloudfront if your PR gets merged.

[2016-01-06 06:57] Mcatll opened #6469 "Application Error : Page could not be served"
![applicationerror](https://cloud.githubusercontent.com/assets/16571592/12136555/05e09f14-b484-11e5-8b18-1311c9aa9143.jpg)

A red bar appears on right side of my page when I go in habitica, and after I refresh the page it is still the same. I couldn't change the language to English for you guys to see because the red bar is blocking me from clicking setting. However, the sentences in the bar said

[2016-01-06 09:53] Alys commented on #6465
I'm closing this, but you're welcome to keep commenting here if you have questions or further problems.

[2016-01-06 09:53] #6465 closed, assigned to nobody

[2016-01-06 11:27] Ishmaeel commented on #5988
I think our party (**84895e1d-df4c-4af0-b72e-6187492edfd3**) is experiencing this very same bug. It's especially noticable with a certain member (**eefdb692-9a10-4b22-9559-dfd0922c485b**) who consistently causes a large amount of damage from bosses, but the damage has never been applied to me so far. It has happened at least four times that I noticed. I'm sure I haven't died. The most recent insta

[2016-01-06 15:26] Medusil opened #6470 "To-Do values keep changing after completion (Wrong task values and colors for "To-dos Completed" in the Data Display Tool (v7.2))"
Completed to-dos in the data-display tool seem to keep dropping in value after the to-do was completed.
Old tasks that I know were completed as yellow, now have a lower (red) value.  The most recently completed tasks show more accurate values.

UserID
010ee270-e814-40d0-9a85-ba5fcf5e9bc0
Windows 8, Firefox 43.0.3

[2016-01-06 19:57] joreshipley opened #6472 "Cannot accept party invitation"
I received an email from the Habitica team telling me that a party had invited me to join. However, the invitation isn't appearing in my notifications. I've cleared my browser cache, reloaded the page multiple times, and waited a few hours to see if it showed up. Nothing worked. Help!

[2016-01-06 20:09] keysmashes commented on #6469
Seems fine now. Just a thing that happens sometimes, sadly.

[2016-01-06 20:20] KiwiBA commented on #4252
our group has often this bug. we are a large group (about 20 people). a few days ago we did the first winter quest "trapper santa", but most of us did not get the reward.(i don't know if anybody got the reward). and now i cannot buy the second quest...
my UUID is: 6b914d15-4f51-4d03-ae2f-f886f31f188a
and of the Group: 1e782072-e0d5-4790-a5d1-8cac0168052b

i think most buggy quests were collection

[2016-01-06 20:33] keysmashes opened #6474 "Misaligned progress button on to-dos"
Kind of self-explanatory. Chrome 47 on Ubuntu 14.04.

![original](https://cloud.githubusercontent.com/assets/9433472/12153109/0979ce1c-b4b0-11e5-9609-27e5184b63bb.png)

It's caused by the inline `vertical-align: -webkit-baseline-middle;` style on the question mark (`.glyphicon .glyphicon-question-sign`). Without that style, it looks like this:

![no style](https://cloud.githubusercontent.com/asset

[2016-01-06 20:42] eiron commented on #6440
I think deleting the completed tasks would be a good start. Since following the above advice (I clicked the button), it has gotten to the point where I cannot even interact with the pages behind the scenes. Checking into the Tavern, for instance, is no guarantee that I will be in the Tavern. I also cannot reset my character values to what they should be in the Settings pages. Ironically, the only

[2016-01-06 23:18] Alys commented on #4252
@KiwiBA Thanks for the information! I've given the achievement and rewards to you and your party mates. You should be able to buy the quest now (reload, if it doesn't work immediately).

[2016-01-06 23:19] Alys commented on #6472
The invitation was probably cancelled by the party leader.

If you think this mightn't have happened, we can reopen this and look into it further, but we'll need to be able to identify your account. Please go to Help -> Report a Bug and see step 6 in the instructions. You don't need to provide the group ID for this.

[2016-01-06 23:19] #6472 closed, assigned to nobody

[2016-01-06 23:24] joreshipley commented on #6472
Hi Alys: it was a fairly large group run by a writer, so I'd be kind of surprised if I were uninvited. I'll post my ID, and I would really appreciate it if you'd check it out. Thank you!
Regards, 
Jordan S. 

Sent from Outlook Mobile

On Wed, Jan 6, 2016 at 3:19 PM -0800, "Alys" notifications@github.com wrote:

The invitation was probably cancelled by the party leader.

If you think this mightn't

[2016-01-06 23:24] joreshipley commented on #6472
Here is my user ID: da342808-780c-4d8b-8d3c-2e88398b9c2a.

[2016-01-06 23:34] Alys commented on #6472
You don't have any party invitations in your account. This means that the invitation either wasn't sent correctly or was revoked by the party leader after it was sent.

By the way, I am assuming that the person inviting you did so by User ID, which means that you would see a notification in Habitica, until the invitation was cancelled. However if they invited you by email address, then I'm not sur

[2016-01-06 23:36] Alys commented on #6440
I've deleted your completed To-Dos. If it turns out that you needed anything in them, let me know. If it requires sharing private information (e.g., the name of a To-Do that needs to be kept private), send an email to admin@habitica.com, otherwise just comment here.
For my reference, timestamp in my timezone: Thu Jan  7 09:22:16 EST 2016

You are resting in the inn at the moment.

One thing that m

[2016-01-06 23:36] joreshipley commented on #6472
Hi Alys: this is copied and pasted directly from the email. Greetings, jo.re.shipley! 
blakebo would like you to join their party on Habitica! 
Together, you can keep each other accountable for your goals while battling monsters and leveling up your avatars. It doesn’t matter if you’re flossing more or finishing that big assignment – either way, you’ll be earning gold, hatching pets, and unlocking

[2016-01-06 23:48] Alys commented on #6470
The Data Display Tool reads information about your tasks from Habitica's servers, so any value changes happen on the server, not in the DDT.

From a quick look at Habitica's cron code, the value of a To-Do is adjusted at each cron regardless of whether the To-Do is completed or not.

I personally don't think this matters because the value of a To-Do isn't important after it's been completed. In fa

[2016-01-06 23:53] Alys commented on #6472
Thanks. That's not the email sent to players who don't have an account so you probably were invited by ID. Ask the person who did so to send a new invitation.

[2016-01-07 00:09] joreshipley commented on #6472
Okay, I'll do that. Thanks Alys!

Sent from Outlook Mobile

On Wed, Jan 6, 2016 at 3:53 PM -0800, "Alys" notifications@github.com wrote:

Thanks. That's not the email sent to players who don't have an account so you probably were invited by ID. Ask the person who did so to send a new invitation.

—
Reply to this email directly or view it on GitHub.

[2016-01-07 01:21] crookedneighbor commented on #6470
I agree with @alys

[2016-01-07 03:57] NathanMaton commented on #6460
Ok sounds good. I went ahead and fixed this locally but just saw now Sighne has a PR open. Next time I'll know. Thanks.

[2016-01-07 04:25] NathanMaton commented on #4522
I think this needs to be closed as @crookedneighbor pulled this into https://github.com/HabitRPG/habitrpg/commit/35a921bf43a1d33b0606e622d5ab8fd809d834b1

[2016-01-07 05:23] Alys commented on #4522
Good point, thanks @NathanMaton!

[2016-01-07 05:23] #4522 closed, assigned to nobody

[2016-01-07 08:13] paglias commented on #6470
I think this behavior is pretty weird. it basically makes impossible to use go back in time and see how you completed some tasks

[2016-01-07 09:48] Medusil commented on #6470
I was also expecting to be able to see how I completed the tasks.  It just didn't seem like intended behavior to me.  It would be nice to get an idea of how my tendency to do short term (yellow) or long-term (red) to-do's was over time.  Habits and dailies can be tracked with the progress tab, it would be nice to track to-do's as a whole in a similar way.
I was expecting to see just that with the

[2016-01-07 09:59] Medusil commented on #6470
Another thing: Apparently the value of a finished to-do is modified upon  completion as well.  Immediately after completing a red to-do (with a checklist), the value listed is now green because of the 'damage'/value increase that happens when you complete something.

[2016-01-07 10:39] Alys commented on #6470
@Medusil From your most recent comment: That is definitely working as intended - marking a task as complete (or clicking + for a Habit) has the same behaviour across all task types, and one aspect of that behaviour is that the value changes.

It sounds like you're wanting a permanent record of what the value was just before you completed a To-Do. I think this would be best handled as a feature req

[2016-01-07 10:44] Medusil commented on #6470
Okay, thanks!

[2016-01-07 14:14] Mcatll commented on #6469
It is still there for me :( all-day.

[2016-01-07 16:25] aksteele opened #6478 ""Error" Application Error When Loading Page on WWW (Chrome) - Page Stuck on Yesterday's Tasks"
I've been getting the following error (on RHS of page) for the last two days - it appears every time the home tasks page re-loads, and as a result completed or added content doesn't seem to save.

Today I'm still looking at yesterday's dailies list.

<img width="262" alt="screen shot 2016-01-07 at 8 23 19 am" src="https://cloud.githubusercontent.com/assets/3885681/12175615/2c007ee6-b518-11e5-9e2a-

[2016-01-07 16:36] aksteele commented on #6478
Update: I tried logging out and logging back in, but now I can't get the log in module to load from this page: https://habitica.com/static/front

[2016-01-07 16:37] paglias commented on #6478
@aksteele thanks for the report. Could you try doing the following:
1. If you have Chrome installed navigate to habitica.com, open the Console Ctrl(Cmd on Mac)+Alt+J and switch to the Network tab
2. Try completing an action on the site that should trigger the error, report here anything that appears in the Network tab, you should see a new red item which you can click

[2016-01-07 16:39] paglias commented on #6469
@Mcatll @anowlcalledjosh  thanks for the report. Could you try doing the following:

If you have Chrome installed navigate to habitica.com, open the Console Ctrl(Cmd on Mac)+Alt+J and switch to the Network tab
Try completing an action on the site that should trigger the error, report here anything that appears in the Network tab, you should see a new red item which you can click

[2016-01-07 16:39] aksteele commented on #6478
@paglias - can't even log in at this point. here's the error I'm when I press the 'join for free' button:

<img width="1321" alt="screen shot 2016-01-07 at 8 39 10 am" src="https://cloud.githubusercontent.com/assets/3885681/12176012/2dbe3f5a-b51a-11e5-9d19-b92a6b713cd2.png">

[2016-01-07 16:41] aksteele commented on #6478
And here's the one I get when I press "Play Habitica":

<img width="1316" alt="screen shot 2016-01-07 at 8 40 40 am" src="https://cloud.githubusercontent.com/assets/3885681/12176063/72f69ebe-b51a-11e5-98fd-2f100d3d7ed1.png">

[2016-01-07 16:43] paglias commented on #6478
@aksteele that's very useful if you keep the console open while you refresh and switch to the network page there should be a list of requests with one that points to https://habitica.com/api/v2/user/batch-update... it should be marked in red. Click on that one and post anything you see there. Also if you remember your UUID you should post it here

[2016-01-07 16:55] aksteele commented on #6478
Sorry - what's the network page? Oh I think I figured it out. One sec.

UUID is: d1cf75df-132c-404d-a431-4ba7b7fa00b9

[2016-01-07 16:58] aksteele commented on #6478
<img width="1311" alt="screen shot 2016-01-07 at 8 57 44 am" src="https://cloud.githubusercontent.com/assets/3885681/12176591/fb7672e4-b51c-11e5-87a0-f5f1a2059a4d.png">

[2016-01-07 17:00] paglias commented on #6478
@aksteele sorry,

[2016-01-07 17:03] paglias commented on #6478
@aksteele when you open the console there are several tabs on the top:

<img width="1440" alt="schermata 2016-01-07 alle 18 00 44" src="https://cloud.githubusercontent.com/assets/589911/12176658/c00a7470-b568-11e5-8773-d12b367e54dd.png">

You should click on Network and then do the action that triggers the error like clicking on the logic button. If the error happens before you do anything just re

[2016-01-07 17:06] aksteele commented on #6478
I already figured it out, see above (or here it is again):

<img width="1311" alt="screen shot 2016-01-07 at 8 57 44 am" src="https://cloud.githubusercontent.com/assets/3885681/12176792/f11c2de2-b51d-11e5-9c40-67d469a5f66b.png">

[2016-01-07 17:23] AdrianTP commented on #6478
I have a similar issue, with that error message popping up intermittently and the loading bar not finishing.

Chrome `Version 47.0.2526.106 (64-bit)` on OS X `Version 10.9.5`

Habitica User ID is `dbd1f6f3-cb5e-4bb2-b4f5-cc759e7540e2`

I can check off tasks and receive the little EXP notifications but they do not persist.

...and then while I was writing this I refreshed the page again to collect

[2016-01-07 17:28] paglias commented on #6478
@AdrianTP thanks, that's very useful.

Both you and @aksteele should try navigating to https://habitica.com/static/clear-browser-data and clicking the "Clear Local Storage" button, wait until the operation finishes then try to open the site again. Let us know if it helps

Thanks for the patience

[2016-01-07 17:31] WolfChick2216 commented on #6478
I'm in chrome and I am getting an application error message that suggests that I reload the page so I do and the message comes back so I end up in an endless loop of refreshing.
UPDATE: I have just refreshed the page again and it's gone. false alarm sorry :)

[2016-01-07 17:44] aksteele commented on #6478
Cleared local storage. Pressed "Play Habitica." Was able to see the log in module. Pressed "log in/register using facebook". Pop up appears but nothing loads in the pop up, pop-up disappears. Tried a second time. Closed the module, turned off ad blocker (noticed that was throwing an error in Console). Pressed "Play Habitica" again. No longer see the log in module at all, get the same 503 error in

[2016-01-07 18:10] aksteele commented on #6478
More context on what I'm seeing when I load:

<img width="1310" alt="screen shot 2016-01-07 at 10 10 11 am" src="https://cloud.githubusercontent.com/assets/3885681/12178543/df44bcde-b526-11e5-82c5-1f11f85819bb.png">

[2016-01-07 19:51] aksteele commented on #6478
Also a little bummed that when I finally signed in on my android app I saw that I lost a level & gold from yesterday because I wasn't able to update :sob:

[2016-01-07 20:14] Alys commented on #6478
@aksteele We're sorry about the lost level and gold! When you have access to the site again, you can go to Settings -> Site and use the Fix Character Values button to get them back. "Settings" is the gear-shaped icon on the top right of the website.

[2016-01-07 20:27] joekatzman commented on #6118
Can we re-open this ticket? Because I'm having the same problem.

I can click on other party members' avatars to see that my Valorous Presence is buffing their strength. But Tools of the trade has been cast 3 times in the last <48 hours, and NONE of them have buffed my Perception. I've been checking my stats, generally within a couple hours of each casting. We're all in North American timezones, t

[2016-01-07 20:40] Alys commented on #6118
@joekatzman We'd need your User ID and party ID to help with this (go to Help -> Report a Bug and see step 6 for how to find them).

[2016-01-07 21:57] joekatzman commented on #6118
Oops. Read the page, but missed that.

User ID: 6bddb2c7-a12b-4ed9-b890-5632534956a2
Party ID: aeb00bf5-3e9d-4e09-958a-a40ca1d518d0

[2016-01-07 22:14] Alys commented on #6118
@joekatzman I've removed the excess party invitation for you. They do have a tendency to come back by themselves, so I'll check and remove it a couple of times each day for the next few days, and after that it should be gone for good.

The most recent Tools of the Trade was at timestamp 1452177737614 and your most recent cron was at 1452185064186 (after the skill was cast), which means that even i

[2016-01-07 23:54] aksteele commented on #6478
Updated - signed in on Firefox. Problem is only on Chrome.

[2016-01-08 00:10] joekatzman commented on #6118
Roger that. I have been checking for the past couple of days during the day, and seeing nothing. But I'll bring the next one to your attention ASAP; I get that you need to look at it live.

[2016-01-08 00:36] joekatzman commented on #6118
OK, just had a party member log in for the day, which triggered her cron and monster attack. Then she cast Tools of the Trade, and this time it worked for me. Our party will try moving to a new timing protocol for Buffs, and see if the problem goes away completely.

[2016-01-08 00:53] Alys commented on #6478
@aksteele Thanks for the update! This means that it's likely to be a local storage problem. On Chrome, please go to https://habitica.com/static/clear-browser-data and click the button there, then see if you can use Habitica again.

Others experiencing this problem can try this too.

[2016-01-08 00:57] aksteele commented on #6478
@Alys as mentioned above I've done that multiple times to no effect. Clearing local history doesn't seem to solve the problem. I still can't log in on Chrome.

[2016-01-08 01:02] Alys commented on #6478
Sorry, my mistake. I should have been reading more carefully.

[2016-01-08 01:02] psyclist commented on #6452
Thanks for the response. I have cleared the browser data as you instructed.
I appreciate your help.

On Sun, Jan 3, 2016 at 2:20 PM, Alys notifications@github.com wrote:

[2016-01-08 01:15] aksteele commented on #6478
Np! It's a long thread :)

[2016-01-08 03:24] Alys commented on #6478
@aksteele I'm sorry to ask you to do another test, but can you please try logging in on Chrome in an incognito window? That would let us be more certain about whether the problem lies with Chrome itself or with data saved in Chrome for your account.

[2016-01-08 13:56] Mcatll commented on #6469
I don't get what you mean by navigate to habitica.com, but I've try to open
the page and press Ctrl+Alt+J but nothing happen :(

On Fri, Jan 8, 2016 at 12:39 AM, Matteo Pagliazzi notifications@github.com
wrote:

##

Regards, Mcat Chan

[2016-01-08 14:45] paglias commented on #6469
@Mcatll try opening https://habitica.com/static/clear-browser-data and follow the instructions there. Let me know if after that it works

[2016-01-08 15:25] Mcatll commented on #6469
: (  I've tried but I couldn't tell you the result first because I've
problem of logging in...  I used to sign up habitica with my facebook
account, but after that everytime I press logged in with facebook seems
like nothing happen. Sometimes I logged in successfully after very very
long time @@ I don't know why this happen. My network connection is
actually more than average, can you please help