[2013-12-21 04:25] SabreCat commented on #2019
@wc8, you can reopen and assign to me if you want to track it better. I'm going to work on the renames tonight, should be done by tomorrow at the latest.

[2013-12-21 04:39] SabreCat commented on #2063
LARP! Haha. I think that'd be a little confusing even if you look it up. It shouldn't be too hard to come up with a descriptive phrase, "Allocate attributes based on task activity" or the like, but coming up with a short punchy name for it is harder.

We're talking about several options, here... what if the design were something like this:

It starts off looking pretty much like what we've got now

[2013-12-21 05:31] SabreCat commented on #2019
Addressed textual issues at https://github.com/HabitRPG/habitrpg-shared/pull/58

[2013-12-21 06:56] Eusebius commented on #2065
I'm a bit surprised with that too. Before last update, I was always below 100G, and struggling not to die every two day. Now suddenly, I'm over 300G just by waking up in the morning, and casting "pickpocket" can earn me several hundreds with a single task... I have absolutely no risk of dying anymore, the balance of the game has drastically changed (maybe we just need to adapt to this change and r

[2013-12-21 06:59] Eusebius opened #2074 "Spells prevent dailies from being checked"
I hope it's not a dupe. When using a spell with a daily (I tried "backstab" and "pickpocket"), the daily does not get checked, so I can/must validate it again (without a spell).

[2013-12-21 09:28] cleave29 commented on #2065
Yep, I just clicked a blue (4-day streak) and got about three gold.  It's every click.
![image](https://f.cloud.github.com/assets/3587570/1795583/2d4ec5c0-6a22-11e3-8cbd-66abf7a88e06.png)

[2013-12-21 10:41] mr-flibble opened #2075 "SSL for HabitRPG locally"
Hi, I'm sorry if this is the wrong section for questions, but I would like to set habit rpg localy under https like you have on habitrpg.com. I have one old local instance under Windows with stunel, but its very slow.
What is easiest solution to run habit rpg under SSL on Linux or Windows? Can you posilby add  to readme? Thank you!

[2013-12-21 10:51] MagicMicky commented on #2068
@lefnire Thanks for your help (and your comment about my app).

I'll try to update my app as soon as possible, but with Christmas and the new year comming, you might have to wait a little bit!

[2013-12-21 15:19] SabreCat commented on #2074
This is due to the temporary fix on #2012. You can no longer click the checkbox simultaneously with the spell. Use the spell on the task by clicking the spell and then the task body (i.e., its name), then check off the Daily or To-Do normally.

[2013-12-21 16:45] Eusebius commented on #2074
OK, thanks.

[2013-12-21 16:54] SabreCat commented on #2019
Make that https://github.com/HabitRPG/habitrpg-shared/pull/59, d'oh.

[2013-12-21 19:05] lefnire commented on #2065
Let's follow up on [Trello](https://trello.com/c/L1H6LiZ3/110-character-stats-attributes-the-class-system), since that's currently where all the numbers conversation is happening

[2013-12-21 19:05] #2065 closed, assigned to nobody

[2013-12-21 19:06] lefnire commented on #2054
Let's follow up on [Trello](https://trello.com/c/L1H6LiZ3/110-character-stats-attributes-the-class-system), since that's currently where all the numbers conversation is happening

[2013-12-21 19:06] #2054 closed, assigned to nobody

[2013-12-21 19:09] lefnire commented on #2060
The way habit works is it will update anything form the server for every client action you perform. If the API updated your user (mobile app, chrome extension, or even using Habit in another browser), it will notify _this_ browser of any updates when you perform your next action, no matter what that action is.

[2013-12-21 19:09] #2060 closed, assigned to nobody

[2013-12-21 19:09] #2068 closed, assigned to nobody

[2013-12-21 19:12] #2000 closed, assigned to nobody

[2013-12-21 19:40] twilker commented on #2056
I have not seen this effect for the last two days, maybe it was solved with #2054.

[2013-12-21 19:51] crystalphoenix commented on #946
@mariahm eventually, each of the hair pieces will need to be in its own image file. within that file, it would have to be on a transparent background and positioned in the frame in a way that would align it with the other pieces that makes up the character sprite. there's a short thingy i wrote on the wiki in an attempt to explain at least a lil http://habitrpg.wikia.com/wiki/Guidance_for_Pixelist

[2013-12-21 20:09] wc8 opened #2076 "Interface Discussion: Move Mana to Rewards column, just above spells."
Follow the cue of Gold and Silver coins, which are placed above the Rewards they can purchase. Place Mana (create a mana icon, maybe or use a smaller mana bar) above the spells it can power.

HP and XP directly have a bearing on task progress.
Mana has a bearing mainly on available special skills and spells.
Mana is not a necessary feature in the game. It’s a help, a motivational tool.

This may h

[2013-12-21 20:50] wc8 commented on #2071
Suggestions:
1. Link to Glossary in Tavern Resources :+1:
2. Less likely, but maybe: Can the site draw from short wiki definition articles for mouseovers?
For example, in the wiki pages we can use code like {{:Critical Hits}} to include wiki Then wiki editors could help keep descriptions clear. We could restrict editing on those pages if needed.

[2013-12-21 22:38] Flaffers opened #2078 "Mouseover text for class rewards/spells imprecise"
Hovering over the description for the rewards and spells requires a very steady aim for one particular spot in order to see it; frequently quickly flashes up and disappears.

[2013-12-21 22:39] ghost commented on #2071
@wc8 For the Mana definition: "aid motivation in special circumstances" left me with two questions (1) how do they aid motivation and (2) what special circumstances (having used them I know the answers, but coming at it cold I would be wondering). I'd be inclined to go for something more utilitarian like "Mana points are magical energy used to cast spells that affect tasks/gameplay/something like

[2013-12-21 22:47] RosemonkeyCT commented on #946
@crystalphoenix for future reference does that mean it's easier for you guys when I submit each of my pixel pieces one at a time in separate files?

[2013-12-21 22:56] Draayder commented on #2069
Maybe have level ups give either a percentage or somewhat large flat amount of mana on top of the amount per day?

[2013-12-21 22:58] lefnire commented on #2076
That could fit quite well, because I had future plans to make spells a tab
of the right column. [Rewards | Spells]. Click the spells tab, and you get
a mini mana bar + spells. Reason for this is (1) you shouldn't be able to
cast spells on rewards anyway (nothing currently preventing this), (2) less
scrolling, more hide-away until you need it

[2013-12-21 22:59] SabreCat commented on #2078
This is a very old issue: #399. We'd probably better do something about it soon, though, given how the descriptions of spells and whatnot are becoming more important every day.

[2013-12-21 22:59] #2078 closed, assigned to nobody

[2013-12-21 23:00] lefnire commented on #2069
let's follow this convo on [Trello](https://trello.com/c/L1H6LiZ3/110-character-stats-attributes-the-class-system). MP regen has been implemented (INT bonus on cron, full-regen on level-up); but most of the dialog is happening on Trello, so chime in there if you're not digging that strategy / wanna see the math

[2013-12-21 23:00] #2069 closed, assigned to nobody

[2013-12-21 23:09] SabreCat commented on #2076
Ooh, @lefnire, that sounds delightful. :+1:

[2013-12-21 23:13] wc8 commented on #2071
How about: "Magic power used to cast spells to affect tasks/gameplay for help with habit-building. Mana regenerates by 10 points every day.”
Ideally each spell would explain something about how it can be helpful for habit-building. My 2¢

I agree about it being to easier to play with good explanations in context, but where they aren’t clear, having a glossary could help. In fact, our wiki founder

[2013-12-21 23:55] lefnire commented on #2069
Update (again, follow Trello for the latest) - 10mp on cron, 1 To-Do regens 1MP (no INT-based regen). Trying to give our incentive-less To-Dos incentive.

[2013-12-22 01:13] ghost commented on #2071
That definition works for me.

Next actions I can see are:
1) Changing existing unclear mouse over text
2) Putting a table of stat definitions under the point allocation list instead of using mouse overs (there seemed to be support for this)
3) Adding mouse over to Physical, Emotional, Social, Other in the tasks to explain how they are related to Str, per, con, Int and how that in turn relates to

[2013-12-22 03:16] baconsaur commented on #945
I need to develop this a little further and add shading, but first I wanted to get some opinions on the concept and pose. Shadow dragon?
![shadowdragon](https://f.cloud.github.com/assets/4521047/1797184/1e0af62a-6ab7-11e3-9094-218350232259.png) ![habitme](https://f.cloud.github.com/assets/4521047/1797183/1bf9bace-6ab7-11e3-9e50-25624fd6c091.png)
That is the right size for bosses, right? I took the

[2013-12-22 04:13] SabreCat commented on #945
Holy baloney that thing is scary! Well done @baconsaur!

[2013-12-22 04:15] lefnire commented on #945
That's one of the best Habit pieces to date. God we've got talent on this thread.

[2013-12-22 04:51] baconsaur commented on #945
Thanks! Glad you guys like it. :)
Here's version 2:
![shadowdragon2](https://f.cloud.github.com/assets/4521047/1797246/bfcdceee-6ac4-11e3-8f44-efd4abb33da0.png)

[2013-12-22 10:03] DanielTheBard commented on #2076
I think it'd feel weird if MP was hidden in a spells tab. It'd be quite customary to see a mana bar with your health bar in an RPG. I think it also looks nice aesthetically. If you think it's really an issue for it being there for non-gamers, could there be the option to keep it there instead for gamers? Like you just check a box whether you want it with your HP and XP bars or in the spell tab? I

[2013-12-22 10:04] DanielTheBard commented on #2072
Definitely. And it should note when you get +1 MP from doing a todo. (New implementation)

[2013-12-22 10:23] DanielTheBard commented on #2071
This kind of makes me think that habitrpg itself should have like a little glossary of terms on it? I don't think users should feel forced to go searching the wiki (which they might not even know exists) if they don't understand a term. They should be able to just look it up on the site itself. Because now that I look at it, critical hit isn't defined anywhere is it?

However, as a gamer, I also r

[2013-12-22 10:53] DanielTheBard commented on #2053
It's been decided, but I like attributes, as well aha.

[2013-12-22 10:56] DanielTheBard commented on #2044
Agreed. Though for me, the ? bubble on other worked once I clicked on it.
OS X Lion on Chrome.

The correlation between Physical, Social, Mental, Other and STR, CON, INT, PER should be made more apparent to the user. And as @SabreCat said, examples should be given of each.

[2013-12-22 11:00] DanielTheBard commented on #945
@baconsaur - I dig that dragon! To the point where I'm gonna try to come up with a quest for it right now. (And later some music! :O )

EDIT: Tadaah! https://trello.com/c/JuDktlpf/354-quest-chain-vice-the-treacherous-shadow-wyrm

[2013-12-22 11:04] MagicMicky opened #2080 "Return task ID on POST /user/task"
It seems that when you switched to APIv2, you changed the API results of POST /user/tasks and PUT /user/tasks.

They used to return a task object, containing the id of the object, and every other information about this tasks. It was very useful and allowed me to have the task id as soon as the task was submitted to the server. Now we just have a simple 'OK' saying that the task was uploaded.

Now,

[2013-12-22 12:15] SabreCat commented on #2076
It makes a little more sense for the mana bar to be perpetually displayed now that it's a task completion reward. But I wouldn't mind having it tucked away, especially if #2072 is implemented.

[2013-12-22 12:42] DanielTheBard opened #2081 "Healer's Searing Brightness issues"
For reference, I'm lvl 57 and my stats are: 101.5 CON, 53.5 INT, 34 PER, 36 STR
So I decided to cast Searing Brightness, this morning (redness of tasks is reduced). However, I don't think I even noticed a difference. So I decided to give myself more MP. And cast it 25 times in a row. It took a while but the biggest effect I noticed was that my + habits became blue eventually. My +/- habits turned

[2013-12-22 13:08] SabreCat commented on #946
Hey Pixelists!

I'm starting work on a pet project that a few users have been asking for: the ability to start your game over from Level 1 while keeping your tasks and history and so forth. (The feature branch is https://github.com/HabitRPG/habitrpg/tree/sabe/rebirth, though there's nothing there yet.) I could use a Market item for this.

Who wants to take a stab at an "Orb of Rebirth", or "Potion

[2013-12-22 15:05] BlackCompany commented on #2049
I noticed this bug as well except the xp adjustment is usually correct and the gold I loose less than I gained so if repeated gold can be increased albeit at a very slow pace and occasionally takes a big negative and gets closer to the original starting point. The xp can increase slightly when for some reason the task advances in color. I cant remember the term used for it. The task if checked and

[2013-12-22 15:16] DanielTheBard opened #2082 "Current MP Went Over Max MP"
Didn't happen to me, but user @Eipois reported in the tavern that their MP went up to 45/44. However, they couldn't use an ability that cost 45 MP.

[2013-12-22 15:27] baconsaur commented on #945
@DanielTheBard That looks like an awesome quest! I'm honored to have inspired it. :)

I'll try to come up with some more monsters today if I have time.

[2013-12-22 15:43] bobbyroberts99 commented on #2071
I agree.

Daniel the Bard wrote:

[2013-12-22 16:37] SabreCat commented on #945
@DanielTheBard: "Vice" is an absolutely badass name for a scary dragon in a habit-motivation RPG. Well played.

[2013-12-22 16:41] SabreCat opened #2084 "Attaining some mounts messes up grid alignment"
Today I finished feeding my Base Fox! Pretty sweet. However, I noticed she throws off the alignment of the rest of the pawprint icons in her row:

![screenclip](https://f.cloud.github.com/assets/4501321/1798048/bf77f452-6b27-11e3-8d25-36f258d310ad.png)

Firefox on Win7, beta.habit. Lots of CSS warnings, no idea where to look to see if one's relevant.

[2013-12-22 16:57] cinemafreak opened #2085 "Weapons and armor disappearing after purchase"
Armor and/or weapons disappear and my previous armor and/or weapon return after purchasing the new. It's happened a bunch with my rogue. I don't mind having to rebuy things but the gold isn't coming back into my coffers.

[2013-12-22 17:00] baconsaur commented on #946
Does this work for a orb of rebirth? I wanted to give it wings or something but the orb itself had to be tiny for them to fit, so it's kind of plain. I figured animation would help.
![orb](https://f.cloud.github.com/assets/4521047/1798102/42d66f7e-6b2b-11e3-9b9b-3ba35863778a.gif)

[2013-12-22 17:06] SabreCat commented on #946
@baconsaur: Ooh, pretty! It reminds me of a powerup you'd see in an old scrolly spaceship shooter game like _Gradius_. Re animation: I love it, but I know animations require some special handling in the code. @lefnire might need to give me a hand getting that in there.

@DanielTheBard suggested having some kind of phoenix motif to the item, which is a cool idea. Not sure how you'd pack it into an

[2013-12-22 17:17] baconsaur commented on #946
My original idea for it had gold wings surrounding a silver orb, which works for phoenix imagery, but I couldn't quite pull it off that small. I can give it another shot if you'd prefer one without animation. Or maybe a phoenix feather?

[2013-12-22 17:20] SabreCat commented on #946
@crystalphoenix: There's a [video tutorial](https://vimeo.com/81066829) about submitting pixel art that talks about splitting and positioning. It's... somewhere in there. Alas, the thing is 25 minutes long and I'm not sure where exactly that's brought up ^.^;

@baconsaur: Phoenix feather could be cool! Kind of a Final Fantasy shout-out.

[2013-12-22 17:34] SabreCat commented on #1938
There's not a post-click modal, but it does take you back to the main screen, and you can see all your tasks change color when the page updates. I think this is done; closing.

[2013-12-22 17:34] #1938 closed, assigned to SabreCat

[2013-12-22 17:40] lefnire commented on #946
Yeah, let's keep animations to a minimum of possible because we can't use the spritesmith framework. I'll condense the video sometime over the holiday, but the skinny for @sabrecat:
1. add the image png habitrpg-shared/img/sprites/spritesmith/misc
2. run `grunt` (will generate new spritesheet & css)
3. now you have a class by the exact same name as your image file, so be sure the image filename is

[2013-12-22 17:42] lefnire commented on #2085
what's your UUID?

[2013-12-22 18:07] lefnire commented on #2070
This should be fixed now, keep an eye out and if it happens again re-open

[2013-12-22 18:07] #2070 closed, assigned to nobody

[2013-12-22 18:08] baconsaur commented on #946
Round 2, phoenix orb! The orb is pretty tiny, but it does fit the theme better. Embers  or no?
![phoenixorb](https://f.cloud.github.com/assets/4521047/1798197/cda7cb54-6b33-11e3-9fd1-6d392703676f.png)
![phoenixorb2](https://f.cloud.github.com/assets/4521047/1798199/fc311656-6b33-11e3-9998-fbe255684024.png)

[2013-12-22 18:22] SabreCat commented on #946
:heart: :heart: I say embers yes!

I would be happy to put this into my WIP right away. But I think you need to ping @lemoness for a "yes, you can use my art" form? She'd be able to fill you in.

Thanks so much @baconsaur, you stepped up so very quickly!

[2013-12-22 19:04] lefnire opened #2087 "APIv2 Updates"
- [x] path to return all item keys
- [x] return new task on POST & PUT
- [ ] path to upgrade class gear without passing item key (/user/inventory/upgrade or such)
- [x] /user/tasks/:id/:direction return user._tmp (drops & streakbonus info)

[2013-12-22 19:12] MagicMicky commented on #2087
Return new task on creation and edition

POST user/tasks/:id/:direction is working, just wondering if it sends info about drops?

Sorry to be brief, sent from mobile.

[2013-12-22 19:15] lemoness opened #2088 "Snowball at 1x zoom"
The snowball sprite is at 1x zoom! It should be at 3x zoom. Did you check the most recent sprite uploaded to the Trello?

[2013-12-22 19:18] lefnire commented on #2088
doesn't fit 40x40 for item-store & inventory. Nearest-neighbor scale down looked poor. Can you make one a <40x40?

[2013-12-22 19:19] lefnire commented on #2087
cool, updated the description. Thanks

[2013-12-22 20:24] startmyquest commented on #940
Yep, getting the same issue for any new tags I create and if immediately open a task to assign them. Will assign and tick all boxes for any recently created ones. Hitting refresh on browser, does seem to fix it.

[2013-12-22 21:34] RosemonkeyCT commented on #946
Ohhhh beautiful!!!

[2013-12-22 21:44] SabreCat commented on #946
@lefnire: I'm guessing I run grunt from within habitrpg-shared/img/sprites/spritesmith/misc (maybe?), but what command do I give it? just `grunt` doesn't do anything.

EDIT: I found `grunt sprite`, but it fails saying no spritesmith engine could be loaded for my machine, and to be sure I have installed canvas or gm. I know canvas blows up whenever I do my `npm install`, who knew I'd actually need

[2013-12-22 21:50] SabreCat commented on #946
[code]

[2013-12-22 22:25] lefnire commented on #1962
can you verify if this is still happening, with the push from a few days back?

[2013-12-22 22:35] crystalphoenix commented on #946
@RosemonkeyCT if you're able to position each submission yourself, that would save a step. but if not, having them all in one image doesn't make too much more work.

if you want some examples, you probably noticed how strangely spaced my magesheildspell posts https://github.com/HabitRPG/habitrpg/issues/943#issuecomment-30811428  have been. since i've been working on top of existing files to check

[2013-12-22 22:57] MagicMicky commented on #2087
Well this was fast for the item keys. Thanks! Will try it out as soon as I get back from Christmas!

I think there is no need for the 3rd one (path to upgrade gears without item keys) since we can have item keys easily now.

And I guess you can close #2080 now.

I really need to start learning about js and Angular to help a little more...

[2013-12-22 23:20] #2080 closed, assigned to nobody

[2013-12-22 23:20] lefnire commented on #2087
naw, don't bother with Angular - it's the API (Node.js & Express.js) which could use your help as our primary 3rd-partyist. I'll close the other one and copy the text in the description here (sorry, I totally missed that one!)

[2013-12-22 23:32] ghost commented on #2071
I agree that going off the site, even to an associated wiki, should not be necessary. The sticking point for me is that there is a difference between the amount of effort I will put into figuring out a game (which comes out of my free time) and the amount of time I will put into figuring out a productivity tool (which comes out of my productive time). Since the update, it feels like it is too out

[2013-12-22 23:47] cinemafreak commented on #2085
9814cdf5-7be0-4d39-bd18-71b8d31620ed

Any help would be appreciated.

Thank you

Podcasting's Rich Sigfrit
Host/Producer
Requiem of the Outcast and Mister Adventure
Award Winning Podcast
http://www.outcastmultimedia.com
As seen in Podcasting for Dummies
6 time Dragon*Con Parsec Award Finalist

On Sun, Dec 22, 2013 at 12:42 PM, Tyler Renelle notifications@github.comwrote:

[2013-12-23 01:57] lemoness commented on #945
Baconsaur, I CANNOT DEAL. I am in awe. So proud to have you on the team <3

[2013-12-23 02:06] lemoness commented on #2088
?? I made the snowball itself 39 by 39... do you mean, with the blank
outline? I've trimmed the .png so there's no transparent border; emailing
it to you now. Sorry! I figured you would just crop off the transparent
excess to fit.

On Sun, Dec 22, 2013 at 11:18 AM, Tyler Renelle notifications@github.comwrote:

[2013-12-23 02:21] DanielTheBard commented on #968
Tavern music idea:
https://soundcloud.com/daniel_medeiros-1/habitrpg-tavern-music

[2013-12-23 02:22] lemoness commented on #946
That's a fantastic phoenix orb! But is it going to be in the item store? If
so, it needs to be 40x40...

On Sun, Dec 22, 2013 at 2:35 PM, crystalphoenix notifications@github.comwrote:

[2013-12-23 02:26] SabreCat commented on #946
Aw! It's the same size as the food items...

[2013-12-23 02:49] lemoness commented on #946
The redone food items or the original ones? Because the original ones are
going to be replaced for size cohesion. Tyler, do you think it works,
size-wise?

On Sun, Dec 22, 2013 at 6:26 PM, Sabe Jones notifications@github.comwrote:

[2013-12-23 02:51] SabreCat commented on #946
Oh, I don't think I have the redone ones. So I guess it is off-spec.

[2013-12-23 04:23] JennaMalkin commented on #2071
What happens when a low-level user learns a spell?  How about, when a player learns their first buff spell, Justin comes and explains

'You've just learned a buff spell, which you can cast to help your party with a temporary boost to their Strength, Constitution, Perception or Intelligence.  The effects of a buff spell will last until each party member's day finishes.'

[2013-12-23 04:37] baconsaur commented on #946
Oh no. I made it the size the wiki listed for potions and eggs. :(
I can come up with something new if that isn't going to work, or try to adjust it somehow.

@SabreCat I already did the permission form a while back, so I assume that means anything I post is fair game.

[2013-12-23 04:45] ndandanda opened #2089 "Cannot delete a habit created by challenge that no longer exists"
Explanation: some time ago I joined a challenge that created a "productivity" habit. This challenge no longer exists (so I cannot leave it) but when I try to delete this habit it disappeares for some time and then reappeares. I tried to delete it from Crhome and Safari browsers and Android app, with no success. Emptying cash didn't help either.

Browser: Chrome Version 31.0.1650.63

Java console:

[2013-12-23 04:48] baconsaur commented on #946
I managed to cut it down to 42x42, but that's as small as it's going to get without a full redesign. If this still can't be used, I'll start over.
![phoenixorb_small](https://f.cloud.github.com/assets/4521047/1799217/669214ec-6b8d-11e3-8311-741dfa3c925a.png)

[2013-12-23 04:49] #2089 closed, assigned to nobody

[2013-12-23 04:57] baconsaur commented on #945
Thanks Lemoness! I'm really glad to contribute as much as I can, you guys are all awesome people to work with.

[2013-12-23 05:41] mud-fighter commented on #2085
I had the same problem, bought black leather armor and never received it, took my gold as well.

UUID is 10e54769-cb4a-460a-a081-d69762fdece0

Thank you much.

[2013-12-23 06:32] lemoness commented on #946
@lefnire? Your take on this, from the technical side?

On Sun, Dec 22, 2013 at 8:48 PM, baconsaur notifications@github.com wrote:

[2013-12-23 06:32] lemoness commented on #946
Specifically, I thought the potions and eggs were supposed to be 40x40.
What sizes are listed on the wiki?

On Sun, Dec 22, 2013 at 10:31 PM, S Leslie leslie@habitrpg.com wrote:

[2013-12-23 08:57] lefnire commented on #946
@SabreCat run grunt from the top-level habitrpg-shared directory. You may need to satisfy some [installation requirements](https://github.com/Ensighten/grunt-spritesmith). Straight up `grunt` will create a spritesheet from everything under /img/sprites/spritesmith, create the css, compile the javascript, etc.

Re: image sizes (@lemoness @baconsaur @SabreCat) it depends on where things show up. Her

[2013-12-23 09:31] ghost commented on #2071
I like that idea. It helps out new users without forever bugging more savvy users as they use the game.

[2013-12-23 11:10] RosemonkeyCT commented on #945
Ohhh wow, my mouth literally fell open when I saw that! it's fantastic @baconsaur absolutely amazing!! And I love the quest that's been written up for it. I didn't really get what the quests would be like before but it makes sense now I've seen an example like that. I can't wait to see this implemented!!!

[2013-12-23 12:43] SabreCat commented on #946
I'm planning to put it in the Market along with the saddle, Fortify Potion, and snowball. So 48x51 is OK? Sweeeeet!

[2013-12-23 13:09] SabreCat commented on #946
@lefnire: Oho, I see. Canvas is Unix-only! No wonder nothing I tried worked. Looks like I need to install gm. Will try that!

[2013-12-23 14:22] FraktalInverTer opened #2090 "Paid the supporter thingy - still have ads, didnt get gems"
While I do love contributing to a worthwhile project just because it is awesome, the ads are really annoying. Could you look into why I didn't get my rewards after paying?

Oh.. my uuid is: e53390fa-0f01-49de-8989-3b91c8fb1278

[2013-12-23 14:59] guifes commented on #778
I still can't see my default rewards. Only the custom ones. Although I can see them on my Android app.

[2013-12-23 17:46] lorian opened #2091 "Earthquake still not working"
I cast Earthquake this morning, lost 35 mp, received a notification that I'd cast Earthquake on my party, and nothing showed up in buffs, and xp didn't change. I waited about 45 minutes, but nothing changed. I have no other buffs on me.

(Unfortunately only people with commit access can re-open github issues, so I'm creating a new one, sorry!)

[2013-12-23 17:57] wc8 commented on #2091
Tip: if you comment in the original ticket, we’ll see it and we can reopen it.
Is the original #2064 ?

[2013-12-23 18:00] wc8 commented on #2070
#2064 related

[2013-12-23 18:02] lorian commented on #2091
Nope, it is #2070 although the problem is the same.

[2013-12-23 18:07] wc8 opened #2092 "Non-Modal Drop Notifications"
Give drop notifications in the format of XP, GP, with an image of the drop so they do not interrupt workflow.
- related to Trello https://trello.com/c/684Dv1py/320-quiet-notifications-bell
- would also help with 2nd request from #939

[2013-12-23 18:15] jreatherford opened #2093 "Pickpocket Gives 160 Gold to an easy task with 93 day streak"
Hey, I looked around for a similar problem posted but did not see one (I apologize if I just overlooked it)

The title pretty much explains it, I received 160gp for using pickpocket on a task marked easy.

I suspect it may be due to the 93 day streak that it has.

It is set as a physical task if that helps.

Hope this is helpful!
-James

[2013-12-23 18:26] lorian opened #2094 "Lost gems after deleting challenge"
I deleted a party challenge that I had created, that had only ever had me in it, and which had 20 gems as a reward (an attempt to give a party member gems for Christmas), and the gems have disappeared: they are not in my gems, nor are they in party gems. If this is intended behavior, a warning at the delete prompt would be greatly appreciated!

[2013-12-23 18:56] baconsaur commented on #2093
I just used it on an easy task with a 230 day streak and only got 53 gold. I'm really curious how this is being calculated.

[2013-12-23 19:02] djuretic commented on #1560
I think this pull request should be closed, the fix was already merged in habitrpg-shared.

[2013-12-23 19:05] djuretic commented on #2082
That reminds me of #1560 (in that case it the problem was with GP), maybe it's a rounding math problem.

[2013-12-23 20:22] wc8 commented on #2094
There’s a warning at the beginning, but I agree that a warning in the delete prompt would be a good thing.
@lefnire ?

[2013-12-23 20:38] #1560 closed, assigned to nobody

[2013-12-23 21:18] guifes commented on #2059
There's something I did not say. My character did not start with a sword by default, like my friends did.

[2013-12-23 21:20] sleepykit commented on #2093
Would one those be a critical hit maybe?

[2013-12-23 21:20] lemoness commented on #946
Nope, if it's in the Market, it's gotta be 40x40. If it were just a drop,
that would be different.

Maybe the Market version could be smaller, and then when the spell is cast,
it would display the awesome large one?

On Mon, Dec 23, 2013 at 4:43 AM, Sabe Jones notifications@github.comwrote:

[2013-12-23 21:21] guifes opened #2095 "My character did not start with a sword by default. But my friend's did."
My two friends playing with me started their characters with a sword, mine didn't.

[2013-12-23 21:21] lefnire commented on #2093
That was definitely a crit. Math is here:
https://github.com/HabitRPG/habitrpg-shared/blob/develop/script/content.coffee#L304,
please help fix :)

On Mon, Dec 23, 2013 at 2:20 PM, Anna Nelson notifications@github.comwrote:

[2013-12-23 21:24] sleepykit commented on #2081
This one for me as well. As a test I reset up all of my dailies (like created brand new ones) so they're all yellow and have a 0 streak and I haven't touched them yet. I also have a few + only habits that have never been touched. Searing light did not affect them at all as far as I can see.

I also created a habit and made it orange on purpose and then tried searing brightness and it did not becom

[2013-12-23 21:34] lefnire commented on #2095
UUID?

[2013-12-23 21:36] guifes commented on #2095
cb4e4581-c305-42c4-a25b-41f7f2db0987

[2013-12-23 21:40] lefnire commented on #2095
Interesting.. I'll look into why it didn't equip automatically for you, but in the meantime you can equip it from your inventory https://habitrpg.com/#/options/inventory/equipment

[2013-12-23 21:57] guifes commented on #2095
Now that you've mentioned it, I realised that my inventory tab in options is not even appearing. But I could manage to access it going directly to the URL.

[2013-12-23 22:07] lefnire commented on #2095
Oh snap, sorry inventory unlocks with pets at lvl 3. Yeah of can access by
URL before then if you know it
On Dec 23, 2013 2:57 PM, "Guilherme" notifications@github.com wrote:

[2013-12-23 22:17] guifes commented on #2095
Since I got your attention, I did not create an issue for this yet, but in the web I can't see the default rewards (Leather armor, sword, etc). But I can see them in my Android app.

[2013-12-23 22:29] lefnire commented on #2095
Lvl 2. just level up a few and check back at 5 if you're still having
issues
On Dec 23, 2013 3:17 PM, "Guilherme" notifications@github.com wrote:

[2013-12-23 23:08] SabreCat commented on #946
I'm so confused. All the eggs and potions in img\sprites\spritesmith\items are 48x51 :\ Do they have transparent edges that don't count, or something?

In any case, I'm stuck on this until somebody helps me run grunt-spritesmith, it refuses to work on my machine no matter what I try >.<

[2013-12-23 23:25] cinemafreak commented on #2085
Aaaaaaaand this is the fourth time I've lost my  Penumbral Armor and/or my Penumbral Hood without my gold being returned.

[2013-12-23 23:31] lefnire commented on #2085
Will look into this soon as I can, I'm crazy swamped. I checked out your accounts, and the structure looks solid so I'm not sure what could be going wrong. If it happens again, keep an eye out for javascript errors in Chrome Console, or any alerts in the top right. In the mean time, use Options > Settings > Restore Character Values to give yourself the gold to buy back your items

[2013-12-23 23:35] lefnire commented on #946
@lemoness @SabreCat  i think we have a mismatch going on. All market items are 48x51. I don't know when this started (it's pretty weird), but yea - all eggs, food, potions, scrolls (coming), etc are 48x51.

Item-store items are 40x40 (that's items under the rewards column), and since the same icons are used in Inventory > Equipment, those are also 40x40. Equipment / Market mismatch is a bit funky,

[2013-12-24 01:56] Shmitz opened #2096 "Spell list has disappeared."
I am a level 10 rogue. My spell list disappeared after refreshing my browser sometime on the day I leveled to 10. This was the same day I saw the message that class unlocks were getting pushed from level 5 to level 10. I was a rogue previously, and it still says I'm a rogue. It is still offering me rogue equipment to purchase.

My user ID is e8a9aabd-b14c-45d7-92c3-4bfe2c583669

I use Chrome. I se

[2013-12-24 02:00] lefnire commented on #2096
classes unlocks at 10 now, not 5. spells unlock then at 11,12,13,14. Had some major backlash for unlocking classes so early (users getting confused/overwhelmed). One more level, friend!

[2013-12-24 02:00] #2096 closed, assigned to nobody

[2013-12-24 02:03] lefnire commented on #2093
@sleepykit you deleted comment, you were on track! let me know if wanna take a crack and need help, there's no such thing as too much hand-holding when someone's offering to help :)

[2013-12-24 02:06] lefnire commented on #2092
I'm for it. oh, sabrecat assigned himself! _wipes sweat_

[2013-12-24 02:14] sleepykit commented on #2093
I had suspected as much but the comment looked funky when it came out and then I got Hubby to give me a hand and he was like "that's definitively what we're looking at here". So it got answered for me. :) Now, it's Math time.

[2013-12-24 02:44] sleepykit commented on #2093
Is target.value in

user.stats.gp += (if target.value < 0 then 1 else target.value+1) + user._statsComputed.per \* .075

the GP earned from the task without pick pocket? Or some other magical number?

Also if there's a better place for me to go ask stupid questions, I will gladly migrate there.

[2013-12-24 02:48] lefnire commented on #2093
Out n about now, but when I get a moment I'll send you some resources,
there's some background info behind all this
On Dec 23, 2013 7:44 PM, "Anna Nelson" notifications@github.com wrote:

[2013-12-24 02:49] kalliburr opened #2097 "Difference Between Rewards Earned on App and on Website"
So there is a HUGE discrepancy between the gold I earn on my iPad app vs. the gold earned on the website.  I have attached two images, both were captured today while selecting the same habit.

The first one was taken from the app.

![img_0084](https://f.cloud.github.com/assets/6013399/1804287/5e94f044-6c45-11e3-9e41-2808ade80564.PNG)

This second one was from the website.

![screen shot 2013-12-23

[2013-12-24 05:11] sleepykit commented on #2093
I admit to boredom because I did more looking (and I apologize in advance because this is my very first run in with Coffee Script and I'm having a hard time reading it).

It looks to me like target in this case is a task. So I was really supposed to be looking at task.value, I think. I checked task.js and it looks like tasks do have this variable in them. Task.value is described in the file as "th

[2013-12-24 06:13] lefnire commented on #2093
Ok, here we go - I added a bunch of info on the [Trello card](https://trello.com/c/L1H6LiZ3/110-character-stats-attributes-the-class-system) (where most of the conversation has happened to date), in the "We need help with balancing / math" section - including some answers to some your questions. Quick bit: streaks don't play into passive or active stat calculations, they're _only_ used for streak

[2013-12-24 06:24] lefnire commented on #2097
see this update: https://www.facebook.com/Habitrpg/posts/551153928302320 . Unfortunately we can't push an iOS update to till 12/28; luckily, the server saves the correct math, but you'll need to refresh periodically & keep that in mind for the next week. Kinda a bummer :( I'll keep this ticket open until we can push

[2013-12-24 09:12] breadstrings commented on #1994
I'm still getting a 504 error. The latest occurred when I was attempting to post a message in one of the guilds.

[2013-12-24 09:14] Pandoro commented on #945
@longhorse Did you also make the big blob like thingie :o ?

@baconsaur really awesome dragon! Wow ;D

[2013-12-24 09:29] Pandoro commented on #946
@baconsaur love the Phoenix Orb :D

[2013-12-24 12:35] SabreCat commented on #2092
This is probably a rabbit-hole of a question, but this came up in the context of customization, turning different alerts off. Does this need to be configurable? I'm hoping not, I think it'll be fine if everybody gets the initial modal explaining drops and then the rest just appear as alerts, but wanted to be clear re: the request...

[2013-12-24 12:44] SabreCat commented on #2093
Critical hit on a spell? Should that be happening? Could explain why Rogues sometimes get utterly ludicrous values off Pickpocket sometimes.

[2013-12-24 12:47] SabreCat commented on #2094
A warning is one thing, and easy to do quickly, but it would make way more sense to refund the Gems. It would, however, allow an exploit: Guild leader could use a chump Challenge to siphon off their Guild bank, effectively letting them make Guilds for free.

[2013-12-24 12:51] SabreCat commented on #2082
It'd help to know what tripped this. Did it happen when they scored +1 MP off a To-Do? When a party member cast Ethereal Surge? When they leveled up? When they raised or lowered their INT score?

[2013-12-24 12:52] SabreCat commented on #2091
Looks like a duplicate indeed. Closing this one, the original is reopened so we can follow there.

[2013-12-24 12:52] #2091 closed, assigned to nobody

[2013-12-24 12:53] SabreCat commented on #778
@guifes: What level are you? Default rewards don't unlock until level 2 or 3, I believe.

[2013-12-24 12:58] SabreCat opened #2098 "Show progress/weight bars for task-based auto-allocation"
When the present (task attribute-based) auto-allocation feature is on, the only way to tell what you're leaning toward is to keep track of your present attribute point assignments and see which one changes when you level up. It would be useful, and a cool motivation enhancer, if you could see some indication of your attributes' relative weight during the course of a level. Say, little percentage b

[2013-12-24 13:10] cinemafreak commented on #2085
I'd really prefer to not Restore Character Values if it's at all possible.  No worries on being swamped, I know the feeling.  I just wanted to raise the red flag since it's happened again.  I'm going to wait to buy any gear until after the IOS push (since I use both the online version and the IOS app).

[2013-12-24 14:02] Nostos opened #2099 "New day not starting"
Greetings,

I noticed this morning (I'm writing from Italy) that my tasks have not reset at rollover tonight, in spite of the fact that my day start is scheduled at 4 AM.
I tried to search this repository for the same issue, but could not find any (I can't say I actually knew _what_ to search for...I tried with "Day start" et similia), so I hope I didn't miss any report :/

As of now, most of my D

[2013-12-24 14:44] SabreCat commented on #946
Got it showing up in the Market. Happy dance! Thanks so much @baconsaur and @lefnire!

![screenclip](https://f.cloud.github.com/assets/4501321/1806293/c8fbeb5e-6ca9-11e3-8c0a-6fb1592a4d08.png)

Need to iron out some bugs and HTML unprettiness with the unlock part of it, then it's on to coding the actual feature!

[2013-12-24 15:03] wc8 commented on #2092
@SabreCat I’d say no, don’t make this configurable. Initial modal explaining drops, the rest as alerts. So long as they don’t blink by too fast, I doubt anyone would have an issue with this.

[2013-12-24 15:51] guifes commented on #778
I'm at level 1, and I know now that I'm not supposed to see the default rewards yet. But I can see them in the Android mobile app, maybe you guys will want to check that out. I even bought a helmet and I'm still level 1.

[2013-12-24 16:01] SabreCat commented on #778
@guifes, can you open a ticket over at [habitrpg-mobile](https://github.com/HabitRPG/habitrpg-mobile/issues)? I think this is a known issue, but I don't see a ticket out for tracking it.

[2013-12-24 16:06] guifes commented on #778
Done!

[2013-12-24 16:08] dzlotnik commented on #2099
Same here (rollover time set to 11am EST). Fairly sure daily tasks failed to refresh for second day in a row.

[2013-12-24 16:23] lefnire commented on #2099
dupe of #1057

[2013-12-24 16:23] #2099 closed, assigned to nobody

[2013-12-24 16:24] lefnire commented on #1057
FYI, the solution for everyone is to use 0 for the custom day start. We'll work on fixing that feature

[2013-12-24 17:01] kalliburr commented on #2097
Cool.  :3  It's not a huge problem, it's just confusing. xD

[2013-12-24 17:04] lorian commented on #2094
I think you can do that exploit currently anyway: just declare yourself the winner. Personally, I'd be fine with it always refunding to guild or party bank, if it was a guild or party challenge. It's very counter-intuitive for real-money currency to just vanish like that.

[2013-12-24 17:06] SabreCat commented on #2094
Good point! Total support for refund, then.

[2013-12-24 17:11] SabreCat commented on #946
Here's the [current purchase modal](https://www.dropbox.com/s/60tjqfdrqsreke9/RebirthModal-Draft03.png) for the Orb of Rebirth. Notice there's an achievement medal down there! I'll use the sun emblem for now, but if anybody's interested in making a fresh one, I'd take it.

[2013-12-24 22:31] SabreCat opened #2100 "Buying max Wizard/Mage gear doesn't earn Ultimate Gear achievement"
Noticed this while testing my Rebirth branch, but I suspect it's the same on main. If you buy up all the Wizard equipment, you don't earn the Ultimate Gear achievement. I suspect this is because Ultimate Gear checks for maxed-out shield, and the Wizard doesn't get shields!

[2013-12-24 23:51] lefnire commented on #2100
Oi! Good catch!
On Dec 24, 2013 3:31 PM, "Sabe Jones" notifications@github.com wrote:

[2013-12-24 23:59] SabreCat commented on #2100
Should be easy to fix, just check if the Weapon is two-handed, and only require the shield if not. (Rather than check if class is Wizard, which would require re-fixing if we add Rangers or something later with the same problem)

[2013-12-25 00:00] lefnire commented on #2100
Definitely. 2m job, will do when back at a comp

On Tue, Dec 24, 2013 at 4:59 PM, Sabe Jones notifications@github.comwrote:

[2013-12-25 00:40] lefnire commented on #2090
Give that a shot. We're having trouble with international paypal for some reason, but it's really inconsistent. Extra gems for the trouble and the wait.

[2013-12-25 00:40] #2090 closed, assigned to nobody

[2013-12-25 00:47] lefnire commented on #1978
@guryushika updated you in the database, extra gems for the wait and trouble. sorry friend :(

Paypal is giving us mixed results for internationals. @SabreCat, think I should disable it until we figure out what's going on? It's pretty rare, but when it happens it's pretty important. Downside is paypal is 90% of our payment throughput, and I wouldn't even know where to start diagnosing the issue si

[2013-12-25 00:47] #1978 closed, assigned to nobody

[2013-12-25 00:53] lefnire commented on #2052
fix coming with the bosses feature

[2013-12-25 00:53] #2052 closed, assigned to nobody

[2013-12-25 02:26] SabreCat commented on #1978
Argh, that is a hell of a call to make. I hate to ask, but do we have any line of support from the PayPal side?

[2013-12-25 02:34] lefnire commented on #1978
Naw don't worry on judgement call, more a "thoughts?". I'll see about sending them a support ticket. Will try to sift through their support base too.

[2013-12-25 09:18] guryushika commented on #1978
Thank you for the gift guys :+1: , and best of luck to get through with the Mammut named paypal…

[2013-12-25 17:46] doctorcurly opened #2102 "Spells disappeared"
I cast a healing spell when I first had access to spells, but even though I have enough MP, and have even leveled up aa couple of times, none of the spells that were previously available are shown. Only my rewards and equipment for sale are shown.

[2013-12-25 17:47] lefnire commented on #2102
dupe of https://github.com/HabitRPG/habitrpg/issues/2096

[2013-12-25 17:47] #2102 closed, assigned to nobody

[2013-12-25 17:55] doctorcurly opened #2103 "Spells disappeared"
I cast a healing spell when I first had access to spells, but even though I have enough MP, and have even leveled up aa couple of times, none of the spells that were previously available are shown. Only my rewards and equipment for sale are shown.

[2013-12-25 17:58] lefnire commented on #2103
This is a duplicate of #2096, see that ticket instead

[2013-12-25 17:58] #2103 closed, assigned to nobody

[2013-12-25 18:16] Jajoto opened #2104 "Quest scrolls"
I aborted quest scrolls and I thought I would keep it in inventary. I want it back. :(

ID: f6d401ca-7e94-4961-b9b3-b85c8c8b5d66
API: [edit: removed by @lefnire, security risk]

[2013-12-25 18:18] lefnire commented on #2104
I'll give you yours back, but I'm not sure if we're going to have "abort quest" restore people's scrolls. Quests are meant to trigger productivity sprints, and if people can abort close to the end of a failing quest, it takes away their incentive to get their act together during the quest

[2013-12-25 18:19] doctorcurly commented on #2096
Thank you.

[2013-12-25 18:19] lefnire commented on #2104
added back

[2013-12-25 18:19] #2104 closed, assigned to nobody

[2013-12-25 18:19] doctorcurly commented on #2103
Thank you!

[2013-12-25 18:48] octern opened #2105 ""No user found" and continuous refresh"
When I go to habitrpg, I get a dialog box saying "no user found" and after pressing OK, the page reloads. After reloading, the same thing happens again. I've tried this on a browser on which I'm logged in, and it does show me my tasks &c before the dialog pops up. I also tried it on a browser on which I'm not logged in, and the same thing happens when it loads the HabitRPG title screen. There's no

[2013-12-25 18:50] storian commented on #2100
Does the Ultimate Gear achievement only happen once, and not happen again if you change your class?  I have that achievement from before classes were implemented, and I've bought all gear for the Rogue but did not receive it again.  Is that how it's supposed to work?

[2013-12-25 18:51] DanielTheBard commented on #2105
This was happening to me, too, on the beta site. Swapped to the normal site with no problem. But the last 19 hours of chat have been deleted. Got back on beta now though no problem.

[2013-12-25 18:51] octern commented on #2105
Okay, it persisted through the first 5 reloads in multiple browsers. Then it reloaded a version of my page from about 4 days ago, and then it updated back to the current version, and the problem resolved. I'll leave this open in case it's happening to others.

[2013-12-25 18:52] lorian commented on #2105
Just happened to me as well, with the 401s and popup box and endless reloads; Firefox eventually crashed while I was attempting to reply to this issue, and now it is not doing it any more (cross fingers).

FWIW, I'm on the standard site, not the beta one.

Edit: As Lrdwhyt says, my dailies were reset and were from yesterday (I change the text of some of them every night), before I had checked anyt

[2013-12-25 18:52] ylysyym commented on #2105
Yep, had this problem. I logged out and tried to log back in, but it would not let me. So I reset the password, logged in, and found that my progress had been set back.

[2013-12-25 18:52] SabreCat commented on #2100
@storian: That's right. It could be a cool enhancement to have separate achievements for each of the classes, but at the moment, you get the Achievement once for the first class you max out, and it's done.

[2013-12-25 18:53] DanielTheBard commented on #2105
@lefnire has realized and is looking into it. He set the site back to a version from this morning I think to fix it.

[2013-12-25 18:53] lefnire commented on #2105
Holy snap! There was a database outage. Doubtful it has anything to do with bosses, but no clue what happened, I'll see if there are MongoHQ logs. I did a roll-back to this morning. Let me know if anyone needs any missing gems or such in the mean time, more soon

[2013-12-25 18:57] ArlieS opened #2106 "No User Found"
This morning, https://habitrpg.com/#/tasks is hysterically alternating between a pop-up that says "No user Found", in white, in the upper center of the window; a pair of pop-ups where I normally get notified about xp, gold, etc, in pink, saying "Error 401: No user found"; and notifications about scripts running too long. It's also hogging most of the cpu cycles given to the browser, except when wa

[2013-12-25 18:57] storian commented on #2100
Ok cool.

On Wed, Dec 25, 2013 at 10:52 AM, Sabe Jones notifications@github.comwrote:

[2013-12-25 19:02] lefnire commented on #2106
See https://github.com/HabitRPG/habitrpg/issues/2105#issuecomment-31203606 for the User Not Found issue, see https://github.com/HabitRPG/habitrpg/issues/1499 for the performance stuff

[2013-12-25 19:02] #2106 closed, assigned to nobody

[2013-12-25 19:03] no1yudkno opened #2107 "how to quest"
I got my first quest scroll but i have no idea what to do with it, i dont have any friends on habit and all it says for options is invite party? am i missing something or are quests for parties only?

[2013-12-25 19:09] #2107 closed, assigned to nobody

[2013-12-25 19:09] lefnire commented on #2107
Create an empty party if you want to quest solo

[2013-12-25 19:16] lefnire commented on #2105
Hey all, I can't find any leads... I fear for the worst - I think I ran a development database script against production accidentally :( :( I've given everyone who's logged in today 2gems for the troubles, and I've emailed anyone who's actually purchased gems to give me their UUIDs. I'm so sorry everyone! That's a dev's worst nightmare, we're always so meticulous when running our db scripts for th

[2013-12-25 19:16] #2105 closed, assigned to nobody

[2013-12-25 19:22] ArlieS commented on #2106
It seems sane now, though I haven't clicked anything yet. I've lost 7 HP, 112 XP, and 21 GP; I take it this is roll back + day starting with many of yesterday's dailies at the rollback state. Not concerned about the losses - it won't kill my character. Just reporting for clarity. Thank you for being alert and on this on a holiday morning; I really wasn't expecting you to once again respond before

[2013-12-25 19:23] ArlieS commented on #2106
yep, it's sane. I successfully reported my first daily of the day

[2013-12-25 19:23] lefnire commented on #2106
Oh, not at all! I'm in panic mode with that stray-script, I've ruined Christmas :(  Anyway, thanks for the report and your understanding

[2013-12-25 19:49] skreebat commented on #2106
Hey, I've just joined the community today, and everything was working fine until I checked one of my To-Do boxes. My page started to immediately tell me "user not found" and refreshing continuously. It just keeps looping on that. I assume it has to do with the same issue?

[2013-12-25 20:01] lefnire commented on #2106
@skreebat i'm pushing the constant-refresh fix fix right now. To get out of it for the time being, you'll have to hit `esc` to prevent reload, then click Logout from the user dropdown. You'll have to create your account again :(

[2013-12-25 20:08] skreebat commented on #2106
@lefnire Ah, alright! That's okay. Thank you. :)

[2013-12-25 20:09] dariattic opened #2108 "Error 401: No user found"
I've made a new account just this afternoon, but now I'm unable to use it. An Error 401: No user found keeps popping up.

My User ID is ad1dc74c-5a85-4ee8-bb03-39fb8227851a
My API is 3c93f5e4-6589-44d2-b80f-11a4bf3a51e5

If it helps, I'm using Firefox, only I'm not sure what part of the source code on the page tells about the error.

[2013-12-25 20:17] lefnire commented on #2108
see https://github.com/HabitRPG/habitrpg/issues/2106#issuecomment-31204520

[2013-12-25 20:17] #2108 closed, assigned to nobody

[2013-12-25 21:09] Habitfan opened #2109 "I died"
I just Died and lost a boatload of gold. This one was a bug. I lost over 10k in Gold! I am not looking for anything i did not earn but any help would be appreciated!

It's Christmas so I don't expect anything to be done today I just wanted you to be aware.

Thanks Seneca.

[2013-12-25 21:11] lefnire commented on #2109
alas friend seneca, it's https://github.com/HabitRPG/habitrpg/issues/2105 . Read up on that bit, you'll have to restore (Settings > Restore). [Let me know](mailto:tyler@habitrpg.com) if you're missing apology gems

[2013-12-25 21:11] #2109 closed, assigned to nobody

[2013-12-25 22:03] boehsermoe opened #2110 "Spells hidden"
I can no more cast spells since some days, all my spells are hidden...

[2013-12-25 22:03] SabreCat commented on #2110
Are you 10th level, or higher? You shouldn't have all spells unlocked until level 14.

[2013-12-25 22:03] #2110 closed, assigned to nobody

[2013-12-25 22:06] boehsermoe commented on #2110
I'm level 10 and last Weeks i had 4 Spells, but now they are disappeared.

[2013-12-25 22:07] SabreCat commented on #2110
Yup. The progression has changed. Classes now unlock at level 10, and you get a spell each level thereafter.

[2013-12-25 22:15] boehsermoe commented on #2110
Ah ok, thanks!

[2013-12-26 03:14] phillipgreenii opened #2113 "Why did I die"
Yesterday when I was updating my character tasks for the day, I achieved level 33.  Today when I logged on to do the same thing, I was informed that I had died and I'm now level 31.  It seems that there was a bug of some sort, but I don't know where.

[2013-12-26 03:15] EvilTosha opened #2114 "Burst of flames spell bug"
After the roll-back the burst of flames spell doesn't work properly. When I choose it, I can apply it many times, it doesn't consume any mana. But there's no way to stop using it (the cursor keeps highlight tasks with green frame), and after refresh all earned (by using the spell) experience is gone. Also, if I earn more exp than needed for the next level, I won't level-up (it just shows 500/380 e

[2013-12-26 03:19] DanielTheBard commented on #2082
@SabreCat - I wish I knew aha. They just told me that and said something about not being good at English I think so they didn't want to open up an issue ticket.

[2013-12-26 03:38] #2114 closed, assigned to nobody

[2013-12-26 03:40] lefnire commented on #2113
See #2105 A whopper, alas :(

[2013-12-26 03:40] #2113 closed, assigned to nobody

[2013-12-26 03:40] lefnire commented on #2105
If anyone still needs apology gems, [shoot me a message](mailto:tyler@habitrpg.com)

[2013-12-26 03:52] earlpark77 opened #2115 "Trapper Santa not being damaged by finished dailies or to-do's"
Maybe it's b/c one of my party members was resting in the inn when he accepted the quest?

[2013-12-26 04:26] lefnire commented on #2115
All damage both to and from a boss is tallied on day roll-over (cron). So tomorrow morning you'll see your dent. This is the same with collection quests (the next quest in the ark)

[2013-12-26 04:26] #2115 closed, assigned to nobody

[2013-12-26 05:15] xAlec opened #2116 "Dailies resetting early"
My dailies are set to reset at 3:00 am, but have done so early. As a result, I've lost a bunch of health.

Browser: Safari 7.0.1

[2013-12-26 05:17] lefnire commented on #2116
follow on https://github.com/HabitRPG/habitrpg/issues/1057

[2013-12-26 05:20] erythrodont opened #2117 "Issue with dailies (not resetting on new day)"
My dailies are showing up exactly as marked yesterday, as if my day hasn't ended yet. They should've reset 8 hours ago. @Alec is facing the opposite issue - his dailies have reset before his custom time of 3am.

[2013-12-26 05:21] lefnire commented on #2116
Woops, resetting too early - haven't seen that before, re-opening

[2013-12-26 05:21] lefnire commented on #2117
oh woops, Alec's is a new one then. _This_ one is the dupe of #1057

[2013-12-26 05:21] #2117 closed, assigned to nobody

[2013-12-26 05:35] erythrodont commented on #2117
Thanks @lefnire! I'm always amazed by the promptness of your response. Just fyi, setting the custom day start to 0 doesn't seem to be working. I just think I'll wait it out till the server resets the day. Cheers!

[2013-12-26 05:41] lefnire commented on #2117
np! yeah, setting your 0-dayStart won't trigger until next cron, unfortunately. But yeah, custom dayStart != 0 is just a source of many nebulous bugs that I can't peg. Now that most major features are released I'm going into maintenance mode, and I'm gonna tackle that one soon as I can

[2013-12-26 06:16] SabreCat commented on #2072
I think I've learned enough about Growl notifications from working on #2092 that I can tackle this. Assigning myself. I'll get to play with colors!

[2013-12-26 06:25] TheWebTech opened #2119 "no way to sell old class items"
Once the class system was implemented I changed class twice, I have all this gear hanging out that is not for my class I want to sell it to get the money for the new gear. It'd be great if some sort of implementation of selling the gear was possible. Or "selling for shop credit" that way the money couldn't be spent on rewards outside habitRPG such as watching netflix. that way users wouldn't feel

[2013-12-26 09:10] SinEstelle commented on #2116
I had the same thing.  I saw a message in the tavern chat by someone saying there was a database hiccup and it had to be rolled back a day.

But I hadn't had a chance to put them all back in, and have now lost a lot of health, and lots of streaks too.  :/

[2013-12-26 10:14] Tinus427 opened #2120 "My character died twice yesterday!"
... just as I was checking tasks. I was a little low on HP the day before, so it didn't surprised me much the first time (though I thought I could made it to the next level without damage). But how could it happen a second time on the same day?

Thank you!

[2013-12-26 10:53] Walthanar opened #2121 "Huge loss of health for no reason"
I was at 50/50 health and 7 mana yesterday before date change, with one red task not completed, that usually hits for 7-8 damage. Today I found 18/50 HP and 71/72 mana, I cast all the healing I can and that's no problem, though I think it's a bug of some sort. I also started the xmas quest, maybe it's part of the problem?

[2013-12-26 11:01] FraktalInverTer opened #2122 "#2090 revisited - Paid the supporter thingy - still have ads, didnt get gems"
Bug 2090 was fixed, then when I logged in today all gems were gone and ads are back again. Did you do some server restore?

Please help again.

[2013-12-26 12:21] djuretic commented on #2082
There are two issues here:
- How can the current MP exceed the Max MP?
- The "real" current MP is less than the current MP shown. Otherwise the user could have used the ability that cost 45 MP.

For the latter, I think that in the case of user Eipois: 44.5 <= current MP < 45
The code used to show the current MP (`number: 0` in https://github.com/HabitRPG/habitrpg/blob/develop/views/shared/header/h

[2013-12-26 14:28] jacobb84 opened #2125 "Donation effects suddenly reverted"
Hi there, 2 days ago I donated 5 dollars to buy 20 gems and disable the ads. I bought one skin set for 5 gems that day as well. Today when I logged in though, all the ads are back, and my purchases and gems are missing.

My user id there is also RatNeurons and the PayPal transaction was #7A073854X5049091V

Let me know if there's any other info I can provide to help track this down. Thanks!

[2013-12-26 14:59] SabreCat commented on #2100
@lefnire Nvm, I'm on it. Trawling the queue for little things I can address, y'see :smile_cat:

[2013-12-26 15:46] octern opened #2126 "Boss damage doesn't show up until refresh of party page"
My rollover is scheduled to happen at 10:00 AM. This morning I checked off some dailies from yesterday, and after 10 I reloaded the page so rollover would happen. I got my HP loss notification from an item I missed and my dailies all reset. Then I went to my party page to check the new boss's HP, but it was still at max. I then reloaded the page again, and the boss showed a little damage.

I'm not

[2013-12-26 16:02] SabreCat commented on #2082
Hmm, it rounds, but how would we get a non-integer MP in the first place? Isn't it always raised and lowered by whole numbers?

...maybe in the formula for how much you get out of INT?

[2013-12-26 16:06] lefnire commented on #2126
I plan to fix this, but it's gonna be an adventure - so will be a ways out. Here's the technical lowdown.

`user` is loaded from the server separately from `group`s (guilds, tavern, party). This is for performance reason - you may only want to do your tasks and never visit the tavern or guilds tab in a session. However, here's the consequences:
1. Load user & party concurrently, but separately
2.

[2013-12-26 16:08] SabreCat commented on #2125
There was a database error within the last 48 hours that forced a rollback. Can you provide the User ID from your Settings > API page? That'll let us get your ads and Gems fixed.

[2013-12-26 16:09] SabreCat commented on #2122
There was a database error within the last 48 hours that forced a rollback. Can you provide the User ID from your Settings > API page? That'll let us get your ads and Gems fixed.

[2013-12-26 16:09] lefnire commented on #2105
and also if people need stats restored, go to Options > Settings > Restore Character Values. If you need Streaks restores, edit a task > Advanced > Restore Streak. If you have tons of streaks and that would be too daunting, [email me](mailto:tyler@habitrpg.com) and I'll revert your streaks from 12/24

[2013-12-26 16:10] SabreCat commented on #2121
There was a database blooper that caused some rollback of data--this probably hit as a result of that. Please reopen if you see this again.

[2013-12-26 16:10] #2121 closed, assigned to nobody

[2013-12-26 16:11] lefnire commented on #2121
@Walthanar see https://github.com/HabitRPG/habitrpg/issues/2105 for some deets

[2013-12-26 16:11] SabreCat commented on #2120
There was a database blooper that caused some rollback of data--this probably hit as a result of that. Please reopen if you see this again. See #2105 for additional info.

[2013-12-26 16:11] #2120 closed, assigned to nobody

[2013-12-26 16:17] paglias commented on #2126
Maybe I don't get how this is working... if I start a quest, then the rollover is scheduled at 10am and I don't login again until 11am, my party members won't have the bossAttack damage until 11am?

The quest "cron" could be moved from user's cron to a new party's cron that is run for all party members when the party is requested?

[2013-12-26 16:19] lefnire commented on #2126
Well, each user's cron triggers bossAttack individually, and on that user's own schedule. So
1. lefnire's cron: did half my dailies. Boss hits party 10hp, lefnire hits boss 10hp.
2. paglias's cron (8h later): all his dailies: Boss hits party 0hp, paglias hits boss 20hp.

So the _timing_ needs to be handled on a per-user basis, which is why I did it in user cron

[2013-12-26 16:26] paglias commented on #2126
Ok... but we could try running user's cron ayway: if user's day start time
is passed and cron has still to run (if user has not logged in today) then
it's run otherwise no.

But, when the user itself open the app for the first time and requests the
party then the cron could be run twice (by api.user and by api.party)....

2013/12/26 Tyler Renelle notifications@github.com

##

Matteo Pagliazzi - pa

[2013-12-26 16:26] #2100 closed, assigned to SabreCat

[2013-12-26 16:32] FraktalInverTer commented on #2122
Hi my uuid is: e53390fa-0f01-49de-8989-3b91c8fb1278
I had 40 gems on my account, I got some extra from Tyler Renelle as compensation after the first trouble with the account.

[2013-12-26 16:41] Django53 opened #2127 "Daily Resets for Inventory, HP, EXP, etc."
Hello all,

Ever since the HabitRPG update that introduced classes I have been having bug problems both on mobile (Android) and on the computer. For example, yesterday I leveled up, allocated a point, bought a new weapon, made a few new pets, fed pets, completed tasks, To-Do's, etc. and today all of that has reset. My new weapon is gone, my pets are gone, my completed To-Do's are back, I leveled d

[2013-12-26 16:49] lefnire commented on #2127
Yesterday saw a big database hiccup #2105. The fact that it's happening every day _is_ unusual. What's your UUID? Also, do you know if you have 0.0.14 or 0.0.15 of the mobile apps installed? The previous versions of the apps have outdated math

[2013-12-26 16:57] Django53 commented on #2127
Thanks for the fast reply! Is UUID my User ID? That would be 640f7208-30c4-4f3d-8dd8-40ba5034f69a. If that's not what you are looking for let me know where I can find it. My mobile version says 0.0.13. But I just checked for an update an now have 0.0.15.

Could my outdated mobile version have been causing problems even if I was only using the full website the last few days?

Thanks again for the h

[2013-12-26 17:02] lefnire commented on #2127
I think that's what it was then. What happened was the outdated mobile app had bigger numbers all around, so users were leveling up faster, getting more gold, etc.The server (website) was saving the correct numbers, so what would theoretically happen is you'd be lvl10 with 1000 GP on mobile, then open the website and you're 3 with 20gp. (the numbers were really really bogus with the initial launch

[2013-12-26 17:02] #2127 closed, assigned to nobody

[2013-12-26 17:04] lefnire commented on #2127
yeah, everything looks good on the database side, so just keep an eye out

[2013-12-26 17:11] SabreCat commented on #2122
Should be back to 40 Gems with ads off. Do a refresh, check it out, and let us know if there's further trouble!

[2013-12-26 17:11] #2122 closed, assigned to nobody

[2013-12-26 17:24] Django53 commented on #2127
Thanks for the help. I'll let you know if I encounter any more problems.

[2013-12-26 17:45] ParisiT opened #2128 "Can't Start Quest"
The button that would allow me to start a Quest for my party (specifically, the 'Trapper Santa' Quest) isn't showing up. I've checked with each of the members of my party, and none of them have started a Quest, so that's not the issue, and I can't find any other reason why members of the party or the party as a whole would be ineligible.

If it helps, my party's group ID is 0b521f95-cdf2-4efe-af56

[2013-12-26 17:58] SabreCat opened #2129 "Include tags in sticky header"
EDITED

I've been finding lately that I'd really like certain things to stick to the header that currently don't. On Tasks, it'd be fantastic to have my filters available as I scroll down through the lists:

![screenclip](https://f.cloud.github.com/assets/4501321/1811491/068007c2-6e57-11e3-8abf-1301cc842475.png)
## What's below is not relevant anymore with the new interface:

And on Options, I fin

[2013-12-26 18:38] jacobb84 commented on #2125
Awesome, thanks. Here's my id:

0250e37a-82fd-4563-a5e5-3f3d1c07a426

On Thu, Dec 26, 2013 at 11:08 AM, Sabe Jones notifications@github.comwrote:

[2013-12-26 18:46] lefnire commented on #2129
Check out [rootCtrl.js](https://github.com/HabitRPG/habitrpg/blob/aa3767afd98c0fe0523d35439d2ad20c9b6ccd61/public/js/controllers/rootCtrl.js#L10tL14) if you're interested

[2013-12-26 18:50] lefnire commented on #2128
Looking at the database, invites haven't yet been sent out for the quest. This may actually be due to #2105 - double check to see if the scroll is still in your inventory, you'll probably have to init the quest again

[2013-12-26 19:31] ParisiT commented on #2128
Well, the problem seems to be that I can't find a way _to_ init the quest. There is no apparent mechanism to do so.

[2013-12-26 19:31] ParisiT commented on #2128
The scroll is still in my inventory. Watching. Waiting. Taunting me with it's questyness.

[2013-12-26 19:36] lefnire commented on #2128
So when you click the quest scroll in your inventory, you should get a
modal dialog where you can click "Invite Members". After that, you go to
Options > Social > Party and you'll see who's accepted / rejected pending.
You can either wait for everyone to accept/reject (then quest auto-starts),
or you can click "Begin" at the bottom of that user list, and the quest
starts.

Which of these steps isn

[2013-12-26 20:41] SabreCat commented on #2125
You should now have your 20 gems back and ads hidden. Reopen if that's not the case!

[2013-12-26 20:41] #2125 closed, assigned to nobody

[2013-12-26 20:58] Beldallan opened #2130 "Dailies Haven't Reset"
My dailies are set to reset at 7am. It's now 2pm and they haven't reset.

[2013-12-26 21:04] ParisiT commented on #2128
The first one. The dialogue box that comes up has no "Invite Members" button.

[2013-12-26 21:21] lemoness opened #2131 "Tavern is gone?"
For some reason, I am not seeing the tavern chat, no matter how many times I refresh. Party chat works, Guild chat works... But the tavern chat is entirely blank, and when I try to post something new, it says "Error 404:Group Not Found."

[2013-12-26 21:34] lemoness commented on #946
Ahhh okay, I was confused!! Makes sense. Phoenix orb looks wonderful :)

[2013-12-26 21:52] ParisiT commented on #2128
Okay, it shows up when I am on a PC. It seems that if you open it up on a touch-screen device (such as an Ipad) the button to Invite Members doesn't show up.

[2013-12-26 22:03] lefnire commented on #2128
Ohhh.... does it look hidden by other html elements? Or is it actually invisible. I'll play with it some when I get the chance

[2013-12-26 22:27] krakzr opened #2132 "Spell tooltips don't show up on 75% zoom"
So I run Habit as a desktop app (through Chrome), and I generally have it as a half screen window and at 75% zoom. When I do that, the tooltips for spells (and sometimes rewards) get buggy.

I made a video to show it happening: http://www.youtube.com/watch?v=6xCmeIk1h_A

This may be a Chrome issue but I figure it can't hurt to let people know.
Also this is my first bug report so if this is in the

[2013-12-26 22:36] piratemonkey06 opened #2133 "Can't log in to my account!"
So I joined up yesterday, and I was going to log in just before and tick off my dailies, but the site says my account can't be found when I try to log in via PC, and that my account doesn't exist when I try to log in via mobile. Please help! I was really looking forward to using this app regularly :(  I was actually getting stuff done. I was lucky enough to have my habitrpg dashboard open in a tab

[2013-12-26 22:42] ParisiT commented on #2128
It's just not there at all. So the latter, as far as I can tell.

[2013-12-26 23:02] lefnire commented on #2133
An unfortunate case of #2105, read up there and message me for some apology gems

[2013-12-26 23:02] #2133 closed, assigned to nobody

[2013-12-26 23:05] lefnire commented on #2094
What's your UUID re: the refund?

[2013-12-26 23:07] lorian commented on #2094
My userid is 142e1f47-6fae-4927-a5c2-3ea8a42b71d1 Thank you very much!

[2013-12-26 23:09] lefnire commented on #2094
√ give that a gander

[2013-12-27 01:03] plateny opened #2134 "friend can't log in?"
So my friend had this error about a week ago where the page looked like this:
![untitled](https://f.cloud.github.com/assets/6267668/1812833/36b7536a-6e92-11e3-9dae-20d2d347a034.png)
And now she can't seem to log in, she just sees a big blue play button that does nothing when she clicks it, and there's no log in or sign up link on the habitrpg page.
Her habitrpg name is poobread, user ID is e0f5306

[2013-12-27 05:36] lefnire opened #2135 "send UUID in server error logs"
(self task) send UUID along with uncaughtExceptions, so I can better diagnose issues. Also, server isn't currently emailing error 500s that are caught in process. Instead of `res.json(500,{err:err})`, we should be running `next(err)` and catching all errors at top-level express error handler, so we can email error to admin, and _then_ `res.json` error down to client.

Creating this ticket just to

[2013-12-27 06:01] lefnire commented on #2135
Remaining task is to replace all instances of `return res.json(500,{err:err})` with `return next(err);`. I'll do that incrementally as I see them

[2013-12-27 06:01] #2135 closed, assigned to lefnire

[2013-12-27 06:06] lefnire commented on #2134
Strange, I've looked at her record and everything looks fine.. Even tried
loading it up in my browser with success. Could you have her try a
different browser to see if that fixes it? If so, we'll need to have her
clear actually her localStorage, not her cache. Also see if there are any
JavaScript errors in Chrome Console. Will wait to hear back

On Thu, Dec 26, 2013 at 6:03 PM, plateny notificati

[2013-12-27 08:49] ghost opened #2136 "Option to "try on" gem restricted options for avatar?"
Hi! I am thinking of buying some gems to support this great project and maybe customize my avatar a bit. I'm trying to make the avatar look like myself so I need some extra hair options.

However, it's very hard to get the idea of what my avatar may look like with the special clothing/hair/skins/etc. that I have to buy with gems. I'd like to be able to see how the different hair options actually l

[2013-12-27 11:22] plateny commented on #2134
Alright I'll get her to try a different browser and maybe clear her localStorage, will let you know once she does!

[2013-12-27 12:38] Nostos opened #2137 "XP maximum exceeded"
Greetings.

I just received quite a lot of xp by casting "Burst of Flames" on one of my Dailies, which led me beyond the maximum insted of simply increasing my level. This was corrected automatically by doing another Daily, but my character panel temporarily showed this problem. Not a big deal, but I thought you might want to look into it.

Here is a picture of my panel before the last Daily: http

[2013-12-27 12:42] SabreCat commented on #2132
Old issue #399. I actually have a pull request out to fix it (#2083) but @lefnire needs to check it over before implementing it.

[2013-12-27 12:42] #2132 closed, assigned to nobody

[2013-12-27 14:12] SabreCat commented on #2048
Confirmed here too with a quick test.

Started with 15 gold 63 silver.
Checked off a Daily that awarded this alert:

![screenclip](https://f.cloud.github.com/assets/4501321/1814569/6cf846fe-6ef7-11e3-98ca-c02057d7f54a.png)

Expected output would be 17 Gold 43 Silver. But in fact I ended up with 17 Gold 37 Silver--the normal Gold award, no streak bonus added in.

[2013-12-27 14:17] SabreCat commented on #2063
I might take this on as my next major project... I feel like I'm sort of wasting my time with e.g. #1990 until this is working right. (See [this Gist](https://gist.github.com/SabreCat/8134728) for some concerns of mine regarding present auto-allocation, even for the users like me who are willing to go to the effort of tagging everything.)

[2013-12-27 15:23] ghost commented on #752
I was just looking at the issues I've posted in the past and noticed this one again. The link to the FAQ at the bottom of the screen works just fine. However, the link to the FAQ in the sidebar of the community site is still broken.

[2013-12-27 15:42] ghost commented on #139
I didn't use the site for a couple months and was surprised by the new class system. I was forced to pick a class, even though I didn't have any idea what all the stats and classes and skills did.
I thought all would be good again, if I reset my account. I'm back to level 1 now, but I am still a Rogue with 19 unspent attribute points. Is this intended?

[2013-12-27 15:45] lefnire commented on #2136
I like the idea. I won't add it soon, since I've got a lot of of criticals on my plate, but note-to-future-self:

`mousenter` on customize-options, something like:

[code]

`mouseout`:

[code]

Don't use `User.set()` since it will send to the server, just use `User.user.xxx=yyy` since that's a non-permanent in-browser set.

[2013-12-27 15:50] ghost opened #2139 "Popup on settings page"
Every time I open the settings page, a window pops up, saying that my password is succesfully changed (the same that pops up when I do click on submit). It doesn't pop up if I refresh the page, but it does when I navigate to it from another page.

[2013-12-27 15:53] #2072 closed, assigned to SabreCat

[2013-12-27 15:55] leaks opened #2140 "Missing Abilities from rewards column"
My abilities have disappeared from my rewards column. I drained my mana to 0, when I logged in the next day, I had some mana regen but my abilities are gone.
They do not appear on multiple computers in multiple browsers, nor on 2 different mobile clients. I tried Chrome in regular and incognito to rule out any plugins interfering. There are no errors in the JS console.
I waited a little while to s

[2013-12-27 16:05] SabreCat commented on #2140
Are you only 10th level? Level up a bit more and they'll come back. The abilities have been spread out a bit further since their initial implementation.

[2013-12-27 16:13] leaks commented on #2140
Thanks for the prompt response.

[2013-12-27 16:28] lefnire commented on #752
woops, gotcha. updated

[2013-12-27 16:59] ArlieS opened #2141 "Time Travel in Chat"
So I'm in the social-tavern window, chatting - and the message I just typed immediately shows as "3 minutes ago". Sometimes the error factor is larger. I don't recall for sure if it's ever been negative, but I _think_ it has. Looks like you are using 2 different clock sources - perhaps the server _and_ my local clock.

No biggie; just rather weird.

[2013-12-27 17:37] octern opened #2142 "Boss status update shows negative damage"
Boss damage for our party is showing up as negative. Here are the status announcements:

[code]

Since the numbers are so low, I can't tell whether it's actually calculating that the boss is doing negative damage, or whether the text just shows damage as a negative. If the latter, I think that's a confusing double-negative -- it should be either "attacks party for 0.9 damage" or "attacks party for

[2013-12-27 17:50] #2142 closed, assigned to nobody

[2013-12-27 17:50] lefnire commented on #2142
Just visual/confusing. Pushed fix, will deploy with next batch of updates

[2013-12-27 17:50] octern commented on #2071
Quick game-design comment: In a good game, players should be able to learn how things work as they play. But HRPG is an exception to that rule, for a few reasons:

1) Many mechanics are probabilistic, AND you don't check off many things per day. If a PER increase takes you from 2 drops per day to 5 drops every 2 days (with substantial random deviations in both directions), that's going to be hard

[2013-12-27 18:18] startmyquest commented on #997
wow weird! I thought I was still checked into tavern since Christmas day, but came back today and somehow got "kicked out" of the tavern early? was sitting on 3 HP. That was too close. Not sure if related problem to this one before?

[2013-12-27 18:22] SabreCat commented on #997
@AverageJoey: You're probably a victim of the database rollback that happened around Christmas. #2105. Use Fix Character Values in Settings to get yourself straightened out, sorry for the trouble!

[2013-12-27 19:36] lefnire commented on #2135
@paglias @litenull [this](https://github.com/fengmk2/domain-middleware) is a cool module, I think y'all will like it

[2013-12-27 20:58] paglias commented on #2135
Will definitively be very useful, hope it doesn't fill your inbox :)

[2013-12-27 21:00] lorian opened #2143 "Skills/Quest cause Experience (XP) to go over maximum without leveling up (Burst of Flames, Backstab)"
I Burst of Flames'd a daily and got around 70xp, which was added to my current xp total, taking me to 1182/1130. It seems the level-up check isn't being calculated for spells? I checked off a brand-new to-do, and was then leveled up and left at 67/1160.

_edit by admin:_
### What to do if you have this bug:
#### If your Experience has become greater than your "maximum" experience, the next time yo

[2013-12-27 21:00] lefnire commented on #2135
It most certainly does! All these errors I wasn't aware of, time for a
fixing spree
On Dec 27, 2013 1:58 PM, "Matteo Pagliazzi" notifications@github.com
wrote:

[2013-12-27 21:02] paglias commented on #2135
:+1: I'll try to catch up with everything happened in these weeks tomorrow!

[2013-12-27 21:02] lefnire commented on #2143
Ah, spells don't trigger `user.fns.updateStats(newStats)`. will fix when I'm done with crits

[2013-12-27 21:08] litenull commented on #2135
Yeah this is really nice. Especially for HabitRPG! :))
kidding!

[2013-12-27 21:09] paglias commented on #2116
Had the same thing but only once (two days ago if I recall correctly)

[2013-12-27 21:16] lefnire commented on #2116
Oh, I think the issue isn't early reset then, I think the issue is #2105

[2013-12-27 21:25] lorian opened #2144 "Mounts make it hard to see weapons"
Most notably any dragon combined with many of the staves, but it happens to a lesser extent with many combinations, because avatars are right-handed, and mount heads are to the right. Possible solution: let player swap their avatar to be left-handed (or swap the mount to face right).

[2013-12-27 21:41] paglias commented on #2141
Could you check your clock is ok?

[2013-12-27 21:42] paglias commented on #2126
For that we could add a check and if the user is in a party then doesn't run the cron on the user but only on the party

[2013-12-27 22:15] lefnire commented on #2126
On thing I was bouncing around in my head: add `UserSchema.party.id = {type:String,ref:'group'}`. Have a flag for detecting changes (add `GroupSchema._v` back in, compare with `UserSchema.party._v`). If it's different, do `user.populate('party.id')` instead of fetching party separately. Remove all party-fetching code from initialization, but instead run `party.resolve(user.party.id)`.

That's kind

[2013-12-27 23:14] #2131 closed, assigned to nobody

[2013-12-27 23:17] ArlieS commented on #2141
It's a bit off - it's claiming 15:19 right now, with my cell phone claiming 15:16.

[2013-12-27 23:22] lemoness commented on #2119
I think this would be fine, but I do want to make the money you get by selling "used" gear back to the store be much lower than what it costs to buy, so that you are still motivated to earn gold for your tasks.

What do we think of selling back for 10% of the normal price? Buy for 30, sell for 3, buy for 100, sell for 10? I know it seems low, but lots of people will be selling all their gear at on

[2013-12-28 01:19] plateny commented on #2134
Okay she tried on every browser but she can't login, her email isn't being recognized. Also we're not sure how to clear localStorage, I know almost nothing about javascript.

[2013-12-28 05:59] deilann opened #2146 "Died While Resting"
I put myself in the inn, saw that I was resting, came back, and it said I died! :(

[2013-12-28 09:34] paglias commented on #2141
Then it's definitively that, the time since is calculated based on the time difference from when the message was sent (on the server) and the hour on the client,

[2013-12-28 09:42] guryushika commented on #1978
Ok well, I had 81 Gems, you gave me 80 Gems and I had 1 Gem remaining. I spent no Gem yet because of so many options I was thinking where to put it…but then I wanted to buy something but my Gems are almost all gone…I'm back to 1 Gem…this is indeed a weird bug!

[2013-12-28 13:20] mczuchnowski opened #2147 "Booting members does not work"
I tried to remove a member from my party a few times. It asks me if I'm sure, I click OK and nothing happens, even after refreshing. The member is in tavern, can this have anything to do with it?

[2013-12-28 14:04] SabreCat commented on #2146
When did you check in to the inn? If it was around the 24th-25th, you probably ran afoul of the database rollback we had to do around that time: #2105

[2013-12-28 14:06] SabreCat commented on #2134
@plateny: Email... you need to log in using your username rather than your email address, could that be the problem?

[2013-12-28 14:07] deilann commented on #2146
Yeah, someone in the Tavern mentioned it to me. It was definitely during
that period of time. :)

On Sat, Dec 28, 2013 at 6:04 AM, Sabe Jones notifications@github.comwrote:

[2013-12-28 14:09] SabreCat commented on #2146
OK, I'll close this ticket then. Use "Fix Character Values" in Settings to put yourself back together, and contact admin@habitrpg.com if you lost any Gems (or Gem-purchasable stuff like drops).

[2013-12-28 14:09] #2146 closed, assigned to nobody

[2013-12-28 14:10] SabreCat commented on #2144
The dragon's head falls at a rather unfortunate spot for the avatar's face, too, covering up the rider's right eye:

![screenclip](https://f.cloud.github.com/assets/4501321/1817819/db7a0f04-6fc9-11e3-8c09-db935d523a2b.png)

[2013-12-28 16:56] ArlieS commented on #2141
I disagree that this is not a (minor) bug. Printing the server time that messages occurred (converted to local time zone) would be clearer. Also, there seems to be a tendency for pages which _don't_ auto-refresh to express themselves in terms of "x minutes ago". Habitrpg doesn't _quite_ have this problem - the chat screens _don't_ auto-refresh, and the timers on messages already displayed _do_ aut

[2013-12-28 17:17] lefnire commented on #1978
give that a shot. Looks like #2105 hit ya

[2013-12-28 17:37] wisteriacs commented on #2105
Myself and a party member died today and yesterday when we really shouldn't have. Not sure if it's part of this or not. We can mostly reset, but two days feels like a pattern that ought be reported. Plus my friend is finding it de-motivating and I want him on board for our first quest!! ;-)

[2013-12-28 17:39] lefnire commented on #2105
Hm, the db outage hasn't recurred... is this possibly due tot he same issue (ie, he hasn't logged in since right before the outage 3 days ago, and only just logged in now)?

[2013-12-28 17:41] bobbyroberts99 opened #2148 "Add link to Party that connects with LFG thread on community pages"
This link to the [LFG thread](http://community.habitrpg.com/forums/lfg) exists in the tavern but not in Party where people would probably find it useful too.

I took a look at the code, but it's pretty complicated to me and I can't get my local copy running again so I can't test my random guesses.
# suggestion

[2013-12-28 17:42] SabreCat commented on #2048
I sometimes get this in the console, maybe related?

TypeError: Cannot read property 'streakBonus' of undefined
    at Object.fn (http://localhost:3000/js/controllers/notificationCtrl.js:25:33)
    at Scope.$digest (http://localhost:3000/bower_components/angular/angular.js:11762:29)
    at Scope.$apply (http://localhost:3000/bower_components/angular/angular.js:12013:24)
    at HTMLAnchorElement.<a

[2013-12-28 17:42] #1870 closed, assigned to nobody

[2013-12-28 17:52] Aurornis commented on #2129
It'd also be nice if the tabs under the main tabs were a drop-down instead.  It's irritating to have to load the tavern when I just want to go directly to my party, or having to go to the market first when I just want to change or feed a pet.

[2013-12-28 17:55] bobbyroberts99 commented on #1736
No longer a problem because of stacking.

[2013-12-28 17:55] #1736 closed, assigned to nobody

[2013-12-28 17:55] Aurornis commented on #2141
I'm with Arlie.  Many a time in my party chat I've made a fool of myself posting about something, only to see that it was already covered by other posters hours ago, but as I didn't f5 first, I didn't see them.

[2013-12-28 18:00] m0xf4240 opened #2149 "Can't join quest"
My party started the Trapper Santa quest, and there doesn't seem to be a way for me to join or accept. I'm not listed under the Participants section, and I have a button to Abort the quest for my whole party, but no way to Accept.

[2013-12-28 18:01] Aurornis commented on #2119
That is a bit of a lowball, especially considering you can still wear your old gear, you just don't get the slight class bonus you'd get if it was for your class.

[2013-12-28 18:03] lefnire commented on #2149
For now you gotta wait for them to finish, then you can start a new one with them. I'm working on allowing late-joiners, new party members, etc- but that'll be a couple weeks out

[2013-12-28 18:07] paglias commented on #2141
I think you're talking about two different things:

@ArlieS -> the way the timestamp for messages in chat is shown
@Aurornis -> would like to have  the chat auto refreshing (anyway no need to f5, there's a sync button next to the Send button) and which is discussed in #1503

Anyway I've reopened the ticket if you want to continue the discussion

[2013-12-28 18:12] Aurornis commented on #2141
Arlie said "the chat screens don't auto-refresh, and the timers on messages already displayed do auto-refresh (bizarre combo) - but it helps make them look as if they do autorefresh, which is unhelpful." which is what I was responding to, but I'll head on over to 1503 to air my grievances about the refresh button not working. :)

[2013-12-28 18:17] Aurornis commented on #1503
I was directed here from 2141 to discuss the chat refreshing.  It'd be nice if it auto-refreshed, at least in party view.  I keep a tab open with my party view (since it's a pain to have to click the social tab, wait for the tavern to load, then click party) and, as another user put it in the thread under 2141: "the chat screens don't auto-refresh, and the timers on messages already displayed do a

[2013-12-28 18:21] paglias commented on #2141
The refresh button isn't working? Any error alert is shown?

2013/12/28, Aurornis notifications@github.com:

##

Matteo Pagliazzi - paglias.net

[2013-12-28 18:24] wisteriacs commented on #2105
That would explain yesterday (for him, not me, since we both died two days in a row and only he was I the inn yesterday), but not today for either of us. I haven't talked to the other party members about it yet.

[2013-12-28 18:32] Aurornis commented on #2141
Nope.  No indicator it wasn't working.  I had cast three spells to attack trapper santa, and was expecting that at midnight my time it would've shown my damage like it did for a party member in an earlier time zone, but nothing showed after I hit refresh so I posted a theory that maybe santa damage was only tallied once when the earliest persons cron goes off (ended up not being the case).  Once t

[2013-12-28 18:34] m0xf4240 commented on #2149
cool. thanks.

[2013-12-28 18:39] paglias commented on #2141
Ok, there's a sync button next to chat send button and that refreshes only the chat.

Then there's a sync button under the top right menu (in the header) and refreshed the user, for parties currently you have to reload the page to have a new version...

[2013-12-28 19:09] lefnire commented on #2087
@MagicMicky checkout these commits:
- https://github.com/HabitRPG/habitrpg/commit/827d04e4dcc376c0fd7bc0f2e3922d40b9d306cb
- https://github.com/HabitRPG/habitrpg-shared/commit/dfd2a17ef906603dfcdbeec86ead974e2d508c42 (ignore dist/habitrpg-shared.js, it's a compiled version of the coffee file)

You probably wouldn't have been able to add those in, I had to re-rig the framework to return response-ob

[2013-12-28 19:10] lefnire commented on #2087
Also, this is pushed to beta.habitrpg.com. Play around and make sure everything seems OK, tell me if you have troubles

[2013-12-28 19:23] paglias commented on #2126
I have a quite radical idea for this and #1057, instead of waiting for the user to login why not run a cron worker every hour that run the cron automatically for users with cron set at that hour?

For heroku https://devcenter.heroku.com/articles/scheduler

[2013-12-28 19:25] MagicMicky commented on #2087
Well, that's awesome! I will take a look at it tomorrow, but thanks a million! :)

[2013-12-28 19:25] lorian opened #2150 "Burst of Flames is OP on bosses"
On Thursday, I did 27 dailies and 21 to-dos, and cast burst of flames once, for a total of 116.8 damage to the boss.
Yesterday, I did 28 dailies and 24 to-dos, and cast burst of flames three times, for a total of 346.8 damage to the boss.

I don't think this is as intended! Note that I was casting BoF on blue dailies with streaks in the 30-42 range.

Personally, I'd like to see the damage on blue

[2013-12-28 19:26] mczuchnowski commented on #2147
Booting players who are not sleeping in tavern doesn't work either :). I gues this all didn't come up earlier, because it's rare to remove players from parties I guess...

[2013-12-28 19:50] jimcullenaus commented on #1057
Hmm interesting. @DoWhatYouMust's idea solved it for me.

[2013-12-28 19:51] lefnire commented on #2126
Only problem I see with that approach is it will run for all users in the database, and only ~4k of our 110k users are active, meaning we'll spend 116k unneeded processing power. Not a show-stopper, just wanna point it out

[2013-12-28 19:55] #2147 closed, assigned to nobody

[2013-12-28 19:57] lefnire commented on #2150
I probably won't have time to fix this any time soon, hopefully someone else will be able to [look at the numbers](https://github.com/HabitRPG/habitrpg-shared/blob/develop/script/content.coffee#L222tL225). It's very likely the `crit()` function crits too high.

[2013-12-28 20:01] paglias commented on #2126
How much do you think it will take? It must be fast... I thought about:

1-) compile a cached list of users divided for cron hour
2-) remove the dead ones

[2013-12-28 20:13] lefnire commented on #2126
Oohhh... remove dead ones will keep inactives out of the processing, and will limit the list substantially! Very good call. Then we can just add a compound index on `{lastCron:1,'stats.hp':1}` for fast lookup. I think I like this idea, definitely worth experimenting with

[2013-12-28 20:17] paglias commented on #2126
And we may also keep out the ones without dailies, right?

For #1057 we may end up with the same problem, though... Maybe calculating
the timezone offset right when the day start is set so it's relative to GMT
or server timezone may help, at that point there shouldn't be difference
between users with custom day start and users without

[2013-12-28 20:18] paglias commented on #2126
For the last comment we may try it also without moving cron calculation to
a server cron job, keeping the same system as we're using now

[2013-12-28 20:19] paglias commented on #2126
Because let's face it, it is probably that it will take a minute or more to
compute everything so users who login in the mean time may have problems...
Il 28/dic/2013 21:18 "Matteo Pagliazzi" matteopagliazzi@gmail.com ha
scritto:

[2013-12-28 21:03] plateny commented on #2134
Ah actually she was trying to login from the blog instead of the actual site. However the problem with the actual site persists where when she clicks the play button, nothing happens, so she can't login still. Could this be an issue with localStorage and such? I'm not sure how to clear that though, what are the steps for that? Thanks for helping.

[2013-12-28 21:19] mczuchnowski opened #2151 "Mysterious "2 more members" on party members list"
This is a follow-up to #2147 (booting now works). After removing 2 members from the party, I now have a party list that has: my name (as a blue button), names of ALL other members (as clickable links and option to boot them) and a mysterious, grey button (unclickable, looks like my own name, but is grey) saying "2 more members". List of invites is just underneath this thing. Any ideas? Some kind o

[2013-12-28 21:29] lefnire commented on #2151
it just has a cap on member lists, because some guilds were in the thousands and it was causing browser crash. We have a task for ourselves to click that button to load 50 more incrementally,  but it's pretty low-prio given the other things on our plate

[2013-12-28 21:36] lefnire commented on #2134
have her try https://habitrpg.com/logout

[2013-12-28 22:10] lefnire commented on #2126
I'm gonna try to parse this when I get a moment, having trouble wrapping my mind. I think CDS & #1057 is gonna factor a lot of complication into this equation, but it'll be doable. We are storing user timezone (it's set immediately upon page-load if one doesn't exist), so we have that to work with. If you decide to tackle this before me and have questions, hit me up

[2013-12-28 22:47] lemoness commented on #2119
Well, yeah, I thought it might encourage some people to keep the gear, since the higher-tier stuff especially can be useful for things like Boss Battles and Collection Quests... but I agree that the higher you get, the more frustrating the amount seems. Maybe 30% of the original price?

[2013-12-28 23:44] JennaMalkin opened #2152 "Party Challenges No Longer Visible In Party Chat"
I now have a new 'Quest Invitation: Trapper Santa' on the sidebar of my party chat, but I am no longer able to see the party challenge I made in the party chat (despite being the owner of the challenge, and not closing it.) I can still see it if I go to the Challenges tab.

[2013-12-28 23:46] lefnire commented on #2152
refresh or a "sync chat" fix it?

[2013-12-29 00:09] JennaMalkin commented on #2152
Yes, that fixed it! :)

[2013-12-29 00:48] DanielHeath commented on #1246
Lastpass user here.
I'd find it useful if we added a name="username" / name="password" attribute to the login inputs.
This would let me tell lastpass how to find the login inputs.

[2013-12-29 00:48] DanielHeath commented on #1246
Happy to take this one on myself if the change is considered a good one.

[2013-12-29 00:56] paglias commented on #2141
About last comment, sync chat button should update the whole gruop not only the chat itself

[2013-12-29 03:19] crystalphoenix opened #2154 "Flip Mounts?"
with the current avatar composition, there's a lot going on to the left of the character. that is currently where the pets, the mount's head, and the main weapon are placed. by comparison, the right side of the character tends to have a shield, or at most one of the late rogue weapons. i think flipping the direction of the mount would balance out the avatar composition. it would also help with act

[2013-12-29 03:35] Aurornis commented on #2141
Just tried it and using the sync from the dropdown while in Party mode updates my stats, but not the chat feed.  Hitting the sync one by the chat feed refreshes the chat... so in the case of the party window, f5 is still faster, but the buttons work.

[2013-12-29 03:59] TKodami opened #2155 "Quest "Begin" button mysteriously gone"
Earlier today, I used a scroll to invite my party to join the Trapper Santa quest. The quest invitation process appeared to work fine. The "begin" button at the bottom of the quest appeared to all (at least to me the quest starter and the guild leader). Now that we have all of the active members of our party signed on (we have a fair number who are asleep/away for the holidays), the "begin" button

[2013-12-29 04:35] Alys opened #2156 "Stealth is the only spell that doesn't stack (Bug? Feature needing documentation?)"
While looking through the spell definitions in content.coffee, I noticed that the Stealth spell has its buff defined with "=" like this:
    user.stats.buffs.stealth = Math.ceil(user._statsComputed.per \* .03)
whereas every other spell has its buff defined with "+=" like this:
    member.stats.buffs.per += Math.ceil(user._statsComputed.per \* .03)
I.e., you can cast all spells multiple times each

[2013-12-29 04:41] TheOfficePicnic opened #2157 "iPhone app seems to use different math than website for HP loss, XP gain, possibly more"
I checked off a Daily just now using the (updated) iPhone app and got 20 XP. That seemed higher than it should be, so I opened the website, and a notification appeared in the top right saying I had gained 10 XP.

Similarly, my wife was using the iPhone app all day today, and she checked a negative habit, which took 20 HP away (and subsequently caused her to die unexpectedly). I restored her accoun

[2013-12-29 04:44] lefnire commented on #2157
upgrade the app, 0.0.15 should be live now (with updated math)

[2013-12-29 04:49] #2152 closed, assigned to nobody

[2013-12-29 04:50] Alys commented on #2156
After poking around further, I found this change, with a note implying that Stealth is overpowered:
    https://github.com/HabitRPG/habitrpg-shared/commit/7c39f8c4e37c7acb8231e40b92ac8e348c3cfe1a
So perhaps "=" was intentional, as "+=" would just be too powerful. But I'm still thinking it should be indicated in the spell description, and even more so in a comment in the code to prevent other code

[2013-12-29 04:54] SabreCat commented on #2154
That'd be sweet! This is a suggestion for fixing #2144, let's proceed with further conversation there.

[2013-12-29 04:54] #2154 closed, assigned to nobody

[2013-12-29 04:54] TheOfficePicnic commented on #2157
Ahh, I didn't realize there was already a fix launching. I'll update to 0.0.15 when I see it in the app update list, but it hasn't appeared for me yet.

[2013-12-29 04:54] #2155 closed, assigned to nobody

[2013-12-29 04:59] lefnire commented on #2157
Are you on 0.0.14 currently? Looks indeed that 0.0.14 is the only available one in the store, though I got the "0.0.15 launched" email, let me see what's going on

[2013-12-29 04:59] longhorse commented on #945
@Pandoro nah it is a boss from Breath of Fire 2. I'm not that talented at all.

@baconsaur wooooow if there were any motivation to improve at this that dragon is it. Wonderful work!

@lemoness Thanks, I have got to get on to that.

Now I should get back to actually doing these.

[2013-12-29 05:00] lefnire commented on #2156
Actually, I don't see a problem with stacking stealth. It's a pretty costly spell, so if if they have the MP they deserve the stack (IMO). Will fix

[2013-12-29 05:01] #2156 closed, assigned to nobody

[2013-12-29 05:04] SabreCat opened #2158 "Battle gear and costume items don't line up well"
When using the Costume feature, the items are misaligned in unsightly fashion:

![screenclip](https://f.cloud.github.com/assets/4501321/1818949/6943b044-7045-11e3-9ae5-b2185aae378f.png)

I tinkered with the .jade file but couldn't get it straightened out with my meager skills, thus the ticket, heh.

While we're at it, I'd suggest putting the static text into ? bubbles, because they're read-once-an

[2013-12-29 05:09] #1955 closed, assigned to nobody

[2013-12-29 05:15] #1959 closed, assigned to nobody

[2013-12-29 05:20] Alys commented on #2156
Yay! Thank you! :)

[2013-12-29 05:36] TheOfficePicnic commented on #2157
Yes, I'm on 0.0.14 currently. I upgraded to that on Dec. 26.

[2013-12-29 06:11] lefnire commented on #2157
Hmm, something got lost in the pipes then. I just re-submitted 0.0.15, keep an eye out in coming days

[2013-12-29 07:17] lefnire commented on #1499
I pushed two big updates, doesn't fix everything but it should help. Can someone who was experiencing the issues try beta.habitrpg.com?

[2013-12-29 07:46] TheOfficePicnic opened #2159 "Function suggestion: Require party members to be out of the Inn to receive quest rewards."
My party just defeated the Trapper Santa quest. One of my party members accepted the quest, but was in the Inn the entire time we were "fighting" Trapper Santa. I don't believe he was able to do any damage to TS while in the Inn (he says he checked off some To-Dos while in the Inn, and I didn't see any system message in chat that he did any damage), but I also don't think he lost any HP overnight

[2013-12-29 07:51] lefnire commented on #2159
Follow on https://trello.com/c/VPPjVRlF/212-quests-bosses . This, and many others, are some Quests to-dos on the list.

[2013-12-29 07:51] #2159 closed, assigned to nobody

[2013-12-29 08:22] CSLH commented on #399
This same problem is occurring for me with the popovers on the rewards items. Rarely does on actually pop up, maybe 5% of the time I try.

[2013-12-29 09:46] lorian commented on #1954
Sadly, this also means that the cute new emoji can't be added to challenges in progress :(

[2013-12-29 12:56] SabreCat opened #2160 "Can't reassign Guild leader"
Because the list of Guild members is dramatically truncated, I don't have the ability to assign Guild leadership to the person I'd like to. Any chance this can be done from the database side in the meantime?

Group ID: 0379d34a-754c-4ff4-9020-5762cecb1d67
Leader-to-be: 3a168da9-f7af-409e-8c6e-2826e16fbf82

[2013-12-29 16:12] ArcaneOre opened #2161 "Incorrect HP Loss from Quest Boss"
The new quests are interesting - but I've noticed that what damage the boss takes doesn't match the HP you get from your Dailies, and varies wildly from day to day even when you've done the same things and your dailies are all in the same color zone.

For instance - yesterday I was in a different level - today I'm 400 points through the level between dailies and To-Do's, and the boss has never tak

[2013-12-29 16:59] lefnire commented on #2161
The boss doesn't take the same amount of damage as the Exp you gain, he takes the `task.value` difference (called `delta`) you've dealt to a Daily / Todo. Exp is roughly 10-15x that. `delta` is usually between 1-5 (increased by `task.value` aka redness, `user.stats.str`, `task.priority`, etc).

You're gonna want to [find a group](http://community.habitrpg.com/forums/lfg) to fight the boss. Social

[2013-12-29 16:59] #2161 closed, assigned to nobody

[2013-12-29 17:16] russtaylor opened #2163 "API doesn't return max mana"
API calls don't return the user's maximum mana, which makes it impossible to display an accurate bar showing the user's mana level.

[2013-12-29 17:23] lefnire commented on #2163
Which routes would you like it on? Easy to add. Incidentally, what'cha building?

[2013-12-29 17:28] lorian opened #2164 "Emoji don't show up in tags"
Which is tragic, because now I desperately need my tags to be as adorable as my tags. I can't have my tag just saying "Errands" when the errands themselves have a rocket ship!

[2013-12-29 17:34] progenitus opened #2165 "Issues with markdown in task titles"
When writing a task title that begins with a number followed by a period (like "40.") or with a # it now triggers markdown formatting where it didn't before. This causes all numbers to show up as 1. in front of the title, and titles beginning with # are now huge. Having markdown in task titles caused me a lot of confusion before my brother explained why it was happening. Hope this helps. Have a ni

[2013-12-29 17:34] lefnire commented on #2164
Hmm. this gives me a thought. Should we remove emoji from tasks,and instead only put them on tags. Then tagged tasks show the emoji, so you can see at a glance what your task is tagged as?

[2013-12-29 17:38] Jennawynn opened #2166 "Missing Spells"
Perhaps because I changed classes from Healer to Rogue, but I have no spells now. I am a level 10 rogue now. I had spells as a healer, but they are no longer in my rewards column or anywhere else.

[2013-12-29 17:38] lefnire commented on #2165
You can escape numbers with \ , eg `#before` => `\#after`. I think # -prefaced task titles might be pretty rare, but what's your recommendation for handling this? remove # from the supported markdown tags? That's doable. We don't want to remove markdown altogether, since I think people are getting some benefit from it (primarily from Emoji, and for myself from links)

[2013-12-29 17:46] sleepykit commented on #2166
Did you by chance refresh the page?

[2013-12-29 17:48] lefnire commented on #2166
#2096 #2102 #2103 #2110. Please friends, searchy search :(

[2013-12-29 18:04] lorian commented on #2164
...I have never before been more in love with an idea in my life. I want tags that put emoji on tasks, yes please!

Not sure that you should/need to take emoji off tasks themselves, though.

[2013-12-29 18:59] lefnire opened #2167 "CastError: Cast to number failed for value "NaN" at path"
Very common error I'm seeing. When I try to replicate on local, it usually only triggers once and then everything's sorted.

[code]

[2013-12-29 19:09] casicastiel opened #2168 "Zero damage to quest boss"
Party: 184163b5-24e3-4ce2-b51c-a10144cce794, users E (cca60406-1b8f-496e-af77-cd19df77c895), Jace (e3adacde-68c7-456f-ab88-d4cc020cb30d) and Veruca Salt (9ede3733-7671-498c-8fd7-011f63266a77) each did 0.0 damage to the boss on first day rollover; the boss did 5.5, 1.0, and 4.9 damage each time.

[2013-12-29 19:38] Alys opened #2169 "count of "Mounts Tamed" includes rare mount (gives inconsistent count / total)"
On the Mounts page, if you have a rare mount (e.g., from the Trapper Santa quest), then it is included in the count of mounts tamed. For example, I have two normal mounts (created by converting pets) and one rare mount, and the page says I have "3 / 90 Mounts Tamed". It should be either "3 / 91", or "2 / 90" which would be consistent with how "Pets Found" is reported.

This is about as low priorit

[2013-12-29 19:44] lefnire commented on #2168
You guys should be fine now, judging by your records in the database ([screenshot](https://www.evernote.com/shard/s17/sh/5756b419-a362-4b04-969f-d2a0cf477def/c685308c928d3a9cc92cad29407a8ed4)). I wanna keep an eye on this. I'm seeing this error #2167 pretty frequently (which I think is related), a very important error to fix; however, every time I go to test an account that's triggered it, everyth

[2013-12-29 19:53] lefnire commented on #2160
√

[2013-12-29 19:53] lefnire commented on #2160
er, still a feature to solve

[2013-12-29 20:20] lorian opened #2170 "Tags think they are other tags"
I can't even figure out what the pattern is, but some of my tags think they are other tags. For instance, my first tag is convinced it is my 5th tag, to the point of renaming itself after my 5th tag. Also, attempting to delete the 5th tag instead deleted the first tag. Now deleting any tag instead deletes the first tag in the list.

This started happening after I deleted all my tags, including my

[2013-12-29 21:39] casicastiel commented on #2168
Veruca Salt started the quest the day it came out, but neglected to wait for people to join, so she aborted (this was pre-scroll refunds), and I restarted using my copy of it. Everyone in the party joined. My first cron for this battle happened when I logged in shortly after 7:00 am this morning, as usual; then Jace, and Veruca Salt. The other two members of the party haven't experienced one yet.

[2013-12-29 21:49] casicastiel opened #2171 "Tags from finished challenges don't clear out"
This isn't something that's too horrendously annoying, but I've been noticing that the tag filters from challenge-related tasks that have been completed and removed still hang around, and I have no way to remove them. Specifically, in the screenshot, I dropped out of the 'Music' challenge over two weeks ago and the 'Christmas' one was completed around that time.

UID: cca60406-1b8f-496e-af77-cd19d

[2013-12-29 22:16] SabreCat commented on #2160
Ah, I could've sworn that issue was already documented somewhere else, but if not, cool 'nuff!

[2013-12-29 22:22] SabreCat commented on #2171
No way to remove them? You can't click the pencil icon at the left there, and X them off? I'm pretty sure I did that with at least one of my completed Challenges.

[2013-12-29 22:25] casicastiel commented on #2171
Oh, that's what that thing is! Christ, I'm an idiot.

[2013-12-29 22:25] #2171 closed, assigned to nobody

[2013-12-29 22:34] SabreCat commented on #2171
Not at all! Could be a clue we need to make that feature more obvious.

[2013-12-29 22:35] SabreCat commented on #2170
Whoa! Nice find!

[2013-12-29 22:38] #2166 closed, assigned to nobody

[2013-12-29 22:49] lefnire commented on #2170
is it https://github.com/HabitRPG/habitrpg/issues/940 ?

[2013-12-29 22:53] lorian commented on #2170
I don't know; I didn't try selecting any of them during the weirdness, and now I can't recreate the behavior :(

[2013-12-29 23:22] casicastiel commented on #2171
I suppose I was under the impression that the tag filters would automatically reflect the tags I had added to tasks, and that once the last task with a particular tag was deleted that the filter would be removed.

[2013-12-29 23:33] paglias opened #2172 "Tags not persisted?"
I've noticed that I can' apply any tag to my tasks, they seems applied but on refresh/sync they disappear from the task.

The request is sent correctly to the server:

![selezione_014](https://f.cloud.github.com/assets/589911/1820320/adabda62-70e1-11e3-9ad4-4314d0c97760.png)

[2013-12-29 23:46] #2172 closed, assigned to nobody

[2013-12-29 23:59] lefnire commented on #2150
see [this commit](https://github.com/HabitRPG/habitrpg-shared/commit/bb5fe9c6e57e06ea3eb73c051893320a354448fb#diff-652dbbf3d459e90a3de1a122c063bb6bR225), temporary measure. Need something better

[2013-12-30 00:08] russtaylor commented on #2163
I'm not sure about other routes, but I'd at least like it on the GET user route. I'm not currently sure if it'd be useful elsewhere, as I'm not super familiar with the rest of the routes yet.

I'm working on revamping the Chrome plugin, as its bugginess has been getting on my nerves a bit! I'm hoping to get it to a much more stable & user-friendly state.

[2013-12-30 00:13] #2163 closed, assigned to nobody

[2013-12-30 01:26] lorian commented on #2150
If I'm reading that correctly, then boss damage should be about a 10th of the xp value gained from BoF, in which case my BoF on a 51-streak daily would do about 15 damage to a boss. That's about the same level of damage as people my level seem to get for the whole day (10-20 seems to be a common range). On the other hand, that means it would take 200 mana to one-shot the boss, which would be basic

[2013-12-30 01:34] crystalphoenix commented on #2144
ah, didn't realize i made a duplicate ^^;

in any case, how are the mounts aligned within the avatar? the sprites arn't a part of spritesmith so i'm not sure.
are they also by the upper left corner?

[2013-12-30 01:38] lefnire commented on #2144
They're not currently part of spritesmith, it was the last thing I had on my todo-list for converting to spritesmith

[2013-12-30 02:15] baconsaur commented on #945
How about a fire gryphon?
![flamegryph](https://f.cloud.github.com/assets/4521047/1820604/8ba2ea26-70f7-11e3-8e8c-3477ef1f35a3.png)

Are large bosses like this still needed or am I just throwing extra work at you guys? I can make some smaller things if that's preferred.

[2013-12-30 02:18] lefnire commented on #945
@baconsaur you're doing perfectly. Large bosses will fit right in. Adding bosses & quests to Habit takes ~15minutes. We need a gryph boss so we can drop your rare gryph eggs. This will go in in February. I love you.

[2013-12-30 02:22] baconsaur commented on #945
Hooray! I'll keep at it, then. Big scary monsters are my specialty. :) <3

[2013-12-30 02:25] lefnire commented on #945
@baconsaur little [shout-out](http://blog.habitrpg.com/post/71529752833/keep-new-years-resolutions-fight-bosses) to you, let me know if you want me to link your Twitter or something instead of your GH profile

[2013-12-30 02:29] baconsaur commented on #945
Ooh, I'm honored! I don't have a public Twitter account, so that works well enough. :)

[2013-12-30 02:57] petitato07 opened #2176 "I get far more of one type of drop than others (eggs or hatching potions or food)"
I'm in a level where I can finally recieve random eggs, potions, and food. When I do my dailies and to-dos, I never seem to have gotten any hatching potions. The eggs and food I got are always the same thing. I wonder if this is a bug of some sort.

---

_edit by admin_
### There is no known bug with the drop system's choice of items.
### The drop system uses a random number generator to control w

[2013-12-30 03:04] aurakami commented on #945
Felt inspired to try and do a boss. Let me know if I should make any changes. It's my first so I hope I did it right ^^; No worries if it's not used.
![tree_boss](https://f.cloud.github.com/assets/4622000/1820690/1f4674ee-70ff-11e3-945a-5ec5fc1117c7.gif)

[2013-12-30 03:11] ArcaneOre commented on #2161
Unfortunately - while I like your site as it keeps me on tasks, I know nothing about coding, only what information is shown on the task - which doesn't mention the difference between EXP gain and Attack on the Boss. It is discouraging and frustrating to know that even though it mentions that a single person can take on a boss if they so desire - that you are forced to partner with 6 other people t

[2013-12-30 03:13] SabreCat commented on #2176
What's your user ID (from the Settings > API tab)? And what eggs and food are you consistently getting?

Could conceivably be a problem with `predictableRandom`, but could just as easily be weird luck :P

[2013-12-30 03:13] SabreCat commented on #945
It's a tangle tree!

[2013-12-30 03:21] storian opened #2178 "Trapper Santa vanished"
I was signed up for Trapper Santa and it seems to have vanished from my profile.

[2013-12-30 03:22] aurakami commented on #945
@lefnire Oh cool :D I'm glad :)

[2013-12-30 03:45] brightbold commented on #2024
I think this is a bigger problem now that drop notifications have moved there too. I didn't think I'd gotten any food drops today, only a couple of eggs, but when I just checked my inventory I had 5! Clearly I missed the notification of the majority of my drops, even though I knew the notifications had moved and was making an effort to remember to look for them in the corner.

I think for motivati

[2013-12-30 03:46] SabreCat commented on #2176
...now that you mention, I've been getting Wolf Cub Eggs and Meats pretty consistently for the last few days. I'd better keep an eye on it too! :tiger:

[2013-12-30 03:50] SabreCat commented on #2024
Yeah, we wanted to get some feedback on that. I love not having the intrusive modal, personally, but agree that the notification can be too subtle. I tried to have the picture of the dropped item show up, which I think would be pretty eye-catching, but couldn't get the code to work...

Another thing could be to bolden up the color of drop alerts. At present they're the default text notification st

[2013-12-30 03:52] lefnire commented on #2176
@SabreCat I checked out @petitato07's account, Wolf Cub & Meat as well. Something's up with predictableRandom

[2013-12-30 03:52] SabreCat commented on #2176
Ut oh! A trifle too predictable!

[2013-12-30 04:17] baconsaur commented on #942
I realized that I never did the recolors for the gryphon mount. So here they are now!
![gryph_mounts_recolored](https://f.cloud.github.com/assets/4521047/1820799/f605bd60-7108-11e3-8e2e-324f85405301.png)

[2013-12-30 04:18] SabreCat commented on #942
Holy bugtoast. And I thought the Shade and Skeleton _dragons_ were scary. :scream_cat: Fantastic work!

[2013-12-30 04:23] lefnire commented on #942
@baconsaur I do believe gryphon boss will be in the early batch of bosses. Will drop one or two gryphon eggs, you can hatch then feed them as normal. Perfect in. Do you want to design the Gryphon Boss quest dialog / sequence ([Vice](https://trello.com/c/JuDktlpf/354-quest-chain-vice-the-treacherous-shadow-wyrm) as a sample), or do you wanna leave that to us?

If you do want to write it up, do high

[2013-12-30 05:27] baconsaur commented on #942
@lefnire I'll leave that to you guys, writing isn't really my strong point. Also Vice turned out awesome, so I trust that my gryphon is in good hands. :) I'd certainly love to be referenced in it like that though, that would be so cool!

[2013-12-30 09:18] cleave29 opened #2179 ""Death doesn't screw up your career like it used to.""
I am loving the boss battle, so I'm a little reluctant to report a bug, but I've already died twice and I'm still doing damage to the boss from beyond the grave.  Also it said that it destroyed two pieces of my equipment, but I seem to still have them.
I am glad I'm still fighting this battle, but...

[2013-12-30 12:15] ghost opened #2180 "Unable to reorganize To Do's"
Today I noticed I'm not able to reorganize my To Do list any more. If I drag a To Do to another place in the list, all tasks scramble to seemingly random places. The other lists can be rearranged just fine.

I'm using Chrome, on Windows 7.
Errors in console:
![image](https://f.cloud.github.com/assets/3669861/1821987/1a2cc326-714c-11e3-93cc-b63fcb9ae70f.png)

[2013-12-30 12:26] cinemafreak commented on #2085
I've lost about 400 gold buying things and loosing them.  It would seem it's only purchases down via the IOS app.

[2013-12-30 13:27] SabreCat opened #2181 "Bogus "Class Equip Bonus""
(aka "oops I broke it")

My character is showing all sorts of Class Equip Bonuses that don't add up:

![screenclip](https://f.cloud.github.com/assets/4501321/1822198/fba74b7e-7155-11e3-8eeb-2f6085e39e26.png)

Beats me what's happening here, the math is pretty trivial. I'll take a closer look later, but thought I'd send this in case a keener eye spots the goof first.

[2013-12-30 13:29] SabreCat commented on #2181
Oh, it looks like it's missing the allocated stat points. I'll add a fix for that to #2177.

[2013-12-30 13:39] SabreCat commented on #2179
Hah! That tagline sounds... Harry Dresden, maybe?

[2013-12-30 13:48] SabreCat opened #2182 "Checklists: Deleting last item leaves "Checklist:" label"
OMG checklists! I'm so psyched!

Trying out the new feature, I added a checklist, then deleted it, which left this artifact in my to-do:

![screenclip](https://f.cloud.github.com/assets/4501321/1822263/06482f1e-7159-11e3-8658-13a65906b23e.png)

It only persists until you close the edit and come back, so this is super trivial.

[2013-12-30 13:51] SabreCat opened #2183 "Checklists: Width of checklist field should resize when browser is squeezed"
On my non-widescreen (1280x1024) monitor, checklist fields fall down to a separate line from their checkbox, in unsightly fashion:

![screenclip](https://f.cloud.github.com/assets/4501321/1822277/71fce4de-7159-11e3-953a-1af87fa9ed3f.png)

We probably don't need a fixed width, there-- make it use the space available, and stick to the checkbox as much as it can.

[2013-12-30 13:57] SabreCat opened #2184 "Double-clicking in task edit fields closes the task"
If I double-click a word in my task title or notes (a common shortcut to highlight an entire word for deleting or replacing), the task collapses. While this might train me to better stick to my keyboard for efficiency's sake, it doesn't seem intentional.

[2013-12-30 14:33] SabreCat commented on #2024
Relevant: Some great suggestions from "E" [here on the community forum](http://community.habitrpg.com/content/suggestion-food-mouseoverdrop-notification-text)!

[2013-12-30 15:30] cleave29 commented on #2179
1st ep of Red Dwarf.

[2013-12-30 15:36] brightbold commented on #2180
Yeah this seems crazier than usual today. Much worse than the bug in #1616. Not sure if this bug should be closed as a dupe of that one and the older issue reopened, or if this is totally new. It behaved differently, certainly. Previously it looked like you had successfully rearranged the list until the page refreshed. Now as soon as you drop the dragged task, the list reorders into something craz

[2013-12-30 15:37] brightbold commented on #1616
New craziness in #2180 - I wasn't sure this was the same root cause so didn't reopen this, but we may need to.

[2013-12-30 15:47] crystalphoenix commented on #2024
i was wondering... is it possible for there to be a notification history page? there's so much going on in that corner now that it's difficult to catch it all before it disappears.

if it's combined with a time stamp and a source, such a page could also be a partial fix to http://community.habitrpg.com/content/indicate-date-time-habit-was-last-completed
i'm trying to think of how such a thing woul

[2013-12-30 15:48] jreatherford commented on #2085
I have had the same problem with the Scimitar in the android app

[2013-12-30 15:56] brightbold opened #2187 "Calendar falls underneath rewards"
When you pop up the calendar in Chrome Mac, the right edge falls underneath the .task <li>s in the Rewards column, even with my browser window full width (on MBP 15" Retina). I can see that the z-index of the calendar is already set to 1000, but since this only affects it in the context of its container, I think what we need to do is ensure that the To Dos container has a higher z-index than the R

[2013-12-30 16:07] sirmodok opened #2188 "Application vulnerability"
I have a web vulnerability I would like to disclose privately due to it's potential for abuse.

[2013-12-30 16:10] lefnire commented on #2188
shoot me an email at tyler@habitrpg.com

[2013-12-30 16:19] lefnire commented on #2180
Honestly, I'm surprised To-Do ordering ever worked for anyone. This ticket should have been the case since the very first day, even Derby days. And it _is_ different from #1616, this is _just_ To-Dos.

What happens is that `user.dailys`, `user.habits`, `user.rewards` sort orders are all managed independently. However, from the beginning `user.todos` was never separated into `user.todos, user.compl

[2013-12-30 16:25] lefnire commented on #2085
@cinemafreak has this issue always been with iOS then? You haven't experienced it with the website? If so, see https://github.com/HabitRPG/habitrpg/issues/2157 (additional info at https://github.com/HabitRPG/habitrpg/issues/2127#issuecomment-31227455)

@jreatherford which android mobile version are you? 0.0.15?

[2013-12-30 16:32] storian commented on #2178
And now it's back.  Sorry for the noise.

[2013-12-30 16:33] lefnire commented on #2178
what's your UUID? you might belong to multiple parties (bug)

[2013-12-30 16:36] storian commented on #2178
I'm only in one party, by myself, which I created in order to quest.  But
my uuid is 062e4a2a-9176-4b11-8d07-f6950c1b429e.

On Mon, Dec 30, 2013 at 8:33 AM, Tyler Renelle notifications@github.comwrote:

[2013-12-30 16:36] lefnire commented on #2184
intentional, see https://github.com/HabitRPG/habitrpg/commit/e3458194533b0efcd857c73f11724fc64fbde01d . Was brought up on the checklists branch since dropping into edit to click off checklists will be common. We'll want to add keyboard shortcuts a la Trello eventually

[2013-12-30 16:39] lefnire commented on #2178
one party indeed.

Another thing that could have happened, when you create your party initially, you'll need to do a refresh before starting the quest. It's benign, you'll still have your scroll & such, and I'm working on fixing this.

Re-open this if you experience again

[2013-12-30 16:39] #2178 closed, assigned to nobody

[2013-12-30 16:42] #2181 closed, assigned to nobody

[2013-12-30 16:54] lefnire commented on #945
Alright, we have 3 major boss battles all queued up. @baconsaur gave us [Gryph boss](https://github.com/HabitRPG/habitrpg/issues/945#issuecomment-31331045), who will drop gryph eggs (quest-only drops). He's designed the full pets and mounts, so gryphs'll be the intro to Pets Gen 2. @aurakami designed [Tree boss](https://github.com/HabitRPG/habitrpg/issues/945#issuecomment-31331805), which will dro

[2013-12-30 16:57] lefnire commented on #2181
Was just about to send you an email "you've proven yourself, don't be afraid to hotfix / small-change directly do `develop`"

[2013-12-30 16:57] #2188 closed, assigned to nobody

[2013-12-30 17:00] SabreCat commented on #2184
:-1: Dislike! Is there any chance of having the double-click work elsewhere on the task, but not in active text fields? :\

[2013-12-30 17:02] SabreCat commented on #2181
Oh, I will be afraid. But point taken, I'll work myself up to it!

[2013-12-30 17:07] lefnire commented on #2184
[A poll!](http://community.habitrpg.com/content/double-click-task-toggle-edit-mode-see-betahabitrpgcom)

[2013-12-30 17:07] trueskawka opened #2189 "Deleting removes wrong To-Do item"
Hi.

I wanted to delete some of my old To-Do's, but instead of the one I clicked it deleted a completely different one. When I tried again, it deleted the item next to the one deleted before.

Cheers.

[2013-12-30 17:14] djuretic commented on #2176
+1 I have got ~10 Meats since the introduction of the mounts feature, my second common food drop is Honey (~4 drops).
My most common eggs in the inventory are: Wolf Egg (5) and Panda Egg (5).

[2013-12-30 17:20] #2180 closed, assigned to nobody

[2013-12-30 17:21] lefnire commented on #2180
I pushed a temporary fix. Will cause performance issues, we need to separate out `user.todos` to `user.todos,user.completed` as soon as we can as the real fix

[2013-12-30 17:25] lefnire commented on #2176
The predictable things works very well in other locations, I think we're using a bad seed for `randomVal` (the part that selects random keys from an object). I'll look into this soon as I can, but can't get to till tonight

[2013-12-30 17:26] lorian commented on #2150
Ok, so with my usual amount of dailies and to-dos, and two casts of BoF, I did 44.5 damage to the boss, which seems like a much more reasonable number. Temporary measure seems fine to me.

[2013-12-30 17:40] DanielTheBard commented on #945
@lefnire - Hurray! But yeah, a quest arc for the gen 2 pets would probably be smart, so yeah I could probably start working on that, today. I might wanna place the Tree before the Griffin (Gryphon? Griffin? Griffon? D: ) if the Entling mounts can get finished. What pets does that still leave? T.Rex... cow? I forget.

[2013-12-30 17:44] lefnire commented on #945
Right, if we get Ent mounts in on time (or we disable feeding Entlings until that time), I'm not too worried though since we have all of January. Here's [Pets Gen 2](https://github.com/HabitRPG/habitrpg/issues/942#issuecomment-23521844) (it's lacking Entlings). Each ark piece of pets should probably wait until we have the mounts equiv

[2013-12-30 17:51] SabreCat commented on #945
Don't forget [sabretoothed tigers](https://trello.com/c/lfleS3NA/330-quest-boss-the-fearsome-sabre-cat)!

[2013-12-30 17:51] SabreCat commented on #945
derp

[2013-12-30 17:56] SabreCat opened #2190 "Long checklist items are truncated"
Tried to translate one of my routine-style Dailies into a checklist, and ended up with this:

![screenclip](https://f.cloud.github.com/assets/4501321/1823413/94e55d9c-717b-11e3-8083-4b8cfe9695ef.png)

The field should stretch to available space and wrap when it runs out, not chop off the text.

Related to #2183.

[2013-12-30 18:01] lefnire commented on #2179
You didn't lose the gear pieces? Definite bug. Do note, you can lose non-equipped gear from your inventory, so check to see if something disappeared from there, even if you're still wearing all your current battle gear.

Re: boss battles - yeah, death doesn't yet boot you. It's on my To-Do, I left it in the text to scare people into accountability while I work on it :)

[2013-12-30 18:15] lefnire commented on #2184
Sorry man, I'm dumb :/

[2013-12-30 18:17] #2184 closed, assigned to nobody

[2013-12-30 18:23] SabreCat commented on #2184
Hah, fantastic! Sorry about the confusion, I should've taken a screenshot to clarify what field I meant!

[2013-12-30 19:20] wc8 commented on #1547
yes on beta—correction, I just read the first post more carefully and that’s not exactly what I’m experiencing. I can click and get confirmation message, but on beta, it’s always as if I clicked cancel, nothing deletes. main site works just fine.

[2013-12-30 19:44] ParisiT opened #2191 "Potential Problem with Ethereal Surge"
We are talking about someone switching to Wizard in my party, and a thought hit me regarding Ethereal Surge.

If it costs 30 mp, and grants everyone (including the caster) X MP, then the following formula finds the point where it becomes broken:

30<R*W

Where R is the amount of Mana regained and W is the number of Wizards in the Party.
So even at a small regain (at which point it isn't really wor

[2013-12-30 19:44] ParisiT commented on #2191
Should be 30 < (R*W)-30

[2013-12-30 20:12] SabreCat commented on #2176
Today: Zombie Potion, Meat, Meat, Meat, Honey. So much Meat (and food in general) is a little odd, but nothing too alarming yet.

[2013-12-30 20:51] cleave29 commented on #2179
Hmm, I think I still have all of my gear.  If I don't how would I get that piece back?
The threat of death still works on me.  :)  Good choice.

[2013-12-30 20:56] lefnire commented on #2179
So let's say you have all your warrior gear. A random piece breaks on death, say Leather Helm. If you're wearing Gold, then it doesn't really matter to you - your equipped helm still stays intact, and where your item-store was previously empty for the helm tier (since you maxed it), Leather Helm has now returned. No point in buying it except for the collectors.

The item store will show items avai

[2013-12-30 21:04] lefnire commented on #2179
Lil' heads up, the way bosses are coded - you can permanently lose your gear drops. You can get them back by re-completing the quest, but this was the easiest way to code it. I actually kinda like it this way, since "don't die!" - but thought I'd bring it up now as a point of discussion in case people aren't digging that

[2013-12-30 21:06] cleave29 commented on #2179
Hmm, yeah, Inventory doesn't seem to have changed.  I have everything on the Cleric path at this level.  Take a look:
![image](https://f.cloud.github.com/assets/3587570/1824381/35663128-7196-11e3-86ad-45de6de00627.png)

[2013-12-30 21:08] cleave29 commented on #2179
Whoa good to know.  That's the permanent part of death...

[2013-12-30 21:09] lefnire commented on #2179
Could you have lost a warrior or rogue piece? It's any class gear, or any
quest-drop gear

On Mon, Dec 30, 2013 at 2:06 PM, cleave29 notifications@github.com wrote:

[2013-12-30 21:12] cleave29 commented on #2179
Hmm.  I seem to have all of my Warrior gear.  5 pieces of armor each.  7 weapons.
I can't remember if I bought the other Kukri...  sorry.
![image](https://f.cloud.github.com/assets/3587570/1824403/efbc7974-7196-11e3-8ece-674c0992ee8a.png)

[2013-12-30 21:17] lefnire commented on #2179
Kk, just keep an eye out next time you die, see if you've lost what it tells you. Things work fine for me on local testing, so I have a hunch you lost the Kukri

[2013-12-30 21:42] lorian opened #2192 "Checklist items and tags aren't aligned to left edge"
Firefox does the following for checklist items and tag list:
![checklistscreenshot2](https://f.cloud.github.com/assets/2963633/1824565/f9277ca8-719a-11e3-9957-6d6c71ef1a81.jpg)

![checklistscreenshot](https://f.cloud.github.com/assets/2963633/1824558/cd8416b0-719a-11e3-9244-8baf07e13415.jpg)

It's done it since I started using Habit in May, through all intervening Firefox versions to 25.0, and did

[2013-12-30 21:47] SabreCat commented on #2192
Weird! I'm on Win7 Firefox here, and have never seen that behavior. Do you have a browser theme or script you're using? Those checkboxes look different than I'm used to.

[2013-12-30 21:53] lefnire commented on #2192
@lorian how good are you with Firebug / Chrome Console? Since we can't replicate on our machines, I'm wondering if I could throw some in-browser code ideas for you to try out?

[2013-12-30 22:02] lorian commented on #2192
@SabreCat I have lots of weird extensions running, but no scripts on the habit page. Only general browser appearance change I have are Personas, which afaik don't change anything other than pretty colors.

@lefnire Haven't used Firebug before, but I can get it, and if you throw me code bits, I can poke them and see what happens.

[2013-12-30 22:09] lorian commented on #2192
AHA! It's because I have the habit window zoomed out (or whatever ctrl +/- does to the text). I'm maybe 4 ctrl- clicks in from what I think is the default, comparing to what I get in chrome (god, the default text is HUGE). The alignment is correct for most of the zoom, but gets the neat staircase effect after some number of zoom outs.

Here's a screen shot at one zoom tier before the one with the

[2013-12-30 22:25] erratio opened #2193 ""Error 401: No access to party" when using scroll"
Used scroll once, got error 401 (needless to say, I am in a party). Tried using it again, got error 400: quest already in progress because the scroll had in fact worked after all

[2013-12-30 22:40] erratio opened #2195 "Leaving a guild doesn't make you leave that guild's challenges"
Since you can't see the challenges for that guild anymore, the only way to leave any challenges you've joined is to rejoin the guild, leave the challenge, then leave the guild again. Seems a tad suboptimal :p

[2013-12-30 22:41] katfang opened #2196 "Class Tour buggy"
This is pretty minor, and I bet people don't do this, but if you start a Class Tour, and then you click to somewhere the Tour doesn't expect you to be (for example, if you go back to your todo list), it'll get confused and not close the previous message box if you hit prev / next. But the buttons still work (so long as the Tour hasn't ended.)

[2013-12-30 22:54] lorian opened #2197 "Blank checklist items are not pruned if you double-click to close edit mode"
They're correctly pruned if you close via clicking the Save button or the checkmark, but not if you double-click the task title. They don't get pruned on page refresh, either.

[2013-12-30 22:57] lorian commented on #2190
Related bug: when you're entering a long checklist item, sometimes it doesn't scroll back to the beginning of the line when you hit enter, turning "Determine point system for valuing tiles" into "mine point system for valuing tiles" until you manually scroll back to the start of the line.

[2013-12-30 23:00] lorian commented on #2179
@lefnire Is there a way to code certain gear pieces as non-losable? Specifically, gear drops from limited-time quests would be SUPER unfortunate to lose on death.

[2013-12-30 23:04] eiron commented on #1499
I have given it a go, but am not seeing results. Obviously, I expect I am
the worst case scenario around here.

On 29 December 2013 07:17, Tyler Renelle notifications@github.com wrote:

[2013-12-30 23:06] lefnire commented on #2179
@lorian not yet, but don't worry since we don't have any limited-time gear-dropping quests in the queue (note **gear**, pets & mounts are exempt). If/when we do, I'll find a solution

[2013-12-30 23:07] lorian commented on #2197
They do get pruned if you check off something in the checklist.

[2013-12-30 23:39] SabreCat opened #2198 "Checklists: Click X/Y badge to unfold checklist"
I see we've got a user preference now for inline checklists. But honestly, I don't like it either way--I want to see inline checklists for individual tasks when I want them, not always all or always none. And I don't necessarily need all the editing functions at that same time, so I'd rather not open up the task for editing.

What about adding an `ng-click` event on the `span.badge` that flips out

[2013-12-30 23:44] SabreCat commented on #2196
I once had it get stuck so that none of the tour buttons responded at all until I refreshed the page. Very weird, and couldn't reproduce it.

[2013-12-30 23:54] SabreCat commented on #2019
Art and text have been updated. @Aubec @RosemonkeyCT @wc8, please comment and re-open if there are any lingering concerns!

[2013-12-30 23:54] #2019 closed, assigned to SabreCat

[2013-12-30 23:56] SabreCat commented on #2035
We've got "Battle Gear" and "Costume" now with explanatory text. While there's improvements to be made (e.g. #2158), this issue itself is taken care of.

[2013-12-30 23:56] #2035 closed, assigned to nobody

[2013-12-30 23:58] SabreCat commented on #2098
This doesn't actually make much sense for the current implementation of auto-allocate. But I'll take a look at this toward the end of my [auto-allocation overhaul](https://github.com/HabitRPG/habitrpg-shared/tree/sabe/attributes).

[2013-12-31 00:01] SabreCat commented on #2044
Will fix this up in [this branch](https://github.com/HabitRPG/habitrpg-shared/tree/sabe/attributes).

[2013-12-31 00:03] SabreCat commented on #1529
Our default is now a dark-skinned, bald, broad-shouldered Habiteer, which is not so fantastical as some of the suggestions but still a far sight less problematic than the original default. I'm happy with it; closing.

[2013-12-31 00:05] SabreCat commented on #1806
Related: #2160. I'm not sure you can boot a problem guildie who doesn't show up on the list, either.

[2013-12-31 00:06] SabreCat commented on #2045
I'd be happy with #2186 here.

[2013-12-31 00:08] lefnire commented on #1529
I actually forgot about this, I intended to ask y'all which you'd prefer as the start avatar.

[2013-12-31 00:08] SabreCat commented on #1678
The bug part of this is fixed; the rest of it working as intended. Closing.

[2013-12-31 00:08] #1678 closed, assigned to nobody

[2013-12-31 00:10] SabreCat commented on #1367
Long ago fixed. Closing.

[2013-12-31 00:10] #1367 closed, assigned to nobody

[2013-12-31 00:11] SabreCat commented on #1529
I mean, it'd still be cool to make it a green-skinned slim-bodied figure with white hair or something, but this one feels "generic" without saying "white dudes are the default human beings", heh.

[2013-12-31 00:17] lorian opened #2199 "Hitting enter in the title of a task in edit mode sets a due date"
Previous behavior (before checklists): hitting enter while cursor was in title of task would close edit mode.
Current behavior: hitting enter in task title now sets due date to today, which is super unexpected.

[2013-12-31 00:19] ArlieS commented on #2143
Same scene, different spell. I look so cute at 2360/1850.

[2013-12-31 00:24] lefnire commented on #2199
Blah, Firefox! _shakes fist_. Works fine in Chrome & Safari. Not sure what could be causing it, probably angular-bootsrap-ui datepicker within a form. I'll take another peak at where we are for a bootstrap & angular-ui upgrade.

[2013-12-31 01:07] lorian commented on #2199
Firefox: The new IE!

[2013-12-31 01:21] wc8 commented on #2024
@crystalphoenix how about https://trello.com/c/684Dv1py

[2013-12-31 01:32] wc8 commented on #2024
@SabreCat what if you increase length of time on screen?
As far as E’s suggestions,I like them. I’ll convert it to a card for voting.

[2013-12-31 01:35] J-Mind opened #2200 "Can't Login After Password Reset"
I reset my password and when I now try to login it says: "Incorrect Password". I tried to reset my password twice more but the same problem reoccurred.

[2013-12-31 02:06] lefnire commented on #2200
Hmm, can't replicate on the site. So, you're doing:

Play > Forgot Password > Email New Password > (attempt login copy new password received from email)

And it's telling you incorrect password? What's your UUID / email / whatever-you-have-handy

[2013-12-31 02:07] wc8 commented on #2024
https://trello.com/c/207q72VI E’s notifications—although I think it’s minor enough you could go with a pull request, @SabreCat. So far I’ve only heard voices in favor.

[2013-12-31 02:45] crystalphoenix commented on #2024
ah! thank you @wc8 ^_^ i'll shift my thoughts there :)

[2013-12-31 02:48] progenitus commented on #2165
Escaping with the \ doesnt't work. I can still see the \ in the task title.
It makes sense not to worry about the # though, and I see the value of
markdown especially with links. Thank you for your quick reply.

2013/12/29 Tyler Renelle notifications@github.com

##

Mvh. I. T. Hammar
www.ithammar.com - www.facebook.com/ithammarkunst -
www.facebook.com/gallerikunstgress

[2013-12-31 03:01] SabreCat commented on #2024
@wc8: OK, I'll see about implementing E's text and extending the visible time for notifications. Might need to unassign myself after that if there's deeper redesign to be done.

[2013-12-31 08:33] lemoness commented on #945
These are absolutely fantastic bosses!! Keep them coming! Also, aurakami,
send me an email at leslie@habitrpg.com so that I can get you the
permissions form.

On Mon, Dec 30, 2013 at 9:51 AM, Sabe Jones notifications@github.comwrote:

[2013-12-31 09:11] J-Mind commented on #2200
Thanks for replying. Yeah, that's essentially what's happening.  My email is: james.g.hofman@gmail.com

[2013-12-31 10:25] katfang commented on #2196
Yeah. You can get it by opening up a tour, going to a place the tour doesn't expect (say, your todos), and then clicking through the rest of the tour. You will (or at least I did) have one window remaining that you can't do anything about.

[2013-12-31 12:21] wc8 commented on #204
Heads-up for those interested, see comments on [Trello Card 93](https://trello.com/c/QmhxaBRE) for new simpler proposal.

[2013-12-31 12:59] SabreCat commented on #2064
Just tried it again this morning. Waste of MP! The buff icon shows on my avatar until refresh, then nothing.

In a local copy of `src\models\user.js` (from when I branched for my Attributes work) it looked like the `buffs` attribute had `def` listed instead of `int`, but I'm not seeing that in the current branch, nor can I tell when it was fixed. @lefnire, is that change live? Does it need a migra

[2013-12-31 14:20] casicastiel commented on #2168
Update: those three crons were the only ones that did 0 damage; since then, it's all been fine.

[2013-12-31 14:34] wc8 commented on #2198
:+1: expand/collapse—ideally, _remember the way I left it_.
If hrpg can’t remember the way I left it, then, on refresh, default applies (e.g. inline).

[2013-12-31 15:53] SabreCat commented on #2176
Maybe we can script up one of those 1000-drop simulations?

[2013-12-31 15:57] lefnire commented on #2176
take a peek at which seed the `randomVal` function is using, I have a hunch it's just a poor seed to use, might just be an oversight. We can add some console.logs to the math_samples.coffee file, too. Will join you when I can, lotta stuff for me today

[2013-12-31 16:13] lorian opened #2202 "Daily checklists didn't clear after rollover"
The dailies themselves are unchecked after refreshing the page, but the checklist items are still checked as they were yesterday.

[2013-12-31 16:14] lefnire commented on #2202
they'll be fine tonight. The reason was checklists was only on beta, and so was the server cron for handling them. So if you opened habitrpg.com this morning, or any API hit your user (mobile, chrome extension, etc) then it used production cron. Checklists are going live now, so we'll be solid

[2013-12-31 16:14] #2202 closed, assigned to nobody

[2013-12-31 16:44] deilann opened #2204 "Cannot Remove Absurd Hats"
Either this is a bug or the best prank ever.

You cannot remove the absurd hat once purchasing it, as it auto-equips.

Because it is its own category (special), you cannot equip less than one item per category, and there are no other special items, you cannot unequip the Absurd Hat.

I am using Chrome, 31.0.1650.63 m, Windows 7, and am primarily on the beta build.

[2013-12-31 16:48] lefnire commented on #2168
You know what also, I just noticed this morning when I did 0.0 damage but had completed almost all my dailies. You only start tallying _after_ the boss begins. So for me, I'd done most my dailies, then late night someone started the quest. Party took damage (for my missed dailies), and boss took 0 (since I hadn't started tallying yet)

[2013-12-31 16:50] lefnire commented on #2204
can't replicate, I'm able to de-equip. To un-equip completely, top-row (Base) - empty head icon. Are you wearing a costume?

[2013-12-31 16:55] deilann commented on #2204
Nah, I just didn't think to dequip helm. I'm not awake enough. Don't mind me.

[2013-12-31 16:56] lefnire commented on #2204
You'll be less awake tomorrow ;)

[2013-12-31 16:56] #2204 closed, assigned to nobody

[2013-12-31 17:00] casicastiel commented on #2168
That makes sense. I think the last person joined the quest while I was asleep that night, so all my dailies were done already -- and presumably Jace and V.S.'s, too.

[2013-12-31 17:04] lefnire commented on #2168
At some point I'll start looking into how to tally at the end, so this doesn't happen. I think there were some major technical hurdles. A lot happens when clicking up-score, that you can't sort of "simulate without actually applying" to determine what the point value _would_ be on cron. I'll keep you posted if I can find a way

[2013-12-31 17:11] wc8 opened #2205 "Checklists on Challenges?"
When adding a todo to a challenge, we have the Add Checklist button, but nothing happens when clicked.

[2013-12-31 17:14] lefnire commented on #2205
I can (only one):
1. remove them completely
2. user can add a checklist (not challenge creator)
3. challenge creator can add a checklist (not user)

your call

[2013-12-31 17:14] casicastiel commented on #2168
I'm not sure it's necessarily a bad thing — it makes sense, after all, once you understand what's happening. Perhaps all it would need is some clarification/documentation somewhere.

[2013-12-31 17:17] lefnire commented on #2205
Crap, I can't remember which was B in the tavern, I delete my message to take it here :) Which one again @wc8?

[2013-12-31 17:18] wc8 commented on #2205
I’d say 3—challenge creator and see how it goes.

[2013-12-31 17:21] lefnire commented on #2205
Ok, will do when I hit the code. 1 is mechanically implemented (though button's still there), then I'll implement 3 when I can

[2013-12-31 18:00] nimbuschick commented on #940
Same thing. Any tags I create (meaning not the morning, afternoon, night ones that are default) cannot be selected or deselected without the same happening to each other one.

[2013-12-31 18:48] chadschultz opened #2206 "Missing Ultimate Gear achievement"
I've been on HabitRPG for some months. I had the best gear available, then when classes became available, quickly upgraded to the best Mage gear (I had a lot of gold laying around).

I looked at my achievements today and noticed that I never was awarded the Ultimate Gear achievement.

After looking at #1543 and #2100 , my guess is that buying the gear didn't trigger the achievement due to #2100 ,

[2013-12-31 20:17] SabreCat commented on #1877
Hasn't been happening lately. Will reopen if I see it occur again.

[2013-12-31 20:21] SabreCat opened #2207 "Markdown doesn't actually work in Admin tab"
The Admin function for rewarding contributors claims "Markdown formatting allowed", but when you look at the list of contrib reasons, it doesn't appear to be parsing them as such:

![screenclip](https://f.cloud.github.com/assets/4501321/1828434/1634f596-7259-11e3-951a-aafdee029ad6.png)

[2013-12-31 20:24] SabreCat commented on #2198
We'd need to add a data element to tasks to set and save their checklist collapse state, methinks. Maybe not a bad idea!

[2013-12-31 20:37] #2064 closed, assigned to nobody

[2013-12-31 20:44] SabreCat opened #2208 "Rearrange sorting of gear items in Battle Gear / Costume"
Usability issue, pointed out by Ryan in the Tavern. I'd tripped over it before myself, but hadn't thought to write it up until he talked about it.

In most gear-equipping workflows, you're primarily interested in what slot to equip, and secondarily interested in what class the piece belongs to. At the moment, the sort is all class-based, so if you want to see what all hats you have available to se

[2013-12-31 20:51] lefnire commented on #2198
how's this: https://github.com/HabitRPG/habitrpg/commit/77c67775062b7be37ccc1e1bad3316d11f5be764 (check beta in 5m)

[2013-12-31 20:57] lefnire commented on #2207
Yeah, it's not applying markdown. I was holding out until it would be useful. My big idea was adding a "Hall" tab, which would have subtabs "Hall of Heroes" and "Hall of Patrons". Heroes would list contribs, patrons would list KS backers.

Heroes == current Admin tab, but we'd make it prettier, list (in functional markdown) what each has contributed. Remove the admin tab, and instead add admin fun

[2013-12-31 20:57] SabreCat commented on #2198
@lefnire: Hmm, not what I had in mind. I meant clicking the progress badge, to change whether or not the checklist displays _outside_ of edit mode:

![screenclip](https://f.cloud.github.com/assets/4501321/1828584/1900d34e-725e-11e3-8768-f1f2da67ff39.png)

So with this task not in edit mode right now, I'd click "0/2" to put away the checklist, and click it again to bring it back to the state you se

[2013-12-31 20:58] lefnire commented on #1877
Happens for me still. What makes it ok is if someone loaded it before you, and Mongo caches the query. It's just a bad mongo query, or a bad index / compound index. Plan to visit when we add Hall of Heroes stuff

[2013-12-31 20:58] SabreCat commented on #2198
This works, but it's a hella lot of clicks to accomplish compared to what I had in mind, and doesn't offer much advantage over just opening the edit mode when I want to check things off.

[2013-12-31 21:02] SabreCat commented on #399
The fix I came up with for this is live. We can reopen if people don't like this solution.

[2013-12-31 21:02] #399 closed, assigned to SabreCat

[2013-12-31 21:04] SabreCat commented on #2207
Ooh! That sounds cool! People will love it, their names will be up in lights even if they're not Tavern regulars.

[2013-12-31 21:06] SabreCat commented on #2092
@lefnire, gonna pass this to you for now for whenever you get the chance to investigate adding drop icons. I'm still working on some misc drop improvements and can do e.g. coming up with a notification style for drops, but I think the hardest piece here is the icons, and that's proven beyond my grasp so far.

[2013-12-31 21:08] deilann commented on #2208
+1

I would be willing to go through and do the pixel edits to categorize the items. I feel that there should be a visual icon as well as information in the popover, simply because sometimes the hover text is touchy for me.

[2013-12-31 21:11] lefnire commented on #2198
√ beta

[2013-12-31 21:12] SabreCat commented on #2198
OMG so very yes. :heart: With little "push me" cursor and everything. Thanks man, closing!

[2013-12-31 21:12] #2198 closed, assigned to nobody

[2013-12-31 21:19] SabreCat commented on #2204
Related: #2208

[2013-12-31 21:51] lefnire commented on #2206
give that a whirl

[2013-12-31 21:58] chadschultz commented on #2206
Set, thanks! Hopefully nobody else has this issue.

[2013-12-31 22:00] lefnire commented on #2206
There might be, but it's somewhat a self-healing bug because if they lose a piece and re-find, it will re-calculate. Or if they switch classes and max the gear, etc. But I'll manually set for any users who need

[2013-12-31 23:08] sablewing opened #2211 "Tasks not displaying correctly, unable to check off Dailies"
When I checked on my account today there were some additional entries showing up, with numbers for the task title and a note that a 3rd party API had placed the task into the list. My tasks for Dailies are already checked and I have tried the Sync command several times. I have also logged out and back in and I still get the same display.

 I've attached a screen shot that shows what I see in my br

[2013-12-31 23:17] SabreCat commented on #2176
I've been getting a decent variety today. Tiger Cub Egg, Red Potion, Skeleton Potion... not reproducible here, it seems.

[2014-01-01 00:30] ShwetaNarayan opened #2212 "Positive mana on undoing a todo"
I accidentally clicked a todo item and gained positive gold/xp and one mana point. Then went to the "completed" tab and clicked to undo it - and while I got the negative gold & xp, I gained another mana point instead of losing it.

I tested this twice more and it seems to happen every time.

[2014-01-01 00:54] lefnire commented on #2021
This sounds like https://github.com/HabitRPG/habitrpg/issues/2157 . You need mobile apps versions 0.0.15. iOS is still pending review (they take forever...). Check that ticket, if it sounds like the same issue close this, if not hit me up

[2014-01-01 00:54] lefnire commented on #635
This sounds like https://github.com/HabitRPG/habitrpg/issues/2157 . You need mobile apps versions 0.0.15. iOS is still pending review (they take forever...)

[2014-01-01 00:55] lefnire commented on #2062
This sounds like https://github.com/HabitRPG/habitrpg/issues/2157 . You need mobile apps versions 0.0.15. iOS is still pending review (they take forever...). Check that ticket, if it sounds like the same issue close this, if not hit me up

[2014-01-01 01:12] lefnire commented on #2089
@ndandanda I see you closed the ticket. Was it resolved for you, or was the ticket-close an accident?

[2014-01-01 01:17] lefnire commented on #2130
See #1057

[2014-01-01 01:17] #2130 closed, assigned to nobody

[2014-01-01 01:22] lefnire commented on #2105
@wisteriacs has this recurred at all?

[2014-01-01 01:24] ghost commented on #2021
I don't have an iphone, I'm using the android app. Does it have the same problem? (though this would also occur on days I didn't use the app)
However, it doesn't seem to have been happening recently, so something has changed.

[2014-01-01 01:24] lefnire commented on #1246
@DanielHeath please do, that would be fantastic! Check out https://github.com/HabitRPG/habitrpg/blob/develop/views/static/front.jade#L24 , let me know if you need any help

[2014-01-01 01:31] lefnire commented on #2021
As long as you're on 0.0.15, you should be sorted. Android & iPhone apps mirror eachother exactly (a huge benefit of using PhoneGap + AngularJS), so they experience the same issues. The reason iPhone users are experiencing more, is because iOS takes about 2weeks to approve an app submission, while Android users get updates immediately (as long as they're set to auto-update). Ugh, Apple...

Anyway,

[2014-01-01 01:52] deilann opened #2213 "Pet Tally Incorrect"
Matt says I have found 9/90 pets. Have only found 8. Think he's counting my turkey.

[2014-01-01 02:22] ghost commented on #2021
Awesome! thanks :)

[2014-01-01 02:22] #2021 closed, assigned to nobody

[2014-01-01 02:54] DanielHeath commented on #1246
See https://github.com/HabitRPG/habitrpg/pull/2214

[2014-01-01 03:00] lefnire commented on #2200
@J-Mind can you try logging in with facebook? For some reason change-password is showing for facebook-registered users, so I have a hunch you're facebook-registered and was getting that dialog even though it doens't do anything for you

[2014-01-01 03:54] JennaMalkin commented on #945
![habitrpg_angry_sun](https://f.cloud.github.com/assets/5298344/1829298/356fb9fc-7298-11e3-8e2a-2fe012545057.png)
Just thought I'd give this a go - here's an Angry Sun boss, based on the Panda Mount head.

[2014-01-01 04:45] Zian commented on #2008
I'd like to reopen this bug with the following repro:

Environment: IE11, Win7 SP1 x64, 100% zoom on a widescreen monitor

Go to habitrpg.com and let yourself be redirected to https://habitrpg.com/#/tasks
Click on "Options"
Click "Settings"
Scroll down

Here are the errors I get with F12 (developer tools) open:

   SCRIPT445: Object doesn't support this action
   File: habitrpg.com, Line: 32, Colu

[2014-01-01 07:02] wisteriacs commented on #2105
Thanks for checking! My friend has been fine. I died today but with class calculations changing I don't know if I had it coming or not. I used mana to try to hide from my dailies today, but I don't know how much that does... Basically, I'm not sure. I would be more helpful if I were better with my dailies. ;-)

[2014-01-01 11:17] ndandanda commented on #2089
I found out that the habit was automatically generated by chrome extension. Sorry for taking your time.

[2014-01-01 11:29] J-Mind commented on #2200
Ahh, I'm able to log in with Facebook. I used the same email for both a Facebook and a non-Facebook account, but I wasn't actively using the Facebook one. So it's caused some type of confusion? If I deleted my Facebook linked HabitRPG account would the password reset problem still occur for my non-Facebook account?

[2014-01-01 16:12] philldevil opened #2215 "Skills won't show up"
when I reached lvl 8 the skills stopped showing up on my tasks page. The place where they should be ins simply empty. I wonder why?
![bug bugado](https://f.cloud.github.com/assets/6297884/1829795/6f10e6a6-72ff-11e3-9adf-779763299641.png)

[2014-01-01 16:23] erratio commented on #2176
I'm still getting nigh-infinite wolf eggs, occasional other eggs and potions, no food :(

[2014-01-01 16:38] lorian commented on #2176
There does seem to be some kind of skew towards wolf eggs; of the four people I've introduced to Habit in the last month, three of them have gotten no eggs other than wolf eggs (and the fourth hasn't gotten an egg yet). And I have 19 of the damn things. We're basically the Wolf Trainer party at this point. I'm definitely not JUST getting wolf eggs though; I got a meat (lol) and a base potion so fa

[2014-01-01 17:53] SabreCat commented on #2215
You won't see abilities until Level 11. #2096 #2102 #2103 #2110...

[2014-01-01 17:53] #2215 closed, assigned to nobody

[2014-01-01 18:15] l-j-krupa opened #2216 "Tasks duplication"
Tasks are duplicated, all at once. User: mada. Cannot tell which action caused this error. Chrome/Iron v27.

Here are logs but not sure if relevant (I made some others actions after tasks were duplicated):

Error: [ngRepeat:dupes] Duplicates in a repeater are not allowed. Use 'track by' expression to specify unique keys. Repeater: task in obj[list.type+"s"], Duplicate key: object:1GM
http://errors

[2014-01-01 18:43] phillipthelen opened #2217 "No Documentation for APIv2"
While APIv1 already is marked as deprecated, there is no documentation for APIv2. Is somebody already working on this? (or is there possibly already some documentation, and it's just somewhere else than the old one).

If nobody is working on this, I could write some documentation, as I work through the api trying to understand how to work with it ;)

[2014-01-01 18:51] lefnire commented on #2217
I'll do this today. Sorry, after https://github.com/HabitRPG/habitrpg/issues/2135 I've been side-tracked with all the newly-found critical errors for the last couple weeks, but I think things have settled down and I can take time for this

[2014-01-01 19:23] deilann opened #2218 "No Cron"
Have not been able to force cron this morning. Thought there was an issue regarding this already, but tags were empty and could not find one in five pages.

Wot happened:

I had a silent migraine last night and so had to suddenly end my day. Utilized the inn in case the migraine lasted longer than my day/would last longer than a day. (Which it did.)

Past my custom cron time (6am) removed self fro

[2014-01-01 19:44] Alys commented on #2176
In predictableRandom, there's this code:
      x = Math.sin(seed++) \* 10000
Is it meant to be ++seed instead of seed++ ? As it's written, I think seed is incremented AFTER the sine value is calculated, which seems pointless.

I suspect the ++ is intended for the case where seed happens to be zero, because sin(0) is 0 which would lead to predictableRandom returning 0 (which might not be desirable

[2014-01-01 19:52] Alys commented on #2176
Also in predictableRandom, does it matter that user.stats isn't an array of numbers? (At least I don't think it is.) I'm not very familiar with JavaScript so I'm having trouble wrapping my head around some of the code, but it looks as if the _reduce callback is expecting a simple array of integers. And that's my final comment because I don't really know what I'm talking about. :) I'm hoping to lea

[2014-01-01 20:29] baconsaur commented on #945
I'm working on a giant undead t-rex boss, so that could be the t-rex egg drop, maybe?

Also, I was wondering, will I get a contributor level for the orb of rebirth? I saw it went up the other day and was pretty excited about that. :) I was also curious when the updated food items will be put in. Is there anything more I can do to help with that?

[2014-01-01 22:04] casicastiel commented on #2218
Similar thing happened to one of my party members. They had been in the inn on/before New Year's Eve, if I remember correctly, and haven't had a cron since.
Here's the relevant party chat log -
![screen shot 2014-01-01 at 5 03 23 pm](https://f.cloud.github.com/assets/6208739/1830259/9e14b690-7330-11e3-9ca5-762d2b84ebeb.png)

[2014-01-01 22:27] SabreCat opened #2220 "Update default tasks to employ recent features"
The default tasks created when you start a new account have lagged behind the newest shiniest features. Here are a few things we could stand to show off in the initial seed of tasks:
- Attribute assignments ("Call Mom" should be "Social" not "Physical")
- Checklists
- Markdown and emoji in task titles

[2014-01-01 23:26] lefnire commented on #2217
### General Progress:
- [x] [Find a generator](https://groups.google.com/forum/#!topic/nodejs/nlqR3XmJMUA)
  - Chose [swagger](https://github.com/wordnik/swagger-node-express), it's very cool. It setups up a route at /static/api with a visual & interactive API guide.
- [x] Finish [documentation](https://github.com/HabitRPG/habitrpg/blob/api-docs/src/apidoc.coffee)
  - Live progress at https://beta

[2014-01-01 23:36] phillipthelen opened #2221 "deselecting daily doesn't remove enough money"
I noticed, that I got 1gold 2silver for completing a daily and then got 1gold 1 silver removed when deselecting it again. This could be reproduced for all of my dailies Shouldn't it remove the same amount of money, I got for completing the task?

[2014-01-02 00:34] Alys opened #2222 "unticking a todo with a checklist removes much less XP and GP than it should"
I had a todo with two checklist items. I ticked off both of the checklist items then ticked the todo. I received these rewards:
    28 XP
    7.32 GP
    3 MP

I then unticked the todo (but left the two checklist items ticked). These rewards were subtracted:
    13 XP
    3.42 GP
    3 MP

I then ticked the todo again, and received similar rewards to the first ticking:
    27 XP
    7.2 GP
    3 M

[2014-01-02 01:29] ghost opened #2223 "Class Change Not Working?"
Hi there, I'm having some problems with the class change...
I used to be a Wizard, and then I decided that I wanted to be a Warrior, right? So I go and buy some Gems, then click the Class Change button. They say that there was a 3 day cool-down period for it, so I waited a long while just to make sure that I wasn't just being impatient. I never got any confirmation on whether or not it changed, bu

[2014-01-02 02:01] djuretic commented on #2082
The formula for max MP is (taken from https://github.com/HabitRPG/habitrpg-shared/blob/develop/script/index.coffee#L1195):

[code]

So, to have a non-integer max MP you need to have a non-integer INT (except when the computed INT ends with .5), with buffs and gear bonus applied.

[2014-01-02 03:33] tamiveldura commented on #940
Ditto with this issue, only refreshing doesn't do any good.

Any time I create new tags they're linked together, to the point of renaming themselves the most recent tag created after navigating away from the page.

Does not appear to affect tags auto-created by accepting challenges.

[2014-01-02 04:14] lefnire opened #2224 "cache spritesmith.png, and cache-bust it when updated"
(see convo at https://github.com/HabitRPG/habitrpg/pull/2209 )

@paglias you want this one, or shall I?

[2014-01-02 04:27] SabreCat commented on #2223
The cooldown hasn't been implemented yet, it's an immediate switch. When you activate the change, you should see the "Select Your Class" popup immediately. What's your user ID from Settings > API? We can give you back your Gems, then you can give it another try and maybe use the JavaScript console to see if you're throwing an error somewhere.

[2014-01-02 05:34] lefnire commented on #2217
Ok, this is mostly done https://beta.habitrpg.com/static/api . Still some stuff to do (see progress above), but the brunt of it is complete.

@magicmicky you may be interested too

[2014-01-02 06:31] lemoness commented on #942
Noted :)

On Sun, Dec 29, 2013 at 9:27 PM, baconsaur notifications@github.com wrote:

[2014-01-02 06:31] lemoness commented on #942
Also, unsurprisingly the gryphon mounts recolors are superb.

On Wed, Jan 1, 2014 at 10:31 PM, S Leslie leslie@habitrpg.com wrote:

[2014-01-02 07:25] ghost commented on #2190
Observation: I noticed today using iOS Chrome that if I changed the orientation of the iPad and then changed it back that the truncated checklists now wrapped properly. Don't know if that helps troubleshoot or not but thought I'd add it anyway.

[2014-01-02 08:46] lemoness opened #2225 "Admin Page Issue"
Trying to assign baconsaur his new level for the rebirth orb, but it keeps saying "error 404" and sometimes "error 503". Thoughts?

[2014-01-02 08:46] lemoness commented on #945
Ooh, cool angry sun - but based on the pixel size, it would be very, very
small in the box. We don't want the pixels to exceed the 3x zoom so that we
can maintain coherency in the art style :) Are you interested in remaking
the boss so that all the pixels are at the normal size, i.e. redraw it
instead of just resizing it? I think it's a really cool concept!

Baconsaur, your level should indeed be

[2014-01-02 11:41] boehsermoe opened #2226 "Stop dailies by tag"
Is it possible to enable oder sleep all dailies with the same tag?
For example some dailies only for a working day, when we got a holiday, these dailies should not be active for this day.

[2014-01-02 12:01] ghost opened #2227 "Tomatoes 15min break not properly recognized, taking HP after 5mins"
When using the plugin for Tomatoes, after 4 pomodoros you should take a 15min break, which is indicated by the 15min timer. After 5mins, which is the duration of a small break, you start getting more and more HPs taken away from you, even though there are 10mins left in the break.

[2014-01-02 12:03] boehsermoe opened #2228 "Rewards with conditions"
I would appreciate it when u could select conditions for a reward, so u can buy it only if u have done certain todos and/or dailies.

[2014-01-02 12:34] clarence1 opened #2229 "Rogue Ultimate Equipment Achievement"
This is my user ID: 5001734a-5948-4319-aab8-914d3d0a2dd6

I have already obtained the Umbral Armor and Helmet and both Hook Swords and there is no further equipment for me to buy but I still have not unlocked the achievement yet.

[2014-01-02 14:05] wc8 opened #2231 "Daniel, tell us your inn is not proof against attacking bosses."
If we start a quest, we’ve committed to it. Resting in the inn shields us from Neglected Dailies, however it does not—and I say, should not—protect us from _Boss damage_.
We need Daniel to explain that, so our resting innHabitants don’t wonder why they’re taking a hit.

[2014-01-02 15:42] MagicMicky commented on #2217
Well, that's awesome! Thanks :)

[2014-01-02 15:44] Reesachan opened #2232 "Ultimate Gear stat not functioning properly? [$15 awarded]"
### Please do not post your UUID in this thread. We know it is a problem and the fix will be self-healing. We do not need your UUID to fix it. Currently the achievement is in the inn, so no one is getting it whatsoever. Please be patient-- this is lower priority than other things, but is being worked on.
#### Note to devs: This is our current intention for the badge: https://github.com/HabitRPG/ha

[2014-01-02 16:03] lefnire commented on #2231
I was thinking DTB the whole time... "what is she _talking_ about"? Nope, got it.

[2014-01-02 16:05] lefnire commented on #2227
Report that over on https://github.com/habitrpg/habitrpg-chrome

[2014-01-02 16:06] lefnire commented on #2225
see https://github.com/HabitRPG/habitrpg/issues/1877

[2014-01-02 16:06] #2225 closed, assigned to nobody

[2014-01-02 16:16] JPSmee opened #2233 "Unable to join a party fight"
My party is currently engaged in a fight against 'Trapper Santa' - but I am unable to join in. One member of my party initiated the fight, and the only option that I have is to abort the fight. When I complete dailies, it does no damage to the boss.

[2014-01-02 16:23] lefnire commented on #2233
Just gotta wait for them to finish, and join the next round. In a
decent-sized party, quests go quite fast. You have until Jan 31st (plenty
of time), and each player who signed up before 12/25 got 1 scroll for free,
so someone in your party will have a spare to start again

On Thu, Jan 2, 2014 at 9:16 AM, JPSmee notifications@github.com wrote:

[2014-01-02 16:23] #2233 closed, assigned to nobody

[2014-01-02 16:26] JPSmee commented on #2233
Shouldn't the other party members have been given the option to join in? I ask, as nobody in the party was given the option to join in.

And to clarify, the only person who is currently able to participate in the fight is the person who used their scroll.

[2014-01-02 16:28] lefnire commented on #2233
When the quest scroll is activated, everyone in the party _at that moment_ is given an invite. The quest leader waits until everyone (or enough) people have joined, and then manually clicks "Begin Quest". At that point, it's locked, the battle begins, and nobody can join or leave until until (a) the questers win, (b) loose, (c) abort

[2014-01-02 16:31] JPSmee commented on #2233
Ahh, that makes sense. Now to beat my party member (I'm the party leader, lol). Many thanks!!!

[2014-01-02 16:37] casicastiel opened #2234 "Setting due date for a todo: window falls behind, instead of in front of, spell list"
User cca60406-1b8f-496e-af77-cd19df77c895, Chrome on Mac
![screen shot 2014-01-02 at 11 35 39 am](https://f.cloud.github.com/assets/6208739/1833557/2e0fcff0-73cc-11e3-8067-bdc75440fd9d.png)

[2014-01-02 16:38] casicastiel opened #2235 "Changing equipment gives weird blank notifications"
user cca60406-1b8f-496e-af77-cd19df77c895, mac chrome
![screen shot 2014-01-01 at 4 58 58 pm](https://f.cloud.github.com/assets/6208739/1833561/426cf5cc-73cc-11e3-8613-e2d947584407.png)

[2014-01-02 16:56] djuretic commented on #2235
Happens to me too! Chrome on Ubuntu

[2014-01-02 17:02] djuretic commented on #2229
Related to #2232

[2014-01-02 17:43] colegleason opened #2236 "Using the Reset feature pops up a modal about Streaker achievement"
I used the reset feature to remove some experience I accidentally gave myself. After saving the changes, a modal dialog popped up to tell my how I received the "Streaker" achievement. Sorry, I should have took a screenshot.

Since I've only been using this for a day, I'm pretty sure I don't have that achievement.

[2014-01-02 17:54] lefnire commented on #2229
let's close and follow up there. i'll manually set you @clarence1 for now

[2014-01-02 17:54] #2229 closed, assigned to nobody

[2014-01-02 18:45] lefnire commented on #945
@baconsaur gotcha sorted. You'll get many more lvls in near future once these are in

[2014-01-02 19:59] #2029 closed, assigned to nobody

[2014-01-02 20:31] lefnire commented on #940
Confirmed issue, refreshing always fixes in my testing

[2014-01-02 20:35] lefnire commented on #2218
See https://github.com/HabitRPG/habitrpg/issues/1057 . customDayStart has many issues, and we're thinking of doing away with it (or adding a "use at your own risk"). The solution is to set your CDS to 0, and unfortunately you'll have to wait another cron cycle. See linke for more info

[2014-01-02 20:35] #2218 closed, assigned to nobody

[2014-01-02 20:36] lefnire commented on #2176
The actual predictableRandom function, which we got from a utils library somewhere, is not likely to be the issue. Which seed we're using is much more likely. So your second comment about user.stats not being a collection of numbers is a more likely lead than the seed++ thing, I'll look into

[2014-01-02 22:18] stormyhearted opened #2238 "Purchased Gems Not Showing"
I just purchased gems; the payment shows as completed in my Paypal, but after refreshing and logging out/in, they're still not showing.

(I see this issue's come up before- I wasn't sure if I should start a new thread or post in a closed one.)

[2014-01-02 22:50] lefnire commented on #2238
What's your UUID?

[2014-01-02 22:50] stormyhearted commented on #2238
It's 103c0def-d25f-424f-a4c1-ab7ca7655710. Sorry, should have included that to begin with.

[2014-01-02 22:51] lefnire commented on #2238
give that a shot, sorry for the inconvenience!

[2014-01-02 22:51] #2238 closed, assigned to nobody

[2014-01-02 22:52] erratio opened #2239 "Sort button for guilds/party members does nothing"
In Chrome on a PC. Tried different sort options, reloading the whole page, no change.

[2014-01-02 22:53] stormyhearted commented on #2238
Not at all, these things happen. Though I'm showing 40 gems, when I only bought 20. :)

[2014-01-02 22:53] lefnire commented on #2238
auto-grants gems for the troubles ;)

[2014-01-02 22:54] stormyhearted commented on #2238
Oh wow, thanks!

[2014-01-02 22:59] erratio commented on #2239
Actually, turns out it does do something - it changes the order of my party members' avatars up the top of the screen. And that's regardless of whether I try to change the order from within my party or from within a guild

[2014-01-02 23:35] ghost commented on #2223
Thank you for getting back to me! ^^
My ID is "6a498313-355a-43d7-ba6b-855a652bae8c"

[2014-01-02 23:41] lemoness commented on #1883
Question - is this the same issue that is making all my Challenges inoperable today? Every time I try to click on one, I get an Error 404: Challenge not found.

[2014-01-02 23:43] wc8 commented on #2231
je je… :grin:  I generally try to make myself type out Justin the Guide and Daniel the Tavern Keeper, but I failed here.

I  keep wondering what NPC’s are thinking as they read about the complaints people have against their counterparts:

Popovers…![popovers](http://upload.wikimedia.org/wikipedia/commons/1/15/Popovers_2.jpg).

So far, Ian appears to have escaped this abuse.

[2014-01-02 23:48] delphina opened #2240 "Dailies"
The dailies I checked yesterday are still checked today, and all dailies have lost their streaks and I lost 5HP, as if I had not completed any of them.  I checked my settings and nothing has changed about my custom day start, so I'm a little baffled.

Username: Delphina

[2014-01-03 00:02] stormyhearted opened #2241 "Unlocked Rebirth, Stuff Vanishes"
I feel bad, I just posted an issue two hours ago, and here I am again.

I upped one of my habits and got a notification that I'd unlocked Rebirth, so I went into the options to see where it was. The Beast Master achievement I'd unlocked in the past two hours disappeared, along with the six pets I'd finished- but the gems I used to buy them weren't restored. My UID is 103c0def-d25f-424f-a4c1-ab7ca7

[2014-01-03 00:05] wc8 commented on #2240
For debugging purposes:
- were you resting in the inn recently?
- do you have a custom day start?

For immediate relief, you might try recording the values (e.g. level, XP, GP) you should have, unchecking your dailies manually and using Fix Character Values in Settings.

[2014-01-03 00:07] wc8 commented on #2241
Hi, did you unlock the stable yet? My understanding is, the pets should be there when you unlock that feature. You just won’t see them until you unlock it.

[2014-01-03 00:08] lefnire commented on #2087
@MagicMicky do you need that "path to upgrade class gear without passing item key (/user/inventory/upgrade or such)" checklist item after all? Or we cool to close this?

[2014-01-03 00:08] stormyhearted commented on #2241
I didn't use the rebirth option, I just got the note that I'd unlocked it. My level and gear are all the same, and I still have access to the rest of my pets and mounts.

[2014-01-03 00:09] lefnire commented on #1883
@lemoness naw diff issue, fixed now

[2014-01-03 00:10] JasonGross opened #2242 "Picture offset mismatch"
When I recently navigated to the pets page, I saw

![screenshot 2014-01-02 19 08 05](https://f.cloud.github.com/assets/396076/1836672/6debc7ca-740b-11e3-91e9-5ba586839cd9.png)

Reloading the page fixed it.  I suspect the problem is that I had old javascript code running to get the pictures, and the server had updated the images.

[2014-01-03 00:11] lefnire commented on #2242
refresh

[2014-01-03 00:11] #2242 closed, assigned to nobody

[2014-01-03 00:15] JasonGross commented on #2242
As I said, reloading the page fixed the issue.  I reported the issue in case the developers wanted to add some code to version-check the images before loading them, and automatically reload the page if the versions don't match or something.

[2014-01-03 00:15] stormyhearted commented on #2241
I should note I just went looking, and can't even _find_ the Rebirth option.

[2014-01-03 00:18] wc8 commented on #2241
Some tavern reports of missing pets / pets needing to be re-fed, too.

[2014-01-03 00:25] DanielTheBard commented on #942
Right! So I opened the card for a Gen 2 pet quest chain. I perused over this thread and realized... only the Gryphon and the T.Rex have art and colors up for the pets AND mounts. And from the quests, we have art for the Gryphon boss and Entling boss. So gryphon is definitely up first. If entling mounts or a t-rex boss could be made we could push those out next. The cobra, marshmallow slime, rooste

[2014-01-03 00:31] lefnire commented on #2241
@stormyhearted are you using beta? wonder if the tavernists are too. Fixed a bug here https://github.com/HabitRPG/habitrpg-shared/commit/8523f686723d0c730c16aa2c3f63b4f102d29249 , but it would only have affected beta. I'll give you gems for buy back in the mean time

[2014-01-03 00:32] stormyhearted commented on #2241
I am using beta, yes.

[2014-01-03 00:32] lefnire commented on #2241
K, we should be good then - fix pushed, buy-back gems granted. Sorry boot that

[2014-01-03 00:32] #2241 closed, assigned to nobody

[2014-01-03 00:34] lefnire commented on #2231
You had me at "put justin in popovers"... *wipes tear*

[2014-01-03 00:38] lefnire commented on #1859
I think this was someone experimenting with API routes in the end.

[2014-01-03 00:38] #1859 closed, assigned to lefnire

[2014-01-03 00:40] lefnire commented on #2085
I'm gonna close this as it sounds very much like the issue was using an older version of the mobile apps. Android 0.0.15 is out, and iOS 0.0.15 is currently being processed (god thy take forever...). If anyone experienced this issue _using the website_ primarily (or using 0.0.15 of the mobile apps), hit me up and I'll re-open

[2014-01-03 00:40] #2085 closed, assigned to nobody

[2014-01-03 00:42] SabreCat commented on #2223
OK, your Gems should be refunded. Refresh the page, give it another try, and if it doesn't give you the class switch right away, check the [console](https://developers.google.com/chrome-developer-tools/docs/console#opening_the_console) to see if anything blew up.

[2014-01-03 01:07] delphina commented on #2240
- I have not rested at the inn at all.
- I do not have a custom day start.

[2014-01-03 01:21] SabreCat commented on #2241
And for clarification, @stormyhearted, the Orb of Rebirth can be bought in the Market, where the Snowball and Fortify Potion are! (The unlock modal mentions that, but it's way subtle... sorry about that!)

[2014-01-03 01:24] stormyhearted commented on #2241
I think the bug fix must have affected that too, as it's not in the market for me. Not that I'm worried about it, I don't plan to use it anytime soon.

[2014-01-03 01:26] SabreCat commented on #2235
Duplicate of #2073.

[2014-01-03 01:26] #2235 closed, assigned to nobody

[2014-01-03 01:27] SabreCat commented on #2234
Duplicate of (or very very closely related to) #2187.

[2014-01-03 01:27] #2234 closed, assigned to nobody

[2014-01-03 01:28] baconsaur opened #2243 "Beast Master achievement disappears when pets become mounts"
This makes sense, but personally I'd prefer that once we have it, it sticks even if the pet count drops due to growing them into mounts. Achievements are permanent in most games. I don't know if this is intentional or not, so I thought I should bring it up.

[2014-01-03 01:51] SabreCat commented on #2243
There's more funkiness afoot with this. My "pets found" count continues to increase, on my Stats & Achievements page, even when I raise a pet into a mount, then replace it by hatching a new pet of the same type.

[2014-01-03 02:11] deilann commented on #1057
Can you tag this with the relevant tags so it's easier to find?

[2014-01-03 03:36] wc8 commented on #1057
This just affected my party member. He didn’t sign in until this evening. No custom day start—he hasn’t changed it. No resting in tavern.

[2014-01-03 03:45] SabreCat commented on #2073
Also happens when buying a Health Potion, in addition to the -gold and +health alerts.

[2014-01-03 04:09] #2073 closed, assigned to nobody

[2014-01-03 04:22] lefnire commented on #2243
@baconsaur not intended, but known. The achievement calculation is handled on `user.save()` as a [dirt-simple math op](https://github.com/HabitRPG/habitrpg/blob/develop/src/models/user.js#L338). We'll need to put some thought into how to otherwise handle it, I've just been wrapped up in other things

@SabreCat woa :o that's a-strange

[2014-01-03 05:17] LordDarkly commented on #942
True, very true. If we're turning these into boss fights, the cobra might work for that. I haven't touched it in a while, but if Cobra mounts are wanted, I can get back to working on those.

Really whatever needs to be done, I'm willing to work on, although boss artwork sounds pretty cool.

[2014-01-03 05:22] Liviko commented on #2238
Hello, I'm not sure if this is the right place to say this, but I also donated 5 USD on paypal that are not showing in terms of gems.The paypal transaction was on 27th December and I waited, because paypal... My user ID is 78db1000-fed6-44af-a2fe-3fa5d241a9f6 . I also wanted to say thank you to the developers for creating such a wonderfull thing !! :)

[2014-01-03 07:01] #1954 closed, assigned to nobody

[2014-01-03 07:05] lefnire commented on #1954
pushing fix.

@djuretic I was able to use some API mocha tests to solve this one, we may want to connect sometime soon on when to use what types of tests where, so I don't step on your toes. unit-tests=habitrpg-shared obviously, but then API-tests vs e2e tests should we come up with some sort of guidelines? Or just use whatever works under diff circumstances?

[2014-01-03 07:50] dwhitlow commented on #2093
Several spells use the crit function, so it's by design. Unfortunately, it's being used in a lot of different ways and should be made more uniform.

[2014-01-03 11:36] MagicMicky commented on #2087
No, with the /content route, I can easily guess what item should be bought.
I think you can close this.
Thanks a lot!

[2014-01-03 12:14] djuretic commented on #1954
@lefnire We now have 3 types of tests in habitrpg:
- Karma unit tests. No database, mocked HTTP requests.
- API tests against Node server and Mongo, using HTTP requests directly.
- E2e tests against Node server and Mongo, via browser interaction (Protractor/Selenium).

I think we need all three of them.
In the e2e tests with Protractor there is not direct way to send a POST request (you only can t

[2014-01-03 12:22] cinemafreak commented on #2085
Thank you, guys.  Yes, it does seem like it's because of the IOS.

[2014-01-03 12:24] cinemafreak commented on #2157
I can't figure out what version of the IOS app I have, but I don't recall seeing an update since before Christmas.

[2014-01-03 14:57] brightbold commented on #2164
I too like this idea, but not at the expense of removing emoji from tasks. I have a lot of one-off emoji (:recycle: for Take Out Recycling and :boot: for No Shoes in the Living Room) and I wouldn't want to have to create special tags for those tasks just to emojify them. We're already dealing with tag clutter due to challenges, so we don't want to add to that.

[2014-01-03 15:19] Calae opened #2246 "Unresponsive Script Pop-up on Tasks page."
Whenever I log in to HabitRPG, or any time after when I return to https://habitrpg.com/#/tasks, my browser freezes for a moment (It says "Not Responding" in the title bar and I have the Windows 7 loading circle pop up; I cannot do anything with my browser during this time), and then I inevitably get at least two Unresponsive Script popups like the ones shown here:

![habit rpg error 2](https://f.c

[2014-01-03 15:24] DanielTheBard commented on #2164
@lefnire - While, I think that's a cool idea, I agree with @brightbold. I also have one-off emojis for tasks.

[2014-01-03 16:53] lefnire commented on #2164
Fair nuff. Tag-based emoji is a ways off anyway, and I'll be sure not to remove task-based emoji

[2014-01-03 16:53] djuretic commented on #2246
If you use another browser, do you experience the same problem?

[2014-01-03 16:55] lefnire commented on #2157
Don't know what happened as I have the 0.0.15 "ready for sale" email. Checked the app-store to verify (due to this ticket), still on 0.0.14 :o . Anyway, I resubmitted 5days ago and I got another "ready for sale" email late last night, finally [looks to have stuck](https://itunes.apple.com/us/app/habitrpg/id689569235?mt=8) so do an update now and you should be good

[2014-01-03 16:55] #2157 closed, assigned to nobody

[2014-01-03 16:57] lefnire commented on #2246
See https://github.com/HabitRPG/habitrpg/issues/1499 . The most common solution is to clear your completed To-Dos. If you can't even get in to do that, I'm posting workaround on that other ticket.

Also, per @djuretic  - use chrome, it's faster than other browsers :)

[2014-01-03 16:57] #2246 closed, assigned to nobody

[2014-01-03 16:59] lefnire commented on #2246
sorry, [workaround here](https://github.com/HabitRPG/habitrpg/issues/1499#issuecomment-28160349)

[2014-01-03 17:01] lefnire commented on #1954
Perfect, makes sense! Thanks @djuretic

[2014-01-03 17:01] lefnire commented on #2087
√

[2014-01-03 17:01] #2087 closed, assigned to lefnire

[2014-01-03 18:14] lefnire commented on #2238
Hey, sorry about that. Give that a whirl, extra gems for the extra troubles.

On Thu, Jan 2, 2014 at 10:22 PM, Liviko notifications@github.com wrote:

[2014-01-03 19:11] lemoness commented on #942
Gryphon seems like a good introduction! And yes, now that we have the
Quests as the method to get "Quest Pets", I think that our top priority in
this thread should be taking the preexisting Gen 2 pets/mounts and making
sure they have all their recolors. You guys are still free to contribute
totally new pets, of course, but it would be awesome if we could focus on
taking what we already have and ma

[2014-01-03 19:21] eineg opened #2247 "Automatic Allocation"
I checked the "automatic allocation box" and I now got the third time in a row 1 point to strength, although 7 of my 8 daylies are mental ones.

Shouldn´t my character get a point to int attribute?

[2014-01-03 19:25] lefnire commented on #2247
@SabreCat has fixed this on a PR which I'll be merging either today or
tomorrow, stay tuned
On Jan 3, 2014 12:21 PM, "eineg" notifications@github.com wrote:

[2014-01-03 19:26] lemoness opened #2248 "Lost HP For Ending Challenge"
I ended a private challenge that I was in and awarded the winner.... only to immediately get a notification that I had lost .9 HP. The challenge was for a private guild, and as far as I could tell, all the tasks had been completed by both of the participants.

[2014-01-03 19:31] eineg commented on #2247
Thank you!

Will I get those strength points back to allocate it myself after that or will this points be automaticly allocated to the right attributes (regarding to my tasks) after the fixing?

[2014-01-03 19:38] eineg commented on #2247
In my opinion the perfekt solution would be if all the points which are not allocated yet (which I got before I could check the box to automaticly allocate) were automaticly distributed to the tasks I did most at this specific former level. Don´t know if this is possible.

[2014-01-03 19:43] lefnire commented on #2248
Is the hp loss the only issue that occured? If so, that's normal. What happens is Habit consumes updates from the server for any action on your account. Eg, if you change your profile name, and your Chrome extension docked you points since the last time you did anything, you'll get an HP loss notification.

[2014-01-03 21:04] JennaMalkin opened #2249 "Non-questers' missed dailies hurt party?"
Not all of my party has joined the Trapper Santa quest, so non-questers are protected from losing HP, but according to the tavern, their missed dailies are damaging the questing members of the party.

If this is so, could you please make it so that party members who reject or are still pending on a quest when the quest starts don't have their missed dailies count towards boss damage to questers?

[2014-01-03 21:16] Atomk opened #2250 "Deleting a challenge does not delete the challenge tag"
When I deleted the old, finished challanges, the challanges' tags were still in the tag bar. The tags were automatically created when I joined the challenges, not by me.

[2014-01-03 21:36] JennaMalkin opened #2251 "Can't type in Tavern, Party or Guild Chat"
When I click inside the tavern, party, or guild chat, it won't let me click and type.  My mouse cursor changes to a 'you're about to type bar (with a hat and base)', but when I click, nothing happens, I can't type in chat.  Nor can I copy-paste from chat or my User ID.

Browser:  Safari 5.0.6
User ID: 572fdfa8-bac7-423f-9bd1-90eb8e04cb72

[2014-01-03 21:39] lefnire commented on #2251
Can any one else replicate? I can't (incl with safari)

[2014-01-03 21:44] ghost commented on #2223
My Gems are back to 20, so I'm happy about that, however I still don't have a class change, and when I click on my name in chat, it says "Wizard - Coming Back Soon!" Oh, and I tried to see what was wrong with the console, but I'm not entirely sure if I did it right. Here's a screenshot of what happened:

http://25.media.tumblr.com/d82bfcd07e3a82821c07e1db68efe6dd/tumblr_myt6vpfPbK1seeicoo1_1280.pn

[2014-01-03 21:46] lefnire commented on #2168
I have a solution. Don't clear `user.party.quest.progress.up` [upon boss-start](https://github.com/HabitRPG/habitrpg/blob/develop/src/controllers/groups.js#L442). It's cleared on cron, and cleared on boss-complete - but if we just don't clear it on boss-start, it will maintain the full day's tally, even for a late-day boss-start

Should be a simple fix in case someone can get to it before me, just

[2014-01-03 21:53] JennaMalkin commented on #2251
Using the 'chat refresh button' (multiple times) did nothing.

[2014-01-03 22:14] colegleason commented on #2195
Would we like to just automatically remove them from all challenges and add a note to the Leave Guild prompt? I believe that can be done in the callback for Guild.leave.

[2014-01-03 22:32] lefnire commented on #2223
Click the class change buttons now with your restored gems, you gotta
trigger it again manually
On Jan 3, 2014 2:44 PM, "NamelessTraveler" notifications@github.com wrote:

[2014-01-03 22:37] ghost commented on #2223
Oh man, I'm sorry! This is a big thing, and I can't see how I neglected to mention it, but I don't have a Class Change button anymore! Here's a screenshot of my Stats page:
http://31.media.tumblr.com/4d43086dce3c71ca6de2b46bc75489f4/tumblr_myuk4vhIuN1seeicoo1_1280.png

[2014-01-03 22:42] lefnire commented on #2223
Oh I see. Classes unlock at lvl 10 these days. I see what went wrong, you
were part of the lvl5 classes early batch. We changed classes unlock to 10,
so when you clicked "change class" before 10, it knocked you back to normal
user status, out of classes early-adopter status. You may just need to wait
till lvl 10. Does everything function as expected otherwise?
On Jan 3, 2014 3:37 PM, "NamelessTrav

[2014-01-03 22:45] ghost commented on #2223
OOOHHHH!!
Woah, I'm really sorry for making such a hullabaloo about this, I had no idea that it unlocked at Lv. 10 now. xD
Yeah, everything else works as normal, thanks so much for all your help! ^^

[2014-01-03 22:48] lefnire commented on #2223
Cool beans!

[2014-01-03 22:48] #2223 closed, assigned to nobody

[2014-01-03 23:08] Eusebius opened #2252 "Dubious death after checking out from the inn"
I've just checked out from the inn, with one single undone (dark red) daily, and 12 HP, and apparently I died from that... I really didn't expect to be one-shot by a daily. Have the numbers really changed so drastically, or is it possible that there might be an issue?

[2014-01-03 23:10] Eusebius commented on #2252
Oh, maybe Trapper Santa did that? Really, when dying, we should have more info from cron about what happened. Maybe just not when dying.

[2014-01-03 23:12] Eusebius commented on #2252
Sorry about my previous comment, there is a log about the battle, Santa only hit me for 3.4, but I guess it might explain my death anyway.

[2014-01-03 23:12] #2252 closed, assigned to nobody

[2014-01-04 00:39] SabreCat commented on #2247
@eineg: To your first question, the fix won't address any points already assigned, unfortunately. If you use the Change Class button, you can get all your points back. Since your points were misallocated due to auto-allocate not working as you expected, post your user ID (from Settings > API) here and we can give you some Gems to buy that class change with.

To the second question: adding a backfi

[2014-01-04 01:04] lemoness commented on #2248
Just HP loss... but why does that happen? It's pretty confusing.

On Fri, Jan 3, 2014 at 11:43 AM, Tyler Renelle notifications@github.comwrote:

[2014-01-04 03:44] colegleason commented on #2195
So I have this somewhat working. When you leave a guild, it removes you from all challenges. However, I am giving the user the option to keep-all/remove-all tasks.

I'm hitting an odd issue in remove-all where the first API call to leave a challenge will succeed, but the second fails with 500. Specifically, it seems to fail while unlinking the tasks with this error:

[code]

It looks like a race c

[2014-01-04 04:02] colegleason commented on #2195
Yup, seems to be a race condition as noted in [this StackOverflow post](http://stackoverflow.com/questions/17499089/versionerror-no-matching-document-found-error-on-node-js-mongoose). Are there locks anywhere? I don't see them.