[2015-07-18 12:46] #2708 closed, assigned to nobody

[2015-07-18 13:00] Alys commented on #2982
fixed

[2015-07-18 13:00] #2982 closed, assigned to nobody

[2015-07-18 13:02] Alys commented on #2988
I'm closing this since the old apps are being deprecated and we should open a new issue if the problem still occurs in the new app.

[2015-07-18 13:02] #2988 closed, assigned to nobody

[2015-07-18 13:07] Alys commented on #3063
Sounds like a once-off problem and I don't recall any other reports so I'm closing this.

[2015-07-18 13:07] #3063 closed, assigned to nobody

[2015-07-18 13:34] Alys commented on #3102
This sounds like a syncing problem which we're aware of from other issues, and it's an old report so I'm closing this.

[2015-07-18 13:34] #3102 closed, assigned to nobody

[2015-07-18 13:53] Alys commented on #3185
This is a feature request rather than a bug so if it's still desired, please suggest it at Help -> Request a Feature

[2015-07-18 13:53] #3185 closed, assigned to nobody

[2015-07-18 13:54] Alys commented on #3195
Fixed, no further reports.

[2015-07-18 13:54] #3195 closed, assigned to nobody

[2015-07-18 13:56] #3213 closed, assigned to nobody

[2015-07-18 13:57] Alys commented on #3228
seems fixed

[2015-07-18 13:57] #3228 closed, assigned to nobody

[2015-07-18 14:00] Alys commented on #3236
We're fixing this in the new apps by having images stored externally.

[2015-07-18 14:00] #3236 closed, assigned to nobody

[2015-07-18 14:03] Alys commented on #3283
I believe this is fixed now so I'm closing it. Reopen if I'm wrong.

[2015-07-18 14:03] #3283 closed, assigned to nobody

[2015-07-18 14:33] Alys commented on #3315
This is expected behaviour so I'm closing this. The popup stays open until you select a guild to visit or choose to close it, in line with how the menus work. I believe this behaviour is good for accessibility reasons.

[2015-07-18 14:33] #3315 closed, assigned to nobody

[2015-07-18 14:36] Alys commented on #3375
Closing because we've changed the tutoial significantly since then.

[2015-07-18 14:36] #3375 closed, assigned to nobody

[2015-07-18 14:40] Alys commented on #3381
Does this paypal error still occur?

[2015-07-18 14:41] Alys commented on #3386
This has been fixed (options in Settings -> Site to add email etc).

[2015-07-18 14:41] #3386 closed, assigned to nobody

[2015-07-18 14:56] Alys commented on #3479
This was fixed.

[2015-07-18 14:56] #3479 closed, assigned to nobody

[2015-07-18 18:01] Alys commented on #3512
This situation is avoided now by the six-hourly refresh so  I'm closing this.

[2015-07-18 18:01] #3512 closed, assigned to nobody

[2015-07-18 21:30] Alys commented on #3675
done but not capped

[2015-07-18 21:30] #3675 closed, assigned to nobody

[2015-07-18 22:22] Alys commented on #3775
I'm closing this because there are many methods of preventing yourself being tracked, and they'll protect you on other sites too, so installing one of those methods is your best option if you don't want the Add This tracking.

[2015-07-18 22:22] #3775 closed, assigned to nobody

[2015-07-18 22:24] Alys commented on #3164
Closing. This no longer happens.

[2015-07-18 22:24] #3164 closed, assigned to nobody

[2015-07-18 22:27] Alys commented on #3684
In https://github.com/HabitRPG/habitrpg/pull/4262#issuecomment-110353260 we reluctantly decided that we were not currently able to support Bitcoin, so I'm closing this issue.

[2015-07-18 22:27] #3684 closed, assigned to nobody

[2015-07-18 22:33] Alys commented on #3682
fixed in https://github.com/HabitRPG/habitrpg/pull/5626 (included in https://github.com/HabitRPG/habitrpg/pull/5642)

[2015-07-18 22:33] #3682 closed, assigned to nobody

[2015-07-18 22:34] Alys commented on #4039
fixed in #5626 (included in #5642)

[2015-07-18 22:34] #4039 closed, assigned to nobody

[2015-07-18 22:35] Alys commented on #3671
A design change has fixed this.

[2015-07-18 22:35] #3671 closed, assigned to negue

[2015-07-18 22:39] Alys commented on #3611
fixed

[2015-07-18 22:39] #3611 closed, assigned to nobody

[2015-07-18 22:44] Alys commented on #3558
I believe this is fixed.

[2015-07-18 22:44] #3558 closed, assigned to nobody

[2015-07-18 22:47] Alys commented on #3555
This sounds very much like a local storage issue, which is being tracked in https://github.com/HabitRPG/habitrpg/issues/4313 so I'm closing this. There's an Advice section near the top of that issue which might help, if you're still experiencing this.

[2015-07-18 22:47] #3555 closed, assigned to nobody

[2015-07-18 22:54] Alys commented on #3516
@gabichicaloca I'm sorry we never got back to you with an explanation of this problem. It might have been caused by data not being synced between your browser and the server as soon as it should have been. I'm closing this now since it's an old report, but if it happens again, please tell us.

[2015-07-18 22:54] #3516 closed, assigned to nobody

[2015-07-18 23:47] Alys commented on #3464
@Aletraidi I'm so sorry we never replied to you to help you with this! It looks like it was a sync error, where some of the data wasn't sent from your browser to the server. If it happens again, you can use Settings -> Site -> [Fix Character Values](http://habitrpg.wikia.com/wiki/Fix_Character_Values) to remove XP and GP, and you can, if you wish to, sell any drops you feel you shouldn't have gain

[2015-07-18 23:47] #3464 closed, assigned to nobody

[2015-07-18 23:47] nickyknacks commented on #4753
We are experiencing a somewhat similar issue. The quest has already started, but the quest owner and several others have gone inactive, so as to make it impossible to complete in a timely fashion. As recommended by other help articles, I booted the quest owner, and the boot seems to have gone through fine, but the Abort button never appeared. As expected, since they were booted by me instead of le

[2015-07-18 23:55] Alys commented on #3279
@AwesomeJae Sorry for the delay. Is this still happening for you?

[2015-07-18 23:59] Alys commented on #3262
@KusuKusu and @thebat137 I'm sorry we never replied to help you with this. :(

KusuKusu's problem sounds like there were duplicate accounts for the same username, with one having much less progress than the other. We've fixed that issue by making it impossible for duplicate accounts to occur now.

thebat137's issue seems to be https://github.com/HabitRPG/habitrpg/issues/4313 - there's an Advice se

[2015-07-18 23:59] #3262 closed, assigned to nobody

[2015-07-19 00:04] Alys commented on #4753
@nickyknacks Sorry about that! I've changed the quest owner to Gala, the party leader.

[2015-07-19 00:17] Alys commented on #3242
@scheidm I'm sorry we never got back to you to help you with this! I can see from your account that you're not in a quest now, but if the same problem happens in future, please tell us and we'll try to be more prompt. :(

[2015-07-19 00:17] #3242 closed, assigned to nobody

[2015-07-19 00:20] Alys commented on #3241
I'm closing this because the current site design allows for new players to see all features immediately, and the help text explains when the features will be usable.

[2015-07-19 00:20] #3241 closed, assigned to nobody

[2015-07-19 00:22] Alys commented on #3232
@hovancik I'm so sorry we never got back to you about this! Unfortunately we can't tell what went wrong, but if anything like this happens again, please tell us and we'll try to work out what caused it.

[2015-07-19 00:22] #3232 closed, assigned to nobody

[2015-07-19 00:23] Alys commented on #3219
@pocketwise I'm so sorry we never got back to you about this! Unfortunately we can't tell what went wrong, but if anything like this happens again, please tell us and we'll try to work out what caused it.

[2015-07-19 00:23] #3219 closed, assigned to nobody

[2015-07-19 00:25] crookedneighbor commented on #5641
One of the scenarios Alys mentioned is certainly the reason why. Here's the code where it happens: https://github.com/HabitRPG/habitrpg/blob/39cb9bfb990d883a794cdc4d514aff6765c0b0c8/website/src/controllers/members.js#L59-L62

@agroboy If you think something is still not right, please re-open the issue.

[2015-07-19 00:25] #5641 closed, assigned to nobody

[2015-07-19 00:33] crookedneighbor commented on #2709
Since this is stale, I'm closing this, but if anyone wants to work on this, please re-open it.

[2015-07-19 00:33] #2709 closed, assigned to nobody

[2015-07-19 00:34] crookedneighbor commented on #2765
Closing this since moving from Google Hangouts to a private guild is desirable, but not being prioritized.

[2015-07-19 00:34] #2765 closed, assigned to nobody

[2015-07-19 00:36] #2923 closed, assigned to nobody

[2015-07-19 00:38] #2860 closed, assigned to nobody

[2015-07-19 00:38] crookedneighbor commented on #3008
Since this is very old, I'm closing it.

@tog22 If you're still having issues, please re-open it.

[2015-07-19 00:38] #3008 closed, assigned to nobody

[2015-07-19 00:38] WezCorp opened #5644 "Unable to leave guilds"
User: 6aaf4e6d-0395-49fb-bd6b-641a82b73df9

Unable to leave guilds - click on the leave button and the pop-up box which showed either confirm or cancel doesn't pop up, and the webpage just goes through it's reload type phase when clicking a task complete for example.
Currently using an up to date version of chrome - but getting loads of java errors. I'll submit a new request for being unable to fi

[2015-07-19 00:39] #3039 closed, assigned to nobody

[2015-07-19 00:39] #3040 closed, assigned to nobody

[2015-07-19 00:41] WezCorp opened #5645 "Unable to filter challenges"
User: 6aaf4e6d-0395-49fb-bd6b-641a82b73df9

Unable to filter challenges - it doesn't show any of the guilds I'm in, so the filter doesn't work at all, can't clicked owned or participating and have it change.
Currently using an up to date version of chrome - but getting loads of java errors. I've submitted a request for unable to leave guilds, it might be related to this java error but as I said in

[2015-07-19 00:41] crookedneighbor commented on #3027
Changes have been made to the system. Closing this for now.

[2015-07-19 00:41] #3027 closed, assigned to nobody

[2015-07-19 00:42] crookedneighbor commented on #3051
I don't think we want to allow fix character values to adjust # of perfect days, since those are technically achievements.

@lemoness @Alys thoughts?

[2015-07-19 00:43] crookedneighbor commented on #3080
We've rewritten the inn code to allow dailies to reset (from checked to unchecked) while resting in the inn. This should allow you to avoid damage from the inn, but still be able to use your dailies.

[2015-07-19 00:43] #3080 closed, assigned to nobody

[2015-07-19 00:44] crookedneighbor commented on #3068
The HabitRPG chrome extension is no longer maintained. Closing this issue.

[2015-07-19 00:44] #3068 closed, assigned to nobody

[2015-07-19 00:45] crookedneighbor commented on #2862
I haven't seen this error, and since it's over a year old, I'm closing it.

[2015-07-19 00:45] #2862 closed, assigned to nobody

[2015-07-19 00:47] crookedneighbor commented on #3091
If this is still desired, it should be added to Trello.

[2015-07-19 00:47] #3091 closed, assigned to nobody

[2015-07-19 00:49] #3189 closed, assigned to nobody

[2015-07-19 00:52] crookedneighbor commented on #3206
Sorry we never responded to this. This sounds like sync error. If you're still having issues, there's advice how to deal with it in this issue: https://github.com/HabitRPG/habitrpg/issues/4313

[2015-07-19 00:52] #3206 closed, assigned to nobody

[2015-07-19 00:53] crookedneighbor commented on #3200
@paglias Did this ever get fixed? Or was this v1 of the api?

[2015-07-19 00:54] crookedneighbor commented on #3231
@dburt Sorry this happened to you. The site has gone through several code revisions since you opened this issue, so I'm going to close this issue. If you're still having trouble, please reopen it.

[2015-07-19 00:54] #3231 closed, assigned to nobody

[2015-07-19 00:54] #2504 closed, assigned to nobody

[2015-07-19 00:55] crookedneighbor commented on #2924
Closed with #3237

[2015-07-19 00:55] #2924 closed, assigned to nobody

[2015-07-19 00:55] crookedneighbor commented on #3259
Very late to this, but I think this is a great idea.

[2015-07-19 00:57] crookedneighbor commented on #3300
Closing this, as I think the site's interface has changed since this was originally posted.

@deilann If you have time, I'd be interested in having you post an issue with a checklist for possible accessibility settings to add.

[2015-07-19 00:57] #3300 closed, assigned to nobody

[2015-07-19 00:57] crookedneighbor commented on #3258
@adalina  Sorry this happened to you. The site has gone through several code revisions since you opened this issue, so I'm going to close this issue. If you're still having trouble, please reopen it.

[2015-07-19 00:57] #3258 closed, assigned to nobody

[2015-07-19 00:58] crookedneighbor commented on #3239
Closed with #3186

[2015-07-19 00:58] #3239 closed, assigned to nobody

[2015-07-19 00:58] crookedneighbor commented on #3305
If this is still a desired integration, please post the info on our Trello board.

[2015-07-19 00:58] #3305 closed, assigned to nobody

[2015-07-19 00:59] #3251 closed, assigned to nobody

[2015-07-19 01:00] #3376 closed, assigned to nobody

[2015-07-19 01:01] crookedneighbor commented on #3376
The site site has gone through some cosmetic changes since this was opened. Feel free to reopen this issue if you have thoughts about the current design.

[2015-07-19 01:01] crookedneighbor commented on #3361
Closing this as it's pretty stale and I believe the error message was coincidental to the password change.

[2015-07-19 01:01] #3361 closed, assigned to nobody

[2015-07-19 01:02] crookedneighbor commented on #3235
The server should (now?) sort this out.

[2015-07-19 01:02] #3235 closed, assigned to nobody

[2015-07-19 01:04] crookedneighbor commented on #3405
@dinosw Thanks for your feedback on this. Sorry it took so long to respond (over a year, yikes!). If this is still desired, please [post about it on our trello board](https://trello.com/c/odmhIqyW/440-read-first-how-to-request-a-feature-table-of-contents)

[2015-07-19 01:04] #3405 closed, assigned to nobody

[2015-07-19 01:05] #3436 closed, assigned to nobody

[2015-07-19 01:06] crookedneighbor commented on #3488
If this is still an issue, please reopen it.

[2015-07-19 01:06] crookedneighbor commented on #3472
I don't believe this is an issue anymore. Sorry it took so long to respond.

[2015-07-19 01:06] #3472 closed, assigned to nobody

[2015-07-19 01:07] crookedneighbor commented on #3469
The site has gone through many revisions since this was opened, so I'm closing this. If you're still having issues, please reopen it.

[2015-07-19 01:07] #3469 closed, assigned to nobody

[2015-07-19 01:08] crookedneighbor commented on #3564
Sorry this took so long for us to respond. The code for this has been updated since you opened the issue. Please reopen if you're still having issues.

[2015-07-19 01:08] #3564 closed, assigned to nobody

[2015-07-19 01:09] crookedneighbor commented on #3517
I'm :+1: on this.

[2015-07-19 01:10] crookedneighbor commented on #3523
Closing this as an edge case that doesn't need to be worked on imminently.

[2015-07-19 01:10] #3523 closed, assigned to nobody

[2015-07-19 01:11] crookedneighbor commented on #3570
@vIiRuS Haha. You were just having this issue again, right?

[2015-07-19 01:11] #3570 closed, assigned to nobody

[2015-07-19 01:11] Alys commented on #3051
The number of Perfect Days also affects drop chances.

I'm in two minds about this. It would be nice to add a perfect day when you legitimately lose one, but it is open to abuse, although we don't normally worry about that. It's possible to get Perfect Day achievements (albeit much more slowly) by just spamming Dailies.

Sort of related, you can also get challenge achievements by creating your own

[2015-07-19 01:15] #3607 closed, assigned to nobody

[2015-07-19 01:21] Alys commented on #3138
The invite process is being redesigned by Lemoness and she'll create trello cards/issues for her changes, so I'm closing this.

Pinging lemoness in case there's anything here to be considered.

[2015-07-19 01:21] #3138 closed, assigned to deilann

[2015-07-19 01:21] crookedneighbor commented on #3571
One way to do this would be to have separate translatable strings for "potato" and "a potato"

[2015-07-19 01:22] crookedneighbor commented on #3665
This is a stale issue, so I'm closing it. If you're still having issues, please reopen it.

[2015-07-19 01:22] #3665 closed, assigned to nobody

[2015-07-19 01:24] #3183 closed, assigned to nobody

[2015-07-19 01:24] #2742 closed, assigned to SabreCat

[2015-07-19 01:24] Alys commented on #3488
The code for the emoji and markdown conversion is at https://github.com/HabitRPG/habitrpg/blob/dc2fab14d01161aeff17dbc3e6c985226ee22f3e/common/script/public/directives.js#L29-L31

[code]

Note that moving the two emoji lines above the marked line does not improve the situation. No one should be foolish enough to try that. `cough` It produces this:
![screen shot 2015-07-19 at 11 15 14 am](https://c

[2015-07-19 01:25] crookedneighbor commented on #3696
I haven't seen this behavior, so I'm going to close this issue as it is quite old. If it's still occurring, please reopen.

[2015-07-19 01:25] #3696 closed, assigned to nobody

[2015-07-19 01:26] crookedneighbor commented on #3721
Closed per Aly's point.

[2015-07-19 01:26] #3721 closed, assigned to nobody

[2015-07-19 01:26] crookedneighbor commented on #3774
I agree that the emoji are too small.

[2015-07-19 01:27] crookedneighbor commented on #3782
I don't think these are issues anymore. Closing.

[2015-07-19 01:27] #3782 closed, assigned to nobody

[2015-07-19 01:28] crookedneighbor commented on #3824
Agreed.

[2015-07-19 01:28] crookedneighbor commented on #3820
@SabreCat Does anyone use the close/menu button? I kind of hate it.

[2015-07-19 01:29] crookedneighbor commented on #3882
I believe this is fixed. Please reopen if it is not.

[2015-07-19 01:29] #3882 closed, assigned to nobody

[2015-07-19 01:29] Alys commented on #3977
Confirmed in Firefox (following the steps from gjoyner's comment).

[2015-07-19 01:31] Alys commented on #3971
Having preferences stored in cookies would be a relatively large change from our current system of storing all preferences in the user object. I haven't seen any other requests for this, and the notification sounds have a mute button now in the header, so I'm closing this. If it's still desired, it's best suggested at Help -> Request a Feature.

[2015-07-19 01:31] #3971 closed, assigned to nobody

[2015-07-19 01:32] crookedneighbor commented on #3888
@AshtonSanders Sorry it took so long for anyone to respond to you.

The site has undergone a few revisions since the kickstarter release. @lemoness @veeeeeee @Alys Any idea what these quests would have been?

[2015-07-19 01:35] crookedneighbor commented on #2530
@lemoness Is this still desired? (I assume so) Want to add it to our trello?

[2015-07-19 01:35] Alys commented on #3909
Current situation is that if you sign up with Facebook, you can then add email, username, and password. You can't do the opposite.

I like paglias's idea of checking the email address of a new Facebook signup and merging it with an existing account, but I think it should be optional - the user is told that email address has an account and can choose whether to merge or create a new one. You might

[2015-07-19 01:35] #3932 closed, assigned to nobody

[2015-07-19 01:35] crookedneighbor commented on #3881
Closing this as a temporary issue. If you're still having trouble, reopen it.

[2015-07-19 01:35] #3881 closed, assigned to nobody

[2015-07-19 01:35] #3889 closed, assigned to nobody

[2015-07-19 01:36] crookedneighbor commented on #3953
Definitely should not return all the message :disappointed:

[2015-07-19 01:38] crookedneighbor commented on #3990
None on our end. Are you still experiencing this bug? I'm assuming it's temporary so I'm closing this issue. Repopen if that's not the case.

[2015-07-19 01:38] #3990 closed, assigned to nobody

[2015-07-19 01:39] crookedneighbor commented on #3397
This is currently being worked by replacing mounts with head only version of the mounts on the moutns page. Closing this.

[2015-07-19 01:39] #3397 closed, assigned to nobody

[2015-07-19 01:39] crookedneighbor commented on #3874
As this issue is quite stale, I'm closing it. Reopen if you still need help.

[2015-07-19 01:39] #3874 closed, assigned to nobody

[2015-07-19 01:40] crookedneighbor commented on #2672
Is this still a good idea? @Alys @gisikw @paglias?

[2015-07-19 01:40] crookedneighbor commented on #4040
I would love this.

[2015-07-19 01:41] crookedneighbor commented on #4054
I am for this, but I'd like to explore some other options for js linting.

[2015-07-19 01:43] crookedneighbor commented on #4063
I don't think this is worth tweaking.

[2015-07-19 01:43] #4063 closed, assigned to nobody

[2015-07-19 01:43] #4085 closed, assigned to lefnire

[2015-07-19 01:44] #4073 closed, assigned to nobody

[2015-07-19 01:45] Alys commented on #3888
@AshtonSanders Your account shows that at one time you had these five quest scrolls and you do not have them now, however you do have achievements for all of these quests (meaning you have done them, either from your scrolls or someone else's):
- Trapper Santa
- Attack of the Mundane, Part 1: Dish Disaster!
- Egg Hunt
- The Golden Knight, Part 1: A Stern Talking-To"
- Vice, Part 3: Vice Awakens

N

[2015-07-19 01:53] Alys commented on #2947
This seems to be fixed.

[2015-07-19 01:53] #2947 closed, assigned to nobody

[2015-07-19 01:56] Alys commented on #2947
There was a commit by lefnire and others by @Verabird. We should work out who gets the bounty. Also, this was marked as a "critical".

[2015-07-19 02:02] Alys commented on #3488
In response to @crookedneighbor's comment which wasn't showing when I was looking into this, yes, the original issue still occurs.

[2015-07-19 02:15] Alys commented on #5644
For our reference, this is the filter challenges issue: https://github.com/HabitRPG/habitrpg/issues/5645

@WezCorp Can you please log in to HabitRPG from another browser (preferably one you've never used HabitRPG in before) and see if the error still happens?

[2015-07-19 02:16] crookedneighbor commented on #5645
Hmmm... that's a curious error. I wonder if there's something about a guild you're in that's mucking up the filter.

[2015-07-19 02:16] Alys commented on #5645
Could be related to #5644 (I asked WezCorp to log the issues separately, but he's right that the errors are the same). I'm troubleshooting in that other issue.

[2015-07-19 02:18] Alys commented on #5644
If that doesn't help as a temporary measure, please show us a screenshot of your guilds page so that we can see what guilds you're in.

Note to devs: he's not a joined member of the `habitrpg` Tavern guild.

[2015-07-19 02:18] crookedneighbor commented on #5644
@Alys since the error is habitrpg as a property, my guess is it's [related to chat notifications for the tavern](https://github.com/HabitRPG/habitrpg/blob/develop/website/public/js/services/chatServices.js#L26) (since it's id is habitrpg). Though, I did a look up for the guilds that @WezCorp is in and did not see the tavern as one of them.

[2015-07-19 02:18] crookedneighbor commented on #5644
Beat me to it.

[2015-07-19 02:21] crookedneighbor commented on #4079
I believe @gisikw fixed this. New Relic interacting with node was causing the memory leak

[2015-07-19 02:21] #4079 closed, assigned to nobody

[2015-07-19 03:03] tog22 commented on #3008
Yeh, not having issues any more

[2015-07-19 03:03] crookedneighbor commented on #3008
Awesome, thanks for reporting back!

[2015-07-19 03:24] WezCorp commented on #5644
So I tried using Safari and couldn't even log on - but I've used Safari before. Chrome mobile also had the same error. I downloaded Firefox and still the same errors there.
Should I join the tavern guild?
Also here's the guilds I am currently in -
The Scholars
Life Hackers
Challenge... Accepted?
The Health Nuts
The Overachievers
Duolinguists of Habitica
📜 Library of Shared Lists (Currently being o

[2015-07-19 03:39] Alys commented on #5644
Thanks for the details!

Don't join the Tavern guild. I mentioned it as one possible source of a problem.

[2015-07-19 03:51] WezCorp commented on #5644
I found the problem out a few weeks ago when I tried to leave the Fighter's Guild (which I forgot to put on it's own line above, and only joined to find a challenge that was stuck in my 'done' to do list - separate issue which I did a work around for).
I thought it was just because I hadn't updated my chrome, and didn't worry about it for a while.
Also the bottom 2 guild (Learning French and WezCo

[2015-07-19 05:20] katiegoodwin opened #5646 "Orca mounts interacting weirdly with mermaid tails"
![orca-mount-issue](https://cloud.githubusercontent.com/assets/1459849/8764594/961cac52-2db2-11e5-8ada-b3500434c1e3.gif)

When a user is wearing one of the seasonal mermaid tails (from either 2014 or 2015) and riding the Orca mount, a bright out-of-place pixel can be seen on the Orca's fin. A very trivial problem, but it's been bugging my party!
## <bountysource-plugin>

Want to back this issue? *

[2015-07-19 07:41] dinosw commented on #3405
No matter what, that Yikes comment made my day ;-)

On Sun, Jul 19, 2015, 03:05 Blade Barringer notifications@github.com
wrote:

[2015-07-19 12:20] Alys commented on #5644
@WezCorp Could you please go to the [challenges page](https://habitrpg.com/#/options/groups/challenges), and on the left-hand side, ensure that all of the groups are ticked (they should be by default), then select "participating" in the Membership section. Please then take as many screenshots as necessary to show us all of the challenge titles (no need to show us any other details of the challenge

[2015-07-19 12:27] Alys commented on #5644
for our reference: WezCorp's challenges object contains 23 challenges that no longer exist. I'm wondering if that's causing the problem. I'll clear them out after I've compared what I'm seeing in the database with the screenshots.

[2015-07-19 18:44] thebat137 commented on #3262
Yeah, I should've mentioned, I eventually concluded that mine was a variation on the cron bug, as Alys says.  I began taking steps to be more careful about my cron and haven't had anything like this happen in a long time.

[2015-07-19 20:08] WezCorp commented on #5644
So in the challenges screen, there's no place I can actually tick - the guild filter isn't there at all to select which guild's challenges I want to see or not.
I think maybe it might have something to do with the 23 challenges thing - the first time I checked the java errors there were 23. Coincidence?

[2015-07-19 20:28] WezCorp commented on #5644
![2015-07-20 06 20 23 1](https://cloud.githubusercontent.com/assets/13398985/8767699/7416e162-2ea8-11e5-9ee0-0720e0def3b4.jpg)

[2015-07-19 20:30] WezCorp commented on #5644
It could be because of my guild - WezCorps guild. I created it to create 100 challenges for myself over the year, but because of the todo list known bug it was throwing stuff around all the time, so I left them all and consolidated them in my to do list - not as challenges

[2015-07-19 22:18] Alys commented on #5644
@WezCorp Can you please take screenshots of the whole [challenges page](https://habitrpg.com/#/options/groups/challenges)? I'd like to see everything on it in context. First please go to Settings -> Site and untick "show header" so that the screenshots can capture more of the page's content.

Please also take a screenshot of the guilds page. This doesn't need to be the whole list of guilds, just t

[2015-07-19 22:37] WezCorp commented on #5644
![picture device independent bitmap 1](https://cloud.githubusercontent.com/assets/13398985/8768185/51de4cf4-2eba-11e5-9580-836df0c17974.jpg)
So unfortunately my workplace uses the oldest version of IE available so it has always shown a bit funny - but this is similar to what I see in chrome anyways

[2015-07-19 22:42] lemoness commented on #3051
Personally, I'm leaning towards making it possible. If they really want to
incorrectly give themselves a perfect day achievement, they could have just
checked off all their Dailies in the first place. However, it's not a super
high-priority need.

On Sat, Jul 18, 2015 at 6:11 PM, Alys notifications@github.com wrote:

[2015-07-19 22:56] lemoness commented on #3888
Trapper Santa and Egg Hunt were both awarded to people en masse due to events. It's odd that they do not have Vice Part 1, since that should have been awarded at Level 30.

[2015-07-19 22:57] lemoness commented on #3888
EDIT: Unless, of course, you were just listing the scrolls they no longer have, not all of the ones that they received.Ignore the last part of my comment.

[2015-07-19 23:01] lemoness commented on #2530
It's already on there :)

On Sat, Jul 18, 2015 at 6:35 PM, Blade Barringer notifications@github.com
wrote:

[2015-07-19 23:06] lemoness commented on #3820
I am in favor of removing it.

On Sat, Jul 18, 2015 at 6:29 PM, Blade Barringer notifications@github.com
wrote:

[2015-07-19 23:10] jitaman commented on #5451
I am having this login issue.  I've tried clearing the cache and local storage, but it still does not work.  The blue line slowly moves across the screen, but gets stuck a little bit before the end.  I am using firefox on a mac.

[2015-07-19 23:38] dburt commented on #3231
No worries. It's only once a year, even if it's still a problem, and I didn't notice it this year.

[2015-07-19 23:53] WezCorp commented on #5644
![picture device independent bitmap 1](https://cloud.githubusercontent.com/assets/13398985/8768474/22dd5fd4-2ec5-11e5-82bd-bfa9df1f1bab.jpg)

[2015-07-19 23:58] crookedneighbor commented on #5451
@jitaman Just after you reported this, we restarted the app. Are you still having trouble logging in?

[2015-07-20 00:09] #3820 closed, assigned to nobody

[2015-07-20 01:12] crookedneighbor commented on #5646
@lemoness I agree that the orca mounts could be adjusted a little. Thoughts?

[2015-07-20 02:43] jitaman commented on #5451
@crookedneighbor Yes.  This problem seems to only be on firefox for me, so I can still do my tasks on safari.

[2015-07-20 03:21] Alys commented on #5451
@jitaman Are you certain that local storage was cleared on Firefox? It requires a different process than clearing the cache. Login problems like this are often resolved by clearing local storage for the site.

[2015-07-20 04:44] ghost opened #5647 "Cannot rearrange tasks when creating or editing a challenge."
Neither clicking on the "push task to top" button nor clicking and dragging changes the order.

[2015-07-20 04:52] Alys commented on #5647
Hi @Briz24. We're tracking this issue in https://github.com/HabitRPG/habitrpg/issues/1703 and you can subscribe to notifications for it (see the right-hand column) if you wish.

[2015-07-20 04:52] #5647 closed, assigned to nobody

[2015-07-20 05:47] bean5 commented on #5018
I agree with @Alys, it appears that the console output you listed is actually from panicbutton. If it is causing things to not work, you may want to file a but report with them--I wouldn't expect their code to interfere here, so if it is, I'd say it is their code, note HabitRPG's that is at fault. That being said, the ToDo list ordering is a known bug. There are work-arounds to getting it to work,

[2015-07-20 05:54] #5018 closed, assigned to nobody

[2015-07-20 05:57] Alys commented on #5018
Thanks bean5. The extension and its bug definitely won't be having any effect on the To-Do list.

[2015-07-20 06:30] Pexpy opened #5648 "Checked and unchecked tasks still cause boss quest damage and task-based attribute training"
Just had a day where I completed a large to-do - 4 checklist items, task value -150.96. Over the course of the day I checked and unchecked it three times. Once as Medium difficulty, another as Easy, once as Medium with a 106% crit and lastly the final completed value as a Medium to-do with no crit.

After checking it three times - Medium, Easy, Medium Crit - I had an estimated 60 damage on the bos

[2015-07-20 07:33] Alys commented on #5648
Yes, this is a known problem. The code that collates boss damage from tasks doesn't subtract it when the task is unticked. I'm not sure we have an issue for it yet so I'll keep this one open. We've always considered it very low priority since it usually has little effect on total boss damage.

[2015-07-20 07:49] Alys commented on #4643
@itokro I'm sorry we never solved this. I'm closing it now because the old apps are being replaced by new ones and whatever caused the bug is unlikely to be in them.

[2015-07-20 07:49] #4643 closed, assigned to nobody

[2015-07-20 10:45] Alys commented on #4773
We think duplicate tasks have been prevented by https://github.com/HabitRPG/habitrpg/pull/4845 (which was merged in https://github.com/HabitRPG/habitrpg/commit/ca72b9a9e1e86262fcab15c7d52ae902953dc7b8) so I'm closing this. It can be reopened if I'm wrong.

[2015-07-20 10:45] #4773 closed, assigned to nobody

[2015-07-20 10:45] Alys commented on #2456
We think duplicate tasks have been prevented by https://github.com/HabitRPG/habitrpg/pull/4845 (which was merged in https://github.com/HabitRPG/habitrpg/commit/ca72b9a9e1e86262fcab15c7d52ae902953dc7b8) so I'm closing this. It can be reopened if I'm wrong.

[2015-07-20 10:45] #2456 closed, assigned to nobody

[2015-07-20 10:46] Alys commented on #4554
We think duplicate tasks have been prevented by https://github.com/HabitRPG/habitrpg/pull/4845 (which was merged in https://github.com/HabitRPG/habitrpg/commit/ca72b9a9e1e86262fcab15c7d52ae902953dc7b8).

I am hoping that the other problems reported here were once-off glitches that won't happen again.

I'm closing this but can be reopened if I'm wrong.

[2015-07-20 10:46] #4554 closed, assigned to nobody

[2015-07-20 10:48] Alys commented on #4064
Was this fixed by https://github.com/HabitRPG/habitrpg/pull/4845 (which was merged in https://github.com/HabitRPG/habitrpg/commit/ca72b9a9e1e86262fcab15c7d52ae902953dc7b8)?

[2015-07-20 10:50] Alys commented on #4905
We think duplicate tasks have been prevented by https://github.com/HabitRPG/habitrpg/pull/4845 (which was merged in https://github.com/HabitRPG/habitrpg/commit/ca72b9a9e1e86262fcab15c7d52ae902953dc7b8).

The other bugs mentioned here are being tracked in other issues.

I'm closing this but can be reopened if I'm wrong.

[2015-07-20 10:50] #4905 closed, assigned to nobody

[2015-07-20 13:28] AquelePedro opened #5649 "Accepted party invite, but Invitation doesn't disappear"
I was invited to Brasil Team party and accepted, but the invitation remains

Already left party and accepted invitation again, but it didn't make the invitation go away.
Tried that using Chrome and Firefox @ Windows and then Chrome and Firefox @ Linux, still the same result.

_edit by admin:_

**The information below will no longer work. If you can't remove a party invitation, please go to Help >

[2015-07-20 14:04] illuscat commented on #5636
This is happening for me as well.

[2015-07-20 17:31] Pexpy opened #5650 "Cron partially ran - lost streaks but no daily damage, MP or quest reward"
I had a few dailies unchecked last night; cron ran and didn't seem to work properly.

The streaks were still lost and task value dropped but none of the unchecked dailies dealt damage and I didn't regain any MP from cron.

Also, I didn't seem to get any boss rewards. I dealt the killing blow that night due to another bug I found. I got the popup and the achievement but no gold or exp. My party mem

[2015-07-20 19:34] digital-carver commented on #3080
Just to be clear, this seems to be a very different thing from what the issue originally asks for.

The feature requested was that at the beginning of any day, the user is put in the Inn automatically. Other than this, the game elements would remain exactly the same, and the user would be able to participate in all aspects of it, including taking damage and dying. The only thing prevented would be

[2015-07-20 19:39] jitaman commented on #5451
@Alys I went to Stack Overflow and found http://stackoverflow.com/questions/6084099/how-to-view-delete-local-storage-in-firefox.

I did the developer console option, and typed `localStorage.clear();`

[2015-07-20 19:52] jitaman commented on #5451
For some reason it works now??? Maybe I typed it wrong the first time....

[2015-07-20 20:27] TheHollidayInn commented on #5490
So, I have found two ways to easily do this.

The first one is to add a click event to the body/wrapper tag that will dismiss the menu when clicked.

Or, since we seem to be using the ui-bootrstrap directives, we could just change our dropdown menus to use the bootstrap dropdown directive: https://angular-ui.github.io/bootstrap/#/dropdown .

Is there a preference?

[2015-07-20 21:45] Alys commented on #3080
We are currently planning a feature very similar to what you describe.

[2015-07-20 21:54] Alys commented on #5490
@TheHollidayInn So that change would allow the menu to close when you clicked outside the menu? As dailann says, that's not necessarily desirable.

@lemoness @AnitaYCheng We should probably work out exactly what behaviour we need for the menus for accessibility and usability.

I recommend that no PRs are submitted until that's done.

[2015-07-20 22:23] Alys commented on #5649
We'll need your user ID to help with this. If you don't know how to get your User ID, go to Help -> Report a Bug and see step 6.

[2015-07-20 22:27] TheHollidayInn commented on #5490
@alys Ah, I misunderstood. I will wait for further discussion then.

[2015-07-20 23:07] harrislapiroff opened #5651 "Resting at the Inn quick check out"
Currently when you're resting at the inn you see a warning on your tasks page like this:

![screenshot 2015-07-20 19 03 18](https://cloud.githubusercontent.com/assets/296631/8789606/2f32a9fe-2f12-11e5-90ac-f8457db4f7ca.png)

The functionality of resting at the inn is kind of tucked away and hard to find (under the Social dropdown on the Tavern view, with no menu item mentioning the Inn at all), wh

[2015-07-20 23:12] Alys commented on #5651
This is really more of a feature request than a bug report, so it should in theory go under Help -> Request a Feature, however I've thought exactly the same thing myself often lately and this should be an easy-ish fix.

@lemoness Is it okay if we do this? It should be suitable for a mid-level contributor so I can advertise it in the Aspiring Coders guild.

[2015-07-20 23:15] harrislapiroff commented on #5651
Apologies for misfiling. I'm still figuring my way around the wonderful world of contributing to HabitRPG. :) Thanks for looking at it anyway!

[2015-07-21 02:45] SpenserJ commented on #4890
This can probably be closed after four months with no response from @Vstorey21.

[2015-07-21 02:46] SpenserJ commented on #4916
This can probably be closed after four months with no reply from @carolab and @neverasuspect.

[2015-07-21 02:47] SpenserJ commented on #4899
This can probably be closed after four months with no reply from @snouz

[2015-07-21 02:51] SpenserJ commented on #4885
Scanning through old tickets for the Aspiring Coders Guild challenge, and this can be closed.

[2015-07-21 02:55] SpenserJ commented on #4844
Duplicate of #4313 and safe to close out.

[2015-07-21 02:57] SpenserJ commented on #4843
I agree that it makes more sense to leave it as the standard markdown behavior. If it is a persistent issue that comes up, another solution would be some code that scans the checklists to see if they're formatted as `1. ___`, `2. ___`, etc and either notifies the user or automatically escapes it. In the mean time, this is probably safe to close.

[2015-07-21 03:00] SpenserJ commented on #4828
I think this is safe to close since it has been four months since @berriganator had the issue.

[2015-07-21 03:02] SpenserJ commented on #4810
This might be worth closing off after four months without a reply from @MilaFairy.

[2015-07-21 03:04] SpenserJ commented on #4808
This can be closed now, thanks to @TheHollidayInn's changes in #4998

[2015-07-21 03:07] SpenserJ commented on #2084
This can be closed as a duplicate of #4618, which is still being worked on.

[2015-07-21 03:09] SpenserJ commented on #4803
This can be closed as a duplicate of #4618, and the T-rex specific issue seems to have been fixed in 7c5b2457be111c99259a6f776cda37dea63acc47

[2015-07-21 04:58] AshtonSanders commented on #3888
Thanks for all the responses guys. I had totally forgotten about it, and I have a bunch of quests now, so no worries. Thanks for looking into it.

[2015-07-21 04:58] #3888 closed, assigned to nobody

[2015-07-21 08:39] berriganator commented on #4828
I do keep having the issue, but have just been dealing with it. Thanks!
On Jul 21, 2015 5:00 AM, "Spenser Jones" notifications@github.com wrote:

[2015-07-21 08:41] Alys commented on #4828
Then we won't close this. It should be fixed. Thanks for replying @berriganator and I'm sorry we haven't fixed it yet.

[2015-07-21 08:43] Alys commented on #4828
However, the first thing I would like you to try is turning off all extensions, as described above, then log out of HabitRPG, log in, and if it still happens, log out and log in again.

Alternatively, try using HabitRPG in another browser (one that doesn't have the extensions in it) - log in to HabitRPG, see if the problem occurs, and if it does, log out then log back in and see if it happens agai

[2015-07-21 10:40] berriganator commented on #4828
I have isolated the problem, and it seems pretty specific: all the old
alerts appear only after restarting Firefox for Mac 39.0 when I was logged
in to HabitRPG when the browser was closed. Because I rarely log out of
HabitRPG before closing the browser, I see it all the time.

_Problem persists in Firefox for Mac 39.0 when_
- Logged in to HabitRPG when browser is closed, browser is restarted, log

[2015-07-21 10:49] Alys commented on #4828
If at all possible, please try to use HabitRPG on only Google Chrome for a couple of days. Don't log out of HabitRPG any more than you normally would - just use it exactly as normal but in Chrome instead of Firefox. After a couple of days, please tell us if the problem occurs at all in Chrome.

After that we can look at what's causing it on your preferred browser.

[2015-07-21 11:01] berriganator commented on #4828
Ok I will try to do that and see if it persists in Chrome.

On Tue, Jul 21, 2015 at 12:49 PM, Alys notifications@github.com wrote:

[2015-07-21 12:22] AquelePedro commented on #5649
Here it is:

4e3e2f5f-42b8-4aef-9059-8c8c07cd2a1b

[2015-07-21 12:53] #4803 closed, assigned to nobody

[2015-07-21 12:53] #2084 closed, assigned to nobody

[2015-07-21 12:54] #4808 closed, assigned to nobody

[2015-07-21 12:55] crookedneighbor commented on #4890
@Vstorey21 I'm closing this now, but if you're still having issues, please re-open it.

[2015-07-21 12:55] #4890 closed, assigned to nobody

[2015-07-21 12:56] crookedneighbor commented on #4916
@neverasuspect I'm closing this now, but if you're still having issues, please reopen it.

[2015-07-21 12:56] #4916 closed, assigned to nobody

[2015-07-21 12:57] crookedneighbor commented on #4899
@snouz I'm closing this now, but if you're still having issues, please reopen it.

[2015-07-21 12:57] #4899 closed, assigned to nobody

[2015-07-21 12:58] #4885 closed, assigned to nobody

[2015-07-21 12:59] #4844 closed, assigned to nobody

[2015-07-21 13:02] crookedneighbor commented on #4843
You can also format your checklists like this:

And that will render as expected. It's just the `#.` syntax that markdown overrides.

[2015-07-21 13:02] #4843 closed, assigned to nobody

[2015-07-21 13:03] crookedneighbor commented on #4810
@MilaFairy I'm closing this now, but if you're still having issues, please reopen it.

[2015-07-21 13:03] #4810 closed, assigned to nobody

[2015-07-21 16:47] SpenserJ commented on #3975
@adam-arold If you're still having this issue, and it _isn't_ a duplicate on #1963, please let us know. Otherwise I think this is safe to close.

[2015-07-21 20:04] SpenserJ commented on #5649
Does this go hand-in-hand with active members still appearing in the invite list?
![Glitchy member list](https://cloud.githubusercontent.com/assets/90011/8811091/a60c4190-2fb0-11e5-9a7c-76499c5bb18c.png)
Sammy7131 (highlighting is mine) appears in both the invited and member list of my party, and I've had a few other users appear this way. When I removed an inactive member (also in the invite list

[2015-07-21 20:41] Pfeil commented on #3975
Well, the issue on my screenshot seems to be fixed. Works fine for me.

[2015-07-21 21:01] melissab603 opened #5652 "HabitRPG App crashes on Open"
I have a Samsung Galaxy S4 Active (Android Phone) and the HabitRPG app crashes every time I open it. It sometimes crashes when the phone starts up as well. I have "reported" the issue, but not sure how to put that information here.

[2015-07-21 21:14] SpenserJ commented on #5652
I'd suggest starting by clearing the application's cache, and if that doesn't work, the application data as well. You can find instructions on how to do so at [AndroidCentral](http://www.androidcentral.com/android-201-how-and-when-clear-app-cache-or-data).

If that doesn't fix it, please post the version of Android that you're running ([instructions](http://support.bell.ca/Mobility/Smartphones_and

[2015-07-21 21:23] melissab603 commented on #5652
Thanks!

[2015-07-21 21:23] #5652 closed, assigned to nobody

[2015-07-21 21:47] Alys commented on #5649
@Tsvet I've removed the invitation from your account. Please tell us if that hasn't fixed the problem. Do you know if the invitation was sent by specifying your email address or your user ID?

@SpenserJ Yes, that probably is related. Did you send the invitation to Sammy7131? Do you recall if it was by email or ID? In Sammy7131's account, there is still an active invitation so I would be interested

[2015-07-21 22:17] SpenserJ commented on #5649
@Alys I invited Sammy7131 via ID, and it was the same for the other users who appeared in both lists (sadly I didn't write down their names). I'll keep an eye out for this happening again, and try to reproduce it locally. I'm not seeing anything in the code ([website/src/controllers/groups.js - Line 434-483](https://github.com/HabitRPG/habitrpg/blob/7223eeb6815c056a76532726318037688cf8b791/website

[2015-07-21 23:46] lemoness commented on #5615
We are currently rewriting the Android app from scratch, so I am going to go ahead and close this ticket, since we are only updating the old app for critical bugs. If there's still a problem after the new app is launched, we can file a new one in the correct repo.

[2015-07-21 23:46] #5615 closed, assigned to nobody

[2015-07-21 23:47] lemoness commented on #4936
I think that looks very good for the interim!

On Fri, Jul 17, 2015 at 9:49 PM, hairlessbear notifications@github.com
wrote:

[2015-07-21 23:52] lemoness commented on #5631
Quick confirmation that bellow is indeed intentional.

On Fri, Jul 17, 2015 at 11:53 AM, hairlessbear notifications@github.com
wrote:

[2015-07-22 00:10] crookedneighbor commented on #4936
Could also do something like this:

![screen shot 2015-07-21 at 7 10 31 pm](https://cloud.githubusercontent.com/assets/2916945/8815263/34cd286a-2fdc-11e5-887d-8835e009692c.png)

[2015-07-22 00:14] SabreCat commented on #4936
Ooh, nice. Something like that might not be bad even when we have images.

[2015-07-22 01:38] lemoness commented on #5646
This is a pretty easy fix from an art perspective - just requires adding a
line of pixels. Not high on my priority list, but I will add it to my
To-Dos. If someone would prefer to adjust it with CSS before I get to it,
go ahead!

On Sun, Jul 19, 2015 at 6:12 PM, Blade Barringer notifications@github.com
wrote:

[2015-07-22 01:45] lemoness commented on #4936
Hear, hear!

On Tue, Jul 21, 2015 at 5:14 PM, Sabe Jones notifications@github.com
wrote:

[2015-07-22 01:50] lemoness commented on #5651
I think this is a good idea!

On Mon, Jul 20, 2015 at 4:15 PM, Harris L. notifications@github.com wrote:

[2015-07-22 02:20] Alys commented on #5651
@harrislapiroff You mentioned contributing... are you interested in getting into coding for Habitica? If so, do you want to work on this? We can help if you find you need advice or direction.

Otherwise we can advertise this in the Aspiring Coders guild, so don't feel you need to work on it! :)

[2015-07-22 04:15] harrislapiroff commented on #5651
I am interested in coding, but I'm not going to have much free time until mid August. I'd be happy to take this up then or seek out a different task when the time comes. Either way! :)

[2015-07-22 11:03] Alys commented on #4936
Placeholder images submitted: https://github.com/HabitRPG/habitrpg/commit/02cccb01ef1ade15b4eba816148314726e2efb30
I've updated the first post in this thread with the names of the files to overwrite when artwork is available. I expect we'll have a better solution before the next collection quest is released, but if not, a dummy collection quest image can be created by copying common/img/sprites/sp

[2015-07-22 11:18] mlordelo opened #5654 "Crossbow - Error processing the string"
Basic Crossbow item show "Error processing the string. Please see Help > Report a bug" in mouse over .

User ID: b61e2b46-fb3e-48ec-afed-96051f8df93b

Javascript error:
https://platform.twitter.com/widgets.js Failed to load resource: net::ERR_TUNNEL_CONNECTION_FAILED
https://s-static.ak.facebook.com/connect/xd_arbiter/X9pYjJn4xhW.js?version=41#channel=f3bb0bbe9&origin=https%3A%2F%2Fhabitrpg.com Fa

[2015-07-22 12:04] Alys commented on #5465
For the **pt** language, the Basic Crossbow shows this error in its mouse-over text.

[2015-07-22 12:05] Alys commented on #5654
Thanks @mlordelo. I've copied your bug report to this issue: https://github.com/HabitRPG/habitrpg/issues/5465 (see the final comment).

[2015-07-22 12:05] #5654 closed, assigned to nobody

[2015-07-22 12:21] Yvaine8 commented on #5651
I would love to work on this. It will be my first try, though, so it might take me a while, but since it's not urgent and doesn't seem too difficult, I think I can try (if @harrislapiroff doesn't mind)  :)

[2015-07-22 12:48] crookedneighbor commented on #5654
I've fixed the error in the translation. Will deploy shortly.

[2015-07-22 13:04] #3975 closed, assigned to nobody

[2015-07-22 14:28] Jazzis18 commented on #5465
This message appears when I hover mouse at item Soothsayer Robes (Мантия Предсказателя) in Item Store:
![2015-07-22_192716](https://cloud.githubusercontent.com/assets/4019829/8827716/b14e60d6-30a7-11e5-84ab-8349aa7af528.png)

[2015-07-22 15:13] tinytito commented on #5478
I have started having this problem as well. The error persists after page refresh and closing/reopening browser. It seems only the "challenges" page is affected, the rest of the site is working fine for me.

[2015-07-22 15:33] alexiabowers opened #5655 "Unable to pay via Amazon Payments"
I tried to pay for my subscription via Amazon Payments, and got the attached error:
![screenshot 2015-07-22 11 30 05](https://cloud.githubusercontent.com/assets/4634418/8829561/4863b2e8-3065-11e5-9ab1-9c63efbb1375.png)

[2015-07-22 16:14] Naerriel opened #5656 "To do list - consecutive numbers displayed as "1.""
Every time I create a To Do list and I use numbers to order my actions and number sections, after editing every one of them is displayed as "1".
How does it look like:
![habitrpgbug](https://cloud.githubusercontent.com/assets/13454526/8830554/137860b4-309d-11e5-8bb9-be80573d9977.jpg)
![habitrpgbug2](https://cloud.githubusercontent.com/assets/13454526/8830558/19cc30bc-309d-11e5-8880-c20bbb0ee5f2.jp

[2015-07-22 17:03] SpenserJ commented on #5656
This is due to the fact that Markdown is used to format all of the messages. It views `1.` as the start of a list, and turns each of your numbered items into its own list. You can use `1) Task Title` or escape it (`1\. Task Title`) to get the functionality you expect.

There is a wiki article at http://habitrpg.wikia.com/wiki/Markdown_Cheat_Sheet if you want more information on this.

This is a du

[2015-07-22 18:21] Naerriel commented on #5656
I see! Sorry for bothering you!
I am very thankful you have told me that.

2015-07-22 19:03 GMT+02:00 Spenser Jones notifications@github.com:

[2015-07-22 18:30] SpenserJ commented on #5656
No problem @Naerriel.

[2015-07-22 19:16] proxforge opened #5657 "Subscription went away"
User-ID: 7374977d-317f-4764-9234-31c870977c48
I bought premium a few days ago, now its gone?

[2015-07-22 19:18] proxforge commented on #5657
I did a gift-option for 1 month via paypal, than I had the premium options. Then I bought 1GEM with 20Gold .. ehmm than I did not look very often into habitrpg for 1-2 days. Now I looked today, and the premium-options and things are gone... :)

[2015-07-22 20:54] #5656 closed, assigned to nobody

[2015-07-22 21:22] Alys commented on #5655
@alexiabowers I'm very sorry about this! Amazon are asking us for information about HabitRPG (which we believe we already gave them early in the process of setting up an integration with them!) and until we provide it, they've suspended the ability to make payments through them. redphoenix (@veeeeeee) is negotiating with them about this, and hopefully it won't be long now until it's fixed.

The ot

[2015-07-22 21:34] alexiabowers commented on #5655
It didn't stop me from subscribing, I just went the direct credit card route. But I wanted to log the bug to make sure you knew about it.

[2015-07-22 21:35] Alys commented on #5657
Sorry about that! I've confirmed that there's no active subscription on your account and I've given you a refund of the $5 payment you made a couple of days ago, although it might take a few days for PayPal to credit the amount to your account.

Please try again (if you'd like to!) and comment here if it's happens again. I think it should be okay next time though. I've cleared out old subscription

[2015-07-22 21:35] #5657 closed, assigned to nobody

[2015-07-22 21:37] Alys commented on #5655
:heart: :heart: Thank you for subscribing and for taking the time to tell us!

[2015-07-22 22:46] #5135 closed, assigned to nobody

[2015-07-22 23:02] #4772 closed, assigned to nobody

[2015-07-23 00:51] veeeeeee commented on #5655
I've pinged my contact at Amazon again to see if he's made any progress in figuring out what's going on. Thanks for letting us know and for the support!

[2015-07-23 01:12] lawlietbeyond13 opened #5658 "No challenges yet?"
I put in a couple challenges for my guild and nothing pops up on the guild screen.

[2015-07-23 02:16] nataliechan commented on #3324
If we do just not show rows if the user doesn't have any of them, does anyone think that'll be confusing for users if they see a Quest Pets heading then nothing underneath? (e.g. no paws at all)

I realize this hasn't been touched in a whileand isn't high priority at all, but I think I"ll take a poke at it at the very least just as a refresher of how git works and how whatever languages are releva

[2015-07-23 02:25] SpenserJ commented on #5658
@lawlietbeyond13 Can you post both your user ID (First box on https://habitrpg.com/#/options/settings/api) and Guild ID (top left of your guild page) so that the developers can look this up?

[2015-07-23 02:32] Alys commented on #3324
@scribblypanda You could well be correct about it being confusing, so perhaps we can include a brief sentence that appears under the Quest Pets heading when no rows are displayed. If that ends up being complicated for a first submission, it could be done in a second stage.

You're welcome to work on this! Comment here if you'd like advice about it, or if you have partially working code, you can su

[2015-07-23 08:17] JenniferNeff commented on #5624
I'm actually seeing a similar effect. I know for a fact that I've only collected four equipment items from the Armoire, and after refreshing my browser, I do see them, and only those:
![armoire gear](https://cloud.githubusercontent.com/assets/8341199/8845802/c318b2ba-30d6-11e5-95ae-cde66e105555.png)

Shortly after I got the last of those (the Rancher Robes) I briefly saw the message that the Armoi

[2015-07-23 08:32] Alys commented on #5624
I've confirmed that @JenniferNeff has only these four Armoire items:

[code]

The content.coffee script still specifies 14 Armoire items, so yes, there should be 10 more things.

@JenniferNeff Note that when an item is put in the Armoire, it's there permanently (until you buy it), so even if we don't get this sorted out until August (unlikely!), you'll still be able to get all the items. Armoire i

[2015-07-23 08:46] Alys commented on #5624
My initial suspicion is that `flags.armoireEmpty` is being set to true too early. I'm about to do tests on my account for that.

I've set JenniferNeff's armoireEmpty flag to false, which will probably let her get at least one more item.

@JenniferNeff could you please reload HabitRPG and see if the Armoire now has 10 items in it?

[2015-07-23 08:49] JenniferNeff commented on #5624
Thanks! I actually clicked the Armoire again, for science, before I saw your message, and it gave me the Soothing Lunar Crown. So it says 9 items, but that's correct.

[2015-07-23 09:01] Alys commented on #5624
Thanks @JenniferNeff! You'll probably find that if you reload the site, it will go back to appearing empty, but it's likely that we'll fix this properly in a day or two.

On my own account, I deleted all but three armoire items (`$unset` rather than `$set` to `false`) and I set `flags.armoireEmpty` to `false`. I was then able to buy Armoire items as expected. After I bought five with no problems (

[2015-07-23 09:13] Alys commented on #5624
Sorry, more testing shows that's a bit wrong.

If you have items left in the Armoire and flags.armoireEmpty is false, you can buy an item from the Armoire. As soon as you do, flags.armoireEmpty becomes set to true, even when you don't have all the items. However you can still keep buying items until you reload the page, because the flag doesn't affect the behaviour of the Armoire until the reload

[2015-07-23 09:34] Alys commented on #5624
Rollback completed. This bug won't hit any players who haven't already been hit by it.

However, for those that have, they'll keep on seeing that the Armoire is empty when it's not, until flags.armoireEmpty is set to false for them (something a database admin can do easily once we have their UUIDs).

So to fix this for all affected players, we're going to have to run a migration over all users to

[2015-07-23 11:29] Alys commented on #5650
@Feragore The Dailies not resetting will be this bug: https://github.com/HabitRPG/habitrpg/issues/4313. There's an Advice section near the top that might help.

For the XP and GP that you should have received from the quest, you can get it by using Fix Character Values.

Boss damage is done when you tick off a task. It is not undone when you untick the task. That explains the excessive boss damage

[2015-07-23 11:50] steeeve commented on #5497
Fixed it by loading up the console and reseting my broken tour flags:

[code]

[2015-07-23 13:07] harrysalzman opened #5659 "Got wrong message for item lost upon death"
When I died, I got the message that my "Scimitar" broke, but it's a Kukri that's showing up as re-purchaseable in the store.

User ID is e1255e0c-1c80-456c-87d3-fae3006d7161

Using Firefox 39.0 and Windows 7 Enterprise.

[2015-07-23 13:10] Alys commented on #5659
How long ago was this? Please tell us in terms of a number of minutes or hours in the past, rather than a specific time because timezones make specific times hard to deal with.

[2015-07-23 13:11] Alys commented on #5659
The reason I'm asking is that we had a code change very recently and then another one after that, and I'm hoping to pin down exactly which pieces of code were on the site when this happened.

[2015-07-23 13:14] harrysalzman opened #5660 "Death followed by quest completion = no XP or gold rewards"
My party was running "Vice Awakens", and when the cron rolled over, I apparently took enough damage to die. Four hours later (going by the Party chat timestamps), my party defeated the dragon.

As a result, when I logged on this morning, I got a "You died" message, followed by a "Quest successful" message - but I did not get any of the XP or gold rewards for this quest, presumably because my death

[2015-07-23 13:17] crookedneighbor commented on #5660
@harrysalzman If you feel that death was unfair, you can grant yourself the xp and gold with the "Fix Character Values" button in settings > site. Everything else (achievement and quest awards) should have been awarded correctly.

[2015-07-23 13:17] #5660 closed, assigned to nobody

[2015-07-23 13:45] crookedneighbor commented on #5624
Redeploying the refactor code, but am using the old version of the armoire count code (should never have sent that out as part of a refactor deploy anyway).

@JenniferNeff please respond if you encounter the bug again.

[2015-07-23 14:07] harrysalzman commented on #5660
Thank you for the info.

[2015-07-23 14:17] SabreCat commented on #5624
Note to anyone else who ran into this: some of what @Alys mentioned above implies that you won't be able to get more Armoire equipment, but thankfully that's not the case. The Armoire will look empty, but if you go ahead and use the Armoire again, you can still find equipment.

[2015-07-23 14:55] harrysalzman commented on #5659
This happened this morning - sometime between ~5 and 9 AM EST, roughly.

On Thu, Jul 23, 2015 at 9:11 AM Alys notifications@github.com wrote:

[2015-07-23 15:23] SabreCat commented on #3324
Perhaps something similar to the Rare Pet golden paw--a single ? pawprint with hover text explaining how to get rolling.

[2015-07-23 17:48] Alys commented on #5659
Please can you tell us how many hours ago that was.

Or at least tell us what the exact time is right now in that timezone
(gnthub's timestamps will then tell us what we need).
On 24 Jul 2015 00:55, "harrysalzman" notifications@github.com wrote:

[2015-07-23 17:56] harrysalzman commented on #5659
Sorry! At this moment, it is 1:55 PM EST.

I saw the message at 9 AM EST, which was 4 hours, 55 minutes ago.

[2015-07-23 18:08] Alys commented on #5659
Thanks @harrysalzman

For our reference: The rollback happened 9 hours ago. https://github.com/HabitRPG/habitrpg/issues/5624#issuecomment-124018717

[2015-07-23 19:03] lawlietbeyond13 commented on #5658
User id 9bfeb5bd-5024-41b2-87f7-932319a63f41 guild Id ac98df68-90fe-4f47-b00b-42a0b136d1c8

[2015-07-23 23:38] SpenserJ commented on #5072
If system messages are filtered out now, and the only other messages are from users, we should be safe to close this.

[2015-07-24 02:24] TheHollidayInn commented on #4936
Sweet. I like where this is. Is anyone else working on the commit? If not, I can do it tomorrow.

[2015-07-24 02:41] GoranTomacruz opened #5662 "iOS app doesn't sync any of its progress to Website"
I recently added many dailies and checked of many tasks yesterday on my mobile app (I didn't use my computer). However, what happened was all my progress was removed hours later and my dailies and tasks reset to that of the website. Also, this took /hours/, and I was hoping that both would sync in a minute or so. Please fix this! I appreciate your help. Thank you. :)

[2015-07-24 03:00] crookedneighbor commented on #5662
@NobleNeon Are you using the old iOS app (treasure chest icon) or the new [Habitica app](https://itunes.apple.com/us/app/habitica/id994882113?mt=8) (purple with white gryphon icon).

If you're using the old one, please try out the new one. It's much improved.

If you are using the new one, please open your issue in the [repository for the iOS app here](https://github.com/HabitRPG/habitrpg-ios).

[2015-07-24 03:00] #5662 closed, assigned to nobody

[2015-07-24 12:56] superbrewers commented on #5636
This is happening for me, as well. Here is a screenshot from my phone.
![screenshot_2015-07-20-21-18-44](https://cloud.githubusercontent.com/assets/13484048/8874691/d1046cd6-31d8-11e5-8fc3-a06d81417fe9.png)

Here is what my party screen looks like when logged in to the web site, using Safari.

![screen shot 2015-07-24 at 7 53 33 am](https://cloud.githubusercontent.com/assets/13484048/8874733/20d55

[2015-07-24 13:05] Alys commented on #5636
Please upgrade to version 0.0.58, as soon as the Play Store lets you do that (that version of the app is already there, but the Play Store might not have refreshed itself for your account yet).

This bug is fixed in that version. Sorry about the inconvenience over the past several days!

[2015-07-24 13:05] #5636 closed, assigned to nobody

[2015-07-24 13:18] Alys commented on #5658
I can confirm there's no challenges in that guild.

@lawlietbeyond13 Did you create the challenges in another guild? Please go to Social -> Challenges and use the buttons in the left-hand column to filter the view to show only challenges that you created (that's the "Owned" option). Do you see your challenges now?

If you do, you can look at each one to see what guild or party it's in. If it's in

[2015-07-24 13:18] superbrewers commented on #5636
Thank you, Alys. I manually went into "My Apps" in the Play Store and see the update. Now I'm just waiting for it to install.

Thanks for all your work on the app.

[2015-07-24 16:06] nathalieaynie opened #5663 "Hatched octopi eggs gave no pets"
I had three octopi eggs, that I hatched today, and they didn't give me any pets.
User ID: f7ca1ece-94d3-4513-bc6a-9b0cca2f780c
Using Ubuntu 14.04 LTS / Firefox 39.0

I've closed and reopened the browser but neither the eggs have reappered or the pets have appeared instead.

Sad!

[2015-07-24 16:07] #5663 closed, assigned to nobody

[2015-07-24 16:08] nathalieaynie commented on #5663
Sorry... Those were spiders. I need more coffee.

[2015-07-24 19:49] lawlietbeyond13 commented on #5658
It says it's under my guild I'm pretty sure but I probably did something wrong I'll double check everything and remake the challenge just in case
I'll get back to you when I get the time to get on.

[2015-07-24 20:32] redmanatee commented on #5655
I just attempted to purchase through Amazon as well, and I can state that it is still not working (for the same reasons the original bug has).  Note: Not complaining, not angry, just letting you know that it is still not fixed.

[2015-07-25 00:39] MarchingBlankets opened #5665 "Leveled up and lost all my gold"
Hello,
I just leveled up, but instead of gaining gold, I lost everything!

[2015-07-25 00:48] Alys commented on #5665
I took your User ID (e1536063-eb67-4efc-83b7-8eefb48654f0) from your same comment in the Tavern. For any other bug reports, please include your User ID here so that we can find it easily.

You're on a boss quest and a party member did enough damage to kill you. That's what caused you to lose all your gold. It might have coincidentally happened at the same time that you levelled up.

If you feel th

[2015-07-25 00:48] #5665 closed, assigned to nobody

[2015-07-25 01:48] crookedneighbor commented on #2867
We were counseled against using a captcha of any kind, so I'm going to close this for now.

@deilann If you're interested in the details, @veeeeeee is the one to talk to.

[2015-07-25 01:48] #2867 closed, assigned to nobody

[2015-07-25 02:10] lawlietbeyond13 commented on #5658
Yes, I believe they should be there. As you can see in the picture its there.:(
![untitled](https://cloud.githubusercontent.com/assets/13460023/8887460/4b977a50-3248-11e5-9232-0068d77bd4f1.png)

[2015-07-25 02:26] Alys commented on #5658
@lawlietbeyond13 Please click on each challenge in turn and then copy the URL and paste it here. You don't need to specify which challenge belongs to which URL - I just need the three URLs. They should have a string of random characters in them, like this:
https://habitrpg.com/#/options/groups/challenges/8b63cb69-8962-4a17-a506-9c3e4855616f

[2015-07-25 03:19] #5196 closed, assigned to nobody

[2015-07-25 03:21] crookedneighbor commented on #5196
This change will go live in the next couple of days. Not only will you be able to select dailies/todos/habits/rewards with the tab key, but also with Vimium!

Big kudos to @TheHollidayInn for working on it and putting up with my demands :smile:

[2015-07-25 03:23] TheHollidayInn commented on #5196
:) All for the greater good!

[2015-07-25 03:58] lawlietbeyond13 commented on #5658
I didn't think they'd be three separate strings like that, thought it'd
only be one.
https://habitrpg.com/#/options/groups/challenges/d18d049b-fe70-4933-9e30-27c2e74aed8a
https://habitrpg.com/#/options/groups/challenges/ea9fef1d-bbae-44c3-8e2f-fb709559a326

https://habitrpg.com/#/options/groups/challenges/97da2ec1-dc77-41e3-8de6-ea7df0ada533

On Fri, Jul 24, 2015 at 7:26 PM, Alys notifications@git

[2015-07-25 04:11] Alys commented on #5658
Those challenges all belong to your party, not to the guild with the ID ac98df68-90fe-4f47-b00b-42a0b136d1c8. That guild and your party both have the same name, so it will be difficult to tell the difference between them when you are creating or viewing challenges. You're the leader of both the guild and the party, so you can, if you wish, edit one of the to give it a slightly different name.

If

[2015-07-25 04:11] #5658 closed, assigned to nobody

[2015-07-25 04:13] luminerium opened #5666 "Clicking a daily checks another one"
I have three active dailies. I recently clicked on the bottom one and the one at the top got checked (I also got the XP and the GP of that daily), while the previous one remained unchecked. When I clicked the bottom one again, the top one got unchecked and I got the XP and GP deducted. Then I decided to click the top one, and it got checked again, normally. The middle one also checks normally.

Si

[2015-07-25 04:24] Alys commented on #5666
Note to devs: all task IDs are different.

@theyliveforever Please reload the page and try again.

If that doesn't help, log out of HabitRPG, clear your browser's cache and cookies, clear local storage if you know how (don't worry yet if you don't), then close all browser windows, reopen, and log in and try again.

If even that doesn't help, we'll need you to clear your local storage. I can provid

[2015-07-25 04:26] Alys commented on #5644
@WezCorp Can you please take screenshots of the _whole_ challenges page? I'd like to see everything on it in context. Please use Chrome so that the IE bug doesn't interfere, and untick "show header" again so that fewer screenshots are needed.

[2015-07-25 04:42] Mr-Operator opened #5667 "Surfboard and Sunglasses not showing"
My HabitRPG name is Ecks. My character has the Surfboard and Sunglasses for the July mystery item for members.

Even when I uncheck everything I'm wearing, they still will not show (yes, I am using the "costume" option).

[2015-07-25 04:57] Alys commented on #5667
Please reload the website once or twice. That will make them show up there.

If you're on a mobile app, they might not show up for a few days due to the need to wait for Apple/Google to approve changes.

I'm closing this now because reloading the site almost always fixes temporary problems like this (basically, your browser hasn't yet downloaded the new images and a reload forces it to).

However

[2015-07-25 04:57] #5667 closed, assigned to nobody

[2015-07-25 12:36] lathias commented on #4957
It did. Thanks! Such a simple solution makes me feel bad :P

[2015-07-25 13:42] lawlietbeyond13 commented on #5658
Thank you to didn't even know I could do one for my party

[2015-07-25 14:12] Awesumounk commented on #5567
Alys, He still hasn't been on.

[2015-07-25 18:04] glitterwaif opened #5668 "key to the kennels not working"
I have Triad Bingo so decided to use the free Key to the Kennels, but when I select it, it does not give the option of actually using it. The only option is "Not Yet" (apart from the button to buy gems).
I've tried re-synching, logging out and back in again, logging in on a different browser (I mainly use Firefox and have also tried on Safari) but nothing has worked yet. What's going on? I have al

[2015-07-25 18:57] SabreCat commented on #5668
What's your user ID? (from the Settings gear icon > API; please don't share your API Token)

[2015-07-25 19:20] crookedneighbor commented on #5668
This may be related to some recent changes I made to the counting scripts. I won't be near a computer to troubleshoot it for the rest of the day, but I can investigate tomorrow. I suspect an ng-if needs to be updated.

[2015-07-25 19:38] aipsensmall commented on #5490
Clicking outside a menu is indeed normal behavior for most apps. I wouldn't call this an accessibility issue or something needed by users with poor mouse control. This has just become expected behavior in most places. For the record, I have great mouse control and these menus still bother me. :)
Another option is to close menus after a short delay since none of them have very many items.

An even

[2015-07-25 19:58] aipsensmall commented on #4731
Has there been any movement on this? I'm not exactly an illustrator, but I am a designer and this sounds like a fun little project.

[2015-07-25 21:21] aipsensmall commented on #4731
I gave it a shot for fun, and this is what I came up with:
<img width="434" alt="screen shot 2015-07-25 at 2 18 23 pm" src="https://cloud.githubusercontent.com/assets/8648444/8891285/4a882c00-32d8-11e5-81e7-6a8ed716f98b.png">

[2015-07-25 23:13] Alys commented on #5567
Please read my earlier response. We can't help without additional information from you. I'll reopen this when we have that.

[2015-07-25 23:21] luminerium commented on #5666
I tried again today and it worked. Thank you and sorry for bothering you!

[2015-07-25 23:25] Awesumounk commented on #5567
What info do you need from me?

[2015-07-25 23:28] Alys commented on #5490
@aipsensmall _"I have great mouse control and these menus still bother me"_  The menus bother me a little too if I open one by accident, but the point is that we are attempting to assist people who have **poor** mouse control. Our belief so far is that it's better for accessibility to leave the menus open until an item is clicked or a different menu is opened or the menu is closed manually. I'd pr

[2015-07-25 23:28] WezCorp commented on #5644
![screen shot 2015-07-26 at 8 24 05 am](https://cloud.githubusercontent.com/assets/13398985/8891684/6037ddc0-3378-11e5-8786-0f00aae516c8.png)
[removed now that I've seen them -- Alys]
![screen shot 2015-07-26 at 9 25 38 am](https://cloud.githubusercontent.com/assets/13398985/8891749/6225b24c-3378-11e5-9f56-dba37da566c3.png)

[2015-07-25 23:29] Alys commented on #5666
No worries, thanks very much for letting us know! :)

[2015-07-25 23:29] #5666 closed, assigned to nobody

[2015-07-26 03:43] Alys commented on #5668
Confirmed on my account (d904bd62-da08-416b-a816-ba797c9ee265). I have all mounts and all pets (hatched+rehatched) and the Key to the Kennels modal has only the "not yet" button.

[2015-07-26 04:22] #5668 closed, assigned to nobody

[2015-07-26 04:24] crookedneighbor commented on #5668
I figured it out. Previously the pet/mount counts were on $rootScope. I put them on the inventory controller scope instead, but the keys to the kennel modal wasn't being managed by the inventory controller. Deploying.

https://github.com/HabitRPG/habitrpg/commit/e72543641c5c4418be132b80d268a8e69d503926

[2015-07-26 04:47] LittleMupsMum commented on #4252
We had this bug on the quest Golden Knight Part 1: A Stern Talking To. We are quite a large party. So far nobody has reported receiving the quest rewards, but not everyone is active in party chat.

What happened: On refreshing the page yesterday, I got two dialogues. One was for a new quest (which I thought was odd as I didn't remember finishing the last quest).  The second one was the Bailey. The

[2015-07-26 10:45] Alys commented on #2523
I think it would be easy to make attribute buffs last through two crons instead of one.

At the moment, the user.stats object has `buffs.per`, `buffs.con`, etc. When a skill is cast, the appropriate buff is increased. When cron runs, all buffs are set to zero.

Instead of that, we can have `buffs.lastsThroughToday.per`,  `buffs.lastsThroughTomorrow.per`, etc. The code that calculates your current

[2015-07-26 11:05] Jazzis18 opened #5669 "Text in `code` gets out of the window"
Desrcription in the issue title.
My UserID: `ca1d308f-49db-460b-b3dd-e321cfc2e9aa`
Browser: Chrome 44.0.2403.107 m
OS: Windows 7 Ultimate x64
Screenshot:
![2015-07-26_155809](https://cloud.githubusercontent.com/assets/4019829/8893584/58dd4a2e-33af-11e5-86b7-7cf7364e5f44.png)

[2015-07-26 11:18] Alys commented on #5624
fixed in https://github.com/HabitRPG/habitrpg/commit/bfd56b35e170669e97b3df6ce4712648296f5194

[2015-07-26 11:18] #5624 closed, assigned to nobody

[2015-07-26 11:20] Alys commented on #5637
I'm closing this but we'll be happy to reopen it if she posts here to ask for further help.

[2015-07-26 11:20] #5637 closed, assigned to nobody

[2015-07-26 11:20] Alys commented on #5633
I'm closing this but let us know if you still need assistance!

[2015-07-26 11:20] #5633 closed, assigned to nobody

[2015-07-26 11:21] Alys commented on #5630
I'm closing this since we can't do anything currently, but if you post the IDs we'll remove you from the party.

[2015-07-26 11:21] #5630 closed, assigned to nobody

[2015-07-26 11:22] #5625 closed, assigned to nobody

[2015-07-26 11:23] Alys commented on #5566
I'm going to close this because it might be some time until lemoness has done the artwork. Experience from past moderators tells that she'll log a new issue for the text change and artwork insertion when it's ready.

Thanks anyway @GitHubSphinx!  :) We will get this fixed in time.

[2015-07-26 11:23] #5566 closed, assigned to nobody

[2015-07-26 11:25] Airova opened #5670 "URGENT: Error message after finding a quest, now cannot update ANYTHING"
I completed a task and found a quest as a reward. The quest opened up in its own little popup so I could read it. I clicked "do it later" or whatever, because I'm already on a quest. Then I noticed that there was an error message instead of a drop message: "Please reload, "Error Cannot set property 'drop' of undefined" If the error persists, please report it at Help > Report a Bug. If you're famil

[2015-07-26 11:26] Alys commented on #5534
@mariyadavydova After you posted this, we released a new, native iOS app called Habitica. You can install it at https://itunes.apple.com/us/app/habitica/id994882113?ls=1&mt=8 . It has several improvements over the old app.

I'm closing this issue but if you have any problems with the new app, there's an in-app bug report form under Menu > About > Report a Bug/Request a Feature or you can email us

[2015-07-26 11:26] #5534 closed, assigned to nobody

[2015-07-26 11:27] Alys commented on #5129
Earlier this month, we released a new, native iOS app called Habitica. It can be installed at https://itunes.apple.com/us/app/habitica/id994882113?ls=1&mt=8 . It has several improvements over the old app.

I'm closing this issue but if anyone has any problems with the new app, there's an in-app bug report form under Menu > About > Report a Bug/Request a Feature or you can email us at mobile@habitr

[2015-07-26 11:27] #5129 closed, assigned to nobody

[2015-07-26 11:29] Alys commented on #5489
Failure to sync can be indicated by the absence of the blue bar (see the Advice section near the top of #4313 for more details).

[2015-07-26 11:29] #5489 closed, assigned to nobody

[2015-07-26 11:30] Alys commented on #4466
I'm closing this in the hope that #5504 has fixed it - I'm quite confident but it can be reopened if I'm proved wrong. :)

[2015-07-26 11:30] #4466 closed, assigned to nobody

[2015-07-26 11:31] Alys commented on #5510
I believe the latest version of the Android app now has the fix for this, and I haven't heard any more reports of this problem, so I'm closing it again.

If anyone still sees this bug happening, please comment here.

[2015-07-26 11:31] #5510 closed, assigned to nobody

[2015-07-26 11:36] Alys commented on #5340
@gileryn We were never able to find a cause for this, and it doesn't seem to be reproducible for other accounts, which makes it hard to track down. :(  However we're working on a new, native Android app for HabitRPG which will have better performance and more features. It's not finished yet but it is close. I would expect that this bug will not occur on it. So, I'm closing this issue. I'm very sor

[2015-07-26 11:36] #5340 closed, assigned to nobody

[2015-07-26 11:37] Alys commented on #5402
Closing since there's been no response about this. @Fandekasp tell us if @crookedneighbor's suggestion didn't work.

[2015-07-26 11:37] #5402 closed, assigned to nobody

[2015-07-26 11:40] Alys commented on #5390
@TehDanny I'm sorry we didn't respond sooner! If this is still happening, please disable all browser extensions (as a temporary measure at least) and see if that fixes it. Alternatively, please try using HabitRPG in a different browser that doesn't have any extensions installed. Does that help?

[2015-07-26 11:47] Alys commented on #4252
@LittleMupsMum I've given the quest rewards and achievement to the players you reported ('32e0135e-5f3b-4dc3-b517-995f6f24d5d6', '1fbf1769-5e7a-45a3-9cfa-eb314fb8f9ab', '4fc2eda2-b570-4bb2-af9e-03daa444fbbc', 'da8b6751-8eec-4a7f-8630-cebb87df6b45', '037e8ae6-e39e-4684-8427-9df87260e834'). Let us know if they haven't appeared for those players (reload first to check) or if there's any others.

[2015-07-26 11:47] TehDanny commented on #5390
Yeh I was wondering why I didn't hear from you guys, but nevermind I'm on a break from Habit now and I'm pretty positive that some javascript was being blocked by my extension.

[2015-07-26 11:52] #5324 closed, assigned to nobody

[2015-07-26 11:55] Alys commented on #5248
I'm closing this because we can't do anything currently, but if the problem is still happening, tell us the details from my previous comment and we'll be able to help.

[2015-07-26 11:55] #5248 closed, assigned to nobody

[2015-07-26 11:55] Alys commented on #4924
Earlier this month, we released a new, native iOS app called Habitica. You can install it at https://itunes.apple.com/us/app/habitica/id994882113?ls=1&mt=8 . It has several improvements over the old app.

I'm closing this issue but if you have any problems with the new app, there's an in-app bug report form under Menu > About > Report a Bug/Request a Feature or you can email us at mobile@habitrpg.

[2015-07-26 11:55] #4924 closed, assigned to nobody

[2015-07-26 11:56] Alys commented on #4673
Earlier this month, we released a new, native iOS app called Habitica. You can install it at https://itunes.apple.com/us/app/habitica/id994882113?ls=1&mt=8 . It has several improvements over the old app.

I'm closing this issue but if you have any problems with the new app, there's an in-app bug report form under Menu > About > Report a Bug/Request a Feature or you can email us at mobile@habitrpg.

[2015-07-26 11:56] #4673 closed, assigned to nobody

[2015-07-26 11:57] Alys commented on #4116
Earlier this month, we released a new, native iOS app called Habitica. You can install it at https://itunes.apple.com/us/app/habitica/id994882113?ls=1&mt=8 . It has several improvements over the old app.

I'm closing this issue but if you have any problems with the new app, there's an in-app bug report form under Menu > About > Report a Bug/Request a Feature or you can email us at mobile@habitrpg.

[2015-07-26 11:57] #4116 closed, assigned to nobody

[2015-07-26 11:59] Alys commented on #5390
@TehDanny Thanks for letting us know, and sorry again about the delay. I'll close this now but we'll reopen it if you notice the problem reoccurring without extensions.

[2015-07-26 11:59] #5390 closed, assigned to nobody

[2015-07-26 12:05] Alys commented on #5670
@Airova I took your User ID from your post in the Tavern (4f7694ac-30f7-4549-86f6-a81dcbcc5363), but if you need to report bugs in future, please include the ID. If you don't know how to find it, see step 6 in Help -> Report a Bug.

The quest drops at level 60 and you were level 59, so I've increased your level to 60 to stop the quest dropping. Can you please reload the site and tell me if it's wo

[2015-07-26 12:10] Alys commented on #5221
Fixed.

[2015-07-26 12:10] #5221 closed, assigned to nobody

[2015-07-26 12:11] Alys commented on #5237
Earlier this month, we released a new, native iOS app called Habitica. It can be installed at https://itunes.apple.com/us/app/habitica/id994882113?ls=1&mt=8 . It has several improvements over the old app.

I'm closing this issue but if anyone has any problems with the new app, there's an in-app bug report form under Menu > About > Report a Bug/Request a Feature or you can email us at mobile@habitr

[2015-07-26 12:11] #5237 closed, assigned to nobody

[2015-07-26 12:12] Alys commented on #5438
Earlier this month, we released a new, native iOS app called Habitica. It can be installed at https://itunes.apple.com/us/app/habitica/id994882113?ls=1&mt=8 . It has several improvements over the old app.

I'm closing this issue but if anyone has any problems with the new app, there's an in-app bug report form under Menu > About > Report a Bug/Request a Feature or you can email us at mobile@habitr

[2015-07-26 12:12] #5438 closed, assigned to nobody

[2015-07-26 12:12] Alys commented on #5241
Earlier this month, we released a new, native iOS app called Habitica. It can be installed at https://itunes.apple.com/us/app/habitica/id994882113?ls=1&mt=8 . It has several improvements over the old app.

I'm closing this issue but if anyone has any problems with the new app, there's an in-app bug report form under Menu > About > Report a Bug/Request a Feature or you can email us at mobile@habitr

[2015-07-26 12:12] #5241 closed, assigned to nobody

[2015-07-26 12:12] Alys commented on #4999
Earlier this month, we released a new, native iOS app called Habitica. It can be installed at https://itunes.apple.com/us/app/habitica/id994882113?ls=1&mt=8 . It has several improvements over the old app.

I'm closing this issue but if anyone has any problems with the new app, there's an in-app bug report form under Menu > About > Report a Bug/Request a Feature or you can email us at mobile@habitr

[2015-07-26 12:12] #4999 closed, assigned to nobody

[2015-07-26 12:12] Alys commented on #4983
Earlier this month, we released a new, native iOS app called Habitica. It can be installed at https://itunes.apple.com/us/app/habitica/id994882113?ls=1&mt=8 . It has several improvements over the old app.

I'm closing this issue but if anyone has any problems with the new app, there's an in-app bug report form under Menu > About > Report a Bug/Request a Feature or you can email us at mobile@habitr

[2015-07-26 12:12] #4983 closed, assigned to nobody

[2015-07-26 12:12] Alys commented on #4942
Earlier this month, we released a new, native iOS app called Habitica. It can be installed at https://itunes.apple.com/us/app/habitica/id994882113?ls=1&mt=8 . It has several improvements over the old app.

I'm closing this issue but if anyone has any problems with the new app, there's an in-app bug report form under Menu > About > Report a Bug/Request a Feature or you can email us at mobile@habitr

[2015-07-26 12:12] #4942 closed, assigned to nobody

[2015-07-26 12:13] Alys commented on #4571
Earlier this month, we released a new, native iOS app called Habitica. It can be installed at https://itunes.apple.com/us/app/habitica/id994882113?ls=1&mt=8 . It has several improvements over the old app.

I'm closing this issue but if anyone has any problems with the new app, there's an in-app bug report form under Menu > About > Report a Bug/Request a Feature or you can email us at mobile@habitr

[2015-07-26 12:13] #4571 closed, assigned to nobody

[2015-07-26 12:14] Alys commented on #4250
Earlier this month, we released a new, native iOS app called Habitica. It can be installed at https://itunes.apple.com/us/app/habitica/id994882113?ls=1&mt=8 . It has several improvements over the old app.

We are also working on a new, native app for Android which will also be an improvement. It's not finished yet but is close.

I'm closing this issue but if anyone has any problems with the new iO

[2015-07-26 12:14] #4250 closed, assigned to nobody

[2015-07-26 12:17] Alys commented on #5222
I'm closing this because it's a cosmetic problem rather than one that affects your stats and progression through the game, and also because we are working on a new, native app for Android which will be an improvement over the current one. It's not finished yet but is close.

[2015-07-26 12:17] #5222 closed, assigned to nobody

[2015-07-26 12:19] LittleMupsMum commented on #4252
Thanks very much @Alys !  Should I post them as I get the reports, or wait until I have another list?  One more so far: Baibow ff76c6de-d312-49e6-b6d1-217fdc7a9bf1

[2015-07-26 12:24] Airova commented on #5670
OK, I can check off tasks now, but if I try to use a spell (burst of flames) I get the quest drop again and the error message. It seems that it is as you say, I leveled up to 60, the quest dropped, and everything stopped working... :(

[2015-07-26 12:28] Alys commented on #5670
Sorry about that; there's a flag that I forgot to set. I've set it now and that will tell HabitRPG to not give you the quest any more. Please reload again and tell us if it's still not right.

[2015-07-26 12:30] Airova commented on #5670
Works now. Thank you very much for the quick assistance! And I see I still have the quest, so that's good news. :)

[2015-07-26 12:32] Alys commented on #5670
No worries. :) Thanks for letting us know!

Devs:
I couldn't reproduce this on a test account, neither at level 40 nor 60. (This is not to say it's not a real bug, just that it's not easily reproducable.)

@Airova Before this problem happened, do you remember how long it had been since you had reloaded the site, or logged out and in, or closed and reopened your browser?

[2015-07-26 12:36] Alys commented on #790
Vimium now works for ticking off Dailies and To-Dos. https://github.com/HabitRPG/habitrpg/commit/f749d1a

I'm going to close this because the Vimium plugin works very well, better than anything we could create without hours of work, and if we did create our own system, it would conflict with Vimium or similar extensions. I believe that for this kind of feature, using a well-crafted, dedicated thir

[2015-07-26 12:36] #790 closed, assigned to nobody

[2015-07-26 12:38] Airova commented on #5670
I reload the site regularly, maybe once every few hours, so it wasn't any longer than that. It's been a very long time since I logged out and in. The last time the browser was closed and reopened was a couple of days ago.

However, I wonder if the issue is that I was already on a quest?

[2015-07-26 12:40] Alys commented on #5115
I'm closing this because we are working on a new, native app for Android which will be an improvement over the current one. It's not finished yet but is close. We're still updating the old Android app for critical bug fixes, but for optional features like using a saddle, it's better than we leave it broken for now and focus on the new app. I'm sorry for the inconvenience! You might find that this

[2015-07-26 12:40] #5115 closed, assigned to nobody

[2015-07-26 12:41] Alys commented on #5105
I'm closing this since it's been a few months without a response, but @GinnyJ let us know if you are still having this problem and see my questions from my previous comment.

[2015-07-26 12:41] #5105 closed, assigned to nobody

[2015-07-26 12:42] Alys commented on #5050
I'm closing this since it's been a few months without a response, but @morrcahn let us know if you are still having this problem and see my previous comment for suggestions.

[2015-07-26 12:42] #5050 closed, assigned to nobody

[2015-07-26 12:45] Alys commented on #4953
We've changed the tutorial since this was reported so I'm closing this but it can be reopened if the problem still exists (I believe it doesn't).

[2015-07-26 12:45] #4953 closed, assigned to nobody

[2015-07-26 12:45] #5014 closed, assigned to nobody

[2015-07-26 12:45] Alys commented on #4990
I'm closing this since it's been a few months without a response, but @vestais let us know if you are still having this problem and see my previous comment for information.

[2015-07-26 12:45] #4990 closed, assigned to nobody

[2015-07-26 12:45] #4952 closed, assigned to nobody

[2015-07-26 12:46] Alys commented on #4946
I don't recall any other reports of this so I'm closing it.

[2015-07-26 12:46] #4946 closed, assigned to nobody

[2015-07-26 12:48] Alys commented on #4943
Looks like we fixed this by increasing the number of spritesheets so I'm closing this. It can be reopened if I'm wrong.

[2015-07-26 12:48] #4943 closed, assigned to nobody

[2015-07-26 12:49] Alys commented on #4882
I'm closing this because I think the workarounds I describe above are the best way to handle this, to avoid making Dailies more complicated and confusing for users that need a simpler interface. However if you'd still like the feature, please go to Help -> Request a Feature to describe it in Trello.

[2015-07-26 12:49] #4882 closed, assigned to nobody

[2015-07-26 13:01] Anatolt commented on #5465
Same message in inventory
![](http://at02.ru/i/2015-07-26_145621.png)

[2015-07-26 13:18] Alys commented on #4630
I'm working on this.

[2015-07-26 13:35] Alys commented on #5670
Thanks for the reload information. I was wondering if your browser had code that predated a recent change, but it can't have.

I've just done another test with an account that was on a quest, and the quest at level 15 didn't trigger this. This might be one of those inconsistent bugs that's hard to track down.

[2015-07-26 13:36] Alys commented on #4252
@LittleMupsMum I have a slight preference for a few at a time, but one at a time won't bother me. :) I've done Baibow ff76c6de-d312-49e6-b6d1-217fdc7a9bf1.

[2015-07-26 13:41] Alys commented on #4536
Do we still want these text changes to the Tavern messages?

[2015-07-26 13:43] Alys commented on #4492
We've modified our pomodoro content on the wiki since this was posted, so I'm closing this, but if the instructions still aren't clear, let us know.

[2015-07-26 13:43] #4492 closed, assigned to nobody

[2015-07-26 13:44] #4503 closed, assigned to nobody

[2015-07-26 13:44] #4469 closed, assigned to nobody

[2015-07-26 13:46] Alys commented on #4471
Is this still relevant?

[2015-07-26 13:47] Alys commented on #4444
Can this be closed now?

[2015-07-26 13:48] Alys commented on #2344
I'm closing this because we have plans for cron/yesterdailies that would not work if a crontab was used.

[2015-07-26 13:48] #2344 closed, assigned to nobody

[2015-07-26 13:51] Alys commented on #4467
I'm closing this because we are working on a new, native app for Android which will be an improvement over the current one. It's not finished yet but is close. We're still updating the old Android app for critical bug fixes, but for display problems like this one, it's better than we leave it as it is for now and focus on the new app. I'm sorry for the inconvenience and thank you for reporting thi

[2015-07-26 13:51] #4467 closed, assigned to nobody

[2015-07-26 13:54] Alys commented on #5567
The IDs listed in my earlier response. Please read it for details.

[2015-07-26 14:39] mariyadavydova commented on #5534
@Alys Thank you very much for your reply and especially for the direct link. Unforturnately, the old app is still more useful for me as I use it via my iPad (not an iPhone), and Habitica looks ugly on an iPad right now. However I hope your team adds IPads support to Habitica soon.

[2015-07-26 15:13] #4444 closed, assigned to nobody

[2015-07-26 15:13] crookedneighbor commented on #4444
We should still consider it, but not enough to keep an open issues.

[2015-07-26 15:14] crookedneighbor commented on #4536
I vote no, but @lemoness please re-open if desired.

[2015-07-26 15:14] #4536 closed, assigned to nobody

[2015-07-26 15:18] crookedneighbor commented on #790
You can also now tab to your desired task to check them off. So you can be mouse free on the tasks page even without vimium. (Thanks to @TheHollidayInn for work on this)

[2015-07-26 16:03] Satvik commented on #790
Really awesome. Thanks so much!

On Sun, Jul 26, 2015 at 8:18 AM, Blade Barringer notifications@github.com
wrote:

[2015-07-26 16:32] teh-maxh commented on #3517
The code for this should be easy; the tricky part would be i18n. Still, even that shouldn't be hugely difficult, just tedious. I'd be willing to work on it.

[2015-07-26 17:50] MaxHedrm opened #5671 "Guild Description Edit - entity too large"
When editing my guild description, I get:

This happens regardless of the change. The only thing I haven't tried is making the description blank. I have reloaded. I have also tried it across several days. On 2 different computers. Safari (Mac), Chrome (Win7).

The group in question is: https://habitrpg.com/#/options/groups/guilds/896f82a1-a7d9-489c-9bdd-4fccd3373630

My userID: b7fd010e-bf83-47af-

[2015-07-26 19:38] Timoteo32 commented on #2523
That's not a bad solution. You still have the problem that people are going to get very different lengths of benefits but culturally we're all expecting 1 day so it's really delivering more than promised even if it's still unpredictable or not fair.

Another idea I had was switching to a manual cron. Instead of a set time (which is already somewhat meaningless in this context) you could have a lin

[2015-07-26 22:16] crookedneighbor commented on #4957
@lathias Glad it's working for you!

[2015-07-27 01:00] Alys commented on #5671
Tell us what changes you'd like to have made and we'll make them for you.

[2015-07-27 01:31] #5670 closed, assigned to nobody

[2015-07-27 02:39] lemoness commented on #4536
Nope, I think they are outdated!

[2015-07-27 02:40] Alys commented on #3517
@teh-maxh Thank you!

Note that the translations will be handled in Transifex by different translators for each language, so it won't be too tedious for them, and not at all for you. :)

[2015-07-27 02:43] lemoness commented on #4731
An artist still holds the claim to this art, although their claim is set to
expire if I don't hear back from them in a week. If you're interested, you
can apply to claim them on this Trello card:
https://trello.com/c/Xey7Guzc/28-miscellaneous Be sure to read all the
rules for Trello claims first!

On Sat, Jul 25, 2015 at 2:21 PM, aipsensmall notifications@github.com
wrote:

[2015-07-27 02:47] lemoness commented on #4469
Mirah, in case you're interested - we have indeed released both the
Enchanted Armoire (more equipment) and Gold-Purchasable Quests :)

On Sun, Jul 26, 2015 at 6:44 AM, Alys notifications@github.com wrote:

[2015-07-27 05:12] Frikster commented on #5510
Everything looks good on my end! Good job! Beer's on me if you ever find yourself in Vancouver, Canada :D

[2015-07-27 09:19] libelt commented on #4174
Hello! I have the same problem! Me and my friend are fighting the boss since yesterday.
Today we were to deal the first damage and on the group chat only mine displays. As if my friend did no damage.
He is a starfish now, due to potion(yesterday 15:22). Do you think thats the case? Also I did read somewhere that the potion should wear off at next Cron(which we are already after, right?)

I clicked

[2015-07-27 09:35] Alys commented on #4174
@kamykkamyk Has your friend used HabitRPG yet today? It's sounding as if he has not. Cron runs when you use HabitRPG for the first time each day. The starfish always wears off when cron runs (and never stops boss damage being done).

[2015-07-27 10:17] libelt commented on #4174
@Alys Yes, thank you, that was the case. Sorry for the fuss. : )

[2015-07-27 12:11] Alys commented on #4174
@kamykkamyk No worries! :) Cron is often confusing until you're used to it!

[2015-07-27 13:07] LittleMupsMum commented on #4252
Well, I have another list ... it's kind of very long.  We're a huge party!  Should I post it here or email it to you at the address that is listed in the DDT?

[2015-07-27 13:26] shadowhaloedangel opened #5673 "Android app data overwriting more recent website data?"
I do not use the mobile app very often - only when I need to check off my dailies when I am away from the computer. I had not opened the app recently, but did so earlier and then closed it again possibly before it had finished syncing. The result on the website was a to do created at the beginning of the month with a checklist for each day being unticked from the 26th to the 4th, and being greatly

[2015-07-27 13:45] Alys commented on #4252
@LittleMupsMum Post it here please.

[2015-07-27 14:10] MaxHedrm commented on #5671
That fixes the description, but doesn't fix the bug. :-)

This is what I want to change it to:

We are considering a Guild name change, PM me (MaxHedrm) with suggestions and I'll create a voting Challenge.

---

**Just a guild for those of us going the Coursera route! Or any other MOOC (Massive Online Open Course) provider for that matter.**

---

MOOCs provide a great way to increase your knowled

[2015-07-27 15:08] lothrus opened #5674 "Bug description for Soothing Lunar Sceptre on portuguese language"
There is no description for Soothing Lunar Sceptre on portuguese language. In English, it shows normal. Just Checked the translation at transifex and there is no problem there.

I'm Using chrome browser and windows 7.

![capture](https://cloud.githubusercontent.com/assets/2285976/8909491/ef1ff934-3457-11e5-8b8b-a6f7b743b22b.PNG)

[2015-07-27 21:36] lemoness opened #5676 "Cantras Mod Avatar"
We're ready to update the Community Guidelines to include Cantras as a mod! I'm attaching the updated image. (As a side note, it's gotten quite long, so the next time we add a mod, I will be changing the layout of the image.)
![npc mods4](https://cloud.githubusercontent.com/assets/3494081/8918443/e58b6b64-346c-11e5-99e2-6763b238755c.png)

[2015-07-27 21:40] Alys commented on #5676
I'm advertising this in the Aspiring Coder's guild but if it's not taken up in a couple of days, I'll do it.

[2015-07-27 22:03] Alys commented on #5671
Yes, I know it won't solve the bug, but we have the bug reported in this issue: https://github.com/HabitRPG/habitrpg/issues/1471 and so we don't need to track it here as well. We are making large, site-wide changes that will prevent this happening but those changes take time. In the meantime, when you want changes that you aren't able to make yourself, we will do it for you. Comment here or in tha

[2015-07-27 22:03] #5671 closed, assigned to nobody

[2015-07-27 22:26] mataulvr opened #5677 "Mobile Iphone App Bug"
I recently entered the inn with my own character and then signed out of my account and into my boyfriends account to enter him into the inn as well. When I signed back on to my character our pets, items, food and quest scrolls seem to have merged. I cannot use his items and I get Server issue warnings when I tried using the items. When I restart the app the items still remain there. When I sign on

[2015-07-27 22:33] Alys commented on #3296
I'm closing this because we've changed cron a few times since it was reported and haven't seen other reports of this bug for a long time.

[2015-07-27 22:33] #3296 closed, assigned to nobody

[2015-07-28 02:37] dborbon opened #5678 "Google Calendar task integration failure"
I love the idea of integrating tasks on Google Calendar with the app, however, every time I create a new task, a pop-up appears that says something like, "I thought you were done with that :(" and it takes health away. This is a problem because these are tasks that I have NOT already done, though there may be tasks that I may repeat from time to time, like a chore. My suggestion, is that the featu

[2015-07-28 02:52] Alys commented on #5678
Are you using the [Chrome Extension](http://habitica.wikia.com/wiki/Chrome_Extension) for integrating your tasks? If so, I'm very sorry but it is no longer supported. We don't have enough developers to be able to continue to work on it while also doing everything that needs to be done on HabitRPG and its mobile apps.

If you're using something else to achieve the integration, you'll probably need

[2015-07-28 04:11] crookedneighbor commented on #5677
Thanks for reporting it, I've copied your text and opened an issue on the ios repo here: https://github.com/HabitRPG/habitrpg-ios/issues/134

Feel free to comment there or subscribe to the issue if you'd like to keep track of the progress.

[2015-07-28 04:11] #5677 closed, assigned to nobody

[2015-07-28 04:12] crookedneighbor commented on #5465
Copied from https://github.com/HabitRPG/habitrpg/issues/5674

[2015-07-28 04:13] crookedneighbor commented on #5674
I've copied this report here where we're keeping track of these issues: https://github.com/HabitRPG/habitrpg/issues/5465#issuecomment-125432854

Feel free to subscribe to that issue to track the progress of this.

[2015-07-28 04:13] #5674 closed, assigned to nobody

[2015-07-28 04:24] crookedneighbor commented on #5465
@Jazzis18 @Anatolt I've just updated the strings on the site. Are you still getting that error?

[2015-07-28 04:27] rjpursley opened #5679 "Uncompleting a completed task"
ID affected: 49920c2d-065c-45e0-8df1-f4c85a1289cd

I recently uncompleted a task that I was trying to click on for the Backstab skill that accidentally completed the task out instead. Once I undid my mistake it said minus double xp(that's fine it was my bad). But looking at my ex it says -1500 xp. That's not accurate by 1200 xp. Can this get fixed please?

[2015-07-28 04:34] Alys commented on #5679
You can adjust your stats using Settings -> Site -> [Fix Character Values](http://habitica.wikia.com/wiki/Fix_Character_Values).

Let us know if you have any problems with that!

[2015-07-28 04:34] #5679 closed, assigned to nobody

[2015-07-28 04:39] LittleMupsMum commented on #4252
Okay.  This is not a few at a time sorry!  Our party apparently keeps good logs.  Our record of participation in the Golden Knight quest is here: https://trello.com/c/O9zkW7Eo/35-24th-july
I promise this is not the whole party!

These are the remaining people in the list who ran Cron during the quest (I have screenshots of the Party Chat) whose profile shows the quest was never completed:

Elevade

[2015-07-28 05:10] Anatolt commented on #5465
@crookedneighbor yep, it still here

[2015-07-28 08:13] Jazzis18 commented on #5465
@crookedneighbor yeah, it still here

[2015-07-28 08:49] Alys commented on #4252
@LittleMupsMum That's very thorough! All at once does make it a bit easier for me. :)

I've given the quest rewards to all of the people you listed, in all groups. Let me know if any of the rewards haven't shown up (they should reload if they don't see the rewards at first), or if there's anyone else to be done.

We aren't concerned if any of them had already gotten the rewards and now have double

[2015-07-28 09:58] Jazzis18 opened #5681 "Username superimposed on a chat message"
In any chat, a username superimposed on a chat message, if it has a slider.

![2015-07-28_145146](https://cloud.githubusercontent.com/assets/4019829/8928537/8e684a9c-3538-11e5-8079-3bd5b030c6e2.png)

My UserID: `ca1d308f-49db-460b-b3dd-e321cfc2e9aa`
Browser: Chrome 44.0.2403.107 m
OS: Windows 7 Ultimate x64

[2015-07-28 10:02] Alys commented on #5681
It's meant to be like that as soon as you start scrolling down.

Is it like that before you've scrolled?

[2015-07-28 11:16] janetmango opened #5682 "When Unchecking Dailies, Checkmark Remains"
This has been a recent development (last 3 or 4 days?) that when I uncheck a Daily (usually a Wishing Well Daily), the checkmark remains until I sync or mark another task. When unchecking, the XP, gold, and mana all reverse correctly and it will turn back to blue if it's a due Daily, but the checkmark remains which makes it difficult for me to quickly tell if it has been completed or not.

UserID

[2015-07-28 11:24] Jazzis18 commented on #5681
Before scrolling all right.
![2015-07-28_162230](https://cloud.githubusercontent.com/assets/4019829/8930176/0e48ad36-3545-11e5-854e-c1b23c5eee51.png)

[2015-07-28 12:57] crookedneighbor commented on #5465
@Anatoit @Jazzis18 I've found the offending string on Transifex and fixed it.

@lothrus I've fixed your string as well.

Both should be live on the site after  refresh.

[2015-07-28 13:00] crookedneighbor commented on #5465
@andressabertolini for some reason the crossbow text never did get updated :disappointed: I've fixed it just now and will deploy the change soon.

[2015-07-28 13:02] lothrus commented on #5465
@crookedneighbor I'm a translator at Transifex for portuguese language. There is something i can do to fix if i see another one or anything i should avoid doing to dont bug it?

[2015-07-28 13:05] crookedneighbor commented on #5465
@lothrus Most of these bugs come from mistyped variables.

IE, if the english string contains `<%= int %>` and a translation renders it as `<%=int%>` or <% = int %>` or `<%= int>` or any similar combination, it'll throw this error.

I'm working on a script that will identify these problems and email the appropriate people to correct it so it can be fixed _before_ the code is deployed.

[2015-07-28 13:14] lothrus commented on #5465
Good to read that. I will pay attention to it when reviewing. Thank you

[2015-07-28 14:04] gaballison commented on #2805
I'm a rogue and this started happening to me two days ago on the [Wail of the Whale](http://habitica.wikia.com/wiki/Wail_of_the_Whale) quest:
![habit-double-01 2](https://cloud.githubusercontent.com/assets/12204283/8932796/49246400-350d-11e5-99f3-1d87d73a52cb.png)
I thought at first it was just a glitch in the chat but it happened again yesterday, which helped us to finish the quest sooner and now

[2015-07-28 15:00] Jazzis18 commented on #5465
Now all right :) Thank you.

[2015-07-28 16:24] Alys commented on #2805
@gaballison Thanks for all the details! I would be interested to know if it
still happens if you have only one tab open overnight.

For the collection quest items, does the count of total items found in the
quest box show the double progress (16 and 18 items, rather than 8 and 9)?

Have you noticed any other signs of cron running twice, such as twice as
much damage as you were expecting or twice a

[2015-07-28 16:38] littlezildjian commented on #2805
@Alys I am still having the same problem (original post June 3 on this thread) as @gaballison, and am doing a collection quest right now. For me it shows the progress twice (8 and 8) rather than double (16). In past boss quests, I do take twice the damage as well. I did also get a ton of Mana this morning...a lot more than usual...so it looks like I got Mana twice.

I typically have the app open a

[2015-07-28 16:41] gaballison commented on #2805
@Alys I usually only keep one tab open overnight, not 2, so it may not be that after all. I just am usually too lazy to actually shut the whole machine down at night so I just close the lid and leave it be. :smile:

I admit I didn't pay close enough attention when we were doing a boss damage quest to see if it did do twice the damage, but I'm assuming it did because we finished the quest more quic

[2015-07-28 17:05] Alys commented on #5681
Thanks @Jazzis18.

The name appears over the text as you scroll down so that you can still see the author.

[2015-07-28 17:05] #5681 closed, assigned to nobody

[2015-07-28 19:46] woodroof commented on #5465
Hover on item in Rewards section, Russian.
![bug](https://cloud.githubusercontent.com/assets/5821956/8941759/5afbc9d0-3593-11e5-8196-6f1c09bc7053.png)

[2015-07-28 21:35] rhondan opened #5684 "Everything is pulled up"
All the drop boxes are dropped, there's a wrong aviator and it generally looks glitchy...

[2015-07-28 21:42] Alys commented on #5684
Please reload the page.

[2015-07-29 00:02] JenniferMartin opened #5687 "'Invite Party' Button Not Working"
When trying to start a new quest, I click on the 'Invite Party' button, it animates with a key press, and then nothing happens. I can click many, many times, and still there's no response, making it impossible to start the quest. The 'Cancel' button works, and I can also close the quest window by clicking in the gray area around it.

It is not giving me an error message; it simply doesn't respond.

[2015-07-29 00:16] saferg commented on #4252
@Alys you seem to be the one fixing up all the missed quest rewards, we recently missed out on our quest rewards for Vice Part 2, where you have to collect 45 crystals.  We had 3 party members working on it, and we've confirmed 2 of us didn't receive anything, but it shows as complete in the chat log. We also just started another quest in the meantime so hopefully that doesn't complicate this.

I

[2015-07-29 00:52] crookedneighbor commented on #5684
This behavior is consistent with not having the most recent code changes, so reloading your browser should fix it.

Going to close this, but if reloading the browser does not fix it, please reopen it.

[2015-07-29 00:52] #5684 closed, assigned to nobody

[2015-07-29 01:30] TheHollidayInn commented on #4936
Hello,

`Images not loaded within 1200 seconds. Timing out script.`

I tried running `grunt sprite` today to complete this, but I am getting timeout errors. They seem to look similar to these:
- https://github.com/Ensighten/grunt-spritesmith/issues/66
- https://github.com/Ensighten/spritesmith/issues/30

So, I increased the timeout

[code]

But, it doesn't seem to help. When I remove some sprites,

[2015-07-29 01:47] Alys commented on #4936
Try (from memory):
db.users.update({"_id":"b9ebe58f-6ddc-4567-b941-96c5cc28ba31"}, { "$set": { "items.quests.vice2": 2}})

[2015-07-29 01:54] scribblypanda commented on #3324
Does anyone happen to know how to check if a user has a pet or not? I'm currently trying to run an if statement that changes a counter if a pet exists, and I'm not quite sure if `if 'user.items.pets["#{pet}"]'` is doing what I want it to do

[2015-07-29 02:01] crookedneighbor commented on #5687
Thanks for reporting this. I've replicated the problem and am working on a fix now.

[2015-07-29 02:08] nataliechan commented on #3324
Does anyone happen to know how to check if a user has a pet or not? I'm currently trying to run an if statement that changes a counter if a pet exists, and I don't think that
`if 'user.items.pets["#{pet}"]'`
is doing what I want it to do.

I'll try to post a PR shortly so my code (not much is changed!) is visible in case it helps. Thanks in advance!

[2015-07-29 02:15] crookedneighbor commented on #5687
Fixed with https://github.com/HabitRPG/habitrpg/commit/442c1f358bb8a5d122272bf821c29b2a4b548a1b

Should be fixed now. Sorry for the inconvenience.

[2015-07-29 02:15] #5687 closed, assigned to nobody

[2015-07-29 02:36] JenniferMartin commented on #5687
Thank you very much for getting to this so quickly!

It is indeed working now.

[2015-07-29 03:19] mollmoll commented on #5611
Hi Alys,

The past two crons, my damage to and from the boss (Octothulhu) have tallied twice (at the same time). This has affected both me and my quest-mate.

My User ID is 6d09777c-2f34-4797-b9e1-65f8eb2f6104

All my devices are in EST and all times are set by servers.

I use HabitRPG, Chrome, Android (full site, not app), Windows and occasionally Linux.

Please let me know what other information

[2015-07-29 03:53] shawnajean opened #5689 "Checked task won't dismiss"
I've got three items that won't dismiss from my To-Do list. They also haven't turned dark red like the other items around them of the same age.

![screen shot 2015-07-28 at 10 46 18 pm](https://cloud.githubusercontent.com/assets/775884/8949560/e20d9fe8-357a-11e5-8bb9-17a5dad13452.png)

When I check them, I'm awarded the coins and any drops, but then the item reappears (sometimes not until after a

[2015-07-29 04:03] carolstone commented on #4488
I've got it working and I really don't like this solution. I see two problems with it. First of all, it breaks the [8-days a week challenge](https://habitrpg.com/#/options/groups/challenges/7fffa2f4-6e45-4232-b061-f814c448fa17) by making one day last up to 47 hours. Second, cron will run an hour apart if you set your day offset from 23 to 0.

I thought I should make up a spreadsheet proposing a di

[2015-07-29 04:31] Alys commented on #4488
@carolstone In your pull request, could you please edit the title and enter "Fixes #4488"? That will create an automatic link between this issue and the pull request.

I'm not too concerned about breaking that challenge. The challenge is used by only 30 people, and this cron problem affects many more users than that.

We would definitely like to see details of your proposal, but keep in mind that

[2015-07-29 11:35] LittleMupsMum commented on #4252
Thanks very much @Alys.  Good luck finding the bug :)

[2015-07-29 11:40] MerelKS opened #5690 "Cannot add checklist to task in IE 10 - hitting enter redirects to another page or shows recent notifications"
I can only add the first checklist-box. When I hit [enter] to make the next checkbox, I am redirected to the subscription page of habitrpg.
It sometimes helpes, to save the To Do (without checklist), run a manual sync, then try to add the checklist. Doesn't always work.
I had the same problemen earlier, but [enter] would show/hide the menu bar at the top of the site.

My Used ID is e0ddf4e7-19bd-4

[2015-07-29 12:07] Alys commented on #5690
@MerelKS Can you remember approximately how long this has been happening for for both the redirection to subscription and the show/hide of the menu bar?

[2015-07-29 12:16] MerelKS commented on #5690
@Alys  I remember the show/hide menu bar from two weeks ago.
The redirection to subscription has happened this week. They seem to be happening one or the other. I haven't had them at the same time.
Also, this mostly happens on my work-pc wich has IE on it. It has happened on my own pc as well, where I use Chrome.

[2015-07-29 12:18] Alys commented on #5689
Note to devs:
There are 17 To-Dos ID numbers that each belong to two To-Dos (i.e., duplicated To-Do IDs).

@shawnajean Can you remember how long this has been happening for?

To fix it, first go to the "Done" tab of you To-Do column and click on the "Delete Completed" button at the bottom. This will permanently delete To-Dos that you have completed, so if you want to keep a record of them, [export

[2015-07-29 12:23] Alys commented on #5682
Confirmed in Chrome on Mac OS, although the tick mark disappears as soon as I click on something other than the task, like the page background.

@blade @SabreCat Do you know of any changes in the past few days that might have caused this?

[2015-07-29 12:30] Alys commented on #5690
We deleted the show/hide menu feature several days back, so that's probably why it switched to redirecting you to the subscription page. Not that that makes it any less weird. :-/

We'd like to know if there's anything in the JavaScript Console in Chrome when this happens, although if it doesn't happen often in Chrome, it could be hard to find any error messages there. However, it's worth trying a

[2015-07-29 12:38] crookedneighbor commented on #5682
This is related to the recent change to make tasks keyboard accessible. Basically, when a checkbox input is in focus state (such as selecting it with the tab key, vimium, or just checking or unchecking it), it'll show the check mark on the task. This is to show the user which task they are on. An unintended side effect of this is that when you uncheck a task, it puts the focus on that current task

[2015-07-29 12:40] Alys commented on #4252
@saferg I've given the rewards to you (0f7247be-04a6-4ef5-bd9d-9acd7bb7392d), Hayden TBM (46f64e3f-e88c-40ab-858c-6d041d01ff3d), and Mr. Bazooka (d70f42e0-5fe9-47d6-be17-10dbf25279e1). Let me know if they haven't appeared! Reload first if you don't see them.

[2015-07-29 12:41] crookedneighbor commented on #5690
@MerelKS Can you tell us which version of Internet Explorer you are using?

[2015-07-29 12:47] Alys commented on #5611
@mollmoll Your problem is an example of this bug: https://github.com/HabitRPG/habitrpg/issues/2805. You can subscribe to notifications from that issue if you wish, although we're not at all certain what causes this so there's unlikely to be a fix soon. I'm sorry I can't give you better news. :(

@Thunderhawke Are you still having that problem? If so, can you post a screenshot of the quest damage m

[2015-07-29 13:17] Thunderhawke commented on #5611
I am doing ok on this issue now, doesn't seem to be an issue right now.

---

Andrew Natenshon
Mobile: +1-617-335-6240
ATN123@GMAIL.COM

On Wed, Jul 29, 2015 at 8:47 AM, Alys notifications@github.com wrote:

[2015-07-29 13:22] MerelKS commented on #5690
@Alys  I wil try to add some checklist-times with the console open in a few hours, when I'm back home. For @crookedneighbor  I am using IE version 10.0.9200.17377 at work.

[2015-07-29 17:34] SabreCat commented on #3324
Because we display pets with a status of `false`, you'll want an existence check, not a truthy check. Something more along the lines of `if typeof user.items.pets[pet] !== 'undefined'`

[2015-07-29 17:38] MerelKS commented on #5690
On my home computer with Chrome, I do not have any problems currently.

[2015-07-29 17:46] crookedneighbor commented on #3324
@SabreCat see my comment here: https://github.com/HabitRPG/habitrpg/pull/5688#issuecomment-125818873

Chime in if that doesn't make sense to you.

[2015-07-29 18:27] marrowmalk commented on #1471
I've been getting this error when trying to join a guild challenge for almost a week now — I've waited hours/days between trying again and it's still happening, unfortunately. The challenge in question is here: https://habitrpg.com/#/options/groups/challenges/b0060b72-9b8c-48cc-bc32-c326351c5b7f

[2015-07-29 18:40] jacornis opened #5691 "Incorrect damage first rollover after accepting quest."
Every time I have accepted a quest, it seems that on the first rollover night I give/get the normal amount of damage, but then a few hours later another rollover is calculated. Since this is around 4 AM, I haven't done most of my dailies and massive damage is dealt. I do use both the android and desktop apps. See logs from party below (I'm Jacqueline Cornish):

![image](https://cloud.githubusercon

[2015-07-29 18:46] Alys commented on #5691
Please check that your PC(s) and phone(s) and tablet(s) are all set to
EXACTLY the same time and timezone.

[2015-07-29 19:03] jacornis commented on #5691
This is definitely the issue. I've been having trouble with the timezone on different apps on my phone for about a year now. I'll just avoid using the mobile app while I'm doing quests from now on until I get a new one. Thanks for the help!

[2015-07-29 19:03] #5691 closed, assigned to nobody

[2015-07-29 19:25] shawnajean commented on #5689
Thanks for the quick response @Alys! Deleting the completed To-Dos did let me complete the tasks, so it seems fixed on my end!

I'm not sure how long it's been happening, but I do remember several duplicate tasks in the list around the time I added these ones. It was a bit ago.. I thought that I had added the doubles, cuz I do that sometimes, so I'm sure I changed the text on a few of them to diff

[2015-07-29 20:36] diogoalves commented on #5465
1. Language: Brazilian Portuguese
2. Where: in front page, inside help text of "Hábitos, Tarefas diárias, Afazeres, Recompensas"
3. just clicked in ? button
4. screenshot
![captura de tela 2015-07-29 as 17 33 58](https://cloud.githubusercontent.com/assets/326518/8969225/52dc4d58-3618-11e5-8966-8ae49b406a5e.png)

[2015-07-29 20:57] lemoness commented on #3324
A little worried about how this might affect site revenue from
completionists who are buying the quest pet scrolls. What if we showed one
extra row of empty paw prints with a message about Quest Pets to indicate
that there are more?

So if you have no quest pets, it would show the row of empty paw prints; if
you hatch a seahorse, you would have the seahorse row, followed by the row
of empty paw pr

[2015-07-29 21:36] Alys commented on #3324
That's a good point about completionists - I should have thought of it myself since I am one.

@scribblypanda If you're not sure how to achieve that, start by getting it working exactly as intended initially (hide all rows for which you don't have any pets), and then we can give advice about adding one empty row.

@lemoness In a future PR, we could perhaps add an illustration of each of the missin

[2015-07-29 21:39] Alys commented on #5689
@shawnajean Thanks for letting us know!

If it happens again, we would REALLY like to hear about it, even if you're able to fix it yourself. You could comment again here or in a new issue, as you prefer. We think we fixed the problem that allowed this to happen, so I'm hoping that your duplicates were created before that fix, and that you won't see it again.

[2015-07-29 21:39] #5689 closed, assigned to nobody

[2015-07-29 21:41] Alys commented on #5691
@jacornis Thanks for letting us know!

Note that even when you're not on a quest, it's likely that [cron](http://habitica.wikia.com/wiki/Cron) is still running twice every day to damage you for your incomplete Dailies, it's just harder to tell that's happening when you don't have the quest messages to see the duplicates. However we're planning a change to cron that might help with this. I'm not su

[2015-07-29 22:43] fogbank opened #5693 "Banner "You're resting in the inn" above Dailies doesn't appear/disappear when checking in/out from the mobile apps or API"
As stated in the title, when I choose to rest in the inn from web and check out from the mobile app, the yellow banner "You're resting in the inn!" above the dailies list doesn't disappear as it should.

Steps to reproduce:
1. Check in the inn from web
2. Go to the tasks web page
3. Use the mobile app to check out from the inn
4. Reload the web page

The character is correctly awake, but the yello

[2015-07-29 23:10] Alys commented on #5693
Thanks @Roberto! Which mobile app do you use - Android or iOS "HabitRPG"
(which has a chest logo) or iOS "Habitica" (purple gryphon)?

You can probably fix this by resting and unresting from the Tavern on the
website.

[2015-07-29 23:22] fogbank commented on #5693
I'm using the Android app.

Yes, resting and unresting from the website fixes it. Mind you, it's really a very minor bug, it didn't cause any particular problem.

[2015-07-29 23:37] Simmiah opened #5694 "Cannot login into habitca.com using FB auth due to domain change"
Went to habitica.com and tried clicking login/register with facebook on opera/chrome.
Got this error message from FB.
![fb_login](https://cloud.githubusercontent.com/assets/4175038/8972509/c94315c0-360f-11e5-8f1a-7c1c42d2cb1c.png)

User ID: e5f755ba-d5d0-4012-8c47-e9be3a6945fa

I worked around this by making a local auth but I like lazy logins :laughing:

[2015-07-29 23:58] Alys commented on #5694
@Simmiah Thank you very much for taking the time to report this, even after you'd worked around it! That bug is very important for us to know about! :heart:

[2015-07-30 00:02] arthurvasconcelos opened #5695 "Overflow sort stage buffered (challenges list)"
When i try to load the list of challenges i receive this error. I already reload the page but the error persists.

Screen:
![error](http://i.imgur.com/0EyDUKQ.png)

[2015-07-30 01:23] crookedneighbor commented on #5695
This is a duplicate of #4132. Going to close this, but you can track the progress their by clicking the subscribe button.

Usually this bug happens when you're part of a guild that has a lot of challenges, but it's usually temporary. Reload your browser and try again and see if that makes a difference.

[2015-07-30 01:23] #5695 closed, assigned to nobody

[2015-07-30 01:24] gisikw commented on #5694
@Simmiah Thanks for bring this to our attention. I believe the issue should be resolved now :) Please feel free to reopen this if you're still encountering issues!

[2015-07-30 01:24] #5694 closed, assigned to nobody

[2015-07-30 01:37] #4577 closed, assigned to nobody

[2015-07-30 01:39] #2885 closed, assigned to nobody

[2015-07-30 01:40] crookedneighbor commented on #3455
The old app is no longer supported. Please try out the new https://itunes.apple.com/us/app/habitica/id994882113?mt=8

[2015-07-30 01:40] #3455 closed, assigned to nobody

[2015-07-30 01:41] #3411 closed, assigned to nobody

[2015-07-30 02:32] nataliechan commented on #3324
Thanks @crookedneighbor , @SabreCat for coding input - will try to not forget about MVC type tyings again!

@Alys at this point, I'm trying to just get rows that you don't have any pets for hidden, _then_ figure out how to just do that for quest pets (not normal pets), _then_ I'll come back and see how to go about adding an empty row/whatever ends up being decided on, if that's okay (: There's a r

[2015-07-30 02:43] mollmoll commented on #5611
Thanks, Alys! Mollmoll

[code]

 I am doing ok on this issue now, doesn't seem to be an issue right now.

---

Andrew Natenshon
Mobile: +1-617-335-6240
ATN123@GMAIL.COM

On Wed, Jul 29, 2015 at 8:47 AM, Alys notifications@github.com wrote:

[2015-07-30 02:49] Alys commented on #3324
@scribblypanda That sounds good! You're right that this is a good one to practice on. And you're doing fine; that thing with the lack of access to the user object was far from obvious to a new coder. :)

[2015-07-30 03:01] #5611 closed, assigned to nobody

[2015-07-30 03:23] lothrus commented on #5465
@diogoalves I've fixed that string on Transifex, will be deployed soon. Thank you.

@crookedneighbor There is a way to request a deploy of the offending string or we just wait after fixed on Transifex?

[2015-07-30 03:54] crookedneighbor commented on #5465
if it gets reported here, I try to deploy after it gets fixed, so I'll do that tomorrow. Just commenting here saying you've fixed it is great.

[2015-07-30 06:03] TheRealQA2 opened #5696 "To-Do score rises every cron, despite not doing tasks that day"
For the last few days, each day my to-do score has been rising by a few hundred points. I've done a few small things some of those days, but definitely not enough to warrant this kind of rise, given that I also have some overdue tasks that should be dragging it down.

I'm kind of wondering if possibly one of my really overdue tasks has actually gone so far negative that it wrapped around, if the d

[2015-07-30 06:41] Alys commented on #5696
I'm not sure it's possible for a task value to get that large, but you can see your own task values by doing a [Data Export](http://habitica.wikia.com/wiki/Data_Export) or from HabitRPG's Data menu -> Data Display Tool ("Task Overview" section).

The tasks schema is at https://github.com/HabitRPG/habitrpg/blob/develop/website/src/models/task.js where you can see that the value is a [Number](https:

[2015-07-30 08:42] FeralemTau opened #5697 "Triple boss attacks in a day"
I've got a serious issue with my party. There were three boss attacks by me:
"Feralem Tau attacks The Iron Knight for 14.4 damage, The Iron Knight attacks party for 49.4 damage." 07/30/2015 00:19:33, local time - 07/29/2015 23:19. Visited HabitRPG from a laptop, Windows 7, Google Chome 44.0.2403.107 m
"Feralem Tau attacks The Iron Knight for 20.6 damage, The Iron Knight attacks party for 0.0 damag

[2015-07-30 09:24] Alys commented on #5697
@FeralemTau Please check the time and timezone on all the devices that you use HabitRPG on. Are the time and timezone EXACTLY the same on all of them?

Do any of them have any problems with the clock being inaccurate or resetting itself?

Have you changed the time or timezone on any of them in the past day?

Have you changed the [Custom Day Start](http://habitica.wikia.com/wiki/Custom_Day_Start) s

[2015-07-30 09:55] Gwillewyn opened #5698 "Skeleton Dragon Mount is standing in front of avatar"
User-ID: 6e28bf49-0dd3-47b7-9a32-e4785acad894

Both in my browser (Firefox 39.0, on Windows 8) and on my phone (Android 4.4.2), my Skeleton Dragon Mount is standing in front of my Avatar, blocking it almost completely from view.  It's been like that for days.
![infront](https://cloud.githubusercontent.com/assets/7745263/8980514/8ccf35a4-36b1-11e5-96e1-7aa23f85ff62.png)

![2015-07-30 09 47 03](http

[2015-07-30 09:58] Alys commented on #5698
Yes, that's how it's meant to be. You're riding on the back (on the spine) of the skeleton. Its head and shoulders are in front of you (as for all mounts), as is one of its wings. It's the same for the other dragon mounts: http://i.gyazo.com/8d7b9e9b2d765e81d214abfca62b20ed.png

[2015-07-30 09:58] #5698 closed, assigned to nobody

[2015-07-30 13:29] KiwiBA commented on #5454
I had the same problem as wrenns. it happend two times (not with the same item, but with another) that i had after a few minuits or so another item of the enchanted armoire.
its no problem for me, but i thought i should write it...
if you need, my ID is: 6b914d15-4f51-4d03-ae2f-f886f31f188a

[2015-07-30 14:00] arthurvasconcelos commented on #5695
Thank you, I will follow from there! =D

[2015-07-30 19:58] gaballison commented on #2805
Sorry to spam this thread but now it's counting my damage three times:
![habit-triple-edit](https://cloud.githubusercontent.com/assets/12204283/8993474/682620d8-36d3-11e5-9577-a24e4b941dae.png)
We've started a new quest and now have a third member with us so I wondered if that's why I'm now doing damage three times instead of just two. It is definitely applying my damage 3x, too. For what it's wor

[2015-07-30 22:00] Kathryn-the-Writer opened #5700 "Gems randomly disappearing?"
On July 20, I contributed $5 via Google Play and got 20 gems. 10 of them I spent that day. The other 10 gems have been sitting in my account since then.

This afternoon it says I have 8 gems. I haven't bought anything since the 20th, so I should still have 10, right? But both the Android app and Chrome are now showing that I have 8 gems.

Any ideas? :-)

Thanks,

Kathryn the Writer
User ID: 781278

[2015-07-30 22:15] Alys commented on #5700
@Kathryn-the-Writer I've downloaded a recent backup of the database so that I can examine your account before and after the gem loss. It might take a bit of time but I'll get back to you.

[2015-07-30 22:53] TheRealQA2 commented on #5696
Ok. I checked out the <value> elements and everything seems more or less in order, so that is not the problem.

My total To Do score jumped another 300 points last night, though, for no To Dos checked off, so there is definitely a bug somewhere.

Date: Wed, 29 Jul 2015 23:41:23 -0700
From: notifications@github.com
To: habitrpg@noreply.github.com
CC: QA_2@hotmail.com
Subject: Re: [habitrpg] To-Do s

[2015-07-30 23:38] bean5 opened #5701 "Some references to HabitRPG still exist"
navbar-brand used at https://habitica.com/static/community-guidelines is one location that can be quickly fixed (doesn't have to wait for icon/image updates).

[2015-07-30 23:41] Alys commented on #5701
Thank you but we're handling all these changes behind the scenes with automatic updates and other processes. :)

It might take a little time for all mentions of HabitRPG to be changed. See the Bailey messages for updates!

[2015-07-30 23:41] #5701 closed, assigned to nobody

[2015-07-30 23:42] bean5 commented on #5701
Awesome!

[2015-07-31 00:00] ghost opened #5702 "Login button does not work on iPad"
The new Habitica splash page does not work on my iPad (iOS 8.4, Safari). The login buttons change colour when you tap them but don't do anything else. Pretty sure this was a problem when this splash page first went up on HabitRPG too way back when it was introduced.

[2015-07-31 00:03] ghost commented on #5702
It does, however, work on Chrome on iOS.

[2015-07-31 03:40] crookedneighbor opened #5703 "List of strings with Habitica in them - for translations"
Got this in the [Aspiring Linguists of Habitica guild](https://habitica.com/#/options/groups/guilds/7732f64c-33ee-4cce-873c-fc28f147a6f7) in response to me saying we'd do a mass update of the strings from HabitRPG to Habitica.

To assist in that transition, here are the strings that were changed:

[code]

[2015-07-31 03:45] crookedneighbor commented on #5702
This is a duplicate of https://github.com/HabitRPG/habitrpg/issues/5111

The weirdest thing is that it's only happening in a production environment. Haven't been able to figure it out yet, but it's next up on my list of things to fix. Thanks for reporting it.

[2015-07-31 03:45] #5702 closed, assigned to nobody

[2015-07-31 06:16] Babaachan opened #5704 "Kampfausrüstung; Verzauberter Schrank; "Viehzüchter Lasso""
I have obtained the item "Viehzüchter Lasso".

The item description says:

"Error processing the string. Please see help > Report a bug."

[2015-07-31 06:34] Alys commented on #5465
Kampfausrüstung; Verzauberter Schrank; "Viehzüchter Lasso" -- the Lasso has this bug in German. https://github.com/HabitRPG/habitrpg/issues/5704

[2015-07-31 06:35] Alys commented on #5704
Thanks @Babaachan ! I've copied your report to the issue we're using to keep track of this: https://github.com/HabitRPG/habitrpg/issues/5465
You can follow the progress there if you like, but it will be fixed in a day or two.

[2015-07-31 06:35] #5704 closed, assigned to nobody

[2015-07-31 10:05] dmhowcroft opened #5710 "Name still shows up as HabitRPG in password reset email"
The re-branding of HabitRPG to Habitica happened today, but the password reset email hasn't been updated yet.

Expected behavior:
1) Email will arrive from admin@habitica.com
2) Subject line will read "Password Reset for Habitica"

Actual behavior:
1) Email arrives from admin@habitrpg.com
2) Subject line reads "Password Reset for HabitRPG"

To reproduce:
1) Request a password reset from the login

[2015-07-31 10:20] Alys commented on #5710
Thanks but we've fixed that already. :)

[2015-07-31 10:20] #5710 closed, assigned to nobody

[2015-07-31 10:27] Alys commented on #5710
Note the URLs in the reset email are still pointing to the old site but they'll redirect. We'll get them fixed up soon. They use config variables that we need to change cautiously.

[2015-07-31 11:12] ghost commented on #5703
I have noticed that some strings still contain HabitRPG, for example string no. 1402 "The Habitica wiki can be considered to be a database of all things HabitRPG. " Should we leave it like that or change?

[2015-07-31 11:14] dmhowcroft commented on #5710
Ah, okay. Not fixed in the production version, though, I assume? (I received said email at 9:58 GMT.)

[2015-07-31 11:23] Alys commented on #5710
No, it's fixed in production. I did a test and the email had the Habitica name. It might have been after your email was sent.

[2015-07-31 11:42] dmhowcroft commented on #5710
Hm, alright. I can confirm that it now works for me as well. You guys must be fixing issues mighty fast!

[2015-07-31 12:20] Alys commented on #4538
This no longer happens and we see "remote:        Using default npm version: 1.4.28"

[2015-07-31 13:00] crookedneighbor commented on #5703
I figured out why that happened, the sed command I used just replaced the first instance of the string. I'm updating the rest now.

I've updated the list (rolled back my local install to before the change, so the strings up there will say HabitRPG)

[2015-07-31 13:49] ghost commented on #5703
Some links and emails still contain habitrpg, it concerns strings 587, 861, 927, 1104, 1331, 1722, 1777, 2048..... also, I'm MikotoYato, sorry if the message (the one above) sounded a bit bitchy, it wasn't meant like that, the lack of nonverbal ques is an enemy in a written communication, sorry if it sounded like that

[2015-07-31 13:50] crookedneighbor commented on #5703
I didn't take it that way at all, I appreciate the help!

[2015-07-31 13:59] joedragons commented on #5631
Maybe obvious but I think the first typo on your list has a typo.
"Successully instead of SuccessFully in two lines (77-78) of settings.json" I assume should be "Successfully instead..."?
Sorry if I'm confused.  Hope that helps otherwise!

[2015-07-31 14:07] crookedneighbor commented on #5703
Okay, I think I've gotten all of them and am doing a deploy now.

If you see any more on Transifex, let me know here.

[2015-07-31 14:27] johncostanzo opened #5712 "Trouble logging in through facebook"
Since the Habitica update, I cannot login through facebook. I click the "Login / register with Facebook" button, it opens up another Habitica page very quickly, and then closes. And then nothing happens.

[2015-07-31 14:35] Alys commented on #5712
Which browser are you using, including version number. Which operating system / mobile device are you on?

[2015-07-31 14:49] johncostanzo commented on #5712
Brower - Microsoft Edge 20.10240.16384.0
OS - Windows 10

[2015-07-31 14:51] Alys commented on #5712
Thanks! This is a duplicate of https://github.com/HabitRPG/habitrpg/issues/5428 so I'll close this issue now, but if you wish to, you can subscribe to notifications from that issue using the subscribe button in the right-hand column.

[2015-07-31 14:51] #5712 closed, assigned to nobody

[2015-07-31 14:52] Alys commented on #5712
If you have another browser available to you, the login should work in that.

[2015-07-31 17:39] SabreCat commented on #5696
@TheRealQA2: What do mean by "total To Do score"? Unless you're aggregating the task values via an extension, the site doesn't keep track of the total value across all To-Dos. Are you maybe referring to Experience, the gold bar with the star by it showing your progress to the next level? In that case, it should also be noted that overdue tasks don't drag anything down. Experience doesn't decrease

[2015-07-31 20:26] sgabler commented on #5676
I'd like to grab this task, if it's still available. Cloning the repository currently on a very slow 1 Mbps connection :turtle:

[2015-07-31 20:35] Alys commented on #5676
Please do! I still haven't had time to get to it. Thank you.

[2015-07-31 21:41] ander571 opened #5715 "I logged on today and my entire account was reset"
Hello I'm Mike and my API is 98093a44-9368-4555-950d-00983d9413f2

Today I went to get on habitRPG. When I loaded the site I wasn't automatically logged in (has happened before so no bother) i went to login but forgot my password. I reset it without a hitch. When I logged on I saw that my entire account had been reset I had lost my equipment, my gold, my character, my party everything I was level

[2015-07-31 21:51] Alys commented on #5715
This almost certainly means that you have two accounts.

Did you use a different email address to register another account?

Do you normally sign up with Facebook login?

I strongly recommend that you delete the account you're logged in to at the moment so that it can't cause further confusion. To delete it, go to https://habitica.com/#/options/settings/settings and click the red delete button.

[2015-07-31 21:53] swooping-is-bad opened #5716 "Did not receive my July 2015 subscriber items"
I never received my Rad Surfer item set. I have never had a problem getting the subscriber items in the past. The problem is occurring in Chrome, Safari, and the Habitica app, all on iPhone.

[2015-07-31 21:55] Alys commented on #5716
We'll need to be able to find your account to help you. Please tell us your User ID. To find out how to find it, click on Help -> Report a Bug and see the instructions there (step 6).

[2015-07-31 21:56] #5676 closed, assigned to nobody

[2015-07-31 22:07] swooping-is-bad commented on #5716
Sorry about that. Here's my user id.
5a4b4229-591c-47f4-ab7a-5c962998a285

Sent from my iPhone

[2015-07-31 22:10] sgabler commented on #5558
I'd like to try implementing it. But I have to agree that @GitHubSphinx's suggestion kind of makes sense. Maybe the name could be clickable, and there could be a button at the bottom. Best of both worlds.

The name would lead to the profile, whereas the button would only send a private message. What do you guys think?

[2015-07-31 22:11] ander571 commented on #5715
Welp you are right I'm stupid thank you very much

[2015-07-31 22:19] Alys commented on #5715
It's a common mistake. Don't worry about it. :)

[2015-07-31 22:19] #5715 closed, assigned to nobody

[2015-07-31 22:22] Alys commented on #5558
@sgabler Sounds good. Let's see what it looks like! :)  Feel free to ask here if you run into trouble or want advice about anything.

[2015-07-31 22:29] Alys commented on #5716
Your account shows that you do have them. You can see what they look like at [Mystery Item](http://habitica.wikia.com/wiki/Mystery_Item).

Please reload your Equipment page and look in the Mystery section. If they don't appear, log out, clear your browser's cache, close all browser windows, and then check again. If you still don't see them, please upload a screenshot of that section (drag it into

[2015-07-31 22:29] #5716 closed, assigned to nobody

[2015-08-01 00:23] TheRealQA2 commented on #5696
At the top of the ToDo column, there's the small histogram icon, which when clicked shows a line graph between the TODO column header and the tasks underneath. The mouse-over is actually "Progress" and not "score" so apologies for the terminology mistake. If it's still unclear what I mean I'll be happy to attach an image or post one to a hosting site and link. Thanks!

Date: Fri, 31 Jul 2015 10:39

[2015-08-01 00:25] TheRealQA2 commented on #5696
Oddly, now that I look at it, the mouse-over is tool-tipped with "progress", the graph is titled "history" and the blue square indicating what the line on the graph stands for is labelled "score". Might actually be worth putting in an intro-coders' issue to bring some consistency to the labels, given that it's creating confusion.

From: qa_2@hotmail.com
To: reply@reply.github.com
Subject: RE: [hab

[2015-08-01 02:04] teh-maxh opened #5717 "www.habitica.com is NXDOMAIN"
Expected behaviour:

[code]

Actual behaviour:

[code]

Suggested fix:

Add a DNS record for `www.habitica.com`. Personally, I would make the `A` records for `www.habitica.com` and `CNAME` `habitica.com` to `www.habitica.com`, but keeping the `A` records for `habitica.com` and `CNAME`ing `www.habitica.com` to `habitica.com` or (less optimally) adding additional `A` records for `www.habitica.com` w

[2015-08-01 02:29] crookedneighbor commented on #5717
Thanks, we'll get this fixed up soon.

[2015-08-01 06:50] The-Raggamuffin opened #5718 "Can't Leave Party I Created"
My User ID is: 3e5fd45a-ab0d-4520-9fc3-9fc81f6a313a
Can someone please help me to shut down this party (9412287c-488d-4fc8-aea7-cb2bc6b7e61e).

I created it and was going to add a friend but he has already created a party with some of our friends in it so I tried to leave. When I tried I received this message:
"Please reload, "Error Runner error: Overflow sort stage buffered data usage of 34293652

[2015-08-01 07:09] Alys commented on #5718
I've deleted your party. If you reload your party page now, you should see that you're no longer in a party and you should able able to receive party invitations.

I'm closing this now, but if there's any problems, comment here and we'll keep helping.

For the record: there were no other people in the party and no quest.

[2015-08-01 07:09] #5718 closed, assigned to nobody

[2015-08-01 08:28] skybluefusion commented on #5348
Although the issues were resolved in general all the challenges I was participating in (which was too many) no longer showed in the list of "participating" so I had to search through the list of "all" challenges and re-join each and everyone of them in order to leave them. Unfortunately, there is one challenge I was never able to find and therefore have had a set of tasks I do not need nor want bu

[2015-08-01 10:25] Alys commented on #5700
@Kathryn-the-Writer I've given you two extra gems.

[2015-08-01 10:25] #5700 closed, assigned to nobody

[2015-08-01 11:06] ghost opened #5719 "Cannot delete tags on iPad"
Since the switch over to Habitica, I cannot delete tags on the iPad (iOS 8.4, Chrome). Nothing happens when I tap the garbage pail next to the tag. This worked on HabitRPG up until the switch.

[2015-08-01 11:18] bbaharan opened #5720 "Gibberish code (Math.floor(user.stats.exp) etc) on homepage / tasks page prevents viewing tasks AGAIN"
Hello dear colleagues,
Today, I tried to log on my account but I couldn't. Then I refreshed the page and I saw my task page blank with two red (health) and yellow (experience) bars on the top as in the attached picture. I tried all the ways suggested in a similar issue in the following link:
https://github.com/HabitRPG/habitrpg/issues/5473
I tried the app on my phone, but I cannot log in. My boyfr

[2015-08-01 11:25] ghost commented on #5719
Either something was changed or it was a glitch. Working now.

[2015-08-01 11:25] #5719 closed, assigned to nobody

[2015-08-01 11:53] Alys commented on #5719
We didn't change anything. It would have been a temporary browser problem.

[2015-08-01 14:02] crookedneighbor commented on #5348
@skybluefusion I've removed those tasks for you. Reload the site and double check that they are gone now.

[2015-08-01 14:02] #5348 closed, assigned to nobody

[2015-08-01 14:05] skybluefusion commented on #5348
Thank you very much. :) The tasks have disappeared.

[2015-08-01 16:39] bbaharan commented on #5720
I just realized that my account does not exist anymore. I tried to make an account with the email with which I submitted my account, it worked; so my account has been deleted! Why? First my account does not work properly and now it is deleted?! Help!

[2015-08-01 17:44] Alys commented on #5720
@bbaharan Your account has not been deleted. I have replied to the email that you sent to our admin address to give you a reminder of your username and the email address that you used when you created your account.

The email address that you used an hour ago to create a new account is not the same one that you used when you created your real account.

When you have logged in to your real account,

[2015-08-01 17:53] sgabler commented on #5669
@Jazzis18: One of the purposes of code blocks is to keep the formatting, so long lines are usually not wrapped (as far as I know). Why do you need the code block in the description, if you don't mind me asking?

It's definitely possible to wrap code here, the question is just if it wouldn't make more sense to just display the backticks `` here instead? Ideas?

[2015-08-01 18:14] bbaharan commented on #5720
@Alys
Dear Alys
It's OK now! Thank you so much!

[2015-08-01 18:15] Alys commented on #5720
no worries :) Thanks for letting us know!

[2015-08-01 18:15] #5720 closed, assigned to nobody

[2015-08-01 19:35] Jazzis18 commented on #5669
@sgabler A simple text selection. No more.

[2015-08-01 22:57] Alys commented on #5669
The conversion of backticks to code blocks is a standard part of markdown, so we should keep that conversion and not display the backticks instead.

It probably should wrap but that might be something controlled by the library we use (which is not to say we won't change it; it just might not be a simple change).

[2015-08-01 23:12] Alys commented on #2361
We now have information about tests in [Guidance for Blacksmiths](http://habitica.wikia.com/wiki/Guidance_for_Blacksmiths#Tests), and there's a lot of information about translations in [Guidance for Linguists](http://habitica.wikia.com/wiki/Guidance_for_Linguists), with pointers to that from readme files in the locales directories.

[2015-08-01 23:12] #2361 closed, assigned to nobody

[2015-08-01 23:30] Alys commented on #5697
I'm closing this because I think it's probably a time/timezone setting issue on one of the devices you use, but if you'd like us to keep investigating, please look into the questions in my previous post and let us know if none of them applied.

[2015-08-01 23:30] #5697 closed, assigned to nobody

[2015-08-01 23:40] Alys commented on #5693
The same problem occurs resting / un-resting using the API.

The message above the Dailies column can be made to appear / disappear as appropriate by reloading the website's tasks page, but it would be nice if it could change on a sync as the "Zzzzz" marker does.

I'm changing this thread's subject to this:
'Banner "You're resting in the inn" above Dailies doesn't appear/disappear when I checking

[2015-08-02 00:58] Jazzis18 commented on #5669
@Alys I see =)

[2015-08-02 00:58] #5669 closed, assigned to nobody

[2015-08-02 15:37] crookedneighbor commented on #5465
Lasso fixed with https://github.com/HabitRPG/habitrpg/commit/919c072b5d725fe464acc635fbd5f61128584262

[2015-08-02 18:00] SabreCat commented on #5696
Aha! OK, that does make a lot more sense. And a good point about the terminology--I'll paste your comment over into a new issue, for that.

Now that I understand the issue better, I agree, something is fishy. If no To-Dos were checked off during a day, I wouldn't expect the progress meter to rise.

[2015-08-02 18:03] SabreCat opened #5724 "Muddled terminology on To-Do progress graph"
Regarding the graph visible on click of the "signal strength" icon above the user's list of To-Dos, from a comment by @TheRealQA2 on #5696:

The several different labels at work on the progress graph make it hard to understand what you're looking at. Can we clarify this UI so the user has a clearer understanding of what's being tracked?
## <bountysource-plugin>

Want to back this issue? **[Post a

[2015-08-02 18:19] sgabler commented on #5631
I think the uppercase F was just meant to emphasise the change @joedragons. It should be `Successfully`, like you said

[2015-08-02 19:47] thebat137 opened #5725 ""Extra Notes" for tasks don't display correctly when hovering -- always see empty note"
I have a habit which has some "Extra Notes".  Up until today, when I hovered my cursor over the habit, these notes would show up in a little pop-up window.  The popup window still shows up on hover, but now it's empty.  There's an error message in my browser console which seems to be relevant, which I've pasted below (with the private content of my notes removed):

Error: [$parse:syntax] Syntax Er

[2015-08-02 20:15] crookedneighbor commented on #5725
What is the text of the habit so I can inspect it? If you'd like to temporarily change the text to something like "No Notes Habit", that's fine.

[2015-08-02 20:18] paglias commented on #5655
Should be fixed now

[2015-08-02 21:58] jclevine commented on #5725
I'm having the same issue.
User ID: a7726673-bc78-4d11-9684-586d7641af65

Apologize for the long stacktrace:

[code]

![habitica_hover_popup_error](https://cloud.githubusercontent.com/assets/134599/9028240/04e053c6-3940-11e5-8416-b66d089b57e0.png)

[2015-08-02 22:07] Alys commented on #5725
Also happening for me, with all three task types, even when the note contains a single word "test".

`Uncaught Error: [$parse:syntax] Syntax Error: Token '<' not a primary expression at column 1 of the expression [<p>test</p>] starting at [<p>test</p>].
http://errors.angularjs.org/1.3.9/$parse/syntax?p0=%3C&p1=not%20a%20primary%20expression&p2=1&p3=%3Cp%3Etest%3C%2Fp%3E&p4=%3Cp%3Etest%3C%2Fp%3E(an

[2015-08-02 22:08] Alys commented on #5725
Unfortunately, I have to go to work so I can't investigate further. :(

[2015-08-02 23:42] thebat137 commented on #5725
Confirming what others have said, even the note text "testing", with no newlines or special characters, has the problem:

[code]

The error message claims to come from the file `https://habitica.com/app-58f4074e.js`, line 4, column 23730.

[2015-08-03 00:53] crookedneighbor commented on #5725
I believe this is actually occurring for all popovers.

[2015-08-03 00:53] crookedneighbor commented on #5725
![screen shot 2015-08-02 at 7 53 36 pm](https://cloud.githubusercontent.com/assets/2916945/9028984/310caaac-3950-11e5-90bc-36a560e5588b.png)

[2015-08-03 02:49] crookedneighbor commented on #5725
I've fixed it and am deploying now. Seems like the bug was introduced by a bower component. Pinning to a specific version for everything fixed it.

https://github.com/HabitRPG/habitrpg/commit/475b868e678aec2946e3fc9e7cbbc3a6a1a46119

[2015-08-03 02:49] #5725 closed, assigned to nobody

[2015-08-03 03:10] carolstone commented on #4488
I thought I had this working. I _do_ have this working. But I set up a test with a quest. It turns out, if your daystart is set for 22 (10:00 p.m.) and you log in at 10:30 pm, cron runs. If you then update daystart to be 23 (11:00 p.m.) and push last cron to be 11:00 p.m. cron runs again and you get a message in your quest about it. I made sure it was setting it to 11:00 p.m. in the future, not in

[2015-08-03 03:19] #5703 closed, assigned to nobody

[2015-08-03 03:28] crookedneighbor commented on #5693
It's because there's a one-time binding on it: https://github.com/HabitRPG/habitrpg/blob/develop/website/views/shared/tasks/index.jade#L22

If you leave the tasks page and then return, it disappears. As far as I'm concerned, this edge case is fine. @alys if you feel strongly about it, just remove the one time binding marker.

If you do that, we may also want to think about removing one time bindin

[2015-08-03 11:07] habitrpguser opened #5726 ""HabitRPG" not changed to "Habitica" yet on https://habitica.com/static/api"
The [Swagger UI](https://habitica.com/static/api) still has HabitRPG instead of Habitica in its text.

[2015-08-03 11:13] gitobx opened #5727 "Cannot get gems after purchase"
I just bought 20 gems in the Habitica app (iOS) but didn't get any gems.  I'm sure that App Store charged me for it.

User ID:664063bc-78bc-4b00-864b-12d76739975c

[2015-08-03 11:17] Alys commented on #5727
Could you please email your App Store receipt to admin@habitica.com and include your User ID and a brief description of the problem? We'll handle it by email instead of here so that your personal financial details aren't displayed publicly.

[2015-08-03 11:17] #5727 closed, assigned to nobody

[2015-08-03 11:46] dgmagno opened #5728 ""Open new tasks in edit mode" does not work in Dailies"
The option doesn't work in single Dailies creation. (the new created task stays closed for edition)
The option works fine in single Habits and To-Dos creation. (the new created task stays opened for edition)
The option doesn't work in any multiple task creation. (the new created tasks stay closed for edition)

Tested on Google Chrome Version 44.0.2403.125 (64-bit)
## <bountysource-plugin>

Want to

[2015-08-03 13:47] #5558 closed, assigned to nobody

[2015-08-03 14:24] bean5 opened #5729 "Add toggle inside habitrpg that sets where emails come from"
Right now, it appears that the emails are set to come from messengers@habitrpg.com, but it isn't in the repo. So I can't submit a PR to fix this--if I could, I imagine the fix would be simple.

[2015-08-03 14:25] paglias commented on #5729
@bean5 thanks, the address is stored in the email server which is in a separate repo, I'll update it today

[2015-08-03 14:25] #5729 closed, assigned to nobody

[2015-08-03 17:11] teh-maxh commented on #5717
I don't want to be a bother, but this hasn't been forgotten, has it?

[2015-08-03 17:15] Alys commented on #5717
@teh-maxh No, it's not forgotten; we have things that are higher priority to work on.

[2015-08-03 17:19] teh-maxh commented on #5717
Alright, just wanting to make sure. 👍

[2015-08-03 17:40] RoseyMorearty opened #5730 "App Shows Veteran Wolf's Growth Bar + Feed Error"
On the Habitica app, clicking on your Veteran Wolf gives it a growth bar. When you click on it, it gives you the option to feed it, but if you try, it will give you a network error (Couldn't connect to the server. Check your network connection). This is incorrect because this error should be caused because Veteran Wolves cannot be fed. A growth bar does not exist for the wolf either so it should n

[2015-08-03 19:04] lemoness commented on #5682
A border might work, although it should be thin.

On Wed, Jul 29, 2015 at 5:38 AM, Blade Barringer notifications@github.com
wrote:

[2015-08-03 22:35] crookedneighbor commented on #5730
Thanks for reporting this. I've copied your issue to the iOS repo. If you'd like to track the progress of the bug, you can click the subscribe button in this issue: https://github.com/HabitRPG/habitrpg-ios/issues/144

[2015-08-03 22:35] #5730 closed, assigned to nobody

[2015-08-04 00:32] bagedevimo commented on #5446
I'd like to maybe have a go at this, if you're not still working on @mxrowanthomas?

[2015-08-04 02:29] kusold opened #5732 "Orphaned Dailies"
I have two dailies that I'm unable to delete via the website and API.

[code]

The "Transfer Google Music Playlists to Spotify" doesn't have an ID and doesn't show up in the website.
The "Goal a week post" seems to think it is both a daily, but it shows up as a completed "todo" in the website. Not sure what is going on there.

Can you please remove these two tasks from the database? My userid is:

[2015-08-04 02:59] crookedneighbor commented on #5732
I've deleted both of them.

[2015-08-04 02:59] #5732 closed, assigned to nobody

[2015-08-04 02:59] crookedneighbor commented on #5446
@bagedevimo It's been a month since @mxrowanthomas mentioned wanting to work on it. I say go for it.

[2015-08-04 03:08] #5726 closed, assigned to nobody

[2015-08-04 04:46] wilfredtee opened #5734 "Experience value exceeds experience bar limit"
Hi,

Today opened up website, experience bar value is higher than the experience bar limit:-

i.e. : 251 / 220

I've tried the following, it did not seem to fix the problem:-
1. logout, and then login
2. used a different browser
3. cleared cache
4. manually clicked on "sync"

see screenshot attached.

![image](https://cloud.githubusercontent.com/assets/13635683/9053384/d8ff6a22-3aa6-11e5-9367-42b4

[2015-08-04 04:54] Shadow53 commented on #5562
I fully support this plan. I'm in the same boat, with F-Droid as my only app store and a couple of apk downloads from the official sites of apps not (yet) in the F-Droid repos.

I have already opened a submission request in the F-Droid forums. There are no responses as of this comment, but you can find it [here](https://f-droid.org/forums/topic/habitrpg/). It would be really awesome if you guys co

[2015-08-04 05:07] Alys commented on #5734
Please see this issue for the explanation and fix: https://github.com/HabitRPG/habitrpg/issues/2433

[2015-08-04 05:07] #5734 closed, assigned to nobody

[2015-08-04 05:14] Alys commented on #5562
We're currently creating a new, native Android app, called "Habitica" rather than "HabitRPG". The old HabitRPG app will remain available for a while but will be deprecated and unsupported except for necessary bug fixes for significant bugs. Hence the old HabitRPG app should not be made available in the F-droid store.

I think it would be nice if the new Habitica app does become available there, bu

[2015-08-04 05:14] #5562 closed, assigned to nobody

[2015-08-04 05:16] Alys commented on #5562
@Shadow53 Could you please add a comment to the [F-droid HabitRPG topic](https://f-droid.org/forums/topic/habitrpg/) to link back to my previous comment?

[2015-08-04 07:32] sujunmin opened #5735 "Error processing the string in Season Limited Shop."
Siena Leslie
Error processing the string. Please see Help > Report a Bug.

In Season Limited Shop.

UID ac6fbe37-b0dc-40d8-ba14-77dde66fbfa8
Chrome 44.0.2403.89 (64-bit) Mac OSX 10.10.4

UI use translated Traditional Chinese

[2015-08-04 08:28] Alys commented on #5465
Copied from https://github.com/HabitRPG/habitrpg/issues/5735

[2015-08-04 08:29] Alys commented on #5735
Thanks @sujunmin ! I've copied it to this issue where we collate these problems: https://github.com/HabitRPG/habitrpg/issues/5465

[2015-08-04 08:29] #5735 closed, assigned to nobody

[2015-08-04 09:23] mxrowanthomas commented on #5446
@bagedevimo please do go for it. @crookedneighbor I've been unexpectedly overwhelmed with work as well as illness the past month, I will contribute once things are a bit quieter.

[2015-08-04 09:57] Alys commented on #4488
@carolstone Would you like us to have a look at the code, if you've made any changes since your last push? If so, you can push the modified code to your chron-run-early-issue-4488 branch and it will appear in your PR.

[2015-08-04 09:57] Alys commented on #5693
Thanks @crookedneighbor, I will do this. I think it's jarring enough that it should be fixed.

[2015-08-04 12:33] crookedneighbor commented on #5446
@mxrowanthomas Looking forward to your contributions!

[2015-08-04 13:17] #5682 closed, assigned to nobody

[2015-08-04 13:18] crookedneighbor commented on #5682
@lemoness a border looked funny to me. I ended up making the background slightly darker. Just noticeable enough to a user when tabbing through the tasks.

[2015-08-04 13:19] ghost opened #5736 "Negative experience in dashboard..."
<img width="158" alt="screen shot 2015-08-04 at 9 16 33 am" src="https://cloud.githubusercontent.com/assets/577460/9061421/a616d554-3a89-11e5-8809-26fd0ae4930a.png">

The score graph is positive.
<img width="313" alt="screen shot 2015-08-04 at 9 18 28 am" src="https://cloud.githubusercontent.com/assets/577460/9061463/d182ca18-3a89-11e5-9c8c-e4a52403e920.png">

[2015-08-04 13:56] habitrpguser opened #5737 "When guild / party leader leaves, next member doesn't automatically become leader until someone else leaves"
The [wiki](http://habitica.wikia.com/wiki/Guilds#Transferring_Guild_Ownership) says:

_"If the guild owner leaves without assigning a new leader, the most senior party member will be assigned the new leader automatically."_

... and that's probably how the code is supposed to work - but it doesn't. Actually, the guild leader change isn't triggered when the guild leader leaves (nor - if that leaves

[2015-08-04 15:22] orion1919 opened #5738 "Multiple consecutive identical drops"
I received about 6 consecutive dragon eggs while working this morning (literally back to back). I logged out, logged back in and died. I had been using habitica all morning, all party members had already logged in (so damage had been dealt), and still had plenty of health. No idea what caused me to die =(

[2015-08-04 16:56] teh-maxh commented on #5738
Please post your user ID; an admin will probably need it to look into what happened. You can find it on the [API settings](https://habitica.com/#/options/settings/api) page. Make sure to post the user ID, **not** the API token.

[2015-08-04 17:01] deilann commented on #5738
Actually, this is not unexpected.

Randomness allows this to happen. With so many users, it's not unsurprising
to have a user get six dragon eggs in a row. I've gotten four of the same
kind of drop in a row multiple times.

On Tue, Aug 4, 2015 at 9:56 AM, Max Harmony notifications@github.com
wrote:

##

Currently Reading
https://www.goodreads.com/user/email_signature_destination/35215676?utm_mediu

[2015-08-04 17:03] deilann commented on #5738
Sorry; didn't see the latter part of the ticket. Too early and going too much off the title, apparently! The drops are likely unrelated.

Do you use Habit on multiple devices?

Regardless, if you go to Settings (gear wheel) > Site and click the "Fix Character Values" button, you can patch yourself up to reverse the unfair death.

[2015-08-04 17:04] deilann commented on #5736
Did you un-check a task after leveling up?

If so, this is expected. We've considered reverting the level up, but have come to the conclusion that the ramifications of deleveling someone aren't worth having to work up through some negative XP.

[2015-08-04 17:07] crookedneighbor commented on #5736
Another option would be to prevent experience deduction from lowering below zero.

[2015-08-04 17:09] orion1919 commented on #5738
Oh awesome!! I didn't realize I could fix myself up. Thank you!!

I do use it across multiple devices (web and iPhone). I've noticed some odd things over the past few days with damage coming at times I couldn't explain. This morning was very different though. Thank you for the help!!

-Jonathan

[2015-08-04 17:14] deilann commented on #5736
Pretty sure we considered that as well, but didn't think it was a good
solution because the full value should be deducted.

On Tue, Aug 4, 2015 at 10:07 AM, Blade Barringer notifications@github.com
wrote:

##

Currently Reading
https://www.goodreads.com/user/email_signature_destination/35215676?utm_medium=reading_link&utm_source=email_signature
[image: Book Cover]
https://www.goodreads.com/user/em

[2015-08-04 17:14] crookedneighbor commented on #5736
It's such an edge case that I'd be okay with it.

[2015-08-04 17:15] deilann commented on #5738
No problem! It's probably related to using Habit on multiple devices. If
this has been happening more recently, I'd suggest trying to use only one
device for a bit and see if that reduces weirdness.

On Tue, Aug 4, 2015 at 10:09 AM, orion1919 notifications@github.com wrote:

##

Currently Reading
https://www.goodreads.com/user/email_signature_destination/35215676?utm_medium=reading_link&utm_source

[2015-08-04 18:15] SabreCat opened #5739 "Automate updating of Armoire test"
Currently, the tests for the Enchanted Armoire in `algos.mocha.coffee` have some components that need to be manually updated every time the Armoire is restocked:
- The `fullArmoire` object describing what a user's `items.gear.owned` should look like when they've emptied the Armoire
- The specific pieces of gear dropped when an equipment drop occurs

If the test could be restructured in such a way

[2015-08-04 18:44] Alys commented on #5682
Once it's live, we should check if the darker background is noticeable to users with visual impairments. Slight changes sometimes aren't. If it's not, a border might be better even if it looks a bit odd.

pinging @deilann

[2015-08-04 18:47] Alys commented on #5736
If you level up by accidentally ticking off a red To-Do with a checklist, the XP gain can be large, and if if was deducted only down to zero, you could end up with a significant amount of unearned XP. Negative XP is better. I've seen more users disturbed by unearned things in their accounts than by negative experience. @Archimage This isn't intended to dismiss your bug report. Let us know if deila

[2015-08-04 18:57] deilann commented on #5682
Just lemme know when it's live
On Aug 4, 2015 11:44 AM, "Alys" notifications@github.com wrote:

[2015-08-04 19:23] lothrus commented on #5465
@crookedneighbor Found another string with problem in protuguese translation, but i haven't found the problem at transifex. can you have a look please? Thank you.

![capture](https://cloud.githubusercontent.com/assets/2285976/9070244/db0faeb2-3ac4-11e5-9e48-1bf1ccb0f9fe.PNG)

[2015-08-04 20:11] AikidoJunky opened #5740 "Quest vanished"
1. I clicked on a quest in my inventory ("Attack of the Mundane, Part 1: Dish Disaster").
2. I clicked on Invite.
3. An error popped up (sorry I didn't write down the text, but I think it mentioned something about 'undefined').
4. Clicked on quest again, and was told it wasn't in my inventory.
5. Refreshed page.
6. The quest vanished from inventory, but I'm not on it.
7. Checking the Market again,

[2015-08-04 20:25] janetmango commented on #5682
@crookedneighbor The slightly darker background sound like a great idea. That would also differentiate it from the border that's used when we're casting spells on a task and help prevent confusion.

[2015-08-04 20:46] crookedneighbor commented on #5740
Can you check your party page and see if you are currently on the quest?

[2015-08-04 22:40] AikidoJunky commented on #5740
No quests listed on the Party page. Refreshed the page a few times to make sure.

On Aug 04, 2015, at 03:46 PM, Blade Barringer notifications@github.com wrote:

Can you check your party page and see if you are currently on the quest?
—
Reply to this email directly or view it on GitHub.

[2015-08-04 23:20] crookedneighbor commented on #5740
What's your User ID? You can find it in [Settings > API](https://habitrpg.com/#/options/settings/api). Be sure to only copy the User ID and _not_ your API Token.

[2015-08-04 23:42] crookedneighbor commented on #5465
@lothrus The problem is that the English string was updated to use a hardcoded link to the wiki so that translations could point to the language specific version of the article. However, it wasn't updated on Transifex yet, doing that now.

[2015-08-05 00:47] crookedneighbor commented on #5465
Going to go through here and delete the comments (including this one) that are no longer relevant.

[2015-08-05 03:09] crookedneighbor commented on #5682
@deilann It is now live. I assume it doesn't have a good enough contrast for people with a visual impairment, but in the short term, it's better than making it appear like a task is checked when you've just un-checkd it.

[2015-08-05 03:10] crookedneighbor commented on #5739
@SabreCat Why is the basic warrior weapon included in the full armoire in that test?

[2015-08-05 03:43] soar9 opened #5743 "Next equipment piece in class gear progression doesn't appear right away"
The Royal Shield item for healers does not immediately disappear when purchased. If the player clicks again, the gold will be deducted as many times as they click. After a while the item does disappear, but the gold is still gone.
This problem is on IE, Windows 8.1.
User ID: f1cd9be7-4291-4d94-a609-01d0563dc576

[2015-08-05 03:58] Alys commented on #5743
Please reload the site and then click the sync button in the top right hand corner. Does the gold now reappear?

[2015-08-05 05:13] Shadow53 commented on #5562
@Alys Will do. I'll also add the link to [news about the new app](https://github.com/HabitRPG/habitrpg-mobile/issues/385) to the F-droid topic for others to follow. Thanks for the feedback.

[2015-08-05 11:25] Batshua opened #5744 "Spelling errors?"
In the mobile app, one can get a "potatoe" -- Sorry, I don't have a screenshot of this.

I just found the Golden Laurels, which "Increses" perception and constitution.

[2015-08-05 12:09] Alys commented on #5738
@orion1919 For all the causes of death, see the wiki's [Death Mechanics](http://habitica.wikia.com/wiki/Death_Mechanics) page. The section "Sudden, Unexpected Death" will contain one or more reasons that could apply in your case.

[2015-08-05 12:09] #5738 closed, assigned to nobody

[2015-08-05 13:43] KarboniteKream opened #5745 "Weekly Progress Report typo?"
I noticed that in the Weekly Progress Report mail I just received, the tip of the week states "You’ll continue to unlock content as you level up - from Pets and Mounts at level 4", but I've had a pet since level 3.

[2015-08-05 15:12] GayTor26 opened #5747 "Problem with quests"
My friends and I formed a Party and our Party Leader died. She was in the middle of the Basi-List quest. She was the only one participating in the quest.

Now I am the party leader and I can't start a new quest because it says party members are already involved in one. How do I fix this?

[2015-08-05 15:18] Alys commented on #5747
Please tell us your user ID and the party's group ID. To find out what they
are, go to Help -> Report a Bug and see step 6 of the instructions.

[2015-08-05 15:48] codinatrix commented on #53
I would like to have four different To Do Lists: ASAP, Soon, Whenever, and Someday. Then the organic system adjusts accordingly. So if I haven't done it after 2 weeks and it was marked ASAP, it should turn red and maybe I should even lose health. If it was marked Someday, then it should still be green.

[2015-08-05 16:06] SabreCat commented on #5739
@crookedneighbor: The test checked the status of the user's `items.gear.owned` object. With the way we initialize a new user, we start them with the Warrior training sword, so object equality looking for just Armoire items would fail. Maybe not a concern with the way you've set things up.

[2015-08-05 16:09] SabreCat commented on #5735
D'oh, that was my fault. I changed the way we link to the wiki in that string, so translators could link to translated wiki pages where available. But that broke existing translations that expected the wiki link to be inserted programmatically. :crying_cat_face:

[2015-08-05 16:11] SabreCat commented on #5743
Edited the title to be a more generic description of the issue. This frequently happens with any class gear piece, not just the Royal Shield.

[2015-08-05 16:13] SabreCat commented on #5745
Ah, yes. The drop system used to start at level 4, but we nudged it back to level 3. Looks like we missed a spot referencing the old unlock point.

[2015-08-05 19:03] lemoness commented on #5745
Fixing this now!

On Wed, Aug 5, 2015 at 9:13 AM, Sabe Jones notifications@github.com wrote:

[2015-08-05 19:05] lemoness commented on #5745
Fixed :) Thanks so much for reporting!

[2015-08-05 19:05] #5745 closed, assigned to nobody

[2015-08-05 21:00] sheenasan opened #5748 "Missing Equipment"
Re: user 4fc2eda2-b570-4bb2-af9e-03daa444fbbc

On 7/30 (in my timezone; might have already been 7/31 in yours) I changed class to warrior (specifically by choosing "change class" for 3 gems then "opt out", as I had no intent of staying that class) to purchase the last limited-edition equipment set (warrior). (I already had the tail from the beginning of the event, but purchased all remaining piece

[2015-08-05 21:26] Sumosan opened #5749 "Vanishing Enchanted Armoire Purchase"
Hi Habitica Admins!

I recently just bought my 4th installment of the Enchanted Armoire.  I've been really impressed with it so far, but after my gold was deducted, I could not find it in my inventory, even after refreshing the page.  I was too slow to take a screenshot.  I think it may fix itself in a little bit, but I just wanted to bring this to your attention.

Thank you!

[2015-08-05 22:54] Alys commented on #5749
Hi @Sumosan. Sorry about that! You can work around the problem by going to Settings -> Site and using [Fix Character Values](http://habitica.wikia.com/wiki/Fix_Character_Values) to give yourself back the gold.

I'm closing this issue now because we're tracking this problem in https://github.com/HabitRPG/habitrpg/issues/5376. If you'd like to follow the progress of the issue, there's a subscribe bu

[2015-08-05 22:54] #5749 closed, assigned to nobody

[2015-08-05 23:13] #5739 closed, assigned to nobody

[2015-08-05 23:28] #5603 closed, assigned to nobody

[2015-08-05 23:58] Alys commented on #5748
@sheenasan I've given you all of the 2015 Summer Warrior gear. Please tell me if any of it doesn't appear! I have not removed any of the incorrect Warrior gear, although I can if you don't want it in your account.

When you bought the Summer gear, did you also deliberately buy any of the non-Summer Warrior equipment? I'm asking because I'd like to understand the extent of the bug. I know you said

[2015-08-06 01:25] sheenasan commented on #5748
Thank you for fixing this for me.

I had bought warrior gear in the past for certain. I believe I also purchased some that day, though I'm not 100% certain. If I did, it would have been a straight shot top to bottom, one of each type. I definitely didn't have enough extra money to do that more than once that day, so it would have been only a single set.

At the time I purchased the limited gear, i

[2015-08-06 02:35] carolstone commented on #4488
Ok. I'll check in my code. I'll leave my alerts in for the moment. I'm posting below a picture of tonight's test run. I used "cron" and "daystart" interchangeably because when I reset the daystart it was resetting cron. The only thing I left out was changing daystart to 20 shortly before running sync at 9:21 p.m. to show that nothing happened. The notes of what I did come after I did the thing.
![

[2015-08-06 02:39] beffymaroo opened #5750 "Tasks page loading/running extremely slowly after rebirth -- too many equipment/gear pieces in Rewards column"
So, this is not so much something to fix for me right meow as a memo for something worth fixing in the near future:

I rebirthed today and it became almost impossible to use my tasks page. Checking something off took over a minute to register and adding a To-Do was almost impossible because the text was loading so slowly. After many tune-ups to Firefox (which I guess I needed to do anyway) I reali

[2015-08-06 03:45] crookedneighbor commented on #5748
The info about gear purchases should be in Amplitude.

[2015-08-06 08:30] gisikw commented on #5717
All fixed! Sorry for the delay :)

[2015-08-06 08:30] #5717 closed, assigned to gisikw

[2015-08-06 15:08] ghost opened #5751 "Chrome extension messing up"
Hey!
I have recently started using the Chtome extension again and I have noticed a bug. After finishing an interval, the extensions suddenly labels a "good" website as "bad" and I get damage because of it. When I click on the icon, the menu pops down and doesn't go up on a second click. I have to click somewhere else, then the menu closes and the website is suddenly "good" again.
## <bountysource-

[2015-08-06 16:10] GayTor26 commented on #5747
My user ID is f9d8bf8b-5154-4f3c-a27d-b36af549894c  GayTor26 . Our Party is 1ae0a1fa-40c7-4464-ba01-6fda2b32a149

[2015-08-06 16:52] SabreCat commented on #5739
:+1:

[2015-08-06 18:24] Alys commented on #5747
I've removed the quest from your party. Please let us know if you still can't start a new one! Reload the party page if you still see the old quest.

[2015-08-06 18:24] #5747 closed, assigned to nobody

[2015-08-06 18:54] GayTor26 commented on #5747
Thank you. That worked!

[2015-08-06 19:06] SabreCat commented on #5376
Been poking at this today. I was able to reproduce the issue in a way that supports my hypothesis:
1. Sync user who has access to the Armoire.
2. In the db, `$set` their Gold to a different value than they currently have.
3. Buy from the Armoire. You'll see one result. (During my test, it came up Horned Iron Armor.)
4. Sync the user again. The result rolls back to something else. (During my test,

[2015-08-06 19:38] stuffity commented on #5478
Same problem here. Not a member of any Challenges; in fact I was attempting to go to the Challenges page to join my first one. Refreshing browser did not help.

Exact same error message as in OP, except buffered data usage of 35455495 bytes exceeds internal limit.

Console says:

GET https://habitica.com/api/v2/challenges 500 (Internal Server Error)nrWrapper @ (index):1(anonymous function) @ app-7

[2015-08-06 19:51] tinytito commented on #5478
It eventually disappeared and I was able to access challenges again. Not sure exactly how long it took but the next day for sure I was able to. I just checked and I am still able to open challenges. I have no idea why it happens, obviously, but give it time and it fixes itself - at least temporarily.

[2015-08-06 20:08] SabreCat commented on #5376
I did take a stab, but haven't gotten it to work yet. If somebody who's a little more adept at client/server mojo wants to give it a run, I'd love to watch and learn.

[2015-08-06 21:15] SabreCat commented on #5376
A suggestion from @crookedneighbor:

[2015-08-06 22:02] crookedneighbor commented on #5376
I'm recanting that idea. I don't think it'll actually work very well.

[2015-08-07 05:03] Ramplo commented on #4252
So I doubt this will help but I figure I'll throw it out there just in case.

Another party member finished the quest.  I turned my computer on and loaded the site about 6 minutes later and had no rewards.  When I came on here to report the bug I accidentally went into my profile page looking for my UUID.  I must have clicked edit; I noticed and hit save before exiting, after I hit save I got the

[2015-08-07 12:55] kamni commented on #5613
@Alys

So the workaround posted by @GitHubSphinx did not help. The issue was that when I left the challenge and opted to keep the tasks, the microphone was not changed into a rubbish bin, so I couldn't delete it. I kept the task for several weeks before I got frustrated enough to report it, so it wasn't a refresh or waiting issue. The challenge was not listed as one I was still participating.

The

[2015-08-07 13:33] nightstitched opened #5752 "unable to log in"
My friend, Winter Rose forgot her password, so she without think hit reset password. The problem is that email address on her account no long exists. Now she has absolutely no idea what the password is, and cannot log into her account.

Is there anyway for her to fix this, or should she just start a new account?

her ID is   dd656c42-c404-43c8-847c-5bfd0c37a66e
thank you

[2015-08-07 14:05] crookedneighbor commented on #5613
@kamni In the future, if you have a problem like this, you can always ask us for help. The more information we have, the easier (and faster) it'll be to track down the bug to resolve it. In the mean time, we can do a manual database edit to remove the task(s) you don't want.

[2015-08-07 17:01] crookedneighbor commented on #5752
Please have the user email admin@habitica.com with their user id so we can verify their identity and help them get access.

[2015-08-07 17:32] Alys commented on #5752
I'm closing this because I'll deal with it from the email, when it arrives.

[2015-08-07 17:32] #5752 closed, assigned to nobody

[2015-08-07 20:27] arthurlutz opened #5753 "Support of unauthenticated SMTP"
Maybe it's because I'm not very familiar with npm and the ecosystem around it but when configuring my STMP server I kept on getting Auth errors. I ended up setting up a localhost SMTP server for testing. This local SMTP server does not require authentication. Setting SMTP_USER to an empty string did not help, removing SMTP_USER did not help. I had to go and comment website/src/utils.js and remove

[2015-08-07 21:47] SabreCat commented on #5376
OK. I have an idea for a short-term fix: include a `User.sync()` w/timeout on click of the Armoire. It'll cause a momentary delay for the user, but all the better for suspense? :P

[2015-08-07 22:01] crookedneighbor commented on #5376
I think that'll just cause communication problems between the site and the server, like clicking a spell too many times in quick succession.

[2015-08-07 22:56] lemoness commented on #5750
At one point we discussed making it so that you don't lose any of the 0 GP
items when you rebirth, which I think is a good idea. Not a perfect fix by
any means, but it might help.

On Wed, Aug 5, 2015 at 7:39 PM, beffymaroo notifications@github.com wrote:

[2015-08-07 23:57] Gumnos commented on #5376
Just adding to this, last night I received a Basic Crossbow from the Armoire.  Went ahead and equipped it to get the +5 PER bonus.  Coming back to Equipment a short bit later, it was still there. Refreshed this morning and it had been replaced with an unequipped Soothing Lunar Sceptre (with no PER bonus ☹ ).

[2015-08-08 00:22] crookedneighbor commented on #5753
@arthurlutz Just curious, are you deploying your own instance of the app in production mode on your own server, or just deving on it locally to contribute to the code base.

If you're just working on it locally, you shouldn't need to set up an smtp server at all unless you're working on code which specifically sends an email. (such as the forgot password link)

[2015-08-08 02:16] fogbank opened #5754 "Challenges filter is forgotten after joining one"
When I filter the challenges in the challenges page (for example by guild) and join one from there, the page is reloaded without the filter.
Leaving a challenge doesn't show this behavior.

Might be an issue, might be intended, I don't know.
## <bountysource-plugin>

Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/25503439-challenges-filter-is-forgotten-after-

[2015-08-08 08:21] arthurlutz commented on #5753
@crookedneighbor I'm more in the "own instance" scenario, but I think this can also be useful for a dev instance.

[2015-08-08 11:40] LittleMupsMum commented on #4252
Hi @Alys , our party has just had this bug occur again for a few members - this time on The Golden Knight part 2 - Gold Knight (not a collection quest this time!)  I have been checking the reported list of participants against who has the quest in their profile, and it looks like 6 out of 30 participants have definitely not got the rewards (no quest completion listed) and one other one tells me th

[2015-08-08 15:41] crookedneighbor commented on #4252
This bug seems to happen more frequently for large parties. Not sure if it's something inherent in being a large party, or just that there are more members so whatever is happening just happens more often.

I'm thinking about putting some logging around large parties so we can track what is happening and try to figure out this bug.

[2015-08-08 15:49] crookedneighbor commented on #5753
@paglias Do you have concerns about this?

[2015-08-08 15:56] crookedneighbor commented on #4252
@Ramplo can you confirm something for me?

When you say "I turned my computer on and loaded the site" do you mean that your computer was turned off and you opened a web browser and navigated to the site? Or do you mean that your computer was in sleep mode and you woke it up, and went to the site when it was already loaded in the browser?

If it was in sleep mode, what you're describing sounds norm

[2015-08-08 18:15] paglias commented on #5753
Hmm, I'm not very familiar with this, it's only used for password recovery emails. But I suppose that since we're using it in production without any problem there should be something wrong in your configuration as it's working for us

[2015-08-08 19:19] crookedneighbor commented on #5753
If you want to submit a pr, we'll review it.

[2015-08-08 19:36] Awesumounk opened #5755 "Request Too Large to Handle message when editing Guild"
Months ago, I encountered this problem (which I am experiencing again)when editing my guild, Journey to Clean (0f754c79-cf74-4fbe-a628-ca70036394b5).  A red error message box appears in the right hand side after sync that says, "Request to large to handle".  In each occurance I was making a minor edit (fixing a spelling mistake, or grammitical correction).

[2015-08-08 20:02] crookedneighbor commented on #5755
@Awesumounk You already reported this here: #5579 and both of these are duplicates of #1471. If you'd like to subscribe to the progress of the bug, you can do so by pressing the subscribe button.

I'm going to close both issues, but if you're still having issues since we're tracking the progress in #1471.

[2015-08-08 20:02] #5755 closed, assigned to nobody

[2015-08-08 20:02] #5579 closed, assigned to nobody

[2015-08-08 20:04] crookedneighbor commented on #1471
@marrowmalk Are you still unable to join the challenge? If so, post your user id here and I'll add you. You can find it in [Settings > API](https://habitrpg.com/#/options/settings/api). Be sure to only copy the User ID and _not_ your API Token.

[2015-08-08 21:26] marrowmalk commented on #1471
Thanks so much! I am in fact still not able to join it. My user ID is
41596adf-4384-4600-ba96-6db7d5aa5294

On Saturday, August 8, 2015, Blade Barringer notifications@github.com
wrote:

[2015-08-08 21:34] #5744 closed, assigned to nobody

[2015-08-08 21:37] crookedneighbor commented on #5744
I've fixed the spelling of the golden laurels description, it'll be live on the next deploy. Thanks for reporting it.

For the potato error, the json key is potatoe (an unfortunate misspelling from the early days of the app), and the problem is that the app is pulling in the json key instead of using the name of the food item. I will open an issue on https://github.com/HabitRPG/habitrpg-ios

[2015-08-08 21:44] crookedneighbor commented on #1471
@marrowmalk You should be added now, can you double check and make sure you received all the tasks?

[2015-08-09 07:41] Jazzis18 opened #5757 "system messages in party chat are not translated (skills castings, quest progress / damage reports)"
Hello, can you somehow translate it in Russian and other languages? And other similar messages.
[/website/src/controllers/user.js#L462](https://github.com/HabitRPG/habitrpg/blob/68f5a162fd637938c4bd910daf212dba45a66ecd/website/src/controllers/user.js#L462)

[code]
## <bountysource-plugin>

Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/25536352-system-message

[2015-08-09 07:53] Alys commented on #5757
@Jazzis18 We would like to do that, but unfortunately it's not as easy as translating most of the site text. Currently, the messages about skills being cast (or about quest progress) are written into the party chat at the time of casting (or at cron) as a single string of English text, and then they can't be changed whenever the chat messages are viewed by people who use different languages. They

[2015-08-09 08:54] Alys opened #5758 "change Fortify Potion's popup text to make it attractive to players with blue Dailies?"
The Fortify Potion returns all tasks to yellow. It's marketed as being good for players who have too many red tasks. However it could also be used by players whose Dailies are no longer challenging because they are too blue. There's already some information about that on the wiki in [Fortify Potion > When to Use](http://habitica.wikia.com/wiki/Fortify_Potion#When_to_Use), but we could add it to th

[2015-08-09 08:55] Alys commented on #5758
I should have mentioned: This was Velinde's idea.

[2015-08-09 11:08] LittleMupsMum commented on #4252
I can confirm that the workaround reported by @Ramplo works.  I had this bug occur just a few hours ago on Golden Knight part 3 (a boss quest again).  Noticed the quest had finished, navigated back to the Task page and noticed I hadn't got a reward. Navigating between the task page, the Party chat and my profile and Stats pages (and chatting in Party Chat) did not cause the reward to appear, and I

[2015-08-09 11:24] Alys commented on #2380
I've deleted more gem-less Tavern challenges (saved a copy of each). They were either rather pointless or very old.

d88a8386-261f-48e9-bef0-5222f2cbd0e8
e9a119b6-7cc0-46f1-bf86-9b1b125728b4
b4965a66-adda-4cdf-a906-f9e405edc200
77e187e5-d7f8-4d3d-b720-ecc2175ee9be
3f4868cf-bd63-49e8-8f44-1161b1a5eec1
d5911161-8081-4d13-9934-a4d252c1fad6
b9719168-a3d9-4149-9ad8-4e73b8f18e37
fa73b48d-d967-4ae4-a2b7-

[2015-08-09 11:32] Alys commented on #4252
@LittleMupsMum I've given the rewards for the Golden Knight part 2 to these people:
3onyc 46b31968-121c-4bd5-ab43-ff06d010eb34
Angel 4fc2eda2-b570-4bb2-af9e-03daa444fbbc
Lord Albertron 5e2d0b3f-55ef-46dc-b4a0-840656a8fe64
Dr. Machine 67556d77-0b79-48bf-8796-37994369d8b9
Barisaxvirus 6dbe0204-4918-42e8-a168-aa06fbdff081
Almighty Bob 7544ed74-ee8f-4f3f-9f70-ec8b6576571a

[2015-08-09 11:34] LittleMupsMum commented on #4252
Thankyou very much @Alys !

[2015-08-09 12:07] CantarellaMiyani commented on #1471
Hi! I'm also getting this message when attempting to join a challenge, it's remained an issue after multiple reloads, and in multiple browsers. Challenge is here: https://habitica.com/#/options/groups/challenges/3b82f463-2e50-406c-9ec6-37b3cbfdfddf and my User ID is 7866d88c-1192-4bc2-b70a-87e3414397a2 . Any advice would be appreciated.

[2015-08-09 13:57] crookedneighbor commented on #1471
@CantarellaMiyani I've aded you to the challenge.

[2015-08-09 13:59] CantarellaMiyani commented on #1471
Thank you so much!

On Sun, Aug 9, 2015 at 9:57 AM, Blade Barringer notifications@github.com
wrote:

[2015-08-09 16:55] crookedneighbor commented on #5631
Closed with https://github.com/HabitRPG/habitrpg/pull/5759

[2015-08-09 17:11] SabreCat commented on #5757
If we can make it a normal `env.t` style string, we wouldn't need to chop it up. It would just be `<%= userName %> casts <%= skillName %> for the party`, and translations could move the variables around as needed.

[2015-08-09 18:04] Ramplo commented on #4252
@crookedneighbor normally I'd have a pretty solid answer for you but I've been doing a lot of updates and I always choose update and shutdown and come back to my computer later; otherwise I keep it in sleep.  There's about a 50/50 shot it was from sleep so I'd err on the side of caution and say it was in sleep.

Like @LittleMupsMum if it happens to me again (or someone in my party) I'll suggest th

[2015-08-09 18:57] ghost opened #5760 "The name Habitica may look/sound very odd in some languages (reopened for RTL languages)"
Originally raised in discussion in the [Commonwealth of i18n guild](https://habitica.com/#/options/groups/guilds/7732f64c-33ee-4cce-873c-fc28f147a6f7) (by Mikoto Yato) the following questions may become more important after HabitRPG-Habitica rebranding:
- the word Habitica may look/sound really odd and unnatural in some languages, e.g. silent 'H' or 'c' sounding like [s],[ts],etc. or odd syllable

[2015-08-09 19:17] ghost commented on #5760
A note from Mikoto Yato regarding possible Habitica-Habitika shift in Czech:

[2015-08-09 20:07] Gumnos commented on #5376
Following up: Received a second Basic Crossbow in the Armoire today. Equipped (Soothing Lunar Sceptre is equipped in favor of my hook-sword) and still around for now. But will monitor what happens to it tomorrow.

[2015-08-09 20:20] lynxlynxlynx commented on #5760
HabitRPG was unmistakibly a name, a foreign name. Habitica will sound normal in most Slavic languages and at many times it is really hard to keep it undeclinated, additionally so as the same word is used for the land. It just looks and reads wrong, so I'll be breaking the general rule where the end result will be better.

[2015-08-09 20:20] ghost commented on #5760
Mikoto Yato here!
Just to more closely introduce the issue - it is a minor issue with how the users perceive the name Habitica phonetically. Since the name is only in its written form, the users can interpret the name in their minds based on the phonetic system of their native language. As I tried to demonstrate with the example with the Czech synthetized pronunciation, which is far from the Engli

[2015-08-09 20:39] crookedneighbor commented on #5760
Pinging @lemoness

[2015-08-09 21:05] lynxlynxlynx commented on #5760
Prepending app/service and land/w.e. would indeed work for most cases. Where there are spatial constraints (if any), it would surely be clear it is about the app and there'd be no need for explicit disambiguation via prefix.

[2015-08-09 22:45] ghost commented on #4885
Just for the record: the last comment in the ticket hadn't been addressed, but I've linked it from the repository of untranslated parts of the site

[2015-08-09 23:34] marrowmalk commented on #1471
Have been added successfully, thank you!

On Sat, Aug 8, 2015 at 4:44 PM, Blade Barringer notifications@github.com
wrote:

[2015-08-10 12:13] Gumnos commented on #5376
Another follow-up: upon refreshing this morning, my equipped Crossbow vanished (still have the Soothing Lunar Scepter which was unequipped), and had been replaced with the unequipped Lasso

[2015-08-10 12:59] wrrrg commented on #4132
Having the same bug across multiple browsers after joining a few challenges and Scholars guild.

[2015-08-10 17:44] k2moss commented on #5376
Just commenting to add to this. Both me and (especially) the other member of my party (709c0cd4-3fca-4b22-bd6f-933a19022cab) have had problems with the Armoire.

For me: The Armoire frequently triggers an alert for an item, but a different item or no item at all appears in my inventory (ex: Armoire says it dropped a rancher hat, but I have a crossbow).

For 709c0cd4-3fca-4b22-bd6f-933a19022cab: Ge