[2020-08-25 17:02] veeeeeee commented on #12495
@Alys Please correct the OP if details are missing or incorrect.

[2020-08-25 17:20] veeeeeee commented on #12487
Hah, thanks! Corrected now.

[2020-08-26 09:45] projectormatobiz commented on #10008
@paglias
Thanks, I’ll create a PR by the end of the week.

[2020-08-26 09:45] projectormato commented on #10008
@paglias
Thanks, I’ll create a PR by the end of the week.

[2020-08-27 02:53] mbroshi commented on #12481
Thanks @paglias and @Alys for the pointers! My general plan is to create a `class MemberFinder` that has a `find` method that returns members based on the constructor options called. If I play my cards correctly, I will be able to call `find` on an appropriate instantiation of `MemberFinder` for GetMembersForChallenge, GetInvitesForGroup, GetMembersForGroup, and GetChallengeMemberProgress API call

[2020-08-27 10:06] paglias commented on #12481
@mbroshi we already have a method that tries to abstract the behavior behind all the members queries here https://github.com/HabitRPG/habitica/blob/develop/website/server/controllers/api-v3/members.js#L279, we should probably expand it to include this new feature but also https://github.com/HabitRPG/habitica/blob/develop/website/server/controllers/api-v3/members.js#L589 which is the same thing but

[2020-08-27 17:50] Mike-Antonacci commented on #12487
has anyone claimed this? I see discussion about the phrasing to use, but it doesn't look like anyone has this issue officially assigned to them. If I'm correct, whoul I be able to claim it?

[2020-08-27 18:12] citrusella commented on #12487
I vaguely said I was thinking of taking it on in my first post, but when it actually went to help wanted status I decided I was gonna wait and only take it if no one claimed it for several days.

(Which is to say I want to clarify my earlier mention of taking this on wasn't a "true" claim, in case anyone else did notice I said that and was uncertain. XP)

[2020-08-28 05:27] Alys commented on #12487
@Mike-Antonacci I've marked this as in progress for you. Thank you! :)

[2020-08-28 19:12] raghavchugh21 commented on #11356
thanks for letting me know! I'll include the fixes for both issues in my PR.

[2020-08-28 19:14] raghavchugh21 commented on #11356
Also, could you help me with where do I find the Skills Layout designs in Zeplin.

[2020-08-29 06:07] Alys opened #12498 "Using a skill on a task should not allow the task to be completed"
If you use a skill that needs to be cast on a specific task, when you click on the task to apply the skill, if you happen to click directly on the task's main checkbox, then task will be marked as completed.

The expected behaviour is that while you are casting a skill on a task, it should be impossible to mark the task as complete. I.e., the checkbox should not respond to a click in the way it no

[2020-08-29 06:09] Alys commented on #12498
The same applies to the plus and minus buttons on a Habit. When you are casting a skill, if you click on those buttons, the only thing that should happen is that the skill should be cast. A normal Habit click should not be recorded.

[2020-08-29 11:12] paglias commented on #11356
@raghavchugh21 they're here https://app.zeplin.io/project/59c16a1433075573feaa48fb/screen/5dadbe46c02f1e83270ec082

[2020-08-29 11:14] paglias commented on #12498
ah, there's code to prevent this from happening but it broke with bulk scoring, will handle it

[2020-08-29 14:23] #12498 closed, assigned to nobody

[2020-08-29 14:33] #11266 closed, assigned to nobody

[2020-08-29 15:11] kirsty-tortoise commented on #12495
Can I have a go at this?

[2020-08-30 08:48] Alys commented on #8063
I've removed some old comments that didn't contain any information that's still relevant. I've marked it as in progress because I'm experimenting with a simple initial solution for this.

[2020-08-30 09:27] Alys commented on #12495
@kirsty-tortoise That would be great, thank you! I've marked it as in progress for you. Post here if you have questions or run into trouble.

[2020-08-31 09:28] Alys opened #12521 "partial failures from multiple attempts to sell times"
As reported by @cTheDragons (bc10ec41-4213-4482-bbb8-558e3c3ea8d5):

"When selling multiple items (via multiple api calls) of different quantities I have found that it sometimes does not actually deduce the item and the gold rewarded. For example, using my bulk buy tool, to sell 1x Armadillo egg, 1x Axolotl egg, 106x Caterpillar egg.

"However despite the successful message back, I have only sold

[2020-08-31 11:22] paglias commented on #12521
Hmm yeah it's likely an issue that can happen with multiple concurrent requests, we should probably change the `user.save()` to atomic operations

[2020-08-31 11:42] Alys opened #12523 "Group Plan Reward value should not change automatically each day"
the cron task value aging mechanism seems to be taking effect on Group Plans Rewards

I'm labelling this as in progress because @SabreCat said he would look at it.

[2020-09-01 10:30] Alys opened #12524 "avatar modal partially hidden under top nav bar"
asl / @x4ojM (2ab6ff6e-0e5b-4c58-b38f-842afc63c0e5) reported:

"When I try to edit my avatar the pop-up window that appears is partially hidden underneath the top nav-bar of the website. This started happening a few days ago. I thought this was maybe a problem with Chrome because I hadn't updated it lately, but I updated it just now and the problem is still occurring. When I open the "edit avatar"

[2020-09-01 10:47] Alys opened #12525 "Community Guidelines mis-formatted in mobile browsers / small browser windows"
As reported by Mohammad Arsalan @hb-b5e2dq9vt15kmn6si (bef9b442-4f8b-4447-8cc4-91b2fb513b94):

"Community Guidelines page is not responsive for mobile view. Mostly at 375 * 667. Texts are not properly aligned."

Below are screenshots from the Firefox browser on my phone. The first one is with the page scrolled all the way to the top. Note how the mobile apps banner is hidden under the top nav bar.

[2020-09-01 11:00] arsalanhub commented on #12525
Yes. Not only at community guidelines page but also some places in user's dashboard for mobile view. Can I take this issue and work on it??

[2020-09-01 15:36] paglias commented on #12525
@arsalanhub could you post a screenshot of the issue you're seeing?

[2020-09-01 15:39] paglias commented on #12524
I can replicate it if I'm resting in the inn and the banner hides the top of the modal but not otherwise

[2020-09-01 15:40] paglias commented on #12524
I thought it could be the window's height but it's not, even if I shrink it I can't replicate

[2020-09-01 16:05] arsalanhub commented on #12525
@paglias, screenshot is already posted & I have also reported possible px where this is happening.

[2020-09-01 16:30] paglias commented on #12525
@arsalanhub sorry I meant a screenshot of the issue happening in the user dashboard and not on the community guidelines page

[2020-09-02 07:13] bigsee commented on #11304
Quick update: just got back from holidays. I'm on this. Will likely be spending some more time this weekend.

[2020-09-02 07:14] bigsee commented on #10242
Quick update: just got back from holidays. I'm still on this. Will likely be spending some more time this weekend.

[2020-09-02 07:14] bigsee commented on #9755
Quick update: just got back from holidays. I'm still on this. Will likely be spending some more time this weekend.

[2020-09-02 12:40] RaitheOfDureya commented on #9957
Hello @shanaqui, if the issue #9957 is still open, I would like to give it a try. Cheers

[2020-09-02 15:48] paglias commented on #9957
Hi @RaitheOfDureya , the issue is still open, I'm marking it as in progress for you

[2020-09-02 17:32] arsalanhub commented on #12525
@paglias @alys As you can see level moved out of screen at 375 * 667
![habitica_dashboard](https://user-images.githubusercontent.com/53657473/92016568-29b3f100-ed70-11ea-9594-086e8a61e90c.png)

[2020-09-02 17:47] RaitheOfDureya commented on #9957
Thanks, @paglias :slightly_smiling_face:

In a few minutes I will open the first  Pull Request for this issue. To facilitate the review I decided to separate the PRs by `json` file within the `locales` folder. For each string (or blocks of strings) removed I made a commit, so that the proposed changes can be reversed if necessary without major impacts.

[2020-09-02 21:07] citrusella commented on #12525
Random comment that I felt the need to note: Most of the images in the community guidelines are for "flavor" but a few convey somewhat relevant information (but might out of date--i.e. the staff member image has more people than the people bulleted in the "from left to right" list, so it's unclear which avatar is which).

[2020-09-03 09:33] shanaqui commented on #11139
@bigsee Hi! Are you still working on this issue? If so just let me know -- if you'd like to drop it, or if you don't reply, I'll mark it as help wanted again in seven days. :)

[2020-09-03 09:34] shanaqui commented on #12276
Hi @tsukimi2! Just checking in again as usual to make sure the issue hasn't gone stale! :)

[2020-09-03 09:37] shanaqui commented on #12442
Hi @Amberlisi! Are you still working on this issue? If so just let me know -- if you'd like to drop it, or if you don't reply, I'll mark it as help wanted again in seven days. :)

[2020-09-03 10:36] paglias commented on #12525
@citrusella did you mean to comment on this pr https://github.com/HabitRPG/habitica/pull/12500?

[2020-09-03 15:00] #12437 closed, assigned to nobody

[2020-09-03 15:00] #12523 closed, assigned to nobody

[2020-09-03 17:01] citrusella commented on #12525
No, I was mentioning it here because part of the issue (to me, anyway) is the images give the text less space, and the semi-important images are too small at that resolution to convey useful information.

It was more like a "thing to consider regarding formatting, just in case" kind of thing? o.o

[2020-09-04 09:55] kirsty-tortoise commented on #11145
I think I could have a go at this - I think I have fixed the issue but should add tests to stop it happening again.

[2020-09-04 10:21] #12487 closed, assigned to nobody

[2020-09-04 10:23] paglias commented on #11145
thanks @kirsty-tortoise ! Marking this as in progress

[2020-09-04 10:42] kirsty-tortoise commented on #11145
Hey, just wanted to check I've understood it correctly:
- the my challenge page gets data from the api via /api/v4/challenges/user?**member=true**
- we want that to return challenges that were either created by the user or that the user has joined

[2020-09-04 14:07] SabreCat commented on #11145
@kirsty-tortoise That's correct for the My Challenges page with no additional options checked. "Owned" should make it so you see only those you created!

[2020-09-04 16:18] shanaqui opened #12528 "Checklist items get extra ghost box when disabled e.g. due to using skills and on group pages"
Report from RaB:

Screenshot from Sabe:

![image](https://user-images.githubusercontent.com/8144640/92261775-f7220980-eed1-11ea-8ab1-dda69f03955a.png)

Happens in both Firefox and Chrome, regardless of extensions installed.

[2020-09-06 20:54] citrusella commented on #9789
I'm curious about the question cTheDragons posed two years ago, too. Are task attributes (also still missing on web) a separate issue or part of this one?

[2020-09-06 21:42] KarenEfereyan commented on #12524
@paglias well done so far. Has the issue now been fixed?

[2020-09-07 10:19] paglias commented on #12524
Unfortunately I've not been able to replicate the issue

[2020-09-07 12:29] KarenEfereyan commented on #12524
How can i help you?

[2020-09-07 13:22] paglias commented on #12524
@KarenEfereyan we received a bug report which I'm not able to replicate, if you are and want to make a fix PR, please go ahead and we'll be happy to accept the PR when it's ready

[2020-09-07 13:30] #11145 closed, assigned to nobody

[2020-09-07 13:42] #12528 closed, assigned to nobody

[2020-09-07 13:45] paglias commented on #12481
Hi @mbroshi , I wanted to check the status of this, this issue being fixed is quite important for some 3rd party tools, could you please let us know if you still want to work on it? thanks

[2020-09-07 14:11] #12495 closed, assigned to nobody

[2020-09-07 14:48] #12276 closed, assigned to nobody

[2020-09-07 14:49] mbroshi commented on #12481
@paglias apologies but I haven't made sufficient headway on this issue. Please reassign it.

[2020-09-07 14:55] KarenEfereyan commented on #12524
@paglias what does it mean to replicate?

[2020-09-07 15:03] paglias commented on #12524
it means being able to reproduce the issue on your own, in this case I can't reproduce the problem that was reported

[2020-09-07 19:25] #12524 closed, assigned to nobody

[2020-09-07 19:27] paglias commented on #12524
Turns out the issue was due to bunch of css rules that were not being loaded consistently

[2020-09-07 21:44] VipulKhandelwal1999 opened #12549 "Footer layout gets messed up in mobile view"
[//]: # (Before logging this issue, please post to the Report a Bug guild from the Habitica website's Help menu. Most bugs can be handled quickly there. If a GitHub issue is needed, you will be advised of that by a moderator or staff member -- a player with a dark blue or purple name. It is recommended that you don't create a new issue unless advised to.)

[//]: # (Bugs in the mobile apps can also

[2020-09-07 22:02] VipulKhandelwal1999 opened #12550 "Privacy Policy anchor tag target attribute blanck misspelled"
[//]: # (Before logging this issue, please post to the Report a Bug guild from the Habitica website's Help menu. Most bugs can be handled quickly there. If a GitHub issue is needed, you will be advised of that by a moderator or staff member -- a player with a dark blue or purple name. It is recommended that you don't create a new issue unless advised to.)

[//]: # (Bugs in the mobile apps can also

[2020-09-07 22:04] #12550 closed, assigned to nobody

[2020-09-07 22:05] VipulKhandelwal1999 opened #12551 "Privacy Policy anchor tag target attribute blanck misspelled"
[//]: # (Before logging this issue, please post to the Report a Bug guild from the Habitica website's Help menu. Most bugs can be handled quickly there. If a GitHub issue is needed, you will be advised of that by a moderator or staff member -- a player with a dark blue or purple name. It is recommended that you don't create a new issue unless advised to.)

[//]: # (Bugs in the mobile apps can also

[2020-09-08 06:33] KarenEfereyan commented on #12524
Oh waow thanks for explaining that. So its important to be able to produce the error by myself

[2020-09-08 09:47] paglias commented on #12447
Is this still an issue? I wasn't able to replicate it

[2020-09-08 09:58] paglias commented on #12551
Hi @VipulKhandelwal1999, thanks for the report, feel free to make a PR!

[2020-09-08 09:59] paglias commented on #12549
Thanks @VipulKhandelwal1999 , unfortunately right now the Habitica layout is not optimized for mobile use. I'd say go ahead and fix it but let's wait for @Tressley , in case there are different plans

[2020-09-08 10:15] shanaqui commented on #12447
Yep. Still completely reproducible by the steps I gave above, happens every time for me on both delta and production, on all browsers I've tried. Still getting regular reports in RaB as well.

[2020-09-08 10:27] shanaqui commented on #12447
We figured out what was wrong with the steps to reproduce and I've added an edit above to make it a bit clearer, just in case anyone else needs to come back to this one! Thanks @paglias for figuring that out. :tada:

[2020-09-08 10:52] #12447 closed, assigned to nobody

[2020-09-08 11:38] VipulKhandelwal1999 commented on #12551
Ok Sir, Thanks for assigning me this issue. I am working on it right away and will fix it ASAP.

[2020-09-08 13:43] paglias commented on #9957
@RaitheOfDureya I've added a list in the issue description to keep track of the progress here

[2020-09-08 14:26] RaitheOfDureya commented on #9957
@paglias, I have already checked the `testing.json` and `spells.json` files and all strings are currently being used.

[2020-09-08 16:46] veeeeeee commented on #10918
We're putting this on hold so that we can research and discuss the utility of Orb of Rebirth in light of how the rebirth function has changed over time.

[2020-09-09 00:55] Alys opened #12555 ""Monthly - Day of the Month" Dailies should consider time zone during edits"
I believe this bug only happens if your time zone is ahead of UTC (UTC+1, UTC+2, etc).

When you edit a Daily to change it to repeat on the same date each month, the player's time zone is not taken into consideration. Since the date due is taken from the Start Date and the Start Date is stored as a date in UTC, that means that the scheduled date is one day behind what it should be.

Note that this

[2020-09-09 07:58] VipulKhandelwal1999 commented on #12551
Hello @paglias When i was fixing this issue i just found out the same issue with 2 more anchor tags so i have fixed them all. Please take a look at my PR.

[2020-09-09 08:38] Alys commented on #10997
I've tidied up this issue by deleting some posts that weren't related and were later logged in issue 11907 (now resolved).

I'm not sure if this issue is still happening. I can't reproduce it in a few tests just now but it sounds like it was intermittent so reproducing it reliably may not be possible.

[2020-09-09 10:40] rneha725 opened #12556 "Editing config.json port gives error"
[//]: # (Before logging this issue, please post to the Report a Bug guild from the Habitica website's Help menu. Most bugs can be handled quickly there. If a GitHub issue is needed, you will be advised of that by a moderator or staff member -- a player with a dark blue or purple name. It is recommended that you don't create a new issue unless advised to.)

[//]: # (Bugs in the mobile apps can also

[2020-09-09 10:49] paglias commented on #12556
@rneha725 the error you're seeing is because we also have the BASE_URL config var which includes the port and should be changed as well, see https://github.com/HabitRPG/habitica/blob/develop/config.json.example#L10. That is the url used by the client to send requests to the server

[2020-09-09 10:49] #12556 closed, assigned to nobody

[2020-09-09 10:50] paglias commented on #12556
Let me know if it works @rneha725

[2020-09-09 21:30] veeeeeee commented on #10997
Closing as we haven't come across any recent examples of this specific issue. Can reopen if one comes up, or start a new issue if it's a variation on this ticket.

[2020-09-09 21:30] #10997 closed, assigned to nobody

[2020-09-10 09:33] shanaqui commented on #12482
Hi @benkelaar! Just the usual check-in to make sure you're still planning to work on this. :) Please reply within seven days to let me know, or I'll mark it as help-wanted again to open it up to other contributors.

[2020-09-10 09:34] shanaqui commented on #12377
Hey @Amberlisi, just checking in again! Not to hurry you (it's fine if it takes some time!) but just to make sure the issue doesn't go stale. :) Let me know if you're still planning on working on this, and if not or if I don't hear from you within a week, I'll re-add the help wanted label. Thanks!

[2020-09-10 18:03] rneha725 commented on #12556
I think it will be good to have only one location to set the port. If it is not taken up in the past, I can take up this task.

[2020-09-10 20:55] Amberlisi commented on #12377
Hey, yeah I'm still working on this!

[2020-09-10 22:06] RaitheOfDureya commented on #9957
@paglias, the `questsContent.json` can also be cross off the list, no unused strings there.

[2020-09-11 08:13] paglias commented on #12556
Unfortunately that is not really possible as the PORT is always necessary but sometimes the BASE_URL doesn't include it, for example when running Habitica.com in production modo the BASE_URL doesn't include a port as it's used for redirects and we want to use `https://habitica.com` and not `https://habitica.com:XXX`

[2020-09-11 08:29] #12405 closed, assigned to nobody

[2020-09-11 10:32] #12551 closed, assigned to nobody

[2020-09-11 11:59] prachi15091999 commented on #11767
Hello everyone
my team wrote the code for the popup that was placed in the transfer ownership function but we are facing issues in hosting habitica locally.The error when all our members try to host the site locally is as follows:-
1.The ''vue-cli-service'' command was not found .
2. The ''index.html'' was not found .
The screenshots of error that is shown to us is attached below.
These errors ari

[2020-09-12 14:35] paglias commented on #11767
@prachi15091999 could you try running `npm install` from `website/client` and see if it works after that?

[2020-09-13 22:04] RaitheOfDureya commented on #9957
@paglias, I believe that the following strings are dynamically generated:

- foodItemType
- eggsItemType
- hatchingPotionsItemType
- specialItemType

and used in `website/client/src/components/shared/inventoryDrawer.vue` and `website/client/src/components/shops/market/index.vue`:

[code]
Could you confirm that for me?
If so, you can cross `inventory.json` off the list.

[2020-09-14 03:29] Alys commented on #8405
I'm marking this as suggestion discussion in case Habitica's staff want to make any comments about how to fix this now.

I've just deleted some old comments that aren't directly relevant to this issue.

The issue is still happening, as shown by the API command and output below.

We've also had a report of it from @Kirska (64751d54-9d7f-4b38-80b0-c180ab9593d0) who created the [To-Do Overs](https://

[2020-09-14 10:39] paglias commented on #9957
@RaitheOfDureya those are indeed used, crossing off `inventory.json`

[2020-09-14 14:24] raghavchugh21 opened #12583 "Description of each section vanishes when items are added"
[//]: # (Before logging this issue, please post to the Report a Bug guild from the Habitica website's Help menu. Most bugs can be handled quickly there. If a GitHub issue is needed, you will be advised of that by a moderator or staff member -- a player with a dark blue or purple name. It is recommended that you don't create a new issue unless advised to.)

[//]: # (Bugs in the mobile apps can also

[2020-09-14 14:28] raghavchugh21 commented on #12583
This pattern does not look good, it projects non uniformity among different sections. This issue can be resolved by making the description a static and separate component itself.

[2020-09-14 14:46] paglias commented on #12583
@raghavchugh21 thanks for the report but this is the expected behavior as far as I know. I'm going to keep it open for a few days in case @Tressley wants to comment

[2020-09-14 14:56] RaitheOfDureya commented on #9957
@paglias, the files `front.json` have only ```{}``` inside it.
Should I remove them as I did with the `maintenance.json`?

[2020-09-14 15:11] Tressley commented on #12583
@raghavchugh21 -- This is the expected behavior. The task type descriptions are there to help new users differentiate between the task types. Once the user has added enough tasks of a certain type, the description disappears as we assume the user has a general understanding of the task types.

[2020-09-14 15:11] #12583 closed, assigned to nobody

[2020-09-14 16:31] paglias commented on #11386
I'll fix this

[2020-09-14 17:13] VipulKhandelwal1999 commented on #11356
Hi @Tressley I have worked on this issue. I am able to come up with a solution and fixed at my local setup.
--> Screenshots Of Issues Right Now:-

Desktop View:-
![2020-09-14 (63)](https://user-images.githubusercontent.com/44499187/93115520-9668ad00-f6d9-11ea-942b-216c7e93e60e.png)

Ipad View:-
![2020-09-14 (60)](https://user-images.githubusercontent.com/44499187/93115772-fc553480-f6d9-11ea-98f2-a

[2020-09-14 17:19] paglias commented on #9957
@RaitheOfDureya front.json has some strings, see https://github.com/HabitRPG/habitica/blob/develop/website/common/locales/en/front.json

[2020-09-14 17:20] paglias commented on #9957
or do you meant that no strings are used? In that case yeah I'd remove the file but let's only do the english one for now, thanks!

[2020-09-14 18:09] RaitheOfDureya commented on #9957
@paglias, never mind. I was with `locales\el` file open, instead of the one in `locales\en`.

[2020-09-14 18:39] Tressley commented on #11356
Hey @raghavchugh21 -- I think you may have been confused about the scope of this issue. The new design for the Skills bar is what needs to be implemented, while accounting for the display issue outlined #10618. That's the Zeplin link @paglias provided above.

[2020-09-14 18:45] VipulKhandelwal1999 commented on #11356
Hi @Tressley I am not @raghavchugh21 .Please give me access of your designs so that i can implement them ASAP.
My email id is khandelwal.vipul1605@gmail.com

[2020-09-14 18:47] Tressley commented on #11356
Hi @VipulKhandelwal1999 -- Thank you for your interest! This issue is currently being handled by @raghavchugh21. If @raghavchugh21 is unable to continue working on this issue, it will be open for you to claim.

[2020-09-14 18:50] VipulKhandelwal1999 commented on #11356
Ok @Tressley .Thanks for your response.

[2020-09-14 20:48] raghavchugh21 commented on #11356
I would like to hand over this issue to @VipulKhandelwal1999

[2020-09-14 20:53] VipulKhandelwal1999 commented on #11356
Thanks @raghavchugh21

[2020-09-14 20:55] VipulKhandelwal1999 commented on #11356
Hi @Tressley Please assign this issue to me and please provide me the access of your designs as well. My email id is khandelwal.vipul1605@gmail.com

[2020-09-15 06:51] Alys opened #12585 "missing shop image for 2020-09 Marvelous Moth Mystery Item set"
As @Soown (d6b40670-91bc-46d1-b60d-dd4014ba7c43) reports:

**"When looking in the time travelers shop at the marvelous moth set, the icon for the set is not present and the box is in the incorrect direction."**

This is what I see when I have only two Mystery Sets unowned, the blank one being the new moth set:
![image](https://user-images.githubusercontent.com/1495809/93175736-738ad700-f773-11ea-8

[2020-09-15 07:28] Alys opened #12586 "Entering "[]()" in chat causes "unexpected error""
If you try to post a message containing "[]()" you see "An unexpected error occured". This applies to private messages or posts to any group (Tavern, Guilds, Party).

The server error is `Cannot read property 'map' of undefined at toSourceMapRegex` (full error below), referring to (I assume) this code:
https://github.com/HabitRPG/habitica/blob/9adf5160feb0e5379d62c79a6aee1a5dd29a9874/website/serve

[2020-09-15 09:09] zippomode opened #12587 "change dropdown menu to hardness line"

[2020-09-15 09:12] zippomode commented on #12587
current one
![image](https://user-images.githubusercontent.com/9381877/93190938-a2418700-f74c-11ea-864b-cd7fef3a7c38.png)
click - select - click
possible one
![image](https://user-images.githubusercontent.com/9381877/93191016-b71e1a80-f74c-11ea-8597-4eb89bae8f70.png)
zero clicks, just drug to correct hardness
(cant find how this element named)

[2020-09-15 09:15] zippomode commented on #12587
I think it's easy to do and a little better UX

[2020-09-15 10:33] paglias commented on #12587
Thanks for the report @zippomode but this component was redesigned just recently and I don't think we want to change how it works right now, I'm also not sure dragging is better from an UX perspective. Anyway let's hear from our designer @Tressley

[2020-09-15 10:53] zippomode commented on #12587
for understand this just repeat something 10-20 times
fewer clicks - less time waste - more time to donate

but let's hear designer, yes
also, ty for this service you both. it's great.

[2020-09-15 11:23] Tressley commented on #12587
@zippomode -- Thank you for the feedback, but as @paglias said, this control was recently updated and we don't have plans of changing it.

As for improved UX, you should take into account user learning. Dropdowns a fundamental web component and are used throughout Habitica's UI. They don't require a user to familiarize themselves with a new control.

[2020-09-15 13:10] #12587 closed, assigned to nobody

[2020-09-15 15:19] Tressley commented on #12421
Suggested page title structure should be:
`Section | Habitica`
`Tasks` | `Habitica`
`Items` | `Inventory` | `Habitica`
`Equipment` | `Inventory` | `Habitica`
`Stable` | `Inventory` | `Habitica`
`Market` | `Shops` | `Habitica`
`Quests` | `Shops` | `Habitica`
`Seasonal Shop` | `Shops` | `Habitica`
`Time Travelers` | `Shops` | `Habitica`
`Party Name` | `Party` | `Habitica`
`Guild Name` | `Guilds` | `

[2020-09-15 16:26] veeeeeee commented on #8405
We agree that having the API throw an error if an incorrect date format is supplied is the best approach.

[2020-09-15 16:52] veeeeeee commented on #11223
Closing as this is increasingly irrelevant to the current product.

[2020-09-15 16:52] #11223 closed, assigned to nobody

[2020-09-15 16:57] veeeeeee commented on #11255
As this is a relatively minor issue that's easily resolved by typing one additional letter to specify the intended recipient, we're closing to redirect contributor energy towards more impactful changes.

[2020-09-15 16:57] #11255 closed, assigned to nobody

[2020-09-15 16:59] veeeeeee commented on #11279
Removing this from help wanted for now as this is likely to be impacted by upcoming reconsideration of how Orb of Rebirth should work relative to other resetting mechanics.

[2020-09-15 16:59] #11279 closed, assigned to nobody

[2020-09-15 19:26] RaitheOfDureya commented on #9957
@paglias, you can also cross `death.json` off the list. No unused strings there.

[2020-09-16 10:45] paglias commented on #11213
Given the redesign of the PMs page, can this be closed?

[2020-09-16 10:47] VipulKhandelwal1999 commented on #11356
Hi @Tressley @paglias .Please assign this issue to me and please provide me the access of your designs as well. My email id is khandelwal.vipul1605@gmail.com

[2020-09-16 10:47] VipulKhandelwal1999 commented on #11356
Hi @Tressley @paglias .Please assign this issue to me and please provide me the access of your designs as well. My email id is khandelwal.vipul1605@gmail.com

[2020-09-16 16:09] citrusella commented on #11213
FWIW, it doesn't look like it's happening anymore.

[2020-09-16 16:12] #11213 closed, assigned to nobody

[2020-09-16 16:13] paglias commented on #12585
this has been fixed with the last deployment, right @SabreCat ?

[2020-09-19 10:14] #12585 closed, assigned to nobody

[2020-09-19 10:39] Alys commented on #6426
This was posted in the Report a Bug guild by @ViolaJim (16b83d01-b5f4-4fa7-b22f-6e2658e9398a):

_"I'm having some accessibility problems with Habitica. I use the IOS screen reader Voiceover and I can't access things like the user menu. I select it and just get the gem store or private messages popover."_

If you'd like more details, should we discuss it here or by email or anywhere else?

[2020-09-20 03:10] Alys opened #12591 "opening then closing a modal causes whitespace next to scroll bar"
When you open a modal then close it, the website gives itself extra whitespace on the right-hand side, just to the left of the browser's scroll bar.

Steps to reproduce and work-around to fix temporarily:
1. Visit the Tasks page (I've also noticed in on Inventory > Items but I don't know if it's all pages).
1. Observe that the right-hand side of the page does not have extra whitespace (first scree

[2020-09-20 08:07] benkelaar commented on #12482
Alright, finally found some time to work my way through all the swallowed exceptions in the unit tests to figure out that the problem here seems to be that the newMessages element in the data export has messages keyed on `uuid`, which means that they would turn into xml tags some of which would start with numbers, which is not allowed.

There is of course several ways to deal with this, I could si

[2020-09-20 08:37] paglias commented on #12482
@benkelaar I'd say that converting this to a list seems like a good idea but in this case, given the feature I'm not sure we care that much about exporting `newMessages` which is a list of groups with unreads messages as part of the data export feature

[2020-09-20 09:04] benkelaar commented on #12482
Indeed, I was thinking that too.  However, the fix turned out to be fairly trivial.  I'm having lots of trouble running the tests locally though, is that just me?

[2020-09-20 11:19] paglias commented on #12482
@benkelaar errors specifically for the tests for the data export or for tests in general?

[2020-09-20 19:14] benkelaar commented on #12482
@paglias For the API unit tests in general.

Something seems to be going wrong with the `dropDatabase` call in `helpers/api-unit.helper.js#afterEach`.  Unless I comment that line out I can only run a single api unit test (It times out on the first invocation of afterEach).

If I do comment it out though tests start failing that apparently depend on an emptied database state.

Then also this error

[2020-09-20 19:32] benkelaar commented on #12482
@paglias It's not the locking thing, I get the same behaviour when I run 4.2.1 (Would be weird anyway, since locking actually got looser from 4.2.2 onward)

[2020-09-20 19:34] benkelaar commented on #12586
I'll look in to it.

[2020-09-20 20:40] benkelaar commented on #9845
I'd like to fix this, but I'm myself quite colourblind so even with browser extensions I will not be able to validate all colour combinations.

However the original description suggests that the colour change just needs to be made more pronounced, while currently (even when I look at the css) there's no colour-change at all.

Should I add this colour (`#6133b3`, right, @Tressley ?) to `colors.scss

[2020-09-20 20:53] shanaqui commented on #9957
It looks like some necessary strings have gone missing! citrusella spotted that they had been mentioned.

One is a category for guilds called "organization" (some guilds have that category and now showing an error about a missing string), and the other one is to do with cancelling Apple subscriptions:

Can we rule out whether these issues are caused by one of these PRs?

[2020-09-21 05:41] RaitheOfDureya commented on #9957
Thanks for reporting this issue, @shanaqui
Unfortunately we cannot rule that out. This error was in fact caused by the removal of this string.  Looking in detail and redoing the searches I found that there are keys passed dynamically that did not fit the regex `\.t\((?!')` and `\$t\((?!')`.

in: `website/client/src/components/settings/subscription.vue`

[code]

I will update my searches to include

[2020-09-21 07:34] paglias commented on #12482
@benkelaar what's the exact error that you get?

[2020-09-21 07:43] paglias commented on #9957
@shanaqui @RaitheOfDureya I've added back the missing strings https://github.com/HabitRPG/habitica/commit/82e6d544c8dc9a35bada7c1618d3cea371b23459

I think the `organization` one was removed because it's an old category that can't be added anymore but was used by some categories and so it can only be found in the database but not in the code.

The fix will go live later today

[2020-09-21 08:26] benkelaar commented on #12482
So if I run `npm run test:api:unit` I get:

[code]

Then if I change https://github.com/HabitRPG/habitica/blob/develop/test/helpers/mongo.js#L125-L137 to
[code]

I get:
[code]

Then if I comment out https://github.com/HabitRPG/habitica/blob/develop/test/helpers/api-unit.helper.js#L16 and either call or remove the done argument all tests run normally but a bunch of them fail (I guess due to unexpec

[2020-09-21 13:31] paglias commented on #12591
I can't replicate the issue, but looks like it's going to be solved by https://github.com/bootstrap-vue/bootstrap-vue/pull/5771

[2020-09-21 13:34] paglias commented on #12482
Hmm the unit tests are running fine for me, are your deps up to date? what's the mongoose version?

[2020-09-21 14:21] paglias commented on #11386
@lulock I'm fixing only the issue described here originally, if you want to work on the redesign that's still available, just comment here

[2020-09-21 14:22] #11386 closed, assigned to nobody

[2020-09-21 14:51] citrusella commented on #9957
Re: "Organization" (maybe this isn't a good place but I don't know of a better one yet): Is that equivalent to the currently-available "Getting Organized" (`getting_organized`)? Would it make sense to find guilds using "organization" and change it out for "Getting Organized"? Organization-category guilds can't be filtered on the search and things with that tag don't show up when someone is trying

[2020-09-21 15:01] paglias commented on #9957
that's a good point @citrusella , do you mind opening an issue about that? thanks

[2020-09-21 15:16] benkelaar commented on #12482
I do run `npm install` fairly regularly, I'll try dropping the node_modules directory to see if a clean sheet fixes it.

[2020-09-21 15:18] paglias commented on #12591
Fixes in #12603

[2020-09-21 15:18] #12591 closed, assigned to nobody

[2020-09-21 18:34] jbusa22 commented on #12421
I'm a first-time contributor to this project and would like to take this on. Do you think this would be easy enough?

[2020-09-22 06:35] benkelaar commented on #12482
Removing node_modules in root and client and re-running `npm install` didn't change the behavior, mongoose version seems to be 5.10.3

[2020-09-22 11:55] jbusa22 commented on #12421
Ok I'm working on it now

[2020-09-22 13:57] paglias commented on #12421
thanks @jbusa22 ! I'm marking this as in progress for you, let me know if you have any question

[2020-09-22 16:30] jbusa22 commented on #12421
I have a few questions about best practices for Habitica:
1. It seems like Vuex mutations aren't used so how would I even set the title state? Is it okay to directly edit the store.state.title?
2. Right now I am emitting to the root from the router on link change. I tried modifying the state directly from router but it doesn't update in the app. Is there a better way to do this?
3. Is it even nece

[2020-09-22 17:26] paglias commented on #12421
Hi @jbusa22 ,

1. We don't use Vuex mutations because they are not compatible with some of our code, we usually change the state directly in store actions

2. Can you show an example of what you tried? I think a good option might be to use an in-component guard for each route component (https://router.vuejs.org/guide/advanced/navigation-guards.html#in-component-guards) that should make it possible

[2020-09-22 17:28] #12586 closed, assigned to nobody

[2020-09-22 17:42] paglias commented on #12482
Sorry about that but I've not been able to replicate, the tests are running fine for me :( Are you using the mongodb process from `npm run mongo:dev` or your own instance?

[2020-09-22 23:27] citrusella opened #12606 "Some guilds using unfilterable "organization" category where "getting organized" may be intended"
[//]: # (Before logging this issue, please post to the Report a Bug guild from the Habitica website's Help menu. Most bugs can be handled quickly there. If a GitHub issue is needed, you will be advised of that by a moderator or staff member -- a player with a dark blue or purple name. It is recommended that you don't create a new issue unless advised to.)

[//]: # (Bugs in the mobile apps can also

[2020-09-22 23:27] citrusella commented on #9957
Done!

[2020-09-23 09:37] shanaqui commented on #11139
I've gone ahead and done that since we didn't get a reply. If you'd like to pick it back up in future, just let us know!

[2020-09-23 09:39] shanaqui commented on #10242
@bigsee Hi! Still planning on working on this one? No hurry, we just check in to make sure that issues don't go stale. Please let us know within a week if you'd like to keep working on this, or we'll put it back in the queue (but you can always pick it up again in future). :)

[2020-09-23 09:40] shanaqui commented on #11304
Same here! :) Are you still working on this one?

[2020-09-23 11:22] paglias commented on #12606
I've also noticed that some guilds have categories with empty names that result as `""` when viewed

[2020-09-23 16:06] jbusa22 commented on #12421
Currently, I am editing the state directly from this.$store.state.title on mount for the pages mentioned by Tressely above. Now I will go add in the guard to update the group name on update. How do I create a Team on my local environment? I hit a paywall so not sure how to test it.

[2020-09-23 16:11] paglias commented on #12421
For group plan right now there isn't an easy way to test it, you can:

1. Edit the database directly and add a fake group plan to a guild
2. Signup for stripe (it's free) and add the test credentials you get from them in config.json (the stripe api key), then you'll be able to use one of the test cards they provide, see https://stripe.com/docs/testing

[2020-09-23 17:29] paglias opened #12607 "Update Gifting Modal Design"
Need to implement the new Send Gift modals seen here: https://zpl.io/O0RPAqQ

[2020-09-23 21:30] benkelaar commented on #12482
@paglias Wow, apparently, that was it.  I had been running mongo off of the official mongo docker container, but when I use the `run-rs` one through `npm run mongo:dev` the tests run normally.  Really weird though, since the docker container I use is the same mongo database version as the one configured for run-rs.  Something under the hood is going wrong, but at least I can run the tests locally

[2020-09-24 07:34] benkelaar commented on #11139
I've implemented a fix based on what @sayansur25 did earlier.

[2020-09-24 11:07] WolfTown0907 commented on #12607
@Tressley
I am ready to work on this project. Can i have the location of the source file to work on?

[2020-09-24 15:01] Tressley commented on #12549
No plans for a mobile footer at the moment. I agree centering the text would help. Let's go ahead and do that.

[2020-09-24 18:32] paglias commented on #12549
Marked as help wanted, @VipulKhandelwal1999 let me know if you want to tackle this!

[2020-09-24 18:35] VipulKhandelwal1999 commented on #12549
I will work on this issue. Thanks for your response @paglias

[2020-09-24 18:46] lynmuldrow commented on #12607
@Tressley - New to contributing code here, but if more than one contributor is allowed I'd love to work on this as well.

[2020-09-24 21:25] asktree opened #12610 "Discussion: darker patterns in game design"
Hi all.

Basically, there is a super long list of things MMOs and mobile games do to be addictive and/or feel more rewarding. I was particularly shocked at how good Gacha games are at this stuff. Habitica does very little of these things.

To me, the ideal version of Habitica would implement a lot of these patterns, even ones that are kinda dark. I realize there's a need to balance this against ma

[2020-09-25 03:17] Alys commented on #11139
@benkelaar awesome, thank you! I've marked this as in progress for you.

[2020-09-25 03:22] Alys commented on #12549
@VipulKhandelwal1999  Thanks! I've marked it as in progress for you.

[2020-09-25 04:58] Alys commented on #12610
Interesting ideas. We use GitHub primarily for bug reports so you may like to submit this through Help > Request a Feature (if you'd like more details about reporting bugs and suggestions, see the template comments in an empty new issue here). I'm going to close this since it's not a bug but it will remain available in GitHub so if you want to include a link to this in your feature suggestion, the

[2020-09-25 04:58] #12610 closed, assigned to nobody

[2020-09-25 08:30] paglias commented on #11450
I'm setting this issue back to `suggestion discussion` since the tasks accessibility PR by @alexandreabeh has been merged. We can either continue with this issue or split it into new ones

[2020-09-25 08:49] paglias commented on #12607
@lynmuldrow unfortunately it's not possible to work in two on the same issue but we'll ping you in case this becomes available again

[2020-09-25 09:21] #12482 closed, assigned to nobody

[2020-09-25 19:36] SabreCat opened #12611 ""Login" button on home page is cut off or hidden at some window sizes"
[//]: # (Before logging this issue, please post to the Report a Bug guild from the Habitica website's Help menu. Most bugs can be handled quickly there. If a GitHub issue is needed, you will be advised of that by a moderator or staff member -- a player with a dark blue or purple name. It is recommended that you don't create a new issue unless advised to.)

[//]: # (Bugs in the mobile apps can also

[2020-09-25 22:25] hypomania commented on #12611
I am ready to work on this issue

[2020-09-26 03:22] shamikakumar commented on #12611
Hey @SabreCat I'd brought up that I'd like to work on this issue in the report a bug page, do assign this issue to me I'd like to tackle it

[2020-09-26 12:44] RaitheOfDureya commented on #9957
## Discussion regarding the `gear.json` file

I spent a few hours analyzing this (tricky) file and its (countless) strings (>2000) .
Using regular expressions I could find many strings being generated dynamically like the sets `armorSpecial`, `headSpecial`, `shieldSpecial`, `weaponSpecial`...

e.g.,
[code]

But some patterns I could only find searching manually. As for example the strings:
- weapo

[2020-09-26 15:58] paglias commented on #9957
I agree to leave the gear.json file untouched

[2020-09-27 05:59] Alys opened #12613 "can't scroll through tag filter screen with keyboard when not enough tasks are shown"
If you have a lot of tags, then when you select one that has no tasks or only a few tasks assigned to it, you cannot use the keyboard arrow keys to scroll all the way down the tag filter panel. You can still use the mouse/trackpad to scroll.

Reported by @shewhoknits (e1d43f13-4a7b-4188-8844-127b4f63c67c), reproduced by me. Firefox on Ubuntu for me.

Steps to reproduce:
1. Give yourself very many

[2020-09-27 06:01] Alys commented on #12613
_I've labelled this as "medium level coding" but that's a bit of a guess. If you're not reasonably confident you could work out how to solve this, you may want to pick a different issue._

[2020-09-27 06:02] Alys commented on #12613
Sample tag data that allows the bug to be reproduced:

[code]

[2020-09-27 16:12] jbusa22 commented on #12421
I'm thinking for the challenges and guild tabs we just say something like `Guilds | Habitica` and `Challenges | Habitica` until the user selects a specific guild or challenge. Does that make sense?

[2020-09-28 04:56] Alys opened #12614 "can't scroll to see all Quests in Party > Start a Quest modal on Safari"
As reported by @quiltsbylaurel (c8dcb8ce-eaae-47be-868e-4539998090f4):

**"When I tried to start a new quest for my party, I wasn't able to scroll down to see the bottom of my scrolls to get to the one I wanted."**

**"I'm using Safari 14.0 on Mac OS version 10.15.6"**

They added that it happens with scrolling by both keyboard arrow keys and mouse/trackpad, and they provided this screenshot:

![i

[2020-09-28 09:01] paglias commented on #12421
@jbusa22 I would use the name on the Menu, so. it would be `My Guilds`, `Discover Guilds`, `Tavern` or a specific Guild when you're viewing it. Does it make sense?

[2020-09-28 14:27] paglias commented on #12614
The scroll bar doesn't appear because Safari hides it until you scroll, so it's there but it doesn't work for some reason, I've confirmed the issue. It seems that sometimes resizing the height of the window re-enables the scrolling, if you want to suggest it as a workaround for now. The css is correct so it's probably a Safari bug

[2020-09-28 15:50] jbusa22 commented on #12421
Yeah, that makes sense! I think I have everything ready to be tested other than the group plan. I attempted to use stripe and I think it worked but once the payment went through I got an error: Error: No such plan: 'group_monthly'. I can try to edit the db directly but haven't used mongo before. Do you have any tutorials I can read/watch to learn how to access/edit the db?

[2020-09-28 15:53] Tressley commented on #12607
Sure thing @WolfTown0907! Can you provide an email address to be invited to our Zeplin project? Zeplin is the application we use for hand-off between designers and developers.

[2020-09-28 15:58] paglias commented on #12421
@jbusa22 hmm I think setting up the stripe plans might be too complex, for the database you can use the `mongo` shell (https://docs.mongodb.com/manual/mongo/) or use a GUI like Robo 3T https://robomongo.org/

But if it takes too long, no worries, just push the code and we'll give it a look

[2020-09-28 16:31] jbusa22 commented on #12421
Ok I am able to view the db and the various test guilds and parties I created. Is there an easy way to change the fields of a guild / party to convert it into a group?

[2020-09-28 16:44] paglias commented on #12421
What are you using?

Il lun 28 set 2020, 18:31 jbusa22 <notifications@github.com> ha scritto:

[2020-09-28 17:24] jbusa22 commented on #12421
The Robo 3T GUI, here's an example of a guild:

`{
    "_id" : "2c784851-79a9-496d-9ed3-4daa50829748",
    "leaderOnly" : {
        "challenges" : false,
        "getGems" : false
    },
    "quest" : {
        "progress" : {
            "collect" : {}
        },
        "active" : false,
        "members" : {},
        "extra" : {}
    },
    "tasksOrder" : {
        "habits" : [],
        "daily

[2020-09-28 17:44] paglias commented on #12421
If you right click on the document you can edit it,

<img width="725" alt="Schermata 2020-09-28 alle 19 40 24" src="https://user-images.githubusercontent.com/589911/94466929-7c8f9580-01c2-11eb-9c08-d0e08b716460.png">

What you want to do is change this part:

[code]

with something like this:

[code]

[2020-09-28 18:01] jbusa22 commented on #12421
Awesome it works! Thanks I'll submit a PR now.

[2020-09-28 19:20] J-Sanderson commented on #11067
I'd be happy to pick this one up if it's still outstanding.

[2020-09-29 03:14] IAmAlexPuga opened #12629 "Setting up Habitca Locally Windows 10"
I get a huge list with the following errors when I try running npm install on windows 10 installation guide:
'
npm WARN tar ENOENT: no such file or directory, open 'C:\Users\Alex Puga\Desktop\habitica\website\client\node_modules\.staging\rxjs-0259747e\observable\ErrorObservable.js'
npm WARN tar ENOENT: no such file or directory, open 'C:\Users\Alex Puga\Desktop\habitica\website\client\node_modules

[2020-09-29 14:44] paglias commented on #11067
@J-Sanderson thanks! I'm marking the issue as in-progress for you

[2020-09-29 14:59] paglias commented on #12629
Hi @IAmAlexPuga I'm sorry about the troubles you're having but the best place to get support on these issues is the [Aspiring Blacksmiths](https://habitica.com/groups/guild/68d4a01e-db97-4786-8ee3-05d612c5af6f) guild

[2020-09-29 14:59] #12629 closed, assigned to nobody

[2020-09-29 16:49] SabreCat commented on #12126
Sounds like the best approach for our current set of tools would be to create a script that:

* Either takes a user-specified list of string tokens...
* ...or finds them by looking at the differences in `en` files over a commit
* Then rewrites all the corresponding strings in non-`en` locale files to the new English text

We'll then run that script, commit, and merge to Weblate as part of our regu

[2020-09-29 16:56] SabreCat commented on #12611
Hi @hypomania, in this case @shamikakumar did let us know their intent to tackle this before the issue was written up, sorry about that! If they relinquish the issue, we'll be sure to hit you up next.

@shamikakumar, you're good to go, with our thanks!

[2020-09-29 23:52] Alys opened #12630 "Confection Flying Pig misaligned in Stable"
_I've labelled this as suggestion-discussion for the staff to confirm if it is a bug and/or to comment on the fix (e.g., if it's best fixed by the staff)._

As reported by @blue-raindrop (8c51d487-4257-4e7c-9892-0dbceeed33d2):

"hello! I've noticed that the Confection Flying Pig in the Stable is appearing too much towards the bottom of its box for me. If I put it on my avatar, it appears in the sa

[2020-09-29 23:55] Alys commented on #12630
_I've labelled this as suggestion-discussion for the staff to confirm if it is a bug and/or to comment on the fix (e.g., if it's best fixed by the staff)._

[2020-09-30 13:57] Deeksha2501 opened #12631 "Unnecessary padding in footer in mobile view."
**General Info**
Browser - Chrome

**Description**
The footer of the website has an unnecessary right and left padding of 6em and also the layout of bottom links is not proper.

![image](https://user-images.githubusercontent.com/47636651/94695567-af1cc800-0353-11eb-9f56-eecea1be70f9.png)

Can I work on this issue?

[2020-09-30 16:28] paglias commented on #12631
Hi @Deeksha2501 , thanks for the report but this seems to be the same issue (it's a different style but it's the same component) of #12549 that is already being worked on

[2020-09-30 16:31] paglias commented on #12631
@Deeksha2501 the links were already reported at https://github.com/HabitRPG/habitica/issues/12549 but if you want to fix the padding that's fine! I'll mark the issue as in progress for you

[2020-09-30 16:33] paglias commented on #12126
@SabreCat I'm going to add your comment to the issue description since it's far more clear that what I wrote originally!

[2020-09-30 17:01] J-Sanderson commented on #11067
Thanks. Can I confirm, should the badges both be the same height? e,g, if one has to be bigger to accommodate a large member count, should the other match?

[2020-09-30 17:22] hellosurbhi commented on #9470
@veeeeeee I would be interested in tackling this issue if it hasn't been claimed yet. Thanks!

[2020-09-30 17:30] veeeeeee commented on #9470
@hellosurbhi Go right ahead! cc: @shanaqui in case I lose track of this thread somewhere later

[2020-09-30 18:01] Deeksha2501 commented on #12631
Okay,
Thank you so much
I'll work on this issue

[2020-10-01 06:15] VipulKhandelwal1999 opened #12634 "Issues While Local Run"
[//]: # (Before logging this issue, please post to the Report a Bug guild from the Habitica website's Help menu. Most bugs can be handled quickly there. If a GitHub issue is needed, you will be advised of that by a moderator or staff member -- a player with a dark blue or purple name. It is recommended that you don't create a new issue unless advised to.)

[//]: # (Bugs in the mobile apps can also

[2020-10-01 08:42] paglias commented on #12634
I would suggest to try the following:

1. Make sure you're using the latest node 12.x version
2. Make sure your repo is up to date
3. Try to delete the `node_modules` folders both at the root level and under `website/client` and then run `npm i` again

[2020-10-01 13:38] VipulKhandelwal1999 commented on #12634
@paglias Sorry i have closed this by mistake.

[2020-10-01 14:34] paglias commented on #11067
Good question, pinging @Tressley to get an opinion on the design. I'm attaching a screenshot of the bug
<img width="464" alt="Schermata 2020-10-01 alle 16 33 55" src="https://user-images.githubusercontent.com/589911/94823227-eb0f6600-0403-11eb-85b5-a4fe2f2175ff.png">

[2020-10-01 14:38] VipulKhandelwal1999 commented on #12634
@paglias my system has all the required configuration to run.
My node version is v12.18.3
My npm version is v6.14.8
I have done what you said i.e., Try to delete the node_modules folders both at the root level and under website/client and then run npm i again but again the same error is appearing.

[2020-10-01 15:01] Tressley commented on #11067
The container should accommodate the width, but both should be the same height (the height of the Guild Bank).

[2020-10-01 17:07] paglias commented on #12634
sorry about that @VipulKhandelwal1999 but it looks like a dependency is using all the available ram, you might want to report the issue at https://github.com/vuejs/eslint-plugin-vue but it's not really related to Habitica and we've not been able to reproduce it.

I would ask in the Aspiring Blacksmiths guild for help

[2020-10-01 17:07] #12634 closed, assigned to nobody

[2020-10-01 18:33] J-Sanderson commented on #11067
Thanks, how's this looking?

![Screenshot from 2020-10-01 19-29-41](https://user-images.githubusercontent.com/17064002/94848891-8f050b80-041c-11eb-99c6-61786a4ebc8c.png)

On a tangent I noticed the divs are clickable but not accessible by keyboard navigation, is this a known issue?

[2020-10-02 09:14] aandrewww commented on #12631
Hey. What's the status of this issue? I'm ready to fix it :)

[2020-10-02 14:04] paglias commented on #12631
Hi @aandrewww , as you can see from the comment above yours someone is already working on this

[2020-10-02 16:53] #10008 closed, assigned to Tressley

[2020-10-02 16:56] #12611 closed, assigned to nobody

[2020-10-02 16:57] paglias commented on #11067
@J-Sanderson it's looking good, for the keyboard navigation if it's something that you can add in this pr it would be great!

[2020-10-02 17:52] J-Sanderson commented on #11067
No problem.There's a similar issue with the summary/description/challenges accordion at the right being inaccessible via keyboard, but I have left it as it's unrelated to the list buttons - maybe should be its own issue? Happy to fix if needed though!

[2020-10-02 22:39] lydiaggoodson commented on #9244
I'll jump on this one!

[2020-10-03 08:34] paglias commented on #9244
@lydiaggoodson thanks! marked as in progress for you

[2020-10-03 09:00] paglias commented on #11067
We have plans to improve the accessibility of the website but right now we don't have a specific plan, so I'd say the current PR is good to go for now

[2020-10-03 09:20] Alys opened #12638 "on-hover panel does not appear for purchasable items in Shop and Rewards column"
When you mouse-over an item in the Shops or pinned to your Rewards column (e.g., a piece of equipment or a Quest scroll), the on-hover information does not appear.

If you click on the item to open its own modal, then you see the on-hover panel, and you still see it when you close the modal. However, when you move your mouse away to make the on-hover panel vanish, moving your mouse back over the i

[2020-10-03 14:45] paglias commented on #12638
Do we have an idea on when this started?

[2020-10-03 14:54] paglias commented on #12638
Looks like this was caused by a typo here https://github.com/HabitRPG/habitica/pull/12363/files#diff-a2d98063fa672e3d7a249c7d00a55e5bR68 ( the comma is not necessary )

[2020-10-03 14:56] #12638 closed, assigned to nobody

[2020-10-03 14:56] paglias commented on #12638
I've pushed a fix to `release`, it'll go live with the next deployment

[2020-10-04 06:43] almondheng commented on #12607
@Tressley Hi, it seems that this issue is not in progress. May I pick it up instead? Here's my email address: almondheng@gmail.com

[2020-10-04 16:04] mario130 commented on #11364
@Alys I think I can solve this issue, I've made an Arabic site before and have some experience using Vue, but I'm new to contributing and I need help locating the file first, thanks.

[2020-10-04 17:08] mario130 commented on #11364
But it has to do with text aligning and input direction so I think it will be a little complex to check for change direction at every input

[2020-10-05 04:01] Alys commented on #11364
@mario130 Thank you! I"m marking this as in progress for you.

I'm not certain myself where this should be fixed, but if you do the Unix command below it will show you all *.vue files that have `chat` (case-insensitive) in their names, so one of those may be either the correct place to modify or will give you pointers to other related files (e.g., files that contain its name).

But post again here

[2020-10-05 04:02] Alys commented on #11364
Sorry, this is the command:

`find . -type f -iname \*chat\*vue`

[2020-10-05 04:36] Alys commented on #9845
I've set this back to "on hold - needs design" since a design-related decision is needed from @benkelaar's questions for @Tressley

[2020-10-05 09:29] shanaqui opened #12649 "Item descriptions do not reliably appear on hover in rewards or market"
Report from RaB:

This seems to be the case for me as well, on a Windows computer, in both Chrome and Firefox.

[2020-10-05 10:02] Alys commented on #12649
I think this is likely to be the same bug as in https://github.com/HabitRPG/habitica/issues/12638 which has been fixed (and so wasn't appearing in the list of open bugs) but the fix isn't live yet.

I'm closing this but if it's still happening after the next deployment to production, we can reopen it.

[2020-10-05 10:02] #12649 closed, assigned to nobody

[2020-10-05 14:19] #11139 closed, assigned to nobody

[2020-10-06 01:43] mario130 commented on #11364
I followed all the steps in the setup guide and everything was fine with no errors until I entered `npm run mongo:dev` which caused the error in the image.
![error](https://lh3.googleusercontent.com/DPBLdCG8cdEBDWpOXQJPelNdr3GZlQB8uuJDIo5JjlxSX7LuPC-v1fYTV6gVafn3zI9naajNoudF0Q=w1366-h632)
I didn't use MongoDB before so I don't know how to fix it or if there's already a fix.

[2020-10-06 09:13] paglias commented on #11364
@mario130 looks like there was some issues with the screenshot you posted, can you try again?

[2020-10-06 09:49] shanaqui commented on #11304
Since I didn't get a reply and I can't spot any activity, I'm putting this back as help wanted again, but if you'd like to pick it up again, just let us know, @bigsee!

[2020-10-06 09:50] shanaqui commented on #10242
Same here: since I didn't get a reply and I can't spot any activity, I'm putting this back as help wanted again, but if you'd like to pick it up again, just let us know, @bigsee!

[2020-10-06 09:53] shanaqui commented on #11356
@VipulKhandelwal1999 Hi! Did you get everything and get chance to get started on this? I'm just checking in to make sure the issue doesn't go stale -- if you're not working on it anymore or you don't reply within a week, I'll mark it as Help Wanted again. :)

[2020-10-06 09:54] shanaqui commented on #11356
@VipulKhandelwal1999 Hi! Did you get everything and get chance to get started on this? I'm just checking in to make sure the issue doesn't go stale -- if you're not working on it anymore or you don't reply within a week, I'll mark it as Help Wanted again. :)

[2020-10-06 09:54] bigsee commented on #10242
hey @shanaqui (and team) - thank you for the nudge and really sorry about this. I've been underwater for a few weeks and started a new job. Just getting to clear emails now and this notification was perfectly timed.

Sorry to mess you guys around. Please consider me out of action for the time being but I'll definitely be back to help out once things settle down... 🙏🏽

[2020-10-06 09:55] shanaqui commented on #11767
Hi @prachi15091999! Are you still working on this issue? If not, or if you don't reply in a week, I'll mark it as help wanted again just to make sure it doesn't go stale. :)

[2020-10-06 09:56] shanaqui commented on #12442
@Amberlisi Hey, just checking in again! No rush, just making sure things don't go totally stale. :)

[2020-10-06 09:58] shanaqui commented on #12309
Hi @bigsee, are you still working on this issue? If not, or if you don't reply in a week, I'll mark it as help wanted again just to make sure it doesn't go stale. :)

[2020-10-06 09:59] shanaqui commented on #11865
@bigsee Same here! Are you still working on this? :)

[2020-10-06 10:16] prachi15091999 commented on #11767
Yes we are working on the issue sorry for the delay caused due to  our exams.

[2020-10-06 10:26] VipulKhandelwal1999 commented on #11356
@shanaqui Hi! I am working on it. I have completed most part. Now i am just refactoring the code to avoid redundancy, etc.

Zeplin's Design Of Skill Section:-
![2020-10-06 (5)](https://user-images.githubusercontent.com/44499187/95190100-69954a80-07ec-11eb-89bf-2f2a20114cda.png)

This is the output of my code same as the mentioned zeplin's design.
![2020-10-06 (6)](https://user-images.githubusercon

[2020-10-06 10:28] prachi15091999 commented on #11767
Yeah, we are working on this matter, and we apologize for the time taken, we got busy due to the academic activities. Also now we are able to host the habitica locally.We will provide you with the code as soon it's completed.

[2020-10-06 10:28] prachi15091999 commented on #11767
Yeah, we are working on this issue, and we apologize for the time taken, we got busy due to the academic activities. Also now we are able to host the habitica locally.We will provide you with the code as soon it's completed.

[2020-10-06 14:07] Amberlisi commented on #12442
I'm still working on it! Not going stale 😊

[2020-10-06 14:21] mario130 commented on #11364
@paglias that's the output
[code]

[2020-10-06 15:12] Tressley commented on #11067
@J-Sanderson -- Thanks for your work on this! If you'd like to open an issue regarding the accessibility of this section, please feel free! As @paglias said, we have plans to improve accessibility, but it's a slow project at the moment. Targeting specific areas would be incredibly helpful!

[2020-10-06 15:14] Tressley commented on #12607
@WolfTown0907 -- Are you still interested in working on this issue? If so, please provide an email address to be invited to our Zeplin project.

@almondheng -- If @WolfTown0907 doesn't reply in a couple of days, I'll let you pick this one up. 👍

[2020-10-06 15:18] Tressley commented on #9845
Thanks for your interest in this @benkelaar! We're actually tackling the button states internally, so we don't need to worry about it in this issue. They should be out in the wild soon. However, if you're interested in implementing the "Clear tags" feature, we can tackle it in this issue. Is that something you're interested in?

If so, the "Clear tags" color is just the base link color for Habitic

[2020-10-06 17:13] paglias commented on #11364
@mario130 can you try to delete the `mongodb-data` folder and try again?

[2020-10-07 05:56] benkelaar commented on #9845
Sounds good, I'll look at implementing the clear tags note.

What I was thinking, since it lives on the filter bar itself, wouldn't it make more sense to have a "Clear filters" link instead (i.e. also remove the text when you hit it)?

[2020-10-07 09:33] J-Sanderson opened #12653 "Accordion on guild/party page is inaccessible to keyboard navigation"
Opening as advised in discussion for issue #11067

The accordion menu at the right hand side of the guild and party page uses clickable divs instead of buttons and cannot be accessed via keyboard navigation.

[2020-10-07 09:34] J-Sanderson commented on #12653
I'm willing to pick this one up too.

[2020-10-07 10:19] paglias commented on #12653
@J-Sanderson thanks! I've marked it as in progress

[2020-10-07 15:37] Tressley commented on #9845
@benkelaar -- No, we should keep the "Tags" text as that's what the related control is called. I have a request though -- It looks like the "Clear all filters" text still exists within the dropdown. Would you be willing to update that to say "Clear selection"?

<img src="https://user-images.githubusercontent.com/2686586/95353361-2f31b900-0891-11eb-9a6e-1c28aa41f591.png" width="540" />

There are a

[2020-10-07 21:50] mario130 commented on #11364
still the same error

[2020-10-08 06:31] benkelaar commented on #9845
@Tressley Ah yeah, I remember that it was that "Clear all filters" labels that actually caused me to think that that is the way it should work.

How does it work for translations, should I just remove all translations to indicate that the label needs to be re-translated?

Definitely willing to tackle spacing etc. in this tag popup, will you also redesign the editable version or does that remain as

[2020-10-08 08:19] paglias commented on #11364
Looks like there might be an issue with `run-rs@0.7.0`, let's try with the previous version: `npm i run-rs@0.6.2`

[2020-10-08 10:46] paglias commented on #11364
@mario130 I've downgrade run-rs to 0.6.2 which is working (https://github.com/HabitRPG/habitica/commit/1d8880c04d8bdbcccdb92361e76c683907103cfa)

You'll have to re-install it with `npm i run-rs@0.6.2`

[2020-10-08 10:52] vidhuu commented on #12631
is the issue still open ?

[2020-10-08 10:57] hamboomger commented on #12417
@SabreCat @shanaqui Sorry for such a long delay, I actually made a change back in August and tested it locally, but I had a lot of troubles running the automated tests because of some database-related errors. Then I had to put this aside because of some personal issues, which, at least I hope, got almost fully resolved. Which means I'm ready to take ass and kick names :)

[2020-10-08 12:26] Tressley commented on #9845
@benkelaar -- I'm actually not sure how to handle the translations. Let me tag in @paglias to see if he has any guidance for when translated text is changed and deviates from the original.

As for the states, I'll account for the edit state as well. Hopefully not too many changes outside of spacing and maybe some colors and component states.

[2020-10-08 13:03] #12485 closed, assigned to nobody

[2020-10-08 13:05] shanaqui commented on #11767
No worries! Just checking in. :)

[2020-10-08 13:06] shanaqui commented on #11356
Thanks for checking in!

[2020-10-08 13:17] mario130 commented on #11364
@paglias that worked thanks, will see what I can do from here

[2020-10-08 13:25] mario130 commented on #11364
got another error when using `npm run client:dev`
here's the log file:
[code]
I'm just not familiar with the backend part of this project yet

[2020-10-08 13:43] mario130 commented on #11364
@paglias  so now the project is running as it should
but first I need to get gems to create a guild to start working
how can I get them?

[2020-10-08 14:58] mario130 commented on #11364
@paglias
It's done!
![image](https://i.imgur.com/ays4tLr.png)
I've made a pull request  #12655
btw that was my first contribution to open source ^^

[2020-10-09 09:57] paglias commented on #12631
@Vidhu007 the issue is still in progress, if it becomes available again it'll be marked as `help wanted`

[2020-10-09 10:24] paglias commented on #11364
thanks @mario130 , I'll review it in the next few days

[2020-10-09 10:25] paglias commented on #9845
@benkelaar for the translation:

1. If the string is only used there just change the English version
2. If it's used elsewhere and we want to keep the old string in the other places you can add a new string

[2020-10-09 10:30] shanaqui commented on #11516
I'm not sure if this is the same issue, but it can be split if others don't agree. From Nakonana:

And also:

I haven't tried reproducing yet.

[2020-10-09 15:04] RaitheOfDureya commented on #9957
@paglias the `backgrounds.json` files are well maintained. You can cross it off the list since there is no unused strings there.

[2020-10-10 08:35] #11067 closed, assigned to nobody

[2020-10-10 16:10] RaitheOfDureya commented on #9210
Hello there,

Is there still interest in pursuing this issue?

When a string is to be considered duplicated?
- in relation to the text it contains?
- its name?
- both cases?

In what context should the search for duplicates take place?
- Within a json file (e.g., `tasks.json`?
- In all files within a locales folder simultaneously (e.g., `locales\en`)?

Thanks in advance!

[2020-10-11 07:37] hamboomger commented on #12481
I love issues with (moderately) simple API changes, I'll give it a go if nobody is working on the issue at the moment.

[2020-10-11 11:15] paglias commented on #12481
@hamboomger that's great! I've marked this as in progress but let me know if you're having any issue with it

[2020-10-11 23:20] RaitheOfDureya commented on #9210
I did some digging in the source code and saw that this is still a 'valid' issue. I have some ideas on how to solve it and I'd like to give it a try if it's okay with you.

[2020-10-11 23:46] thewilloftheshadow commented on #12398
Is there any update on this? It's still marked as suggestion-discussion but I'd like to take a look at this one

[2020-10-12 06:43] Nakonana commented on #11687
@Alys I think, I've found out what part of the code is causing the issue:

    ".offset-3 {",
	"margin-left: -26% !important;",
	"}",

At least it fixes the FAQ, Overview for New Users pages and the misalignment in the guild member list header. (have yet to check pop-ups).

[2020-10-12 07:16] Alys opened #12664 "Collection Quest - Users can lose their "excess" collected items in multi-category collection quests"
When you cron while participating in a collection quest, it's possible for some of the items you've found to NOT be applied to the quest.
(This is a new version of the old bug where too many items of one type could be found: https://github.com/HabitRPG/habitica/issues/8248)

The example below uses mayhemMistiflying2 which is defined here:
https://github.com/HabitRPG/habitica/blob/efe7ea52bc0e3c275

[2020-10-12 20:09] bakerty commented on #12555
Hi, I'd like to work on this issue if that's okay

[2020-10-13 10:22] Alys commented on #11687
@Nakonana Oh nice! Removing those lines from the extension does fix the problem - well done! I've added that to the bug box at the bottom of the [Shrink Your Habitica Tasks](https://habitica.fandom.com/wiki/Shrink_Your_Habitica_Tasks) wiki page (feel free to edit it further if you wish). Thanks!

[2020-10-13 11:49] shanaqui commented on #11865
@bigsee I'm going to mark this as help-wanted again, but let us know if you want to pick it back up!

[2020-10-13 11:50] shanaqui commented on #12309
Since I didn't get a reply, I'm marking this as help wanted again -- but feel free to let us know if you'd like to pick it back up, if no one else volunteers!

[2020-10-13 11:55] shanaqui commented on #12549
Hi @VipulKhandelwal1999, are you still working on this? No rush, we just try not to let issues go stale! If I don't hear back from you, or if you're not interested in working on this anymore, I'll mark it as help wanted again in a week's time. 👍

[2020-10-13 11:59] VipulKhandelwal1999 commented on #12549
@shanaqui i have fixed footer but i will send you PR after my another PR gets reviewed. I have send another PR already which was for skill layout. As soon as your review on Skill layout gets completed,i will send you PR.

[2020-10-13 12:00] VipulKhandelwal1999 commented on #12549
@shanaqui if you want the output image after fixing footer i can send it to you.

[2020-10-13 14:46] bigsee commented on #11865
@shanaqui hello! I've done this already I believe. There was a merge request submitted but I can't remember the status. I'll be able to check tonight.

[2020-10-13 17:19] bigsee commented on #12309
Hi @shanaqui - as with the other related ticket, the work on this was done and had a PR in. I think from memory it just needed a test adding so perhaps you could pass it back and I'll add that? Let me know if someone else has taken over though. 👍

[2020-10-13 23:52] shanaqui commented on #12549
@VipulKhandelwal1999 No, I don't do reviewing of PRs anyway. But you don't need to wait -- you can start getting this one sorted out right away as well. No limit! :)

[2020-10-14 02:34] Alys commented on #12309
@bigsee I've marked this as in progress for you again. Thanks!

[2020-10-15 09:36] shanaqui opened #12677 "User profile isn't formatted consistently"
From a user report:

![image](https://user-images.githubusercontent.com/8144640/96105684-37fa3e80-0ed2-11eb-9a9f-98e29b13fb03.png)

[2020-10-15 10:55] #12677 closed, assigned to nobody

[2020-10-15 16:24] Gav80794 commented on #12549
Hi! I'd like to contribute.

[2020-10-15 16:33] VipulKhandelwal1999 commented on #12549
Ok i will send you PR right away.

[2020-10-16 16:14] CodeBerrie commented on #12664
Hello, I'd like to try working on this issue

[2020-10-17 09:10] paglias opened #12678 "Profile modal tab URLs don't work correctly (Profile, Stats, Achievements)"
When opening the profile page for your own user the url isn't updated correctly when switching tabs, for example going from Stats to Achievements the url doesn't change from `https://habitica.com/user/stats` to `https://habitica.com/user/achievements`.

This is because in the router there's only one children component defined for the Profile route.

Also these sub routes (stats, achievements and p

[2020-10-17 09:12] paglias commented on #11947
I'd like to close this bug as blockquotes would be more appropriate and we want to keep it possible to post non-wrapping code blocks. Opinions?

[2020-10-17 09:13] paglias commented on #9458
@Tressley is this something that we still want / have to implement?

[2020-10-17 15:44] paglias commented on #9957
@RaitheOfDureya 🎉 thanks for all your work on this issue, I've merged the final PRs and noted them on your profile

[2020-10-17 15:44] #9957 closed, assigned to nobody

[2020-10-17 16:00] paglias commented on #9210
Hi @RaitheOfDureya sorry for the delay, to be honest I'm not sure this issue is worth fixing, a lot of duplicates are probably wanted, do you have a number on how many duplicated strings there are?

[2020-10-17 16:17] RaitheOfDureya commented on #9210
No problems, @paglias :smile:
Since I already removed a number of duplicates during the unused string removal process, there are not many left.

I can quickly remove those that are clearly duplicates and make a report to you with different strings to be considered and you can evaluate if it is worth fixing. How does that sound?

[2020-10-17 17:06] RaitheOfDureya commented on #9957
I am happy to contribute :smile:

[2020-10-17 18:54] RaitheOfDureya commented on #9210
## Duplicates
`website/common/locales/en/generic.json`
 "creativity": "Creativity",

`website/common/locales/en/front.json`
"featuredIn": "Featured in",

`website/common/locales/en/npc.json`
 "items": "Items",

`website/common/locales/en/groups.json`
"possessiveParty": "<%= name %>'s Party",

[2020-10-17 18:54] RaitheOfDureya commented on #9210
## Similar strings in the same file
`website/common/locales/en/challenge.json`
"exportChallengeCSV": "Export to CSV",
"exportChallengeCsv": "Export Challenge",

[2020-10-17 18:54] RaitheOfDureya commented on #9210
## Similar strings in different files
`website/common/locales/en/front.json`
"FAQ": "FAQ",
`website/common/locales/en/groups.json`
"faq": "FAQ",

`website/common/locales/en/achievements.json`
"levelup": "By accomplishing your real life goals, you leveled up and are now fully healed!",
`website/common/locales/en/character.json`
"levelUp": "Level Up!",

`website/common/locales/en/character.json`
"of

[2020-10-17 18:54] RaitheOfDureya commented on #9210
## Different strings with same content in the same file
`website/common/locales/en/generic.json`
"habiticaOfficial": "Habitica Official",
"habitica_official": "Habitica Official",

`website/common/locales/en/challenge.json`
"notParticipating": "Not Participating",
"not_participating": "Not Participating",

`website/common/locales/en/front.json`
"passConfirm": "Confirm Password",
"confirmPassword":

[2020-10-17 18:55] RaitheOfDureya commented on #9210
## Different strings with same content in the different files
`website/common/locales/en/groups.json`
"askAQuestion": "Ask a Question",
`website/common/locales/en/generic.json`
"askQuestion": "Ask a Question",

`website/common/locales/en/groups.json`
"inviteToPartyOrQuest": "Invite Party to Quest",
`website/common/locales/en/quests.json`
"inviteParty": "Invite Party to Quest",

`website/common/loc

[2020-10-17 18:55] RaitheOfDureya commented on #9210
## Different strings with similar content
`website/common/locales/en/achievements.json`
"achievement": "Achievement",
"modalAchievement": "Achievement!",

`website/common/locales/en/gear.json`
"backBase0Text": "No Back Accessory",
"backBase0Notes": "No Back Accessory.",

`website/common/locales/en/gear.json`
"bodyBase0Text": "No Body Accessory",
"bodyBase0Notes": "No Body Accessory.",

`website/co

[2020-10-17 18:55] RaitheOfDureya commented on #9210
## Strings content that could be improved

In the `website/common/locales/be/content.json` file several of the strings `questXText` and `questXMountText` have the same value:

e.g.,
"questEggAlligatorText": "Alligator",
"questEggAlligatorMountText": "Alligator",

"questEggArmadilloText": "Armadillo",
"questEggArmadilloMountText": "Armadillo",

"questEggAxolotlText": "Axolotl",
"questEggAxolotlMoun

[2020-10-17 19:29] RaitheOfDureya commented on #9210
@paglias, as I said, I did the PR to remove the clearly duplicated strings, and made a report to make clear where attention is needed.

I leave it up to you to decide if we should move forward with this issue.

Best regards

[2020-10-18 03:22] Alys commented on #11947
I agree and as citrusella noted, the previous behaviour was probably technically incorrect. I've updated the wiki to state that wrapping within three-backtick code blocks must be done manually.

[2020-10-18 03:22] #11947 closed, assigned to nobody

[2020-10-18 03:23] Alys commented on #12664
@CodeBerrie Thank you! Please go ahead. Comment here if you have questions or run into trouble.

[2020-10-18 03:24] Alys commented on #12555
@bakerty Sorry about the delay in our reply! Please go ahead - thank you! Post here if you have questions or find problems,

[2020-10-18 03:27] Alys commented on #12398
@thewilloftheshadow Thanks so much for asking about this! I think based on [this comment](https://github.com/HabitRPG/habitica/issues/12222#issuecomment-660063741) in a related issue, the fix for this one is approved to go ahead so I've marked it as in progress for you.

Post here if you have any questions about it or if you run into problems. Thanks!

[2020-10-18 03:29] Alys commented on #12417
@hamboomger I've marked this as in progress for you again. Let us know if you run into any trouble!

[2020-10-18 03:30] Alys commented on #12417
@hamboomger Regarding the tests not working locally: if it's not easy to get them to work, do a pull request anyway. You can view the output of the tests in the PR.

[2020-10-18 10:21] bigsee commented on #12309
@Alys those tests are added now and a link to the relevant Unicode table as discussed with @paglias. Apologies again for the delay folks... 🙏🏽

[2020-10-18 14:28] Tressley commented on #9458
@paglias -- No. This issue can be closed. The work @negue has been doing on
Inventory and Equipment accounts for the feedback in this issue.

On Sat, Oct 17, 2020 at 5:14 AM Matteo Pagliazzi <notifications@github.com>
wrote:

[2020-10-18 14:52] #9458 closed, assigned to Tressley

[2020-10-18 19:46] thewilloftheshadow commented on #12398
Awesome! The plan is to make the `removeMember` route throw an error if you try to remove the quest owner, not change the `removeMember` route so it aborts the quest, correct?

[2020-10-19 05:20] Alys commented on #12398
@thewilloftheshadow That's correct, thanks!

[2020-10-19 10:52] paglias commented on #12398
Reopening because it wasn't really closed

[2020-10-20 09:41] shanaqui commented on #12549
@Gav80794 Someone else is already working on this issue. :) You're welcome to browse the "help wanted" tag to see open issues!

[2020-10-20 09:42] shanaqui commented on #12377
Hi @Amberlisi, just checking in again! :)

[2020-10-20 09:45] shanaqui commented on #9470
@hellosurbhi Hi! Just a quick check in to make sure you're still interested in working on this issue. If not, or if we don't hear back in a week, I'll mark this issue as help wanted again. Let us know!

[2020-10-20 09:46] shanaqui commented on #9244
@lydiaggoodson Hi! Just checking in on this one. No rush, but we just like to make sure the issues don't go too stale. Are you still interested in working on this? If we don't hear back in a week, or if you're not interested anymore, I'll mark it as help wanted again so someone else can take a crack at it.

[2020-10-20 12:41] paglias commented on #9210
@RaitheOfDureya thanks for the report! It might take a while but I'll go through all of them and let you know which one we want to remove

[2020-10-20 13:12] lydiaggoodson commented on #9244
I've got the changes in place and the tests made. I'm just working on some lint-suggested changes, and then I'll throw out a PR!

[2020-10-20 13:31] RaitheOfDureya commented on #9210
You are welcome, @paglias
I know this issue has a *minor* priority, so take your time :)

[2020-10-21 04:06] Drekscott commented on #12678
Is this issue available for me to work on?

[2020-10-21 07:56] Drekscott commented on #12607
@Tressley is this issue still open? If so I'd like to pick it up.

[2020-10-21 10:31] thewilloftheshadow commented on #12383
I'd like to take a stab at this one, if its still a problem

[2020-10-21 10:45] Alys commented on #12383
@thewilloftheshadow It's definitely still a problem! Thanks so much for taking it on. Post here if you have questions or find any problems.

[2020-10-21 10:49] Alys commented on #12678
@Drekscott yes, thank you! Post here if you have questions.

[2020-10-21 11:04] thewilloftheshadow commented on #12383
Cool! Should I just host a copy of both the extensions and Habitica on my domain with the API routes changed, or is there an easier way to test that

[2020-10-22 18:44] Amberlisi commented on #12442
@shanaqui Hey, if someone else is able to pick this up and work on it they should. I am dealing with being laid off just recently and need to take some time to figure that situation out.

[2020-10-22 18:44] Amberlisi commented on #12377
@shanaqui Hey, if someone else is able to pick this up and work on it they should. I am dealing with being laid off just recently and need to take some time to figure that situation out.

[2020-10-23 07:13] VipulKhandelwal1999 commented on #12549
@paglias Take a look at my PR so that i can focus on the skill layout issue

[2020-10-23 07:16] VipulKhandelwal1999 commented on #11356
@paglias i will send you PR after keeping in mind all the things which you have mentioned in that PR.

[2020-10-23 10:21] paglias commented on #12549
@VipulKhandelwal1999 the pr is closed

[2020-10-23 10:23] VipulKhandelwal1999 commented on #12549
@paglias I am sorry for that. It waz showing lint error. I will send it again after fixing those errors

[2020-10-23 10:26] paglias commented on #12549
@VipulKhandelwal1999 no worries, you can keep the PR open and just add more commits to it, btw you can have multiple PRs active at the same time by using different branches

[2020-10-23 10:28] VipulKhandelwal1999 commented on #12549
@paglias  thanks for telling that because i was bit confused how to maintain both. That's why.

[2020-10-23 15:47] SabreCat opened #12698 "Odd arrangement of HTML elements in third-party app info bullet list"
[//]: # (Before logging this issue, please post to the Report a Bug guild from the Habitica website's Help menu. Most bugs can be handled quickly there. If a GitHub issue is needed, you will be advised of that by a moderator or staff member -- a player with a dark blue or purple name. It is recommended that you don't create a new issue unless advised to.)

[//]: # (Bugs in the mobile apps can also

[2020-10-24 02:14] sarahjean opened #12699 "Group tasks with ‘need approval’ kill my party"
I have set up a group, it seems like when I create a group task and set to ‘need approval’, and one of the members tries to click on it (both iOS) they immediately lose all their health and get the death screen. Also appear to be level 0. Then if they navigate around they get a message about leveling to their previous level and health reset. I have tried to reproduce the issue on my account but as

[2020-10-24 15:00] agarwalvaibhav0211 commented on #12698
@SabreCat I would like to work on this Issue.

[2020-10-25 01:03] tetrahedon7 opened #12701 "[Feature Request] Condensed checklists"
The checklist items in the website used to be closer together but now they have more space in between, and so the to-do's and dailies also take up more vertical space.

How is was before:
![image](https://user-images.githubusercontent.com/69251025/97096725-d4200480-168d-11eb-83e6-1ff3f1a34681.png)

How it is now:
![image](https://user-images.githubusercontent.com/69251025/97096728-db471280-168d-11

[2020-10-25 10:08] Alys opened #12702 ""Hide Locked Backgrounds" is misaligned to the left instead of in the centre"
At User Icon > Backgrounds, the "Hide Locked Backgrounds" switch is on the left of the modal. It should be in the centre:
![image](https://user-images.githubusercontent.com/1495809/97104216-d0c46180-16fd-11eb-9a74-feef9df0e3c4.png)

[2020-10-25 10:16] himanshus852 commented on #12702
Hi
I would like to work on this issue .Please allow me.

[2020-10-25 12:53] Alys commented on #12701
As I mentioned in the Report a Bug guild, the best place for ideas like this option you're suggesting is through Help > Request a Feature. We use the Reports A Bug guild and this GitHub repo primarily for bug reports. :)

[2020-10-25 12:53] #12701 closed, assigned to nobody

[2020-10-26 02:52] Alys opened #12703 "Tasks and Party menu items should be normal links"
The "Tasks" and "Party" items in the website's navigation menu are not normal links.

This means you can't right-click on them to open them in a new tab.

It also means you can't hover over them to see the URL they'll take you to - you see just the URL of the page you are currently on (screenshot below).

![image](https://user-images.githubusercontent.com/1495809/97128990-825ca480-1789-11eb-9b5b-8

[2020-10-26 03:13] Alys opened #12704 "Heading level hierarchy is not accurately reflected by heading appearance (e.g., h5 larger than h3)"
_The non-italics words below are taken direct from @citrusella's post in the Report a Bug guild. I've added [my own comments in italics and square brackets]._

---

Have been seeing how used to the new font changes I can get and noticing something that feels weird/confusing/possibly-buggy/unintended.

The h1, h2, h3, h4, h5, h6 hierarchy looks like this:

![image](https://user-images.githubusercon

[2020-10-26 03:26] Alys commented on #12702
@himanshus852 Thank you! Please go ahead! Post here if you have questions or run into trouble.

The person who originally reported this, @Zarathustrik, has posted to the Report a Bug guild again with some extra details that they've just noticed:

_"there is some problem with this bug in " Hide locked backgrounds". I reloaded my page it appers again, I reloaded again it disappears, then I reloaded

[2020-10-26 03:45] citrusella commented on #12704
I feel a need to note that the third-level text and regular text look closer for me than that screenshot looks (that screenshot looks like the h3 is slightly larger?).

![The h3 and plaintext image in the post above, but with a screenshot from my computer](https://user-images.githubusercontent.com/14182450/97131993-fceedb00-171b-11eb-8b4b-b5758950a0f0.png)

[2020-10-26 03:51] citrusella commented on #12704
And just to be complete since I mentioned it looking even more indistinguishable on tasks... here's h3 versus normal text on tasks, where the text color is also closer:

![A task with nothing but h3 text in it, followed by the beginning of a task with regular text](https://user-images.githubusercontent.com/14182450/97132268-c2397280-171c-11eb-9a17-42c3349827ee.png)

(If it's not obvious: The first

[2020-10-26 09:18] paglias commented on #12704
Just a note that the headings styles are different between markdown (tasks, chat, ...) and normal non-markdown text. I think so far this issue has been around markdown headings

[2020-10-26 09:33] Alys commented on #12698
@agarwalvaibhav0211 Thank you! Please go ahead! Post here if you have questions.

[2020-10-26 09:46] #12398 closed, assigned to nobody

[2020-10-26 09:59] #12417 closed, assigned to nobody

[2020-10-26 10:05] J-Sanderson commented on #12703
I can take a look at this one if it's still available!

[2020-10-26 10:22] #12421 closed, assigned to nobody

[2020-10-26 11:14] #12309 closed, assigned to nobody

[2020-10-26 12:48] citrusella commented on #12704
I think the styling of some non-markdown headings changed too, but none of it has as confusing effects (visually, anyway) as far as I can tell.

[2020-10-26 12:52] hamboomger commented on #12481
@paglias could you please explain how to pass authentication on a local habitica instance when making api requests? It seems like I should provide `x-api-user` and `x-api-key` in the request header params, should I get them from my `user` document in db?

[2020-10-26 14:32] #11364 closed, assigned to nobody

[2020-10-26 14:36] paglias commented on #12481
@hamboomger `x-api-user` and `x-api-key` should be passed as HTTP headers, you can get the values from an user document fields `user._id` and `user.apiToken`. There's an example on how to send them using CURL here https://habitica.fandom.com/wiki/Application_Programming_Interface

[2020-10-26 14:41] #12653 closed, assigned to nobody

[2020-10-26 14:47] paglias opened #12714 "Accessibility: use same focus style across entire website"
Lately we've been slowly fixing accessibility issues including focus styles for many elements across the website.

By default the focus styles depend on browser settings, for example the default focus style on Edge looks like this:

<img width="703" alt="Schermata 2020-10-26 alle 15 40 56" src="https://user-images.githubusercontent.com/589911/97186935-3702c000-17a2-11eb-9540-e2064d7baeb2.png">

We

[2020-10-26 15:03] Tressley commented on #12714
This is the focus state that's used on buttons and the various other elements. Applying it globally hasn't been tested, but I think we could move forward with the decision and track the areas that may seem problematic.

[2020-10-26 15:25] Tressley commented on #12704
There were changes to headings that accidentally touched the task styles. @negue is currently working on fixing them.

I'd like to point out that Habitica's type scale didn't account for h5 and h6 as they're not used in our UI. That would be the reason the type scale seems out of sorts. However, we have been making updates which you can see outlined here:

![image](https://user-images.githubuserco

[2020-10-26 15:52] jbusa22 commented on #11185
Is this still open? I just attempted to recreate the error with no luck, maybe it has been fixed?

[2020-10-26 23:59] thewilloftheshadow commented on #12702
@Alys labels ;)
I was about to ask for this one and saw that someone had claimed it but it was still marked Help Wanted

[2020-10-27 00:09] thewilloftheshadow commented on #8405
Is this one available? I’d like to take a look at this

[2020-10-27 10:33] paglias commented on #8405
@thewilloftheshadow it's! I'm marking it as in progress for you

[2020-10-27 14:29] Alys commented on #12704
@Tressley great, thanks! I've marked it as in progress since @negue is working on it

[2020-10-27 16:51] veeeeeee commented on #10272
Closing for now; please reopen if issue is reported again.

[2020-10-27 16:51] #10272 closed, assigned to nobody

[2020-10-27 17:01] veeeeeee commented on #5279
Current behavior has not garnered further complaints, so we are closing this issue in favor of focusing on more immediate fixes.

[2020-10-27 17:01] #5279 closed, assigned to nobody

[2020-10-28 07:54] Alys opened #12729 "Guild member list currently allows searching by Display Name only"
As reported by @Nakonana (33bb14bd-814d-40cb-98a4-7b76a752761c):

"... when searching for a user via the guild member list, one can only search by Display Name and not by Username. I find searching by username much more practical because people change their display name frequently while they usually stick with their username once it's established :)"

There's two ways we could fix this:

1. ~Allow

[2020-10-28 08:06] Alys opened #12730 "Tag filter not always cleared correctly when deleting active tag"
As reported by @citrusella:

**"Deleting a tag while it's active (filtered on) causes the tag to at least appear to un-select (I'm not sure if it actually does) and show all your tasks again... but selecting another tag afterwards causes the newly-selected tag to appear empty even if it's not, until you use the clear all button."**

I was able to reproduce that a couple of times but then when I we

[2020-10-28 09:38] Alys commented on #10618
_@CathB (36976c15-5bcd-4197-965c-750d865abcd2) has reported this bug:_

"In Mozilla Firefox, my skills bar isn't centered but rather right alligned. So the 4th skill is halfway hidden. [screenshot below]

I don't use any browser extentions which are directly related to Habitica. And I don't use any Stylish/Stylus/Greasemonkey/Tampermonkey themes or styles or scripts that are directly related to Ha

[2020-10-28 09:45] Alys opened #12731 "can't buy Gems using Stripe"
_@CathB (36976c15-5bcd-4197-965c-750d865abcd2) has posted to the Report a Bug guild to report being unable to use Stripe to buy Gems. The material below is collated from three posts there._

"I'm trying to buy gems, both by clicking on the gem icon and by going to my avatar>gift icon>gift gems. Tried both in Google Chrome and Mozilla Firefox. When I select "credit card" as way of payment, nothing

[2020-10-28 10:28] Alys commented on #12703
@J-Sanderson Thank you! Please go ahead!

[2020-10-28 10:54] paglias commented on #12731
Can't reproduce, I'd suggest to try with a different internet connection and make sure there are no ad blockers enabled

[2020-10-28 14:40] agarwalvaibhav0211 commented on #12698
@Alys please check PR #12732

[2020-10-28 16:37] hamboomger opened #12733 "Integration tests are not working locally (MacOS 10.14.6)"
[//]: # (Before logging this issue, please post to the Report a Bug guild from the Habitica website's Help menu. Most bugs can be handled quickly there. If a GitHub issue is needed, you will be advised of that by a moderator or staff member -- a player with a dark blue or purple name. It is recommended that you don't create a new issue unless advised to.)

[//]: # (Bugs in the mobile apps can also

[2020-10-28 16:41] paglias commented on #12733
@hamboomger we recently ( a few months back ) changed the way Mongo is setup, if you copy the NODE_DB_URI and TEST_DB_URI configurations from config.json.example and use them in your local config.json file it should work:

[code]

[2020-10-28 17:11] hamboomger commented on #12733
@paglias maybe I should've pointed out that I already copied `config.json.example` to `config.json`. Lines that you are describing are already in place.

[2020-10-28 17:38] paglias commented on #12733
@hamboomger If you run `mongo` or `mongod` in your terminal, what's the output? Could you post the output of `npm ls run-rs`? The version needed is `0.6.2`, if you're on a different version install the correct one with `npm i run-rs@0.6.2`

The issue is not with the tests but with the database not starting correctly but I can't replicate it

[2020-10-28 18:02] hamboomger commented on #12733
@paglias as I said, I did not install the service on purpose, so output is `bash: mongo: command not found` for both `mongo` and `mongo`. I checked in `package-lock.json` and I have version `0.6.2`:
![image](https://user-images.githubusercontent.com/9994683/97477658-8ee32780-1958-11eb-9331-1348e4fa4c33.png)

[2020-10-28 20:26] paglias commented on #12733
Hmm that's weird, I have the same config on mac (catalina) and it's working fine. I'd try to delete the `mongodb-data` folder and try again

[2020-10-29 22:48] jbusa22 commented on #12730
I got this one

[2020-10-29 22:50] #12704 closed, assigned to nobody

[2020-10-30 02:59] Alys opened #12738 "HTML page Title tag for Guilds says "Group Plans""
When you are viewing a Guild that does not have a Group Plan, the title says "Group Plans".
It should say "Guilds".

The two examples below are public guilds that definitely don't have Group Plans in them.

![image](https://user-images.githubusercontent.com/1495809/97654801-75a0bf00-1aaf-11eb-94f0-6349bc2c84a3.png)
![image](https://user-images.githubusercontent.com/1495809/97654855-8ea97000-1aaf-1

[2020-10-30 03:12] Alys opened #12739 "HTML page Title tag for Guild contains the previous Guild's name"
When you go from one Guild directly to another, the page title does not update itself.

Steps to reproduce:

1. Wait until you have a notification for new messages from any Guild. Do not dismiss the notification!
1. Go to Tasks and reload the website to clear any old data.
1. Go to Guilds > Discover Guilds.
1. Click any Guild.
1. Observe that the page title correctly displays the name of the Guild

[2020-10-30 03:22] Alys commented on #12739
@thewilloftheshadow / beinginhisshadow (2eb203f5-1b1e-4e5d-84a4-22f130a1090e) has posted technical details:

"... the Group Plans does show up for me. I went looking in the code, and saw that the section is in fact set to the wrong variable for line 504 in this file:

https://github.com/HabitRPG/habitica/blob/d678eb920f9b2c581475f1be4b9d1581ca64fa57/website/client/src/components/groups/group.vue#L

[2020-10-30 03:25] citrusella commented on #12739
I think that code was related to #12738 rather than this one? (Or maybe the change itself is related to both, but I think the report was for the other bug? :thinking:)

[2020-10-30 03:26] Alys commented on #12738
More confirmation from @thewilloftheshadow  / beinginhisshadow (2eb203f5-1b1e-4e5d-84a4-22f130a1090e):

"it happened to me. I opened The Mystery Train guild from my notifications from this guild, and while I was in The Mystery Train, the title still said Report A Bug. It did not happen, however, when switching between guilds from the Discover Guilds or My Guilds page"

[2020-10-30 03:26] Alys commented on #12738
Ugh. Ignore that. Wrong issue.

[2020-10-30 03:27] thewilloftheshadow commented on #12739
The part I added was about the Group Plans showing up instead of Guilds for the section, not the title changing, so that's why

[2020-10-30 03:27] Alys commented on #12739
Ugh. Ignore that update. Wrong issue.

[2020-10-30 03:27] Alys commented on #12739
More confirmation from @thewilloftheshadow / beinginhisshadow (2eb203f5-1b1e-4e5d-84a4-22f130a1090e):

"it happened to me. I opened The Mystery Train guild from my notifications from this guild, and while I was in The Mystery Train, the title still said Report A Bug. It did not happen, however, when switching between guilds from the Discover Guilds or My Guilds page"

[2020-10-30 03:27] Alys commented on #12738
@thewilloftheshadow / beinginhisshadow (2eb203f5-1b1e-4e5d-84a4-22f130a1090e) has posted technical details:

"... the Group Plans does show up for me. I went looking in the code, and saw that the section is in fact set to the wrong variable for line 504 in this file:

https://github.com/HabitRPG/habitica/blob/d678eb920f9b2c581475f1be4b9d1581ca64fa57/website/client/src/components/groups/group.vue#L

[2020-10-30 03:28] thewilloftheshadow commented on #12739
The part I added was about the Group Plans showing up instead of Guilds for the section, not the title changing, so that's why. I would be willing to take on fixing that, but I don't know enough about Vue to be able to fix the other

[2020-10-30 03:29] thewilloftheshadow commented on #12738
I can take this on (:

[2020-10-30 03:29] Alys commented on #12738
@thewilloftheshadow Fantastic, thanks. :) It's yours.

[2020-10-30 15:19] jbusa22 commented on #12739
I can look into this given I worked on the title stuff

[2020-10-30 19:40] SabreCat opened #12741 "Emoji library is out of date and needs overhaul/replacement"
[//]: # (Before logging this issue, please post to the Report a Bug guild from the Habitica website's Help menu. Most bugs can be handled quickly there. If a GitHub issue is needed, you will be advised of that by a moderator or staff member -- a player with a dark blue or purple name. It is recommended that you don't create a new issue unless advised to.)

[//]: # (Bugs in the mobile apps can also

[2020-10-30 19:42] SabreCat commented on #9128
Closing this in favor of a holistic emoji ticket, created above.

[2020-10-30 19:42] #9128 closed, assigned to nobody

[2020-10-30 19:42] SabreCat commented on #10927
Closing this in favor of a holistic emoji issue ticket, linked above.

[2020-10-30 19:42] #10927 closed, assigned to nobody

[2020-10-30 20:31] citrusella commented on #12741
This might be better suited somewhere else but I figured I would ask it here since it's vaguely related to/questioning something one of the bullet points:

Is the third one (the disallowing) already supposed to be happening with some emoji (the way the custom emoji like melior in the previous bullet are already happening)? Or is it just desired whenever this happens? Because the middle finger emoj

[2020-10-30 21:28] SabreCat commented on #12741
@citrusella: Nope, that's a wishlist item that I think the eventual solution should consider, not something we currently have going!

[2020-10-31 09:21] Alys commented on #12739
@jbusa22 Thank you! Marked as in progress. Thanks for the fast PR!

[2020-10-31 09:21] Alys commented on #12730
@jbusa22 Thanks again! I've labelled it as in progress.

[2020-10-31 23:15] thewilloftheshadow commented on #12738
Sorry about the delay, I'm having trouble setting up my local copy so I can test and make sure the change didn't affect anything else

[2020-11-01 17:43] yagopessoa commented on #9902
Hey there!

Just to get what's the idea. This "Task alias" feature will only be available for users that have"developer mode" is active? Or these are two unrelated features ("task alias" and "developer mode")?

[2020-11-01 20:39] yagopessoa commented on #12607
Hi guys, is help still wanted for this one? If so, I'd be glad to pick it up. My e-mail is yagorp15@gmail.com if I can get access to the Zeplin design. Thanks :)

[2020-11-02 07:26] Alys commented on #9902
@yagopessoa Hi! :)

The "Task alias" feature will only be available for users who have "developer mode" active.

The "developer mode" feature doesn't exist yet so it would need to be created as part of the fix for this issue.

Post again if you're interested in working on this!

[2020-11-02 10:30] paglias commented on #12733
Hi @hamboomger , did you try deleting mongodb-data?

[2020-11-02 12:04] yagopessoa commented on #9902
@Alys got it! Sure, i'll be glad to work on this!

My e-mail is yagorp15@gmail.com in case you have any designs to share with me :)

[2020-11-02 16:22] paglias commented on #12703
So I was testing @J-Sanderson 's PR but I can't replicate the issue in the first place. I'm not sure if anything got fixed by some recent update but if this is what I see:

- The links are normal `a` tags
- You can right click on them
- The url is shown correctly

<img width="220" alt="Schermata 2020-11-02 alle 17 20 05" src="https://user-images.githubusercontent.com/589911/97891946-b575d980-1d2f-

[2020-11-02 16:28] #12698 closed, assigned to nobody

[2020-11-02 17:19] citrusella commented on #12703
I noticed the links working in that way instead of the other way a few days ago, but I'd just assumed it'd been deliberately fixed already, not accidentally! o.o

[2020-11-02 17:25] paglias commented on #12703
Thanks for confirming @citrusella , it was probably a bug in the bootstrap-vue library that we're using and it got fixed there :)

[2020-11-02 17:25] #12703 closed, assigned to nobody

[2020-11-02 18:41] J-Sanderson commented on #10917
Hello, is this one still available?

[2020-11-03 09:24] Alys commented on #10917
@J-Sanderson It is! I've marked it as in progress for you.

You may want to test the website on a mobile browser before doing anything else to see what the current behaviour is like. This issue has been open for a while so it's possible that other changes have made the behaviour different than described above.

If you decide you'd rather not work on it for any reason, just let us know. :)

[2020-11-03 09:25] Alys commented on #9902
@yagopessoa Thank you! I've marked it as in progress for you.

Pinging @Tressley in case there are designs to be shared.

[2020-11-03 13:22] VipulKhandelwal1999 commented on #11356
@paglias i am working so hard on this. I just wanna know few things because i am new to open source. What must be the size of the drawer containing all the skills. So basically i just wanna know that whether i have to keep same dimensions mention on Zeplin or i can change little bit.
And how can we fix eslint errors.
Please help me out....

[2020-11-03 13:40] Tressley commented on #11356
@VipulKhandelwal1999 -- Zeplin contains the approved design specifications for implementation. Your goal should be to have implementation be as close to the design as possible. If there are questions you have about the design or how to achieve certain design pieces, feel free to ask.

[2020-11-03 13:49] VipulKhandelwal1999 commented on #11356
@Tressley Thank you very much. So now i will be able to send you PR ASAP.

[2020-11-03 15:00] paglias commented on #11356
@VipulKhandelwal1999 the only thing I'd not implement from the zeplin design is the exact with of the drawer as it should get calculated automatically based on the items inside it. Also it's very difficult to work without seeing the code so my suggestion is to push the PR even if you can't fix some issues and we can work on it from there. The eslint errors usually have a description with what's wr

[2020-11-03 15:06] VipulKhandelwal1999 commented on #11356
@paglias Thank You very much. Now, I have all my doubt resolved. Now i can work efficiently.

[2020-11-03 21:39] Alys opened #12760 "HTML page Title tag does not change back after viewing Profile modal"
As reported by @BellaBelinda (88a47bf3-e4bb-4952-9415-afb22148dd9e):

**"If I'm in a guild or the Tavern or even my tasks page and I click on someone's profile, the tab name thing changes to "Profile | User | Habitica", like usual, but when I click back out of the profile, it doesn't change back to the name of wherever I was before. It can be fixed by reloading,"**

It will also happen on any othe

[2020-11-03 21:42] Alys commented on #12760
It will also happen on any other page if you access a Profile  modal by clicking on a party member's avatar or your own avatar.

[2020-11-03 22:04] Alys commented on #11072
Another report of this from @Alexa_Trebek (0e03930c-f4d3-4d21-9791-583de390043b):

**"... I should report that I don't actually "own" the ruby tiger pet that I currently have equipped. I just leveled that pet up to a mount and had accidentally double clicked the faded out pet form as I started to scroll up my screen. The pet form still equipped to my avatar, and even when I refreshed the page, the

[2020-11-03 22:28] #12739 closed, assigned to nobody

[2020-11-03 22:31] paglias commented on #12738
Looks like normal guilds / parties and group plans use the same component (group.vue) so we'll have to add a check on whether you're viewing the group as a group plan or not (probably by looking at whether `group-plans` is in the url). Note that with https://github.com/HabitRPG/habitica/pull/12743 merged there are a couple more places to update in the component file, make sure to work on an up to

[2020-11-04 12:03] thewilloftheshadow commented on #12738
I think I got it all, but there is one space to check that I noted in the PR

[2020-11-04 21:17] thewilloftheshadow commented on #12383
Is there a reason to dynamically set the CORS header? Why not just have it as `*`? I see things on the internet about how to dynamically set it but not why it's better to do that and Vary: Origin instead of wildcarding it

[2020-11-05 11:59] hamboomger commented on #12733
@paglias ok, so I tried to run `run-rs` command today and it magically worked. `npm run mongo:dev` seems to be working as well and the `MongoError: This node was not started with the replSet option` is gone. I have no idea what's changed, becase I didn't merge any new changes from the develop branch this whole time, and `run-rs` library version is still the same =_=

So basically we can close this

[2020-11-05 15:18] prachi15091999 commented on #11767
My team have some issues while resolving the issue. Currently, we have developed a modal similar to the removeMemberModal.vue and then implemented in the memberModal.vue in the promotetoleader function like you implement in the remove member function,but the code dosen't work our modal does not called by memberModal.Then we import our modal in that as you implement the removeMemberModal, and still

[2020-11-05 18:47] Nakonana commented on #12729
I actually feel like the second option was a thing in the past and one could search by either, so maybe looking through past changes could help fixing this issue...?

[2020-11-06 09:56] Alys opened #12763 "heading level hierachy size issues: plain text displayed as h3 in task titles, h5/h6 larger/bolder than h2"
As reported by @citrusella :
_"a couple weeks ago, I mentioned some headings being confusing (and heading level 3 specifically being identical to plain text, which was especially confusing--both in messages and in differentiating "header tasks" from other tasks)..._  [https://github.com/HabitRPG/habitica/issues/12704]

_"Now heading level 3 and plain text are still identical on tasks but it's beca

[2020-11-06 10:15] Alys opened #12764 "@Username in private message does not behave as a link until after a reload"
As reported by @citrusella:

"If you type and send an @ mention in your PMs (for instance, to have a direct reference to someone's profile), then even if it's typed right, it has all the elements of a mention except... the link. The link happens, but you can only access it if you visit a different area of Habitica entirely (not just another PM) and then go back to the PM, at which point it's prope

[2020-11-07 01:38] Alys commented on #11885
T Rad / @tradical (38dab3a1-320a-47ee-a246-8923d652d985) posted to the Report a Bug guild to report this and to ask to work on it:

_"When creating a group, the first popup page requests the basic group information, but the label at the top of the page says Select Payment. If it's okay with the mods, I'd like to fix it myself."_

I'm not sure if there's been a decision to rename it and if so to wh

[2020-11-07 17:50] aevix commented on #12760
So when you are wanting the title of the tab to change back to tavern after you click out of someone's profile? I think I can figure it out if you want to assign me the project :D

[2020-11-07 22:02] habitrpguser commented on #7599
I checked again today (only on desktop though, not in any app) and I could no longer replicate this bug. Both when I join a test challenge created by myself and when I join a challenge created by someone else, the tasks appear in my task list in the same order as in the challenge (as it should be).
Does anyone else still experience this bug? Or is it still happening in one of the apps?
(Today I al

[2020-11-07 22:16] habitrpguser commented on #1703
I checked again today - and when cloning a challenge, the cloned challenge still has a different (apparently randomly mixed up) task order than the original challenge.
(Today I also deleted my "Bug Test Challenge 1" from 2016 that I linked to in a previous comment. Most of the detailed test description in that challenge was obsolete and useless by now.)

[2020-11-08 08:47] thewilloftheshadow commented on #8405
I have the fix working, that's just fine, but I'm not sure how to make a migration script. There doesn't seem to be any consistency to the ones in the repo and nothing on the wiki

[2020-11-08 12:02] Alys opened #12765 "RYA shows incorrect Dailies on two days after time zone change from Daylight Savings ending"
This bug occurs in the two days following rhe time zone change that happens when Daylight Savings ends, such as the USA's 1 November change from daylight savings time to normal time (e.g., New York changed from UTC-0400 to UTC-0500).

The bug applies to the "Check off any Dailies you did yesterday" screen (also known as "Record Yesterdays Dailies" or "RYA").
**The RYA screen does not show the corr

[2020-11-08 12:29] Alys commented on #12760
@aevix Yes, that's right, if you were at the Tavern when you clicked on the user's name to see their profile.

You can also get to a profile when you're on any other page (e.g., by clicking on a party mate's avatar), so when you close someone's profile, the page title should change back to whatever that page is.

Thanks for taking this on! Post here if you have questions. :)

[2020-11-08 16:14] thewilloftheshadow commented on #12760
Just curious, does this also happen going the other way? That date would be March 8, 2020, or March 14, 2021

[2020-11-08 16:15] thewilloftheshadow commented on #12765
Just curious, does this happen in reverse when Daylight Savings time begins? That date would be March 8, 2020, or March 14, 2021

[2020-11-09 03:48] thewilloftheshadow commented on #9457
Is this issue still needed? If so, I can do it
thebotoftheshadow@gmail.com

[2020-11-09 05:40] Saiyara6133 commented on #12765
Hi, I am looking to contribute to an open-source. Is this issue still available to work on?

[2020-11-09 08:01] Alys commented on #12765
@Saiyara6133 It is available, thank you! I've marked it as in progress for you. Post here if you have questions or run into trouble.

@thewilloftheshadow I wouldn't expect it to happen in the northern hemisphere in the Spring DST change because that would cause the value of the `yesterDay` variable to be one hour greater than required, which still puts it in the previous day and so the correct Dai

[2020-11-09 08:31] Zarrindast commented on #9210
I want in on this as well if it could use another helper ^_^

[2020-11-09 08:43] Zarrindast commented on #8735
I'll take this one. It's my first fix so I could be a little slow, but I think I can do it!

[2020-11-09 10:13] paglias commented on #12733
Thanks for the heads up @hamboomger , unfortunately this type of bugs happen from time to time but they're hardly reproducible

[2020-11-09 10:13] #12733 closed, assigned to nobody

[2020-11-09 10:14] paglias commented on #12760
Hmm this might be due to some special handling profiles have regarding urls where it doesn't use the standard `$router` functions

[2020-11-09 10:35] paglias commented on #9210
Hi @Zarrindast thanks for the offer but @RaitheOfDureya is already working on this one, also you've already claimed another issue and we usually discourage new contributors from working on multiple tasks at the same time

[2020-11-09 10:36] paglias commented on #8735
thanks @Zarrindast , I'm marking this as in progress

[2020-11-09 10:41] paglias commented on #12383
@thewilloftheshadow what do you mean by dynamically setting the header? The values here https://github.com/HabitRPG/habitica/blob/develop/website/server/middlewares/cors.js are pretty static

[2020-11-09 10:42] paglias commented on #11767
@prachi15091999 without seeing the code it's difficult to understand the problem, if you push a PR I'll give it a look

[2020-11-09 11:25] #12730 closed, assigned to nobody

[2020-11-09 12:00] aevix commented on #12760
I've been doing some digging and it has to do with Vue state management. When the profile opens it triggers the store to update the title in state but when it closes it doesn't update it. I need to do some more readings to find out how to update the state. I'll post an update if I can figure it out.

[2020-11-09 13:28] Tressley commented on #11885
The is an easy one. Let's change the title to "Create your Group"

I think we can open this up as help wanted and a good first issue?

[2020-11-09 14:18] citrusella commented on #12763
Is that new? It wasn't doing that before. I find it really confusing compared to the previous behavior, when I have h3 headers I included purposely. (And I've seen people in the Tavern slightly confused about it, though I think that's less my specific scenario, more just that the change was different enough as to seem "off" to them--some were just wondering if there was an intended change (maybe i

[2020-11-09 14:50] Tressley commented on #12763
The previous behavior was a bug and was recently fixed. If you add a task title without Markdown, it falls back to Markdown's default h3 styling to be consistent with the Markdown type scale. Apologies if that's confusing, but the previous style of plain text task titles was not supposed to exist. 😅

Additionally, "plain text" in various areas is going to look different as it's technically not Mar

[2020-11-09 15:05] paglias commented on #12731
@Cathb is this still an issue?

[2020-11-09 16:16] Saiyara6133 commented on #11885
Hi, can I work on this issue?

[2020-11-09 17:11] paglias commented on #11885
@Saiyara6133 sure, i'll mark it as in progress for you

[2020-11-09 18:46] Tressley commented on #9902
@yagopessoa -- I've invited you to our Zeplin project. You can find the artboard for adding the feature to tasks here: https://zpl.io/bPZ9vLA

[2020-11-09 18:52] Tressley commented on #9457
@thewilloftheshadow -- I've invited you to our Zeplin project and marked this issue as in progress for you. You can view the Zeplin artboard here: https://zpl.io/V1PQw5m

[2020-11-10 01:08] Alys opened #12777 "guild category caching when editing guilds (client-side bug)"
If you open the edit form for one guild, you see the correct categories for that guild. If you then close that edit form and open the edit form for a different guild, you see the categories for both the second guild and the first one. The expected behaviour is that you see the categories for only the second guild.

If you reload the website and then reopen the edit form for the second guild, then

[2020-11-10 01:38] thewilloftheshadow commented on #12383
What I mean is `'Access-Control-Allow-Origin': req.header('origin') || '*',` versus `'Access-Control-Allow-Origin': '*',`

[2020-11-10 01:47] thewilloftheshadow commented on #9457
@Tressley which one of these are we using?

This one is from Zeplin:
![image](https://user-images.githubusercontent.com/35580099/98617284-516d8b00-22c4-11eb-94ca-06a552c8475b.png)

This one is currently on the website:
![image](https://user-images.githubusercontent.com/35580099/98617301-5a5e5c80-22c4-11eb-93e8-c51880120e10.png)

[2020-11-10 02:09] cTheDragons commented on #7599
This does work for me now for Web and Android.

It should be noted when you clone challenges the tasks are out of order.

Also you can't move tasks once they been added to challenge.

[2020-11-10 10:52] aevix commented on #12760
I wanted to update you on some interesting things I found out so far. So I figured out that I can actually change the state from the profile modal and it will trigger the state.watch function in the app.js but the problem I am now having is that bootstrap vue doesn't render the new state (you can see it load the page when you click on someone's account but doesn't show the loading bar when you clo

[2020-11-10 17:47] #7716 closed, assigned to nobody

[2020-11-10 17:59] paglias commented on #12760
@aevix I think the issue is not with bootstrap vue but that for some reason the profile modal isn't using the usual router navigation, see https://github.com/HabitRPG/habitica/blob/develop/website/client/src/components/userMenu/profileModal.vue#L52-L59

[2020-11-10 18:01] paglias commented on #12383
@thewilloftheshadow I don't remember exactly but it's probably because of this https://developer.mozilla.org/en-US/docs/Web/HTTP/CORS/Errors/CORSNotSupportingCredentials

[2020-11-10 18:02] paglias commented on #12714
I reviewed this a bit more and I think it's a bad idea actually, too many things that could go wrong

[2020-11-10 18:02] #12714 closed, assigned to nobody

[2020-11-10 18:10] #12777 closed, assigned to nobody

[2020-11-10 18:26] veeeeeee commented on #12630
This isn't a bug so much as it is a side of effect of how we position sprites--the pets are off-center because of the way they're displayed in the avatar box.

[2020-11-10 18:36] #12763 closed, assigned to nobody

[2020-11-10 20:08] thewilloftheshadow commented on #12630
It's not that they're not centered, it's that the `Confection Flying Pig` is different from all the rest if I'm reading it correctly @veeeeeee

[2020-11-10 20:15] SabreCat commented on #12630
Fixed in 7b6f639 for the specific case of the marshmallow fren. There's a bigger issue here with how we position pets within the avatar box vs. the Stable, though, as @veeeeeee mentions--I'll write up a separate ticket for that shortly!

[2020-11-10 20:15] #12630 closed, assigned to nobody

[2020-11-10 20:17] Tressley commented on #9457
@thewilloftheshadow -- You'll use the one currently on the website, the closed image state.

[2020-11-10 21:10] SabreCat opened #12778 "Image alignment inconsistencies between avatar box and Stable"
[//]: # (Before logging this issue, please post to the Report a Bug guild from the Habitica website's Help menu. Most bugs can be handled quickly there. If a GitHub issue is needed, you will be advised of that by a moderator or staff member -- a player with a dark blue or purple name. It is recommended that you don't create a new issue unless advised to.)

[//]: # (Bugs in the mobile apps can also

[2020-11-11 01:20] kevechen commented on #12764
Hi, I'm pretty new to this project. I wasn't able to find a "good first issue" issue that hasn't been started already, so I was wondering if can tackle this one! I was also able to reproduce this issue locally!

[2020-11-11 01:50] aevix commented on #12760
@paglias I am not sure exactly what you mean. I am pretty new to vue router so I am not sure what the usual router navigation is. I tried changing `window.history.pushState()` to `this.$router.push()` but it was resulting the same result.

[2020-11-11 08:59] Alys commented on #12764
@kevechen Thank you! I've marked it as in progress for you. Post here if you have questions or run into problems.

[2020-11-11 14:47] paglias commented on #12760
@aevix so I did some more investigation and found out that the way the profile modal url change works is a bit hacky because vue router doesn't support changing the route for a modal given that the page under the modal remains open.

So I think there are two solutions:

- Remove the title change for profiles here https://github.com/HabitRPG/habitica/blob/develop/website/client/src/components/userM

[2020-11-11 14:58] paglias opened #12780 "Limit supported Markdown syntax for some fields"
In some cases, for example for Challenges and Groups names, we don't want users to have access to the full markdown suite of elements as, for example, adding an heading or an image inside the title would break the layout.

In this cases we want to limit the supported markdown syntax to:
- normal text
- emojis
- (maybe) urls
- (maybe) bold / italic / ... text

The places affected would be:
- challe

[2020-11-11 15:02] paglias opened #12781 "Shared style for small modals"
All the new small modals (level up, drop cap reached, payments success info, won challenge, ...) share some basic style elements:

- Title color and size
- Paddings
- In some cases the footer
- Same width

We should abstract the styles in a shared component or css class so they're not repeated every time.

Some examples:

<img width="384" alt="Schermata 2020-11-11 alle 16 00 13" src="https://user-

[2020-11-11 16:46] thewilloftheshadow commented on #12760
I think the second option would be desirable due to the fact that the URL changes, and so bookmarking/copying the link are possible and will link to the full profile page instead of just the model, meaning that the title wouldn't match the linked page.

[2020-11-11 17:48] paglias commented on #12760
Yeah the second would be better for me as well

[2020-11-12 02:47] Alys commented on #12780
I suggest not limiting task titles. A task's title generally affects only the user who creates the task and if they want more advanced formatting, allowing that is beneficial for them. (For challenges, it would affect participants too of course, but they can always choose to not use the challenge if they don't like it. For group plans, it would affect the members, but a group leader can choose to

[2020-11-12 09:01] Alys commented on #12778
From a report by @Exumbra, the Birch Bark Panda mount is misaligned in the Stable:

![image](https://user-images.githubusercontent.com/1495809/98918541-760e7080-2519-11eb-980c-314f62cde933.png)

![image](https://user-images.githubusercontent.com/1495809/98918441-57a87500-2519-11eb-83b7-1d6f99c4b03f.png)

[2020-11-12 09:08] paglias commented on #12780
Given that a task description is always visible wouldn't it make sense to limit images to it?

[2020-11-12 10:04] Alys commented on #12780
I don't think it's necessary to limit images to just the task note. If someone wants an image in the note but not the title, they can add it to the note; if they want it in the task title they can add it there. Allowing images in task titles doesn't cause any damage as far as I can see, and it gives the players the flexibility to customise their own tasks as best suits them.

[2020-11-12 15:53] shanaqui opened #12784 "Issues on mobile version (e.g. with feeding pets, viewing notifications, viewing profiles)"
Best described via screenshots!

![Screenshot_20201107-101443_DuckDuckGo](https://user-images.githubusercontent.com/8144640/98962740-d643e900-24fe-11eb-9c17-ae9b8360f4ac.jpg)
![Screenshot_20201107-101210_DuckDuckGo](https://user-images.githubusercontent.com/8144640/98962744-d7751600-24fe-11eb-833d-d7f050a4bfcd.jpg)
![Screenshot_20201107-101407_DuckDuckGo](https://user-images.githubusercontent.com/

[2020-11-12 16:36] lsophie commented on #12442
Hi, is this issue free to being worked on? If so, I'd love to give it a go!

[2020-11-12 17:08] lsophie commented on #11865
Is this issue still open to pick up? If so, I'd love to try it!

[2020-11-12 17:21] lsophie commented on #12286
Hi, is this issue open to being worked on? If so, I'd love to pick it up!

[2020-11-12 17:22] lsophie commented on #12256
I'd love to try this issue if it's open to being worked on!

[2020-11-12 17:25] veeeeeee commented on #12780
On hold pending further discussion and research around how to best handle this for the long term without undue burden.

[2020-11-12 18:02] paglias commented on #12256
thanks @lsophie , marked as in progress for you!

[2020-11-12 18:03] paglias commented on #12286
@lsophie it's available but since you already claimed another issue let's wait until that's done

[2020-11-13 08:44] bigsee commented on #11865
@lsophie @shanaqui I mistakenly thought this issue was fixed by a MR I've already had accepted #12444, but it turns out there is a separate one here #12445 that needs a simple text change. Since the majority of the work is done I can make the text change requested by @Alys here if that's OK?

[2020-11-13 10:22] shanaqui commented on #12760
The same issue occurs with "Stats | User | Habitica" and "Achievements | User | Habitica", which are also part of the profile modal. Just checking in to make sure that gets fixed at the same time!

[2020-11-13 14:03] aevix commented on #12760
@shanaqui the PR I linked fixes those issues also because its part of profileModal its just pulling up different information of the user depending on the route user clicks. The PR still has some bugs where it  doesn't know certain names and paths because it doesn't fully match in the router index.js file. I will try and see if I can fix that bug today if I get around to it lol.

[2020-11-13 18:48] aevix commented on #12760
I pushed another commit fixing the bugs on my PR. I don't know what the proper procedure is to merge my PR but its ready for review 👍

[2020-11-14 02:52] Alys opened #13047 "scheduling bug for Dailies set to repeat "daily", everyX > 1"
The bug report below is for Dailies that are not being scheduled correctly on the iOS app (in the main task list and the RYA screen), but are being scheduled correctly on the website.
It's possible that this is not an app bug but instead is a bug with how the API sets the `isDue` field on a Daily (that field is not used by the website).

@phillipthelen Can you please tell me if the app uses the `i

[2020-11-14 05:38] citrusella commented on #12780
Some random comments regarding images in task titles, basically as anecdotes to support what Alys has said:

- I have a few tasks with images in the title (was planning that on a more extensive scale and just never got around to it).
- I once did a *really* short demo of Habitica back in college when my professor let me in one of the classes I took for special education majors, and I specifically

[2020-11-14 18:35] #12738 closed, assigned to nobody

[2020-11-14 19:31] thewilloftheshadow commented on #12784
Can reproduce on Chrome and Safari on an iPhone 7![image](https://user-images.githubusercontent.com/35580099/99155445-a2430200-267d-11eb-8603-a2d8d82d9490.png)![image](https://user-images.githubusercontent.com/35580099/99155448-a40cc580-267d-11eb-828b-995fea0d3fce.png)![image](https://user-images.githubusercontent.com/35580099/99155449-a66f1f80-267d-11eb-8d4f-bb9c7d1208ea.png)

[2020-11-15 15:36] HerrMoriden commented on #11501
is this still an issue ? would like to work on this

[2020-11-15 15:37] HerrMoriden commented on #11162
is this still an issue ? would like to work on this

[2020-11-15 15:37] HerrMoriden commented on #12729
is this still an issue ? would like to work on this

[2020-11-15 15:40] HerrMoriden commented on #8128
is this still an issue ? would like to work on this

[2020-11-15 15:41] HerrMoriden commented on #9477
is this still an issue ? would like to work on this

[2020-11-15 15:57] HerrMoriden commented on #12376
hey is this still an issue and is it ok if i would work on this ?

[2020-11-15 15:58] kimiannalena commented on #11449
Is this issue still active? I'd like to work on this.

[2020-11-15 16:11] kimiannalena commented on #7927
Is this still an issue? I'd like to come up with a design.

[2020-11-15 16:56] paglias commented on #11162
@HerrMoriden thanks for your interest with all these issues, but please let's only claim one and when it's fixed you can claim another one. Regarding what's still an issue, everything tagged with `help wanted` is something that can be worked on, so just let us know which one you prefer and I'll mark it as in progress for you

[2020-11-15 21:03] kimiannalena commented on #12781
I'd like to take a look at this and try to abstract a css class for these modals, if that's fine

[2020-11-16 05:19] Nakonana commented on #11304
I think, that only the user names are being searched (taking capitalisation into account) but not the display names, so people with non-matching user and display names are hard to find. But when searching for the username one can pick any part of the name, so that you find "QuartzFox" when searching "Fox" or even "art" but with "fox" you only find people who have "fox" in their username.

If so, t

[2020-11-16 16:54] Tressley commented on #9477
@HerrMoriden -- Yes, this is still an issue. I've marked it as in progress for you. Feel free to comment here if you have any questions.

[2020-11-16 21:43] SabreCat commented on #11501
Go for it, @HerrMoriden, with our thanks!

[2020-11-16 21:47] SabreCat commented on #12778
Birch Bark Panda will be corrected in this week's content rollout.

[2020-11-16 23:49] Alys commented on #12729
@HerrMoriden You have a couple of other issues assigned to you so we'll keep this one open for someone else to work on. When you've finished the other issues, post again here if you'd like to claim this one. Please see [this comment from Matteo](https://github.com/HabitRPG/habitica/issues/11162#issuecomment-727601277) about claiming just one issue at a time. :)

[2020-11-16 23:50] Alys commented on #8128
@HerrMoriden You have a couple of other issues assigned to you so we'll keep this one open for someone else to work on. When you've finished the other issues, post again here if you'd like to claim this one. Please see [this comment from Matteo](https://github.com/HabitRPG/habitica/issues/11162#issuecomment-727601277) about claiming just one issue at a time.

[2020-11-16 23:52] Alys commented on #12376
@HerrMoriden No, it's on hold. As [Matteo mentioned in this comment](https://github.com/HabitRPG/habitica/issues/11162#issuecomment-727601277), the `help wanted` label shows what's available. Please read the wiki's [GitHub Labels](https://habitica.fandom.com/wiki/GitHub_Labels) page for more information.

[2020-11-16 23:52] Alys commented on #11449
@kimiannalena This issue is on hold. Only issues tagged with the `help wanted` label are available. Please read the wiki's [GitHub Labels](https://habitica.fandom.com/wiki/GitHub_Labels) page for more information about labels.

[2020-11-17 10:27] paglias commented on #12781
Hi @kimiannalena , thanks for your interest, I'm marking the issue as in progress for you.

For now we'd like to focus on:

- the width of the modal
- the footer style
- the footer button
- the heading style
- the general positioning of elements and basic text styles

[2020-11-18 08:34] Nakonana commented on #12784
Confirming all of the above for Sony Xperia Compact, no-name AddBlock browser and adding a few:

Like @thewilloftheshadow I'm not able to see my class in the task screen and when opening the skills section, the "+" button is floating in front of it
![class and plus button](https://trello-attachments.s3.amazonaws.com/5dfa77963d47893b8474869d/5e261bfa0c5bcf1647c15dbd/d634e1c228513fb8431e9fc991fa7bcc

[2020-11-18 09:49] Nakonana commented on #12525
Related issue: #12784 ?

[2020-11-18 11:56] anshuman9999 commented on #12702
Can I work on this issue?

[2020-11-18 14:08] shanaqui commented on #9470
I've changed this back to Help Wanted since we didn't get a reply. Do let us know if you want to pick it up again, though!

[2020-11-18 14:23] shanaqui commented on #9244
Hi @lydiaggoodson! Just checking in again since I don't see a PR linked to this -- how's it going? :)

[2020-11-18 14:30] shanaqui commented on #12631
@Deeksha2501 Hi! Are you still working on this issue? If not, or if we don't hear from you within about a week, I'll set this to Help Wanted again. But if you just need more time, that's fine -- just let us know you want to keep on with it!

[2020-11-18 14:31] shanaqui commented on #12664
Hi @CodeBerrie! How's it going? Can you please check in to let us know whether you're still working on this? If not, or if we don't hear from you within about a week, we'll set it back to Help Wanted so someone else can have a go. There's no rush, just checking it hasn't gone stale! :)

[2020-11-18 14:32] shanaqui commented on #12678
Hi @Drekscott! How's it going? Can you please check in to let us know whether you're still working on this? If not, or if we don't hear from you within about a week, we'll set it back to Help Wanted so it doesn't go totally stale. Thanks!

[2020-11-18 14:33] shanaqui commented on #12377
@Amberlisi Sorry to hear that, and sorry about the late reply! Making it Help Wanted again for now, but give us a shout if you want to give it another try.

[2020-11-18 14:34] shanaqui commented on #12549
@VipulKhandelwal1999 Hi! Are you still planning to work on this issue? Can you please check in to let us know whether you're still working on this? If not, or if we don't hear from you within about a week, we'll set it back to Help Wanted so someone else can have a go. There's no rush, just checking it hasn't gone stale! :)

[2020-11-18 14:36] VipulKhandelwal1999 commented on #12549
@shanaqui I have already completed this I will send you PR right away.

[2020-11-18 15:46] citrusella commented on #9470
I tried looking into this (though I don't know yet if I have the skill to fix it so I'm not necessarily claiming it ~~yet~~ until I can figure out if I have a good chance of actually completing it) and I'm wondering something: Is this the code that dictates what displays as the (current) / (total) count under the health bar? (And the pending damage?) https://github.com/HabitRPG/habitica/blob/5165d

[2020-11-18 16:05] LioZam commented on #12377
I am interested helping with this issue. (I experienced it *soo* often, it bugged me XD (pun intended)).

If I am allowed to work on it, would you point me towards the relevant file/code to look at? @Amberlisi
Thank you all for your work!

[2020-11-18 16:22] Deeksha2501 commented on #12631
I will send the PR if the bug is resolved otherwise I will let you know by tomorrow.

[2020-11-19 02:12] ivan-suarez commented on #12702
Hi, I saw this issue open and decided to give it a go, and [I think I have it fixed](https://github.com/ivan-suarez/habitica/commit/251dd210b1591f9ba148f635ef271e0226948458).

I can proceed to pull request if it's okay.

[2020-11-19 02:26] Alys commented on #12702
@anshuman9999 @ivan-suarez This issue is labelled as "in progress", not "help wanted", so it's not currently available to be worked on. See "Ways to Help" in [Guidance for Blacksmiths](https://habitica.fandom.com/wiki/Guidance_for_Blacksmiths) for more details about selecting issues and the label system. :)

@himanshus852 How are you going with this? Do you still want to work on it?

[2020-11-21 07:35] Alys opened #12794 "missing margin on checkboxes at User Icon > Settings"
The checkboxes at User Icon > Settings ("Site" tab) have no margin between them and the text.

![image](https://user-images.githubusercontent.com/1495809/99870546-90ce9c80-2c1f-11eb-9abb-600d03425877.png)

I'm labelling this as "on hold - needs design" for a design-related decision about how much margin should be there.

_Thanks to @tripplehelix (874e648a-2df7-4312-a9e6-7217be462204) for reporting

[2020-11-22 03:05] Alys opened #12795 "View Party / Guild "sort by class" and "Asc" drop down visual inconsistencies"
_@tripplehelix (874e648a-2df7-4312-a9e6-7217be462204) reports:_

"The 'View Party' overlay has a different drop down type to the rest of the Habitica website. This is causing inconsistencies with the overall colour theme."

It also applies to guilds and to the Asc/Desc dropdown in the same modal.

I'm labelling this as "on hold - needs design" for a design-related decision about any potential fix.

[2020-11-22 03:11] Alys opened #12796 "Task on-click outline is only around title"
_As reported by @tripplehelix (874e648a-2df7-4312-a9e6-7217be462204):_

"When clicking on a task title to edit the task, only the title is outlined not the entire white portion. Not sure if this is on purpose.'

I'm labelling this as "on hold - needs design" for a design-related decision about any potential fix.

![image](https://user-images.githubusercontent.com/1495809/99892753-068c4400-2cc4-11e

[2020-11-22 03:50] Alys opened #12797 "x-ratelimit-remaining header returning incorrect results"
_As reported by @cTheDragons for the GuildBot account that she runs (User ID 00000001-1111-4000-9000-111111111111):_

"The headers['x-ratelimit-remaining'] is returning incorrect number.

I have a single process bot. (It only interacts with Habitica through this process.

I noticed that headers['x-ratelimit-remaining'] though previously returns 18 on the last call then then returns 7.

I would exp

[2020-11-22 04:22] cTheDragons commented on #12797
**Output from my code:**
***headers.['x-ratelimit-remaining'] is outputted at Remaining Bot:***
[code]

**Code**
***Prior to this was a function to put all my calls into a single array which I then loop based on the result from the previous headers.['x-ratelimit-remaining']***
[code]

***Code to Execute API code for Habitica (bot)***

[code]
*The rest is dealing with he results and errors etc*

[2020-11-22 10:47] paglias commented on #12796
I'm pretty sure this is on purpose but @Tressley can confirm

[2020-11-22 10:48] paglias commented on #12795
cc @negue

[2020-11-22 13:51] Tressley commented on #12796
This is technically correct in that the click area to edit a task is the task title and it's receiving the focus state.

[2020-11-22 14:59] jbusa22 commented on #12729
Can I work on this one?

[2020-11-23 05:57] ChengCalvin commented on #12525
Hi @Alys and @arsalanhub,

Is this issue still open? I am looking to contribute to my first open-source project, I might have encountered a similar issue building another website. Let me know!

[2020-11-23 21:31] paglias commented on #12797
@cTheDragons thanks for the report, what I'm seeing from the code is that you're making HTTP requests which are async but not awaiting them so the `consoleLogToFile` calls be called necessarily in the order of the requests but based on which one is returned first. And given that the rate limiter headers are set as soon as the server receives a request what might happen is:

1. 30 remaining request

[2020-11-24 04:22] cTheDragons commented on #12797
Yes but the timeout period with most of these request is over 2 seconds. So it weird I'm getting wildly different values.

[2020-11-24 05:10] cTheDragons commented on #12797
I also forgot to mention this happens after the 3 or 4th reset where it states behaving like this. Before then it works perfectly.

[2020-11-24 10:20] Alys opened #12815 "buttons, menu items, task checkboxes not working intermittently / page freezing"
_The bug report below is from @Nakonana (33bb14bd-814d-40cb-98a4-7b76a752761c). The two third-party scripts that she mentions are both pure CSS so I don't think they can be causing the problems. I've told her that it's logged here so she'll see any questions that are posted here._

---

A bug that affected 2 tabs out of nowhere:

In the first tab, I was liking consecutive message and the Like butt

[2020-11-24 11:14] paglias commented on #12815
Might have been a server problem. Which browser is it?

[2020-11-24 14:45] shanaqui commented on #12549
If you link the PR here, it will link the two so I can check on what's happening with it, and so it's easy for someone to close this when the fix is merged! :)

[2020-11-24 14:47] shanaqui commented on #12631
@Deeksha2501 If you can link me the PR we can get it and the issue linked so I can keep checking back. :)

[2020-11-24 14:49] VipulKhandelwal1999 commented on #12549
Ok @shanaqui Currently i am fixing the skill layout bug. I have fixed this footer bug but i have already done commits related to the skill section. So if I will send you PR, it will contain those commits as well. So either i will send after the skill bug PR is completed or anything you would suggest..

[2020-11-24 14:51] VipulKhandelwal1999 commented on #12549
@paglias Please help me with that.

[2020-11-24 15:09] shanaqui commented on #10917
@J-Sanderson Hi there! Just checking in whether you're still interested in working on this issue.

If we don't hear from you within a week, or you're not interested anymore, I'll mark this as help wanted again. :) No rush to complete a fix or anything, we're just making sure the issue doesn't go stale!

[2020-11-24 15:11] shanaqui commented on #1703
Thanks for the update! I don't think a fix has actually been completed for this anyway, so it would be expected that things are still not working that way... is that right, @paglias?

[2020-11-24 15:11] shanaqui commented on #12765
@Saiyara6133 Hi there! Just checking in whether you're still interested in working on this issue.

If we don't hear from you within a week, or you're not interested anymore, I'll mark this as help wanted again. :) No rush to complete a fix or anything, we're just making sure the issue doesn't go stale!

[2020-11-24 15:12] shanaqui commented on #8735
@Zarrindast Hi there! Just checking in whether you're still interested in working on this issue.

If we don't hear from you within a week, or you're not interested anymore, I'll mark this as help wanted again. :) No rush at all to complete a fix or anything, we're just making sure the issue doesn't go stale!

[2020-11-24 15:12] shanaqui commented on #11767
@prachi15091999 Hi there! Just checking in whether you're still interested in working on this issue.

If we don't hear from you within a week, or you're not interested anymore, I'll mark this as help wanted again. :) No rush to complete a fix or anything, we're just making sure the issue doesn't go stale!

[2020-11-24 15:13] shanaqui commented on #11885
@Saiyara6133 Same here as in the other issue -- are you still working on this? :)

[2020-11-24 15:13] shanaqui commented on #9902
@yagopessoa Hi there! Just checking in whether you're still interested in working on this issue.

If we don't hear from you within a week, or you're not interested anymore, I'll mark this as help wanted again. :) No rush to complete a fix or anything, we're just making sure the issue doesn't go stale!

[2020-11-24 15:24] paglias commented on #12549
The best option would be to create a separate git branch for the new pr, apply the commits there and send it, but if that's to complex it's also fine to wait until the other pr is merged

[2020-11-24 16:53] Nakonana commented on #12815
@paglias Firefox 83.0 :)

[2020-11-24 17:39] ShubhamPatel33 commented on #11885
Hi,I wanna work on this if it is still open .

[2020-11-24 18:21] paglias commented on #11885
@ShubhamPatel33 this is currently assigned to someone else

[2020-11-24 18:22] paglias commented on #1703
@habitrpguser this is still open indeed! We have a quite complete PR at https://github.com/HabitRPG/habitica/pull/12204 and if you could finish the remaining issues it would be great!

[2020-11-24 18:24] paglias commented on #12525
@ChengCalvin this is still open indeed! I'm marking it as in progress for you. Let us know if you have any question

[2020-11-25 12:16] paglias commented on #12797
I gave a look at the code and nothing seems off, if you could try to replicate it with sequential (make a request, wait for a response, make another one) it'd be great

[2020-11-25 13:19] ShubhamPatel33 commented on #11885
Okay ,thank you sir

On Tue, Nov 24, 2020 at 11:51 PM Matteo Pagliazzi <notifications@github.com>
wrote:

--
*Regards from,*
*Shubham Patel*
Hello No:8000193267

[2020-11-26 13:00] Zarrindast commented on #8735
nope, i'm still on it

On Tue, Nov 24, 2020 at 7:12 AM shanaqui <notifications@github.com> wrote:

--
Eli Zarrindast
530-650-6339
zarrindast.com -- github.com/zarrindast
*This email may contain proprietary information and is intended for its
recipient only. Please keep all communications confidential unless
otherwise discussed.*

[2020-11-26 19:57] shanaqui opened #12819 "No error message when hatching a pet fails because you already own it"
citrusella posted in RaB: "While hatching pets for the testing I just did, I realized that messageAlreadyPet ("You already have that pet. Try hatching a different combination!") doesn't pop up when you try to hatch a pet you already have. Is that deliberate or a bug?"

I have that issue too, and I'm guessing "bug", because it means you're just getting silent failures when you try to hatch a pet fr

[2020-11-27 02:27] x-N0 commented on #5429
Is this really fixed? It's something that still happening.

[2020-11-27 07:11] Alys commented on #5429
@x-N0 can you please give us details about what you're seeing that makes it look like this bug is happening?

[2020-11-27 10:41] prachi15091999 commented on #11767
Yes ,We are working on it and we complete our work  by next week.

[2020-11-27 11:30] hamboomger commented on #11865
@shanaqui it looks like the issue is being worked on by @bigsee, could you please remove the `help wanted` label?

[2020-11-27 17:43] paglias commented on #11865
@bigsee sorry for the delay, please go ahead!

[2020-11-27 17:47] bigsee commented on #11865
@paglias no problem at all! Thanks for confirmation. I'll get this finished off.

[2020-11-27 20:51] seunggyupark commented on #12819
Hi, can I take on this issue?

[2020-11-28 04:46] vfpereira commented on #12819
I wish help to if possible

[2020-11-28 11:55] paglias commented on #12819
@seunggyupark I've marked it as in progress for you

@vfpereira unfortunately an issue can only be claimed by one person

[2020-11-28 17:58] yagopessoa commented on #9902
@shanaqui Hello! Yeah, I started to work on this but in the past few days I'm struggling to find time to work on it. I'll try a little more, if thats ok, and then if I'm not being able to progress I'll let you guys know.

[2020-11-29 01:48] EmmaK2020 commented on #12795
ssssssss

[2020-11-29 18:57] paglias commented on #11885
If @Saiyara6133 is not interested anymore in working on this one I'll tackle this internally with #12785

[2020-11-29 21:30] Saiyara6133 commented on #12765
Hi, I am still working on it.

[2020-11-29 21:33] Saiyara6133 commented on #11885
I am working on it, but I haven't made any progress. So I am okay with someone else working on it.

[2020-11-30 03:13] ShubhamPatel33 commented on #11885
If No one is working, can i start working on it?

On Mon, 30 Nov 2020, 12:28 am Matteo Pagliazzi, <notifications@github.com>
wrote:

[2020-11-30 05:33] Alys commented on #9247
I'm reopening this because it's still (or once again?) possible to type a message to a player who has blocked you or who has opted out of PMs.

[2020-11-30 06:22] Alys commented on #9247
I've deleted some old comments that were just requests to work on this issue and related conversation (nothing important for solving this issue).

[2020-11-30 07:05] aevix commented on #11172
I was wondering if I could take a stab at this issue. I was looking at the code and I have a few ideas in mind.

[2020-11-30 09:49] paglias commented on #11172
@aevix thanks! i'm marking the issue as in progress for you

[2020-11-30 10:41] paglias commented on #11885
I'm sorry @ShubhamPatel33 but since @Saiyara6133 has said they haven't made any progress and we need to fix the issue for another PR I think we'll handle this internally

[2020-11-30 16:43] prachi15091999 commented on #11767
We have done our code for resolving the issue and implement the popup succesfully .Soon you will get the pull request form our side with the github username 18ucs077.
The popup we have added is shown in the attached image .In this popup the  username and avatar of the member to whom the leadership should be transferred is shown.

![WhatsApp Image 2020-11-30 at 9 53 29 PM](https://user-images.githu

[2020-11-30 19:01] #12795 closed, assigned to nobody

[2020-11-30 19:04] #12481 closed, assigned to nobody

[2020-11-30 19:05] #12729 closed, assigned to nobody

[2020-11-30 23:16] ChengCalvin commented on #12525
@paglias I am having errors when I try to run npm run client:dev (error: Cannot find module "@vue/cli-plugin-babel"). I checked in the dependencies and it is installed. Has anyone encountered this problem during the setup?

[2020-12-01 03:01] jbusa22 commented on #11304
@paglias Would adding a search by both username and display name fix this issue? I'm not sure exactly what state this is in.

[2020-12-01 07:32] hazwong commented on #12613
Could I try to work on this? I'm thinking we can add a scroll bar to the tag filter panel itself, so that when the user adds a lot of tags, the tag panel doesn't extend beyond the page.

[2020-12-01 08:07] paglias commented on #12525
Not that I know @ChengCalvin . I would suggest to delete `node_modules` and `website/client/node_modules` and reinstall everything from the root of the project with `npm i`

[2020-12-02 01:12] ChengCalvin commented on #12525
Thanks, that did the trick. Is there a minimum memory requirement? I am getting another error when I run client:dev I get this error:

"FATAL ERROR: invalid array length Allocation failed - JavaScript heap out of memory"

![image](https://user-images.githubusercontent.com/22303125/100815230-71025a00-3411-11eb-85b2-6bb7a454b7fb.png)

[2020-12-02 08:59] paglias commented on #12525
I don't have an exact number but yeah the initial build of the client tends to take quite a bit of memory, how much RAM do you have available?

[2020-12-02 15:33] ChengCalvin commented on #12525
I don't have a lot of space left, I would need to buy new ram. I am currently still using 8GB total RAM which is not enough since I'm constantly above 75% usage.

[2020-12-02 16:38] paglias commented on #12525
Are you on windows, mac or linux? I just tried on mac and during the build phase it reaches 800-900mb of ram which then slowly decreases

[2020-12-02 16:40] ChengCalvin commented on #12525
I am on windows, when I try to build, it always stops around 68-69% before throwing that error.

[2020-12-02 17:50] x-N0 commented on #5429
Sometimes I get 500%, and when I attack the amount of damage given is not the amount that will apply with the 500%, its just the amount given from my stats or my power attacks... so I don't really know if that's a normal thing or...??

[2020-12-02 18:01] x-N0 commented on #5429
I gotta take a closer look at the stats, I'm starting a new quest, I will take a closer look to the damage I deal from my super attacks and will be back with any observation, Im using this formula from the wikia:

`1.5 + {(4 x STR) / (STR + 200)} = overall damage multiplier`

The multiplication is done at the end of my cron (when the damage gets applied)? or it's done before the points reach the p

[2020-12-02 21:01] LioZam commented on #12126
I would like to check whether I can help with this issue.

What can I do to investigate/fix this? Oh.. right... reading the guide lines first this time... but I wanted to at least tell you that I would be interested in looking in the git vs weblate issue(s) (this, as well as #12119 )

[2020-12-02 23:46] seunggyupark commented on #12819
I found no issues with the logic or the test for this. Could it potentially be releasing a pet which sets its' value to 0, then trying to hatch it again? I'm wondering if this if statement:

if (user.items.pets[pet] && user.items.pets[pet] > 0) {
    throw new NotAuthorized(i18n.t('messageAlreadyPet', req.language));
  }

Should be changed to just

if (user.items.pets[pet] > 0) {
    throw new Not

[2020-12-03 02:13] thewilloftheshadow commented on #12525
I only hit 600mb when running on Ubuntu 20 LTS, so it might be a windows thing?

[2020-12-03 09:24] paglias commented on #12126
@LioZam I think the best approach is to follow the description in the first comment where it's suggested to create a script to solve this issue. To be honest I don't think this is a super easy issue to work on though

[2020-12-03 09:27] paglias commented on #12525
It definitely could be a windows only issue, but I'm afraid I won't be able to help as I haven't used windows in a long time

[2020-12-03 16:49] kevechen commented on #12764
Hi, sorry it took so long, but I was able to print out the message to the console and it seems like an @Username message is being returned correctly (at least I think it is), so is the correct fix to manually reload the page ourselves?

[2020-12-03 17:03] ChengCalvin commented on #12525
Yeah, I don't have enough RAM to continue after running npm run mongo:dev and npm run start I am left with <500mb to build. I will check if I am able to free up some space. Thanks

[2020-12-03 20:58] thewilloftheshadow commented on #12525
Try doing the initial build without running mongo or the server part, and with no other applications open, and see if that helps.

[2020-12-04 18:52] paglias commented on #11304
@jbusa22 I think this is ready to be tackled if you want to give it a try! Given the issue description I'm not sure it's just a matter of adding an username search

[2020-12-04 18:54] paglias commented on #12819
@seunggyupark that could be it! As `user.items.pets[pet]` with a value of 0 would be considered a false-y value in javascript

[2020-12-04 21:05] #11356 closed, assigned to nobody

[2020-12-05 04:59] Alys commented on #12819
@seunggyupark When a pet changes to a mount, the pet's value is set to -1, not to 0. The value is never 0, not even for a new pet or a re-hatched pet (both start at 5).

Maybe we want to consider changing the `if` statement to this?
`... user.items.pets[pet] > -1) { // -1 = pet tamed but not re-hatched`
That won't fix this issue of course but it will make the behaviour clearer.

[2020-12-05 06:39] jbusa22 commented on #11304
@paglias Is there an updated test case that can replicate this? I've tested it a bit on the live open server challenges and can't find anything. I think users might just be confused thinking the search is by display name.

[2020-12-05 16:55] paglias commented on #11304
@jbusa22 not that i'm aware, if it's not possible to replicate it using the steps outlined at https://github.com/HabitRPG/habitica/issues/11304#issuecomment-666418396 it might have been resolved

[2020-12-05 21:09] citrusella commented on #12819
If relevant (I'm not sure if I'm reading and understanding the conversation right): I should note that when I encountered this issue on my test account, it had not released the pet in question before--I don't have beast master, mount master, or triad bingo on that account.

(This is probably not relevant but there you go?)

[2020-12-05 21:10] Alys commented on #12613
@hazwong Thank you for taking this on! I've marked it as in progress. Sorry we didn't reply sooner!

[2020-12-05 21:11] citrusella commented on #12796
Should that area also get a focus state when casting a task-based skill? (Because it does.)

[2020-12-05 21:45] Alys opened #12839 "casting Healing Light skill at full HP gives "language is undefined" error"
When a Healer has full health (50 HP) and tries to use the Healing Light skill (`heal`), they see an error message saying either `Cannot read property 'language' of undefined` or `a is undefined`. (Which error you get may be browser dependent.)

The expected behaviour is that they should see the `messageHealthAlreadyMax` message ("You already have maximum health.")

The skill works correctly when

[2020-12-05 23:01] #12839 closed, assigned to nobody

[2020-12-05 23:02] paglias commented on #12839
Was a one line fix so I pushed it

[2020-12-05 23:18] JohnJSal commented on #12839
Hi. I was the one who reported the issue. I just wanted to mention that I still receive the same error. I've tried refreshing and restarting Chrome. Is there anything else that I might need to do to "force" the fix?

Here's an image of the error pop-up: https://snipboard.io/qTZuxr.jpg

[2020-12-05 23:56] thewilloftheshadow commented on #12839
@JohnJSal it won't be actually fixed on the live version until they merge the develop branch into the actual website, which happens every 3 days to a week from what I've seen

[2020-12-06 01:31] LioZam commented on #12126
yeah.. since I'll start work in a few days, I guess I shouldn't take on a big project. if it was just altering some scripts it was no problem.. but since it isn't even clear (for me) where what happens (e.g. if something in weblate could be changed, or if there are skripts, and if the latter how to access them/where to find them, and if the first, how to access that... oh well.. too many unknowns

[2020-12-06 02:57] JohnJSal commented on #12839
Ah, of course! Thank you!

[2020-12-06 03:41] ChengCalvin commented on #12525
Seems like that made the build run a faster but the error persists

[2020-12-06 04:33] thewilloftheshadow commented on #9457
I think I’m going to have to let this one go for someone else. Turns out I am really really bad at front end work, and I’m going to stick to the API and server-side of things 😂😂

[2020-12-06 04:35] thewilloftheshadow commented on #12126
I think I could take a shot at this. It looks pretty similar to things I’ve done before for my own repos, though I don’t use weblate myself

[2020-12-06 04:36] thewilloftheshadow commented on #12119
I could take a stab at this in the same work as #12126, so that it runs in the same GitHub action

[2020-12-06 10:18] paglias commented on #12126
@thewilloftheshadow I'll mark this as in progress for you, thanks!

[2020-12-06 10:24] paglias commented on #12119
Sure @thewilloftheshadow ! The only thing I want to be sure and maybe @SabreCat can confirm, is that if we change strings in locales other than English here in the repo they don't get overwritten by Weblate ones

[2020-12-06 11:35] VipulKhandelwal1999 commented on #12549
@paglias As now you have merged PR which was related to skill layout. Now it's showing
![image](https://user-images.githubusercontent.com/44499187/101278975-ea6cc480-37e4-11eb-8d73-5d360b7ab4d5.png)
Now what should i do work on this one. Should i make another branch and then work on it but it will also contain all the extra commits. Please tell me What should i do?

[2020-12-06 11:56] paglias commented on #12549
What you should do is:

- `git fetch upstream`
- `git checkout develop`
- `git reset --hard upstream/develop`
- `git push origin develop --force`

Now your develop branch will be up to date with the `develop` branch here

Then:

- `git checkout -b fix-12549 ` to create a new branch up to date with `develop` to work on this one
- make changes
- commit
- `git push upstream fix-12549`
- create a pr u

[2020-12-06 11:58] VipulKhandelwal1999 commented on #12549
@paglias Thank you very much :)

[2020-12-06 12:36] VipulKhandelwal1999 commented on #12549
Screenshot after fixing

Desktop View:-
![image](https://user-images.githubusercontent.com/44499187/101280176-a3cf9800-37ed-11eb-87bc-ac2f3fe42a23.png)

Mobile View:-
![image](https://user-images.githubusercontent.com/44499187/101280195-c2ce2a00-37ed-11eb-991f-e6269d0f2ab8.png)

[2020-12-06 15:49] paglias commented on #12549
In the desktop view it looks like there's no padding on the left side, I would suggest to use bootstrap's grid https://getbootstrap.com/docs/4.5/layout/grid/ and adapt it to the mobile view with the responsive classes

[2020-12-06 15:58] VipulKhandelwal1999 commented on #12549
@paglias No it contains padding at the left and right. I have taken Screenshot of that only.
The following are the full view:-

Desktop view:-
![image](https://user-images.githubusercontent.com/44499187/101285199-edc67700-3809-11eb-9b31-8c9e2f8e6644.png)

Mobile View:-
![image](https://user-images.githubusercontent.com/44499187/101285186-da1b1080-3809-11eb-8cc8-1aafa54f18c4.png)

[2020-12-06 21:09] Alys opened #12841 "inconsistent font between Guilds and Challenges for Member Count and Prize / Guild Bank"
_As reported by @Nakonana and confirmed by me, both of us with all styles disabled:_

"The font characteristics of the member and gems count in guilds are different from those in challenges."

Guilds:
![image](https://user-images.githubusercontent.com/1495809/101292394-ee3b2e00-385a-11eb-9b5f-67194e0abd43.png)

Challenges:
![image](https://user-images.githubusercontent.com/1495809/101292408-00b567

[2020-12-06 21:36] kevechen commented on #12764
Ah, I investigated further and saw the text was not set after the response came back! I'll make a PR shortly!

[2020-12-07 10:16] VipulKhandelwal1999 commented on #12549
@paglias I have replaced all my self-made classes with the bootstrap one. And after fixing the view is below:-

<b>Desktop View</b>
![image](https://user-images.githubusercontent.com/44499187/101338592-2d8d6d00-38a3-11eb-8368-a6cdcafa268b.png)

<b>Mobile View</b>
![image](https://user-images.githubusercontent.com/44499187/101338706-56156700-38a3-11eb-977f-50795c6be807.png)

[2020-12-07 11:11] shanaqui commented on #12377
Hi @LioZam -- go for it! I'll mark this as in progress for you.

[2020-12-08 05:55] VipulKhandelwal1999 commented on #12549
@paglias I think i have fixed this issue. Take a look whenever you are free.

[2020-12-08 08:03] hazwong commented on #12784
Could I work on this issue if no one is working on it? Thanks!

[2020-12-08 10:49] paglias commented on #12784
To be honest given the big amount of work that would be needed to completely fix the mobile experience I'm not sure it's worth starting. Let's hear from @Tressley

[2020-12-08 22:10] seunggyupark commented on #12525
Hey @ChengCalvin did you find a solution for this? I'm having trouble with this myself, same exact issue. I've seen this https://support.circleci.com/hc/en-us/articles/360009208393-How-can-I-increase-the-max-memory-for-Node- but unsure if this will help or how to apply that env variable.

[2020-12-08 22:21] seunggyupark commented on #12819
Thanks for the comments. I'm trying to get the local environment set up but having some issues with memory when running npm run serve. @citrusella did it still add the pet even though you encountered the issue?

[2020-12-08 22:24] seunggyupark commented on #12525
Also, interestingly, I also fail at 68-69% with 16gb of ram, windows. I don't think this is a hardware issue?

[2020-12-08 22:30] ChengCalvin commented on #12525
@seunggyupark can you check whether you have enough space in your C drive? I am still trying to find files to delete on it so I can't confirm yet. It seems that you need at least 11.3gb of memory available. You can check your report error log to see the memory available.

[2020-12-08 22:37] seunggyupark commented on #12525
I think memory it is referring to is RAM (random-access memory). I have 110gb free on my hard drive (C drive) and I only get up to about 4GB/16GB of RAM usage when compiling.
![memory](https://user-images.githubusercontent.com/71467096/101549679-ee265580-3962-11eb-93fe-f7651ff9e5c7.PNG)

[2020-12-08 23:09] ChengCalvin commented on #12525
Yeah, I am in the same spot as you are. I was trying to verify my assumptions because available memory seemed to be what I had left in my drive and usedMemory I assumed it was what the build needed

[2020-12-08 23:34] citrusella commented on #12819
I already had the pet. That's the issue. It couldn't add the pet because I already had it, and it presented no "you already own this pet" error message like it used to--the hatch just silently doesn't happen, and the egg and potion stay in the inventory. I had been going down the list of pets of a certain color to hatch them all and see if I got an achievement someone was reporting a different pos

[2020-12-09 10:48] paglias commented on #12525
I'm not familiar with windows env variables but looking on google this came out https://stackoverflow.com/questions/9249830/how-can-i-set-node-env-production-on-windows

[2020-12-10 11:21] shanaqui commented on #12702
@himanshus852 Since you haven't replied, we'll make this issue available for others to work on again.

@thewilloftheshadow Since you were the first other person to inquire, are you interested in taking this up?

[2020-12-10 11:22] shanaqui commented on #12678
I'm setting this back to "help wanted" since we received no reply, but feel free to get in contact if you have time for it again and no one else has claimed it, @Drekscott!

[2020-12-10 11:23] shanaqui commented on #12631
@Deeksha2501 Hi! Are you still planning to work on this? If not, or if we don't hear back from you within a week, I'll put this back to help wanted so other people get a chance to dig in. :)

[2020-12-10 11:25] shanaqui commented on #10917
Since we haven't heard back, I'm marking this as help wanted again. If you'd like to pick it up again and no one else has started working on it, let us know, @J-Sanderson! :)

[2020-12-10 11:26] shanaqui commented on #9244
Hi @lydiaggoodson, since I haven't heard back about this one, I'm marking it as help wanted again. Let us know if you want to pick it back up and no one else has started work!

[2020-12-10 11:28] shanaqui commented on #12664
I'm putting this issue back in the help wanted, since we didn't hear back! :)

[2020-12-10 11:29] shanaqui commented on #12442
Thanks! I've added this back to the help wanted pool.

[2020-12-10 11:31] shanaqui commented on #12781
Hi @kimiannalena! Are you still working on this issue? Can you check in within the next week to let us know? If not, or if we don't hear back, I'll mark this as help wanted again so the issue doesn't go totally stale. :)

[2020-12-10 11:32] shanaqui commented on #11501
Hi @HerrMoriden! Are you still working on this issue? Can you check in within the next week to let us know? If not, or if we don't hear back, I'll mark this as help wanted again so the issue doesn't go totally stale. :)

[2020-12-10 11:32] shanaqui commented on #9477
@HerrMoriden Hi! Same on this issue -- can you let us know you're still working on it? If not/if we don't hear back, I'll mark it as Help Wanted again!

[2020-12-10 11:33] shanaqui commented on #12383
@thewilloftheshadow Are you still working on this issue? Can you check in within the next week to let us know? If not, or if we don't hear back, I'll mark this as help wanted again so the issue doesn't go totally stale. :)

[2020-12-10 11:33] shanaqui commented on #12555
Hi @bakerty! Are you still working on this issue? Can you check in within the next week to let us know? If not, or if we don't hear back, I'll mark this as help wanted again so the issue doesn't go totally stale. :)

[2020-12-10 16:41] hazwong commented on #10048
I can work on this if help is still needed!

[2020-12-10 16:54] hazwong commented on #12607
Is this issue still open?

[2020-12-10 16:56] hazwong commented on #12678
I could work on this if this is still open!

[2020-12-10 17:14] paglias commented on #12678
Hi @hazwong this is still open, I'll mark it as in progress for you. We suggest to only do one issue concurrently so I'm not going to assign the others in the meantime, thanks!

[2020-12-10 19:35] Deeksha2501 commented on #12631
Sorry for the late response, I tried but wasn't able to solve the issue
You can assign it to someone else :)

[2020-12-11 11:11] shanaqui commented on #12397
A new report from ptdaisy:

[2020-12-12 11:47] kimiannalena commented on #12794
After testing, what looks most natural, I would recommend 8px or 0.5em or rem, depending on which unit is preferred in the project. It will look like this:
![checkbox margin](https://user-images.githubusercontent.com/70015140/101982972-d529e700-3c77-11eb-9581-12c35ccaf1f3.jpg)
A bigger gap will visually detach the text from the checkbox, so I think this distance works just fine.

[2020-12-12 15:17] VipulKhandelwal1999 commented on #12549
@paglias Can you please take a look at the PR?

[2020-12-12 16:58] kimiannalena commented on #12781
Hey @shanaqui, unfortunately I will not be working on this Issue anymore. I attempted to fix this issue as part of a study project, but I've had major problems installing the project locally (I tried it on Windows 10 and Linux Kali in a virtual machine). I followed the instructions one by one, multiple times... in the end it mostly ended with an error of type ELIFECYCLE, that I am not able to fix.

[2020-12-13 00:43] DanAmbitous commented on #12702
Hey is this issue still open?

[2020-12-13 01:49] thewilloftheshadow commented on #12702
Hey @shanaqui! I've actually promised myself I wouldn't work on anymore frontend jobs right now because they always frustrate me and mess up my day. Sorry about that!

[2020-12-13 01:50] thewilloftheshadow commented on #12383
Ahh I totally forgot about this issue! I can pick up work on it again in a couple of days, so yes, I am (:

[2020-12-13 17:15] #12256 closed, assigned to nobody

[2020-12-13 17:39] #12549 closed, assigned to nobody

[2020-12-13 21:40] yiqcheng98 commented on #12702
Hi! Can I take this one?

[2020-12-13 22:47] Saiyara6133 commented on #12442
Hi, can I work on this issue?

[2020-12-14 00:31] VipulKhandelwal1999 opened #12861 "Fixing toggle menu button in Development Mode"
[//]: # (Before logging this issue, please post to the Report a Bug guild from the Habitica website's Help menu. Most bugs can be handled quickly there. If a GitHub issue is needed, you will be advised of that by a moderator or staff member -- a player with a dark blue or purple name. It is recommended that you don't create a new issue unless advised to.)

[//]: # (Bugs in the mobile apps can also

[2020-12-14 00:32] VipulKhandelwal1999 commented on #12861
@paglias I am really sorry, I just forgot to put "!" symbol in if statement in my previous PR which was issue #12840
, I will fix it and will send you PR ASAP

[2020-12-14 01:12] #12861 closed, assigned to nobody

[2020-12-14 13:18] shanaqui commented on #11516
I'm not sure if this is added anywhere in this thread, but once this is triggered everything freezes. Nothing is clickable, hoverable elements don't go away... I have to refresh to unfreeze everything. The screenshot is from delta, but it happens in production as well. It keeps triggering for me when I type Ceran's name...

![image](https://user-images.githubusercontent.com/8144640/102085499-a42fe

[2020-12-14 14:30] Nakonana commented on #11516
@shanaqui just out of curiosity: was Ceran's post the most recent one/one of the most recent ones/the most recent one by a Tier 7 contributor in that guild...? And did you try other letters to reproduce?

The freezing sounds similar to what happened in my case (see your post above from Oct. 9th).

The bug in the Pirate Cove stopped happening for me after another high tier (8) contributor had poste

[2020-12-14 14:57] paglias commented on #11516
I've been able to reproduce it now, the error is in Vue's core so not super clear what the reason it but I'm giving it a look

[2020-12-14 14:59] #11885 closed, assigned to nobody

[2020-12-14 18:49] bakerty commented on #12555
Hi @shanaqui, I'm still working on this. I got really busy with final exams for a while, but I should be able to contunue working on this now.

[2020-12-14 21:27] paglias commented on #12613
I was looking at @hazwong 's PR and actually I'm not able to replicate the issue on Safari, it scrolls correctly using the keyboard arrows, @Alys is it still happening for you?

[2020-12-14 21:36] paglias commented on #11516
Tried a fix on delta but it's not working, I'd be curious to know if @Nakonana idea is actually the reason

[2020-12-14 22:00] #12764 closed, assigned to nobody

[2020-12-14 23:42] benjaminbhollon commented on #11516
Might be, but the bug also happens for me in a private guild where I'm the only contributor (Tier 3)

[2020-12-15 06:40] lsophie commented on #12286
Hello, I'd love to take on this issue if it's still available!

[2020-12-15 06:46] Alys opened #12884 "Shop on-hover popup should always disappear when moving mouse off item"
As reported by @johnjsal (624e48a3-cbea-4bbe-ae44-ca9183f49626):

**"when I go to Shops > Quests and click on a quest, the quest description pops up like normal, but when I close this pop-up, the smaller quest text window (the one that appears when you hover over a quest) remains locked on the screen. It won't disappear if you move the cursor around, but it will when you click elsewhere on the scr

[2020-12-15 10:38] Alys opened #12886 "empty Challenge Summary field is not replaced by Title in all API routes"
_First some background information:_

Challenges have a `summary` field but it's not mandatory. That's because if we'd made it mandatory when we added it to the challenge model, that would have been a breaking change for the API.
If you view a Challenge that does not have a summary in the Challenge's own page, then you see the Challenge's title in the place where the summary would go (but if you l

[2020-12-15 14:11] Saiyara6133 commented on #12442
@shanaqui Hi, is this issue still available to work on?

[2020-12-15 14:11] shanaqui opened #12938 "You can appear to block yourself, if you try the error message is not found"
You get the error message "string 'blockYourself' not found", including if you do not have the app translated. I see this on my version too.

Device: Sony F5321
Android Version: 25
AppVersion: Version 3.1 (2676)
BETA
User ID: 33bb14bd-814d-40cb-98a4-7b76a752761c
Level: 81
Class: rogue
Is in Inn: false
Uses Costume: true
Custom Day Start: 16
Timezone Offset: -60

[2020-12-15 15:33] paglias commented on #12442
@Saiyara6133 I'm marking it as in progress for you!

[2020-12-16 11:25] Alys commented on #12613
The bug no longer happens for me.

[2020-12-16 11:25] #12613 closed, assigned to nobody

[2020-12-17 13:14] 18ucs077 commented on #11767
@shanaqui @paglias Take a look at this PR. I think I have fixed this issue.

[2020-12-17 13:37] prachi15091999 commented on #11767
Our team made a pull request  to fix this issue ..All the tests should be passed when we made request.Take a look at this and accept it if it looks fine to you and if you want some changes please let us know.The pull request is made by 18ucs077

[2020-12-17 15:49] shanaqui opened #12889 "PMs appear to be from the recipient"
When you send a PM, it appears to be a PM from the recipient. E.g.:

![image](https://user-images.githubusercontent.com/8144640/102510309-64bc0500-407f-11eb-8638-2d4a4b9d5ad5.png)

But when I refresh, it shows the true situation:

![image](https://user-images.githubusercontent.com/8144640/102510368-730a2100-407f-11eb-9f61-bf1bac488858.png)

[2020-12-17 16:36] shanaqui opened #12890 "Gift One Get One text overflows the button in the notifications dropdown at some screen sizes/in some languages"
In English that's the "Send a Gift" button:

![image](https://user-images.githubusercontent.com/8144640/102515652-e9aa1d00-4085-11eb-9620-a5c826ca90a6.png)

[2020-12-17 17:04] #12889 closed, assigned to nobody

[2020-12-17 19:33] SabreCat opened #12891 "Dropdowns in members modal overflow in some languages"
### Description
[//]: # (Describe bug in detail here. Include screenshots if helpful.)

In some languages, the label text for sorting the member list in Parties and Guilds doesn't fit the dropdown element:

![image](https://user-images.githubusercontent.com/4501321/102534322-2ff28280-406c-11eb-8924-506312a699ba.png)

[2020-12-17 22:54] JohnJSal commented on #12884
I just want to add, in case it's helpful, that this issue also happens on the Tasks page when you click on a reward in the Rewards column (e.g. Subscriber Gems, a Background, etc.). Basically, it seems to occur with anything that has an on-hover pop-up.

[2020-12-18 02:51] SachJay commented on #12702
I dont mind acting as a backup if this ticket frees up after @yiqcheng98

[2020-12-18 04:16] z0glen commented on #12884
Hi there, I'd like to look into this!

[2020-12-18 07:35] Alys commented on #9745
FYI this is still happening. There's two new "Public Challenges" with a zero prize.

[2020-12-18 10:16] paglias commented on #12884
@z0glen thanks! I've marked this as in progress for you

[2020-12-18 11:48] Alys opened #12892 "Orb of Rebirth does not always reset stats immediately (client-side issue probably)"
As reported by @hyunyeol (81025674-937a-43ca-9d3d-cb61c34e76ff), the Orb of Rebirth did not immediately reset their stats, resulting in them using it twice:

"I purchased the Orb of Rebirth after reaching level 100 (after checking that it costed 0 gem).
(Fortunately before the purchase, I kept a screenshot to keep some of the # of streaks. The attachment shows that I had 61 gems & reached the leve

[2020-12-19 06:41] Alys opened #12893 "chat posts by others look like yours when avatar images don't load"
As reported by @SuperSaraA (dbf5390d-6a57-42ad-ae14-af8fd8e570ca) and other players in the past:

"... the random display bug that shows other users posts as if they were me is acting up again. Both in the Tavern chat and also the message before mine here in the Report a bug guild."

She took screenshots and I've copied some representative samples of the bug below. The top post on the first screen

[2020-12-19 06:46] Alys commented on #12893
The problem disappeared later, so I would assume that reloading would fix it every time.

[2020-12-19 07:07] citrusella commented on #12893
If it's anything like whatever made #11223 happen (same effect (no avatar load, probably the avatar node missing entirely?) but not necessarily same cause) then a reload might not *get rid* of it but lessen or change where it happens... but my own observations lately when I've seen it I've usually been having weird connection issues more often than not (but not always--a time or two everything has

[2020-12-19 11:41] Alys commented on #12892
@hyunyeol has sent us more details:

"I was using Microsoft Edge on Windows 10 at that time."

"this problem did not occur the last time (Oct 2020) I used the Orb of Rebirth on MS Edge.
I also noticed the winter potions on sale around the time I used the Orb yesterday, which later turned out to be a bug & was fixed.
So there's a chance that this bug was associated with the temporary instability wh

[2020-12-21 10:55] paglias commented on #12892
I'm pretty sure it was due to some slowness on the server at the time the rebirth happened

[2020-12-21 10:55] paglias commented on #12886
I think it's happening because the summary is not always populated, I think we can fix it easily

[2020-12-21 11:10] Alys commented on #10406
@johnjsal (624e48a3-cbea-4bbe-ae44-ca9183f49626) reported this bug, with the posts below.

I checked his pinned items and that background was in there, with the correct data. When I used the same array in my account on Firefox, that background appeared at the bottom of my pinned items, and I could move it up and down without error.

After I checked that (so when I know that it was in the array), J

[2020-12-21 14:02] paglias commented on #10406
cc'ing @negue

[2020-12-21 18:03] negue commented on #10406
I can't reproduce it, not on habitica.com itself nor locally.

At first I thought the item didn't exist, but then it wouldn't be visible at all.

Could the server be pushed / restarted at them time? @paglias

Otherwise I don't know what happened or why.

[2020-12-22 03:40] YavorK commented on #9490
Notifications disappear way too fast for me to read them on Android and in Chrome. Is there a way to keep them on screen longer or at least find them in a log page somewhere?

[2020-12-22 03:43] YavorK commented on #9490
I am not sure what doubled time means but in games notification text stays on screen for like 10 seconds or is displayed in a bubble you have to hit the X button to close it or hit Escape.

You can also read logs somewhere.

Habitica is the first product that gives me problems with checing out the immediate history of events. Makes me sad.

[2020-12-22 05:05] hazwong commented on #12678
Hi @paglias unfortunately, I don't think I can work on this issue anymore. Sorry for the inconvenience caused.

[2020-12-22 11:04] shanaqui commented on #9745
A user is currently using this to spam. @Alys may have further reports on the impact of this since she's looking for these challenges now.

[2020-12-22 11:46] shanaqui commented on #12383
No worries! Have at it. :)

[2020-12-22 11:47] shanaqui commented on #9902
@yagopessoa Just checking in how it's going now! :)

[2020-12-22 11:47] shanaqui commented on #9477
Marked as Help Wanted again since we received no reply.

[2020-12-22 11:48] shanaqui commented on #12781
Thanks for letting us know! If you do want to try again, you might be able to get support with the installation issue in the Aspiring Blacksmiths guild. I'll mark this issue as Help Wanted again, though.

[2020-12-22 16:53] Tressley commented on #12784
I agree. This issue doesn't have a clear direction either in terms of completion. Many areas of the Habitica website are broken when viewed on a mobile browser. I don't think we need this in help wanted.

[2020-12-22 17:47] veeeeeee commented on #12893
Staff suggested fix here is to set the div to have a minimum width of the avatar box (147 pixels? @paglias can confirm). Will adjust tag to help-wanted. Thanks!

[2020-12-22 17:50] paglias commented on #12893
<img width="311" alt="Schermata 2020-12-22 alle 18 49 05" src="https://user-images.githubusercontent.com/589911/102917984-6eca7300-4486-11eb-82cf-668ce574957a.png">

These are the sizes of the avatar box with padding and margin included

[2020-12-22 23:53] SachJay commented on #12891
I dont mind working on this ticket, would be a good first ticket.

[2020-12-23 10:11] paglias commented on #12891
I'd say we want to cut it off with ellipses at the end, the full text will show once the dropdown is open. Thanks @SachJay ! I'm marking it as in progress for you

[2020-12-23 11:51] tirlochanarora16 commented on #12702
Hey, can I work on this issue?

[2020-12-23 12:33] paglias commented on #10406
Yeah if it's not reproducible it's likely an issue with a concurrent server deployment

[2020-12-23 12:34] paglias commented on #12702
Sorry for the delay everyone, I'm assigning this issue to @yiqcheng98 if you still want it!

[2020-12-23 13:51] tirlochanarora16 commented on #12702
If he doesn't accept can I take it then?

[2020-12-23 13:56] shanaqui opened #12902 "Sending password reset email is failing for some users"
This should be marked as "needs investigation", because I haven't been able to reproduce it, but it's happened a few times and it should be recorded and tracked until we can rule out a problem on our side.

Here is one example. Jules_1981 requested a password reset link several times via web and nothing happened. They emailed us for help on Dec 20, 2020, 11:35 AM, so the errors would be some time

[2020-12-23 17:03] paglias commented on #12702
If @yiqcheng98 isn't interested I'll go in order of who posted before but since @SachJay already has an assigned issue that would be you :)

[2020-12-24 08:23] tirlochanarora16 commented on #12702
Okay

[2020-12-24 14:34] ieahleen commented on #10406
It keeps happening, it usually happens with items pinned automatically. It didn't happen with the gala gear tho.
Example, I'll make the thing happen during writing this message:
1. I'm a rogue, I have the Nunchaku available to buy in my rewards,
2. now I buy it and the Ninja-to appear,
3. now if I try to move the Ninja-to (because I like to have them in order by price):
![image](https://user-image

[2020-12-24 17:37] #8405 closed, assigned to nobody

[2020-12-26 02:50] Alys commented on #10406
I haven't had time to do the testing I planned for this yet, but I have started to suspect it's a similar bug to [the tasksOrder sorting bug](https://github.com/HabitRPG/habitica/issues/7645) with the problem lying in the `pinnedItemsOrder` array. E.g., if a pinned item is added to `pinnedItems` but not to `pinnedItemsOrder`, then perhaps the pinned item sorting bug occurs.

[2020-12-26 02:54] Alys commented on #10406
In fact, I can see that in @ieahleen 's data now - thank you for posting here @ieahleen !

[code]

[2020-12-26 02:57] Alys commented on #10406
Sorry, I should have included this above:
 @ieahleen if you unpin the item giving the trouble and repin it, the problem should be fixed (unless you're unlucky enough to have the same issue happen a second time, in which case try yet again). Tell us if unpinning and re-pinning TWICE doesn't fix it!

 I'm about to edit this issue's title to add "pinnedItemsOrder error" to it, and add a brief summary

[2020-12-26 04:20] thewilloftheshadow commented on #12781
Don't forget the needs reply label ;)

[2020-12-26 16:27] MadeByBalaji opened #12903 "Widget and Web not sync"
[//]: # (Before logging this issue, please post to the Report a Bug guild from the Habitica website's Help menu. Most bugs can be handled quickly there. If a GitHub issue is needed, you will be advised of that by a moderator or staff member -- a player with a dark blue or purple name. It is recommended that you don't create a new issue unless advised to.)

[//]: # (Bugs in the mobile apps can also

[2020-12-26 16:45] paglias commented on #12903
Hi @balaji303 , is the issue with the android or ios apps? If so it should be reported in their own github repositories https://github.com/HabitRPG/habitica-ios or https://github.com/HabitRPG/habitica-android

[2020-12-26 16:45] #12903 closed, assigned to nobody

[2020-12-26 22:15] negue commented on #10406
With that information I can try to reproduce or rather improve the sorting

[2020-12-27 03:23] Alys commented on #12893
I've updated the top post to contain this:

[2020-12-27 04:42] citrusella commented on #12893
Is the suggested fix applying a minimum width to the `.avatar` div? I know in the case of previous times I encountered the issue and actually looked at the page code (i.e. the issue I linked to last time I posted in here), that div was missing entirely (i.e. only the `.card` div exists inside the `.d-flex` div)--if that's the case in the more recently spotted cases of this too, would putting a min

[2020-12-27 05:34] Alys opened #12904 "Skills you can't use at your current Level should not subtract Mana"
As reported by @citrusella :

"Casting a skill you don't have access to yet (i.e. a level 13 skill like Tools of the Trade when you're only level 12) deducts mana even as it tells you you need to be level [x] to cast it."_

The Mana is returned after a full sync has happened, but the expected behaviour is that it should never be deducted.

The screenshot below was taken immediately after I clicked

[2020-12-27 05:42] Alys opened #12905 "Hourglass-purchasable Equipment should be unpinned when purchased"
As reported by @Nakonana and confirmed by me:

"When buying a pinned equipment set (Time Travellers) with an hourglass, the set is not automatically unpinned after purchase, even after refreshing the site."

The desired behaviour is that as soon as you've purchased a Mystery Item set with an Hourglass, if it was previously pinned to your Rewards column, it should immediately become unpinned.

The

[2020-12-27 06:54] Alys opened #12906 "pinned off-class Grand Gala seasonal equipment is double-pinned after changing class"
As reported by @thebat137 (dea8a9e8-c084-438a-9a14-7fe96a73fd0a), if you pin a Grand Gala gear piece for a class you're not currently playing, when you change to that class, the items appears to be pinned twice.

Steps to reproduce:

1. Go to Shops > Market and use the "Class" drop-down to choose a class that you are **not** currently playing.
1. Pin a Grand Gala equipment piece for that class (i.

[2020-12-27 07:02] Alys commented on #12906
AND we already had that recorded here: https://github.com/HabitRPG/habitica/issues/9352
Thanks to @citrusella for pointing that out. I'll close the older one.

[2020-12-27 07:02] Alys commented on #9352
I'm closing this because I accidentally duplicated it at https://github.com/HabitRPG/habitica/issues/12906 but I've put more details into the newer one.

[2020-12-27 07:02] #9352 closed, assigned to nobody

[2020-12-28 10:48] Alys commented on #10850
I'm closing this because we're no longer seeing VersionErrors in the logs. The current behaviour of this bug is reported in https://github.com/HabitRPG/habitica/issues/10406

[2020-12-28 10:48] #10850 closed, assigned to nobody

[2020-12-29 08:39] saul-marquez commented on #12904
I can try to fix this

[2020-12-29 13:51] shanaqui commented on #9902
Since it's been a week without reply, I'm changing this back to help wanted. Let us know if you'd like to pick it back up, if no one else wants to!

[2020-12-29 14:09] shanaqui commented on #11501
I've marked this as help wanted again since we didn't get a reply, but do get in touch if you'd like to pick it up again!

[2020-12-29 14:10] shanaqui commented on #8735
Hi @Zarrindast, just checking in again to make sure the issue doesn't go stale!

[2020-12-29 14:12] shanaqui commented on #12819
Hi @seunggyupark! Just checking in -- are you still working on this issue?

[2020-12-29 18:21] Zarrindast commented on #8735
I know.

On Tue, Dec 29, 2020 at 9:10 AM shanaqui <notifications@github.com> wrote:

--
Eli Zarrindast
530-650-6339
zarrindast.com -- github.com/zarrindast
*This email may contain proprietary information and is intended for its
recipient only. Please keep all communications confidential unless
otherwise discussed.*

[2020-12-29 18:35] seunggyupark commented on #12819
Not actively due to holidays, I need to set up a Mac VM to install the project as it seems the Windows install has memory problems. If someone else wishes to pick it up that is fine by me, but if it's still not done I will get around to it after New Years.

[2020-12-30 01:43] Zarrindast commented on #8735
Yep.

[2020-12-30 11:16] paglias commented on #12904
thanks @saul-marquez ! I've marked it as in progress for you

[2020-12-30 11:49] Alys opened #12914 "/api/v3/cron POST route sets auth.timestamps.loggedin even when cron doesn't run"
~~This is suggestion-discussion for us to consider the code implications and whether we want to fix this.~~

If you have already cronned since your CDS time today and you run the `/api/v3/cron` POST route (e.g., with the command below), then the value for `auth.timestamps.loggedin` is updated (as is `lastCron` but that's no as much of an issue). The cron route doesn't make any other changes (which

[2020-12-30 17:10] paglias commented on #12914
The value for `loggedin` is updated because the user is updated to set the `lastCron` value used to avoid multiple crons at the same time. I don't think that it's a real issue to be honest and I also don't think we say anywhere that `loggedin` has the time of the last cron (which is saved in `user.lastCron`) but let's leave it open to see if anyone has a different opinion

[2020-12-31 19:26] samamill commented on #12905
@Alys can I work on this?

[2020-12-31 19:36] samamill commented on #11130
I am looking at the authWithHeaders function in auth.js.  Like you mentioned, it looks like filtering fields based on a provided 'option' is already implemented.  I am assuming this ticket is to update the apis to start providing this parameter.

I am new to this code.  Do you have an idea which APIs use which fields?  Can you provide an example of one of the APIs and which fields it uses so I can

[2020-12-31 19:57] JohnJSal commented on #12702
I've been playing around with when this bug occurs based on @Alys's comment above, and I think I've figured out exactly how to reproduce it. Maybe this will be helpful to whoever works on it.

I went to every subsection of the Habitica website (Tasks, Items, Equipment, Market, Quests, Party, etc.) all the way across the bar, except for the Help tab, because those subsections lead to different webs

[2021-01-01 07:46] samamill commented on #12905
https://github.com/HabitRPG/habitica/pull/12915

[2021-01-01 08:02] Alys commented on #12905
@samamill Thanks! I've marked this as in progress for you.

[2021-01-01 11:34] Alys commented on #12914
`lastCron` is used to prevent multiple crons, but `loggedin` isn't used for that. It's just used on for display purposes in the website. I've copied below all the locations it's referenced.

It used to be set only at the end of cron and we still have comments in the code stating that it's the time of the most recent cron.

From what I can see, the code could be safely adjusted so that `loggedin` i

[2021-01-01 15:54] shanaqui opened #12916 "The "Forum" link should be removed from the Tavern "Helpful Links""
The forum page (http://habitica.fandom.com/wiki/Special:Forum) no longer exists, and should be removed from the list of "Helpful Links":

![image](https://user-images.githubusercontent.com/8144640/103441961-aafd9080-4c49-11eb-8ab0-88c347357c44.png)

[2021-01-01 19:46] SabreCat opened #12918 "Inconsistent case sensitivity in chat username mentions"
![image](https://user-images.githubusercontent.com/1495809/104087785-ee8d7580-52ad-11eb-89c2-48e312475133.png)

[2021-01-02 03:18] MadeByBalaji opened #12919 "I want My Profile Pic"
### Questions
I want my Habitica Profile Picture to be exported so I can use them.
I tried to open the image in a new tab but it doesn't work.
Please suggest a way other than ScreenShot

[2021-01-02 03:46] thewilloftheshadow commented on #12919
There used to be a way to do this, but it is currently broken and disabled (see #9489)

Also, in the future, there is a guild in Habitica for questions which you can find at [this link](https://habitica.com/groups/guild/5481ccf3-5d2d-48a9-a871-70a7380cee5a), and another for bugs that you can find at [this link](https://habitica.com/groups/guild/a29da26b-37de-4a71-b0c6-48e72a900dac)