[2013-01-22 17:13] wc8 commented on #172
https://github.com/lefnire/habitrpg/issues/59 suggests awards (titles/notifications) for consecutive completion/failure. Daily failure already causes a penalty. Methinks it makes sense for repeated performance of negative habits to result in a penalty.

[2013-01-22 17:43] p1agu3 commented on #118
After a ctrl+F5 refresh today, I attempted to add a few dailies and some todos back in.  They stuck, at least for a bit.

I just left my desk for about five minutes to drop off some computer parts with a coworker and after hitting F5 to refresh the page again, things reverted to how they looked at approximately 12:00 AM this morning - all entries I made were gone, one of them was "back from the de

[2013-01-22 17:47] wjordan213 opened #173 "study checklist"
I am a college student and it would be very cool if there was a way to track things involving my studying such as a set of academic goals I can check off the same way I would check off the todos. Also, maybe a custom list feature would be very helpful as well where if I wanted a list to check off involving fitness, work, academic goals etc. that i wanted to be separate from the other lists, i coul

[2013-01-22 17:49] Andrew565 commented on #162
Here's a possible option for displaying these nicely: [TimelineJS](http://timeline.verite.co/).

[2013-01-22 18:27] mfcovington commented on #30
So, I've been using habitrpg for a few days now and it seems to reset the day twice a day for me. I'm on the West coast and the dailies get reset ~ 10PM local time and then they get reset again when I login in the morning. Is this possible or do you think it is just an issue with the server? As a result, I've had to add a habit that I just click a bunch to get me to the next level so I'm not dead.

[2013-01-22 18:54] wjordan213 opened #174 "urgency and importance"
_Edited by wc8: See [Importance, Priority, Duration/Difficulty, Deadlines](https://trello.com/c/4C8w1z5h)_
there should be a way of classifying what is urgent and what is important in this game. perhaps the option of assigning deadlines or decreasing the amount of experienced gained as something gets closer to its deadline would serve as a good motivator. If past a certain deadline, health would b

[2013-01-22 18:58] lefnire commented on #30
We should be good on this now, cron has been offloaded to the client. It'll take a full cron cycle to kick in for people - you have logged in one day, and the next day the cron issue should be fixed from then on out. If anyone experiences this timezone issue occurring more than once from here on out, hit me up. (@mfcovington - I think you should calibrated now)

[2013-01-22 19:01] wc8 commented on #173
I think tags and categories are on the roadmap.
By separate, are you thinking of a filtered view of a category (study/fitness/work) or an extra column or something that would be completely separate?
The complex todo feature #49 might be another way of separating these out.

[2013-01-22 19:04] lefnire commented on #135
let's follow up on #30

[2013-01-22 19:04] #135 closed, assigned to nobody

[2013-01-22 19:04] lefnire commented on #112
this should be fixed now, re-open otherwise

[2013-01-22 19:04] #112 closed, assigned to nobody

[2013-01-22 19:04] lefnire commented on #112
(it was a change in a library's api, took some debugging)

[2013-01-22 19:06] lefnire commented on #173
yep, tags is the solution : #48

[2013-01-22 19:06] #173 closed, assigned to nobody

[2013-01-22 19:09] lefnire commented on #118
Hear ye hear ye - everyone, starting today (about an hour ago) I'm _hoping_ this should no longer be a problem. Let's play with this for a day, and I'm crossing my fingers I solved it!

[2013-01-22 19:11] lefnire commented on #73
@Jesper1337 - can you refresh and check now?

[2013-01-22 19:24] lefnire commented on #166
this should be fixed not only on cron now

[2013-01-22 19:24] #166 closed, assigned to nobody

[2013-01-22 19:29] lefnire commented on #169
Would you look at this...wooooeeeee!

[2013-01-22 19:31] mfcovington commented on #30
@lefnire Sounds great. I'll keep you posted.

[2013-01-22 19:49] wc8 commented on #73
Nope, it's still there with some variations. I haven't figured out exact steps to replicate any of the variations yet.
Sometimes adding Task X after eat cake had been successfully completed created a duplicate eat cake.
Deleting also sometimes creates a blank task.

EDIT: In other words, the task names don't have to match to cause the issue.

[2013-01-22 19:56] wc8 commented on #174
I thought I'd seen due date for todos mentioned elsewhere besides #45 but I'm not seeing it now.
Priority has been discussed elsewhere, see #53 for algorithm factors.
I lean towards a simple (important or not important) as a modifier working with the current algorithm might be possible way of marking priority/importance.
I lean towards deadlines/due dates addressing urgency. If urgent, has a date

[2013-01-22 20:23] wc8 opened #175 "[Suggestion] Day total for each habit, reward"
For each habit, reward (or any future item types that could be clicked multiple times) show a total # of clicks for the day, perhaps where the current edit, delete and progress bar buttons are.

This would help with [accuracy](https://github.com/lefnire/habitrpg/issues/6#issuecomment-11802731) and also serve for encouragement (4 sessions of study/work done) or a deterrent (been having a lot of cak

[2013-01-22 20:32] weperience commented on #81
I tested it right now on an iPhone 4, iPhone 4S and iPad 3rd gen.
1. Dailies and Todos work just fine.
2. Habits and Rewards don't work
3. Alerts like Exp-Gain aren't displayed

The spinner ist still active because of the constant connection from the site to the server, which it indicates. That's nothing to worry about.

[2013-01-22 20:40] kwelch commented on #169
What about a feature that gives rank to a task or habit. So the more you complete that action and the more it become a habit you have it also level increase. Similarly to skills in an rpg.

[2013-01-22 21:13] wjordan213 commented on #169
Maybe as an addition to the stats feature:
Frequently doing something like exercise would increase strength, but if a long time is spent not exercising, the strength stats would decrease. The same thing could apply to dexterity and practicing some fine skill as part of a todo list or habit or daily todo. That fine skill would have to be something like guitar or woodworking. Of course this task wou

[2013-01-22 21:18] wc8 commented on #132
Possible Temporary Workaround: Take a screenshot and print it.
Depending on how small you can handle the font size vs. how many tasks you have, you could zoom out to make sure the image shows all tasks.

[2013-01-22 21:21] wc8 commented on #118
There's been an improvement, at least. I'll leave my browser open for awhile and see what happens. (Tasks copied to txt file, just in case.)
UPDATE: Seems fine on my end, with the one qualifier that if the "Offline—Reconnect" message is in place changes made before reconnect do not save, but no data loss otherwise. I suppose that is understandable. The chief awkwardness there is that message is no

[2013-01-22 21:21] ibvee opened #176 "registration failed"
Registered on the website. Started to make my own screen. After a while the connection was lost. Tried to log out and log in again. Was greeted with a "username not known" and an "invalid login" message.

Tried this twice. Same thing.

[2013-01-22 21:29] wc8 commented on #169
If new feature requests are given a [separate post](https://github.com/lefnire/habitrpg/issues/new) it will allow for more discussion and consideration of each one. If I understand it right, this is to be more of an index.
As hookang said,

[2013-01-22 21:32] shmumbz commented on #69
Not completing a random good habit or daily activity shouldn't dock you too much. It should act like a regular daily activity but grant you bonus experience and gold to entice a person to actually do it. Some will be more worthwhile than others, some may be a daily or a weekly habit.

Halo Reach and Halo 4 daily and weekly challenges would be a good model for this.

[2013-01-22 21:34] lefnire commented on #80
for one reason or another, `query.withId(id)` doesn't work with racer-db-mongo (works fine with memory store), while `query.where('id').equals(id)` works fine. Probably a racer-db-mongo bug, meh - good enough

[2013-01-22 21:34] #80 closed, assigned to nobody

[2013-01-22 21:37] lefnire commented on #155
this is pretty important, i'm bumping it up.

[2013-01-22 21:42] jurries21 commented on #167
I should clarify that I had only missed two of my dailies, so I the 2 HP drop makes sense, but it dropping down from 50 to 20 doesn't.

[2013-01-22 22:01] benmanley commented on #169
@hookang – I think it's a noble idea to better organise the feature list. However, I think it would be better achieved within the existing structure of the issues list.

So long as issues are labelled "feature" they can be easily filtered as such. Similarly, adding custom labels for feature sub-categories (like the ones you suggest) would allow further filtering.

Also, closing an issue takes it o

[2013-01-22 22:02] lefnire commented on #169
Actually, why don't we move everything to a [Trello board](https://trello.com/board/habitrpg/50e5d3684fe3a7266b0036d6) - it allows user votes! Anyone wanna tackle that big task?

[2013-01-22 22:05] lefnire commented on #169
@benmanley yeah - I think Hoo's attempt at organization is the best we could get with our current setup, simply because Github issue queue isn't suited for the discussions that have befallen habit. The reason is most tickets are feature requests, rather than bugs, and people are submitting duplicates, and there's no way of triaging importance. I think the Trello board, what with voting, will make

[2013-01-22 22:09] jacobwolfe opened #177 "[Suggestion] Advanced Scheduling for Todos"
I just started classes today and I realized that a lot of my courses have an assignment schedule with due dates. I would be convenient if I could schedule Todos to appear at a specified time away from it's deadline (perhaps a Google Calender event sync?). It would be a lot more motivating if you saw that your hero is loosing a lot of hp because you are close to the deadline on that paper you haven

[2013-01-22 22:21] SteveSmith3 opened #178 "Unable to connect"
When Iog in the page it says game over. I hit ok and then says "unable to reconnect - reload" If I reload it says game over again and then asks me to reload. It does this forever.

[2013-01-22 22:42] wc8 commented on #169
Makes you wish github had features for handling feature requests. Being able to look for and contribute to information about the app development in one place was nice. That said, I can see how it would detract from the more critical problem solving.

[2013-01-22 22:45] lefnire commented on #169
@wc8 I was hoping you'd chime ;-) hoo is asleep other side of the world
right now. Cool, all you my friend. Hit me up if you need anything (you
have access right?) thanks to a milion
On Jan 22, 2013 5:29 PM, "wc8" notifications@github.com wrote:

[2013-01-22 22:56] wc8 commented on #169
Access–I don't have a trello account yet. :-) I'm going to get in a couple of my dailies and then read up and see if I can jump in. Maybe hoo and I could work together.

[2013-01-22 23:07] hookang commented on #169
Once, again thank you for your interest in this project and sharing your thoughts.

Naturally, there is going to be a pro and con for everything.

It would be nice for Github to have that a feature for feature requests.
Better tagging would also be nice.

In terms of leaving discussions open.
For now I believe it would be better to close them as there are too many features requests and overlaps an

[2013-01-22 23:35] wc8 commented on #169
So, then, where do we direct people for tips and tricks (like how to make a HabitRPG a Mac "app" with Fluid)? [later]

[2013-01-22 23:46] SEGEEK commented on #122
Sounds good, I will see what I can come up with.  I won't have time to do anything tonight but I should be able to get back at it tomorrow.

[2013-01-22 23:52] benmanley commented on #169
@hookang – Understood. Sounds like moving to Trello will make things easier all round. Hats off to you and @wc8 for stepping up to the task of migrating the feature requests!

[2013-01-23 00:00] hookang commented on #169
Now everyone needs to make Trello accounts if they want to vote or interact :P.

[2013-01-23 00:26] wc8 commented on #169
If I understand right, also need to be invited. wc8t is my new trello user name.

[2013-01-23 00:31] Nelmalih0 opened #180 "Mobile Notifications"
For the Mobile version, you could add an option to add a timed notification for certain Habits, Dailies, and Todos. And for todos maybe a deadline or something and you would get warned 10 days, 5 days, 3 days, 2 days, 1 day, and hours before the deadline. This would help me a lot because a lot of my things on HabitRPG are meant to be done at a certain time.

[2013-01-23 00:36] hookang commented on #169
Invited.

[2013-01-23 00:37] superlikelikes opened #181 "[Sugestions & Questions] Icons & Avatars"
Icons. Shop Owners. Uploading. Sharing.

Icons for habits, rewards, option to publish.

Other users can browse anything someone chooses to publish.
There is an option to add a public entry to your own routine.

Pick a Habit!!!
Coins awarded to the publisher for every time it gets added to someone elses habits.

Searchable.

Icons fit in any 100 x 100 frame.
[currently 36 x 60]
Publishable.

Includ

[2013-01-23 00:50] blueskymonster commented on #114
Something interesting:
"&" yields "&amp;"
"& " (note the space) yields "& "
" &" (note the space) yields " &amp;"

It turns out that as long as "&" is followed by a space, it renders correctly for some reason. Perhaps there is a constant or string in the code somewhere that mistakenly has a space in it?

[2013-01-23 01:02] blueskymonster commented on #84
If you want to give users a few minutes of heads up before you deploy a new version, there's this little service: http://informuser.com/

[2013-01-23 01:03] hookang commented on #78
Added to Master Feature List #169. Closed for Organization.

[2013-01-23 01:03] #78 closed, assigned to nobody

[2013-01-23 01:04] Nelmalih0 opened #182 "Zombies, Run! Integration"
_Edited by wc8: Vote for this feature here: [Zombies, Run!](https://trello.com/c/veANdaTT)_
I noticed that you are planning to integrate some apps to work with HabitRPG but you didn't list Zombies, Run! (Probably because you haven't heard of it). Well let me just give you a brief explanation on what it is:

Zombies, Run! is an iPhone and iPod Touch fitness/game that basically encourages you to go

[2013-01-23 01:06] hookang commented on #70
Added to Master Feature List #169. Closed for Organization.

[2013-01-23 01:06] #70 closed, assigned to nobody

[2013-01-23 01:06] hookang commented on #68
Added to Master Feature List #169. Closed for Organization.

[2013-01-23 01:06] #68 closed, assigned to nobody

[2013-01-23 01:08] hookang commented on #124
Added to Master Feature List #169. Closed for Organization.

[2013-01-23 01:08] #124 closed, assigned to nobody

[2013-01-23 01:08] hookang commented on #125
Added to Master Feature List #169. Closed for Organization.

[2013-01-23 01:08] #125 closed, assigned to nobody

[2013-01-23 01:08] hookang commented on #126
Good Idea. Added to Master Feature List #169. Closed for Organization.

[2013-01-23 01:08] #126 closed, assigned to nobody

[2013-01-23 01:09] hookang commented on #66
Added to Master Feature List #169. Closed for Organization.

[2013-01-23 01:09] #66 closed, assigned to nobody

[2013-01-23 01:09] hookang commented on #61
Added to Master Feature List #169. Closed for Organization.

[2013-01-23 01:09] #61 closed, assigned to nobody

[2013-01-23 01:09] hookang commented on #62
Added to Master Feature List #169. Closed for Organization.

[2013-01-23 01:10] hookang commented on #82
Added to Master Feature List #169. Closed for Organization.

[2013-01-23 01:10] #82 closed, assigned to nobody

[2013-01-23 01:10] hookang commented on #96
Email Account Syncing - Added to Master Feature List #169. Closed for Organization.

[2013-01-23 01:10] #96 closed, assigned to nobody

[2013-01-23 01:12] hookang commented on #58
Added to Master Feature List #169. Closed for Organization.

[2013-01-23 01:12] #58 closed, assigned to nobody

[2013-01-23 01:12] Nelmalih0 commented on #19
+1

[2013-01-23 01:13] hookang commented on #6
Added to Master Feature List #169. Closed for Organization.

[2013-01-23 01:13] #6 closed, assigned to lefnire

[2013-01-23 01:13] hookang commented on #19
Added to Master Feature List #169. Closed for Organization.

[2013-01-23 01:13] #19 closed, assigned to nobody

[2013-01-23 01:14] hookang commented on #26
Added to Master Feature List #169. Closed for Organization.

[2013-01-23 01:14] #26 closed, assigned to nobody

[2013-01-23 01:14] hookang commented on #27
Added to Master Feature List #169. Closed for Organization.

[2013-01-23 01:14] #27 closed, assigned to nobody

[2013-01-23 01:15] hookang commented on #29
Added to Master Feature List #169. Closed for Organization.

[2013-01-23 01:15] #29 closed, assigned to nobody

[2013-01-23 01:16] hookang commented on #35
Added to Master Feature List #169. Closed for Organization.

[2013-01-23 01:16] #35 closed, assigned to nobody

[2013-01-23 01:16] hookang commented on #41
Added to Master Feature List #169. Closed for Organization.

[2013-01-23 01:16] #41 closed, assigned to nobody

[2013-01-23 01:17] hookang commented on #44
Added to Master Feature List #169. Closed for Organization.

[2013-01-23 01:17] #44 closed, assigned to nobody

[2013-01-23 01:17] hookang commented on #45
Added to Master Feature List #169. Closed for Organization.

[2013-01-23 01:17] #45 closed, assigned to nobody

[2013-01-23 01:18] hookang commented on #48
Added to Master Feature List #169. Closed for Organization.

[2013-01-23 01:18] #48 closed, assigned to nobody

[2013-01-23 01:18] hookang commented on #52
Added to Master Feature List #169. Closed for Organization.

[2013-01-23 01:18] #52 closed, assigned to nobody

[2013-01-23 01:19] hookang commented on #53
Added to Master Feature List #169. Closed for Organization.

[2013-01-23 01:19] hookang commented on #59
Love this idea. Added to Master Feature List #169. Closed for Organization.

[2013-01-23 01:19] #59 closed, assigned to nobody

[2013-01-23 01:20] hookang commented on #172
Added to Master Feature List #169. Closed for Organization.

[2013-01-23 01:20] #172 closed, assigned to nobody

[2013-01-23 01:21] hookang commented on #63
Added to Master Feature List #169. Closed for Organization.

[2013-01-23 01:21] #63 closed, assigned to nobody

[2013-01-23 01:21] hookang commented on #67
Added to Master Feature List #169. Closed for Organization.

[2013-01-23 01:21] #67 closed, assigned to nobody

[2013-01-23 01:22] hookang commented on #69
Added to Master Feature List #169. Closed for Organization.

[2013-01-23 01:22] #69 closed, assigned to nobody

[2013-01-23 01:23] hookang commented on #71
@neohuman Not understanding this quite... would like to add to Master List of Features

[2013-01-23 01:23] hookang commented on #72
Added to Master Feature List #169. Closed for Organization.

[2013-01-23 01:23] #72 closed, assigned to nobody

[2013-01-23 01:24] hookang commented on #95
Added to Master Feature List #169. Closed for Organization. Still not sure how to use it? Gambling maybe?

[2013-01-23 01:24] #95 closed, assigned to nobody

[2013-01-23 01:25] hookang commented on #182
Cool Idea... Added to Master Feature List #169. Closed for Organization.

[2013-01-23 01:25] #182 closed, assigned to nobody

[2013-01-23 01:27] hookang commented on #181
Love the ideas. Like what Steam and Valve are doing.

Added to Master Feature List #169. Closed for Organization.

[2013-01-23 01:27] #181 closed, assigned to nobody

[2013-01-23 01:28] hookang commented on #180
Added to Master Feature List #169. Closed for Organization.

[2013-01-23 01:28] #180 closed, assigned to nobody

[2013-01-23 01:28] Nelmalih0 commented on #39
What if, instead of calling it goals, you called it Quests, to keep the RPG theme going

[2013-01-23 01:28] hookang commented on #177
Added to Master Feature List #169. Closed for Organization.

[2013-01-23 01:28] #177 closed, assigned to nobody

[2013-01-23 01:28] wc8 commented on #169
@hookang since you're collecting them here from the github issues, I'll start adding them to trello.
@lefnire & @hookang If my mode of entry isn't quite it, let me know.

[2013-01-23 01:29] hookang commented on #175
You can kind of see this with the graph, but sure it could use some improvements.

Added to Master Feature List #169. Closed for Organization.

[2013-01-23 01:29] #175 closed, assigned to nobody

[2013-01-23 01:30] hookang commented on #171
I completely agree. I use 3-5 devices (work, personal, ipad) and this happens to me more than I like... This is more of a stability issue I think than a feature.

[2013-01-23 01:31] hookang commented on #174
I would say priorities for tasks is probably a good start.

Added to Master Feature List #169. Closed for Organization.

[2013-01-23 01:31] #174 closed, assigned to nobody

[2013-01-23 01:32] hookang commented on #136
Added to Master Feature List #169. Closed for Organization.

[2013-01-23 01:32] #136 closed, assigned to nobody

[2013-01-23 01:33] hookang commented on #129
Added to Master Feature List #169. Closed for Organization.

[2013-01-23 01:33] #129 closed, assigned to nobody

[2013-01-23 01:34] hookang commented on #137
Unique Weapons with unique modifiers. Added to Master Feature List #169. Closed for Organization.

[2013-01-23 01:34] #137 closed, assigned to nobody

[2013-01-23 01:35] hookang commented on #116
Added to Master Feature List #169. Closed for Organization.

[2013-01-23 01:35] #116 closed, assigned to nobody

[2013-01-23 01:36] hookang commented on #131
Added to Master Feature List #169. Closed for Organization.

[2013-01-23 01:36] #131 closed, assigned to nobody

[2013-01-23 01:37] hookang commented on #107
I'm going to leave this open because its a beast on its own.

[2013-01-23 01:38] hookang commented on #178
It might be a stability thing @stevesmith3 try again. If you're still having this problem let us know. Here.

[2013-01-23 01:39] hookang commented on #163
Probably a stability issue.

[2013-01-23 01:40] hookang commented on #169
Roger that and Thanks!

On Wed, Jan 23, 2013 at 10:28 AM, wc8 notifications@github.com wrote:

[2013-01-23 01:42] hookang commented on #127
Cool idea. If you're on a positive site you gain HP or EXP Added to Master Feature List #169. Closed for Organization.

[2013-01-23 01:42] #127 closed, assigned to nobody

[2013-01-23 01:44] horusofoz commented on #39
Quests sounds good though it's possible me made need some sort of prefix as I think there will probably be a few things termed quests when the RPG theme starts to get fleshed out. Post bug hunt.

[2013-01-23 01:45] hookang commented on #128
Agreed. I was thinking each task/habit/dailies can be a monster you summon against yourself and you attack. Bosses are tasks you haven't done etc...

Added to Master Feature List #169. Closed for Organization.

[2013-01-23 01:45] #128 closed, assigned to nobody

[2013-01-23 01:48] hookang commented on #123
I didn't have any issues. @BXQ Are you still having issues installing the chrome extension?

[2013-01-23 01:52] lefnire commented on #123
Someone mentioned needing to be in development mode, is that the issue?
Also, the chrome extension has its own github repo and issue queue, the
only reason I mention that is there's a developer there providing a lot of
help that will benefit from this info
On Jan 22, 2013 8:48 PM, "hookang" notifications@github.com wrote:

[2013-01-23 01:52] hookang commented on #140
Added a bunch... Added to Master Feature List #169. Closed for Organization.

[2013-01-23 01:52] #140 closed, assigned to nobody

[2013-01-23 01:53] hookang commented on #171
Added to Master Feature List #169. Closed for Organization.

[2013-01-23 01:53] #171 closed, assigned to nobody

[2013-01-23 01:54] hookang commented on #132
Interesting idea - Added to Master Feature List #169. Closed for Organization.

[2013-01-23 01:54] #132 closed, assigned to nobody

[2013-01-23 01:56] hookang commented on #93
This is a bug stability issue.

[2013-01-23 02:00] hookang commented on #123
Weird. I'm not in developer mode... or at least I'm not aware of that I am in developer mode.

[2013-01-23 02:04] hookang commented on #110
Locations, Themes, Got it. Added to Master Feature List #169. Closed for Organization.

[2013-01-23 02:04] #110 closed, assigned to nobody

[2013-01-23 02:19] hookang commented on #162
Love the timeline. Hope it gets implemented

[2013-01-23 02:23] lefnire commented on #169
looks like trello only allows anon to comment/vote, and new cards require membership (anyone can invite, but alas - seems to require invitation). Maybe we should make that the "defacto issue / feature" request board - sort of to replace this particular ticket. While everyone can still send requests to this issue queue, we'll keep the master list there? What do you think @hookang

[2013-01-23 02:24] hookang commented on #107
I went over the weekend and beat Browser Quest - where all of the current creative assets for HabitRPG are coming from. There's a ton of assets we still can use that we have yet to use.

http://browserquest.mozilla.org/

We just need to implement them eventually.

[2013-01-23 02:28] hookang commented on #169
@lefnire. Exactly... everyone still shares their thoughts/request features here. We add them to Trello. People can vote on Trello. That's probably the best process for now. Since we're going to be using an honor based system anyway. After all RPGs are honorable.

[2013-01-23 02:35] ysiraichi commented on #170
I didn't understand you question. However, the fact is that once you die, you can't restart at level 1. You will be level 2 no matter what! xD

[2013-01-23 02:52] Nelmalih0 commented on #98
I say +1 on adding tags to rewards so you can have different categories of rewards, it would be easier to handle if you have a lot of rewards

[2013-01-23 03:06] Yughurt commented on #148
Issue happened again. (nearly just died)

[2013-01-23 03:39] ghost commented on #71
The RPG as a whole changes after a certain level

[2013-01-23 03:41] ghost commented on #95
Yes it is the system gambling against you but this would require machine learning which I am not sure is possible in with Javascript

[2013-01-23 03:50] handcuff commented on #178
I have a problem with that too. I keep on dying and i have to reconnect every time.

[2013-01-23 03:52] racuna opened #183 "Yesterday Daily tasks"
_Edited by wc8: Vote for this feature here: [Record Yesterday's Accomplishments](https://trello.com/c/CaAm7APS)_
Please add a feature to check yesterday's dailies. Today I came home after midnight and i lost the chance to check some task i did yesterday, and i lost HP for that.

[2013-01-23 04:52] ghost opened #184 "Reactive Feature"
This is just one reactive feature i would like to see in habitrpg
-   Reactive Habits
  -   The app should react to you. If you do a certain todo regularly then it should be automatically moved into dailies. In a likewise fashion should your habit be going red the app should automatically put that at the top of the list and add a little message to your todos "do xxx habit today".

[2013-01-23 05:05] cbleisch commented on #145
I just checked and the items in my ToDo list still hurt my health.

[2013-01-23 05:42] Nelmalih0 opened #185 "Do you have a blog?"
I know this isn't directly related to the game, but do you have a blog so people can subscribe to it using RSS reader, so we don't have to constantly check Github for updates.

If you don't, then i think it would be a good idea to help users receive news about HabitRPG (and maybe anything else you might work) easily. It could be a Google blog, or connected to the HabitRPG website, it doesn't have

[2013-01-23 05:51] hookang commented on #185
I've been asking @lefnire to set this up. I'll talk to him again to see what we can do about it. He's been busy trying to get the app stable - so no worries.

[2013-01-23 05:56] Nelmalih0 commented on #185
Thank you, i would really appreciate it, you have no idea how much easier it would be for me (and i assume many other people) if he had a blog. :)

[2013-01-23 06:32] hookang commented on #25
Game Changer!

Saw a comment by Alicia Gibb on Kickstarter - She wants a cookie delivered automatically as a real reward.

If we take credit card numbers and then order stuff off of amazon and deliver it to our users.

The affiliate commissions alone will turn this into a very viable business model.

Of course we would want to automate this.

[2013-01-23 07:46] hookang commented on #169
Features are now going to be transferred from this list to https://trello.com/board/habitrpg/50e5d3684fe3a7266b0036d6

If you would like to actively participate on the conversation on the Trello list you'll need to be added.

I'll create a new Issue Thread for that.

[2013-01-23 08:17] StanLindsey commented on #169
My Trello is Slappybag if you could add me.

[2013-01-23 08:53] StanLindsey commented on #169
Or alternatively have a sub-reddit entitled HabitRPG-suggestions or similar because A. Reddit is Public, B. It allows upvoting, C. It allows discussion and D we already have one reddit so it makes sense to minimize the number of websites needed for development.

[2013-01-23 08:59] StanLindsey commented on #185
This is a good idea, as I stated in another thread lefnire being so open about development is fantastic but as you say its currently only on github which isn't really immediately accessible or user-friendly for most users.

As @hookang says though the priority is getting it all stable at the moment. =D

That said, there is a reddit at http://www.reddit.com/r/habitrpg/ which lefnire set up so that

[2013-01-23 09:11] StanLindsey commented on #183
+1

Eventually I imagine a week and/or calender type view would be possible so you could view what you've completed in the past, maybe check them off within the last 24hrs or so and the possibility plan for one off events in the future.

[2013-01-23 10:25] hookang commented on #169
Yeah Subreddit is @ http://www.reddit.com/r/habitrpg - also need a reddit account to interact.

Too many sites.

Hard to maintain and organize them all.

[2013-01-23 11:09] StanLindsey commented on #169
What I meant was that a reddit isn't invite only unlike Trello, plus the public are more likely to find it on Reddit + we already have a Reddit so its not adding to the "too many sites" count =D

Plus closing all the other threads for "organisation" i think will stop those threads getting relevant data and replies in. People will either make duplicates say if its still an issue or post here and ge

[2013-01-23 11:54] coolandsmartrr opened #186 "Just made a Chrome Shortcut!"
Not a big deal, but if you want a convenient shortcut, here's something you can use!

![screencap](https://raw.github.com/coolandsmartrr/habitRPGChrome/master/screencap.png)
Download: https://github.com/coolandsmartrr/habitRPGChrome

[2013-01-23 13:26] Zequez commented on #178
Well, I don't die, but I still can't connect. Tried from home and work computer, so I don't think it's my end.

[2013-01-23 14:08] racuna opened #187 "Every time I reload i lose HP"
I try to check some tasks but the "offline - reload" appears. When I reload the tasks are unchecked and I lose HP.

Very weird, Im gona die without make any wrong!!

[2013-01-23 14:12] GrandBastard opened #188 "Not leveling up any more"
My avatar got stuck at Level 2 close to level 3.
Thing is I have gone over to level 3 a couple of times and it goes back to level 2 with 5 points away form level 3.
I don't know if related but it says "Unable to reconnect - reload" at the top.

Thanks

[2013-01-23 14:44] castor-troy commented on #178
I like the site very much, but this is very frustrating. I am so much addicted that I am checking it every hour to see if it works.

[2013-01-23 14:51] wc8 commented on #152
I too am possibly experiencing this or #145. All due tasks were completed. 6 of 60 HP loss.

[2013-01-23 15:03] lefnire commented on #165
#80 is so last week, #165 is the new crippling crit. This what's causing the server to go down from time to time. The RAM fills up very slowly, you can just watch it in `htop` increasing bit by bit. Once it hits about 4GB, #80 kicks in and crashes the server. It's `racer-db-mongo` promises not being fulfilled, I don't know if that's due to Mongo overload causing stray promise events, or the server

[2013-01-23 15:03] lefnire commented on #161
#165 (memory leak) is the new main critical issue crashing the server, now that #80 is fixed

[2013-01-23 15:11] geebru commented on #184
I feel like you're missing the purpose of those two sections of Habit.
Habits are things you do (or want to do) everyday, but aren't large tasks. For example my habits are drinking a glass of water (for XP!) and biting my nails (ouch, HP drain).
Dailies are (for me) eating breakfast and going to bed before 12:30. They ARE technically habits, but I will only do those once per day, and if I don't, I

[2013-01-23 15:11] Zequez opened #189 "[Feature] Ability to choose difficulty for a task from 1-5. Different difficulty should give different rewards"
Tasks are not equally difficult. There is an great difference between "study for 1 hour" than "wash your teeth after lunch". And so should be the rewards each task give.

We could calculate the reward of tasks using 2 variables: time estimated the task is going to take, and actual difficulty of the task.

Also, with the party system we could moderate our tasks by averaging. So let's say I set one

[2013-01-23 15:11] Paragonid commented on #178
I have this "Unable to reconnect – Reload" issue now. So can't save any changes.
Browser Troubleshooting Info http://pastebin.com/bfwKiGUj

[2013-01-23 15:24] lefnire commented on #178
I'm looking into it this. Very strange, loads for me, server resources at a minimum (obviously not doubting with so many chiming in, just thinking out loud).

[2013-01-23 15:28] Zequez commented on #178
Maybe it's unrelated, but in the console you can see "fatalErr Unauthorized", and it points to some part of the Socket.io code. It's all packed so I can't backtrace very well.

Edit:

One GET request to: `https://habitrpg.com/socket.io/1/xhr-polling/AAAAAAAA?clientId=XXXXXXXX&t=1358954784006` returns `5:::{"name":"fatalErr","args":["Unauthorized"]}`. The status code is 200 OK.

Then there are 2 su

[2013-01-23 15:31] Paragonid commented on #178
here is console output http://pastebin.com/zNLafHER

[2013-01-23 15:33] lefnire commented on #178
Awesome! That will help, can you try deleting your cookies and re-logging
in?

On Wed, Jan 23, 2013 at 10:31 AM, Paragonid notifications@github.comwrote:

[2013-01-23 15:34] lefnire commented on #178
You can use [web developer](https://chrome.google.com/webstore/detail/web-developer/bfbameneiokkgbdmiekhjnmfkcnldhhm?hl=en-US) extension for that if you're on chrome

[2013-01-23 15:40] jendie opened #190 "App suggestions"
_Edited by wc8: Vote for this feature here: [Noom](https://trello.com/c/I8xXMWmo), [AnyDo](https://trello.com/c/wA4iObYh)_
Hi,

Just wanted to suggest support for Noom (fitness tracker) and AnyDo (task manager).

Thanks!

Jennifer

[2013-01-23 15:41] jspivack commented on #178
I was having this issue very frequently (every minute at least) and just cleared my cookies and re-logged in. Can confirm that it looks to be running much smoother now. I'm not getting the "Unable to connect" error anymore at least

[2013-01-23 15:42] wc8 commented on #184
I'm doing "reactive habits" manually.
Many tasks would improve my quality of life and productivity if I did them every day or every week, but it would quickly overwhelm me to try to succeed at everything at once.
So I started with an absolute minimum (medicines, 5 meals, X minutes exercise) for health and 2 minimum goals for work. Everything else (cleaning, filing, scanning, etc.) I put in the hab

[2013-01-23 15:42] lefnire commented on #178
confirmed then, it's an auth issue. For one reason or another sessions got booted, but it's not logging users out fully. diagnosing

[2013-01-23 15:43] Paragonid commented on #178
Sorry, pastebin seems to be down O_o
here's console output just from the beginning without any cookies http://sprunge.us/GJga

[2013-01-23 15:50] lefnire commented on #178
I'm gonna restart the server real quick

[2013-01-23 16:19] lefnire commented on #178
is this still happening for anyone if they clear their cookies? what about after that server restart? i'm looking at detecting busted session & clearing cookies if so

[2013-01-23 16:28] jspivack commented on #178
Had to clear cookies again after the server restart, but it's working well now

[2013-01-23 16:33] pironic commented on #50
maybe downgrade this bug from critical now that users can't exploit it as easily? we still need validation of a positive (int) in backend though... i'll get to that when i can...

[2013-01-23 16:35] lefnire commented on #50
yeah i didn't think this bug was critical myself. who did that? who!? :)

[2013-01-23 16:35] Paragonid commented on #178
Sorry, still can't hold connection
upd.: console output, cookies cleared http://pastebin.com/GLAzdbK2

[2013-01-23 16:53] Cecron opened #191 "OAuth2Strategy error when trying to run locally"
I get the following error when accessing the page http://192.168.1.50:3000:

Error: OAuth2Strategy requires a clientID option
    at Strategy.OAuth2Strategy (/home/mac/habitrpg/node_modules/passport-facebook/node_modules/passport-oauth/lib/passport-oauth/strategies/oauth2.js:66:32)
    at new Strategy (/home/mac/habitrpg/node_modules/passport-facebook/lib/passport-facebook/strategy.js:49:18)
    a

[2013-01-23 16:55] lefnire commented on #191
You might also need FACEBOOK_KEY and FACEBOOK_SECRET env vars. You can probably set those to gibberish, if that's the case check back here and I'll update the code or wiki

[2013-01-23 16:56] wc8 commented on #169
A few thoughts on this:
- If users cannot find previous requests (or issues) whether because its on a different site or a closed issue they will create new ones; discussion gets fragmented and its hard to track the pertinent details and ideas resulting from a discussion
- If users cannot easily find where/how best to post features and issues it will increase the odds they post in the wrong place
-

[2013-01-23 16:58] racuna commented on #187
Im sign in again, and my HP down from 32 to 14 :/

(I accidentally closed this issue, and i dont know how)

[2013-01-23 16:59] geebru opened #192 "Switch positions of gold/silver"
Bug: Vertical position of gold/silver

Up until 5 minutes ago I was under the impression that gold led to silver coins. I think having gold before the silver icon is confusing. Can we switch the two? (Silver LEADS to gold LEADS to future currency)

[2013-01-23 17:01] Cecron commented on #191
Nope, same error when I set those two keys.

(Yiee where you fast answering this one...)

[2013-01-23 17:08] SteveSmith3 commented on #178
This bug shows up for me in Ubuntu on firefox and chrome, also in Windows 7 on firefox (dual boot machine).

Just cleared out all history in Firefox in Windows. I get the "Unable to reconnect – Reload" message without logging in.

Console shows "fatalErr Unauthorized" for https://habitrpg.com/gen/SiXUaOe5_PoGndpQAw65XA.js line 3.

Is that some kind of generated JavaScript? I suppose I could send y

[2013-01-23 17:11] lefnire commented on #178
it's derby-generated min/concat javascript. I tried deleting `public/gen/*` and restarting server, looks like that's not helping. I'm looking into upgrading socket.io right now

[2013-01-23 17:12] wc8 commented on #189
See https://trello.com/c/4C8w1z5h and #53

[2013-01-23 17:14] lefnire commented on #191
try commenting out using facebook strategy ([these lines](https://github.com/lefnire/habitrpg/blob/master/src/server/index.coffee#L39-43)) just to get it working for now

[2013-01-23 17:14] StanLindsey commented on #169
Yeah I share many of the same thoughts as you @wc8, hence my inclination to not like the use of trello (if its invite only that makes it extremely closed). Can somebody re-iterate why github isn't usable? You can organise by tags and such and it ties directly into the current version.

If you want a truly public addition then a report bug option on the website could allow emails to be sent to a bu

[2013-01-23 17:19] wc8 commented on #185
Possible workaround meanwhile: Watch Thread #161 The Current State of Habit
Notifications received in the inbox every time @lefnire comments there.

[2013-01-23 17:29] wc8 commented on #169
If I understand right, you can vote and comment on trello without an invite if permissions are set that way (which they plan(ned) to do, see above).

I think the chief thing with github may be to find away to
1. filter out features
2. keep up with marking new requests as features (and/or give the user a way to) so bugs aren't buried
3. find a way to track feature popularity / allow votes
4. keep r

[2013-01-23 17:34] jspivack commented on #178
It's showing up again for me too

[2013-01-23 17:35] KellarW opened #193 "Templates and Habit Organization"
I just started using this after seeing it on kickstarter.  I think it's a great idea to use game theory to help people change (or continue) their habits.

I had three thoughts on the structure.  One is that it would be nice to be able to have different habit sets.  So, if you wanted to have a set of fitness habits it could be in a different grouping than self improvement habits.

The other thought

[2013-01-23 17:53] lefnire commented on #178
got it! 9924edcd959fe75c4411bb151f73285054d499de - strange bug, I think it has to do [with this](https://github.com/codeparty/racer/issues/57)

[2013-01-23 18:04] #178 closed, assigned to lefnire

[2013-01-23 18:15] lefnire commented on #169
I'm totally open to whatever on this, so I'm deferring to y'all. This was
my reckonning:
- Github queue will still be very active, but we'll try to keep it to
  discussions around the code (bugs, and more "critical" features like "allow
  changing password")
- I liked Trello just as a place for holding "pie in the sky" feature
  requests for "the future of habitrpg" that everyone can vote on and

[2013-01-23 18:18] lefnire commented on #161
i'll start blogging here: http://habitrpg.tumblr.com/

[2013-01-23 18:19] lefnire commented on #185
Hey guys - I'll start blogging here: http://habitrpg.tumblr.com/ . I
created it but never used it, I'll make sure to get the word out on that
URL. (I'll set it up as blog.habitrpg.com when i get the chance). People
can guest-post it and I can approve, so feel free to send anything you
think pertinent my way.

On Wed, Jan 23, 2013 at 12:19 PM, wc8 notifications@github.com wrote:

[2013-01-23 18:20] wc8 commented on #169
check out: http://webapps.stackexchange.com/questions/35593/enabling-user-to-comment-using-other-login-provider
Update: Hm... I got there via Trello help, but I'm not sure if it applies.
I'm checking with Trello help and support to see what options there might be for user commenting.

I have to say, I'm really like the possibilities for organizing requests.
For example, with the suggestion to crea

[2013-01-23 18:25] lefnire commented on #169
I totally agree. Github will stay open and vibrant, we'll just keep that
Trello board to replace #169

On Wed, Jan 23, 2013 at 1:20 PM, wc8 notifications@github.com wrote:

[2013-01-23 18:26] Cecron commented on #191
Still not running, I get this now:

Expressions in require() statements:
    require('./lang/' + key)
TypeError: undefined is not a function
    at /home/mac/habitrpg/node_modules/derby-auth/index.js:128:26
    at eval (eval at createIterator (/home/mac/habitrpg/node_modules/lodash/lodash.js:683:19))

[2013-01-23 18:27] wc8 commented on #169
I wonder if it might help to add a tag for in _trello_?
That way, rather than closed, a Feature Request could be marked as in Trello or not.

[2013-01-23 18:44] #161 closed, assigned to nobody

[2013-01-23 18:45] lefnire commented on #169
added. @wc8, can you now use that tag?

[2013-01-23 18:46] p1agu3 commented on #118
I agree with wc8 - so far, this problem has seemingly been successfully mitigated.  That status message is easy enough to miss, but things are working properly for me otherwise, even if I go somewhat fast.

_Awesome_ work on this, Tyler!

[2013-01-23 18:50] lefnire commented on #118
thanks @p1agu3!
ok everyone, how we doing now? it all comes down to #84

[2013-01-23 19:03] StanLindsey commented on #169
Can we open all those threads that were closed? I assuming closing is for issues that are fixed/done/ignored/non-applicable etc.

[2013-01-23 19:08] StanLindsey commented on #192
EDIT: I was completely wrong =P

[2013-01-23 19:12] wc8 commented on #192
See #51

[2013-01-23 19:13] lefnire commented on #192
No, Gold and Silver are both in-game currency. It's just like dollars and
change. "Tokens" are real-money currency. You currently don't see tokens
anywhere unless you click "reroll"

On Wed, Jan 23, 2013 at 2:08 PM, Stan Lindsey notifications@github.comwrote:

[2013-01-23 19:19] wc8 commented on #169
@lefnire, sorry, I'm new to github. How do I add a tag (label, I guess) to an issue?

[2013-01-23 19:20] geebru commented on #192
So as a moment of regrouping and figuring this out - do 100 gold make a silver or are silver separate? I'm getting this mindset from EVERY RPG / MMO on the market (copper leads to silver leads to gold leads to etc.).

[2013-01-23 19:21] jsamurai opened #194 "Feature: Fitocracy Integration"
_Edited by wc8: Vote for this feature here: [Fitocracy](https://trello.com/c/WqllBvgX)_
Could be a good idea considering HabitRPG and Fitocracy are both video game based.

[2013-01-23 19:25] wc8 commented on #194
Indexed on Trello [Fitocracy](https://trello.com/c/WqllBvgX)

[2013-01-23 19:25] lefnire commented on #192
It might currently be 10 silver make 1 gold, if so that was a mistake. I'll
change that when I get the chance.

On Wed, Jan 23, 2013 at 2:20 PM, Greg B. notifications@github.com wrote:

[2013-01-23 19:27] geebru commented on #192
So silver does go into gold - in that case I stand by my request to swap the position of the two :)

[2013-01-23 19:30] lefnire commented on #169
Top right of the ticket, under "Open" (sorry, skitch is giving me problems)

On Wed, Jan 23, 2013 at 2:19 PM, wc8 notifications@github.com wrote:

[2013-01-23 19:32] lefnire commented on #192
i dunno, wow does it the same way: [backback screenshot](http://images2.wikia.nocookie.net/__cb20091228031804/wowwiki/images/b/b1/Backpack.png)

[2013-01-23 19:33] wc8 commented on #48
[Trello 43](https://trello.com/c/q7v02jAw)

[2013-01-23 19:36] geebru commented on #192
I must be rusty on my WoW knowledge (I played that forever and could have sworn it was the other way around). If I'm alone in my opinion we'll leave it at that - I might be the lone soul that gets confused easily.

[2013-01-23 19:38] lefnire commented on #192
Naw, we'll keep it open and wait for a few +1s. If not we'll close

On Wed, Jan 23, 2013 at 2:36 PM, Greg B. notifications@github.com wrote:

[2013-01-23 19:38] wc8 commented on #192
It is sometimes vertical in habitrpg, only it doesn't line up smoothly (#37).
- Gold
- Silver

[2013-01-23 19:39] StanLindsey commented on #192
I guess its based on the idea that £1.50, $1.50, Gold 1, Silver 50.

Also I was completely wrong. Oops. I wondered why my silvers kept changing so much.

The confusion may still be an issue, though now major; I've never seen silvers referenced anywhere but have seen quarters/tokens.

[2013-01-23 19:40] lefnire commented on #192
That vertical alignment is definitely a design bug.

On Wed, Jan 23, 2013 at 2:39 PM, Stan Lindsey notifications@github.comwrote:

[2013-01-23 19:42] StanLindsey commented on #169
Now that I've played with trello I really like it as an organised to do, its up to you @lefnire in the end as its your project.

I also like that Trello is closed as then it doesn't get mobbed with duplicates, though I assume the plan was to only allow the "public" to vote.

Then again there are work around, could have a poll on the website which has 4 options which you plan on implementing. E.g.

[2013-01-23 19:50] wc8 commented on #193
Habit Sets sounds like #48 Tags & Categories, see also [Trello 43 Tags and Categories](https://trello.com/c/q7v02jAw).
Privacy Options for tags and categories added to: [Trello 9](https://trello.com/c/pxics3ZM)
I'm not sure if this is what you mean, but it is not a plus-and-minus button: it is a plus button and/or a minus button.
In cases where an item has a plus and a minus button, the habit has

[2013-01-23 20:03] wc8 commented on #96
See these on Trello [Delegated Tasks](https://trello.com/c/kZdy2slG), Also [Email Sync](https://trello.com/c/hxt5ApKM)

[2013-01-23 20:06] Elyriah commented on #62
I'm able to translate into German and Swedish, if that's still needed.

[2013-01-23 20:22] wc8 commented on #39
Or use "buildings" or locations and level up the building/location as it progresses.
Landmark > Village > Town > City
Hovel > Straw House > Wood H. > Brick H. > Manor > Castle
There could be bosses to overcome in each location.

P.S. There could still be special buildings, like "Tavern" #153 and perhaps a specially named shop for #181
Maybe a Hospital that allows you to rest from all habits not ta

[2013-01-23 20:26] wc8 commented on #39
[Trello 43 Tags and Categories](https://trello.com/c/q7v02jAw)

[2013-01-23 20:26] FaeriMagic commented on #60
I don't know what happened, but my hRPG is completely blank. No HP (Shows NaN), No tasks, can't logout, can't do anything. It happened recently, about last night.
![image](https://f.cloud.github.com/assets/3200203/91334/03d7cab6-659b-11e2-824f-e5dab4a47222.png)

[2013-01-23 20:29] Nelmalih0 opened #195 "[Feature] Skills"
_Edited by wc8: Vote for this feature here: [Skill Item Type](https://trello.com/c/UTWW66Uu)_

First of all i just want to note that this is not 100% my idea. the original idea is from an iPhone app called Level Me Up HD!, but i did tweak, take out, and add some things to it, besides the app hasn't updated in over 2 years so i think its ok, and i tried to make it work as perfectly with HabitRPG.

[2013-01-23 20:31] wc8 commented on #60
@faerimagic Try clearing browser cache. Then refresh.
If that doesn't work, try deleting habitrpg cookie in browser settings. Then try refresh again and login if possible.

[2013-01-23 20:33] lefnire commented on #60
holy god. faeri, email me your uuid i'll restore you from a previous backup: tylerrenelle at gmail

[2013-01-23 20:34] wc8 commented on #181
I added a note on [Trello 9](https://trello.com/c/pxics3ZM), but I am not sure I completely understand the idea.
Related to #107

[2013-01-23 20:40] lefnire commented on #60
(or if you can't access that, then your email or username you used to sign up)

[2013-01-23 20:59] mleon246 commented on #195
I get it but Guitarist skill as an abstract concept compared to something like running.
If I want to level up Running then we could measure by time or distance. (EX: under 1 mile is lvl 1 and mile 1-2 is lvl 2)

Regardless having the ability to create skills and add math to it would advance the project!

[2013-01-23 21:01] mleon246 commented on #176
Ive got a similar issue... see #117

[2013-01-23 21:04] wc8 commented on #59
[Trello 19 Awards and Badges](https://trello.com/c/4uWICvDf)

[2013-01-23 21:08] StanLindsey commented on #123
I've had no issues with non-developer mode.

That said my GFs install had the small issue as @BXQ but after a number of re-tries it worked fine. I'll add it to my to-dos to check though.

[2013-01-23 21:15] wc8 commented on #195
I'm making an index of requests on Trello (where users should be able to vote for ).
This is similar to elements of #39, is that right?
Expanding on it by adding durations (something that has come up before).

[2013-01-23 21:20] wc8 commented on #70
Indexed on Trello: [Random Challenges Between Users](https://trello.com/c/zQ7lwk73)

[2013-01-23 21:28] wc8 commented on #183
Trello [Record Yesterday's Accomplishments](https://trello.com/c/CaAm7APS)

[2013-01-23 21:36] Nelmalih0 commented on #195
mlean246: You could use it for running, i thought about that, i just used guitar because i play guitar, but running works perfectly
wc8: If i'm correct, #39 is about progress about a task/habit until you reach a goal
Skills are about getting better at skills you have or want to have, HabitRPG could help encourage you to get better at skills
If you download the Level Me Up app that i mentioned befo

[2013-01-23 21:40] wc8 commented on #195
@Nelmalih0 I think the thread, if not the first post, (see second post), is about progress in a group of related tasks in tags & a final goal (boss battle). I'll try to look into Level Me Up.
Update: I glanced at the app. I don't have an iphone. It really seems related. I'm sorry if I'm not appreciating the difference. I don't mean your post isn't different at all.

[2013-01-23 21:43] Nelmalih0 commented on #195
one of us clearly doesn't understand the others point lol :P

[2013-01-23 21:56] wc8 commented on #195
Right, I don't get it yet, that's why I'm asking.
Let's see, is your request:
_Awards for achieving a certain number of completions of a single habit?_
For example: if a habit is: 1h play piano, clicking it 100 times gives you: "Congratulations You've completed 100 hours of Piano?"

(By the way, I know a piano teacher who likes to say, _People say Practice Makes Perfect. Practice Makes PERMANENT_)

[2013-01-23 22:11] Nelmalih0 commented on #195
Not exactly, you would start the timer and practice piano, then when you are done you press stop and it records the time as experience for that skill, and after a certain amount of time, you gain a level
the other field is if you played piano for 15 minutes but didn't start the timer, you can add your time manualy
the idea is based of of the Level Me Up app, heres a video of it http://www.youtube.

[2013-01-23 22:16] geebru commented on #195
I feel like this is quickly slippery sloping into creating an overly complex app. The simplicity here is what's key. Time tracking (which is what you're proposing) isn't really a to-do list kind of thing.

Seeing that basic analytics are already in place, adding a "ceiling" and a "floor" where you want to improve would be the best way (to me) to get "skills" in without adding overly complex time k

[2013-01-23 22:17] wc8 commented on #195
I see the difference now.
Part of the reason why I thought (think?) they are related is that there can be a number of different kinds of practice or habits that build a skill. So you might have hours of guitar practice and of music theory study involved in becoming a good musician. (I saw writer on the site and as a writer, I know many different "habits" go into improving that skill!)
This is inte

[2013-01-23 22:56] lefnire commented on #165
https://github.com/codeparty/racer/issues/69

[2013-01-23 22:58] Nelmalih0 commented on #195
blackpandemic: i don't want to complex the app, skills is just another option like Habits,Dailies, Todos, and Rewards.
the time tracking only applies to skills, not habits or anything else, its there because, according to scientist, it takes 10,000 hours of practicing a skill to master it
there is no penalty for not practicing a skill except for losing experience on that skill (not on your person)

[2013-01-23 23:10] geebru commented on #195
I see your point - I still think it should be user-controlled to do your time, not an app addition. Practice 1 Hour is your task - it's a discipline thing to me to do that for an hour, hence my idea for a ceiling/floor as opposed to actual, granular time tracking.

:+1: For a "neglect" versus "stay with it" mechanic for skills / dailies / habits, etc. which I can see being skills as well.

[2013-01-23 23:16] Nelmalih0 commented on #195
You can do it 6 separate times for 10 minutes , then you would get your exp. it all adds up
and if you look at the picture (that i so poorly drew) you can add time manually

sorry that i'm really bad at explaining things, it would be a lot easier if i was talking to you in person :P

[2013-01-23 23:18] mleon246 commented on #195
The best explanation i can give is:
It's a habit to run every day and you get rewarded for it.

It's a skill to improve your distance/time where the improvement is the reward.

This can be done without using an Exp Formula by allowing the player do manually level up and keep checking off that the habit has been done.

If it where me I would combine them into habits you do and then have the menu "w

[2013-01-23 23:26] hookang commented on #195
Epic Idea.

[2013-01-23 23:33] wc8 commented on #195
Trello [Skills](https://trello.com/c/UTWW66Uu)

[2013-01-23 23:35] hookang commented on #169
Slappybag and Wc8 Amazing job with the Trello Board.

In terms of idea generation. I think everyone has a lot great ideas and we can all think of pie in the sky ideas.

I'm not really sure what the best way to do something like this is. I should look into open source project management to see if there are any best practices.

It's awesome to see all of these ideas flying around. I just wonder if i

[2013-01-23 23:36] hookang commented on #186
Nice job dude.

[2013-01-23 23:37] hookang commented on #185
Can you add a link to the bottom of habitrpg.com between about and FAQ as blog?

[2013-01-23 23:37] Nelmalih0 commented on #195
mleaon246: I see what you're saying, but i intended it to be separate form Habits
hookang: thanks, i thought it would fit very well, i just wanna know what @lefnire thinks
wc8: awesome, i just voted for it :P

[2013-01-23 23:43] wc8 commented on #195
I added a very temporary description. I hope later to improve it. I think there's potential in the idea and it'd be neat to see it tailored and enhanced for HabitRPG. Integration with a pomodoro/timer app or website could possibly even allow for a timer element without overwhelming the habitrpg interface.
One thing: I showed habitrpg to another user and they found habits/daily/todo, even with the

[2013-01-23 23:45] Nelmalih0 commented on #185
I was thinking the same thing, it would make it easy to find for everyone that uses it

[2013-01-23 23:47] lefnire commented on #185
committed, will deploy with next push

On Wed, Jan 23, 2013 at 6:45 PM, Nelmalih0 notifications@github.com wrote:

[2013-01-23 23:51] Nelmalih0 commented on #195
Most things you have use it to understand it
A friend of mine that is in the army told me "You can read 100 books about guns, but until you actually hold one, you will never know how to use it."

[2013-01-23 23:52] mleon246 commented on #195
It makes sense to separate them out except that it would require additional work from the coder perspective and the user who whats to get in habit of ____ as well as trying to improve the skill itself would have to go through extra menus creating confusion to new users/low tech users that require simplicity.

The combination would be treated as an optional add-on to any habit instead of a section

[2013-01-23 23:53] lefnire commented on #195
One big goal of Habit is to introduce complex features over time by
"unlocking", like the item store was. That way it's plain and simple to get
into, then gets more involved over time. I'm not too worried about to a lot
of interface additions as long as users graduate into them, and they can be
toggled in some cases

On Wed, Jan 23, 2013 at 6:51 PM, Nelmalih0 notifications@github.com wrote:

[2013-01-23 23:55] wc8 commented on #169
@hookang
Re: ideas now or later: maybe "marketing" advantages to having a place for users to chime in and discuss. If well organized it keeps us (users) looking forward to improvements, encourages patience, etc. but it does have to stay out of the developers way.

Re: organizing threads: github labels maybe? with similar colors the color scheme? "Data Loss" "Registration bugs"
Maybe that would be

[2013-01-23 23:58] lefnire commented on #169
@wc8 you're now a repo collaborator, you should have access

On Wed, Jan 23, 2013 at 6:55 PM, wc8 notifications@github.com wrote:

[2013-01-24 00:07] Pandoro commented on #152
I have the same problem I think. I have 1 task which I scheduled for two days in the week. Three times now I have gotten around 2-2.2 damage for this task. (I only started playing since then, so I'm not sure how it was before that.)  It might also be my many todos as suggested by wc8, but I have 14 todos, which somehow does not fit the 2.2 damage I got today after 12:00 :(

Otherwise a GREAT idea

[2013-01-24 00:18] Nelmalih0 commented on #195
I understand that it would take a lot of work for the coder but i'm not expecting it to come out right away, it will take time
And it sounds complicated here because there are a lot of rules, but that's to the person making the app, but the user will only see the user interface, which i tried to make as simple as possible
Its like a song, a writer could spend days writing and composing the song (w

[2013-01-24 00:28] wc8 commented on #125
Indexed: [Trello integration](https://trello.com/c/VCxdF9Ld)

[2013-01-24 00:33] superlikelikes commented on #186
mines on my desktop. i just dragged it over and renamed it to STATUS and made the icon into a nintendo
![nintendo status](https://f.cloud.github.com/assets/3335116/92110/b2bf0c66-65bd-11e2-9bdd-8f6f766bffeb.jpg)

[2013-01-24 00:44] wc8 commented on #158
[Indexed on Trello](https://trello.com/c/uEo7wjkH)

[2013-01-24 00:46] wc8 commented on #158
I just wiped out all my gold not realizing that the edit to the cost of the reward item was erased by an Offline-Reconnect interruption and took an HP hit. Ouch.

[2013-01-24 00:52] Nelmalih0 commented on #169
Could you add the trello links in the first post, so if we see something we like here, we can click on the trello link and vote for it

[2013-01-24 00:54] wc8 commented on #67
[Checklists](https://trello.com/c/PJ1iJ413)

[2013-01-24 00:55] wc8 commented on #49
[Checklists](https://trello.com/c/PJ1iJ413)

[2013-01-24 00:56] wc8 commented on #173
Trello: [Checklists](https://trello.com/c/PJ1iJ413) and [Tags, Categories](https://trello.com/c/q7v02jAw)

[2013-01-24 01:14] Nelmalih0 opened #196 "Plus and Minus Habits"
_Edited by wc8: Vote for this feature here: [Habit Shading](https://trello.com/c/YSXfecBt)_
Habits that are made to only have plus should turn red if it's never clicked
and vice versa
Habits that are made to only have minus should turn green if it's never clicked

[2013-01-24 01:39] wc8 commented on #169
Would it seem strange to people to find their post edited by me?
I can't think of another way to put the links at the top though, and that would be ideal for voting.

[2013-01-24 01:41] hookang commented on #169
Do it. but add something like:

Edited by wc8: Vote for this feature here:

etc...

With love, joy, peace, patience, kindness, goodness, faithfulness,
gentleness, and self-control,

Hoo Kang

Test everything. Hold on to the good. - 1st Thessalonians 5:21

http://about.me/hookang

On Thu, Jan 24, 2013 at 10:39 AM, wc8 notifications@github.com wrote:

[2013-01-24 01:43] wc8 commented on #169
:+1: :+1: @hookang

[2013-01-24 01:51] wc8 commented on #196
Hm... I've thought something like this myself. It seems to fit in with the daily shading. It's another way of seeing progress/areas to work on.
Perhaps, for plus or minus habits, the shading could turn green if frequently (+) and red if frequently (-)

[2013-01-24 02:34] wc8 commented on #196
@Nelmalih0 Please let me know if the description on Trello accurately expresses the idea.

[2013-01-24 02:43] FaeriMagic commented on #60
Deleting the habitRPG cookie fixed the issue. Logged in and found everything as it was. Though it was a surprise when I found that my HP decreased by 21. Eh, oh well. At least it works again!
Thanks, wc8! 8D

[2013-01-24 02:44] lefnire commented on #60
Phew!

On Wed, Jan 23, 2013 at 9:43 PM, faerimagic notifications@github.comwrote:

[2013-01-24 03:07] wc8 commented on #169
If discussion is happening on github, should feature requests be/remain closed?
I believe users _can_ still comment on a closed feature. (Note _can_: ability, not best necessarily best practice.)
If so, discussion can continue in a closed thread, but two kinds of notice might be needed:
- in the thread (maybe upgrade "*Edited by ______: Discuss in this thread. Vote for this feature here: *)
- in w

[2013-01-24 03:25] ghost opened #197 "Dailies Not Being Displayed?"
![habitrpg](https://f.cloud.github.com/assets/3363224/92481/2a2d9210-65d5-11e2-952d-7752376f45a8.jpg)

Normally, I have a decently sized list of daily quests, such as "Drink a glass of water", "Draw Something", etc etc. It was displaying all Daily quests earlier today. I added the dog-walking daily today, and checked it off today. For some reason, when I checked the site, it was like this. I didn'

[2013-01-24 03:27] Nelmalih0 commented on #196
I mean habits that i set to only have the minus, if I don't press it it should turn green to say that i have been good by not doing it
and vice versa
this rule wouldn't apply if the habit has both plus and minus

[2013-01-24 03:32] Nelmalih0 commented on #196
sorry, i misunderstood, you got it right :+1:

[2013-01-24 03:53] lefnire commented on #197
the dailies weren't added today? In other words, you've had multiple sessions / days with the dailies intact?

[2013-01-24 03:56] ghost commented on #197
Yeah. The dailies have been up every day like normal. They were fine earlier today, too. They did a vanishing act on me a few hours ago, though. I tried logging out and logging back in, checking on my phone instead of my laptop, etc etc, to no avail.
I've been using HabitRPG for about a week with no problems whatsoever up until this. c: Thanks for the quick response!

[2013-01-24 03:58] lefnire commented on #197
could you email me your uuid? (top right, under settings) I want to do some investigation - I can also restore your account to a previous version if you want, though it sounds like you just added them back in?

[2013-01-24 04:01] ghost commented on #197
No, I haven't added them back in yet. I was waiting until at least tomorrow because I assumed since the Dailies reset the next day there'd be a possibility they could show up again. How much of a previous version? I'd like to stay at level 3 with my super awesome armor and such. XD

[2013-01-24 04:06] lefnire commented on #197
one from this morning and one from about an hour ago

[2013-01-24 04:08] ghost commented on #197
Can I get the morning one please? :D I can just add the dog walking daily again.

[2013-01-24 04:08] wc8 commented on #197
This may be irrelevant, or too late, but I have sometimes found that if the page seems bizarre (missing columns) or strangely empty on refresh a second refresh _immediately following the first, without changes_ fixes it.

[2013-01-24 04:09] ghost commented on #197
o.O _Shrug_ Doesn't work for me, but good to know in case something comes up. Thanks!

[2013-01-24 04:24] CrazyBeggar commented on #62
I can help with the (brazilian) portuguese translation.

[2013-01-24 04:39] lefnire commented on #197
This will take me a bit, bear with me

On Wed, Jan 23, 2013 at 11:09 PM, AilithTheBrave
notifications@github.comwrote:

[2013-01-24 04:41] ghost commented on #197
Of course, thanks for working on it! :)

[2013-01-24 05:04] wc8 commented on #118
So far, the same, no loss if online. :+1:

[2013-01-24 05:06] wc8 commented on #187
What time is it happening? Is it just once a day (may timezone factor) or every time you sign in?

[2013-01-24 05:07] lefnire commented on #197
ok, give it a shot now

[2013-01-24 05:17] ghost commented on #197
Yay! :D All is well, thanks!

[2013-01-24 05:24] lefnire commented on #197
well I discovered something while i was in there. @wc8 get ready for people with "old tasks have come back" - it turns out not _all_ tasks got lost in space all the time, evidently the [model refLists](http://derbyjs.com/#references) sometimes got improperly saved while the tasks themselves remained intact. basically there's your list of tasks, then there's a _separate_ list of task ids which you

[2013-01-24 05:24] #197 closed, assigned to nobody

[2013-01-24 05:27] lefnire commented on #187
right, if it's in the morning and it's dailies, that's the name of the game

[2013-01-24 05:29] lefnire commented on #197
which accounts for some people "losing HP to todos on cron" - it could be they just had zombie (rogue) dailies

[2013-01-24 06:09] FaeriMagic commented on #43
Just wanted to let you know. All of my missing Habits and To-Dos came back. And I do mean all of them.
Which means now I have duplicates. But that's alright, because I can delete them later...

[2013-01-24 06:18] lefnire commented on #43
Yep, check out [this comment](https://github.com/lefnire/habitrpg/issues/197#issuecomment-12637921). Everybody is basically gonna get a lionshare of their missing habits back. Blessing for all new comers, we've solved one of the major reasons for data-loss - curse for the long time users.. there will be some deleting to be done. You're a trooper btw @faerimagic, you seem to get hit be most of the

[2013-01-24 06:25] lefnire opened #198 "Missing tasks came back"
Many of you will notice missing tasks return. Turns out not _all_ tasks got lost during many of these server rough-patches, evidently the [model refLists](http://derbyjs.com/#references) sometimes got improperly saved while the tasks themselves remained intact. Basically there's your task-lists, then there's a _separate_ list of task _ids_ which is used for filtering/sorting (kinda weird, but it's

[2013-01-24 06:34] mfcovington commented on #118
@lefnire Now this is interesting. As of the fix, I haven't lost anything. However, between ~6pm and 10:30pm pacific time, it seems that all(?) my habits/dailies/todos/rewards that had vanished have suddenly returned. I can tell they aren't duplicates, because I didn't name everything the same when I re-entered them. This is much better than losing things and I anticipate that when I delete these z

[2013-01-24 06:45] lanseg commented on #62
What about not only translation, but a complete localization? For example, week, that starts with Sunday confuses me a lot.
And I can help you with russian translation (I have only basic skills of js, but I don't think it is criticall for gettext)

[2013-01-24 06:46] mfcovington commented on #130
Of the habits that have data available, only 5 of 12 will display the little graph. For the others, the habit text adjusts slightly (up or down) when I click the graph button, but nothing else happens.

[2013-01-24 06:52] switz commented on #198
Nice, this is cool - I'll have to checkout the code.

Always wondered if derby was missing a few ids in my refLists.

On Thursday, January 24, 2013 at 1:25 AM, Tyler Renelle wrote:

[2013-01-24 07:09] StanLindsey commented on #118
I came on to post the exact same thing; All my previously lost items came back - that was a surprise. =D

@lefnire has almost fixed it tooo well. =P

[2013-01-24 08:21] StanLindsey commented on #169
Trello is doing brilliantly, looks like voting is public which is great, I've reorganised so most voted are at the top. I'll be setting up a GDocs giving @lefnire the details this evening. Great job on putting all the issues on Trello guys.

Could we add a label in Github called "Sticky" for generally important threads like this and then create another thread with more information about our other

[2013-01-24 08:33] ghost commented on #62
If there's any need in French and Dutch translation, let me know

[2013-01-24 11:53] Pandoro opened #199 "Stronger RPG backend"
_Edited by wc8: Vote for this feature here: [Mini-Games](https://trello.com/c/tJl77IMU)_
Hi there,

I know similar feature requests have been posted, but I think my view is a little different and might also be interesting. I've been playing for three days now and it's a great thing, however I noticed that the current goal is really just to keep yourself alive and level up. Of course collecting the

[2013-01-24 11:53] racuna commented on #187
I understand that, but was in the middle of the day every time I press F5 i
lose 4.4 hp

##

oɔıɟíuƃɐɯ sǝ ɐunɔɐɹ ןǝ

On Thu, Jan 24, 2013 at 2:27 AM, Tyler Renelle notifications@github.comwrote:

[2013-01-24 12:00] netcriptus opened #200 "Title change"
Hey, this HabitRPG is awesome!

One quick idea, how about changing "Todos" to "Quests"? Just to make it more "game-ish".

[2013-01-24 12:50] lefnire commented on #199
I think that that's a good idea. First on the agenda will be RGP tie-ins to
your productivity (tasks become bosses, etc), but once the show's on the
road we can start building these "mini-games"

On Thu, Jan 24, 2013 at 6:53 AM, Pandoro notifications@github.com wrote:

[2013-01-24 12:50] lefnire commented on #187
Shoot, can you email me your uuid?

On Thu, Jan 24, 2013 at 6:54 AM, Roberto Acuña notifications@github.comwrote:

[2013-01-24 12:56] racuna commented on #187
sure

[2013-01-24 12:56] lefnire commented on #169
For "Sticky" let's just use the Github wiki (
https://github.com/lefnire/habitrpg/wiki) - you have edit perms Stan.
Renaming feature to suggestions, those are good ideas methinks

On Thu, Jan 24, 2013 at 3:22 AM, Stan Lindsey notifications@github.comwrote:

[2013-01-24 12:58] lefnire commented on #118
woohoo! #198

[2013-01-24 12:58] #118 closed, assigned to nobody

[2013-01-24 13:00] lefnire commented on #198
you're not gonna like it: [code](https://github.com/lefnire/habitrpg/blob/54df0c16ffb898a30e090547ef601b1cf4bb6f7a/src/app/index.coffee#L59-77) - I'm not embarrassed of the code, because WTF is derby doing man?? unless i find out later it was me all along..

[2013-01-24 13:19] Andrew565 opened #201 "HeyOffline Support - Let Users Know They're Offline"
Slappybag: Added to Trello: https://trello.com/c/lUlKuIHK

http://oskarkrawczyk.github.com/heyoffline.js/

Good little tool for letting people know they've gone offline and their changes won't get synced.

[2013-01-24 13:43] KellarW commented on #193
For the +/- buttons, the idea I had is that you when you set a habit to be either positive or negative, you could also set the habit to not show the button. This way you could have one habit for "Drank Soda", and another for "Drank Water". You would not know if the habit was a positive or a negative habit unless you looked at edit section.

-Kellar

----- Original Message -----
From: "wc8" notific

[2013-01-24 13:49] lefnire commented on #62
we should keep this one open

[2013-01-24 14:36] StanLindsey commented on #201
Added to Trello: https://trello.com/c/lUlKuIHK

[2013-01-24 14:40] StanLindsey commented on #200
I think its a great idea but the name may be"quests" reserved for future features. e.g. "Quests" are challenges that your friends/party send you or randomly generated ones you can opt in to.

Check out the Trello for possible features that the word "quest" may be used for;
https://trello.com/board/habitrpg/50e5d3684fe3a7266b0036d6

[2013-01-24 14:49] #185 closed, assigned to nobody

[2013-01-24 14:51] lefnire commented on #200
Yeah, reserved for future feature. Let's keep the stuff that people are
familiar with standard, because RPG metaphors will come in other areas
On Jan 24, 2013 9:41 AM, "Stan Lindsey" notifications@github.com wrote:

[2013-01-24 14:51] StanLindsey commented on #176
Are both of these issues still occurring? Can you re-register or does it say the user already exists?

[2013-01-24 14:53] StanLindsey commented on #117
Are these issues still occurring? Can you re-register or does it say the user already exists?

It might simply be bad timing as HabitRPG has had stability issues recently which are now 99% fixed and your user might need to be manually deleted.

[2013-01-24 14:53] ibvee commented on #176
I managed to register now :) However with a different email address, as the
other address 'already existed'.

On Thu, Jan 24, 2013 at 3:51 PM, Stan Lindsey notifications@github.comwrote:

[2013-01-24 14:57] #200 closed, assigned to nobody

[2013-01-24 14:59] #138 closed, assigned to nobody

[2013-01-24 14:59] #198 closed, assigned to nobody

[2013-01-24 15:16] lefnire commented on #176
ibvee - sorry about that man, if you email me your username or email
address you used originally i can try to restore your account,or if you
prefer delete it

On Thu, Jan 24, 2013 at 9:53 AM, ibvee notifications@github.com wrote:

[2013-01-24 15:20] ibvee commented on #176
You can delete it, it's working fine now with the other mail adres :)

Love what you're doing!

Is there a way I can send you my email adres without putting it here in the
public?

On Thu, Jan 24, 2013 at 4:16 PM, Tyler Renelle notifications@github.comwrote:

[2013-01-24 15:20] lefnire commented on #176
Yep - tylerrenelle at gmail

On Thu, Jan 24, 2013 at 10:20 AM, ibvee notifications@github.com wrote:

[2013-01-24 15:35] wc8 commented on #197
@lefnire I will try to help if possible but dealing with frozen pipes and flooding here.

[2013-01-24 15:43] lefnire commented on #197
no worries, i think people saw the ticket. we should be good. wow, good luck with frozen pipes and flooding!?? :o

[2013-01-24 17:30] w13 commented on #62
I can translate into Urdu and Indonesian.

[2013-01-24 17:48] w13 opened #202 "Time-based tasks"
Trello: https://trello.com/c/FwSlQrR5

I have one task called "1 hour uninterrupted studying". (I accidentally clicked it twice just now.)

So, what I suggest is that I can optionally set how long a certain task lasts ("1 hour", "30 minutes", etc.) - and that way I will never be able to accidentally double-click... and I won't need to time myself separately. HabitRPG can do it for me. It can say,

[2013-01-24 19:55] mleon246 commented on #117
Its working for me now... thanks for checking on it.

[2013-01-24 19:55] #117 closed, assigned to nobody

[2013-01-24 21:03] ghost commented on #73
I am having the same issue

[2013-01-24 21:03] StanLindsey commented on #202
I use a timer for a number of tasks in real life so this could be a good feature later on down the line. When the phone/webapp etc are all integrated properly you could start a task on your PC and have the alarm go off on your phone or in your browser. Would be great for taking breaks or similar.

I've added this to Trello so give it a vote if you think its an important feature to work on!
https:/

[2013-01-24 21:12] lefnire commented on #202
check out my comment on that card, i'm currently doing that

[2013-01-24 21:43] ghost commented on #184
@wc8 This is very true. It was just an idea.

[2013-01-24 23:10] mgatten opened #204 "Disease idea: Todo experience formula shouldn't reward procrastination"
Vote for this idea on Trello: https://trello.com/c/QmhxaBRE

When an item is on the Todo list for a long time it becomes more valuable - which makes total sense since you want to reward people for overcoming their procrastination and because it's harder things that tend to go longer.

But there's no downside to putting it off even longer, which kind of runs counter to the whole point of the site.

[2013-01-24 23:10] wc8 commented on #72
This sounds like a gaming version of Mac apps like Concentrate, Vitamin-R and Self-Control. So, there may be some user interest. (Yes, probably best revisited later.) It might be difficult to accomplish website restriction with a web app as opposed to an offline/desktop/mobile app.

[2013-01-24 23:20] wc8 commented on #25
[Tangible Rewards](https://trello.com/c/dcNk6aKV) delivered cookies, etc.

[2013-01-24 23:20] ghost commented on #72
That is what I was thinking

On Thu, Jan 24, 2013 at 5:10 PM, wc8 notifications@github.com wrote:

[2013-01-24 23:33] wc8 commented on #200
Perhaps todo could be made a tad more gamified without losing real world meaning: _Actions!_ or _Act!_ but I agree that the basics need to be clear & familiar especially for new users.

[2013-01-24 23:35] wc8 commented on #197
Mini flooding—only have to replace maybe 1/3 of the floor in our little house.

[2013-01-24 23:48] wc8 commented on #62
Note: This has a card [Translations] in Trello (https://trello.com/c/SvTsLdRF)

[2013-01-25 00:25] lefnire commented on #204
I love it! Ha, color those sprites green, trello this shit
On Jan 24, 2013 6:10 PM, "mgatten" notifications@github.com wrote:

[2013-01-25 01:37] JordieB opened #205 "Completed (grey) to-do task is still on "remaining" list"
Here's an image via imgur of the issue: http://imgur.com/d0ZYjJ4. The image should've been attached to this post as well.

![problem](https://f.cloud.github.com/assets/3375958/96101/bdf39796-668f-11e2-9ff2-d1bdbe4bea96.png)

It's not really causing any problems with anything else. Just thought it was weird and a tad bit distracting. Figured it'd help if I mentioned it.

[2013-01-25 01:38] #205 closed, assigned to nobody

[2013-01-25 02:05] murilomgh opened #206 "[Suggestion] A little fix on the balloon with text and notes?"
First, thanks for this great project!

When you hover over the details of a Habit, the baloon with text and notes appears at the right side of the icon. For Rewards, it appears on the left.
An idea is set the balloon to appear in the left for all the tasks. Please see the images below (when I'm using a narrow browser window):

![Habits_hover](https://f.cloud.github.com/assets/1236297/96136/fae2cdf

[2013-01-25 02:35] ApexNights commented on #190
_Edited by wc8: Vote for this feature here: [Clear](https://trello.com/c/PAFPwZ6Q)_
I'd like Clear to be supported, i use it cooonstantly.

[2013-01-25 03:32] Yughurt opened #207 "[Feature] Customizable equips and skills"
Just read the skills suggestion and thought of additional customization that wouldn't apply to just skills.

In addition to adding different aspects of life: Work, family, health + exercise. (Easier management) by attaching different aspects with different equipment or skills; doing certain activities give different bonuses not restricted to GP. Make some things exclusive. eg: Completing daily exe

[2013-01-25 06:37] Nelmalih0 commented on #204
I understand your point but some todos you put could be things that you might be able to do them right away, like i have a friend that forgot something at my house so i put it in my todos so i wouldn't forget, but he was out of town for a few days
most of my todos i put are things that i can't do today

maybe if this is a feature you toggle on and off

[2013-01-25 06:57] mgatten commented on #204
That's exactly right. And Todos that you handle right away aren't bad for you. And Todos that take a long time should indeed be worth more, just as they are now. But you shouldn't be rewarded for procrastinating on a Todo that you could do this week but put off until next month. By adding a small amount of damage in the form of Disease for Todos that languish on the list for a long time (like week

[2013-01-25 08:34] Nelmalih0 commented on #204
idk, i still think you should be able to toggle them on and off, mostly because half of my todos are very long term

[2013-01-25 09:00] Nelmalih0 commented on #204
I did just have an idea about this though, @lefnire you mentioned that you wanted to make todos that you slack off on to long Boss Battles, what if this is how the boss battle works (instead of calling it diseases)

and just to add i don't think you should loose exp from it, that seems a little unfair

[2013-01-25 10:06] JesperDramsch commented on #73
It was good "the next day" and I even got some of the lost habits and dailys back.

[2013-01-25 10:41] horusofoz opened #208 "Option to hide completed Dailys"
_Edited by wc8: [Vote for this here](https://trello.com/c/q7uM2Ymq)_
For users with many Dailys, it would be convenient to have an easily switched option to hide completed Dailys.

Completed Dailys could be moved onto a Completed list similar to completed Todos.

The option would be located under Username>Settings>Hide Completed Dailys.

[2013-01-25 10:44] horusofoz opened #209 "Digital item to increase gold intake"
_Note by wc8: Vote for [Gold-Boost Item here](https://trello.com/c/yX3PAtJZ)._
I think a digital item to increase gold intake would be a great addition.

Something like a ring, gloves or boots of luck.

They would add a +3% multiplier similar to armour or weapons do for HP and XP currently.

[2013-01-25 10:52] horusofoz opened #210 "Progress Not Showing For New Habits"
I noticed new habits that have only Up or Down don't have a progress window. Progress is only showing for older habits.

[2013-01-25 14:04] dannyqwertz commented on #62
German native speaker here, will be glad to help!

[2013-01-25 14:23] mgatten commented on #204
Who said anything about losing exp?

[2013-01-25 14:56] StanLindsey commented on #210
I just checked this also, though there may be a reason behind it: e.g. it doesn't display a progress window until you've completed it x amount of times. @lefnire will have to chime in on this one.

[2013-01-25 14:59] Pandoro commented on #199
Since I realized that many people are more into the idea of todos and dailies becoming bosses, I came up with a different, probably easier to implement and less intrusive way to add an rpg feeling. What is the main driving power in many rpg's? Too have those fancy, rare items. (correct me if Iḿ wrong, but that is mostly my reason to play) Now one simple option would be to just increase the store s

[2013-01-25 15:00] lefnire commented on #210
It's true, you have to have 2 items of progress (2 days passed, 2 +-
clicks, and note: +only and -only don't get progress) - but it sounds like
it's still an issue beyond that for people?

On Fri, Jan 25, 2013 at 9:56 AM, Stan Lindsey notifications@github.comwrote:

[2013-01-25 15:01] StanLindsey commented on #208
Trello: https://trello.com/c/q7uM2Ymq

[2013-01-25 15:02] #208 closed, assigned to nobody

[2013-01-25 15:03] StanLindsey commented on #210
The issue is there wasn't any feedback to when it would be displayed. Maybe have the view there by default but replace it with; "You need to have 2 items of progress before this is tracked" and some more detailed little blurb underneath. Doesn't seem to be a huge issue though.

[2013-01-25 15:06] StanLindsey commented on #207
So the idea is sort of along the lines of "charming" your weapons/equipment depending on what you do?

You could possibly sell these items on a marketplace once you have levelled them up as well? Thoughts?

[2013-01-25 15:06] mgatten commented on #204
#Nelmalih0: By the way, at this point ALL my Todos are long term. I'm sure most people's are, since short term ones don't (by definition) stick around long. That's why I mentioned in the original post that a field should be added for "I can't start this before xx/xx/xxxx". If you can't start it before then anyway, then you shouldn't be accumulating higher and higher exp for it, and it shouldn't be

[2013-01-25 15:19] StanLindsey commented on #204
Vote for this idea on Trello: https://trello.com/c/QmhxaBRE

[2013-01-25 15:19] horusofoz commented on #210
Is it possible to develop a +only or -only progress option?

This I assume will require an inaction indicator and side effect.

My thoughts would be if a user doesn't + a +only habit in a day then it counts as the equivalent of a - and they lose HP and record negative progress.

For a -only habit if the user does not - it in a day it counts as a + and they gain XP/GP and record positive progress.

[2013-01-25 15:22] StanLindsey commented on #210
Well what you are talking about there though are dailys. If a user doesn't check off a daily it takes off HP.

One of the examples of Habits is the "Take the stairs", this gives a positive or negative reaction to a real-life choice. If a user never encountered this choice then the habit shouldn't have any affect.

[2013-01-25 15:28] racuna commented on #187
Yesterday I was testing all day and works fine, maybe was a collateral effect of another bug. Today is working fine too, except for the ocassional "offline - refresh" but i think you know that.

[2013-01-25 15:30] lefnire commented on #187
ok cool. keep a finger on this pulse and email me your uuid if it happens again.

[2013-01-25 15:30] arscan commented on #191
I had this same problem.  Just assigning random strings to clientID and clientSecret in the lines that Tyler highlighted in the comment above did the trick for me.

[2013-01-25 15:31] lefnire commented on #210
Jeff, +only and -only progress is planned:
https://trello.com/card/habit-shading/50e5d3684fe3a7266b0036d6/67

On Fri, Jan 25, 2013 at 10:22 AM, Stan Lindsey notifications@github.comwrote:

[2013-01-25 15:33] lefnire commented on #191
shoot, try running `BASE_URL="localhost:3000" FACEBOOK_KEY=abc FACEBOOK_SECRET=abc node server.js`

[2013-01-25 15:36] horusofoz commented on #210
@SlappyBag I see what you're saying but I think there is a large grey area.

For example, "Reduce Alcohol Intake". I have this habit as a -only as I don't drink every day (doesn't qualify as a daily) yet it would be inconvenient to + it everyday I don't drink. Also I would need to remember everyday if I had already +'d it. Additionally if I were away for a couple days then during that period no po

[2013-01-25 15:36] #210 closed, assigned to nobody

[2013-01-25 15:47] Pandoro commented on #204
I see the point mgatten is making and I have to say I also though about this. I planned several "milestones" of my master thesis  as todos. Simply because I want to have them in a list somewhere and I don't want to forget some of them. I know they will be sitting around for a long time and I have already secretly rejoiced about the idea that once I finish these in something like 2 months, I'll pro

[2013-01-25 15:53] racuna commented on #142
I can't see this in the Master List.

I think of a counter of days for each daily task (by default 1) but anyone can change it (to 7 if weekly, 30 if monthly). So when I check the task the day counter turns to 0 again. If the day counter is greater than the number you lose HP.

Maybe can be hours so the default would be 24 in that case.

[2013-01-25 15:58] horusofoz opened #211 "RPG/Gamification Depth Option"
I think a slider option to define how much "gamification" a user would prefer would be a great value add.

HabitRPG has had an avalanche of feature requests and ideas to flesh out the RPG elements of the game. Personally I think I would enjoy and employ most of them.

However I know there are a lot of users out there for whom it would be overkill. I recommend a 3-5 tier slider that enables/disable

[2013-01-25 16:11] Pandoro commented on #211
I think this is a great idea! When I spoke about my wishes for a stronger gaming factor in habitrpg, she immediately was like "mwwwwweeeeeh, do not like!" Since it is a game though, I think it is a valid route to take, people who do not like gaming, might probably not even see the real point of habitrpg. Nevertheless this would be a great thing to have as this will reduce the risk of loosing some

[2013-01-25 16:14] Cyberlyme commented on #123
HI there, I don't know if this will help or not but I was having the same issue, I have been trying over several days to install the program and getting the same error and have noticed today that I was not logged in to Chrome. I have done this and the Extension appears to have installed.

like I say not sure if this helps or not.

[2013-01-25 16:15] lefnire commented on #123
the extension was updated recently, i forgot to post back here (the extension has it's own [issue queue](https://github.com/lefnire/habitrpg-chrome/issues)) - if anyone still has issues installing now, re-open this ticket

[2013-01-25 16:15] #123 closed, assigned to nobody

[2013-01-25 16:18] lefnire commented on #211
It sounds pretty hard to me. I'll keep it on my mind-grapes, but I'm
currently a fan of the whole "you unlock things over time" (like the item
store) - which means it's easy for new users, and long-time users get
exposed to complexities over time. I'll brew on how we can make features
toggleable though

On Fri, Jan 25, 2013 at 11:11 AM, Pandoro notifications@github.com wrote:

[2013-01-25 16:20] Pandoro commented on #207
I like the idea a lot, the problem I see here is how to realize it? How would you really know which task falls in which "class" of tasks? If it is user defined, you can simply put whatever task into your running boots, and achieve your awesome boots by brushing your teeth. Now I know this game builds on not cheating on yourself, but if you for example only make three different routes your boots ca

[2013-01-25 16:25] abednego opened #212 "Ctrl-F5 I lose tasks and sorted lists"
I lost a few tasks earlier today.  Not sure why.  The ads were missing off my page at that time so perhaps I lost communication and didn't see the notice at the top of the page.

Also, when I hit ctrl-F5 to refresh the page (to see if my changes "took") I lose the sort order of my To-Do items, and the other lists were randomly (seemingly) sorted as well.

Excited about the game.  Looking forward t

[2013-01-25 16:28] Cecron commented on #191
Thanks! This one worked
BASE_URL="localhost:3000" FACEBOOK_KEY=abc FACEBOOK_SECRET=abc NODE_DB_URI=mongodb://localhost/habitrpg node server.js

[2013-01-25 16:28] #191 closed, assigned to nobody

[2013-01-25 16:30] horusofoz commented on #211
To further clarify I think if features can be grouped into dependencies that should make the scalability and the level of modulation more realisable. Like with Project Management breaking things down into itty bitty bits and linking as required.

For example combat is dependent on classes and stats. Classes are dependent on stats. Therefore stats would be at say second level of gamification. Class

[2013-01-25 16:44] Pandoro commented on #211
I think this idea becomes more and more related once more features are introduced. If the plan is to unlock everything at a certain state though, I figure that these things are rather modular anyways. This whole thing could then be realized with a simple flag in the code. If the conditions for unlocking are met, also check if the user wants to unlock this yes or no.

[2013-01-25 16:52] abednego opened #213 "Interface Suggestions"
I have put in a lot of tasks and to-do's such that I have to scroll down to look at them all.  It would be nice if my little dude at the top of the page would be "frozen" in place on the screen so I could still see him and his experience/health when I scroll down.

Perhaps some of the lists could be grouped together so the total list size could be minimized.  Maybe like tasks under a larger projec

[2013-01-25 17:00] horusofoz commented on #211
Additionally I think scalability of feature sets is Essential for an enterprise friendly version of the application.

HabitRPG offers so much that a business would love and many requested features such as party's and guilds will bolster this desirability. However options that individual home users may desire like battles and mini-games are likely to be seen as distractions by team leaders.

An exa

[2013-01-25 17:05] horusofoz commented on #195
I have drafted a proposal of how Skills could be implemented which is available to view at https://docs.google.com/document/d/1jF6ll7GdHNSttF723aJYf5K33MBZusIBylotUjsF60U/pub.

It is a simple system that allows users to tag tasks with a skill and HabitRPG does the work of calculating the skills' development. It would eliminate the set up and complexity required in some of the suggestions above suc

[2013-01-25 17:21] horusofoz commented on #174
I thought I already posted this but can't find the suggestion so please forgive if this is a duplicate posting.

I think an easy way of implementing priority/importance that would be forward compatible with minimal engineering is to add a multiplier based on priority to the existing equations used to calculate HP loss, XP/GP rewards and shading.

For example a three tiered priority system (my pref

[2013-01-25 17:56] Cyberlyme opened #214 "Original Logon information"
Hi there,

Apologies for this but I've been using Habitrpg for a few days now and loving it. Having just installed the chrome extension I was looking for my username to add to it. I couldn't remember exactly what I had used to set up the account and I couldn't see it anywhere so I logged out to try and log back in again.

Everything I tried to use gave me the username not registered error, having

[2013-01-25 17:59] FaeriMagic commented on #43
Hey, no problem! ^^
I just thought it was strange that all of my missing to-dos suddenly reappeared, but I'm glad that the data-loss glitch has been fixed. :) Thanks!

[2013-01-25 18:25] Cecron commented on #204
I like the disease idea, but I also like putting things up on my todo list when I know about them. What if I could add a "start date" that set the first day I actually could start doing anything about it. Then the todo item could be hidden until the "start date" and then it could start turning red and catch the disease. I would also have it only affect my stats once per day so I don't start surfin

[2013-01-25 18:28] racuna opened #215 "Share/Export tasks"
I would love a mechanism to choose some tasks and create a printable list with tasks and his notes. Useful to share by mail too.

[2013-01-25 18:30] racuna commented on #212
+1 Save button (or sync status message too)

[2013-01-25 18:49] Pandoro commented on #107
I really suck at this, but I though the girl in the BQ set looks pretty hideous and not really anything like an adventurer. So I created this. If you like it feel free to use it. It created it based on the BQ set.

![girl](https://f.cloud.github.com/assets/1872333/98367/a7c327d0-671f-11e2-83f8-471d460c99be.png)

If you REALLY like it, I might take the time to give the armor sets a try as well ;)

[2013-01-25 18:52] lefnire commented on #107
nice! i don't see why it sucks in any way, and we need something to get started - so until further notice, that's our girl

[2013-01-25 18:55] superlikelikes commented on #107
I think she looks cute!! Nice work!
On Jan 25, 2013 1:52 PM, "Tyler Renelle" notifications@github.com wrote:

[2013-01-25 18:55] ghost commented on #107
Sweet a pixel artist has been found.
On Jan 25, 2013 12:52 PM, "Tyler Renelle" notifications@github.com wrote:

[2013-01-25 19:14] Pandoro commented on #107
Thank you for the nice comments ;) But this was my first try at pixel art ever :x People like acsargent will probably be by far better at creating new content. I just figured I could give it a try and see where it goes. This is pretty much just the head of the guy and the legs of the guy sticked to the girl with a pony tail. If you are serious about integrating the gender into the game though, I a

[2013-01-25 19:42] abednego opened #216 "List of Habits I've completed today"
So there's Habits I can click on.  One of the defaults, "1h Productive Work" I like, so I left it.  I even have a stopwatch to tell me when I get to one hour, heh.  Problem is, I can't tell if I clicked it or when I clicked it.  I may have clicked it before lunch, but given how forgetful I am I don't know if I did nor not.  So I clicked it again.  Might be cheating myself.

Us ADD folks need to kn

[2013-01-25 19:55] Nelmalih0 opened #217 "Progress Suggestion"
could there also be a progress graph saying how much experience you got per day, in addition to score, because when I first started HabitRPG i set rewards prices pretty fairly, but after a while of using HabitRPG i've added a lot more things to it and now i can get 4 of my rewards every day, so could there be an additional history graph that shows my daily Exp/Gold intake

[2013-01-25 20:07] horusofoz commented on #208
An option to hide dailys that are not set to repeat on that day would also be beneficial as keeps the user focussed on what needs to be done that day.

[2013-01-25 20:27] Andrew565 commented on #155
I was looking at some of the code for this recently, I'll see if I can nail down the problem.

[2013-01-25 20:29] lefnire commented on #155
i realized, you only get this issue if you're not logged into a habit session in the same chrome your'e using the extension. obviously should be fixed, but might be pretty rare

[2013-01-25 20:38] Gragriel opened #219 "Progress Scale Problems"
I see a lot of instances in my Progress graphs of long horizontal lines, which show multiple data points from the same day. This really throws off my sense of time-scale with the graphs. My guess is that the points are plotted with "data point #" or something as the horizontal axis, even though the axis is labelled with dates. Is there a way to plot the points by day or time, so same-day data poin

[2013-01-25 20:55] Nelmalih0 commented on #209
I think Exp Gain is linked to Gold gain so the weapon would increase gold intake too

[2013-01-25 20:57] snicker commented on #155
well, it also breaks any external API calls, ie, 3rd party apps

On Fri, Jan 25, 2013 at 12:29 PM, Tyler Renelle notifications@github.comwrote:

[2013-01-25 20:58] lefnire opened #220 "Preen user document periodically"
The database is getting very large because:
1. The user document gets huge over time - every Habit click and Daily reset records a history entry (per task)
2. Every website visit is a new "staging user" - which is never deleted.

This causes en-masse user updates (cron, re-roll, reset) to go very slowly, or sometimes even fail. To fix this we need to
1. Consolidate history entries periodically by

[2013-01-25 21:01] lefnire commented on #220
I figured I could create a Mongo script for #2 easily, but Racer stores dates as strings (https://github.com/codeparty/racer/issues/42), so we can't do Mongo date comparisons on `user.lastCron`

[2013-01-25 21:03] horusofoz commented on #209
@lefnire Can you confirm the above?

[2013-01-25 21:04] lefnire commented on #155
Ahhh yes, good call

On Fri, Jan 25, 2013 at 3:57 PM, snicker notifications@github.com wrote:

[2013-01-25 21:04] lefnire commented on #209
they are indeed linked. If we add such stats modifiers (i like the idea) we'll need to break the link, which shouldn't be too hard.

[2013-01-25 21:05] horusofoz commented on #60
Believe this is nor resolved. Haven't had any recurrences and no one else has reported any.

[2013-01-25 21:05] #60 closed, assigned to nobody

[2013-01-25 21:07] horusofoz commented on #163
Haven't ha any further occurrences so suspect was a temp issue. Closing ticket.

[2013-01-25 21:07] #163 closed, assigned to nobody

[2013-01-25 21:10] horusofoz commented on #209
Adding another line of digital items would be beneficial. Though in keeping with the current line up will need to be visible on avatar. Not that much space left so possibly boot or amulet?

[2013-01-25 21:13] lefnire commented on #209
line == column?

[2013-01-25 21:13] lefnire commented on #209
easy to put rewards column in tabs, similar to "Todos" remaining / complete

[2013-01-25 21:14] horusofoz commented on #209
Sorry I haven't worded that well.

I meant as in a line of rings or a line of boots.

Using the same terminology there is currently a line of armour (leather, chain, plate, etc).

[2013-01-25 21:15] horusofoz commented on #46
@lefnire I think this ticket can be closed off as the previous database instability issues appear to be resolved.

[2013-01-25 21:16] horusofoz commented on #73
@lefnire Close as appears database instability issues are now resolved?

[2013-01-25 21:17] lefnire commented on #73
let's hang on to this a bit, @Neohuman and @Jesper1337 experienced this yesterday - I'm still writing the tests for this one.

[2013-01-25 21:17] horusofoz commented on #90
@lefnire Last one of these database tickets which I think have been resolved.

[2013-01-25 21:17] lefnire commented on #46
yeah, i think this one got fixed actually. many of the other parts pointed out here are specific bugs in the queue anyway

[2013-01-25 21:17] #46 closed, assigned to nobody

[2013-01-25 21:18] #90 closed, assigned to nobody

[2013-01-25 21:19] horusofoz opened #221 ""Freeze" Header Pane"
_wc8: Vote here for: [Constant Header](https://trello.com/c/mrbELa6J)_
It would be good if the header pane containing HP/XP/Avatar was "Frozen" so when scrolling down list of todos, you could still see your HUD.

[2013-01-25 21:24] horusofoz commented on #143
@Zequez Can you confirm if this is still happening? I've been testing on both Chrome and Firefox and have not been able to reproduce the error.

[2013-01-25 21:26] lefnire commented on #214
@Cyberlyme [email me](https://github.com/lefnire/habitrpg#email) your email address or username you used to sign up with, I'll look into it - you might have been victim to the recent instabilities :( (which are improving dramatically)

[2013-01-25 21:28] horusofoz commented on #102
@ApplePi314 Can you advise if you are still able to reproduce this unusual behaviour?

Also a request for an Undo button has been logged under #158

[2013-01-25 21:31] horusofoz commented on #144
@lefnire Shouldn't this ticket be closed as a duplicate of #56 ?

[2013-01-25 21:32] horusofoz commented on #167
@Jurries Can you confirm if you've had any recurrences of this issue?

[2013-01-25 21:32] lefnire commented on #144
yesm. #56

[2013-01-25 21:32] #144 closed, assigned to nobody

[2013-01-25 21:38] horusofoz commented on #186
@lefnire Close?

[2013-01-25 21:39] Pandoro commented on #107
If desired also available without the flower. I did it like this to somehow distinguish the female from the male character with this armor.
![girl_armor0](https://f.cloud.github.com/assets/1872333/98862/a1e48c56-6737-11e2-9a8e-3b86d1aeb4bc.png)

Should I continue ^^; ?

[2013-01-25 21:40] lefnire commented on #186
ah yes. Cool business guys, makes me feel good :D

[2013-01-25 21:40] #186 closed, assigned to nobody

[2013-01-25 21:41] lefnire commented on #107
:+1:

[2013-01-25 21:43] horusofoz commented on #184
@Neohuman As it appears "Reactivity" to the degree you're looking for is currently outside of the scope of HabitRPG's plans, are you cool with closing this ticket?

[2013-01-25 21:44] ghost commented on #184
For the time being yes but ultimately this will be implemented

[2013-01-25 21:46] lefnire commented on #184
only if it's what many people want

[2013-01-25 21:48] Pandoro commented on #220
I'd say whatever works out best for your! ;) I would not delete users, I see the negative stories how accounts were deleted bla bla bla... Considering these users didn't click stuff? It doesn't matter as their data does not grow, so the main concern will probably be the data of active users? So average seems just fine, I'd even say that you can delete the stuff as I will not be looking back so far

[2013-01-25 21:53] lefnire commented on #220
no no - by inactive, i mean they never _registered_ in the first place. When someone visits the site, it creates a "staged user account" - that way they can play around for a bit, and if they like what they've done so far they can register and it carries in all their data. If they leave without registering, and come back in a week - that non-registered user would have been lost (not deleted) anywa

[2013-01-25 21:54] horusofoz commented on #192
@blackpandemic As it appears most people are settled on the current placemen (no +1's) are you cool to close this ticket?

[2013-01-25 21:56] geebru commented on #192
Of course - if I'm the only confused one, let me wallow in my own confusion :)

[2013-01-25 21:56] #192 closed, assigned to nobody

[2013-01-25 21:58] ghost commented on #184
Good point

[2013-01-25 22:00] horusofoz commented on #184
@Neohuman Not sure we need the ticket reopened. If more users are interested in the feature they'll still be able to comment in the thread, prompting yourself or a mod to re-open. Coolies?

[2013-01-25 22:01] Pandoro commented on #220
In that case I would go for a full on delete ;)  Especially considering their non checked dailies will create data and their habits will be tracked as well right? Probably you can better handle that 1% of new users which gets angry after loosing some stuff after 1 month, then having all active players suffer due to these few.

Btw. about the date stored as strings, is it really so hard to write a

[2013-01-25 22:02] horusofoz commented on #188
@GrandBastard "Unable to reconnect - reload" is your likely cause. Can you close the tab, revisit the page, login and try again to confirm it is now working?

[2013-01-25 22:07] lefnire commented on #220
Not difficult, can be done with map-reduce if we want it as a mongo script, or easier yet if handled by Derby which fetches those fields as a proper date with `model.get('_user.lastCron')`. Maybe a once-a-day server-side poormanscron which uses `model.fetch 'users'... -> _.each users...`. Was just forewarning my initial attempt in case anyone was going to take a stab at it before I return to this.

[2013-01-25 22:08] abednego opened #222 "Logical wrapping of text"
The to-do/task/habit items and associated notes are held to a fixed width.  If the words stretch beyond that boundary they are wrapped by character, not by word.  Makes things look weird/hard to read.

Not a huge issue, but it just looks bad.

[2013-01-25 22:09] lefnire commented on #222
#32

[2013-01-25 22:09] #222 closed, assigned to nobody

[2013-01-25 22:20] ghost commented on #184
Coolies

On Fri, Jan 25, 2013 at 4:00 PM, horusofoz notifications@github.com wrote:

[2013-01-25 22:23] #184 closed, assigned to nobody

[2013-01-25 22:42] horusofoz commented on #71
@Neohuman If skills, classes, expanded digital items range, etc were to implemented, would you feel "Master Levels" with everything re-skinned and stats inflated would still be required?

My thought is the re-playability that game designers are looking for with features like you're describing is to keep gamers playing. HabitRPG is meant to motivate users to complete tasks in real life. I think by

[2013-01-25 22:52] horusofoz commented on #53
I have already posted this elsewhere but this now seems the ticket the Trello card wa based from.

I think an easy way of implementing priority/importance that would be forward compatible with minimal engineering is to add a multiplier based on priority to the existing equations used to calculate HP loss, XP/GP rewards and shading.

For example a three tiered priority system (my preferred system)

[2013-01-25 22:53] horusofoz commented on #53
Suggestion enhancement not already noted from @ZequeZ under #189

"Also, with the party system we could moderate our tasks by averaging. So let's say I set one tasks to difficulty 5, but a friend of mine thinks is a bit far fetched, so he set it's to 3. So it averages at 4."

[2013-01-25 22:54] horusofoz commented on #189
@lefnire Duplicate of #53?

[2013-01-25 22:57] horusofoz commented on #194
@lefnire Shouldn't this be closed as with the other integration requests noted in #169: Master List of Features Requests and on Trello?

[2013-01-25 23:00] ghost commented on #71
With that level of thoughtful input yes I am
On Jan 25, 2013 4:42 PM, "horusofoz" notifications@github.com wrote:

[2013-01-25 23:01] #194 closed, assigned to nobody

[2013-01-25 23:02] lefnire commented on #189
yesm

[2013-01-25 23:02] #189 closed, assigned to nobody

[2013-01-25 23:17] wc8 commented on #204
In some cases, (if I understand right, Michael Linenberger proposes this/explains it better) todos that end up on your todo list for a long time represent expired ideas and should naturally fall to the bottom of your list not become more important overtime. There shouldn't be a penalty in those cases for not doing them or deleting them.

[2013-01-25 23:18] Zequez commented on #143
Still happening, although I think I was able to reproduce the error.

It only happen on "Habits", and it only happen if you create an habit and you immediately change it to positive-only or negative-only, and then you click to fulfill the habit. After you do this doesn't matter if you change it back to "dual", the progression graphic doesn't appear UNLESS you reload the page, but remember, only if

[2013-01-25 23:19] lefnire commented on #204
Bother, I rather liked the idea of diseases :) I'm leaving this up to the
community to decide on though

On Fri, Jan 25, 2013 at 6:17 PM, wc8 notifications@github.com wrote:

[2013-01-25 23:22] mgatten commented on #204
@Cecron: That's pretty much precisely what I was trying to describe with the "I can't start this until xx/xx/xxxx" field. Though I don't think it shoud be hidden, because then you may forget it's there and re-add it. It should just be color coded as a future item, or maybe appear in a separate column.

@wc8: That sort of makes sense, except that many todos are put on todo lists with full knowlege

[2013-01-25 23:36] wc8 commented on #204
@lefnire I am glad you're not giving up on it. I didn't mean to vote against it, just point out a potential wrinkle. I think in some cases it is a good idea.
@mgatten The idea was pointed out to me by someone else, I have to read up on M.L.'s ideas more to fully get it. I know in my own case, I have both "kinds" of tasks. In some cases, a todo was a bad or rough idea and needs pruning or more thou

[2013-01-25 23:48] horusofoz commented on #143
Thank you for the additional detail. Makes determining your issue much Much easier.

Though I never received your error message, I previously encountered the issue where I could not see progress on newer Habits under #210.

Tyler's explanation from that ticket

Also it was advised that +only and -only progress is planned.

You error message is in the console so I suspect it is the expected behavio

[2013-01-25 23:52] wc8 commented on #53
[Party Moderating](https://trello.com/c/2gTPmhHc). Added direct link to main Trello card. [I had a "little" setback to updating Trello, and adding in relevant links, sorry.]

[2013-01-25 23:59] horusofoz commented on #201
@SlappyBag With this now added to Trello, should we close the ticket as appears to be the process with other feature requests that graduate to Trello?

[2013-01-26 00:15] horusofoz commented on #39
Request has been added to Trello. Closing ticket. If required can be re-opened down the track.

[2013-01-26 00:15] #39 closed, assigned to nobody

[2013-01-26 00:19] wc8 commented on #213
Related:
Header Always Visible: #100
Tags or Categories #48

[2013-01-26 00:23] wc8 commented on #215
Enhancement of #132

[2013-01-26 00:28] wc8 commented on #212
Note: Browser refresh or reload (F5, CMD/CTRL+R) will "save" changes so long as the user was not offline when the changes are made. If you see the Offline-Reconnect message at the top of the page, reload before making changes. Then use reload to save changes.
#171 [Update: #171 related to +save button / sync status message, not @abednego's issue]

[2013-01-26 00:35] Pandoro commented on #107
Buuuuh done for today, I hope I can finish the last one tomorrow. Sorry for spamming this thread :-/ Maybe I should fine somewhere else to post this stuff.
![girl_armor1_v1](https://f.cloud.github.com/assets/1872333/99236/ee174a42-674f-11e2-99b6-f7ad7a44ce2e.png) ![girl_armor1_v2](https://f.cloud.github.com/assets/1872333/99237/f5048bf8-674f-11e2-9fce-fffaa1e304de.png)
![girl_armor2_v1](https://f.

[2013-01-26 00:37] wc8 commented on #208
I definitely like hidden completed dailies.
I would appreciate the _option_ setting for hiding repeated dailies, as there may be instances when something is not due but I can do it today.
I like the grey, but I wonder if they could be made even less obtrusive, without totally hiding them, by using a (slightly) smaller font, less padding in the box?

[2013-01-26 00:42] wc8 commented on #221
Same as #100.
Update: Closing for Organization, best to follow up on Trello or in first thread.

[2013-01-26 00:46] wc8 commented on #71
Closing then.

[2013-01-26 00:46] #71 closed, assigned to nobody

[2013-01-26 00:49] Yughurt commented on #207
I was thinking that you would be able to organize dailies based on different aspects of life. Health/Exercise(armour/boots), Work(sword), as opposed to actually different tasks. The running was more of an example of something within this aspect. There would still be some issues I agree... You'd have to make custom tasks (time based: distance based, etc) rather than algorithm setting... just maybe

[2013-01-26 00:53] Yughurt opened #223 "[Issue] Basis for death."
While dying is a sound concept in gaming, if you ever remembered playing for hours and you forgot to save; dying in this is worse. Having tried out dying as a motivational concept, dying makes you want to quit all together. I think that you should simply lose a level (which is a significant amount of work still)

[2013-01-26 00:56] jurries21 commented on #167
No, right now its fine. I leveled up again yesterday and so far my health has stayed fine. Thanks though...really loving this site so far! Its helping me keep on track more then a normal todo list ever has!

[2013-01-26 00:57] wc8 commented on #223
Curious, as one who barely escaped death due to now-resolved bug of hidden todos (now visible again) followed by no internet access until after midnight, what happens on death?

[2013-01-26 01:00] ghost commented on #107
That is awesome
On Jan 25, 2013 6:35 PM, "Pandoro" notifications@github.com wrote:

[2013-01-26 01:16] toebu commented on #73
I found a way to reproduce this problem (the one with the todo's, no idea what happened to the dailys of @Jesper1337):
- Delete all your todos, refresh the page to make sure they are all gone
- Add 3 todos (e.g. 'one', 'two', 'three')
- Tick them off one by one: the last one is checked, but stays in the 'remaining' view
- Unticking it again makes it disappear and some other one duplicate, refreshi

[2013-01-26 01:16] lefnire commented on #107
@Pandoro!!! YEAAH!

On Fri, Jan 25, 2013 at 7:35 PM, Pandoro notifications@github.com wrote:

[2013-01-26 01:17] lefnire commented on #107
that is amazing. we have our female avatars now, haha - that just happened!

[2013-01-26 01:17] #221 closed, assigned to nobody

[2013-01-26 01:19] lefnire commented on #107
I like left - left - right, respectively - what do y'all think?

[2013-01-26 01:20] ghost commented on #107
Same
On Jan 25, 2013 7:19 PM, "Tyler Renelle" notifications@github.com wrote:

[2013-01-26 01:30] Yughurt commented on #223
You go back to level 1, losing all gold and equips. Although you can still buy all the equips previously unlocked.

[2013-01-26 01:49] wc8 commented on #25
@hookang Alicia Gibb's idea would involve in-game coin and real currency right?
If not in-game coin, I do think there should be some way in which users earn the right to purchase the reward.
As noted by Andrew Kenney

[2013-01-26 02:02] wc8 commented on #53
Trello card here [Importance, Priority, Duration/Difficulty, Deadlines](https://trello.com/c/4C8w1z5h)
It may need to be broken up into parts, with links between the cards, but I wasn't quite sure where the best breaks would be. I probably will move Deadlines & Dates to its own card though.

[2013-01-26 02:33] abednego commented on #212
Thanks, wc8.  The order is still lost when I refresh.

[2013-01-26 02:38] wc8 commented on #207
I had thought about suggesting a flexible association/relationship between habits/tasks/skill-building and rewards with similar tags. It might be complicated though.
P.S. Does this relate to #59 insofar as it involves titles?

[2013-01-26 02:45] wc8 commented on #212
Which browser are you using?
If you have any other browsers, does the problem happen there, too?

[2013-01-26 03:02] wc8 commented on #174
@horusofoz you may be referring to your comment here #94, but I think your latest comments help clarify what you meant. I like the multiplier for priority and dates as a way of tracking urgency.

[2013-01-26 03:43] abednego commented on #212
Using chrome.  I think this may have been due to my misunderstanding of how the system works and updates.  As you mentioned, if the offline message is at the top, any changes will be lost.

It appears to be working correctly now that I understand.  I'll keep watching this and trying IE as well to see if the behavior is duplicated.

[2013-01-26 04:53] lefnire commented on #212
To be clear, when all is fixed that won't be how it's supposed to work -
it's supposed to properly reestablish connection and always sync data. It's
just the workaround people have found with my presently buggy-ass app ;-)
On Jan 25, 2013 10:43 PM, "abednego" notifications@github.com wrote:

[2013-01-26 04:55] lefnire commented on #73
Looking forward to your patch! Also check out Racer filters (instead of
refLists, which is the current implementation)
On Jan 25, 2013 8:16 PM, "Tobias Leugger - Vibes" notifications@github.com
wrote:

[2013-01-26 07:47] spaboleo opened #224 "Suggestion: Logging Habits for the previous day (skip back 1d)"
Hey Tyler,

I really love this webapp and so far it helps me to stick to habits. It's fun. :+1:

The only thing that drives me crazy is that it kind of forces me to end my day around midnight, which doesn't necessarily meet my schedule.
I've got some habits that I want to form that are supposed to happen right before I go to bed. Logging them beforehand just to meet the midnight-deadline is not a

[2013-01-26 07:49] horusofoz opened #225 "Internet Explorer 9 Compatibility Trouble"
While trying to create a testing account in IE9 on Win7, I found I was unable to open the Login/Register dialog. Pressing the button gave no response. Clearing cache, closing/re-opening IE has not fixed it.

Can anyone confirm this behaviour?

Browser: Internet Explorer 9.0.8x
Operating System: Windows 7 Ultimate 64-bit (fully patched)

[2013-01-26 08:19] GrandBastard commented on #188
It seems to be working now, however I had tried reloading new tabs at the time.
Thanks for the great work

[2013-01-26 10:54] StanLindsey commented on #201
Yeah, its a bit of a grey area as sometimes discussions are very much alive here on Github so I keep them open. But as I caught this one early the discussion can move on Trello. =D Thanks.

[2013-01-26 10:54] #201 closed, assigned to nobody

[2013-01-26 11:01] StanLindsey commented on #224
Hi spaboleo, thanks a bunch for your input. You're not the first to suggest this feature so it must be important, check out the card on Trello: https://trello.com/c/CaAm7APS

Trello is where you can vote for the features most important to you. We're glad you're enjoying HabitRPG =D

[2013-01-26 11:01] #224 closed, assigned to nobody

[2013-01-26 11:03] horusofoz commented on #188
@SlappyBag Can you close this ticket please?

[2013-01-26 11:09] StanLindsey commented on #220
Would it be possible to maybe "archive" data from live users after a certain time period. Export them as after a number of days the entries are static anyway?

[2013-01-26 11:10] horusofoz commented on #139
@hookang @lefnire Has anyone considered whether or not we're likely to implement what the user is asking for?

My thought would be a Reset confirmation dialogue explaining what a Reset does and offering a Re-roll if that is what the user is looking for.

@mgatten Can you advise if a Re-Roll is what you were looking for when you chose Reset? As there is no "activity log" at this stage your desire t

[2013-01-26 11:10] toebu commented on #73
You're right, it might be better to get completely rid of the refLists. I'll check out the filters. But for now my fix should do it.

[2013-01-26 11:14] StanLindsey commented on #217
I've moved this item over to Trello as we already have a card on the subject of progres views: https://trello.com/c/h0pezwDR

Thanks for your suggestion and for using HabitRPG =D

[2013-01-26 11:14] #217 closed, assigned to nobody

[2013-01-26 11:17] StanLindsey commented on #216
Good idea, a little display that shows how many times you've upped/downed today on the task would be good.
I've added this to Trello, thanks for the suggestion!
https://trello.com/c/h0pezwDR

[2013-01-26 11:17] #216 closed, assigned to nobody

[2013-01-26 11:25] horusofoz commented on #167
@jurries21 You're welcome :)

@SlappyBag Can you close this ticket please?

[2013-01-26 11:26] StanLindsey commented on #211
Firstly; thanks for raising the issue. Secondly they are all suggestions and to to other priorities we haven't sat down and properly designed how some of the larger features will fit in.

My personal thought is that many of the features are opt in. Don't want to use a party then don't set one up. Don't want integration with social networks then don't share your stuff.

I foresee the options menu w

[2013-01-26 11:32] StanLindsey commented on #167
@jurries21 - =D Glad it sorted itself out and we love that you're enjoying it so much =D

Thanks for the heads up @horusofoz

[2013-01-26 11:32] #167 closed, assigned to nobody

[2013-01-26 11:33] StanLindsey commented on #188
Aha. Thanks @horusofoz =D

[2013-01-26 11:33] #188 closed, assigned to nobody

[2013-01-26 11:41] StanLindsey commented on #215
I've updated the Trello card with the option to print. Thanks for the suggestion @racuna.

https://trello.com/c/29qEE1DF

[2013-01-26 11:41] #215 closed, assigned to nobody

[2013-01-26 11:44] StanLindsey commented on #213
You're not the first to suggest these @Abednego =D

Vote for these issues on Trello at:
https://trello.com/c/mrbELa6J
https://trello.com/c/q7v02jAw

I'm going to close this issue for the sake of Housekeeping, but know we appreciate all feedback - even if its repeats as that just means the suggestion is important!

[2013-01-26 11:44] #213 closed, assigned to nobody

[2013-01-26 12:09] horusofoz commented on #98
@the-economancer Can you agree that your recommendations fall under the following labels?
- Library of Habits/Dailys/Todos/Rewards anonymously crowd sourced from users' databases for the purpose of providing inspiration to other users.
- Categorisation or tagging of tasks/rewards for analytical purposes and easy identification. See #48 and [Trello 43](https://trello.com/c/q7v02jAw).
- An RPG class

[2013-01-26 12:12] horusofoz commented on #150
@vndtta It would appear this is covered under [Trello Card 81](https://trello.com/c/29qEE1DF). Are you cool for us to close this ticket and discussion to continue there?

[2013-01-26 12:13] Pandoro commented on #107
![girl_armor4_v2](https://f.cloud.github.com/assets/1872333/99717/8e3d8c78-67b1-11e2-8657-3069a464082c.png) ![girl_armor4_v1](https://f.cloud.github.com/assets/1872333/99718/8e854cca-67b1-11e2-87bd-f4f0a8bf43ff.png)

So here is the last one. This one... was the hardest to do in my opinion. The problem was that somehow the damn thing kept looking like a male character. I hope you like it, if you ha

[2013-01-26 12:13] Vndtta commented on #150
Sure

[2013-01-26 12:24] horusofoz commented on #183
@wc8 @SlappyBag Since this has now graduated to Trello I think we can close this ticket.

@racuna For further discussion see Trello Card 60 [Record Yesterday's Accomplishments](https://trello.com/c/CaAm7APS).

Note at time of writing (10:53 PM 26/01/2013 CST) it already has 10 votes making it the 5th most highly voted feature out of 79.

[2013-01-26 12:26] #183 closed, assigned to nobody

[2013-01-26 13:07] horusofoz commented on #174
@wc8 You're right on both counts. Thanks.

[2013-01-26 13:17] #169 closed, assigned to nobody

[2013-01-26 13:25] the-economancer commented on #98
sure

[2013-01-26 13:25] #98 closed, assigned to nobody

[2013-01-26 14:16] Pandoro commented on #209
Considering I have been working on some of the pixel art, I think it is "fairly" easy to split up the helmets and the body armor. Boots and rings are something I regard as next to impossible with the current resolution of the characters. Funny enough though, 1 Pixel is currently represented by 3x3 pixels. There are a lot of possibilities, but this would also mean a LOT of work in my opinion and it

[2013-01-26 14:21] horusofoz commented on #211
@SlappyBag I understand this suggestion is looking far ahead and as @lefnire advised it could be very difficult to implement. Let me try to explain why with these considerations in mind I feel this suggestion is worthy of implementation.

I think a slider option for enabling bundled features would reduce the testing/troubleshooting overhead in the future when some of the suggestions become live fe

[2013-01-26 14:22] horusofoz commented on #211
While rereading my above response a simple yet elegant solution (my favourite kind)  has occurred to me. All options are active for all users. When they opt-in/out the function is simply hidden/displayed. That way all data is still collected, calculated and accessible to other dependant features. Also this way if a user enables the feature down the track there is no unintended consequences.

[2013-01-26 14:22] horusofoz commented on #211
@lefnire I agree the unlocking mechanism needs to be in place to guide uesr's into functions gradually. Pandoro's suggest  [above ](https://github.com/lefnire/habitrpg/issues/211#issuecomment-12709064) is I think a good one for maintaining the unlock mechanism without affecting opt-in/out.

[2013-01-26 14:27] StanLindsey commented on #211
You're an asset to this board @horusofoz thanks for taking the time for all this.

Depending on the implementation I don't suppose it would be too hard, I assume each "release" would target a certain feature and therefore all of the code specific to that feature could essentially be locked down/enabled separately. Almost like an expansion pack.

E.g. one release we focus on Parties, because all th

[2013-01-26 14:38] horusofoz commented on #211
@SlappyBag Thanks for the kudos.

Your explanation of targeting specific features with each release is spot on. This method enables the feature's code to be relatively self contained and tested against all existing code.

[2013-01-26 14:40] horusofoz commented on #150
@SlappyBag Can you close this ticket please?

[2013-01-26 14:40] StanLindsey commented on #211
Exactly, so hopefully the code will naturally fit into your suggestion as long as we keep it in mind in development.

[2013-01-26 14:41] #150 closed, assigned to nobody

[2013-01-26 14:45] horusofoz commented on #98
@SlappyBag Can you please raise a Trello card for "Library of Habits/Dailys/Todos/Rewards anonymously crowd sourced from users' databases for the purpose of providing inspiration to other users." and reference this thread?

[2013-01-26 15:16] StanLindsey commented on #98
https://trello.com/c/dwIeOjZQ

[2013-01-26 15:23] horusofoz commented on #183
Suggestion for a quick/nasty graphical implementation. When applied to dailys there would need to be a condition in place to ensure the option would only appear if the daily was not actioned the before.

![Image 1](https://f.cloud.github.com/assets/3202339/99863/2d64f336-67cb-11e2-9645-31f26e072983.png)

How one would implement the DB side of things so user recovers the lost HP, receives rewards a

[2013-01-26 15:40] Pandoro commented on #211
Nice discussion going on here ^^ it worries me a bit that @lefnire  gives his opinion though ;)

After thinking about this for a little while longer, I think it should be easy to implement in same cases, just as I suggested earlier. However I would go away from the slider a bit. The problem with the slider would mean you would always have to go one step further than the last point. The question re

[2013-01-26 16:25] mgatten commented on #139
This is really only an issue for rank beginners. But, since we hope there will always be a large cadre of new users flocking to the site every day for at least the next 50 years or so, I'd still like to see it addressed. The impression currently given is that the reset will make your account look like it did the first time you logged in. The first thing a new user is most likely to do is play arou

[2013-01-26 16:43] horusofoz commented on #211
@Pandoro I appreciate the input and I apologise as I didn't explain with the opt-in/out method outlined [above](https://github.com/lefnire/habitrpg/issues/211#issuecomment-12735919), the slider concept becomes redundant.

I think the hide/display option is optimal as;
- it minimises coding required to implement,
- ensures no bugs caused by opting in/out,
- users can switch functions back and forth

[2013-01-26 16:49] horusofoz commented on #139
@mgatten Great ideas. We'll have to wait to for the devs to decide.

[2013-01-26 17:20] ghost commented on #107
@Pandoro that is awesome

[2013-01-26 17:27] superlikelikes commented on #107
awesome! I agree: left, left, right - so, when do i get to be a girl? LOL

[2013-01-26 18:04] superlikelikes commented on #181
I'll work on making a little mock up later today to better illustrate my idea.

My basic idea here is having the ability to upload our own pictures to use as icons for our profiles, habits, daily, to do, rewards... in addition to what you already have (name, description, plus/minus) . I'm a visual person. Video games are very visual (obviously)...

<-- what is the size of my icon here in this foru

[2013-01-26 18:35] abednego opened #228 "I got hurt but I don't know why..."
I'm sure this has been mentioned before, and if so, please forgive me.

I logged on this morning after breakfast and I took some damage.  But I don't know why.  It would be nice to know why, so I can make sure I don't take damage tomorrow for the same reason.

Thank you!  I'm totally stoked about this game.  :)

[2013-01-26 18:38] lefnire commented on #107
I'll add it soon :) It'll be a shoe-in for facebook users, i'll need to add
M F button on user -> settings for other users. Stay tuned

On Sat, Jan 26, 2013 at 12:27 PM, superlikeslikes
notifications@github.comwrote:

[2013-01-26 18:46] StanLindsey commented on #228
We're looking into displaying a "history" of your user so that we're can find out if this is an actual bug or just an unknown.

Have a look at the card on Trello https://trello.com/c/h0pezwDR

[2013-01-26 18:46] #228 closed, assigned to nobody

[2013-01-26 20:00] superlikelikes commented on #181
![habit rpg mockup copy](https://f.cloud.github.com/assets/3335116/100180/a0ac12bc-67f2-11e2-877a-55ee98a0a567.jpg)

I'm going to take a break for a while, but I played around with the idea...
Imagine you can hover over certain things to get the option to upload or add/change an image,
Imagine that as you click on a task and it opens up (like it does now) the option to submit to public would be in

[2013-01-26 20:11] ghost commented on #181
Hmm interesting concept but then the point of the current graphics would be
null and void.
On Jan 26, 2013 2:00 PM, "Kari" notifications@github.com wrote:

[2013-01-26 20:13] superlikelikes commented on #181
I believe that sticking to just the current graphics limits everyone.

There is absolutely nothing wrong with keeping the original graphics.
I encourage it. Everyone new who signs up would obviously start out with them.

PS - with it being user created... there would be no legal issues. No one is going to sue me if i use mario as an icon on a messageboard, facebook, twitter, etc... so why would it

[2013-01-26 20:24] lefnire commented on #225
yeah, this is gonna be a tough one. Derby has [experimental IE support](https://groups.google.com/forum/?fromgroups=#!topic/derbyjs/3r4PJZpbzgQ), let's come back to this one later - I may have to put up one of those "use a new browser" modals

[2013-01-26 20:26] lefnire commented on #220
i'll look into that, but the reason I think we should _delete_ >1mo non-registered users is that their browser will have lost that session anyway when they revisit the site, so they have no way of recovering it anyway - it's lost in space.

[2013-01-26 20:28] lefnire commented on #73
Awesome. PS, filters will only be applicable in todos + completed: we need
refLists for the four general lists in order to maintain sort order in the
database.

On Sat, Jan 26, 2013 at 6:10 AM, Tobias Leugger - Vibes <
notifications@github.com> wrote:

[2013-01-26 20:30] lefnire commented on #209
i agree with the chest idea. or a backpack or something - bring up a Bootstrap Modal showing your equipped items, but you can only view the sort of "macro" equipment on your avatar.

[2013-01-26 20:35] rixx commented on #146
Hm, the first time I hit the button, it reloads the page to habitrpg.com/#login-modal

However, I still don't see a login, not even with scrolling around and along the borders.

[2013-01-26 20:43] wc8 commented on #181
[As far as the avatar:] There's a current plan beyond the currently visible graphics. If I understand right, the plan is for the "avatar" to change with levels, skills, etc. see #74 and #107. User chosen graphics for the avatar would conflict with that, wouldn't they?

P.S. Nice to see possibilities with the header, though. On the other hand, I wonder how the width would work in the mobile app.
P.

[2013-01-26 20:51] wc8 commented on #209
Note by wc8: [Chest for Reward Items](https://trello.com/c/2brf9FNW)

[2013-01-26 21:05] wc8 commented on #132
Print options included here: https://trello.com/c/29qEE1DF

[2013-01-26 21:14] lefnire commented on #181
Yeah, for the reason pointed out by @wc8 we can't implement this strategy
because it will conflict with the current avatar customizations plans,
which is a big part of the game experience, and also part of the business
model. Users improve their avatar visual appearance as they play. We can
talk about task icons though, what does everyone think of this?

On Sat, Jan 26, 2013 at 3:43 PM, wc8 notifi

[2013-01-26 21:14] wc8 commented on #181
I very much like the task icons.
P.S. That would be an area where custom user icons & sharing could be useful, as it is hard to find appropriate icons sometimes.

[2013-01-26 21:21] lefnire commented on #211
We should create a Trello card so we can cast votes. In full disclosure I don't see this happening anytime soon - it makes me nervous re: difficulty, and I think more people than not will want the whole game. Important to keep the convo rolling here, could be people want this after all.

[2013-01-26 21:24] superlikelikes commented on #181
I do understand what your current plan is. I respect it.
I just wanted to give you an alternative to consider.

From what I've read, it seems to me it might be a lot of work on the programmer's end:
Implementing all the customizations available for a 16 bit character and having them co-inside with your level, the equipment you buy, and so on could be a time consuming process to create, troubleshoo

[2013-01-26 21:27] lefnire commented on #181
oh, of course you didn't offend! hope i didn't sound smack-down. We'll keep this convo going, something to consider. Ps, Marle :+1: I'm glad to see many of the Habit users are Chrono fans :)

[2013-01-26 21:36] lefnire commented on #181
also, depending on y'all opinions - we may want to put items, equipment, and stats into a Bootstrap Modal to save interface clutter, a backpack icon which brings up Equipment (like this [WoW screen](http://spicytunas.com/wp-content/uploads/2009/03/equipment-manager-1.jpg)). You can similarly click an Allie's avatar and bring up their equipment/stats.

[2013-01-26 21:55] wc8 commented on #211
[Gamification Options](https://trello.com/c/EKxy5lYI).

[2013-01-26 22:02] lefnire commented on #181
more i think on it, a custom avatar in the traditional sense (your recommendation) would be nice in _some_ location of the app. Hmm..

[2013-01-26 22:04] superlikelikes commented on #181
Thanks! You want to buy a mousepad? JK

Seriously, this is what I would like to do for you:

I'm going to clean up that screenshot just a tad and then I'll upload on my deviantart, from there toss it i'll over to tumblr to help promote your project (fully disclosing this isn't an official screen shot, it is only my fan made concept by me).

I don't have a huge enormous following of game nerds onli

[2013-01-26 22:30] wc8 commented on #181
By the way, I think it would be great if there were more variations in the avatar. There have been a few comments (here and on other sites) about disappointment at the lack of choice for complexion and gender. Boy/girl #107 will probably help, I wonder if medium and darker tones as well as a green would give a little variation without creating too much complication for the designers?

[2013-01-26 22:31] lefnire commented on #181
Could use CSS3 Hue filter as a stop-gap.

On Sat, Jan 26, 2013 at 5:30 PM, wc8 notifications@github.com wrote:

[2013-01-26 22:47] StanLindsey commented on #220
Yeah i agree with that, I was commenting on live users though.

[2013-01-26 22:58] lefnire commented on #220
ah, i see - good thinking

[2013-01-26 23:03] wc8 commented on #211
As someone else said in another thread, all the RPG features need to add to, rather than interfere with, productivity.  If the gamification is clearly tied to productivity, an enterprise will be more likely to tolerate/appreciate it.

 As @horusofoz said, "As new features are added discussion can be had as to which level the feature falls into." I wonder if a few of the relevant features need to b

[2013-01-26 23:18] wc8 commented on #181
Users can vote here for [Task icon feature](https://trello.com/c/FCVdjdUd). I added a version of the above image focusing on the icons for tasks to help explain the feature. (I trust that's ok.)

[2013-01-26 23:42] wc8 commented on #223
I wonder if there could be incentives for getting restarted and a banner/notification to that effect:
For example,
- Every habit completed after death is worth twice as much
- Completing all your dailies that day results in one item of equipment being restored
- completing an old todo gives a half-price on one item (not a real currency item, items such as, "potion", "armor")

[2013-01-26 23:43] hookang commented on #107
@pandoro awesome!

[2013-01-26 23:50] wc8 commented on #169
Is there a Trello limit on how many times users can vote? A couple have mentioned having issues voting on items.

[2013-01-26 23:55] hookang commented on #169
Also weird when I tried to vote it went from 9 to 8.

On Sun, Jan 27, 2013 at 8:51 AM, wc8 notifications@github.com wrote:

[2013-01-26 23:56] lefnire commented on #169
hoh boy.

On Sat, Jan 26, 2013 at 6:55 PM, hookang notifications@github.com wrote:

[2013-01-27 00:10] wc8 commented on #181
[Custom **Profile Picture**](https://trello.com/c/lrIqemFX)—to be different from user's in-game icon/avatar
Any other features to glean from this thread to be added to Trello?

See also [Market for Shared Items](https://trello.com/c/9Leb2poC)

[2013-01-27 00:44] wc8 commented on #61
@horusofoz I added [Profile Page](https://trello.com/c/9LNJafFM)

[2013-01-27 01:11] wc8 commented on #77
See also request for [Custom Profile Picture](https://trello.com/c/lrIqemFX) and [this comment](https://github.com/lefnire/habitrpg/issues/181#issuecomment-12743635) and the reply following.

[2013-01-27 01:14] wc8 commented on #97
See also request for [Custom Profile Picture](https://trello.com/c/lrIqemFX) and [this comment](https://github.com/lefnire/habitrpg/issues/181#issuecomment-12743635) and the reply following.

[2013-01-27 04:36] wc8 commented on #177
See [Urgency: Dates & Deadlines](https://trello.com/c/i6kXvNY2) and [Google Calendar](https://trello.com/c/vtJv2DyY) and/or [Google Tasks](https://trello.com/c/l7UsVY8E)

[2013-01-27 04:52] abednego opened #230 "Suggestion for Repeating Tasks"
I think there's a lot of possibilities for the Repeating tasks.  Options such as a task that would repeat every two days rather than just certain days of the week, or tasks that would appear once a month.  I'd suggest taking a look at the options that Outlook (the email program) gives for Reoccurring tasks and duplicate, if possible, most of what they have there.

For example, I'd like to enter a

[2013-01-27 04:55] wc8 commented on #230
See #19

[2013-01-27 05:01] wc8 commented on #19
Update by wc8: Vote here: [Repeat every "n" days](https://trello.com/c/XuVokK2V)
Related #208

[2013-01-27 05:03] abednego opened #231 "Bought a sword, but how can I tell I bought the sword?"
I _think_ the sword is a bit bigger.  I was wondering if it would be a good idea to implement something where, if you hover over your avatar/character it would display a list of all the doo-dads he's wearing or has equipped?  Also, once I've purchased the sword, it should disappear from my list.  It didn't, initially.  But I logged out and logged back in and now there's an axe in the list so it lo

[2013-01-27 05:09] abednego opened #232 "Task repeat button setting"
I'm not sure I understand, even with the color of the task itself, whether or not a task is set to be due on a particular day or not.

Is a task due when the day button looks pressed in, or out?

For example, when would these tasks be due?  All the weekdays, or just weekends?

![Capture](https://f.cloud.github.com/assets/3382838/100635/a1649f56-683f-11e2-976f-4b2277ef86f6.PNG)

Sorry for the dumb

[2013-01-27 05:19] wc8 commented on #208
See also [Option: Hide Until Due](https://trello.com/c/G14jkPYd)

[2013-01-27 05:26] wc8 commented on #94
@Spellchaser & @JamPol see #181

[2013-01-27 06:38] coolandsmartrr opened #233 "Buying Weapons: GP spent, but didn't receive weapon"
One incentive to keep playing this game is to accumulate wealth by completing tasks. Yet, when I spent 20 Gold to get sword 2, the money disappeared while I haven't obtained the weapon. Sword 2 is still available for sale, and I still hold the default sword. Could this bug get fixed soon?

[2013-01-27 11:02] horusofoz commented on #233
Can you log out, clear your browser cache and log back in to confirm the issue persists?

[2013-01-27 12:04] horusofoz commented on #146
I can confirm your issue after testing on my S2. The button "presses" (turns yellow for a second) but no further action.

I suspect the issue is caused by a bug in [Derby](http://derbyjs.com/) as the symptoms are identical to that reported [here](https://github.com/lefnire/habitrpg/issues/225) for Internet Explorer. Derby is the framework used to build HabitRPG.

Alas, we can only build so much Aw

[2013-01-27 12:06] PiNotEqual3 opened #234 "Confirm message before delete"
If you miss click delete on task, habits, ... it gets deleted without delay and there is no way to undo this. For good reasons this is a stand behavior in any application. Would be nice to have this here too. Otherwise you might lose an important habit and its history.

This would fix it:

[code]

[2013-01-27 12:10] rixx commented on #233
Same thing happened to me, however a reload of the page fixed it. It becomes more aparent if you buy something that makes you look different – you get the item immediately, but it takes a reload to update the shop.

[2013-01-27 12:12] rixx commented on #232
The way it is now, the task is due every weekday.

Tasks are active when the button of the respective day is pressed.

(It took me some time to get it, too.)

[2013-01-27 12:15] rixx commented on #223
Sounds good except for your first point: If every habit was worth twice as much after dying, you might consider suicide if you were close to death anyway.

[2013-01-27 12:26] rixx commented on #204
I'm all for due dates (in fact I came here to suggest this). This way, big tasks that take a long time will still give you loads of points, if you remember to put them in early.

After crossing the due date they could first lose their value gradually until they actually get harmful. Shouldn't be even that hard to implement once the due date is established as an attribute.

[2013-01-27 12:34] coolandsmartrr commented on #233
I reloaded, and sword 2 got replaced by an axe. However, it seems that the graphic hasn't changed at all.

[2013-01-27 12:36] horusofoz commented on #233
@rixx @coolandsmartrr Can you advise if your using your phone or a computer to access the website? Android, iPhone, Windows, Mac OSX, Ubuntu Linux, etc.

Also what web browser are you using? Firefox, Safari, Chrome, Internet Explorer, etc.

Thank you for taking the time to help us, help you :)

[2013-01-27 12:37] rixx commented on #233
Sword2 looked pretty much like the first sword for me, too.

[2013-01-27 12:41] horusofoz commented on #233
The Sword2 graphic is basically a larger sword.Open the website in an alternate browser and compare the sword from the demo page to confirm the graphic has changed.

[2013-01-27 12:58] horusofoz commented on #170
Bug confirmed. To reproduce open a new account and spam the "- eat junk food" habit button.

Due to low likelihood.impact of bug I'm tagging to be attended "later".

[2013-01-27 13:04] horusofoz commented on #152
If confirmed, I think this bug needs to be escalated as important if not critical.

It affects all users and could cause some unjustified executions.

Can a dev perform a controlled test? I don't have your mad skills.

[2013-01-27 13:09] horusofoz commented on #212
@abednego I recommend against using IE. The framework used for HabitRPG (Derby) has limited support for Internet Explorer and does not plan to resolve until IE10.

[2013-01-27 13:14] horusofoz commented on #93
Testing has showed that while store is not initially locked down, a refresh locks it back down again.

Would a forced refresh following reset resolve the issue?

[2013-01-27 13:17] horusofoz commented on #196
@nelmalih0 With a [Trello Card](https://trello.com/c/YSXfecBt) up for this suggestion, are you cool with this ticket being closed?

[2013-01-27 13:27] horusofoz commented on #130
@Neohuman @mfcovington
@lefnire advised [here](https://github.com/lefnire/habitrpg/issues/210#issuecomment-12703957);

Can you confirm this explains your issue?

[2013-01-27 13:37] horusofoz commented on #193
For the +/- buttons request, either option can be toggled under edit task as per below:
![Image 2](https://f.cloud.github.com/assets/3202339/100903/090c9424-6886-11e2-9f47-148caff1d746.png)

For templates, would this [idea](https://trello.com/c/dwIeOjZQ) encompass your proposal?

With the above in mind, would you be cool closing this ticket?

[2013-01-27 13:46] horusofoz commented on #176
Issue resolved as both users now able to register accounts.

[2013-01-27 13:46] #176 closed, assigned to nobody

[2013-01-27 13:47] horusofoz commented on #202
Suggestion and discussion moved to [Trello](https://trello.com/c/FwSlQrR5).

[2013-01-27 13:47] #202 closed, assigned to nobody

[2013-01-27 13:50] horusofoz commented on #187
@racuna Any recurrences?

[2013-01-27 13:55] horusofoz commented on #209
Graduated to [Trello](https://trello.com/c/2brf9FNW).

[2013-01-27 13:55] #209 closed, assigned to nobody

[2013-01-27 14:10] ghost commented on #130
No I already checked that thanks
On Jan 27, 2013 7:27 AM, "horusofoz" notifications@github.com wrote:

[2013-01-27 14:18] horusofoz commented on #102
@ApplePi314 Apologies. I wrongly cited you in my previous comment.

@Jesper1337 Can you advise if you are still able to reproduce this unusual behaviour?

[2013-01-27 14:30] horusofoz commented on #223
Possibly a motivational message or two in the "Game Over" message to get users to want to try again.

Examples:
- “Never give in, never, never, never, in nothing great or small, large or petty, never give in except to convictions of honour and good sense. Never Yield to a force; never yield to the apparently overwhelming might of the enemy.”  ― Winston Churchill,
-  “Many of life's failures are pe

[2013-01-27 14:36] StanLindsey commented on #230
More task management is planned. Thanks for the suggestion though.
Make sure to vote on the card on Trello if its important to you:
https://trello.com/card/repeat-every-n-days/50e5d3684fe3a7266b0036d6/108

Issue closed for housekeeping

[2013-01-27 14:36] #230 closed, assigned to nobody

[2013-01-27 14:38] StanLindsey commented on #232
I fumbled on this also. I think a slight tweak of the design may solve this. I'm going to keep this issue open as its a very minor bug/design flaw.

[2013-01-27 14:40] StanLindsey commented on #233
The graphic does change, it is just extremely similar, if the item in the shop has then you've upgraded properly. I'm fairly sure the whole character customisation and store items will be rebuild at some stage so this will be fixed.

[2013-01-27 14:41] rixx commented on #233
Two days ago, it didn't change for me when I bought my axe.

[2013-01-27 14:43] StanLindsey commented on #231
Check #233

The sword does change it is just that the second swords graphic is only slightly larger than the first.

I'm going to close this issue has there is a discussion already at #233

[2013-01-27 14:43] #231 closed, assigned to nobody

[2013-01-27 14:44] horusofoz commented on #233
@rixx Can you advise if your using your phone or a computer to access the website? Android, iPhone, Windows, Mac OSX, Ubuntu Linux, etc.

Also what web browser are you using? Firefox, Safari, Chrome, Internet Explorer, etc.

I assure you we will be able to resolve your issue sooner with this info.

[2013-01-27 14:44] StanLindsey commented on #190
Closed, check the discussions in Trello and remember to vote for your favourite!
https://trello.com/board/habitrpg/50e5d3684fe3a7266b0036d6

[2013-01-27 14:44] #190 closed, assigned to nobody

[2013-01-27 14:44] rixx commented on #233
Firefox on Arch Linux.

[2013-01-27 14:47] StanLindsey commented on #233
(Labled as bug due to either character's weapon not upgrading or character image not representing current weapon)

[2013-01-27 14:55] horusofoz commented on #233
@rixx Thank you.

@coolandsmartrr Can you provide your OS and browser info? It helps to isolate the issue.

[2013-01-27 15:10] horusofoz commented on #199
@Pandoro Would you consider rare items covered by [Trello Card 100](https://trello.com/c/2brf9FNW)?

Items that change themes or aesthetics beyond the avatar are not currently under consideration so can you clarify that this covers all "items" not covered by [Trello Card 100](https://trello.com/c/2brf9FNW)?

@SlappyBag Can you create a Trello card for Crafting? Suggested summary: Items that cannot

[2013-01-27 15:18] lefnire commented on #152
will test when i get a moment

On Sun, Jan 27, 2013 at 8:04 AM, horusofoz notifications@github.com wrote:

[2013-01-27 15:20] horusofoz commented on #199
Personally I think crafting would be too far into game over productivity territory. For a game it's a great suggestion which is why it's integrated into all the RPGs I play these days but I can't see it adding to my productivity. It would take focus away from GTD in favour of targeting materials to create items.

Additionally if an extended item store were implemented with an equipped inventory+ba

[2013-01-27 15:20] lefnire commented on #234
if your task has any history items, or is below a certain value threshold - it asks you. basically you can only quick-delete your task if you only recently created it. I can change that if that's what people want.

[2013-01-27 15:25] lefnire commented on #146
yep, happening on mobile. just using some standard bootstrap, will look into

[2013-01-27 15:35] horusofoz commented on #234
I think a confirm deletion dialogue regardless of history would probably be preferred by new users. It may get annoying when deleting the example tasks but better that than accidentally deleting new tasks which I know I have done multiple times.

[2013-01-27 15:37] PiNotEqual3 commented on #234
Ah sorry, I did not see that. Sounds good! I would leave it as it is.

[2013-01-27 15:40] horusofoz commented on #234
As original requester has withdrawn request, I figure close this ticket. My thinking is "nice to have" rather than need. Close her up @lefnire.

[2013-01-27 15:41] horusofoz commented on #130
@Neohuman Can you confirm if the affected habits are "+" or "-" only?

[2013-01-27 15:42] #234 closed, assigned to nobody

[2013-01-27 16:22] ghost commented on #130
It does indeed
On Jan 27, 2013 9:41 AM, "horusofoz" notifications@github.com wrote:

[2013-01-27 16:45] abednego opened #235 "[Suggestion] Sorting to-do's by due date"
The colors are helpful, to be sure.  I'm sure this has been suggested before.  I appreciate you guys' patience with my suggestions.

It would be nice if the lists were able to be sorted by date, I guess most specifically the to-do list, to show what's needed to be done today, as opposed to tomorrow or next week.

Thanks.

[2013-01-27 17:59] atuttle opened #236 "didn't level up when I hit 20/20 exp?"
I'm level 1, on the cusp of level 2. This morning, this happened:

![](https://www.evernote.com/shard/s240/sh/49c08a05-e7d8-4b0b-945a-d05f08d301a9/dfe950a9b528ac22545c5df72645999a/deep/0/Screenshot%201/27/13%2012:54%20PM.jpg)

It still looks exactly like this after a refresh, too.

I got my last EXP point from a habit `+`, and the habit in question doesn't have a `-` option -- if that helps debug.

[2013-01-27 18:21] svemir commented on #236
I think it goes up on your NEXT point.

[2013-01-27 18:22] lefnire commented on #236
one current bug is that any API modification to your stats (eg, chrome extension) don't level you up - only manual habits. sounds yours was manual, might be what @svemir pointed out.

[2013-01-27 20:07] lefnire opened #237 "create a model.update racer function"
#80 and https://github.com/codeparty/derby/issues/152 still vex us, we've optimized as many `.set()` operations as we can - but still with `set` as our only operation, the two alternatives are small `.set`s vs replacing the document whole-sale, since Racer doesn't have a `model.update` function. This is very suboptimal, and if an `update` function existed it would save us a lot of db load by produ

[2013-01-27 20:17] mfcovington commented on #130
For me, the only ones that are not working are the habits with both `+`/`-`, whereas `+`-only habits show the graph as expected (I don't have any `-`-only habits that have been clicked, yet). I changed habits from one to the other and they still kept the behavior from before the change (i.e., changing didn't fix the problem).

[2013-01-27 20:24] StanLindsey commented on #235
This sort of functionality is being discussed over on Trello, have a look at the card and vote for it at:
https://trello.com/c/i6kXvNY2

Thanks for the suggestions, don't worry about us having to be patient, its fantastic to see the community arising around HabitRPG.

Closed for housekeeping.

[2013-01-27 20:24] #235 closed, assigned to nobody

[2013-01-27 20:26] StanLindsey commented on #236
Yeah, I experienced this with the Chrome Extension, after you complete a task manually it'll all cross over.
I mentioned it here
https://github.com/lefnire/habitrpg/issues/141

I'm close my one and label this as bug as this issue has more detail/discussion.

[2013-01-27 20:34] dbueller opened #238 "[Suggestion] XP/Gold bonus"
I was thinking that it might be nice to give an XP or Gold bonus if you complete all of your daily tasks.  The bonus would only apply if you have more than some minimum number of dailies.

[2013-01-27 20:37] mgatten commented on #238
+1

[2013-01-27 20:42] mgatten commented on #236
I've seen this on every level up - not using any API. The first time, I thought it was a bug. By the third time I figured it was just working as designed. For instance, the top of level 4 is eighty. It's like level four contains slots for 80 points. When you fill up all those slots, you're still level four. You don't go up until you overflow the slots with your 81st point. And then that one goes i

[2013-01-27 20:45] mgatten opened #239 "Suggestion: Cumulative experience points"
It would be really nice if the experience point total was cumulative instead of starting over at zero every level. That's the way most games work.

Having zero experience points really isn't very motivating. It almost feels like taking a step backwards when you level up.

With a cumulative total I would be able to "see how far I've come". It would be a lot more satisfying.

[2013-01-27 20:58] Gragriel opened #240 "Daily Bug"
My dailies are failing to update with server, so I lose the gold/XP I gained from them, but the dailies remain checked after refreshing. This started today (Jan 27 2013)

[2013-01-27 21:02] abednego commented on #235
You don't know how much I want this application/program (what do we call it?) to work for me.  I've been a serial procrastinator my entire life and I've tried every trick in the book, as far as I can tell.  Lump ADD in there as well and I forget the very thing I was supposed to remember not 5 seconds ago.  I've been to seminars, read books, set up Outlook reminders, etc. etc. ad nauseum.  I really

[2013-01-27 22:04] StanLindsey commented on #235
Ahaha. Fantastic, personally HabitRPG has helped me a hell of a lot more than my usual method (before this it was just a to-do list on a notepad on my disk) and its great to see that others are getting use out of it. Give all your praise to @lefnire

[2013-01-28 01:08] lefnire commented on #235
Woooo!

On Sun, Jan 27, 2013 at 5:04 PM, Stan Lindsey notifications@github.comwrote:

[2013-01-28 01:09] horusofoz commented on #130
@Nehuman Appears your issue is by design. Progress was not originally implemented for "+" or "- " only habits. This is being considered for implementation [here](https://trello.com/c/YSXfecBt). Add your vote to help highlight the importance of the request.

[2013-01-28 01:12] ghost commented on #130
Okay

[2013-01-28 01:23] horusofoz commented on #130
@Neohuman I'm going to keep this open for a bit until we can get to the bottom of @mfcovington's issue.

@mfcovington The behaviour your experiencing is very unusual from my understanding of how things are supposed to work. Let's flesh it out a bit more.
- For the habits not displaying, are these more than 2 days old and you've recorded more than 2 instances of progress (e.g. + or - twice or more)

[2013-01-28 01:56] horusofoz commented on #240
Hey @Gragriel. Can you test if this is still happening? We experienced some intermittent service issues over the last few hours which may have resulted in the behaviour you describe.

[2013-01-28 02:11] nt3rp commented on #114
I was poking around, and it all comes down to [this line](https://github.com/lefnire/habitrpg/blob/master/src/app/index.coffee#L166); it looks like it has something to do with how derbyJS does its escaping. From the Derby documentation:

I'm still new to this, but I'll see if I can figure something out.

[2013-01-28 02:26] horusofoz commented on #239
Graduated to [Trello 112](https://trello.com/c/zwaxlchS). Submit your vote there to show support for your idea and highlight it to the devs.

[2013-01-28 02:26] #239 closed, assigned to nobody

[2013-01-28 02:33] horusofoz commented on #238
This is currently under consideration a [Trello](https://trello.com/c/4uWICvDf). Voting for your idea there will help highlight the request to the devs.

You will see in the description this is currently described as ""Streaks" - Complete all your dailies to start a st[r]eak". Add your voice.

[2013-01-28 02:33] #238 closed, assigned to nobody

[2013-01-28 02:47] horusofoz commented on #223
I think we should avoid lowering difficulty post-death. It would take away from the experience of earning in game advancement through real life action. @rixx's [point](https://github.com/lefnire/habitrpg/issues/223#issuecomment-12753326) is a very good one. If death loses it's digital sense of finality and indeed becomes advantageous at the lower levels, the motivation to avoid it by GTD in RL is

[2013-01-28 04:51] Gragriel commented on #240
It's not happening now. I should clarify, the bug stopped happening around the time I reported it.  More of an "artifact" than a bug, I suppose. There were some other artifacts around the same time as well, like a moved Habit item moving back and a nearby item moving instead, if I'm remembering correctly. That occurence would imply the first item was listed as moved, the move order repeated itself

[2013-01-28 04:54] horusofoz commented on #240
@Gagriel I think you're on the money. If you assent we can close this ticket but a record will be kept to compare against if a new outage happens. Are you cool closing the ticket?

[2013-01-28 04:57] Gragriel commented on #240
Yeah, that's fine. We should probably remove the "bug" label though, unless there's no better way to describe what happened.

[2013-01-28 04:57] #240 closed, assigned to nobody

[2013-01-28 04:57] horusofoz commented on #32
@lefnire Did this turn out to be a parameter setting or something more serious?

[2013-01-28 04:59] horusofoz commented on #240
With the current label system, bug is the most relevant. Though the issue itself was not a bug it was a symptom experienced due to a bug/outage. Hope that makes sense.

[2013-01-28 05:08] horusofoz commented on #204
To clarify, is the current form of this idea to "disease" tasks that have a Start Date that has not yet been reached? If so, wouldn't that discourage users from recording tasks they know they need to do down the track but can't as there is a time restriction?

[2013-01-28 05:42] horusofoz opened #243 "On Hold/Pending Queue"
I think it would be beneficial to add a pending flag for Todos which cannot be actioned due to external factors (time, resources not available, waiting on someone else, etc).

The list of tasks Pending would be accessed via a view in the same style as Completed Todos currently are. While a task is Pending, it would not affect health nor accrue value.

This "Pending flag/queue" would  allow users t

[2013-01-28 06:16] mgatten commented on #204
No, the idea is to NOT have any punishment for tasks whose start dates haven't been reached. Only after a start date has come and gone, and the task has continued to languish on the list, would it slowly become infected. And there would never be a penalty against XP - it's purely an HP hit taken for diseased tasks. Rewarded XP would continue to grow.

[2013-01-28 07:50] #30 closed, assigned to nobody

[2013-01-28 08:21] horusofoz commented on #204
@mgatten So the function would be adding an increase modifier to the HP penalty for tasks awaiting action once the start date is reached?

[2013-01-28 14:14] mgatten commented on #204
A random, small, increasing one. Yes.

[2013-01-28 14:45] PiNotEqual3 commented on #143
I have the same problem.

I belief the error accrues at https://github.com/lefnire/habitrpg/blob/master/src/app/index.coffee#L239

Looks like an empty object got into the history. Here are the IDs of the object:

[code]

Hope that helps.

[2013-01-28 14:48] coolandsmartrr commented on #233
@horusofoz I use the latest version of Chrome on Mac OSX 10.8.2.

[2013-01-28 14:53] wc8 commented on #204
I want to update the card, for clarity; does the following accurately summarize the idea?

**Disease:**

**Vulnerable todos: any todo past its start date**: Every undone Todo which ought to have been started before today has a random chance of adding a disease point to a disease meter (like the HP & XP meters). The chance increases the longer the todo remains undone.

**Effects:** Disease points r

[2013-01-28 14:55] wc8 commented on #204
Hm... if start date and due date are both implemented: perhaps a todo should not become diseased until after its due date or be less vulnerable to it?

[2013-01-28 15:07] mgatten commented on #204
That description sounds perfect, including the added bit about the due date (not the start date) being the trigger.

I might suggest removing "The chance of death increases with time."  That's true, but only as a result of everything else described. Having that sentence in there might confuse some into thinking there's a random chance of instant death whereas the whole thing is meant to mimic a wa

[2013-01-28 15:39] lefnire commented on #32
paramater setting, i merged @teekirol's pull request and this should be fixed with the next deploy

[2013-01-28 15:48] killroy42 commented on #200
How about letting us change the list titles a-la Trello? I think I would feel more heoric and motivated to go on a quest to clear my desk, for example...

Also, perhaps we could up-vote features with kickstarter donations :D :D :D

[2013-01-28 15:50] 9schahrer opened #244 "Username not registered"
I've re-registered 3 times now because every time I end up with "username not registered" when I try to log in. I've refreshed, restarted the browser and computer, and even cleared all data from other browsers/devices I have logged in with with no results. Also, when I was logged in I checked a daily and it emptied my exp displaying NaN. I like the concept, but have been plagued by bugs.

[2013-01-28 15:54] netcriptus commented on #200
Here's how I thought of that: last week my sister asked me to take the car to a carwash. Well, that sounded like a quest to me.

It didn't feel very game-like to put a quest on a "Todo" list.

[2013-01-28 15:59] lefnire commented on #244
I'm so sorry @9schahrer :( I guess the only thing I can say is check back after the kickstarter, after which (luck be with us) I'll be able to hire developers. It's pretty "proof of concept" quality at present, and I'm only able to work on it nights and weekends. I hope things will start looking up soon, and we can really nail these bugs.

If you really want to use it now but can't get through the

[2013-01-28 16:00] lefnire commented on #200
that sounds like a job for [this feature](https://trello.com/card/cross-profile-challenges-quests/50e5d3684fe3a7266b0036d6/58), but I'll add "manually renaming columns" to the feature list

[2013-01-28 16:01] lefnire commented on #200
[Custom Column Names](https://trello.com/card/custom-column-names/50e5d3684fe3a7266b0036d6/113)

[2013-01-28 16:02] netcriptus commented on #200
Not really. My sister is a lawyer, she thinks all this RPG is a waste of time, so I think it defines her as a NPC XD

[2013-01-28 16:03] killroy42 commented on #200
Woohoo!

Also, Tim Ferriss has done some research showing that value pledges, such as a group putting cash into a pot towards a fitness goal work really well. How about a party each putting gold into a pot and the top habit improvers get it? Stuff like that...

[2013-01-28 16:07] lefnire commented on #200
Create a new ticket in github for each feature idea, if it doesn't already
exist on Trello, Habit has some awesome community managers that sort all
that stuff out periodically, convert them to Trello cards, and users can
vote on the cards, etc. We're gonna be tackling features top to bottom by
vote

On Mon, Jan 28, 2013 at 11:03 AM, killroy42 notifications@github.comwrote:

[2013-01-28 16:08] wc8 commented on #204
Ok, I've updated the card, incorporating your suggestions. Let me know if I missed anything.
I am much in favor of this now that I fully understand it.

Here is a question: Would it be good to have a **small** HP loss on changing the start date or due date, similar to the delete (red) daily penalty?
There are instances in which a task suddenly **must** to be postponed, so the date(s) need(s) to be

[2013-01-28 16:11] killroy42 opened #245 "Reward based group quests"
The idea is for a group of people to invest gold into a pot, to be paid out to teh succesful completers. This is most likely to be based on habits or dailies, with a fixed run time and an accomplishment goal (avg habit increments per day, or top 3 daily completers).

This could be done via the group feature, or perhaps through NPCs. There could by NPCs for common global categories such as work, fi

[2013-01-28 16:20] 9schahrer commented on #244
Thanks and good luck. Would it be better on windows 7 or 8?

--- On Mon, 1/28/13, Tyler Renelle notifications@github.com wrote:

From: Tyler Renelle notifications@github.com
Subject: Re: [habitrpg] Username not registered (#244)
To: "lefnire/habitrpg" habitrpg@noreply.github.com
Cc: "9schahrer" needforspeed281@yahoo.com
Date: Monday, January 28, 2013, 8:59 AM

I'm so sorry @9schahrer :( I guess th

[2013-01-28 16:22] lefnire commented on #244
Probably 7 given what I've been hearing about 8

[2013-01-28 16:48] mgatten commented on #204
That's an excellent idea!

[2013-01-28 21:52] lefnire commented on #107
@Pandoro, can you commit those images to the repo? Just dump them in `public/img/BrowserQuest/habitrpg_mods`, and shoot me a pull request. I'm using PRs to help keep track a la [biz model](https://github.com/lefnire/habitrpg/wiki/Business-Model). I'll slice / move / rename as necessary.

[2013-01-28 22:12] antistic commented on #204
I quite like this idea too! Although perhaps "poison" might be a more RPG-like name to call it?

[2013-01-28 22:20] rixx commented on #146
Doesn't happen on Chrome, btw.

[2013-01-28 22:37] mgatten commented on #204
I think disease is better. Ever since the original Dungeons & Dragons there have been Cure Disease spells, so it's RPG-appropriate. And the idea is that our Todos are like wounds that need to be tended. An untended wound will fester and eventually cause disease. Poison, on the other hand, is inherently imposed upon us by somebody else and less likely to be curable. But the name is really unimporta

[2013-01-28 23:49] ghost opened #246 "Character Regeneration"
After you run out of health your character should regenerate to a totally new character, maybe a ginger? It seems to work for BBC television =D. Fish sticks and custard.

[2013-01-28 23:52] wc8 commented on #223
Suggestion here #246: give the user new life after death.
I suppose the idea is dying is a new beginning.

[2013-01-28 23:54] wc8 commented on #99
If this is something critical the developers will be addressing, should it be closed?

[2013-01-28 23:56] lefnire commented on #99
i agree, this is more repo-oriented. flaw really

[2013-01-28 23:56] ghost commented on #223
@wc8 after you run out of health your character should regenerate to a totally new character, maybe a ginger? It seems to work for BBC television =D. Fish sticks and custard.

[2013-01-28 23:56] #246 closed, assigned to nobody

[2013-01-28 23:58] wc8 commented on #108
A variation of #158, which can be voted for here: [Confirmation on Spending Gold](https://trello.com/c/uEo7wjkH)
Noted the idea of shading rewards which cost more than available gold.

[2013-01-29 00:41] wc8 commented on #106
Should I open a trello card for this yet? Most of the commenters don't seem to be inclined towards it.
By the way, I think this discussion is related to the death discussion, #223.

My own 2¢ as far as the health meter goes: Don't change the health functionality, if that is the original commenters suggestion. Address the discouragement potential a different way if need be, such as by fun, encourag

[2013-01-29 00:47] lefnire commented on #106
Hear hear
On Jan 28, 2013 7:41 PM, "wc8" notifications@github.com wrote:

[2013-01-29 01:19] psant000 opened #247 "Feature request (teaching)"
Hi
I love your program it is fantastic. I would love even more to be able to use it with my classes as a teacher.
I think having classes set up and ticking off habits like completing homework or showing up for class on time or many other things could really motivate students and improve their habits, particularly if they were competing with other students.
What do you think of this idea? Is someth

[2013-01-29 01:21] lefnire commented on #247
absolutely - actually a primary part of our business model we're pursuing, see # 2 of [the wiki](https://github.com/lefnire/habitrpg/wiki/Business-Model)

[2013-01-29 01:59] wc8 commented on #153
We have the [Rest in Tavern/Vacation button](https://trello.com/c/A2w2orSc) card in Trello, but I think it needs some fleshing out.

The Rest-in-Tavern feature request was joined to the vacation mode feature request, because they seemed related. However, I'm realizing if the account-freeze is in effect, it could be problematic for a vacation/travel/illness mode. During **vacation/travel:**
- certa

[2013-01-29 02:01] wc8 commented on #153
On a related note, should "Skip" [not yet in Trello(?)] cost a small amount of gold? Perhaps a percent of the users available gold?

[2013-01-29 02:12] wc8 commented on #193
@KellarW is the idea to kind of trick yourself into not knowing the consequence of what you're clicking?

Thus, "Water" would replace the + button and "Soda" would replace the minus button.
So, I click "I drank Water" I can't see a + button, so I don't know I'm getting rewarded.
I click "I drank Soda", I can't see I'm getting an HP loss?

[2013-01-29 02:28] Nelmalih0 opened #248 "Health"
It would be really cool if you get more HP with every level

[2013-01-29 02:31] lefnire commented on #248
Agreed. Will tackle that problem once we start implementing stats
https://trello.com/card/character-stats-attributes/50e5d3684fe3a7266b0036d6/110

On Mon, Jan 28, 2013 at 9:28 PM, Nelmalih0 notifications@github.com wrote:

[2013-01-29 02:33] wc8 commented on #248
I felt like something was wrong when I didn't increase Health, but, then I thought it was by design: i.e. so that the game is more challenging. Wondering: If you have more health points on every level, will it get easier to stay alive? Is that a good thing?

[2013-01-29 02:36] lefnire commented on #248
Good question. Currently leveling up increases your str & def, so do
weapons & armor - i wondered if that's a good or bad thing, since the game
actually gets easier as you play. IMO, challenge yourself by adding more
habits. Also, i think it's ok because the danger (at least for me) is when
i'm really bombing at habits / todos, in which case stats can't save me.
Something we should chat about

On

[2013-01-29 02:45] wc8 commented on #195
So skills (example above: learning to play guitar, real life skill), would be merged with D&D skills/classes [doc](https://docs.google.com/document/d/1jF6ll7GdHNSttF723aJYf5K33MBZusIBylotUjsF60U/pub)?
Would that affect the original request to level up in a particular real life skill by logging time practicing?

[2013-01-29 02:57] wc8 commented on #204
Another possibility: introduce disease after a certain level, maybe level 4.
The idea would be to allow users to gain a little confidence first, and introduce a new concept slowly.
However, since diseases only come into effect after a task's start/due date it might not matter. Maybe it would introduce confusion/frustration if a user set a start date and then discovered they had to pay up to delay

[2013-01-29 02:58] horusofoz commented on #195
@wc8 Yes it would affect the original request as it is a proposal for an alternate implementation of skills/attributes.

User's would associate the real life skill they are practising with one of the attributes. In the case of "play guitar" I would associate this with dexterity. When they practice guitar they get progress towards a dexterity skill point.

Though this may seem limited compared to b

[2013-01-29 03:25] ghost commented on #223
@wc8 maybe a heaven or hell sort of thing could be implemented complete with background change?

[2013-01-29 03:28] ghost opened #249 "End Game"
![MirrorShield](https://f.cloud.github.com/assets/3267747/105735/fe9754d6-69c3-11e2-8874-bf05c12a4bb0.PNG)
After a certain level ie 100 you should get a pop up saying something to the effect of "congratulations you beat habitrpg" and the game just restarts from level one but you get a special item the second time round. Like in LOZ:MC after you beat the final boss you can get the mirror shield fro

[2013-01-29 03:40] wc8 commented on #223
@Neohuman More of a seed dying in the ground and becoming a new plant, but I was just thinking of emphasizing the positive: you restart the game when your character dies; so as soon as dying is done, draw the user's focus to re- **start**.

I thought your idea might be one way of drawing attention to the new chance.
If there are enough character options (red-head (is that what you meant by ginger?

[2013-01-29 03:43] ghost commented on #223
@wc8 maybe it should just be an option instead of a default. Oh and the ginger thing is a doctor who reference.

[2013-01-29 03:46] ghost commented on #248
all the rpgs I have ever played either directly gave you a health increase as you leveled up or an option to increase health from a variety of stats

[2013-01-29 03:46] wc8 commented on #248
Gaining a stronger constitution on leveling up does help emphasize progress. #204 (Diseased Todos) might be challenging enough!

Challenging yourself by adding more habits sounds good: in fact I've been challenging myself by adding moving certain habits to dailies. I may have gotten in a little over my head, come to think of it, so more life could be useful!

In the light of user comments about dy

[2013-01-29 04:00] ghost commented on #248
Stronger constitution is generally a good thing

[2013-01-29 04:30] horusofoz commented on #233
Thanks guys. This at least makes evident the issue is not isolated to an OS (Arch Linux/OSX), browser (Firefox or Chrome) or rendering engine (Gecko/WebKit).

My thought is it was an temporary database issue but still requires further investigation.

Could you provide your UUIDs so the devs can have a look at the backend for any unusual activity around the time you guys reported the issue?

[2013-01-29 05:03] wc8 commented on #195
@Nelmalih0 By integration I was referring to the feature request for integrating other apps into HabitRPG, effectively _integrating_ that app's or site's features into HabitRPG. So for example, the pomodoro integration feature would bring timed tasks to HabitRPG.

**Habit** "a settled or regular tendency or practice" A good habit would improve something in your life, whether it is health, skills,

[2013-01-29 05:22] guyerson opened #250 "can't delete Todos"
no problem with tasks or dailies though

[2013-01-29 05:27] wc8 commented on #195
@horusofoz I know at least one voter (see earlier comment in this thread) was voting for the new item feature [here](https://trello.com/c/UTWW66Uu) and I'm afraid others might be voting for #74 RPG type Classes which request hadn't made it to the trello board yet.

Sorry. I was afraid of misstating the request and thought it would be best to just link back here, but that seems to introduced confus

[2013-01-29 05:33] wc8 commented on #78
If the plan is already to make them visible once there are items for purchase, do we need a trello card for this?

[2013-01-29 06:08] horusofoz commented on #195
@wc8 Sounds good to me.

[2013-01-29 09:09] killroy42 opened #252 "Realtime features"
Trello Card: https://trello.com/c/edwHxp5G

I woke up around 3am with this brilliant idea.

Real-time features.

I'm thinking stuff like OGame or Travian. Things that inexorably march towards you, not like ToDo items that can just sit there forever. A true commitment to get something done in a particular time span. Then you have a "snooze" option that may be purchased, or better even, fought for.

[2013-01-29 09:48] killroy42 commented on #25
RE: White label.
We do SCRUM for our MMO title, currently using DevSuite (Ugh) and Perforce. A tie-in with HabitRPG would be awesome.
Habits would be the ongoing stuff we "should" do, like code reviews, pulling defects and such.
Dailies are our regulars, like daily stand-up, Updating our tasks in DevSuite and pulling/pushing to/from MAIN.
ToDo would be the tasks and stories.
Seems like a good matc

[2013-01-29 10:05] StanLindsey commented on #252
I like the sounds of this, especially as many are asking for mini-games and more game-like elements which are hard to fit into the design of HabitRPG at the moment.

So to confirm the idea could be maybe each week/month etc you face off another boss or enemy or other challenge on your journey through life, these battles/journeys/challenges would although in real time would battle out of the course

[2013-01-29 10:08] StanLindsey commented on #78
@wc8 - I guess not, its a confirm feature to see your tokens, it doesn't really need voting or discussion. (The use of the them can be voted and discussed on the other hand on Trello cards)

[2013-01-29 10:09] StanLindsey commented on #233
I assume you've all Ctrl-F5ed, the image for the sword might be sitting in the cache or similar. (I'm not sure how the site reloads/changes the images so I think this is a long shot)

[2013-01-29 10:11] StanLindsey commented on #248
Take into account lefnire that as people level up more features will be unlocked, so a high level character will potential have more to deal with.

Personally I think keeping HP static is better, otherwise the game will become too easy over time.

[2013-01-29 10:13] StanLindsey commented on #249
Maybe the option to "prestige" a-la Call Of Duty. I can image in a couple years time people will be level 847392.

Also would be interesting on your second "play-through" to compare stats; "You've leveled twice as fast this play-through" "You've completed "1hr Productive Work" 56 less times than this time last play-through"

[2013-01-29 10:30] StanLindsey commented on #153
I'd say freeze it and then when they un-freeze (leave the tavern) they can look over the period and check off tasks/click on dailies for that period if they did get anything done/good habits.

[2013-01-29 10:42] killroy42 commented on #252
Pretty much! I like this even better as it fits the RPG expectation more. My comparison to games like Travian feed into a different type of player. These are games I found highly addictive. I am still trying to get myself addicted to succeeding at live and getting stuff done!

Also, the longer term strategies can better mesh with real world habits and ToDos.

I think the important part though is t

[2013-01-29 10:48] murilomgh opened #254 "Progress graph bug"
The progress chart is showing a day repeatedly, for all the Habits. See above:

![progress](https://f.cloud.github.com/assets/1236297/106600/d5b812ac-6a00-11e2-8a40-598fbc02fb4e.png)

[2013-01-29 11:06] horusofoz commented on #223
In addition to the [proposed](https://github.com/lefnire/habitrpg/issues/223#issuecomment-12766850) motivational attempts, I would suggest we "reincarnate" the character as a descendant of their original character.

This maintains RPG/D&D immersion and a sense of continuity for the user without reducing the impact of "death".

The reincarnated character would have the same visual representation as

[2013-01-29 11:33] KellarW commented on #193
Yes, that's what I meant.

----- Reply message -----
From: "wc8" notifications@github.com
To: "lefnire/habitrpg" habitrpg@noreply.github.com
Cc: "KellarW" KellarW@comcast.net
Subject: [habitrpg] Templates and Habit Organization (#193)
Date: Mon, Jan 28, 2013 9:12 pm
@KellarW is the idea to kind of trick yourself into not knowing the consequence of what you're clicking?

Thus, "Water" would replace

[2013-01-29 12:15] horusofoz commented on #195
@wc8 My apologies for muddying the waters.

I suggest we split the ideas into different cards and remove the link to the skills proposal in non-relevant cards to ensure accurate voting.

Alternatively remove the card and create new ones for each idea to ensure accurate voting (may be more work than it's worth).

[2013-01-29 13:57] Pandoro commented on #152
Just to let you know, I think i haven't experienced this any more. I have been gone for 3 days now and because of that I turned of every daily. Today I got back to habitrpg and somehow I suffered 1 hp damage. But that cannot account for 3 uncompleted tasks each day. I think the damage on my side happened due to an invisible task which was fixed some days ago!

[2013-01-29 14:08] Pandoro commented on #199
Sorry that it took me a while to respond. I was away for a few days. To clarify:

The general idea of the items I had closely resembles trello card 100. I was just thinking about items, with special stats, while not thinking about where the items will be placed. But the items I was thinking about could be special body armors or weapons, but also items as in trello card 100.

As for the other theme

[2013-01-29 14:23] Pandoro commented on #204
Personally I'm still not very happy about the idea. I can understand that for many people it works very well and for certain tasks I think it is very useful, but to me the penalty sounds to harsh. If I get it right than at some point I might get a disease point and each day I will loose 1hp/disease point. In order to cure it I will need to buy a potion or I will need to do 3 todos.

For me, todos

[2013-01-29 14:24] Pandoro commented on #250
My girlfriend created an account a few hours ago and experienced the same thing.

(Account name Pandori)

[2013-01-29 14:46] dbueller opened #256 "[Suggestion] Upgrade/downgrade from habit to daily"
After playing with my habits/dailies for a bit, I find myself realizing that somethings I thought should be worked on as a habit and done multiple times per day really should be a daily item.  Obviously it could be deleted and reentered, but I like having the graphs/history and would like the item moved from one category to another.

[2013-01-29 14:59] gbuell commented on #112
I'm not sure this is resolved, because the same thing's happened to me today. Dailies I checked off yesterday are still checked off today.

[2013-01-29 15:00] Pandoro commented on #223
A different idea that comes to my mind which would make the system a little less harsh, but still hard would be something as you also see in many games.

If you die, you can click a revive button. (This makes sure nothing happens automatically if you are on vacation or sick etc.) Then you are revived with only 10% of your hp and you go back one level (or receive a large exp penalty) As said earlie

[2013-01-29 15:10] ghost opened #257 "Following People"
Just like twitter, my friend just asked for this feature. English women FTW!

[2013-01-29 15:21] coolandsmartrr commented on #233
@horusofoz I'd like to provide my UUID, but I wonder if it's safe to just post it here. As of now, not many apps utilize the HabitRPG API, but someone can still manipulate my data knowing my UUID. Is there a way to PM you?

[2013-01-29 15:22] wc8 commented on #248
Perhaps a **small** boost: 1 HP point per level, or so, for the sense of progress without making it too easy.
Larger boosts (5?) could come with the introduction of a greater challenge: eg. diseased todos.

[2013-01-29 15:22] JustinThomason opened #258 ""Weekly" Habits [Suggestion]"
I've only just started using HabitRPG, but so far I love the idea of it.

Personally I would like to see a second type of Habit - something that could be set up to be done X number of times per week. This would be a little different than mapping daily habits to individual days since they would be more nebulous.

For instance, in my life I am trying to get better about taking my lunch to work rathe

[2013-01-29 15:27] lefnire commented on #233
yeah, [email it](https://github.com/lefnire/habitrpg#email) to me instead.
We're working on getting API tokens in place for external apps so UUIDs
will be safe to publicly use

On Tue, Jan 29, 2013 at 10:21 AM, Ricky notifications@github.com wrote:

[2013-01-29 15:28] racuna commented on #256
A "drag and drop" feature between columns would be great

[2013-01-29 16:02] lefnire commented on #250
I think caused by move away from `_completedIds`, we'll need to integrate derby filters. See [this issue](https://github.com/lefnire/habitrpg/pull/226#discussion_r2810391).

[2013-01-29 16:05] horusofoz commented on #233
@coolandsmartrr Just to confirm,  @lefnire is the primary dev. We are all playing with his brainchild. Props be to @lefnire ;)

[2013-01-29 16:09] Nelmalih0 commented on #250
This also happened to me a few seconds ago

[2013-01-29 16:09] lefnire commented on #233
and @horusofoz @SlappyBag @wc8 @hookang are keeping me sane!

[2013-01-29 16:10] StanLindsey commented on #152
I actually noticed that this happens sometimes on the temp profile when you're a new user. I loaded Firefox to test some code and upon page load the character lost health.

[2013-01-29 16:19] StanLindsey commented on #252
Exactly, combining that sort of methodology and design with a to-do list/habit tracker seems like a fantastic motivator. I also believe this sort of element could easily tie in many of the other suggestions people are making. It could easily tie into parties, rewards, skills etc as well as being that constant motivator. What are your thoughts on this @lefnire @horusofoz  @wc8  @hookang - I only ta

[2013-01-29 16:19] lefnire commented on #25
Awesome, let's definitely talk about this once the white label feature
starts becoming a reality

On Tue, Jan 29, 2013 at 4:48 AM, killroy42 notifications@github.com wrote:

[2013-01-29 16:29] StanLindsey commented on #258
Hey @JustinThomason - thanks a lot for your suggestion; you are not the first to come up with such a great idea.

Check out this Trello card and vote for it by pressing "v" on your keyboard!
https://trello.com/c/XuVokK2V

I'm going to close this for housekeeping =D

[2013-01-29 16:29] #258 closed, assigned to nobody

[2013-01-29 16:33] StanLindsey commented on #256
The drag and drop feature is fantastic and I am surprised hasn't been mentioned before. I've added a card on Trello:
https://trello.com/c/nytaY3gn

Make sure to press "v" on the card to vote.
Closing for house keeping, thanks @sabin144 & @racuna

[2013-01-29 16:33] #256 closed, assigned to nobody

[2013-01-29 16:35] StanLindsey commented on #223
@horusofoz - just like in Infinity Blade. I like it. But I also like the idea of simply going down 1 level and loosing your gear. It isn't completely demotivational then.

[2013-01-29 16:41] rixx commented on #233
Just an update, it seems the problem is persistent. I bought the Morningstar, which became visible in my avatar nearly immediately, while the Morningstar remained in the Menu.

![habitrpg](https://f.cloud.github.com/assets/2657547/107649/b4b071b2-6a32-11e2-93df-4a94cbb1fc8b.png)

A simple F5 did it for me.

(I don't mean to push since this is a rather minor bug; just wanted to provide an image for

[2013-01-29 16:43] #244 closed, assigned to nobody

[2013-01-29 17:47] wc8 commented on #204
If users have **dated tasks** that need to be not affected by disease, the feature could be limited either by
- **High Priority**, if implemented
- **per task opt-in, that is, enable for specific tasks.

@pandoro To be clear, do you have todos which **need a date assigned** which need to be not affected by disease? The idea here is ONLY dated tasks would be affected, the user would **not** have to

[2013-01-29 17:58] StanLindsey commented on #204
One of the main problems with this feature for me is the random nature of it. Users need to feel that they are in control/have player agency and understand why things are happening and the correlation between their actions and results.

The differences in how people use their to-do list make this a very hard feature to balance. That said there is some great potential.

[2013-01-29 18:18] Nelmalih0 opened #259 "Categories Idea"
Now i know there are a lot of suggestions for Categories and Tags but I just want to pitch an idea about how I would do it

Basically, I want to make the the columns customizable
You would be able to add new columns and delete columns
Each column would have an edit button (like habits do)
- You can rename the column
- You can chose the type of column, (Habit, Daily, Todo, Rewards, [and skills if y

[2013-01-29 18:27] Pandoro commented on #204
Thank you for the clarification. I'm glad to really see this is not a mandatory thing, but rather something only for todos with dates.

However I do think that @SlappyBag has a very good point. Let's for example consider my current todo "edit 100 images". I know cannot do it the next two weeks, but then I want to have it done within one week. Now I'm working hard on this during the one week. Every

[2013-01-29 18:29] Nelmalih0 commented on #169
I think we should also open a thread for suggestions on how the mobile app will look and work
I searched for one but I couldn't find one

[2013-01-29 18:31] lefnire commented on #169
There's a trello column for the mobile app, there's also the github issue queue for the mobile app: https://github.com/lefnire/habitrpg-mobile

[2013-01-29 18:31] StanLindsey commented on #259
Hi @Nelmalih0 - Check out this suggestion on Trello which covers a lot of what you suggest. I've added this thread through to that card as you bring up some interesting points yourself.
https://trello.com/c/q7v02jAw

Thanks for the suggestions though, we love the fact that people are enjoying HabitRPG enough to come on here with suggestion ideas.

I'm going to close this issue though for housekeep

[2013-01-29 18:31] #259 closed, assigned to nobody

[2013-01-29 18:33] StanLindsey commented on #169
Note; with voting I had issues with the voting button not appearing but I found that "v" is a shortcut.

[2013-01-29 18:34] Nelmalih0 commented on #169
thanks, i didn't notice that before :P

[2013-01-29 19:05] Nelmalih0 opened #260 "Sort by Color"
you should be able to sort your habits by color

[2013-01-29 19:26] wc8 commented on #204
@pandoro the idea is for only tasks where a deadline has been missed to be vulnerable to the random disease point. In other words, penalty only on failure.

I'm not sure what I think about "random": it's interesting that the task might not give me a penalty, so I might get a reprieve or it might affect me.

Updated portion of task card:

[2013-01-29 19:31] lefnire commented on #250
Fixed ([see notes](https://github.com/lefnire/habitrpg/pull/226#discussion_r2813953))

[2013-01-29 19:31] #250 closed, assigned to nobody

[2013-01-29 19:31] wc8 commented on #204
**Correction:** Immune tasks: all undated tasks, tasks with a **start/due** date after today are immune to disease.

[2013-01-29 19:31] lefnire commented on #250
it'll kick in on next server restart, a few hours or so

[2013-01-29 19:46] Pandoro commented on #204
Aaah okay! Sorry for the mess and confusion here ^^; Now it is clear to me. Well for that I would say: I like it!

To be honest I am somehow missing an example for a todo with a start date but no due date though. But if the main "target" of this penalty is really missing the final due date, then I would say it makes total sense to give a negative effect if the date is missed.

[2013-01-29 19:52] wc8 commented on #204
The questions are helpful. I think I was able make the card clearer so subsequent users will understand the idea better.

[2013-01-29 19:58] wc8 commented on #120
Re: basic question: an uncompleted daily task set for that day does cost HP.
For example, take out trash is set for every Thursday, if it is not done by Friday, HP will be lost.

[2013-01-29 20:03] lefnire commented on #122
So there are some basic tests now in `/test/casper/*.casper.coffee` - they're not all passing, and they need fixing up - but Casper has come a long way since the last time I tried to write client tests, and these files will provide a good starting point going forward. queueing in @SlappyBag and @toebu